[2018-08-15 11:06] shanyi15 commented on #9097
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:06] #9097 closed

[2018-08-15 11:06] shanyi15 commented on #9095
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:06] #9095 closed

[2018-08-15 11:06] shanyi15 commented on #9092
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:06] #9092 closed

[2018-08-15 11:06] shanyi15 commented on #9090
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:06] #9090 closed

[2018-08-15 11:06] shanyi15 commented on #9087
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:06] #9087 closed

[2018-08-15 11:06] shanyi15 commented on #9070
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:06] #9070 closed

[2018-08-15 11:06] shanyi15 commented on #9069
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:06] #9069 closed

[2018-08-15 11:06] shanyi15 commented on #9064
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:06] #9064 closed

[2018-08-15 11:07] shanyi15 commented on #9063
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #9063 closed

[2018-08-15 11:07] shanyi15 commented on #9062
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #9062 closed

[2018-08-15 11:07] shanyi15 commented on #8797
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8797 closed

[2018-08-15 11:07] shanyi15 commented on #8792
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8792 closed

[2018-08-15 11:07] shanyi15 commented on #8787
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8787 closed

[2018-08-15 11:07] shanyi15 commented on #8645
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8645 closed

[2018-08-15 11:07] shanyi15 commented on #8638
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8638 closed

[2018-08-15 11:07] shanyi15 commented on #8631
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8631 closed

[2018-08-15 11:07] shanyi15 commented on #8627
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8627 closed

[2018-08-15 11:07] shanyi15 commented on #8614
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8614 closed

[2018-08-15 11:07] shanyi15 commented on #8605
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8605 closed

[2018-08-15 11:07] shanyi15 commented on #8603
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8603 closed

[2018-08-15 11:07] shanyi15 commented on #8587
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8587 closed

[2018-08-15 11:07] shanyi15 commented on #8576
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8576 closed

[2018-08-15 11:07] shanyi15 commented on #8562
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8562 closed

[2018-08-15 11:07] shanyi15 commented on #8319
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:07] #8319 closed

[2018-08-15 11:08] shanyi15 commented on #8306
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8306 closed

[2018-08-15 11:08] shanyi15 commented on #8298
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8298 closed

[2018-08-15 11:08] shanyi15 commented on #8290
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8290 closed

[2018-08-15 11:08] shanyi15 commented on #8274
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8274 closed

[2018-08-15 11:08] shanyi15 commented on #8247
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8247 closed

[2018-08-15 11:08] shanyi15 commented on #8239
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8239 closed

[2018-08-15 11:08] shanyi15 commented on #8238
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8238 closed

[2018-08-15 11:08] shanyi15 commented on #8117
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8117 closed

[2018-08-15 11:08] shanyi15 commented on #8100
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8100 closed

[2018-08-15 11:08] shanyi15 commented on #8095
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8095 closed

[2018-08-15 11:08] shanyi15 commented on #8078
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8078 closed

[2018-08-15 11:08] shanyi15 commented on #8072
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] shanyi15 commented on #8070
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8070 closed

[2018-08-15 11:08] shanyi15 commented on #8056
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #8056 closed

[2018-08-15 11:08] shanyi15 commented on #7860
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #7860 closed

[2018-08-15 11:08] shanyi15 commented on #7859
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #7859 closed

[2018-08-15 11:08] shanyi15 commented on #7858
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:08] #7858 closed

[2018-08-15 11:09] shanyi15 commented on #7857
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7857 closed

[2018-08-15 11:09] shanyi15 commented on #7855
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7855 closed

[2018-08-15 11:09] shanyi15 commented on #7854
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7854 closed

[2018-08-15 11:09] shanyi15 commented on #7853
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7853 closed

[2018-08-15 11:09] shanyi15 commented on #7852
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7852 closed

[2018-08-15 11:09] shanyi15 commented on #7851
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7851 closed

[2018-08-15 11:09] shanyi15 commented on #7823
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7823 closed

[2018-08-15 11:09] shanyi15 commented on #7787
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7787 closed

[2018-08-15 11:09] shanyi15 commented on #7785
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7785 closed

[2018-08-15 11:09] shanyi15 commented on #7484
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7484 closed

[2018-08-15 11:09] shanyi15 commented on #7483
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7483 closed

[2018-08-15 11:09] shanyi15 commented on #7482
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7482 closed

[2018-08-15 11:09] shanyi15 commented on #7464
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7464 closed

[2018-08-15 11:09] shanyi15 commented on #7189
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7189 closed

[2018-08-15 11:09] shanyi15 commented on #7170
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7170 closed

[2018-08-15 11:09] shanyi15 commented on #7169
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:09] #7169 closed

[2018-08-15 11:09] shanyi15 commented on #7168
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #7168 closed

[2018-08-15 11:10] shanyi15 commented on #7167
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #7167 closed

[2018-08-15 11:10] shanyi15 commented on #7163
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #7163 closed

[2018-08-15 11:10] shanyi15 commented on #7147
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #7147 closed

[2018-08-15 11:10] shanyi15 commented on #7130
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #7130 closed

[2018-08-15 11:10] shanyi15 commented on #7127
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #7127 closed

[2018-08-15 11:10] shanyi15 commented on #7113
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #7113 closed

[2018-08-15 11:10] shanyi15 commented on #7112
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #7112 closed

[2018-08-15 11:10] shanyi15 commented on #7086
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #7086 closed

[2018-08-15 11:10] shanyi15 commented on #7081
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #7081 closed

[2018-08-15 11:10] shanyi15 commented on #6887
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #6887 closed

[2018-08-15 11:10] shanyi15 commented on #6885
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #6885 closed

[2018-08-15 11:10] shanyi15 commented on #6867
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #6867 closed

[2018-08-15 11:10] shanyi15 commented on #6838
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #6838 closed

[2018-08-15 11:10] shanyi15 commented on #6831
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #6831 closed

[2018-08-15 11:10] shanyi15 commented on #6830
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:10] #6830 closed

[2018-08-15 11:11] shanyi15 commented on #6602
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6602 closed

[2018-08-15 11:11] shanyi15 commented on #6567
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6567 closed

[2018-08-15 11:11] shanyi15 commented on #6543
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6543 closed

[2018-08-15 11:11] shanyi15 commented on #6533
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6533 closed

[2018-08-15 11:11] shanyi15 commented on #6521
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6521 closed

[2018-08-15 11:11] shanyi15 commented on #6517
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6517 closed

[2018-08-15 11:11] shanyi15 commented on #6511
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6511 closed

[2018-08-15 11:11] shanyi15 commented on #6510
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6510 closed

[2018-08-15 11:11] shanyi15 commented on #6175
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6175 closed

[2018-08-15 11:11] shanyi15 commented on #6171
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6171 closed

[2018-08-15 11:11] shanyi15 commented on #6161
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6161 closed

[2018-08-15 11:11] shanyi15 commented on #6160
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6160 closed

[2018-08-15 11:11] shanyi15 commented on #6152
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6152 closed

[2018-08-15 11:11] shanyi15 commented on #6130
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6130 closed

[2018-08-15 11:11] shanyi15 commented on #6123
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:11] #6123 closed

[2018-08-15 11:12] shanyi15 commented on #5901
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] shanyi15 commented on #5899
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5899 closed

[2018-08-15 11:12] shanyi15 commented on #5891
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5891 closed

[2018-08-15 11:12] shanyi15 commented on #5730
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5730 closed

[2018-08-15 11:12] shanyi15 commented on #5370
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5370 closed

[2018-08-15 11:12] shanyi15 commented on #5355
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5355 closed

[2018-08-15 11:12] shanyi15 commented on #5333
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5333 closed

[2018-08-15 11:12] shanyi15 commented on #5307
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5307 closed

[2018-08-15 11:12] shanyi15 commented on #5302
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5302 closed

[2018-08-15 11:12] shanyi15 commented on #5288
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5288 closed

[2018-08-15 11:12] shanyi15 commented on #5267
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5267 closed

[2018-08-15 11:12] shanyi15 commented on #5243
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5243 closed

[2018-08-15 11:12] shanyi15 commented on #5237
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5237 closed

[2018-08-15 11:12] shanyi15 commented on #5210
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:12] #5210 closed

[2018-08-15 11:13] shanyi15 commented on #5189
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #5189 closed

[2018-08-15 11:13] shanyi15 commented on #4672
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #4672 closed

[2018-08-15 11:13] shanyi15 commented on #4671
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #4671 closed

[2018-08-15 11:13] shanyi15 commented on #4613
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #4613 closed

[2018-08-15 11:13] shanyi15 commented on #4587
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #4587 closed

[2018-08-15 11:13] shanyi15 commented on #4581
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #4581 closed

[2018-08-15 11:13] shanyi15 commented on #4570
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #4570 closed

[2018-08-15 11:13] shanyi15 commented on #4563
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #4563 closed

[2018-08-15 11:13] shanyi15 commented on #4561
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #4561 closed

[2018-08-15 11:13] shanyi15 commented on #4529
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #4529 closed

[2018-08-15 11:13] shanyi15 commented on #4099
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #4099 closed

[2018-08-15 11:13] shanyi15 commented on #3466
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:13] #3466 closed

[2018-08-15 11:13] shanyi15 commented on #2975
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:14] #2975 closed

[2018-08-15 11:14] shanyi15 commented on #2974
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:14] #2974 closed

[2018-08-15 11:14] shanyi15 commented on #2836
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:14] #2836 closed

[2018-08-15 11:14] shanyi15 commented on #2092
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:14] #2092 closed

[2018-08-15 11:22] qingqing01 commented on #12718
我感觉在优化器里配置regularization，作用于所有的参数是合理的，对于优化器来说weight和bias都是参数，理论上不会区别对待。

为了使用方便，是可以提供把所有Parameter统一拿出来，判断如果是bias，for循环设置正则是0，而不是到每个layer里设置。同样learning等其他超参数也支持类似的设置方式。

[2018-08-15 11:33] Yancey0623 commented on #12714
pserver失败的情况是出现在某几个节点还是随机出现的呢？

[2018-08-15 11:34] shanyi15 commented on #11751
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:34] #11751 closed, assigned to nobody

[2018-08-15 11:34] shanyi15 commented on #11535
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:34] #11535 closed, assigned to nobody

[2018-08-15 11:34] shanyi15 commented on #11514
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:34] #11514 closed, assigned to qingqing01

[2018-08-15 11:34] shanyi15 commented on #11507
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:34] #11507 closed, assigned to gongweibao

[2018-08-15 11:34] shanyi15 commented on #11506
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:34] #11506 closed, assigned to typhoonzero

[2018-08-15 11:34] shanyi15 commented on #11505
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:34] #11505 closed, assigned to gongweibao

[2018-08-15 11:34] shanyi15 commented on #11498
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:34] #11498 closed, assigned to gongweibao

[2018-08-15 11:35] shanyi15 commented on #11485
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #11485 closed, assigned to typhoonzero

[2018-08-15 11:35] shanyi15 commented on #11480
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #11480 closed, assigned to chengduoZH

[2018-08-15 11:35] shanyi15 commented on #11477
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #11477 closed, assigned to chengduoZH

[2018-08-15 11:35] shanyi15 commented on #11320
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #11320 closed

[2018-08-15 11:35] shanyi15 commented on #11299
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #11299 closed

[2018-08-15 11:35] shanyi15 commented on #11025
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #11025 closed

[2018-08-15 11:35] shanyi15 commented on #10974
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #10974 closed

[2018-08-15 11:35] shanyi15 commented on #10968
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #10968 closed

[2018-08-15 11:35] shanyi15 commented on #10963
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #10963 closed

[2018-08-15 11:35] shanyi15 commented on #10953
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #10953 closed

[2018-08-15 11:35] shanyi15 commented on #10951
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #10951 closed

[2018-08-15 11:35] shanyi15 commented on #10944
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #10944 closed

[2018-08-15 11:35] shanyi15 commented on #10613
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #10613 closed

[2018-08-15 11:35] shanyi15 commented on #10434
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:35] #10434 closed

[2018-08-15 11:35] shanyi15 commented on #10431
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #10431 closed

[2018-08-15 11:36] shanyi15 commented on #10423
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #10423 closed

[2018-08-15 11:36] shanyi15 commented on #10404
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #10404 closed

[2018-08-15 11:36] shanyi15 commented on #10125
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #10125 closed

[2018-08-15 11:36] shanyi15 commented on #9981
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #9981 closed

[2018-08-15 11:36] shanyi15 commented on #9977
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #9977 closed

[2018-08-15 11:36] shanyi15 commented on #9948
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #9948 closed

[2018-08-15 11:36] shanyi15 commented on #9941
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #9941 closed

[2018-08-15 11:36] shanyi15 commented on #9919
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #9919 closed

[2018-08-15 11:36] shanyi15 commented on #9887
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #9887 closed

[2018-08-15 11:36] shanyi15 commented on #9886
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #9886 closed

[2018-08-15 11:36] shanyi15 commented on #9880
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #9880 closed

[2018-08-15 11:36] shanyi15 commented on #9525
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #9525 closed

[2018-08-15 11:36] shanyi15 commented on #9501
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #9501 closed

[2018-08-15 11:36] shanyi15 commented on #9499
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:36] #9499 closed

[2018-08-15 11:37] shanyi15 commented on #9498
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #9498 closed

[2018-08-15 11:37] shanyi15 commented on #9486
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #9486 closed

[2018-08-15 11:37] shanyi15 commented on #9457
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #9457 closed

[2018-08-15 11:37] shanyi15 commented on #9312
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #9312 closed

[2018-08-15 11:37] shanyi15 commented on #9311
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #9311 closed

[2018-08-15 11:37] shanyi15 commented on #9300
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #9300 closed

[2018-08-15 11:37] shanyi15 commented on #9256
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #9256 closed

[2018-08-15 11:37] shanyi15 commented on #9061
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #9061 closed

[2018-08-15 11:37] shanyi15 commented on #8903
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #8903 closed

[2018-08-15 11:37] shanyi15 commented on #8881
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #8881 closed

[2018-08-15 11:37] shanyi15 commented on #8877
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #8877 closed

[2018-08-15 11:37] shanyi15 commented on #8876
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #8876 closed

[2018-08-15 11:37] shanyi15 commented on #8862
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #8862 closed

[2018-08-15 11:37] shanyi15 commented on #8860
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #8860 closed

[2018-08-15 11:37] shanyi15 commented on #8842
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:37] #8842 closed

[2018-08-15 11:37] shanyi15 commented on #8825
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8825 closed

[2018-08-15 11:38] shanyi15 commented on #8818
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8818 closed

[2018-08-15 11:38] shanyi15 commented on #8802
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8802 closed

[2018-08-15 11:38] shanyi15 commented on #8798
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8798 closed

[2018-08-15 11:38] shanyi15 commented on #8423
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8423 closed

[2018-08-15 11:38] shanyi15 commented on #8419
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8419 closed

[2018-08-15 11:38] shanyi15 commented on #8418
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8418 closed

[2018-08-15 11:38] shanyi15 commented on #8356
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8356 closed

[2018-08-15 11:38] shanyi15 commented on #8355
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8355 closed

[2018-08-15 11:38] shanyi15 commented on #8339
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8339 closed

[2018-08-15 11:38] shanyi15 commented on #8336
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8336 closed

[2018-08-15 11:38] shanyi15 commented on #8055
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8055 closed

[2018-08-15 11:38] shanyi15 commented on #8053
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8053 closed

[2018-08-15 11:38] shanyi15 commented on #8028
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8028 closed

[2018-08-15 11:38] shanyi15 commented on #8016
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8016 closed

[2018-08-15 11:38] shanyi15 commented on #8008
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:38] #8008 closed

[2018-08-15 11:39] shanyi15 commented on #8007
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #8007 closed

[2018-08-15 11:39] shanyi15 commented on #7458
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #7458 closed

[2018-08-15 11:39] shanyi15 commented on #7455
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #7455 closed

[2018-08-15 11:39] shanyi15 commented on #7444
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #7444 closed

[2018-08-15 11:39] shanyi15 commented on #7428
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #7428 closed

[2018-08-15 11:39] shanyi15 commented on #7427
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #7427 closed

[2018-08-15 11:39] shanyi15 commented on #7426
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #7426 closed

[2018-08-15 11:39] shanyi15 commented on #7400
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #7400 closed

[2018-08-15 11:39] shanyi15 commented on #7398
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #7398 closed

[2018-08-15 11:39] shanyi15 commented on #7376
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #7376 closed

[2018-08-15 11:39] shanyi15 commented on #7369
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #7369 closed

[2018-08-15 11:39] shanyi15 commented on #7362
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!
 Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the i

[2018-08-15 11:39] #7362 closed

[2018-08-15 11:39] #6910 closed

[2018-08-15 11:39] #6909 closed

[2018-08-15 11:39] #6903 closed

[2018-08-15 11:39] #6503 closed

[2018-08-15 11:40] #6502 closed

[2018-08-15 11:40] #6483 closed

[2018-08-15 11:40] #6475 closed

[2018-08-15 11:40] #6430 closed

[2018-08-15 11:40] #6417 closed

[2018-08-15 11:40] #6217 closed

[2018-08-15 11:40] #6207 closed

[2018-08-15 11:40] #6202 closed

[2018-08-15 11:40] #6196 closed

[2018-08-15 11:40] #5883 closed

[2018-08-15 11:40] #5850 closed

[2018-08-15 11:40] #5842 closed

[2018-08-15 11:40] #5836 closed

[2018-08-15 11:40] #5812 closed

[2018-08-15 11:40] #5810 closed

[2018-08-15 11:40] #5755 closed

[2018-08-15 11:41] #5184 closed

[2018-08-15 11:41] #5157 closed

[2018-08-15 11:41] #4203 closed

[2018-08-15 11:41] #4186 closed

[2018-08-15 11:41] #4185 closed

[2018-08-15 11:41] #4184 closed

[2018-08-15 11:41] #4173 closed

[2018-08-15 11:41] #4143 closed

[2018-08-15 11:41] #4120 closed

[2018-08-15 11:42] #11015 closed

[2018-08-15 11:42] #10976 closed

[2018-08-15 11:43] #10396 closed

[2018-08-15 11:43] #10383 closed

[2018-08-15 11:43] #9567 closed

[2018-08-15 11:43] #9562 closed

[2018-08-15 11:43] #9540 closed

[2018-08-15 11:43] #9237 closed

[2018-08-15 11:43] #9211 closed

[2018-08-15 11:43] #9203 closed

[2018-08-15 11:43] #9202 closed

[2018-08-15 11:43] #9201 closed

[2018-08-15 11:43] #8561 closed

[2018-08-15 11:43] #8428 closed

[2018-08-15 11:43] #8427 closed

[2018-08-15 11:43] #7999 closed

[2018-08-15 11:43] #7968 closed

[2018-08-15 11:44] #7463 closed

[2018-08-15 11:44] #7459 closed

[2018-08-15 11:44] #6945 closed

[2018-08-15 11:44] #6944 closed

[2018-08-15 11:44] #6929 closed

[2018-08-15 11:44] #6921 closed

[2018-08-15 11:44] #6194 closed

[2018-08-15 11:44] #6186 closed

[2018-08-15 11:44] #6183 closed

[2018-08-15 11:44] #4751 closed

[2018-08-15 11:44] #4700 closed

[2018-08-15 11:46] #7861 closed

[2018-08-15 11:46] #6918 closed

[2018-08-15 11:46] #6911 closed

[2018-08-15 11:47] HugoLian commented on #12714
@Yancey1989 应该是随机出现，之前有个数据源，同样的数据同样的任务，第一次运行报了这个错误，第二次运行就成功了。

[2018-08-15 12:13] luameows opened #12725 "fluid下scatter操作对输入参数要求有问题"
a，labels，diff的dtype分别为float32, int64, float32
调用fluid下`layers.scatter(x=a,ids=labels,updates=diff)`，提示错误`operator scatter must input same dtype. VarType.FP32 vs VarType.INT64`

后来跟进代码里面，发现按照这个check逻辑，scatter的三个输入的dtype必须要求一致才行。
![image](https://user-images.githubusercontent.com/30432086/44147240-cec7560e-a0c5-11e8-9a7f-5fafb451017f.png)

按照scatter的用法说明，ids为对应索引index，不应该是float类型吧？请问下这是什么原因呢？

[2018-08-15 12:50] qingqing01 commented on #12725
@luameows 看了下是个op Python API封装的原因，内部实现的原因，Python API需要手动封装下，我们稍后修复下下吧，抱歉。

如果着急使用，可以仿照 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py 里自行先封装~

[2018-08-15 13:00] JiabinYang commented on #12610
我是自己编译之后的包安装出现的问题，同样的问题也出现在CentOS7 CUDA8 cuDNN7下

[2018-08-15 13:12] luameows commented on #12725
@qingqing01 谢谢您的答复。由于我是在科赛平台上使用的paddlepaddle，似乎没法对源码进行修改。烦请您在修正该bug后给我一个反馈吧，我好重新下载。

[2018-08-15 13:40] ccmeteorljh opened #12728 "多机多卡异步模式下 报错Tensor not init"
paddle 版本：develop 8月14编译的版本
模型：resnet
启动命令：
[code]
报错如下：
[code]

[2018-08-16 01:29] Yancey0623 commented on #12714
第一次和第二次是运行在同一个节点上么？之前有出现过pserver在某个节点上会core掉的情况。

[2018-08-16 01:47] yogurfrul commented on #12711
nvidia-docker

[2018-08-16 01:49] yogurfrul commented on #12711
我这样安装 就可以了
pip2 instal paddlepaddle-gpu==0.14.0

我明明装的cuda9.0 cudnn7 不知道你们为啥不指定版本号就给我安装paddlepaddle-gpu-0.14.0.post87

[2018-08-16 02:07] #12458 closed, assigned to gongweibao

[2018-08-16 02:53] HugoLian commented on #12714
@Yancey1989 怎么理解运行在同一个节点上么？比如一个任务10个节点，运行在一个节点上是说node_id == 0 的节点相同，还是说每次的10个节点里是否有相同的节点？

另外通过日志我不会看具体出问题的节点。。也不知道能不能看到。。。

[2018-08-16 02:55] Yancey0623 commented on #12714
可以看到节点的IP地址。

[2018-08-16 02:58] HugoLian commented on #12714
@Yancey1989 是的，但是我不知道是哪个节点出问题，因为一报错感觉每个节点都会打几乎相同的日志。那这个问题有办法可以解决么？

[2018-08-16 02:59] Yancey0623 commented on #12714
我的hi是yanxu05，可以线下讨论下集群的细节。

[2018-08-16 03:22] zzhzz opened #12731 "测试operator只能通过python接口吗"
我实现完成一个operator之后想通过C++代码来对operator本身做测试，请问只能通过Optest（使用Python接口）的方式吗？我可以不可以自己创建一个单独的测试代码？如果可以的话，怎样启动测试过程？需要将整个paddle重新编译一次吗？我看到一个C++测试的例子：https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/math/im2col_test.cc ，请问怎么启动类似这样的测试呢？

[2018-08-16 03:39] ccmeteorljh opened #12732 "多机同步下启动就core掉"
paddle：develop 分支 8月15日编译版本；
模型：resnet
运行代码库：https://github.com/PaddlePaddle/Paddle/tree/develop/benchmark
运行脚本:
[code]
运行环境：2ps，4trainer
pserver日志：
[code]
trainer报错：
[code]
cloud job地址：
http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5b74eac7c1656&flag=jobs&groupName=k8s_gpu_demo&groupId=c0a1f165-6279-5320-b9e7-e0218c7a87f5&currentPage=1&currentKey=1

[2018-08-16 03:44] typhoonzero commented on #12731
新Op编写方法请参考文档：
http://www.paddlepaddle.org/documentation/docs/zh/0.14.0/new_docs/advanced_usage/development/new_op.html

通常使用Python编写op单测，便于用标准实现（比如numpy或naive实现）检测计算正确性。特殊op可以考虑使用c++编写单测，可以参考`test_send_nccl_id.cc`，`im2col_test.cc`是针对通用计算的functor的单测，如果有这样的实现也可以独立实现。

[2018-08-16 05:56] shanyi15 commented on #12711
您好，请您参考这个issue https://github.com/PaddlePaddle/Paddle/issues/12284#event-1744545535，也请 @typhoonzero @JiabinYang 看一下

[2018-08-16 06:01] yogurfrul commented on #12284
@typhoonzero  我也遇到了 [一样的问题](https://github.com/PaddlePaddle/Paddle/issues/12711#issuecomment-413434415)
意思是版本选择是pip根据上传时间选择最近的？
不能根据环境来选择版本吗？
即使下错版本，安装前不能做下check下？check不满足打印给用户说要指定某某版本按照也好撒

[2018-08-16 06:08] typhoonzero commented on #12284
pip无法检测系统中的cuda, cudnn版本，pip本身机制无法满足。安装指定具体版本就行。

[2018-08-16 06:17] luotao1 commented on #12703
This is a bug on numpy 1.15.0, see https://github.com/numpy/numpy/issues/11628

We don't have plans to upgrade numpy version in Paddle. We limit the numpy version from 1.12.0-1.14.0 on #12523 currently. If numpy fix the bug, we will upgrade numpy version.

[2018-08-16 07:15] ccmeteorljh commented on #12728
有时还会报这个错误：
[code]

[2018-08-16 07:45] pipipiapia opened #12743 "RuntimeWarning: numpy.dtype size changed, ma"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-08-16 08:01] luotao1 commented on #12743
duplicated with #12703

[2018-08-16 08:01] #12743 closed, assigned to nobody

[2018-08-16 08:39] NHZlX opened #12746 "Need an Profiler for Paddle tensorrt"
An profiler is need for trt, so we can monitor the cost time of each op of our model.

[2018-08-16 10:06] #12208 closed, assigned to reyoung, wangkuiyi, velconia

[2018-08-16 10:06] #12657 closed, assigned to velconia

[2018-08-16 11:29] gongweibao opened #12749 "GPU memory increases over time on transformer model."
[code]

[2018-08-16 11:56] #12393 closed, assigned to seiriosPlus

[2018-08-17 03:26] NHZlX opened #12754 "support global_pooling in tensorrt op converter"
support global_pooling in tensorrt op converter.

[2018-08-17 03:27] NHZlX opened #12755 "TensorRT: add batch norm op converter"
Add batch norm op converter for paddle tensorrt of fluid inference.

[2018-08-17 06:20] Sand3r- commented on #12567
PaddlePaddle/models#1048 doesn't resolve this problem. The issue still persists, as it wasn't associated with the scripts.

[2018-08-17 06:34] #12594 closed, assigned to nobody

[2018-08-17 06:38] Kevinlsy opened #12763 "利用bcloud编译完成后，运行出错！"
$ ./objectdetect
I0817 14:18:27.279603  7532 Util.cpp:166] commandline:  --use_gpu=True
*** Aborted at 1534486707 (unix time) try "date -d @1534486707" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x7f8b11112e40) received by PID 7532 (TID 0x7f8b11107940) from PID 286338624; stack trace: ***
    @     0x7f8afc3fe160 (unknown)
    @     0x7f8b10ef7fd4 open_path

[2018-08-17 06:58] chengduoZH commented on #12749
This is because GPU memory is insufficient. You should cut down the batch_size.

[2018-08-17 07:33] qingqing01 opened #12765 "Need some new operators and enchance some existing operators."
### Need new ops:
- grid_sample :  https://pytorch.org/docs/stable/nn.html?highlight=grid_sample#torch.nn.functional.grid_sample
- affine_grid : https://pytorch.org/docs/stable/nn.html?highlight=affine_grid#torch.nn.functional.affine_grid
- psroi_pooling
- roi_align
- where

### Need to enhance：
- softmax:  do softmax on the specified axis
- gather, scatter:  index support more than one rank.

Wel

[2018-08-17 08:28] hxk11111 opened #12769 "Segmentation fault(core dumped) 是什么原因？"
跑相同的代码，有的时候一运行就崩溃，有的时候是能够迭代几次再崩溃，并且无详细报错原因。
下面这段是在迭代了四轮之后报的错：
*** Aborted at 1534493112 (unix time) try "date -d @1534493112" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x7f9800000002) received by PID 6873 (TID 0x7f98f132a700) from PID 2; stack trace: ***
    @     0x7f98f0f0c390 (unknown)
    @           0x4bc296 PyEval_EvalFrameEx
    @           0x4b9ab6 PyEv

[2018-08-17 08:55] dzhwinter opened #12773 "windows cuda toolkit library have tons of weird warnings"
[code]

[2018-08-17 10:22] chengduoZH commented on #12769
@hxk11111 从报错信息上看你的输入的数据可能有异常，您输入的数据是否做了shuffle?
另外，您用的是Fluid还是V2，请说明。

[2018-08-17 10:31] chengduoZH commented on #12763
@Kevinlsy 从报错信息上看，程序在获取GPU个数的时候报错，所以请检查一下您编译的时候是否选择了`WITH_GPU=ON`

[code]

[2018-08-17 10:55] typhoonzero commented on #12680
duplcate with : https://github.com/PaddlePaddle/Paddle/issues/12728

[2018-08-17 10:58] typhoonzero commented on #12427
Inference暂时不考虑支持mac编译，请在编译时加上参数`-DWITH_INFERENCE=OFF`

[2018-08-17 12:32] ChuRao opened #12778 "fluid.Trainer对象无法加载保存的参数"
fluid.Trainer对象无法加载保存的参数，该对象的__init__方法下这一段代码
[code]
是否应该是

[code]

[2018-08-18 04:34] hxk11111 commented on #12769
@chengduoZH 我用的Fluid，已经对数据做了shuffle，之前用相同数据跑通过，还有可能其他原因吗。谢谢

[2018-08-18 04:47] Kevinlsy commented on #12763
@chengduoZH 有两个问题
1.想问下，我想用Bcloud云端编译，但是在icode上没有找到paddle合适的依赖库，内部有相关的依赖库吗？
2.现在依赖的是http://icode.baidu.com/repos/baidu/third-party/paddle-capi/tree/paddle-capi-v0.2 这个paddle支持的是cuda7.5的,有cuda8.0的依赖库在icode上吗？
现在报错GPU训练
Check failed: cudaSuccess == err (0 vs. 8) [hl_gpu_apply_unary_op failed] CUDA error: invalid device function
是不是因为我引用icode上这个paddle支持cuda7.5而我的cuda版本8.0不匹配才导致的。

[2018-08-18 07:06] hxk11111 commented on #12769
@chengduoZH 如果是数据有问题的话，不应该第一轮迭代就会报错吗，有的时候是迭代了几轮之后才报的错，下面是我跑相同代码，迭代了两轮之后，第三轮报错了。

[Train] precision:0.95636802412, recall:0.962871439716, f1:0.959608713383
[Validation] precision:0.977395283485, recall:0.976412678541, f1:0.976903733928
************************************************************************************************
Best F1 Score, Saving model at Iteration 0
pass_id:1, time_cost:162.

[2018-08-18 11:26] #12754 closed, assigned to NHZlX

[2018-08-18 11:37] #12719 closed, assigned to NHZlX

[2018-08-18 13:11] zzhzz opened #12784 "Mac环境编译错误"
错误信息如下：
Paddle/paddle/fluid/framework/ir/graph_pattern_detecter.cc:100:40:
error: implicit instantiation of undefined template 'std::__1::array<std::__1::vector<paddle::framework::ir::HitGroup, std::__1::allocator<paddle::framework::ir::HitGroup> >, 2>'
  std::array<std::vector<HitGroup>, 2> bi_records;

[2018-08-18 17:08] kuke commented on #12784
@zzhzz 可以在docker中编译试试

[2018-08-19 06:12] yeyupiaoling opened #12788 "V2版本如何使用之前训练好的模型再进行训练"
在没有模型是以下这样获取参数的：
[code]

在有模型是以下这样获取参数的：
[code]

但是使用训练后的模型再训练的时候好像效果不好，之前明明是训练的很好的，只是中途停止了，想再继续训练。

[2018-08-19 12:27] xingyuanbu opened #12792 "Fill Constant op only for float?"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/fill_constant_op.cc#L68

How can I fill int, double etc. to Tensor

[2018-08-19 14:01] chengduoZH commented on #12778
@ChuRao  请问报的是什么错，可以贴一下报错信息吗？

[2018-08-19 14:22] chengduoZH commented on #12769
@hxk11111 Can you display your training model and configuration here? I plan to reproduce this error in my evn.

[2018-08-19 14:51] ChuRao commented on #12778
@chengduoZH 没有报错，只是训练的时候选择载入参数和不选没有区别，loss很大。设置参数载入的情况下训练前用相关方法获取第一个参数，并不是每次都一样，应该来自于参数初始化，而非载入。
训练前用以下代码可以载入参数，loss和之前结束训练时保存参数前的loss一致。
[code]

[2018-08-19 15:10] chengduoZH commented on #12778
好的，谢谢您的反馈，我跟进一下这个问题。

[2018-08-19 23:55] jayxio opened #12794 "Hello guys！ Do you know how to compute arctanh in paddlepaddle?"
大家好！

There is a `fluid.layers.tanh()` for us to compute `tanh`. What about `arctanh`? Is there an API for this? Or if there is any other way?

Best,
Jay

[2018-08-20 02:15] bBobxx opened #12795 "可以在fluid中添加 fractional max-pooling吗？"
fractional max-pooling相比于传统的max-pooling有更加平滑的输出，在subsample中有更好的表现，请问可以在fluid中添加吗？

[2018-08-20 02:43] almostlove opened #12797 "请问mpi集群上怎么看回归模型的评估指标"
问下回归模型在mpi集群训练完成后怎么用一些评估指标类似mse的看结果啊  paddle.evaluator有提供么

[2018-08-20 03:16] zzhzz opened #12799 "对C++中的Tensor的一些问题"
在C++代码中，如果我给一个Tensor的DDim设置为(3, 15)，我是否可以通过tensor[2][11]这样的方式来获取元素？换句话说，C++的Tensor是否重载了[]运算？如果没有的话我该如何取值呢？是需要将Tensor看做一个一维数组来取值吗？

[2018-08-20 03:19] #12784 closed, assigned to nobody

[2018-08-20 03:19] #12704 closed, assigned to nobody

[2018-08-20 03:21] guoshengCS commented on #12799
C++中目前没有重载[]运算，需要将Tensor看做一个一维数组来取值

[2018-08-20 03:33] guoshengCS commented on #12797
可以使用square_error_cost，参考链接见
V2：
http://www.paddlepaddle.org/documentation/api/zh/0.12.0/config/layer.html#square-error-cost
Fluid：http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#square-error-cost

[2018-08-20 04:29] zjgtan opened #12801 "利用static pre-trained词向量训练文本分类模型"
1、预处理阶段：将文本切词后转化为word embedding序列
2、模型结构：
![image](https://user-images.githubusercontent.com/4132906/44320411-863b6080-a474-11e8-8ec1-303d7db9c91f.png)
3、问题：模型无法收敛
![image](https://user-images.githubusercontent.com/4132906/44320455-a4a15c00-a474-11e8-9169-b7649d97c6a6.png)

[2018-08-20 05:29] zzhzz commented on #12799
在给Tensor赋值过程中，因为一些原因无法直接计算出来某个Tensor最终的大小，请问Tensor内部会自动完成内存分配吗？换句话问，Tensor可不可以使用类似std::vector<T>的push_back之类的方式来赋值？

[2018-08-20 05:52] guoshengCS commented on #12799
Fluid的OP内会进行infer shape，直接调用tensor的mutable_data就可以完成内存分配，不过没有类似push_back的赋值方式，需要使用offset赋值

[2018-08-20 05:54] guoshengCS commented on #12801
请问是希望验证是否正确加载了static pre-trained的词向量么

[2018-08-20 06:03] guoshengCS commented on #12794
There isn't  such API currently, and may you can implement `arctanh` by combining some other operators according to the formula temporarily.

[2018-08-20 06:05] zjgtan commented on #12801
恩，我没有通过embedding层加载词向量参数，而是在预处理阶段，通过请求nlpc_wordemb_v2服务，把文本转换为了词向量序列，如“北京 百度” ==> [vev1, vec2]

[2018-08-20 06:10] guoshengCS commented on #12801
应该是可以的，另外有一种方法可以把这个词向量拿出来对照下看是否正确，具体参考 http://www.paddlepaddle.org/documentation/docs/zh/0.12.0/faq/local/index_cn.html#layeroutput 中**6. 如何在训练过程中获得某一个layer的output**部分的内容

[2018-08-20 06:11] tensor-tang opened #12803 "Debug mode UT fail"
最近在debug模式下 跑element wise add 发现一个core dump，在release下居然是跑过的。

最简单的复现方式是 CPU only的情况下，跑一下这个ut。

[code]

我得到的结果是：
[code]

查了一下发现是
https://github.com/PaddlePaddle/Paddle/blob/c6af7201e99bdb9dfe8798cab65aa4c625ac1cab/paddle/fluid/operators/elementwise_op_function.h#L72-L84
这里如果进来的就是一个{1}的shape，`framework::make_ddim(trim_dims);`的时候其实是trim_dims是size为0 的。

最终导致
https://github.com/PaddlePaddle/Paddle/blob

[2018-08-20 06:11] panyx0718 opened #12804 "ProgramDesc copy doesn't handle BLOCKS attr type"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/program_desc.cc#L77

Only handle BLOCK, but not BLOCKS

[2018-08-20 06:19] jayxio commented on #12794
Thank you!

[2018-08-20 06:19] #12794 closed, assigned to nobody

[2018-08-20 06:40] almostlove commented on #12797
您好 不是训练时的cost 是验证时候用来看的评估指标  例如查看测试集上的auc。  paddle.evaluator.auc(name = 'out_label', input = label, label = lbl_click)  这种打印出来的。

[2018-08-20 06:45] Yancey0623 commented on #12732
PS进程在环境准备阶段有报错的日志并且有重启的情况，已提给cloud，有进一步结果会更新在这里。

[2018-08-20 06:46] guoshengCS commented on #12797
回归问题的话，目前没有相应的evaluator，不过可以自定义evaluator，可以参照这里
https://github.com/PaddlePaddle/models/tree/develop/ltr#%E8%AE%AD%E7%BB%83%E8%BF%87%E7%A8%8B%E4%B8%AD%E8%BE%93%E5%87%BA%E8%87%AA%E5%AE%9A%E4%B9%89%E8%AF%84%E4%BC%B0%E6%8C%87%E6%A0%87

[2018-08-20 06:58] dagelailege commented on #6725
请问run这个问题解决了吗，遇见了同样的问题

[2018-08-20 07:18] guochaorong commented on #12803
增加了  -DCMAKE_BUILD_TYPE=DEBUG  时 的 cpu build test， gpu build test场景

[2018-08-20 07:32] guoshengCS commented on #12792
You can fill int or double by setting the argument  `dtype="int32"` or `dtype="float64"`, please refer to this:
http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#fill-constant

[2018-08-20 07:32] #12245 closed, assigned to nobody

[2018-08-20 08:53] almostlove commented on #12797
好的感谢。

[2018-08-20 08:53] #12797 closed, assigned to nobody

[2018-08-20 09:37] #12804 closed, assigned to panyx0718

[2018-08-20 11:09] ldpbuaa opened #12815 "尺寸"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-08-20 11:11] #12815 closed, assigned to nobody

[2018-08-20 13:19] #12769 closed, assigned to chengduoZH

[2018-08-20 14:20] #12778 closed, assigned to chengduoZH

[2018-08-21 02:15] youngstu opened #12819 "paddle v1/v2 模型可以用作fluid 版本的预训练模型？"
1. paddle v1/v2 模型可以用作 fluid 版本的预训练模型？模型文件有哪些不同，需要怎样转换？

[2018-08-21 02:17] youngstu opened #12820 "有pytorch 转 fluid 的转换工具？"
你好，能帮忙提供一下 pytorch 转 fluid 的转换工具么？

[2018-08-21 02:47] typhoonzero opened #12821 "Cleanup multi_devices_graph_pass.cc"
In `multi_devices_graph_pass.cc` we have `GetOpDeviceID` `GetVarDeviceID` and `GetAppropriateDeviceID` calls, which is used in several places, should clean this up to make the code less confusing:

1. call `GetAppropriateDeviceID` once at the beginning of the pass to init the mapping
1. call `GetOpDeviceID` `GetVarDeviceID` in other places.

[2018-08-21 03:13] nicky2015 commented on #12532
是否意味着fluid暂不支持将训练好的词向量（gensim.models.Word2Vec.load()）作输入？

[2018-08-21 03:21] ccmeteorljh commented on #12679
同步也会出现超时和os error的问题
paddlecloud 地址：
http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5b7abf654e898&flag=jobs&groupName=k8s_gpu_demo&groupId=c0a1f165-6279-5320-b9e7-e0218c7a87f5&currentPage=1&currentKey=1
[code]

[2018-08-21 03:28] Yancey0623 commented on #12679
看日志是`10.255.188.14` 这个ps进程并没有ready，trainer向它发send请求时会导致RPC报错,
PS 日志看起来是在尝试准备环境：

[code]

[2018-08-21 03:56] #12725 closed, assigned to ktlichkid

[2018-08-21 03:57] ktlichkid commented on #12725
新加了scatter op的python API，麻烦您试试可以用不能

[2018-08-21 04:17] #12755 closed, assigned to NHZlX

[2018-08-21 04:37] ccmeteorljh commented on #12679
多机异步有时候还会报这个错误
[code]

[2018-08-21 04:50] NHZlX opened #12825 "bug in tensorrt subgraph"
1. We should fuse ITensor's dim and batch size to Tensor shape when the tensorrt subgraph finished.
2. Bug in deal with ssa.
3. We should take 2 dims input into account for tensorrt.

[2018-08-21 05:42] wanghaoshuang commented on #12819
网络结构的存储和模型参数的存储格式都不同，转换起来比较麻烦；
step 1. 对应paddle v2的网络结构，用fluid搭建一样的网络
step 2. 然后对每个parameter，将其转为fluid的格式, 具体操作如下：

以下是一个简单的例子：
[code]
其中`load_param` function第一个参数是fluid和paddle v2的参数名称的对应关系文件，如下：
[code]
其中，以“=”分割，第一列为paddle v2参数名称，第二列为fluid参数名称，第三列为参数的shape.

在训练脚本里这样调用：
[code]

[2018-08-21 05:47] wanghaoshuang commented on #12820
你好，我们暂时无法提供这种转换工具，会考虑将其列入后续工作计划中。多谢反馈。

[2018-08-21 05:58] pmajchrzak opened #12827 "python/paddle/dataset/flowers.py wrong md5"
The dataset "flowers" is downloaded each time when training is run, even if it was downloaded under earlier iteration

Proposed solution:
change md5 information in file `python/paddle/dataset/flowers.py`
[code]

[2018-08-21 06:04] pmajchrzak commented on #12827
There is:
![image](https://user-images.githubusercontent.com/10847947/44383277-82f9b080-a518-11e8-9cc4-7e8605c1a689.png)

and then
![image](https://user-images.githubusercontent.com/10847947/44383360-cf44f080-a518-11e8-93fe-6258f6b412c3.png)

[2018-08-21 06:28] luotao1 commented on #12827
@pmajchrzak Could you submit a PR to fix it? You should update both `python/paddle/dataset/flowers.py` and `python/v2/paddle/dataset/flowers.py`.

[2018-08-21 06:50] #12411 closed, assigned to velconia

[2018-08-21 07:01] #12376 closed, assigned to gongweibao

[2018-08-21 07:12] #12537 closed, assigned to nobody

[2018-08-21 07:17] jacquesqiao commented on #11965
May already fixed by https://github.com/PaddlePaddle/Paddle/pull/12828, need to test.

[2018-08-21 07:23] seiriosPlus commented on #12155
请安装新版的paddlepaddle， import 使用 ```import paddle.fluid as fluid```

[2018-08-21 07:23] #12155 closed, assigned to nobody

[2018-08-21 07:27] #12235 closed, assigned to nobody

[2018-08-21 07:30] #12318 closed, assigned to nobody

[2018-08-21 07:42] #12351 closed, assigned to nobody

[2018-08-21 07:46] seiriosPlus commented on #12377
目前V2不支持这么用， 可以考虑迁移到Fluid。

[2018-08-21 07:46] #12377 closed, assigned to nobody

[2018-08-21 07:48] #11991 closed, assigned to nobody

[2018-08-21 07:51] #11965 closed, assigned to Yancey0623, jacquesqiao, typhoonzero

[2018-08-21 08:08] #12096 closed, assigned to Yancey0623, seiriosPlus

[2018-08-21 08:08] #12201 closed, assigned to seiriosPlus, gongweibao

[2018-08-21 08:28] newdimitri commented on #11298
看起来是cmake版本过高，建议使用cmake3.4
--

[2018-08-21 08:30] newdimitri commented on #12089
在新的仓库中重新拉一下docker镜像

[2018-08-21 08:31] newdimitri commented on #12026
macos不能使用pip安装，要编译安装

[2018-08-21 09:04] yeyupiaoling opened #12832 "Caffe模型转fluid模型是不是会存在精度损失的情况？"
我使用这里的转换工具：https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification/caffe2fluid
转换之后，我发现准确率低了2个百分点，这是正常的吗？

如果存在，这是什么原理呢？

[2018-08-21 09:11] gongweibao opened #12833 "Does use arguments passed from comand line just like tf be convinet"
1.  Does use arguments passed from comand line just like tf be convinet than env variables?
[code]

[2018-08-21 09:14] panyx0718 opened #12834 "EnableMKLDNN in Executor::Run can be very slow"
https://github.com/PaddlePaddle/Paddle/blame/develop/paddle/fluid/framework/executor.cc#L128

[code]

EnableMKLDNN will be called every time Run() is called. Which is a huge overhead.
For example here:
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/while_op.cc#L64

[code]

Threre might be some programs with EnableMKLDNN. You might need to call ProgramDesc::Flush after u

[2018-08-21 09:40] velconia opened #12835 "Fix prelu_op_test unittest in Python3 environments"
```test_prelu_op ``` unittest can NOT pass Python3 CI Job now;

We will disable it temporally and add it back to repo until fixing the problem.

[2018-08-21 10:03] sugarfreesang opened #12839 "用老版本paddle训练的模型用 v2版本dump bin 失败"
有一个已有的用老版本paddle训练的模型，现在想用在线上，需要用v2的capi线上加载model。原有模型配置为：
![image](https://user-images.githubusercontent.com/17564152/44395583-e7465f80-a56c-11e8-943f-8e192a5794b5.png)

原来dump出来的模型目录结构如下：
![image](https://user-images.githubusercontent.com/17564152/44395362-3b9d0f80-a56c-11e8-9a25-a9ba96c85299.png)

预估是直接用network = swig_paddle.GradientMachine.createFromConfigProto(conf.model_config)

想请教下如何把网络结构拓

[2018-08-21 10:26] reyoung commented on #12148
Closed due to no response for a long time.

[2018-08-21 10:26] #12148 closed, assigned to nobody

[2018-08-21 10:27] reyoung commented on #12217
应该是数据格式不正确。

[2018-08-21 10:27] #12217 closed, assigned to nobody

[2018-08-21 10:28] reyoung commented on #12234
Paddle does not support second-order gradient right now.

[2018-08-21 10:29] #12293 closed, assigned to nobody

[2018-08-21 10:31] wanghaoshuang commented on #12839
你试试这个： https://github.com/PaddlePaddle/Paddle/blob/da158c2279008010996687d32b88c76e4e8ec1b7/paddle/legacy/capi/examples/model_inference/dense/convert_protobin.sh

[2018-08-21 10:51] qingqing01 opened #12840 "There is bug in fluid.InferenceTranspiler for VGG model."
去掉BatchNorm里的in-place操作后，单测test_image_classification.py里VGG模型的Batch Norm fuse的单测挂了。

[2018-08-21 11:44] jczaja opened #12845 "Question on fluid.layers.dynamic_lstm"
Hi,

I have question of returned values of fluid.layers.dynamic_lstm. According to :
http://paddlepaddle.org/documentation/api/en/0.14.0/layers.html#dynamic-lstm

dynamic_lstm does return hidden state as well as **cell state**. My questions are:
1) what is the intention of returning **cell state** by dynamic_lstm?
2)  In what situation it can be useful for a model to have an access to **cell state

[2018-08-21 12:43] yuanxiangxie opened #12849 "paddle v2里如何输出中间层信息及梯度计算出现问题该如何解决？"
### 代码如下所示，如果想要输出slope_interception layer的output和gradient该在哪里添加信息（想要追梯度计算问题）？因为在训练模型的时候遇到图片所示梯度计算问题

[code]

<img width="968" alt="1534855186" src="https://user-images.githubusercontent.com/9253455/44401817-74e07a00-a582-11e8-8b97-988ef6e9a193.png">

[2018-08-21 12:51] panyx0718 commented on #12840
https://github.com/PaddlePaddle/Paddle/pull/12736/files

[2018-08-21 12:53] yuanxiangxie commented on #12072
嗯，感谢楼主

[2018-08-21 14:05] yuanxiangxie opened #12850 "paddle v2本地训练 模型没有信息输出"
### 核心训练代码如下
[code]
### 模型输出信息如下
<img width="622" alt="bd2eb4569625def6912fa649999cd0e9" src="https://user-images.githubusercontent.com/9253455/44406473-49fc2300-a58e-11e8-9ffb-d3b2ac25abdb.png">

[2018-08-21 14:57] #12825 closed, assigned to NHZlX

[2018-08-21 19:29] jayxio opened #12851 "请问Paddlepaddle如何在一个程序中创建两个计算图？"
比如:如果已经有一个计算图在全局，能否创建一个子计算图？
请问在哪里可以看到相关示例呢？
多谢各位大哥！

[2018-08-21 22:33] daming-lu opened #12852 "Paddle Trainer Crashed"
paddle/fluid/trainer.py(463)_train_by_any_executor()

请看下图：

![screen shot 2018-08-21 at 3 28 23 pm](https://user-images.githubusercontent.com/5635322/44432525-3a151c80-a557-11e8-88d4-729504fb6e2a.png)

在 461 到 487 之间。我用的是 `paddlepaddle/paddle:latest-gpu-cuda8.0-cudnn5 `，使用GPU。

[2018-08-22 02:08] wanghaoshuang commented on #12850
你要添加evaluator，event.metric里才会有内容；
关于evaluator的例子： https://github.com/PaddlePaddle/models/blob/3b75c23b81cc4b72661cfd3a71a1cb5ab8d4cf4a/deep_fm/network_conf.py#L72

可用的evaluators: https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/trainer_config_helpers/evaluators.py

[2018-08-22 03:42] ccmeteorljh opened #12854 "多机下Unknown exception caught"
paddle版本：0.15
模型:se-resnext
环境：多机单卡异步
paddlecloud地址：
http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5b7cd20745dde&flag=jobs&groupName=k8s_gpu_demo&groupId=c0a1f165-6279-5320-b9e7-e0218c7a87f5&currentPage=1&currentKey=1
[code]

[2018-08-22 03:43] zhuantouer opened #12855 "08 demo machine translate "beam_search() got multiple values for keyword argument 'end_id'""
error message:
[code]

[2018-08-22 04:00] yuanxiangxie commented on #12850
按照你给的文档添加了evaluator，但是还是没有信息输出，添加方式和模型输出如下图
<img width="1203" alt="fe3afce60e8f6b9b983a623bbeb6f74c" src="https://user-images.githubusercontent.com/9253455/44442126-db0ce180-a602-11e8-90b0-fbcb5b8ddbf4.png">
<img width="944" alt="938803a0e60f4ea7d540976b100ce975" src="https://user-images.githubusercontent.com/9253455/44442135-e5c77680-a602-11e8-8d70-06245e89220f.png">

[2018-08-22 04:14] wanghaoshuang commented on #12850
你这样试试？
[code]

[2018-08-22 04:41] JayEworld opened #12859 "更新本地提交package中的paddle二进制后集群报错"
本地提交集群训练任务
之前是从wget http://paddle-mpi-package.gz.bcebos.com/cluster_train_cpu_nordma.tar.gz下载的提交程序包，但是发现不支持layer.factorization_machine，考虑是版本太低问题，于是按照“ 更新本地提交package中的paddle二进制”的步骤更新了程序包里的paddle。
更新时使用的whl是：paddlepaddle-latest-cp27-cp27m-linux_x86_64.whl
![image](https://user-images.githubusercontent.com/16730384/44443219-3346e200-a609-11e8-9f9f-0a349ba599a5.png)

集群是http://nmg-hpc-hlan-mon.dmop.ba

[2018-08-22 04:58] yuanxiangxie commented on #12850
还是不行，而且这种方式和我最开始写的那种方式本质上是一样的。只不过现在是把```python paddle.evaluator.classification_error(input= (inference + 1.0) * 0.5, label=label)```变为了一个变量传入

[2018-08-22 05:14] wanghaoshuang commented on #12859
可以参考这里：https://stackoverflow.com/questions/33859531/runtimeerror-module-compiled-against-api-version-a-but-this-version-of-numpy-is

可以尝试在`before_hook.sh`脚本里升级下numpy

[2018-08-22 05:25] JayEworld commented on #12859
@wanghaoshuang 我看有好几个issue都提到按照“更新本地提交package中的paddle二进制”步骤不成功，比如 #11905 ，还有https://github.com/PaddlePaddle/Paddle/issues/12623，各种尝试都会出各种错，能像wget http://paddle-mpi-package.gz.bcebos.com/cluster_train_cpu_nordma.tar.gz一样提供一个0.12.0版本的包么

[2018-08-22 05:50] typhoonzero opened #12861 "Imagenet file reader speed"
Speed per thread

|       | Read | Read + Parse |
| --- | ----- | ------------- |
| recordio(python ver) | 108 img/s | 6 img/s ujson.loads() |
| plain text (usjon list)  | 2000 img/s | 6.8 img/s ujson.loads() |
| tarfile | 11632 img/s | 121 img/s Image.open, numpy.array() |

Reader speed with multi-threading

[2018-08-22 07:07] yuanxiangxie commented on #12850
本地测试发现如果去掉 (inference + 1.0) * 0.5回退为 inference 则有信息输出

[2018-08-22 08:03] gongweibao opened #12870 "文档索引问题"
如果文档索引中没有，搜索就没有任何反应
![image](https://user-images.githubusercontent.com/10721757/44450949-e113ba00-a624-11e8-82b4-f0b210213517.png)

[2018-08-22 08:32] luotao1 commented on #12845
Discussed with @qingqing01 :

- Desired by the tensorflow API, we return cell state as well.
https://github.com/PaddlePaddle/Paddle/blob/decda738b0bf1dbba5ff4b0b035d2630ab0b7919/benchmark/tensorflow/rnn/rnn.py#L63

- Backward of lstm use `cell` as well.
https://github.com/PaddlePaddle/Paddle/blob/decda738b0bf1dbba5ff4b0b035d2630ab0b7919/paddle/fluid/operators/lstmp_op.h#L240

There is no fluid mod

[2018-08-22 08:41] velconia opened #12871 "Anakin build problem in gcc 4.8.2"
CPU info:
[code]

GCC: 4.8.2

Docker version: paddlepaddle/paddle_manylinux_devel:cuda8.0_cudnn7

Build failed info:

![image](https://user-images.githubusercontent.com/1979255/44452844-2be40080-a62a-11e8-9424-7789411a6188.png)

http://ci.paddlepaddle.org/viewLog.html?buildId=5051&buildTypeId=Paddle_PrCiPython35&tab=buildResultsDiv

[2018-08-22 09:16] wanghaoshuang commented on #12832
可能的原因：
1. 初始化方式不严格相同
2. 某些op的计算不一致

建议print下各层output，debug下具体哪里导致的不一致。

[2018-08-22 09:21] yeyupiaoling commented on #12832
@wanghaoshuang 嗯嗯，您说的print，是在预测的是，加载模型的时候`print(inference_program)`吗，还是怎样？

[2018-08-22 09:22] yuanxiangxie commented on #3366
@cszhou Hi 你好，我有个需求也是需要对inference的结果做偏移压缩变换，但是现在遇到的问题是做完压缩偏移后，模型训练的时候event.metrics没有信息输出，请问你有遇到这个问题吗？

[2018-08-22 09:28] NHZlX opened #12873 "IR: add fc_lstm_fuse pass"
When we use LSTM, we often add another FC Op,  The examples are as follows：
[code]
We can fuse fc and lstm together.

[2018-08-22 10:25] #12708 closed, assigned to qingqing01

[2018-08-22 10:50] jczaja commented on #12845
Thanks @luotao1,

Meantime I found an additional argument after having cell state returned via python interface which is
that if sequence is to long to have it processed at once via dynamic_lstm then it could be split into multiple execution of dynamic_lstm's and returning cell_state as well as providing input c0 will allow this scenario to happen.

[2018-08-22 10:50] #12845 closed, assigned to luotao1

[2018-08-22 12:06] #12713 closed, assigned to qingqing01

[2018-08-22 12:37] jayxio commented on #12851
可以使用`fluid.program`来新建计算图，控制输入计算节点进入哪个program。感谢自己！

[2018-08-22 12:37] #12851 closed, assigned to nobody

[2018-08-22 12:39] jayxio commented on #12851
而且还可以用`fluid.program.clone`来复制新一份已有的计算图。

[2018-08-23 02:05] zzhzz opened #12879 "本地代码编译后单测报错"
按照本地代码编译的步骤编译完成。
在build目录下使用指令 `ctest -R test_mul_op`对mul_op进行单元测试得到如下结果：

Test project /Users/baidu/Documents/Paddle/build
    Start 197: test_mul_op
    1/1 Test #197: test_mul_op ......................***Exception: Child aborted  1.24 sec

0% tests passed, 1 tests failed out of 1

Total Test time (real) =   1.27 sec

The following tests FAILED:
	197 - test_mul_op (Child aborted)
Errors while ru

[2018-08-23 02:41] ws441572091 opened #12880 "预测器如何加入新的一层（新层使用训练程序的一层参数）"
训练程序中有一层crf（name=‘crfw’）
预测程序想加入一层crf_decode(name='crfw'),
ValueError: var crfw not in this block

[2018-08-23 02:41] JiayiFeng commented on #12879
可以用`ctest -V -R test_mul_op`来看到更详细的报错信息。

对于op的单测，推荐在`Paddle/python/paddle/fluid/tests/unittests`目录下执行： `python -m unittest test_mul_op`。在一些机器上（比如mac），ctest调用python单测可能产生一些问题。

[2018-08-23 02:52] typhoonzero commented on #12854
Should be fixed when @jacquesqiao cherry pick previous fixes for send/recv deps

[2018-08-23 02:59] #12763 closed, assigned to nobody

[2018-08-23 03:03] Kevinlsy opened #12881 "内部上线，依赖库相关问题"
有两个问题
1.想问下，我想用Bcloud云端编译上线，但是在icode上没有找到paddle-capi(cuda 8.0)合适的依赖库，内部icode上有相关的依赖库吗？
2.之前我依赖的是http://icode.baidu.com/repos/baidu/third-party/paddle-capi/tree/paddle-capi-v0.2
报错：
Check failed: cudaSuccess == err (0 vs. 8) [hl_gpu_apply_unary_op failed] CUDA error: invalid device function
我查看了下这个icode的依赖库paddle支持的是cuda7.5而我的cuda版本8.0，我查看可其他的issues，想确认是不是因为cuda版本不匹配才导致的上面的报错。

[2018-08-23 03:17] JiayiFeng commented on #12880
参数共享请使用layer的`param_attr`参数，例如：

[code]

其中`crfw`是已经存在的参数的名称。在该参数的训练层上也需要用`param_attr`参数用相同的方法来指定名字。

[2018-08-23 03:25] typhoonzero commented on #12861
Some more test on https://github.com/PaddlePaddle/models/blob/develop/fluid/image_classification/reader.py#L100 shows that `process_image` function can maximum use up to 12 cores, adding more thread won't increase the overall throughput(running on a 24 core machine). Will look into it.

[2018-08-23 04:07] almostlove opened #12882 "Floating point exception异常"
模型今天增量训练过程中突然出现异常，请教下什么问题
![image](https://user-images.githubusercontent.com/15178274/44504172-e4628080-a6cc-11e8-8aeb-845ae963bb77.png)

[2018-08-23 04:59] JiayiFeng commented on #12881
你好，能否提供下你的hi用户名？我们hi上直接与您联系

[2018-08-23 05:22] typhoonzero opened #12883 "[Performance] Distributed Async CPU training pipeline execute"
In distributed async training, each batch on each trainer will spend much more time in RPC ops than calculating forward and backward. In that case, we can not make full use of CPU resource even if the trainer starts the same number of threads of CPU cores.

A better scheduling is to train another model when the first model is doing RPC. And, more generally, we can run N models in the memory, to fi

[2018-08-23 05:39] guoshengCS commented on #12855
It might be caused by the version of paddle, please update your paddle and try again.

[2018-08-23 06:07] Kevinlsy commented on #12881
@JiayiFeng 用户名：蒙奇_D_加内特。 谢谢

[2018-08-23 06:38] ws441572091 commented on #12880
已经使用了param_attr，但是crfw参数封装在训练program的block里，现在预测程序想新建一个program直接使用crfw，报错crfw不在这个block里，要怎样才能调用呢

[2018-08-23 07:26] zzhzz opened #12888 "开发operator时遇到的问题"
我按照教程完成了operator的前向计算过程，打算通过python接口来完成前向计算的单元测试。但是启动单元测试时得到如下结果：
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  Fail to initialize tree_conv's OpProto, because (cannot determine missing fields for lite message) is not initialized at [/Users/baidu/Documents/Paddle/paddle/fluid/framework/details/op_registry.h:104]
PaddlePaddle Call Stacks:
0          0x1

[2018-08-23 07:30] velconia commented on #12888
请问编译时是否清理了build目录中的cache呢

[2018-08-23 07:31] zzhzz commented on #12888
清空了

[2018-08-23 07:45] JiayiFeng commented on #12888
看上去是有op要求的attribute或者input和output没有在python中被正确设置，请检查下是否所有在OpMaker类中定义的东西都在python单测里设置了

[2018-08-23 07:54] sugarfreesang commented on #12839
嗯，可以用～谢谢haoshuang

[2018-08-23 07:54] #12839 closed, assigned to wanghaoshuang

[2018-08-23 08:15] JiayiFeng commented on #12141
能否简单地贴几个会触发ops.py里这个bug的调用Fluid的语句？我们验证一下。

[2018-08-23 08:21] zenghsh3 opened #12890 "sampling_id op doesn't return id"
sampling_id op is returning the value now instead of id, PR #12556
https://github.com/seiriosPlus/Paddle/blob/822496f6268c70fc53e50a1a15fb7a3f0a3fe49e/paddle/fluid/operators/sampling_id_op.h#L66
the code above should be:
[code]

[2018-08-23 08:23] JiayiFeng commented on #12880
解决的方法可能比较hack。

1. 打印一下训练program里的crfw参数，看一下它有哪些参数，各自的值是多少
2. 调用预测program的block 0的create_var接口，创造一个和crfw所有参数完全一致的Variable

这样应该就可以调用了

[2018-08-23 08:27] wfeagle opened #12891 "fluid.io.save_inference_model报错"
Traceback (most recent call last):
  File "train.py", line 206, in <module>
    main(args)
  File "train.py", line 180, in main
    args.num_passes)
  File "train.py", line 84, in train_net
    fluid.io.save_inference_model(epoch_model, ["words", "label"], prediction, exe)
  File "/home/disk1/wangfang20/.jumbo/lib/python2.7/site-packages/paddle/fluid/io.py", line 636, in save_inference_model
    p

[2018-08-23 08:28] JiayiFeng commented on #12890
Thank you for your feedback! We have informed this op's owner about this issue.

[2018-08-23 08:32] JiayiFeng commented on #12891
这个错误的意思是在模型中没有发现名为`label`的Variable，请用`xxx.name`检查一下layers.data产生的Variable的名字。

[2018-08-23 08:33] TomorrowIsAnOtherDay commented on #12890
@seiriosPlus Could you fix it?

[2018-08-23 08:34] seiriosPlus commented on #12890
I will fix it right now.

[2018-08-23 08:39] wfeagle commented on #12891
[code]

这个是整个代码，我看words跟label出现的情况是一样的，为啥words可以但是label不可以呢？ 还有最后一行是该存储exe 还是train_exe呢？ 有没有相关文档介绍

[2018-08-23 08:51] JiayiFeng commented on #12891
在做`save_inference_model`的时候会对program进行裁剪，删除掉其中对于生成target（对你这里来说就是`prediction`）不必要的op和var。你的`label`对于inference时候生成prediction是不必要的，因此被裁剪掉了。

最后那个不是存储exe，是用exe来执行存储这个过程。传一个普通的Executor进去就行。

[2018-08-23 08:51] #12881 closed, assigned to nobody

[2018-08-23 08:58] zzhzz commented on #12888
实际上我是刚写完operator，尚未编写python单测。我通过 `python -m unittest test_mul_op`打算验证一下框架单测功能可以使用。那意思是所有operator的单测都需要编写完才可以运行单测吗? @JiayiFeng

[2018-08-23 09:23] JiayiFeng commented on #12888
那应该因为还没有为op注册反向计算的内容，导致Op的protobuf信息不全报错。反向暂时还没写的话，可以先给它注册一个空的反向计算，例如：
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/fill_constant_op.cc#L92

[2018-08-23 10:16] ws441572091 commented on #12880
好的，请问如何查看crfw参数到各个参数和值呢

[2018-08-23 10:41] #12890 closed, assigned to nobody

[2018-08-23 10:59] #12891 closed, assigned to nobody

[2018-08-23 11:18] zhuantouer commented on #12855
@guoshengCS 用的就是fluid 0.14 cpu版

[2018-08-23 11:38] guoshengCS commented on #12855
beamseach有在0.14发版之后有修改

[2018-08-23 12:49] kolinwei opened #12897 "运行models下面的ocr_recognition模型时报错"
运行命令

python train.py --model=attention --parallel=True

Traceback (most recent call last):
  File "train.py", line 218, in <module>
    main()
  File "train.py", line 214, in main
    train(args)
  File "train.py", line 97, in train
    use_cuda=True if args.use_gpu else False, loss_name=sum_cost.name)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/parallel_executor.py", line 165, in

[2018-08-23 14:01] wfeagle opened #12901 "多分类问题在预测时如何跟label的明文关联上"
用fluid训练了多分类(比如十类)的模型，输出层softmax应该各个结点有个概率，把top 3 的概率找到后（比如是1，7，9结点），想把这1，7，9 对应的label的明文也找到，请问怎么处理？

[2018-08-23 15:12] JiayiFeng commented on #12882
这个是训练过程中出现了float point exception。通常可以试着调小学习率，但如果说以往训练没有问题现在突然出现的话，一般是训练数据有问题，可以先尝试在本地跑一下这批数据看能否复现。

[2018-08-23 15:13] JiayiFeng commented on #12901
label与明文之间的映射规则应该是用户自己预先的就定义好的，训练时候送入模型的label就是已经映射后的0-9数字，预测时候反向映射回去就是了

[2018-08-23 23:33] jayxio opened #12905 "Paddlepaddle如何只加载指定变量？"
请问paddlepaddle如何加载指定变量？比如，如果我用如下程序训练了一个CNN
[code]
然后用：
[code]
保存了这个default的program里面的所有变量。之后，当我又新建另一个program中，并向计算图添加了新的变量，比如我这里使用了`create_parameter`在`self._loss_cw`中：
[code]
如何调用在`'./mnist'`之前已保存的数据，并正确的只加载在`mnist_cnn_model`函数所创建的变量上？
我想到的解决思路如下：
[code]
但是这个API默认直接加载在对应program的所有变量上。但在TensorFlow里面可以通过：
[code]
来选取想要加载的变量的。
请求大神指点！

[2018-08-24 00:10] oraoto commented on #12905
两个方式

1. `fluid.io.load_vars`可以通过`vars`或`predicate`参数指定加载的变量。
2. 构造一个Program，只包含需要加载的参数

[2018-08-24 01:37] yeyupiaoling opened #12906 "在v2版本中有没有对应fluid版本中的sum函数"
我在fluid文档中看到http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#sum 这个函数，也是我需要的，但是我使用的V2版本，V2版本有没有这个函数呢？

[2018-08-24 03:00] wfeagle commented on #12901
主要是不清楚输出格式什么？我把prediction的打印出来，是一个二维数组，然后0维和1维都是label的个数，请问为什么输出会有两维呢？分别代表什么含义呢？我说是下面的val[0]和val[1]都是label个数的维度，这val是pred的一个元素
`pred = exe.run(inference_program,
                feed=utils.data2pred(data, place),
                fetch_list=fetch_targets,
                return_numpy=True)
   for val in pred:
         print(val.ndim)
         print(val[0])
         print(val[0].ndim)
         print

[2018-08-24 03:10] xingyuanbu commented on #12792
solved, thx

[2018-08-24 03:10] #12792 closed, assigned to gongweibao

[2018-08-24 03:18] jacquesqiao commented on #12901
0维应该是batch_size 而不是label的个数

[2018-08-24 03:20] jacquesqiao commented on #12901
而且你可以把预测值打出来，看最大的概率的index，然后就能知道对应的label是什么了

[2018-08-24 03:25] kolinwei opened #12911 "fluid.io.save_params时出错"
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
  File "/work/weike/svn/baidu/paddle/test/cts_test/test_mnist_train_bak.py", line 146, in test_train_mnist_simple_fc_multi_gpu
    train_info1 = check_network()
  File "/work/weike/svn/baidu/paddle/test/cts_test/test_mnist_train_bak.py", line 108, in check_

[2018-08-24 03:28] zhangyang0701 commented on #12576
我们也有这个刚性需求，有办法解决吗？

[2018-08-24 03:33] ws441572091 opened #12912 "infer 时候 var not in this block"
fc层预测和训练都使用fc_tmp名字
crf层预测和训练时都使用crfw名字
crf层预测只有crf_decode

![image](https://user-images.githubusercontent.com/35720887/44563733-0ffb6e80-a792-11e8-837f-33ad6948f5e9.png)

预测程序不能直接使用crfw名字，可以使用fc_tmp参数
请问如何修改

![image](https://user-images.githubusercontent.com/35720887/44563750-302b2d80-a792-11e8-9cea-51ffe12dcb57.png)

[2018-08-24 03:35] wfeagle commented on #12901
但是我看你们给的一些models的例子，打印的都是第0维的概率，而第1维的就忽略了，
https://github.com/PaddlePaddle/models/blob/c34bb5f162b7d9b0b61db4632a277095af2e64b8/fluid/text_classification/clouds/scdb_parallel_executor.py  第367行

刚刚上面那个问题，我没有说清楚，我说是下面的val[0]和val[1]都是label个数的维度，val是pred的一个元素
我是想说我该取val[0]还是val[1]呢？？
pred = exe.run(inference_program, feed=utils.data2pred(data, place), fetch_list=fetch_targets, return_numpy=True)
for

[2018-08-24 04:16] jacquesqiao commented on #12911
看起来是函数的参数填错了

[2018-08-24 04:18] jacquesqiao commented on #12906
http://paddlepaddle.org/documentation/api/zh/0.12.0/config/layer.html#permalink-67-addto

[2018-08-24 05:05] kolinwei commented on #12911
import os
import numpy as np
import time
import sys
import paddle
import paddle.fluid as fluid
from nose import tools

def cnn_model(data, is_simple = False):
    """
    返回模型,is_simple为True时，只返回全连接层的模型
    """
    conv_pool_1 = fluid.nets.simple_img_conv_pool(
        input=data,
        filter_size=5,
        num_filters=20,
        pool_size=2,
        pool_stride=2,
        act="relu")
    con

[2018-08-24 05:13] kolinwei commented on #12911
[code]

[2018-08-24 05:14] kolinwei commented on #12911
代码片段如上，请帮看下

[2018-08-24 05:30] #12901 closed, assigned to nobody

[2018-08-24 06:13] yeyupiaoling commented on #12906
@jacquesqiao 好的，谢谢。

[2018-08-24 06:21] jacquesqiao commented on #12912
模型是怎么配置的？

[2018-08-24 06:29] ws441572091 commented on #12912
def train_program(word_dict,label_dict):
    crf_cost,crf_decode,target = infer_decode_program(word_dict,label_dict)
    avg_cost = fluid.layers.mean(crf_cost)
    p,r,f,ni,nl,nc = fluid.layers.chunk_eval(
            input = crf_decode,
            label = target,
            chunk_scheme = 'IOB',
            num_chunk_types = (len(label_dict)/2))

    return [avg_cost, f]

def optimizer_func():

[2018-08-24 06:29] ws441572091 commented on #12912
def train_program(word_dict,label_dict):
    crf_cost,crf_decode,target = infer_decode_program(word_dict,label_dict)
    avg_cost = fluid.layers.mean(crf_cost)
    p,r,f,ni,nl,nc = fluid.layers.chunk_eval(
            input = crf_decode,
            label = target,
            chunk_scheme = 'IOB',
            num_chunk_types = (len(label_dict)/2))

    return [avg_cost, f]

def optimizer_func():

[2018-08-24 06:31] ws441572091 commented on #12912
def train_program(word_dict,label_dict):
    crf_cost,crf_decode,target = infer_decode_program(word_dict,label_dict)
    avg_cost = fluid.layers.mean(crf_cost)
    p,r,f,ni,nl,nc = fluid.layers.chunk_eval(
            input = crf_decode,
            label = target,
            chunk_scheme = 'IOB',
            num_chunk_types = (len(label_dict)/2))

    return [avg_cost, f]

[2018-08-24 06:39] ws441572091 commented on #12912
![image](https://user-images.githubusercontent.com/35720887/44568878-18ac6e80-a7ab-11e8-929b-bb0d3022bb3c.png)
![image](https://user-images.githubusercontent.com/35720887/44568904-2b26a800-a7ab-11e8-9975-c38a867ce25f.png)
![image](https://user-images.githubusercontent.com/35720887/44568954-64f7ae80-a7ab-11e8-9fed-272fed1e4336.png)

[2018-08-24 06:46] zhuantouer commented on #12855
api改了，demo还没改是么？

[2018-08-24 06:50] guoshengCS commented on #12855
demo也相应的修改了，感觉应该是demo的用法和你那边paddle版本的api不匹配

[2018-08-24 07:02] wfeagle opened #12915 "本地训练好的模型，集群如何使用呢？"
用fluid训练好一个多分类模型，然后大数据需要放到集群队列预测使用，该怎么操作呢？
如果要放到线上使用的话，有什么API吗？

[2018-08-24 07:03] jacquesqiao commented on #12915
http://paddlepaddle.org/documentation/docs/zh/0.14.0/new_docs/user_guides/howto/inference/index.html 部署相关的文档

[2018-08-24 07:10] yeyupiaoling commented on #12906
@jacquesqiao
感觉有点不大对，sum其实是要把矩阵的元素全部加起来~

[2018-08-24 07:15] wfeagle commented on #12915
还有一个疑问，如果放到集群使用的话，含有paddle的python包该怎么打包上传呢？

[2018-08-24 07:34] velconia commented on #12911
辛苦提供下更全面的 Traceback, python 的 Traceback 下面应该还有一句比较关键的语句

[2018-08-24 07:39] velconia commented on #12911
[code]
我看了下, 和python3无关, 你传入的exe是ParallelExecutor, save_params不支持ParallelExecutor, 只支持 Executor, 可以参考方法的 doc:

[code]

[2018-08-24 07:48] #11900 closed, assigned to nobody

[2018-08-24 07:49] zhuantouer opened #12918 "fliud 0.14支持cpu下并行吗？"
paddle版本0.14，机器版本：cent4
在cpu版本下，Trainer配置了parallel=True，可以启动，也能看到cpu变化，但是没过2分钟就出core了

[code]

[2018-08-24 07:57] luotao1 commented on #12871
fixed by https://github.com/PaddlePaddle/Anakin/pull/359

[2018-08-24 08:07] jacquesqiao commented on #12918
单机能跑起来么，看着是内存分配挂了

[2018-08-24 08:07] leochen86 opened #12919 "fluid.Trainer api下如何获取到指定名字的参数"
<img width="571" alt="639f932bac2eaf9e54232d6a9c11292d" src="https://user-images.githubusercontent.com/34496954/44572900-c6257f00-a7b7-11e8-9ee7-ac2189f93a5d.png">
<img width="566" alt="68e2e98b7484c09e9ac31c56aaacc49b" src="https://user-images.githubusercontent.com/34496954/44572907-caea3300-a7b7-11e8-941c-0d7c60b5ffa7.png">
<img width="326" alt="6728a87df476e46c928a44f8c59ee455" src="https://use

[2018-08-24 08:09] leochen86 commented on #12919
<img width="357" alt="cf4121a295c71f58dc4019203ce86faa" src="https://user-images.githubusercontent.com/34496954/44572992-04bb3980-a7b8-11e8-9575-fe67b87a5e2f.png">
<img width="466" alt="0b50bbe6b679bfa87b9d80f89b7fea16" src="https://user-images.githubusercontent.com/34496954/44572998-07b62a00-a7b8-11e8-891e-a2df703aa73d.png">

[2018-08-24 08:09] jacquesqiao commented on #12919
在event_handle里面，参考：
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_sgd_op.py#L58
[code]
可以把参数拿出来

[2018-08-24 08:21] leochen86 commented on #12919
你好，按照说明，放入代码后，运行报异常，按照之前的经验应该是参数格式错误，请问正确的传参格式应该是怎样的？
<img width="494" alt="78a7b4dab5a8ea2d9c7a5471bbc25418" src="https://user-images.githubusercontent.com/34496954/44573584-9a0afd80-a7b9-11e8-9f73-7f5c5aaea843.png">
<img width="755" alt="af565f3d3a2c973aae89894aca6a324b" src="https://user-images.githubusercontent.com/34496954/44573588-9d9e8480-a7b9-11e8-8096-316f90b22bf4.png">

[2018-08-24 08:22] #12911 closed, assigned to jacquesqiao

[2018-08-24 08:27] leochen86 commented on #12919
我代码是这样写的，是不是哪里不对
<img width="639" alt="29a6fdc0a7402eca78f7dc4ac841851a" src="https://user-images.githubusercontent.com/34496954/44573930-8b711600-a7ba-11e8-8e2a-5284ab610c22.png">

[2018-08-24 08:30] jacquesqiao commented on #12919
fluid.global_scope().find_var()

[2018-08-24 08:42] leochen86 commented on #12919
你好，最后使用trainer.scope.find_var()成功拿到参数了，如图网络结构，最后参数的确应该时6个，但是最后在使用visualdl add_record时报了运行时错误
<img width="740" alt="eec110a235ce6843fdfacc4064401dcc" src="https://user-images.githubusercontent.com/34496954/44574652-99c03180-a7bc-11e8-980b-cc758054c3c9.png">
<img width="747" alt="424582c4c60f27d8bb60c08ea6794866" src="https://user-images.githubusercontent.com/34496954/44574656-9d53b880-a7bc-11e8-9d0

[2018-08-24 08:42] leochen86 commented on #12919
<img width="392" alt="d24314ded64019229dffdac98f7b71dc" src="https://user-images.githubusercontent.com/34496954/44574708-bf4d3b00-a7bc-11e8-9605-5c12e89d3274.png">

[2018-08-24 08:44] leochen86 commented on #12919
我知道了，histogram("param1",6)就可以了，需要和参数数量一致

[2018-08-24 08:52] michaelyyq opened #12921 "V2的常量和数值变量如何定义，加减乘除简单的运算如何定义？"
1、损失函数需要实现类似数学表达式 Num_predicted/(Num+1.0)这样的操作，其中Num_predicted和Num都是LayerOutPut对象，需要实现加法和除法等基本运算；
2、上面表达式中的1.0是一个常量，请问如何定义；
3、Num是一个数值类型，不是vector,也不是array，表示人的数量，由外部传入，请问如何定义;
4、自定义了一个函数，输入某些层的feature，函数返回的是array，再由这个array计算损失函数，问题是如何将自定义的损失函数加入模型训练。
5、fluid.layers和v2.layer能否混合使用。

[2018-08-24 08:57] wfeagle opened #12922 "新老版本lstm切换问题以及fluid吃内存的问题"
batch_size=256，比较吃内存，可能是hidden_dim比较大（256是一共的结点，结果又 *4）

现在有三个问题：
（1）老版本的lstm自带dropout属性，请问切换到fluid的话，下面的代码（主要是lstm部分是先dropout再lstm？ 还是先lstm再dropout？还是这两种操作都不能跟老版本等价？如果要等效的话，该怎么做呢？）
老版本代码：
layer_attr = ExtraLayerAttribute(drop_rate=0.5)
lstm = lstmemory(input=hidden, layer_attr=layer_attr)

（2）attention部分代码是参考https://github.com/PaddlePaddle/models/blob/c34bb5f162b7d9b0b61db4632a277095af2e64b8/flui

[2018-08-24 09:08] zhuantouer commented on #12918
就是单机跑的，没有分布式训练，parallel=True的作用是？
官方api没有train这个函数的说明，更没有各个参数的说明，只能去源码看。。。

[2018-08-24 09:43] molly00ecla opened #12930 "如何使用numpy数组对Variable赋值？"
您好
我使用fluid构造了一个网络模型，如：
conv1 = fluid.layers.conv2d(X, 64, 9,act='relu', name='conv1' ,
                                param_attr= fluid.ParamAttr(name='conv1_w'))
然后获取variable:
conv1_w = fluid.get_var('conv1_w')
我希望使用numpy数组对这个参数进行赋值，要如何做呢？

我查到资料说，可以使用 paddle.parameters.Parameters.set 进行赋值。但是我使用fluid.get_var获取到的对象不是paddle.parameters.Parameters类型的，没有set方法……

多谢！

[2018-08-24 09:49] jacquesqiao commented on #12930
请参考
https://github.com/PaddlePaddle/Paddle/blob/038e2817f0208f8de3761854700ff01fc5c28362/python/paddle/fluid/tests/book/test_label_semantic_roles.py#L178-L182

[2018-08-24 10:00] #12919 closed, assigned to jacquesqiao

[2018-08-24 10:05] xingyuanbu opened #12939 "Need Document of Faster RCNN Generate Proposal Labels Op"
The document of faster rcnn Generate Proposal Labels op is absent, waiting for a complement.
#12616

[2018-08-24 10:07] wzzju commented on #12089
好的,谢谢. @newdimitri

[2018-08-24 10:07] #12089 closed, assigned to wzzju

[2018-08-24 10:50] #12930 closed, assigned to jacquesqiao

[2018-08-24 10:54] NHZlX opened #12941 "Tensorrt: Add concat op && map cnn model support"
Add concat op converter && map cnn model support

[2018-08-24 12:07] #12915 closed, assigned to jacquesqiao

[2018-08-24 14:55] michaelyyq opened #12948 "V2有没有对应fluid.layers.reduce_sum的函数"
求解单层网络的所有元素和

[2018-08-24 19:43] #12905 closed, assigned to jacquesqiao

[2018-08-25 01:31] michaelyyq commented on #12906
在v2版本中有没有对应fluid版本中的reduce_sum函数, [fluid对应文档](http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#reduce-sum)

[2018-08-25 04:55] michaelyyq opened #12951 "V2训练保存的参数文件是否可以转换作为fluid的网络初始化参数"
采用V2版本的ssd已经训练得到了参数tar文件，这个参数文件是否可以作为fluid版本的ssd的初始化参数。

[2018-08-25 06:02] yingfeng commented on #12190
DPDK support is ready within [eRPC](https://github.com/anujkaliaiitd/eRPC), just FYI

[2018-08-26 07:57] flyhighzy opened #12956 "fluid分布式训练起大于2个ps时出错"
使用自建k8s集群运行fluid分布式任务，每个pod均先启动ps，然后启动trainer。发现启动2个pod时能正常运行，启动3个pod会有一个ps挂掉导致训练失败，启动4个挂2个，启动5个挂3个。。。
使用的版本：docker-hub上的latest-gpu，对应commit id为e8b4e0d627176e4d4028698e48e1d67440913d88

ps异常信息：
*** Aborted at 1535100063 (unix time) try "date -d @1535100063" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x0) received by PID 13 (TID 0x7fcdf4995700) from PID 0; stack

[2018-08-26 14:28] yeyupiaoling commented on #12951
https://github.com/PaddlePaddle/Paddle/issues/12819

[2018-08-27 01:20] #12296 closed, assigned to nobody

[2018-08-27 02:32] ccmeteorljh opened #12963 "多机启动pserver 带内存优化报错"
启动脚本：
[code]
pserver报错如下：
[code]
关闭memory_optimize参数后即可正常运行

[2018-08-27 02:34] typhoonzero commented on #12963
Mark: 同时需要覆盖此场景的单测

[2018-08-27 02:43] xianming90 opened #12965 "跑gpu版本的时候，提示 Check failed"
Check failed: (cudnn_cuh_major < 4 && cudnn_dso_major < 4) || (cudnn_cuh_major == cudnn_dso_major) [cudnn init] libcudnn v5 with header v7 unmatched!
PaddlePaddle Requirement: (header v[2-3] with libcudnn v[2-3]) Or (header v4 with libcudnn v4) Or (header v5 with libcudnn v5) Or(header v6 with libcudnn v6).

[2018-08-27 02:45] seiriosPlus commented on #12965
PaddlePaddle要求的CUDNN版本和你宿主机环境的CUDNN版本不一致

[2018-08-27 02:48] JiabinYang commented on #12041
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-08-27 02:48] #12041 closed, assigned to luotao1

[2018-08-27 02:56] JiabinYang commented on #12026
请问您是使用docker进行源码编译的么

[2018-08-27 03:17] calm736 opened #12967 "softmax算法模型加载数据的问题"
在仿造数字识别的例子，写一个对帖子进行优质贴和非优质贴的模型训练，整个代码如下：
`#coding=utf-8
from __future__ import print_function
import os
from PIL import Image
import numpy as np
import paddle
import paddle.fluid as fluid
import pandas as pd

def softmax_regression():
    tid = fluid.layers.data(name='tid', shape=[11], dtype='float32')
    predict = fluid.layers.fc(input=tid, size=2, act='softmax')
    return predict

def train_pr

[2018-08-27 03:20] calm736 commented on #12967
![image](https://user-images.githubusercontent.com/32367365/44638764-22bcb000-a9eb-11e8-8941-9266d42c11bc.png)
报错提示

[2018-08-27 03:22] seiriosPlus commented on #12967
贴一下 train_program， 以及 数据样例。

[2018-08-27 03:29] calm736 commented on #12967
![image](https://user-images.githubusercontent.com/32367365/44638931-c73ef200-a9eb-11e8-8ffd-fdefa29605e5.png)
第一列是序号，从第二列开始，到最后一列，最后一列是标签
训练程序：
`    trainer = fluid.Trainer(
        train_func=train_program, place=place, optimizer_func=optimizer_program)
trainer.train(
        num_epochs=5,
        event_handler=event_handler,
        reader=train_reader,
        feed_order=['tid', 'label'])

def

[2018-08-27 04:40] seiriosPlus commented on #12967
修改train_reader:
 yield [item[1:12], item[-1:]]

[2018-08-27 04:45] JiabinYang commented on #12033
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-08-27 04:45] #12033 closed, assigned to luotao1

[2018-08-27 04:47] calm736 commented on #12967
![image](https://user-images.githubusercontent.com/32367365/44640972-4ede2e00-a9f7-11e8-8489-eca240226a07.png)
![image](https://user-images.githubusercontent.com/32367365/44640982-5f8ea400-a9f7-11e8-87b2-88a60a70485b.png)
修改train_reader以后提示依旧是这个问题

[2018-08-27 04:56] velconia opened #12970 "Port the last part of code to Python3"
According to the conversation in [here](https://github.com/PaddlePaddle/Paddle/issues/12040).

Before we complete Python35 CI Job, we should port the last mile of code to Python3 here.

[2018-08-27 05:04] JiabinYang commented on #12610
由于显卡驱动和CUDA版本不匹配

[2018-08-27 05:04] #12610 closed, assigned to dzhwinter

[2018-08-27 06:02] wrchow opened #12973 "v2 capi和本地python脚本预测不一致"
本地python脚本预测准确，但用capi预测值全为0，模型和网络参数完全一致。

[2018-08-27 06:05] seiriosPlus commented on #12973
看看输入的数据的顺序， 不能按照Python的顺序输入， 要按照capi中要求的数据顺序进行输入

[2018-08-27 06:06] lpx1233 opened #12975 "v2 capi模型前传api调用时间有跳变"
厂内线上c++模块接入paddle模型的时候, 模型前传api调用时间跳变, 请问有优化方法吗?
现在接入后模型前传api (paddle_gradient_machine_forward) 一般值在0.3ms, 偶尔会跳2,30ms甚至100ms, 非常影响性能
用的v2的c-api (非fluid), 模型也比较简单, embedding + seq_conv + fc

[2018-08-27 06:08] guoshengCS commented on #12922
1. 等效于fluid中的先lstm再dropout
2. 能否给下到行数的链接，没有看到相应的内容
3. 老版本中的这个settings是对nn的所有layer都生效的；fluid中可以通过为每个layer设置ParamAttr来逐个控制，如需全局设置regularization，可以在定义optimizer是设置 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/optimizer.py#L48 ，如需全局设置gradient clipping，可以参考这里 http://www.paddlepaddle.org/documentation/api/zh/0.14.0/clip.html 的 **GradientClipByGlobalNorm** 部分

[2018-08-27 06:17] wfeagle commented on #12922
“2.能否给下到行数的链接，没有看到相应的内容”
https://github.com/PaddlePaddle/models/blob/c34bb5f162b7d9b0b61db4632a277095af2e64b8/fluid/neural_machine_translation/rnn_search/attention_model.py  中127-134行

[2018-08-27 06:24] wfeagle commented on #12922
关于 gradient_clip 请问这样设置可否实现？
fluid.clip.set_gradient_clip(
            clip=fluid.clip.GradientClipByValue(max=25, min=-25),
            param_list=[
                "embedding",
                "fc", "rfc",
                "lstm", "rlstm",
                "att_vec", "att_weight"])

[2018-08-27 06:40] guoshengCS commented on #12922
`“2.能否给下到行数的链接，没有看到相应的内容”`
reshape这个是为了后面的elementwise_mul（使用weight来进行scale）的需要，不过这里不做reshape应该也可以，可以参考elementwise_mul的api。

`关于 gradient_clip 请问这样设置可否实现`
param_list需要是Parameter名字的list，上面的代码中是Variable（中间变量，非参数）名字的list，可以参考这里的代码 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/clip.py#L316

[2018-08-27 06:40] wrchow commented on #12973
是按照“capi中要求的数据顺序进行输入”，一个模型是有预测值和本地Python基本出入不大，但另外一个就全为0了

[2018-08-27 06:44] PathricLee opened #12976 "有pytorch 转paddle v2 的转换工具么"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-08-27 06:48] wfeagle commented on #12922
新的神经网络是这样的，param_list不是变量名，但是发现sequence_softmax有ParamAttr的属性，但是放在clip函数中会报错

[code]

[2018-08-27 06:50] gongweibao opened #12978 "Use python process response to avoid use process pipe."
Now we use multiprocess.pipe to get info back from child process but this method is fragile since it forces the models to change print->stdout to print->stderr or avoid use print. If they print more info to stdout, it will be blocked without any warning or error!

We can use process response to avoid this.

Example:  https://docs.python.org/2/library/multiprocessing.html#using-a-pool-of-workers

[2018-08-27 06:52] guoshengCS commented on #12922
sequence_softmax这个layer不包含参数，是会报错的，这里会判断list内的是否是Parameter https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/clip.py#L320

[2018-08-27 06:55] gongweibao opened #12979 "There are many warning logs in paddle CI."
[code]

[code]

[2018-08-27 06:57] gongweibao opened #12980 "There are large amount of wget logs when download flowers dataset."
We may use `wget -q`.
[code]

[2018-08-27 06:58] guoshengCS commented on #12922
如果希望和老的配置等效的话，`param_list=None` 应该就行，注意 `fluid.clip.set_gradient_clip`要在网络结构定义之后、`optimizer.minimize`之前调用

[2018-08-27 07:01] wrchow commented on #12973
WORD_DIM = 330520  #dict length
emb_dim = 64
hid_dim = 128
class_dim =2
sentence = data_layer(name='sentence', size=WORD_DIM)
emb = embedding_layer(input=sentence, size=64)
conv_3 = paddle.networks.sequence_conv_pool(input=emb, context_len=3, hidden_size=hid_dim)
conv_4 = paddle.networks.sequence_conv_pool(input=emb, context_len=4, hidden_size=hid_dim)

outputs(fc_layer(input=[conv_3, conv_4], siz

[2018-08-27 07:14] lucywsq commented on #12948
您好，请您详细描述待解决问题，并可以将截图附上~

[2018-08-27 07:20] guoshengCS commented on #12922
learning rate的话 optimizer 定义时的 learning_rate 是全局的

[2018-08-27 07:35] luotao1 commented on #12979
GOT it, I will remove these warnings ASAP.

[2018-08-27 07:42] michaelyyq commented on #12819
相同网络v2和fluid版本对应的相同层相同参数的shape不同，怎么转

[2018-08-27 07:51] michaelyyq commented on #12819
如何知道"f.read(16)  # skip header." header大小？v2和fluid都是16吗？

[2018-08-27 08:21] Renwb1991 opened #12986 "载入模型后，在预测过程中，打印出指定层的结果。"
使用 fluid.io.load_inference_model 方法对文件 model 和 params 载入模型时，获得的 program 是否已经确定了需要输出的 fetch_list ？ 我看见了[executor.py](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/evaluator.py)中的 has_fetch_operators 方法， 这里已经指出了每层 op 的desc.type() 了。

我们的需求是：使用 fluid.io.load_inference_model 方法对文件 model 和 params 载入模型后，打印出指定层的结果。

[2018-08-27 08:36] jacquesqiao opened #12987 "分布式还有的一些问题"
1. parallel_executor计算auc的问题
2. pass结束之后，各个trainer之间同步的问题

[2018-08-27 08:38] wfeagle commented on #12922
老模型基于paddle 0.9
[code]

新版本训练：
[code]

[2018-08-27 09:04] wrchow commented on #12973
[code]

[2018-08-27 09:25] seiriosPlus commented on #12986
var = np.array(fluid.global_scope().find_var('map_eval_0_1_accum_true_pos').get_tensor())

[2018-08-27 09:45] wrchow commented on #12973
输入：
火锅店加盟      330519,77103
输出
火锅店加盟      330519,77103    1.00

[2018-08-27 10:31] seiriosPlus commented on #12956
你好， 用的什么版本呢

[2018-08-27 10:32] flyhighzy commented on #12956
使用的版本：docker-hub上的latest-gpu，对应commit id为e8b4e0d627176e4d4028698e48e1d67440913d88

[2018-08-27 11:15] kolinwei opened #12993 "modles下面object_detection模型加上内存优化后loss值的问题"
直接运行的话，前6个batch的loss值如下:
[33.902653, 21.169277, 4.7619048e+17, 15.644569, 15.896453, 15.703316]
加上fluid.memory_optimize(fluid.default_main_program())后，loss值如下:
[3.4568624, 5.215433, 3.7372503, 3.2422652, 3.4842787, 2.9609547]

[2018-08-27 11:25] zzhzz opened #12994 "Python单测check_grad出问题"
自己写了一个operator，完成了反向计算过程
在单测的check_grad中发生如下错误，没有找到修改的头绪
Traceback (most recent call last):
287:   File "/Users/baidu/Documents/Paddle/build/python/paddle/fluid/tests/unittests/test_tree_conv_op.py", line 92, in test_check_grad
287:     self.check_grad(['NodesVector', 'Filter'], 'Out')
287:   File "/Users/baidu/Documents/Paddle/build/python/paddle/fluid/tests/unittests/op_test.py", line 405, in ch

[2018-08-27 11:32] seiriosPlus commented on #12994
加入log相关ENV先定位一下错误的地点。
    export GLOG_v=4
    export GLOG_logtostderr=1

[2018-08-27 11:32] JiayiFeng commented on #12897
将paddle和ocr_recognition都升级到最新代码并重新编译paddle，可以解决这个问题。

[2018-08-27 11:57] #12373 closed, assigned to nobody

[2018-08-27 11:58] #11906 closed, assigned to nobody

[2018-08-27 11:59] #12268 closed, assigned to nobody

[2018-08-27 11:59] #12300 closed, assigned to nobody

[2018-08-27 12:13] Renwb1991 commented on #12986
map_eval_0_1_accum_true_pos 指定是我希望打印的层？

[2018-08-27 12:15] kuke commented on #12082
Closed due to inactivity.

[2018-08-27 12:15] #12082 closed, assigned to nobody

[2018-08-27 12:18] seiriosPlus commented on #12986
指定你希望打印出来的变量。
如：
[code]

可以打印__q_fc__.

[2018-08-27 12:20] gongweibao opened #12996 "Need to add REQUIRED"
https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/external/python.cmake#L21

reference:
https://cmake.org/cmake/help/v3.0/command/find_package.html

And I think we'd better add `message` which prints which python we are using.

[2018-08-27 12:26] luotao1 commented on #12975
请问是单纯的预测时间，还是包括初始化时间呢？独占机器么？

[2018-08-27 12:59] kuke commented on #12214
Closed due to be resolved

[2018-08-27 13:07] kuke commented on #11957
@Caozongkai  I guess it is because the shape of input, i.e. `query_data` is not 2D, please check whether it is true.

[2018-08-27 13:52] lpx1233 commented on #12975
是单纯的预测时间, 单纯调用一条paddle_gradient_machine_forward所占用的时间, 是独占机器

[2018-08-27 14:15] #12288 closed, assigned to nobody

[2018-08-27 15:21] wanghaoshuang opened #13001 "One parameter can`t be optimized by multi-optimizers"
在某些optimizer中，需要为每个parameter[添加一个accumulator](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/optimizer.py#L361), 如下：
[code]
在当前optimizer的实现中（commit 99d3f089201f6967378d2d97b9f0b57ab3bc5a45），`_velocity_acc_str`一般是固定的字符串，并且，还会[check accumulator的命名是否重复](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/optimizer.py#L158), 这就导致不能为同一个parameter创建多个accumulat

[2018-08-27 15:25] WangTaoSpace opened #13002 "求助，fluid中关于boolean类型的操作"
您好，我现在使用了paddle.fluid.layers.logical_not 这个操作 ，返回值为(LoDTensor) n-dim bool tensor. Each element is !!Out = !X!!，我现在需要根据这个返回值统计true的个数，作为反向传播的损失。

[2018-08-28 01:35] gongweibao opened #13007 "Polish transformer unit test"
1. Use fixed data set and fixed random seed to avoid randomness of loss.
1. Use the test dataset to get fixed avg loss.
1. Compare dist avg loss and local avg loss.
1. Use the newest version of the transformer models.

[2018-08-28 01:55] gongweibao opened #13008 "String typo."
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L4454

`lsit => list`

[2018-08-28 02:00] #12861 closed, assigned to nobody

[2018-08-28 02:01] typhoonzero commented on #12487
Closing, this issue have been fixed.

[2018-08-28 02:01] #12487 closed, assigned to chengduoZH

[2018-08-28 02:08] lucywsq commented on #11895
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-08-28 02:09] #11895 closed, assigned to nobody

[2018-08-28 02:11] lucywsq commented on #11896
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-08-28 02:11] #11896 closed, assigned to nobody

[2018-08-28 02:28] lucywsq commented on #11949
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-08-28 02:28] #11949 closed, assigned to nobody

[2018-08-28 02:37] lucywsq commented on #11894
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-08-28 02:37] #11894 closed, assigned to nobody

[2018-08-28 02:54] #12941 closed, assigned to NHZlX

[2018-08-28 02:59] gongweibao opened #13010 "CI agent is unstable."
[code]

[2018-08-28 03:04] guochaorong commented on #13010
which agent?

[2018-08-28 03:06] wfeagle commented on #12922
按照上面的网络结构训练了模型（训练了85轮），精确率和召回如下：
precision:  0.966911764706
recall:     0.292593769866
f1:         0.449243533431
一样的测试数据在老版本的模型上（老版本一共训练了55轮）
precision:  0.964958619475
recall:  0.869565217391
f1:  0.914781737751

新模型的召回率太低率，请问可能是什么原因？

[2018-08-28 03:08] gongweibao commented on #13010
http://ci.paddlepaddle.org/viewLog.html?buildId=5970&buildTypeId=Paddle_PrCi&tab=buildLog

[2018-08-28 03:08] gongweibao commented on #13010
http://ci.paddlepaddle.org/viewLog.html?buildId=5966&buildTypeId=Paddle_PrCi&tab=buildLog

[2018-08-28 03:14] #12072 closed, assigned to nobody

[2018-08-28 03:15] WangTaoSpace commented on #13002
统计其中false的个数

[2018-08-28 03:18] shiyazhou121 opened #13011 "paddle V2的capi的多输入如何写？"
我的网络结构如下：
![image](https://user-images.githubusercontent.com/15082798/44698667-81e5f780-aab3-11e8-8397-3efa0586875c.png)

猜测的代码应该是下边这样的，想问下是这样写的吗？另外想问下mat1 mat2 如何对应到x1 x2。是按顺序排列就行了？
paddle_arguments in_args = paddle_arguments_create_none();
CHECK(paddle_arguments_resize(in_args, 2));

paddle_matrix mat1 = paddle_matrix_create(1, 800, false);
CHECK(paddle_arguments_set_value(in_args, 0, mat1));

p

[2018-08-28 05:19] typhoonzero commented on #12343
最近实测paddlecloud 用flowers跑120 pass没有遇到，训练imagenet数据集目前也没有复现。我再持续跟进下~

[2018-08-28 05:21] kuke commented on #12362
Closed due to be resolved

[2018-08-28 05:21] #12362 closed, assigned to nobody

[2018-08-28 05:40] wfeagle commented on #12922
eval时的代码：
[code]

[2018-08-28 06:34] leyiwang opened #13016 "多标签文本分类，多标签数据类型设置"
已解决，错误是paddle评估指标不支持多标签分类所致。

[2018-08-28 06:46] gongweibao opened #13017 "Move the generated files from source directory to build directory."
paddle/fluid/operators/distributed/send_recv.proto

[2018-08-28 06:55] #13001 closed, assigned to wanghaoshuang

[2018-08-28 07:00] leyiwang commented on #11347
@DTDXG @dzhwinter 有个问题想请教一下，在train_reader函数中，样本多标签train_y是否是29维的向量，如[1,0,1,1,0, 0,...,0]？

[2018-08-28 07:01] WangTaoSpace opened #13019 "统计paddle.fluid.layers.logical_xor结果中false的个数"
需要统计paddle.fluid.layers.logical_xor结果中false的个数，作为loss。

[2018-08-28 07:32] lucywsq commented on #12361
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-08-28 07:32] #12361 closed, assigned to nobody

[2018-08-28 07:41] rationme opened #13022 "求助 卷积初始化报错"
[code]

启动时 会报错

[code]

[2018-08-28 07:43] #13016 closed, assigned to nobody

[2018-08-28 08:36] #12550 closed, assigned to wanghaoshuang

[2018-08-28 08:36] wanghaoshuang commented on #12550
更新到最新paddle后，问题消失了。

[2018-08-28 09:08] wangtao169447 commented on #12078
训练api_train_v2.py的时候提示ImportError: No module named v2

[2018-08-28 09:08] guoshengCS commented on #12922
发现的一些diff是老的配置中 mixed_layer 默认是没有 bias 的，fluid中的fc默认是使用bias的，需要设置 `bias_attr=False`才能和老的配置一致

[2018-08-28 09:18] rationme opened #13025 "请问是否可以从npz中载入模型？"
现在我有pytorch的模型，是否可以通过保存npz文件 来读入pytorch上训练好的模型,或是直接将pytorch模型转化为paddle模型？

[2018-08-28 11:24] ktlichkid commented on #13019
可以先logical not把false变成true，再做reduce sum

[2018-08-28 11:27] ktlichkid commented on #13025
目前paddle对这块的支持尚不完善，不建议使用

[2018-08-28 11:40] WangTaoSpace commented on #13019
谢谢，我详细说一下。我一个训练数据输入是一张图片，图片的的标签是[0,0,1,0,1] ,0和1代表这个位置的类别，这个图片一共是有5个位置点。loss就是：全连接层输出长度为（-1,5）的序列，类型为float32，先和我的标签做异或，然后统计flase的个数值。

我的标签值需要做特殊的处理吗？我做异或的时候出错了

报错信息：EnforceNotMet: Input(Out@GRAD) should not be null at [/paddle/paddle/fluid/operators/elementwise_op.h:123]

[2018-08-28 11:41] #13002 closed, assigned to nobody

[2018-08-28 11:42] ktlichkid commented on #13022
这个错误似乎是filter_size或者num_channels里面有负数导致的，建议把这几个参数输出来仔细看看究竟是哪个量为负了

[2018-08-28 11:47] rationme commented on #13022
这个问题我以及解决了,原因是对paddle,data层四个维数的误解。
但是想请问,是否可以将W和H设为None，来做全卷积的网络。我之前设置为None,运行时会提示我卷积后结果长宽小于0

[2018-08-28 11:55] WangTaoSpace commented on #13019
我自定义的训练数据的单个标签维度：(3136,)
一个图片，我定义的位置有3136个。
下面是产生loss的代码，
image = fluid.layers.data(name='image', shape=data_shape, dtype='float32')
y = fluid.layers.data(name='y', shape=[3136], dtype='float32')
input_image = model.net(image)
loss1 = fluid.layers.reduce_sum(fluid.layers.logical_not(fluid.layers.logical_xor(input_image,y)))
loss = fluid.layers.sqrt(loss1)

[2018-08-28 12:15] youngstu opened #13029 "怎样打印 loDTensor 内容？"
('====result: ', <paddle.fluid.core.LoDTensor object at 0x7f8aa8056300>)

怎样打印 loDTensor 内容，或者把loDTensor 转换为其他类型如numpy, loDTensor 有哪些属性和方法？

[2018-08-28 12:20] youngstu commented on #13029
why fluid does not have such as torch.from_numpy() 和 tensor.numpy() 类似轻便的方法。

[2018-08-28 12:50] zzhzz opened #13031 "如何获取CUDA上的Tensor中的值？"
我使用类似CPU的手段：
[code]
类似这样的手段，但是运行时报了SEGFAULT。我不是太会使用CUDA，请问这个该怎么办呢

[2018-08-28 12:54] tensor-tang opened #13032 "CPU performance drop when GPU enabled"
最近测试analyer_test的时候发现， 编译了GPU的Paddle比纯CPU的Paddle 速度下降约45%。

比如在 ef2da86	1.35305 => 1.97693

[2018-08-28 12:59] ktlichkid commented on #13029
有两种方法，一种是用layers.Print直接Print
另一种是把lod tensor作为网络的输出fetch出来，然后 numpy.array(lod_tensor), 就能转成numpy array

这确实是很常用的操作，但我们在文档中没能很好地讲解这些方法，导致了不必要的误解。我们会在今后的版本中强化这一块的文档，让用户可以更加清晰地使用这些操作。

[2018-08-28 13:05] ktlichkid commented on #13031
如果tensor在GPU上，那最好是在GPU kernel里面处理这个data。比如你可以看看lstm_unit.cu这个文件

[2018-08-28 13:10] yuanxiangxie commented on #9882
@HugoLian Hi 你好，我现在也有这个需求，但是我采用slope之后遇到训练信息无输出的情况(https://github.com/PaddlePaddle/Paddle/issues/12850#issuecomment-414933643)，请问你遇到了吗？ paddle v2版本

[2018-08-28 15:06] dzhwinter commented on #13031
需要先调用TensorCopy，拷贝到CPU上，然后wait一下。参考lod_tensor_test，里面有所有的测试用例

[2018-08-28 23:47] rulai-huiyingl opened #13034 "每个batch 用指定的数据update指定层的参数"
两个数据不同的task共享网络的底层参数，但是有不同的上层和损失函数.
能否做到，在每一个batch,sample一个task，用这个task的batch数据update底层共享和上层独有的参数.
也就是每一个batch的训练数据，loss和要update的参数都可能是不一样的．
谢谢！

[2018-08-28 23:54] rulai-huiyingl commented on #13034
请问在v2上能不能实现，谢谢！

[2018-08-29 01:29] gongweibao opened #13035 "Nccl2 implemention check num_trainers."
[code]

[2018-08-29 02:38] ccmeteorljh opened #13036 "grpc socket closed"
paddle版本：0.15
模型：se-resnext
运行环境：多机单卡
cloudjob：
http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5b84eb93bf1e0&flag=jobs&groupName=k8s_gpu_demo&groupId=c0a1f165-6279-5320-b9e7-e0218c7a87f5&currentPage=1&currentKey=1
一个trainer报错如下:
[code]

[2018-08-29 02:52] #12897 closed, assigned to nobody

[2018-08-29 03:09] kolinwei opened #13037 "model下面ocr_recognition使用attention_train_net加内存优化报错"
单卡时没问题，多卡时报下面错误
[code]

[2018-08-29 03:14] zzhzz commented on #13031
CUDA上面的Tensor可以在GPU kernel中使用mutable_data吗 @ktlichkid

[2018-08-29 03:16] zzhzz commented on #13031
比如我临时创建了一个Tensor，期望GPU将计算结果放在这个Tensor里面。如果是CPU的话需要使用mutable_data获取一个可分配的空间，GPU上也是这么做吗？在CPU上直接使用mutable_data然后将数据指针传送到GPU kernel中可以吗？

[2018-08-29 03:19] Tristan-Hao opened #13038 "存Batch Norm时，无法只计算forward-backward，但不更新参数"
当model中存在Batch Norm时，希望只计算forward-backward，但不更新参数,只计算input的梯度。
      param_grads = fluid.backward.append_backward(
          loss, parameter_list=[self._input_name])
      self._gradient = filter(lambda p: p[0].name == self._input_name,
                              param_grads)[0][1]

现在的现像是，非is_test模式下，可以计算梯度，但参数都被更新，相当于正常训练模式。
is_test模式下，参数不会被更新，但无法计算梯度，只能预测。
请确认和支持该能力。谢谢

[2018-08-29 03:22] #13007 closed, assigned to nobody

[2018-08-29 03:32] luotao1 commented on #12975
- 请问是CPU预测（MKL还是OpenBlas）还是GPU预测？
- 请问和样本有关系么，某些样本特别耗时？看配置应该是序列模型，是不是有些样本特别长，导致预测时间暴增。

[2018-08-29 03:38] luotao1 commented on #13011
- 上面的代码是正确的。
- 按照C++的input顺序排列。

[2018-08-29 04:02] kolinwei opened #13041 "多机同步时如果reduce_strategy使用fluid.BuildStrategy.ReduceStrategy.Reduce报错"
[code]

[2018-08-29 04:17] kolinwei opened #13042 "多机训练image_classification时，如果打开内存优化报错"
Traceback (most recent call last):
  File "dist_image_classification.py", line 139, in <module>
    runtime_main(TestDistImageClassification)
  File "/work/weike/svn/baidu/paddle/test/cts_test/dist_base.py", line 243, in runtime_main
    model.run_trainer(endpoints, trainer_id, trainers, run_params)
  File "/work/weike/svn/baidu/paddle/test/cts_test/dist_base.py", line 176, in run_trainer
    buil

[2018-08-29 05:20] shiyazhou121 commented on #13011
@luotao1 是按照python里定义的顺序吗？ 比如上面的python里x1，x2调换位置，变成x2, x1 ，在c++中就要改成下面的吗？
paddle_arguments in_args = paddle_arguments_create_none();
CHECK(paddle_arguments_resize(in_args, 2));

paddle_matrix mat1 = paddle_matrix_create(1, 384, false);
CHECK(paddle_arguments_set_value(in_args, 0, mat1));

paddle_matrix mat2 = paddle_matrix_create(1, 800, false);
CHECK(paddle_arguments_set_value(in_args, 1, mat2));

[2018-08-29 05:23] luotao1 commented on #13011
按照C++的input顺序，大部分情况下和python定义的顺序是一样的。

[2018-08-29 05:27] duanlin0505 commented on #10074
https://github.com/PaddlePaddle/book/issues/610

[2018-08-29 05:27] duanlin0505 commented on #10074
使用的就是https://github.com/PaddlePaddle/book/blob/develop/README.md 的方法，有相同的问题

[2018-08-29 05:29] #12871 closed, assigned to luotao1

[2018-08-29 05:40] kolinwei commented on #12993
ocr_recognition也有类似的问题

[2018-08-29 05:48] zzhzz commented on #13031
还有一个问题：如果我想在GPU kernel中使用BLAS的Matmul函数，是否可以直接调用？有没有可供参考的例子

[2018-08-29 06:16] #12994 closed, assigned to seiriosPlus

[2018-08-29 06:16] #12888 closed, assigned to nobody

[2018-08-29 06:17] #12879 closed, assigned to nobody

[2018-08-29 06:17] #12799 closed, assigned to guoshengCS

[2018-08-29 06:17] ccmeteorljh opened #13044 "run start_program 报：holder_ should not be null"
paddle version:0.15.0
运行环境：多机单卡
运行命令：
[code]
报错如下：
[code]

[2018-08-29 06:18] #12731 closed, assigned to typhoonzero

[2018-08-29 06:22] shiyazhou121 commented on #13011
@luotao1 还是有些疑惑，1.C++的input顺序是指(paddle_arguments_set_value(in_args, xxxxx, mat2)中的xxxxx吗？ 2.大部分情况和python顺序是一样的，，感觉很玄学啊。。有没有类似feeding来保证输入的连接？？

[2018-08-29 06:55] luotao1 commented on #13011
可以参考类似问题 https://github.com/PaddlePaddle/Paddle/issues/12014#issuecomment-403453631
v2的CAPI目前没有feeding来保证输入的链接。

[2018-08-29 07:09] velconia commented on #13031
可以参考 operators/math/blas_impl.h

[2018-08-29 07:46] seiriosPlus commented on #12956
收到，这个问题我本地定位一下。

[2018-08-29 07:56] shiyazhou121 commented on #13011
@luotao1 看了你发的其他人的问题和答案。
找到保存的模型目录下inputs的protobuf文件
用工具把protobuf的内容打印出来查看inputs的先后顺序
对应调整 c++里的input 的先后顺序

我的保存模型是merge_v2_model保存的，可以用上面说的工具吗？还有上面说的工具在哪里可以找到

[2018-08-29 08:11] kolinwei opened #13046 "model下面mnist优化函数使用fluid.optimizer.DecayedAdagradOptimizer时，如果加上内存优化，训练的loss值异常"
不加内存优化时，前6个batch的loss值为：
[2.3050585, 4.64196, 2.0815804, 2.0276387, 2.0014627, 1.6691642]
加上fluid.memory_optimize(fluid.default_main_program())后，为：
[2.3050585, 2.3096275, 5.387212, 35.37569, 33.65272, 29.050358]

[2018-08-29 08:49] tensor-tang commented on #13032
timeline 出来发现iteration直接的间隙特别大，GPU的时候更加明显

[2018-08-29 08:58] lpx1233 commented on #12975
CPU预测, 用的mkl版本

据我测试与样本长度无关, 经常出现同一长度样本预测时间相差100倍(0.3ms vs 30ms)的情况

[2018-08-29 09:05] luotao1 commented on #12975
可以试试`export MKL_NUM_THRADS=1`

[2018-08-29 09:05] #12963 closed, assigned to typhoonzero

[2018-08-29 10:02] rationme opened #13050 "How to use conv_op?"
'EnforceNotMet: enforce in_dims.size() == filter_dims.size() failed, 4 != 1
Conv input dimension and filter dimension should be the same. at [/paddle/paddle/fluid/operators/conv_op.cc:49]'

when i run my code
`main_program, feed=feeder.feed(data),fetch_list=[l2_cost])`
and
`def CSRNet(input,label):
    def conv_block(ipt, filter_list,pool_size = 2):
        return fluid.nets.img_conv_group(

[2018-08-29 10:30] lpx1233 commented on #12975
`export MKL_NUM_THREADS=1`之后就正常了, 预测时间不再有跳变
谢谢同学, 辛苦解答了~

[2018-08-29 10:37] nemo9903 commented on #10727
顶一下

[2018-08-29 11:11] #12975 closed, assigned to luotao1

[2018-08-29 12:08] velconia commented on #13050
Could u please print the ```filter_list``` out, it seems that the input filter's dims were incorrect

[2018-08-29 12:27] ws441572091 opened #13054 "以字符为单元做CNN"
你好，看了教程CNN的文档，以词为单元对句子进行CNN（输入为一个词的emb，长度默认为lod_tensor长度） 处理lod_level =1

words = [1,2,3]

data = fluid.layers.data( ame="words", shape=[1], dtype="int64", lod_level=1)

emb = fluid.layers.embedding(input=data, size=[input_dim, emb_dim], is_sparse=True)

seq_conv = fluid.nets.sequence_conv_pool(input=emb,
                                         num_filters=hid_dim,

[2018-08-29 12:41] TomorrowIsAnOtherDay commented on #12568
@JiayiFeng
@wanghaoshuang
咨询下代码merge的进度如何了呢？请两位review下这个PR哈
https://github.com/PaddlePaddle/Paddle/pull/12588

[2018-08-29 13:03] kolinwei opened #13055 "model下rnn_search模型，多机运行时报错"
Traceback (most recent call last):
  File "dist_rnn_search.py", line 141, in <module>
    runtime_main(TestDistRnnSearch)
  File "/work/weike/svn/baidu/paddle/test/cts_test/dist_base.py", line 246, in runtime_main
    model.run_trainer(endpoints, trainer_id, trainers, run_params)
  File "/work/weike/svn/baidu/paddle/test/cts_test/dist_base.py", line 142, in run_trainer
    train_prog = t.get_train

[2018-08-29 13:13] dzhwinter opened #13056 "windows nvcc conflict with msvc compiler. A compiler error caused by msvc implement flaw."
[code]

[2018-08-29 13:36] wfeagle commented on #12922
增加读取参数的部分在utils.py
[code]
训练的代码：
[code]

[2018-08-29 13:40] ccmeteorljh opened #13057 "多机下经常碰到OS Error"
多机同步，异步都经常在启动时碰到这个问题，有时设置trainer先sleep 30s也不行
[code]

[2018-08-29 14:39] youngstu opened #13059 "fluid/core.so: undefined symbol: mkldnn_softmax_backward_desc_init"
[code]
说明：
1. 使用 paddLe 官网docker gpu 环境编译
2. paddle code clone from github develop 分支
3. 在本地编译完成后，在服务器上部署，python -c "import paddle.fluid"， 出错

[2018-08-29 17:49] hdjsjyl opened #13061 "pip2能安装paddle，pip3安装不了？"
pip2 install paddlepaddle-gpu and一切正常；pip3 install …… 显示无法找到要求的包，这是什么原因？

[2018-08-29 17:57] hdjsjyl commented on #13061
找到回答了, 确实还不支持!

[2018-08-29 18:58] hdjsjyl opened #13062 "使用命令"pip install paddlepaddle-gpu" for CUDA9, 但是自动安装的版本是paddlepaddle-gpu-0.14.0.post87, 这个是cuda8的版本, 怎么办?"
使用命令"pip install paddlepaddle-gpu" for CUDA9, 但是自动安装的版本是paddlepaddle-gpu-0.14.0.post87, 这个是cuda8的版本, 怎么办?

[2018-08-30 01:18] bBobxx opened #13064 "AI studio中， fluid GPU训练报错，CPU下可以运行, 报错显示resize_bilinear处错误"
你好，最近用baidu ai studio `平台训练模型，在cpu模式下可以正常运行，但是换到gpu下就直接报如下错误：
[code]
我的训练代码在这里：[https://github.com/bBobxx/paper_18/blob/master/src/base_network.py](https://github.com/bBobxx/paper_18/blob/master/src/base_network.py)
我的环境是baidu AI studio提供的kernel, paddlepaddle版本是0.12.0, paddlepaddle-gpu 是0.14.0, cuda是8.0, cudnn是5.0，提供的gpu是TITAN X (Pascal)，驱动版本是375.26.
请问这是什么原因导致的？看我的错误中好像和fluid.layers.resize_biline

[2018-08-30 02:12] ws441572091 commented on #13054
根据值班同学回答修改lod_level报错：
例如一个chars = [[37, 57], [6, 0, 61, 0, 11, 2, 7]]
但是怎么设置cnn只在词的维度呢
如果简单设置lod_level = 2

    chars = fluid.layers.data(
            name = 'chars',shape=[1],dtype= 'int64',lod_level=2)

    emb_chars = fluid.layers.embedding(
            input = chars,size = [len(char_dict),50],is_sparse=True)

    seq_conv = fluid.nets.sequence_conv_pool(input = emb_chars,
            num_filt

[2018-08-30 02:30] Renwb1991 commented on #12986
模型是别人给定的，我们只是进行 infer，并拿到指定层的中间结果。
使用 ```var = np.array(fluid.global_scope().find_var('map_eval_0_1_accum_true_pos').get_tensor())``` 的过程中， ```fluid.global_scope().find_var('XXX')``` 返回的类型可能为````None``.

现在遇到的问题好像是：
1. 对参数层是 ```fluid.global_scope().find_var('XXX')``` 都返回 ```Variable```,   能够打印。例如:
 -  ```resnet_v1_50_block1_unit_1_bottleneck_v1_shortcut_BatchNorm_FusedBatchNorm_variance```
 -  ```

[2018-08-30 02:43] bhan1111 opened #13066 "pserver启动时报Segmentation fault"
paddle版本fluid0.14.0 在paddlecloud上提交任务
这是任务链接：
http://10.182.9.30:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20180829155629-5040/
其中看pserver.log 提示段错误， 不知是什么问题

[2018-08-30 03:45] zzhzz opened #13067 "Operator测试test_grad报错"
错误栈信息如下，请问如何解决？

[code]

[2018-08-30 03:59] zzhzz commented on #13067
尝试Concat了dim为(0, 30）的Tensor

[2018-08-30 04:02] zzhzz commented on #13067
该问题只在GPU下出现，疑似ConcatFunctor CUDA实现的BUG。

[2018-08-30 04:37] reyoung commented on #13067
我们现在立刻看一下，稍等

[2018-08-30 04:46] chengduoZH commented on #13067
@zzhzz 请问您的dim怎么会是(0, 30)呢？因为Tensor中element的个数是dim中各个维度的乘积，如果dim是(0, 30)，那么Tensor中element的个数就是0了。

[2018-08-30 04:47] zzhzz commented on #13067
手动make_ddim的结果，我想padding数据

[2018-08-30 04:51] chengduoZH commented on #13067
那您可能需要使用padding操作 而不是concat，这里有padding的functor，您可以参考一下，https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/math/padding.h

[2018-08-30 05:22] #13067 closed, assigned to reyoung, chengduoZH

[2018-08-30 05:53] xuezhong commented on #13054
这种在char和word粒度进行cnn的做法，建议是分两个粒度上独立的cnn去做。如果word 的embedding的想通过char粒度的embedding 通过pooling得到，则需要自己构建lod信息，用新的lodtensor再cnn

[2018-08-30 06:49] calm736 opened #13069 "softmax分类器训练报错"
写了一个softmax用于对数据进行分类训练，一直报错，辛苦大佬们帮忙看看问题在哪儿
代码：
# coding=utf-8
import numpy as np
import cPickle
import sys
import json
import paddle.v2 as paddle

# 生成train_reader
def trainReader(trainFilePath):
    def reader():
        with open(trainFilePath,'r') as f:
            lines = [line.strip() for line in f]
            for line in lines:
                item = line.strip().split('\t')#一条数据

[2018-08-30 07:00] jacquesqiao commented on #13055
这个是print(program)挂了是吧

[2018-08-30 07:01] jacquesqiao commented on #13055
我们的program有时候有些filed没有填完整，会导致这个问题，可以试试不加print

[2018-08-30 07:17] xuezhong commented on #13069
https://github.com/PaddlePaddle/Paddle/issues/12967 先看fluid版本上面的问题

[2018-08-30 07:18] kolinwei commented on #13055
没有加print呀

[2018-08-30 07:25] typhoonzero commented on #13057
还是 Server先挂了么？

[2018-08-30 07:30] Renwb1991 opened #13071 "save_inference_model target_vars 问题"
你好，我从[官网](http://paddlepaddle.org/)下载了入门案例，然后将其中的一句
```fluid.io.save_inference_model(save_dirname, ['x'], [y_predict], exe)```
更改为
```fluid.io.save_inference_model(save_dirname, ['x'], [y_predict, avg_cost], exe)```。

再执行，居然报错了。错误信息如下：
[code]

[2018-08-30 07:43] wfeagle opened #13072 "paddle.v2(0.11.0) lstmemory报错不支持drop_rate,但是看文档是可以的"
File "/home/disk1/wangfang20/paddle/TopicModel_paddle.0.11.0/nets.py", line 125, in bilstm_net
    layer_attr=paddle.attr.Extra(drop_rate=dropout_rate))
  File "/home/disk1/wangfang20/software/python27-gcc482/lib/python2.7/site-packages/paddle/v2/config_base.py", line 52, in wrapped
    out = f(*args, **xargs)
  File "/home/disk1/wangfang20/software/python27-gcc482/lib/python2.7/site-packages/padd

[2018-08-30 07:50] typhoonzero commented on #13055
是transpile内有一个强制serilize的hack，在`get_trainer_program`，需要去掉这个hack。

另外这个问题应该是模型的配置会触发的transpile的bug。这个模型的case需要增加到单测

[2018-08-30 08:14] jacquesqiao opened #13073 "slice_var_up = False的时候，如果某些pserver没有分配到 参数，可能会挂"

[2018-08-30 08:19] jacquesqiao commented on #12921
考虑使用fluid么？

[2018-08-30 08:19] xuezhong commented on #12967
reader=train_reader,
 feed_order=['tid', 'label'])  这个地方有问题 reader返回的数据和feed_order 必须一一对应

[2018-08-30 08:20] velconia commented on #13038
请问为什么会有这样的需求呢? 是为了debug吗? 如果是为了打印参数, 建议使用```print_op```, 如果不更新参数做法会比较Hack

[2018-08-30 08:20] typhoonzero commented on #13044
使用 PR https://github.com/PaddlePaddle/Paddle/pull/12305 中 新的fluid_benchmark.py，
- 修改使用with guard将transpile扩起来
- 修改`if args.gpus >= 1 and os.getenv("PADDLE_TRAINING_ROLE") == "TRAINER":`，

按照上述命令并未复现。

详细方法：在一台物理机上模拟多机单卡，

pserver.sh:

[code]

trainer.sh

[code]

[2018-08-30 08:21] velconia commented on #13034
请问方便提供下代码吗? 建议使用```Fluid```来做这件事, 会更灵活一些

[2018-08-30 10:11] xuezhong commented on #13071
cost在预测网络不能计算，因为预测的时候没有label

[2018-08-30 11:43] yangperasd commented on #13061
paddlepaddle目前不支持python3，只支持python2.
所以不能使用pip3安装。

[2018-08-30 12:34] #13071 closed, assigned to xuezhong

[2018-08-30 12:38] #13072 closed, assigned to shanyi15

[2018-08-30 12:41] xuezhong commented on #13064
你好 把复现的环境补充下吧

[2018-08-30 12:41] ccmeteorljh commented on #13036
cloud的同学帮忙看了下，说是pserver的机器挂了，导致任务失败，而且pserver挂之前的日志也找不到了

[2018-08-30 12:45] xuezhong commented on #13069
fluid版本是数据没有加batch 这个问题暂时不追查了

[2018-08-30 12:45] #13069 closed, assigned to xuezhong

[2018-08-30 12:52] xuezhong commented on #13062
试下指定安装版本 pip install  paddlepaddle-gpu==0.14.0 更多参考http://www.paddlepaddle.org/documentation/docs/zh/0.14.0/new_docs/beginners_guide/install/install_doc.html

[2018-08-30 12:53] hdjsjyl commented on #13062
@xuezhong  这个版本也试了, 还是不work

[2018-08-30 12:54] hdjsjyl commented on #13062
@xuezhong  用docker就可以

[2018-08-30 12:54] ktlichkid commented on #13019
麻烦贴一下完整的code和报错信息，这个报错是说反向计算梯度时element_wise_op有variable的梯度没找到。从你提供的代码中看不到element_wise_op的使用

[2018-08-30 12:55] xuezhong commented on #13054
http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#dynamicrnn  可以利用dynamicrnn将lod层次拆解在做cnn

[2018-08-30 13:00] ktlichkid commented on #13031
基本上你只有两种选择：
1. 单独为你的op写一个GPU kernel，可以参考operator路径下的诸多.cu文件
2. 用TensorCopy将tensor拷贝到CPU上处理

[2018-08-30 13:01] zzhzz commented on #13031
我知道了

[2018-08-30 13:01] #13031 closed, assigned to nobody

[2018-08-30 13:01] wfeagle opened #13084 "paddle 0.11.0 预测初始化报错"
初始化报错paddle.init(use_gpu=False, trainer_count=1)
如下：
File "infer.py", line 49, in infer_net
    **paddle.init(use_gpu=False, trainer_count=1)**
  File "/home/disk1/wangfang20/.jumbo/lib/python2.7/site-packages/paddle/v2/__init__.py", line 128, in init
    import py_paddle.swig_paddle as api
  File "/home/disk1/wangfang20/.jumbo/lib/python2.7/site-packages/py_paddle/__init__.py", line 15, in <modul

[2018-08-30 13:03] xuezhong commented on #13084
麻烦补充下复现的环境和代码

[2018-08-30 13:08] WangTaoSpace commented on #13019
我没有使用element_wise_op，这是个op吗？在fluid.layers中也找不到呀。

[code]

图片的标签是我自己生成的 （3136，）维度的np.array,里面都是 0和1
大佬能加你个qq吗？真的喜欢深度学习呀，多了解下，这个问题

[2018-08-30 13:14] WangTaoSpace commented on #13019
报错信息：
[code]

[2018-08-30 13:19] bBobxx commented on #13064
@xuezhong  您好，我用的是baidu AI studio提供的kernel, paddlepaddle版本是0.12.0, paddlepaddle-gpu 是0.14.0, cuda是8.0, cudnn是5.0，提供的gpu是TITAN X (Pascal)，驱动版本是375.26.

[2018-08-30 14:07] xuezhong opened #13085 "ctr模型deep+wide，使用的demo数据，为什么评估指标没有打印出来呀？"
https://github.com/PaddlePaddle/models/tree/develop/ctr 线上代码  可复现

[2018-08-30 14:08] RayLiu2015 opened #13086 "编译错误"
在只有CPU 的 ubuntu 16.04 机器上使用文档中的命令通过源码编译:
![image](https://user-images.githubusercontent.com/13360993/44856864-182b4080-aca1-11e8-80d5-c7de1d5352ca.png)

尝试编译了很多次, 依旧报错, 最终的报错信息为:
![image](https://user-images.githubusercontent.com/13360993/44856915-35600f00-aca1-11e8-8aba-dee9306f7c5c.png)
哪位同学帮忙看下怎么解决呀 ?

[2018-08-30 14:12] xuezhong opened #13087 "train的过程完成后，应该是要执行test的过程，就一直卡着不动"
http://10.76.135.21:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20180830134756-2768/

日志和网络配置
/workspace/log/train.log
workspace/conf/trainer_config.conf

![image](https://user-images.githubusercontent.com/12216764/44857094-a56e9500-aca1-11e8-9cbf-e01b1c366013.png)

伍永超
也出现了类似的问题，不过我的是在训练前就hang住了，之前怀疑没有读入数据，后来发现实际上读了数据，但是就是迟迟不打印训练日志，不知道咋回事。
trian.log￼

[2018-08-30 15:53] dzhwinter commented on #13037
ShrinkRNNMemoryOp写错了

[2018-08-31 01:11] yma-admin commented on #13055
有没有对这个问题的系统解决方法？

[2018-08-31 01:41] xiaolv3366 commented on #12263
PaddlePaddle V2版本实现L1正则化吗？@wanghaoshuang

[2018-08-31 01:43] xiaolv3366 commented on #12470
CRF条件随机场都不支持GPU训练？这个应该要支持的。

[2018-08-31 02:00] Renwb1991 commented on #12986
重新说下需求，**在保存完一份模型后（包含参数和graph结构），期望能够：**
1. 在预测的过程中，能够输出最终的结果。
2. 在预测的过程中，能够输出指定层（可以不在 fetch_list 中）的中间结果。
3. 能够将参数载入到模型中，从而进行 finetuning 训练。**[非必需，做到做好]**

[2018-08-31 02:53] ktlichkid commented on #13019
我比较怀疑是loss1计算那一行，input_image有梯度而y没有梯度，但logical_xor不知道这点。你先把loss计算改成其他形式看看能跑通不能，比如cross_entropy之类的。没有完整的code我也没有办法提供更多的建议了。另外可以试试在y的定义下面加一行y.stop_gradient = False

[2018-08-31 02:58] WangTaoSpace commented on #13019
麻烦了，我找到问题了，是我的网络结构特征深度有问题，导致无法计算loss。

再请教一个问题。对于这个回归问题，我如何把全连接层的输出，转化成我上面提到的0,1 序列。我的思路是，设置阈值，用来判断为0或者为1，paddlepaddle中有现成的方法吗？

[2018-08-31 02:59] wanghaoshuang commented on #13022
@rationme 不能把data layer的W和H设置为None. 如果你的输入图片大小是未知的，可以设置H和W为任意正整数，计算的时候会按照实际大小进行计算。

[2018-08-31 03:00] WangTaoSpace commented on #13019
我的qq:874423745

[2018-08-31 03:02] jacquesqiao commented on #13055
我们的python layer实现现在是缺乏单测的，完善layer单测可以解决这个问题。

[2018-08-31 03:06] Superjomn commented on #13059
可编译时可以设置 CMAKE开关

[code]

来去掉 mkldnn

[2018-08-31 03:08] youngstu commented on #13059
但是，关掉该选项，就不能使用mkldnn 加速库了吧。

[2018-08-31 03:09] #13041 closed, assigned to typhoonzero

[2018-08-31 03:13] Superjomn commented on #13059
mkldnn 现在只能在有限几个模型上加速，可以先关了

[2018-08-31 05:13] rationme commented on #13022
目前我看了git的源码,发现在1.2.0版本 有个dense_slot在注释中写到可以支持变长数组。
但是我写了如下代码
`paddle.v2.layers.data(...,datatype = paddle.v2.pydp2.dense_slot(Input_dim),height = 1024,width = 1024)`
依旧会去检查我输入和data层设定大小的关系？

[2018-08-31 06:08] ws441572091 opened #13103 "请问使用fluid.Trainer构建网络如何加载预训练数据"
查看教程文档加载预训练emb用这种方式
    def train_loop(main_program):
        exe.run(fluid.default_startup_program())
        embedding_param = fluid.global_scope().find_var(
            embedding_name).get_tensor()
        embedding_param.set(
            load_parameter(conll05.get_embedding(), word_dict_len, word_dim),
            place)
我使用的Trainer构建网络
![image](https://user-images.githubusercontent.com/357208

[2018-08-31 06:09] rulai-huiyingl commented on #13034
@velconia 谢谢回复！因为版本限制暂时只能用v2.
没有代码呢，因为用v2不知道实现这个怎么下手，trainer只有cost这个kwarg可以接受一个或者多个loss,没有看见其他可以变动的东西，我至少希望可以每个batch的loss函数不一样
是否可能在event_handler enditeration里面做一些操作达到效果？

[2018-08-31 06:46] xiaolv3366 opened #13105 "训练CTR模型，发生错误：Matrix.cpp:653] Not supported"
使用GPU训练CTR模型，发生错误：Matrix.cpp:653] Not supported。
使用CPU训练没有问题，CTR模型用CPU训练很慢，用GPU训练有没有解决办法？
![image](https://user-images.githubusercontent.com/12287110/44896949-8ec15000-ad2c-11e8-8b20-59f250780f6c.png)

[2018-08-31 06:48] xiaolv3366 commented on #13105
PaddlePaddle一定要支持GPU训练CTR模型，有没办法解决？

[2018-08-31 07:07] sneaxiy commented on #13103
从log上看应该是`embedding_name`不对，建议检查下保存的模型里的`embedding_name`是否与load时一致。

[2018-08-31 07:19] sneaxiy commented on #13103
`scope.find_var()`在变量不存在时会返回`None`。可改用`scope.var()`，这个API在变量不存在的时候会创建之。

[2018-08-31 07:19] #13103 closed, assigned to nobody

[2018-08-31 07:39] jacquesqiao commented on #13057
目前出现这个问题主要是因为 trainer端启动的时候，pserver还没启动起来，不知道是不是启动的时候报错的？

[2018-08-31 07:47] ccmeteorljh commented on #13057
加了pserver端口检测后，目前已跑了4次job，还未出现，后续再验证下

[2018-08-31 07:56] tpatejko opened #13109 "Documentation on framework IR infrastructure"
I'm looking at the framework IR and graph infrastructure.

I would like to know how these passes are run. I can see that API for registering passes but I would like to know how to execute them.

[2018-08-31 08:22] wojtuss opened #13110 "magic numbers"
What these numbers mean? There is no comment on that:

https://github.com/PaddlePaddle/Paddle/blob/c709a04ae22cd848f50a11737bdb3af24eabbe1e/paddle/fluid/framework/ir/fc_lstm_fuse_pass.cc#L27

[2018-08-31 08:32] typhoonzero opened #13111 "Build target tensorrt sometimes fails, reporting mkldnn.hpp: No such file or directory"
[code]

[2018-08-31 08:35] sneaxiy commented on #13105
我看代码里面是因为transpose的矩阵乘法在GPU上不支持，您可以先将矩阵transponse后再进行矩阵乘法计算。

[2018-08-31 08:40] luotao1 commented on #13111
The reason is that in release/0.15.0, `tensorrt_engine` not depends on `device_context`.
https://github.com/PaddlePaddle/Paddle/blob/ec9eb220f647f1f39a360ca4094940b05fe9f68c/paddle/fluid/inference/tensorrt/CMakeLists.txt#L1

[2018-08-31 08:50] luotao1 commented on #13110
These numbers mean the node ID in the ditu-rnn demo. We will remove these hard-coding ASAP.

[2018-08-31 09:03] typhoonzero opened #13114 "Add scripts and document for a simple start up distributed training using fabric or AWS"
We need to port those scripts using fabric or AWS client to create a distributed job with simple commands.

[2018-08-31 09:09] yangperasd opened #13117 "Bug in parallel Inference in Python Fluid v0.14.0"
I found a bug in doing inference in parallel.
Some info about this Bug:

Some info about my env:
paddlepaddle: 0.14.0
system: Ubuntu 14.04
python: 2.7

Some code to reproduce this bug.
The main code is borrowed from recognize_digits in  paddlepaddle book except  line 133.
https://github.com/PaddlePaddle/book/blob/2b81d844673c1ba09fd596d70492375f2998ad36/02.recognize_digits/train.py#L133
`
place=pl

[2018-08-31 09:17] ws441572091 commented on #13054
根据值班同学回答
拆2维为1维的一个办法是用DynamicRNN

    chars = fluid.layers.data(
            name = 'chars',shape=[1],dtype= 'int64',lod_level=2)
    drnn = fluid.layers.DynamicRNN()
    with drnn.block():
        word = drnn.step_input(chars)
        emb_chars = fluid.layers.embedding(
                input = word,size = [len(char_dict),50],is_sparse=True)
        seq_conv = fluid.nets.sequence_conv_pool(input =

[2018-08-31 09:19] ws441572091 commented on #13054
经过检查输出rnn_out结果貌似正常
rnn_out        Tensor[array_to_lod_tensor_0.tmp_0]
    shape: [12,200,]
    dtype: f
    LoD: [[ 0,3,12, ]]
值班同学怀疑是一些op在反向上的问题

[2018-08-31 09:23] #12343 closed, assigned to velconia, wanghaoshuang, typhoonzero

[2018-08-31 09:25] ws441572091 commented on #13054
配置环境变量env GLOG_logtostderr=1 GLOG_vmodule=operator=10
截取两段输出

[code]

可以发现Op(lstm_grad)时后面的output中的{}丢失了lod的信息，为空
根据值班同学讲许多Op都会存在这个问题，丢失lod信息，导致反向时不能将lod信息传回去，这个问题正在修改中
目前判断在字符粒度做了cnn再以词粒度做lstm不能反向传播lod信息给cnn导致错误

[2018-08-31 09:49] wojtuss commented on #12413
@guoshengCS, thanks for your help!

[2018-08-31 09:50] #12507 closed, assigned to luotao1

[2018-08-31 09:50] #12413 closed, assigned to luotao1

[2018-08-31 10:45] NHZlX opened #13120 "Fix tensorrt subgraph bug."
Suppose we have a graph G.  The G can be describe as follows:
`A -> B -> C,  A -> D -> C`.    There are 4 nodes in the graph. We suppose that `A, B, C `can be convert to tensorrt nodes.  According to the algo we support now, A, B, C will be merged into a subgraph SubG. So, the result graph will be` SubG -> D, D-> SubG`, there will be a cycle here.

To prevent the occurrence of the above situation,

[2018-08-31 11:16] xiebaiyuan opened #13123 "an high performance issue in prelu_op.h#L44"
https://github.com/PaddlePaddle/Paddle/blob/c108376506faa8c51f489a4c1e658a446424453a/paddle/fluid/operators/prelu_op.h#L44

this expression that on L44 of prelu_op.h :
(temp = numel / (dim[0] * dim[1]);）
can be moved out of for loop  to  improve performance

[2018-08-31 12:14] sneaxiy commented on #13086
麻烦提供完整的编译安装环境，如gcc版本，cmake版本，protobuf版本等

[2018-08-31 12:25] tpatejko commented on #13109
One more question: what's the difference between graph infrastructure in `fluid/framework/ir` and `fluid/inference/analysis`?

[2018-08-31 12:34] JiabinYang commented on #13086
请使用gcc5.4，cmake3.4进行make 和cmake

[2018-08-31 13:27] luameows opened #13129 "fluid下如何自定义参数呢？"
我想自定义一个parameter，参考`fluid.layers.create_parameter()`接口创建了如下参数
`weights=fluid.layers.create_parameter(shape=[2048,class_dim],dtype='float32',
                                    name='feature_weights',
                                    default_initializer=None)`
按照API介绍，这个应该是个global block，可以通过`get_var`获取调用么？
我后续想实现该参数的归一化，以及其他若干数学计算。
![image](https://user-images.githubusercontent.com/30432086/449

[2018-09-01 04:04] tensor-tang commented on #13129
看出错的信息跟自定义的参数好像没什么关系呢，是不是有什么其他的东西弄错了？

如果不用自定义的形式还会出这个错误吗

[2018-09-01 04:23] tensor-tang commented on #12122
reopen it as needed

[2018-09-01 04:23] #12122 closed, assigned to nobody

[2018-09-01 04:25] tensor-tang commented on #12803
已经增加了debug 版的CI，会定期检查。

[2018-09-01 04:25] #12803 closed, assigned to guochaorong

[2018-09-01 04:33] tensor-tang commented on #11984
Thanks for you great work @bingyanghuang .
Please reopen it as needed.

[2018-09-01 04:33] #11984 closed, assigned to chengduoZH

[2018-09-01 08:11] luameows commented on #13129
@tensor-tang  谢谢回复，能否烦请帮助看下如下代码呢？
整个自定义层操作代码，主要是尝试构建了一个新的损失函数。如果不采用该自定义层，整个训练可以正常运行。
[code]

[2018-09-01 13:16] panyx0718 commented on #13109
Here is the design
https://github.com/PaddlePaddle/Paddle/blob/develop/doc/fluid/design/ir/overview.md

You should only write pass using framework/ir
inference/analysis are inference-specific and no new passes should be added.

Here is an example of applying passes for training
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/parallel_executor.cc#L38

@Superjomn
Can you p

[2018-09-01 14:27] tensor-tang commented on #13123
Thanks, good catch!

[2018-09-01 14:27] #13123 closed, assigned to nobody

[2018-09-01 14:29] Superjomn commented on #13109
Yes, I will write an doc about these topics.

[2018-09-01 14:30] tensor-tang commented on #13117
@chengduoZH could help to check about this issue of `ParallelExecutor`. Thanks

[2018-09-02 05:46] Haichao-Zhang opened #13152 "Broken links in README.md"
All the links in the Installation and Documentation sections are broken:
![image](https://user-images.githubusercontent.com/21375027/44952615-9f5eec80-ae38-11e8-8071-ecc970b04c91.png)

![image](https://user-images.githubusercontent.com/21375027/44952619-b7cf0700-ae38-11e8-96d0-4f6ec71800ec.png)

[2018-09-02 09:02] 1727536969 opened #13154 "lstm"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-09-02 09:03] 1727536969 opened #13155 "lstm"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-09-02 09:03] 1727536969 opened #13156 "lstm"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-09-02 09:04] #13154 closed, assigned to nobody

[2018-09-02 09:05] #13156 closed, assigned to nobody

[2018-09-02 09:07] 1727536969 opened #13157 "如何创建lstm模型预测一个回归值？有大神的麻烦写一下代码。"

[2018-09-02 11:57] #13155 closed, assigned to nobody

[2018-09-02 14:41] luameows commented on #13129
我又采用了另外一种方式定义了一个参量，按照api介绍，该参量不参与反向传播。之后仍然通过`get_var()`获取该参量，在运行中，仍然报错。
[code]
错误代码
[code]

[2018-09-03 02:03] shanyi15 commented on #13152
请您提供这个页面的链接
![image](https://user-images.githubusercontent.com/35982308/44963975-9a955800-af60-11e8-873b-b91665580e3d.png)

[2018-09-03 02:08] gtvforever commented on #13029
@ktlichkid 能否就后一种方法 举出更详细的例子？ 不是很清楚如何fetch 没找到fetch的详细接口定义。谢谢

[2018-09-03 02:15] qingqing01 commented on #13157
LSTM使用代码可以参考： https://github.com/PaddlePaddle/models/blob/develop/fluid/text_classification/nets.py#L62

做预测回归，大致可以是， 输入一个时间序列，用lstm网络提取特征， 使用mse之类的loss(当然loss也可以是其他的)。

[2018-09-03 02:17] qingqing01 commented on #13152
@shanyi15 是Paddle Repo主页： https://github.com/PaddlePaddle/Paddle#installation

[2018-09-03 02:57] ccmeteorljh commented on #13036
pserver挂的日志如下：
[code]

[2018-09-03 03:34] ccmeteorljh opened #13163 "se-resnext多机同步下，有trainer在多个pass下后，loss值突增"
paddle version：0.15
模型：se-resnext
paddlecloud job:
http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5b7d5391e215f&flag=jobs&groupName=k8s_gpu_demo&groupId=c0a1f165-6279-5320-b9e7-e0218c7a87f5&currentPage=1&currentKey=1

[2018-09-03 04:07] #12642 closed, assigned to jacquesqiao, daming-lu

[2018-09-03 04:07] #13117 closed, assigned to chengduoZH

[2018-09-03 04:27] RayLiu2015 commented on #13086
好的, thx

[2018-09-03 04:51] chengduoZH commented on #13117
@yangperasd thanks for your feedback, this bug has been fixed in 0.15.0.

[2018-09-03 05:56] JinmingZhao opened #13166 "能够获取 sequenceStartPositions 信息, 并将保存的sequenceStartPositions 赋值给某个序列"
**版本信息: paddle.v2**
事情是这样的, 比如一个bacth 10句话, 每句话长度不等, 所有单词用 batch_words 表示, 每个单词的维度用 word_dim 来表示, 那么paddle的保存格式为: (batch_words, word_dim)].
假设这个batch经过resize操作原先的 sequenceStartPositions 信息丢失了, 我下面再接一个 lstm的时候就会报错
F0903 04:46:41.062814 16210 LstmLayer.cpp:155] Check failed: input.sequenceStartPositions
那么这种这种情况下如何解决这个问题?
比较直观的想是在变换之前保存操作之前的 sequenceStartPositions 信息, 然后变换之后再将这个信息赋值.

[2018-09-03 06:28] luameows commented on #12725
@ktlichkid 实在不好意思再打扰下，我如果要更新paddle版本，是不是只能通过下载源码编译的方式来更新，而无法通过pip install获取。
另外，看了下您对scatter部分的修改，似乎将out=Out[id]+update修改成了out[id]=update。

[2018-09-03 06:33] tpatejko commented on #13109
@panyx0718 @Superjomn Thanks for the information.

I think right now we are interested in passes for inference. Does that mean that the better choice is to use `inference/analysis` graph infrastructure?

[2018-09-03 07:10] ccmeteorljh opened #13170 "ctr 运行过程中os error"
运行环境：MPI 30 pserver，30 Trainer，同步
pserver 日志：
[code]

[2018-09-03 07:18] xiebaiyuan opened #13171 "crash when run googlenetv1 model use c++ interface"
crash when run googlenetv1 model use c++ interface

input is this   --  formated   1*3*224*224  nchw data
[img.bin.zip](https://github.com/PaddlePaddle/Paddle/files/2344559/img.bin.zip)

got an crash ：

[11.rtf.zip](https://github.com/PaddlePaddle/Paddle/files/2344562/11.rtf.zip)

[2018-09-03 07:19] xiebaiyuan commented on #13171
paddle fluid version is on newest develop。
we had tested mobilenetssd passed

[2018-09-03 07:40] gongweibao opened #13172 "CI unittest random fail"
http://ci.paddlepaddle.org/viewLog.html?buildId=13019&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all&_focus=24422

[code]

[code]

[2018-09-03 07:49] kolinwei commented on #13041
已修复

[2018-09-03 07:50] kolinwei commented on #13042
Traceback (most recent call last):
  File "dist_image_classification.py", line 139, in <module>
    runtime_main(TestDistImageClassification)
  File "/work/weike/svn/baidu/paddle/test/cts_test/dist_base.py", line 262, in runtime_main
    model.run_trainer(endpoints, trainer_id, trainers, run_params)
  File "/work/weike/svn/baidu/paddle/test/cts_test/dist_base.py", line 178, in run_trainer
    buil

[2018-09-03 07:56] Yancey0623 commented on #13166
Hi您好，在v2的版本中暂时没有这个功能，但可以在Fluid中通过 [lod_reset](http://paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#lod-reset) 来实现

[2018-09-03 07:56] kolinwei commented on #13037
还有问题

[2018-09-03 07:57] ccmeteorljh opened #13173 "ctr 异步训练内存泄露"
job地址：
http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5b88ed1a5c0e6&flag=jobs&groupName=paddle&groupId=2b984db1-5c29-5951-b4ee-11da61ccb0a5&currentPage=1&currentKey=1

与龙飞一起看过内存一直在增长，直到挂掉