[2020-06-24 01:48] tianshuo78520a commented on #21917
非常感谢您的提问，我们已经复现并提[PR25175](https://github.com/PaddlePaddle/Paddle/pull/25175)解决该问题。

请问您在执行检测的时候有提示这句么？
![image](https://user-images.githubusercontent.com/29832297/85487865-f29ec200-b5ff-11ea-9c3c-e1607c810f57.png)

[2020-06-24 02:09] chenwhql commented on #25183
请问您使用的是哪个版本的paddle？方便把示例code和报错贴一下吗？

[2020-06-24 02:34] wangchaochaohu commented on #25181
在静态图的时候还是需要写的

[2020-06-24 02:38] janelu9 commented on #25151
有解吗 还是比较想用paddle的

[2020-06-24 03:06] wang-kangkang opened #25185 "python API放到multiprocess_reader中预测报cuda错"
我的需求是在reader中使用inference_model进行预测，reader放在multiprocess_reader中。使用了两种实现方式都报错：Error: cudaSetDevice failed in paddle::platform::SetDeviced, error code : 3, Please see detail in https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__TYPES.htm    l#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038: initialization error at (/paddle/paddle/fluid/platform/gpu_info.cc:240)
第一种是：在reader中定义CUDAP

[2020-06-24 03:24] chenwhql commented on #25185
在这个例子中，不用multiprocess_reader装饰是可以正常工作的吗

[2020-06-24 03:27] wang-kangkang commented on #25185
可以的，将for循环改成：for data in reader():  可以正常跑。

[2020-06-24 03:30] wangchaochaohu commented on #25168
![image](https://user-images.githubusercontent.com/13411999/85495943-0d783300-b60e-11ea-9f9a-eb2cbd792b71.png)
我这里还是跑不通

[2020-06-24 03:30] wuxianshen opened #25186 "动态图转静态图后无法加载模型"
按照文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id11
提供的示例将mnist网络动态图模型转换为静态图模型，保存后再加载时报错ValueError：

/home/tao/.conda/envs/paddle/bin/python /home/tao/work/deep_learning/paddle-cpp/sample/dy_graph/dy_graph.py
W0624 11:20:11.270084 15827 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.1, Runtim

[2020-06-24 03:40] HaoLiuHust commented on #25168
额，我用pycharm跑可以的，是不是要加入环境变量呢

[2020-06-24 03:49] 17806242857 commented on #25149
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<std::string>(std::string&&, char const*, int)
1   paddle::memory::allocation::CUDAAllocator::AllocateImpl(unsigned long)
2   paddle::memory::allocation::AlignedAllocator::AllocateImpl(unsigned long)
3   paddle::memory::allocation::AutoGrowthBestFitAllocator

[2020-06-24 03:50] chenwhql commented on #25185
贴一下我这边的报错供分析：

[code]

[2020-06-24 03:54] NHZlX commented on #25185
create_paddle_predictor 非线程安全，可加锁试下

[2020-06-24 03:57] chenwhql commented on #25186
把下面静态图的部分，退格，放到guard外面试试
[code]

[2020-06-24 03:58] wang-kangkang commented on #25185
我改成：
    #place = fluid.CUDAPlace(0)
    #exe = fluid.Executor(place)
    train_reader = paddle.reader.multiprocess_reader([reader])
也报同样的错，看起来是multiprocess_reader导致的问题？

[2020-06-24 04:15] NHZlX commented on #25185
multiprocess reader我理解是多线程了吧，你在reader中使用了create_paddle_predictor ，但是这个接口非线程安全的。

[2020-06-24 04:17] wang-kangkang commented on #25185
文档里写的multiprocess_reader是多进程的。而且我上面改动后，仅剩一个reader在运行了，非线程安全也没影响吧

[2020-06-24 05:19] chenwhql commented on #25185
其实multiprocess_reader只是一个简单的多进程装饰器，没有实现进程间同步的安全机制，仅用在原先数据读取接口较慢的情况下，用户从磁盘读取数据这种简单场景，而且现在也不推荐使用

[2020-06-24 05:19] chenwhql commented on #25185
您上面说pool构造的多进程没有问题，是怎么实现的？不能满足您的需求吗

[2020-06-24 05:21] chenwhql commented on #25185
@NHZlX 从示例代码和报错能看出来，为什么这么写会报CUDA没初始化的错误吗

[2020-06-24 05:22] chenwhql commented on #25185
@wang-kangkang `第一种是：在reader中定义CUDAPlace和exe；`，请问第一种报什么错

[2020-06-24 05:46] GLaStu opened #25187 "windows源码编译"
windows源码编译时，生成paddle工程后，使用Blend for Visual Studio 2015 打开 paddle.sln 文件，选择平台为 x64，配置为 Release，开始编译。编译开始后会卡在某个工程一直不动。请问是什么原因？怀疑是cmake生成时造成的问题，是否需要修改cmake的配置项？

[2020-06-24 06:02] wang-kangkang commented on #25185
类似，又不完全一样。
[code]
报错为：
[code]

[2020-06-24 06:39] chenwhql commented on #25185
这里多个进程不能都用一张GPU卡，这里是不是每个进程都用的是CUDAPlace(0)

[2020-06-24 06:48] wang-kangkang commented on #25185
什么原因呢？而且我的场景里就是需要在multiprocess_reader里的reader里进行预测，得把这个方案走通

[2020-06-24 06:55] chenwhql commented on #25185
稍等，我再排查一下

[2020-06-24 07:23] jzhang533 commented on #25151
FYI：我弄过一个类似的，GPU是可以收敛的。

https://gist.github.com/jzhang533/99d3c644c0552caff2da095cff2ccd41

[2020-06-24 08:08] #25013 closed, assigned to nobody

[2020-06-24 08:13] lidanqing-vv commented on #24863
Does RelWithDebInfo work?

[2020-06-24 08:14] lidanqing-vv commented on #24863
assert under release (RelWithDebInfo) will not report error

[2020-06-24 08:31] zhwesky2010 commented on #25187
@GLaStu  您好，请问hang住的位置是哪里，是external project吗？麻烦截个图看下，电脑配置怎么样呢

[2020-06-24 08:32] HaoLiuHust commented on #25168
大佬，复现了吗

[2020-06-24 08:33] zhwesky2010 commented on #25187
@GLaStu 可以先把hang住的那个vcxporj单独编译下试试

[2020-06-24 08:59] jczaja commented on #24863
@lidanqing-intel Yes, RelWithDebInfo is working fine

[2020-06-24 09:46] mcl-stone commented on #25143
用test_lstm_cudnn_op.py检测的确报错，请问如何解决错误呢
[root@72b2d0dbbbe6 Paddle-develop]# python3 python/paddle/fluid/tests/unittests/test_lstm_cudnn_op.py
W0624 09:44:47.208160 10202 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.2, Runtime API Version: 10.0
W0624 09:44:47.212189 10202 device_context.cc:260] device: 0, cuDNN Version: 7.6.
E.
==========================

[2020-06-24 09:51] jshower commented on #24621
请问如何在1.8版本中，如何使用C++半精度预测。有相关介绍文档吗。

[2020-06-24 09:58] wangchaochaohu commented on #25168
![image](https://user-images.githubusercontent.com/13411999/85534589-0bc96200-b644-11ea-8cff-118087b9e2ee.png)
这边出现一个问题

![image](https://user-images.githubusercontent.com/13411999/85534719-269bd680-b644-11ea-89f3-2522711ec1d8.png)
你试试把CUDAPlace(1)改成CUDAPlace(0)是不是可以

[2020-06-24 10:00] chenwhql commented on #25185
@wang-kangkang 我这边试了下，把exe塞到子进程里执行就会报这个错，还需要时间分析下
@NHZlX 说预测python API理论上支持这种第二种写法，麻烦等他回复下

[2020-06-24 11:18] chenwhql commented on #25185
@wang-kangkang 这里应该是因为，从框架层面来讲的话，import paddle的时候，会初始化的CUDADeviceContext，而一旦初始化之后，就不能共享给主进程创建的子进程使用，而要支持这种写法，涉及到的底层改动还是挺大的，后续反馈下要不要做，一时半会这种写法应该不行，单预测API的话等等 @NHZIX 回复

为什么一定要这么写？这个本质需求是预测的速度不够快吗？

[2020-06-24 11:23] wang-kangkang commented on #25185
需求场景是我在训练人脸检测模型的时候，想要在检测模型上再出另一个分支来输出人脸的模糊属性。由于检测的数据产生过程有data argument，其中会改变人脸模糊度和大小，所以模糊属性无法提前离线标注。当前的方法就是使用一个提前训练好的模糊分类小模型，在reader中的data argument之后进行inference，从而获得模糊度“标签”。
目前在reader中使用cpu预测十分慢，整体训练速度不到原先的40%

[2020-06-24 12:19] wuxianshen commented on #25186
确实是这个问题，谢谢大佬！

[2020-06-24 12:20] #25186 closed

[2020-06-24 12:44] #25165 closed, assigned to nobody

[2020-06-24 12:45] #25170 closed, assigned to nobody

[2020-06-24 13:14] zhao181 commented on #25183
我的版本是1.7.2
import paddle
paddle.__version__
Out[7]: '1.7.2'

from paddle import fluid
dropout1=fluid.dygraph.Dropout(p=0.1,is_test=False)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-5-89c46330c68f>", line 1, in <module>

[2020-06-24 13:24] HighCWu opened #25198 "动态图中如何自定义反向传播中梯度的变换？"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.0
- 问题描述：如何在动态图中自定义一个操作或层的反向传播过程？

静态图中有py_func可以自定义，不过主要功能是自定义op，看源码支持动态图也是在TODO状态。

这种过程应该对标PyTorch中的autograd.Function。

在讨论群中听闻动态图有专门的实现，而不是py_func，发言者暂时想不起API了。

这个功能使操作可微或者实现如revnet中的显存节省。

希望了解对应API，谢谢。

[2020-06-24 13:57] chenwhql commented on #25183
1.7.2的时候还没有这个类，您看的是1.8的文档，如果您要使用这个接口的话，建议升级到1.8的paddle

[2020-06-24 14:24] zhao181 opened #25199 "Process finished with exit code -1073741819 (0xC0000005)"
CPU +1.7.2

运行5个iteration后 报错 退出
Process finished with exit code -1073741819 (0xC0000005)

[2020-06-25 01:03] GLaStu commented on #25187
电脑配置是内存：16G，显卡：quardo P5000,工作站。配置应该没有问题。卡住的工程是：
![image](https://user-images.githubusercontent.com/20152953/85641968-a6688600-b6c2-11ea-934a-f92e501c53c5.png)

[2020-06-25 01:03] GLaStu commented on #25187
在这个工程中一直没有反应了

[2020-06-25 01:03] GLaStu commented on #25187
单独编译这个工程后，依旧在这个地方卡住。

[2020-06-25 04:13] zhao181 opened #25201 "关于Dropout的train/eval状态"
您好
版本1.8.2中的Dropout的train和eval状态下的行为有区别吗?
是不是eval状态下 也同样会进行随机置零?  谢谢回答

[2020-06-25 05:31] GLaStu commented on #25187
已经解决了这个问题，原因是VS安装路径有中文。

[2020-06-25 05:51] zhao181 commented on #25201
我希望在eval模式下  可以不执行随机置零 该怎么做? (Dropout对象已经在模型创建阶段生成    为达目的是需要在每次forward过程中手动修改_dropout_prob成员的值吗?)

[2020-06-25 13:14] HaoLiuHust commented on #25168
![image](https://user-images.githubusercontent.com/7233091/85726641-dcd8ec00-b728-11ea-9c9e-7b53a394cd95.png)
哦哦，不好意思，把载入那个文件的地方改掉，只是个权重初始化，我本地修改了，打包文件没更新...
...

[2020-06-25 13:23] HaoLiuHust commented on #25168
改成CUDAPlace(0)确实可以了，必须用0号卡么？

[2020-06-25 15:30] ipyffor opened #25203 "请问动态图模式下怎么使用静态图模型预测"
因为使用fluid.enable_imperative(place)全局开启动态图导致静态模型不能用，使用fluid.disable_imperative()的话又要重复关闭开启动态图，主要模型是动态图的，有没有类似动态图上下文管理气的方式使用静态图的，或者其他方式，望解答，谢谢

[2020-06-25 15:36] ipyffor commented on #23735
可以自己实现这个类，就可以加进去了

[2020-06-25 15:36] ipyffor commented on #23735
和实现网络是一样的

[2020-06-26 03:39] wuxianshen opened #25204 "ZeroCopyTensor无法使用double类型"
使用C++部署预测模型，模型中参数是float64类型，预测程序中使用double类型，提示错误，找不到实例化的模板函数：

`Scanning dependencies of target induced_vel_deploy
[ 50%] Building CXX object CMakeFiles/induced_vel_deploy.dir/main.cpp.o
[100%] Linking CXX executable induced_vel_deploy
CMakeFiles/induced_vel_deploy.dir/main.cpp.o: In function `paddle::test_induced_field(int, int)':
/home/tao/work/tools/induced_vel_process/induced_vel_deploy/main.c

[2020-06-26 03:43] guru4elephant commented on #25150
好的，我们研究下如何支持，感谢@PayneJoe的建议

[2020-06-26 04:31] PayneJoe commented on #25150
Looking forward to your progress!

Best wishes to PP && BAIDU~

[2020-06-26 05:17] 451882471 commented on #25154
不是版本的问题，具体的问题情况和解决方案我都写在这里了[https://blog.csdn.net/qq451882471/article/details/106967942](url)

[2020-06-26 09:11] jeng1220 commented on #25014
The patch for this issue is PR #25205

[2020-06-26 09:28] #25201 closed, assigned to nobody

[2020-06-26 09:30] xperzy opened #25206 "有没有办法把 LoDTensor 转成 给动态图使用的 Variable L类型？"
目前看到 to_variable 只支持 np.array， 如果是已经在GPUPlace上的 LoDTensor 是否有办法转成Variable类型呢？

[2020-06-26 14:04] jczaja commented on #25078
@sneaxiy , @luotao1 I have reproduced the issue and would like You to advice me on it. Problem related to mkldnn_inplace pass.
  In particular there is a chain of two operators :  .. A -> Relu -> **B** -> Roi_align -> C .. . And after mkldnn_inplace pass applied we have:  A -> Relu -> **A** -> Roi_Align -> C  . mkldnn_inplace pass does rename Input of ROI_align from B -> A . Normally it works fine

[2020-06-26 14:57] HaoLiuHust commented on #25136
只有load vars行，其他方式不行。。。

[2020-06-27 01:31] wuxianshen opened #25209 "编译C++预测模型TensorRT报错"
编译C++预测模型TensorRT报错：
error: ‘class nvinfer1::IPluginFactory’ has virtual functions and accessible non-virtual destructor [-Werror=non-virtual-dtor]

环境配置：
GIT COMMIT ID: 12f64401aaef8d7a5a74e5098d89d2b1071a7a9d
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
CUDA version: 10.1
CUDNN version: v7
WITH_TENSORRT: ON

System: Ubuntu 16.04，x86_64
Python version: 3.6.1
CUDA version: 10.1.243
cuDNN version: 7.6

[2020-06-27 02:45] tianshuo78520a commented on #21646
麻烦问下为什么要使用DWITH_DSO=OFF参数？

[2020-06-27 03:36] wuxianshen opened #25210 "C++预测模型的输入一维向量时应该如何reshape"
按照C++部署模型使用一维向量作为输入时运行报错：

**主要报错信息**
`----------------------
Error Message Summary:
----------------------
InvalidArgumentError: Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [80, 1, 1, 400] and the shape of Y = [400]. Received [80] in X is not equal to [400] in Y at i:0.
  [Hint: Expected x_dims_array[i] == y_dims_array[i] || x_dims_array[i] <= 1 ||

[2020-06-27 03:58] #25183 closed, assigned to nobody

[2020-06-27 04:07] zhao181 commented on #24968
请问 DataLoader中的multi_process参数和num_workers参数 指的以多进程方式读取数据吗?

如果设置为单进程的话   如何知道单个进程中有几个线程在读数据?

另外 我设置num_workers=2  aistudio环境1.8   为啥总是报错?  而设置为0时候不报错

[2020-06-27 04:10] zhao181 commented on #24996
题主  您好 请问您这个问题是如何得到解决的?  我的num_workers设为0可正常工作  设置为2就报同样的错误

[2020-06-27 05:26] zhao181 opened #25211 "动态图 Dataset+DataLoader读数据 报错"
环境 Aistudio+paddle 1.8.0

num_workers设置为0  可正常工作
num_workers设置为2  崩溃

    valLoader=DataLoader(validate_set,
                places=fluid.CUDAPlace(0),
                return_list=True,
                shuffle=False,
                drop_last=False,
                batch_size=4,
                num_workers=2,
                batch_sampler=None,
                feed_list=None,
                colla

[2020-06-27 12:40] HaoLiuHust opened #25213 "load_inference_model载入得模型怎么查看每一层的参数？"
用load_inference_model载入了model zoo里面的模型，然后用program.all_parameters()出来是空列表，怎么查看每一层的参数？

[2020-06-27 13:43] wangchaochaohu commented on #25168
目前实现似乎是这样 因为Paddle 的0卡默认是多卡参数初始化的卡

[2020-06-27 13:43] #25168 closed, assigned to zhhsplendid

[2020-06-27 13:44] #25181 closed, assigned to nobody

[2020-06-27 13:47] #25162 closed, assigned to Channingss, jiangjiajun

[2020-06-27 14:16] chenwhql commented on #25199
麻烦您提供下更详细的复现demo的报错信息栈

[2020-06-27 14:22] chenwhql commented on #25198
您好，目前在动态图下实现这个功能也需要自定义C++ op实现，文档可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/custom_op.html

至于类似PyTorch中的autograd.Function的功能，已经在计划中了，人力问题，暂时没有排期，后续会添加的，抱歉

[2020-06-27 14:26] chenwhql commented on #25187
@GLaStu 请问您还有其他问题吗，可以关闭这个issue了吗

[2020-06-27 14:47] HaoLiuHust commented on #25136
我下载了官方model zoo的模型，想看看权重值，也是没办法看

[2020-06-27 14:51] HaoLiuHust commented on #25168
好的大佬，那我就用0号卡了。大佬能帮忙看看这个不 https://github.com/PaddlePaddle/Paddle/issues/25136#issuecomment-650570146  @wangchaochaohu

[2020-06-27 14:52] zhupengyang commented on #25213
fetch_list里面加参数的name，name可以通过netron查看到

[2020-06-27 14:55] HaoLiuHust commented on #25213
fetch出来的不是推理结果么，我需要的是权重

[2020-06-27 14:56] HaoLiuHust commented on #25213
我想要查看的是每一层的权重

[2020-06-27 14:58] zhupengyang commented on #25213
可以试下，fetch理论上是可以获取任何variable的，不一定是推理结果

[2020-06-27 15:01] zhupengyang commented on #25210
模型本身是支持一维的输入的吗？

[2020-06-27 15:05] HaoLiuHust commented on #25213
哦哦，这个fetch list是加在哪呢

[2020-06-27 15:07] HaoLiuHust commented on #25213
exe.run里面么

[2020-06-27 15:07] zhupengyang commented on #25213
是的

[2020-06-27 15:08] zhupengyang commented on #25213
是的

[2020-06-27 15:08] zhupengyang commented on #25213
是的

[2020-06-27 15:44] HaoLiuHust commented on #25213
netron看不了paddle文件

[2020-06-27 16:30] HaoLiuHust commented on #25213
报错了这么做...

[2020-06-28 00:31] HighCWu commented on #25198
明白了，期待飞桨的功能更加丰富。

[2020-06-28 00:31] #25198 closed, assigned to nobody

[2020-06-28 01:20] wuxianshen commented on #25210
这个怎么看呢？应该是支持的吧，模型输入层是8通道的全连接层，设计的是输入8维向量，输出3维向量...

[2020-06-28 01:50] zhupengyang commented on #25213
报了什么错？

[2020-06-28 02:13] mathetian opened #25217 "fleet ctr 模型 online 模式 AUC 评估结果异常"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）CPU：default
    4）系统环境：centos 6
- 训练信息
    1）多机

我在用 fleet online 模式跑 auc 评估的时候，显示 auc 0.5，用offline模式结果正常，求值班同学帮忙查看一下问题。

1. 参考的 wiki http://wiki.baidu.com/display/PDLPDL/auc+runner
2. 任务链接 http://nmg-hpc-hlan-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20200628130322-5246

Sun Jun 28 10:17:49 2020[1,1]<stdout>:join pass: global AUC=0.502793 BUCKE

[2020-06-28 02:16] HaoLiuHust commented on #25213
找到方法了，用fluid.global_scope().find_var(“var_name”).get_tensor()

[2020-06-28 02:16] #25213 closed, assigned to nobody

[2020-06-28 02:16] zhupengyang commented on #25210
- 模型原本是应该输入{n,c,h,w}四维的，现在是希望c为8，其它维为1吗？建议reshape到{1,8,1,1}的维度

[2020-06-28 02:17] HaoLiuHust commented on #25136
找到方法了，用fluid.global_scope().find_var(“var_name”).get_tensor()

[2020-06-28 02:17] #25136 closed, assigned to nobody

[2020-06-28 02:27] HaoLiuHust opened #25218 "quant_aware训练出来的权重不是在int8范围"
训练代码如下：
[code]

保存出来的参数打印出来看了下，发现卷积层的权重还是小数，并不是以float32形式保存的int8数据, 问题出在哪呢

[2020-06-28 02:29] littlepan0413 opened #25219 "Error: Failed to find dynamic library: libcublas.so"
1）PaddlePaddle版本：paddlepaddle-gpu 1.7.2.post107
 2）cuda 10.1
 4）Linux version 4.4.0-178-generic (buildd@lgw01-amd64-017) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.12) )

Load the best model from /work/model/best_model[0m<br>/home/user/miniconda/lib/python3.6/site-packages/paddle/fluid/executor.py:811: UserWarning: There are no operators in the program to be executed. If you pass Pr

[2020-06-28 02:32] zhangyimi commented on #25166
单卡下碰到同样的问题

Traceback (most recent call last):
  File "run.py", line 249, in <module>
    train(env)
  File "run.py", line 101, in train
    puncts)
  File "<decorator-gen-81>", line 2, in epoch_evaluate
  File "/home/work/zhangao/ZoooSP/python/miniconda3/envs/zwp/lib/python3.7/site-packages/paddle/fluid/dygraph/base.py", line 277, in __impl__
    return func(*args, **kwargs)
  File "/mnt/zwp/0623

[2020-06-28 02:37] heavengate commented on #25211
[code]

报错信息是共享内存不够，即`/dev/shm`下空间不够，AIStudio上应该用的是默认的64M，单batch的数据空间估计比较大，算上缓存64M不够用，可以把`use_share_memory=False`

[2020-06-28 02:38] willthefrog commented on #25219
请确认下面几点：
- `libcublas.so`是否在系统路径（`/lib/`， `/usr/lib`， `/usr/local/lib`）或者`LD_LIBRARY_PATH`路径下
- `libcublas.so`是否有不带版本号的symlink （如，`libcublas.so -> libcublas.so.10.2.2.89`)
- `libcublas`的版本同paddle的cuda版本是否符合（如paddle是cuda101，那么libcublas也必须是10.1)

[2020-06-28 02:48] zhao181 commented on #25211
好的   操作完正确了

[2020-06-28 02:49] #25211 closed, assigned to nobody

[2020-06-28 02:53] zhao181 opened #25220 "关于数据读取提速问题"
静态图训练很慢
比动态图还慢
发现主要瓶颈在于数据读取

请问
[1] windows下静态图用哪个接口读数据 最快？
[2] linux下 静态图用哪个接口读数据 最快？

[3] 我在程序中使用了py_func函数（每次迭代都使用） 速度慢是否也与此有关？

谢谢 盼回复

[2020-06-28 03:25] NHZlX commented on #25185
这个错误，具体的原因是，CUDA的context不能在多进程内共享。

[code]

具体的解释可见：
https://stackoverflow.com/questions/22950047/cuda-initialization-error-after-fork

在调用 `paddle.reader.multiprocess_reader` 之后会fork出子进程，但是在这之前paddle会初始化cuda context，因此会有上述的问题。

https://github.com/PaddlePaddle/Paddle/blob/cb0472b05ab86dd7b51f663bc161841059a9d035/python/paddle/fluid/__init__.py#L221

https://github.com/PaddlePaddle/Paddle/blob/cb04

[2020-06-28 04:10] willthefrog commented on #25220
1. & 2.目前推荐的数据读取接口是 `fluid.io.DataLoader`，请注意设置`use_double_buffer=True`
3. `py_func`操作可能会造成多次copy，耗时会相对高一些，如果能通过op组合实现建议使用组合实现。

[2020-06-28 04:35] wang-kangkang commented on #25185
使用多线程会降低原有的训练速度。所以有没有办法能直面并解决当前问题

[2020-06-28 05:00] NHZlX commented on #25185
那在reader中去掉cuda相关（或者接口内部有调用cuda）的代码吧

[2020-06-28 05:02] wang-kangkang commented on #25185
reader中使用place=fluid.CPUPlace()速度同样很慢，我期望的是起码能实用python API能在reader中调用cuda预测。

[2020-06-28 05:38] zhupengyang commented on #25209
问题已经记录，感谢反馈~

[2020-06-28 05:41] NHZlX commented on #25209
请参照这里的文档 ：https://paddle-inference.readthedocs.io/en/latest/optimize/paddle_trt.html
![image](https://user-images.githubusercontent.com/5595332/85939066-138b4e00-b945-11ea-81d6-bf2bd97783d8.png)

[2020-06-28 07:02] littlepan0413 commented on #25219
1、2、3都check了没问题，但还是不行
尝试把paddle升级到最新版本1.8.2，问题消失了，出现新问题

ique_ptr<std::__future_base::_Result_base, std::__future_base::_Result_base::_Deleter> (), std::__future_base::_Task_setter<std::unique_ptr<std::__future_base::_Result<std::unique_ptr<paddle::platform::DeviceContext, std::default_delete<paddle::platform::DeviceContext> > >, std::__future_base::_Result_base::_Deleter>, std::unique_ptr<paddle:

[2020-06-28 07:07] willthefrog commented on #25219
如果是cuda10版本的paddle, 需要cudnn 版本是7.6以上，如果满足可以尝试设置下`FLAGS_cudnn_dir`环境变量。

[2020-06-28 07:15] zhangyimi opened #25224 "layers.where出core"
之前提过相关issue #25166，结论是多卡引起的，但是目前在单卡下也会碰到同样的问题。

Traceback (most recent call last):
  File "run.py", line 249, in <module>
    train(env)
  File "run.py", line 101, in train
    puncts)
  File "<decorator-gen-81>", line 2, in epoch_evaluate
  File "/home/work/zhangao/ZoooSP/python/miniconda3/envs/zwp/lib/python3.7/site-packages/paddle/fluid/dygraph/base.py", line 277, in __impl__
    return func(*a

[2020-06-28 07:21] willthefrog commented on #25224
和 #25166 应该不是一个问题。

[2020-06-28 07:41] willthefrog commented on #25224
请 @wawltor  跟进下吧。

[2020-06-28 08:06] lidanqing-vv commented on #25078
@luotao1  这个问题有哪里描述不清楚的吗？这个问题block了Jacek的工作，他让我协助解释，如果有哪里不清楚的话
conditional_block_infer_op 建立了新的scope，
[code]
但是在新scope中，上一层scope的`A -> Relu -> A -> Roi_Align -> C`没被使用，而是原始inplace_pass之前的的`A -> Relu -> B -> Roi_align -> C`被使用了

这个有什么解决办法吗？有没有其他方法可以调用，使得Inplace_pass改的图在第二层scope也可见？还是说设计就是这样的？第二层就不可见了？如果设计就是如此，那我们只能把这个pass注释掉，这个模型就不会fail了。

[2020-06-28 08:36] Willianwatch opened #25226 "使用Linear层出错"
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）CPU：无
    3）GPU：Tesla V100
    4）系统环境：AI Studio
- 训练信息
    1）单机，单卡
    2）显存信息
    3）Operator信息
- 复现信息：已将小项目公开，大约50行，请看链接
[https://aistudio.baidu.com/aistudio/projectdetail/596059](url)
- 问题描述：尝试翻译了下GAN by 50 lines, 在linear层处出错，但是感觉维度和数据类型都没有什么问题，求解答

[2020-06-28 09:15] NHZlX commented on #25185
reader是否可以用多线程

[2020-06-28 09:17] willthefrog commented on #25226
组网部分放到`fluid.dygraph.guard`里试试？
[code]

[2020-06-28 09:24] DDDivano opened #25228 "关于单测框架OPTest类的一个疑问"
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/op_test.py 中1149行。
self.dtype如果是float16，为什么要单做处理？
我看代码理解是如果是float16类型，一定是只支持GPU，如果GPU不支持这个精度，那么该OP就不支持float16这个类型，CPU是一定不支持float16的，这么理解对吗？
![image](https://user-images.githubusercontent.com/10734244/85943678-16e20200-b964-11ea-9d84-8a7324919f7e.png)

[2020-06-28 09:45] leesusu opened #25229 "Report A Little Bug"
In file python/paddle/fluid/optimizer.py,

![image](https://user-images.githubusercontent.com/2424688/85944095-fa939480-b966-11ea-8b9f-a9ebd45f8457.png)

Solved in #25223

[2020-06-28 09:54] pebble1990 commented on #21348
您好 我在Linux 也遇到相同的错误 编译后提示 inference_lib_dist source numbers are not equal to destination numbers， 请问是否与目录有关

[2020-06-28 09:58] zhwesky2010 commented on #21348
现在的版本是统一使用默认路径了，不需要设置了。默认路径是 build/fluid_install_dir 和build/fluid_inference_install_dir，你可以看下这两个目录是不是空的

[2020-06-28 10:05] HaoLiuHust commented on #25218
有没有大佬帮忙看看我的用法有没有错误···post_quant出来的参数打出来是int8范围的

[2020-06-28 10:12] chenwhql commented on #25185
@wang-kangkang import paddle的时候会在当前进程初始化cuda的环境，如果一定要用子进程的话，只能在子进程中import paddle了，这样倒不会报错，但应该也没法用了吧。。。

[code]

[2020-06-28 10:15] willthefrog commented on #25229
Thanks for your contribution, will get back to you soon.

[2020-06-28 10:18] willthefrog commented on #25228
基本上是这样，目前只有部分op的cuda kernel支持fp16，cpu不支持。

[2020-06-28 10:57] DDDivano commented on #25228
好，明白了

[2020-06-28 10:57] #25228 closed, assigned to nobody

[2020-06-28 11:37] littlepan0413 commented on #25219
安装cudnn后错误消失

[2020-06-28 11:37] #25219 closed, assigned to nobody

[2020-06-28 12:12] Willianwatch commented on #25226
你好，按你说的我解决了这个问题，但是想问下为什么会这样呢？谢谢！

[2020-06-28 12:17] Steffy-zxf opened #25232 "使用SGD在GPU下运行出错，cpu下可以运行"
环境：Paddle 1.8.2 ，GPU下运行， https://github.com/Steffy-zxf/PaddleHub add-CustomeTokenizer分支
复现步骤：

1. 首先` git clone https://github.com/Steffy-zxf/PaddleHub.git`，之后切到add-CustomeTokenizer分支，
 之后python setup.py install，安装paddlehub。

2.
[code]
3.  代码：https://github.com/Steffy-zxf/PaddleHub/blob/add-CustomeTokenizer/demo/text_classification/run_cls_predefine_net.sh
在add-CustomeTokenizer分支下，`sh run_cls_pred

[2020-06-28 12:32] willthefrog commented on #25232
能否提供一个直接调用optimizer的版本？

[2020-06-28 12:42] wang-kangkang commented on #25185
这种方法也不行，我的主进程里需要进行训练啊

[2020-06-28 12:49] chenwhql commented on #25185
嗯嗯，所以结论是目前想在主进程中创建子进程，在子进程中做inference这种思路在目前的paddle实现下是行不通的，这也不是一个bug修复的问题，而是架构层面的设计就不满足这样的写法，所以对于您这个需求，需要想别的办法，您看看reader多线程用GPU做inference能满足需求吗？

[2020-06-28 13:02] wang-kangkang commented on #25185
好吧，我没想到这个问题这么复杂。我试试paddle server方法吧。

[2020-06-28 13:37] willthefrog commented on #25226
weight创建是在静态图模式下进行的，所以不是动态图得varbase类型。 如果解决了麻烦close下issue。谢谢。

[2020-06-28 17:56] zhao181 commented on #25199
好了 可能是其他地方的错误导致  具体原因未知 但已解决

[2020-06-28 17:56] #25199 closed, assigned to nobody

[2020-06-29 00:53] wuxianshen commented on #25209
谢谢大佬，已根据报错信息修改，编译已通过，谢谢谢谢！

[2020-06-29 00:53] #25209 closed

[2020-06-29 00:57] wuxianshen commented on #25210
输入reshape成[1， 8， 1， 1]，还是会报错：
----------------------
Error Message Summary:
----------------------
InvalidArgumentError: Input X's width should be equal to the Y's height, but received X's shape: [1, 8, 1, 1],Y's shape: [8, 80].
  [Hint: Expected mat_dim_x.width_ == mat_dim_y.height_, but received mat_dim_x.width_:1 != mat_dim_y.height_:8.] at (/home/tao/work/deep_learning/paddle-cpp/paddle/paddle

[2020-06-29 01:28] zhupengyang commented on #25210
- 你是希望什么维度的输入呢？batch_size为8？其它维度是多少呢？按照{batch_size, channels, height, width}去reshape就行啊

[2020-06-29 02:13] zyyhub opened #25236 "2465 Segmentation fault (core dumped) 小batch_size可以成功run，大一点batch_size(8以上)就报Segmentation fault"
- 标题：2465 Segmentation fault  (core dumped) 小batch_size可以成功run，大一点batch_size(8以上)就报Segmentation fault
- 版本、环境信息：
    1）PaddlePaddle版本：本地跑 paddle 1.8.1  mpi跑 1.7.1   本地和集群均会遇到同样的问题
    2）CPU：本地和mpi均使用cpu run
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训练信息
    1）单机，单cpu和多cpu均试过
    2）显存信

[2020-06-29 02:15] #25218 closed, assigned to nobody

[2020-06-29 02:16] HaoLiuHust commented on #25218
知道了。。我保存方式有问题

[2020-06-29 02:20] LielinJiang commented on #25236
本地看一下，是否是超内存了

[2020-06-29 03:02] 1830789843 opened #25238 "本地测试出错：exe.run(startup)出core。"
具体报错如下。

![Image](https://user-images.githubusercontent.com/40987029/85968796-928d8e80-b9f8-11ea-91c0-ce83f564ba14.png)
![Image2](https://user-images.githubusercontent.com/40987029/85968807-97ead900-b9f8-11ea-8156-5f2046c0913d.png)

集群上，也报该错，但是通过修改配置gpu卡数，已解决。
本地训练，一直报改错。

[2020-06-29 03:14] mathetian commented on #25217
up 进度

找到问题了，

1. 通过 deconverter 之后的产出 和 依赖的模型数据结构不一致；
2. sparse_deconverter'] = "(bin/xbox_pb_deconverter | scripts/xbox_decompressor_mf.awk) 在fleet的代码里面写死了。因此我们不能再外置一个脚本，如 sparse_deconverter'] = "(bin/xbox_pb_deconverter | scripts/xbox_decompressor_mf.awk | python aaa.py) 解决问题；

[2020-06-29 03:14] #25217 closed, assigned to nobody

[2020-06-29 03:22] #25226 closed, assigned to nobody

[2020-06-29 03:29] LielinJiang commented on #25238
请问paddle版本，模型，和启动命令分别是？

[2020-06-29 03:59] 1830789843 commented on #25238
paddle版本：paddle-fluid-v1.6.3

resnet152和bilstm

MP_CONFIG="--selected_gpus=0,1,2"
${python_bin}  -m paddle.distributed.launch ${MP_CONFIG} train.py \
    $BASIC_CONFIG  \
    $TRAIN_STAGE1_CONFIG

[2020-06-29 04:01] 1830789843 commented on #25238
paddle版本paddle-fluid-v1.6.3
模型：resnet152

MP_CONFIG="--selected_gpus=0,1,2"
${python_bin}  -m paddle.distributed.launch ${MP_CONFIG} train.py \
    $BASIC_CONFIG  \
    $TRAIN_STAGE1_CONFIG

[2020-06-29 06:44] phlrain commented on #25203
暂时还不支持动态图和静态图混合使用的情况下，整个任务必须全部是动态图或者全部是静态图

[2020-06-29 07:28] HaoLiuHust opened #25245 "量化后精度下降非常大"
https://github.com/PaddlePaddle/PaddleSlim/issues/364#event-3491422796

如何定位此类问题呢，我也尝试了训练量化，但精度也拉不上去

[2020-06-29 08:49] lidanqing-vv commented on #24461
Some update of this issue according to @wojtuss  :

The pvanet_ocr has a the following structure in the graph:

As the output from the second conv2d op is consumed by another conv2d and batch_norm, the fuse `conv_bn_fuse_pass` cannot be applied to it, and quantization sequence has to be broken here to calculate `batch_norm` using FP32.
The idea is to add a pass `conv_bif_bn_fuse_pass` (`bif` stand

[2020-06-29 08:53] phlrain commented on #24878
https://github.com/PaddlePaddle/Paddle/pull/24913
我们会在这个pr中修复这个问题

[2020-06-29 09:05] 1830789843 commented on #25238
最终解决：使用 export CUDA_VISIBLE_DEVICES 替换 selected_gpus=0,1,2

[2020-06-29 11:02] zhupengyang commented on #25206
可以用to_variable()转下

[2020-06-29 11:06] xjqbest commented on #25236
报错代码如下：

[code]

[2020-06-29 11:15] zhupengyang commented on #25204
收到，我们会尽快回复的~

[2020-06-29 11:18] zhupengyang commented on #25204
ZeroCopyTensor目前不支持double类型，建议转成float。正在考虑在后续添加double的支持~

[2020-06-29 11:54] xperzy commented on #25206
谢谢，看到 relsase2.0 beta 版本已经支持。

[2020-06-29 11:54] #25206 closed, assigned to phlrain

[2020-06-29 12:08] leesusu commented on #24332
同夯住，代码同楼主类似，大概设置：

paddle版本：release 1.8
数据读取：dataset

测了StrategyFactory.create_sync_strategy()、StrategyFactory.create_half_async_strategy()、StrategyFactory.create_async_strategy()

只有StrategyFactory.create_async_strategy()可以跑

可能是dataset的原因，见：
https://github.com/PaddlePaddle/Fleet/blob/develop/markdown_doc/transpiler/transpiler_cpu.md

![image](https://user-images.githubusercontent.com/2424688/860

[2020-06-29 13:32] dkerjw1 opened #25255 "Ubuntu 18.04 install_check 报错 CUBLAS_STATUS_EXECUTION_FAILED"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：develop
    2）CPU：Intel(R) Core(TM) i7-9700K CPU @ 3.60GHz
    3）GPU：RTX2080 CUDA10.1, CUDNN 7.6
    4）系统环境：Ubuntu 18.04 , python 3.5.2
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summ

[2020-06-30 01:25] wuxianshen commented on #25204
好的谢谢大佬！～

[2020-06-30 01:25] #25204 closed

[2020-06-30 02:24] dkerjw1 commented on #25255
重启电脑没问题了

[2020-06-30 02:24] #25255 closed, assigned to nobody

[2020-06-30 05:47] DTaoo opened #25266 "模型存储问题"
背景：在一个pretrained backbone network上面添加一个新的fc，只优化FC层。
问题：将pretrained network 最后输出设置为stop_gradient=True, 只优化最后的fc，打印对比发现，backbone weight 并未改变（符合预期），但是将此backbone用save_inference_model函数存储后，在数据集上测试结果发生异常（acc:0.779)。
如果不进行网络优化，直接存储backbone，在数据集上测试结果为acc 0.814。

0.779 vs. 0.814的主要区别在于下方代码是否运行：

    for pass_id in range(EPOCH_NUM):
        count = 0
        for data_train in train_loader:
            print

[2020-06-30 06:39] hello-web opened #25269 "Windows编译develop分支，映像大小超过允许的最大大小"
CPU：E5-2678 v3
GPU：k80
System：windows server 2019
Visual Studio: Visual Studio 2015 update3
PaddlePaddle: develop
GIT COMMIT ID: 87a4a7ec12be222d070367665dbc2900a5bd3eb6
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
CUDA version: 9.0
CUDNN version: v7.4
CXX compiler version: 19.0.24215.1

复现信息：
(1) cmake .. -G "Visual Studio 14 2015" -A x64 -T host=x64 -DCMAKE_BUILD_TYPE=Release -DWITH_MKL=ON -DWITH_G

[2020-06-30 07:33] ShaneTian commented on #25127
请问是什么原因呢？我又检查了一遍代码，还是没找到原因。。 @MRXLT

[2020-06-30 07:49] jiweibo commented on #25269
目前develop分支在windows上编出的静态库体积超过4G编译失败，后续会对静态库进行优化。

[2020-06-30 07:56] OliveLv opened #25270 "lstm C++与python预测不一致"
输入python
[code]
C++
[code]
预测两个结果不同

[2020-06-30 07:59] OliveLv commented on #25270
python paddle 1.6
C++ paddlepaddle@v1.6.1-gcc82-mkldnn_PD_BL

[2020-06-30 08:41] sfraczek commented on #24510
@wojtuss and I have investigated the cause and here is what we concluded.
## analysis of the cause
### Original graph:
![image](https://user-images.githubusercontent.com/17185347/86104343-355c1080-babe-11ea-8869-6e19be769858.png)

mul -> fake_dequantize -> elementwise_add is replaced with Matmul
Which means that biases are on floats (in elementwise_add). Initially, FC, which replaces that, has als

[2020-06-30 08:58] zhiqiu commented on #25236
经线下与用户沟通和排查，定位到问题是用户的concat使用了不同rank的tensor输入，log如下：

在CPU设备上执行时，由于kernel函数未进行检查，最后导致buddy_allocator越界了。

p.s. PyTorch在处理concat的输入是不同rank情况时，会直接报错，Paddle也应该加强一下。

![image](https://user-images.githubusercontent.com/6888866/86105830-68b89280-baf2-11ea-91b2-dd6983d93743.png)

[2020-06-30 09:48] #25266 closed, assigned to nobody

[2020-06-30 09:54] zhiqiu commented on #25266
同步一下结论。

经线下沟通发现是，batch_norm的参数会变化。
![image](https://user-images.githubusercontent.com/6888866/86112464-9570a800-bafa-11ea-8c0b-9bb41452d6bb.png)

原因是，backbone中使用了batch_norm，这样即使对backbone设置stop_gradient=True，batch_norm的参数mean和varience会还是在前向过程中更新。
通过设置`use_global_stats=True`可以禁止训练阶段更新这两个参数。

[2020-06-30 10:00] #24185 closed, assigned to GaoWei8

[2020-06-30 10:06] hong19860320 commented on #25270
麻烦提供下能够复现的、完整的python脚本、完整的c++预测代码

[2020-06-30 10:13] twoboysbaba opened #25275 "每个pass只运行两个batch就下一个pass"
mpi训练日志：
http://10.182.83.14:8910/fileview.html?type=logsdir&path=/&instance=335.app-user-20200629220916-129--zhaolei06_paddle_online_besitemcf_all_paddlecloud
![image](https://user-images.githubusercontent.com/24586689/86114378-044f0080-bafd-11ea-9284-515ca0b296d0.png)
本地测试正常
![image](https://user-images.githubusercontent.com/24586689/86114550-4415e800-bafd-11ea-8f4d-bbd70e63cdf2.png)
对应的代码逻辑：
![

[2020-06-30 10:39] lidanqing-vv commented on #21594
Moved to other machines that have bigger GPU memory

[2020-06-30 10:39] #21594 closed, assigned to wzzju, wojtuss

[2020-06-30 12:15] Derek-Kun opened #25283 "如何关闭NCCL2支持？"
我系统CentOS8， NCCL支持CentOS8的版本都是2.75以上的，CUDA版本都是10.2以上的，PADLLE最多支持到CUDA10.1和NCCL 2.47, 然后我在CENTOS8上安装了PADDLE以后运行测试程序的时候也说单卡运行没问题，多卡没法运行。然后我用ATTENTION LSTM做训练的时候把nums_gpu特意设置成了1， 也就是单卡训练，可是运行起来以后还是会报错

Error: Failed to find dynamic library: libnccl.so ( libnccl.so: cannot open shared object file: No such file or directory )
 Please specify its path correctly using following ways:
 Method. set environ

[2020-06-30 15:20] jczaja opened #25288 "How to skip to validate selected output tensors in python unit tests?"
Hi,

There are operators like LRN which are having one of an outputs (MidOut) that is no use for user , but it contains intermediate data
that are speeding computation of LRN grad operator. In unit tests, (test_check_output) this MidOut is also verified if it contains valid / expected data. Problem is that what is inside MidOut is implementation specific. oneDNN LRN will produce MidOut with diffre

[2020-07-01 02:35] Ryan906k9 commented on #24846
我尝试了使用，但是简单的网络结构参照案例可以实现
但是在实际运用到一个 NLP 任务中的时候，由于网络结构很复杂，我不确定是否使用正确了
出现了如下报错，是不是没有找到变量名的意思？我该去哪里找这个名字呢？
`---------------------------------------------------------------------------ValueError                                Traceback (most recent call last)<ipython-input-30-359c1be3b3db> in <module>
     18     t = time.strftime("_%Y_%m_%d_%H_%M_%S", time.localtime())
     19     #fluid.io.save_para

[2020-07-01 02:41] Ryan906k9 commented on #24846
我尝试了使用，但是简单的网络结构参照案例可以实现
但是在实际运用到一个 NLP 任务中的时候，由于网络结构很复杂，我不确定是否使用正确了
出现了如下报错，是不是没有找到变量名的意思？我该去哪里找这个名字呢？
<img width="1095" alt="截屏2020-07-01 上午10 37 57" src="https://user-images.githubusercontent.com/35905925/86197095-46248900-bb87-11ea-8756-3bbc8a914b02.png">
<img width="1113" alt="截屏2020-07-01 上午10 38 07" src="https://user-images.githubusercontent.com/35905925/86197116-50df1e00-bb87-11ea-9f96-9e3

[2020-07-01 02:55] MRXLT commented on #25127
你好，提供的aistudio中的代码第一次val之后loss仍然是有变化的
![image](https://user-images.githubusercontent.com/16594411/86198074-65241a80-bb89-11ea-9554-faa21b3ff8b9.png)

[2020-07-01 02:58] zhiqiu commented on #25275
经沟通排查，原因是mpi上面的train_data数据较少，只有两个batch的数据，可能是上传数据时的问题。

[2020-07-01 03:12] zyyhub commented on #25236
感谢，问题解决了。

[2020-07-01 03:12] #25236 closed, assigned to LielinJiang

[2020-07-01 05:46] zhiqiu commented on #25288
Hi, you can call `self.check_output(no_check_set=['MidOut'])` , so `MidOut` will not be checked.

[2020-07-01 06:03] zhiqiu commented on #25283
hi，单卡执行时不需要加载NCCL的，您可以看下是不是设置了多卡。可以把复现代码发出来看看。

[2020-07-01 06:51] Derek-Kun commented on #25283
我照着你说的下了一个CENTOS7老版本的NCCL然后重连了一下服务器，单卡可以跑了，但是多卡还是报同样的错误，我先单卡凑合着跑吧，感谢回答。

[2020-07-01 06:51] #25283 closed, assigned to nobody

[2020-07-01 07:09] junior-talk opened #25299 "训练loss出现nan"
paddlecloud任务: job-0bb5efc13130651a
训练过程中，很快出现loss为nan的情况

尝试过添加梯度裁剪，调整batch size未能解决

设置FLAGS_check_nan_inf后出现如下信息：
![image](https://user-images.githubusercontent.com/20383599/86213693-aed22c80-bbac-11ea-969b-081b13db9903.png)
![image](https://user-images.githubusercontent.com/20383599/86213720-b691d100-bbac-11ea-93de-c71ec83e0b41.png)

[2020-07-01 07:16] junior-talk commented on #25299
另外，我的loss由a、b两部分相加得到。训练过程中，我将三个值都打印出来，发现a+b != loss。

[2020-07-01 07:37] liangzhenduo opened #25302 "DataLoader读取数据Error in `python': free(): invalid pointer"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    2）CPU：
    3）GPU：V100单卡 NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2  CUDNN_VERSION=7.6.3.30
    4）系统环境：公司内网PaddleCloud k8s

- 训练信息
    1）单机单卡
    2）Device 0: "Tesla V100-SXM2-16GB"
  CUDA Driver Version                            10.2
  CUDA Capability Major/Minor version number:    7.0
  Total amount of global memory:

[2020-07-01 07:44] ggjge opened #25303 "cross_entropy算子报label维度错误"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.2

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

输入cross_entropy的label的shape是(m, n, 1)，仍报错：
![image](https://user-images.githubusercontent.com/10115676/86217153-a4fef800-bbb1-11ea-97d4-6ee256ea8c83.png)

代码：
![image](https://use

[2020-07-01 07:59] chenwhql commented on #25302
请问我有方法可以把代码从cloud下载到本地复现调试吗，要downlond哪些东西

[2020-07-01 08:11] liangzhenduo commented on #25302
http://10.255.125.11:8388/v1/download/abe565090f7b71a0997ef0fead5b8217063102a19a5c35817414e9382beb6336/backuplog/env_run/travel-type.tar.gz  训练数据在config.ini指定的afs上

[2020-07-01 08:33] GaoWei8 commented on #25299
可以考虑learning rate的大小设置。

[2020-07-01 08:45] GaoWei8 commented on #25299
如果不是learning rate的问题的话，应该就是数据里面类似有0，然后运算过程中出现除0之类的问题导致出nan。可以使用scope.find_var打印中间结果查看。

[2020-07-01 09:18] XiaoYangWu opened #25308 "fluid.layers.add_position_encoding 报错"
- 标题：调用fluid.layers.add_position_encoding接口报错
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 1.7.2
    2）CPU/GPU：CPU
    3）Python版本号: 2.7.18

复现信息:
搭建transformer结构，模型搭建没问题，feed训练数据进行模型训练时，在add_position_encoding接口报错退出。

调用训练接口：
exe.train_from_dataset(program=fleet.main_program, dataset=dataset, debug=False)

报错信息：

--------------------------------------------
 71 C++ Call Stacks (More useful to devel

[2020-07-01 09:22] GaoWei8 commented on #25308
模型中的数据输入输出维度再看下呢？报错显示Add Position Encoding的输入必须是两维的Tensor：
105 Error: The input X of Add Position Encoding should be 2-D LoDTensor! at (/paddle/paddle/fluid/operators/add_position_encoding_op.h:52)

[2020-07-01 10:25] HaoLiuHust opened #25314 "用其他模型quant aware出来的int8模型能直接用在paddle里面吗"
比如我用pytorch或其他框架已经训练好了一个int8模型，这个模型能直接用在paddle或者paddle-lite上吗

[2020-07-01 11:03] DDDivano commented on #25166
可以把mask打印出来吗？类型和值

[2020-07-01 11:18] Hi-ylf opened #25315 "使用paddle模型预测时，总是提示进程被KILL掉，"
- 版本、环境信息：
   PaddlePaddle版本：1.8.1，python3.6环境，linux
执行paddle的时候，遇到一个特别奇怪的错误，只运行执行函数A，结果正常，如果在A后再运行B的话，就会报错了。A和B单独执行都正常，如果 我用在调试模式下进行，这整个流程都没问题。所以问题到底是什么呢？？？

  2020-07-01 19:16:49,783-WARNING: variable file [ ./script/model_files/simnet_bow_pairwise_pretrained_model/__model__ ./script/model_files/simnet_bow_pairwise_pretrained_model/info.yml ] not used
OMP: Error #15: Initializing libomp.so, but

[2020-07-01 11:35] ArtyZe opened #25317 "[operator < feed > error]"
使用paddle提供的模型，进行最简单的一次前向预测，报了如下的错误，麻烦帮忙看一下，谢谢
  [Hint: Expected static_cast<size_t>(col) < feed_list.size(), but received static_cast<size_t>(col):0 >= feed_list.size():0.] at (D:\1.6.3\paddle\paddle\fluid\operators\controlflow\feed_op.cc:53)

[operator < feed > error]

[2020-07-01 12:09] GaoWei8 commented on #25315
看起来是OpenMP的链接错误。

[2020-07-01 12:10] GaoWei8 commented on #25317
麻烦贴下代码，看起来是没有feed输入。

[2020-07-01 12:15] GaoWei8 commented on #25303
目前确认用户的输入维度没有问题，并且更换cross_entropy前的API，还是会出现相同问题。

[2020-07-01 12:16] jiangjiajun commented on #25314
int8模型暂不支持。用Pytorch、Tensorflow或者Caffe正常训练好的模型，可以通过X2Paddle尝试转到Paddle框架。目前支持大多数的图像分类模型，目标检测和语义分割及Gan类型模型也有相应支持。具体模型是否支持取决于X2Paddle是否支持模型所使用到的OP算子。

这里是X2Paddle目前支持的OP算子列表： https://github.com/PaddlePaddle/X2Paddle/blob/develop/op_list.md
这里是X2Paddle目前测试过的一些模型转换： https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle_model_zoo.md

[2020-07-01 12:18] ArtyZe commented on #25317
@GaoWei8 您好，代码如下，我也怀疑是输入的问题，所以我将tensor打印出来是存在的
[code]
![image](https://user-images.githubusercontent.com/32027268/86242892-f7eba600-bbd7-11ea-91ea-03e4a9460d96.png)
所有的输出信息：
[code]

[2020-07-01 12:18] mamingjie-China opened #25318 "concat运算有误"
在进行模型转换时发现，Paddle(CPU)1.8.2的concat这个OP，如果其中一个输入的维度不确定，一个输入维度确定，例如一个tensor的维度为[-1,-1,-1,-1]，另一个为[1,32,64,64]时，若axis=1，得到的tensor维度为[-1,31,-1,-1]，即直接进行了加减处理，正常结果应该是输出的tensor也是不确定的，即[-1,-1,-1,-1]。望尽快修复
![image](https://user-images.githubusercontent.com/52770436/86242881-f3bf8880-bbd7-11ea-8879-e91dc96ace37.png)

[2020-07-01 12:21] GaoWei8 commented on #25318
目前concat不支持维度不相同的情况下，进行concat计算。

[2020-07-01 12:24] GaoWei8 commented on #25318
需求已收到。

[2020-07-01 12:29] mamingjie-China commented on #25318
import paddle.fluid as fluid
data0 = fluid.data(dtype='float32', shape=[-1, 20], name='data0')
data1 = fluid.data(dtype='float32', shape=[1, 20], name='data1')
result = fluid.layers.concat([data0, data1])
result

![image](https://user-images.githubusercontent.com/52770436/86243842-9af0ef80-bbd9-11ea-92f3-dc4867e8ff92.png)

[2020-07-01 12:31] mamingjie-China commented on #25318
import paddle.fluid as fluid
data0 = fluid.data(dtype='float32', shape=[-1, 20], name='data0')
data1 = fluid.data(dtype='float32', shape=[1, 20], name='data1')
result = fluid.layers.concat([data0, data1])
result

![image](https://user-images.githubusercontent.com/52770436/86243950-cbd12480-bbd9-11ea-998e-d8857e1bfc86.png)

[2020-07-01 12:32] shippingwang commented on #25303
报错并不是这行cross_entropy, 所以你打印的/debug的地方也不对，请查看代码中其他位置的cross_entropy

[2020-07-01 12:44] jiweibo commented on #25317
能否用最新的paddle再测一下，也可以跑一下示例代码，看看是不是库的问题
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/python_infer_cn.html#id7

[2020-07-01 12:51] ArtyZe commented on #25317
也是不行的，那可能是# config = AnalysisConfig(args.model_file)这一句的问题，因为我下载的是params在一个文件夹分散的那种，所以就按照
![image](https://user-images.githubusercontent.com/32027268/86245756-88c48080-bbdc-11ea-8e8f-92917685fa0c.png)
传进去的文件夹路径，把示例代码稍微改了下，只传model_file的路径，
但是示例代码报了同样的错误
![image](https://user-images.githubusercontent.com/32027268/86245815-a0036e00-bbdc-11ea-8f62-124e8fced041.png)

[2020-07-01 12:53] jiweibo commented on #25317
换一下最新的paddle试一下？

[2020-07-01 13:07] ArtyZe commented on #25317
@jiweibo 已经是最新的版本，
![image](https://user-images.githubusercontent.com/32027268/86247189-b3173d80-bbde-11ea-8abc-2c631dcc5079.png)
顺便问一句，我这个问题是第一次碰到吗？ :(

[2020-07-01 13:17] jiweibo commented on #25317
在本地复现不出这个问题，很奇怪。 要不你在尝试下1.7.0-1.8.0的paddle版本？

[2020-07-01 13:19] ArtyZe commented on #25317
收到。我来试一下，刚刚下班啦，明天早起试试，多谢🙏

| |
高扬
|
|
邮箱：gaoyang917528@163.com
|

签名由 网易邮箱大师 定制

On 07/01/2020 21:17, Wilber wrote:

@jiweibo 已经是最新的版本，

顺便问一句，我这个问题是第一次碰到吗？ :(

在本地复现不出这个问题，很奇怪。 要不你在尝试下1.7.0-1.8.0的paddle版本？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-01 13:38] ShaneTian commented on #25127
请问您 fork 代码之后直接运行的吗？没有做任何修改吗？
我又试了好几次。。。还是第一次 val 之后是 0.25。。。
而且 loss 的量级感觉和您的不一致，大约在 1/4 附近。

期待您的再次回复，谢谢！
@MRXLT

![image](https://user-images.githubusercontent.com/42370681/86250241-ea87e900-bbe2-11ea-8448-29c5cd16d02f.png)
![image](https://user-images.githubusercontent.com/42370681/86250288-fa9fc880-bbe2-11ea-9fda-2665cf75ca3f.png)
![image](https://user-images.githubusercontent.com/42370681/86

[2020-07-01 14:44] jczaja commented on #25288
@zhiqiu  Thanks for suggestion! To actually have it working I also needed to add *lrn* to *no_check_set_whitelist*.

[2020-07-01 14:44] #25288 closed, assigned to luotao1

[2020-07-01 17:07] YaaYang opened #25329 "An error occurred here. There is no accurate error hint for this error ye"
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::string const&, char const*, int)
2   paddle::memory::detail::MemoryBlock::Split(paddle::memory::de

[2020-07-02 00:02] lewhy2004 commented on #20914
请问  save label slot 具体是什么

[2020-07-02 00:35] ZSharp7 opened #25331 "paddle编译CPU环境出错"
GIT COMMIT ID: 0371cf6f9411d410ed4b4bb02becea23677da1ff
CPU: Intel(R) Core(TM) i7-9700 CPU @ 3.00GHz
系统环境: Ubuntu18.04  Anaconda:python37
安装方式: 本地编译
命令:
git clone https://github.com/paddlepaddle/paddle
PADDLE_ROOT=/path/of/paddle
cd Paddle
mkdir build
cd build
cmake -DFLUID_INFERENCE_INSTALL_DIR=$PADDLE_ROOT \
      -DCMAKE_BUILD_TYPE=Release \
      -DWITH_PYTHON=OFF \
      -DWITH_MKL=OFF \

[2020-07-02 02:14] GaoWei8 commented on #25308
用户使用train_from_dataset接口feed数据时，lod信息传输错误。使用exe.run(feed)没有问题

[2020-07-02 02:25] OliverLPH commented on #25331
`ulimit -n 4096` 后再试下

[2020-07-02 02:28] ZSharp7 commented on #25331
谢谢，问题已解决：增加系统同一时间最多可开启的文件数至2048
ulimit -n 2048

[2020-07-02 02:36] gfwm2013 commented on #25329
@YaaYang 能否提供相关的代码，如果只有报错信息的话，我这边看不太出来问题具体在什么地方。目前感觉像是显存相关的问题。

[2020-07-02 02:49] ArtyZe commented on #25317
@jiweibo 您好，我觉得可能是我下载的模型和现在的paddlepaddle不匹配，
因为我直接用paddlehub的module去测试，是ok的。
![image](https://user-images.githubusercontent.com/32027268/86310982-ecd55c00-bc51-11ea-80e4-789f95d76817.png)
我下载模型的链接在这里：
```https://github.com/PaddlePaddle/paddle2onnx/blob/develop/docs/model_zoo.md```
顺便问一句，目前paddlehub上各种模型预训练模型在哪里下载呀？

[2020-07-02 02:58] jiweibo commented on #25317
可以在models仓库下寻找合适的模型  https://github.com/PaddlePaddle/models。 paddlehub上的模型应该是训练好之后传到cdn上的

[2020-07-02 03:06] haozhe-an commented on #25082
已尝试使用ParamAttr设置单层learning_rate的值，但这个方法要求 learning_rate的赋值必须是一个 float。如下面的报错信息所示：

`TypeError: The type of 'learning_rate' in ParamAttr must be (<class 'float'>, <class 'int'>), but received <class 'paddle.fluid.framework.Variable'>.`

期望是将网络其中一层结构设置成cosine_decay这样的随着网络训练动态变化的学习率。请问有什么建议吗？

[2020-07-02 03:12] zhupengyang commented on #25082
呃，这个目前还无法实现~

[2020-07-02 03:20] haozhe-an commented on #25082
谢谢回答，希望以后的版本中可以添加这样的功能

[2020-07-02 03:28] ArtyZe commented on #25317
我下载后发现都没有__model__文件，之前我就是用的paddlecv中的infer.py来生成的，就造成了前面的错误，请问有其他的方式根据params生成__model__吗？

[2020-07-02 03:37] #25078 closed, assigned to jczaja, lidanqing-vv

[2020-07-02 03:50] hello-web commented on #25269
好的。谢谢。

[2020-07-02 03:50] #25269 closed, assigned to jiweibo

[2020-07-02 04:35] jiweibo commented on #25317
AnalysisConfig模式的预测，必须使用save_inference_model https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#save-inference-model  得到的预测格式模型，目前models仓库下应该没有导出预测格式模型，直接下载的是训练格式模型，但是代码中应该提供了转化方法。models仓库下预测格式模型应该会后续逐步更新。

[2020-07-02 05:33] mtz1992 opened #25338 "linux系统使用C++预测遇到的问题"
您好
我按照您的教程https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html#id1，使用cpu，Paddle版本使用1.7，编译了自己的库，没有安装nccl，make没有出问题，但我的PADDLE_ROOT目录下的third_party下的install目录为：
![image](https://user-images.githubusercontent.com/47801869/86319831-fb2e7280-bc67-11ea-8058-b7e8c8aac525.png)
导致我在使用自己编译的库进行调用模型预测时报错：
make[2]: *** No rule t

[2020-07-02 06:25] gfwm2013 commented on #25338
@mtz1992 能发一下你编译时的设置的编译选项吗？从log来看，我感觉像是MKL未开启导致的，可以尝试一下在编译选项中设置`-WITH_MKL = ON`重新编译一下试试。

[2020-07-02 06:35] ArtyZe commented on #25317
嗯嗯，多谢。其实我觉得还是有必要提供预测格式模型的，比如类似我这种其实没有训练需求而又想测一下paddle模型的话，感觉上去应该还是挺多的。
然后之前错误的地方应该是我在save model时候和infer时候输入格式不一样导致的。虽然也不太确定，毕竟core的代码都被封装起来看不到了
save:
![image](https://user-images.githubusercontent.com/32027268/86324382-1782dd00-bc71-11ea-9105-ff16b43291e1.png)
infer:
![image](https://user-images.githubusercontent.com/32027268/86324432-29648000-bc71-11ea-9f37-35798e54fe0d.png)

[2020-07-02 06:38] jiweibo commented on #25317
这一块感觉有问题，save_inference_model 传入的feed，必须是训练定好的输入名字，在你这里应该是"image"吧

[2020-07-02 07:07] ArtyZe commented on #25317
果然是这样，nice! 只要把tensor的名字改成'image'就ok了，原来这里必须要对应的，我还以为只要把tensor传进去就好了。真的太感谢了！那我就把issue关闭了哈，感激不尽，支持太给力了

[2020-07-02 07:07] #25317 closed, assigned to nobody

[2020-07-02 07:43] zhaowenqian666 commented on #22411
请问gpu版的paddle 1.8.1  应该配套哪个protobuf版本？我是突然有一天不能用了，一周前还是好好的，我目前protobuf的版本是protobuf_py3-2.5.1.dist-info    protobuf-3.6.1-py3.6.egg-info   protobuf-3.12.1.dist-info

[2020-07-02 07:45] Reatris opened #25343 "输入参数乘算出错？TypeError: matmul(): incompatible function arguments. The following argument types are supported:"
1）PaddlePaddle版本：Python版本python3.7  框架版本PaddlePaddle 1.7.1
请问这是什么错误
---------------------------------------------------------------------------TypeError                                 Traceback (most recent call last)<ipython-input-21-e43a997ef626> in <module>

---> 49             `predict = model(temp_images)`
     50             loss = fluid.layers.cross_entropy(labels)
     51             prin

[2020-07-02 07:53] zhaowenqian666 commented on #22411
两个都试过了，不得行

[2020-07-02 07:54] BeyondYourself opened #25344 "启动训练总是有个info信息，能解释一下这是什么情况会触发这样的信息"
在启动训练的时候，日志中第一个出现的info信息为：
`If regularizer of a Parameter has been set by 'fluid.ParamAttr' or 'fluid.WeightNormParamAttr' already. The Regularization[L2Decay, regularization_coeff=0.000100] in Optimizer will not take effect, and it will only be applied to other Parameters!`
什么情况会触发上述的信息，还是只是一个info，能说明一下上面info的意思吗，谢谢

[2020-07-02 08:15] leidaxia commented on #5464
hello,  我当前也遇到类似问题，请问这个你是如何处理的

[2020-07-02 09:46] gfwm2013 commented on #25344
@BeyondYourself 在Paddle中，参数的正则化器共能在两个地方设置，一是在某层中通过`ParamAttr`设置，另一个是通过优化器中的正则化统一设置。前者的优先级要高于后者，如果用户在某层已经通过`'fluid.ParamAttr'`等设置过了参数，那么在优化器中的正则化配置就不会对其生效。该info就是对这种情况的一个描述。

[2020-07-02 09:50] pmajchrzak opened #25348 "fatal error: crypto/cipher.h"
Seems that this commit:
https://github.com/PaddlePaddle/Paddle/commit/3b8f0a64c2e71d6bfa748b90d214e1f97159a5c1
causes CMake build error:
[code]

this error applies build_CAPI_ernie  (/root/models/benchmark/Inference/c++/ernie/)
`cmake .. -DPADDLE_ROOT=/repos/paddle_paddle/build/fluid_install_dir -DUSE_GPU=OFF`

[2020-07-02 09:55] ArtyZe opened #25349 "预训练模型的图片预处理"
我的预训练模型下载地址：
```https://paddleclas.readthedocs.io/zh_CN/latest/models/models_intro.html#id2```
请问输入图片的预处理是如何做呀？多谢
我先使用推荐的预处理进行预测，但是通过测试之后发现结果不对
[code]
结果如下：
![image](https://user-images.githubusercontent.com/32027268/86349874-642bdf80-bc94-11ea-8a74-817017b4d541.png)
正确结果应为：
![image](https://user-images.githubusercontent.com/32027268/86349919-74dc5580-bc94-11ea-8d1b-40006b4c43b0.png)
也就是imagenet中的

[2020-07-02 10:06] Meiyim opened #25351 "如何在dygraph 分布式运行时，令不同worker有不同的weight."
场景：尝试进行multi worker蒸馏时，希望不同worker有不同的teacher

发现：纵使显示令 不同worker加载不同的模型；forward出来的loss 都是严格一致的；请问有没有办法避免这种行为。

测试脚本(paddle 1.8.1 python3.6)
再次说明，以下行为虽然在正常训练中是符合预期的，但是在我目前的训练场景中希望即能开启`prepare_context`, 同时避免每个model的forward值完全一致。

[code]

运行脚本：
[code]

输出结果：
[code]

可以看到，纵使` print(model2.fc.weight.numpy().mean())`的值不一样（因为两个`model`是分别初始化的）； 最后预测出来的结果确实相等的。

[2020-07-02 10:19] luotao1 commented on #25348
@Yanghello @Shixiaowei02 Could you help see it?

[2020-07-02 11:27] mtz1992 commented on #25338
您好，上个问题我自己解决了，多谢多谢。不过我还有个问题想请教您，PaddleOCR超轻量用到的那两个模型db和crnn，现在开源出来的推理过程是python的，请问有C++版本的demo吗？

[2020-07-02 11:35] tianshuo78520a commented on #21646
我们会在最新的版本取消DWITH_DSO参数，如果您有特殊的需求可以继续回复isuess

[2020-07-02 11:39] #21646 closed, assigned to nobody

[2020-07-02 11:41] mtz1992 commented on #25338
您好，我在linux  cpu上，使用自己编译的预测库，调用PaddleOCR超轻量模型中的crnn模型，调用代码这样写：
#include <gflags/gflags.h>
#include <glog/logging.h>
#include <numeric>
#include <iostream>
#include <memory>
#include <chrono>
#include "paddle/include/paddle_inference_api.h"

namespace paddle {
void CreateConfig(AnalysisConfig* config, const std::string& model_dirname) {
  config->SetModel(model_dirname + "/model",

[2020-07-02 12:12] gfwm2013 commented on #25343
@Reatris 根据log来看，应该是`matmul`输入的类型有问题，应该放入`VarBase`类型的变量，却放入了numpy的数组。可以尝试使用`to_variable`接口，将numpy数组转成`VarBase`类型的变量之后再进行`matmul`操作。

[2020-07-02 12:43] houj04 opened #25353 "咨询dataloader的batchsize"
请参考附件。需要将run.txt改成run.sh，其余两个文件改成py。然后直接执行run.sh就可以了，只依赖paddle以及paddle自己的数据集。

[no_loader.txt](https://github.com/PaddlePaddle/Paddle/files/4864218/no_loader.txt)
[run.txt](https://github.com/PaddlePaddle/Paddle/files/4864219/run.txt)
[loader.txt](https://github.com/PaddlePaddle/Paddle/files/4864220/loader.txt)

背景：我在看dataloader，发现dataloader在不同的卡数的时候，batchsize好像不一样（其实是表现出来的step数不一致）。

作为对比，我写了上面的代

[2020-07-02 12:52] Reatris commented on #25343
@gfwm2013 解决了

[2020-07-02 12:52] #25343 closed, assigned to nobody

[2020-07-02 13:26] chenwhql commented on #25302
经过分析是generator没有设置合适，由set_batch_generator改为set_sample_list_generator就可以了，这暴露出来两个问题：
1. paddle.batch装饰后，我们却需要设置sample_list_generator，而不是batch_generator，这个可能让用户迷惑，文档上要加强解释
2. 这里用错了之后，需要给出合适的报错提示，现在直接报段错误不友好，这里提PR修复下

[2020-07-02 15:01] shippingwang commented on #25349
参考下PaddleClas里的代码么？可以看这里的前后处理 https://github.com/PaddlePaddle/PaddleClas/tree/master/tools/infer

[2020-07-03 01:00] BeyondYourself commented on #25344
明白，谢谢答复

[2020-07-03 01:00] #25344 closed, assigned to nobody

[2020-07-03 01:31] ShaneTian commented on #25127
已解决，谢谢！

[2020-07-03 01:31] #25127 closed, assigned to MRXLT

[2020-07-03 01:45] guowhite opened #25356 "有什么api可以获取句子向量？"
就是我想通过ernie预训练模型，拿到句子向量做余弦相似度计算，不知道paddle有没有这样的api

[2020-07-03 02:28] ArtyZe commented on #25349
非常感谢，已经解决。

[2020-07-03 02:28] #25349 closed, assigned to nobody

[2020-07-03 02:38] DannyIsFunny commented on #25356
你好，ernie相关问题建议直接到ernie repo的里提issue询问：https://github.com/PaddlePaddle/ERNIE/issues

[2020-07-03 02:45] #25356 closed, assigned to nobody

[2020-07-03 03:19] hargrovee opened #25362 "能否在服务器arm64架构上编译和使用"
各位，目前paddle是否支持arm64架构，能在arm64平台上编译和使用吗？

[2020-07-03 03:29] MissPenguin commented on #25338
您好，PaddleOCR的C++版本的demo下周会正式发布，现在已经提了pr（https://github.com/PaddlePaddle/PaddleOCR/pull/283/files），你可以先看下，或者等下周合入后直接按照文档教程使用（文档正在撰写中）。

[2020-07-03 03:30] MissPenguin commented on #25338
您好，PaddleOCR的C++版本的demo下周会正式发布，现在已经提了pr（https://github.com/PaddlePaddle/PaddleOCR/pull/283/files ），你可以先看下，或者等下周合入后直接按照文档教程使用（文档正在撰写中）。

[2020-07-03 04:31] chenwhql commented on #25353
同学你好，你这个两个示例程序的batch size不一样，造成这个count差的比较大，no_loader的batch size是128，loader的batch size是512，把loader的batch size改成和no_loader一致，测试结果就可以理解了，更改如下：

[code]

执行结果如下：

[code]

这时候如果是单卡的话，无论是否使用DataLoader，count都是一样的
如果是多卡，使用DataLoader是不使用DataLoader的1/2，这个我解释下：
- 多卡你要普通reader话，你feed的数据是会被均分给多卡的，比如这里你的batch size是128，那你用普通reader两卡，每张卡的batch size是的64
- 但多卡用DataLoader，DataLoader是异步读取，每次都会读取一个128 batch size的数据，每张

[2020-07-03 04:43] houj04 commented on #25353
解释非常清楚，多谢多谢~

[2020-07-03 05:48] MRXLT commented on #25348
hi, did you compile with the code of the develop branch?  I can't reproduce this error

[2020-07-03 06:00] mtz1992 commented on #25338
您好，您给我的源码提交记录是针对移动端PaddleOCR的部署，我想了解一下有没有针对PC端Linux系统的PaddleOCR的C++版本的demo？

[2020-07-03 06:38] leesusu opened #25365 "分布式训练，效果的稳定性"
请教个问题，全异步分布式训练，启动多个设置一模一样的训练任务，数据量也足够，这几个任务中，最大和最小的训练AUC差别较大，同样测试AUC也差别较大。除了选用效果最好的训练结果，还有其他办法吗？这个差异在异步训练里是正常的吗？谢谢🙏

[2020-07-03 06:43] MrChengmo commented on #25365
这个差异是不正常的，若正常训练收敛，在测试集上的auc相差不会很大。

相同实验设置测试集差异很大，可以从以下方面排查下：

- 集群环境的稳定性，不同节点间速度差异过大会影响模型收敛速度

- 数据是否被均匀分配和充分打乱

- 模型是否训练到收敛（排查下batchsize，学习率等因素）

[2020-07-03 06:44] shuhan666 opened #25366 "在使用paddleseg 的u-net模型时一直在报这个错误求求大佬帮我看一下"
Error: Blocking queue is killed because the data reader raises an exception
  [Hint: Expected killed_ != true, but received killed_:1 == true:1.] at (D:\1.8.1\paddle\paddle/fluid/operators/reader/blocking_queue.h:141)
  [operator < read > error]
W0703 11:51:43.316778 16908 operator.cc:187] read raises an exception class std::future_error, no state
F0703 11:51:43.316778 16908 exception_holder.h:37]

[2020-07-03 06:50] MissPenguin commented on #25338
pc端的c++代码暂时还没有开发哈，您可以对照着lite版的改改先。

[2020-07-03 07:00] mtz1992 commented on #25338
好的多谢

[2020-07-03 07:02] DannyIsFunny commented on #25362
当前未发布该功能，但是已经在开发该部分功能，可以参考这个PR修改实现编译，该部分代码当前在飞腾机器上验证过，其它处理器 还需要在验证：
https://github.com/PaddlePaddle/Paddle/pull/25212
![image](https://user-images.githubusercontent.com/45189361/86441080-3a2ef780-bd3e-11ea-8a2d-a13910bc0165.png)

[2020-07-03 07:03] leesusu commented on #25365
1. 应该不是节点差异，我们这边集群机器是同样的配置
2. 应该不是数据均匀分配，这边数据在hdfs分类上千个part，trainer个数远低于part数
3. 模型是否收敛，这个应该是收敛了，几个月的训练数据

但是batchsize我们比较小，lr比较大可能是个原因，但是这2个我们作为超参调的，保证最终测试AUC比较好

现在我对比2个任务，发现一开始如果训练AUC落后的话，后面基本上就稳定落后，我给你看下前期训练AUC对比：

0.522752	0.524962
0.563906	0.520216
0.596323	0.513046
0.631872	0.509045
0.655556	0.518995
0.677614	0.532329
0.689702	0.541053
0.701943	0.546135
0.710672	0.554792
0.718161	0.562764
0

[2020-07-03 07:06] MrChengmo commented on #25365
看起来和优化器关系很大，你用的是什么Optimizer，这种情况不正常

[2020-07-03 07:06] leesusu commented on #25365
AdaGrad

[2020-07-03 07:19] MrChengmo commented on #25365
试一下SGD和Adam吧，学习率可以先小一些，排除下优化器的问题，如果还是有这种现象，就需要排查下分布式框架的问题。

[2020-07-03 07:25] leesusu commented on #25365
好，我试下你说的方法，感谢

[2020-07-03 07:25] pmajchrzak commented on #25348
I’m sorry – my mistake
this error applies build_CAPI_ernie  (/root/models/benchmark/Inference/c++/ernie/)

cmake .. -DPADDLE_ROOT=/repos/paddle_paddle/build/fluid_install_dir -DUSE_GPU=OFF

[2020-07-03 07:59] luotao1 commented on #25348
@MRXLT `benchmark/Inference/c++/ernie/` is this file: https://github.com/PaddlePaddle/benchmark/tree/master/Inference/c%2B%2B/ernie

[2020-07-03 08:04] liangzhenduo commented on #25302
已经解决，感谢支持

[2020-07-03 08:04] #25302 closed, assigned to chenwhql

[2020-07-03 08:17] leesusu commented on #24332
@MrChengmo

paddle版本：release 1.8.2
数据读取：Dataset
同步训练：StrategyFactory.create_sync_strategy()

依然hang住，帮忙看看吧[抱拳]

[2020-07-03 08:20] zhiqiu commented on #25351
hi，这个问题我可以复现。
原因是，在第一次调用`model(ids)`的时候，会进行参数的broadcast，将0号卡的参数发给其他卡了，所以即使初始化不同的参数，后面在broadcast成一样的了。代码实现在：https://github.com/PaddlePaddle/Paddle/blob/b555378e18f918928679ca5c39f6d64aeb1b34ee/python/paddle/fluid/dygraph/layers.py#L594-L597

临时使用可以注释这几行code。
我们后续会评估下是否增加接口允许disable broadcast.

[2020-07-03 08:30] MRXLT commented on #25348
if you want to compile with inference library, please set -DPADDLE_ROOT=/repos/paddle_paddle/build/fluid_inference_install_dir

[2020-07-03 08:58] Meiyim commented on #25351
感谢。目前这个解决方案 能够满足我的需求。

我觉得一个比较好的方案是把参数同步的时机移动到`prepare_context`时；这样一个模型被`prepare_context`后便会进行一次全局同步，否则不会。用户需要在调用`prepare_context`之前完成参数的加载。

[2020-07-03 08:58] pmajchrzak commented on #25348
Yeah! Thank You,

Seems to me that this problem is solved wit this suggestion.
Thank You very much!

[2020-07-03 10:39] seiriosPlus commented on #24332
404 Not Found 了， 能hi联系吗

[2020-07-03 10:47] seiriosPlus commented on #24332
用dataset训练时， 需要做一下如下操作：
1、 在运行前环境变量中export
`export CPU_NUM=想要使用的线程数`
2、 在dataset声明的时候， 使用 dataset.set_thread(int(os.environ.get("CPU_NUM")))

[2020-07-03 11:44] leesusu commented on #24332
g_rd_thd_num = int(os.getenv("RD_THD_NUM", "10"))
dataset.set_thread(g_rd_thd_num)

有这段代码，是一定要叫 CPU_NUM 吗？

[2020-07-03 11:52] houj04 commented on #25353
mnist数据集的训练集是6w个，测试集是1w。当单卡的时候，step数是6w/128=468.75，以及1w/128=78.125，实际跑出来是469和79。
当两个卡的时候，step数是6w/256=234.375，以及1w/256=39.0625，实际跑出来是234和39
为啥单卡的时候，是向上取整，而两个卡的时候，是向下取整呢？

[2020-07-03 12:01] mtz1992 commented on #25338
您好，请问PaddleOCR的C++版本基于移动端的demo会在下周几发布？

[2020-07-03 13:03] chenwhql commented on #25353
batch size是可变参数，对于最后一个不足batch size128的数据，单卡也是能正常训练的

但是多卡不是这样，多卡每张卡算完是要做梯度同步，要确保两张卡上输入数据的batch size是一样的，所以按照前面说的原理，使用DataLoader的话，训练一轮需要两个完整的batch，就是两个128的batch，这样两张卡才能都有数据，才能同步

所以，默认情况下，DataLoader会丢弃最后不足卡数的bach，也只能丢弃

但如果是使用DataLoader多卡预测，预测时每张卡算完不需要同步，这时候，剩余的不完整数据其实可以被使用，所以DataLoader有个参数：drop_last(1.8以上版本)，预测的话

![image](https://user-images.githubusercontent.com/22561442/86471724-7d09c300-bd70-

[2020-07-03 15:06] seiriosPlus commented on #24332
是的

[2020-07-04 06:19] leesusu commented on #24332
可以了👍，感谢， @seiriosPlus @MrChengmo

[2020-07-04 07:08] cyrxdzj commented on #24713
官网安装命令报错，命令：python -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple
错误信息:
ERROR:Could not find a version that satisfies the requiremeng paddlepaddle (from versions:none)
ERROR:No matching distribution found for paddlepaddle

[2020-07-04 14:41] tomcheng0618 opened #25377 "在源码安装Paddle的时候是否可以使用本地的第三方库，如本地/usr/lib64中的grpc,gflags等进行安装"
非常感谢百度的paddle团队提供这么好的软件为大家使用。由于我是在局域网集群中安装paddle1.8，在源码安装的过程中无法连接外网，但在安装过程中我看到需要下载grpc,eigen等第三方包。我看到我们集群环境中有这些包,在/usr/lib64中用dnf安装的，我想询问使用源码安装的过程中是否我可以直接使用本地的这些包进行安装，如果可以我应该怎么样进行操作。

第一次写issues，希望能得到大大的支持

[2020-07-04 15:39] jiweibo commented on #25377
openblas可以，其它的暂不支持。

[2020-07-05 09:34] Akeepers opened #25378 "自定义op：实现只计算tensor 部分维度的余弦相似度"
计算余弦相似度的需求:

1.  类似pytorch的[cosine_similarity](https://pytorch.org/cppdocs/api/function_namespacetorch_1_1nn_1_1functional_1a9dc0b9d03d17ea4a679a3ccd42dc6e66.html), 只计算tensor部分维度余弦相似度，经调研paddle没有对应功能的op

尝试自定义python op时，不知道**如何定义反向函数？**， 可以帮忙给出例子吗？

前向的功能类似, 其中该op：

1. 没有需要学习的参数
2. 在encoder和分类层中间，encoder和分类层都有需要学习的参数

[code]

[2020-07-05 12:50] liym27 commented on #25378
您好，您可以参考官方文档：[如何写新的Python OP](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/new_python_op.html)

[2020-07-05 13:29] Akeepers commented on #25378
我看了您提到的这个文档。贴的代码是我参考文档写的前向函数。文档中的示例是tanh，但是我想自定义的op，是没有需要学习的参数的。

所以我的问题是，**不太确定这里是否需要定义反向函数，如果需要定义，该如何实现**

[2020-07-05 14:28] liym27 commented on #25378
需要定义反向函数，具体的实现除了参考文档外，需要自行给出反向计算逻辑。
反向计算逻辑可以参考Paddle源码中的op反向逻辑、或者自行搜索反向计算方法。

[2020-07-05 15:54] HighCWu commented on #25141
对于使用aistudio的paddlepaddle版本低于1.8.2的用户，我找到一个应该是兼容可作为替代matmul的函数，希望对大家有用。见以下定义：
[code]
即使用张量乘法bmm。

[2020-07-05 18:58] 60999 opened #25380 "能否在jetson nano arm64架构上编译和使用"
如题：
尝试了一下编译失败，请问有没有编译方法的文档？谢谢！

[2020-07-06 01:26] shippingwang commented on #24999
paddle 的momentum实现和tf 有区别，相同参数不收敛。Adam低3%的问题需要再看

[2020-07-06 02:23] DannyIsFunny commented on #25366
你好，paddleseg相关问题建议直接到 Paddle-Seg repo中提Issue询问：
https://github.com/PaddlePaddle/PaddleSeg/issues

[2020-07-06 02:23] wanghaoshuang opened #25382 "离线量化没有正确处理scope"
这一行应该用用户传进来的scope，而不是用默认的global_scope.
https://github.com/PaddlePaddle/Paddle/blame/develop/python/paddle/fluid/contrib/slim/quantization/post_training_quantization.py#L341

[2020-07-06 02:26] juncaipeng commented on #25382
好的，会马上修一下这个问题。

[2020-07-06 02:48] #25378 closed, assigned to liym27

[2020-07-06 03:04] vinceyzw opened #25386 "paddle调用异常"
- 报错情况：
Connected to pydev debugger (build 201.7846.77)
W0706 10:48:51.948972  5980 init.cc:209] Warning: PaddlePaddle catches a failure signal, it may not work properly
W0706 10:48:51.948985  5980 init.cc:211] You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle
W0706 10:48:51.948987  5980 init.cc:214] The detail failure signal is:

W0706

[2020-07-06 03:58] wuyefeilin commented on #25366
@shuhan666 请问你这是在什么情况下碰到这个问题的，也麻烦你把issue提到https://github.com/PaddlePaddle/PaddleSeg/issues，方便seg团队跟进

[2020-07-06 04:03] fiyen commented on #25080
问题已解决。主要原因是Adam优化器创建的时间点不对。在Adam优化器创建的时候，forward函数还没有被访问，所以训练参数没有全部创建。这个时候创建Adam优化器，参数是不全的，所以就会有参数没有被训练。
解决方法是将Adam优化器的创建放到loss后向传播之后。个人尝试Adam每个batch都创建和创建一次差别不大。所以可以用判断条件只创建一次，或者每个batch都创建一次。但是是否影响速度就不清楚了。

[2020-07-06 06:20] sfraczek commented on #20964
Hi,

I was experimenting with enabling mkldnn in dygraph and there is an issue.

There is no ctx object in GetKernelTypeForVar. The actual code in develop looks like this:
https://github.com/PaddlePaddle/Paddle/blob/d0a921ba98b6cc3012e04606f7846db378eb4275/paddle/fluid/operators/conv_op.cc#L195-L198

 The `this` object has no attributes in dygraph mode. This causes crash when trying to access "dat

[2020-07-06 07:10] cryoco commented on #25380
jetson上编译可以看这个[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html)，如还有编译报错可以截图发出来哈

[2020-07-06 08:06] amsturdy opened #25394 "batchnorm 的困惑"
最近在paddle模型和caffe模型的转换过程中，发现batchnorm输出差异较大，所以去查看了paddle的文档：https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/BatchNorm_cn.html#batchnorm
有一点困惑

当use_global_stats = True时，
![temp](https://user-images.githubusercontent.com/18511167/86571525-24227080-bfa4-11ea-818a-954ef7d96b2b.png)

红线处的值是来自模型所存参数么？moving_mean和moving_variance来自哪里或者用到哪里呢？

[2020-07-06 08:48] KrisZHH opened #25396 "安装完成后，import paddle报错"
安装paddlepaddle-gpu-1.8.2-post97后，import paddle报错如下：

Python 3.6.11 (default, Jul  6 2020, 10:10:46)
[GCC 5.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/vis/zhenghonghui/env/python3.6/lib/python3.6/site-packages/paddle/__init__.py", line 37, in <module>
    import paddle.c

[2020-07-06 09:26] FrostML commented on #25396
请教了下 @zhiqiu ，这是一个已知的问题。具体的原因可以参照这个 [PR 25390](https://github.com/PaddlePaddle/Paddle/pull/25390)。
@zhiqiu 给出了一种解决方案可以先尝试下：
在 `/home/vis/zhenghonghui/env/python3.6/lib/python3.6/site-packages/paddle/fluid/` 下面找到`core_avx.so`
`ldd core_avx.so`之后
找到这么一行：
`libgomp.so.1 => /usr/lib/x86_64-linux-gnu/libgomp.so.1`
然后试下将`libgomp.so.1`的路径加入环境变量`LD_LIBRARY_PATH`，再
`export LD_PRELOAD=path_to_libgomp.so.1`

[2020-07-06 09:43] #18201 closed, assigned to seiriosPlus

[2020-07-06 09:43] #18206 closed, assigned to Superjomn

[2020-07-06 09:43] #18224 closed, assigned to phlrain

[2020-07-06 09:43] #18244 closed, assigned to sneaxiy

[2020-07-06 09:43] #18258 closed, assigned to NHZlX

[2020-07-06 09:43] #18268 closed, assigned to tensor-tang

[2020-07-06 09:43] #18270 closed, assigned to NHZlX

[2020-07-06 09:43] #18315 closed, assigned to wanghaoshuang

[2020-07-06 09:44] #18321 closed, assigned to chengduoZH

[2020-07-06 09:44] #18338 closed, assigned to nobody

[2020-07-06 09:44] #18344 closed, assigned to nobody

[2020-07-06 09:44] #18345 closed, assigned to nobody

[2020-07-06 09:44] #18352 closed, assigned to nobody

[2020-07-06 09:44] #18358 closed, assigned to frankwhzhang

[2020-07-06 09:44] #18360 closed, assigned to nobody

[2020-07-06 09:44] #18361 closed, assigned to frankwhzhang

[2020-07-06 09:44] #18367 closed, assigned to frankwhzhang

[2020-07-06 09:44] #18460 closed, assigned to heavengate

[2020-07-06 09:44] #18465 closed, assigned to heavengate

[2020-07-06 09:44] #18475 closed, assigned to nobody

[2020-07-06 09:44] #18489 closed, assigned to kagome112

[2020-07-06 09:44] #18494 closed, assigned to nobody

[2020-07-06 09:44] #18495 closed, assigned to Superjomn, NHZlX

[2020-07-06 09:44] #18498 closed, assigned to nobody

[2020-07-06 09:44] #18506 closed, assigned to nobody

[2020-07-06 09:44] #18517 closed, assigned to nobody

[2020-07-06 09:44] #18530 closed, assigned to NHZlX

[2020-07-06 10:10] sandyhouse commented on #25308
dataset怎么定义的，以及数据格式是什么样子的？

[2020-07-06 14:18] SAMSONEE commented on #24713
python的版本太高了，不支持，可以看一下这篇文章：https://blog.csdn.net/weixin_43887162/article/details/104342699

[2020-07-06 15:05] SAMSONEE commented on #24302
我也是这一步出了问题,显示如下：
![Snipaste_2020-07-06_23-04-35](https://user-images.githubusercontent.com/55627057/86608455-2ce36880-bfdd-11ea-8d69-873421310ec5.png)
这也是同样的问题吗？

[2020-07-07 00:37] ClassmateXiaoyu opened #25404 "训练好的模型能接到物联网平台吗"
我想咨询一下，飞浆训练好的模型能否部署到物联网平台，比如百度自己的物联网平台，如果可以，应该怎么进行部署，有没有相关的文档？

[2020-07-07 02:00] #25396 closed, assigned to nobody

[2020-07-07 02:03] #25394 closed, assigned to nobody

[2020-07-07 02:04] amsturdy commented on #25394
是行业标准的batchnorm, 是由于我的粗心而导致的差异

[2020-07-07 02:41] mengyiliu22 opened #25405 "单机训练正常，mpi训练出错"
mpi报错信息如下：

Traceback (most recent call last):
  File "train.py", line 425, in <module>
    train(args, dataset)
  File "train.py", line 408, in train
    train_loop(exe, train_prog, startup_prog, net)
  File "train.py", line 267, in train_loop
    loss_val = train_exe.run(fetch_list=[loss.name])
  File "/home/disk7/task_data/history/20200706/0.app-user-20200706222537-8247--fm_a_a_1_1_202007062223

[2020-07-07 03:01] tianshuo78520a commented on #25386
使用1.8版本的Paddle 测试呢？ 1.7存在该问题的，可以尝试使用1.8以上的Paddle.

[2020-07-07 03:09] Killer-sang opened #25407 "加载预训练模型load_persistables报错"
- 标题：加载预训练模型load_persistables报错
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）CPU/GPU：GPU Telsa V100
    3）系统环境：AIstudio
    4）Python版本号： 3.7
    5）显存信息：16G

- 问题描述：
        楼主在AI studio中训练自己的模型，有的时候设置的训练Epoch较少，想保存模型、参数之后接着继续训练，就想在AIstudio的notebook创建两个code块，其中一个用于第一次训练（仅保存模型），另一个用于后续的训练（导入前一次模型并且经过训练后保存训练好的模型），两个code块内容上基本一致，有差异的地方仅在保存导入模型部分。参考了官网文档后选择使用save_persistables、load_persistables进行保存和导入，但使用l

[2020-07-07 04:33] #25382 closed, assigned to juncaipeng

[2020-07-07 04:44] HighCWu opened #25408 "动态图中如何便捷的进行梯度累加"
- 版本、环境信息：
    PaddlePaddle版本：1.8.0
- 伪代码
[code]
如何实现losses中所有loss的反传梯度累加在一起用于一次性优化？有便捷的实现吗？重新包装一个优化器会有些麻烦。应该不是ReComputeOptimizer那种。
- 对标PyTorch实现
[code]
PyTorch的已经实现的过程会简洁很多，因为它会自动计算进行了反向传播的损失

[2020-07-07 04:52] parap1uie-s commented on #25407
可以试试用load_vars:

[code]

[2020-07-07 07:04] tianshuo78520a commented on #24713
目前Paddle还没有发布python 3.8版本的whl包，可以使用python3.7安装paddle，如果有需要您可以自行编译。参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/compile_Ubuntu.html

[2020-07-07 09:00] seiriosPlus commented on #25405
1. 去掉clip
2. 使用1.7.1以上的版本

[2020-07-07 10:15] cryoco commented on #25404
请问您是要部署到什么硬件上呢

[2020-07-07 11:50] #25314 closed, assigned to nobody

[2020-07-07 12:07] phlrain commented on #25408
这个 反传梯度累加在一起 是说在loss.backward的时候进行累加么。。这个paddle已经进行了累加了

[2020-07-07 13:09] wu8320175 opened #25421 "语言模型任务中，怎么用前一批次的隐藏状态初始化下一批次的隐藏状态？如图"
![QQ图片20200707210101](https://user-images.githubusercontent.com/24267883/86786039-1220fa80-c096-11ea-9c5c-42b11eccbb7d.png)

[2020-07-07 13:36] wojtuss opened #25423 "Quant2 INT8 inference tests running times increased after Quant2 procedure update"
After merging the PR https://github.com/PaddlePaddle/Paddle/pull/25313, in our internal benchmarks we noticed significant increase in Quant2 inference tests running times for several models (e.g. ResNet50/101, MobileNetV1/2).
We are investigating it further.

[2020-07-07 13:55] lxk767363331 opened #25424 "关于paddle张量运算的问题"
你好，问题是这样的。我现在有2个张量A（8,3,512,512）、B（8,3,512,512）意思分别为（N,C,W,H）现在我要对这两个张量的W，H分别相加然后分别求均值，再得到一个（8,3,512,512）的张量。
相加我找到的是这个算子 warp=fluid.layers.elementwise_add(x=data, y=down_up_warp, act=None)
求均值我没有找到，warp=warp//2这样是不对的。
请问有算子么 ？或者可以告知我怎么写嘛

[2020-07-07 14:22] HighCWu commented on #25408
@phlrain 不是，多个loss通过backward算好了梯度，然后将这个梯度加起来取平均，优化器的话使用minimize只能输入一个loss，没办法所有的loss一起梯度下降，详情你可以搜索pytorch的梯度累加

[2020-07-07 14:33] wu8320175 commented on #25421
1.8版本静态图

[2020-07-07 18:36] CaoT94 opened #25426 "多标签分类方法"
请问paddle里面有提供multi label相关的方法吗？

[2020-07-07 21:44] lidanqing-vv commented on #25348
Issue does not exist any more

[2020-07-07 21:44] #25348 closed, assigned to luotao1

[2020-07-07 23:45] linyangsdu opened #25427 "Paddle for Rocm?"
I want to use paddle for ROCM platform, anyone advice?

[2020-07-08 01:40] liu0haha123 opened #25428 "有动态图模式下可以使用的一维卷积和池化吗"
飞桨版本1.7.2
测试代码
import paddle.fluid as fluid
with fluid.dygraph.guard():
    x = fluid.layers.data(name='x', shape=[7, 1], append_batch_size=False,
                          dtype='float32', lod_level=1)

    avg_x = fluid.layers.sequence_pool(input=x, pool_type='average')
    sum_x = fluid.layers.sequence_pool(input=x, pool_type='sum')
    sqrt_x = fluid.layers.sequence_pool(input=x, pool_type='sq

[2020-07-08 02:18] MARD1NO opened #25430 "关于AIStudio训练报错的问题"
您好，今天在AIStudio 的paddle1.8版本下跑代码，报了个错误，重启环境无效
![image](https://user-images.githubusercontent.com/42901638/86866771-2c91bd00-c104-11ea-92ab-26273078af3b.png)
之前在paddle1.7下跑代码也是这个错误，但是代码没改动，第二天重新启动项目后又恢复正常了

这两次运行代码我只修改了自己的batchsize大小，而且我自己拿numpy张量运算检验，最后出来的张量shape是正确的，不知道这个问题出在哪儿？

[2020-07-08 02:22] wenston2006 opened #25431 "paddle个版本对应的cuda和cudnn版本能公布一个列表吗？"
经常在安装完后运行时提示cudnn版本不对，之前1.5.1需要cudnn7.3，现在1.8.0需要cudnn7.6，这些都是使用paddle时才给出提示；

为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac

[2020-07-08 02:23] MARD1NO commented on #25430
另外补充下，这个训练程序是基于我定义的模型来跑的，我使用numpy自定义张量验证
![image](https://user-images.githubusercontent.com/42901638/86867204-fef94380-c104-11ea-8c4d-93690e0d74b5.png)
![image](https://user-images.githubusercontent.com/42901638/86867216-03256100-c105-11ea-9bf3-f7d2458900dc.png)
最后输出shape是正确的

[2020-07-08 02:29] cyfwry opened #25432 "一个关于paddle.fluid.layers.space_to_depth的问题"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：1.7,2
2）CPU/GPU：CPU&GPU，用的是ai studio平台环境
3）系统环境：ai studio平台环境
- 复现信息：
我尝试使用api：paddle.fluid.layers.space_to_depth(x, blocksize, name=None)（参考文档https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/space_to_depth_cn.html#space-to-depth），但我发现文档中给出的范例不可以成功使用（但示例可以），原因在于pd中的space_to_depth的实现和t

[2020-07-08 02:37] cryoco commented on #25424
可以看下[fluid.layers.mean](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/mean_cn.html#mean)是否满足您的需求

[2020-07-08 02:39] lxk767363331 commented on #25424
这个是求输入的全部平均值，我要做的操作是2个张量中某2个维度加和 再求这俩数的均值
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Pei Yang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年7月8日(星期三) 上午10:37
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"不要冲动保持心态"<767363331@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] 关于paddle张量运算的问题 (#25424)

可以看下fluid.layer

[2020-07-08 02:41] phlrain commented on #25407
建议使用
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/load_cn.html#save
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/load_cn.html#load

这两套接口进行参数的保存和加载

[2020-07-08 02:44] cyrxdzj commented on #24713
哦，原来如此。

[2020-07-08 02:44] #25329 closed, assigned to nobody

[2020-07-08 02:56] FrostML commented on #25421
可以参考下这个模型 language_model：https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/language_model
然后详细的组网的代码在这里：https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleNLP/shared_modules/models/language_model/lm_model.py#L336
![image](https://user-images.githubusercontent.com/7160927/86869695-98c2ef80-c109-11ea-98d2-33b1fa31a657.png)

[2020-07-08 03:11] cryoco commented on #25424
您可以试下[reduce_mean](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/reduce_mean_cn.html#reduce-mean)

[2020-07-08 03:45] cyfwry opened #25436 "一个关于paddle.fluid.dygraph.CosineDecay的建议"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：1.7.2
2）CPU/GPU：CPU&GPU，用的是ai studio平台环境
3）系统环境：ai studio平台环境
- 复现信息：我在文档中搜索余弦退火算法（CosineAnnealing），但是没有找到。于是我在拨弄paddle.fluid.dygraph.CosineDecay时，发现它可以起到CosineAnnealing的效果。具体来说，
paddle.fluid.dygraph.CosineDecay(learning_rate, step_each_epoch, epochs, begin=0, step=1, dtype='float32')，只要让总epoch个数超过epochs这个

[2020-07-08 03:56] juncaipeng commented on #25426
请参考这个多labe分类的文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/layers/loss_function.html#id4

[2020-07-08 04:59] junior-talk opened #25437 "多卡训练loss出现nan，且报错an illegal memory access was encountered"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：多卡训练loss出现nan，且报错an illegal memory access was encountered

- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：CentOS release 6.10 (Final) , python3
 注：您可以通过执行[summary_env.py](https://

[2020-07-08 05:04] juncaipeng commented on #25428
请参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-alpha/api_guides/low_level/layers/conv.html#d
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-alpha/api_guides/low_level/layers/pooling.html#sequence-pool

但是我看api都是只支持静态图，目前没有支持动态图。

目前动态图主要在2.0版本有重大升级和支持。

[2020-07-08 05:15] juncaipeng commented on #25431
您好

在paddle官网安装文档中，有对应的cuda和cudnn版本要求，https://www.paddlepaddle.org.cn/install/quick，比如

![image](https://user-images.githubusercontent.com/52520497/86879125-088ea580-c11d-11ea-95e8-68cd771fdec5.png)

[2020-07-08 05:18] Killer-sang commented on #25407
请问我使用fluid.save又出现了下面的错误是怎么回事呀？
InvalidArgumentError: The Variable type must be N6paddle9framework9LoDTensorE, but the type it holds is N6paddle9operators13CudnnRNNCacheE.
  [Hint: Expected holder_->Type() == VarTypeTrait<T>::kId, but received holder_->Type():52 != VarTypeTrait<T>::kId:7.] at (/paddle/paddle/fluid/framework/variable.h:54)

[2020-07-08 06:16] mamingjie-China commented on #25432
PaddlePaddle中有pixel_shuffle这个OP，之前用过，应该是和pytorch里面对齐的，可以试一下看看https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/pixel_shuffle_cn.html#pixel-shuffle

[2020-07-08 06:19] GaoWei8 commented on #25318
修复PR已merge。

[2020-07-08 06:19] #25318 closed, assigned to nobody

[2020-07-08 06:59] dingsiyu opened #25440 "lookup_table抛出特殊异常"
epoch 0 progress 490/12133 pyreader queue size 24
step: 10, ave loss: 0.053850, ave acc: 0.000000, time_cost: 10.359152 s
epoch 0 progress 919/12133 pyreader queue size 46
step: 20, ave loss: 0.000000, ave acc: 0.000000, time_cost: 3.790060 s
epoch 0 progress 1098/12133 pyreader queue size 50
step: 30, ave loss: 0.000000, ave acc: 0.000000, time_cost: 3.348874 s
Error: /paddle/paddle/fluid/operato

[2020-07-08 07:29] #24510 closed, assigned to nobody

[2020-07-08 07:45] seiriosPlus commented on #25440
lookup table OP的输入要求是 [0, N-1)， 可以在lookuptable前加一下[`fluid.layers.Print`](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print) ， 排查一下是不是输入有误.

[2020-07-08 08:05] juncaipeng commented on #25430
可以给出一个分享版本，我来复现一下吗？

[2020-07-08 08:14] MARD1NO commented on #25430
https://aistudio.baidu.com/aistudio/projectdetail/316583 您好项目地址在这儿，不过这是之前的一个版本。现有的代码都是在此基础增加的。我之前所说的1.7出现的问题在这个版本上也出现过，只不过第二天又可以正常运行了。
问了下官方人员他说这个是日志，并不是报错信息
另外我撰写了一份该项目的使用文档，如果需要可加微信:15220112039

[2020-07-08 08:19] juncaipeng commented on #25432
好的，感谢反馈，已经有负责同学会修复。

如上同学回复，PaddlePaddle中有pixel_shuffle这个OP。

[2020-07-08 08:59] cryoco commented on #25404
如果要在端侧部署，可以使用Paddle-Lite，可以参考这个[文档](https://paddle-lite.readthedocs.io/zh/latest/)哈

[2020-07-08 09:09] chenwthu opened #25443 "如何实现range索引"
如何对Tensor实现类似numpy中使用range作为索引的操作，例如`np.array([[1,2,3], [4,5,6]])[range(2), [1,2]]`可以得到`[2,6]`

[2020-07-08 09:18] zhiqiu commented on #25408
hi，@HighCWu 不同batch之间的梯度累计，我们会在后面进行支持。

[2020-07-08 09:42] HighCWu commented on #25408
@zhiqiu 行，那当下版本我应该只能重写优化器了😂

[2020-07-08 09:46] phlrain commented on #25436
CosineAnnealing 这个api 已经在我们排期优化中；

文档的事情我们这边会进行优化；

非常感谢反馈

[2020-07-08 10:07] juncaipeng commented on #25443
可以使用slice函数：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-alpha/api_cn/paddle_cn/slice_cn.html#slice

[2020-07-08 10:15] chenwthu commented on #25443
slice似乎只能索引到连续的切片？

[2020-07-08 11:16] HaoLiuHust commented on #25135
这个问题找到原因了么

[2020-07-08 11:40] juncaipeng commented on #25443
也有strided_slice ：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-alpha/api_cn/paddle_cn/strided_slice_cn.html

[2020-07-08 11:55] juncaipeng commented on #25427
paddle does not support Rocm for now.

[2020-07-08 12:54] chenwthu commented on #25443
`index_sample`可以实现，但好像没有保留梯度图

[2020-07-08 14:23] ClassmateXiaoyu commented on #25404
你好，模型会部通过使用paddle lite署在树莓派之类的硬件上。同时也会做paddle serving的HTTP部署，HTTP部署后，物联网平台能否通过部署的http地址进行模型的访问并返回值？

[2020-07-09 01:24] juncaipeng commented on #25437
收到，请秋良 @zhiqiu 看下这个多卡静态图训练的bug。

[2020-07-09 01:38] MARD1NO commented on #25430
您好，今天在aistudio把paddle版本换回1.7.0后，报错消失了

[2020-07-09 03:01] pipipiapia opened #25454 "the number of ids can not be zero, you need padding it in data generator"
Thu Jul  9 10:41:15 2020[1,1]<stdout>:start load_into_memory
Thu Jul  9 10:41:16 2020[1,1]<stderr>:20/07/09 10:41:16 INFO fs.LibdfsLoader: Trying to load the libdfs library...
Thu Jul  9 10:41:16 2020[1,1]<stderr>:20/07/09 10:41:16 INFO fs.LibdfsLoader: Loaded the libdfs library
Thu Jul  9 10:41:16 2020[1,1]<stderr>:20/07/09 10:41:16 INFO fs.DFileSystem: Loaded the libdfs library
Thu Jul  9 10:41:

[2020-07-09 03:08] HongRuHou opened #25455 "使用opt将Paddle detection训练的模型转为arm下部署出问题"
我是用的是Paddle detection的yolov3+resnet50训练出来了一个目标检测模型，使用tools/model_infer可以正常生成__model__和__params__,然后我就是用opt工具将这个初步转换后的模型试着转换为arm下可以部署的cpu模型，就报错了，显示不支持。但是我在官网文档看了下是支持resnet50的，所以就不知道为啥了，有点懵。

Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'deformable_conv'.
上述为报错信息

[2020-07-09 03:32] #25431 closed, assigned to nobody

[2020-07-09 03:35] juncaipeng commented on #25430
好的，如果有后续问题可以继续提出~~

[2020-07-09 05:43] zhupengyang commented on #25455
paddlelite的deformable_conv OP在develop分支上已经开发完成，可以在下一个release版本使用。现阶段也可以自己使用develop分支编译opt和预测库。

[2020-07-09 05:47] HongRuHou commented on #25455
我后来换成了Paddle detection库下的mobilenet_v1来训练，但是在opt的时候也遇到个什么版本问题，可以麻烦您帮我看看嘛，这个按理来说不应该是支持的嘛。
I0709 13:42:28.243165 16428 cxx_api.cc:251] Load model from file.
F0709 13:42:28.255749 16428 model_parser.cc:63] Check failed: version == 0U (1924763619 vs. 0) Only version 0 is supported
*** Check failure stack trace: ***
Aborted (core dumped)

[2020-07-09 05:48] HongRuHou commented on #25455
release版本下载的git有吗？我想在AI STUDIO弄一个试试

[2020-07-09 06:23] HongRuHou commented on #25455
我后来换成了Paddle detection库下的mobilenet_v1来训练，但是在opt的时候也遇到个什么版本问题，可以麻烦您帮我看看嘛，这个按理来说不应该是支持的嘛。
I0709 13:42:28.243165 16428 cxx_api.cc:251] Load model from file.
F0709 13:42:28.255749 16428 model_parser.cc:63] Check failed: version == 0U (1924763619 vs. 0) Only version 0 is supported
*** Check failure stack trace: ***
Aborted (core dumped)

[2020-07-09 06:45] zhangting2020 commented on #25455
目前没有，下一个release版本才有。

[2020-07-09 06:50] #25351 closed, assigned to nobody

[2020-07-09 07:06] seiriosPlus commented on #25454
可以检查一下数据， 提示有空slot， 需要补0.

[2020-07-09 08:35] xiangyubo opened #25462 "图像分类模型预测时候返回空list"
使用 paddle1.6.2版本，用 executor 来预测，预测时注明 return_numpy=False。在预测图像分类模型的时候返回了一个空的 list。
创建了多个 executor，不同线程获取不同的 executor。在并发3个线程的时候，能预测2个结果，有个会返回空 list
分类模型是Resnet50，采用预训练模型训练，然后用 slim 剪枝了一下，剪枝率0.5。
感觉不是模型的问题，可能是我 executor 用法不合适或者是多线程的问题

[2020-07-09 08:38] zhangting2020 commented on #25462
能方便贴以下你executor部分使用的代码吗？

[2020-07-09 08:43] xiangyubo commented on #25462
[code]

[2020-07-09 08:55] chenwhql commented on #25462
方便贴下全的demo吗？

[2020-07-09 08:59] xiangyubo commented on #25462
额。因为是在业务里，不太好拆分。可以认为就是一开始初始化了几个 executor，放到阻塞队列里。在多线程的时候从队列里取出来用
[code]

[2020-07-09 09:05] chenwhql commented on #25462
好的，出现空的场景是CPU的还是GPU的

[2020-07-09 09:06] xiangyubo commented on #25462
CPU

[2020-07-09 09:09] chenwhql commented on #25462
好的，您稍等我尝试复现下

[2020-07-09 09:41] L-lei opened #25465 "float32类型在logsumexp中引起[inf]数据"
PaddlePaddle版本：paddlepaddle-1.8.1，paddlepaddle-1.8.2
系统环境：ubuntu 16.04
Python版本号 3.5.2
在 exp(x)，reduce_sum函数中也存在下面问题
在这行代码中返回[inf]
 fluid.layers.logsumexp(fluid.dygraph.to_variable(np.array([114.23]).astype('float32')), dim=0)
在这行代码中返回[88.23]
 fluid.layers.logsumexp(fluid.dygraph.to_variable(np.array([88.23]).astype('float32')), dim=0)
在这行代码中返回[114.23]
 fluid.layers.logsumexp(fluid.dygraph.to_vari

[2020-07-09 09:52] chenwhql commented on #25462
类似这样吧，确实能复现，我再分析下

[code]
结果：
[code]

[2020-07-09 10:38] xiangyubo commented on #25462
辛苦排查， 感谢感谢

[2020-07-09 11:21] chenwhql commented on #25462
![image](https://user-images.githubusercontent.com/22561442/87033415-c480cb00-c218-11ea-870a-4b9a07c98f37.png)
这里的原因是，Paddle Scope在线程之间是共享的，而Scope中同名变量只会有一份，所以这里fetch其实都是一个指针，线程执行的顺序不确定，如果前面一个变量还没有被使用，后面新生成的变量就把它覆盖了，就会出现这样的情况

这里scope也需要维护和线程数相等的备份才是安全的，Scope目前也没有copy这个操作，所以只能load多份了：

[code]

[2020-07-09 11:28] wojtuss opened #25466 "oneDNN support for DyGraph mode"
In the presence of the dynamic graph (DyGraph) mode in PaddlePaddle a question arises whether the oneDNN (previously named MKL-DNN, DNNL) library can be used to boost dynamic graphs execution. There are several factors which have to be considered when adding oneDNN support to DyGraph mode:

1. Our understanding is that DyGraph mode is most useful during topology designing and model training, as it

[2020-07-09 11:33] xiangyubo commented on #25462
那要是这样，是否有违 executor 线程安全的这个说法。。。是不是 fetch 指针可以不是全局变量，变成线程安全的呢？比如 threadlocal 的，保证每个线程拿着的都有，不会被覆盖

[2020-07-09 11:53] zhangting2020 commented on #25465
我这边复现，exp和logsumexp都存在inf的问题，但是reduce_sum没有。原因是计算结果超出了float32的表示范围了。用numpy计算可得到结果
[code]
可以将上面的代码中，改成float64，可以得到正确结果。

[2020-07-09 12:06] chenwhql commented on #25462
这个实现上来讲，默认变量在global scope里，如果创建了临时的scope用来装变量，那它就不是全局scope里的了，但也是要维护不同的scope，要每个线程各拿各的，就得各自用各自的scope

[2020-07-09 12:08] chenwhql commented on #25462
这个说法是哪里官方有宣传？

executor确实线程无关，他只是个执行器，但给他的变量是一样的话，他执行的时候也会覆盖

[2020-07-09 12:34] xiangyubo commented on #25462
我记得也是在如流群里咨询到的，具体哪儿看到的，不记得了。
scope 有个点我没太懂哈。我再想想

[2020-07-09 12:42] chenwhql commented on #25462
嗯嗯，解决方法就是每个线程hold自己的scope

[2020-07-10 00:48] vinceyzw commented on #25386
1.8.0和1.8.2我都试过了，一样的报错。
conda虚拟环境装的包：
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main
astor                     0.8.1                     <pip>
ca-certificates           2020.6.24                     0
certifi                   2020.6.20                py36_0
chardet                   3.0.4                     <pip>
cli

[2020-07-10 01:58] jeng1220 commented on #23721
@606BlueStar ,
After paddlepaddle-v1.8, its python API supports TensorRT, so please use v1.8.

[2020-07-10 02:32] L-lei commented on #25465
其实这个对我使用基本没影响，pytorch32位64位都可以，建议paddle在这些小细节处理也能得到优化

[2020-07-10 02:34] L-lei commented on #25465
另外请问下，float32不是可以表示2^32位？？

[2020-07-10 02:43] zhangting2020 commented on #25465
float：
  1bit（符号位） 8bits（指数位） 23bits（尾数位）

 所以，float的范围为-2^128 ~ +2^128，也即-3.40E+38 ~ +3.40E+38

[2020-07-10 02:51] L-lei commented on #25465
我怎么也没想通那个临界值大概是89左右

[2020-07-10 03:05] zhangting2020 commented on #25465
非常感谢您的建议，我们会安排对这部分优化。

[2020-07-10 03:16] yongqiangma commented on #25455
这个问题大概率是 model 文件和 params文件不是一对导致的。

[2020-07-10 03:36] kjiangab opened #25473 "ImportError: dlopen: cannot load any more object with static TLS"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.2
    2）CPU：Intel(R) Xeon(R) CPU E5-2450 v2 @ 2.50GHz
    3）GPU：+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.39       Driver Version: 418.39       CUDA Version: 10.1

[2020-07-10 03:55] zhangting2020 commented on #25462
已和用户确认过，问题已解决

[2020-07-10 03:55] #25462 closed, assigned to nobody

[2020-07-10 04:01] #25465 closed, assigned to zhangting2020

[2020-07-10 04:16] tianshuo78520a commented on #21917
目前已经解决该问题，如果您还有其他问题可以再打开issues.

[2020-07-10 04:16] #21917 closed, assigned to JepsonWong, yaoxuefeng6

[2020-07-10 06:44] tianshuo78520a commented on #24570
目前最新的Paddle已经解决了这个问题，您可以使用最新的paddle解决这个问题
![image](https://user-images.githubusercontent.com/29832297/87124653-c2237d00-c2bb-11ea-98c8-7f016bc27e37.png)

[2020-07-10 06:50] #24570 closed, assigned to iclementine

[2020-07-10 07:06] #25430 closed, assigned to juncaipeng

[2020-07-10 07:13] tianshuo78520a commented on #25386
请问报错信息只有这么短么？能否发下全部的日志截图。或者我们能否登陆到您的机器上调试该问题，我们暂时没有RTX2070型号的显卡，暂时没能复现该问题，您可以尝试使用p40或v100型号显卡来跑代码。
希望收到您的回复

[2020-07-10 08:09] jedibobo opened #25476 "jetson nano编译错误2.0.0-alpha0"
报错：
Scanning dependencies of target dequantize_op
[ 45%] Building CXX object paddle/fluid/operators/CMakeFiles/eye_op.dir/eye_op.cc.o
[ 45%] Building CXX object paddle/fluid/operators/CMakeFiles/dequantize_op.dir/dequantize_op.cc.o
[ 45%] Linking CXX static library libeye_op.a
[ 45%] Linking CXX static library libdequantize_op.a
[ 45%] Built target dequantize_op
[ 45%] Built target eye_op
[ 46%] B

[2020-07-10 08:18] ecko4869 opened #25477 "fedora31环境下编译报错"
In file included from /data/chengdaning/paddle/Paddle/paddle/fluid/framework/io/shell.h:32,
                 from /data/chengdaning/paddle/Paddle/paddle/fluid/framework/io/fs.h:22,
                 from /data/chengdaning/paddle/Paddle/paddle/fluid/framework/io/fs.cc:15:
/data/chengdaning/paddle/Paddle/paddle/fluid/string/string_helper.h: In instantiation of ‘std::string paddle::string::format_stri

[2020-07-10 08:37] wojtuss commented on #25423
Everything is fine. The longer execution times come from different testing schema only (quant, INT8, FP32 models), the latencies are  correct. We will consider adding an option to run inference only on selected type of the model.

[2020-07-10 08:37] #25423 closed, assigned to wojtuss

[2020-07-10 09:03] MrChengmo commented on #25473
可以参考 https://github.com/PaddlePaddle/Paddle/issues/25396 ，相关修复已合入develop分支

[2020-07-10 09:08] MrChengmo commented on #25476
已经assign负责的同学跟进

[2020-07-10 09:11] jiweibo commented on #25476
可以尝试下这篇博客的安装步骤
https://www.jianshu.com/p/09a0fd569247

[2020-07-10 09:13] MrChengmo commented on #25477
请问一下您的编译环境是什么？

[2020-07-10 09:22] jedibobo commented on #25476
我确实是按照这篇博客做的，但是看文档中有一个支持TRT子图的功能
所以修改的地方在于-DTENSORRT_ROOT=/usr/lib/aarch64-linux-gnu/和-DCUDA_ARCH_NAME=All
![image](https://user-images.githubusercontent.com/44748473/87138787-8d222500-c2d1-11ea-8793-0dfda8bda036.png)
想请教下完全按照这篇博客做下来可以用Paddle-TensorRT吗？

[2020-07-10 09:31] jedibobo commented on #25476
而且还有个问题。x86_64的TensorRT的文件结构和jetson nano不太一样。
![image](https://user-images.githubusercontent.com/44748473/87139599-d7f06c80-c2d2-11ea-85b9-63022fafb2d0.png)
而nano上的TensorRT_lib在 /usr/lib/aarch64-linux-gnu/，include在/usr/include/aarch64-linux-gnu（而且是和别的库混在一起）
直接指定TensorRT-ROOT肯定无法成功吧

[2020-07-10 09:32] jiweibo commented on #25476
试下将trt的库打包起来，然后指定这个路径为TensorRT_ROOT

[2020-07-10 09:39] vinceyzw commented on #25386
好消息！！我通过conda安装成功了，conda里自动下载了对应的cuda10.0、cudnn7.5，现在1.8.2可以跑。

但是，我本机环境pytorch-gpu是可以跑起来的，nvidia-smi、nvcc、cudnn都能正常调通，目前找不到自己本机上的问题，如果你们方便也可以帮忙看下。
@tianshuo78520a

[2020-07-10 09:42] jedibobo commented on #25476
ok我试一下，但我觉得我上面的问题不是找不到库。因为我连着tensorrt.cmake一并改了：

find_path(TENSORRT_INCLUDE_DIR NvInfer.h
    PATHS ${TENSORRT_ROOT} ${TENSORRT_ROOT}/include
    ${TENSORRT_ROOT}/include/${CMAKE_LIBRARY_ARCHITECTURE}
    $ENV{TENSORRT_ROOT} $ENV{TENSORRT_ROOT}/include
    $ENV{TENSORRT_ROOT}/include/${CMAKE_LIBRARY_ARCHITECTURE}
    /usr/include/aarch64-linux-gnu/                                   ###add
    NO_

[2020-07-10 09:43] jiweibo commented on #25476
如果编译的log中显示了trt的版本，就代表找到了trt，错误和trt无关了

[2020-07-10 09:44] jiweibo commented on #25476
设置 -DCUDA_ARCH_NAME=Auto，只编译本身的sm，编译能快一点

[2020-07-10 09:55] jedibobo commented on #25476
嗯嗯我现在正在试只编译nano版本的

[2020-07-10 09:57] jedibobo commented on #25476
大佬，那能定位问题出在哪了吗？最后编译结果是error 2。稍等我贴下全部报错

[2020-07-10 09:58] jedibobo commented on #25476
Scanning dependencies of target cast_op
[ 42%] Building CXX object paddle/fluid/operators/CMakeFiles/cast_op.dir/cast_op.cc.o
[ 42%] Linking CXX static library libcast_op.a
[ 42%] Built target cast_op
[ 42%] Building NVCC (Device) object paddle/fluid/operators/CMakeFiles/edit_distance_op.dir/edit_distance_op_generated_edit_distance_op.cu.o
nvcc error   : 'cicc' died due to signal 9 (Kill signal)
C

[2020-07-10 10:18] jiweibo commented on #25476
看不出来是什么原因，要不换到devleop或着release/1.8分支上测试下？

[2020-07-10 10:24] jedibobo commented on #25476
1.8会报cpuid.h不存在的错误（其他issue里面也有让切到2.0）

我试下这次还不过的话就用develop或者1.7试一下

感谢

[2020-07-10 10:26] jedibobo commented on #25476
希望之后官方能提供编译好的jetson可以用的whl。弄了三天了😭

[2020-07-10 10:46] #25473 closed, assigned to nobody

[2020-07-10 10:53] kjiangab opened #25478 "创建一个自定义的layer"
我想问一下我想构造一个y=WXz+bias 的 函数应该如何实现呢？其中z是我的输入，W，X, bias都是我的参数，paddle里面目前有类似于这个的层吗？或者我应该用哪个API构建一个自定义的layer？谢谢！

[2020-07-10 11:09] jiweibo commented on #25476
我反馈一下jetson的负责人，感谢建议哈

[2020-07-10 13:11] licy5152 opened #25481 "在1.8.2中报错。1.7.1的版本不报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.2
    2）CPU：//
    3）GPU：V100、CUDA 9.2和CUDNN 7.5版本号
    4）系统环境：bml环境，Python3.6版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训练信息
    

[2020-07-10 13:18] licy5152 commented on #25481
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::string const&, char const*, int)
2   paddle::operators::BatchNormGradKernel<paddle::platform::CUDA

[2020-07-10 13:31] phlrain commented on #25481
看起来属于在定义BatchNorm的时候 把 is_test设置为True了，训练的时候 需要把is_test改成False

[2020-07-10 13:42] licy5152 commented on #25481
请问下，具体要怎么操作呢，实在定义的部分吗

[2020-07-10 13:44] licy5152 commented on #25481
请问下，具体要怎么操作呢，是在定义的时候，因为网络在训练的过程的中需要加载两个网络一个测试，一个训练，两个是同步的。在1.7版本的Paddle时，没有该错误。1.8.2才出现这个问题

[2020-07-11 03:58] stillwaterman commented on #22397
我安装完PaddlePaddle后运行paddleseg报错，please download visual C++ Redistributable for vs 2015，Importing the numpy C-extensions failed. 用conda装的。事实上，我电脑有visual C++ Redistributable for vs 2015. 在pycharm中有这个问题，但在anaconda prompt运行没有这个问题

[2020-07-11 04:49] liu0haha123 opened #25483 "如何通过调取父类方法的方式在不更改源码的情况下获得变量的输出"
Paddle 版本1.7.2
在使用ErnieModelForTokenClassification 是需要获取中间步骤的
的这两个参数，能否通过调用父类ERINEModel的forward方法来获取 pooled和encoded
或者其他能满足该要求的方法
[code]

[2020-07-11 04:54] liu0haha123 commented on #25483
是不是直接按照python的super()/父类名.method 即可

[2020-07-11 04:58] liu0haha123 commented on #25428
自己

[2020-07-11 04:58] #25428 closed, assigned to nobody

[2020-07-11 08:52] tomcheng0618 commented on #25477
编译器是gcc9.3.1(gcc version 9.3.1 20200408 (Red Hat 9.3.1-2) (GCC)
操作系统是fedora 31
不只是fluid/string/string_helper.h这里报错，在eighen3,grpc等第三方包中也大量报错

[2020-07-11 09:35] QinZiwen opened #25484 "Compile error: /usr/bin/ld: cannot find ../operators/libbeam_search_op.a: Too many open files"
Compile error:
[code]
log is:
[code]

[2020-07-11 10:12] Maybewuss opened #25485 "动态图模式下支持类似pytorch中tensor.to(device)这种操作吗？"
主要是想在Dataloader中通过collete_fn自定义一些操作。

[2020-07-11 10:42] QinZiwen commented on #25484
fix it by: ulimit -n 2048
or
vim /etc/security/limits.conf
At the end of the file add:
* soft nofile 4096
* hard nofile 4096
last reboot

[2020-07-11 11:47] #25483 closed, assigned to nobody

[2020-07-12 05:17] jedibobo commented on #25476
找出问题了。。。swap分区太小（本来以为6G+ 内存4G够了的）
https://developer.nvidia-china.com/forum.php?mod=viewthread&tid=6492

解决方案：
swapoff -a
sudo fallocate -l 15G /swapfile
sudo chmod 600 /var/swapfile
sudo mkswap /swapfile
sudo swapon /swapfile
swapon -a

sudo swapon --show#用来查看结果

[2020-07-12 05:17] #25476 closed, assigned to jiweibo

[2020-07-12 05:54] MrChengmo commented on #25477
有没有尝试过使用Paddle官方提供的docker中编译，同时也有可能是没有挂代理，下载出现问题导致编译报错。

[2020-07-12 05:56] MrChengmo commented on #25478
目前Paddle的Fc OP可以做到y=Wz + bias

个人理解可以通过创建多个persistables参数，然后通过mul，elementwise_add等op构造出这个表达式:

- 创建参数：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/create_parameter_cn.html#create-parameter

- 矩阵乘法：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/mul_cn.html#mul

- bias需要的加法：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/elemen

[2020-07-12 09:23] mcl-stone opened #25489 "PaddleServing faster rcnn demo 预测时报错"
使用paddle1.8.2，paddleserving develop版本，部署起来预测时报错如下，因为看报错是paddle这边报的，所以发这边了。
[code]

[2020-07-12 09:23] mcl-stone commented on #25489
test_client.py脚本内容如下：
[code]

[2020-07-12 09:44] mapingshuo commented on #25489
请问这个是NLP模型、图像模型，或者您自己组的网。如何快速复现您的问题？

[2020-07-12 12:14] mapingshuo commented on #25489
经查看，这个代码是Paddle Serving的demo之一: https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/faster_rcnn_model
建议先在Serving库下提issue，如果仍解决不了问题，我们继续讨论。

[2020-07-12 15:45] phlrain commented on #25481
1.7中，batchnorm 存在一些bug，在1.8版本进行了修复

可以试下通过model的mode来设置， model_a.train() 设置为训练模式， model_b.eval() 设置为测试模式（切换到.eval 模式之后，测试完成之后，要立马切换到 train 模式，否则会影响model_a的行为; . eval使用到了一些全局信息，修改了model_b mode，同样会影响model_a，这块问题我们已经在修复）

mode切换会影响batchnorm 和dropout的行为， dropout建议使用 class 形势的Dropout

[2020-07-12 16:05] Maybewuss commented on #25080
这也太难顶了。。

[2020-07-13 00:58] mcl-stone commented on #25489
好的好的

[2020-07-13 00:58] #25489 closed, assigned to MRXLT, mapingshuo

[2020-07-13 02:32] danleifeng commented on #25484
did you solve this error by `ulimit -n 2048`?

[2020-07-13 02:37] danleifeng commented on #25485
你好，目前不支持这种操作。

[2020-07-13 02:54] QinZiwen commented on #25484
@danleifeng
yes

[2020-07-13 03:27] dingsiyu opened #25491 "在现有可成功运行的代码上添加recompute功能，模型运行时hang住"
-

[2020-07-13 03:30] mapingshuo commented on #25491
请详细描述是什么模型，在什么版本的paddle上，什么运行环境（机器，卡数），以及添加recompute的方式

[2020-07-13 03:48] #25478 closed, assigned to nobody

[2020-07-13 03:53] kjiangab opened #25492 "sgd optimizer"
想问一下我有一个y=XWz的函数，X（矩阵），W（向量）是两个参数，有办法使用sgd optimizer 同时迭代X，W两个参数吗？

[2020-07-13 04:24] XuanBaby opened #25494 "build paddle-gpu with -DCMAKE_BUILD_TYPE=Debug ERROR"
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.1
    2）CPU：intel
    3）GPU：cuda10.1  cudnn 7.6.5
    4）系统环境：centos 7.6.1810
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 安装方式信息：
2）本地编译：cmake .. -DPYTHON_EXECUTABLE=~/build/python-3.6.8-build/bin/python3 -DPYTHON_INCLUDE_DIR=/public/home/xuanbaby/build/python-3.

[2020-07-13 09:03] #25484 closed, assigned to nobody

[2020-07-13 09:43] #18378 closed, assigned to zhhsplendid

[2020-07-13 09:43] #18405 closed, assigned to Shixiaowei02

[2020-07-13 09:43] #18473 closed, assigned to nobody

[2020-07-13 09:43] #18499 closed, assigned to nobody

[2020-07-13 09:43] #18502 closed, assigned to nobody

[2020-07-13 09:43] #18508 closed, assigned to frankwhzhang

[2020-07-13 09:43] #18545 closed, assigned to sandyhouse

[2020-07-13 09:43] #18552 closed, assigned to nobody

[2020-07-13 09:43] #18553 closed, assigned to nobody

[2020-07-13 09:43] #18555 closed, assigned to nobody

[2020-07-13 09:43] #18562 closed, assigned to ceci3

[2020-07-13 09:43] #18571 closed, assigned to nobody

[2020-07-13 09:43] #18576 closed, assigned to heavengate

[2020-07-13 09:43] #18588 closed, assigned to nobody

[2020-07-13 09:43] #18589 closed, assigned to nobody

[2020-07-13 09:43] #18592 closed, assigned to phlrain

[2020-07-13 09:43] #18595 closed, assigned to nobody

[2020-07-13 09:43] #18600 closed, assigned to nobody

[2020-07-13 09:43] #18609 closed, assigned to seiriosPlus

[2020-07-13 09:51] leesusu commented on #25365
@MrChengmo Hi, 我试了SGD和调小学习率，大概结论是这样：
1. 全异步的SGD比全异步的AdaGrad效果稍微稳定些
2. 调小LR，也会稳定些，但是AUC也会降

同时也试了dataset的同步训练，训练效果稳定很多，可能我们最终会先同步，再异步。

[2020-07-13 09:53] leesusu commented on #25229
@frankwhzhang @willthefrog 推进下这个吧，很小的改动，应该没啥问题，是个很明显的bug，PR的CI也都过了

[2020-07-13 11:52] #25229 closed, assigned to frankwhzhang

[2020-07-13 12:57] lidanqing-vv commented on #25466
由于PaddlePaddle现在支持动态图（DyGraph）模式，百度提出希望使用oneDNN（以前称为MKL-DNN，DNNL）库来提高动态图的执行速度。目前，向DyGraph模式添加oneDNN支持时，必须考虑以下几个因素：

1. 我们的理解是DyGraph模式在深度学习模型的设计和模型训练阶段最有用，因为它可以对正在处理的模型拓扑进行更深入的分析。对于推理(Inference)的任务，由于更多的性能优化选项，应该首选静态图。
2. PaddlePaddle中目前实现的DNN的内核采用了op 缓存机制，该机制有两个目的：
          **i.**   允许在推理(Inference)模式下的后续迭代中多次重用op，从而避免了重新创建op的开销，
          **ii.**   允许前向传播(forward)和反向传播共享某些对象（oneDNN forward prim

[2020-07-13 13:36] cryoco opened #25506 "Memory leaks when doing CPU inference with MKLDNN"
**System information**
Paddle version: 1.8.2
Paddle With CUDA: False
OS: Ubuntu 16.04
CPU: 16  Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GHz
Python version: 3.5.2
CUDA version: 9.0.176
cuDNN version: None.None.None
Nvidia driver version: None
API information: inference configuration
[code]
**To Reproduce**
1. download models and data
- [ocr detection model](https://paddleocr.bj.bcebos.com/ch_models/ch

[2020-07-13 13:52] tomcheng0618 commented on #25477
由于系统需求，我们可能没有办法使用docker，不过这几个错误基本可以确定是gcc9.3.1造成的

[2020-07-13 13:53] cryoco opened #25507 "Results differ when doing CPU inference multiple times with MKLDNN"
**System information**
Paddle version: 1.8.2/1.8.3
Paddle With CUDA: False
OS: Ubuntu 16.04
CPU: 16  Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GHz
Python version: 3.5.2
CUDA version: 9.0.176
cuDNN version: None.None.None
Nvidia driver version: None
API information: inference configuration
[code]
**To Reproduce**
1. download models
- [ocr detection model](https://paddleocr.bj.bcebos.com/ch_models/ch_de

[2020-07-13 14:16] luotao1 commented on #25506
Please use `SetMkldnnCacheCapacity` interface.
https://github.com/PaddlePaddle/Paddle/blob/126d3d693b0b5ebdbef5c6d315bad86b701ebcea/paddle/fluid/inference/api/paddle_analysis_config.h#L348-L355

-  It is used in `paddle/fluid/inference/tests/api/analyzer_detect_tester.cc`, which is dynamic shape as well.
-  This interface only has C++/C API, you may wrap a python API for it.

[2020-07-13 14:31] dancingpipi opened #25508 "TypeError: object of type 'paddle.fluid.core_avx.LoDTensor' has no len() 错误"
![image](https://user-images.githubusercontent.com/20511825/87317026-0a130000-c559-11ea-893d-05a0fd02006f.png)
![image](https://user-images.githubusercontent.com/20511825/87317102-244cde00-c559-11ea-9103-e5f351ebd93a.png)

用的pyreader, 请问下这个报错是什么原因？

[2020-07-13 15:54] arlesniak opened #25510 "MNIST examples in DyGraph mode"
When analyzing DyGraph mode we found 2 examples of the same model for MNIST:
PP repo [test_imperative_mnist.py](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_imperative_mnist.py)
Models repo [mnist/train.py](https://github.com/PaddlePaddle/models/blob/develop/dygraph/mnist/train.py)
We have a couple of questions about the difference between the exampl

[2020-07-13 16:43] zhwesky2010 commented on #25187
@GLaStu hi，您好，想请问一下 quardo P5000这张GPU的运行速度怎么样？和其他显卡相比呢

[2020-07-13 18:03] zienn opened #25511 "如何在初始化的时候搭建LSTM网络"
类似pytorch的代码如下：
[code]

而使用paddlepaddle，layers.lstm()需要传入输入值，无法在init时候搭建lstm
[code]
请问这个应该怎么写呢？

[2020-07-14 01:53] liu0haha123 opened #25512 "如何在动态图模式下让子类调用父类的方法"
飞桨版本1.7.2 python3.6
使用ERINE做ErnieModelForTokenClassification 时需要获取中间的变量 的 pool，encoded
pooled, encoded = super(ErnieModelForTokenClassification, self).forward(*args, **kwargs)

我使用
sequence_output,encoded = self.erine_for_token.ErnieModel.forward(src_ids=batch_data,sents_id = None,input_mask=batch_masks)

报错信息：

[code]

如何调用ErnieModel的forward方法

[2020-07-14 02:01] luotao1 commented on #25477
我们官方支持gcc8.2或者gcc4.8.2，您可以降一下gcc版本再进行尝试

[2020-07-14 02:20] frankwhzhang commented on #25508
请问这个自己的Model还是models下面的模型 报错信息也完整发一下吧

[2020-07-14 02:43] dancingpipi commented on #25508
[code]
是自己改写的DeepFM模型

[2020-07-14 02:57] tianshuo78520a commented on #25386
现在的问题是本机环境安装1.8.2跑不通，但是在conda环境下安装的1.8.2就可能正常跑？这是一个奇怪的问题，比较怀疑是不是环境没有安装好？

[2020-07-14 02:57] kinghuin opened #25513 "动态图中更换place会导致eval状态失效"
paddle 1.8.2

with fluid.dygraph.guard(fluid.CPUPlace()):
        此处定义网络结构
        model.eval()

with fluid.dygraph.guard(fluid.CPUPlace()):
        此处调用model前向网络
        发现dropout任然生效了，说明此时model是处于train状态。
        需要在调用网络前重新model.eval()才能保证model处于eval状态

model的状态不应该和place相关？

[2020-07-14 03:04] dancingpipi commented on #25508
feat_key是一个lod tensor，其他的是非lod tensor。
不加feat_key没问题，加上feat_key以后就会报错

[2020-07-14 03:38] phlrain commented on #25513
使用 with fluid.dygraph.guard， 可以理解为生成了一个新的状态，与前一个guard中的状态不一样。目前 train eval 状态是在一个guard中的状态中存储的

mode的状态目前跟guard相关，这个点确实不是非常合理，这个修复我们正在进行中

建议使用 dygraph.nn.Dropout() 不要使用layers.dropout()  即可解决你的问题

[2020-07-14 03:41] Meiyim commented on #25512
让子类调用父类方法跟动态图没有关系，这个属于python问题。
任何时候在python子类函数中调用`super().method(...)`即可调用父类方法。

因此比较好的思路是继承`ErnieModelForTokenClassification` 并改写forward方法。

[2020-07-14 04:00] ggjge opened #25516 "seq2seq模型demo实现的一些问题"
demo地址： https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleNLP/seq2seq/seq2seq/base_model.py

有以下几个问题：
1. 在train.py主程序和base_model.build_graph中有train/eval/beam_search/greedy_search 4种mode，而在后续被调用的_build_decoder方法中，只对train/beam_search两种mode进行了处理，请问eval的时候怎么解码？
![image](https://user-images.githubusercontent.com/10115676/87382037-9d374e80-c5c8-11ea-85bb-a52131c39a54.png)

![image](https://u

[2020-07-14 04:27] luotao1 commented on #25466
@lidanqing-intel

基本CV模型，如mobilenet v1/v2, ResNet的训练，oneDNN都是支持的。

基本CV模型上training的性能测试，MKLDNN是比MKL快不少的。Intel内部是有Paddle的benchmark CE系统的。

[2020-07-14 05:51] guoshengCS commented on #25516
这份代码中没有实现eval时使用beam search或greedy search的功能，eval算了和train一样的loss和ppl来评估。如果需要eval时解码的话也可以先自行实现，可以试下这里eval使用的inference_program修改为beam search的代码 https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleNLP/seq2seq/seq2seq/train.py#L99 ，并保证inference_program和train_program使用相同的参数名（可以通过将网络定义在`with framework.unique_name.guard()`内，使两者都从0开始为参数编号命名来保证）

返回值中的step_input是作为cell的output的，只是命名问题，cell完成的是`ste

[2020-07-14 06:01] kinghuin commented on #25513
预计会在哪个版本修复呢？

[2020-07-14 06:46] guoshengCS commented on #24300
原`fluid.layers.lstm`问题较多，已经在高优重新实现了 https://github.com/PaddlePaddle/Paddle/pull/25502 ，还望见谅

还请先行使用`paddle.fluid.layers.rnn`接口 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/rnn_cn.html#rnn 完成，双向的话暂时需要is_reverse=True和False的两个RNN。

[2020-07-14 06:46] guoshengCS commented on #22979
原`fluid.layers.lstm`问题较多，已经在高优重新实现了 https://github.com/PaddlePaddle/Paddle/pull/25502 ，还望见谅

还请先行使用`paddle.fluid.layers.rnn`接口 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/rnn_cn.html#rnn 完成，双向的话暂时需要is_reverse=True和False的两个RNN。

[2020-07-14 07:01] cryoco commented on #25506
Tried setting MKLDNN cache capacity to 10/20/100/1024, but still got the memory leak :(

[2020-07-14 07:03] cryoco commented on #25507
This issue also happens in v1.8.3, with or without conv_transpose_eltwiseadd_bn_fuse_pass.

[2020-07-14 07:17] wojtuss commented on #24461
It turned out that the `conv_bif_bn_fuse_pass` pass cannot work due to the way the `ResidualData` input is handled by oneDNN convolution primitive (it is overwritten by conv, but there are two convs which consume this input).

The next optimization options are to enable INT8 kernel for `batch_norm` and fuse `batch_norm+relu`. We will start working on that in August.

[2020-07-14 07:36] ForFishes commented on #25492
可以，mul本身就会回传两个参数的梯度。

[2020-07-14 07:43] ForFishes commented on #25494
是不是gcc编译的版本不对。gcc的版本是？

[2020-07-14 07:49] zhiqiu commented on #24304
经过排查，该问题产生的原因是：
使用circle_loss时网络中会出现NAN，在sequence_topk_avg_pooling实现中会发生`vector[-1]`的内存越界访问，此时函数不能退出退出。因为使用多线程训练，主线程在wait子线程结束，所以发生了hang。

sequence_topk_avg_pooling的问题，@Aurelius84 已提PR进行修复。

[2020-07-14 08:15] cryoco commented on #25506
Added python api set_mkldnn_cache_capacity in [PR#25524](https://github.com/PaddlePaddle/Paddle/pull/25524), which might be useful in debugging and solving this issue.

[2020-07-14 08:21] luotao1 commented on #25494
@ForFishes 可能是`-DCMAKE_BUILD_TYPE=Debug`的原因，默认测的都是Release分支，Debug分支有可能编译不过

[2020-07-14 09:25] Helenailse opened #25526 "加载24层ernie模型报错"

[2020-07-14 09:25] Helenailse commented on #25526
![3D80DBA76BA558B633C34DA143C1FBC6](https://user-images.githubusercontent.com/32626881/87409092-0930ab80-c5f7-11ea-8232-afc2c0b3b434.JPG)

[2020-07-14 10:00] geekhch opened #25528 "能否在2.0版本中实现动态图的重计算"
- 版本、环境信息
1）PaddlePaddle版本：1.8
2）CPU/GPU：GPU CUDA10.0
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14

- 建议描述：目前paddle的重计算（RecomputeOptimizer）仅仅实现了静态图相关功能，能否在2.0版本中实现动态图模式下的重计算呢？这对我的nlp相关实验比较重要，感谢开发者们的努力！

[2020-07-14 11:44] DYJNG opened #25530 "Paddle编译错误"
Scanning dependencies of target paddle_pybind
[ 99%] Building CXX object paddle/fluid/pybind/CMakeFiles/paddle_pybind.dir/pybind.cc.o
In file included from ~/Paddle/paddle/fluid/pybind/pybind.cc:81:0:
~/Paddle/paddle/fluid/pybind/tensor_py.h:59:10: error: ‘PYBIND11_DESCR’ does not name a type
   static PYBIND11_DESCR name() { return _("float16"); }
          ^
make[2]: *** [paddle/fluid/pybind/CMa

[2020-07-14 12:00] DYJNG commented on #25530
pybind版本问题下载的过高，已解决。。

[2020-07-14 12:00] #25530 closed, assigned to nobody

[2020-07-14 12:37] frankwhzhang commented on #25526
相关同学跟进中

[2020-07-14 12:39] phlrain commented on #25513
估计会在下个小的版本中进行修复，大概1-2月。

[2020-07-14 14:54] liu0haha123 commented on #25512
[code]

解决方案 仅供参考

[2020-07-14 14:54] #25512 closed, assigned to Meiyim

[2020-07-14 14:55] wojtuss commented on #25507
@cryoco
With PaddlePaddle v1.8.3 and the commands
[code]
or
[code]
I get the following error:
[code]

PaddlePaddle built with cmake flags:
[code]

[2020-07-14 15:01] wojtuss opened #25532 "INT8 inference accuracy lost after enabling quantization of elementwise_add in a new Ernie Quant model"
Recently @lidanqing-intel has generated a new Quant Ernie model. It contains quantization scales for `elementwise_add` operators to be quantized. However, after enabling quantization of `elementwise_add` ops, the accuracy is lost.

We are investigating the issue.

[2020-07-14 21:40] lidanqing-vv commented on #23100
It is because activation kernel implementation had some changes. We are not going to fix it.

[2020-07-14 21:40] #23100 closed, assigned to nobody

[2020-07-14 21:40] lidanqing-vv commented on #24295
PR submitted https://github.com/PaddlePaddle/Paddle/pull/25402

[2020-07-15 01:09] zhengzhe97 opened #25535 "单机多卡训练"
请问一下多卡使用ParallelExecutor接口只需要设置use_gpu=True，然后程序自动调用多卡训练吗

[2020-07-15 02:28] hong19860320 commented on #25270
c++代码的LoD设置有问题，和python不一致，修改并禁用fc_lstm_fuse_pass后（代码如下所示），python结果和c++结果一致。
`model_config.pass_builder()->DeletePass("fc_lstm_fuse_pass");`

[2020-07-15 03:22] yaoxuefeng6 commented on #25535
需要设置下
如果使用GPU运行模型，即 use_cuda=True ，节点指代GPU， ParallelExecutor 将自动获取在当前机器上可用的GPU资源，用户也可以通过在环境变量设置可用的GPU资源，例如：希望使用GPU0、GPU1计算，export CUDA_VISIBLEDEVICES=0,1
参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api_cn/framework_cn/ParallelExecutor_cn.html#parallelexecutor

[2020-07-15 03:27] zhengzhe97 commented on #25535
@yaoxuefeng6  谢谢回复，成功调用多张显卡会有什么输出吗，
[code]
这是我程序的输出，看起来还是只用了一张卡？

[2020-07-15 03:41] mapingshuo commented on #25528
感谢你对重计算的关注，目前动态图的重计算不在2.0规划中，动态图建议尝试使用gradient merge来提升batch size。你是科研需求，还是业务需求？

[2020-07-15 04:03] phlrain commented on #25510
1. 是的，动态图和静态图最根本得差别是，动态图的op能够立即执行，对应英文单词 imperative program，动态图是由于能够立即执行的特点，才能够描述动态的计算图，后续我们会使用imperative 作为动态图的名称。（但是为了方便，可能还会叫动态图）
2. test_imperative_mnist.py 是一个单测，是为了防止一些新的pr，引起动态图的错误；不建议作为一个示例使用，建议使用 [mnist/train.py](https://github.com/PaddlePaddle/models/blob/develop/dygraph/mnist/train.py).
3. TracedLayer.trace 是当用户有模型部署上线的需求的时候，才需要使用，这个接口是将动态图转成静态图，然后利用静态图的方式进行部署上线
4.   [mnist/train.py](ht

[2020-07-15 04:11] geekhch commented on #25528
好的，目前主要是科研需求

---原始邮件---
发件人: "mapingshuo"<notifications@github.com&gt;
发送时间: 2020年7月15日(周三) 中午11:42
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "三七"<geekhch@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 能否在2.0版本中实现动态图的重计算 (#25528)

版本、环境信息
 1）PaddlePaddle版本：1.8
 2）CPU/GPU：GPU CUDA10.0
 3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14

建议描述：目前paddle的重计算（Recomp

[2020-07-15 04:19] ggyuan opened #25537 "CPU预测模型开启MKLDNN后报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.1
    2）CPU：Intel(R) Xeon(R) Gold 5117 CPU @ 2.00GHz, MKLDNN
    3）GPU：无
    4）系统环境：CentOS release 6.3 (Final)、Python 2.7.15
- 复现信息：
百度内部提出，复现代码和模型，请hi上联系 guguiyuan

- 问题描述：
模型使用了pool2d op开启mkldnn报错，未使用的可正常运行
错误信息如下
![image](https://user-images.githubusercontent.com/5819753/87501787-8c530f80-c692-11ea-9822-0a47da534687.png)
![image](https://user-images.githubuse

[2020-07-15 05:16] phlrain commented on #25466
下个版本我们会主推动态图模式，我们期望无论是在cpu还是gpu模式，动态图训练性能能够达到一个好的性能，就希望能够使用oneDNN，即使oneDNN的grad内核没有比grad native内核快，但是至少forward阶段也是有很大提升；

将动态图转换为静态图执行的事情，我们也在同步进行，方案是基于语法解析实现的，转换方案并不会100%完美，还是能期望纯的动态图的性能有一个比较好的表现

动态图使用oneDNN最大的难点我个人理解应该是在这里，看是是否能找到一个尽善尽美的方案。

[2020-07-15 05:21] yaoxuefeng6 commented on #25537
看起来报错是在elementwise op上 elementwise op的两个输入维度不对 如报错，两个shape应该完全相等或者可以broadcast。 可以使用fluid.layers.Print() api 打印下某个输出看是否符合预期

[2020-07-15 06:06] jzhang533 commented on #24999
更新一下：1.8.2版本的paddle，同样的任务和参数设置，用Momentum是可以收敛的。
复现地址：https://gist.github.com/jzhang533/cc74fbb9fa1f1604791accdd520f6def

2.0-alpha版本的paddle，做文本分类也有不收敛的问题。
复现地址：https://gist.github.com/jzhang533/78d7b9674a272e58cd56763b884f5ff6

[2020-07-15 06:31] zhiqiu commented on #25535
上面的device：0 应该没有显示所有卡的log。是否跑了多卡，可以通过nvidia-smi观察下显卡的使用情况。

p.s. 建议使用CompiledProgram进行多卡训练，它内部会调用ParallelExecutor，使用方式参考[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/CompiledProgram_cn.html)。

[2020-07-15 07:56] lidanqing-vv commented on #25466
Translation of above comment

In next version, we will mainly promote the dynamic graph mode. We expect that the dynamic graph training performance can achieve a good performance regardless of whether it is in the CPU or GPU mode. We hope we could use oneDNN in dygraph. Even if the grad kernels of oneDNN are not faster than the grad native kernel, we still expect that the forward stage could be gr

[2020-07-15 07:56] aboutmei opened #25543 "自定义yolo_v3 backbone fine_gained_loss=True"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2020-07-15 07:58] cryoco commented on #25507
@wojtuss I will try reproducing on local machine.
[This](https://paddle-inference-dist.bj.bcebos.com/temp/paddlepaddle-1.8.3-cp37-cp37m-linux_x86_64.whl) is the .whl package(for py3.7) I use.

[2020-07-15 08:04] aboutmei opened #25544 "自定义yolov3 backbone voc 数据集下量化训练报错"
Paddle version: paddlepaddle-gpu==1.7.0.post107        paddleslim==1.0.1
Paddle With CUDA: None
OS: debian buster/sid
Python version: 3.7.3
CUDA version: 10.1
cuDNN version: 7.5.0
Nvidia driver version: 410.104

配置文件
batch 1,8 线程1,8 bufsize  1,16都试过
fine_gained_loss=True

tools/train.py 是正常的 但是 slim/quantion/train.py量化训练报错

报错信息：Error Message Summary:
----------------------
Error: Blocking queue i

[2020-07-15 08:44] lidanqing-vv commented on #25510
Translation
1. Yes, the essential difference between dynamic graphs and static graphs is that the op of dynamic graphs can be executed immediately, corresponding to the English word imperative program. Dynamic graphs are called dygraph because of the characteristics of immediate execution. We will use imperative as the name of the dynamic graph. (But for convenience, it may still be called a dynam

[2020-07-15 08:49] cryoco commented on #25507
@wojtuss
Updated model [download link](https://paddleocr.bj.bcebos.com/ch_models/ch_det_mv3_db_infer.tar). Sorry for posting the wrong link. It should be ok now.

[2020-07-15 09:01] cryoco commented on #25507
I tested on develop branch, and this issue seems to have been solved.

[2020-07-15 09:26] niantianlei opened #25547 "使用textone的ernie-gen预测报错"
报错信息如下：
![image](https://user-images.githubusercontent.com/24364049/87528099-a6efad80-c6bf-11ea-8f3a-6aa97e653010.png)
环境paddle 1.7.2
python 2.7.14
cudnn 7.4
cuda 10.0

[2020-07-15 09:29] niantianlei commented on #25547
补充： 单卡预测，textone版本1.3

[2020-07-15 10:47] #25528 closed, assigned to mapingshuo

[2020-07-15 11:48] wojtuss commented on #25507
@cryoco
I have reproduced the issue using PaddlePaddle 1.8.2. The problem is within MKLDNN FP32 kernel for `conv2d` with `ResidualData` intput (when the `conv_elementwise_add_mkldnn_fuse_pass` is enabled). If you confirm the issue is no longer present in the `develop` branch, that's most probably because of the PR https://github.com/PaddlePaddle/Paddle/pull/25137. Recently we encountered another i

[2020-07-15 11:57] cryoco commented on #25507
@wojtuss
We did confirm this issue is solved in develop branch, and this issue can be closed. Thanks for your efforts.
It's still strange though that it occurs in 1.8.3, which include PR#25137.

[2020-07-15 12:21] luotao1 commented on #25507
@wojtuss Could you find the difference between 1.8.3 and the develop branch, and then cherry-pick into release/1.8? We will release 1.8.4 later.

[2020-07-15 12:31] wojtuss commented on #25507
@luotao1 , OK, I will do that.

[2020-07-15 12:33] wojtuss commented on #25506
@cryoco
I got the same error as in https://github.com/PaddlePaddle/Paddle/issues/25507#issuecomment-658228096. Is another model required here as well?

[2020-07-15 12:59] wojtuss commented on #25507
@cryoco, @luotao1
I cannot see the commit bd0b38e6718c2d9790a2764a9fbba8fa7ca444f9 in 1.8.3. Also the diff between the `develop` and `v1.8.3` tag shows the commit: https://github.com/PaddlePaddle/Paddle/compare/v1.8.3...develop (see Commits on Jun 23, 2020 section).

[2020-07-15 13:45] luotao1 commented on #25506
This issue use the same model as #25507. And https://github.com/PaddlePaddle/Paddle/issues/25507#issuecomment-658636558 updates the model link.

[2020-07-15 13:49] luotao1 commented on #25507
Got it. Please cherry-pick https://github.com/PaddlePaddle/Paddle/commit/bd0b38e6718c2d9790a2764a9fbba8fa7ca444f9 into release/1.8 and have a double-check!

[2020-07-15 14:07] wojtuss commented on #25506
@luotao1 , @cryoco
I took the model from https://github.com/PaddlePaddle/Paddle/issues/25507#issuecomment-658636558 and got the following error with the script `test_ocr_mkldnn_mem.py` (with or without the `--mkldnn` option; this error does not occur when running the script `test_ocr_mkldnn_diff.py` from the issue https://github.com/PaddlePaddle/Paddle/issues/25507 on the same model) :
[code]

Als

[2020-07-15 14:46] cryoco commented on #25506
@wojtuss
My apologize.
[detection model](https://paddleocr.bj.bcebos.com/ch_models/ch_det_mv3_db_infer.tar)
[recognition model](https://paddleocr.bj.bcebos.com/ch_models/ch_rec_mv3_crnn_infer.tar)
code:
[test_ocr_mkldnn_mem.txt](https://github.com/PaddlePaddle/Paddle/files/4925953/test_ocr_mkldnn_mem.txt)

[2020-07-15 16:16] tomcheng0618 commented on #25477
我们将所有代码中Werror指令删掉后即可成功在9.3.1下编译。另外在centos8下英伟达已经不再提供cuda10以下版本的cuda，希望cuda版本可以尽快出来。。。。

[2020-07-16 02:18] luotao1 commented on #25466
For the naming convention, some discussion on https://github.com/PaddlePaddle/Paddle/pull/19318.

[2020-07-16 02:22] Jessie-J7 opened #25555 "使用paddlepaddle出现cuda的内存泄漏？"
系统环境：Ubuntu 16.04
paddle版本： 1.6
cuda版本:      10.1
cudnn版本：  7.6

压测最终结果报告：单张图片泄漏约5k
使用gperftools内存泄漏检测工具，结果如下：

Leak of 800 bytes in 10 objects allocated from:
@ 7f7b8b93cdcd unknown
@ 00007f7b8b948295 cuVDPAUCtxCreate ??:0
@ 00007f7b8b949e86 cuVDPAUCtxCreate ??:0
@ 00007f7b8b94a3e7 cuVDPAUCtxCreate ??:0
@ 00007f7b8b742999 cuMemGetAttribute ??:0
@ 00007f7b8b743331 cuMemGetAttribute ??:0
@ 00007f7b

[2020-07-16 02:26] Jessie-J7 commented on #25555
主要代码逻辑如下：
int RetinaDlInferenceLayer::pdl_set_input() {
        auto input_names = _pdl_predictor->GetInputNames();
        auto input_t = _pdl_predictor->GetInputTensor(input_names[0]);
        input_t->Reshape({_batch_size, _inf_img.channels(), _inf_img.rows, _inf_img.cols});
        input_t->copy_from_cpu((float*)_cpu_io_buf[0]);
        return 0;
    }

    int RetinaDlInferenceLayer::pdl_do_i

[2020-07-16 03:05] yaoxuefeng6 commented on #25547
麻烦提供下代码 能够直接泡起来的复现环境吧 这样没办法排查呀

[2020-07-16 03:06] yaoxuefeng6 commented on #25543
用户重提了issue 关闭了

[2020-07-16 03:06] #25543 closed, assigned to nobody

[2020-07-16 05:51] yuewuya20180928 opened #25560 "release/1.8本机编译失败"
PaddlePaddle版本：release/1.8
CPU：X86_64
GPU：无CUDA
系统环境：UBUNTU20 PYTHON3.8
按照官网https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/install/compile/compile_Ubuntu.html#ubuntu中说明的步骤编译报错：

CMakeError.log中提示：
src.c:(.text+0x46): undefined reference to `pthread_create'
/usr/bin/ld: src.c:(.text+0x52): undefined reference to `pthread_detach'
/usr/bin/ld: src.c:(.text+0x63): undefined reference to `pt

[2020-07-16 05:59] yuewuya20180928 commented on #25560
内容太多了：一句话概括下：按照官网的说明cmake编译时报如下错误：
src.c:(.text+0x46): undefined reference to pthread_create' /usr/bin/ld: src.c:(.text+0x52): undefined reference to pthread_detach'
/usr/bin/ld: src.c:(.text+0x63): undefined reference to `pthread_join'
collect2: error: ld returned 1 exit status

[2020-07-16 07:00] DYJNG opened #25563 "Paddlle_TRT推理报错"
1）PaddlePaddle版本：PaddlePaddle-gpu-1.8.2、TensorRT-6.0.1.5
3）GPU：1080Ti、CUDA9.0、CUDNN7.6
4）系统环境：Python3.6.6
-预测信息
1）Python预测，CentOS7系统下编译预测库
- 问题描述：使用Paddle-TRT 运行paddleslim量化后的模型，设置precision_mode=AnalysisConfig.Precision.Int8时，能够完成推理，但是速度相比于不启用TRT差别不大，比量化前的模型推理速度甚至还慢一些。此外，在设置precision_mode=AnalysisConfig.Precision.Float32时，出现报错，报错信息如下：

[code]

[2020-07-16 07:10] ellinyang opened #25564 "check_feed_shape_type"
- 标题：mask_rcnn模型预测时报错
- 版本、环境信息：
    1）PaddlePaddle版本：paddle1.7.1
    2）GPU：nvidia V100, cuda7/cudnn9.0
    4）系统环境：Linux 14
- 复现信息：
训练时不固定输入大小，但因业务需要，在导出模型时需固定了输入op的大小为（3, 800, 1344)，故如下代码修改了模型，导致预测时报错。但同样是固定输入大小，faster/cascade rcnn可以顺利infer，但mask_rcnn/retinanet不能，请问是什么原因呢？
[code]
- 错误日志：
Traceback (most recent call last):
  File "infer_demo.py", line 230, in <module>
    infer(args)
  File "infer

[2020-07-16 07:31] a-zhui opened #25569 "Blocking queue is killed because the data reader raises an exception，在使用ai studio训练时，报的这个错误"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2020-07-16 08:07] jianzfb opened #25573 "fluid.layers.softmax_with_cross_entropy，ignore_index参数，实现存在问题"
PaddlePaddle 版本 1.8.2
GPU：P40
单卡环境

问题函数：
    loss = \
        fluid.layers.softmax_with_cross_entropy(logits,
                                                labels,
                                                ignore_index=255)
当前模型是一个两类的分割模型，logits来自模型获得每个位置的预测logits，形状N x 2；label是每个位置的真实标签值（0，1，255），形状 N x 1。其中255表示此位置为无效位置。原本期望通过设置ignore_index=255，来自动完成摒弃损失函数中对于这些无效位置的考虑（pytorch下是可以的）。
但是此

[2020-07-16 08:25] baiyfbupt commented on #25573
https://github.com/PaddlePaddle/PaddleSeg/blob/c2bc76f8336a1deef08e72411288c02dd737d389/pdseg/loss.py#L37 看到PaddleSeg在分割任务上也用了这个op，而且在多个任务上验证过，麻烦先确认下用法是否正确呢？

[2020-07-16 08:51] wanghaoshuang commented on #25544
https://github.com/PaddlePaddle/PaddleSlim/issues/381

[2020-07-16 09:35] baiyfbupt commented on #25569
您好，现在的信息不足以定位问题，麻烦贴下出问题的aistudio链接，完整错误log

[2020-07-16 09:44] NHZlX commented on #25563
 1) 使用Paddle-TRT 运行paddleslim量化后的模型，precision只能设置为int8
2）请问是什么模型

[2020-07-16 09:49] xcwei opened #25577 "dynamic_lstm设置is_reverse=False，输出是正序还是逆序"
请问 fluid.layers.dynamic_lstm 中，如果设置is_reverse=False，则输出的结果是按正序输出还是按逆序输出，例如：
输入是ABCDE，那输出是按ABCDE这个序列输出，还是按EDCBA的输出？

[2020-07-16 09:49] jerrywgz commented on #25564
如果希望在导出模型的时候固定输入长度，https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.3/docs/advanced_tutorials/deploy/EXPORT_MODEL.md#%E8%AE%BE%E7%BD%AE%E5%AF%BC%E5%87%BA%E6%A8%A1%E5%9E%8B%E7%9A%84%E8%BE%93%E5%85%A5%E5%A4%A7%E5%B0%8F 可以参考这里的文档，指定image_shape即可

在预测的时候由于rcnn和retinanet都是keep_ratio的方式进行resize，因此如果希望保持定长的话需要对resize的图片做padding。从报错信息来看resize的逻辑应该只是判断了短边resize到800然后长边不大于1344，而此时800，1344是固定he

[2020-07-16 10:15] ellinyang commented on #25564
预测时希望是keep ratio的，不希望固定尺度，只是业务需要（框架转换/端移植等），需要读取输入变量的shape值（不能为None/-1），所以给了一个（800，1334）随意的值；奇怪的是，faster_rcnn/cascade模型，就算实际预测的大小和网络定义shape不同，也不会报错，但是mask_rcnn/retinanet都会报错。这是为啥？

[2020-07-16 10:55] baiyfbupt commented on #25577
是逆序的输出，可以参考API文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/dynamic_lstm_cn.html#dynamic-lstm
![image](https://user-images.githubusercontent.com/28884066/87663202-0b7d3c00-c796-11ea-9b28-54f2a52397e8.png)

[2020-07-16 11:18] baiyfbupt commented on #25560
看log提示

先在python环境安装下numpy把这个问题解决下试试呢？

[2020-07-16 12:08] wojtuss commented on #25506
@cryoco
Thank you! I reproduced the result and can confirm that MKLDNN cache is growing during the test execution. That is because in the models inputs have variable size and MKLDNN operators with different input size are being added to the cache over and over.

The cache grows less and less over time, however, setting limits to the cache size could also be helpful. Can you confirm that the PR htt

[2020-07-16 12:24] a-zhui commented on #25569
[code]

[2020-07-16 12:26] DYJNG commented on #25563
@NHZlX 感谢回复！
（1）我试过用量化前的模型推理，当precision设置为Float32的时候，还是会报上述错误。
（2）模型原本是训练好的keras-yolov3模型，我先转为了tensorflow版本的模型，然后通过X2Paddle转换为Paddle版本的模型。
通过PaddleSlim量化时发现，elementwise_mul, elementwise_max, batch_norm等层不支持量化。
量化后的模型，多了一些xxx_quantized/dequantized节点，不知道这是不是推理变慢的原因。

[2020-07-16 14:03] luotao1 commented on #25506
I know the reason:
- #25524 only works on `predictor.run(inputs, outputs, batch_size)` before, since it needs to know the input's size. `AnalysisPredictor::MkldnnPreSet()` is used only in `AnalysisPredictor::Run(inputs, outputs, batch_size)`.
- Thus, it doesn't work on `predictor.zero_copy_run()`

@cryoco
- Could you change to `predictor.run(inputs, outputs, batch_size)`?
- Or you need `predictor.

[2020-07-16 15:12] wojtuss commented on #25507
@grygielski did that: https://github.com/PaddlePaddle/Paddle/pull/25572

[2020-07-17 02:25] lliqi-echo opened #25583 "sequence_conv报错：Error: Input(X, Filter) should be 2-D tensor."
输入数据为：seq = fluid.layers.data(name='seq', shape=[1], dtype='int64',lod_level=1)
使用文本CNN
def cnn(data, input_dim=4, emb_dim=128, hid_dim=512):
    emb = fluid.embedding(
        input=data, size=[input_dim, emb_dim], is_sparse=True)
    conv_3 = fluid.nets.sequence_conv_pool(
        input=emb,
        num_filters=hid_dim,
        filter_size=4,
        act="tanh",
        pool_type="sqrt")
    con

[2020-07-17 02:32] baiyfbupt commented on #25569
应该是这里引起的，数据集路径配置错误。
这个数据是你自行修改的吗？如果是请再检查下数据路径的配置是否正确。如果不是麻烦贴一下这个aistudio任务链接，我找相关同学修复下，谢谢~

[2020-07-17 02:48] levinxo opened #25586 "1.8.2版本的gpu镜像接近15G"
1）PaddlePaddle版本：1.8.2
2）CPU/GPU：GPU
3）系统环境：centos docker
- 建议描述：1.8.2版本的gpu镜像接近15G，希望能缩减一些体积，参考tf GPU镜像不超过5G

[2020-07-17 03:02] a-zhui commented on #25569
我用的是AI Studio上的数据集，我检查了，但没有发现错误（这个任务是用resnet_v2_50_imagenet进行finetune）。https://aistudio.baidu.com/aistudio/projectdetail/633782 这是链接，那谢谢了

[2020-07-17 03:15] jianzfb commented on #25573
是的 我就是在弄PaddleSeg，不过在调用此fluid.layers.softmax_with_cross_entropy函数前，已经通过调用，
    label = fluid.layers.elementwise_min(
        label, fluid.layers.assign(np.array([num_classes - 1], dtype=np.int32)))
将想要去掉的标签，除去了。也就是说，无法通过这样的操作来验证softmax_with_cross_entropy里面,ignore_index参数正确。

我这里 验证了，如果之前不通过elementwise_min，去除无效标签。期望通过softmax_with_cross_entropy里的ignore_index消除，是不可以的。
下图是，你们PaddleSeg里的softmaxloss损失函数

[2020-07-17 03:18] iclementine commented on #25583
这个应该是一个形状的问题。

sequence_conv 需要的数据是一个 2D 的 Tensor;
但是你的数据 seq 是一个 base shape 为 [1], lod_level=1 的数据，它的内部的 Tensor 的真实形状是 [-1, 1], -1 的实际值是多个序列的总长度。

过了 embedding 之后，输出的形状是 [-1, 1, embe_dim] （因为 embedding 现在的行为是 后附一个维度），所以已经不是 2D Tensor 了，而是 3D，所以你可以 squeeze 掉中间的维度。

[2020-07-17 03:23] tianshuo78520a commented on #25586
我们的镜像中会自带一些依赖，不需要再去额外下载，所以会比tf大一些，tf的GPU镜像也不止5个G，在docker hub上显示不到5G但实际下载下来会变成10个G左右，镜像这块我们也在优化中，已经列入计划了，感谢您的意见。

[2020-07-17 03:35] phlrain commented on #25573
https://github.com/PaddlePaddle/Paddle/pull/25549
这个pr已经修复了问题，刚merge进去develop分支，正式版本会在1月左右发布

[2020-07-17 05:02] baiyfbupt commented on #25569
![image](https://user-images.githubusercontent.com/28884066/87750298-a2e19e00-c82d-11ea-9f1b-b5d04e7f48cc.png)
这个项目我看不到，你可以看到这个项目的创建人吗？我来联系下

[2020-07-17 05:06] baiyfbupt commented on #25555
请问跑的是什么任务？能否提供下可以复现的代码

[2020-07-17 06:00] levinxo commented on #25586
@tianshuo78520a 好的，谢谢，观察发现镜像中维护了多个python版本，是镜像太大原因之一，可以考虑只保留高版本的python

[2020-07-17 06:06] tianshuo78520a commented on #25586
好的，这是一个好的建议，可以减少我们docker的大小，但还需要和我们内部沟通是否只保留一个python 这个方案。

感谢你的意见。

[2020-07-17 06:08] a-zhui commented on #25569
创始人就是我，已经公开了，

[2020-07-17 06:23] baiyfbupt commented on #25569
那建议检查下数据集和数据路径的配置是否正确吧？重点看下报错信息中的这两个问题
OSError: cannot identify image file 'dog10/3/Niutougeng-123626392.html'
IsADirectoryError: [Errno 21] Is a directory: 'dog10/'

[2020-07-17 07:00] a-zhui commented on #25569
OSError: cannot identify image file 'dog10/3/Niutougeng-123626392.html'文件夹里的这个错误文件都删除了，但我想问一下IsADirectoryError: [Errno 21] Is a directory: 'dog10/'，这个问题怎么解决

[2020-07-17 07:26] heavengate commented on #25544
yolov3的话不需要开`use_fine_grained_loss=True`, 保持默认值False就可以了

[2020-07-17 07:31] arlesniak commented on #25510
Thank you for the information

[2020-07-17 07:31] #25510 closed, assigned to phlrain

[2020-07-17 08:01] lujinchao opened #25591 "The first dimension of Input(Emission) and Input(Label) should be the same"
* 标题：textone序列标注任务出现dimension不一致的问题
* 版本信息
（1）cuda9.0，cudnn7.3.0
（2）paddle 1.8.1
* 错误日志

  1 export CUDA_VISIBLE_DEVICES=0
------------------------------------------

    attrs=kwargs.get("attrs", None))
  File "/home/work/lujinchao/query_brand/python_paddle_gpu/python/lib/python2.7/site-packages/paddle/fluid/layer_helper.py", line 43, in append_op
    return self.main_program.current_block().appe

[2020-07-17 08:10] #25583 closed, assigned to iclementine

[2020-07-17 08:13] baiyfbupt commented on #25569
image = Image.open(image_path) 在这一步时本应打开一个文件路径，但是传的参数是个目录导致报错，建议查下reader里面是否有用法错误的

[2020-07-17 08:19] a-zhui commented on #25569
好的，谢谢

[2020-07-17 09:03] familyld commented on #22004
对ddqn.py进行本地修改后可正确运行，谢谢。

https://github.com/PaddlePaddle/PARL/pull/353/commits/b18dd8af3e6dbd341e68b4790440ad246df1dfef

[2020-07-17 09:26] wojtuss commented on #25466
@phlrain , @luotao1

Thank you for your responses. I want to confirm that we are working on enabling oneDNN support for DyGraph. First results are promissing, training for ResNet50, MobileNetV1 seems to work fine, with oneDNN cache operating, significantly faster than without oneDNN. Testing is in progress. First PRs should come next week.

[2020-07-17 10:56] cryoco commented on #25555
您好，可否更新到1.8试一下？

[2020-07-17 11:41] lliqi-echo opened #25597 "lstm与sequence_cnn结合使用报错：Error: Only support one level sequence now."
序列数据分类，想要将CNN和lstm结合使用
模型设置如下：
`def cnnlstm(data, input_dim=4, emb_dim=128, hid_dim=512):
    emb = fluid.embedding(
        input=data, size=[input_dim, emb_dim], is_sparse=True)
    conv_3 = fluid.nets.sequence_conv_pool(
        input=emb,
        num_filters=hid_dim,
        filter_size=3,
        act="relu",
        pool_type="max")
    conv_4 = fluid.nets.sequence_conv_pool(
        input=em

[2020-07-17 14:04] luotao1 commented on #25466
This is the biggest difficulty in using oneDNN for dynamic graphs. Please discuss with us and share the ideas to find a good solution together (Also with luotao).

@wojtuss @jczaja @lidanqing-intel

https://github.com/PaddlePaddle/Paddle/blob/c3c61d34c1c33ef6aad003cfb17a1a53a2e3d08c/paddle/fluid/operators/mkldnn/mul_mkldnn_op.cc#L293-L295

Now, mkldnn op use the variable name, such as `ctx.OutputN

[2020-07-17 14:46] wojtuss commented on #25466
True, we will try to work it out.

[2020-07-18 01:41] kabuwaniu opened #25600 "请问 paddlepaddle 能实现贝叶斯深度神经网络"

[2020-07-18 07:41] henrystrident opened #25601 "双线性插值"
请问在静态图的模型定义中如何使用双线性插值办法，在使用resize_bilinear方法时存在的问题：

**1. 使用以下代码并没有将图片的长宽扩大为两倍：**
[code]
[code]

2.目前的报错信息：
![image](https://user-images.githubusercontent.com/46043240/87847763-17d7d500-c90d-11ea-8fe6-e68872c54b8b.png)

[2020-07-18 07:43] henrystrident commented on #25601
模型是官方提供的VGG19，去掉了全连接层进行了一些修改

[2020-07-18 10:44] henrystrident commented on #25601
实测该方法是有用的，由于模型最后一层的池化没有去掉所以导致原代码出现问题

[2020-07-18 10:44] #25601 closed, assigned to nobody

[2020-07-19 13:12] feng626 opened #25603 "删除不在使用的Dockerfile"
移除废置的 Dockerfile 文件，不再使用，后续也不再维护。

[2020-07-19 13:50] huangjun12 commented on #25591
看报错是[linear_chain_crf op](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/linear_chain_crf_cn.html#linear-chain-crf)输入和标签的第一个维度(batch_size)不匹配，建议检查下该op的输入input和label~

[2020-07-19 14:39] huangjun12 commented on #25597
看报错是输入不满足要求，[dynamic_lstm op](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/dynamic_lstm_cn.html#dynamic-lstm)需要的输入 LoDTensor的lod level为1，sequence_conv_pool op返回的conv_3和conv_4的lod level为0，得到的fc的lod Level也为0，故报错。 建议换成[lstm op](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/lstm_cn.html#cn-api-fluid-layers-lstm)试下？

[2020-07-20 01:19] #25573 closed, assigned to nobody

[2020-07-20 02:15] dbsxdbsx opened #25607 "建议添加categorical分布的sample和Log_prob函数"
- 版本、环境信息
1）PaddlePaddle版本：1.8.2
2）CPU/GPU：CUDA10和cuDNN7.6
3）系统环境：win10x64

我在复现强化学习算法时会需要用到从categorical（离散）分布中采样，目前只能先转成numpy类型来取值，要算log_prob的话则再添加个mask来算，参考了官方模型实现：https://github.com/PaddlePaddle/models/blob/release/1.8/dygraph/reinforcement_learning/actor_critic.py
但这样并不方便，所以希望能够像normal分布那样补充完这些基本接口，谢谢。

[2020-07-20 02:24] Aurelius84 commented on #25607
非常感谢您的反馈和建议，我们会尽快支持`categorical.log_prob`接口。

[2020-07-20 02:51] reeselaye opened #25609 "安装后导包报错"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/actor/.local/lib/python3.5/site-packages/paddle/__init__.py", line 35, in <module>
    batch = batch.batch
NameError: name 'batch' is not defined

[2020-07-20 03:23] mamingjie-China opened #25610 "topk中当输入k为tensor时，结果有误"
PaddlePaddle 1.8.1，python3.7
topk中，当输入的k为tensor时，无论tensor的值是多少，结果都是相同
示例代码：
import paddle.fluid as fluid
import paddle.fluid.layers as layers
input2 = layers.data(name="input2", shape=[13, 11], dtype='float32')
vk = fluid.layers.fill_constant(shape=[1], value=6, dtype='int64')
vk_values, vk_indices = layers.topk(input2, k=vk)
print(vk_values, vk_indices)

期望的结果的shape应该是[13, 6]的，但实际运行结果为[13, 1]
![i

[2020-07-20 03:29] NHZlX commented on #25563
麻烦把模型发下把。

这边测试paddle产生的yolov3的模型是没有问题的。keras转的模型需要看下。

[2020-07-20 03:56] Aurelius84 commented on #25610
感谢您的反馈。

问题已经定位，原因是输出shape始终为[13, 1]是因为输入的k是个Variable类型，在组网编译期k的数据未知，因此在编译期使用了k为int时的默认值1进行了shape推导，在实际执行时输出的shape为[13, 1]。

这里的问题在于如果k为Variable，可能导致始终返回[13, 1]导致后续组网shape对不上问题，会进行修复。

[2020-07-20 04:38] wu8320175 commented on #25421
谢谢，问题已解决！ 根据提供的源码我的实现思路是：先定义init_states=fluid.data(name='init_states',shape=[BATCH_SIZE,hidden_size],dtype='float32')，作为模型的数据输入，输入到模型中作为初始化状态。 模型训练时返回metrics = exe.run(main_program,feed={'words':ipt_data[0],'label':ipt_data[1],'init_states':ipt_data[2]},fetch_list=[avg_cost,**states**])fetch_list返回states，作为下一个batch 模型输入的初始状态数据。

[2020-07-20 04:38] #25421 closed, assigned to nobody

[2020-07-20 04:45] Aurelius84 commented on #25609
请问您使用的paddle版本是哪个？

[2020-07-20 04:59] YangYangL opened #25616 "训练过程中，optimizer从SGD换成Adam，模型不收敛；"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2020-07-20 05:11] YangYangL commented on #25616
版本环境信息：
paddlepaddle1.8.1；
cpu单机训练;
python3.7.7版本;
ubuntu20.04;

训练数据：criteo公开数据集；
训练模型基于官方提供的deepfm模型；

只修改了optimizer，SGD可以正常训练；Adam训练auc到0.59不动了，两个lr都是1e-4，lr*10或者/10都不能收敛

[2020-07-20 05:59] 1024er commented on #25603
请问是要删除镜像么？

[2020-07-20 06:27] yuewuya20180928 commented on #25560
solved

[2020-07-20 06:27] #25560 closed, assigned to nobody

[2020-07-20 07:01] feng626 commented on #25603
不再使用此Dockerfile构建镜像 后续也不在维护

[2020-07-20 07:11] Aurelius84 commented on #25616
请问使用的是PaddleRec里提供的deepfm模型么：https://github.com/PaddlePaddle/PaddleRec/blob/master/models/rank/deepfm/model.py

[2020-07-20 07:30] lelelelelez commented on #25603
将Dockerfile进行整合，原Dockerfile.GCC8现统一升级使用Dockerfile.Inference （即tools/manylinux1/Dockerfile.cuda10_cudnn7_gcc8_ubuntu16）
现将此issue关闭，如仍有问题，可随时打开。

[2020-07-20 07:31] YangYangL commented on #25616
是的

[2020-07-20 07:32] #25603 closed, assigned to nobody

[2020-07-20 07:35] Aurelius84 commented on #25616
Adam优化器本身有一些超参，尝试调一下其他beta1和beta2的参数？另外，可否对比下adam和SGD的loss收敛曲线，观察下收敛的值曲线。因为Adam的lr是动态变化的，SGD是保持不变的。

[2020-07-20 07:55] lliqi-echo commented on #25597
你好，根据你的建议，将 dynamic_lstm 替换成了 lstm ，如下：
`def cnnlstm(data, input_dim=256, emb_dim=128):
    emb = fluid.embedding(
        input=data, size=[input_dim, emb_dim], is_sparse=True)
    conv_3 = fluid.nets.sequence_conv_pool(
        input=emb,
        num_filters=512,
        filter_size=3,
        act="relu",
        pool_type="max")
    conv_4 = fluid.nets.sequence_conv_pool(
        input=emb,

[2020-07-20 07:55] lliqi-echo commented on #25597
---------------------------------------------------------------------------NameError                                 Traceback (most recent call last)<ipython-input-15-597579ca65d2> in <module>
     25         label = fluid.layers.data(name='label', shape=[None,1], dtype='int64')
     26         with fluid.unique_name.guard():
---> 27             predict = cnnlstm(data=seq)
     28             cos

[2020-07-20 08:07] huangjun12 commented on #25597
init_h和init_c应该是维度为 [num_layers,batch_size,hidden_size]的3-D Tensor，而不是list，参考示例:
init_h = fluid.layers.fill_constant( [num_layers, batch_size, hidden_size], 'float32', 0.0 )
init_c = layers.fill_constant( [num_layers, batch_size, hidden_size], 'float32', 0.0 )

[2020-07-20 08:11] lliqi-echo commented on #25597
谢谢，您的解答。这部分我已修改，但仍然提示相同的错误：
---------------------------------------------------------------------------NameError                                 Traceback (most recent call last)<ipython-input-21-597579ca65d2> in <module>
     25         label = fluid.layers.data(name='label', shape=[None,1], dtype='int64')
     26         with fluid.unique_name.guard():
---> 27             predict = cnnlstm(data=

[2020-07-20 09:23] WenmuZhou opened #25619 "能否添加一个包，类似torch.cuda，能够提供一些cuda的基本查询功能"
需要的功能如下
1. 查看cuda是否可用，类似torch.cuda.is_available()
2. 查看可用的显卡数量，类似torch.cuda.device_count()

[2020-07-20 09:27] wzzju opened #25620 "【double grad】使用grad接口，优化生成模型时某op梯度找不到"
### 以下为简单的Paddle可复现代码：
[code]
paddle develop版本运行报下列错误:
![image](https://user-images.githubusercontent.com/17102274/87922111-172a7480-caae-11ea-83b6-084c4592df6d.png)
将代码中的use_gp改为false（不用grad接口），就不报错。同时将tanh去掉的话，会换另一个op的grad找不到。

### torch对应的代码可以正常运行，如下所示：

[code]

[2020-07-20 09:43] #17056 closed, assigned to shippingwang

[2020-07-20 09:43] #18586 closed, assigned to nobody

[2020-07-20 09:44] #18591 closed, assigned to nobody

[2020-07-20 09:44] #18604 closed, assigned to seiriosPlus

[2020-07-20 09:44] #18605 closed, assigned to wopeizl

[2020-07-20 09:44] #18616 closed, assigned to wawltor, phlrain

[2020-07-20 09:44] #18617 closed, assigned to wopeizl

[2020-07-20 09:44] #18619 closed, assigned to nobody

[2020-07-20 09:44] #18627 closed, assigned to nobody

[2020-07-20 09:44] #18631 closed, assigned to qingqing01, zhhsplendid, chengduoZH

[2020-07-20 09:44] #18636 closed, assigned to zhhsplendid

[2020-07-20 09:44] #18639 closed, assigned to zhhsplendid, wzzju

[2020-07-20 09:44] #18647 closed, assigned to nobody

[2020-07-20 09:44] #18651 closed, assigned to nobody

[2020-07-20 09:44] #18657 closed, assigned to nobody

[2020-07-20 09:44] #18660 closed, assigned to XiaoguangHu01

[2020-07-20 09:44] #18661 closed, assigned to XiaoguangHu01

[2020-07-20 09:44] #18662 closed, assigned to weiexcelpro

[2020-07-20 09:44] #18677 closed, assigned to sandyhouse

[2020-07-20 09:44] #18694 closed, assigned to wawltor

[2020-07-20 09:44] #18697 closed, assigned to xsrobin

[2020-07-20 09:44] #18704 closed, assigned to nobody

[2020-07-20 09:58] jczaja commented on #25466
Some comment regarding cache usage, oneDNN cache is speeding up execution of inference and training it also pass some needed data from forward to grad operators. For example Native LRN is having MidOut output to pass some computational data from forward to backward. In case of LRN oneDNN is also using MidOut but there is pool and batch norm oneDNN ops that
need MidOut as well. While we do not have

[2020-07-20 10:02] Aurelius84 commented on #25619
上述功能都可以调用[cuda_places接口](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/cuda_places_cn.html#cuda-places)

1. 查看cuda是否可用
[code]

2. 查看可用的显卡数量
[code]

[2020-07-20 10:50] GT-ZhangAcer opened #25621 "有用户建议更换Docker默认Python版本"
飞桨1.8 Docker版本中su虽然内置了3.5~3.7版本Python，但默认是Python3.5。部分PaddleClas用户表示在Docker上运行需要3.6+版本支持，希望可以更换默认Docker的Python版本为3.7.
<img width="423" alt="图片" src="https://user-images.githubusercontent.com/46156734/87929994-e2bcb580-cab9-11ea-9853-643fa13ca125.png">

[2020-07-20 10:57] GT-ZhangAcer opened #25622 "Tensor部分文档有误，获取tensor的shape是通过成员变量获取，而非文档中的通过shape方法获取"
PaddlePaddle版本：1.8
文档链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Tensor_cn.html#shape-self-paddle-fluid-core-avx-tensor-list-int
[code]
<img width="944" alt="图片" src="https://user-images.githubusercontent.com/46156734/87930502-ca996600-caba-11ea-808f-43d59dd673b9.png">

[2020-07-20 11:53] shippingwang commented on #25621
ppcls并没有要求3.6，您是怎么安装的？

[2020-07-20 11:56] shippingwang commented on #25621
这个是visualdl的要求 我觉看下visualdl能否支持py3.5？或者不用visualdl功能就将requirement里的visualdl删除吧

[2020-07-20 11:58] #25621 closed, assigned to nobody

[2020-07-20 12:36] mamingjie-China opened #25626 "topk运算结果中，indices结果不正确"
当topk的输入中，出现相同大小的值时，运算结果中，indices的结果在GPU和CPU版本的Paddle中不一致，且不同机器，均在CPU版本下，运算结果也不相同。初步看了一下代码，应该是在排序的时候，所使用的排序算法为不稳定排序所致。
示例代码
import paddle.fluid as fluid
import numpy as np
def gen_data():
    return {
        "input": np.array([[[2, 2, 2, 2], [3,3,2,3], [4, 4, 3, 4]], [[5, 5, 6, 6], [7,7,7,7], [6, 7, 10, 8]]], dtype="float32")
    }

input = fluid.data(name="input", shape=[2,3,4], dtype='float32')

[2020-07-20 13:10] Aurelius84 commented on #25626
感谢反馈。经确认，topk的CPUKernel底层实现调用了`std::partial_sort`，这个算法是不稳定的。我们会修复这个问题。

[2020-07-20 13:16] Aurelius84 commented on #25622
感谢您的反馈。

我这边使用1.8.0和1.8.3版本，print(t.shape())都是没有问题的。

[2020-07-20 13:33] WenmuZhou commented on #25619
当安装的是cpu版本的paddle时，fluid.cuda_places() 选择报错而不是返回0，这是有什么考量吗？

[2020-07-20 15:25] yuewuya20180928 opened #25629 "fs.cc/mmap_allocator.cc编译报错"
环境：
    1）PaddlePaddle版本：release/1.8
    2）CPU：X86_64
    3）GPU：无
    4）系统环境：UBUNTU20、Python3.8
    5）G++：g++ (Ubuntu 9.3.0-10ubuntu2) 9.3.0
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令：
cmake .. -DPY_VERSION=3.8 -DWITH_GPU=OFF -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON
make clean
make -j8
编译报错：
Scanning dependencies of target system_allocator
[  6%] Building CXX object paddl

[2020-07-21 01:53] Jessie-J7 commented on #25555
更新到1.8以后，用工具检测是没有内存泄漏的，但是运行时仍能监控到内存泄漏。

[2020-07-21 01:55] Jessie-J7 commented on #25555
不好意思，我们尝试过提出demo，但都无法复现。

[2020-07-21 02:09] Aurelius84 commented on #25619
fluid.cuda_places() 这个接口在调用时，会检查当前安装的paddle是否是gpu版本。

感谢您的反馈，我们会优化相关接口，满足类似功能需求。

[2020-07-21 02:19] GT-ZhangAcer commented on #25622
我的疏忽，没有问清楚用户所使用的版本，感谢~

[2020-07-21 02:19] #25622 closed, assigned to nobody

[2020-07-21 02:20] Aurelius84 commented on #25629
您好像使用的GCC版本是9.3.0，版本太高了。编译报错是因为：
[code]
你可以尝试使用GCC8版本解决这个问题。

[2020-07-21 02:28] cryoco commented on #25555
可以参考[这里](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/native_infer.html#a-name-c-c-a)的样例以单测的形式复现显存泄漏的问题。

[2020-07-21 02:33] luotao1 commented on #25629
@Aurelius84 是否需要在代码里提示建议使用GCC8.2呢？

[2020-07-21 02:51] yuewuya20180928 commented on #25629
使用gcc8.4.0有如下的报错：
(paddle-venv) yuewuya@yuewuya-RedmiBook-14:~/Public/openSource/Paddle/build$ make clean
make -j8
(paddle-venv) yuewuya@yuewuya-RedmiBook-14:~/Public/openSource/Paddle/build$ make -j8
[  0%] Built target extern_boost
[  1%] Built target extern_dlpack
[  2%] Built target extern_warpctc
[  2%] Built target extern_xxhash
[  2%] No update step for 'extern_eigen3'
[  3%] Built target e

[2020-07-21 02:56] Aurelius84 commented on #25629
从报错上来看，是依赖的三方eigen库、mkldnn没有成功下载下来。日志前面是否有出现git clone未完成的日志，可能需要网络代理。

[2020-07-21 03:20] xiangyubo commented on #18188
是不是每次都创建新的 scope 了？看看这篇文章有帮助不？
https://aistudio.baidu.com/aistudio/projectdetail/641295

[2020-07-21 03:48] Aurelius84 commented on #25629
嗯，这个可以在cmake文件里添加下检查

[2020-07-21 03:53] yuewuya20180928 commented on #25629
README.md
Eigen's official git repository have been moved to https://gitlab.com/libeigen/eigen

For convenience, this deprecated mirror repository will be kept as is for a short period of time before being deleted.

So please update your git clones & submodules to https://gitlab.com/libeigen/eigen.git as soon as possible.

Also note that it is not possible keep it sync with the new official git re

[2020-07-21 03:59] Aurelius84 commented on #25629
@yuewuya20180928 目前依赖的eigen库配置的就是从最新的repo地址下载的，配置在这里：https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/external/eigen.cmake#L25

[2020-07-21 05:43] mapingshuo commented on #25111
请详细描述一下问题

[2020-07-21 06:15] yuewuya20180928 commented on #25629
/home/yuewuya/Public/openSource/Paddle/paddle/fluid/operators/reduce_ops/reduce_mean_op.cc:103:1:   required from here
/home/yuewuya/Public/openSource/Paddle/build/third_party/eigen3/src/extern_eigen3/unsupported/Eigen/CXX11/src/Tensor/TensorFunctors.h:169:18: error: no match for ‘operator/’ (operand types are ‘const paddle::platform::float16’ and ‘const DenseIndex’ {aka ‘const long int’})
     re

[2020-07-21 06:26] Aurelius84 commented on #25629
@yuewuya20180928 paddle依赖了指定commit的eigen版本`917060c364181f33a735dc023818d5a54f60e54c `，上述错误应该都是编译器版本过高导致编译不通过。

您可以把gcc版本降到gcc8.2试下，后续我们会更全面的支持更高版本的gcc

[2020-07-21 07:18] flishwang commented on #25111
我的网络中有如下的代码：
data_shape = fluid.layers.shape(x)
.....
channel_add_term=fluid.layers.resize_nearest(channel_add_term, data_shape[2:], align_corners=True)
时，
不使用混合精度进行训练，一切正常。
但使用混合精度训练时，会报错，报错日志如下：

2020-07-21 15:07:14,674-INFO: loading roidb 2012_train
100%|████████████████████████████████████████████████████████████████████████████████████████| 1366/1366 [00:00<00:00, 4269.22it/s]
2020-07-21 15:0

[2020-07-21 07:21] flishwang commented on #25111
当我对含有deformable_conv层的网络使用混合精度训练时，会报如下的错：

2020-07-21 15:09:35,355-INFO: set base learning_rate to 0.000125
/home/bwang/anaconda3/envs/paddle/lib/python3.7/site-packages/paddle/fluid/data_feeder.py:110: UserWarning: The data type of 'dtype' in cast only support float16 in GPU now.
  (input_name, op_name, extra_message))
/home/bwang/anaconda3/envs/paddle/lib/python3.7/site-packages/paddle/fluid/dat

[2020-07-21 08:43] xcwei opened #25640 "dropout的使用"
如果我用了fluid.layers.dropout，那我是需要在train的网络结构里把is_test设置为False，在测试的网络里设置为True吗
我是用的clone(for_test=True)得到的测试网络，这个要怎么处理，clone的时候会自动把dropout设置为is_test吗

[2020-07-21 08:43] #25270 closed, assigned to nobody

[2020-07-21 08:49] LDOUBLEV commented on #25640
测试网络里要设置为true
clone(for_test=True)得到的测试网络，clone的时候会自动把dropout设置为true

[2020-07-21 12:52] yuewuya20180928 commented on #25629
@Aurelius84 多核编译会报错，单核编译不会报错，可能是什么原因造成的？

[2020-07-21 13:56] colin1988 opened #25644 "expand_as没有设置 output shape 么？"
https://github.com/PaddlePaddle/Paddle/blob/a9520db24ef8b101514b0bcaff39dd359f72dcb7/paddle/fluid/operators/expand_as_op.cc#L48

[2020-07-21 14:33] jczaja opened #25645 "Question on memory allocators."
By default PaddlePaddle is NOT using system allocator for memory allocation. FLAGS_use_system_allocator = False.
https://github.com/PaddlePaddle/Paddle/blob/dfb3ae1b9b44f351526d0f5b04e2656e127ed9be/paddle/fluid/memory/allocation/allocator_facade.cc#L117

 What is  adventage of NOT using system allocator for CPU workloads?

[2020-07-22 01:18] yuewuya20180928 commented on #25629
@Aurelius84 使用GCC7.5编译还是有这个问题：
/home/yuewuya/Public/openSource/Paddle/build/third_party/eigen3/src/extern_eigen3/unsupported/Eigen/CXX11/src/Tensor/TensorFunctors.h:169:18: error: no match for ‘operator/’ (operand types are ‘const paddle::platform::float16’ and ‘const DenseIndex {aka const long int}’)
     return accum / scalarCount_;
官方推荐使用哪个版本的GCC？如果GCC兼容那就是下载的eigen3的资源的问题了

[2020-07-22 01:48] Microkitty opened #25646 "gpu版在cpu上运行时若程序有import torch且set_cpu_math_library_num_threads()大于1则会异常退出"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle_gpu-1.7.2.post107-cp36-cp36m-manylinux1_x86_64.whl（从[pip](https://pypi.org/project/paddlepaddle-gpu/1.7.2.post107/#files)下载）
    2）CPU：Intel(R) Xeon(R) CPU E5-2678 v3 @ 2.50GHz，没有特意安装过MKL/OpenBlas/MKLDNN/等数学库（pip好像会自动安装依赖）
    3）GPU：GeForce RTX 2080Ti（Driver Version: 430.50）、CUDA10.1.243和CUDNN7.6.3
    4）系统环境：CentOS Linux release 7.6.1810，Python 3.6.9 |

[2020-07-22 02:49] LDOUBLEV commented on #25644
问题已在用户群解决，发现，expand_asAPI返回的shape全是0，复现代码如下：
paddle版本1.7
[code]
打印结果
(1, 2)
(3, 2)
(0, 0)

[2020-07-22 04:43] yuewuya20180928 commented on #25629
(paddle-venv) yuewuya@yuewuya-RedmiBook-14:~/Public/openSource/Paddle/build/python/dist$ pip install -U paddlepaddle-1.8.3-cp38-cp38-linux_x86_64.whl
Processing ./paddlepaddle-1.8.3-cp38-cp38-linux_x86_64.whl
Collecting funcsigs
  Downloading funcsigs-1.0.2-py2.py3-none-any.whl (17 kB)
Collecting opencv-python
  Downloading opencv_python-4.3.0.36-cp38-cp38-manylinux2014_x86_64.whl (43.7 MB)
     |

[2020-07-22 04:46] Aurelius84 commented on #25629
官网推荐GCC8.2

[2020-07-22 04:49] Aurelius84 commented on #25629
@yuewuya20180928 报错来看是下载安装其他依赖包时，中断了，你可以使用清华的源试下：
[code]

[2020-07-22 05:47] yuewuya20180928 commented on #25629
pip install -U paddlepaddle-1.8.3-cp38-cp38-linux_x86_64.whl -i https://pypi.tuna.tsinghua.edu.cn/simple
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Processing ./paddlepaddle-1.8.3-cp38-cp38-linux_x86_64.whl
Collecting funcsigs
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/69/cb/f5be453359271714c01b9bd06126eaf2e368f1fddfff30818754b5ac2328/funcsigs-1.0.2-py2.py3-none-any

[2020-07-22 05:58] #25577 closed, assigned to nobody

[2020-07-22 08:59] luotao1 commented on #25537
@jczaja Could you help see this issue? The model/data/codes are already emailed to @lidanqing-intel

[2020-07-22 09:41] ruyijidan opened #25656 "【论文复现】fluid.dygraph.grad()不能求导 PermissionDeniedError: Target var generated_var_0@GRAD should not be nullptr"
官方例子没问题.改用简单网络模型也可以,但是改用自己的网络就不能求导了,

    1）PaddlePaddle版本：1.8.2-post107
    2）CPU/GPU：NVIDIA-SMI 418.87.00、CUDA10.0和cuDNN版本号:7.6.0
    3）系统环境：请您描述系统类型、版本，ubuntu1804
    4）Python版本号  3.7.7
    5）显存信息 9927MiB/11176MiB

Traceback (most recent call last):
  File "/home/j/Desktop/testcode/test.py", line 585, in <module>
    print(test_dygraph_grad(None))  # [7.]
  File "/home/j/Desktop/testcode/test.p

[2020-07-22 10:14] ydchen9 opened #25657 "在paddle中，如何将一个网络的参数全部复制到另一个完全一样的网络中？实现思路是什么？（用于强化学习DQN算法中）"
能否提供简要的实现思路，当然能具体点更好。感谢！
另，因为我使用的是python2.6，因此无法安装parl库。只能自己动手实现。

[2020-07-22 10:18] ruyijidan commented on #25657
我看有用deepcopy操作的,拷贝出一个想要拷贝的模型类,但是我用的时候不行..

[2020-07-22 10:28] ruyijidan commented on #25656
复现代码贴一下:

import paddle.fluid as fluid
import numpy as np
import paddle
import paddle.fluid as fluid
import math
from paddle.fluid.dygraph.nn import Conv2D, Pool2D, Linear, BatchNorm
from paddle.fluid.param_attr import ParamAttr
from paddle.fluid.regularizer import L2Decay
from paddle.fluid.dygraph.base import to_variable

class ConvBNLayer(fluid.dygraph.Layer):
    """
    卷积 + BN，BN层之后激活函数默认用lea

[2020-07-22 10:34] yuewuya20180928 commented on #25629
大佬们帮帮忙啊，环境安装的问题困扰了很久了，万分感谢

[2020-07-22 10:36] shuoyin opened #25658 "DataLoader中set_sample_generator丢数据的问题"
测试代码如下，测试环境python2.7.13 + paddle 1.7，CPU
[code]
运行之后，输出如下:

[code]
这个问题还请paddle的同学解答一下

[2020-07-22 10:44] ruyijidan commented on #25656
`
import paddle.fluid as fluid
import numpy as np
import paddle
import paddle.fluid as fluid
import math
from paddle.fluid.dygraph.nn import Conv2D, Pool2D, Linear, BatchNorm
from paddle.fluid.param_attr import ParamAttr
from paddle.fluid.regularizer import L2Decay
from paddle.fluid.dygraph.base import to_variable

class ConvBNLayer(fluid.dygraph.Layer):
    """
    卷积 + BN，BN层之后激活函数默认用leaky_relu

[2020-07-22 10:46] ruyijidan commented on #25656
[code]

[2020-07-22 10:50] mapingshuo opened #25660 "sequence_pool suppport fp16 and fp64"
Hi, I found that the `layers.sequence_pool` API do not support the data type of `fp16` and `fp64`:

https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/sequence_pool_cn.html#cn-api-fluid-layers-sequence-pool

Will you complete this in the future?

[2020-07-22 11:03] Aurelius84 commented on #25629
@yuewuya20180928 你单独先尝试装一下numpy或scipy试下呢？

这个好像没有与你platform和python版本对应的scipy库？ 或者你尝试下python3.7，python3.6

[2020-07-22 12:24] wanghuancoder commented on #24863
I tried to fix this bug, but I didn't succeed.

Bug crash is not triggered at 'size_t i = position_.front().get();', but:
https://github.com/pybind/pybind11/blob/v2.2.4/include/pybind11/stl.h#L144
a1be85f
`144                    value.clear();`

Due to struct list_caster did not be called constructed function, thus the vector 'value' did not be called constructed function eather.
Thus, vector 'val

[2020-07-22 12:38] jczaja commented on #25537
@luotao1 Please forward model/codes to me as @lidanqing-intel is out of office

[2020-07-22 12:53] jczaja commented on #24863
@wanghuancoder Thanks for looking to that issue. Hopefully root cause can be found and fixed.

[2020-07-22 12:53] lfchener commented on #25658
sample_generator 进行了 drop_last 的操作。参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/DataLoader_cn.html#dataloader
![image](https://user-images.githubusercontent.com/6771821/88178665-4fbc8080-cc5d-11ea-9185-92e8dff40311.png)

[2020-07-22 13:45] ydchen9 commented on #25657
好的。

[2020-07-22 16:05] ruyijidan opened #25668 "paddle里有没有scale_regularization_loss操作"
参考TF的API
https://tensorflow.google.cn/versions/r2.1/api_docs/python/tf/nn/scale_regularization_loss

[2020-07-23 02:24] huangjun12 commented on #25597
你使用的是哪个版本的paddle呢

[2020-07-23 02:26] lliqi-echo commented on #25597
我在AI studio平台操作的
环境配置：
Python版本
python3.7
框架版本
PaddlePaddle 1.7.2

[2020-07-23 02:34] nbcc opened #25672 "embedding is_sparse == True 后，fp16/amp bp 时会挂掉"
   1）PaddlePaddle版本：问题存在所有版本里，我使用的是 paddle2.0 alpha 发行版、GPU 运行
  
- 问题描述：

embedding is_sparse 后，梯度是 SELECTED_ROWS 类型
![图片](https://user-images.githubusercontent.com/864331/88247264-b24e6480-cccf-11ea-806a-fde20e783b8d.png)

代码
![图片](https://user-images.githubusercontent.com/864331/88247351-035e5880-ccd0-11ea-9aa3-2b8d5ae698ba.png)

在使用 fp16/amp 模式下，梯度需要通过 castop 转换 fp16/fp32，该 op 不支持 SELECTED_ROW

[2020-07-23 03:11] yeguang1991 opened #25673 "Parakeet是否有中文的预训练模型或者训练语料"
Parakeet是否有中文的预训练模型或者训练语料

[2020-07-23 03:16] Maybewuss opened #25675 "使用Predictor预测时爆显存，使用load_inference_model就不会。"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.3
    3）GPU：k40 CUDA10.1
    4）系统环境：python2.7

加载Rorberta-large进行预测，batch_size设置为32，使用load_inference_model导入后进行预测，显存维持在2g左右。
使用predictor是设置config中的gpu_memory上限为8g，调用时显存会迅速拉满，然后报错挂掉。
大致的代码逻辑如下
[code]

[2020-07-23 03:22] Xu-honghao opened #25677 "Windows Inference Issue"
下载的官方Windows预测库，版本cpu_avx_openblas，预测库1.8.3
下载的官方demo，Paddle/paddle/fluid/inference/api/demo_ci/windows_mobilenet.cc
使用lib库的时候出现6个无法解析的外部命令错误
本机cpu型号：Inter Xeon cpu E5620
操作系统：Windows7
vs版本：vs2015 update3

[2020-07-23 03:22] #25507 closed, assigned to wojtuss

[2020-07-23 03:24] jiweibo commented on #25677
请问是使用的动态库吗？我本地先尝试复现下。

[2020-07-23 03:29] Xu-honghao commented on #25677
使用的静态lib库，MT

[2020-07-23 03:29] 123malin commented on #25668
Paddle现在给参数增加正则项可以通过ParamAttr完成，具体可参考文档https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/fluid_cn.html#paramattr

[2020-07-23 03:29] Xu-honghao commented on #25677
使用的静态lib库，MT

[2020-07-23 03:36] kuke commented on #25673
感谢关注，中文的预训练模型我们正在准备之中

[2020-07-23 03:52] kuke commented on #25657
请问是想实现不同网络之间的参数共享么，PaddlePaddle 的参数只要有相同的命名，且运行的时候两个模型是在同一个 scope 里面，这两个参数就是共享内存的

[2020-07-23 04:02] yeguang1991 commented on #25673
语料呢，可以提供一下吗

[2020-07-23 04:31] jiweibo commented on #25675
使用Predictor的时候 尝试把batch_size调小，或者打开config->EnableMemoryOptim()显存复用选项

[2020-07-23 04:35] jiweibo commented on #25646
问题一：openblas不支持在多线程应用内，再打开内部的多线程，可以查阅openblas的wiki

[2020-07-23 05:22] Maybewuss commented on #25675
为什么使用load_inference_model的方式可以成功运行呢？
使用predictor相比这种方式有什么优点？

[2020-07-23 05:32] Maybewuss commented on #25675
试了一下，打开EnableMemoryOptim后真的可以了！这个选项默认是关闭的，是基于什么考虑？打开之后效率会变差吗？

[2020-07-23 05:40] jiweibo commented on #25675
不是load_inference_model的问题，应该时exe.run和predictor.run的区别。predictor在预测阶段做了很多优化，可能会导致显存的增长

[2020-07-23 05:41] jiweibo commented on #25675
显存复用和模型结构有关，对于部分模型可能没有效果，所以默认时关闭的。打开该选项不影响预测性能

[2020-07-23 05:44] Maybewuss commented on #25675
为啥我刚刚测了一下发现exe.run要快一点点。。。

[2020-07-23 05:51] Microkitty commented on #25646
问题二规避了，要先run一下paddle的模型，之后再import torch，后面才能正常run模型

[2020-07-23 05:51] #25646 closed, assigned to jiweibo

[2020-07-23 06:56] ydchen9 commented on #25657
是的，要实现参数共享。

![image](https://user-images.githubusercontent.com/26667822/88259184-61049c00-ccf4-11ea-842b-ba6bb29d532e.png)
这个方法似乎需要在同一个program内，通过指定param_attr相同名字。因为在同一个program内，所有无法建立两个网络，这方法试过，行不通。

[2020-07-23 07:22] www516717402 opened #25684 "PanddlePanddle Icon？"
PanddlePandle need a Icon in main interface. Please see pytorch github.
Hope PandlePandle more and more popular.

[2020-07-23 08:21] flishwang opened #25686 "batch_norm_grad error: No Output(X@GRAD) found for BatchNormGrad operator"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】
无相似问题

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：batch_norm_grad error: No Output(X@GRAD) found for BatchNormGrad operator
- 版本、环境信息：
    1）PaddlePaddle版本：conda 1.8.3-gpu
    3）GPU：预测若用GPU，RTX 2080Ti, cuda 10.0 + cudnn 7.6
    4）系统环境：Ubuntu16.04, python3.7

- 训练信息
    1）单机，单卡
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

使用Pad

[2020-07-23 09:07] ceci3 commented on #25686
应该是bn的输入stop_gradient=True，导致的报错，网络这样改的目的是想更新bn的参数，但是梯度不继续回传吗？

[2020-07-23 09:42] jiweibo commented on #25677
下载的是 cpu_avx_openblas 预测库，编译选项中WITH_MKL应为OFF，请确认下。

[2020-07-23 09:45] ruyijidan commented on #25668
感谢回复！
我之前确实有看错用法，在定义网络层误以为bias_attr=None,这项是正则化了。将fluid.regularizer.L2Decay(regularization_coeff=1e-4)传给了bias_attr
[code]

问题1：那是不是在优化器中，将regularization=None，设置成fluid.regularizer.L2Decay(regularization_coeff=1e-4)就是在所有的网络层中添加正则了呢？在TF中对conv2和dense不同操作都是单独设置正则的
问题2：这样加正则后网络反向传播计算所得的loss是否就包含正则化对loss的影响了，就不需要像TF那样再对正则化项的loss进行处理了，类似pytorch的优化器的用法么？

[2020-07-23 09:45] Xu-honghao commented on #25677
是的，我自己编译的也是blas的，测试demo也是一样的问题

[2020-07-23 09:46] Xu-honghao commented on #25677
请问你那边Windows测试cpu_avx_openblas 预测库是正常的吗？

[2020-07-23 10:37] zjutlzt opened #25691 "Jetson 在编译 Paddle 出错"
Jetson 在编译 Paddle得时候   cmake  .. 得时候报错
版本是 git checkout v1.8.3
请问是什么问题
CMake Error at cmake/configure.cmake:103 (if):
  if given arguments:

    "VERSION_LESS" "7"

  Unknown arguments specified

[2020-07-23 10:39] jiweibo commented on #25677
我在win10上没复现出问题

[2020-07-23 10:42] Xu-honghao commented on #25677
好吧，难道是我系统原因吗，可以把你包含头文件和lib的两个目录在群里截图给我看一下吗

[2020-07-23 10:47] jiweibo commented on #25677
预测库解压后默认名称是 fluid_inference_install_dir。

cmake的时候 指定PADDLE_LIB为刚才解压的预测库目录。 如-DPADDLE_LIB=C:\...\fluid_inference_install_dir

[2020-07-23 12:40] vslyu commented on #25691
Nvidia 的Jeston平台目前只适合用来做推理，不建议在Jeston平台上直接编译Paddle，理由有如下几点：

- Nvidia Jetson nano/TK1/TX1/TX2等板卡为低端嵌入式处理器板卡，上面搭载的四核心ARM A57 CPU性能低下，编译package特别慢；

- 编译package配置更为复杂，需要额外指定好多编译flags，容易配置错误；

 建议你这边可以在[安装与编译 Linux 预测库](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html)页面找到支持Jeston平台的tar.gz包直接解压安装使用，目前只支持cuda10-cudnn7.5下T

[2020-07-23 13:10] wanghuancoder commented on #24863
@jczaja Hello, I want to ask you a question. How can you print stacktrace during crash, **_including code line number and args address_**? When paddle crashed in my computer, there is no line and args information in the stacktrace.

[2020-07-23 13:39] jczaja commented on #24863
@wanghuancoder Hi,
I'm not sure if understand problem correctly, but

1. To have stacktrace you need to have symbols inside binary e.g. build paddlepaddle with CMAKE_BUILD_TYPE=Debug or CMAKE_BUILD_TYPE=RelWithDebInfo .
2.  If you are using Debug build , and not seeing stacktrace on crash, please try to run it under debugger and set stopping on exceptions being thrown : (gdb) catch throw
3. If cra

[2020-07-23 13:54] zjutlzt commented on #25691
好的 看来只能用paddle-lite了，我想问一下，paddledetection\Seg  export出来的模型  padllelite可以跑吗？

[2020-07-23 14:11] 123malin commented on #25691
应该是可以的，如果有问题，可以在paddle-lite repo下开issue提问。

[2020-07-23 14:24] zjutlzt commented on #25691
好的 谢谢

[2020-07-23 14:24] #25691 closed, assigned to nobody

[2020-07-23 14:42] jczaja commented on #19797
Fixed and merge

[2020-07-23 14:42] #19797 closed, assigned to nobody

[2020-07-23 23:42] flishwang commented on #25686
感谢！应该是这里出的问题。对的，我是要固定整个网络，只更新bn的参数。

我把代码改成：
conv.stop_gradient=True
conv += 0.0
后，问题解决。

但这只是个workaround的方法。请问这是个bug吗？

[2020-07-24 01:30] wanghuancoder commented on #24863
@jczaja Thank you very much！

[2020-07-24 02:14] wanghuancoder commented on #24863
@chenwhql
这个问题未能定位。目前还是停留在为啥构造函数不调用上。
通过实验，在Release下，list_caster的构造函数是正常调用的，因此执行正常。
debug Vs release 日志：
[intel release 正常构造.txt](https://github.com/PaddlePaddle/Paddle/files/4969862/intel.release.txt)
[intel debug list_caster未构造.txt](https://github.com/PaddlePaddle/Paddle/files/4969863/intel.debug.list_caster.txt)

我在pybind11中提了issues：https://github.com/pybind/pybind11/issues/2323

我暂时停止定位，如果继续，有

[2020-07-24 02:21] chenwhql commented on #24863
Great Work! Thanks!

[2020-07-24 03:01] 123malin commented on #25684
Thanks for your opinion, we'll fix it later. Hope PaddlePaddle more popular.

[2020-07-24 03:13] andylida commented on #25657
deepcopy是对动态图操作的.
你要是静态图,指定name,然后你去看program.all_parameter(),你会发现只创建了一个参数

当你打算在不同program中操作的话,把你的网络封装成一个函数,在每个program调用一次就好(计算复杂度x2😂

[2020-07-24 03:17] andylida opened #25695 "请问静态图有weight_norm的部署吗?"
飞桨程序员小哥哥小姐姐你们好~
我现在正在部署一个模型,需要用到weight_norm.我同时写了动态,静态图两种代码.
我看到weight_norm_ParamAttr是一个静态图专用方法.我可以在dygraph中使用他们吗?

如果不行的话,请问能推荐我看哪一部份paddle代码来理解ParamAttr?我可以手动实现一下
谢谢~

[2020-07-24 03:42] ydchen9 commented on #25657
按你说的这样，会不会有两个网络结构是一样的，但是它们的参数并不能共享，而是各自计算各自的？
我前面回复的话有些问题，我需要的应该不是参数共享。参数共享的话会使得两个网络，每时每刻的参数值都相同。而我需要的是在指定时刻，把一个网络的参数值全部复制到（或，全部同步到）另一个完全一样的网络中。

[2020-07-24 03:45] ydchen9 commented on #25657
难道没人用paddle实现过DQN？

[2020-07-24 04:38] #14837 closed, assigned to luotao1

[2020-07-24 07:27] 1830789843 opened #25700 "报错：ExternalError: Cudnn error, CUDNN_STATUS_BAD_PARAM"
(初始版本：
python=2.7.14,
paddle=1.6.3)
版本升级后python=2.7.18、paddle=1.8.3发生如下错误：

/tools/python-paddle-dev/lib/python2.7/site-packages/paddle/fluid/executor.py:1070: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  File "train.py", line 315, in <module>
    train(args)
  File "train.py", line 296, in

[2020-07-24 07:56] zhangylch opened #25703 "动态图应用fluid.dygraph.grad 报错"
Paddle 版本 1.8.1
程序：
[code]

报错信息
Traceback (most recent call last):
  File "31.py", line 17, in <module>
    only_inputs=True,allow_unused=False)[0]
  File "<decorator-gen-29>", line 2, in grad
  File "/share/group-soft/anaconda/install/envs/paddle/lib/python3.7/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__
    return wrapped_func(*args, **kwargs)
  File "/share/group-soft

[2020-07-24 08:48] qingqing01 commented on #25700
@1830789843

你需要升级本地机器上的cuDNN版本至7.6。

[2020-07-24 08:53] AN-ZE opened #25708 "模型"
paddle可以转其它框架模型吗，由于硬件问题，需要转换模型。

[2020-07-24 09:50] #25700 closed, assigned to nobody

[2020-07-24 09:54] yeguang1991 opened #25711 "请问一下Parakeet中deepvoice3训练时的steps是根据哪些参数确定的"
有没有计算公式
![image](https://user-images.githubusercontent.com/66579493/88380174-a1d4e180-cdd6-11ea-81f3-4395e84286c1.png)

[2020-07-24 09:59] qingqing01 commented on #25695
@andylida  weight_norm_ParamAttr不能用到动态图中。

动态图可以参考： https://github.com/PaddlePaddle/Parakeet/blob/develop/parakeet/models/deepvoice3/model.py#L48

[2020-07-24 10:05] qingqing01 commented on #25708
@AN-ZE  可以看下 https://github.com/PaddlePaddle/X2Paddle/

[2020-07-24 10:07] #25620 closed, assigned to wzzju

[2020-07-24 10:30] andylida commented on #25695
嗯.动态图我看到了,这几天就在看parakeet😂
谢谢,但我暂时不打算close掉

[2020-07-24 12:08] andylida commented on #25657
这样的话,deepcopy就应该够了.我个人的理解是,静态图组网的时候是没有参数的,参数保存在program中.所以deepcopy应该只复制网络结构而不复制参数.
如果这个逻辑正确的话,你可以看下下面的源代码.他的方法是,从global_scope中,找到某个参数的名字,获取它的值.在调用.sync_weights_to以后,将其中一个模型的参数全部通过.assign方法赋值过去.

https://github.com/PaddlePaddle/PARL/blob/0a068653bd988a2dac72dd53967f30e36b6a14b6/parl/core/fluid/model.py#L69

[2020-07-24 13:31] iclementine commented on #25711
训练输出的 steps 是训练时候的 global step， 是一直增长的。

[2020-07-24 14:50] luotao1 commented on #25645
@zhiqiu Could you help see it?

[2020-07-24 15:25] familyld opened #25717 "How to fix random seeds so that the same code snippet can yield the same results？"
I follow the instruction in [this link](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Program_cn.html#random-seed) and set the random seed of the program to be a fixed value, i.e., `prog.random_seed = 1` (I also fix the random seeds of the random and numpy packages and I haven't use GPU so far). However, running the same code snippet still yields different results, e.g., th

[2020-07-25 03:34] Spr1nt0a0 opened #25718 "Please re-compile the inference library by setting the cmake flag ON_INFER=ON if you are running Paddle Inference"
Please re-compile the inference library by setting the cmake flag ON_INFER=ON if you are running Paddle Inference

[2020-07-25 04:35] luotao1 commented on #25718
What's the problem with you?

[2020-07-25 10:25] ruyijidan commented on #25657
`call last)<ipython-input-11-9afa840df4ad> in <module>
     10     Generator = G("G")
     11     Discriminator = D("D")
---> 12     g=deepcopy(Generator)
     13     #Generator.load_dict(gparams_dict)
     14     #Discriminator.load_dict(dparams_dict)
/opt/conda/envs/python35-paddle120-env/lib/python3.7/copy.py in deepcopy(x, memo, _nil)
    167                     reductor = getattr(x, "__reduce

[2020-07-25 11:01] DrRyanHuang opened #25719 "动态图模式中如何传入预训练参数？"
版本：paddlepaddle1.7

您好！
请问，在**动态图**模式中，如何传入预训练参数呢？
我在PP的官方文档只找到了静态图传入参数的方法

我之前一般用 `old_model.parameters()` 返回预训练参数列表，再用 `new_model.load_dict` 加载预训练部分参数，由于两者的参数名字不同，还需要手动对应加载

有什么简单加载预训练参数的API吗？

顺便问一下，在**动态图**中怎么给参数加名字呢？ (我只在官网找到了静态图参数加 name 的方法)

有点儿像伸手党了，但是我真的没在官网找到动态图的方法

[2020-07-25 11:42] Weili-NLP opened #25720 "使用float16混合精度训练报错InvalidArgumentError: Tensor holds the wrong type, it holds float, but desires to be ::paddle::platform::float16."
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.2 和 1.8.3
    3）GPU：V100 32g，Cuda10.0
    4）系统环境：Ubuntu 16.04， python3.6.9

![image](https://user-images.githubusercontent.com/25901705/88456288-02cfe880-ceaf-11ea-944c-c7287f15fced.png)
![image](https://user-images.githubusercontent.com/25901705/88456279-f77cbd00-ceae-11ea-8ee2-9855cbab38e4.png)
![image](https://user-images.githubusercontent.com/25901705/884562

[2020-07-25 11:50] Sephirothought opened #25721 "目标检测框架下运行20000左右iter以后出现Error: Blocking queue is killed because the data reader raises an exception"
我正在参加Paddle的目标检测比赛，尝试了几种CascadeRCNN和fasterRCNN方法，但令人崩溃的是调用这些yml 都会在一开始顺利运行，但在运行了20000iter左右以后出现报错情况，如下所示：
2020-07-25 13:24:32,980-INFO: iter: 16240, lr: 0.010000, 'loss_cls': '0.033885', 'loss_bbox': '0.046580', 'loss_rpn_cls': '0.002377', 'loss_rpn_bbox': '0.001451', 'loss': '0.077764', time: 0.413, eta: 1 day, 5:06:38
2020-07-25 13:24:41,208-INFO: iter: 16260, lr: 0.010000, 'loss_cls': '0.033792

[2020-07-25 16:38] wangjiechinaghost commented on #25718
also have this problem

[2020-07-26 00:15] #25629 closed, assigned to nobody

[2020-07-26 00:17] yuewuya20180928 opened #25722 "安装完成后，验证时时报错：ImportError: cannot import name '_imaging'"
   1）PaddlePaddle版本：1.8
    2）CPU：X86_64
    3）GPU：无
    4）系统环境：ubuntu20 python3.5
(paddle-venv) yuewuya@yuewuya-RedmiBook-14:~/Public/openSource/Paddle/build/python/dist$ python3.5
Python 3.5.9 (default, Apr 18 2020, 00:56:51)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File

[2020-07-26 03:49] luotao1 commented on #25718
I guess both of you want to ask why there is a warning `Please re-compile the inference library by setting the cmake flag ON_INFER=ON if you are running Paddle Inference`.

You can see [how to install and build the inference lib](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html#id12).
- In default, `-DON_INFER=OFF`, w

[2020-07-26 03:52] luotao1 commented on #25720
和用户沟通，该问题大概率是bug，因为1.6.3下用户的模型可以跑，1.8.3和1.7.2都有同样的错误

[2020-07-26 03:53] luotao1 commented on #25721
可以去 https://github.com/PaddlePaddle/Paddledetection 提问，会更有针对性

[2020-07-26 09:06] wuxlun opened #25723 "ubuntu docker 安装 paddlepaddle，容器内只有python2可以使用"
在容器内进入python3中编译 import paddle.fluid后报错，但在python2中正常。为什么现在还不支持python3啊？怎样才可以在容器中使用python3

[2020-07-26 14:13] dbsxdbsx opened #25724 "关于在动态图中使用fluid.layers.sampling_id的疑惑"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.2 cuda7.6
    2）系统环境：win10
    3）Python版本号: 3.7

[code]
以上代码输出[3 3 3 3]， 但根据理解，batch_size为4，每个分布有4个项，可选[0,1,2,3]，再加上min=0,max =2，则最后每个分布的可选项应该在区间[0,2]间，那为何结果是[3 3 3 3]呢？

另，若希望从某个分布取n个样本（而不是1个）要怎么写呢，若没有现成的函数，希望能参考pytorch的multinomial函数仿写一个。

[2020-07-27 01:18] Spr1nt0a0 commented on #25718
ok.thx!

[2020-07-27 01:18] #25718 closed, assigned to nobody

[2020-07-27 01:28] yeguang1991 commented on #25711
我的模型已经训练两天了，请问我怎么判断什么时候会结束。或者说我训练之前怎么计算steps是多少？

[2020-07-27 02:17] #25569 closed, assigned to nobody

[2020-07-27 02:58] zhiqiu commented on #25645
If `FLAGS_use_system_allocator == True`, the memory allocation calls the system API `malloc` or `cudaMalloc` directly, which may affect performance.

[2020-07-27 03:12] luotao1 commented on #25720
1.
![image](https://user-images.githubusercontent.com/6836917/88499942-fb692600-cff9-11ea-860d-5ae02da1114c.png)
您的代码中如果有上面这个图片中最后的两行，需要屏蔽掉，新版本混合精度已经不需要这两行了。
2.可以参考 [混合精度训练最佳实践](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/amp/amp.html#paddlepaddle-amp)

[2020-07-27 03:24] Jessie-J7 commented on #25555
内存泄漏问题已解决！检测工具不靠谱，与paddle无关！

[2020-07-27 03:24] #25555 closed, assigned to nobody

[2020-07-27 03:42] Weili-NLP commented on #25720
谢谢，注释掉 cast_fp32_to_fp16后，新版Paddle可以正常运行了

[2020-07-27 03:47] qingqing01 commented on #25717
@familyld  You must also set seed for startup program, you can setting these at the beginning of the code as follows:

[code]

[2020-07-27 03:50] luotao1 commented on #25721
duplication with https://github.com/PaddlePaddle/PaddleDetection/issues/1112

[2020-07-27 03:50] #25721 closed, assigned to nobody

[2020-07-27 03:53] phlrain commented on #25703
目前定位到是梯度聚合的时候，出现了一些bug，我们看下如何修复

[2020-07-27 03:57] iclementine commented on #25711
目前是代码里面写了训练的最大步数是 2,000,000. 这个可以根据需要调节，也可以提前终止训练。
可以根据模型训练的速度估算大约结束的时间。

目前每 10000 步保存一次模型。https://github.com/PaddlePaddle/Parakeet/blob/e58e927c5e1265f3ff3a61502f03475e9ebfbd85/examples/deepvoice3/configs/ljspeech.yaml#L41

[2020-07-27 03:58] qingqing01 commented on #25695
@andylida 好的，有问题可以继续交流~

[2020-07-27 04:02] phlrain commented on #25719
在paddle动态图中有两套命名规则，第一个是structured name就是根据self.xx 这种拼接起来的， 类似 enc.layers_0.linear.w_0，一个parameter name（主要是为了兼容静态图的命名规则），两套规则可以互转,

old_model.parameters() 接口只返回了一个list，里面只包含parameter name，没有包含structured name，new_model.load_dict( ) 默认情况会跟structured name来查找参数，如果找不到会报错退出

对于同一个模型，如果想要load_dict，需要把 old_model.state_dict() 的结果传递给 new_model的load_dict接口

[2020-07-27 04:05] phlrain commented on #25719
如果想设置动态图参数的名称，可以通过ParamAttr或者BiasAttr，通过self.create_parameter创建的也可以通过ParamAttr来设置

通常情况下，如果不涉及到加载静态图训练好的参数，是不需要是用这种设置的

[2020-07-27 05:38] #25722 closed, assigned to nobody

[2020-07-27 06:11] DrRyanHuang commented on #25719
@phlrain
我明白了，十分感谢！
百度飞桨 (゜-゜)つロ 干杯~-Paddlepaddle

[2020-07-27 07:51] yeguang1991 commented on #25711
我训练了中文的TTS模型，可以用英文的声码器合成中文语音吗
![image](https://user-images.githubusercontent.com/66579493/88517144-ff5c6e80-d020-11ea-80fb-c0d4cafde1b4.png)

[2020-07-27 08:05] kuke commented on #25723
在容器内运行 python 默认是 python2，如果要安装 paddle 到 python3 环境，可以按如下的方式运行

`
pip3 install paddlepaddle-gpu==1.8.3.post97 -i https://mirror.baidu.com/pypi/simple
`

[2020-07-27 08:13] familyld commented on #25717
@qingqing01 Thank you! Fixing `fluid.default_startup_program().random_seed` is what I need.

[2020-07-27 08:13] #25717 closed, assigned to nobody

[2020-07-27 08:16] iclementine commented on #25711
只要维度，输入输出的处理方式都匹配，可以试试，但是大概效果不会好。因为 waveflow 目前是在 LJSpeech 上训练出来的，它的数据分布和汉语会有较大的不同，模型不一定能处理好。

[2020-07-27 08:24] yeguang1991 commented on #25711
还有几个问题请教一下您：
1.中文训练和合成的时候需要分词吗？
2.TTS模型训练音频需要时同一个人的声音吗？我自己找了一些中文的语料进行TTS模型训练，但是语料里面的音频不是同一个人录的，这个会影响语音合成的准确度吗？
3.请问一下你们这边后期会提供中文的TTS预训练模型和声码器吗？如果有的话，请问大概什么时间会上线？

[2020-07-27 08:33] xfcygaocan commented on #25720
我参考这个方法1，注释掉最后两行。用1.7.2跑了两个数据集效果明显下降。

[2020-07-27 08:45] T8T9 commented on #16307
Hope this help.

[code]

[2020-07-27 08:47] yeyupiaoling commented on #16307
@T8T9  thank you

[2020-07-27 09:07] YuHuasong123 opened #25736 "Windows下通过Visual C++ 9.0编译_swig_decoders时报错，缺stdint.h，如何解决？"
running install
running bdist_egg
running egg_info
writing swig_decoders.egg-info\PKG-INFO
writing top-level names to swig_decoders.egg-info\top_level.txt
writing dependency_links to swig_decoders.egg-info\dependency_links.txt
file swig_decoders.py (for module swig_decoders) not found
reading manifest file 'swig_decoders.egg-info\SOURCES.txt'
writing manifest file 'swig_decoders.egg-info\SOURCES.t

[2020-07-27 09:43] #17119 closed, assigned to seiriosPlus

[2020-07-27 09:43] #17840 closed, assigned to ceci3

[2020-07-27 09:43] #17888 closed, assigned to jacquesqiao

[2020-07-27 09:43] #18717 closed, assigned to nobody

[2020-07-27 09:43] #18747 closed, assigned to NHZlX

[2020-07-27 09:43] #18783 closed, assigned to nobody

[2020-07-27 09:43] #18787 closed, assigned to NHZlX

[2020-07-27 09:43] #18807 closed, assigned to wanghaoshuang

[2020-07-27 09:43] #18818 closed, assigned to wanghaoshuang

[2020-07-27 09:43] #18822 closed, assigned to nobody

[2020-07-27 09:43] #18828 closed, assigned to sandyhouse

[2020-07-27 10:26] wozna opened #25739 "Change the type of attribute "use_quantizer""
Implementation of bfloat16 inference on OneDNN has started and Bfloat16 data type is already under review. https://github.com/PaddlePaddle/Paddle/pull/25402
We have a question connected to the implementation of bfloat16 API.
"use_quantizer" attribute is used in INT8 implementation.  For now, it is a boolean type that informs if the operator should be quantized and use int8 kernel.

#### First solu

[2020-07-27 11:55] rgr19 opened #25742 "List of issues for external contributors"
Hi! This great project of PaddlePaddle has touched my spirit, thus I would like to contribute by fixing some bugs, adding tests or features. Is there any existing list from where I could pick some actual development task without the need to browse thru all other "issues"? For me any of Python, C++ (Boost, Eigen, etc...), CMake, Ansible, Docker, K8S is perfect!

[2020-07-27 12:01] xfcygaocan opened #25743 "AMP使用报错"
版本、环境信息：
   1）PaddlePaddle版本：1.8.1
   3）GPU：V100 32g，Cuda10.0
   4）系统环境：Ubuntu 16.04， python3.6.9

1、包含AMP代码如下
![image](https://user-images.githubusercontent.com/14819988/88539272-87ec0680-d043-11ea-8b02-2eb2dd8f37eb.png)

2、报错的log如下
![image](https://user-images.githubusercontent.com/14819988/88539082-22981580-d043-11ea-864b-bb8fe66d1c4d.png)

3、可能的问题
我载入模型参数是部分包含float16，但是在用AMP是layers.reduce_sum不

[2020-07-27 13:26] barrierye opened #25746 "DatasetLoader的报错信息能否更加完善一些"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：1.8.3
2）CPU/GPU：CUDA10 cuDNN7
3）系统环境：CentOS 7
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：当使用 exe.run_from_dataset 时正常训练；当使用 DatasetLoader 训练时，遇到类似 "当前数据行解析失败" 的报错信息，而日志中输出的数据行确实不完整。找到原因应该是训练时显存不够，导致 pipe_command

[2020-07-27 13:30] luotao1 commented on #25720
@xfcygaocan 请问：
- 是1.7.2比1.6.3慢了？
- 有试过1.8.3么？
- 和 https://github.com/PaddlePaddle/Paddle/issues/25743 有关系么？
- 能否提供下网络配置和更详细的信息（比如速度、机型等）

[2020-07-27 13:32] #25719 closed, assigned to nobody

[2020-07-27 13:40] saviord7 opened #25747 "pip installation problem"
Hello!
I have got a problem to install paddlepaddle packages with pip3 install.

When  I do `pip3 search paddlepaddle` it gets:
`dima@dima-pc:/usr/lib/python3.7$ pip3 search paddlepaddle
paddlepaddle (1.8.3)               - Parallel Distributed Deep Learning
paddlepaddle-tiny (1.6.1)          - Parallel Distributed Deep Learning
paddlepaddle-gpu (1.8.3.post107)   - Parallel Distributed Deep Learni

[2020-07-28 00:30] saviord7 commented on #25747
I tried at:
1) Windows 10
2) Ubuntu 20.04
All the same.

[2020-07-28 00:39] andylida opened #25750 "paddle开发人员你们好~有关pybind的问题想要请教"
&nbsp;&nbsp;在我之前看parakeet时,看到了weight_norm的操作.它在weight_norm中,采用的方法是:覆盖原层的self.weight属性,改为对自己W_v,W_g两个属性调用后再返回.由于继承了动态图版本的Conv2d,所以我也看了它的源码.我发现在操作时,它会调用core.ops.conv2d()这个操作.然而,core中的ops方法(我估计)封装在了.core_avx中.
<br/>
&nbsp;&nbsp;我想请问的是,.core_avx在哪里?我该怎么查看他?如果是通过pybind关联C++的方法,这些代码又应该如何查看?
<br/>
谢谢!

[2020-07-28 02:05] Weili-NLP commented on #25720
@luotao1 我注释掉最后两行使用1.7.2效果也急剧下降，1.6.3跑出来准确率79.6%，1.7.2跑出来19%，同样的模型代码。
请问注释掉 cast_fp32_to_fp16以后，是不是导致模型没有成功加载参数？

另外，1.6.3下fp16混合精度非常慢，比全精度fp32还要慢很多，GPU使用率也非常低。1.7.2下GPU使用率正常，速度和全精度fp32差不多。这也不太正常，是什么原因导致的呢？

[2020-07-28 02:17] yeguang1991 commented on #25711
兄弟，可以回复一下吗

[2020-07-28 02:31] joey12300 opened #25752 "Linux编译失败： "tinyformat: Not enough conversion specifiers in format string"'"
系统：Ubuntu 16.04
cmake版本：3.5.1
gcc版本：4.8.5
python版本：3.7.7
PaddlePaddle版本：v1.8.3, commit id: a44085bed80d72296118f3e97516bef340baf3aa
docker环境：docker pull nvidia/cuda:10.0-cudnn7-devel-ubuntu16.04
cmake指令：cmake .. -DPY_VERSION=3.7 -DWITH_GPU=ON -DWITH_TESTING=ON -DCMAKE_BUILD_TYPE=Debug

失败如下图所示：
![image](https://user-images.githubusercontent.com/10826371/88612094-0042de00-d0bd-11ea-8946-0f9fded2dc1

[2020-07-28 02:49] xfcygaocan commented on #25720
1.7.2比1.6.3速度快了，但是效果下降
试过1.8.3报同样错误
和 https://github.com/PaddlePaddle/Paddle/issues/25743 是一样的问题

[2020-07-28 02:52] xfcygaocan commented on #25743
我看报错的参数是有个tmp X引起的，这个感觉像是反向传播的梯度。
我通过black_var加入含义float16参数的变量，仍然会报错

[2020-07-28 02:54] luotao1 commented on #25720
请 @wzzju 帮忙看下

[2020-07-28 03:19] gongweibao commented on #25747
Could you try to use it on utunbut 16.04 or just use our dockerimage: docker pull paddlepaddle/paddle:latest

[2020-07-28 03:25] gongweibao commented on #25736
在Docker中尝试可以大幅度降低碰到类似问题的机会。

[2020-07-28 03:25] #25736 closed, assigned to nobody

[2020-07-28 03:26] chenwhql commented on #25746
有详细的报错可以提供下吗？我们看下具体是哪里然后修复下

[2020-07-28 03:32] zhangylch opened #25755 "动态图下，使用apply_gradients/apply_optimize，类型错误"
paddle 1.8.1
下面是一个简单的测试程序，大概就是我自己产生梯度，应用apply_optimize优化。
[code]
报错信息
Traceback (most recent call last):
  File "33.py", line 14, in <module>
    adam.apply_optimize(None,None,param_grads)
  File "/share/group-soft/anaconda/install/envs/paddle/lib/python3.7/site-packages/paddle/fluid/optimizer.py", line 747, in apply_optimize
    optimize_ops = self._create_optimization_pass(params_grads)
  File "

[2020-07-28 03:51] zhiqiu commented on #25750
hi, 关于python与c++交互的部分，你可以查看paddle/fluid/pybind目录下的代码。

[2020-07-28 05:47] barrierye commented on #25746
是这样的，报错信息大致如下：
[code]
造成这种情况（数据行不完整）的原因可能有两种，一种是pipe_command程序处理逻辑有问题，另一种是pipe_command程序由于其他原因意外退出（pipe_command程序逻辑正确）。报错信息是不是对这两种情况做区分会好一些，或者在报错信息中加入后者原因

[2020-07-28 05:59] bjjwwang commented on #25724
https://github.com/PaddlePaddle/Paddle/blob/2b61db07d1300165e28596a8595bfef56265f37a/paddle/fluid/operators/sampling_id_op.h#L59
感谢您的问题，可以看一下相关的实现，可能sampling_id的理解有一些偏差，在上面这个链接的代码里面是一个batch里面的每一行都先随机一个（min,max）之间的数，然后减去这一行从头开始的每一个数，一直到小于0的时候，记录当前的index作为结果返回。如果一整行都减去，仍然大于0，就返回最后一个index 在您这个例子中也就是3。

这就是为什么出现[3,3,3,3]

[2020-07-28 06:03] wxlu opened #25759 "两个lod tensor如何做出一个concat矩阵"
假设我有两个lod的句子
[code]
这两个句子经过embedding层变成
[code]
现在我想得到一个matrix m, m的第i,j个位置的元素为
[code]
这个应该怎么实现呢？注: 真实的输入a,b应该是一个batch的句子。

[2020-07-28 06:04] luotao1 commented on #25739
@wzzju @juncaipeng Could you see this issue?

[2020-07-28 06:09] wxlu opened #25760 "输入的lod的数据pad和unpad对训练速度的影响"
假设我的数据是一个lod的句子
`a = [word_a1, word_a2, ..., word_an]`
然后我同一个batch内句子的长度变化比较大，我想在rnn与attention之间来回切换，因为rnn对lod建模比较友好，attention对padding的tensor建模比较友好，所以这个过程会有pad与unpad之间的切换，麻烦问下，怎么操作训练的速度会比较快。

问题细化1:
我的问题是直接对lod的tensor进行attention的操作快呢，还是padding之后再进行attention的操作快。如果是直接对lod的tensor进行attention的操作快有没有什么demo呢？我看到的attention的demo都是针对padding后的定长的tensor进行attentioin.

[2020-07-28 06:33] #25750 closed, assigned to nobody

[2020-07-28 06:34] #25695 closed, assigned to nobody

[2020-07-28 07:00] waywaywayw commented on #24622
请问能放出更多的中文bert吗，现在你们只有英文的..

[2020-07-28 07:02] xiaom5248 opened #25761 "单机多卡训练报错Tensor holds no memory. operator < lookup_table_v2 > error"
版本信息
Paddle version: 1.7.2
Paddle With CUDA: True
OS: CentOS 6.3
Python version: 2.7.14
CUDA version: 10.0.130
cuDNN version: None.None.None
Nvidia driver version: 418.39

单机单卡训练正常，单机多卡训练报错，报错信息如下：
![image](https://user-images.githubusercontent.com/14197806/88630254-e7e5ba00-d0e2-11ea-85ba-3674026157bd.png)

Python错误栈信息：
![image](https://user-images.githubusercontent.com/14197806/88630320-fd5ae400

[2020-07-28 07:34] yeguang1991 opened #25762 "waveflow训练中文模型报错"
语料：
![image](https://user-images.githubusercontent.com/66579493/88633421-925fdc00-d0e7-11ea-93dc-d21b07d1d8f4.png)
![image](https://user-images.githubusercontent.com/66579493/88633464-a0156180-d0e7-11ea-9104-2b43b622a188.png)
报错截图：
![image](https://user-images.githubusercontent.com/66579493/88633562-c1764d80-d0e7-11ea-9368-cde06ce532a5.png)
![image](https://user-images.githubusercontent.com/665794

[2020-07-28 07:52] guoshengCS commented on #25743
将`reduce_sum`加入`AutoMixedPrecisionLists`的`custom_black_list`试下呢

[2020-07-28 08:13] zhangylch commented on #25703
好的，谢谢

[2020-07-28 08:36] guoshengCS commented on #25755
这里确实有些问题，使用float64   可以先将这里 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/optimizer.py#L268 临时修改下，将float32改成float64，我们尽快修复下

[2020-07-28 08:51] zhangylch commented on #25755
可以具体说下我们安装完之后的路径吗？目前我只是只找到了安装目录，下面是这些文件夹
![捕获](https://user-images.githubusercontent.com/56628666/88642017-84638880-d0f2-11ea-95bc-357c87efefe0.JPG)

[2020-07-28 09:03] guoshengCS commented on #25755
可以按照下面方式找到paddle的安装路径，在安装路径的 paddle/fluid/optimizer.py 文件中第268行

![image](https://user-images.githubusercontent.com/14105589/88643408-3f405600-d0f4-11ea-9036-4423f59a9743.png)

[2020-07-28 09:05] zhangylch commented on #25755
好的，谢谢

[2020-07-28 09:13] dbsxdbsx commented on #25724
@wangjiawei04 您好，感谢回复。 那么若要实现我提问中所述的批量多个离散分布采样的话，是否暂时paddlepaddle中并没有现成的，只能用numpy来完成了？

[2020-07-28 09:27] iclementine commented on #25762
出现这个问题的原因，训练代码中预设了音频的采样率和配置文件中写的采样率相同。
https://github.com/PaddlePaddle/Parakeet/blob/e58e927c5e1265f3ff3a61502f03475e9ebfbd85/examples/waveflow/data.py#L39

LJSpeech 的采样率是 22050Hz, 如果你使用的音频的话，你可以改一下读取音频的方式，让它把音频重采样到指定的采样率，这样应该就能正常训练了。

waveflow 中的 data.py 使用的是 scipy.io.wavfile.read 来读取音频，读出来的是整数类型的，比如说 16 bit 整数类型。
你可以稍微改一下代码，使用 librosa.load 或者用 soundfile.read 来读取音频，这些 API 支持自定义采样率。但是用它们读出来的默认是浮点数

[2020-07-28 09:39] juncaipeng commented on #25739
To avoid adding more attributes, we recommend the first general solution. Besides, the "use_quantizer"  is only used in CPU inference, so the impact of changing attribute type and name is relatively small.

[2020-07-28 09:46] guoshengCS commented on #20872
这个应该已经修复了 #23426 ，可以更新下Paddle版本，或者按照这里 https://github.com/PaddlePaddle/Paddle/pull/23426/files#diff-b825a6f1c45d4e9b28f233aa48a05777 先行自行修改下本地安装包中 paddle/dataset/mq2007.py 文件

[2020-07-28 10:02] greatyang opened #25769 "InvalidArgumentError--The 'shape' attribute in ReshapeOp is invalid."
- 版本、环境信息：
    1）PaddlePaddle版本：1.7
    2）CPU：aistudio 2核CPU Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz
    3）系统环境：Ubuntu 16.04，python3.7

- 训练信息
    1）单机
    2）显存信息  CPU训练

- 复现信息：执行https://aistudio.baidu.com/aistudio/projectdetail/652522中的虚机中的
python train.py ，数据集中的是自己的数据集，图片尺寸1840*3264

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
I0728 17:51:26.800616   255 parallel_executor.cc:440] The Program will be

[2020-07-28 10:50] nepeplwu commented on #24622
@waywaywayw 目前paddlehub已经支持bert等Transfomer系列的动态图加载，参考[教程](https://github.com/PaddlePaddle/PaddleHub/blob/develop/demo/text_classification/text_classifier_dygraph.py)，另外，PaddleHub目前有大量的中文语义模型，例如[Ernie](https://www.paddlepaddle.org.cn/hubdetail?name=ERNIE&en_category=SemanticModel)、[Ernie-Tiny](https://www.paddlepaddle.org.cn/hubdetail?name=ernie_tiny&en_category=SemanticModel)、[Bert](https://www.pa

[2020-07-28 11:04] wzzju commented on #25739
The second choice is more safely. However, the first is more generally. If the first way does not cause any unit test error and usage error, I prefer it and a general name looks more good.

[2020-07-28 11:16] luotao1 commented on #25742
非常感谢对paddle如此大的肯定。作为一个开源项目，我们非常欢迎外部的开发者来给共同建设paddle，使paddle变得更好。目前我们每天都能通过issue反馈收到比较多的用户反馈，其中已经有大部分的issue反馈的问题，已经在分析和解决了，我们这几天会梳理下我们的issue，把待解决的问题列表，发布到这里，同时也会定期更新到这个列表，让我们一起把paddle建设的更好。

Thank you so much for the affirmation of the PaddlePaddle. As an open-source project, we welcome external developers to contribute together. At present, we receive many issues every day, and most of them have b

[2020-07-28 11:36] paulpaul91 opened #25775 "save_vars 和 load_vars中save_to_memory、vars_from_memory 的用法"
通过save_vars 的 save_to_memory可以把模型的内存字节存下来，我现在希望使用vars_from_memory 导入模型参数，应该如何操作

[2020-07-28 11:37] yukavio opened #25776 "The problem about constraint of group convolution in develop version."
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：develop
2）CPU/GPU：cuda 9.0
3）系统环境：linux
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 建议描述：Paddle卷积操作要求分组卷积中num_filters可以被groups整除，但pytorch中无此要求。

Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue i

[2020-07-28 12:50] #25544 closed, assigned to wanghaoshuang, yaoxuefeng6

[2020-07-28 14:24] phlrain commented on #25703
#25781 问题会在这个pr中 进行修复

[2020-07-28 16:10] keithyin commented on #21794
依旧出现了 Tensor holds no memory 问题， 版本 1.8.2 windows

`import paddle.fluid as fluid
import numpy as np
import paddle.fluid as fluid
import paddle

input_ = fluid.layers.data(name="input", shape=[-1, 1], lod_level=1,
                           append_batch_size=False, dtype="int64")  # , stop_gradient=False)
label = fluid.layers.data(
    name="label", shape=[-1, 1], append_batch_size=False, dtype="in

[2020-07-28 16:54] guoshengCS commented on #25776
好的收到，我们评估下这个，感谢反馈

[2020-07-28 17:06] guoshengCS commented on #25775
可以参考下这里的例子 https://github.com/PaddlePaddle/Paddle/pull/14734/files#diff-a0412360d8335c45fdde74eb65c13013

[2020-07-28 17:18] guoshengCS commented on #25769
这个项目好像暂未公开，我们这边看不到。如果是shape问题的话，可否确认下自定义数据集中的图片尺寸是否和项目中要求的一致，可以试下resize到相同大小试下

[2020-07-28 18:10] guoshengCS commented on #25761
试下PARALLEL为True时将exe.run中`feed=feeder.feed_parallel(data, place_num)`改成`feed=list(feeder.feed_parallel(data, place_num))`，后者是示例用法 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/DataFeeder_cn.html#feed-parallel-iterable-num-places-none

[2020-07-29 01:11] zhengzhe97 opened #25784 "invalid configuration argument"
paddle版本：1.8.0
运行环境：aistudio

[2020-07-29 09:05:59] trainbatch 0, lr 0.001000, loss 0.000000, time 0.00 sec
W0729 09:05:59.541766 20356 operator.cc:187] elementwise_add raises an exception thrust::system::system_error, parallel_for failed: invalid configuration argument
F0729 09:05:59.541855 20356 exception_holder.h:37] std::exception caught, parallel_for failed: invalid configuration argument
***

[2020-07-29 01:12] zhengzhe97 commented on #25784
请问这种情况可能是由于什么产生的

[2020-07-29 02:12] paulpaul91 commented on #25775
未理解在python下具体我应该怎么操作，现在我希望对模型内存进行加密，然后解密加载到模型中进行finetune

[2020-07-29 02:26] chenwhql commented on #21794
虽然报错提示一样，但这不是同一个问题，麻烦您新建一个issue，并附上完整的报错信息，我们会帮您处理

[2020-07-29 02:29] guoshengCS commented on #25775
python使用vars_from_memory的话可以参考这里 https://github.com/PaddlePaddle/Paddle/pull/24098

[2020-07-29 02:33] guoshengCS commented on #25760
`怎么操作训练的速度会比较快` 是指pad与unpad如何操作快吗
如果rnn部分使用lodtensor，attention部分使用padding tensor的话，在需要切换的时候sequence_pad和sequence_unpad即可

[2020-07-29 02:42] keithyin commented on #21794
找到问题了,  feed 的 key 写错了...    这里能否加一个更人性化的报错提示呢? 该 feed 的没有 feed 给出对应的报错信息

[2020-07-29 02:49] guoshengCS commented on #25759
目前没有找到这种方法，且由于a和b实际上各自包含了多个sequence，各sequence的length不相同，可能也不存在这种matrix（m[i][j]中i对于各sequence可取的值不同）。可以看下以下方法，能产生满足需求数据布局，不过matrix改成了一维

[code]

[2020-07-29 03:22] #25506 closed, assigned to wojtuss

[2020-07-29 03:25] BladeSun commented on #22592
请问这个问题具体是如何fix的呢？那个不能在反向中被获得的OP是如何找到的？

[2020-07-29 03:34] liyandongpy opened #25786 "Cublas error, CUBLAS_STATUS_EXECUTION_FAILED"
Ubuntu 安装后运行报错。错误如下：
![image](https://user-images.githubusercontent.com/49861986/88753674-613ae680-d18f-11ea-98e7-0f231e2a28e2.png)

问题分析：用的docker是tensorflow 公布的，这个docker安装paddle 就会报错。每次都需要把里面的cuda重新装一下才能运行paddle。

[2020-07-29 03:38] paulpaul91 commented on #25775
大致了解了下，vars_from_memory 加密解密是使用于模型预测？我现在希望load_vars接口走内存加载是不是没有方法？

[2020-07-29 04:27] wxlu commented on #25760
我知道是用sequence_pad和sequence_unpad，我的问题是直接对lod的tensor进行attention的操作快呢，还是padding之后再进行attention的操作快。如果是直接对lod的tensor进行attention的操作快有没有什么demo呢？我看到的attention的demo都是针对padding后的定长的tensor进行attentioin.

[2020-07-29 04:42] wxlu commented on #25759
[code]
您可能没明白我的意思，a是多个sequence, b是多个sequence, 组成的m也是一个sequence不过m中的每个位置的tensor是由a相应位置的lod tensor和b相应位置的lod tensor按照我问题描述中的方式形成的matrix. 之前paddle不是给搜索订制过一个match_matrix_tesor吗，类似于那个，只不过现在的matrix不是每个位置是一个scalar而是每个位置是一个concat的向量。

[2020-07-29 05:25] Shixiaowei02 commented on #25775
https://github.com/PaddlePaddle/Paddle/pull/24098/files#diff-4abc52fe77b9169160d5935269f1b3b4R95

@paulpaul91 您好，此功能是应 `load_inference_model` 支持内存读取加解密的需求做的开发。一般情况下用户不需要直接使用 `save_vars` 接口，如果的确要用到这个功能，请参考上面的测试代码，谢谢！

[2020-07-29 05:29] BladeSun opened #25789 "Error: Operator unknown's GradOpMaker has not been registered."
[code]

[2020-07-29 06:07] wanghaoshuang commented on #25786
建议您参考Paddle官方安装教程，使用Paddle提供的docker镜像：https://www.paddlepaddle.org.cn/install/quick#show_info

[2020-07-29 06:15] wanghaoshuang commented on #25789
看不出是哪个op的问题，建议您用[Print](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print)输出一下中间结果，然后通过二分查找的思想定位下是哪个op的问题。

[2020-07-29 06:17] wanghaoshuang commented on #25789
像是在while loop里调用`grads = fluid.backward.gradients(loss, fast_weights)`的原因

[2020-07-29 06:21] wanghaoshuang commented on #25784
请问这个错误可以稳定复现么？是多卡训练么？如果是多卡训练，确定每个batch内的样本数大于卡数么？

[2020-07-29 06:55] greatyang commented on #25769
文件名称使用数字序号，同时修改了图片的尺寸，就正常了。

[2020-07-29 06:55] #25769 closed, assigned to nobody

[2020-07-29 06:58] wanghaoshuang opened #25794 "ParallelEnv API文档代码示例出错"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/ParallelEnv_cn.html#id1

该文档中的代码示例运行出错。

[2020-07-29 07:08] zhangylch commented on #25703
打扰问一下，动态图的CPU并行会加上吗？我看2.0-alpha版本介绍，2.0版本以后会以动态图为主

[2020-07-29 07:10] guoshengCS commented on #25760
目前lodtensor进行attention能找到的例子是rnn中的attention https://github.com/guoshengCS/book/blob/f7b0e0c24643966c3d3ab2e37d71e797146cef20/08.machine_translation/train.py 这种，相比于这种按时间步逐个计算，应该还是padding之后再进行attention的操作快

[2020-07-29 07:13] phlrain commented on #25703
这个是指多个线程训练，做参数同步吗

[2020-07-29 07:27] wusj18 opened #25795 "free(): invalid pointer: 0x00007f76119606b0"
- 标题：free(): invalid pointer: 0x00007f76119606b0
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.1
    2）GPU：Tesla K40m; CUDA Version 9.0.176
    4）系统环境：linux
- 训练信息
    1）单机，单卡

错误信息：
*** Error in `/home/work/work/.software/python3.6.8/bin/python3': free(): invalid pointer: 0x00007f76119606b0 ***
======= Backtrace: =========
/opt/compiler/gcc-4.8.2/lib/libc.so.6(+0x7354f)[0x7f761032054f]
/opt/compiler/gcc-4.

[2020-07-29 07:32] joey12300 commented on #25752
[#13894](https://github.com/PaddlePaddle/Paddle/issues/13894) fix this problem

[2020-07-29 07:32] #25752 closed, assigned to nobody

[2020-07-29 07:40] zhangylch commented on #25703
是的

[2020-07-29 07:53] wanghaoshuang commented on #25795
根据log内容暂时无法判断错误原因。
1. 这个错误可以稳定复现么？
2. 您训练的是什么类型的模型？
3. 安装paddle的方式是？

[2020-07-29 09:02] liyandongpy commented on #25786
@wanghaoshuang  要是能用docker自然就没有问题了。我现在这个问题有没有办法解决？

[2020-07-29 09:17] wanghaoshuang opened #25801 "Paddle安装依赖需求确认"
用户反馈：
在多台机器上安装paddle显示安装成功  但是import的时候都报No module named '_sqlite3'

需要确认下Paddle安装依赖是否新增sqlite3

[2020-07-29 09:23] guoshengCS commented on #25759
这种定制化的功能应该是没有现成的，可以尝试下 https://github.com/PaddlePaddle/Paddle/issues/25759#issuecomment-665399481 这里的方法

[2020-07-29 09:24] iclementine commented on #25711
我们现在还没有完成中文的 TTS 功能。

中文训练和合成按照一般情况是需要分词而且需要转换成拼音或者音标的。（所以会需要处理分词，多音字等问题）
如果训练单个 speaker 的模型，需要是同一个人的声音，而且最好还是同一环境下录制的声音。对于多 speaker 的模型模型里面会有一个变量来训练 speaker embedding, 但是目前还没有经过充分的验证。
我们有提供中文 TTS 和声码器的计划，但是目前还在调模型的效果。

[2020-07-29 09:28] Akeepers opened #25802 "fetch 梯度的问题"
我的目标，是计算输入x和当前预测结果y的梯度，然后返回（paddle 静态图），gradients 返回的是个list，我在模型代码里加了计算梯度(采用了API[gradients](https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/gradients_cn.html#gradients) )的部分，这个结果尝试利用fetch_list, 拿回来，失败了（返回结果没有计算得到的梯度） - fetch返回的结果没有梯度

问题：

1. 是不是因为gradients 的结果是list，所以fetch_list拿不回来
2. 有没有别的，在静态图计算梯度的方式哇

代码(有删减，应该不影响理解问题）

模型
[code]

fetch部分代码：
[code]

[2020-07-29 09:35] wanghaoshuang commented on #25802
graph_vars["grads"] = grads
这里的grads是list么？如果是list的话，要把grads extend到fetch_list里，因为fetch_list接受的是list<Variable>类型。

[2020-07-29 09:37] dingsiyu opened #25803 "任务多机运行hang住"
任务在p40队列上单机和多机均能跑通，在v100队列上单机能跑通，多机hang住

p40单机：job-0bb5f210695dcd1d，多机：job-0bb5f210703c4546

v100单机：job-0bb5f2114e0983cd， 多机：job-0bb5f2119394b1f8

[2020-07-29 09:41] Akeepers commented on #25802
fetch_list是list，不过我是这样初始化的，应该不存在需要extend的问题
![image](https://user-images.githubusercontent.com/22610351/88784362-88f77200-d1c2-11ea-806c-28fed28d4243.png)

[2020-07-29 10:21] YuHuasong123 opened #25804 "DeepSpeech2模型执行demo_server.py时报了个不可用的错误怎么解决？"
python demo_server.py
-----------  Configuration Arguments -----------
alpha: 2.5
beam_size: 500
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n: 40
decoding_method: ctc_beam_search
host_ip: localhost
host_port: 8086
lang_model_path: ./models/lm/zh_giga.no_cna_cmn.prune01244.klm
mean_std_path: ./data/aishell/mean_std.npz
model_path: ./checkpoints/aishell/step_final
num_conv_layers: 2
num_rnn_layers: 3
rnn

[2020-07-29 10:40] wanghaoshuang commented on #25804
看起来像模型格式不兼容导致的，还需要  @kuke 帮忙确认下

[2020-07-29 13:08] wzzju commented on #25743
从报错信息来看，amp框架在判断参数梯度是否为finite时拿到的参数梯度是fp16类型的，这里不太应该出现这种情况。

这里您是怎样加载fp16类型权重的呢？另外，这些fp16的权重是如何获得的呢？

[2020-07-29 13:43] wzzju commented on #25720
已指导用户使用AMP新接口：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/amp/amp.html 。 目前用户试用中。

[2020-07-29 14:29] jkren6 opened #25815 "建议官方文档给出PaddlePaddle与Pytorch相互之间关系的说明，尤其是两者是否可以混合在同一个project里使用"
Github上使用Pytorch写的代码比较多，直接用这些代码复现起来比较方便。同时我最近学习了PaddlePaddle关于RL的课程，觉得PARL的框架比较好用。所以产生了以下两点疑问：

- PP与Pytorch是否可以安装在同一个虚拟环境下，如果可以，是否有版本对应关系？

- PP与Pytorch是否可以在同一个project内使用，如果可以需要注意什么？

- 我看PARL底层有用到torch里的代码，所以想了解PP与Pytorch之间的关系。

谢谢！

[2020-07-29 18:05] lossfaller opened #25816 "optimizer.minimize(loss)报错EnforceNotMet: Cannot find variable split_2.tmp_0@GRAD"
我在写一个模型的时候，在optimizer.minimize(loss)这行报错EnforceNotMet: Cannot find variable split_2.tmp_0@GRAD at [/paddle/paddle/fluid/framework/op_desc.cc:193]，注释掉这行可以一键运行，想问一下这是什么问题呢？

[2020-07-30 02:03] wanghaoshuang commented on #25815
理论上是可以在一个虚拟环境下同时使用的，但是我们没有验证过，所以也无法给出版本对应关系的建议。

这个应该是不可以的

PaddlePaddle与Pytorch没有直接的关系，都相互独立的深度学习框架

[2020-07-30 02:06] wanghaoshuang commented on #25816
像是"split_2"对应的op的output没有计算梯度，建议您试一下把这个output的stop_gradient设置为True试一下。

[2020-07-30 02:51] jhcgt4869 opened #25818 "【论文复现】AI Studio 平台不能删除历史版本"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2020-07-30 02:52] yinyiyu opened #25819 "【顶会论文复现吐槽专区】安装问题"
1.paddle安装问题，使用conda安装不上paddlepaddle，清华源也添加了
![image](https://user-images.githubusercontent.com/24800963/88874782-7af13200-d252-11ea-8757-e3298915bd00.png)

[2020-07-30 02:53] hang245141253 commented on #25819
帮顶顶~

[2020-07-30 02:57] yinyiyu commented on #25819
2.使用python3.5用pip安装paddle的时候，有regex找不到的错误，提示升级pip，然后升级后就会出现大段地红色报错
![image](https://user-images.githubusercontent.com/24800963/88875199-69f4f080-d253-11ea-87a8-f305aa1ab30f.png)

[2020-07-30 02:58] 1084667371 opened #25820 "[论文复现]我还原了个版本在运行就出现了这个问题，上边预测没什么错误"
![XK0~7{2T F0_4QKIHPJ F50](https://user-images.githubusercontent.com/50902619/88875169-5c3f6b00-d253-11ea-9724-6b8878551071.png)

[2020-07-30 03:04] yinyiyu opened #25821 "【顶会论文复现】模型加载问题"
paddlepaddle在使用mode.load_ditc()报错
![image](https://user-images.githubusercontent.com/24800963/88875725-601fbd00-d254-11ea-9913-111faa58ea92.png)
![image](https://user-images.githubusercontent.com/24800963/88875726-601fbd00-d254-11ea-8488-fb1737707615.png)
![image](https://user-images.githubusercontent.com/24800963/88875737-6746cb00-d254-11ea-84b6-592f8a2f12d8.png)

[2020-07-30 03:06] hang245141253 opened #25822 "【论文复现】本地安装PaddlePaddle和Pytorch的GPU版本 使用cuda多少版本能两个框架共存？"
【论文复现】本地安装PaddlePaddle和Pytorch的GPU版本 使用cuda多少版本能两个框架共存？

[2020-07-30 03:08] yinyiyu opened #25823 "【顶会论文复现】Aistudio中Cell运行结果过多，不会自动看到最下面的"
在代码运行结果过多的试试，cell不会自动显示最下面的结果，只是多出来右边的滑轮，用户体验不好
![image](https://user-images.githubusercontent.com/24800963/88875979-da504180-d254-11ea-8f25-3c41b2a4ed8d.png)

[2020-07-30 03:08] letitiaXu opened #25824 "【论文复现】在训练时候经常出现Error: Need to Create DeviceContextPool first!错误"
[code]

4月份接触paddle时候就开始出现了，现在8月了还没解决

[2020-07-30 03:10] hang245141253 opened #25825 "【论文复现】代码出现了bug如图"
![bug](https://user-images.githubusercontent.com/44885245/88876005-e63c0380-d254-11ea-8481-a3a4cd189645.jpg)

[2020-07-30 03:10] 1084667371 opened #25826 "【论文复现】GPU不支持cuda10.1"
paddle paddle啥时候能支持下Windows的cuda10.1呀

[2020-07-30 03:14] KyrieG opened #25827 "如何保证参数在训练过程中保证非负值？"
我这边搭建的nn网络中，使用了几个fc层，参数初始化为[0,1] 同时想要保证在训练过程中，每次参数更新后，参数仍然保持非负的状态，例如 某次更新后，某个参数值 = max(0, 当前更新后的值)
请问这个该如何操作呢

[2020-07-30 03:38] lfchener commented on #25804
我看你使用了自己的 language model，猜测可能是文件格式不一致导致的，麻烦先 check 一下文件格式。 @YuHuasong123

[2020-07-30 03:48] zhhsplendid commented on #25106
嗨，这个卡片您没有更新更多信息，可以查看一下cuda安装情况？或者cmake选项不使用cuda，您试试能否编译成功？已经过去一个月没收到更新，我将关闭此issue，如果您还遇到问题，可以重新打开此issue回复我？

[2020-07-30 03:48] #25106 closed, assigned to nobody

[2020-07-30 03:56] qingqing01 commented on #25827
@KyrieG 请问使用的动态图还是静态图？

静态图目前没有直接的对weight进行截断的函数。 间接的方法，可以每个step计算后，拿到weight做clip，再进行下一次计算。

动态图是可以在forward前对weight截断，或通过 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Layer_cn.html#register-forward-pre-hook-hook 或 这个PR中加的apply的方式  https://github.com/PaddlePaddle/Paddle/pull/25812/files

[2020-07-30 04:11] RayCAS2017 opened #25829 "编译错误：Win10 vs2015下编译paddle1.8, 项目paddle_fluid_c_shared生成失败"
版本、环境信息：
    1）PaddlePaddle版本：1.8,  GIT COMMIT ID: 8bb535b8b34bfd1a1a61043967a8c48c15997a10
    2）CPU：MKL/MKLDNN/ OFF
    3）GPU：GTX1060, CUDA 10.0和CUDNN 7.6

编译时，出现这个问题：
![Linkerror](https://user-images.githubusercontent.com/29969779/88879762-aaf20280-d25d-11ea-806b-d2caed0b9765.jpg)

[2020-07-30 04:21] livingbody opened #25830 "【论文复现】PaddlePaddle的Anaconda 安装问题"
https://www.paddlepaddle.org.cn/install/quick中提到的Anaconda 安装方法，多次测试不成功。
建议使用oh-my-tuna，避免走弯路。
这个弯弯，已经被n多人问过了，都快哭了。

[2020-07-30 04:28] livingbody opened #25831 "【论文复现】PaddlePaddle的 GPU安装问题"
PaddlePaddle版本 GPU版本给出了CUDA和cuDNN 安装地址，但是国外网址，很难下载下来。
99% GPU版本安装都是卡在这个位置，希望能重视下，解决这个问题。

[2020-07-30 04:34] livingbody opened #25832 "【论文复现】aistudio大于20M就打不开了，一直转圈圈"
aistudio的ipynb大于20M就打不开了，一直转圈圈，建议能否做个检测，或者缓冲？不要一次加载完毕。

[2020-07-30 04:34] GanKunlu opened #25833 "预测中如何加入映射字典 对网络数据进行更新"
paddle版本1.6.1
如果想在网络中加入一个字典映射 把结构中间的数据做一个转化 该如何实现呢？需求是在transformer 的embedding中增加了字符对应拼音的embeding，在预测过程中 beam search得到上一个状态字符id 需要获取这个id并转化为拼音的id，请问如何在网络预测部分加入这个映射的词典呢？

[2020-07-30 05:07] lossfaller commented on #25816
我是用paddle复现的yolo4然后loss直接用的yolov3_loss是因为这个出的问题吗？如何找到split_2对应的算子呢？

[2020-07-30 05:44] yinyiyu opened #25836 "【顶会论文复现】教程单词错误"
![image](https://user-images.githubusercontent.com/24800963/88885259-c31c4e80-d26a-11ea-9b8f-59ae34c2240e.png)
https://www.paddlepaddle.org.cn/tutorials/projectdetail/570711

[2020-07-30 05:52] deep-practice commented on #24644
works for me.Thx

[2020-07-30 06:14] shengkelong opened #25837 "使用默认初始化损失过高，收敛很慢"
#MSRB
        class MSRB(fluid.dygraph.Layer):
    def __init__(self,channels=64):
        super(MSRB, self).__init__()
        self.conv_3_1 = Conv2D (channels,channels,3,padding = 1,act='relu',param_attr=fluid.ParamAttr(initializer=fluid.initializer.NormalInitializer(scale=0.001)))
        self.conv_3_2 = Conv2D (channels*2,channels*2,3,padding = 1,act='relu',param_attr=fluid.ParamAttr(initializ