[2019-03-26 09:16] LeLiu commented on #16133
我遇到了同样的问题，打开日志后输出：
[code]
`({{}})`这种括号套括号是什么意思，就是您说的空Tensor吗？

我用如下方式输入数据：
[code]
已确定data中读入是有数据的。

[2019-03-26 10:11] jczaja commented on #16248
@tensor-tang, @xiaolil1 I will postpone work on PR #16325 , and prepare #PR with reverted tensor modifications , so we can test performance on reverted changes.

[2019-03-26 12:02] lijiancheng0614 commented on #15390
## 解决 roi 为空预测报错的问题：

1. 在构图相关代码中加入条件判断

[code]

2. 在预测过程中加入 shape 判断

[code]

## 遗留问题：

- 问题1：报错

    1. 先测无 roi 图片，再测有 roi 图片，报错

[code]

    2. 先测有 roi 图片，再测无 roi 图片，不报错

- 问题2：save 的 model 不包含 switch 里面的 op

    打开保存的 `__model__` 发现不包含 range op

[2019-03-26 12:31] xuezhong commented on #16458
lstm 得输入是id的序列，每一个id都必须明确前一个id是啥，比如[1148, 1905], [232], [415], [182, 2414],...]中232的前一个id是啥？

[2019-03-26 12:34] xuezhong commented on #16458
针对lod_level=2的情形，一般还是先将数据转换成lod_level=1的数据再做rnn处理。
其中一种方法可参考https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/machine_reading_comprehension/rc_model.py#L284

[2019-03-26 12:35] hweidream commented on #16458
那如果词中只包含了一个字符，前一个id是需要指定为什么？

[2019-03-26 12:56] AmitRozner commented on #16370
@yeyupiaoling The pip install works with CUDA 10.0. Thanks for the tips.

[2019-03-26 12:56] #16370 closed, assigned to JiabinYang

[2019-03-26 13:06] PengheLiu opened #16463 "使用fluid1.3 nce 训练skip-gram词向量效果不符合预期，完全不如tf训练出的效果"
paddle新手，这两天我用fluid1.3实现了一版skip-gram模型，用了一个小规模数据集做测试，对比了tf上的实现，发现效果差别很大，tf上的基本符合预期，而fluid的看起来没有收敛，不知道是否是我实现的问题，在训练过程中每一轮迭代loss也有变化，但感觉词向量并没有怎么更新，实在不知道是哪里出了问题，辛苦大佬帮分析下代码。

** train.py **
[code]
dataset.py主要是统计词频，计算采样概率的以及构建batch_reader用的，这里先不贴代码了，和tf训练时用的基本一致。

然后训练的时候，输出的loss一直这样波动
![image](https://user-images.githubusercontent.com/7145732/54999338-f7df1c80-500a-11e9-9ec5-0a803a56b89a.png)

最后学出来的

[2019-03-26 13:06] kolinwei opened #16464 "PR 16295导致 加上FLAGS_fraction_of_gpu_memory_to_use=0.0训练时，速度降为原来1/3"
https://github.com/PaddlePaddle/Paddle/pull/16295

[2019-03-26 13:23] wickai opened #16465 "半精度 _decay_step_counter() 报错"
出错位置在：fluid.layers.learning_rate_scheduler._decay_step_counter()
半精度相关代码参照paddlecv的训练代码，配置fp16：https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification

- 版本、环境信息：
    1）PaddlePaddle版本：1.3
    3）GPU：CUDA8
    4）系统环境：centos
- 训练信息
    3）Operator信息
![image](https://user-images.githubusercontent.com/14268278/55000176-e860d300-500c-11e9-9d2a-bb92200fcea2.png)

[2019-03-26 14:00] PengheLiu commented on #16463
补充，我又直接使用fluid1.3的softmax训练了下，发现这个是有效果的，和nce代码唯一不同的是这两步，它的效果也比较好，就是太慢。所以nce的到底是为什么出不来效果？

[code]
![image](https://user-images.githubusercontent.com/7145732/55003028-84410d80-5012-11e9-839d-9ae11fb88501.png)

[2019-03-27 01:57] bingyanghuang opened #16467 "MobileNet-v1 on INT8 v2 performance gap problem"
**Description:**
    In our internal benchmark test for INT8 v1 and INT8 v2 solution, on mobilenet-v1, batch size =128, INT8 v2 got about 14% performance regression on throughput compared with INT8 v1.

**Potential Reason:**
    1. INT8 v1 benchmark data and INT8 v2 benchmark data tested with different validation team, so the different hardware configuration and testing environment diff may cause

[2019-03-27 01:59] yeyupiaoling opened #16468 "官网的1.3版本的文档，选择中文，结果还是英文。"
更新前没有问题的，今天看了网站发现网站已经更新，但是1.3版的中文下还是因为，1.2版本没有发现问题。

[2019-03-27 02:00] yeyupiaoling commented on #16459
@wanghaoshuang 解决了，谢谢您的回答。

[2019-03-27 02:00] #16459 closed, assigned to nobody

[2019-03-27 02:10] yeyupiaoling opened #16469 "请问PaddlePaddle如何使用reshape方法？"
# 环境
 - PaddlePaddle （develop）
 - Ubuntu 16.04
 - Python

# 问题
我想复现tensorflow的以下代码
[code]
输出的结果：
[code]

但是PaddlePaddle没有`size`接口，所以我使用以下的方法的，但是是有错误的，得到的维度不是期望得到的维度，
[code]

输出的情况：
[code]

[2019-03-27 02:22] yihuaxu opened #16470 "CI AVX512环境下MKLML只能运行在AVX2的问题"
最初发现本地AVX512指令集的机器与CI 上运行[PR#15226](https://github.com/paddlePaddle/Paddle/pull/15226)时结果表现不一致， 如果强行让本地机器上的MKLML通过设置MKL_CBWR=AVX2得到其结果与CI一致。 通过修改PadddlePaddle测试脚本([Patch](https://github.com/PaddlePaddle/Paddle/pull/16077/commits/39f628ac0224fb191db61fa217bf04a6f1134ef7))检查cpu的flag时，**得知像AVX512DQ、AVX512BW、AVX512VL这样flag在CI 环境里都不存在， 从而导致MKLML在检查CPU类型时候不能认为可以支持AVX512**。能否帮检查下CI里的cpu flag和真实机器里的区别？

[2019-03-27 02:25] shanyi15 commented on #16468
hi，夜雨，可以描述一下你操作的具体步骤吗？是通过搜索引擎来到了“中文版本下的英文文档”吗

[2019-03-27 02:39] yeyupiaoling commented on #16468
@shanyi15 通过这样访问：
[code]

来源issue：#16459

[2019-03-27 02:49] shanyi15 commented on #16468
收到，探明原因是官网的搜索引擎会搜出来中文版本下的英文文档（而这部分文档本来应该隐藏的），本质上是搜索引擎的问题。如果直接在官网中文文档列表中访问API，显示的会是中文API文档。
感谢夜雨的反馈，此问题已报给官网同学

[2019-03-27 02:52] yeyupiaoling commented on #16468
好的，明白。

[2019-03-27 02:52] #16468 closed, assigned to nobody

[2019-03-27 03:28] luotao1 commented on #16316
http://ci.paddlepaddle.org/viewLog.html?buildId=75982&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all&_focus=18076
[code]
New error on new machine.

[2019-03-27 03:41] phonism commented on #16444
embedding输入用shape[padded_sentence_size, 1]，解决

[2019-03-27 03:41] #16444 closed, assigned to wanghaoshuang

[2019-03-27 03:43] qingqing01 commented on #16469
- reshape接口请参考: http://www.paddlepaddle.org/documentation/docs/zh/1.3/api/layers.html#reshape
  - 可通过静态的shape来设置， 其中-1会推断，0是会直接拷贝对应维度。
  - 也可以通过actual_shape一个Variable来设置
- 获取某个Variable的的shape可以参考fluid.layers.shape  http://www.paddlepaddle.org/documentation/docs/zh/1.3/api/layers.html#shape
-  如何对shape总的大小，可以用fluid.layers.reduce_prod()

不知道这些可否解决你的问题？

[2019-03-27 03:53] SunGaofeng commented on #16465
从报错信息看，是参数名称冲突了，已经创建了一个名称为cast_0.tmp_0的参数，类型为FP16；后来又创建了一个同名的参数，但类型为FP32。
能贴下源代码吗，看下有哪些地方创建了cast op？

[2019-03-27 03:59] luotao1 opened #16473 "test_analyzer_small_dam random fails on accuracy"
[code]
http://ci.paddlepaddle.org/viewLog.html?buildId=75853&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all&_focus=25726
Is this issue related with #16316?

[2019-03-27 06:26] yeyupiaoling commented on #16469
@qingqing01  我使用了`fluid.layers.reduce_prod()`代替自定义的py_func代码也不可用
报错信息：
[code]

这个我的项目，不知道您有没有时间看一看呢，直接运行`train_PNet`即可。
[TestMTCNN.zip](https://github.com/PaddlePaddle/Paddle/files/3011805/TestMTCNN.zip)

[2019-03-27 06:29] ws441572091 opened #16478 "fine-tune重置优化器参数"
![fb5c215c5f0d0780b91c722ba2bb70b3](https://user-images.githubusercontent.com/35720887/55054904-53a5b600-509c-11e9-8b7d-f217dd9584a9.png)
询问paddle值班同学 @dangqingiqng 之后，load_persistable会加载初始化模型的lr，请问是否将我第一行设置的lr覆盖
那么请问如何重置lr，以及decay_step这些参数

[2019-03-27 06:46] wickai commented on #16465
queue_capacity = 64
            py_reader = fluid.layers.py_reader(
                capacity=queue_capacity,
                shapes=[[-1] + image_shape, [-1, 1]],
                lod_levels=[0, 0],
                dtypes=[dtype, "int64"],
                use_double_buffer=True)
            image, label = fluid.layers.read_file(py_reader)
            if args.fp16:
                image = fluid.laye

[2019-03-27 06:59] qingqing01 commented on #16478
@ws441572091  是会覆盖，你可以将保存路径里的LR参数删掉，或者通过  [“paddle.fluid.io.load_vars”](http://paddlepaddle.org/documentation/docs/zh/1.3/api/io.html#permalink-4-load_vars)加载，通过设置predicate来过滤不想加载的。

[2019-03-27 07:03] #16374 closed, assigned to hjchen2

[2019-03-27 07:03] #16307 closed, assigned to nobody

[2019-03-27 07:14] qingqing01 opened #16480 "How to use py_reader when only one put？"
You can refer:

[code]

[2019-03-27 07:21] LihangLiu opened #16481 "fluid1.3 sequence_pad cpu和cuda版本的结果不一致"
Reopen issue #14164

似乎sequence_pad的这个问题并没有在新版本中解决。

[2019-03-27 07:23] AIFollowers opened #16482 "elementwise_max传入的数据类型不一致时，没有做处理"
elementwise_max传入的数据类型不一致时，没有做处理，比如int和float，float32和float64等

[2019-03-27 07:37] wanghaoshuang opened #16483 "Name of scale op conflict when saving inference model"
[save_inference_model](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/io.py#L865)中，会在target variables之后加一个[scale op](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/io.py#L956), 然后将scale op的output做为target对网络进行回溯剪枝。

问题是：如果这里添加的scale op的output variable（name: scale_0.tmp_0）和网络中其它variable重名的话，会导致剪枝结果错误。

解决办法：
1. 在目标网络的name scope下添加scale op。 （无法保障，不好实现

[2019-03-27 07:57] Superjomn commented on #16483
用最新develop或者 v1.3.1

[2019-03-27 08:01] ws441572091 commented on #16478
尝试了一下第一种方法
![image](https://user-images.githubusercontent.com/35720887/55059274-7db1a500-50a9-11e9-8748-dc84e4d7a4e7.png)
请问是否时删掉LR_DECAY_COUNTER这个文件，删掉之后报错
![image](https://user-images.githubusercontent.com/35720887/55059234-6a9ed500-50a9-11e9-9b1c-42b8fa4ff40f.png)

[2019-03-27 08:07] #16418 closed, assigned to chengduoZH

[2019-03-27 08:16] ws441572091 commented on #16478
尝试了一下第二种方法，请问可以直接从persistable路径下使用load_vars吗，目前使用load_vars报错
代码：
![image](https://user-images.githubusercontent.com/35720887/55060080-99b64600-50ab-11e9-8313-0929a8f36e78.png)
错误：
![image](https://user-images.githubusercontent.com/35720887/55060111-ad61ac80-50ab-11e9-9512-c30c2dd142af.png)

[2019-03-27 08:19] gongweibao opened #16485 "Train speed on bert"
### 速度问题
5节点，每节点8卡：
使用 experimental_executor，num_threads = 8     速度：2.0 * 8 steps/s
使用 experimental_executor，num_threads = 2     速度：2.9 * 8 steps/s
使用并行图，速度：2.4 * 8 steps/s

### 使用并行图性能波动明显：
![image](https://user-images.githubusercontent.com/10721757/55061481-d59eda80-50ae-11e9-91f2-7abc21ea95f7.png)

experimental_executor很稳定：
![image](https://user-images.githubusercontent.com/10721757/55061501-df

[2019-03-27 08:20] Xreki commented on #16273
#15431 range op已经merge到develop中，可更新Paddle代码试用。

[2019-03-27 08:21] yeyupiaoling commented on #16273
@Xreki 是的，我发现了，我已编译。谢谢您。

[2019-03-27 08:38] qingqing01 commented on #16478
可以load，可以先删除对应变量，再用load_vars 过滤不存在的， 参考： https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/train.py#L267  这里面是针对保存的variable是单个文件的。

[2019-03-27 08:48] Yancey0623 commented on #16485
PG的num_threads 是多少？

[2019-03-27 08:49] zhaocaibei123 opened #16487 "创建LoDTensor错误"
代码如下：

[code]

[2019-03-27 09:00] qingqing01 commented on #16487
错误信息提示，lod不合法，使用 `set_recursive_sequence_lengths` 设置length-based的LoD。

[2019-03-27 09:06] qingqing01 commented on #16481
该问题已在develop修复，1.3.2发布的包可以解决~

[2019-03-27 09:06] #16480 closed, assigned to nobody

[2019-03-27 09:09] qingqing01 commented on #16469
这个错误说明在 `cls_prob_reshpae = fluid.layers.reshape(cls_prob, [num_cls_prob, -1])` 这个里面，静态的shape出现了2个-1，无法正确推断。 要么合理考虑使用-1和0，要么reshape接口里使用actual_shape，接受一个Variable作为shape。

[2019-03-27 09:09] qingqing01 commented on #16469
这个错误说明在 `cls_prob_reshpae = fluid.layers.reshape(cls_prob, [num_cls_prob, -1])` 这个里面，静态的shape出现了2个-1，无法正确推断。 要么合理考虑使用-1和0，要么reshape接口里使用actual_shape，接受一个Variable作为shape。

[2019-03-27 09:12] yeyupiaoling commented on #16469
@qingqing01

这个没办法实现我的需求呢。

这是具体要怎么操作呢？

[2019-03-27 09:22] qingqing01 commented on #16469
首先，你要reshape成啥样呢? 就是需要构造出来一个Variable表示的目标shape，假如是s0，再假如静态的shape是s1=[1024， 4](这是个举例，您可以依据实际的shape设置)。

[code]

- 这里静态的shape用于构建网络时输出shape推断，使用这个原因，actual_shape是个Variable，在构建图时还无法预先知道里面的值。
- actual_shape是Variable，网络实际运行时可以得到真实的值，actual_shape的优先级高于shape。

[2019-03-27 09:27] yeyupiaoling commented on #16469
@qingqing01 我要reshape的结果是这样的，比如batch为32，那么`cls_prob`的`shape`就是`[32, 2]`，然后是经过`reshape`得到的是`[64, 1]`。
可能actual_shape能够实现，不知道，还需要实验一下。我发给的文件中是MTCNN中的PNet网络，能够独立运行的。

[2019-03-27 09:30] hweidream commented on #16458
改了之后又报错如下：
![image](https://user-images.githubusercontent.com/17971652/55065013-01718e80-50b6-11e9-85fd-2ceb618e0432.png)

[2019-03-27 09:31] hweidream commented on #16458
改了之后又报下面的错误
![image](https://user-images.githubusercontent.com/17971652/55065069-20702080-50b6-11e9-8b50-f1f68fcdf638.png)

[2019-03-27 09:36] qingqing01 commented on #16469
那您可以直接如下吗：

[code]

您发给我的代码可以运行，但是不清楚上下文，无法知道目标shape到底是啥样的。

[2019-03-27 09:39] gongweibao commented on #16485
没设置，默认

[2019-03-27 10:02] ws441572091 commented on #16478
好的，那么其实就是一个方法，删掉不想加载的单个文件，再用load_vars的predicate过滤
![image](https://user-images.githubusercontent.com/35720887/55067253-5ca58000-50ba-11e9-8768-fa9aa588a764.png)
目前这样修改在前几轮效果上打平了tensorflow，后续实验效果待观察

[2019-03-27 10:18] LeoZhao-BJ commented on #16473
use latest code and compile locally with same cmake options without GPU, run hundreds of test, can't reproduce.

BTW, this PR CI includes 2 changes, not sure if it is related,  does it happen in night build? or happen just once ?

In PR CI build, it does building twice with different cmake options, some options are opposite, but only test the second building, is it normal?

cmake .. -DCMAKE_BUILD_

[2019-03-27 10:30] wopeizl commented on #16429
现在已经修复，请下载最新代码，再build就可以

[2019-03-27 10:31] JiaXiao243 commented on #16429
嗯 可以啦

[2019-03-27 10:31] #16429 closed, assigned to nobody

[2019-03-27 10:39] luotao1 commented on #16473
NO, it happens on daytime.

Yes, it is normal.

[2019-03-27 10:47] qingqing01 commented on #16426
这里应该是0.0，不是0,0:

[code]

[2019-03-27 11:02] wopeizl commented on #16444
能否贴一下使用的例子，我们看看怎么可以优化一下

[2019-03-27 11:10] zhoukunsheng opened #16492 "[Operator] add zeros_like op"
zeros_like returns a tensor which has identical shape and dtype with input variable.

[2019-03-27 11:46] LeoZhao-BJ commented on #16473
keep monitoring please, I am running local test simultaneously.

[2019-03-27 12:53] xuezhong commented on #16458
先贴下出错的代码把

[2019-03-27 13:01] zhhsplendid commented on #16464
目前在我用的K40机器上，用PR前后的commit运行训练脚本
https://github.com/PaddlePaddle/paddle-ce-latest-kpis/blob/master/lstm/run.xsh
都不能复现，将继续跟进修理这个问题。

[2019-03-27 13:01] jczaja commented on #16248
@tensor-tang , @xiaolil1 PR with revert of tensor modifications is #16462 .  Please test performance, review and merge if ok.

[2019-03-27 15:19] qingqing01 opened #16500 "How to feed data for LoDTensor?"
下面以level=1的例子，提供2种方式:

- 方式1: Python数据+DataFeeder
- 方式2: 直接创建LoDTensor，set数据和LoD，这里数据是一个numpy.array的tensor，LoD是个双重list: [[]]。

[code]

补充方式一：一般Python的数据格式如下， 写成python代码见上面reader部分组织形式:

[code]

[2019-03-28 01:46] yeyupiaoling commented on #16492
@zhoukunsheng I hope to add ones_like as well.

[2019-03-28 01:50] yeyupiaoling opened #16507 "reduce_sum如何只输出常量，不要带维度"
# 环境
 - PaddlePaddle （develop）
 - Ubuntu 16.04
 - Python 3.5

# 问题
我希望得到的是通过`reduce_sum`接口后得到一个常量，但是这接口得到的是维度为1的。
[code]

因为我下面需要计算
[code]

num_valid的信息：
[code]

会报错：
[code]

项目代码：https://github.com/yeyupiaoling/TestMTCNN/blob/a04126361fa0918f78420e3ce29c77bf8b97aede/train/model.py#L157-L159

[2019-03-28 01:51] #16416 closed, assigned to nobody

[2019-03-28 01:59] yeyupiaoling commented on #16469
@qingqing01 如果修改成这样，这一步是能够通过的
[code]

对比tensorflow的代码，上面的操作虽然得到与实际的结果维度一样，但是也不是最准确的。根据tensorflow来看，实际上是应该是把`cls_prob`的batch维度修改成所有维度总和的大小，然后第二个维度的大小为自动推断。
[code]

## 补充
我主要是为了实现MTCNN的交叉熵损失函数，参考tensorflow的代码
[code]

其公式为：
![image](https://user-images.githubusercontent.com/26297768/55123940-73da8100-513f-11e9-9270-a53646bf4d5e.png)

我根据tensorflow修改成PaddlePaddle的代码为：
https://github.com/yeyupiaoling/T

[2019-03-28 02:20] #16500 closed, assigned to nobody

[2019-03-28 02:20] #16481 closed, assigned to nobody

[2019-03-28 02:21] #16478 closed, assigned to nobody

[2019-03-28 02:21] qingqing01 commented on #16487
请参考:  https://github.com/PaddlePaddle/Paddle/issues/16500

[2019-03-28 02:31] qingqing01 commented on #16469
这个得到是一个Variable，不是一个scaler的数值，无法作为[num_cls_prob，-1]传到reshape里。

除非你再将-1构造Variable，和num_cls_prob的Variable拼接。
或者num_cls_prob要是确定的数字，直接用即可，不用推断。
或者通过Variable之间变化构造出想要的目标shape。

[2019-03-28 02:31] #16483 closed, assigned to wzzju

[2019-03-28 02:39] zhoukunsheng commented on #16492
yes, we will support ones_like later.

[2019-03-28 02:46] LeoZhao-BJ commented on #16473
Reproduced on local machine with thousand cycles of test, looks like random failure, failures occur on both mkl and mkldnn compare, once even happened in first run. Trying to narrow down the rootcause with more logs

[2019-03-28 03:00] junman opened #16510 "RELU激励的全连接层预测输出竟然有负数？"
关键代码如下：
1.
[code]
2.
[code]
3.
[code]
4.
[code]
输出结果：
RELU输出怎么可能有负数呢？

[2019-03-28 03:19] hjchen2 opened #16511 "windows安装完paddle，import时报错"
如下图：
![WechatIMG17](https://user-images.githubusercontent.com/13991173/55127504-54495580-514b-11e9-99fd-3399cae5754c.png)

[2019-03-28 03:32] LeLiu commented on #16426
嗯嗯，多谢。看来是要写上参数名。

[2019-03-28 03:32] LeLiu commented on #16426
多谢。 看来调用函数是要写上参数名。

[2019-03-28 03:33] #16426 closed, assigned to wopeizl

[2019-03-28 03:49] Yancey0623 commented on #16485
把PG的num_threads设置成8或者16呢，这样可以让每个graph一个线程，默认应该是device_nun*4， 8卡的话就是32线程，每个graph4个。

[2019-03-28 05:00] chengduoZH commented on #16485
有这个结果的复现环境吗？

[2019-03-28 05:47] lijiancheng0614 commented on #15390
问题1定位问题：
使用 `fluid.layers.beam_search` 会报错，删掉不报错
目前先删掉，待 debug

问题2定位问题：
paddle 版本问题

[2019-03-28 06:58] luluxing3 opened #16516 "使用fluid.io.load_inference_model模型预测报错"
RuntimeError: Some of your feed data hold LoD information. They can not be completely cast from a list of Python ndarray to LoDTensor. Please convert data to LoDTensor directly before feeding the data.

debug information如下：
debug feed_target_names: [u'context_wordseq', u'response_wordseq', u'label']
debug fetch_vars: [name: "scale_45.tmp_0"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {

[2019-03-28 06:59] yeyupiaoling commented on #16469
@qingqing01 嗯嗯，我还是直接指定reshape的数字吧，这样做可能会简单一些。谢谢您的回答。
是否也能帮我解答这个问题：#16507

[2019-03-28 06:59] #16469 closed, assigned to nobody

[2019-03-28 07:00] zhoukunsheng opened #16517 "[Operator] add rsqrt op"

[2019-03-28 07:02] Yancey0623 commented on #16516
是要feed一个带LoD带数据吗？

[2019-03-28 07:03] luluxing3 commented on #16516
是的 'context_wordseq', 'response_wordseq' 是lod_tensor

[2019-03-28 07:03] Yancey0623 commented on #16511
请问是哪个版本，如何安装的呢？

[2019-03-28 07:22] Yancey0623 commented on #16516
是如何feed的呢？看起来是需要先转下LoDTensor才行, 参考下训练的feeder。

[2019-03-28 07:29] Yancey0623 commented on #16507
scalar也是一个dim=[1]的tensor，并且[squeeze layer](http://paddlepaddle.org/documentation/docs/zh/1.3/api/layers.html#squeeze)是从input 中去掉axes指定纬度的数据。

另外请问下“# 选取70%的数据” 是指什么方式选取，希望的输出是什么样子的呢？

[2019-03-28 07:31] #16487 closed, assigned to nobody

[2019-03-28 07:34] ccmeteorljh opened #16519 "DGC 问题记录"
1. 训练失败
[code]

[2019-03-28 07:57] zhhsplendid commented on #16464
已经查出原因，ce测试在跑这个PR（以及附近几个PR时）有其他人在调试机器，导致训练变慢。并非代码问题。现在ce测试最新的commit里训练速度已经恢复了。

[2019-03-28 08:14] yeyupiaoling commented on #16507
@Yancey1989

这个是MTCNN模型的是否有人脸的分类交叉熵函数，在训练过程中，为了取得更好的效果，作者每次只后向传播前70%样本的梯度，这样来保证传递的都是有效的数字。

[2019-03-28 08:24] yeyupiaoling commented on #16507
@Yancey1989 如果修改成以下这样，还是报错
[code]

报错如下：
[code]

这个rank到底是指什么？还有项目中直接执行`tain_PNet.py`接口运行本项目

[2019-03-28 08:25] qingqing01 commented on #16510
原因已找到，是由于:

[code]
通过act="relu"指定的relu，在`save_inference_model` 保存模型是裁剪出了bug，去掉了relu的op。

可以先通过设置:

[code]

这个问题框架会修复下。

[2019-03-28 08:26] #16464 closed, assigned to nobody

[2019-03-28 08:48] Yancey0623 commented on #16507
原因在：`num_valid = fluid.layers.squeeze(input=num_valid, axes=[]) ` 输出的num_valid的shape已经是0了。所以在`num_keep_radio * num_valid ` 这个 elementwise_mul 会报错。

The shape information must be set by Attr(shape). at [/paddle/paddle/fluid/operators/reshape_op.cc:37]
PaddlePaddle Call Stacks:

这个报错的原因应该是reshape op没有指定shape吧？

[2019-03-28 08:55] LeoZhao-BJ commented on #16473
From local test, confirmed it is related fc_fuse_pass, after remove this pass, this issue is gone. Next step is to narrow down on fc low level.

suspect transformer failure may have same rootcause with this.

[2019-03-28 09:14] yeyupiaoling commented on #16507
@Yancey1989 如果不设置的话就会报一开始的错误，

如果我修改成如下的话，报的错跟一开始的错误。
[code]

[2019-03-28 09:35] luotao1 commented on #16229
related #16441

[2019-03-28 09:36] Yancey0623 commented on #16507
[code]

这个是正常的，没有报错。

更一开始的错误是什么呢？

[2019-03-28 09:42] yeyupiaoling commented on #16507
@Yancey1989

已经修改：报的错跟一开始的错误。

[2019-03-28 09:43] zhoukunsheng opened #16524 "[Operator] add rank op"
rank op returns a tensor's number of dimension

[2019-03-28 09:44] yeyupiaoling commented on #16507
@Yancey1989 我再琢磨琢磨吧。谢谢

[2019-03-28 12:30] alexqdh opened #16528 "Input(Out@GRAD) shouldn't be null错误怎么排查"
程序还没有开始运行，加上optimizer以后报错
[code]

报错信息:
[code]

[2019-03-28 12:54] Yancey0623 commented on #16528
换SGD也是一样的错误么？可以把代码贴全一些，定义loss的地方也贴一下。

[2019-03-28 14:33] jiangjiajun opened #16530 "reshape中的参数shape与actual_shape需要一样吗"
[code]
如上面代码所示，shape填的是[1, -1]，也就是[1, 100]， 但actual_shape中其实是[10, 10]，所以最终得到输出result值也是[10, 10]，但如果print(result)可以看得是
[code]
像这样的话，这个result作为后续layer的输入会存在问题吗，因为上面这个dims与实际输出值已经不同了

[2019-03-28 22:49] kbinias commented on #16467
Current status (before top high PRs were merged):
We reproduced INT8 v1 and INT8 v2 benchmark data on our validation servers. On 6148 we got ~2% performance regression on throughput (BS=128) compared with INT8 v1, on 8180 v2 is ~1% faster, on 8280 v2 is ~0.5% faster.

[2019-03-28 23:48] hshen14 commented on #16467
Can we get the performance data on 6271 with v2? @luotao1 @xiaolil1

[2019-03-29 00:48] wsjz opened #16533 "最新版paddle，python3兼容性问题"
最新版paddle

python3

报错信息
~\Develop\anaconda\lib\site-packages\paddle\utils\plot.py in append(self, title, step, value)
     73                 plot_curve.append(title="Curve 1",step=1,value=1)
     74 	"""
---> 75         assert isinstance(title, basestring)
     76         assert self.__plot_data__.has_key(title)
     77         data = self.__plot_data__[title]

NameError: name 'basestring' is no

[2019-03-29 00:51] wsjz commented on #16533
目前plot.py这个文件仍然是Python2的语法

比如python3没有的has_key:
'dict' object has no attribute 'has_key'

[2019-03-29 01:02] ghost commented on #16473
After removing fc_fuse_pass, there is no any difference between naive run and predictor run. So no issue will happen since you are "comparing" the same thing.

[2019-03-29 01:14] QsJack opened #16534 "fluid 1.0, 1.3 多卡训练出core"
以前1.0可以跑的代码，现在多卡都不行了，直接出core了。

下面是gdb core出来的。
![image](https://user-images.githubusercontent.com/10001147/55202460-7ce05680-5202-11e9-8e4d-b307a2058372.png)

print打印信息后，发现core在下面这一行
`parallel_exe = fluid.ParallelExecutor(use_cuda=True, loss_name=total_loss.name)`

![image](https://user-images.githubusercontent.com/10001147/55202518-b0bb7c00-5202-11e9-8683-b7da5970101f.png)

https://github.com/Pa

[2019-03-29 02:01] luotao1 commented on #16533
您好，这个问题已经在develop版本中合入了，1.4正式版会解决这个问题，感谢您的建议！

[2019-03-29 02:01] #16533 closed, assigned to nobody

[2019-03-29 02:03] LeoZhao-BJ commented on #16473
Yes, it is to confirm the issue is caused by fc_fuse_pass without other factors, e.g. feed/fetch.
Then we concentrate on fc_fuse_pass.

[2019-03-29 02:08] wsjz commented on #16533
只是这个文件的问题吗。。。想求一份新的plot.py文件

[2019-03-29 02:12] luotao1 commented on #16533
修复PR在#15906，从develop分支上下载plot.py就可以了。
https://github.com/PaddlePaddle/Paddle/tree/develop/python/paddle/utils

[2019-03-29 02:32] #16507 closed, assigned to nobody

[2019-03-29 02:40] yeyupiaoling commented on #16516
@luluxing3 可以参考一下这里：https://github.com/yeyupiaoling/LearnPaddle2/blob/c2ed0cea1634159b1f005a0d2d954ce44b51b739/note12/infer.py#L32-L43

[2019-03-29 02:42] yeyupiaoling commented on #16511
@hjchen2 我的也是#15944 我已经放弃了。

[2019-03-29 02:43] wsjz commented on #16533
解决了，谢谢

[2019-03-29 02:45] yeyupiaoling commented on #16510
@qingqing01 我也曾遇到这个问题，不知道问题解决没：https://github.com/PaddlePaddle/Paddle/issues/15835#issuecomment-465846087

[2019-03-29 02:47] yeyupiaoling opened #16535 "是否可以提供一下where 的op呢？"
使用py_func()接口固然能够实现这个功能，但是使用起来还是有点复杂的，希望能够直接提供：where函数接口。

[2019-03-29 02:54] Yancey0623 commented on #16528
更新一下: 是基于 parl.layers 组网，而不是 fluid.layers .

[2019-03-29 02:55] Meiyim opened #16536 "跪求统一API"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
Paddle 1.3.0
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Paddle作为百度研发的深度学习框架应该能够代表百度**最高**代码、架构水平。提供给开发者可简单可依赖的开发API。TF的API设计中基于tensor操作的API大多跟numpy同名，且有相应的参数。而Paddle的API基本是乱成一锅粥。举个例子：
以下3个参数都有指定

[2019-03-29 02:57] TomorrowIsAnOtherDay commented on #16528
PARL.layers 只是一个对fluid.layers 的二次封装，为了更好的进行参数复用，我们这边一起看下问题

[2019-03-29 03:09] luotao1 commented on #16536
感谢您的建议，我们会加入需求池，进行评估和规划！

[2019-03-29 03:13] yeyupiaoling opened #16537 "请问如何只取loss的70%的数据呢？"
# 环境
 - PaddlePaddle （develop）
 - Ubuntu 16.04
 - Python 3.5

# 问题
我通过以下得到了一个损失函数，但是我只想取前70%的数据（MTCNN模型要求的），那么该如果做呢？
[code]

我当前这样操作，这样是错误的，
[code]

报错如下：
[code]

[2019-03-29 03:20] yuanyc06 opened #16541 "增加一般vgg版ssd300/512的支持"
和paddle值班同学沟通，目前的paddle还没有对普通vgg版ssd检测器[1]的支持，只有以mobilenet为backbone的ssd。目前如果要使用vgg-ssd，只能自己手动将vgg的backbone拼凑过去，并且需要自己裸训模型。由于vgg-ssd是一个很经典且基础的模型，所以希望下版更新能提供：
（1）vgg-ssd的网络结构（包括300/512两种输入尺寸）
（2）对应（1）的在coco、voc等公开数据集的预训练模型，及对应指标

另外此模型已有caffe、pytorch等多种框架下的实现，供参考：

https://github.com/weiliu89/caffe/tree/ssd
https://github.com/amdegroot/ssd.pytorch

[1] Liu, W., Anguelov, D., Erhan, D., Szegedy, C.,

[2019-03-29 03:21] luotao1 commented on #16535
感谢您的建议，我们会加入需求池中，进行统一规划！

[2019-03-29 03:22] Yancey0623 commented on #16541
感谢反馈，目前没有这个模型，我会先反馈给负责模型的同学有进一步信息会在这里更新。

[2019-03-29 03:32] wopeizl commented on #16511
有用户反馈重装anaconda后，重启解决

[2019-03-29 03:40] #15850 closed, assigned to nobody

[2019-03-29 03:48] luluxing3 commented on #16516
之前预测时feed_target_names: [u'context_wordseq', u'response_wordseq', u'label']，其中u'context_wordseq', u'response_wordseq'是lod_tensor,u'label'是tensor
删除u'label'（预测其实不需要）就没问题了

[2019-03-29 03:48] #16516 closed, assigned to nobody

[2019-03-29 03:58] luotao1 commented on #16537
[code]
这个报错和https://github.com/PaddlePaddle/Paddle/issues/16273#issuecomment-475171240 一样。

[2019-03-29 04:15] yeyupiaoling commented on #16535
好的。

[2019-03-29 04:17] yeyupiaoling commented on #16511
@wopeizl 我试过，不行。

[2019-03-29 04:22] yeyupiaoling commented on #16537
@luotao1 那么先不要在意报错的问题，针对问题本issue的问题`请问如何只取loss的70%的数据呢？`，如果解决呢？

[2019-03-29 05:22] LeoZhao-BJ commented on #16473
From first round investigation, the issue seems being in FCCompute in FC op:
[code]
I replaced this part with simple loop implementation instead of jit, the issue seems gone, but still need double check to confirm, since this issue reproduce rate is much low, ~0.1%

[2019-03-29 05:54] ghost commented on #16473
@tensor-tang Leo's trial match my original suspect, i.e. something maybe wrong in JIT cache/selection in MKL OFF case.

[2019-03-29 06:03] wopeizl commented on #16511
试一下2.7看看，经常有各种环境问题，我们本地无法复现也很难查

[2019-03-29 06:06] LeoZhao-BJ commented on #16473
I am running more tests, if it proves true, I suspect transformer random failure has same rootcause on it, given running transformer takes longer time to reproduce.  And I am planning to try to use blas vadd here to compare the result since original non-fuse case works as this way.

[2019-03-29 06:18] AIFollowers commented on #16482
[code]

[2019-03-29 06:23] tensor-tang commented on #16473
Have you ever tried to remove `#pragma omp parallel for` ?

[2019-03-29 06:26] LeoZhao-BJ commented on #16473
not yet, I was planning to do that, but each test cycle costslong time, will put it into trial list.

[2019-03-29 06:58] yeyupiaoling opened #16549 "请问当conv2d接口激活函数为softmax的时候是不是有问题呢？"
# 环境
 - PaddlePaddle 1.3
 - Ubuntu 16.04
 - Python 3.5

# 问题
当激活函数为softmax的时候，输出的值不应该是他们的和为1吗？[代码地址](https://github.com/yeyupiaoling/PaddlePaddle-MTCNN/blob/5129810a6f1fab17577d1197d24577a5a1eb0734/train/model.py#L49-L55)
[code]

但是输出的结果居然都是1，是不是接口有bug？

[code]

[2019-03-29 07:06] aaronlyt commented on #3022
请问怎么解决的呢

[2019-03-29 07:08] jerrywgz commented on #16537
您的意思是需要对得到的loss进行排序，取前70%小的数据作为输出吗？

[2019-03-29 07:20] QsJack commented on #16534
问题已经解决了，是nccl版本的问题。切换到nccl2.1.*就可以了。多谢paddlepaddle的同学支持~

[2019-03-29 07:24] yeyupiaoling commented on #16537
@jerrywgz 按照论文的解析，应该是这样的。
tensorflow的实现方式
[code]

[2019-03-29 07:28] jerrywgz commented on #16537
topk的过程paddle中的topk op是可以使用的，tf.where(label < zeros, zeros, ones)这个操作是要得到输入label中小于0的index吗？这个where操作我们目前还在开发中

[2019-03-29 07:35] yeyupiaoling commented on #16511
@wopeizl 好的，谢谢。

[2019-03-29 07:37] jerrywgz commented on #16537
我们目前有less than这个op，http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#less-than
会得到一个bool类型的mask值，这个应该可以满足您的需求

[2019-03-29 07:42] yeyupiaoling commented on #16537
@jerrywgz 我想问的不是where这个问题，是如果取loss的70%的数据。应该对应的是`loss, _ = tf.nn.top_k(loss, k=keep_num)`，那么keep_num的取值是如何定的呢，我上面设置为batch大小的70%，即22，但是就报错了。所以我不清楚这个值应当如何设置

我现在没有使用topk是这样子的：
·https://github.com/yeyupiaoling/PaddlePaddle-MTCNN/blob/5129810a6f1fab17577d1197d24577a5a1eb0734/train/model.py#L271-L272

[2019-03-29 07:46] Genie-Liu commented on #16549
你的filter_size为1呀，相当于在局部做一次softmax，而你只有一个数值

[2019-03-29 07:47] yeyupiaoling commented on #16549
@Genie-Liu 但是tensorflow是可以的，可以基于全卷积做分类的。

[2019-03-29 07:51] jerrywgz commented on #16537
http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#topk
根据我们的topk，是会对loss的最后一维选前k个，所以loss的最后一维的size必须大于k，从报错信息来看loss的shape应该是N，2；需要对loss做transpose

[2019-03-29 07:53] yeyupiaoling commented on #16537
@jerrywgz

请问这个如何处理呢？

[2019-03-29 07:54] jerrywgz commented on #16537
http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#transpose
可以参考这个文档

[2019-03-29 07:57] yeyupiaoling commented on #16537
@jerrywgz 我刚才输出了loss，并不是[N, 2]，是如下，我觉得挺正常的。

[code]

[2019-03-29 08:04] jerrywgz commented on #16537
哦那这个shape就应该是[N,1]，刚说的有问题，这样的话就需要做squeeze操作，是loss的shape变为[N]

[2019-03-29 08:05] jerrywgz commented on #16537
另外需要使用develop的代码，我们在topk判断维度的时候做了一定修改

[2019-03-29 08:17] luotao1 commented on #3022
1.3版本不支持v2了，如果要使用v2，请使用1.2版本。

[2019-03-29 08:22] yeyupiaoling commented on #16537
@jerrywgz 我修改成如下， 发现还是报错，topk不知道batch size的真实大小。

[code]

[code]

报错如下：
[code]

[2019-03-29 08:24] yeyupiaoling commented on #16537
@jerrywgz

这个已经合并到develop了吗？我最近编译了源码

[2019-03-29 08:34] jerrywgz commented on #16537
https://github.com/PaddlePaddle/Paddle/pull/16351
8天前的一个pr

[2019-03-29 08:44] luotao1 opened #16552 "test_analyzer_int8_mobilenet timeout"
http://ci.paddlepaddle.org/viewLog.html?buildId=77536&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all&_focus=19228
[code]
Each unit-test have only 1200s limits.

[2019-03-29 08:48] yeyupiaoling commented on #16549
@luotao1 这是不是一个bug呢？还是我理解错误了？

[2019-03-29 08:58] hwhwhwaaaa opened #16553 "训练时sum op上报错Expected in_dim == x_dim, but received in_dim:10, 512 != x_dim:548, 512"
在实现attention网络时报错，代码如下：
[code]

[2019-03-29 09:49] luotao1 commented on #16553
[code]
sum op报错维度没对上。可以先把网络中sum_op的input维度都打印出来看下，定位到具体是哪个sum_op出错。

[2019-03-29 10:02] jerrywgz commented on #16549
你是怎么看输出结果的呢

[2019-03-29 10:07] Ashleychen opened #16556 "GPU多卡情况下加载模型评估结果有误"
我在GPU多卡下的模型预测结果有问题。
我在模型训练的时候每隔n个batch会用测试数据评估一下，假设这个时候模型的预测值为A；
然后在模型训练完成之后我想重新加载模型再次用同样的测试数据评估，然后这个时候模型的预测值为B；
但是我发现
GPU单卡的情况下B==A；GPU多卡的情况下B！=A。
而且很奇怪的是，多卡的情况下，一个batch里面前半部分的预测结果是对的，而后半部分的预测结果是错的。

[2019-03-29 10:23] junman opened #16557 "paddle_batch不能保证数据每次输出的问题"
[code]

输入数据：只有一行：1 1;1 2;1 2 3 4 5 6 7;1 2 3 4 5 6 7;1 3 2 1 1 1;4 5 2 1 3 4
迭代过程中发现有的轮次没有输出数据：
[code]
谢谢！

[2019-03-29 10:42] luotao1 commented on #16556
然后在模型训练完成之后我想重新加载模型再次用同样的测试数据评估，然后这个时候模型的预测值为B

这两个阶段模型就不一样了，预测值一样，但预测的分数肯定不一样。

如果模型已经收敛到一个固定值，预测值和预测分数会一样。所以GPU单卡是收敛了，GPU多卡是未收敛情况？请补充更多信息。

你是用什么规则来判断对还是错呢？用B！=A么？

[2019-03-29 10:52] luotao1 commented on #16557
[code]
从源码看，`r = random.random()`有随机性，只有小于0.8的情况下，才会返回数据。
所以出现有时候没有数据的问题，可以去掉`  if r < 0.8`，再试下。

[2019-03-29 10:55] junman commented on #16557
实在抱歉！

[2019-03-29 10:55] #16557 closed, assigned to luotao1

[2019-03-29 12:00] Ashleychen commented on #16556
我指的是，训练的时候训2个batch我就把模型保存下来，但是重新加载这个模型来评估的时候模型的预测结果跟我当时保存它的时候不一致。
因为我保存模型参数的时候和我重新加载模型参数进行评估的时候，我都用同一份测试数据进行预测，按道理模型参数一致，测试数据一致，预测结果也应该一致。

[2019-03-29 12:25] yeyupiaoling commented on #16549
@jerrywgz 通过`exe.run()`，指定`fetch_list`的值。

[2019-03-29 12:27] luotao1 commented on #16556
两个预测数据差多少，是用python预测的么？用什么api接口进行保存和加载模型的呢？

[2019-03-29 12:34] Ashleychen commented on #16556
![image](https://user-images.githubusercontent.com/4193110/55232810-92d13400-5261-11e9-9562-228de0ce34c2.png)
这是我测一个batch的数据，预测结果有两维，左边的是加载模型之后的预测结果，右边的是保存模型时的预测结果，如图所示前17个分数是一致的，从第18个结果开始就不一致了。
用的是Python预测的，用fluid.io.load_params加载模型，用fluid.io.save_params保存模型。

[2019-03-29 12:40] bigspiderman opened #16560 "c++ inference CreatePaddlePredictor segmentation fault"
- 版本、环境信息：
    1）PaddlePaddle版本：1.3，cpu_avx_openblas， http://www.paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/deploy/inference/build_and_install_lib_cn.html
    2）CPU：Intel® Core™ i7-7700 CPU @ 3.60GHz × 8
    3）GPU：未开启
    4）系统环境：Ubuntu 16.04
    5) gcc版本: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
-预测信息
    1）C++预测：1.3，cpu_avx_openblas
version.txt：
    GIT COMMIT ID: 4b3f9e

[2019-03-29 12:45] yeyupiaoling commented on #16537
@jerrywgz 报的是这个错误
[code]

[code]

[2019-03-29 12:48] luotao1 commented on #16560
由于官网下载的预测库都是gcc48编译的，而用户在gcc54环境（paddle的latest-dev镜像）下运行，因此直接core。
建议：官网文档标清楚，开发镜像和发布版本的gcc差别要尽早解决。

[2019-03-29 13:14] alexqdh commented on #16528
update下原因:
训练代码中用到了softmax_with_cross_entropy和sigmoid_cross_entropy_with_logits，这两个op针对label不计算梯度，这点与tf对应接口实现不同。

[2019-03-29 13:15] #16528 closed, assigned to nobody

[2019-03-29 13:40] luotao1 commented on #16556
python预测接口是load_inference_model和save_inference_model. 需要把program desc即model保存下来。

[2019-03-29 13:42] Ashleychen commented on #16556
所以是因为接口用错了吗

[2019-03-29 13:44] luotao1 commented on #16556
http://paddlepaddle.org/documentation/docs/zh/1.3/api_guides/low_level/inference.html
用预测接口保存吧。

[2019-03-30 00:34] qingqing01 commented on #16510
最新版本已修复。

[2019-03-30 01:35] yeyupiaoling opened #16564 "请问如何才能使用Large-Margin softmax loss呢？"
# 环境
 - PaddlePaddle 版本随意
 - Ubuntu 16.04
 - Python 3.5

# 问题
查阅了很多资料，多说人脸识别分类这种大规模的分类使用传统的softmax，而是使用Large-Margin softmax loss（L-softmax loss），这个是怎么个使用法呢？

或者是否有更好的函数呢？

[2019-03-30 05:48] phecda-xu opened #16565 "Check failed: cudaSuccess == err (0 vs. 8) [hl_gpu_apply_unary_op failed] CUDA error: invalid device function"
os:linux 16.04
代码：DeepSpeech2　语音识别
运行环境: DeepSpeech2 中提供的ｄｏｃｋｅｒ镜像
ＧＰＵ:titan v
ｃｕｄａ:9.2.148
driver version:10.0
[code]
在训练ｄｅｅｐspeech2 语音识别模型的时候报错：
```F0326 09:05:26.830855    23 hl_gpu_matrix_kernel.cuh:181] Check failed: cudaSuccess == err (0 vs. 8) [hl_gpu_apply_unary_op failed] CUDA error: invalid device function```

我Ｇｏｏｇｌｅ过这个问题，有说是驱动版本的问题，所以也尝试过几个版本的驱动（410.93、410.７９、３９６．３７等），都没有解决

同样的ｄｏｃｋｅｒ和代

[2019-03-30 05:51] phecda-xu commented on #16565
docker 里面的paddle 版本为0.10.0

[2019-03-30 06:02] alexqdh opened #16566 "elementwise_mul执行报错"
paddle版本1.3
python2.7
单独执行one_hot或者elementwise_mul都没有问题，这两个op放在一起执行的时候

报错日志:
[code]

报错代码
[code]

传入elementwise_mul的两个variable格式都是float32，维度一样
[code]

[2019-03-30 06:37] alexqdh opened #16567 "one_hot op不支持double类型 && paddle文档对应示例有误"
paddle版本1.3
python2.7
发现one_hot这个op不支持float32类型，只能先cast成int32才能正常跑，这点paddle文档上示例代码也是错的 http://www.paddlepaddle.org/documentation/api/en/0.15.0/layers.html#one-hot
![image](https://user-images.githubusercontent.com/3154072/55272666-c6ac6800-52fa-11e9-8be0-cfd3112839c7.png)

报错代码如下
[code]

label类型dtype和对应输入改为int32才能正常跑
[code]

[2019-03-30 06:50] hjchen2 commented on #16567
one hot输入肯定是正整数的，float不支持应该是OK的，文档问题很多很坑，哈哈😄

[2019-03-30 07:48] Meiyim opened #16568 "argmax axis=-1时结果不对"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
1.3.0
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
GPU单卡
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1

[2019-03-30 08:26] afterimagex commented on #16568
框架不支持负数索引，concat也是同样错误

[2019-03-30 08:33] Meiyim commented on #16568
你们的文档用的就是-1做例子。
不支持也给个提示吧？编译时提示或者运行时提示都比稀里糊涂算一堆数字出来好，debug这个是很耗费精力的。
还有，这个axis的行为能不能统一一下，都支持负索引？

[2019-03-30 08:37] afterimagex commented on #16568
0.0.. 我也是用concat发现的这个问题。。

[2019-03-30 09:39] chengduoZH commented on #16566
@alexqdh 你输入的data和label值应该与定义的一致。在定义x和y的时候应该转一下数据类型
[code]

[2019-03-30 10:34] chengduoZH commented on #16565
建议您使用最新的的Paddle

[2019-03-30 10:36] chengduoZH commented on #16564
你需要说明一下Large-Margin softmax loss（L-softmax loss）的公式是什么？

[2019-03-30 11:44] alexqdh commented on #16566
@chengduoZH 多谢，可以了

[2019-03-30 11:44] #16566 closed, assigned to chengduoZH

[2019-03-30 15:48] yeyupiaoling commented on #16564
@chengduoZH 我以为paddlepaddle内部实现了呢？
我以为是跟使用softmax，然后在使用 cross_entropy 的使用方式一样呢。比如在最后一层的全连接层使用的激活函数是`L-softmax`，然后损失函数使用cross entropy。我是不是想得太简单了。

公式如下：
![image](https://user-images.githubusercontent.com/26297768/55278337-ca191100-5345-11e9-8731-29bd4e4dc06a.png)

[2019-03-30 15:50] yeyupiaoling commented on #16549
@jerrywgz 这是不是bug呢？是否可以继续跟进一下呢。工作日给我回复就行。

[2019-03-31 07:50] alexqdh opened #16572 "fluid.layers.increment op执行失败"
python 2.7
fluid 1.3

fluid.layers.increment貌似只支持传入variable的shape为[1, 1]，而不是每一元素都进行increase value，疑似bug，同样跟文档上说明也不一样，文档示例是跑不通的 (fluid.layers.increment)[http://www.paddlepaddle.org/documentation/api/en/0.15.0/layers.html#increment]
![image](https://user-images.githubusercontent.com/3154072/55286285-41918380-53cc-11e9-86b3-8da04edffbbd.png)

报错信息如下:
[code]

报错代码:
[code]

[2019-03-31 08:17] alexqdh commented on #16572
忽略，看文档fluid 1.3文档已经更正

[2019-03-31 08:17] #16572 closed, assigned to nobody

[2019-03-31 15:19] celineJiang opened #16577 "用YOLOv3训练时，迭代次数无法根据设定值改变"
- 版本、环境信息：
    1）PaddlePaddle版本：1.3fluid
    2）系统环境：Ubuntu 16.04、Python 3.5
- 问题描述：
在使用YOLOv3训练自己的数据集时，发现iter的次数只与batch_size挂钩（不确定是否也与数据集大小有关），即：当数据集大小为1913时，若设batch_size为16，则iter打印次数只有116次；若设batch_size为32，则iter打印次数只有57次。而在代码中明确写了：
[code]
因此我感到困惑，不知道是哪里出现了问题，希望能给出解释或告诉我可以从哪里入手去解决它，感谢！另附重要代码：
[code]

[2019-04-01 01:45] chengduoZH commented on #16564
目前Paddle没有相关Op的实现，您可以先根据公式推导，用其他Op构建一个这样的公式。

[2019-04-01 01:57] yeyupiaoling commented on #16564
好的，谢谢。

[2019-04-01 01:57] #16564 closed, assigned to chengduoZH

[2019-04-01 02:01] #16248 closed, assigned to jczaja, kbinias

[2019-04-01 02:06] yuyy0823 opened #16578 "c++调用paddlepaddle出core"
之前提出过paddlepaddle调用多线程出core的问题，后来封装了多线程后问题解决（https://github.com/PaddlePaddle/Paddle/issues/16335）。
最近又出现两次core，core信息如下：

![image](https://user-images.githubusercontent.com/28800753/55299371-5110db00-5465-11e9-8625-2ec7829ece5e.png)

paddlepaddle显示的core信息如下：
![image](https://user-images.githubusercontent.com/28800753/55299443-992ffd80-5465-11e9-9be3-5eac600c7929.png)

出错的代码位置如下：
![image](https://u

[2019-04-01 02:11] yuyy0823 commented on #16578
补充一下，上次修复多线程问题后，c++调用的paddlepaddle升级为release/1.3版本了

[2019-04-01 02:12] #16568 closed, assigned to chengduoZH

[2019-04-01 02:13] LeoZhao-BJ commented on #16473
With thousands of tests with different options through weekend, the conclusion is "still need more tests to build up test trust base".

2 major issues found in long time stress tests (more than 10K tests):

#1. Accuracy
  Accuracy mismatch and exception from compare filter. Besides case failure, there is a potential issue in test framework, for defined accuracy gap threshold (0.001), it is based o

[2019-04-01 02:39] jerrywgz commented on #16537
topk_scores, topk_indices = fluid.layers.topk(probs, k=beam_size)
根据topk的文档看，应该是有两个返回值，第一个是score，第二个是对应的index，你这里面的loss应该是第一个返回值

[2019-04-01 02:47] jerrywgz commented on #16549
这边测试了一下conv_2d中的softmax，输出是没问题的，再检查一下这个op前的输入？

[2019-04-01 02:50] yeyupiaoling commented on #16549
@jerrywgz 前面我检测过，输出是正常的数据，不是1.
https://github.com/yeyupiaoling/PaddlePaddle-MTCNN/blob/5129810a6f1fab17577d1197d24577a5a1eb0734/train/model.py#L39-L55

你直接执行`train_PNet.py`即可运行。

[2019-04-01 02:55] luotao1 commented on #16473
Thanks for your progress!

For the accuracy gap, we use absolute diff indeed. In CI, we use 1e-3, but for some special business line, we use 1e-5/1e-6.

[2019-04-01 03:03] Superjomn commented on #16578
可以贴下调用代码，特别是多线程那部分

另外，建议用最新的高层API，不要用老的API

[2019-04-01 03:04] heavengate commented on #16577
你实现的自己数据集的reader是不是读完一个epoch就不再读了

[2019-04-01 03:09] heavengate commented on #16577
https://github.com/PaddlePaddle/models/blob/9cd7d08b6f5806d16b2acb8e796112963a745bcb/fluid/PaddleCV/yolov3/reader.py#L215   YOLOv3的reader读完一个epoch后会shuffle数据重新读，reader没有中止，通过train脚本控制总iter数

[2019-04-01 03:19] jerrywgz commented on #16549
http://www.paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#softmax
发现你在conv的输入shape是32，32，1，1；根据softmax的文档，我们目前只支持对最后一维做softmax，而conv得到的shape是32，2，1，1，所以要把conv的输出reshape成32，2，再做softmax

[2019-04-01 03:20] yeyupiaoling commented on #16549
@jerrywgz 好的，我试试。

[2019-04-01 03:21] LeoZhao-BJ commented on #16473
got it, current accuracy gap definition is based on predict precision.

[2019-04-01 03:21] yeyupiaoling commented on #16549
@jerrywgz 我用这个接口`fluid.layers.squeeze`可以吗？

[2019-04-01 04:33] shippingwang commented on #16530
不需要 一致，没有问题，运行时会按actual_shape reshape

[2019-04-01 04:36] jerrywgz commented on #16549
可以

[2019-04-01 05:54] Rivensa opened #16582 "CPU/GPU 混合训练的问题"
旧版本的paddlepaddle里可以设置parallel_nn来混合使用GPU和CPU计算网络层的参数，更新成fluid版本之后没有了，是不支持混合使用CPU/GPU了，还是使用方法变了

旧版本的使用链接：
http://www.paddlepaddle.org/documentation/docs/zh/0.12.0/howto/cmd_parameter/use_case_cn.html#permalink-9--gpu-cpu-

[2019-04-01 05:57] tensor-tang commented on #16473
Thanks for your such detail analysis!

What do you mean this? exception happens inside this pass or in the compute function?

[2019-04-01 06:02] #16552 closed, assigned to sfraczek, wojtuss

[2019-04-01 06:03] jiangjiajun commented on #16530
[code]
我的意思如上面这段代码，这段代码会出错，原因是在最后一行，试图对result的第一维split成5维时，`split`获得inputs的shape是[1, 100]，因此无法执行下去。但根据实际actual_shape，这里是[10, 10]的。

所以同样的道理，会不会存在后面在接入其它层，依赖到这个shape的计算，从而出错

[2019-04-01 06:05] LeoZhao-BJ commented on #16473
This issue is not related with accuracy issue, but another issue found in testing. Just from log analysis, there was issue happening in seqpool_concat_fuse_pass for long time stress test.

[2019-04-01 06:08] luotao1 commented on #16473
How about create a new issue and paste the log and log analysis?

[2019-04-01 06:10] LeoZhao-BJ commented on #16473
https://github.com/PaddlePaddle/Paddle/issues/16586, this is issue id.

[2019-04-01 07:22] yeyupiaoling commented on #16549
@jerrywgz 这样处理吗？
[code]

感觉这样有点问题，因为输出的分类结果全都都第一个的概率无限接近1，第二个无限接近0。
与真实的标签都不拟合。

[2019-04-01 07:26] LeoZhao-BJ opened #16586 "random failure in processing seqpool_concat_fuse_pass when doing stress test for test_analyzer_small_dam"
**System information**
-PaddlePaddle version: develop branch
-CPU: CPUMKL ON/OFF
-GPU: No
-OS Platform: Linux
-Python version:  N/A
-Cmake orders
-C++version.txt
-API information
**To Reproduce**
Run "ctest -R test_analyzer_small_dam -V" for more than 5000 tests

**Describe your current behavior**
Random failure in seqpool_concat_fuse_pass processing in both builds with cmake option -DWITH_MKL=ON/

[2019-04-01 07:34] LeoZhao-BJ commented on #16586
[withlog.zip](https://github.com/PaddlePaddle/Paddle/files/3028186/withlog.zip)

[2019-04-01 07:41] yeyupiaoling opened #16588 "请问当模型有多个损失函数的时候要怎么处理？"
# 环境
 - PaddlePaddle （develop）
 - Ubuntu 16.04
 - Python 3.5

# 问题
比如在MTCNN这个模型中，有三个损失函数，分别对应的是：是否人脸的交叉熵损失函数，人脸box的平方差损失函数，关键点平方差损失函数。
那么三个损坏函数如何合成一个损失值呢？

tensorflow的例子中是把它们乘上各自的比例，再相加，最后还加一个`L2_loss `。我也不知道这`L2_loss`是个什么鬼。
[code]

[2019-04-01 07:59] luotao1 commented on #16586
请用```或者`来标注代码块，issue格式略乱。

[2019-04-01 08:24] Ashleychen commented on #16556
这个借口有参数为parallelExecutor的示例吗。

[code]

我使用时传给executor的不是parallelExecutor，在只用一张卡的情况下的OK的，但是多卡的情况下评估还是有点问题，只predict了一部分的结果。

[2019-04-01 08:28] yeyupiaoling opened #16590 "请问如何查看PaddlePaddle源码定义的op？"
# 环境
 - PaddlePaddle 1.3
 - Ubuntu 16.04
 - Python 3.5

# 问题
我想查看某一个op的定义方式，应当如果查看呢？

例如我想PaddlePaddle的prelu，是否与下面tensorflow的定义一样。

[code]

[2019-04-01 08:51] yeyupiaoling opened #16592 "对于图片小但数量很大的数据集有什么好的处理方法？"
# 环境
 - PaddlePaddle 1.3
 - Ubuntu 16.04
 - Python 3.5

# 问题

例如有很多的图片，大小为`12*12`，这是非常小的，但是他的量很大。这样有两个问题。
第一，在Pycharm中打开会导致pycharm加载过多的文件而出现内存溢出。
第二，在训练过程中读取图片非常慢，训练时间很快，时间计划花在读取数据上。

有没有这样一个可能性，就是把这些众多的图片转换成一个二进制文件。

我觉得普通的压缩，再在训练中利用代码读取压缩包中的文件，这样的效率会更低。

有没有其他办法呢？

[2019-04-01 09:18] yeyupiaoling commented on #16537
@jerrywgz 好了，谢谢您的回答。

[2019-04-01 09:18] #16537 closed, assigned to jerrywgz

[2019-04-01 09:28] yeyupiaoling opened #16593 "求复现MTCNN模型"
我几乎完全复现了：https://github.com/yeyupiaoling/PaddlePaddle-MTCNN
就差几步，但是这几步我实在是走不下去了，太难了。我放弃！！！！

我复现了PNet、RNet、ONet网络，这三个都能正常训练，但是，
在训练的过程中，损失值突然为nan，分类模型的准确率上不去，还下降了。
随着训练的进行，分类模型的第一个标签（非人脸）无限接近1，第二个（人脸）无限接近0，已真实的label不拟合。

反正就是不行。求PaddlePaddle工程师能够帮忙调试，成功后我愿意把代码贡献到`model`项目下。如需训练数据集，可以联系我。

[2019-04-01 09:35] DukeFun opened #16594 "fluid.incubate.fleet分布式训练必须有filelist吗？mpi训练读取hdfs数据有使用demo吗？"
版本：paddle develop版本
问题描述：fluid.incubate.fleet分布式训练必须有filelist文件列表吗？针对纯dense网络，mpi分布式训练从hdfs读取数据有使用demo吗？
thx~

[2019-04-01 09:47] colourful-tree commented on #16594
如hi沟通~

[2019-04-01 10:37] kuke commented on #16590
https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/fluid/operators

PaddlePaddle定义的op，都在这个目录下。一般来讲，每个op的实现包括三个文件：接口定义文件*.cc, cpu计算逻辑实现*.h，和gpu计算逻辑实现*.cu

例如这是prelu的cc文件
https://github.com/PaddlePaddle/Paddle/blob/3628d894f2c5077832fa78f76caa75f979b42a08/paddle/fluid/operators/prelu_op.cc

[2019-04-01 10:43] kuke commented on #16588
训练模型的时候，每个模型的优化器在同一时刻只能有一个优化对象，所以这些loss应该是要求加权和的。这里的l2 loss应该是经过正则之后的均方误差损失。

[2019-04-01 10:49] kuke commented on #16592
有个办法是可以用多线程/多进程读取，可以参考这里

https://github.com/PaddlePaddle/Paddle/blob/4cc9809caeb660919ddcf31af300f5702a5d9e22/python/paddle/reader/decorator.py#L360

[2019-04-01 10:54] kuke commented on #16582
Fluid已经不支持混合使用CPU/GPU了，这种功能较少用到，在后续版本的设计中就去掉了

[2019-04-01 11:27] ccmeteorljh opened #16599 "FLAGS_cudnn_exhaustive_search=1 打开后，cyclegan提示显存分配不足"
paddle_version : 1.3.2.post97 和develop分支d8d73ff3db21 编译
模型： paddle benchmark 的cyclegan
https://github.com/PaddlePaddle/benchmark/tree/master/CycleGAN/paddle
环境：v100，cuda97 ,16G显存
报错如下：
[code]

[2019-04-01 11:31] kuke commented on #16593
已加了一个内部需求，然而短时间内不一定有排期

[2019-04-01 12:12] wanghaoshuang commented on #16599
打开`FLAGS_cudnn_exhaustive_search`后，会cache一些数据，占用一定的显存。建议将该选项关掉。

[2019-04-01 12:38] ccmeteorljh commented on #16599
打开是有加速的效果吗？

[2019-04-01 12:45] yeyupiaoling commented on #16588
@kuke 如果是PaddlePaddle应当如何实现这个`L2_loss`呢？

[2019-04-01 12:51] yeyupiaoling commented on #16592
好的，谢谢。

[2019-04-01 12:53] yeyupiaoling commented on #16590
好的，谢谢。

[2019-04-01 12:53] #16590 closed, assigned to kuke

[2019-04-01 12:59] yeyupiaoling commented on #16593
@kuke 我基本写好了，只是有一些问题而已，是否能够帮我解决呢？

[2019-04-01 13:24] shippingwang opened #16603 "安装后找不到GPU"
install cpu版本paddle后
再编译安装gpu版本
记得make clean
反之亦然

[2019-04-01 13:24] #16603 closed, assigned to nobody

[2019-04-01 13:31] kuke commented on #16588
https://github.com/PaddlePaddle/Paddle/blob/73c4f2b7b619b1bcb250c81686bc2220876faa36/python/paddle/fluid/contrib/slim/distillation/distiller.py#L174

可以参考这个写法

[2019-04-01 13:32] kuke commented on #16593
https://github.com/yeyupiaoling/PaddlePaddle-MTCNN/blob/ed9f29ecff2e8f3333f742ba8117ef567aa1d966/train/model.py#L56 将use_cudnn设置成False试试？

[2019-04-01 13:40] yeyupiaoling commented on #16588
@kuke 好的，谢谢您。

[2019-04-01 14:05] luotao1 commented on #16556
示例是https://github.com/PaddlePaddle/models/blob/8a6f5942bd8676003ed9f1be2f494996d3a23ede/fluid/PaddleRec/gnn/train.py
但executor和parallelExecutor，是一样的用法。

[2019-04-01 14:53] celineJiang commented on #16577
您好，问题已经得到解决了，谢谢您的回答！学习了！

[2019-04-01 14:54] #16577 closed, assigned to heavengate

[2019-04-01 23:09] wojtuss opened #16609 "runtime_context_cache_pass breaks accuracy of FP32 C-API inference of ResNet50 and MobileNet-v1"
The `runtime_context_cache_pass` breaks accuracy of inference of (at least) ResNet50 and MobileNet-v1 if the inference requires more than 1 iteration.

INT8 inference works fine.

Can be verified using the test in PR https://github.com/PaddlePaddle/Paddle/pull/16559.
With a single iteration, the test passes. With multiple iterations, the test fails.

[2019-04-02 01:11] yeyupiaoling commented on #16592
@kuke 在我的项目中是这个reader：https://github.com/yeyupiaoling/PaddlePaddle-MTCNN/blob/ed9f29ecff2e8f3333f742ba8117ef567aa1d966/train/reader.py#L34-L43
应当如果使用这个函数呢？

我这样使用是错误的：
[code]

报错如下：
[code]

[2019-04-02 01:14] yeyupiaoling commented on #16588
@kuke 我不太懂例子中的用法，例如在我的项目中应当如何使用呢：https://github.com/yeyupiaoling/PaddlePaddle-MTCNN/blob/ed9f29ecff2e8f3333f742ba8117ef567aa1d966/train/model.py#L74-L84

[2019-04-02 01:51] yeyupiaoling commented on #16593
@kuke 不行啊，没有效果。

[2019-04-02 02:07] yeyupiaoling opened #16610 "请教关于复现MTCNN的交叉熵损失函数问题？"
# 环境
 - PaddlePaddle （develop）
 - Python 3.5
 - Ubuntu 16.04

# 问题
cls_prob输入的是经过卷积层之后，还经过softmax激活函数，输出大小为2，复现代码：https://github.com/yeyupiaoling/PaddlePaddle-MTCNN/blob/bd08d2564e0d9f5027471e582039268099dcfd85/train/model.py#L48-L56

label是输入层的真实值。positive的标签为1，negative的标签为0，part的标签为-1，landmark的标签为-2。因为positive包含完整的人脸，其他的不是，所以会有一个操作把其他的标签都变成0

tensorflow的
[code]

我根据Tensorflow复现的：https://github.c

[2019-04-02 02:13] yeyupiaoling opened #16612 "请教关于复现MTCNN的平方差损失函数问题？"
# 环境
 - PaddlePaddle （develop）
 - Python 3.5
 - Ubuntu 16.04

# 问题
bbox_pred是网络输出的人脸box信息
bbox_target是输入层输入真实的box信息
label是输如数据的标签positive的标签为1，negative的标签为0，part的标签为-1，landmark的标签为-2。因为只有positive和part包含人脸，所以有个操作就是这两个标签设置为1，其他设置为0

[code]

我更加上面tensorflow的代码复现的平方差损失函数， 代码：https://github.com/yeyupiaoling/PaddlePaddle-MTCNN/blob/bd08d2564e0d9f5027471e582039268099dcfd85/train/model.py#L274-L289
[code]

[2019-04-02 02:22] gongweibao commented on #15644
![image](https://user-images.githubusercontent.com/10721757/55371544-2ab87180-5531-11e9-8d45-9052dc2effde.png)

[2019-04-02 02:27] okboy32 opened #16613 "mnist示例代码optimizer报错"
mnist示例代码optimizer报错
- 版本、环境信息：
    1）PaddlePaddle版本：1.3.1 Numpy: 1.14.2
    2）CPU：2.2 GHz Intel Core i7
    4）系统环境：例如Mac OS 10.14.4，Python Anaconda 3.6 [https://pan.baidu.com/s/1TAZ3AxeW_SLW_ySoj0qc2A](url)
提取码: hvgc

[2019-04-02 02:35] sneaxiy commented on #15644
You can set `FLAGS_fraction_of_gpu_memory_to_use=1` to fix temporarily.

[2019-04-02 03:31] Samhandsome opened #16615 "关于视频预测"
请问训练好的视频模型，怎么和视频流结合起来呢？Paddle有和Opencv的接口吗？或者有什么办法读取视频吗？

[2019-04-02 03:46] LeoZhao-BJ commented on #16473
More test (over 12000 tests) results and investigation come out:

1. Confirmed by removing fc_fuse_pass or setting WITH_MKL=OFF, this issue is gone.
2. Confirmed the out from NativePredictor is always correct.

Another new finding is when WITH_MKL=ON and WITH_MKLDNN=OFF, this issue is gone.
When WITH_MKL=ON, blas functions use dynamic-load to open libmkldnn_intel.so and get functions, while if WIT

[2019-04-02 03:54] Kontinuation opened #16616 "Training hangs when training resnet101 on P40 * 4 GPUs"
I submitted multiple training jobs to paddlecloud with same configuration, they all hang after several iterations (50 - 700):
* Paddle version: fluid v1.3
* GPU: P40 * 4 on a single host, CUDA Version: 9.0, CUDNN Version: 7.0
* Model: ResNet 101, batch size: 240

I reproduced this problem with logging enabled (`GLOG_vmodule=threaded_ssa_graph_executor=10,operator=4`), and produced this [training l

[2019-04-02 04:14] luotao1 commented on #16609
Could you tell me how to reproduce it? Could you paste the command to me directly?

[2019-04-02 05:08] PengheLiu opened #16619 "使用分布式训练出现 11889 Segmentation fault"
*fluid1.3版本，cpu版本，mpi集群分布式训练出现以下错误*
++ /home/disk1/normandy/maybach/app-user-20190402103653-6089/workspace/python27-gcc482//bin/python train.py --train_dir ./train_data --dict_size 48295147 --model_dir ./output/model --is_local 0 --embed_size 64 --pass_num 50 --window_size 8
*** Aborted at 1554173334 (unix time) try "date -d @1554173334" if you are using GNU date ***
PC: @                0x0 (unkn

[2019-04-02 05:31] tensor-tang commented on #16473
That's interesting.

Is there any potential issue about omp?  Because both MKLDNN and MKL need this.

And we explicit dyload `libmklml_intel.so` but not `iomp.so`.

[2019-04-02 05:43] LeoZhao-BJ commented on #16473
when WITH_MKL=ON and WITH_MKLDNN=OFF, the program binary will report:
[code]
I need to set LD_LIBRARY_PATH manually to let it run. it means iomp is not added into link list well since dlopen is used, I think this is another issue in makefile for cmake option "WITH_MKL=ON&&WITH_MKLDNN=OFF".

From code investigation, dam compare case should not be affected by MKLDNN since mkldnn fuse is not used at

[2019-04-02 05:54] walloollaw commented on #16616
补充下， 这个任务在2卡 P40和 4卡K40 上都是好的，只在4卡 P40上会夯住

[2019-04-02 05:58] LeoZhao-BJ commented on #16473
I am trying to change flag in dlopen, use "RTLD_GLOBAL" and "RTLD_NOW", any other suggestions ? @tensor-tang

[2019-04-02 05:59] wangliwei-intel commented on #9256
@dzhwinter Where can I get the source code of those operators? It seems most of them are NOT included in the upstream Eigen.
Thanks a lot.

[2019-04-02 06:08] sshilei opened #16627 "pserver模式执行出core，本地模式没问题。"
paddlecluode jobid : job-0bb5ca2d76873f0d

![image](https://user-images.githubusercontent.com/18701471/55379820-c907ff80-5550-11e9-99f0-9cd14a6809f3.png)

[2019-04-02 06:12] xyq019971 opened #16630 "多卡训练提示找不到"libnccl.so*""
EnforceNotMet: Failed to find dynamic library: libnccl.so ( libnccl.so: cannot open shared object file: No such file or directory ) Please specify its path correctly using following ways: Method. set environment variable LD_LIBRARY_PATH on Linux or DYLD_LIBRARY_PATH on Mac OS. For instance, issue command: export LD_LIBRARY_PATH=... Note: After Mac OS 10.11, using the DYLD_LIBRARY_PATH is impossibl

[2019-04-02 06:14] gongweibao commented on #16627
这个不是最开始的错误。你看一下是不是有节点没有启动起来或者死掉了？
这个错误的意思是说对方节点迟迟没有回应。

[2019-04-02 06:27] wojtuss commented on #16609
It is already reproduced on CI (http://ci.paddlepaddle.org/viewLog.html?buildId=79052&buildTypeId=Paddle_PrCi) for build PR_CI (Paddle) in https://github.com/PaddlePaddle/Paddle/pull/16559.

Otherwise build https://github.com/PaddlePaddle/Paddle/pull/16559 and run the test
[code]
or
[code]
I have modified the test so it runs 2 iterations. With the `runtime_context_cache_pass` it fails, without the

[2019-04-02 06:37] luotao1 commented on #16609
I reproduce it, and I am debugging now.

[2019-04-02 07:35] kuke commented on #16593
@yeyupiaoling 看来不是这个问题

[2019-04-02 07:37] yeyupiaoling commented on #16593
@kuke 那是什么问题呢？是损失函数的问题？还是网络的问题？还是优化方法的问题？

[2019-04-02 07:38] kuke commented on #16592
https://github.com/PaddlePaddle/Paddle/blob/566a3259397464a605d792965ff625a39f65140d/python/paddle/reader/tests/decorator_test.py#L196

用法可以参考这里

[2019-04-02 07:49] kuke commented on #16588
https://github.com/PaddlePaddle/models/blob/f001d4b8ba61b5771ed96fa2f0ef71dc7d93bca7/fluid/PaddleNLP/machine_reading_comprehension/run.py#L321

如果手写l2_loss可以参考这个例子

或者，在optimizer里面用l2正则

https://github.com/PaddlePaddle/Paddle/blob/582011ba76baab02dcc9fbaf3536d781ba59dc3b/python/paddle/fluid/tests/unittests/test_regularizer.py#L185

[2019-04-02 07:56] kuke commented on #16593
这得实际跑一下才能知道了，直接看不易发现问题

[2019-04-02 08:01] gongweibao commented on #16630
find 一下libnccl.so在哪里，然后把LD_LIBRARY_PATH添加一下。nccl的没有。

[2019-04-02 08:01] #16630 closed, assigned to nobody

[2019-04-02 08:01] #16627 closed, assigned to nobody

[2019-04-02 08:04] yeyupiaoling commented on #16593
@kuke 需要完整的数据集么？我给您。

[2019-04-02 08:08] gongweibao commented on #16613
能否先跑一下我们model的例子那？

[2019-04-02 08:10] gongweibao commented on #16615
这个还没有。。。

[2019-04-02 08:11] chengduoZH commented on #16616
@walloollaw 您在本地能够复现吗？

[2019-04-02 08:13] yeyupiaoling commented on #16588
@kuke 在tensorflow复现的MTCNN模型中，是在把各个的损失值相加的时候加上`L2_loss`，上面的做法可以么？
[code]

[2019-04-02 08:16] seiriosPlus commented on #16619
在配置里面加一下日志的FLAG吧
GLOG_v=4
GLOG_logtostderr=1

[2019-04-02 09:21] tensor-tang commented on #16586
1/1 Test : test_analyzer_small_dam ..........***Exception: Other  1.25 sec

How to confirm failed inside seqpool_concat_fuse_pass? Do you have trackback?

[2019-04-02 09:26] LeoZhao-BJ commented on #16586
can't confirm, just from log analysis, it doesn't enter next fuse pass processing.
I didn't have chance to back trace, the reproduce rate is much low.

[2019-04-02 09:39] tensor-tang commented on #16473
Actually iomp is linked here:
https://github.com/PaddlePaddle/Paddle/blob/b75a69bad6ecc73a057faae3316d29a3a5c9386f/cmake/generic.cmake#L285

I am afraid it's not acceptable as a final solution since some gpu libs are used in this way as well, but you can try if it helps.

[2019-04-02 10:12] LeoZhao-BJ commented on #16473
Tried different ways on dlopen flag, no effect at all.
Just realize that output waving between "0.740587" and "0.740586" is caused by mkldnn, for mkldnn compare, it always outputs "0.740586", mkl compare always outputs "0.740587".

wondering mkldnn execution may introduce random issue, testing with keeping normal cmake options but removing all mkldnn cases, and see if this issue will go.

[2019-04-02 10:24] kuke commented on #16588
@yeyupiaoling 可以的

[2019-04-02 10:40] xyq019971 commented on #16630
找不到  libnccl.so

[2019-04-02 10:52] LeoZhao-BJ commented on #16473
The reality is if set WITH_MKL=ON and WITH_MKLDNN=OFF in cmake, test tools will hit failure, seems this link rule doesn't work well in this case. will check this issue tomorrow if have time.

[2019-04-02 11:30] AWSWXY opened #16637 "exe.run(fetch_list=[loss.name]) 获取参数报错"

[2019-04-02 11:31] AWSWXY commented on #16637
![image](https://user-images.githubusercontent.com/18156360/55399492-cec80a00-557d-11e9-8963-3fee20977c98.png)

[2019-04-02 11:35] gongweibao commented on #16630
那得装一个呀。

[2019-04-02 11:40] seiriosPlus commented on #16637
看上去是reader的问题，贴一下reader相关的定义代码？

[2019-04-02 11:57] #16613 closed, assigned to nobody

[2019-04-02 11:59] Samhandsome commented on #16615
@gongweibao 那现在有什么解决办法吗？

[2019-04-02 12:03] gongweibao opened #16638 "warpctc.so找不到"

[2019-04-02 12:03] gongweibao commented on #16638
编译release版本可以解决这个问题。

[2019-04-02 12:03] #16638 closed, assigned to nobody

[2019-04-02 12:04] gongweibao commented on #16615
@qingqing01 知道吗？

[2019-04-02 12:38] phonism commented on #16444
@wopeizl 模型结构大概是这样
[code]
输入是统一padding了一下，没有使用lod_tensor
[code]

[2019-04-02 13:17] a6802739 opened #16641 "关于运行时优化的问题咨询"
请教下, IR目录下有很多pass是关于运行时优化的，请教下有每种pass主要是做哪方面的优化。

[2019-04-02 13:44] ccmeteorljh opened #16642 "使用dataset 跑text_classification模型报错"
paddle version:1.4.0
1. dataset executor run报错
[code]
2. set -o pipefail 错误
[code]

[2019-04-03 00:16] LeoZhao-BJ commented on #16473
night test proves that this random issue is introduced by mkldnn path, considering another fact that removing fc_fuse_pass this issue is gone also, the next step investigation will focus on fc_fuse_pass in mkldnn enabled case.

[2019-04-03 00:42] yeyupiaoling opened #16644 "请问如何使用sigmoid_cross_entropy_with_logits接口？"
# 环境
 - PaddlePaddle 1.3
 - Ubuntu 16.04
 - Python 3.5

# 问题
对于多标签如何使用以下接口：
[code]

例如模型中需要性别分类和年龄分类：
[code]

[2019-04-03 01:35] xyq019971 opened #16645 "多卡训练报错"
File "/home/ubuntu/anaconda3/envs/paddlepaddle/lib/python3.6/site-packages/paddle/fluid/executor.py", line 535, in run
    return_numpy=return_numpy)

  File "/home/ubuntu/anaconda3/envs/paddlepaddle/lib/python3.6/site-packages/paddle/fluid/executor.py", line 444, in _run_parallel
    exe.run(fetch_var_names, fetch_var_name)

EnforceNotMet: Invoke operator matmul error.
Python Callstacks:
  File "

[2019-04-03 01:36] xyq019971 commented on #16645
place = fluid.CUDAPlace(0)#CUDA

exe = fluid.executor.Executor(place)
# 进行参数初始化

exe.run(fluid.default_startup_program())#第三部分
main_program = fluid.default_main_program()
compiled_prog = fluid.compiler.CompiledProgram(main_program).with_data_parallel(
            loss_name=avg1.name)

weightpath='./weight/33600'
if weightpath is not None:
   fluid.io.load_params(exe, weightpath)
#main_program = fl

[2019-04-03 01:36] xyq019971 commented on #16645
是我程序写错了吗

[2019-04-03 01:37] xyq019971 commented on #16645
谁能给我一个多卡训练的简单例程啊，谢谢大佬

[2019-04-03 01:51] lgone2000 opened #16646 "fluid.layers.mean 不支持name参数"
fluid的layers 大部分都支持name参数，为啥有个别的不支持？

[2019-04-03 01:53] lgone2000 commented on #16646
softmax_with_cross_entropy 也不支持

[2019-04-03 02:07] xyq019971 opened #16649 "多卡可以训练，但是我想传入一个权重矩阵和label相乘就报错，单卡情况下不报错"
EnforceNotMet: Cannot find fetched variable.(Perhaps the main_program is not set to ParallelExecutor) at [/paddle/paddle/fluid/framework/details

[2019-04-03 02:08] xyq019971 commented on #16649
x = fluid.layers.data(name='x', shape=[3,1024,512],dtype='float32')#数据层python to paddle
y = fluid.layers.data(name='y', shape=[1],dtype='int64')
z1 = fluid.layers.data(name='z', shape=[9,9],append_batch_size=False,dtype='float32')

#*****************
#网络结构
#*****************
b1=enet.pspnet18(x)

#*****************
#损失函数和优化方法
#*****************
predict = fluid.layers.transpose(b1, perm=[0, 2, 3, 1]

[2019-04-03 02:22] luotao1 commented on #16473
I find `jit_kernel_test` random fails at
http://ci.paddlepaddle.org/viewLog.html?buildId=79730&tab=buildLog&buildTypeId=Paddle_PrCiReleasePython3514&logTab=tree&filter=all&_focus=14109
[code]
Is it related to this issue?

[2019-04-03 02:44] LeoZhao-BJ commented on #16473
I think this is another issue at least in small dam case. High stress test may expose new issues, e.g. run same case for more than 10K times.

From my multiple test results comparing, seems this random issue has its law, it binds with mkldnn execution and fc_fuse_pass, if we disable either of them, this issue is gone.
mkldnn stack itself is ok if it doesn't run, I highly suspect mkldnn execution i

[2019-04-03 03:02] LittleBenXi commented on #3022
DeepSpeech得在python2.7环境下运行，安装paddle的时候也得是python2.7环境。在python3环境下安装，就会报这个错误。

| |
李同学
|
|
15210009859@163.com
|
签名由网易邮箱大师定制
在2019年3月29日 15:06，aaronlyt<notifications@github.com> 写道：

请问怎么解决的呢

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-03 03:58] AIFollowers opened #16653 "模型对齐时，一次fetch多个变量的梯度时，会出错"
![c85fdfc465faf1207c87cd4a33faff7b](https://user-images.githubusercontent.com/42403163/55451841-4d1cbe80-5607-11e9-965f-cda6ebac6f3a.jpg)
在对齐模型时，如果一次想fetch多个变量的梯度，会差生错误，即变量对应的形状跟梯度值是错误的，如上图所示；如果一次只fetch一个变量的梯度，不会产生错误，如下图所示；
<img width="683" alt="4d11302ac9edb2395316dfea43389c61" src="https://user-images.githubusercontent.com/42403163/55451906-93721d80-5607-11e9-9cfa-e49968de536c.png">

[2019-04-03 04:03] MyPandaShaoxiang opened #16654 "group_norm op计算出 nan, 计算结果中方差存在负数"
   PaddlePaddle版本：develop分支 commit:ed61d67c737590ebf2819ca9770a9a6d4e294880
   cpu5117，centos6u3, python版本
   跑deeplabv3模型，在第一个groupnorm输出结果中出现nan, 查看group_norm参数scale和bias,输入均无nan,输入数据正常， 经查看发现group_norm输出的var存在负数，可能导致开方后出nan

模型输入是全1数据，op输入为1*32*513*1025, group=32，输出中前后部分有数据，中间部分为nan

[2019-04-03 04:04] gongweibao opened #16655 "A bug about is_distributed:"
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/compiler.py#L154

Multi trainers trainning is also distributed trainning.

[2019-04-03 04:12] sneaxiy commented on #15384
Fix in PR #15799.

[2019-04-03 04:12] #15384 closed, assigned to chengduoZH, sneaxiy

[2019-04-03 06:06] AIFollowers opened #16657 "无法恢复继续训练"
问题：基于develop分支编译的paddle，在单机多卡的情况下，无法恢复继续训练；
模型：https://github.com/AIFollowers/models/fluid/PaddleCV/rcnn；
启动脚本：python train_debug.py --model_save_dir=output/ --pretrained_model=output/model_final --data_dir=/home/ai/dataset/COCO17 --MASK_ON=False --max_iter=360000 --parallel=True  --m_optim=True --save_var=False --save_grad=False | tee train.log
<img width="1437" alt="image" src="https://user-imag

[2019-04-03 06:24] Shixiaowei02 commented on #16654
@MyPandaShaoxiang 请帮忙使用正式版 v1.3 验证一下问题是否也存在，谢谢！

[2019-04-03 06:44] Robets2020 opened #16659 "Paddle中是否有类或函数, 其功能和tensorflow中的NewCheckpointReader一样?"

[2019-04-03 06:56] LeoZhao-BJ commented on #16473
Narrow down test case sequence for reproducing random issue.
In one test cycle (means in one process), placing mkldnn case (profile_mkldnn) before compare will trigger issue, it is obvious that mkldnn introduces issue.

[2019-04-03 07:15] bluemandora commented on #13824
这里的inference_scope是怎么获取的？

[2019-04-03 07:20] ccmeteorljh commented on #16642
在Ubuntu下直接执行set -o pipefail会报错；
测试了下发现在Ubuntu下的 sh 是dash的软连接，如果将其修改为bash的软连接执行，则正常运行

[2019-04-03 07:32] #16642 closed, assigned to nobody

[2019-04-03 07:33] gongweibao commented on #16641
比较多。后续我们加入文档。

[2019-04-03 07:33] #16641 closed, assigned to nobody

[2019-04-03 07:33] gongweibao commented on #16637
Hi上已经解决了。

[2019-04-03 07:33] #16637 closed, assigned to nobody

[2019-04-03 07:57] guoshengCS commented on #16644
使用sigmoid_cross_entropy_with_logits做多标签分类的话不需要多个fc，比如这里对性别分类和年龄分类只需要一个size为2的fc，而且fc不需要加softmax，fc的输出的shape为[batch_size, 2]，然后label这个data input的shape和也要是[batch_size, 2]这样对应了两个独立的二分类，sigmoid_cross_entropy_with_logits中会对这两个二分类分别计算loss

[2019-04-03 08:02] yeyupiaoling commented on #16644
@guoshengCS 但是年龄不是二分类哦，所在这个大小跟性别不同
能否给例子看看

[2019-04-03 08:07] luotao1 commented on #16609
Do you have any observation why with `runtime_context_cache_pass` it fails?
I try two ways, but it doesn't help me:
- `cfg->SwitchSpecifyInputNames();`, set the PaddleTensor' name correct
- move `runtime_context_cache_pass` to the end of passes

https://github.com/PaddlePaddle/Paddle/compare/develop...luotao1:int8_cache?expand=1
[code]

[2019-04-03 08:17] guoshengCS commented on #16644
不是二分类的话不能使用sigmoid_cross_entropy_with_logits，做成多任务的把两个loss加起来就行

[2019-04-03 08:19] yeyupiaoling commented on #16644
@guoshengCS 哦哦，好的。谢谢。

[2019-04-03 09:04] wang-kangkang opened #16661 "在fluid中，如何用load_inference_model依次加载两个模型并先后使用？"
环境：fluid1.3
语言：python3.6
由于用load_inference_model的时候会修改一些用户不可见的环境变量，所以执行后一个load_inference_model的时候会把前一个模型的环境变量覆盖，导致前一个模型不能用，或者说再用的时候就需要再加载一次。此时需要用
xxx_scope = fluid.core.Scope()
with fluid.scope_guard(xxx_scope):
保护一下。

[2019-04-03 09:04] #16661 closed, assigned to nobody

[2019-04-03 09:07] #16534 closed, assigned to chengduoZH

[2019-04-03 09:10] guoshengCS commented on #16646
layer的name参数会用来对layer中包含的参数和输出进行命名，确实有些layer没有留出来这个参数，默认会使用layer的type加上个idx作为name进行命名，可以参考这里fc的name处理
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L301
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layer_helper.py#L36

[2019-04-03 09:51] liujian07 opened #16665 "在一个迁移paddle的项目中，确认paddle的api是否能满足需求"
在一个模型训练任务迁移到paddle的过程中，想知道所需功能，PaddlePaddle的api是否能支持（之前跟闫旭交流过，这里的很多功能，paddlepaddle正在开发中。）如果能支持的话，请告诉我api的用法，或者wiki网址。

功能列表如下：
1、各卡上数组求最大值   reduce max
2、将GPU卡上某个数据复制到GPU0或者CPU内存里   as_in_context
3、各卡上数组减去某个数   element sub
4、各卡上数组求指数   element exp
5、各卡上数组的求和   reduce sum
6、各卡上数组元素除以某个数   element div
7、卡上的某个数据单元减去一个数 sub
8、在自定义loss是否能执行以上的操作？

谢谢！

[2019-04-03 09:53] a6802739 commented on #16641
能不能先给一些参考链接。@gongweibao

[2019-04-03 10:05] AIFollowers commented on #16657
cmake .. -DWITH_GPU=ON  -DWITH_TESTING=OFF -DWITH_AVX=ON编译时，不要不要关闭AVX，经过上面的修复，就可以

[2019-04-03 10:16] gongweibao commented on #16641
这个好像还没有文档。。。现在主要是公司内开发人员用。。。

[2019-04-03 10:16] gongweibao commented on #16641
您是？

[2019-04-03 10:53] junjun315 commented on #16613
这个报错应该是我们util里的一个方法有问题。不支持py3，主要是paddle.util.plots。可以切换python2.7版本。在下个版本里我们会修正这个错误

[2019-04-03 10:58] ccmeteorljh opened #16668 "使用dataset测试ctr单机，auc对不上"
paddle version: 1.4.0
预期结果：
[code]
实际测试结果：
[code]

[2019-04-03 11:43] Yancey0623 commented on #16665
[reduce_max op](http://paddlepaddle.org/documentation/docs/zh/1.3/api/layers.html#reduce-max)

2、将GPU卡上某个数据复制到GPU0或者CPU内存里 as_in_context
这个暂时不支持，但支持 collective op，这个具体是啥场景呢？

3、各卡上数组减去某个数 element sub/sum/dev/exp(power)

可以在官网搜一下 关键字：**elementwise** ：http://paddlepaddle.org/searchdoc?q=elementwise&language=zh&version=1.3

7、卡上的某个数据单元减去一个数 sub

没太明白，是说tensor中某个维度的值减去一个scalar？

8、在自定义loss是否能执行以上的操作？

[2019-04-03 11:48] a6802739 commented on #16641
嗯嗯，多谢您了。应该有一些文档开发的时候作为参考吧？

gongweibao <notifications@github.com> 于 2019年4月3日周三 下午6:16写道：

[2019-04-03 12:01] snowsteper opened #16670 "CNN网络C++预测输入问题"
任务：文本分类任务
模型网络：Input(int64) -> embedding -> cnn -> predict_label

网络的输入是变长的sequence，假设每个数据输入是[1,N]，N是seqence的长度，写代码时创建输入Tensor会遇到如下问题：
1. Tensor.shape = {N, 1}  不报错，模型输出相当于只输入了tensor的第一个id

2. Tensor.shape = {1, N}  报错， 提示embedding维度最后一维必须是1
Enforce failed. Expected ids_dims[ids_rank - 1] == 1, but received ids_dims[ids_rank - 1]:12 != 1:1.
The last dimension of the 'Ids' tensor must be 1. at [/Pa

[2019-04-03 12:27] guoshengCS commented on #16670
设置lod的这一行 `in_tensor.lod.emplace_back(std::vector<size_t>({ 0, 1 }));` 可能有些问题，lod需要是batch中每一个sequence的起始位置的list，如batch中包含length为5和6的两个sequence，则lod要是[0,5,11]，batch中包含length为5的一个sequence则lod要是[0,5]

[2019-04-03 13:01] randomtutu opened #16674 "embedding 的具体实现方式和 pytorch实现的差别"
_ 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.3
    2）CPU：E5
    3）GPU：tesla p10
    4）系统环境：redhat /python3.6
- 模型信息
    1）模型名称: ernie 2）自由数据集 3）模型链接 https://github.com/PaddlePaddle/LARK
- 复现信息：
   模型转换为pytorch的ckpt并加载之后，同样的id 进行embedding的结果不同
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

因为paddle文档比较少，因此想要把转换成pytorch。

我使用 https://github.com/PaddlePaddle/LARK/issues/37 上的脚本，将padd

[2019-04-03 13:06] littletomatodonkey opened #16675 "Cannot get input Variable"
我在写一个模型的时候，提示`paddle.fluid.core.EnforceNotMet: Cannot get input Variable Out@GRAD, variable name = bbox_pred_std_nexp.tmp_0@GRAD at ...`，我用`fluid.layers.Print`打印变量，查看是没问题的（没有空值），想问一下这是什么问题呢？

[2019-04-03 13:26] guoshengCS commented on #16675
能否提下完整代码呢，或者网络只定义到loss不加optimazer相关内容，看下是否能运行

[2019-04-03 13:28] qingqing01 commented on #16615
@Samhandsome  PaddlePaddle框架本身没有提供对视频读取接口，一般在用户预测程序里处理。
1. 如果您是Python预测，可以通过python-cv2(或其他python库)处理视频，再使用Paddle Python预测。
2. 如果您是C++里做预处理，将Paddle预测库(lib) 和 OpenCV库或其他读取视频库联编，处理视频数据，将处理过的数据作为预测lib的输入。 如何使用Paddle C++预测库可以详细参考官网文档。

[2019-04-03 14:38] luotao1 commented on #16609
Some observation:
- When I move `runtime_context_cache_pass ` before `fc_fuse_pass`: accuracy normal.
- When I move `runtime_context_cache_pass` before `fc_fuse_pass`, and then delete `fc_fuse_pass`: accuracy fails.

[2019-04-03 15:18] luotao1 commented on #16473
Is https://github.com/PaddlePaddle/Paddle/issues/16609#issuecomment-479518016 related with this issue?

[2019-04-04 01:14] littletomatodonkey commented on #16675
[code]

这是fast rcnn head定义fast rcnn loss中的一段代码，cls_score是`(-1,81)`的var， `bbox_pred`, `bbox_pred_std`是`(-1,324)`的var。我对其做了一些修改，默认的smooth l1 loss定义如下
[code]

我做了以下尝试：
1. 不返回`loss_box_std`，仍然会报错
2. smooth_l1中使用设置参数`outside_weight=self.bbox_outside_weights`，此时不会报错。

[2019-04-04 01:58] LeoZhao-BJ commented on #16473
@luotao1 Not sure, but worth to try.

Update for investigation result for 4/3:

1. Big probability to rule out mkldnn, since I tried to keep all test cases but disable mkldnn enabling in mkldnn related cases, I still saw accuracy issue once (reproduce rate is low, so still need double confirm).
2. Find another approach to reproduce more quickly. I add loop in dam test, e.g. in compare case,
[code]

[2019-04-04 02:16] luotao1 commented on #16473
Maybe it is related to https://github.com/PaddlePaddle/Paddle/issues/15032#issuecomment-455534148

[2019-04-04 02:17] LeoZhao-BJ commented on #16473
BTW, proving failure is much easy and quick, you just need to see one error, but proving success takes long time, at least >10K and 6+ hours test, so it is a little time consuming.

[2019-04-04 02:27] guoshengCS commented on #16675
这个应该是因为smooth_l1中不设置`outside_weight=bbox_pred_std_nexp`时`bbox_pred_std_nexp`这个var没有接入到网络中，无法从loss获取到梯度，但是smooth_l1或者exp的反向计算需要用到这个梯度

[2019-04-04 02:40] ccmeteorljh opened #16679 "使用dataset 测试simnet-bow infer报错"
[code]

[2019-04-04 03:10] snowsteper commented on #16670
确实，lod维度的问题，已经解决，感谢！

[2019-04-04 03:11] #16670 closed, assigned to nobody

[2019-04-04 03:47] LeoZhao-BJ commented on #16473
Yes, it is same issue with #15032

[2019-04-04 04:01] #16609 closed, assigned to luotao1

[2019-04-04 04:10] guoshengCS commented on #16659
这个是说希望不依赖模型直接读取保存的参数值吗

[2019-04-04 04:18] guoshengCS commented on #16649
请问这个和 #16645  是同一个问题吗

这个可能是因为权重矩阵z1与data的shape不一致导致多卡数据无法拆分，可以试下将权重矩阵加上batch_size的维度进行expand，另外也可以试下使用python代码在外部进行label的加权。

[2019-04-04 05:24] #15708 closed, assigned to mozga-intel

[2019-04-04 05:27] luotao1 commented on #16174
close due to #16606

[2019-04-04 05:27] #16174 closed, assigned to LeoZhao-BJ

[2019-04-04 06:25] tensor-tang commented on #16473
http://ci.paddlepaddle.org/viewLog.html?buildId=79730&tab=buildLog&buildTypeId=Paddle_PrCiReleasePython3514&logTab=tree&filter=all&_focus=14109

@luotao1  That's issue in release branch,  not related to this one.

[2019-04-04 06:28] chengduoZH commented on #16645
@xyq019971
报错信息显示matmul计算计算有问题，建议您检查一下网络。
[code]

[2019-04-04 06:36] chengduoZH commented on #16645
你是使用的`fluid.default_startup_program()`吗？如果模型是定义在`fluid.default_startup_program()`里面，下面的调用是应该没有问题的。

[code]

[2019-04-04 06:44] chengduoZH commented on #16649
@xyq019971 你可以把memory优化去掉然后试一下
[code]

[2019-04-04 07:14] jerrywgz commented on #16612
在paddle下valid_inds是有效标签的index还是一个mask（有效标签为1，其余位置为0）？
进一步debug的话可以手动给个label然后看下valid_indes在tf下和paddle下是否一致

[2019-04-04 07:15] jerrywgz commented on #16610
这个问题和https://github.com/PaddlePaddle/Paddle/issues/16612是否一样？

[2019-04-04 07:51] yihuaxu opened #16688 "The order issue of graph_helper's unordered_set"
在复现[ISSUE#16316](https://github.com/PaddlePaddle/Paddle/issues/16316)时候发现，graph_helper里使用了unordered_set来保存节点，但是发现unordered_set元素的插入顺序和再重新读出来的顺序不一致。
    1）PaddlePaddle版本: 76b49f02ee642f83f4965a86ec08dad9219fa91b
    2）CPU: No AVX / No MKLML
    3）系统环境: CI 节点 yq01-gpu-255-134-14-04
    4）尝试解决思路:
            将排序部分移至graph转program之前或是将unordered_set改为vector。
    5）Log Patch:
[code]
    6）Log:
[code]

[2019-04-04 08:05] LeoZhao-BJ commented on #16473
potential related issue: https://github.com/PaddlePaddle/Paddle/issues/16688

[2019-04-04 08:11] chensy88 commented on #6725
想问一下，在python代码上，paddle有没有什么方法指定gpu（并不一定是第0块），类似于pytorch：torch.device("cuda: 1")。

[2019-04-04 08:12] chensy88 commented on #6725
想问一下，在python代码上，paddle有没有什么方法指定gpu（并不一定是第0块），类似于pytorch：torch.device("cuda: 1")。

[2019-04-04 08:15] yihuaxu commented on #16688
#16316

[2019-04-04 09:00] tensor-tang commented on #16586
I still did not reproduce it with both release and debug build.

Does it related with #16688 ?

[2019-04-04 09:17] LeoZhao-BJ commented on #16586
quit hard to reproduce, and not sure if it is related with #16688

[2019-04-04 11:22] yeyupiaoling commented on #16612
@jerrywgz

这一步是正常的，我输出过信息对比过了。

[2019-04-04 11:23] yeyupiaoling commented on #16610
@jerrywgz 不一样，针对不同的损失函数。

[2019-04-04 11:33] jerrywgz commented on #16612
我看你最后一步用的是reduce sum？另外没有加topk吗

[2019-04-04 11:42] jerrywgz commented on #16610
这里也应该使用reduce mean吧

[2019-04-04 13:18] guoshengCS commented on #16674
这个不是特别清楚，Paddle的话embedding层是一个查表操作，参数是一个dict_size*embed_dim的矩阵

[2019-04-05 00:53] LeoZhao-BJ commented on #16586
I think it is due to some system issues, I ran 3 processes to do same test simultaneously, and these tests hit same failure almost within closed 1 second.
sometimes failure in another place, like
[code]

[2019-04-05 11:48] AWSWXY opened #16692 "节点hang住之后失败"
http://10.87.138.44:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190405140253-12479/

[2019-04-05 11:49] AWSWXY commented on #16692
http://10.87.138.44:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190405140253-12479/

[2019-04-06 03:16] #16594 closed, assigned to jacquesqiao, colourful-tree

[2019-04-06 04:13] gongweibao opened #16693 "Bert train speed on 4*4 is higher than on 2*8"
[code]

[2019-04-06 09:22] littletomatodonkey commented on #16675
您好，应该是这样的，我把这个loss也返回回去到fetch list中，可以正常运行，谢谢

[2019-04-07 02:08] #16615 closed, assigned to qingqing01

[2019-04-08 01:23] LeoZhao-BJ commented on #16473
Bunch of tests point to patterns::FC in fc_fuse_pass, even remove new fc op creation in lambda, this issue is still there, it seems the issue is introduced by GraphPatternDetector.

[2019-04-08 01:33] yeyupiaoling commented on #16612
@jerrywgz 我看它的`keep_num`应该是全部的，所以我就没有加了。

[2019-04-08 01:34] yeyupiaoling commented on #16610
@jerrywgz 好的，我试试。

[2019-04-08 01:34] #16588 closed, assigned to kuke

[2019-04-08 01:35] #16549 closed, assigned to jerrywgz

[2019-04-08 02:43] xjqbest commented on #16679
already solved by pulling pr code last Thursday

[2019-04-08 02:53] xjqbest commented on #16668
you can pull this in local : https://github.com/PaddlePaddle/Paddle/pull/16652/commits
and try new wiki:  http://wiki.baidu.com/pages/viewpage.action?pageId=717062467

[2019-04-08 05:05] #16679 closed, assigned to nobody

[2019-04-08 06:12] tensor-tang commented on #16586
I ran 10000 times in both release and debug model with command `./paddle/fluid/inference/tests/api/test_analyzer_small_dam --infer_model=third_party/inference_demo/small_dam/model/ --infer_data=third_party/inference_demo/small_dam/data.txt --max_turn_num=1 --gtest_filter=Analyzer_dam.profile`, all passed.

[2019-04-08 06:16] LeoZhao-BJ commented on #16586
my cmd is "ctest -R test_analyzer_small_dam -V" in a batch run script, it needs a test suite sequence instead of just one case, otherwise some failures can't reproduce.

[2019-04-08 06:23] tensor-tang commented on #16586
`make test ARGS="-R test_analyzer_small_dam -V"` is running to 2181 times, still pass.

Is it possible related with some env exports?

[2019-04-08 06:27] luotao1 commented on #16586
Since `seqpool_concat_fuse_pass` is not common, how about disable it in default? @tensor-tang

[2019-04-08 06:29] tensor-tang commented on #16586
OK for me, we can only enable `seqpool_concat_fuse_pass` at the specific tests.

But the problem is still there as @LeoZhao-Intel said `sometimes failure in another place`

[2019-04-08 06:30] LeoZhao-BJ commented on #16586
I suspect this is a kind of system issue, and I see it impacts all test processes in same time not just one, and reproduce rate is much much low, I suggest we can keep here to monitor later.

[2019-04-08 07:23] littletomatodonkey opened #16705 "怎么按照shape创建一个variable"
bbox_inside_weights是一个lodtensor，我想创建一个和它shape都相同的variable，值全为1，如下所示
[code]
提示**AssertionError: The shape is invalid: (-1L, 324L).**，想问一下怎么方便地实现我的这个功能呢？

[2019-04-08 08:22] littletomatodonkey commented on #16705
刚才试了一下，下面的代码可以创建一个全为1的tensor，shape与输入的var的shape相同
[code]

[2019-04-08 08:46] wanghaoshuang commented on #16692
抱歉，根据您提供的日志链接，暂未定位到任务hang住的原因。

[2019-04-08 10:15] #16659 closed, assigned to nobody

[2019-04-08 13:14] xiangyubo commented on #15944
@yeyupiaoling 我也遇到和你一样的问题呢，我之前1.2在 windows 上也没有问题，升级到1.3就import错误

[2019-04-08 13:15] yeyupiaoling commented on #15944
@yeyupiaoling 我也没辙，

[2019-04-08 15:49] Rivensa opened #16714 "本地多台服务器构建CPU集群"
本地有多台服务器，想要构建PaddlePaddle的CPU集群，请问有相关的教程吗？
目前在文档中找不到详细的教程。只需要服务器之间可以互相ssh登录，再各自装上CPU版的paddlepaddle就可以了吗？需不需要其他环境或者软件

[2019-04-09 02:10] gongweibao opened #16717 "DGC should be polished"
- [ ] 最小值应该用户可以设定而不是写死。
- [ ] clean inference dependency
- [ ] add single pass to add dgc op
- [ ] add sparse_allreduce_op_handles
- [ ] 防御编程：防止指定dgc但是却没有实际运行dgc 。

[2019-04-09 02:11] #16693 closed, assigned to nobody

[2019-04-09 02:12] gongweibao commented on #16717
https://github.com/PaddlePaddle/Paddle/pull/15841#discussion_r273109016

[2019-04-09 02:36] LeoZhao-BJ commented on #16473
issue seems in patterns::FC

[code]
"mul_out_var" line is the edge for the issue, but it is strange that there is no obvious defect there.

[2019-04-09 02:54] junjun315 commented on #16511
看了一下报错，报错里有说需要把C:\Users\Administrator\Miniconda3\envs\test路径加入到path环境变量中。pip安装时，paddle需要找到lib目录来放置编译的库文件，miniconda这类环境关联lib时可能关联不好

[2019-04-09 03:29] DDDivano opened #16718 "SE_ResNeXt50_32x4d模型下,多CPU、GPU使用不同的reduce报错"
![image](https://user-images.githubusercontent.com/10734244/55771384-78495700-5aba-11e9-8ff0-e90b48479d10.png)
![image](https://user-images.githubusercontent.com/10734244/55771432-a4fd6e80-5aba-11e9-9e10-364a9c08f3d0.png)

[2019-04-09 03:36] DDDivano opened #16719 "rnn search with attation模型下，单GPU训练报错"
EnforceNotMet: Variable must be type St6vectorIN6paddle9framework9LoDTensorESaIS2_EE, the holding type is N6paddle9framework9LoDTensorE at [/paddle/paddle/fluid/framework/variable.h:51]
![image](https://user-images.githubusercontent.com/10734244/55771706-b8f5a000-5abb-11e9-8307-166d79b51a1b.png)

[2019-04-09 03:40] DDDivano opened #16720 "Deeplab训练报错"
EnforceNotMet: Cannot find fetched variable(tmp_22).(Perhaps the main_program is not set to ParallelExecutor) at [/paddle/paddle/fluid/framework/details/threaded_ssa_graph_executor.cc:142]
![image](https://user-images.githubusercontent.com/10734244/55771844-34575180-5abc-11e9-987b-95199ccbcf5f.png)

[2019-04-09 03:54] AWSWXY opened #16721 "预测报错"
![image](https://user-images.githubusercontent.com/18156360/55774200-c401fd80-5ac6-11e9-8c21-28392b2a8f4e.png)

[2019-04-09 03:58] tensor-tang commented on #16586
Attach more tests running all night, `make test ARGS="-R test_analyzer_small_dam -V"` passed 3977 times in release mode, 1155 times in debug mode.

[2019-04-09 05:23] LeoZhao-BJ commented on #16586
what's seqpool_concat_fuse used for? From log, seems this pass takes much time on graph pattern detection.

[2019-04-09 05:40] tensor-tang commented on #16586
https://github.com/PaddlePaddle/Paddle/blob/1c8b34ddd2b9fd0bc3c8da7ba8ef9a6cae8e7795/paddle/fluid/framework/ir/seqpool_concat_fuse_pass.h#L26-L39

Because pattern is very large and support at most 200 inputs.

[2019-04-09 05:50] velconia commented on #16705
GJ，这个代码也可以的：
[code]

原因是静态图中，变量的shape含有未知的batch_size信息，所以没法构建ones

[2019-04-09 05:53] velconia commented on #16714
您说的是CPU的Pserver + Trainer的集群吧？

分布式训练可以参考 http://paddlepaddle.org/documentation/docs/zh/1.3/user_guides/howto/training/cluster_quick_start.html 这个教程搭建

[2019-04-09 05:55] luotao1 commented on #16586
Thus, could you create a PR to disable `seqpool_concat_fuse_pass` for common, and to reduce the CI time? @tensor-tang

[2019-04-09 05:55] velconia commented on #16719
请问代码方便贴一下吗？

[2019-04-09 06:16] tensor-tang commented on #16586
Yes, WIP.

[2019-04-09 06:26] hfreedom00 opened #16726 "如何通过paddle的方法获取已经训练好的nn模型的各层输入embedding以及权重参数"

[2019-04-09 07:22] ccmeteorljh commented on #16679
simnet infer值较高，无法对齐pyreader

[2019-04-09 07:30] ccmeteorljh opened #16727 "使用dataset 训练simnet， infer值较高"
paddle version:1.4.0
http://wiki.baidu.com/pages/viewpage.action?pageId=717062465

[2019-04-09 07:30] #16668 closed, assigned to nobody

[2019-04-09 07:30] velconia commented on #16726
[code]

[2019-04-09 07:43] DDDivano opened #16728 "rnn search 训练报错"
EnforceNotMet: Variable must be type N6paddle9framework9LoDTensorE, the holding type is St6vectorIN6paddle9framework9LoDTensorESaIS2_EE at [/paddle/paddle/fluid/framework/variable.h:51]
![image](https://user-images.githubusercontent.com/10734244/55782075-2286a600-5ade-11e9-86be-c64be10e40dc.png)

[2019-04-09 07:43] #16728 closed, assigned to nobody

[2019-04-09 07:45] DDDivano opened #16730 "machine_reading_comprehension训练报错"
EnforceNotMet: Invoke operator shrink_rnn_memory error.
![image](https://user-images.githubusercontent.com/10734244/55782198-58c42580-5ade-11e9-87b3-46602df6d9c5.png)
C++ Callstacks:
holder_ should not be null
Tensor not initialized yet when Tensor::type() is called. at [/paddle/paddle/fluid/framework/tensor.h:146]
![image](https://user-images.githubusercontent.com/10734244/55782229-68436e80-5ade-

[2019-04-09 08:27] xjqbest commented on #16727
原因是数据用的比较多，效果超过了wiki的结果，改少数据后复现

[2019-04-09 08:27] velconia commented on #16721
使用最新版本paddle即可

[2019-04-09 08:27] #16721 closed, assigned to velconia

[2019-04-09 08:28] #16726 closed, assigned to velconia

[2019-04-09 08:29] #16705 closed, assigned to velconia

[2019-04-09 08:32] #16727 closed, assigned to nobody

[2019-04-09 08:32] ccmeteorljh commented on #16727
done

[2019-04-09 13:07] #16362 closed, assigned to heavengate

[2019-04-09 13:07] #16384 closed, assigned to heavengate

[2019-04-10 00:23] GeminiHu opened #16749 "Hyperlink does not work in Paddle-ONNX README page"
as title:
https://github.com/PaddlePaddle/paddle-onnx

[2019-04-10 04:16] daiwk opened #16752 "cpu版本finetune bert内存优化"
使用 https://github.com/PaddlePaddle/LARK/tree/develop/BERT 中的run_classifier进行finetune，发现batchsize=1，max_seq_len=8的时候，使用cpu版本的paddle，如果机器的cpu是56核的，内存会占用114g…如果机器cpu是12核，会占用25g内存；想问问cpu下，是否有类似gpu的只使用几个卡的类似的设置方式呢：
[code]

[2019-04-10 05:00] guomingz opened #16754 "test_calibration 扩充ssd mobilenet case相关问题？"
hi @luotao1，

我们现在这边准备扩充下test_calibration case对ssd mobilenet的支持， 但如同之前enable resnet50/mobilenet 两个模型时遇到的问题一样， 需要复用一些数据准备的代码， 比如models/fluid/PaddleCV/object_detection/image_util.py 和models/fluid/PaddleCV/object_detection/reader.py 这2个文件。
能否将他们直接复制到test_calibration 同级目录呢？ 我查了下 paddlepaddle目录下没有重复代码引用。

谢谢

[2019-04-10 05:15] wuxiaodong1014 opened #16755 "目标检测（比如SSD、faster-rcnn）训练若干次之后，程序卡住，也不报错，无法继续训练"
大家好！我遇到一个问题：我在运行目标检测程序时，比如用SSD、faster-rcnn，训练若干次之后，程序卡住，也不报错，无法继续训练，这是什么原因呢？有没有解决办法呢？谢谢大家

[2019-04-10 05:36] xuezhong commented on #16752
export CPU_NUM=x x就是希望的核数

[2019-04-10 05:46] daiwk commented on #16752
@xuezhong 已解决 谢谢

[2019-04-10 05:46] #16752 closed, assigned to nobody

[2019-04-10 06:04] LeoZhao-BJ commented on #16473
PR #16756 fixed this issue by my test.
From rootcause analaysis, seems it is not related with fuse pass itself, and not in respect of op create/delete and graph change. From patch, in the final step "graph to program" , unordered_map/set introduced random.

But some cases still can't be well explained, e.g. why removing fc fuse pass makes this issue totally gone, commenting out some code lines mak

[2019-04-10 06:12] yihuaxu commented on #16316
From the test result, PR #16756 can fix issue.

[2019-04-10 06:15] yihuaxu commented on #16688
Just create PR #16756 to resolve this issue.

[2019-04-10 06:42] alexqdh opened #16759 "fluid.layers.py_reader可否支持重复创建"
python 2.7
paddle 1.3

每次训练都会重新读取一遍训练，想先把训练数据load到内存，然后每次训练的时候都重新创建一个reader，报了一个错:
[code]

代码:
[code]

[2019-04-10 06:50] sneaxiy commented on #16759
可以的，只要name参数不同，每次产生的py_reader对象就不同。

[2019-04-10 06:52] alexqdh commented on #16759
好的，多谢

[2019-04-10 06:52] #16759 closed, assigned to nobody

[2019-04-10 07:40] DDDivano commented on #16720
这个问题是显存优化导致fetch variable的bug，已经定位

[2019-04-10 07:43] DDDivano commented on #16719
显存优化在c++端的bug，已经修复 。 https://github.com/PaddlePaddle/Paddle/pull/16748/files

[2019-04-10 08:10] luotao1 commented on #16535
@zhoukunsheng is developing where op now.

[2019-04-10 08:54] luotao1 opened #16764 "test_elementwise_mul_mkldnn_op fails"
In a new CI machine `Intel(R) Xeon(R) CPU E5-2660 v4 @ 2.00GHz`, `test_elementwise_mul_mkldnn_op` fails
[code]
http://ci.paddlepaddle.org/viewLog.html?buildId=82557&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all&_focus=37940

[2019-04-10 09:12] DDDivano opened #16766 "object_detection在mobilenet-ssd下单GPU训练出现loss异常"
![image](https://user-images.githubusercontent.com/10734244/55866862-d1e17c80-5bb3-11e9-872e-0b2641b00850.png)

[2019-04-10 09:41] liujian07 commented on #16665
这个具体场景很容易理解。我为了计算一个数组（这个数组分散于所有卡上）的最大值，具体的计算方法是先把这个数组在每个卡上的最大值求出来，然后把这些最大值复制到cpu上，再在cpu上求这些局部最大值的最大值，得到整个数组的最大值。
这个 collective op怎么做呢？

[2019-04-10 09:51] tingweiwu opened #16767 "1.3.1-gpu-cuda9.0-cudnn7 这个tag的Dockerfile在哪里呀？"
Dockerhub上这个tag 1.3.1-gpu-cuda9.0-cudnn7镜像的Dockerfile在哪里呢？

https://github.com/PaddlePaddle/Paddle/blob/v1.3.1/Dockerfile  这里的是基于cuda8.0的呢

另外，Dockerhub上的镜像都是python2.7版本的吗？是否有python3+的？
检查了 1.3.1-gpu-cuda9.0-cudnn7  和 1.3.2-gpu-cuda9.0-cudnn7 都是py2.7的

[2019-04-10 09:59] sshilei opened #16768 "paddle embedding查找表是怎么训练出来的？不同业务自产的ID序列是否需要特殊处理"
如果样本中某些ID有特殊含义，比如1是分隔符，2是无效ID之类的，是否需要特殊的设置。对于我样本中的无效ID查找表如何进行特殊处理？

[2019-04-10 10:38] Yancey0623 commented on #16665
这个场景看起来不需要复制到CPU也可以实现？

[code]

reduce_max 参考：http://paddlepaddle.org/documentation/docs/zh/1.3/api/layers.html#reduce-max
collective ops 目前还没有正式发布，用法可以参考单测代码：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/dist_allreduce_op.py

[2019-04-10 10:47] #16766 closed, assigned to nobody

[2019-04-10 11:13] xuezhong commented on #16768
不同业务自产的ID序列是否需要特殊处理？
特殊含义字符的一般也不用做特殊处理，放到一块训练。深度学习的好处就是不用特征工程
paddle embedding查找表是怎么训练出来的？
可以参考https://github.com/PaddlePaddle/book/blob/develop/04.word2vec/README.cn.md这个教程，最简单的w2v模型训练, 将onehot形式的id转化为低纬度空间中的向量

[2019-04-10 11:30] DDDivano commented on #16718
开启c++端显存优化引入的问题

[2019-04-10 12:40] xiangyubo commented on #15944
@yeyupiaoling 刚刚跟 paddle 的同学一起沟通排查了一下，确定是系统环境原因，不过是 cpu 的关系。如果电脑上的 cpu 不支持 mkl 指令，就会报类似的错。这个可能要等 paddle 发布不带 mkl 安装包才能搞了

[2019-04-10 13:54] guomingz commented on #16754
hi， is there any update on this issue?

[2019-04-11 02:06] guru4elephant commented on #16768
@sshilei 可以在reader中把这些无效ID去掉，这样即使你的无效ID有对应的embedding参数，但训练过程中不学习，不影响效果。

[2019-04-11 02:54] LeoZhao-BJ commented on #16764
@luotao1 did this issue only happen on Intel(R) Xeon(R) CPU E5-2660 v4 @ 2.00GHz ?

[2019-04-11 03:02] LeoZhao-BJ commented on #16764
reproduced on E5-2699

[2019-04-11 03:12] lluck42 commented on #15423
Python 3.6.8
import paddle 没啥问题
import paddle.fluid
DLL load failed: 找不到指定的模块。
必须是3.6.3版本的么?

[2019-04-11 04:34] zenghsh3 opened #16780 "[Bug] sampling_id op 在编译时推断的shape不正确"
paddlepaddle-gpu==1.3.2.post97

[code]
[code]

Compile shape 应该是(-1)，这个错误会影响后续网络的构建。

[2019-04-11 05:00] yghstill opened #16781 "ssd检测头multi_box_head注释有误"
- 问题描述：SSD检测头multi_box_head注释部分出现问题，日志/代码关键片段：
Examples:
        .. code-block:: python

          mbox_locs, mbox_confs, box, var = fluid.layers.multi_box_head(
            inputs=[conv1, conv2, conv3, conv4, conv5, conv5],
            image=images,
            num_classes=21,
            min_ratio=20,
            max_ratio=90,
            aspect_ratios=[[2.], [2., 3.], [2., 3.], [2., 3.], [2.],

[2019-04-11 05:44] sneaxiy commented on #16780
感谢您的反馈，这应该是一个bug，我们会尽快修复。

[2019-04-11 06:43] lluck42 opened #16784 "import paddle.fluid DLL load failed"
os window 10 1803

python 3.6.3
python 3.7.3

pip install paddlepaddle
success

py
import paddle.fluid

Traceback (most recent call last):
  File "test.py", line 1, in <module>
    import paddle.fluid
  File "D:\Program Files\Python36\lib\site-packages\paddle\fluid\__init__.py", line 18, in <module>
    from . import framework
  File "D:\Program Files\Python36\lib\site-packages\paddle\fluid\framew

[2019-04-11 07:03] susu3621 opened #16786 "Compilation error on Nvidia Jetson TX2"
I'm using the following command to do compilation.

cmake .. -DPY_VERSION=3.5 -DWITH_FLUID_ONLY=ON -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DWITH_AVX=OFF -DWITH_MKL=OFF

There are 2 issues are found so far:
1. third_party/dgc is combined with WITH_GPU option.
But in we just want to do inference with single GPU, nccl is not necessary, and Jetson serials don't support nccl.

2. u

[2019-04-11 07:04] susu3621 commented on #16786
BTW: the above result is based on branch origin/release/1.4

[2019-04-11 07:34] LeoZhao-BJ commented on #16764
https://github.com/PaddlePaddle/Paddle/blob/aa46caf3d95f75b3c540290f0ff8882672287d9d/python/paddle/fluid/tests/unittests/mkldnn/test_elementwise_mul_mkldnn_op.py#L31

Seems it's the rootcause, without this line, the case is passed, but wondering why it didn't happen on old CI machine. On my E5-2699, I can reproduce it stably.

[2019-04-11 07:37] lluck42 commented on #16784
好坑啊，竟然是cpu缺少指令集，要去官网上下个不需要指令集的版本

[2019-04-11 08:16] luotao1 commented on #16764
It fails both on E5-2620 v2 and E5-2620 v3, but successes on 6148.

[2019-04-11 08:20] LeoZhao-BJ commented on #16764
it may be related with AVX512, 2620/2699 don't support avx512, while 6148 supports, there is different branch for avx512 in mkldnn mul op.

[2019-04-11 08:40] #16768 closed, assigned to xuezhong

[2019-04-11 09:07] ws441572091 opened #16795 "C++预测模块，paddletensor如何处理二维lod_tensor"
例如一维的lod_tensor，当 batch = 2时，a和b分别为两个batch的输入
 格式为[[a1,a2,a3],[b1,b2]]

C++输入：[a1,a2,a3,b1,b2], length = [3,2], batch =2
C++转换：转换为paddletensor中的 tensor.lod = [[0,3]], tensor.shape = [5,1]

那么二维的lod_tensor,  当batch= 2时
格式为[[[a11],[a21,a22],[a31]],[[b11,b12,b13],[b21]]]

是否仍然以偏移量表示
C++转换：转换为paddletensor中的 tensor.lod = [[[0,1,3],[0,3]]]吗？
另外tensor.shape时多少，是[8,1]吗？

[2019-04-11 10:08] shanyi15 commented on #16141
FIXED by https://github.com/PaddlePaddle/Paddle/pull/16707

[2019-04-11 10:19] xuezhong commented on #16767
目前支持得还不太全，一个办法是可以在镜像里面安装paddle 自己做个需要的镜像  可以参考首页http://paddlepaddle.org/

[2019-04-11 10:24] qingqing01 commented on #16755
请问您使用是哪个Paddle版本，以及什么机器？卡住的现象是什么？GPU里利用率和显存占用如何？

[2019-04-11 11:28] kbinias commented on #16764
The problem is related to AVX SIMD. `TestElementwiseMulMKLDNNOp_BroadcastNCHW16c` test expects `nchw16c` output format. With AVX-512 `elementwise_mul` returns `nchw16c`, but with AVX2 operator returns `nchw`.
We will probably add a new attribute `out_data_format` and convert format depending on AVX inside `elementwise_mul` kernel.

[2019-04-11 11:44] #16314 closed, assigned to nobody

[2019-04-11 11:49] #16524 closed, assigned to nobody

[2019-04-11 11:50] #16431 closed, assigned to nobody

[2019-04-11 12:54] LeoZhao-BJ commented on #16764
Agree, it is just output format issue, data is correct, the problem is how to define the rule of output format,  set out_data_format equals to "x_data_format" or need a explicit setting? we may need a unified format definition for both avx2 and avx512.

[2019-04-11 13:33] Walleclipse opened #16804 "运行Ernie，报错Windows not support stack backtrace yet.和paddle.fluid.core.EnforceNotMet: Invoke operator fill_constant error."
有关我的配置
   1）PaddlePaddle版本：1.3.2
    2）GPU：Tesla M40， CUDA: 8.0, cuDNN Version: 7.0
    3）系统环境：Windows Server 2016, Python 3.6
我的模型: [ERNIE](https://github.com/PaddlePaddle/LARK/tree/develop/ERNIE)
 当我按照 Readme中的提取embedding的方法，运行 [ernir_encoder.py](https://github.com/PaddlePaddle/LARK/blob/develop/ERNIE/ernie_encoder.py)时到 exe.run(startup_prog) 会出现错误，具体错误信息如下：
[code]
并且 我按照Readme中的说明运行其他程序时也会报错。比如

[2019-04-12 01:52] liyutg commented on #7185
*** Aborted at 1555033639 (unix time) try "date -d @1555033639" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x0) received by PID 22659 (TID 0x7f0f01560740) from PID 0; stack trace: ***
    @     0x7f0f00a55330 (unknown)
    @                0x0 (unknown)
bash: 行 1: 22659 段错误               (核心已转储) env "PYCHARM_MATPLOTLIB_PORT"="59714" "PYT

代码段
![image](https://us

[2019-04-12 02:46] #16316 closed, assigned to nobody

[2019-04-12 02:46] #16473 closed, assigned to nobody

[2019-04-12 02:46] #16688 closed, assigned to nobody

[2019-04-12 02:46] #16586 closed, assigned to luotao1, tensor-tang

[2019-04-12 02:56] #16784 closed, assigned to nobody

[2019-04-12 03:02] luotao1 commented on #16754
https://github.com/PaddlePaddle/Paddle/blob/0c277ac6e997ff0704a65cf450bf35761203f998/python/paddle/fluid/transpiler/inference_transpiler.py#L54-L56
InferenceTranspiler is deprecated
如果要扩充test_calibration case对ssd mobilenet的支持，请扩充C++ Pass @guomingz @hshen14

[2019-04-12 03:07] sneaxiy commented on #16786
Thanks for your question. Nccl and -m64 are needed in this repo. If you want to use Paddle in arm platform, please refer to https://github.com/PaddlePaddle/paddle-mobile.

[2019-04-12 03:07] hshen14 commented on #16754
这个是用v1的calibration tool支持新的模型，和infer_transpiler应该没关

[2019-04-12 03:19] junjun315 commented on #16511
安装一下不带avx的包试试看
win_cpu_noavx_openblas
http://paddlepaddle.org/documentation/docs/zh/1.3/beginners_guide/install/Tables.html

[2019-04-12 03:21] yeyupiaoling commented on #16511
@junjun315 试过了。

[2019-04-12 03:28] luotao1 commented on #16754
因为升级到V2了，后续都走C++ pass的统一接口，test_calibration不再进行扩充。

[2019-04-12 04:04] wopeizl commented on #15423
机器cpu是什么型号的 可以尝试一下noavx的版本

[2019-04-12 04:16] luotao1 commented on #15423
@wopeizl http://www.cpu-world.com/CPUs/Core_i5/Intel-Core%20i5%20i5-7500.html
Intel(R) Core(TM) i5-7500是支持avx的。

[2019-04-12 04:27] luotao1 commented on #15423
[code]
从错误信息看，是没做绑定。 @wopeizl @junjun315

[2019-04-12 05:20] hshen14 commented on #16754
了解

[2019-04-12 07:58] zhoukunsheng opened #16823 "reduce_all, reduce_any 没有GradKernel，却注册了GradOp"

[2019-04-12 08:03] LeoZhao-BJ commented on #16764
I made a PR to do format convertion in avx512 mode, hope it can unblock CI.

[2019-04-12 15:15] Superjomn commented on #16795
这个有问题， tensor.lod 应该是 `[[0, 3, 5]]`

Lod 每一层都是相对 offset
最底层lod :  `[0, 1, 3, 4, 7, 8]`
上一层： `[0, 3, 5]`
总的 lod 是： `[[0,3,5], [0,1,3,4,7,8]]`

shape 是 `num elements` ，跟 lod 没有关系，所以是 `[8,1]`

lod 格式比较复杂，下个版本我们会加个 helper 来自动转换。

[2019-04-13 17:00] jczaja opened #16841 "[MKL-DNN] Advice on runtime context related crash in Transformer"
When test_analyzer_transformer.profile_mkldnn is run with "--test_all_data" option there is a crash (matmul inputs has mismatch of dims). Problem is that when MKL-DNN is used (any op)
then starting from third iteration (when Input data shapes will differ from Warmup and first iteration) then wrong Tensor is chosen for op to work.

Problem is that runtime context is having a Variables pointing to t

[2019-04-14 02:00] gongweibao opened #16842 "Benchmark on 4 x 8 v100 or 8 x 8 v100 even 16 x 8 v100 should be added in the future."

[2019-04-14 10:31] JiabinYang opened #16848 "关于ssd_loss接口设计问题"
![FD5F0A5EEBF176A4E17DB7ECEE2C0857](https://user-images.githubusercontent.com/22361972/56091594-71b84680-5ee3-11e9-9311-2666408da313.jpg)

[2019-04-14 11:40] luotao1 commented on #16841
When use the latest develop branch. I can run it normally without `MKLDNN`
[code]
For `MKLDNN`, the error is
[code]
Is the error same with you?

[2019-04-15 02:30] lluck42 commented on #15423
noavx 版本可以

在 2019-04-12 12:04:40，"wopeizl" <notifications@github.com> 写道：

机器cpu是什么型号的 可以尝试一下noavx的版本

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-15 03:47] JiabinYang commented on #16848
yolov3_loss的gt_box, [N, B, 4]，是一个定长的Tensor，N代表batch size， B代表max_num_box。 Yolov3的box输入是padding到			max_num_box个，padding的是0。也就是每个样本输入gt box个数相同。 
ssd_loss的gt_box [Ng, 4], 是一个LoDTensor，每个样本输入gt box个数可以不同。Ng是所有样本gt box的总个数之和。
            1. 您的理解是正确的，问题1中的B代表了max_num_box 。
            2. 关于命名问题，多谢指出，我们统一看下。

关于1的原因:
	SSD是之前开发的，采用了LoDTensor，可以让一个batch内每个样本的gt box个数可变。 Yolo v3是后来开发，为了和DarkNet，MxNet相		同，开

[2019-04-15 03:48] #16848 closed, assigned to qingqing01, JiabinYang

[2019-04-15 04:15] luotao1 commented on #16229
Close due to #16441 is merged.

[2019-04-15 04:15] #16229 closed, assigned to luotao1, wzzju

[2019-04-15 05:04] #16823 closed, assigned to zhoukunsheng

[2019-04-15 08:19] jczaja commented on #16841
@luotao1 Yes, This is the same error. And Yes it works properly without mkl-dnn. The problem with runtime context I'm seeing is just when mkl-dnn is used. So if you could suggest if condition on recreating runtime context should be updated somehow for mkl-dnn then it would be helpful . any other advice is also welcomed.

[2019-04-15 09:12] ws441572091 opened #16869 "单独预测报错"
同一个预测函数，在每一轮训练之后进行预测没有问题，但是单独加载模型预测报错
<img width="1136" alt="image" src="https://user-images.githubusercontent.com/35720887/56120758-64619180-5fa1-11e9-9525-1c306a889e04.png">
预测函数：
![image](https://user-images.githubusercontent.com/35720887/56120832-8c50f500-5fa1-11e9-9c53-6fe4791c780b.png)
训练时使用：
![image](https://user-images.githubusercontent.com/35720887/56120855-9bd03e00-5fa1-11e9-90b0-3eab945

[2019-04-15 09:23] LeoZhao-BJ commented on #16764
almost reach agreement on final solution, see comments in PR.

[2019-04-15 09:31] tensor-tang opened #16870 "test_softmax_with_cross_entropy_ngraph random fail"
test_softmax_with_cross_entropy_ngraph_op
http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&buildTypeId=Paddle_PrCi&buildId=84655

report from @tianshuo78520a

Maybe related with test_softmax_with_cross_entropy_op
http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&buildTypeId=Paddle_PrCi&buildId=84655

[2019-04-15 09:31] wzzju commented on #16869
请将227行改成`feeder = fluid.DataFeeder(feed_list=feed_targer_names, place=place, program=inference_program)`。额，你代码中`feed_targer_names`是不是拼写错误了，`feed_target_names`?

[2019-04-15 09:37] ws441572091 commented on #16869
好的，已解决

[2019-04-15 09:45] #16869 closed, assigned to wzzju

[2019-04-15 09:57] wzzju opened #16872 "用WITH_GPU编译的C++预测库，在没有GPU环境的机器上运行报错。"
用WITH_GPU编译的C++预测库，在没有GPU环境的机器上，可以跑CPU吗？我遇到个问题，就是我用WITH_GPU编译的库，在没有GPU环境的机器上无法跑CPU（就算设置了DisableGpu也不行）报这个错：
![image](https://user-images.githubusercontent.com/17102274/56123842-e5bc2280-5fa7-11e9-99ba-f9d62f9f645f.png)
但是在有GPU环境的机器上，GPU和CPU就都可以运行。所以用WITH_GPU编译的库，必须要在有GPU环境的机器下，才能运行 CPU 吗？

[2019-04-15 09:58] wzzju commented on #16872
请在环境变量中设置`export CUDA_VISIBLE_DEVICES=""`。

[2019-04-15 09:58] #16872 closed, assigned to wzzju

[2019-04-15 10:55] luotao1 commented on #16841
`analyzer_int8_image_classification_tester.cc` is successful for both `runtime_context_cache_pass` and `mkldnn_placement_pass`. I will investigate this issue, and you can remove this pass when profiling the transformer model at first.

[2019-04-15 11:11] gongweibao commented on #16519
mem_opt设置为false。
暂时不支持memory optimize.

[2019-04-15 11:22] jczaja commented on #16841
@luotao1 Great! With disabled runtime_context it worked for me (transformer . profile_mkldnn with --test_all_data). I think that analyzer_int8_image_classification may be different as input images are probably the same size while in Transformer we have input data of various sizes. Anyway, if you have any observations/suggestions  based on your investigation then please share

[2019-04-15 12:42] ghost commented on #16841
Thanks @luotao1 . Cache was introduced to save context creation time but cache will definitely bring in risk for inconsistency (remember the last random CI failure caused by Chunwei's data transfer scope cache?)

[2019-04-15 14:31] ghost commented on #16764
I go through this issue and feel "not comfortable" on current solution, i.e. add reorder in kernel. This is "test script" issue. Nothing wrong in kernel.

Let's revisit this issue. CI fail when run a test case [TestElementwiseMulMKLDNNOp_BroadcastNCHW16c](https://github.com/PaddlePaddle/Paddle/blob/072db0938b56e68d0a5b3b8682c5a41a5a5d09c8/python/paddle/fluid/tests/unittests/mkldnn/test_elementwise

[2019-04-15 16:09] lvjianxin opened #16886 "新版的paddle如何使用ranknet排序模型？"
有没有example？老版的都找不到啦
http://www.paddlepaddle.org/documentation/models/zh/0.13.0/ltr/README.html
这个网页的demo找不到了

[2019-04-16 02:22] #15815 closed, assigned to nobody

[2019-04-16 02:54] Lizhengo opened #16893 "paddle版本transformer的C++预测（GPU），开启config.SwitchIrOptim(),每个线程都只出同样的一个结果"
paddle版本transformer的C++预测（GPU），开启config.SwitchIrOptim(),每个线程都只出同样的一个结果，无论是单卡单线程还是多卡多线程都是这样
关闭config.SwitchIrOptim()才预测正常

[2019-04-16 03:02] ws441572091 opened #16894 "预测遇到报错"
1.

保存模型时，feed的list中包含输入和labels
fluid.io.save_inference_model(tmp_params_dirname,['words','labels'],[crf_decode],exe)
预测的reader为 yield words，labels
数据例子：[42, 14, 127, 47, 6, 17, 79, 13, 60, 236, 16, 1111, 624, 3], [12, 6, 6, 0, 0, 0, 8, 5, 5, 5, 0, 7, 1, 0]
预测的代码如下，运行没有问题
![image](https://user-images.githubusercontent.com/35720887/56178814-295d6d80-6036-11e9-997a-fef65eba30cc.png)

2.

现在希望保存模型时，f

[2019-04-16 03:12] jerrywgz commented on #16894
这里的报错像是没有label数据导致的，可以检查下你在第二种情况下的模型里是否包含label

[2019-04-16 03:30] jerrywgz commented on #16886
https://github.com/PaddlePaddle/models/tree/develop/legacy/ltr
现在的模型放到这个目录下了，这个模型使用的是paddle v2版本

[2019-04-16 03:33] NHZlX commented on #16893
您好，请问使用的是哪个版本的代码，是最新的develop还是？
另外，方便贴一下预测的代码么

[2019-04-16 05:19] LordAaron opened #16900 "int8训练好的模型在保存inference模型后产生了很大的diff"
通过paddle1.1.0训练完成的int8模型，在freeze为inference的模型后，产生了较大的diff，下面是freeze模型时用的代码。
![752c7815453003cde7712176f1f6e132](https://user-images.githubusercontent.com/14092826/56184035-481a2f00-604b-11e9-8e48-0b299f1240de.png)

用原本存下来的各层参数的结果为：
data/val_qa/xcam_qa_1537438460.48.jpg   1   334.057731628   234.036920071   1132.03292847          725.70473671   0.693110585213  3
用freeze后的模型跑出的结果为：
data/val_qa/xcam_

[2019-04-16 05:49] luotao1 commented on #16764
Thanks for the detail comments from @jianhang-liu!
For the sake of urgent need from @tianshuo78520a, we should disable this case on non-avx512 machine at first, which blocks the deployment of the new CI machine. @LeoZhao-Intel

[2019-04-16 06:11] ws441572091 commented on #16894
训练的时候在计算loss时会使用label,但是预测只需要用crf_decode就好，不需要label啊
![image](https://user-images.githubusercontent.com/35720887/56186224-58350d00-6051-11e9-9860-805c4777fd2e.png)

[2019-04-16 06:11] lvjianxin commented on #16886
no model named paddle.v2，请问有没有v2版本的安装说明，github上的安装文档链接报404

---原始邮件---
发件人: "jerrywgz"<notifications@github.com>
发送时间: 2019年4月16日(星期二) 中午11:31
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "Bruce Lv"<279141909@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 新版的paddle如何使用ranknet排序模型？ (#16886)

https://github.com/PaddlePaddle/models/tree/develop/legacy/ltr
 现在

[2019-04-16 06:18] #16517 closed, assigned to nobody

[2019-04-16 06:25] ws441572091 commented on #16894
![image](https://user-images.githubusercontent.com/35720887/56186809-46546980-6053-11e9-8979-dbff9293b5d9.png)
确实报错的是86行没有label，但是crf_cost只是为了计算训练时的loss，在保存的模型中已经指出了需要的预测结果是crf_decode,为什么预测时不能跳过crf_cost,直接进行crf_decode

[2019-04-16 07:17] xym1 opened #16906 "深度学习框架之间的转换"
paddlepaddle训练出的模型如何转换成其他深度学习框架模型

[2019-04-16 07:27] #16781 closed, assigned to yghstill

[2019-04-16 07:46] jerrywgz commented on #16886
我们现在已经不再维护v2的代码了，安装fluid 1.0之前的版本会自带v2

[2019-04-16 07:49] lvjianxin commented on #16886
请问如何安装fluid 1.0之前版本呢，想测试一下排序效果

---原始邮件---
发件人: "jerrywgz"<notifications@github.com>
发送时间: 2019年4月16日(星期二) 下午3:47
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "Bruce Lv"<279141909@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 新版的paddle如何使用ranknet排序模型？ (#16886)

我们现在已经不再维护v2的代码了，安装fluid 1.0之前的版本会自带v2

—
You are receiving this because you authored the threa

[2019-04-16 07:59] tensor-tang commented on #16764
Thanks @jianhang-liu

As of this issue itself, just disabling `nchw16c` test on AVX2 make sense since `nchw16c` is not designed for AVX2. Instead, we should test `nchw8c` on AVX2.

But, as we go through the code why this issue comes out, we figure out that it's caused by adding `x_data_format` and `y_data_format` in elementwise_op [here](https://github.com/PaddlePaddle/Paddle/pull/14351/files#diff

[2019-04-16 08:13] jerrywgz commented on #16886
请问你的cuda cudnn python版本分别是多少？

[2019-04-16 08:14] jerrywgz commented on #16886
http://www.paddlepaddle.org/documentation/docs/zh/1.0/beginners_guide/install/Start.html
可以参考这个文档

[2019-04-16 08:16] lvjianxin commented on #16886
centos7.3-python3.6.4-cuda8-cudnn6-tensorflow1.4.1-keras2.1.0-pytorch0.3.0

---原始邮件---
发件人: "jerrywgz"<notifications@github.com>
发送时间: 2019年4月16日(星期二) 下午4:14
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "Bruce Lv"<279141909@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 新版的paddle如何使用ranknet排序模型？ (#16886)

请问你的cuda cudnn python版本分别是多少？

—
You are receiving

[2019-04-16 08:27] Sand3r- commented on #16764
These two attrs indeed shouldn't be members of elementwise_op, however the problem is that currently there is no way of setting tensor format in python in any other way. If these would be removed, it would be impossible to test the code path running the optimized kernel (nchw16c & nc case).

Adding use_mkldnn flag isn't going to change anything because the kernel itself doesn't use mkl-dnn engine

[2019-04-16 08:39] tensor-tang commented on #16764
So we should do this in mkldnn kernel. runtime choose on AVX512 or AVX2. Then python test should be simple enough.

That's should be a problem of why `use_mkldnn` is not what it means in this op. From user perspective, by setting  `use_mkldnn=True` should use mkldnn.

That way the fallback to naive version and reorders would happen automatically.

Did not get your pint here, however `GetExpectedKe

[2019-04-16 08:42] sshilei opened #16912 "fluid.layers.elementwise_div的值不符合预期"
![image](https://user-images.githubusercontent.com/18701471/56194911-748f7480-6066-11e9-989a-dc4556ea4196.png)

![image](https://user-images.githubusercontent.com/18701471/56194942-86711780-6066-11e9-9c39-de3c3df571ff.png)

![image](https://user-images.githubusercontent.com/18701471/56194976-9688f700-6066-11e9-8bcb-5be30107c5f7.png)

[2019-04-16 09:08] jerrywgz commented on #16912
已通过设置persistable=True解决

[2019-04-16 09:08] #16912 closed, assigned to jerrywgz

[2019-04-16 09:42] xiaolil1 opened #16916 "In-Place requirement for MKLDNN op."
We met in-place issue when enable MKLDNN Reshape OP.
For the case: no-mkldnn op ---> mkldnn op ( Reshape or other in-place supported Ops).

We investigated this issue and found the "data transform" will generate new tensor and change the input tensor of Reshape Op, while the output not, which will break the in-place between input and output.

To solve this issue, we developed two solutions, and su

[2019-04-16 09:52] xiaolil1 commented on #16916
@luotao1 @tensor-tang @hshen14

[2019-04-16 09:59] jerrywgz commented on #16886
我们目前还没有cudnn6可以直接pip安装的版本，需要进行源码编译，还是可以参考上面这个文档

[2019-04-16 10:03] lvjianxin commented on #16886
fluid1.0版本 Windows单机能跑吗

---原始邮件---
发件人: "jerrywgz"<notifications@github.com>
发送时间: 2019年4月16日(星期二) 下午5:59
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "Bruce Lv"<279141909@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 新版的paddle如何使用ranknet排序模型？ (#16886)

我们目前还没有cudnn6可以直接pip安装的版本，需要进行源码编译，还是可以参考上面这个文档

—
You are receiving this because you authored the thr

[2019-04-16 11:13] jerrywgz commented on #16886
可以的，http://www.paddlepaddle.org/documentation/docs/zh/1.0/beginners_guide/install/install_Windows.html

[2019-04-17 01:55] #15437 closed, assigned to typhoonzero

[2019-04-17 02:30] LeoZhao-BJ commented on #16764
But may still have problem on output checking, python test still need to know the CPU SKU details if the output format is not unified, if we just set a general format "nchw" in "data_format".

[2019-04-17 03:04] tsaizehua opened #16934 "exe.run返回fetch_list结果时，怎么获取到py_reader喂入的对应数据"
transformer example在自己的数据上预测时，发现source的数目跟predict的数目不一致，想着能把source跟predict同时打印出来看看具体情况；但是不知如何才能在exe.run返回的结果中获取到py_reader对应的数据。

[2019-04-17 03:23] JayEworld opened #16936 "fluid版本的预测，有多线层共享同一个模型来减少内存开销的功能吗"
v2版本有paddle_gradient_machine_create_shared_param接口，与其它gradient machine的共享已经加载的预测模型。这种情况多出现在使用多线程预测时，通过多个线程共享同一个模型来减少内存开销。可参考此示例。

**请问fluid版本有类似功能吗？现在都是通过clone模型来完成，但是内存消耗会比较大**

[2019-04-17 03:27] gongweibao opened #16937 "Refine unittest using the same dataset."
Refine https://github.com/PaddlePaddle/Paddle/pull/16925 to run unit test parallelly.

- [ ] Download all needed dataset in CI shell.
- [ ] Every unit test uses its own dataset metadata.
- [ ] Shrink the flowers to a much more smaller dataset?

[2019-04-17 03:35] Superjomn commented on #16936
fluid 1.3 里面支持 clone，也就是多线程共享一套模型参数。

更进一步的优化是预测的 memory optimize，这个还没 ready，后续版本会 release。

[2019-04-17 03:42] JayEworld commented on #16936
意思是现在的clone函数已经共享参数了是么？但是我设置不同的predictor个数，内存会变化非常大

这个代码看下有没有问题呢
![image](https://user-images.githubusercontent.com/16730384/56259513-e79bf800-6105-11e9-8bc0-58c98b6b5da4.png)

[2019-04-17 03:43] xiaolil1 commented on #16916
We have validated the performance for ResNet50 and MobileNetV1 with BS=1 and Cores=1.
The results show no performance impact with both of #16914 and #16915 .

[2019-04-17 05:08] ccmeteorljh opened #16938 "fp16 下使用 reduce_master_grad 精度降低"
paddle version:1.4.0
测试模型：resnet50
fp16 16卡作业地址：
http://10.90.251.16:8001/webssh/ai00/a5139f34-68ad-5528-8bb7-a906d3bfbf7b/10.127.1.11/99152457.job-0bb5cac5e515bb29-trainer_20190410_171130/8c6fc1c6-ec89-55b7-a6af-f67cfa1378f3/stopped/
fp16 16卡使用reduce_master_grad作业地址：
http://10.90.251.16:8001/webssh/ai00/a5139f34-68ad-5528-8bb7-a906d3bfbf7b/10.127.1.13/157065286.job-0bb5caa1c73ba329-trainer_201904

[2019-04-17 05:45] yinweichong opened #16940 "fluid.io.load_vars指定filename时无法load"
fluid.io.save_persistables和fluid.io.load_vars组合使用，不指定filename时，没问题。指定filename时，报错，部分报错信息如下：
[code]

- save代码：

[code]
  参考paddle models中的代码https://github.com/PaddlePaddle/models/blob/652493c158f44245f2188c45623822fe5204ad12/PaddleCV/video/tools/train_utils.py#L146

- load代码

[code]
  参考paddle models中的代码
https://github.com/PaddlePaddle/models/blob/652493c158f44245f2188c45623822fe5204ad12/PaddleCV/v

[2019-04-17 05:46] baojun-nervana commented on #16870
Is this fail related to the particular PR https://github.com/PaddlePaddle/Paddle/pull/16806 ? If so, it is easy to fix. I see heavengate already updated the unittest to make it pass. I can follow up after the PR is merged. I see the cross_entroy op and softmax_with_cross_entropy op are redefined.

[2019-04-17 05:50] tensor-tang commented on #16870
@tianshuo78520a This random fail seems not the problem based on develop branch.

[2019-04-17 06:56] #16780 closed, assigned to seiriosPlus

[2019-04-17 06:57] xiaolil1 commented on #16916
We prefer the first solution #16914, which will not change "TransformData" API.

[2019-04-17 06:58] xiangyubo opened #16943 "fluid.io.save_persistables 保存中间结果后读取出来重新存为fluid.io.save_inference_model 参数大小不对"
- 版本、环境信息：
    1）PaddlePaddle版本：1.3.2 训练
    3）GPU：v100训练
    4）系统环境：windows7， python 3.5.0，Paddle 1.3.0 加载并转成预测

使用1.3.2的 paddle 训练，然后使用 save_persistables 保存成单文件。之后希望读取中间结果，保存成一个预测模型。在 windows 机器上，paddle 1.3.0 版本，用 save_inference_model 保存，不指定模型名字。
保存之后，发现参数的大小可能不对。我第一个卷积层的参数是 3x3x3x16，共432个浮点数，应该占用1728字节。但是保存下来之后只有1049个字节。
后来尝试切换到1.3.2 的 paddle 版本做中间结果转换，依然大小不对。

转存代码
# -*- coding: UTF-8 -*-
"""

[2019-04-17 07:06] xiangyubo commented on #16943
补充一下，我之后切换到1.3.2加载再保存，大小似乎就对了

[2019-04-17 07:50] YishengCheng commented on #15552
2019-04-17 07:27:47,445 - INFO - Start Load Sparse Program With Distributed Lookup Table Vars from /paddle/testDistModle, time = Wed Apr 17 07:27:47 2019
2019-04-17 07:27:50,253 - INFO - Finish Load Sparse Program With Distributed Lookup Table Vars from /paddle/testDistModle, time = Wed Apr 17 07:27:50 2019
before reader
2019-04-17 07:27:50,253 - INFO - generate reader
['1', '151196488631730492:1'

[2019-04-17 08:12] ws441572091 commented on #16894
通过观察发现model里面的__model__会有save_inference_model的报错信息，但是没有看懂具体的错误是什么，初步怀疑是save_inference_model的时候报错，导致save_inference_model直接保存了这个模型图而不只是预测图，所以在运行load_inference_model中报错显示需要label信息

__model__文件，还包括许多其他报错信息：
[__model__.txt](https://github.com/PaddlePaddle/Paddle/files/3088511/__model__.txt)

[2019-04-17 08:14] ws441572091 commented on #16894
保存训练模型代码
<img width="1003" alt="image" src="https://user-images.githubusercontent.com/35720887/56271789-e4b3fe00-612b-11e9-91c1-090da367524e.png">

[2019-04-17 08:16] jerrywgz commented on #16906
我们现在的处理方式相对比较繁琐。把paddle训练的模型保存，再load进来然后用numpy存。ONNX也是一个模型转换的方式，本质上和上述的这种方式相同

[2019-04-17 09:29] sunflowerlyb opened #16947 "c++调用模型进行预测时出core"
c++调用模型进行预测时出core
使用工具输入数据进行预测时：
![1](https://user-images.githubusercontent.com/15072355/56276753-b0ddd600-6135-11e9-86f9-63bc87f2d215.png)

 core信息：
![2](https://user-images.githubusercontent.com/15072355/56277088-3f525780-6136-11e9-9cac-df71ef827abc.png)
![3](https://user-images.githubusercontent.com/15072355/56277109-49745600-6136-11e9-939e-f23ebe1f56ee.png)

希望帮忙定位下是什么错误导致的呢？

[2019-04-17 09:32] Superjomn commented on #16936
`CreatePaddlePredictor<paddle::AnalysisConfig>(config)`

这个试试，应该好很多

NativeConfig 优化不多，里面的 Clone 是 copy 的逻辑； AnalysisConfig 是我们一直优化的。

[2019-04-17 09:34] sunflowerlyb commented on #16947
paddlepaddle的报错信息
![5](https://user-images.githubusercontent.com/15072355/56277431-ec2cd480-6136-11e9-8b31-6df421fd4458.png)

[2019-04-17 09:36] LeoZhao-BJ opened #16948 "remove cases for using "x_data_format" and "y_data_format" in test_elementwise_mul_mkldnn_op"
As one of the following tasks for Issue #16764, raise issue to track changes for removing cases for using "x_data_format" and "y_data_format" in test_elementwise_mul_mkldnn_op.

[2019-04-17 09:39] LeoZhao-BJ opened #16949 "Add AVX2 and AVX512 VNNI kernel support for mkldnn elementwise_mul op"
As one of the following tasks for Issue #16764, raise issue to track works for AVX2 and AVX512 VNNI kernel support in mkldnn elementwise_mul op.

[2019-04-17 09:44] Superjomn commented on #16947
![image](https://user-images.githubusercontent.com/328693/56278146-52febd80-6138-11e9-970a-c77b701de859.png)

训练的版本是那个？  1.3 还是  1.3.1 ?

[2019-04-17 09:56] sunflowerlyb commented on #16947
训练的版本是1.3的

[2019-04-17 09:56] sunflowerlyb commented on #16947
训练的版本是1.3的

[2019-04-17 10:02] linan142857 opened #16950 "pad_constant_like check dim failed in optimizer.minimize"
Package - paddlepaddle-gpu==v1.3.2.Post87

There are several pad_constant_like ops in my model filling the variables to constant shape.
And the actual dim is provided correct by fluid.layers.Print.
However, after I add the `optimizer.minimize(cost)` for training my model, the error appears as following:

    sum_cost, inference_program, model_average = train_net(args, pad_num, num_classes)
  File

[2019-04-17 11:24] dashulu opened #16953 "Paddle如何进行CPU多线程训练，有demo吗？"
Paddle CPU如何进行单机多线程训练？有demo吗？
另外，训练的过程中，多个线程是否共享同一个模型数据？多线程之间的梯度是每个线程都维护一份？如何进行梯度更新的？还是说单机多线程使用parameter server的方式进行参数更新？

[2019-04-17 11:27] frankwhzhang commented on #16953
https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/word2vec 这个是我实现的模型，用的是cpu多线程 可以参考一下

[2019-04-17 11:59] #16764 closed, assigned to Sand3r-, sfraczek, wojtuss, kbinias

[2019-04-17 12:45] guoshengCS commented on #16934
这个可能是因为有一些长的句子被过滤掉了，可以试下在infer.py里加下这些内容，并在运行的时候重新设置下max_length和max_out_len

<img width="446" alt="dc174f498739eb63f55cc04a3880b7a7" src="https://user-images.githubusercontent.com/14105589/56288599-ae897500-6151-11e9-9d92-ae7dae61e6b9.png">

    for pos_enc_param_name in pos_enc_param_names:
        pos_enc_param = fluid.global_scope().find_var(
            pos_enc_param_name).get_tensor()

[2019-04-17 12:51] xiangyubo commented on #16943
后来猜测是但文件存储时候的问题，于是 load_persistables 刚刚的参数重训，但是 exe.run 报错。
之后尝试 save_persistables 的时候不指定文件名，保存成多文件形式。此时 load_persistables 加载重训和转化成 inference 模型都正常，并且可以正常预测。

[2019-04-17 12:53] junjun315 commented on #16943
需要排查 load_persistables 为一个文件时恢复的问题

[2019-04-17 13:01] xuezhong commented on #16730
沟通是打开显存优化后出现的问题

[2019-04-17 13:18] Sand3r- commented on #16948
As I've mentioned in #16764 - removal of these attributes will make it impossible to test AVX512 code path, because currently there is no way of setting the data format of input Tensors in python. Hence, the AVX512 case would never get executed.

[2019-04-17 13:20] LeLiu opened #16955 "多机训练如何clone一个用于测试的Program？"
以上是官方文档关于clone的说明，在program中增加optimizer操作前不能克隆。但是在多机训练的时候，是要增加optimizer操作后才能transpile，根据这个逻辑transpile后我就不能克隆一个用于测试的Program了。我的理解正确吗？这种需求正常该如何操作？

transpile函数中的triner_id参数在角色为PSERVER的机器上代表什么意思？
http://paddlepaddle.org/documentation/docs/zh/1.3/api/transpiler.html#distributetranspiler

官方文档中的例子中，trainer都指定了端口，而实际使用过程中trainer作为客户端口是随机分配的，而且我理解是不需要显示的设置trainer的IP，所以这样理解正确吗？还是说在NCCL模式下有特别的用处？

[2019-04-17 13:29] Sand3r- commented on #16764
1. There is no MKL-DNN kernel that would support elementwise multiplication - hence the handcrafted JIT kernel.
2. Choosing AVX512 or AVX2 implementation depends on the data format of tensors. When tensors are created in python, they always have `nchw` data format, so the code path supporting AVX512/2 would never be executed.

It's true - the naming might be a bit misleading, however it was denote

[2019-04-17 13:40] luotao1 commented on #16948
How about use model level to test these codes, you can refer to `se_resnext50` in
https://github.com/PaddlePaddle/Paddle/blob/de3b70a101dabd48e0659ddb4df4651b882aeafa/paddle/fluid/inference/api/demo_ci/run.sh#L47

[2019-04-17 13:45] seiriosPlus commented on #15552
预测的时候，把pyreader换成 feeder试一下？

[2019-04-17 14:48] YishengCheng commented on #15552
我这边也在换其他的数据读取方式再试一下，另外还想咨询一个问题，就是将超大规模稀疏参数更新为本地的Sparse参数后，是否还支持把已经融合到本地的模型参数再另外保存为一个本地模型呢？还是说就只能以上文中的这种方式做本地预测？

[2019-04-17 14:56] YishengCheng commented on #15552
还有一个问题，分布式超大规模的稀疏特征训练的模型保存是在trainer0触发的，trainer0和所有的ps都会保存各自的模型参数，ps端的各个ps是否也会保存trainer0的w，b参数呢？还是说只有trainer0保存？其他trainer的参数在文档中没有说保存，是跟trainer0上的一致么？感谢解答！

[2019-04-18 01:27] sshilei opened #16960 "sequence_concat 出core"
![image](https://user-images.githubusercontent.com/18701471/56330750-0eb50100-61bc-11e9-8e0d-ec11ba2a37c1.png)

sequnce_concat的输入都是 shape[1] 的序列， concat出错。

[2019-04-18 02:11] sshilei commented on #16960
![image](https://user-images.githubusercontent.com/18701471/56332290-49219c80-61c2-11e9-8aec-2f6b1da1ce02.png)

[2019-04-18 02:32] wangguibao commented on #16955
请问能了解一下为什么要clone一个transpile之后的program吗，transpile是为了分布式训练才把program重新排布一下，但是为了test的话，应该不需要transpile？

[2019-04-18 02:41] tensor-tang commented on #16764
Thanks @Sand3r-

We have discussed this offline in our weekly meeting with @jianhang-liu @LeoZhao-Intel  @luotao1 ,  the attrs should be removed and disable the explicit format test in python unit test.

I assume the conclusion would be deliver to you soon.
Any questions please let us know, thanks.

[2019-04-18 02:44] xiangyubo opened #16961 "paddle1.3.2，使用reader.multiprocess_reader读数训练时，偶发性卡住"
   1）PaddlePaddle版本：1.3.2
    3）GPU：v100
    4）系统环境：python2.7，AI Studio
- 训练信息
    1）单机
- 问题描述：在训练 YOLOv3 模型的时候，会出现偶发性的卡住，AI Studio 中也有其他用户反馈训练中卡住的问题。
训练中，使用的是自定义的数据集，423张图片。使用 reader.multiprocess_reader 做异步读取。读取部分定义：

def multi_process_custom_reader(file_path, data_dir, num_workers, mode):
    file_path = os.path.join(data_dir, file_path)
    readers = []
    images = [line.strip() for line in op

[2019-04-18 02:50] Superjomn commented on #16947
我们线下对下吧

[2019-04-18 02:59] junjun315 commented on #16940
load_vars接口加载单个已保存文件时，无法进行根据file_name进行过滤。 根据这里描述场景，使用配套的load_persistable时发现save、load聚合文件时行为不一致，需要修复。如果有修复pr我会更新该问题。

[2019-04-18 03:09] LeLiu commented on #16955
感谢您的回复。

我想在训练的时候在dev集合上测试，看下在train和dev上的gap和变化趋势来调整超参，并且在我认为较差的时候提前退出本轮以节省时间。我如何在多机训练的时候在dev上测试？

[2019-04-18 03:14] shippingwang commented on #16961
@xiangyubo

这个您是指可以读数据，但是训到一半卡住了
还是说一开始就读不了呢？

[2019-04-18 03:14] wangguibao commented on #16960
根据场景，用户换成layers.concat()了。更换layer以后也没有出core

[2019-04-18 03:14] #16960 closed, assigned to wangguibao

[2019-04-18 03:16] frankwhzhang commented on #16950
和用户沟通后，确认是因为添加了stop_gradient，导致没有反向op。问题已解决，关闭此issue

[2019-04-18 03:16] #16950 closed, assigned to frankwhzhang

[2019-04-18 03:54] xiangyubo commented on #16961
@shippingwang
训练到一半卡住了

[2019-04-18 04:06] zhkfu opened #16962 "多label图像分类"
做多分类的时候，程序执行到loss,lr =train_exe.run(train_prog, fetch_list=train_fetch_list) ，报错TypeError: run() got multiple values for keyword argument 'fetch_list'
程序代码 train_fetch_list =[train_cost.name,global_lr.name]
loss,lr =train_exe.run(train_prog, fetch_list=train_fetch_list)

[2019-04-18 04:12] sshilei opened #16963 "fluid.layers.Print 没有输出"
![image](https://user-images.githubusercontent.com/18701471/56336466-18962e80-61d3-11e9-8983-00e2a68f8619.png)

程序会在169行报错，我在153行和167行加了Print调试一下，但是没有任何输出。 如果把169行改正确的话，Print就可以输出

[2019-04-18 05:03] LordAaron commented on #16900
问题基本解决，freeze会调整网络结构的顺序，结果会有差异。
训练时是：量化->反量化->conv； freeze时是： 量化->conv->反量化
上面的freeze脚本也有一个问题：
fluid.io.load_vars 要放在 transpiler.freeze_program的前面才对。

[2019-04-18 06:00] wangguibao commented on #16962
用户用的ParallelExecutor，ParallelExecutor的run方法不带main_program参数

[2019-04-18 06:00] #16962 closed, assigned to wangguibao

[2019-04-18 06:12] wangguibao commented on #16963
试试这个
https://stackoverflow.com/a/37463806

[2019-04-18 06:15] seiriosPlus commented on #15552
可以将已经融合到本地的模型参数再另外保存为一个本地模型，来做预测。

[2019-04-18 06:17] seiriosPlus commented on #15552
在包含分布式超大规模的稀疏特征训练的模型的保存过程中， 0号trainer会保存除了超大规模的稀疏特征以外的全部其他参数，每个ps会保存自己的那一部分参数。

[2019-04-18 06:26] jacquesqiao commented on #16955
听起来不需要transpiler之后再clone，可以这样试试：
[code]

[2019-04-18 06:28] wangguibao commented on #16955
另外 @LeLiu 这个地方是不是理解反了
[code]
program.clone()本来就应该是在optimize之前做的

[2019-04-18 06:28] YishengCheng commented on #15552
保存本地模型是调哪个接口呢？我试了一下save_persistables接口，报错提示不支持SparseFeatFactors，错误信息如下所示：
paddle.fluid.core.EnforceNotMet: Getting 'lod_level' is not supported by the type of var SparseFeatFactors. at [/paddle/paddle/paddle/fluid/framework/var_desc.cc:173]

ps端保存的embedding参数中是否包含了trainer0的保存的参数呢？在做模型的本地融合时，我看到也需要trainer0上保存的模型，是否都是必须的？

[2019-04-18 06:51] wangguibao commented on #16963
fluid.layers.Print()是在program里增加一个print_op，print_op在运行时才起作用。

用户程序169行是在python端报错，还未开始训练，Print()还不能打印

已向用户解释。

[2019-04-18 06:51] #16963 closed, assigned to wangguibao

[2019-04-18 07:53] LeoZhao-BJ commented on #16948
@Sand3r-  Let's sync offline and discuss a better solution to handle this case.

[2019-04-18 08:51] moming11 opened #16965 "使用int32类型训练模型时报错"
设置数据类型为int32
    usr_gender_id = layers.data(name='gender_id', shape=[1], dtype='int32')

训练时报错：
![image](https://user-images.githubusercontent.com/49748590/56348995-35922800-61fa-11e9-9369-a18576f554e6.png)

[2019-04-18 09:24] Sand3r- commented on #16948
After discussing the possible solutions with @LeoZhao-Intel the following solutions for testing the elementwise_mul without the attributes have been proposed:
#### 1. Making it possible to set data format in python tensor.
**Advantages:**
- Simple code
- Code path tested

**Disadvantages:**
- Interfering with python, c-api bindings
- Enabling user to possibly set incorrect data format for their da

[2019-04-18 09:33] LeoZhao-BJ commented on #16948
Thanks @Sand3r- for such detailed solutions, I agree with Michal's preference, third solution may be more suitable for this kind of mkldnn features, since we may not want users to know such kind of information in python level, it is better to do in C++ level.

@luotao1 @tensor-tang if you guys are not against Michal's solution, then he will start this work soon.

[2019-04-18 09:36] irukawang opened #16966 "网络矩阵某一维度会随着 设置的节点数的变化会随着成倍数变化 原始形状*节点数"
paddle版本：1.3.0
环境：mpi集群

jobid：job-0bb5cb807374034a
网络隐层是400 ， 这是节点设置为10 的错。
Enforce failed. Expected x_mat_dims[1] == y_mat_dims[0], but received x_mat_dims[1]:400 != y_mat_dims[0]:4000.
First matrix's width must be equal with second matrix's height. 400, 4000 at [/paddle/paddle/fluid/operators/mul_op.cc:61]

jobid：job-0bb5cb822a3e7c88
网络隐层400， 节点试着为8的错
C++ Callstacks:
Enforce failed. Expected x_

[2019-04-18 09:58] wangguibao commented on #16966
日志地址
http://10.90.121.15:8900/filetree?action=cat&path=/home/disk1/normandy/maybach/app-user-20190418131250-87/workspace/log/app/train.log

[2019-04-18 10:12] moming11 commented on #16965
我试了下示例的代码，把genderid的数据从int64换成int32也不行，代码：
[code]

[2019-04-18 11:44] alexqdh commented on #16965
貌似embdding传入参数必须是int64，加个cast转换就可以了，类似
[code]

[2019-04-18 12:33] LeLiu commented on #16955
@jacquesqiao 我试了，这样是可以的。貌似就是要使用original_program来clone。

@wangguibao 在哪个位置clone我和您理解的一样，就是不清楚应该用哪个program来clone。现在已经清楚了。

对clone这块的一点小建议：
既然已经填了for_test=True，那么就应给内部把和test无关的optimize op给去掉，只在文档里写个注意，还是很容易被误用。在transpile之前和之后进行test的clone效果应该是一样的，因为对于测试来说，多机和单机应该保持一致，接口的语义也应该和实际相同。

[2019-04-18 12:47] luotao1 commented on #16948
@Sand3r- @LeoZhao-Intel
Thanks very much for so detail three solutions!

Discussed with @tensor-tang, to make thing much simple and you can focus on more higher-priority things, we think that you can directly remove cases for using "x_data_format" and "y_data_format" in test_elementwise_mul_mkldnn_op, that is to say, don't need to add C++ tests.

[2019-04-18 13:03] wangguibao commented on #16965
lookup_table_op.h +71

[code]

也就是说在lookup_table_op，是固定了input ids的类型的，必须是int64类型。。

[2019-04-18 13:03] #16965 closed, assigned to nobody

[2019-04-18 13:09] ws441572091 opened #16971 "C++预测结果"
python中保存了预测模型，在python中使用预测模型进行预测，输出正常
![image](https://user-images.githubusercontent.com/35720887/56362896-836c5780-621d-11e9-9846-618856951a99.png)
使用此模型用C++进行预测
每个数字后面多了个0，
<img width="241" alt="image" src="https://user-images.githubusercontent.com/35720887/56362955-a0a12600-621d-11e9-9387-cbb6f2696091.png">
下面是我的C++预测代码，请问是哪里出了问题
![image](https://user-images.githubusercontent.com/35720887/5636

[2019-04-18 13:25] wangguibao commented on #16971
请确认一下fetch的数据类型是不是int？

[2019-04-18 14:18] chenxiaoyu3 opened #16974 "赛扬处理器报错 非法指令"
是否是指令集不支持的原因？是否有解决方案？

- 版本、环境信息：
    1）PaddlePaddle版本：1.3.0 (使用pip安装)
    2）CPU/GPU：Intel(R) Celeron(R) CPU  J1900  @ 1.99GHz
    3）系统环境：Ubuntu 16.04
    4）Python版本号 3.6.8
  
- 复现信息：
import paddle.fluid时报错
[code]
cpu info:
[code]
具体机器：  [这里](https://item.taobao.com/item.htm?id=537502465186)

gdb bt：
[code]

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

[2019-04-18 15:03] takecareofbigboss opened #16975 "paddle实现双线性插值的api不完善，需要补充。"
在paddle的nn.py发现双线性插值的说明文档，这样写的：
        Bilinear interpolation:

          if:
              align_corners = False , align_mode = 0

              input : (N,C,H_in,W_in)
              output: (N,C,H_out,W_out) where:

              H_out = (H_{in}+0.5) * scale_{factor} - 0.5
              W_out = (W_{in}+0.5) * scale_{factor} - 0.5

          else:

              input : (N,C,H_in,W_in)

[2019-04-18 15:09] takecareofbigboss opened #16976 "paddle的ssd训练中加入senet或者dsfd这种结构的时候，无故出现nan的情况。"
在ssd检测结构中，添加senet或者dsfd这样的结构，在paddle里面无故出现nan。但是在caffe和pytorch都是正常的，想问下什么原因？

senet代码：
def inceptionA_senet(data):
    pool1 = fluid.layers.pool2d(
        input=data, pool_size=3, pool_padding=1, pool_type='avg')
    conv1 = conv_bn_layer(pool1, 32, 1, act='relu')

    conv2 = conv_bn_layer(data, 32, 1, act='relu')

    conv3 = conv_bn_layer(data, 24, 1, act='relu')
    conv3 = conv_bn_layer(conv

[2019-04-18 15:09] #16900 closed, assigned to jerrywgz

[2019-04-18 23:00] LeoZhao-BJ commented on #16948
@luotao1 put more clarification here
1. We both agree to remove these 2 attrs usage from current test case, **even from C++ level**
2. All new approaches do not use these attrs, and these attrs will be removed from op and kernel in the future, we agree that it is not reasonable for adding attrs just for test.
3. It is still necessary to add test cases to verify mkldnn features in low level, e.g. n

[2019-04-19 02:17] wangguibao commented on #16976
请您具体说一下，是什么地方出现nan？最好提供完整的代码和复现场景，我们这边一起看一下？

[2019-04-19 02:28] wangguibao commented on #16974
您可能安装了avx指令集版本的paddle，但处理器不支持avx指令。可以换noavx版本试一下。

因为版本列表太长，目前pypi.org上没有把noavx版本上传上去，您可以在PaddlePaddle安装说明的附录部分找到多版本下载列表：
http://paddlepaddle.org/documentation/docs/zh/1.3/beginners_guide/install/Tables.html

[2019-04-19 03:15] #16971 closed, assigned to wangguibao

[2019-04-19 03:16] wangguibao commented on #16971
和用户确认后，fetch variable类型应该是long int，在服务器上验证long int是8字节，而int是4字节。

用户改用long int解析output，已经符合预期。

[2019-04-19 03:25] wangguibao commented on #16955
用户提到的program.clone(for_test=True)应该自动把预测无关的optimize op去掉这个建议，我们会反馈给内部团队

[2019-04-19 03:25] #16955 closed, assigned to wangguibao

[2019-04-19 03:36] luotao1 commented on #16948
Yes, we mean the first one. You can add C++ tests when you are convenient. Besides, hope the C++ tests could be as simple as better. @LeoZhao-Intel @Sand3r-

[2019-04-19 03:48] LeoZhao-BJ commented on #16948
OK, then we are all aligned. :)

[2019-04-19 06:02] LeLiu commented on #16627
@gongweibao 您好，我也遇到了类似的问题。我的情况是训练节点在训练过程中有用dev节点跑测试的情况，在跑完测试后，所有的训练节点再尝试与PSERVER连接就会失败。是因为不能长时间与PSERVER不通信吗？要怎么处理？

[2019-04-19 07:41] oshixiaoxiliu opened #16979 "centos保存模型错误，mac与centos 模型结构保存行为不一致，"
使用以下代码保存模型结构，在centos、macos上行为不一致，centos上保存的结构错误

`
import os
import math
import paddle
import paddle.fluid as fluid
import sys
import time
use_cuda = False

def fake_model():
    fc_input = fluid.layers.data(name="fc_input", shape=[-1, 950], dtype='float32')
    fc0 = fluid.layers.fc(input=fc_input, size=256, act="tanh")
    fc1 = fluid.layers.fc(input=fc0, size=128, act="tanh")
    return fc_inpu

[2019-04-19 08:38] Superjomn commented on #16979
centos 上是1.3以上？

[2019-04-19 08:43] oshixiaoxiliu commented on #16979
centos上paddle的版本和mac上的都是1.3.2
centos版本为CentOS release 6.3 (Final)

[2019-04-19 08:50] dashulu opened #16980 "如何获取训练过程中的所有梯度？"
如何获取训练中的所有梯度，并且像模型一样保存下来？

[2019-04-19 08:58] colourful-tree commented on #16980
np.array(fluid.global_scope().find_var('embedding_name').get_tensor())

[2019-04-19 09:00] dashulu commented on #16980
@colourful-tree 有批量的接口吗？就像save model一样？

[2019-04-19 09:00] colourful-tree commented on #16980
好像没有哈

[2019-04-19 11:48] gongweibao opened #16984 "Bug with fp16"
There maybe bug in save/load fp16 model。

[2019-04-19 14:34] guomingz opened #16987 "建议修改test_conv2d_op.py中一个非测试case的名称"
[testcuda](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_conv2d_op.py#L120) 是否可以修改为has_cuda(self)? 这里使用test开头，会被unittest认为是一个test case，尽管这不是。

[2019-04-19 14:34] guomingz commented on #16987
@luotao1  we can provide a simple PR for this suggestion if needed.

[2019-04-19 14:43] guomingz opened #16988 "建议修改test_conv2d_op.py 中 filter的随机值范围"
此处[weights](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_conv2d_op.py#L97) 的范围为0~1， 可否设置为-1 ~ 1之间的随机数？这样也方便测试conv/relu fusion case，否则若值原始即为全正值，便没法检测conv relu fusion是否有效 @luotao1

[2019-04-19 14:57] luotao1 commented on #16987
请问这是会对int8单测造成影响么？

[2019-04-19 15:22] hexmiao opened #16989 "使用py_reader异步训练，save_inference_model报错"
环境信息：PaddlePaddle-1.4.0， CPU单机训练， Mac OS 10.10  Python 3.5
当训练完一个轮次，调用 fluid.io.save_inference_model 方法时，报以下错误：

 File "/Users/hex/paddle/lib/python3.5/site-packages/paddle/fluid/io.py", line 1000, in save_inference_model
    prepend_feed_ops(main_program, feeded_var_names)
  File "/Users/hex/paddle/lib/python3.5/site-packages/paddle/fluid/io.py", line 840, in prepend_feed_ops
    out = global_blo

[2019-04-19 15:43] guomingz commented on #16987
local 测试显示更改无影响 反而会加快ut，因为减少了不必要的测试(testcuda)。

[2019-04-19 18:41] baojun-nervana commented on #15599
I was able to reproduce the ngraph test hanging issue and it was due to glibc issue on centos6. PR#16990 should resolve the issue

[2019-04-20 04:11] rongshunlin opened #16991 "使用双层RNN 发现只支持one level sequence"
# 1.目前的背景
一个paragraph 有三个句子A/B/C，我这边先使用两个LSTM,对句子A,B做encoder。得到A,B两个LSTM 最后的输出以后，然后拼接起做为context信息，句子C做为input 信息 输入到第三个LSTM，得到最后的数据。
# 2.下面是代码实现
[code]
# 3.报错信息
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected lods.size() == 1UL, but received lods.size():0 != 1UL:1.
Only support one level sequence now. at [/home/teamcity/work/10934dbd7f8bff0e/paddle/fluid/operators/math/sequence2batch.h:79

[2019-04-20 04:33] rongshunlin commented on #16991
@luotao1

[2019-04-20 06:34] wuxiaodong1014 commented on #16755
我用的paddle版本是1.3,python 3.6。当我把参数parallel设为True时（也就是用多卡GPU并行训练时，我有两块GPU）会出现卡住情况，当我把parallel设为False时，不会出现卡住现象。卡住的现象是：屏幕不再打印输出loss值，但是GPU还是满满的，程序也不报错。

[2019-04-20 06:47] wuxiaodong1014 opened #16992 "用SSD训练pascalvoc数据集时，训练了200个epoch，但Best test map一直在65%，一直上不去"
老师们好！我在运行咱们paddle官网上“目标检测”：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/object_detection/README_cn.md时，按照说明一步步来操作，能够正常训练。但是从第4个epoch开始 ，Best test map 的值，一直是0.652660250664，未变。训练到了200个epoch依然是0.652660250664。且best_model这个文件夹也一直没有更新。请问这可能是什么原因呢？不知道别的小伙伴有没有遇到这种情况。

[2019-04-20 17:01] sunflowerlyb commented on #15689
hi，麻烦请教请下这个时间是在哪里设置的呢？我的模型训练过程中会自动断掉，我以为是learningrate设置的太大了，我设置的是e-3，但是改成e-4之后还是会自动退出，没有报错信息

[2019-04-22 01:55] #16987 closed, assigned to nobody

[2019-04-22 02:26] LokiLiu opened #17002 "save_inference_model的结果如何使用capi预测？"
- 版本、环境信息：
    1）PaddlePaddle版本：0.12.0(v2)
    2）CPU：Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz
    3）GPU：
    4）系统环境：Linux version 3.10.0_3-0-0-17

[2019-04-22 02:26] yihuaxu opened #17003 "all pass can only apply to OPs in block 0"
When using to apply the fuse passes into transformer model, we found that all pass can only apply to OPs in block 0.

details :
**System information**
-PaddlePaddle version 1.4
-CPU: all version

[2019-04-22 02:27] heavengate commented on #16992
方便贴一下paddle版本，models版本，代码，训练命令，日志等相关信息么

[2019-04-22 02:42] heavengate commented on #17002
请参考 http://www.paddlepaddle.org/documentation/docs/zh/1.4/advanced_usage/deploy/inference/native_infer.html

[2019-04-22 02:43] #17002 closed, assigned to heavengate

[2019-04-22 03:23] sunflowerlyb opened #17006 "模型训练过程中自动退出"
你好，模型在训练过程中会自动退出，日志中无报错信息，cost值正常下降，请教一下是什么原因呢？
代码：
"""
This file is used to train the model.
"""
import os
import sys
import math
import time
import random
import argparse

import numpy as np
import paddle
import paddle.fluid as fluid

#import reader
from network import lex_net

def file_reader(file_dir,
                word2id_dict,
                label2id_dict,
                word_replace_dic

[2019-04-22 03:25] sunflowerlyb commented on #17006
paddle版本1.2.0

[2019-04-22 03:33] heavengate opened #17008 "关于yolov3_loss API的一些反馈"
paddle 1.3，detection.py里面，yolov3_loss函数，554行，注释是否有问题？两个anchors
![image-20190403144456-8xdybm](https://user-images.githubusercontent.com/12605721/56481632-a3886900-64f2-11e9-8367-7947ff4b0940.png)

官方文档里是对的，第二个应该是 anchor_mask
![image-20190403144511-m1eqvw](https://user-images.githubusercontent.com/12605721/56481638-a97e4a00-64f2-11e9-8f3c-91f5509984c5.png)

paddle1.3  yolo-v3的文档里，有点不好理解：上面说yolo-v3的

[2019-04-22 03:39] luotao1 commented on #17003
related #15023. You can update #15023 which only fails on
[code]

[2019-04-22 03:48] heavengate commented on #17006
file_reader中遍历完一次数据后即返回，train函数中也只对reader调用过一次初始化，数据读完之后reader就没有数据yield出来，导致程序中止

[2019-04-22 03:51] chyj4747 opened #17009 "paddle.fluid.install_check.run_check()报错"
GPU版本的paddle
系统win10
cuda8.0+cudnn7.0
python3.7

错误1：paddle.fluid.core.EnforceNotMet: Invoke operator fill_constant error.
错误2：cudaGetDeviceProperties failed in paddle::platform::GetCUDAComputeCapability: unknown error at [D:\1.4.0\paddle\paddle\fluid\platform\gpu_info.cc:111]

请问要如何解决？

[code]

[2019-04-22 04:06] #16988 closed, assigned to nobody

[2019-04-22 04:10] heavengate commented on #17006
![image](https://user-images.githubusercontent.com/12605721/56482623-a5a0f680-64f7-11e9-89c9-bcbadc0ce5b3.png)
代码中主动退出

[2019-04-22 04:12] heavengate commented on #17009
看报错信息是cudaGetDeviceProperties， CUDA驱动等是否正确安装了呢

[2019-04-22 04:20] chyj4747 commented on #17009
[code]
百度上说版本输出正常应该安装没问题

[2019-04-22 05:22] ccmeteorljh opened #17013 "分布式nccl模式下，会hang住，不稳定复现"
paddle version： 1.4.0
cuda & cudnn: 8 ,7
实验模型：simnet
代码库地址：http://icode.baidu.com/repos/baidu/paddle/test/tree/master
第一次执行结果：
[code]
第二次执行结果hang住：
[code]
查看对应的trainer日志：
[code]

[2019-04-22 05:29] yangjing14 opened #17014 "fluid layers.reshape如何输入shape"
构建的部分网络结构如下，其中input是一个3d的tensor，shape为(batch_size, num_vector, vector_dim)，想将input reshape到二维，不知道shape怎么给比较合适，按现在的代码会报错。

def nw_2dvector_to_1dvector(input, vector_dim):
    shape = fluid.layers.shape(input)
    batch_size, num_vectors = shape[0], shape[1]
    reshaped = fluid.layers.reshape(input, shape=[batch_size * num_vectors, vector_dim])
    fc = fluid.layers.fc(input=reshaped, size=HIDDEN1,

[2019-04-22 05:45] heavengate commented on #17014
shape = fluid.layers.shape(input) 改成 shape = input.shape 试下

[2019-04-22 05:51] yangjing14 commented on #17014
试了一下，前面这个问题确实没有了，但是后面第二个reshape的地方还是报错
Traceback (most recent call last):
  File "onehot_train_paddle_lod.py", line 343, in <module>
    train(use_cuda, USE_PRE_TRAIN_EMBEDDING)
  File "onehot_train_paddle_lod.py", line 240, in train
    predict, label, avg_cost, acc = network_onehot_plus_2dvector()
  File "onehot_train_paddle_lod.py", line 173, in network_onehot_plus_2dvector
    fc1_vec = nw_2dv

[2019-04-22 05:55] heavengate commented on #17014
这个报错说明input.shape里读取的batch_size和num_vectors都是-1， 应该是传入的input之前做过第二的reshape操作之类的，把batch_size和num_vectors其中有一个指定为具体值就可以了

[2019-04-22 06:01] yangjing14 commented on #17014
Batch size理论上是可以指定的，但是不太清楚怎么处理最后一个batch大小不等于batch size的情况

[2019-04-22 06:05] heavengate commented on #17014
一般选择drop_last或者padding的方式

[2019-04-22 06:06] dashulu commented on #16980
按照np.array(fluid.global_scope().find_var('embedding_name').get_tensor())****方法，梯度无法获取，显示
![image](https://user-images.githubusercontent.com/4484303/56485721-c2452a80-6507-11e9-873d-d67b41498250.png)
请问是否有其他方式？

[2019-04-22 06:08] yangjing14 commented on #17014
请问两个选项在哪里指定？

[2019-04-22 06:10] heavengate commented on #16980
fluid.default_main_program().list_vars()可以或者所有的Variable，其中name带@GRAD的都是梯度

[2019-04-22 06:13] heavengate commented on #17014
https://github.com/PaddlePaddle/Paddle/blob/24923f760497e6b0ae9abbc96382e55fa218ffa9/python/paddle/batch.py#L18

https://github.com/PaddlePaddle/Paddle/blob/24923f760497e6b0ae9abbc96382e55fa218ffa9/python/paddle/batch.py#L18

[2019-04-22 06:16] alexqdh opened #17016 "paddle是否支持cuda10 v100的训练"
想问下paddle是否支持cuda10 v100的训练, dockerhub上没有找到对应的镜像
https://hub.docker.com/r/paddlepaddle/paddle/tags

[2019-04-22 06:26] dashulu commented on #16980
@heavengate  通过list_vars()是可以看到user.w@GRAD这个变量的，但是find_var时就是找不到
![image](https://user-images.githubusercontent.com/4484303/56486549-8c557580-650a-11e9-8303-cc2a224eab42.png)

[2019-04-22 06:28] heavengate commented on #17016
我们官方提供cuda9的镜像，如果是cuda10的话需要自己编译Paddle

[2019-04-22 06:38] wangguibao commented on #16234
该issue已经超过1个月没有反馈，先关闭了。如有需要可reopen。多谢

[2019-04-22 06:38] #16234 closed, assigned to wangguibao

[2019-04-22 06:38] wopeizl commented on #17009
错误2：cudaGetDeviceProperties failed in paddle::platform::GetCUDAComputeCapability: unknown error  一般情况下是编译版本和当前显卡算力不匹配的问题，如果这种情况下可以考虑自己编一个版本，可以参考 http://paddlepaddle.org/documentation/docs/zh/1.4/beginners_guide/install/compile/compile_Windows.html

[2019-04-22 06:46] chyj4747 commented on #17009
哦，好的，谢谢

[2019-04-22 06:47] #17009 closed, assigned to wopeizl

[2019-04-22 06:56] chyj4747 commented on #17016
请问用VS2017能否编译？

[2019-04-22 06:59] heavengate commented on #17016
建议参考 http://paddlepaddle.org/documentation/docs/zh/1.4/beginners_guide/install/compile/fromsource.html 编译

[2019-04-22 07:18] seiriosPlus commented on #15552
PS只保存大规模稀疏参数(那一个参数，其他参数还是在trainer0上存)

[2019-04-22 08:25] dubhex opened #17021 "paddle中如何对模型进行剪裁？"
想请问paddle中如何对模型进行剪裁？
具体为：
模型1的最后一层用全连接层输出100个值，模型已训练完成并使用io.save_inference或io.save_params保存了inference/params文件。
现需要一个输出50个值（与模型1前50值相同）的模型2，模型2除了输出全连接层输出数量与模型1不同外，其它均相同，也就是如何对模型1进行剪裁。
换个一角度，两个模型定义的.py文件，除了输出fc的数量不同，其与相同，如何进行对应赋值完成模型剪裁。
请问paddle中如何操作能达到上述目的？

[2019-04-22 08:31] heavengate commented on #17021
这种需要导入的时候对该层做特殊处理，参考https://github.com/PaddlePaddle/models/blob/f89fab5b0ada13558b902d30712562f97428aeb4/PaddleCV/video/models/stnet/stnet.py#L136

[2019-04-22 08:31] wzgwzg opened #17022 "paddle.fluid.core.EnforceNotMet: Enforce failed. Expected x_mat_dims[1] == y_mat_dims[0]"
error information:

[2019-04-22 08:31] wzgwzg opened #17023 "paddle.fluid.core.EnforceNotMet: Enforce failed. Expected x_mat_dims[1] == y_mat_dims[0]"
**paddle version: 1.2.0**

**error information:**
Traceback (most recent call last):
  File "random_erasing_train.py", line 399, in <module>
    main()
  File "random_erasing_train.py", line 395, in main
    train(args)
  File "random_erasing_train.py", line 345, in train
    fetch_list=train_fetch_list)
  File "/home/ssd1/vis/wangzhigang05/paddle_release_home/python/lib/python2.7/site-packages/pa

[2019-04-22 08:41] gavin1332 commented on #16991
the input of dynamic_lstm should be a sequence with lods.size() != 0, but not a vector.
In your case, s1 and s2 is the last status of lstm encoded results respectively, which are vectors, then s3 = s1 + s2 is the same. So it raises an exception as you input it to dynamic_lstm

[2019-04-22 08:41] #16991 closed, assigned to gavin1332

[2019-04-22 08:42] zhoukunsheng opened #17024 "[Operator] add diag op"
test=develop
Like numpy.diag, this op generates a square matrix with specified diagonal values.

[2019-04-22 08:42] yangjing14 commented on #17014
reshaped2 = fluid.layers.reshape(fc, shape=[BATCH_SIZE, -1, HIDDEN1])
固定batch_size后reshape报一下错误

Traceback (most recent call last):
  File "onehot_train_paddle_lod.py", line 345, in <module>
    train(use_cuda, USE_PRE_TRAIN_EMBEDDING)
  File "onehot_train_paddle_lod.py", line 242, in train
    predict, label, avg_cost, acc = network_onehot_plus_2dvector()
  File "onehot_train_paddle_lod.py", line

[2019-04-22 08:44] sunflowerlyb opened #17025 "模型在测试时正常，使用c++调用时预测失败"
你好，模型训练paddle版本1.2.0，c++调用paddle版本1.3.0
问题：
同一个mcpack包，我在模型训练的时候，调用模型进行测试时，对特征标注正确，使用c++调用模型标注失败（未识别）

详细的输入序列及预测如下：
1、调用模型进行测试时，对特征标注正确，格式：输入tag    输入index    模型预测标注结果
![image](https://user-images.githubusercontent.com/15072355/56490262-28857980-6517-11e9-9ca6-8b6c63194c0b.png)
2、使用c++调用时预测失败，格式：输入tag    输入index    模型预测标注结果（未转化为标签名，不影响查看）
![image](https://user-images.githubusercontent.com/1507235

[2019-04-22 08:44] #17022 closed, assigned to heavengate

[2019-04-22 08:46] vincewangnsn opened #17026 "paddle fluid训练出错"
`  File "train.py", line 208, in train
    fetch_list=[cost])
TypeError: run() got multiple values for keyword argument 'fetch_list'`

出错位置代码如下：
[code]
请问可能是什么原因导致的？

另外，目前对paddle进行升级（从v2迁移到fluid），请问有没有v2-> fluid 数据类型相对应的文档，例如v2的dense_vector_sequence对应fluid的example？多谢

[2019-04-22 08:48] sunflowerlyb commented on #17006
多谢了

[2019-04-22 08:48] #17006 closed, assigned to heavengate

[2019-04-22 08:50] yangjing14 commented on #17014
另外想请教一下如何在运行时动态的获取Tensor实际的shape？（不是定义网络结构的时候给的shape）

[2019-04-22 08:56] heavengate commented on #17025
请粘贴一下相关代码，谢谢

[2019-04-22 08:58] heavengate commented on #17026
lod_tensor的文档如下 http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/fluid_cn.html#lodtensor
没有单独的dense_vector_sequence转lod_tensor的文档

[2019-04-22 09:02] vincewangnsn commented on #17026
@heavengate 上面的出错原因可能是什么导致的？

[2019-04-22 09:05] heavengate commented on #17026
你可以把cost打印出来看下，应该是cost的格式不对

[2019-04-22 09:06] heavengate commented on #17023
是train的时候报错还是test时候报错

[2019-04-22 09:09] vincewangnsn commented on #17026
@heavengate  是rank_cost的返回值，格式如下
[code]

[2019-04-22 09:12] heavengate commented on #17026
fetch_list里面需要传变量名而非变量，用[cost.name]

[2019-04-22 09:13] vincewangnsn commented on #17026
@heavengate 之前试过了，还是一样的报错

[code]

[2019-04-22 09:16] heavengate commented on #17026
麻烦贴下全量代码

[2019-04-22 09:28] vincewangnsn commented on #17026
@heavengate
搜索之前的issue，parallel训练出现同样bug，但后来后来修复，详见https://github.com/PaddlePaddle/Paddle/issues/13117
我的paddle版本：paddle.__version__: '1.3.2'，同样parallel训练
train.py
[code]
loss function: rank_loss, 也就是train.py里对应的cost
[code]

[2019-04-22 09:47] wangguibao commented on #16961
用户在AI studio上执行训练。后来怀疑是当开的reader进程过多时会有调度问题。将reader进程从8个改为4个后，继续观察。至今天未再反馈问题。

[2019-04-22 10:03] wzgwzg commented on #17023
train的时候

[2019-04-22 11:02] heavengate commented on #17026
exe.run的第一个参数名指定program=fluid.default_main_program() 能解决么

[2019-04-22 11:03] heavengate commented on #17014
fluid.layers.shape

[2019-04-22 11:04] heavengate commented on #17023
有加载ResNet预训练权重么， ResNet(layers)里面有队ResNet结构做修改么

[2019-04-22 11:12] wzgwzg commented on #17023
有加载权重，resnet就是把最后的stride改了，2改到1

[2019-04-22 11:19] #17016 closed, assigned to heavengate

[2019-04-22 11:58] #17023 closed, assigned to heavengate

[2019-04-22 13:03] zds9204 opened #17032 "如何指定在训练网络时指定参数偏移量名字？"
训练中，代码如下：
content_subtitle_conv = nets.sequence_conv_pool(
        input=content_subtitle_emb,
        num_filters=32,
        filter_size=3,
        act="relu",
        pool_type="average",
        param_attr='content_subtitle_conv')

用这种方式指定层的名字，只能指定一部分参数。 还会出现sequence_conv_0.b_0。请问这个参数如何指定名字？

[2019-04-22 13:06] Halfish opened #17033 "batch_size 开很大时，CPU 和 GPU 的结果会有少许 diff"
- 标题：batch_size 开很大时，CPU 和 GPU 的结果会有少许 diff
- 版本、环境信息：
    1）PaddlePaddle版本：1.3.2
    2）CPU：Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz
    3）GPU：Tesla K40m、CUDA 8.0 和CUDNN v5.1
    4）系统环境：CentOS release 6.3 (Final)，Python 2.7.15
- 问题描述：batch_size 开很大时，CPU 和 GPU 的结果会有少许 diff

我在跑一个序列标注模型（BiGRU + CRF）的预测时，发现如果让 batch_size=800 或者 1000 这样大的值，CPU 和 GPU 的结果会有稍许 diff，不知道原因是什么。而 batch_size=100 时却没有这个问题，此时

[2019-04-22 13:07] wangguibao commented on #16966
分布式训练添加配置glog_v=3，发现如下位置：
[code]

log地址：
http://10.182.47.38:8900/filetree?action=cat&path=/home/disk1/normandy/maybach/app-user-20190422203039-67/workspace/log/user/trainer.log

[2019-04-22 13:10] Halfish commented on #17033
Bi-GRU + CRF 模型代码

![image](https://user-images.githubusercontent.com/7709556/56501861-fab62a00-6542-11e9-8a81-76032dc080fe.png)

[2019-04-22 13:14] heavengate commented on #17032
<img width="355" alt="conv_pool" src="https://user-images.githubusercontent.com/12605721/56501939-47016a00-6543-11e9-9f0e-57f80200c136.png">
sequence_conv_pool有param_attr和bias_attr参数，分别制定w和b的attr，可通过类似https://github.com/PaddlePaddle/models/blob/18d7c658648056c81962c96442f0fa2b15b4c95d/PaddleCV/yolov3/models/darknet.py#L44   的方式制定两个Variable的名字

[2019-04-22 13:19] heavengate commented on #17033
1. CPU和GPU上使用的数据相同么
2. CPU和GPU上是否有random的操作导致结果不同
3. 麻烦确认一下中间层的结果是否有diff， 从而确认一下diff是哪一层产生的

[2019-04-22 13:23] zds9204 commented on #17032
有用。多谢了

[2019-04-22 13:23] #17032 closed, assigned to heavengate

[2019-04-23 01:54] colourful-tree commented on #16989
可以参照这样的写法：
fluid.io.save_inference_model(epoch_model, ["words"], [prediction], exe)

[2019-04-23 01:55] dubhex commented on #17021
这个导入是选择某些层的参数不导入吧？比如例子中，整个fc层的参数没导入，现在的情况是需要可以有选择的导入部分fc层的参数，有这种例子吗？

[2019-04-23 02:02] heavengate commented on #17021
建议搭网络的时候搭两个最后的fc层，一层100，一层50，先把权重导到100的那个fc中，然后参考  https://github.com/PaddlePaddle/models/blob/f89fab5b0ada13558b902d30712562f97428aeb4/PaddleCV/video/models/stnet/stnet.py#L136
中get和set的方法把裁剪的权重set到50的fc中，实际网络输出用50的fc的输出

[2019-04-23 02:14] dubhex commented on #17021
有两个fc层，这样最后使用io.save_inference保存网络的时候也会包输出100个值得那个fc给保存下来吧？现在的目的就是想通过剪裁fc保留特定输出，减小参数量，这样做应该不能达到这个目的？

[2019-04-23 02:17] heavengate commented on #17021
先写带100和50的fc为中间版本，转换权重后保存，然后删掉fc100的，重新load再save_inference

[2019-04-23 02:36] chyj4747 opened #17039 "win10编译时cmake报错"
GPU Paddle release/1.4
win10, cuda 8.0, cudnn 7.0, python 3.7
官方文档里win编译需要的py库以及third_party库都装了

cmake命令：
`cmake .. -G "Visual Studio 14 2015 Win64" -DPY_VERSION=3.7 -DPYTHON_INCLUDE_DIR=${PYTHON_INCLUDE_DIRS} -DPYTHON_LIBRARY=${PYTHON_LIBRARY} -DPYTHON_EXECUTABLE=${PYTHON_EXECUTABLE} -DWITH_FLUID_ONLY=ON -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DCUDA_TOOLKIT_ROOT_DIR=${CUDA_TO

[2019-04-23 02:59] bhan1111 opened #17040 "分布式训练任务提交训练失败，无法定位原因"
paddle版本1.2
单机运行没有问题
提交到mpi训练时训练fail
mpi地址
http://yq01-hpc-lvliang01-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20190422183331-4092
train.log截图
<img width="1276" alt="图片" src="https://user-images.githubusercontent.com/29255596/56549958-d98f2100-65b6-11e9-8a2b-7d2b5634d5dc.png">

[2019-04-23 03:11] #17014 closed, assigned to heavengate

[2019-04-23 03:17] heavengate commented on #17023
paddle中如何对模型进行剪裁？
  + 解答：加载预训练权重的时候误加载fc层

[2019-04-23 03:19] heavengate commented on #17025
C++输入数据空格未对齐，请对齐空格确认

[2019-04-23 03:25] heavengate commented on #16980
list_vars()的时候把var.persistable 打出来看下这个梯度是不是persistable的

[2019-04-23 03:31] xiaolil1 commented on #16916
@luotao1 I have talked with @jianhang-liu about this issue. #16914 is the solution to fix this issue, and #16173 depends on it. Please help to review it, thanks! @tensor-tang @hshen14

[2019-04-23 03:45] heavengate opened #17041 "paddle split操作维度和参数的长度是相等的，为啥也会报这个，参数长度不大于维度的错呢？"
![image](https://user-images.githubusercontent.com/12605721/56552267-51f8e080-65bd-11e9-8e4b-4da2f645e5e8.png)

[2019-04-23 03:49] heavengate commented on #17041
<img width="537" alt="split" src="https://user-images.githubusercontent.com/12605721/56552389-b7e56800-65bd-11e9-803b-6bbce05d73ac.png">

python代码问题，此处应为<= 待修复

[2019-04-23 04:03] hshen14 commented on #16916
@jczaja @tensor-tang @luotao1 The PR (first solution) looks good to me.

[2019-04-23 04:23] chyj4747 commented on #17039
用VS2015编译后build/third_party/里出现了protobuf目录，难道要cmake生成paddle.sln后用VS编译third_party然后再cmake一次？
如果是的话，个人建议官方文档里应该注明这一点
不然按照惯性思维，第五步“执行cmake”报错就会停下来找错了

[2019-04-23 05:33] fty8788 opened #17045 "libmkldnn.so not found"
按照命令安装完后（curl 10.86.69.44:8192/install.sh | bash -s paddlepaddle_gpu-1.3.0.post97-cp27-cp27mu-linux_x86_64.whl），执行训练出错：
fluid train.py
Traceback (most recent call last):
  File "train.py", line 16, in <module>
    import paddle.fluid as fluid
  File "/home/disk1/yitengfei/paddle_release_home/python/lib/python2.7/site-packages/paddle/fluid/__init__.py", line 18, in <module>
    from . import framew

[2019-04-23 06:05] shippingwang commented on #17045
export 发下您的LD path

[2019-04-23 06:10] fty8788 commented on #17045
export LD_LIBRARY_PATH=/home/disk1/yitengfei/news-rerank-dnn/bin/:$LD_LIBRARY_PATH

[2019-04-23 06:23] fty8788 commented on #17045
解决了：
export LD_LIBRARY_PATH=/home/disk1/yitengfei/paddle_release_home/python/lib/python2.7/site-packages/paddle/libs/:$LD_LIBRARY_PATH

新的问题：机器没有外网，能否跳过download
Cache file /home/disk1/yitengfei/.cache/paddle/dataset/imikolov/simple-examples.tgz not found, downloading http://www.fit.vutbr.cz/~imikolov/rnnlm/simple-examples.tgzTraceback (most recent call last):
  File "train.py", line 30, in <module

[2019-04-23 06:37] #17041 closed, assigned to heavengate

[2019-04-23 06:45] hexmiao commented on #16989
写法没有问题，同步训练的方式保存是正常，只是切换成py_reader的方式来训练就不行了！
fluid.io.save_inference_model 该方法里面，经过以下代码处理后，发现input 变量在global_block 已被移除，导致var input not in this block 错误

        main_program = main_program._prune(targets=target_vars)

        main_program = main_program._inference_optimize(prune_read_op=True)
        fetch_var_names = [v.name for v in target_vars]

        #出错代码行
        prepend_feed_ops(main_pr

[2019-04-23 07:26] chyj4747 commented on #17039
没用，即便先用VS2015编译third_party后再cmake，还是一样的错误
另外VS2015编译third_party时在link的时候报错了，说是有几个lib文件无法打开，具体的错误忘存了

[2019-04-23 08:46] chyj4747 commented on #17039
cmake通过了，装个2.7和3.7两个Python版本的问题，cmake或其配置不会去找正确的python版本的路径
${PYTHON_INCLUDE_DIRS}、${PYTHON_LIBRARY}、${PYTHON_EXECUTABLE}
以上三个变量换成绝对路径，比如：
[code]
注意路径中的 \ 要换成 /

[2019-04-23 08:58] chyj4747 commented on #17039
不过上面提到的编译先后顺序的问题依然存在，vs2015需要cmake创建的build/paddle.sln打开项目，cmake又需要vs编译的build/third_party/install/protobuf，而官方没有提供编译好的protobuf
因此还是需要先cmake创建sln，然后vs编译第三方库，再cmake一次

由于本人刚入门，不排除走了歪路的可能，希望官方文档能扩充一些常见问题的处理，比如多个python版本，以及上述问题

[2019-04-23 09:03] luotao1 commented on #16841
@jczaja @jianhang-liu I fix it in #17048, you can have a try.

[2019-04-23 09:10] shippingwang commented on #17045
机器没有网 数据不能下载 可以尝试自己手动load下数据

[2019-04-23 09:19] sfraczek commented on #17003
Why was it discontinued? I can see if I can finish that.

[2019-04-23 09:49] zenghsh3 opened #17049 "建议增加分布（distributions）计算相关op，例如 fluid.distributions"
distributions计算相关op在RL场景下经常使用，且具有通用性（例如不同distributions下的entropy、kl等计算）。

TF和PyTorch相关API如下：
[tf.distributions](https://www.tensorflow.org/api_docs/python/tf/distributions)
[torch.distributions](https://pytorch.org/docs/stable/distributions.html)

[2019-04-23 09:55] zyz282994112 opened #17050 "BERT模型使用cpu训练内存溢出"
paddle版本：paddlepaddle-1.3.0-cp27-cp27mu-linux_x86_64.whl
bert版本：chinese_L-12_H-768_A-12/

问题描述：使用paddle bert进行单机finetune xnli任务，如下是配置信息，日志里给出的理论内存占用是2g多，但实际内存占用达到了40g以上，超过40g后出core退出。
ps: 其中device count已经设置为1了，batch_size设置为8，但内存占用并没有减少。

[code]
如下是报错信息：
[code]

[2019-04-23 10:15] luotao1 commented on #17003
@sfraczek

@Superjomn has some other high-priority works now.

Hope your work!

[2019-04-23 10:50] sunflowerlyb opened #17051 "模型训练时不收敛"
你好，当前模型训练一直不收敛，cost值先变小后变大，但是变小并没有到最小
修改了learning_rate为0.001、0.0001后依然存在，请问下是什么原因造成的呢？
训练数据大小：222条，测试数据集大小30条
数据输入长度最长2000
batch_size为40
其他各参数设置如下：
![image](https://user-images.githubusercontent.com/15072355/56575479-61494f80-65f8-11e9-9ba7-94750e107d20.png)

辛苦帮忙看下会是什么原因造成的吧?
我这个是按站点训练的模型，有些站点可以正常训练，有些站点会出现这种情况。
模型训练版本1.2.0

[2019-04-23 10:52] sunflowerlyb commented on #17025
去掉空格后ok，多谢了

[2019-04-23 10:52] #17025 closed, assigned to heavengate

[2019-04-23 11:22] shippingwang commented on #17051
什么模型？replied: RNN
代码帮忙发下 @sunflowerlyb

[2019-04-23 12:05] heavengate commented on #16980
可以将 user.w@GRAD 加到fetch_list中，通过exe.run fetch出来

[2019-04-23 12:11] 1Shaun opened #17052 "开发者峰会开完了 什么时候出3.0"
开发者峰会开完了 什么时候出3.0

[2019-04-23 12:22] shippingwang commented on #17052
您好，目前最新的Paddle release版本是1.4.1
具体没有3.0的计划
现在paddlepaddle不按照v1 v2...发布版本
而是按照fluid +版本号进行更新，
感谢您对paddlepaddle的期待，谢谢

[2019-04-23 12:22] #17052 closed, assigned to nobody

[2019-04-23 12:38] dubhex opened #17053 "训练报错：an illegal memory access；"
加载模型参数进行训练时报错：

  what():  an illegal memory access was encountered at [/paddle/paddle/fluid/framework/details/op_handle_base.cc:37]
PaddlePaddle Call Stacks:
0       0x7fed827e1f15p void paddle::platform::EnforceNotMet::Init<char const*>(char const*, char const*, int) + 357
1       0x7fed827e2299p paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::exception_ptr, char const*, int

[2019-04-23 12:50] shippingwang commented on #17051
减小bs试下？这个调参问题 您可以试着按照一些策略调一下
或者如果可以，把代码发出来看下

[2019-04-23 12:55] dubhex commented on #17053
跟加载模型没关系，问题出在模型的设置，这个模型是一个两分支模型，需要在分支处也设置stop_gradient = True

[2019-04-23 12:56] #17053 closed, assigned to nobody

[2019-04-23 13:25] 930083287 opened #17056 "v2 训练的model，该如何利用fluid预测"
虽然https://github.com/PaddlePaddle/Paddle/issues/12819 这个issue有相关解释，但是并没有完全解决，目前我们可以转换了参数，但是后面如何load模型？烦请解析一下

[2019-04-23 13:53] guomingz opened #17057 "One issue found on test_conv2d_int8_mkldnn_op case"
我们在做conv/relu6 fusion int8 test case 集成时候发现，当前的test_conv2d_int8_mkldnn_op test case有潜在bug， 具体表现为[init_data_type_with_fusion](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/mkldnn/test_conv2d_int8_mkldnn_op.py#L264)并没有传递fuse_relu/fuse_residual 值到父类[TestConv2dInt8Op](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/mkldn

[2019-04-23 14:41] ghost commented on #16916
@xiaolil1 Actually I'm not so confident whether it's a real issue. As you said, we had went though the code and discussed this for more than 1 hour. We both agreed that in place edit was already supported by existing code, i.e. all in-place-var will be [transfered back](https://github.com/PaddlePaddle/Paddle/blob/8d0d6185ce3b3c7571b34316152ece5dd361f859/paddle/fluid/framework/operator.cc#L941) by

[2019-04-24 01:50] doraemonlei opened #17059 "官方数字识别实例EnforceNotMet: Invoke operator batch_norm_grad error."
1）docker ubuntu16.04
2）pp最新版
3）gpu：k80双卡 cuda9+cudnn7
[code]

[2019-04-24 02:51] sunflowerlyb commented on #17051
代码：
"""
This file is used to train the model.
"""
import os
import sys
import math
import time
import random
import argparse

import numpy as np
import paddle
import paddle.fluid as fluid

#import reader
from network import lex_net

def file_reader(file_dir,
                word2id_dict,
                label2id_dict,
                word_replace_dict,
                filename_feature=""):
    """

[2019-04-24 03:01] joodo commented on #15475
您好，感谢反馈，官网现在已经更新了文案，希望您继续关注 PaddlePaddle，谢谢！

[2019-04-24 03:33] xiaohuanghuasyy commented on #17056
[code]

[2019-04-24 03:41] joodo commented on #15935
we made some changes on paddlepaddle.org, including remove the deadlink, and now it's more clear to find documentation. Thanks for feedback!

[2019-04-24 03:44] zds9204 commented on #15224
问题的原因是，由于paddle升级了保存模型的接口，所以读取模型的方式也发生了一些变化。

下面是读取和调用模型的demo：
[code]
将读取模型的函数由`load_inference_model`修改为`load_persistables`，就能够正常读取模型了。

[2019-04-24 04:16] sunflowerlyb commented on #17051
我尝试了bs从40改为20或者50还是这样的。不收敛.

[2019-04-24 04:31] #15475 closed, assigned to joodo, wopeizl

[2019-04-24 04:31] #15896 closed, assigned to joodo, shanyi15

[2019-04-24 04:31] #15935 closed, assigned to shanyi15

[2019-04-24 05:22] hjchen2 commented on #17059
我这边测试没问题，请问一下你有更改训练脚本么

[2019-04-24 05:26] doraemonlei commented on #17059
没有更改，我用cpu训练是正常的

[2019-04-24 05:57] hjchen2 commented on #17051
看cost并没有变大，训练过程中肯定是会有一些波动的，可以增加一些数据量和多训练几轮看看结果。

[2019-04-24 06:03] sunflowerlyb commented on #17051
上面那个图cost的值显示的不全，是为了列举模型参数的，下面这个是最后几轮的，cost值瞬间变大了很多
![image](https://user-images.githubusercontent.com/15072355/56635836-8d68dd00-6699-11e9-944a-ad36ac9e0807.png)

[2019-04-24 06:19] DDDivano opened #17068 "paddle1.4.0版本动态图预测问题"
对mnist模型进行训练和预测中，在训练后直接进行预测，预测结果是正确的。但在训练后保存网络权重参数，加载到新生成mnist模型对象后，预测结果错误。预测结果数组有diff，如图。

![image](https://user-images.githubusercontent.com/10734244/56636618-ee91b000-669b-11e9-8612-b0f84292f1e4.png)

[2019-04-24 06:21] ccmeteorljh opened #17069 "显存优化策略打开后，显存占用多次结果不同"
paddle comitid：63d9fe336217303e1178e20ee66a7a10055387dc
复现脚本：
https://github.com/PaddlePaddle/benchmark/blob/master/NeuralMachineTranslation/Transformer/fluid/train/run.sh
测试结果：
每0.1s采样显存占用，取最大值
测试3次，分别结果是：
7924,6940,7924

[2019-04-24 06:21] sunflowerlyb commented on #17051
上面那个图cost的值显示的不全，是为了列举模型参数的，下面这个是整个cost的变化，最后cost值瞬间变大了很多，一直也没有下降

-----------  Configuration Arguments -----------
base_learning_rate: 0.001
batch_size: 50
bigru_num: 2
corpus_proportion_list: [1]
corpus_type_list: ['train_data']
crf_learning_rate: 0.2
emb_learning_rate: 5
eval_window: 20
grnn_hidden_dim: 256
label_dict_path: ./conf/label.txt
model_save_dir: ./models
num_iterations: 0
save_model_

[2019-04-24 06:22] junjun315 commented on #17068
由于FC Layer是在build_once时创建参数，导致load_persistable时网络中还没有该参数，而无法进行更新。查看pr 16983 https://github.com/PaddlePaddle/Paddle/pull/16983

[2019-04-24 06:22] #17068 closed, assigned to nobody

[2019-04-24 06:22] xiaolil1 commented on #16916
@jianhang-liu I think maybe you were not understand this issue actually, even I have illustrated it last week twice and answered this question already. I think maybe i didn't explained clearly, so let me do it again here.
The "in-place-var will be transfered back" you said happened after OP execution.
For example "Reshape" OP, whose function is changing the dims of output tensor as well as input t

[2019-04-24 06:57] vincewangnsn opened #17070 "训练模型提示错误"
paddlepaddle版本：1.3.2
错误如下：
[code]

出错位置代码：
```rank_loss = paddle.fluid.layers.rank_loss(label=label, left=left_score, right=right_score)```

[code]

[2019-04-24 07:04] xiaolil1 commented on #16916
BTW, i think "in-place" of A and B should means A and B use the same memory buffer when OP execution, but "transfer back" A to B is more like a work around, which broke the in-place meaning, what do you think? @jianhang-liu

[2019-04-24 07:19] wopeizl commented on #17039
protobuf那个是警告提示，不影响流程，不过python的protobuf还是要装的，使用 pip install protobuf.
cmake 过程中如果是警告，可以不用理会，忽略即可。
cmake一次即可。
编译的时候先编译third_party,  然后编译整体即可。
vs 2015编译的时候除了需要openblas和snappy_stream需要自己下以外，其它的会自动去下载，保持网络可以访问git网站即可。

[2019-04-24 07:22] yeyupiaoling opened #17072 "1.4版本还不支持CUDA 10？"
# 环境
 - PaddlePaddle 1.4
 - Ubuntu 16.04
 - Python 3.5

# 问题
都 1.4 版本了，还不支持CUDA 10，虽然我自行编译可以支持CUDA 10，但是每次都要编译其实很麻烦的。

对于1.4版本的发布，值得高兴的是，paddlePaddle终于支持动态图了。

[2019-04-24 07:24] hjchen2 commented on #17070
你在这行 rank_loss = paddle.fluid.layers.rank_loss(label=label, left=left_score, right=right_score)之前加几行代码吧。

[code]
看看这三个输入的size是不是一样的。如果不一样的话，麻烦提供更多的信息帮助我们排查，比如完整的模型和输入

[2019-04-24 07:30] hjchen2 commented on #17072
@yeyupiaoling 确实目前还没提供cuda 10的预编译二进制包

[2019-04-24 07:41] #17057 closed, assigned to nobody

[2019-04-24 07:45] vincewangnsn commented on #17070
训练入口train.py
[code]

[2019-04-24 07:47] vincewangnsn commented on #17070
网络定义net.py，其中_build_rank_model为model定义function
[code]
@hjchen2  label shape: [100,1,]，left_score shape: [42930,1,]  right_score shape: [37149,1,] 辛苦帮忙看看是不是数据定义有啥问题，多谢

[2019-04-24 07:56] #17026 closed, assigned to heavengate

[2019-04-24 08:36] hjchen2 commented on #17051
是不是有异常数据影响了训练的收敛性，建议先排查一下数据集是否有异常数据，另外也可以尝试用gradent clip策略，防止梯度突然爆炸。可以直接调用fluid.clip.set_gradient_clip(xx)接口进行设置clip。

[2019-04-24 08:56] laoliukan opened #17073 "GRU层如何传入mask"

[2019-04-24 09:01] laoliukan commented on #17073
我要实现一个网络：gru的输出和bert的输出进行拼接，由于paddle bert现在输入都是padding好的，所以gru层输入也是padding的，gru层应该如何传入mask呢？

[2019-04-24 09:05] wzzju opened #17074 "paddle program 可视化示例"
Paddle中可以使用如下方式对program进行可视化：

[code]

[2019-04-24 09:15] #17074 closed, assigned to wzzju

[2019-04-24 09:26] junjun315 commented on #17073
可以在输入gru之前，进行一次 `paddle.fluid.layers.sequence_unpad`操作，再输出到gru中

[2019-04-24 10:42] jczaja commented on #16841
@luotao1 I have tested changes from #17048 and crash in Transformer is gone (tested both profile_mkldnn and compare_mkldnn with --test_all_data). But I have a question,
  "expected_kernel_cache_pass",  //
  "runtime_context_cache_pass"
are to be as final passes, but MKL-DNN passes are still executed later on. For example log from transformer:
--- Running analysis [ir_graph_build_pass]
--- Running

[2019-04-24 11:39] #16535 closed, assigned to nobody

[2019-04-24 11:40] #16592 closed, assigned to kuke

[2019-04-24 11:40] #16593 closed, assigned to kuke

[2019-04-24 11:40] #16610 closed, assigned to kuke

[2019-04-24 11:41] #16612 closed, assigned to kuke, jerrywgz

[2019-04-24 11:42] yeyupiaoling commented on #17072
@hjchen2 这我就不懂了，明明是可以在cuda 10正常编译得到的。为什么不顺便提供呢？

[2019-04-24 11:45] yeyupiaoling commented on #16992
@wuxiaodong1014 你使用的是哪个预训练模型？如果使用的是ImageNet预训练模型，这个应该是差不多了吧。

[2019-04-24 11:48] yeyupiaoling commented on #17059
@doraemonlei 会不会是你的电脑不支持avx指令集。你使用的系统是？

[2019-04-24 11:58] yeyupiaoling opened #17078 "请教PaddlePaddle使用动态图的方法。"
# 环境
 - PaddlePaddle 1.4
 - Ubuntu 16.04
 - Python 3.5

# 问题
首先感叹一下，PaddlePaddle终于支持了动态图，终于不需要用别人剩下的技术了。之前还被吐槽，连TensorFlow都开始抛弃静态图，把动态图作为首选。而我们的PaddlePaddle还在为实现静态图而努力，为何不直接支持动态图。好了，说得有点多了，回答问题。

关于PaddlePaddle使用动态图，资料有点少，有没有更多的demo？

[2019-04-24 12:03] lgone2000 commented on #16593
@yeyupiaoling 请问你是百度的吗，我目前负责paddle-vision模型这块，如果有兴趣复现开源检测模型，可以直接贡献到paddlecv模型库中.

[2019-04-24 12:06] lgone2000 commented on #16592
这个我们内部标准做法是把很多小文件打包到一个大文件，用偏移量访问。直接访问很多文件的目录会很慢 多线程未必很好解决

[2019-04-24 12:27] yeyupiaoling commented on #16593
@lgone2000 不是呢，如果是的话，也不会那么凄凉在这里艰难地复现这模型了。

[2019-04-24 12:33] yeyupiaoling commented on #16592
@lgone2000 对，就是这个问题。TensorFlow就有一个TFRecord，它把全部的小文件打包成一个打文件，读取数据很快。

[2019-04-24 12:35] luotao1 commented on #16841
"expected_kernel_cache_pass",
"runtime_context_cache_pass"
be executed after MKL-DNN passes?

Yes, it should be executed after MKL-DNN passes. We plan to remove `expected_kernel_cache_pass` which could be enabled default. And how about re-add `runtime_context_cache_pass` again after MKL-DNN passes? Or do you have any good suggestion?

[2019-04-24 12:56] lgone2000 commented on #16592
可以参考我之前写的一个教程示例里面的打包方式
打包成kv格式，可以参考 test_convert_facems1m_train，这个把facems1m 识别数据集合打包成一个文件。代码在
https://github.com/lgone2000/paddle-tutorial/blob/master/image_feature/formatconverter.py

读取看下面代码中 ImageData 这个类
https://github.com/lgone2000/paddle-tutorial/blob/master/image_feature/myreader.py

[2019-04-24 12:58] lgone2000 commented on #16592
https://github.com/lgone2000/paddle-tutorial/blob/master/image_feature/viewdataset.py
这里面也提供了一个web查看数据集缩图的简单示例，供你参考

[2019-04-24 13:00] lgone2000 commented on #16593
我帮你看看代码吧， 你装一个百度hi，加我一下，lgone2000@163.com，有问题可以交流，如果能复现出论文指标，我也可以帮忙推动加到 paddle模型库PaddleCV下面。

[2019-04-24 13:26] jacquesqiao commented on #15133
只能配置一个is_distributed=true的lookup table

[2019-04-24 15:49] MHloulis opened #17083 "MobileNet-SSD使用自己的数据训练出错"
重要的报错信息为
 val_file_list=val_file_list)
best_map, mean_map = test(epoc_id, best_map)
test_map, = exe.run(test_prog, fetch_list=[accum_map])
Invoke operator multiclass_nms error.

Enforce failed. Expected box_dims[1] == score_dims[2], but received box_dims[1]:1917 != score_dims[2]:13419.
The 2nd dimension of Input(BBoxes) must be equal to last dimension of Input(Scores), which represents the predict

[2019-04-24 16:26] ghost commented on #16916
@xiaolil1 I believed I understood what's the "issue" you are worry about. Let me explain again.

Firstly, let me clarify two concepts here:
1. [Inputs()](https://github.com/PaddlePaddle/Paddle/blob/8d0d6185ce3b3c7571b34316152ece5dd361f859/paddle/fluid/framework/operator.h#L166) and [Outputs()](https://github.com/PaddlePaddle/Paddle/blob/8d0d6185ce3b3c7571b34316152ece5dd361f859/paddle/fluid/framewo

[2019-04-25 01:38] hjchen2 commented on #17078
https://github.com/PaddlePaddle/models/tree/develop/dygraph 这里面有几个模型的例子，可以参考一下

[2019-04-25 02:04] doraemonlei commented on #17059
1）docker ubuntu16.04
2）pp最新版
3）gpu：k80双卡 cuda9+cudnn7

[2019-04-25 03:04] hjchen2 commented on #17059
paddlepaddle最新版本是哪个版本，要不你执行一下pip install paddlepaddle-gpu --upgrade试试？
另外可否先试试python2.7的环境

[2019-04-25 03:10] #17078 closed, assigned to nobody

[2019-04-25 03:16] wzzju commented on #15221
您好！`fluid.global_scope().find_var(var_name).get_tensor()`只支持paddle中persistable的Variable。暂不支持 numba cuda array_interface。

[2019-04-25 03:18] wzzju commented on #16187
您好！请您详细描述一下您所遇到的问题，仅从上述描述无法定位出现问题的原因。

[2019-04-25 03:20] sherylwang opened #17085 "paddle paddle现有版本是否支持multi-label的loss？"
最近在进行multi-label的训练任务，需要使用经典的多类别loss,目前pytorch中的对应实现为BCEWithLogitsLoss和MultiLabelSoftMarginLoss，请问paddle paddle中是否有对应的loss实现？

[2019-04-25 03:44] Melonzhou commented on #16962
我也遇到了这个问题，使用的是ParallelExecutor， 请问有什么解决办法吗？
![image](https://user-images.githubusercontent.com/5926307/56708482-61a82e80-674f-11e9-9bf1-2125667dc394.png)
![image](https://user-images.githubusercontent.com/5926307/56708493-708ee100-674f-11e9-9cdd-e8fe9d2f19f3.png)

[2019-04-25 04:12] shippingwang commented on #17056
1. 首先搭建好fluid实现的VGG16，详细参考 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/vgg.py
2.

[code]
3. tensor set后 网络中已经load好params ，不用写load_vars了

[2019-04-25 06:21] wangguibao commented on #16962
@Melonzhou train_exe.run()方法不带program参数，这一行**要去掉compiled_prog参数**：
[code]

[2019-04-25 06:27] cuicheng01 opened #17089 "10crop"
请问有预测的图像10crop的demo吗？现在貌似只有single crop

[2019-04-25 06:57] #17072 closed, assigned to nobody

[2019-04-25 07:13] seiriosPlus commented on #16966
目前定位出来是使用的“truncated_gaussian_random” 目前分布式不支持。
1. 暂时的解决方案是每一层指定初始化方法， 可以使用"gaussian_random"， 已提交一个PR修复此问题。
2. 多机在训练数据极少(少于batch_size*cpu_num）的情况下，会出现异常， 我会跟进修复。

[2019-04-25 07:26] bfjia1 opened #17092 "Paddle pip安装 指定依赖包的版本"
作为Paddlepaddle的用户 很不理解 pip 安装的 requirement package 为什么指定固定版本号的依赖包，而不是允许一个版本兼容范围，导致经常由于强制指定固定版本的依赖包带来其他python包的冲突，建议更改这一点，并能即使升级依赖包的版本

[2019-04-25 07:26] sfraczek commented on #17003
Regarding that PR:

[2019-04-25 07:27] Yelrose opened #17093 "基本数学操作缺失"
paddlepaddle 1.4

+、-、*、/ 主要是重载elementwise的操作。目前用起来有一些不方便，如假设 a是一个(batch_size,  hidden_size)的Tensor。

1 - a 是不合法的
-a 不存在 unary操作

[2019-04-25 07:30] Melonzhou commented on #16962
去掉的话那不就是意味着不能用CompiledProgram了？

[2019-04-25 07:31] xyq019971 opened #17094 "我想安装Paddle到TX2和Xavier上，能出个教程或者直接放出编译好的包吗"

[2019-04-25 07:36] wangguibao commented on #16962
如果要用CompiledProgram接口，我看CompiledProgram例子是这样写的：
[code]

这样`fluid.Executor`内部其实会用到ParallelExecutor去run

[2019-04-25 08:17] Melonzhou commented on #16962
哦哦，明白了，谢谢啦 ~

[2019-04-25 08:28] corgi66 commented on #16136
你重新登陆一下服务器 重新训练一下就好啦 我的原因是内存不够 显示这个问题的

[2019-04-25 08:35] MrTuo commented on #15458
题外话，想问问为什么要用FLAGS_fraction_of_gpu_memory_to_use这种机制去预分配内存呢？这样岂不是自己在每次训练之前还要看这块卡上还剩多少内存，然后手动去算这个百分比，然后再去手动设置，是不是有点蠢呢。。。

[2019-04-25 08:36] MrTuo commented on #15458
题外话，想问问为什么要用FLAGS_fraction_of_gpu_memory_to_use这种机制去预分配内存呢？这样岂不是自己在每次训练之前还要看这块卡上还剩多少内存，然后手动去算这个百分比，然后再去手动设置，是不是有点蠢呢。。。

[2019-04-25 08:39] yeyupiaoling commented on #17092
@jiabinfeng 因为依赖的包是要版本要求的，可能有些依赖包的版本是不支持的，所以要指定依赖包的版本，保证PaddlePaddle正常使用。

我们一般是使用Python的虚拟环境进行开发的，所以环境直接是相互独立的，各不影响。

[2019-04-25 08:44] yeyupiaoling commented on #17083
@MHloulis 网络的输出输入不一致，你的类别是多少，你的label_list是什么？

MemoryError这是是不是内存溢出？如果是就减小batch size

[2019-04-25 08:47] yeyupiaoling opened #17098 "动态图机制-DyGraph保持的模型有问题"
# 环境
 - PaddlePaddle 1.4.1
 - Ubuntu 16.04
 - Python 3.5

# 问题
动态图机制-DyGraph保持的模型是有问题的，GPU训练得到的模型必须要使用GPU加载预测，如果使用的是CPU，预测就不准确了。
以这个代码为例：https://github.com/PaddlePaddle/models/tree/develop/dygraph/mnist

[2019-04-25 09:01] xiaohuanghuasyy commented on #17056
模型转换完成后我保存了准换后的模型，用于预测时会报错。求帮助，感谢～
再如上代码基础上增加如下保存代码：
[code]
报错信息：
Traceback (most recent call last):
  File "infer.py", line 51, in <module>
    infer(image_file, False, model_path)
  File "infer.py", line 40, in infer
    fetch_list=fetch_targets)
  File "/home/users/huangxueyuan01/local/python2.7.16/lib/python2.7/site-packages/paddle/fluid/executor.py", line 525, in run
    use_program_cache=use

[2019-04-25 09:06] shippingwang commented on #17056
这是啥意思？save_inference么？

预测的话 你跑一下infer就行了
[code]
建议参考 image classification的 [infer.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/infer.py#L67)

[2019-04-25 09:06] jczaja commented on #16841
Ok, I do not have any suggestion. But let us know if you need any help with MKLDNN related work.
I'm closing this issue as crash is gone.

[2019-04-25 09:06] #16841 closed, assigned to luotao1

[2019-04-25 09:09] MHloulis commented on #17083
class_num为3，label_list为
![image](https://user-images.githubusercontent.com/22653034/56724045-cf1e8400-677c-11e9-8390-cdd8be967bda.png)，输入输出不一致吗，我看看。
减小batch_size，我试试吧
谢谢解答

[2019-04-25 10:07] roberts-sh commented on #8696
你好, 我也遇到这个问题, 请问问题出在哪里?

[2019-04-25 10:30] sfraczek commented on #17003
I'm sorry I need to go back to optimizing current priority models.
The graph drawing worked nicely after merging with latest develop. Unfortunately I didn't figure out any way how to iterate over ops in while_op chaning use_mkldnn attribute permanently so the problem remains.
For someone who will pick this up, here is the approach that didn't work: https://github.com/sfraczek/Paddle/tree/set-mkldn

[2019-04-25 10:51] hjchen2 commented on #17059
@doraemonlei 我这边验证了一下fluid 1.3和1.4，以及python2.7和3.6，cpu和gpu都没有问题。如果升级paddle还有问题的话，麻烦请贴一下具体的代码

[2019-04-25 11:22] junjun315 commented on #15552
请合入pr:https://github.com/PaddlePaddle/Paddle/pull/17034之后的代码来解决稀疏矩阵保存的问题

[2019-04-25 11:52] luotao1 commented on #17003
Do you mean that if don't use `use_mkldnn` attribute, the problem could be solved?

[2019-04-25 13:53] sfraczek commented on #17003
Unfortunately no. I was just using `mkldnn_placement_pass` (which sets use_mkldnn=true) as an example. For the tests. It is a conceptually simple pass that should iterate over all operators include those in subgraph. I couldn't make it work.

[2019-04-25 16:16] xiaolil1 commented on #16916
@jianhang-liu Thanks for your detailed code analysis, it's perfect true for most steps except the step 6, i have different understanding from yours, and this step is also the key step for this issue, let me explain it.

Firstly, I think OP should save it's result to "output" by modifying it, not the "input". While for "in-place" OP, "input" will be passively modified, but the reverse is not a good

[2019-04-25 16:50] JiaoZiLang opened #17107 "【mac首次运行】安装成功后，首次运行demo失败"
情况如下所示，mac中运行首页安装的demo，提示这个错误
[code]

[2019-04-26 01:34] doraemonlei commented on #17059
pp:1.4.1.post97
python：3.6.6
训练到第1000step的时候出错的

代码和官方的一样，就是
`use_cuda = True # 如想使用GPU，请设置为 True`这个重新设置了一下，是不是pp在docker里使用gpu出现的问题。我用tf和keras都正常。

[2019-04-26 01:58] junjun315 commented on #17107
您好，请问是否是使用了mac中自带的python安装？ mac自带的python设置上有些不太一样的地方。可以尝试新安装一个python以及pip之后，再用pip安装一次。

[2019-04-26 02:10] junjun315 commented on #17093
很好的建议，谢谢！`1-a`是不合法的，主要是基于shape的推导考虑，当前我们考虑第一个位置的tensor，以它为基础进行shape推导。这个示例中1*1的tensor就不符合推导结果。取负的不存在 unary操作这个应该改进。

[2019-04-26 02:11] junjun315 commented on #17098
当前在跟踪这个问题，感谢提出。

[2019-04-26 02:12] yeyupiaoling commented on #17098
OK

[2019-04-26 02:28] #17085 closed, assigned to nobody

[2019-04-26 02:36] JiaoZiLang commented on #17107
hi,我用的是conda3下面的python3，这个也不能支持？

[2019-04-26 02:40] fc500110 commented on #17089
暂时没有，可以自己手写

[2019-04-26 02:46] fc500110 commented on #17092
建议使用[virtualenv](https://docs.python.org/3/library/venv.html)

[2019-04-26 02:46] junjun315 commented on #17107
我看输出里显示的是 `Python 2.7.10 (default, Feb 22 2019, 21:17:52)` 是不是没有切换对应的环境？

[2019-04-26 02:53] fc500110 commented on #17094
目前还没有编译好的包

[2019-04-26 02:58] ZHOU4424 opened #17112 "用图像分类的demo训练模型后不同图片预测结果相同"
[code]
上面是预测图片的代码。
训练模型的时候使用的图像分类demo的ResNet模型，测试集的准确率是随训练次数提高的，但是使用模型预测的时候预测结果都一样，下面就是输出的results
![QQ图片20190426105437](https://user-images.githubusercontent.com/50004634/56780419-cd52d000-6811-11e9-8596-082e6e826795.jpg)
我不知道是什么导致的问题，我认为即使是模型训练次数不足够，也不应该所有的预测结果都一样，求指点

[2019-04-26 03:08] junjun315 commented on #17107
我复现了这个问题，谢谢您的反馈。请继续关注这个issue，如果有消息我会更新

[2019-04-26 03:16] JiaoZiLang commented on #17107
好的，麻烦你那边跟进一下

[2019-04-26 05:00] qingqing01 commented on #16992
@wuxiaodong1014  73.32%结果需要用`download_coco.sh`下载初始化模型，我们最近也验证了下
https://github.com/PaddlePaddle/models/pull/2143  是可以到的。 你可以更新到develop最新代码再试下。

[2019-04-26 05:06] #16966 closed, assigned to wangguibao, seiriosPlus

[2019-04-26 06:00] heavengate opened #17113 "OP单测的_assert_is_close处理是否有问题？"
https://github.com/PaddlePaddle/Paddle/blob/7330cd639cf72acd3b5fa80ec880fe3f82dc4467/python/paddle/fluid/tests/unittests/op_test.py#L518

OP单测中grad的检测函数`_assert_is_close`中，对判断相对误差的分母`abs_a`做了小于`1e-3`时置为1的处理。

由于op单测默认在op后添加mean loss，所以单测中output_grad tensor的梯度数值均为` 1/output_size`, `output_size`是OP output的元素个数，当`output_size`较大时(比如>1000)，`output_grad`的梯度数值会很小，计算出`input_grad`的数值也会很小，就会走到上述`abs_a<1e-3`

[2019-04-26 06:09] heavengate commented on #17113
我理解此处是否应该修改为`abs_a[abs_a < 1e-3] = 1e-3 `

[2019-04-26 06:21] JiaoZiLang commented on #15845
同样期待conda版本，conda安装tf和pytorch都很方便啊

[2019-04-26 07:01] seiriosPlus opened #17114 "多机在训练数据极少(少于batch_size*cpu_num）的情况下，会出现异常"

[2019-04-26 07:40] zhoukunsheng opened #17116 "[Operator] add sign op"
sign op implements the same function as the numpy API np.sign.

[2019-04-26 08:14] bhan1111 opened #17119 "请教paddle embedding层中is_sparse的原理"
文档没具体说明，请教该参数的原理以及何时打开比较合适，发现当需要embed的节点数很大时，开不开对内存以及训练速度都有很大的影响

[2019-04-26 08:16] junjun315 commented on #17112
image_path +'/'+ filename 这里目录下有多个文件么？

[2019-04-26 08:36] seiriosPlus commented on #17119
针对于embedding, 目前sparse和dense的区别，主要在于梯度的存储格式上。

1. 采用sparse的embedding的参数，对应的梯度采用SelectedRows格式来存储，只会保存当前batch中对应ID所需要的数据， 存储空间和batch大小相关。
2. 采用dense的embedding的参数，对应的梯度采用LodTensor格式来存储，存储空间和embedding的参数大小相关。

当embedding的参数很大时，
内存占用上， 采用sparse的embedding比采用dense的占用内存小。
训练速度上， 采用SGD的情况下速度会有大幅提升， 采用常规ADAM的情况速度提升不明显， 采用lazy_mode的ADAM 速度会明显提升。

多机情况下，还有优化， 后续再讲.

[2019-04-26 08:44] 930083287 opened #17120 "OSError: [Errno 13] Permission denied"
利用paddlepaddle安装成功后，在import paddle时，出现上述错误。
![image](https://user-images.githubusercontent.com/15224527/56795117-54b83780-6842-11e9-8c00-8feda1c0cf6d.png)

[2019-04-26 08:51] gongweibao opened #17121 "Bert:fuse allreduce can't work with fp16"
[code]

[2019-04-26 09:41] hjchen2 commented on #17059
把训练日志贴一下吧。另外你git status看看有哪些文件修改过，把修改过的文件发给我。最后下载最新的book repo再试一下。

[2019-04-26 10:04] ZHOU4424 commented on #17112
是的，本来是读取一张图片来测试，后来发现结果相同，就改成直接全部读取来测试看输出

[2019-04-26 10:10] ZHOU4424 commented on #17112
@junjun315  这是我训练时用的数据,训练集600张图片分4类，测试集200张图片
[code]

[2019-04-26 10:27] MaxLingwei opened #17122 "从v2版本改写到fluid版本后训练速度变慢"
用paddlecloud跑的mpi集群训练任务，模型与v2版本一致，paddle版本为1.2.0，v2版本训练时间在3小时以内，fluid版本训练慢了很多（目前已经快10小时）。

[2019-04-26 11:40] #17008 closed, assigned to heavengate

[2019-04-26 12:46] junjun315 commented on #17112
能否贴更完整的程序？ 从现象推断，可能原因是：
1. 保存infer的模型时机不对，因为看到的预测loss数据上没有区分开
2. 另外，由于infer阶段不更新参数，如果是预测的同一个图片，返回的result是一致的，这个符合预期。

[2019-04-26 12:59] chenxiaoyu3 commented on #16974
确实如此，可以了。谢谢！

[2019-04-26 12:59] chenxiaoyu3 commented on #16974
确实如此，可以了。谢谢！

[2019-04-26 12:59] #16974 closed, assigned to wangguibao

[2019-04-26 13:57] ZHOU4424 commented on #17112
@junjun315  训练代码如下，保存模型部分在代码最后面，请问是否有错误
这个训练模型我直接使用了CIFAR10图像分类里的ResNet模型。
[code]

[2019-04-26 15:27] chenxiaoyu3 opened #17123 "c++预测库 bad_alloc"
- 标题：1.4.0 c++ cuda 预测库，load模型是报错bad_alloc
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle/paddle:1.4.0-gpu-cuda9.0-cudnn7
    2）CPU：
    3）GPU：V100
    4）系统环境：官方docker，下载的是 官网的1.4的c++的fuild_inference.tgz。 cuda9.0 cudnn7的。在同一个docker中，对应的python版本能正确运行。
- 复现信息： CreatePaddlePredictor
[code]
出现：
[code]
用gdb看：
[code]

仔细看了源码的位置，没看到特殊的地方，请帮忙指导一下。

[2019-04-26 15:58] ZHOU4424 commented on #17112
我试着把保存模型的代码放在for循环结束后执行，结果仍是一样，而且训练过程中在测试集上的正确率会慢慢提高，但是预测的时候分类的概率就很接近，几乎每一类都是0.25左右。

[2019-04-26 16:40] ZHOU4424 commented on #17112
我又试着用简单点的网络结构训练50轮.
[code]
我很奇怪明明测试集的正确率在90%以上了，然而我用测试集的图片来进行预测的结果还是相同且分类概率很接近。总共600张图片当训练集，200张当测试集，训练50轮。
[code]

[code]
这是训练的输出

![1](https://user-images.githubusercontent.com/50004634/56822852-ed6fa700-6884-11e9-884a-62024db09549.jpg)
这是预测的输出

![2](https://user-images.githubusercontent.com/50004634/56822867-f6607880-6884-11e9-8177-f117108472c9.jpg)

[2019-04-28 01:18] yeyupiaoling commented on #17120
@930083287 你试试使用root权限。你的Python路径是自己修改的？试试模型Python的路径试试。

[2019-04-28 01:21] yeyupiaoling commented on #17112
@ZHOU4424 你的PaddlePaddle版本是多少？试试在Ubuntu系统上怎么样？预测是的数据预处理是否正确？需要跟训练的一样、

[2019-04-28 01:27] yeyupiaoling opened #17127 "请问Fluid有没有只克隆预测程序的？"
# 环境
 - PaddlePaddle 1.4.1
 - Ubuntu 16.05 / windows 10
 - Python 3.5

# 问题
在Fluid版本中有克隆测试程序的操作，可以用来预测，但是数据的数据必须同时有训练数据和label，拿图片识别来说，就需要image和label。
[code]

但是我想在训练过程中，只是预测数据，不需要报错模型的方式，而且数据的数据只要image，不输入label，这样方式如何实现。重复，不使用保存和加载模型的方式。

[2019-04-28 01:34] yeyupiaoling opened #17128 "关于动态图机制API一致的建议？"
# 环境
 - PaddlePaddle 1.4.1

# 建议
能否统一API，例如神经网络居然有2套，拿二维卷积操作来说，就有
[code]
和
[code]

能不能只保留一个，不要让我们在开发的时候，考虑他们是否是同一个API，可否？

[2019-04-28 02:39] #17070 closed, assigned to jacquesqiao

[2019-04-28 03:02] ZHOU4424 commented on #17112
@yeyupiaoling  版本是1.3 ， 还未在Ubuntu系统上测试。
以下是预测和训练的数据处理代码。预测的处理会增加一维，The input's dimension of conv should be 4-D or 5-D.这个会影响吗？但如果不增加一维，运行会报错。
[code]
[code]

[2019-04-28 03:14] junjun315 commented on #17128
实际上这两个api指向了同一个。 只是 fluid.dygraph.nn.Pool2D() 是实际的位置，fluid.dygraph.Pool2D 是短位置。 之后我们考虑屏蔽较长的位置。 当前dygraph的api没有正式公布，我们可能会对调整接口位置和调用方式继续调整

[2019-04-28 03:27] junjun315 commented on #17120
重装rar命令后好了，谢谢@yeyupiaoling 的回复。 问题的原因是 import paddle依赖的rarfile包，而init rarfile时会执行一个检查cmd rar命令是否允许执行。 而用户的环境里当前用户权限不允许执行该命令，导致报错 。

[2019-04-28 03:27] #17120 closed, assigned to junjun315

[2019-04-28 05:13] junjun315 commented on #17107
您好，请检查一下paddle的版本：
[code]
如果paddle的版本低于1.4，建议升级到最新版本。 可以使用 pip uninstall paddlepaddle卸载后再执行 pip install paddlepaddle安装

[2019-04-28 05:49] sshilei commented on #4295
接着问一下，如何在SGD中使用 learning rate decay

[2019-04-28 05:49] sshilei commented on #4295
sgd_optimizer = fluid.optimizer.SGD(learning_rate=0.2)

[2019-04-28 05:52] qingqing01 commented on #4295
@sshilei

- 在Paddle Fluid里可以各类学习率调整策参考文档:  http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#permalink-234-learning_rate_scheduler

- 具体使用可参考： http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#exponential-decay

[2019-04-28 06:50] yeyupiaoling commented on #17128
@junjun315 好的，不管你们有没有公开，反正我已经开始使用了。

[2019-04-28 06:50] #17128 closed, assigned to nobody

[2019-04-28 06:56] yeyupiaoling opened #17133 "动态图机制存在内存溢出的情况"
# 环境
 - PadddlePaddle-GPU 1.4.1
 - Python 3.5
 - Ubuntu 16.04

# 问题
在训练的过程中，内存无限上升，我使用的是ＧＰＵ进行训练，
可以测试以下例子：
官方例子：https://github.com/PaddlePaddle/models/blob/develop/dygraph/resnet/train.py

我写的程序：
[code]

还有一个很重要的问题，在训练的时候显存是正常的，但是一执行测试程序`test_acc, test_cost = test(vgg16, test_reader, batch_size)`就内存不足了。按道理来说，测试程序应该跟训练程序公用显存才对的。

[2019-04-28 08:49] qingqing01 commented on #17127
@yeyupiaoling 在网络定义部分，不定义label相关的layers.data、以及评估指标相关的即可。 也就是和label相关layer都去掉。

[2019-04-28 08:54] lgone2000 opened #17137 "关于使用paddle进行图像分类模型finetune训练的坑"
在使用图像分类训练时，有一个参数是指定预训练模型。
https://github.com/PaddlePaddle/models/blob/53ea0f3186504a9c619651ce862fa576a9144424/PaddleCV/image_classification/train.py#L291

[code]
这段代码如果载入了之前训练的模型，有可能也同时载入了一个**@LR_DECAY_COUNTER@** 的变量 [（参考文档）](http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#autoincreased-step-counter) ， 会导致learningratedecay策略使用预训练模型里面保存的计数器，而不是从0开始，这个和通常训练预期不符合。经过咨询paddle同学

[2019-04-28 09:04] SheldonZHANG opened #17139 "反反复复出现的grpc错误"
提交的大部分任务都被grpc错误给停掉了模型训练，链接如下
http://yq01-hpc-lvliang01-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20190425184558-89
http://yq01-hpc-lvliang01-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20190428081629-1663
http://yq01-hpc-lvliang01-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20190427225547-1395
http://yq01-hpc-lvliang01-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-u

[2019-04-28 09:41] yeyupiaoling commented on #17127
@qingqing01 例如这样
[code]
谢谢解答。

[2019-04-28 09:41] #17127 closed, assigned to nobody

[2019-04-28 11:55] junjun315 commented on #17112
最后一次的图片读取代码应该对应了，只是numpy.array(im).reshape(1, 50, 50) 我看最后的代码变成了这样。为什么从3变成了1？  这样可能导致你的数据跟预期不一样。 多的一维其实是batch

[2019-04-28 12:05] ZHOU4424 commented on #17112
@junjun315 我想着会不会训练单通道的灰度图能有点变化，所以训练时numpy.array(im).reshape(1, 50, 50) ，预测的时候应该是numpy.array(im).reshape(1, 1, 50, 50) ，可是结果还是没有变化。
为什么明明训练的时候test_program的准确率会慢慢提高？这个是根据test_reader中的图片数据去预测然后和test_reader中的标签比较得出的准确率吗？那应该有正确有错误，就是预测的结果是不同的。然而使用fluid.io.load_inference_model这个函数获取的预测程序去预测得到的结果都一样。我不知道是为什么了。

[2019-04-28 12:14] ZHOU4424 commented on #17112
我重新试了三通道图片，我把预测和训练放在同一源文件中，预测的代码放在了训练代码后面
[code]
这样子预测结果就会不一样了（训练次数很少所以正确率很低）

![www](https://user-images.githubusercontent.com/50004634/56864182-f6ca5200-69f1-11e9-8045-bf13e1482433.jpg)

[2019-04-28 12:16] ZHOU4424 commented on #17112
但是把预测部分代码放在另一个源文件中，用fluid.io.load_inference_model加载模型后预测的结果仍是不变。

[2019-04-28 14:03] Robets2020 opened #17144 "dynamic_gru 是否可以使用普通的Tensor作为输入, 而不是用LoD Tensor? 如果可以该怎么用?"
dynamic_gru 是否可以使用普通的Tensor作为输入, 而不是用LoD Tensor? 如果可以该怎么用?

[2019-04-29 00:48] yeyupiaoling opened #17146 "请问全卷积做的二分类模型不能正确拟合，这是什么原因呢？"
# 环境
 - PaddlePaddle-GPU 1.4.1
 - Ubuntu 16.04
 - Python 3.5

# 环境
我使用全卷积做一个判断图片中是否有人脸的二分类模型，但是分类器的病不能正确拟合，它随着分类，它第一个概率无限接近0，第二个开始接近0。并不是根据实际分类的标签进行拟合的，这是什么原因呢？

[code]

在原论文中，损失函数是只采取70%的数据进行计算，但是PaddlePaddle好像实现不了，所就没有使用这个操作，但是我觉得这不会有太大的影响，至少不会出现这样的情况。

[2019-04-29 00:56] yeyupiaoling commented on #16592
@lgone2000 好的，谢谢您。

[2019-04-29 01:56] LeoZhao-BJ opened #17147 "test_analyzer_bert runs into assertion failure when ngraph is used"
**System information**
-PaddlePaddle branch: develop

-CPU: Yes

-GPU: No

-OS Platform: Linux

-Cmake orders:
cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_DSO=ON -DWITH_AMD_GPU=OFF -DWITH_DISTRIBUTE=ON -DWITH_MKL=ON -DWITH_NGRAPH=ON -DWITH_AVX=ON -DWITH_GOLANG=OFF -DWITH_PYTHON=ON  -DWITH_TESTING=ON  -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DWITH_CONTRIB=ON -DWITH_INFERENCE_API_TEST=ON  -DPY_VERSION=2.7

[2019-04-29 02:02] xiangyubo opened #17149 "VGG16训练时候 mini batch 设置为32训练报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.3.2
    3）GPU：v100，16G显存
    4）系统环境：AI Studio，python 3.6
- 训练信息
    1）单机，单卡

我训练vgg 16的时候，输入尺寸是[3, 224, 224]，显卡是v100，16G显存，为什么我的 batch 32张图就会报错，要再调小到24张才正常训练。每个 batch 能训练多少张图，有什么计算的公式之类的说明吗？不然觉得16G显存，每个 batch 才32，有点太小了。。。

以下是训练代码：
`

    # -*- coding: UTF-8 -*-
    """
    训练常用视觉基础网络，用于分类任务
    需要将训练图片，类别文件 label_list.txt 放置在同一个文件夹下
    程序会先读取 train.txt 文件获取类别数和图

[2019-04-29 02:33] guomingz opened #17150 "PR_CI(PADDLE) is not stable."
Hi,

i found my PR [17130](https://github.com/PaddlePaddle/Paddle/pull/17130) met the PRE_CI(PADDLE) [fail](http://ci.paddlepaddle.org/viewLog.html?buildId=90893&buildTypeId=Paddle_PrCi) issue.
After i checked the [log](http://ci.paddlepaddle.org/downloadBuildLog.html?buildId=90893&plain=true), i found the error was not raised by code but the insufficient gpu memory. e.g `[20:00:56] :	 [Step 1/1]

[2019-04-29 02:42] qingqing01 commented on #17133
多谢反馈。 @velconia 麻烦跟下这个问题~

[2019-04-29 02:50] qingqing01 commented on #17144
@roberts-sh

dynamic_gru的输入限制了是LoDTensor，最好在输入层就带有序列长度信息，通过LoDTensor作为输入。 当然也可以通过`lod_reset`来给Tensor设置LoD信息，再输入给`dynamic_gru`。

[2019-04-29 02:53] guomingz commented on #17150
From this [summary link](http://ci.paddlepaddle.org/viewType.html?buildTypeId=Paddle_PrCi&branch_Paddle=pull%2F17130&tab=buildTypeStatusDiv), it looks the host yq01-sys-hic-p40-0089.yq01 has the issue on the PR_CI(PADDLE) testing,  you may refer to [this](http://ci.paddlepaddle.org/agentDetails.html?id=120&tab=agentHistory&buildTypeId=Paddle_PrCi)

[2019-04-29 03:15] outlookerr opened #17151 "16.04/GPU/Cmake 出错"
我是根据这个博客来进行安装的 https://blog.csdn.net/qq_33200967/article/details/83052060
在执行下述命令时报错
cmake .. -DPY_VERSION=3.5 -DWITH_FLUID_ONLY=ON -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release
日志为
Determining if the pthread_create exist failed with the following output:
Change Dir: /home/lfz/software/Paddle/build/CMakeFiles/CMakeTmp

Run Build Command:"/usr/bin/make" "cmTC_d8b10/fast"
/usr/bin/make

[2019-04-29 03:32] luotao1 commented on #17150
yq01-sys-hic-p40-0089.yq01 is not stable, and @tianshuo78520a is fixing now.

The reason is that this PR is rerun several times. Maybe this PR is rerun by others, please notify the waiting lists to check it.

[2019-04-29 03:56] hutuxian commented on #17151
请根据我们的源码编译文档进行编译：http://paddlepaddle.org/documentation/docs/zh/1.4/beginners_guide/install/compile/fromsource.html

[2019-04-29 04:13] luotao1 opened #17153 "fc_op slows on multi-instance inference"
When profile multi-instance inference on pyramid_dnn, we find fc_op slows on it.
### command:
- one instance:
[code]
- two instance:
[code]
### result (latency)

| | fc_op | remove fc_op, i.e use mul+add |
|---|---|---|
|1 threads|  0.13118 | 0.141566 |
|2 threads|0.291523   |0.152074  |

The remove fc_op codes are:
[code]

[2019-04-29 04:14] luotao1 commented on #17153
@jianhang-liu @bingyanghuang @LeoZhao-Intel @yihuaxu Could you help see it?

[2019-04-29 05:44] ws441572091 opened #17154 "编译问题"
目前本地编译BCLOUD是通过的，其中需要依赖libmkldnn.so.0
<img width="1238" alt="image" src="https://user-images.githubusercontent.com/35720887/56878070-c253a600-6a84-11e9-95da-8623ab4b26d3.png">

希望改成云编译
这个是参考wiki使用云编译的BCLOUD
![5690cf413f66bdb9103ef415f3179a01](https://user-images.githubusercontent.com/35720887/56878016-6f79ee80-6a84-11e9-8a8b-8376313041bf.png)

那么参照这个wiki，我应该如何修改BCLOUD加入依赖的libmkldnn.so.0

【第一次修改为这个

[2019-04-29 06:08] #17092 closed, assigned to nobody

[2019-04-29 06:22] junjun315 commented on #17112
预测的另一个源文件有什么不同么？

[2019-04-29 06:50] bingyanghuang commented on #17153
Got it. @yihuaxu will help on this.

[2019-04-29 07:10] LeoZhao-BJ opened #17157 "test_analyzer_transformer runs into assertion failure when ngraph is used"
System information
**-PaddlePaddle branch: develop**

**-CPU: Yes**

**-GPU: No**

**-OS Platform: Linux**

**-Cmake orders:**
cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_DSO=ON -DWITH_AMD_GPU=OFF -DWITH_DISTRIBUTE=ON -DWITH_MKL=ON -DWITH_NGRAPH=ON -DWITH_AVX=ON -DWITH_GOLANG=OFF -DWITH_PYTHON=ON -DWITH_TESTING=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DWITH_CONTRIB=ON -DWITH_INFERENCE_API_TEST=ON -DP

[2019-04-29 07:11] LeoZhao-BJ commented on #17157
@baojun-nervana @jianhang-liu

[2019-04-29 07:12] LeoZhao-BJ commented on #17147
@jianhang-liu

[2019-04-29 07:36] yihuaxu commented on #17153
Just tried it on 2650V4, but this issue can not be duplicated. Please refer to the below result. How about your CPU model?

![image](https://user-images.githubusercontent.com/4131969/56881918-8aecf580-6a94-11e9-8ce5-b4eddf62a77d.png)

[2019-04-29 07:39] luotao1 commented on #17153
What's your compile option?

[2019-04-29 07:40] gongweibao commented on #17013
没有加代理吧？

[2019-04-29 07:43] Robets2020 commented on #17144
@qingqing01 谢谢, 按照你的方法已经满足需要. 但想问一下, 有没有和dynamic_gru相对应的方法, 是使用普通的Tensor作为输入的?

[2019-04-29 07:45] yihuaxu commented on #17153
cmake .. -DWITH_INFERENCE_API_TEST=ON -DWITH_INFERENCE=ON -DWITH_TESTING=ON -DON_INFER=ON

[2019-04-29 07:51] luotao1 commented on #17153
I find the reason: when I enable `WITH_NGRAPH=ON`, it slows. But `WITH_NGRAPH=OFF`, the result is normal.
@baojun-nervana Could you help see it?

[2019-04-29 08:04] qingqing01 commented on #17144
@roberts-sh

1. 可以通过DynamicRNN:   http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#dynamicrnn 来组合。

2. Paddle的PR中有个cudnn实现的GRU，支持Tensor作为输入，后续会合入。

[2019-04-29 08:29] qingqing01 commented on #17137
@lgone2000 感谢反馈，我们也在图像分类模型里加强下，解释更清楚一些。

[2019-04-29 08:30] seiriosPlus commented on #17139
在hi沟通中， 会同步结果及解决方案。

[2019-04-29 08:56] luotao1 commented on #17153
Maybe the same problem in https://github.com/PaddlePaddle/Paddle/issues/15599#issuecomment-458900208

[2019-04-29 09:15] luotao1 opened #17159 "test_calibration fails on E5-2650 V4"
[code]
http://ci.paddlepaddle.org/viewLog.html?buildId=91050&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all

[2019-04-29 09:16] luotao1 commented on #17159
@hshen14 Could you help see it?

[2019-04-29 09:24] hshen14 commented on #17159
@guomingz , please take a look.

[2019-04-29 09:25] ZHOU4424 commented on #17112
@junjun315 我把两份代码贴出来看一下，唯一不同的应该是预测的program不同，一个直接使用test_program，而另一个使用的是fluid.io.load_inference_model获取的inference_program
[code]

[code]

[2019-04-29 09:53] chuanqi129 commented on #17159
@luotao1 May I know which pr start to fail at this test?

[2019-04-29 09:58] CYang828 opened #17160 "load_vars后模型正常运行，想要再进行save_inference_model时报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4
    2）GPU： NVIDIA Corporation GP102 [GeForce GTX 1080 Ti]
                      CUDA Version 9.0.176
    3）系统环境：centos 7 + python3.6.8
-预测信息
![image](https://user-images.githubusercontent.com/6592136/56889101-250a6900-6aa8-11e9-8500-e6542e07da55.png)

- 复现信息：如为报错，请给出复现环境、复现步骤
![image](https://user-images.githubusercontent.com/6592136/56889175-4bc89f80-6aa8-11e9-

[2019-04-29 10:03] D-DanielYang commented on #17160
+1同问

[2019-04-29 10:06] luotao1 commented on #17159
I don't know which pr start to fail, you can look at the history of this machine:http://ci.paddlepaddle.org/agentDetails.html?id=120&tab=agentHistory

[2019-04-29 10:21] ccmeteorljh opened #17161 "训练se-resnext50 warnning太多"
paddle commit-id：2192e7bb61db16908df339f4e7cc6ad1b4c59a39
结果：
[code]

[2019-04-29 10:30] Officium opened #17163 "Better error message for data type checking"
It may be helpful for debug if the expected type was added to the error message when checking the type of data such as `/paddle/paddle/fluid/framework/tensor_impl.h:29`.

[2019-04-29 11:23] tensor-tang commented on #17159
http://ci.paddlepaddle.org/viewLog.html?buildId=91088&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tail this one is on AVX512, but still failed on test_calibration_resnet50

[2019-04-29 11:27] guomingz commented on #17159
this issue is not like the issue raised by @luotao1 . Do you use the latest paddle? i'll have a try on avx512.

[2019-04-29 11:31] ccmeteorljh opened #17165 "se-resnext50 FLAGS_fraction_of_gpu_memory_to_use=1 时八卡报错"
paddle： develop分支，comit-id：2192e7bb61db16908df339f4e7cc6ad1b4c59a39
代码库：https://github.com/PaddlePaddle/benchmark/tree/master/se-resnext
**设置成0.98 八卡跑正常**
[code]

[2019-04-29 11:33] luotao1 commented on #17159
[code]

[2019-04-29 11:33] luotao1 commented on #17159
CI always use the latest paddle.

[2019-04-29 12:09] Officium opened #17167 "Unexpected behavior of fluid.layers.range"
**System information**
-PaddlePaddle version: 1.4.0
-CPU: No MKL or openblas
-GPU: None
-OS Platform: Mac OS 10.14.4
-Python version: 2.7.15 & 3.5.4
**To Reproduce**
[code]
**Current behavior**
[code]
**Expected behavior**
[code]
**Other info / logs**
Another suggestion is paddle may need a feature like `numpy.show_config()` to help maintainers to debug environment questions of others.

[2019-04-29 12:22] jjlucus opened #17168 "调用预测库报core dump"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.3.0
    2）CPU：Intel(R) Xeon(R) CPU  E5645  @ 2.40GHz，MKL/OpenBlas/MKLDNN使用情况未知，但启动时会报mkl和mkldnn动态库找不到的错误，需设置LD_LIBRARY_PATH添加这两个库的路径；
    4）系统环境：CentOS release 6.3，Python 2.7.10
-预测信息
    1）C++预测：cpu_noavx_openbla

[2019-04-29 12:33] guomingz commented on #17159
the issue raised by @tensor-tang is weird as the resnet50 won't use the depthwise weights. But the mobilenet v1 testing will use the depthwise-related variable.
And i doubt that when we tested the test_calibration_resnet50 case, the **__ model __** file under the python/paddle/fluid/contrib/tests/calibration_out/ directory is the mobilenet_v1 actually, though the weights files are belong to resnet

[2019-04-29 13:26] namemzy opened #17171 "用GPU训练deeplab_v3p网络时，总是提示无法分配内存"
W0429 20:27:09.415925 29126 device_context.cc:203] Please NOTE: device: 0, CUDA Capability: 61, Driver Version: 9.0, Runtime Version: 9.0
W0429 20:27:09.415963 29126 device_context.cc:210] device: 0, cuDNN Version: 7.0.
load succeed
W0429 20:27:11.855363 29126 system_allocator.cc:122] Cannot malloc 7087.16 MB GPU memory. Please shrink FLAGS_fraction_of_gpu_memory_to_use environment variable to a l

[2019-04-29 14:07] hutuxian commented on #17160
请先参考下列相关issue初步排查原因：https://github.com/PaddlePaddle/Paddle/issues/15270 https://github.com/PaddlePaddle/Paddle/issues/16098

[2019-04-29 14:29] hutuxian commented on #17165
有可能是显存的空间不够，看下运行的时候gpu卡上有没有其他进程在使用？或者尝试清除cache（~/.nv）试一下？

[2019-04-29 14:37] hutuxian commented on #17171
应该是显存大小不够的问题。请确保运行的时候GPU卡没有被其他进程占用，并且可以尝试诸如调小batch_size等方法来缩小显存占用量。

[2019-04-30 01:11] hutuxian commented on #17161
请您按照WARNING中的提示方法：
[code]
更改下网络配置即可避免出现此WARNING

[2019-04-30 01:31] yihuaxu commented on #17153
Tried to use WITH_NGRAPH option on 2650V4, please refer to the below.

cmake .. -DWITH_INFERENCE_API_TEST=ON -DWITH_INFERENCE=ON -DWITH_TESTING=ON -DON_INFER=ON -DWITH_NGRAPH=ON

  | fc_op | remove fc_op,   i.e use mul+add
-- | -- | --
1   threads | 0.131179 | 0.137998
2   threads | 0.135886 | 0.141909

[2019-04-30 01:38] hutuxian commented on #17163
Thanks for your suggestion, we will evaluate it asap.

[2019-04-30 01:54] #17159 closed, assigned to nobody

[2019-04-30 01:55] sandyhouse commented on #17168
![屏幕快照 2019-04-30 上午9 53 42](https://user-images.githubusercontent.com/6737864/56937174-ed460480-6b2d-11e9-9778-aa439a7ebb23.png)
从报错信息看，dlopen错误，设置LD_LIBRARY_PATH是否可以解决？

[2019-04-30 02:03] luotao1 commented on #17153
Do you use the image `paddlepaddle/paddle_manylinux_devel:cuda7.5_cudnn5`?

[2019-04-30 02:43] LihangLiu opened #17176 "fetch_var 从GPU拷贝parameter到CPU的np.array，内存泄漏"
fetch_var 从GPU拷贝parameter到CPU的np.array，内存泄漏。
示例代码如下：

    import paddle
    import paddle.fluid as fluid
    from paddle.fluid import layers
    import numpy as np

    def fetch_var(program, scope):
        for param in program.global_block().all_parameters():
            var = scope.find_var(param.name)
            t = var.get_tensor()
            array = np.array(t)             # TODO: This lin

[2019-04-30 02:56] hutuxian commented on #17154
经沟通，问题已解决，先关闭此issue

[2019-04-30 03:00] outlookerr opened #17177 "执行paddle.fluid.install_check.run_check()出错"
报错信息如下
Running Verify Fluid Program ...
W0430 10:57:48.789304 26099 device_context.cc:261] Please NOTE: device: 0, CUDA Capability: 50, Driver API Version: 9.0, Runtime API Version: 8.0
W0430 10:57:48.790666 26099 device_context.cc:269] device: 0, cuDNN Version: 5.1.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/paddle/fluid

[2019-04-30 03:10] zhhsplendid commented on #17176
目前定位问题可能与pybind机制有关，进一步修复中。

[2019-04-30 03:12] TomorrowIsAnOtherDay commented on #17176
这么常用的操作居然会有内存泄漏，希望赶紧修复：）

[2019-04-30 03:12] chenxiaoyu3 opened #17178 "c++ 预测与python预测结果不一致"
已浏览过历史issue中所有相关问题，也已确保输入完全一致。
- 标题：c++ 预测与python预测结果不一致
- 版本、环境信息：
    1）PaddlePaddle版本：python 1.4.0, c++ 1.4.0
    4）系统环境：
python: Mac pip install paddlepaddle==1.4.0
c++:  nvidia/cuda:9.0-devel;  自行checkout release/1.4 编译。（直接下载官网的编译好的，运行出core，Issue在[这里](https://github.com/PaddlePaddle/Paddle/issues/17123)。）

-预测信息
    1）C++预测：
[code]
    2）CMake包含路径的完整命令
[code]
    3）API信息
调用方式没有问题，因为在效果好的模型上，结

[2019-04-30 03:19] sandyhouse commented on #17177
“Enforce failed. Expected allocating <= available, but received allocating:1835602970 > available:1791426304”, 从错误信息看，是请求分配内存过大。可以试试将FLAGS_fraction_of_gpu_memory_to_use设置成较小的值。

[2019-04-30 03:23] baojun-nervana commented on #17157
@luotao1 @jianhang-liu @LeoZhao-Intel We are still working on Bert and transformer models. Those are yet to be resolved.

[2019-04-30 04:37] sshilei commented on #4295
api里面的参数是按step进行下降，有没有接口可以根据epoch进行下降

[2019-04-30 04:50] sandyhouse commented on #4295
试试下面这个：(http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#permalink-234-learning_rate_scheduler)

paddle.fluid.layers.cosine_decay(learning_rate, step_each_epoch, epochs)

说明：使用 cosine decay 的衰减方式进行学习率调整。
在训练模型时，建议一边进行训练一边降低学习率。 通过使用此方法，学习速率将通过如下cosine衰减策略进行衰减：
decayed_lr=learning_rate∗0.5∗(cos(epoch∗math.pi/epochs)+1)

参数：

- learning_rate （Variable | float） - 初始学习率。

- step

[2019-04-30 05:05] Shixiaowei02 commented on #17178
感谢您对 PaddlePaddle 的支持！我们尽快查明原因回复您。

[2019-04-30 06:38] junjun315 commented on #17133
eval下显存溢出的问题已经在develop主干修复，如果可以的话尝试使用teamcity编译的最新的包再试一下。感谢指出。

[2019-04-30 06:42] yeyupiaoling commented on #17133
@junjun315 好的。你们的teamcity好像现在不提供给我们直接访问了，以前还可以的。我本地一般用docker进行编译的。

[2019-04-30 06:42] #17133 closed, assigned to velconia

[2019-04-30 07:04] irukawang opened #17183 "paddle在分布式上如何实现训练和验证在一起呢，主要想实现early stop"
[code]

[2019-04-30 07:36] outlookerr commented on #17177
@sandyhouse 我是通过pip安装的，这种方式能修改CMakelist吗

[2019-04-30 07:39] sandyhouse commented on #17183
可以参考fast imagenet的实现代码，里面包括train、test和early stop。
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification/fast_imagenet

[2019-04-30 08:05] sandyhouse commented on #17177
不需要修改CMakelist，例如：
export FLAGS_fraction_of_gpu_memory_to_use=0.34

[2019-04-30 08:36] outlookerr commented on #17177
@sandyhouse  谢谢你的建议，但是好像问题不出在这，错误仍然存在

[2019-04-30 10:33] sandyhouse commented on #17177
排查一下GPU是否被占用（nvidia-smi的输出是什么）？能否提供一个可复现的环境？谢谢。