[2018-07-02 03:13] Superjomn commented on #11870
重启下？ 这个代码应该没动过

[2018-07-02 03:29] typhoonzero opened #11871 "Mac build error printf.h:87:58: error: missing default argument on parameter 'args'"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/string/printf.h#L87 will break the mac build, need a fix.

[2018-07-02 04:05] typhoonzero commented on #11871
I'm  doing work to refine the mac os whl package releasing according to: https://github.com/MacPython/wiki/wiki/Spinning-wheels, to make the wheel package can run on more versions of mac os and python installations.

[2018-07-02 07:58] #11847 closed, assigned to luotao1

[2018-07-02 08:05] xiaolv3366 commented on #11647
难道Paddle不支持GPU训练NCE（噪声对比估计）？

[2018-07-02 08:14] qingqing01 commented on #11811
Testing case:

[code]

[2018-07-02 09:15] zoopt opened #11879 "MPI集群版本如何获取中间层输出"
【问题1】本地使用0.12.0版本，使用教程中https://github.com/PaddlePaddle/Paddle/blob/c3162fd7932d508ec2cf1e4d95a9502e29ed7a00/doc/v2/faq/local/index_en.rst#id16 获取中间层输出，如图所示：
![4b86d96edec7150a2b4ecbe5bbd14cf9](https://user-images.githubusercontent.com/4601083/42155289-9255aac2-7e1a-11e8-8855-2a34e967c23a.png)

上到MPI集群版本后，receiver模式，提示出现如下错误：
![d3b8c950f596e823934081c6d1e2d95a](https://user-images.githubusercontent

[2018-07-02 09:50] kolinwei opened #11880 "train因Deadline Exceeded连不上ps会core dump，程序应该平稳退出"
End pass 4, train_loss 2.88446474075, train_acc1 0.378594011068, train_acc5 0.633796095848, test_loss 2.4196540374, test_acc1 0.44827724359, test_acc5 0.70953525641
F0628 11:17:58.649018   220 grpc_client.cc:248] var: name:[batch_norm_22.w_0] ep:[192.168.16.34:5002] grpc error:Deadline Exceeded
*** Check failure stack trace: ***
    @     0x7f1a1031d07d  google::LogMessage::Fail()
    @     0x7f1a

[2018-07-02 10:13] BigFishMaster opened #11881 "Paddle的欧式距离计算存在误差。"
我计算两个float32向量的距离时发现精度有问题，误差比numpy高一个数量级。两个向量是2048维的，且完全一样。距离公式采用的是a^2-2ab+b^2.(欧式公式展开)
结果：
[code]
paddle fluid的距离代码：其中feature是一个行向量[[x1,x2,x3...x2048]]
[code]

[2018-07-02 11:04] zhizunbao-m opened #11884 "Cmake error on JETSON TX2 WITH CUDA9.0 CUDNN7 for C-API"
nvcc fatal   : Unknown option 'Wall'
CMake Error at cuda_compile_generated_CropOpGpu.cu.o.cmake:203 (message):
  Error generating
  /home/nvidia/Paddle-develop/release/paddle/function/CMakeFiles/cuda_compile.dir//./cuda_compile_generated_CropOpGpu.cu.o

paddle/function/CMakeFiles/paddle_function.dir/build.make:70: recipe for target 'paddle/function/CMakeFiles/cuda_compile.dir/cuda_compile_generate

[2018-07-02 11:08] zhizunbao-m commented on #11884
use version release/0.14.0  and gcc-4.8 & g++-4.8 for CAPI

[2018-07-02 12:31] gongweibao commented on #11879
1. 估计是receiver上的paddle版本太老了。
2. receiver已经不更新了，你可以迁移到paddlecloud.
   有个自己打包上传到receiver的办法。私聊给你。

部署起来有点复杂，你直接迁paddlecloud如何？有一个组的人在维护。

[2018-07-02 12:42] nkqiqi opened #11886 "from mxnet to paddle and load model error"
mxnet转成paddle模型后加载时提示BadCastException错误：what() from PSt3mapI... to St3mapISsS， 请问是什么问题？
![image](https://user-images.githubusercontent.com/34327019/42164351-5cbc0ff0-7e38-11e8-82a4-2bbc20e43af7.png)

[2018-07-02 13:03] Superjomn commented on #11886
这是啥工具转的？ 官方没有专门的支持吧。

[2018-07-02 18:48] wangkuiyi opened #11892 "Type Attribute is not defined in attribute.h but in type_defs.h"
The type Attribute

https://github.com/PaddlePaddle/Paddle/blob/ebadb4c0916d37a50b66cf33414a28aa0ea01dbe/paddle/fluid/framework/type_defs.h#L35-L39

should be defined in attirubte.h, but not any other file.

It seems that type_defs.h serves as a "hub" where all common types are in there. This would break the software design principle of modulization.

[2018-07-02 18:53] wangkuiyi opened #11893 "Type Attribute depends on C++ class BlockDesc but not proto::BlockDesc"
https://github.com/PaddlePaddle/Paddle/blob/ebadb4c0916d37a50b66cf33414a28aa0ea01dbe/paddle/fluid/framework/type_defs.h#L38

Given that the C++ class BlockDesc is just an I/O helper of proto::Desc, Attribute and other places where we need to use the BlockDesc should use proto::BlockDesc, instead of its I/O helper.

[2018-07-02 20:17] wangkuiyi opened #11894 "/fluid/platform/macros.h includes only one marco"
https://github.com/PaddlePaddle/Paddle/blob/ebadb4c0916d37a50b66cf33414a28aa0ea01dbe/paddle/fluid/platform/macros.h#L18-L25

It doesn't make sense to name the file `macros` given only one macro defined.

Should rename it into `disable_copy_and_assign.h`.

[2018-07-02 20:20] wangkuiyi opened #11895 "shape_inference.{h,cc} should use proto::VarDesc instead of its I/O helper"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/shape_inference.h#L28

[2018-07-02 20:23] wangkuiyi opened #11896 "class InferShapeBase is not defined in shape_inference.h but in op_info.h"
https://github.com/PaddlePaddle/Paddle/blob/ebadb4c0916d37a50b66cf33414a28aa0ea01dbe/paddle/fluid/framework/op_info.h#L28-L32

[2018-07-03 02:20] #11879 closed, assigned to gongweibao

[2018-07-03 02:50] chengduoZH opened #11899 "The doc of ExecutionStrategy and BuildStrategy is empty."
The doc of ExecutionStrategy and BuildStrategy is empty.

![es_bs](https://user-images.githubusercontent.com/30176695/42196113-c7764d44-7eae-11e8-94db-7b137a435265.png)

[2018-07-03 03:18] typhoonzero opened #11900 "Steps to release whl packages for MacOS to support wide range of evironments"
The Problem:
---

Issues like https://github.com/PaddlePaddle/Paddle/issues/9731 and https://github.com/PaddlePaddle/Paddle/issues/9039 we do not have a common way to solve these problems because current whl package built for MacOS have very narrow applicable OS versions and environments:

* users must have the same OS version as the OS that compiles that package
* users must install python using

[2018-07-03 03:41] typhoonzero opened #11903 "Record stack traceback in python API and throw that stack info when the op fails at runtime for debugging"
@panyx0718 said that we can learn from TF's debugging ways to make debug fluid program simpler:

1. record the traceback string when calling `append_op`
1. put the traceback info in the operator as data.
1. when op run fails, can raise the traceback stack for debugging.

[2018-07-03 05:37] #11871 closed, assigned to typhoonzero

[2018-07-03 05:43] dpwu1994 opened #11905 "集群paddlepaddle版本不支持deepFM"
如题，集群版本的paddlepaddle版本低于0.11，有没有办法解决。十分感谢。

[2018-07-03 05:51] guoshengCS commented on #11905
可以参考 http://wiki.baidu.com/pages/viewpage.action?pageId=327596461 中 **更新本地提交package中的paddle二进制** 部分的内容

[2018-07-03 05:55] #11710 closed, assigned to Yancey0623, typhoonzero

[2018-07-03 06:06] authorfu opened #11906 "0.11 版本android v7a获取height和width一样，v8a下正常。"
使用paddle_matrix_get_shape(probs, &result.height, &result.width)) 加载armeabi-v7a下so，获取 result.height及result.width， 获得的值都是相等的。
arm-v8a下获得值是符合预期的，result.width一直都是7.
在多台手机及客户的设备上验证。armeabi-v7a下均有此问题。

测试CPU均为 Cortex A53

[2018-07-03 06:29] dpwu1994 commented on #11905
我down不下来最新版的paddlepaddle的whl文件，你那边能提供一份吗，十分感谢

[2018-07-03 06:44] guoshengCS commented on #11905
CI页面左上角Projects下点击manylinux1选择需要的版本就可以，找到最近编译成功的点击Artifacts选择需要的包

[2018-07-03 07:02] reyoung commented on #11892
Thanks very much!!!

[2018-07-03 07:02] #11892 closed, assigned to reyoung

[2018-07-03 07:09] dpwu1994 commented on #11905
paddlepaddle-0.14.0-cp27-cp27mu-linux_x86_64.whl is not a supported wheel on this platform.
这个报错要怎么解决。

[2018-07-03 07:30] guoshengCS commented on #11905
可以试下重命名为paddlepaddle-0.14.0-cp27-none-linux_x86_64.whl，或者参考FAQ这里 https://github.com/PaddlePaddle/Paddle/blob/develop/doc/v2/faq/build_and_install/index_cn.rst#4-paddlepaddlewhl-is-not-a-supported-wheel-on-this-platform

[2018-07-03 07:34] dpwu1994 commented on #11905
重命名为paddlepaddle-0.14.0-cp27-none-linux_x86_64.whl后可以，十分感谢！

[2018-07-03 08:02] luotao1 commented on #11798
@callmeivy TeamCity已经恢复正常，请重新下载即可。

[2018-07-03 08:39] dzhwinter opened #11910 "float16 need more type_traits"
[code]

[2018-07-03 08:57] vincewangnsn opened #11911 "capi demo中没有多个data layer的demo"
在进行paddle capi预测改造时，由于模型比较复杂，有多个data layer，如下图所示
![image](https://user-images.githubusercontent.com/40789621/42209610-ac9213cc-7ee1-11e8-9995-e06f807837cd.png)
    请问如何构建Argument，是否依次构建Argument就ok了？是否需要将名字与各个Argument对应？如果可以的话，是否方便给出个多个data layer的demo进行参考，谢谢~

[2018-07-03 09:25] guoshengCS commented on #11911
可以尝试下参照 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/legacy/capi/examples/model_inference/dense/main.c 进行以下几处修改
1. `paddle_arguments_resize(in_args, 1)`改为`paddle_arguments_resize(in_args, 10)`
2. 使用`paddle_matrix_create`为输入 i 创建 paddle_matrix_i
3. `paddle_arguments_set_value(in_args, i, paddle_matrix_i)`

[2018-07-03 09:46] guoshengCS commented on #11906
之前有在OCR那边测试过这两个库下的使用应该都是没问题的，麻烦还请确认下使用是否存在问题

[2018-07-03 11:13] jacquesqiao opened #11914 "regularization problem"
when add `regularization=fluid.regularizer.L2Decay(1e-4)` to optimizer,  program will add a lookup_table_op that should not exist.
https://github.com/typhoonzero/fluid_gpu_benchmark/blob/master/lm/gru_lm_multi_cloud.py

[2018-07-03 11:14] #11886 closed, assigned to Superjomn, gongweibao

[2018-07-03 11:41] #8621 closed

[2018-07-03 11:43] gongweibao commented on #10998
feel free to  reopen it!

[2018-07-03 11:43] #10998 closed

[2018-07-03 11:47] #11494 closed, assigned to chengduoZH

[2018-07-03 11:47] #10759 closed

[2018-07-03 11:48] gongweibao commented on #4040
Upgrade to fluid now is the best resolution.

[2018-07-03 11:48] #4040 closed

[2018-07-03 11:48] #9322 closed

[2018-07-03 11:49] #10369 closed

[2018-07-03 11:51] #10131 closed

[2018-07-03 11:51] #10742 closed

[2018-07-03 12:16] jacquesqiao opened #11916 "parallen_executor failed when train dist language model"
https://github.com/typhoonzero/fluid_gpu_benchmark/blob/master/lm/gru_lm_multi.py

[2018-07-03 15:03] avici123 opened #11920 "毕业真实版本︴昆士兰大学毕业证书|UQ原件一模一样证书"
╀昆士兰大学毕业证书 Q 931637277 V 931637277联系人LeoUQ0?Victor毕业证?0?2?0?2那时的梅西还被称为「小跳蚤」，他留着长发，在场上飞奔、突破、传球，无所不能。他可以顷刻间扭转比赛的胜负，却注定无法更改阿根廷足球的命运。
大厦将倾，国士无用。昆士兰大学毕业证书╀

31岁的梅西，33岁的C罗，34岁的伊涅斯塔，34岁的马斯切拉诺，35岁的佩佩……这些名字就如同足球世界中的神祗，供后人仰望。然而如今，他们却只能眼看着后人在他们面前肆意庆祝，留给我们一个落寞的背影。
诸神不死，但诸神会老去，会慢慢凋零。他们终究无法阻止黄昏的到来。
而黄昏过后，必将是无尽的长夜。

[2018-07-03 15:08] avici123 opened #11921 "毕业真实版本︴格里菲斯大学毕业证书|Griffith原件一模一样证书"
★格里菲斯大学毕业证书[Griffith-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
格里菲斯大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、

[2018-07-03 15:08] avici123 opened #11922 "毕业真实版本︴詹姆斯库克大学毕业证书|JCU原件一模一样证书"
★詹姆斯库克大学毕业证书[JCU-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
詹姆斯库克大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成

[2018-07-03 15:08] avici123 opened #11923 "毕业真实版本︴中央昆士兰大学毕业证书|CQU原件一模一样证书"
★中央昆士兰大学毕业证书[CQU-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
中央昆士兰大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成

[2018-07-03 15:08] avici123 opened #11924 "毕业真实版本︴昆士兰科技大学毕业证书|QUT原件一模一样证书"
★昆士兰科技大学毕业证书[QUT-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
昆士兰科技大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成

[2018-07-03 15:08] avici123 opened #11925 "毕业真实版本︴南昆士兰大学毕业证书|USQ原件一模一样证书"
★南昆士兰大学毕业证书[USQ-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
南昆士兰大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成绩单

[2018-07-03 15:09] avici123 opened #11926 "毕业真实版本︴塔斯马尼亚大学毕业证书|UTAS原件一模一样证书"
★塔斯马尼亚大学毕业证书[UTAS-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
塔斯马尼亚大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福

[2018-07-03 15:09] avici123 opened #11927 "毕业真实版本︴科廷科技大学毕业证书|Curtin原件一模一样证书"
★科廷科技大学毕业证书[Curtin-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
科廷科技大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福

[2018-07-03 15:09] avici123 opened #11928 "毕业真实版本︴西澳大学毕业证书|UWA原件一模一样证书"
★西澳大学毕业证书[UWA-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
西澳大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成绩单、网上存

[2018-07-03 15:10] avici123 opened #11929 "毕业真实版本︴莫道克大学毕业证书|Murdoch原件一模一样证书"
★莫道克大学毕业证书[Murdoch-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
莫道克大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成

[2018-07-03 15:10] avici123 opened #11930 "毕业真实版本︴埃迪斯科文大学毕业证书|ECU原件一模一样证书"
★埃迪斯科文大学毕业证书[ECU-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
埃迪斯科文大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成

[2018-07-03 15:10] avici123 opened #11931 "毕业真实版本︴澳大利亚国立大学毕业证书|ANU原件一模一样证书"
★澳大利亚国立大学毕业证书[ANU-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
澳大利亚国立大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托

[2018-07-03 15:10] avici123 opened #11932 "毕业真实版本︴阿德莱德大学毕业证书|Adelaide原件一模一样证书"
★阿德莱德大学毕业证书 Adelaide-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
阿德莱德大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、

[2018-07-03 15:10] avici123 opened #11933 "毕业真实版本︴维多利亚大学毕业证书|Victoria原件一模一样证书"
★维多利亚大学毕业证书[Victoria-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
维多利亚大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、

[2018-07-03 15:11] avici123 opened #11934 "毕业真实版本︴南澳大学毕业证书|UniSA原件一模一样证书"
★南澳大学毕业证书[UniSA-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
南澳大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成绩单、网

[2018-07-03 15:16] avici123 opened #11935 "毕业真实版本︴皇家墨尔本理工大学毕业证书|RMIT原件一模一样证书"
★皇家墨尔本理工大学毕业证书[RMIT-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
皇家墨尔本理工大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证

[2018-07-03 15:16] avici123 opened #11936 "毕业真实版本︴拉筹伯大学毕业证书|LaTrobe原件一模一样证书"
★拉筹伯大学毕业证书[LaTrobe-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
新西兰奥克兰理工大学毕业证【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明

[2018-07-03 15:16] avici123 opened #11937 "毕业真实版本︴南十字星大学毕业证书|SCU原件一模一样证书"
★南十字星大学毕业证书[SCU-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
南十字星大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成绩单

[2018-07-03 15:16] avici123 opened #11938 "毕业真实版本︴新英格兰大学毕业证书|UNE原件一模一样证书"
★新英格兰大学毕业证书[UNE-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
新英格兰大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成绩单

[2018-07-03 15:17] avici123 opened #11939 "毕业真实版本︴纽卡斯尔大学毕业证书|UoN原件一模一样证书"
★纽卡斯尔大学毕业证书 UoN-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
纽卡斯尔大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成绩单

[2018-07-03 15:17] avici123 opened #11940 "毕业真实版本︴澳大利亚翻译学院毕业证书|AITI原件一模一样证书"
★澳大利亚翻译学院毕业证书[AITI-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
澳大利亚翻译学院毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、

[2018-07-03 15:17] avici123 opened #11941 "毕业真实版本︴查理斯特大学毕业证书|Flinders原件一模一样证书"
★查理斯特大学毕业证书[Flinders-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
新查理斯特大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明

[2018-07-03 15:17] avici123 opened #11942 "毕业真实版本︴新南威尔士大学毕业证书|UNSW原件一模一样证书"
★新南威尔士大学毕业证书[UNSW-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
新南威尔士大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福

[2018-07-03 15:17] avici123 opened #11943 "毕业真实版本︴悉尼科技大学毕业证书|UTS原件一模一样证书"
★悉尼科技大学毕业证书[UTS-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
悉尼科技大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成绩单

[2018-07-03 15:18] avici123 opened #11944 "毕业真实版本*利兹大学毕业证书」Leeds原件一模一样证书"
★利兹大学毕业证书[Leeds-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
利兹大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成绩单、网

[2018-07-03 15:18] avici123 opened #11945 "毕业真实版本*肯特大学毕业证书」UKC原件一模一样证书"
★肯特大学毕业证书[UKC-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
肯特大学毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Offer、在读证明、托福成绩单、网上存

[2018-07-03 15:18] avici123 opened #11946 "毕业真实版本*伦敦大学海斯洛普学院毕业证书」Heythrop原件一模一样证书"
★伦敦大学海斯洛普学院毕业证书[Heythrop-diploma]【微``:931637277 —— Q：931637277】.留网真实认证&文凭&博士&硕士&本科&毕业证&成绩单】微(Leo)◆Q(931637277)[删除请点击百度快照]实体公司.可视频看样本~英国毕业证、加拿大毕业证、美国毕业证、新西兰毕业证、澳洲毕业证、新加坡毕业证、等各大学毕业证，修改成绩单分数，使馆留学回囯人员证明、录取通知、Offer、在读证明、雅思托福成绩单。五年致力于帮助留学生解决无法毕业，无法认证真实的难题；以及回国所需一些留学材料[实体经营公司，值得赖]
伦敦大学海斯洛普学院毕业证书【◆微(931637277)◆Q(931637277) 】联系人Leo[查看点击网页快照查看]【留网真实认证、学位证、毕业证、成绩单等】国外各大学毕业证,,成绩单、留网真实认证、使馆认证/留学回国人员证明、录取通知、Off

[2018-07-03 15:27] #11944 closed

[2018-07-03 15:29] #11921 closed

[2018-07-03 15:29] #11922 closed

[2018-07-03 15:29] #11923 closed

[2018-07-03 15:30] #11924 closed

[2018-07-03 15:30] #11925 closed

[2018-07-03 15:30] #11926 closed

[2018-07-03 15:30] #11927 closed

[2018-07-03 15:30] #11928 closed

[2018-07-03 15:30] #11929 closed

[2018-07-03 15:30] #11930 closed

[2018-07-03 15:30] #11931 closed

[2018-07-03 15:30] #11932 closed

[2018-07-03 15:30] #11933 closed

[2018-07-03 15:30] #11934 closed

[2018-07-03 15:30] #11935 closed

[2018-07-03 15:30] #11936 closed

[2018-07-03 15:30] #11937 closed

[2018-07-03 15:30] #11938 closed

[2018-07-03 15:30] #11939 closed

[2018-07-03 15:30] #11940 closed

[2018-07-03 15:30] #11941 closed

[2018-07-03 15:30] #11942 closed

[2018-07-03 15:30] #11943 closed

[2018-07-03 15:30] #11945 closed

[2018-07-03 15:30] #11946 closed

[2018-07-03 15:35] Yancey0623 commented on #11916
Can you paste the error logs and how to reproduce it?

[2018-07-03 21:27] wangkuiyi opened #11947 "Fluid source code declared LAPACK functions but never uses them"
Watch this

https://github.com/PaddlePaddle/Paddle/search?q=LAPACKE_sgetrf+path%3Apaddle%2Ffluid&unscoped_q=LAPACKE_sgetrf+path%3Apaddle%2Ffluid

[2018-07-03 23:47] wangkuiyi opened #11948 "Move VisitPlace from fluid::platform to fluid::framework"
From the search result

https://github.com/PaddlePaddle/Paddle/search?q=VisitPlace&unscoped_q=VisitPlace

we see that VisitPlace, which is defined in fluid::platform, is only used in tensor_util.cc, which is in fluid::framework.

For the principal of locality, we should move VisitPlace to where it is used.

[2018-07-03 23:52] wangkuiyi opened #11949 "Too lengthy implementation of TensorContainsNan and TensorContainsINF"
The implementation contains three parts:

1.  VisitPlace (35 lines)
   https://github.com/PaddlePaddle/Paddle/blob/037ce12ee4f3167fc31f2fdd21e5390b42c806b8/paddle/fluid/platform/place.h#L97-L132

1. The CPU implementation of TensorContainsNaN (~100 lines)

   https://github.com/PaddlePaddle/Paddle/blob/7b54f16855ca3aaef6ff1cdb9bf7a4d4f1d8b6c1/paddle/fluid/framework/tensor_util.cc#L139-L241

1. The

[2018-07-04 00:26] wangkuiyi opened #11952 "The type Place should be a class hierarchy other than boost::variant"
The current implementation of TensorContainsNAN and TensorContainsInf are super complicated, as explained in https://github.com/PaddlePaddle/Paddle/issues/11949. Part of the reason is that Place is currently a boost::variant -- so that we cannot determine the real place type (CPU, CUDA, etc) at runtime; instead, we'd have to define boost::static_visitor classes to determine online.  If we are goin

[2018-07-04 02:17] typhoonzero opened #11956 "NCCL2 distributed training mode parameter initialization is not correct"
As mentioned in https://github.com/PaddlePaddle/Paddle/pull/11885#discussion_r199865186, we initialize parameters on each node and broadcasting them to GPUs only on current machine, then parameters could be different on different nodes in the first batch. And this is what exactly @velconia is doing right now for the RPC mode distributed training parameter initialization.

[2018-07-04 02:42] anbocao opened #11957 "Check failed: input.value The input of 'fc' layer must be matrix"
[train_cluster.zip](https://github.com/PaddlePaddle/Paddle/files/2161665/train_cluster.zip)

When I tried to train the model, the following error appears:

[code]

I reviewed two other issues which suggest me to use sparse_non_value_slot instead of integer_value_sequence and input data cannot be null.

However, my input is list of indices which is not sparse and I never feed any null inputs as the

[2018-07-04 02:53] Yancey0623 opened #11958 "PaddlePaddle Fluid EDL"
Tasks
- full fault-tolerant training
    - [ ] design doc, https://github.com/PaddlePaddle/Paddle/pull/11625
    - [ ] recoverable trainer process without shutting down the whole job
    - [ ] recoverable pserver process without shutting down the whole job
    - [ ] distributed task queue to manage tasks in etcd
    - [ ] distributed reader to fetch record from task queue
    - [ ] pserver HA
- [

[2018-07-04 03:12] typhoonzero commented on #11958
@velconia

[2018-07-04 03:27] qingqing01 commented on #11881
[code]

这是我的测试用例，输出结果如下，和numpy类似，

[code]

换种随机数生成方式：

[code]
 结果如下：

[code]

以上结果误差都和numpy在一个数量级上。

[2018-07-04 03:39] qingqing01 commented on #11881
[code]

加上和Numpy计算对比：

[code]

多运行几次：

[code]

[2018-07-04 06:39] typhoonzero commented on #11900
Update, we may need to use something like `c++ .... -mmacosx-version-min=10.11`, see: https://stackoverflow.com/questions/2923502/what-does-macosx-version-min-imply

[2018-07-04 07:13] typhoonzero commented on #11900
From https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/system.cmake#L30, setting `MACOSX_DEPLOYMENT_TARGET` should solve binaries dependency problem. Will test. Ref: https://cmake.org/cmake/help/v3.0/variable/CMAKE_OSX_DEPLOYMENT_TARGET.html

[2018-07-04 08:03] dpwu1994 commented on #11905
server.log里面报错：
./paddle_pserver2: error while loading shared libraries: ./python27-gcc482/lib/libmkldnn.so.0: ELF file OS ABI invalid
[FATAL]: paddle_pserver2 failed
不知道是不是因为昨天的安装0.14.0版本时，替换了paddle_pserver2 所导致
cp bin/paddle_pserver_main ../paddle_pserver2
十分感谢

[2018-07-04 08:09] guoshengCS commented on #11905
可以还按之前的方法重新下载个不用MKL的whl包试下

[2018-07-04 08:22] reyoung commented on #11948
Maybe the ultimate solution is #11952. We just change `Place` into plain classes.

[2018-07-04 08:27] reyoung commented on #11947
It seems that `lapacke` is imported in #3209, but I do not know why. Let the reviewer @dzhwinter  decide should we remove it or not.

[2018-07-04 08:58] wanghaoshuang commented on #11957
You can use [printer layer](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/trainer_config_helpers/evaluators.py#L589) to debug which fc's input is wrong.

[code]

[2018-07-04 09:10] kolinwei opened #11965 "4机异步训练se-resnet模型中途有两台trainer出错"
log：
*** SIGSEGV (@0x7f1228ff7790) received by PID 12583 (TID 0x7ee2c1fcb700) from PID 687830928; stack trace: ***
    @     0x7f0b493f6390 (unknown)
    @     0x7f0af646b4c7 paddle::framework::Scope::FindVarLocally()
    @     0x7f0af646b8f2 paddle::framework::Scope::FindVarInternal()
    @     0x7f0af646b85e paddle::framework::Scope::FindVar()
    @     0x7f0af638c940 _ZNSt17_Function_handlerIFS

[2018-07-04 09:11] kolinwei commented on #11965
24机器下面train_async.log

[2018-07-04 09:20] typhoonzero commented on #11965
Seems like a race condition on scope.

[2018-07-04 09:24] jacquesqiao commented on #11965
这个我初步判断是parallel_executor的问题，目前是在Executor的基础上进行测试的，这个问题正在和成舵老师看。

[2018-07-04 09:28] anbocao commented on #11957
Where should I add the funcion call? I tried it in few places where I declare the layers, but nothing appears before the program error.
The program succusfully build and initialize the network but always fails at the last command of the program where it call trainer.train(). Since no data was passed in before the training start and once the traning has started there is no way to pause before it fa

[2018-07-04 09:29] guochaorong opened #11967 "厂内v100机器编译错误"
有一台产内v100 机器，cuda 版本8.0
报下面错误：
请春老师帮忙看下是不是cuda的问题

[code]

[2018-07-04 09:56] dpwu1994 commented on #11905
额，这个要怎么看，我下了一个0.12.0的好像还是要用这个~
十分感谢

[2018-07-04 10:04] guoshengCS commented on #11905
不带MKL后缀的就是不依赖MKL的
![image](https://user-images.githubusercontent.com/14105589/42270900-8baabdca-7fb4-11e8-96c5-4948ac64b7ed.png)

[2018-07-04 10:06] luotao1 commented on #11967
不是cuda问题，请先删除`rm -rf build/paddle/fluid/inference`目录，重新编译即可。

[2018-07-04 10:37] typhoonzero commented on #11900
Finally, I have a solution, can make the whl package run on different Mac versions and python installation types:

build steps:

1. install python from python.org downloads, and make sure it's currently in use.
1. `export MACOSX_DEPLOYMENT_TARGET=10.11`
1. `mkdir build && cd build`
1. `cmake -DWITH_GPU=OFF -DWITH_MKL=OFF -DWITH_SYSTEM_BLAS=OFF  .. && make -j`, make sure the output of `cmake` comma

[2018-07-04 10:55] kolinwei opened #11969 "多机同步训练时，learning_rate为piecewise_decay时ps启动报错"
*** SIGSEGV (@0x40000000a) received by PID 14246 (TID 0x7fa3cd7fa700) from PID 10; stack trace: ***
    @     0x7fa5bd812390 (unknown)
    @     0x7fa569adc575 paddle::framework::Executor::RunPreparedContext()
    @     0x7fa56a6ae40a _ZNSt17_Function_handlerIFSt10unique_ptrIN6paddle8platform13EnforceNotMetESt14default_deleteIS3_EEvESt17reference_wrapperISt12_Bind_simpleIFS8_IZNS1_9framework10Thre

[2018-07-04 10:56] kolinwei commented on #11969
可以用https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification 下的se-resnext模型浮现

[2018-07-04 11:03] typhoonzero commented on #11958
Do you mean by implementing parameter server replicas to support online training?

[2018-07-04 11:11] Yancey0623 commented on #11958
Yes, but not only supporting online training, for the offline training job that reduces pserver recovery time is necessary.
But maybe we can implement `recoverable pserver process without shutting down the whole job` first.

[2018-07-04 11:11] typhoonzero commented on #11969
需要把这个单测也加到https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_dist_transpiler.py

[2018-07-04 11:35] vincewangnsn commented on #11911
@guoshengCS
[code]
请问paddle_arguments_set_sequence_start_pos 函数中第三个参数是什么？
![image](https://user-images.githubusercontent.com/40789621/42275016-6410a2c2-7fc1-11e8-8638-59be593549fb.png)

[2018-07-04 11:44] guoshengCS commented on #11911
这个是双层序列会用到的，表示这是第几层的序列信息

[2018-07-04 11:49] vincewangnsn commented on #11911
@guoshengCS
![image](https://user-images.githubusercontent.com/40789621/42275531-3767e9e0-7fc3-11e8-9905-f9d992228042.png)
这是tutorial上面给的例子，也就是我上面copy的代码

[2018-07-04 11:53] guoshengCS commented on #11911
单层序列用0就可以

[2018-07-04 11:59] vincewangnsn commented on #11911
@guoshengCS  好的，再麻烦问一下，Python 端数据类型是integer_value_sequence，那么附加的序列信息就是{0}？

[2018-07-04 12:07] guoshengCS commented on #11911
单层序列第三个参数用0就可以。
数据类型是integer_value_sequence，附加的序列信息是根据每个sequence长度创建的seq_pos，参照你上面贴图里的说明就可以

[2018-07-04 12:17] dzhwinter opened #11971 "A bunch of grpc error happens when build the concurrent_test"
[code]

[2018-07-04 12:20] dzhwinter commented on #11971
related PR
https://github.com/PaddlePaddle/Paddle/pull/11757
No idea why it happens, I didn't touch the concurrent test, and when I look into the test case, it didn't use any grpc_unsecure code. Disable it temporarily

[2018-07-04 12:23] #11911 closed, assigned to nobody

[2018-07-04 13:14] 201101050424 opened #11974 "集群任务报错"
部分错误如下：
Wed Jul  4 20:24:41 2018[1,5]<stderr>:F0704 20:24:41.447738 57287 ThreadLocal.h:83] Check failed: pthread_setspecific(threadSpecificKey_, p) == 0 : Success [0]
完整日志：
http://10.74.162.18:8900/filetree?action=cat&path=/home/disk1/normandy/maybach/194916/workspace/log/train.log

[2018-07-04 13:21] SheldonZHANG opened #11975 "例行任务最近训练开始卡住"
使用的是v1.11.0版本，例行任务最近几天开始在训练的时候卡住，具体表现如下图所示；卡住的同时显示http 200的日志，定位发现是paddle/python27-gcc482/lib/python2.7/BaseHTTPServer.py打印的日志，调用该代码的程序可能是train.sh里面的代码，见第二张图
![image](https://user-images.githubusercontent.com/4178111/42279193-994151fe-7fcf-11e8-9683-a742c80e5fc5.png)

![image](https://user-images.githubusercontent.com/4178111/42279406-433119ce-7fd0-11e8-96e8-5aebe1c676a2.png)

[2018-07-04 13:22] SheldonZHANG commented on #11975
任务链接： http://yq01-hpc-lvliang-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20180704162728-46523&submitTime=2018-07-04%2016:27:28

[2018-07-04 13:33] bipedalBit opened #11976 "奇怪的报错："paddle.fluid.core.EnforceNotMet: enforce framework::product(lr_dims) == 1 failed, 0 != 1""
[code]
训练模型时报错很奇怪：
[code]
有什么建议吗？

[2018-07-04 13:37] wanghaoshuang commented on #11976
把`self.lr`相关代码也贴出来？你使用了learning rate decay么？

[2018-07-04 13:39] bipedalBit commented on #11976
没有使用lr decay`self.lr = 1e-3`

[2018-07-04 14:07] wanghaoshuang commented on #11976
print 一下program, 然后把结果贴上来？有没有为某个layer单独设置lr?
[code]

[2018-07-04 14:14] wanghaoshuang commented on #11974
建议联系集群OP协助排查下该错误。

[2018-07-04 15:43] dpwu1994 commented on #11905
出现新的报错，问题还是在paddle_pserver2，如何解决十分感谢
4 23:33:47 2018[1,0]<stderr>:./paddle_pserver2: /lib64/tls/libc.so.6: version `GLIBC_2.7' not found (required by ./paddle_pserver2)
Wed Jul  4 23:33:47 2018[1,0]<stderr>:./paddle_pserver2: /lib64/tls/libc.so.6: version `GLIBC_2.6' not found (required by ./paddle_pserver2)
Wed Jul  4 23:33:47 2018[1,0]<stderr>:./paddle_pserver2: /usr/lib64/libstdc++.so.6: versio

[2018-07-05 00:00] lgone2000 opened #11977 "fluid.layers.matmul 传入2个参数为相同变量时梯度计算错误"
复现代码如下，testdist传入相同变量，testdist1 传入两个不同变量。输出结果相同。
第一个梯度并没有对输入变量累加。
公式推导真实值应该为[6,6]
[code]

[2018-07-05 01:14] #9066 closed

[2018-07-05 01:20] bipedalBit commented on #11976
[code]
没有为某个layer单独设置lr

[2018-07-05 02:14] velconia commented on #11956
The details were described [in this issue](https://github.com/PaddlePaddle/Paddle/issues/11843]

[2018-07-05 05:02] #11947 closed, assigned to dzhwinter

[2018-07-05 05:03] Superjomn opened #11980 "Q&A WIKI 页面"
Working on http://agroup.baidu.com/paddlepaddle/md/article/1030474

[2018-07-05 05:03] #11753 closed, assigned to dzhwinter, wanglei828

[2018-07-05 05:34] JayEworld commented on #11758
@jacquesqiao 我现在用的是v2版本

[2018-07-05 05:48] velconia commented on #11958
Should we add implement trainer HA too?

[2018-07-05 06:00] bipedalBit commented on #11976
上面贴的是Mac下用docker、latest镜像跑训练报的错。
下面是Ubuntu16下用paddlepaddle-gpu==0.14.0.post87跑训练报的错：
[code]
两个环境报错不一样 有什么建议吗？

[2018-07-05 06:44] bingyanghuang opened #11984 "Loss with Parallel executor converge slower than MKLDNN"
Hi,

When I did the demo GUI with MKL optimizing on Parallel executor, and with MKLDNN, I found that after 600 iterations, MKL loss value is much slower than MKLDNN loss value. You can see it from figure below.
![image](https://user-images.githubusercontent.com/33643817/42306103-497aeb9e-8060-11e8-868e-ed7c5d6e1698.png)

We can see from the figure that with MKL loss converges slower than MKLDNN.
T

[2018-07-05 06:54] luotao1 commented on #11984
Maybe we should test Parallel executor with MKL and Executor with MKL at first.

[2018-07-05 06:59] #11754 closed, assigned to tensor-tang

[2018-07-05 07:09] #11259 closed

[2018-07-05 07:54] Superjomn opened #11985 "gcc4.8 CPU 测试验证"
[code]

[2018-07-05 07:54] Superjomn opened #11986 "聚合模型，进行精度和性能验证"
用不同编译开关跑现有 demo （CI和CE中都需要加）

- `WITH_CONTRIB=ON`

下列开关需要单独测试

- Compiler, `gcc4.8`, `gcc5.4`
- `WITH_GPU`
- `WITH_MKL`

分下列多个场景执行

- CPU
- GPU
- static link
- dynamic link

# 具体测试

- [ ] gcc4.8/WITH_GPU=ON
    - [ ] CPU static
    - [ ] GPU static
    - [ ] CPU dynamic
    - [ ] GPU dynamic
- [ ] gcc4.8/WITH_GPU=OFF
    - [ ] CPU static
    - [ ] GPU static
- [ ] gcc5.4/WITH_GPU=ON
    - [ ] CPU

[2018-07-05 09:16] chaos-dd opened #11988 "关于integer_value_sequence的用法"
integer_value_sequence会把同一个batch的值concat到一起吗？ 如下代码，我期望emb_idx是[1,2,3]
实际print出来是 [1,2,3,1,2,3,1,2,3]，看起来是把3个batch的concat到一起了。

[code]

[2018-07-05 10:18] bipedalBit commented on #11976
找到问题了
[code]
优化器调用一定要在模型初始化
[code]
之前。

[2018-07-05 10:18] #11976 closed, assigned to nobody

[2018-07-05 11:27] gmcather opened #11991 "A probable memory leak bug on ProgramDesc"
As mentioned in the title, there might be a memory leak bug in the Destructor of `ProgramDesc`.

I can list an example. If you try to load model (load function: https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/io.cc#L139 ) repeatedly, the memory continues increasing during the running time.  Because memory allocated by creating the ProgramDesc didn't free.

Here's our tem

[2018-07-05 11:52] VictorZhang2014 opened #11993 "Could not find a version that satisfies the requirement paddlepaddle"
I am using Google Cloud Engine,  virtualenv, and installing paddlepaddle by pip, but it threw errors like below.

<img width="660" alt="wx20180705-194942 2x" src="https://user-images.githubusercontent.com/6853884/42321826-d615e226-808c-11e8-8e78-433121568f1b.png">

[2018-07-05 12:30] velconia commented on #11993
What is the result of this command:

```pip search paddlepaddle```

[2018-07-05 13:00] velconia opened #11995 "Paddle 分布式 CE 模型迁移 PaddleCloud"
Since we are not using AWS anymore, we should transfer the distributed part of CE to PaddleCloud.

We should implement a paddle_cloud_client to replace the original aws_client, or we should refactor the continous_evaluation? @gongweibao

[2018-07-05 13:03] luotao1 commented on #11984
@bingyanghuang
- Could you give us the script without GUI?
- Could you have a test with the same random seed at first?
https://github.com/PaddlePaddle/Paddle/blob/8b80d6da23c3c9813dc2263cba98188bb57a569c/benchmark/fluid/fluid_benchmark.py#L320

[2018-07-05 13:18] typhoonzero commented on #11958
I added support other frameworks like TF using a python API, design doc is needed.

[2018-07-05 14:33] wuyan08 opened #11996 "CPU环境下生成BOOK自带的手写数字识别模型出错"
Docker环境：docker.paddlepaddlehub.com/paddle:latest-dev
运行book/02.recognize_digits/train.py时出错，运行系统env命令，有如下参数：
WITH_GPU=ON。

错误日志：
[==================================================]Traceback (most recent call last):
  File "./train.py", line 140, in <module>
    main()
  File "./train.py", line 80, in main
    train_func=train_program, place=place, optimizer_func=optimizer_program)
  File "/usr/l

[2018-07-05 15:15] lgone2000 opened #11997 "跑一个简单测试 pip新版 gpu包 Segmentation fault"
版本为paddlepaddle_gpu-0.14.0.post87-cp27-cp27mu-manylinux1_x86_64.whl
测试程序如下
其中 如果place为cpu，可以正常输出，改成gpu则core。老版本0.13 可以正常跑
[code]

[2018-07-06 01:11] jacquesqiao opened #11999 "some experiment result on async training"
## 初步结论：
异步训练在不加decay的情况下，功能正常，有些情况收敛的比同步更快。

### 1. 文本分类。
测试结果：异步训练比同步训练收敛快，最终收敛准确度高一个百分点(有随机性)
https://github.com/PaddlePaddle/Paddle/issues/10180

### 2. Resnet
测试结果：可以正常收敛，效果和同步差不多

### 3. Ocr
测试结果：调小batch size(64 降到了14)可正常收敛，效果和同步差不多
![image](https://user-images.githubusercontent.com/3048612/42354855-418b2dda-80fc-11e8-8c70-372e6c5fd76b.png)

### 4. transformer
分析：因为transformer使用的learning rat

[2018-07-06 01:36] seiriosPlus commented on #11958
The HA may take memory twice as much. It is inappropriate to be used in large models.

[2018-07-06 02:04] typhoonzero commented on #11958
Moving discussions to https://github.com/PaddlePaddle/edl/issues/35

[2018-07-06 02:04] typhoonzero commented on #11958
Closing.

[2018-07-06 02:04] #11958 closed, assigned to helinwang, velconia, putcn, jacquesqiao, seiriosPlus, gongweibao, typhoonzero

[2018-07-06 02:19] luotao1 commented on #11870
close due to CI is normal now.

[2018-07-06 02:19] #11870 closed, assigned to Superjomn

[2018-07-06 03:05] velconia commented on #11999
Cool

[2018-07-06 03:19] guoshengCS commented on #11905
应该是CI的这个build所用环境和集群机器环境不一样，可能需要自己参照集群环境或者公司开发机编译一个，参照这里 http://wiki.baidu.com/pages/viewpage.action?pageId=327596892 **CentOS 4.3/6.3上编译fluid**部分

[2018-07-06 05:06] qingqing01 commented on #11539
抱歉，这么久没人回复。需要设置为False：

[code]

另外，发现文档bug：

http://www.paddlepaddle.org/docs/0.14.0/api/fluid/en/layers.html#fc

稍后提PR修复下。

[2018-07-06 05:15] typhoonzero opened #12002 "Support global gradient clipping in distributed training"
See: https://github.com/PaddlePaddle/Paddle/blob/b5247caccf5b2c5f45bbc3bcc9812b9c307fe8a5/python/paddle/fluid/tests/test_gradient_clip.py#L70

We need a demo to support such kind of models.

[2018-07-06 05:42] duoergun0729 opened #12003 "Cannot open file ./mnist/conv2d_0.w_0 for load op"

[2018-07-06 06:05] velconia opened #12004 "Remove the git tag in develop branch"
In Paddle repor, if we run

[code]
it will get ```v0.12.0``` now, because we had serveral tags in ```develop``` branch, this will make our distributed whl package to keep this version forever, I guess we should remove all the tags in ```develop```, like below

[code]

[2018-07-06 06:12] lgone2000 commented on #11997
验证了是下的版本是cudnn7 的（本机安装的是cudnn5）， 这块希望 加载错误的cudnn时，需要报个错误，不是简单的coredump掉。

[2018-07-06 07:25] #11967 closed, assigned to Superjomn

[2018-07-06 07:28] chengduoZH commented on #11997
@lgone2000 感谢您的反馈
安装包里面的post87是指在CUDA8.0、cudnn7.0编译的

[2018-07-06 07:33] wuyan08 opened #12007 "使用fluid c++ api预测book中训练出来的模型出错"
通过book/01.fit_a_line/train.py训练出模型，使用fluid c++ api进行预测时，会报找不到__model__的错误。执行train.py后确实没有生成__model__文件，只生成了fc_0.b_0、fc_0.w_0、learning_rate_0、mean_0.tmp_0@GRAD这四个文件。

预测时的错误日志：
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  Cannot open file ./data/model/paddle/fluid/fit_a_line/__model__ at [/home/paddlepaddle/Paddle/paddle/fluid/inference/io.cc:49]
Paddl

[2018-07-06 07:37] chengduoZH commented on #11991
@gmcather Thanks for your patience to check the source code. Do you have some experiments to show the memory leak bug on ProgramDesc?

This [line](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/io.cc#L139 ) does not produce memory leak. You can refer to the [`unique_ptr`'s usage](http://www.cplusplus.com/reference/memory/unique_ptr/?kw=unique_ptr).

[2018-07-06 07:42] jacquesqiao opened #12008 "support large scale ctr model with distributed lookup table[一期]"
### Tasks:
- [x] distribute AUC calculating @seiriosPlus
- [x] profile data reading time in the training.
- [x] support AUC calculate in CPP @jacquesqiao
- [x] experiment async training.
- [x] larger scale cluster(100+ machines) and large scale data(10T+)
- [ ] test parameter server save load for large distributed lookup table.
- [x] optimize selectedRows for large number of ids. @jacquesqiao http

[2018-07-06 07:52] Superjomn commented on #12007
models 里有一些模型的确缺少 `__model__` 这个文件 @qingqing01 @kuke

[2018-07-06 08:05] gmcather commented on #11991
@chengduoZH Of course, the line you pointed out seems to be correct at the first glance, this is because the real problem is so well hidden. We made the mistake in taking it for granted that Google Protubuf wouldn't bring any memory leak problem. However, it actually did. So we must manually free the memory which comes with the using of google protubuf. This private variable (https://github.com/Pa

[2018-07-06 08:06] gmcather commented on #11991
@chengduoZH As my experiment is so huge that it's difficult to be displayed here,  I strongly suggest you reproduce the problem by calling the load function repeatedly, and then you will find there's a memory leak bug.

[2018-07-06 08:08] wuyan08 opened #12011 "使用fluid inference api动态链接库会导致程序结束时出core"
通过git clone出最新的源码，编译出fluid c++ api动态链接库，然后写了一个非常简单的demo程序, 链接了编译出来的so，程序结束时会出重复释放的core。
* paddle编译选项：
cmake -DCMAKE_BUILD_TYPE=Release -DWITH_AVX=OFF -DWITH_MKL=OFF -DWITH_GPU=OFF -DWITH_C_API=OFF -DWITH_FLUID_ONLY=ON -DWITH_CONTRIB=ON -DWITH_PYTHON=OFF -DWITH_SWIG_PY=OFF -DWITH_DISTRIBUTE=OFF -DWITH_TESTING=ON ..

* docker环境：docker.paddlepaddlehub.com/paddle_manylinux_devel:cuda8.0_cudnn5
* gcc版本

[2018-07-06 08:21] typhoonzero opened #12012 "use install_name_tool to patch so files in setup.py for mac"
Current implementation use only patchelf which will not work on mac.

[2018-07-06 08:32] luotao1 commented on #12007
https://github.com/PaddlePaddle/book/blob/develop/01.fit_a_line/train.py 这个使用的是high-level python api。 @panyx0718 请问这块要梳理下么？

@wuyan08 你先用 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/book/test_fit_a_line.py 。

[2018-07-06 08:43] typhoonzero opened #12013 "Solidate large scale image classification distributed training"
We have NCCL2 distributed training mode for now and [LARS](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/optimizer.py#L47), need to do real large scale training and test the accuracy.

[2018-07-06 08:56] callmeivy commented on #11798
@luotao1 谢谢。

[2018-07-06 09:01] vincewangnsn opened #12014 "在调用capi进行预测时出core"
出core信息如下：
[code]
已经检查过了输入数据的格式和维度，暂未定位到问题，请问是否可以帮忙定位一下问题，谢谢

9个input的数据格式如下：
[code]

[2018-07-06 09:03] panyx0718 opened #12015 "trace and visualize multi-device training with timeline"
![image](https://user-images.githubusercontent.com/2887803/42370120-82ac9a5a-813e-11e8-8ea4-3b9306cdea26.png)

[2018-07-06 09:17] dzhwinter commented on #11605
This issue has been fixed, it is caused by the reshape op inplace.

[2018-07-06 09:17] vincewangnsn commented on #12014
C++预测接口如下：
[code]

[2018-07-06 09:22] leyiwang opened #12017 "使用paddlepaddle初始化trainer_count非1时报错"
[code]
你好，上面是CNN网络层配置的代码. 发现将paddle.init(use_gpu=False, trainer_count=4)中trainer_count设置为1时代码可以正常运行，但是设置成其他数值都会有如下错误，请问是可能是什么原因造成的，如果想使用多核的话如何修正？
[code]
**另外使用bi-lstm时，将trainer_count设置为1代码可以正常运行，设置为其他数字时也会报类似的错误**
[code]

[2018-07-06 09:27] xiaolv3366 opened #12018 "paddle-onnx使用出错：OP[lookup_table] is not supported in the converter!"
如题，使用paddle-onnx转换Paddle Fluid -> ONNX模型，出现如下错误：
OP[lookup_table] is not supported in the converter!

[2018-07-06 09:52] #12015 closed, assigned to nobody

[2018-07-06 10:32] spencerlisp opened #12019 "paddle fluid 集群训练模式下异常退出"
运行环境：
**paddle docker镜像：**
-    paddlepaddle/paddle:latest-gpu
-    paddlepaddle/paddle:latest-gpu-cuda8.0-cudnn5
尝试了两个都报错，并且通过版本打印，确定paddle版本为0.14.0

**任务调度和分布式训练**
基于k8s调度，起两个pod，每个pod内部先后启动ps_server，trainer.
其中ps_server的时候TRAINING_ROLE为PSERVER, trainer的时候为TRAINER。

**运行任务**
fit-a-line fluid版本
参考：http://paddlecloud.baidu-int.com/paddle/createJob中的demo示例。
并修改：
 t.transpile(
            optimize_o

[2018-07-06 11:12] typhoonzero commented on #12019
这个 https://github.com/PaddlePaddle/Paddle/pull/11994 可以修复此问题。

[2018-07-06 11:17] #3520 closed

[2018-07-06 11:18] #4134 closed

[2018-07-06 11:19] chengduoZH commented on #11988
@chaos-dd 您设置的batch_size是3，注意到了吗？

[2018-07-06 11:22] #6108 closed

[2018-07-06 11:22] #6018 closed

[2018-07-06 11:28] panyx0718 opened #12021 "检测环境与安装包是否匹配并合理报错"

[2018-07-06 11:46] JiayiFeng commented on #12011
我在自己的环境中尝试了一下你的步骤，没有复现问题，程序正常结束。不过我的环境是latest-dev 镜像，g++ 5.4.0。

[2018-07-06 11:47] JiayiFeng commented on #12011
我在自己的环境中尝试了一下你的步骤，没有复现问题，程序正常结束。不过我的环境是latest-dev 镜像，g++ 5.4.0。

@Superjomn 能否麻烦确认一下这个问题？多谢！！

[2018-07-06 11:48] Superjomn commented on #12011
这些接口的确在 CI 上有监控，5.4肯定可以跑通。

之前有验证过静态链接没有问题，晚点我再在这个 docker里验证一下两个都是动态链接的情况。

[2018-07-06 11:53] JiayiFeng commented on #12014
出这个错的原因是有输入数据的值超过了embeding table的大小。应该还是数据本身的问题。可以尝试每次送入一部分的数据，用二分的方法逐渐定位问题数据。

[2018-07-06 11:55] JiayiFeng commented on #12017
你用的paddle是什么版本呢？是直接通过pip install的还是自己编译的呢？如果是自己编译的，编译时使用的BLAS library是什么？

[2018-07-06 12:02] JiayiFeng commented on #12018
onnx中没有lookup_table对应的op，因此converter不支持转换包含lookup_table_op的模型。

[2018-07-06 12:04] panyx0718 commented on #12004
I know why it's on develop now. It's also on release/0.12.0

When I created release/0.12.0, I created a tag. That tag will show up on both develop and release/0.12.0. If no one apply further commits to release/0.12.0 and I don't update the tag,
the tag will keep showing up on develop and release/0.12.0

[2018-07-06 12:20] leyiwang commented on #12017
@JiayiFeng paddlepaddle==0.11.0版本，当时怎么装的已经不记得了

[2018-07-06 12:32] JiayiFeng commented on #12017
openBLAS库在多线程下调用可能会有bug。你可以尝试将设置环境变量OMP_NUM_THREADS设置为1，保证openBLAS部分单线程执行。

如果问题依然存在，建议考虑升级paddle。

[2018-07-06 12:37] leyiwang commented on #12017
好的，谢谢，我试一下

[2018-07-06 12:38] leyiwang commented on #12017
@JiayiFeng 好的，我试一下，谢谢你

[2018-07-06 12:44] JiayiFeng commented on #12017
还可以尝试一下设置环境变量 OPENBLAS_NUM_THREADS 为1

[2018-07-06 12:54] velconia commented on #12004
Thanks very much, I will make a special concern on ```develop``` branch later

[2018-07-06 12:54] #12004 closed, assigned to panyx0718

[2018-07-06 12:56] panyx0718 opened #12023 "Simpler Branching Model?"
Did some survey of various frameworks

Tensorflow: develop on master, release on release branch.
MxNet: similar to TensorFlow
Pytorch: tag on master directly...
Caffe2: tag on master directly...

I think we should probably consider follow the branching model of TensorFlow and MxNet.
We can develop on develop branch, and release on release branch. There seems not need to
merge release branch back t

[2018-07-06 14:16] spencerlisp commented on #12019
那这个patch什么时候会合入0.14.0？ 或者目前哪个版本能够稳定的支持fluid分布式，谢谢～

[2018-07-07 00:08] wangkuiyi opened #12024 "Class template CBlas declared but not used"
https://github.com/PaddlePaddle/Paddle/blob/81337368d15e6a08e37066bf1be40f24afa48921/paddle/fluid/operators/math/blas_impl.h#L22-L30

It seems that

1. `CBlas` is declared here, but not defined -- `CBlas;` instead of `CBlas {};`.
1. There is no use of CBlas throughout Fluid codebase.

Should we remove it?

[2018-07-07 00:09] wangkuiyi commented on #12024
We noticed this issue when we were working on https://github.com/wangkuiyi/fluid/pull/49.

[2018-07-07 03:17] Superjomn commented on #12011
这个 image 的确可以复现问题。
目测是编译器的奇怪行为，接下来尝试修复下，后续会提一个 PR。

[2018-07-07 12:59] chaos-dd commented on #11988
@chengduoZH  注意到了。我的疑问就是，为什么integer_value_sequence这个类型，会把一个batch的数据concat到一起呢？比如integer_value，应该是产出batch_size * 1的矩阵。integer_value_sequence为什么不是产出batch * emb_size的矩阵呢？   毕竟我理解integer_value_sequence 是一条样本里的一个field的数据是sequence的。

[2018-07-07 13:07] gschen opened #12026 "mac下面源码安装出现问题"
➜  Paddle git:(develop) pip install build/python/dist/*.whl
paddlepaddle-0.12.0-cp27-cp27mu-linux_x86_64.whl is not a supported wheel on this platform.

编译安装后出现上述问题。

![image](https://user-images.githubusercontent.com/839140/42411162-b5f31812-8229-11e8-9030-ed5c57665491.png)

[2018-07-08 02:28] chengduoZH commented on #12021
Related issue https://github.com/PaddlePaddle/Paddle/issues/11997

[2018-07-08 08:35] chengduoZH commented on #11988
这里不是将数据concat起来。
您输入数据的batch是3，所以每次输入的数据是三个[1,2,3]，在Paddle内部会将其表示为[1,2,3,1,2,3,1,2,3]，在处理的时候会将其看做三个样本（每条样本的长度也会在Paddle内部被记录）。

[2018-07-08 09:12] chengduoZH commented on #11479
该问题已修复（#11806）

[2018-07-08 09:12] #11479 closed, assigned to chengduoZH

[2018-07-08 09:16] chengduoZH commented on #11763
It has been fixed.

[2018-07-08 09:16] #11763 closed, assigned to nobody

[2018-07-08 09:25] chengduoZH commented on #11384
This issue's mission has accomplished.

[2018-07-08 09:30] chengduoZH commented on #11075
该issue长时间没有回复，暂且关闭了。

[2018-07-08 09:30] #11075 closed

[2018-07-08 10:41] chengduoZH commented on #11977
@lgone2000 感谢您，这确实是一个bug，正在修复中。

[2018-07-08 13:26] panyx0718 opened #12028 "library interface binary compatibility"
[code]

Perhaps we are not at this stage yet, but it's worth thinking about it
It would be great if user can upgrade our library (shared) without re-compiling their codes.
https://events.static.linuxfound.org/sites/events/files/slides/Binary_Compatibility_for_library_devs.pdf

virtual method in C++ (Or C++ in general) might cause some binary compatibility issues.
might need binary compatibility ch

[2018-07-08 16:53] wangkuiyi opened #12030 "memory::PlainDeleter is not used"
https://github.com/PaddlePaddle/Paddle/search?q=PlainDeleter&unscoped_q=PlainDeleter

[2018-07-08 17:31] wangkuiyi commented on #11952
I tried to change Place's into plain class hierarchy in https://github.com/wangkuiyi/fluid/pull/54. It's not yet completely finished, but it already shows significant code quality improvements. Let me present some cases:

### No `boost::varaint` nor `boost::get`

<img width="1368" alt="screen shot 2018-07-08 at 10 15 35 am" src="https://user-images.githubusercontent.com/1548775/42422341-2cee845a-8

[2018-07-09 01:42] typhoonzero commented on #12019
这个报错目前不影响训练。把FLAGS_rpc_deadline设大点就行， 参考：https://github.com/PaddlePaddle/Paddle/issues/11710

这个报错会在训练完成后报，忽略掉就行。

[2018-07-09 02:06] chengduoZH commented on #11991
Thank you @gmcather
But I could not reproduce the memory leak that you described.
Can you tell me more detail information, such as in which model, how many times of calling `paddle::inference::Load`, how much memory is growing.

[2018-07-09 02:24] wuyan08 commented on #12007
ok，我先用test下的python脚本生成测试模型。

[2018-07-09 02:33] Superjomn commented on #12011
fixed in https://github.com/PaddlePaddle/Paddle/pull/12027

[2018-07-09 02:34] #12011 closed, assigned to nobody

[2018-07-09 02:38] #11996 closed, assigned to chengduoZH

[2018-07-09 02:43] Superjomn commented on #11986
The shared library and static library should be both tested.

[2018-07-09 02:47] Superjomn opened #12031 "fix TensorRT executor bug"
The engine is not executed by the executor.

[2018-07-09 04:10] reyoung commented on #12028
It is very hard to keep ABI unchanged when using virtual methods.

The common way to expose C++ API is using Pimpl style classes and not to use any virtual methods.

[2018-07-09 05:14] JC-S commented on #9174
Looking forward to the support of python 3 as well.

[2018-07-09 05:25] wuyan08 opened #12033 "编译错误：找不到framework.pb.h"
Git clone出最新的Paddle源码，编译时提示没有framework.pb.h，需要进入到framework.proto所在目录，手动调用下protoc，编译出framework.pb.h后才可继续后面的编译。

Docker环境：docker.paddlepaddlehub.com/paddle:latest-dev
gcc: 5.4.0
编译选项：
cmake -DCMAKE_BUILD_TYPE=Release -DWITH_AVX=OFF -DWITH_MKL=OFF -DWITH_GPU=OFF -DWITH_C_API=OFF -DWITH_FLUID_ONLYON -DWITH_CONTRIB=ON -DWITH_PYTHON=OFF -DWITH_SWIG_PY=OFF -DWITH_DISTRIBUTE=OFF -DWITH_TESTING=ON ..

错误提示

[2018-07-09 06:03] Superjomn opened #12034 "静态链接库隐藏 symbol"

[2018-07-09 06:24] almostlove opened #12036 "float division by zero ,testdata exists in my path"
http://10.76.58.21:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20180709141052-6693/

路径里有数据的～为什么会down失败然后 division by zero ～～求教

[2018-07-09 06:42] Superjomn commented on #12036
可以截个图吗，找不到出错的地方

[2018-07-09 06:42] lgone2000 commented on #11977
能否尽快修复，目前paddle-vision 一个项目依赖这个

[2018-07-09 06:50] kolinwei opened #12038 "多机训练中出现pure virtual method called。"
End pass 119, train_loss 1.46156001091, train_acc1 0.657408475876, train_acc5 0.855218946934, test_loss 1.24483448955, test_acc1 0.701642628205, test_acc5 0.899799679487
pure virtual method called
terminate called without an active exception
*** Aborted at 1531063311 (unix time) try "date -d @1531063311" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGABRT (@0x395e) receive

[2018-07-09 06:51] jacquesqiao opened #12039 "paddle_inference_api_impl.cc can not compile on MacOS"
[code]

[2018-07-09 06:54] velconia opened #12040 "Add support for Python 3.x"
Currently we only support Python 2.7, but we should support Python 3.

[2018-07-09 07:28] velconia commented on #12040
According this user survey, we should support python3 now.

![image](https://user-images.githubusercontent.com/1979255/42435376-ea0d27a4-8388-11e8-9a19-b25557ee715b.png)

From Github, I collected these issues reported from users recently:

[PaddlePaddle什么时候支持Python3.x](https://github.com/PaddlePaddle/Paddle/issues/11425)

[呼吁paddle能够尽快支持python3](https://github.com/PaddlePaddle/Paddle/issues/11262)

[2018-07-09 07:29] velconia commented on #12040
@guochaorong @typhoonzero, seems that we need a timeline for this requirement.

Here is the [first issue](https://github.com/tensorflow/tensorflow/issues/1#issuecomment-155371120) for tensorflow supporting python 3.x, we could refer to their working method

[2018-07-09 07:30] winter1988 opened #12041 "通过pip安装的PaddlePaddle在 import paddle.fluid 报找不到 libmkldnn.so 或 libmklml_intel.so"
通过pip安装的PaddlePaddle在 import paddle.fluid 报找不到 libmkldnn.so 或 libmklml_intel.so
但是
http://www.paddlepaddle.org/docs/develop/documentation/zh/faq/build_and_install/index_cn.html#permalink-15-10-pip-paddlepaddle-import-paddle-fluid-libmkldnn-so-libmklml_intel-so
第十个问题 的新变种
在 /usr/local/lib  下找不到如题的两个
。so 文件
谁能解答一下

[2018-07-09 07:43] tensor-tang commented on #12034
我们得先量化这个问题吧，比如怎么样方便的复现这个问题。

[2018-07-09 07:51] tensor-tang opened #12042 "hide symbols in `paddle_inference_api.so`"
something like this:
[code]

[2018-07-09 07:52] Superjomn commented on #12036
![image](https://user-images.githubusercontent.com/328693/42437573-16f9e7dc-8390-11e8-88b6-e89720df726d.png)

@typhoonzero 这个你之前碰到过吗

[2018-07-09 08:16] wanghainan89 opened #12044 "paddlepaddle是否存在输入一个分布来计算交叉熵的Cost layer？"
当前paddlepaddle的交叉熵cost function似乎只能通过输入一个分类标号来完成交叉熵的计算，如softmax输出[0.1, 0.9] label==1,则计算[0.1, 0.9]与[0,1]之间的交叉熵。我想问一下是否能直接输入一个分布而不是一个类标号来完成交叉熵的计算？如softmax输出[0.1, 0.9]，而目标分布是[0.2, 0.8]，现在我想获得[0.1, 0.9]与[0.2, 0.8]之间的交叉熵来作为loss。请问paddlepaddle如何处理这种情况？
谢谢

[2018-07-09 08:26] wanghainan89 commented on #12044
本质上来说，我是想完成一个逻辑回归（并不是用逻辑回归来完成分类），但是在试图获得逻辑回归的cost的时候遇见了这个困难

[2018-07-09 08:30] reyoung commented on #11209
What about #6887 ?

[2018-07-09 08:30] typhoonzero commented on #12036
应该是trainer.test得到的`num_samples`(test的batch_size)为0，麻烦先检查下test使用的数据是否正确。

[2018-07-09 08:33] jacquesqiao commented on #12044
fluid的cross_entropy可以支持你的需求，只需要设置soft_label为True即可http://paddlepaddle.org/docs/0.14.0/api/fluid/en/layers.html#cross-entropy

[2018-07-09 08:34] wanghainan89 commented on #12044
paddle V2版本现在不能支持哈？

[2018-07-09 08:44] jacquesqiao commented on #12044
看了下，V2没暴露出这个接口

[2018-07-09 08:52] vincewangnsn opened #12045 "paddle v2进行capi预测时，dense_vector_sequence的定义问题"
![image](https://user-images.githubusercontent.com/40789621/42440419-45275952-8398-11e8-9dfd-146bd35bf433.png)
![image](https://user-images.githubusercontent.com/40789621/42440536-9a5df0ca-8398-11e8-96db-b464f35d8613.png)

￼input是paddle.data_type.dense_vector_sequence的对应C++的是浮点型稠密矩阵，原始数据dense_vector_sequence里存的是n个200维的dense_vector，请问在c++中应该怎么写？￼
我看height是一次预测接受的样本数目，如果是一次输入一条训练样本，那么height=1，width=

[2018-07-09 08:52] wanghainan89 commented on #12044
好的，多谢了

[2018-07-09 08:53] Superjomn commented on #12045
应该是 height = n 的情况；或者两种都可以试试。

[2018-07-09 09:16] Superjomn commented on #12039
这个编译的 target 是啥？

[2018-07-09 09:16] #12045 closed, assigned to Superjomn

[2018-07-09 09:17] Superjomn commented on #12039
如果用 mac+clion，可以试试 docker + clion，clion 是可以跑在 docker 里面的。

[2018-07-09 10:54] vincewangnsn commented on #12014
C++预测接口如下：
[code]

[2018-07-09 11:29] brandonsj opened #12048 "building encounter CMake Error on MAC: variables are set to NOTFOUND"
Hi buddy
I encounter this problem while installing paddle on MAC OS
I use pre-compiled paddle's image on docker

my input command is:
[code]

screen log is:
[code]
Thanks for help.

[2018-07-09 11:31] guochaorong opened #12050 "paddle python3支持排期"
考虑到用户对python3的期待，https://github.com/PaddlePaddle/Paddle/issues/12040
同时对python2的依赖，采用兼容python2和python3的方案

**具体实施步骤**
1.	搭建python3 ci job， 使用manylinux 的docker镜像，部署安装python3 环境， 比如python3.5。 设置python 3.5 环境变量 以及 python 和pip 默认指向python3 和pip3， 执行单测。

2.	分别对python中的这些模块及单测进行 to3 兼容（调用2to3 工具等 ， 对代码进行兼容性修改）
          'paddle.utils',
          'paddle.dataset',
          'paddle.reader',
          'pad

[2018-07-09 11:33] Superjomn commented on #12034
nm 的时候不出现 paddle 无关的 symbol；宏观上是，用户用protobuf等第三方库啥的也不会冲突。

[2018-07-09 11:35] luotao1 commented on #12041
如果pip安装在`/usr/local/bin`下，这几个so在`/usr/local/lib`下。因此，可以找一下这几个so安装在哪儿，然后export LD_LIBRARY_PATH即可。

[2018-07-09 11:36] luotao1 commented on #12048
如果只编译fluid版本，可以在docker命令里再加一个编译选项：
`-e "WITH_GPU=OFF" -e "WITH_TESTING=OFF"  -e "WITH_FLUID_ONLY=ON"`

[2018-07-09 11:39] luotao1 commented on #12033
请进入build目录编译
[code]

[2018-07-09 11:41] wuyan08 commented on #12033
是在build目录下编译的.

![cb9ef58d312be1d7d4847ee412ec7cc1](https://user-images.githubusercontent.com/36987150/42448836-1a175906-83b1-11e8-984c-e65bf8e6d9d2.JPG)

[2018-07-09 11:54] Superjomn commented on #12014
CAPI 有一个容易搞错的问题，C++里写的 inputs 的顺序和 python 代码里的顺序不一定对应，这个需要打印出 protobuf，具体看里面的 inputs 出现的先后顺序，对应调整 c++里的input 的先后顺序。

这个也可以查下。

[2018-07-09 11:55] luotao1 commented on #12033
1. `git log`看下commitid是什么？

2. https://github.com/PaddlePaddle/Paddle/blob/436bb4500b6c5610025a3c7ee10ef30e34b00d1f/paddle/fluid/platform/CMakeLists.txt#L49 加一个`framework_proto`:
`place framework_proto eigen3 eigen3 stringpiece cpu_helper ${GPU_CTX_DEPS} ${MKLDNN_CTX_DEPS}`

[2018-07-09 11:57] #11810 closed, assigned to typhoonzero

[2018-07-09 11:58] wuyan08 commented on #12033
λ dbc125f6bdd3 /home/paddlepaddle-2/Paddle/build {develop} git log
commit 436bb4500b6c5610025a3c7ee10ef30e34b00d1f
Merge: 11146a0 05ffc13
Author: Tao Luo <luotao02@baidu.com>
Date:   Mon Jul 9 11:19:02 2018 +0800

    Merge pull request #11699 from pzelazko-intel/pzelazko/workaround-for-missing-mklnn-kernels

    workaround for no MKLDNN kernel

commit 11146a067a6712095166aff479b577022f562ce5
Merg

[2018-07-09 12:15] typhoonzero commented on #12038
@velconia is working on this already.

[2018-07-09 12:21] velconia commented on #12038
Here is the [pr](https://github.com/PaddlePaddle/Paddle/pull/11994)

[2018-07-09 12:32] velconia commented on #12040
[Here](http://python3porting.com/strategies.html) is the strategies of porting py2 to py3 and the difference between the ways.

[Here](https://docs.python.org/3.5/howto/pyporting.html) is the recommend way to porting py2 to py3.

[2018-07-09 12:37] #11108 closed

[2018-07-09 15:48] chenwhql opened #12053 "关于norm op gradient计算的疑问"
在阅读源码的时候，对PaddlePaddle Fluid，norm_op.h里面的梯度求解公式不太理解，代码如下：

L2 Normalization Code:
[code]
计算公式是：

![image](https://user-images.githubusercontent.com/22561442/42458733-e5e483c2-83cc-11e8-9741-dae2b3424e7b.png)

L2 Normalization Gradient Code:

[code]
计算公式是：
![image](https://user-images.githubusercontent.com/22561442/42460163-cb39d40c-83cf-11e8-8007-d70c908732eb.png)

但是我自己求解的结果好像与代码有一点出入，过程如下：

![im

[2018-07-09 22:22] lyxm commented on #8981
https://github.com/PaddlePaddle/VisualDL/pull/286 能类似搞吗？

[2018-07-09 23:30] jacquesqiao opened #12054 "distribute train grpc error"
[code]

[2018-07-09 23:30] jacquesqiao commented on #12039
我清理了一下环境重新编译，没出现这个问题了

[2018-07-09 23:30] #12039 closed, assigned to Superjomn

[2018-07-10 01:33] typhoonzero commented on #12054
server-side log:

[code]

[2018-07-10 01:39] #11811 closed, assigned to panyx0718, qingqing01

[2018-07-10 02:05] jacquesqiao opened #12055 "adam op bugs"
[code]

[2018-07-10 02:05] jacquesqiao commented on #12054
https://github.com/PaddlePaddle/Paddle/issues/12055 create an issue for adam op.

[2018-07-10 02:25] typhoonzero commented on #12033
https://github.com/PaddlePaddle/Paddle/pull/12020 should fix the build

[2018-07-10 02:48] wuyan08 commented on #12007
book中的例子什么时候可以支持fluid训练？

[2018-07-10 03:14] seiriosPlus commented on #12014
1. 找到保存的模型目录下inputs的protobuf文件
2. 用工具把protobuf的内容打印出来查看inputs的先后顺序
3. 对应调整 c++里的input 的先后顺序

[2018-07-10 03:16] almostlove commented on #12036
已解决，感谢。

[2018-07-10 03:16] #12036 closed, assigned to nobody

[2018-07-10 03:33] wzzju opened #12057 "Mac系统下编译PaddlePaddle，报错use of undeclared identifier 'openblas_set_num_threads'"
## 关于blas报错
按照PaddlePaddle 0.14.0 release版本的官方文档说明，本人于Mac OS系统进行本机编译PaddlePaddle的0.14.0 release版本。因为官方文档上的编译依赖说明中未写明编译前必须安装openblas或MKL或其他blas库，且明确注明说“其他的依赖软件，会自动在编译时下载”，故而本人编译前没有事先安装一些blas库。在此种场景下，PaddlePaddle也能够编译成功，然而，安装后运行“import paddle.fluid as fluid”会报错，具体如下：
<img width="1193" alt="image" src="https://user-images.githubusercontent.com/17102274/42487492-deb9cab4-8433-11e8-8044-ce53ea02363e.pn

[2018-07-10 04:49] #11617 closed, assigned to nobody

[2018-07-10 05:07] #11445 closed

[2018-07-10 05:08] jacquesqiao opened #12060 "parallel_executor return should return one value for one fetch target"
Currentlly parallel_executor will return cpu_num value for one fetch target.

[2018-07-10 05:16] #12044 closed, assigned to jacquesqiao

[2018-07-10 05:20] Superjomn commented on #2829
Too long ago, free to reopen it.

[2018-07-10 05:20] #2829 closed

[2018-07-10 05:21] Superjomn commented on #191
Too long ago, free to reopen it.

[2018-07-10 05:41] tensor-tang commented on #12057
可以先贴一下你的cmake option 以及log信息。

如果系统不带Openblas，paddle是会自动下载并编译的。

[2018-07-10 06:29] vincewangnsn commented on #12014
protobuf解析的网络结构定义
[code]

[2018-07-10 06:33] vincewangnsn commented on #12014
capi的输入数据
[capi.input.zip](https://github.com/PaddlePaddle/Paddle/files/2179118/capi.input.zip)

[2018-07-10 07:46] Emma-Ding opened #12064 "MemoryHandle.cpp:52] Check failed: size != 0 allocate 0"
报错如下，请帮忙排查，线下能跑通，线上就无法跑通

Tue Jul 10 15:37:25 2018[1,0]<stderr>:[WARNING 2018-07-10 15:37:25,823 networks.py:1438] `outputs` routine try to calculate network's inputs and outputs order. It might not work well.Please see follow log carefully.
Tue Jul 10 15:37:25 2018[1,0]<stderr>:[INFO 2018-07-10 15:37:25,824 networks.py:1466] The input order is [AgeId, GenderId, MultiPreqIds, QueryProfile, WordPro

[2018-07-10 07:53] seiriosPlus commented on #12064
是fluid的还是v2的代码

[2018-07-10 07:59] seiriosPlus commented on #12064
检查一下输入数据， 怀疑传入了空值或者长度为0的数据， 导致在申请内存的时候出现错误。

[2018-07-10 08:45] kolinwei commented on #11206
分布式CE需要校验的模型

方向|模型|数据
-- | -- | --|
图像分类|resnet50|flowers
||Se-resnext50|imagenet1000
OCR识别|RCNN-CTC|单行汉语字符图片数据集|
语言模型|GRU-RNN|ptb
机器翻译|transformer|vmt16

另外在训练的规模上需要考虑：多机单CPU、多机单GPU、多机多CPU、多机多GPU
（图像的模型可以值校验GPU，nlp的需要校验CPU和GPU）

[2018-07-10 09:27] Yancey0623 commented on #11770
可以在 `EventHandler` 中实现自定义的评估指标，请参考：https://github.com/PaddlePaddle/models/tree/develop/ltr#%E8%AE%AD%E7%BB%83%E8%BF%87%E7%A8%8B%E4%B8%AD%E8%BE%93%E5%87%BA%E8%87%AA%E5%AE%9A%E4%B9%89%E8%AF%84%E4%BC%B0%E6%8C%87%E6%A0%87

[2018-07-10 09:30] chengduoZH opened #12068 "The implementation of Adam is problematic."
During analysis SSA Graph, I found that `beta1_pow_acc` and `beta2_pow_acc` are shared by all the parameters, it is problematic.

<img width="1027" alt="adam" src="https://user-images.githubusercontent.com/30176695/42501500-70b09fd8-8466-11e8-8c96-bb72597d4715.png">

[2018-07-10 09:38] luotao1 commented on #11400
建议暂时先用AUCEvaluator来运行。

[2018-07-10 10:46] seiriosPlus commented on #12064
调小trainer_count

[2018-07-10 10:46] #12064 closed, assigned to nobody

[2018-07-10 10:48] jacquesqiao commented on #12057
这个问题是因为默认找到系统自带的cblas.h 而这个cblas.h是不对的，需要显示设置
[code]

编译流程需要优化一下，做一下check

[2018-07-10 10:54] brandonsj opened #12071 "fatal error: Python.h: No such file or directory"
I'm encountering fatal error during compiling

command is:
[code]

screen log is:
[code]
Thanks for help

[2018-07-10 10:57] zxprog opened #12072 "训练模型时候显示初始化化参数后，返回了一个killed是什么原因？"
![qq](https://user-images.githubusercontent.com/23354372/42505955-00059006-8473-11e8-91b9-01c2c862a0ea.png)

[2018-07-10 11:14] chaos-dd commented on #11988
@chengduoZH  明白了。我觉得这里表示成 batch*dim的矩阵是不是更清晰呢。。。为什么设计成了一维的呢

[2018-07-10 11:21] #11714 closed, assigned to nobody

[2018-07-10 11:36] seiriosPlus commented on #12071
添加参数 -e PYTHON_ABI=cp27-cp27mu

[2018-07-10 11:42] chengduoZH commented on #11988
因为一个batch里面数据的地址连续的。

[2018-07-10 11:51] cbstyle commented on #11477
这个问题最终是啥原因导致的？

[2018-07-10 11:55] jacquesqiao commented on #12055
fixed in the develop branch.

[2018-07-10 11:55] #12055 closed, assigned to jacquesqiao

[2018-07-10 12:04] jacquesqiao commented on #12054
`Socket closed` 的原因是有个pserver中途重启了，重启的原因还没找到

[2018-07-10 12:11] #12012 closed, assigned to typhoonzero

[2018-07-10 12:24] qingqing01 commented on #12053
@chenwhql 您好:

BP的反向求导，这里要计算的是其实是 dJ/dx,  J是损失函数。

依据链式法则：

dJ/dx = (dJ/dy ) *  (dy/dx )

这里dJ/dy就是 y'，  dy/dx 就是推到的公式。

[2018-07-10 12:30] fantine16 commented on #11975
链接删了吧？

[2018-07-10 12:39] tensor-tang commented on #12057
如果是Openblas找的不对，可以尝试用环境变量解决下

https://github.com/PaddlePaddle/Paddle/blob/938920c894ac853ebfa0e374df4db8955e8c0a31/cmake/cblas.cmake#L29

另外这个路径是哪里看到的？
/usr/local/Cellar/openblas/0.2.19_1/include/

[2018-07-10 12:43] chenwhql commented on #12053
理解了，谢谢

[2018-07-10 12:43] #12053 closed, assigned to qingqing01

[2018-07-10 14:23] wzzju opened #12078 "Mac OS系统下直接本机编译PaddlePaddle“踩坑”记录"
# <center>Mac OS系统下直接本机编译PaddlePaddle“踩坑”记录</center>

## 问题1

基于Docker容器编译PaddlePaddle与本机上直接编译PaddlePaddle，所使用的编译执行命令是不一样的，但是官网仅仅给出了基于Docker容器编译PaddlePaddle所执行的命令。

##### 建议文档对应处修改为如下类似内容：

基于Docker容器编译PaddlePaddle，需要执行：

[code]

直接在本机上编译PaddlePaddle，需要执行：

[code]

## 问题2
![image](https://user-images.githubusercontent.com/17102274/42515239-e24be824-848d-11e8-9f3d-3baf156dcea8.png)
![image](https:/

[2018-07-10 14:29] wzzju opened #12079 "Linux系统下使用Docker编译GPU版本的PaddlePaddle“踩坑”记录"
# <center>Linux系统下使用Docker编译GPU版本的PaddlePaddle“踩坑”记录</center>

根据官方文档，使用Docker容器编译PaddlePaddle，执行命令如下：

[code]

## 问题1
![image](https://user-images.githubusercontent.com/17102274/42516173-0d4b4036-8490-11e8-9cf8-0e74936c6bf0.png)
##### 原因分析：
如下图所示，官网给出了两种使用Docker容器编译PaddlePaddle的方式，即通过`1->3`步骤编译或通过`1->2->4`步骤编译。由问题1可知，通过`1->3`步骤编译会报错，说明官网文档第3步中使用的`paddlepaddle/paddle_manylinux_devel:cuda8.0_cudnn5

[2018-07-10 16:11] xialeiliu commented on #10462
Is it available now?

[2018-07-11 01:48] luotao1 opened #12081 "manylinux1 fails at libmklml_intel.so: cannot open shared object file"
https://paddleci.ngrok.io/viewLog.html?buildId=1451&buildTypeId=Manylinux1_Cuda80cudnn5cp27cp27mu&tab=buildLog&_focus=10795
[code]
The reason is that we only consider fluid version before, and we should process the v2 version like #11806

[2018-07-11 02:01] Emma-Ding opened #12082 "LightNetwork.cpp:379] Check failed: connect(sockfd, (sockaddr *)&serv_addr, sizeof(serv_addr)) >= 0 ERROR connecting"
与https://github.com/PaddlePaddle/Paddle/issues/2495  遇到了同样的问题，看了之后对集群配置做了如下更改，
<img width="865" alt="2018-07-11 9 55 30" src="https://user-images.githubusercontent.com/22070158/42546746-4a1d9c14-84f1-11e8-919e-ea0d428db800.png">

结果还是报错同样的错误F0711 09:43:56.800041  5309 LightNetwork.cpp:379] Check failed: connect(sockfd, (sockaddr *)&serv_addr, sizeof(serv_addr)) >= 0 ERROR connecting to 10.87.139.3

[2018-07-11 02:18] ktlichkid commented on #12082
#2955 #6499 可以先试试这里的几个方法。另外麻烦提供更详细的训练log. 此类问题最好还是联系JIRA处理。

[2018-07-11 02:40] jacquesqiao commented on #12054
最新代码训了比较长时间，暂时没出现这个问题，核心原因还是因为pserver挂了，所以真实原因应该是找到pserver为何挂了

[2018-07-11 02:51] #12014 closed, assigned to nobody

[2018-07-11 03:30] typhoonzero opened #12083 "Build on mac fails when WITH_BRPC is ON"
Build on mac fails when WITH_BRPC is ON

[2018-07-11 03:32] gongweibao commented on #12083
先不要打开。还有一个PR没有merge进去。

[2018-07-11 03:38] ccmeteorljh opened #12084 "机器翻译跑了几个pass后oom"
paddle version 0.14
代码库地址：https://github.com/xuezhong/transformer-nist
注：为了测试单机多机收敛性对比，因此修改原来的单机和多机的optimizer为sgd
[code]
**启动脚本**
[code]
在cloud上跑了14个pass后oom
[code]

[2018-07-11 04:02] qingqing01 opened #12085 "Refine and add more unit testing for fake_quantize_op."

[2018-07-11 04:57] xuezhong commented on #12084
可以hi上详细沟通 能看到机器的内存变化曲线吗

[2018-07-11 05:02] #10552 closed

[2018-07-11 06:27] northeast250 commented on #12078
非常有用啊！我跟你踩得坑一样啊！中途更新了cmake，然后重新安装了openblas，而且还是用的手机流量。

[2018-07-11 06:37] brandonsj opened #12086 "whl is not a supported wheel on this platform"
Hello, I've finished compiling paddle on MAC OS, then when I run

[code]
this error occurred
[code]
my compile command is
[code]
Someone could help? Thanks!

[2018-07-11 06:52] ktlichkid commented on #12086
Please have a look at #12078 . I guess you have compiled a whl for Linux instead of mac.

[2018-07-11 07:12] #11734 closed, assigned to qingqing01, baiyfbupt

[2018-07-11 07:14] wzzju commented on #12078
@northeast250 谢谢支持，在Mac系统下编译遇到的“坑”也欢迎在这个issue下补充哈～

[2018-07-11 07:17] wzzju commented on #12057
@tensor-tang @jacquesqiao 谢谢两位老师，问题已经解决，使用cmake命令时加上编译选项`-DOPENBLAS_INC_DIR=/usr/local/Cellar/openblas/[电脑上安装的openblas版本号]/include/`即可消除该报错信息。

[2018-07-11 07:26] wzzju opened #12089 "使用docker编译paddlepaddle book时报错"
根据[如何贡献文档](http://www.paddlepaddle.org/docs/develop/documentation/fluid/zh/dev/write_docs_cn.html)介绍的使用docker构建book指南，在执行完`docker run -it -p 8000:8000 -v `pwd`:/var/content paddlepaddle/paddlepaddle.org:latest`命令后，访问`http://localhost:8000`并点击`book`选项卡报错，报错信息如下：
<img width="740" alt="image" src="https://user-images.githubusercontent.com/17102274/42556543-81f8adea-851e-11e8-96a3-b9e949193cd2.png">

[2018-07-11 07:31] kuke commented on #10462
@xialeiliu  Faster-RCNN is still in active development, and will be released after the performance is verified.

[2018-07-11 07:38] #12042 closed, assigned to tensor-tang

[2018-07-11 07:43] #12034 closed, assigned to tensor-tang

[2018-07-11 07:57] velconia opened #12091 "develop 分支编译报错"
编译分支: ```develop```

编译docker环境:
[code]

编译命令:
[code]

编译错误:
[code]

[2018-07-11 07:58] velconia commented on #12091
需要在CMakeFiles.txt中给device_context添加上对framework_proto的依赖

[2018-07-11 08:54] #11977 closed, assigned to chengduoZH

[2018-07-11 09:04] velconia opened #12094 "Port current fluid code and pybind11 to python3"
This is the first job of [Add py3 support](https://github.com/PaddlePaddle/Paddle/issues/12040)

[2018-07-11 09:07] gongweibao commented on #11206
分布式CE需要校验的模型

方向|模型|数据
-- | -- | --|
图像分类|resnet50|[implemention](https://github.com/PaddlePaddle/Paddle/tree/develop/benchmark/fluid)
||object detection|[implemention](https://github.com/PaddlePaddle/paddle-ce-latest-kpis/tree/master/object_detection)
||OCR识别|[implemention](https://github.com/PaddlePaddle/paddle-ce-latest-kpis/tree/master/__ocr_recognition)|
NLP|machine translation| [implemention

[2018-07-11 09:18] seiriosPlus opened #12096 "ParallelExecutor CPU 单机和多机精度验证"
## ParallelExecutor CPU 单机和多机精度验证
验证模型： text_classification
验证代码： https://github.com/seiriosPlus/fluid_benchmark/blob/master/text_classification/train_high_api.py

### 单机:
CPU_NUM = 4
OPTIMIZER = SGD
BatchSzie = 160
PARALLEL_EXECUTOR = False
Epoch: 0, Step: 0, Time: 0.691313028336, Loss: 0.758364140987, Accuracy: 0.0
Epoch: 0, Step: 1, Time: 0.669323921204, Loss: 0.755404293537, Accuracy: 0.0
Epoc

[2018-07-11 09:44] luotao1 commented on #12096
related #11984

[2018-07-11 12:12] #12081 closed, assigned to luotao1

[2018-07-11 12:59] #12091 closed, assigned to velconia

[2018-07-11 13:37] chengduoZH commented on #12096
@seiriosPlus 做的这组实验显示用CPU多线程ParallelExecutor和Executor得到的loss基本是对齐。
因为high level API里面对reader加了一个decorator，导致每个线程的batch size就是reader这只的batch size。
https://github.com/PaddlePaddle/Paddle/blob/e568acbee2f90a296054f54f71cbdc31e9cc1fdb/python/paddle/fluid/trainer.py#L532-L538

[2018-07-11 13:47] velconia opened #12104 "Fix that is_taged method fails on develop branch"
is_taged of setup.py.in will fails in ```develop``` branch, warnings are:
[code]

[2018-07-11 15:57] chengyuz opened #12108 "Fluid一个函数可以构建多个不同网络进行训练么"
当训练第一个网络时，若显存沾满，那么加载第二个模型时显存不够，有方法可以显式释放显存么；

[2018-07-12 01:34] jacquesqiao opened #12110 "FLAGS_rpc_deadline has no effect"
[code]
has no effect for rpc_client.

[2018-07-12 02:21] jacquesqiao opened #12111 "grpc "os_error":"Protocol not available""
E0712 09:59:00.210762273   41229 tcp_server_posix.cc:64]     check for SO_REUSEPORT: {"created":"@1531360740.210739831","description":"OS Error","errno":92,"file":"src/core/lib/iomgr/socket_utils_common_posix.cc","file_line":169,"os_error":"Protocol not available","syscall":"setsockopt(SO_REUSEPORT)"}
Thu Jul 12 09:59:00 2018[1,4]<stderr>:

[2018-07-12 02:28] Yancey0623 commented on #12110
I encountered the same problem and will fix it.

[2018-07-12 02:31] #12071 closed, assigned to nobody

[2018-07-12 02:41] kolinwei commented on #12110
FLAGS_grpc_deadline?

[2018-07-12 03:11] Yancey0623 opened #12113 "bcast misbehavior while dist train with parallelexe + cpu"
Some misbehavior in ParallelExecutor::BCastParamsToGPUs with CPUPlace.

[2018-07-12 03:11] wanghaoshuang commented on #9990
建议更新下paddle，后来有一些内存泄露相关的fix。比如：
https://github.com/PaddlePaddle/Paddle/pull/10358

[2018-07-12 05:06] seiriosPlus opened #12116 "distributed AUC"

[2018-07-12 05:19] qingqing01 commented on #12108
可以构建多个不同的网络进行训练，Fluid的程序执行有两个入口：

-   单卡/单线程Executor： 默认会释放除过Parameter之外的非persistable的variable。
-   多卡/多线程ParallelExecutor： 不会释放除过Parameter之外的variable，构造函数有个`share_vars_from`，可以共享不同ParallelExecutor之间的同名的variable，但也得多个网络可被复用的variable同名。

这确实是个可以增强的点。

[2018-07-12 06:33] seiriosPlus commented on #12116
related #12008

[2018-07-12 06:53] xum2008 opened #12117 "fuild 0.14.0什么时候可以支持rank_cost ?"

[2018-07-12 06:54] xum2008 commented on #12117
fuild 0.14.0什么时候可以支持rank_cost ?

[2018-07-12 07:14] typhoonzero commented on #11969
验证最新的代码已经修复了。对应单测也增加。

[2018-07-12 07:32] #12110 closed, assigned to Yancey0623, typhoonzero

[2018-07-12 09:23] jacquesqiao opened #12121 "fix distribute_transpiler for adam and adamax op"

[2018-07-12 09:28] tensor-tang opened #12122 "Do we need support Eigen with MKL"
根据 eigen [文档](https://eigen.tuxfamily.org/dox/TopicUsingIntelMKL.html)，我们只需要加宏来实现`EIGEN_USE_MKL_ALL` 和link MKL的library来enable这个功能。

但是，根据文档中所描述的加入了MKL影响的面很小，也就是基本的MKL BLAS (?GEMM, ?GEMV, ?TRSM, ?AXPY and ?DOT) and LAPACK (LU, Cholesky and QR)等，这些函数在paddle里面好像并没有使用eigen调用吧？我看用到这些的时候一般都会切到`math::CBLAS`。

我实际增加了这个宏定义之后，没有任何速度提升。

@jacquesqiao @luotao1 @Superjomn 你们怎么看？

PS: paddle里面的`USE_EIGEN_FOR_BL

[2018-07-12 09:31] #11561 closed, assigned to seiriosPlus

[2018-07-12 09:32] Superjomn commented on #12122
意思是，现在很多 OP 在有 MKL 之后已经自动用了 MKL？

[2018-07-12 09:41] tensor-tang commented on #12122
我的理解是op使用eigen时，好像并没有太多用BLAS，用到BLAS会切到调用`math:GetBlas`这些会使用到MKL，类似这样
https://github.com/PaddlePaddle/Paddle/blob/10737ed9cec68530bc64e610238187c5b12607ed/paddle/fluid/operators/matmul_op.cc#L57-L63

[2018-07-12 09:43] luotao1 commented on #12122
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/math/blas.h
把需要大量用blas库函数的都调用了，包括GEMM，GEMV，AXPY等，fluid都进行调用了。所以不需要eigen额外调用了。

[2018-07-12 09:46] chengyuz commented on #12108
谢谢回复！那当使用单卡时，在第一个网络训练完成后是继续新建executor，使用fluid.default_main_program()继续训练么

[2018-07-12 09:55] velconia commented on #12094
Accroding to this [issue](https://github.com/linkchecker/linkchecker/pull/40), PaddlePaddle Python part depends on the LinkChecker, but LinkChecker doesn't support Python3 yet, we should replace it in our repo

[2018-07-12 10:00] luotao1 commented on #12094
@velconia If documents are not generated from Paddle repo, we could remove LinkChecker. @shanyi15 Are documents not generated from Paddle repo now?

[2018-07-12 10:02] seiriosPlus commented on #12096
验证了 @Yancey1989 的 #12120 ，结果如下：
多机：
CPU_NUM = 4
Trainer * Pserver = 1 * 1
BatchSize = 40 (相当于每个线程是40的BatchSize)

Epoch: 0, Step: 0, Time: 35.2061178684, Loss: 0.758364200592, Accuracy: 0.0, Test Loss: 0.694377968788, Test Accuracy: 0.5
Epoch: 0, Step: 1, Time: 35.0572519302, Loss: 0.755404353142, Accuracy: 0.0, Test Loss: 0.694211413193, Test Accuracy: 0.5
Epoch: 0, Step: 2, Time: 35.3907709122, L

[2018-07-12 10:16] #12057 closed, assigned to nobody

[2018-07-12 10:55] qingqing01 commented on #12117
@xum2008 rank_cost的op已经实现: https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/rank_loss_op.cc ，需要在Python API里封装下，我们尽快封装下。

[2018-07-12 11:16] qingqing01 commented on #12108
对于单卡：

1. 多个program可以用同一个 executor运行，比如我们很多models里fluid示例，同一个executor可以运行fluid.default_main_program()和fluid.default_startup_program()两个program。

2. 你多个网络，应该是需要构造多个ProgramDesc吧，可以参考： https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/demo/fc_gan.py

[2018-07-12 12:05] typhoonzero commented on #11916
Closing, if this still exists, feel free to reopen.

[2018-07-12 12:18] #12104 closed, assigned to nobody

[2018-07-12 14:33] chengduoZH opened #12125 "Distribution unit test failed"
[code]
CI Info:
[code]

[2018-07-12 14:43] seiriosPlus commented on #12096
目前验证了多机1X1的情况，还有4x2的情况在验证中.

[2018-07-12 14:45] Yancey0623 commented on #12111
Seems the kernel version is too old that don't support `REUSE PORT`
reference links:
- https://github.com/tensorflow/tensorflow/issues/9377
- https://stackoverflow.com/questions/3261965/so-reuseport-on-linux

[2018-07-12 15:01] wuzhibin69 opened #12126 "paddlepaddle编译错误"
编译paddle时出现如下错误：
paddlepaddle/paddle/paddle/legacy/gserver/dataproviders/PyDataProvider2.cpp:693:53: error: ‘PyArray_DTYPE’ was not declared in this scope
       auto dtype = PyArray_DTYPE((PyArrayObject*)obj);

在paddlepaddle下搜索PyArray_DTYPE,只能找到该处使用，并没找到其定义，请问要如何解决？
![paddleerror](https://user-images.githubusercontent.com/41161432/42641735-cb128cb2-8627-11e8-8eda-98c674f97854.png)

[2018-07-12 15:18] seiriosPlus commented on #12096
多机：
CPU_NUM = 4
Trainer * Pserver = 4 * 2
BatchSize = 10 (相当于每个线程是10的BatchSize)

取Trainer_id = 0 的数据如下：
Epoch: 0, Step: 0, Time: 46.4841001034, Loss: 0.759456932545, Accuracy: 0.0, Test Loss: 0.694622479868, Test Accuracy: 0.5
Epoch: 0, Step: 1, Time: 44.0505151749, Loss: 0.749677538872, Accuracy: 0.0, Test Loss: 0.694474376512, Test Accuracy: 0.5
Epoch: 0, Step: 2, Time: 45.2129030228, Loss: 0.74

[2018-07-13 01:43] chengyuz commented on #12108
好的，多谢

[2018-07-13 02:08] #12121 closed, assigned to jacquesqiao

[2018-07-13 02:25] Yancey0623 commented on #12096
@seiriosPlus Can we close this issue?

[2018-07-13 02:28] seiriosPlus commented on #12096
We can not close it at present, I am doing more experiments to verify the ```loss``` and ```accuracy```.

[2018-07-13 02:49] #12113 closed, assigned to Yancey0623, seiriosPlus

[2018-07-13 04:02] gongweibao opened #12130 "Add config struct in distribute.tranpile interface."
Since we have many config arguments, we may need to split them to commonly used arguments and not commonly used argument and the first should put in API interface and the second should put into a config struct.

[2018-07-13 05:53] bipedalBit opened #12131 "use_mkldnn=True表现异常"
- 我在MacOS系统中用docker起了一个Ubuntu 16.04的容器
- 严格按说明安装了[mkldnn](https://github.com/intel/mkl-dnn)
- `pip install paddlepaddle`安装了paddle 0.14.0
- 使用fluid搭建了一个3层fc的简单模型
- fluid.layers.fc的use_mkldnn参数置True
- 使用fluid.ParallelExecutor运行模型训练程序

日志如下：
[code]
请注意日志中的average cost变化情况：

- 波动比较剧烈，并非单调变化
- epoch 140开始average cost变成了nan

接下来我将模型中所有fc层的use_mkldnn参数置False，重复实验，日志如下：
[code]
可以看到：

- average accuracy单调增

[2018-07-13 06:01] #12125 closed, assigned to nobody

[2018-07-13 06:16] luotao1 commented on #12131
因为MKLDNN会自动开启多线程，所以请使用fluid.Executor来运行

MacOS上的性能没有测过，MKLDNN需要在有avx2的机器上才会有比较明显的加速比。

0.14.0自带mkldnn，不需要额外装mkldnn

#11984 测过ResNet50上的MKLDNN loss，收敛是正常的。

[2018-07-13 06:44] bipedalBit commented on #12131
好的谢谢，了解了，经过测试确实是因为我是用了fluid.ParallelExecutor，换用fluid.Executor就没有问题了。
我的机器是支持AVX指令集的，不过我的模型中使用mkldnn优化与使用fluid.ParallelExecutor没有明显的区别，可能因为模型太小吧。

[2018-07-13 06:44] #12131 closed, assigned to nobody

[2018-07-13 06:58] BigFishMaster opened #12134 "Installing paddle wheel meets problem"
I install "refs/heads/develop \#297" wheel from paddle [url](https://paddleci.ngrok.io/project.html?projectId=Manylinux1), and get the following problem:

[code]

[2018-07-13 06:58] luotao1 commented on #12131
请查看是否支持AVX2指令集

[2018-07-13 07:02] luotao1 commented on #12134
请问你装的是哪个版本的？

[2018-07-13 07:08] BigFishMaster commented on #12134
cuda8.0_cudnn5_avx_mkl,
refs/heads/develop #297
paddlepaddle_gpu-latest-cp27-cp27mu-linux_x86_64.whl (90.71 MB)

[2018-07-13 07:18] jacquesqiao opened #12135 "optimize optimizer.py"

[2018-07-13 07:20] luotao1 commented on #12134
https://paddleci.ngrok.io/repository/download/Manylinux1_Cuda80cudnn5cp27cp27mu/1730:id/paddlepaddle_gpu-latest-cp27-cp27mu-linux_x86_64.whl
我下载了这个whl包，在docker环境（paddlepaddle/paddle:latest-dev）里安装，import paddle.fluid是正常的。
![image](https://user-images.githubusercontent.com/6836917/42678024-346b4522-86b0-11e8-923e-fe82bc528e01.png)

[2018-07-13 07:39] lgone2000 commented on #12134
我自己编译，也遇到同样问题

[2018-07-13 08:19] bipedalBit commented on #12131
只支持AVX1指令集

[2018-07-13 08:24] jaegerstar opened #12137 "v2版本上如何在加载模型后改变embedding的shape"
旧模型是根据原有词典训的，但是OOV问题比较严重，现在想要加载旧模型后，用词汇量更大的词典，相应的embedding也备好了。但是运行时候显示embedding的shape不匹配。请问有无相关demo可以解决？

[2018-07-13 08:30] Yancey0623 commented on #12137
v2现在没有这个功能，在Fluid可能会比较容易实现，可以关注相关的issue：#10868

[2018-07-13 08:34] Yancey0623 commented on #12134
麻烦提供下操作系统和kernel的版本？

[2018-07-13 09:17] YongtaoGE opened #12138 "在paddle v2中，输入图像的宽高不一致怎么设置？"
'''
img_w =123
img_h = 456
datadim = 3 * img_w * img_h
img = paddle.layer.data(name='image', type=paddle.data_type.dense_vector(datadim))
conv1 = paddle.layer.img_conv(name='conv1', input=img, num_channels=3, filter_size=3, num_filters=10, stride=1, padding=0, act=None)
'''
请问paddle 支持输入的张量的宽和高不一样大吗，怎么设置？
我尝试上上面这种方法，但貌似会自动将输入张量的宽高近似成差不多大小。

[2018-07-13 09:29] #12138 closed, assigned to nobody

[2018-07-13 09:40] seiriosPlus commented on #12096
目前测试，多机和单机在parallel_executor运行上测试 ```accuracy ``` 符合预期， 但是训练的 ```loss``` 误差在 千分之2左右， ```accuracy ``` 误差较大， 正在排查。

[2018-07-13 10:03] Yancey0623 commented on #12126
编译时用的Python是什么版本的呢？另外这部分应该是Paddle v1的代码，如果只是想编译Fluid可以在cmake时加上`-DWITH_FLUID_ONLY=ON`

[2018-07-13 10:30] gongweibao opened #12139 "Problem about begin_pass and end_pass."
I think `begin_pass` and `end_pass` should be operators just like `SendBarrierOp` operators and `FetchBarrierOp`.

And then the BeginPass() should not use
[code]

since we may connect to anything includes pserver.

I think this functions should implement in `BeginPass` operator and `EndPass` operator.

[2018-07-13 11:07] Yancey0623 commented on #12139
Yes, but it's hard to implement for the current `ProgramDesc`, we can only know the pass barrier in Python code bacause of the `for loop` was not in `ProgramDesc`.

Agree with that.

[2018-07-13 11:48] velconia commented on #12050
感谢, 辛苦超容老师

[2018-07-13 12:36] guochaorong commented on #12050
太客气了~
 这个按照你的建议列的时间排期， 可以根据目前的问题和进展更新下~

[2018-07-13 13:10] panyx0718 opened #12140 "It's seems wrong to modify var dependency after memory_optimize_transpiler"
memory_optimizer decides a var can be overridden if it is no longer "live" in the future.

For example, var1 can be reused after ```op1```
[code]

However, in the builders of ParallelExecutor, many nodes can be inserted into the graph, adding various new var dependency. This cause the decision made by the memory_optimizer previously wrong.

For example, the graph can be later changed to:
[code]
va

[2018-07-13 13:48] wuzhibin69 commented on #12126
的python 是2.7.3
![default](https://user-images.githubusercontent.com/41161432/42694926-7e428bb6-86e6-11e8-8309-7ef3f0143d92.PNG)

[2018-07-13 13:51] velconia commented on #12126
试一下先 ```pip install numpy```, 然后再编译;

```PyArray_DTYPE``` 是 ```numpy``` 里的CAPI, 可能是因为你的 python 环境没有安装 ```numpy```

[2018-07-13 14:20] wuzhibin69 commented on #12126
![default](https://user-images.githubusercontent.com/41161432/42696113-d44408ca-86e9-11e8-8670-620c12e87eac.PNG)
应该是已经安装了，我还尝试了下 sudo pip install numpy --upgrade 也成功了：
![2](https://user-images.githubusercontent.com/41161432/42696492-d3e831ac-86ea-11e8-9939-d4644369ddff.PNG)

再次回到paddle/build下
cmake ..
make
还是会出现上述错误

[2018-07-13 14:23] velconia commented on #12126
贴下你的```CMAKE```结果, 可能是```CMAKE```使用的```python```版本不太对

[2018-07-13 14:30] wuzhibin69 commented on #12126
![2](https://user-images.githubusercontent.com/41161432/42696901-2eccd07c-86ec-11e8-90f9-d165b1968812.PNG)

[2018-07-13 14:40] wuzhibin69 commented on #12126
![3](https://user-images.githubusercontent.com/41161432/42697303-4fd1b606-86ed-11e8-9b9a-53904868758c.PNG)

通过
grep -inr PyArray_DTYPE /usr/lib/python2.7
grep -inr PyArray_DTYPE /usr/include
都找不到PyArray_DTYPE

[2018-07-13 14:45] wuzhibin69 commented on #12126
你们的环境中 PyArray_DTYPE 这个所在的头文件是放在哪个目录的呢？

[2018-07-13 20:25] skylian opened #12141 "Error "dictionary changed size during iteration" in ops.py"
When using functions in [ops.py](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/ops.py), I got the error "dictionary changed size during iteration". The problem lies in the following code snippet, which appears in every function in `ops.py`.
[code]
Inside the for loop, a new variable `val` is added into `locals()`, causing the error.

[2018-07-14 00:58] jacquesqiao commented on #12141
Can you paste the code that will cause the error?

[2018-07-14 01:50] panyx0718 commented on #12050
1. 需要厂内的环境和镜像支持python3，paddle RD可以使用厂内环境调试python3。
2. 新增了python3的CI，相关的新增机器需求是否有考虑到？感觉是要加倍？（上次讨论机器好像忘记考虑这个问题了）

[2018-07-14 02:09] guochaorong commented on #12050
嗯嗯，  ci job 总时间变长了。
专门拿几台来做python3的， 可能需要增加好几台。如果4卡机器，python2 和 python3 的docker镜像能并行跑， 似乎可以少加点机器？

厂内这个等我们这边镜像 ready ，给他们个模板，让他们搞一下。。他们这段时间都在弄整个公司虚拟化的事情， 也可以先自己弄个镜像放到镜像仓库， 我们v100的cuda9 镜像也是自己搞的。

[2018-07-14 02:21] guochaorong commented on #12050
1虚4 ， 阡陌那边不建议做， 这周交了我2台4卡的。 我先试试
如果真能1虚4， 似乎也不需要几个8卡机器啦~

[2018-07-14 02:36] typhoonzero opened #12142 "Use parallel executor and reader op, reset when pass finish, will cause GPU memory insufficient"
some code snippet:

[code]

[code]

[2018-07-14 04:13] #12094 closed, assigned to velconia, typhoonzero, guochaorong

[2018-07-14 05:15] liuyu666-thu opened #12146 "百度AI控烟项目"
本人对百度前些时候完成的吸烟人群识别项目跟感兴趣，想请教几个问题：

1）识别是基于视频连续帧的动态识别，还是基于单帧图像的静态识别？
2）数据集是如何获取和标注的呢？能否开源数据集？
3）主要用到了什么方法呢？是直接拿数据集去fine tune了SSD吗？

谢谢。

[2018-07-14 06:25] skylian commented on #12141
@jacquesqiao  The error is not related to Fluid. Simply try this will get you the error.
[code]

[2018-07-14 06:48] seiriosPlus commented on #12096
多机：
CPU_NUM = 4
Trainer * Pserver = 4 * 1
BatchSize = 10 (相当于每个线程是10的BatchSize)
单机的BatchSize = 40

训练精度数据：
ITEA: 0_0, STANDALONE: 0.0, CLUSER MEAN: 0.0, ERROR: 0.0
ITEA: 0_1, STANDALONE: 0.0, CLUSER MEAN: 0.0, ERROR: 0.0
ITEA: 0_2, STANDALONE: 0.0, CLUSER MEAN: 0.0, ERROR: 0.0
ITEA: 0_3, STANDALONE: 0.0, CLUSER MEAN: 0.0, ERROR: 0.0
ITEA: 0_4, STANDALONE: 0.0, CLUSER MEAN: 0.0, ERROR: 0.0
ITEA: 0_

[2018-07-14 06:56] seiriosPlus commented on #12096
多机：
CPU_NUM = 4
Trainer * Pserver = 4 * 1
BatchSize = 10 (相当于每个线程是10的BatchSize)
单机的BatchSize = 80

训练精度数据：
ITEA: 0_0, STANDALONE: 0.0, CLUSER MEAN: 0.0, ERROR: 0.0
ITEA: 0_1, STANDALONE: 0.0, CLUSER MEAN: 0.0, ERROR: 0.0
ITEA: 0_2, STANDALONE: 0.0, CLUSER MEAN: 0.0, ERROR: 0.0
ITEA: 0_3, STANDALONE: 0.0, CLUSER MEAN: 0.0, ERROR: 0.0
ITEA: 0_4, STANDALONE: 0.0, CLUSER MEAN: 0.0, ERROR: 0.0
ITEA: 0_

[2018-07-14 07:17] seiriosPlus opened #12147 "DistributeTranspiler get error when slice_var_up=False"
I0714 07:15:15.146100 10240 grpc_server.cc:364] HandleRequest RequestSend wait next
*** Aborted at 1531552515 (unix time) try "date -d @1531552515" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x0) received by PID 10167 (TID 0x7f0a3ebfd700) from PID 0; stack trace: ***
    @     0x7f0af232c390 (unknown)
    @     0x7f0ac24d38ab paddle::operators::distributed::Vari

[2018-07-14 07:34] Bigwode commented on #11195
遇到同样的问题，运行自带的model的时候显示出错。
I0714 15:32:51.136124  7057 Util.cpp:166] commandline:  --use_gpu=True --trainer_count=1
F0714 15:32:51.510835  7057 hl_cuda_cudnn.cc:171] Check failed: (cudnn_cuh_major < 4 && cudnn_dso_major < 4) || (cudnn_cuh_major == cudnn_dso_major) [cudnn init] libcudnn v6 with header v7 unmatched!
PaddlePaddle Requirement: (header v[2-3] with libcudnn v[2-3]) Or (header v4 with li

[2018-07-14 10:44] Emma-Ding opened #12148 "paddle v1 mixed_layer报错"
mixed_layer一用就报错，删除就可以train，code如下
`fc2 = mixed_layer(size=256, input=[full_matrix_projection(input=fc1),
                                        identity_projection(input=fc1)])`
报错如下，

Python Error: <type 'exceptions.Exception'> :
Python Callstack:
            /home/dingweiyue/baidu/nad-model/deepfeed/feedbsq_paddle/paddle/python27-gcc482/lib/python2.7/site-packages/paddle/trainer/config_parser.

[2018-07-14 10:46] Emma-Ding commented on #12148
P.S.：mixed_layer是不是如下意思，mixed_layer(a=layer1, b=layer2) 即  output[i] = a[i]+ b[i]， 那这里最后对output加上激活函数activation function吗

[2018-07-14 11:32] guochaorong commented on #8501
I met the problem today when I use machines on qiammo。
“Unsupported gpu architecture 'compute_70'”
http://10.87.145.41:8111/viewLog.html?buildId=1849&buildTypeId=GuochaorongPaddleTest_PrCi

the nvidia-smi info of qianmo machine  is as below：
[root@yq01-gpu-255-125-22-01 .cache]# nvidia-smi
Sat Jul 14 19:30:30 2018
+-----------------------------------------------------------------------------+
| NV

[2018-07-14 15:04] helinwang commented on #8501
Hi @guochaorong , yes, seems you have to update the CUDA according to https://github.com/ethereum-mining/ethminer/issues/454

[2018-07-15 02:04] lgone2000 commented on #12134
@qingqing01  之前确认过这个问题，她说在修复

自己编译的话，把thirdparty/instal里 mkldnn mklml的lib设置到LD_LIBRARY_PATH里
刘国翌 2018-07-13 15:47:43
以前咋没这个问题呢？
党青青 2018-07-13 15:48:18
最近对mkl的path有些修改，我们自己发现了，在fix

[2018-07-15 02:08] lgone2000 commented on #12134
另外在paddlecloud 好像不能设置自己的LD_LIBRARY_PATH，希望给一个不用改LD_LIBRARY_PATH 的修复方案

[2018-07-15 08:03] seiriosPlus opened #12151 "ParallelExecutor Crashed"
[code]
描述： 任务在运行到十三轮epoch的时候异常
模型地址： https://github.com/seiriosPlus/fluid_benchmark/blob/master/text_classification/train_high_api.py
配置：
OPTIMIZE: ADAM
CPU_NUM: 4
ParallelExecutor: True
BatchSize: 40

[2018-07-15 08:47] JiayiFeng commented on #12142
这种写法是期望每跑完一个batch都reset一下吗？

[2018-07-15 14:19] #9586 closed

[2018-07-15 14:21] yeyupiaoling commented on #10992
@chengduoZH 是的是的，有办法吗？

[2018-07-15 14:21] yeyupiaoling commented on #11003
@chengduoZH
在Fluid会不会有这样的评估器呢？

[2018-07-15 14:23] yeyupiaoling commented on #11004
@chengduoZH
可能是我使用了百度开源的warp-ctc，有没其他的warp-ctc？

[2018-07-15 14:27] guochaorong opened #12153 "是否考虑增加cuda9 的TensorRT包"
目前 CI中的Dockerfile 基于 ubuntu cuda8镜像，里面包含TensorRT包的安装
http://paddlepaddledeps.bj.bcebos.com/TensorRT-4.0.0.3.Ubuntu-16.04.4.x86_64-gnu.cuda-8.0.cudnn7.0.tar.gz

但没有相应的cuda 9的该安装包
[code]

同样的目前的night build的centos 各个镜像里也没有该包的安装。
请问下什么时候会支持？不安装该包的影响是什么?

v100 需要在cuda9 环境跑，如果cuda8 和cuda9 的镜像需要安装的包差别很大，以后需要维护两个dockerfile?

[2018-07-15 14:28] yeyupiaoling commented on #11418
@panyx0718
经过测试，0.13.0使用pip命令安装的是关闭AVX，0.14.0是开启AVX的

[2018-07-16 01:28] Yancey0623 commented on #12126
试下Python2.7.12呢？另外可以尽量使用我们的开发环境镜像来编译，避免环境的问题：
```paddlepaddle/paddle:latest-dev```

[2018-07-16 02:22] luotao1 commented on #11195
@Bigwode 从日志看出来，cudnn的lib为v6，但头文件是v7版本。

[2018-07-16 02:24] Bigwode commented on #11195
@luotao1 谢谢，我尝试修改一下版本

[2018-07-16 02:56] 930083287 opened #12155 "AttributeError: 'module' object has no attribute 'Trainer'"
运行这个代码时，trainer = fluid.Trainer(train_func=train_program, place=place, optimizer_func=optimizer_program)报上述错误，已经import这个了import paddle.v2.fluid as fluid

[2018-07-16 02:58] luotao1 commented on #12148
1. 可以尝试下
[code]
2. mixed_layer默认使用LinearActivation，可以用act参数自定义激活函数
https://github.com/PaddlePaddle/Paddle/blob/0042ba93c8caec99289d08cee8f98989632a4f24/python/paddle/trainer_config_helpers/layers.py#L865-L874

是的。

[2018-07-16 03:15] #12147 closed, assigned to seiriosPlus, gongweibao

[2018-07-16 03:17] captainwoon commented on #12146
您好，谢谢对paddlepaddle的关注，针对您的问题有以下回复：
1.由于受限计算资源，使用的是静态识别
2.数据集是为了完成此项目自主采集的，使用标注工具（http://jl.shenjian.io/ ），数据集由于项目还有后续工作，暂时不考虑开放
3.是直接用数据去fine tune ssd

[2018-07-16 03:18] typhoonzero commented on #12142
每个pass

[2018-07-16 03:27] luotao1 commented on #11425
我们已经有Python3的排期了，先关闭该issue，谢谢您的关注！

[2018-07-16 03:28] luotao1 commented on #11262
我们已经有Python3的排期了，先关闭该issue，谢谢您的关注！

[2018-07-16 03:31] luotao1 commented on #9174
我们已经有Python3的排期 #12040 #12050 了，先关闭该issue，谢谢您的关注！

[2018-07-16 03:31] #9174 closed

[2018-07-16 03:32] dzhwinter commented on #12140
Let's make it clear, the parallel executor will insert what kind of ops at which stage?
In my mind, only the broadcast ops and reduce ops is inserted.

For the broadcast ops, parameters will not be reused, so the broadcast is not affected by the memory optimizer. So inserted them anywhere will be fine.

For the reduce/allreduce ops, it has two kind of inputs: the weights(parameter) and the gradien

[2018-07-16 03:40] luotao1 commented on #9953
close due to this unit test is normal now.

[2018-07-16 03:40] #9953 closed

[2018-07-16 03:45] #5528 closed

[2018-07-16 03:49] luotao1 commented on #6311
close due to we have the new install document: http://www.paddlepaddle.org/docs/0.14.0/documentation/fluid/zh/new_docs/beginners_guide/install/install_doc.html

[2018-07-16 03:49] #6311 closed

[2018-07-16 03:54] luotao1 commented on #7257
We already have the release document on wheel package: https://github.com/PaddlePaddle/Paddle/blob/develop/doc/fluid/dev/releasing_process_cn.md#%E5%8F%91%E5%B8%83wheel%E5%8C%85%E5%88%B0pypi

[2018-07-16 03:54] #7257 closed

[2018-07-16 04:02] liuyu666-thu commented on #12146
@captainwoon

非常感谢您的回答，很好地解决了我的疑问。

我还有最后一个问题，烦请告知：
在标注数据集的时候，针对吸烟者是如何标注的？ 单单标注香烟的形状，还是人脸，还是全身？

万分感激。

[2018-07-16 04:09] captainwoon commented on #12146
全身标注
模型最终判断的是一个人是否有吸烟动作

[2018-07-16 04:10] luotao1 commented on #9635
close due to there is no such warning in develop branch now.

[2018-07-16 04:10] #9635 closed

[2018-07-16 04:17] luotao1 commented on #7957
close due to CI test is only for fluid now.

[2018-07-16 04:17] #7957 closed

[2018-07-16 04:18] #8354 closed

[2018-07-16 04:18] #12146 closed, assigned to captainwoon

[2018-07-16 04:28] velconia opened #12156 "Modify Paddle Fluid's python code to make it could be imported in both Python2 and Python3"
As discussed in #12040 , we should change all paddle code in the first round to make it could be imported in both Python2 and Python3 .

[2018-07-16 05:21] dzhwinter commented on #10845
It's model config error, is there any more config file information can be provided?
Thanks

[2018-07-16 05:41] #12108 closed, assigned to nobody

[2018-07-16 06:03] typhoonzero commented on #10818
Closing due to low activity, feel free to reopen if you still encounter this issue.

[2018-07-16 06:03] #10818 closed

[2018-07-16 06:06] #10654 closed

[2018-07-16 06:08] typhoonzero commented on #10373
Closing this due to the PR is already fixed, feel free to reopen.

[2018-07-16 06:08] #10373 closed

[2018-07-16 06:10] typhoonzero commented on #10221
Closing due to low activity, feel free to reopen.

[2018-07-16 06:10] #10221 closed

[2018-07-16 06:11] typhoonzero commented on #10205
Closing due to low activity, feel free to reopen.

[2018-07-16 06:11] #10205 closed

[2018-07-16 06:12] typhoonzero commented on #10194
Closing due to low activity, feel free to reopen.

[2018-07-16 06:12] #10194 closed

[2018-07-16 06:14] typhoonzero commented on #10187
Please check out the latest code under `models` repo to get newly released models.

Closing due to low activity, feel free to reopen.

[2018-07-16 06:14] #10187 closed

[2018-07-16 06:14] typhoonzero commented on #10159
Closing due to low activity, feel free to reopen.

[2018-07-16 06:14] #10159 closed

[2018-07-16 06:15] typhoonzero commented on #10156
Closing due to low activity, feel free to reopen.

[2018-07-16 06:15] #10156 closed

[2018-07-16 06:15] typhoonzero commented on #10154
Closing due to low activity, feel free to reopen.

[2018-07-16 06:15] #10154 closed

[2018-07-16 06:16] gongweibao opened #12158 "`test_paddle_inference_api_impl` meets error!"
[code]

[2018-07-16 06:17] Superjomn commented on #12158
这个是啥环境？

[2018-07-16 06:17] Superjomn commented on #12158
最好贴下相关 url

[2018-07-16 06:17] gongweibao commented on #12158
CI里边的错误。

[2018-07-16 06:18] gongweibao commented on #12158
我已经重跑了。改变了API，大家都被我的PRblock了。

[2018-07-16 08:54] #11916 closed, assigned to typhoonzero, chengduoZH

[2018-07-16 08:54] typhoonzero commented on #11969
已经可以复现问题，正在排查。

[2018-07-16 09:03] hytirt commented on #11770
请问在每轮Pass后调用trainer.test时，是否也能实现自定义评估指标呢？我尝试了一下，getLayerOutputs只能得到最后一个batch的结果，而且内存有限，无法一次性读入所有验证集数据。

[2018-07-16 09:41] burness commented on #11689
@tonyyang-svail  有mac 读源码的解决方案吗 ？ 我这里也遇到如上题目的问题

-----
搞定了 多谢

[2018-07-16 10:02] yeyupiaoling opened #12162 "save_inference_model接口的参数疑问"
使用Fluid保存模型，https://github.com/PaddlePaddle/models/blob/bb59b41a701cee3c7420e9e1d692aeb44b30bc15/fluid/image_classification/train.py#L226 这个提供的是一种保存模型的方法。

但是在paddle-mobile中要求有`__model__`，这里：https://github.com/PaddlePaddle/paddle-mobile/blob/develop/doc/design_doc.md#%E4%B8%80-loader

使用这个接口`fluid.io.save_inference_model`之后就有`__model__`了，使用这个接口保存googlenet的模型，我有个疑问，googlenet有三个全连接输出：https://github.

[2018-07-16 10:04] typhoonzero opened #12163 "Feature complete / Robust of distributed training"
### Features

- [ ] incremental training: run `load_params` on one of the trainer and continue training @seiriosPlus
- [x] fetch initialized parameters from pserver when trainers run `startup_program` -- @velconia Doing
- [ ] support training using MPI communication APIs (in contrib) -- @seiriosPlus
- [ ] NCCL2 distributed mode support run different number of batches on each node -- @typhoonzero
-

[2018-07-16 11:47] #12158 closed, assigned to Superjomn

[2018-07-16 11:49] luotao1 opened #12165 "manylinux1 fails on simple_on_word2vec"
https://paddleci.ngrok.io/viewLog.html?buildId=1968&buildTypeId=Manylinux1_Cuda90cudnn7avxMkl&tab=buildLog&_focus=26720
[code]
The reason is that `simple_on_word2vec` demo depends on `ctest -R test_word2vec -V` unit-test. Thus, in manylinux1, we should not test `simple_on_word2vec`.

[2018-07-16 14:25] jacquesqiao opened #12167 "distribute train: load parameter"
In the distributed train, the loaded parameter should be broadcast to all trainer and parameter server, currently, we have not implement this.

[2018-07-17 02:30] #12165 closed, assigned to luotao1

[2018-07-17 02:50] bingyanghuang commented on #11984
@luotao1
Hi, Luotao
Sorry to respond to you so late, I have been on vacation last week.
* Could you give us the script without GUI?
Here is the ResNet50 python script for MKL with Parallel executor:[train_resnet.txt](https://github.com/PaddlePaddle/Paddle/files/2199886/train_resnet.txt)
I run it with
`export CPU_NUM=32`
`python train_resnet.py --display_step=1 --warmup=0 --use_gpu=false --number_i

[2018-07-17 03:21] xiaocc612 opened #12174 "paddle使用问题：想获取paddlepaddle全连接层（激活函数不为softmax）输出,转为一个普通向量。"
我想利用paddle来实现siamese网络，需要计算两个CNN提取出的特征向量。我发现paddle网络层返回的是：paddle.trainer_config_helpers.layers.LayerOutput，不知道如何转成list。且我是在科赛网的K-lab平台上使用paddlepaddle,该平台只支持0.11.0版本的paddle，而这个版本的源码在GitHub上已经没有了。麻烦各位了

[2018-07-17 03:35] Yancey0623 commented on #12163
The sparse update needs a uniform design with dist lookup table.

[2018-07-17 04:09] alfredyule78 opened #12176 "是否支持python3.6"
是否支持python3.6

[2018-07-17 04:20] #11969 closed, assigned to typhoonzero

[2018-07-17 04:51] kuke commented on #12176
暂时不支持，但正在调研，很快会有支持3.x的计划

[2018-07-17 05:03] kuke commented on #12174
[0.11.0](https://github.com/PaddlePaddle/Paddle/tree/release/0.11.0)作为PaddlePaddle Fluid的一个release版本，会一直在github上。

可以将CNN的feature map作为网络的输出，infer之后就可以得到ndarray形式的普通数据格式了

https://github.com/PaddlePaddle/models/blob/bb59b41a701cee3c7420e9e1d692aeb44b30bc15/fluid/image_classification/infer.py#L71

[2018-07-17 05:37] seiriosPlus opened #12179 "Set min_block_size=4 in slice_variable Get exception"
paddle.fluid.core.EnforceNotMet: holder_ should not be null
Tensor not initialized yet when Tensor::place() is called. at [/paddle/paddle/fluid/framework/tensor.h:133]
PaddlePaddle Call Stacks:
0       0x7f52004d17fcp paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::exception_ptr, char const*, int) + 572
1       0x7f52004d3da1p paddle::framework::Tensor::place() const + 209
2

[2018-07-17 07:05] seiriosPlus commented on #12179
It's not a bug

[2018-07-17 07:05] #12179 closed, assigned to seiriosPlus

[2018-07-17 07:30] alfredyule78 commented on #12176
expected

[2018-07-17 09:38] xiaocc612 opened #12186 "paddle损失函数问题，官方提供的损失函数没有对比损失函数（contrastive loss function）。自己实现的话应该怎么做"
问题如题所示。使用paddle训练器时，要求传过去的损失函数类型为：paddle.v2.config_base.Layer
自己实现对比损失函数的话，怎么将计算的结果转为paddle.v2.config_base.Layer类型。谢谢。

![image](https://user-images.githubusercontent.com/36946952/42809317-ee81d1a8-89e7-11e8-860c-a8f6a2d1b6e1.png)

[2018-07-17 09:43] jacquesqiao opened #12187 "parallel_executor can not run the model saved by save_inference_model"
The program saved by save_inference_model contains fetch_op for CPP inference, seems parallel_executor cannot handle this condition.

[2018-07-17 09:46] luotao1 opened #12188 "Big storage needed for PaddlePaddle compilation"
This question is from Rysztowski, Marcin in intel.

Compilation of PaddlePaddle requires big amount of free disk space (several gigabytes) and the number continues to increase.
Our internal validation bases on docker files and the situation leads to few problems:
- As disk space requirement increases, we run to lack of free space in image and compilation errors (so we need to increase image size m

[2018-07-17 09:56] HugoLian opened #12189 "GPU运行paddle找不到libcublas.so文件求助"
用CPU运行任务正常，GPU运行报错libcublas.so文件找不到：
[code]
查看了/usr/lib64  /usr/local/lib 均没有找libcublas.so文件，请问应该怎么设置DYLD_LIBRARY_PATH 路径的地址呢？
我是pip install paddlepaddle-gpu==0.14.0 这么安装的

[2018-07-17 10:01] kuke commented on #12189
是不是机器本来就没有gpu？如果没有，不应该装gpu版本的paddle

[2018-07-17 10:05] kuke commented on #12186
@xiaocc612 http://www.paddlepaddle.org/docs/0.14.0/documentation/zh/dev/new_layer_cn.html 这里有个文档，说明了如何在V2中实现新的层

[2018-07-17 10:09] HugoLian commented on #12189
@kuke 我的就是GPU的机器啊，最近重装了一下系统，接到阡陌上了，重装PADDLE之后遇到了这个问题。

[2018-07-17 10:10] kuke commented on #12189
那就是没有安装cuda的问题了，这些库装好cuda之后自然就有了

[2018-07-17 10:16] luotao1 commented on #12188
That's too big, and is not normal.
- Our latest image only 617MB in https://hub.docker.com/r/paddlepaddle/paddle/tags/. Our latest image contains v2 version, thus, if you only build fluid version, the image must be smaller than 617MB.
![image](https://user-images.githubusercontent.com/6836917/42810095-b42ec374-89e9-11e8-93b0-2b9fb3577dc7.png)
- The `build` directory of myself is 7.4G, contains GPU

[2018-07-17 11:33] yingfeng opened #12190 "Considering enhancing parameter server with DPDK"
I notice that paddle v2 fluid has been significantly changed since its legacy version. The idea to encapsulate the parameter server into the operator is great such that the program running on local machine and distributed environment could share the major codes. However, I also notice that the parameter server in fluid is based on either GRPC or BRPC, I think there exists remarkable margin for per

[2018-07-17 11:48] ccmeteorljh opened #12191 "机器翻译多机cpu下，1个pass异常结束"
paddle version 0.14
代码库地址：https://github.com/xuezhong/transformer-nist
作业运行配置：
1个pserver，2个trainer，8核
启动脚本:
[code]
trainer日志
[code]

[2018-07-17 11:49] ccmeteorljh commented on #12191
模型训练没有添加complete

[2018-07-17 13:17] tensor-tang opened #12192 "We are planning to add MKL static library"
We are planning to link `-lmkl_core -lmkl_gf_lp64 -lmkl_intel_lp64 -lmkl_sequential` in MKL static library, which is the so-called BIG MKL package.

This should be something not expected by MKLDNN, right?

We can only  link `-lmkl_rt` for MKLDNN, but would not work if we link the sequential lib.

And it seems MKLDNN does not generate static library.

[2018-07-17 13:44] ccmeteorljh opened #12193 "fluid_benchmark cpu下，1个pass后报错"
paddle version 0.14
代码库地址：https://github.com/PaddlePaddle/Paddle/tree/develop/benchmark
作业运行配置：
单机 1个cpu
启动脚本:
[code]
运行结果：
[code]

[2018-07-17 17:13] emfomenk commented on #12192
(Intel MKL-DNN dev here)
First of all the link line above is incorrect: both `libmkl_gf_lp64` and `libmkl_intel_lp64` are interface layers. I think you should drop `gf_lp64` since it makes sense only when GNU Fortran is used. So the right link line would be:
[code]

Next. Why doesn't `libmkl_rt` work for you?
It allows using Intel MKL sequentially by setting either environment variable `MKL_THREAD

[2018-07-17 17:21] jczaja opened #12195 "MKLDNN: Fluid High level inference API does not account for MKL-DNN"
Recently Inference High Level API was introduced. It does not have functionality to use MKL-DNN ops for inference.

To use MKL-DNN for High Level API based programs it is needed to add enabling function of MKLDNN:
`if (FLAGS_use_mkldnn) executor_->EnableMKLDNN(*inference_program_);`

Around line 92  of:
https://github.com/PaddlePaddle/Paddle/blob/f9f8fbaa5ec43e960c3054f8a76475d945cb678a/paddle/con

[2018-07-18 01:15] Superjomn opened #12197 "Move inference document to emphasize the native inference."
![image](https://user-images.githubusercontent.com/328693/42853779-2b6b8928-8a6b-11e8-98d3-a159fab2e6b7.png)

原有文档有歧义，认为paddle自己的 inference 和 anakin 是并列可选关系，但事实是原生支持所有模型上线，但 anakin 只能加速其中一部分（且没有标明哪些模型不支持）；这里把原生预测 move 到 howto 中，让用户直接对接原生预测库。

将原生预测库的页面放到使用指南里，改名为 『预测部署』，将 anakin 的页面改名为 『Anakin-服务器端加速引擎』

[2018-07-18 01:20] Superjomn opened #12198 "move contrib/inference to paddle/fluid/inference"

[2018-07-18 02:11] seiriosPlus opened #12201 "Checkpoint Do not Save/Load block params For Distributed Fluid"

[2018-07-18 02:26] tensor-tang commented on #12192
Glad to see you here @emfomenk , thanks for your comments.

Yes, you are right, actually we only need these three `mkl_intel_lp64 mkl_sequential mkl_core`, which is also we used to do. I should be more clear.

As for the case of MKL-RT, we are worried about if we ONLY linked this three libs, does it may lead MKLDNN to work with only 1 thread calling MKL, such as FC. Or something unexpected from MK

[2018-07-18 02:30] jacquesqiao opened #12203 "fc layer with mkl and without mkl performance analyse"
CPU配置如下：
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                12
On-line CPU(s) list:   0-11
Thread(s) per core:    1
Core(s) per socket:    1
Socket(s):             12
NUMA node(s):          1
Vendor ID:             GenuineIntel
CPU family:            6
Model:                 44
Model name:            Intel(R) Xeon(R) CPU

[2018-07-18 02:35] jacquesqiao commented on #12203
## batch_size=2

## with_mkl
![image](https://user-images.githubusercontent.com/3048612/42855992-bdbb16c2-8a75-11e8-8f46-824bf9f6eea1.png)

## without_mkl
![image](https://user-images.githubusercontent.com/3048612/42856110-442cd66e-8a76-11e8-941e-6038ef542c45.png)

## 效果

op | without_mkl| with_mkl | with_mkl/without_mkl
---- | --- | --- | ---
mul |8398.83 |3249.81  |0.387
mul_grad |17069.3 |10266

[2018-07-18 02:39] luotao1 commented on #12195
Thanks for your suggestion, I will fix it.

[2018-07-18 02:53] jacquesqiao commented on #12203
## batch_size=64

## with_mkl
![image](https://user-images.githubusercontent.com/3048612/42856548-4322fe68-8a78-11e8-8d74-d2d33a810a2b.png)

## without_mkl
![image](https://user-images.githubusercontent.com/3048612/42856571-5defa1d8-8a78-11e8-98ae-6c90e1cd8732.png)

## 效果

op | without_mkl| with_mkl |  with_mkl/without_mkl
---- | --- | --- | ---
mul |16000 |15427  |0.9641875
mul_grad |31139 |33427

[2018-07-18 03:52] #5908 closed

[2018-07-18 03:54] #10054 closed

[2018-07-18 04:53] NHZlX opened #12204 "TensorRT: SoftMax op converter"
#11720
Implement `SoftMax op converter` for inference.

[2018-07-18 05:16] gongweibao commented on #10054
before_hook.sh中加入
[code]
没有export。

[2018-07-18 05:33] luotao1 opened #12206 "test_simple_fc_parallel_accuracy_with_new_strategy fails"
Two PRs fails at `test_simple_fc_parallel_accuracy_with_new_strategy`
[code]
https://paddleci.ngrok.io/viewLog.html?buildId=2076&buildTypeId=Paddle_PrCi&tab=buildLog&_focus=8319
https://paddleci.ngrok.io/viewLog.html?buildId=2107&buildTypeId=Paddle_PrCi&tab=buildLog&_focus=8332

[2018-07-18 07:03] velconia opened #12208 "set_attr will take std::vector<int> as default in Python3"
In Operator, if we set attr like below
[code]

In python3 environment, pybind11 will take the ```[]``` in python as the ```std::vector<int>``` in C++ for default value.

But if the type of ```Attribute``` in C++ is ```std::vecotr<std::string>```, we will get an error when we invoke ```check_attr()```

[2018-07-18 07:06] HugoLian opened #12209 "paddle升级到gpu-0.14.0版本后原有训练任务出错"
升级之后GPU运行原有任务（只是每天训练数据的差异，理论上不会有数据差异），报错：
[code]
改用CPU运行时有时可以跑一些batch，多数情况下报错并卡死在这里：
![image](https://user-images.githubusercontent.com/22980558/42865369-0947bae8-8a9c-11e8-810a-be0a582f82d2.png)

请问这可能是因为什么呢？
另外之前的版本trainer_count > 1是可以正常使用的，新版本>1时不能训练么？

[2018-07-18 07:11] NHZlX opened #12210 "TensorRT：Pool2d op Converter"
#11720

Implement Pool2d Op converter for inference.

[2018-07-18 07:12] #12198 closed, assigned to luotao1

[2018-07-18 07:13] velconia commented on #12208
@wangkuiyi need some help for this

[2018-07-18 07:14] NHZlX opened #12211 "TensorRT: Conv2d op Converter"
#11720

Implement `conv2d op converter` for inference.

[2018-07-18 07:20] pmajchrzak opened #12212 "CRNN-CTC train error"
# CRNN-CTC train error
During training crnn model (ocr_recognition) an errors occurs which most probably is placed in the paddle source.

[2018-07-18 07:45] leyiwang commented on #12017
@JiayiFeng 谢谢，尝试了paddlepaddle==0.11.0设置了OPENBLAS_NUM_THREADS=1是可以的。

[2018-07-18 07:45] #12017 closed, assigned to nobody

[2018-07-18 08:00] luotao1 commented on #12209
`F0718 14:58:24.706127  1672 Matrix.cpp:653] Not supported` 从报错可以看出，是GPU不支持这类的乘法，猜测是稀疏矩阵乘法。因此和升级没关系，老版本的GPU也跑不过。

是否是openblas的问题？参考#12017

您用的是v2版本，v2版本不会再增加新功能了，如果原来版本可以使用，可以接着使用原来的v2版本。

[2018-07-18 08:08] gongweibao commented on #12190
Thanks! I will take a look at it!

[2018-07-18 08:11] luotao1 commented on #12212
This is due to https://github.com/PaddlePaddle/Paddle/pull/12107 change `clone_variable` to `_clone_variable`. But in `optimizer.py`, it still uses `clone_variable`.
https://github.com/PaddlePaddle/Paddle/blob/97b774dfe512b12e4916ee0e72c1cec8985fc06a/python/paddle/fluid/optimizer.py#L1182-L1190

We will fix it ASAP.

[2018-07-18 08:16] HugoLian commented on #12209
@luotao1 之前我们的paddle一直用GPU训练的同样的网络，没有问题啊，只是最近机器交给阡陌重装之后更新0.14.0之后不行的。原先那个版本的paddle不是我装的，用GPU trainer_count=3（一共4卡）都可以正常训练的。

[2018-07-18 08:26] luotao1 commented on #12209
https://github.com/PaddlePaddle/Paddle/blob/97b774dfe512b12e4916ee0e72c1cec8985fc06a/paddle/legacy/math/Matrix.cpp#L637-L654
653行的错误在这儿，是gpu不支持稀疏矩阵*稀疏矩阵。请再次确认模型配置/数据配置等。

[2018-07-18 08:28] RayLiu2015 opened #12214 "batchnorm 参数的问题"
![image](https://user-images.githubusercontent.com/13360993/42869437-9bcaf78a-8aa7-11e8-8ca2-85faa03bbcbc.png)

想请问下, batchnorm 参数中的 mean 和 savedMean 还有 variance 和 savedvariance 是什么关系, 我进行预测的时候应该用哪个?  我之前用的 variance, 但在一个模型中发现 variance 中的数字全都是 nan, 哪位同学能帮我解答一下呀

[2018-07-18 08:37] skylarch opened #12216 "Sidebar版本号和文档版本不一致"
例如V2 API Overview这篇属于V2的文档。通过超链接打开它时，sidebar显示的是用户最近在官网选择的版本。如果是第一次使用官网，那么sidebar默认为Fluid 0.14.0版本：
<img width="1303" alt="screen shot 2018-07-18 at 4 02 51 pm" src="https://user-images.githubusercontent.com/16292809/42869835-d07f61fe-8aa8-11e8-8e07-d2de90ce5f70.png">

[2018-07-18 08:42] #12216 closed, assigned to nobody

[2018-07-18 08:44] kuke commented on #12214
https://github.com/PaddlePaddle/Paddle/blob/4a0761781c10d2409f136b541375cbecbab651a6/paddle/fluid/operators/batch_norm_op.cc#L132-L134

这里有比较详细的参数解释，预测的时候只会用到mean和variance。另variance为nan的问题应该已经修复了，你可以用最新的代码重新训练一下模型

[2018-07-18 08:49] gongweibao commented on #9990
Feel free to reopen it!

[2018-07-18 08:50] pmajchrzak commented on #12212
Super! Thx!

[2018-07-18 08:50] gongweibao commented on #12126
Feel free to reopen it!

[2018-07-18 08:51] #12126 closed, assigned to nobody

[2018-07-18 08:51] xiaocc612 opened #12217 "程序报错"
报错内容如下，希望有人能指教指教：
[code]

[2018-07-18 08:54] #7271 closed

[2018-07-18 08:55] #8878 closed

[2018-07-18 08:58] #7029 closed

[2018-07-18 09:06] #11150 closed

[2018-07-18 09:16] jczaja commented on #12195
@luotao1 Thanks very much. Looking forward to have MKL-DNN support in Inference High Level API

[2018-07-18 09:22] qingqing01 commented on #12214
关于BatchNorm的moving variance出现NaN的情况，可以参考 https://github.com/PaddlePaddle/Paddle/issues/11445   这个Issue是因为在BatchNorm时，norm的维度上出现了只有1个元素，出现了NaN。

之前我们也遇到过这个问题，是在某次pass的最后一个batch的数据，只有一条数据，BN输入是conv层，feature的shape是[1, C, 1, 1]，这种情况，就会出现NaN。

你可以查下BN输入变量的shape，是否有问题，如果是这个问题，可以在feed数据时过滤下。

[2018-07-18 09:28] gongweibao opened #12224 "Add transformer unittest 2ps * 2trainer"

[2018-07-18 09:34] JiayiFeng opened #12225 "Compile Error on Mac"
Throwing exceptions inside C++ destructors is not allowed by Clang. However, the following destructor is still using `PADDLE_ENFORCE` inside themselves, which results in a Mac compile error.

https://github.com/PaddlePaddle/Paddle/blob/4a0761781c10d2409f136b541375cbecbab651a6/paddle/fluid/inference/api/api_impl.cc#L103-L108

[code]

[2018-07-18 10:46] #12212 closed, assigned to luotao1

[2018-07-18 11:28] RayLiu2015 commented on #12214
我的这个 batchnorm 输入维度是  [1, 128, 1, 1], 但如果我过滤了, 那使用什么数替代这些数呢?

[2018-07-18 11:32] mzchtx opened #12228 "预测 API 文档中部分链接失效"
## 预测 API 文档中部分链接失效
1. https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/high_level_api_cn.md 中`详细代码参考`部分链接。
2. https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/high_level_api.md 中 `Reference` 部分链接。

[2018-07-18 14:12] HugoLian commented on #12209
@luotao1 请问两个稀疏矩阵的乘积怎么理解呢？ 我追查了一下我的问题，比如有三个slot是：
[code]
如果我的下一层是：
feed_part = paddle.layer.fc(input=[feed_cid_fc, feed_pid_fc], size=32, act=paddle.activation.Tanh(), param_attr=param_feed)
就没有问题，但是如果带上feed_attention_fc这一层，就会报矩阵不支持此方法这个问题。(如下：)
feed_part = paddle.layer.fc(input=[feed_attention_fc， feed_cid_fc, feed_pid_fc], size=32, act=paddle.activation.Tanh(), param_attr=param_feed)

我已经验证过feed

[2018-07-18 15:19] #12225 closed, assigned to tensor-tang

[2018-07-18 16:05] Naruto-Sasuke opened #12234 "[Newbee]Does paddle support second-order gradient?"
I want to train a model with wgan-gp, which requires paddle supporting second-order gradient.
Also, spectral norm is also a feature that I need.

[2018-07-18 16:48] emfomenk commented on #12192
It is highly recommended to avoid two versions of the library to be loaded within one application. In particular two different Intel MKL. So I would suggest considering 2 options:

1. Intel MKL-DNN is built **w/o** Intel MKL (neither full Intel MKL nor Intel MKL-ML). In this case PaddlePaddle can be built with whatever Intel MKL (RT, 3 explicit libraries, ...) -- there should not be any problems,

[2018-07-18 20:21] skylian commented on #12141
@reyoung Can you help us here when you have time? Thanks!

[2018-07-19 01:19] githwd2016 opened #12235 "使用官方的02.recognize_digits/train.py 代码报错"
报错信息如下：
Traceback (most recent call last):
  File "train.py", line 11, in <module>
    import paddle
  File "/home/hwd/.local/lib/python2.7/site-packages/paddle/__init__.py", line 25, in <module>
    import dataset
  File "/home/hwd/.local/lib/python2.7/site-packages/paddle/dataset/__init__.py", line 28, in <module>
    import mq2007
  File "/home/hwd/.local/lib/python2.7/site-packages/paddle/data

[2018-07-19 02:19] luotao1 opened #12237 "CUDA driver version is insufficient for CUDA runtime version in manylinux1"
https://paddleci.ngrok.io/viewLog.html?buildId=2202&buildTypeId=Manylinux1_Cuda80cudnn5avxOpenblas&tab=buildLog&_focus=23885
https://paddleci.ngrok.io/viewLog.html?tab=buildLog&buildTypeId=Manylinux1_Cuda80cudnn5cp27cp27mu&buildId=2223&_focus=26656
[code]

[2018-07-19 02:59] #12176 closed, assigned to kuke

[2018-07-19 02:59] #12174 closed, assigned to kuke

[2018-07-19 03:01] #12189 closed, assigned to kuke

[2018-07-19 03:04] luotao1 commented on #12209
CPU和GPU均不支持两个稀疏矩阵乘: CPU相关代码。

https://github.com/PaddlePaddle/Paddle/blob/97b774dfe512b12e4916ee0e72c1cec8985fc06a/paddle/legacy/math/Matrix.cpp#L2878-L2897

从代码角度看，是这样的。

[2018-07-19 03:10] #12228 closed, assigned to nobody

[2018-07-19 03:28] tensor-tang commented on #12203
附上E5-2699v3，AVX2的机器 测试结果。

单核测试：

batchsize | openblas(ms) | mkl(ms) | mkl/openblas | openblas-ms
-- | -- | -- | -- | --
2 | 5.35 | 3.17 | 0.592523364 | 2.18
4 | 5.37 | 3.07 | 0.5716946 | 2.3
8 | 6.43 | 3.56 | 0.553654743 | 2.87
16 | 7.22 | 4.47 | 0.619113573 | 2.75
32 | 9.11 | 6.55 | 0.718990121 | 2.56
64 | 12.62 | 10.12 | 0.801901743 | 2.5

多核测试

bs              | MKL                     | MKL

[2018-07-19 04:26] HugoLian commented on #12209
@luotao1
feed_part = paddle.layer.fc(input=[feed_attention_fc， feed_cid_fc, feed_pid_fc], size=32, act=paddle.activation.Tanh(), param_attr=param_feed)
这种拼接方式，CPU训练没有问题，GPU不支持，这个是我这边的现象，但是你说程序逻辑CPU也不支持这种拼接？

[2018-07-19 04:40] Bella-Zhao opened #12239 "paddle_matrix_get_row可能存在内存泄露？"
我用paddle-capi搭建了预测服务，在线上运行时发现内存泄露。排查后，定位到代码以下：
[code]

内存泄露疑似出现在代码中的```paddle_matrix_get_row(relu, h, &relu_arr)```这句话。
看了下该函数的实现，每调用一次会把relu用memcpy到一块缓存存着，那么随着我的预测服务的运行，内存会越来越大？不知道是否理解正确？

请问如何释放掉呢？

[2018-07-19 05:07] guoshengCS commented on #12239
看了下这个`paddle_matrix_get_row`是从`relu`中取出第`h`行的地址放到`relu_arr`里，感觉不太会进行memcpy，也没看到有memcpy的地方，或者能否把相应的代码贴一下

[2018-07-19 05:22] typhoonzero opened #12241 "fluid.layers.open_files will cause memory leak if filenames contains non-exist file."
[code]

use reader op to run training, when the `filenames` list contains non-existing file, it will eat all memory and crash before the training starts.

[2018-07-19 05:35] qingqing01 commented on #12214
@codeWorm2015  不太了解你的训练任务，我们在物体检测模型MobileNet-SSD的训练中，如果只有一条样本的，就跳过了，因为数据会shuffle，跳过这些数据不影响训练。 参考:

https://github.com/PaddlePaddle/models/blob/develop/fluid/object_detection/train.py#L158

另外，较新develop分支，BatchNorm Op的代码里处理了这种情况。

[2018-07-19 05:39] #8952 closed

[2018-07-19 05:39] Bella-Zhao commented on #12239
[code]

[code]
[code]
[code]
[code]

@guoshengCS 源码片段，请看一下，谢谢。

[2018-07-19 05:40] #9014 closed

[2018-07-19 06:15] guoshengCS commented on #12235
这个貌似是权限问题，直接`import   rarfile`应该也会报错同样的错误，可以使用user的python和pip重新安装下rarfile这个包试下

[2018-07-19 07:05] qingqing01 opened #12245 "IfElse Layer failed in some case."
[code]

Above code failed:

[code]

[2018-07-19 07:06] kolinwei commented on #11851
问题还会出现

[2018-07-19 07:07] kolinwei commented on #12038
问题还会出现

[2018-07-19 07:09] kolinwei commented on #11880
问题还会出现

[2018-07-19 07:14] seiriosPlus opened #12248 "Add unit tests about text classification on Distributed Fluid"
Will add 1 pserver and 1 trainer unit test.
Will add 2 pservers and 2 trainers unit test.

[2018-07-19 07:23] seiriosPlus opened #12249 "Add unit tests about accuracy verification on Distributed Fluid"
Will add the unit test to verify accuracy between standalone training and cluster's training.

[2018-07-19 07:29] #10118 closed

[2018-07-19 07:52] tensor-tang commented on #12192
Thanks @emfomenk , following your suggestions would make my concerns much more clear.

That's a tough option.

a. Then how about the iomp? We should always keep iomp is linked for MKL-DNN right? I thought this would also affect the other convolution implementations, like AVX512 conv.  What if we link paddle with the 3 libs and iomp, but MKL-DNN only with iomp, then does AVX512 conv work fine? does

[2018-07-19 07:53] velconia commented on #11851
辛苦详细描述下具体复现方法

[2018-07-19 08:08] chengduoZH opened #12252 "The current implementation of multi-threads(CPU)'s Reduce mode is problematic."
Currently, ParallelExecutor supports CPU multi-threads which has two modes, AllReduce and Reduce.

In AllReduce mode, all the parameter(trainable and no-trainable) are copied into different scopes, those scopes are held by multi-threads separately. During the training, if we can ensure that all the parameters' gradient value are the same, the training process can be considered no problem.

In Redu

[2018-07-19 08:16] liangyz23 opened #12255 "Fluid运行在GPU模式下，NCE不支持"
https://github.com/PaddlePaddle/Paddle/issues/11796 中提到如果运行在GPU模式下，某些不支持GPU的OP，可以自行运行在CPU上，复制过程不需要用户干预，但我在运行的时候，用到NCE，会报paddle.fluid.core.EnforceNotMet: op nce does not have kernel for data_type[float]:data_layout[ANY_LAYOUT]:place[CUDAPlace(1)]:library_type[PLAIN] at [/paddle/paddle/fluid/framework/operator.cc:640]
如果把GPU换成CPU就不会报错，所以觉得应该还是不支持GPU所致。
请教下怎么设置能让不支持GPU的layer单独在CPU模式下运行，其他的layer在GPU上呢

[2018-07-19 08:44] Emma-Ding opened #12257 "soft relu就是leky relu吗"
请问一下soft relu就是leky relu吗？
![8f74d2bdf14810c119594fc6346255db](https://user-images.githubusercontent.com/22070158/42931734-0780fd14-8b73-11e8-8028-f66990a8e208.png)

[2018-07-19 08:55] guoshengCS commented on #12257
Paddle中softRelu的计算是`f(x) = log(1+exp(x))`，查了下leakyRelu的是`f(x)=alpha * x for x < 0, f(x) = x for x>=0`，这个Paddle好像还没有

[2018-07-19 09:12] Yancey0623 commented on #11880
@kolinwei 还是一样的日志么？

[2018-07-19 09:15] chengduoZH commented on #12252
This is a related PR #12124, in this PR, we do not share the `@LR_DECAY_COUNTER@` manually.

[2018-07-19 09:51] guoshengCS commented on #12239
看了下，貌似是不会调用上面贴图中的这个`getRow`方法的，贴图里的`getRow`是`SparseAutoGrowRowCpuMatrix`中的函数
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/legacy/math/SparseRowMatrix.h#L24 5，而`relu`中的`mat`并不是`SparseAutoGrowRowCpuMatrix`类型的实例，`relu`中的`mat`会在调用`paddle_arguments_get_value`进行设置
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/legacy/capi/Arguments.cpp#L65

[2018-07-19 09:52] kolinwei commented on #11851
cloud上 id为job-e6c5b4ddf62489d6的作业

[2018-07-19 09:56] #12197 closed, assigned to Superjomn, shanyi15

[2018-07-19 10:53] #5366 closed

[2018-07-19 12:38] JiayiFeng opened #12260 "Learning rate scheduler performance issue"
In our current learning rate scheduler implementation, the `learning rate` is a CPU scalar variable. It results in a problem that every time a parameter is updated, Fluid has to launch a kernel to copy the `learning rate` scalar to GPU. It is extremely inefficient.

[2018-07-19 15:21] #12252 closed, assigned to nobody

[2018-07-19 20:56] emailweixu commented on #12141
Changing to the following code should make it work. Though it not clear to me why we need the step of converting to kwargs.

[code]

[2018-07-20 01:33] qingqing01 commented on #12245
There is  still other bug:

[code]

https://paddleci.ngrok.io/viewLog.html?buildId=2314&buildTypeId=Paddle_PrCi&tab=buildLog

[2018-07-20 01:51] Yancey0623 commented on #11880
之前的fix是RPC的超时还会主动报错并退出，但不会有core dump了，也就是不会有
[code]

这行日志以及程序执行目录下的`core.xxx`文件。

[2018-07-20 01:54] luotao1 commented on #12245
The same error to me in some CIs.

[2018-07-20 02:06] qingqing01 commented on #12245
@luotao1 you can disable this unit test. I'll fix it later.

[2018-07-20 02:11] xiaolv3366 opened #12263 "Paddle如何实现L1正则化"
Paddle实现L2正则化：
optimizer = paddle.optimizer.AdaGrad(
        learning_rate=1e-1,
        regularization=paddle.optimizer.L2Regularization(rate=1e-3))
如何实现L1正则化？

[2018-07-20 02:27] xiaolv3366 commented on #12018
paddle-onnx转换连自家的Paddle Fluid模型都不支持？这不奇怪吗！

[2018-07-20 02:50] jacquesqiao commented on #12255
nce_op有个地方需要修改一下，告诉框架这个op只支持cpu kernel。我们update一下
https://github.com/PaddlePaddle/Paddle/blob/6c981e7d3c80bbffd5064d1db35271e1e2a6cddd/paddle/fluid/operators/nce_op.cc#L173-L177

[2018-07-20 03:11] JiayiFeng commented on #12018
onnx不是paddle的项目，是由facebook和微软主导的。onnx本身还不支持任何lookup table的操作，转换器自然也就无法实现这类操作的转换。
onnx目前支持的操作列表：https://github.com/onnx/onnx/blob/master/docs/Operators.md

[2018-07-20 03:15] cjld commented on #8130
It seems that the backward propagation of the slice operator is not implemented.
A minimum example that is a modificate version of paddle book by adding a single slice op:

[code]
Which yield:
![image](https://user-images.githubusercontent.com/4838354/42981123-3b83bea4-8c0d-11e8-8276-e68ee86c3ec1.png)
Expect:
![image](https://user-images.githubusercontent.com/4838354/42981159-630067ca-8c0d-11e8-99

[2018-07-20 03:39] smilefufu opened #12267 "pipenv install paddlepaddle fail"
![image](https://user-images.githubusercontent.com/4025427/42981768-7ee13dea-8c10-11e8-832c-e26baed8672d.png)
Install fail on my macbook-pro. pip version 10.0.1, python version 2.7.14.
Seems like paddlepaddle don't support pip 10?

[2018-07-20 04:29] mzchtx opened #12268 "Anakin 预测问题"
### Anakin 预测问题
1. 当前 Anakin 已 release 版本为 [0.1.0](https://github.com/Shixiaowei02/Anakin/releases/download/v0.1.0/v_0_1_0.tar.bz2)，而 Paddle 当前使用为临时的 [2.0.1](https://github.com/pangge/Anakin/releases/download/3.0/anakin_release_simple.tar.gz) 版本。
2. 当前依赖的 Anakin 为动态库和头问题，而不是联编。
3. 使用 Anakin 预测的结果会变，为 CUDA 同步问题，在预测[这里](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/a

[2018-07-20 04:31] wanghaoshuang commented on #12263
请参考这里： https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/regularizer.py#L170

[2018-07-20 04:34] chengduoZH commented on #11993
@VictorZhang2014 Have you resolved this error?

[2018-07-20 04:36] NHZlX opened #12269 "Minor enhancement for tensorrt op converter of fluid inference."
- argument not be inited.
	- https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tensorrt/convert/ut_helper.h#71
-  The value of random initialization is too large, which can cause test failure.
	- https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tensorrt/convert/ut_helper.h#L42

- We should not set the batch size in ITensor.
- Refine the action, fc

[2018-07-20 04:36] chengduoZH commented on #11997
该问题原因已找到，下一步是想办法检测环境与安装包是否匹配，现已有相关issue #12021。

[2018-07-20 04:36] #11997 closed, assigned to chengduoZH

[2018-07-20 04:37] chengduoZH commented on #11988
@chaos-dd 关于这个issue还有其他问题吗？

[2018-07-20 04:38] chengduoZH commented on #11475
该issue长时间没有回复，暂且关闭了，如需继续讨论可再打开。

[2018-07-20 04:38] #11475 closed, assigned to chengduoZH

[2018-07-20 04:41] chengduoZH commented on #11444
This issue is inactive for a long time, temporarily close it, if you still have doubts, please feel free to reopen.

[2018-07-20 04:41] #11444 closed

[2018-07-20 04:42] chengduoZH commented on #11225
The mission of this issue has completed.

[2018-07-20 04:42] #11225 closed

[2018-07-20 04:44] Superjomn commented on #12268
@pangge 可以帮看看这个问题

[2018-07-20 04:45] chengduoZH commented on #11477
@joodo @cbstyle 你们在docker里面也会出现这种问题吗？

[2018-07-20 04:52] daming-lu opened #12270 "如何有效查看 LoDTensor 的内容？"
比如一个 LODTensor 如下

[code]
如何查看 `data['img']` 的数据？ 谢谢 😁

[2018-07-20 06:46] liangyz23 commented on #12255
那我这边需要重新安装paddle吗？

[2018-07-20 06:52] Bella-Zhao commented on #12239
@guoshengCS
看了下源码，确实调用的不是这个函数。
已定位内存泄露的问题，是由我自己的代码产生。
谢谢。

[2018-07-20 06:52] #12239 closed, assigned to nobody

[2018-07-20 07:13] #12031 closed, assigned to Superjomn

[2018-07-20 08:20] chenbblei opened #12276 "定义的paddle.data_type.dense_array怎么feed"
audio_data = paddle.layer.data(
            name="test",
            type=paddle.data_type.dense_array(162,1))

怎么feed这个变量，有没有示例

[2018-07-20 08:27] wanghaoshuang opened #12277 "Paddle 预测 API页面死链接"
这个页面里的‘详细代码参考’章节给的两个例子都是死链接：
http://www.paddlepaddle.org/docs/0.14.0/documentation/fluid/zh/new_docs/user_guides/howto/inference/native_infer.html#permalink-4--

[2018-07-20 08:34] wanghaoshuang opened #12278 "官方文档下载文件页面需添加md5校验"
建议为这个页面提供下载的tar文件添加md5验证，以便用户检验下载是否正确。
http://www.paddlepaddle.org/docs/0.14.0/documentation/fluid/zh/new_docs/user_guides/howto/inference/build_and_install_lib_cn.html#permalink-1--

[2018-07-20 08:40] wanghaoshuang opened #12280 "官网CAPI文档版本不明确"
官网CAPI文档版本不明确
从当前页面，只能看出这是0.14.0版本的文档，但是无法直观分辨是fluid API还是V2 API.
http://www.paddlepaddle.org/docs/0.14.0/documentation/zh/howto/capi/workflow_of_capi_cn.html

[2018-07-20 08:42] yeyupiaoling opened #12282 "flowers那个数据接口的训练集和测试集分别是多少数据？"
在一个优化方法中，需要知道训练集有多张图片，我使用的是这个接口，flowers这个数据一共有8189张，这个接口在生存reader的时候是安装什么比例分成训练集和测试集的？

https://github.com/PaddlePaddle/Paddle/blob/b42ced8edab119b2a7b97cc7e235ed38dd26c6bc/python/paddle/v2/dataset/flowers.py#L134-L160

[2018-07-20 08:43] yeyupiaoling commented on #12276
@chenbblei 如果是图片，那么name为image，type就是他的图片大小，

[2018-07-20 08:45] shanyi15 commented on #12277
请@luotao1 和@ Superjomn 提供一下这两处最新的链接
![image](https://user-images.githubusercontent.com/35982308/42992814-41ad1666-8c3c-11e8-964a-8a4407467929.png)

[2018-07-20 08:47] yeyupiaoling commented on #12267
@smilefufu Mac要在编译哦，http://www.paddlepaddle.org/docs/0.14.0/documentation/fluid/zh/new_docs/beginners_guide/install/install_doc.html#macospaddlepaddle

[2018-07-20 08:48] shanyi15 commented on #12280
目前官网的文档，fluid的文档在路径里会带**fluid**
http://www.paddlepaddle.org/docs/0.14.0/documentation/fluid/zh/new_docs/user_guides/howto/inference/native_infer.html
而v2文档则不带
http://www.paddlepaddle.org/docs/0.14.0/documentation/zh/howto/capi/index_cn.html
可以把v2的文档改成路径里带v2，辛苦@jetfuel看一下可行性

[2018-07-20 08:49] yeyupiaoling commented on #12235
这个应该是权限不够，用root试试

[2018-07-20 08:53] shanyi15 commented on #12278
请文档作者 @Superjomn 看一下

[2018-07-20 08:59] yeyupiaoling commented on #12050
@guochaorong
看来PaddlePaddle支持Python3指日可待了。

[2018-07-20 09:00] githwd2016 commented on #12235
使用sudo python 运行程序的话是没问题的，但是这样就需要把程序包装到系统目录下，有没有可以用用户身份运行的办法

[2018-07-20 09:02] velconia commented on #12050
[We have supported Python3 installation](https://github.com/PaddlePaddle/Paddle/issues/12040) now. PaddlePaddle for Python3 could be installed via ```pip3 install paddlepaddle``` or ```pip3 install paddlepaddle-gpu```.

Seems this issue could be closed.

[2018-07-20 09:16] luotao1 commented on #12277
#12229 修复了develop版本，未修复0.14.0版本。

[2018-07-20 09:26] #11539 closed, assigned to nobody

[2018-07-20 09:27] yeyupiaoling opened #12284 "pip提供的包版本跟文档的不一样"
在文档http://www.paddlepaddle.org/docs/0.14.0/documentation/fluid/zh/new_docs/beginners_guide/install/install_doc.html#linuxpaddlepaddle 的文档是说默认的是cuda9.0，cudnn7.0的
![image](https://user-images.githubusercontent.com/26297768/42994901-fe3d0c3c-8c41-11e8-9b53-27c02845357f.png)

但是实际我看到的不是这样的
https://mirrors.aliyun.com/pypi/simple/paddlepaddle-gpu/
![image](https://user-images.githubusercontent.com/26297

[2018-07-20 09:52] yeyupiaoling opened #12285 "在Fluid版本训练的时报以下错误，是不是显卡的问题？"
我安装的是cuda9.0和cudnn7.0，我看文档以为默认安装的是0.14.0.post97的，谁知道是post87的，那么以下的错误是这个问题吗，cuda我整整装了3天。不想在重装了。

我在使用V2版本训练一个手写数据那个例子的时候meiyou错，GPU能够正常使用。

Fluid版本就不行了，以下的错误是训练这个代码的，https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification
[code]

[2018-07-20 10:01] dzhwinter commented on #12245
Meet the same one..

[2018-07-20 10:35] oraoto commented on #12282
数据集已经分成了在训练集`paddle.dataset.flowers.train`、测试集`paddle.dataset.flowers.test`、验证集`paddle.dataset.flowers.valid`。

可以这样看一个reader有多数据：

[code]

[2018-07-20 10:47] typhoonzero commented on #12038
dup: https://github.com/PaddlePaddle/Paddle/issues/11851

[2018-07-20 10:59] wanghaoshuang commented on #12285
显存超限，其它任务占用的当前显卡导致的。

[2018-07-20 11:08] wanghaoshuang commented on #12276
`dense_array` 本质上和 `dense_vector`一样： https://github.com/PaddlePaddle/Paddle/blob/43d69818c0a962973e2035827a0fa1422c363dde/python/paddle/trainer/PyDataProvider2.py#L183

所以你可以参考`dense_vector`相关的例子: https://github.com/PaddlePaddle/models/search?q=dense_vector&unscoped_q=dense_vector

[2018-07-20 11:17] typhoonzero commented on #12284
`==0.14.0` 对应cuda9
`==0.14.0.post87` 对应cuda8 cudnn7
`==0.14.0.post85` 对应cuda8 cudnn5

是这样的，您遇到什么问题了呢

[2018-07-20 14:16] yeyupiaoling commented on #12282
@oraoto 好的，谢谢，你是怎们看出来的，我怎么没看出来。

[2018-07-20 14:20] yeyupiaoling commented on #12284
@typhoonzero 你骗人！我在训练的时候遇到了这个问题，#12285

[2018-07-20 14:20] yeyupiaoling commented on #12285
@wanghaoshuang

是上面这句话看出来的吗？你是怎么知道的呢？

[2018-07-20 16:18] oraoto commented on #12282
[文档](http://paddlepaddle.org/docs/0.14.0/api/en/data/dataset.html)里有其他数据集，数据集接口基本都是这样设计的，自动补全一下就看到了。

[2018-07-21 01:51] typhoonzero commented on #12284
没有版本号是`post97`，0.14默认是基于cuda9的，需要指定安装版本为`pip install paddlepaddle-gpu==0.14.0` pip 自动选择的版本会根据上传时间决定。

[2018-07-21 02:29] #12276 closed, assigned to nobody

[2018-07-21 04:40] jayxio opened #12287 "如何指定所需优化parameter的初始值？"
想请教大家，我刚开始使用paddlepaddle，想自己构建计算图，并且优化目标w矩阵需要设定一个指定的初始值，不知道用哪个函数可以设置初始值。
- [ ] `paddle.fluid.layers.create_parameter`，这个应该是要用的API，比较底层，但是不知道怎么设置特定的初始值，而且我希望能使用numpy来初始化这个参数。
- [ ] Paddle里面自己定义优化目标函数的计算图需要哪些必要条件满足才能`exe.run(...)`，不是很懂画计算图，或者有合适的学习资料，请大神门指点一下。

[2018-07-21 06:22] oraoto commented on #12287
1. 参数初始化可以通过[ParamAttr](http://paddlepaddle.org/docs/0.14.0/api/fluid/en/param_attr.html)的initializer指定，要用numpy初始化可以自己实现initializer:

[code]

测试：

[code]

[2018-07-21 08:13] liyaoshun opened #12288 "使用paddle怎么实现FCN"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-07-21 09:33] chenbblei opened #12289 "paddle 的底层矩阵乘法等算法，如矩阵相乘，矩阵乘加，LSTM,GRU,RNN等C代码源码在哪个文件里面"
如题，V2版本的CPU的代码以及GPU的代码都告诉一下，谢谢

[2018-07-21 10:25] yeyupiaoling commented on #12285
@wanghaoshuang

是内存不足的问题吗？我在使用V2训练手写数字识别的时候没用问题哦。

@typhoonzero 你看这个与我的显卡有关吗？

[2018-07-21 12:00] Yancey0623 opened #12291 "Make test_dist_se_resnet work properly"

[2018-07-21 15:28] yeyupiaoling commented on #12285
@wanghaoshuang
如果是V2版本的话，内存不足应该是报以下的错误的。
[code]

[2018-07-21 16:53] jayxio commented on #12287
学习到了，感谢！

[2018-07-21 16:53] #12287 closed, assigned to nobody

[2018-07-22 02:32] Emma-Ding opened #12293 "多个loss，如何设置权重，如何在训练时查看各个loss的收敛情况"
多个loss， 在traner_config.conf里面的配置如下
[code]

请问如何设置每个loss的权重，以及如何查看训练时各个loss的收敛情况?

[2018-07-22 06:59] yeyupiaoling commented on #12282
@oraoto 好的，谢谢您。

[2018-07-22 06:59] #12282 closed, assigned to nobody

[2018-07-22 07:57] #12267 closed, assigned to nobody

[2018-07-22 09:31] yeyupiaoling opened #12294 "在图片分类中，Fluid版本会输出两个准确率，我该相信那个呢？"
比如下面是一个训练的过程
[code]
输出的有两个准确率，分别是`acc1`和`acc5`，他们的差距还是有点大的，那我使用哪个来判断这个模型训练的效果呢？
[code]

[2018-07-22 09:40] oraoto commented on #12294
这要看你的fetch_list里有哪些变量，还有它们的定义是什么吧？

[2018-07-22 09:59] yeyupiaoling commented on #12294
@oraoto
在这里，有什么区别吗？
https://github.com/PaddlePaddle/models/blob/develop/fluid/image_classification/train.py#L162
[code]

[2018-07-22 10:14] yeyupiaoling commented on #12285
@wanghaoshuang 的确是内存问题。谢谢您的回答。

[2018-07-22 11:26] oraoto commented on #12294
Top k Accuracy是指取模型最可能的k分类作为预测结果，只要k个中有一个是正确的就算分类正确，例如ImageNet的比赛就通常用Top 1和Top 5。

[2018-07-22 12:36] yeyupiaoling commented on #12294
@oraoto 哦哦，有点明白了，目前好像更多人是说Top 5的吧。谢谢您的解答。

[2018-07-22 12:36] #12294 closed, assigned to nobody

[2018-07-22 12:37] yeyupiaoling commented on #12284
@typhoonzero 打扰了打扰了，应该是正常的，可能是我机器的问题。

[2018-07-22 12:37] #12284 closed, assigned to shanyi15

[2018-07-22 17:04] jayxio opened #12296 "PaddlePaddle的control_flow问题"
请问`array should be tensor array vairable`是什么错误？
[code]
报错：
TypeErrorTraceback (most recent call last)
<ipython-input-4-a7124c9a750e> in <module>()
      3 #array = fluid.layers.lod_tensor_to_array(tmp,table)
      4 i = fluid.layers.fill_constant(shape=[1], dtype='int64', value=10)
----> 5 arr = fluid.layers.array_read(tmp, i=i)

/usr/local/lib/python2.7/dist-packages/paddle/fluid/layers/control_f

[2018-07-23 00:34] yeyupiaoling commented on #12285
@wanghaoshuang 之前在服务器测试是显存问题，但是今天在本地测试了以下，好像不是显存问题，因为不管我如何减小batch_size，都是一样的错误。

显卡信息：
[code]

cuda和cudnn的版本：
[code]

cuda单元测试：
[code]

paddle的版本
[code]

为了验证是不是显存是不是不足，我测试了一个更小的程序：
[code]

报错信息如下：
[code]

[2018-07-23 01:47] dzhwinter opened #12298 "lr decay hit memory optimize bug"
[code]
 It was caused by the memory optimizer reused the if-else sub-block variables. In the past, it didn't happen because we put all the lr related variables in CPU, which will be skipped in memory optimize.

[2018-07-23 01:57] wanghaoshuang commented on #12285
根据你贴的信息，你本地可用显存只有`539MiB /  1994MiB`, 很容易导致显存不足任务失败；你可以试着设置下`FLAGS_fraction_of_gpu_memory_to_use=0`, 这个选项应该可以一定程度上缓解显存不足问题，但是也不能保证一定成功。

[2018-07-23 02:13] mzchtx opened #12300 "paddle_inference_api.h 中 Anakin 相关问题"
### paddle_inference_api.h 中 Anakin 相关问题
1. 是否可以提供统一预测 API [paddle_inference_api.h](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/paddle_inference_api.h) 中常见模型使用 Anakin 预测的 performance benchmark。
2. 是否能够提供 Anakin 支持的 GPU list（P4，K1200？）。

[2018-07-23 02:47] seiriosPlus commented on #12163
I will add a test case for ```text_classification```:
 test for 1pserver and 1trainer case
 test for 2pservers and 2trainers case

I will add a test case for ``` strict accuracy alignment ```.

[2018-07-23 02:59] yeyupiaoling commented on #12285
@wanghaoshuang
`FLAGS_fraction_of_gpu_memory_to_use=0`这个在哪里设置呢？
我在V2版本也是使用GPU，完全没有问题的，是训练CIFAR10数据，都没问题。

[2018-07-23 03:11] wanghaoshuang commented on #12270
可以参考这个文件里注册的各种方法：`https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/pybind/pybind.cc`

[2018-07-23 03:13] JiayiFeng commented on #12293
我可以给一些建议，但因为v1接口太过久远我自己也没有用过……所以可能使用上还是会有一些问题

1. 如何添加多个loss？ 在V2 api中，loss可以是一个list，将所有要做优化的lost都加到这个list里去就可以了。因为v1和v2使用的是同一个内核，应该是类似的方法。

2. 如何为各个loss设置不同的权重？ 很多cost layer有个`coeff`参数来表示自身在反向传播中的权重，这是一个float值，默认为1.0

3. 如何查看？  是否可以将他们直接打印出来呢？

如果可能的话，还请尽量迁移至最新的Fluid版本，我们未来的支持方向都会在这上面，V1 V2可能会逐渐减少~

[2018-07-23 03:17] oraoto commented on #12270
LoDTensor可以用`numpy.array()`查看。

[2018-07-23 03:55] yeyupiaoling opened #12302 "如何只是仅仅通过CNN获取图片特征呢？"
我设想了下面这个程序，好像拿不了图片的特征。我想做人脸对比，要怎么做呢？
[code]

[2018-07-23 04:09] luotao1 commented on #12134
在 @lgone2000 的机器上复现问题了。该机器使用了`python-gcc482-paddle`：
[code]
异常现象：使用dlopen后，不应该出现最后一行的`libmklml_intel.so => XXX`了。

目前的临时解决方案：
[code]

猜测：iomp5的问题。 @tensor-tang

[2018-07-23 04:26] jacquesqiao commented on #12296
array_read的输入应该是一个lod_tensor_array，你现在创建的是一个普通的lod_tensor

[2018-07-23 04:30] xiebaiyuan opened #12303 "请问是否对mobilenet模型进行测试过？ 能否提供一个可供测试的mobilenet模型？"
请问是否对mobilenet模型进行测试过？ 能否提供一个可供测试的mobilenet模型？

[2018-07-23 04:56] baiyfbupt opened #12304 "使用Fluid对图像变长数据多次训练/预测存在的问题"
Fluid构建一个网络分为两个过程：`compile time`和`run time`
1. 对于变长数据的预测过程可以分为以下两步：
`Compile time`过程Fluid根据Python输入data_const的shape计算得到`ProgramDesc`,根据输入data的shape计算得到各个Var的shape
`Run time`根据实际feed的data_real进行计算，如果输入是变长数据，data_real与data_const的shape不同，可能会引起一些op的错误
2. 已经发现的问题
目标检测相关的一些Reshape API使用的是输入`Compile time`的shape，所以在输入变长数据时会出错
ReshapeOp相关的一些：
https://github.com/PaddlePaddle/Paddle/blob/9e0a94f069329b430d08

[2018-07-23 04:56] NHZlX commented on #12303
模型配置参考这里：
https://github.com/PaddlePaddle/models/blob/develop/fluid/image_classification/models/mobilenet.py

[2018-07-23 05:01] xiebaiyuan commented on #12303
好的。多谢！
我试试

[2018-07-23 05:04] luotao1 commented on #12134
@lgone2000 发现他的LD_LIBRAYR_PATH 里面有一个其他版本的libiomp5.so，删掉后 ，就可以正常跑了。 目前看不是paddle的问题。

[2018-07-23 05:04] #12134 closed, assigned to nobody

[2018-07-23 08:42] jacquesqiao commented on #12302
`回去`是啥意思？

[2018-07-23 08:44] yeyupiaoling commented on #12302
@jacquesqiao 不好意思，打错字。我的需求是对比两张人脸图片的特征嘛，就是想先通过CNN获取图片的特征，再进行对比嘛。

[2018-07-23 09:19] JiayiFeng commented on #12241
This issue has been fixed by https://github.com/PaddlePaddle/Paddle/pull/12149

[2018-07-23 09:19] #12241 closed, assigned to JiayiFeng

[2018-07-23 09:32] #4572 closed

[2018-07-23 09:33] ktlichkid commented on #10743
It seems the issue still exists. Could you please also run this unittest after you merged your conditional block PR? THX! @qingqing01

[2018-07-23 09:34] #5754 closed

[2018-07-23 09:34] #5753 closed

[2018-07-23 09:35] #6578 closed

[2018-07-23 09:37] #7380 closed

[2018-07-23 10:08] deerlu opened #12308 "paddle/fluid/inference/api/api.cc中new delete语句不匹配"
data_变量使用的new和delete语句不匹配。
https://github.com/PaddlePaddle/Paddle/blob/9c0fad4764b5834e8f03d511a8752d23c3311400/paddle/fluid/inference/api/api.cc#L56
https://github.com/PaddlePaddle/Paddle/blob/9c0fad4764b5834e8f03d511a8752d23c3311400/paddle/fluid/inference/api/api.cc#L71

[2018-07-23 11:22] yingfeng opened #12311 "Why not use lookup table in SelectedRows?"
I notice that the implementation of SelectedRows is a kind of Key-Value map actually as follows:

`
Vector<int64_t> rows_;
`
`
std::unique_ptr<Tensor> value_{nullptr};
`

together with corresponding typical map operations:

`
std::vector<std::pair<int64_t, int64_t>> Get(const std::vector<int64_t>& keys,ramework::Tensor* value) const;
`
`
bool Set(int64_t key, const Tensor& value);
`
However, all `

[2018-07-23 11:34] jacquesqiao commented on #12311
Yes, we already have a plan to optimize this part.

[2018-07-23 12:00] jacquesqiao opened #12314 "paddlepaddle-latest-cp27-cp27m-macosx_10_12_x86_64.whl can not install on mac"
invalid package name

[2018-07-23 12:50] velconia commented on #12314
@panyx0718, seems that ```latest``` is a invalid name for pip, we should follow [PEP 440](https://www.python.org/dev/peps/pep-0440/) to give it a ```version```, so maybe i'll change the version of ```develop``` branch back to v0.12.0 later

[2018-07-23 13:00] #12117 closed, assigned to baiyfbupt

[2018-07-23 13:15] panyx0718 commented on #12314
Perhaps 0.0.0 is better than 0.12.0? 0.0.0 means it's not quite stable

[2018-07-23 13:16] velconia commented on #12314
OK, I will put 0.0.0 to it

[2018-07-23 13:30] panyx0718 opened #12316 "average gradient after sum instead of dividing loss by the number the cards"
Currently, we scale the gradients to 1/n, where n is the number of gpu cards.
In n cards case, all gradients is 1/8, potentially leading to gradient vanishing, especially in low numerical precision training.

I suggest we keep the gradients at original scale when calculating gradients at each card.
We first sum the gradients of all cards, then divide the gradients by the number of cards

[2018-07-23 13:32] jacquesqiao commented on #12302
https://github.com/PaddlePaddle/models/tree/develop/fluid/face_detection 这里有个人脸识别的模型，要不参考一下？

[2018-07-23 13:34] yeyupiaoling commented on #12302
@jacquesqiao 好的，谢谢。

[2018-07-23 13:48] sherlockjin commented on #8749
解决了吗

[2018-07-23 16:25] bigshipbig opened #12318 "Paddle_v2是否支持强化学习训练"
问问各位大大，paddle_v2支持强化学习的训练么？
想训练一个DQN的网络有相应的demo么

[2018-07-24 00:28] yeyupiaoling commented on #12285
@wanghaoshuang
我在使用V2版本训练CIFAR-10数据集的时候也没有错，显卡能正常使用，如下：
[code]

[2018-07-24 01:05] hanjing5024064 commented on #12079
good work

[2018-07-24 01:07] yeyupiaoling commented on #12285
@wanghaoshuang
Fluid版本很耗显存吗？同样的数据集102flowers，我在V2版本下，当batch_size为1的时候，能正常训练。
但是在Fluid版本下，同样的设置，还是会报错。就是这个行代码报错。
[code]

[2018-07-24 01:07] hanjing5024064 commented on #12079
mac 编译是我遇到了如下问题：
collect2: ld terminated with signal 9 [Killed] 
这个是磁盘空间不足造成的，你的硬盘要有30G+的空余空间。

[2018-07-24 03:28] gongweibao opened #12325 "Transpile interface need to be polished"
Pserver needn't to know and can't know trainer_id when call tranpile.
[code]

[2018-07-24 03:38] gongweibao opened #12326 "Union env variables with paddlecloud"
Env vairables changed many versions, there has been no uniformity. And the now version is:
[code]

And the https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/dist_se_resnext.py#L336 use argsments.

1. We need use one method to set these parameters.
2. We need to unify with paddlecloud.
3. If we use task_id, the parameters above can be simpified:
[code]

[2018-07-24 03:41] yjj19920505 commented on #8749
恩，解决了啊

[2018-07-24 03:42] #12303 closed, assigned to NHZlX

[2018-07-24 04:34] #12314 closed, assigned to velconia

[2018-07-24 04:44] #12298 closed, assigned to nobody

[2018-07-24 05:24] reyoung opened #12327 "Python API to estimate memory usage of a program with a batch size."
Since shapes of all variables are inferred in our program at compile time, we can write a utility to guide user set the appropriate batch size to fully utilize a GPU.

[2018-07-24 06:05] typhoonzero commented on #12325
I think we are moving on to using the IR representation, better to think of another user API, like:

[code]

We have passed `num_trainers` and `trainer_id` to parallel exe currently, can do transpile in the IR pass if `num_trainers > 1`, together with the environment variables.

[2018-07-24 06:19] yeyupiaoling opened #12329 "Fluid版本应该如何使用多个CPU"
在V2版本中，如果我要设置多个CPU一起训练的话，我只要在初始化的时候指定就行，当然我是有多大指定多大的。
[code]

那么在Fluid版本中应该如何指定使用CPU的数量呢，我想全部使用机器的CPU。

[2018-07-24 08:24] yjj19920505 commented on #10992
有办法的呀，我做层次化分类的时候就把多个分类写在一个模型里边进行预测了

[2018-07-24 08:25] yeyupiaoling commented on #10992
@yjj19920505 你怎样做到的？

[2018-07-24 08:41] yjj19920505 commented on #10992
比如说，我定义了网络1和网络2，那就分别会有两个cost以及两个output：cost1和cost2，cost_list = [cost1， cost2]，然后用这个cost列表定义参数parameters = paddle.parameters.create(cost_list)。
训练的时候依然是单独训练，可以得到两个网络的参数（每个网络各层定义得有unique标志）。
在预测的时候，首先把这两份参数载入，之后根据key一一对应赋值到parameters 里边，
接着我们为每个output定义一个inferer，参数都是共享的这个parameter，output_layer则是需要的output，
 inferer = paddle.inference.Inference(
                    output_layer=output_dict[output_key]

[2018-07-24 08:49] Naruto-Sasuke opened #12333 "训练时全图读入（大小不一），使用batchsize=1，如何实现？"
在官网的教程中，全部是固定大小的，例如（N*3*224*224)，那么我要进行全图输入（不进行任何resize和crop）。我输出的是也是一个图片。不过网络中有pool，所以这个输出的图片大小也是变化的。如何实现？

[2018-07-24 08:55] Yukizzz opened #12334 "多目标任务，其中一个目标未被标记怎么处理"
现在想实现一个多目标的任务，像这个issue中提到的
https://github.com/PaddlePaddle/Paddle/issues/4191
但是比如数据中存在两个目标中一个目标没有标注的情况，此时应该是按照被标注目标的cost计算的，请问怎样在网络配置中处理某个label并不存在的情况？或者说怎么给一条数据加一个标记，然后选择性的走某些层？

[2018-07-24 09:06] guochaorong opened #12335 "test_parallel_executor_mnist 等单测 random fail"
下面这几个单测会random fail， 基本上所有rd都碰到过， 只能多重试几次。造成 CI 队列拥塞，严重影响开发效率

<img width="420" alt="33" src="https://user-images.githubusercontent.com/32069604/43128169-d73af480-8f63-11e8-9d6c-262d772fc094.PNG">

https://paddleci.ngrok.io/viewLog.html?buildId=2036&buildTypeId=Paddle_PrCi&tab=buildLog

[2018-07-24 09:16] oraoto commented on #12333
一个实现的方法是为不同大小的输入都定义一个Program/网络，网络间共享全部的参数。

[code]

训练的时候根据输入大小选择对应的输入输出变量和Program即可。

比较麻烦:(，希望有更好的方法。

[2018-07-24 09:21] yeyupiaoling opened #12336 "Fluid版本该如何批量预测图片数据"
下面是一个预测图片的代码片段，可能这个方式比较久远的，但我现在需要基于这个程序做多张图片同时预测，下面的是一张张预测的，比较费劲。在V2版本中，是把数据都 存放在list中的。
[code]

下面是V2版本的，如果想预测多个数据，只要在test_data添加更多的数据就行了。
[code]

[2018-07-24 09:24] tensor-tang commented on #12192
翻译下方便理解：

a. 这种情况下，iomp要怎么处理。编译MKLDNN的时候需要链接iomp，那么如果paddle使用的时候链接3个lib（里面包含sequencelib）和iomp，会影响MKLDNN的使用吗？

b. 如果去掉MKLDNN里面的MKL，所有MKLDNN中使用gemm的地方都会受影响。由于int8的时候好像也有gemm的实现，所以也有影响。

a. MKL_RT好像没有静态的。

b. 使用RT的时候，用控制thread的方式相比直接链接3个lib的方式，速度会有影响吗。

c. 如果用3个lib，然后用同样的版本编译MKLDNN，会导致MKLDNN使用问题吗，比如MKLDNN的FC会一直用单core了？或者甚至别的AVX的实现的时候也没发多线程。

[2018-07-24 09:37] oraoto commented on #12329
可以用ParallelExecutor：

[code]

[2018-07-24 09:40] oraoto commented on #12336
和训练的时候一样，feed支持多个样本的输入，转成numpy ndarray就可以了。

[2018-07-24 09:52] yeyupiaoling commented on #12329
@oraoto 我找到一个类似的接口http://paddlepaddle.org/docs/0.14.0/api/fluid/en/fluid.html#parallelexecutor
`num_trainers`好像是分布式的是的节点数吧，不是使用本地的线程数量吧？

[2018-07-24 09:56] yeyupiaoling commented on #10992
@yjj19920505 好像，谢谢您，我好好研究一下。

[2018-07-24 09:58] jeff41404 opened #12338 "帮忙看看是否文档有问题"
参考文档运行demo，发现出错：
File "./fluid_cifar.py", line 248, in main
    place=place)
  File "/usr/local/lib/python2.7/site-packages/paddle/fluid/trainer.py", line 109, in __init__
    raise TypeError("The optimizer should be an instance of Optimizer")
出错位置为：
trainer = fluid.Trainer(
    train_func=train_program,
    optimizer_func=optimizer_program,
    place=place)

查看fluid/trainer.py源码，修改为如下代码可以运行，帮忙看看是

[2018-07-24 10:41] dzhwinter commented on #12334
按你写的例子
[code]
加上ifelseop是不是可以满足需求呢?  根据该条数据中是否包含label，决定是否走true_block, false_block。 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/test_if_else_op.py

[2018-07-24 10:58] oraoto commented on #12329
@yeyupiaoling 嗯，num_trainers分布式的。

ParallelExecutor默认会用全部的CPU:

https://github.com/PaddlePaddle/Paddle/blob/db67d60e31302065632a11b074f6f5dd83d6c5d5/python/paddle/fluid/parallel_executor.py#L116-L124

[2018-07-24 11:04] #12260 closed, assigned to JiayiFeng

[2018-07-24 11:20] chenwhql commented on #12338
你好，谢谢你提出的建议！
但我们并没有复现你的问题，是否可以提供更详细的操作过程描述以及错误信息？
此外，你修改之后的代码在语法上好像有些问题
![image](https://user-images.githubusercontent.com/22561442/43134744-a13a40e0-8f75-11e8-827c-9b56b3fc19a8.png)
首先，代码里的参数名是optimizer_func，所以修改成optimizer理论上是错误的
![image](https://user-images.githubusercontent.com/22561442/43134801-d721294e-8f75-11e8-8b4f-c959aeb7d86b.png)
其次，python函数作为参数传递的时候，是不加括号的，所以正确写法就是
[code]

[2018-07-24 12:16] baiyfbupt opened #12340 "Need add flatten op"
Need add flatten op, to do reshape in detection api

[2018-07-24 12:44] #12269 closed, assigned to NHZlX

[2018-07-24 13:20] yeyupiaoling commented on #12329
@oraoto 好的，那太好了，不用我们自己设置了。

[2018-07-24 13:20] #12329 closed, assigned to nobody

[2018-07-24 14:22] velconia opened #12343 "Paddle reader线程数过多"
当前xreader的实现如下:

[code]

这会导致每一次yield数据, xreader都会申请一个Thread, 1000 个pass之后, Thread会非常多, 在PaddleCloud上实测达到2000个, 然后无法再申请Thread, 之后报错Traceback如下:

[code]

[2018-07-24 14:26] velconia opened #12344 "Paddle 分布式训练需要设置的dead_line时间过长"
启动脚本如下:

[code]

需要设置FLAGS_rpc_deadline为3000000才能正常训练, 否则第一轮的fetch_barrier_op会夯住

[2018-07-24 14:38] zhangyang0701 opened #12345 "Any documents to describe the the difference between PaddlePaddle definitions of operator and conventional definitions?"
I noticed in the PaddlePaddle model (parsed from the binary model), the combination of conv + elementwise_add is equivalent to conventional convolution layer, and it seems a BN is equivalent to conventional combination of BN + scale.

Do we have a systematic description of the new definitions introduced by PaddlePaddle?

[2018-07-24 15:14] #11880 closed, assigned to Yancey0623, typhoonzero

[2018-07-24 23:51] #11643 closed, assigned to nobody

[2018-07-25 01:08] dzhwinter commented on #12333
@oraoto 感谢提供解答，不过您的办法不work。

图像大小是否固定是由网络性质决定的，例如fully convolutional network就可以适应不同大小的图像，对于大小不同的图像生成一个点或一个矩阵，但是对于alexnet就不可以。原因是有一些层并不是尺度不变的，以fc为例，网络中包含fc，那么固定位置的权重代表了对输入图像某个位置上的假设（改变图像大小会打破这个假设），因此一般选择将图像放缩到相同尺度，图像特征受到影响不大，而且实践证明这样损失很小。

1. 用类似fcn这样的模型，可以应用不同尺寸图像。 https://people.eecs.berkeley.edu/~jonlong/long_shelhamer_fcn.pdf

2. 不同图像都resize到同一尺度，crop只是为了增加训练样本的，做不做都可以。

[2018-07-25 01:14] oraoto commented on #12333
@dzhwinter  也注意到了这点，所以在FC层之前用pool转成了一样大小，的确是有局限性。

[2018-07-25 02:08] yeyupiaoling opened #12346 "Fluid版本该如何处理数据，为什么预测的结果都是一样的"
我在做图片预测的时候，这样处理图片是能正常预测的，但是预测的结果不对，不管是什么图片，输出的都是同一个类别，我训练的是102flowers的图片，接口是`paddle.v2.dataset.flowers`

[code]

[2018-07-25 02:16] NHZlX commented on #12346
你加载的模型是什么模型呢？ 是自己训练的flower102 分类模型么

[2018-07-25 02:18] yeyupiaoling commented on #12346
@NHZlX 是的。是不是我在预测的时候数据处理错了？训练的时候是正常的，准确率挺的

[2018-07-25 02:23] yeyupiaoling commented on #12346
@NHZlX 下面就是要预测的程序，包括了图片和模型
[infer100.zip](https://github.com/PaddlePaddle/Paddle/files/2226127/infer100.zip)

[2018-07-25 02:25] Yukizzz commented on #12334
@dzhwinter
例子中的true和false使用的cond都是一个，这种写法两个block都会走，结果是最后false那一个block的对吧？

![6563c403-c472-4979-baeb-ae33db3cc27a](https://user-images.githubusercontent.com/9652571/43238710-e7613284-90c1-11e8-82dc-f9a156ce471d.JPG)

另外我想根据数据中cmatch_new这个字段决定走哪个层（给embedding和cnn层命名不同的名字），但是训练结束只有cmatch_label=2走的那个层才有参数保存下来，数据中cmatch_new这个字段值为1和2都有，请问是不是写法有问题，如何才能将两种层的参数都保存下来呀？word_emb和text_cnn函数是给各个层根据cmatch_label

[2018-07-25 02:25] yeyupiaoling commented on #12336
@oraoto 还是不知道如何处理，比如我有多个test_data1，test_data 2.......该如何传入进去呢？

[2018-07-25 02:27] Yancey0623 commented on #12344
pserver启动成功后会生成一个文件 `/tmp/paddle.{pid}.port` 可以把 脚本中 `sleep 5` 改成检查这个文件是否存在。

[2018-07-25 03:26] oraoto commented on #12336
例如每个图片是(3, H, W)，有N张图片，np.array([img1, img2...., imgN])的到一个(N, 3, H, W)的ndarray，然后放进feed里：

[code]

或者用reader接口，已经帮你封装了这些操作。

[2018-07-25 03:33] walloollaw opened #12350 "no prelu API in fluid.layers"
there is no `fluid.layers.prelu` interface, but there is a implementation in paddle though it's not fully functional because size of parameter `alpha`  can only be one.

[2018-07-25 03:38] yeyupiaoling commented on #12336
@oraoto
我按照你的思路，我这样做了，好像不行哦，是不是我做的不对呢？
[code]

[2018-07-25 04:27] oraoto commented on #12336
执行了这个之后test_data会变成`(1, N, 3, H, W)`多了一维。

[2018-07-25 05:14] zhengzhe97 opened #12351 "用自己的数据训练SSD样例时出错"
An error ocurred while starting the kernel
I0722 13:27:58.929406 5872 Util.cpp:166] commandline: ‑‑use_gpu=True ‑‑trainer_count=2
I0722 13:28:02.449893 5872 MultiGradientMachine.cpp:99] numLogicalDevices=1 numThreads=2 numDevices=1
F0722 13:28:02.449947 5872 MultiGradientMachine.cpp:104] trainer_count * num_devices_in_model (2*1)=2 exceeds number of GPU devices(1)
*** Check failure stack trace: **

[2018-07-25 05:25] qingqing01 commented on #12351
看样子你的机器上只有一个GPU，而你配置了`‑‑trainer_count=2` 使用2个卡训练。

[2018-07-25 05:39] qingqing01 commented on #12350
@walloollaw Thanks. We will fix it later.

[2018-07-25 07:06] seiriosPlus opened #12356 "Error message is confused with an error distributed configuration"
[code]

I meet this message when I config distributed Fluid with an error network, but the only mistake is I write a wrong IP/PORT address.

We need more strict pre-check before running the ```Program```.
We also need to throw this exception information more preciseness and explanatory.

[2018-07-25 07:27] yeyupiaoling commented on #12346
@NHZlX
我处理数据改成下面这个了，结果是有变化的，但是预测结果就是不正确（全部）
[code]

[2018-07-25 07:30] yeyupiaoling commented on #12336
@oraoto 懂了懂了，谢谢您的回答。能帮我回答这个问题吗 #12346

[2018-07-25 07:30] #12336 closed, assigned to dzhwinter

[2018-07-25 07:30] gongweibao opened #12357 "print_op can't print variables in startup program"
print_op can't print variables in startup program

[2018-07-25 07:31] Emma-Ding opened #12358 "layers.fc output之后的数据维度，为什么会是(-1,128)"
` user_cross0 = fluid.layers.fc(name="user_cross_0", input=user_fc0, size=128)
    print user_cross0.shape
    user_cross_raw1 = fluid.layers.matmul(name="user_cross_raw1", x=user_cross0, y=user_cross0, transpose_x=True, transpose_y=True)
    user_cross_scale_1 = fluid.layers.fc(input=user_cross_raw1, size=128)
    user_cross_1 = user_cross_scale_1 + user_cross0`

I0725 15:29:54.756508 35564 init.

[2018-07-25 07:34] Superjomn commented on #12358
-1 代表会变的 batch_size

[2018-07-25 07:37] typhoonzero commented on #12356
you mean check the endpoint must be like `ip:port`?

[2018-07-25 08:40] Yukizzz opened #12359 "fluid的sequence_conv_pool没有bias_attr参数吗？"
sequence_conv_pool函数中没有bias_attr这个参数
![baiduhi_2018-7-25_16-41-53](https://user-images.githubusercontent.com/9652571/43189708-c9b852dc-9029-11e8-8ef0-760ecade1d0a.png)
但是调用的sequence_conv是有bias_attr参数的，
![baiduhi_2018-7-25_16-47-5](https://user-images.githubusercontent.com/9652571/43189928-679370e0-902a-11e8-9560-6bfbd88e9910.png)
![baiduhi_2018-7-25_16-51-10](https://user-images.githubusercontent.

[2018-07-25 08:43] gongweibao opened #12360 "Bugs with `print_op`."
When a program contains only vars and print_op, such as
[code]

meets error:

[code]

[2018-07-25 09:12] shangguanyifeng opened #12361 "导入time-series问题"
x_ = fluid.layers.data(name='x_', shape=[-1,seq_size,input_dim], dtype='float32', lod_level = 1)
y_ = fluid.layers.data(name='y_', shape=[-1,seq_size], dtype='float32', lod_level = 1)
def seq_reader_creator(seq_path):
    def reader():
        with open(seq_path, 'rb') as f:
            data = pickle.load(f)
            normalized_data = (data - np.mean(data)) / np.std(data)
        for i in xrang

[2018-07-25 09:14] Naruto-Sasuke commented on #12333
@dzhwinter 不是。有些任务其实全图会更好一些。比如对于人流统计任务，我发现，如果用固定size进行训练，则效果会差一些。如果全图输入（size不断变化）则效果会好一些。最近百度之星的比赛，要求用paddle，所以也许有一个这样的教程会好一些。

[2018-07-25 09:17] Emma-Ding opened #12362 "向量相乘后生成的矩阵，再加上原始向量怎么实现？"
问题描述：有两个向量，x，x0，想实现如下操作，请问要怎么怎样实现，w是优化要求得的参数

<img width="139" alt="2018-07-25 5 04 03" src="https://user-images.githubusercontent.com/22070158/43191591-0978e054-902e-11e8-987f-ffe95cb6abf1.png">
<img width="369" alt="2018-07-25 5 04 11" src="https://user-images.githubusercontent.com/22070158/43191606-1078bcbc-902e-11e8-90d2-d2a768d12558.png">

个人理解： x, x0的的向量相乘可以通过fluid.layers.matmul实现，但是对于每一行权值共

[2018-07-25 09:17] Superjomn commented on #12361
是啥问题？

另外，代码可以用

https://help.github.com/articles/creating-and-highlighting-code-blocks/

格式化下，不然很难看出来

[2018-07-25 09:20] Superjomn commented on #12362
这个意思是每行 vector 加一个 scalar？

[2018-07-25 09:21] Superjomn commented on #12359
可以帮看看么 @qingqing01

[2018-07-25 09:24] Emma-Ding commented on #12362
就是矩阵乘法，但是因为w是待求参数，所以想问问有没有方法操作

[2018-07-25 09:35] Emma-Ding opened #12363 "fluid里面是否有v1 的tensor_layer类似的op"
之前使用的v1版本，model还用了tensor_layer，使用如下，现在迁到fluid上，想问问如何实现类似的操作

`user_emb1 = fc_layer(name="user_emb1", input=concat_layer(input=user_emb_vec), size=256, act=ReluActivation())
    user_emb2 = fc_layer(name="user_emb2", input=user_emb1, size=128, act=ReluActivation())
    user_emb3 = fc_layer(name="user_emb3", input=user_emb2, size=64, act=ReluActivation())
    user_emb4 = fc_layer(name="user_emb4", i

[2018-07-25 09:36] Superjomn commented on #12363
有对应的代码片段吗，可以描述详细些

[2018-07-25 09:39] Emma-Ding commented on #12363
@Superjomn
[code]

[2018-07-26 02:00] gongweibao opened #12370 "Print pserver program meets error"
Print pserver program meets error:
[code]

[2018-07-26 02:08] gongweibao opened #12371 "How to fetch variable from pserver executor?"
When we need to fetch variable's value from trainer program, we can use code like these:
[code]

1. But how we can fetch variable from pserver program? And
2. How can a user know where a variable is on a pserver by its EndPoint?

[2018-07-26 02:19] youngstu opened #12372 "Detction MAP 一直很低，接近于0？"
![selection_001](https://user-images.githubusercontent.com/26452514/43238039-fddbaf10-90be-11e8-883c-92ff3b9c68c0.png)

[code]

[2018-07-26 02:36] youngstu commented on #12372
[ar@yq01-gpu-255-100-26-00 v10_4_1]$ paddle version
PaddlePaddle 0.11.0, compiled with
    with_avx: ON
    with_gpu: ON
    with_mkl: ON
    with_mkldnn: ON
    with_double: OFF
    with_python: ON
    with_rdma: OFF
    with_timer: OFF

[2018-07-26 02:59] NHZlX commented on #12346
训练脚本给我看一下，你先确保预测同训练数据的预处理是一样的

[2018-07-26 03:00] HugoLian opened #12373 "CAPI预测过程报错求助"
我的数据有35个slots，预测的时候发现无论是35个全部输入还是只输入1个，都会报相同的错误，下面只粘贴输入一个slot的代码，请帮忙看一下吧！
[code]
然后每次运行到这里都会报相同的错：
[code]
请问这是为什么呢？

[2018-07-26 03:19] HugoLian commented on #12373
CHECK(paddle_gradient_machine_load_parameter_from_disk(machine, MODEL_PATH));
MODEL_PATH中的模型文件其实挺大的，但是到这一步几乎无耗时，感觉没有读入一个大文件进去
如果把MODEL_PATH的路径改成一个不存在的地址会报错参数找不到，
如果把这句注销掉不执行，会报告上面相同的错误，所以感觉是paddle_gradient_machine_load_parameter_from_disk 加载数据没有生效，请问是为什么呢？

[2018-07-26 03:21] 333caowei opened #12375 "新版fluid跑master最新book demo【02.recognize_digits】【03.image_classification】均失败"
使用pip install --upgrade pip paddlepaddle-gpu把版本更新到了0.14，直接run demo在CPU上可以运行，但是代码修改use_cuda=True后run demo报的如下错误：
[code]

增加log信息：
export GLOG_v=4
export GLOG_logtostderr=1
错误如下：
[code]

[2018-07-26 03:22] gongweibao opened #12376 "Add util functions to display variable's contents for debug in c++ env."
Add util functions to display variable's contents for debug in c++ env.
Or use print_op directly in C++ env.

[2018-07-26 03:26] shiyazhou121 opened #12377 "本地和集群跑程序，使用sparse报错。"
本地报错
![image](https://user-images.githubusercontent.com/15082798/43239926-b7e85f00-90c6-11e8-8444-f922e172ef27.png)
集群报错
![image](https://user-images.githubusercontent.com/15082798/43239945-d24e5bba-90c6-11e8-855e-d890b1474e78.png)
网络配置
![image](https://user-images.githubusercontent.com/15082798/43239952-def3465a-90c6-11e8-9f76-eeacadd23f28.png)

[2018-07-26 03:26] qingqing01 commented on #12372
看样子你用的是Paddle V2的检测， 请问使用预训练模型了吗？

[2018-07-26 03:30] youngstu commented on #12372
有使用预训练模型

[2018-07-26 03:40] mapingshuo commented on #12285
我也遇到了类似的问题，batch_size为1也报错。这是因为fluid运行的时候要求独占显卡，不能有其他程序跑在同样的显卡上。所以我设置了环境变量，export FLAGS_fraction_of_gpu_memory_to_use=0.50

[2018-07-26 03:40] luotao1 opened #12378 "manylinux1 Failed to publish artifacts"
[code]
https://paddleci.ngrok.io/viewLog.html?buildId=2744&buildTypeId=Manylinux1_Cuda80cudnn5cp27cp27mu

The reason is that after`test_fluid_inference_lib`, there is `build` and `data` directory which have a lot of space.
https://github.com/PaddlePaddle/Paddle/blob/2d21aa76c77cab939f26ed1d9036799effb6c74f/paddle/scripts/paddle_build.sh#L541-L551
[code]

[2018-07-26 03:41] mapingshuo commented on #12285
然后解决了问题，现在设置batch_size=128也没有问题了。

[2018-07-26 03:41] yeyupiaoling commented on #12346
@NHZlX 是一样的，数据我都是在测试集里面那出来的，附件中就是预测的代码。训练代码我是使用models下fluid的图片分类的，只是修改数据集而已，使用的是102flowers数据集，直接调用接口的。
https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification

[infer100.zip](https://github.com/PaddlePaddle/Paddle/files/2230407/infer100.zip)

我还是一块发训练代码吧，
[image_classification.zip](https://github.com/PaddlePaddle/Paddle/files/2230397/image_classification.zip)

[2018-07-26 03:42] yeyupiaoling commented on #12285
@mapingshuo 好的，谢谢，我试试看。

[2018-07-26 03:44] seiriosPlus commented on #12377
sparse的能在CPU下进行验证么，sparse的在V2版本下不支持GPU

[2018-07-26 03:44] #12350 closed, assigned to qingqing01

[2018-07-26 03:58] yeyupiaoling commented on #12346
@NHZlX
我修改了一个地方，就是把保存模型的接口改成下面这个方式：
[code]

原来的是这个
[code]

保存模型到底用哪个exe，这程序中有2个哦：
https://github.com/PaddlePaddle/models/blob/develop/fluid/image_classification/train.py#L141
https://github.com/PaddlePaddle/models/blob/develop/fluid/image_classification/train.py#L160

[2018-07-26 04:27] 333caowei opened #12380 "关于序列数据输入后打印tensor dim的问题"
我有一个id list输入给模型，每个id代表一个词，例如[9,8,3,4,5]
[code]
可是print query_emb信息如下：
[code]
为什么query_emb的dim是2维的呢，第一维-1表示batchsize，第二维128表示向量dim，应该还有第三维表示序列长度才对

[2018-07-26 04:37] shiyazhou121 commented on #12377
@seiriosPlus 单机情况下，使用CPU是可以训练的。但是怎么改成GPU呢？是更新版本吗？
还有集群训练是用的CPU，还是报错，求看看啥情况。。http://10.73.47.34:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20180726102002-11632/

[2018-07-26 04:43] zenghsh3 commented on #6205
@lcy-seso 您好，请问还能提供orthogonal init lstm的例子吗？原有的branch比较链接好像失效了，感谢！

[2018-07-26 05:02] Superjomn commented on #12363
`tensor_layer` 的操作是

[code]

参考 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/trainer_config_helpers/layers.py#L5127

目前好像没有这个 op，@kuke 帮看看能不能 slice 拼出来吧

[2018-07-26 05:04] Superjomn commented on #12362
现在是卡在

了么

看了下好像操作应该都是标准的，op好像都支持了。

[2018-07-26 05:06] #4535 closed

[2018-07-26 05:06] #4534 closed

[2018-07-26 05:06] #4383 closed

[2018-07-26 05:06] #4340 closed

[2018-07-26 05:07] #4265 closed

[2018-07-26 05:07] #4243 closed

[2018-07-26 05:07] #4246 closed

[2018-07-26 05:07] #4250 closed

[2018-07-26 05:07] #4253 closed

[2018-07-26 05:07] #4254 closed

[2018-07-26 05:07] #4255 closed

[2018-07-26 05:07] #4260 closed

[2018-07-26 05:07] #4261 closed

[2018-07-26 05:07] #4262 closed

[2018-07-26 05:07] #4263 closed

[2018-07-26 05:07] #4264 closed

[2018-07-26 05:07] #4267 closed

[2018-07-26 05:07] #4270 closed

[2018-07-26 05:07] #4271 closed

[2018-07-26 05:07] #4272 closed

[2018-07-26 05:07] #4273 closed

[2018-07-26 05:11] shiyazhou121 commented on #12377
@seiriosPlus 貌似问题是我在网络配置中的sparse data layer 和 fc层之间加了dropout。现在的v2不支持这样用吗？
![image](https://user-images.githubusercontent.com/15082798/43242890-14ba0eae-90d6-11e8-9e15-0634761c28e8.png)
![image](https://user-images.githubusercontent.com/15082798/43242898-1b712e6c-90d6-11e8-8816-5cb2379ff6dd.png)

[2018-07-26 05:21] chengduoZH opened #12381 "Temporally disable rpc_server_test"
`rpc_server_test ` prevents this PR(#12369), so I temporally disable it. @Yancey1989 will help to enable it later.

[2018-07-26 05:24] 333caowei commented on #12375
把paddle版本切换至paddlepaddle-gpu==0.14.0.post85后可以了

[2018-07-26 05:27] dongzhigang888 opened #12382 "there is an error, when run the recommend model with my data. pls help !"
I modified the model, and just categories field use the sequence_pool layer. And  the size of categories dict is about 1000 in my data.  When I modified the pool_type to max, it work normal.  but I think it did not make full use of the category data.

*** Aborted at 1532581742 (unix time) try "date -d @1532581742" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x50)

[2018-07-26 05:39] Superjomn commented on #12373
MODEL_PATH 这里的文件是参数文件吗，感觉是 load 失败了。

参考下 example，看看有啥 diff
https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/legacy/capi/examples/model_inference

[2018-07-26 05:39] #12382 closed, assigned to nobody

[2018-07-26 06:02] HugoLian commented on #12373
@Superjomn 是模型文件，后来我模型文件和网络参数merge到一个bin文件，然后通过
paddle_gradient_machine_create_for_inference() 这个函数加载的，好像可以了。
刚才那个问题可能是引入了空数据在成的，capi当一个slot为空做预测的时候就会出size != 0的错误吧。。

[2018-07-26 06:05] #11823 closed, assigned to typhoonzero

[2018-07-26 06:54] #12378 closed, assigned to luotao1

[2018-07-26 08:16] yeyupiaoling opened #12385 "save_inference_model接口的使用问题"
这个接口前面3个参数还是很好理解的，在文档上：http://www.paddlepaddle.org/docs/0.14.0/api/fluid/en/io.html#save-inference-model
就是有点不理解的是第四个参数`executor`

在分类的例子中，一共来个executor
https://github.com/PaddlePaddle/models/blob/develop/fluid/image_classification/train.py#L141
https://github.com/PaddlePaddle/models/blob/develop/fluid/image_classification/train.py#L160

选择第一个是正常保存模型的，第二个及错误了，那应该是第一个executor。
但是我使用保存的模型预测时，结果我准确，我就

[2018-07-26 08:39] yyHaker opened #12386 "paddlepaddle install problem"
I use pip install the paddlepaddle on my ubuntu system, but when I run the "import paddle", it gives the errors below:
"'"
ImportError: libmkldnn.so.0: cannot open shared object file: No such file or directory
""
what is wrong with it?

[2018-07-26 09:08] oraoto opened #12387 "memory_optimize会导致结果错误"
Paddle Version: 0.14.0

首先定义一个main program和测试函数：

[code]

正常test()结果是：

[code]

执行`fluid.transpiler.memory_optimize(main, print_log=True)`后，test()结果变成了：

[code]

重现结果的Notebook：https://gist.github.com/oraoto/52c567b22f17918ba961ef902f162c36

[2018-07-26 09:16] oraoto commented on #12387
找到了解决方法， https://github.com/PaddlePaddle/Paddle/issues/11320#issuecomment-397271657 ， 设置fetch_list里的变量为persistable或者放到skip_set。

[2018-07-26 09:16] #12387 closed, assigned to nobody

[2018-07-26 09:19] #12003 closed, assigned to nobody

[2018-07-26 09:20] YongtaoGE opened #12388 "paddle v2版本中，如果要对一个网络进行多尺度预测(输入的图像大小不一样），怎样定义网络？"
[code]
假如定义一个全卷积的网络，每次输入的图像尺寸不一样，怎样定义网络，我使用以下代码，会报错：
[code]

[2018-07-26 09:34] Yancey0623 commented on #12381
Will do that after it merged.

[2018-07-26 09:47] yeyupiaoling commented on #12285
@mapingshuo 设置0.50也不行，要设置为0。然后又报其他错误了。

@wanghaoshuang 老师，能看看这个是什么问题吗？
[code]

[2018-07-26 12:16] zenghsh3 opened #12393 "Fluid目前未支持multinomial采样OP"
类似于paddle.v2.layer.sampling_id这样的OP在强化学习算法中经常会用到。

[2018-07-26 13:29] Emma-Ding opened #12394 "tensor_layer的源码"
能否贴一个tensor_layer的底层源码?

[2018-07-26 13:33] seiriosPlus commented on #12394
可以看
https://github.com/PaddlePaddle/Paddle/blob/71b1c397d7d7cf7cc02c274fb2d69aaf7f794933/paddle/legacy/gserver/layers/TensorLayer.h
https://github.com/PaddlePaddle/Paddle/blob/71b1c397d7d7cf7cc02c274fb2d69aaf7f794933/paddle/legacy/gserver/layers/TensorLayer.cpp

[2018-07-26 13:34] seiriosPlus commented on #12393
已收到，马上进行开发。

[2018-07-26 13:35] seiriosPlus commented on #12388
是否能在输入输入数据前加入预处理？

[2018-07-26 13:36] seiriosPlus commented on #12386
reference:
https://github.com/PaddlePaddle/Paddle/blob/develop/doc/fluid/new_docs/faq/faq.rst

[2018-07-26 13:41] seiriosPlus commented on #12372
这个暂时先使用v1的API吧，后续可以考虑迁移到 Fluid @youngstu

[2018-07-26 13:42] YongtaoGE commented on #12388
你好，我是想实现人脸检测的网络MTCNN的PNet,这个全卷积网络的作用相当于一个固定大小的滑动窗口在不同尺度的图片上扫一遍(比如图片大小是h,w,会把图片进行降采样，所以输入的图片大小是不相同的），不知道有没有比较好的解决办法。

[2018-07-26 13:46] YongtaoGE commented on #12388
我觉得主要问题是第一次调用network（）函数之后网络已经被初始化一遍了，但我没有找到清除网络参数的办法，再次调用network（）函数输入不同大小的数据就会报错。

[2018-07-26 13:55] Yukizzz opened #12395 "有关fluid ifelse写法的问题"
我希望数据根据cmatch_new这个特征值的不同走不同的层，因此引入ifelse~
具体操作在两个block中分别传入dim不同的layer，然后用block返回的dim作为cmatch_label（很蠢的做法，求指导），希望这个cmatch_label不同的数据走不同的层。
![392483762d58a1537061a946a33fc9cb](https://user-images.githubusercontent.com/9652571/43266541-3d7ccb7c-911e-11e8-995b-8bc8100cb9da.JPG)

但是我的数据中cmatch_new都为2，并不符合cond，按理应该走false的层？但是产出的层都是true对应的。
把判断条件换反之后还是只有true对应的参数…请问这个是啥原因呀？求帮忙看下我的写法有问题不~？

[2018-07-27 01:18] yeyupiaoling opened #12396 "请问有没有各个网络的ImageNet训练好的模型Cffe转Fluid 的"
我在这里https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification/caffe2fluid 看到有caffe装FLuid教程，但是没有找到训练好的ImagesNet的模型。特别是MobileNet，ResNet，Inception。

[2018-07-27 01:48] ktlichkid commented on #11689
没有follow-up的话这个issue先关闭了。如果有进一步问题欢迎打开~

[2018-07-27 01:48] #11689 closed, assigned to ktlichkid

[2018-07-27 01:50] ktlichkid commented on #12086
Close this issue due to low activity. Please feel free to reopen it.

[2018-07-27 01:50] #12086 closed, assigned to ktlichkid

[2018-07-27 01:52] ktlichkid commented on #12375
The issue is already resolved. Please feel free to reopen it if you have further questions.

[2018-07-27 01:52] #12375 closed, assigned to ktlichkid

[2018-07-27 01:53] ktlichkid commented on #12257
The issue seems to have already resolved. Please feel free to reopen it if you had further questions.

[2018-07-27 01:53] #12257 closed, assigned to nobody

[2018-07-27 02:02] ktlichkid commented on #12358
Issue已经解答，如有进一步问题欢迎重开。

[2018-07-27 02:02] #12358 closed, assigned to nobody

[2018-07-27 02:03] ktlichkid commented on #12362
有个elementwise_add的layer您可以试一下~
如果shape有差异也可以用sequence_expand等

[2018-07-27 02:12] ktlichkid commented on #12235
有试过重新安装rarfile这个包吗？有效果没

[2018-07-27 02:15] qingqing01 commented on #12388
对于Paddle V2，可以参考：

https://github.com/PaddlePaddle/DeepSpeech/blob/422f55a5d3f04f8b57d6859d7c7a7505c034c9da/model_utils/model.py#L409-L414

        # paddle.data_type.dense_array is used for variable batch input.
        # The size 161 * 161 is only an placeholder value and the real shape
        # of input batch data will be induced during training.
        audio_data = paddle.layer.data(

[2018-07-27 02:32] jayxio opened #12398 "parameter类型的数据无法通过optimizer的minimize更新"
请问下面这个程序为什么没有更新参数w，parameter类型的数据无法通过optimizer的minimize更新
[code]
运行结果是：
[[ 0.76347125]
 [-0.4819286 ]
 [ 0.82559514]
 [ 0.3015375 ]
 [-0.48125172]]
[array([[[1.],
         [1.],
         [1.],
         [1.],
         [1.]]], dtype=float32), array([0.18548472], dtype=float32)]
[code]
抓出来结果是：
[[ 0.76347125]
 [-0.4819286 ]
 [ 0.82559514]
 [ 0.3015375 ]
 [-0.48125172]]
说明参数没更新。

[2018-07-27 02:35] YongtaoGE commented on #12388
因为这个网络有一个prelu层，这一层依赖于第一次卷积得到的feature map的尺寸，所以不只是数据的输入维度是变化的，prelu的`partial_sum`参数也需要动态调整，请问有解决方案吗？

按照以下代码依然在第二次调用`network()`函数的数据输入层就报错：
[code]
不知是否可以调用paddle中计算某个层输出feature map尺寸的函数，赋值给`prelu`层的`partial_sum`参数。
但我没有找到这样的函数。

[2018-07-27 02:35] jacquesqiao commented on #12395
`产出的层都是true对应的` 这个是怎么判断的？

[2018-07-27 02:43] NHZlX commented on #12346
flowers 102 的图片的预处理, 要经过resize到224，将图像转成 CHW format， 减去均值[103.94, 116.78, 123.68] 过程。具体的可以看 paddle/python/paddle/v2/dataset/flowers.py

[2018-07-27 02:55] ktlichkid commented on #12018
Closed due to low activity. Please feel free to reopen it.

[2018-07-27 02:55] #12018 closed, assigned to nobody

[2018-07-27 02:56] ktlichkid commented on #12019
Closed due to low activity. Please feel free to reopen it.

[2018-07-27 02:56] #12019 closed, assigned to typhoonzero

[2018-07-27 03:00] gongweibao opened #12399 "Print fc_75.w_0@GRAD.trainer_0 on pserver meets error!"
Code:
[code]

error:
[code]

[2018-07-27 03:00] Yukizzz commented on #12395
true的input是age，age的shape[1]是1，我理解ifelse返回的layer的shape[1]也是1，对应的cmatch_label是1。
false的input是total_profile_fea的shape[1]=2，对应的cmatch_label是2。
最后产出的模型参数cmatch_label都是1。

[2018-07-27 03:03] Yukizzz commented on #12395
![baiduhi_2018-7-26_22-16-29](https://user-images.githubusercontent.com/9652571/43299404-a306416c-918c-11e8-8fe1-b61e5838f10b.png)
更新了一个代码的图片，其中word_emb和text_cnn函数是给各个层根据cmatch_label重命名。

[2018-07-27 03:09] yeyupiaoling commented on #12346
@NHZlX
我修改成下面这，准确率集好多了，我之前也是加上这个mean的，不知道这次为什么突然好那么多了。
[code]

但是准确率还是不是高，我在训练的是acc1有0.8左右，acc5有0.95左右，我同样使用测试集作为预测数据统计了一下，只有0.78

这个上面代码有没有处理了？谢谢。

[2018-07-27 03:15] gongweibao commented on #12376
[code]

[2018-07-27 03:17] ktlichkid commented on #11988
Closed due to low activity. Please feel free to reopen it.

[2018-07-27 03:17] #11988 closed, assigned to chengduoZH

[2018-07-27 03:18] ktlichkid commented on #11974
Closed due to low activity. Please feel free to reopen it.

[2018-07-27 03:18] #11974 closed, assigned to nobody

[2018-07-27 03:19] ktlichkid commented on #11798
Closed due to low activity. Please feel free to reopen it.

[2018-07-27 03:19] #11798 closed, assigned to nobody

[2018-07-27 03:23] qingqing01 commented on #12396
https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification#supported-models-and-performances

图像分类的教程里发布了Fluid框架训练的ImageNet模型，包括ResNet, SE-ResNeXt, AlexNet。 Inception等还没发布，后续可能会发布。

[2018-07-27 03:29] yeyupiaoling commented on #12396
@qingqing01 嗯嗯，我有看到呢，就是太少了。那有没有Caffe的模型呢，我转换一下，我在网上兜里一圈，没找到全面一些的caffe模型。

[2018-07-27 03:31] ktlichkid commented on #12398
~可否多跑几个pass看看？有可能直接这么fetch会fetch出update前的parameter

[2018-07-27 03:36] NHZlX commented on #12346
这个接口有对 `将图像转成 CHW format`处理，试一下`paddle.image.load_and_transform(root_path, image_path, 224, 224, False, mean=[103.94, 116.78, 123.68])).astype("float32")`

[2018-07-27 03:38] youngstu opened #12402 "why is so difficult to converge using paddle to train coco obj detection?"

[2018-07-27 03:42] yeyupiaoling commented on #12346
@NHZlX
但是数据集接口在训练的时候是这样的
https://github.com/PaddlePaddle/Paddle/blob/ec4c6e1f7cf627940b6a1e443421b35090aa70b7/python/paddle/v2/dataset/flowers.py#L64-L65

我修改成这样错误就低了一些0.772549

[2018-07-27 03:47] jayxio commented on #12398
我想试一试，有没有什么例子可以参考呢，多跑几个pass？

[2018-07-27 04:28] oraoto commented on #12398
[code]
parameter_list是个string列表。

[2018-07-27 04:53] NHZlX commented on #12346
请确保你用的模型是0.8 acc1 的模型（因为随着训练，acc是存在波动的，存储的模型的acc也是波动的）。

[2018-07-27 06:11] yeyupiaoling commented on #12346
@NHZlX 应该是吧。主要的问题解决了，谢谢您。

[2018-07-27 06:11] #12346 closed, assigned to nobody

[2018-07-27 06:20] #10992 closed

[2018-07-27 06:24] yeyupiaoling commented on #11003
https://github.com/PaddlePaddle/models/blob/5d15e3c6d88921ab11c3c54fd6088f2fe2110d60/fluid/ocr_recognition/ctc_train.py#L116-L118

[2018-07-27 06:24] #11003 closed

[2018-07-27 06:24] yangjingyuan opened #12405 "是否可以将需要的配置，定义到配置文件？"
编译PaddleFluid 遇到了不少问题，其实整体逻辑还是比较清晰的，如果要是能将一些配置通过配置文件的形式，显式的定义出来会不会更好

[2018-07-27 06:28] yangjingyuan commented on #12405
再就是有些库如果用户配置，有的话，可能就不需要下载了

[2018-07-27 06:30] yeyupiaoling commented on #12285
@NHZlX 老师，你能看看上面的是什么问题吗？

[2018-07-27 06:32] #12302 closed, assigned to nobody

[2018-07-27 06:46] luotao1 commented on #12405
@yangjingyuan 碰到的问题：
1. nccl.h 报错找不到，但发现该源文件是存在的
![image](https://user-images.githubusercontent.com/6836917/43305497-96b09ad4-91aa-11e8-8a52-7a97b79d95a9.png)
   - 原因：用户并不清楚是nccl库的nccl.h找不到，以为是fluid中的nccl.h找不到，报错机制并不完善。同时用户发现已经安装了nccl，但不清楚是要加入LD_LIBRARY_PATH还是哪里设置下？
   - 解决方案：临时解决的话，可以把安装的那个nccl.h 手动cp到$builddir/third_party/install/warpctc/include/。
2. cp过去后，发现新错误
![image](https://user-images.gith

[2018-07-27 06:53] JiayiFeng commented on #12398
通过fetch得到param是在backward之前的进行的，也就是说得到的其实是未经更新的param。你可以尝试执行两次`exe.run()`，第二次得到的param就会有变化。

[2018-07-27 07:01] JiayiFeng commented on #12285
`Insufficient GPU memory to allocation. at [/paddle/paddle/fluid/framework/tensor.h:176]`

是显存不足了

[2018-07-27 07:01] chengduoZH commented on #11993
Closs this inactive issue, feel free to reopen for further discuss.

[2018-07-27 07:01] #11993 closed, assigned to chengduoZH

[2018-07-27 07:33] topxxuki opened #12407 "mac使用docker镜像安装cpu-only的paddle报错未下载patchelf"

[2018-07-27 07:36] topxxuki commented on #12407
报错信息如下：
CMake Error at python/CMakeLists.txt:103 (message):
  patchelf not found, please install it.

  For Ubuntu, the command is: apt-get install -y patchelf.

-- Configuring incomplete, errors occurred!

在docker尝试使用apt-get install -y patchelf解决报错如下：.
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package patchelf.
E: Couldn't find an

[2018-07-27 07:55] luotao1 commented on #12407
请问您使用的是最新develop分支的代码么？

[2018-07-27 08:03] topxxuki commented on #12407
如何确认是否用的是develop分支的代码呢？

[2018-07-27 08:15] #12210 closed, assigned to NHZlX

[2018-07-27 08:19] #9472 closed

[2018-07-27 08:32] luotao1 commented on #12407
git log 看下

[2018-07-27 08:38] topxxuki commented on #12407
的确在develop分支下

[2018-07-27 08:45] yeyupiaoling commented on #12285
@JiayiFeng 嗯嗯，应该是显卡内存太小了。

[2018-07-27 08:45] #12285 closed, assigned to wanghaoshuang

[2018-07-27 08:49] DDDivano commented on #12078
怒赞！

[2018-07-27 09:15] ktlichkid commented on #12407
我也试了下，目前docker里面应该是装了patchelf，并且用apt-get安装也能正常装，复现不了这个问题。
您是用的哪个docker镜像？是latest-dev吗？

[2018-07-27 09:17] topxxuki commented on #12407
是这个镜像

[2018-07-27 09:17] topxxuki commented on #12407
是这个镜像

[2018-07-27 09:20] topxxuki commented on #12407
使用docker可以检索到一个patchelf
<docker search patchelf
NAME                DESCRIPTION         STARS               OFFICIAL            AUTOMATED
onedata/patchelf                        0

需要下载这个吗

[2018-07-27 10:14] yuanxiangxie opened #12410 "mpi训练模型之后无法保存到指定HDFS路径"
经过查看日志信息，发现代码没有执行 『将目录移到output』这段代码。具体如图
![image](https://user-images.githubusercontent.com/9253455/43315484-a9a64a94-91c8-11e8-9887-133f1346cd76.png)
![image](https://user-images.githubusercontent.com/9253455/43315553-e3df265e-91c8-11e8-885f-0b82e6872fca.png)

[2018-07-27 10:20] #12340 closed, assigned to baiyfbupt

[2018-07-27 10:24] guochaorong opened #12411 "python3 CI job"
步骤：
增加一台ci agent 机器，
1.  拉取night build 镜像（已经设置python3 需要环境）
docker pull docker.io/paddlepaddle/paddle_manylinux_devel:cuda8.0_cudnn7.0

export PYTHON_VERSION="3"
export PYTHON_ABI="3.5"
2 . nvidia-docker  run xxx

其他按照现有的CI流程来做。

[2018-07-27 10:44] typhoonzero commented on #12410
是v2 API的话，把那个move放到`event_handler`的PassEnd里。

[2018-07-27 11:24] #11851 closed, assigned to velconia, typhoonzero

[2018-07-27 11:35] wojtuss opened #12413 "Why the GRU layer does not include weighing of the input?"
The dynamic GRU algorithm described in the documentation (http://paddlepaddle.org/docs/0.14.0/api/fluid/en/layers.html#dynamic-gru) includes multiplication of the input x<sub>t</sub> by weight matrices W<sub>x</sub>, but the PaddlePaddle's implementation of the operator does not include this operation.

Here are my questions:
1. Why is that?
2. Could the usual FC layer (actually the MUL operator)

[2018-07-27 13:06] velconia opened #12415 "Fix tensor's deps"
Here are tensor's deps:
[code]

However, here are the tensor's include module:
[code]

```device_context``` was missed, should be added later

[2018-07-27 13:22] velconia commented on #12415
```paddle/fluid/inference/api_impl.cc``` missed the deps of ```lod_tensor```

[2018-07-27 17:30] jayxio commented on #12398
谢谢各位，一个问题是fetch的是之前的parameter，另外问题就是parameter_list的input数据类型有问题，改了之后就好了！

[2018-07-27 17:33] jayxio commented on #12398
加一下改过的代码：
[code]
这样测试发现没问题了

[2018-07-27 17:33] #12398 closed, assigned to ktlichkid

[2018-07-28 01:57] #12415 closed, assigned to Superjomn, velconia

[2018-07-28 07:07] yyHaker commented on #12386
3q

[2018-07-28 07:07] #12386 closed, assigned to nobody

[2018-07-29 08:55] sheep0729 opened #12427 "Mac上源码编译问题"
CMake Error at cmake/generic.cmake:147 (add_custom_command):
  Error evaluating generator expression:

    $<TARGET_FILE:paddle_inference_api>

  No target "paddle_inference_api"
Call Stack (most recent call first):
  cmake/generic.cmake:234 (merge_static_libs)
  paddle/fluid/inference/CMakeLists.txt:25 (cc_library)

[2018-07-29 09:30] libaikai opened #12428 "加载部分预训练模型参数"
有时候会想用预训练模型，比如VGG，但是不需要全部的参数；
如何加载部分pre-trained parameters到自己的model里面，为了做迁移学习。
有没有比较好的示例或者好用的函数（像Pytorch里state_dict()这样的）

[2018-07-29 11:18] freekoy opened #12429 "关于输入大小不一的图像的问题，官方文档说只要设置比输入数据维数大的值占位即可，但报错"
PaddlePaddle提供的 paddle.data_type.dense_array 支持维数可变的数据输入。在使用时，将对应数据层的维数设置成一个大于输入数据维数的值用于占位即可。
http://www.paddlepaddle.org/docs/0.14.0/documentation/zh/faq/model/index_cn.html
报错如下

Input layer pixel: Incorrect input image size 88 * 89 for input image pixels 7840
Traceback (most recent call last):
  File "train.py", line 94, in <module>
    testMNIST.start_trainer()
  File "train.py", line 53, in s

[2018-07-29 11:40] oraoto commented on #12428
`paddle.fluid.io.load_params`和`paddle.fluid.io.load_vars`都有`main_program`参数，即只加载`main_program`里的变量和参数。

例如这个[SE_ResNeXt50的例子](https://github.com/oraoto/learn_ml/blob/master/paddle/pretrained.ipynb)，构建了一个只有前几层的program，然后只加载这部分参数。

[2018-07-30 01:55] qingqing01 commented on #12429
@freekoy 除了这样设置之外，reader里要求返回numpy array，如果是彩色图，即CHW的3D numpy array。

[2018-07-30 01:58] qingqing01 commented on #12388
@yongtaoge Paddle V2的prelu不支持这样操作。

[2018-07-30 02:00] yeyupiaoling commented on #12396
@qingqing01 [这些模型](https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification/caffe2fluid#tested-models)是训练ImageNet的吗？有没有Caffe的MobileNetV1，MobileNetV2，InceptionV3的模型下载呢？能否介绍一下，谢谢。

[2018-07-30 02:05] YongtaoGE commented on #12388
@qingqing01 好的，谢谢啦。看来只能做单尺度的预测了。还有一个问题就是paddle v2的prelu接受的层必须是包含channel,height和width的张量。我发现全连接层fc的输出只有size这个参数，channel，height和width的值均为零。fc的输出送给prelu层可以得到正确的结果吗？

[2018-07-30 02:19] qingqing01 commented on #12396
@yeyupiaoling  Caffe的模型需要去Caffe官网或网上搜索去找。

[2018-07-30 02:23] yeyupiaoling commented on #12396
@qingqing01 哈哈，我找到了TensorFlow的，caffe的目前还没找到，但是这个TensorFlow的很详细的，您看https://github.com/tensorflow/models/tree/master/research/slim#pre-trained-models

我看到V2版本有TensorFlow转换的工具https://github.com/PaddlePaddle/models/tree/develop/image_classification/tf2paddle ，Fluid版本有吗？转换成预测模型的。

[2018-07-30 02:26] qingqing01 commented on #12388
fc的输出可以作为prelu的输入。Paddle V2的`prelu_layer`比较僵硬。 设置：

[code]

@yongtaoge  感谢使用，Fluid会比Paddle V2好很多。

[2018-07-30 02:27] #12237 closed, assigned to nobody

[2018-07-30 02:30] #8366 closed

[2018-07-30 02:36] #5961 closed

[2018-07-30 02:37] #3519 closed

[2018-07-30 02:40] #7267 closed

[2018-07-30 02:41] #10686 closed

[2018-07-30 02:41] #11045 closed

[2018-07-30 02:47] luotao1 commented on #8121
We have already [arg_min_op](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/arg_min_op.cc) and [arg_max_op](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/arg_max_op.cc)

[2018-07-30 02:48] #8121 closed

[2018-07-30 02:50] luotao1 commented on #8124
We have already [gather_op](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/gather_op.cc).

[2018-07-30 02:50] #8124 closed

[2018-07-30 02:57] Emma-Ding opened #12435 "tensor_layer参数相关"
想问问这个里tesor_layer的i的维度是不是由size决定的?
![0dfa82472bf554423fe5dd474c189a8b](https://user-images.githubusercontent.com/22070158/43375390-5004965a-93e7-11e8-8c52-40c09e03d6d8.png)

[2018-07-30 03:14] luotao1 commented on #12435
是的，这里K就是输出y的维度，即这个layer的size。

[2018-07-30 03:35] tangzhiyi11 opened #12436 "安装出错，Built target paddle_fluid_api"
[ 55%] Built target paddle_inference_api_shared
[ 55%] Built target paddle_inference_api
make[2]: *** INTERNAL: readdir: Input/output error.  Stop.
CMakeFiles/Makefile2:4867: recipe for target 'paddle/fluid/framework/details/CMakeFiles/ssa_graph_checker.dir/all' failed
make[1]: *** [paddle/fluid/framework/details/CMakeFiles/ssa_graph_checker.dir/all] Error 2
make[1]: *** Waiting for unfinished job

[2018-07-30 03:44] luotao1 commented on #12436
请问 `git log`的commitid号是多少，是否为最新代码？#12416 修复过一次编译问题。

[2018-07-30 03:49] yeyupiaoling opened #12437 "Caffe转Fluid报错"
我是使用[这些模型的](https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification/caffe2fluid#tested-models)，其中测试的是ResNet101，根据官方的教程就会报以下错误：
[code]

然后我把`caffepb.py`改成`caffe_pb2.py`，上面的错误就没有了，但是在执行以下这一步的时候就报错了
[code]

[2018-07-30 03:57] luotao1 commented on #12437
改成ResNet_101呢？

[2018-07-30 03:57] yeyupiaoling commented on #12437
@luotao1 我改成ResNet，就报以下错误
[code]

[2018-07-30 04:00] yuanxiangxie commented on #12410
嗯，感谢。经过测试发现可用~

[2018-07-30 04:08] guoshengCS commented on #12413
Thanks for the proposal. The purpose of that is to be consistent with the original implement, see
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/trainer_config_helpers/layers.py#L1605. For changes proposed 2. and 3., maybe other python wrappers can be added temporarily
to be compatible with some current OCR and NLP models in the Production Line use.

[2018-07-30 04:09] tangzhiyi11 commented on #12436
85c4912755b783dd7554a9d6b9dae4a7e40371bc

[2018-07-30 04:22] luotao1 commented on #12436
请更新到最新代码，再试一下

[2018-07-30 04:32] qingqing01 commented on #12437
@yeyupiaoling  Error about `TypeError: relu() got an unexpected keyword argument 'name' ` is due to  https://github.com/PaddlePaddle/models/issues/1068  . And it is fixed by  https://github.com/PaddlePaddle/Paddle/pull/12438

[2018-07-30 05:04] yeyupiaoling commented on #8599
@pkuyym

是训练什么数据的呢？ImageNet吗？

[2018-07-30 06:07] HugoLian opened #12441 "paddle-v2版本capi预测时报错求助"
我是通过merge_v2_model(user_net, param_file, output.bin) 方法，把python写的网络(user_net)，产出的模型文件(param_file) 输出到output.bin中。
在c++的预测程序中，我按照python user_net的顺序依次把ivecotr或mat添加到args中：
CHECK(paddle_arguments_set_value(in_args, 0, mat));
CHECK(paddle_arguments_set_value(in_args, 1, mat));
CHECK(paddle_arguments_set_value(in_args, 2, mat));
......
但是预测的时候报错：
[code]
每一维度输入我都做了校验，不会超过网络设计大小，所以应该不会有输入超出的情况：
![image](

[2018-07-30 06:19] luotao1 commented on #12441
参考下 https://github.com/PaddlePaddle/Paddle/issues/12014#issuecomment-403686359 的三步试试。

[2018-07-30 06:28] luotao1 commented on #12441
V2在save model的时候，会保存一个网络配置文件，里面有写好的input的顺序，可查看。

[2018-07-30 06:44] Superjomn commented on #12441
@jacquesqiao 这可以帮看看吗，怎么打印 v2里的 protobuf

[2018-07-30 06:45] HugoLian commented on #12441
@luotao1 我把模型文件的tgz解压之后，里面只是一个一个独立的参数文件，这个排列顺序感觉只是linux得默认展现顺序，和inputs顺序有关么？
![image](https://user-images.githubusercontent.com/22980558/43381425-3138c7f8-9407-11e8-916d-0c5e3928420a.png)

[2018-07-30 06:54] HugoLian commented on #12441
@luotao1 我用V1版本的时候，那时的模型文件中是含有一个网络结构py文件的，模型文件是一个文件夹； 但是V2的模型文件是一个压缩文件，解压之后只有独立的参数，没看到网络结构文件了。

[2018-07-30 07:02] gavin1332 opened #12442 "look_up_table_op在bp阶段对padding idx的处理问题"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/lookup_table_op.h
look_up_table op 在bp阶段没有对padding idx的梯度做特殊处理？
forward运算里是有的padding idx的处理，但backward没有保持一致

[2018-07-30 07:22] HugoLian commented on #12441
有时的错误是一个负数：
![image](https://user-images.githubusercontent.com/22980558/43382928-fd479f50-940b-11e8-8322-24a357888390.png)

我的输入来自rpc请求的proto文件，上面的整形定义是uint32
在paddle中所有的整形数组是用int32_t ids[] 来接受的uint32的整形数
我这里可以保证所有的原始uint32的整形数不超过100万（最大值），所以即便类型不同，也不会出现index变成一个负数的情况吧
另，我是binary的输入，index[i] 就应该表示的输入的index数值吧

[2018-07-30 07:36] guoshengCS commented on #12442
backward的时候不用做特殊处理应该就行，不管训练过程中backward如何处理paddding_idx的embedding，forward时都会输出0

[2018-07-30 08:27] chenwhql opened #12447 "bacth size设成负数也可以正常训练？"
在fit_a_line的train.py里故意把batch size设成-1跑了一下，直接正常执行完了？
这个算不算是bug？是否要做下检查？

![image](https://user-images.githubusercontent.com/22561442/43386099-35588af4-9415-11e8-818e-048c2aa797f9.png)

然后在tensorFlow的demo里面做了下同样的操作，tensorFlow是会正常报错的

![image](https://user-images.githubusercontent.com/22561442/43386135-4d0562e4-9415-11e8-80cc-ae2fe2b4e515.png)

[2018-07-30 08:46] #12442 closed, assigned to guoshengCS

[2018-07-30 08:46] gavin1332 commented on #12442
3KS

[2018-07-30 08:53] NHZlX opened #12448 "TensorRT: elementwise op Converter"
#11720
Implement elementwise op converter for inference.

[2018-07-30 11:50] libaikai commented on #12428
大大的感谢：）

[2018-07-30 13:00] wojtuss commented on #12413
@guoshengCS , thanks for the answer!
Maybe you could give us some advice on the following:
When training a model with GRU layer on GPU, the weights for the FC and GRU layers are stored separately, right?
To be able to do inference with MKL-DNN GRU op the weights have to be loaded as one tensor.
Is there any (considerably simple) way to achieve this?

[2018-07-30 18:18] #12270 closed, assigned to wanghaoshuang

[2018-07-31 01:56] gongweibao opened #12457 "`force_init_on_cpu` takes affects only on ConstantInitializer now."
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/initializer.py#L31

It doesn't work as what we expect.

[2018-07-31 02:05] gongweibao opened #12458 "Trainer initialize parameters from pserver."

[2018-07-31 02:57] gongweibao opened #12459 "Normalinitilization use different implmention on GPU and CPU"
It contraries to intuition.

[2018-07-31 03:07] #12435 closed, assigned to nobody

[2018-07-31 03:20] panyx0718 opened #12461 "profiling the ctr model for speedup"
1 model replica

![image](https://user-images.githubusercontent.com/2887803/43435399-63dcf156-94b2-11e8-9313-50fb485c7e68.png)

8 model replica with 8 threads all reduce

![image](https://user-images.githubusercontent.com/2887803/43449110-3647f300-94e2-11e8-8a0a-b24c63e88c57.png)

8 model replica with 8 threads reduce

![image](https://user-images.githubusercontent.com/2887803/43448896-a715f876-94

[2018-07-31 05:32] dzhwinter commented on #11605
related PR. https://github.com/PaddlePaddle/Paddle/pull/12414

[2018-07-31 05:32] #11605 closed, assigned to reyoung, panyx0718, dzhwinter, qingqing01

[2018-07-31 05:40] HugoLian commented on #12441
这个问题最后定位了，原来程序实现的逻辑，我把从ivector写入in_args做成了一个方法：
[code]
因为paddle_array会常驻内存，所以在方法内部就把这个ivector给销毁了。
但是发现这样销毁之后在计算的时候原有的地址会被随机出一个数值，所以就错了。

看来还是没办法写成方法，只有写在主逻辑中，paddle_array命名成不同的对象
最后统一销毁。

谢谢大家！

[2018-07-31 06:00] #12441 closed, assigned to nobody

[2018-07-31 06:05] topxxuki commented on #12407
手动编译后解决了这个问题

[2018-07-31 06:05] #12407 closed, assigned to ktlichkid

[2018-07-31 06:38] guoshengCS commented on #12413
As you rightly say, the weights for the FC and GRU layers are stored separately. Furthermore, the weights in GRU may also different with MKL-DNN GRU op: For the weight tensor with shape `size * 3 * size` in GRU, weights of update gate and reset gate reside in the first `size * 2 * size` and are concatenated(to do matrix multiplication simultaneously), the remaining `size * size` elements are the w

[2018-07-31 07:42] gongweibao opened #12464 "Cpplint doesn't takes effects on CI server"
Such code passed CI:

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/conv_mkldnn_op.cc#L58

[code]

[2018-07-31 08:28] #12333 closed, assigned to dzhwinter

[2018-07-31 09:32] xiaolv3366 opened #12470 "Paddle训练GPU不支持CRF条件随机场"
Paddle使用GPU训练CRF条件随机场报错！这是为什么？这么重要的CRF层GPU训练都不支持，CPU训练实在太慢了！没法用GPU训练根本跑不动。
![image](https://user-images.githubusercontent.com/12287110/43451344-4ce62f82-94e7-11e8-8dee-3bd5dc92fb0b.png)

[2018-07-31 09:41] sanwushuosi commented on #12041
在我用virtualenv安装的paddle环境里面，这个lib在./paddlepaddle0.14/lib这目录里。
我往virtualenv的active添加了
export LD_LIBRARY_PATH="xxxxx/paddlepaddle0.14/lib:$LD_LIBRARY_PATH"
后，就解决了

[2018-07-31 10:11] CNevd opened #12471 "Model average Optimizer 【使用】"
看到龙飞在ppt里讲到 训练中通过窗口累计历史的parameter，预测时使用average后的parameter，整体提高预测的精度
想问一下这部分的实现逻辑是在哪个文件呢？

[2018-07-31 11:38] typhoonzero commented on #12470
Paddle 的CRF现在暂时还没有GPU版本的实现。

CPU训练速度慢，可以尝试修改`trainer_count=n`用多线程执行或者使用分布式训练提升速度。

[2018-07-31 12:04] HugoLian opened #12474 "为什么模型文件中参数数量，和网络结构不一致呢？"
在我的网络结构中，有22个embedding层，但是解压gz模型文件后，发现只有21个embedding层的变量（0-20），这是为什么呢？
![image](https://user-images.githubusercontent.com/22980558/43458373-a2cf6476-94fc-11e8-98e9-748d5ab44233.png)

查看下对应的embedding_20, 模型文件大小是48，而对应我的第21层网络是：
4 ×２×４＋１６＝４８是可以对上的

![image](https://user-images.githubusercontent.com/22980558/43458454-ec1da0fc-94fc-11e8-9315-49af273131de.png)

然而第22个embedding得参数去哪儿了呢？

[2018-07-31 12:08] typhoonzero commented on #12474
可以直接给embedding layer设置一个名字( `name=xxx` )，然后再save下正常是都会save的，可能是顺序问题？

[2018-07-31 12:33] panyx0718 commented on #12304
能更详细的描述一下问题吗？

[2018-07-31 13:13] NHZlX opened #12477 "fix warning during compile"
The log:
[code]

[2018-07-31 13:13] NHZlX opened #12478 "fix warning "warning: comparison between signed and unsigned integer expressions [-Wsign-compare]""
The log:
[code]

[2018-07-31 13:15] #12477 closed, assigned to nobody

[2018-07-31 13:16] NHZlX commented on #12477
Duplicate issue see #12478

[2018-07-31 13:20] bhan1111 opened #12480 "关于fluid版本对大规模离散特征支持的问题"
使用fluid版本(0.14.0)对特征做embedding时，需要输入size=[A, B] 当A比较大时，目前遇到了两个问题。
第一, A赋为大的int值，比如9999999999, 会报
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/29255596/43461571-682e6236-9506-11e8-974b-bee2b487fb75.png">这样的类型错误
第二， A赋为较小的int值，比如99999999, 会提示内存不够。这个与版本相关，使用老版本fluid跑过，并没有报内存错误

[2018-07-31 13:45] freekoy commented on #12429
已返回numpy array亦是不对

[2018-07-31 14:00] jacquesqiao commented on #12471
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/optimizer.py#L1111  在这里

[2018-07-31 14:08] typhoonzero commented on #12480
第一个问题，麻烦贴下模型配置的关键代码信息吧，最好能给出具体的复现方法。

`99999999 * 32 * 4.0 / 1024 / 1024 / 1024 = 12 GB` 这个embedding至少需要12GB的内存，请确保有足够的内存

[2018-07-31 15:54] guochaorong opened #12481 "random fail unittest"
1.  test_dist_se_resnext
2. test_parallel_executor_mnist

第一个单测在厂内的4个agent上， 有80%的概率会失败
失败原因：
![fail1](https://user-images.githubusercontent.com/32069604/43471048-a2fcc70c-951c-11e8-878c-a262a1348a8f.JPG)
请武毅老师帮忙调查更正

第二个单测，在所有agent上，有较小的概率失败
![fail2](https://user-images.githubusercontent.com/32069604/43471131-d136af98-951c-11e8-9bdf-513d60958885.JPG)
请chenduo老师评估是否真的需要disable该单测

[2018-08-01 01:13] #12437 closed, assigned to nobody

[2018-08-01 02:16] bhan1111 commented on #12480
设为稀疏的话也需要这么大的内存吗？
第一个问题复现的话应该很简单，就是个embedding层
<img width="799" alt="image" src="https://user-images.githubusercontent.com/29255596/43497268-e4c3ddfe-9573-11e8-8584-73ccc0c27f38.png">

[2018-08-01 02:19] leahic opened #12483 "安装出错 Linking libpaddle_pybind.so 失败"
[ 39%] Building CXX object paddle/fluid/pybind/CMakeFiles/paddle_pybind.dir/recordio.cc.o
[ 40%] Linking CXX shared library libpaddle_pybind.so
collect2: fatal error: ld terminated with signal 9 [Killed]
compilation terminated.
paddle/fluid/inference/CMakeFiles/paddle_fluid_shared.dir/build.make:742: recipe for target 'paddle/fluid/inference/libpaddle_fluid.so' failed
make[2]: *** [paddle/fluid/in

[2018-08-01 02:33] xusshu commented on #12288
hello,have you found a way to realize it?

[2018-08-01 02:39] liyaoshun commented on #12288
when you set input == （3,224,224）,you can also input (3,250,250).because the kernel is fixed. tips  the batch_size must be 1.I hope it will help you

[2018-08-01 02:43] typhoonzero commented on #12480
1. embedding layer的`is_sparse`是表示训练使用稀疏的gradient更新，embedding table仍然是一个dense的矩阵，embedding本身也是一个dense的，需要保存词表每个词的vector。不过现在Fluid可以支持通过把embedding table分布式存放在pserver端的方式训练，可以减小trainer本地的内存占用，使用这种方式，需要开启分布式训练，并在定义embedding layer时加上`is_distributed=True`参数，表示某个embedding是在pserver端存放。

2. embedding那个报错已经可以复现了，应该是个bug。我跟进下。

[2018-08-01 02:53] WangTaoSpace commented on #12174
您好，针对 0.11.0版本paddlepaddle给下具体的操作？out_anchor = paddle.layer.fc(
        input=net_anchor, size=128, act= None)  , out_anchor 就是我想要向量

[2018-08-01 02:54] WangTaoSpace opened #12484 "如何获取cnn全连接层的输出向量？"
您好，针对 0.11.0版本paddlepaddle给下具体的操作？out_anchor = paddle.layer.fc(
input=net_anchor, size=128, act= None) , out_anchor 就是我想要向量

[2018-08-01 02:59] WangTaoSpace commented on #12484
parameters = paddle.parameters.create(out)

parameter_names = parameters.names()
fc_mat = parameters.get('fc')
print fc_mat

打扰了，刚看了文档。。。。。。

[2018-08-01 03:01] baiyfbupt commented on #12304
在使用变长图像数据做训练/预测时，输入数据存在两个shape
1. 是在compile_time指定用来做各个Opeator InferShape的静态的shape，记做`shape_attr`
2. 是run_time根据实际灌进去的数据的动态变化的shape，记做`shape_tensor`

在使用变长图像做输入数据时，这两者会有diff，这个diff主要会影响到reshape op
reshape op从`shape_attr`或者`shape_tensor`得到输出尺寸，所以如果只给了reshape静态的`shape_attr`，reshape是无法把各种尺寸的输入data reshape到统一尺寸`shape_attr`的；
https://github.com/PaddlePaddle/Paddle/blob/c58af84c66ddd59d1fba72cbe2044e7ba

[2018-08-01 04:34] #12478 closed, assigned to nobody

[2018-08-01 05:08] #12211 closed, assigned to NHZlX

[2018-08-01 05:35] CNevd commented on #12471
好的谢谢，这个特性是训练过程中server每次回复worker端pull操作的都是average的parameter？

[2018-08-01 06:33] JiabinYang opened #12486 "Links on the installation part of official website is not available"
Links shown in the pic on the official website is not available, plz help to fix it:
http://paddlepaddle.org/docs/0.14.0/documentation/fluid/zh/new_docs/beginners_guide/index.html
![2018-08-01 1 12 32](https://user-images.githubusercontent.com/22361972/43504877-83864f6c-9597-11e8-9ae5-9ca083b07546.png)