[2020-10-21 12:39] gfwm2013 commented on #28185
@xianbin7 请问您的issue内容是不是没有更新？我看这边issue的描述是空的

[2020-10-21 12:51] TWLemontree opened #28187 "参照 model 中 dygraph 版本的 CycleGAN 代码进行复现，失败"
我参照 paddle 的 model 仓库里 dygraph 中的 CycleGAN 代码，编写了我自己的 CycleGAN 代码。我跑了下 pp 官方的代码，效果很 nice ， 但我自己的代码跑出来全是噪声图片，我改了3个星期代码，完全不知道错误到底出在哪里。

https://aistudio.baidu.com/aistudio/projectdetail/1137630?qq-pf-to=pcqq.c2c&shared=1

求大佬帮我看一眼otz，自闭，谢谢您了otz

[2020-10-21 12:57] xianbin7 opened #28188 "mkldnn"
使用mkldnn没有丝毫加速，反而变慢了

[2020-10-21 13:01] liucaiji opened #28189 "使用 Paddle-Lite的opt工具将训练的模型转为arm下部署出问题"
我在百度AI平台高级版上训练了一个目标检测的模型，然后参考 Paddle-Lite的文档用opt工具将这个初步转换后的模型试着转换为arm下可以部署的模型，第一次因为使用的Norm Type为gn的预训练模型，报错不支持。在换bn的模型重新训练过后准备转换时出现了新的错误。
model_parser.cc:64] Check failed: version == 0U (4200848394 vs. 0) Only version 0 is supported
*** Check failure stack trace: ***

整个操作过程如下
paddle_lite_opt --model_dir=freeze_model       --valid_targets=arm       --optimize_out_type=naive_buffer       --optimize

[2020-10-21 13:14] gfwm2013 commented on #28188
@xianbin7 能麻烦给出更多的信息吗？

[2020-10-21 13:18] hong19860320 commented on #28189
请示用最新版（2.6.3）的opt工具 https://github.com/PaddlePaddle/Paddle-Lite/releases/tag/v2.6.3 重新生成模型试试 ，建议在运行opt工具前，设置环境变量export GLOG_v=5，把详细的错误信息贴上来，谢谢。

[2020-10-21 13:31] flishwang opened #28190 "Can Tensor::Slice support for begin_idx==end_idx"
Currently, the end_idx passed toTensor::Slice must be larger than begin_idx (see:
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/tensor.cc : 93)

However,  a slice with size 0 is quite useful, i.e. when getting data from an empty slot of a LodTensor.
Meanwhile, I notice that it's valid to declare a tensor with size 0.

So I wonder if it's possible to remove this restric

[2020-10-21 14:29] BlackHorseQ opened #28191 "2.0beta版本，BatchNorm1d 报错NotFoundError: No Output(X@GRAD) found for BatchNormGrad operator."
百度aistudio中运行如下代码，在未加batchnorm1d是可以运行的但是加上提示没有梯度

class base_model(fluid.dygraph.Layer):
    def __init__(self, classes_num: int):
        super().__init__()
        self.hidden_size = 128
        self.batchNorm1d = paddle.nn.BatchNorm1d(5)
        self.lstm   = paddle.nn.LSTM(input_size=20, hidden_size=self.hidden_size, direction="bidirectional")

        self.avgpool1d = paddle.nn.AvgPool1d(kern

[2020-10-21 14:40] BlackHorseQ commented on #28191
问题解决，因为优化时候使用的是parameter.list()，而normalize默认不可导。
x.stop_gradient = True。
这个其实是开发中需要考虑的，是不是应该默认可导。

[2020-10-21 15:21] yulu12138 opened #28193 "PaddlePaddle的一点小建议"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2020-10-22 01:07] TWLemontree commented on #28055
虽然没太看懂在哪里加载的参数，但是我的问题已经解决了，还是谢谢您！

https://aistudio.baidu.com/aistudio/projectdetail/1124272

我是通过上述项目给出的方法解决的问题otz

在 2020-10-19 14:56:54，"littletomatodonkey" <notifications@github.com> 写道：

以动态图代码加载静态图预训练模型为例，可以指定参数load_static_weights=True，脚本如下所示，

https://github.com/PaddlePaddle/PaddleClas/blob/8e42f786da57bb1fcb243af4defb5b989334f4ba/tools/eval.sh#L5

—
You are receiving this because you autho

[2020-10-22 01:09] TWLemontree commented on #27491
这个问题已经解决了，pp 1.8.x 版本，开启高级模式（GPU）问题解决，用基础模式（CPU）跑出现此问题。有大佬用 2.0 b 试了试，CPU GPU 均无此问题。

在 2020-09-24 00:32:47，"whs" <notifications@github.com> 写道：

请问您使用的paddle版本是？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-22 01:10] huyutao3550346 commented on #28149
非常感谢您的回答，我这边使用GCC4.8.2后，就能完成编译了。

[2020-10-22 01:11] #28149 closed, assigned to Shixiaowei02

[2020-10-22 02:44] Shixiaowei02 commented on #28149
不客气~~

[2020-10-22 03:05] tink2123 commented on #28187
可以给两个网络同样的输入和同样的初始化，然后查看一下各层的输入结果，比对一下哪里有diff。

[2020-10-22 03:09] mingquanyuan commented on #28047
您好，这个问题有新的进展吗？谢谢🙏

[2020-10-22 03:12] TWLemontree commented on #28187
好的

| |
W. Tan
|
|
邮箱：tw_lemontree@163.com
|

签名由 网易邮箱大师 定制

在2020年10月22日 11:05，xiaoting 写道：

可以给两个网络同样的输入和同样的初始化，然后查看一下各层的输入结果，比对一下哪里有diff。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-22 03:14] cryoco commented on #28047
看起来是在初始化的时候挂掉了。请问别的模型在GPU下可以正常运行么

[2020-10-22 03:15] tink2123 commented on #28187
大概看了一下你的组网代码，好像没有找到反卷积层的定义，可以再参考一下models里的结构～

[2020-10-22 03:16] mingquanyuan commented on #28047
OCR的文字识别模型没有问题

[2020-10-22 03:16] gfwm2013 commented on #28193
@yulu12138 感谢建议，您的需求我会向内部进行反馈的。

[2020-10-22 03:21] snow-orld opened #28205 "Win10 Py3.8 import paddle.fluid报错ImportError: DLL load failed while importing core_avx"
运行环境：
[code]

安装方式pip
[code]

成功安装后，运行```pip list```确认已安装paddlepaddle
[code]

在cmd中进入python解释器：
[code]
报错：
[code]

[2020-10-22 03:23] gfwm2013 commented on #28190
@flishwang Thank you for your suggestion, I will feedback internally whether your suggestion is feasible.

[2020-10-22 03:28] starsblinking opened #28206 "embedding层可能用float64时有bug？"
简单描述下。例如，我在输入data层后接一个paddle.fluid.layers.embedding层，设dtype=float32，后接其他网络结构，这时能正常训练：
x = embedding(..., dtype='float32')
y = other_network(x)
但如果将embedding层的dtype改为float64, 后接paddle.fluid.layers.cast转为float32（为保证后续网络输入类型不受影响)，再接原来同样的其他网络，则会报错:
x = embedding(..., dtype='float64')
x = cast(x, 'float32')
y = other_network(x)

报错信息：
Error Message Summary:

InvalidArgumentError: Tensor holds the wrong

[2020-10-22 03:33] gfwm2013 commented on #28205
@snow-orld 可以尝试一下使用python3.8.0

[2020-10-22 03:34] snow-orld commented on #28205
我在另一台Win10笔记本上安装后不会报错，导入成功。用的也是Python3.8.4

[2020-10-22 03:50] gfwm2013 commented on #28205
@snow-orld 可能这台windows机器的环境存在着一些问题。

[2020-10-22 03:57] flishwang opened #28207 "框架外自定义c++ operator报错：bad_allocator"
基于rpn_target_assign_op.cc的代码在框架外自定义算子遇到报错，请问这个报错信息是什么意思，代码哪里写错了，应该如何调试？
之前基于generate_proposals_op.cc generate_proposals_op.cu的代码改的算子是可以正常运行的。

- 版本、环境信息：
Paddle version: 1.8.3
Paddle With CUDA: True

OS: debian stretch/sid
Python version: 3.7.7

CUDA version: 10.1.243
cuDNN version: 7.6.5
Nvidia driver version: 418.87.00

- 训练信息
    1）单机，CPU

步骤：

将paddle 1.8.3源代码中的rpn_target_assign_op.cc拷出至src目录，

[2020-10-22 03:59] cryoco commented on #28047
我们正在获取可用的xavier设备用于复现，可以先gdb看一下core的堆栈信息么

[2020-10-22 04:09] mingquanyuan commented on #28047
这个具体怎么操作，不太会。。。

[2020-10-22 04:42] snow-orld commented on #28205
已解决。
```C:\Program Files\Python38\lib\site-packages\paddle\fluid```文件夹下的core_avx.pyd加载出错，[因为](https://support.pyxll.com/hc/en-gb/articles/360041392893-Error-importing-Python-module-DLL-load-failed#:~:text=DLL%20load%20failed%3A%20The%20specified%20module%20could%20not,that%20is%20what%20this%20error%20is%20telling%20you.):

出问题的台式机只装了Microsoft Visual C++ 2015 Redistributable，运行OK的笔记本上是Microsoft Vi

[2020-10-22 04:42] #28205 closed, assigned to gfwm2013

[2020-10-22 05:47] xiaomujiang opened #28209 "为什么Conv2D的结果每次都不一样"
使用下面的test模型，在aistudio测试Conv2D的结果，每次运行的时候，得到结果都是不一样，这是哪里写错了吗？还是有什么随机数的步骤
import numpy as np
import paddle.fluid as fluid
from paddle.fluid.dygraph import Conv2D
from paddle.fluid.dygraph import to_variable
class Test(fluid.dygraph.Layer):
    def __init__(self,name_scope):
        super(Test,self).__init__(name_scope)
        self.conv = Conv2D(num_channels=1,num_filters=1,filter_size=3,stride=1,pa

[2020-10-22 05:48] #28135 closed, assigned to nobody

[2020-10-22 06:32] guoshengCS commented on #27970
可以先确认下参数是否被按照预期加载了，从model.network中取出参数打印看下两次是否一致。

[2020-10-22 07:00] lyy1988323 opened #28212 "paddle 使用GPU报错"
1.运行代码
[code]

2.报错信息
[code]
3.运行环境
[code]

[2020-10-22 07:19] zhupengyang commented on #28099
试试conda换清华源

[2020-10-22 07:48] lyy1988323 commented on #28212
已解决：GPU被其他程序占用，释放掉就好了

[2020-10-22 08:32] #28185 closed, assigned to gfwm2013

[2020-10-22 08:34] gfwm2013 commented on #28191
@BlackHorseQ 感谢建议，您的需求我会向内部进行反馈的。

[2020-10-22 09:04] flishwang commented on #28207
进一步定位发现，当程序执行到：

[2020-10-22 09:05] DannyIsFunny commented on #28206
你好，我们当前embedding层还不支持设置为double类型

[2020-10-22 09:07] flishwang commented on #28207
进一步定位发现，当程序执行到：
gt_boxes->lod()
时，就会报错。

generate_proposals_op.cc能正常运行，是因为context.Input只有Tensor，没有LodTensor
为什么LodTensor::lod()的执行会报bad_alloc这个错呢？

[2020-10-22 09:43] habout632 opened #28218 "在安装过程中，出现了提示tensort依赖的问题"
我使用快速安装的时候，给的命令
python3 -m pip install paddlepaddle-gpu==1.8.5.post107 -i https://mirror.baidu.com/pypi/simple

执行完成之后，提示如下问题：

提示如下问题
TensorRT dynamic library (libnvinfer.so) that Paddle depends on is not configured correctly. (error code is libnvinfer.so: cannot open shared object file: No such file or directory)
  Suggestions:
  1. Check if TensorRT is installed correctly and its version is mat

[2020-10-22 12:15] DannyIsFunny commented on #28218
你好，这个提示信息不影响正常运行、属于可以无视的warning信息。在最新版本里，本段warning信息已经被精简了

[2020-10-22 13:10] DannyIsFunny commented on #28209
因为这个新建的Conv2D，没有指定weight和bias信息。 其weight和bias信息使用了随机值。
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Conv2D_cn.html#conv2d
![image](https://user-images.githubusercontent.com/45189361/96876422-058caa80-14ab-11eb-9b45-acf7bc78f74a.png)

每一次计算都是用了一个新的随机的weight和bias，导致Conv2D在同样输入下输出不同

[2020-10-23 02:04] zhongqing0507 opened #28223 "<论文复现> paddle 函数报错"
我用的aistudio 环境是python 3.7 paddle 1.8.0, 当我运行程序时，报错：
 elementwise_op_function.h:1068] Error, broadcast should not into w broadcast。
看到社区说需要更新paddle版本，我更到了paddle 1.8.5, 出现以下问题：

TensorRT dynamic library (libnvinfer.so) that Paddle depends on is not configured correctly. (error code is libnvrtc.so.11.0: cannot open shared object file: No such file or directory)
  Suggestions:
  1. Check if TensorRT i

[2020-10-23 02:20] starsblinking commented on #28206
对double的支持在开发计划内了吗? 如果没有的话，希望未来能支持一下～我有这方面的需求。多谢！

[2020-10-23 02:21] starsblinking commented on #28206
文档里目前写着的是支持double https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/embedding_cn.html#embedding

[2020-10-23 02:24] zhaozheng09 commented on #28058
想问下，我们支持ps架构下异步梯度更新的弹性这种模式么？我在文档中并没有看到。

[2020-10-23 02:48] cryoco commented on #28223
您好，这个信息只是在环境没找到TensorRT的时候的一个warning，不影响您继续使用paddle进行论文复现。这个信息有些不明确，我们在后续版本对其做了精简，感谢反馈。

[2020-10-23 03:26] #28157 closed, assigned to wanghaoshuang

[2020-10-23 03:26] DannyIsFunny commented on #28207
你好，已经反馈相关开发同学，在等待其反馈

[2020-10-23 03:53] zhiqiu commented on #28066
已线下沟通，经排查发现，模型中有一处concat的两个tensor的rank不一致，导致错误。

[2020-10-23 06:04] biubiuyi commented on #15367
paddle1.7，fluid.layer.embedding ==》fluid.embedding 可以避免第一个问题

[2020-10-23 06:04] zhangyushan223706 opened #28227 "Unable to cast Python instance to C++ type"
   1）aistudio
    2）v100
    3）paddle 1.8.0
- 复现信息：
ack (most recent call last)<ipython-input-20-d814ef324047> in <module>
    156                 avg_loss.backward()
    157
--> 158                 optimizer.minimize(avg_loss,parameter_list=track.parameters())
    159
    160
</opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/decorator.py:decorator-gen-185> in minimize(self, loss

[2020-10-23 06:10] zhangyushan223706 commented on #28227
动态图编程，优化时报错，怎么解决？

[2020-10-23 06:37] #28209 closed, assigned to nobody

[2020-10-23 06:39] Noisyntrain opened #28228 "<论文复现> 在将参数传入Linear时报错"
Paddle版本 1.8.4（在本地还有aistudio上都进行过尝试，均报错），使用cpu训练，单机单卡，在将一个LoDTensor传入Linear层的时候出现报错：
**x type and shape: VarType.LOD_TENSOR   VarType.FP32   [56, 25733]**
Traceback (most recent call last):
  File "paddle_demo.py", line 75, in <module>
    patience=config['patience']
  File "/home/aistudio/work/train_VASC.py", line 282, in vasc
    decoded_x,z_mean = model([fluid.dygraph.base.to_variable(expr_trai

[2020-10-23 07:19] huyutao3550346 opened #28229 "人脸口罩预测出错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4(源码编译的形式)
    2）CPU：无
    3）GPU：CUDA=9.2，CUDNN=7.6
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
-预测信息
    1）C++预测：
           version文件内容：

    2）CMake包含路径的完整命令

CMake内容：
[CMakeLists.txt](https://github.com/PaddlePaddle/Paddle/files/5427841/CMakeLists.tx

[2020-10-23 07:22] juncaipeng commented on #28227
可以将代码贴一下吗？从log无法明确出来问题，可能是用法有误。

[2020-10-23 07:39] #25802 closed, assigned to nobody

[2020-10-23 07:43] zhangyushan223706 commented on #28227
#!/usr/bin/env python
# coding: utf-8

# In[ ]:

# 查看当前挂载的数据集目录, 该目录下的变更重启环境后会自动还原
# View dataset directory. This directory will be recovered automatically after resetting environment.
get_ipython().system('ls /home/aistudio/data')
#!mv data/data51016/data.rar data/
get_ipython().system('pip install --upgrade --pre visualdl')
get_ipython().system('python -m pip install paddlepaddle-gpu==2.0.0b0 -i

[2020-10-23 07:48] juncaipeng commented on #28228
可以将相关代码贴一下吗？log来看确实是参数类型不匹配的问题。

[2020-10-23 07:50] zhangyushan223706 commented on #28227
class ConvBNLayer(fluid.dygraph.Layer):
    def __init__(self,
                 num_channels,
                 num_filters,
                 filter_size,
                 lr,
                 step_each_epoch,
                 stride=1,
                 act=None
                 ):
        """

        num_channels, 卷积层的输入通道数
        num_filters, 卷积层的输出通道数
        stride, 卷积层的步幅
        groups, 分组卷

[2020-10-23 07:55] zhangyushan223706 commented on #28227
主要是对paddle.layers运算进行了再次函数封装

[2020-10-23 07:57] juncaipeng commented on #28229
paddle c++预测库主要支持cuda9.0和cuda10.0。口罩demo的文档有进行说明，如下图。你环境是cuda9.2，可能是此处导致问题。

![image](https://user-images.githubusercontent.com/52520497/96971804-37078380-1548-11eb-938a-2c64a3241e13.png)

建议使用paddle提供的预测库和运行环境。

[2020-10-23 08:04] zhangyushan223706 commented on #28227
应该怎么进行封装运算？

[2020-10-23 08:10] huyutao3550346 commented on #28229
@juncaipeng 非常感谢你的解答，由于我的环境还有其他的库是依附于cuda9.2编译的，所以要将paddle部署在我的环境中，还是要使用cuda9.2版本。
我还有一个疑问，如果cuda的问题，为什么图片A能顺利执行？如果是环境问题的话，一般来说，运行图片A应该也是会直接奔溃的吧。

[2020-10-23 08:22] Noisyntrain commented on #28228
[code]

然后调用model的时候是这么用的：
`decoded_x,z_mean = model([fluid.dygraph.base.to_variable(expr_train),tau])`

全部的代码我有在aistudio分享 链接是 https://aistudio.baidu.com/aistudio/projectdetail/1114094?shared=1
进去之后在终端运行python paddle_demo.py就好了 不过我感觉这个bug和剩下部分的代码应该关系不太大？

[2020-10-23 08:24] huyutao3550346 commented on #28229
刚刚加了下打印，发现是由于检测不到B图片的人脸，传了一个空的值到口罩分类模型中。将图片等比缩放下，就能跑通了。

[2020-10-23 08:25] #28229 closed, assigned to juncaipeng

[2020-10-23 08:41] juncaipeng commented on #28228
这个dropout是静态图的，动态图Dropout参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Dropout_cn.html#dropout

[2020-10-23 08:52] Noisyntrain commented on #28228
好像还是不行..
[code]
Traceback (most recent call last):
  File "paddle_demo.py", line 75, in <module>
    patience=config['patience']
  File "/home/aistudio/work/train_VASC.py", line 283, in vasc
    decoded_x,z_mean = model([fluid.dygraph.base.to_variable(expr_train),tau])
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/layers.py", line 461, in __call__

[2020-10-23 11:44] menghou opened #28232 "parallel_executor init错误"
![image](https://user-images.githubusercontent.com/9972335/96999659-1cdd9d80-1568-11eb-9fa6-a4465f59e56b.png)

[2020-10-23 11:45] menghou commented on #28232
本地训练没问题，mpi上错误

[2020-10-23 12:21] silenceWei opened #28234 "某个fc 冷启动没有模型参数保存"
![image](https://user-images.githubusercontent.com/13832190/97002940-464cf800-156d-11eb-9330-1bfa4b881628.png)

为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.1

[2020-10-23 12:48] juncaipeng commented on #28232
请 @seiriosPlus 看下分布式的问题。

已经拉群讨论解决。

[2020-10-23 13:39] juncaipeng commented on #28234
使用netron打开模型拓扑结构看下是否有fc op，然后检查fc op是否有被裁剪。

[2020-10-23 14:14] Masterkmp opened #28235 "报错怎么解决？"
![图片](https://user-images.githubusercontent.com/37642547/97014532-0aba2a00-157d-11eb-9c0b-ddd4676e4d85.png)

[2020-10-25 05:34] BlackHorseQ opened #28238 "paddle中有没有，pytorch 中mask_fill对应的函数，paddle中mask_select是改变了shape"
是不是增加一些mask_select的功能使其不改变形状呢？
还是需要自己实现

x[x == 0] = 1

以及如何实现

[2020-10-25 10:34] CZDGitH opened #28239 "求均值结果不一样"
![QQ图片20201025183303](https://user-images.githubusercontent.com/40756915/97104659-9a341a00-16f0-11eb-8cc4-5fc9e349b44f.png)
![QQ图片20201025183314](https://user-images.githubusercontent.com/40756915/97104661-9c967400-16f0-11eb-8785-0fc18ee7f0ab.png)
https://www.paddlepaddle.org.cn/tutorials/projectdetail/1086957#anchor-1
我发现用计算方法求均值和用mean求的结果不一样，麻烦看下是什么原因？

[2020-10-25 12:03] dongyangli-del opened #28240 "paddlepaddle-gpu==1.8.5.post107安装报错：“系统无法访问此文件”"
![image](https://user-images.githubusercontent.com/62006079/97106462-bd64c680-16fc-11eb-835e-7e5744a0d80c.png)

    1）PaddlePaddle版本：paddlepaddle-gpu==1.8.5.post107
    4）系统环境：Win10
- 安装方式信息：
1）pip安装
- 问题描述：我用pip安装tensorflow-gpu就可以用，安装paddlepaddle-gpu在命令行引入就报错说系统无法访问此文件，请问这是怎么回事？？

[2020-10-26 01:10] mingren8888 commented on #28036
这个450.36最低需要cuda11.0才能兼容，是从哪看到的呢？ 虽然cuda10不能发挥450.36的全部功能，但是450.36可以发挥cuda10的全部功能吧，向下兼容吧

[2020-10-26 02:22] juncaipeng commented on #28235
从log来看，是mul op输入维度错误，num_col_dims必须小于输入x的维度数量。
具体使用方法请参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/mul_cn.html#mul

[2020-10-26 02:22] juncaipeng commented on #28234
用户问题已解决。

[2020-10-26 02:22] #28234 closed, assigned to juncaipeng

[2020-10-26 02:25] #28223 closed, assigned to juncaipeng

[2020-10-26 02:26] juncaipeng commented on #28227
正常封装是可以的，但是底层还是必须符合paddle api的规范哦。

[2020-10-26 02:52] FrostML commented on #28239
您好，对于求 mean 的操作，我这里测试是可以对上的
![image](https://user-images.githubusercontent.com/7160927/97142436-96a99d00-179b-11eb-999b-2a683660e7ac.png)

输出是：
![image](https://user-images.githubusercontent.com/7160927/97129169-33a70e80-1779-11eb-956e-1dbc86243bde.png)

您出现以上的问题应该是`training_data = data`之后，对 `data` 做了处理导致的，可以尝试将这个地方换成拷贝`training_data = data.copy()`，可以得到相同的结果。

[2020-10-26 03:04] SWHL commented on #27964
同求

[2020-10-26 03:40] habout632 opened #28243 "各种loss是不是可以整合到一个目录，模块下？"
现在各种loss感觉有点分散，在不同的文件当中　不便于查找使用　这个不知道在2.0当中是不是已经有这个功能了？

[2020-10-26 03:44] zhwesky2010 commented on #28240
@dongyangli-del 您好，显示python的nltk没有安装好，因为paddle依赖了这个python模块，所以报错，tf没有依赖这个。麻烦在python解释下直接import nltk看下，或者重装下nltk呢

[2020-10-26 03:49] juncaipeng commented on #28228
你的代码需要在动态图guard中声明模型。

![image](https://user-images.githubusercontent.com/52520497/97132243-458caf80-1781-11eb-9cdd-50045ce18a19.png)

请参考1.8的文档熟悉一下动态图使用：https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html

目前动态图还在快速开发阶段，2.0版本发布后才会趋于稳定，所以变动较大。

[2020-10-26 04:18] FrostML commented on #28238
Paddle 目前还没有 masked_fill，我这边反馈一下。
关于这个功能，可以试试 `result = x * mask` 能否满足需求，`mask` 是一个仅有 0/1 的 Tensor，与 x 的 shape 相同，可以通过 比如 `paddle.cast((x == 0), dtype='float32')` 可以获得

[2020-10-26 04:19] Noisyntrain commented on #28228
好的，我把model的声明挪进guard之后就没有这歌错误了 谢谢1

[2020-10-26 06:37] tz28 opened #28244 "训练的时候提示build_strategy.cc:170] fusion_group is not enabled for Windows/MacOS now, and only effective when running with CUDA GPU."
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：训练的时候日志显示build_strategy.cc:170] fusion_group is not enabled for Windows/MacOS now, and only effective when running with CUDA GPU.然后就不训练了。
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.2
    2）CPU：MPI集群
    3）GPU：无
    4）系统环境：
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pad

[2020-10-26 06:56] R132 opened #28245 "How to use padding_mode="reflection" in grid_sampler"
如题，对应pytorch中API为：
https://pytorch.org/docs/stable/nn.functional.html?highlight=grid_sample#torch.nn.functional.grid_sample

torch.nn.functional.grid_sample(input, grid, mode='bilinear', padding_mode='zeros', align_corners=None)

padding_mode="reflection": use values at locations reflected by the border for out-of-bound grid locations. For location far away from the border, it will keep being refl

[2020-10-26 07:04] cryoco commented on #28245
请问您是想问，paddle中是否有对应torch中相应功能的api吗？

[2020-10-26 07:33] R132 commented on #28245
应该是没有吧，想咨询一下有没有遇到类似的问题，我感觉似乎想要实现需要循环不断处理，直到把值映射到 [-1, 1] 范围

[2020-10-26 07:42] liu824 commented on #25211
你好，我同样遇到了这个问题，但是我使用的是Dataloder.from_generator(),里边没有use_share_memory这个参数，那我该如何操作呢？

[2020-10-26 07:43] liu824 commented on #25211
我把use_multiprocess设置为False不报错了

[2020-10-26 07:54] R132 commented on #28245
有一个问题就是paddle怎么实现mask*Tensor呢？

[2020-10-26 07:58] applezjm opened #28247 "1.如何冻结参数 2.如何截取参数"
1.如何在训练过程中冻结参数，求给一个示例

2.我们save_params的参数格式是16 * 768，如何截取前2 * 768个参数并重新save成相同格式？

[2020-10-26 08:08] wojtuss commented on #25494
@luotao1
This issue is also inhibitive for us when working on issues and developing new functionalities.

[2020-10-26 08:11] wojtuss opened #28248 "Building Paddle in Debug mode fails"
**System information**
-PaddlePaddle version: current develop branch
-CPU: including CPUMKL/OpenBlas/MKLDNN version
-OS Platform and Distribution: Ubuntu 18.04
-Python version: 2.7.17

**To Reproduce**
Build Paddle with cmake command containing the option `-DCMAKE_BUILD_TYPE=Debug`, e.g.
[code]

When building Padle in debug mode the issue https://github.com/PaddlePaddle/Paddle/issues/25494 is pres

[2020-10-26 08:21] SunHao-TSU opened #28249 "paddle-gpu版本执行fluid.install_check.run_check()长时间运行（长时间不出结果 >10min）"
win10系统，cuda版本10.0，cudnn版本7.6，paddle版本1.8及2.0，python版本3.7.9.
CPU 至强e5 2640，GPU 3090.
安装方式，pip 安装。

现象：
执行fluid.install_check.run_check()后，程序长时间后台运行，不反馈结果。
（cpu版本可以执行成功）

长时间运行后出现结果：
**Process finished with exit code -1**

ps: nvcc -V 信息
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Sat_Aug_25_21:08:04_Central_Daylight_Time_2018
Cuda compilation tools, re

[2020-10-26 08:29] cryoco commented on #28245
您好，从2.0beta版本后padding_mode这个参数我们已经支持，使用方法和torch类似，您可以参考这里的文档：https://github.com/PaddlePaddle/Paddle/blob/release/2.0-beta/python/paddle/nn/functional/vision.py#L196
官网api文档尚未更新，已经反馈相关同学，我们会尽快更新。

[2020-10-26 08:40] R132 commented on #28245
刚好正在用beta，好我试试。

[2020-10-26 08:40] #28245 closed, assigned to cryoco

[2020-10-26 08:58] R132 commented on #28245
windows下的paddlepaddle-gpu-2.0.0b0 还没有这个参数哈，麻烦更进一下QAQ

-----更新
发现新版本在paddle.nn.functional.grid_sample，不是之前的grid_sampler

[2020-10-26 09:01] R132 commented on #28245
我错了，新版本改名回grid_sample 不是 grid_sampler 了，需要区分

[2020-10-26 09:08] #28002 closed, assigned to jczaja, sfraczek, lidanqing-vv

[2020-10-26 09:44] #10882 closed

[2020-10-26 09:44] #17409 closed, assigned to JesseyXujin

[2020-10-26 09:44] #17438 closed, assigned to gavin1332, velconia

[2020-10-26 09:44] #17676 closed, assigned to kuke

[2020-10-26 09:44] #17989 closed, assigned to nobody

[2020-10-26 09:44] #18799 closed, assigned to DDDivano, JiabinYang

[2020-10-26 09:44] #18985 closed, assigned to wanghaoshuang

[2020-10-26 09:44] #19051 closed, assigned to nobody

[2020-10-26 09:44] #19938 closed, assigned to yinweichong, hutuxian

[2020-10-26 09:44] #19968 closed, assigned to wanghaoshuang

[2020-10-26 09:44] #20020 closed, assigned to NHZlX

[2020-10-26 09:44] #20067 closed, assigned to liupluswei

[2020-10-26 09:44] #20085 closed, assigned to chengduoZH

[2020-10-26 09:44] #20120 closed, assigned to Shixiaowei02

[2020-10-26 09:44] #20123 closed, assigned to Shixiaowei02

[2020-10-26 09:44] #20153 closed, assigned to qingqing01

[2020-10-26 09:44] #20168 closed, assigned to sandyhouse, gongweibao, bjjwwang

[2020-10-26 09:44] #20305 closed, assigned to nobody

[2020-10-26 09:44] #20390 closed, assigned to xyoungli

[2020-10-26 09:45] #20403 closed, assigned to ceci3

[2020-10-26 09:45] #20433 closed, assigned to xyoungli

[2020-10-26 09:45] #20504 closed, assigned to seiriosPlus

[2020-10-26 09:45] #20588 closed, assigned to sandyhouse

[2020-10-26 09:45] #20608 closed, assigned to chengduoZH

[2020-10-26 09:45] #20609 closed, assigned to nobody

[2020-10-26 09:45] #20610 closed, assigned to nobody

[2020-10-26 09:45] #20637 closed, assigned to gavin1332

[2020-10-26 09:45] #20670 closed, assigned to nobody

[2020-10-26 09:45] #20674 closed, assigned to LielinJiang

[2020-10-26 09:45] #20719 closed, assigned to luotao1

[2020-10-26 09:45] #20731 closed, assigned to chengduoZH

[2020-10-26 09:45] #20732 closed, assigned to nobody

[2020-10-26 09:45] #20745 closed, assigned to JiabinYang

[2020-10-26 09:45] #20747 closed, assigned to seiriosPlus, 123malin

[2020-10-26 09:45] #20788 closed, assigned to nobody

[2020-10-26 09:45] #20792 closed, assigned to wanghaoshuang

[2020-10-26 10:07] wanghaoshuang opened #28253 "PaddleTRT无法执行PaddleOCR量化后模型"

[2020-10-26 10:14] wanghaoshuang commented on #28253
@yukavio

[2020-10-26 10:40] Monday-Leo opened #28254 "AI Studio训练自动断开"
在AI Studio用算力卡训练模型时，可以正常运行，算力卡充足，一周也没有超过70个小时，训练到五六个小时，就会自动断开，说是长期不活跃，请问这种情况怎么解决，训练过程不就是在等待的过程中，都没有碰电脑。

[2020-10-26 11:10] BlackHorseQ opened #28255 "paddlepaddle中 有类似于clone或者deepcopy的功能的api嘛"
如题，请问该如何实现deeocopy的功能

[2020-10-26 11:16] LDOUBLEV commented on #28253
## 问题

### 1. TRT对OCR的模型加速不明显

如下图：
![image](https://user-images.githubusercontent.com/26592129/97165631-f6656f80-17be-11eb-8cc6-b14a23ccadf2.png)

### 2. 开启TRT加速后，python端预测无法加载量化模型

报错信息如下：
[code]

## 环境
- CUDA 10.1
- CUDNN 7.6
- Driver  418.67
- TRT： docker 自带的TensorRT6-cuda10.0-cudnn7.tar.gz 和官网下载的[TRT6](http://10.12.121.139:8903/tensorRT/TensorRT-6.0.1.5.Ubuntu-16.04.x86_64-gnu.cuda-10.0.cudnn

[2020-10-26 11:16] cryoco commented on #28255
您好，可以使用cast（https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/cast_cn.html#cast ）
将变量cast为相同的类型，可以实现类似deepcopy的功能

[2020-10-26 11:26] cryoco commented on #28247
1.您指的冻结参数是指停止梯度回传吗？这里有一个[示例](https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-beta/api/paddle/fluid/framework/Variable_cn.html#id12)。
2.paddle目前暂不支持这种操作哈

[2020-10-26 11:42] weiexcelpro commented on #28254
我是AIStudio的PM. 抱歉带来不便.
Notebook网页端的设计是这样的, 前端页面和后端服务器, 相互会做心跳检查. 如果前端页面关闭, 或断网, 后端无法检测到前端心跳, 则过一个小时就会自动关闭项目环境. 我这里猜测是电脑进入休眠状态, 后台判断为您已经关机了.

[2020-10-26 11:43] weiexcelpro commented on #28254
您也可以提供一下项目页面的url, 和发生时间, 我们去确认一下.

[2020-10-26 11:48] LDOUBLEV commented on #28253
## 补充
在release/1.8分支的paddle编译 带TRT的paddle，加载量化模型出现如下报错：
![image](https://user-images.githubusercontent.com/26592129/97168937-38dd7b00-17c4-11eb-98b4-8548c4d830be.png)

[2020-10-26 12:02] cryoco commented on #28249
请问您的机器是单卡还是多卡呢，您可以先试下能否正常使用paddle的功能

[2020-10-26 12:25] #28046 closed, assigned to nobody

[2020-10-26 12:29] #28068 closed, assigned to FlyingQianMM

[2020-10-26 12:31] LDOUBLEV commented on #28253
## 问题定位
根据新的报错信息，打印quant_conv2d_dequant_fuse_pass.cc：198行的数据进行观察，发现weight_scale和w_dims[0]不匹配导致报错。
![image](https://user-images.githubusercontent.com/26592129/97172483-0b93cb80-17ca-11eb-8db1-af4602c0a21e.png)

[2020-10-26 12:39] SunHao-TSU commented on #28249
您好，飞桨不可以使用。
使用paddle的包会出现下面的的报错提示：

**Traceback (most recent call last):
  File "E:/prog/test/main.py", line 22, in <module>
    paddle.disable_static()
AttributeError: module 'paddle' has no attribute 'disable_static'**

[2020-10-26 12:43] cryoco commented on #28249
请问您是在测试官网的教程文档吗，需要保证官网文档的版本和paddle的版本一致哈
![image](https://user-images.githubusercontent.com/12407750/97173611-ce303d80-17cb-11eb-9b28-6026e3741a29.png)
您这个报错来看可能是您本地的paddle版本还没有`disable_static()`这个接口。

[2020-10-26 12:44] biubiuyi opened #28256 "求conditional batch normalization"
想要实现conditional batch normalization，请问有没有静态图的实现参考呢，在源码中只看到BN

[2020-10-26 12:45] SunHao-TSU commented on #28249
我目前测试的就是2.0版本，用的也是2.0的官方实例代码。
cpu版本可以正常跑，gpu就不行。
（我电脑是双cpu+3090gpu）会有影响吗？

[2020-10-26 12:48] cryoco commented on #28249
您是安装的paddlepaddle-gpu==2.0.0-beta0版本吗

[2020-10-26 12:51] SunHao-TSU commented on #28249
是的，确定。非常奇怪~

[2020-10-26 12:53] #28218 closed, assigned to DannyIsFunny

[2020-10-26 12:54] #28212 closed, assigned to nobody

[2020-10-26 12:56] #28193 closed, assigned to gfwm2013

[2020-10-26 12:57] #28191 closed, assigned to gfwm2013

[2020-10-26 12:58] #28106 closed, assigned to nobody

[2020-10-26 12:58] #28136 closed, assigned to nobody

[2020-10-26 12:59] #28044 closed, assigned to nobody

[2020-10-26 12:59] #28037 closed, assigned to nobody

[2020-10-26 12:59] #28039 closed, assigned to nobody

[2020-10-26 13:02] #28007 closed, assigned to nobody

[2020-10-26 13:02] #28015 closed, assigned to nobody

[2020-10-26 13:25] SunHao-TSU commented on #28249
您好，确实是版本不对。修改版本之后，执行测试程序，执行结果与执行“fluid.install_check.run_check()”相同，即：程序在后台长时间运行没有结果。

[2020-10-26 14:02] abanger opened #28258 "执行paddle.fluid.install_check.run_check()时选择GPU出错，程序运行同样错误"
os.environ['CUDA_VISIBLE_DEVICES'] = '0'，执行paddle.fluid.install_check.run_check()出错
os.environ['CUDA_VISIBLE_DEVICES'] = '1'，执行paddle.fluid.install_check.run_check()正常，但程序无法执行。
GPU都是空闲状态。

- 版本、环境信息：
    1）PaddlePaddle版本：1.8.5
    2）CPU：
    3）GPU： GeForce RTX 2080 ti,Cuda compilation tools, release 9.0, V9.0.176 和CUDNN7.6
    4）系统环境：-Ubuntu 18.04
- 安装方式信息：
1）pip3 install paddlepaddle-gpu==1.8.5.p

[2020-10-26 14:40] zhwesky2010 commented on #27922
![image](https://user-images.githubusercontent.com/52485244/97186211-f9228d80-17db-11eb-80cc-594a0f48337d.png)
![image](https://user-images.githubusercontent.com/52485244/97186219-fb84e780-17db-11eb-8338-7677f490a054.png)

@yeguang1991  你好，这是我在Windows10下的训练结果，batch可以打到1800，预测结果准确率80%多。看起来没问题，我这边显卡是RTX 2080Ti

[2020-10-27 02:53] HighCWu opened #28263 "未来是否会加入基于int64 Tensor进行索引，进而GetItem和SetItem"
- 版本、环境信息
1）PaddlePaddle版本：2.0.0 beta
2）CPU/GPU：cuda9.2
3）系统环境：Ubuntu 18.04
- 复现信息：
现在可以做到这样：
`
a = paddle.randn([2,3,3])
a[:1] = 0
`
但无法做到这样，会报错只支持整数和slice进行索引：
`
a[a<0] = 0
`
更复杂的，像是使用meshgrid生成三个维度坐标索引，进行`a[b,c,d] = 0`的操作，其中b、c、d可以是相同shape的int64的Tensor
- 建议描述：我觉得既然加入了索引SetItem的功能，在发布正式版前应该一步到位，实现用Tensor进行索引的功能。我想知道，这项功能是否在计划中。

[2020-10-27 03:06] fistyee commented on #26391
我也遇到了这个问题，请问您解决了吗

[2020-10-27 03:12] cryoco commented on #28258
您好，可能是对于您的gpu，cuda9版本太低了，您可以试下更新到cuda10，并重新安装cuda10对应的的paddle试下哈

[2020-10-27 03:31] doge-ac-cn opened #28266 "请问paddle有没有截取预训练模型特定层数的方法"
请问有没有截取预训练模型特定层数的方法
类似pytorch里的
[code]

[2020-10-27 03:43] zhwesky2010 commented on #28248
@wojtuss Debug mode has a large C++ dynamic library, if the Filesize file is too large, python compress wheel package will raise error. It may need to modify setup.py.in.

[2020-10-27 03:51] SunHao-TSU commented on #28249
有可能是3090和cuda10.0不适配导致的。 等paddle更新了win10 cuda11 我再尝试吧。

[2020-10-27 04:50] jiweibo commented on #28266
支持children操作。

[code]

[2020-10-27 05:24] PengheLiu opened #28268 "C++预测时出 core，不知道原因在哪，同样的模型使用 pathon 预测 api 无问题"
- 标题：C++预测时出 core，不知道原因在哪，同样的模型使用 pathon 预测 api 无问题
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）CPU：预测使用CPU，使用MKLDNN 数学库
    3）系统环境：CentOS 4.3，Python version: 2.7.2
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
    2）CMake包含路径的完整命令
    3）API信息（如调用请提供）
    4）预测库来源：特殊环境（BCLOUD编译）
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：使用 python 保存的模型，放到实验平台实例上c++预测时出 core，辛苦相关同学帮看下

## python 保存模型代码，主要是从另一个参数数组里读出参数，再保

[2020-10-27 05:34] jiweibo commented on #28268
可以打开export GLOG_v=4，看下更详细的log，看下在哪个地方挂掉了

[2020-10-27 06:49] jiweibo commented on #28263
非常感谢建议，后续会评估此需求，考虑将其加入发版计划中

[2020-10-27 06:50] HighCWu commented on #28263
好的，期待你们的进步😁

[2020-10-27 07:08] liym27 commented on #28263
@HighCWu
目前仅支持 整数、python slice、[...] 3种情况。因为性能、inplace操作等方面的考虑 ，其他情况目前暂不支持。

另外，setitem 是 inplace 操作，目前在反向梯度计算时具有一定风险：该操作会原地修改该 Tensor 的数值，且原值不会被保存。如果被修改的 Tensor 参与梯度计算，将仅会使用修改后的数值，这可能会给梯度计算引入风险。Paddle 会对具有风险的操作进行检测和报错，该功能会合入正式版。
可查看官方文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/01_paddle2.0_introduction/basic_concept/tensor_introduction_cn.html#id7

之后我们将统一评估需求后在正式版中发布完

[2020-10-27 08:05] #28266 closed, assigned to jiweibo

[2020-10-27 08:09] HighCWu commented on #28263
总之,getitem支持tensor会很棒。事实上，setItem更多是为了便捷的赋初值，还有一些非梯度操作的需求。
或者梯度赋予，给hard计算添加soft的梯度，如将softmax的结果替换为max的结果但依旧使用softmax的反传方式。我还听过将nearest插值结果替换为bilinear，但依旧使用nearest的反传方式来加快训练这样的神奇操作。
虽然我对这些并没有太多了解，不过确实有在很多代码里看到这样的应用。
而setitem使用tensor进行索引赋值，我目前想到的是字典查表时方便存值，若是一张512x512x100的大表，一堆数据进行存取的话，作为整体进行赋值肯定非常费劲，而查的是哪行哪列肯定是计算获得的，不太可能用普通的索引方式索引。
这大概是我想到的更宽泛的应用性。

[2020-10-27 09:03] abanger commented on #28258
tensorflow正常运行。

[2020-10-27 11:02] imistyrain commented on #18491
没, 换python3了

[2020-10-27 11:02] #18491 closed, assigned to nobody

[2020-10-27 12:52] PengheLiu commented on #28268
配置原因，c++代码里需要加上这条
[code]

[2020-10-27 12:52] #28268 closed, assigned to jiweibo

[2020-10-27 13:06] knightyxp commented on #28174
aistudio@jupyter-428915-1047397:~/work/PaddleSeg$ python ./pdseg/train.py --use_gpu --cfg ./configs/ocrnet_lane.yaml
TensorRT dynamic library (libnvinfer.so) that Paddle depends on is not configured correctly. (error code is libnvrtc.so.11.0: cannot open shared object file: No such file or directory)
  Suggestions:
  1. Check if TensorRT is installed correctly and its version is matched with paddl

[2020-10-27 14:39] lidanqing-vv commented on #27877
@luotao1  We reproduce slow performance on avx2 machine, but not so big diff.
[code]
What os-system this machine has ?

[2020-10-27 15:28] sxlyiyiyi opened #28279 "cuda 11支持"
什么时候能够支持30系列显卡

[2020-10-28 01:29] doge-ac-cn commented on #28247
哇，为什么会有16 * 768的网络层参数呀，是用在什么地方的，好奇

[2020-10-28 02:01] BlackHorseQ opened #28282 "请问一下对于一层参数如何直接xavier归一化？"
比如像这种方式初始化。
for p in self.parameters():
            if p.dim()>1:
                print(p.shape)
                nn.initializer.Xavier(p)
但是似乎p没什么变化。

[2020-10-28 02:02] jiweibo commented on #28279
内部评估后会加到发版计划中，会尽快支持

[2020-10-28 02:28] habout632 opened #28283 "linear act参数如果指定leaky_relu , alpha参数要如何配置？"
linear act参数如果指定leaky_relu  , alpha参数要如何配置？

[2020-10-28 03:02] zhangting2020 commented on #28283
- linear层如果指定参数act为leaky_relu，使用的是默认的alpha值，也就是0.02，可以参见官网上leaky_relu的文档说明。
- 如果你不想用0.02这个默认值，可以将linear的act设置为None，linear后再加一个leaky_relu层，去手动调整alpha

[2020-10-28 03:33] CastleDream opened #28285 "介绍说明文字不一致"
https://www.paddlepaddle.org.cn/overview  这个官网上写得内容是：
[code]
但是在github的readme上缺是
[code]
虽然是个很无聊的问题，但是还是顺手改了吧。。。

[2020-10-28 03:52] qingqing01 commented on #28207
@flishwang 我们先排查下。 另外,

在fluid.data定义时，注意是LoDTensor的，请注意正确设置 lod_level，比如`gt_boxes`:

[code]

[2020-10-28 03:52] zhangting2020 commented on #28282
上面的使用方法是错误的：Xavier是一个class，首先你要创建一个Xavier的对象。所以建议代码修改为：
[code]

[2020-10-28 03:55] zhangting2020 commented on #28285
非常感谢反馈，我们将进行修改

[2020-10-28 04:02] chenxiaozeng commented on #28256
您好，您的问题已反馈给相关研发同学，请耐心等待下~

[2020-10-28 04:32] luotao1 commented on #27877
@lidanqing-intel I have sent the machine by email.

[2020-10-28 06:14] biubiuyi commented on #28256
好的，期待回复～

[2020-10-28 06:32] abanger commented on #28258
更新到cuda10.1
python3 pdseg/eval.py --use_gpu --cfg a.yaml

#Device count: 1
W1028 06:28:06.276893 24301 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.0, Runtime API Version: 10.0
W1028 06:28:06.289625 24301 device_context.cc:260] device: 0, cuDNN Version: 7.6.
/usr/local/lib/python3.6/dist-packages/paddle/fluid/executor.py:1070: UserWarning: The followin

[2020-10-28 06:42] flishwang commented on #28207
好的。请问你们能复现这个问题吗？

另外我设法通过python端组合ops，绕过了这个需求。所以这个问题不是很急。

[2020-10-28 07:36] huyutao3550346 opened #28293 "paddle编译的c++库与libtorch库冲突的问题"
Paddle库与libtorch库都是自己编译的。
运行到pytorch的api:
torch::jit::load(model)就会出错。

编译库所生成的version文件：
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
WITH_MKL=OFF
CUDA version: 9.2
CUDNN version: v7.6
CXX compiler version: 4.8.5

错误信息如下：
*** Error in `./test_mask_face_detect_v2': free(): invalid pointer: 0x0000000059d5fe10 ***
======= Backtrace: =========
/usr/lib64/libc.so.6(+0x81609)[0x7f55d7e93609]
/home/huyutao

[2020-10-28 09:28] zhangting2020 commented on #28293
把这4个文件的ldd结果都打印出来看看
libxinyan_face_attribute_v1.so
libtorch.so
libxinyan_mask_face_detect_v2.so
libpaddle_fluid.so

[2020-10-28 09:38] huyutao3550346 commented on #28293
@zhangting2020
ldd libxinyan_face_attribute_v1.so结果：
linux-vdso.so.1 =>  (0x00007ffcb88f0000)
        libtorch.so => /home/huyutao/project-embedded/xinyan_deploy/lib/linux/libtorch.so (0x00007f4537fd2000)
        libc10.so => /home/huyutao/project-embedded/xinyan_deploy/lib/linux/libc10.so (0x00007f4537d80000)
        libcuda.so.1 => /usr/lib64/libcuda.so.1 (0x00007f4536c2a000)
        libnvrtc.so

[2020-10-28 10:15] qingqing01 commented on #28207
@flishwang 问题已经复现了，有结论会同步出来。

[2020-10-28 10:17] zhangting2020 commented on #28293
参考下pytorch的这个issue，先试试升级gcc版本 https://github.com/pytorch/pytorch/issues/24905

[2020-10-28 10:18] huyutao3550346 commented on #28293
好的 谢谢 我试试

[2020-10-28 10:20] arogowie-intel commented on #27877
@luotao1 It seems that when using Paddle from PyPI (as in description)  no oneDNN kernels are used. Even when trying to force it with `FLAGS_use_mkldnn=True` flag. However when I build Paddle from sources and then try to run this script with following command: `FLAGS_use_mkldnn=True DNNL_VERBOSE=1 python single_op_paddle_vs_npy.py` I get such error:
[code]
This is because oneDNN does not support `

[2020-10-28 11:01] ashutosh486 opened #28296 "PreconditionNotMetError: warp-ctc [version 2] Error in get_workspace_size: Summary of the error."
I am trying to train a Deepspeech 2 model on from the pre-trained baidu-en8k.
I am training on ubunut 18.04 with Nvidia-GPU.

Following are the parameters I passed before training.

Command Passed:
[code]
Error I Got:
[code]

[2020-10-28 11:12] shikeno opened #28298 "咨询 paddle trt 支持多个输入吗应该怎么配置"
如题，Retinanet模型需要传入两个变量作为输入，其中一个是图像，另一个im_info。请问有没有demo提供

[2020-10-28 11:59] luotao1 commented on #27877
Which pypi package do you use? `pip install paddlepaddle==2.0.0a0`?
We have mkldnn in this pypi package.

[2020-10-28 15:06] zhangting2020 commented on #28296
Which version of paddle is used？I will try to reproduce the above error.

[2020-10-28 15:30] ashutosh486 commented on #28296
[code]
the dataset is having a duration ranging from 1 sec to 40 sec.

[2020-10-28 15:59] arogowie-intel commented on #27877
I'm using the `2.0.0a0` version as pointed in issue description. The tag `2.0.0a0` doesn't yet have support for `FLAGS_use_mkldnn=True` in dygraph mode, as you may see [here](https://github.com/PaddlePaddle/Paddle/blob/v2.0.0-alpha0/paddle/fluid/imperative/tracer.cc#L45-L68).  This causes that no oneDNN kernel is called for any used operator, since they will not have _use\_mkldnn_ attirbute set to

[2020-10-29 00:13] liym27 commented on #28263
感谢您关于使用场景上的意见，对我们很有帮助！欢迎随时提出宝贵的建议。

[2020-10-29 00:18] HighCWu commented on #28263
确实，如果有使用场景的话应该会更好评估一些，一开始提出issue的时候没想那么多。
之后有任何建议我也会随时提出的😄

[2020-10-29 00:49] abanger commented on #28258
Cuda 升级为 release 10.1, V10.1.243，正常。

[2020-10-29 00:49] #28258 closed, assigned to cryoco

[2020-10-29 01:40] haideeyuan commented on #27490
我也出现了一模一样的问题，单机多容器可以正常运行，但是多机多卡和多机单卡都出现如下错误。我的NCCL版本是2.7.8。

[code]

[2020-10-29 02:19] luotao1 commented on #27877
Indeed We want to know why native transpose op implementation slower than numpy only on i7-machine? Could you give some explanation on it? The reason is that our business customers could choose and buy their machine, they want to know which kind of machine is OK.

[2020-10-29 03:45] zhangting2020 commented on #28296
the same issue as https://github.com/PaddlePaddle/DeepSpeech/issues/497

[2020-10-29 04:04] octaviawfx opened #28304 "paddlepaddle不支持3090显卡的新架构"
手里一台服务器系统Ubuntu 16.04，CUDA版本10.0，Nvidia驱动版本455.28。
安装了两张显卡Nvidia 2070s，Nvidia 3090。
使用官方给的测试代码“paddle.fluid.install_check.run_check()”，结果使用2070s显卡，paddlepaddle通过测试，而使用3090显卡，运行之后就一直卡住；另外，paddleocr可使用这台服务器的2070s显卡上运行，使用3090显卡也会一直卡住；

[2020-10-29 05:11] MrChengmo commented on #28304
可以参考这个ISSUE: https://github.com/PaddlePaddle/Paddle/issues/28036, Paddle暂时还没有发布支持CUDA11的新版本，可以自行尝试编译

[2020-10-29 06:03] huyutao3550346 commented on #28293
问题解决了。
原因猜测：由于我用的pytorch版本是1.3.0，编译所用的gcc版本是4.9.2(这里就很坑爹，pytorch1.3版本需要gcc4.8以上的版本编译)。而我编译paddle，用的gcc4.8.5，应该就是编译时所用的gcc版本不一致，连接在一起时，就会报上述错误。
解决方案：我将paddle使用gcc4.9.2进行编译，中途需要修改一些源代码，都是参考 https://github.com/PaddlePaddle/Paddle/issues/28149 中的Shixiaowei02 大神说的。在修改完paddle源代码后，在用4.9.2编译，就能兼容了。
同时非常感谢zhangting2020大神提供的解决思路。

[2020-10-29 06:03] #28293 closed, assigned to zhangting2020

[2020-10-29 06:12] morgan-bc opened #28305 "fluid.enable_imperative 传入Place报错"
fluid.enable_imperative 传入Place报错
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==1.8.5.post107
    2）CPU/GPU：GPU
    3）系统环境：win10
    4）Python: 3.7

首次运行 fluid.enable_imperative(fluid.CPUPlace) 或  fluid.enable_imperative(fluid.CUDAPlace) 是报错，错误如下
[code]
如果第一次报错后在同一运行环境中（如Notebook 和 ipython）再次运行该命令则不会报错。经过在 AIStudio 中试验发现，Linux 下 1.8.4 版本同样会出现这样的问题

[2020-10-29 07:38] qingqing01 commented on #28207
@flishwang  编译的命令有误, 需增加以下宏开关:

[code]

原因是您安装的是GPU的whl包，[注意文档中的注意点](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/custom_op.html#id1)，即使您这个Op是CPU的op，仍需要加这些CUDA相关的宏开关，原因是底层的LoD的数据结构在ONLY CPU和CUDA编译时不同，需要保持和您安装的PaddlePaddle包一致:

https://github.com/PaddlePaddle/Paddle/blob/1c385e26f9e6727c66f971a33f930c59f75a6639/paddle/fluid/framework/mixed_vector.h#L

[2020-10-29 07:51] flishwang commented on #28207
辛苦了！
文档里可能有歧义：
[code]
让我觉得通过g++编译cpp文件时不需要加。。。。

另外文档里的example:

[code]
这部分对relu_op.cc进行了编绎，是否意味着也需要加上述3个编绎选项？

[2020-10-29 07:58] qingqing01 commented on #28256
@biubiuyi

看样子可以参考

https://github.com/crcrpar/pytorch.sngan_projection/blob/master/links/conditional_batchnorm.py#L6

结合functional的batch_norm:

https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/functional/norm.py#L117

[2020-10-29 08:21] biubiuyi commented on #28256
感谢，我参考下

[2020-10-29 08:29] biubiuyi opened #28308 "paddle1.7 cpu异步读取数据报错"
paddle1.7 cpu 环境，复制教程异步读取数据 ，报错如图。
问题1: 异步是指cpu和gpu间异步，所以只能在gpu环境测试么。
问题2: 如果可以在cpu环境测试，怎么修改呢。
报错：

![image](https://user-images.githubusercontent.com/19962900/97543978-f0ac9b80-1a03-11eb-8dc3-0e32e2681492.png)

[code]

[2020-10-29 08:55] MrChengmo commented on #28308
你的代码中使用了 `places = fluid.cuda_places()` 但是并没有使用paddlepaddle-gpu，因此报错

建议改成 `places = fluid.CPUPlace()`

[2020-10-29 08:57] LKKlein opened #28309 "C语言预测API 获取输入输出变量名的bug"
获取输入变量名的函数：https://github.com/PaddlePaddle/Paddle/blob/1c385e26f9e6727c66f971a33f930c59f75a6639/paddle/fluid/inference/capi/pd_predictor.cc#L210

获取输出变量名的函数：
https://github.com/PaddlePaddle/Paddle/blob/1c385e26f9e6727c66f971a33f930c59f75a6639/paddle/fluid/inference/capi/pd_predictor.cc#L215

这两个函数从c++获取的变量名`names`，都用`static` 修饰，这样会导致同时加载多个输入输出变量不同模型时，只能获取到第一个模型的输入输出变量名，从而导致多个模型无法同时运行。

[2020-10-29 08:59] biubiuyi commented on #28308
修改后可运行

[2020-10-29 08:59] #28308 closed, assigned to MrChengmo

[2020-10-29 08:59] biubiuyi commented on #28308
感谢

[2020-10-29 09:07] qingqing01 commented on #28207
@flishwang  您说的有道理，文档确实存在一些歧义。relu_op.cc按理觉得也需要加上。

[2020-10-29 09:16] qingqing01 commented on #28256
@biubiuyi 忘记提醒了，functional的BatchNorm在2.0rc版本才有。

[2020-10-29 10:04] menghou opened #28312 "安装新版paddle报错No module named '_sqlite3'"
版本：快速安装版本 cpu
CentOS release 6.3

为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](

[2020-10-29 10:04] menghou commented on #28312
![image](https://user-images.githubusercontent.com/9972335/97554075-3cb20d00-1a11-11eb-8800-b113ae68c50f.png)

[2020-10-29 10:43] MrChengmo commented on #28312
请问是使用 `pip install paddlepaddle`的方式直接安装的吗？

看起来是第三方依赖库的问题，有没有尝试过在推荐的docker中进行安装？

[2020-10-29 10:54] menghou commented on #28312
这样安装的，python -m pip install paddlepaddle -i https://pypi.tuna.tsinghua.edu.cn/simple

[2020-10-29 11:19] MrChengmo commented on #28305
使用下面的方式使用该API

[code]

[2020-10-29 11:37] starsblinking opened #28315 "Load libgomp.so.1 failed"
import paddle.fluid时出现:

.../anaconda3/lib/python3.8/site-packages/paddle/fluid/core.py:194: UserWarning: Load /opt/compiler/gcc-8.2/lib/libgomp.so.1 failed
  warnings.warn("Load {} failed".format(dso_absolute_path))

但是paddle.fluid.install_check.run_check()一切正常。/opt/compiler/gcc-8.2/lib/libgomp.so.1 -> libgomp.so.1.0.0文件是存在的

请问这个Load libgomp.so.1 failed会对后续训练/预测有影响吗？

- 版本、环境信息：
centos 6u3
pytho

[2020-10-29 12:26] MrChengmo commented on #28315
run_check() 检查通过，则正常训练预测没有影响

[2020-10-29 12:29] luotao1 commented on #26673
@arlesniak @lidanqing-intel We find the reason, the cmake option`-DON_INFER=ON` is for inference, you should set `-DON_INFER=OFF` which is for training. In this cmake option, CPU training of resnet is normal.
You can have a double-check.

Maybe the reason is that softmax has different version on Inference and Training mode (see #14337), and some other differences.

[2020-10-29 13:10] #28305 closed, assigned to MrChengmo

[2020-10-30 00:49] #28207 closed, assigned to qingqing01, DannyIsFunny

[2020-10-30 02:37] #28254 closed, assigned to cryoco

[2020-10-30 02:54] zhangting2020 commented on #28282
@BlackHorseQ 请问提供的方案是否解决了你的问题呢？

[2020-10-30 02:56] zhangting2020 commented on #28283
@habout632 请问上述回复是否解决了你的问题呢？

[2020-10-30 03:03] zhangting2020 commented on #27009
请问这个问题是否已解决呢

[2020-10-30 03:23] #17937 closed, assigned to nobody

[2020-10-30 05:12] #23011 closed, assigned to jiweibo

[2020-10-30 05:40] zhangting2020 commented on #27012
由于目前暂时不支持AMD CPU，因此只能通过换CPU解决，此issue关闭

[2020-10-30 05:41] #27012 closed, assigned to nobody

[2020-10-30 06:12] Zwette opened #28321 "paddle安装验证时出现segmentation fault"
环境：
显卡：8张1080ti
系统版本：Ubuntu16.04
cuda：Nvidia-smi 显示的cuda11.0， nvcc -C显示cuda9.0， 但本机上还有个cuda10.2版本的（非默认cuda）
cudnn：7.6.5
反复安装了n次都失败。

Case1: conda 虚拟环境env1(py3.6)下pip安装，先安装了nccl：2.3.7，再run下面的命令
“python -m pip install paddlepaddle-gpu==1.8.4.post97 -i https://pypi.tuna.tsinghua.edu.cn/simple”
安装完成后提示：
![image](https://user-images.githubusercontent.com/41946061/97666772-4e4eef80-1ab9-11eb-9848-6fd764

[2020-10-30 06:54] Darki-luo opened #28322 "paddle2.0rc没有更新 fluid.layers.transpose对应的接口"
paddle2.0rc版本没有更新对应的transpose更换维度的api接口

[2020-10-30 08:01] uflexnihao opened #28324 "windows10 pip 安装paddlepaddle2.0.0rc0 报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0rc0
    3）GPU：CUDA Version 10.1.243
    4）系统环境：windows10 18363.1139   python3.6
- 安装方式信息：
  1）pip安装

- 复现信息：如为报错，请给出复现环境、复现步骤
在pycharm中选择安装paddlepaddle-gpu 2.0.0rc0，报错信息如下（直接在cmd中，启动venv环境中pip安装，报同样错误）：
Could not find a version that satisfied the requirement  paddlepaddle-gpu 2.0.0rc0 ，后面版本列表中只有2.0.0a0

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
【困惑】：
今天对比安装了一下pytorch

[2020-10-30 08:11] gp1322719830 commented on #28193
可否添加模型版本号这个成员变量，方便模型更新，校验、维护

[2020-10-30 08:21] uflexnihao commented on #28324
另，此版paddlepaddle在运行时，报的版本｛ CUDA Capability: 52, Driver API Version: 10.2｝，明明装的是cuda10.1版的
********************************************
W1030 16:17:27.004675 11640 device_context.cc:338] Please NOTE: device: 0, CUDA Capability: 52, Driver API Version: 10.2, Runtime API Version: 10.2
W1030 16:17:27.004675 11640 device_context.cc:346] device: 0, cuDNN Version: 7.6.

[2020-10-30 08:38] starsblinking opened #28325 "2.0-rc0 Adam diff"
看了下 2.0-rc0 Release Note, 其中提到 “修复Adam优化器计算公式与论文有diff的bug”。想知道下是什么样的diff，能简单说下并给个修复的commit链接吗？我看下要不要从1.8.5升级到2.0rc。
多谢

[2020-10-30 08:57] starsblinking opened #28327 "2.0-rc0 分布式稀疏参数"
看了下 2.0-rc0 Release Note ，其中提到“大规模稀疏功能进行了升级，支持int64范围内的.......”。
这个描述的意思应该是现在非pslib模式也能用吧？貌似之前这个功能从某版本开始就是bug状态，然后也缺乏文档。这不是一个单纯的功能，而是一整套的，所以希望增加文档详细说明下（如果暂不能整理出一套可公开的文档，**强烈希望**在内网wiki写下也行！！！)，重点包括:
a1)保存相关。例如，该多机训练下保存在不同机器的分布式参数文件如何手动聚合成单一词表文件(希望有简单好用的api接口，我看到某个老的issue中讲当时是保存在多个机器上需要手动聚合的， 如果目前的版本中调用save_persistable就已经自动完成聚合到单台机器就更好了)？
a2)保存相关。例如，含大规模稀疏embedding的模型一般都是要外挂查询词表的(比如xbox、xbuiltin或者哪

[2020-10-30 09:55] arlesniak commented on #26673
Thank you for the info we will check internally.

[2020-10-30 11:13] MrChengmo commented on #28327
您好~感谢您对Paddle分布式的关注：

- 大规模稀疏文档正在逐渐完善中，目前厂内外Paddle的大规模参数服务器功能在逐步整合，pslib的相关功能也随之开源。

- 2.0rc中的保存支持一键自动保存与聚合

- 2.0rc中的大规模稀疏参数是通过明文词典形式存储在集群中的，可以支持自定义查询

- 目前推理还没有做进一步的工作，欢迎提供您的建议或贡献代码。

如果有更多问题或建议，欢迎如流联系我（程默）

[2020-10-30 11:23] menghou commented on #28312
用的python3装的1.8.3没问题，1.8.4和1.8.5都有stl的问题

[2020-10-30 11:23] #28312 closed, assigned to MrChengmo

[2020-10-30 11:24] ForFishes commented on #28322
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/api/paddle/fluid/layers/transpose_cn.html#transpose
这个接口不对吗？

[2020-10-30 11:25] Darki-luo commented on #28322
fluid以后不是要弃用了吗？

---原始邮件---
发件人: "ShenLiang"<notifications@github.com&gt;
发送时间: 2020年10月30日 19:24:51
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"Darki-luo"<darwon@foxmail.com&gt;;
主题: Re: [PaddlePaddle/Paddle] paddle2.0rc没有更新 fluid.layers.transpose对应的接口 (#28322)

https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/api/paddle/fluid/

[2020-10-30 11:26] MRXLT commented on #28325
你好，这个是修复的PR：https://github.com/PaddlePaddle/Paddle/pull/27778
修复了epsilon的值与原公式不一致的问题，默认情况下epsilon为1e-8，修正后乘上了sqrt(1-beta2)。默认值的情况下这个修正对adam的计算结果影响非常小。

[2020-10-30 11:33] seiriosPlus commented on #28327
感谢您的关注， 2.0 RC重新优化了大规模稀疏的功能，目前能够支持[0, INT64] 范围内的ID，支持自动增长和增量训练， 加入了特征准入机制及大规模稀疏模型保存功能，支持多个大规模稀疏表并支持多种优化策略， 针对您的问题我做一个简单的回复， 更多的想详情可以联系(程默)。

1. 在带有大规模稀疏的模型中，稠密参数(fc的权重之类)，稀疏参数(非大规模稀疏的稀疏参数)会被0号trainer保存，大规模稀疏参数会分布式保存，每一个pserver均会存下来当前pserver所拥有的稀疏参数，每个稀疏参数都包含了当前节点的(ID, VEC)的键值对，其中ID就是paddle.layers.data输入的原始ID，不再需要聚合到一起， 当前保存下来的格式还是paddle特有的SelectedRows(很遗憾有个保存成明文的接口暂时没有暴露)。  理论上，把参数解析成明文，您有很多种方法完成

[2020-10-30 11:35] ForFishes commented on #28322
https://github.com/PaddlePaddle/Paddle/blob/18c86fb2fb209c0dfcc785c253457cf0ed4790b8/python/paddle/fluid/layers/nn.py#L5449
不是弃用，直接用paddle.transpose,就可以调用，它取了个别名。

[2020-10-30 11:37] ForFishes commented on #28321
收到，我看一下这个问题。

[2020-10-30 11:39] Darki-luo commented on #28322
找到了，paddle API说明文档里没有找到，以为被去掉了

---原始邮件---
发件人: "ShenLiang"<notifications@github.com&gt;
发送时间: 2020年10月30日 19:35:53
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"Darki-luo"<darwon@foxmail.com&gt;;
主题: Re: [PaddlePaddle/Paddle] paddle2.0rc没有更新 fluid.layers.transpose对应的接口 (#28322)

https://github.com/PaddlePaddle/Paddle/blob/18c86fb2fb209c0dfcc

[2020-10-30 11:40] ForFishes commented on #28321
是不是因为本地cuda版本太多导致的？

[2020-10-30 11:41] ForFishes commented on #28322
收到，这里属于文档没有描述清楚。后续会对文档进行修复。感谢您的反馈。

[2020-10-30 11:45] ForFishes commented on #28324
感觉这个问题是安装的时候虽然选择了10.2，可能没有生效。实际运行，代码检测环境中的cuda版本，发现是10.2.
怀疑是安装检测的方式和运行检测的方式不一致导致的。

[2020-10-30 11:53] seiriosPlus commented on #28327
原大规模稀疏只支持SGD优化(不管配置了啥，最后都会强行改成SGD)， 当前版本已经能支持任意的优化器了，其中针对常用的SGD/Adam专门做了速度优化。

[2020-10-30 12:02] shenwei101623 commented on #28218
希望在官方文档中添加注释
https://www.paddlepaddle.org.cn/install/quick/zh/1.8.5-linux-conda

[2020-10-30 12:33] LemonQC opened #28329 "3070显卡"
Windows系统，3070显卡，安装2.0rc，但是一直卡在测试不动，无法调用显卡

[2020-10-30 12:42] dongyangli-del commented on #28240
![image](https://user-images.githubusercontent.com/62006079/97706187-38105600-1af0-11eb-9e5c-80b8bef85961.png)
我用pip install 的时候发现已经有这个nltk库了，但是实际import 的时候却仍旧报错：“系统无法访问此文件”

[2020-10-30 12:47] ForFishes commented on #28329
给一下相应的cuda，cudnn等环境？

[2020-10-30 12:51] LemonQC commented on #28329
cuda10.2，cudnn7.6.5

![Uploading Snipaste_2020-10-30_20-51-41.png…]()

[2020-10-30 12:54] LemonQC commented on #28329
不好意思，网络不好，重新传一次
![Snipaste_2020-10-30_20-51-41](https://user-images.githubusercontent.com/30914380/97707259-fd0f2200-1af1-11eb-880f-9cc518b29af5.png)

[2020-10-30 13:06] ForFishes commented on #28329
这边找相关同学看下，稍等。

[2020-10-30 13:17] ForFishes commented on #28324
您好，3070我们现在不支持这个架构，安装不了，30系列显卡要等CUDA11.

[2020-10-30 13:18] ForFishes commented on #28329
您好，3070我们现在不支持这个架构，安装不了，30系列显卡要等CUDA11.

[2020-10-30 13:19] ForFishes commented on #28324
![image](https://user-images.githubusercontent.com/19485646/97709610-95f36c80-1af5-11eb-930c-53b62a5ed054.png)
您好，windows包太大 pip传不上去 不能直接pip install 需要 pip install -f 官网有命令

[2020-10-30 13:21] biubiuyi opened #28330 "An error occurred here. There is no accurate error hint for this error yet"
paddle1.7， aistudio, 提示让我来提个issue，我来了
训练代码：
[code]

报错信息：
[code]

[2020-10-30 13:30] ForFishes commented on #28324
![image](https://user-images.githubusercontent.com/19485646/97710785-29796d00-1af7-11eb-96b9-9f6ace5403b7.png)
你这么安装试一下。

[2020-10-30 13:50] flishwang opened #28331 "Python API使用create_paddle_predictor报core dumped"
PaddlePaddle版本：1.8.3/1.8.5
GPU
cuda 10/cudnn 7
python 3.7

使用的模型为PaddleDetection的yolo，multi_scale test。通过PaddleDetection的tools/export_model.py导出
导出的模型文件如下：
[__model__.zip](https://github.com/PaddlePaddle/Paddle/files/5465442/__model__.zip)

基于PaddleDetection deploy/python/infer.py改造的代码进行预测，
use_python_inference: false
mode: fluid

在create_paddle_predictor时core dump。使用gdb查看core的位置如下：
[code]

根据http

[2020-10-30 14:56] starsblinking commented on #28327
好的，您的回复我看懂了，多谢！我后面探索下从SelecedRows中解析出明文看看。

还有一个关键问题，在2.0 RC里面进行增量训练的时候，如何载入已有的模型呢（包括已有模型参数文件的准备和使用api载入参数两部分）？我目前用的1.8.5，
1) 在准备已有模型文件部分的操作是：从hdfs上或者通过其他途径把原来由fleet.save_persistables保存得到的文件夹直接放到**每一台server**下，然后用fleet.init_server(persistables_dir)初始化后接着训练即可。此时我不用考虑上次训练时到底使用了几个节点，反正每个server下都有一份完整的本地参数数据。那么当存在大规模稀疏参数的时候呢？是否要求两次训练时节点一模一样，并且每一台server下存放的那一部分SelecedRows也要与上次训练时一模一样吗？**如果我上次训练时用了80个节点

[2020-10-30 16:48] starsblinking commented on #28325
懂啦，多谢。还有个问题，假设beta2设为0.99999，epsilon为1e-8，那么在未修复的情况下，相当于刚开始训练时epsilon变为了1e-3，这对于那些**出现次数较少的稀疏特征**是不是会有点影响(学习速率变慢)？换言之，如果我使用了paddle.fluid.layers.embedding，那么该lookup_table中不同id对应的beta2_pow_是不是会不一样(即不同id在论文公式中的t是不是不一样)、与出现次数有关（只有样本出现一次该id才会beta2_pow_[id] *= beta2) ?

[2020-10-30 17:11] saviord7 commented on #26983
And what I need to fix it >

[2020-10-31 02:17] BlackHorseQ commented on #28282
好像没有，会报错，我看例子都是将这个函数作为参数传给某一一层，没有直接归一化参数的

[2020-10-31 03:10] Zwette commented on #28321
应该不是。因为我能用单张卡能跑，多张卡就有问题，我总觉得是nccl的问题，但是nccl我也是按照官网的command装的，就很奇怪。

[2020-10-31 04:55] Sparks-zs commented on #28218
那请问如何去掉这段warning信息

[2020-10-31 08:07] cyy53589 opened #28332 "AiStuido 不能使用GPU训练"
- 版本、环境信息：
    1）PaddlePaddle版本：AIStudio 默认 (1.7)
    2）CPU：AIStudio 默认
    3）GPU：AIStudio 默认
    4）系统环境：AIStudio 默认
- 训练信息
    1）单机，单卡
    2）显存信息: V100
    3）Operator信息: 没有错误提示，
- 复现信息：在AiStudio 上运行任何GPU代码都不行
- 问题描述：
[code]
![image](https://user-images.githubusercontent.com/19870089/97774484-1a47fd00-1b93-11eb-94bc-0015e6e6ee24.png)

[2020-10-31 09:42] youngjt opened #28333 "分布环境下调用LAC时，报错：PermissionError: [Errno 13] Permission denied: ''"
1）集群的每台机器单独调用LAC没有问题
2）通过mapreduce调用LAC时，出现一下错误信息：
Traceback (most recent call last):
File "lac_test.py", line 5, in <module>
from LAC import LAC
File "/opt/python3/lib/python3.7/site-packages/LAC/__init__.py", line 23, in <module>
from .lac import LAC
File "/opt/python3/lib/python3.7/site-packages/LAC/lac.py", line 28, in <module>
import paddle.fluid as fluid
File "/opt/python3/lib/python3.7/site

[2020-10-31 13:11] prj-jxust opened #28334 "图像分割方面输入导入出错"
[code]

报以下错误
[code]

本文数据是存储在npy中的四维数组，分别为【引索，通道数，长，宽】=【1000，1，64，64】

[2020-10-31 13:13] prj-jxust commented on #28334
`import numpy as np
from paddle.io import Dataset
patches_imgs_train = np.load('E:/Efficient_DRIVE/patches_imgs_train.npy')
patches_masks_train = np.load('E:/Efficient_DRIVE/patches_masks_train.npy')
class Reader(Dataset):
    def __init__(self):
        super().__init__()
        self.image = patches_imgs_train
        self.label = patches_masks_train
    def __getitem__(self, index):
        img

[2020-10-31 13:14] prj-jxust commented on #28334
import numpy as np
from paddle.io import Dataset
patches_imgs_train = np.load('E:/Efficient_DRIVE/patches_imgs_train.npy')
patches_masks_train = np.load('E:/Efficient_DRIVE/patches_masks_train.npy')
class Reader(Dataset):
    def __init__(self):
        super().__init__()
        self.image = patches_imgs_train
        self.label = patches_masks_train
    def __getitem__(self, index):
        img

[2020-10-31 13:15] prj-jxust commented on #28334
为什么label的rank必须为3？其实我还是不知道错在哪里

[2020-10-31 15:16] #27123 closed, assigned to mapingshuo

[2020-10-31 15:16] #26812 closed, assigned to mapingshuo

[2020-10-31 15:17] mapingshuo commented on #25863
This PR implement ZeRO: https://github.com/PaddlePaddle/Paddle/pull/27900

[2020-10-31 15:17] #25863 closed, assigned to mapingshuo

[2020-10-31 15:18] #27096 closed, assigned to mapingshuo

[2020-10-31 15:18] #25491 closed, assigned to mapingshuo

[2020-10-31 15:19] #24375 closed, assigned to mapingshuo

[2020-10-31 16:19] LemonQC opened #28335 "Windos+1080Ti读取不到GPU"
Windows；1080Ti；Cuda10.1，Cudnn7.6；
安装完成后，老是识别不到GPU，默认使用CPU

[2020-11-01 02:12] BlackHorseQ opened #28336 "embedding索引超过最大值会报错ExternalError: Cuda error(719), unspecified launch failure."
平台百度aistudio，2.0rc
emb = nn.Embedding(num_embeddings=3, embedding_dim=2, padding_idx=0)
x = paddle.to_tensor(np.array([2,1,3,0]))
emb(x)
ExternalError:  Cuda error(719), unspecified launch failure.
  [Advise: Please search for the error code(719) on website( https://docs.nvidia.com/cuda/archive/10.0/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038

[2020-11-01 02:57] flishwang commented on #28331
注释掉config.disable_glog_info()一行后，得到报错信息如下：

'''
I1101 10:08:59.843784  3132 analysis_predictor.cc:138] Profiler is deactivated, and no profiling report will be generated.
I1101 10:08:59.896361  3132 analysis_predictor.cc:872] MODEL VERSION: 1.8.0
I1101 10:08:59.896399  3132 analysis_predictor.cc:874] PREDICTOR VERSION: 1.8.3
--- Running analysis [ir_graph_build_pass]
--- Running analysis [ir_graph

[2020-11-01 03:06] flishwang opened #28337 "模型预测，Executor和AnalysisPredictor表现不一致"
Paddle version: 1.8.3
GPU cuda 10.1 / cudnn 7.6
python 3.7

基于paddleDetection yolov3搞的模型，通过tools/export_model.py导出，模型文件如下：
[single_scale.zip](https://github.com/PaddlePaddle/Paddle/files/5470129/single_scale.zip)

根据https://github.com/PaddlePaddle/PaddleDetection/blob/master/deploy/python/infer.py ，
通过fluid.io.load_inference_model 加载模型，可以得到fetch_variables名称为：
save_infer_model/scale_0.tmp_0
save_in

[2020-11-01 03:30] flishwang opened #28338 "Does AnalysisConfig and AnalysisPredictor support loading model from memory?"
As https://github.com/PaddlePaddle/Paddle/pull/22562, https://github.com/PaddlePaddle/Paddle/pull/24099 does,  fluid.io.load_inference_model can load models from memory by setting dirname to None in Python now.

I wonder whether create_paddle_predictor supports this behavior because I cannot find any information in the docs or issues.

If not, is it possible to support loading models from memory a

[2020-11-01 03:33] flishwang opened #28339 "Does AnalysisConfig and AnalysisPredictor support loading model from memory?"
Does AnalysisConfig and AnalysisPredictor support loading model from memory?
As https://github.com/PaddlePaddle/Paddle/pull/22562, https://github.com/PaddlePaddle/Paddle/pull/24099 does,  fluid.io.load_inference_model can load models from memory by setting dirname to None in Python now.

I wonder whether create_paddle_predictor supports this behavior because I cannot find any information in the do

[2020-11-01 03:34] flishwang commented on #28339
sorry, repeated

[2020-11-01 03:34] #28339 closed, assigned to ForFishes

[2020-11-01 04:48] starsblinking commented on #28315
多谢。试了一下，暂时没发现单机训练有啥问题。

[2020-11-01 04:48] #28315 closed, assigned to MrChengmo

[2020-11-01 06:43] dyning commented on #20834
https://github.com/PaddlePaddle/Paddle/issues/24360

[2020-11-01 13:37] lyn1225 opened #28340 "对paddle中tensor设置的疑问"
paddle中tensor可以设置成NCHW形式，N代表了batch size。但是在调试的时候发现进入模型中进行处理的实际数据流是（-1,C,H,W）的形式，对于这个-1的设置不是很理解。有时候我是需要N进行处理操作的，但是取到的确是-1。这个该如何解决？

[2020-11-01 20:01] jhcgt4869 opened #28341 "Recommended issue content: all error stack information: unspecified launch failure at (/paddle/paddle/fluid/platform/gpu_info.cc:370)"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2020-11-01 23:23] uflexnihao commented on #28324
我就是按照 https://www.paddlepaddle.org.cn 官网自动提示的安装命令安装成功的（cuda选的10.1能成功，10.2失败）（cmd中启动了venv环境后）：
pip install paddlepaddle-gpu==2.0.0rc.post101 -f https://paddlepaddle.org.cn/whl/stable.html

[2020-11-02 01:11] weiexcelpro commented on #28332
可否提供一下你遇到问题的项目的网址?

[2020-11-02 01:50] youngjt commented on #28333
paddle/dataset/image.py，以下这段代码出错（系统为centos版本为：centos-release-7-6.1810.2.el7.centos.x86_64）

if six.PY3:
    import subprocess
    import sys
    **_import_cv2_proc = subprocess.Popen(
        [sys.executable, "-c", "import cv2"],
        stdout=subprocess.PIPE,
        stderr=subprocess.PIPE)
    out, err = import_cv2_proc.communicate()_**
    retcode = import_cv2_proc.poll()
    if retcode != 0:

[2020-11-02 02:32] zhangting2020 commented on #28282
报了什么错呢？

[2020-11-02 02:38] MRXLT commented on #28325
这里应该是未修复的情况下是1e-8，修复之后是1e-11
理论上是会减小每一步的梯度变化的值，不过影响非常小

是的

[2020-11-02 02:50] Vonderland opened #28342 "如何求矩阵内积？"
目前有paddle.fluid.layers.dot(x, y, name=None)，但是这个只支持1-D的Tensor，如果是batch的情况下，如何比较直接地求内积呢？即[batch_size, dimension]大小的两个矩阵求大小为[batch_size, 1]内积。感谢！

[2020-11-02 03:08] starsblinking commented on #28325
多谢！

[2020-11-02 03:08] #28325 closed, assigned to danleifeng

[2020-11-02 03:28] QIcaptain commented on #28342
使用mutual函数

[2020-11-02 03:32] QIcaptain commented on #28340
-1代表不确定批次，因为一批数据可能不被整除，比如一共有99个数据，batch_size=16,则最后一批数据是3个6*16+3，-1就是为了这种情况发生占位用的，表明一个batch中size可能会发生变化。

[2020-11-02 04:58] shikeno opened #28343 "paddle-trt 加载yolo模型error"
rt
报错信息：
InvalidArgumentError: Input(ImgSize) should be a 2-D tensor.But received Imgsize size(1)
  [Hint: Expected dim_imgsize.size() == 2, but received dim_imgsize.size():1 != 2:2.] (at /home/paddle/paddle/fluid/operators/detection/yolo_box_op.cc:51)
  [operator < yolo_box > error]
Aborted (core dumped)
![image](https://user-images.githubusercontent.com/44427541/97831307-931d9500-1d0a-11eb-9feb-

[2020-11-02 05:29] danleifeng commented on #28335
请问安装paddle的版本是？
请检查下是否安装paddle-gpu版本

[2020-11-02 05:52] chenjiaoAngel commented on #28337
请问使用的paddle-lite版本是？预测库和头文件有同事更新吗？

[2020-11-02 05:57] ForFishes commented on #28321
应该是conda环境对Pip不生效的原因，可以用conda安装试一下。

[2020-11-02 05:59] Shixiaowei02 commented on #28338
@flishwang ，您好，我们计划在 2.0 版本统一这个接口的内存与文件读写功能，统一使用 BytesIO 进行封装。这部分工作预计这个月中旬完成。目前预测模型从内存中加载需要参考 https://github.com/PaddlePaddle/Paddle/pull/24099 中的做法。谢谢

[2020-11-02 06:30] frankwhzhang commented on #28341
这个问题是paddle开源的模型还是自己写的

[2020-11-02 06:40] frankwhzhang commented on #28343
是官方提供的代码吗

[2020-11-02 06:45] shikeno commented on #28343
是的

[2020-11-02 06:52] shikeno commented on #28343
https://paddle-inference-dist.bj.bcebos.com/tensorrt_test/paddle_inference_sample_v1.7.tar.gz

[2020-11-02 07:11] seiriosPlus commented on #28336
收到，我们检查一下这个， 稍后会同步结论.

[2020-11-02 07:11] #28235 closed, assigned to juncaipeng

[2020-11-02 07:12] #28232 closed, assigned to seiriosPlus, juncaipeng

[2020-11-02 07:12] #28227 closed, assigned to juncaipeng

[2020-11-02 07:16] weiexcelpro commented on #26894
现在Paddle 2.0 RC版已经在AIStudio Notebook中集成. 可否用新版本重试一下?

[2020-11-02 07:36] #14640 closed, assigned to Xreki

[2020-11-02 07:36] #20741 closed, assigned to nobody

[2020-11-02 07:36] #20813 closed, assigned to Superjomn

[2020-11-02 07:36] #20827 closed, assigned to qingqing01

[2020-11-02 07:36] #20837 closed, assigned to seiriosPlus

[2020-11-02 07:36] #20849 closed, assigned to NHZlX

[2020-11-02 07:36] #20867 closed, assigned to wzzju

[2020-11-02 07:36] #20873 closed, assigned to frankwhzhang

[2020-11-02 07:36] #20874 closed, assigned to wzzju

[2020-11-02 07:36] #20888 closed, assigned to JiabinYang, sneaxiy

[2020-11-02 07:36] #20889 closed, assigned to JiabinYang

[2020-11-02 07:36] #20890 closed, assigned to JiabinYang

[2020-11-02 07:36] #20933 closed, assigned to seiriosPlus

[2020-11-02 07:36] #20946 closed, assigned to nobody

[2020-11-02 08:18] frankwhzhang commented on #28342
2.0 可以参考这个页面https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/guides/01_paddle2.0_introduction/basic_concept/tensor_introduction_cn.html#id8

[2020-11-02 08:19] frankwhzhang commented on #28343
这是预测相关的问题吗

[2020-11-02 08:20] iducn opened #28348 "Paddle-bot自动回复测试"
测试 测试 测试  值班人无需关注~~~

[2020-11-02 08:30] Superjomn commented on #28343
是某个具体的 Op，输入应该是二维，现在是1维

如果是官方的代码，是不是模型换了？

[2020-11-02 08:30] shikeno commented on #28343
是呀，在用TensorRT预测

[2020-11-02 08:53] chenjiaoAngel commented on #28343
请问模型哪个OP的输入是一维的呢？我们这可以看看相应OP是否支持

[2020-11-02 09:11] DDDivano commented on #28324
python -m pip install paddlepaddle-gpu==2.0.0rc0   -f https://paddlepaddle.org.cn/whl/stable.html 这么安装试试，10.2版本

[2020-11-02 09:17] #28239 closed, assigned to FrostML

[2020-11-02 09:27] zhwesky2010 commented on #28240
@dongyangli-del 这个应该不是Paddle的问题，是paddle所依赖的python nltk库没有装好，有缺少的Windows操作系统相关DLL。建议 1. 卸载并重装nltk，2.安装https://www.microsoft.com/en-us/download/details.aspx?id=48145 ，可能包含需要的dll。

[2020-11-02 09:27] maosengshulei opened #28352 "DynamicRNN接口训练报错"
paddle 版本：1.8.1

主网络代码：
[code]

buid_encode代码主要部分：

[code]

build_decode代码部分：
[code]

如果主网络中使用build_decoder的话：
训练几个batch之后：会core_dump。

[code]

将build_decoder部分替换为 item_Q = fluid.layers.fc(self.item_fc, size=1)可以正常训练。
只能判断为DynamicRNN部分代码有问题，但是实在定位不到具体的错误位置。

[2020-11-02 09:31] shikeno commented on #28343
模型用的是这个
链接: https://pan.baidu.com/s/12hPpx9yUQXgsCENnWq-w6w  密码: 0uu8

[2020-11-02 09:45] #28338 closed, assigned to ForFishes

[2020-11-02 09:49] #28340 closed, assigned to ForFishes

[2020-11-02 10:05] chenjiaoAngel commented on #28337
基于paddleDetection yolov3搞的模型，通过tools/export_model.py导出，模型文件如下：
single_scale.zip这个压缩包里面的模型不全，只有model没有params

[2020-11-02 10:05] chenjiaoAngel commented on #28337
基于paddleDetection yolov3搞的模型，通过tools/export_model.py导出，模型文件如下：
single_scale.zip这个压缩包里面的模型不全，只有model没有params 请问使用的paddle-lite版本是？预测库和头文件有同事更新吗？

[2020-11-02 10:06] chenjiaoAngel commented on #28337
请问使用的paddle-lite版本是？预测库和头文件有同步更新吗？

[2020-11-02 10:16] cryoco commented on #28331
您好，可以试下加上
`config.delete_pass("conv_bn_fuse_pass")`

[2020-11-02 10:18] lidanqing-vv commented on #26673
We have verified and it solved the problem.

[2020-11-02 10:18] #26673 closed, assigned to kolinwei

[2020-11-02 10:37] Superjomn commented on #28343
模型换了，那可能输入的维度也对不上了
还是得看你们模型具体的输入维度，得跟代码对上，这个代码得做针对模型的修改

具体是这一行

![image](https://user-images.githubusercontent.com/328693/97859278-5a49e400-1d3b-11eb-9381-e35cd45be479.png)

[2020-11-02 10:40] #26894 closed, assigned to nobody

[2020-11-02 11:48] shikeno commented on #28343
对对，和原模型少了一个input，加上就好了。多谢！

[2020-11-02 12:23] shikeno commented on #28343
又有一个问题，跑batch_size = 4 的时候，core dumped 了。
![image](https://user-images.githubusercontent.com/44427541/97867579-13fb8180-1d49-11eb-9836-f52850e09ec0.png)

[2020-11-02 12:36] starsblinking opened #28356 "2.0rc distributed::RecvLodTensor core"
0. 首先介绍我原来的环境： paddlepaddle_v1.8.5, PS+CPU, fleet+PaddleCloudRoleMaker, exe.train_from_dataset 正常训练

1. 将1.8.5升级为2.0rc，并补上一句paddle.enable_static()，报如下core:

_--------------------------------------_
C++ Traceback (most recent call last):
_--------------------------------------_
0   ThreadPool::ThreadPool(unsigned long)::{lambda()#1}::operator()() const
1   std::__future_base::_State_base::_M_do_set

[2020-11-02 12:45] starsblinking opened #28357 "fill_constant_batch_size_like"
请问1.8中的fill_constant_batch_size_like在2.0里对应哪个api呢？

[2020-11-02 15:42] mysalter opened #28360 "安装错误，官网方式10.1版本后出现You are using GPU version Paddle, but your CUDA device is not set properly."
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0rc0
    2）GPU： GPU型号geforce gtx 1060，CUDA Version 10.1.120
    3）系统环境：windows10、Python3.8.6
- 安装方式信息：
1）pip安装
使用的官网的pip安装命令
python -m pip install paddlepaddle-gpu==2.0.0rc0.post101 -f https://paddlepaddle.org.cn/whl/stable.html

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
Python 3.8.6 (tags/v3.8.6:db45529, Sep 23 2020, 15:52:53) [MSC v.1927 64 bit (AMD64)] on win32
Typ

[2020-11-03 01:58] starsblinking commented on #28356
目前只知道是fleet.init_worker()跑不通

[2020-11-03 02:09] DDDivano commented on #28360
nvcc -V 查看一下显示什么 ， echo %PATH% 看看显示什么？

[2020-11-03 03:04] seiriosPlus commented on #28336
已经复现了你的结论，我们查证并修复一下。

[2020-11-03 05:51] flishwang commented on #28337
params文件太大了，所以没有上传。这个bug可能跟特定的模型权重相关吗？我稍后会上传一下权重文件。

没有使用paddle-lite，并且确认环境中未安装paddle-lite的python包。使用的python代码：
[code]

[2020-11-03 05:55] flishwang commented on #28331
加上以后，IR pass部分能过了。问题可能确实在conv_bn_fuse_pass部分。
但是显存占用还是比executor版的高，导致几个大模型的推理报out of memory error on GPU 0.

另外，还会遇到另一个issue提到的问题：https://github.com/PaddlePaddle/Paddle/issues/28337

[2020-11-03 06:00] frankwhzhang commented on #28356
1481295 可以在这个群提问

[2020-11-03 06:24] QIcaptain opened #28369 "2.0rc版本如何读取1.8版本的参数"
最近在使用2.0rc版本的paddle复现BERT,因为不想自己预训练一次，所以想直接加载官方之前的参数。
请问如何实现

[2020-11-03 06:42] frankwhzhang commented on #28357
paddle.full + paddle.shape

[2020-11-03 06:51] costume24 opened #28371 "Paddle如何配置可学习参数"
现在我有两个loss需要做加权，想要将权值配置为两个初始化为1的可学习参数，请问是使用paddle.fluid.layers.create_parameter()这个op就可以吗？如何指定初始化值？

[2020-11-03 07:03] yaoxuefeng6 commented on #28371
你好 是可以的 如果需要进行初始化 可以传入default_initializer指定的initializer，initializer可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/initializer/constant/Constant_cn.html

[2020-11-03 07:04] yaoxuefeng6 commented on #28369
你好 直接用之前的API应该是可以的 请问具体遇到了什么问题吗？

[2020-11-03 07:06] twoboysbaba opened #28375 "训练图模型超时/hang住问题"
任务id：job-0bb5f9ebc9adcd49
mpi：http://yq01-hpc-lvliang01-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20201101214829-74840
只要epoch设置超过1就会出超时问题，具体出错日志
W1102 21:14:35.889020  1432 src/brpc/input_messenger.cpp:213] Fail to read from fd=37 SocketId=51539610918@10.182.80.17:8001@52683: Connection reset by peer
E1102 21:14:35.901399  1457 baidu/paddlepaddle/pslib/src/communicate/downpour_ps_clien

[2020-11-03 07:16] QIcaptain commented on #28369
还没有，先过来确定一下。

[2020-11-03 07:50] costume24 commented on #28371
那么如果我想在训练完成后打印这两个参数的值，应该怎么做呢？是在PDC上训练

[2020-11-03 07:50] yaoxuefeng6 commented on #28375
可以尝试下在每个epoch开始的时候调一下fleet._role_maker._barrier_worker()，让所有的节点在训练同一个epoch之前同步一下。

[2020-11-03 07:52] QIcaptain commented on #28369
你好。动态图里没有相关读取参数的说明

[2020-11-03 09:25] flishwang commented on #28337
https://pan.baidu.com/s/1T9iQQ_d8xPEWcO2AL6x8Fg 提取码ti9a

[2020-11-03 09:31] LielinJiang commented on #28334
这是CrossEntropyLoss的定义，具体可以参考文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/api/paddle/nn/layer/loss/CrossEntropyLoss_cn.html#id2。
举个简单的例子，比如预测一个像素点属于哪个类别（一共有三个类别0，1，2），这时候你的预测是[n, 3]形状的tensor，第一维是batch size，现在我们假设batch_size = 1，那么你的预测可能是[[0.1, 0.3, 0.6]]，假设这个像素点真实的类别为2，这时候你的label为[2]就行，而不需要是[[0,0,1]]，在我的理解这样其实对用户更友好一些，你不需要对label做一遍label one hot.

[2020-11-03 09:45] starsblinking commented on #28356
问题解决，多谢tangwei！

[2020-11-03 09:45] #28356 closed, assigned to Thunderbrook

[2020-11-03 09:46] zhangting2020 commented on #28283
如无问题，issue先关闭，后续如果有新的问题，可以另提issue

[2020-11-03 09:46] #28283 closed, assigned to zhangting2020

[2020-11-03 10:47] lidanqing-vv commented on #27935
@arlesniak  Hi, Artur, please add command values to log, and use paddle.enable_mkldnn()) to instead of FLAGS_use_mkldnn.

[2020-11-03 11:29] cryoco commented on #28331
推理时显存占用主要来自中间Tensor，比executor占用高也是有可能的，请问您是用的什么显卡，推理时占用显存大概多少？

[2020-11-03 11:39] mysalter commented on #28360
C:\Users\xiaomililkx>nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Sun_Jul_28_19:12:52_Pacific_Daylight_Time_2019
Cuda compilation tools, release 10.1, V10.1.243

C:\Users\xiaomililkx>echo %PATH%
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\libnvvp;C:\Python38\Scripts\;C:\Py

[2020-11-03 11:44] flishwang commented on #28331
用的2080ti
基于cascade rcnn的大模型占用10300MB左右。用create_paddle_predictor时不清楚占多少，因为根本run不起来
基于yolo+r50vd的模型在4 scale inference时用executor跑推理占用4000MB左右，用create_paddle_predictor跑（关了ir_optim)推理占用5000MB或再多一点。

[2020-11-03 11:44] mysalter commented on #28360
C:\Users\xiaomililkx>nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Sun_Jul_28_19:12:52_Pacific_Daylight_Time_2019
Cuda compilation tools, release 10.1, V10.1.243

C:\Users\xiaomililkx>echo %PATH%
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\libnvvp;C:\Python38\Scripts;C:\Pyt

[2020-11-03 11:49] shangzhizhou commented on #28337
试下config.switch_ir_optim(False)可以么

[2020-11-03 11:50] arlesniak commented on #27935
We can add flag value to the beginning of the models repo Resnet log.

[2020-11-03 11:54] arlesniak commented on #27935
As we agreed lately [PR 25773](https://github.com/PaddlePaddle/Paddle/pull/25773) mkldnn code is depending on using global FLAGS_use_mkldnn

[2020-11-03 12:29] QIcaptain opened #28385 "dataloader报错"
paddle2.0rc
ERROR:root:DataLoader reader thread raised an exception!
FatalError: Blocking queue is killed because the data reader raises an exception.
  [Hint: Expected killed_ != true, but received killed_:1 == true:1.]
代码
data_loader = DataLoader(dataset,
                        batch_size=2,
                        shuffle=True,
                        drop_last=True,
                        nu

[2020-11-03 12:34] flishwang commented on #28337
刚上传的那个模型跑不起来，显存不够用。

另外定位到AnalysisPredictorl输出变量不太对的原因，跟config.enable_memory_optim()有关。
打开memory_optim，predictor能成功创建，但输出的变量不对。
关闭memory_optim，predictor能成功创建，输出变量也是对的，但实际执行时会报显存不够的错

[2020-11-03 12:58] QIcaptain commented on #28385
dataloader不能返回dict型数据？这有点难受啊

[2020-11-03 14:17] allenweng123 opened #28391 "VS2019编译时出错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：branch release/1.8, commit id = 8622f8c204
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：windows7 Service Pack 1

需要32位预测库， 但https://www.paddlepaddle.org.cn/documentation/docs/z

[2020-11-03 14:43] Darki-luo opened #28392 "paddle 1.8 没有conv1d吗"
paddle1.8.x目前没有conv1d的api接口吗？需要用到但是好像没有

[2020-11-03 15:03] jm12138 opened #28393 "load_inference_model API 与 Paddle Inference 预测结果不一致"
load_inference_model API 与 Paddle Inference 预测结果不一致
测试环境如下：
    1）PaddlePaddle版本：1.8.4
    2）CPU：没有使用mkl
    3）系统环境：linux

测试代码如下：
[code]
输出如下：
[code]
模型、代码及测试图片已打包上传至网盘，链接: https://pan.baidu.com/s/1KSTWhkcqyMRzKmkR8SrUbQ 提取码: db1s 复制这段内容后打开百度网盘手机App，操作更方便哦

[2020-11-03 16:47] arogowie-intel commented on #27877
I've carried out multiple tests mesauring execution times on following platforms.
Values are in seconds from 100 iterations:

| machine                    | library | avg exec time | min exec time | max exec time |
| :----                      | :---    | :---:         | :---:         | :---:         |
| Xeon(R) Gold 6148          | NumPy   | 3.16223       |  1.62517      | 6.20450       |
| Xeon(

[2020-11-04 02:49] cryoco commented on #28331
看了一下模型，是conv-bn的连接方式较为特殊导致的，我们看下这里应该怎么支持哈

[2020-11-04 02:49] costume24 commented on #28371
在PDC上训练的话，是不是在配置文件中打开debug就可以打印出所有参数的值了呢？

[2020-11-04 02:51] yaoxuefeng6 commented on #28392
你好 是有的 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/conv2d_cn.html#conv2d

[2020-11-04 02:57] zhwesky2010 commented on #28391
@allenweng123 您好，现在Paddle可以使用VS2015编译32位程序，编译命令是 `cmake .. -G "Visual Studio 14 2015" -A Win32 -DWITH_MKL=OFF -DWITH_GPU=OFF -DMSVC_STATIC_CRT=OFF -DWITH_PYTHON=OFF` ，VS2019还有些问题，目前正在计划支持中

[2020-11-04 03:04] starsblinking commented on #28357
Hi, 你提到的paddle.shape是指有个函数paddle.shape(input)可以实时获取运行时的input的shape吗？我没查到这样的api。
另外，paddle.full定义的静态图要求是不是要求声明的时候就确定好shape呢，可以像fill_constant_batch_size_like一样让shape的第一维为-1吗？

[2020-11-04 03:18] haideeyuan commented on #14533
遇见完全一样的问题，能具体解释一下如何操作吗？

[2020-11-04 03:32] yaoxuefeng6 commented on #28393
你好 请问下diff在什么范围，以及要确保两者预处理代码要一致，可能python和c++的图像处理不对齐，如果需要对比，需要输入数据严格一致

[2020-11-04 03:36] yaoxuefeng6 commented on #28385
dataloader是用可以参考文档哈：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/io/DataLoader_cn.html#dataloader

[2020-11-04 03:40] jm12138 commented on #28393
输出结果差别很大，可视化出来是两张完全不一样的图片。至于输入的数据嘛，上面的测试代码所使用的输入数据是同一个数据，不存在预处理不一致的情况。

[2020-11-04 03:46] jm12138 commented on #28393
还有就是使用load_inference_model API 的预测结果是正确的，而Paddle Inference 的预测结果是有问题的

[2020-11-04 03:48] liuhuiCNN opened #28399 "TX2 CPP 1.8.4预测库，FP16 预测卡死"
- 标题：TX2 CPP 1.8.4预测库，部分模型出错
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4
    2）CPU：TX2
    3）GPU：TX2, JetPack 3.0, CUDA 10.0, CUDNN 7, TensorRT 5.0
    4）系统环境：TX2, CPP 编译预测
-预测信息
    1）C++预测：
GIT COMMIT ID: 1e01335e195d993f3c5c97bed3a15a6f9170acea
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: ON
CUDA version: 10.0
CUDNN version: v7.3
CXX compiler version: 7.5.0
WITH_TENSORRT: ON
TensorRT version: v5
    2）CM

[2020-11-04 04:28] applezjm commented on #28247
poly-encoder

[2020-11-04 05:18] OliverLPH commented on #28393
@jm12138
你好，可以麻烦试下在使用 `copy_from_cpu` 前对 img 进行一次copy吗？这样可能可以解决这个问题
[code]

[2020-11-04 05:23] zhwesky2010 commented on #28360
@mysalter 显卡驱动有问题，把显卡驱动装好就可以，Advise: This indicates that the installed NVIDIA CUDA driver is older than the CUDA runtime library. This is not a supported configuration.Users should install an updated NVIDIA display driver to allow the application to run.

[2020-11-04 06:47] luotao1 commented on #27877
Got it, thanks for your explanation!

[2020-11-04 06:51] ashutosh486 commented on #28296
That issue has been closed and no response has been received as of yet.

[2020-11-04 08:15] #20971 closed, assigned to frankwhzhang

[2020-11-04 08:15] #20982 closed, assigned to nobody

[2020-11-04 08:15] #20992 closed, assigned to nobody

[2020-11-04 08:24] zhuguiqian opened #28414 "如何获取X2paddle转的模型的网络结构？"
通过X2paddle将一个onnx模型转成了paddle模型，如果去读取模型的网络结构（例如onnx里的graph)，另外如何获取指定层的weight和bias的值，请教一下，多谢多谢

[2020-11-04 08:54] flishwang commented on #28331
怎么特殊呢？我看看能否改模型结构，workaround一下。

[2020-11-04 09:48] jm12138 commented on #28393
啊这，复制一次确实就解决了，为啥会这样呀？

[2020-11-04 09:53] liguoyu666 opened #28418 "paddle2.0rc动态图多卡训练问题"
单机４卡环境，paddle1.8版本能够多卡训练，换成2.0rc后，模仿动态图的paddleseg改写部分代码，训练自己的模型时，发现不能使用多卡。
`nranks = paddle.distributed.ParallelEnv().nranks

local_rank = paddle.distributed.ParallelEnv().local_rank`
结果为１，０
使用官方文档提供的　[https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/fleet_dygraph_quick_start_cn.html](url)下的4.3. 单机多卡训练的demo，能够多卡训练。
请问现在单机多卡训练用文档提供的这种方式吗？

[2020-11-04 10:42] shangzhizhou commented on #28393
同问

[2020-11-04 12:55] baiyfbupt commented on #28414
模型结构可以用visualdl https://github.com/PaddlePaddle/VisualDL 查看，参数weight及bias的值可以通过以下代码这样获取：
[code]
param_name为你需要查看的参数名

[2020-11-04 15:32] mysalter commented on #28360
多谢，修好了

[2020-11-04 15:33] mysalter commented on #28360
多谢，修好了

[2020-11-04 15:33] #28360 closed, assigned to zhwesky2010, Thunderbrook

[2020-11-04 15:47] BlackHorseQ commented on #28385
什么玩意，这玩意都看过了，我的问题看没看啊，就给我甩出来doc，还有你们觉得自己文档写得非常好嘛？

[2020-11-05 01:43] zhuguiqian commented on #28414
读取weight和bias的方法可以用，多谢。
查看模型除了netron，请问还有其他接口吗？因为我这边不仅仅需要查看，可能还需要进行截断，将一个模型分成多个子模型，你们有模型截断的例子吗？

[2020-11-05 01:57] habout632 opened #28426 "移动端分布式训练"
paddle可以支持移动端分布式训练吗　这样子的话，我们就可以使用大量手机，利用手机自带的cpu, gpu(ai 芯片)进行分布式训练，　通过在手机上安装paddle app之后，就可以分布式训练.虽然每部手机的性能赶不上数据中心的gpu, 但是手机量大
运行paddle app的用户　可以按时长收取一点费用

场景：
１．PARL训练需要大量的cpu运行simulator(上万台),gpu(深度学习)
２．普通的学习者，公司可以利用大量手机进行训练，节省成本

[2020-11-05 02:51] danleifeng commented on #28418
是的，使用这种方式可以启动单机多卡和多机训练，您可以根据这个demo改写一下。

请问现在还遇到这个问题吗，可以提供下最简单能复现你错误的代码，报错信息等，方便排查。

[2020-11-05 02:52] #27877 closed, assigned to jczaja, lidanqing-vv

[2020-11-05 02:55] baiyfbupt commented on #28414
目前还不支持

[2020-11-05 02:57] zhuguiqian commented on #28414
OK，多谢

[2020-11-05 02:57] #28414 closed, assigned to baiyfbupt

[2020-11-05 03:02] H-Chen110 opened #28428 "WARNING:root:You are using GPU version Paddle Fluid, But Your CUDA Device is not set properly"
- 版本、环境信息：
    1）PaddlePaddle版本：官网Paddle 1.8  PaddleSeg
    2）GPU：2080ti 双卡，CUDA 10.0，CUDNN7.6+
    3）系统环境：ubuntu18.04
    4）显卡驱动：nvidia 455
- 安装方式信息：conda 安装（官网提供指令）
          

- 问题描述1：安装完成运行后运行paddle.fluid.install_check.run_check()报错

Running Verify Fluid Program ...
WARNING:root:You are using GPU version Paddle Fluid, But Your CUDA Device is not set properly
Original Error is

----------------

[2020-11-05 06:02] lisa1087 commented on #27076
请问解决了吗，我也遇到这个问题，但是使用那个命令好像没有用

[2020-11-05 06:08] iclementine commented on #28426
这个场景目前分布式还不支持，因为它涉及到训练的稳健性以及数据在多个设备之间共享等问题。但是联邦学习PaddleFL有进行过一些探索。你可以了解一下：

https://github.com/PaddlePaddle/PaddleFL
这个是 README  https://github.com/PaddlePaddle/PaddleFL/blob/master/README_cn.md

另外，分布式训练的弹性调度这一块我们也有做一些工作，EDL了解一下~
https://github.com/elasticdeeplearning/edl

[2020-11-05 06:10] lisa1087 opened #28434 "python2.7安装出错"
我使用python2.7安装paddlepaddle 的时候报错
PaddlePaddle版本：1.8.5
CPU
系统环境：Utunbu 20 虚拟机
pip安装

报错log：
ERROR: Exception:
Traceback (most recent call last):
  File "/home/pauline/.local/lib/python2.7/site-packages/pip/_internal/cli/base_command.py", line 228, in _main
    status = self.run(options, args)
  File "/home/pauline/.local/lib/python2.7/site-packages/pip/_internal/cli/req_command.py", line 182, in wr

[2020-11-05 06:22] cryoco commented on #28331
目前我们支持的方式是batch_norm的Bias，Scale，Mean，Variance都是参数。这个模型中部分BN的Mean和Variance变为了从其他OP过来的输入。

[2020-11-05 06:34] xiaomujiang opened #28437 "reduce_sum使用错误"
使用reduce报错：
    output = exe.run(feed={"input",x},fetch_list=[result])
TypeError: unhashable type: 'numpy.ndarray'

测试代码：
import paddle.fluid as fluid
import numpy as np
# y 是一个shape为[2, 2, 2]的Tensor元素如下:
#      [[[1, 2], [3, 4]],
#      [[5, 6], [7, 8]]]
# 接下来的示例中，我们在每处函数调用后面都标注出了它的结果张量。
data = fluid.data(name='input', shape=[2, 2, 2], dtype='float32')
result = fluid.layers.reduce_sum(data, dim=[

[2020-11-05 06:35] nhsy0105 opened #28438 "Ubuntu1604编译paddle到extern_crytopp就不动了"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle-2.0.0_rc和beta都试过，都是一样的情况
    2）CPU：40 Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz
    3）GPU:  NVIDIA TESLA P40
    4）系统环境：UBUNTU16.04、Python版本2.7.12

- 安装方式信息：本地编译：
![image](https://user-images.githubusercontent.com/30465953/98205955-08d86980-1f74-11eb-8ac1-070094d0f79d.png)

![image](https://user-images.githubusercontent.com/30465953/98205991-168def00-1f74-11e

[2020-11-05 07:03] sshimii commented on #27182
我也遇到这个问题了，大佬解决了嘛

[2020-11-05 07:05] zt991211 commented on #27182
有点久远了，当时我是用的动态图的方式，后面我转换成了静态图加载，就没出什么问题了。------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;shimii&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年11月5日(星期四) 下午3:03
收件人:&nbsp;&quot;PaddlePaddle/Paddle&quot;<Paddle@noreply.github.com&gt;;
抄送:&nbsp;&quot;zt991211&quot;<814943622@qq.com&gt;;&quot;Author&quot;<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] 本地能跑的

[2020-11-05 07:08] sshimii commented on #27182
谢谢大佬，我是调用情感分析的时候碰到的，我再研究研究o(╥﹏╥)o

[2020-11-05 07:24] flishwang commented on #28331
但是我只是将官方的yolo网络接了四组输入( image_scale_0, image_scale_1, image_scale_2, image_scale_3)，分别输出结果。
理论上应该是同一组参数（例如，bnv1_1_variance, bnv1_1_mean）作为不同OP的输入，而不是这一组参数作为一个bn（bnv1_1.output.1.tmp10）的输入，其输出作为另一个bn（bnv1_1.output.1.tmp14）的输入？

附：netron的可视化：
![image](https://user-images.githubusercontent.com/8001982/98209883-a6cf3280-1f7a-11eb-80a9-784aa7dd694d.png)

[2020-11-05 08:02] zhangyimi opened #28443 "模型预测速度在两台机器上不一致"
版本：paddle1.8.2 动态图
想问下影响模型预测速度的因素有哪些？
训练了两个不同结构模型a和b，batch为1 cpu模式下，第一台机器上a模型比b快近一倍，第二台机器速度却相同。
![image](https://user-images.githubusercontent.com/20926735/98213541-2c091600-1f80-11eb-84cd-6a7d6f0b749b.png)

[2020-11-05 08:07] cryoco commented on #28331
可视化来看的话，bn的输入箭头应当仅来自conv，不应来自别的bn

[2020-11-05 09:03] AWSWXY opened #28447 "本地训练报错如下"
----------------------
Error Message Summary:
----------------------
Error: Blocking queue is killed because the data reader raises an exception
  [Hint: Expected killed_ != true, but received killed_:1 == true:1.] at (/paddle/paddle/fluid/operators/reader/blocking_queue.h:141)
  [operator < read > error]
I1105 17:01:01.587981  3369 communicator.cc:1102] communicator stopped, send thread exit
term

[2020-11-05 09:20] #20990 closed, assigned to nobody

[2020-11-05 09:20] #21000 closed, assigned to nobody

[2020-11-05 09:20] #21020 closed, assigned to slf12

[2020-11-05 09:43] syanneYY opened #28448 "paddlecloud 训练时terminating pods"
![image](https://user-images.githubusercontent.com/50445413/98224331-519d1c00-1f8e-11eb-8908-6eb197fbd3f8.png)

[2020-11-05 10:51] wwjjy opened #28451 "多线程预测问题"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

求问一下python端想要 多线程的加载多个同结构、同变量名但是参数不同的模型进行预测，应该如何正确的加载并使用，求一个例子~

[2020-11-05 11:07] iclementine commented on #28443
影响的因素可能有：
1. 机器的配置；
2. 机器的繁忙程度；
3. 运行时环境哦，各种库的版本。

[2020-11-05 11:15] iclementine commented on #28451
详细说一下你的需求？
你是要用 inference model 的方式进行预测？

[2020-11-05 11:28] wwjjy commented on #28451
@iclementine 模型是save_inference_model保存的，这些模型有相同的结构，同时每一层的命名也相同，但是在不同的数据集上进行训练的，所以实际加载进来的参数是不同的。现在就需要在不同的线程里，使用不同的模型进行预测

[2020-11-05 14:09] iclementine commented on #28448
信息太少，看不出什么问题。建议到 paddlecloud 群咨询。

[2020-11-06 00:06] #28393 closed, assigned to jiweibo, yaoxuefeng6

[2020-11-06 04:01] starsblinking commented on #26618
不知道这个曾经的bug修复了没，paddle同学没再回复，我也没再使用当时的版本和相关函数，就先close了吧。

[2020-11-06 04:01] #26618 closed, assigned to yaoxuefeng6

[2020-11-06 04:05] luotao1 opened #28459 "CPU上mkldnn加载多个模型预测问题"
根据外部用户的反馈，实测发现，使用CPU mkldnn加载多个模型预测时，会导致模型预测结果有diff的问题。

复现环境： Ubuntu 16.04 paddlepaddle==2.0.0rc0

复现问题的模型和代码已上传在此icafe中（3个模型均为MobileNetv2分类模型)

问题复现情况：
[test.tar.gz](https://github.com/PaddlePaddle/Paddle/files/5498977/test.tar.gz)

解压上传的附件后，进入目录

1. 执行 python merge_test.py 1 会同时加载3个模型，并分别预测同一个输入数据，结果如下：

====1 5 0.81950974 5.0102745e-22 0.16666667

====xx 3 0.94060355 6.0438254e-09 0.16666667

[2020-11-06 11:23] cyy53589 commented on #28332
重启环境解决了

[2020-11-06 11:23] #28332 closed, assigned to swtkiwi

[2020-11-06 13:18] flishwang commented on #28337
输出日志中，
[code]
fetch的变量虽然名字不对，但实际的变量应该是对的。输出结果出错可能是其它的原因。

[2020-11-06 13:18] #28337 closed, assigned to ForFishes

[2020-11-06 13:24] dingjiaweiww opened #28471 "## 内部测试paddle bot 功能，值班请忽略##"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

求问一下python端想要 多线程的加载多个同结构、同变量名但是参数不同的模型进行预测，应该如何正确的加载并使用，求一个例子~

[2020-11-07 04:28] xxlest commented on #28244
遇到同样的问题 没人解决吗？

[2020-11-08 05:13] yocen opened #28472 "win10家庭版jupyter 上import paddle.fluid报ImportError: DLL load failed: 找不到指定的模块。"
系统环境：
WIN10家庭版
CUDA10.0
jupyter notebook 6.0.3
conda虚拟环境：
Python 3.7.9 (default, Aug 31 2020, 17:10:11) [MSC v.1916 64 bit (AMD64)]
IPython 7.19.0
在虚拟环境下用conda install paddlepaddle-gpu==1.8.5 cudatoolkit=10.0安装

anaconda prompt里运行python，验证paddle安装一切正常：
[code]

但在jupyter notebook里跑import paddle.fluid报错：
[code]

[2020-11-08 06:17] allenweng123 commented on #28391
切换到vs2015，  cmake .. -G "Visual Studio 14 2015" -A Win32 -DWITH_MKL=OFF -DWITH_GPU=OFF -DMSVC_STATIC_CRT=OFF -DWITH_PYTHON=OFF， 编译后报错如下：
16>glog.lib(logging.obj) : error LNK2038: 检测到“RuntimeLibrary”的不匹配项: 值“MD_DynamicRelease”不匹配值“MT_StaticRelease”(io.obj 中)
16>glog.lib(vlog_is_on.obj) : error LNK2038: 检测到“RuntimeLibrary”的不匹配项: 值“MD_DynamicRelease”不匹配值“MT_StaticRelease”(io.obj 中)
16>glog.lib(utilit

[2020-11-08 10:04] yanchaoguo commented on #28244
+1

[2020-11-08 12:55] Darki-luo opened #28473 "训练时候报错"
不是一开始就出现这个报错，而是会在训练几轮后随机出现报错中止，在aistudio中多卡训练也是某几张卡报错中止，其他卡可以正常训练
File "train.py", line 194, in main
    train_loss.backward()
  File "<decorator-gen-76>", line 2, in backward
  File "/opt/_internal/cpython-3.7.0/lib/python3.7/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__
    return wrapped_func(*args, **kwargs)
  File "/opt/_internal/cpython-3.7.0/lib/python3.7/site-packa

[2020-11-08 14:01] ctkindle opened #28474 "shm被逐渐占满的问题"
ai studio paddle2.0rc（beta也是同样状况） gpu

使用Dataloader读取数据时，shm会被逐渐占满，直至报错。

num_worker=0时，按文档说明不启用子进程。但是，我在Dataset的__getitme__（）里打印标记时发现，还是打印了多次（有时是6次）。num_wroker=1时，打印3ci。这是怎么回事，进程数量不是依据num_worker而定么？

[2020-11-09 01:19] nhsy0105 commented on #28438
大佬们帮忙看看啊。。。

[2020-11-09 01:39] LDOUBLEV commented on #28472
重新安装opencv 试试

[2020-11-09 01:42] LDOUBLEV commented on #28473
麻烦提供下你的环境，包括：
1. paddle版本、cudnn版本、cuda版本

AIstudio上只有一个GPU吧，可以多卡训练吗

[2020-11-09 01:43] #28348 closed, assigned to Thunderbrook

[2020-11-09 01:47] LDOUBLEV commented on #28474
shm会被逐渐占满的问题，将use_shared_memory设置为False，或者在启动docker时，把共享内存设置大一点；

num_wroker=1时，打印3次的问题，是不是你的batch_size设置的大于1

[2020-11-09 01:54] yinggangtian opened #28476 "安装paddle"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：1.8
2）CPU/GPU：CPU
3）系统环境：ubuntu20.04   python3.8
建议;
适配ubuntu20.04的安装环境

[2020-11-09 02:20] shangzhizhou commented on #28343
请问是不是显存不够了呢，batch 超过4都会core么，如果不是，请提供一下完成的测试代码和模型，方便我们复现跟进问题

[2020-11-09 03:29] rical730 commented on #26174
请问是否可以实现 `copy.deepcopy(dygraph.layers.Layer)` 这个功能呢？模型复制用起来还是比较顺手的，用户体验更好。

[2020-11-09 03:34] rical730 commented on #26174
目前在Paddle2.0rc0版本里也没办法直接deepcopy模型

[code]

TypeError: can't pickle Layer objects

[2020-11-09 04:04] JingChunzhen opened #28478 "cast raises an exception thrust::system::system_error, parallel_for failed"
[code]

有关cast的代码：
[code]
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 1.8.3
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：Tesla p4
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
-预测信息
    1）C++预测：请您提

[2020-11-09 04:07] JingChunzhen commented on #28478
运行出core core信息如下：
[code]

[2020-11-09 04:15] uflexnihao opened #28479 "Paddle version: 2.0.0-rc0 使用paddle.inference报：UnimplementedError: Invalid dimension to be accessed"
**************环境**************************
Paddle version: 2.0.0-rc0
Paddle With CUDA: True
OS: Windows 10
Python version: 3.6.5
CUDA version: 10.1.243
cuDNN version: None.None.None
Nvidia driver version: 441.87

************-代码如下：****************************
from paddle.inference import Config
from paddle.inference import Predictor
import paddle
from paddle.vision.datasets import MNIST
import pad

[2020-11-09 06:01] imistyrain opened #28481 "*** SIGABRT (@0x7fff6ab00ad6) received by PID 48356 (TID 0x70000bef5000) stack trace: ***"
predictor.run报错:
 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号1.8.1
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，无
    4）系统环境：如Mac OS 10.15，Python 3.6

尝试将转换后的[FaceMaskDetection](https://github.com/AIZOOTech/FaceMaskDetection)模型运行，转换用的命令为
[code]
执行用的代码为:
[code]
报错信息为:
[code]

[2020-11-09 06:45] iclementine commented on #28434
看起来是 pip 出了问题。请给你安装时候的命令。以及你用 pip 安装一个其他的包试试是否会出现类似的问题呢？

[2020-11-09 06:57] iclementine commented on #28428
看起来是环境配置的问题，可以先尝试查看以下的方面：

1. conda 环境下是否安装了正确版本的 cudatoolkit;
2. 环境中的 cublas cuda cudnn 等的版本是否能搭配。

[2020-11-09 06:57] lfchener commented on #28476
已收到您的反馈，我们会尽快讨论，结论将会第一时间同步在这里。

[2020-11-09 07:14] zhangyimi commented on #28443
问题已经解决，发现同一台机器不同gcc版本编译的python对模型预测速度有显著影响。

[2020-11-09 07:14] #28443 closed, assigned to iclementine

[2020-11-09 07:16] iclementine commented on #28437
这个是调用代码的问题了。
feed={"input",x} 你的意思是  feed={"input": x} 吧。
ndarray 是 Unhashable 的，因此也不能用作字典的 key.

[2020-11-09 07:16] #28437 closed, assigned to iclementine

[2020-11-09 07:19] lfchener commented on #28478
@T8T9

[2020-11-09 07:19] lfchener commented on #28479
@T8T9

[2020-11-09 07:20] iclementine commented on #28438
能看出是 failed 在哪个 target 吗？
可以用 make 不带 -j 看看具体是哪个 target 出错。

[2020-11-09 07:24] iclementine commented on #28447
从报错信息上来看是 DataLoader 报错了。
请问你用的 paddle 版本是？使用动态图还是静态图？是否使用 DataLoader?
可以先 debug 一下 DataLoader, 确保它能够正常使用，正常迭代。

[2020-11-09 07:29] iclementine commented on #28451
既然参数是不同的，是否可以用多个进程进行预测？
推荐到预测用户群咨询。2260150

[2020-11-09 07:37] jiangjiajun commented on #28481
你好，我这边使用X2Paddle进行转换后，使用如下代码预测没有问题，麻烦尝试下在你环境中是否可以运行
[code]

[2020-11-09 08:17] imistyrain commented on #28481
多谢，能正常运行的代码，感觉相比opencv的就是有点卡
[code]
zerocopy run 的代码
[code]

[2020-11-09 08:17] #28481 closed, assigned to lfchener, jiangjiajun

[2020-11-09 08:22] nhsy0105 commented on #28438
![image](https://user-images.githubusercontent.com/30465953/98516713-cda5a580-22a7-11eb-88a7-f591737f5a96.png)

[2020-11-09 08:31] nhsy0105 commented on #28438
![捕获2](https://user-images.githubusercontent.com/30465953/98517528-042ff000-22a9-11eb-990f-e3958f27ebb1.JPG)

[2020-11-09 08:32] nhsy0105 commented on #28438
@iclementine 请帮忙看看，多谢啦

[2020-11-09 09:02] wkzqn commented on #27964
+1

[2020-11-09 09:03] jiangjiajun commented on #28481
可以打开use_mkl，使用mkldnn加速，可以明显提升模型在CPU上的预测速度

[2020-11-09 09:11] wkzqn opened #28487 "paddle动态图中如何使用LSTM呢？"
可以像keras那样堆叠多个LSTM层吗？我看paddle的lstm可以选择有多个层，然后大多数人都使用的dynamic_lstm这个接口，但是dynamic_lstm只能使用一个LSTM层？看了官方的LSTM API感觉还是不会用LSTM，有没有人能够帮助我一下？

[2020-11-09 09:22] #28448 closed, assigned to iclementine

[2020-11-09 09:27] iclementine commented on #28438
看来是 gflags 安装失败。

可以先看看 extern_gflags-install-*.log 有什么线索。
以及，要不试试删除 build 下的 third party 目录再试一次？

[2020-11-09 09:27] iclementine commented on #28438
之前曾经编译成功过吗？

[2020-11-09 09:28] #28426 closed, assigned to iclementine

[2020-11-09 09:45] #16755 closed, assigned to qingqing01

[2020-11-09 09:45] #21011 closed, assigned to nobody

[2020-11-09 09:45] #21026 closed, assigned to sneaxiy

[2020-11-09 09:45] #21079 closed, assigned to 123malin, guru4elephant

[2020-11-09 09:45] #21098 closed, assigned to nobody

[2020-11-09 10:05] 631961895 opened #28491 "Warning: PaddlePaddle catches a failure signal, it may not work properly"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：
       paddle-serving-app        0.1.2
       paddle-serving-client     0.3.2
       paddle-serving-server-gpu 0.3.2.post10
       paddlepaddle              1.8.5
    2）CPU/GPU：NVIDIA-SMI 430.40       Driver Version: 430.40       CUD

[2020-11-09 10:29] python-bookworm opened #28493 "We only support 'data()' in static graph mode......."
在运行训练程序时候，报错：
AssertionError: We only support 'data()' in static graph mode, please call 'paddle.enable_static()' to enter static graph mode
按照#27495问题的方案，并没有解决问题，运行 主机环境：ubuntu18.04,cuda10.0,cudnn7.5,paddlepaddle-gpu==2.0
请教下是什么问题导致报错?

[2020-11-09 10:34] lfchener commented on #27964
2.0 已经新增了 LSTM 相关的 API，可以参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/layer/rnn/LSTM_cn.html#lstm

[2020-11-09 11:39] lfchener commented on #28487
可以使用 LSTM API：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/layer/rnn/LSTM_cn.html#lstm
其中 num_layers 参数可以指定 LSTM 的层数。
![image](https://user-images.githubusercontent.com/6771821/98536635-0c952480-22c3-11eb-9f97-69b393bf7281.png)

[2020-11-09 11:45] lfchener commented on #28491
请移步 paddle Serving repo 下提 issue
https://github.com/PaddlePaddle/Serving/issues

[2020-11-09 11:51] lfchener commented on #28493
paddle 2.0-rc  以后默认开启动态图模式，您的模型如果是使用静态图实现的话，请在代码前显示调用 ``paddle.enable_static()`` 开启静态图模式，再运行。

[2020-11-09 11:56] A-k-ing commented on #28244
[code]
直接卡住了

标题：训练的时候日志显示build_strategy.cc:170] fusion_group is not enabled for Windows/MacOS now, and only effective when running with CUDA GPU.然后就不训练了。

版本、环境信息：
   1）PaddlePaddle版本：1.8.5
   2）CPU：RYZEN 5 1600
   3）GPU：GTX 1050TI 4G
   4）系统环境：Windows10 1803 教育版
环境变量  MKL_DEBUG_CPU_TYPE=5

[2020-11-09 12:10] A-k-ing commented on #26051
我跑PaddleDetection也遇到这种情况，W1109 19:58:59.794556 31476 build_strategy.cc:170] fusion_group is not enabled for Windows/MacOS now, and only effective when running with CUDA GPU.卡在这里不动
cudnn : 7.6
cuda : 10.0
GTX 1050TI  4G
CPU:ryzen5 1600
paddle1.8.5
Python3.7.8
windows10 1803

[2020-11-09 12:27] cryoco commented on #28244
您好，fusion_group is not enabled for Windows/MacOS now, and only effective when running with CUDA GPU应为一句正常提示，训练中止可能另有原因，可以另提issue问下，会有值班同学回复。

[2020-11-09 15:35] KingCSer opened #28501 "通过接口保存用户训练作业的checkpoint"
配置：paddlepaddle-1.8.5-gpu docker安装
paddle里面有没有调度保存训练作业checkpoint的接口？如果没有，怎样在io里面写一个保存用户训练作业程序checkpoint的接口，该接口怎样与用户训练作业交互？

[2020-11-09 18:35] ghost opened #28502 "docker环境可否支持notebook？"
## 问题：
由于个人电脑的性能限制和运行环境等多方面因素，而比较喜欢docker这种方便的部署方法。官方也给出了docker的部署解决方案，但是有一点特别不人性化的地方，就是docker容器部署成功后需要进入容器，在安装vim后才能开始编码，不说vim工具的学习成本，我想也不会有人会长时间连接服务器，并且进入容器编码吧，这明显不太方便！
## 建议：
希望在paddle容器中集成notebook环境，对外开放端口，用浏览器可以直接访问，就如同aistudio中的操作环境一样。这样就可以避免那么麻烦的登录服务器进入容器编码的繁杂操作，还可以解决个人电脑性能不足、环境搭建不方便等问题！

### 望采纳！！！！！！！！！

[2020-11-10 02:18] lfchener commented on #28501
静态图可参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/model_save_reader.html#api-guide-model-save-reader
动态图可参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id9

[2020-11-10 02:25] lensea commented on #28391
c/c++-> code generation -> runtime library ->Multi-threaded (/MT)

[2020-11-10 02:40] tianshuo78520a commented on #28438
请问gcc版本是多少，建议不要本地编译，可以使用官网提供的docker环境编译。本地环境差异比较大，不容易排查原因。

[2020-11-10 02:51] lleesg opened #28505 "error met when running ppyolo in TX2"
**ENV：**
TX2、Ubuntu18.04、CUDA10.2、python3.6、Paddle-release-2.0-beta(on TX2, though it shows it's "PREDICTOR VERSION: 0.0.0" below...)

**problem description：**
I successfully run YOLOv3 model correctly on TX2 with both TRT on and  off, but errors occured when run PPYOLO:

- error info when TRT off :

W1110 10:14:23.840741 15941 analysis_predictor.cc:578] The one-time configuration of analysis pred

[2020-11-10 03:08] MARD1NO opened #28506 "想问下PADDLE"
![图片](https://user-images.githubusercontent.com/42901638/98622728-25461e80-2345-11eb-8e8a-b402b46c75a9.png)
您好，想问下Paddle2.0的日志功能能关闭吗

[2020-11-10 03:15] 123malin commented on #28506
你好，感谢使用Paddle。目前这些日志打印是不能关闭的～

[2020-11-10 03:17] MARD1NO commented on #28506
好的谢谢～

[2020-11-10 03:17] #28506 closed, assigned to 123malin

[2020-11-10 03:47] liuhuiCNN commented on #28505
hi, thank you for your feedback.
I had test ppyolo on TX2 using paddle inference lib version 1.8.4, and it is OK. Please ref [TX2_build](https://github.com/PaddlePaddle/PaddleDetection/blob/master/deploy/cpp/docs/TX2_build.md) for more details.
And we will test on paddle inference lib version 2.0, and will replay asap. Thank you.

[2020-11-10 04:23] theflyfish opened #28507 "大规模在线深度学习没找到具体的说明文档"
如题，在readme里看到在线深度学习的功能，但是找不到具体的说明文档，在线深度学习，应该是一个整体的流程，从训练到预测部署。这块有没有整体的说明文档，感谢

[2020-11-10 06:20] #28342 closed, assigned to Thunderbrook

[2020-11-10 06:26] python-bookworm commented on #28493
好的，已经加了静态开启的模式，可以正常运行，谢谢。

[2020-11-10 06:54] 123malin commented on #28507
你好，感谢使用Paddle。你可以尝试AiStudio在线平台，这里会提供免费的平台和算力，还会有一些深度学习项目示例和教程，https://aistudio.baidu.com/aistudio/index。

[2020-11-10 06:59] 123malin commented on #28507
预测部署相关的文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/index_cn.html。同时你也可以看一下PaddleServing这个Repo，它提供了完整的预测部署流程。

[2020-11-10 07:26] iclementine commented on #28428
经过我们这边的试验，在显卡被占用的情况下，或者 CUDA_VISIBLE_DEVICES 环境变量为空之类的时候，也会得到错误。
![图片](https://user-images.githubusercontent.com/16222986/98642822-03f72980-2369-11eb-8502-075e917529c3.png)

你可以截图给我看看 Original Error 是什么？

[2020-11-10 08:38] iotctech opened #28512 "Paddle2.0rc DataLoader自定义数据读取报错"
## 问题描述
参考官方文档测试自定义数据集，paddle.io.DataLoader执行报错
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/guides/02_paddle2.0_develop/02_data_load_cn.html#id3

## 代码
[code]

## 错误日志
[code]

## 运行环境
- 系统：ubuntu18.04
- driver: 450.51.06
- cuda：11.0.3
- cudnn: 8.0.3.33-1+cuda11.0
- python: 3.6.9

[2020-11-10 08:43] iotctech commented on #28512
#28385

[2020-11-10 08:57] theflyfish commented on #28507
@123malin  感谢回答，serviing这块我看到已经支持大规模参数索引模式，但我没看到具体的操作开发文档。其实，想了解的是大规模online deep learning， 目前有没有相关的说明与操作文档

[2020-11-10 09:30] 123malin commented on #28507
你说的online deep learning，指的是流式训练呢，还是将训练、预测、部署集成在一起的工具组件呢？

[2020-11-10 09:35] 123malin commented on #28512
感谢使用Paddle。目前paddle不支持str格式的输入，换成数值类型就可以了。

[2020-11-10 09:43] wkzqn opened #28515 "paddle2.0-rc如何使用gpu进行训练呢？"
我使用的原来1.x版本的方式进行训练：
place = fluid.CUDAPlace(0) if use_gpu else fluid.CPUPlace()
with fluid.dygraph.guard(place):
        pass
发现use_gpu=True的时候会报错，use_gpu=Fasle的时候可以正常运行。
![image](https://user-images.githubusercontent.com/44158381/98656964-483ff500-237c-11eb-923f-b40a79d23ecf.png)

[2020-11-10 09:53] theflyfish opened #28516 "> > > 如题，在readme里看到在线深度学习的功能，但是找不到具体的说明文档，在线深度学习，应该是一个整体的流程，从训练到预测部署。这块有没有整体的说明文档，感谢"
你说的online deep learning，指的是流式训练呢，还是将训练、预测、部署集成在一起的工具组件呢？

_Originally posted by @123malin in https://github.com/PaddlePaddle/Paddle/issues/28507#issuecomment-724580375_

我包括大规模流式训练，大规模在线推理，大规模模型周期同步， 大规模的online deep learning的流程跟普通的训练部署预测工作流有些区别

[2020-11-10 09:55] #28516 closed, assigned to 123malin

[2020-11-10 09:56] theflyfish commented on #28507
包括大规模流式训练，大规模在线推理，大规模模型周期同步， 大规模的online deep learning的流程，跟普通的训练部署预测工作流有所区别

[2020-11-10 10:03] 123malin commented on #28515
感谢您使用Paddle。可以提供一下你的训练脚本吗？方便我们复现问题，尽早帮您解决。

[2020-11-10 10:38] lleesg commented on #28356
could u share  the solution？

[2020-11-10 11:45] yocen commented on #28472
谢谢，原因已找到。安装‘Anaconda3-2020.07-Windows-x86_64.exe’版本后，conda主环境没有预安装nb_conda_kernels，导致notebook没正确进入虚拟环境。

[2020-11-10 11:45] #28472 closed, assigned to LDOUBLEV

[2020-11-10 12:56] 123malin commented on #28507
整体的组件及文档暂时还没有呢～

[2020-11-10 13:03] H-Chen110 commented on #28428
![Uploading image.png…]()

[2020-11-10 13:12] H-Chen110 commented on #28428
![05f78b2f94c3eaecfae8e041a0abe36](https://user-images.githubusercontent.com/54975621/98677882-a7136780-2398-11eb-8b60-6cc5258401ec.png)
Original Error 是空白的，并无任何内容，cudatoolkit版本：10.0，cudnn：7.6.5。
还有一个疑问是，我在网上查找能查询cuda版本的命令，显示的版本不一样，不清楚以哪个版本为确。如下：
1.使用cat /usr/local/cuda/version.txt命令，显示cuda版本10.0
![1](https://user-images.githubusercontent.com/54975621/98678295-4a647c80-2399-11eb-87c6-d9727fbb2f8a.

[2020-11-10 14:34] andreazanetti opened #28522 "Adding Kurtosis regularizer as option at user level (python interface)"
Hi, this is a request for information about whether or not you are working on supporting Kurtosis regularizer natively in the Paddle user interface. This regularizer has the goal to push weight tensors (and/or activation tensors) to have a more uniform distribution, which is ideal for later quantization of the trained model.
We think about the QAT/Quant pipeline.
The kurtosis regularizer is introd

[2020-11-10 14:56] allenweng123 commented on #28391
哪个项目上呢， 整个方案里总共有600多个项目, 错误信息来自项目paddle_fluid_shared, 查看过配置确实是/MT, 怀疑是起链接对象的问题， 比如glog.lib(logging.obj), 但这些是在哪个项目中产出的呢， 600多个不知道怎么找， 也就无法查看是否是/MT

[2020-11-11 01:35] Ryan906k9 opened #28526 "dynamic_lstm 中 sequence_length 如何设置"
请教 paddle.fluid.layers.dynamic_lstm 中 sequence_length 如何设置？

[2020-11-11 01:36] iotctech commented on #28512
感谢回复，换成数值型确实没有问题了，不过文档是不是需要做些提示，调试这些问题有点浪费时间。谢谢～

[2020-11-11 02:07] lensea commented on #28391
这就不是很清楚了，我还没编译整个的工程。我是在测试paddleocr demo 时遇到的。1、runtime 改成MT。2、把#include <glog/logging.h>和LOG(INFO) << "Usage: path\\mobilenet --modeldir=path/to/your/model";注释，程序就没问题了。

[2020-11-11 02:18] jhcgt4869 commented on #28341
开源的模型

[2020-11-11 03:24] habout632 opened #28528 "paddle的三维视觉方面有什么工具包吗"
三维重建类似的三维视觉方面　有什么工具包？

[2020-11-11 03:28] habout632 opened #28529 "处理数据集的工具包有吗"
paddle vision audio text类似这种　分别处理不同数据集的工具包？

[2020-11-11 04:53] wkzqn commented on #28515
我正在用paddle实现一个wgan-gp，在我的生成器/判别器中的网络使用全连接网络的时候可以正常训练，但是我改成LSTM网络的时候则会报core dumped的错误。
全连接的生成器/判别器：
![image](https://user-images.githubusercontent.com/44158381/98770203-a2909280-241c-11eb-836e-90f59ba57cf9.png)
LSTM的生成器：
![image](https://user-images.githubusercontent.com/44158381/98770245-bb00ad00-241c-11eb-91c9-07609544398d.png)
请问一下是我LSTM网络使用错误吗，paddle版本是2.0-rc。 @123malin

[2020-11-11 04:57] wkzqn commented on #28515
错误发生在梯度反向传播函数backward()，我怀疑在有LSTM结构的G网络中无法进行梯度反向传播。 @123malin

[2020-11-11 05:02] wkzqn commented on #28515
具体训练的步骤如下：
![image](https://user-images.githubusercontent.com/44158381/98770825-0cf60280-241e-11eb-817f-54cfe918b891.png)
@123malin

[2020-11-11 05:39] #28512 closed, assigned to 123malin

[2020-11-11 06:08] wkzqn commented on #28515
写了个简单的demo，感觉是LSTM网络的问题？
![image](https://user-images.githubusercontent.com/44158381/98775112-66166400-2427-11eb-8236-5d55088dabef.png)
@123malin

[2020-11-11 06:10] lensea commented on #28391
刚刚用vs2015(update v1)编译的paddle2.0rc cpu（openblase）版本，没有出现你说的问题

[2020-11-11 06:11] wkzqn opened #28537 "paddle2.0-rc的LSTM网络有问题还是我写错了呢？"
![image](https://user-images.githubusercontent.com/44158381/98775404-0c626980-2428-11eb-834f-efb67d377158.png)

[2020-11-11 06:12] wangxicoding commented on #28528
您好，Paddle还没有三维视觉方面独立的库，我们内部会安排评估。目前三维视觉的模型库是有的https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleCV/3d_vision

[2020-11-11 06:17] wangxicoding commented on #28529
您好，paddle2.0目前支持有vision和text的数据集工具包，详见文档
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/tutorial/quick_start/high_level_api/high_level_api.html

[2020-11-11 06:28] wangxicoding commented on #28526
用rnn这个
https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/rnn_cn.html#rnn
或者使用2.0里面的`paddle.nn.LSTM ` https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/layer/rnn/LSTM_cn.html#lstm

[2020-11-11 06:39] wangxicoding commented on #28537
我试了下你代码，cpu和gpu都可以正常运行，估计是环境的问题，能贴一下具体的core吗

[2020-11-11 06:44] wkzqn commented on #28537
稍等，我再检查下哈

[2020-11-11 06:50] wkzqn commented on #28537
import numpy as np
import paddle
import paddle.fluid as fluid
from paddle.fluid.dygraph import Linear, to_variable
from paddle.fluid.layers import concat
from paddle.nn import LSTM

class D(fluid.dygraph.Layer):
    def __init__(self):
        super(D, self).__init__()
        self.lstm = LSTM(100, 100)
        self.fc = Linear(input_dim=1 * 100, output_dim=1)

    def forward(self, x):
        _,

[2020-11-11 06:51] wkzqn commented on #28537
`import numpy as np
import paddle
import paddle.fluid as fluid
from paddle.fluid.dygraph import Linear, to_variable
from paddle.fluid.layers import concat
from paddle.nn import LSTM

class D(fluid.dygraph.Layer):
    def __init__(self):
        super(D, self).__init__()
        self.lstm = LSTM(100, 100)
        self.fc = Linear(input_dim=1 * 100, output_dim=1)

    def forward(self, x):
        _

[2020-11-11 06:51] wkzqn commented on #28537
[code]

[2020-11-11 06:53] wkzqn commented on #28537
@wangxicoding 你看下我这个代码呢？刚才那个代码我试了，确实gpu和cpu都可以运行，我这个代码只能在cpu上运行。我想做的是要实现一个gan网络，但是里面网络想要用lstm网络，但是现在我无法发现我哪里出了问题。

[2020-11-11 07:03] OleNet opened #28539 "Nan 训练的时候会有 Nan"
![image](https://user-images.githubusercontent.com/3206718/98779451-d8d70d80-242e-11eb-9de7-7bbc4b458f3c.png)
训练的时候会有nan，在 step 114521 的时候loss 还好好的， 是 1.66312， 但是下一步就nan了。
我在nan的时候，把很多变量都打印了出来， 可以看到 word_embedding 都是nan， 感觉很奇怪，因为loss看起来也不是很大的样子。
这种情况下要怎么办呢？

[2020-11-11 07:25] wkzqn commented on #28537
@wangxicoding 能再帮我看下吗？

[2020-11-11 07:44] wkzqn commented on #28537
第一次贴的代码有点问题，`with fluid.dygraph.guard(place)`这句代码写成了`with fluid.dygraph.guard(fluid.CPUPlace()):`，所以会一直在cpu上运行，我重新贴一下正确的代码，这次在gpu上运行则会报错了。：
[code]
@wangxicoding

[2020-11-11 07:57] 642721838 opened #28540 "Paddle安装后验证"
老师您好，我安装paddle完了验证的时候一直是正在验证，没有出现安装成功的提示，请问怎么解决啊。

![image](https://user-images.githubusercontent.com/46669502/98784811-a204f580-2436-11eb-926e-47e7791b0fbe.png)

[2020-11-11 08:09] wkzqn commented on #28537
感觉确实有问题啊，这个最简单的demo都不行：
[code]
@wangxicoding

[2020-11-11 08:13] wkzqn opened #28543 "paddle2.0-rc的LSTM网络问题，求大家帮忙看一下，非常感谢"
使用GPU报core dumped的错误，使用cpu可以正常运行:
[code]

[2020-11-11 09:04] nx5216 opened #28546 "paddle有没有计划在未来实现fft,stft等运算"
我有些音频数据目前端到端训练效果不好，只能先用stft处理，考虑到硬盘的存储又只能在线转换，scipy，librosa满足不了速度要求
,pytorch和tensorflow都提供了原生的时频运算，我想请问下未来paddle会考虑加入这些运算吗

[2020-11-11 09:25] habout632 opened #28548 "paddle.vision.ImageFolder 正常要返回target, 但是只返回了sample"
def __getitem__(self, index):
        """
        Args:
            index (int): Index

        Returns:
            tuple: (sample, target) where target is class_index of the target class.
        """
        path = self.samples[index]
        sample = self.loader(path)
        if self.transform is not None:
            sample = self.transform(sample)
        return [sample]

    def __len__(self

[2020-11-11 09:25] wangxicoding commented on #28537
[code]
你前面的代码，可以跑呢。
![image](https://user-images.githubusercontent.com/10208305/98793721-3d03cc80-2443-11eb-8029-67eae9fe857d.png)

@wkzqn 把你错误log发一下~~

[2020-11-11 09:30] wangxicoding commented on #28539
静态图可以用nan_inf工具检查一下具体是什么地方出的nan  https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/flags/check_nan_inf_cn.html#id5 。 另外是不是lr太大，可能导致出nan了

[2020-11-11 09:32] wangxicoding commented on #28540
稍等一会，多按下回车应该好了

[2020-11-11 09:35] wangxicoding commented on #28543
GPU可以正常跑，估计是你的环境有些问题，把错误log发一下吧~~
![image](https://user-images.githubusercontent.com/10208305/98794577-2a3dc780-2444-11eb-83f1-5855bfb9fef3.png)

[2020-11-11 09:41] wangxicoding commented on #28546
您好，这些都是语音方面的算子吧，一般您常用的都有哪些，我们内部会安排调研评估，未来有计划尽快回复~

[2020-11-11 09:50] habout632 opened #28551 "dim axis命名我觉得可以统一一下"
paddle.fluid.layers.reduce_sum(input, dim=None, keep_dim=False, name=None)[源代码]
paddle.chunk(x, chunks, axis=0, name=None)[源代码]

有的地方叫axis, 有的地方叫dim
dim axis命名我觉得可以统一一下

[2020-11-11 09:57] nx5216 commented on #28546
我现在常用的就是fft,stft以及它的逆运算，具体可参考pytorch中相关的算子

[2020-11-11 10:07] 642721838 commented on #28540
我回车了，也等了很久，但是没反应，我的GPU是RTX3090的

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年11月11日(星期三) 下午5:33
收件人:&nbsp;"PaddlePa

[2020-11-11 10:14] LielinJiang commented on #28548
这个应该是文档的问题，ImageFolder只返回图片。想要放回target的，可以使用DatasetFolder

[2020-11-11 10:18] 642721838 commented on #28540
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
您好，我按照您的方法就出现了这个
顺便补充一下，我的系统是Windows，GPU是RTX3090
您看怎么解决
或者你给个qq吧，这样方便交流
谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"

[2020-11-11 10:19] wangxicoding commented on #28551
感谢反馈，目前paddle 2.0的api都统一称axis了，fluid下基于兼容性考虑，未做更改。

[2020-11-11 10:21] wangxicoding commented on #28546
好的，感谢反馈，我们将尽快安排调研评估~

[2020-11-11 10:23] wangxicoding commented on #28540
就一直卡着吗，你的QQ就是用户名？

[2020-11-11 10:24] 642721838 commented on #28540
642721838

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年11月11日(星期三) 晚上6:23
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@no

[2020-11-11 10:33] wkzqn commented on #28537
![image](https://user-images.githubusercontent.com/44158381/98801136-51989280-244c-11eb-8d16-95c52a801701.png)
我是在AI studio上跑的 @wangxicoding

[2020-11-11 10:34] TianCaibailei opened #28552 "2.0rc版本是否支持在Windows下的TensorRT加速预测，有没有C++版本的预测库？"
在Paddle 2.0rc版本中，是否支持Windows下的TensorRT预测，有没有C++版本的支持TRT的预测库？
如果支持Windows下TRT加速，可以支持哪些模型？

[2020-11-11 10:38] wkzqn commented on #28543
![image](https://user-images.githubusercontent.com/44158381/98801690-22365580-244d-11eb-871b-224a6996fc27.png)

[2020-11-11 10:40] wkzqn commented on #28543
我用linear层可以跑，用lstm不行。
[code]
@wangxicoding

[2020-11-11 11:21] wangxicoding commented on #28543
什么版本的paddle，试下2.0rc版本

[2020-11-11 11:24] wkzqn commented on #28543
就是2.0-rc。我是用的百度的ai studio这个平台，不过会有这么一句警告，不知道有没有啥问题。
[code]
@wangxicoding

[2020-11-11 11:24] wkzqn commented on #28543
![Uploading image.png…]()

[2020-11-11 11:25] wkzqn commented on #28543
![image](https://user-images.githubusercontent.com/44158381/98806115-a8ee3100-2453-11eb-8a36-0251c7538e98.png)

[2020-11-11 11:35] juncaipeng opened #28554 "The performance of OCR detection model become slower when enable mkldnn"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that th
If there is no solution,please make sure that this is an inference issue including the following details :
**System information**
-PaddlePaddle version: develop (commit id: 72c78e4dbbdf74fe9995d9b0757ca6e5832c79d7) or 1.8.5
-CPU: 6148 with MKLDNN
-GPU: None
-OS Platform:Ubu

[2020-11-11 12:27] jiangjiajun opened #28555 "Different framework inference performance gap: 同样的MobileNetV2模型在CPU上使用mkldnn预测，Paddle预测速度低于OpenVINO两倍多"
   1）PaddlePaddle版本：1.8.5.post108
    2）CPU：型号如下
![image](https://user-images.githubusercontent.com/19339784/98811106-3c773000-245b-11eb-85fb-3ba186598caa.png)

 其中Paddle模型在OpenVINO的部署，通过Paddle2ONNX将paddle模型转换为ONNX，再部署在OpenVINO上，最终测试到指标如下
| paddle(mkl_thread=8) | paddle(mkl_thread=12) | paddle(mkl_thread=16) | paddle(mkl_thread=24) | OpenVINO |
| :--------------------- | :--------------------- | :

[2020-11-11 12:38] wangxicoding commented on #28543
我再aistudio上也复现了。。我找相关人员排查一下

[2020-11-11 12:42] wkzqn commented on #28543
@wangxicoding 谢谢你啦，感觉是一个bug，我最近正在利用ai studio做实验，希望快点修好。

[2020-11-11 13:01] shangzhizhou commented on #28552
您好，当前预编译的版本里还没有加入tensorRT，但是可以通过源码编译，cmake指定TENSORRT_ROOT。PaddleInference里TensorRT对模型的支持并不一定是完成的模型支持，也可能只有一部分跑在trt中，支持常见的大部分模型。

[2020-11-12 00:41] uflexnihao commented on #28479
这个问题进展如何？

[2020-11-12 02:21] liguoyu666 opened #28562 "visualdl正常运行，但是在网页不显示"
我在自己电脑上能正常运行visualdl，且在网页能够可视化结果，
在另一台电脑上运行visualdl后，提示正常，但是打开网页一片空白。
![2020-11-12 10-19-22屏幕截图](https://user-images.githubusercontent.com/47743761/98887251-99f99400-24d0-11eb-965d-afed9aada045.png)
![2020-11-12 10-18-46屏幕截图](https://user-images.githubusercontent.com/47743761/98887263-9d8d1b00-24d0-11eb-941f-018e3207e7d1.png)

[2020-11-12 02:23] skywalk163 opened #28563 "飞桨2.0rc单机多卡训练 HAPI样例报错"
飞桨版本：2.0rc
硬件是双T4
系统是centos 7
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.118.02   Driver Version: 440.118.02   CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-U

[2020-11-12 02:24] luotao1 commented on #28555
PaddleX使用OpenVINO的部署文档：https://paddlex.readthedocs.io/zh_CN/develop/deploy/openvino/introduction.html

[2020-11-12 02:24] OliverLPH commented on #28502
目前官方镜像里是没有notebook的。但启动容器时映射所需端口，安装notebook，然后进入容器在对应端口开启jupyter服务也可以达到你需要的效果

[2020-11-12 02:26] theflyfish commented on #28507
或者流式训练的文档在哪里看

[2020-11-12 02:35] jiangjiajun commented on #28555
上面百度网盘提供的模型和代码包中，包含了Paddle模型和转好的OpenVINO IR，以及Paddle的Python预测代码和OpenVINO的Python预测代码，在环境中只要安装好paddlepaddle-gpu和OpenVINO后，即可分别进行预测，OpenVINO推荐安装2021.1版本（上文中测试即为该版本）

OpenVINO安装参考：https://docs.openvinotoolkit.org/latest/index.html

[2020-11-12 02:37] TianCaibailei commented on #28552
使用源码编译会报错停止，提示找不到CUDA,但是我的CUDA已经通过传入的参数指定了，暂不清楚什么原因。
另外trt是否支持PPYOLO或者YOLOV3的模型？

[2020-11-12 02:42] Ryan906k9 commented on #28526
感谢回复，我问这个问题的原因是我在分析一个项目代码，其中用到了 paddle.fluid.layers.dynamic_lstm，但是查询API文档没有看到设置 sequence_length 的地方，那意味着dynamic_lstm的序列长度默认为一个batch的大小吗？

[2020-11-12 03:41] Eric-seu commented on #28563
NCCL_DEBUG=INFO

[2020-11-12 03:43] JZ-LIANG commented on #28563
export NCCL_DEBUG=INFO

[2020-11-12 03:44] JZ-LIANG commented on #28563
在运行前 export NCCL_DEBUG=INFO ，打印一下 nccl 的日志

[2020-11-12 03:50] JZ-LIANG commented on #28562
请提供更多的日志信息帮助定位问题

[2020-11-12 03:50] luotao1 commented on #28563
从C++栈错误信息看，和 #28484 非常类似，可以参考该PR中的解决方法。
`export NCCL_SHM_DISABLE=1`。

[2020-11-12 04:13] zhwesky2010 commented on #28329
您好，2.0计划支持Cuda11 @ForFishes

[2020-11-12 04:27] shangzhizhou commented on #28552
1. 请贴一下具体的cmake选项和报错信息
2. ppyolo和yolov3都支持部分跑在trt里。

[2020-11-12 05:34] Czeyola commented on #28392
这不是conv2d么

[2020-11-12 05:41] Darki-luo commented on #28473
AIstudio 脚本后台任务 8卡任务，遇到过2张卡在训练时出现上述报错，上面报错的内容就是aistuidio上输出的内容。

[2020-11-12 05:42] Darki-luo commented on #28392
这个是conv2d，怎么实现conv1d3个维度的处理啊？

[2020-11-12 06:06] LDOUBLEV commented on #28473
可以稳定复现吗？能否提供下复现环境

[2020-11-12 06:42] swtkiwi commented on #27530
感谢您的建议，CUDA11我们即将在2.0正式版中支持，届时欢迎使用！

[2020-11-12 06:42] #27530 closed, assigned to nobody

[2020-11-12 07:03] #28285 closed, assigned to zhangting2020

[2020-11-12 07:20] TianCaibailei commented on #28552
`D:\>cd D:\Documents\Paddle\Paddle_2.0rc

D:\Documents\Paddle\Paddle_2.0rc>cd build

D:\Documents\Paddle\Paddle_2.0rc\build>cmake .. -G "Visual Studio 16 2019" -A x64 -T host=x64 -DCMAKE_BUILD_TYPE=Release -DWITH_MKL=ON -DWITH_GPU=ON -DON_INFER=ON -DWITH_PYTHON=OFF -DCUDA_TOOKIT_ROOT_DIR="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.0"
-- Found Paddle host system: win32, version:
-- Foun

[2020-11-12 07:33] pineking commented on #25856
赞同

[2020-11-12 08:50] juncaipeng opened #28578 "Paddle inference raise segmentation fault error for quantized ocr recognition model"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that th
If there is no solution,please make sure that this is an inference issue including the following details :
**System information**
-PaddlePaddle version
commit id:72c78e4dbbdf74fe9995d9b0757ca6e5832c79d7
cmake: cmake -DCMAKE_BUILD_TYPE=Release -DWITH_PYTHON=OFF -DWITH_MKL=ON

[2020-11-12 09:35] LutzWeischerFujitsu opened #28581 "is:issue is:open cmake fails on AArch64, Fedora 33 due to Protobuf version conflict"
cmake .. -DPY_PIP=/usr/bin/pip -DPY_NUMPY=$HOME/.local/lib/python3.9/site-packages/numpy -DPY_WHEEL=$HOME/.local/lib/python3.9/site-packages/wheel -DPY_GOOGLE.PROTOBUF=$HOME/.local/lib/python3.9/site-packages/protobuf
-- Found Paddle host system: , version:
-- Found Paddle host system's CPU: 48 cores
-- CXX compiler: /usr/bin/c++, version: GNU 10.2.1
-- C compiler: /usr/bin/cc, version: GNU 10.2.1

[2020-11-12 10:22] zhwesky2010 commented on #28552
@TianCaibailei 麻烦重新装一下CUDA吧，这个不是TRT的问题，GPU下的paddle应该就没法编过。因为CUDA需要在VS先安装之后再安装，另外VS2019目前没有检测过，可能有其他问题。

[2020-11-12 11:12] skywalk163 commented on #28563
看了一下，好像没有看到nccl的相关信息。

        (base) [skywalk@ecs-ai chapter08_computational-performance]$ export  NCCL_DEBUG=INFO
        (base) [skywalk@ecs-ai chapter08_computational-performance]$ echo $NCCL_DEBUG
        INFO
        (base) [skywalk@ecs-ai chapter08_computational-performance]$ python hapispawn.py
        W1112 13:31:43.235133 28034 device_context.cc:338] Please NOTE: device: 0, CUDA Capabili

[2020-11-12 11:34] #27757 closed

[2020-11-12 11:41] JZ-LIANG commented on #28581
It seem the Protobuf version is lower than [requirements](https://github.com/JZ-LIANG/Paddle/blob/6218e6dc2d1026e7a0588e2a8f1d8e6327dc7f64/python/requirements.txt#L4). Try update the Protobuf first.

[2020-11-12 14:07] xazeng commented on #28391
打开 src/google/protobuf/compiler/java/java_file.cc

把      bool operator ()(const FieldDescriptor* f1, const FieldDescriptor* f2) {
改成  bool operator ()(const FieldDescriptor* f1, const FieldDescriptor* f2) const {

[2020-11-12 14:23] skywalk163 commented on #28563
export NCCL_SHM_DISABLE=1  之后也不行。

[2020-11-13 02:31] vflanker opened #28592 "2.0rc加载预训练模型作为backbone报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0rc，paddlehub 1.8.2
    2）GPU：cuda 10.0
    3）系统环境：aistudio，Python3.7

- 模型信息
    1）模型名称：BERT
    2）数据集：DuIE
    3）模型链接：https://www.paddlepaddle.org.cn/hubdetail?name=bert_chinese_L-12_H-768_A-12&en_category=SemanticModel
    4）算法参考：https://github.com/bojone/bert_in_keras/blob/master/relation_extract.py & python 2.7 + tensorflow 1.13 + keras 2.2.4

- 问题描述：

当前在构建一

[2020-11-13 02:38] niping93 opened #28593 "use_cvm为true，发现预测时，每条预测样本数据的前两位值，第一位是10000+，第二位是-150, 为什么会有负数啊"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2020-11-13 03:05] oioeic commented on #25560
啥原因呀？我也遇到跟你一样的问题

[2020-11-13 04:53] ssatcc opened #28597 "在AIStudio平台上训练train函数没问题，在脚本任务4卡训练时报错"
AIStudio后台脚本任务运行时paddle版本是1.8。我在平台做作业时，得到的代码使用python work/basic_train.py是可以多次运行的（选择的也是GPU卡），但移到后台的4卡训练时就总报下面的错，不能继续运行。

Traceback (most recent call last):

  File "basic_train.py", line 423, in <module>

    main()

  File "basic_train.py", line 387, in main

    epoch)

  File "basic_train.py", line 288, in train

    train_loss_meter.update(loss.numpy()[0], n)

paddle.fluid.core_avx.EnforceNotMe

[2020-11-13 04:58] ssatcc commented on #28597
以前在pytorch时，对于在CUDA上计算得到的loss，通常是把loss移到CPU上，然后转换为loss.numpy()。不知道是否是这个原因报错。但是，同样的代码，我已经在AIStudio平台做作业时使用GPU算力运行好几次（可以继续运行），也没因为这个loss.numpy()操作报错啊，为什么到脚本任务的4卡时就报错呢

[2020-11-13 05:02] ssatcc commented on #28597
我刚才又试一下，在后台脚本任务时，即使选择单卡P40运行，也是报同样的错，但是，在平台做作业的状态下不报错

[2020-11-13 05:19] ssatcc commented on #28597
我把loss.numpy()那句单独拿出来赋给其他变量，在这时又报错了

2020-11-13 13:14:52,183-WARNING: Please NOTE: imperative mode can support return as list only. Change to return as list.

2020-11-13 13:14:52,186-WARNING: Please NOTE: imperative mode can support return as list only. Change to return as list.

W1113 13:14:52.188210   216 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.

[2020-11-13 05:52] lidanqing-vv opened #28598 "[oneDNN Dygraph] QA测试文档"
@luotao1  Hi, this is test doc for QA. If any issues, please let me know.
[oneDNN_DyTraining_Resnet50_Test_Doc.txt](https://github.com/PaddlePaddle/Paddle/files/5535004/oneDNN_DyTraining_Resnet50_Test_Doc.txt)

[2020-11-13 06:00] swtkiwi commented on #28476
您这个问题可能是因为我们在1.8.5以上才支持python3.8，辛苦安装1.8.5

[2020-11-13 06:00] #28476 closed, assigned to lfchener

[2020-11-13 06:03] swtkiwi commented on #28476
我们大概会在近期3个迭代中增加对此需求的支持，感谢您的建议

[2020-11-13 08:57] wojtuss commented on #28248
@zhouwei25 , Thank you. Can anything be done about it?

[2020-11-13 09:08] wzzju commented on #28522
Hi! Thanks for your suggestion. You are welcome to contribute to PaddlePaddle about `Kurtosis Regularizer`. When you make the pull request, please let me know and add me as a reviewer. Feel free to ask me any question!

[2020-11-13 09:25] yiakwy opened #28608 "Paddle TensorRT Inference Exception"
## 问题：

推理异常

## 环境

Paddle 版本， CommitID：
C++ 版本信息(version.txt)：
  /workspace/compile_Paddle_gcc75/TensorRT-7.1.3.4/lib/libnvinfer.so
模型来源：自制
模型制作版本信息：
GPU，CUDA，CUDNN型号：
  CUDNN: 8.0.2
  CUDA: 10.2
  Driver Version: 440.82
  NVIDIA-SMI: 440.82
系统版本：
 Linux 4.15.0-29, Deepin 15.11

## 参考代码

[code]

[2020-11-13 09:33] YixinKristy commented on #28562
windows开启visualdl页面空白，有几个原因，可供自查
1 使用最新版chrome浏览器，如果不行，转下
2 强制刷新浏览器，如果不行，转下
3 注册表被修改，参考解决 https://github.com/PaddlePaddle/VisualDL/issues/834
目前遇到的问题基本这三步可以解决

[2020-11-13 09:41] liguoyu666 commented on #28562
谢谢，我是ubuntu系统，能正常使用那台是chrome浏览器，不能用的那台是系统自带的firefox浏览器，换个浏览器试哈

[2020-11-13 09:43] liutongyang opened #28610 "paddle 版本升级后，模型预测报错"
- 环境：
PaddlePaddle版本：paddlepaddle-gpu==1.8.2.post97
GPU：Tesla V100
Driver Version: 418.67
CUDA Version: 10.1
cuDNN version: 7.6.0
python version: 3.7.7 (GCC 7.3.0)
Linux version 3.10.0-957.12.2.el7.x86_64

- 问题描述：
paddlepaddle-gpu==1.6.3.post107 转为 paddlepaddle-gpu==1.8.2.post97 后，模型预测时报未知错误。
paddle 版本升级后模型可正常训练、保存 checkpoint 和 inference model，但是预测出错。
预测时加载的 inference model 为相同 paddle 版本下通过 fluid.

[2020-11-13 10:24] dongyangli-del opened #28613 "安装paddlepaddle时报错:命令行输入python进入python3.7之后,import 错误：ImportError: DLL load failed: 系统无法访问此文件。"
win10环境，根据官方文档一步一步装的paddlepaddle-gpu，之前在另一个电脑上也是按照相应方法进行的安装，就可以正常使用，请问这是什么问题呢？

[2020-11-13 10:27] 123malin commented on #28593
请问你是用的pslib模式训练的吗？可以描述的更细致一些吗？

[2020-11-13 11:10] Darki-luo opened #28614 "paddle 里的softmax with entropy loss 能增加权重的参数吗？"
建议paddle1.8.x和2.0版本里的loss api能增加一下weight权重的参数

[2020-11-13 11:41] 123malin commented on #28614
已收到，感谢您的反馈和建议。

[2020-11-13 11:52] 123malin commented on #28613
可以参考一下这个issue，看是否可以解决你的问题：https://github.com/PaddlePaddle/Paddle/issues/22732

[2020-11-13 11:59] dongyangli-del commented on #28613
我试了paddle的cpu版本和gpu版本，都显示同样的报错：无法访问此文件，但是import tensorflow就是可以的，请问这又是为什么呢？

[2020-11-13 15:20] KingCSer opened #28617 "保存训练参数"
版本：paddle-1.8.5-gpu-cuda10.0-cudnn7
所有的save接口都是在训练程序train()内调用保存参数的，怎样在训练程序外保存训练参数？
例如，怎样实现：
main()
    train()
    save_persistables()
使得train()程序发生异常时自动保存一次参数

[2020-11-13 16:06] ARDUJS opened #28618 "paddle安装报错"
### 环境
- 系统 Linux node223 3.10.0-957.12.2.el7.x86_64 #1 SMP Tue May 14 21:24:32 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- cuda 9.2
- python 3.7.4
### 安装命令

![image](https://user-images.githubusercontent.com/20811685/99093028-ec3fcf80-260c-11eb-85e5-f591522fa9c9.png)

### 出现问题

![image](https://user-images.githubusercontent.com/20811685/99093200-21e4b880-260d-11eb-89ec-88eb77f9a089.png)

![image](h

[2020-11-14 00:28] HighCWu opened #28620 "小建议，为paddle.summary添加直接输入"
- 版本、环境信息
1）PaddlePaddle版本：2.0rc0
- 建议描述：

当前版本paddle.summary允许填写shape大小，但不支持直接输入Tensor以及其它符号，建议增加类似于args、kwargs之类的传参。我查看源码时也观察到函数实现中还是用shape生成了Tensor，直接输入Tensor也应该被允许。

建议用例:

[code]

或者:

[code]

其中`use_something`为模型forward过程中进行条件分支的参数。

[2020-11-14 07:37] habout632 opened #28623 "paddle.vision.ImageFolder() 使用pillow作为backend的时候，报错"
paddle.vision.ImageFolder() 使用pillow作为backend的时候，报错
提示　unknown data type PIl.Image.Image

我换成cv2就好了
set_image_backend('cv2')

dataloader加载图片出来的tensor是
data type uint8
data format nhwc
这两个是不是可以直接一步到位　在ImageFolder里面直接转成float32 nchw返回呢？

[2020-11-14 07:53] habout632 opened #28624 "paddle.vision.DatasetFolder提示不支持图片格式"
![Screenshot from 2020-11-14 15-50-54](https://user-images.githubusercontent.com/3166070/99142600-7fbae400-2691-11eb-82b9-4df7f23f699c.png)
　但是目录下明明是有的

[2020-11-14 07:54] habout632 commented on #28624
使用ImageFolder 就没有这个问题

[2020-11-14 08:18] habout632 commented on #28624
提示信息　不太准确　'/data2/stargan_v1/hands/test/green'　是因为这个目录下　已经没有目录了　所以报错了　不是文件扩展名的问题

[2020-11-14 08:51] habout632 opened #28625 "注释的文字拼写错误"
paddle.vision.folder.py
def has_valid_extension(filename, extensions):
    """Checks if a file is a vilid extension.
应该是valid extension

    Args:
        filename (str): path to a file
        extensions (tuple of str): extensions to consider (lowercase)

    Returns:
        bool: True if the filename ends with one of given extensions
    """
    return filename.lower().endswith(extensions)

[2020-11-14 11:49] unseenme opened #28626 "2.0 RC 中文API文档中，找不到paddle.nn.MaxPool2D"
左边的列表中也找不到。
用右上角的搜索也找不到。

[2020-11-14 11:53] unseenme opened #28627 "2.0 RC 中文API文档中，paddle.nn.AdaptiveMaxPool2D链接无效"
在这个页面中：
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/api/index_cn.html

左边的列表中可以看到AdaptiveMaxPool2D。
但是打不来相关内容。

[2020-11-14 15:05] vslyu commented on #28627
收到你的反馈，感谢你的发现，我们会尽快修复文档这个这个bug～
您可以先在源码处查看API的example：https://github.com/PaddlePaddle/Paddle/blob/release/2.0-rc/python/paddle/nn/layer/pooling.py#L919-L983

[2020-11-14 15:07] vslyu commented on #28626
收到你的反馈，感谢你的发现，我们会尽快修复文档这个这个bug～
您可以先在源码处查看paddle.nn.MaxPool2D   API的example：https://github.com/PaddlePaddle/Paddle/blob/release/2.0-rc/python/paddle/nn/layer/pooling.py#L414-L480

[2020-11-15 06:24] Echo0117 opened #28628 "paddle 和 CUDA 10.2 兼容问题"
请问一下 paddle 2.0 rc 是支持 cuda 10.2 的话，那 paddle 1.8 还会更新能支持 cuda 10.2 的版本吗，有的话大概是什么时候呢？
还有就是 paddle 2.0 的稳定版大概什么时候出呀～

[2020-11-15 06:46] pangyoki commented on #28628
目前 paddle 1.8 还没有计划支持 cuda 10.2 ，我们会收集用户需求，后续持续跟进。请问你这边有什么需求吗？
paddle 2.0稳定版计划在12月中旬发布，到时候请关注。

[2020-11-15 09:08] wuyeyanjiuyuan opened #28630 "paddle.fluid.dygraph.BCELoss模块在AIstudio paddle2.0加载不了"
![2 0加载BCELoss](https://user-images.githubusercontent.com/57974682/99180883-2fad5180-2765-11eb-9554-6316614503de.PNG)

希望官方能把BCELoss加载到平台上

[2020-11-15 09:31] pangyoki commented on #28630
感谢反馈，试试 `from paddle.nn import BCELoss` 可以吗？

[2020-11-15 09:38] wuyeyanjiuyuan commented on #28630
### **已解决**
谢谢帮助！原来`BCELoss`模块现在是挂在`paddle.nn`目录下面
![加载bceloss成功](https://user-images.githubusercontent.com/57974682/99181404-3e960300-2769-11eb-9daf-a5abc4a2cd8f.PNG)
等官方文档修改下文字说明就好了

[2020-11-15 10:03] pangyoki commented on #28630
是的。由于您使用的是paddle 2.0版本，官方文档也请参考2.0版本的api，或者develop版本文档。
<img width="1072" alt="图片" src="https://user-images.githubusercontent.com/26408901/99181976-d6e1b700-276c-11eb-8b0c-3d1b9f95b4cd.png">

[2020-11-15 10:05] pangyoki commented on #28630
是的。
由于您使用的是paddle 2.0版本，官方文档也请参考2.0版本的相关api，例如使用develop版本查询：
<img width="1072" alt="图片" src="https://user-images.githubusercontent.com/26408901/99181993-f24cc200-276c-11eb-934b-97fc0d508b62.png">

[2020-11-15 10:18] #28474 closed, assigned to LDOUBLEV

[2020-11-15 10:18] ctkindle commented on #28474
谢谢，已经好了。

[2020-11-15 13:26] cheerser opened #28632 "2.0 中如何使用 Lod Tensor"
在文档看到，`基于 2.0 的开发任务，请使用 paddle 目录下的 API，不要再使用 paddle.fluid 目录下的 API。`请问，Lod Tensor是不是要废弃了？如果要废弃，则希望可以保留这一独特且优秀的功能。如果不废弃，则希望给出具体的一些新版API用法。

[2020-11-15 14:48] Echo0117 commented on #28628
嗯嗯我们也是希望能尽量都兼容的。
对了，问一下这里说的 GPU 运算能力是怎么评分的呀，跟下图 NVIDA 网站上给他们不同机型 GPU 的计算能力评分是一个吗
[image: image.png]
[image: image.png]

pangyoki <notifications@github.com> 于2020年11月15日周日 下午2:47写道：

[2020-11-16 00:02] lidanqing-vv commented on #28554
model is downloaded at `shanghai-6271-ip:/data/issue_28554` (for intel colleague)

[2020-11-16 00:04] lidanqing-vv commented on #28555
model and data is downloaded at `shanghai-6271-ip:/data/issue_28555`, for Intel colleague

[2020-11-16 00:06] lidanqing-vv commented on #28578
data and model is downloaded at `shanghai-6271-ip:/data/issue_28578`

[2020-11-16 00:55] luming159 opened #28634 "ERNIE模型在ai studio中重新pretrain的问题"
在百度的GPU环境中使用ERNIE模型
![image](https://user-images.githubusercontent.com/55949550/99202059-e43c8700-27e8-11eb-8daa-757aa078641f.png)

中运行pretrain的readme文件
![image](https://user-images.githubusercontent.com/55949550/99202070-edc5ef00-27e8-11eb-9272-bf91d3468784.png)

出现很多bug
首先是第一个制作预训练数据，需要的是paddlepaddle-gpu1.7的环境和paddle-propeller==0.3.1dev1以及paddle-ernie，说明文档中没有说明。
到运行下面开始预训练的时候需要热启的模型参数、字典、json文件也

[2020-11-16 02:01] liguoyu666 commented on #28562
感谢，的确是浏览器的问题，换成google chrome就能正常显示了

[2020-11-16 02:01] #28562 closed, assigned to nobody

[2020-11-16 02:52] raindrops2sea commented on #26174
Try to fix this in 2.0 @phlrain

[2020-11-16 02:54] pangyoki commented on #28628
图片没显示出来，麻烦重新发一下

[2020-11-16 02:57] Echo0117 commented on #28628
这样可以看到吗，放到附件里了

pangyoki <notifications@github.com> 于2020年11月16日周一 上午10:54写道：

[2020-11-16 03:05] pangyoki commented on #28628
还是没看到，你试试复制图片后直接粘贴到对话框里可以吗？

[2020-11-16 03:11] pangyoki commented on #28632
感谢您的反馈。
Paddle 2.0是兼容性升级，`paddle.fluid`下的API仍然可以使用，只是更推荐使用`paddle`目录下的API。
`Lod Tensor`没有废弃，现在仍然可以通过`paddle.fluid.LoDTensor`使用。
目前2.0暂时还没有在paddle目录下实现`Lod Tensor`，后续会展开支持，谢谢。

[2020-11-16 03:21] liutongyang opened #28637 "模型训练至最后一个 step 时意外出错"
- 环境：
PaddlePaddle版本：paddlepaddle-gpu==1.8.2.post97
GPU：Tesla V100
Driver Version: 418.67
CUDA Version: 10.1
cuDNN version: 7.6.0
python version: 3.7.7 (GCC 7.3.0)
Linux version 3.10.0-957.12.2.el7.x86_64

- 问题描述：
模型可正常训练，正常保存 checkpoint 和 inference model，但是在最后一个 epoch 的最后一个 step 时报错。

- 具体报错信息：
sh train.sh
+ export FLAGS_eager_delete_tensor_gb=0
+ FLAGS_eager_delete_tensor_gb=0
+ export FLAGS_syn

[2020-11-16 03:28] Echo0117 commented on #28628
我直接把图片里的文字也复制过来了，您看一下～
选择CPU/GPU

   -

   如果您的计算机没有 NVIDIA® GPU，请编译CPU版的PaddlePaddle
   -

   如果您的计算机有NVIDIA® GPU，并且满足以下条件，推荐编译GPU版的PaddlePaddle
   - CUDA 工具包 9.0/10.0/10.1/10.2 配合 cuDNN v7.6.5+
      - GPU运算能力超过3.0的硬件设备

NVIDIA Data Center Products
<https://www.nvidia.com/en-us/data-center/products/>
GPUCompute Capability
NVIDIA A100 <https://www.nvidia.com/en-us/data-center/a100/> 8.0
NVIDIA T4

[2020-11-16 03:41] pangyoki commented on #28628
您这里给出的Paddle的运算能力的定义与nvidia给出的Compute Capability是一致的。

[2020-11-16 03:42] pangyoki commented on #28628
您这里给出的Paddle提示中GPU运算能力的定义与nvidia给出的Compute Capability是一致的。

[2020-11-16 03:48] Echo0117 commented on #28628
嗯嗯好的，那就是 nvidia GeForce 系列的个人显卡也是可以支持 paddle 的哈

pangyoki <notifications@github.com> 于2020年11月16日周一 上午11:42写道：

[2020-11-16 04:20] pangyoki commented on #28628
嗯嗯是的

[2020-11-16 06:49] lyn1225 opened #28650 "PaddleSeg提供的分割模型准确率问题"
根据官方提供的PaddleSeg代码，使用PSPNet在Cityscapes数据集上进行训练（只使用train），预训练模型是官方提供的resnet101_v2_pspnet。因为是在ai studio上进行训练，受限于GPU显存大小，batch_size只能设置为4，normalization为bn，
最终在val数据集上的mlou只能达到70.66。原始论文中的pspnet模型在cityscapes test数据集上的mlou是78.4，那么pspnet模型在val 数据集上的mlou应该要大于这个数字。虽然我的batch_size是4，与论文中设置的16有一定差距，同时PaddleSeg代码中也没有提供Auxiliary Loss的实现方式，但是我想这两个因素所能影响的mlou差距应该不会达到7点几这么大吧？或者说是因为预训练模型的限制才导致较低的mlou？希望有关大佬给予解答。

[2020-11-16 07:03] Fitz-Fitz opened #28651 "nano上进行部署调用GPU报错"
- 版本、环境信息：
    1）PaddlePaddle版本：paddleinference编译好的paddlepaddle-gpu-0.0.0
    2）硬件版本：jetson nano
    3）系统环境：jetpack4.3 python3.6.9 cuda 10.0 cudnn7.6

在nano上跑自己模型的时候使用GPU报错如下：

W1115 15:58:03.358932 9830 device_context.cc:265] Please NOTE: device: 0, CUDA Capability: 53, Driver API Version: 10.0, Runtime API Version: 10.0
W1115 15:58:03.604619 9830 device_context.cc:273] device: 0, cuDNN Version:

[2020-11-16 07:12] Meiyim commented on #28634
nrank问题见这个issue. https://github.com/PaddlePaddle/ERNIE/issues/477
因为paddle更新太快，这个pretrain脚本只在paddle 1.7上完成过测试。后续这个repo会更新到paddle2.0

[2020-11-16 08:05] cryoco commented on #28651
您好，我们之前应该修复过类似您这种报错的问题，见[PR#25689](https://github.com/PaddlePaddle/Paddle/pull/25689)，麻烦确认下您使用的版本是否在这个修改之后哈，也可以直接下载最新的[jetson预测库](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_inference_deployment/inference/build_and_install_lib_cn.html#id1)看下是否还有该问题。

[2020-11-16 08:28] wuyefeilin commented on #28650
bs减少到4导致miou减少是正常的。你可以尝试减小学习率，让后增加训练轮数，这样miou应该会涨一些。

如果有更多的疑问可以到https://github.com/PaddlePaddle/PaddleSeg进行提问

[2020-11-16 08:36] vslyu commented on #28624
麻烦能再提供更为详细的上下文信息吗？～paddle主框架里面并没有你图片中get_eval_loader的接口，这个函数是你这边自己封装的吗～

[2020-11-16 08:39] vslyu commented on #28625
感谢您反馈的拼写错误，我们还在后续改进～

[2020-11-16 08:41] vslyu commented on #28625
建议您也可以自行修改并且Pull Request至paddle的develop分支中，我们欢迎您这样的忠实用户为paddle贡献力量

[2020-11-16 08:45] LielinJiang commented on #28620
感谢您的建议。这方面我们评估一下

[2020-11-16 08:53] LielinJiang commented on #28625
感谢您的建议，我们马上修复一下

[2020-11-16 08:55] LielinJiang commented on #28623
这个image folder是返回图片格式的数据，如果您需要神经网络的数据，可以手动添加需要的transform。

[2020-11-16 08:56] LielinJiang commented on #28624
感谢您的反馈，我们优化一下提示信息。

[2020-11-16 08:59] zhwesky2010 commented on #28613
@dongyangli-del 您好，麻烦检查一下python安装是否正确。如果python安装正确的话，可能是系统缺少某个dll，尝试安装https://www.microsoft.com/en-us/download/details.aspx?id=48145 试试

[2020-11-16 09:00] 123malin commented on #28617
train函数将save_persistables()需要用到的参数返回，然后在main函数中调用save接口呢？

[2020-11-16 09:40] tianshuo78520a commented on #28618
请问你是使用cpu还是gpu版本报的错？
你的cuda环境是9.2 安装cuda10使用上会报错

[2020-11-16 09:41] tianshuo78520a commented on #28618
echo $LD_LIBRARY_PATH 看下你的libcublas.so 文件是否在这个环境变量中

[2020-11-16 09:59] #28630 closed, assigned to nobody

[2020-11-16 12:16] wanghuancoder commented on #28637
您好。1.8.2版本中出现过几次相同反馈。都与dataloader没有reset有关。
您可以从这个角度检查一下代码。或者使用iterable = True的方式。

[2020-11-16 12:35] #28637 closed, assigned to wanghuancoder

[2020-11-16 13:08] vslyu opened #28661 "安装2.0rc版本paddlepaddle速度过慢"
按照官网安装说明文档https://www.paddlepaddle.org.cn/install/quick/zh/2.0rc-linux-pip，
安装指令：
```python -m pip install paddlepaddle-gpu==2.0.0rc0.post101 -f https://paddlepaddle.org.cn/whl/stable.html```
下载速度超级慢，希望优化下缓存节点
![image](https://user-images.githubusercontent.com/12137504/99256116-dc63fd80-284f-11eb-98c4-90b0ae97527d.png)

[2020-11-16 13:09] shuangyichen opened #28662 "LNK2019:无法解析的外部符号 “public：void__cdecl paddle::ZeroCopyTensor::Reshape(...”"
   1）CommitID：a44085bed80d72296118f3e97516bef340baf3aa
    2）CPU：i5-6300U
    3）GPU：无
    4）系统环境：win10

-预测信息
    1）C++预测：GIT COMMIT ID: a44085bed80d72296118f3e97516bef340baf3aa
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: OFF

    2）CMake包含路径的完整命令 下载的安装包，没有编译
    3）API信息（如调用请提供）
    4）预测库来源：官网下载
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

[code]

报错：main.obj:-1: error: LNK2019: 无法解析

[2020-11-16 13:24] H-Chen110 commented on #28428
经本人在其他框架上的测试，发现也无法识别cuda信息，所以可以确定是电脑安装cuda等出现的问题。
谢谢各位开发小哥哥的耐心解答！！

[2020-11-16 13:32] cheerser commented on #28632
很期待后续！paddle加油

[2020-11-16 13:38] pangyoki commented on #28632
谢谢支持~

[2020-11-16 13:55] xazeng opened #28664 "unique_op.cu(181): error : identifier "range" is undefined"
vs2015 编译推测库，出现错误如下：

1>  F:\Project\Paddle\build\paddle\fluid\operators>"C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin\nvcc.exe" -gencode=arch=compute_30,code=\"sm_30,compute_30\" -gencode=arch=compute_35,code=\"sm_35,compute_35\" -gencode=arch=compute_50,code=\"sm_50,compute_50\" -gencode=arch=compute_52,code=\"sm_52,compute_52\" -gencode=arch=compute_60,code=\"sm_60,compute_60\"

[2020-11-16 16:07] smartmark-pro commented on #28493
@lfchener  我遇到了类似的报错, 我是用来调用bertservice的, 使用的命令是
[code]
环境信息

- paddlehub 1.8.3
- paddlepaddle-gpu       2.0.0rc0.post101

如果当前无法使用, 切换低于2.0版本的paddlepaddle-gpu就行了么

[2020-11-16 17:05] smartmark-pro commented on #28493
换低版本没什么问题, 不考虑该问题了

[2020-11-17 02:02] wanghuancoder commented on #28661
@vslyu 感谢您的建议！我们将尽快排查相关业务，进行优化~

[2020-11-17 02:02] #28661 closed, assigned to wanghuancoder

[2020-11-17 02:52] jiweibo commented on #28664
请尝试切换到tag 2.0rc之后编译，我看了下现在的代码里没有Unique_op.cu文件

[2020-11-17 02:55] jiweibo commented on #28662
linux下要加上-lpaddle_fluid -L./paddle_inference_install_dir/paddle/lib 这两个才可以正确引用，windows上应该一致，显示加上libpaddle_fluid.dll试一下？

[2020-11-17 03:26] Heuchler7 opened #28668 "paddle Inference 使用时报错"
使用aistudio的高级版环境进行预测，预测中使用gpu进行计算，之前使用load_inference_model 配合exe.run进行预测完全没有问题，结果准确。为优化预测速度改为paddle inference进行预测时出错， paddle inference 使用代码如下：
use_cuda = 1
#-------------------------------------------------------------
place = fluid.CUDAPlace(0) if use_cuda else fluid.CPUPlace()
exe = fluid.Executor(place)

def create_predictor(path):
    config = AnalysisConfig(path)
    config.switch_use_feed_fe

[2020-11-17 03:58] geekhch opened #28669 "如何自定义动态图权重参数？"
   1）PaddlePaddle版本：2.0rc

例如我定义了一个Linear层，希望使用自己的numpy矩阵初始化Linear中的weight参数，应该如何操作呢？

[2020-11-17 04:35] skywalk163 opened #28670 "飞桨2.0 文档里动转静例程执行问题"
飞桨2.0 文档：教程，里面的动态图转静态图，基本用法里面的：基于源代码转写的ProgramTranslator 部分：

https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/guides/04_dygraph_to_static/basic_usage_cn.html#programtranslator

程序例子是：

        import paddle

        @paddle.jit.to_static
        def func(input_var)
            # if判断与输入input_var的shape有关
            if input_var.shape[0] > 1:
                out = paddle.cast(input_var

[2020-11-17 04:59] jiweibo commented on #28668
请问下预测库的版本和训练的版本一致吗？

[2020-11-17 05:03] Heuchler7 commented on #28668
我们没有特意安装inference库，选择的训练版本是1.7.2，以为二者是捆绑安装的

[2020-11-17 05:05] jiweibo commented on #28668
感觉应该是版本问题，新版本应该修复了。一个临时的解决办法，能否把unsqueeze的axis从负数调为正数，这样应该能规避这个问题吧，可以试一下。

[2020-11-17 05:07] Heuchler7 commented on #28668
x = layers.unsqueeze(x, axes=2)这一句里报错
我们现在报错的地方给的是正数的axis,如果是版本问题我们可以手动安装相对应1.7.2paddle合适的Inference版本么？

[2020-11-17 05:07] tz28 opened #28671 "建议paddle onehot增加稀疏能力"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：

- 建议描述：背景：目前有很多场景采用onehot离散特征+LR模型的模式。之所以采用onehot肯定线上考虑没法embedding。而目

[2020-11-17 05:08] Heuchler7 commented on #28668
不对，我们好像应用环境只能用跟1.7.2paddle一起装上去的Inference版本，在这种情况下有办法解决这个问题吗？

[2020-11-17 05:38] xazeng commented on #28664
@jiweibo 从 release/2.0rc 切到  tag2.0rc 后，还是有 unique_op.cu 这个文件
![image](https://user-images.githubusercontent.com/3202516/99350794-285b8480-28da-11eb-91b8-2c66f41e0820.png)

[2020-11-17 05:39] jiweibo commented on #28668
https://github.com/PaddlePaddle/Paddle/blob/v1.7.2/paddle/fluid/operators/unsqueeze_op.cc#L89

看样子是这里挂了，看样子，输入x的shape是一维的，这是不是不符合预期啊

[2020-11-17 05:50] Heuchler7 commented on #28668
嗯嗯，谢谢您，我先仔细看下，这里在预测时预期进去unsqueeze的是一个shape为（1，文本长度）的tensor, 想升维成（1，文本长度，1）

[2020-11-17 06:03] Heuchler7 commented on #28668
刚才仔细研读了下这个算子的cc代码还有我们自己的模型，这里输入应该是符合预期的。主要很奇怪的是之前使用load_inference_model做预测是没有问题的， 照理来说调用的应该都是这个算子，为什么现在在Inference内就跑不了了呢？

[2020-11-17 06:06] jiweibo commented on #28668
设置环境变量，export GLOG_v=4，能够打印每一层的输出shape，方便调试

[2020-11-17 06:15] Heuchler7 commented on #28668
好的，Thanks♪(･ω･)ﾉ，我去输出看看

[2020-11-17 06:17] wk-mike opened #28673 "飞桨2.0rc高级API在使用model.fit的时候，准确率acc显示不正确"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0rc
    2）CPU：i5 6600k
    3）GPU：GTX 1660 super    CUDA10.2
    4）系统环境：windows10, ubuntu18.04

- 训练信息
    1）单机
    2）显存  6G

- 复现信息：

[code]

输出
[code]

- 问题描述： 在使用resnet18训练cifar10分类的过程中，发现fit过程中，输出的acc一直是10%左右（不正常），在最后验证的时候，acc显示67% （正常）。出问题的原因在于batch_size, 当batch_size不等于1的时候 ，acc显示不正常； 当batch_size=1的时候，acc现在正常。

通过上面的代码可以复现问题，已经有同学也发现了这个问题。

[2020-11-17 06:28] Heuchler7 commented on #28668
I1117 14:18:13.536463  1717 naive_executor.cc:105] ---  skip [feed], feed -> K1
I1117 14:18:13.536470  1717 naive_executor.cc:105] ---  skip [feed], feed -> T1
I1117 14:18:13.537283  1717 naive_executor.cc:105] ---  skip [my_po1.tmp_2], fetch -> fetch
I1117 14:18:13.537302  1717 naive_executor.cc:105] ---  skip [my_po2.tmp_2], fetch -> fetch
I1117 14:18:13.537308  1717 scope.cc:169] Create variabl

[2020-11-17 06:32] Joejiong commented on #28673
你好正在查看

[2020-11-17 06:32] geekhch commented on #28669
已解决，使用linear.weight.set_value(custom_weight)接口。这是Variable下面的api。
这个Variable封装不太合理啊，代码根本索引不到这个接口，害得找了好久。

[2020-11-17 06:33] #28669 closed, assigned to nobody

[2020-11-17 06:33] Joejiong commented on #28671
你好已经反馈

[2020-11-17 06:33] Joejiong commented on #28670
你好，马上反馈，谢谢

[2020-11-17 06:42] Joejiong commented on #28670
麻烦 @zhhsplendid 帮忙看下

[2020-11-17 06:55] habout632 opened #28675 "AMD Instinct™ MI100支持"
AMD Instinct MI100显卡目前已经支持了框架Tensorflow, Pytorch
https://www.amd.com/en/products/server-accelerators/instinct-mi100

Paddle是不是也可以支持一下

[2020-11-17 07:09] jiweibo commented on #28668
我理解和这个ON_INFER option应该是没关系的。

预测过程中比较奇怪的地方是，根据你的描述，x的shape是[1, 文本长度]，这样的话 cur_output_size 应该是2的，但是报错显示是1，怀疑是上一层的结果出现了错误。

[2020-11-17 07:11] zhhsplendid commented on #28670
嗨，谢谢反馈文档问题，我们马上查看和修改一下。但是你给的例子怎么说没有正常执行呢？

in_np = np.array([-2]).astype('int') 时，输出 Tensor 值为 -4
in_np = np.array([2]).astype('int') 时，输出 Tensor 值为 4

两个例子里都是shape[0] > 1不成立，走了else底下的
out = paddle.cast(input_var, "int64")
out = paddle.add(out, out)

何来“显然判断语句没有正常运行” ？

[2020-11-17 07:17] Heuchler7 commented on #28668
这边在创建config时设置config.switch_use_feed_fetch_ops(False)用于显式地在模型运行的时候删去feed和fetchops, 后面运行时也是采用的predictor.zero_copy_run(), 之后进网后第一步运算就是这里的unsqueeze了，前面照这么说是没有上一层的。

[2020-11-17 07:24] jiweibo commented on #28668
input_tensor.reshape(data[i].shape)

data[i].shape 的维度匹配吗？

[2020-11-17 07:32] Heuchler7 commented on #28668
找到了，是输入时维度忘了维护，data[i]自动给我们的网络输入降了维，现在终于不报这个错误了。谢谢您！新的问题我们先找找基本问题看看是不是类似这种小问题

[2020-11-17 08:23] wk-mike commented on #28673
问题解决了，需要在 paddle\metric\metrics.py 文件夹中 233行的compute 中间加上两句话

加在246行之后，247行之前
label = paddle.to_tensor(label)
label = paddle.reshape(label, [-1, 1])

假设batch_size=32, pred的维度是 [32,1] 可是 label的 维度是[32], 这样corret的维度的[32,32] 明显有问题。 因此需要把label的维度改成[32,1] 就可以解决问题了

[2020-11-17 08:27] wk-mike commented on #28673
@Joejiong 问题已经解决了，希望尽快修复这个bug。

问题解决了，需要在 paddle\metric\metrics.py 文件夹中 233行的compute 中间加上两句话

加在246行之后，247行之前
label = paddle.to_tensor(label)
label = paddle.reshape(label, [-1, 1])

假设batch_size=32, pred的维度是 [32,1] 可是 label的 维度是[32], 这样corret的维度的[32,32] 明显有问题。 因此需要把label的维度改成[32,1] 就可以解决问题了

[2020-11-17 08:31] phlrain commented on #26174
Get it.

[2020-11-17 08:34] phlrain commented on #26174
OK... working on it.

[2020-11-17 08:35] Joejiong commented on #28673
好的

[2020-11-17 08:37] LielinJiang commented on #28673
感谢反馈，已经由这个pr解决 #28535

[2020-11-17 08:44] shuangyichen commented on #28662
`INCLUDEPATH += C:/Users/ThinkPad/Downloads/fluid_inference_install_dir_1/fluid_inference_install_dir/paddle/include
LIBS +=$$quote(-LC:/Users/ThinkPad/Downloads/fluid_inference_install_dir_1/fluid_inference_install_dir/paddle/lib/libpaddle_fluid.lib)
INCLUDEPATH += C:/Users/ThinkPad/Downloads/fluid_inference_install_dir_1/fluid_inference_install_dir/paddle/lib/paddle_fluid.dll`

加了 仍然报同样的错 我下下来的包

[2020-11-17 09:17] skywalk163 commented on #28670
谢谢，看错了，看成了取input_var[0]的值了，原来是取shape值的[0] ,我说不应该ProgramTranslator 对判断语句出问题哈。

非常感谢。

[2020-11-17 09:17] #28670 closed, assigned to zhhsplendid

[2020-11-17 09:42] Joejiong commented on #28675
好的，谢谢意见

[2020-11-17 10:53] liuxi1007 opened #28685 "【黄埔学院】自定义loss函数，训练网络权值不更新"
## 自定义loss函数，训练网络权值不更新
## 版本、环境信息：
   1）PaddlePaddle版本：2.0-rc
   2）GPU：1080 ti, cuda10.0
   3）系统环境：python3.6,ubuntu 18.04
## 训练信息
   1）单机，单卡
## 问题描述
按照使用教程自定义loss的形式定义了新的loss函数，计算出tensor形式的loss值。训练模型时发现模型参数不更新，loss基本保持不变。推测可能是自定义loss的反向传播出错。请问如何解决参数不更新的问题？

[2020-11-17 11:29] Joejiong commented on #28685
你好，谢谢，你的issue。
可以贴一下具体的代码，我们复现一下问题

[2020-11-17 12:07] liuxi1007 commented on #28685
**三元组损失函数**

[code]

[2020-11-17 12:14] Joejiong commented on #28685
你好，具体aistudio的教程链接可提供一下吗谢谢

[2020-11-17 12:17] Joejiong commented on #28685
你通过哪里看出来，权重不跟新，麻烦把相关代码也发一下，我复现一下

[2020-11-17 12:30] liuxi1007 commented on #28685
**code**

[code]

[2020-11-17 12:42] Joejiong commented on #28685
@liuxi1007 然后你那几句code可以证明没有更新呢

[2020-11-17 12:44] chenxiaozeng commented on #28385
您好，dataloader返回的数据类型不是dict，目前可以通过这种方式获取sentence：for batch_id, (sent, label) in enumerate(train_loader()):

[2020-11-17 12:45] liuxi1007 commented on #28685
我把loss值都打印出来了，trainloss从训练开始到结束都没什么变化。
![image](https://user-images.githubusercontent.com/48047686/99392112-27484880-2916-11eb-9985-2ffd7a1955df.png)

[2020-11-17 13:09] Joejiong commented on #28685
你可以使用python打印，你的lossclass，看每次调用的时候有没有变化

[2020-11-17 13:24] Fitz-Fitz commented on #28651
好的感谢您
顺便请问咱们paddle有提供编译好的修复后版本的whl包不

[2020-11-17 13:35] cryoco commented on #28651
目前还没有，我们计划在下一个版本（2.0-rc1）开始发布jetson上的预测whl包，大概在12月中旬哈

[2020-11-17 15:51] Fitz-Fitz commented on #28651
好嘞，感谢您

[2020-11-17 15:51] #28651 closed, assigned to wanghuancoder

[2020-11-18 02:00] #28632 closed, assigned to nobody

[2020-11-18 02:52] LYUYork commented on #22740
我也遇到这个问题，lz解决了吗

[2020-11-18 05:05] jzhang533 commented on #28685
大概看了一下代码，问题出在这里：
[code]
这里把paddle tensor转成了numpy，然后又转成了paddle tensor
这会导致跳出了动态图的创建。

[2020-11-18 06:48] #28673 closed, assigned to nobody

[2020-11-18 08:08] wojtuss commented on #28578
@juncaipeng
The issue is caused by the faulty `fc_lstm_fuse_pass` (some input and output variables are not set properly in the fuse). The pass is executed during transformation of the quant model into int8 model (during saving the int8 model), and is not executed during inference of the fp32, quant or int8 model - that is why the problem occurs only during int8 inference. It is not related to the

[2020-11-18 08:50] Joejiong commented on #28671
好的，可以将您的建议写的详细一点，谢谢

[2020-11-18 09:04] tz28 commented on #28671
**背景描述**：因为线上原因无法使用embedding+everything的模式，只能采用简单的onehot+LR模式。但是如果一个离散特征取值个数为百万级，那么如果使用onehot将会把该特征扩展为百万维度，这个维度内存上是吃不消的。
**建议：**因为onehot只有一个位置为1，其他都0，也就是说是非常稀疏的。这部分是可以优化的节省存储空间。像我厂之前的BML和pulsar等机器学习框架均是支持onehot稀疏的。也就是无论你特征取值个数多少，bml和pulsar上使用onehot完全不会出现像paddle那样的内存爆炸。

[2020-11-18 09:17] Joejiong commented on #28671
ok, 收到反馈，已经加入任务池

[2020-11-18 09:28] lelelelelez commented on #28471
测试

[2020-11-18 09:30] dingjiaweiww commented on #28471
test

[2020-11-18 09:42] dingjiaweiww commented on #28471
testtest

[2020-11-18 10:05] Ryan906k9 opened #28718 "LSTM 报错"
paddle 2.0rc，使用 LSTM 报错

EnforceNotMet:
----------------------
Error Message Summary:
----------------------
InvalidArgumentError: Tensor holds the wrong type, it holds float, but desires to be double.
  [Hint: Expected valid == true, but received valid:0 != true:1.] (at /paddle/paddle/fluid/framework/tensor_impl.h:33)
  [operator < matmul_v2 > error]

[2020-11-18 10:10] dingjiaweiww commented on #28471
test10086

[2020-11-18 10:10] starsblinking opened #28719 "auc函数需要改善"
真实业务场景中，能用的到的功能更多的是在多机训练完一段时间的情况下，用户自己把各台机器的stat_pos和stat_neg都gather到一台机器上算个auc就完事了。事实上，用户很多时候需要的，仅此而已。而目前的 fluid.layers.auc 做了多余的消耗计算量的无用功。希望paddle同学能新增一个auc函数(或者你们给旧函数增加新参数来控制也行)，其与fluid.layers.auc的区别如下：
1. 不需要计算batch的状态数据，所以可以去掉一个batch的append_op(auc)，留下另一个
2. 在auc_op.h里面去掉auc值相关的计算(比如calcAuc函数)

尤其是上述第二点，在某些情况下，用户需要设一个很大的num_thresholds（比如10w），而每训练一个batch都需要强制遍历一个这么长的数组来算auc（我不算了还不行么>.<)，这是很恐怖的。

[2020-11-18 10:46] #15791 closed, assigned to nobody

[2020-11-18 10:46] #20943 closed, assigned to fuyinno4

[2020-11-18 10:46] #21101 closed, assigned to hutuxian

[2020-11-18 10:46] #21104 closed, assigned to nobody

[2020-11-18 10:46] #21110 closed, assigned to nobody

[2020-11-18 10:46] #21113 closed, assigned to slf12

[2020-11-18 10:46] #21115 closed, assigned to sandyhouse

[2020-11-18 10:46] #21124 closed, assigned to phlrain

[2020-11-18 10:46] #21133 closed, assigned to zhhsplendid

[2020-11-18 10:46] #21154 closed, assigned to nobody

[2020-11-18 10:46] #21156 closed, assigned to nobody

[2020-11-18 10:46] #21175 closed, assigned to nobody

[2020-11-18 10:46] #21177 closed, assigned to sneaxiy

[2020-11-18 11:38] TeslaZhao commented on #28719
您好，感谢您的建议，已转交给内部相关同学

[2020-11-18 12:04] dingjiaweiww commented on #28471
TEST

[2020-11-18 12:13] dingjiaweiww commented on #28719
Just test comment, please ignore ~

[2020-11-18 12:15] jiweibo commented on #28664
获取最新看到了这个op，windows ci测试都正常，看了下unique_op中报错的地方，没发现奇怪的地方。怀疑是环境的问题，要不先试下1.8.5tag能否编过？

[2020-11-18 12:33] TeslaZhao commented on #28718
你好，能发一下您的code吗？确认下输入的数据类型和lstm的Parameter的类型是否一致？

[2020-11-18 12:36] liuxi1007 commented on #28685
谢谢。

[2020-11-18 12:36] #28685 closed, assigned to Joejiong

[2020-11-18 12:39] balckman-1996 opened #28725 "动态图中对数据进行修改，运行时会报错'paddle.fluid.core_avx.VarBase' object does not support item assignment"
动态图中对数据进行修改,生成的数据填补入im_fake[:,64:192,64:192,:]中，运行时会报错'paddle.fluid.core_avx.VarBase' object does not support item assignment
im_fake_2_real_local = generator(im_fake)
im_fake[:,64:192,64:192,:]=im_fake_2_real_local

[2020-11-18 13:12] TeslaZhao commented on #28725
转换成numpy格式，在赋值试试一下

[2020-11-18 17:06] arogowie-intel commented on #28555
I've tried to reproduce this issue and don't see that big difference on provided mobilenetv2 model:

Machine: Intel(R) Xeon(R) Gold 6152 CPU @ 2.10GHz,  I used Paddle build from sources as well as installed from PyPI (different versions):
* commit: b6f86b849138d56a2e170a619979e81420bdea19
* cmake args:
[code]
I've exported following variables before execution of the scripts:
[code]

Moreover I've

[2020-11-19 01:24] Ryan906k9 commented on #28718
[code]

报错信息：

[code]

[2020-11-19 01:38] balckman-1996 commented on #28725
变量可以转换成numpy格式么
传入的数据是 im_fake = fluid.dygraph.to_variable(im_fake)变量格式的

[2020-11-19 02:02] Ryan906k9 commented on #28718
搞定了，是label的类型需要设置为 int

[2020-11-19 02:02] #28718 closed, assigned to TeslaZhao

[2020-11-19 02:04] xn1997 opened #28733 "能不能单GPU并行推理多个模型"
请问能不能做到单GPU并行推理多个模型
目前在单个GPU上运行多个推理模型的速度很慢，尤其是原本比较快的模型会变得和慢模型一样慢，我是希望他们同时运行的速度和单独各自运行的速度差不多，互相速度不受影响。显存是够用的
不知道飞桨有没有这方面的解决方法
GPU并行这块不是很了解，所以不知道能不能实现，怎么实现:(

[2020-11-19 02:05] xazeng commented on #28664
谢谢
1.8.5tag 编过也没有意义。
两台机器，都是 cuda10.1，一台gtx1050ti，一台 gtx2060s，驱动都更新了，cudnn_version=7650，python3.8，vs2015
编译都提示这个错误

[2020-11-19 04:01] liuxi1007 opened #28740 "Paddleslim的使用【黄埔学院】"
您好，请问有适用于paddle 2.0-rc版本程序的paddleslim包吗？

[2020-11-19 04:37] jiweibo commented on #28733
这种场景都会变慢的。 可以尝试下nvidia的mps，可能会有一点收益

[2020-11-19 05:51] Echo0117 commented on #28628
嗨，我想再请问一下 paddlehub 里的 bert 模型能支持 TensorRT 6 的预测吗～
官网上好像没有教程，网上找到的也都是 C++ 写的

pangyoki <notifications@github.com> 于2020年11月16日周一 下午12:20写道：

[2020-11-19 07:14] lizhaohu opened #28743 "使用深度可分离网络反而变慢了"
我将网络的7层cnn换成了mobilenetv1中的7层 depthwiseseoarable网络，网络耗时仅仅从120ms降到80ms，速度提高怎么这么少？和论文中不一致呢

[2020-11-19 07:34] YeFeiyangx opened #28744 "how to deepcopy GRUCell?"
File "/home/aistudio/per_double_alg.py", line 21, in __init__
    self.target_model = copy.deepcopy(model)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/copy.py", line 180, in deepcopy
    y = _reconstruct(x, memo, *rv)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/copy.py", line 280, in _reconstruct
    state = deepcopy(state, memo)
  File "/opt/conda/envs/python35-p

[2020-11-19 07:36] #28668 closed, assigned to nobody

[2020-11-19 07:42] merlinarer opened #28746 "Cublas error, CUBLAS_STATUS_NOT_INITIALIZED"
标题：Ubuntu16下运行paddle报错：Cublas error, CUBLAS_STATUS_NOT_INITIALIZED
工程在实验室服务器上是正常运行的，但是搬运到云端服务器就报错了
报错详细如下：

`
W1119 15:24:59.834878 31914 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.1, Runtime API Version: 10.0
W1119 15:24:59.838302 31914 device_context.cc:260] device: 0, cuDNN Version: 7.6.
/root/anaconda3/lib/python3.8/site-packages/paddle/fluid/exe

[2020-11-19 08:25] skywalk163 commented on #28543
建议用比较完整的代码来试试，我这边用你的代码也是cpu能运行，gpu直接就卡住（一直运行状态）
完整代码就是用类定义一个模型，至少下面的代码是能用的：
        import paddle
        vocab_size =100
        emb_size = 256
        seq_len = 200
        batch_size = 128
        epochs = 3

        input_size =emb_size
        hidden_size  = emb_size
        num_layers=3

        class MyNet(paddle.nn.Layer):
            def __init__(self):
                super(MyNet, self).

[2020-11-19 08:29] merlinarer commented on #28746
按照这个[博客](https://blog.csdn.net/qq451882471/article/details/106967942)给的方法，前面那个错误没有了，但是出现了另一个问题：

`
W1119 16:15:50.915439  4527 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.1, Runtime API Version: 10.0
W1119 16:15:50.918889  4527 device_context.cc:260] device: 0, cuDNN Version: 7.6.
W1119 16:15:51.981369  4527 init.cc:226] Warning: PaddlePaddle catches

[2020-11-19 09:53] zhwesky2010 commented on #28725
@balckman-1996 最新的develop应该基本支持了。 麻烦装下 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-dev 最新的dev包试试哈

[2020-11-19 10:24] Fitz-Fitz opened #28751 "关于模型部署时数据的预处理"
请问通过paddlex训练完模型导出后，在移动端上部署，送入预测网络前图像对应的预处理要完成哪些，在哪里可以查看到这类信息？感谢

[2020-11-19 10:38] zhwesky2010 commented on #28751
@Fitz-Fitz 您好，https://paddle-lite.readthedocs.io/zh/latest/quick_start/tutorial.html 这里是Paddle移动端部署的流程，https://paddle-lite.readthedocs.io/zh/latest/index.html Paddle-Lite整体介绍

[2020-11-19 10:50] zhwesky2010 commented on #28740
您好，如果在GPU上预测，每个版本都可以，如果在CPU上预测，请选择Paddle 2.0对应的PaddleSlim 1.2.0版本：
pip install paddleslim==1.2.0 -i https://pypi.tuna.tsinghua.edu.cn/simple

[2020-11-19 11:18] baiwan9kiwi opened #28753 "运行mask rcnn出错，其他的都可以，在ai studio上运行的"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2020-11-19 11:26] zhwesky2010 commented on #28744
@YeFeiyangx 您好，模型的deepcopy功能目前还不支持，我们会在2.0正式版支持该功能。 您copy了target_model之后，是用两份数据同时训练原来model的参数吗

[2020-11-19 11:34] zhwesky2010 commented on #28733
@xn1997 您好，即使显存够用，框架的CPU调度、CPU与GPU间的数据拷贝开销都是很大的，多个任务同时执行肯定要慢一些。

[2020-11-19 11:49] Meiyim opened #28754 "paddle2.0 develop版本动转静时若干bad case"
测试paddle版本: 2020.11.19 dev版本wheel包： https://paddle-wheel.bj.bcebos.com/0.0.0-gpu-cuda10-cudnn7-mkl/paddlepaddle_gpu-0.0.0-cp36-cp36m-linux_x86_64.whl

当被jit编译的forward函数用kwargs.pop方式处理入参时，没有考虑到pop的缺省参数。

测试代码:
[code]

报错信息:
[code]

[2020-11-19 12:35] hyperji commented on #26391
遇到了同样的问题， paddle版本 1.8.5
Python 3.7.6 (default, Jan  8 2020, 19:59:22)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

/root/anaconda3/lib/python3.7/site-packages/paddle/fluid/core.py:194: UserWarning: Load /usr/lib64/libgomp.so.1 failed
  warnings.warn("Load {} failed".format(dso_absolute_path))
Traceback (most recent call last):
  Fi

[2020-11-19 12:38] hyperji commented on #26391
会，我遇到了

[2020-11-19 12:41] xn1997 commented on #28733
谢谢，快的网络30FPS，慢的5FPS。同时运行前者6FPS，后者4.5FPS
我试着开启了MPS，发现慢的5FPS，快的网络直接不跑了一样变成0.1FPS，貌似GPU都被慢网络占用了一样
请问是我设置错了吗，我仅仅用nvidia-cuda-mps-control指令开启了MPS

[2020-11-19 12:47] xn1997 commented on #28733
我其实只是想他们别慢太多，至少快网络不要慢太多，但现在是30FPS的网络被同步成了6FPS，两个网络运行速度一样了。

[2020-11-19 12:50] zhwesky2010 commented on #28743
@lizhaohu 您好，请问是复现的哪篇论文呢

[2020-11-19 13:04] xn1997 commented on #28733
这两个网络是在一个程序的不同线程里执行的😭️

[2020-11-19 13:18] zhwesky2010 commented on #28754
@liym27 麻烦看看动转静这个问题

[2020-11-19 13:26] zhwesky2010 commented on #28746
@merlinarer 您好，你本机环境是CUDA10.1，Paddle装的是CUDA10.0的，能否把云端服务器上的10.1换成10.0。或者可以试试2.0的新发布的10.1的Paddle版本，``` python -m pip install paddlepaddle-gpu==2.0.0rc0.post101 -f https://paddlepaddle.org.cn/whl/stable.html```

[2020-11-19 13:32] duaneya opened #28757 "fluid.install_check.run_check()多卡测试错误"
****************************************
Paddle version: 2.0.0-beta0
Paddle With CUDA: True

OS: debian stretch/sid
Python version: 3.5.1

CUDA version: 10.0.130
cuDNN version: 7.6.5
Nvidia driver version: 450.80.02
****************************************
- 安装方式信息：
docker镜像
hub.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7-dev
pip安装
python3 -m pip install paddlepaddle-gpu==2.0.0b0 -

[2020-11-19 13:32] duaneya commented on #28757
自己编译的nccl可以通过测试
[code]

[2020-11-19 13:33] duaneya commented on #28757
[code]

[2020-11-19 14:09] zhwesky2010 commented on #28746
@merlinarer 麻烦用nvcc --version，看下本机CUDA版本

[2020-11-19 14:25] xn1997 commented on #28733
快网络开启MPS后直接0.1FPS，貌似是因为我用了tensorrt加速，慢网络没有用tensorrt速度影响不大，开启MPS后，快网络单独运行依然是巨慢，懵了，目前的思路只能是把慢网络也用tensorrt试试了，不知道效果怎么样

[2020-11-19 15:41] Fitz-Fitz commented on #28751
感谢您提供的文档，已全部阅读，但仍存在一些疑惑，请您指教：
我的部署设备是jetson nano，部署软件环境是基于paddle编译的paddle inference。
在部署时，加载配置和进行推理间，需要数据预处理。而对于通过paddlex训练导出的模型，请问如何确定模型输入时需要的预处理操作

[2020-11-20 01:32] skywalk163 opened #28759 "关于飞桨对异步计算的支持的请教"
最近在写动手学深度学习的飞桨版本，我主要负责第八章，这章里的第二节是异步计算。
http://zh.gluon.ai/chapter_computational-performance/async-computation.html
里面有这样一段：

      MXNet中的异步计算
        广义上讲，MXNet包括用户直接用来交互的前端和系统用来执行计算的后端。例如，用户可以使用不同的前端语言编写MXNet程序，如Python、R、Scala和C++。无论使用何种前端编程语言，MXNet程序的执行主要都发生在C++实现的后端。换句话说，用户写好的前端MXNet程序会传给后端执行计算。后端有自己的线程在队列中不断收集任务并执行它们。

        MXNet通过前端线程和后端线程的交互实现异步计算。异步计算指，前端线程无须等待当前指令从后端线程返回结果就继续执行后面的指令。为

[2020-11-20 01:38] Ryan906k9 opened #28760 "使用 LSTM 遇到 CUDNN_STATUS_BAD_PARAM 报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0rc
    2）CPU：aistudio
    3）GPU：aistudio
    4）系统环境：aistudio, python 3.7
- 使用 CPU 环境的时候可以运行。但是使用 GPU 环境的时候，无论设置的是 paddle.CPUPlace() 还是 paddle.CUDAPlace() 都会报错。

[code]

[2020-11-20 01:59] Ryan906k9 opened #28761 "paddle.fluid.layers.lstm 报错"
[code]
根据文档显示：

input ( Variable ) - LSTM的输入张量，维度为 [batch_size,seq_len,input_dim] 的 3-D Tensor，其中 seq_len 为序列的长度， input_dim 为序列词嵌入的维度。数据类型为 float32 或者 float64。

init_h ( Variable ) – LSTM的初始 hidden 状态，维度为 [num_layers,batch_size,hidden_size] 的 3-D Tensor，其中 num_layers 是LSTM的总层数，hidden_size 是隐层维度。 如果is_bidirec = True， 维度应该为 [num_layers∗2,batch_size,hidden_size] 。数据类型为 float32 或者 float64。

那么 in_dim

[2020-11-20 02:42] jiangjiajun commented on #28751
PaddleX的预处理操作，都在导出的模型中的model.yml中有描述，其相应的实现可以参考PaddleX的预测代码
https://github.com/PaddlePaddle/PaddleX/tree/develop/deploy

其中Jetson上部署PaddleX训练的模型参考：https://paddlex.readthedocs.io/zh_CN/develop/deploy/nvidia-jetson.html

[2020-11-20 03:06] liuxi1007 commented on #28740
谢谢

[2020-11-20 03:06] #28740 closed, assigned to iclementine, zhwesky2010

[2020-11-20 03:10] haozech commented on #28761
hi你好，能否把使用lstm api的相关代码提供下，这样方便更快的排查问题

[2020-11-20 03:27] Ryan906k9 commented on #28761
[code]

上面 z 的 shape 为 [64, 320, 2]

[2020-11-20 03:31] TCChenlong commented on #28761
请问你的版本是2.0RC么，如果是的话，建议使用 paddle.nn.LSTM，文档可以参考 [LSTM](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/layer/rnn/LSTM_cn.html);layers.lstm 是1.8的用法，在2.0RC中不推荐使用，另外 layers.fill_constant 也可以替换成 paddle.full ~

[2020-11-20 03:31] liym27 commented on #28754
好的，问题正在排查中。将尽快给您@Meiyim 反馈及修复该bug

[2020-11-20 03:38] Ryan906k9 commented on #28761
paddle.nn.LSTM 在 GPU 下面报错，所以才想尝试下这个能不能用的。。。。。。

[2020-11-20 03:38] #28761 closed, assigned to nobody

[2020-11-20 03:42] #28526 closed, assigned to wangxicoding

[2020-11-20 04:00] TianCaibailei commented on #28552
请问是这样指定TENSORRT_ROOT=“我的TensorRT的目录”吗？

[2020-11-20 04:12] haozech commented on #28760
你好，请问能否提供下相关源代码？这样方便我们排查问题

[2020-11-20 04:26] haozech commented on #28760
这边建议先检查下cuda/cudnn版本，从报错信息来看有可能是版本过低导致的问题

[2020-11-20 05:35] merlinarer commented on #28746
cuda已经降到10.0了
`
(base) root@hwcloud:/usr/local# cat /usr/local/cuda/version.txt
CUDA Version 10.0.130
`
但是依然报错，错误是一样的

另外
`
fluid.install_check.run_check()
`
的时候会一直卡在多GPU测试阶段
![image](https://user-images.githubusercontent.com/71754029/99763118-00b42880-2b35-11eb-927d-bcfae6c4f745.png)
测试说明单GPU是OK的，但是只用单卡跑依然报错，错误一致

[2020-11-20 05:45] chenwhql commented on #28759
![image](https://user-images.githubusercontent.com/22561442/99763747-84bae000-2b36-11eb-8f02-5a765450c80b.png)
这个例子，如果是CPU计算的话，也是打印的话才会计算完吗？这个有没有试过？

[2020-11-20 05:50] chenwhql commented on #28759
链接里面8.2.1和8.2.2的行为描述，在GPU环境下，飞桨也是一样的，需要print或者.numpy拿回值才是计算完的，python语句执行完的时候结果并没有计算完，但这不是由飞桨提供的并行能力，而是GPU CUDA设备本身的异步计算特性，CUDA计算是先拉起kernel将任务给GPU执行，然后CPU会继续执行后面的工作，调用wait_to_read函数、waitall函数、asnumpy函数、asscalar函数等，会触发CUDA的sync操作，从而等待结果算完再继续后面的工作

但对于CPU来讲，是没有异步操作的，语句执行完就是计算完了

[2020-11-20 05:51] chenwhql commented on #28759
如果MXNet在CPU上也是类似的异步，那实现机制上应该是不同的

[2020-11-20 06:51] zhwesky2010 commented on #28743
@lizhaohu 您好，7层CNN换成mobilenetv1，确实会快一些，但是具体快多少我们还不确定，请问下是哪篇论文呢

[2020-11-20 06:58] Ryan906k9 commented on #28760
现在变成直接卡死了。显示在运行中，但是在 LSTM 这一层动不了，后面的print(x)一直没有执行。
[code]

[2020-11-20 07:08] haozech commented on #28760
感谢回复。这部分代码没有复现出问题，请提供下业务无关的可复现问题的代码，以及环境信息，我们复现后会尽快回复您～

[2020-11-20 07:09] Ryan906k9 opened #28768 "GRU 第二个batch后开始输出空值"
   1）PaddlePaddle版本：2.0rc
    3）GPU：aistudio
    4）系统环境：Python版本 3.7

打印出来中间的数据显示第一个 batch 输入正常，但是后面的输出都成了 nan。
我怀疑是 sequence_length 这个参数没有发挥作用的原因。因为如果我把原数据进行截断，去掉后面的空值部分，那么GRU的输出是正常的。但是由于我的数据每一条的 sequence_length 都不同，所以没法改成统一的长度。所以想要请问这个怎么处理？

第一个batch 输入：
[code]

第一个batch输出
[code]

第二个batch输入
[code]

第二个batch及之后各个的输出都变成了 nan
[code]

 网络搭建的代码如下：
[code]

[2020-11-20 07:16] littletomatodonkey commented on #28743
你好，可以单独测下1个conv和深度可分离卷积的速度哈，您说的这个速度提高的对比是在哪里看到的呢？

[2020-11-20 07:24] Ryan906k9 commented on #28760
我可以直接把 aistudio 的项目发你吗

[2020-11-20 07:26] haozech commented on #28760
尽量提供简短的代码吧，只要能复现问题就行，无关的可以不发哈。

[2020-11-20 07:33] TCChenlong opened #28770 "【Call for Evaluation】2.0 API Docs Evaluation Invitation（飞桨框架2.0 API文档评估邀请）"
### 背景介绍
PaddlePaddle 2.0RC如期而至，带来了许多新的特性与更强大而全面的API体系。API文档作为了解API最直接的方式，可以有效帮助飞桨开发者快速了解飞桨框架与飞桨框架API的使用。为了进一步提升用户使用API文档的体验，更好的使用飞桨框架，我们诚挚的邀请您参与飞桨API文档的评估，并且和我们一起共建飞桨API文档，以提升飞桨框架以及飞桨API文档的使用体验。

### API文档
目前，[飞桨框架](https://www.paddlepaddle.org.cn/) 的API文档分为 [中文文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/index_cn.html) 与 [英文文档](https://www.paddlepaddle.org.cn/documentati

[2020-11-20 07:36] Ryan906k9 commented on #28760
我怀疑是 sequence_length 这块的问题。
我的数据是：
[[1,2,3,4,nan,nan]
[1,2,3,4,5,nan]
[1,2,3,nan,nan,nan]]
这样的形式，所以我给每一条数据设置了一个对应的 sequence_length，不知道这样是否可行？

另外我的代码在 https://aistudio.baidu.com/aistudio/projectdetail/1245963

[2020-11-20 07:47] zhwesky2010 commented on #28753
@baiwan9kiwi 您好，如果只有一行代码 ``import paddle`` 是否也会报错呢，这个问题应该与mask rcnn 是没有关系的，是paddle的安装问题

[2020-11-20 07:49] rical730 opened #28774 "Paddle2.0.0-rc0的模型预测效率比Torch低很多"
环境信息
****************************************
Paddle version: 2.0.0-rc0
Paddle With CUDA: False
OS: macOs 10.15.3
Python version: 3.7.7
CUDA version: None
cuDNN version: None
Nvidia driver version: None
****************************************

Paddle test （版本2.0.0-rc0）
[code]

Torch test （版本 1.4.0）
[code]

**效果评测**：Paddle速度慢了3倍左右
Paddle2.0.0-rc0：3131.78 it/s
Torch：11345.81 it/s

建议提速，否则后面做很多算法复现都

[2020-11-20 07:54] skywalk163 commented on #28759
谢谢，我理解下，就先按照这个意思处理。

[2020-11-20 08:05] haozech commented on #28768
你好，感谢反馈。请问可复现问题的代码是这个么 https://aistudio.baidu.com/aistudio/projectdetail/1245963

[2020-11-20 08:05] TCChenlong opened #28776 "【2.0 API文档内测】Conv2D 文档问题"
### 文档问题描述：
paddle.nn.Conv2D 文档评估

#### API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：4分

#### 参数说明是否清晰
中文：3分，padding的描述太复杂了，建议写的简单一些；padding_mode 的描述也不清楚，不知道几种模式的区别；
英文：3分

#### 返回/形状说明是否清晰
中文：4分，形状描写的很清楚，但是格式有些问题；
英文：4分

#### 示例代码是否有效？
中文：2分，示例代码很简单，只给出了一种场景；
英文：2分

#### 中英文内容是否一致？
一致

#### 其他
无

#### 整体评价
3分，深度学习中最常用的卷积操作；基本能够看懂文档的内容，但是文档参数部分有些描述不清楚，如padding相关的一些内容，就不知道怎么用；然后示例的部分也没有很好的展示这部分内容；

[2020-11-20 08:09] haozech commented on #28774
你好，感谢反馈。请问测试数据是在相同环境下用cpu端测出的结果么？

[2020-11-20 08:11] rical730 commented on #28774
是的，是在同一台机器上测出的结果，CPU端，torch和paddle分别部署在两个Python环境里

[2020-11-20 08:11] Ryan906k9 commented on #28768
那个是 LSTM 的，我尝试了 GRU 和LSTM，其他结构和数据都是一样。GRU的出现空值问题， LSTM的出现卡死问题。
麻烦帮忙看下！感谢！

[2020-11-20 08:18] baiwan9kiwi commented on #28753
你好，我是在ai studio上创建项目并且运行的，我在notebook运行了 import paddle 并没有报错
![image](https://user-images.githubusercontent.com/57944244/99776556-f8b3b300-2b4b-11eb-8aba-20c577751f42.png)

[2020-11-20 08:19] haozech commented on #28774
好的，反馈已经收到。我们会尽快排期进行性能的优化，谢谢~

[2020-11-20 08:21] rical730 commented on #28774
好的，辛苦~~

[2020-11-20 08:22] haozech commented on #28768
好的，问题已经收到，我们会尽快排查问题给您答复~

[2020-11-20 08:36] skywalk163 commented on #28759
飞桨默认（GPU和CPU通信）就是异步处理的， 那我们能像MXNet例子里面那样调用wait_to_read函数、waitall函数、asnumpy函数、asscalar函数，来进行同步处理，来对比代码运行时间吗？
我看了下，飞桨源代码里好像没有把这些函数再用API表达出来，顶多在c代码里比如NCCL的时候会用到waitall等函数进行同步。

[2020-11-20 08:37] zhwesky2010 commented on #28753
@baiwan9kiwi 麻烦运行一下 ``import paddle ``  ``paddle.fluid.install_check.run_check()`` ，先确认一下Paddle能否正常跑

[2020-11-20 08:45] baiwan9kiwi commented on #28753
![image](https://user-images.githubusercontent.com/57944244/99779237-bab88e00-2b4f-11eb-8fae-9fcc2b9d639f.png)
你好，是可以运行的

[2020-11-20 08:46] Ryan906k9 commented on #28768
我尝试了把 数据中 的 nan 都替换成 0，这样 GRU 好像可以用了，但是 LSTM 依然会卡死。。。

[2020-11-20 08:47] zhwesky2010 commented on #28753
@baiwan9kiwi 看起来是PE执行时，显存访问越界的错误，而这块内存已经被释放了，因此可能是该模型触发了的框架调度中存在的一个bug。请问是模型是如何运行的，是哪个代码地址，我们测试下这个模型~

[2020-11-20 08:48] zhwesky2010 commented on #28753
@baiwan9kiwi 系统和卡数是多少呢

[2020-11-20 08:54] baiwan9kiwi commented on #28753
我的电脑就是win10的，edge登录的ai studio
环境配置：![image](https://user-images.githubusercontent.com/57944244/99779952-c8bade80-2b50-11eb-8669-e00edc1303ae.png)
模型地址：PaddleDetection-release-0.4/configs/mask_rcnn_r101_fpn_1x.yml
不单单是这个模型，mask类型的都跑不了，而YOLO和ssd系列都可以运行
数据集：是我们自己的数据集，coco格式

[2020-11-20 08:55] ylj135cool opened #28778 "编译Paddle 2.0rc的预测库失败"
   1）PaddlePaddle版本：PaddlePaddle 2.0 rc
    2）CPU：Inter(R) Xeon(R) E5-2680 v3，MKL开启
    3）GPU：CUDA 10.0 / cudnn V7.6.5
    4）系统环境：Windows 10
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 安装方式信息：
1）pip安装
2）本地编译：使用的CMake指令如下：
cmake .. -G "Visual Studio 14 2015" -A x64 -T host=x64 -DCMAKE_BUILD_TYPE=Release -DWITH_MKL=ON -DWITH_GPU=ON -DO

[2020-11-20 08:59] juncaipeng commented on #28578
@wojtuss  Thank you for solving the segmentation fault.
Compared to the origin model, the results of quantized model is wrong, so please check again.

[2020-11-20 09:00] zhwesky2010 commented on #28757
@duaneya 您好，请问安装的nccl版本是多少呢

[2020-11-20 09:00] zhwesky2010 commented on #28757
@duaneya 这个是多卡通信初始化时失败的，因此只可能和nccl关系比较大。

[2020-11-20 09:05] duaneya commented on #28757
就是github直接pull下来的发自我的iPhone------------------ 原始邮件 ------------------发件人: Zhou Wei  <notifications@github.com>发送时间: 2020年11月20日 17:00收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>抄送: duaneya <duanenyue@gmail.com>, Mention <mention@noreply.github.com>主题: 回复：[PaddlePaddle/Paddle] fluid.install_check.run_check()多卡测试错误 (#28757)
@duaneya 您好，请问安装的nccl版本是多少呢

—You are receiving this because you wer

[2020-11-20 09:11] juncaipeng commented on #28554
The OCR recognition model also has the same problem.
The demo can be downloaded from #28578 , and only consider the fp32 model.

[2020-11-20 09:21] prettyocean85 opened #28779 "Win10编译paddle develop+tensoRT6编译错误，及paddleTRT使用内存泄露"
- 版本、环境信息：
    paddle develop+cuda10+tensoRT6.0.1.5
    系统环境：Win0、Python3.7
- 安装方式信息：
本地编译：编译命令make .. -G "Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYPE=Release -DWITH_GPU=ON -DWITH_TESTING=OFF -DWITH_PYTHON=ON -DPYTHON_EXECUTABLE=D:\\pythonAPI\\Python37\\python.exe -DCUDA_ARCH_NAME=Auto -DTENSORRT_ROOT="D:\\4 Tools\\TensorRT-6.0.1.5"         
- 问题描述：2个问题
问题1.Win10编译paddle develop源码+tensoRT6编译报错

[2020-11-20 09:23] chenwhql commented on #28759
您写的是动态图模式吧

动态图这四个API目前应该只有和`asnumpy`类似的`numpy`，可以用Tensor.numpy()达到同样的效果，其他几个暂时没有

[2020-11-20 09:26] zhwesky2010 commented on #28757
@duaneya   https://docs.nvidia.com/deeplearning/sdk/nccl-install-guide/index.html 可以通过这个重新装一下nccl吗

[2020-11-20 09:31] WenmuZhou opened #28781 "对网络添加print支持"
类似torch网络的print
[code]

输出
[code]

[2020-11-20 10:30] Fitz-Fitz opened #28782 "jetson nano上编译paddle-lite出错"
jetson nano ， jetpack 4.4 编译paddle-lite，参考网址：https://paddle-lite.readthedocs.io/zh/latest/demo_guides/cuda.html

编译报错，查看cmakeerro.log文件内容如下：

Determining if the pthread_create exist failed with the following output:
Change Dir: /home/trash/Desktop/Paddle-Lite-develop/build_cuda/CMakeFiles/CMakeTmp

Run Build Command:"/usr/bin/make" "cmTC_4748a/fast"
/usr/bin/make -f CMakeFiles/cmTC_4748a.dir/build

[2020-11-20 11:07] haozech commented on #28778
感谢反馈！首先建议您使用docker，在我们准备的镜像中编译；其次请检查是否是在build目录中编译。

[2020-11-20 11:10] haozech commented on #28781
你好！请问您是希望paddle添加类似pytorch的print网络信息的功能吗

[2020-11-20 11:21] haozech commented on #28782
你好！感谢反馈，jetson设备目前不能使用paddle-lite，请使用paddle-inference预测库进行部署~

[2020-11-20 11:29] haozech commented on #28781
训练组网时通过print打印网络信息的功能目前已经在内部排期中，预计在之后的版本推出。敬请期待Paddle未来新功能的推出，谢谢~

[2020-11-20 11:43] forAlgorithm opened #28784 "【2.0 API文档内测】paddle.add 文档问题"
文档问题描述：
paddle.add 文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：4分   整体描述比较清楚；

参数说明是否清晰
中文：4分，整体描述比较清楚；
英文：4分  整体描述比较清楚；

返回/形状说明是否清晰
中文：4分，
英文：4分

示例代码是否有效？
中文：2分，示例代码很简单，只给出了一种场景；
英文：3分   比中文文档稍微丰富了下

中英文内容是否一致？
不一致

其他
无

整体评价
3分，中文文档中use_guide_broadcasting建议加上链接，还有就是中英文不是很匹配，两边的代码也不匹配

[2020-11-20 11:54] forAlgorithm opened #28786 "【2.0 API文档内测】paddle.all 文档问题"
文档问题描述：
paddle.all 文档评估

API文档描述是否清晰？
中文：3分，整体描述一般；
英文：0分   打不开

参数说明是否清晰
中文：3分，axis 的描述不清楚，语言组织有问题；
英文：0分   打不开

返回/形状说明是否清晰
中文：4分，形状描写的很清楚，但是格式有些问题；
英文：0分   打不开

示例代码是否有效？
中文：3分，
英文：0分   打不开

中英文内容是否一致？
不一致，英文文档打不开

其他
无

整体评价
3分，参数描述感觉还有有些模糊，代码的话建议不要冗余的堆叠在一起，建议附上输出对比图，或者直接做成那种网页上可运行的代码，直接点一下看答案输出，来学习不同参数的作用。英文文档打不开

[2020-11-20 11:59] forAlgorithm opened #28787 "【2.0 API文档内测】paddle.arange文档问题"
文档问题描述：
paddle.arange 文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：4分

参数说明是否清晰
中文：4分，
英文：4分

返回/形状说明是否清晰
中文：4分，
英文：4分

示例代码是否有效？
中文：4分
英文：4分

中英文内容是否一致？
一致

其他
无

整体评价
4，这个写的比较规范，输出结果也写上去了

[2020-11-20 12:03] prj-jxust opened #28788 "【2.0 API文档内测】paddle.mean文档问题"
文档问题描述：
paddle.mean 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：4分，建议实例代码旁边注释shape大小，根据shape变化这样更直观。
英文：4分

中英文内容是否一致？
一致

其他
无

整体评价
整体完善度很高，易懂

[2020-11-20 12:08] forAlgorithm opened #28789 "【2.0 API文档内测】paddle.argmax 文档问题"
文档问题描述：
paddle.argmax  文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：4分

参数说明是否清晰
中文：3分，
英文：3分

返回/形状说明是否清晰
中文：4分，
英文：4分

示例代码是否有效？
中文：4分
英文：4分

中英文内容是否一致？
一致

其他
无

整体评价
3分，参数那边，axis那边描述不清不楚的，我勉强可以通过代码反推他什么意思

[2020-11-20 12:14] cjh3020889729 opened #28790 "【2.0 API文档内测】BCELoss 文档问题"
文档问题描述：
paddle.nn.BCELoss 文档评估

1. API文档描述是否清晰？
中文：4分，整体描述清楚--特点：注解阐明了普遍使用场景有利于使用者学习使用API和分析当前API使用问题（个人建议：将标签值 label 应该是0或者1=>完善为0.0与1.0更为恰当，方便与float32/64数据类型联系起来）；
英文：5分，展示了API下的相关方法及使用，展示全面

2. 参数说明是否清晰
中文：5分，在input与label可使用数据类型的提示有利于正确使用；
英文：5分

3. 返回/形状说明是否清晰
中文：4分，形状描写的很清楚，输出形状格式略微有点差异--(N,*) 与 [1], 描述方式有点瑕疵；
英文：4分

4. 示例代码是否有效？
中文：4分，示例代码简单，使用方式阐明清晰，可扩展实际训练demo中的使用--建议以链接方式提供参考；
英文：5分，示例完整，

[2020-11-20 12:18] forAlgorithm opened #28791 "【2.0 API文档内测】paddle.clip 文档问题"
文档问题描述：
paddle.clip 文档评估

API文档描述是否清晰？
中文：5分，整体描述比较清楚；
英文：5分

参数说明是否清晰
中文：5分，
英文：5分

返回/形状说明是否清晰
中文：5分，
英文：5分

示例代码是否有效？
中文：4分，示例代码很简单，；
英文：4分

中英文内容是否一致？
一致

其他
无

整体评价
4分，那个output建议改个直观的，写成套娃没必要

[2020-11-20 12:25] Fitz-Fitz commented on #28751
感谢您的资料，已经成功在nano上编译paddlex，但是使用GPU时报错如下

----------------------
Error Message Summary:
----------------------
ExternalError:  Cuda error(48), no kernel image is available for execution on the device.
  [Advise: Please search for the error code(48) on website( https://docs.nvidia.com/cuda/archive/10.0/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038

[2020-11-20 12:27] prj-jxust opened #28793 "【2.0 API文档内测】paddle.Model文档问题"
文档问题描述：
paddle.Model 文档评估

API文档描述是否清晰？
中文：3分   由于model这个类很大，而且贯穿整个过程，中间会引用其他类函数时建议添加链接方便查看
英文：3分

参数说明是否清晰
中文：3分  prepare里面metrics没说清楚，建议添加相关写法连接；predict后三个参数不具体
英文：3分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
3分，大体写出来了，有部分参数写的太简略了，而且还没有相关参数具体写法说明

[2020-11-20 12:34] skywalk163 commented on #28759
是动态图，好的，我去试试。

[2020-11-20 12:34] cjh3020889729 opened #28794 "【2.0 API文档内测】ClipGradByValue 文档问题"
文档问题描述：
paddle.nn.ClipGradByValue 文档评估

1. API文档描述是否清晰？
中文：4分，整体描述较为清楚
中文文档链接问题：
	文档中的“输入的 Tensor 不是从该类里传入， 而是默认选择优化器中输入的所有参数的梯度。如果某个参数 ParamAttr 中的 need_clip 值被设置为 False ，则该参数的梯度不会被裁剪。该类需要在初始化 optimizer 时进行设置后才能生效，可参看 optimizer 文档(例如： SGD )。”所在位置存在链接不正确：
	【ClipGradByValue文档中的SGD参考文档链接并未定位到SGD展示文档--未展示SGD的相关描述】

英文：4分

2. 参数说明是否清晰
中文：5分
英文：5分

3. 示例代码是否有效？
中文：4分，示例代码简单，使用方式阐明清晰
英文：4分

4. 中英文内容是否一致

[2020-11-20 12:34] prj-jxust opened #28795 "【2.0 API文档内测】paddle.ParamAttr 文档问题"
文档问题描述：
paddle.ParamAttr 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：4分 initializer比如那些呢？来个初始化方式集合连接
英文：4分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
4分，大体都有加个初始化链接就好

[2020-11-20 12:39] prj-jxust opened #28797 "【2.0 API文档内测】paddle.rand文档问题"
文档问题描述：
paddle.rand 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
完美

[2020-11-20 12:41] KingCSer opened #28798 "怎样获取用户训练作业信息"
版本：paddle-1.8.5-gpu-cuda10.0-cudnn7
问题：
1）怎样获取用户训练作业共有多少个epoch，以及当前进行到第几个epoch？
2）怎样得知用户当前所用gpu号，以及剩余可用gpu号？
3）怎样获取用户训练程序的完成状态？（完成 or 未完成）

[2020-11-20 12:48] prj-jxust opened #28799 "【2.0 API文档内测】paddle.save 文档问题"
文档问题描述：
paddle.save 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
没什么问题

[2020-11-20 12:52] prj-jxust opened #28800 "【2.0 API文档内测】paddle.seed 文档问题"
文档问题描述：
paddle.seed 文档评估

API文档描述是否清晰？
中文：3分 写的太简单，随机种子会影响框架那些东西，大概说一下，设置了是不是每次跑程序结果一致，稍微提一下
英文：3分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
写了太简单了

[2020-11-20 12:56] prj-jxust opened #28801 "【2.0 API文档内测】paddle.DataParallel 文档问题"
文档问题描述：
paddle.DataParallel 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：3分  数据并行的策略，没有列出来，也没有相关链接
英文：3分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
不一致

其他
无

整体评价
3分英文版明显多了很多参数说明，中文文档里面莫得

[2020-11-20 12:57] prj-jxust opened #28802 "【2.0 API文档内测】Conv2D 文档问题"
文档问题描述：
paddle.DataParallel 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：3分  数据并行的策略，没有列出来，也没有相关链接
英文：3分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
不一致

其他
无

整体评价
3分英文版明显多了很多参数说明，中文文档里面莫得

[2020-11-20 12:58] #28802 closed, assigned to haozech

[2020-11-20 13:00] prj-jxust opened #28803 "【2.0 API文档内测】paddle.load 文档问题"
文档问题描述：
paddle.load 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
没问题

[2020-11-20 13:00] cjh3020889729 opened #28804 "【2.0 API文档内测】Conv2D 文档问题"
文档问题描述：
paddle.nn.Conv2D 文档评估

1. API文档描述是否清晰？
中文：5分
英文：5分

2. 参数说明是否清晰
中文：5分
英文：5分

3. 返回/形状说明是否清晰
中文：5分
英文：5分

4. 异常说明是否清晰
中文：5分， 有助于使用者查找问题所在
英文：3分， 没有异常说明，但展示了类方法的使用

4. 示例代码是否有效？
中文：5分，示例代码简单
英文：5分

5. 中英文内容是否一致？
基本一致
（中英文文档，英文文档在类方法上展示更充分，而中文没有）

6. 其他
无

7. 整体评价
4分
Conv2D--API文档整体简单易读，参数说明清晰；英文文档异常说明有的话更好了。
在这里提一个个人小建议：如果可以将中文文档中的API对应的类方法也展示出来的话，文档内容会更加优质。

[2020-11-20 13:04] cjh3020889729 opened #28805 "【2.0 API文档内测】Conv2d 文档问题"
文档问题描述：
paddle.nn.functional.conv2d 文档评估

1. API文档描述是否清晰？
中文：5分
英文：5分

2. 参数说明是否清晰
中文：5分
英文：5分

3. 返回/形状说明是否清晰
中文：5分
英文：5分

4. 异常说明是否清晰
中文：5分， 有助于使用者查找问题所在
英文：5分

4. 示例代码是否有效？
中文：5分，示例代码简单
英文：5分

5. 中英文内容是否一致？
一致

6. 其他
无

7. 整体评价
5分
Conv2d--API文档整体简单易读，参数说明清晰.

[2020-11-20 13:10] cjh3020889729 opened #28806 "【2.0 API文档内测】Conv2DTranspose 文档问题"
文档问题描述：
class paddle.nn.Conv2DTranspose 文档评估

1. API文档描述是否清晰？
中文：5分，使用说明阐述清晰
英文：5分

2. 参数说明是否清晰
中文：5分
英文：5分

3. 返回/形状说明是否清晰
中文：5分
英文：5分

4. 异常说明是否清晰
中文：5分， 有助于使用者查找问题所在
英文：3分， 没有异常说明，但展示了类方法的使用

4. 示例代码是否有效？
中文：5分，示例代码简单
英文：5分

5. 中英文内容是否一致？
基本一致
（中英文文档，英文文档在类方法上展示更充分，而中文没有）

6. 其他
无

7. 整体评价
4分
Conv2DTranspose--API文档整体思路清晰，易读，参数说明清晰；英文文档异常说明有的话更好了。

[2020-11-20 13:11] YeFeiyangx commented on #28744
深度强化学习中，需要deepcopy target model，属于基本操作。而GRUcell是目前的基本网络单元。于是两者一结合，就万般无奈了。你们的parl框架目前也不支持2.0。

[2020-11-20 13:12] cjh3020889729 opened #28807 "【2.0 API文档内测】conv2d_transpose 文档问题"
文档问题描述：
paddle.nn.functional.conv2d_transpose 文档评估

1. API文档描述是否清晰？
中文：5分，使用说明阐述清晰
英文：5分

2. 参数说明是否清晰
中文：5分
英文：5分

3. 返回/形状说明是否清晰
中文：5分
英文：5分

4. 异常说明是否清晰
中文：5分， 有助于使用者查找问题所在
英文：5分

4. 示例代码是否有效？
中文：5分，示例代码简单
英文：5分

5. 中英文内容是否一致？
一致

6. 其他
无

7. 整体评价
5分
conv2d_transpose--API文档整体思路清晰，易读，参数说明清晰.

[2020-11-20 13:16] cjh3020889729 opened #28808 "【2.0 API文档内测】CosineSimilarity 文档问题"
文档问题描述：
class paddle.nn.CosineSimilarity 文档评估

1. API文档描述是否清晰？
中文：5分，使用说明阐述清晰
英文：5分

2. 参数说明是否清晰
中文：5分
英文：5分

3. 返回/形状说明是否清晰
中文：5分
英文：5分

4. 示例代码是否有效？
中文：5分，示例代码简单
英文：5分

5. 中英文内容是否一致？
一致

6. 其他
无

7. 整体评价
5分
CosineSimilarity--API文档整体思路清晰，易读，参数说明清晰.

[2020-11-20 13:22] cjh3020889729 opened #28809 "【2.0 API文档内测】cosine_similarity 文档问题"
文档问题描述：
paddle.nn.functional.cosine_similarity 文档评估

1. API文档描述是否清晰？
中文：5分
英文：5分

2. 参数说明是否清晰
中文：5分
英文：5分

3. 返回/形状说明是否清晰
中文：5分
英文：5分

4. 示例代码是否有效？
中文：5分，示例代码简单
英文：5分

5. 中英文内容是否一致？
一致

6. 其他
无

7. 整体评价
5分
cosine_similarity--API文档整体思路清晰，易读，参数说明清晰.

[2020-11-20 13:25] Jhong1996 opened #28810 "【2.0 API文档内测】BCELoss文档问题"
### 文档问题描述：paddle.nn.BCELoss文档评估

#### API文档描述是否清晰

中文：4分；整体描述比较清楚
英文：4分

#### 参数说明是否清晰

中文：4分；参数说明计较清晰明确
英文：4分

#### 返回/形状说明是否清晰

中文：4分，形状描写的很清楚，好理解
英文：4分

#### 示例代码是否有效

中文：3分，示例代码很简单，建议加上注释说明，多给两个demo
英文：3分

#### 中英文内容是否一致

不一致；
在完整的BCELoss英文文档的页面下跟着一些其他的内容，不知道是什么原因，但是主要内容基本一致

#### 其他

无

#### 整体评价

3.75分，整体比较清晰明确，只是需要检查下英文文档下方的内容，是否是操作失误

[2020-11-20 13:36] SOVLOOKUP opened #28811 "【2.0 API文档内测】paddle.set_device 文档问题"
### 文档问题描述：
paddle.set_device 文档评估

#### API文档描述是否清晰？

中文：3分；缺少XPU和index of G/XPU的介绍
英文：4分

#### 参数说明是否清晰

中文：4分，形状描写的很清楚，好理解
英文：4分

#### 返回/形状说明是否清晰

中文：4分，形状描写清楚
英文：4分

#### 示例代码是否有效？

中文：3分，示例代码啰嗦，建议去掉无关代码
英文：3分

#### 中英文内容是否一致？
中英文档不一致

#### 其他
英文文档排版有问题

#### 整体评价

3分，可能拥有多块GPU或者XPU的时候会看这个文档，希望这块中文多写一点

[2020-11-20 13:45] Jhong1996 opened #28812 "【2.0 API文档内测】ClipGradByValue 文档问题"
### 文档问题描述：paddle.nn.ClipGradByValue文档评估

#### API文档描述是否清晰

中文：4分；整体描述比较清楚
英文：4分

#### 参数说明是否清晰

中文：4分；参数说明计较清晰明确
英文：4分

#### 返回/形状说明是否清晰

中文：5分，无返回/形状说明
英文：5分

#### 示例代码是否有效

中文：4分，示例代码很简单，建议加上注释说明，多给两个demo，对于ClipGradByValue的前置代码进行相关说明
英文：4分

#### 中英文内容是否一致

一致；

#### 其他

无

#### 整体评价

4分，整体比较清晰明确

[2020-11-20 13:46] SOVLOOKUP opened #28813 "【2.0 API文档内测】paddle.summary 文档问题"
### 文档问题描述：
paddle.summary文档评估

#### API文档描述是否清晰？

中文：4分；可以很清晰了解作用
英文：4分

#### 参数说明是否清晰

中文：4分，形状描写的很清楚，好理解
英文：4分

#### 返回/形状说明是否清晰

中文：3分，给个返回示例比较好
英文：4分

#### 示例代码是否有效？

中文：4分，示例代码加一行注释解释传入参数比较好
英文：4分

#### 中英文内容是否一致？
中英文档不一致

#### 其他
无

#### 整体评价

4分，用于展示的模型信息方法，给个返回的示例更有直观印象

[2020-11-20 13:56] Jhong1996 opened #28814 "【2.0 API文档内测】Conv2D 文档问题"
### 文档问题描述：paddle.nn.Conv2D文档评估

#### API文档描述是否清晰

中文：5分；整体描述清楚，很细致
英文：5分

#### 参数说明是否清晰

中文：5分；参数说明清晰明确，并给与了详细解释
英文：5分

#### 返回/形状说明是否清晰

中文：5分，形状描写的很清楚，公式很好理解
英文：5分

#### 示例代码是否有效

中文：5分，示例代码很简单清晰
英文：5分

#### 中英文内容是否一致

一致；

#### 其他

无

#### 整体评价

5分，整体清晰明确，抛出异常这部分十分友好，毕竟是最最最基础的一个API

[2020-11-20 13:58] SOVLOOKUP opened #28815 "【2.0 API文档内测】paddle.Tensor 文档问题"
### 文档问题描述：
paddle.Tensor文档评估

#### API文档描述是否清晰？

中文：4分；可以很清晰了解作用，很详细，但是很多不容易检索，能不能把一些细节的展示收缩起来

#### 参数说明是否清晰

中文：4分，形状描写的很清楚，好理解

#### 返回/形状说明是否清晰

中文：4分，清晰

#### 示例代码是否有效？

中文：5分，很清晰

#### 中英文内容是否一致？

没有英文文档

#### 其他
无

#### 整体评价

4分，中文文档详细，示例丰富，但没有英文文档

[2020-11-20 14:05] Jhong1996 opened #28816 "【2.0 API文档内测】Conv2d 文档问题"
### 文档问题描述：paddle.nn.functional.conv2d文档评估

#### API文档描述是否清晰

中文：5分；整体描述清楚，很细致
英文：5分

#### 参数说明是否清晰

中文：5分；参数说明清晰明确
英文：5分

#### 返回/形状说明是否清晰

中文：5分，形状描写的很清楚，公式很好理解
英文：5分

#### 示例代码是否有效

中文：5分，示例代码很简单清晰
英文：5分

#### 中英文内容是否一致

一致；

#### 其他

无

#### 整体评价

5分，整体清晰明确，抛出异常这部分十分友好

[2020-11-20 14:06] SOVLOOKUP opened #28817 "【2.0 API文档内测】paddle.uniform 文档问题"
### 文档问题描述：
paddle.uniform文档评估

#### API文档描述是否清晰？

中文：5分；文档清晰

#### 参数说明是否清晰

中文：5分，参数说明清晰

#### 返回/形状说明是否清晰

中文：5分，清晰

#### 示例代码是否有效？

中文：5分，有效

#### 中英文内容是否一致？

内容一致

#### 其他
无

#### 整体评价

5分，看文档很容易掌握

[2020-11-20 14:09] zxy3 opened #28818 "【2.0 API文档内测】paddle.nn.LayerList文档问题"
文档问题描述：
paddle.nn.Layer 文档评估

    **API文档描述是否清晰？**
    **中文：4分**
    1. 稍微有点抽象，可以稍微详细点

    **英文：4分，**
1. 可以

    **参数说明是否清晰**
    **中文：4分**
1. insert ( ) 参数写的过于简洁
2.
![image](https://user-images.githubusercontent.com/30621467/99808806-611a8880-2b7c-11eb-8c6d-ed4ca707e23f.png)
这个代码示例放在sublayers (iterable，可选) 这个参数下面，但是似乎并不是这个参数的示例，感觉排版有点歧义。

    **英文：4分**
1. 可以

    **返回/形状说明是否清晰**
    **中文：5分**
1.

[2020-11-20 14:10] zxy3 commented on #28818
排版有点难看

[2020-11-20 14:10] zxy3 commented on #28818
请凑合看一下

[2020-11-20 14:11] zxy3 commented on #28818
请凑合看一下

[2020-11-20 14:11] zxy3 commented on #28818
请凑合看

[2020-11-20 14:12] zxy3 commented on #28818
排版有点难看

[2020-11-20 14:12] ruyijidan opened #28819 "【2.0 API文档内测】BatchNorm2D文档问题"
文档问题描述：
paddle.nn.BatchNorm2D 文档评估

API文档描述是否清晰？
中文：4分，描述清楚
英文：4分，描述清楚

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：3.5分
英文：3.5分

中英文内容是否一致？
大体一致

其他
英文排版有问题，后面都是无关的内容。
中英文文档都是开启静态图，在有些时候是不希望训练BN的参数的，什么时候能有affine参数来配置是否训练BN中的参数。

整体评价
4分，深度学习中最常用的操作；正常按照文档使用不会有太大问题，

[2020-11-20 14:12] zxy3 commented on #28818
排版有点难看

[2020-11-20 14:12] Reatris opened #28820 "【2.0 API文档内测】paddle.fluid.dygraph.DataParallel文档问题"
文档问题描述：
paddle.fluid.dygraph.DataParallel文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：4分

参数说明是否清晰
中文：4分，描述比较清楚；
英文：4分

返回/形状说明是否清晰
中文：4分，形状描写的很清楚；
英文：4分

示例代码是否有效？
中文：1分，代码未能跑通；
英文：1分

中英文内容是否一致？
一致

其他
无

[2020-11-20 14:13] Jhong1996 opened #28821 "【2.0 API文档内测】Conv2DTranspose 文档问题"
### 文档问题描述：paddle.nn.Conv2DTranspose文档评估

#### API文档描述是否清晰

中文：5分；整体描述清楚
英文：5分

#### 参数说明是否清晰

中文：5分；参数说明清晰明确
英文：5分

#### 返回/形状说明是否清晰

中文：5分，形状描写的很清楚，好理解
英文：5分

#### 示例代码是否有效

中文：5分，示例代码很简单清晰
英文：5分

#### 中英文内容是否一致

一致；

#### 其他

无

#### 整体评价

5分，整体清晰明确，抛出异常这部分十分友好，但是英文文档中貌似没有异常这部分描述

[2020-11-20 14:14] Reatris commented on #28820
直达URL:https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/fluid/dygraph/parallel/DataParallel_cn.html

[2020-11-20 14:20] Jhong1996 opened #28822 "【2.0 API文档内测】conv2d_transpose 文档问题"
### 文档问题描述：paddle.nn.functional.conv2d_transpose文档评估

#### API文档描述是否清晰

中文：5分；整体描述清楚
英文：5分

#### 参数说明是否清晰

中文：5分；参数说明清晰明确
英文：5分

#### 返回/形状说明是否清晰

中文：5分，形状描写的很清楚，好理解
英文：5分

#### 示例代码是否有效

中文：5分，示例代码很简单清晰
英文：5分

#### 中英文内容是否一致

一致；

#### 其他

无

#### 整体评价

5分，整体比较清晰明确

[2020-11-20 14:24] Reatris opened #28823 "【2.0 API文档内测】paddle.load 文档问题"
文档问题描述：
paddle.load 文档评估 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/framework/io/load_cn.html

API文档描述是否清晰？
中文：2分，注解部分给人一种不整齐的感觉；
英文：2分

参数说明是否清晰
中文：4分
英文：4分

返回/形状说明是否清晰
中文：3分，返回是dict，文档里描述是object；
英文：3分

示例代码是否有效？
中文：4分
英文：4分

中英文内容是否一致？
一致

其他
无

整体评价

1.排版有点不行

[2020-11-20 14:25] Jhong1996 opened #28824 "【2.0 API文档内测】CosineSimilarity 文档问题"
### 文档问题描述： paddle.nn.CosineSimilarity文档评估

#### API文档描述是否清晰

中文：4分；整体描述清楚，可以更细致一些
英文：4分

#### 参数说明是否清晰

中文：5分；参数说明清晰明确
英文：5分

#### 返回/形状说明是否清晰

中文：5分，无此项
英文：5分

#### 示例代码是否有效

中文：5分，示例代码很简单清晰
英文：5分

#### 中英文内容是否一致

一致；

#### 其他

无

#### 整体评价

4分，整体比较清晰明确

[2020-11-20 14:27] ruyijidan opened #28825 "【2.0 API文档内测】functional.batch_norm文档问题"
文档问题描述：
paddle.nn.functional.batch_norm 文档评估

API文档描述是否清晰？
中文：4分，用这个API的人应该也不需要太多说明,而且有连接到BatchNorm
英文：4分，用这个API的人应该也不需要太多说明,而且有连接到BatchNorm

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他

中英文文档都是开启静态图

整体评价
5分，BN的自定义玩法，通过函数调用方式供开发者使用

[2020-11-20 14:27] haozech commented on #28798
你好，感谢反馈。您所提的这几个问题，在正常情况下应该都是由用户自己定义/掌握的。您是在什么环境进行训练的呢？是否使用的是Ai Studio

[2020-11-20 14:28] zxy3 opened #28826 "【2.0 API文档内测】paddle.nn.Layer 文档问题"
文档问题描述：
paddle.nn.Layer文档评估

API文档描述是否清晰？
中文：4分
英文：4分
1，“基于OOD实现的动态图Layer，包含该Layer的参数、前序运行的结构等信息。”这个表述有点抽象，请尽量详细
2，

参数说明是否清晰
中文：4分
英文：4分
1、“name_scope (str，可选)”的参数解释看不太懂
2、

返回/形状说明是否清晰
中文：4分
英文：4分
1、“Layer的全名。组成方式为： name_scope + “/” + MyLayer.__class__.__name__”而示例代码返回的结果是“demo_linear_net_0”，我感觉有点对不上， “/” 在哪里？
2、

示例代码是否有效？
中文：5分
英文：5分
1、“x = paddle.randn([10, 1], 'float32')”写一下代码注释。
2、

中英文内容是否

[2020-11-20 14:30] Reatris opened #28827 "【2.0 API文档内测】paddle.mean文档问题"
文档问题描述：
paddle.mean 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
很好

[2020-11-20 14:30] Jhong1996 opened #28828 "【2.0 API文档内测】cosine_similarity 文档问题"
### 文档问题描述：paddle.nn.functional.cosine_similarity文档评估

#### API文档描述是否清晰

中文：5分；整体描述清楚
英文：5分

#### 参数说明是否清晰

中文：5分；参数说明清晰明确
英文：5分

#### 返回/形状说明是否清晰

中文：5分，返回描写的很清楚
英文：5分

#### 示例代码是否有效

中文：5分，示例代码很简单清晰
英文：5分

#### 中英文内容是否一致

一致；

#### 其他

无

#### 整体评价

5分，整体比较清晰明确

[2020-11-20 14:40] zxy3 opened #28829 "【2.0 API文档内测】paddle.nn.MultiHeadAttention文档问题"
文档问题描述：
paddle.nn.MultiHeadAttention文档评估

API文档描述是否清晰？
中文：4分
英文：4分
1、“多头注意力机制”的表述可以写的通俗化一点，甚至于说不用论文链接。
2、“细节可参考论文 Attention is all you need 。”的表述比较浪费时间，难道阁下言下之意：调起这个接口的前提是我需要把这篇paper啃下去么？

参数说明是否清晰
中文：4分
英文：4分
1、可选参数这一块，也希望能配合示例代码的展示
2、

返回/形状说明是否清晰
中文：4分
英文：4分
1、可以
2、

示例代码是否有效？
中文：2分
英文：2分
1、“ulti_head_attn = MultiHeadAttention(128, 2)”只展示了1种最简单的使用方法，阁下也知道的，我们平时调用接口进行调参的时候，大部分情况下是不会仅使用最简单的情况的，对我

[2020-11-20 14:41] KingCSer commented on #28798
对，正常情况下是由用户程序定义的，但是因项目需要，我们想要在别的配置文件里单独定义这些接口，不知道paddle里是否有相关API和可参考的资料，谢谢！

[2020-11-20 14:44] WenmuZhou commented on #28781
能否告知是2.0正式版放出吗

[2020-11-20 14:49] Reatris opened #28830 "【2.0 API文档内测】paddle.Model 文档问题"
文档问题描述：
paddle.Model 文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：3分

参数说明是否清晰
中文：3分，padding的描述太复杂了，建议写的简单一些；padding_mode 的描述也不清楚，不知道几种模式的区别；
英文：3分

返回/形状说明是否清晰
中文：2分，predict返回描写不符；
英文：2分

示例代码是否有效？
中文：0分，示例代码1，4，5，7 和 最后一段 不通过，有报错；
英文：0分

中英文内容是否一致？

英文部分有些问题，排版也不对

其他
无

整体评价
3分，文档内容比较多有多出需要修正

[2020-11-20 14:52] zxy3 opened #28831 "【2.0 API文档内测】paddle.nn.Pad2D文档问题"
文档问题描述：
paddle.nn.Pad2D文档评估

API文档描述是否清晰？
中文：5分
英文：5分
1，“按照 padding、mode 和 value 属性对输入进行填充。”这个表述有点抽象，请尽量详细
2，

参数说明是否清晰
中文：4分
英文：4分
1、“mode (str) - padding的四种模式”的4种模式解释请尽量详细
2、4个必选参数1个可选参数，但是示例代码中2个必选参数就能把接口调用起来，是为什么？

返回/形状说明是否清晰
中文：5分
英文：5分
1、没有返回值，没有什么好评价的
2、

示例代码是否有效？
中文：4分
英文：4分
1、“my_pad = nn.Pad2D(padding=pad, mode=mode)” 展示的情况过于简单，感觉必选参数不是4个么，怎么这里2个参数就可以了？
2、

中英文内容是否一致？
一致

其他
无

整体评价
4分

[2020-11-20 15:00] LJoson opened #28832 "【2.0 API文档内测】paddle.nn.Linear 文档问题"
文档问题描述：
paddle.nn.Linear 文档评估

API文档描述是否清晰？
中文：3分，描述比较含糊；
英文：4分，整体描述比较清楚

参数说明是否清晰
中文：3分，写的太简单；
英文：4分

返回/形状说明是否清晰
中文：4分
英文：3分，部分返回描述不清晰

示例代码是否有效？
中文：2分，示例代码很简单，且注释少；
英文：3分

中英文内容是否一致？
不一致

其他
无

整体评价
3分，希望整体中英文描述能更具体清晰

[2020-11-20 15:04] Reatris opened #28833 "【2.0 API文档内测】 paddle.fluid.ParamAttr 文档问题"
文档问题描述：
 paddle.fluid.ParamAttr 文档评估

API文档描述是否清晰？
中文：3分，注解中描述部分功能在2.0版本将要废弃，但是当前已经是2.0版本，描述矛盾，容易产生歧义；
英文：3分

参数说明是否清晰
中文：5分；
英文：4分；

返回/形状说明是否清晰
中文：4分；
英文：0分；缺少返回描述

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
不一致，英文部分缺少返回描述
其他
无

整体评价
3分

[2020-11-20 15:10] zxy3 opened #28834 "【2.0 API文档内测】paddle.nn.ParameterList文档问题"
文档问题描述：
paddle.nn.ParameterList 文档评估

API文档描述是否清晰？
中文：4分
英文：4分
1、“但它包含的参数将被正确地注册和添加。”请尽量详细的表述，通俗一点。

参数说明是否清晰
中文：3分
英文：3分
1、“parameters (iterable，可选) - 可迭代的Parameters。” 过于简单了，我感觉看了跟没看的结果是一样的，读不到什么信息。

返回/形状说明是否清晰
中文：5分
英文：5分
1、无返回值，没什么好说的

示例代码是否有效？
中文：4分
英文：4分
1、代码中使用的其他接口也请写一下注释，比如说：“paddle.create_parameter”

中英文内容是否一致？
1、一致

其他
无

整体评价
4分
1、整体来说需要写的详细一点，代码能注释的注释一下，不然读起来很费劲

[2020-11-20 15:12] Reatris opened #28835 "【2.0 API文档内测】paddle.rand 文档问题"
文档问题描述：
paddle.rand 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
5分

[2020-11-20 15:12] jialiasus2 opened #28836 "【2.0 API文档内测】paddle.metric.Accuracy文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：3分：
1、目录应该摘要显示每个子函数，而非“参数”“返回”等。
2、未给出构造函数参数表。
3、Accuracy类应该是专用于分类问题，目标检测、语义识别等问题并不适用，建议在描述中明确。
英文：3分：
1、构造函数描述中多了一个.metric。
2、示例代码格式错误，跑到了代码框外边（浏览器firefox 83.0/ubuntu1804）。尝试点击复制按钮，仅能复制到一个空行。

#### 参数说明是否清晰
中文：4分：
1、compute和update两个函数未对额外参数（*args）的使用场景作出说明。
2、update函数应该加一句“参数含义同compute函数”。
英文：4分

#### 返回/形状说明是否清晰
中文：3分：
1、accumulate函数未说明topk的情况下是返回numpy还是list或tup

[2020-11-20 15:15] jczaja commented on #28459
@luotao1 Candidate fix to issue is here: https://github.com/PaddlePaddle/Paddle/pull/28758 . could you please test it and let us know if issue is gone?

[2020-11-20 15:17] Reatris opened #28837 "【2.0 API文档内测】paddle.save 文档问题"
文档问题描述：
paddle.save 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
5分

[2020-11-20 15:24] Reatris opened #28838 "【2.0 API文档内测】paddle.framework.seed 文档问题"
文档问题描述：
paddle.framework.seed 文档评估

API文档描述是否清晰？
中文：3分，不是很详细；
英文：3分

参数说明是否清晰
中文：3分，不是很详细；
英文：3分

返回/形状说明是否清晰
中文：4分
英文：4分

示例代码是否有效？
中文：2分，示例代码很简单；
英文：2分

中英文内容是否一致？
一致

其他
无

整体评价
3分，如果给小白看的话，示范代码可能需要再加一些

[2020-11-20 15:44] Siyou-Li opened #28839 "【2.0 API文档内测】paddle.add 文档问题"
文档问题描述：
paddle.add 文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：4分 整体描述比较清楚；
英文api未更新
![image](https://user-images.githubusercontent.com/39124862/99908662-cb6b2e80-2d1e-11eb-9660-a944dafe7e67.png)

参数说明是否清晰
中文：4分，整体描述比较清楚；
英文：4分 整体描述比较清楚；

返回/形状说明是否清晰
中文：4分，
英文：4分

示例代码是否有效？
中文：1分，相比英文文档仅有一个用例
英文：4分

中英文内容是否一致？
不一致

其他
无

整体评价
3分，中文文档中use_guide_broadcasting没有链接，且英文文档明显完成度更高

[2020-11-20 16:04] Siyou-Li opened #28840 "【2.0 API文档内测】paddle.all 文档问题"
文档问题描述：
paddle.all 文档评估

API文档描述是否清晰？
中文：3分，整体描述模糊；
英文：0分 , 无法打开网页

参数说明是否清晰
中文：4分
英文：0分 无法打开网页

返回/形状说明是否清晰
中文：4分
英文：0分 无法打开网页

示例代码是否有效？
中文：1分，代码写得很清晰但中文文档为什么注释用英文？并且有”print“为什么不显示运行结果
英文：0分 无法打开网页

中英文内容是否一致？
不一致，英文文档无法打开网页

其他
无

整体评价
1分。英文文档打不开，示例代码

[2020-11-20 16:09] YeFeiyangx opened #28841 "使用docker安装paddle 1.8.5，然后安装parl，运行时报错paddle与cuda不适配"
使用官网docker命令安装paddle，然后安装parl。出现如下错误:
CUDA_VISIBLE_DEVICES found gpu count: 1
Found non-empty CUDA_VISIBLE_DEVICES.
But PARL found that Paddle was not complied with CUDA, which may cause issues.
Thus PARL will not use GPU.

[2020-11-20 16:15] Mesilenceki opened #28842 "【2.0 API文档内测】paddle.set_device 文档问题"
文档问题描述：
paddle.set_device 文档评估

API文档描述是否清晰？
中文：4分，只是描述了函数的大概的功能，对于详细的功能可以稍微展开点介绍；
英文：5分

参数说明是否清晰
中文：4分，对于device(str)的描述不够具体，应该对该参数有更详细的描述；
英文：5分

示例代码是否有效？
中文：2分，示例代码只给出了cpu情况的例子, 最好再加上gpu的例子；
英文：2分

中英文内容是否一致？
一致

其他
无

整体评价
4分，在自定义模型的时候很常见的函数, 文档的描述还比较清楚, 英文的介绍会比中文好， 中文文档有待完善， 感觉函数的具体使用可以稍微的详细一点，并且多一个gpu:d 这种情况下的例子。

[2020-11-20 16:47] Mesilenceki opened #28843 "【2.0 API文档内测】paddle.summary 文档问题"
文档问题描述：
paddle.summary 文档评估

API文档描述是否清晰？
中文：5分，函数功能描述恰当, 没有冗余的表达；
英文：5分 , 同上

参数说明是否清晰
中文：4分 部分情况没有描述清楚, 具体可以参考英文文档
英文：5分 对于输入的几个参数描述的都很清晰,

返回/形状说明是否清晰
中文：3分
英文：3分 如果能给个example 给使用者一个初步的了解会更好

示例代码是否有效？
中文：4分
英文：4分 希望能在多一个例子

中英文内容是否一致？
一致

其他
无

整体评价
4分 文档对函数的功能描述得当，希望能对返回的模型的dict参数描述清晰点，再多一个例子会更好

[2020-11-21 00:30] i02-c opened #28844 "【2.0 API文档内测】dropout2D文档问题"
### 文档问题描述：
挺喜欢这种简洁直接的表述方法，但也期待引入直观描述去辅助理解
#### API文档描述是否清晰？
文档无误简洁明了
 中文 4
英文4
#### 参数说明是否清晰
：参数描述清晰
中文4
英文4
#### 返回/形状说明是否清晰
建议使用直观图辅助理解
中文3
英文3
#### 示例代码是否有效？
示例代码无误
中文5
英文5
#### 中英文内容是否一致？
中文文档略简，大体一致，文档内容英文的实例更加详尽
中文4
英文5
#### 其他
如：文档页面打不开；文档缺失；文档中有死链；
未发现死链
中文4
英文4

[2020-11-21 01:12] Mesilenceki opened #28845 "【2.0 API文档内测】paddle.uniform 文档问题"
文档问题描述：
paddle.uniform 文档评估

API文档描述是否清晰？
中文：5分，文档描述清楚, 没什么问题
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
5分， 这个函数的文档写的很详细，对于参数和返回的形状也描述到位, 示例清晰,详细。

[2020-11-21 01:37] i02-c opened #28846 "【2.0 API文档内测】Embedding文档问题"
### 文档问题描述：
中文过于简洁。。。可能为了准确描述吧，但这块可能需要比较有能力和功底的去描述，但不影响整体的理解虽然
文档中对Embedding layer的环境描述的较不错，Embadding无疑会成为用户自主训练常用的接口，但是与其花费时间去在阐述例如padding_idx 的适用条件不如通过实例去展示一下过程，还是期待直观一点的表述
中文4
英文4
#### API文档描述是否清晰？
描述很用心了，但读者水平实在有限没办法去纠正
中文4
英文4
#### 参数说明是否清晰
如：用法场景环境这块中文确实不错特简洁看出来编者的水平了，但还是英文的详细
中文4
英文5

#### 返回/形状说明是否清晰
如：较清晰
中文4
英文4

#### 示例代码是否有效？
未全部测试
中文应该没问题
中文5
英文4
#### 中英文内容是否一致？
中英文描述不一致，
中文3
英文5
####

[2020-11-21 01:57] i02-c opened #28847 "【2.0 API文档内测】embedding文档问题"
### 文档问题描述：float32的时代都快结束了。。。
中文5
英文5
#### API文档描述是否清晰？

中文5
英文5
#### 参数说明是否清晰

中文5
英文5

#### 返回/形状说明是否清晰

中文5
英文5

#### 示例代码是否有效？

中文5
英文5
#### 中英文内容是否一致？
中英文描述不一致，
中文5
英文5
#### 其他
：文档页面打不开；文档缺失；文档中有死链；
暂无

[2020-11-21 02:03] SOVLOOKUP opened #28848 "【2.0 API文档内测】paddle.io.BatchSampler文档问题"
### 文档问题描述：
paddle.io.BatchSampler文档评估

#### API文档描述是否清晰？

中文：4分；文档较为清晰
英文：4分

#### 参数说明是否清晰

中文：4分，参数说明清晰
英文：4分

#### 返回/形状说明是否清晰

中文：4分，返回说明清晰，但缺少示例
英文：4分

#### 示例代码是否有效？

中文：4分，有效清晰
英文：4分

#### 中英文内容是否一致？

内容一致

#### 其他
无

#### 整体评价

4分，文档很OK

[2020-11-21 02:13] SOVLOOKUP opened #28849 "【2.0 API文档内测】paddle.io.DataLoader文档问题"
### 文档问题描述：
paddle.io.DataLoader文档评估

#### API文档描述是否清晰？

中文：1分
英文：4分

#### 参数说明是否清晰

中文：1分
英文：4分

#### 返回/形状说明是否清晰

中文：1分
英文：4分

#### 示例代码是否有效？

中文：1分
英文：4分

#### 中英文内容是否一致？

内容不一致

#### 其他

中文文档是paddle1的，英文是paddle2的，英文文档排版有瑕疵

#### 整体评价

3分，中文文档需要完善

[2020-11-21 02:15] i02-c opened #28850 "【2.0 API文档内测】cross_entropy文档问题"
### 文档问题描述：中英翻译无误
中文5
英文5
#### API文档描述是否清晰？

中文5
英文5
#### 参数说明是否清晰

中文5
英文5

#### 返回/形状说明是否清晰

中文5
英文5

#### 示例代码是否有效？。。

中文5
英文5
#### 中英文内容是否一致？

中文5
英文5

[2020-11-21 02:18] Zhangbeibei1991 opened #28851 "【2.0 API文档内测】paddle.nn.Transformer 文档问题"
文档问题描述：

paddle.nn.Transformer 文档评估

API文档描述是否清晰？

中文：4分，整体描述比较清楚；不过我建议由于Transformer的结构比较复杂，特别是归一化的地方比较灵活，我感觉能适当的画一个transoformer的简图(给出其中一个子层，包括但不限于: 多头自注意力机制, 解码器的编码-解码交叉注意力机制, 前馈神经网络)，这样会好一点，因为后面的参数设置写的最多的就是和这三个位置相关的(normalize_before, weight_attr , bias_attr )。
英文：4分, 还好，感觉比中文写的稍微清晰点，不过建议和中文的一样。

参数说明是否清晰

中文：4分，参数说明比较清晰，但是，weight_attr , bias_attr的参数讲究比较多，能不能再把1,2,3的情况再分条说一下，门清的还好，一个新手上去，看到这个参数，可

[2020-11-21 02:23] shaunhurryup opened #28852 "paddle.vision.models.VGG()使用出错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0rc
    2）环境：AI Studio高级版

[paddle.vision.models.VGG()](https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/api/paddle/vision/models/vgg/VGG_cn.html#vgg) 的参数 `num_classes` 介绍写道：最后一个全连接层输出的维度。如果该值小于0，则不定义最后一个全连接层。默认值：1000。但是测试的时候发现如果该值小于等于0，都会报错

[code]

[code]

**还有一点想说的是**，文档的描述和API内置文档的描述不一样。比如文档写的是 ”如果该值小于0，则不定义最后一个全连接层。“ ，但help()函数里面的描述是 ”If num_class

[2020-11-21 02:25] SOVLOOKUP opened #28853 "【2.0 API文档内测】paddle.io.Dataset文档问题"
### 文档问题描述：

paddle.io.Dataset文档评估

#### API文档描述是否清晰？

中文：5分；文档较为清晰
英文：5分

#### 参数说明是否清晰

中文：5分，参数说明清晰
英文：5分

#### 返回/形状说明是否清晰

中文：5分，返回说明清晰
英文：5分

#### 示例代码是否有效？

中文：3分，抽象类希望多加一些继承拓展的示例
英文：3分

#### 中英文内容是否一致？

内容一致

#### 其他

加上所有能返回该类的实例方法的表格可以更清晰直观一些

#### 整体评价

4分，文档对于了解该方法很ok

[2020-11-21 02:28] SOVLOOKUP opened #28854 "【2.0 API文档内测】paddle.io.DistributedBatchSampler文档问题"
### 文档问题描述：

paddle.io.DistributedBatchSampler文档评估

#### 其他

提供的链接是死链接，文档也查找不到这个方法

#### 整体评价

0分

[2020-11-21 02:29] i02-c opened #28855 "2.0 API文档内测】cross_entropy文档问题"
### 文档问题描述：讨论了input和标签label间的交叉熵的算法，更易上手
#### API文档描述是否清晰？
如：公式简单易懂，确认无误表述清晰
中文5
英文2
#### 参数说明是否清晰
input和标签label间的交叉熵，

#### 返回/形状说明是否清晰
清晰中文5
英文5

#### 示例代码是否有效？
有效
中文4
英文4
#### 中英文内容是否一致？
一致
中文5
英文5；

#### 其他
如：文档页面打不开；文档缺失；文档中有死链；
暂无

[2020-11-21 02:52] i02-c opened #28856 "2.0 API文档内测】instance_norm文档问题"
### 文档问题描述：中英文表述不一致，英文参考InstanceNorm2D，中文实例对象为InstanceNorm1D，2D,3D，二者的input类型不同，英文未插入链接

#### API文档描述是否清晰？
如：较清楚
中文4
英文4
#### 参数说明是否清晰
如：较清晰
#### 返回/形状说明是否清晰
较清晰
中文4
英文4
#### 示例代码是否有效？
如：有效
中文4
英文4
#### 中英文内容是否一致？
：中英文API描述不一致；中英文API参数不一致；
中文4
英文4
#### 其他
如：英文链接See more detail in nn.layer.InstanceNorm2D.处失效
中文4
英文3

[2020-11-21 03:08] ylj135cool commented on #28778
首先抱歉，对docker不是很熟悉，如何加载你们的镜像？是否有相关的文档？
另外这个我可以确认是在build目录中编译的，因为生成的解决方案文件都是在此目录中的，经过反复编译，最后成功生成了721个项目，失败了5个，其中报错大部分如下：
`22>------ 已启动生成: 项目: unique_op, 配置: Release x64 ------
22>  Compiling CUDA source file ..\..\..\..\paddle\fluid\operators\unique_op.cu...
22>
22>  E:\Document\Paddle\Paddle-release-2.0-rc\build\paddle\fluid\operators>"x:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0\bin\n

[2020-11-21 03:12] i02-c opened #28858 "【2.0 API文档内测】InstanceNorm2D文档"
非
### 文档问题描述：

#### API文档描述是否清晰？
中文的希望能将和1D区别用更明显的或直观表示一下英文就很完美

#### 参数说明是否清晰
中文较清晰但是希望把input类型加重，避免引起混肴
中文评分4
英文5
#### 返回/形状说明是否清晰
清晰
中文4
英文4

#### 示例代码是否有效？
中文4
英文4
#### 中英文内容是否一致？
不一致
中文4英文5

#### 其他
总体评分4

[2020-11-21 03:16] ctkindle opened #28859 "【2.0 API文档内测】addle.vision.datasets.Cifar10文档问题"
### 文档问题描述：【2.0 API文档内测】addle.vision.datasets.Cifar10文档问题

#### API文档描述是否清晰？

中文：3
* “数据集的实现，数据集包含10中类别.”（错字）
* 文档函数描述没有给出参数

英文：5

#### 参数说明是否清晰

中文：3
* 中文文档没有标注“backend”参数

英文：5

#### 返回/形状说明是否清晰

中文：4
* 函数返回没有给出返回类型

英文：5

#### 示例代码是否有效？

中文：5

英文：5

#### 中英文内容是否一致？

【不一致】

#### 综合

评分：4
* 示例代码可添加小部分关键代码注释

[2020-11-21 03:18] Zhangbeibei1991 opened #28860 "【2.0 API文档内测】paddle.nn.SimpleRNNCell 文档问题"
文档问题描述：
paddle.nn.SimpleRNNCell 文档评估

API文档描述是否清晰？
中文：5分，描述比较清楚；
英文：5分，整体描述比较清楚

参数说明是否清晰
中文：4分，比较清晰，Note里面初始化的地方公式写的有错误，hidden_{size}；
英文：4分, 比较清晰，但是在Note里面给出了异常的一个信息，中文里面没有

返回/形状说明是否清晰
中文：5分，比较清晰
英文：5分，比较清晰

示例代码是否有效？
中文：5分，有效；
英文：5分，有效

中英文内容是否一致？
基本一致

其他
无

整体评价
5分，整体写的比较清晰，这个API也比较简单，容易理解

[2020-11-21 03:24] Zhangbeibei1991 opened #28861 "【2.0 API文档内测】paddle.nn.SimpleRNN 文档问题"
文档问题描述：
paddle.nn.SimpleRNN 文档评估

API文档描述是否清晰？
中文：5分，描述比较清楚；
英文：5分，整体描述比较清楚

参数说明是否清晰
中文：5分，比较清晰；
英文：5分, 比较清晰

返回/形状说明是否清晰
中文：5分，比较清晰
英文：5分，比较清晰

示例代码是否有效？
中文：5分，有效；
英文：5分，有效

中英文内容是否一致？
基本一致

其他
无

整体评价
5分，比较清晰，容易理解

[2020-11-21 03:25] ctkindle opened #28862 "【2.0 API文档内测】paddle.vision.datasets.MNIST 文档问题"
### 文档问题描述：【2.0 API文档内测】paddle.vision.datasets.MNIST 文档问题

#### API文档描述是否清晰？

中文：4
* 文档函数描述没有给出参数

英文：5

#### 参数说明是否清晰

中文：3
* 中文文档没有标注“backend”参数
* 无法确定是否有此参数“chw_format (bool) - 若为 True 输出形状为[1, 28, 28], 否则为 [1, 784]。默认值为 True 。”，英文文档的参数列表中无此参数。
* “transform=None”参数未注解
英文：3
* “transform=None”参数未注解

#### 返回/形状说明是否清晰

中文：3
* 函数返回没有给出返回类型

英文：5

#### 示例代码是否有效？

中文：4

英文：4

#### 中英文内容是否一致？

【不一致】

#

[2020-11-21 03:25] merlinarer commented on #28746
具体原因不清楚，最后通过安装docker,用docker的cuda环境解决了，谢谢

[2020-11-21 03:25] #28746 closed, assigned to zhwesky2010

[2020-11-21 03:28] AnBaolei1984 opened #28863 "【2.0 API文档内测】CrossEntropyLoss文档问题"
缺少源代码链接

[2020-11-21 03:31] haozech commented on #28778
可以从这里参考docker配置。https://www.paddlepaddle.org.cn/documentation/docs/zh/install/install_Docker.html   报错问题已经收到，分析后会给您反馈~

[2020-11-21 03:32] ctkindle opened #28864 "2.0 API文档内测】paddle.vision.models.ResNet 文档问题"
### 文档问题描述：【2.0 API文档内测】paddle.vision.models.ResNet 文档问题

#### API文档描述是否清晰？

中文：5

英文：4
* 删除代码示例后的无关内容：
[code]

#### 参数说明是否清晰

中文：5

英文：5

#### 返回/形状说明是否清晰

中文：5

英文：2
* 没有注解返回的参数

#### 示例代码是否有效？

中文：5

英文：5

#### 中英文内容是否一致？

【不一致】

#### 综合

评分：4
* 为何要加forward()成员函数的介绍代码？如果是为了说明paddle.vision.models.ResNet这样的高级api也是继承自nn.Layer类，使用其成员函数，最好说明下这一点

[2020-11-21 03:34] AnBaolei1984 commented on #28863
1. 中文处缺少源代码链接

[2020-11-21 03:35] AnBaolei1984 commented on #28863
2. 中英文不一致。英文处需要将Parameters拆分成Parameters和Shapes

[2020-11-21 03:36] haozech commented on #28841
您好，从报错信息上来看首先您需要确认安装gpu版本的paddle还是cpu版本的，如果是gpu版本，那么您需要安装与cuda版本匹配的paddle，请参考这里 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-release  选择适合的whl包安装

[2020-11-21 03:37] i02-c opened #28865 "【2.0 API文档内测】CrossEntropyLoss 文档问题"
### 文档问题描述：中文的为了便于用户使用删繁就简，让整体特别有用但是还是希望能够稍微将英文中的实例引入，。。

#### API文档描述是否清晰？
如：中文5
英文4

#### 参数说明是否清晰
清晰
中文5
英文4

#### 返回/形状说明是否清晰
无误
中文5
英文4

#### 示例代码是否有效？
中文5
英文4

#### 中英文内容是否一致？
中英文API略有描述不一致；
中文4
英文5
#### 其他
文档页面打不开；文档缺失；文档中有死链；

暂无

[2020-11-21 03:48] AnBaolei1984 opened #28866 "【2.0 API文档内测】cross_entropy文档问题"
1. 英文文档参数错误，看了代码，不应该有reduction='mean' 参数
2. 中文文档对于类型的说明，应该是Tensor，不是 Variable

[2020-11-21 04:00] AnBaolei1984 opened #28867 "【2.0 API文档内测】Dropout2D文档问题"
1. 中文说明链接失效
2. 英文例子处还有 System Message: ERROR/3 (/usr/local/lib/python3.6/site-packages/paddle/nn/layer/common.py:docstring of paddle.nn.layer.common.Dropout2D, line 28)

感觉这个op文档还没有写好

[2020-11-21 04:10] AnBaolei1984 opened #28868 "【2.0 API文档内测】functional.dropout2d文档问题"
1. 中文文档，缺少第四个data_format参数

2. 英文示例处，有System Message: ERROR/3 (/usr/local/lib/python3.6/site-packages/paddle/nn/functional/common.py:docstring of paddle.nn.functional.common.dropout2d, line 27)

Error in “code-block” directive: maximum 1 argument(s) allowed, 7 supplied.