[2022-08-05 03:22] jiweibo commented on #44915
请问关闭所有优化的情况下能正常跑吗？
config.SwitchIrOptim(false);

[2022-08-05 03:32] HoratioJSY commented on #44915
关闭所有优化，只要开了collect_shape_range_info ，就会报错。

这个配置下是会报错的：

[code]

这个配置下是没问题的：

[code]

[2022-08-05 03:33] iclementine commented on #44916
合理。
min-max normalization 是不需要求平均值的。
(x-sigma)/mu 这种是 z-score 标准化。

[2022-08-05 03:41] iclementine commented on #44916
我们稍后修改一下教程。

[2022-08-05 03:42] Initial01LingXu commented on #44916
z-score 标准化公式应该是(x-mu)/sigma，要用z-score 标准化公式分母也应改为sigma公式，而不是简单的最大值减最小值。

[2022-08-05 05:18] Ligoml opened #44921 "test label"
### bug描述 Describe the Bug

此issue用于测试github label，值班同学请忽略~

测试case：

- [x] github标签向icafe自动同步 - following up & bug
<img width="633" alt="image" src="https://user-images.githubusercontent.com/39876205/183028990-c4eac098-1af0-4ada-8319-1eb2d0be5ec9.png">

- [x] github标签向icafe自动同步 - close & feature
<img width="669" alt="image" src="https://user-images.githubusercontent.com/39876205/183053535-702452d

[2022-08-05 05:32] jerrywgz commented on #44814
上面这个是paddledetection 基于c++ inference的部署示例代码，工程量不大，可以参考下

[2022-08-05 06:27] XYZ-916 commented on #44916
你好，非常感谢能够指出教程中的错误。归一化确实是减去最小值而非均值。相关部分内容已经进行了修改。再次对您的细心发现表示感谢。

[2022-08-05 06:27] #44916 closed, assigned to iclementine

[2022-08-05 07:01] HoratioJSY commented on #44915
可能上面的观察不是很正确的，在保持训练和导出代码不变的情况下，我重新导出一次模型之后，gpu dnn handle is nullptr 的报错在开启collect_shape_range_info 的情况下一定会出现。而不开启collect_shape_range_info ，会随机出现这个报错，或者正常运行。

如果运行时配置`export GLOG_v=10`，所有日志也只有如下报错部分，会出现ERROR的字样：

[code]

[2022-08-05 08:20] stvlllll opened #44927 "Linux下Conda安装后如何使用飞桨进行python程序的编写"
### 请提出你的问题 Please ask your question

Linux下Conda安装后，是自己再安装一个jupyter或者pychram，在上面直接写就行了吗

[2022-08-05 09:13] ChenjieXu commented on #44608
@thisjiang  十分感谢您的回复。CUDA11 + Ampere架构是符合我们场景的，我们可以研究一下，我们也在同步了解道客的产品。

[2022-08-05 09:13] #44608 closed, assigned to thisjiang

[2022-08-05 09:19] iclementine commented on #44927
IDE 或者 编辑器，或者 jupyter 之类的 notebook(literal programming 工具) 都是根据个人习惯选择，都可以的。

[2022-08-05 09:22] txyugood commented on #44501
【队名】：txyugood

【序号】：32

【论文】：PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds

【状态】：报名&提交

【repo链接】： [https://github.com/txyugood/PaddlePAConv](https://github.com/txyugood/PaddlePAConv)

[2022-08-05 09:35] txyugood commented on #44501
【队名】：txyugood

【序号】：32

【论文】：PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds

【状态】：报名&提交

【repo链接】： https://github.com/txyugood/PaddlePAConv

[2022-08-05 11:18] Asthestarsfalll commented on #43938
【队名】：这个队长很懒
【序号】：104
【状态】：提交作品
【链接】：https://github.com/openvinotoolkit/openvino/pull/12437

[2022-08-05 12:49] liuxiaohui1221 opened #44939 "windows pip安装paddle==1.0.2报错"
### 问题描述 Issue Description

安装命令：pip install paddle==1.0.2 --no-cache-dir -i https://pypi.tuna.tsinghua.edu.cn/simple
错误信息如下：

`
(ctc) PS E:\pycharm_workspace\syntactic-experts\model\escspell\apex> pip install paddle==1.0.2 --no-cache-dir -i https://pypi.tuna.tsinghua.edu.cn/simple
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple, https://pypi.ngc.nvidia.com
WARNING: Retrying (Retry(to

[2022-08-05 13:37] liuxiaohui1221 commented on #44939
运行代码错误：
Traceback (most recent call last):
  File "E:/work/ECSpell/Code/evaluate.py", line 5, in <module>
    from pipeline import tagger
  File "E:\work\ECSpell\Code\pipeline.py", line 2, in <module>
    from processor import VocabProcessor
  File "E:\work\ECSpell\Code\processor.py", line 4, in <module>
    import paddle
  File "C:\ProgramData\Anaconda3\envs\ctc\lib\site-packages\paddle\__init__.

[2022-08-05 13:45] iclementine commented on #44939
此 paddle 非彼 paddle.

paddlepaddle 的包名叫做 paddlepaddle 或者 paddelpaddle-gpu.

[2022-08-05 15:42] xiaoming-master commented on #44501
【队名】：小明的团队

【序号】：22

【论文】：Text Spotting Transformer

【状态】：报名

【repo链接】：https://github.com/xiaoming-master/ming-TESTR-paddlepaddle

[2022-08-05 16:01] xiaohemaikoo opened #44942 "windows develop分支从源码编译 cmake报错"
### bug描述 Describe the Bug

按照官网步骤，在windows develop分支下：
执行到
cmake .. -GNinja -DWITH_GPU=ON
报错。
release/2.3 cmake 正常。

![QQ图片20220805155829](https://user-images.githubusercontent.com/35183089/183116149-96085a19-0bd7-45a0-9d67-74a1161e047b.png)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-06 01:35] DrRyanHuang commented on #44501
【队名】：卢本伟牛逼

【序号】：12

【论文】：[Dynamic Anchor Learning for Arbitrary-Oriented Object Detection](https://arxiv.org/abs/2012.04150)

【状态】：报名

【repo链接】：https://github.com/DrRyanHuang/DAL

[2022-08-06 03:00] tangmingkai opened #44943 "put_along_axis for int"
### 请提出你的问题 Please ask your question

如果输入数组和value都是int，是否有put_along_axis 的替代函数，目前文档上写着put_along_axis只支持float32和float64

[2022-08-06 03:16] taylover2016 opened #44944 "paddle.cos 输出错误"
### bug描述 Describe the Bug

import paddle
import math

x = paddle.to_tensor([160.22123718, 7*math.pi])

out = paddle.cos(x)
print(out)

输出out 第一项为 -1

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-06 07:09] wgq18 commented on #43908
Yes, Ubuntu 22.04 can not support paddle2.3.1

[2022-08-06 07:10] wgq18 commented on #44721
请问ubuntu22.04如何安装paddle？需要降级gcc版本吗？@Tlntin

[2022-08-06 07:18] tikboaHIT commented on #44668
非常感谢你的安装指导，参考你的步骤逐渐安装后，碰到如下cu代码编译问题：

1 error detected in the compilation of "/home/dell/code/Paddle/paddle/phi/kernels/funcs/eigen/reverse.cu".
1 error detected in the compilation of "/home/dell/code/Paddle/paddle/phi/kernels/funcs/eigen/pad.cu".
make[2]: *** [paddle/phi/kernels/funcs/eigen/CMakeFiles/eigen_function.dir/build.make:314：paddle/phi/kernels/funcs/eigen/CMakeFiles/eigen_function.dir/p

[2022-08-06 09:24] jiamingkong commented on #44501
【队名】：什么是惊喜

【序号】：54

【论文】：[Unsupervised deep learning for super-resolution reconstruction of turbulence](https://arxiv.org/pdf/2007.15324.pdf)

【状态】：报名

【repo链接】：https://github.com/jiamingkong/SR-Turb-paddle

[2022-08-06 15:57] hxzd5568 commented on #43938
【队名】：Core Arpt
【序号】：71

【状态】：报名

【链接】：https://github.com/hxzd5568/CINN

[2022-08-06 16:16] hxzd5568 commented on #43938
【队名】：Core Arpt

【序号】：71

【状态】：提交提案

【PR链接】：PaddlePaddle/community#197

[2022-08-07 01:30] yaoxuefeng6 commented on #44905
不同硬件训练性能确实有可能有所不同

[2022-08-07 02:57] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：76
【状态】：报名
【链接】：https://github.com/zrr1999/CINN

[2022-08-07 02:57] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：78
【状态】：报名
【链接】：https://github.com/zrr1999/CINN

[2022-08-07 06:46] James4Ever0 commented on #44830
运行模型可以使用gpu或者neural engine 训练模型使用gpu

可以用coreml createml 进行训练和运行 用metal 3进行训练

目前tensorflow和pytorch都已经支持了metal 3

[2022-08-07 06:52] James4Ever0 commented on #44830
search for 'gpu' 'opencl' in codebase to find legacy implementations, which are useful for reimplementation in metal 3. existing implementations in tensorflow-metal and torch (mps) might also be helpful. needless to say the metal 3 documentation.

[2022-08-07 08:43] HoratioJSY opened #44950 "Paddle Inference 将所有参数与 OP放在 GPU 上推理模型"
### 请提出你的问题 Please ask your question

在 Paddle inference 中，如果配置 paddle.inference.Config.enable_use_gpu() 能够启动 GPU 推理，但是我们在启动 config.enable_profile() 的时候发现 CPU 和 GPU 之前存在不少通信，有一些变量也会放在 CPU 上，所以有没有一种方法强制在 paddle inference 将所有计算节点与参数都放在 GPU 上？

部分性能 profile:

[code]

通过配置参数 GLOG_vmodule=operator=3，能定位到产生通信的节点，或者对应代码。尽管知道哪一行代码产生了set_value操作，但是不知道为什么会有 GPU->CPU的内存复制，或者我有办法将整个图都配置在 GPU 上运行？

部分内存迁移日志，主要

[2022-08-07 09:24] wj-Mcat commented on #33203
I have implemented the type hint feature for paddle:
![types-paddle-mini](https://user-images.githubusercontent.com/10242208/183284234-a608cf6f-16a0-4e5b-bc76-4e88aa988630.gif)

to get details, you can refer to:  https://wj-mcat.github.io/2022/08/07/python/types-paddle/

Hope that it can help you.

[2022-08-07 11:36] weirman commented on #40135
paddlepaddle version ： 2.3.1
未解决

[2022-08-07 13:00] weileehh opened #44953 "gpu version of paddle using docker can't work properly"
I just use docker to pull paddlepaddle:
nvidia-docker pull registry.baidubce.com/paddlepaddle/paddle:2.3.1-gpu-cuda11.2-cudnn8

and then I tried in docker: import paddle, and raise a warining:
/usr/local/lib/python3.7/dist-packages/paddle/fluid/framework.py:517: UserWarning: You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default.
  "You are u

[2022-08-07 13:43] #44953 closed, assigned to LDOUBLEV

[2022-08-07 13:49] freecui commented on #44889
为啥没人回复呢？

[2022-08-07 14:23] ZheyuWalker commented on #44501
【队名】：小镇炼丹师

【序号】：10

【论文】：MaskFormer: Per-Pixel Classification is Not All You Need for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/ZheyuWalker/MaskFormer_Paddle

[2022-08-07 15:19] Asthestarsfalll opened #44955 "develop版本paddle.autograd.grad()报错"
### bug描述 Describe the Bug

develop版本下，paddle.autograd.grad()报错：SystemError: (Fatal) Null autograd_meta gotten from unsafe_autograd_meta()
2.3版本下可正常运行
代码见：https://github.com/PaddlePaddle/PaddleScience/pull/142
[报错位置](https://github.com/PaddlePaddle/PaddleScience/blob/d98f626e22351f08fee8f411f860f176da627455/paddlescience/network/grad_norm.py#L84)：
[code]

### 其他补充信息 Additional Supplementary Inform

[2022-08-07 16:55] O-O1024 opened #44956 "unfold后再fold，结果不一致"
### bug描述：如题，这种情况是kernel_size=1时出现的，kernel_size=2居然又没事了

[code]

结果：
a= Tensor(shape=[1, 1, 3, 3], dtype=float32, place=Place(gpu:0), stop_gradient=True,
       **[[[[1., 2., 3.],
          [4., 5., 6.],
          [7., 8., 9.]]]])**

b= Tensor(shape=[1, 4, 4], dtype=float32, place=Place(gpu:0), stop_gradient=True,
       [[[1., 2., 4., 5.],
         [2., 3., 5., 6.],
         [4., 5., 7., 8.],

[2022-08-07 17:19] #44956 closed, assigned to nobody

[2022-08-08 01:06] Shrinco opened #44960 "paddle inference TensorRT加速推理报错"
### 请提出你的问题 Please ask your question

我在使用paddle inference推理时出现了下图中的错误，使用GPU推理时不会报错使用TensorRT加速时就会出现下图中的错误，没有查到相关资料，请问该如何解决呢？
![image](https://user-images.githubusercontent.com/50402380/183319436-d23c8d9a-00aa-478b-9543-3acc8220ea9f.png)

[2022-08-08 01:08] LDOUBLEV commented on #44955
感谢反馈，我们尽快排查下，可否提供你使用的develop paddle版本的commit

[2022-08-08 01:25] Tlntin commented on #44668
我没遇到这些问题，你的cuda,cudnn,nccl环境是？是否都装在/usr/local/cuda?

[2022-08-08 01:36] LDOUBLEV commented on #44950
可否提供下执行预测的代码

[2022-08-08 01:44] HoratioJSY commented on #44950
下面两个函数大概是，构建predictor与执行predictor的代码，正式推断时会启动args.use_trt和args.int8。

[code]

[2022-08-08 01:54] Tlntin commented on #44721
参考此贴：
https://github.com/PaddlePaddle/Paddle/issues/44668

[2022-08-08 02:13] chensuo2048 opened #44961 "Paddle2.2.0编译后找不到libpaddle_fluid.so文件"
问题描述 Issue Description

ubuntu18.04、gcc7.5.0、cmake3.16.0、paddle2.2.0

使用cmake构建：

cmake -DCMAKE_BUILD_TYPE=Release -DWITH_PYTHON=OFF -DWITH_MKL=ON -DWITH_MKLDNN=OFF -DWITH_GPU=OFF -DWITH_FLUID_ONLY=ON ..

make -j$(nproc)

编译成功后，build文件夹内存在paddle_inference_install_dir，但是找不到任何包含libpaddle_fluid.so或libpaddle_fluid.a的库文件。

我需要使用lac分词工具，编译lac的时候指定了paddle_inference_install_dir为PADDLE_ROOT，但是编译报错找不到libpad

[2022-08-08 02:15] xiaoxiaohehe001 commented on #44889
可以将config.switch_ir_optim(False) 修改为 config.switch_ir_optim(True)进行测试，https://github.com/PaddlePaddle/ERNIE/blob/94a2367ba7f0f83b48330233450ea095d8dc9382/erniekit/controller/inference.py#L71

[2022-08-08 02:36] huangjun12 commented on #44943
用[paddle.cast](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/cast_cn.html#cast)先转一下数据类型 是否满足需求呢

[2022-08-08 02:45] yeyupiaoling opened #44966 "动态图多机多卡卡在not ready endpoints:['192.168.4.7:6070']"
### 请提出你的问题 Please ask your question

 - PaddlePaddle 2.3.1
 - Ubuntu 18.04

第一台服务器命令：
[code]

输出：
[code]

第二台服务器命令：
[code]

输出：
[code]

防火墙是关闭的，一直卡在这里。
参考文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/06_distributed_training/cluster_quick_start_cn.html

[2022-08-08 02:46] #44665 closed, assigned to nobody

[2022-08-08 02:47] huangjun12 commented on #44944
输出确实是-1的吧

[2022-08-08 03:08] heliqi commented on #44950
有些op目前不支持转换到trt，会退回到走paddle原生算子。这个需要提供下模型具体分析，才能确定是否能支持全部进入trt。

顺便问下: 目前trt int8的性能不满足需求？ 在什么GPU卡上，需要提升到多少才能满足需求？你们的业务场景是？

[2022-08-08 03:26] HoratioJSY commented on #44950
嗯嗯，我们是通过量化训练，再转到trt推断，trt确实会运行一些INT8子图，在A100上速度上也挺快的，只看纯计算的时间，我觉得这些都是没问题。问题在于TRT子图外面，paddle原生算子显存与内存的拷贝占用了太多时间。如果去掉我知道的那些会产生大量CPU与GPU内存拷贝的代码，那么速度上就会有比较大的提升，但是实际上并不能去掉。所以想要了解一下，inference能不能将所有Paddle原生OP都移到GPU上，不让在CPU。

[2022-08-08 03:32] HoratioJSY commented on #44950
在A100上纯计算的话性能是满足的，但实际还会有一些conditional_block和set_value，目前它们不能转化到trt子图，所以需要优化这部分时间。我们的业务场景是代码生成吧，大规模NLP模型需要保证单步解码速度大概在30ms左右。

[2022-08-08 03:40] Asthestarsfalll commented on #44955
hi, @LDOUBLEV
提供了一个复现：
[code]
develop版本运行结果：
![image](https://user-images.githubusercontent.com/72954905/183333741-f404fe78-36ab-4a7d-8f8a-a933eb11dc57.png)
2.3版本：
![image](https://user-images.githubusercontent.com/72954905/183333773-ce25acd0-e709-4b11-a180-d80dd16bcdba.png)

[2022-08-08 03:44] heliqi commented on #44950
方便提供下模型和简单运行的demo吗？
能不能把op都放入trt子图需要具体针对op看下才能给你答复。
你说的纯计算时间是统计了整个 predictor.run(copyfromcpu、copytocpu没统计) 还是说通过profile把各个op的计算时间加起来？

[2022-08-08 03:50] JZ-LIANG commented on #44961
请参考这个链接配置编译环境

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/high_level_api.md

[2022-08-08 04:54] HoratioJSY commented on #44950
完整的模型特别大，百亿级参数量，不太好提供运行demo；如果实在需要的话，可以初始化一个几千万参数的小模型做测试。我们之前感觉主要产生计算的OP已经放入了TRT里面，paddle 原生OP到并不是一定要放进去，因为即使放进去应该收益也不会特别大。关于不同OP的耗时，这个后面提供了两份完整的profile。

没，只是简单的看profile中tensorrt_engine的耗时，它承担了模型backbone部分（在前一步做量化训练时只量化了matmul算子），它是最主要的耗时；其它的耗时主要就是GpuMemcpySync。

附一：在计算图内保存中间计算状态，即将一个大张量set_value到内部的一个Parameter变量，方便在下一次调用计算图时复用这个Parameter张量。

[code]

附二：在计算图中不保存中间计算状态，每次重新计算

[code]

[2022-08-08 05:50] weiyang-1 opened #44974 "paddlepaddle-gpu==1.2.0post97设置为cpu预测无效，安裝1.2.0的包无法找到资源"
### 问题描述 Issue Description

![image](https://user-images.githubusercontent.com/34814137/183347746-cf91ba50-e42b-4c72-87f7-566a6ea989c1.png)

### 版本&环境信息 Version & Environment Information

paddle version: 1.2.0gpu-post97
系统环境Centos7
python2.7.5

[2022-08-08 05:52] weiyang-1 commented on #44974
I0808 13:51:41.251214 22374 Util.cpp:166] commandline:  --use_gpu=False --trainer_count=1
Init Predict Network
F0808 13:51:41.569115 22374 hl_cuda_device.cc:569] Check failed: cudaSuccess == cudaStat (0 vs. 35) Cuda Error: CUDA driver version is insufficient for CUDA runtime version
*** Check failure stack trace: ***
    @     0x7f36157624ad  google::LogMessage::Fail()
    @     0x7f3615765f5c  go

[2022-08-08 06:09] JZ-LIANG commented on #44966
命令使用是正确的，但是默认端口 6070 被占用 （其他进程）， 请确认节点上其他进程端口占用情况, 或使用 FLAGS_START_PORT flag 设置另外的空闲端口。

[2022-08-08 06:11] yeyupiaoling commented on #44966
请问FLAGS_START_PORT flag 怎麽使用，文档没有搜索到这个命令，
https://www.paddlepaddle.org.cn/searchall?q=FLAGS_START_PORT&language=zh&version=2.3

[2022-08-08 06:31] heliqi commented on #44950
1. 你使用的paddle inference库是多少版本？
2. 我看你有使用过debug模式(`config.switch_ir_debug()`), 能用visualdl或netron看看经过所有pass之后的图吗(即“_opt_cache”目录里数字最大的那个 xx_xxx.pdmodel)
3. 可以参考这个 [文档](https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/docs-official/guides/performance_tuning/performance_analysis_profiler.md) ，用 NVIDIA Nsight Systems  可视化图确认下 : GpuMemcpyAsync:GPU->CPU 主要由哪些算子导致的 ,上面的profile不能确定。

如果在工具

[2022-08-08 06:46] chensuo2048 commented on #44961
你好，这个链接跟我的问题好像不太相关。我遇到的问题是lac编译失败了

[2022-08-08 07:12] kehuo commented on #44894
@yaoxuefeng6 最小可复现代码：

运行环境：
- [paddle提供的 docker 镜像](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html) ：
registry.baidubce.com/paddlepaddle/paddle:2.3.1-gpu-cuda11.2-cudnn8

- GPU型号：Nvidia A30

- 用于复现问题的数据下载链接： https://github.com/KeHuoBot/storage/raw/main/paddle_dataset_train

问题描述：
同一个输入tensor，已知其取值范围正常。对该tensor调用相同的 paddle.nn.functional

[2022-08-08 07:17] freecui commented on #44889
已经更改了为 config.switch_ir_optim(True)进行测试，但是没有什么帮助，依然报之前的错误

[2022-08-08 07:31] HoratioJSY commented on #44950
嗯嗯，感谢，paddle 版本是2.3.0，“_opt_cache” 里面最大的是27_ir_transpose_flatten_concat_fuse_pass.dot。之前尝试用过NVIDIA Nsight Systems，也能可视化计算时间，但好像有点看不懂，因为我知道哪一行代码会产生set_value，就没继续看了，我可以再试试。能问一下您的联系方式么。。

[2022-08-08 08:24] heliqi commented on #44950
不用看 .dot， 可视化看.pdmodel。 这个是经过pass之后保存的模型图

[2022-08-08 08:31] HoratioJSY commented on #44950
哦，我看错了，以为前面问有多少个.pdmodel，所以贴上了带数字的那个文件。能加一下您的联系方式么，效率高一些。。

[2022-08-08 08:55] gglin001 opened #44978 "Can Paddle build with clang on Linux?"
### 请提出你的问题 Please ask your question

在 Linux 尝试了使用 clang-6 构建 paddle 遇到很多编译器报错, 尝试临时修复也失败, 请问在 Linux 上支持使用 clang 构建吗? 对 clang 版本有要求吗?

[2022-08-08 09:00] heliqi commented on #44950
xxx

[2022-08-08 09:07] HoratioJSY commented on #44950
嗯嗯，感谢

[2022-08-08 09:23] liyongkang123 opened #44980 "Need to support CUDA11.3 version"
### 需求描述 Feature Description

您好，想问下可以支持CUDA11.3 版本吗，11.3作为cuda系列里面一个比较重要的版本，如果我们飞桨可以支持的话就更好了，现在我在使用中也比较急需，感谢了！！！

### 替代实现 Alternatives

_No response_

[2022-08-08 09:41] HUSTHY opened #44981 "paddle2.3.1.post112"
### bug描述 Describe the Bug

‘’‘
python
from paddlenlp.transformers import BertPretrainedModel,BertModel
import paddle.nn as nn
import paddle

class SentenceBert(BertPretrainedModel):
    """
    __init__(self,bert) 一定要带一个参数，外层from_pretrained()才能成功
    bert会在from_pretrained()的时候初始化成功然后传入
    """
    # base_model_prefix = "bert"
    def __init__(self, bert):
        super(SentenceBert,self).__init__

[2022-08-08 09:47] flytocc commented on #44501
【队名】：拼手速

【序号】：4

【论文】：[MicroNet: Improving Image Recognition with Extremely Low FLOPs](https://openaccess.thecvf.com/content/ICCV2021/html/Li_MicroNet_Improving_Image_Recognition_With_Extremely_Low_FLOPs_ICCV_2021_paper.html)

【状态】：提交

【repo链接】：https://github.com/flytocc/PaddleClas/tree/micronet

[2022-08-08 10:18] JZ-LIANG commented on #44981
loss 复现问题请先排查一下四个方向：
0. 关闭模型中所有可能产生的随机的layer，看是否能复习：比如关闭 dropout， random sample 等
1. 模型参数初始化是否相同： 可以通过在训练第一个step 前打印所有参数查看
2. 模型更新设置是否相同：比如 lr 设置，优化器设置，grad clip 设置
3. 训练数据是否固定： 比较前后两次训练中，dataloader 出来的 ids，label 等数据是否一致

[2022-08-08 10:21] JZ-LIANG commented on #44980
paddle 是支持 cuda11.3 的。
但你是指官方 的 pip 版本吗？

如果急需 cuda11.3 支持可以先在 对应环境下源码编译，请参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/linux-pip.html

[2022-08-08 10:30] JZ-LIANG commented on #44974
老版本 paddle 可以通过 checkout 到对应版本 release 分支上 源码编译获得。 请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html

[2022-08-08 12:26] lidanqing-vv commented on #33168
Releate to #44416.
Hi, @jakpiase Enabling fc_lstm_fuse_pass cause accuracy test failure. So I suggest closing this issue for now
And ch_ppocr_mobile_v1.1_rec is not high priority model. What do you think?

[2022-08-08 13:03] jakpiase commented on #33168
@lidanqing-intel you are right, it is really low priority for now, I'll close that issue

[2022-08-08 13:03] #33168 closed, assigned to baoachun

[2022-08-08 13:13] lidanqing-vv commented on #33168
Enabling fc_lstm_fuse_pass with #44416 cause other models failure. I think for now let's not enable it. Only when high priority model need this pass, we can enable it.
[code]

[code]

[2022-08-08 17:03] doubibobo commented on #44501
【队名】：好想摸鱼啊

【序号】：30

【论文】：[COOT: Cooperative Hierarchical Transformer for Video-Text Representation Learning](https://arxiv.org/abs/2011.00597)

【状态】：报名

【repo链接】：https://github.com/doubibobo/COOT_Paddle.git

[2022-08-08 21:01] lidanqing-vv commented on #43215
I removed the Paddle-Deepmd from this issue, because the PaddleHPC multithreading issue has been converted to:
Enabling Paddle-Deepmd using FP32 mkldnn.

[2022-08-09 01:08] HUSTHY commented on #44981
排查过了的
0、我的组网代码里没有能产生随机的layer，只有一个bert和一个全连接层
1、没有排查不过应该也是差不太多，前几个epoch是一样的loss是一样的，后面就不一样了
2、从代码来看都是同一个设置，lr初始值一样、优化器一样、没有梯度裁剪
3、是一样的
CPU模式下运行结果可复现

[2022-08-09 02:38] Asthestarsfalll commented on #44955
@LDOUBLEV
你好，请问有任何进展吗？

[2022-08-09 04:39] #44927 closed, assigned to iclementine

[2022-08-09 05:19] #44939 closed, assigned to iclementine

[2022-08-09 06:04] jiweibo commented on #44915
看问题感觉很奇怪，CollectShape相当于是关掉所有优化运行，应当和关优化的效果相同的。

请问下能否Share下复现错误的模型呢，我本地复现下问题

[2022-08-09 06:10] thunder95 commented on #43938
【队名】：thunder95
【序号】：33
【状态】：报名&提交提案
【PR链接】：https://github.com/PaddlePaddle/community/pull/199

[2022-08-09 06:10] thunder95 commented on #43938
【队名】：thunder95
【序号】：31
【状态】：提交作品
【PR链接】：https://github.com/PaddlePaddle/Paddle/pull/44946

[2022-08-09 06:30] yeyupiaoling commented on #44966
@JZ-LIANG 请问FLAGS_START_PORT flag 怎麽使用，文档没有搜索到这个命令

[2022-08-09 07:29] DrRyanHuang opened #45007 "[论文复现]masked_select 返回错误的值"
### bug描述 Describe the Bug

`paddle.masked_select` 返回错误的值

我本要实现一个这样的需求：
[code]

就是为了实现这样的索引操作

在我的代码中是这样实现的：
[code]

---------------------------------
执行 `paddle.masked_select` 之前
[code]

---------------------------------
执行 `paddle.masked_select` 之后
[code]

没有一个数字对得上，请问这大概是什么原因呢?

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-09 07:50] super-tian opened #45010 "lgb使用脚本任务，调用GPU进行训练时，可以运行成功但是不进行训练。"
### bug描述 Describe the Bug

环境配置：单机四卡

import lightgbm as lgb

notebook 上可以正常使用CPU训练

lgb 参数配置：
    params = {
............
        "device":"gpu",
        "gpu_platform_id":-1
        }

运行命令：
python -m paddle.distributed.launch --gpus="0,1,2,3" run001.py

报错信息：
'''
aunch train in GPU mode!
launch proc_id:491 idx:0
launch proc_id:494 idx:1
launch proc_id:499 idx:2
launch proc_id:504 idx:3
Traceba

[2022-08-09 08:13] PMPBinZhang opened #45014 "使用gpu版本的paddlepaddle infer多张图片时候提示显存不足"
### bug描述 Describe the Bug

imag_vin是一张(155, 1355, 3)维度的图片
使用gpu 3090

rec_client = pdx.deploy.Predictor('./model_rec', use_gpu=True)
s1 = time.perf_counter()
# results = rec_client.predict(image_vin)
results = rec_client.predict([image_vin, image_vin, image_vin, image_vin, image_vin, image_vin, image_vin, image_vin, image_vin, image_vin])
e1 = time.perf_counter()
print("gpu: ", (e1 - s1))

### 其他

[2022-08-09 08:21] jczaja commented on #43215
@jiangjiajun , @lidanqing-intel , @yaomichael , @wozna , @aleksanderstankiewicz

Some update where we are with improving Ernie-3.0 int8 multi-threading scalability. We finished improving parallelization of matmul int8  and overall (whole model) multi-threading performance scalability is around **~6.6**  (We improved from 5.9 -> 6.6). Here is a corresponding picture:
![Ernie-3 0 int8 CLX onednn-num

[2022-08-09 08:29] Ligoml commented on #44820
你好，fluid下的API目前不推荐使用，如果你使用paddle.nn.functional.hardsigmoid没有出现其他问题，那我们建议是不做修改~

[2022-08-09 08:29] #44820 closed, assigned to nobody

[2022-08-09 08:38] HoratioJSY commented on #44915
嗯嗯，稍等，我更新了paddle 2.3.0 到develop分支，对应的paddle inference也是，之前的问题有的解决了（主要是TensorRT子图方面的），后面我会再测一遍while_loop，如果还是一样的我再提供一个测试模型

[2022-08-09 08:59] Ligoml commented on #36774
可以参考这个项目：https://github.com/wj-Mcat/types-paddle

[2022-08-09 08:59] #36774 closed, assigned to nobody

[2022-08-09 09:02] zhwesky2010 commented on #37577
@shizhh 你好，请问现在还有这个问题吗，dropout后面因为另一个问题改过

[2022-08-09 09:29] jeff41404 commented on #36563
You are very welcome to submit implementation of this API to us. You can refer to the requirements of the new API(such as rfc, code and docs) in our current [Hackathon](https://github.com/PaddlePaddle/Paddle/issues/44073#task1), and we can arrange experts to review and discuss.

[2022-08-09 10:16] renmada opened #45020 "[论文复现]如何创建复数的parameter"
### 问题描述 Please describe your issue
1. paddle.create_parameter不能创建complex64的类型
2. set value 报错
[code]
[code]

[2022-08-09 11:16] Alittleegg opened #45021 "三机八卡频繁hang住"
三机八卡的训练出现了频繁hang住的问题，基本上每训半天就会hang住，log中没有任何报错信息，每次hang在不同的step上，麻烦帮忙看一下。

[2022-08-09 11:17] Alittleegg commented on #45021
邮件已收到，谢谢！

[2022-08-09 11:31] Lieberk commented on #44501
【队名】：超级码立

【序号】：23

【论文】：Self-Supervised Predictive Convolutional Attentive Block for Anomaly Detection

【状态】：提交

【repo链接】：https://github.com/Lieberk/Paddle-SSPCAB

[2022-08-09 12:03] #44896 closed, assigned to yaoxuefeng6

[2022-08-09 12:03] #44846 closed, assigned to nobody

[2022-08-09 12:05] #44746 closed, assigned to FrostML

[2022-08-09 12:06] #44682 closed, assigned to ceci3

[2022-08-09 12:44] pangyoki commented on #45014
你好，尝试减小batch size或者图片数量可以成功运行吗？

[2022-08-09 12:45] pangyoki commented on #45010
你好，看报错是pandas的问题，可以看下单独使用pandas库是不是本来就有问题。

[2022-08-09 12:53] pangyoki commented on #45007
你好，我这边develop分支测试没有问题，请问你使用的哪个版本的paddle？

[code]

[2022-08-09 13:20] pangyoki commented on #45020
你好，目前不支持复数类型的参数，请问是在什么场景下需要使用呢？

[2022-08-09 13:44] fmscole commented on #44668
费了半天劲，从20.04升级到22.04，发现paddle不行了，哎。。。

[2022-08-09 14:04] DrRyanHuang commented on #45007
@pangyoki
这是我的主机信息：
[code]

执行代码：
[code]

输出：
[code]

[2022-08-09 15:04] renmada commented on #45020
论文复现赛,torch代码
[code]

[2022-08-09 16:25] fmscole commented on #43411
运行paddle.utils.run_check()就是这个错误了
wsl2+cuda11.7

[2022-08-10 00:51] yeyupiaoling opened #45026 "在训练过程中出现malloc_consolidate(): invalid chunk size"
### 请提出你的问题 Please ask your question

 - PaddlePaddle 2.3.1
 - Ubuntu 18.04
 - 双卡1080ti
 - CUDA 10.2

在训练过程中出现以下错误，前面已经正常训练了10多轮了。
[code]

[2022-08-10 02:27] Bobholamovic commented on #44904
Currently, `fluid.layers.elementwise_floordiv()` supports only input data of int32 and int64.

[2022-08-10 04:11] JayLee15 commented on #43538
@yeliang2258

[2022-08-10 04:13] JayLee15 commented on #43538
`set -e
model_names=(
mask_rcnn/mask_rcnn_r50_vd_fpn_2x_coco
)

pretrained_models=(
/xxx/data/init_models/dygraph/paddle_detection/mask_rcnn_r50_vd_fpn_2x_coco.pdparams
)
export_dir=/xxx/data/objdet/export_model
data_dir=/xxx/data/objdet/coco/coco_mini2017
json_file=annotations/mini_instances_val2017.json
images=mini_val2017
num_classes=80

for i in ${!pretrained_models[@]}
do
  model_name=${model

[2022-08-10 04:13] JayLee15 commented on #43538
@yeliang2258

[2022-08-10 06:47] yeliang2258 commented on #43538
@JayLee15 Paddle develop版本的MKLDNN和Native CPU已经对齐

[2022-08-10 06:57] JayLee15 commented on #43538
ok thx~ @yeliang2258

[2022-08-10 07:06] wykkyle opened #45039 "paddle.jit.to_static修饰下，函数返回张量的梯度标记"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/20754685/183834856-c7609a9a-383c-4948-91f4-6a4f56b19cab.png)

用to_static转静态图时，报错说某操作仅支持stop_gradient为true的情况。
检查发现一些函数，如paddle.meshgrid：
在to_static修饰下，返回的tensor变量的stop_gradient值为False，
没有to_static修时，返回的tensor变量的stop_gradient值为True。

这种程序行为应该如何理解。
希望不要求导，是应该手工设置stop_gradient值为True吗。

paddle版本：2.3.1

[2022-08-10 07:15] wanghuancoder commented on #45026
你好，你提供的信息太少了。我没有办法通过以上信息做什么怀疑或者建议。
你可以使用GDB进行调试：
1. 如果有core dump，可以 gdb python coreXXX
2. 如果没有core dump，可以 gdb -ex r --args python <programname>.py <arguments>

[2022-08-10 07:16] yeyupiaoling commented on #45026
@wanghuancoder 它输出的就这三行。我试试你几个命令

[2022-08-10 07:19] duyongqi commented on #44501
【队名】：那拒绝了

【序号】：兴1

【论文】：Rethinking Bottleneck Structure for Efficient Mobile Network Design

【状态】：报名

【repo链接】：https://github.com/duyongqi/rethinking_bottleneck_design_paddlepaddle

[2022-08-10 07:29] tangmingkai commented on #44943
可以。。。但为什么不直接内嵌到里面。。。感觉要先cast过去，再put_along_axis，再cast回来，就会比较麻烦

[2022-08-10 07:35] 0x45f commented on #45039
你好，代码中`x, y = rpn()`拿到的x, y的stop_gradient=True就表示**不需要求导**了。如果forward中某些操作说仅支持stop_gradient=True，那么就需要在forward函数中手动设置tensor.stop_gradient=True

[2022-08-10 08:26] monsterlyg opened #45042 "ppdet里添加新的文件夹作为一个module"
### 请提出你的问题 Please ask your question

我在ppdet下面增加了一个新的distillation文件夹，文件夹里面创建了__init__.py，distillation.py，init的内容，
`
from . import distillation
from .distillation import *
`
然后在ppdet的__init__里添加了distillation，但是会有ModuleNotFoundError: No module named 'ppdet.distillation'的错误，怎么添加呢

[2022-08-10 08:36] JZ-LIANG commented on #44981
0.粒度太大了，bert 中是有 dropout 的
4. 如果上述几个点确定没有问题，只能“逐层核”对了。 具体是逐层打印每一层的 前向& 反向的 output，找到第一个对不齐的layer，反馈给我们，我们针对这个layer 来排查。

[2022-08-10 09:01] #45010 closed, assigned to pangyoki

[2022-08-10 09:06] wykkyle commented on #45039
好的，多谢。在多问一句，没有要求stop_gradient=True的地方，忽略stop_gradient的区别不会引起额外运算吧。

[2022-08-10 09:15] #45042 closed, assigned to nobody

[2022-08-10 09:16] fasiondog opened #45046 "大量内存泄露信息"
### bug描述 Describe the Bug

客户程序在使用 2.3.0、2.3.1 版本的 paddle 时，如果自身编译时进行内存泄露检测，在程序退出时 paddle 会报大量的内存泄露信息，也许是因为 paddle 全局变量的原因也许是真的存在内存泄露，大量的泄露信息导致调用 paddle 的程序无法观察到自身有用的泄露信息
1、如果是paddle存在内存泄露，建议解决并在自动测试时附加内存泄露检测
2、如果是paddle全局变量不释放的原因，建议提供清除paddle全局变量的相关方法，以便使用者不被大量的泄露信息淹没

运行 Paddle-Inference-Demo/c++/cpu/resnet50 实例使用 “-fsanitize=address -fsanitize=leak” 进行编译时内存泄露检测

运行输出如下：

WARNING: Logging befor

[2022-08-10 09:18] fasiondog commented on #45046
补充下，2.1.1 版本不存在这些内存泄露信息

[2022-08-10 09:25] 0x45f commented on #45039
因为x, y = rpn()拿到的x, y的stop_gradient=True，paddle.jit.to_static修饰下的forward中的逻辑不会计算反向，所以忽略stop_gradient也不会引起额外的运算

[2022-08-10 09:33] HoratioJSY commented on #44950
在我的模型中，paddle inference在启动TensorRT进行推断时存在大量CPU与GPU内存之间的拷贝，可以通过更新paddle inference 到 develop 的最新版解决。

[2022-08-10 09:33] #44950 closed, assigned to LDOUBLEV, heliqi

[2022-08-10 09:43] wykkyle commented on #45039
明白了。

[2022-08-10 09:43] #45039 closed, assigned to 0x45f, wanghuancoder

[2022-08-10 10:34] phlrain commented on #43610
问题我们已经复现，在排期修复，预计2.4 正式版修复该问题

[2022-08-10 12:25] veyron95 commented on #44955
@Asthestarsfalll 2.3版本是老动态图，develop分支是新动态图。
出现这个问题的原因是新动态 ones_like API的输出Tensor的 stop_gradient=True (默认)，而老动态图输出 Tensor 的 stop_gradient=False。
下面修改可以解决问题：

[code]

[2022-08-10 12:39] Asthestarsfalll commented on #44955
@veyron95
十分感谢！
我尝试进行了修改，可以正常运行，但是其计算得出的数值还是相对2.3版本有所浮动：
![image](https://user-images.githubusercontent.com/72954905/183902931-e5727ae2-a07e-4f12-9d29-2d4fb7f98ebb.png)
![image](https://user-images.githubusercontent.com/72954905/183903239-26763d50-5018-4343-bc27-17cd7e07983b.png)

[2022-08-10 12:49] betterpig opened #45054 "paddle和pytorch对pow(0,0)的梯度结果有diff"
### bug描述 Describe the Bug

Paddle和pytorch在求pow(0, 0)的梯度时结果diff。
Paddle结果：
<img width="583" alt="image" src="https://user-images.githubusercontent.com/51314274/183904449-0d86b677-aa91-459b-8137-6c4bea0a7301.png">

pytorch结果：
<img width="384" alt="image" src="https://user-images.githubusercontent.com/51314274/183904554-fe1f667e-e36b-4c90-ba8a-f6782740f086.png">

复现代码：
Paddle-develop版本

pytorch-1.12

[2022-08-10 15:00] thunder95 commented on #43938
【队名】：thunder95
【序号】：33
【状态】：提交作品
【PR链接】：https://github.com/PaddlePaddle/Paddle/pull/45057

[2022-08-10 17:31] zhangyuqin1998 commented on #43938
【队名】：Core Dump
【序号】：70
【状态】：提交作品
【PR链接】：https://github.com/PaddlePaddle/CINN/pull/878

[2022-08-10 21:44] lidanqing-vv opened #45058 "paddle-deepmd inference with FP32 MKLDNN report "no kernel registered in tanh_grad operator""
### bug描述 Describe the Bug

The PaddleScience subproject paddle-deepmd now could infer with paddle_inference using CPU native double64 ops. The details is in https://github.com/X4Science/paddle-deepmd.

Above repo integrated paddle-deepmd with lammps and paddle_inference, a bit complicated to reproduce, for simplicity, you can reproduce the bug with https://github.com/lidanqing-intel/deep_md_test,

[2022-08-11 01:53] wanghuancoder commented on #45046
感谢您的反馈！我让预测相关研发同学研究一下您的这种情况。

[2022-08-11 01:59] wanghuancoder commented on #45054
感谢您的反馈！@Bobholamovic 请复现以下，并判定是否合理。感谢。

[2022-08-11 02:08] yeyupiaoling commented on #44966
@JZ-LIANG 我知道怎么使用了，但是没有效果，不管怎么设置，开始的端口就是连接不了。
[code]
<br/><br/>

是不是我的命令有问题，我的命令`--ips`指定的IP，第一个是机器本身的IP地址。第二个才是另一台服务器
[code]
[code]

<br/><br/>

如果`--ips`只指定的另一台服务器的IP，如下命令，则会发生错误。这个程序是官方的例子，分别单机多卡训练是正常的。
[code]
[code]

错误如下。
[code]

[2022-08-11 02:12] txyugood commented on #44501
【队名】：txyugood

【序号】：32

【论文】：PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds

【状态】：报名&提交2

【repo链接】： https://github.com/txyugood/PaddlePAConv

[2022-08-11 02:33] kongdebug commented on #44501
【队名】：啊对对对队

【序号】：19

【论文】：[FCCDN: Feature Constraint Network for VHR Image Change Detection](https://arxiv.org/pdf/2105.10860.pdf)

【状态】：报名

【repo链接】：https://github.com/kongdebug/FCCDN_paddle

[2022-08-11 03:00] zhhsplendid commented on #44069
嗨， @SigureMo
1.  我们有对repeat的大致描述，但应该没有强要求repeat的功能。在我们工作经验来看，常常出现各个不同框架，同一个API函数名称代表的具体数学运算不同。因此设计文档也要求描述清楚自己要实现的功能，竞品对比是怎样，我们在审核过程和贡献者一起商量是否实现该功能。
你遇到的具体情况，描述了numpy、tvm、xla的tile功能，不知道能否对照一下numpy、tvm、xla的repeat功能？如果他们都比较类似，那么应该用repeat为参数名实现repeat的功能，而不是考虑tile的功能。我们题目中描述的大致功能是可以根据具体设计、其他框架比较、进行更改的。

2. 如果发现CINN已有现存的工具、函数代码，鼓励用现存代码。因为软件工程往往也强调工具代码的泛用性和复用性。如果发现reverse部分代码实现可以使用到flip，可以通过调用来实现flip。

[2022-08-11 03:39] kouhinn commented on #44323
复现程序稍等我这边整理一下。

[2022-08-11 04:00] yeyupiaoling commented on #44966
哦哦，我知道了，两台机器的ips顺序要一样的。
[code]

但是有一台机器的会报错，错误如下：
[code]

[2022-08-11 04:14] Bobholamovic commented on #45054
该问题可以复现，但我认为该行为无需改变，原因如下：

1. `pow(0, 0)`的值[在微积分中没有定义](https://en.wikipedia.org/wiki/Zero_to_the_power_of_zero)，因为极限$lim_{(x,y)->(0,0)}{x^y}$不存在。由于上述原因，`pow(x,y)`在`(0,0)`处不可微分，只能计算次微分，因此我认为`paddle.power(0, 0)`给出的梯度在数学上是合理的。
2. 在工程上，真正需要用到`pow(0, 0)`的场合较少，如果`paddle.power(0, 0)`给出正常数值的梯度，可能导致代码中某些隐藏的bug难以及时暴露出来。

[2022-08-11 05:08] veyron95 commented on #44955
@Asthestarsfalll 并没有复现出数值相对2.3版本有 diff 的情况，可以安装最新 whl 包测试下

[2022-08-11 05:39] SigureMo commented on #44069
好的明白，我这里优先考虑了描述而没有优先考虑命名。

好的好的，感谢解答。

[2022-08-11 05:45] OccupyMars2030 commented on #43938
【队名】：OccupyMars2025

【序号】：4

【状态】：报名

【链接】：https://github.com/OccupyMars2025/Paddle

[2022-08-11 06:11] Asthestarsfalll commented on #44955
@veyron95 感谢！更新后结果正常了。

[2022-08-11 06:11] #44955 closed, assigned to nobody

[2022-08-11 06:25] jiweibo commented on #45046
这个看起来是误报，paddle注册的operator、kernel等都是static的，要等进程退出前才会释放。
可以用gperftools或者长时间运行的方式检查内存泄露。

[2022-08-11 06:51] ZhangCheng2332 opened #45063 "关于tensor的dtype为complex的问题"
### 请提出你的问题 Please ask your question

我论文中需要计算很多含有虚数的张量，其中有一个要求就是计算paddle.exp(L)，其中L为tensor，dtype为paddle.complex64。但是paddle.exp()只允许输入数据类型为float32、float64的tensor。请问有没有什么解决办法，让我计算dtype为paddle.complex64的tensor时不损失虚部。

源代码：

import paddle
from math import floor
import math

def forward_radon_freq(m,dt,h,p,N,flow,fhigh):
    nt = paddle.to_tensor((m.shape[-2]), dtype=paddle.float32)
    nq = paddle.to

[2022-08-11 07:05] Tnoctran commented on #44501
【队名】：后海

【序号】：7

【论文】：Oriented RepPoints for Aerial Object Detection

【状态】：报名

【repo链接】：https://github.com/Tnoctran/ORAODpaddle

[2022-08-11 07:11] Shrinco opened #45064 "Paddle+TensorRT 支持qt的多线程吗（多线程推理报错）"
### 请提出你的问题 Please ask your question

我在使用 paddle inference 和 TensorRT 在线程中推理模型时，第一次start线程推理可以，第二次推理则会出现错误，在线程中加个死循环则可以一直执行不会中断。错误信息如下:
![image](https://user-images.githubusercontent.com/50402380/184081402-679b4598-29fd-4256-8155-eef399f9d103.png)

版本：
1、paddle inference2.3
2、cuda 11.2  cudnn 8.2  Trt8.0
3、qt 5.13.0

[2022-08-11 07:30] ZhangCheng2332 commented on #45020
您好，我论文中需要计算很多含有虚数的张量，其中有一个要求就是计算paddle.exp(L)，其中L为tensor，dtype为paddle.complex64。但是paddle.exp()只允许输入数据类型为float32、float64的tensor。请问有没有什么解决办法，让我计算dtype为paddle.complex64的tensor时不损失虚部。

[2022-08-11 08:01] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：69
【状态】：报名
【链接】：https://github.com/zrr1999/CINN

[2022-08-11 08:08] Shrinco commented on #43480
请问您的问题解决了吗？我也遇到了多线程推理的问题

[2022-08-11 08:25] betterpig commented on #44942
你好，我在本地拉取最新develop分支无法复现这个问题。你能再试试吗

[2022-08-11 08:26] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：69
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/205

[2022-08-11 08:34] jczaja commented on #43215
@jiangjiajun , @yaomichael , @aleksanderstankiewicz

To improve beyond 6.6x for Ernie-3.0 We need to optimize (both single-threaded and multi-threaded) a CPU operator: **lookup_table_v2**. This operator is not optimized for single-threaded and does not take advantage of multi-threading capabilities. We will not improve further without having it optimize.

-------------------------       Event Summ

[2022-08-11 08:54] fasiondog commented on #45046
不可能靠长时间运行这种方式来检查内存泄露，还是测试时就把可能的检测点覆盖，有没有泄露，测试完立刻就知道了。

[2022-08-11 09:02] Alana123Liu commented on #43480
没有.....这边定位是tensorRT在子线程里终止再继续推理会出现问题，即使在子线程中加入初始化信息，依然会报错。只能初始化一次后一直跑，只要停下来，下一次就报错了......

[2022-08-11 09:09] Shrinco commented on #43480
我刚刚排查出来是子线程没有优化信息的原因导致。加入也会报错吗？您是如何将优化信息添加到子线程中的呢？我也是只要跑起来不停就可以，一旦停下来在推理就会错。是paddle的bug吗？

[2022-08-11 09:24] zzm422 opened #45070 "2.1版本训练权重转1.8版本权重问题"
### 请提出你的问题 Please ask your question

2.1版本训练的权重model.pdparams文件转成1.8版本权重, 文件为__model__和model_params,用于推理?没有找到方法,求助!!!!!!!

[2022-08-11 09:28] ZhangzrJerry opened #45071 "API文档之间冲突"
### bug描述 Describe the Bug

这是一段最简单的代码，用于多层感知机的搭建
[code]
其中在代码第13行中，修改为`model = paddle.Model(lenet_Sequential(),inputs=feature,labels=label)`报**不同**的错误

在API文档1中https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/beginner/train_eval_predict_cn.html#paddle-model ，二、2.1中传入的模型参数未带括号，
[code]
在API文档2中https://www.paddlepaddle.org.cn/documentation/docs/zh/practices/quick_start/linear_regression.

[2022-08-11 09:46] lichade-son commented on #44760
我也遇到了，请问怎么解决啊

[2022-08-11 10:19] marshall-dteach commented on #44501
【队名】：嘟嘟的团队
【序号】：13
【状态】：报名&提交
【repo链接】：https://github.com/marshall-dteach/psanet-main

[2022-08-11 10:27] WJsebastian commented on #44501
【队名】：摸摸头_Sebastian
【序号】：11
【论文】：[SimDR: Is 2D Heatmap Even Necessary for Human Pose Estimation?](https://arxiv.org/abs/2107.03332)
【状态】：报名
【repo链接】：https://github.com/WJsebastian/SimDR.git

[2022-08-11 11:03] sam-johnson opened #45074 "About CUDA Version: 11.7"
### 需求描述 Feature Description

请问 何时可以支持 CUDA Version 11.7 ?

### 替代实现 Alternatives

_No response_

[2022-08-11 12:16] Rayman96 commented on #43938
【队名】：Rayman的团队
【序号】：34
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/204

[2022-08-11 12:24] #45054 closed, assigned to Bobholamovic, wanghuancoder

[2022-08-11 12:35] ZhangzrJerry commented on #45071
ISSUE是我阅读不够细致造成的

要求传入的是一个实例化对象 <img width="603" alt="image" src="https://user-images.githubusercontent.com/87751816/184134004-b78e9909-bb21-408f-ad8b-50f62399bb95.png">

mnist已经是一个对象了 <img width="592" alt="image" src="https://user-images.githubusercontent.com/87751816/184125341-810e42ae-5637-4b23-837c-fc114e09f060.png">

这里传入的是一个类的实例<img width="467" alt="image" src="https://user-images.githubuser

[2022-08-11 12:35] #45071 closed, assigned to zhwesky2010

[2022-08-11 12:36] gsq7474741 commented on #43938
【队名】：PeachML
【序号】：23
【状态】：提交作品
【PR链接】：https://github.com/PaddlePaddle/Paddle/pull/45086

[2022-08-11 12:44] thunder95 commented on #43938
【队名】：thunder95的团队
【序号】：34
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/206

[2022-08-11 13:49] Ramsolz666 commented on #44501
【队名】：没有队名
【序号】：58
【论文】：[TS2Vec: Towards Universal Representation of Time Series](https://arxiv.org/abs/2106.10466)
【状态】：报名&提交
【repo链接】：https://github.com/Ramsolz666/paddle_paper58

[2022-08-11 13:57] yeyupiaoling commented on #44966
是NCCL版本文问题，统一升级为2.8.4版本就可以了。

[2022-08-11 13:57] #44966 closed, assigned to JZ-LIANG

[2022-08-11 15:51] Rayman96 commented on #43938
【队名】：Rayman的团队

【序号】：36

【状态】：报名

【链接】：https://github.com/Rayman96/Paddle_ray

[2022-08-11 15:52] Rayman96 commented on #43938
【队名】：Rayman的团队

【序号】：38

【状态】：报名

【链接】：https://github.com/Rayman96/Paddle_ray

[2022-08-11 17:01] hua-zi commented on #44501
【队名】：为中华之崛起而读书

【序号】：4

【论文】：MicroNet: Improving Image Recognition with Extremely Low FLOPs

【状态】：报名

【repo链接】：https://github.com/hua-zi/micronet

[2022-08-11 17:42] Costwen commented on #42016
这个问题我在python 的celery多个进程同时加载一个模型的时候也遇到了

[2022-08-11 22:00] jakpiase commented on #43817
Hi, VIVO performance for the new dataset should be better after #45091 and after appending these two lines inside "demo.cpp" file right before creating predictor from config:
[code]

[2022-08-12 00:38] yaomichael commented on #43817
@jakpiase thanks! is #44863 still needed for best result?

[2022-08-12 00:49] heliqi commented on #43817
@jakpiase  thanks! I'll test your PR and get back to you.

[2022-08-12 01:08] yeyupiaoling opened #45092 "多机多卡训练速度会变慢"
### 请提出你的问题 Please ask your question

 - PaddlePaddle 2.3.1
 - NCCL 2.8.4
 - CUDA 10.2

启动命令
[code]

如果是单机多卡，每台的训练时间差不多在6到7个小时，
但是双机多卡之后，就变成了1天6个小时左右，慢很多，这是什么原因。

[2022-08-12 01:16] OccupyMars2030 commented on #43938
【队名】：OccupyMars2025

【序号】：2

【状态】：报名

【链接】：https://github.com/OccupyMars2025/Paddle

[2022-08-12 01:24] Tlntin commented on #45074
自己编译咯

[2022-08-12 02:01] #44981 closed, assigned to JZ-LIANG

[2022-08-12 02:13] JZ-LIANG commented on #44960
算子维度不匹配，请查看slice 算子 的输入输出是否满足 tensorRT 的要求

[2022-08-12 02:15] Shrinco commented on #44960
这个bug是在线程推理的时候出现的错误，第一次推理是可以正常执行并得到结果的，第二次开启线程就会报这个错误

[2022-08-12 02:20] monkeycc opened #45094 "cuda11.61,cuda11.62,小版本是否有问题"
### 请提出你的问题 Please ask your question

cuda11.61,cuda11.62,小版本是否有问题
还是一定要 cuda11.60

[2022-08-12 03:02] #44960 closed, assigned to JZ-LIANG

[2022-08-12 03:21] freecui commented on #44889
又没回复了

[2022-08-12 04:10] zhwesky2010 commented on #45074
你好，目前可以支持源码编译，我们正在本地测试和修复一些问题，预计2.4就会发布，大概10月份

[2022-08-12 04:12] Tlntin commented on #45074
能否支持ubuntu 22.04?或者升级一下gcc到11？

[2022-08-12 04:25] zhwesky2010 commented on #45070
@zzm422 你好，是说2.3的save_inference_model保存的参数能通过1.8的load_inference_model来加载吗

[2022-08-12 04:26] zhwesky2010 commented on #45074
是源码编译11.7出了问题吗

[2022-08-12 04:29] zhwesky2010 commented on #45063
@ZhangCheng2332 你好，复数的支持我们正在开展工作。@iclementine 可以帮忙看下这个`paddle.exp`在计划范围内吗

[2022-08-12 04:31] Tlntin commented on #45074
不是，ubuntu22.04没法直装官方编译好的whl包，只能通过源码去编译，比较麻烦。
并且，编译时，只能用gcc8.x，这样就要改默认gcc，会影响系统环境，所以我用的conda去安装gcc8.x。
并且，自己编译的paddle有时候会有bug，比如官方的2.3.1可以运行RocketQA项目，而自己编译的2.3.1会爆显存溢出（同一套代码）
所以，希望官方能升级一下，让paddle支持gcc 11以及ubuntu 22.04(可以直接pip安装，而不用自己编译)

[2022-08-12 04:36] zhwesky2010 commented on #45074
明白了，我们会评估这个Ubuntu编译安装升级的需求，感谢建议

[2022-08-12 04:45] zhwesky2010 commented on #45058
@lidanqing-intel  is it need to add tanh_grad in `paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc`?

[2022-08-12 04:53] ZhangCheng2332 commented on #45063
您好，我打算接下来科研逐步由pytorch转移到paddle，我们的课题是利用神经网络处理一些inverse problem，需要处理频域数据。目前pytorch是支持复数的，希望paddle后续也能够实现。

[2022-08-12 05:10] zhwesky2010 commented on #45070
@zzm422 你试下直接在load_inference_model时指定下文件全名

[2022-08-12 05:25] JZ-LIANG commented on #44961
2.0之后预测库的名字变了。现在是 libpaddle_inference.so

[2022-08-12 05:25] #44961 closed, assigned to nobody

[2022-08-12 05:51] dingjiaweiww commented on #44980
你可以使用飞桨官网提供的pip cuda11.2 的安装包，是可以在您cuda11.3 环境中使用的，CUDA 版本是向下兼容的；

[2022-08-12 06:03] jzhang533 commented on #44712
try import this PR: https://github.com/PaddlePaddle/Paddle/pull/42325

[2022-08-12 06:06] alanzhai219 opened #45104 "[pdmodel][shape]dynamic_shape转换static_shape"
### 请提出你的问题 Please ask your question

有一个pdmodel，通过netron发现其输入是[?,3,640,640]。是否有办法将其转换为[1,3,640,640]
谢谢

[2022-08-12 06:19] jzhang533 commented on #45074
可以试试用NGC paddlepaddle container：

https://catalog.ngc.nvidia.com/orgs/nvidia/containers/paddlepaddle

这个镜像里是cuda11.7，详情请看：

https://docs.nvidia.com/deeplearning/frameworks/paddle-paddle-release-notes/rel_22-07.html#rel_22-07

这里有一份中文的安装文档：
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/instalL_NGC_PaddlePaddle_ch.html

[2022-08-12 06:22] jzhang533 commented on #45074
ubuntu 22.04上，现在应该还不能用paddle。
因为存在跟glibc 2.34及以上版本的不兼容问题，应该在2.4版本才会解决。

[2022-08-12 06:32] jzhang533 commented on #44978
也许可以试试更高版本的clang。
我在Mac上用clang 13是可以编译成功的。

`Apple clang version 13.0.0 (clang-1300.0.27.3)`

[2022-08-12 06:39] iclementine commented on #45063
这个也在计划范围内的。

[2022-08-12 06:45] SigureMo commented on #43766
经测试，#42325 可解决本问题，期待 merge

本 issue 先 close 了

[2022-08-12 06:45] #43766 closed, assigned to juneweng

[2022-08-12 06:49] dingjiaweiww commented on #44974
paddle 1.2 是非常老的版本了，无法从pip源下载了，推荐你使用飞桨最新版本的安装包，可以从官网获取：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

[2022-08-12 06:52] gglin001 commented on #44978
mac os上我这边也是ok的, 是 Linux 上 使用 clang 会遇到问题, 在去除了

[code]

https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/flags.cmake#L144-L145

后, 在 ubuntu18.04 上 使用 clang-10 是可以编译的,(也许其他版本也是ok的, 未测试)

另外添加了

[code]

to `CMakeLists.txt`

[2022-08-12 06:52] Rayman96 commented on #43938
【队名】：Rayman的团队

【序号】：13

【状态】：报名

【链接】：https://github.com/Rayman96/Paddle_ray

[2022-08-12 06:53] gglin001 commented on #44978
希望官方能够添加对 Linux 上 使用 clang 构建的支持

[2022-08-12 06:55] thgpddl opened #45106 "数据加载dataloader慢"
### 请提出你的问题 Please ask your question

我使用DatasetFolder和DataLoader制作dataloader并进行训练，我发现（单线程）：
当bs=128时，一个iter中，数据加载耗时占一个iter时间的76%
当bs=64时，数据加载耗时占比63%
当bs=16时，数据加载耗时占比35%
当bs=8时，数据加载耗时占比0.094%
当bs=4时，数据加载耗时占比0.097%

这是我的代码：
[code]
请问应当如何优化，能够提高数据加载的效率（除了增加多线程）？

当我设置bs=512，num_workers(多线程)=5，以下是训练的时间耗时：
![image](https://user-images.githubusercontent.com/48787805/184850112-c147085a-350a-4e49-8a5a-60

[2022-08-12 07:25] w5688414 opened #45109 "Paddle下的日志该怎么隐藏？"
### bug描述 Describe the Bug

李沐老师教辅编译jupyter文件后，产生了很多日志，该怎么隐藏，影响整体的阅读体验。

[code]

![image](https://user-images.githubusercontent.com/12107462/184305511-78626be3-beac-49cf-b2db-1a82b85658bb.png)

http://preview.d2l.ai/d2l-zh/PR-1186/chapter_computer-vision/image-augmentation.html

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-12 07:26] w5688414 commented on #45109
这是pr。 https://github.com/d2l-ai/d2l-zh/pull/1186

[2022-08-12 07:27] jzhang533 commented on #44978
嗯， @pangyoki 在看这个呢。
多问一句，为啥要在linux下用clang，不用gcc呢？

[2022-08-12 07:40] gglin001 commented on #44978
1. 我觉得支持 clang 构建是一个十分合理且必要的 feature
2. 支持 clang 构建后 未来又可能结合使用 llvm 相关的工具提高代码质量(tbd)
3. 目前实际的需要是由于 使用使用 gdb 单步调试非常慢(使用 vscode 插件时), 使用 lldb 会好很多, 需要使用 clang 构建生成 debug 符号

与 3 相关的一个问题, 请问有 单步 debug paddle c++ 代码 的最佳实践吗? 直接编译 debug 版本的库会非常慢(来源于糟糕的 cmake 配置, 当然现在有人在做改进)

[2022-08-12 07:41] HoratioJSY commented on #44915
还是会出现这个问题，现在的现象是：while 算子在静态计算图的训练中都能正常输出结果，实现多步预测。但是当导出为inference模型，paddle inference 那边启动预测会随机出现三种异常：1. RuntimeError: the gpu stream is nullptr；2. Segmentation fault；3. 占GPU显存，不占GPU利用率，不报错一直等待。

第一种报错前面有，第二种报错是如下这种：

[code]

如果需要模型我这边可以提供一个测试模型，但是现在我的解决方案是不再使用while 算子，而是在模型内部创建一个Parameter张量，从而保存模型的中间计算状态，下次复用这个中间计算状态，这样速度上相比while算子应该只会慢一点。

[2022-08-12 07:41] #44915 closed, assigned to iclementine, jiweibo

[2022-08-12 08:54] liyongkang123 commented on #44980
谢谢大家，问题已解决，感恩，我将把该问题关闭哈~

[2022-08-12 08:54] #44980 closed, assigned to JZ-LIANG

[2022-08-12 09:09] monkeycc opened #45112 "cuda11.6,cudnn8.4,提示Could not load library cudnn_cnn_infer64_8.dll. Error code 193"
### 问题描述 Please describe your issue

cuda_11.6.2_511.65_windows
cudnn-windows-x86_64-8.4.0.27_cuda11.6-archive
报错
Could not load library cudnn_cnn_infer64_8.dll. Error code 193

换成cudnn8.2 不会

[2022-08-12 09:28] dongZheX opened #45113 "多卡程序，不定 steps 后程序卡住"
### 请提出你的问题 Please ask your question

 Hi, 我们在paddlecloud(4*A100)上运行一个多卡程序，在运行一定 steps 后程序卡住，所有 GPU 的利用率100%， 显存占用正常。
一些环境信息：
+ paddlepaddle == 2.2.1
+ cuda == 10.2
+ nccl-2.5.6

目前问题定位的话，应该是数据问题，但是始终无法找到更加具体位置。
卡住后 ctrl+c, 会有如下报错：
[code]
想问一下如上报错，可能是 paddle 的哪个操作？或者paddle 有无什么debug机制可以 check 这种问题.

[2022-08-12 09:34] zzm422 commented on #45070
1、训练保存模型参数使用：（paddle2.1）
paddle.save(model.state_dict(), os.path.join(config.model_save_dir, "model.pdparams"))
paddle.save(optimizer.state_dict(), os.path.join(config.model_save_dir, "optimizer.pdopt"))
训练保存的模型参数文件为model.pdparams

2、推理使用：（paddle1.8）
[inference_program, feed_target_names, fetch_targets] = fluid.io.load_inference_model(dirname=model_dir, executor=exe, params_filename=model_name)
re

[2022-08-12 09:46] ZhangCheng2332 commented on #45063
您好，大约什么时间能够发布能够这一支持复数的版本

[2022-08-12 10:01] #45026 closed, assigned to wanghuancoder

[2022-08-12 10:06] Amy234543 opened #45114 "X2Paddle转hugging face的模型，支持seq2seq的吗"
### 请提出你的问题 Please ask your question

我使用X2Paddle转hugging face的seq2seq模型时，遇到了报错说需要输入decoder的input id，我想问下X2Paddle支持将seq2seq的模型转成paddle吗

[2022-08-12 12:26] ctkindle commented on #44501
【队名】：FutureSI
【序号】：兴7
【论文】：[Aggregated Contextual Transformations for High-Resolution Image Inpainting](https://paperswithcode.com/paper/aggregated-contextual-transformations-for)
【状态】：报名
【repo链接】：https://github.com/ctkindle/AOT_GAN_Paddle

[2022-08-12 12:32] jakpiase commented on #43817
@yaomichael, from what I have tested, performance with and without #44863 should be the same

[2022-08-12 13:49] gitzhikang commented on #44501
【队名】：Detection Is All You Need

【序号】：8

【论文】：Learning to Prompt for Open-Vocabulary Object Detection with Vision-Language Model

【状态】：报名

【repo链接】：https://github.com/gitzhikang/DetPro-Paddle.git

[2022-08-12 13:55] gitzhikang commented on #44501
【队名】：DIAYN

【序号】：8

【论文】：Learning to Prompt for Open-Vocabulary Object Detection with Vision-Language Model

【状态】：报名

【repo链接】：https://github.com/gitzhikang/DetPro-Paddle.git

[2022-08-13 06:23] QShiX opened #45117 "Links in Paddle/READ.ME is broken"
### 文档链接&描述 Document Links & Description

The paddle inferenc link in paddle intro page (https://github.com/PaddlePaddle/Paddle) markdown is broken:
https://paddle-inference.readthedocs.io/en/latest/product_introduction/summary.html

### 请提出你的建议 Please give your suggestion

https://paddle-inference.readthedocs.io/en/master/guides/index_guides.html

[2022-08-13 06:27] Patrick-Star125 commented on #43938
【队名】：NetPunk
【序号】：101
【状态】：报名＆提交作品
【链接】：https://github.com/openvinotoolkit/openvino/pull/12545

[2022-08-13 07:27] 123456789asdfjkl opened #45119 "a problem about error information"
### 请提出你的问题 Please ask your question

Hi! Thank you for your great work! I meet a problem, but I may not understand the error information.
[code]

[2022-08-13 08:29] psychocosine opened #45120 "关于paddle.Model的问题"
model.fit中可以传入一个DataLoader作为训练数据，但是在哪里定义了模型输入与DataLoader返回数据的关系呢，模型中的forward可能有多个参数

[2022-08-13 09:29] qili93 commented on #45117
Thanks for your reminder. The Paddle Inference has been migrated to https://www.paddlepaddle.org.cn/inference/product_introduction/inference_intro.html, and we will fix the document link issue.

[2022-08-13 09:35] qili93 commented on #45119
Hi,

Please confirm if you modify a tensor inplac after using it, just like the following example code shown in https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_inplace.py#L49

[code]

[2022-08-13 10:09] qili93 commented on #45120
Hi,

如果您这里是使用 DataLoader 加载 `paddle.vision` 的数据集和模型，模型和数据集的输入输出都是按照`image, label`的顺序定义和使用的。

更详细的代码可参考如下信息，首先可以通过以下方法定位数据集的返回数据：

`paddle.vision` 中定义的数据集的DataLoader返回的数据有固定顺序，例如 MNIST 数据集定义可以从 `__getitem__` 的返回中找到每次返回的是 `return image.astype(self.dtype), label.astype('int64')` 两个数据，代码见 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/vision/datasets/mnist.py#L206，同时 `paddle.vision`

[2022-08-13 12:24] leechenggg opened #45121 "数据集图片尺寸变化导致训练效果变差"
### 请提出你的问题 Please ask your question

我用paddlex-ppyolov2用自制的数据集训练目标检测模型，当图像尺寸为3042  *2048时，模型训练效果很好，迭代100轮Bbox-map为90，但是输入608*   608尺寸数据集时，MAP仅为0.5，并且随着迭代轮数的提升，map还在下降，有的loss-xy为0，想问一下这是什么原因导致的呢？下面是我图像处理的代码，因为是刚入门，对图像处理这块不是很懂，方便的话详细解释一下。或者给个参考链接，谢谢！

train_transforms = T.Compose([
    T.RandomCrop(cover_all_box=True),
    T.BatchRandomResize(
        target_sizes=[
            320, 352, 384, 416,

[2022-08-13 12:36] thgpddl opened #45122 "运行paddle.utils.run_check()报错，但能正常使用"
### 请提出你的问题 Please ask your question

我在ubuntu20.04的conda环境中安装了paddle-gpu2.3.0+cuda10.2版本，我尝试运行paddle.utils.run_check()但是报错了：
![image](https://user-images.githubusercontent.com/48787805/184494281-ffb952a6-a30f-4426-aa49-e4f40b1fc32d.png)

但是我尝试操作tensor时，发现似乎能正常使用：
![image](https://user-images.githubusercontent.com/48787805/184494314-00a5f3ab-fd79-4676-8f2b-60c3c7b4fbcd.png)

请问paddle.utils.run_che

[2022-08-13 12:50] 123456789asdfjkl commented on #45119
Thanks for your reply! I have got it

[2022-08-13 12:50] #45119 closed, assigned to nobody

[2022-08-13 13:27] qili93 commented on #45114
您好，目前X2Paddle支持的模型列表可以参考 https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/introduction/x2paddle_model_zoo.md

您这里的模型如果不在以上列表中，同时转化失败的话，是否可以提供您这里的模型，我们这里分析一下模型转换失败的原因，谢谢！

[2022-08-13 13:35] qili93 commented on #45121
您好，

可能的原因是 PP-YOLOv2 的模型，需要的标准尺寸输入为640，608的输入resize并通过RANDOM的方式差值后的精度可能无法达到训练要求。可参考这里对于模型的介绍 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyolo/README_cn.md

具体原因请您这里能否提供完整的训练代码以及训练的图片数据样例用于分析，谢谢！

[2022-08-13 13:39] qili93 commented on #45122
您好，

根据您这里截图提供的信息是由于您的环境中没有正确配置cudnn库导致的，Paddle对cudnn的库是通过动态加载的方式进行调用的，所以如果您在使用Paddle的过程中没有用到需要调用cudnn的算子，仍旧可以正常使用。如果您的模型或者接口调用到了需要cudnn的算子，则通过会抛出类似第一章截图中的错误。`paddle.utils.run_check()` 命令会对飞桨的一系列基础功能进行检查，所以能检查出来环境中的cudnn配置不正确的问题。

修复此问题的办法是请参考Nvidia的官网配置您环境中的cudnn库，或者直接使用飞桨的docker镜像，镜像中有正确的cuda与cudnn的配置，见 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/li

[2022-08-13 13:54] leechenggg commented on #45121
感谢回复，项目“paddlex-ppyolov2裂纹检测”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/4425877/e2a119a884d84a3fa94d287252d929d5
上边是项目链接，有以上两种不同图片尺寸大小的数据集您可以看一下

[2022-08-13 13:58] leechenggg opened #45124 "训练好的模型无法下载"
### 请提出你的问题 Please ask your question

在aistudio-BML环境下训练好的一个大小为400M的模型文件，下载到一半报网络问题下载失败，但是我的网络没有问题

[2022-08-13 14:03] qili93 commented on #45124
您好，很抱歉，AIStudio 或 BML 网络相关问题需要联系 AIStudio 或 BML 的技术支持协助解决，Paddle社区仅能回答飞桨使用相关问题。

[2022-08-13 16:35] leechenggg commented on #45121
我看您fork了项目，涉及数据集不方便公开，有结果的话给我回复一下，谢谢

[2022-08-14 03:09] fagey123 opened #45125 "AttributeError: 'Ernie' object has no attribute 'context'"
### 请提出你的问题 Please ask your question

出现AttributeError: 'Ernie' object has no attribute 'context'，请问是不是版本问题
![image](https://user-images.githubusercontent.com/52851872/184520787-c489db32-f9c4-4d3c-89e0-f917968b2b8c.png)

[2022-08-14 03:18] liuxtakeoff commented on #44501
【队名】：水里de石头
【序号】：19
【论文】：[FCCDN: Feature Constraint Network for VHR Image Change Detection](https://arxiv.org/pdf/2105.10860.pdf)
【状态】：报名&提交
【repo链接】：https://github.com/liuxtakeoff/FCCDN_paddle

[2022-08-14 05:58] HHHuge commented on #44501
【队名】：以上队伍取消资格

【序号】：06

【论文】：[Anchor DETR: Query Design for Transformer-Based Object Detection](https://arxiv.org/abs/2109.07107)

【状态】：报名

【repo链接】：https://github.com/HHHuge/AnchorDETR-paddle

[2022-08-14 07:02] Liyulingyue commented on #45112
我遇到了相同的问题，8.3也不行

W0814 15:01:53.073433 31504 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.6, Runtime API Version: 11.6
W0814 15:01:53.080451 31504 gpu_resources.cc:91] device: 0, cuDNN Version: 8.3.
W0814 15:01:53.702119 31504 gpu_resources.cc:201] WARNING: device: . The installed Paddle is compiled with CUDNN 8.4, but CUDNN version in your mach

[2022-08-14 08:55] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么
【序号】：55
【状态】：报名
【链接】：https://github.com/MayYouBeProsperous/Paddle

[2022-08-14 10:35] littletomatodonkey commented on #45125
你好，关于ernie的使用，建议参考这里：https://github.com/PaddlePaddle/PaddleHub/tree/release/v2.1/demo/text_matching

[2022-08-14 14:42] OccupyMars2030 commented on #42012
In  essence,  it  is  about   interoperability between python and C++.
If  you  want  to  understand  it,   I  recommend  the  following  material  for  you  to  study:

1.Extending and Embedding the Python Interpreter
https://docs.python.org/3.10/extending/index.html
2.Create a C++ extension for Python using Visual  Studio
https://docs.microsoft.com/en-us/visualstudio/python/working-with-c-cpp-py

[2022-08-14 14:45] OccupyMars2030 commented on #42012
<img width="960" alt="image" src="https://user-images.githubusercontent.com/31559413/184542203-2ff1ec28-c484-445c-8536-83f9f574c1f5.png">

[2022-08-14 14:48] OccupyMars2030 commented on #42012
<img width="960" alt="image" src="https://user-images.githubusercontent.com/31559413/184542331-d5d7d40e-a36b-4d84-88af-623e49cc36a3.png">

[2022-08-15 00:37] yeyupiaoling commented on #45026
设置`drop_last=True`就没再出现这个问题了。

[2022-08-15 01:24] #45124 closed, assigned to qili93

[2022-08-15 01:29] scuyjzh opened #45129 "多机多卡运行失败请求解决"
运行脚本：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/bert/run_pretrain.py

首先脚本在各自机器执行单机多卡时都正常运行，训练迭代一切正常，但是使用多机多卡就会报错。

主机执行命令：
python -m paddle.distributed.launch --ips="100.71.36.11,100.73.36.1" --gpus "1" run_pretrain.py ...
从机执行命令：
python -m paddle.distributed.launch --ips="100.71.36.11,100.73.36.1" --gpus "1" run_pretrain.py ...

两台机器都可以互ping通：
![image](https://user-images.

[2022-08-15 01:32] scuyjzh commented on #45129
贴一下从机的log
![image](https://user-images.githubusercontent.com/12816241/184563551-8bf6e831-d8d5-4c90-b1bf-70c2aaf58f93.png)

[2022-08-15 01:35] Amy234543 commented on #45114
@qili93    我用的模型是huggingface上的m2m100_418M模型，报的错误是ValueError: You have to specify either decoder_input_ids or decoder_inputs_embeds

[2022-08-15 01:56] qili93 commented on #45121
hi @leechenggg

这里已经请飞桨 PPYOLOV2 的同学帮您分析问题，请问您这里能否再发一下您的训练原始代码链接，如果数据集不方便公开，给出1-2个sample数据就可以，谢谢！

[2022-08-15 02:03] Rayman96 commented on #43938
【队名】：Rayman的团队

【序号】：13

【状态】：提交提案

【链接】：https://github.com/PaddlePaddle/community/pull/207

[2022-08-15 02:07] dongZheX commented on #45113
目前看了下，代码卡在了 backward 阶段

[2022-08-15 02:08] leechenggg commented on #45121
您好，链接和数据集我单独发您邮箱可以吗

---原始邮件---
发件人: "Qi ***@***.***&gt;
发送时间: 2022年8月15日(周一) 上午9:57
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 数据集图片尺寸变化导致训练效果变差 (Issue #45121)

hi @leechenggg

这里已经请飞桨 PPYOLOV2 的同学帮您分析问题，请问您这里能否再发一下您的训练原始代码链接，如果数据集不方便公开，给出1-2个sample数据就可以，谢谢！

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because

[2022-08-15 02:54] leechenggg commented on #45121
paddlex-ppyolov2训练自制数据集：https://aistudio.baidu.com/aistudio/projectdetail/4431442?sUid=1016341&shared=1&ts=1660531499673
以上是项目链接，里面有几张sample数据.

[2022-08-15 03:45] wangxinxin08 commented on #45121
你的图片比较大，要检测的数据比较小，需要使用更大的尺寸进行训练和预测

[2022-08-15 04:05] luotao1 commented on #42904
@S-HuaBomb #45015 实现了grid_sample()支持3D的功能，#45012 实现了affine_grid_op支持5D的功能

[2022-08-15 04:06] luotao1 commented on #38670
#45012 实现了affine_grid_op支持5D的功能

[2022-08-15 04:06] #38670 closed, assigned to cuicheng01

[2022-08-15 04:46] haozech commented on #45113
建议可以先check一下是否确实是数据问题，比如换一套数据跑一下试试，再确认下单机跑同样的数据和模型是否依然有此问题。如果确认是数据问题，看能否提供简单可复现的代码？

[2022-08-15 05:01] haozech commented on #45094
目前应该是支持cuda11.61,cuda11.62的

[2022-08-15 05:07] haozech commented on #45104
对于导出的inference model，不建议直接修改其输入batchsize。如果您有组网代码可以在动态图转静态图的InputSpec设置shape   https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/jit/principle_cn.html

[2022-08-15 05:14] haozech commented on #45109
从输出的警告上看是使用的api： LooseVersion已经过期，应该是用新的packaging.version。如果只是想忽略警告，可以参考 https://blog.csdn.net/qq_39691492/article/details/125787303

[2022-08-15 05:17] haozech commented on #45112
您需要根据机器上的cuda/cudnn版本选择对应版本的paddle进行安装  paddle安装包列表在这里 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-release

[2022-08-15 05:21] haozech commented on #45092
您好 能提供下具体硬件信息么

[2022-08-15 05:23] zwtu commented on #44501
【队名】：Team X

【序号】：88

【论文】：[Learning Spatiotemporal Features with 3D Convolutional Networks](https://openaccess.thecvf.com/content_iccv_2015/html/Tran_Learning_Spatiotemporal_Features_ICCV_2015_paper.html)

【状态】：报名

【repo链接】：https://github.com/zwtu/C3D-Paddle

[2022-08-15 05:32] yangj557 commented on #44501
【队名】：TeamYang

【序号】：兴5

【论文】：[A Late Fusion CNN for Digital Matting](https://openaccess.thecvf.com/content_CVPR_2019/papers/Zhang_A_Late_Fusion_CNN_for_Digital_Matting_CVPR_2019_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/YJGitHubaccount/Late-Fusion-CNN

[2022-08-15 05:53] xiaoxiangch opened #45133 "编译好的推理界面在新环境下无法加载训练好的模型"
### 请提出你的问题 Please ask your question

我按照此链接 https://github.com/PaddlePaddle/PaddleX/tree/release/2.0.0/examples/C%23_deploy ，通过调用paddle_inference.dll 和model_infer.dll ，来进行可视化推理，在我的电脑上是可以正常运行的，但是如果将生成的exe以及配套的dll重新放到一个新电脑上，是无法正常加载预训练模型的，
会提示
![2fefb7f98b8a0d86b57d1b43764ae56](https://user-images.githubusercontent.com/37433925/184582948-d7503860-e5a4-40e1-bc0c-c4d3ac4cbd63.jpg)

这种情乱是因为缺乏paddle的其他依

[2022-08-15 06:07] yeyupiaoling commented on #45092
一台是：双2080ti
另一台是：双1080ti

@haozech

[2022-08-15 06:48] sherwin-silin-chen opened #45137 "Paddle安装后无法调用GPU"
### 问题描述 Issue Description

Conda虚拟环境一直可以使用PaddlePaddle，但是突然不能调用GPU了
程序运行后 只调用CPU
查看安装包：
![image](https://user-images.githubusercontent.com/30338877/184588817-d7886561-41bd-465c-807e-c4feeea5cb24.png)
是GPU版本；
cuda可以正常调用：
![image](https://user-images.githubusercontent.com/30338877/184588888-763376f7-f03d-48b5-ad4c-46aef2db35f6.png)
Nvidia-smi可以查看GPU使用情况
重新安装PaddlePaddle后依旧不可以调用GPU：
![image](https:/

[2022-08-15 07:27] inspiration12138 commented on #44501
【队名】：Inspiration

【序号】：兴9

【论文】：FCFR-Net: Feature Fusion based Coarse-to-Fine Residual Learning forDepth Completion

【状态】：报名

【repo链接】：https://github.com/inspiration12138/Paddle_FCFR_Net

[2022-08-15 07:33] luotao1 commented on #38061
https://github.com/PaddlePaddle/Paddle/pull/45015 实现了grid_sample()支持3D的功能

[2022-08-15 07:33] #38061 closed, assigned to windstamp

[2022-08-15 07:41] Aganlengzi commented on #45058
in https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/phi/kernels/onednn/activation_grad_kernel.cc#L251
only bf16 and float32 are registered now:

<img width="552" alt="image" src="https://user-images.githubusercontent.com/5997715/184595521-8d3d76ee-6ca0-4228-bdfe-594f73f657f7.png">

[2022-08-15 07:51] luotao1 commented on #28627
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/AdaptiveMaxPool2D_cn.html 最新已经修复了。

[2022-08-15 07:52] luotao1 commented on #28626
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/MaxPool2D_cn.html 最新已经修复了

[2022-08-15 08:03] gongweibao commented on #45092
机器之间的带宽是多少？是不是机器间通信时间长导致的？

[2022-08-15 08:05] yeyupiaoling commented on #45092
内网是千兆的，实测传输文件有100M/s，通信应该没有问题。

[2022-08-15 08:24] Shrinco commented on #43480
你好，我通过别的方法解决了这个bug。报错的信息大致是说trt找不到优化信息导致的，而找不到优化信息的原因大致是一个trt的优化信息对应cuda的一个上下文，每一个线程都有自己独立的上下文。所以在 qt thread 的 run 之后再次执行就会出现这个bug。而解决的办法就是建立一个工作对象，将主线程和工作对象通过 signal 和 slot连接起来，然后把这个工作对象移到线程中，这样停止再推理就不会出现这个错误了。
线程+GPU，用继承QThread的方式是完全没有问题的，只有一个线程+Trt也是没有问题的，所以这也是paddle的一个bug。

[2022-08-15 08:25] monkeycc commented on #45112
`python -m pip install paddlepaddle-gpu==2.3.1.post116 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html`

那这个 有何意义 ？

我都是按照要求 cuda 11.6   cudnn 8.4

还要我再去手动对应 安装一次 ？

[2022-08-15 08:33] monkeycc commented on #45112
您需要根据机器上的cuda/cudnn版本选择对应版本的paddle进行安装 paddle安装包列表在这里 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-release`

`pip install https://paddle-wheel.bj.bcebos.com/2.3.1/windows/windows-gpu-cuda11.6-cudnn8-mkl-avx/paddlepaddle_gpu-2.3.1.post116-cp38-cp38-win_amd64.whl`

python3.8  cuda11.6   cudnn  8.4

在win环境

重新安装对应的版本  解决可用

@Liyulingyue

[2022-08-15 08:33] Firestick-Xia opened #45146 "import paddle Error: Can not import avx core while this file exists: ..."
### 问题描述 Issue Description

根据官网教程conda安装paddle，命令行如下：conda install paddlepaddle-gpu==2.3.1 cudatoolkit=10.2 --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/
安装好后：>>> import paddle
Error: Can not import avx core while this file exists...

### 版本&环境信息 Version & Environment Information

paddlepaddle-gpu==2.3.1 cudatoolkit=10.2 python==3.9

[2022-08-15 09:06] Jaimefight commented on #33263
可以看看你具体是怎么改的么

[2022-08-15 09:08] yeyupiaoling commented on #33263
就是上面回复的那样，nn.LayerList(conv_stacks)封装list模型

[2022-08-15 09:24] tink2123 commented on #45146
上述命令默认安装avx的包。
需要先确认是否支持avx，如果你的机器不支持avx，需要安装noavx的Paddle包，可以通过以下命令安装，仅支持python3.8。
gpu版本cuda10.1 noavx机器安装：
python -m pip download paddlepaddle-gpu==2.3.1.post101 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/noavx/stable.html --no-index --no-deps

详细说明文档可参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/linux-pip.html#ruhechakannindehuanjing

[2022-08-15 10:07] Firestick-Xia commented on #45146
sudo apt install libgomp1
已解决

[2022-08-15 10:47] BIANG-qilie commented on #44501
【队名】：BIANG

【序号】：61

【论文】：An Energy and GPU-Computation Efficient Backbone Network for Real-Time Object Detection

【状态】：报名

【repo链接】：https://github.com/BIANG-qilie/An-Energy-and-GPU-Computation-Efficient-Backbone-Network-for-Real-Time-Object-Detection

[2022-08-15 12:08] dingjiaweiww commented on #44668
飞桨develop 版本已经支持ubuntu 22.04，2.4版本会发版支持

[2022-08-15 12:13] gongweibao commented on #45092
没注意名字，原来是夜雨飘零呀，好久不见^_^。最近忙啥那？

[2022-08-15 12:14] gongweibao commented on #45092
1. 这个是不是得看模型大小，预估传输时间？根据计算时间和网络通信时间来看是否慢了？
2. 两台机器是不是负载均衡的？慢的机器和快的机器速度比怎么样？
3. 用的是fp16还是fp32？
如果方便用NV insight，可以试试这个工具，看看timeline。问题出在哪个阶段。
也可以用https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/profiler/Profiler_cn.html#cn-api-profiler-profiler 来看一下timeline。

[2022-08-15 12:21] dingjiaweiww commented on #45137
你用的安装命令是？

[2022-08-15 12:22] gongweibao commented on #45092
有时间帮忙提一些易用性的问题，paddle的同学会跟进解决的。感谢呀！

[2022-08-15 12:36] sherwin-silin-chen commented on #45137
conda install paddlepaddle-gpu==2.3.1 cudatoolkit=10.2 --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/

conda install paddlepaddle-gpu==2.3.1 cudatoolkit=10.2 --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/

[2022-08-15 12:40] dingjiaweiww commented on #45137
你环境中可能有多个安装包
你这里打印的paddlepaddle-gpu是pypi源的，而且是2.3.0
![image](https://user-images.githubusercontent.com/23093488/184636057-2ec491d4-d120-470c-a489-00d7e9decb62.png)
但是你说用的是conda虚拟环境里的paddle，是2.3.1，你conda 里面的会不会是cpu的包呢

[2022-08-15 12:43] sherwin-silin-chen commented on #45137
不好意思 这个是我之前的env 后来我新建的env用的2.3.1的命令 我之前的env没有多个paddlepaddle-gpu：
conda list 结果：
_libgcc_mutex             0.1                        main    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
_openmp_mutex             5.1                       1_gnu    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
astor                     0.8.1            py37h06a4308_0    defaults
blas

[2022-08-15 12:45] scuyjzh commented on #45129
@tink2123

[2022-08-15 13:01] #45109 closed, assigned to nobody

[2022-08-15 13:02] #45094 closed, assigned to haozech

[2022-08-15 13:19] xuechenxing commented on #36269
我好像和他遇到一样的问题了，请问解决没，在cnn中加入eca模块就报这个错，去掉后可正常训练

File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/layers.py", line 930, in call
return self._dygraph_call_func(*inputs, **kwargs)
File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/layers.py", line 915, in _dygraph_call_func
outputs = self.forward(*inputs, **kwargs

[2022-08-15 13:59] jeffzhengye commented on #42419
还是不支持ubuntu22.04 啊

[2022-08-15 14:25] Jaimefight commented on #33263
nn.LayerList(conv_stacks)封装list模型具体是怎么操作呀，小白不是很懂，谢谢大佬指点

[2022-08-15 15:13] yysirs opened #45165 "fluid加载预训练模型，输出参数权重"
### 请提出你的问题 Please ask your question

想看下RocketQA中zh_dureader_ce预训练模型中的权重参数，但是只使用get_program_parameter，只获取了参数名称，权重的API在文档中没有找到
[code]

[2022-08-15 15:28] Chumumu commented on #44501
【队名】：任见任爱

【序号】：70

【论文】：FactSeg: Foreground Activation Driven Small Object Semantic Segmentation in Large-Scale Remote Sensing Imagery

【状态】：报名

【repo链接】：https://github.com/Chumumu/FactSeg_paddle

[2022-08-15 15:33] yysirs commented on #45165
[code]
上面输出是权重嘛？但是和平时看的不太一样，如何转换成np.array类型的权重？

[2022-08-15 15:53] saas1600 commented on #44501
【队名】：AIEX

【序号】：兴3

【论文】：[Swin-Unet: Unet-like Pure Transformer for Medical Image Segmentation](https://arxiv.org/abs/2105.05537)

【状态】：报名

【repo链接】：https://github.com/AIEXTeam/Swin-Unet-PaddlePaddle

[2022-08-15 16:07] liuxtakeoff commented on #44501
【队名】：水里de石头

【序号】：70

【论文】：FactSeg: Foreground Activation Driven Small Object Semantic Segmentation in Large-Scale Remote Sensing Imagery

【状态】：报名

【repo链接】：https://github.com/liuxtakeoff/FactSeg_paddle

[2022-08-15 16:23] shier1 commented on #44501
【队名】：软弱无力

【序号】：62

【论文】：[VL-LTR: Learning Class-wise Visual-Linguistic Representation for Long-Tailed Visual Recognition](https://arxiv.org/pdf/2111.13579v3.pdf)

【状态】：报名

【repo链接】：https://github.com/shier1/VL-LTR

[2022-08-15 18:09] Kdoger commented on #44501
【队名】：锅台小后生

【序号】：1

【论文】：[Learning Enriched Features for Real Image Restoration and Enhancement](https://arxiv.org/pdf/2003.06792v2.pdf)

【状态】：报名

【repo链接】：[https://github.com/Kdoger/MIRNet2Paddle](https://github.com/Kdoger/MIRNet2Paddle)

[2022-08-16 00:34] yeyupiaoling commented on #33263
就是这样，我一开始是`self.rnn = list()`，改成下面这样就可以了。每个项目情况不一样，不知道是不是你的也是因为这个原因。
[code]

[2022-08-16 01:06] HarperCy opened #45167 "关闭random后，PP-TSM CPU 和 GPU loss仍不一致"
### bug描述 Describe the Bug

首先说结论，某个算子，或者多个，CPU实现与GPU实现略有不同，导致计算上有误差，而XPU算子实现时延续了这个计算，导致XPU与CPU行为一致，与GPU差很多。目前已排除momentum不同的地方的影响，请指出那些算子在CPU上与GPU上有差别。
首先，关闭random （多次执行获得同样结果，确实关闭了random）
1. dropout添加如下代码，位置如图，注释部分的代码（记得取消注释）
![image](https://user-images.githubusercontent.com/47998305/184764887-a6804629-f2c9-40cd-bd63-fc1896ec3d94.png)
2. main.py中固定seed
![image](https://user-images.githubusercont

[2022-08-16 01:27] Rayman96 commented on #43938
【队名】：Rayman的团队

【序号】：13

【状态】：提交作品

【链接】：https://github.com/PaddlePaddle/Paddle/pull/45168

[2022-08-16 01:31] Shrinco commented on #45133
应该主要就是缺依赖导致的，需要把paddle inference的dll都添加到环境变量里或者项目工程里（model_infer.dll
不会把推理需要的依赖给装进去，只是把自己的代码封装成了dll）。或者就是按照错误提示检查一下各个文件是不是都在。

[2022-08-16 01:33] Rayman96 commented on #43938
【队名】：Rayman的团队

【序号】：34

【状态】：提交作品

【链接】：https://github.com/PaddlePaddle/Paddle/pull/45160

[2022-08-16 01:44] Tlntin commented on #45137
系统？GCC版本？

[2022-08-16 01:46] Tlntin commented on #45074
实测不行，运行paddle.utils.run_check()会报错，还是要老老实实用官方容器。

[2022-08-16 02:02] yeyupiaoling commented on #45092
看名字记不清你是谁了，^_^

[2022-08-16 02:04] yeyupiaoling commented on #45092
模型是有点大，模型参数文件和优化方法参数文件共有300多M呢？

两台服务器性能差不了多少，单机多卡训练时间分别是6h和7h左右这样子。

用的是float32

[2022-08-16 02:12] ZHUI commented on #45167
您好，建议您先固定参数，单个step，对齐前向、反向精度。

[2022-08-16 02:14] sherwin-silin-chen commented on #45137
gcc version 4.8.5 20150623 (Red Hat 4.8.5-44) (GCC)

[2022-08-16 02:14] fmscole commented on #44501
【队名】：无用

【序号】：63

【论文】：[Scene Text Telescope: Text-Focused Scene Image Super-Resolution](https://openaccess.thecvf.com/content/CVPR2021/papers/Chen_Scene_Text_Telescope_Text-Focused_Scene_Image_Super-Resolution_CVPR_2021_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/fmscole/scene-text-telescope

[2022-08-16 02:15] sherwin-silin-chen commented on #45137
Linux version 4.14.0_1-0-0-44 (****************) (gcc version 4.8.2 20140120 (Red Hat 4.8.2-16) (GCC)) #1 SMP Tue Sep 14 17:12:22 CST 2021

[2022-08-16 02:16] Tlntin commented on #45137
有点老了，官方推荐是8.2。最大9.x。
可以用conda安装一下gcc8试试，这样不影响系统环境。
[code]

[2022-08-16 02:22] tiancaishaonvjituizi commented on #44356
Fixed in https://github.com/PaddlePaddle/Paddle/pull/44667

[2022-08-16 02:22] #44356 closed, assigned to FeixLiu

[2022-08-16 02:23] sherwin-silin-chen commented on #45137
我这台开发机其他用户的paddle都是正常的 都是gcc4.8.5的 而且我之前一直都是正常使用的。。。

[2022-08-16 02:31] tink2123 commented on #45129
与 https://github.com/PaddlePaddle/PaddleNLP/issues/3051 问题一致，已有同学跟进

[2022-08-16 02:33] zlsh80826 commented on #45074
@Tlntin 可以分享你的 docker 運行 command 跟錯誤訊息嗎? docker command 是否有添加 `--shm-size=1g --ulimit memlock=-1` 或是 `--ipc=host` 的參數呢?

[2022-08-16 02:34] tink2123 commented on #45137
可以尝试清理当前环境下所有的paddle，或创建一个新的干净环境重新安装。

[2022-08-16 02:34] Tlntin commented on #45074
没添加这些参数（之前用官方容器也没添加）
我待会添加一下试试，看看是否还报错。

[2022-08-16 02:36] gongweibao commented on #45092
`模型是有点大，模型参数文件和优化方法参数文件共有300多M呢？`
你可以算一下通信时间和计算时间，然后算一下理论的加速比。

[2022-08-16 02:37] gongweibao commented on #45092
相互没见过。搞fluid的时候看过你的ISSUE。

[2022-08-16 02:37] zlsh80826 commented on #45074
沒添加的話根據環境不同的確會在 `python -c 'import paddle; paddle.utils.run_check()'` 失敗，這是一個已知的 case

[2022-08-16 02:38] Tlntin commented on #45074
嗯嗯。应该是nccl的锅，我昨天看报错里面有提到nccl错误。

[2022-08-16 02:40] yeyupiaoling commented on #45092
有空的时候用下面的例子试试Profiler计算官方的例子。
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/06_distributed_training/cluster_quick_start_cn.html

[2022-08-16 02:40] tink2123 commented on #45165
可以参考https://paddlepaddle.org.cn/documentation/docs/zh/faq/train_cn.html#q-numpyfcw 打印出某层的weight变量对应的tensor值。

具体的print(numpy.array(fluid.global_scope().find_var("weight_name").get_tensor()))

[2022-08-16 02:40] yeyupiaoling commented on #45092
哈哈

[2022-08-16 03:04] Tlntin commented on #45074
加了参数后可以了。不加会报错（但是官方paddle 2.3.1 cuda 11.2不加也可以）。
报错信息如下：
[code]

最终运行代码
[code]

[2022-08-16 03:36] #45146 closed, assigned to tink2123

[2022-08-16 05:05] Zheng-Bicheng commented on #44501
【队名】：ZZZZZBC
【序号】：3
【论文】：[Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data](https://paperswithcode.com/paper/real-esrgan-training-real-world-blind-super)
【状态】：报名
【repo链接】：repo的链接

[2022-08-16 05:06] Zheng-Bicheng commented on #44501
【队名】：ZZZZZBC
【序号】：3
【论文】：[Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data](https://paperswithcode.com/paper/real-esrgan-training-real-world-blind-super)
【状态】：报名
【repo链接】：https://github.com/Zheng-Bicheng/Real_ESRGAN_Paddle

[2022-08-16 06:26] jzhang533 commented on #43766
https://github.com/jzhang533/Paddle/blob/instructions-on-build-paddle-on-mac-m1/tools/instructions_build_paddle_on_mac.sh

我弄了个小脚本，可以帮忙搭建mac m1下的编译环境。

[2022-08-16 07:36] SigureMo commented on #43766
感谢，我测试了下按照指引使用输出后的命令可以编译成功

[2022-08-16 08:07] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：69
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/CINN/pull/883

[2022-08-16 09:01] SiChuanJay opened #45182 "重新编译paddleInference"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

你好，目前你们提供的带trt版本的paddleInference没有满足我环境要求的，我需要重新编译一下，但是我不太清楚各种参数怎么写，你们方便写一下windows下 使用vs2019编译带trt的paddleInference的命令吗？
![图片](https://user-images.githubusercontent.com/52130681/184840524-71567379-bf20-471c-b50e-b73038f9b135.png)

### 替代实现 Alternatives

_No response_

[2022-08-16 09:04] Josh-DL commented on #44501
【队名】：完璧归赵队
【序号】：67
【论文】：[DINO: DETR with Improved DeNoising Anchor Boxes for End-to-End Object Detection](https://arxiv.org/abs/2203.03605)
【状态】：报名
【repo链接】：https://github.com/Josh-DL/DINO-paddle

[2022-08-16 09:09] iclementine commented on #45063
可能在 2.4 版本会包含这个。

[2022-08-16 09:28] yeliang2258 commented on #45182
可以参考这个文档：https://www.paddlepaddle.org.cn/inference/master/guides/install/compile/source_compile_under_Windows.html

[2022-08-16 09:31] SiChuanJay commented on #45182
@yeliang2258 非常感谢。

[2022-08-16 09:31] #45182 closed, assigned to ZHUI, yeliang2258

[2022-08-16 10:54] yuyangup opened #45187 "MinGW编译Paddle框架需求"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）
目前由于在国产化平台上进行视觉方面的项目开发，国产系统主流开发语言是c++，开发工具是qt，微软vs那一套在国产化系统上用不了，考虑到后期咱们飞桨平台在国产化系统上的应用，强烈建议官方提供一套基于mingw编译的教程，方便国产化开发。

### 替代实现 Alternatives

本来准备用pyqt的，但是在国产化系统上，python版本比较低，而且主流应用用python的特别少，因此基本行不通

[2022-08-16 11:15] yuyangup commented on #45187
没有价值的建议

[2022-08-16 11:15] #45187 closed, assigned to ZHUI

[2022-08-16 11:36] jzhang533 commented on #45167
固定随机种子只是会消除随机性的影响，但，GPU上的算子实现，并不是所有的算子都有 **确定性(deterministic)** 的算法实现。
只是，对于使用了CUDNN实现的算子，可以用`export FLAGS_cudnn_deterministic=True`来让CUDNN采用确定性的算法。（但会运行很慢）。

[2022-08-16 12:27] zhangping12345 opened #45193 "GPU版本paddle_inference c++库在windows系统config.DisableGpu()后CreatePredictor报错"
### bug描述 Describe the Bug

推理库信息：
GIT COMMIT ID: 590b4dbcdd989324089ce43c22ef151c746c92a3
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
WITH_ROCM: OFF
WITH_ASCEND_CL: OFF
WITH_ASCEND_CXX11: OFF
WITH_IPU: OFF
CUDA version: 11.0
CUDNN version: v8.0
CXX compiler version: 19.16.27045.0
WITH_TENSORRT: ON
TensorRT version: v7.2.1.6

windows10 ppocr  demo工程上，含GPU CUDNN 编译后，放到GPU服务器   使用GPU和不使用用GPU(config.Di

[2022-08-16 12:37] ZHUI commented on #45193
是否尝试一下，使用 cpu 版本的paddle 跑预测，而不是`padddlepaddle-gpu`
[code]

[2022-08-16 12:53] sherwin-silin-chen commented on #45137
清理所有env
清理anoconda
重新安装paddlepaddle
重新编译paddleseg
修复

[2022-08-16 12:53] #45137 closed, assigned to tink2123

[2022-08-16 13:04] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025

【序号】：2

【状态】：PR还在开发中

【链接】：https://github.com/PaddlePaddle/Paddle/pull/44797

[2022-08-16 14:44] zhangping12345 commented on #45193
谢谢。尝试过，没有问题的。cpu版本的推理库正常。GPU版本的在GPU服务器上跑，用GPU和不用GPU都正常。问题是GPU版本的推理库运行在无CUDA的机器上通过CPU运行推理出问题。因为有config.DisableGpu()，所以我理解是GPU版本的预测引擎推理库应该能支持纯CPU的环境。另外通过报错，‘’‘at ..\paddle\phi\backends\gpu\cuda\cuda_info.cc  66'''可以看出还是调用了GPU。如果从功能定义上或短期版本 GPU版本的推理库不支持非cuda环境下cpu运行的话，我就通过环境判断动态来加载不同的库

[2022-08-16 14:51] ionescofung opened #45197 "使用paddle_serving_client时，无法Clinet()实例"
### 请提出你的问题 Please ask your question

使用paddle_serving_client的Client时，实例出现错误
请问如何解决？
![image](https://user-images.githubusercontent.com/55121158/184909973-61a62922-682f-4d4d-82f5-399197ff3b19.png)

![image](https://user-images.githubusercontent.com/55121158/184910063-528ae0fc-21fb-4dab-965d-4c12e1a7e6cd.png)

[2022-08-16 14:52] AlexZou14 commented on #44501
【队名】：low-level
【序号】：兴8
【论文】：Simple Baselines for Image Restoration
【状态】：报名
【repo链接】: https://github.com/AlexZou14/NAFNet-Paddle.git

[2022-08-16 15:36] bugmakerQ opened #45198 "MemSeg"
### 问题描述 Please describe your issue

【队名】：crazy_Q

【序号】：73

【论文】：MemSeg: A semi-supervised method for image surface defect detection using differences and commonalities

【状态】：报名

【repo链接】：https://github.com/bugmakerQ/MemSeg

[2022-08-16 15:47] bugmakerQ opened #45199 "TransUNet"
### 问题描述 Please describe your issue

【队名】：crazy_Q

【序号】：68

【论文】：Transformers Make Strong Encoders for Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/bugmakerQ/TransUNet

[2022-08-16 16:38] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025

【序号】：4

【状态】：PR还在开发中

【链接】：https://github.com/PaddlePaddle/Paddle/pull/45073

[2022-08-17 01:48] Aganlengzi commented on #29362
I have the same WARNING, but when I set LD_LIBRARY_PATH, it is solved.
I am using Paddle develop compiled by myself with CUDA 11.1 cudnn8.1.1 and TensorRT-7.2.3.4
<img width="997" alt="image" src="https://user-images.githubusercontent.com/5997715/185016439-140e3c4a-002d-4c18-b0a8-d861a418d1e2.png">

<img width="445" alt="image" src="https://user-images.githubusercontent.com/5997715/185016496-992fd

[2022-08-17 02:49] S-HuaBomb commented on #42904
Awesome！！！ 👍 👍 👍

[2022-08-17 03:13] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：78
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/210

[2022-08-17 03:44] Lieberk commented on #44501
【队名】：超级码立

【序号】：23

【论文】：Self-Supervised Predictive Convolutional Attentive Block for Anomaly Detection

【状态】：提交

【repo链接】：https://github.com/Lieberk/Paddle-SSPCAB

[2022-08-17 07:13] SiChuanJay commented on #45182
你好，我在使用paddleInference时，当模式为paddle-gpu的时候没问题，当模型为trt-32的时候，出现如下问题。我查找了一些资料，有可能是安装的paddle没有带trt。但是在我下载了如下的包后，仍然出现上述问题，我觉的可能是我的trt没有用起来，但是我不知道如何设置。
![图片](https://user-images.githubusercontent.com/52130681/185055180-8ca94eb9-7efb-49fe-a34b-2d9fcdd26f3e.png)
![图片](https://user-images.githubusercontent.com/52130681/185055424-049162f9-2cec-4e46-b1fc-bfdae2b14bfc.png)

[2022-08-17 07:59] zly19540609 opened #45209 "paddle_inference C++预测库 GPU版 cuDNN 8.4 CUDA 11.6 trt8.4.1.5预测时出错"
### bug描述 Describe the Bug

paddle_inference C++预测库2.3.1 GPU版  cuDNN 8.4	CUDA 11.6 trt8.4.1.5预测时出错
出错位置
`//predictor_->Run();
CHECK(predictor_->Run());`
提示错误
0x00007FFF7138420D (cudnn64_8.dll) (QtPaddle.exe 中)处有未经处理的异常: 请求了严重的程序退出

更换paddle_inference C++预测库2.3.1 GPU版  cuDNN 8.2	CUDA 11.2 trt8.0.1.6预测时正常

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-17 08:05] joey12300 commented on #45209
请问你测试的机器cuda和cudnn版本是多少呢？使用trt的paddle预编译包需要完全对齐cuda和cudnn版本。

[2022-08-17 08:09] zly19540609 commented on #45209
cuda_11.6.0_511.23
cudnn 8.4.0.27
TensorRT 8.4.1.5

[2022-08-17 08:15] ZHUI commented on #45187
国产化系统 指的是? 是否基于类似 linux 的工具链编译会好一些？

[2022-08-17 08:22] HexToString commented on #45197
请贴出你的完整的调用代码

[2022-08-17 08:24] HexToString commented on #45197
请检查一下，pip3.8 list 下有没有安装paddle-serving-client，大概率猜测你这个是python pip 版本安装导致的问题。

[2022-08-17 08:36] ZHUI commented on #45193
收到，我这边反馈一下需求。你这里希望的处理方式是:  类似 try except 回落到 cpu 的版本。

[2022-08-17 09:03] #45104 closed, assigned to haozech

[2022-08-17 09:27] zhwesky2010 commented on #45070
paddle.save保存的只有动态图参数，如果需要动态图模型+参数，需要使用paddle.jit.save，然后使用paddle.jit.load或者paddle.static.load_inference_model加载。
1.8的这个fluid.io.load_inference_model可以试试，应该是支持不了paddle.jit.save的产出

[2022-08-17 09:34] SiChuanJay opened #45215 "使用paddleInference出现问题"
你好，我在使用paddleInference时，当模式为paddle-gpu的时候没问题，当模型为trt-32的时候，出现如下问题。我查找了一些资料，有可能是安装的paddle没有带trt。但是在我下载了如下的包后，仍然出现上述问题，我觉的可能是我的trt没有用起来，但是我不知道如何设置。
![图片](https://user-images.githubusercontent.com/52130681/185055180-8ca94eb9-7efb-49fe-a34b-2d9fcdd26f3e.png)
![图片](https://user-images.githubusercontent.com/52130681/185055424-049162f9-2cec-4e46-b1fc-bfdae2b14bfc.png)

_Originally posted by @SiChuanJay i

[2022-08-17 10:05] ZepengW commented on #44501
【队名】：SOTAFinder

【序号】：兴2

【论文】：Augmented Geometric Distillation for Data-Free Incremental Person ReID

【状态】：报名

【repo链接】：https://github.com/oliverck/Augmented-Geometric-Distillation-PaddlePaddle

[2022-08-17 10:12] SiChuanJay commented on #45215
还有我在使用源码编译的时候一直遇到如下警告，请问是怎么回事？有影响吗？
![图片](https://user-images.githubusercontent.com/52130681/185093923-98a71493-910b-4ae8-8731-15ee0ca41aa3.png)

[2022-08-17 10:39] Auth0rM0rgan commented on #43580
@an1018 @LightSun, Im facing the same issue!! any solution?

this is the CLI im using: `paddleocr --image_dir /home/Desktop/test_ocr/outputs/051.jpg --use_angle_cls false --lang en --use_gpu true --use_tensorrt true`

Thanks!

[2022-08-17 12:05] #44974 closed, assigned to JZ-LIANG

[2022-08-17 12:10] gongel commented on #37733
期待后续的版本支持二维list切片

[2022-08-17 12:55] joey12300 commented on #45215
@SiChuanJay 你好，请问你当前运行的环境，python、cuda、cudnn以及trt的版本都完全对齐了吗？看样子像是还没用起来

[2022-08-17 12:57] joey12300 commented on #45209
了解，目前的状态是：自己运行的环境，与paddle的预编译包所示的版本完全对齐了，但是仍然跑挂；然后选个低版本的预编译包就能正常运行了是吗？

另外，方便提供最小可复现代码吗？

[2022-08-17 13:34] hohdiy commented on #34385
我也是相同的错误，求救啊，没有人支招么？

[2022-08-17 14:20] aptx1231 commented on #44501
【队名】：aptx1231

【序号】：57 & 兴10

【论文】：CoST: Contrastive Learning of Disentangled Seasonal-Trend Representations for Time Series Forecasting

【状态】：报名

【repo链接】：https://github.com/aptx1231/CoST_Paddle

[2022-08-17 14:22] aptx1231 commented on #44501
【队名】：aptx1231

【序号】：58 & 兴11

【论文】：TS2Vec: Towards Universal Representation of Time Series

【状态】：报名

【repo链接】：https://github.com/aptx1231/ts2vec_Paddle

[2022-08-17 14:37] zly19540609 commented on #45209
是的，自己运行的环境，与paddle的预编译包所示的版本完全对齐了，但是仍然跑挂，换成CUDA 11.2 低版本预编译包就能正常运行了

[2022-08-17 14:40] zly19540609 commented on #45209
代码是你们官方PaddleDetection c++ 部署的示例代码 模型用的是ppyolov2官方模型

[2022-08-17 14:52] Dawn-bin opened #45228 "打包运行错误，paddle_infer.create_predictor(model_config)失败"
### 请提出你的问题 Please ask your question

用pyinstaller打包推理代码遇到的问题，打包前一切正常。

`paddle.utiles.run_check()` 显示成功。
运行到
`predictor = paddle_infer.create_predictor(model_config)`
显存发生了一点波动就抛出错误。

[code]

[2022-08-18 01:14] gjj123 commented on #34385
换个paddle 版本试试我从2.3换成2.2 就可以了

[2022-08-18 02:35] joey12300 commented on #45228
请问您是在什么平台运行呢？有最小可复现代码吗？

[2022-08-18 02:37] Dawn-bin commented on #45228
Linux平台，代码运行正常，但pyinstaller打包后运行报错

[2022-08-18 02:41] joey12300 commented on #45228
可以尝试检查一下是否缺少某些动态链接库。也有可能是多进程环境下出现运行报错，尝试在main函数添加以下代码：

[code]

[2022-08-18 03:02] Dawn-bin commented on #45228
多线程阻塞问题已经通过修改paddle源码解决了，动态库export到原先的conda环境也解决不了，所有这是paddle的bug吗？

[2022-08-18 03:08] joey12300 commented on #45228
Paddle的动态库吗？因为耦合了pyinstaller，所以不好定位是哪里的问题

[2022-08-18 03:16] Dawn-bin commented on #45228
看报错就是运行到`predictor = paddle_infer.create_predictor(model_config)`
前面的run_check() 正常，说明依赖环境应该也都正常

[2022-08-18 03:29] ionescofung opened #45231 "如何配置feed参数？"
### 请提出你的问题 Please ask your question

我使用paddleDetection export了model并且serving_client conver成能够能够部署的模型
但是该如何填写我的feed来predict？
<img width="1527" alt="image" src="https://user-images.githubusercontent.com/55121158/185286834-b8ff5f4f-33b2-42bf-9bd0-404c615a45da.png">

[2022-08-18 05:04] Dawn-bin commented on #45228
请问，paddle推理时导出的静态图，依赖于paddle库吗？也就是说如果我修改了模型结构，重新导出的文件和onnx文件一样是与代码无关的吗？

[2022-08-18 05:25] joey12300 commented on #45228
还是依赖paddle的inference库的，但是与模型代码无关的

[2022-08-18 05:57] Dawn-bin commented on #45228
paddle有单独打包的inference库吗？整体有点臃肿

[2022-08-18 06:31] ynxu15 commented on #35319
可以试一下下面的方法

在程序运行的前面添加如下代码

os.environ[‘FLAGS_eager_delete_tensor_gb’] = “0.0”

主要作用是 GPU memory garbage collection optimization flags

[2022-08-18 06:40] sunzhongkai588 commented on #44644
你好，我是飞桨的框架pm，可以留一下联系方式给我吗？我邮箱sunzhongkai@baidu

[2022-08-18 06:41] joey12300 commented on #45228
@Dawn-bin 可以在这里选择合适的包进行安装：https://www.paddlepaddle.org.cn/inference/user_guides/download_lib.html

[2022-08-18 08:33] zly19540609 commented on #45209
我找到能让程序运行的方法了，下载zlibwapi.dll，放到环境变量中后，程序正常运行了，我不是很理解这个原理
[zlib123dllx64.zip](https://github.com/PaddlePaddle/Paddle/files/9371861/zlib123dllx64.zip)

[2022-08-18 09:15] leelucky666666888 opened #45242 "arm环境安装paddlepaddle，参考官网，在make编译中一直4%"
### 问题描述 Issue Description

源码编译安装参考网址：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/arm-compile.html#yuanmabianyi
卡在下边这一步：make TARGET=ARMV8 -j$(nproc)

### 版本&环境信息 Version & Environment Information

源码编译安装参考网址：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/arm-compile.html#yuanmabianyi
卡在下边这一步：make TARGET=ARMV8 -j$(nproc)

[2022-08-18 09:17] ghostxsl commented on #45231
可以参考文档：https://github.com/PaddlePaddle/PaddleDetection/tree/develop/deploy/serving/python

[2022-08-18 10:00] #45228 closed, assigned to joey12300

[2022-08-18 10:30] Lin3-cc commented on #44501
【队名】：EMOTION

【序号】：60

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/Anunnaki-Panda/EMOTION_CvT_paddle

[2022-08-18 10:31] htlbayytq opened #45245 "aarch64 如何安装paddle？"
### 问题描述 Issue Description

尊敬的领导您好，

    我专门买了一个Nvidia Jetson NX，但安装时发现paddle官网的描述是：“安装环境需要处理器架构是x86_64。“

    但Nvidia Jetson NX的架构是aarch64。。。

    请问在这种情况下，我应当如何才能顺利完成paddle的安装呢？

致敬

### 版本&环境信息 Version & Environment Information

尊敬的领导您好，

    我专门买了一个Nvidia Jetson NX，但安装时发现paddle官网的描述是：“安装环境需要处理器架构是x86_64。“

    但Nvidia Jetson NX的架构是aarch64。。。

    请问在这种情况下，我应当如何才能顺利完成paddle的安装呢？

致敬

[2022-08-18 10:36] amitabduls15 commented on #44571
Hi i have same problem like this. When i run paddle in bash
`python -m paddle.distributed.launch --gpus 0 tools/train.py -c configs/faster_rcnn/faster_rcnn_r50_fpn_1x_coco.yml --eval`

produce error:

Traceback (most recent call last):
  File "/usr/lib/python3.7/runpy.py", line 183, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "/usr/lib/python3

[2022-08-18 12:26] phlrain commented on #36801
We will fix this in release/2.4

[2022-08-19 01:55] zhiminzhang0830 commented on #44501
【队名】：zzm

【序号】：71

【论文】：Deep Relational Reasoning Graph Network for Arbitrary Shape Text Detection

【状态】：报名

【repo链接】：https://github.com/zhiminzhang0830/DRRG_Paddle

[2022-08-19 02:50] zhangCollab opened #45257 "安装paddle报json.decoder.JSONDecodeError"
### 问题描述 Issue Description

ubuntu18,4下，python版本3.7.13安装，CUDA为11.6 ，CUDNN为8.4.0，安装pddle命令一直报错，也不知道怎么回事
       #######命令：
python -m pip install paddlepaddle-gpu==2.3.1.post116 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html

ERROR: Exception:
Traceback (most recent call last):
  File "/root/tutorial-env/lib/python3.7/site-packages/pip/_internal/cli/base_command.py", line 167, in ex

[2022-08-19 03:46] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：14
【状态】：报名
【链接】：https://github.com/zrr1999/Paddle/

[2022-08-19 06:39] leechenggg opened #45267 "paddleX预训练模型怎么使用"
### 请提出你的问题 Please ask your question

您好，我在进行用paddlex进行模型训练时，总会报警告，yolo_head.yolo_output.0.weight is not in pretrained model...
然后在output文件夹里有一个pretrain文件夹，里面有模型权重文件，我想问一下这个警告的意思是什么？这个权重文件的意义是什么？还有paddlex如何使用预训练模型？
这是我的项目链接：https://aistudio.baidu.com/aistudio/projectdetail/4441826

[2022-08-19 06:40] nemonameless commented on #45257
您好，我这可以正常下载安装，显示下载链接是这个 https://paddle-wheel.bj.bcebos.com/2.3.1/linux/linux-gpu-cuda11.6-cudnn8.4.0-mkl-gcc8.2-avx/paddlepaddle_gpu-2.3.1.post116-cp37-cp37m-linux_x86_64.whl ，你可以wget下载下来再pip安装。
或者去 https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html 页面找你需要的版本的下载链接下载。

[2022-08-19 07:20] zhenzi0322 opened #45271 "could not determine kind of name for C.PD_ConfigEnableVarseqlen"
https://paddle-inference.readthedocs.io/en/latest/guides/quick_start/go_demo.html#id1

我正在进行`goapi`的单测。

报错如下：
[code]

我的环境：
[code]

文件示例：
[code]
运行`go run main.go`。输出内容如下：
[code]

[2022-08-19 07:48] zhenzi0322 commented on #43342
我在单测时也是这个问题，请问您是如何解决的呢？

[2022-08-19 07:51] zhenzi0322 opened #45272 "could not determine kind of name for C.PD_ConfigEnableVarseqlen"
### bug描述 Describe the Bug

我在单测时出现` could not determine kind of name for C.PD_ConfigEnableVarseqlen`的问题。

https://paddle-inference.readthedocs.io/en/latest/guides/quick_start/go_demo.html#id1

### 其他补充信息 Additional Supplementary Information

https://paddle-inference.readthedocs.io/en/latest/guides/quick_start/go_demo.html#id1

[code]

[2022-08-19 08:25] zhenzi0322 opened #45275 "golang如何把Tensor转换成图像?"
### 问题描述 Please describe your issue

请问下。在`https://paddle-inference.readthedocs.io/en/latest/api_reference/go_api_doc/Tensor.html`里的`Tensor`如何转换成图像呢？

[2022-08-19 08:51] Li-fAngyU commented on #44501
【队名】：lfy

【序号】：兴15

【论文】：Scene Text Telescope: Text-Focused Scene Image Super-Resolution

【状态】：报名

【repo链接】：https://github.com/Li-fAngyU/scene-text-telescope

[2022-08-19 09:08] ghostxsl commented on #45242
猜测可能是因为在make的时候会下载一些依赖包，可能是网络不顺畅导致的，建议可以加一下代理试试呢

[2022-08-19 09:13] ghostxsl commented on #45245
可以参考这个链接下载对应的安装包：https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#python

[2022-08-19 09:28] Wolkenwandler commented on #44501
【队名】：just try it

【序号】：兴2

【论文】：[Augmented Geometric Distillation for Data-Free Incremental Person ReID](https://openaccess.thecvf.com/content/CVPR2022/html/Lu_Augmented_Geometric_Distillation_for_Data-Free_Incremental_Person_ReID_CVPR_2022_paper.html)

【状态】：报名

【repo链接】：https://github.com/Cloud-Rambler/Augmented-Geometric-Distillation-PaddlePaddle

[2022-08-19 09:35] Bobwang-tech commented on #34982
版本、环境信息：
   1）PaddlePaddle版本：1.7.1.post97，无法安装
   2）CPU：Intel(R) Core(TM) i7-8700 CPU @ 2.90GHz 2.90 GHz
   3）GPU：NVIDIA GeForce RTX 2080，CUDA==10.0，CUDNN==7.6.5
   4）系统环境：ubuntu、Python==3.6

安装方式信息：
1）pip安装/docker安装
请问paddlepaddle==1.7.1.post97环境如何安装？

[2022-08-19 09:50] #45120 closed, assigned to nobody

[2022-08-19 09:50] #45122 closed, assigned to nobody

[2022-08-19 10:50] Zheng-Bicheng commented on #43938
【队名】：ZZZZZBC

【序号】：14

【状态】：报名

【链接】：https://github.com/Zheng-Bicheng/community

[2022-08-19 11:36] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：14
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/45266

[2022-08-19 11:45] Zheng-Bicheng commented on #43938
【队名】：ZZZZZBC

【序号】：18

【状态】：报名

【链接】：https://github.com/Zheng-Bicheng/community

[2022-08-19 12:45] Zheng-Bicheng commented on #43938
【队名】：百度飞桨

【序号】：18

【状态】：提交提案

【链接】：https://github.com/PaddlePaddle/community/pull/214

[2022-08-20 02:14] Zheng-Bicheng commented on #44501
【队名】：ZZZZZBC
【序号】：9
【论文】：[Instances as Queries](https://arxiv.org/abs/2105.01928)
【状态】：报名
【repo链接】：https://github.com/Zheng-Bicheng/QueryInst_Paddle

[2022-08-20 05:48] cuiff1234 commented on #44074
我在运行分类、检测和分割任务时偶发的也会爆此错误，是因为paddle=2.3.0第365行左右多写了部分代码和paddle=2.2.0的代码不一样，导致不兼容应该
OSError: (External) CUDA error(3), initialization error.
  [Hint: 'cudaErrorInitializationError'. The API call failed because the CUDA driver and runtime could not be initialized. ] (at /paddle/paddle/phi/backends/gpu/cuda/cuda_info.cc:243)
  [operator < gaussian_random > error]

[2022-08-20 18:16] Zheng-Bicheng commented on #44501
【队名】：ZZZZZBC
【序号】：41
【论文】：Learning Enriched Features for Fast Image Restoration and Enhancement
【状态】：报名
【repo链接】：https://github.com/Zheng-Bicheng/MIRNetv2_Paddle

[2022-08-20 18:26] Zheng-Bicheng commented on #44501
【队名】：ZZZZZBC
【序号】：2
【论文】：Learning Enriched Features for Fast Image Restoration and Enhancement
【状态】：报名
【repo链接】：https://github.com/Zheng-Bicheng/MIRNetv2_Paddle

[2022-08-20 18:26] Zheng-Bicheng commented on #44501
【队名】：ZZZZZBC
【序号】：2
【论文】：Learning Enriched Features for Real Image Restoration and Enhancement
【状态】：报名
【repo链接】：https://github.com/Zheng-Bicheng/MIRNetv2_Paddle

[2022-08-21 07:04] karry-z commented on #44501
【队名】：可每炼丹
【序号】：28
【论文】：ActionCLIP: A New Paradigm for Video Action Recognition
【状态】：报名
【repo链接】：https://github.com/karry-z/ActionCLIP_paddle

[2022-08-21 08:02] cyrxdzj commented on #29754
这个问题我也遇到了，paddlepaddle版本为2.3.1

[2022-08-22 01:18] psychocosine opened #45288 "请问Paddle的TransformerEncoder没有实现Position Encoding的功能吗"
### 请提出你的问题 Please ask your question

我尝试用TransformerEncoder去代替bi-lstm，发现效果更差，而且训练变慢了。是因为没有做Position Encoding吗？
![image](https://user-images.githubusercontent.com/62004255/185820761-e2f80d51-2e21-42c4-a607-3e49330f3b92.png)

[2022-08-22 01:37] wenli1216cy opened #45289 "PaddleDetection2.4静态图版本多机多卡训练教程"
### 请提出你的问题 Please ask your question

PaddleDetection2.4静态图版本多机多卡训练教程

[2022-08-22 01:55] kisaragychihaya opened #45290 "编译安装v2.3.2报错"
### 问题描述 Issue Description

[code]
[code]
[CMakeCache.txt](https://github.com/PaddlePaddle/Paddle/files/9390544/CMakeCache.txt)
[cicc.exe-9bc143.zip](https://github.com/PaddlePaddle/Paddle/files/9390550/cicc.exe-9bc143.zip)

### 版本&环境信息 Version & Environment Information

Paddle 源码Version 2.3.2
CUDA:11.3.58+cudnn8.2.1
系统 Win10 64bit
编译环境 VS2017+Ninja

------------------------------------

*********

[2022-08-22 02:10] minghaoBD commented on #45289
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/static/docs/tutorials/MULTI_MACHINE_TRAINING_cn.md 可以参考这个教程

[2022-08-22 02:15] wenli1216cy commented on #45289
我在PaddleDetection中提过了，https://github.com/PaddlePaddle/PaddleDetection/issues/6680

[2022-08-22 02:22] Lllllolita commented on #44501
【队名】：我说得队

【序号】：87

【论文】：When Counting Meets HMER: Counting-Aware Network for Handwritten Mathematical Expression Recognition

【状态】：报名

【repo链接】：https://github.com/Lllllolita/CAN_Paddle

[2022-08-22 02:47] nemonameless commented on #45272
https://github.com/PaddlePaddle/Paddle/issues/45271  同一问题

[2022-08-22 03:06] jiweibo commented on #45271
您好，看起来问题是该接口目前尽在develop可用，但库的版本是2.3，导致该问题。
https://github.com/PaddlePaddle/Paddle/blob/v2.3.2/paddle/fluid/inference/capi_exp/pd_config.h#L37

您将代码切换到2.3分支，重新测试应该就可以了

[2022-08-22 03:06] jiweibo commented on #45272
您好，看起来问题是该接口目前尽在develop可用，但库的版本是2.3，导致该问题。
https://github.com/PaddlePaddle/Paddle/blob/v2.3.2/paddle/fluid/inference/capi_exp/pd_config.h#L37

您将代码切换到2.3分支，重新测试应该就可以了

[2022-08-22 03:09] jiweibo commented on #45275
您好，这个Tensor只是对 Paddle Inference 的 C++ Tensor做的一层封装，目前没有其他复杂的功能函数，您可能需要调研下其他第三方库，将[]float32数据转为图像

[2022-08-22 03:10] zhenzi0322 commented on #45272
好的

[2022-08-22 03:11] zhenzi0322 commented on #45275
哦，目前`paddle`这边没有针对`golang`的`Tensor`可以直接转为图像的嘛？

[2022-08-22 03:11] #45271 closed, assigned to nemonameless

[2022-08-22 03:19] zhangCollab commented on #45257
我把pip降下到20.2.2版本就找到了

[2022-08-22 03:26] zhangCollab opened #45294 "KeyError: 'token_type_ids'"
### 请提出你的问题 Please ask your question

![捕获](https://user-images.githubusercontent.com/111550104/185832514-7cf1ee85-572d-4dbf-a63f-808ef158ee54.PNG)
在ubuntu18.4下，cuda11.6，运行python tools/infer_vqa_token_ser.py -c configs/vqa/ser/layoutxlm.yml -o Architecture.Backbone.checkpoints=inference/ser_LayoutXLM_xfun_zh/ Global.infer_img=images/images_0.png
报错，是怎么回事啊

[2022-08-22 03:31] minghaoBD commented on #45294
您好，请问这是哪个模型套件的repo呢？

[2022-08-22 03:37] nemonameless commented on #45267
yolo_head.yolo_output.0.weight is not in pretrained model 表明这层权重在你加载的预训练权重里没有。
pretrain文件里放的是下载的预训练模型参数。
paddlex使用预训练模型，在train()函数的接口里面指定pretrain_weights=本地下载好的权重路径或下载链接 即可，具体可以看下 https://github.com/PaddlePaddle/PaddleX/blob/develop/docs/apis/models/detection.md#train
代码在：https://github.com/PaddlePaddle/PaddleX/blob/develop/paddlex/cv/models/detector.py#L196

[2022-08-22 03:38] zhangCollab commented on #45294
![捕获](https://user-images.githubusercontent.com/111550104/185833586-1ba30e5e-cae0-458a-af6d-259ae2c6c174.PNG)
我是使用VQA文档视觉问答的ser

[2022-08-22 03:41] lao-xu opened #45295 "能否直接调用检测或分割模型？"
### 请提出你的问题 Please ask your question

飞桨能否像pytorch一样直接调用各种应用模型，这样更加方便，而不是必须使用套件。比如像
model = torchvision.models.detection.fasterrcnn_resnet50_
model = torchvision.models.segmentation.fcn_

[2022-08-22 03:41] minghaoBD commented on #45294
可以分享一个文档链接吗？我联系对应的负责人来帮忙看下。

[2022-08-22 03:48] minghaoBD commented on #45295
有的，对应torchvision的话，可以参考paddle.visions.models.${model_name} 查看
${model_name}列表查看方式：

[code]

[2022-08-22 03:50] minghaoBD commented on #45295
有的，可以通过调用paddle.vision.models.${model_name} 使用。

${model_name}列表：
[code]

[2022-08-22 03:52] Ligoml commented on #44009
# 英文文档问题

## 前端关键字渲染问题

- Return 与 Return type 的问题：对英文API文档，会将源码中 returns 的值渲染为这两部分，冒号前是 Return，冒号后是 Return type，这一方面导致了中英文文档的不一致（中文文档是纯rst），另一方面也使阅读英文文档体验稍差，建议统一一下，可以选择 a)去掉这种渲染形式；b)为所有中文文档增加 Return type。建议方案a
- 关键字值为 None 时的逻辑错误：参考示例：[paddle.get_cuda_rng_state](https://www.paddlepaddle.org.cn/documentation/docs/en/api/paddle/get_cuda_rng_state_en.html) 因为特殊样式的渲染，当值为 None 时，会将 None 当做参数，然后在后面增加一个

[2022-08-22 04:01] zhangCollab commented on #45294
好的，https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.5/ppstructure/vqa/README.md

[2022-08-22 04:03] minghaoBD commented on #45295
看了下，里面以分类模型为主。直接调用检测模型的话还是需要依赖于套件。

[2022-08-22 04:06] minghaoBD commented on #45294
哦哦，ocr的问题推荐去ocr的repo直接问哈～ https://github.com/PaddlePaddle/PaddleOCR/issues

[2022-08-22 04:14] zhangCollab commented on #45294
好的

[2022-08-22 04:22] #45294 closed, assigned to minghaoBD

[2022-08-22 04:37] jiaohuix opened #45297 "【aistudio脚本任务 日志打印、下载输出】"
### 问题描述 Please describe your issue

最近跑aistudio的脚本任务时，发现日志信息不能实时输出，基本上等到运行结束才显示，这是bug嘛？  还有就是下载输出20g，实际上我两三个g也保存失败了，为什么呢？
求大佬解惑。
![138f95ef815db236e323fc9dede6b28](https://user-images.githubusercontent.com/68314259/185840469-ca90e5a5-e629-4663-b630-db2dc912390e.png)
![SKL0ICH)_GZ@BC4U24MQ~T2](https://user-images.githubusercontent.com/68314259/185840470-7682dc68-77df-4f1f-9229-fdf08d8c6861.png)
一共

[2022-08-22 04:49] lao-xu commented on #45295
建议把尽量多模型都加进去，方便使用、学习以及教学，否则学习门槛太高，不利于推广使用。
比如现有的pytorch参考书都有分割、检测、机器翻译等章节，直接调用模型就行，但飞桨参考书就不太方便列进去

[2022-08-22 04:49] lao-xu commented on #45295
建议把尽量多模型都加进去，方便使用、学习以及教学，否则学习门槛太高，不利于推广使用。
比如现有的pytorch参考书都有分割、检测、机器翻译等章节，直接调用模型就行，但飞桨参考书就不太方便列进去

[2022-08-22 04:50] lao-xu commented on #45295
建议把尽量多模型都加进去，方便使用、学习以及教学，否则学习门槛太高，不利于推广使用。
比如现有的pytorch参考书都有分割、检测、机器翻译等章节，直接调用模型就行，但飞桨参考书就不太方便列进去

[2022-08-22 04:51] minghaoBD commented on #45295
好的，谢谢您的宝贵建议。

[2022-08-22 04:53] minghaoBD commented on #45297
您好，方便提供一个可复现的ai-studio链接吗？

[2022-08-22 05:14] #45209 closed, assigned to nobody

[2022-08-22 05:53] psky1111 commented on #44501
【队名】：HelloMath

【序号】：82

【论文】：[AutoInt: Automatic Feature Interaction Learning via Self-Attentive Neural Networks](https://arxiv.org/pdf/1810.11921.pdf)

【状态】：报名

【repo链接】：https://github.com/psky1111/PaperCompforAutoInt

[2022-08-22 05:57] OccupyMars2030 opened #45298 "where is this API "set_num_threads" used?"
### 请提出你的问题 Please ask your question

In this  file  Paddle\paddle\fluid\pybind\pybind.cc,   the  python  module  core_avx or  core_noavx is  created   and  the  python  function  "set_num_threads"  is  bound  to  this  module  as  the  following   code  shows:
<img width="960" alt="image" src="https://user-images.githubusercontent.com/31559413/185848914-138eb786-dc74-410e-9236-0aedd4b56ce6.png">

[2022-08-22 06:00] wenli1216cy commented on #45289
我对照文档调整了参数，我是在2.4的静态图版本上进行测试的
命令：
python -m paddle.distributed.launch
--gpus 8,9
--ips 192.168.0.87,192.168.0.88
--servers="192.168.0.87:36301,192.168.0.88:36301"
--server_num 2
--worker_num 2
./tools/train_multi_machine.py
-c ./configs/test/test.yml
--vdl_log_dir=vdl_dir/scalar_test
--use_vdl=True
错误：
![360截图17290508166851](https://user-images.githubusercontent.com/34612860/185849745-be0013bc-3ac

[2022-08-22 06:08] minghaoBD commented on #45298
Please follow this way for reference.

<built-in method set_num_threads of PyCapsule object at 0x7f86f9f1b7b0>

[2022-08-22 06:33] OccupyMars2030 commented on #45298
Thank you!

[2022-08-22 06:34] #45298 closed, assigned to minghaoBD

[2022-08-22 06:43] MiuGod0126 commented on #45297
大佬好，方便私发您邮箱吗？

[2022-08-22 06:52] tsing-luo opened #45299 "通过paddlex_restful新建检测训练任务或执行单张图像预测时，出现'cudaErrorInitializationError'偶发性错误。"
### 请提出你的问题 Please ask your question

问题描述：使用paddlex_restful网页客户端新建检测训练任务时，可能会出现'cudaErrorInitializationError'错误，该错误为偶发性错误，新建训练任务几十次才可能出现一次。同时，在使用训练好的模型进行单张图片预测时也会出现该类型错误（同为偶发性），且报错信息位置一致，位于`path/to/site-packages/paddle/fluid/initializer.py`文件中。

环境信息：
[code]

PaddleDetection组件版本：v2.4，commit id：38f695ebdc09cdfeebc2870105442908b42f062a

python3.8.13, cuda：11.2.2，cudnn：8.1.1.33， nvidia driver：470.14

[2022-08-22 06:55] jiaohuix commented on #45297
我再整理下

[2022-08-22 07:02] minghaoBD commented on #45299
您好。看到是通过paddlex的 multiprocessing方式启动的，可以尝试单进程启动吗？

[2022-08-22 07:29] jiaohuix commented on #45297
https://aistudio.baidu.com/studio/project/partial/verify/4453654/833599e27735431290ddcf172189e134

您好，这个demo大概run下8分钟，50轮保存6个ckpt，每个是1.1g，最后查看了下output目录也是6个。但是最后结果是19g，多加一个就满了。
![5TP$CM24J10F{%7VKX S6BW](https://user-images.githubusercontent.com/68314259/185862609-4331cfe1-46ec-4e9b-afbf-0d9adbf81e91.png)
![~ U$M}Z4CQK5@_ME$)P4A}B](https://user-images.githubusercontent.com/68314259/185864106-b36e2

[2022-08-22 07:31] jiaohuix commented on #45297
![52751335434e949c55abe7236a066c3](https://user-images.githubusercontent.com/68314259/185864594-9ba449e4-4a9e-48f7-82ee-36f1c106f9ac.png)
每个ckpt文件夹大小

[2022-08-22 07:37] zhangyuqin1998 commented on #43938
【队名】：Core Dump

【序号】：19

【状态】：报名

【链接】：https://github.com/zhangyuqin1998/community

[2022-08-22 07:43] tengtengzhou opened #45301 "python，inference不进行重新编译是否可以正常输出结果。"
### 请提出你的问题 Please ask your question

python3.7.0 paddlepaddle-gpu2.0.0.rc1 使用该版本是因为wenxin模型要求该版本号。
部署好inference_server后，一进行post操作，log中就会打出
[code]
这样是否会影响预测结果？
如果会影响的话，
在[paddle](https://paddleinference.paddlepaddle.org.cn/v2.0/user_guides/source_compile.html)中看到inference库需要重新编译，未看到针对python的版本。想问下是需要改python中的inference库嘛？

[2022-08-22 07:50] LLsmile opened #45302 "numpy.ndarray has the wrong size, try recompiling. Expected 80, got 96"
### 问题描述 Issue Description

安装paddlepaddle2.2.2的时候，运行报错：
 numpy.ndarray has the wrong size, try recompiling. Expected 80, got 96
查阅资料发现是numpy编译版本和使用版本不一致，但是安装的是paddle支持的1.19.3，应该没啥问题吧，其他低版本安装一直不成功。

之所以使用2.2.2版本是因为2.3.2版本使用paddledetection的时候报[cuda错误](https://github.com/PaddlePaddle/PaddleDetection/issues/6673)，然后有人说用2.2.2版本没有这个问题，就尝试了一下，结果还是有问题。

### 版本&环境信息 Version & Environment Information

padd

[2022-08-22 07:54] minghaoBD commented on #45301
您好，这个报错说明当前paddle不是用作推理的。直接pip安装可以参考这里（v2.3）：https://www.paddlepaddle.org.cn/inference/v2.3/user_guides/download_lib.html#python

哪个ERNIE模型需要2.0版本的paddle呢？最新版本的paddle也都是支持ERNIE的，性能也更优秀。

[2022-08-22 08:09] tengtengzhou commented on #45301
因为之前有团队做了某个英文的模型，然后是基于wenxin1.8做的，我们想复用直接上线，所以只能用了paddlepaddle-gpu2.0.0rc1。模型我看config文件就是简单的text_classification 0-1模型。
paddlepaddle-gpu2.0.0rc1是没法进行推断的嘛？有没有相关的推断方法？
或者，是不是能将这个旧的模型文件用新版paddlepaddle-gpu读取？

[2022-08-22 08:16] tsing-luo commented on #45299
目前使用单进程是可以启动的，但由于是偶发性的，不知道会不会继续出现错误，请问以multiprocessing方式启动为什么会报这个错误呢？

[2022-08-22 08:20] minghaoBD commented on #45299
也没有什么确信的依据，只是提出一个debug成本较低的猜测。可以整理一个复现脚本吗？我这边测试下。

[2022-08-22 08:23] minghaoBD commented on #45302
pip install --upgrade numpy
可以尝试更新下版本吗？

[2022-08-22 08:27] minghaoBD commented on #45301
哦哦，可以参考以下链接，寻找适合的paddle-infer推理库。
2.0版本：https://www.paddlepaddle.org.cn/inference/v2.0/user_guides/download_lib.html
1.8版本：https://www.paddlepaddle.org.cn/inference/v1.8/user_guides/download_lib.html

也可以尝试下最新版本的推理库（https://www.paddlepaddle.org.cn/inference/v2.3/user_guides/download_lib.html#python），可能会由于保存推理模型的paddle版本（1.8）和推理库的paddle版本（2.3）相差较大，遇到错误。

[2022-08-22 08:28] minghaoBD commented on #45301
哦哦，可以参考以下链接，寻找适合的paddle-infer推理库。
2.0版本：https://www.paddlepaddle.org.cn/inference/v2.0/user_guides/download_lib.html
1.8版本：https://www.paddlepaddle.org.cn/inference/v1.8/user_guides/download_lib.html

也可以尝试下最新版本的推理库（ https://www.paddlepaddle.org.cn/inference/v2.3/user_guides/download_lib.html#python ）。但是优先建议1.8和2.0版本

[2022-08-22 08:32] tengtengzhou commented on #45301
这个paddleinfer库我下过了，完全不清楚应该怎么放到Python里。他是解压后直接放到site-packages里嘛？还是要放到paddlepaddle-gpu和paddle的文件夹里？

[2022-08-22 08:36] tsing-luo commented on #45299
我也没办法立刻复现bug，而且涉及到内部开发的一些代码，所以代码暂不方便贴出，目前先改为单进程启动吧，后续有问题我再想办法解决。非常感谢您的解答！

[2022-08-22 08:36] #45299 closed, assigned to minghaoBD

[2022-08-22 08:41] jiaohuix commented on #45297
您好，有时间帮我看下嘛？确实想不到啥问题orz，除了脚本任务，其他时候都挺正常的。 workspace/output下每写入一个文件都会被拷贝到什么地方么？ 否则我最后下载的输出怎么是所有的model_best额。
![{}%3Z85ILPKT8QWE3P(E$X](https://user-images.githubusercontent.com/68314259/185878249-7ad9d2ef-f031-41ec-b7c3-db8232372bf3.png)
.

[2022-08-22 08:45] minghaoBD commented on #45301
如何使用（ https://www.paddlepaddle.org.cn/inference/v1.8/quick_start/workflow.html ）：
![image](https://user-images.githubusercontent.com/79566150/185878553-51646933-a574-44da-b9d0-3e8e07140a97.png)

现状：2.0的paddle没有找到python用的whl包。

办法：可以尝试1.8和2.1版本的whl包：
1.8: https://www.paddlepaddle.org.cn/inference/v1.8/user_guides/download_lib.html#python
2.1: https://www.paddlepaddle.org.cn/inference/v2.1/user_guid

[2022-08-22 09:13] minghaoBD commented on #45297
看了下save-model方法，逻辑上应该没有问题。
1. 可以加入print那行debug确认下是否那些被删除的model真的都被删除了吗？
2. 我这边ai-studio没算力了，给你拉下相关负责同学看下是否是删除失败的问题。
3. 不过我比较奇怪，如果每个文件夹都是1.1G的话，那应该保存了51个，已经远大于20GB了，确定每个文件夹中都有文件么？

[code]

[2022-08-22 09:16] jiaohuix commented on #45297
###### 目前 #####
√1事实上的确是workspace/output目录的保存规则出现了变化，我先把文件输出到临时目录code/x/output，在临时目录增删，最后再统一拷贝到workspace/output就解决了。。。（以前workspace/output是等到最后才打包里面内容）
![J~9MOCZAR~G3MSJI}1QJ4MS](https://user-images.githubusercontent.com/68314259/185885857-cbfcd31b-7b8a-44fc-b4d1-f0648dba7a17.png)

![image](https://user-images.githubusercontent.com/68314259/185884615-dac0f8c3-0da9-4a0a-afd8-3e03d6e77e54.png)

？2.日志

[2022-08-22 09:19] minghaoBD commented on #45297
好的，那看来是aistudio这边对于output目录的保存规则有问题。麻烦先这样绕过吧，我这边拉对应的同学修复下。

[2022-08-22 09:24] jiaohuix commented on #45297
ckpt里的优化器的参数（699m）似乎没有完整保存下来。。
![LG$N42(D_GFBX{ N_H8_ BA](https://user-images.githubusercontent.com/68314259/185887477-2529ad8b-9bdb-4a3a-b42f-9b7a8a021659.png)

[2022-08-22 09:26] jiaohuix commented on #45297
大佬，还有日志！训练时候加载不出了现在，除非报错或结束才显示出来。虽然不看日志能节省很多时间，但少了很大的乐趣阿。
![138f95ef815db236e323fc9dede6b28](https://user-images.githubusercontent.com/68314259/185887807-bc7b5f5f-4b75-4b8c-a8c9-14c736f31b2b.png)

[2022-08-22 09:32] minghaoBD commented on #45297
看起来现在的问题都和aistudio平台相关。建议去aistudio的官方渠道反馈下哈，他们比较在行。

流程：https://aistudio.baidu.com/aistudio/index
![image](https://user-images.githubusercontent.com/79566150/185889381-85809728-2bb3-4e58-9f99-28f74f45ade5.png)

[2022-08-22 09:41] monkeycc commented on #45112
问题一样的

我在paddleX训练
提示
cudnn_cnn_infer64_8.dll 有问题

需要cuda11.2的cudnn_cnn_infer64_8.dll  覆盖上去 才正常
@haozech

[2022-08-22 10:01] jiaohuix commented on #45297
哦哦好的,谢谢！

[2022-08-22 10:02] LLsmile commented on #45302
强制升级到1.21可以了，谢谢

[2022-08-22 10:02] #45302 closed, assigned to minghaoBD

[2022-08-22 10:08] LLsmile commented on #45302
那我这边跑的结果就是2.3.2有bug，2.2.2版本没问题了

[2022-08-22 10:15] ZhangzrJerry opened #45307 "import error"
### bug描述 Describe the Bug

[code]
I run the program in Jupyter but throw an error out
[code]
I have no idea about it

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-22 10:16] yaomichael opened #45308 "Migrate oneDNN operators to under PHI"
### 需求描述 Feature Description

design doc: https://github.com/PaddlePaddle/docs/blob/develop/docs/design/phi/design_en.md

with Op name (op_type) as the unit, MKLDNN currently has a total of 100 OpKernels, which we divide into three categories:
1. Migrate first: a total of 53 (42 to be migrated, 11 have been migrated by YuanRisheng). The parameters required by this type of Kernel are consistent wit

[2022-08-22 10:18] yaomichael commented on #45308
@chenwhql  @jiangjiajun @jczaja  @wozna

[2022-08-22 10:29] yamyeed commented on #44501
【队名】：jamji

【序号】：80

【论文】：Uniter: Learning universal image-text representations

【状态】：报名

【repo链接】：https://github.com/beginner-jamji/80-Uniter

[2022-08-22 10:55] minghaoBD commented on #45307
![image](https://user-images.githubusercontent.com/79566150/185904779-231c7870-6dc2-4f95-a761-0bca9bbf1634.png)

I didn't reproduce your errors. You might want to check if you import something else also as 'paddle'

[2022-08-22 11:20] #44019 closed, assigned to nobody

[2022-08-22 11:43] #45297 closed, assigned to minghaoBD

[2022-08-22 12:00] wykkyle opened #45311 "paddle.jit.to_static，如何保持numpy数组参数。"
### 请提出你的问题 Please ask your question

paddle.jit.to_static修饰会自动将numpy数组参数转化为variable参数。

[2022-08-22 12:03] wykkyle commented on #45311
但是该参数需要在cpu上使用（就是mask-rcnn里的多边形轮廓），怎样指示参数保持数组形式。
具体现象：
![image](https://user-images.githubusercontent.com/20754685/185916734-05049f8d-39c9-40f1-bb6a-1b3bfd1c7490.png)

[2022-08-22 12:33] minghaoBD commented on #45311
您好，我没有充分理解您的问题。
请问转成variable，对于在 mask-rcnn 里面的使用有什么具体问题吗？

[2022-08-22 12:49] kafaichan commented on #44501
【队名】：Anya Waku Waku

【序号】：82

【论文】：[AutoInt: Automatic Feature Interaction Learning via Self-Attentive Neural Networks](https://arxiv.org/pdf/1810.11921.pdf)

【状态】：报名 & 提交

【repo链接】：https://github.com/kafaichan/paddle-autoint

[2022-08-22 12:51] OccupyMars2030 opened #45317 "paddle.int8 cannot be applied to fill_constant"
### bug描述 Describe the Bug

paddle  version:  2.3.1
I use  ai studio

import paddle
paddle.zeros([2, 3], dtype=paddle.int8)

Error message:
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
/tmp/ipykernel_170/1983605156.py in <module>
      1 import paddle
----> 2 paddle.zeros([2, 3], dtype=paddle

[2022-08-22 12:53] OccupyMars2030 commented on #45317
<img width="960" alt="image" src="https://user-images.githubusercontent.com/31559413/185925747-c5466f1c-dabc-4950-9a30-98ec7d95b58d.png">

[2022-08-22 13:36] ZhangzrJerry commented on #45307
well, actually I can run successfully in terminal
![image](https://user-images.githubusercontent.com/87751816/185933506-fd81c357-3c84-43bb-9a11-2ff1f4a39f1e.png)
however I don't know what goes wrong in Jupyter
![image](https://user-images.githubusercontent.com/87751816/185934136-e5888ec8-8969-410c-b260-702db9e2a62d.png)

[2022-08-22 13:41] ZhangzrJerry commented on #45307
yep it can run in python, but couldn't in Jupyter on my computer
![image](https://user-images.githubusercontent.com/87751816/185935190-e2893902-5095-4dcc-bcfe-5373a5d998c1.png)

[2022-08-22 13:43] caikw0602 commented on #44501
【队名】：第一次复现小白队

【序号】：28

【论文】：[ActionCLIP: A New Paradigm for Video Action Recognition](https://arxiv.org/abs/2109.08472)

【状态】：报名

【repo链接】：[ActionCLIP_Paddle](https://github.com/caikw0602/ActionCLIP_Paddle)

[2022-08-22 13:46] caikw0602 commented on #44501
【队名】：第一次复现小白队

【序号】：60

【论文】：[CvT: Introducing Convolutions to Vision Transformers](https://arxiv.org/abs/2103.15808)

【状态】：报名

【repo链接】：[CvT_paddle](https://github.com/caikw0602/CvT_paddle)

[2022-08-22 17:29] taixiurong commented on #43938
【队名】：一杯凉开水
【序号】：101
【状态】：提交作品
【链接】：https://github.com/openvinotoolkit/openvino/pull/12696

[2022-08-23 00:16] OccupyMars2030 commented on #43938
【队名】：OccupyMars2025
【序号】：1
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/45321

[2022-08-23 00:16] OccupyMars2030 commented on #43938
【队名】：OccupyMars2025
【序号】：2
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/45321

[2022-08-23 00:41] wykkyle commented on #45311
大概在这个位置。
![image](https://user-images.githubusercontent.com/20754685/186043582-5dc8d865-af6f-42ea-b3d5-8d1d8f4ebbdf.png)
计算掩码损失的时候，需要将标注从多边形转换为掩码。

[2022-08-23 00:51] wykkyle commented on #45311
这个步骤需要在cpu上运算。所以希望不要将数据送入cpu。（paddledetection里的做法是将numpy数组解开为二级python列表......有没什么办法保持numpy数组)。
（上一张截图链接：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/proposal_generator/target.py）
（以python列表的形式传参：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/data/source/coco.py）

[2022-08-23 01:16] minghaoBD commented on #45311
了解。暂时没想到其他方式，可以先根据ppdet的做法来。
如果有什么问题欢迎再讨论～

[2022-08-23 01:37] minghaoBD commented on #45317
您好，我复现了相同的问题，是zeros调用的fill-constant在dtype==int8时有问题，我们这边定位修复下。

暂时可以考虑使用其他数据类型：uint8/float16/float32 我测试都是可以的。

[2022-08-23 01:43] minghaoBD commented on #45307
Are you sure you are using exact the same python/paddle? It seems the environments differ somewhere. Could you double-check your environment in Jupyter?

[2022-08-23 01:48] minghaoBD commented on #45288
您好，NLP模型相关的问题建议去 PaddleNLP 提问哈：https://github.com/PaddlePaddle/PaddleNLP/issues

[2022-08-23 01:56] Rayman96 commented on #43938
【队名】：Rayman的团队

【序号】：38

【状态】：提交提案

【链接】：https://github.com/PaddlePaddle/community/pull/218

[2022-08-23 02:16] wykkyle commented on #45311
好的，多谢。

[2022-08-23 02:16] #45311 closed, assigned to minghaoBD

[2022-08-23 02:17] taixiurong commented on #43938
【队名】：一杯凉开水

【序号】：101

【状态】：提交作品

【链接】：https://github.com/openvinotoolkit/openvino/pull/12696

[2022-08-23 02:42] fnhweiqs opened #45323 "同样是用 CPU 进行的矩阵运算， torch 要比 paddle 快 300 倍"
### 请提出你的问题 Please ask your question

#### paddle 2.3.0 #####
#### z.shape = [8, 3328, 320]
s = time.time()
sim = paddle.matmul(z, z.transpose(perm=[0, 2, 1]))
logits = paddle.tril(sim, -1)[:, :, :-1]
logits += paddle.triu(sim, 1)[:, :, 1:]
logits = -F.log_softmax(logits, axis=-1)
e = time.time()
print(e - s)

#### torch 1.8.1 #####
#### z.shape = [8, 3328, 320]
s = time.time()
sim = torch.matmul(

[2022-08-23 02:42] AzureUni commented on #44712
This helps on building the paddle_python target with no problem. But when it comes to c/c++ inference library it still fails.

After the success of the python build, the errors are:
[code]
The command I used to build is:
[code]

Branch: develop
Commit: https://github.com/PaddlePaddle/Paddle/commit/9e5f3a383d4e8229ddb39f3ae1cbc7578126c5f5

[2022-08-23 02:43] nemonameless commented on #45302
这个问题就是numpy版本太低，换到numpy 1.21.6就行。和paddle版本没关系，paddle2.3.2也能顺利训练运行。

[2022-08-23 02:45] zhangyimi opened #45324 "cosine_similarity，OSError: (External) CUDA error(700), an illegal memory access was encountered"
### bug描述 Describe the Bug

调用cosine_similarity发现会报`CUDA error(700), an illegal memory access was encountered`。
分析后发现，当输入维度过大时会稳定复现。
<img width="1283" alt="image" src="https://user-images.githubusercontent.com/20926735/186057884-8fd20f90-3757-4196-b58e-001067af2f0c.png">

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-23 03:21] GuoxiaWang opened #45328 "多卡任务随机挂在 paddle::memory::Copy 上"
### bug描述 Describe the Bug

问题简介：单机多卡，多机多卡任务，随机挂在 paddle::memory::Copy 上，报错信息少，无 python 调用栈信息，问题难以定位和追查。

失败任务：AlphaFold2，GPT2

失败环境1 (AlphaFold2任务)：python 3.7, A100(40G), cuda 11.2, cudnn 8.10.1, nccl 2.12.12
失败环境2 (GPT2任务)：python 3.7, V100(32G), cuda 11.0, cudnn 8.0.4, nccl 2.8.04

报错现场环境1：paddle 编译日期 7 月 25 日，commit 号没记录，单机8卡，运行 AlphaFold2 模型训练时，训练到第 2301 步的时候，某张卡挂了，报错信息截图如下
<img width="1075" a

[2022-08-23 03:44] chenwhql commented on #45328
这里有两个问题：

1. CPU到CPUPinnd memcpy的拷贝出现SIGBUS

CPU到CPUPinnd 的拷贝实现底层直接调用的std::memcpy，这里的问题是：什么情况下，使用std::memcpy向GPUPinned内存写入数据会触发SIGBUS，一般都有什么原因？

[code]

2. GPU到CPU memory的拷贝出现SIGTERM

GPU到CPU的拷贝实现，如果不传入有效stream的话，就会调用GpuMemcpySync，内部直接调用的是cudaMemcpy，问题是：什么原因会导致cudaMemcpy接口触发SIGTERM？

[code]

[2022-08-23 03:48] betterpig commented on #45290
为复现问题，请提供编译使用的完整cmake命令

[2022-08-23 05:35] littletomatodonkey commented on #45324
你好，看着是计算过程中显存不足了，可以提供下inputs_a与inputs_b的npy文件吗？我这边测试下

[2022-08-23 06:33] Shrinco opened #45334 "如何通过 shape_range_info 设置 TensorRT 的动态 shape?"
### 请提出你的问题 Please ask your question

使用Trt加速推理时需要设置动态shape，我通过 CollectShapeRangeInfo 方法将 shape 信息保存到了 pbtxt 文件中，并且通过错误信息找到了需要优化的节点，那么请问如何通过上述信息来设置该节点的 shape 呢？
![image](https://user-images.githubusercontent.com/50402380/186087060-8eeba7a4-b844-4b28-a700-f1264c9cac93.png)

[2022-08-23 07:50] lyuwenyu commented on #45334
这个只能在导出的时候设置吧

[2022-08-23 08:09] lyuwenyu commented on #45323
我测了下时间主要是在log_softmax这个OP  @juncaipeng  看下

[2022-08-23 08:19] Ligoml commented on #45020
复数创建是支持的，但是API还未做到全量支持，你可以梳理一下需要复数计算的API有哪些，我们综合看下~
另外论文复现组委会需要看下这个题目 @Evezerest

[2022-08-23 08:20] luotao1 commented on #33364
close by #45229, thanks for @dc-cheny

[2022-08-23 08:20] #33364 closed, assigned to frankwhzhang

[2022-08-23 08:22] Ligoml commented on #44942
请提供更多环境信息，我们看下

[2022-08-23 08:26] #45199 closed, assigned to ZHUI

[2022-08-23 08:26] Ligoml commented on #45199
报名请在活动issue下回复

[2022-08-23 08:26] #45198 closed, assigned to ZHUI

[2022-08-23 08:26] luotao1 commented on #44942
请提供下commit信息，便于复现

[2022-08-23 08:26] Ligoml commented on #45198
报名请在活动issue下回复

[2022-08-23 08:41] YellowLight021 commented on #44501
【队名】：橘色闪光

【序号】：68

【论文】：[TransUNet: Transformers Make Strong Encoders for Medical Image Segmentation](https://arxiv.org/pdf/2102.04306v1.pdf))

【状态】：报名 & 提交

【repo链接】：[TransUnetPaddle](https://github.com/YellowLight021/TransUnetPaddle)

[2022-08-23 08:59] littletomatodonkey commented on #45020
你好，这篇论文的编号是多少呢？

[2022-08-23 09:17] peiwenYe opened #45345 "assign op"
### 请提出你的问题 Please ask your question

请问为啥assign这个op可以没有输入？

[2022-08-23 09:21] luotao1 commented on #45117
@QShiX 已经修复链接，感谢您的建议

[2022-08-23 09:21] #45117 closed, assigned to qili93

[2022-08-23 09:25] ctkindle commented on #44501
【队名】：FutureSI

【序号】：78

【论文】：[GAN-Supervised Dense Visual Alignment](https://paperswithcode.com/paper/gan-supervised-dense-visual-alignment)

【状态】：报名

【repo链接】：https://github.com/ctkindle/-GAN_Gealing_Paddle

[2022-08-23 10:07] Ligoml opened #45347 "【热身打卡】开发框架，从编译 paddle 开始"
各位参加飞桨开发者，大家好，欢迎大家参加飞桨社区贡献！有一些小伙伴有意愿参与，但不知道如何开始，飞桨团队特地推出了本次热身打卡活动，从编译开始，熟悉飞桨框架开发~
参与热身打卡活动并按照邮件模板格式将截图发送至 ext_paddle_oss@baidu.com 。

## 热身打卡活动简介

在飞桨框架二次开发中，编译 paddle 是一个重要环节，也是很多任务（如API开发、算子性能优化、数据类型扩展等）的前置条件。本次热身打卡活动，要求参与者通过 github 拉取 [PaddlePaddle/Paddle](https://github.com/PaddlePaddle/Paddle) 仓库代码，并参考 [源码编译教程](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/from

[2022-08-23 11:00] jeng1220 commented on #45328
What does it show if you type following instruction?
[code]

[2022-08-23 11:01] #45307 closed, assigned to minghaoBD

[2022-08-23 11:05] idreamerhx opened #45350 "ImportError: attempted relative import with no known parent package"
### bug描述 Describe the Bug

[code]

export CUDA_VER=11.6
export CUDA_VISIBLE_DEVICES=0

nvidia-smi
Tue Aug 23 18:04:04 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 510.47.03    Driver Version: 510.47.03    CUDA Version: N/A

pip list
Package            Version
------------------ -------------
paddle-bfloat      0.1.7
paddlepaddle-gpu   2.3.2.pos

[2022-08-23 12:02] flytocc opened #45357 "uint8类型的tensor无法切片"
报错信息

[code]

复现代码

[code]

[2022-08-23 12:11] OccupyMars2030 commented on #45317
收到。如果您准备提交PR来修复这个问题，修复成功后麻烦把这个PR的链接贴到这个issue下，我来学习一下官方是怎么处理这个问题的

[2022-08-23 12:31] ZongBowen commented on #44501
【队名】：just for fun

【序号】：67

【论文】：[DINO: DETR with Improved DeNoising Anchor Boxes for End-to-End Object Detection](https://arxiv.org/abs/2203.03605)

【状态】：报名

【repo链接】：[DINO_Paddle](https://github.com/ZongBowen/DINO_Paddle.git)

[2022-08-23 13:16] chenwhql commented on #43131
@piotrekobi

If you want forcing choose kernel in runtime, except this if condition, also need remove another if condition, if we remove all xpu marco impl, we can see the logic here clearly, focus the comment:

[code]

we can see the PHI kernel has higher priority than fluid kernel, but they can replace each other in runtime, we also can change the kernel from oneDNN to PHI during runtime  if we

[2022-08-23 14:10] aptx1231 commented on #44501
【队名】：aptx1231

【序号】：57 & 兴10

【论文】：CoST: Contrastive Learning of Disentangled Seasonal-Trend Representations for Time Series Forecasting

【状态】：提交

【repo链接】：https://github.com/aptx1231/CoST_Paddle

[2022-08-23 14:24] aptx1231 commented on #45020
我在复现论文57，CoST: Contrastive Learning of Disentangled Seasonal-Trend Representations for Time Series Forecasting。也遇到了这个问题，无法创建复数类型的参数。

【repo链接】：https://github.com/aptx1231/CoST_Paddle

[2022-08-23 15:12] ZhangzrJerry commented on #45307
I couldn't find out the reason of the issue. Maybe just something wrong with my Jupyter

[2022-08-23 15:34] sfraczek commented on #44621
Changing flag didn't help. I tried in docker instead of my ubuntu 20 pc and now it worked
paddlepaddle/paddle:latest-dev-cuda10.1-cudnn7-gcc82 (ubuntu 16). I wonder why.

[2022-08-24 00:44] minghaoBD commented on #45307
Yep, some similar issues can be found in jupyter's repo. You might get some insights there.

https://github.com/jupyter/notebook/issues/5543

[2022-08-24 02:56] littletomatodonkey commented on #45020
好的，我们再评估下这篇论文哈，你可以先看看其他的论文~感谢你的反馈

[2022-08-24 03:04] lyuwenyu commented on #45357
多谢反馈

[2022-08-24 03:05] lyuwenyu commented on #45350
那么个版本的paddle

[2022-08-24 03:09] lyuwenyu commented on #45350
是`import paddle`出现的错误嘛  我这边没有复现这个问题

[2022-08-24 03:12] monkeycc commented on #35058
paddlepaddle-gpu==2.3.2

nuitka 打包报错
我也遇到这个问题
lib_dir = os.path.sep.join([site.USER_SITE, 'paddle', 'libs'])
TypeError: sequence item 0: expected str instance, NoneType found

site.USER_SITE
这个地方改为paddle的目录才可以
@zhouwei25

[2022-08-24 03:29] Shrinco commented on #45334
我的意思是使用 trt 加速模型的推理，需要使用 SetTRTDynamicShapeInfo 来设置
指定优化节点shape
![image](https://user-images.githubusercontent.com/50402380/186312250-c7a2cf9c-f823-43d0-afd5-d212680550ef.png)
设置shape
![image](https://user-images.githubusercontent.com/50402380/186312281-4c422bd6-21ab-4aab-a4e5-8d55324f71a7.png)

[2022-08-24 03:36] Shrinco opened #45369 "请问什么时候推出支持 cuda11.6 相关的 paddle inference 推理库？"
### 请提出你的问题 Please ask your question

请问什么时候推出支持 cuda11.6 相关的 paddle inference 推理库？ 好像目前最高只支持 cuda11.2
![image](https://user-images.githubusercontent.com/50402380/186323077-4a60d181-8145-44dd-80a6-bf04d5dfa40a.png)

[2022-08-24 04:26] wykkyle opened #45374 "【动态图转静态图】对__init__函数中创造的tensor进行slice的时候不报错退出。"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/20754685/186328335-6f0ea928-4317-4e5e-a732-09199acbde7b.png)
在__init__函数中生成一个tensor。
在forward函数中进行slice操作。
不报错退出了。（windows下不报错，linux下报内存访问违规）。

[2022-08-24 04:28] wykkyle commented on #45374
猜测是tensor放在list中的问题。但是确实需要多个张量（mrcnn中的锚框）。有什么好办法吗。

[2022-08-24 05:25] xiaoxiaohehe001 commented on #45369
cuda11.6的推理库已经在编译阶段了，近期就会发布

[2022-08-24 05:46] Shrinco commented on #45369
好的 谢谢

[2022-08-24 06:16] lyuwenyu commented on #45345
API层面是不可以的吧  参考这个文档https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/assign_cn.html#assign

[2022-08-24 06:17] lyuwenyu commented on #45334
中间节点的shape不可以改的 trt自动生成的

[2022-08-24 06:23] zh794390558 commented on #45374
可以用 tensorarray 试试。正常对一个tensor做slice是可以的。
也可以试试https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/LayerList_cn.html#layerlist
或者 tensor([20, 10, 10]) 这种的做slice

[2022-08-24 06:24] Shrinco commented on #45334
那为什么推理库里的 EnableTensorRtEngine 函数中 min_subgraph_size 设置小了，会提示有一些节点没有设置呢？
我是参考的这个链接：https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.5/doc/doc_ch/FAQ.md#213

[2022-08-24 06:24] idreamerhx commented on #45350
您好，是pip装好paddlepaddle-gpu之后  import paddle报错。   virtualenv环境。
不知道提供什么信息能帮你重现。

[2022-08-24 06:28] fairygithub opened #45378 "动态图本地模型保存报错，Exception has occurred: ValueError In transformed code"
### 问题描述 Issue Description

指南的模型开发入门的模型保存与载入，推荐使用paddle.jit.save/load（动态图），但是报错
Exception has occurred: ValueError
In transformed code:
 File "XXXXXX.py", line 76, in forward
        x = F.relu(x)

        x = self.conv1(x)
[code]

[2022-08-24 06:30] idreamerhx commented on #45350
我今天又重启这个环境试下：
root@dev01rtx:/# python -c 'import paddle'
/opt/pyvenv-paddle/lib/python3.8/site-packages/paddle/fluid/framework.py:516: UserWarning: You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default.
  warnings.warn(

root@dev01rtx:/# nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2022 NVIDIA Corporation
Built on

[2022-08-24 06:49] LightSun commented on #43580
@an1018 I found that paddle doesn't support the module yolox. It was said in paddle doc( https://paddleinference.paddlepaddle.org.cn/optimize/paddle_trt.html ).

[2022-08-24 07:01] #45324 closed, assigned to littletomatodonkey, lyuwenyu

[2022-08-24 07:01] zly19540609 commented on #45369
![image](https://user-images.githubusercontent.com/31341706/186352154-60a1f995-ba17-4aa2-a8f2-e0b1eae88a03.png)
https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows
已经有cuda11.6的推理库了

[2022-08-24 07:10] Shrinco commented on #45369
@zly19540609 好的 谢谢

[2022-08-24 07:17] zh794390558 commented on #45378
麻烦贴下完整的报错和代码吧。

[2022-08-24 07:29] fairygithub commented on #45378
好的，我正在用这个代码参加一个比赛，请不要发到公开平台上，多谢啦
下图是报错代码：

复制错误信息如下：
Exception has occurred: ValueError

In transformed code:     File "h:\Desktop\pp\evaluationNet.py", line 76, in forward         x = F.relu(x)         x = self.conv1(x)         ~~~~~~~~~~~~~~~~~ <--- HERE         x = x + x1         x = F.relu(x)             File "C:\ProgramData\Anaconda3\envs\paddle_env\lib\site-packages\paddle\fluid\dygraph\laye

[2022-08-24 07:39] Van9uard commented on #44501
【队名】：天天摸鱼

【序号】：32

【论文】：PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds

【状态】：报名

【repo链接】：https://github.com/Van9uard/PAConv_Paddle

[2022-08-24 07:52] peiwenYe commented on #45345
是的，我使用api无输入时会报错，想请问无输入且不报错的写法应该是这样的

[2022-08-24 08:20] Littlehong-ai opened #45382 "有关config.enable_profile()"
### 请提出你的问题 Please ask your question

paddle-inference 开启config.enable_profile()，运行推理后生成的.log文件乱码该怎么查看？

[2022-08-24 08:39] vax521 commented on #44501
【队名】：外阜在京劳动力

【序号】：兴14

【论文】：From Two to One: A New Scene Text Recognizer with Visual Language Modeling Network

【状态】：报名

【repo链接】：https://github.com/vax521/FromTwotToOne

[2022-08-24 09:30] wykkyle commented on #45374
好方法。用一个nnLayer包裹tensor。本来是Tensor的List，包裹后变成nnLayer的List，就可以通过动静转换了。
![image](https://user-images.githubusercontent.com/20754685/186383290-708ef3ef-2e1e-4b7d-bab0-d9ac7421c8f6.png)
多谢。

总归有点别扭...又试了下register_buffer，不起作用。

[2022-08-24 09:34] Ligoml commented on #44671
这个问题应该会被 https://github.com/PaddlePaddle/docs/pull/5174 解决，可以后续再观察一下~

[2022-08-24 09:44] SigureMo commented on #44671
嗯嗯，按理说是可以被 https://github.com/PaddlePaddle/docs/pull/5174 解决的，不过目前我看只是 rename 了，还没处理映射关系，所以那个预览看起来是这样的：

<img width="242" alt="image" src="https://user-images.githubusercontent.com/38436475/186386648-e4b483a2-b97a-4922-af65-4df379268822.png">

develop 是正常的，可能还没更新？

等完全解决后我 close 本 issue

[2022-08-24 11:01] #45345 closed, assigned to lyuwenyu, JZ-LIANG

[2022-08-24 11:21] zh794390558 commented on #45378
看下提示 `ValueError: Input x should be 3D tensor, but received x with the shape of (-1, 32)`

也麻烦格式化下代码和报错信息。

[2022-08-24 12:00] yangshurong opened #45392 "【论文复现赛】roi_align在batch不等于1时存在问题"
### bug描述 Describe the Bug

pytorch的这个算子torchvision.ops.roi_align可以支持batch！=1时的操作
paddle使用paddle.vision.ops.roi_align算子时，batch！=1时出现问题
paddle版本为2.3.1
如下代码中，batch==4，报错
[code]

报错为
[code]

 batch等于1时不报错
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-24 12:29] dingjiaweiww commented on #44671
你看的是测试环境，修改文件名的pr已经上线到正式环境了，官网develop版本现在已经修改正确，2.2/2.3 版本今天会merge pr，晚间官网自动更新，明天可以再check下2.2/2.3 的官网文档，多谢反馈

[2022-08-25 00:48] wykkyle commented on #45392
num参数没给对。

[2022-08-25 00:51] wykkyle commented on #45392
num参数没给对。
------
每一张图片有多少个bbox选框是不知道的。所以num参数要告诉函数每一张图片各自有多少选框。
比如2张图片，8个选框。num可以是[3,5]。
告诉函数前3个选框属于第一张图片，接下俩5给选框属于第二张图片。

[2022-08-25 02:12] pfqiu9 commented on #44501
【队名】：在校菜鸟

【序号】：兴3

【论文】：Swin-Unet: Unet-like Pure Transformer for Medical Image Segmentation](https://arxiv.org/abs/2105.05537

【状态】：报名

【repo链接】：https://github.com/pfqiu9/xingzhibei

[2022-08-25 02:14] ghost commented on #44501
【队名】：在校菜鸟

【序号】：兴3

【论文】：Swin-Unet: Unet-like Pure Transformer for Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/pfqiu9/xingzhibei

[2022-08-25 02:17] fairygithub commented on #45378
您好，辛苦您了，所报错的问题（ValueError: Input x should be 3D tensor, but received x with the shape of (-1, 32)）正是令人困惑的地方，这个程序已经训练测试成功，并没有报错，只是加了save部分才有报错信息。我把运行过程做了断点，显示这一句输入张量为三维，shape为[138,1,32], 您请看运行截图如下：

下一步也设上断点，还是三维张量：

之前那个格式可能因为粘贴到mail里面有丢失，我把代码文件放在附件里面，请查收。

钟凤媛
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-08-25 02:32] zh794390558 commented on #45378
check下inputspec中给的shape是否正确。应该就是shape的问题。

[2022-08-25 02:51] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：78
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/CINN/pull/897

[2022-08-25 02:55] sunzhongkai588 opened #45400 "【飞桨体验评测任务第五期】"
## 一、背景介绍

2022年飞桨将重点开展开发者生态贡献机制，建立开发者与飞桨的多样化联动，共同打造优秀的开源生态。在今年6月，我们开展了第四次评估，重点放在桨分布式API文档评估、Lite文档评估、Inference文档评估，共收集到反馈 20+的体验评测报告，为相关产品的优化提供了重要的信息输入。为了进一步提升飞桨框架的使用体验，我们诚挚的邀请你参与到第五期体验评估中，这次主要是**飞桨动转静文档评估任务**、**飞桨安装评测**，并且和我们一起共建飞桨框架，后续会陆续安排其他产品模块的体验评测，希望大家持续关注。

## 二、参与流程
![image](https://user-images.githubusercontent.com/70642955/169789254-206eb856-5ba2-4326-91f8-80cde5f4b824.png)

## 三、具体任务：

[2022-08-25 04:01] topxxuki opened #45405 "paddle1.6安装检查ok但运行报错cudnn问题"
### 请提出你的问题 Please ask your question

paddle版本
<img width="411" alt="image" src="https://user-images.githubusercontent.com/18697846/186571761-2eaedc97-a9ea-4055-a3c5-c9e992a1abc4.png">
安装检查
![53ede6f2f48eb4ba55a1d338b87fcbf3](https://user-images.githubusercontent.com/18697846/186571776-e1e0ab5f-ee61-4230-9990-9043485a6b0a.jpg)
报错信息
![e4181de6325470566eacec039ddea346](https://user-images.githubuser

[2022-08-25 04:05] fairygithub commented on #45378
非常感谢，正是shape设置的问题，仔细查看了函数的说明，发现了shape参数的详细要求，问题解决了。给你100个赞!

钟凤媛
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022

[2022-08-25 06:28] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：75
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/227

[2022-08-25 06:41] SigureMo commented on #44671
嗯，我确定了下 develop 分支不是没更新，所以这个修复确实是有效的

[2022-08-25 06:41] #44671 closed, assigned to Ligoml

[2022-08-25 06:46] Li-fAngyU opened #45412 "请问Paddle和Torch的双向LSTM如何对齐呢？"
### 请提出你的问题 Please ask your question

请问Paddle和Torch的双向LSTM如何对齐呢？
[code]
odict_keys(['weight_ih_l0', 'weight_hh_l0', 'bias_ih_l0', 'bias_hh_l0', 'weight_ih_l0_reverse', 'weight_hh_l0_reverse', 'bias_ih_l0_reverse', 'bias_hh_l0_reverse', '0.cell_fw.weight_ih', '0.cell_fw.weight_hh', '0.cell_fw.bias_ih', '0.cell_fw.bias_hh', '0.cell_bw.weight_ih', '0.cell_bw.weight_hh', '0.cell_bw.bias_ih', '0.cell_

[2022-08-25 06:56] kevinluoc opened #45414 "VisualDL 动态模型输出报错"
### bug描述 Describe the Bug

我们想在visualdl中输出模型结构，但一直报错，直接使用官方提供的示例也一样出错:"Failed to save model graph, error: ''"。

## 以下代码中有写下相关注释，即时尝试一个线性回归的简单模型，也一样出错

import numpy as np
import paddle
import paddle.nn as nn
import paddle.optimizer as opt
from paddle.static import InputSpec
from visualdl import LogWriter

BATCH_SIZE = 16
BATCH_NUM = 4
EPOCH_NUM = 4
IMAGE_SIZE = 784
CLASS_NUM = 10

writer = LogWrit

[2022-08-25 07:08] #45374 closed, assigned to nobody

[2022-08-25 07:16] #44668 closed, assigned to frankwhzhang

[2022-08-25 07:43] topxxuki commented on #45405
补充：
成功的日志
![image](https://user-images.githubusercontent.com/18697846/186605436-c5c02488-2085-455f-83e5-749e9ff270bf.png)

![image](https://user-images.githubusercontent.com/18697846/186605156-91a46ead-fdf7-4710-91e5-535f0b1d2727.png)
失败的日志
![image](https://user-images.githubusercontent.com/18697846/186605414-acbf61a7-fa8f-4295-87de-0ecb93bd9472.png)

![image](https://user-images.githubusercontent

[2022-08-25 07:57] arzakmiftakhul commented on #32828
I have the same problem on NVIDIA AGX Xavier, Ubuntu 18. Have you solved it?

[2022-08-25 08:14] HydrogenSulfate commented on #42429
你好，lv_vit模型的forward函数中，`return x_cls + 0.5 * x_aux.max(1)[0]`这一行调用了max这个API，[torch.max](https://pytorch.org/docs/stable/generated/torch.max.html#torch.max)会返回两个值max_value, max_indices，[paddle.max](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/max_cn.html#fanhui)只会返回max_value。
建议将`LV_ViT.forward`函数修改成以下代码：
[code]
修改完毕之后bs 64/128/256+有无shuffle的情况下，结果全部都是`Acc@1 79.636 Acc@5 94.848

[2022-08-25 08:16] saisai98 commented on #43938
【队名】：冲冲冲
【序号】：101
【状态】：报名
【链接】：https://github.com/saisai98/openvino

[2022-08-25 08:16] saisai98 commented on #43938
【队名】：冲冲冲
【序号】：102
【状态】：报名
【链接】：https://github.com/saisai98/openvino

[2022-08-25 08:47] flytocc commented on #42429
我已经修正了这个错误。这个issue也在几天前就关闭了。辛苦你了。

[2022-08-25 08:47] #42429 closed, assigned to windstamp

[2022-08-25 08:48] heliqi commented on #43817
@yaomichael  @jakpiase
older input dataset
Native Paddle | OneDNN after 43803 PR | OneDNN after 45091  PR
-- | -- | --
130ms | 73ms | 67ms

new input dataset(smaller):

Native Paddle | OneDNN after 43803 PR | OneDNN after 45091  PR
-- | -- | --
33ms | 33ms | 19ms

[2022-08-25 08:59] joey12300 commented on #45412
你好，你能提供一个展示这两者没对齐的最小可复现代码吗？我这边跑一下

[2022-08-25 09:00] zhiboniu commented on #45405
如在群里沟通，问题是因为pinmemory资源不够用了。且以前可以跑，后来跑过其他程序后就跑不通了，需要先确认其他程序的资源是否已经归还了。

[2022-08-25 09:15] topxxuki commented on #45405
重新执行报错如下：
![image](https://user-images.githubusercontent.com/18697846/186625497-e1c50b53-68bd-4281-b696-d3ad418956a8.png)
![image](https://user-images.githubusercontent.com/18697846/186625974-9302f484-74ef-49d5-9118-61e4468efd66.png)

[2022-08-25 09:34] zhiboniu commented on #45414
你好，visualdl可视化的模型应该是动态模型，应该是你这里paddle.jit.save导致的问题。
可以参考官方使用示例：
https://github.com/PaddlePaddle/VisualDL/blob/develop/docs/components/README_CN.md#Graph--%E7%BD%91%E7%BB%9C%E7%BB%93%E6%9E%84%E7%BB%84%E4%BB%B6

[2022-08-25 09:39] kevinluoc commented on #45414
您好，感谢回复，但“paddle.jit.save”我们代码中是没有写的，我们只是写了这么一句“`writer.add_graph(model=layer, input_spec=[paddle.static.InputSpec(shape=[None, 784], dtype='float32')], verbose=False)`”， 我们是通过debug进去看到里面有调用到"paddle.jit.save"，所以是否本身Paddle上这个add_graph函数有问题，谢谢！

[2022-08-25 09:41] txyugood commented on #44501
【队名】：txyugood

【序号】：68

【论文】：[TransUNet: Transformers Make Strong Encoders for Medical Image Segmentation](https://arxiv.org/pdf/2102.04306v1.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/txyugood/PaddleSeg/tree/transnet

[2022-08-25 09:57] zhiboniu commented on #45414
不是的，这段报错本身就是静态图模型才会出现的现象。我如果没有看错的话save下面这段代码是保存静态图的
paddle.jit.save(
layer=layer,
path=path,
input_spec=[InputSpec(shape=[None, 784], dtype='float32')])

![image](https://user-images.githubusercontent.com/31800336/186635196-841d3301-1cce-4492-ad52-d02947e8c589.png)

不管怎样，先确认add_graph传的layer模型是动态图模型吧

[2022-08-25 10:59] Zth9730 opened #45422 "两个相同的数相除结果不为1"
### bug描述 Describe the Bug

[code]
如果换成259281，结果为1
是什么原因导致？

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-25 11:29] zhiboniu commented on #45422
应该是1/259280计算时有精度损失的原因。

[2022-08-25 11:46] zhiboniu commented on #45422
看起来是1./259280.做数据转换时导致了精度损失，numpy也有这个问题，可以看看下面的示例

np.float32(259280.)*np.float32(1/259280.)

 float(np.float32(1./259280.))==1./259280

[2022-08-25 11:57] Zth9730 commented on #45422
但是pytorch/numpy直接做 259280/259280结果为1
而paddle结果却不对

[2022-08-25 12:09] zhiboniu commented on #45422
有具体的测试代码吗？

[2022-08-25 12:33] Zth9730 commented on #45422
[code]

[2022-08-25 12:35] zhiboniu commented on #45422
好的，我们安排专人来看一下，请关注后续升级内容。

[2022-08-25 12:49] ZHUI commented on #45422
可能添加了 epsilon 防止发生 除 0 错误？

[2022-08-25 13:09] pengwei1024 opened #45430 "ExternalError: Cuda error(9), invalid configuration argument."
### bug描述 Describe the Bug

有三个模型，有两个是 int8量化，且使用了校准表_opt_cache，一个是 float32。
开一个线程去跑都是正常的，
开多个线程，每个线程创建一个 infer 对象，再去执行就报错如下了。
请问下paddle 对这方面有限制吗？
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-25 13:53] zhangping12345 commented on #45193
谢谢，我希望（GPU版本的推理库运行在无CUDA的机器上通过CPU运行）处理方式是不出异常，就是正常的工作。

[2022-08-25 15:03] blurmemo commented on #35543
请问楼主是怎么解决的吗

[2022-08-25 15:28] blurmemo opened #45434 "(External) Cuda error(700), an illegal memory access was encountered."
### 问题描述 Please describe your issue

最近在用solov2模型进行摄像头实时检测分割，运行python deploy/python/infer.py -model_dir=./inference_model/solov2_r50_fpn_3x_coco --device=GPU --camera_id=0
会报(External) Cuda error(700), an illegal memory access was encountered.
如果改成cpu则正常打开摄像头，但是会卡死
请问--device=GPU的报错如何解决
版本、环境信息
1）paddlenlp 2.3 paddlepaddle-gpu 2.3.2 CUDA=11.6 cuDNN=8.4.0
2）系统环境：Windows python 3.8x
![QQ图片2022082523

[2022-08-26 01:56] Li-fAngyU commented on #45412
复现代码如下：
[code]
基于上面的key，我仅对齐前八个参数名一致的key。

[code]

[2022-08-26 02:02] zhiboniu commented on #45430
看起来是memory::Alloc出错的，是不是内存不够同时跑3个模型呢

[2022-08-26 02:23] zhiboniu commented on #45434
有没有更完整的log，另外出错的时候显存是否够用呢

[2022-08-26 03:05] #34571 closed, assigned to vslyu

[2022-08-26 03:05] #34335 closed, assigned to frankwhzhang

[2022-08-26 03:36] paperHZ opened #45437 "GPU推理环境，多线程加载卸载模型必现程序崩溃(模型绑定同一张GPU卡)"
### bug描述 Describe the Bug

### 问题描述：
GPU推理环境，多线程加载卸载模型必现程序崩溃(模型绑定同一张GPU卡)
### 复现环境：
    1、基础镜像：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/docker/linux-docker.html   registry.baidubce.com/paddlepaddle/paddle:2.3.1-gpu-cuda11.2-cudnn8
    2、GPU推理库:  https://paddle-inference-lib.bj.bcebos.com/2.3.1/cxx_c/Linux/GPU/x86-64_gcc8.2_avx_mkl_cuda11.2_cudnn8.2.1_trt8.0.3.4/paddle_inferen

[2022-08-26 04:00] #45405 closed, assigned to zhiboniu

[2022-08-26 04:12] yuwoyizhan commented on #45422
整数除法我不懂,如果是浮点数除法,那电脑程序的结果大概率无法跟数学计算结果相同的.举个简单例子,0.2+0.5-0.7跟0比较,结果是false.不要对计算机的浮点数的运算要求太高,否则可能导致性能大幅度下降.飞桨升级浮点数相关内容的话,也得测试性能会不会下降.

[2022-08-26 04:19] yuwoyizhan commented on #45323
性能差距这么大吗?我本人对性能最感兴趣,那希望飞桨好好测试吧.以前也看过一个issue,说的是飞桨动态图小神经网络训练比pytorch慢几倍.飞桨是不是在小神经网络上优化不到位呢?只注重应用的模型呢?应用的模型往往比较大,几十层几百层神经网络.比如resnet,文心大模型.

[2022-08-26 04:26] yokingyan commented on #44501
【队名】：yoking

【序号】：51

【论文】：Gradient-enhanced physics-informed neural networks for forward and inverse PDE problems

【状态】：报名

【repo链接】：https://github.com/konanl/PINNs-paper-reproduction

[2022-08-26 04:52] ZhangzrJerry opened #45442 "why it throws typeerror out"
I couldn't found how I can deal this problem
[code]
& here is my code
[code]

[2022-08-26 07:41] joey12300 commented on #45412
@Li-fAngyU 你好。paddle.nn.LSTM和torch.nn.LSTM最大的不同是对input这个tensor的shape有着不一样的认知。在torch中，`batch_first`默认为False，即默认认为input的shape为 (seq_len, batch, hidden_size); 而在paddle中没有这个参数，paddle使用`time_major`表示，默认为False，即默认认为input的shape为 (batch, seq_len, hidden_size)。这一默认值差别导致输出结果不一致。解决的方法可以在paddle.nn.LSTM的入参中添加`time_major=True`，即：

[code]

[2022-08-26 07:43] Li-fAngyU commented on #45412
非常感谢，我明白了。谢谢解答

[2022-08-26 07:43] #45412 closed, assigned to zhiboniu

[2022-08-26 08:19] DrownFish19 commented on #44501
【队名】：DrownFish19

【序号】：49

【论文】：Combining Differentiable PDE Solvers and Graph Neural Networks for Fluid Flow Prediction

【状态】：报名

【repo链接】：https://github.com/DrownFish19/inn-surrogate-paddle

[2022-08-26 08:53] #27372 closed, assigned to guoshengCS

[2022-08-26 08:53] #29507 closed, assigned to Superjomn

[2022-08-26 08:53] #31842 closed, assigned to vslyu

[2022-08-26 08:53] #32326 closed, assigned to hutuxian, shangzhizhou

[2022-08-26 08:53] #32806 closed, assigned to Thunderbrook

[2022-08-26 08:53] #32822 closed, assigned to yaoxuefeng6

[2022-08-26 08:53] #32998 closed, assigned to wanghuancoder

[2022-08-26 08:53] #33006 closed, assigned to Joejiong

[2022-08-26 08:53] #33276 closed, assigned to jiweibo, shangzhizhou

[2022-08-26 08:53] #33433 closed, assigned to heavengate

[2022-08-26 08:53] #33483 closed, assigned to ceci3

[2022-08-26 08:53] #33972 closed, assigned to zhwesky2010

[2022-08-26 08:53] #33974 closed, assigned to wanghuancoder

[2022-08-26 08:53] #34244 closed, assigned to wawltor

[2022-08-26 08:53] #34250 closed, assigned to gongweibao, wawltor

[2022-08-26 08:53] #34290 closed, assigned to phlrain

[2022-08-26 08:53] #34380 closed, assigned to ceci3

[2022-08-26 08:53] #34382 closed, assigned to ceci3

[2022-08-26 08:53] #34390 closed, assigned to ceci3

[2022-08-26 08:53] #34412 closed, assigned to Shixiaowei02

[2022-08-26 08:53] #34437 closed, assigned to nobody

[2022-08-26 08:53] #34438 closed, assigned to nobody

[2022-08-26 08:53] #34471 closed, assigned to nobody

[2022-08-26 08:53] #34472 closed, assigned to LDOUBLEV

[2022-08-26 08:53] #34479 closed, assigned to jiangjiajun

[2022-08-26 08:53] #34481 closed, assigned to TCChenlong

[2022-08-26 08:53] #34484 closed, assigned to nobody

[2022-08-26 08:53] #34490 closed, assigned to nobody

[2022-08-26 08:53] #34494 closed, assigned to zhupengyang

[2022-08-26 08:53] #34496 closed, assigned to yaoxuefeng6, zhupengyang

[2022-08-26 08:53] #34497 closed, assigned to zhupengyang

[2022-08-26 08:53] #34504 closed, assigned to zhupengyang

[2022-08-26 08:53] #34514 closed, assigned to zhupengyang

[2022-08-26 08:54] #34527 closed, assigned to weiexcelpro, DannyIsFunny

[2022-08-26 08:54] #34533 closed, assigned to kuizhiqing, DannyIsFunny

[2022-08-26 08:54] #34557 closed, assigned to DannyIsFunny

[2022-08-26 08:54] #34566 closed, assigned to jiweibo

[2022-08-26 08:54] #34581 closed, assigned to heavengate

[2022-08-26 08:54] #34590 closed, assigned to jiweibo

[2022-08-26 08:54] #34604 closed, assigned to fengxiaoshuai

[2022-08-26 08:54] #34621 closed, assigned to nobody

[2022-08-26 08:54] #34626 closed, assigned to nobody

[2022-08-26 08:54] #34650 closed, assigned to cryoco

[2022-08-26 08:54] #34687 closed, assigned to FrostML, zhangting2020

[2022-08-26 08:54] #34689 closed, assigned to hong19860320, zhangting2020

[2022-08-26 08:54] #34701 closed, assigned to ForFishes

[2022-08-26 08:54] #34710 closed, assigned to ForFishes

[2022-08-26 08:54] #34712 closed, assigned to ForFishes

[2022-08-26 08:54] #34713 closed, assigned to ForFishes

[2022-08-26 08:54] #34718 closed, assigned to ForFishes

[2022-08-26 08:54] #34722 closed, assigned to ForFishes

[2022-08-26 08:54] #34725 closed, assigned to nobody

[2022-08-26 08:54] #34726 closed, assigned to ForFishes

[2022-08-26 08:54] #34742 closed, assigned to Thunderbrook

[2022-08-26 08:54] #34743 closed, assigned to Thunderbrook

[2022-08-26 08:54] #34749 closed, assigned to Thunderbrook

[2022-08-26 08:54] #34756 closed, assigned to Thunderbrook

[2022-08-26 08:54] #34759 closed, assigned to Thunderbrook

[2022-08-26 08:54] #34760 closed, assigned to Thunderbrook

[2022-08-26 08:54] #34775 closed, assigned to Thunderbrook

[2022-08-26 08:54] #34776 closed, assigned to Thunderbrook

[2022-08-26 08:54] #34777 closed, assigned to Thunderbrook

[2022-08-26 08:54] #34778 closed, assigned to Thunderbrook

[2022-08-26 08:54] #34779 closed, assigned to Thunderbrook

[2022-08-26 08:54] #34784 closed, assigned to yaoxuefeng6

[2022-08-26 08:54] #34786 closed, assigned to jiweibo, yaoxuefeng6

[2022-08-26 08:54] #34790 closed, assigned to yaoxuefeng6

[2022-08-26 08:54] #34805 closed, assigned to yaoxuefeng6

[2022-08-26 08:54] #34816 closed, assigned to yaoxuefeng6

[2022-08-26 08:54] #34817 closed, assigned to yaoxuefeng6

[2022-08-26 08:54] #34825 closed, assigned to yaoxuefeng6

[2022-08-26 08:54] #34831 closed, assigned to iclementine

[2022-08-26 08:54] #34858 closed, assigned to wanghaoshuang, iclementine

[2022-08-26 08:54] #34882 closed, assigned to huangjun12

[2022-08-26 08:54] #34892 closed, assigned to huangjun12

[2022-08-26 08:54] #34903 closed, assigned to Aurelius84

[2022-08-26 08:54] #34904 closed, assigned to LDOUBLEV

[2022-08-26 08:54] #34905 closed, assigned to LDOUBLEV

[2022-08-26 08:54] #34920 closed, assigned to wangxicoding

[2022-08-26 08:54] #34923 closed, assigned to wangxicoding

[2022-08-26 08:54] #34930 closed, assigned to wangxicoding, heavengate

[2022-08-26 08:54] #34932 closed, assigned to wangxicoding, T8T9

[2022-08-26 08:54] #34939 closed, assigned to wangxicoding

[2022-08-26 08:54] #34944 closed, assigned to wangxicoding

[2022-08-26 08:54] #34949 closed, assigned to JZ-LIANG

[2022-08-26 08:54] #34966 closed, assigned to JZ-LIANG

[2022-08-26 08:54] #34987 closed, assigned to pangyoki

[2022-08-26 08:54] #34989 closed, assigned to TCChenlong, pangyoki

[2022-08-26 08:54] #34991 closed, assigned to TCChenlong, pangyoki

[2022-08-26 08:54] #35003 closed, assigned to wanghuancoder

[2022-08-26 08:54] #35023 closed, assigned to wanghuancoder

[2022-08-26 08:54] #35031 closed, assigned to wanghuancoder

[2022-08-26 08:54] #35037 closed, assigned to TeslaZhao

[2022-08-26 08:54] #35053 closed, assigned to zhwesky2010

[2022-08-26 08:54] #35057 closed, assigned to hbwx24

[2022-08-26 08:54] #35074 closed, assigned to chenjiaoAngel

[2022-08-26 08:54] #35080 closed, assigned to chenjiaoAngel

[2022-08-26 08:54] #35087 closed, assigned to chenjiaoAngel

[2022-08-26 08:54] #35099 closed, assigned to chenjiaoAngel

[2022-08-26 08:54] #35104 closed, assigned to nobody

[2022-08-26 08:54] #35110 closed, assigned to nobody

[2022-08-26 08:54] #35119 closed, assigned to nobody

[2022-08-26 08:54] #35135 closed, assigned to Leonardo-Ding

[2022-08-26 08:54] #35142 closed, assigned to qili93

[2022-08-26 09:08] Walterfdh opened #45458 "St10shared_ptrIN6paddle10imperative7VarBaseEE"
### 请提出你的问题 Please ask your question

  File "inference.py", line 118, in <module>
    main()
  File "inference.py", line 106, in main
    _, combine_A = trilinear_(LUT, fake_input)
  File "/home/fdh/anaconda/envs/3DLUT_pytorch1/lib/python3.7/site-packages/paddle/fluid/dygraph/layers.py", line 930, in __call__
    return self._dygraph_call_func(*inputs, **kwargs)
  File "/home/fdh/anaconda/envs/3D

[2022-08-26 09:19] OccupyMars2030 opened #45460 "buffer tensor serialization when using paddle.jit.save"
### 请提出你的问题 Please ask your question

Please refer to my AI studio project:
https://aistudio.baidu.com/aistudio/projectdetail/4465624

[2022-08-26 09:51] weisy11 commented on #45460
![image](https://user-images.githubusercontent.com/19523330/186878129-88db511a-f5fc-44fc-8e52-361d493d0625.png)
Please ask your question

[2022-08-26 09:57] weisy11 commented on #45458
Please provide code for us to reproduce this bug, thank you.

[2022-08-26 10:05] weisy11 commented on #45442
你好，请使用最新版本的paddle和新版本对应的paddle教程

[2022-08-26 10:09] weisy11 commented on #45442
你好，请先检查一下数据集里是否有数据，如果还有问题，请提供下 x_train和y_train的实现

[2022-08-26 10:24] OccupyMars2030 commented on #45460
<img width="646" alt="image" src="https://user-images.githubusercontent.com/31559413/186884026-acb96f06-87be-4bef-97cf-b84ed5037518.png">

The question is located at  the last cell.

[2022-08-26 10:25] GuoQuanhao opened #45464 "Paddle2.3.2 mask_select op计算错误"
### bug描述 Describe the Bug

![image](https://user-images.githubusercontent.com/49911294/186884102-fa545ae6-5706-4395-955f-fa5aa254c717.png)

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-26 10:25] GuoQuanhao commented on #45464
win10 3090

[2022-08-26 10:37] ZhangzrJerry commented on #45442
[code]
数据来源：
https://aistudio.baidu.com/aistudio/competition/detail/142/0/datasets

[2022-08-26 10:37] jzhang533 commented on #36801
has been fixed in develop branch.

[2022-08-26 11:31] liuhongen1234567 commented on #44501
【队名】：LHE-2022

【序号】：71

【论文】：[Deep Relational Reasoning Graph Network for Arbitrary Shape Text Detection](https://openaccess.thecvf.com/content_CVPR_2020/papers/Zhang_Deep_Relational_Reasoning_Graph_Network_for_Arbitrary_Shape_Text_Detection_CVPR_2020_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/LHE-IT/Deep-Relational-Reasoning-Graph-Network-for-Arbitrary-Shape-Text-Detection

[2022-08-26 11:53] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么
【序号】：10
【状态】：报名
【链接】：https://github.com/MayYouBeProsperous/Paddle

[2022-08-26 12:03] Cppowboy opened #45472 "ExternalError: CUDA error(719), unspecified launch failure."
### bug描述 Describe the Bug

训练过程中报错，训练进行一段时间后报错，训练开始阶段正常

[code]

### 其他补充信息 Additional Supplementary Information

paddle 2.2.2
cuda 10.2
ubuntu 16.04

[2022-08-26 12:04] Cppowboy commented on #45472
是sharding或amp导致的nan/inf还是index访问越界？

[2022-08-26 12:48] gglin001 commented on #36801
@jzhang533  could you list the PRs which fixed this problem? thanks

[2022-08-26 16:01] monkeycc opened #45482 "WARNING 怎么取消提示"
### 问题描述 Please describe your issue

2022-08-26 23:50:12,631-WARNING: type object 'QuantizationTransformPass' has no attribute '_supported_quantizable_op_type'
2022-08-26 23:50:12,632-WARNING: If you want to use training-aware and post-training quantization, please use Paddle >= 1.8.4 or develop version

WARNING 怎么取消提示

我是用PaddleX的

知道WARNING    不影响

但是我就是不想看到
要清除这两个WARNING

[2022-08-26 18:18] xiaohemaikoo opened #45483 "windows develop分支编译不过。"
### 问题描述 Issue Description

![QQ图片20220826195809](https://user-images.githubusercontent.com/35183089/186964669-cb0f41df-8e6d-495d-a98e-69eb8098d83c.png)

编译选项：
cmake .. -GNinja -DWITH_GPU=ON -DWITH_UNITY_BUILD=ON -DWITH_TESTING=ON

编译基线commit：
commit bba13e219f9586ab52ef26d630c65144b2dfcf85
Author: wanghuancoder <wanghuan29@baidu.com>
Date:   Sat Aug 20 20:39:51 2022 +0800

    [Eager] pylayer det

[2022-08-27 00:23] OccupyMars2030 opened #45484 "try to put all the inference logic into a model's forward method"
### 请提出你的问题 Please ask your question

![952753f157907e073063bfaed394b7f](https://user-images.githubusercontent.com/31559413/187006309-9c0d7eb7-12e8-4167-b33e-543ecf0fa47f.jpg)

https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/jit/case_analysis_cn.html#inputspec

When I read the above blue part  on the official  documentation,  I'm not quite clear about what it means.  Can the P

[2022-08-27 01:52] OccupyMars2030 commented on #45483
-DWITH_UNITY_BUILD=ON 的作用似乎是加速编译，请问如果你完全用飞桨官网上的编译命令，能否编译通过？我只是个围观群众，不是飞桨员工。

[2022-08-27 02:04] OccupyMars2030 commented on #45460
Just for  my reference:
The code example is used  at  two  locations  but  with  different  emphasis:
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/jit/case_analysis_cn.html#to-tensor
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/jit/principle_cn.html#buffer

[2022-08-27 03:00] OccupyMars2030 opened #45485 "How is paddle.jit.to_static implemented ?"
### 请提出你的问题 Please ask your question

[The document  of paddle.jit.save  on official  PaddlePaddle  website](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/jit/to_static_cn.html#to-static) tells
 me  that  its source code is  located  at  [python\paddle\fluid\dygraph\jit.py](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dygraph/jit.py),  but  I  cannot

[2022-08-27 03:13] OccupyMars2030 opened #45486 "conflicts about the description of "input_spec" argument of paddle.jit.to_static() on official documentation"
### 文档链接&描述 Document Links & Description

[（4）方式四：指定非 Tensor 参数类型](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/jit/basic_usage_cn.html#jibenyongfa)
says:
net = to_static(input_spec=[InputSpec(shape=[None, 10], name='x'), True])

which has a conflict with  [目前仅支持指定 Tensor 类型信息，非 Tensor 类型信息均使用 函数定义的默认值](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/ji

[2022-08-27 04:32] Agino-ltp opened #45487 "AI studio后台训练无法保存模型"
### 请提出你的问题 Please ask your question

模型在AI studio中的notebook训练可以保存模型，
但是一旦使用后台训练，下载输出文件后压根没有保存的模型。无论是代码中使用相对路径还是绝对路径保存模型，下载输出文件之后啥都没有，只有之前上传的版本文件

[2022-08-27 04:50] OccupyMars2030 commented on #45486
[code]

[2022-08-27 04:55] OccupyMars2030 commented on #45486
The above code can work, thus  shows  that  input_spec can be used to  specify  non-Tensor arguments in  the forward method.

[2022-08-27 07:53] OccupyMars2030 commented on #45485
<img width="836" alt="image" src="https://user-images.githubusercontent.com/31559413/187020840-bf256962-1928-4955-a82f-6aa830de54f1.png">

[2022-08-27 08:37] tianxingxia-cn commented on #44501
【队名】：tianxingxia

【序号】：3 【飞桨特色模型挑战赛】

【论文】：[Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data](https://paperswithcode.com/paper/real-esrgan-training-real-world-blind-super)

【状态】：报名

【repo链接】：https://github.com/tianxingxia-cn/Real-ESRGAN_paddle

[2022-08-27 12:17] xiaohemaikoo commented on #45483
不加-DWITH_UNITY_BUILD=ON，我本地不能编译通过。加了-DWITH_UNITY_BUILD=ON才编过了。

[2022-08-27 12:25] xiaohemaikoo commented on #44942
我找到原因了。这是jinja2的bug，在3.1.0版本以上的jinja2已经修复了。 以前版本jinja2如果传入FileSystemLoader参数是Path类型会触发问题。如果传入路径参数是string类型可以兼容低版本jinja2的这个bug。

[2022-08-27 13:39] blurmemo commented on #45434
已经解决了，安装的uda高了，虽然我的电脑适配的是11.6

[2022-08-27 14:44] Ss-shuang123 commented on #40106
蹲 有无解决

[2022-08-27 19:24] haobibo commented on #45257
疑似pip在请求https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html时得到的content type为`application/vnd.pypi.simple.v1+json;charset=UTF-8`导致pip去解析上述网页中的HTML代码。

但是torch的源就不会：` pip install --pre -U torch -f "https://download.pytorch.org/whl/cu116/torch_stable.html"`。

请 @nemonameless  @paddle-bot 排查下网页返回的header中的content type。

[2022-08-28 08:36] BruthYU commented on #44501
【队名】：ECNU-ICALK

【序号】：51

【论文】：[Gradient-enhanced physics-informed neural networks for forward and inverse PDE problems](https://arxiv.org/pdf/2111.02801v1.pdf)

【状态】：报名

【repo链接】：https://github.com/BruthYU/paddle_gpinn

[2022-08-28 09:36] flytocc commented on #44501
【队名】：拼手速

【序号】：兴1

【论文】：[Rethinking Bottleneck Structure for Efficient Mobile Network Design](https://arxiv.org/abs/2007.02269)

【状态】：报名&提交

【repo链接】：https://github.com/flytocc/MobileNeXt-paddle

[2022-08-28 13:13] w5688414 opened #45495 "paddle::imperative::Tracer::GenerateUniqueName(std::string)"
### bug描述 Describe the Bug

李沐动手学习深度学习，CI报错，请问是什么原因引起的：

[code]

http://ci.d2l.ai/blue/organizations/jenkins/d2l-zh/detail/PR-1198/3/pipeline/

https://github.com/d2l-ai/d2l-zh/pull/1198

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-28 13:40] jzhang533 commented on #36801
#45351 switched to use upstream brpc.

[2022-08-28 15:19] thgpddl commented on #43627
我在win10下使用代码：
[code]
仍然不能屏蔽

[2022-08-29 01:37] Lieberk commented on #44501
【队名】：超级码立

【序号】：24

【论文】：CutPaste: Self-Supervised Learning for Anomaly Detection and Localization

【状态】：报名&提交

【repo链接】：https://github.com/Lieberk/Paddle-Cutpaste

[2022-08-29 01:44] OccupyMars2030 commented on #43938
【队名】：OccupyMars2025
【序号】：27
【状态】：报名
【链接】：https://github.com/OccupyMars2025/Paddle

[2022-08-29 02:26] WenmuZhou commented on #45495
您好，报错信息需要复现代码，请提供代码和环境信息，我们复现后会尽快回复您～

[2022-08-29 02:50] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：75
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/CINN/pull/891

[2022-08-29 02:56] kevinluoc commented on #45414
感谢您的快速回复，抱歉之前描述的地方让你误解了，我们实际直接使用官方Sample代码（里面是没有paddle.jit.save）的，也是在add_graph中报错，而我们为了追踪为什么报错，所以我们Debug到了add_graph内部，然后paddle框架自己生成出来了这个paddle.jit.save这样代码，然后有报错，具体请参考我这个补充的附件，谢谢！
[20220829 Paddle visualdl 動態模型 sample error.docx](https://github.com/PaddlePaddle/Paddle/files/9441229/20220829.Paddle.visualdl.sample.error.docx)

[2022-08-29 02:58] kevinluoc commented on #45414
感谢您的快速回复，抱歉之前描述的地方让你误解了，我们实际直接使用官方Sample代码（里面是没有paddle.jit.save）的，也是在add_graph中报错，而我们为了追踪为什么报错，所以我们Debug到了add_graph内部，然后paddle框架自己生成出来了这个paddle.jit.save这样代码，然后有报错，具体请参考我这个补充的附件，谢谢！
[20220829 Paddle visualdl 動態模型 sample error.docx](https://github.com/PaddlePaddle/Paddle/files/9441240/20220829.Paddle.visualdl.sample.error.docx)

[2022-08-29 03:24] wangxinxin08 commented on #45487
AI studio需要保存模型到特定的文件夹才可以下载

[2022-08-29 03:29] wangxinxin08 commented on #45486
收到你的反馈，我们更新一下

[2022-08-29 03:32] Agino-ltp commented on #45487
感谢回复！我之前用的话是脚本任务才需要保存到特定的文件夹，后台任务不需要。前段时间用后台任务的话也是可以保存的，现在后台任务是改了吗？也要和脚本任务一样吗

[2022-08-29 03:33] wangxinxin08 commented on #45485
The concrete implementation of jit is in the c-plus-plus code, you may refer to relative classes in the c-plus-plus source code

[2022-08-29 03:43] wangxinxin08 commented on #45484
I think the description is clear. It mainly says two things:
1. you need write your code about inference in `forward` function
2. About the training code which may be wrote in `forward` function, you should write them in the `self.training` branch

For example,
[code]

[2022-08-29 03:49] wangxinxin08 commented on #45483
你现在能编译通过吗？develop分支不稳定，可以拉取最新分支编译。另外，报错信息是说缺少了一个文件，auto_parallell.pb.h，这个文件是由auto_parallell.proto经过protobuf编译而成的，可能你中间存在一些过程没有编译通过而报错了，可能是由于网络或者一些包没有安装导致的

[2022-08-29 03:52] weisy11 commented on #45442
看起来这是一个教程项目？可以提供下原始项目的链接吗

[2022-08-29 05:07] ZhangzrJerry commented on #45442
其实并不是，是多个API文档被我糅合在了一起

[2022-08-29 05:11] ZhangzrJerry commented on #45442
emm我不小心把他关闭了

[2022-08-29 05:13] ZhangzrJerry commented on #45442
@weisy11 你好，我不小心把这个issue关闭了，我这里打不开，可以请你帮忙继续解决吗

[2022-08-29 05:46] wangxinxin08 commented on #45487
你可以先试下

[2022-08-29 06:09] 2050airobert opened #45507 "paddle支持新模型的int8 quantization"
### 需求描述 Feature Description

1 paddle支持新模型的int8 quantization，比如新模型的 tinypose，何时可以支持tinypose模型的qat量化感知训练？
2 能够自动化的训练，自动加入伪量化节点等，并且在支持tinypose模型的基础上，进一步增强对于其他新模型的qat量化训练支持？
3 发布qat支持新模型的文档和使用说明，以及相应的user 修改意见，便于推广和工程化技术积累。
4 paddle 能支持自研的模型，比如tinypose 等，会增强paddle的推广部署 ， 并且有利于未来技术的积累。

### 替代实现 Alternatives

paddle 能支持自研的模型，比如tinypose 等，会增强paddle的推广部署 ， 并且有利于未来技术的积累。

[2022-08-29 06:10] 2050airobert opened #45508 "paddle tinypose QAT int8 quantization failed！"
### bug描述 Describe the Bug

1 paddle支持新模型的int8 quantization，比如新模型的 tinypose，何时可以支持tinypose模型的qat量化感知训练？
2 能够自动化的训练，自动加入伪量化节点等，并且在支持tinypose模型的基础上，进一步增强对于其他新模型的qat量化训练支持？
3 发布qat支持新模型的文档和使用说明，以及相应的user 修改意见，便于推广和工程化技术积累。
4 paddle 能支持自研的模型，比如tinypose 等，会增强paddle的推广部署 ， 并且有利于未来技术的积累。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-29 06:13] weisy11 commented on #45442
建议：
1.先根据一个文档能跑通再修改
2.如果还是解决不了，需要提供能复现问题的代码，或者把aistudio的项目share给我，不然不好调试。

[2022-08-29 06:16] pmpleader opened #45509 "银河麒麟+鲲鹏CPU下，PaddleFL有编译成功后能正常跑测试用例的吗？"
### 请提出你的问题 Please ask your question

我现在的情况是：
编译paddlepaddle1.8.5 成功；
编译PaddleFL1.1.2成功；

但运行测试用例时提示符号找不到：
![image](https://user-images.githubusercontent.com/24772933/187133973-e40cdd6b-9a9b-40eb-84ad-29bb59f775c3.png)

我将并行计算的代码屏蔽后再次编译完，跑测试用例报如下错误：
![image](https://user-images.githubusercontent.com/24772933/187135325-d5f7c6ea-8109-498d-ac49-1f9a5cc62213.png)

哪位大佬帮助解答一下，谢谢；

[2022-08-29 06:22] weisy11 commented on #45460
不好意思，没有明白你想问什么。
你是想指出文档中有错误，还是说使用过程中遇到了bug？如果你遇到了bug，请提供复现的代码，谢谢。
btw，如果你的项目没有发布的话，我是看不到你的修改的。

[2022-08-29 06:30] #45458 closed, assigned to nobody

[2022-08-29 06:43] weisy11 commented on #45472
报错信息确实提示为显存访问越界，可以提供下复现代码吗？

[2022-08-29 07:32] #45167 closed, assigned to ZHUI

[2022-08-29 08:05] yghstill commented on #45507
QAT功能持续完善中，感谢建议，文档和代码会继续改进~

[2022-08-29 08:16] 2050airobert commented on #45507
@yghstill
      多谢您对于飞桨这部分核心的持续努力~~~
      另外有个问题，我看了下其实关于tinypose等新模型qat量化的主要实现部分都在paddle repo的这里吧？      https://github.com/PaddlePaddle/Paddle/tree/75144f134876e78cb0284b334a431bdfb83a7007/python/paddle/fluid/contrib/slim/quantization
      我最近也抽出时间在看下这部分，您有什么指点或者想跟我说的吗？ 比如可以一起推动或者我来贡献这个tinypose qat全量化hard func的一部分coding？

[2022-08-29 08:45] kongdebug commented on #44501
【队名】：不爱做科研

【序号】：兴8

【论文】：[Simple Baselines for Image Restoration](https://arxiv.org/pdf/2204.04676)

【状态】：报名

【repo链接】：https://github.com/kongdebug/NAFNet-pd

[2022-08-29 08:53] yghstill commented on #45509
@pmpleader 目前银河麒麟+鲲鹏CPU的环境没有测试过，你是使用docker吗？可以在docker中再编译试下

[2022-08-29 09:02] wangxinxin08 commented on #45482
这个看起来是PaddleSlim的提示，你可以参考https://blog.csdn.net/xiaodongxiexie/article/details/65646239 来忽略warning

[2022-08-29 09:10] pmpleader commented on #45509
@yghstill

没在docker里面测试，我在本地已经编译通过，只是在用grpc的时候报那个错误，我在docker里面在测试一下看看；

谢谢了！

[2022-08-29 10:19] ZhangzrJerry commented on #45442
说实话关于super dataset的方法，我并没有跑通过

[2022-08-29 11:28] shuzizihemu commented on #45112
2.3.2的也有这问题。
W0829 18:23:39.251986 11820 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.6, Runtime API Version: 11.6
W0829 18:23:39.253978 11820 gpu_resources.cc:91] device: 0, cuDNN Version: 8.4.
Could not load library cudnn_cnn_infer64_8.dll. Error code 193
太辣鸡了。

[2022-08-29 11:29] zhwesky2010 commented on #45483
@xiaohemaikoo 你好 这个是随机挂，是因为有些头文件是生成的，由于文件编译顺序是随机的，就有可能出现头文件缺失问题。可以先 ninja third_party，再 ninja paddle；一般就比较稳定

[2022-08-29 11:37] OccupyMars2030 commented on #45460
抱歉，我不太会用aistudio，现在我的项目公开了，应该看得到了
<img width="272" alt="d77e5c5e4ef674139a58fcd1de39312" src="https://user-images.githubusercontent.com/31559413/187192723-050271ff-3f7c-4303-adb1-ef024ea78ee0.png">

不是bug， 只是单纯地学习文档时，有一部分内容没有理解，想请飞桨专家为我讲解一下，谢谢

[2022-08-29 12:31] #45472 closed, assigned to nobody

[2022-08-29 20:09] xiaohemaikoo commented on #43938
【队名】：天行浪人小河马
【序号】：48
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/45496

[2022-08-30 00:54] RDXiaoLu commented on #40348
visualdl service upload --logdir ./output
用这个命令就可以

[2022-08-30 04:23] arzakmiftakhul commented on #38464
Hi, I have Jetson AGX Xavier with environment same as yours.
1. Device : Nvidia Jetson AGX Xavier
2. Jetpack version : 4.6
3. Python : 3.8
4. Paddle version: release/2.2, v2.0.0, v2.1.0
I followed the steps from web page you attached but no success. I got the error
[code]

What is the problem?

[2022-08-30 06:04] singo27 commented on #40135
我遇到了相同的问题， 但排查后发现是我自己的错误。
大概是这样的：

[2022-08-30 06:14] singo27 commented on #40135
我遇见了同样的问题，但排查代码后发现是我的基础知识出现了遗忘， 导致使用方法出现了错误。
[code]

当我修改为这样

[code]
代码可以正常运行, 希望对你有帮助

[2022-08-30 06:46] #34037 closed, assigned to dingjiaweiww, haozech

[2022-08-30 06:46] #35146 closed, assigned to qili93

[2022-08-30 06:46] #35192 closed, assigned to yinhaofeng

[2022-08-30 06:46] #35203 closed, assigned to yinhaofeng

[2022-08-30 06:46] #35234 closed, assigned to littletomatodonkey

[2022-08-30 06:49] yuxiaooye opened #45555 "Categorical会采样到概率为0的取值的问题"
### bug描述 Describe the Bug

paddle版本：2.3.1
IDE：BML CodeLab
[code]

为什么Categorical的sample()方法会采样到概率为0的取值【2】？
看到之前的issue #43971中提到paddle对logits使用softmax操作得到prob，如果真是这样，prob()方法的输出为0具有误导性。不过我查了一下`categorical.py`的源码，prob的计算仍是`self._prob = self.logits / dist_sum`，那么就不应该采样到【2】。烦请解惑！

[2022-08-30 06:50] math-yyj opened #45556 "关于基础API: paddle.shape()的疑问"
### 请提出你的问题 Please ask your question

看了下paddle.shape(x)返回的是Tensor类型的NCHW，并且带梯度标志

但是一般不都是直接用x.shape获取Tensor尺寸么？

而且我实在想不出有什么地方是需要N C H W"带着梯度"参与计算的，就算静态图也不至于这样吧？

有没有官方开发人员给个例子表明，有这种类似于“x.shape不行，就得用paddle.shape(x)”的场景？谢谢

[2022-08-30 07:02] #45430 closed, assigned to zhiboniu

[2022-08-30 07:02] zhiboniu commented on #45434
好的

[2022-08-30 07:02] #45434 closed, assigned to zhiboniu

[2022-08-30 07:08] 2050airobert commented on #45507
hello？

[2022-08-30 07:23] yuxiaooye opened #45558 "Categorical.probs(value)中建议添加对value的类别检查"
### bug描述 Describe the Bug

paddle版本：2.3.1
IDE：BML CodeLab

[code]

当value为float类型tensor时，prob的结果不符合预期，且结果不可复现。另外当value为float类型且数值不是整数时（例如[[0.5], [1.2]]），代码仍可以正常运行，给出无意义的prob值。实际代码中value很可能是数值为整数的float类型tensor，导致不符合程序预期的结果。因此建议增加对value的类型检查，当value不为int型时产生报错中断程序。

参考torch的报错提示：
[code]

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-30 07:29] HarperCy opened #45559 "让昆仑xpu cast kernel支持 fp32 to uint8，但是mutable_data 过不去approval"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

![image](https://user-images.githubusercontent.com/47998305/187376458-4dc55386-2569-4d94-aa59-367b8b3fe49e.png)

cast 这个kernel，按照上面格式的话，都是用的mutable data，但是这样的话

paddle CI APPROVAL过不去

<img width="856" alt="image" src="https://user-images.githubusercontent.com/47998305/187376

[2022-08-30 07:38] yuxiaooye opened #45560 "文档”Categorical.probs()方法”的错误修改建议"
### 文档链接&描述 Document Links & Description

https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/distribution/Categorical_cn.html

对于Categorical.probs()方法：
- `logtis`拼错
- `value[:-1] = logits[:-1]`存在问题，例如当logits是2D tensor时：

[code]
logits[:-1]为[0.8, 0.2]，value[:-1]为[1]，并不相等

### 请提出你的建议 Please give your suggestion

应将`value[:-1] = logits[:-1]`修改为`value.shape[:-1] = logits.shape[:-1]`

[2022-08-30 08:15] paddle-lwfx opened #45566 "”兴智杯“全国人工智能创新应用大赛：论文复现赛"
hi，大家好，非常高兴的告诉大家，兴智杯——前沿模型复现赛已经开始了，本次复现赛共将有15篇的经典&前沿论文供大家复现。详细信息可以参考[兴智杯官网链接](http://www.aiinnovation.com.cn/#/trackDetail?id=20)，或[AI Studio 链接](https://aistudio.baidu.com/aistudio/competition/detail/406/0/introduction)，大家是否已经迫不及待了呢~

为了帮助大家更好的了解每篇论文的复现进度，本次复现赛将在本帖中汇总信息。如果你报名/提交结果，需要按格式在进行回复，我们每天会汇总所有的信息，并更新在下表中，你可以通过下面的表格中，了解到每一篇论文的相关信息。

回复的格式为：

【队名】：在兴智杯官网报名时使用的团队名称（请注意一致性，如不一致视为无效作品）

【序号】：你

[2022-08-30 08:31] LiuChiachi commented on #45556
HI，
可以参考官网文档，https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/jit/case_analysis_cn.html
我的理解，一个比较常用的场景是，模型动转静的时候，paddle.shape()是支持的，但是x.shape()可能会报错。

[2022-08-30 09:00] LiuChiachi commented on #45559
需要改成alloc，不能豁免，已入库的也需要修改

[2022-08-30 09:22] Tlntin commented on #45074
深度使用了一下cuda-11.7的容器，貌似不太好用。
cuda-11.2的官方容器能跑的代码，cuda-11.7的会报错。
同paddle 2.3.1， 最新版paddlenlp。
同一套代码，cuda-11.7的容器运行报错。
[code]
运行的代码为paddlenlp自带demo，将启动的ernie-1.0改成了ernie-3.0
代码[链接](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-1.0)
运行参数：
[code]

[2022-08-30 10:12] #45559 closed, assigned to LiuChiachi

[2022-08-30 10:33] mengxiangqiqin commented on #31898
确实，这个问题也困扰着我，希望官方尽快解答

[2022-08-30 13:11] jczaja commented on #43215
@jiangjiajun , @yaomichael , @AleksanderStankiewicz

Some update on this investigation. When investigation on ERNIE-3.0 was started here, only runtime quantization e.g. _--enable_quantize_ was working so this scenario was analyzed. Meantime running ernie-3.0 int8 from saved model was fixed
and recently we switched to that use case. Here is a picture of multi-threaded performance scalability :
![Er

[2022-08-30 13:31] pengwei1024 commented on #45430
可能跟 EnableMultiStream 和 EnableMemoryOptim 有关系，这三个模型有2个是别人封装的，没有暴露这些接口，有可能默认开启，有一个自己封装的，没有开启这两个

[2022-08-30 13:50] Bluessea commented on #45566
【队名】：从容应队

【序号】：兴1

【论文】：Rethinking Bottleneck Structure for Efficient Mobile Network Design

【状态】：报名

【repo链接】：https://github.com/Bluessea/MobileNeXt-Class.git

[2022-08-30 13:51] Bluessea commented on #44501
【队名】：从容应队

【序号】：兴1

【论文】：Rethinking Bottleneck Structure for Efficient Mobile Network Design

【状态】：报名

【repo链接】：https://github.com/Bluessea/MobileNeXt-Class.git

[2022-08-31 02:38] Zheng-Bicheng commented on #43938
【队名】：百度飞桨

【序号】：18

【状态】：提交作品

【链接】：https://github.com/PaddlePaddle/Paddle/pull/45546

[2022-08-31 02:38] Zheng-Bicheng commented on #43938
【队名】：ZZZZZBC

【序号】：18

【状态】：提交作品

【链接】：https://github.com/PaddlePaddle/Paddle/pull/45546

[2022-08-31 05:39] PureNatural commented on #43938
【队名】：源力觉醒

【序号】：87

【状态】：提交作品

【链接】：https://github.com/X-lab2017/open-digger/pull/955

[2022-08-31 06:37] Bluessea commented on #44501
【队名】：从容应队

【序号】：59

【论文】：Going deeper with Image Transformers

【状态】：报名

【repo链接】：https://github.com/Bluessea/CaiT-paddle

[2022-08-31 06:51] lelexx commented on #44501
【队名】：EMA
【序号】：兴6
【论文】：[FastFlow: Unsupervised Anomaly Detection and Localization via 2D Normalizing Flows](https://arxiv.org/pdf/2111.07677.pdf)
【状态】：报名
【repo链接】：[https://github.com/lelexx/fastflow_paddle](https://github.com/lelexx/fastflow_paddle)

[2022-08-31 07:18] robinbg commented on #44501
【队名】自动AC机

【序号】：59

【论文】：Going deeper with Image Transformers

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-Cait

[2022-08-31 07:56] zlsh80826 commented on #45074
Hi @Tlntin,
MHA op 的問題是已知的問題，在下個月發佈的新 container 會把 bug 修復

[2022-08-31 12:53] jzhang533 commented on #44707
该问题已经通过更新 https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html 页面得到了修复。
发现的pip的bug也已经反馈给了pip社区。

[2022-08-31 13:15] kisaragychihaya commented on #45290
[code]

[2022-08-31 13:42] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么

【序号】：67

【状态】：提交作品

【链接】：https://github.com/PaddlePaddle/CINN/pull/919

[2022-08-31 23:46] OccupyMars2030 opened #45627 "Einops doesn't support the PaddlePaddle framework currently"
### 需求描述 Feature Description
related issue: https://github.com/PaddlePaddle/Paddle/issues/34220
related PR: https://github.com/arogozhnikov/einops/pull/122
## I just want tu use einops with  paddlepaddle,   just  like  the following :

[code]
The last line of code reports an error as follows:
RuntimeError                              Traceback (most recent call last)
[<ipython-input-11-a635fd9208f

[2022-09-01 00:14] suhani247 commented on #36801
When will this change https://github.com/PaddlePaddle/Paddle/pull/45351 be released?

[2022-09-01 01:17] OccupyMars2030 commented on #45627
If the PaddlePaddle team doesn't have time to do it,  I will  try  to  implement the requirement  before   2022/10/15 when I  have  time.

[2022-09-01 01:23] Dai-jl commented on #45487
请问这个问题解决了吗，要保存到什么文件夹才可以？

[2022-09-01 01:25] Agino-ltp commented on #45487
没有，我也不知道要保存到什么文件夹

[2022-09-01 02:07] jzhang533 commented on #36801
next release is version 2.4, release candidates will be available at end of September.
for now, nightly build package is available here: https://www.paddlepaddle.org.cn/whl/linux/gpu/develop.html

[2022-09-01 02:54] wangxinxin08 commented on #45487
@Dai-jl @Agino-ltp 看下脚本任务的介绍

[2022-09-01 02:54] jzhang533 commented on #45627
related issue: #34220

[2022-09-01 03:05] OccupyMars2030 commented on #45627
Now, I understand it is not an easy problem to solve.

[2022-09-01 03:06] luotao1 commented on #45627
@zhouwei25 is doing zero-dimensional tensor related work now.
 - In #34220, the author of einops said: Support for zero-dimensional tensor is a hard requirement for inclusion for [einops](https://github.com/arogozhnikov/einops) support.
- Could you help update the progress of zero-dimensional work?

[2022-09-01 03:17] zhwesky2010 commented on #45627
@luotao1 This is still under discussion and pending review. It may cause incompatibility. It is not recommended to modify the output 0D at present, and Modifications PR must be compatible with before.

[2022-09-01 03:20] Ainavo commented on #43938
【队名】：Cattidea
【序号】：3
【状态】：报名
【链接】：https://github.com/cattidea/Paddle

[2022-09-01 03:22] Amy234543 commented on #45114
@qili93 你好，我想问下失败的原因是什么，可以支持m2m100模型吗

[2022-09-01 03:44] luotao1 commented on #34220
@IcarusWizard

Thanks very much for your interest. We try to intergrade `paddle` to `einops` in https://github.com/arogozhnikov/einops/pull/122 by @jm12138 before, but since paddle doesn't support zero-dimensional tensor, this PR could not pass the `einops` CI.

@zhouwei25 is doing zero-dimensional tensor related work now. Since it may cause incompatibility, related work is still under discussion

[2022-09-01 06:31] Li-fAngyU commented on #43938
【队名】：lfy
【序号】：8
【状态】：报名 & 提交提案
【链接】：https://github.com/Li-fAngyU/Paddle & https://github.com/PaddlePaddle/community/pull/242

[2022-09-01 07:07] weisy11 commented on #45460
错误的用法可能在一些情况下也可能得到正确的结果。但是并不意味着在其他情况下也能正确运算。
文档的意思是，self.mask 不能正常进行参数的更新。例如在你的例子中，如果这样修改：
[code]
但如果将mask改成paddle.to_tensor就可以正常更新了。
在使用动转静时，会将forward过程中用到的参数也进行序列化，但是这些参数相当于是一个快照，不能正常进行更新。

[2022-09-01 07:08] weisy11 commented on #45460
错误的用法可能在一些情况下也可能得到正确的结果。但是并不意味着在其他情况下也能正确运算。
文档的意思是，self.mask 不能正常进行参数的更新。例如在你的例子中，如果这样修改：
[code]
但如果将mask改成paddle.to_tensor就可以正常更新了。
在使用动转静时，会将forward过程中用到的参数也进行序列化，但是这些参数相当于是一个快照，不能正常进行更新。
所以文档里说，正确的用法是把参数都写成tensor

[2022-09-01 07:11] weisy11 commented on #45442
你好，请问现在问题解决了吗？如果还有疑问，请提供复现代码。

[2022-09-01 07:14] Rayman96 commented on #43938
【队名】：Rayman的团队
【序号】：56
【状态】：报名
【链接】：https://github.com/Rayman96/Paddle_ray

[2022-09-01 07:51] haohetao commented on #44571
I have same problem on Ubuntu 22.04.

[2022-09-01 08:04] YinGuiWang commented on #35028
类似的问题，我的也解决了

[2022-09-01 08:05] YinGuiWang commented on #35028
谢谢，我类似的问题也解决了，
   将cublas64_10.dll 与 cublasLt64_10.dll 文件复制到 C:\Windows\System32 中，再运行 paddle.utils.run_check()

[2022-09-01 08:14] jzhang533 commented on #44571
fixed in develop branch by PR #45351
nightly build available at : https://www.paddlepaddle.org.cn/whl/linux/gpu/develop.html

duplicate: #36801

[2022-09-01 09:35] 1819454698 commented on #44501
【队名】署前街少年

【序号】：79

【论文】：AMC: AutoML for Model Compression and Acceleration on Mobile Devices

【状态】：报名

【repo链接】：https://github.com/1819454698/AMC-Paddle.git

[2022-09-01 10:45] Dufferent commented on #44501
【队名】三傻大闹

【序号】：兴4

【论文】：KiU-Net: Overcomplete Convolutional Architectures for Biomedical Image and Volumetric Segmentation

【状态】：报名

【repo链接】：https://github.com/Dufferent/sanshadanao.git

[2022-09-01 10:50] Dufferent commented on #44501
【队名】：三傻大闹

【序号】：兴4

【论文】：KiU-Net: Overcomplete Convolutional Architectures for Biomedical Image and Volumetric Segmentation

【状态】：报名

【repo链接】：https://github.com/Dufferent/sanshadanao.git

[2022-09-01 12:17] Tangzy7 commented on #28479
同样遇到这个问题，两年了居然还没解决。。。

[2022-09-01 12:30] HereNowL opened #45664 "paddle竞赛提交异常：W0901 11:15:55.087069 70 gpu_resources.cc:61] Please NOTE: device"
GPU异常

提交预测文件后，显示异常：W0901 11:15:55.087069 70 gpu_resources.cc:61] Please NOTE: device。在本地可正常运行

[2022-09-01 12:32] HereNowL commented on #45664
无论有没有设置GPU id“paddle.device.set_device('gpu:0')”都会报错

[2022-09-01 13:38] DrownFish19 commented on #44501
【队名】：DrownFish19

【序号】：50

【论文】：Solving inverse problems using conditional invertible neural networks

【状态】：报名&提交

【repo链接】：https://github.com/DrownFish19/inn-surrogate-paddle.git

[2022-09-01 13:41] Wong4j opened #45669 "test_adam_op_multi_thread random failure (Segmentation fault)"
### bug描述 Describe the Bug

test_adam_op_multi_thread failed randomly.
Environment:
A100 GPU with NGC PaddlePaddle 22.08 container
[code]
To reproduce:
[code]
Run the test repeatedly for hundreds times.
[code]
[code]

Error log:
[code]

### 其他补充信息 Additional Supplementary Information

According to the error message, I think the bug is most likely caused by multi-thread race condition here. [gpu_in

[2022-09-01 13:56] wanghaoran-ucas commented on #10196
同问，这个怎么解决

[2022-09-01 17:00] zhangyuqin1998 commented on #43938
【队名】：Core Dump
【序号】：19
【状态】：提交议案
【链接】：https://github.com/PaddlePaddle/community/pull/243

[2022-09-02 01:13] kafaichan commented on #44501
【队名】：Anya Waku Waku

【序号】：61

【论文】：An Energy and GPU-Computation Efficient Backbone Network for Real-Time Object Detection

【状态】：报名&提交

【repo链接】：https://github.com/kafaichan/paddle-vovnet

[2022-09-02 02:17] kevinluoc commented on #45414
@zhiboniu 大牛，不知道这个问题，我有没有描述清楚，你那边有没有什么更新，感谢！

[2022-09-02 03:27] peiwenYe commented on #36129
您好，请问这个问题您解决了吗？我也遇到一样的问题

[2022-09-02 03:42] lizhuangliu opened #45674 "源码编译报错Paddle/paddle/fluid/platform/bfloat16.h"
### 问题描述 Issue Description

/public/home/ac027twhbi/soft/Paddle/paddle/fluid/platform/bfloat16.h:64:3: error: unknown type name '__host__'
  HOSTDEVICE inline explicit bfloat16(float val) {
  ^
/public/home/ac027twhbi/soft/Paddle/paddle/fluid/platform/bfloat16.h:40:20: note: expanded from macro 'HOSTDEVICE'
#define HOSTDEVICE __host__ __device__
                   ^
/public/home/ac027twhbi/soft/Pa

[2022-09-02 04:37] Li-brua commented on #44501
【队名】：啊对对队

【序号】：77

【论文】：SwinIR: Image Restoration Using Swin Transformer

【状态】：报名

【repo链接】：https://github.com/Li-brua/SwinIR-paddle

[2022-09-02 06:27] cxxly commented on #45664
您好，具体竞赛背景、问题准确描述、复现方法请补充下，或者如果有群的话，去具体竞赛群咨询下

[2022-09-02 06:51] Sqhttwl opened #45681 "paddle.utils.run_check()报错，但是系统中有cuda driver"
能输出显卡型号
![mmexport1662101369384.png](https://user-images.githubusercontent.com/61459740/188075965-0f7b73a9-0132-432a-bcb4-f6d2f671ec96.png)
device也设置gpu卡号
![mmexport1662101416222.png](https://user-images.githubusercontent.com/61459740/188076079-2ece2656-fe78-4fdc-ba25-0f3c0a0e7d27.png)
但是运行paddle.utils.run_check()报错
![mmexport1662101428698.png](https://user-images.githubusercontent.com/61459740/18

[2022-09-02 07:01] cxxly commented on #45669
您好，这个测试用例文件`test_adam_op_multi_thread`是你新增的吗，我在develop最新版本及2.3.0版本均找不到这个文件

[2022-09-02 07:03] gjghs opened #45683 "OSError: (External) CUBLAS error(7)."
### bug描述 Describe the Bug

训练ppyoloe时报错，简单的复现了一下报了同样的错误
import paddle
import paddle.nn.functional as F
a = paddle.ones((32, 8505, 4, 17))
b = paddle.to_tensor([0. , 1. , 2. , 3. , 4. , 5. , 6. , 7. , 8. , 9. , 10., 11., 12., 13., 14., 15., 16.])
a.matmul(b)

OSError: (External) CUBLAS error(7).
  [Hint: 'CUBLAS_STATUS_INVALID_VALUE'.  An unsupported value or parameter was passed to the function (

[2022-09-02 07:50] Silv3S commented on #45308
Merged
- [x] `abs`, `abs_grad`, `relu6` https://github.com/PaddlePaddle/Paddle/pull/45397
- [x] `gaussian_random` https://github.com/PaddlePaddle/Paddle/pull/45481
- [x] Moving `fluid/mkldnn_reuse.h` to `phi/onednn_reuse.h` https://github.com/PaddlePaddle/Paddle/pull/45626
- [x] `scale` https://github.com/PaddlePaddle/Paddle/pull/45537
- [x] `reduce_sum`, `reduce_sum_grad`, `reduce_mean`, `reduce_

[2022-09-02 07:54] wozna commented on #37422
Hi, @baoachun @yeliang2258  I'm working on this issue on changes made previously by Danqing here https://github.com/PaddlePaddle/Paddle/pull/42106 where there is still an accuracy problem. From what I can see, one-scale gathering is missing there, and that's probably why it doesn't work properly. WIP
I'm also doing a review for https://github.com/PaddlePaddle/Paddle/pull/45416#pullrequestreview-10

[2022-09-02 08:11] wozna commented on #44075
Hi @yeliang2258 I working on improving performance for INT8 model. But as I mentioned before it is very difficult case where we have very small filters in convolution that is why avx512_vnni int8 will not give as so much speed up. So the performance is worse because this is an INT8 conversion overhead.
We still have few ideas to implement as:
- fuse conv+depthwise_conv  this will speed up fp32 and

[2022-09-02 08:26] leechenggg opened #45690 "用paddledetection用训练好的模型推理一张图片报错"
### 请提出你的问题 Please ask your question

项目链接：https://aistudio.baidu.com/aistudio/projectdetail/4483911?contributionType=1
用paddledetection检测图片报这种错误：
![IGDU JJYI1WQ5A0U8XPN 6](https://user-images.githubusercontent.com/100515681/188097402-4286689f-8752-4184-9fe5-7792e394069c.png)

[2022-09-02 08:45] enkilee opened #45693 "API文档例子代码错误"
### bug描述 Describe the Bug

https://www.paddlepaddle.org.cn/documentation/docs/en/develop/api/paddle/profiler/Profiler_en.html
中例子1、2、的p.step()执行。第一次可以有log文件，第二次就报错：
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/tmp/ipykernel_168/153734649.py in <module>
      8         #train()
----> 9

[2022-09-02 08:54] yeliang2258 commented on #37422
@wozna Hi, ScaleFilePath stores the scale information of all tensors in the quantize model. This file was added recently. Maybe the problem of lack of scale you mentioned can be solved after loading this file.

[2022-09-02 09:09] misonsky opened #45697 "cannot import name 'FC'"
### bug描述 Describe the Bug

from paddle.fluid.dygraph.nn import FC
ImportError: cannot import name 'FC'

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-02 09:10] misonsky commented on #45697
same question
from paddle.fluid.dygraph import FC
ImportError: cannot import name 'FC'

[2022-09-02 09:33] GiorgosBetsos opened #45701 "Build fails on Jetson Orin AGX"
### 问题描述 Issue Description

I have issued cmake like so:

cmake ..     -DWITH_CONTRIB=OFF     -DWITH_MKL=OFF     -DWITH_AVX=OFF     -DWITH_MKLDNN=OFF     -DWITH_TESTING=OFF     -DCMAKE_BUILD_TYPE=Release     -DON_INFER=ON     -DWITH_PYTHON=ON     -DWITH_XBYAK=OFF     -DWITH_NV_JETSON=ON     -DWITH_TENSORRT=ON     -DWITH_NCCL=OFF     -DPY_VERSION=3.8 -DWITH_GPU=ON -DPYTHON_LIBRARY:FILEPATH=/usr/lib

[2022-09-02 09:36] Wong4j commented on #45669
在这里，其实就是test_adam_op + FLAGS_inner_op_parallelism=4，开启4线程计算。
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/CMakeLists.txt#L544

[2022-09-02 10:06] OccupyMars2030 opened #45703 "I cannot find these two methods "tensor_method_to_sparse_coo" and "tensor_method_to_dense""
I cannot  find the methods "tensor_method_to_sparse_coo"  and  "tensor_method_to_dense" in
 paddle\fluid\pybind\eager_method.cc  on  the  "develop" branch.

_Originally posted by @OccupyMars2025 in https://github.com/PaddlePaddle/Paddle/pull/40780#discussion_r961514404_
and  https://github.com/PaddlePaddle/Paddle/pull/40780#discussion_r961624233

[2022-09-02 11:10] ZhangzrJerry commented on #45442
不好意思我最近其他的开发工作比较多，这里有我的源代码
https://github.com/ZhangzrJerry/paddle_prov/blob/main/main.ipynb

[2022-09-03 03:01] TUDelftHao opened #45713 "paddle.uniform api生成数值超过指定范围"
### bug描述 Describe the Bug
paddle版本：2.3.2
系统：MacOS， M1芯片

在使用paddle.uniform生成(-1，1)区间随机数时，会有一定概率出现返回值为-1或1的情况，导致后续计算log1p出现异常值。因为是随机生成，复现该bug可能需多次重复执行代码。

[code]

某次复现出的结果：
![image](https://user-images.githubusercontent.com/46449831/188273977-d9bb4c84-4392-428f-9ddb-3d8d95a265f3.png)

辛苦看下是我使用的问题还是uniform 算子实现存在bug。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-03 03:42] TUDelftHao commented on #45713
It's my fault. Ignore it, please.

[2022-09-03 07:03] hnmizuho commented on #44501
【队名】：无名小队

【序号】：77

【论文】：SwinIR: Image Restoration Using Swin Transformer

【状态】：报名

【repo链接】：https://github.com/hnmizuho/SwinIR_paddlepaddle

[2022-09-03 11:46] youkeith opened #45715 "解決了都依然會發生錯誤"
### 请提出你的问题 Please ask your question

`Running verify PaddlePaddle program ...
W0903 19:42:39.613351 18536 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 11.7, Runtime API Version: 10.2
W0903 19:42:39.697345 18536 dynamic_loader.cc:276] Note: [Recommend] copy cudnn into CUDA installation directory.
 For instance, download cudnn-10.0-windows10-x64-v7.6

[2022-09-03 12:10] esythan commented on #45715
Paddle依赖的cudnn库没有正确配置，请按照log中的建议进行配置：
1、确认cuda和cudnn正确安装，并且安装版本与Paddle对应
2、windows下请将cudnn的动态链接库地址配置到环境变量PATH中

[2022-09-03 12:11] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么

【序号】：74

【状态】：报名

【链接】：https://github.com/MayYouBeProsperous/CINN

[2022-09-03 12:15] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么

【序号】：73

【状态】：报名

【链接】：https://github.com/MayYouBeProsperous/CINN

[2022-09-03 13:34] youkeith commented on #45715
cuda和cudnn檢查了沒有問題,與Paddle要求一模一樣

設置是不是這樣(set PATH= C:\Users\Owner\AppData\Local\Programs\Python\Python39\Lib\site-packages\ paddle\dynload\
dynamic_loader.cc:303)

[2022-09-03 16:15] kiufta opened #45716 "Header "unsupported/Eigen/CXX11/Tensor" missing"
### 问题描述 Issue Description

Building master with cmake/make:

[code]

eigen is at `/usr/include/eigen3/unsupported/Eigen/CXX11/src/Tensor/` !

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version: 0.0.0
Paddle With CUDA: False

OS: Arch Linux rolling
Python version: 3.10.6

CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: Non

[2022-09-03 16:26] kiufta opened #45717 "size_t errors in the system_allocator.cc"
### 问题描述 Issue Description

[code]

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version: 0.0.0
Paddle With CUDA: False

OS: Arch Linux rolling
Python version: 3.10.6

CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: None
****************************************

[2022-09-04 02:22] DesenbergChina opened #45718 "目标检测中遇到的paddle.nn.Conv2D的BUG"
### 请提出你的问题 Please ask your question

工作人员：
你好，我在运行代码的时候遇到了一个bug如下图
![微信截图_20220904100704](https://user-images.githubusercontent.com/93327837/188294007-9eab870a-de24-466c-8ac0-b4e265b9e412.png)

这是定义卷积层的地方
![微信截图_20220904101150](https://user-images.githubusercontent.com/93327837/188294156-5f82de12-436a-4ffd-997d-c3d3eb40a6b2.png)
经过调试出错的位置应该如下图所示

![微信截图_20220904101224](https://user-images.githubu

[2022-09-04 03:06] sgfCrazy commented on #41392
这个问题有解决么？我遇到和他一样的问题。

[2022-09-04 03:08] sgfCrazy commented on #41392
能否说一下 在CMakeList的什么位置加
add_definitions(-Wl,-z,max-page-size=65536)
add_definitions(-Wl,-z,common-page-size=65536)
感谢。

[2022-09-04 09:25] youkeith commented on #45715
解決了,缺乏文件(cudnn64_7.dll)

[2022-09-04 09:25] #45715 closed, assigned to esythan

[2022-09-04 09:41] gjghs commented on #45683
已解决，head里面修改
![~EN8K64IW%S2 L2}_SLONOO](https://user-images.githubusercontent.com/47850883/188307342-f3ae37a2-8260-4c22-ae55-d5775b27ae4a.png)

[2022-09-04 13:20] kiufta opened #45722 "use-after-free error in system_allocator.cc"
### 问题描述 Issue Description

With GCC 12 the build fails:
[code]

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version: 0.0.0
Paddle With CUDA: False

OS: Arch Linux rolling
Python version: 3.10.6

CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: None
****************************************

[2022-09-04 13:27] hakaboom opened #45723 "run_check报CUBLAS错误"
### bug描述 Describe the Bug

[code]

报错信息：
[code]
nvcc
![image](https://user-images.githubusercontent.com/43911741/188315979-a74cbd28-c2ac-4ecb-9552-8e43dabf6020.png)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-04 18:51] xiaohemaikoo commented on #45483
非常感谢，按照指导，拉取最新代码，编译通过了。

[2022-09-04 18:51] #45483 closed, assigned to wangxinxin08

[2022-09-05 00:35] yzhw9981 opened #45725 "paddle.static.nn.sequence_unpad在某些情况下core"
### bug描述 Describe the Bug

[code]

### 其他补充信息 Additional Supplementary Information

paddle 2.3.0
CPU&GPU环境均复现

[2022-09-05 00:58] enkilee commented on #44009
https://www.paddlepaddle.org.cn/documentation/docs/en/develop/api/paddle/profiler/Profiler_en.html
文档中，例子1和2的代码颜色高亮正确，代码3就不正确了。
![Snipaste_2022-09-05_08-54-37](https://user-images.githubusercontent.com/16059379/188341052-aecec3df-8833-43ee-a75a-fda9c0e87107.png)
查看前段，是CSS的问题，但估计是应该是解释器的问题了。
例子2的css:
![Snipaste_2022-09-05_08-55-01](https://user-images.githubusercontent.com/16059379/188341092-ee88d5

[2022-09-05 01:01] JinhengCV opened #45726 "paddledetection中使用TensorRT部署推理问题"
### 请提出你的问题 Please ask your question

**利用tensorrt部署推理（python deploy/python/infer.py）一直报错。安装了几遍tensorrt和paddle，一直报RuntimeError: (NotFound) Tensor named layer_norm_3.w_0 is not found in TRT engine的错误**  layer_norm_3.w_0有时候会变为其他的如layer_norm_0.w_0
版本信息：
**GPU:Geforce 2080Ti, cuda10.1，cudnn7.6，python3.7
PADDLE:带trt的paddle-gpu2.3.1
系统：ubuntu18.04LTS
tensorrt6.0.1.5**
所有版本是按照教程要求的

命令行指令及报错log:
python d

[2022-09-05 01:40] DesenbergChina commented on #45487
你好，我也遇到相同的问题，请问脚本任务是在官方文档看吗？具体在那一部分呢？

[2022-09-05 01:41] Zhiyuan-Fan commented on #43938
【队名】：长风
【序号】：90
【状态】：报名&提交
【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1799

[2022-09-05 01:50] DesenbergChina commented on #45487
我觉得会不会是bug？原来一直都可以

[2022-09-05 01:53] DesenbergChina commented on #45487
九天了，也没动静，官方好慢TT

[2022-09-05 01:56] Agino-ltp commented on #45487
之前确实能保存，现在保存不了。我现在都不用后台任务了，直接改用脚本任务

[2022-09-05 02:00] w158rk commented on #43938
【队名】：看似都队
【序号】：84
【状态】：报名
【链接】：https://github.com/w158rk/community

[2022-09-05 02:02] w158rk commented on #43938
【队名】：看似都队
【序号】：84
【状态】：提交rfc
【链接】：https://github.com/PaddlePaddle/community/pull/245

[2022-09-05 02:02] DesenbergChina commented on #45487
请问脚本任务会不会比较麻烦呀？而且他保存的uotput文件夹可以直接看到吗？

[2022-09-05 02:06] Agino-ltp commented on #45487
比后台任务麻烦，保存的output文件看不到，运行完下载后才能看到，而且output文件必须保存到指定的目录里面才能下载

[2022-09-05 02:07] DesenbergChina commented on #45487
好吧TT

[2022-09-05 02:19] zhwesky2010 commented on #42757
@AndPuQing Hello, is there other API except `to_tensor`? We are considering supporting 0D, but Many APIs need to be modified. If you encounter any problem with the API of 0D, you can report this API to us, and we will support it firstly.

[2022-09-05 02:33] zhouwei25 commented on #39825
@Shelly111111 hi，请问这个支持后对模型业务上，会有其他方面的收益吗，比如以前没办法支持的模型现在可以支持了

[2022-09-05 02:45] cxxly commented on #45669
@frankwhzhang

[2022-09-05 03:18] zhaocaibei123 commented on #45723
请问装的哪个cuda版本的paddle

[2022-09-05 03:18] zhaocaibei123 commented on #45723
请问装的哪个cuda版本的paddle

[2022-09-05 03:22] GuoxiaWang commented on #45328
@jeng1220 Sorry to get back to you because this error is random and hard to reproduce. Below is the log listed by `dmesg | grep NVRM` command.

[code]

[2022-09-05 03:27] wangna11BD commented on #45725
您好～首先我们不推荐使用 sequence 系列的 API 了。如果您需要用的是 LSTM 可以试试使用 paddle.nn.LSTM.
我将代码改写了一下，仅测试 sequence_unpad, 并无出现问题，可能是后续代码的问题。
import numpy as np
import paddle
from paddle import fluid
paddle.enable_static()

if __name__ == "__main__":
exe = paddle.static.Executor(paddle.CPUPlace())
startup_program = paddle.static.default_startup_program()
time_slice = 2
seq = paddle.randn([2, 4, 16])
combine_output = padd

[2022-09-05 03:31] zhwesky2010 commented on #29951
@liguoyu666 你好，请问如果支持为shape=[]，会带来哪些方面的正面收益呢

[2022-09-05 03:47] zhouwei25 commented on #35762
@zhangyimi 你好，这个问题在最新版本上没有复现，看看还有没有问题呢

[2022-09-05 03:58] rainyfly commented on #45722
你好，把下面两段代码换个位置试试
<img width="722" alt="image" src="https://user-images.githubusercontent.com/22424850/188357931-ea7da5fe-0680-46b3-a4ca-405a0cf01814.png">

[2022-09-05 04:01] zhaocaibei123 commented on #45722
我们现在稳定编译的版本是gcc8哈

[2022-09-05 04:17] fuqianya commented on #43225
老师您好，按照您的指导，我已经成功的导出了静态模型。

但是，我在进行模型推理的时候又遇到了如下的问题：

<img width="633" alt="image" src="https://user-images.githubusercontent.com/45023083/188358974-4daf6b05-9484-4092-a189-ed12cd895a88.png">

当输入`x`为多个时，输入的格式应该是怎样的？
也就是说，当我的`input_names`为多个时，输入的`input_tensor`应该是什么格式？

<img width="919" alt="image" src="https://user-images.githubusercontent.com/45023083/188359086-f3ca639b-9174-4fbe-ac88-ec055ff2c80

[2022-09-05 04:22] fuqianya commented on #43225
导出模型和推理的代码都在：https://github.com/Mixture-of-Rookie/UNITER-Paddle

[2022-09-05 05:39] zhaocaibei123 commented on #45716
请问paddle分支和cmake命令是什么

[2022-09-05 06:19] nemonameless commented on #45726
相关后续和解决请参照：https://github.com/PaddlePaddle/PaddleDetection/issues/6858 ，同一问题。

[2022-09-05 06:20] #45726 closed, assigned to nobody

[2022-09-05 06:55] tianxin1860 commented on #45681
您好，请检查是否正确配置了 CUDA 动态库的环境变量 `export LD_LIBRARY_PATH=${YOUR_CUDA_LIB_PATH}:${LD_LIBRARY_PATH}`

[2022-09-05 06:58] zhiqiu commented on #45713
hi，我本地跑出了-1，但是没有出现1。uniform是产生[min, max)的随机数， 建议设置 min > -1 试试。

[2022-09-05 06:59] ABC1234-gitup opened #45742 "训练完成，在推理阶段发生(External) CUDA error(719), unspecified launch failure."
### bug描述 Describe the Bug

(python_env) D:\HYD\PaddleDetection-release-2.3>python -u ./tools/eval.py -c configs/centernet/centernet_r50_140e_coco.yml -o weights=./work/output/centernet_r50_140e_coco/0.pdparams
Warning: import ppdet from source directory without installing, run 'python setup.py install' to install ppdet firstly
W0905 10:25:07.250306  7876 gpu_resources.cc:61] Please NOTE: device:

[2022-09-05 07:02] rainyfly commented on #45414
你好，已经收到你的反馈，我这边跑你贴的doc里的代码是可以正常执行成功的诶，要不你反馈一下你的环境信息，比如paddle的版本和VisualDL的版本。

[2022-09-05 07:08] tianxin1860 commented on #45683
您好，针对这个问题的修复欢迎在这个 Repo  https://github.com/PaddlePaddle/PaddleDetection 提 PR。

[2022-09-05 07:11] TUDelftHao commented on #45713
hi，我使用了np.nextafter(-1, 1)这个函数生成的数就是趋近于-1但是不等于-1的值，所以-1这个数字应当也是不在uniform范围内的吧？
另外我重新跑了代码确实存在结果为1的情况
![image](https://user-images.githubusercontent.com/46449831/188386836-d9986527-97c6-44de-b658-bc168d3eb41d.png)

[2022-09-05 07:21] Zth9730 opened #45745 "单机多卡训练时卡住，不报错也不继续训练"
在使用单机多卡训练时会出现卡住的情况，并且一定是一卡利用率100% 另一卡0%（如图所示），然后训练就不在继续进行，但也不会有任何报错。相同的batchsize在单卡训练时是可以正常进行的，请问这可能是什么原因导致的？有什么解决方案？

<img width="669" alt="image" src="https://user-images.githubusercontent.com/32243340/188390718-f97112fa-26c9-427a-88e2-05e9aa97db48.png">

[2022-09-05 07:21] tianxin1860 commented on #45693
请提供具体的 Paddle 版本号及运行环境。

[2022-09-05 07:35] tianxin1860 commented on #45697
FC 建议通过 Linear op 来实现，具体用法请参考: https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Linear_cn.html#linear

[2022-09-05 07:45] wangna11BD commented on #45745
麻烦提供一下环境和最小复现代码～

[2022-09-05 08:02] #45683 closed, assigned to tianxin1860

[2022-09-05 08:07] Sqhttwl commented on #45681
环境变量配置了，还是不行

[2022-09-05 08:09] sldyns commented on #44501
【队名】：科研累了摸会鱼

【序号】：77

【论文】：SwinIR: Image Restoration Using Swin Transformer

【状态】：报名&提交

【repo链接】：https://github.com/sldyns/SwinIR_paddle

[2022-09-05 08:10] Sqhttwl commented on #45681
我大概知道原因了，是因为paddlepaddle不支持WSL吗

[2022-09-05 08:12] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：22
【状态】：报名
【链接】：https://github.com/zrr1999/Paddle

[2022-09-05 08:39] JiabinYang commented on #28774
该问题在开发分支的paddle已经解决

[2022-09-05 08:49] wangxinxin08 commented on #45742
你使用PaddleDetection官方的权重: https://bj.bcebos.com/v1/paddledet/models/centernet_r50_140e_coco.pdparams 试下能不能正常eval呢？如果依然不能正常eval，建议使用docker或者安装cuda 11.6.2和cudnn 8.4.0这个组合

[2022-09-05 08:56] yuwoyizhan commented on #45713
楼主说uniform是产生(min, max)的随机数,下面的zhiqiu说uniform是产生[min, max)的随机数,请问2位,这个结论是谁告诉你们的?
我听说飞桨底层都是C++实现的,上面采用python封装.据我了解,C++的uniform是产生[min,max],只不过由于min到max有无穷多个浮点数,导致了生成min和max都需要不少时间,有可能需要几小时才能复现.但是我很明确告诉你们,C++的uniform肯定可以产生min和max这两个值的,至少visual studio2022可以做到.我测试过很多次.

[2022-09-05 09:14] kiufta commented on #45716
[code]

`make -C "./build"`

git _master_

[2022-09-05 09:19] snow77 opened #45756 "自定义logger，import paddle后，出现重复或多余的log打印"
### bug描述 Describe the Bug

如下列代码，自定义了一个log对象，log只打印到log.log文件，不会在控制流打印。如果不加载paddle包，效果是对的，加载paddle包以后，在命令行出现了打印（这个打印按照代码只应该打印到文件）。说明paddle内部的log机制导致了此问题

import logging
from logging.handlers import RotatingFileHandler

import paddle

fileName = 'test.log'
fileLevel = logging.DEBUG

logger = logging.getLogger(fileName)
logging.Logger.manager.loggerDict.pop(fileName)
logger.handlers = []
logger.rem

[2022-09-05 09:45] jeng1220 commented on #45328
Obviously, the errors were triggered by `Out Of Range Address`.
This issue might be related to https://github.com/PaddlePaddle/Paddle/issues/45669.
We tracked the code, and suspect that the root-cause is Paddle's memory allocator.
By default, Paddle occupies most VRAM and build the memory pool, and then manages all buffers by itself.
For unknown reason, it returns invalid address.
Could you disabl

[2022-09-05 10:33] kiufta opened #45761 "Linking with mold fails"
### 问题描述 Issue Description

Building with https://github.com/rui314/mold as linker fails:
[code]

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version: 0.0.0
Paddle With CUDA: False

OS: Arch Linux rolling
Python version: 3.10.6

CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: None
****************************************

[2022-09-05 10:52] hakaboom commented on #45723
装的是11.6 用的链接是python -m pip install paddlepaddle-gpu==2.3.2.post116 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html

[2022-09-05 11:02] wangna11BD commented on #45756
我在V100，python3.8， develop版本paddle，cuda10.2环境下跑了一下，加或不加paddle打印出的log是一样的，都是只生成了test.log文件，文件内容为 [2022-09-05 10:58:27,783] [WARNING] 这一行log只打印到log.log，控制流不应该打印

[2022-09-05 11:40] wangna11BD commented on #45761
麻烦提供一下编译命令，编译选项以及环境

[2022-09-05 12:03] weisy11 commented on #45442
你好，看了下你的代码，目测是由于forward函数没有return造成的。

[2022-09-05 12:11] kongdebug opened #45767 "【论文复现赛第七期】静态图预测输出结果为Nan"
### 请提出你的问题 Please ask your question

图像去噪任务，使用动态图预测结果正常，但是转为静态图（没有报错）之后，使用paddleinference预测，结果为nan，对照了预处理部分，输入静态图与动态图的数据是一致的，不知道这个错误该如何解决呢？

[2022-09-05 12:12] wangxinxin08 commented on #45487
@Desenber @Agino-ltp 可以发一下你们的项目id

[2022-09-05 12:45] lelexx commented on #44501
【队名】：EMA
【序号】：兴6
【论文】：[FastFlow: Unsupervised Anomaly Detection and Localization via 2D Normalizing Flows](https://arxiv.org/pdf/2111.07677.pdf)
【状态】：提交
【repo链接】：[https://github.com/lelexx/fastflow_paddle](https://github.com/lelexx/fastflow_paddle)

[2022-09-05 12:56] renmada commented on #44501
【队名】：scv
【序号】：61
【论文】：An Energy and GPU-Computation Efficient Backbone Network for Real-Time Object Detection
【状态】：报名&提交
【repo链接】：https://github.com/renmada/PaddleClas/tree/vovnet

[2022-09-05 14:16] kiufta commented on #45722
comments deleted by maintainer

[2022-09-05 14:19] DesenbergChina commented on #45487
等我整理一波吧

[2022-09-05 15:08] yechong316 commented on #44571
Error: Can not import avx core while this file exists: /home/govid/miniconda3/lib/python3.9/site-packages/paddle/fluid/core_avx.so
Traceback (most recent call last):
  File "/home/govid/miniconda3/bin/x2paddle", line 5, in <module>
    from x2paddle.convert import main
  File "/home/govid/miniconda3/lib/python3.9/site-packages/x2paddle/__init__.py", line 3, in <module>
    from .core.program impor

[2022-09-05 18:49] gsq7474741 commented on #43938
【队名】：PeachML
【序号】：22
【状态】：报名&提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/246

[2022-09-05 23:15] ZhangzrJerry commented on #45442
噢是的解决了谢谢

[2022-09-05 23:15] #45442 closed, assigned to weisy11

[2022-09-05 23:46] kongdebug commented on #45767
改为用cpu的静态图推理则没问题，gpu的推理输出为nan，真的很疑惑

[2022-09-06 01:43] Aurelius84 commented on #45767
请问是使用paddleinference 在CPU下推理结果没有问题，但切换到GPU设备上跑，会出现结果为NaN的情况么？

[2022-09-06 02:07] #36905 closed, assigned to baoachun, wozna, lidanqing-vv

[2022-09-06 02:07] fuqianya commented on #43225
您好，我目前已经完成了TIPC的整个流程，只差GPU下的推理了。

我在GPU下的推理中遇到了如下的错误：

[code]

[2022-09-06 02:08] #37873 closed, assigned to wozna

[2022-09-06 02:28] rical730 commented on #28774
点赞！期待发版❤️

[2022-09-06 02:39] frensher commented on #40009
你好,解决了吗   我也遇到了  torch可以,paddle不可以

[2022-09-06 02:42] carryyu commented on #45437
问题已解决，在最新develop分支上，更换内存分配策略为naive_best_fit后验证无误。待后续合入～

[2022-09-06 02:52] dorren002 opened #45780 "【论文复现】反向对齐验证时梯度无法对齐"
### 请提出你的问题 Please ask your question

我们在反向对齐时发现第一轮的loss是对齐的，但是第二轮无法对齐，因此按照复现文档向前排查，发现从倒数第四个线性层开始梯度无法对齐。也就是后面三层是对齐的，第四层开始无法对齐，请问有什么新的排查思路吗？优化器使用Momentum和Adam结果都对不齐。

[2022-09-06 03:01] JZZ-NOTE opened #45781 "Why SoftmaxFunctor is different between inference and train？"
### 请提出你的问题 Please ask your question

https://github.com/PaddlePaddle/Paddle/pull/14412
This pr causes SoftmaxFunctor different between inference and train. I want to know why. If this change can improve performance, why didn't train use it？

[2022-09-06 04:07] Lllllolita commented on #45780
同时，我们在测试过程中，输出前向对齐的结果，发现Tensor在经过一层线性层之后的diff，是经过线性层之前的diff的三倍。请问这个级别的差异是正常的吗？是否存在某些问题，导致线性层前向、反向运算出现diff，使得最终结果无法对齐？

[2022-09-06 04:20] snow77 commented on #45756
我这边是一直会多打印一行，是不是环境或者版本哪儿不一致？我也是百度员工，可以如流联系我liubingxing

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年9月5日(周一) 晚上7:02
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 自定义logger，import paddle后，出现重复或多余的log打印 (Issue #45756)

我在V100，python3.8， develop版本paddle，cuda10.2环境下跑了一下，加或不加paddle打印出的log是一样的，都是只生成了test.log文件，文件内容为 [2022-09-05 10:58:27,783] [WARNING] 这一行log只打印到log.l

[2022-09-06 04:23] hugo511 commented on #44501
【队名】：露出鸡脚

【序号】：51

【论文】：Gradient-enhanced physics-informed neural networks for forward and inverse PDE problems

【状态】：报名

【repo链接】：https://github.com/hugo511/PaddleScienceGradient-enhanced-physics-informed-neural-networks-for-forward-and-inverse-PDE-problems/tree/main

[2022-09-06 04:27] w5688414 commented on #45495
Please look at the CI logs. http://ci.d2l.ai/blue/organizations/jenkins/d2l-zh/detail/PR-1202/1/pipeline

[2022-09-06 05:13] #45781 closed, assigned to jczaja

[2022-09-06 06:11] GreatV opened #45789 "【论文复现】自定义算子反向对齐计算崩溃"
自定义算子反向计算时崩溃

**测试代码**

[code]

**崩溃日志**

[code]
**csrc/roi_align_rotated.cc**

[code]

[2022-09-06 06:15] zhiqiu commented on #45713
是的，uniform的c++ kernel用的是std::uniform_real_distribution实现，c++文档说是[min, max)。参考：[cppreference](https://en.cppreference.com/w/cpp/numeric/random/uniform_real_distribution)
<img width="791" alt="image" src="https://user-images.githubusercontent.com/6888866/188560490-5b1fd172-b0cf-4593-bce7-dfee05a6c5be.png">

[2022-09-06 06:28] zhiqiu commented on #45713
我推测你能得到-1和1还有一种可能，就是 你用的float32，精度不够，你可以使用float64再试试。

[2022-09-06 06:30] w5688414 opened #45791 "怎样在notebooks上使用多gpu训练？"
### bug描述 Describe the Bug

您好，官方文档都是针对python脚本进行多gpu训练，请问怎么在notebook上进行多gpu训练。李沐老师的《动手学习深度学习》的代码由于不支持多gpu训练，相比pytorch，训练效率比较低

https://github.com/d2l-ai/d2l-zh/pull/1198

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-06 07:04] #45460 closed, assigned to nobody

[2022-09-06 07:07] shiyutang opened #45793 "ValueError: (InvalidArgument) numel is expected to be greater than or equal 0, but received -1879048192. [Hint: Expected numel >= 0, but received numel:-1879048192 < 0:0.] (at /paddle/paddle/phi/backends/gpu/gpu_launch_config.h:116)"
### bug描述 Describe the Bug

两个tensor相减报错，复现环境在20220810的paddle dev或者更早的版本上可以复现，运行下列代码即可复现结果。
[code]

运行后在` coords = coords - add_xy` 报错如下
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-06 07:11] LemonNoel commented on #45789
Segmentation fault 有可能是数组越界，可以检查下这类操作是否有问题。