[2021-03-03 02:44] A-Pai commented on #31354
上边的处理方式还是比较抽象
项目https://www.paddlepaddle.org.cn/tutorials/projectdetail/1516124
中的“LeNet在眼疾识别数据集iChallenge-PM上的应用”使用的是原始图像，但其只适合于类别少的情形--在文件名上区分类别
有没有这样的处理方式：不同类别的图片放在不同的文件夹---我似乎在哪里见到过

[2021-03-03 02:44] TCChenlong commented on #31198
目前大部分package的说明页已上线，可以在 [API文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/index_cn.html) 每个栏目下的Overview页面下查看，如有优化的建议，可以新开一个ISSUE反馈 感谢反馈~

[2021-03-03 02:45] TCChenlong commented on #31173
已修复，PR见：[#3308](https://github.com/PaddlePaddle/FluidDoc/pull/3308)，感谢反馈

[2021-03-03 02:45] #31173 closed, assigned to hong19860320, TCChenlong

[2021-03-03 02:46] #31198 closed, assigned to hong19860320

[2021-03-03 02:49] lixinsu opened #31390 "SIGSEGV (@0x7f4bcf2d1cb0) received by PID 31502 (TID 0x7f460dd5b700) from PID 18446744072890424496; stack trace"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    3）GPU：P40
    4）系统环境：Linux yq01-inf-nmg01-hlan1.yq01.baidu.com 3.10.0_3-0-0-7 #207 SMP Wed Jul 26 13:22:55 CST 2017 x86_64 x86_64 x86_64 GNU/Linux

- 训练信息
    1）单机单卡
    2）显存信息
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
`#########################################################
#
# Embedding + MatchMatrix + CNN
#
######

[2021-03-03 02:50] TCChenlong commented on #31002
已经更新了相关的说明，感谢反馈；

[2021-03-03 02:50] #31002 closed, assigned to frankwhzhang

[2021-03-03 02:53] A-Pai commented on #31002
动作迅速，很有活力，对飞桨更有信心

[2021-03-03 03:15] zhwesky2010 commented on #31165
要不还是no_avx发一个或几个 用户量最高的python版本，比如3.7、3.8，发python2.7看起来没什么意义，目前no_avx的厂外机器看来还是有的

[2021-03-03 03:21] A-Pai commented on #31165
越搞越复杂了，我就是python3.8.5，要装飞桨2.0的gpu版，要让用户容易装
pytorch的安装就没有这么多的麻烦

[2021-03-03 03:31] zhwesky2010 commented on #31165
@A-Pai 嗯我是在对PM说应该要增加下 你对应机器配置的包

[2021-03-03 03:43] A-Pai commented on #31380
项目https://aistudio.baidu.com/aistudio/projectdetail/1562200?channelType=0&channel=0
中的可视化做法就很直接，不像上边绕了一个弯：
![QQ截图20210303114239](https://user-images.githubusercontent.com/5112397/109749446-a176b180-7c15-11eb-86c6-29ec3e89dc7b.jpg)

[2021-03-03 04:39] zhiqiu commented on #31383
hi，log文件能看下吗

[2021-03-03 05:09] fiyen opened #31392 "paddle.nn.LSTM中参数time_major不起作用"
如题，time_major=True或者False,返回的output的shape都是[batch_size, time_steps, hidden_size]

`input = paddle.tensor.full((10, 100, 128), 1.0, 'float32')
lstm = LSTM(128, 256, time_major=True)
out, final_s = lstm(input)
out.shape
Out[12]: [10, 100, 256]`

[2021-03-03 05:32] WenmuZhou commented on #31349
不是什么均匀分布，就是255/2,并且这只是个示例，具体还需要根据自己的数据集来做修改

[2021-03-03 05:47] swtkiwi commented on #31165
是的，我是在解决您目前的问题，目前的解决方案就是这两种。源码编译和py27。
我们是在不断跟进python进行升级的，下个版本也会适配python39。但主要针对的也是avx机器，没有avx的机器很少有用户用高版本python，我们无法满足所有用户需求，只能满足大多数用户需求。我们也已经在尽量满足更多用户的需求，所以看到您的这种情况，我们已经在分析考虑以后是否发布高版本python的noavx的wheel包了。但也是在未来版本。您如果着急使用的话，目前解决方案就是源码编译，或使用下py27。

[2021-03-03 06:03] yeyupiaoling commented on #31383
@zhiqiu 在这里，里面包含了很多文件

[log.zip](https://github.com/PaddlePaddle/Paddle/files/6073907/log.zip)

[2021-03-03 06:04] TCChenlong commented on #31354
应该是 [DatasetFolder](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/datasets/folder/DatasetFolder_cn.html) 这个API，可以这样读取

[2021-03-03 06:31] LielinJiang commented on #31350
请问可以提供个例子嘛？我们复现一下。

[2021-03-03 06:36] qxcnwu commented on #31350
您 from paddleseg import HRNET

[2021-03-03 06:36] qxcnwu commented on #31350
获取模型后用paddle.summary打印一下

[2021-03-03 06:37] qxcnwu commented on #31350
![Inked屏幕截图 2021-02-27 221109_LI](https://user-images.githubusercontent.com/55339411/109764069-ff16f800-7c2d-11eb-8788-602259523aa6.jpg)
![Inked屏幕截图 2021-02-27 221033_LI](https://user-images.githubusercontent.com/55339411/109764078-0211e880-7c2e-11eb-9e49-25a0de1beab7.jpg)

[2021-03-03 06:38] LielinJiang commented on #31351
不同的角度可以试试rotate，光照等可以试试ColorJitter。还有一些定制化的数据增广也可以看看是否可以通过paddle.vision.transforms.functional下面的函数来组合

[2021-03-03 06:39] CeciliaPYY commented on #28418
上面的链接失效了，可以提供一个有效链接么？

[2021-03-03 06:40] A-Pai commented on #31351
没懂我的意思？我的意思是用不同的方式扩充数据(1-->N)，而当前是加工数据(1-->1)

[2021-03-03 06:42] AoZhang opened #31397 "paddle 2.0 动态图模型保存、加载不正常"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 2.0
    2）CPU：-
    3）GPU：v100，cuda 10.0
    4）系统环境：CentOS 7.5，Python 3.7.9

- 问题描述：
训练阶段调用 paddle.save(model.state_dict(), path) 保存模型后，在预测或训练热启时调用 model.set_dict(paddle.load(path)) 加载保存的模型，发现预测结果或训练loss 跟保存前存在较大差异。
怀疑是模型的部分参数在 save 阶段未能正常保存，但不知道如何排除，求助！

[2021-03-03 06:44] LielinJiang commented on #31351
你可以通过Compose将你想要的变换组合在一起。或者写一个随机调用的方法，随机调用其中几个函数，同时这些函数又具有随机性（角度，大小等），调用N次，就能达到1->N的效果

[2021-03-03 06:57] CeciliaPYY commented on #28418
我这边单机两卡也是这样的问题，有没有具体的文档说明啊，从1.8.0过来的，环境变量也设置了为什么每次都还是单卡在使用呢？paddle安装时候的run_check的两卡验证也通过了。

[2021-03-03 07:05] wdhxek opened #31398 "paddle多卡训练时配置cudnn的路径问题"
paddle-gpu=2.0.0
cudatoolkit=11.0
采用多卡训练时候，发现paddle好像永远是从系统的/usr/local/cuda这个目录下读取cudnn的信息，由于修改这个目录一般需要管理员权限，因此Paddle是否可以自定义cudatoolkit的根目录或者自定义cudnn的目录？是否有对应的环境变量或者接口设置对应的目录？

[2021-03-03 07:07] A-Pai commented on #31351
我的想法是这个扩充数据的需求应该在图像识别中是共同的，不是吗？同样一个物体，从不同的方式去看，也要能够准确地识别出
我认为框架中应该包含这样融合处理的自动工具，而不是用户手工来组合

看了不少项目，似乎都是1-->1地在处理，为何不1-->N地处理？不需要这样做？

[2021-03-03 07:20] danleifeng commented on #28418
抱歉，最近fleet的文档正在完善修复中，可以参考下：https://github.com/PaddlePaddle/FleetX/blob/develop/examples/resnet/train_fleet.py#L58

[2021-03-03 07:54] lyl120117 commented on #31371
https://github.com/pytorch/pytorch/issues/33754#issuecomment-590970751
https://github.com/PaddlePaddle/Paddle/issues/31259#issue-817144773

[2021-03-03 08:05] GaoWei8 commented on #31398
暂时没有支持自定义cudnn的目录，可以尝试修改安装目录

[2021-03-03 08:07] GaoWei8 commented on #31390
是使用了ernie的repo的代码吗

[2021-03-03 08:12] zhwesky2010 commented on #31387
@Fighter-zzp 您好，这个是由于电脑不支持avx指令集问题导致的，目前暂时只发布了python2.7的no_avx包发布，目前的解决方式是使用python2.7，然后 python -m pip install paddlepaddle-gpu==2.0.0 -f https://paddlepaddle.org.cn/whl/stable/noavx.html

 @swtkiwi 下个版本会增加no avx类型机器更主流的python版本支持

[2021-03-03 08:18] zhiqiu commented on #31371
dataloader中子进程是fork出来的，子进程不会继承父进程的cuda runtime，所以你在子进程中不能用cuda的操作。你可以试下在#31177 的基础上，加上 with paddle.fluid.dygraph.guard(paddle.CPUPlace())中使用paddle的操作（这样跑的是cpu的op）。

[2021-03-03 08:22] lyl120117 commented on #31371
@zhiqiu cuda runtime这个概念出自哪里？

[2021-03-03 08:23] phlrain commented on #31397
一个简单的方式就是遍历model.state_dict() ，打印name  和 对应的参数， 然后load之后 在输出一下，看看值是不是能对上。。

[2021-03-03 08:29] zhiqiu commented on #31371
![image](https://user-images.githubusercontent.com/6888866/109776452-8cae1400-7c3d-11eb-8a00-83e5235532bc.png)

https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038

和你上面的pytorch issue中说的cuda context的意思差不多。

[2021-03-03 08:35] iclementine commented on #31392
time_major 参数会影响输出的形状的语义，输出和输入语义保持一致。
如果你的输入是 (B, T, C), 那么应该设置 time_major=False, 输出也是 (B, T, C).
如果你的输入是 (T, B, C), 那么应该设置 time_major=True, 输出也是 (T, B, C).

模型并不真正知道什么是 batch_size, 什么是 time_steps, 它只是根据协议来决定把那个当作 batch_size, 哪个当作 time_steps.
因为你的输入就是 (10, 100, 128), 设置 time_major=True 的情况下，它会认为 batch_size 是 100, time_steps 是 10.

[2021-03-03 08:37] lyl120117 commented on #31371
[code]
这是[Python官方文档](https://docs.python.org/zh-cn/3.7/library/multiprocessing.html#contexts-and-start-methods)的解释，您说的fork出来的子进程不会继承父进程的cuda runtime，我的理解应该是父进程还没初始化cuda runtime就fork子进程了，那么我们是不是应该找到到底应该怎么初始化cuda runtime，spawn方式启动的进程到底跟fork在代码上哪里不一样，这个可能是我们需要搞清楚的吧！

[2021-03-03 08:38] starsblinking commented on #31242
Now it looks OK

[2021-03-03 08:38] #31242 closed, assigned to yongqiangma

[2021-03-03 08:56] AoZhang commented on #31397
是否可能存在个别参数在save的时候根本没保存？

[2021-03-03 08:57] A-Pai opened #31406 "怎么知道 train_data 或 eval_data 是不是 DataLoader ？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model/Model_cn.html#fit-train-data-none-eval-data-none-batch-size-1-epochs-1-eval-freq-1-log-freq-10-save-dir-none-save-freq-1-verbose-2-drop-last-false-shuffle-true-num-workers-0-callbacks-none
![QQ截图20210303165154](https://user-images.githubusercontent.com/5112397/109779316-caf90280-7c40-11eb-9ac2-a269fc208539.jpg)
怎么知道 train_

[2021-03-03 08:58] phlrain commented on #31397
paddle.save(model.state_dict(), path) 这种方式是不会的。。 即使存在，刚才建议的方式，也是能够排除出来的

[2021-03-03 09:01] wdhxek commented on #31398
谢谢回复！
我大概查了一下代码，里面
[代码](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/platform/dynload/dynamic_loader.cc)

这里好像提到了修改$LD_LIBRARY_PATH 可以进行配置？

[2021-03-03 09:02] zhwesky2010 commented on #30964
@HuangLonghao 您好，这里的GPU配置是1070ti+cuda10+cudnn8.0.5+tensorRT7.0，但是实际编译的是cuda11.0，请问本机安装的是cuda10.0还是cuda11.0呢

[2021-03-03 09:10] GaoWei8 commented on #31398
可以尝试修改环境变量的方式，修改路径。

[2021-03-03 09:13] wdhxek commented on #31398
在个人用户下的.bashrc中修改LD_LIBRARY_PATH,  但是不起作用，确定修改在系统中是生效的。但是paddle检测到的始终是/usr/local/cuda这个目录下所安装的cudnn版本。
paddle现在是否支持cudatoolkit+cudnn一起打包安装的方式？

还有一个问题，nccl的库目录是否可以用LD_LIBRARY_PATH单独设置呢？

[2021-03-03 09:18] wangzy0327 commented on #30665
i am also meet this problems. how could solve it?
parallel_executor.cc:596] Cannot enable P2P access from 0 to 1
parallel_executor.cc:596] Cannot enable P2P access from 1 to 0

[2021-03-03 09:19] yeyupiaoling commented on #31383
@zhiqiu 请问怎么解决呢？

[2021-03-03 09:20] A-Pai opened #31407 "model.fit中的num_workers改为非0值(比如1、2)报错"
该项目https://aistudio.baidu.com/aistudio/projectdetail/1592130

num_workers为1，报错
![image](https://user-images.githubusercontent.com/5112397/109782620-0a751e00-7c44-11eb-8e11-8158e6c414f4.png)
num_workers为2，报错
![QQ截图20210303171955](https://user-images.githubusercontent.com/5112397/109783219-b6b70480-7c44-11eb-8aa2-bd1a20e59076.jpg)

[2021-03-03 09:25] GaoWei8 commented on #31407
报错是gpu初始化问题，cuda的环境配置是否正确呢

[2021-03-03 09:27] A-Pai commented on #31407
num_workers为0时，运行正常

![QQ截图20210303172840](https://user-images.githubusercontent.com/5112397/109784360-f6322080-7c45-11eb-9899-b4dc6f6ccb1b.jpg)

[2021-03-03 09:37] LielinJiang commented on #31406
train data和eval data 都用paddle.io.Dataloader创建的话，就是它的示例，具体请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DataLoader_cn.html#dataloader

[2021-03-03 09:44] A-Pai commented on #31406
不是由DataLoader 构建的数据集就不是 DataLoader 实例？

[2021-03-03 09:52] yeyupiaoling opened #31410 "在训练过程中突然出现错误"
- PaddlePaddle
 - Ubuntu 18.04
 - Python3.7

[code]

[2021-03-03 09:53] chenwhql commented on #26380
如前述回答，这个原理上现在无法解耦，2.0建议动静态图都使用迭代式的DataLoader，就没有这个问题了，issue先关闭了

[2021-03-03 09:53] #26380 closed, assigned to chenwhql, bjjwwang

[2021-03-03 10:24] ddgetget opened #31413 "在训练过程中数据类型int64_t没有"
PaddlePaddle版本：paddle:2.0
  
我在跑官网的[用N-Gram模型在莎士比亚文集中训练word embedding]出现一下错误,不知道怎么回事,针对高阶API和基础API进行模型的训练均是改情况

[code]

[2021-03-03 10:30] LielinJiang commented on #31407
这是个已知问题，ToTensor模块和dataloader目前还不匹配。我们正在修复中。建议您先不使用ToTensor这个类

[2021-03-03 11:26] huochf opened #31416 "Tensor 索引？"
请问Paddle中Tensor不支持列表索引或者bool数组索引吗？有相关可替代的API吗？

[2021-03-03 11:35] A-Pai commented on #31407
什么意思？似乎没有使用dataloader

[2021-03-03 11:37] LielinJiang commented on #31407
fit内部会将dataset变成dataloader达到加速和取batch的目的

[2021-03-03 11:42] A-Pai commented on #31407
fit的文档如下，fit内部会将dataset变成dataloader，该参数会被忽略？
![image](https://user-images.githubusercontent.com/5112397/109800547-4619e300-7c58-11eb-800f-f68387cfaed3.png)

[2021-03-03 11:45] LielinJiang commented on #31407
你传的不是dataset嘛？dataset不是DataLoader的实例。所以不会被忽略。
你传入dataset的时候。就是会根据你传入dataset，num_workers和batchsize来实例化dataloader

[2021-03-03 11:47] fiyen commented on #31392
理解了，多谢！

[2021-03-03 11:47] A-Pai commented on #31407
这么说，num_workers的设置还是有效的，希望通过改变它提升运算速度

[2021-03-03 13:38] AoZhang commented on #31397
已经验证了save之前的state_dict 和load 之后的state_dict是完全一致的。还有其它思路排查是哪里的问题吗？

[2021-03-03 15:56] gp1322719830 opened #31418 "jetson nano上batch=4推理崩溃"
paddle版本：1.6
错误信息：
W0303 23:24:53.351265 28635 device_context.cc:237] Please NOTE: device: 0, CUDA Capability: 53, Driver API Version: 10.0, Runtime API Version: 10.0
W0303 23:24:53.360337 28635 device_context.cc:245] device: 0, cuDNN Version: 7.5.
Segmentation fault (core dumped)

[2021-03-04 02:13] pengyuange opened #31421 "训练后ctr，如何得到训练好的embedding表"
PaddlePaddle 2.0，CPU，Linux，python3.8
ctr训练，一部分cate_feature 想要做embedding，怎样得到训练好的embedding表，以及如何查询，
这样在线上部署的时候可以省去embedding的训练过程
比如说，职业，消费水平等 多个类别特征，输入模型的时候，定义一个embedding
self.embedding = paddle.nn.Embedding(
            self.sparse_feature_number,
            self.sparse_feature_dim,
            sparse=True,
            weight_attr=paddle.ParamAttr(
                name="SparseFeatFactors",

[2021-03-04 02:37] GaoWei8 commented on #31410
初步看起来是进行memory copy的时候发生的错误。使用的是什么样的代码呢

[2021-03-04 02:38] GaoWei8 commented on #31413
初步分析是softmax_with_cross_entropy op的Tensor的类型错误，请问是使用的官方例子运行吗？有相关链接吗

[2021-03-04 02:38] yeyupiaoling commented on #31410
@GaoWei8 这个：https://github.com/yeyupiaoling/PPASR/blob/master/train.py
这个错误有时出现，重启就不出现了。

[2021-03-04 02:40] GaoWei8 commented on #31418
是指在Nvdia jetson nano型号上运行哪个模型产生问题呢？

[2021-03-04 02:41] parap1uie-s commented on #31133
维持长宽比

[2021-03-04 02:42] A-Pai commented on #31133
明白了，谢谢

[2021-03-04 02:45] GaoWei8 commented on #31416
可以尝试mask_select，index_select这两个api是否满足要求

[2021-03-04 02:49] huochf commented on #31416
谢谢回复，似乎有些地方不可以，

我把Tensor的操作全部转成numpy数组，然后再转回Tensor，似乎可以解决了这个问题

[2021-03-04 02:55] GT-ZhangAcer opened #31423 "102Flowers数据集读取数据异常缓慢"
PaddlePaddle版本：2.0
GPU：AI Studio上的V100
系统环境：MAC、Windows、Ubuntu均可复现

在MacBook Pro (Retina, 13-inch, Early 2015)上测试，纯数据读取大概需要5000秒一轮，读取32条数据也需要等待将近3分钟。已经提PR优化了，但显示代码覆盖率不够...大佬方便看看么
https://github.com/PaddlePaddle/Paddle/pull/31408

[2021-03-04 03:08] GaoWei8 commented on #31398
支持直接打包安装，或者直接使用docker配置好的环境

[2021-03-04 03:36] ShenYuhan commented on #31383
确保https://github.com/yeyupiaoling/PPASR/blob/8273925f8c50ea05233cf8d96013871cc6c243e4/train.py#L33
这一句在每个任务中只执行了一次，每次执行这一句都会新生成一个文件

[2021-03-04 03:37] yeyupiaoling commented on #31383
@ShenYuhan 是只有一行呐，你看我都放在train()外面了

[2021-03-04 04:11] gp1322719830 commented on #31418
不是开源模型，是内部针对具体业务优化训练过的检测模型，在x86上不存在这个问题

[2021-03-04 05:43] lyl120117 commented on #31371
@zhiqiu 您好，通过查看[CUDA Runtime API](https://docs.nvidia.com/cuda/archive/10.2/cuda-runtime-api/driver-vs-runtime-api.html#driver-vs-runtime-api)文档，在主进程中只要调用了CUDA Runtime API就会初始化cuda runtime，也就是Context，这个Context会跟当前进程绑定，Context在线程中可以共享，但是不能在进程中共享。Python采用fork的方式创建进程会拷贝父进程的所有资源，包括父进程中的Context，但是这个Context子进程是用不了的，子进程由于持有了Context，调用CUDA Runtime API就会直接使用已有的父进程继承过来的Context访问GPU，从而导致Cuda error(3), initia

[2021-03-04 05:58] zhhsplendid commented on #31112
本issue提问者没有更多追问，我将关闭此issue，如果有更多问题可以再打开和提问

[2021-03-04 05:58] #31112 closed, assigned to lijianshe02

[2021-03-04 06:00] lyl120117 commented on #31371
@zhiqiu 在框架中可以判断当前进程创建的方式是fork还是spawn，如果是fork，需要提示用户不能在子进程也就是Dataloader预处理中调用CUDA相关的API比如paddle.to_tensor，或者提示用户使用spawn方式创建进程才可以调用CUDA相关API。

[2021-03-04 06:03] ShenYuhan commented on #31383
试下加下print看下是不是只执行一次，另外在add_scalar的时候要看下writer 的id是不是一个

[2021-03-04 06:30] lyl120117 commented on #31250
@heavengate 您好，我这边验证，注释掉self._thread.daemon = True 303这一行，可以正常抛出异常https://github.com/PaddlePaddle/Paddle/blob/c40b98e06857701137d54a20b6a0981560906b1f/python/paddle/fluid/dataloader/dataloader_iter.py#L301-L304
通过查看[Python官方文档](https://docs.python.org/zh-cn/3.7/library/threading.html#threading.Thread)，daemon这个参数会影响到主线程是否退出，请问您当时是出于什么目的将daemon设置为True？

[2021-03-04 07:15] GaoWei8 commented on #31418
batch4小于4的时候是否可以正常运行。可以查看是不是显存不足了。

[2021-03-04 07:17] saxon-zh commented on #31380
@A-Pai 这个reshape操作可以去掉，之前增加这个操作是因为2.0正式版之前有一个版本的数据返回格式不是(28, 28)，后面我们修改下这个项目的代码。

[2021-03-04 07:22] AoZhang commented on #31397
找到原因了：是 save 的时候部分参数没有保存下来。

原因是我定义模型时使用了类似这样的方法：
[code]
导致了 op_dict 中的参数没有被 save() 函数识别并保存。

--------
建议：类似的写法在 PyTorch 中是可以正常使用的，希望 Paddle 也能支持。

[2021-03-04 07:23] #31397 closed, assigned to GaoWei8

[2021-03-04 07:24] Crystalxd commented on #31185
请问你最后是怎么解决的？我将别人下载好的三方库（环境相同）拷贝到我的build/third_party目录里，结果在make的时候还是慢慢git下载
![image](https://user-images.githubusercontent.com/34636084/109926190-a44cd180-7cfd-11eb-839e-66f3618f02b0.png)

[2021-03-04 07:49] TCChenlong commented on #31413
是这篇文档么：https://www.paddlepaddle.org.cn/documentation/docs/zh/tutorial/nlp_case/n_gram_model/n_gram_model.html ；请问下您的具体环境 和 报错的详细信息，方便我们排查问题

[2021-03-04 07:54] topxxuki opened #31430 "安装1.6.3版本 的paddle后无法访问fluid.core.get_cuda_device_count"
环境：ubuntu16.04
python3.6.4
参考官网文档安装后
https://www.paddlepaddle.org.cn/install/old?docurl=/documentation/docs/zh/2.0/install/pip/windows-pip.html#anchor-24
![image](https://user-images.githubusercontent.com/18697846/109929728-c3e5f900-7d01-11eb-9bb4-90d2d6baa4b1.png)

官网文档中gpu版本安装也是paddlepaddle，不是paddlepaddle-gpu；安装完成后检查 fluid.install_check.run_check()显示可以在多GPU/CPU环境上运行，但是无法调用fluid.core.get_cuda_dev

[2021-03-04 08:06] gfwm2013 commented on #31423
@GT-ZhangAcer CI中显示，您添加的代码基本都没有运行，所以才会报覆盖率不够，显示的覆盖率是0

[2021-03-04 08:09] GT-ZhangAcer commented on #31423
但大部分代码是我在原基础之上调整了顺序和变量名，调整变量名这部分我看也是显示没有运行的，那么之前是怎么提交的呢？

[2021-03-04 08:15] gfwm2013 commented on #31423
@GT-ZhangAcer 你可以本地先加入一些log输出，确认一下是否运行了您修改的代码。

[2021-03-04 08:33] GT-ZhangAcer commented on #31423
如果我没有运行这些代码的话，那是得不出新代码与旧代码性能差别的。而且很多代码是在__init__里的，调用这个class就会被用上，出现0就很怪异...

[2021-03-04 08:34] topxxuki commented on #31430
尝试使用paddlepaddle-gpu       1.6.3.post107 版本，可以检查到gpu，但是安装检查报错如下：
![image](https://user-images.githubusercontent.com/18697846/109934167-2db4d180-7d07-11eb-99a6-e31fd897bf5d.png)
![image](https://user-images.githubusercontent.com/18697846/109934190-34434900-7d07-11eb-9cbb-dc2f5e8a1383.png)

nccl版本从2.4.6升级到2.8.4均报错如上

[2021-03-04 08:43] yeyupiaoling commented on #31383
@ShenYuhan 这行的确是执行多次了：https://github.com/yeyupiaoling/PPASR/blob/02f88a9b5002bfe8b120a0c29305ed9273d62cd5/train.py#L35
spawn多卡训练的逻辑是啥，你看我都放在train()外面了，怎么还会执行多次呢？

[2021-03-04 09:00] topxxuki commented on #31430
python3 -m pip install paddlepaddle-gpu==1.8.5.post107 -f https://paddlepaddle.org.cn/whl/stable.html 1.8.5版本也有一样的问题

[2021-03-04 09:04] gfwm2013 commented on #31430
@topxxuki 正在咨询负责安装的同学，等下回复给您结果

[2021-03-04 09:40] gfwm2013 commented on #31423
@GT-ZhangAcer 有可能是覆盖率统计有问题，我可以帮你重新re-run一下，如果还是同样的问题，我去帮你问一下负责的同学，你看这样可以吗？

[2021-03-04 09:42] GT-AcerZhang commented on #31423
感谢大佬啦~[送花]

[2021-03-04 09:45] GT-ZhangAcer commented on #31423
感谢大佬啦~[送花]

[2021-03-04 09:49] wadefelix opened #31435 "Should file `test_data_generator.py` to be moved to the tests directory?"
OR the follow lines be included in `if __name__ == '__main__':` block?

https://github.com/PaddlePaddle/Paddle/blob/3a8ef10e09837455f9feb85c8ad72f02b95a1cf2/python/paddle/distributed/fleet/data_generator/test_data_generator.py#L35

[2021-03-04 09:52] wadefelix commented on #31435
this file is packaged in the final released pacakge.

[2021-03-04 10:01] wadefelix commented on #31435
https://github.com/PaddlePaddle/Paddle/blob/3a8ef10e09837455f9feb85c8ad72f02b95a1cf2/python/paddle/distributed/launch.py#L16
in the `__main__` context too.

[2021-03-04 12:52] topxxuki commented on #31430
更换nccl为2.4.7+cuda10.0版本，问题已解决

[2021-03-04 12:52] #31430 closed, assigned to gfwm2013

[2021-03-04 12:55] A-Pai commented on #31407
改进后，提醒一声哦！

[2021-03-04 12:56] ShaneTian commented on #31370
抱歉，再多问两个问题：
1. 单机多卡使用上述 `fleet` 代码进行训练时需要只使用 0 号进程保存模型吗？比如当 `dist.get_rank() == 0` 时才 `save`，其他进程不 `save`。如果都 `save` 了的的话发现好像也是只有一份文件，是怎么回事呢？
2. `train.py` 中隔固定步执行了 `evaluation`，请问在 `evaluation` 中：
    1. `output = model(input)` `loss = loss_fn(output, label)` 得到的 `loss` 是当前进程的吧？
    2. 是不是应该 `paddle.distributed.all_reduce(loss, op=ReduceOp.SUM)` 一下得到所有进程的 `loss` 和再逐元素除以进程数 `dist.get_world_size()`

[2021-03-04 13:34] andreazanetti commented on #28522
Hi, reopening this issue to continue the discussion as we would like to:

1. share some data from experiments
2. get your feedback about a specific proposal we have.

**1.  share some data from experiments**
We spent some time studying how to apply Kurtosis regularizer to pre-trained attention-based models like Ernie for sentiment classification, which has commercial relevance. Applying this kind

[2021-03-04 16:36] wozna commented on #30560
@luotao1  I have a question related to command `fleetrun`,
I checked that when I install paddlepaddle by pip it works fine.

Unfortunately, when I was building the paddle from the source with the mentioned command
```cmake ..  -DCMAKE_BUILD_TYPE=Release -DWITH_PYTHON=ON -DPY_VERSION=3.6 -DWITH_AVX=ON -DWITH_DISTRIBUTE=ON``` ,
it shows me that the command `fleetrun: command not found`

Should anyth

[2021-03-05 01:28] lyl120117 commented on #31250
@heavengate 您好，AIStudio上面用notebook测试可以正常抛出异常，用CMD命令行测试无法抛出异常。

[2021-03-05 02:43] wadefelix commented on #31165
看来奔腾赛扬处理器用户还是不少的，特别是学生和初学者。

[2021-03-05 02:54] yeyupiaoling commented on #31383
只能这样做了。https://github.com/yeyupiaoling/PPASR/blob/94f1e7a8c877d37019889a2f798f7b7c0fad192c/train.py#L55-L57

[2021-03-05 02:54] #31383 closed, assigned to zhiqiu

[2021-03-05 02:55] #31410 closed, assigned to GaoWei8

[2021-03-05 03:02] yeyupiaoling opened #31439 "关于模型保存和读取的几个疑问"
- PaddlePaddle 2.0.0
 - Python 3.7
 - 只考虑动态图

1、下面的API是只保留的模型的结构和参数，并没有保存优化方法的参数，如果要保存优化方法的参数是否还要执行`paddle.save(optimizer.state_dict(), 'optimizer.pdopt')`？
[code]

2、我的数据输入是变长的，如shape为`(batch size, 128, 数据实际长度)`，这种情况下如果设置`input_spec`参数？

3、如果是使用`paddle.jit.save()`API保存的模型，在使用`paddle.load()`读取模型继续训练中，`use_structured_name`参数必须是False吗？
[code]

[2021-03-05 03:27] gp1322719830 commented on #31418
batch1、batch2、batch3都是可以的，batch4就崩溃，显存还剩400M崩溃的。
模型大小如下：
-rw-rw-r-- 1 585K 1月  14 20:55 detection.pdl_model
-rw-rw-r-- 1 235M 1月  14 20:55 detection.pdl_param

[2021-03-05 04:22] yeyupiaoling opened #31442 "paddle.jit.load()加载的模型，为啥拿不到里面的变量"
- PaddlePaddle 2.0

例如我拿不到model中的mean。
[code]

[2021-03-05 07:15] chenwhql commented on #31442
jit.save/load的定位是用于存储推理用模型，save的时候会精简信息，仅存储推理需要使用的信息，之后jit.load得到的Layer对象和之前是不同的，除了原Layer的parameters，原先定义的其他成员都无法拿到，所以这种写法设计上就不行

如果您并不是用于推理，而只是想保存Layer后加载，而且希望和原来一样，我们目前正在开发，预计在下一版本支持

[2021-03-05 07:20] yeyupiaoling commented on #31442
@chenwhql 那目前有没有办法做到这个需求呢？我的模型既要作为继续训练的预训练模型，也要用于预测。

[2021-03-05 07:24] chenwhql commented on #31439
1. jit.save的定位是仅用于推理模型保存，会对模型进行裁剪，不会保留优化器参数，设计上就是这样的，这里您为什么要用jit.save存呢？是为了推理吗？如果不是，不推理在训练的时候用这个接口存
2. 如果您后面是变长维度，并且您的模型实际执行时能够适应变长，可以将变长维度设置为`None`
3. 这种情况，不需要设置`use_structured_name `这个参数，jit.save保存了structured_name信息，会自动适配，仅在您兼容载入1.x接口或静态图接口保存的结果时才需要设置这个参数
![image](https://user-images.githubusercontent.com/22561442/110081323-bba3c180-7dc6-11eb-8d96-afba6d662021.png)

[2021-03-05 07:28] chenwhql commented on #31442
如果是训练的话，我们推荐使用paddle.save/load存储参数就可以了，不用存模型

paddle的预测模型有特殊的格式，存储为预测模型之后再用于训练的话，就像您看到的，不能再恢复出完整的模型

[2021-03-05 07:28] yeyupiaoling commented on #31439
@chenwhql 谢谢。

因为我需要保存模型，用于之后继续训练。也可以用于推理。我需要保存一套既可用于训练，也可以用于预测的。最好是推理不需要模型代码，

[2021-03-05 07:31] chenwhql commented on #31442
如果您不需要再访问模型中原来的一些元素，仅继续训练的话，用jit.save存储的结果也可以，但即使我们之后支持了训练模型的存储，这个存储的结果也是不能用于预测的，格式不同

[2021-03-05 07:34] chenwhql commented on #31439
因为这两种方式本质就有些差别：
- 训练模型：完整模型，含优化器
- 预测模型：精简模型，是完整模型的子图，仅完成接收特定输入，得到特定预测结果的功能

所以，他们俩的存储目标不太一样

[2021-03-05 07:34] chenwhql commented on #31439
推理确实不需要模型代码

[2021-03-05 07:35] dhao-island opened #31444 "python3.7，paddlegpu2.0 在本地训练时，出现 TypeError: __init__() got an unexpected keyword argument 'label_list'"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2021-03-05 07:35] yeyupiaoling commented on #31442
@chenwhql 也就是说不过使用哪种方式保存模型，都无法保存自定义变量。我把他当作张量处理也不行。
[code]

[2021-03-05 07:36] chenwhql commented on #31442
目前还不支持，下个版本会支持一种可以保存自定义变量的保存格式，会把完整的Layer存下来，但是这个格式也不能用于预测哈

[2021-03-05 07:37] aishangmaxiaoming opened #31445 "安装后不能用"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14

    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/too

[2021-03-05 07:39] luotao1 commented on #30560
@wozna Please check your python install path. `fleetrun` will be installed in python.
https://github.com/PaddlePaddle/Paddle/blob/ffbf71359a260031f4202dd4e6bab7efebaa90da/python/setup.py.in#L542-L544
Or you can specific your own python like `/usr/local/python -m fleetrun ...`

[2021-03-05 07:44] yeyupiaoling commented on #31439
@chenwhql 明白了，谢谢，如果是需要训练的话，就必须用paddle.save()。想要无模型代码推理，只能用paddle.jit.save()。

那我干脆这两个接口都用上。但保存自定义变量还是个问题。

[2021-03-05 07:44] #31439 closed, assigned to chenwhql, DannyIsFunny

[2021-03-05 07:48] chenwhql commented on #31442
其实按理说，参数保存了的话，其他的临时变量都能恢复出来，您这边存这个临时var主要是要做什么

[2021-03-05 07:50] chenwhql commented on #31442
还有一招，如果就是个特殊变量需要存的话，可以用Layer.register_buffer把这个tensor存到state_dict里面，这样存储state_dict的时候会把它一起存下来，当然一般是不需要的

https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/dygraph/layers/Layer_cn.html#register_buffer

[2021-03-05 07:50] yeyupiaoling commented on #31442
@chenwhql 我定义这临时变量是用于数据归一化的。我是想着，我训练好了模型，直接给别人就可以用了，不需要告诉他我的mean和std是啥，直接在模型文件里面取

[2021-03-05 07:51] yeyupiaoling commented on #31442
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/dygraph/layers/Layer_cn.html#register_buffe

我试试

[2021-03-05 07:52] chenwhql commented on #31442
嗯嗯，你用这个之后，看看state_dict里面是不是有这个变量，有的话，paddle.save的时候会一起存下来的

[2021-03-05 07:57] DannyIsFunny commented on #31445
请问你是安装Paddle/Serving失败吗，PaddleServing的安装可以参考 `Serving` repo里的说明：https://github.com/PaddlePaddle/Serving/blob/v0.5.0/README.md#installation

[2021-03-05 07:58] DannyIsFunny commented on #31445
Paddle/Serving安装相关issue建议移动到 https://github.com/PaddlePaddle/Serving/issues
Serving repo中

[2021-03-05 08:06] yeyupiaoling commented on #31442
@chenwhql paddle.save之后就没有了。

[code]

[2021-03-05 08:09] chenwhql commented on #31442
state_dict里面有是吗

[2021-03-05 08:10] yeyupiaoling commented on #31442
@chenwhql 有

[2021-03-05 08:13] chenwhql commented on #31442
稍等我试试

[2021-03-05 08:13] yeyupiaoling commented on #31442
@chenwhql 是不是我取得方式不对？好

[2021-03-05 08:18] chenwhql commented on #31442
噢，你得自己定义一个layer，load之后set的时候，那个linear没有这个buffer变量，不会set进去

[2021-03-05 08:19] yeyupiaoling commented on #31442
@chenwhql 我试试

[2021-03-05 08:33] yeyupiaoling commented on #31442
@chenwhql 请问要如何修改呢，我这方法不行。
[code]

[2021-03-05 08:47] chenwhql commented on #31442
下面 LinearNet()初始化的时候，并没有mean这个成员，自然就不会设置了

得确保你的网络结构是稳定的，不然没有承载这个变量的地方，set_state_dict是会找网络中和dict中都有的变量才能设置的

比如你确保这个变量有就可以了

[code]

[2021-03-05 08:48] DannyIsFunny commented on #31444
请问可以详细描述一下错误场景吗：
- 机器环境
- 具体代码片段
- 错误日志

[2021-03-05 08:48] yeyupiaoling commented on #31442
@chenwhql 谢谢，解决了。

[2021-03-05 08:48] #31442 closed, assigned to chenwhql, DannyIsFunny

[2021-03-05 08:53] Crystalxd opened #31448 "三方库下载编译仍git下载且编译错误"
- 版本、环境信息：
    1）PaddlePaddle版本：release/2.0
    2）CPU：Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz
    3）GPU：Tesla T4，CUDA：10.0 CUDNN：7.6.5
    4）系统环境：CentOS7.5.1804、Python版本：python3.7

三方库下载版本：https://github.com/PaddlePaddle/PaddleOCR/issues/439

- 安装方式信息：
本地编译：~/cmake-3.18.4-Linux-x86_64/bin/cmake
-DWITH_CONTRIB=OFF
-DWITH_MKL=ON
-DWITH_MKLDNN=ON
-DWITH_NCCL=OFF
-DCMAKE_BUILD_TYPE=Release
-DON_INFER

[2021-03-05 09:00] ForFishes commented on #31370
您好。1、因为是数据并行，各个进程的模型参数几乎没有区别（只有一点细微的保存精度误差），所以那个进程都可以用来保存。但是如果不选择``dist.get_rank() == 0``,那么每个进程都会往同一个文件夹写文件，相互覆盖，所以最终也是只有一个文件。所以为了避免这个情况，推荐使用``dist.get_rank() == 0 ``才save。
2、（1）是的，loss是当前进程的。原因是eval阶段，没有调用反向（loss.backward），所以各个进程间不会进行通信同步。
      （2）对的。如果要拿到loss的平均，是需要按照你的说的做。 补充一点：因为你这里是loss，取平均是没有问题的。但是，如果是auc，由于各个卡的数据量并不是完全相同（最后一个batch的大小可能不相同），可能取平均会有误差，所以一般eval数据量不大的情况下，选择单机单卡的方式更佳。
感谢您的使用。

[2021-03-05 09:02] ShaneTian commented on #31370
回答非常清晰，感谢！

[2021-03-05 09:02] #31370 closed, assigned to zhiqiu

[2021-03-05 09:30] yeyupiaoling commented on #31442
@chenwhql 那样做，在多卡训练会导致显存爆炸，改成这样就没事了
[code]

[2021-03-05 09:36] chenwhql commented on #31442
可以的

[2021-03-05 10:02] zhiqiu commented on #31371
是的，现在父进程cuda的runtime不能被子进程“完美”的地复用，如果要在子进程中用cuda，目前的方式是需要用spawn起子进程。

[2021-03-05 10:03] zhiqiu commented on #31371
好的，感谢您的建议，我找相关同学看下如何添加合适的提示信息。

[2021-03-05 10:17] xiangqingcs opened #31450 "希望支持自定义指定多GPU卡"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2021-03-05 13:52] Irvingao commented on #31183
依然报相同的错误，我都重刷了镜像。。。。我看有其他人操作都成功了。。。就我报这个错。。

[2021-03-05 13:57] Irvingao commented on #31183
完全按照这个步骤来，依然报错：https://aistudio.baidu.com/aistudio/projectdetail/1591846?channelType=0&channel=0

[2021-03-05 15:32] skywalk163 commented on #31450
可以直接用这条命令指定显卡启动程序，文档源代码不用改（原文档里也不要用set_device手工指定卡）：
python3 -m paddle.distributed.launch  --gpus="1, 3" train.py

对程序的要求是：
是飞桨自己写的模块或套件，比如paddleclas，paddleseg 等
或者是自己用高层api写的代码，如果不是，需要在程序中修改三处：

使用基础API场景

#第1处改动，import库
import paddle.distributed as dist

#第2处改动，初始化并行环境
dist.init_parallel_env()

#第3处改动，对模型增加paddle.DataParallel封装
net = paddle.DataParallel(paddle.vision.models.LeNet())

修改完毕就可以使用 p

[2021-03-06 06:22] #31450 closed, assigned to DannyIsFunny

[2021-03-06 08:41] ghost opened #31454 "安装成功，运行run_check失败"
Paddle version: 2.0.1
Paddle With CUDA: True
OS: Windows 10
Python version: 3.8.8
CUDA version: 10.2.89
cuDNN version: 8.1.1
Nvidia driver version: 461.72
CPU:10700KF
GPU:2070S
安装方式:pip

安装正常，验证失败
[code]

[code]

[2021-03-06 12:34] A-Pai opened #31456 "怎样得到由“DatasetFolder”构建的数据集的类别的个数"
怎样得到由“DatasetFolder”构建的数据集的类别的个数

[2021-03-06 13:43] ddgetget commented on #31413
嗯嗯，是的，window10,paddle2.0 cpu，直接运行官方代码，即出现
[code]

[2021-03-06 15:10] jiweibo commented on #31454
您好，请问下按照Paddle官网的安装方式可以吗？
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/2.0/install/pip/windows-pip.html

[2021-03-06 15:57] ghost commented on #31454
是的

[2021-03-06 18:48] snuabar opened #31459 "C++ 调用Python导入Paddle 包会导致当前程序反复启动直到崩溃"
   1）PaddlePaddle版本：2.0.0
    2）CPU/GPU：Intel gen8 Core i5，无GPU，内存8G
    3）系统环境：Windows 10 20H2
    4）Python版本号：3.7
    5）显存信息 无

- 复现信息：PyRun_SimpleString("import paddle")
- 问题描述：执行时间很长，并且后台在反复运行当前程序直到崩溃，无论是直接引用带Import paddle 的py文件，还是直接在c++ 中使用PyRun_SimpleString("import paddle") ，都会复现，请看下图。
- 运行时的状态
![1](https://user-images.githubusercontent.com/19286389/110217495-38ca5600-7eef-11eb-88e5-51a8076e

[2021-03-07 01:30] dhao-island commented on #31444
不好意思，来晚了点，我又跑了两遍，也不知道为什么没有这个问题了。现在出现了另一个问题，OSError: (External)  Cuda error(35), CUDA driver version is insufficient for CUDA runtime version. 请问在paddle架构下怎么升级cudac驱动啊？可以在pycharm里输入交互命令升级吗？

[2021-03-07 01:38] dhao-island commented on #31454
要是pycharm的话。 可能是因为解释器不在所创的环境中，检查一下python interpreter，是否与所创环境对应

[2021-03-07 02:02] jiweibo commented on #31456
可以参考相关文档https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/datasets/folder/DatasetFolder_cn.html#datasetfolder

在目录中对不同的class进行分类就行了
[code]

[2021-03-07 03:39] ghost commented on #31454
我只有一个env，所以应该是没问题的。debug到`paddle/fluid/executor.py:1326`
[code]
就无法继续了，有没有方法可以打印更多日志？

[2021-03-07 07:33] Maybewuss opened #31461 "nn.Bilinear文档的一点建议"
<a href="https://www.codecogs.com/eqnedit.php?latex=\text&space;{&space;out&space;}_{i}=x&space;1&space;*&space;W_{i}&space;*&space;x&space;2^{\mathrm{T}}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\text&space;{&space;out&space;}_{i}=x&space;1&space;*&space;W_{i}&space;*&space;x&space;2^{\mathrm{T}}" title="\text { out }_{i}=x 1 * W_{i} * x 2^{\mathrm{T}}" /></a>

- x1: 第一个输入，

[2021-03-07 09:34] liym27 commented on #31461
非常感谢您的建议！已将您的建议反馈给 `nn.Bilinear` 的接口负责人，我们将及时对文档进行改进。

[2021-03-07 09:43] liym27 commented on #31459
感谢反馈！已将该问题反馈给相关同事进行排查，同时我们也会继续跟进该问题，及时与您同步进展，谢谢。

[2021-03-07 12:06] JJYjackson opened #31462 "十二生肖分类中的数据集定义"
- 标题：十二生肖分类中的数据集定义
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0
    2）CPU/GPU：CPU
    3）系统环境：notebook
    4）Python版本号：3.7
    5）显存信息
- 问题描述：请问normalize(mean=[], std=[])中的均值和标准差数值是怎么得到的？

![提问](https://user-images.githubusercontent.com/65533171/110239155-8f33a500-7f80-11eb-9e3e-c0098674a26d.PNG)

[2021-03-07 12:54] liym27 commented on #31462
您好，请问所贴代码是来自哪里，是否方便给出相关链接？

[2021-03-07 13:17] JJYjackson commented on #31462
您好！
项目链接：https://aistudio.baidu.com/aistudio/projectdetail/1588738

AI studio中的十二生肖分类项目中dataset.py中的。

在 2021-03-07 20:55:10，"liym27" <notifications@github.com> 写道：

您好，请问所贴代码是来自哪里，是否方便给出相关链接？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-07 16:11] starlightme opened #31464 "请问 RandomHorizontalFlip 官方文档中设置 224 也是概率吗？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/transforms/RandomHorizontalFlip_cn.html#randomhorizontalflip

[2021-03-07 16:11] starlightme commented on #31464
和0.5相比感觉有些奇怪

[2021-03-07 17:05] yiakwy commented on #13860
@luotao1 @Sand3r-  The error can be reproduced in released 2.0 when `-DCMAKE_BUILD_TYPE=Debug`. It is apparently straight forward that the source code of the tinyformat was not used correctly.

I have recently compiled released 2.0 with gcc-8.4 in release mode[of course I have fixed many bugs including the old trainer/demo, and many errors in Documentation].

And now I am trying to compile in gcc-

[2021-03-07 17:18] yiakwy commented on #25494
@luotao1 @edimetia3d @wojtuss I also commented in #13860. The wrong version of tinyformat source is used and this problem will be exposed in debug mode while contributors mostly work on it.

[2021-03-08 01:45] TCChenlong commented on #31464
已经改为0.5了哈，下次上线后就会更新了，感谢您的反馈~

[2021-03-08 01:49] TCChenlong commented on #31462
这个应该是根据数据集的标准差和方差计算得来的，更详细的内容可以看一下AI Studio的这门课程：[高层API助你快速上手深度学习](https://aistudio.baidu.com/aistudio/education/group/info/6771)，课节3里包含了这个项目的详细的说明~

[2021-03-08 02:37] jiweibo commented on #31454
可以设置下环境export GLOG_v=4
在执行run_check检查，贴下输出的log

[code]

[2021-03-08 02:55] DannyIsFunny commented on #31448
你好，请问你是想源码编译Paddle还是需要源码编译出cmake呢

[2021-03-08 02:56] DannyIsFunny commented on #31448
从错误信息上看是gflag 下载失败的问题

[2021-03-08 02:58] Crystalxd commented on #31448
源码编译出Paddle，但是我已经拷贝了third_party到build目录了，按理应该会检测到有文件存在不会再继续下载了啊

[2021-03-08 02:59] Crystalxd commented on #31448
下载的速度又太慢，另外很多链接还不可用。。不知道是怎么回事

[2021-03-08 03:00] Crystalxd commented on #31448
@DannyIsFunny

[2021-03-08 03:01] HexToString commented on #31445
该问题已解决。

[2021-03-08 03:20] A-Pai opened #31466 "model.fit有自适应终止训练的功能吗？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model/Model_cn.html#fit-train-data-none-eval-data-none-batch-size-1-epochs-1-eval-freq-1-log-freq-10-save-dir-none-save-freq-1-verbose-2-drop-last-false-shuffle-true-num-workers-0-callbacks-none
model.fit有自适应终止训练的功能吗？
model.fit的参数epochs设定了训练迭代的次数，总的来说，epochs越大，train_data的loss越小，但是eval_data的loss是先下降，再上升，如下图所示，**eval_data的loss最小的点

[2021-03-08 03:29] DannyIsFunny commented on #31444
你好。可以直接升级显卡驱动，paddle架构下可以按照一般方法升级显卡驱动，没有特殊要求。
可以参考一些一般教程实现：
Windows ： https://jingyan.baidu.com/article/2c8c281da97bab0008252af3.html
Linux: https://blog.csdn.net/u010420283/article/details/104020531

[2021-03-08 03:33] SivanLaai commented on #30909
很感谢你的付出，请问rtx3090 已经可以完美使用了吗，这个包适合在ubuntu下使用不。

[2021-03-08 03:34] zhwesky2010 commented on #31459
@snuabar 您好，请问这个问题在Linux下是否也会出现呢？
另外，目前这样使用的场景是什么样呢

[2021-03-08 04:14] ghost commented on #31454
感谢，已解决，是我的cudnn版本问题，我的版本是8.1.1，换成7.6.5就可以了

[2021-03-08 04:14] #31454 closed, assigned to nobody

[2021-03-08 04:44] jiweibo commented on #31448
可以换修改对应gflags.cmake中的url，改成gitee的链接，这样从国内下载就会很快

[2021-03-08 05:24] TCChenlong commented on #31413
可以在 [3.2 构建Dataset类 加载数据](https://www.paddlepaddle.org.cn/documentation/docs/zh/tutorial/nlp_case/n_gram_model/n_gram_model.html#dataset)这一部分的代码里，显示的加上  `lable.dtype = 'int64' ` 试一下，具体如下：

    import numpy as np
    class TrainDataset(paddle.io.Dataset):
        def __init__(self, tuple_data):
            self.tuple_data = tuple_data

        def __getitem__(self, idx):
            data = self.tup

[2021-03-08 05:33] luotao1 commented on #13860
@swtkiwi Please see how to process the build problem under Debug mode.

[2021-03-08 07:08] gfwm2013 commented on #31423
@GT-ZhangAcer 这个应该是没有跑对应的单测，可以这么再提交一个commit，然后加上test=allcase 关键字，应该就可以了

[2021-03-08 07:09] FrostML commented on #31466
现在 hapi 有个回调函数 EarlyStopping，可以支持传入比较简单的参数，比如多少 epoch eval 的某个指标不下降/上升就停止训练。可以参考具体文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/callbacks/EarlyStopping_cn.html#earlystopping

[2021-03-08 09:18] dengxinlong opened #31472 "在英伟达的jetson NX上安装Paddlepaddle遇到的问题"
问题图片描述：(pip 安装)
![image](https://user-images.githubusercontent.com/32217129/110300191-9070da80-8031-11eb-9dbe-e3dea371512e.png)

PaddlePaddle：最新
CPU：NVIDIA Carmel ARM v8.2
GPU：NVIDIA Volta GPU
cuda：10.2
python: 3.6.9
操作系统：ubuntu 18.04

[2021-03-08 09:38] A-Pai opened #31475 "可否对modle.fit中的shuffle设置随机种子？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model/Model_cn.html#fit-train-data-none-eval-data-none-batch-size-1-epochs-1-eval-freq-1-log-freq-10-save-dir-none-save-freq-1-verbose-2-drop-last-false-shuffle-true-num-workers-0-callbacks-none

![QQ截图20210308173715](https://user-images.githubusercontent.com/5112397/110303106-f6129600-8034-11eb-89ba-2622b60d3878.jpg)

[2021-03-08 09:39] A-Pai commented on #31466
正是需要这个功能，谢谢

[2021-03-08 09:53] a2824256 opened #31476 "2.0 paddle文档有错误"
页面地址：https://www.paddlepaddle.org.cn/tutorials/projectdetail/1516124#anchor-10
ConvBNLayer的forward部分，下图用蓝色标注起来的代码，上下文不存在out这个变量，x=out应该是x=y。
![image](https://user-images.githubusercontent.com/7108023/110304781-f1e77800-8036-11eb-9362-24bb9cd3aacc.png)

[2021-03-08 10:27] GT-ZhangAcer commented on #31423
@gfwm2013 大佬~现在昆仑的过不了了...

[2021-03-08 11:36] TCChenlong commented on #31476
好的，收到，我们尽快更正一下，感谢您的反馈~

[2021-03-08 12:01] jczaja commented on #30560
@luotao1 Some update. So we are to enable bf16 training with word2vec. As a first milestone is to have bf16 training enabled with master weights using AMP (automatic mixed precision training) with lookup_table, elementwise_add, reshape ops. This will not redce memory consumption but we will check if our bf16 functionality works fine. After this we will go for bf16 training of word2vec but without

[2021-03-08 12:08] A-Pai opened #31477 "为何有的典型CV网络，飞桨2.0没有包含？---pytorch1.8包含了"
https://pytorch.org/vision/stable/models.html
![QQ截图20210308200410](https://user-images.githubusercontent.com/5112397/110319483-eea9b780-8049-11eb-875c-1a6e9d97335e.jpg)

[2021-03-08 12:43] Crystalxd commented on #31448
@jiweibo Thanks.

[2021-03-09 00:45] williamlzw opened #31483 "转onnx因ScatterND未注册，不能被onnxruntime1.7.0 windows x64推理"
https://github.com/PaddlePaddle/PaddleOCR/issues/2167

[2021-03-09 02:21] FrostML commented on #31477
可以参考文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/models/lenet/LeNet_cn.html
![image](https://user-images.githubusercontent.com/7160927/110408853-3ae40e80-80c1-11eb-8ae2-86010b822f72.png)

[2021-03-09 02:24] jiangjiajun commented on #31483
当前可先使用onnxruntime 1.6版本

[2021-03-09 02:37] A-Pai commented on #31477
何意？我的意思是有的模型飞桨没有提供，是不重要么？

[2021-03-09 02:57] FrostML commented on #31477
具体是需要什么模型呢？API 层面没有的话，我这边反馈下。
可以在 [PaddleClas](https://github.com/PaddlePaddle/PaddleClas) 看看有没有需要的模型。

[2021-03-09 03:03] LielinJiang commented on #31475
可以通过在外部设置random.seed，np.random.seed，paddle.seed来设置随机种子

[2021-03-09 03:04] gfwm2013 commented on #31423
@GT-ZhangAcer 这个CI不是Required，所以没过也是没有问题的，现在你可以找人帮你merge了～

[2021-03-09 03:15] pangyoki commented on #31472
您好，可以尝试加一下`sudo`看看？

[2021-03-09 03:17] A-Pai commented on #31477
我的issue中不是有pytorch的截图吗？飞桨2.0只提供了这些：
![image](https://user-images.githubusercontent.com/5112397/110413396-bdbc9780-80c8-11eb-946e-a936843a0f14.png)

[2021-03-09 03:24] A-Pai commented on #31477
比如没有提供：SqueezeNet、DenseNet、Inception v3、ShuffleNet v2、Wide ResNet、MNASNet、GoogLeNet
是这些不重要？还是？

[2021-03-09 03:27] #21382 closed, assigned to cyj1986

[2021-03-09 03:27] #22644 closed, assigned to nobody

[2021-03-09 03:27] #22776 closed, assigned to JepsonWong

[2021-03-09 03:27] #22783 closed, assigned to JepsonWong

[2021-03-09 03:27] #22820 closed, assigned to mapingshuo

[2021-03-09 03:27] #22863 closed, assigned to yaoxuefeng6

[2021-03-09 03:27] #22889 closed, assigned to nobody

[2021-03-09 03:27] #22905 closed, assigned to xyzhou-puck, iclementine

[2021-03-09 03:27] A-Pai commented on #31475
哪一种设置对shuffle起作用？

[2021-03-09 03:41] A-Pai opened #31487 "飞桨2.0提供的CV数据集怎么没有pytorch的多？"
飞桨2.0提供的CV数据集怎么没有pytorch的多？是实现起来困难？

pytorch1.8提供的CV数据集：
CelebA
CIFAR
Cityscapes
COCO
Captions
Detection
DatasetFolder
EMNIST
FakeData
Fashion-MNIST
Flickr
HMDB51
ImageFolder
ImageNet
Kinetics-400
KMNIST
LSUN
MNIST
Omniglot
PhotoTour
Places365
QMNIST
SBD
SBU
STL10
SVHN
UCF101
USPS
VOC

飞桨2.0提供的CV数据集
![image](https://user-images.githubusercontent.com/5112397/110415136-4b4db680-80cc-11eb-8480-1f099a

[2021-03-09 03:48] TCChenlong commented on #31476
已修复 再次感谢您的反馈 如有其他问题欢迎随时沟通~

[2021-03-09 03:50] dengxinlong commented on #31472
刚刚加了，还是一样的问题。

[2021-03-09 03:52] dengxinlong opened #31489 "因为尝试了在线安装paddlepaddle不行，就尝试离线安装，硬件环境如下所示，错误如下图："
![image](https://user-images.githubusercontent.com/32217129/110415976-de3b2080-80cd-11eb-8b9a-d8fd10f4ddde.png)

应该是下载的whl不对，但是我没有找到相应的whl，不知道官方能否告知下面这种环境下应该使用哪个whl，非常感谢！！！

PaddlePaddle：最新
CPU：NVIDIA Carmel ARM v8.2
GPU：NVIDIA Volta GPU
cuda：10.2
python: 3.6.9
操作系统：ubuntu 18.04

[2021-03-09 05:34] swtkiwi commented on #31489
python3 -m pip install paddlepaddle-gpu==2.0.0 -i https://mirror.baidu.com/pypi/simple

[2021-03-09 05:35] swtkiwi commented on #31387
目前2.0.1也支持py38的noavx了，可以使用python3 -m pip install paddlepaddle-gpu==2.0.1 -f https://paddlepaddle.org.cn/whl/stable/noavx.html 安装

[2021-03-09 05:36] swtkiwi commented on #31165
目前2.0.1也支持py38的noavx了，可以使用python3 -m pip install paddlepaddle-gpu==2.0.1 -f https://paddlepaddle.org.cn/whl/stable/noavx.html 安装

[2021-03-09 05:46] ddgetget commented on #31413
好的,多谢

[2021-03-09 06:31] cryoco commented on #31487
您好，感谢您的反馈，我们内部讨论下需求，丰富已有的数据集。

[2021-03-09 06:46] dengxinlong commented on #31489
不不，您理解错了，我可能，没有表达清楚，在标题中说明了我想要的是离线安装，您提供的链接仍然是在线安装。因为我这边网络有问题，所以才尝试离线安装。想知道的是在我上面说明的软硬件情况下，离线应该下载哪个版本的whl来安装？？？

[2021-03-09 06:48] cryoco commented on #31489
请问您的硬件是nvidia jetson xavier nx么？

[2021-03-09 06:51] swtkiwi commented on #31489
在这里下载：https://paddle-wheel.bj.bcebos.com/2.0.1-gpu-cuda10.2-cudnn7-mkl_gcc8.2/paddlepaddle_gpu-2.0.1-cp37-cp37m-linux_x86_64.whl

[2021-03-09 06:51] FredHuang16 commented on #29014
问题解决了吗

[2021-03-09 06:54] FrostML commented on #31477
可以在 [PaddleClas](https://github.com/PaddlePaddle/PaddleClas) 看看有没有需要的模型，同样也是官方的 repo。
API 这里没有囊括的模型，我这里反馈一下。

[2021-03-09 06:56] dengxinlong commented on #31489
您好，是的。

[2021-03-09 06:56] cryoco commented on #31489
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-release
可以在这个表格里，根据python 版本，下载2.0.0-nv-jetson-jetpack4.3-xavier的whl包

[2021-03-09 08:40] KusuLeung opened #31495 "在鲲鹏下编译Paddle找不到pthreads"
https://paddle-inference.readthedocs.io/en/latest/user_guides/compile_ARM.html#id7
我是根据上面的步骤安装编译Paddle的，在执行到第八步运行cmake时，生成了CMakeError.log。

错误信息如下所示：

Performing C SOURCE FILE Test CMAKE_HAVE_LIBC_PTHREAD failed with the following output:
Change Dir: /home/soft/Paddle/build/CMakeFiles/CMakeTmp

Run Build Command(s):/usr/bin/gmake cmTC_21af7/fast && /usr/bin/gmake  -f CMakeFiles/cmTC_21af7.dir/buil

[2021-03-09 08:40] A-Pai commented on #31165
按照上边的安装了，还是报错：
![image](https://user-images.githubusercontent.com/5112397/110442816-30903780-80f6-11eb-8ea8-07eb0afde83e.png)

[2021-03-09 08:44] #21612 closed, assigned to nobody

[2021-03-09 08:46] zhwesky2010 commented on #31165
@A-Pai 您好，麻烦看下下面的完整报错截图，这个可能是CUDA设备的问题

[2021-03-09 08:50] wojtuss commented on #31103
@juncaipeng ,

I am investigating the issue presently. Below are my comments to your questions.

- int8 range

It is we who decide which INT8 range is used ([-128, 127] or [0, 255]). In the script
[code]
the class `Quant2Int8MkldnnPass` has a member `_var_quant_scales`. It is a map of the form
[code]
Assuming the `variable_name` is the name of a `conv2d` op's output, if `use_unsigned_int` equals `

[2021-03-09 08:50] jiweibo commented on #31495
看报错信息好像是因为环境缺少了基本的开发组件，可以用apt或yum安装下，解决下基本的开发环境问题

[2021-03-09 08:52] A-Pai commented on #31165
我使用pytorch的gpu版正常
![image](https://user-images.githubusercontent.com/5112397/110444791-620a0280-80f8-11eb-9188-478f80984b87.png)

[2021-03-09 09:18] KusuLeung commented on #31495
请问应该安装哪个呢？我一直都想知道哪个，谢谢。

[2021-03-09 09:23] qingqing01 commented on #31477
@A-Pai  感谢建议，我们正在以一种轻量的模式扩展常用的典型网络，感谢关注。

[2021-03-09 10:21] wojtuss commented on #31103
@juncaipeng ,
The problem seems to be with the transformation from the Quant model to FP32 model before the quantization is applied. The FP32 model obtained there is faulty, it gives 0.0 accuracy. The problem looks similar to the one we investigated some time ago, namely the fake-quantized weights cannot be dequantized properly using the scales stored in the `Scales` input of `fake_dequantize_*` o

[2021-03-09 10:26] lidanqing-vv commented on #28522
@wzzju @juncaipeng @luotao1
@andreazanetti 做了一些实验，结果显示添加kurtosis 对于fake quant 模型训练可以加快收敛且精度有提升。图表中绿色线条为fake quant training with kurtosis, 黄色线条为without kurtosis，具体参数见上文。他想问你们有什么建议吗？他可以把这个加 Kurtosis 的选项加入python fake quant训练 API吗？如果能加到API，要加到哪里呢？

如果上面英文部分哪里不清楚，这边可以做更多说明

[2021-03-09 10:57] #31435 closed, assigned to gfwm2013

[2021-03-09 11:56] wojtuss commented on #31103
@juncaipeng ,
The models `mobilenetv3_fp32` and `mobilenetv3_fake_int8_skip_se` do not correspond to each other.
![image](https://user-images.githubusercontent.com/19307410/110466997-c1571b00-80d6-11eb-9e31-991ed5bc5556.png)
![image](https://user-images.githubusercontent.com/19307410/110467042-ce740a00-80d6-11eb-8f18-bd1e7bdb0055.png)

[2021-03-09 13:46] yelosheng opened #31506 "运行官方教程“识别手写数字”的代码，在本机和百度ai studio上训练得到的模型差异很大"
本人刚刚开始学习paddlepaddle，目前在学习官方网站上的教程 https://www.paddlepaddle.org.cn/tutorials/projectdetail/757937
现在碰到一个很疑惑的问题：
我在AI Studio上运行教程中的代码，训练后得到的模型，识别准确率很高，可是我把AI Studio上的代码导出为ipynb格式的Jupyter Notebook，在本地windows系统运行，训练的数据是一样，代码也是一样的，paddle版本也是2.0.0，可是训练出来的模型的识别准确率非常低，不知为何？
![image](https://user-images.githubusercontent.com/20962945/110479873-d2c51500-8120-11eb-8aed-49a2441466d3.png)

[2021-03-10 02:59] OliverLPH commented on #30309
@lidanqing-intel
sorry for the late response, I just forgot to verify this issue..
And I have tried new checking methods provided by juncai, and results look fine, here is the data

[code]
repeat 1000 times, avg time:0.7712494921684265s

[code]
repeat 1000 times, avg time:0.14616601943969726s

[code]
repeat 1000 times, avg time:0.16445326566696167s

[2021-03-10 03:12] zpcalan opened #31514 "Does Paddle implement elastic-scaling in parameter server training mode?"
### This is a question about distributed training feature, not a bug report. So most of the items below are not involved.

I notice that the [paddlepaddle edl](https://github.com/elasticdeeplearning/edl) is mainly python code and focus on making jobs efficient using container cluster managers like k8s.(I haven't dug into the code yet)
But the parameter server training [code in Paddle](https://gith

[2021-03-10 03:43] williamlzw commented on #31483
onnxruntime1.7支持cuda11,  1.6不支持

[2021-03-10 03:56] nfmmm opened #31516 "强烈建议保留lodtensor接口"
看到最版本的paddle在处理NLP问题是推荐使用padding方式，并且文档中提到paddle.fluid接口将逐步被替换，但针对lodtensor没有找到新的替代接口。
在我看来，lodtensor结构是我选择paddle框架的一个重要原因，而且我自己正在做的NLP项目在处理篇章级文本问题，构建字-句-段-篇的模型时使用lodtensor非常方便，强烈建议后续的版本依然能够继续看到paddle框架的这一优点。请开发的小哥哥，小姐姐关注。

[2021-03-10 04:44] GT-ZhangAcer commented on #31516
这玩意虽然理解起来不太容易，但挺有意思的，如果能保留也挺好

[2021-03-10 06:13] juncaipeng commented on #31516
感谢，我们会反馈相关同学知晓。

[2021-03-10 06:18] juncaipeng commented on #31516
目前依旧可用，只是不推荐。后续版本，规划同学会讨论决定。

[2021-03-10 07:14] juncaipeng commented on #31514
Paddle distributed training does not support the feature for now. The feature maybe work in process.

[2021-03-10 07:21] zpcalan commented on #31514
Thanks, it's good to be clarified.
Issue closed.

[2021-03-10 07:21] #31514 closed, assigned to juncaipeng

[2021-03-10 07:50] dengxinlong opened #31522 "离线安装paddle"
Paddle: 最新
CPU：32  Intel(R) Xeon(R) Silver 4110 CPU @ 2.10GHz
GPU：1080，cuda: 10.0, cudnn: 7.6.3
系统：Ubuntu 18.04 (x86_64)
问题如下：
![image](https://user-images.githubusercontent.com/32217129/110594655-0bfc9400-81b8-11eb-9a47-48689f0b03de.png)

[2021-03-10 08:09] nfmmm commented on #31516
我认为这是paddle的一大优势，在一些特定的NLP任务需要保留所有重要信息时候，比如引入某些外生注意力信息需要便利整个文本时 lod模型具有很大的便利性

[2021-03-10 08:14] GT-ZhangAcer commented on #31516
有这种感觉，哈哈哈

[2021-03-10 08:35] snuabar commented on #31459
你好，目前没有Linux环境，我的项目要求C#程序调用C++的dll，这个dll刚好需要使用到paddle包，也会导致c#程序反复启动。

我们是希望使用贵公司开源模块PaddleOCR，目前使用的是python的版本，执行 from paddle import PaddleOCR 这句代码时，在python集成环境下是可行的，但是在c++无论调用包含这句代码的py文件或者运行PyRun_SimpleString("from paddle import PaddleOCR")，都会导致当前程序反复启动。目前，反复启动的问题在c++端可以通过代码控制，但是PyImport_ImportModule导入py文件时，出现上述的问题，等所有被反复启动的程序关闭后，该函数返回了空值，没有办法进一步操作。

附件为示例代码
[PaddleOCRDemo.zip](https://github.com/

[2021-03-10 09:09] dengxinlong commented on #31522
就是想问一下，这种环境下应该下载哪个包？？，我在这个网址下找的下面这个包还是同样的问题，应该是包不对。
![Uploading image.png…]()

[2021-03-10 09:29] juncaipeng commented on #31522
可以参考这个文档，根据环境不同来选择特定的包：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html

如果目标机器没有网络，可以在其他机器上执行在线安装命令，可以从log看到下载whl包的链接，直接wget这个路径就可以下载whl包，然后拷贝到目标机器上离线安装。

[2021-03-10 11:50] wangye707 commented on #31472
jetson上需要下载whl包安装，下载地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html

[2021-03-10 11:50] wangye707 commented on #31472
jetson上需要手动下载whl包来安装，下载地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html

[2021-03-10 11:52] wangye707 commented on #31472
jetson上需要手动下载whl包来安装：下载地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html
![image](https://user-images.githubusercontent.com/39162106/110625173-0e6fe580-81da-11eb-9c89-949f28668eac.png)

[2021-03-10 12:18] dengxinlong commented on #31522
您的想法的确可行，但是有个问题，想要找到匹配的包，得先要和我现在的机器的环境一致啊，我机器的环境就这一台，且因为是在学校，导致网络不行，不然也不会选择离线安装了。

[2021-03-10 12:19] dengxinlong commented on #31522
其实我就是想知道，我目前的环境下，使用哪个安装包合适，环境提问的时候我给出了，但是找了几个我认为匹配的，但是都失败了。

[2021-03-10 14:02] CVMLL opened #31537 "paddle一键部署服务器时，web用户端无响应"
环境情况：
系统：win10专业版；
环境：conda和pycharm2020.1.2
           paddlepaddle=1.7.2
           paddlehub=1.7.0

所调用的模型：
       1."face_landmark_localization"
       2."deeplabv3p_xception65_humanseg"

部署代码错误：
Warning: Windows cannot use multiprocess working mode, PaddleHub Serving will switch to single process mode
face_landmark_localization == 1.0.2
deeplabv3p_xception65_humanseg==1.0.0
* Serving Flask app

[2021-03-11 01:08] #31476 closed, assigned to TCChenlong

[2021-03-11 01:13] #31354 closed, assigned to zhiqiu

[2021-03-11 01:52] BeyondYourself commented on #30788
@chenjiaoAngel  conv2d不支持int8，那么是否可以将其自动转换为支持的类型

[2021-03-11 02:07] dengxinlong commented on #31489
嗯嗯，好的，明白了，非常感谢

[2021-03-11 02:11] LielinJiang commented on #31475
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DistributedBatchSampler_cn.html#set_epoch，您可以通过在外部手动创建dataloader（datset, sampler），并把创建好的dataloader传给fit。这时候可以通过上面的set_epoch固定随机种子。这个时候fit中的shuffle就会失效。而使用您自己定义好的种子

[2021-03-11 02:21] juncaipeng commented on #31522
你给出的log显示安装过程中还是需要联网，所以导致错误，可能不是版本不匹配的问题。

我会再去确认是否支持离线安装。

[2021-03-11 02:56] swtkiwi commented on #29314
https://www.microsoft.com/en-us/download/details.aspx?id=48145 辛苦先装下编译器相关的dll试下

[2021-03-11 03:03] ShenYuhan commented on #31537
您好，如果是windows机器，看下是不是防火墙问题，可以通过python的http.server模块快速检查服务是否可以被访问到

[2021-03-11 06:10] qiuming-93 opened #31545 "1.8.5版本的动态图模型可以导出静态图那种推理模型吗"
1.8.5版本的动态图模型可以导出静态图那种推理模型吗
paddlepaddle: 1.8.5

[2021-03-11 06:16] Wall-ee commented on #25476
我在编译的时候activation_op.dir/activation_op.cu.o

 其他都成功了 swap 也分配了20g 但是在编译

总是出错。出现 core dumped 问题  卡了好几天了
用的是 make -j1 就怕 j4出问题 还是不行

[code]

[2021-03-11 06:36] Wall-ee opened #31547 "jetson nano 编译 paddle 2.0报错 编译 activation_op.cu.o 出现core dumped"
参考https://blog.csdn.net/weixin_45449540/article/details/107704028 教程
make 成功，  其余的流程全部走成功 但是  走到编译
[code]
报错 error 139  并且 core dumped  试过很多次

swap 也分配了20g
[code]

但是在编译 总是出错。出现 core dumped 问题  卡了好几天了.

也将make -j4 变成 make -j1   还是不行

[code]

[2021-03-11 06:53] BeyondYourself opened #31548 "The dtype of left and right variables are not the same？"
Paddle版本，最新稳定版本
训练环境AIStudio
出现的警告或者异常：
`/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/math_op_patch.py:238: UserWarning: The dtype of left and right variables are not the same, left dtype is VarType.FP32, but right dtype is VarType.INT32, the right dtype will convert to VarType.FP32
  format(lhs_dtype, rhs_dtype, lhs_dtype))
<class 'paddle.nn.layer.conv.C

[2021-03-11 08:04] Maybewuss opened #31552 "paddle有类似pytorch-lightning那样的接口吗？"

[2021-03-11 08:35] yiakwy opened #31554 "Executor in C++ side has strange behavior different from one in the python side"
## Cannot train model in C++ side for Released 2.0

![train_cplusplus_debug1](https://user-images.githubusercontent.com/8510840/110757840-cbb81700-8286-11eb-910d-30b02ea66555.png)

We noticed that there is simple demo for training models in c++ side (mimicking paddle::inference) :

After digging into the source code we found strange behavior exposed by C++ Executor:

![train_cplusplus_debug4](http

[2021-03-11 08:44] XieYunshen commented on #31522
应该下载cuda10.0的包，
![image](https://user-images.githubusercontent.com/32428676/110759844-04f18680-8289-11eb-90bc-3049be15213f.png)

[2021-03-11 08:45] jedibobo commented on #25476
https://blog.csdn.net/qq_44498043/article/details/107300374
你可以看下我写的这篇，看下有配置错的没有

[2021-03-11 08:55] KusuLeung commented on #31495
@cryoco 请问这个什么问题呢？

[2021-03-11 09:08] jiweibo commented on #31495
查了下 ubuntu的基本开发环境需要 apt 安装 build-essential

centos下基本开发环境 可以 yum groupinstall "Development Tools"

你可以查下你的系统上怎么安装这些基本环境

[2021-03-11 10:09] zhangting2020 commented on #31545
可以参考这段代码 https://github.com/PaddlePaddle/Paddle/blob/bbea5a1fa9d57b6a6d5283aa400859b676ac47ac/python/paddle/fluid/dygraph/jit.py#L1267-L1281

其中关键的保存inference_model的2行：
[code]

[2021-03-11 11:01] zhangting2020 commented on #31552
您好，可以参考下高阶API使用指南https://www.paddlepaddle.org.cn/documentation/docs/zh/tutorial/quick_start/high_level_api/high_level_api.html

[2021-03-11 11:02] zhangting2020 commented on #31552
您好，目前Paddle暂时还没有这样的接口，我们会评估需求，考虑在未来版本中支持。

[2021-03-11 11:19] zhangting2020 commented on #31548
（1）上面提到的warning
`
 left dtype is VarType.FP32, but right dtype is VarType.INT32, the right dtype will convert to VarType.FP32
`

比如当我们执行这样的一段代码：
[code]
x1是float32的，x2是int32，x2会被cast为float32。这个warning就是提醒这个转换操作，需要注意下是不是符合预期的，这个warning主要是在调用elementwise的二元计算，比如add、sub等，或者是compare相关的API时出现。

（2）最后的这个fatal error看上去是非正常退出导致的，可以具体描述下上面这个错误发生的场景吗？

[2021-03-11 11:34] cryoco commented on #31547
您好，您编译时的报错可能发生在较前的位置，可否发下完整的log

[2021-03-11 12:33] juncaipeng commented on #28522
好的，我研读一下这个论文，看下如何加这个api。

[2021-03-11 12:45] andreazanetti commented on #28522
Thank you. The paper applies Kurtosis regularizer mainly to vision models, and in any case neither to pre-trained nor to attention-based models (like Ernie), as far as we understand it.
The work we have done around this tries to apply Kurtosis regularizer to Ernie for sentiment classification.
In order to do this, the Kurtosis regularizer cannot be applied out-of-the-box as some weight tensors aft

[2021-03-11 13:28] yiakwy commented on #31554
I have resolved the problem by muting GC options defined in CPP executor and allocate memory for loss_tensor every epoch

[code]
![train_cxx_debug5](https://user-images.githubusercontent.com/8510840/110794078-4fd2c480-82b0-11eb-8e4a-7b242e061ac3.png)

But more technical analysis is needed

[2021-03-11 13:47] arogowie-intel opened #31559 "Unit test for `lookup_table` OP with SelectedRows in grad."
I've added support for BF16 data type in [PR](https://github.com/PaddlePaddle/Paddle/pull/31558), however I can't find a way to test the grad calculations with "W" input as `SelectedRows`. Does [this part of code](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_lookup_table_op.py#L87-L137) checks also grad? Could you advise how to test grad calculations

[2021-03-11 15:47] zhangting2020 commented on #31559
The code you refer to only checks the forward result and it does not check the grad.  There is no function to automatically calculate the theoretical gradient in our unit test framework.

You can try to implement the theoretical gradient calculation yourself in the unit test, and compare it with the actual value calculated by the operator.

[2021-03-12 01:57] #31413 closed, assigned to GaoWei8

[2021-03-12 02:08] dhao-island opened #31565 "可变形卷积"
文件模型中dcn_v2_stages: 这里的v2是表示dcnv2版嘛？如果想改成v1版，该怎么改呢？

[2021-03-12 02:29] christine415 opened #31567 "Paddle里有类似tf layers.Masking这样的接口吗？"
Paddle里有类似tf layers.Masking这样的接口吗？
参考：https://www.tensorflow.org/api_docs/python/tf/keras/layers/Masking

[2021-03-12 03:08] MrChengmo commented on #31565
请问这个`dcn_v2_stages`是哪个模型或者工具中的呢，可以提供下链接吗？

[2021-03-12 03:16] dhao-island commented on #31565
是paddle目标识别项目里，配置配件中一个选项。https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0-rc/configs/dcn/yolov3_r50vd_dcn_obj365_pretrained_coco.yml  在resnet配置中的dcn_v2_stages.

[2021-03-12 03:20] TCChenlong commented on #31464
已更新 感谢反馈：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/transforms/RandomHorizontalFlip_cn.html#randomhorizontalflip

[2021-03-12 03:20] #31464 closed, assigned to TCChenlong

[2021-03-12 03:42] zhangting2020 commented on #31554
- The loss does not seem to change. Refer to the [Readme](https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/fluid/train/demo) of this demo, the above results are correct because there is no optimizer op.
-  In order to reduce memory usage, the loss  tensor is freed when an iteration ends because it is unused. This may be the reason why the original demo does not work.

[2021-03-12 04:05] Wall-ee commented on #31547
请问下，完整的编译log在哪里看？我试着导出来。  这个139的error信息里没有写  log地址

[2021-03-12 04:08] Wall-ee commented on #25476
啊哈，谢谢兄弟，我就是按你这个帖子配置的，还遇到了一些更奇葩的问题，就是我opencv 需要编译为cuda compiled。  还有python环境问题，也都解决了。  还有gayhub被屏蔽的问题也解决了。但是这个error 139  实在是没办法，连error日志路径都没找到

[2021-03-12 04:15] A-Pai commented on #31475
这似乎要绕一个大圈子，不是一个好办法

[2021-03-12 04:15] MrChengmo commented on #31567
在Paddle 1.8.5及之前版本中，有sequence_mask op可以实现类似的功能， 链接 ： https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/layers_cn/sequence_mask_cn.html#cn-api-fluid-layers-sequence-mask

[2021-03-12 04:37] jedibobo commented on #25476
这个流程我试过好几次了，要不你加我qq，我发你个编译好的你试试？285315994

[2021-03-12 05:15] cryoco commented on #31547
[code]
可以将完整log保存在nohup.out里

[2021-03-12 07:28] zhangyimi opened #31590 "静态图matmul使用问题"
paddle1.8 静态图

我想在静态图对两个tensor进行矩阵乘法，在引入下面这段代码导致显存占用急剧上升(应该是q和p维度过大导致的)，使得模型仅能使用很小batch，想请教下有没有优化的方法？
有其他同学验证过类似的操作在静态图会导致显存上升很多，但动态图会好很多。

[code]

[2021-03-12 07:32] dhao-island commented on #31565
您好，之前误操作关闭了论题，不好意思。您若知道相关的配置设置信息，在这先感谢您的回复！

[2021-03-12 07:40] MrChengmo commented on #31565
检测相关的问题可以在https://github.com/PaddlePaddle/PaddleDetection/issues 这里提issue，相关同学会跟进

[2021-03-12 07:48] qiuming-93 commented on #31545
@zhangting2020 这段代码我看过了，paddle.jit这个模块在1.8.5的代码里面是没有的，你这个示例代码是基于paddle2.0的

[2021-03-12 07:51] zhangting2020 commented on #31545
我确认了下，这个接口的确是2.0才有的。1.8.5动态图还不支持保存inference_model，建议使用2.0版本吧

[2021-03-12 07:55] MrChengmo commented on #31590
需要看一下上升的显存是不是符合预期，估算一下输入相乘的矩阵大小，如果差很多，也许有bug。

另外有用paddle 2.0的最新版本进行过类似的实验吗

[2021-03-12 07:57] qiuming-93 commented on #31545
那我把2.0里面的paddle.jit模块代码拷贝过来能实现保存推理模型吗

[2021-03-12 08:07] zhangyimi commented on #31590
这个操作该怎么估算显存， 调用matmul会申请额外显存的么 还是整个过程只申请了 product和 reshape_q的显存？
模型是基于transformer，每个block操作相同，所以以上操作会执行多次，因为q和p都不是模型参数，有办法当前层执行完后就把显存释放么

[2021-03-12 09:34] #31552 closed, assigned to zhangting2020

[2021-03-12 09:37] zhangting2020 commented on #31545
建议还是用2.0版本，因为直接拷贝过去，即使保存成功，可能模型也不一定正确。

[2021-03-12 10:03] LeoMax-Xiong opened #31597 "使用 TorchText 时出现C++ 依赖问题"
我在使用 TorchText & Paddle 时，出现了下面的问题。后来发现这个就是 Paddle 安装时会出现的问题：
![image](https://user-images.githubusercontent.com/11361692/110924341-e52b9280-835c-11eb-8f3d-5bfe5e292ba9.png)

[2021-03-12 10:07] MrChengmo commented on #31597
请问有没有尝试过在Paddle提供的官方docker中进行安装？

比较推荐在docker中运行，可以排除很多底层环境依赖问题。

[2021-03-12 10:07] qiuming-93 commented on #31545
好的

[2021-03-12 10:14] LeoMax-Xiong commented on #31597
@MrChengmo 没有在 docker 中运行，我尝试一下。

[2021-03-12 10:17] #31545 closed, assigned to zhangting2020

[2021-03-12 10:47] gongel opened #31598 "AssertionError: When Variable is used as the condition of if/while , Variable can only contain one element."
[code]
最后一行代码会报错，PyTorch如此操作没问题。只能转成numpy或者降维吗？
麻烦解决一下，谢谢。

[2021-03-12 10:50] xugaoxu1205 opened #31599 "import paddle.io as io问题"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2021-03-12 10:52] xugaoxu1205 commented on #31599
python3.7,paddle2.0.1
我在import paddle.io as io之后调用io.TensorDataset时会报错AttributeError: module 'scipy.io' has no attribute 'TensorDataset'
但是from paddle.io import TensorDataset就没问题，这是不是个bug呀

[2021-03-12 11:27] GT-ZhangAcer commented on #31599
该不会是paddle.io as io，scipy.io 也as为io了吧，很像变量名重复了

[2021-03-12 11:41] jesse01 opened #31601 "paddle不支持对布尔数组的求和"
paddlepaddle 2.0.1

执行命令：paddle.sum([True, False, True, False]) 会报错：
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/paddle/tensor/math.py", line 757, in sum
    'reduce_all', reduce_all_flag)
ValueError: (InvalidArgument) reduce_sum(): argument 'X' (position 0) must be Tensor, but got li

[2021-03-12 12:23] LeoMax-Xiong commented on #31597
1. 这个镜像也太大了。基本上把所有的 python 的 paddle 都安装了。
2. 但是只有 python3.5的 python 有 pip，其他的都没有 pip
3. 其他的 python 都是直接给出的python源码编译的路径，不能把源码编译出来的 python 给 install 到一个地方么。
4. 用其他的 python3 源码安装的 setuptool 和 pip 都是在/usr/bin/下，都没有到对应的 python3
5. 鸡肋呀。这就导致只能跑别的地方调试好的 Paddle 代码，一点想安装其他开始扩展都不行。

[2021-03-12 13:28] ShaneTian opened #31605 "paddle.fluid.layers.LSTMCell 的 gate_activation 和 activation 参数不生效"
`paddle.fluid.layers.LSTMCell` 的 `gate_activation` 和 `activation` 参数未生效
- `paddle.fluid.layers.LSTMCell` 代码：https://github.com/PaddlePaddle/Paddle/blob/ffa88c31c2da5090c6f70e8e9b523356d7cd5e7f/python/paddle/fluid/layers/rnn.py#L390
- 实际调用的 `BasicLSTMUnit` 代码中未使用相关参数：https://github.com/PaddlePaddle/Paddle/blob/ffa88c31c2da5090c6f70e8e9b523356d7cd5e7f/python/paddle/fluid/contrib/layers/rnn_impl.py#L

[2021-03-12 15:11] arlesniak opened #31606 "Missing tensor.h file when generating coverage report with genthml"
**System information**
-PaddlePaddle version 0205e9f84ecb74ab0bcb3e06ba45779440da4c75
-CPU: including CPUMKL/OpenBlas/MKLDNN version
-GPU: no GPU
-OS Platform and Distribution Ubuntu 16.04.6 LTS
-Python version 3.6.10
**To Reproduce**
cmake .. -DWITH_AVX=ON -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=OFF -DWITH_PROFILER=ON -DON_INFER=ON -DCMAKE_BUILD_TYPE=Release -DWITH_TESTING

[2021-03-12 16:12] arogowie-intel commented on #31559
@zhangting2020

I'm not sure I understand you. There is already a function [`check_grad`](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/op_test.py#L1358) which calculates grads and checks it's correctness. However it seems to me that it uses only `LoDTensor`s.

I see then that `LookupTable` operator has untested scenario: The gradient values are not tested

[2021-03-13 04:31] Wall-ee commented on #31547
日志:
[code]

[2021-03-14 02:37] MrChengmo commented on #31598
Tensor 不支持 `in` 的操作符，实现类似功能，可以试下下面的方法：

[code]

[2021-03-14 02:38] MrChengmo commented on #31599
应该是库名重复了， 不建议使用`io`这种python自带的库的名字

[2021-03-14 02:39] MrChengmo commented on #31597
您使用的是哪个镜像呢？

[2021-03-14 02:41] MrChengmo commented on #31590
- matmul结果会占用显存，squeeze的结果也会占显存，后续梯度的计算会用到这些中间结果
- 维度之积 * 数据类型占用的大小 可以快速估算显存占用
- 释放显存可以试试用recompute 策略: https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/collective/collective_mp/index.html

[2021-03-14 02:46] MrChengmo commented on #31601
可以使用 `cast` 或者 `where` op将bool型的数值转为数值型，参与后续运算

[2021-03-14 02:46] xugaoxu1205 commented on #31599
谢谢，收到！

[2021-03-14 02:47] #31599 closed, assigned to MrChengmo

[2021-03-14 02:51] MrChengmo commented on #31605
paddle 2.0 中动态图的LSTM修复了该问题：

<img width="846" alt="image" src="https://user-images.githubusercontent.com/29789135/111055639-18803580-84b3-11eb-99ba-f3039cb721e0.png">

静态图代码确实没有看到activation的使用

[2021-03-14 03:05] kyrios-sam opened #31609 "恢复训练时过去visualdl数据丢失"
恢复训练可以在visualdl上查看之前的数据记录吗？我每次恢复训练后打开visualdl之前的记录都没了

[2021-03-14 03:53] jesse01 opened #31610 "关于softmax_with_cross_entropy和cross_entropy代码实现的严重错误"
版本：2.0.1 CPU环境

一、 binary_cross_entropy_with_logits、binary_cross_entropy和 softmax_with_cross_entropy、cross_entropy是两对非常重要的基础损失函数，这两套函实现机制应该是一致的。
我实际测试发现是这样的：
binary_cross_entropy_with_logits 是先做sigmoid，再计算交叉墒，接着mean reduction
binary_cross_entropy是直接计算交叉墒，再做mean reduction
这与预期完全一致

二、而 softmax_with_cross_entropy、cross_entropy的实现机制却与预想完全不一样(与API文档中描述也不一样）
softmax_with_cross_entropy机制是先做softmax，再计算交叉

[2021-03-14 04:49] JJYjackson opened #31611 "训练时出现关于数据类型的报错问题"
### - 标题：训练模型时因数据类型不一致导致报错
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 2.0.1
    2）CPU：CPU 4  RAM 32GB
    3）GPU：GPU v100  显存 16GB  磁盘 100GB
    4）系统环境：Notebook,  python==3.7

- 训练信息
    1）单机，多卡
    2）显存信息
![image](https://user-images.githubusercontent.com/65533171/111057066-5c793780-84bf-11eb-8edf-583695873962.png)
- 复现信息：
-     复现原项目链接：https://aistudio.baidu.com/aistudio/projectdetail/1589847?c

[2021-03-14 08:43] yiakwy commented on #13860
@luotao1 @Sand3r- @swtkiwi  I have resolved the problem:

Quick Solution
===========

Open Paddle/fluid/string/tinyformat/tinyformat.h, move your cursor to detail::formatImpl and line 779

replace the codes
[code]
to

[code]

Reason
======

When set CMAKE_BUILD_TYPE to Debug, the fluid/operators/controlflow/compare_op.cc is involved

[code]

The safe printer actually passes a C style string pointe

[2021-03-14 10:40] LeoMax-Xiong commented on #31597
这个镜像：
[code]

[2021-03-14 11:31] gongel commented on #31598
感谢回复。但是一维Tensor貌似支持`in`操作符：
[code]

[2021-03-14 14:43] jesse01 opened #31615 "建议paddle支持直接对布尔类型的tensor进行聚合运算"
版本：2.0.1
举例：
pytorch:
a1 = torch.tensor([1,2,3,4,5])
a2 = torch.tensor([1,2,3,2,1])
torch.sum(a1==a2)
Out[22]: tensor(3)

paddle:
b1 = paddle.to_tensor([1,2,3,4,5])
b2 = paddle.to_tensor([1,2,3,2,1])
paddle.sum(b1==b2)
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3417, in run_code

[2021-03-15 00:44] #31462 closed, assigned to TCChenlong

[2021-03-15 01:18] JJYjackson commented on #31462
抱歉，这个项目的课程中对该问题没有做详细解答，“这个应该是根据数据集的标准差和方差计算得来的”您能说的更详细些吗？如果是自己的数据集又改怎样来计算？非常感谢。

在 2021-03-08 09:50:02，"Chen Long" ***@***.***> 写道：

这个应该是根据数据集的标准差和方差计算得来的，更详细的内容可以看一下AI Studio的这门课程：高层API助你快速上手深度学习，课节3里包含了这个项目的详细的说明~

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-15 01:19] JJYjackson commented on #31462
抱歉，这个项目的课程中对该问题没有做详细解答，“这个应该是根据数据集的标准差和方差计算得来的”您能说的更详细些吗？如果是自己的数据集又该怎样来计算？非常感谢。

在 2021-03-08 09:50:02，"Chen Long" ***@***.***> 写道：

这个应该是根据数据集的标准差和方差计算得来的，更详细的内容可以看一下AI Studio的这门课程：高层API助你快速上手深度学习，课节3里包含了这个项目的详细的说明~

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-15 01:21] JJYjackson commented on #31462
抱歉，这个项目的课程中对该问题没有做详细解答，“这个应该是根据数据集的标准差和方差计算得来的”您能说的更详细些吗？如果是自己的数据集又改怎样来计算？
非常感谢。

在 2021-03-08 09:50:02，"Chen Long" ***@***.***> 写道：

这个应该是根据数据集的标准差和方差计算得来的，更详细的内容可以看一下AI Studio的这门课程：高层API助你快速上手深度学习，课节3里包含了这个项目的详细的说明~

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-15 01:23] JJYjackson commented on #31462
抱歉，这个项目的课程中对该问题没有做详细解答，“这个应该是根据数据集的标准差和方差计算得来的”您能说的更详细些吗？如果是自己的数据集又该怎样来计算？
非常感谢。

[2021-03-15 01:50] xj160 opened #31616 "调用config->SetModel报Segmentation fault (core dumped)错误"
**代码：**
[code]
centos系统，so是通过docker编译的，版本是release/2.0，so:libpaddle_inference.so
这里把代码精简了，错误就在`config->SetModel(model_dirname + "/inference",model_dirname + "/inference");`已经调试过的，模型也是存在的，config也不为空，报的错误Segmentation fault (core dumped)

[2021-03-15 02:05] xiejiang0133 opened #31617 "mkldnn加速ocr预测导致识别结果错误"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0-rc1-0
    2）CPU：Intel(R) Core(TM) i7-9700K CPU @ 3.60GHz  + MKLDNN
    4）系统环境：
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
做OCR识别时，使用mkldnn加速出错。
未使用mkldnn时识别结果为：
![image](https://user-images.githubusercontent.com/76021403/111094069-5d6ca080-8575-11eb-9c99-dc7bfddec8fb.png)
使用mkldnn时结果为：
![image](https://user-images.githubusercontent.com/76021403

[2021-03-15 02:33] mikeshi80 opened #31618 "这里的判断，无法正确处理安装多个版本CUDA的状态"
https://github.com/PaddlePaddle/Paddle/blob/30a627aaf3af775620cda524058a4baccf7b109b/python/paddle/utils/cpp_extension/extension_utils.py#L445

当安装了多个版本的CUDA时，系统的PATH路径会指向多个CUDA版本，具体用哪个，是安装出现在Path中的前后顺序决定的，但是在Windows下，`where`语句会返回所有版本的路径，所以这里单纯使用去除默认换行符的作法是无法正确应对这种情况的。

要正确应对这种情况，应该使用如下方式

[code]

[2021-03-15 03:29] MrChengmo commented on #31598
好的，看起来这应该是一个待优化的地方，我会反馈给对应的开发者。

[2021-03-15 03:30] MrChengmo commented on #31597
好的，我会反馈给负责镜像的开发者，之后优化这里。

[2021-03-15 03:39] ShaneTian commented on #31605
了解。但有一些老代码依赖于 1.x 接口。烦请修复后同步一下 issue，谢谢~

[2021-03-15 03:40] MrChengmo commented on #31605
收到，我会反馈给对应的开发者跟进

[2021-03-15 04:03] ForFishes commented on #31611
您好，这里看报错信息，是由于cov的两个输入数据类型不一致。其中input_data 是float64，而filter_data是float32。这里看你的输入数据的tensor类型是 float64，所以导致后续类型不一致。这里有两种方法解决：
1、将输入数据x，强制转换成float32类型。x = paddle.cast(x, 'float32')
2、设置全局的参数类型为float64（即改变fileter的数据类型）。在最开始的位置，paddle.set_default_dtype(‘float64’).

[2021-03-15 04:09] ForFishes commented on #31615
您好，这个问题其实普通api对数据类型提升（type promote）的支持。目前仅支持通用的加减乘除类api。您的问题，内部将进行反馈，后续进展将会及时告知您。

[2021-03-15 04:09] YixinKristy commented on #31609
VisualDL支持日志续写，对于恢复训练的日志续写，可以使用file_name这个参数，指定同一个logfile name，即可实现训练记录续写，详情参考：https://github.com/PaddlePaddle/VisualDL/blob/develop/README_CN.md#%E4%BD%BF%E7%94%A8%E6%96%B9%E5%BC%8F
<img width="1017" alt="截屏2021-03-15 下午12 06 16" src="https://user-images.githubusercontent.com/48054808/111102438-0cfe3e80-8587-11eb-845a-3986869bb95a.png">

[2021-03-15 04:45] KobeBryant-0824 opened #31623 "paddle 训练DCGAN生成Mnist，相同的逻辑在1.8版本跑出效果了，改到2.0跑不出效果，找不出问题出在哪儿了，求助！！！"
2.0代码如下：
文件一：basic_dataloader.py 文件数据加载
import numpy as np
import paddle
# 由于paddle.io.DataLoader只接受numpy ndarray或者paddle Tensor作为数据输入
# 该自定义类将MNIST数据reshape并转化为numpy ndarray类型，并且将数据从[0, 255] 转化到 [-1, 1]
class MnistDataset(paddle.vision.datasets.MNIST):
    def __init__(self, mode, return_label=True):
        super(MnistDataset, self).__init__(mode=mode)
        self.return_label = return_label

[2021-03-15 06:24] #31350 closed, assigned to zhiqiu, LielinJiang

[2021-03-15 07:17] winter-wang commented on #31616
SetModel函数的前两个参数，第一个代表着模型文件路径，一般是 *.pdmodel，第二个是参数文件，一般是 *.pdiparams。楼主忘了加后缀名。

[2021-03-15 07:27] nickyoungforu opened #31633 "反向传播出错，loss.backward() Segmentation fault: 11"
网络前向传播正常，能正常得到loss: Tensor(shape=[1], dtype=float32, place=CUDAPlace(0), stop_gradient=False,
       [106.43949890])
反向传播loss.backward()报Segmentation fault: 11，且没有出现其他报错信息。
通过cpp log定位能定位到具体出错的op，但是通过其他方式绕过该op，则会出现其他op报错。

环境：
Paddle2.0
gpu环境, NVIDIA Corporation Device 1023m, cuda:10.0。

[2021-03-15 08:01] sunhufei opened #31636 "config.enable_mkldnn() 启用加速后，结果出现了不明事物"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2021-03-15 08:09] littletomatodonkey commented on #31617
你好，建议使用2.0.1的whl包或者预测库哈

[2021-03-15 08:10] knightdby opened #31637 "安装验证报错"
paddle版本：1.8.5-gpu
系统环境：winserver2012
![image](https://user-images.githubusercontent.com/75298418/111122344-e4873c00-85a8-11eb-9e0c-5356f8db752e.png)

安装命令：pip install paddlepaddle-gpu==1.8.5.post107 -f https://paddlepaddle.org.cn/whl/stable.html
![image](https://user-images.githubusercontent.com/75298418/111122138-907c5780-85a8-11eb-9c04-04d4aba18d31.png)

[2021-03-15 08:14] Darki-luo opened #31638 "2.0.1版本的miou接口不见了"
2.0.1找不到miou了，飞桨文档里没有说明

[2021-03-15 08:39] zhwesky2010 commented on #31637
@knightdby 您好，这个错误是驱动版本太低的原因，麻烦升级下显卡的硬件驱动。

[2021-03-15 09:00] Shixiaowei02 commented on #31636
您好，Paddle 在运行时目前有一些日志；我们将考虑您的建议，将这部分日志在用户设定等级后才开启，默认关闭

[2021-03-15 09:09] phlrain commented on #31633
能方便提供下出现问题的代码环境么

[2021-03-15 09:27] zhwesky2010 commented on #31618
@mikeshi80 由于Linux下只有一个CUDA，Windows可以安装多个CUDA，这个没处理多CUDA情况。我们会修复问题。多谢指正

[2021-03-15 09:29] juncaipeng commented on #31103
@wojtuss

* int8 range

I comment the `graph = self._update_relu_output_scales(graph)` and generate the real int8 model again, so all `use_unsigned_int=False` in `( use_unsigned_int, scale_tensor )`.  The intermediate tensors are as the following picture. For dequantize/in/1 and dequantize/in/3 , the max value is greater than 127 and the dtype is uint8. For dequantize/in/5, the min value is lesser

[2021-03-15 09:44] juncaipeng commented on #31103
@wojtuss  The FP32 model transformed from the fake int8 model gives 0.0 accuracy, because the quantized model is generate by [PACT](https://arxiv.org/abs/1805.06085), which is a new proposed quantization  algorithm. PACT adds a clip operation to the activations before applying quantize in the QAT training stage.
However, use PaddleLite to deploy this fake int8 model on ARM CPU, it gives the same a

[2021-03-15 09:49] ranchlai commented on #31260
安装ipython 7.0.0可以解决这个问题。
pip install ipython==7.0.0

[2021-03-15 09:59] tianhechao commented on #30064
tx2同样的现象

[2021-03-15 10:08] ShaneTian opened #31643 "nn.Linear 的 name 参数没有作为 weight 和 bias 的 prefix"
[`nn.Linear`](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/layer/common/Linear_cn.html) 中传入的 `name` 参数不生效，和[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/program.html#api-guide-name)描述不符
https://github.com/PaddlePaddle/Paddle/blob/ffa88c31c2da5090c6f70e8e9b523356d7cd5e7f/python/paddle/nn/layer/common.py#L133
涉及到的是否还有其他 Layer?

[2021-03-15 10:36] hhxdestiny commented on #27221
@heavengate
我也出现了类似的问题，我的环境是AIStudio默认的paddle-2.0。在预测的时候报这个问题，请问是我的使用方式不对吗？
[code]
错误信息
[code]

[2021-03-15 10:51] knightdby commented on #31637
@zhouwei25 好的，谢谢您！已解决。

[2021-03-15 10:51] yghstill commented on #31610
@jesse01
- `cross_entropy`的计算就是`log_softmax` + `nll_loss`的结合，删除exp的运算是不合理的。
- `softmax_with_cross_entropy`是paddle 1.x起就使用的算子，为了向下兼容，无法直接在内部求mean。如果想求mean，可以计算完求mean即可。
- `cross_entropy`和`softmax_with_cross_entropy`在不设置`weight`的情况下，计算是一致的，不用`paddle.log(F.softmax(logits))`这样计算。

[2021-03-15 11:01] TCChenlong commented on #31643
您好，请问下不生效是指？可否提供下具体复现的代码？谢谢~

[2021-03-15 11:04] TCChenlong commented on #31638
您好，请问下 ``miou`` 具体是指哪个API呢？飞桨提供了 1.8 -> 2.0的API对应关系，链接为: [飞桨框架API映射表](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_others_information/api_mapping_cn.html)，您看看是否能找到？

[2021-03-15 11:08] juncaipeng opened #31645 "Add docs and benchmark of BF16 Inference"
@lidanqing-intel  丹青，请将“BF16预测的文档和Benchmark数据”加到预测文档的“性能调优”章节，可以参考“X86 CPU 上部署量化模型”文档，主要介绍背景、使用方法、对机器要求、Benchmark数据。请注明是否支持任意模型，是否有特别的使用注意事项。具体时间请自行安排。

预测文档：https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/docs
阅览效果：https://paddle-inference.readthedocs.io/en/latest/index.html

[2021-03-15 11:09] ShaneTian commented on #31643
[code]

也就是，参数的名称必须从 `paddle.ParamAttr` 去传入：
[code]

[2021-03-15 11:18] wangye707 commented on #31547
cmake指令你改一下：        ` cmake ..   -DWITH_CONTRIB=OFF   -DWITH_MKL=OFF    -DWITH_MKLDNN=OFF   -DWITH_TESTING=OFF   -DCMAKE_BUILD_TYPE=Release   -DON_INFER=ON   -DWITH_PYTHON=ON -DPY_VERSION=3.6   -DWITH_XBYAK=OFF  -DWITH_NV_JETSON=ON -DWITH_TENSORRT=ON -DTENSORRT_ROOT=/usr  -DCMAKE_CUDA_COMPILER=/usr/local/cuda-10.0/bin/nvcc  -DWITH_NCCL=OFF -DCUDA_ARCH_NAME=Auto  ` 如果是 jetpack4.4或4.5系统的  -DCMAKE_CU

[2021-03-15 11:37] TCChenlong commented on #31643
您好，paddle 2.0以后，只能用 ``paddle.ParamAttr`` 传入参数名称，``name`` 只能设置该层的名字了，[name](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/program.html#api-guide-name) 这个文档我们及时更新，感谢您的反馈，我们尽快更新一下~

[2021-03-15 11:38] ShaneTian commented on #31643
了解，多谢~

[2021-03-15 11:38] #31643 closed, assigned to Thunderbrook

[2021-03-15 12:15] juncaipeng commented on #30735
@lidanqing-intel  @pmajchrzak  The test model is generated by PaddleSlim a long time ago, and the PR skips quantizing all the conv and fc ops. For the new quantized model, the PR will not have the problem. In conclusion,  it is not necessary to consider the old quantized model and the quantized model doesn't have accuracy drop.

[2021-03-15 12:16] #30735 closed, assigned to luotao1, juncaipeng

[2021-03-15 13:14] luotao1 commented on #31606
@lelelelelez Please help see this issue.

[2021-03-15 13:17] wojtuss commented on #31103
@juncaipeng

Please correct me if my understanding is wrong:
1. Fake INT8 model deployed on ARM CPU using PaddleLite gives correct accuracy.
2. Fake INT8 model deployed on Intel CPU using PaddleInference gives totally incorrect accuracy.
3. Fake INT8 model deployed on NV GPU using PaddleInference gives 10% worse accuracy.
4. Real INT8 model obtained on ARM CPU using `Quant2Int8MkldnnPass` gives co

[2021-03-15 13:20] juncaipeng commented on #28522
@andreazanetti
In my opinion, you can refer to [L2 regularization](https://www.paddlepaddle.org.cn/documentation/docs/en/api/paddle/regularizer/L2Decay_en.html) and add the Kurtosis regularizer to Paddle. When users define the model, they apply the Kurtosis regularizer before using QAT.

As for the procedure described above, I don't the reason of adding noise, can you explain the details?

[2021-03-15 13:50] andreazanetti commented on #28522
@juncaipeng
Thank you very much for looking into it and share your suggestions!
It seems very sensible to add Kurtosis support "copying" the way L2 regularizer is implemented, and changing only the computation of the loss component. I hope I understand  your suggestion in the right way :).

However, for pretrained models like Ernie some weight tensors tend to have, just after Ernie pretraining, ex

[2021-03-15 14:12] #31623 closed, assigned to Thunderbrook

[2021-03-15 14:12] KobeBryant-0824 commented on #31623
问题已经解决了

[2021-03-16 00:48] lidanqing-vv commented on #31559
@arogowie-intel I saw that PR is finished and reviewed, should this issue be closed ?

[2021-03-16 00:52] lidanqing-vv commented on #30309
Danqing need to cherry-pick this issue related PR to release/2.0. Keep it open until related PR is cherry-picked

[2021-03-16 02:17] jingruhou opened #31648 "请问Paddle对寒武纪MLU270的适配情况怎么样？有没有相关的文档或者指引？"
请问Paddle对寒武纪MLU270的适配情况怎么样？有没有相关的文档或者指引？

[2021-03-16 02:25] YuechengLiu opened #31649 "建议paddle的Tensor支持布尔索引"
建议像torch一样支持对Tensor的布尔索引
例：
[code]

[2021-03-16 02:33] yeyupiaoling opened #31650 "FLuid版本如何输出学习率"
- PaddlePaddle 1.8.5
 - FLuid

如下，怎么让它输出学习率
[code]

[2021-03-16 02:49] zcswdt opened #31651 "您好，环境安装报错"
我使用安装的是paddle-gpu-1.8.5,使用pip3 list能够查看gpu安装成功，但是使用如下命令却报错。
![image](https://user-images.githubusercontent.com/43515926/111248616-3bdaea00-8645-11eb-8b48-751526bb8544.png)
![image](https://user-images.githubusercontent.com/43515926/111248664-5319d780-8645-11eb-96b9-8320c4b71319.png)

[2021-03-16 02:52] yaoxuefeng6 commented on #31649
收到您的反馈 我们后续会评估需求

[2021-03-16 02:53] jesse01 commented on #31610
我不认同回复的观点，理由如下：

1、paddle 2.0设计明显是吸收tensorflow 2.0 + pytorch的特点，目标可以说是既实现tensorflow强大的计算和部署能力，同时又体现keras的易用性以及pytorch面向对象编程的程序员友好性，更大的目标应该是成为全中国乃至全世界最好用的深度学习框架！
目前在github上 paddle的star是14.6K, pythorch是46.9K， tensorflow是154， 差距还是很明显。
本人是去年底开始接触paddle，当时还没有发布2.0,  根据我简单的了解，paddle 1.x似乎是在完全仿制tensorflow 1.x，而tensorflow 1.x 这种静态图的做法太繁琐，在像我这样的老程序员眼中，简直是反人类的设计，根本就没有学习的兴趣！而我坚定地认为tensorflow 2.0如果不是改用与keras结

[2021-03-16 02:55] jesse01 commented on #31610
我不认同回复的观点，理由如下：

1、paddle 2.0设计明显是吸收tensorflow 2.0 + pytorch的特点，目标可以说是既实现tensorflow强大的计算和部署能力，同时又体现keras的易用性以及pytorch面向对象编程的程序员友好性，更大的目标应该是成为全中国乃至全世界最好用的深度学习框架！
目前在github上 paddle的star是14.6K, pythorch是46.9K， tensorflow是154， 差距还是很明显。
本人是去年底开始接触paddle，当时还没有发布2.0,  根据我简单的了解，paddle 1.x似乎是在完全仿制tensorflow 1.x，而tensorflow 1.x 这种静态图的做法太繁琐，在像我这样的老程序员眼中，简直是反人类的设计，根本就没有学习的兴趣！而我坚定地认为tensorflow 2.0如果不是改用与keras结

[2021-03-16 03:04] yongqiangma commented on #31648
MLU270是在paddle-lite中支持的，目前支持Resnet50（int8）、Senet101（int8）模型。
可以 用以下脚本进行编译
https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/tools/build_mlu.sh

[2021-03-16 03:09] yaoxuefeng6 commented on #31650
可以通过fetch_list来获取
for i in range(1000):
    lr = exe.run(program=fluid.default_main_program(),
                 fetch_list=[optimizer.name])
    print(lr)

[2021-03-16 03:13] yeyupiaoling commented on #31650
@yaoxuefeng6 我现在要的就是fetch_list中应该填什么，optimizer.name这个属性不存在。
[code]

[2021-03-16 03:18] yaoxuefeng6 commented on #31650
试试learning_rate.name

[2021-03-16 03:37] jingruhou commented on #31648
您好，请问后续是否还会有检测、分割等网络模型适配MLU270？

[2021-03-16 03:38] jingruhou commented on #31648
您好，请问后续是否还会有检测、分割等网络模型适配MLU270？

[2021-03-16 03:55] juncaipeng commented on #31103
@wojtuss

1. For ARM CPU, PaddleLite has optimization module to transform the fake int8 model to real int8 model. It deploys the real int8 model and gives correct accuracy.
2. For Intel CPU, PaddleInference uses `Quant2Int8MkldnnPass ` to transform the fake int8 model to real int8 model, deploys the real int8 model and gives totally incorrect accuracy.
3. Using Paddle executor to run the fake int8

[2021-03-16 03:59] yeyupiaoling commented on #31650
@yaoxuefeng6 没有learning_rate，这个对象哪里来？

[2021-03-16 04:01] yeyupiaoling opened #31653 "Fluid如何使用多卡推理"
- PaddlePaddle 1.8.5
 - Fluid

我按照下面的处理，虽然两张显卡都占用了显存，但是只有一张卡在使用推理
[code]

[2021-03-16 05:36] juncaipeng commented on #28522
@andreazanetti  Thank you for your contribution to Paddle！

Yes, it is the first step.

For any models, is there any way to automatically select weights that are not suitable for applying Kurtosis regularizer?  If the weights have high Kurtosis, are them not suitable for applying Kurtosis regularizer?

From the Paddle framework perspective, the Kurtosis regularizer to be added should be as simple

[2021-03-16 05:39] yaoxuefeng6 commented on #31650
learning_rate=fluid.layers.exponential_decay(
                        learning_rate=0.1,
                        decay_steps=100,
                        decay_rate=0.83,
                        staircase=True)
optimizer = fluid.optimizer.AdamOptimizer(
                    learning_rate=learning_rate)

[2021-03-16 06:16] yeyupiaoling commented on #31650
好的，谢谢

[2021-03-16 06:16] #31650 closed, assigned to yaoxuefeng6

[2021-03-16 06:56] #25494 closed, assigned to nobody

[2021-03-16 06:56] chenwhql commented on #31653
看一下是不是places配置有问题，可以参考文档，设置一下places参数
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/compiler/CompiledProgram_cn.html#with_data_parallel

![image](https://user-images.githubusercontent.com/22561442/111268115-d6e4bb80-8667-11eb-92b6-94c54e65dbad.png)

[2021-03-16 07:09] yeyupiaoling commented on #31653
@chenwhql 我设置成这样也不行，是不是PaddlePaddle不支持多卡推理，只支持多卡训练？我的理解是推理和训练是不一样的流程。

[code]

[2021-03-16 07:15] chenwhql commented on #31653
这个对于执行器来说，训练和推理的差别只是传入的program是训练的还是推理的，流程是一样的，只有一张卡在推理具体是什么现象

[2021-03-16 07:20] yeyupiaoling commented on #31653
@chenwhql 在推理的时候，两张卡一开始也是占用同样的显存，但是后面的推理，只看到一张显卡有使用

![image](https://user-images.githubusercontent.com/26297768/111270678-19f45e00-866b-11eb-9507-6afb2cd2e341.png)

[2021-03-16 07:22] chajchaj commented on #31610
paddle2.0中，cross_entropy设计实现的是先计算softmax，再计算cross_entropy的逻辑，并且支持weight及reduce(sum/mean/none)功能。
    具体实现上，下面两种实现功能上是等价的：1） log_softmax+nll_loss； 2） softmax_with_cross_entropy + weight及reduce
    两种实现我们都进行了尝试，最后采用了性能更优的第2）种实现。

    所以，cross_entropy的核心是softmax_with_cross_entropy op。
    softmax_with_cross_entropy op的具体实现可以参考：
    https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/oper

[2021-03-16 07:25] chenwhql commented on #31653
可以贴一下完整一点的代码吗

[2021-03-16 07:27] yeyupiaoling commented on #31653
@chenwhql 代码比较多，只能复制关键的部分：

[code]

[2021-03-16 08:24] chenwhql commented on #31653
这里feed的数据是多张卡的吗？我看了下DataFeeder的实现，如果用多卡的话，看样子要使用feed_parallel或者decorate_reader

https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/DataFeeder_cn.html#feed_parallel
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/DataFeeder_cn.html#decorate_reader

[2021-03-16 08:58] wadefelix commented on #31618
linux也可以安装多份CUDA的，只不过一般不这么干。通过软件管理器安装的只能一份，但确实可以多份。

[2021-03-16 08:59] yeyupiaoling commented on #31653
@chenwhql 好的，解决了，谢谢。

[2021-03-16 08:59] #31653 closed, assigned to yaoxuefeng6

[2021-03-16 09:17] dengxinlong opened #31663 "在安装完paddle之后，使用fluid.install_check.run_check() 出现了错误"
环境：jetson xavier nx，cuda：10.2 cuDNN: 8, jetpack: 4.5.1(最新)
下面截图是 import paddle.fluid as fluid 的结果：
image
下面截图是 运行 fluid.install_check.run_check() 的结果：
image
下面截图是运行 python ppdet/modeling/tests/test_architectures.py的结果：
image
从最后的结果上 来看，是通过了测试最后的 test_architectures.py的测试用例，但是前面run_check出现的问题，还是通过了，我就不太确定了。

[2021-03-16 09:46] lelelelelez commented on #31606
@arlesniak  Please see if the code is updated. I used your command  and found `extension/include/ext_tensor.h` not  `extension/include/tensor.h`
![image](https://user-images.githubusercontent.com/22937122/111288580-474b0700-867f-11eb-9143-f3d46bdfc765.png)
And `extension/include/tensor.h` has been changed to `extension/include/ext_tensor.h` in https://github.com/PaddlePaddle/Paddle/commit/8c94d8cb

[2021-03-16 10:33] wojtuss commented on #31103
@juncaipeng ,
Thank you.
I am investigating the case with all the fusions turned off, so that the real INT8 model was as similar as possible to the fake quant model. The fuse conv+bn is disabled. No success so far.
With oneDNN clipping to the [-128, 127] range is done automatically by casting to uint8_t type. I will try manually enforce the [-127, 127] range.

[2021-03-16 11:15] XiaoguangHu01 commented on #31610
@jesse01
非常感谢你对Paddle 2.0的关注，并提出宝贵的建议。
对于cross_entropy和softmax_with_cross_entropy造成的困扰，我们表示歉意。

我解释下这个问题：
1. softmax_with_cross_entropy是历史原因保留的api，2.0下并不推荐用户使用，我们会在下一个版本会打印deprecated警告，并在后续的版本中删除，所以请忽略softmax_with_cross_entropy API在2.0下的行为。
2. Paddle 2.0下推荐用户使用cross_entropy这个API。这个api默认是会计算softmax的，输入其实是softmax归一化之前的logits。这一点跟cross_entropy的数学定义并不一致，之所以这样设计，是为了减少softmax exp计算带来的数值溢出，并提升性能；我们会再下一个版

[2021-03-16 13:01] thunder95 opened #31673 "多卡训练报错 Socket connect worker 127.0.0.1:52239 failed"
ubuntu1804, 安装最新paddlepaddle-gpu：

安装检查时报： W0316 20:57:03.412691  3827 parallel_executor.cc:596] Cannot enable P2P access from 0 to 1

运行多卡训练时，报:  Socket connect worker 127.0.0.1:52239 failed

[2021-03-16 13:05] pangyoki commented on #31651
您好，看报错是Cudnn的问题，请检查下Cudnn是否正确安装。

[2021-03-16 13:37] nizihan opened #31674 "YOLOv3使用C++单测预测结果对不齐"
模型：YOLOv3
环境：paddle 1.8.5 cuda10
参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0-rc/deploy/cpp/src 写的单测
同样一张图，在python端有正常的检测结果，但是在C++端预测结果不正常，明显超出界限。

class_id: 0 ,score: 0.956355 ,xmin: 276695616 ,xmax: 323560960 ,ymin: 259527408 ,ymax: 273675648
class_id: 0 ,score: 0.940569 ,xmin: 482350624 ,xmax: 521488864 ,ymin: 350426688 ,ymax: 363454144
class_id: 0 ,score: 0.923595 ,xmin:

[2021-03-16 15:15] arogowie-intel commented on #31559
@lidanqing-intel Although the PR already received some reviews I think that the issue noted above still have to be addressed. It would be best to have it already in that PR, however even adding such a test in a later PR would be valuable.

This thing seems to be important since this is a control-flow path (backward: [lookup_table_op.h#L154-L156](https://github.com/PaddlePaddle/Paddle/blob/develop/

[2021-03-16 17:50] LiuHao-THU opened #31678 "dist train error in tutorial paddle 1.8"
`
import paddle.fluid as fluid
# from nets import mlp
from paddle.fluid.incubate.fleet.parameter_server.distribute_transpiler import fleet
from paddle.fluid.incubate.fleet.base import role_maker
import numpy as np

def gen_data():
    return {"x": np.random.random(size=(128, 32)).astype('float32'),
            "y": np.random.randint(2, size=(128, 1)).astype('int64')}

def mlp(input_x, input_y, hid

[2021-03-17 00:46] sunhufei commented on #31636
怎么设定呀，官方并没有给出详解呀

[2021-03-17 01:40] gaorui999 opened #31679 "使用ai studio训练模型报错，问题如正文"
The loss value printed in the log is the current step, and the metric is the average value of previous step.
Epoch 1/100
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:77: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  return (isinstance(seq, colle

[2021-03-17 02:56] zcswdt commented on #31651
您好，cudnn的检测安装成功的命令是什么，我使用如下命令能检测到cudnn，不知道正不正确。
![image](https://user-images.githubusercontent.com/43515926/111407970-7c069f00-870f-11eb-81fa-04a22ce8d637.png)

[2021-03-17 02:59] yaoxuefeng6 commented on #31673
有更详细的报错信息吗

[2021-03-17 03:00] thunder95 commented on #31673
@yaoxuefeng6
Python 3.7.10 (default, Feb 26 2021, 18:47:35)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

/home/server/anaconda3/envs/paddle/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this wi

[2021-03-17 03:06] jesse01 commented on #31610
感谢回复，cross_entropy包含softmax，那就是和pytorch完全一样了，这样设计是没有问题的。
这次给我的主要困惑由三个方面原因造成：
1、softmax_with_cross_entropy命名很容有误会，应该尽快打上deprecated标志
2、cross_entropy API说明有问题，1是没有写上softmax运算，2是没有说明是取代softmax_with_cross_entropy函数
3、paddle 2.0教程误导， 教程图像分类关于lenet的代码：https://www.paddlepaddle.org.cn/tutorials/projectdetail/1525452中
在该段代码中仍在使用softmax_with_cross_entropy函数，导致paddle 2.0使用方式的误解

 原始邮件
发件人: ***@***.***>
收件人:

[2021-03-17 03:35] juncaipeng commented on #31103
@wojtuss

Thank you. You can add clip post-process in quantize op and quantized op (conv2d, fc, etc) to enforce the [-127, 127] range.

Besides, please give an option to enable quantizing bias, and another option to use uint8_t quantization for the output tensor of Relu. Therefore, the users can set this option for different quantized model.

[2021-03-17 03:52] chenjiaoAngel commented on #31674
这个C++ 和python端是用同一个库吗？模型的输入数据是否一样呢？

[2021-03-17 03:53] chenjiaoAngel commented on #31674
建议提供下测试代码，看看是否有问题。

[2021-03-17 04:39] nickyoungforu commented on #31633
你好，由于input的数据结构以及forward操作有点负责，我现在一下子没法提供一个简单复现bug的demo，请问方便在入流上给你完整的工程代码吗？我这边能定位到出错的代码段。

另外补充一下，上面的Segmentation fault: 11是在cpu版本上报的错，在gpu上的报错信息为：
Traceback (most recent call last):
  File "vae_train.py", line 98, in <module>
    for batch in loader:
  File "/home/bio/chenzhiyuan/jtnn/fast_jtnn/datautils.py", line 123, in __iter__
    for b in dataloader.get_data():
  File "/home/bio/chenzhiyuan/

[2021-03-17 06:10] duohappy commented on #31398
这个问题太让人困扰了，居然不支持 `LD_LIBRARY_PATH`, 😞

[2021-03-17 06:33] duohappy opened #31683 "CUDA CUDNN自定义安装路径的疑问"
在issue中，讨论CUDA CUDNN安装的问题足够多了，我最近也遇到了这个问题，建议官方梳理一下

系统：Ubuntu 16.04

+ 现实需求

前提：系统中已经有了cuda9.0
目标：不改变原来系统的正常运行，安装cuda10.2 cudnn 7.6.5  nccl 2.7.8到自己的home目录
实现：安装完成后，然后在`.bashrc`中修改 `LD_LIBRARY_PATH`

**结果是，`LD_LIBRARY_PATH`无法生效**

+ 安装路径

其实这个非常让人费解，搜索了大量的issue，发现有些issue中讲了一个原因
**paddle要求，cuda的安装路径必须是 `/usr/local/cuda`**

+ 问题
    + 安装路径必须一定，现阶段有什么改变方法？
    + cuda cudnn nccl都必须安装到  `/usr/local/cud

[2021-03-17 07:38] jesse01 commented on #31610
各位好！

因为github打不开，只好直接发邮件了，见谅！

版本: V2.0.1
场景描述：
在自定义模型中想用以下方法进行简便遍历：
    def forward(self, x):
        for layer in self.sublayers(include_sublayers=False):
            x = layer(x)
        return x
结果self.sublayers返回的列表为空，如果include_sublayers参数设为True， sublayers方法则会递归返回所有下级子层，导致代码出错。改用以下方法调用内部字典可以正常运行：
    def forward(self, x):
        for _, layer in self._sub_layers.items():
            x = laye

[2021-03-17 07:39] #31678 closed, assigned to iclementine

[2021-03-17 07:39] LiuHao-THU commented on #31678
solved

[2021-03-17 07:45] tianhechao opened #31687 "JetsonTX2 paddle-trt无法工作"
我使用官方提供的Je t s o nTX2 Paddle-inference（c++）库进行测试，测试了Je tPack4.3及Je tPack4.4的版本，

在进行推理时，如果不使用cpu，那么推理可正确输出结果（使用yolov3及ppyolo预训练模型)，如果启用

GPU或同时启用tensorrt，则无法正确输出结果，只启用GPU时，输出错误结果，启用tensorrt时，输出为0。

同时我自行编译了Je tPack4.4版本的paddlepaddle，测试结果与官方提供的库结果相同。

[2021-03-17 07:51] tianhechao commented on #30387
请问你的问题是否解决？

[2021-03-17 08:58] joey12300 commented on #31605
您好，RNN类API推荐使用2.0接口。1.x接口存在易用性等各方面问题，暂时不会维护了。

[2021-03-17 09:12] yaoxuefeng6 commented on #31663
我好看不到图片

[2021-03-17 09:45] mikeshi80 opened #31690 "无法安装CUDA10.2的Develop (nightly build)版本"
按照官网提示，选择 `Develop (nightly build)`，版本选择Linux， CUDA10.2，给出的安装指令

[code]

执行后会提示

[code]

[2021-03-17 10:42] lyuwenyu opened #31693 "paddle tensor对numpy floatxx数据类型的支持问题"
- paddle 2.0.x
- cpu / gpu
- ps pytorch

[code]

[2021-03-17 12:41] iclementine commented on #31693
目前是不支持

Tensor[:] = ...

这样的方式来将一个 numpy array 赋值给 Tensor 的。你可以先把右侧的 numpy array 转成 paddle 的 tensor. paddle.to_tensor

而且 inplace 赋值的方式目前也会破坏梯度回传，仅在不需要梯度回传的情况下可以这么用(at your own risk)

[2021-03-17 12:52] iclementine commented on #31690
应该是pip版本号太高了, 可以先尝试pip==20.2.4

[2021-03-17 12:54] iclementine commented on #31679
看起来是 数据的问题？

/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/PIL/TiffImagePlugin.py:770: UserWarning: Possibly corrupt EXIF data. Expecting to read 23836229632 bytes but only got 0. Skipping tag 0

否则有什么问题吗？

[2021-03-17 12:59] iclementine commented on #31683
是在多卡的训练的情形遇到问题吗？还是说单卡也遇到同样的问题。

其实还真不是在必须在 /usr/local/cuda, 比如说我的机器上
<img width="792" alt="图片" src="https://user-images.githubusercontent.com/16222986/111471054-70dd5e80-8763-11eb-9809-609d118f915f.png">
<img width="890" alt="图片" src="https://user-images.githubusercontent.com/16222986/111471092-7b97f380-8763-11eb-852d-723977b45b47.png">

如果是多卡情况下才会这样，那么可能的原因是环境变量没有传达到各个子进程里。

[2021-03-17 13:02] iclementine commented on #31687
我转问一下预测库的同学

[2021-03-18 00:53] duohappy commented on #31683
单卡训练
paddle版本：2.0.1

paddle在寻找cuda cudnn路径有哪些？
请问你是在哪个路径下？而且`/usr/lib/x86_64-linux-gnu`，好像就是系统的搜索路径吧

[2021-03-18 01:29] GuoQuanhao opened #31703 "DataLoader是否支持字典类型数据集"
platform: AIStudio
version: 2.0.1
[code]
[code]
但是使用
[code]
无法遍历出数据，并得到以下报错
[code]
[code]
我想知道现在已有的Dataloader有解决方案吗

[2021-03-18 01:36] zcswdt commented on #31651
您好，可以看一下我这个问题么，目前还没解决、谢谢了

[2021-03-18 01:36] morgan-bc opened #31705 "CrossEntropy 文档可能错误"
### 文档问题描述：
`paddle.nn.CrossEntropyLoss` 和 `paddle.nn.functional.cross_entropy` 二者文档存在相互矛盾的地方。
`paddle.nn.CrossEntropyLoss` 对输入的要求为

 `paddle.nn.functional.cross_entropy`  对输入的要求为

但实际上 `paddle.nn.CrossEntropyLoss` 计算中就是调用  `paddle.nn.functional.cross_entropy` ，二者输入变量的维度应该一致才对，那么你们代码中计算交叉熵的时候类别的维度到底是放在第二维还是最后一维？

参考文档连接 [CrossEntropyLoss](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/p

[2021-03-18 02:31] dengxinlong commented on #31663
不好意思，问题已经解决了，感谢官方的耐心回复。说一下：
1. numpy包之前安装的是 1.19，如果直接使用 pip3 install numpy，后面导入numpy包的时候会发生非法指令错误，我安装的是numpy 1.17
2. 记得源码编译安装 nccl，https://blog.csdn.net/fuck_hang/article/details/108704045 这个链接中有怎么源码编译安装paddle，里面也有源码编译安装nccl，还有就是使用虚拟环境来使用。官方的教程中的源码安装paddle中有提到安装 virtualenvwrapper，但是就是提到了，如果不会的，就直接百度相关的教程，然后就是直接使用官方的包：
![image](https://user-images.githubusercontent.com/32217129/111564211-51324e80-8

[2021-03-18 02:32] dengxinlong commented on #31663
我的环境是：
jetson xavier nx
安装的镜像是官方的：jetpack 4.5.1
其余的cuda，cudnn之类的都是这个镜像自带的了。

[2021-03-18 02:40] mikeshi80 commented on #31690
OK，不过这个问题还是得解决，随着python的版本升高，自带的pip也会慢慢升上去的。

[2021-03-18 03:33] lyuwenyu commented on #31693
[code]

1. b[:, :] = 0 这种方式是可以赋值的，

2. 上面发生错误 提示信息不太准确吧

[2021-03-18 03:35] huangjun12 commented on #31705
好的，文档确实有问题，这边安排修复，谢谢反馈~

[2021-03-18 04:44] #31618 closed, assigned to Thunderbrook

[2021-03-18 06:14] nickyoungforu commented on #31633
import numpy as np
import paddle
import paddle.nn as nn
import paddle.nn.functional as F
paddle.set_device('gpu')

class MolTreeNode(object):
    def __init__(self, idx, nid, wid):
        self.idx = idx
        self.nid = nid
        self.wid = wid
        self.neighbors = []

class Tree(object):
    def __init__(self, nodes):
        self.nodes = nodes

def GRU(x, h_nei, W_z, W_r, U_r, W_h):

[2021-03-18 06:35] nickyoungforu commented on #31633
[code]
可以正常forward、backward一次，第二次forward报错。
更正一下，上诉问题出现在gpu环境，而标题所描述的问题发生在cpu环境。

[2021-03-18 08:05] iclementine commented on #31683
/usr/lib/x86_64-linux-gnu 是系统的搜索路径。我的 cudnn 也在这个路径。

cuda cudnn 的 lib 或者 lib64 我也是加入到 LD_LIBRARY_PATH 下的。

[2021-03-18 08:06] iclementine commented on #31690
好的，我们这边后面会兼容新的 pip 版本。

[2021-03-18 08:10] duohappy commented on #31683
将cuda cudnn安装到自己的home目录，并加到 LD_LIBRARY_PATH下，paddle无法识别

[2021-03-18 08:13] Abris-087 opened #31715 "Not found CUDA runtime"
你好，我在公用服务器上安装paddlepaddle-gpu=2.0.1，cuda=10.1时出现了问题。

由于无root权限，所以我在用户目录下安装了cuda和cudnn，路径是/home/xxx/cuda10.1，

并且已在~/.profile中设置了环境变量，用nvcc -V指令也能看出当前cuda的版本号为10.1。

为什么import paddle时一直报错Not found CUDA runtime？
![image](https://user-images.githubusercontent.com/61613537/111592875-50b1ac00-8804-11eb-87b1-6fb6631e55cd.png)

![image](https://user-images.githubusercontent.com/61613537/111593351-ce75b7

[2021-03-18 08:17] Yaoxingtian commented on #31715
我今天也遇到跟您一樣的問題，我是cuda11.0，paddle2.0.1 的，環境變量也都配置了還是出現這個問題，搞了一天還是不知道怎麼回事。。。

[2021-03-18 08:24] iclementine commented on #31683
了解，我们做一个详细测试再给你结论~

[2021-03-18 08:26] iclementine commented on #31683
另外，你用于配合 cuda 10.2 使用的 paddle 也是最新的用于 10.2 版本的 paddle ?
还有一个做法是，把要加入 LD_LIBRARY_PATH 的路径加入在 PATH 环境变量的最前面，看看是否生效。

[2021-03-18 08:37] iclementine commented on #31693
这是一个比较新的 feature. 目前是支持的。

一般情况下，不同的数组库之间也不能互相赋值的。numpy 的 fancy indexing 是一个 numpy 库内部的特征，torch 做了一些特别的处理。tensorflow 甚至不能 inplace assign.

P.S. 了解了，你说的是 numpy 的 scalar 类型和 python native 的数据类型处理方式不同。这个问题确实是目前确认的问题。

[2021-03-18 08:41] AN-ZE commented on #31715
import paddle的时候，同样的提示。
使用paddle.utils.run_check()是没有问题的。

[2021-03-18 08:50] Abris-087 commented on #31715
和您不一样，我在测试run_check()时候仍然报错。。
![image](https://user-images.githubusercontent.com/61613537/111598162-e13ebb00-8809-11eb-902a-0ae13dbb0c07.png)

[2021-03-18 09:21] duohappy commented on #31683
是的 ，通过官方命令安装 `python -m pip install paddlepaddle-gpu==2.0.1 -i https://mirror.baidu.com/pypi/simple`

[2021-03-18 09:26] duohappy commented on #31683
刚刚我完成了一下测试，请知悉

由于我的系统中存在已经安装的cuda，安装位置 `/usr/local/cuda`，这个是cuda9.0
如果删除，那么将cuda cudnn安装到自己的home目录，并加到 LD_LIBRARY_PATH下，**paddle可以识别**
如果没有删除，将cuda cudnn安装到自己的home目录，并加到 LD_LIBRARY_PATH下，**paddle无法识别**

我得出一个结论：
paddle搜索cuda cudnn的路径应该是优先从`/usr/local/cuda`中搜索，其次是从 `LD_LIBRARY_PATH`搜索

你们测试后，是否有这样的结论？
如果也是这个结论，那么能否从`LD_LIBRARY_PATH`先搜索呢？

[2021-03-18 09:32] TCChenlong commented on #31705
hi，您好，这两个文档是有一些矛盾的地方，是cross_entropy有一些问题，目前我们已经修改完毕了，等更新上线后，就会一致了，感谢您的反馈~

[2021-03-18 09:34] gaorui999 opened #31719 "高层API2.0图像分类模型训练停在第一行不动"
3月18日用高层API跑同样代码的程序正常可以运行，今天再启动就停在第一行运行就没反应了，等了很长时间都没有反应。重启和停止后启动均无法解决。
![QQ截图20210318142442](https://user-images.githubusercontent.com/77316774/111604267-22d26480-8810-11eb-8c2a-30719406cd50.png)

[2021-03-18 09:56] a2824256 opened #31720 "请问现在paddle有实现MS-SSIM吗？"
请问现在paddle有实现MS-SSIM(多尺度结构相似)的loss吗？因为在文档没有找到。

[2021-03-18 10:40] liym27 commented on #31693
@lyuwenyu 目前不支持给 Tensor 赋 numpy float 类型的数据。当前支持的类型有：numpy.array, int, float, paddle.Tensor.

[2021-03-18 10:41] wadefelix commented on #31715
检查下cuda安装文件夹，cuda安装程序可能没有为其so文件建立短名字软链接。
比如`libcublas.so.11.2.0.252`动态库只建立了`libcublas.so.11`的软链接，而没有建立`libcublas.so`到它的软连接。如
[code]

可以使用下面的命令建立这个软链接。如果安装目录为别的目录，请自行修改
[code]

[2021-03-18 10:44] andreazanetti commented on #28522
In principle Kurtosis regularizer could be applied in any case, but there happen to be cases in which all the involved tensors have Kurtosis within the same order of magnitude (e.g. at the start fo training, when initial weights are usually set with well-known distributions), and others in which the involved tensors have kurtosis values that span different order of magnitudes (e.g. after pretraini

[2021-03-18 10:54] wangleilei001 opened #31724 "编译错误glog中有未定义的引用"
- 版本、环境信息：
    1）PaddlePaddle版本：develop分支
    2）CPU：国产cpu申威，无mkl，使用的cblas

    3）系统环境：deepin

有未定义的引用：
../../../../third_party/install/glog/lib/libglog.a(utilities.cc.o)：在函数‘google::DumpStackTraceAndExit()’中：
(.text+0xa4c)：对‘google::glog_internal_namespace_::IsFailureSignalHandlerInstalled()’未定义的引用

查找发现https://github.com/google/glog/blob/master/src/utilities.cc#L145 这里是有个IsFailureSignalHandlerIns

[2021-03-18 11:05] heavengate commented on #31703
最新develop已支持，可以试下每日版本 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-dev

[2021-03-18 11:05] #31703 closed, assigned to heavengate, huangjun12

[2021-03-18 11:06] wangye707 commented on #31687
@tianhechao 你好，目前我们排查了一下，tx2的jetpack4.3和4.4系统确实存在问题，在开启GPU后会出现程序直接终止且不报错的情况，经过我们测试，agx xavier, nx，nano设备下，该模型可以正常预测。如果您有其他jetson设备，可以暂时先用其他的设备，我们会尽快定位修复这个问题。

[2021-03-18 11:09] #31705 closed, assigned to huangjun12

[2021-03-18 11:29] huangjun12 commented on #31720
目前没有api实现，组合op实现可以参考: https://github.com/PaddlePaddle/PaddleGAN/blob/95e5f4f3f70b734daabb7e94d4dd0c5496fc209c/ppgan/metrics/psnr_ssim.py#L155

[2021-03-18 11:33] tianshuo78520a commented on #31724
重新make可以解决问题么？
麻烦把gcc版本、cmake命令发下

[2021-03-18 11:34] LielinJiang commented on #31719
方便提供下完整的代码不？我们复现一下

[2021-03-18 11:37] btobab opened #31727 "paddle.io.Dataloader数据读取过程中形状改变"
![1](https://user-images.githubusercontent.com/66876429/111620039-320dde00-8821-11eb-92f1-7b74e237e8a7.png)
![2](https://user-images.githubusercontent.com/66876429/111620066-3803bf00-8821-11eb-846d-9e8fc7221982.png)
我这个单个是三通道的图像，为什么dataloader读取把三个通道读没了？

[2021-03-18 11:37] wangleilei001 commented on #31724
gcc是一个国产的版本
Thread model: posix
Version: SWREACH GCC5.3.0-54 (20181101) by xxxxx

cmake 版本
cmake version 3.7.2

CMake suite maintained and supported by Kitware (kitware.com/cmake).

[2021-03-18 11:56] lyuwenyu commented on #31693
@iclementine  @liym27   好的 多谢

[2021-03-18 11:59] wangleilei001 commented on #31724
已解决

[2021-03-18 12:19] huangjun12 commented on #31727
[code]

输出日志:
(209, 3, 100, 160)
[32, 3, 100, 160]

[2021-03-18 12:21] huangjun12 commented on #31727
如上示例代码，传入Dataset的`imgs`请使用numpy格式，输出正常

[2021-03-18 12:26] wangye707 commented on #31687
@tianhechao 你好，目前我们排查了一下，tx2的jetpack4.3和4.4系统确实存在问题，在开启GPU后会出现程序直接终止且不报错的情况，经过我们测试，agx xavier, nx设备下，该模型可以正常预测。如果您有其他jetson设备，可以暂时先用其他的设备，我们会尽快定位修复这个问题。

[2021-03-18 12:29] btobab commented on #31727
好的，已解决。那这个算是paddle的tensor的一个bug吗？

[2021-03-18 13:03] gaorui999 commented on #31719
https://aistudio.baidu.com/aistudio/projectdetail/1677688
我直接把项目开源了，请帮忙解决下谢谢

[2021-03-18 13:25] gaorui999 commented on #31719
https://aistudio.baidu.com/aistudio/projectdetail/1677688
我把项目开源了，请帮忙解决下谢谢

[2021-03-18 13:36] gaorui999 commented on #31314
我也很需要这个代码，如果有这个接口的话分析会方便很多

[2021-03-18 13:39] gaorui999 commented on #31311
有时候环境就是这么奇怪，我今天开启训练后直接停在训练第一行不动了

[2021-03-18 13:50] gaorui999 opened #31731 "脚本项目中单机多卡训练模型报错"
**报错内容**
[INFO]: current net device: eth0, ip: 172.28.2.36
[INFO]: paddle job envs:
POD_IP=job-30f56a75d9009d952351e72d58eeea98-trainer-0.job-30f56a75d9009d952351e72d58eeea98
PADDLE_PORT=12345
PADDLE_TRAINER_ID=0
PADDLE_TRAINERS_NUM=1
PADDLE_USE_CUDA=1
NCCL_SOCKET_IFNAME=eth0
PADDLE_IS_LOCAL=1
OUTPUT_PATH=/root/paddlejob/workspace/output
LOCAL_LOG_PATH=/root/paddlejob/workspace/log
LOCAL_MOUNT_PAT

[2021-03-18 16:03] jczaja commented on #30560
@luotao1 Please note PR https://github.com/PaddlePaddle/Paddle/pull/31093 it does add initial support of BF16 to AMP (automatic mixed precision) .

[2021-03-18 16:37] wojtuss commented on #31103
@juncaipeng
So far I made a couple of changes to fix the accuracy for INT8. Now, the accuracy is good when quantization is applied to unoptimized FP32 model. However, when the conv+bn fuse is applied before quantization, the accuracy of INT8 drops very much.

[2021-03-18 17:15] jczaja commented on #30560
@luotao1, @MrChengmo  We able to run word2vec training via fleetrun  , but after training is finished we can see : *server_log.0* there was SIGTERM signal sent to process. My question is is this behaviour expected? Log is below:

[code]

[2021-03-19 01:15] wadefelix commented on #31651
可看下是不是这个没有短名软链接的缘故？https://github.com/PaddlePaddle/Paddle/issues/31715#issuecomment-801817733

[2021-03-19 01:29] gaorui999 commented on #31450
高层API无法启动脚本文件

[2021-03-19 01:49] Abris-087 commented on #31715
这个方法也没有用。

[2021-03-19 02:31] huangjun12 commented on #31727
可以看下吧，但Dataset是处理数据的pipeline，一般不会放进去一个tensor。。。

[2021-03-19 02:35] huangjun12 commented on #31731
能否贴一下完整的报错信息，上面的报错内容看起来不太全？

[2021-03-19 02:37] juncaipeng commented on #31103
@wojtuss
Can you give a PR to show the changes?  Thanks.

As  described above, if the conv+bn fuse affects the accuracy of INT8 model, maybe PaddleInference should also use the method in PaddleLite to fuse conv+bn before quantization.

The pass of [fusing quantized_conv+bn]( https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/core/mir/fusion/conv_bn_fuser.cc#L154) in PaddleLite. The main

[2021-03-19 02:39] gaorui999 commented on #31731
这就是完整的报错信息，代码提交运行后直接显示失败

[2021-03-19 02:39] tianshuo78520a commented on #31724
问下 怎么解决的？

[2021-03-19 02:39] gaorui999 commented on #31731
INFO - unique_endpoints {'job-30f56a75d9009d952351e72d58eeea98-trainer-0.job-30f56a75d9009d952351e72d58eeea98:12345'}

[2021-03-19 06:30] GuoQuanhao opened #31737 "Cuda error"
Platform: AIStudio
Version: 2.0.1

由于权重是float32类型，输入数据是float64，因此我使用`paddle.cast()`进行转换，但获得以下错误
[code]

[2021-03-19 06:40] Yaoxingtian commented on #31715
你有問多顯卡嗎 ？

[2021-03-19 06:53] GuoQuanhao opened #31738 "Cuda error(700), an illegal memory access was encountered."
Platform : AIStudio
Version: 2.0.1

地址：项目“retinafacce_v2”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/1664965/55c1200e3ddf4d358b5977be112bb1a4

当我使用`python train_v2.py --data_path ./widerface --batch 1 --save_path ./out`时，能够正常训练
[code]
当我使用`python train_v2.py --data_path ./widerface --batch 2 --save_path ./out`时会出现以下错误
[code]
只有设置`batch=1`时才能正常运行，我感到很玄乎

[2021-03-19 07:29] xj160 commented on #31616
不好意思，我这里代码贴的有点错误，我有试过改成绝对地址的，也是这个错误，测试用的代码是没有这个问题的

[2021-03-19 07:42] Yaoxingtian opened #31740 "import paddle issues"
hi, after I installed paddle2.0.1-gpu , and checked it by 'import paddle', problem showed as below :
envs/paddle/lib/python3.6/site-packages/paddle/utils/cpp_extension/extension_utils.py:461: UserWarning: Not found CUDA runtime, please use `export CUDA_HOME= XXX` to specific it.
  "Not found CUDA runtime, please use `export CUDA_HOME= XXX` to specific it."

env: cuda11.0 , ubuntu18 , paddle2.0.1-g

[2021-03-19 07:43] LielinJiang commented on #31719
![image](https://user-images.githubusercontent.com/50691816/111747076-d0ee1500-88c9-11eb-8163-4931d8ce9da8.png)
transform改成这样就能跑了，ToTensor目前和dataloader的适配还在优化中。

[2021-03-19 07:51] DemoMoon opened #31741 "InvalidArgumentError: Cannot parse tensor desc"
Python 3.7.6
(venv) [root@bogon deploy_demo]# pip show paddlepaddle
Name: paddlepaddle
Version: 2.0.1
Summary: Parallel Distributed Deep Learning
Home-page: UNKNOWN
Author: None
Author-email: Paddle-better@baidu.com
License: Apache Software License
Location: /home/DeepSpeech/tools/venv/lib/python3.7/site-packages
Requires: decorator, numpy, requests, gast, Pillow, protobuf, six, astor
Required-by:

[2021-03-19 08:17] LJunius commented on #31687
TX2遇到了同样问题，Paddle-Inference-Demo中yolov3例程使用GPU预测无结果

[2021-03-19 08:23] tianhechao commented on #31687
官方回复的TX2上确实存在问题

***@***.***

发件人： LJunius
发送时间： 2021-03-19 16:17
收件人： PaddlePaddle/Paddle
抄送： tianhechao; Mention
主题： Re: [PaddlePaddle/Paddle] JetsonTX2 paddle-trt无法工作 (#31687)
TX2遇到了同样问题，Paddle-Inference-Demo中yolov3例程使用GPU预测无结果
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-19 08:58] LielinJiang commented on #31731
transform中暂时不要使用to_tensor，目前这个正在优化中

[2021-03-19 10:37] pmajchrzak opened #31748 "CMake Error "Expression did not evaluate to a known generator expression""
Since PR: https://github.com/PaddlePaddle/Paddle/commit/41e9ecfd1fcfee1bb1f77c5ab29c5d14184110be
Paddle stops build at the CMake stage

CMake command and few first lines after run:
[code]
then series of errors occurs such as:
[code]

[2021-03-19 10:53] Aurelius84 commented on #31737
请问可否提供一下`paddle.cast`的上下文代码，这里的 data 是一个tensor，还是一个list[Tensor]?  另外，其他API 可以在GPU上正常执行么？

[2021-03-19 11:03] Aurelius84 commented on #31738
从报错来看，出现了非法内存访问。您可否帮忙用CPU训练下看是否正常，我们先看下是否是某个GPUKernel的问题。另外只有batch_size=2会触发么，其他bs是否也会触发这个问题？

[2021-03-19 11:10] Aurelius84 commented on #31740
This is just a warning and `cpp_extension ` is only used for adding custom operator. Do not worry and this has no influence on training.
Could you run `which nvcc` in your terminal and paste the result for us? We will refine this warning immediately.

[2021-03-19 11:13] Aurelius84 commented on #31741
请问你加载的模型是用的哪一个版本的Paddle导出的？从报错日志来看，在加载模型时就报错了

[2021-03-19 11:21] wojtuss commented on #31103
@juncaipeng
In my opinion there is a discrepancy between scales that come from `out_threshold` attributes of some ops and the scales that come from `fake_quantize_*` ops (these are the two sources of scales for activation tensors). Below I explain why I think so.

As we discussed some time ago (https://github.com/PaddlePaddle/Paddle/pull/23928) when collecting scales the highest priority is on sca

[2021-03-19 12:21] Aurelius84 commented on #31738
我这边clone了你的AI Studio上的代码，切换到CPU上来执行，发现batch_size = 2 时也会出错，日志如下：
[code]

请问可否确认下你的训练数据预处理逻辑是否在batch_size值不同时返回的batch_data是否符合预期？比如可能有 `//2` 到时空shape的情况。我这边也从框架层面排查下

[2021-03-19 12:31] luotao1 commented on #31748
@Avin0323 Please help see this issue

[2021-03-19 12:37] wksuixin opened #31754 "Paddle1.8版本 copy_from_cpu慢的问题"
由于预测试时想用批处理，需要使用copy_from_cpu拷贝一个batch的图像。
测试发现：
batch为1时：copy_from_cpu耗时0.0006s左右
batch为8时：copy_from_cpu耗时0.0160s左右；是batch为1的26倍左右。
这个算子随着图像的增多，或者说随着数据量的增大，速度会变慢么？

[2021-03-19 14:51] Darki-luo commented on #31638
1.8里 fluid.mean_iou 在2.0rc 的时候在mertic.mean_iou,但是在2.0.1里面就没有这个api了

[2021-03-19 15:13] a2824256 commented on #31720
已解决

[2021-03-19 15:13] #31720 closed, assigned to huangjun12

[2021-03-19 15:25] gaorui999 commented on #31679
我用了这个代码把数据集里的图片都跑了一遍，然后启动程序后还会报错，请支支招。我的数据集文件夹是这样的

总文件夹---a类

                 -b类

                 -c类
import os
import cv2
import shutil

dirName = '/home/aistudio/work/dataset'
# 将dirName路径下的所有文件路径全部存入all_path列表
all_path = []
for root, dirs, files in os.walk(dirName):
        for file in files:
            if "jpeg" in file:
                    all_path.append(os.path.join(root, file))
all_pa

[2021-03-20 04:48] licheer111 commented on #28244
cmd命令行中检查一下自己安装的GPU版本是否正确

[2021-03-20 06:07] gaorui999 opened #31758 "使用HAPI2.0，InceptionV3网络训练损失函数和精准度异常"
我是训练的自定义数据集，使用res50训练的第一轮0.32的准确度，使用inception网络训练第一轮就0.9的ACC，LOSS也只有很小的数，应该是训练数据异常，请帮忙看一下
![微信截图_20210318153744](https://user-images.githubusercontent.com/77316774/111860917-8af68700-8985-11eb-8341-503d5e4e7209.png)
项目编号https://aistudio.baidu.com/aistudio/projectdetail/1686493

[2021-03-20 07:49] btobab opened #31760 "发现paddle.to_tensor的一个bug"
1）PaddlePaddle版本：2.0.1
2）系统环境：aistudio
我在复现经典gan的时候发现，程序卡死在paddle.to_tensor(x) 这一句，并造成aistudio网页崩溃。仔细观察发现x是[  tensor()  ]，也就是列表加tensor，但是无法转换成tensor，并且无报错，只是卡死，不管是aistudio还是本地都是卡死，无报错，望修改此bug

[2021-03-20 09:59] airzip opened #31761 "Why"
The loss value printed in the log is the current step, and the metric is the average value of previous step.
Epoch 1/1
Traceback (most recent call last):
File "", line 1, in
File "/home/its/.local/lib/python3.7/site-packages/paddle/hapi/model.py", line 1495, in fit
logs = self._run_one_epoch(train_loader, cbks, 'train')
File "/home/its/.local/lib/python3.7/site-packages/paddle/hapi/model.py", line

[2021-03-20 19:31] wojtuss commented on #31103
@juncaipeng
I have not ready any fix to be merged yet. I will prepare a PR soon.
Scale propagation algorithm needs a fix.
Also, when only signed int8 is used, accuracy is 0.79. Then unsigned int8 is also used, the accuracy is 0.76. I will add an option to disable using unsigned int8.

[2021-03-21 02:08] 60999 opened #31764 "raspberrypi 树莓派4B上编译 2.0错误，请问如何处理"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
PaddlePaddle 2.0
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
cat /proc/version
Linux version 5.10.17-v7l+ (dom@buildbot) (arm-linux-gnueabihf-gcc-8 (Ubuntu/Linaro 8.4.0-3ubuntu1) 8.4.

[2021-03-21 02:39] #31693 closed, assigned to iclementine, liym27

[2021-03-21 03:28] 60999 opened #31765 "设置置系统环境变量路径问题"
环境:jetson nano jp4.3
请问在源码编译文档中
找到Python lib的路径
$ find `dirname $(dirname $(which python3))` -name "libpython3.6m.so"
/usr/lib/python3.6/config-3.6m-aarch64-linux-gnu/libpython3.6m.so
/usr/lib/aarch64-linux-gnu/libpython3.6m.so
设置系统环境变量路径：
[code]
然后说 （这里将[python-lib-path]的最后两级目录替换为/bin/)
这是要怎么改，能给个例子吗？

[2021-03-21 03:36] 60999 commented on #31765
Python lib的路径 python-lib-path
$ find `dirname $(dirname $(which python3))` -name "libpython3.6m.so"
/usr/lib/python3.6/config-3.6m-aarch64-linux-gnu/libpython3.6m.so
/usr/lib/aarch64-linux-gnu/libpython3.6m.so

Python Include的路径 python-include-path
$ find `dirname $(dirname $(which python3))`/include -name "python3.6m"
/usr/include/python3.6m
/usr/include/aarch64-linux-gnu/python3.6m

1.设置为如下是否正确呢

[2021-03-21 05:31] GuoQuanhao commented on #31738
直接运行`dataloader_v2.py`可以返回正确的维度，我在`dataloader_v2.py`中有main测试代码，由于paddle的tensor切片比较局限，我在loss.py中来换切换tensor与numpy完成一些矩阵操作，我不知道是不是这个原因

[2021-03-21 10:09] Irvingao opened #31767 "Jetson nano基于Paddle-Inference-Demo GPU预测`Sync params from CPU to GPU`程序卡住不执行"
##
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle-gpu2.0.0
    2）系统环境：Jetson nano Ubuntu18.04，python3.6.9

- 复现信息：如为报错，请给出复现环境、复现步骤

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
## 执行`Paddle-Inference-Demo/python/resnet50/run.sh`，问题如下：
### （1）GPU预测程序卡住不执行
![image](https://user-images.githubusercontent.com/58903762/111900822-9e7e1c80-8a6f-11eb-8c1f-f0b65a976e5f.png)
### （2）CPU预测正常
![image](https://user-images

[2021-03-22 01:20] DemoMoon commented on #31741
您好，用的是这个环境
Name: paddlepaddle
Version: 2.0.1

[2021-03-22 01:38] DemoMoon commented on #31741
(venv) [root@bogon ~]# pip show paddlepaddle
Name: paddlepaddle
Version: 2.0.1
Summary: Parallel Distributed Deep Learning
Home-page: UNKNOWN
Author: None
Author-email: Paddle-better@baidu.com
License: Apache Software License
Location: /home/DeepSpeech/tools/venv/lib/python3.7/site-packages
Requires: gast, protobuf, decorator, numpy, six, requests, Pillow, astor
Required-by:
(venv) [root@bogon ~]#

[2021-03-22 02:00] LDOUBLEV commented on #31758
数据量的多少也影响网络的训练，另外，不同网络的收敛时间也不一致，建议多训练几个epoch观察下

[2021-03-22 02:13] LDOUBLEV commented on #31761
Please check your input data type, an error prompts that the input type is int type.  You can try float type input data.

[2021-03-22 02:22] LDOUBLEV commented on #31760
我这边测试是有报错信息的：
paddlepaddle-gpu==2.0.1版本
![image](https://user-images.githubusercontent.com/26592129/111932501-80a8ca00-8af8-11eb-9b7d-0b0c84a6a461.png)

[code]
不过报错信息不是很对，会反馈问题进一步优化

[2021-03-22 02:26] Aurelius84 commented on #31741
请问你使用的训练脚本，都是DeepSpeech提供的么？可否贴一下你执行的脚本。

[2021-03-22 02:31] weihyemail opened #31769 "paddlepaddle2.0.0版本PD_PredictorZeroCopyRun函数疑似存在内存泄漏"
ocr接口调用paddlepaddle时疑似存在内存泄漏，请看一下问题出现在什么地方，谢谢。

1、版本：
paddlepaddle2.0.0、
paddlehub2.0.0
运行的为cpu版本
服务器内存16G
Python版本号3.7
操作系统版本：redhat-7

2、问题现象
a、python单进程调用ocr.recognize_text接口读取指定目录下的100张不同图片进行图片文字识别，每识别一张图片，占用内存增加200M以上，随着识别图片数的增加，内存持续增长，直到内存被耗尽被操作系统kill掉
b、如果只是反复识别同一张图片的话，内存增长的一定数后不再增长

3、疑似内存泄漏的代码
通过代码调用链的分析最终定位到c++库中的PD_PredictorZeroCopyRun函数疑似存在内存泄漏，内存泄漏语句
output_i.shape = new int[output_sh

[2021-03-22 02:35] Aurelius84 commented on #31738
在组网的中间将tensor转为numpy操作，可能存在一些潜在的不符合预期的情况，比如梯度的计算可能被截断导致参数更新偏离预期。想问下您这边对 tensor切片有什么特殊的功能需求。可否提供下想要支持功能的代码示例，我们这边也会进行支持。

[2021-03-22 03:30] DemoMoon commented on #31741
https://github.com/PaddlePaddle/DeepSpeech/issues/562

您好，这个地址上面有详细的信息，谢谢

[2021-03-22 03:40] yeyupiaoling opened #31770 "关于nn.GRU接口的使用"
- PaddlePaddle 2.0.1
 - Python

像这样的一个网络，文档说shape应该为`[batch_size,time_steps,input_size]`，这个time_steps要怎么处理，已经将卷积用 Flatten 展开了。GRU要怎么设置输入。
[code]

[2021-03-22 03:47] ShaneTian opened #31772 "paddle.load 和 paddle.save 支持更多的类型"
- 版本、环境信息
1）PaddlePaddle版本：2.0
2）CPU/GPU：N/A
3）系统环境：N/A
- 复现信息：N/A
- 建议描述：目前仅支持存储 Layer 或者 Optimizer 的 state_dict。建议类似于 PyTorch 一样支持多种格式，比如 `paddle.io.Dataset` 等

[2021-03-22 04:26] DemoMoon commented on #31741
[root@bogon DeepSpeech]#  python3 tools/compute_mean_std.py --num_samples 1 --specgram_type linear --manifest_path data/xm/manifest.test --output_path data/xm/mean_std.npz
WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core.
/usr/local/python3/lib/python3.7/site-packages/setuptools/depends.py:2: DeprecationWarning: the imp m

[2021-03-22 04:27] DemoMoon commented on #31741
[root@bogon DeepSpeech]#  python3 tools/compute_mean_std.py --num_samples 1 --specgram_type linear --manifest_path data/xm/manifest.test --output_path data/xm/mean_std.npz
WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core.
/usr/local/python3/lib/python3.7/site-packages/setuptools/depends.py:2: DeprecationWarning: the imp m

[2021-03-22 04:28] DemoMoon commented on #31741
(venv) [root@bogon deploy_demo]# sh ../xm_test/run_train.sh
WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core.
/home/DeepSpeech/tools/venv/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: np.int is a deprecated alias for the builtin int. To silence this warning, use int by itself. Doing this

[2021-03-22 04:32] DemoMoon commented on #31741
[Uploading modes.tar.gz…]()
modes相关文件

[2021-03-22 04:48] DemoMoon commented on #31741
[Uploading 训练语音原文件.zip…]()

[2021-03-22 04:49] DemoMoon commented on #31741
[训练语音原文件.zip](https://github.com/PaddlePaddle/Paddle/files/6179508/default.zip)

[2021-03-22 05:04] Avin0323 commented on #31748
@pmajchrzak CMake version is too low, please try again with version 3.16.9.

[2021-03-22 05:14] weihyemail opened #31774 "paddlepaddle2.0.0编译完成后没有生成build/python/dis"
paddlepaddle版本2.0.0
编译的是cpu版本
操作系统版本：CentOS Linux release 7.4.1708 (Core)
Python版本号3.7

cmake语句
export PADDLE_VERSION=2.0.0
cmake -DWITH_GPU=OFF -DWITH_TESTING=OFF  .. \
-DPYTHON_EXECUTABLE=/home/weihy/anaconda3/bin/python3.7 \
-DPYTHON_INCLUDE_DIR=/home/weihy/anaconda3/include/python3.7m  \
-DPYTHON_LIBRARY=/home/weihy/anaconda3/lib/libpython3.7m.so

编译输出的最后几行信息为：
[ 99%] Generating .check_symbol

[2021-03-22 06:16] btobab commented on #31760
好的，谢谢

[2021-03-22 06:31] DemoMoon commented on #31741
[run_dsn_xm_ch_test_8088.sh.TXT](https://github.com/PaddlePaddle/Paddle/files/6179977/run_dsn_xm_ch_test_8088.sh.TXT)

[dsn_DeepSpeech_xm_ch2.py.TXT](https://github.com/PaddlePaddle/Paddle/files/6179991/dsn_DeepSpeech_xm_ch2.py.TXT)

[2021-03-22 06:45] T8T9 commented on #31769
您好，这个问题正在修复，预计在2.1版本中修复。
@weihyemail

[2021-03-22 06:48] luotao1 commented on #31748
@Avin0323 Please update `CMAKE_VERSION` to avoid this issue.
https://github.com/PaddlePaddle/Paddle/blob/4c0c55bba14dd0b0e4197a8dcda5a71b76ee020a/CMakeLists.txt#L15
https://github.com/PaddlePaddle/Paddle/blob/4c0c55bba14dd0b0e4197a8dcda5a71b76ee020a/CMakeLists.txt#L41-L45

[2021-03-22 07:07] cryoco commented on #31765
请问您看的是哪个文档呢

[2021-03-22 07:08] cryoco commented on #31767
您好，感谢您的反馈，我们复现看下这个问题

[2021-03-22 07:10] Irvingao commented on #31767
yolov3执行也相同，cuda_linux使用GPU预测正常。

[2021-03-22 07:34] jeffzhengye opened #31777 "OSError: (External) Cublas error, `CUBLAS_STATUS_INVALID_VALUE`"
Since tensorflow is running very well on my machine, I assume the env is configured correctly.
What could be the problems and how I may fix it?
`
    results = self.detector.object_detection(images = [ori_img], use_gpu = self.use_gpu, score_thresh = self.threshold, visualization=False)
  File "/home/user/anaconda3/lib/python3.7/site-packages/paddlehub/compat/paddle_utils.py", line 220, in runner

[2021-03-22 07:59] GuoQuanhao commented on #31738
[code]
[code]
我认为如果tensor能够支持numpy的操作习惯及其操作方法，这将对新手更友好

[2021-03-22 08:31] TuringZhu commented on #28581
python3.9 macOS Big Sur Version 11.1
[CMakeError.log](https://github.com/PaddlePaddle/Paddle/files/6180582/CMakeError.log)

[2021-03-22 09:00] wozna commented on #30560
I have a question related to initializators. Is the possibility to initialize data in `FP16` data type in `AMP FP16`, or is data always created in `FP32`?

[2021-03-22 09:01] jeffzhengye commented on #31777
这是paddlehub的问题应该。
result = predictor.object_detection(images=[cv2.imread('best-face-oil.png')], use_gpu=True)

AttributeError: 'YOLOv3ResNet50Coco2017' object has no attribute 'gpu_predictor'

不知道为什么不能使用gpu预测

[2021-03-22 09:18] Wall-ee commented on #31547
[code]

按照您提到的cmake  发现这个错误
graph_to_program_pass.dir 中 depend.make没有内容是这样的
[code]

[2021-03-22 09:23] #31774 closed, assigned to wangxicoding

[2021-03-22 09:29] youlingforever0328 opened #31778 "paddle2.0如何自定义反向传播算法(backward)?"
paddle2.0(或以前版本) 如何自定义反向传播算法(backward)?
具体地说，如何自定义flatten层的backward?

[2021-03-22 09:42] gaorui999 opened #31779 "在aistudio使用高层API2.0报错"
-OSError Traceback (most recent call last)<ipython-input-10-894df5e3e6f2> in <module> 5 shuffle=True, # 是否打乱样本集 6 callbacks=[visualdl], ----> 7 verbose=1) # 日志展示格式 /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/hapi/model.py in fit(self, train_data, eval_data, batch_size, epochs, eval_freq, log_freq, save_dir, save_freq, verbose, drop_last, shuffle, num_workers, callback

[2021-03-22 09:42] wangye707 commented on #31547
@Wall-ee 请问您是develop分支吗？你切换到 v2.0.1分支

[2021-03-22 10:04] Wall-ee commented on #31547
现在用的是2.0.0我切到 2.0.1试一下

[2021-03-22 10:07] Wall-ee commented on #31547
好像没找到2.0.1  只有release 2.0？

[2021-03-22 10:53] wangye707 commented on #31547
你换到tag，或者输入git checkout v2.0.1
![image](https://user-images.githubusercontent.com/39162106/111979271-d359a480-8b3f-11eb-9be5-7d6e077ab4b2.png)

[2021-03-22 10:55] wojtuss commented on #31103
@juncaipeng
A fix for the issue is submitted: https://github.com/PaddlePaddle/Paddle/pull/31783
Please verify it. On the small dataset attached to this issue INT8 accuracy is 0.8 (0.94 top5) on my i9 (SKX-like) machine (still using `uint8_t` where appropriate).

[2021-03-22 10:55] wangye707 commented on #31767
@Irvingao 你好，目前发现jetson在nano和tx2两款设备在开启GPU预测时会出现预测问题，经过我们测试，agx xavier, nx设备下，该模型可以正常预测，其中nx设备需要手动设置 config.enable_use_gpu(500, 0)。如果您有其他jetson设备，可以暂时先用其他的设备，我们会尽快定位修复这个问题。

[2021-03-22 11:08] hbwx24 commented on #31772
感谢您宝贵的建议，我们将逐步丰富paddle.load和paddle.save的功能。

[2021-03-22 11:15] #31772 closed, assigned to wangxicoding

[2021-03-22 11:41] jiushinakecai opened #31785 "model.predict()预测报错"
预测数据不管有多少条，预测到最后两条的时候，就报错：AttributeError: 'Model' object has no attribute '_metrics'
_注_：训练的时候，metric未设置（model.prepare(optimizer, loss)），跟这个有关系吗
**环境信息：**paddle2.0.1  python3.7
![image](https://user-images.githubusercontent.com/60872522/111983630-503b4d00-8b45-11eb-9cc5-2f716d874115.png)

[2021-03-22 11:45] joey12300 commented on #31770
@yeyupiaoling 您好，GRU这个接口是一般用于序列模型（如NLP模型），对序列输入进行运算。 输入要求为`[batch_size, time_steps, input_size]`，其中`time_steps`表示输入序列的长度。您所提供的模型应该是CV类的模型，CV领域一般没有`序列`这个概念。请问您的模型是复现什么文章呢？

[2021-03-22 11:49] jiushinakecai commented on #31785
我是提交后台任务进行训练的，完成后导入notebook，加载训练好的模型进行预测就会出现这样的情况，同样的代码，如果不放后台任务，notebook中直接跑就没事

[2021-03-22 12:08] wangxicoding commented on #31778
请问是需要自定义算子，还是说针对已有前向，自定义特殊反向。
如果是自定义算子，可以查看文档https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/new_custom_op.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/new_python_op.html

[2021-03-22 12:09] wsy1991 opened #31787 "paddle.fluid.profiler.profiler使用问题"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/profiler/profiler_cn.html#profiler
此链接中的例子中：

data为啥不是四维数组，没有batch_size啊

[2021-03-22 12:25] #31719 closed, assigned to huangjun12

[2021-03-22 12:28] wangxicoding commented on #31779
![image](https://user-images.githubusercontent.com/10208305/111989655-06eefb80-8b4d-11eb-9e11-2b81b1d4b9bf.png)
您好，请问你现在用的什么版本的paddle，动态图还是静态图，看报错可能是静态图模式下使用了动态图专用的api。

[2021-03-22 12:31] juncaipeng commented on #31103
@wojtuss  👌

[2021-03-22 12:40] wangxicoding commented on #31785
看了下代码，如果没有调用prepare()接口不会初始化_metrics。你可以试一下先调用model.prepare()，不用加参数，把这个问题绕过一下。

[2021-03-22 12:48] wangxicoding commented on #31787
里面的例子只是用于性能profile的示例，写例子时可能没有按照具体模型来写，只是按照简单原则写的。data三维或者四维，对于profile的api使用没有影响。
另外性能优化profile可以参考timeline工具https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/advanced_guide/performance_improving/analysis_tools/timeline_cn.html#timeline

[2021-03-22 12:51] jiushinakecai commented on #31785
好的

[2021-03-22 13:08] yeyupiaoling commented on #31770
@joey12300 CRNN，是不是只使用y这个值就好了。

[2021-03-22 13:32] joey12300 commented on #31770
引用知乎的一个回答`https://zhuanlan.zhihu.com/p/43534801`。
![image](https://user-images.githubusercontent.com/10826371/111997023-93052100-8b55-11eb-82e4-0316ac23590b.png)

GRU跟LSTM同理。实际上你的工作就是构造`T`(time_step)这个维度，把GRU的输入改成一个三维的Tensor。

[2021-03-22 13:33] gaorui999 commented on #31779
现在是用的2.0.1版本的Paddle,使用的高层API的训练的动态图

[2021-03-22 13:36] gaorui999 opened #31789 "高层API训练模型，Vgg16可以正常运行，Resnet50跑了轮就报错停止"
训练代码
network = paddle.vision.models.resnet50(pretrained=False, num_classes=train_parameters["class_dim"])
model = paddle.Model(network)
model.prepare(paddle.optimizer.Adam(learning_rate=0.01,
                                    parameters=model.parameters()),
              paddle.nn.CrossEntropyLoss(),
              paddle.metric.Accuracy())
visualdl = paddle.callbacks.VisualDL(log_dir='Resnet50_L

[2021-03-22 13:37] jiushinakecai commented on #31785
是的，先model.prepare()再model.load()就不报错了，谢谢

[2021-03-22 13:37] #31785 closed, assigned to wangxicoding

[2021-03-22 13:49] wangxicoding commented on #31789
![image](https://user-images.githubusercontent.com/10208305/111999813-4bcc5f80-8b58-11eb-8239-9152cc48534b.png)
这个看log是DataLoader挂了。。

[2021-03-22 14:50] Bob-AFei commented on #31777
Hi developer, I met the same issue today. Here is my Log.

[code]

[2021-03-22 16:03] gaorui999 commented on #31789
请问这个怎么去处理

[2021-03-23 01:54] wsy1991 commented on #31787
@wangxicoding 有影响的，四维的话，会报如下错:
Error Message Summary:
----------------------
InvalidArgumentError: The input's dimension and filter's dimension of Op(Conv) should be equal. But received: the input's shape is [-1, 300, 3, 28, 28], the input's dimension is 5; the filter's shape is [20, 300, 3, 3],  the filter's dimension is 4.
  [Hint: Expected in_dims.size() == filter_dims.size(), but received in_d

[2021-03-23 02:53] Yaoxingtian commented on #31033
您好，可以分享下是怎么解决的吗？ 我也遇到这个问题了，谢谢

[2021-03-23 02:58] weihyemail commented on #31769
感谢你的及时解答。2.1版本估计什么时间发布？

[2021-03-23 02:59] weihyemail commented on #31769
感谢你的及时解答。2.1版本估计什么时间发布？

[2021-03-23 03:00] weihyemail commented on #31769
感谢你的及时解答。2.1版本估计什么时间发布？

[2021-03-23 03:03] Yaoxingtian opened #31795 "Load symbol getPluginRegistry failed"
您好！
我在执行预测的时候报错：Load symbol getPluginRegistry failed

paddlepaddle2.0  cuda10.1 cudnn7.6 没用trt

请问能定位是什么问题吗？ 谢谢

[2021-03-23 03:09] #20053 closed, assigned to jczaja

[2021-03-23 03:09] #21221 closed, assigned to sneaxiy

[2021-03-23 03:09] #21539 closed, assigned to nobody

[2021-03-23 03:09] #22252 closed, assigned to nobody

[2021-03-23 03:09] #22412 closed, assigned to Boyan-Liu

[2021-03-23 03:09] #22906 closed, assigned to nobody

[2021-03-23 03:09] #22908 closed, assigned to nobody

[2021-03-23 03:09] #22959 closed

[2021-03-23 03:09] #22972 closed, assigned to nobody

[2021-03-23 03:09] #22981 closed, assigned to nobody

[2021-03-23 03:09] #22988 closed, assigned to nobody

[2021-03-23 03:09] #23000 closed, assigned to nobody

[2021-03-23 03:10] #23008 closed, assigned to nobody

[2021-03-23 03:10] #23033 closed, assigned to nobody

[2021-03-23 03:10] #23038 closed, assigned to nobody

[2021-03-23 03:10] #23044 closed, assigned to nobody

[2021-03-23 03:10] #23045 closed, assigned to nobody

[2021-03-23 03:10] #23048 closed, assigned to nobody

[2021-03-23 03:10] #23049 closed, assigned to nobody

[2021-03-23 03:10] #23054 closed, assigned to nobody

[2021-03-23 03:10] #23069 closed, assigned to nobody

[2021-03-23 03:10] #23082 closed, assigned to JepsonWong

[2021-03-23 03:10] #23113 closed, assigned to nobody

[2021-03-23 03:10] #23127 closed, assigned to wanghaoshuang

[2021-03-23 03:15] wangxicoding commented on #31789
![image](https://user-images.githubusercontent.com/10208305/112085512-a18b2100-8bc5-11eb-982f-05e31040d6d6.png)
又看了下，根本原因可能是图片出现问题了。跑的啥数据集，试下重新下载数据集？

[2021-03-23 03:27] wangxicoding commented on #31787
fluid.layer.data这个接口如果shape首位未设置为None或者-1，会自动给shape首位插入-1。
所以`data = fluid.layers.data(name='data', shape=[3, 28, 28], dtype='float32')`与`data = fluid.layers.data(name='data', shape=[-1, 3, 28, 28], dtype='float32')`是等价的。
目前静态图上不建议用fluid.layers.data的接口，1.8建议用`fluid.data`的接口https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/fluid_cn/data_cn.html#data
2.0建议用`paddle.static.data`的接口https

[2021-03-23 03:35] LiangYongAI commented on #31033
软件换对应版本就可以了发自我的荣耀手机-------- 原始邮件 --------发件人： Yaoxingtian ***@***.***>日期： 2021年3月23日周二 上午10:53收件人： PaddlePaddle/Paddle ***@***.***>抄送： liangyong ***@***.***>, Author ***@***.***>主    题： Re: [PaddlePaddle/Paddle] paddle2.0 预测库出现调用时报错Load symbol getPluginRegistry failed (#31033)

@cryoco 问题解决，谢谢

您好，可以分享下是怎么解决的吗？ 我也遇到这个问题了，谢谢

—You are receiving this because you authored the thread.Reply to this ema

[2021-03-23 03:54] JZ-LIANG commented on #31795
请贴 复现环境 和 具体报错信息
并使用如下 env 打开c++ 报错栈信息：
export FLAGS_call_stack_level=2

[2021-03-23 04:57] helen88 opened #31798 "生成对抗样本，梯度不更新，报错AttributeError: 'Tensor' object has no attribute 'trainable'"
环境：paddlepaddle2.0
我想要更新图像数据的梯度，
img = paddle.to_tensor(img, dtype='float32', place=paddle.CUDAPlace(0), stop_gradient=False)
model = paddle.vision.models.vgg16(pretrained=True)
predict = model(img)[0]
print (predict.shape)
label = np.argmax(predict)

for param in model.parameters():
    param.stop_gradient = True

#optimizer = torch.optim.Adam([img])

optimizer = paddle.optimizer.Adam(learning_ra

[2021-03-23 05:01] gzwzzu opened #31799 "车牌识别案例，如果换一张车牌图片测试，图片预处理那里会报错"
环境：直接在aistudio上使用paddle 1.7版本，python 3.7
项目地址：https://aistudio.baidu.com/aistudio/projectdetail/879784?channelType=0&channel=0

第5部分，5.1那里。用cv2进行预处理。
当换一张测试图片，像素尺寸完全一样，却会报错。
Traceback (most recent call last)<ipython-input-24-d3665a3e6616> in <module>
     20     else:
     21         index = i + 1
---> 22         while result[index] != 0:
     23             index += 1
     24         character_di

[2021-03-23 05:36] JZ-LIANG commented on #31798
param.stop_gradient = True 这句应该去掉

param.stop_gradient = True 的意思是： 从这个param往input 追溯，所以有在该param 之前的grad 都不会计算。
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/faq/train_cn.html#stop-gradient-true

adv sample 需要求对input 的grad， 所以模型中间每一层的grad 都需要在 “计算 input grad 前” 被计算。

[2021-03-23 06:17] Aurelius84 commented on #31740
We fixed this in https://github.com/PaddlePaddle/Paddle/pull/31804

[2021-03-23 06:21] phlrain commented on #31633
好的，我们复现定位下，非常感谢给予的反馈

[2021-03-23 06:25] Aurelius84 commented on #31738
非常感谢您的建议，我们会排期尽快支持这样的功能

[2021-03-23 06:31] wsy1991 commented on #31787
@wangxicoding 好滴谢谢了，问题解决了。
可是这个性能分析工具是按照每个op操作进行归类的啊

[2021-03-23 06:42] Wall-ee commented on #31547
成功了！！整整3周，哈哈，终于搞定了，几个细节。
1，配置的时候，如果已经编译了nccl 一定要 nccl 要开成on
2，把里面的所有的关于最近github的clone 都替换为可用的下载
3，关于编译文件中，补丁的下载地址也要处理一下

[2021-03-23 06:44] wangxicoding commented on #31787
是的，在python层的layer实际上是由各个op组成的，最终在C++执行的是各个op，所以在性能profile时，也是对op的profile

[2021-03-23 06:46] wangxicoding commented on #31779
能把报错信息排版一下，或者截个图。提供下可复现代码吗

[2021-03-23 06:51] wsy1991 commented on #31787
@wangxicoding 好的吧，感谢了，我看了下timeline工具，也没看出来从哪里能提升性能啊，感觉就是一个简单的分析工具

[2021-03-23 06:54] #31787 closed, assigned to wangxicoding

[2021-03-23 06:55] helen88 commented on #31798
optimizer = paddle.optimizer.Adam(learning_rate=0.001, parameters=img) 报错是这里的“parameters=img”不能接受一个tensor类型，我想要更新我输入图片的梯度，这里应该怎么定义呢。

[2021-03-23 07:04] wangxicoding commented on #31787
单纯一个简单的网络模型可能很难看出来，瓶颈都在计算里面，这个很难优化。
但如果reader性能存在瓶颈，就可以看到每个step间有一个较大的空白gap，这是通过timeline就可以很容易看出来，需要优化reader的速度。
另外跑分布式，如果通信时间很长，也可以通过timeline看出来，需要考虑使用某些优化手段。比如如果本身带宽低，可以使用dgc、local sgd或者gradient merge这样的策略，或者使用amp也可以带来加速。

[2021-03-23 07:09] duohappy commented on #31683
@iclementine 请问有测试结果么？

[2021-03-23 07:16] wsy1991 opened #31809 "我看了下timeline工具，感觉对性能提升并没有帮助啊"

[2021-03-23 07:22] helen88 commented on #31798
去掉还是一样的报错：
_AttributeError: 'Tensor' object has no attribute 'trainable'_。
另外：adv sample是要求模型参数不更新，只对input更新，这里需要怎么把input image 定义成可进行梯度更新的变量，用tensor不可以。
1.  img = paddle.to_tensor(img, dtype='float32', place=paddle.CUDAPlace(0), stop_gradient=False) 这么定义就会报错。
2. optimizer = paddle.optimizer.Adam(learning_rate=0.001, parameters=img) 这个写法没报错，但optimizer.step()就会报错了

[2021-03-23 07:28] wsy1991 commented on #31809
profile了模型，也知道模型所有op的耗时情况，可我现在如何调优呢

[2021-03-23 08:18] airzip commented on #31761
features = df[['SEASON','HOLIDAY','WORKINGDAY','WEATHER','TEMP','ATEMP','HUMIDITY','WINDSPEED']].to_numpy(dtype=np.int32)
labels = df[['COUNT']].to_numpy(dtype=np.int16)

ratio = 0.8
train_features,train_labels,test_features,test_labels = (
    features[:int(ratio * df.shape[0])],
    labels[:int(ratio * df.shape[0])],
    features[int(ratio * df.shape[0]):],
    labels[int(ratio * df.shape[0]):],

[2021-03-23 08:23] gaorui999 commented on #31779
https://aistudio.baidu.com/aistudio/projectdetail/1697159

[2021-03-23 08:24] gaorui999 commented on #31789
我别的训练也是用的这个数据集，处理数据集都是同一个代码，但只有这个报错运行不下去

[2021-03-23 08:24] gaorui999 commented on #31789
https://aistudio.baidu.com/aistudio/projectdetail/1697159

[2021-03-23 08:25] JZ-LIANG commented on #31798
参考一下这个
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/user_guides/cv_case/gan/README.cn.html#shengchengduikangwangluo

[2021-03-23 08:27] JZ-LIANG commented on #31799
贴一下复现代码 和 具体报错信息

[2021-03-23 08:29] JZ-LIANG commented on #31809
可以自己找一下nv 相关教程

[2021-03-23 08:36] wsy1991 commented on #31809
不是，我是cpu端

[2021-03-23 08:47] zhengvh commented on #26389
有官方的人员来解决一下吗？我是在训练时出现的这个错误。还有一个这个waring:
`- WARNING - paddle.fluid.layers.py_reader() may be deprecated in the near future. Please use paddle.fluid.io.DataLoader.from_generator() instead.`
用的是AIStudio上的paddlepaddle2.0.1

[2021-03-23 08:47] zhengvh commented on #26389
有官方的人员来解决一下吗？我是在训练时出现的这个错误。还有一个这个waring:
`- WARNING - paddle.fluid.layers.py_reader() may be deprecated in the near future. Please use paddle.fluid.io.DataLoader.from_generator() instead.`
用的是AIStudio上的paddlepaddle2.0.1

[2021-03-23 08:47] zhengvh commented on #26389
有官方的人员来解决一下吗？我是在训练时出现的这个错误。还有一个这个waring:
`- WARNING - paddle.fluid.layers.py_reader() may be deprecated in the near future. Please use paddle.fluid.io.DataLoader.from_generator() instead.`
用的是AIStudio上的paddlepaddle2.0.1

[2021-03-23 08:47] zhengvh commented on #26389
有官方的人员来解决一下吗？我是在训练时出现的这个错误。还有一个这个waring:
`- WARNING - paddle.fluid.layers.py_reader() may be deprecated in the near future. Please use paddle.fluid.io.DataLoader.from_generator() instead.`
用的是AIStudio上的paddlepaddle2.0.1

[2021-03-23 08:47] zhengvh commented on #26389
有官方的人员来解决一下吗？我是在训练时出现的这个错误。还有一个这个waring:
`- WARNING - paddle.fluid.layers.py_reader() may be deprecated in the near future. Please use paddle.fluid.io.DataLoader.from_generator() instead.`
用的是AIStudio上的paddlepaddle2.0.1

[2021-03-23 08:47] zhengvh commented on #26389
有官方的人员来解决一下吗？我是在训练时出现的这个错误。还有一个这个waring:
`- WARNING - paddle.fluid.layers.py_reader() may be deprecated in the near future. Please use paddle.fluid.io.DataLoader.from_generator() instead.`
用的是AIStudio上的paddlepaddle2.0.1

[2021-03-23 08:47] zhengvh commented on #26389
有官方的人员来解决一下吗？我是在训练时出现的这个错误。还有一个这个waring:
`- WARNING - paddle.fluid.layers.py_reader() may be deprecated in the near future. Please use paddle.fluid.io.DataLoader.from_generator() instead.`
用的是AIStudio上的paddlepaddle2.0.1

[2021-03-23 08:59] Wall-ee commented on #31547
但是编译后 的python 安装文件又出问题了  出现这个:
报告zipfile 问题
[code]

[2021-03-23 09:00] helen88 commented on #31798
我是想用paddle2.0的新特性来实现，paddle1.X版本的已经实现了，2.0要取到梯度信息都是静态图的写法，那还是静态图了，就没有利用起paddle2 动静统一的特性了。

[2021-03-23 10:14] andreazanetti commented on #28522
adding to point b) above:
I see 3 possible ways to do it. With reference to the following code taken from the `__call__(self, param, grad, block): `  method in L2DecayRegularizer class in file [regularizer.py](https://github.com/PaddlePaddle/Paddle/blob/release/2.0/python/paddle/fluid/regularizer.py#L229)

        inputs = {"X": [param]}
        attrs = {"scale": self._regularization_coeff}

[2021-03-23 11:04] juncaipeng commented on #31103
@wojtuss
When the QAT applies PACT, the input tensor of the fake_quantize_ops is clipped by pre-process function, so the output scales came from 'out_threshold' are different from the output scales came from fake_quantize_ops. When the QAT doesn't apply PACT, the output scales are the same.  (⊙o⊙)…

In #31783,  you have fix the scale propagation bug of scale op, so the accuracy of mobilenetv3 is c

[2021-03-23 11:13] chenwhql commented on #31633
![image](https://user-images.githubusercontent.com/22561442/112137202-ee451b00-8c0a-11eb-975c-0c9811611df4.png)
从日志上看，挂在stack_grad这个op了，这个op的实现输入检查没写好，在没有确定输出是否是空指针的情况下就调用了，导致了段错误

一方面，后面需要在这里增强一下输入检查，至少以报错的形式，提示这里是输出为空导致

另一方面，您这里会报这个问题，大概率是因为stack的部分前向输入是stop_gradient=True的，也就是不生成反向变量，所以这里反向变量为空，麻烦您check一下你stack的输入都有哪些，这些输入的stop_gradient属性是否设置成了False，如果不是，您需要调用tensor.stop_gradient=False配置一下，padd

[2021-03-23 12:00] JZ-LIANG commented on #31809
timeline 并结合如下参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/advanced_guide/performance_improving/multinode_training_improving/cpu_train_best_practice.html

[2021-03-23 12:04] nickyoungforu commented on #31633
您好，我这边的代码逻辑就是stack的输入里会有一部分的tensor是没有梯度的。这样操作在torch里不会报错，可以跑通。

[2021-03-23 12:10] phlrain commented on #31633
紧急修复方案可以通过设置stop_gradient来解决该问题；
同时我们会同步增强op实现和完善报错信息，可以不设置stop_gradient也能保证可以正确运行；修复完成之后我们会把pr信息同步

| |
hong
***@***.***
|

Signature is customized by Netease Mail Master

在2021年03月23日 20:04，nickyoungforu 写道：

stop_gradient

您好，我这边的代码逻辑就是stack的输入里会有一部分的tensor是没有梯度的。这样操作在torch里不会报错，可以跑通。

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscrib

[2021-03-23 12:12] wojtuss commented on #31111
@juncaipeng ,
A fix is submitted: https://github.com/PaddlePaddle/Paddle/pull/31820.

[2021-03-23 12:17] T8T9 commented on #31769
不太确定，可以关注下paddle 官网的通知 https://www.paddlepaddle.org.cn/

[2021-03-23 13:10] phlrain commented on #31610
这个看起来是个很严重的问题，我们高优修复下。

[2021-03-23 14:16] wojtuss commented on #31103
@juncaipeng
I have verified that PR https://github.com/PaddlePaddle/Paddle/pull/31820 fixes that problem.
Please, confirm that it works for you as well.

[2021-03-23 14:48] andreazanetti opened #31825 "Question about L2regularizer and L1regularizer implementations"
Hi, I am trying to understand the implementation related to L2regularization as I would like to contribute with a different form of regularization suitable for QAT-training. Please see [#28522](https://github.com/PaddlePaddle/Paddle/issues/28522)

Let's consider L2 regularization: according to documentation L2 regularization for a param is computed like L2reg = 0.5 * reg_coeff * reduce_sum(param^2

[2021-03-24 02:09] wsy1991 commented on #31809
这是训练啊，我是想提升推理阶段的性能

[2021-03-24 02:35] TronYY opened #31827 "B站强化学习 parl的quickstart例子跑不了"
****************************************
Paddle version: None
Paddle With CUDA: None
OS: Windows 10
Python version: 3.8.5
CUDA version: 11.1.74
Build cuda_11.1.relgpu_drvr455TC455_06.29069683_0
cuDNN version: None
Nvidia driver version: 456.43

B站上科科老师的强化学习教程“世界冠军带你从零实践强化学习”第三节课，让我们安paddlepaddle 1.6.3的版本，可是压根没有这个版本了。安装最新版 但是parl的quickstart例子又跑不了，要求paddlepaddle版本小于2.0

在parl那边提了这个问题 但是那边解决不了 让我问这边

[2021-03-24 03:13] gzwzzu commented on #31799
代码是：

#对车牌图片进行处理，分割出车牌中的每一个字符并保存
license_plate = cv2.imread('work/车牌.png')
gray_plate = cv2.cvtColor(license_plate, cv2.COLOR_RGB2GRAY)
ret, binary_plate = cv2.threshold(gray_plate, 175, 255, cv2.THRESH_BINARY) #ret：阈值，binary_plate：根据阈值处理后的图像数据
#按列统计像素分布
result = []
for col in range(binary_plate.shape[1]):
    result.append(0)
    for row in range(binary_plate.shape[0]):
        result[col] = resu

[2021-03-24 03:20] GuoQuanhao commented on #31738
谢谢

[2021-03-24 03:20] #31738 closed, assigned to Aurelius84

[2021-03-24 03:22] GuoQuanhao commented on #31737
已解决

[2021-03-24 03:22] #31737 closed, assigned to Aurelius84

[2021-03-24 03:22] LeoMax-Xiong commented on #31597
@MrChengmo 如果更新镜像的话，可以再这里回复一下。

[2021-03-24 03:26] juncaipeng commented on #31103
@wojtuss
The #31820 does not fix the problem. The outputs of the real int8 model are still different from the fake int8 model and the fp32 model.

The output image of the fp32 model:
![image](https://user-images.githubusercontent.com/52520497/112248859-a9b09280-8c91-11eb-97af-9e6790e614b3.png)

The output image of the fake int8 model:
![image](https://user-images.githubusercontent.com/52520497/112

[2021-03-24 05:02] zh794390558 commented on #31741
提供得脚本不是2.x的。

[2021-03-24 05:04] zh794390558 commented on #31741
这个脚本不是2.x用的脚本，请使用2.x提供的。

[2021-03-24 05:11] #31609 closed, assigned to ForFishes

[2021-03-24 05:13] #31611 closed, assigned to ForFishes

[2021-03-24 05:21] vslyu commented on #31827
cuda11只有paddle2.0以上的预编译包，建议你这边降低cuda的版本再安装paddle1.8或者1.7的低版本，或者在cuda11的环境下自行编译paddle版本。

[2021-03-24 05:34] TronYY commented on #31827
那我把cuda卸载，只使用cpu

然后我按照parl那边的建议whl安装paddlepaddle 1.6.3的
[code]
为啥显示paddle没有装上呢
****************************************
Paddle version: None
Paddle With CUDA: None
OS: Windows 10
Python version: 3.7.10
CUDA version: None
cuDNN version: None
Nvidia driver version: 456.43
****************************************

然后跑train.py
[code]

[2021-03-24 05:40] Irvingao commented on #31767
@wangye707 你好，请问是否修复该问题？修复后能否在这里通知一下，感谢！

[2021-03-24 05:45] Yaoxingtian commented on #31740
THANK YOU ! nvcc info as below.  Yes, it's just a warning, can be trained successfully . I thought it was a problem before and tried to solve it ... it's ok now!

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Thu_Jun_11_22:26:38_PDT_2020
Cuda compilation tools, release 11.0, V11.0.194
Build cuda_11.0_bu.TC445_37.28540450_0

[2021-03-24 06:16] wangye707 commented on #31767
@Irvingao 暂时还没修复，修复后我来回复你

[2021-03-24 06:30] LDOUBLEV commented on #31761
try:
[code]

[2021-03-24 06:55] TronYY commented on #31764
怎么都没人回答啊  还说推荐飞桨，别用了得了

[2021-03-24 07:01] christine415 commented on #31567
有使用的例子吗？

[2021-03-24 07:05] Yaoxingtian commented on #31033
你改了什么？ 我的cuda10.1 cudnn7.6的没错啊

[2021-03-24 07:43] juncaipeng commented on #31111
@wojtuss
The problem has been fixed. Please cherry-pick #31820 to release 2.0.

[2021-03-24 07:43] #31111 closed, assigned to lidanqing-vv

[2021-03-24 07:45] lidanqing-vv commented on #31606
@arlesniak  Hi, I saw your PR is merged, can I close this issue

[2021-03-24 08:29] vslyu commented on #31827
你这边python train.py使用的python3.7的conda虚拟环境吧？建议你先在此环境下使用python -m pip list |grep paddle确认下paddlepaddle是否装上？～

[2021-03-24 08:44] DemoMoon opened #31838 "oneDNN 如何能提升DeepSpeech的语音处理性能"
信息如下：
1.Python 3.7.6
2.paddlepaddle 2.0.0
3.oneDNN-2.1.2
4.CPU：  32  Intel(R) Xeon(R) Platinum 8259CL CPU @ 2.50GHz
5.DeepSpeech 分支 release/v1.8.5

aishell 中文识别需要3分钟。目前是单核CPU在处理。

我需要如何操作呢，还是安装完oneDNN，paddle就会自动使用多核CPU呢？

[2021-03-24 08:54] wojtuss commented on #31103
@juncaipeng
Commenting out the `self._gather_output_scales_from_attr(graph)` disabled quantization of some `elementwise_add` operators. You can do that also by adding the option `--ops_to_quantize "conv2d,concat"` to the `save_quant_model.py` script call, making only `conv2d` and `concat` operators quantized. I would disable quantization of `elementwise_add` (and possibly `concat`) because quantiz

[2021-03-24 08:57] #30309 closed, assigned to wojtuss

[2021-03-24 08:58] DemoMoon commented on #31838
(venv) [root@ip build]# ctest
Test project /home/oneDNN-2.1.2/build
        Start   1: cpu-bnorm-u8-via-binary-postops-cpp
  1/107 Test   #1: cpu-bnorm-u8-via-binary-postops-cpp ...............   Passed    0.02 sec
        Start   2: cpu-cnn-inference-f32-cpp
  2/107 Test   #2: cpu-cnn-inference-f32-cpp .........................   Passed    0.49 sec
        Start   3: cpu-cnn-inference-int8-cpp

[2021-03-24 09:06] weihyemail commented on #31769
paddle1.8版本有这个问题吗

[2021-03-24 09:15] helen88 commented on #31798
update paddle, newer paddle will support Tensor get grad in training process.

[2021-03-24 09:15] #31798 closed, assigned to JZ-LIANG

[2021-03-24 09:25] DemoMoon commented on #31741
paddlepaddle 切换到1.8.5 ，训练完，再执行model仍然报这个错

[2021-03-24 09:25] DemoMoon commented on #31741
Warming up ...
Warm-up Test Case %d: %s 0 ./dataset/xmspeech/mao.flac
./dataset/xmspeech/mao.flac
[libprotobuf ERROR /paddle/build.noavx/third_party/protobuf/src/extern_protobuf/src/google/protobuf/message_lite.cc:119] Can't parse message of type "paddle.framework.proto.VarType.TensorDesc" because it is missing required fields: data_type
/home/DeepSpeech/tools/venv/lib/python3.7/site-packages/padd

[2021-03-24 09:26] arlesniak commented on #31606
@lelelelelez  @lidanqing-intel Thank you for the info. The issue didn't show up after I rebuilt my Paddle locally from starting from empty build folder. Therefore I close the issue. Thank you for you time.

[2021-03-24 09:26] #31606 closed, assigned to lelelelelez

[2021-03-24 09:32] lu1kaifeng opened #31842 "eval时conv2d层报错，'Filter' (position 1) must be Tensor, but got Parameter"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.1
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：cuda100
    4）系统环境：windows 10 python37
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
    2）CMake包含路径的完整命令
    3）API信息（如调用请提供）
    4）预测库来源

[2021-03-24 10:19] Irvingao commented on #31767
我在JetPack 4.4.1的版本上，agx xavier报错Segmentation fault：
![image](https://user-images.githubusercontent.com/58903762/112293585-43e1fc00-8ccd-11eb-8538-338449949a05.png)

[2021-03-24 10:33] Yaoxingtian commented on #31795
我的环境是：win10， cuda10.1，cudnn7.6， paddlepaddle 2.0 .1release， paddleDetection2.0

我在部署ppyolo的时候，用vs2017，cmake3.17.5，成功编译生成可执行文件main.exe后，运行main.exe报错：Load symbol getPluginRegistry failed
并弹出：应用程序无法正常启动0xc0000142。 我在cmake编译的时候并没有用cuda和cudnn，也没用tensorrt。
搞了很久，不知道是什么问题，麻烦了！

[cid:d7042feb-22bb-42c4-a9ba-9e7e1ed3937c]

发送自 Outlook<http://aka.ms/weboutlook>

________________________________
发件人: JZ-LIANG

[2021-03-24 11:31] lleesg commented on #30387
TRT的问题还木有解决

[2021-03-24 11:58] Shixiaowei02 commented on #31764
您好，飞桨只支持 64 位操作系统。请在源码编译前阅读文档，谢谢！
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html

[2021-03-25 00:53] Irvingao opened #31856 "NVIDIA Jetson AGX Xavier JetPack4.3安装paddle gpu whl报错：Illegal instruction (core dumped)"
- 版本、环境信息：
    1）PaddlePaddle版本：Paddlepaddle2.0.0-gpu（直接安装官方编译好的whl）
    2）系统环境：NVIDIA Jetson AGX Xavier JetPack4.3 Ubuntu18.04、Python3.6.9

- 安装方式信息：
1）pip安装官方whl
![image](https://user-images.githubusercontent.com/58903762/112402413-7597a900-8d47-11eb-8a47-84d17820b598.png)

- 复现信息：如为报错，请给出复现环境、复现步骤
![image](https://user-images.githubusercontent.com/58903762/112401910-77ad3800-8d46-11eb-833a-e130

[2021-03-25 00:56] Irvingao commented on #31856
在 JetPack4.4.1中安装Paddlepaddle2.0.0-gpu成功，但是运行Paddle-Inference-Demo/python/run_demo.sh，到yolov3处报错如下：
![image](https://user-images.githubusercontent.com/58903762/112402535-ae378280-8d47-11eb-9e4d-76906dd98604.png)

[2021-03-25 02:28] wangye707 commented on #31856
Jetpack4.3系统的第三方依赖库numpy是有点问题的，你试下 import numpy会不会出问题？

[2021-03-25 02:54] wangye707 commented on #31856
@Irvingao 上面Jetpack4.3系统的numpy问题解决方法：
python3 -m pip  install numpy==1.18.3 -i https://mirror.baidu.com/pypi/simple，或者用其他方法安装1.18.3版本的numpy,1.18.5

[2021-03-25 03:07] Irvingao commented on #31856
@wangye707 我现在已经将板子刷成了4.4.4版本。
我依然使用官方编译好的whl。
请问JetPack 4.4.1 GPU预测 Segement fault这个是因为CUDA、cudnn版本问题无法正常使用？

[2021-03-25 03:13] Abris-087 commented on #31715
是多显卡环境，需要更新显卡驱动，配置环境变量到正确的CUDA版本下，并且安装nccl2.x。

[2021-03-25 03:13] #31715 closed, assigned to huangjun12

[2021-03-25 03:37] pangyoki commented on #31856
请问执行`paddle.utils.run_check()`有问题吗？

[2021-03-25 05:02] Irvingao commented on #31856
@pangyoki 执行`import paddle`就会崩溃，还没到`paddle.utils.run_check()`这一步呢。

[2021-03-25 05:28] chenwthu opened #31862 "持续打印warning信息，疑似包冲突"
ubuntu 18.04.1
paddlepaddle-gpu 2.0.1
python 3.8.0

同时导入paddle和ray时，终端每隔1秒打印一条log，如图
![image](https://user-images.githubusercontent.com/16147671/112423034-d84f6b80-8d6c-11eb-8394-377a147d35f0.png)

复现代码
[code]

[2021-03-25 05:29] vslyu commented on #31838
请问你走到是推理还是训练？～

[2021-03-25 05:33] vslyu commented on #31842
你的Filter 应该传入个tensor进去，而非Parameter

[2021-03-25 05:42] zh794390558 commented on #31838
DeepSpeech 分支 release/v1.8.5 已经不维护了，paddle 2.x 后建议使用develop分支上的代码，之后会release/2.0的分支。
mkl加速，需要编译支持mkl的paddle, 同时enable paddle mkl，优化线程数和其他mkl相关配置。
目前paddle2.0 cpu运行deepspeech有已知的精度问题，正在修复中。 GPU已经修复了，develop已合入，准备合入2.0.2分支。
https://github.com/PaddlePaddle/Paddle/pull/31846

[2021-03-25 06:05] lu1kaifeng commented on #31842
传进去的，就是tensor，训练没有问题，一旦恢复ckpt之后传进去输入，就给我报这个

[2021-03-25 06:06] wangye707 commented on #31856
@Irvingao  你import  numpy呢？

[2021-03-25 06:06] #31590 closed, assigned to nobody

[2021-03-25 06:17] DemoMoon commented on #31838
推理

[2021-03-25 06:40] AIpioneer commented on #31809
profile是用来进行分析的，如果你已经知道那一部分耗时比较严重，就要考虑从网络设计上进行设计，尝试做一些改进，这个不是通过proflie或者和timeline能够做的。

[2021-03-25 08:36] vslyu commented on #31842
你的paddle版本用的哪个版本？如果为2.0，
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/io/save_cn.html#save 建议使用新的save/load

[2021-03-25 08:42] pangyoki commented on #31862
收到，已复现该问题，感谢你的反馈，我们排查下具体原因。
请问这个问题对你使用paddle有什么影响吗？

[2021-03-25 08:52] Wall-ee opened #31868 "v2.0.1 版本 编译预测库 指定tensorrt_root 报告 没有用到这个变量，路径没用"
v2.0.1版本，jetson nano 编译 预测库
cmake语法
[code]
指定tensorrt_root后  camke 报警
[code]

查看CMakeLists.txt 没有这个参数 发现

[code]

[2021-03-25 09:04] Wall-ee commented on #31868
找到问题了 必须手动指定一下with tensorrt     到 on 就行

[2021-03-25 09:04] #31868 closed, assigned to pangyoki

[2021-03-25 09:14] chenwthu commented on #31862
出现过一次程序卡住的情况，不确定是否是该问题引起的

[2021-03-25 09:21] #31748 closed, assigned to luotao1

[2021-03-25 09:48] seiriosPlus commented on #31421
1. 使用`paddle.nn.Embedding`接口，在训练后会得到一个名为`SparseFeatFactors `（跟用户配置有关）的文件， 可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/08_model_save_load_cn.html#canshuzairu 进行模型加载。
2. 可将加载后的参数通过numpy转换为numpy自行使用。
3. 关于查询：
    1. 使用`paddle.nn.Embedding`接口保存的embedding是一个（词表*维度）的一个矩阵，ID为[0, N-1)。 用户可以自行采用ID映射行的方式，获取到指定ID的embedding.

[2021-03-25 10:07] Irvingao commented on #31856
@wangye707
### `import numpy`报错：

![image](https://user-images.githubusercontent.com/58903762/112455397-a3efa580-8d94-11eb-84e8-1d2aa4a4d7c6.png)

### `python3 -m pip install numpy==1.18.3 -i https://mirror.baidu.com/pypi/simple`后，安装paddle-gpu成功，`import paddle`无报错。

![image](https://user-images.githubusercontent.com/58903762/112459037-5bd28200-8d98-11eb-8a71-6a5ab7716f98.png)

[2021-03-25 10:12] Irvingao commented on #31856
我可否重装一个python3.6.9再下载numpy呢？

[2021-03-25 10:15] yilvshifeng commented on #31495
我也遇到同样的问题，求解决方法！

[2021-03-25 12:13] Irvingao commented on #31856
问题解决，安装numpy==1.18.3即可。

[2021-03-25 12:13] #31856 closed, assigned to pangyoki

[2021-03-25 12:49] #31741 closed, assigned to Aurelius84

[2021-03-26 03:13] lidanqing-vv commented on #30309
Note: Reproduction https://github.com/lidanqing-intel/Ocr_det

[2021-03-26 03:39] jeffzhengye commented on #20377
也遇到这样的坑，留给用户极端不友好。

[2021-03-26 05:52] duohappy opened #31879 "Windows下编译推断库的疑问"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.1
    2）GPU：cuda 10.2 cudnn 7.6.5
    4）系统环境：windows10

- 编译步骤
参考[安装与编译 Windows 预测库](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_inference_deployment/inference/windows_cpp_inference.html)

**cmake命令**
[code]

**vs编译，报错，需要从github上下载众多源码，这个编译是不是也困难了？**
[code]

[2021-03-26 05:57] duohappy opened #31880 "windows下编译推测库文档问题"
参考[安装与编译 Windows 预测库](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_inference_deployment/inference/windows_cpp_inference.html)

这份文档里，我发现有1个问题，提出来大家一起讨论下

文档中有一句话
 `# Windows默认使用 /MT 模式进行编译，如果想使用 /MD 模式，请使用以下命令。如不清楚两者的区别，请使用上面的命令`

现在的windows下，很少用/MT模型进行编译了，一般的开源库，都是默认用/MD模式进行编译的。
官方是不是应该推荐使用/MD，而不是/MT呢？

[code]

[2021-03-26 06:00] duohappy opened #31881 "跟踪一下”关于LD_LIBRARY_PATH"的问题"
你好，我上上周提出了一个issue，不知道你们测试的结果是否出来了？

@iclementine

https://github.com/PaddlePaddle/Paddle/issues/31683

[2021-03-26 06:10] wanghuancoder commented on #31879
Paddle中使用了很多第三方库，在编译阶段需要首先现在第三方库的源码。从您的日志来看，是现在源码时候失败了，可能是链接国外网络不好导致的。

[2021-03-26 06:16] wanghuancoder commented on #31880
Paddle作为深度学习框架，需要考虑多种环境下的运行兼容性问题。/MT 模式不依赖系统中是否有相应的DLL文件。否则，使用/MD 可能会出现因缺少DLL，Paddle在部分机器上无法正常运行的问题。

[2021-03-26 06:26] ForFishes opened #31882 "[BUG]动态图中Embedding中参数如果共享，会导致该参数的梯度属性发生变化。"
【问题描述】embedding中如果选择sparse=True，那么参数的梯度类型是SelectedRows类型。但是如果该参数和其他参数共享，那么它的梯度类型就会变成LodTensor类型。
代码如下：

情况一（不共享参数）
[code]

情况二（共享参数）
[code]

从上面对比看，共享之后参数梯度的类型发生了变化。这里会导致paddle DataParallel执行失败。目前看之前的2.0是没有该问题的，最新的develop可以复现该问题。

[2021-03-26 06:36] duohappy commented on #31879
+ 每个源码库都有自己的版本，paddle直接下载，而不指定源码库的版本号，能够保证时时刻刻兼容嘛？
+ 国内编译paddle库，有点费劲了，很难编译成功

[2021-03-26 06:54] duohappy commented on #31880
好吧，对于现代的机器，个人观点推荐使用 /MD，如果无法运行，再推荐使用/MT

在使用其他开源库时，基本都是使用/MD编译，如果paddle库只用/MT编译，如果混用的话，很可能报错，而且难以排查。

[2021-03-26 07:02] wangxicoding commented on #31789
![image](https://user-images.githubusercontent.com/10208305/112594323-b8d74200-8e43-11eb-99a4-1033f9f4215e.png)
你的数据集在哪儿？
另外处理数据可以尝试用一下cv2（需要先pip install opencv-python），可能PIL对某些图片格式支持有问题。
[code]

[2021-03-26 07:40] gromzhu opened #31885 "paddle 1.8.2 save inference 是报错var read_file_0.tmp_5 not in this bloc"
paddle 1.8.2
python3
save_inference_model时报错
Traceback (most recent call last):
  File "run_page_transformer_seq_label.py", line 421, in <module>
    main(args)
  File "run_page_transformer_seq_label.py", line 365, in main
    params_filename="__params__"
  File "/home/users/zhuzhenyu02/.local/lib/python3.6/site-packages/paddle/fluid/io.py", line 1246, in save_inference_model
    prepend_feed_ops(

[2021-03-26 07:56] Xray112247 commented on #23286
...找了半天shape对不齐的原因，原来在这

[2021-03-26 08:31] JimXu1989 opened #31886 "怎么方便的从硬盘加载图像分类图片数据集，并且计算得到训练集的均值和方差？"
你好，
可以提供从上述功能的示例程序吗？
我使用的是ubuntu20.04 ,paddle 2.0.0 我在计算的时候得到下列报错：
fail to perform transform [<paddle.vision.transforms.transforms.ToTensor object at 0x7f6f6f13f250>] with error: (External)  Cuda error(3), initialization error.
  [Advise: The API call failed because the CUDA driver and runtime could not be initialized. ] (at /paddle/paddle/fluid/platform/gpu_info.cc:229)
 and stack:
Traceback (mos

[2021-03-26 09:13] Shixiaowei02 commented on #31885
您好，请问 1.8.5 有问题，1.5 没问题；指的是完全相同的代码么？如果是这样，2.0 会有问题吗？

[2021-03-26 09:14] Shixiaowei02 commented on #31885
您好，请问 1.8.5 有问题，1.5 没问题；指的是完全相同的代码么？如果是这样，2.0 会有问题吗；如果 1.5 没问题，而相同代码在 2.0 有问题；我们会在 2.0 上进行复现并修复。谢谢

[2021-03-26 10:39] gromzhu commented on #31885
代码完全相同，py3 1.8.2报错，py2 1.5保存成功

[2021-03-26 12:17] wanghuancoder commented on #31879
源码库在Paddle里有指定~
下载确实是个问题，我跟运营的同事反馈一下~

[2021-03-26 12:25] Shixiaowei02 commented on #31885
请使用最新的 2.0 版本试下，谢谢

[2021-03-27 03:21] duohappy commented on #31879
好的，感谢！:+1:

[2021-03-27 03:21] #31879 closed, assigned to wanghuancoder

[2021-03-27 14:04] lu1kaifeng opened #31897 "动转静存储存储格式不一问题"
动转静存储存储格式不一问题
`out_dygraph, static_layer = TracedLayer.trace(net, inputs=np.moveaxis(ip[0], (3), (1)))
    static_layer.save_inference_model('./checkpoint_static/net', feed=[0], fetch=[0])`
通过文档中描述方式将动态图模型转为静态图
![QQ图片20210327220220](https://user-images.githubusercontent.com/11407836/112723148-1eacf200-8f48-11eb-8f76-39b51aeb36c0.png)
当利用
`paddle.static.load_inference_model()`
恢复时报错，
paddle.static.

[2021-03-28 03:08] ShaneTian opened #31898 "`paddle.io.Dataset` 与 `paddle.io.DataLoader` 数据加载设备问题"
- 标题：`paddle.io.Dataset` 与 `paddle.io.DataLoader` 数据加载设备问题
- 文档版本信息：2.0

- 问题描述：
1. 现状：
    1. 整个模型代码全局使用了 `fleet`，意味着使用了全局 `CUDAPlace`
    2. 在加载数据集的时候，复写了 `paddle.io.Dataset`，并且 `paddle.io.DataLoader` 中未指定 `place`
2. 问题：
    1. 发现随着数据集的增大，占用的显存越来越大，很容易 OOM
    2. 按照如上方式，是否将数据集加载到了显存而不是内存中
    3. 如何将数据集加载到 CPU 中，每次 forward 的时候再转到 cuda 中，可以节省显存
3. 示例代码：
[code]

[2021-03-28 03:53] ShaneTian commented on #31605
那对于使用 1.x 接口开发中使用过该接口的用户来说，这个问题没发现的话，岂不一直用的是错的？
这是 BUG，还是得修复下吧。。。

[2021-03-28 07:55] LeoMax-Xiong commented on #31387
python3.8 的 no avx 版本只支持 windows, 什么时候能支持 centos 等 linux 平台。
唉。

[2021-03-28 15:41] Yaoxingtian commented on #31795
麻烦帮忙解答一下，谢谢

[2021-03-28 16:32] gaolexx opened #31905 "RuntimeError: (PreconditionNotMet) Tensor holds no memory. Call Tensor::mutable_data firstly."
单机多卡` loss.backward() `时发生` RuntimeError: (PreconditionNotMet) Tensor holds no memory. Call Tensor::mutable_data firstly.`

同程序单卡运行是没问题的。

报错信息：
[code]

环境信息：
[code]

- 训练信息
    1）单机单卡一切正常，单机多卡会报如上的错
    2）显存信息：运行时` batch_size `设置的十分地小，在` loss.backward() `之前设置断点验证后可断定没有爆显存
    3）报错前的` loss `为` shape `为` [1] `的值，一切看着很正常

我实验了一下，目前找不到最小复现代码。请帮我分析一下这可能是什么问题？若需要代码才能分析 如流 联系 gaolei20

[2021-03-29 02:11] LiuHao-THU commented on #10633
这个问题解决了吗？

[2021-03-29 03:04] gaolexx commented on #31905
在代码中注释掉` loss.backward() `后可以单卡和多卡都可以正常运行，说明应该是` loss.backward() `的问题？

[2021-03-29 03:09] heavengate commented on #31886
您好，当前paddle不支持在子进程里操作GPU Tensor，只支持子进程操作CPU Tensor，可以试下`paddle.set_device('cpu')`

[2021-03-29 03:31] TCChenlong commented on #31638
这个API被移动到 PaddleSeg 中了，具体的实现可以参考下：https://github.com/PaddlePaddle/PaddleSeg/blob/release/v2.0/paddleseg/utils/metrics.py#L74 这里

[2021-03-29 03:51] gaolexx commented on #31905
换成paddlepaddle 2.0.0后出现了新的错误：
[code]

[2021-03-29 04:05] duohappy opened #31907 "C++ API预测库文档的问题"
[C++ 预测 API介绍](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_inference_deployment/inference/native_infer.html)

[code]

`input`是数组，不能用变量定义数组长度，这是明显的错误

[2021-03-29 04:07] gaolexx commented on #31905
刚刚误操作了，issue继续保持打开，问题仍未解决。

对于换成paddlepaddle 2.0.0后的新问题，想问forward返回的必须是计算出来的tensor嘛，返回None, None, Tensor可以吗？

换成paddlepaddle 2.0.0后，单卡还是没问题，多卡报错

[2021-03-29 04:23] duohappy opened #31909 "C++ windows 推断报错paddle::platform::EnforceNotMet"
### 系统信息
windows 10
cuda 10.2
cudnn 7.6.5
tensorrt TensorRT-7.0.0.11.Windows10.x86_64.cuda-10.2.cudnn7.6
paddle预测库：cuda10.2_cudnn7_avx_mkl_trt7
测试模型：http://paddle-inference-dist.cdn.bcebos.com/tensorrt_test/mobilenet.tar.gz

### 代码
[code]

### 输出信息

[code]

断点调试在`auto predictor = paddle_infer::CreatePredictor(config);`报错
[code]

[2021-03-29 04:35] zhwesky2010 commented on #31909
@duohappy 您好，是否是路径问题，``config->SetModel(model_dirname + "\\__model__");``  会报错吗

[2021-03-29 04:41] duohappy commented on #31909
刚试过了，不是路径问题

**`/`** 是linux和windows下通用的，我在编程中，windows下一般也是用 **`/`**

[2021-03-29 04:57] zhwesky2010 commented on #31907
@TCChenlong  您好，文档问题，麻烦给每个 int 加一个 const修饰下，谢谢 @duohappy 指正

[2021-03-29 04:58] zhwesky2010 commented on #31909
@jiweibo @OliverLPH  麻烦看下预测库问题

[2021-03-29 05:17] duohappy commented on #31907
@zhouwei25 @TCChenlong

虽然g++用变长数组不会报错，但是并不是所有的C++编译器都是这样的

我建议不是加 `const`，就目前流行的C++ 11标准来说，加const也是不行的

建议不要用变长的数组，这样容易引起不兼容。
[code]

https://stackoverflow.com/questions/15013077/arrayn-vs-array10-initializing-array-with-variable-vs-real-number

[2021-03-29 05:19] jiweibo commented on #31909
您好，感觉config设置预测模型路径有点问题

如果加载combined形式模型
void SetModel(const std::string& prog_file_path,
              const std::string& params_file_path);

如果加载非combined形式模型
void SetModel(const std::string& model_dir);

可参考文档 https://paddleinference.paddlepaddle.org.cn/api_reference/cxx_api_doc/Config/ModelConfig.html

[2021-03-29 05:43] duohappy commented on #31909
@jiweibo 感谢

好吧，我又仔细看了下文档，强烈建议好好更新下 **服务端部署C++** 的文档吧[https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_inference_deployment/inference/index_cn.html](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_inference_deployment/inference/index_cn.html)，简直太乱了，根据文档不可能部署成功的。

# 模型问题
根据这篇文档， https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_in

[2021-03-29 05:51] gaolexx commented on #31905
paddlecloud job: `job-0bb606161c010bd5`

[2021-03-29 07:34] zhwesky2010 commented on #31905
这个也是可以的，只需要把返回的output正确处理好就可以

[2021-03-29 07:37] pmajchrzak opened #31914 "Build error in lite_mul_model_test.cc"
Most likely, the changes made to the contribution number: https://github.com/PaddlePaddle/Paddle/commit/7d91974c91b427d12e40a644518993a22dc0b1a3
corrupted the python paddle module build process.

CMAKE:
[code]

SYSTEM:
[code]

Build log with error:
[code]

[2021-03-29 07:38] gaolexx commented on #31905
那请您看看job-0bb606161c010bd5，它是因为什么而不能多卡运行？2.0.0会在前向的时候就报错，2.0.1在loss.backward()的时候会报错。而且2.0.0和2.0.1报错都不一样。如果2.0.1注释掉 loss.backward() 那么它就可以正常运行。

[2021-03-29 07:43] zhwesky2010 commented on #31905
@gao-lex 这个看起来是代码写的有问题，backward时的反向计算中，与一个空Tensor做了ShareDataWith
![image](https://user-images.githubusercontent.com/52485244/112803080-7f9e0c80-90a5-11eb-88b7-cd8d955f8c36.png)

[2021-03-29 08:01] zhwesky2010 commented on #31909
这个主要是Windows预测库的文档，对应的是比较早期的Paddle版本了，很久没更新了，也需要更新维护、测试下 @AIpioneer @jiweibo @TCChenlong

[2021-03-29 08:47] zhwesky2010 commented on #31914
@Shixiaowei02 Can `lite_mul_model_test.cc` not be compiled by gcc4.85 now?

[2021-03-29 08:49] zhwesky2010 commented on #31905
这个只是触发了不同地方的报错自检查位置，没其他问题。

前向就报错说明组网不对，组网计算过程中产生了空的Tensor。

[2021-03-29 09:09] lyuwenyu opened #31927 "paddle.to_tensor dtype probelm"
- paddle 2.0.1
- see code below

[code]

[2021-03-29 09:10] Joejiong commented on #31897
您好，收到你的问题，正在查看，@chenwhql，帮忙看看，谢谢
@lu1kaifeng，你这个link好像不对

save和load得配合使用，生成combined model file。就是两个文件格式的 model 文件。具体生成过程得按下面这个方式来做，才会生成combined model file。

将模型及其参数保存到指定的路径。例如，path_prefix="/path/to/modelname" ，在调用 save_inference_model(path_prefix, feed_vars, fetch_vars, executor) 之后，你可以在 "/path/to" 目录下找到两个文件，分别是 "modelname.pdmodel" 和 "modelname.pdiparams"，前者表示序列化之后的模型文件，后者表示序列化之后的参数文件。

https://ww

[2021-03-29 09:13] Joejiong commented on #31898
您好，感谢你的问题，这是一个不错的问题，请问您环境配置的share memory的大小是多少呢

[2021-03-29 09:14] Shixiaowei02 commented on #31914
Sorry, it is caused by my c++ syntax error, I fixed it in https://github.com/PaddlePaddle/Paddle/pull/31930

[2021-03-29 09:15] ShaneTian commented on #31898
`DataLoader` 的 `use_shared_memory` 未做配置，使用默认值 `False`

[2021-03-29 09:17] juncaipeng opened #31928 "OCR INT8 models raise mkldnn error"
C++ API
Ubuntu 16.04
6148 CPU
MKLDNN
GCC 4.8.5

Contact danqing to download the demo.

Make and install paddle develop (commit id:`51eb29de18adcf8c20272218f105eb1c2135cc09`) or paddle release2.0 (commit id: `c7a6a1f9610a9ee018c19d89950d76b38f33aed1`).

Run `sh run.sh`  and then `./build/model_test --single_thread=true`  or `./build/model_test --single_thread=false`, get the error as follows.

[cod

[2021-03-29 09:19] juncaipeng commented on #31928
@lidanqing-intel @wojtuss
The customers meet this bug, please take a look at it with the highest priority. Thank you.

[2021-03-29 09:20] Joejiong commented on #31898
可以尝试配置一下shm到128G，如果是docker环境，可以通过docker参数设置：`--shm-size="128g"`, 同时设置，use_shared_memory=True

[2021-03-29 09:24] gaolexx commented on #31905
@zhouwei25 那请问什么叫空的Tensor呢？shape为[0]这样的tensor嘛？在python中，怎么针对这种情况进行debug呢？

[2021-03-29 09:39] zhwesky2010 commented on #31905
是指没有分配显存的，动态图中可以打印每个地方生成的Tensor就能看到，如果是没有分配显存，print时就会报错。

[2021-03-29 09:42] zhwesky2010 commented on #31927
@lyuwenyu  有一个dtype的处理问题，这个问题是dtype只支持str或np.dtype类型的输入，没有处理Paddle的内建类型，https://github.com/PaddlePaddle/Paddle/pull/31931 已经修复了。如果着急的话，可以输入dtype='float32'

[2021-03-29 10:11] gaolexx commented on #31905
@zhouwei25 我的输入tensor全都能打印出来，模型本身是ernie-gen，我没改过模型内部。有没有其他的可能原因呢？

[2021-03-29 10:17] zhwesky2010 commented on #31905
@gao-lex 2.0.0会在前向的时候就报错，这一句是哪一句报的错，是loss.backward()报错的吗？2.0.0应该和2.0.1的问题是一致的，只是自检的地方不同

[2021-03-29 11:39] gaolexx commented on #31905
2.0.0报错在
![image](https://user-images.githubusercontent.com/16011052/112830168-c0f1e480-90c4-11eb-8fa6-f6df3e0e1dd3.png)

初次之外，我还发现了一个新的奇怪的地方：
![image](https://user-images.githubusercontent.com/16011052/112831175-25fa0a00-90c6-11eb-8e88-2ea4cdb7578c.png)

这张图上：
1. setp:- rank:- name:- shape:- place:-是我的dataloader返回的所有的输入
2. step:- rank:- loss:- 是计算的loss
3. step:- rank- loss.backward() runed! 说明第一步

[2021-03-29 14:14] juncaipeng commented on #31928
@wojtuss

The customer wants to deploy several model on the same time. They create all predictors in the main thread, and then run predictors in the Child thread. Besides, all predictors use MKLDNN. Does this way cause problems?

[2021-03-29 14:47] johnenvpath opened #31938 "运行太慢了！一秒两张图片"
1）PaddlePaddle V2.0
2）CPU/GPU：AMD Ryzen 3600, RTX3060, CUDA 11.1, CUDNN 8.1.1.33
3）系统环境：Ubuntu 20.10

运行faster_rcnn_r50_1x。
太慢了！每秒只有两张图片！显存使用一开始是10000MB+，后面降到5000MB+。

[2021-03-30 01:20] #30906 closed, assigned to littletomatodonkey

[2021-03-30 01:56] lyuwenyu commented on #31927
good job

[2021-03-30 02:16] wsy1991 commented on #14217
大佬请问您解决这个问题了嘛。我也遇到了@phlrain

[2021-03-30 02:48] T8T9 commented on #31769
1.8.5 也是稳定版，paddle1.x和paddle2.x的区别参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/01_paddle2.0_introduction/update_cn.html

[2021-03-30 03:12] SeanInfinity opened #31942 "关于给网络层赋值的方法"
paddle版本：v2.0.1
我想问一下，如果我想将一个训练好的网络的某层的参数进行一些处理后，再赋值给另一个网络的层，有哪些方法可以做到？我查到的就只有在网络定义时用paddle.ParamAttr，或者使用set_state_dict()，是否有更方便的方法？只能用.parameters()或named_parameters()或state_dict()获得参数后，再一个个处理好放入collection.OrderedDict对象，最后用.set_state_dict()赋值吗？
还请赐教。

[2021-03-30 03:16] linmuchuiyang commented on #29849
同问，我也在Unbuntu的环境下遇到类似问题，不知道怎么解决的，能否贴出相关解决方案。

[2021-03-30 03:21] KernelErr commented on #29849
当时判断是gcc版本过高导致的，我降级为gcc 7.5编译成功。希望对你有所帮助。

[2021-03-30 03:22] linmuchuiyang commented on #29849
好的，多谢，我也试一试

[2021-03-30 03:24] ForFishes commented on #31905
第二个step报错是符合预期的。因为当前设计，是在第二个step的时候去检查第一个step的执行情况是否符合预期。所以实际还是第一个step出了问题。

[2021-03-30 03:29] Jeffrey98-AI opened #31943 "单机多卡 inference 预测"
   1）PaddlePaddle 2.0：
    3）GPU：单机四卡 nvidia GPU，
    4）系统环境：ubuntu

    如何使用 python 实现单机多卡的 inference 调用，是直接使用 python 的多进程吗？每个卡独立初始化一个模型，还是 paddle 有自己的处理方式？

[2021-03-30 03:59] wsy1991 commented on #14217
请问您解决这个问题了吗。我也遇到了相同

[2021-03-30 04:01] chenwhql commented on #31942
据我了解，您说的就是目前可行的办法，也没有别的更好的办法了

[2021-03-30 05:37] baiwei-yndx commented on #31092
建议看一下reader.yml  评估模块drop_empty: ture（同样问题，我原来为drop_empty: false改为ture即可）

[2021-03-30 05:56] BingzhangZhu commented on #26389
same question here.

[2021-03-30 06:44] haozech commented on #31943
你好，预测api介绍可以参考此文档。如果要使用单机多卡训练，可以建立多个predictor，同时在enable_use_gpu时，将每个predictor设置不同的gpu device id，这样在运行时每个predictor即可使用不同的gpu资源。

[2021-03-30 07:00] AlwaysGemini opened #31952 "测试官方用例，需要等待二十多分钟才开始训练"
    1）PaddlePaddle版本：2.0.1
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：GTX 3070，CUDA 10.1、CUDNN 7.6
    4）系统环境：Windows 10，Python 3.6

- 训练信息
    1）单机，单卡
    2）显存信息：8G
    3）Operator信息

运行官方用例后，需要等待二十分钟左右才会开始训练

[code]

[2021-03-30 07:13] zhwesky2010 commented on #31938
@jerrywgz 麻烦看下faster_rcnn_r50_1x的这个速度符合预期吗

[2021-03-30 07:18] jerrywgz commented on #31938
您好，检测问题可以到PaddleDetection repo下提issue https://github.com/PaddlePaddle/PaddleDetection ；并且说明下PaddleDetection版本以及运行命令

[2021-03-30 07:57] #31927 closed, assigned to zhwesky2010

[2021-03-30 07:59] haozech commented on #31952
你好，建议可以先用python中time模块统计每步的耗时，定位是在哪一步的耗时超出预期，方便定位问题。

[2021-03-30 08:08] duohappy opened #31955 "C++ api文档问题"
https://paddleinference.paddlepaddle.org.cn/api_reference/cxx_api_doc/Config/ModelConfig.html

官方C++ api文档中
[code]
`paddle_infer::Config`的数据类型是 `Struct`，`config()`这个什么?

一般不是如下代码就行么？
[code]

文档中的代码全部经过测试了么？`paddle_infer::Config config();`明显报错

[2021-03-30 08:14] wuyefeilin commented on #31952
@AlwaysGemini 可以把issue提到PaddlePaddle/PaddleSeg repo中，方便我们进行跟踪

[2021-03-30 08:27] AlwaysGemini commented on #31952
我刚刚debug了一下，一步一步走到内部，
总路线：
train.py: 136行：cfg.model↓
config.py: 256行：self._model = self._load_object(model_cfg)↓
config.py: 323行：return component(**params)↓
bisenet.pu:  54行：self.db = DetailBranch(db_channels)↓
bisenet.pu:  192行：layers.ConvBNReLU(3, C1, 3, stride=2),
最终在layer_libs.py 的39-40行

self._conv = nn.Conv2D(
            in_channels, out_channels, kernel_size, padding=padding, **kwargs)

不动

[2021-03-30 08:32] SeanInfinity commented on #31942
哎，好吧。
谢谢你的回答。

[2021-03-30 08:32] #31942 closed, assigned to haozech

[2021-03-30 09:18] gaolexx commented on #31905
@ForFishes @zhouwei25
多谢你们的帮助，的确是
[code]
这部分的组网方式不能直接model = P.DataParallel(model)

所以，修改方式为把模型包装成下面的形式：
![image](https://user-images.githubusercontent.com/16011052/112965495-e4c43180-917b-11eb-816e-c3daa52347e5.png)

[2021-03-30 09:18] #31905 closed, assigned to ForFishes

[2021-03-30 10:23] haozech commented on #31955
感谢反馈！相关同学已经在排查此文档问题

[2021-03-30 10:52] Superjomn commented on #31955
config 和 config() 语义上是一样的吧。  都是直接调用无参的构造函数。

这个应该没有问题

[2021-03-30 10:58] Superjomn commented on #31955
貌似的确有一些问题

http://spalatnik.com/blog/2011/01/20/parenthesis-confusion-in-c-plus-plus/

我们改下文档，谢谢！

[2021-03-30 11:22] wuyefeilin commented on #31952
@AlwaysGemini 麻烦把issue提到PaddleSeg repo, 以便跟踪

[2021-03-30 11:57] cheungxi opened #31964 "龙芯处理器平台编译错误"
- 标题：龙芯处理器平台编译错误
- 版本、环境信息：
    1）PaddlePaddle版本：commit 6dca7a1de70a85b16e2fa8d7f1affd5c632ca10c
    2）CPU：Loongson 3A4000
    3）GPU：
    4）系统环境：Loongnix 1.0 kernel 3.10.84-23.fc21.loongson.8.mips64el、Python版本 3.7
。
- 安装方式信息：
- 本地编译：`cmake .. -DPY_VERSION=3 -DPYTHON_EXECUTABLE=`which python3` -DWITH_MIPS=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_XBYAK=OFF -DWITH_MKL=OFF

[2021-03-30 12:07] Jeffrey98-AI commented on #31943
我是这么处理的，每张卡独立初始化一个predictor，然后用python的多进程去调用，传入数据，后面会报这个错误 OSError: (External)  Cuda error(3), initialization error. Advise: The API call failed because the CUDA driver and runtime could not be initialized.
具体指向这里 input_tensor.copy_from_cpu(img)

[2021-03-30 12:41] wojtuss commented on #31928
@juncaipeng
Using single thread I get the error every time. Using multiple threads, the error sometimes occurs and sometimes does not.
I am still looking into it.

[2021-03-30 13:05] wojtuss commented on #31928
To me it looks like a problem with oneDNN cache. I asked oneDNN team for help.

[2021-03-30 14:11] yujiate opened #31967 "多轮对话中单轮和多轮分支不一致会出现NAN"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0
    3）GPU：V100，cuda10.0
    4）系统环境：python3.7

在多轮对话的训练过程中需要使用之前对话的信息，在第一轮之后获取之前的对话编码信息，而第一轮因为前面没有对话不需要获取，因此训练时会进入两个分支，此时如果不进行特殊处理会在训练过程中出现无法解释的NAN(该部分的参数变为NAN，同时loss受该部分数据影响，随之变NAN)。当预设一个虚拟变量为第一轮的之前的对话信息，将第一轮和之后的训练步骤对齐（此时不论第一轮还是之后都会获取之前的对话信息，第一轮获取的是预设的虚拟变量的信息），训练可以顺利进行，该现象无法解释。

[2021-03-30 20:39] mhillebrand opened #31968 "Compilation errors regarding cudNN"
I'm trying to compile PaddlePaddle release/1.8 from source using NVIDIA's TensorRT Docker image (nvcr.io/nvidia/tensorrt:21.03-py3). In my Dockerfile, I'm installing CUDA 10.2, cuDNN 8.1.1, and NCCL 2.8.4 using Ubuntu `apt-get install` commands.

The `cmake` command is successful, but the `make` command fails with strange errors like this:
[code]

I should mention that I had to set some environmen

[2021-03-30 21:44] #31968 closed, assigned to chenjiaoAngel

[2021-03-30 21:45] mhillebrand commented on #31968
I found a PaddlePaddle container that already comes with TensorRT, CUDA, and cudNN. However, I'm having the same problem during compilation. I'll create a separate ticket.

[2021-03-30 22:07] mhillebrand opened #31969 "Compilation errors regarding cudNN"
I'm trying to compile PaddlePaddle `release/1.6` from source using one of PaddlePaddle's supplied Docker images ([registry.baidubce.com/paddlepaddle/serving:latest-cuda10.2-cudnn8-devel](https://github.com/PaddlePaddle/Serving/blob/develop/doc/DOCKER_IMAGES.md)).

The `cmake` command is successful, but the `make` command fails with strange errors like this:
[code]

I've tried `release/1.6` and `re

[2021-03-30 22:08] Labstrakt commented on #31968
Here's that new ticket I just created: https://github.com/PaddlePaddle/Paddle/issues/31969

[2021-03-31 00:51] duohappy commented on #31909
不仅仅是windows预测库文档，而是整个预测库文档，最好全面审查一下。感觉这些代码没有经过测试就直接手敲上去的，不然也不会有这么明显的错误

https://github.com/PaddlePaddle/Paddle/issues/31955

[2021-03-31 01:08] mhillebrand commented on #31969
Oh, duh. These errors resulted from trying to use cuDNN 8. I switched to the CUDA 10.1 / cuDNN 7 docker image, and it worked great!

`latest-cuda10.1-cudnn7-devel`

[2021-03-31 01:08] #31969 closed, assigned to chenjiaoAngel

[2021-03-31 01:58] jiweibo commented on #31964
您好，看样子是依赖的最低cmake版本发生了变化，请升级cmake到3.16试下

[2021-03-31 02:32] rock4you opened #31972 "静态图如何将tensor转为numpy"
PaddlePaddle 1.8.4，实现GHM Loss
在计算损失函数的时候，中间需要进行如下操作：
             g  = fluid.layers.abs(logit - label)    #g的尺寸 N * class_num ；
             判断g的每个位置是否在某个取值区间，从而得到一个与g同尺寸的 True/False 矩阵M；
             对矩阵M进行统计，得到与g相同尺寸的权重矩阵W

简单的做法是将g转为numpy，不过文档中没有找到相关的教程，所以问题是：静态图，如何将tensor转为numpy
或者提供其他能够解决上述问题的方式。

[2021-03-31 02:38] haozech commented on #31967
您好，能否提供简单的可复现代码？方便我们定位问题

[2021-03-31 02:44] haozech commented on #31943
请使用nvidia-smi指令查看cuda driver是否正确安装和初始化

[2021-03-31 02:49] chenwhql commented on #31972
将g加到exectuor的fetch list里面，fetch回来默认就是numpy

[2021-03-31 02:56] rock4you commented on #31972
有没有示例代码？

[2021-03-31 02:58] chenwhql commented on #31972
您的executor.run怎么写的，加到fetch list里就行
![image](https://user-images.githubusercontent.com/22561442/113084181-125aba80-9210-11eb-879c-fd1205e9e57e.png)

[2021-03-31 03:00] rock4you commented on #31972
损失函数里只传进来两个参数，logit和label，还要把train_program传进来才行？

[2021-03-31 03:03] chenwhql commented on #31972
没太懂，您方便贴下关键代码吗

[2021-03-31 03:05] rock4you commented on #31972
[code]

[2021-03-31 03:07] chenwhql commented on #31972
也需要executor相关的

[2021-03-31 03:10] jiamingming-004 opened #31974 "部署时，运行预测器输出空列表"
在AIstudio中训练yolov3模型，将其保存为推理预测部署所需要的模型、参数文件，版本为1.8，部署预测时，j将输入数据转为paddletensor，是有结果输出的，在执行预测引擎时，输出为空。

在人脸检测中（模型是paddlehub导出的），不存在如下问题，而换了自己训练（Aistudio中）的模型yolov3，就出现错误如下错误

#  以下是出现错误的部分：
batch_image = np.array([data['image'] for data in batch_data])
print(47, batch_image)              #  输出：   [[[[-0.015625 -0.1015625 -0.2109375 ... -0.3046875 -0.234375 -0.1015625] [-0.1328125 -0.21875 -0.3046875

[2021-03-31 03:11] rock4you commented on #31972
损失函数是独立的文件，是需要train.py里的exec吗

[2021-03-31 03:12] rock4you commented on #31972
[code]

[2021-03-31 03:12] chenwhql commented on #31972
噢那您需要在这里把g作为结果返回，传到train.py的exe.run的fetch_list参数中，不需要传program进来

[2021-03-31 03:13] jiamingming-004 commented on #31974
如果是训练模型的问题，我可以提供原模型链接

[2021-03-31 03:13] chenjiaoAngel commented on #31974
这个输出为空，是可以正常运行，输出tensor shape为0 名？

[2021-03-31 03:14] fan-chao opened #31975 "paddle模型转onnx模型时能否对输出层的名称重命名？"
使用paddle2.0转onnx时，可以看到下面的input有一个字段name对输入进行重命名。
现在因为有个需求，想在运行时，获取输出的名字，但是当前的名字一般为save_infer_model/scale_0.tmp_0，有点长，想重新命名，不知道是否有这个功能？如果有，如何命名？

`
def main():
    global_config = config['Global']

    # build model
    model = build_model(config['Architecture'])

    init_model(config, model, logger)

    model.eval()

	#定义输入数据
    input_spec = paddle.static.InputSpec(shape=[1, 3, 640, 640], dtype

[2021-03-31 03:16] chenjiaoAngel commented on #31974
yolov3模型的预处理、输入shape、后处理是不是和人脸检测模型不一样额。如果是，这个需要修改预处理/后处理代码；你也可以尝试用全一数据处理，直接调用预测库API（https://paddle-lite.readthedocs.io/zh/latest/api_reference/python_api_doc.html），看是否有输出；

[2021-03-31 03:18] jiamingming-004 commented on #31974
好的，这方面我还没有想到，我去看看

[2021-03-31 03:18] cryoco commented on #31943
https://stackoverflow.com/questions/22950047/cuda-initialization-error-after-fork
cuda使用fork方式多进程有一些问题，可以使用多线程，每个predictor绑定一个线程，不同predictor的config中，通过enable_use_gpu(init_mem_size, gpu_id)设置不同的gpu_id在不同卡上预测

[2021-03-31 03:26] rock4you commented on #31972
能帮忙写一下吗？没太明白

[2021-03-31 03:32] chenwhql commented on #31972
不知道您其他代码怎么组织的，大概类似这样
[code]

[2021-03-31 03:33] rock4you commented on #31972
好的，我试试，非常感谢

[2021-03-31 03:33] chenwhql commented on #31972
[code]
这种写法是不行的，静态图在exe.run之前，属于组网阶段，这些变量都没有实际值的

[2021-03-31 03:33] rock4you commented on #31972
ok

[2021-03-31 04:39] cheungxi commented on #31964
但是我看安装手册上说3.9就可以

[2021-03-31 06:31] rock4you commented on #31972
损失函数在train.py line 237 这里被调用，
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/pdseg/train.py#L237

exe.run在 train.py line 330
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.7.0/pdseg/train.py#L330

想要根据gg内部的值，计算出一个weight，再结合label计算损失，应该怎么改呢？

[2021-03-31 06:39] chenwhql commented on #31972
这是组网的一部分，那你要用paddle API接着组网，比如你想怎么计算就要在gg那个地方接着写
[code]

要理解静态图声明计算的过程和实际执行是分开的，你先用API组网，声明你想要进行的计算，exe.run的时候才会执行

[2021-03-31 06:54] rock4you commented on #31972
上面我定义的那个ghm_loss函数，需要用到两个变量logit, label，这两个变量是在model_builder.py中才有，在train.py中并没有定义，没法直接这么写吧？有没有现成的例子可以参考的？

[2021-03-31 06:58] vived opened #31981 "paddle2.0 c++ setmodel 预测崩溃"
![微信截图_20210331145541](https://user-images.githubusercontent.com/8553649/113102903-31b60f80-9231-11eb-9d7d-883176b5c585.png)

下载使用了两个版本的预测库都这样

![微信截图_20210331145749](https://user-images.githubusercontent.com/8553649/113103154-7cd02280-9231-11eb-8bdf-9aff307155fe.png)

用的是VS2017,win10系统

使用Python paddle2.0.1用这model是可以预测的

[2021-03-31 07:02] chenwhql commented on #31972
Seg模型实现不是很熟悉，这个麻烦 @chenjiaoAngel 找PaddleSeg的同学帮这位同学看看

[2021-03-31 07:32] mapingshuo opened #31983 "文档错误"
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/dygraph_cn/LayerNorm_cn.html#canshu

![image](https://user-images.githubusercontent.com/23031310/113107219-3e893200-9236-11eb-882b-f287efe9d7f7.png)

[2021-03-31 07:41] songsong-L opened #31984 "参数更新"
**System information**
-PaddlePaddle version 2.0
-CPU: including CPUMKL/OpenBlas/MKLDNN version
-GPU: including CUDA/cuDNN version
-OS Platform and Distribution Ubuntu18.0.4
-Python version 3.6

**Describe your current behavior**
在paddlepaddle2中，如何修改计算出的梯度（方案需要），然后执行梯度下降的时候用我修改的梯度？类似的实现在TensorFlow1中是使用apply_gradients()来实现的。
**Other info / logs**
执行梯度下降的step()函数似乎没有对应文档说明，可否实现apply_gradients()这个功能。

[2021-03-31 07:52] duohappy commented on #31983
我打开后，没有错误，这个应该和网络有关，加载了与latex语法相关的库

[2021-03-31 08:37] duohappy commented on #31981
根据官方的文档，我同样也没有运行成功过

https://github.com/PaddlePaddle/Paddle/issues/31909

[2021-03-31 10:10] chenwthu commented on #31862
另外，在断点调试时也会持续打印log，这个影响比较大

[2021-03-31 10:17] cheungxi commented on #31964
确实升级之后，成功安装。
但是为什么会提示使用的是GPU version
![image](https://user-images.githubusercontent.com/11963792/113129332-5a4c0280-924d-11eb-949a-9b03e7bcd620.png)

[2021-03-31 11:05] juncaipeng opened #31992 "Deploying multiple models at the same time will raise MKLDNN error"
* Info

C++ API
Ubuntu 16.04
CPU MKLDNN
GCC 8.2.0

* Prepare

Please contact danqing to download the demo. The demo only has two group models for test.

Download [model_test.cc.zip](https://github.com/PaddlePaddle/Paddle/files/6248677/model_test.cc.zip), unzip model_test.cc.zip, use the new model_test.cc to update the old model_test.cc file in the demo.

Make and install paddle release2.0 (commit

[2021-03-31 11:07] saviord7 opened #31993 "PaddlePaddle in AI Studio Baidu"
Hello!

How I can fix problem with dynamic library in AI Studio ?

[code]

I tried do `export`, but it does not help.

[2021-03-31 12:04] ljayx opened #31997 "使用Paddle2.0做模型预测，预测结束后Predictor析构过程耗时明显"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.1
    2）CPU：Intel(R) Xeon(R) Gold 5117 CPU @ 2.00GHz
    3）GPU：Tesla P4, CUDA10.0 + CUDNN7
    4）系统环境：Ubuntu 16.04

- 预测信息
    1）C++预测：使用的官方预编译库：ubuntu14.04_cuda10.0_cudnn7_avx_mkl_gcc54
    2）预测库来源：官网下载

- 复现信息：使用的官方[预测库](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/05_inference_deployment/inference/build_and_install_lib_cn.html#zhijiexiazaianzh

[2021-03-31 13:11] ShaneTian commented on #31898
读取 Dataset 到 CPU 还是 GPU 有设置的方式吗？默认的行为是什么呢？

[2021-04-01 02:04] chenjiaoAngel commented on #31993
你看下LD_LIBRARY_PATH这个变量是否export成功了；如果是Windows，需要set PATH，查看PATH是否设置成功

[2021-04-01 02:04] Shixiaowei02 commented on #31997
您好，请确认在程序中不会频繁创建析构 Predictor 对象；因为此对象涉及内存和显存资源的申请释放，所以构造析构相对耗时较长。

[2021-04-01 02:05] mhillebrand opened #32000 "ImportError: /usr/local/lib/python3.6/site-packages/paddle/fluid/core_noavx.so: undefined symbol: _Py_ZeroStruct"
I've compiled PaddlePaddle `release/1.8` using Docker image `registry.baidubce.com/paddlepaddle/serving:latest-cuda10.1-cudnn7-devel`. My CPU is an AMD Threadripper 3970X that does not support AVX_512, so I've turned off AVX and MKL with my Cmake command:

`$ cmake .. -DPY_VERSION=3.6 -DWITH_FLUID_ONLY=ON -DWITH_GPU=ON -DCUDA_ARCH_NAME=All -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DWITH_AVX=O

[2021-04-01 02:14] chenwhql commented on #31984
是说指定反向的起始梯度吗？目前，默认使用的是全1.0的起始梯度，是说要改这个吗

[2021-04-01 02:15] ljayx commented on #31997
@Shixiaowei02 没有频繁创建，用的推理代码就是上面贴出来的官方给出的demo，只有一次推理。
![image](https://user-images.githubusercontent.com/29032384/113234083-2c110600-92d3-11eb-8eb5-71cfbe43c2e2.png)

paddle1.8版本没有这个问题。

[2021-04-01 02:22] ljayx opened #32002 "设置日志等级问题"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.1
    2）CPU：Intel(R) Xeon(R) Gold 5117 CPU @ 2.00GHz
    3）GPU：Tesla P4 + CUDA10
    4）系统环境：Ubuntu16.04

- 预测信息
    1）C++预测：使用的官方预编译库和官方demo （C++）。
    4）预测库来源：官网下载

- 复现信息：`export GLOG_V=10` 后，执行官方demo，并没有更多log打印。

- 问题描述：请问如何设置log等级，我试了`export GLOG_V=10`，然后再执行官方提供的C++ demo，但是日志打印并没有变化，还是很少。因为要排查问题，需要多打点log，希望告知如何正确设置log等级。谢谢。

[2021-04-01 02:23] songsong-L commented on #31984
w = w - a*G ,每一层上都有计算出的偏导，需要对这些梯度（G）重构（修改），开发文档说是保存在grad这个属性中，是不能改属性的。

[2021-04-01 02:25] jiweibo commented on #31981
您好，请确认下模型的名称正确吗？corangle.pdmodell 还是 corangle.pdmodel，如果没问题的话，可以使用VS2015测试下，库是在VS2015上编的，不太清楚直接换用2017会不会有问题

[2021-04-01 02:27] songsong-L commented on #31984
w = w - a*G ,每一层上都有计算出的偏导，需要对这些梯度（G）重构（修改），开发文档说是保存在grad这个属性中，是不能改属性的。

[2021-04-01 02:30] wadefelix commented on #31983
我是用safari和edge for mac打开网页，公式均正确渲染出来了，但是需要点儿时间。
请问您使用的浏览器版本是？

[2021-04-01 02:32] songsong-L commented on #31984
backward()反向计算出每一层上的梯度，需要重构（要改的）就是每一层上的这些梯度，改完之后再执行梯度下降更新参数。

[2021-04-01 02:41] chenjiaoAngel commented on #29841
已建立相关卡片，有专门同学在处理中。 @cjt222 @程军

[2021-04-01 02:44] BaofengZan commented on #31880
@duohappy @wanghuancoder  你好，我在win10下编译了MD的dll，但是再demo中使用MD生成exe时，一直报错。反而使用MT模式就可以编译生成exe。 是不是应为MD的dll没有真正编译成功呢？

[2021-04-01 02:52] chenwhql commented on #31984
嗯嗯，明白了，您现在用的是2.0动态图吗？

tensorflow里面，您使用的是这个方法吗？
https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer#apply_gradients

[2021-04-01 03:03] songsong-L commented on #31984
是的，2.0动态图。对，用TensorFlow1实现的时候用的是apply_gradients(),并且改变梯度张量是通过自定义op实现的，将自定义op的返回值（也就是已经重构过的值）apply进去。TensorFlow1里的apply_gradients应该是静态图的，没用过TensorFlow的动态图

[2021-04-01 03:09] songsong-L commented on #31984
TensorFlow1实现流程是这样的：
computer_gradients()计算梯度=>自定义op修改梯度=>apply_gradients()
但是，现在用paddle2不知道如何实现这种玩法了！

[2021-04-01 03:11] duohappy commented on #31880
由于我的网络状况不好，所以没有编译成功过paddlepaddle推断库，这个问题我无法准确的回答你。还是等官方给出答复吧。建议把编译的系统环境，编译命令，也贴出来，官方人员容易分析

现在用官方编译好的DLL，但是也没有运行起来一个demo，很遗憾。

[2021-04-01 03:14] chenjiaoAngel commented on #31975
目前不能支持修改输出层名称，建议查阅下onnx的相关api，看是否能对转换后的onnx模型输出进行重命名

[2021-04-01 03:27] chenwhql commented on #31984
2.0静态图也可以使用类似你之前的方法去做，用apply_gradients去实现，静态图也有这个API

但2.0的动态图还没有比较方便的方法能做这件事，在动态图里我理解可以用Tensor.register_hook+自定义op的方式去实现这个目的，但Tensor.register_hook目前仅在develop中支持了，会随2.1发版，2.0目前还不能使用这个功能

或者就是用一些比较硬的做法，比如可以写一个特殊的自定义op，这个op的前向就直接返回输入tensor，反向的时候按照你的处理规则对梯度进行处理，然后把这个op接到网络中

[2021-04-01 03:36] songsong-L commented on #31984
好的，多谢！我觉得框架都注重正向计算，然后自动微分，正常就很方便，够用了。但是对于研究的人，在反向阶段也希望做一些处理，希望对梯度的处理部分也有比较好的API。再次感谢！

[2021-04-01 03:41] chenwhql commented on #31984
您客气了，刚刚说在动态图下的方案已经有了，只是还没正式发布，您也可以提前了解下：

- hook（2.1发版）， 代码与示例如下：https://github.com/PaddlePaddle/Paddle/blob/4acc87beb2110e9966327dbd427e0cdc17e05841/python/paddle/fluid/dygraph/varbase_patch_methods.py#L245
- 自定义Op（2.0已有），教程文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/new_custom_op.html

[2021-04-01 03:49] #31975 closed, assigned to chenjiaoAngel

[2021-04-01 06:41] wadefelix commented on #31983
针对渲染慢的问题，我们已修复并更新。
感谢您的反馈。

请问公式渲染不出来的问题还在么？

[2021-04-01 06:49] mapingshuo commented on #31983
已没有问题了，谢谢

[2021-04-01 07:35] vived commented on #31981
我为了尝试错误，任何对的错的字符串都试了，都是这错误。

[2021-04-01 08:12] #31983 closed, assigned to chenjiaoAngel

[2021-04-01 08:55] jiweibo commented on #31981
@vived 您好，如果模型可以公开的话，可以share下模型，我本地复现下问题，或者您换一个开源模型测下，看是否是环境的问题。

[2021-04-01 09:02] jiweibo commented on #31964
这个log可能有点误导，应该是run_check在检测的时候先以cuda place去测试demo能否正常运行，这个过程中报的log。

看最后的works well on 2 CPUs就可以

[2021-04-01 09:33] mapingshuo opened #32023 "问卷已过期"
![image](https://user-images.githubusercontent.com/23031310/113274562-68af2280-9310-11eb-9744-019588256408.png)

![image](https://user-images.githubusercontent.com/23031310/113274506-5c2aca00-9310-11eb-942b-a47b1d3f89b7.png)

[2021-04-01 09:40] LutaoChu commented on #31972
@rock4you 你好，我看你的代码中对g的操作只有比较
[code]
推荐使用fluid.layers.greater_than，和fluid.layers.less_than，不推荐转numpy，能用paddle op实现尽量用paddle op

[2021-04-01 09:40] haozech commented on #31964
您好，如果问题已解决请关闭issue~

[2021-04-01 09:51] lps683 opened #32024 "训练报错predict_data:-nan"
稳定复现以下错误，是啥原因
Traceback (most recent call last):
  File "script/local_train.py", line 17, in <module>
    model_output_back="./output"
  File "/home/disk2/work/liupeisen/look_like/model/train_env/multi_task_model/script/train.py", line 653, in train
    train_loop(fluid.default_main_program())
  File "/home/disk2/work/liupeisen/look_like/model/train_env/multi_task_model/script/train.py", line 592,

[2021-04-01 09:59] cheungxi commented on #31964
谢谢

[2021-04-01 09:59] #31964 closed, assigned to haozech

[2021-04-01 10:19] Jeffrey98-AI commented on #31943
感谢解答，采用多线程可以解决，另外再请教一个问题 os.environ["FLAGS_allocator_strategy"] = 'auto_growth' 这样设置paddle会自动实现 GPU 显存管理 (如清理缓存) 吗？实际预测的时候batch size 并不是很大，但是显存占用越来越大，到后面几乎占满了全部显存。

[2021-04-01 10:26] cryoco commented on #31943
除非predictor所在进程结束，否则不会主动释放所占用的显存。您可以使用
[code]
开启显存复用，降低总显存占用，或使用
[code]
在完成一轮预测后尝试通过释放中间Tensor来降低显存占用

[2021-04-01 10:42] btobab opened #32027 "优化器的方法中minimize和step有什么区别？"
- 文档版本信息：2.0.1
- 环境：AiStudio
我在复现经典gan的时候，将D(好图片)和(1-D(坏图片))加起来，然后取负数，调用优化器的minimize方法
然后将D(G(噪声))取负数，同样调用minimize方法，意思就是让D给好图片打高分，坏图片打低分，G让自己生成的图片被D打高分
但是训练出来，预测结果跟预期是相反的，D给好图片几乎打0分，G预测出的图片跟训练集一点都不像。
然后我看了一位大佬的代码，发现我跟他的区别就是多了负号，以及我用的是minimize,他用的是step，我不是很了解这个bug的原因

[2021-04-01 11:31] rock4you commented on #31972
那这里的edges[i] 数值怎么转variable呢？

[2021-04-01 11:33] LutaoChu commented on #31972
这里不需要转吧
如果不支持的话试试slice op

[2021-04-01 11:34] rock4you commented on #31972
TypeError: The type of 'y' in greater_equal must be (<class 'paddle.fluid.framework.Variable'>, <class 'paddle.fluid.core_avx.VarBase'>), but received <class 'int'>.

[2021-04-01 11:41] rock4you commented on #31972
具体怎么写呢？我这里需要拿Variable和一个float类型的变量值进行对比

[2021-04-01 11:52] lmk123568 opened #32028 "您好，这是关于Paddle.nn.Conv2D问题"
- 版本、环境信息
1）PaddlePaddle版本：2.0
2）CPU/GPU：GPU
3）系统环境：linux

您好，我是一名飞桨使用者，目前工作是论文的复现

[code]
该输出会报错，查看源代码时候，发现conv2d类没有增加相应类变量，比如self.in_channels=in_channels，而上面的代码在torch可以运行，请问是否考虑增加类变量，让调用更加方便呢

[2021-04-01 12:05] Shixiaowei02 commented on #31997
@jiweibo 麻烦看下是否和 ShrinkMemory 相关吧，谢谢

[2021-04-01 12:07] LutaoChu commented on #31972
定义的部分改写成如下
edges = np.array([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0001 ] )
edges = paddle.assign(edges)

[2021-04-01 12:11] jiweibo commented on #31997
2.0之后Predictor析构的过程会对全局的内/显存池进行处理，相对于1.8会增加一定的耗时，我profile下这个数据。

[2021-04-01 12:20] rock4you commented on #31972
inds = fluid.layers.greater_equal(x=gg, y=edges[i]) & fluid.layers.less_than(x=gg, y=edges[i+1]) & valid
TypeError: unsupported operand type(s) for &: 'Variable' and 'Variable'
这里说两个Variable之间不能进行 “与运算”, 有没有对应的解决办法？

[2021-04-01 12:29] weiheng-liao opened #32029 "Paddle任何计算结果均为0？"
****************************************
Paddle version: 2.0.1
Paddle With CUDA: True
OS: Windows 10
Python version: 3.8.0
CUDA version: 11.0.194
Build cuda_11.0_bu.relgpu_drvr445TC445_37.28540450_0
cuDNN version: None.None.None
Nvidia driver version: 456.55
****************************************
我想请教一下为什么在我的电脑上，paddle做任何计算结果均为0？这显然是一个错误

是否可能是环境的原因？还是别的什么原因？

期待你的回复！

![021ED3EA46D04E1AA3F8ECF5

[2021-04-01 13:27] btobab commented on #32027
![1](https://user-images.githubusercontent.com/66876429/113300933-09153f00-9331-11eb-8477-be1c8d27e0ca.png)

[2021-04-01 13:42] Wall-ee opened #32031 "jetson nano jetpack4.5 编译 paddle 2.0报错 编译 activation_op.cu.o 出现core dumped,已定位问题"
#31547 这个问题是#31547 的延续. 使用的是 jetpack  4.5还是编译 activation_op.cu.o 时 core dumped。 按照之前的指引和提示，已进行了如下尝试，

1，checkout  v2.0.0或者 v2.0.1 问题依旧
2，制定nccv 和 tensorrt 的目录
3，开启或关闭nccl  还是出现问题

cmake 的命令如下:

开启NCCL
[code]

关闭 NCCL
[code]

出现segment fault  core dumped 的报错如下:
[code]

进一步定位问题，发现是如下命令报错
[code]

再进一步定位问题 如下
[code]

开启  ulimit -c  unlimited ,报错后 招不到 core 文件， 所以没办法进一步跟进

目前发现就是编译这个激活函数的时候 出现问题 无论哪个版本

[2021-04-01 15:54] songsong-L opened #32033 "不能加载so文件？"
![image](https://user-images.githubusercontent.com/54927708/113320673-57ccd400-9345-11eb-9c29-2d8aff93c6bb.png)
自定义op生成了so文件，加载时报错，提示设置环境变量，设置了之后还是报错？？

[2021-04-01 16:46] Labstrakt commented on #32000
I just compiled the `release/2.0` branch...with the same resulting error message. :(

[2021-04-01 20:11] mhillebrand commented on #32000
It turns out this was a confusion between python3 and python2. I ran the following commands:

[code]

Then I turned on AVX and MKL and recompiled. Seems to work now.

[2021-04-01 20:11] #32000 closed, assigned to nobody

[2021-04-02 02:03] wadefelix commented on #31907
附议。C++并不完全支持此类用变量来定义临时数组，特别是这样定义的数组还可能真的爆栈。如您所说，使用`new`从堆区分配是推荐用法。
@TCChenlong

[2021-04-02 02:46] YAwei666 opened #32037 "C++ 部署NotFoundError: Operator (sync_batch_norm) does not have kernel for data_type[float]:data_layout[ANY_LAYOUT]:place[CPUPlace]:library_type[PLAIN]."
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-04-02 02:53] vived commented on #31981
![image](https://user-images.githubusercontent.com/8553649/113375188-75c82200-93a1-11eb-8fa4-7cfb613f010f.png)

算了，我已不用paddlec++版本了，通过注释掉上边的代码，我通过pythonet在c#中可以使用模型预测。

[2021-04-02 02:55] #31981 closed, assigned to chenjiaoAngel

[2021-04-02 04:21] qili93 commented on #32037
@YAwei666 sync_batch_norm 这个算子当前没有CPU kernel的实现，必须得在CUDAPlace下才能使用这个OP，不能使用CPUPlace。

[2021-04-02 04:35] qili93 commented on #32037
你如果是要做CPU预测C++部署的话，建议把模型里面的这个sync_batch_norm都改成batch_norm，把训练时得到的参数保存下来，这两个算子在预测时候从算法上是一样，只不过sync_batch_norm多了跨卡GPU同步的批归一化处理。

[2021-04-02 07:06] Leonardo-Ding commented on #32033
您好，看报错信息如果LD_LIBRARY_PATH设置.so的path没有问题，那么有可能是您自定义op时的方法有问题，请确认使用paddle 2.0官方推荐的方式添加自定义op（https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/new_custom_op.html）

[2021-04-02 07:18] Leonardo-Ding commented on #32028
您好，您提的问题我们会反馈给开发团队，技术讨论后看是否酌情合理增加，谢谢。

[2021-04-02 07:21] Leonardo-Ding commented on #32002
您好，设置log等级应该是export GLOG_v=10 您的大小写拼写有误，谢谢。

[2021-04-02 07:21] Goghzki commented on #31881
同样遇到这个问题，因为无root权限，机器默认安装的是11.2的cuda，8.1.1的cudnn，使用paddle时报错。在自己的home目录下安装cuda和cudnn后，无法通过更改环境变量的方式使paddle切换到自己的cuda和cudnn。
此外，想了解一下RTX30系列的显卡是否安装上10.2的cuda和7.6.5的cudnn就可以正常使用paddle？
蹲一个答案。

[2021-04-02 07:38] duohappy commented on #31881
理论上支持cuda的显卡，装上cuda10.2, cudnn 7.6.5，用paddle是没有问题的
但是对于`LD_LIBRARY_PATH`的问题，不知道官方为什么没有人跟进，仅仅只是回复了，不代表解决了，已经过去16天了

[2021-04-02 07:43] duohappy commented on #31981
不知道官方的C++版本和C++版本的文档经过测试没有，我真心搞不懂，C++版本必须是最重要且最稳定的，我却一直运行不起来

[2021-04-02 07:44] songsong-L commented on #32033
用的是paddle1.8 。我有考虑这种情况，用教程中的relu2_op也报同样的错？如果定义有问题也能生成so？

[2021-04-02 09:54] songsong-L commented on #32033
会不会是aistudio上的gcc版本的问题，paddle是1.8，gcc我看了是7.5的

[2021-04-02 11:00] LutaoChu commented on #31972
你可以用paddle.logical_and实现“与运算”  https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/fluid/layers/logical_and_cn.html#logical-and

[2021-04-02 11:01] rock4you commented on #31972
这么好的算子，竟然没法搜到

[2021-04-02 11:03] Fzldq opened #32054 "2.0动态图只用cpu训练，有办法多线程吗"
2.0动态图，CPU占用一直是130~150%，环境变量设置CPU_NUM=24了也没用。
看到文档里写着：spawn 目前仅支持 GPU collective模式.

请问有办法提高CPU利用率吗。

- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2cpu版
    2）CPU：锐龙3900x
    3）GPU：我只想用CPU
    4）系统环境：20.04.1-Ubuntu，Python3.8.8

- 模型信息
    1）LeNet 2）手写数字识别 4) https://www.paddlepaddle.org.cn/tutorials/projectdetail/1630501 （官方教程，use_gpu设置成False, export CPU_NUM=12, FLAGS_paddle_num_threads=24）

[2021-04-02 11:47] songsong-L commented on #32033
用paddle2也试了，有毒啊。。。
![image](https://user-images.githubusercontent.com/54927708/113412978-3d016a80-93ec-11eb-90fa-b50eb02562de.png)

[2021-04-02 12:03] ronaldpan opened #32056 "paddle DataLoader 循环出错"
Windows 10 64位 GPU，paddle 2.0.1，Cuda 10.1, V10.1.243， 1000个数据
 SimpleDataSet中
   def __getitem__(self, idx):
        self.logger.info('getitem idx: {}'.format(idx))

main中
def test_reader(config, device, logger):
    loader = build_dataloader(config, 'Train', device, logger)
    count = 0
    try:
       for epoch in range(1, 3):
           for data in loader():
            count += 1

[2021-04-03 00:50] bbbxixixixi opened #32057 "paddle如何清空gpu缓存"
在aistudio上运行模型，一旦model.train调用后，就不让再次调用了
试着把pdx.model_built = False，但是前面占用的缓存不会被清除，而且运行会越来越慢
如果python接口不行，是否能通过其他调用方式清空？

[2021-04-03 04:56] songsong-L opened #32058 "AIstudio上不能使用自定义op？"
分别用paddlepaddle1.8.0和2.0.1在AIstudio上按各自的自定义op教程进行使用，直接使用教程上的自定义relu_op的案例，1.8.0的报错为设置环境变量LD_LIBRARY_PATH，设置之后还是报错找不到so文件。2.0.1的报错为
_gcc: error trying to exec 'cc1plus': execvp: No such file or directory
error: command 'gcc' failed with exit status 1_
aistudio的环境不让自定义op吗？？

[2021-04-03 04:58] #31984 closed, assigned to chenjiaoAngel

[2021-04-03 06:10] wenjiett opened #32060 "使用官方预测库报错"
我在使用官网提供的预测库时遇到报错

相关信息：
    vs版本-vs2019
    cuda-10.0
    cudnn-7.6.5
    c++预测库版本-cuda10.0_cudnn7_avx_mkl_trt6
    预测库version.txt文件内容：
    GIT COMMIT ID: ffa88c31c2da5090c6f70e8e9b523356d7cd5e7f
    WITH_MKL: ON
    WITH_MKLDNN: ON
    WITH_GPU: ON
    CUDA version: 10.0
    CUDNN version: v7.4
    CXX compiler version: 19.0.24215.1
    WITH_TENSORRT: ON
    TensorRT version: v6

代码信息：
#include

[2021-04-03 10:54] Irvingao commented on #31767
@wangye707 请问修复了吗？

[2021-04-03 14:26] Reatris commented on #29660
@1771559253 感谢。打包这个实在是问题多多，之前那个多个同名线程的问题我是通过杀线程弄得

[2021-04-04 02:49] gaoyusongcn opened #32061 "安装出现 No matching distribution found for paddlepaddle，已查文档版本对得上"
版本都和文档对得上 [pip-install-error-no-matching-distribution-found-for-paddlepaddle](https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/install_cn.html#pip-install-error-no-matching-distribution-found-for-paddlepaddle)
还是出现这个错误

我是 pip 安装:
[code]

[2021-04-04 07:50] thugbobby opened #32062 "linux编译C++预测库报错"
在进行linux预测库编译时报错，请问如何解决？
按如下命令执行
[code]
执行make的时候报一下错误：
[code]

[2021-04-04 07:56] #32062 closed, assigned to yinhaofeng

[2021-04-04 08:06] lmk123568 opened #32063 "关于inplace"
版本：paddle 2.0

question：torch.nn.ReLU()函数有inplace属性，但是paddle.nn.ReLU()似乎没有，请问有什么别的办法支持inplace操作，或者后续是否会增加这个操作

[2021-04-04 08:30] W2Q3Q1 commented on #31881
我在4卡机器上测试的结果是：无论系统/usr/local/cuda是否存在，无论是否有LD_LIBRARY_PATH，在conda虚拟环境中安装的cuda都是可以被调用的，但是CUDNN不行，只要系统中存在/usr/local/cuda且里面正常安装了cudnn7.3，无论是否有LD_LIBRARY_PATH环境变量，无论conda是否安装了cudnn，都会自动使用/usr/local/cuda下的cudnn，即使这个cudnn不能适配

[2021-04-04 11:02] lidanqing-vv commented on #31928
I experienced with command
[code]

and found the prediction passed successfully.

While following command
[code]
reported same error log as Uss, Wojciech showes. (oneDNN2.2 by default turn on oneDNN primitive cache, so it looks cache mechanism now)

oneDNN team is now investigating it.

[2021-04-04 16:42] gaorui999 opened #32065 "使用HAPI2.0发生Cudnn报错，不知道什么原因"
The loss value printed in the log is the current step, and the metric is the average value of previous step.
Epoch 1/100
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:77: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  return (isinstance(seq, colle

[2021-04-04 20:18] #32061 closed, assigned to yinhaofeng

[2021-04-05 04:05] Bazenr commented on #31795
我也有同样的问题，我的环境是：win10， cuda11.0/11.1，cudnn8.0， paddlepaddle 2.0 .1release
用Cmake编译完后运行main.exe报错：Load symbol getPluginRegistry failed
弹出：应用程序无法正常启动0xc0000142。请点击"确定"关闭应用程序。

输出代码如下：
You are using Paddle compiled with TensorRT, but TensorRT dynamic library is not found. Ignore this if TensorRT is not needed.
WARNING: Logging before InitGoogleLogging() is written to STDERR
E0405 11:46:05.512908 24584

[2021-04-05 06:42] BlackHorseQ opened #32066 "请问paddle中如何实现稀疏向量的操作"
请问paddle2.0中如何实现稀疏向量的操作

[2021-04-05 07:44] Reatris opened #32067 "我使用paddleX预测，paddle报了个异常"
虽然没啥影响，还是来说下

`paddlepaddle-gpu==2.0.1`

`paddlex ==1.37`

异常内容：

`(PreconditionNotMet) The variable named im_info is not found in the scope of the exector.
  [Hint: executor_->scope()->FindVar(name) should not be null.] (at D:\v2.0.1\paddle\paddle\fluid\inference\api\analysis_predictor.cc:791)`

此段异常内容在paddlex使用`segmenter-HRNet`预测的时候会出现

[2021-04-05 09:38] gaorui999 opened #32068 "使用HAPI2.0模型加载报错"
模型加载代码
network = paddle.vision.models.mobilenet_v2(pretrained=False, num_classes=13)
model = paddle.Model(network)

报错信息
`---------------------------------------------------------------------------OSError                                   Traceback (most recent call last)<ipython-input-11-f349579cf11e> in <module>
----> 1 network = paddle.vision.models.mobilenet_v2(pretrained=False, num_classes=co

[2021-04-05 10:02] lixiangjie01 opened #32069 "输出q"
请问在DDPG算法中如何输出q的值，无法直接print

[2021-04-05 11:30] codeWang-J opened #32070 "安装报错"
在安装paddle_Inference后，
在import paddle的时候     -----报 "核心转储" 该怎么解决呢？
是在jetson_nano 上进行安装报的错。

具体报错信息：
yws@yws-desktop:~$ python3
Python 3.6.9 (default, Jan 26 2021, 15:33:00)
[GCC 8.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

非法指令 (核心已转储)

[2021-04-05 11:47] xmy0916 opened #32071 "paddle2.0.1文档中函数random_split不存在"
paddle版本：2.0.1
执行：
from paddle.io import random_split
报错：
ImportError: cannot import name 'random_split' from 'paddle.io'
paddle文档2.0显示有该函数：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/dataloader/dataset/random_split_cn.html#random-split

[2021-04-05 11:56] bbbxixixixi opened #32072 "paddle有多分类的例子和mlogloss的实现吗？"
比如给一段文本，判断属于哪几个类别

[2021-04-05 12:47] gaorui999 opened #32073 "paddle.io.DataLoader中number_work=2直接报错重启"
数据集异步读取numberwork=2不能正常运行
RuntimeError: DataLoader 2 workers exit unexpectedly, pids: 3792, 3793、
代码示例
`train_loader = paddle.io.DataLoader(train_dataset,
                                    places=paddle.CUDAPlace(0),
                                    batch_size=32,
                                    shuffle=True,
                                    num_workers=2,