[2019-08-07 02:37] Xreki commented on #19044
https://github.com/PaddlePaddle/Paddle/issues/18250 中是某个op在保存时有bug。你使用的是哪个模型？也不排除其他op出现bug的可能。

[2019-08-07 02:51] jiangbojian commented on #19044
模型是transformer机器翻译模型，需要注意的是：为了灵活，将要beam search这一整个op拆解成了多个op组装的形式实现。如果使用paddlepaddle提供的beam search这个op，在保存时不会出bug

[2019-08-07 02:54] Xreki commented on #19044
怎么拆的，能否将修改后的代码贴一下。

[2019-08-07 03:10] gavin1332 commented on #19023
收到，我反馈一下这个问题

[2019-08-07 03:12] jiangbojian commented on #19044
代码可以贴，但是比较多，可以提供调试的环境（机器，运行环境），这样更方便一些。近期能否有排期解决这个问题呢？如果排期比较靠后，需要下一版本paddle才能解决的话，我们就再替换回beam search这个op（但与其他部门，工作量会很大）。

[2019-08-07 03:13] Overtown opened #19051 "保存后模型可视化比模型定义最后输出多了一层scale"
![image](https://user-images.githubusercontent.com/20881840/62591926-dae51f00-b903-11e9-9143-1e892f54b97e.png)
网络模型最后一层是sigmoid，但是保存下来的模型用netron可视化之后，发现多了scale层，请问是什么问题。网络定义的脚本如下：Net 函数是主体网络结构。
[code]

[2019-08-07 03:14] gavin1332 commented on #19031
那原bottleneck的代码是否也存在这个问题呢？

[2019-08-07 03:22] Xreki commented on #19044
如果你只是替换了`beam_search`这个op，可以只贴下修改的这部分哈，我尝试定位下错误。

得先确定具体是什么问题，再看是否好解决呀。

[2019-08-07 03:30] gavin1332 commented on #19039
你好，paddle原生使用c++开发，对c++非常友好，而且现在有经过多项业务验证的快速c++预测库，这也是相对于国内其他平台的优势，这块你可以放心。
不过据我所知，短期内不会提供c#接口的支持。

至于文档不全问题，可否给一些论据？或者给我们一些建议。因为我们文档一直在建设，持续在完善，经过多个版本的迭代，很多已知问题已经修复。

[2019-08-07 03:31] gavin1332 commented on #19039
不过paddle serving**未来**的定位是语言无关的，提交http请求即可。可以关注一下

[2019-08-07 03:49] cuicheng01 commented on #19031
原代码不存在这个问题

[2019-08-07 04:05] Xreki commented on #19051
请问你是怎么保存模型的？我保存的模型并没有最后的scale op啊。以下是我测试的代码，简化了模型保存的过程。

[code]

我画出来的图：
![image](https://user-images.githubusercontent.com/12538138/62593951-50a0b900-b90b-11e9-9b53-e16aa5b1304b.png)

[2019-08-07 05:23] fuyi02 opened #19052 "c++预测 固定实例运行模型 多线程压测出core"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及

[2019-08-07 05:26] Overtown commented on #19051
hi，我保存模型的代码：
![image](https://user-images.githubusercontent.com/20881840/62596949-e261f380-b916-11e9-9f77-e7ca8104b8a4.png)
inference 图的定义：
![image](https://user-images.githubusercontent.com/20881840/62596963-f9a0e100-b916-11e9-97fa-b44a69623768.png)

[2019-08-07 05:30] Overtown commented on #19051
hi，我的模型保存方法：
![image](https://user-images.githubusercontent.com/20881840/62597066-57cdc400-b917-11e9-817f-c144e5b8927f.png)
inference 图定义方法：
![image](https://user-images.githubusercontent.com/20881840/62597097-759b2900-b917-11e9-8b68-3eb29ee7dfd0.png)

[2019-08-07 05:31] fuyi02 commented on #18868
![image](https://user-images.githubusercontent.com/39895596/62597150-a713f480-b917-11e9-987d-9d28e511e36e.png)

[2019-08-07 05:31] fuyi02 commented on #19052
![image](https://user-images.githubusercontent.com/39895596/62597161-b004c600-b917-11e9-8a56-92cd89541109.png)

[2019-08-07 05:32] fuyi02 commented on #19052
terminate called after throwing an instance of 'thrust::system::system_error'
  what():  function_attributes(): after cudaFuncGetAttributes: an illegal memory access was encountered

[2019-08-07 05:32] fuyi02 commented on #19052
上线预测core

[2019-08-07 05:45] Overtown commented on #19051
模型保存方法：
[code]

inference_program 定义：

[code]

[2019-08-07 06:40] gavin1332 commented on #19045
建议使用save_persistables保存模型参数

[2019-08-07 06:46] gavin1332 commented on #19043
解析的目的是，我理解params文件一致的话预测结果应该也一致吧？

这个**存储**又是如何操作的呢？跟后边的**转回至**操作一致吗？

[2019-08-07 06:59] lalala805 opened #19054 "DynamicRNN 使用咨询"
求教育，我希望使用DynamicRNN逐个获取序列元素的embedding结果并记录在memory中（方便后续pooling），可是我concat得到的结果与预期不一样，代码如下，请问我错在哪里，或者我该如何去做，才能达到我想要的结果呢（借助DynamicRNN逐个获取序列元素的embedding并做pooling）~~
代码：
[code]
输出结果：
[code]

[2019-08-07 07:01] Emma-Ding opened #19055 "在fluid中对两个loss分别计算梯度，回传更新参数"
![f2271c66968e9ba5bbf7eff99](https://user-images.githubusercontent.com/22070158/62601500-15f74a80-b924-11e9-9a78-e832ed384d1d.png)

`
def train(pserver_endpoints, training_role, current_endpoint, trainer_num, trainer_id, pserver_id, batch_size, use_parallel_executor=False, use_cuda=False, is_sparse=True, is_local=True):

    #data_list, predict, auc_var, cur_auc, auc_var_cos, cur_auc_cos, avg_cost

[2019-08-07 07:20] Xreki commented on #19051
我复现你的问题了，也找到原因了。具体看代码：

https://github.com/PaddlePaddle/Paddle/blob/be3f469ad1f6889aadda6b1c51b4cb8e61624729/python/paddle/fluid/io.py#L1037-L1047

`save_inference_model`中会对传进来的program进行裁剪。当网络的最后一个op是激活类op时，这个激活op可能会被错误地裁剪掉，因此插入一个`scale` op来避免这个问题。

[2019-08-07 07:59] lalala805 commented on #19054
用别的方式跳过这个问题了。
因为我的目标是：逐个获取序列元素的embedding，累积之后，做pooling。
所以，rnn block之中，我可以不用memory，而是直接输出embedding，再上sequence_pool就够了。

[2019-08-07 08:41] gavin1332 commented on #19042
请提供一下最小可复现配置

[2019-08-07 08:47] gavin1332 commented on #19041
paddle里有gather函数，然后index部分可以通过做数据做出来

[2019-08-07 08:47] bingyanghuang opened #19059 "QAT INT8 MKL-DNN Mobilenet-v2 accuracy regression problem"
Reported from Baidu that when they reproduce the MKL-DNN Release 1.5 QAT results on their server CLX 6271 with latest commit, they found that mobilenet-v2 got 0.07% accuracy drop.
![image](https://user-images.githubusercontent.com/33643817/62608750-07645f80-b933-11e9-851d-4e11b5dbb488.png)
This issue is to track this problem. @Sand3r- Please add `intel` table on this issue. Thanks

[2019-08-07 08:49] gavin1332 commented on #19038
sequence_pad方法了解一下

[2019-08-07 08:49] gavin1332 commented on #19038
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html#sequence-pad

[2019-08-07 08:51] Xreki commented on #19055
models中有一些任务，如图像检测、分类，里面都用到了多个loss，可以参考一下，一般用法是**将多个loss加到一起再求minimize**。例如：

https://github.com/PaddlePaddle/models/blob/6e12f8a1e734ad2f01169687fe60e95ba60652c0/PaddleCV/image_classification/train.py#L247

[2019-08-07 08:56] 18628271760 commented on #19039
云模式和服务器模式并不是适应所有环境，不是万能的。目前这边的需求是能集成到 .net core(C#)平台。  .net core微软最新的后台框架，请慎重考虑对C#的支持。

[2019-08-07 08:58] Emma-Ding commented on #19055
没有办法分开求梯度吗，我现在遇到的问题就是需要分开求梯度比较好

[2019-08-07 09:03] gavin1332 commented on #19039
OK，我反馈一下这个需求。感谢您的建议！

[2019-08-07 09:05] JiabinYang commented on #19037
您好，目前paddle capi暂不支持macos，请使用docker或者参考[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/build_and_install_lib_cn.html#id15)

[2019-08-07 10:16] Sand3r- commented on #18893
Currently, the QAT accuracy measures carried out on CLX report a mismatch between fp32 and int8 top5 accuracy (difference of around 10%). This issue is right now investigated. Top1 Accuracy stays well within the margin error.

[2019-08-07 11:51] lexy0093 opened #19060 "paddle-cloud 40个节点并不比10个节点训练速度快"
如题，
同样的训练集，测试集
同样的网络结构
在paddle cloud上40个节点的训练速度竟然和10个节点差不多。
请问一下这是为什么呢

40节点日志：http://10.73.161.43:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20190807114200-66649--mcdnn-fluid-0807_paddlecloud
10节点日志：http://10.73.173.37:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20190805203101-64397--mcdnn-fluid-0802_paddlecloud

[2019-08-07 12:04] kidozh opened #19061 "Conv1D needed"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.5.1.post97
2）CPU/GPU：CUDA 9 CuDNN 9.2
3）系统环境：Windows 10

最近做信号，比较需要一维卷积，其他深度学习框架诸如TensorFlow, PyTorch和keras 都有一维卷积支持，搞不懂为什么paddle没有这个基本的层。

[2019-08-07 12:13] Xreki commented on #19061
很抱歉，我们由于人力原因，功能上支持的不够完整。我们会将您的需求转达，也欢迎您来贡献代码，:smile:

[2019-08-07 12:23] ScoThunder commented on #19060
这个我们也没办法看出来，mpi集群各个队列机器配置不一样，然后机器也不是独占的，会混布map reduce任务

[2019-08-07 13:24] guru4elephant commented on #19060
@lexy0093 同学请使用fleet API，你现在使用的是一种非常缓慢的训练方式，请加入飞桨Fleet推广群咨询如何更快的训练。群号1481295

[2019-08-07 13:38] frogcjn commented on #19048
@fire717 您好，方便联系加一下qq群432676488，到时候需要您帮忙解决一下这个问题。

[2019-08-07 15:18] fire717 commented on #19048
已加

[2019-08-07 20:06] frogcjn commented on #19048
我还是没找到您，您找一下群里的frogcjn

[2019-08-08 02:59] Xreki commented on #19049
你好，尝试过常规的处理nan的方法吗，比如减小`learnin_rate`之类的。

另外，issue能，能贴文字的，建议尽量别贴图哈~

[2019-08-08 03:52] luotao1 commented on #19059
@wzzju @juncaipeng You can track this issue.

[2019-08-08 04:32] Superjomn commented on #19052
线下解决中

[2019-08-08 04:32] #19052 closed, assigned to nobody

[2019-08-08 05:37] zhaoyuchen2018 commented on #18803
在[RNN](https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/unarchived/neural_machine_translation/rnn_search)模型上验证了修复效果：
tst2013 BLEU=24.94，和标准的25.30相差在0.5以内，符合预期。

[2019-08-08 06:18] zhengya01 opened #19068 "profiler 报错"
profiler功能在v100上没有报错，在p40上报错了

环境：
python：2.7.15
paddle：1.5.1
cuda：9
cudnn：7
gpu：P40
linux：CentOS release 6.3

执行命令：
跑模型PaddleNLP/language_model
python train.py --profile True --rnn_model static --log_path tmp_log_file --max_epoch 1 --data_path data/simple-examples/data/ --batch_size 8 --save_model_dir models_1 --use_gpu False --model_type test --use_py_reader True --parallel True

报错信息：
/paddle/p

[2019-08-08 06:46] chengduoZH commented on #19068
这是因为你环境里面没有装 cupti 工具。

[2019-08-08 07:51] Yukizzz commented on #19042
已在hi上提供～

[2019-08-08 07:56] Yukizzz commented on #19042
目前发现，

1. cpu分布式跑的话，

- trainable设置为false，load init model之后，无论训练与否，参数内容都**会**改变。（**不符合预期**）

- trainable设置为true的，不训练参数内容不会变，训练才会变。（符合预期）

2. 单机跑的话，

- trainable设置为false，load init model之后，无论训练与否，参数内容都**不会**改变。（**符合预期**）

- trainable设置为true的，不训练参数内容不会变，训练才会变。（符合预期）

因此怀疑是分布式的问题，辛苦同学帮忙继续看下～

[2019-08-08 08:54] luotao1 commented on #17163
Fixed by #17312

[2019-08-08 08:54] #17163 closed, assigned to nobody

[2019-08-08 09:11] minhozhou opened #19073 "训练好的模型，在paddlecloud上进行分布式预测"
测试样本量较大，有5000万，二分类任务需要计算AUC，单机预测需要十几个小时，请问有没有相应的demo？各个节点单独预测对应的样本的话，不知道全局AUC该如何计算。

[2019-08-08 09:25] #18826 closed, assigned to kuke, seiriosPlus, qingqing01, phlrain

[2019-08-08 09:39] Yelrose opened #19074 "关于IfElse用法"
看了官方IfElse以及里面的代码
像是把一个矩阵根据cond划分为True和False两部分(split_lod_tensor)，然后分别计算完merge在一起(merge_lod_tensor)。

而我只有一个简单的需求，如果一个scalar为真执行某个逻辑，如果一个scalar为假执行另外一个逻辑，在这套ifelse的逻辑下实现不了。

[2019-08-08 10:56] imistyrain opened #19076 "What's the meaning of op_callstack?"
对比fluid模型差异发现__model__里有个op_callstack里面填了很多值，导致模型明显变大，有什么方法能在保存的时候把这些东西去掉吗？

[2019-08-08 11:54] lalala805 opened #19077 "咨询：Warning求解"
模型采用了DynamicRNN, 训练时一直报warning，希望咨询下，这些warning具体指代什么，一般什么情况下会报这样的warning，谢谢。
（代码太多，不好复制，想先简单问下warning指代。）
W0808 19:34:25.880235 41151 while_op.cc:249] dynamic_rnn_input_array_1@GRAD is not found in cur_scope.
W0808 19:34:25.880790 41151 while_op.cc:249] dynamic_rnn_input_array_2@GRAD is not found in cur_scope.
W0808 19:34:25.880913 41151 while_op.cc:249] dynamic_rnn_input_array_0@GRAD is not found

[2019-08-08 12:45] shippingwang commented on #19077
参考 [while op](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/controlflow/while_op.cc#L233)
这个 warning 是说某些op的输入是没有反向的

[2019-08-08 12:48] shippingwang commented on #19076
参考 https://github.com/PaddlePaddle/Paddle/issues/17576#issuecomment-495050960， 对模型没有影响，不需要处理

[2019-08-08 12:48] #19076 closed, assigned to nobody

[2019-08-08 12:51] imistyrain commented on #19076
但是文件大了好几倍，我们对大小很敏感，怎么去掉这些信息呢？

[2019-08-08 12:52] onfireisme opened #19078 "ernie，序列标注，训练随机失败"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    3）GPU：p40 cuda-9.0 cudnn_v7
    4）正常开发机
- 训练信息
    1）单机，单卡
    2）显存够，ernie不够会失败
    3) 训练代码直接照搬 https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/lexical_analysis/run_ernie.sh
- 复现信息：
随机跪，训练数据已经让ernie的同学check过了，也没有问题
W0807 22:51:30.941779 33146 device_context.cc:263] Please NOTE: device: 0, CUDA Capability: 61, Dri

[2019-08-08 12:55] onfireisme commented on #19078
paddle是fluid 1.5

[2019-08-08 13:15] lalala805 commented on #19077
弱问，什么情况下会导致op输入没有反向呢？
示例我看的不太懂，可否简单介绍下呢，谢谢。

[2019-08-08 13:58] shippingwang commented on #19076
大好几倍么？不会吧？这个我来反馈一下吧

[2019-08-08 14:03] shippingwang commented on #19077
是说某些op，它的输入没有反向，比如说求softmax loss时候的输入（image, label）label就是没有反向的

[2019-08-09 01:12] guru4elephant commented on #19022
@sshilei  请使用PaddleCloudRoleMaker，有问题到飞桨Fleet推广群提问，1481295

[2019-08-09 01:35] seiriosPlus commented on #19073
方法一：
基本做法： 每个节点分别预测，每个节点都生成一份对应的[Predict, Label]的组合的文件，将文件汇总到一个节点，基于这些汇总的文件采用单节点来独立计算一次AUC。

1. PaddleCloud可以申请集群任务， 通过`train_data`的配置将待测试的数据分成N份。
2. 每个节点都会起一个PS,一个TR，注意做好判断。(可以直接在PS中做预测， TR hang住就可以)
3. 每个节点根据自己的`train_data`分配到的预测数据，进行独立预测， 计算出[Predict, Label]写入文件。
4. 将每个节点计算得出的文件汇总到0号节点(通过HDFS/HttpServer等)。
5. 可以先采用https://github.com/seiriosPlus/Paddle/blob/erp/oppo-supported/python/paddle/fluid

[2019-08-09 02:07] tensor-tang commented on #19078
请问是否可以在训练脚本里面检查下数据集尺寸是否有误。

[2019-08-09 02:10] dingsiyu commented on #18740
你好，我也遇到了相同的问题，请问你是怎么解决这个问题的呢

[2019-08-09 02:14] #17013 closed, assigned to seiriosPlus, gongweibao

[2019-08-09 02:27] minhozhou commented on #18959
除了上述CPU利用率低的问题，另外实际测试了一下，同样的机器，同样的模型文件，预测同样的900万数据，以下测试同时运行，机器配置56线程，256G内存，运行的时候资源cpu和内存足够：

- 使用pe预测，cpunum设置为16，batchsize设置为512，耗时4h30min
- 使用exe预测，batchsize设置为512，耗时3h43min
- 使用exe预测，batchsize设置为5120，耗时3h23min

此外，在训练过程中每个batch都通过`py_reader.queue.size()`打印出py_reader维护的数据队列大小，发现每次输出都是**0**，上述三个测试均是如此，下图是第二个测试的输出图
![image](https://user-images.githubusercontent.com/46623470/62749882-b4082380-ba90

[2019-08-09 02:34] littletomatodonkey commented on #18740
我其实后来重跑了任务就好了，不知道为啥，但是程序开头有cudnn版本的warning，所以要想确保没问题的话，可能还得添加对应cudnn版本的路径，不能使用默认的路径

[2019-08-09 02:47] chengduoZH opened #19081 "当前PE加载参数必须先run startup_program再配置set 外部参数值，再创建PE"
用户问题：
请问，发现exe.run(startup_prog)之后给exe加载预训练参数和先配置train_exe = fluid.ParallelExecutor(）后再给exe加载参数，两种情况下，loss大小非常不同，这两种有什么区别吗？还有我的多gpu程序经常自己断掉，是因为fluid.ParallelExecutor(）不再支持的缘故吗？

[2019-08-09 02:47] chengduoZH commented on #19081
ParallelExecutor还可以使用，使用ParallelExecutor的话初始化的顺序要是先exe.run(startup_prog)然后从外部加载预训练参数，之后再配置train_exe = fluid.ParallelExecutor(）。多卡参数会在创建ParallelExecutor时从单卡broadcast，exe.run(startup_prog)或者exe加载预训练参数只能改变单卡上的内容

[2019-08-09 03:09] baiyfbupt opened #19082 "apply_graident之后再用fluid.gradients受影响，报错xx_grad_op没有grad"
![image](https://user-images.githubusercontent.com/28884066/62751144-427ea400-ba95-11e9-8b0d-6535a2472dc9.png)
在用apply_gradient对模型中的一部分参数`model_var`做更新之后，再求该模型loss对另一部分参数`arch_var`的导数会报错
![image](https://user-images.githubusercontent.com/28884066/62751260-9ee1c380-ba95-11e9-9f6e-3b4f9df3017a.png)
查了一下，是因为求导时，前面**apply_gradient append进来的某个xx_grad_op也被backward.py用来求导**引起的错误，但期望实现的是只对前向op求导
https://g

[2019-08-09 03:16] onfireisme commented on #19078
我这个训练数据已经让ernie的同学check过了，没有问题，他也不知道，所以才来这里提问的。
代码也加了。

 if len(example.text_a.split(chr(2))) != len(example.label.split(chr(2))):
      raise AssertionError()

[2019-08-09 03:34] dingsiyu opened #19085 "模型训练时报错：cudagetlasterror invalid configuration argument errno9"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    3）GPU：CUDA 10.0， CUDNN 7.4
    4）系统环境：centos6 python3
- 训练信息
    1）单机，多卡,  分布式训练
[code]

[2019-08-09 03:36] DDDivano commented on #19045
可以看一下这个文档，https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/fluid_cn.html#program。
load起来后，如果没有使用clone函数，执行的话会计算反向，执行一次（inference）后再save是保存的执行反向后的结果，实际这个save的模型和之前的param是有变化的，可能是由于此原因导致你这个问题产生。

[2019-08-09 03:37] tensor-tang commented on #19078
@shippingwang
 Please help to see this issue。

[2019-08-09 03:41] tensor-tang commented on #19085
build_strategy.memory_optimize = True

这里关掉试试呢

[2019-08-09 03:59] dingsiyu commented on #19085
尝试了，仍然报错

[2019-08-09 04:03] tensor-tang commented on #19085
报错信息一样吗

[2019-08-09 04:13] tensor-tang commented on #19085
您是 单机，多卡, 分布式训练 ？

[2019-08-09 04:31] dingsiyu commented on #19085
报错信息：
[code]

[2019-08-09 04:31] dingsiyu commented on #19085
单机多卡模拟多机进行分布式训练

[2019-08-09 04:58] jiangbojian opened #19086 "layers.slice不支持传入动态参数"
环境：
paddlepaddle1.5
GPU(v100,16G)
python2.7

问题描述：
使用layers.slice这个op时，不支持传入动态的参数
程序截图
![image](https://user-images.githubusercontent.com/6761054/62755021-db68eb80-baa4-11e9-9016-7dcb1cf10cdd.png)
运行截图
![image](https://user-images.githubusercontent.com/6761054/62755167-79f54c80-baa5-11e9-9e63-403998e28ecd.png)

[2019-08-09 05:27] wanghaoshuang opened #19090 "conv bn fusion in ocr end2end model"
## 第一步：dumps trainable variables and moving mean/var

[code]

## 第二步： fuse weights of conv and bn

[code]

## 第三步 load fused weights
1. remove bn layer in model.
2. add bias after conv
3. load weights:
[code]

[2019-08-09 05:40] tensor-tang commented on #19086
感谢反馈，我们会尽快处理，并评估是否支持。

[2019-08-09 05:48] tensor-tang commented on #19086
我们会排期支持该功能，感谢反馈。

[2019-08-09 07:00] xiaoyao4573 opened #19092 "SetFeedVariable出core"
1）PaddlePaddle版本：1.5
2）预测库来源：CONFIGS('baidu/paddlepaddle/paddle/@expt-v1.5.0')
a)当input的tensor的size和实际使用的size不一致时出现以下core：
terminate called after throwing an instance of 'std::runtime_error'
  what():  Exception encounter.
Exception: baidu/paddlepaddle/paddle/paddle/fluid/memory/detail/meta_cache.cc:33 Assertion `desc->check_guards()` failed.
b)当input的tensor的size和实际使用的size一致时正常运行。

[2019-08-09 07:52] tensor-tang commented on #19092
请问什么是指实际使用时候的tensor size，是说实际使用的和设置的size不一样吗？

[2019-08-09 08:23] seiriosPlus commented on #19042
分布式load参数在pserver端， 因此不会load不参与优化的参数， 会修复此问题。

解决方法：
1. 将不需要参与训练的参数的 learning设置为 0。
2. 在trainer端独立load trainable=False的参数。

[2019-08-09 08:23] #19042 closed, assigned to seiriosPlus

[2019-08-09 08:34] DDDivano opened #19096 "请教一个问题，batchnorm api参数fuse_with_relu 和 act=relu有啥区别？"
RT

[2019-08-09 08:35] #19068 closed, assigned to nobody

[2019-08-09 08:36] liuguolian opened #19097 "fluid.layers.softmax_with_cross_entropy函数使用报got an unexpected keyword argument 'return_softmax'"
gpu环境，代码中使用fluid.layers.softmax_with_cross_entropy函数，
运行环境：http://yq01-sys-hic-p40-0236.yq01.baidu.com:8388/v1/slurmjobs/121278/workspace
报错如下：
File "run_classifier.py", line 114, in main
is_regression=args.is_regression)
File "/home/slurm/job/tmp/job-121278/finetune/classifier.py", line 104, in create_model
logits=logits, label=labels, return_softmax=True)
TypeError: softmax_with_cross_entropy()

[2019-08-09 08:39] ryancuicui opened #19098 "动态图，多个输出调用optimizer.minimize()失败"
   1）PaddlePaddle版本：1.5.1
    2）CPU版本
    3）系统环境：centos 7.1，Python 2.7.6
- 训练信息
    1）单机
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
当使用动态图时，如果网络有多个输出
![image](https://user-images.githubusercontent.com/27725204/62765628-1548ea80-bac3-11e9-9572-8e0e03aef8f4.png)
在主程序调用网络
![image](https://user-images.githubusercontent.com/27725204/62765691-37426d00-bac3-11e9-9088-8f91bb351d62.png)
如果执行下面程序，程序就会报错
x_pose =

[2019-08-09 08:45] scorpinxia commented on #16071
@yeyupiaoling  为什么用官方的demo cpu预测时间就几百毫秒 用你的自定义函数保存模型预测cpu需要21秒   这是什么原因

[2019-08-09 08:48] DDDivano opened #19099 "动态图batchnorm API 参数data_layout后端没有接收"
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dygraph/nn.py 1065行开始

[2019-08-09 09:27] 18628271760 opened #19102 "在多program条件下，set(): incompatible function arguments. 的错误"
paddle团队，
我在进行多program尝试时，触发了set(): incompatible function arguments. 的错误。源代码与数据以zip方式上传，请帮忙排查。感谢。

[PaddlePaddle.zip](https://github.com/PaddlePaddle/Paddle/files/3485649/PaddlePaddle.zip)

[2019-08-09 12:24] #19081 closed, assigned to nobody

[2019-08-09 12:28] lidanqing-vv opened #19110 "Clean up for UT coverage"
MKL-DNN related ops UT states.

After the PR19011 is merged, the states will be
![image](https://user-images.githubusercontent.com/47151829/62776724-b62bab80-baab-11e9-9043-b6a4278cdd35.png)

![image](https://user-images.githubusercontent.com/47151829/62776967-51248580-baac-11e9-8114-b8fe84f7ad47.png)

In which,
1. the `group conv transpose` in `conv_tranpose_mkldnn_op.cc` should be removed becaus

[2019-08-09 13:52] Sand3r- commented on #18893
Update as of 09.08.2018
Investigation of 10% top5 accuracy loss.
* Scale of output of Pooling 2D:
   * It has been detected that the output uses scale provided by the scale collector. That behaviour is incorrect, as output pool2d scale should be equal to input pooling scale.
   * This problem has been addressed and fixed.
   * Unfortunately, it did not decrease the top5 accuracy difference between

[2019-08-09 15:14] #18922 closed, assigned to chengduoZH

[2019-08-10 05:09] XFeiF opened #19113 "调用backbone预训练模型出错"
backbone模型是分类模型，需要fine_tune的模型是detection模型，后者在前者模型的基础上有额外的层，问题是加载backbone预训练的参数出错。
保存backbone参数：
[code]
加载backbone参数：
[code]

报错如下：
[code]
[code]
上面这一段中，conv2d_39这一层应该是属于fine_tune模型的，并不是backbone模型的。

[2019-08-10 06:54] wzgwzg opened #19114 "Cannot find fetch variable in scope"
paddle 1.5.0, cuda 8.0, cudnn v7, k40 单卡训练

报错：Cannot find fetch variable in scope, fetch_var_name is tmp_12 at xxx fetch_op.cc:37

部分代码：
def net_config(image, label, model, args):
    model_list = [m for m in dir(models) if "__" not in m]
    assert args.model in model_list, "{} is not lists: {}".format(args.model, model_list)
    model_name = args.model
    if "Ft_Net" in model_name:
        x3_

[2019-08-10 12:14] fuyi02 opened #19115 "一个argsort 居然只有升序 没有降序 连个flag都没有 。。。"
argsort
paddle.fluid.layers.argsort(input, axis=-1, name=None)
对输入变量沿给定轴进行排序，输出排序好的数据和相应的索引，其维度和输入相同

  例如：
给定 input 并指定 axis=-1

      input = [[0.15849551, 0.45865775, 0.8563702 ],
              [0.12070083, 0.28766365, 0.18776911]],

    执行argsort操作后，得到排序数据：

      out = [[0.15849551, 0.45865775, 0.8563702 ],
          [0.12070083, 0.18776911, 0.28766365]],

根据指定axis排序后的数据indices变为:

      indi

[2019-08-10 12:29] Exception-star opened #19116 "fluid.dygraph.save_persistables保存的参数只有一部分"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
- 模型信息
    1）模型名称 2）使用数据集名称 3）使用算法名称 4）模型链接
- 复现信息：如为报错，请给出复

[2019-08-10 12:32] Exception-star commented on #19116
import paddle.fluid.dygraph as dygraph
import paddle.fluid as fluid

class Conv2d(dygraph.Layer):
    def __init__(self,
                 name_scope,
                 num_filters,
                 filter_size,
                 stride=1,
                 padding=0,
                 dilation=1,
                 param_attr=None,
                 bias_attr=None,
                 use_cudnn=True,

[2019-08-10 14:19] Exception-star commented on #19116
import paddle.fluid.dygraph as dygraph
import paddle.fluid as fluid

class Conv2d(dygraph.Layer):
def init(self,
name_scope,
num_filters,
filter_size,
stride=1,
padding=0,
dilation=1,
param_attr=None,
bias_attr=None,
use_cudnn=True,
act='relu',
dtype='float32'):
super(Conv2d, self).init(name_scope)
self._conv = dygraph.Conv2D(self.full_name(),
num_filters,
filter_size,
stride=stride,
padding=paddi

[2019-08-10 15:07] JiabinYang commented on #19098
您是需要多个起点开始backward是么

[2019-08-11 03:08] cuicheng01 opened #19119 "MobileNetV3中预测时depthwise卷积cudnn置为False，加载cudnn置为True的训练的预训练模型会报维度不匹配错误"
1.paddle版本：1.5.0
2.模型：MobileNetV3_small, 待发布
3.遇到的问题：训练MobileNetV3时，depthwise卷积cudnn置为True，但当测试训练保存的模型时该值置为False时会报维度不匹配的错误，置为True时不存在此问题。具体错误信息如下：
`C++ Callstacks:
Enforce failed. Expected in_dims[1] == filter_dims[1] * groups, but received in_dims[1]:4 != filter_dims[1] * groups:16.
The number of input channels should be equal to filter channels * groups. at [/paddle/paddle/fluid/operators/conv_

[2019-08-11 03:17] junjun315 commented on #19119
该问题为depthwise的cudnn实现与cpu实现确实是不一致导致的。 我们将进行修复。在修复以前在issue里的场景请确保使用use_cudnn=True来使用4×4及以上的卷积核

[2019-08-11 05:22] cuicheng01 commented on #19119
check了一下，应该不是5x5的卷积的问题，完全换成3x3的depthwise卷积也会出现这个问题，在训练的时候用True，测试的时候不能用False～，MobileNetV2没有问题，解决issue的同学需要代码的话可以单发一下～

[2019-08-11 06:01] Rayarrow94 opened #19120 "the provided recursive_sequence_lengths info is invalid"
输入query_profile_ids_conf是[[0,15],[89,64,70],[149,7979,70,3],[0,3],[7777,35]]这样的，包含5个query。

定义变量：
query_profile_ids_conf = DataConfig(name='firstw3', shape=[-1, 5, 1], dtype='int64', lod_level=1)

class DataConfig(object):
    def __init__(self, name, shape, dtype, lod_level=0):
        self.name = None
        self.shape = shape
        self.dtype = dtype
        self.lod_level = lod_level

报错：
E

[2019-08-11 07:47] XFeiF commented on #19113
应该是方法save和load的方法不对应导致。
目前解决方法：
1. backbone 保存的时候，save_params
2. fine_tune模型load的时候，load_vars，并在predicate参数中制定筛选规则。

[2019-08-11 07:47] #19113 closed, assigned to nobody

[2019-08-11 13:17] #19073 closed, assigned to nobody

[2019-08-11 14:20] tensor-tang commented on #19102
您好，您可以查看我们的[ParallelExecutor](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/fluid_cn.html#parallelexecutor)例子，其会充分使用机器资源，不需要您自己创建多program。

祝好。

[2019-08-11 15:38] tensor-tang commented on #19096
抱歉回复晚了

fuse_with_relu侧重会把relu 融合到Batchnorm里面，并且这个选项是在MKLDNN打开的时候才会有效。
act=relu 只是relu是act的一个选项，这种情况下，两者的逻辑是等效的。

给您造成了困扰，在此表示抱歉，这里我们会对文档和API进行完善。

祝好。

[2019-08-11 15:46] tensor-tang commented on #19097
抱歉回复晚了。
这个应该是您代码里面写法有误吧，或者是typo

[2019-08-12 00:41] 18628271760 commented on #19102
paddle团队你好，
创建自定义program为以后业务需求，请帮忙查证问题原因，感谢。

[2019-08-12 01:56] Cristhine opened #19123 "在paddlecloud训练后，模型未保存"

[2019-08-12 02:03] #19082 closed, assigned to nobody

[2019-08-12 02:20] houj04 commented on #19123
转厂内PaddleCloud值班同学支持。

[2019-08-12 02:20] #19115 closed, assigned to nobody

[2019-08-12 02:29] ryancuicui commented on #19098
问题已经解决了，不知道这算不算是一个bug，就是当网络有多个分支输出时，如果只用一个分支输出做loss然后回传，其他分支虽然有输出但是不需要更新，这时就会出现上述错误。但是如果每个输出都有计算loss并回传，则不会出现错误提示。

[2019-08-12 02:33] #19123 closed, assigned to nobody

[2019-08-12 02:59] xiaoyao4573 commented on #19092
是的

[2019-08-12 03:06] #19019 closed, assigned to nobody

[2019-08-12 03:11] wopeizl commented on #19114
看起来是部分fetch的值不在网络中，可以检查一下total_cost, acc_1, acc_2, acc_3, acc_4, acc_5, acc_6, acc_7, acc_8, acc_9, global_lr这些项

[2019-08-12 03:15] lalala805 opened #19125 "单机多卡，GPU指定1卡（1卡空闲），可是GPU 0卡报错。"
请教，
单机多卡，训练时指定了export CUDA_VISIBLE_DEVICES=1，GPU1卡也是闲置状态。
训练时报错，我看报错信息好像是GPU0卡内存不够？（GPU0卡被别的模型使用），可我已经指定使用GPU1卡，是我哪里搞错了么？

附报错信息。
+ export FLAGS_sync_nccl_allreduce=1
+ FLAGS_sync_nccl_allreduce=1
+ export CUDA_VISIBLE_DEVICES=1
+ CUDA_VISIBLE_DEVICES=1
+ python -u run_classifier.py --use_cuda true --verbose true --do_train true --do_val false --do_test false --batch_size 16 --init_pretraining_par

[2019-08-12 03:25] billiecas opened #19126 "feed data 出错，reorder_datareorder.append(each[self.feeding[name]])"
在paddle V2 版本集群训练时，出现如下错误：
 exit 1
Mon Aug 12 10:16:14 2019[1,4]<stderr>:Traceback (most recent call last):
Mon Aug 12 10:16:14 2019[1,4]<stderr>:  File "conf/trainer_config.conf", line 225, in <module>
Mon Aug 12 10:16:14 2019[1,4]<stderr>:    train(1, id_dict, fea_sections, old_model_path)
Mon Aug 12 10:16:14 2019[1,4]<stderr>:  File "conf/trainer_config.conf", line 191, in train
Mon Aug 12 10:1

[2019-08-12 03:29] houj04 opened #19127 "预测时候报错，关于fraction_of_gpu_memory_to_use"
系统环境：

gcc版本：

预测库来源：
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/build_and_install_lib_cn.html
从上面的链接里面下载的cpu_avx_mkl的1.5.1版本

预测库版本：

被编译的代码：
[code]

编译和运行的命令（预测库解压到了~/fluid_inference/里面）
[code]

运行报错信息：

[2019-08-12 03:34] phlrain commented on #19116
https://github.com/PaddlePaddle/models/blob/develop/dygraph/resnet/train.py#L195
多层的sublayers 实现请参考这个，应该没有调用add_sublayer

[2019-08-12 03:38] Superjomn commented on #19127
这是用了只支持 CPU 的版本，需要用支持 GPU 的版本才会有这个选项

[2019-08-12 03:41] dkerjw1 commented on #15564
@dzhwinter 你好，请问如果我有多个输出层，分别输出并计算loss，如何让每个loss更新对应的输出层的参数呢？

[2019-08-12 03:42] lzp1317 opened #19128 "训练过程中如何获取特定层的梯度数值并对其进行赋值"
用paddle训练模型过程中需要把多个特定层bnname的梯度取出来做处理然后再赋值回去，通过fluid.default_main_program().list_vars()可以找到梯度变量bnname@GRAD名字，但是用fluid.global_scope().find_var(bnname@GRAD).get_tensor()没有找到变量，不知道有没有接口可以做这件事情呢？

[2019-08-12 03:51] houj04 commented on #19127
我下载的是
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/build_and_install_lib_cn.html
里面的这个：
![图片](https://user-images.githubusercontent.com/35131887/62844928-4d387380-bcf7-11e9-9684-2caf9db23d62.png)
从`version.txt`里面看到，应该不包括gpu才对：

然后我把代码改成了下面这样也会报同样的错误
[code]

[2019-08-12 03:52] dkerjw1 commented on #19055
@Xreki  有同样的问题，求解，如何分别求梯度

[2019-08-12 03:56] houj04 commented on #19127
我换了一个机器（百度云上面的BCC服务器）：
系统环境：

gcc版本：

编译参数里面加了个`-std=c++11`（否则编不过），也是同样的错误。

[2019-08-12 04:02] wzgwzg commented on #19114
我的代码基本仿照PaddleCv/ImageClassification中的写法

def calc_loss(logit, label, class_dim=751, use_label_smoothing=True, epsilon=0.1):
    softmax_out = fluid.layers.softmax(logit)
    if use_label_smoothing:
        label_one_hot = fluid.layers.one_hot(input=label, depth=class_dim)
        smooth_label = fluid.layers.label_smooth(label=label_one_hot, epsilon=epsilon, dtype="float32")
        loss = fluid.l

[2019-08-12 04:36] wzzju opened #19129 "Paddle最新develop分支编译报错：OverflowError: size does not fit in an int"
- 版本、环境信息：
    1）PaddlePaddle版本：CommitID:3f4c088ad8fe99286649194b438fef5a4784056c
    2）CPU：Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz
    3）GPU：Tesla V100
- 安装方式信息：
docker编译：
    * docker镜像: chengduozh/paddle:cuda9.0-cudnn7.0_ubuntu_16_4
    * 编译命令 :
[code]
- 问题报错信息：
[code]

[2019-08-12 05:05] lzp1317 commented on #19128
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle 1.5.0
    2）GPU：预测用GPU，GPU型号Tesla K40m、CUDA9.0和CUDNN7.0
    4）系统环境：CentOS release 6.3

[2019-08-12 05:25] dingsiyu opened #19132 "Your decorated reader has raised an exception!"
I0812 13:06:15.183413 93736 buffered_reader.cc:50] BufferedReader
I0812 13:06:15.190088 93741 lod_tensor_blocking_queue.h:62] LoDTensorBlockingQueue close
I0812 13:06:15.190119 93741 blocking_queue.h:100] close queue
WARNING: Logging before flag parsing goes to stderr.
W0812 13:06:15.190216 139712232683264 io.py:597] Your decorated reader has raised an exception!
Exception in thread Thread-1:
Trac

[2019-08-12 05:26] wopeizl commented on #19132
能给一下reader代码么

[2019-08-12 05:35] wopeizl commented on #19128
scope是运行时的，grad var有可能被垃圾回收了，可以设置var.persistable = True来防止被回收，或者放在fetch_list中，如executor.run(fetch_list=[grad_Var])

[2019-08-12 06:34] dancingpipi opened #19134 "在T4卡上预测出现CUDNN_STATUS_EXECUTION_FAILED"
问题描述：我有一个fluid1.4的c++预测镜像，在P4上能够正常运行，迁移到T4机器上报CUDNN_STATUS_EXECUTION_FAILED错误
![image](https://user-images.githubusercontent.com/20511825/62848312-add2ab00-bd0d-11e9-81b5-57431e985c14.png)

fluid1.4编译信息：

![image](https://user-images.githubusercontent.com/20511825/62848369-f25e4680-bd0d-11e9-9ec2-0f0cdfa3a4f3.png)

P4机器信息：
  显卡：P4
  宿主机驱动：410
  宿主机CUDA：10.0

![image](https://user-images.githubuser

[2019-08-12 06:40] NHZlX commented on #19134
![image](https://user-images.githubusercontent.com/5595332/62848622-0ce4ef80-bd0f-11e9-91b5-7f3f0059150c.png)
1.4的lib cuda 的版本是9.0么

[2019-08-12 06:43] Xreki commented on #19055
@Emma-Ding @QingyueMeng 跟同事请教了下，得到一些结论：
1）Paddle不支持一个program里面多个minimize。别的框架应该也不支持吧？
2）对于每个loss分别求梯度再回传，和先对多个loss求和，再统一求梯度回传，效果应该是一样的。

[2019-08-12 06:45] dancingpipi commented on #19134
是的

[2019-08-12 06:53] xiangyubo opened #19135 "度量学习 utility.py 中 recall_topk函数参数k没用"
度量学习 utility.py 中 recall_topk函数参数k没用，直到现在 develop 和 1.5 版本中都有这个问题。详细见代码77行：
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/metric_learning/utility.py

[2019-08-12 08:12] NHZlX commented on #19134
需要在p4下编译cuda10版本的paddle lib， 然后放到t4下运行即可

[2019-08-12 08:23] hallySEU opened #19140 "ernie fine-tune 后做预测，增大batch_size，出现爆显存，但明明有空间"
ernie fine-tune 后做预测，增大batch_size（从原来的32增加到128），出现爆显存，但明明有空间。
<img width="1259" alt="8874a406703d2e461a9e65e7367f1dcb" src="https://user-images.githubusercontent.com/25191684/62852941-7966eb00-bd1d-11e9-9c63-17e39047863a.png">

<img width="695" alt="03540a90f274d1b91b82b83dbbaea8ce" src="https://user-images.githubusercontent.com/25191684/62852919-67854800-bd1d-11e9-968d-667ff61817cd.png">
()

[2019-08-12 08:26] achao2013 opened #19141 "paddle 动态图运行问题"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-08-12 08:27] #19141 closed, assigned to nobody

[2019-08-12 08:29] achao2013 opened #19142 "paddle 动态图运行出core"
paddle1.5.0

Traceback (most recent call last):
  File "train_dygraph.py", line 258, in <module>
    train_net()
  File "train_dygraph.py", line 223, in train_net
    out = net(img)
  File "/home/work/.jumbo/lib/python2.7/site-packages/paddle/fluid/dygraph/layers.py", line 162, in __call__
    outputs = self.forward(*inputs)
  File "/home/work/.jumbo/lib/python2.7/site-packages/paddle/fluid/dygrap

[2019-08-12 08:38] wopeizl commented on #19140
申请前需要做计算，当计算资源不足时候就报错了

[2019-08-12 08:50] wopeizl commented on #19125
设置CUDA_VISIBLE_DEVICES后，paddle看到的卡号是按偏移值计算的，比如 CUDA_VISIBLE_DEVICES=2，3，对于paddle来说是0，1卡，当前只设置了1张卡，所以paddle按卡号0来报错

[2019-08-12 08:50] hallySEU commented on #19140
上面不是显示我的计算资源充足吗？可用空间还很多

[2019-08-12 08:53] wopeizl commented on #19140
相比128来说应该是不够的 ，申请会按128来一次性申请

[2019-08-12 08:56] hallySEU commented on #19140
如果当前内存不够，我可以使用其他块gpu吗？怎么做？

[2019-08-12 09:01] wopeizl commented on #19114
看起来是shape没对上，用一下label=smooth_label.reshape(label.shape) 看看

[2019-08-12 09:19] wzgwzg commented on #19114
![image](https://user-images.githubusercontent.com/7345565/62855517-10837100-bd25-11e9-87da-e346a5644a8e.png)
根据paddle文档上的说明，smooth_label不能reshape成label.shape。我打印看过了，smooth_label的shape是[-1, 751]，label的shape是[-1, 1]。但是这个不一致是应该的

[2019-08-12 09:34] wzgwzg commented on #19114
之前的shape问题解决了，是计算总loss的时候分支loss的变量名用错了。但是Cannot find fetch variable in scope的问题依然存在，而且应该就是loss处的问题，fetch_list中只写loss，也还是有错。
现在关键代码如下：

def net_config(image, label, model, args):
    model_list = [m for m in dir(models) if "__" not in m]
    assert args.model in model_list, "{} is not lists: {}".format(args.model, model_list)
    model_name = args.model

    if "Ft_Net" in model_name:
        x3_g_

[2019-08-12 09:48] JiaoZiLang opened #19145 "ssd训练模型fluid.io.save_inference_model后，调用fluid.io.load_inference_model 报错"
situation：
1. https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ssd 使用训练一个ssd模型出来
2. https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/infer.py#72 后面加上一行，fluid.io.save_inference_model('./SSD', ['image'], nmsed_out, exe, test_program, model_filename='model', params_filename='params')
3. 另一个文件中，[inference_program, feed_target_names, fetch_targets] = fluid.io.load_inference_

[2019-08-12 11:46] stonehuang1024 opened #19148 "编译到最后一步出错-fatal: no tag exactly matches"
Scanning dependencies of target paddle_fluid
[ 99%] Building C object paddle/fluid/inference/CMakeFiles/paddle_fluid.dir/paddle_fluid_dummy.c.o
[ 99%] Linking CXX static library libpaddle_fluid.a
[ 99%] Built target paddle_fluid
[ 99%] Building CXX object paddle/fluid/inference/api/details/CMakeFiles/zero_copy_tensor_dummy.dir/zero_copy_tensor_dummy.cc.o
[100%] Linking CXX static library libzero_c

[2019-08-12 11:51] wzgwzg commented on #19114
之前的shape问题解决了，是计算总loss的时候分支loss的变量名用错了。但是Cannot find fetch variable in scope的问题依然存在，而且应该就是loss处的问题，fetch_list中只写loss，也还是有错。

[2019-08-12 11:56] stonehuang1024 commented on #19148
I have soved.   pip install setuptools -U

[2019-08-12 11:56] #19148 closed, assigned to nobody

[2019-08-12 12:44] wudenggang opened #19150 "conv2d函数说明中英文错误"
details，错写成detials

    1）PaddlePaddle版本：paddlepaddle 1.5
    2）Python版本号: python-3.7.2.amd64
    5）文件位置：paddle\fluid\layers\nn.py，第2126行
![image](https://user-images.githubusercontent.com/3587832/62865599-83024a00-bd41-11e9-81dc-4226252e2964.png)

[2019-08-12 15:53] lalala805 commented on #19125
谢谢解答，那么报错的原因具体是什么呢？报错信息我看的也是半懂不懂的【惭愧】。。。。

[2019-08-13 01:51] kk12333 commented on #19049
调小学率试过了，还是会nan。可以直接看paddlecloud的控制台：http://10.90.251.16:8001/webssh/ai00/c0a1f165-6279-5320-b9e7-e0218c7a87f5/10.255.118.25/49587792.job-0bb5d51472ae75ef-trainer/e3a7009a-5f55-5ca4-841a-de36673a4e38/running/

[2019-08-13 02:04] LielinJiang commented on #19119
在你的代码里有的conv2d层没有设置名字，导致use_cudnn=False的时候，默认分配的名字出现变化，加载不了原来的权重。将所有conv2d层设置一个名字应该能解决这个问题。

[2019-08-13 02:06] dkerjw1 opened #19158 "交叉熵损失函数如何加权"
- 版本、环境信息：
    1）PaddlePaddle版本：fluid
    2）CPU/GPU：GPU Cuda8.0
    3）系统环境：CentOS
    4）Python2.7

你好，请问如何实现在多分类时，使用加权的交叉熵函数，权重为类别的比例

[2019-08-13 02:10] yjc980121 opened #19159 "训练之后报错"
源码从这个地方Fork的，AIStudio上运行没问题
https://aistudio.baidu.com/aistudio/projectdetail/78959

但是我下载到本机之后，报出如下错误
C++ Callstacks:
Tensor holds the wrong type, it holds int at [D:\1.4.1\paddle\paddle/fluid/framework/tensor_impl.h:29]
PaddlePaddle Call Stacks:
Windows not support stack backtrace yet.

查看了源码，指向的是如下代码
# 执行预测
result = exe.run(program=infer_program,
                 feed={feeded_var_names[0]: tens

[2019-08-13 02:15] wopeizl commented on #19125
![image](https://user-images.githubusercontent.com/23548796/62910466-2c355880-bdb3-11e9-82b8-04a4aba2b782.png)
还是显存不足，可以适当调小batch_size再试试，同时最好检查一下显卡是否有其它程序占用

[2019-08-13 02:31] luotao1 commented on #19092
`PADDLE_ASSERT`的报错信息不够明确，会尽快换成`PADDLE_ENFORCE_XXX`接口来进行报错的。@tensor-tang @Xreki

[2019-08-13 02:42] wopeizl commented on #19135
好的，谢谢指出

[2019-08-13 02:45] wopeizl commented on #19150
谢谢指出

[2019-08-13 02:50] JiaoZiLang commented on #19145
排查出来使用gpu就报错，使用cpu就没有问题
[code]

[2019-08-13 02:56] wopeizl commented on #19126
本地可以跑通过吗？

[2019-08-13 02:56] luotao1 opened #19164 "wrong enforce in temporal_shift_op"
https://github.com/PaddlePaddle/Paddle/blob/a6daf6fe5f778ceb83509723eb3eb8651b4e58c2/paddle/fluid/operators/temporal_shift_op.cc#L38-L40
->: `shift_ratio > 0 && shift_ratio < .5`
- since #19088, `PADDLE_ENFORCE` is not recommended. Please use `PADDLE_ENFORCE_EQ/NE/GT/GE/LT/LE` or `PADDLE_ENFORCE_NOT_NULL` instead.
- Besides, Please add Error Message in `PADDLE_ENFORCE_XXX` interface.

[2019-08-13 02:57] wopeizl commented on #19126
v2版本当前已经不再维护更新，如果可以的话尽量使用最新的版本，如release1.5

[2019-08-13 06:10] SunGaofeng commented on #19158
可以考虑在fluid.layers.cross_entropy里面使用soft_label，将label乘以权重做，具体使用可以参考这个api的文档
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html#cross-entropy

[2019-08-13 06:41] SunGaofeng commented on #19159
能检查下输入数据类型吗，看是否跟定义的数据类型一致？
看了下代码，
words = fluid.layers.data(name='words', shape=[1], dtype='int64', lod_level=1)
label = fluid.layers.data(name='label', shape=[1], dtype='int64')

但是reader里面：
data, label = line.split('\t')
yield data, label
这里产生的data和label是string类型的，能改成data = int(data), label=int(label) 之后再试下吗

[2019-08-13 06:54] cuicheng01 commented on #19119
好的，之后在查看保存的权重的时候也确实发现这个问题了，感谢～

[2019-08-13 06:54] #19119 closed, assigned to nobody

[2019-08-13 07:26] Gaffey opened #19174 "动态图NCCL数据并行报invalid data type"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5 post97
    3）GPU：cuda 9.0 cudnn 7.1

- 训练信息
    1）单机/多卡
    2）22g

- 问题描述：
[code]
部分相关代码
[code]

[2019-08-13 07:59] apphpp commented on #17298
是什么原因呢？

[2019-08-13 08:13] bingyanghuang commented on #18893
Top 5 accuracy loss root cause is when removing the `fake_quant/dequant` op, wojtek forgot to dequantize `mul` op's weights to FP32 which caused top5 accuracy drop a lot. After fixing it by calculating the `mul` FP32 weights and `mul` remains not quantized in the final int8 model, got the following results (OMP_NUM_THREADS=20):
[code]
Now for top1 and top5, there is still the minor accuracy drop n

[2019-08-13 08:21] phlrain commented on #19174
能否提供下完整的环境，我们测试下

[2019-08-13 09:01] Emma-Ding opened #19178 "对embedding之后的结果做加权"
在pslib模式下，现在有一个sequence，【1，2，3，4，5，6】，之前是我embeding之后，做了加和，如下
`
emb = fluid.layers.embedding(input=data, size=[self._dict_dim, self._emb_dim], is_sparse=True, is_distributed=True, param_attr=fluid.ParamAttr(name=self._user_embedding_name))

bow = fluid.layers.sequence_pool(input=emb, pool_type='sum')
`
现在想做个加权和，或者类似最简单的attention，不知道paddle有没有类似的函数?

[2019-08-13 09:03] SunGaofeng commented on #19178
sequence_pool的时候做加权求和？

[2019-08-13 09:06] Emma-Ding commented on #19178
是的呢

[2019-08-13 09:19] liushanshan07 opened #19179 "OCR端到端模型预测爆显存和单张图片core住问题"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4
    2）GPU：k40/p4、CUDA8.0和CUDNNv7

- 问题描述：
（1）显存持续增长
（2）单张图片core住。
Tensor holds the wrong type, it holds int64_t at [/root/cuda90_cudnnv7/0507/Paddle/paddle/fluid/framework/tensor_impl.h:29]

[2019-08-13 09:32] nepeplwu opened #19180 "windows平台中，参数名中带有"/"字符时，使用fluid.io.save_vars保存参数，会出现crash"
1）paddle版本：paddlepaddle-gpu-1.5.1.post97
2）系统版本：win10
3）Python版本：3.6

在windows下使用fluid.io.save_vars保存参数，且参数名中带有`/`（如参数名为"xception/entry_flow/conv1/weights"）时，会出现无法保存参数的错误
![593AF7049523271945AAD77537268820](https://user-images.githubusercontent.com/45024560/62930777-ab488200-bdef-11e9-873d-7da0824f912b.jpg)

[2019-08-13 09:56] dkerjw1 commented on #19158
请问有相关示例么

[2019-08-13 10:47] wopeizl commented on #19129
一定要用RelWithDebInfo,如果可以用-DCMAKE_BUILD_TYPE=Release试一下

[2019-08-13 11:13] yisampi opened #19182 "PermissionError: [Errno 13] Permission denied: 'unrar'"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1.post107
    2）CPU/GPU：GPU
    3）系统环境：centos
    4）Python版本号: 3.7.3
    5）显存信息
用conda create 一个新的env ，然后用pip install paddlepaddle
conda create -n paddlepaddle
pip install -U paddlepaddle-gpu

在notebook import时报错，但是在系统shell下import正常
import paddle.fluid as fluid
---------------------------------------------------------------------------
PermissionError

[2019-08-13 11:22] SunGaofeng commented on #19158
目前的cross_entropy op还不支持加权

[2019-08-13 11:26] yisampi commented on #19182
解决了，安装rarlinux即可。

[2019-08-13 11:26] dkerjw1 commented on #19158
那请问可以自定义loss么

[2019-08-13 11:26] #19182 closed, assigned to nobody

[2019-08-13 12:22] QianShengWu opened #19184 "单机多卡(或多CPU模式)，异步读数据报错ValueError: Feed a list of tensor, the list should be the same size as places"
paddpaddle的单机多卡是不是异步读数据会出现问题，数据不一致还是冲突？
代码是百度的simnet，修改成异步读数据。

[code]

进行训练
[code]

出现错误如下
[code]

单GPU, CPU代码运行是正常的。

麻烦各位大佬看看，小白先谢了。

[2019-08-13 12:34] SunGaofeng commented on #19184
py_reader.decorate_sample_list_generator(batch_data, places=place)
这个地方好像是有点问题，如果要多卡或者多CPU运行的话，这个places要这么设置：
       places = fluid.cuda_places() if USE_CUDA else fluid.cpu_places(CPU_NUM)

[2019-08-13 12:43] QianShengWu commented on #19184
谢谢大佬，完美解决问题

[2019-08-13 12:43] #19184 closed, assigned to nobody

[2019-08-13 12:49] SunGaofeng commented on #19158
可以，比如用下面这种方法定义带weight的loss
"""
/////for example
/////        input  [N, D],
/////        labels [N, D], which is one-hot along D
/////        weights [N, D]
"""

log_input = fluid.layers.log(input)
log_input = 0. - labels * log_input
loss = log_input * weights
loss = fluid.layers.reduce_sum(loss, dim=1)

[2019-08-13 12:57] snksnc opened #19185 "请问在预测的过程中如何取出模型的预测值"
我的程序是这样写的：
loss_val, predict = exe.run(test_program,
                                            feed=feeder.feed(data_test),
                                            fetch_list=[loss, predict])
但是报错如下：
   "Wrong type for fetch_list[%s]: %s" % (i, type(var)))
AssertionError: Wrong type for fetch_list[1]: <type 'numpy.ndarray'>
希望能给予解答，谢谢

[2019-08-13 13:08] SunGaofeng commented on #19185
这个地方看上去确实会出错fetch_list=[loss, predict]，这里loss和predict都是Variable，但是经过一个iteration之后，
    loss_val, predict = exe.run(test_program,feed=feeder.feed(data_test),fetch_list=[loss, predict])
predict出现在左边，被重新赋值了，type变成了numpy array

请修改成这样子：
  loss_val, predict_val = exe.run(test_program,feed=feeder.feed(data_test),fetch_list=[loss, predict])

[2019-08-13 14:12] pennypm opened #19188 "maskrcnn+fpn模型开启显存优化结果diff, 关闭显存过大"
版本、环境信息：
   1）PaddlePaddle版本：1.5.0
   2）GPU：CUDA8.0 CUDNN7
   3）系统环境：centOS6.3，Python: 2.7.14
问题描述：
线上服务代码
conf配置为enable_ir_optim:0，enable_memory_optim:1，当第一张图结果返回-1，后续图片结果异常，异常如下，上图为错误结果，下图为单独跑该图片时的正确结果
![image](https://user-images.githubusercontent.com/34053581/62945903-3e92af00-be12-11e9-9c9c-92d751d23378.png)
![image](https://user-images.githubusercontent.com/34053581/62945883-35094700-be12-11

[2019-08-14 02:14] jerrywgz commented on #19188
请问这是预测端的显存优化吗？

[2019-08-14 02:31] apphpp opened #19192 "cudaStreamSynchronize unspecified launch failure errno:4"
paddle 模型训练完，预测时遇到这个错误；并且是在预测完N个step之后报的错。
报错位置固定：即相同配置和数据下，多次运行都是到N step后报错；但修改batch大小 具体报错位置发生变化。
错误稳定复现，在P4/P40机器上都复现，位置固定如上述。
环境为：python3, paddle1.5; nccl2.3.7_cuda9.0, cudnn_v7, cuda-9.0
并行方式：单机单卡

[2019-08-14 02:37] pennypm commented on #19188
是的

[2019-08-14 02:48] apphpp commented on #19192
模型信息： 模型主体为BERT 的MaskLanguageModel 预测任务，数据为自己修改的输入输出

[2019-08-14 02:56] #19145 closed, assigned to nobody

[2019-08-14 03:15] NHZlX commented on #19188
在解决中。

[2019-08-14 05:36] #19178 closed, assigned to nobody

[2019-08-14 05:37] #19034 closed, assigned to nobody

[2019-08-14 06:22] topxxuki opened #19194 "使用book/fit_a_line中参考官网教程换成从txt读取文件运行出错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）CPU/GPU：cpu
    3）系统环境：Mac OS 10.14
    4）Python版本号:3.7
 -问题：https://github.com/PaddlePaddle/book/blob/develop/01.fit_a_line/train.py 教程代码将train_reader换为官网教程（https://paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/basics/fit_a_line/README.cn.html)）从txt中读取方式
![image](https://user-images.githubusercontent.com/18697846/62998678-dd64ed00-be9e-11e

[2019-08-14 07:04] kelvict opened #19196 "以动态库的形式调用paddle C++ inference的run 返回空，但没报错信息，有什么办法能打印报错信息吗"
以动态库的形式调用paddle C++ inference的run 返回空，但没报错信息，有什么办法能打印报错信息吗？

[2019-08-14 07:11] wulipc opened #19197 "关于 iterable PyReader 对象使用的一点疑问"
硬件信息：
    1）PaddlePaddle版本：Fluid 1.50
    2）GPU：v100， CUDA9， cudnn7.1
    3）系统环境：Python2.7， paddlecloud
- 训练信息
    1）单机多卡， 24G mem / pre gpu

我目前使用 Fluid 1.50,  使用 PyReader 优化后 ， 单机多卡训练GPU的利用率有了显著提升， 目前代码训练正常， 但是在使用 iterable PyReader 过程中还有一点疑问， 想咨询一下。

我是参考官方文档 [异步数据读取](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/prepare_data/use_py_reader.html#user-guides-use-py-re

[2019-08-14 07:16] hutuxian commented on #19196
试过将环境变量GLOG_v设置为大于或等于4的值吗？即
[code]

[2019-08-14 07:21] 18628271760 commented on #19102
已经解决，多program是可行的，feeder = fluid.DataFeeder(place=cpu, feed_list=[x, label], program=trainOCRProg) 设置place错误引起。

[2019-08-14 07:21] #19102 closed, assigned to nobody

[2019-08-14 07:36] ceci3 commented on #19194
官网还没有更新过来，可以参考https://github.com/ceci3/book/blob/b72ab6400f78bef4f2082e1da72e30e1df145546/01.fit_a_line/index.cn.html#L225这里

[2019-08-14 07:47] topxxuki commented on #19194
![image](https://user-images.githubusercontent.com/18697846/63003471-cb894700-beaa-11e9-8ccd-f19c34946979.png)
应该是for d in data:吧
另外d[-1:]可以理解为标签值，d[:1]这个选取第一维是为什么呢？

[2019-08-14 07:48] xiangyubo opened #19198 "语言模型代码中强制获取GUP"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
- 模型信息
    1）模型名称：语言模型

在外层 train.py 中有判断当前环境是否为GPU环境，但是在模型定义中，强制使用了 fluid.core.get_cuda_device_count() 函数，导致 CPU 环境运行报错。

下列代码的 257行
https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/models/language_model/l

[2019-08-14 07:56] liupluswei commented on #19048
问题已解决，需要安装cuda9的patch: https://developer.nvidia.com/cuda-90-download-archive?target_os=Windows&target_arch=x86_64&target_version=10&target_type=exelocal

[2019-08-14 07:56] #19048 closed, assigned to gavin1332

[2019-08-14 07:56] lidanqing-vv commented on #18913
I just want to correct that the result 0.7386 is not avg top1 but top5 which is referred as accumulative map . Top 1 is around 0.83.

[2019-08-14 08:12] DDDivano opened #19200 "LayerNorm act参数不生效"
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dygraph/nn.py  1413行开始

[2019-08-14 08:16] topxxuki commented on #19194
reader改成如下所示，运行仍有问题：
[code]
![image](https://user-images.githubusercontent.com/18697846/63005265-c3cba180-beae-11e9-88a9-22c07ba82e7e.png)

[2019-08-14 08:40] ceci3 commented on #19194
<img width="504" alt="屏幕快照 2019-08-14 下午4 38 53" src="https://user-images.githubusercontent.com/29245900/63006888-24101280-beb2-11e9-8c64-9d39560a4fcc.png">
先改成这样试下呢，我这里试了是可以的，您那边可以的话我更新到github上，上面那个选第一维是写错了，都是-1

[2019-08-14 08:41] ceci3 commented on #19194
<img width="712" alt="屏幕快照 2019-08-14 下午4 41 03" src="https://user-images.githubusercontent.com/29245900/63006991-65a0bd80-beb2-11e9-97c0-256d51e4883a.png">
先改成这样试下呢，我这里试了是可以的，您那边可以的话我更新到github上，上面那个选第一维是写错了，都是-1。

[2019-08-14 08:50] topxxuki commented on #19194
可以的，谢谢

[2019-08-14 08:50] #19194 closed, assigned to ceci3

[2019-08-14 09:28] guoxpl opened #19204 "训练报段错误Segmentation fault python train.py"
![image](https://user-images.githubusercontent.com/20251192/63010297-b87d7380-beb8-11e9-9a50-d5f94922c36d.png)
![image](https://user-images.githubusercontent.com/20251192/63010319-c501cc00-beb8-11e9-91f4-c657cd9d661d.png)

[2019-08-14 09:44] guoxpl commented on #19204
1.4.1与1.5.0都出现此问题，我在paddlecloud slurm机器上运行，这个错误时不时会出现。同一份程序有时候会成功，大部分情况下失败。
使用k8s机器则无此问题。模型是自有的一个常用模型，因该没有问题。
错误发生在单卡run（）的时候。

![image](https://user-images.githubusercontent.com/20251192/63011603-36db1500-bebb-11e9-8345-c58eaf3942b2.png)

[2019-08-14 10:07] apphpp commented on #19192
定位问题为：环境没问题；实际为运行流程出错，加载了错误的checkpoint

[2019-08-14 10:07] #19192 closed, assigned to hutuxian

[2019-08-14 10:56] hutuxian commented on #19197
感谢您使用PaddlePaddle
问题1：设置成16即可；
问题2：我理解您说的队列应该指的是pyreader的缓存区，实际上是通过PyReader的capacity来指定的，其他的理解问题不大；
问题3：您的iter_id是表示batch的数量吗？如果是，那么理论情况下，8卡和4卡虽然经历了相同的batch数，但是8卡过的数据是4卡的两倍，从这个角度来说相当于提速一倍。

[2019-08-14 11:29] wulipc commented on #19197
@hutuxian 感谢回复，任然有以下问题：

请问一下， pyreader的缓存区在内存还是在显存？ 我使用不同类型的decorate (samlpe, batch, list) ,  pyreader占用的空间怎么算？ 比如： 我一个sample占1M，batch size设为16， capacity设为5， 那我使用sample decorator 的时候是不是占用 5M 空间， 使用batch decorator的时候占用80M 空间吗？  还是说这个空间占用和运行卡数也有关系， 是80M * 卡数？

另外，对于
[code]
其中的data不应该是一个batch（16 samples）的数据吗？ 所有通过的数据不应该是 16 * iter_id 吗？ 那么8卡过的数据为什么是4卡的两倍呢？

[2019-08-14 12:45] minhozhou opened #19210 "分布式训练，梯度聚合的方法"
这里面**同步地合并所有节点的梯度数据**，具体每个参数对应的不同trainer节点上的梯度是如何合并的呢？有没有一些参考资料呢？

[2019-08-14 12:53] xiegegege opened #19212 "tensorrt报错不是很明确，只显示Segmentation fault"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：1.5
2）CPU/GPU：cuda9 cudnn7
3）系统环境：ubuntu16
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：
在使用tensorrt时，有如下报错：
<img width="895" alt="a0f2bdde8c541d9c6afcd445a0f58b4d" src="https://user-images.githubusercontent.com/46314656/63021549-68f87100-bed3-11e9-9a7a-6398a068de49.png">
只有Segmentation fault这个提示，很难定位问题；后来发现编译设置了DTENSO

[2019-08-14 12:57] mzchtx commented on #18259
看了下，是因为这个 shape 会变导致的。

![image](https://user-images.githubusercontent.com/37564754/63022737-18cede00-bed6-11e9-9719-962ac3a4593a.png)

[2019-08-14 14:37] #19116 closed, assigned to nobody

[2019-08-14 15:13] Exception-star opened #19216 "voc2012数据集报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU/GPU：cpu
    3）系统环境：win10
    4）Python版本号: python3.7
    5）显存信息
- 问题描述：

### 在mac上也报这样的错误

Traceback (most recent call last):
  File "E:/PycharmWorkspace/paddle_pyreader/pyreader.py", line 14, in <module>
    for data in train_reader():
  File "E:\Anaconda\lib\site-packages\paddle\batch.py", line 35, in batch_reader
    for instance in r:
  File "E:\A

[2019-08-14 15:26] Emma-Ding opened #19217 "Expected posix_memalign(&p, alignment, size) == 0, but received posix_memalign(&p, alignment, size):12 != 0:0."
本地测试，报错

W0814 23:25:14.440135 79433 init.cc:150] AVX is available, Please re-compile on local machine
2019-08-14 23:25:20 batch_size=300
2019-08-14 23:25:20 FILELIST:['local_data/a']
import ujson error: No module named ujson use json
Traceback (most recent call last):
  File "local_train.py", line 13, in <module>
    batch_size=300
  File "/home/dingweiyue/multitask/mtl-model/ctr/mpi_submit/env_r

[2019-08-14 23:51] hutuxian commented on #19217
posix_memalign返回12表示OOM了，可以重点看一下是不是内存申请的太多了，或者有没有出现内存泄漏的情况。

[2019-08-15 00:40] yanwb opened #19219 "可视化可指定图片显示吗"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及

[2019-08-15 00:41] yanwb commented on #19219
可视化可指定验证集上的图片显示训练效果吗?

[2019-08-15 01:39] hutuxian commented on #19216
感谢使用PaddlePaddle。
在Windows下确认此问题，后续会进行修复。谢谢！

[2019-08-15 01:52] #16097 closed, assigned to velconia, gongweibao

[2019-08-15 02:00] bingyanghuang commented on #18913
@wzzju @luotao1
Command line:
`paddle/fluid/inference/tests/api/test_analyzer_int8_object_detection "ARGS" "--infer_model=third_party/inference_demo/int8v2/mobilenet-ssd/model" "--infer_data=/home/bingyang/.cache/paddle/dataset/pascalvoc/pascalvoc_full.bin" "--warmup_batch_size=10" "--batch_size=100" "--paddle_num_threads=1"`

- On Cascade Lake (New Machine) Intel(R) Xeon(R) Gold 6248 CPU @ 2.50GH

[2019-08-15 02:00] hutuxian commented on #19210
感谢使用PaddlePaddle。
实际上各个trainer也是把梯度发送到server端进行合并，只不过同步模式下，会在trainer端进行等待server端合并完成再开始接下来的训练。
Paddle这边提供有分布式训练的例子：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.0/user_guides/howto/training/multi_node.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/best_practice/cpu_train_best_practice.html
如果有进一步的需要，欢迎您继续comment。

[2019-08-15 02:17] minhozhou commented on #19210
感谢回答，每个trainer节点都会得到所有参数和对应的梯度<param_0，gradient>，然后把这些发给server端合并，<param_0, [gradient_0, gradient_1, gradient_2.....]>，这些梯度是直接相加合并的吗？还是需要进行额外的一些其他算法计算呢

[2019-08-15 02:25] kennyLSN opened #19220 "多次调用exe.run的问题"
paddle1.5 由于线上调用，需要多次执行exe.run。
我写了一个单例。将模型初始化全部写了进去。然后当数据来的时候，执行data_generate以及exe.run。但是会有报错。cannot find fetch variable in scope. fetch_var_name is fc_72.tmp_2 at...
PaddlePaddle Call Stacks: Windows not support stack backtrace yet.

我感觉是program使用不对。

[2019-08-15 02:44] hutuxian commented on #19197
其实不同的decorate类型的区别只是为了输入数据形式的灵活，内部的占用空间都是以batch为单位，capacity指的是batch数量。也就是拿你的例子来说，应该都是80M。
多张卡（比如8卡）的情况下，每个卡的iter_id增长1，实际上整体的数据读入了batch_size*8这么多条samples的。

[2019-08-15 02:54] wzzju commented on #18913
I cannot understand this sentence.  0.7386 is not avg top1 but top5, and top 1 is around 0.83? top1 is higher than top5?

[2019-08-15 03:29] wulipc opened #19221 "建议官方发布 paddle 1.5+ 的post85 版本"
目前使用的是 paddlepaddle-gpu (1.5.0.post87)， 在厂内开发机会出现以下错误：
[code]
之前paddlecloud上也出现相同的错误， 经过系统部排查说是内核版本太低导致的，所以建议官方发布 paddle 1.5+ 的post85 版本 ， 毕竟cudnn5是可以在老内核上运行的。

[2019-08-15 03:31] wulipc commented on #19197
Thx a lot.

[2019-08-15 03:31] #19197 closed, assigned to nobody

[2019-08-15 03:36] lijiancheng0614 opened #19222 "希望在 提交PR注意事项 页面中加入对覆盖率的要求"
- 版本、环境信息
1）PaddlePaddle版本：1.5
- 复现信息：
如 https://github.com/PaddlePaddle/Paddle/pull/19050 曾因为 Python 行覆盖率未达 90% 而不通过 PR_CI_Coverage 检查。
- 建议描述：
建议在文档中加入对覆盖率的要求，如果能提供如何在本地测试覆盖率就更好了。
https://paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/development/contribute_to_paddle/submit_pr_guide.html

[2019-08-15 05:04] hutuxian commented on #19210
对梯度的处理方式和优化算法相关。例如最简单的SGD，就是求梯度的平均（或者理解为scale+sum).

[2019-08-15 05:17] sandyhouse commented on #19219
没太明白什么意思？ @yanwb

[2019-08-15 05:22] sandyhouse commented on #19220
exe.run的scope不对？方便贴下代码吗？

[2019-08-15 05:26] sandyhouse commented on #19221
您的需求已记录，感谢您对paddle的支持。

[2019-08-15 05:28] sandyhouse commented on #19222
您的需求已记录，感谢您对paddle的支持。

[2019-08-15 05:33] wulipc commented on #19221
@sandyhouse  编译好了麻烦通知我一下， 谢谢

[2019-08-15 05:46] luotao1 commented on #19222
@kh2se2013 请看下这个需求，谢谢！

[2019-08-15 05:59] NHZlX commented on #19188
https://github.com/PaddlePaddle/Paddle/pull/19213

[2019-08-15 06:04] kennyLSN commented on #19220
try:
        args = parser.parse_args()

        logger.info("单例load")
        exe_new = initSentenceEmbed().exe
        reader_new = initSentenceEmbed().reader
        infer_program_new = initSentenceEmbed().infer_program
        pyreader_new = initSentenceEmbed().pyreader
        graph_vars_new = initSentenceEmbed().graph_vars

        logger.info("数据处理")

        data_generator = reader_new.dat

[2019-08-15 06:05] kennyLSN commented on #19220
我把下面的代码封装成了一个服务，每次数据请求的时候，就会调用。其中模型初始化是一个单例

try:
    args = parser.parse_args()

    logger.info("单例load")
    exe_new = initSentenceEmbed().exe
    reader_new = initSentenceEmbed().reader
    infer_program_new = initSentenceEmbed().infer_program
    pyreader_new = initSentenceEmbed().pyreader
    graph_vars_new = initSentenceEmbed().graph_vars

    logger.info("数据处理")

    data_generator = reade

[2019-08-15 06:07] kennyLSN commented on #19220
下面的代码已经封装成了一个服务，每次请求来的时候都会调用。其中初始化写成了单例模式

try:
    args = parser.parse_args()

    logger.info("单例load")
    exe_new = initSentenceEmbed().exe
    reader_new = initSentenceEmbed().reader
    infer_program_new = initSentenceEmbed().infer_program
    pyreader_new = initSentenceEmbed().pyreader
    graph_vars_new = initSentenceEmbed().graph_vars

    logger.info("数据处理")

    data_generator = reader_

[2019-08-15 06:24] sandyhouse commented on #19220
你程序里面执行startup_program了吗？

[2019-08-15 06:39] kennyLSN commented on #19220
做过了，在单例里面

[2019-08-15 06:42] kennyLSN commented on #19220
或者你们有没有这种例子吧？我是做ernie的，想做成一个python服务

[2019-08-15 07:29] phlrain commented on #19180
LGTM

[2019-08-15 07:47] yanwb commented on #19219
我知道如何设置可视化显示图片的数量，但是我想知道能不能或者如何设置我要显示的某几张图片...

[2019-08-15 07:55] Exception-star opened #19226 "py_reader怎么使用？训练和测试一起"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU：cpu
- 问题描述：想训练玩一个epoch, 进行一次test，执行以下代码不报错，没有任何输出
`

import paddle.fluid as fluid
import paddle

def net(image):
    conv = fluid.layers.conv2d(image,
                               num_filters=16,
                               filter_size=3,
                               stride=1,
                               padding=1,

[2019-08-15 08:06] minhozhou commented on #19210
![image](https://user-images.githubusercontent.com/46623470/63081445-305da380-bf76-11e9-8392-55b4100b7b0d.png)

常见的这些优化算法都是直接使用梯度g或者使用梯度g计算出来的g_t更新参数，所以单纯的每个trainer节点上得到的梯度g传到pserver后，是求mean还是求sum作为最终的梯度给到不同的优化算法来计算g_t进行参数更新呢，还是说在trainer节点利用优化算法完成g_t的计算，再将g_t传给pserver进行mean或者sum合并？

[2019-08-15 08:18] kennyLSN commented on #19220
问题已经解决了，exe.run后面加了一个pyreader.reset（）

[2019-08-15 08:29] sandyhouse commented on #19220
问题已解决，关闭issue。

[2019-08-15 08:29] #19220 closed, assigned to nobody

[2019-08-15 08:46] yxzero opened #19229 "transformer c++版本预测(gpu) 出现内存问题"
报错信息：
![image](https://user-images.githubusercontent.com/5461637/63083798-35255600-bf7c-11e9-8314-fb687cba14c6.png)

- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）GPU：k40
-预测信息
    1）C++预测bcloud

WORKROOT('../../../')
PLATFORM('centos6u3')
COMPILER('gcc482')
CXXFLAGS('-std=c++11 -Os -g -pipe -W -Wall -fPIC')
LDFLAGS('-lpthread -lcrypto -lrt -lm -lcrypto -lcrypt -ldl -lz')
INCPATHS('../../paddlepaddl

[2019-08-15 08:58] Superjomn commented on #19229
你机器支持 GPU 吗？

另外，
![image](https://user-images.githubusercontent.com/328693/63084594-22138580-bf7e-11e9-9960-8ef93d3106e3.png)

初始显存设大一些，10M 太小了，到500M 试下

另外，确认第3显卡有足够显存？

[2019-08-15 09:11] sandyhouse commented on #19219
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/evaluation_and_debugging/debug/visualdl_usage.html, 参见image -- 图片可视化组件 部分，通过start_sampling(), is_sample_taken(), set_sample() 和 finish_sample() 这四个 image 组件的成员函数来控制需要显示的图片。

[2019-08-15 09:43] yanwb commented on #19219
好的 谢谢

[2019-08-15 09:48] #19226 closed, assigned to nobody

[2019-08-15 10:10] #19180 closed, assigned to phlrain

[2019-08-15 11:05] sucuicong opened #19230 "StarGAN在GPU环境下正常运行，在CPU环境下运行报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
- 模型信息
    1）模型名称   StarGAN
    2）使用数据集名称 celeba
    3）使用算法名

[2019-08-15 11:26] hutuxian commented on #19212
感谢您的建议，我们会进行评估，并不断完善报错信息。

[2019-08-15 11:30] hutuxian commented on #19210
优化算法是在server端进行的。

[2019-08-15 11:35] sandyhouse commented on #19230
出错的原因的话是 conv2d_grad_grad's infer_shape has not been registered,我反馈一下这个问题。

[2019-08-15 12:07] sucuicong opened #19232 "pix2pix模型在GPU环境下可以跑通，在CPU环境下无法跑通"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
- 模型信息
    1）模型名称  pix2pix
    2）使用数据集名称 cityscapes
    3）使用

[2019-08-15 12:24] minhozhou commented on #19210
我看tensorflow分布式好像是直接梯度求平均，paddle也是直接求平均吗😂

[2019-08-15 14:02] Re-bin opened #19234 "编译出错 cannot find -lmklml_intel"
/usr/bin/ld: cannot find -lmklml_intel

CPU不是intel，会是因为这个影响吗

[2019-08-15 14:46] paulpaul91 opened #19235 "paddle的模型能否分成几块区域存储？"
paddle的参数能否分区域存储，例如encoder层和decoder层的参数分别存，加载的时候分别可以一起加载或者只加载encoder？是否有这样的实现？

[2019-08-16 01:54] sandyhouse commented on #19219
Closing this issue. If you have any further question, reopen it again.

[2019-08-16 01:54] #19219 closed, assigned to nobody

[2019-08-16 02:04] sandyhouse commented on #19235
以paddle.fluid.io.save_vars(executor, dirname, main_program=None, vars=None, predicate=None, filename=None)为例，可以通过指定vars参数分别保存encoder层和decoder层的参数。

[2019-08-16 02:06] sandyhouse commented on #19234
原因是找不到mklml_intel库。如果不使用的，可以设置-DWITH_MKL=OFF

[2019-08-16 02:14] kelvict opened #19241 "Paddle C++ Inference时 concat异常慢，有什么优化空间么？"
Paddle C++ Inference时 concat异常慢，有什么优化空间么？
![image](https://user-images.githubusercontent.com/4210638/63138877-a1509a00-c00e-11e9-93e7-56cef5180da3.png)

[2019-08-16 02:18] Re-bin commented on #19234
请教大神，在哪里设置呢

[2019-08-16 02:20] #19164 closed, assigned to heavengate

[2019-08-16 02:25] sandyhouse commented on #19234
编译源码的时候设置，cmake的选项。

[2019-08-16 02:32] ceci3 commented on #19232
您好，请问下您的paddle版本是？这个错误的原因是您设置的CPU_NUM数量大于batch的数量，可以通过export CPU_NUM=1，或者拉取最新的models代码试下~

[2019-08-16 02:34] ceci3 commented on #19241
您好，concat是在CPU上的操作还是GPU操作？

[2019-08-16 02:38] dingsiyu opened #19242 "IfElse op 使用疑问"
def tt(tensor1):
    l = [2.0, 4.0, 10.0]
    r = [7.0, 9.0, 12.0]
    re_ = layers.zeros(shape=[3,3], dtype='int32')
    for i in range(3):
        l_idx = l[i]
        r_idx = r[i]
        c = layers.logical_and((tensor1 >= l_idx), (tensor1 < r_idx))
        d = layers.reduce_sum(layers.cast(c, 'int32'))
        mask = layers.where(c)
        d_ = layers.is_empty(mask)
        cond = d == 0

[2019-08-16 02:40] luotao1 commented on #13847
close due to #19149

[2019-08-16 02:40] #13847 closed, assigned to Superjomn, panyx0718, qingqing01, chengduoZH, guru4elephant

[2019-08-16 02:52] sucuicong commented on #19232
Paddle版本是1.5 ，所运行的代码是paddle release1.5版本， 没有修改过任何代码，直接运行的是paddle模型源码，所以CPU_NUM数量设置的问题应该是paddle模型代码编写者在写代码时候没有注意到这个问题造成的，望修改

发件人: lvmengsi <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年8月16日 星期五 上午10:32
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Su,Cuicong" <sucuicong@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle]

[2019-08-16 03:27] juncaipeng opened #19245 "The waring in OriginProgram method"
问：hi,请教个问题，我的工程在训练的时候会提升我的gragh图改变了，请问可能是什么原因导致的呢，有什么办法去解决吗？主要是在paddle文档中也没有搜到OriginProgram() 方法是什么

答：请忽略这个log，这个是警示开发人员的，后期应该会删掉。

[2019-08-16 04:04] Re-bin commented on #19234
请问可以在代码里面更改嘛，因为我编译的是AnyQ，cmake .. 的时候会生产很多文件，其中包括Paddle，在/AnyQ/build文件夹执行cmake的时候使用命令cmake -DWITH_MKL=OFF .. 之后，进行make，在paddle下载并编译的过程中还是出现了同样的错误。感谢您

[2019-08-16 04:06] ceci3 commented on #19232
CPU_NUM默认设置的是1，可以检查下是否外部设置了这个环境变量

[2019-08-16 05:01] dashulu opened #19249 "paddle支持模型并行训练吗？"
Paddle现在支持模型并行的训练吗？CPU端还是GPU端的？有使用的例子吗？

[2019-08-16 05:05] ceci3 commented on #19249
您好，您说的模型并行具体指的是？单机多卡或者多级多卡那种吗？

[2019-08-16 05:16] dashulu commented on #19249
举一个例子，假设一个模型有5个layer，2个layer放在gpu卡1剩下3个放在gpu卡2 或者两个layer放在服务器1， 剩下3个layer放在服务器2.

[2019-08-16 05:26] ceci3 commented on #19249
目前还不支持这种操作

[2019-08-16 05:34] dashulu commented on #19249
那如果模型很大，一台机器的内存放不下去，Paddle是怎么处理的？

[2019-08-16 05:37] Overtown opened #19250 "如何对于这个shape=[batch,3,h,w]的variable进行mean为[0.406, 0.456, 0.485]，std为[0.225, 0.224, 0.229]的normalize"
如题，想要对于一个输入图像img，进行normalize，查了下文档没有找到合适tensor操作方法，请教如何实现[batch,3,h,w]维度variable的normalize

[2019-08-16 05:38] kelvict commented on #19241
CPU mkl @ceci3

[2019-08-16 05:41] ceci3 commented on #19250
是输入数据的话 可以在数据预处理的时候 在python层面进行normalize

[2019-08-16 05:45] Overtown commented on #19250
肯定不是输入数据啊～是paddle的variable

[2019-08-16 05:56] #18803 closed, assigned to zhaoyuchen2018

[2019-08-16 05:57] ceci3 commented on #19250
看了下paddle目前还不支持传入mean和var的norm，可以定义两个tensor，用elementwise_sub和elementwise_div试下

[2019-08-16 06:09] Re-bin commented on #19234
**无法获取"/home/AnyQ-master/build/third_party/install/paddle/fluid_install_dir/third_party/install/mklml/include/*" 的文件状态(stat): 没有那个文件或目录**
设置了，但是出现了新的问题，这个应该怎么解决。感谢。

[2019-08-16 06:13] luotao1 commented on #19241
可以先试一下使用mkldnn库，在配置中加入：
`config.EnableMKLDNN()`

[2019-08-16 06:21] sandyhouse commented on #19234
你的完整的编译选项是什么？

[2019-08-16 07:04] Re-bin commented on #19234
已经成功了，谢谢您。

[2019-08-16 07:24] JingChunzhen opened #19252 "op split_ids does not have kernel for data_type[int]"
paddle.fluid.core_avx.EnforceNotMet: Invoke operator split_ids error.
op split_ids does not have kernel for data_type[int]

程序在本地可以运行
在slurm集群上的单机节点上可以运行
在使用多机节点 pserver模式时出现问题

paddle版本v1.5.0

[2019-08-16 07:53] sandyhouse commented on #19235
Closing this issue. If you have any further question, please reopen it.

[2019-08-16 07:54] sandyhouse commented on #19235
Closing this issue. If you have any further question, please reopen it.

[2019-08-16 07:54] #19235 closed, assigned to nobody

[2019-08-16 07:56] sandyhouse commented on #19234
Closing this issue. If you have any further question, please reopen it.

[2019-08-16 08:03] sandyhouse commented on #19234
Closing this issue. If you have any further question, please reopen it.

[2019-08-16 08:03] #19234 closed, assigned to nobody

[2019-08-16 08:51] AliceZhang2016 opened #19254 "如何reuse scope 或 variable?"
paddle: 1.5.0 - CPU
在使用预训练的ERNIE时候，希望同时建立两个共享参数的ErnieModel，如何做到像tf.variable_scope中reuse=tf.AUTO_REUSE呢？
在文档中没有查到，对任何建议都非常感谢！

[2019-08-16 08:58] imistyrain commented on #19043
可通过写文件的方式直接写，__model__变大的原因是存储了op_statck信息。
[code]

[2019-08-16 08:58] #19043 closed, assigned to nobody

[2019-08-16 09:08] ceci3 commented on #19254
名字相同的话 就相当于是共享参数

[2019-08-16 09:37] sandyhouse commented on #19232
Closing this issue. Reopen it if you have any further question.

[2019-08-16 09:37] #19232 closed, assigned to nobody

[2019-08-16 10:00] zhangxiaoqiang7 opened #19257 "fluid.layers.roi_perspective_transform Segmentation fault (core dumped)"
paddle 版本：1.5.0
运行环境：python 2.7 cuda 9.0 cudnn 7.3 k40 单卡
问题：
使用以下代码提取roi特征，出core
!
![image](https://user-images.githubusercontent.com/17901811/63159677-a6cdd480-c04e-11e9-941f-c0789e7c88ff.png)
[image](https://user-images.githubusercontent.com/17901811/63159641-8ef65080-c04e-11e9-9740-7dd3d6076195.png)
使用gdb python查看core文件信息如下：
![image](https://user-images.githubusercontent.com/17901811/63159746-

[2019-08-16 10:26] kidozh opened #19259 "如何加上环境变量GLOG_vmodule=operator=4"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1.post97
    2）CPU：Anaconda自带的数学库
    3）GPU：CUDA 9 CuDNN 9.2
    4）系统环境：Win10 Python3.5
- 训练信息
    1）单机/多机，单卡/多卡
    2）显存信息
    3）Operator信息

我在官方FAQ里面发现了对于添加这个环境变量的提示，但是在代码里加入了这个没法运行成功
[code]

所以我想问问

[2019-08-16 11:01] ceci3 commented on #19259
直接
export GLOG_logtostderr=1
export GLOG_vmodule=operator=4
就可以了~

[2019-08-16 11:15] kh2se2013 opened #19261 "Python测试用例中因使用subprocess.Popen导致的覆盖率数据较低"
如下图所示 test_dist_base.py 中通过 subprocess.Popen 来启动模型文件的测试，会导致被测模型文件脱离当前覆盖率测试环境。建议解决办法：在命令行参数中增加 coverage 启动脚本。

![image](https://user-images.githubusercontent.com/10680007/63164344-c408a000-c05a-11e9-8abb-3ef683a82f77.png)

[2019-08-16 11:50] sucuicong opened #19262 "stargan参数gan_mode=lsgan时无法跑通"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
- 模型信息
    1）模型名称  stargan
    2）使用数据集名称 celeba
    3）使用算法名称

[2019-08-16 12:04] ceci3 commented on #19262
StarGAN的lsgan模式没有验证过效果，最新的代码中已经删掉了这个模式，可以拉去最新的代码~

[2019-08-16 12:54] ceci3 commented on #19242
IfElse会根据cond的lod信息对 output先进行slice，然后再把true分支和false分支的结果根据lod信息进行merge，所以结果会不同

[2019-08-16 15:46] vincentXiyu commented on #19019
我也遇到这个情况，可以尝试把eval时的batch size调比较小，可能会管用。我这边貌似可以跑通，不太确定是不是普遍可以适用。

[2019-08-16 15:51] vincentXiyu commented on #19129
+1 我也遇到这个问题，不知道怎么解决

[2019-08-18 07:58] mzchtx opened #19270 "SSD 预测如何支持可变 shape ?"
以 MobileNet-SSD 为例，训练时候的图像输入 shape 为 `3 x 300 x 300`，在预测的时候是否支持可变的输入shape，如 `3 x 300 x 300`，`3 x 512 x 512` ?

[2019-08-18 08:05] yjc980121 commented on #19159
改了之后类型还是不对
Tensor holds the wrong type, it holds double, but desires to be int64_t at [D:\1.5.1\release_cuda97\paddle\paddle/fluid/framework/tensor_impl.h:30]
PaddlePaddle Call Stacks:
Windows not support stack backtrace yet.

那段代码我看AIStudio里Train和Test里都是line.split('\t')
并没有做数据类型转换，AIStudio跑的通

[2019-08-18 08:11] kelvict commented on #19241
已经开过了。 目前配置如下，
![image](https://user-images.githubusercontent.com/4210638/63221917-cbeb5000-c1d2-11e9-9386-ddd625347434.png)

[2019-08-19 01:57] #18794 closed, assigned to wanghaoshuang

[2019-08-19 02:46] SunGaofeng commented on #19257
@zhangxiaoqiang7 能提供下具体代码吗，我看能不能在我们机器上复现这个问题？

[2019-08-19 02:49] seiriosPlus commented on #19252
split_ids 支持的是int64类型的id类型的数据， 请问您 数据定义 是 int64类型的么？

[2019-08-19 02:51] JingChunzhen commented on #19252
我定义过int64，报的问题是op split_ids does not have kernel for data_type[int64_t]
所以我才替换成了int32

[2019-08-19 02:52] seiriosPlus commented on #19252
你是跑的GPU的任务？

[2019-08-19 02:56] JingChunzhen commented on #19252
对的 集群类型:Slurm集群硬件类型:GPU

[2019-08-19 03:05] Superjomn commented on #19241
concat 直接对应 memory copy，目前能用的优化方法都进去了
得尝试模型方面看看怎么规避下大的 concat

[2019-08-19 03:31] seiriosPlus commented on #19252
GPU场景下，不推荐使用is_distributed=True的模式，目前没有经过严格验证过。

[2019-08-19 04:14] sneaxiy opened #19275 "elementwise_mul_grad 1.5比1.4慢很多"
以下代码`use_constant`为True和False时，性能差异很大。
[code]

| <br> | Paddle 1.4 | Paddle 1.5|
|---|---|---|
| use_constant = False |10.821|15.4534|
| use_constant = True |12.2862|67.80492|

Related to #19023.

怀疑是[FastElemwiseGradBroadcast1CUDAKernel](https://github.com/PaddlePaddle/Paddle/blob/release/1.5/paddle/fluid/operators/elementwise/elementwise_op_function.h#L360)导致的问题。

[2019-08-19 04:56] sneaxiy commented on #19275
develop分支代码将[FastElemwiseGradBroadcast1CUDAKernel](https://github.com/PaddlePaddle/Paddle/blob/release/1.5/paddle/fluid/operators/elementwise/elementwise_op_function.h#L360)改为[ElemwiseGradBroadcast1CUDAKernel](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/elementwise/elementwise_op_function.h#L326)后，速度从67.7126891613降为16.8340370655。

麻烦@zhaoyuchen2018 看看此问题。

[2019-08-19 04:58] sneaxiy commented on #19275
develop分支代码将FastElemwiseGradBroadcast1CUDAKernel改为[ElemwiseGradBroadcast1CUDAKernel](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/elementwise/elementwise_op_function.h#L326)后，速度从67.7126891613降为16.8340370655。

麻烦@zhaoyuchen2018 看看此问题。

[2019-08-19 06:03] #19261 closed, assigned to nobody

[2019-08-19 06:30] #19245 closed, assigned to nobody

[2019-08-19 06:39] zhaoyuchen2018 commented on #19270
一般来说是不支持的，但是如果模型训练的时候可以输入不同shape，那么预测的时候就可以。对于不支持的你可以把数据预处理成训练的shape然后再用。

[2019-08-19 07:26] zhengkangjie opened #19276 "GRU中input_size为什么一定是frame_size的三倍"
在paddle1.5中，gru unit要求input_size必须为frame_size的三倍，并且在官方文档给出的机器翻译教程中，在使用gru unit之前也首先通过一个fc将输入数据的长度变为frame_size*3，这项要求会导致实现的神经网络参数增多，而且这项限制也不是必要的。
相关代码：paddle/fluid/operators/gru_unit_op.cc

[2019-08-19 07:53] guoshengCS commented on #19276
这是因为Paddle中将这三个对input的计算放在了gru unit的外部，https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html#gru-unit
<img width="723" alt="image" src="https://user-images.githubusercontent.com/14105589/63248131-41b9ef00-c299-11e9-81d7-47c8b0ef3bcd.png">
所以在使用gru unit之前也首先通过一个fc将输入数据的长度变为frame_size*3，效果是和公式里的一样的

[2019-08-19 08:58] bruce1408 commented on #17977
我在base 环境中安装依然出现错误,如下:

Running Verify Fluid Program ...
W0819 16:56:44.087344 19839 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.1, Runtime API Version: 10.0
W0819 16:56:44.088443 19839 device_context.cc:267] device: 0, cuDNN Version: 7.0.
W0819 16:56:44.088451 19839 device_context.cc:293] WARNING: device: 0. The installed Paddle is compiled with CUDN

[2019-08-19 09:32] mzchtx commented on #19270
我理解主要是 `prior_box` layer 生成 box 时候限制的，因为 `prior_box` 中的 `min_size` 和 `max_size` 已经保存在模型中，而预测时候只会按照这个对应的 `min_size` 和 `max_size` 生成 box。

以 `MobileNet-SSD 300` 为例， 如下图所示，已经限定了框的 `max_size` 不会超过 300，那如果我用 `3 * 512 * 512` 的输入，`prior_box` 的输入依旧不会超过 300，而此时就无法覆盖超过 300 的目标。

![image](https://user-images.githubusercontent.com/37564754/63254183-dcb8c600-c2a5-11e9-9e6c-8d27a92615b8.png)

考虑到上述情况，是否为训练一个 `3

[2019-08-19 11:43] #19150 closed, assigned to nobody

[2019-08-19 12:58] Archimondecy opened #19284 "如何查看fluid版本"
请问怎么查看当前按照的fluid是什么版本？

[2019-08-19 13:11] guozhiyao opened #19286 "多GPU模型使用exe.run得到的损失是一个GPU个数的numpy"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU：无
    3）GPU：4张Tesla P4，CUDA 9.0，CUDNN 7.2
    4）系统环境：CentOS，python3.6
- 训练信息
    1）单机多卡

代码：
`import paddle.fluid as fluid
import numpy
import os

use_cuda = True
place = fluid.CUDAPlace(0

[2019-08-19 14:06] liupluswei commented on #19284
import paddle
print(paddle.__version__)

或者使用pip

[2019-08-19 14:06] #19284 closed, assigned to nobody

[2019-08-19 14:31] liupluswei commented on #19286
对于多卡的losses data，你可以做mean操作(numpy.mean)

[2019-08-19 14:31] #19286 closed, assigned to nobody

[2019-08-19 15:02] lidanqing-vv commented on #19110
PR19191 is last PR for this issue. The conclusion is that for elementwise_mul_mkldnn, coverage is dependent on machines.

[2019-08-19 15:02] #19110 closed, assigned to nobody

[2019-08-19 15:51] NHZlX commented on #18259
trt 接受的输入为模型描述中shape的大小。 Diff产生的原因是因为trt输入的shape和 模型描述中的shape的大小不一致。

[2019-08-19 15:51] #18259 closed, assigned to Superjomn, NHZlX

[2019-08-20 01:49] dyning opened #19288 "paddle的so预测比fluid直接预测显存消耗多"
paddle的so预测比fluid直接预测显存消耗多，对于ResNeXt101_32x16d_wsl训练的检测模型，fliud直接预测，k40单卡可以装下，但是转成二进制，so预测，则显存不够。

[2019-08-20 03:22] leonleeldc opened #19291 "TypeError: _create_optimization_pass() missing 1 required positional argument: 'moment2'"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
- 模型信息
    1）模型名称 2）使用数据集名称 3）使用算法名称 4）模型链接
- 复现信息：如为报错，请给出复

[2019-08-20 03:24] leonleeldc commented on #19291
when I run examples from models with the following command line:
python3.6 paddlepaddle/models/PaddleCV/PaddleGAN/c_gan/dc_gan.py
I got the above errors. I didn't see I should set any positional arguments. This is more like something wrong with optimizer. Thanks,

[2019-08-20 03:35] zhaoyang1708 opened #19293 "多次提任务均遇到问题meets grpc error"
使用paddlecloud提交训练任务，任务多次失败，日志报错均类似如下
F0820 06:06:23.906448  3871 grpc_client.cc:408] GetRPC name:[sequence_conv_9.w_0.block3], ep:[10.89.128.16:62004], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
*** Check failure stack trace: ***
    @     0x7f1f209fdc0d  google::LogMessage::Fail()
    @     0x7f1f20a016bc  google::LogMessage::SendToLog()
    @     0x

[2019-08-20 04:11] lhcalibur opened #19294 "fluid.evaluator.EditDistance: desires to be int64_t error"
**System information**
-PaddlePaddle version  1.5.1.post97
-OS Platform Win10
**Describe your current behavior**
 fluid.evaluator.EditDistance when input and label is INT64, throw error:
"Tensor holds the wrong type, it holds int, but desires to be int64_t at [D:\1.5.1\release_cuda97\paddle\paddle/fluid/framework/tensor_impl.h:30]"

**Code to reproduce the issue**
![image](https://user-images.gith

[2019-08-20 04:39] qingqing01 commented on #19270
@mzchtx 预测支持变长shape，不用更改配置。 给变长的输入图片即可。

用PaddleDetection示例来说，模型训练输入是300x300，预测采用512x512作为输入，没问题:

[code]

[2019-08-20 05:44] mzchtx commented on #19270
是可以预测，不过结果有问题，如下图是输入 `3 * 300 * 300` 的结果：
![image](https://user-images.githubusercontent.com/37564754/63319911-6ae88700-c34e-11e9-88c8-3b0ceb6dd38a.png)

这个是输入 `3 * 512 * 512` 的结果：
![image](https://user-images.githubusercontent.com/37564754/63319973-a7b47e00-c34e-11e9-9598-2763a5850bb5.png)

demo 中的图片没出现这个问题是因为 demo 中图片的目标都比较小，体现不出来，辛苦再确认下

[2019-08-20 12:33] Cristhine opened #19306 "ifelse使用问题"
目的是想要通过ifelse结构 在构建模型的时候，某个tensor赋予不同的值；
我是这样写的：
 self.proposals = self.get_proposals()
216         #self.proposals=fluid.layers.Print(self.proposals,message="self.proposals")
217         #one_var = fluid.layers.fill_constant(shape=[1],dtype='float32',value=-1)
218         #_, self.new_proposals = fluid.layers.split(input=self.proposals, num_or_sections=[2,4], dim=1)
219         one_var = fluid.la

[2019-08-20 13:04] dkerjw1 opened #19308 "向量 相乘"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：fluid
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：CUDA 7.0
    4）系统环境：Linux Python 2.7
- 模型信息
    1）模型名称 2）使用数据集名称 3）使用算法名称 4）模型链接

你好，我现在想实现的一个功能是对softmax输出的向量与另一个向量相乘求期望，代码如下：
`idx = np.array([float(idx) fo

[2019-08-20 13:28] XuBlack opened #19309 "使用kinetics数据集里面的video2pkl.py时，可以将视频分解成图片，但是形成pkl文件时会报错：UnicodeDecodeError: 'gbk' codec can't decode byte 0xff in position 0: illegal multibyte sequence"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
- 模型信息
    1）模型名称 2）使用数据集名称 3）使用算法名称 4）模型链接
- 复现信息：如为报错，请给出复

[2019-08-20 15:24] liuguolian opened #19311 "There is no next data"
训练过程报错，错误信息如下：
Traceback (most recent call last):
File "run_dssm.py", line 254, in <module>
main(args)
File "run_dssm.py", line 218, in main
train_exe.run(fetch_list=[])
File "/home/slurm/job/tmp/job-124154/python_new/lib/python2.7/site-packages/paddle/fluid/parallel_executor.py", line 193, in run
return_numpy=return_numpy)
File "/home/slurm/job/tmp/job-124154/python_new/lib/python2.7/site-package

[2019-08-20 17:28] leonleeldc commented on #19291
The problem is resolved. I found that the reason is related to compiling code from source file. There should be some conflicts among the source compiling and the one installed from pip3. After I uninstalled paddle and reinstalled it from pip3, the problem is gone.

[2019-08-20 17:28] #19291 closed, assigned to nobody

[2019-08-21 02:21] xcwei opened #19315 "Optimizer minimize 报错"
[code]
运行时报错
Traceback (most recent call last):
  File "Model_QFeatNorm-mod.py", line 128, in <module>
    model = Model(data)
  File "Model_QFeatNorm-mod.py", line 32, in __init__
    self.build_model()
  File "Model_QFeatNorm-mod.py", line 40, in build_model
    self.build_loss()
  File "Model_QFeatNorm-mod.py", line 99, in build_loss
    self.optim.minimize(self.norm_loss)
  File "/home/ssd5/ga

[2019-08-21 02:45] Shixiaowei02 commented on #19311
您好，报错发生在 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/reader/read_op.cc#L88-L90 ，根据提示怀疑输入遇到 EOFException，请检查输入数据完整性。谢谢！

[2019-08-21 02:49] Shixiaowei02 commented on #19315
这是因为 op 没有实现反向造成的，但是报错信息不太清晰。我们将在 1.6 版本优化报错信息，给您带来不便请谅解。

[2019-08-21 03:08] zhanghan1992 opened #19317 "CRF多卡nan"
Ernie 在实体识别数据上 finetuning，使用linear_chain_crf计算loss, 单卡正常收敛，同配置下多卡收敛慢，并出现loss为nan。

[2019-08-21 08:05] wlxy opened #19321 "dssm模型训练过程中，loss不减小，auc提升慢，模型收敛慢"
求助：
dssm模型训练过程中，loss不减小，auc提升慢，模型收敛慢，增加学习率也没有改善
对于这种情况，可以从哪些方面去优化网络呢？

为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号

[2019-08-21 08:13] wopeizl commented on #18618
第二个看起来是img为空导致，第一个case在本地可以复现吗？

[2019-08-21 08:56] wopeizl commented on #18610
fluid.layers.Print(xxx)即可

[2019-08-21 08:57] wopeizl commented on #18610
看了一下，        diff = fluid.layers.expand(diff, [1, self.class_size]) 应该是不需要的

diff = fluid.layers.reshape(diff, [-1, self.class_size], inplace=True)
#diff = fluid.layers.expand(diff, [1, self.class_size])

[2019-08-21 09:59] stevehejianguo opened #19323 "expected in_dims[1] == filter_dims[1] * groups, but received in_dims[1]:512 != filter_dims[1] * groups:1024"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
- 模型信息
    1）模型名称 2）使用数据集名称 3）使用算法名称 4）模型链接
- 复现信息：如为报错，请给出复

[2019-08-21 10:11] 1145520074 opened #19325 "动态图clear_gradients() 出错"
使用 paddle 动态图进行训练，在执行到self.model.clear_gradients() 出现Segmentation fault错误，没有任何提示信息，请问是什么原因？self.model.clear_gradients() 的作用是什么？

 <paddle.fluid.core.VarBase object at 0x7fd0bca91b58>
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，

[2019-08-21 10:24] kiols6 opened #19326 "yolov3，eval.py无法编译通过"
环境
1.paddlepaddle 1.5.1
2.i9 9900kf
3.RTX2080 cuda10.1 cudnn7.5.1
4.Ubuntu 16.04 ，python3.6
模型
yolov3，使用自定数据集，Darknet53，https://github.com/kiols6/models/tree/develop/PaddleCV/yolov3

上述为复现环境；仅仅使用自定义数据集训练目标识别模型；
train.py 使用正常，模型成功训练完成，想使用eval.py检查模型效果，发生报错

[2019-08-21 10:33] kiols6 commented on #19326
在exe = fluid.Executor(place)的下一行，补充exe.run(fluid.default_startup_program())即可使用

[2019-08-21 10:33] #19326 closed, assigned to nobody

[2019-08-21 10:40] seiriosPlus commented on #19293
使用同步模式还是异步模式？

[2019-08-21 10:41] fengchun1213 opened #19327 "CPU占用时间很多"
用profiler看了一下，发现cpu时间好长，一般是什么问题呢
![屏幕快照 2019-08-21 下午6 41 20](https://user-images.githubusercontent.com/48874817/63425514-4de1b000-c443-11e9-9c94-d2edc248821e.png)

[2019-08-21 11:23] Shixiaowei02 commented on #19325
hi 跟进中。

[2019-08-21 11:57] LALAliyao opened #19330 "使用paddlevideo模型训练时，数据集使用pkl类型会报错：[INFO: kinetics_reader.py: 151]: Error when loading /home/aistudio/PaddleVideo/dataset/youtube8m/youtube8m/pkl/train/trainlp.pkl"

[2019-08-21 12:43] sshilei opened #19331 "paddlecloud Trainer报错，meets grpc error, error_code:"
F0821 08:28:45.851277  2464 grpc_client.cc:414] FetchBarrierRPC name:[FETCH_BARRIER@RECV], ep:[10.89.140.19:30010], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
*** Check failure stack trace: ***
    @     0x7f495d9797ed  google::LogMessage::Fail()
    @     0x7f495d97d29c  google::LogMessage::SendToLog()
    @     0x7f495d979313  google::LogMessage::Fl

[2019-08-21 13:39] MrChengmo commented on #19331
可以给我(chengmo)分享一下cloud任务吗，看一下是不是分布式配置上的问题

[2019-08-21 16:25] xiongbinbtbu opened #19335 "C++ 预测性能优化"
使用cpp的avx_openblas版本接口预测68ms，使用cpp的avx_mkl版本预测173毫秒，按照https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/native_infer.html 添加EnableMKLDNN、EnableMemoryOptim也没有什么效果，如果需要把时延降到10ms可以从哪些地方优化？

[2019-08-22 02:10] OliverLPH commented on #19335
`config->SetCpuMathLibraryNumThreads(8);`打开这个优化试试呢

[2019-08-22 02:15] luotao1 commented on #19335
avx_mkl不应该比avx_openblas慢。
- 是一个独立业务，还是加了很多其他业务逻辑呢？
- 库版本号？
- cpu型号

[2019-08-22 02:41] yangjing14 opened #19339 "Paddle集群训练过程中报GRPC错误"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）Paddle Cloud，MPI任务
- 问题描述：
任务链接：http://10.90.102.22:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20190821225301-12979--train_job_quanmin_siamese2_32_epoch3_4_paddlecloud

训练过程中忽然报Grpc 14的错误，具体日志如下：
Thu Aug 22 01:28:55 2019[1,12]<stdout>:F0822 01:28:55.904119 14626 grpc_client.cc:418] SendRPC name:[emb_title@GRAD.block48.trainer_12], ep:[10.

[2019-08-22 02:43] Shixiaowei02 commented on #19330
请详细描述一下问题，谢谢

[2019-08-22 02:54] liangpj commented on #19339
一样的问题：
版本框架:
paddle-fluid-v1.2.0
任务链接：
http://10.156.84.25:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190821144228-12567/
报错节点 log:
http://10.156.82.34:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190821144228-12567/
报错信息：
pass_id: 0 batch_F0822 08:18:01.013775 51005 grpc_client.cc:357] SendRPC name:[embedding_0.w_0@GRAD.block0.trainer_0], ep:[10.156.82.27:6

[2019-08-22 03:40] Shixiaowei02 commented on #19317
已线下拉群。

[2019-08-22 03:41] prakharg24 opened #19343 "How to get 'feeded_var_names' and 'target_vars' so that I can save the inference model?"
I am new to paddlepaddle. I am trying to reproduce the code present here ->

https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/train.py

But instead of using save_persistables, I want to do save_inference_model

However save_inference_model requires two extra inputs, 'feeded_var_names' and 'target_vars'. From where can I get this input?

In short, how do I edit the code present in t

[2019-08-22 03:47] Shixiaowei02 commented on #19323
请提供训练完成 save_inference_model 的输出，谢谢！

[2019-08-22 03:51] Shixiaowei02 commented on #19327
您好，请提供具体版本和代码以便问题调试，谢谢！

[2019-08-22 04:21] chenwhql opened #19345 "paddle训练报错信息重复问题"
写了一个小程序，测试exe.run(startup_progam)在optimizer.minimize之前运行会以什么形式报错，发现错误信息有冗余，体验不好

程序如下：

[code]

报错信息如下：

[code]

[2019-08-22 05:17] seiriosPlus commented on #19293
可以基于这个PR https://github.com/PaddlePaddle/Paddle/pull/18984 重新build一个包尝试一下， 或者hi我提供一个新包给你

[2019-08-22 05:18] seiriosPlus commented on #19339
1. 同步训练还是异步训练
2. 是在训练过程中出的问题还是训练开始出的问题

[2019-08-22 06:06] yangjing14 commented on #19339
同步训练，训练过程中出现问题

[2019-08-22 06:14] kh2se2013 opened #19347 "模版类定义中的名称一行，未进行覆盖统计"
模版类定义中的名称一行，未进行覆盖统计

![image](https://user-images.githubusercontent.com/10680007/63483948-909d9980-c4d0-11e9-97e3-c5763f884b81.png)

[2019-08-22 06:58] OliverLPH commented on #19343
`feeded_var_names` refers to a list contained names of variables that need to be feeded data during inference.
`target_vars` is variables from which we can get inference results.

you can have a look at this page [save-inference-model](https://www.paddlepaddle.org.cn/documentation/docs/en/1.5/api/io.html#save-inference-model)

But since train.py loads data via pyreader, I'm not sure the name of `f

[2019-08-22 07:12] prakharg24 commented on #19343
Thank you for the reply @OliverLPH

After a lot messing around of my own, I did already try exactly what you have mentioned here. This did not present any errors while saving the model and also created a '\_model\_' file inside the folder as I expected.

However, I was trying to save this as an inference model because I wanted to use this model for calculating the score using the script here ->

h

[2019-08-22 07:27] OliverLPH commented on #19343
Could please provide a snapshot of that error? I haven't met this error before.

or maybe you can try feed data in this way?
[code]

[2019-08-22 07:32] seiriosPlus commented on #19339
error code 14会在下一个版本中解决此问题，目前的话可以尝试用异步训练或者重试来避免此问题。

[2019-08-22 07:35] prakharg24 commented on #19343
This is the error that I got by simply using the model directory that was formed earlier in score.py script

[code]

And when chnged the code to --

[code]

I got this error ->

[code]

I tried to just get the output and print it to see what is happening, so I changes the code to --

[code]

And I got this as the output ->
[code]

Which is clearly only a single element array. That's why I said tha

[2019-08-22 07:39] yangjing14 commented on #19339
下个版本大概什么时候能用？

[2019-08-22 07:41] DDDivano opened #19351 "动态图cyclegan训练内存泄露"
dict每一轮增加4个，variable每一轮增加4个。
在train.py文件中
![image](https://user-images.githubusercontent.com/10734244/63495770-1599aa80-c4f3-11e9-81eb-6ecd67bb2a77.png)
这里增加了4个dict和2个variable
![image](https://user-images.githubusercontent.com/10734244/63495790-221e0300-c4f3-11e9-9d26-c824277b9b60.png)
这里增加了2个variable，这个可解释。
需要排查一下模型forward代码涉及的layer是否存在内存泄露问题。

[2019-08-22 07:42] prakharg24 commented on #19343
I tried feeding the data this way and got the error
[code]

[2019-08-22 07:47] prakharg24 commented on #19343
I think that the score.py expects me to save an inference model whose outputs are boxes and scores. But currently I am saving a model whose output is the final output after nms. So I looked back into train.py and found this
[code]

Here instead of using nmsed_out, I should probably use box and confs. But I am not sure what box_var and locs are so I am confused as to whether this will be the right

[2019-08-22 08:06] prakharg24 commented on #19343
It worked!!! Atleast there are no errors. I fed [locs, confs] as target_vars instead of nmsed_out.

Small issue, the expected output of scores_np should be of shape batch * num_classes * num_boxes
But the confs tensor present here gives the output of shape batch * num_boxes * num_classes

Obviously I can simply transpose the output, but my only concern is why this change of shape? I mean will thes

[2019-08-22 08:25] chenwhql opened #19352 "paddle未初始化变量报错信息不准确"
exe.run(Startup_program)放在optimizer.mimimize之前执行时，后面run(main_program)的时候，在Run到最后的optimize op时，会因为minimize添加到startup program中的learning_rate等变量没有经过fill_constant opc初始化而报错，这时候，报错信息应该提示变量未初始化，而paddle现在的报错也是令人迷惑的

[code]

![image](https://user-images.githubusercontent.com/22561442/63498830-3fee6680-c4f9-11e9-96fe-197d95a1dc4c.png)

相比之下，tensorflow在同类错误中，报错是比较清晰的

![image](https://user-images.githubuser

[2019-08-22 08:48] xuzhenglei1991 opened #19354 "paddle多cpu训练与预测问题"
之前用的paddle1.2版本进行的训练，但是速度太慢，故改成多cpu的训练方式，由于paddle1.2调用多cpu的时候报错，具体错误为：

[code]

故改成paddle1.5进行训练

这样又遇到一个问题，预测的代码是C++ paddle1.2.0_pb32版本的 load模型的时候会报core，堆栈信息如下：

[code]

辛苦看下如何解决这个问题。更换训练维paddle1.2的多cpu训练接口？还是更换预测库的维paddle1.5_pb32的呢？

[2019-08-22 09:32] xyzhou-puck commented on #19321
您好，请问您使用的是模型库已有的模型吗？一般来说，模型训练效果不好，可以考虑使用预训练embedding初始化，也可以检查一下每个batch的正负样本是否均衡，数据集是否噪音过大等。

如果方便的话，麻烦发一下您的代码和数据，我们可以帮您debug一下。

[2019-08-22 09:40] seiriosPlus commented on #19339
还需要等待一段时间，
如果涉及到rpc error code 4， 可以基于这个PR https://github.com/PaddlePaddle/Paddle/pull/18984
涉及到error code 14， 目前可以尝试异步或者重试。

[2019-08-22 09:55] wlxy commented on #19321
job-0bb5d5192f038a4b 这是我在训练过的一个模型，你可以克隆一份任务
谢谢啦～

[2019-08-22 10:48] topxxuki opened #19357 "训练时如何让删除内存中的program_cache"
<img width="725" alt="MacHi 2019-08-22 18-48-50" src="https://user-images.githubusercontent.com/18697846/63508912-83eb6680-c50d-11e9-93ef-acfc99a4513a.png">
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）系统环境：Mac

请问在executor.run时，如何删除内存中的program_issue

[2019-08-22 11:01] zhhsplendid commented on #19357
什么叫删除内存中的program_issue呢？

[2019-08-22 11:05] xiegegege opened #19358 "develop分支上显存不足报CUDNN_STATUS_INTERNAL_ERROR"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：develop分支
2）CPU/GPU：CUDA9 CUDNN7
3）系统环境：centos
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能
paddle develop分支上显存不足报CUDNN_STATUS_INTERNAL_ERROR，看不出来是显存不足，建议优化下

[2019-08-22 11:21] topxxuki commented on #19357
program_cache

[2019-08-22 11:26] JiabinYang commented on #19325
原因是用户使用的方式不对，但是也反映出动态图需要支持`detach`, 自动剪枝功能

[2019-08-22 11:26] #19325 closed, assigned to JiabinYang

[2019-08-22 11:42] songyiting opened #19361 "多线程环境下使用fluid在线预估库，释放clone的predictor出core"
- 版本、环境信息：
    1）PaddlePaddle版本：fluid 1.4
    2）CPU：Intel(R) Xeon(R) CPU E5-2650 v3 @ 2.30GHz
    3）系统环境：Linux
- 复现信息：内网环境，在模型更新时必现
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
    我们的预估服务在每个线程中分配一个thread_local的PaddlePredictor指针，各自指向一个Clone的PaddlePredictor对象，当模型更新时释放对象并将指针指向新Clone的对象。相关代码如下：
`class UapTagPredictor {`
    `...`
    `std::unique_ptr<paddle::PaddlePredictor> _predictor;`
`}`
`//当检测到模型更新时，释放旧的

[2019-08-22 12:12] mapingshuo opened #19362 "在保存模型时完善模型裁剪功能"
现在paddle的模型存储实现为：
[code]
很多用户提出需求，希望完善模型裁剪功能，例如：https://github.com/PaddlePaddle/Paddle/issues/17021

save_inference_model支持对模型的裁剪，但是当设置`feeded_var_names`不是原program的输入`Variable`时，裁剪时会漏掉一些`Operator`，导致 inference_program 跑不起来。例如在[文本分类](https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/unarchived/text_classification)任务的bow net的训练过程中，当save_inference_model时设置`feeded_var_names`为`lookup_table`

[2019-08-22 12:15] mapingshuo commented on #17021
你好，我正在做模型裁剪的工作：https://github.com/PaddlePaddle/Paddle/issues/19362。

[2019-08-22 12:40] jinxing94 opened #19363 "变量的broadcast"
您好，

想使用fluid.layers.equal,  比较的两个变量shape需要broadcast,  尝试expand报错。

代码如下：
[code]

[2019-08-22 12:45] yuanzhenbd opened #19364 "python3版本lac分词模型出core"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU：i5, MacBook Pro
    4）Mac OS 10.14，Python3.7.1
- 模型信息
    1）lac
代码
`    def lac_split(self, post):
        self.lac = hub.Module(name="lac")
        inputs = {"text": [post]}
        results = self.lac.lexical_analysis(data=inputs)
        return results`
报错日志
[2019-08-22 20:35:39,706] [   DEBUG] - Prefix dict has been built succesfully.
init black w

[2019-08-22 12:49] zhhsplendid commented on #19363
与用户沟通过，使用fluid.layers.zeros_like后可以满足需求。我将关闭此issue

[2019-08-22 12:49] #19363 closed, assigned to nobody

[2019-08-22 12:51] jinxing94 commented on #19363
用zeros_like可以

[code]

[2019-08-22 13:37] wojtuss commented on #18893
Keeping the mul op fake-quantized did not improve the accuracy. With fake-quantized mul as well as with FP32 mul the accuracy result is still:
[code]

[2019-08-22 14:12] wojtuss commented on #18893
Keeping all int8 tensors as s8 did not improve the accuracy, it became a little bit worse instead:
[code]

[2019-08-22 17:11] jczaja commented on #18658
Status of investigation: Failure (accuracy problems) are a result that fetch operator does not perform conversion of mkl-dnn data into paddle data. OperatorsWithKernel are invoking PrepareData which may trigger conversion from MKL-DNN data format into Paddle data format. For face model just before fetch op there is "tanh" operator which is executed by mkl-dnn . For AVX512 tanh will work on mkl-dnn

[2019-08-23 03:26] luotao1 commented on #18658
@jczaja  Could the accuracy diff be solved If there is only first `PrepareData` in `OperatorsWithKernel`, not each time?

[2019-08-23 03:28] luotao1 commented on #18658
So no performance penalty is by disabling tanh.

I think it's Ok for just this model on avx512.

@LeoZhao-Intel @jianhang-liu How do you think about it?

[2019-08-23 03:29] dingsiyu opened #19375 "slice op使用报错"
[code]

报错：

[code]

![image](https://user-images.githubusercontent.com/7320657/63565410-6bc22880-c59b-11e9-8fa9-ef014918c760.png)

[2019-08-23 03:52] ysh329 commented on #19375
![image](https://user-images.githubusercontent.com/7320657/63565650-58638d00-c59c-11e9-82d4-d274c9aa7c43.png)
检查一下axes的设置的值对不对，out_dims的值对不对？，另外要注意这是第几个slice_op造成的问题，每个都检查一下

[2019-08-23 05:48] LeoZhao-BJ commented on #18658
Just my 2 cents:
Currently for ops based on OperatorsWithKernel, PrepareData is just doing data layout transform on input tensors instead of outputs, in one graph it follows this rule and works well.
But this case is special since last op based on OperatorsWithKernel is connected with fetch op which is not based on OperatorsWithKernel, then there is issue.
2 options I think, one is do layout conve

[2019-08-23 06:17] qjaden opened #19382 "Docker(nvidia官方镜像构建) cuda10+python3 构建 报错（Can not find library: libcublas.so.）"
- 标题：Docker 构建 报错（Can not find library: libcublas.so.）【查阅资料无果】
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU：请提供CPU型号，英特尔至强E5-2630V4
    3）GPU：RTX 2080，CUDA10.0
    4）系统环境：Ubuntu18.04
环境变量为：
[code]

- 安装方式信息：
1）pip安装/docker安装
`python -m pip install paddlepaddle-gpu -i https://pypi.tuna.tsinghua.edu.cn/simple`
2）python 环境：python3.7
3）docker编译：请提供docker镜像，编译命令       
编译文件用的NVIDIA官方[](https://gitla

[2019-08-23 07:41] jczaja commented on #18658
Ok, I will work on adding conversion into fetch op eg.call TransDataLayoutFromMKLDNN inside fetch::RunImpl

[2019-08-23 07:42] #13886 closed, assigned to typhoonzero, shanyi15

[2019-08-23 07:44] seiriosPlus commented on #19354
第一个问题： 不是增量训练的问题，是因为batch size小于线程并发数， 参考官网文档关于CPU_NUM的说明

第二个问题：看上去是由于版本不兼容导致的，可以用新版本生成__model__文件试一下。

[2019-08-23 08:13] sucuicong opened #19389 "深度注意力机制模型（Deep Attention Matching Network）在CPU环境下训练过程无法跑通"
模型信息
    1）模型名称 Deep Attention Matching Network
    2）使用数据集名称 ubuntu
    3）使用算法名称 Deep Attention Matching Network
    4）模型链接 https://github.com/PaddlePaddle/models/tree/release/1.5/PaddleNLP/dialogue_model_toolkit/deep_attention_matching
- 复现信息：如为报错，请给出复现环境、复现步骤

[code]

[code]

[2019-08-23 09:00] LALAliyao commented on #19330
上面那个问题解决了，请问一下模型预测的时候，infer_result以pkl文件存储，怎样查看视频分类结果呢

[2019-08-23 09:27] zhhsplendid commented on #19357
use_program_cache是run时的一个参数，默认就是False的。你看看你变量设为False就删了（甚至根本没存）

[2019-08-23 10:41] XipengY opened #19394 "训练中reshape op出现shape不对应"
- faster rcnn 架构   修改的shuffle net backbone
- 平台：centros6.3
- paddle版本号：1.5.0
- GPU：K40
- python2.7

训练信息

   1）单机/多机

reshape的时候，维度对不上：  注：训练了大概10多个iter报错的，不是一开始就报错了。

错误信息如下：

[code]

组网中打印的维度和预想的一致：
[code]

但是训练中打印了tensor，确实有奇怪的现象：

[code]

[2019-08-23 10:54] ceci3 commented on #19249
计划1.6版本支持超大规模的分类问题~ 别的暂时还不支持

[2019-08-23 11:04] ysh329 commented on #19389
建议

[code]

检查list size

[2019-08-23 11:11] sucuicong commented on #19389
代码是paddle github上的源码，没有做过任何修改，在GPU环境下可以跑通，在CPU下会有这样的报错，请告知该代码的作者修改

发件人: Yuan Shuai <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年8月23日 星期五 下午7:05
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Su,Cuicong" <sucuicong@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] 深度注意力机制模型（Deep Attention Matching Network）在CPU环境下训练过程无法跑

[2019-08-23 11:18] ysh329 commented on #19382
感觉是
1. 这个CUDA没有装好：`/usr/local/cuda/bin`这个目录有东西吗
2. 好像你的环境变量写的有点问题，我稍微改了下：

[code]

[2019-08-23 13:37] wojtuss commented on #18893
Skipping quantization of average pooling improved the ResNet50 accuracy a little bit:
[code]
Diff to FP32 is 0.0016.

[2019-08-23 17:27] jczaja commented on #17655
done as #19237

[2019-08-23 17:27] #17655 closed, assigned to jczaja

[2019-08-23 17:29] jczaja opened #19398 "[MKL-DNN] Add pass to fuse conv2d_transpose and batch_norm"
Issue to track a task of adding a pass that will fuse conv2d_transpose of mkl-dnn with batch_norm mkldnn op. This should benefit internal face model.

[2019-08-23 17:40] jczaja commented on #18658
@LeoZhao-Intel , @luotao1 PR #19282 with my proposal of modifications to fetch op so it solves most recent issue discussed here (lack of conversion from MKL-DNN to Paddle in fetch op). It works for Face model and some other testing I have done. Please take a look and let me know what you think.

[2019-08-23 18:54] daming-lu opened #19399 "Cudnn7 安装问题"
如果Cudnn没安装，会出现以下报错：
[code]
按照 NVIDIA 的官网安装并验证：

https://docs.nvidia.com/deeplearning/sdk/cudnn-install/index.html#verify

就可以修复这个问题。

[2019-08-23 18:56] #19399 closed, assigned to nobody

[2019-08-24 00:51] qingwuzhu opened #19400 "CPU的预测调用是否需要释放。下面代码跑一下就因为内存不够异常退出"
   1）PaddlePaddle版本：cpu_avx_mkl1.5
    2）CPU：CPU版本
下面函数中体中tensor是否需要释放。？？？？
下在函数，在外面使用一个 for循环，当跑到1000次左右，就因为机器没有内存异常退出，运行过程中可以明显看出内存在减少。
for(int i=0;i < 10000; i ++)
 ocrFrCellOrientation("\dateset",  batchData, 1, 32,400)

函数体如下：
    int ocrFrCellOrientation(const std::string &model_path,  const float *batchData, int batchsize, int img_width,
                             int img_height) {

[2019-08-24 02:39] qingwuzhu commented on #19400
补充一下堆栈：
Enforce failed. Expected posix_memalign(&p, alignment, size) == 0, but received posix_memalign(&p, alignment, size):12 != 0:0.
Alloc 524288000 error! at [/paddle/paddle/fluid/memory/detail/system_allocator.cc:57]
PaddlePaddle Call Stacks:
0       0x7f0dccca5198p void paddle::platform::EnforceNotMet::Init<std::string>(std::string, char const*, int) + 392
1       0x7f0dcdaf5737p paddle::memo

[2019-08-24 02:55] LALAliyao commented on #19330
请问一下最后预测出来的pkl文件，该怎样查看他的结果呢？

---原始邮件---
发件人: "石晓伟"<notifications@github.com>
发送时间: 2019年8月22日(星期四) 上午10:43
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "Author"<author@noreply.github.com>;"LALAliyao"<1907381057@qq.com>;
主题: Re: [PaddlePaddle/Paddle] 使用paddlevideo模型训练时，数据集使用pkl类型会报错：[INFO: kinetics_reader.py:  151]: Error when loading /home/aistudio/PaddleVideo/dataset/youtube8m/yout

[2019-08-24 04:12] Yelrose opened #19401 "fleet模式大embedding，pserver报错"
![image](https://user-images.githubusercontent.com/5746283/63632397-b27d5480-c667-11e9-8138-0dc13587c697.png)

embedding_size是 (14262238, 128), is_sparse=True， 似乎是14262238*128*4 > max_int

[2019-08-24 04:12] Yelrose commented on #19401
非pserver模式不会报错

[2019-08-24 05:01] qjaden commented on #19382
cuda和cudnn的环境都是配置好的（用的NVIDIA官方的镜像构建），`/usr/local/cuda/bin`都有，感觉是PaddlePaddle的问题，百度官方提供的镜像只支持python2。

[2019-08-24 07:20] edencfc commented on #17203
我也遇到同样的情况，调低初始学习率就正常了

[2019-08-24 07:22] cucumberpieces opened #19402 "加入position embddding"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-08-24 08:00] cucumberpieces commented on #19402
做nlp的任务，除了word embedding之外，如何加入其他类型的特征，比如相对距离特征，position embedding，如何导入进去与word embedding concat呢

[2019-08-24 17:19] leonleeldc opened #19404 "make_template"
Is there a similar approach to tensorflow for make_template to share variables?

[2019-08-25 15:10] MRXLT commented on #19402
你好，不同的特征之间可以用fluid.layers.concat进行拼接

[2019-08-25 17:38] fire717 commented on #19048
你好，在你们的帮助下，之前跑paddle.fluid.install_check.run_check()的确没问题了，但是我尝试跑https://aistudio.baidu.com/aistudio/projectdetail/60139   这里的代码，还是会报错Windows not support stack backtrace yet， 详细报错如下，麻烦看一下呢。

`2019-08-26 01:37:12,415 - train.py[line:395] - INFO: create prog success
2019-08-26 01:37:12,415 - train.py[line:396] - INFO: train config: {'input_size': [3, 512, 512], 'class_dim': 5, 'image_count': 2947, '

[2019-08-26 02:13] cucumberpieces commented on #19402
我的意思是，如何读入进来

------------------ 原始邮件 ------------------
发件人: "MRXLT"<notifications@github.com>;
发送时间: 2019年8月25日(星期天) 晚上11:11
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "cucumber王子"<wangchunyu008@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 加入position embddding (#19402)

你好，不同的特征之间可以用fluid.layers.concat进行拼接

—
You are receiving this because you autho

[2019-08-26 03:28] #18734 closed, assigned to mapingshuo, guru4elephant

[2019-08-26 04:12] xuzhenglei1991 commented on #19354
第二个问题是这样的: 用的1.5版本生成了__model__文件，用1.2的C++版本预测的。没太懂这个新版本生成__model__文件指的是？

[2019-08-26 04:58] MRXLT commented on #19402
可以具体描述一下想要进行的操作吗

[2019-08-26 05:03] MRXLT commented on #19401
你好，可以贴一下trainer.py的配置信息以及组网中emdedding相关的信息吗

[2019-08-26 05:08] Yelrose commented on #19401
[code]
我这边自己定位了一下，应该是grpc那边的问题，embedding buffer不能超过uint32, 14262238x128x4=73,022,366,368。这个问题可以修复吗？

[2019-08-26 05:09] Yelrose commented on #19401
使用is_distributed=False，主要是is_distributed=True下fluid.layers.AdamOptimizer的收敛有问题。

[2019-08-26 05:22] MRXLT commented on #19401
有两种解决方案：
1、多启用几个trainer与pserver，这里的embedding buffer对单个节点来说太大了
2、使用is_distributed=True，但这里会使用SGD而不是adam，所以需要调节学习率

[2019-08-26 05:42] seiriosPlus commented on #19354
用1.5版本生成的__model__用1.2预测可能会导致不兼容的问题， 可以使用1.5版本预测。

[2019-08-26 05:47] MRXLT commented on #19404
There is no such approach, if you want to share variables in some layers, just need to use the  same name.

[2019-08-26 06:10] cucumberpieces commented on #19402
做一个实体关系抽取的任务，除了字embedding之外，想加入position embedding，我知道需要concat，但是如何将新的特征导入进来和embedding concat呢，有这种demo吗，可以发给我看一下

------------------ 原始邮件 ------------------
发件人: "MRXLT"<notifications@github.com>;
发送时间: 2019年8月26日(星期一) 中午12:59
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "cucumber王子"<wangchunyu008@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 加入position e

[2019-08-26 07:20] cfl2005 commented on #1135
您好，请问您知道如何获取每一个输出的概率了吗？谢谢。

[2019-08-26 07:32] DogHeadMoon commented on #18096
https://github.com/PaddlePaddle/Paddle/pull/19384

[2019-08-26 07:33] xuzhenglei1991 commented on #19354
C++咱们这边有对应的pb32版本的1.5版本么

[2019-08-26 08:09] MRXLT commented on #19400
你好，可以尝试在预测完成后手动释放输入输出tensor

[2019-08-26 10:12] ysh329 commented on #19382
@ZhengHui-Z 你这里可以使用装好的Paddle的NV-Docker景象嘛，自己就不需要装了，只需要下载paddle的nv-docker的镜像直接拿来用就行了？

----

抱歉，我后来看了下，目前还不支持

![image](https://user-images.githubusercontent.com/7320657/63683485-0edda100-c82d-11e9-8c4e-307488cbdd61.png)

[2019-08-26 10:12] stevehejianguo commented on #19323
没有完成训练，报错了，不会有save_inference_model 。。。

在 2019-08-22 10:48:08，"石晓伟" <notifications@github.com> 写道：

请提供训练完成 save_inference_model 的输出，谢谢！

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-26 10:15] gelansheshed commented on #19394
请确保每个iter的输入batch_size大小训练数据的的shape正确

[2019-08-26 10:16] lijianshe02 commented on #19394
请确保每个iter的输入batch_size大小训练数据的的shape正确

[2019-08-26 10:18] ysh329 commented on #19354
已经有提供的安装包了，可以参考[安装与编译C++预测库-使用文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/build_and_install_lib_cn.html)

[2019-08-26 10:26] qingwuzhu commented on #19400
predictor 这个怎么释放，我发现每次退出后，这个占用的内存不会释放。

[2019-08-26 10:40] sshilei opened #19423 "cross_entropy_op.h:159 Assertion `label >= 0 && label < feature_size_` failed"
Exception: /paddle/paddle/fluid/operators/cross_entropy_op.h:159 Assertion `label >= 0 && label < feature_size_` failed (The label is out of the range. 1).
terminate called after throwing an instance of 'std::runtime_error'
  what():  Exception encounter.

样本中label的值都是0和1

[2019-08-26 11:35] #19423 closed, assigned to nobody

[2019-08-26 11:49] gongweibao opened #19425 "Speed up resnet model's throughput on fp16"
# Target:
Resnet50, batchsize 128 or 256
1400 images / v100 gpu card
10000+ images/v100 machine

# TODO
   - [x] 1. NHWC
      According to https://devblogs.nvidia.com/tensor-core-ai-performance-milestones/?linkId=100000002357715

- batchnorm
- conv
- pool

other:?
- pool_with_index
- conv_tranpose
- prior_box
- shuffle_channel
- affine_channel
- MaxOutFunctor

- [x]  2. elementwise
According to n

[2019-08-26 11:59] fc500110 commented on #19400
不需要release吧

[2019-08-26 12:02] fc500110 commented on #19400
智能指针是自动管理内存的，release释放了指针所有权，会造成内存泄漏

[2019-08-26 12:17] NHZlX commented on #19179
这边会对此模型进行复现，并且进行fix。

[2019-08-26 12:19] guozhiyao opened #19427 "有提供全局梯度裁剪的op嘛？"
我想要像pytorch那样对全局梯度norm进行裁剪，但是官网api提供的例子只能针对某一层设置
[code]
是否有提供全局梯度裁剪的op？还是要手动一层一层设置？

[2019-08-26 12:39] xymyeah opened #19428 "希望fluid.io.save_inference_model等save方法能支持设置描述信息"
希望fluid.io.save_inference_model等save方法能支持设置描述（备注）信息，string类型，可以将准确率、loss等效果数据写入到描述信息中，便于后续根据描述信息就能知道模型的效果等数据，也便于模型仓库的对接时直接能读取到该描述（备注）信息

[2019-08-26 13:04] jinxing94 opened #19429 "Invoke operator lod_tensor_to_array error"
模型不用optimizer能输出loss,  加上optimizer报错，错误信息如下，求问原因。

  exe.run(program.desc, scope, 0, True, True, fetch_var_name)
paddle.fluid.core_avx.EnforceNotMet: Invoke operator lod_tensor_to_array error.

C++ Callstacks:
Enforce failed. Expected rank_level < x.lod().size(), but received rank_level:0 >= x.lod().size():0.
Input should be a LOD tensor, and size is at least 1 at [/paddle/paddle/fluid/operators/l

[2019-08-26 14:15] CerrieJ opened #19433 "编译paddle/fluid/operators/mul_op出现很多***has not been declared"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1（docker
    2）CPU/GPU：cpu
    3）系统环境：utuntu16.04
    4）Python2.7
    5）显存信息
- 编译指令：
`g++ -std=gnu++11 mul_op.cc -o mul_op`

- 报错:
`root@5b79acf6ff7b:/home/workSpace/paddlepaddle/paddle/fluid/operators# g++ -std=gnu++11 mul_op.cc -o mul_op
In file included from /usr/include/c++/5/complex:44:0,
                 from /home/workSpace/paddlepaddle/build/third_party/

[2019-08-26 14:59] qingwuzhu commented on #19400
即使是去掉下面的release   语句
    predictor.release();
程序也一样内存泄露，我们将函数改为这样
int ocrFrCellOrientation(const std::string &model_path, const float *batchData, int batchsize, int img_width,
int img_height) {
    // 1. 创建NativeConfig
    paddle::NativeConfig config;
    config.use_gpu = false;
    config.SetCpuMathLibraryNumThreads(1);
    // 设置模型的参数路径
    config.prog_file  = model_path + "/a.net";
    config.pa

[2019-08-26 15:07] #19382 closed, assigned to nobody

[2019-08-27 02:04] lizhiqings opened #19437 "关于paddle v2中的paddle.trainer.SGD详细解释"
paddle v2 中的 paddle.trainer.SGD(cost=cost_layer_multi,parameters=param...)，如果cost_layer_multi是一个list 包含多个loss（模型是一个多目标），是怎么处理的 ，直接把cost_layer_multi中所有loss 都进行 权值为1 线性加权么？

[2019-08-27 02:18] hong19860320 commented on #19437
是的，在v2版本里面，trainer只能接受一个cost，如果是多个cost，可以考虑线性加权，例如：
cost_sum = paddle.layer.add_to(cost_a, cost_b)

具体可以参考issue: https://github.com/PaddlePaddle/Paddle/issues/1757

[2019-08-27 02:35] dbcool opened #19438 "PaddleDetection训练时初始学习速率异常"
训练fasterrcnn的学习速率配置为下:
LearningRate:
  base_lr: 0.001
  schedulers:
  - !PiecewiseDecay
    gamma: 0.1
    milestones: [150000, 250000]
  - !LinearWarmup
    start_factor: 0.3333333333333333
    steps: 1000
开始训练时候学习速率是这样的，先是0.000333，然后不变增大，感觉不太正常
2019-08-26 13:23:53,056-INFO: iter: 0, lr: 0.000333, '
2019-08-26 13:23:54,479-INFO: iter: 1, lr: 0.000334, '
2019-08-26 13:23:55,867-INFO: iter: 2, lr:

[2019-08-27 03:03] yeyupiaoling commented on #18837
@Superjomn 我把类型设置为bool也是报同样的错误
[code]

[2019-08-27 03:05] yeyupiaoling commented on #18837
@Superjomn 您能帮我跑通这个例子吗？真的很需要呢、

[2019-08-27 03:06] hong19860320 commented on #19438
@jerrywgz 帮忙给这位同学解答下吧

[2019-08-27 03:11] githubutilities opened #19439 "Fleet分布式保存0号机和1号机保存参数权值diff很大"
利用fleet transpiler模式分布式训练的时候，利用`fluid.save_persistable`方法保存模型参数，
0号机保存的权值和1号机保存的权值diff很大
有以下两个问题：
1. 如何保存参数，以哪台机子为准
2. 如何利用保存参数做分布式预测

[2019-08-27 03:13] jerrywgz commented on #19438
在检测库中加入warmup后，初始学习率为base_lr* start_factor，然后经过steps（1000）轮后线性增长到base_lr。在step轮后学习率的变化符合PiecewiseDecay

[2019-08-27 03:15] Bella-Zhao opened #19440 "fill_constant error"
报错信息：
[code]

code：
[code]

code说明：模型实现了FFM，想要对不同域的embedding做sum pooling操作。在循环中用context_user_emb += ...的操作，所以需要在循环外先定义变量context_user_emb，可能报错是从这里出来的：
[code]

[2019-08-27 03:27] hong19860320 commented on #19440
建议使用fill_const_batch_size_like，https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/tensor_cn.html#fill-constant-batch-size-like
context_user_emb = fluid.layers.fill_constant_batch_size_like(input=like, shape=[embedding_size], dtype='float32', value=0.0)

[2019-08-27 03:39] #19437 closed, assigned to nobody

[2019-08-27 03:41] dbcool commented on #19438
好滴，多谢

[2019-08-27 03:41] #19438 closed, assigned to jerrywgz

[2019-08-27 03:57] Meiyim opened #19444 "save_inerence_model 保存模型含有inplace reshape op出问题"
paddle 1.5
按照如下方式构建网络并save_inferencd_model:
[code]
用C++ api加载模型进行预测时报错：
[code]

[2019-08-27 03:58] #19433 closed, assigned to nobody

[2019-08-27 04:04] #19444 closed, assigned to nobody

[2019-08-27 04:09] hong19860320 commented on #19439
@seiriosPlus 帮忙解答下哈

[2019-08-27 05:01] seiriosPlus commented on #19439
1. 0号trainer保存参数。
2.目前paddle fluid没有提供明确的分布式预测方法， 如果要分布式预测，建议以每个节点把数据切分，分别做单机预测。

[2019-08-27 05:34] hong19860320 commented on #19439
@githubutilities Hi 能解决你的问题吗？解决了帮忙把issue关闭哈^^

[2019-08-27 05:38] MornJ opened #19446 "docker里编译时出现Unknown CMake command "cc_library".错误"
我使用的时latest-dev版本的docker，paddle版本1.5
_ 57c9afb13299 /home/xji/PaddlePaddle/Paddle/paddle/build {release/1.5} cmake .. -DPY_VERSION=2.7 -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release
-- The C compiler identification is GNU 4.8.5
-- The CXX compiler identification is GNU 4.8.5
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting

[2019-08-27 05:54] hong19860320 commented on #19446
感觉像是cmake版本不多，你在docker里面用$cmake --version看看cmake的版本是多少?
建议使用我们官网首页的docker https://www.paddlepaddle.org.cn/start

[2019-08-27 06:40] xiaolv3366 opened #19449 "机器翻译出错Check failed: cudaSuccess == cudaStat (0 vs. 3)"
   1）PaddlePaddle版本：paddlepaddle-gpu==1.2.0.post97
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：Tesla P100
    4）系统环境：NVIDIA-Linux-x86_64-384.145.run
                             cuda_9.0.176_384.81_linux-run
                             cudnn-9.0-linux-x64-v7.0.5.tgz
                             Python 2.7.5
                             Linux izwz914zh6jvahu8pnd3drz 3.10.0-957.27.2.

[2019-08-27 06:49] nbcc opened #19451 "arg_max op 不支持 float16 类型"

[2019-08-27 06:52] xiaolv3366 commented on #19449
![image](https://user-images.githubusercontent.com/12287110/63747624-258e0180-c8da-11e9-9fa5-ee818d0a387c.png)

[2019-08-27 06:57] githubutilities commented on #19439
那0号机和1号机参数有不同是什么问题，pserver是有特殊的参数同步机制么？

[2019-08-27 07:02] bjjwwang commented on #19427
@sneaxiy  求指导 谢谢

[2019-08-27 07:17] xiaolv3366 commented on #19449
这个问题太奇怪了，代码放到uwsgi就不行，正常python启动就可以。

[2019-08-27 07:25] hong19860320 commented on #19451
可以支持的，下面分别给出了动态图、静态图模式下的示例代码：

动态图示例
import paddle.fluid as fluid
import numpy as np

x_array = np.array([2, 4, 1, 4, 6, 3, 8, 7], dtype="int16")
x_ndarray = np.ndarray(shape=(4, 2), dtype="int16", buffer=x_array)
print(x_ndarray)

with fluid.dygraph.guard():
    x_var = fluid.dygraph.base.to_variable(x_ndarray)
    ret = fluid.layers.argmax(x_var, axis=1)
    print(ret.numpy())

静态图示例
import padd

[2019-08-27 07:29] Helenailse opened #19453 "fluid.core.op_proto_and_checker_maker.OpRole 这是什么意思"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2019-08-27 07:34] hong19860320 commented on #19449
看起来像是GPU内存分配问题，像是GPU内存不足，能提供更加完成的log吗？

[2019-08-27 07:38] hong19860320 commented on #19453
@Helenailse Hi 能把问题描述的更加具体点吗？我好让我的同事跟进

[2019-08-27 07:45] CerrieJ opened #19454 "“如何写新的C++ OP” 手册问题"
踩坑编译OP后的一点建议:
官方手册链接
: https://paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/development/new_op/new_op.html
paddle版本：1.5.1
环境：ubuntu/docker/cpu

手册中 ”概念介绍“ 写到新增op的源码路径如下：
![image](https://user-images.githubusercontent.com/15920960/63750155-7d7b3700-c8df-11e9-84d1-f181f53ce311.png)

手册中 ”编译“ 部分写到：
![image](https://user-images.githubusercontent.com/15920960/63750309-d054ee80-c8df-11e9

[2019-08-27 07:49] Bella-Zhao commented on #19440
最后改成这样定义了，不报错了。
[code]

[2019-08-27 07:50] xiaolv3366 commented on #19449
*** Starting uWSGI 2.0.17.1 (64bit) on [Tue Aug 27 14:56:52 2019] ***
compiled with version: 5.4.0 20160609 on 19 December 2018 06:32:50
os: Linux-4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018
nodename: lof-dl-ser
machine: x86_64
clock source: unix
pcre jit disabled
detected number of CPU cores: 48
current working directory: /root
writing pidfile to /var/run/uwsgi.pid
detected bin

[2019-08-27 07:52] xiaolv3366 commented on #19449
CPU环境就没问题，GPU环境报错。
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 384.145                Driver Version: 384.145                   |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-

[2019-08-27 08:02] hong19860320 commented on #19449
你用这个环境变量试把GPU内存设置小点试试: $export FLAGS_fraction_of_gpu_memory_to_use=0.80

[2019-08-27 08:06] miraclebiu opened #19457 "cudnn版本不对"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    3）GPU：k40 cuda7.5 cudnn 7
    export 了cudnn7 但是报cudnn5.1版本的问题
[code]

[2019-08-27 08:09] nizihan opened #19458 "load_persistables报错：not allowed to load partial data via load_combine_op"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.0
    2）GPU：CUDA 8.0 和CUDNN 7

训练时采用fluid.io.save_persistables存储模型，finetune时采用fluid.io.load_persistables(exe, args.init_model_dir, filename=args.init_model_filename)报错：

报错信息：
C++ Callstacks:
You are not allowed to load partial data via load_combine_op, use load_op instead. at [/paddle/paddle/fluid/operators/load_combine_op.h:100]
PaddlePaddle Call Stacks:
0

[2019-08-27 08:14] xiaolv3366 commented on #19449
@hong19860320 还是一样报错。

[2019-08-27 08:19] xiaolv3366 commented on #19449
机器是两个Tesla V100 16G，GPU内存是够的。

[2019-08-27 08:21] xiaolv3366 commented on #19449
paddle+flask+uwsgi+nginx 在GPU环境出错，CPU正常。
python命令启动也是正常的。

[2019-08-27 08:32] hong19860320 commented on #19457
paddle识别到了cuDNN5.1了，看样子你机器上安装了多个版本的cuDNN啊，能把那个cuDNN5.1卸载试试吗？

追问@miraclebiu，你的如何export cudnn7的库呢？是这样的吗？
$export LD_LIBRARY_PATH=$LD_LIBRARY_PATH : <path_to_cudnn7>

[2019-08-27 08:40] lidanqing-vv opened #19460 "support requantize op with different src_dt"
requantize op `requantize_mkldnn_op.cc` only support `dst_dt==src_dt`. We may face cases when two inputs of one op ( like concat ) have different src_dt.

We clear TODOs in code requantize_mkldn_op.cc and submit this issue for tracking it later.

[2019-08-27 08:59] MRXLT commented on #19402
抱歉，不太确定特征导入是指的什么，是从数据文件中导入吗或者从模型文件中导入？这里有一个ctr预估模型的demo，里面有dense特征与embedding特征的concat，希望能帮到你
https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/ctr/network_conf.py

[2019-08-27 09:02] prakharg24 opened #19461 "Training getting stuck randomly at some point"
I am trying to replicate the training from here ->

https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ssd

I have downloaded the latest COCO2017 dataset for the same and I am running train.py like this ->
[code]

Issue : After running completely for Epoch 0 and Epoch 1, during Epoch 2 it faces some issues. There is no error but the training slows down and then gets stuck at some random

[2019-08-27 09:04] dingsiyu opened #19462 "layer.concat报错"
[code]

[2019-08-27 09:15] sneaxiy commented on #19427
您可以用该函数实现。

[code]

[2019-08-27 09:16] xiaolv3366 commented on #19449
问题解决了，uwsgi与paddle协作的问题。

[2019-08-27 09:19] Helenailse commented on #19453
在paddle的bert模型中，f16混合精度时，在fp16.py的create_master_params_grads函数里，不理解这个代码OpRole = fluid.core.op_proto_and_checker_maker.OpRole的含义

[2019-08-27 09:20] Helenailse commented on #19453
在paddle的bert模型中，f16混合精度时，fp16.py的create_master_params_grads函数里，不理解这个代码OpRole = fluid.core.op_proto_and_checker_maker.OpRole的含义

[2019-08-27 09:39] lidanqing-vv opened #19464 "Dialated convolution support"
Dialted convolution is not supported in `conv_mkldnn_op.cc` and `conv_transpose_mkldnn_op.cc`, as no models are using dilated convolution. It will be supported when needed.

[2019-08-27 10:04] bjjwwang commented on #19428
感谢建议 ，正在讨论中。

[2019-08-27 11:03] hong19860320 commented on #19457
![image](https://user-images.githubusercontent.com/9973393/63765905-9cd48d00-c8fc-11e9-92ab-49665d2b3f16.png)
![image](https://user-images.githubusercontent.com/9973393/63765919-a827b880-c8fc-11e9-8d7a-7d2edcc79df6.png)

上面是用户@miraclebiu提供的完整log
1. 从log上看paddle运行的时候检测出当前机器的cuDNN是7.0，但执行到CUDNNConv Op的时候，在platform/cudnn_helper.cc 329行报cuDNN 版本是5.1；
2. 我的理解是，前者7.0是运行时检测出当前机器的cuDNN版本，后者5.1是paddle flui

[2019-08-27 11:14] seiriosPlus commented on #19439
ps会诊对训练做很多优化，不同Trainer上的参数可能会有diff。

[2019-08-27 11:21] hong19860320 commented on #19449
@xiaolv3366
具体怎么解决的能描述下吗？方便以后其他同学学习哦！

[2019-08-27 12:05] songyiting commented on #19361
我写了个测试程序，每个线程反复调用AnalysisPredictor::Clone()并释放，结果跑一小会儿就会core，信息如下：
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
terminate called recursively
  what():  0x2433300 Cannot find 0x21d941840 as kid scope at [/paddle/paddle/fluid/framework/scope.cc:120]
PaddlePaddle Call Stacks:
0       0x7f9bd6c91c93p void paddle::platform::EnforceNotMet::Init<char const*>(char const

[2019-08-27 12:16] lidanqing-vv opened #19467 "More data format support in SoftmaxMKLDNNKernel"
In `softmax_mkldnn_op.cc`, `SoftmaxMKLDNNKernel` and `SoftmaxMKLDNNGradKernel` only currently only NC data format is supported. More format should be supported when necessary.

[removed TODO]
`// TODO(jczaja): Add layouts support when there is a need to do so
    // Two dimensional softmax does support NC format`

[2019-08-27 12:16] hong19860320 commented on #19457
@miraclebiu 你尝试一下命令分别看下paddle在python3和python2下的版本吧
![image](https://user-images.githubusercontent.com/9973393/63770562-1160f900-c908-11e9-9017-80fffd4057c5.png)
![image](https://user-images.githubusercontent.com/9973393/63770604-250c5f80-c908-11e9-8f19-233ff9fb42ad.png)

[2019-08-27 12:19] miraclebiu commented on #19457
这个机器上只有python2的环境，版本就是1.5.0

[2019-08-27 12:19] aturbofly opened #19469 "分布式训练出来的模型，如何供单机加载预测"
分布式训练出来了一个模型，但是单机 load模型，执行预测的时候报grpc error。
有https://github.com/PaddlePaddle/Paddle/issues/18999 提到了解决的方法，我也尝试了，
的确用通过单机训练出来的模型里面的__model__ 替换掉分布式训练中的__model__就可以了。但感觉这样根本不能解决问题。能不能实现分布式训练出来的模型，单机直接就能加载并进行预测呢？？

[2019-08-27 12:39] xiaolv3366 commented on #19449
paddle初始化GPU和预测需要放到uwsgi同一个进程。一开始以为是NVIDIA驱动问题，一直试驱动。

[2019-08-27 12:39] #19449 closed, assigned to nobody

[2019-08-27 12:43] lidanqing-vv opened #19471 "Add object detection data reader for slim MKLDNNPostTrainingQuantStrategy"
In `mkldnn_post_training_strategy.py`, `MKLDNNPostTrainingQuantStrategy` only support image classifications. object detection models data reader should be added later.

[removed TODO]
slim/quantization/mkldnn_post_training_strategy.py:86:
`# TODO (Intel) Remove limits that MKLDNNPostTrainingQuantStrategy only for image classifications’ input issue `

[2019-08-27 13:25] shippingwang opened #19473 "编译安装出错"
![image](https://user-images.githubusercontent.com/13645332/63774999-09598700-c911-11e9-991d-4f2f665211d4.png)

CUDA8 CUDNN7 Ubuntu16.04

[2019-08-27 14:02] stevehejianguo opened #19474 "Enforce failed. Expected dim_imgsize.size() == 2, but received dim_imgsize.size():1 != 2:2."
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及

[2019-08-27 14:02] dancingpipi opened #19475 "C++多线程预测，使用brpc包装，QPS太低"
fluid  1.4
代码如下：
[code]
QPS特别低，请问下原因，我的使用姿势正确吗？

[2019-08-27 14:28] hong19860320 commented on #19474
麻烦@heavengate 帮忙看下哈

[2019-08-27 14:29] hong19860320 commented on #19469
麻烦@wangguibao帮忙解答下哦

[2019-08-28 01:33] lgone2000 commented on #19475
auto predictor = _main_predictor->Clone();
这个应该只在初始化调用一次，不应该写在predict里面

[2019-08-28 01:38] lgone2000 commented on #19454
新增op可以用custom op动态加载的方式，这种可以脱离框架单独编译，相关代码还没合入。可以关注这个pr
https://github.com/PaddlePaddle/Paddle/pull/19256/files#diff-c9f96ccb28613b7efbb83c320448ef7d

[2019-08-28 01:42] lgone2000 opened #19478 "paddle不同op，对于 输出的name的处理方式不同，有的是加 .tmp_xx 有的不加"
paddle不同op，对于 输出的name的处理方式不同，有的是加 .tmp_xx 有的不加， qingqing说加tmp是标准的方式， 希望能改成一致。另外cast op不支持name 参数，希望能加上。

def testname():
    exe = fluid.Executor(fluid.CPUPlace())
    a = fluid.layers.data(name='input', shape=[3, 32, 32], dtype='float32')
    b = fluid.layers.data(name='input', shape=[3, 32, 32], dtype='float32')
    c = fluid.layers.elementwise_sub(a, b, name='sub')
    d = fluid.layers.elementw

[2019-08-28 01:55] heavengate commented on #19474
输入的img_size是表示原始图像的h,w，shape需要是[N, 2], N是batch size，是一个2-D的数据，你输入的是一个1-D的数据

[2019-08-28 01:58] dancingpipi commented on #19475
能说一下原因么，因为使用brpc封服务，如果预先设定predictor，brpc不是特别好包

[2019-08-28 02:17] lgone2000 commented on #19428
如果只是保存信息，可以在save前，把描述加到 第一个op的属性里面。
program.block(0).ops[0]._set_attr('modelinfo', 'model1.0')
print program.block(0).ops[0].attr('modelinfo')

[2019-08-28 02:19] MornJ commented on #19446
_ efdec6cf403e /home cmake --version
cmake version 3.5.1

CMake suite maintained and supported by Kitware (kitware.com/cmake).

cmake应该是这个docker里面自带的

[2019-08-28 02:20] lgone2000 commented on #19475
clone是为了多线程使用， 相当于重新初始化了一次模型。如果单线程调用你就用_main_predictor 就可以，不需要clone， 如果多线程使用，你需要在每个线程初始化时，clone一个， 而不是每次预测调用一次。

[2019-08-28 02:26] stevehejianguo commented on #19474
============
参数：
name (str)-函数名或函数别名

shape (list)-声明维度信息的list。如果 append_batch_size 为True且内部没有维度值为-1，则应将其视为每个样本的形状。 否则，应将其视为batch数据的形状。

append_batch_size (bool)-

1.如果为真，则在维度shape的开头插入-1。 例如，如果shape=[1],则输出shape为[-1,1]。这对在运行期间设置不同的batch大小很有用。

2.如果维度shape包含-1，比如shape=[-1,1]。 append_batch_size会强制变为为False（表示无效），因为PaddlePaddle不能在shape上设置一个以上的未知数。

dtype (np.dtype|VarType|str)-数据类型：float32,float_16,i

[2019-08-28 02:34] dancingpipi commented on #19475
你的意思是Clone会很耗时对吗，但是我自己测了一下，clone的耗时大概在0.5~1ms之间，并不会有太大的时间消耗啊

[2019-08-28 02:40] adaxi987 commented on #19433
需要去build下面编译，可以链接到这个issue：https://github.com/PaddlePaddle/Paddle/issues/19454

[2019-08-28 02:42] wangguibao commented on #19469
https://github.com/PaddlePaddle/Paddle/issues/16360

这里有另一个解决方式，试一下看看？

同时请 @seiriosPlus 老师关注!~

[2019-08-28 02:44] seiriosPlus commented on #19469
使用Paddle FLUID 提供的分布式FleetAPI可以解决此类问题。

FleetAPI包含在1.5.1以后的版本或develop。

[2019-08-28 02:55] bjjwwang commented on #19429
方便贴一下上下文的代码吗

[2019-08-28 03:15] daizh opened #19479 "多卡训练时随机报错(nccl)"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.0
    2）CPU：
    3）GPU：V100, 2卡, cuda9, cudnn7
    4）系统环境：centos，python 3.5.3
- 模型信息
    1）模型名称: ERNIE上层加了一些attention模型
    2）使用数据集名称 : GLUE(CoLA, RTE, MRPC都会报错)
- 问题描述:
    1) 训练过程(顺序运行)
          第一步先冻住ERNIE, 只tune上层模型, 并将10轮的ckpt保存
          第二步将10个ckpt依次作为模型初始化参数, 不冻住任何一层放开训练3轮. 得到10个训练结果.
          第三步, 重复一,二步 5次(为了得到5次平均的结果)
   2) 问题
          不论是第一步freeze

[2019-08-28 03:22] qingqing01 commented on #19461
`PaddleCV/ssd` uses Python multiprocess to process the data.  see `use_multiprocess=args.use_multiprocess` in `train()`.  How much CPU memory on your machine? And how many CPU cores?

[2019-08-28 03:31] prakharg24 commented on #19461
@qingqing01  I am running my code on Titan Xp GPU, which has a memory of 12 GB and 3,840 CUDA cores.

Why would the memory or number for cores cause an issue later in the code? I mean if there was some issue of insufficient memory or similar, why would it run so smoothly for the first 2 epochs and then suddenly start showing problems in the third epoch?

Regardless, if you think that could be a pr

[2019-08-28 03:33] hong19860320 commented on #19473
从log上看，编译出来文件太大了，在压缩的时候zip包超过了2GB；这是python2.7 zlib的bug https://bugs.python.org/issue23306 ，建议在编译paddle时使用python3；

[2019-08-28 03:47] wangchaochaohu commented on #19479
可以更换1.5.1的最新版本 尝试一下

[2019-08-28 05:18] lgone2000 opened #19481 "调用save_inference_model 保存模型报错"
[code]

[2019-08-28 05:38] gentelyang opened #19482 "train_from_dataset函数返回值为None"
train_from_dataset函数返回值为None，无法获取返回的cost等值，通过global_scope获取不方便，
希望能改一下这个函数能方便获取返回值。
  loss = exe.train_from_dataset(
                program=fleet.main_program,
                dataset=dataset,
                fetch_list=[self.avg_cost],
                fetch_info=["cost"],
                print_period=100,
                debug=False)

[2019-08-28 05:56] wangchaochaohu commented on #19481
一般来说 保存模型的时候是需要参数不能为空

[2019-08-28 06:07] qingqing01 commented on #19461
@prakharg24 I'm not sure why. If set `use_multiprocess=False`, traning is slow since the data preprocessing bottleneck.   Defalut use 8 multiprocess (see train.py) and buffer size is 1000 (in  https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/reader.py#L321 ).

[code]

What I asked you above is the CPU memory and  count. you can check by:

[code]

If these are small, maybe can try r

[2019-08-28 06:08] JiabinYang commented on #19446
请在`Paddle/`目录下建立build目录执行cmake，参考官网的说明https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/install/compile/compile_Ubuntu.html#permalink-6--docker-

[2019-08-28 06:10] JiabinYang commented on #19457
请问您执行训练时用到的Python是您安装了1.5.0版本paddle的Python么

[2019-08-28 06:15] shippingwang commented on #19473
看起来绕过了问题，python2不能解决么？

[2019-08-28 06:22] prakharg24 commented on #19461
@qingqing01
[code]
This gave no output

[code]
This gave output '1'

Without using grep, the output of
[code]

is ->
[code]

Does this make sense? Based on this, what do you think my queue_size and num_workers shoudl be?

Also, I am little confused on why are we talking about CPU memory and number of cores when my code is actually running on GPU?

[2019-08-28 06:40] qingqing01 commented on #19461
All the data processing is on CPU. In SSD model, this is very time-consuming .  In order to speed, the Python multiprocess is used and put the processed data on buffer queue.  The data processing on CPU and training on CPU is asynchronous.  I worry about too much CPU resource ( including memory) is occupied, leads to the bottleneck of data processing. There is no problem in our machine, since a hi

[2019-08-28 06:42] hong19860320 commented on #19458
麻烦@DogHeadMoon 帮忙看看哈

[2019-08-28 06:54] wojtuss commented on #18893
After the fix for pooling quantization, these are the accuracy results for VGG16, MobileNetV1 and MobileNetV2.
VGG16:
[code]
MobileNetV1:
[code]
MobileNetV2:
[code]
The code in the PR will be updated very soon.

[2019-08-28 07:12] wangchaochaohu commented on #19478
这边会反馈改进的 谢谢

[2019-08-28 07:14] wangchaochaohu commented on #19482
我记录一下  后续会反馈改进 谢谢

[2019-08-28 07:44] Meiyim opened #19488 "加入shape/range op并memory_optimize后C++ inference报错"
paddle 1.5.1
fluid_inference develop
预测网络代码（增量部分），增量前没有预测问题：
[code]

paddle predictor 配置:
[code]

无论在多显存的机器上都会运行爆显存（后台观察到显卡瞬间被打满）：
[code]

[2019-08-28 08:18] prakharg24 commented on #19461
@qingqing01 Okay I will try with those specifications.

Just for the sake of a theoretical explanation, if the code works for lower number of workers/queue size (I don't know yet if it will), how do you explain that? I mean one batch was processed in around 0.5 seconds in epoch 0 while one batch in epoch 2 took a few hours. Does this imply that the data loader got stuck somewhere? How does reducin

[2019-08-28 08:32] wangchaochaohu commented on #19488
请问加了AnalysisConfig优化之后内存是否减少了 ？

[2019-08-28 08:45] sshilei opened #19490 "模型库中有没有多任务学习的model"
paddle模型库中有没有多任务学习的model，辛苦提供一下，谢谢。

[2019-08-28 08:54] wangchaochaohu commented on #19490
我们这边会反馈  后续考虑是否添加

[2019-08-28 08:54] gofreelee opened #19492 "使用CPU训练官方的DeepASR模型出错"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 1.5.1
    2）CPU：4  Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz
    4）系统环境：	Ubuntu 16.04.6 LTS  Python 2.7.16
- 训练信息
    1）单机
- 复现信息：我使用官方的DeepASR模型,在train.py文件中,修改默认"GPU"为"CPU",约在77行左右.
然后修改了66行左右的pass_num的default,从100改成了1.
而后 cd examples/aishell 文件夹, sh train.sh

- 问题描述：
share_vars_from is set, scope is ignored.
I0828 16:23:43.375494 24403 parallel_executor.cc:

[2019-08-28 09:00] Meiyim commented on #19488
AnalysisConfig 如果开启`config.EnableMemoryOptim()`
则报错：
[code]
目前网络中应该不存在fp32, int32, int64以外的类型。

[2019-08-28 09:16] DogHeadMoon commented on #19458
请确认save_persistables和load_persistables函数参数设置的filename是否一致？

[2019-08-28 09:26] wangchaochaohu commented on #19492
请问下可以提供下trainning 数据集吗 我这边下载太慢

[2019-08-28 09:30] 0YuanZhang0 commented on #19490
paddle1.6版本中，我们会即将发布一个多任务学习的库；

[2019-08-28 09:46] sshilei commented on #19490
请问什么时候发布，另外develop版本中可以看到吗？ @wangchaochaohu  @0YuanZhang0

[2019-08-28 09:52] achao2013 opened #19495 "动态图tensor初始化问题"
动态图运行报错：
![image](https://user-images.githubusercontent.com/5026576/63845704-f7cdb900-c9bc-11e9-969b-faa273d224e8.png)

网络结构如下：

[code]

[2019-08-28 10:03] Bond-H opened #19496 "多GPU出现nan及Reduce策略出错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）GPU：预测若用GPU，GPU：K40m，Cuda9.0，cuDNN7.3，nccl_2.2.12-1
    3）系统环境：CentOS6.3， Python2.7
- 训练信息
    1）单机多卡，多CPU
  
- 问题描述：
   1） 程序在单机单GPU【或单CPU】能正常运行
   2）在使用多CPU或多GPU时，设置使用Reduce策略，出现报错信息如下图一所示
   3）**使用多GPU，ALLReduce策略，训练几个batch后，loss出现nan，而使用单GPU或多CPU无此问题。**

上述问题代码复现如下：
[code]

Reduce策略错误信息：
![8d30fb6422624336d4f69920d56f2969](https://user-images.githubuse

[2019-08-28 10:06] dancingpipi commented on #19475
![image](https://user-images.githubusercontent.com/20511825/63844949-b25cbc00-c9bb-11e9-84a8-384107b7ab45.png)
我用单线程跑速度大概是5ms，上面的图是我用多线程跑的，10个线程下inference速度也是线性增长的

[2019-08-28 10:12] 0YuanZhang0 commented on #19490
现在还没有合入develop版本，大概得到9月底可能才会发布。

[2019-08-28 10:35] Shixiaowei02 commented on #19475
请问你用的版本是哪个，是跑 X86 还是 GPU 模型呢。您是厂内用户吧，我们可以 hi 联系。

[2019-08-28 10:36] dancingpipi commented on #19475
我在GPU上跑的

在2019年08月28日 18:35，石晓伟 写道：

请问你用的版本是哪个，是跑 X86 还是 GPU 模型呢。您是厂内用户吧，我们可以 hi 联系。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-28 10:40] Shixiaowei02 commented on #19475
请问是否方便提供模型呢

[2019-08-28 10:56] qingqing01 commented on #19461
Yeah.  From your paste above, only 4 CPU on your machine, But use 8 processes for data pre-processing.   This is not efficient.

[2019-08-28 11:02] zehua9500 opened #19499 "动态图中great_than用不了"
`import numpy as np
import os
import pandas as pd
import paddle.fluid as fluid
import paddle
import cv2
import json
import random
import time

with fluid.dygraph.guard():
    a = fluid.dygraph.to_variable(np.arange(3))
    b = fluid.dygraph.to_variable(np.arange(3))
    out = fluid.layers.greater_than(x=a, y=b)
    print(fluid.layers.elementwise_min(a,b))`

在AI studio上执行这段代码时，notebook会一直在转圈，也不报错

[2019-08-28 11:37] kuke commented on #19492
@gofreelee 这个模型近期我们会做一下升级，在最新的api下面应该会有点问题。
@wangchaochaohu 完整的数据集有几十G，只能通过下载的方式提供了。

[2019-08-28 12:22] luotao1 opened #19505 "test_slim_int8_googlenet, test_analyzer_int8_googlenet etc fails on new 5117 machine"
### CI log
- test_slim_int8_googlenet
[code]
- test_transpose_int8_mkldnn_op
[code]
- test_analyzer_seq_pool1
[code]
- test_analyzer_int8_googlenet
[code]
http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&buildTypeId=Paddle_PrCiCoverage&buildId=149605
### Error machine
[code]
### successful machine
[code]

[2019-08-28 12:36] ghost commented on #19505
@bingyanghuang could you or PL team to have a check? Thanks!

[2019-08-28 14:42] Life-0-1 opened #19514 "level=2 的lod-tensor，在DynamicRNN中对它调用step_input()函数，在CPU上没问题，但是在GPU上报segment fault"
一个level=2 的lod-tensor ，在DynamicRNN的block中对它调用step_input()函数，在CPU上运行没问题，但是在GPU上报segment fault。代码如下：
[code]
报错信息如下：
![屏幕快照 2019-08-28 下午3 44 03](https://user-images.githubusercontent.com/14857750/63865080-8f460280-c9e3-11e9-9b39-513dc04129fd.png)

- 版本、环境信息：
    1）PaddlePaddle版本：1.3.0_gpu
    2）CPU：Xeon
    3）GPU：K40 or V100, CUDA 9.0和CUDNN 7.0
    4）系统环境：linux，Python 2.7
- 训练信息
    1）单卡，K40 OR V100

[2019-08-28 15:23] xymyeah commented on #19428
这样的话，是需要先load模型才能读取信息，
场景可能是这样的：训练一个10轮的模型，当时训练时通过日志可以知道哪一轮的效果，但是过一段时间之后，日志可能已经丢失了，如果有这样一个mode_info，其保存在模型文件夹中或者跟模型同名的文件，就可以直接就能看到相关的信息

[2019-08-29 00:35] bingyanghuang commented on #19505
@wojtuss @Sand3r- Could you help investigate this problem, thanks very much.

[2019-08-29 01:23] prakharg24 commented on #19461
@qingqing01  It worked!! With 4 workers and queue_size=512, the training is working smoothly.

For the sake of the issue, I guess it can be closed. But from a systems point of view, I am still not 100% clear on what happened.

Let me just be lay out what I understand. With only 4 CPUs, I was forcing my program to run 8 different processes. I guess that would mean that python would have automatical

[2019-08-29 02:24] prakharg24 commented on #19343
Reopened this in case anyone visits this issue for reference. Feeding [locs, confs] as target_vars will not work.

locs -> represent the distortion from the anchor box.
confs -> represent the confidence score (without softmax)
box -> represent anchor boxes
box_var -> represent anchor box variance

'fluid.layers.detection_output' actually does two things. One it converts the above four variable int

[2019-08-29 02:24] #19343 closed, assigned to nobody

[2019-08-29 02:33] parap1uie-s opened #19516 "Feature request: RAdam, LookAhead implement and combine them in one"
Is there any implementation plan for RAdam and LookAhead?

RAdam and LookAhead are two recently proposed optimization methods, with higher stability of the optimization process and enable faster convergence.

More over, there is a method about `combine RAdam and LookAhead` into one optimizer, implemented by fast.ai called `ranger`.

- [RAdam](https://arxiv.org/abs/1908.03265)
- [LookAhead](https:/

[2019-08-29 02:52] mapingshuo commented on #19516
We have implemented the Lookahead optimizer: https://github.com/PaddlePaddle/Paddle/pull/19386, and we plan to implement the RAdam optimizer as soon as possible.

[2019-08-29 03:07] yangzhifeng-code opened #19517 "fluid 1.5.1 DataFeeder无法输入VarType.SELECTED_ROWS稀疏输入"
fluid 1.5.1 使用VarType.SELECTED_ROWS稀疏输入后，DataFeeder中self.feed_lod_level.append(each_var.lod_level)出错。 

fluid怎么样实现逻辑回归的稀疏输入，一个长向量，绝大部分为0，少数几个位置为1。

我看了你们的models/PaddleRec/ctr/network_conf.py模型
其中的输入经过维度为1的嵌入层，但是这样子的话，由于输入lod_level为1，一个batch中每一个样本产生的输出是不定长的。但我想要的是，一个batch中每一个样本产生一个定长的稀疏向量，传统的逻辑回归那种方法，而不是现在的嵌入层这种做法。

[2019-08-29 03:16] sneaxiy commented on #15791
@luotao1 Hi, I found that mkl random failed on CI machine recently. See http://ci.paddlepaddle.org/viewLog.html?buildId=151271&buildTypeId=Paddle_PrCiCoverage&tab=buildLog. The error log is (please omit `Signal raises` logs):

<img width="1268" alt="0c13dda6c20b9e24ff62886f1a4c8af8" src="https://user-images.githubusercontent.com/32832641/63907454-234cb400-ca4e-11e9-9e7b-28f3cd79b3ff.png">

`test_e

[2019-08-29 03:16] wangchaochaohu commented on #19499
@phlrain 麻烦看一下

[2019-08-29 03:22] wangchaochaohu commented on #19499
我这边在本地运行了一下代码 会出现segmentation fault的错误 ，但是去掉out = fluid.layers.greater_than(x=a, y=b)
能够正常原因 应该fluid.layers.greater_than的bug引起的 这边会反馈给动态图团队

[2019-08-29 03:35] wangchaochaohu commented on #19514
能提供下完整的复现代码吗？

[2019-08-29 03:36] daizh commented on #19479
感谢提示, 但我换了1.5.1还是有这样的问题

[2019-08-29 03:42] daizh commented on #19479
我是将多个参数搜索任务提到集群上顺序运行:
![image](https://user-images.githubusercontent.com/15260093/63908464-cc48de00-ca51-11e9-8f81-8c3737965f8f.png)
请问这样可能与nccl报错有关吗? (比如某个任务结束了, 但GPU资源还没释放, 但是下一个任务已经开始请求gpu资源了)

[2019-08-29 03:47] JiabinYang commented on #19495
能否贴一下完整的报错

[2019-08-29 03:48] chengduoZH commented on #19479
@daizh NCCL版本是什么？你是分布式训练吗？

[2019-08-29 03:50] daizh commented on #19479
NCCL版本是nccl2.3.7
我是在同一个机器上用2个v100训练

[2019-08-29 04:11] wangchaochaohu commented on #19496
按照issue提示步骤无法复现 并没有run_new.sh脚本

[2019-08-29 04:24] JiabinYang commented on #19499
greater_than目前还不能支持，正在修复

[2019-08-29 04:24] guoxpl opened #19518 "测试acc不正确，二分类居然平均下来acc是0左右。"
使用的1.5，二分类，训练集的acc持续上升，但每个epoch后遇到测试集，测试的结果非常不稳定，由于数据比较简单，测试结果acc出现0非常不正常，有些时候相邻epoch测试能出现90%+的正确率差距。

![image](https://user-images.githubusercontent.com/20251192/63909986-868f1400-ca57-11e9-9f6a-e106bc62f071.png)

[2019-08-29 04:25] guoxpl commented on #19518
有时候又是对的
![image](https://user-images.githubusercontent.com/20251192/63910136-10d77800-ca58-11e9-948b-ff4b678f95c8.png)

[2019-08-29 04:29] Superjomn commented on #19488
<img width="220" alt="image" src="https://user-images.githubusercontent.com/328693/63910280-95c29180-ca58-11e9-95cd-d5a418668f41.png">

这里配置的意思是，初始化时占用8G显存，配小一些，比如200(M)

[2019-08-29 05:19] ghost commented on #15791
@yihuaxu Could you help to have a check? Thanks!

[2019-08-29 05:25] qingqing01 commented on #19518
请问具体的训练环境是啥？是CPU/GPU, 单机/多机？ 能具体描述下吗？ 不正常的test之后的train的loss正常吗？如果可以，也麻烦给一个完整复现代码？

[2019-08-29 05:28] guoxpl commented on #19518
训练环境是slurm集群，gpu单机多卡，train loss一直正常。

[2019-08-29 05:32] guoxpl commented on #19518
import os
import time
import numpy as np
import argparse
import functools
import shutil

import paddle
import paddle.fluid as fluid
import reader_224_color as reader
# from model_duxiaoman import net as model
# from mv6 import fan as model
from utility import add_arguments, print_arguments, get_roc
import subprocess

parser = argparse.ArgumentParser(description=__doc__)
add_arg = functools.partial

[2019-08-29 05:33] guoxpl commented on #19518
`import os
import time
import numpy as np
import argparse
import functools
import shutil

import paddle
import paddle.fluid as fluid
import reader_224_color as reader
# from model_duxiaoman import net as model
# from mv6 import fan as model
from utility import add_arguments, print_arguments, get_roc
import subprocess

parser = argparse.ArgumentParser(description=__doc__)
add_arg = functools.partia

[2019-08-29 05:34] guoxpl commented on #19518
`
import os
import time
import numpy as np
import argparse
import functools
import shutil

import paddle
import paddle.fluid as fluid
import reader_224_color as reader
# from model_duxiaoman import net as model
# from mv6 import fan as model
from utility import add_arguments, print_arguments, get_roc
import subprocess

parser = argparse.ArgumentParser(description=__doc__)
add_arg = functools.parti

[2019-08-29 05:54] achao2013 commented on #19495
![image](https://user-images.githubusercontent.com/5026576/63914002-7d587400-ca64-11e9-93b5-5bd2974485a3.png)

[2019-08-29 06:01] xiangyubo opened #19521 "语言模型预测报错"
   1）PaddlePaddle版本：1.5版本
-预测信息
    希望使用官方的语言模型预测一句话的ppl，模型地址：
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/language_model
训练时候选择的是 encoder_static 模型。能够正常训练和保存模型，使用 save_inference_model 接口保存。预测时能够通过 load_inference_model 接口加载模型，但是预测时候报错说维度不匹配

保存时候的数据如下表示
[code]
我对 lm_model.py 做了一些小改动，将预测的词语返回，以便计算 ppl。保存过程如下：
[code]
我参照了 train.py 213行的方式读取数据并 reshape，然后预测的时候报错，
预测时候的代码如下：
[code]
错

[2019-08-29 06:12] yangzhifeng-code commented on #19517
解决方法：输入数据lod_level为1，采用embedding层+求和sequence_pool方法解决，embedding层的嵌入维度是输出维度，这等价于paddle v2中的稀疏fc层。

[2019-08-29 06:12] #19517 closed, assigned to nobody

[2019-08-29 06:23] Meiyim commented on #19488
改成200M问题依旧。目前的情况是在新增代码之前，预测是OK的。是新增后导致的OOM。
我上传一下新增前后的__model__文件：

[github.tar.gz](https://github.com/PaddlePaddle/Paddle/files/3554139/github.tar.gz)

[2019-08-29 06:44] githubutilities opened #19522 "Fleet transpiler模式分布式能够训练，保存模型的时候出错，求解释这个是什么错"
[code]

[2019-08-29 06:55] adrain-huang opened #19523 "请教关于一个batch内的数据如何并行训练的问题"
我使用的是GPU版本的fluid 1.5.1，GPU为1块NVIDIA GTX 1080TI，操作系统为Ubuntu 16.04。
因为看到一行代码，我不知道如何理解，故请教。
项目为AI Studio上的一个示例项目，名称为：课程4-深度学习入门CV-手写数字识别。
项目地址为：https://aistudio.baidu.com/aistudio/projectdetail/78958

在第127行处有一个代码块：

[code]

我不知道如何理解avg_cost = fluid.layers.mean(cost)这一行代码。

我的问题有两点：

问题1、这个网络的输入部分为：

'''输入的原始图像数据，大小为1x28x28'''
image = fluid.layers.data(name='image', shape=[1, 28, 28], dtype='float32'

[2019-08-29 07:01] yihuaxu commented on #15791
OK, I will discuss it with Hu Ying.

[2019-08-29 07:39] joey12300 opened #19525 "GPU显存优化开启时抛出异常"
我在用PaddleServing时，使用EnableMemoryOptim开启显存优化，在启动的时候出现以下异常：
[code]
后来我看了一下paddle::inference::analysis::DataTypeToSpace和paddle::inference::analysis::MemoryOptimizePass::CollectVarMemorySize的实现，发现
CollectVarMemorySize函数最后计算每个类型为framework::proto::VarType::Type::VarType_Type_LOD_TENSOR的node的时候，使用DataTypeToSpace函数获取type的大小，可是DataTypeToSpace函数目前的实现并没有考虑到LOD_TENSOR类型的node，直接对这种类型的数据抛出异常，导致无法正常使用显存优化。感觉这里应该

[2019-08-29 07:50] Meiyim commented on #19488
this is no longer a problem, thanks

[2019-08-29 07:50] #19488 closed, assigned to nobody

[2019-08-29 08:03] lfchener commented on #19521
你可以先export GLOG_v=4输出详细的日志，查看一下是网络的哪一层维度不匹配。

[2019-08-29 08:48] anpark opened #19528 "latest paddle在paddlecloud安装失败"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】
latest-cpu-mkl/paddlepaddle-latest-cp27-cp27mu-linux_x86_64.whl
在paddlecloud pip install报错
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python2.7/site-packages (from protobuf>=3.1.0->paddlepaddle==latest) (41.0.1)
Requirement already satisfied, skipping upgrade: singledispatch in /usr/local/li

[2019-08-29 08:56] hallySEU opened #19530 "如何提升预测时候的QPS？batch_size设置到50以上就容量不足报错"
如题：如何提升预测时候的QPS？有多少种方法

目前想采用提高batch_size来提升QPS，但是batch_size设置超过50就报容量不足的错误了。

![image](https://user-images.githubusercontent.com/25191684/63926129-e7c9de00-ca7d-11e9-8dc6-eef6713dc3ff.png)

[2019-08-29 08:56] JiabinYang commented on #19528
@JepsonWong plz help to check this

[2019-08-29 08:58] hallySEU commented on #19530
背景任务是：两个句子判断逻辑是否是一致的（句子级别的二分类）
使用模型：ernie，20w数据 fine-tune

[2019-08-29 08:58] hallySEU commented on #19530
已用在线上，希望提高效率

[2019-08-29 09:03] nbcc commented on #19451
<img width="803" alt="图片" src="https://user-images.githubusercontent.com/864331/63926722-e3ea8b80-ca7e-11e9-8b86-09f041645b82.png">

[2019-08-29 09:06] wenston2006 opened #19531 "ocr model (如attention ocr , ctc)训练时的超参数在哪修改?"

[2019-08-29 10:06] chengduoZH commented on #19479
如果是单机训练，不需要设置` num_trainers=nccl2_num_trainers, trainer_id=nccl2_trainer_id`

你可以将nccl升级为2.4.7吗？

[2019-08-29 10:17] frankwhzhang commented on #19522
代码和whl包版本贴一下吧 是自己写的代码 还是官方提供的

[2019-08-29 10:25] songyouwei commented on #19473
[zlib的这个issue](https://bugs.python.org/issue27130)已经在python2.7.13版本修复了，参见[python 2.7.13 release notes](https://hg.python.org/cpython/raw-file/v2.7.13/Misc/NEWS)

PaddlePaddle官网有说明，要求您的 Python 2 版本是 2.7.15+

[2019-08-29 10:28] #19473 closed, assigned to hong19860320

[2019-08-29 11:09] lexy0093 opened #19534 "预测的时延较大"
网络结构：
        label = fluid.layers.data(name='label', shape=[1], dtype='int64', lod_level=0)
        index = fluid.layers.data(name='index', shape=[1], dtype='int64', lod_level=1)
        feature = fluid.layers.data(name='feature', shape=[1], dtype='float32', lod_level=1)

        droped = fluid.layers.dropout(x=feature, dropout_prob=self.dropout_prob)
        emb = fluid.layers.embedding(input=in

[2019-08-29 12:04] shippingwang opened #19537 "cuda error 4"
![image](https://user-images.githubusercontent.com/13645332/63938702-0d63e100-ca98-11e9-8d02-15809523ffbf.png)

---
不知什么原因，模型训练会出cuda 4error
环境：
CUDA8 CUDNN7 P40机器 最新编译develop版本paddle

[2019-08-29 12:12] qingqing01 commented on #19534
麻烦看下能投通过指定 elementwise_mul的axis来broadcast做元素乘，而不用expand。

[2019-08-29 12:19] qingqing01 commented on #19531
1. 通过 入口参数可以改batch size等超参数。
[code]
2. 数据相关在

https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/data_reader.py#L34

3. 学些率、正则相关在

CTC： https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/crnn_ctc_model.py#L187

Attention:  https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/attention_model.py#L20

该模型的易用性会加强~

[2019-08-29 12:31] NHZlX commented on #19530
有没有使用显存/内存优化功能呢

[2019-08-29 12:34] qingqing01 commented on #19523
1. 并行计算: 假如一个batch输入128张图片，并行是不同的GPU/CPU算部分数据(1/N数据)，每个设备上的net都一样，也就是所谓的数据并行。

2. cost取平均的问题：

[code]
这个行的输出是Nx1, N是batch size大小。

[code]
这个结对Nx1的向量取平均。

[2019-08-29 12:39] liushanshan07 opened #19541 "save inference model剪枝时，错误的减掉rnn block里的op"
如题，python inference 挂掉

[2019-08-29 12:48] liushanshan07 opened #19542 "Tensor not initialized yet when Tensor::type() is called"
0828 lastest paddle版本，python load inference model时
recurrent op的commit https://github.com/PaddlePaddle/Paddle/pull/17710 导致的Tensor not initialized yet when Tensor::type() is called

[2019-08-29 13:01] wanghaoshuang commented on #19541
这个问题的根本原因是，通过rnn的output回溯不到rnn block内，所以误剪了某些op.

建议提供不做网络剪枝的选项。

在该case中，注释掉这一句即可：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/io.py#L1083

[2019-08-29 13:55] wojtuss commented on #19505
I have verified the tests on a few CLX machines, all passed.
To be verified on SKX machines.

[2019-08-29 13:56] wojtuss commented on #19505
I have submitted a diagnostic PR to check the CI machines' AVX configuration using the `leaf7_test` test: https://github.com/PaddlePaddle/Paddle/pull/19540

[2019-08-29 14:01] dancingpipi commented on #18689
确认是线程不安全的吗？我看源码clone是带锁的啊
[code]

[2019-08-29 14:02] wojtuss commented on #19505
I have reproduced the `test_analyzer_seq_pool1` failure on SKX 8180 and CLX 6248 machines.
I have reproduced the `test_*_int8_googlenet` failure on a SKX 8180 machine.

[2019-08-29 23:04] sndnyang opened #19547 "建议实现类似PyTorch里的ImageFolder的这么个接口"
我看了下文档里没有这么个接口， 这样的话， 不同人要读取imagenet之类的数据集时， 都得自己花费一点工夫去找别人的实现或自己实现一个有点复杂的reader。
PyTorch 的 imagefolder 就比较简单

[code]
大概两行就能完成一个 reader。

还有， 其他数据集接口  能不能我自行指定一个目录？
如上。

[2019-08-30 00:37] leonleeldc opened #19548 "where is the statistic distribution package now?"
原来paddle里面有个distributions的packages, 现在好像没有了，这个链接里的也没有，https://github.com/PaddlePaddle/Paddle/pull/18023. 那我们要用到statictical and probability的东西在哪里呢？tensorflow里面是有个类似的package也叫tf.distributions.
我们可以调用tf.distributions.Categorical， tf.distributions.kl_divergence and tf.distributions.Normal之类的。

[2019-08-30 01:02] wenston2006 commented on #19531
@qingqing01 谢谢

[2019-08-30 01:33] adrain-huang commented on #19523
您好，您的意思是有多个GPU设备。我的意思是，我的机器上只有一块GPU卡，如果batch为1时和batch为128时，paddle内部分别是怎么处理的？我们只是定义了一个net，从这个net的定义看，一次只能喂给net一张image，在机器上也只有一块GPU卡，如何同时处理一个batch的数据？或者说，一个batch的image在单卡上是如何并行处理的？

您好，我知道这个行的输出
cost = fluid.layers.cross_entropy(input=predict, label=label)
是Nx1, N是batch size大小。
我的问题是，在输入参数中，只有两个参数，一个predict，另一个label。在这行代码中，请问batch大小是如何传入的？
按照代码，predict是一张图片的预测值，label是一张图片的标签，这两个计算交叉熵之后是一个标量，为什么突然一下就

[2019-08-30 01:53] prakharg24 opened #19550 "Reorder Feature Matrix by increasing number of channels"
Hi,

I want to do reordering of a feature matrix in my CNN model, such that I can decrease the size of the feature matrix by increasing its number of channels, without losing any information.

For example,
300 x 300 x 3 --> 150 x 150 x 12

The reason that I cannot simply use resize is because it distributes the data in a different way that I want it to.

Let's try to convert this ->
Channel 1->
1

[2019-08-30 02:05] zehua9500 opened #19551 "BatchNorm中，若batchSIze为1的输入，会怎么处理"
训练时，BatchNorm中，若batchSize为1的输入，会怎么处理。按照公式的话均值是他自身，减完自身不就变成全0了吗。若是保持不变的话，那inference时减均值后就和训练时的数据完全不同了

[2019-08-30 02:11] luotao1 commented on #19548
#18023 是在7月5日merge的，不在release1.5里面。如果要使用，可以使用develop版本的whl包。https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/install/Tables.html/#ciwhls

API接口是：paddle.fluid.layers.Normal，都在layers目录下。

[2019-08-30 02:30] Shixiaowei02 commented on #18689
目前代码实现保证了线程安全，但请在主线程使用 Clone 接口，在每个子线程内调用预测接口。Clone 不保证线程安全，实现可能发生变化。

[2019-08-30 02:39] luotao1 commented on #15791
@yihuaxu  and @yinghu5 had investigated the problem, can’t reproduce the problem. But from symbols, it seems related to multi-processor or thread issues.
(parallelexcutor  =4 , omp thread number =1)
[code]
and
[code]

I also discussed it with our developer team and get key confirmation:  **getenv() is not  thread-safe if executed concurrently with setenv()**
Please see the similar  issue :
OpenBLA

[2019-08-30 02:47] qingqing01 commented on #19550
@prakharg24 You can try to use `reshape`  and `tranpose` to comb

[2019-08-30 02:52] qingqing01 commented on #19523
首先下面data的代码，[1,28, 28]中的1是1个输入channel，灰度图，而不是3通道的彩色图。 不是指batch size=1。这个data层，会在前面默认加一维-1，表示未知的batch size。
[code]

整个网络可以处理batch的数据。 当batch size=128时，一次处理128张图片，按照batch计算。

第二问题，因为输入是batch的数据，所以cost是batch的。

[2019-08-30 02:53] prakharg24 commented on #19550
@qingqing01 I haven't been able to figure out exactly how...

Lets say you have input=x with shape -1 x 3 x 300 x 300 (-1 is for batch size)
you want y with shape -1 x 12 x 150 x 150 with the reordering as mentioned above..

How exactly will you do it using reshape and transpose??

[2019-08-30 02:56] luotao1 commented on #19547
感谢您的建议，我们会内部沟通评估下需求！

[2019-08-30 02:59] Shixiaowei02 commented on #19525
@joey12300 核对了代码，逻辑的确存在疑问。请问出错的环境能否提供给我们一下，谢谢！

[2019-08-30 03:21] joey12300 commented on #19525
@Shixiaowei02 在Centos 6.10 / 7, Ubuntu16.07平台均测试过。GPU库为CUDA 9.2，cuDNN 7.1.4，nccl 2.4.7。

[2019-08-30 03:34] prakharg24 commented on #19550
I need to convert -1 x c x 150 x 150 to -1 x c*16 x 38 x 38

So, I am going with this ->
[code]

I experimented with the same pattern of reshape and transpose in numpy and it worked the way I wanted it to, so I am assuming similar behaviour will be seen for fluid.layers.reshape and transpose too.

I am confused as to whether I should include the batch axis in reshape and transpose or just ignore i

[2019-08-30 04:11] luotao1 commented on #19551
batch_norm的[API文档](https://old.paddlepaddle.org.cn/documentation/docs/en/1.5/api/layers/nn.html#batch-norm)
![image](https://user-images.githubusercontent.com/6836917/63991733-7d677b00-cb1b-11e9-89d4-bd9c4761bb19.png)

mean和var是momentum更新的，momentum默认是0.9，所以只要过了一轮后，mean就不会是X了。

batch norm原理是先白化再scale + offset，所以batchsize=1的时候就是应该白化到0，然后scale+offset，scale+offset是可学习的，而训练过程中会滚动更新mean和var，infer的时候用的是m

[2019-08-30 04:19] #19548 closed, assigned to nobody

[2019-08-30 05:13] luotao1 commented on #19550
You can refer to the [reshape API](https://www.paddlepaddle.org.cn/documentation/docs/en/api/layers/nn.html#reshape) at first.

[2019-08-30 06:56] #19531 closed, assigned to wanghaoshuang

[2019-08-30 06:59] danleifeng opened #19555 "test_elementwise_sub_ngraph_op fails"
In order to enhance elementwise broadcast function, we edit the get_mid_dims function in elementwise_funtion_op.h and add unit test case for all elementwise operations(add/sub/mul/pow, etc.).
But we noticed that in test_elementwise_sub_ngraph_op.py, it calls
[code]
which may cause unit test fail.
[code]
unit tests fail including:
test_elementwise_sub_ngraph_op
test_elementwise_pow_ngraph_op
test_e

[2019-08-30 07:01] Sand3r- commented on #19505
The 'successful' machine is incorrectly configured, as its missing many available instruction sets as listed here:
https://www.diffchecker.com/KiuINQ6J
(on the left hand side you can see instruction sets for the 'successful' machine while on the  right hand side the instruction sets for the 'error' machine).

Here you can find the instructions sets available for Intel(R) Xeon(R) Gold 5117 here htt

[2019-08-30 07:12] xfcygaocan opened #19556 "Cannot find fetch variable in scope, fetch_var_name"
**问题**：**Cannot find fetch variable in scope, fetch_var_name**，存在相似问题https://github.com/PaddlePaddle/Paddle/issues/19114 ，但是没有解决。

**环境**：paddle版本：fluid 1.5/1.5.1，单机单卡k40-12g/v100-16g，cuda 9.0，cudnn 7.0

**补充说明**：模型参考ernie结构写的

**报错信息**：
[code]
**模型代码**：
[code]

**exe.run代码**：

[code]

[2019-08-30 07:28] zhhsplendid commented on #19542
经过一些版本的实验，问题可能出在save/load模型过程，转人跟进

[2019-08-30 07:31] luotao1 commented on #19555
@baojun-nervana @LeoZhao-Intel Could you help see how to solve this issue? Thanks very much!

[2019-08-30 07:36] luotao1 commented on #19505
Thus, you mean the new machine is correct, and these three unit-tests indeed have some bugs?

[2019-08-30 07:43] phlrain commented on #19550
@prakharg24 sorry about my poor english， If you can read this,  I will translate it for you..
我觉得你的困惑可能是在 layers.data定义的tensor ，在什么时候和我指定的shape不一致，
比如你定义了 layers.data( "a", shape=[10, 10])，什么时候就变成了[-1, 10, 10]
现在的逻辑是这样的，如果你的shape里面没有-1，并且是用来 默认值 append_batch_size=true, 这个shape会变成 [-1, 10, 10], rank值会加 1

如果你的shape里面包含了-1, 无论是否设置append_batch_size 的值，shape都不会变

如果你想表现的和tf一样，每次定义的时候 ，直接设置append_batch

[2019-08-30 07:57] JepsonWong commented on #19528
您好，我拉取paddlecloud原始镜像没有复现这个问题。能提供一下复现步骤吗？

[2019-08-30 08:10] prakharg24 commented on #19550
@phlrain okay so to put it in simpler terms

My input tensor ->
[code]
if I do
[code]

then what will be shape(Y)?
If I was using tensorflow, then I would have gotten
[code]

Is it the same for paddlepaddle? Or something else will happen?

[2019-08-30 08:17] Sand3r- commented on #19505
Partially yes. It is better configured than the older one (it provides access to more instruction sets).
Speaking of tests:
* googlenet tests - in some of the recent commits an accuracy regression has been introduced. What commit has caused it is currently being determined.
* transpose  - it looks like a bug in `GetExpectedKernelType` to me, but I'll need to investigate it.
* test_analyzer_seq_poo

[2019-08-30 08:39] lexy0093 commented on #19534
可以解决该问题，感谢！

[2019-08-30 08:45] yihuaxu commented on #15791
Today I analyze the issue with the static method because I can not get the core dump file from the stress testing. Please refer to the below:
**Status:**
           **URL:** https://github.com/paddlePaddle/Paddle/issues/15791
           **Log:**

           Offset: 0x7f3491f6281d - 0x7f3492304390 = 0x3A1B73

**Analyze:**
1)	Since the “getenv” function is the member of glibc, so we need check the p

[2019-08-30 09:13] jczaja commented on #18658
Fixed in #19282

[2019-08-30 09:13] #18658 closed, assigned to luotao1

[2019-08-30 09:14] dingsiyu opened #19558 "transformer-xl GPU训练速度慢"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    3）GPU：P40、CUDA10.1和CUDNN7.4
    4）系统环境：centos6  python3.6

我用paddle复现了一个模型，它能够正常运行，结果也是正常的，但是在同等情况下paddle的模型的训练速度与tensorflow的训练速度差距很大
单机单卡：paddle 0.45step/s     tensorlfow 2.5step/s

[2019-08-30 09:17] LeoZhao-BJ commented on #19555
For error, it looks like GetMidDims implementation mismatch between ngraph and ew cpu op.
See https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/platform/ngraph_helper.h#L148

This func implementation is copied from elementwise_op_function.h::get_mid_dims(), but in new PR #19536, to support new feature, this func is changed. To avoid this error, the simple way is just copying new imp

[2019-08-30 09:18] luotao1 commented on #19558
可以参考下 https://github.com/PaddlePaddle/Paddle/issues/18665#issuecomment-513780210

[2019-08-30 09:32] LeoZhao-BJ commented on #19555
If need merge this new PR fast, maybe you can try to disable relevant cases in python/paddle/fluid/tests/unittests/ngraph, e.g.

for ngraph/test_elementwise_sub_ngraph_op.py, you can change to

[code]
and do not put your new cases into import

[2019-08-30 09:33] #19534 closed, assigned to nobody

[2019-08-30 09:58] Sand3r- commented on #19505
I've managed to find out that the commit which caused the googlenet test to fail is 492a00f53ea0b265bcac29a21c8c33d7284dd289 (Add conv reqantize squash (#18754)).
On earlier commit c548e370f1ebbfef249d788a50ba0e12410f8809 the test passes just fine.

[2019-08-30 09:59] #19518 closed, assigned to qingqing01

[2019-08-30 09:59] guoxpl commented on #19518
问题解决了，训练代码没有问题。活体训练数据做了均衡交叉，但由于负样本数量多，导致训练到一个epoch的后期，一个batch里数据都为负样本，网络就乱了。

[2019-08-30 10:10] luotao1 commented on #19505
Thanks very much for your investigation, and how to solve the `test_analyzer_seq_pool1 `?

[2019-08-30 10:26] mapingshuo commented on #19541
Prune函数对sub block的情况有处理啊：https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/prune.cc#L125

@wanghaoshuang 为什么还是误裁了呢？

[2019-08-30 11:04] xfcygaocan commented on #19556
解决了，我发现模型中所有变量都不能找到。

原因是使用的exe是fluid.Executor(place)，没有在exe.run加program。
解决方法：
1、使用的exe是fluid.Executor(place)，在run中加入即可，比如exe.run(program=train_program, fetch_list=train_fetch_list)。

2、使用fluid.ParallelExecutor的exe，exe=fluid.ParallelExecutor(main_program=train_program,...)，在run就不用加载program了，比如exe.run(fetch_list=train_fetch_list)。

[2019-08-30 11:04] #19556 closed, assigned to nobody

[2019-08-30 11:08] Sand3r- commented on #19505
I think that the reference data (to which inference results compare to) should be modified. It fails on the native (non-mkldnn-optimized) paddle layers.

As a temporary fix, you could add an MKL flag for forcing AVX2 implementations to be called:
`MKL_CBWR=AVX2`. With this flag, the test passes.

[2019-08-30 11:10] Sand3r- commented on #19505
I have talked to @wozna and she's currently investigating the issue with `test_transpose_int8_mkldnn_op`. Once done, she'll examine `test_slim_int8_googlenet` and `test_analyzer_int8_googlenet`.

[2019-08-30 11:18] phlrain commented on #19550
![image](https://user-images.githubusercontent.com/43953930/64016925-ddc9dd00-cb5a-11e9-9cde-e41e719a61ff.png)
I test some code in tf.
shape(x) = -1, 64, 152, 152

[2019-08-30 11:20] phlrain commented on #19550
![image](https://user-images.githubusercontent.com/43953930/64016973-03ef7d00-cb5b-11e9-893d-580411ee8280.png)

I test some code in TF

shape(x) = -1, 64, 152, 152
y = tf.reshape( x, [-1, 1, 152, 152])
shape(y) =  -1, 1, 152, 152

paddle is same with tf

@prakharg24

[2019-08-30 11:36] Yukizzz opened #19559 "docker编译分布式出错"
在用docker编译源代码的时候，同样的配置和代码可以正常编译，但是在cmake的时候加上了  -DWITH_DISTRIBUTE=ON 之后，报如下错误
![image](https://user-images.githubusercontent.com/9652571/64017910-5d58ab80-cb5d-11e9-8a15-4ddd70e60822.png)

[2019-08-30 11:38] Yukizzz opened #19560 "使用filter_by_instag 在mpi训练失败"
使用filter_by_instag，同样的数据和batchsize，在本地可以成功训练，在mpi上训练失败。

[2019-08-30 11:38] Yukizzz opened #19561 "使用filter_by_instag 在mpi训练失败"
使用filter_by_instag，同样的数据和batchsize，在本地可以成功训练，在mpi上训练失败。报错如下
![image](https://user-images.githubusercontent.com/9652571/64018039-d22be580-cb5d-11e9-8946-11cc72437c7d.png)
mpi链接 http://10.89.170.26:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190830190232-2173/

[2019-08-30 11:43] seiriosPlus commented on #19561
mpi上节点数是多少， 使用的优化器是什么？

[2019-08-30 11:44] seiriosPlus commented on #19559
-DWITH_GRPC=ON

[2019-08-30 12:18] dingsiyu commented on #19558
http://gitlab.baidu.com/dingsiyu/transformer-xl

[2019-08-30 12:33] Bella-Zhao opened #19563 "fleet的distribute_transpiler，pserver参数没有正常更新"
我的任务，本地训练时loss下降auc上升，但是在mpi上trainer.log中的auc和loss一直没有变化。用的fleet的distribute_transpiler，发现pserver.log里也没有参数更新的日志

[2019-08-30 12:33] Bella-Zhao opened #19564 "fleet的distribute_transpiler，pserver参数没有正常更新"
我的任务地址：
http://10.182.163.162:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190830173907-2098/

本地训练时loss下降auc上升，但是在mpi上trainer.log中的auc和loss一直没有变化。用的fleet的distribute_transpiler，发现pserver.log里也没有参数更新的日志
![image](https://user-images.githubusercontent.com/29970079/64020985-8bda8480-cb65-11e9-9017-0d1a92e41fc9.png)

[2019-08-30 12:35] zehua9500 opened #19565 "动态图训练时只能训练一个epoch"
我是在AI studio上用动态图 训练模型的
for epoch in range(10):
      for data in train_reader():
            XXXXX
这样训练时，在第一个epoch时可以看到loss逐渐下降（从1下降到0.3），但只要第一个epoch结束后，从第二个epoch开始，loss就基本一直在0.5了，不再训练（loss也变稍高）。

但若是我把第一个epoch训练完成后保存下来，重启notebook，后加载第一个epoch的参数继续训练，loss就会从0.3在慢慢下降。可下一个epoch loss又稳定在0.5左右了

[2019-08-30 12:54] jczaja opened #19566 "[MKL-DNN] Further clean softmax mkl-dnn op"
softmax op works on flattened dims of Tensor. For this purpose Two input & two output tensors are created to share allocation , but diffrent in dims.

This is not needed, since dims for mkl-dnn primitives are stored in Memory descriptor, we can have one input and one output and just use diffrent memory descriptors (2D for actual computation) and the other MD to be registered in output

[2019-08-30 12:59] zehua9500 commented on #19565
一到下一个epoch，loss就增加了
![`RTCPRFSV6}S4_1O%IIE3FI](https://user-images.githubusercontent.com/54625677/64022612-31432780-cb69-11e9-86b2-74ace046281a.png)

[2019-08-30 13:06] lxk1990727 opened #19567 "inference构造batch的时候如何把str类型的key带到batch里？"
inference构造batch的时候如何把str类型的key带到batch里？

[2019-08-30 13:22] zehua9500 commented on #19565
![XZO~D MFN2Q@}{TO3XMEQC](https://user-images.githubusercontent.com/54625677/64024083-348be280-cb6c-11e9-8ed6-4593ea62de7d.png)
我感觉是train_reader（）的问题，但不清楚原因

[2019-08-30 13:28] Sand3r- commented on #19505
@wozna has managed to find what the issue was with `test_transpose_int8_mkldnn_op` and she'll post a fix to it in her transpose int8 PR #19424

[2019-08-30 14:02] zehua9500 commented on #19551
恩好的谢谢，因为文档上的公式上写的均值为mini-batch的均值，所以有点迷惑，实际用的过程中感觉应该是用momentum而不是只看mini-batch，谢谢！

[2019-08-30 14:17] luotao1 commented on #19551
好的，我们会增强下文档上的公式，感谢反馈！

[2019-08-30 14:21] luotao1 commented on #19567
请问能更具体的说一下需求或举个例子么？没有太理解。

[2019-08-30 14:36] seiriosPlus commented on #19564
1. 分布式训练需要观察trainer端的日志， 最好看0号trainer的

[2019-08-30 15:43] mensaochun opened #19569 "stop_gradient报错"
我想固定主干网络的权重，我设置了某一层stop_gradient=True，但是报错了，如下。取消这个恢复正常，请问怎么回事。
[code]

[2019-08-30 22:21] baojun-nervana commented on #19555
Thanks @LeoZhao-Intel @luotao1 We will follow up after the PR is merged.

[2019-08-31 02:06] lxk1990727 commented on #19567
我的目标是输入：key feature_lst，输出：key score。
现在看py_reader里构造的batch要求都是一个数字型的batch，ins的key传不进去，我想拿到ins的key传入batch内

[2019-08-31 02:34] luotao1 commented on #19567
data层是需要传入int或者float型的，因此py_reader传给data层的是数字型的batch。你可以把string类型的key转成int即可。

[2019-08-31 04:01] luotao1 commented on #19558
请问：
- tf的版本号是哪个？
- 我们models repo里面也有transformer模型，而且单卡训练速度与TensorFlow持平；多卡训练速度和显存占用优于TensorFlow。https://github.com/PaddlePaddle/benchmark#Transformer
- 可以直接使用models repo下的transformer模型么？

[2019-08-31 10:34] anpark commented on #19528
@JepsonWong paddlecloud  before_hook.sh: pip install paddle-latest 就可以的

[2019-08-31 11:07] dingsiyu commented on #19558
回答您的问题：
（1）tf 1.13.1
  (2) 我的代码并不是transformer， 而是transformer-xl，并不能复用，网络结构并不相同

[2019-09-01 09:40] #19565 closed, assigned to JiabinYang

[2019-09-01 23:55] chengduoZH commented on #19569
@mensaochun 请问是什么模型，可以贴一下吗？

[2019-09-01 23:58] chengduoZH commented on #19563
Duplicate with https://github.com/PaddlePaddle/Paddle/issues/19564

[2019-09-01 23:58] #19563 closed, assigned to nobody

[2019-09-01 23:59] chengduoZH commented on #19560
Duplicate with https://github.com/PaddlePaddle/Paddle/issues/19561.

[2019-09-01 23:59] #19560 closed, assigned to nobody

[2019-09-02 02:14] #19096 closed, assigned to nobody

[2019-09-02 02:15] #18400 closed, assigned to junjun315

[2019-09-02 02:16] #17568 closed, assigned to nobody

[2019-09-02 02:16] #18078 closed, assigned to DDDivano

[2019-09-02 02:16] #18774 closed, assigned to DDDivano, phlrain

[2019-09-02 02:17] #18703 closed, assigned to phlrain

[2019-09-02 02:48] luotao1 commented on #19558
@guoshengCS @kuke 请问能先帮忙看下网络配置方面能否加速么？

[2019-09-02 02:51] prakharg24 commented on #19550
@phlrain I understood what I was doing wrong.

To convert a tensor of shape -1, 64, 152, 152 to -1, 64, 1, 152, 152 I have to do the following,
[code]

Basically, I need to add a '0' for the batch axis in reshape and also consider it during transpose.

Thank You

[2019-09-02 03:04] phlrain commented on #19550
@prakharg24

I think you want to something like this.
y= fluid.layers.reshape( x, [ layers.shape(x)[0], 64, 1, 152, 152] )

paddle can use like this.

0 in shape will Deprecated in the future

[2019-09-02 03:06] prakharg24 commented on #19550
@phlrain  oh okay. Thanks. Will keep this in mind

[2019-09-02 03:25] prakharg24 opened #19577 "Demo/Documentation for model compression"
I want to compress MobileNet-SSD for object detection. I want to try the following ->
1. 8-bit Quantization
2. Knowledge Distillation
3. Channel Pruning

I think there are inbuilt API functions for some of the above in paddlepaddle. But I haven't found any example that I can directly replicate to do the compression.

I have the following MobileNet-SSD pipeline set up --
https://github.com/PaddlePa

[2019-09-02 07:33] anpark opened #19584 "paddle 大batchsize CPU正常，但是GPU bug, 性能比tf差480多倍"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：paddle 大batchsize  CPU正常，但是GPU bug, 性能比tf差480多倍
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU：intel
    3）GPU：k40
    4）系统环境：linux centos 6.3, cuda 9.0, cudnn 7.0
- 训练信息
    1）单机，单卡
    2）显存信息 11G
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：CPU版本正常，但是GPU慢很多，初步发现是sync 操作

[2019-09-02 09:21] #19550 closed, assigned to nobody

[2019-09-02 09:22] #19461 closed, assigned to qingqing01

[2019-09-02 09:26] Bella-Zhao commented on #15816
经过排查，发现是learning_rate过大导致不收敛，pserver是正常更新的。将learning_rate调到0.002后，auc正常上升，cost下降。

[2019-09-02 09:27] Bella-Zhao commented on #19564
经过排查，发现是learning_rate过大导致不收敛，pserver是正常更新的。将learning_rate调到0.002后，auc正常上升，cost下降。

[2019-09-02 09:27] #19564 closed, assigned to seiriosPlus

[2019-09-02 09:59] jczaja commented on #18698
fixed in #18758

[2019-09-02 09:59] #18698 closed, assigned to jczaja

[2019-09-02 11:38] #19099 closed, assigned to JiabinYang

[2019-09-02 13:48] qingqing01 commented on #19425
Yolo v3:

- The ops need to NHWC:
   - supported: bn
   - need to support:  conv, resize_nearest,  max_pool (for Darknet Tiny)

[2019-09-02 21:25] leonleeldc opened #19592 "是否有办法取得一个scope下面的所有variables or functions as tensorflow"
在tensorflow中，我们可以使用下面这个方法取得scope为generator下面的所有变量。
g_vars = get_collection(fluid.layers.GraphKeys.TRAINABLE_VARIABLES, scope='generator')。
我发现我们可以用
g_vars = fluid.name_scope('generator')
得到一个contextlib._GeneratorContextManager，但是好像我们并不能利用它做进一步有用的操作。
多谢

[2019-09-02 21:46] leonleeldc opened #19593 "fluid.gradients return error information"
我在调用
fluid.gradients(g_pretrain_loss, fluid.global_scope().var("rmc_fc_1_b").get_tensor())
的时候，得到如下错误信息。
{AttributeError}'paddle.fluid.core_avx.LoDTensor' object has no attribute 'block'
我是需要把这个object转成paddle.fluid.LoDTensor吗？怎么转？

[2019-09-03 00:15] leonleeldc opened #19594 "paddle.fluid.core_avx.Variable"
{AttributeError}'paddle.fluid.core_avx.Variable' object has no attribute 'desc'

paddle.fluid.core_avx.Variable是一种什么Variable，里面什么都看不到，也不能用，怎样能转成fluid.layers.Variable

[2019-09-03 00:50] leonleeldc commented on #19594
我发现我可以使用：program.global_block().var('g_embeddings')得到Parameter变量。

[2019-09-03 02:06] parap1uie-s opened #19595 "Feature request: bi tempered loss"
PaddlePaddle是否有实现`bi tempered loss`的计划？

这是google最近提出的一种降低噪声数据对模型训练影响的loss损失函数

相关资料：

https://arxiv.org/abs/1906.03361
https://ai.googleblog.com/2019/08/bi-tempered-logistic-loss-for-training.html

[2019-09-03 02:26] gongweibao commented on #19584
How do you use gpu on mac?

[2019-09-03 02:33] gongweibao commented on #19592
先在只能用scope.find(var_name),暂时没有iterator 遍历。

[2019-09-03 02:46] wanghaoshuang commented on #19577
A demo for compression of MobileNet_V1 is [here](https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/run.sh).

The document of model compression just has Chinese version currently:  https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/docs/usage.md

[2019-09-03 02:52] prakharg24 commented on #19577
@wanghaoshuang Thanks a lot!! Will look through it

I will have to rely on google translate, but I think it will be fine.

[2019-09-03 03:04] sserdoubleh opened #19597 "动态图提取中间变量计算loss报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU：Y
    3）GPU：N
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机单卡
    2）显存信息：X
    3）Operator信息
- 复现信息：
复现代码

import paddle.fluid as fluid
import paddle.fluid.layers as layers
import paddle.fluid.dygraph as dygraph
import numpy as np
place = fluid.CPUPlace()
with dygraph.guard(place):
    x = np.random.randn(2, 4, 5).astype("float32")

[2019-09-03 03:11] dipthomas opened #19598 "Faster_rcnn_fpn在ANALYSIS模式下预测崩溃的问题"
- 系统信息
    1）PaddlePaddle版本：1.5.1
    2）CPU：mklml
    4）系统环境：centos6.3
- 预测信息
    1）C++预测：采用1.5.1预测库版本
    2）预测库来源：BCLOUD编译
- 复现信息：
    1）下载faster_rcnn_fpn模型，并生成__model__，__params__文件；
    2）设置Anslysis参数，并生成predictor；
    3）图像预处理，归一化并将图像宽高按32补齐；
    4）将图像数据，im_info，im_shape输入predictor，
    5）运行网络崩溃；
- 崩溃信息为：
![1](https://user-images.githubusercontent.com/7144992/64141543-114a8700-ce3b-11e9-9610-58

[2019-09-03 05:34] sneaxiy commented on #19592
目前paddle没有这个接口，抱歉。paddle的name_scope和tf的概念不同，paddle的name_scope用于内部处理，对用户不可见，亦不会在变量名前加上特殊前缀。

[2019-09-03 05:58] yxnal opened #19601 "是否支持在arm架构上编译paddle fluid，有相关文档吗？"
是否支持在arm架构上编译paddle fluid，有相关文档吗？

[2019-09-03 06:26] prakharg24 opened #19604 "GPU usage issue"
I have 2 GPUs on my system.

Output of nvidia-smi
[code]

Obviously I want paddlepaddle to ignore the first GPU and only work with the second GPU.

I am trying to replicate the training here,
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ssd

I am getting the following error,
[code]

I tried printing number of devices that is used earlier in the code
[code]
I got output '2'

This ma

[2019-09-03 06:30] Superjomn commented on #19601
目前不支持 arm 上编译 fluid.

端侧预测可以看下 Paddle-Lite

https://github.com/PaddlePaddle/Paddle-Lite

[2019-09-03 06:31] guoshengCS commented on #19594
paddle.fluid.core_avx.Variable 这个是C++端Variable类的封装，这个确实无法转换成python端的fluid.Variable，两个使用上会有些区别，fluid.Variable主要用于构造网络，paddle.fluid.core_avx.Variable主要用于存取数据，暴露的接口包括这些 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/pybind/pybind.cc#L550 ，可以看下是否能满足需求

[2019-09-03 06:37] guoshengCS commented on #19593
fluid.gradients接受的参数是 fluid.Variable 类型，` fluid.global_scope().var("rmc_fc_1_b").get_tensor()`的类型是paddle.fluid.core_avx.LoDTensor，把这个换成"rmc_fc_1_b"对应的variable应该就可以了

[2019-09-03 06:46] guoshengCS commented on #19604
use `export CUDA_VISIBLE_DEVICES=1` might help

[2019-09-03 06:55] prakharg24 commented on #19604
@guoshengCS  Worked!!!

Actually '=1' didn't work, so I instead tried '=0' and that worked.

Thanks

[2019-09-03 06:55] #19604 closed, assigned to nobody

[2019-09-03 07:06] yxnal commented on #19601
谢谢！请问是没有提供arm上的编译方式，还是本身不支持，有尝试过在arm上编译fluid吗？有什么参考资料吗？

[2019-09-03 07:18] JiabinYang commented on #19597
这个问题是因为optimizer默认会对当前guard中所有参数进行minimize，如果只是需要某一部分参数minimize，可以把对应的parameter传递进去，例如这里可以改成`optimizer.minimize(loss=loss, parameters=fc1.parameters())` 然后不要去调用fc2的clear_gradient因为此时fc2没有参数，这个部分还有待优化，我们正在开发

[2019-09-03 10:06] guoshengCS commented on #19598
@Superjomn 可以帮忙看下吗，貌似是经过了fc_fuse_pass和repeated_fc_relu_fuse_pass后shape上出了问题，看了下好像fc_fuse_pass中接受高维输入并设置了in_num_col_dims，但在repeated_fc_relu_fuse_pass中丢掉了，fusion_repeated_fc_relu要求输入是2维的

[2019-09-03 11:36] yxnal commented on #939
I would like to ask you a question：
how to source compile on jetson TX1？

[2019-09-03 12:18] yxnal commented on #11884
I am an internal user, how to contact you？

[2019-09-03 13:56] moonlin7 opened #19613 "hsigmoid预测问题"
paddle fluid怎么使用 hsigmoid训练出出来的参数进行结果的预测

[2019-09-03 21:21] zhihongp opened #19616 "Illegal memory access"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-09-03 21:37] zhihongp commented on #19616
Installed the newest develop branch (from wheel) to solve the PReLU speed issue.  While it's much faster now, it bumps into this crash due to illegal memory access.  This error is repeatable: when run the train() process twice sequentially, it crashes in the second one.

*** Check failure stack trace: ***
F0903 14:13:22.534365 31205 device_context.cc:335] cudaStreamSynchronize an illegal memory ac

[2019-09-04 01:18] githubutilities opened #19617 "Fleet分布式训练GRPC错误求解"
求解这是怎么错误，我用的是fleet transpiler模式，40台机进行分布式训练

[code]

[2019-09-04 01:32] githubutilities commented on #19617
pslog是这样的
[code]

[2019-09-04 01:39] #19617 closed, assigned to nobody

[2019-09-04 02:47] guoshengCS commented on #19613
预测时使用输入X（形状为[N, D]，N是batch_size，D是特征维度）与hsigmoid训练出出来的参数W（形状为[K, D]，K是二叉树的非叶子节点数，为类别数减去1，D是特征维度）进行矩阵乘，并加上bias B（形状为[K, D]），然后将得到的结果做sigmoid，之后将结果沿着二叉树进行解码得到路径与类别，解码代码可以先行参考这里，https://github.com/PaddlePaddle/models/blob/develop/legacy/hsigmoid/infer.py#L13

[2019-09-04 02:52] guoshengCS commented on #19595
这个我们这边评估下，有实现计划的话会在这里反馈给您，多谢支持

[2019-09-04 05:29] yinghu5 commented on #15791
following the  thread https://rachelbythebay.com/w/2017/01/30/env/

we tried some workaround here.
1) but first,  could the parallel_executor of paddle do setenv before start  sub thread?

""Really, you can't be sure who's going to be poking around in there. So all you can do is not call setenv. If for some reason you DO need to set up something in your environment for an eventually-multi-threaded

[2019-09-04 05:39] prakharg24 opened #19622 "Porting models from other frameworks to paddlepaddle"
I am looking to port a object detection model trained in keras to paddlepaddle.
What I have ->

1. Knowledge of the exact architecture of the model. I can implement them both in keras and in paddlepaddle
2. Trained model present in keras framework

What I want ->
Trained model in paddlepaddle framework

Naive approach ->
Store the weights and biases from the keras model as a numpy and then define

[2019-09-04 05:57] wanghaoshuang commented on #19616
You can try some flags to reduce the device memory to avoid illegal memory access.

[code]

[2019-09-04 06:02] wanghaoshuang commented on #19622
[code]

[2019-09-04 07:56] lizhiqings opened #19626 "fleet 分布式训练环境下 如何打印 loss"

[2019-09-04 08:03] prakharg24 commented on #19622
I tried this
[code]

Output ->
[code]

I inserted the code snippet above at line 208 in the following file ->
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/train.py

What went wrong? I assumed that the output should have been the names of all the parameters present in my model.

[2019-09-04 08:36] kahitomi opened #19628 "1.5和更高版本模型GPU报错"
模型是一个带copy的lstm生成模型
模型在1.3，1.4版本下GPU和CPU都没有问题。
在使用paddle 1.5和lastest版本时候，GPU版本报错，CPU版本正常。GPU报错如下~：
![image](https://user-images.githubusercontent.com/2569549/64237527-18eb5800-cf2f-11e9-8f36-89a879936779.png)

提示中没有错误的具体位置~
根据提示，寻找sum相关的OP，未果~
最后定位的代码，在DynamicRNN的block()中，如下
[code]
去掉这段代码就不报错了
其中self.decoder_size是解码的lstm size，self.max_length是生成的最大步长
其中current_h是本时间步的LSTM输出，shape为[batch_size, self.

[2019-09-04 08:50] gongweibao commented on #19626
是train_from_dataset那？还是其他的？

[2019-09-04 08:54] lizhiqings commented on #19626
是 train_from_dataset

[cid:image001.png@01D56341.2E05BE10]

就是这个 ，打印auc 是可以的 用fleet api 提供的 demo就好了 现在想这边怎么打印 当前 dataset计算完的 loss 和 model中定义的其他中间页 结果，单机版可以执行ext.run 传一个fetch_list 就好了，这边怎么弄？

发件人: gongweibao <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年9月4日 星期三 下午4:50
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>,

[2019-09-04 08:55] lizhiqings commented on #19626
发件人: "Li,Zhiqing" <lizhiqing@baidu.com>
日期: 2019年9月4日 星期三 下午4:54
收件人: PaddlePaddle/Paddle <reply@reply.github.com>
主题: Re: [PaddlePaddle/Paddle] fleet 分布式训练环境下 如何打印 loss (#19626)

是 train_from_dataset

[cid:image001.png@01D56341.2E05BE10]

就是这个 ，打印auc 是可以的 用fleet api 提供的 demo就好了 现在想这边怎么打印 当前 dataset计算完的 loss 和 model中定义的其他中间页 结果，单机版可以执行ext.run 传一个fetch_list 就好了，这边怎么弄？

发件人: gongweibao <notification

[2019-09-04 09:12] seiriosPlus commented on #19626
参考:
[code]

```fetch_list``` 中的acc就是会被打印出的结果， loss也是同理

[2019-09-04 10:59] wanghaoshuang commented on #19622
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/train.py
The network is defined in [train_prog](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/train.py#L175) but not the fluid.default_main_program().  So you should write:

[code]

[2019-09-04 11:42] leonleeldc opened #19630 "placeholder issue"
Hi,
我有一个跟这个issue相似的问题：

fluid.layers.data里面指定的shape与实际输出不符合预期 #15519
我定义如下placeholder.
self.anneal_ph = fluid.layers.data('anneal_ph', shape=[1],
                                           append_batch_size=False,
                                           dtype='float32',
                                           lod_level=0)

在下面这样使用，
neg_ELBO = neg_ll + self.anneal_ph * KL + 2 * reg_vars

buil

[2019-09-04 11:47] wanghaoshuang commented on #19630
你可以先使用[reshape op](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html#reshape)强制将self.anneal_ph reshape成[1]

另外，我再确认下paddle的placeholder是不是有问题。

[2019-09-04 11:54] leonleeldc commented on #19630
用reshape可以过了，奇怪，我原来用unsqueeze过不了。非常感谢。

[2019-09-04 12:05] #19630 closed, assigned to mapingshuo

[2019-09-05 01:23] prakharg24 commented on #19622
@wanghaoshuang  Seems to work!!

Is there a pd_param.get() too? Because I want to see whether the weights were set properly or not

Thank You

[2019-09-05 01:54] wanghaoshuang commented on #19622
You can get parameters from scope as numpy array.

[code]

[2019-09-05 01:58] prakharg24 commented on #19622
Ohh great!! Will try that.

Btw, one final thing. The weights that I have ported are still trainable right? I mean just because I loaded the weights from numpy doesn't mean the default is set to not trainable or something right?

Thank You

[2019-09-05 02:09] wanghaoshuang commented on #19622
Yes.  They are still trainable.

[2019-09-05 02:13] wanghaoshuang commented on #19628
@zhaoyuchen2018  帮忙看下sum op相关的问题？

[2019-09-05 02:55] baidadechawan opened #19636 "用paddle能实现论文查重吗"
用paddle能实现论文查重吗，或者使用paddle的word2vec实现论文查重是否合适？有什么好的建议吗？望指教！

[2019-09-05 02:59] brodra opened #19637 "Operator "deformable_conv" has not been registered. PaddlePaddle 1.5.0"
为什么paddle提供的operator会未注册，是版本或安装问题还是有些op确实要手动注册？

训练阶段，更准确地说就是执行了`fluid.layers.deformable_conv`函数时报错。
进去追踪到`helper.append_op(type='deformable_conv')`抛出如上错误。

paddle的包是按官网教程安装的
`python3 -m pip install paddlepaddle==1.5.0 -i https://pypi.tuna.tsinghua.edu.cn/simple`

系统环境Ubuntu14.04，anaconda 1.6.5, python 3.6.3, pip 9.0.1, 无显卡

复现代码如下（官方文档实例）：
[code]
结果是
[code]

[2019-09-05 03:23] prakharg24 opened #19639 "Focal Loss in SSD"
I am looking to train MobileNet-SSD as present here,
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ssd

However, instead of using the SSD Loss (which samples negative gt anchor boxes to maintain 3:1 ratio), I want to use Focal Loss (as described in RetinaNet).

Is there an inbuilt loss function for such focal loss calculations? If not, what would be the easiest way to implement a cu

[2019-09-05 05:10] Dely-Yu opened #19640 "batch_normlization op的实现上的疑惑？"
我对batch-norm 有一些不清楚。 https://github.com/PaddlePaddle/Paddle/blob/release/1.5/python/paddle/fluid/layers/nn.py#L3049

官方源码里面： mean，variance；mean_out，variance_out； saved_mean，saved_variance分别指什么呢？

按照源码：mean，variance是全局的，在一个batch中，对mean，variance更新，得到新的mean_out，variance_out。saved_mean，saved_variance 是用在inference的。

我的疑问是 ：

1.  按照batch_norm的传统，inference的时候应该用全局的mean，variance。

2. saved_mean，saved_var

[2019-09-05 05:20] Dely-Yu commented on #19640
当batchsize 为10的时候，我把mean_out 和 saved_mean打印出来，发现数值上很接近，但是相差10倍。
1567660471	mean_out	The place is:CPUPlace
Tensor[Block_5_layer2_bn1.w_1]
	shape: [512,]
	dtype: f
	data: 6.25614e-07,6.05691e-07,3.71493e-07,4.25677e-07,-8.28404e-08,-4.7798e-07,8.96869e-07,2.77358e-07,-9.39467e-07,-4.27785e-07,1.75467e-08,7.98441e-08,-9.49192e-07,-3.50926e-07,3.98922e-07,7.76319e-08,-9.2629e-08,6.75401e-07,-6.60171e-

[2019-09-05 05:50] Dely-Yu commented on #19640
储存batchnorm层的参数：batch_norm_0.b_0  batch_norm_0.w_0  batch_norm_0.w_1  batch_norm_0.w_2

分别对应了代码里的：bias，scale，mean，variance。 saved_mean的名字是Block_5_layer2_bn1.tmp_0，不是储存的参数。 那么推断时载入的参数？

[2019-09-05 06:06] Superjomn commented on #19640
<img width="512" alt="image" src="https://user-images.githubusercontent.com/328693/64316037-40e9c280-cfe6-11e9-85bb-cda06896b8e9.png">

这个图片可以上传下 @Dely-Yu

[2019-09-05 06:10] ceci3 commented on #19640
你好，mean和variance指的是全局的均值方差，saved_mean saved_variance指的是当前batch的均值方差。infer的时候用的是mean和variance。

[2019-09-05 06:10] Dely-Yu commented on #19640
![14DD5648085574406BCB836A36C766B2](https://user-images.githubusercontent.com/29305857/64316264-e8ff8b80-cfe6-11e9-9e9b-09aecb83c528.JPG)
![AB10DB1C633AA603B4E7289926B79662](https://user-images.githubusercontent.com/29305857/64316266-ebfa7c00-cfe6-11e9-85ab-88dab30f786e.JPG)
![3238C7CBF9F944DD02A4DA5D7F6C887F](https://user-images.githubusercontent.com/29305857/64316271-eef56c80-cfe6-11e9-92fa-d1c6

[2019-09-05 06:11] ceci3 commented on #19640
这是因为全局均值会对当前均值做平滑操作：mean = momentum * mean + (1.0 - momentum) * saved_mean，batch norm里默认的momentum是0.9， 所以出现你看到的相差10倍的情况

[2019-09-05 06:15] Dely-Yu commented on #19640
这里似乎看不到momentum * mean对mean的贡献，这是为什么呢？ mean的初始值为0，可是随着迭代进行，mean不应为0呀，也就是说更新后的mean应该大于 0.1*saved_mean ？？

[2019-09-05 06:17] ceci3 commented on #19640
模型推断是载入的参数是mean，variance，全局均值方差，训练时当前batch计算出来的saved_mean和saved_var是不会保存的

[2019-09-05 06:19] ceci3 commented on #19640
是的，初始的全局mean手动定义为0，之后的计算中  momentum * mean里的mean都是上一个batch输出的全局均值

[2019-09-05 07:19] Dely-Yu commented on #19640
另外，一个关于 batch_norm 的问题。我想在训练的时候也使用全局mean和variance，这样能够使得训练和测试的行为相同，“当设置use_global_stats为True时，在训练期间也使用全局均值和方差。”

遇到的问题是： 我把 mean打印出来了，发现一直为0，mean不应该总是 0 的。

1567665060	mean	The place is:CPUPlace
Tensor[Block_5_layer0_bn2.w_1]
	shape: [512,]
	dtype: f
	data: 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
1567665060	mean_out	The place is:CPUPlace
Tensor[Block_5_layer0_bn2.w_1]
	shape: [512,]
	dtype: f
	da

[2019-09-05 07:30] yxnal opened #19647 "源码编译失败 nccl和'-m64'"
源码编译paddle gpu版本的时候遇到两个问题（在jetson上的编译）：
1、由于jeston不支持nccl，而我想编译一个只支持单卡的paddle，想去除nccl依赖
（1）paddle是否有关闭nccl的编译选项，或者有什么方式修改编译配置？
（2）如果从编译配置上无法修改，是否可以在源码上屏蔽nccl逻辑，再编译？
2、‘-m64’是否可替换为类似‘-arm64’，应该如何替换。

详细编译错误信息如下：
[ 4%] Building CXX object paddle/fluid/platform/CMakeFiles/enforce.dir/enforce.cc.o
c++: error: unrecognized command line option ‘-m64’
paddle/fluid/platform/CMakeFiles/enforce.dir/build.ma

[2019-09-05 07:41] ceci3 commented on #19640
有复现的代码吗？我复现一下看看？

[2019-09-05 07:54] Dely-Yu commented on #19640
代码不是单一个文件，而且代码和数据在一起的才能跑起来。1. 我打个包，发给你？ 2.你登录到我机器上运行试试，那么hi私聊？

[2019-09-05 08:23] NHZlX commented on #19647
当前paddle还不支持TX2. https://github.com/PaddlePaddle/paddle-lite 正在调研对TX2的支持。

[2019-09-05 08:26] gentelyang commented on #19626
...这个可以打印出来，但是打印出来不像pyreader那样直观，假如我要将前100个batch输出的auc值放入一个list中，还需要手动放，train_from_dataset的return为None，用起来不是很舒服。

[2019-09-05 08:40] yxnal commented on #19647
谢谢，有具体的时间表吗？

[2019-09-05 08:46] ceci3 commented on #19640
use_global_stats设置为True，默认使用的均值和方差就是初始设置的0 和1，而且训练过程中也不会计算新的全局均值方差，所以打印出来的均值都是0

[2019-09-05 09:08] caoxuefengzz opened #19649 "安装测试编译问题"
cxf@cxf-HP-Pavilion-Laptop-14-ce1xxx:~$ python
Python 3.6.8 (default, Jan 14 2019, 11:02:34)
[GCC 8.0.1 20180414 (experimental) [trunk revision 259383]] on linux
Type "help", "copyright", "credits" or "license" for more information.

Running Verify Fluid Program ...
W0905 16:49:32.204157 24602 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 9.1, Runtime API

[2019-09-05 09:17] caoxuefengzz opened #19650 "快速安装，paddlepaddle whl包下载失败"
*********************************
欢迎使用PaddlePaddle快速安装脚本
*********************************

如果您在安装过程中遇到任何问题，请在https://github.com/PaddlePaddle/Paddle/issues反馈，我们的工作人员将会帮您答疑解惑

本安装包将帮助您在Linux或Mac系统下安装PaddlePaddle,包括
1）安装前的准备
2）开始安装

请按回车键进行下一步...

*********************1. 安装前的准备*****************************

Step 1. 正在检测您的操作系统信息...

          您的系统为：Linux

Step 2. 检测GPU型号和CUDA/cuDNN版本

即将检测您的机器是否含GPU，

[2019-09-05 09:37] lizhiqings opened #19651 "关于fleet的 pslib模式embedding定义"
使用 pslib（旧版 非fleet）时，embedding 是下面这种形式，代码中并没有 明确写 layers.embedding（）。。。
<img width="833" alt="111" src="https://user-images.githubusercontent.com/47736115/64330405-7b158d00-d003-11e9-9191-b818a995fdef.png">

但是使用 pslib（新版 fleet的pslib 模式）时 ，下图形式，又明确定义了 layers.embedding（）想了解下 这两种方式有啥区别么 ，还有就是第二种方式 layers.embedding（）中的 self._dict_dim 参数应该不起作用吧，也就是说该embedding 是随着新特征 加入 会 变大吧

<img width="773" alt="222

[2019-09-05 10:06] zhaoyuchen2018 commented on #19628
看起来是sum的某个tensor里面没有数据，能提供下复现的代码吗

[2019-09-05 10:21] NHZlX commented on #19647
你对此硬件的模型需求是什么呢（有哪些模型）

[2019-09-05 10:22] MoranCoder95 opened #19652 "模型构建中关于使用layers.argmax()后模型报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.0
    2）CPU：
    3）GPU：
    4）系统环境：windows
- 模型信息

[code]

- 问题描述：
如上定义好模型（用了argmax()）后，然后定义目标函数和优化函数，在进入到 optimizer.minimize(cost, parameter_list=self.model.get_actor_params())时系统报错：
Process finished with exit code -1073741819 (0xC0000005)

请问：对于argmax()梯度反向传播的问题，是不是不能这么定义网络？

[2019-09-05 10:49] seiriosPlus commented on #19626
这个正在改了， 马上就会发布相关的输出功能

[2019-09-05 10:56] Thunderbrook commented on #19651
1. 两种方式无区别
2. self._dict_dim参数不起作用，词表会随着训练更新

[2019-09-05 11:03] lizhiqings commented on #19651
好的 谢谢
发件人: Thunderbrook <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年9月5日 星期四 下午6:57
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] 关于fleet的 pslib模式embedding定义 (#19651)

  1.  两种方式无区别
  2.  self._dict_dim参数不起作用，词表会随着训练更新

—
You are receiving this be

[2019-09-05 11:31] DJinsis commented on #18798
@fc500110
你的回答中的，编译Python安装包的时候没有打开TensorRT，是什么意思呢，我也遇到这个错误，paddle fluid create pred    ictor failed, e.info: Pass tensorrt_subgraph_pass has not been registered at [/paddle/paddle/fluid/framework/ir/pass.h:160]
我的加速配置是这样的
![image](https://user-images.githubusercontent.com/9247758/64338198-b9b34380-d013-11e9-9f43-d3b4b7ac75d1.png)

[2019-09-05 11:36] DogHeadMoon commented on #19458
如果调用save_persistables仅设置了dir参数、没设置filename参数，而load_persistables设置了filename参数会出现这个错误的，所以请用户排查这对函数的filename参数设置是否正确

[2019-09-05 11:40] sneaxiy opened #19655 "ngraph cannot be used with garbage collection strategy together"
We found that when `FLAGS_use_ngraph` is true and `FLAGS_eager_delete_tensor_gb` is 0, there is difference in almost all ngraph unittests `test_xxx_ngraph_op.py`.

`FLAGS_eager_delete_tensor_gb` is an environment variable to control whether garbage collection strategy is enabled. If `FLAGS_eager_delete_tensor_gb` is larger than or equal to 0, garbage collection strategy is enabled.

The garbage co

[2019-09-05 11:49] lch1234 opened #19657 "fluid 实现embeding 层 使用预训练的参数，并且设为不可训练。 这个有什么demo么？"
fluid 实现embeding 层 使用预训练的参数，并且设为不可训练。 这个有什么demo么？

[2019-09-05 12:01] luotao1 commented on #19655
@baojun-nervana @LeoZhao-Intel @bingyanghuang Could you help see it?

[2019-09-05 12:25] wickai opened #19664 "如何fetch rnn的state_array？"
我无法直接fetch出state_array，报错如下：
C++ Callstacks:
Variable must be type N6paddle9framework9LoDTensorE, the holding type is St6vectorIN6paddle9framework9LoDTensorESaIS2_EE at [/paddle/paddle/fluid/framework/variable.h:37]
![image](https://user-images.githubusercontent.com/14268278/64341766-a4daae00-d01b-11e9-8b01-c570a523bc72.png)

我想知道如何取出state_array， 有没有示例代码？

[2019-09-05 12:32] guoshengCS commented on #19657
将embedding层param_attr设置trainable=False
[code]
并且在 `exe.run(startup_program)`后紧接着把numpy的预训练的参数set进去就行
[code]

[2019-09-05 12:34] qingqing01 commented on #19664
可以试下采用tensor_array_to_tensor，将tensor_array拼接成tensor，再fetch:

https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/tensor_cn.html#tensor-array-to-tensor

[2019-09-05 13:13] TomorrowIsAnOtherDay opened #19665 "提示梯度为空的报错"
Paddle 版本：1.5.1
背景：复现算法COMA，multi-aget算法
详细错误提示：
### error 1:
code:
[code]
error

### error two:
code
[code]
error:

issue来源：
https://github.com/PaddlePaddle/PARL/issues/149

[2019-09-05 16:05] Exception-star opened #19666 "动态图，forward里面写一些layers.reshape、dropout、softmax等操作，会影响到反向传播吗？"
![image](https://user-images.githubusercontent.com/53971568/64358952-fa25b800-d039-11e9-8908-d55e4301df47.png)

自己写了个dropout2d

[2019-09-05 16:08] #19216 closed, assigned to hutuxian

[2019-09-05 17:39] baojun-nervana commented on #19655
@pawelpiotrowicz is looking at memory use. He can help to look at this as well.
nGraph will absorb a large graph and executor all ops in one. We may not be able to take full advantage of this paddle feature.

[2019-09-06 01:53] jinxing94 opened #19667 "EnforceNotMet: holder_ should not be null"
模型在cpu模式下运行没有错误，在gpu模式下不加optimizer也能跑，但是加上optimizer minimize loss就报错。

log信息如下：

W0906 09:39:19.449245 93695 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.1, Runtime API Version: 9.2
W0906 09:39:19.453294 93695 device_context.cc:267] device: 0, cuDNN Version: 7.3.
Traceback (most recent call last):
  File "/home/slurm/job/tmp/job-71826/knowledgebase/kno

[2019-09-06 01:59] seiriosPlus commented on #19667
训练前有使用 startup_program进行初始化么？

[2019-09-06 02:03] jinxing94 commented on #19667
有，执行了exe.run(framework.default_startup_program())。CPU模式没问题，GPU模式会碰到这个错误。改了几行源码，自己编译的release1.5版本的paddle。

[2019-09-06 02:12] seiriosPlus commented on #19667
改了哪些地方呢？

[2019-09-06 02:14] jinxing94 commented on #19667
可能还是代码的问题，我再检查后再请教下。

[2019-09-06 03:10] yxnal commented on #19647
感谢解答！
没有特定模型的需求，是想在jetson nano上使用 paddle-gpu 进行常用的训练和预测任务。
您的意思是 可以安装只支持部分模型训练的paddle吗？（删减部分功能的paddle）

而且，jetson nano上运行ubuntu系统，具备gpu显卡资源、cuda、cudnn、tensorRT 等，我认为应该很适合paddle的使用的，torch、mxnet已经提供了官方支持，tensorflow也提供了编译安装的方式

[2019-09-06 03:36] chi2liu opened #19669 "本地开发指南文档中镜像构建和测试的方式不可用"
![image](https://user-images.githubusercontent.com/19861628/64399255-47397680-d09a-11e9-85eb-8edd3f56dc4c.png)
docker run -v $(pwd):/paddle -e "WITH_GPU=OFF" -e "WITH_AVX=ON" -e "WITH_TESTING=ON" paddle:latest-dev 是否可以详细列出build需要执行的命令，当前这个run是无法build的，没带命令

[2019-09-06 05:12] lsabrinax opened #19671 "ModelAverage"
![F852CFA1-AAFF-4389-8DC9-EB8720405B1F](https://user-images.githubusercontent.com/17122734/64402473-b6699780-d0a7-11e9-8160-057115896acd.png)
ModelAverage中的窗口具体是怎么选择的，average_window_rate, min_average_window，max_average_window这三个参数之间需要满足什么要求吗

[2019-09-06 05:52] seiriosPlus commented on #19665
提供一下本地复现的代码？

[2019-09-06 05:59] jinxing94 commented on #19667
发现去掉optimizer minimize loss能跑，估计还是反向传播过程中有问题。
改了下scatter_op.cu
[code]

[2019-09-06 06:08] yobobobo commented on #19665
@a-big-tomato  请提供下。

[2019-09-06 06:09] luotao1 commented on #15568
`cross_entropy.cu`中您报的`PADDLE_ASSERT失败后增加对应的文字说明`，已经在#19631 中加入文字说明了。

[2019-09-06 06:09] #15568 closed, assigned to wopeizl

[2019-09-06 06:38] seiriosPlus commented on #19667
把grad op改回去看看还出问题么? 目前没有看出问题

[2019-09-06 06:44] jinxing94 commented on #19667
不改的话会报scatter的index类型错误。用pip安装的官方paddle的运行错误信息如下：

[code]

[code]

[2019-09-06 06:54] seiriosPlus commented on #19667
看报错是你input输入的类型不对？ 你input定义成int64的可以么

[2019-09-06 07:00] jinxing94 commented on #19667
用的就是int64的，但是scatter op bp默认用的int, 上面的代码改动就是让它都支持。目前就是有的op实现只支持一种类型，比如embedding只支持int64。把scatter op的cpu代码改成int, int64都支持，整个代码用cpu能跑。

[2019-09-06 07:01] jinxing94 commented on #19667
另外，试过cast成不同的类型，以适应不同的op, 也会报错。

[2019-09-06 07:12] sneaxiy commented on #19655
See the error log here: http://ci.paddlepaddle.org/downloadBuildLog.html?buildId=157859.

@baojun-nervana The garbage collection is enabled by default in PaddlePaddle. As you can see in the error log, there would be calculation result differences in almost all `test_xxx_ngraph_op.py`. Is it because that nGraph engine would cache some variables?

[2019-09-06 07:21] sunbrother99 opened #19677 "多卡训练模型层数要与卡数相同的问题"
两层的语言模型跑多卡是用两张卡可以正常训练，用四张卡就会挂掉，并提示如下错误

[2019-09-06 07:22] #19677 closed, assigned to nobody

[2019-09-06 07:24] Superjomn commented on #19637
这是训练还预测？ 另外，这个包是正式的版本吗？

[2019-09-06 07:27] sunbrother99 opened #19678 "多卡训练模型层数要与卡数相等的问题 paddle.fluid.core_avx.EnforceNotMet"
GPU多卡训练两层的语言模型用两张卡就可以正常训练，用四张卡会挂掉，并提示如下paddle.fluid.core_avx.EnforceNotMet: The number(2) of samples of current batch is less than the count(2) of devices(GPU), currently, it is not allowed.  at [/paddle/paddle/fluid/framework/parallel_executor.cc:660]
如果把模型改成四层，四张卡就可以训练，不报错。
看样子是一张卡上一层模型
请问怎么改成卡数与批大小相关而不是与模型层数相关？

[2019-09-06 07:29] jinxing94 commented on #19667
感觉这个错误信息和scatter没有关系，更新了下完整的log, 请帮忙再看看。

[2019-09-06 07:29] qingqing01 commented on #19639
You can refer https://www.paddlepaddle.org.cn/documentation/docs/en/1.5/api/layers/detection.html#sigmoid-focal-loss

[2019-09-06 07:29] seiriosPlus commented on #19667
嗯， 发一下把

[2019-09-06 07:32] Superjomn commented on #19650
是网络问题？

有截图吗

确认机器能安装普通python包

[2019-09-06 07:34] #19651 closed, assigned to nobody

[2019-09-06 07:37] phlrain commented on #19637
能否提供下复现的代码和环境

[2019-09-06 07:38] prakharg24 commented on #19639
Yes that's sigmoid focal loss for an array of class prediction and corresponding gt labels. But how exactly and where will this fir into the a custom loss function to replace ssd_loss?

I mean where in ssd_loss do I need to place sigmoid focal loss to make it work? I am a little confused on that front.

Thank You.

[2019-09-06 07:39] jinxing94 opened #19679 "模型在gpu模式下bp报错Tensor holds no memory."
模型在cpu模式下运行没有错误，在gpu模式下不加optimizer也能跑，但是加上optimizer minimize loss就报错。

log信息如下：

W0906 09:39:19.449245 93695 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.1, Runtime API Version: 9.2
W0906 09:39:19.453294 93695 device_context.cc:267] device: 0, cuDNN Version: 7.3.
Traceback (most recent call last):
File "/home/slurm/job/tmp/job-71826/knowledgebase/knowl

[2019-09-06 07:40] JiabinYang commented on #19650
这个能贴一下完整的截图么

[2019-09-06 07:40] #19664 closed, assigned to nobody

[2019-09-06 07:41] #19657 closed, assigned to nobody

[2019-09-06 07:41] jinxing94 commented on #19667
为了描述更清楚，重新弄了个issue,  请看下https://github.com/PaddlePaddle/Paddle/issues/19679

[2019-09-06 07:42] JiabinYang commented on #19649
这个看起来是显存不足造成的，请使用1.5.2版本的paddlepaddle

[2019-09-06 07:43] phlrain commented on #19666
如果这些op　是无参数的，不会影响的

[2019-09-06 07:53] brodra commented on #19637
训练阶段，更准确地说就是执行了`fluid.layers.deformable_conv`函数时报错。
进去追踪到`helper.append_op(type='deformable_conv')`抛出如上错误。

paddle的包是按官网教程安装的
`python3 -m pip install paddlepaddle==1.5.0 -i https://pypi.tuna.tsinghua.edu.cn/simple`

系统环境Ubuntu14.04，anaconda 1.6.5, python 3.6.3, pip 9.0.1, 无显卡

复现代码如下（官方文档实例）：
[code]
结果是
[code]

[2019-09-06 07:57] #13504 closed, assigned to chengduoZH

[2019-09-06 08:09] seiriosPlus commented on #19678
batchsize目前是多少？

[2019-09-06 08:13] brodra commented on #19637
为什么paddle提供的operator会未注册，是版本或安装问题还是有些op确实要手动注册？

训练阶段，更准确地说就是执行了`fluid.layers.deformable_conv`函数时报错。
进去追踪到`helper.append_op(type='deformable_conv')`抛出如上错误。

paddle的包是按官网教程安装的
`python3 -m pip install paddlepaddle==1.5.0 -i https://pypi.tuna.tsinghua.edu.cn/simple`

系统环境Ubuntu14.04，anaconda 1.6.5, python 3.6.3, pip 9.0.1, 无显卡

复现代码如下（官方文档实例）：
[code]
结果是
[code]

[2019-09-06 09:02] phlrain commented on #19637
这个op没有cpu 的kernel，所以注册的时候会出现问题，如果你安装一个gpu的paddle就没有这个问题，cpu kernel的问题 我们修复下

[2019-09-06 09:07] brodra commented on #19637
了解，多谢

本意是想先在cpu把模型跑通再推到服务器上，没想遇到这种情况。

建议在文档说明中讲清楚哪些op是只能在gpu跑的，哪些是都能用的。

[2019-09-06 09:08] #19637 closed, assigned to nobody

[2019-09-06 09:22] phlrain commented on #19637
op说明这个事情 我们再规范下

[2019-09-06 09:25] yuanquan123 opened #19685 "nlp中input的lod-level为2时模型设计问题。"
如果我的输入形状是[Batch_size, sequece_len1,  sequece_len2]这样的，进行embedding之后形状变为[Batch_size, sequece_len1,  sequece_len2, emb_dim]，然后我想对sequece_len2这个维度进行pooling操作，请问我该如何实现？
下面这种思路正确吗，实际使用中会报错
test_input = fluid.layers.data(name='test1', shape=[1, 1], dtype='int64', lod_level=2)
test_input_emb = fluid.layers.embedding(input=test_input, size=[vocab_size, 100])
test_sentence_emb = fluid.layers.sequence_pool(

[2019-09-06 09:44] seiriosPlus commented on #19685
目前lod-level=2在过sequence_pool的时候会报错？

[2019-09-06 09:47] qingqing01 commented on #19639
`ssd_loss` is in  `paddle/fluid/layers/detection.py`

https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/detection.py#L1246

Maybe you need to change it in your installation lib.  And Thanks for point this, we can put this API in the PaddleCV/PaddleDetection.

[2019-09-06 09:57] maurise-yq-hu opened #19686 "模型定义optimizer 时报错，cos_sim_op.cc 显示有维数错误"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）CPU：
    3）GPU：None
    4）系统环境：centos 6.3, python 2.7.13
- 训练信息
    1）单机，3cpu
- 复现信息：
    逐步执行时，发现是这一步出错：optimizer.minimize(train_loss)。

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
报错信息：
[code]
----------------------------------------------------
代码：
[code]
---------------------------
逐步执行时确认过，cos_sim层的两个输入维数是相同的
[code]