[2019-02-18 11:33] #15777 closed, assigned to junjun315

[2019-02-18 11:49] kjfren1985 commented on #15595
`sparse_embed_seq = list(map(embedding_layer, words[1:-1]))`

`concated = fluid.layers.concat(sparse_embed_seq + words[0:1], axis=1)`

`fc1 = fluid.layers.fc(input=concated, size=400, act='relu',
                          param_attr=fluid.ParamAttr(initializer=fluid.initializer.Normal(
                              scale=1 / math.sqrt(concated.shape[1]))))
`

在network_conf.py中，网络配置处把输入离散特征进行了embed

[2019-02-18 12:12] mengyiliu22 opened #15780 "trainer.test Check Failed: size != 0"
在执行trainer.test时报如下错误：
start test reader from ../../data/test_data/online1
[INFO 2019-02-18 20:02:40,956 reader.py:124] start test reader from ../../data/test_data/online1
F0218 20:02:41.890638  3797 MemoryHandle.cpp:49] Check failed: size != 0  allocate 0 bytes
*** Check failure stack trace: ***
    @     0x7f308fefceed  google::LogMessage::Fail()
    @     0x7f308ff0099c  google::LogMessage::Sen

[2019-02-18 12:19] nemo9903 commented on #15690
@Xreki
I believe, If you install again, it also leaks.

[2019-02-18 13:01] junjun315 commented on #15780
请查看test_data输入数据是否正常，比如少了或者不完整。
以及检查reader的写法，如输出不均匀等

[2019-02-18 13:22] #15766 closed, assigned to junjun315

[2019-02-18 16:25] kbinias commented on #15615
@luotao1 Thanks for you answer. What do you think about creating new test based on `test_imperative_resnet.py` with use_mkldnn equals to True ? It will cover batch_norm, conv, pool and activations.

[2019-02-19 03:15] jerrywgz commented on #15618
I have tried to reproduce the performance but the results between two versions are relatively same.

bs | cores | before https://github.com/PaddlePaddle/Paddle/pull/15398 | latest dev
--|--|--|--
32 | 20 | 0.33 | 0.32
64 | 20 | 0.62 | 0.63
128 | 20 | 2.17 | 2.07
256 | 20 | 8.18| 8.47

Time is latency from the code you provided

[2019-02-19 03:20] #15208 closed, assigned to shanyi15

[2019-02-19 03:21] luotao1 commented on #15615
@kbinias I think it's OK.

[2019-02-19 03:44] heavengate commented on #15583
该问题触发原因如下：
由于grid_sampler的输入input为网络输入，即layers.data，layers.data默认的stop_gradient=True，故在grid_sampler里面关于input的grad无法注册，而cudnn的api需要计算关于input的梯度（grid_sampler也可能输入时featuremap）, 故报错。
解决方法：
将input的stop_gradient置为False，如下
input = fluid.layers.data(name='input', shape=[3, 224, 224], dtype='float32', stop_gradient=False)

[2019-02-19 04:35] liangan1 commented on #15713
使用docker可以编译运行

[2019-02-19 04:35] #15713 closed, assigned to luotao1

[2019-02-19 06:09] tensor-tang opened #15788 "some warnings"
1.
[code]
2.
[code]
3.
[code]

4
[code]

5.
[code]
6.
[code]
7.
[code]

...

about 30 warnings

[2019-02-19 06:39] luotao1 commented on #15788
How about fix following warnings at the same time?
4.
[code]
5.
[code]
6.
[code]
7.
[code]

[2019-02-19 07:15] dzhwinter opened #15791 "mkl random failed on CI machine"
[code]

see details in
http://ci.paddlepaddle.org/viewLog.html?buildId=60748&buildTypeId=Paddle_PrCi&tab=buildLog

[2019-02-19 07:15] xiangyubo opened #15792 "optimizer.minimize 的时候，报grad_op_maker_ should not be null"
- 版本、环境信息：
    1）PaddlePaddle版本：1.2.0
    2）AI Studio 上的环境
    4）Python 3.5
- 复现信息：
- 问题描述：在 AI Studio 上运行我写的 paddle 代码训练 resnet 模型，运行时候报错。报错信息说
adam = fluid.optimizer.Adam(learning_rate=0.1)
adam.minimize(avg_cost)                   <--------------这一行报错
最下面的异常信息是：
[code]

完整异常栈：
[code]

我的 paddle 代码：

[code]

有一个相似的issue：https://github.com/PaddlePaddle/Paddle/issues/9281，但是我没用用到 parallel_op

[2019-02-19 07:17] luotao1 commented on #15791
@yinghu5 @jianhang-liu Could you help see this issue?

[2019-02-19 08:03] ghost commented on #15791
@luotao1 I had a check roughly and seems no issue in elementwise_add kernel itself. Since crash occur in [BLAS](http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=60748&_focus=18236), I will ask Hu Ying to check within MKL team also.

[2019-02-19 09:38] qingqing01 commented on #15792
使用下面代码在我们环境上测试了下，没有复现该问题。

[code]

你上面报错信息，一般需要对一些不做backward的variable显示的设置下 v.stop_gradient=True

[2019-02-19 11:12] xieqingxing opened #15798 "fluid.layers.topk出现Begin index must be less than end index in ddim slice."
在写loss函数时需要用到fluid.layers.topk，出现了如下错误

`
paddle.fluid.core.EnforceNotMet: Begin index must be less than end index in ddim slice. at [/paddle/paddle/fluid/framework/ddim.cc:235]`

代码是：
`errors = fluid.layers.abs(fg - crop_logit)`
`errors_sorted, perm = fluid.layers.topk(errors,k=errors.shape[0])`
errors的维度是103041
把K改为1之后还是一样报错
但如果使用fluid.layers.argsort就不会报错了
麻烦求解答

环境是
cuda9.0 cudnn7.0
paddlepaddl

[2019-02-19 13:00] #15788 closed, assigned to tensor-tang

[2019-02-19 13:33] chuanqi129 commented on #15618
Hi @jerrywgz , Please use `--profiler`  to compare time of `thread0::box_coder`.

[2019-02-20 02:02] SunGaofeng commented on #15798
建议这里把errors的维度打印出来看下，topk op里面k是对最后一维求topk。

[2019-02-20 02:37] dzhwinter opened #15804 "weight decay random failed."
[code]
http://ci.paddlepaddle.org/viewLog.html?buildId=61054&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tail

[2019-02-20 02:47] yeyupiaoling opened #15805 "使用GAN训练得到的图片是彩色的，不应该是黑白的吗？"
# 环境

 - Ubuntu 16.04
 - PaddlePaddle 1.2 GPU
 - 显卡：2070

# 问题

我参考官方和其他的教程，写了一个GAN生成mnist数据集的，是能够正常生成图片的，但是生成的图片是彩色的，mnist数据集是黑白的，按理来说不应该是生成黑白的图片吗？如下图：
![test_1](https://user-images.githubusercontent.com/26297768/53062808-0498be00-34fd-11e9-8711-7bbba5866f5e.png)

以下是全部完整代码哦！
[code]

该代码的Github地址：https://github.com/yeyupiaoling/LearnPaddle2/blob/master/note6/GAN.py

[2019-02-20 03:12] wopeizl opened #15807 "想训练一个gan，然后生成模型和判别模型想用同一个embedding，是否可以"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 版本、环境信息：
    1）PaddlePaddle版本：1.2

想训练一个gan，然后生成模型和判别模型想用同一个embedding，是否可以

[2019-02-20 03:12] wopeizl commented on #15807
@王豪爽 生成program和判别program里分别定义一个embedding层，保证其命名一样即可

[2019-02-20 03:12] wopeizl commented on #15807
用户接受建议，关闭issue

[2019-02-20 03:12] #15807 closed, assigned to nobody

[2019-02-20 03:13] wanghaoshuang commented on #15805
[code]
请你在这句之后执行下`print image.shape`, 看下图像的通道数是否符合预期。
然后确认下是否正确使用了`plt.imsave`

[2019-02-20 03:13] wopeizl opened #15808 "c++ load 一个fluid模型的pb（训练时，带backward的），怎么在c++程序内部把这个pb模型 转成 inference的model使用？"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 版本、环境信息：
    1）PaddlePaddle版本：1.2

c++ load 一个fluid模型的pb（训练时，带backward的），怎么在c++程序内部把这个pb模型 转成 inference的model使用？

[2019-02-20 03:14] yeyupiaoling opened #15809 "对抗生成网络训练没办法生成CIFAR彩色图像"
# 环境
* Ubuntu 16.04
* PaddlePaddle 1.2 GPU
* 显卡：2070

# 问题
我按照GAN生成mnist灰度图片的程序：https://github.com/yeyupiaoling/LearnPaddle2/blob/master/note6/GAN.py

修改了一些必要的参数，是能够正常训练，但是不能生成正常的图片，都是噪点。
![test_28](https://user-images.githubusercontent.com/26297768/53063886-b5ed2300-3500-11e9-9d3f-103c7895ef9d.png)

请问我还要怎么修改呢？

以下是全部代码：
[code]

[2019-02-20 03:14] wopeizl commented on #15808
建议使用save/load op来操作， 可以参考 Paddle/paddle/fluid/operators/save_load_combine_op_test.cc

[2019-02-20 03:15] wopeizl commented on #15808
c++下面没有直接对应的 save_inference_model

[2019-02-20 03:15] wopeizl commented on #15808
用户接受建议，关闭issue

[2019-02-20 03:15] #15808 closed, assigned to nobody

[2019-02-20 03:16] wopeizl opened #15810 "用py_reader读数据，最后小于capacity部分的数据会不会被drop掉"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

用py_reader读数据，最后小于capacity部分的数据会不会被drop掉

[2019-02-20 03:17] wopeizl commented on #15810
不会。只有不够设备数的部分数据才会丢掉。加入你用8个卡训练，你有8n+3个batch的数据送到py_reader里。那么后3个数据会丢掉

[2019-02-20 03:17] wopeizl commented on #15810
用户接受建议，关闭issue

[2019-02-20 03:17] #15810 closed, assigned to nobody

[2019-02-20 03:24] junjun315 commented on #15780
重新生成了test数据后没问题了，应该是数据不对齐

[2019-02-20 03:24] #15780 closed, assigned to junjun315

[2019-02-20 03:43] xieqingxing commented on #15798
您好，不好意思，我上面写错了，应该是长度是103041,维度应该是一维,errors.shape打印出来是(103041L,)这样的

[2019-02-20 05:36] #15675 closed, assigned to Sand3r-, kbinias, mozga-intel

[2019-02-20 05:36] #15616 closed, assigned to nobody

[2019-02-20 05:37] SunGaofeng commented on #15798
创建网络的时候，第一维对应batch size，fluid里面会把batch size初始值置为-1
比如我这个代码：
     a = fluid.layers.data(name='a', shape=[3,100,100], dtype='float32')
     print a.shape
输出是：
    (-1L, 3L, 100L, 100L)
你这里的errors.shape (103041, )是这么打印的吗？按我上面的这个示例的话，errors.shape[0]应该是-1

[2019-02-20 05:49] xieqingxing commented on #15798
您好，我把batch_size设为固定了，然后把所有输入都压为一维之后的值是103041,因为topk的k好像不支持输入为-1，我的打印方式是errors.shape，我把batch_size固定取消之后，压平后的维度是-1，K设为1,报了Expected input_dims[input_dims.size() - 1] >= k这样的错

[2019-02-20 06:21] ghost commented on #15791
As discussed in the meeting, we will wait for more reports with similar crash pattern and then re-start investigation.

[2019-02-20 06:33] yeyupiaoling commented on #15805
@wanghaoshuang
的确，是我保存的方式错误了，修改成这样就正常了。谢谢
[code]

[2019-02-20 06:33] #15805 closed, assigned to wanghaoshuang

[2019-02-20 07:12] zhoukunsheng opened #15815 "[Operator] Add less_equal, greater_than, greater_equal, not_equal op"
test=develop
Like those compare function in numpy.

[2019-02-20 07:31] SunGaofeng commented on #15798
压平使用的什么操作，reshape还是flatten？

[2019-02-20 07:31] yeyupiaoling commented on #15809
这是网络问题，还是我保存的图片方式不对？

[2019-02-20 07:32] #15677 closed, assigned to dzhwinter, JiabinYang

[2019-02-20 07:40] xieqingxing commented on #15798
我使用的是reshape的操作

[2019-02-20 08:07] SunGaofeng commented on #15798
能贴下代码吗，我用你的代码运行下看问题在哪

[2019-02-20 08:12] brandonsj opened #15816 "training stage: Expected predict_data <= 1, but received predict_data:-nan > 1:1. The predict data must less or equal 1"
PaddlePaddle version fluid 1.2
CPU on paddlecloud

meet fatal error during model training
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected predict_data <= 1, but received predict_data:-nan > 1:1.
The predict data must less or equal 1. at [/script/paddle/paddle/fluid/operators/metrics/auc_op.h:80]

[2019-02-20 08:13] brandonsj commented on #15816
train.py
from __future__ import print_function
import sys
import pickle
import paddle
import paddle.fluid as fluid
import paddle.v2
import reader
import os
import math
import numpy as np
import time
import hybrid_dssm as dssm

USE_GPU = False
BATCH_SIZE = 256
PASS_NUM = 1
cluster_train_dir = "./train_data/"
cluster_test_dir = "./test_data/"

def train(use_cuda, save_dirname, is_local):

    feed_o

[2019-02-20 08:14] brandonsj commented on #15816
reader.py

import random
import os
import pickle
import gzip

class Dataset(object):
    def __init__(self,
                 feature_dict_path='./thirdparty/feature_dic.pkl'):
        """构造函数
        """

        with open(feature_dict_path) as f:
            self.feature_dic = pickle.load(f)

    def list_file_path(self, dir_path):
        res = []
        for f in os.listdir(dir_path):

[2019-02-20 08:14] brandonsj commented on #15816
hybrid_dssm.py
from __future__ import print_function
import paddle.fluid as fluid

IS_SPARSE = True

def get_target_combined_features(feature_dic_shape, hid_size, init_low_bound, init_high_bound):
    emb_target_features = []

    # item_type
    a_item_type = fluid.layers.data(name='a_item_type', shape=[1], dtype='int64')
    a_item_type_emb = fluid.layers.embedding(
        input=a_item_type,

[2019-02-20 08:18] SunGaofeng commented on #15816
根据之前的讨论，补充下问题描述，
  1、本地小数据训练，可能报错，也可能不报错
  2、paddle cloud上大数据集训练，运行一段时间会报错
使用的paddle版本为fluid 1.2

[2019-02-20 08:41] xieqingxing commented on #15798
def lovasz_softmax(logit,labels):
        """
        多分类的lovasz_softmax
        :param logit:[batch,class_nums,width,height] 1,9,321,321
        :param labels:[batch,width,height] 1,321,321
        :return:loss
        """
        labels = fluid.layers.elementwise_min(
            labels,
            fluid.layers.assign(np.array(
                [num_classes - 1], dtype=np.int32)))
        logit

[2019-02-20 08:52] SunGaofeng commented on #15798
其他部分的代码也贴下吧，数据可以改成用随机数

[2019-02-20 09:35] yeyupiaoling opened #15821 "对抗生成网络无法设置其他的大小"
# 环境

 - Ubuntu 26.04
 - PaddlePaddle 1.2 GPU

# 问题

代码：https://github.com/yeyupiaoling/LearnPaddle2/blob/master/note13/train.py

调试方式：把包含图片文件的文件夹放在note13的datasets目录下，如`note13/datasets/n02086079-Pekinese/n02086079_146.jpg`。接着执行训练程序，就会出现以下的错误，默认设置的训练图片大小为224，请问如何解决呢？

图片大小设置为32是没有问题的，超过这个就会报错，是不是我的生成器有问题，对应生成224大小的图片，应该如何修改呢？

错误信息：
[code]

[2019-02-20 09:40] houj04 opened #15822 ""array_read" API demo doesn't work"
**System information**
-PaddlePaddle version: 1.2.1
-OS Platform and Distribution: Ubuntu 18.04
-Python version: Python 2.7.15rc1

**To Reproduce**
Use the code example provided in the following API doc:
http://paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#cn-api-fluid-layers-array-read

**Describe your current behavior**
[code]

**Code to reproduce the issue**
[code]

**Others*

[2019-02-20 09:57] qingqing01 opened #15823 "How to deserialize network config from the merged model saved by paddle.utils.merge_model.merge_v2_model"
The merged model saved by paddle.utils.merge_model.merge_v2_model of Paddle v2 API. How to show the network config from this merged model?

[来自用户群]

[2019-02-20 09:58] qingqing01 commented on #15823
The code is as follows assumed the model file is `ssd_mobilenet_show_2.paddle`:

[code]

The output like:

[code]

[2019-02-20 10:06] #15823 closed, assigned to nobody

[2019-02-20 11:56] SunGaofeng commented on #15822
Thanks for pointing out this error. We'll update the document and error message in api.
Here is a right example of using array_read, the input should be a tensor array, not a tensor.

[code]

[2019-02-20 11:57] xieqingxing commented on #15798
# -- coding:utf-8 --
    import paddle.fluid as fluid

    def lovasz_softmax(logit,labels):
        """
        多分类的lovasz_softmax
        :param logit:[batch,class_nums,width,height]
        :param labels:[batch,width,height]
        :return:loss
        """
        logit = fluid.layers.transpose(logit, [0, 2, 3, 1])
        logit = fluid.layers.reshape(logit, [-1, 9])
        logit = fluid.laye

[2019-02-20 12:25] #15822 closed, assigned to nobody

[2019-02-20 13:12] #15690 closed, assigned to Xreki

[2019-02-20 15:59] #15670 closed, assigned to seiriosPlus, typhoonzero

[2019-02-21 00:53] yeyupiaoling opened #15835 "当使用with块时无法保存预测模型"
我训练一个对抗生成网络，我想保存预测模型，以便预之后直接使用这个预测模型生成更多的图片，但是我在保存模型的时候就会报错，错误如下所示。

不知道是不是使用with的原因，还是对抗网络模型本身就不允许保存模型。麻烦路过的同学解答下，谢谢。

错误信息：
[code]

全部代码：
[code]

[2019-02-21 02:01] wanghaoshuang commented on #15809
非常赞的尝试。
你的网络看起来没什么问题。应该是你还没训练好的问题。

相比手写体数据，cifar的数据还是相对比较复杂的，所以比较难训出效果，你可以调参继续训练一下。

[2019-02-21 02:03] yeyupiaoling commented on #15809
@wanghaoshuang 好的，谢谢。从您的经验来看，调整哪些参数会更好一些呢？

[2019-02-21 02:09] wanghaoshuang commented on #15835
[code]
[code]

因为`fake`是定义在with block里边的，所以在with block之外的`save_inference_model`不认识`fake`，一个解决办法是：
在with block之前定义fake = None.

还有一个问题：
你在调用save_inference_model时，要指定下main_program=train_g, 改参数的意思可以参考[这里](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/io.py#L881)

[2019-02-21 02:11] yeyupiaoling commented on #15835
@wanghaoshuang 好的，非常感谢，我先试试看。

[2019-02-21 02:41] jerrywgz commented on #15618
Yes, box coder is time-consuming indeed and I got 8.5ms in bs=32. I try to remove the change from https://github.com/PaddlePaddle/Paddle/pull/14671 then I got 2.8ms in same config. In term of https://github.com/PaddlePaddle/Paddle/pull/15398, I added some ifelse branch in for loop and I wonder if this change causes bad performance.

[2019-02-21 02:43] wanghaoshuang commented on #15821
[code]

你这样改下你的程序试试？

[2019-02-21 02:46] yeyupiaoling commented on #15821
@wanghaoshuang 好的，我先试试呢。

[2019-02-21 03:17] yeyupiaoling commented on #15835
@wanghaoshuang 您好，经过上面的修改以及可正常保存预测模型了，但是我觉得保存的模型不完全正确。

在生成器中，最后一层转置卷积运算运算中，我使用sigmoid激活函数，是为了输出的数据都是在[0, 1]区间内，因为在保存彩色图片时，提示数据需要在[0.0, 1.0]或者[0, 255]。

在训练中输出是[0, 1]区间内，但是在使用预测模型进行生成的数据不是这个区间的，按理来说，输出的数应该跟训练中输出的格式一样才对的，是不是有什么其他问题呢？

预测代码：
[code]

预测代码：
[code]

[2019-02-21 03:47] yeyupiaoling commented on #15821
@wanghaoshuang 可以正常训练了，谢谢老师。

[2019-02-21 03:47] #15821 closed, assigned to wanghaoshuang

[2019-02-21 04:04] luotao1 opened #15838 "Conv_op fails on MM_DNN GPU inference"
MM_DNN在4w+样本上预测，
编译时需打开：`-DWITH_INFERENCE_API_TEST=ON`
运行命令：
[code]
环境：V100，镜像：`paddlepaddle/paddle_manylinux_devel:cuda9.0_cudnn7`
CPU可以跑通，GPU报错：
![image](https://user-images.githubusercontent.com/6836917/53142835-54948500-35d0-11e9-9f84-75425bcbd26a.png)
GPU 需要修改下 `paddle/fluid/inference/tests/api/analyzer_mm_dnn_tester.cc`
[code]

[2019-02-21 05:12] qingqing01 commented on #15838
@luotao1 From the error,  the input data shape is not correct. If the batch size is 1, the shape should be [1, C, H, W], not [C, H, W]

[2019-02-21 05:12] SunGaofeng commented on #15798
我试了下，在Paddle fluid1.2 版本上确实会报错，原因在于[/paddle/paddle/fluid/framework/ddim.cc:235]
PADDLE_ENFORCE(begin < end,   "Begin index must be less than end index in ddim slice.");
对ddim做slice的时候要求end > begin，而这里begin和end都等于0。

在新版本fluid 1.3里面已经修复了这个问题，建议使用1.3版。

[2019-02-21 05:33] qingqing01 commented on #15595
@kjfren1985

了解到直接使用sparse数据输入，使用sparse fc来计算。可以使用embedding + sequence_pool来等价次方式，前提是输入的sparse输入数据没有权重。numpy的模拟代码验证没问题:

[code]

sequence_pool文档: http://paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#sequence-pool

[2019-02-21 05:41] xieqingxing commented on #15798
OK，好的

[2019-02-21 05:51] xieqingxing commented on #15798
您好，现在官网好像还没有1.3的版本，1.3的版本要怎么安装呢？

[2019-02-21 06:44] #13947 closed, assigned to jacquesqiao, lucywsq

[2019-02-21 06:57] xiangyubo commented on #15792
这个问题解决了，和 paddle 无关，是 AI Studio 一个很 trick 的点引起的。
因为 AI Studio 使用的是 ipython 的交互式编程，所以对于单个 cell 过大的情况，可能会存在内部截断之类的 trick。但单个 cell 过大时，无法保证执行顺序，所以会出现类似奇怪的错误。
将这个 cell 拆分开来，分别执行就没问题了~

[2019-02-21 08:27] LittleFatHero opened #15845 "paddlepaddle打算什么时候支持使用conda安装和支持MKL？"
以前在安装tensorflow的时候，发现tensorflow支持使用conda安装，超级方便。无论是windows还是Linux，只需要一个命令：
conda install tensorflow-gpu
便可以在Windows，Linux上安装好GPU版本的tensorflow。更关键在于，执行完上述命令后，会自动安装相应的cuda和cudnn，用户再也不用愁怎么安装cuda和cudnn（配置过程超级痛苦）。安装的cuda和cudnn会被隔离在conda创建的虚拟环境中，与其它conda虚拟环境中的cuda和cudnn互不干扰。这样可以很方便测试不同cuda版本之间的性能差距。conda安装的tensorflow还可以支持老版本的系统，比如tensorflow官方的安装命令pip install tensorflow是不支持在Ubuntu 16.04以下版本上安装的，但是使用conda

[2019-02-21 08:35] henrystrident commented on #15761
你好，我想问下paddlepaddle在python3.7版本下能用 pip install paddlepaddle安装吗？ 我用这个命令后会出现No matching distribution found for paddlepaddle 这样的错误，我pip版本号是10.0.1

[2019-02-21 08:46] dzhwinter opened #15847 "eager deletion time cost"
![image](https://user-images.githubusercontent.com/6687176/53155564-46f2f580-35f8-11e9-8d64-2aefb61f2bac.png)

[2019-02-21 08:50] luotao1 commented on #15845
`pip install paddlepaddle`能完成支持MKL库的安装，且事先不需要安装MKL库。

[2019-02-21 08:55] LittleFatHero commented on #15845
你逗我呢，你逗我呢，你逗我呢？？？？？？？？自己打开官网看，，，，
[http://www.paddlepaddle.org/documentation/docs/zh/1.2/beginners_guide/install/install_Windows.html#permalink-3--pip-](url)

[2019-02-21 08:55] LittleFatHero commented on #15845
@luotao1

[2019-02-21 08:56] LittleFatHero commented on #15845
官方都说不支持MKL洛，，，，，， @luotao1

[2019-02-21 09:02] dzhwinter commented on #15847
![image](https://user-images.githubusercontent.com/6687176/53156461-6ab73b00-35fa-11e9-8a7b-808180b8c26d.png)

[2019-02-21 09:40] AIFollowers opened #15850 "添加像Keras summary这样模型统计工具"
像Keras框架提供了简便的模型参数统计工具，建议添加PARAMS,FLOPs统计工具

[2019-02-21 10:43] luotao1 commented on #15845
即将发布的release1.3版本支持windows MKL功能。linux一直支持MKL功能。

[2019-02-21 10:49] hutuxian opened #15852 "clip操作导致分布式训练失败"
在使用fluid.DistributeTranspiler配置的分布式场景下,添加如下梯度clip：
`fluid.clip.set_gradient_clip(clip=fluid.clip.GradientClipByGlobalNorm(clip_norm=5.0))`
会导致训练失败。
其中ps端报错：
![910705e33efc4c3accc1d3e76d9360a9](https://user-images.githubusercontent.com/11195205/53163410-f6d05f00-3608-11e9-9e90-2cf3c6ea1bf1.jpg)
trainer端报错：
GetRPC name:[atten_fc1.b_0], ep:[127.0.0.1:6000], status:[-1] meets grpc error, error_code:14

[2019-02-21 10:50] jacquesqiao commented on #15852
给个复现的例子

[2019-02-21 10:55] hutuxian commented on #15852
模型还未发布，后面会提供一个最小可复现的例子

[2019-02-21 10:57] houj04 opened #15853 "the output tensor's 'dtype' of 'uniform_random' is not set"
**Brief**
According to the API doc of 'uniform_random' (see http://paddlepaddle.org/documentation/docs/zh/1.2/api/layers.html#uniform-random), the default 'dtype' is:

But in fact, the dtype of returned tensor is not set to 5.
**System information**
-PaddlePaddle version: 1.2.1
-OS Platform and Distribution: Ubuntu 18.04
-Python version: Python 2.7.15rc1
**To Reproduce**
Just use the code provided

[2019-02-21 11:35] JiabinYang commented on #15845
很抱歉我们目前还没有支持conda，但是我们会尽快列入计划，感谢您对PaddlePaddle的支持

[2019-02-21 12:07] Xreki opened #15858 "Is there any problem about the profile result?"
After I update the code on the `develop` branch, I find the profiling result is different, see following:
[code]

Profiling result before:
[code]

Now I am quite confusing ...

[2019-02-21 12:17] LittleFatHero commented on #15845
谢谢，非常感谢 @luotao1

[2019-02-21 12:17] LittleFatHero commented on #15845
感谢 @JiabinYang

[2019-02-21 12:22] imistyrain opened #15859 "load_vars应该返回bool值以便判断模型加载是否成功"
目前所有的加载模型的函数比如load_vars、load_params和load_persistables都没有返回bool型的量以便判断模型加载是否成功，这种静默执行的方式隐藏了很多问题，等调试好长时间才发现是模型并没有加载成功导致的，比如路径名拼错了等.

[2019-02-21 12:37] qingqing01 commented on #15853
I use your code to test, the output is:

[code]

The def of `uniform_random`:

https://github.com/PaddlePaddle/Paddle/blob/afc885dace69d97531ebe1066af2636d1adbfeea/python/paddle/fluid/layers/ops.py#L63-L66

->

https://github.com/PaddlePaddle/Paddle/blob/afc885dace69d97531ebe1066af2636d1adbfeea/python/paddle/fluid/framework.py#L131-L146

Found that python 2.7 converts None to float64:

[code]

[2019-02-21 12:43] imistyrain commented on #14876
看源码发现是paddle等一个batch的所有数据都到齐后才进行前传，能不能来个数据就算，不要等都到齐了再算呀,不然这GPU利用率也太惨不忍睹了.

[2019-02-21 12:49] qingqing01 commented on #15859
感谢提议，很好的建议，我们可以考虑实现下。

[2019-02-21 13:09] qingqing01 commented on #15858
@Xreki Maybe related to https://github.com/PaddlePaddle/Paddle/pull/15301

[2019-02-21 14:04] wanghaoshuang commented on #15835
麻烦你print下r_i[0]，然后把数据贴出来看看？

[2019-02-21 14:30] qingqing01 opened #15865 "How to share embeding in two Program?"
Q: How to share embedding in two Program?  [From 用户群]

A: You can set the same name of `param_attr` in `fluid.layers.embedding`, like:

[code]

[2019-02-21 14:38] #15865 closed, assigned to nobody

[2019-02-21 14:51] qingqing01 opened #15866 "Input Alpha not found when set act='prelu' in fluid.layers.batch_norm"
Q:

When set act='prelu' in fluid.layers.batch_norm(), there is error:

[code]

[来自用户群]

A:

The `preu` is different from other activations, can't set act='prelu' in `fluid.layers.batch_norm()` directly. You should def `fluid.layers.prelu`  after `fluid.layers.batch_norm`, like:

[code]

[2019-02-21 14:52] #15866 closed, assigned to nobody

[2019-02-22 02:01] houj04 commented on #15853
[code]

[2019-02-22 02:28] junjun315 commented on #15780
reader喂数据，构造tensor时有一维数据为空，导致load时报空错误，需要用户自己修改reader以处理这种情况。

[2019-02-22 02:50] Xreki commented on #15858
Discussed with @cjld and @qingqing01 , those ops' time is 0, because there is no `cuda` functions, including `cuda memcpy` and `cuda __global__` function. But other overhead, such as frameworks' overhead and CPU time cannot be shown and the profiling result is confusing for us. Maybe CPU time should be recorded and shown at the same time?

[2019-02-22 03:13] wanghaoshuang commented on #15809
具体调哪些参数也不确定。
你可以先用一张图片做训练，看是否可以拟合这张图片，从而验证下网络的能力。

[2019-02-22 03:39] #15792 closed, assigned to qingqing01

[2019-02-22 04:15] #15595 closed, assigned to seiriosPlus

[2019-02-22 05:27] sonofaeolus opened #15874 "使用capi预测报错 cpu预测正常 gpu预测失败 Python两者都ok"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及

[2019-02-22 05:28] sonofaeolus commented on #15874
I0222 13:14:26.875047 74013 Util.cpp:166] commandline:  --use_gpu=True
F0222 13:14:26.875897 74013 Allocator.h:89] Check failed: ptr Fail to allocate GPU memory 5101200 bytes
*** Check failure stack trace: ***
    @     0x7f907acea07d  google::LogMessage::Fail()
    @     0x7f907acedb2c  google::LogMessage::SendToLog()
    @     0x7f907ace9ba3  google::LogMessage::Flush()
    @     0x7f907acef03e

[2019-02-22 05:30] NHZlX commented on #15874
看起来貌似是显存不够导致的。

[2019-02-22 05:31] NHZlX commented on #15874
另外，v2已经停止开发， 建议迁移到fluid。

[2019-02-22 05:33] sonofaeolus commented on #15874
才5m左右不至于吧

[2019-02-22 06:41] yeyupiaoling commented on #15835
@wanghaoshuang

训练时的`r_i[0]`:
[code]

使用预测模型预测时的`r_i[0]`:
[code]

可以看到使用预测模型的时候就出现了负数，而训练的时候是没有的。

上面的代码是完整的，你执行的是也会发现这种情况。

[2019-02-22 06:45] luotao1 opened #15875 "ngraph code format"
![image](https://user-images.githubusercontent.com/6836917/53224558-28e8cc00-36b0-11e9-8bc9-44e4bee148a5.png)
Please use `pre-commit` to push the codes.

[2019-02-22 06:45] yeyupiaoling commented on #15809
@wanghaoshuang 好像当只有一张图片的时候，没不能够正常训练。

[2019-02-22 07:03] wanghaoshuang commented on #15835
上面的代码是完整的，你执行的是也会发现这种情况。

很奇怪的现象，我尝试复现一下，晚会儿再反馈给你吧，很抱歉。

[2019-02-22 07:10] houj04 opened #15878 "“Fluid编程指南”页面上有个链接可能需要修改"
首页是
http://www.paddlepaddle.org/
点里面的“官方中文文档”，进入到
http://www.paddlepaddle.org/documentation/docs/zh/1.2/beginners_guide/index.html
然后点左边的“Fluid编程指南”，进入到
http://www.paddlepaddle.org/documentation/docs/zh/1.2/beginners_guide/programming_guide/programming_guide.html
这个页面上有一个“可以参考阅读Fluid设计思想”，进入到
http://www.paddlepaddle.org/documentation/docs/zh/1.2/user_guides/design_idea/fluid_design_idea.html
然后发现这

[2019-02-22 07:50] yeyupiaoling commented on #15835
@wanghaoshuang 好的。麻烦您 了。

[2019-02-22 07:59] shiyazhou121 opened #15879 "[Fluid 1.2]infer时报错Tensor holds no memory."
paddle版本：fluid 1.2
情况是训练没有报错，模型也收敛了。但是python的infer和C++的infer都报错Tensor holds no memory. Call Tensor::mutable_data first. at [/paddle/paddle/fluid/framework/tensor.cc:22]
python infer报错如下：
![image](https://user-images.githubusercontent.com/15082798/53227910-a285b780-36ba-11e9-8f8c-61a8d3efab2a.png)
C++ infer报错如下：
![image](https://user-images.githubusercontent.com/15082798/53228697-ebd70680-36bc-11e9

[2019-02-22 08:00] duanyuzhuo opened #15880 "paddle v2 模型训练异常报错"
模式：cpu本地
描述：模型训练阶段，网络构建成功，后续报错如下
[code]

因为报错定位到paddle脚本，通过参考其它issue（地址：https://github.com/PaddlePaddle/Paddle/issues/2062）
定位到应该是数据读取的问题，看起来是序列数据获取时并非是序列导致，排查过数据本身可以确定要feed进去的数据并非不可迭代。需要的话可以提供脚本和运行环境。
辛苦排查！

[2019-02-22 08:13] Yancey0623 commented on #15879
infer之前是否有执行 startup_program 呢？

[2019-02-22 08:15] shiyazhou121 commented on #15879
@Yancey1989 没有，但是模型文件替换成lstm的可以正常出结果
![image](https://user-images.githubusercontent.com/15082798/53228746-11641000-36bd-11e9-8d86-749155e3f9bc.png)

[2019-02-22 09:57] Xreki commented on #15858
Fixed by #15842 , now the profiling result is:
[code]

[2019-02-22 09:59] #15858 closed, assigned to nobody

[2019-02-22 10:46] jack603047588 opened #15884 "Fluid模型run startup报错"
Fluid版本 1.1
报错：
[code]

代码：
[code]

[2019-02-22 10:49] Yancey0623 commented on #15880
已沟通解决，`paddle.data_type.integer_value_sequence` 的数据类型需要传入list类型。

[2019-02-22 10:49] #15880 closed, assigned to Yancey0623

[2019-02-22 11:06] AIFollowers opened #15885 "保存权重到一个文件后，加载有问题"
![7a880e5b3282ddc7fcff6fff05403bd4](https://user-images.githubusercontent.com/42403163/53238654-ca821480-36d4-11e9-93a1-f23ccb6c18ca.png)
<img width="791" alt="4af8b6681f9603b4b3b802d5b09336ff" src="https://user-images.githubusercontent.com/42403163/53238661-d1a92280-36d4-11e9-8e93-539f16fd4cdb.png">

Paddle1.2版本
GPU K40 4块显卡

[2019-02-22 11:32] #15878 closed, assigned to shanyi15

[2019-02-22 11:35] shanyi15 commented on #15878
感谢反馈，正在修复ing

[2019-02-22 14:03] Yancey0623 commented on #15884
升级下paddle试试呢？我用1.2.1的linux版本没复现这问题。

[2019-02-22 14:55] freekoy opened #15888 "知道了"

[2019-02-22 15:55] freekoy commented on #15888
我知道了.....

[2019-02-22 15:55] #15888 closed, assigned to nobody

[2019-02-23 10:21] hutuxian commented on #15735
做了进一步的实验，在GPU上save_persistables 导出初始化参数, CPU上load_vars导入（保证两者初始化相同）测了一下。情况仍然相同，即CPU出NaN，GPU没问题。而去掉batch_norm后，CPU和GPU的结果便完全相同。

[2019-02-24 09:54] LittleFatHero opened #15895 "paddlepaddle什么时候能实现一条命令就能安装好paddle和CUDA和CUDNN？"
对于新人来说，安装CUDA和CUDNN是非常痛苦的，因为要配置各种环境变量，设置path。最可怕的是，百度一下，你会发现安装CUDA和CUDNN的方法有一亿种这么多，根本不知道相信谁。
tensorflow就很贴心地解决了这个问题，在安装好显卡驱动（这个安装起来超简单）的前提下只需下面一条命令：
conda create -n tensorflow_gpuenv tensorflow-gpu
就能将tensorflow以及CUDA and CUDNN都安装好，对于新人简直不能太友好了。
如果paddlepaddle能够实现这样的安装，那么估计用的人会越来越多。
上面的命令会根据不同的操作系统自动解决各种依赖包的安装，简直不能再棒了。
详情请参考（估计你们也不会看，但是还是列出来吧）：
[https://www.anaconda.com/tensorflow-in-anaconda/](ur

[2019-02-24 10:02] LittleFatHero opened #15896 "paddlepaddle到底支持cuda哪个版本？"
很高兴看到paddlepaddle官网终于实现了类似于pytorch的选择环境然后生成安装命令的快速安装模式，但是，其中也有歧义的，在cuda那一栏，有9和8两个数字可以选，这个是什么意思呢？
比如选9，是只支持cuda 9.0还是支持cuda 9+，比如cuda 9.2。如果只支持 CUDA 9.0，那么建议像pytorch官网那样，把 9改成 9.0， 8改成8.0。

[2019-02-24 10:36] wopeizl commented on #15895
很好的建议，paddle目前有提供快速安装的脚本但是不提供一键安装cuda和cudnn的能力，我们会认真考虑您的建议

在 2019年2月24日，下午5:54，BigBigWolf-AI <notifications@github.com<mailto:notifications@github.com>> 写道：

对于新人来说，安装CUDA和CUDNN是非常痛苦的，因为要配置各种环境变量，设置path。最可怕的是，百度一下，你会发现安装CUDA和CUDNN的方法有一亿种这么多，根本不知道相信谁。
tensorflow就很贴心地解决了这个问题，在安装好显卡驱动（这个安装起来超简单）的前提下只需下面一条命令：
conda create -n tensorflow_gpuenv tensorflow-gpu
就能将tensorflow以及CUDA and CUDNN都安装好，对于新人简直不能太

[2019-02-25 00:36] littletomatodonkey opened #15903 "根据0-1向量取tensor value"
我现在有一个[0,1,0,0,1]的tensor A，有一个[5,4,3,2,1]的tensor B，我想根据这个0,1矩阵取出B中特定的行，即希望结果是[4,1]。我想问一下这个操作在paddle里怎么实现呢？gather里面好像只能根据index取出特定的行。

[2019-02-25 00:49] brandonsj commented on #15816
This problem could be solved by using softmax_with_cross_entropy loss instead of cross_entropy.
Thank you @SunGaofeng for your help.

[2019-02-25 01:07] chengduoZH commented on #15903
目前没有直接的方法可以实现这个操作。你可以将A转化为index形式。

[2019-02-25 01:15] littletomatodonkey commented on #15903
那怎么将A转化为index形式呢？

[2019-02-25 01:33] chengduoZH commented on #15903
首先明确一下，您的issue题目中写的是one-hot，但是您给的例子中的A并不是one-hot。您可以再准确的描述一下您的需求吗

[2019-02-25 01:35] littletomatodonkey commented on #15903
您好， 我修改了issue的题目，我希望根据这个0-1的向量取出B对应的行，谢谢您。

[2019-02-25 01:59] chengduoZH commented on #15903
tensor A 是模型中间计算结果，还是模型的输入？

[2019-02-25 02:00] littletomatodonkey commented on #15903
tensor A是模型中间计算的结果

[2019-02-25 02:26] #15816 closed, assigned to nobody

[2019-02-25 04:52] luotao1 opened #15907 "cpplint format"
Reproduce commad:
[code]
For example:
[code]
Travis-CI result: https://travis-ci.org/PaddlePaddle/Paddle/builds/497980089#L2886
related #15876
[code]

[2019-02-25 05:24] junjun315 commented on #15761
你好，出现这样的问题的原因可能不是因为pip版本。
1. 检查pip源是否有过改动，比如自己定义了pip.conf。部分源可能没有paddle
2. 可以看看本机pip3.7支持的whl包的版本。
  `from pip import pep425tags`
   `print(pep425tags.get_supported()) `
  来查看支持的whl包版本。paddle当前只支持64位的, 可能安装的pip以及python是32位的

[2019-02-25 06:25] Yancey0623 commented on #15879
hi @shiyazhou121 麻烦贴一下 paddle的版本以及 infer program 的 feed_target_names

[2019-02-25 06:41] henrystrident commented on #15761
这个问题我已经解决了，的确是因为python安装的是32位的版本，谢谢你的回复

[2019-02-25 07:21] #15853 closed, assigned to qingqing01

[2019-02-25 08:51] shiyazhou121 commented on #15879
@Yancey1989 hi，感谢帮忙排查问题，最后发现是lod_reset时用了label标签，infer时没有数据传入导致的报错。

[2019-02-25 08:51] #15879 closed, assigned to Yancey0623

[2019-02-25 11:43] shiyazhou121 opened #15918 "self-attention性能优化问题"
版本：Fluid 1.2
问题：自己实现self-attention + CRF的模型，但性能比BiLstm+CRF低很多。哪些地方可以做优化？我发现一维序列的长度对性能影响特别大，是因为scale_dot_product时矩阵相乘耗时吗？怎么优化这部分。。

[2019-02-25 11:52] chengduoZH commented on #15918
你可以用profiler工具分析一下 http://paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/development/profiling/timeline_cn.html

[2019-02-25 12:55] Yve-Neal opened #15920 "models/legacy/ctr 下 执行文档中的命令后报错"
按照这个文档https://github.com/PaddlePaddle/models/tree/develop/legacy/ctr一次运行完：
一： mkdir -p output; python avazu_data_processer.py --data_path train.txt --output_dir output --num_lines_to_detect 1000 --test_set_size 100
二：python train.py --train_data_path ./output/train.txt --test_data_path ./output/test.txt --data_meta_file ./output/data.meta.txt --model_type=0
后报如下错：
I0225 20:16:28.711913 15929 Util.

[2019-02-25 13:01] chengduoZH commented on #15920
是python端抛出来的错

[2019-02-25 13:03] chengduoZH commented on #15903
如果是求tensor中的最大元素用argmax，如果是找==1的目前还没有这样的layer

[2019-02-26 00:57] fengleitian commented on #15049
@Yancey1989 one question. how to get this visual profiling graph?

[2019-02-26 01:52] shiyazhou121 commented on #15918
@chengduoZH 用profiler分析了下infer。
![image](https://user-images.githubusercontent.com/15082798/53381509-1ae6c400-39ac-11e9-9c02-f7fb340d751e.png)
占性能的是softmax和matmul，对应网络中的scale_dot_product_att。

[code]
请问有什么方法可以优化吗？

[2019-02-26 03:43] Karbit opened #15927 "face_detection 模型 program 描述中有一部分 var 的 dim 为非 -1 的负数"
[环境]
PaddlePaddle 1.2.1, compiled with
    with_avx: ON
    with_gpu: OFF
    with_mkl: OFF
    with_mkldnn: OFF
    with_double: OFF
    with_python: ON
    with_rdma: OFF
    with_timer: OFF
[模型] face_detection https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/face_detection
[问题]
在 train.py 中 140 行增加如下打印指令：
print(train_prog.to_string(False))
发现打印出来的 program 描述中有一部分 var 的 dim 为负数

[2019-02-26 03:45] Yancey0623 commented on #15049
Hi @fengleitian, you can try [cProfile](https://docs.python.org/2/library/profile.html), please check: http://paddlepaddle.org/documentation/docs/zh/1.3/advanced_usage/development/profiling/cpu_profiling_cn.html

[2019-02-26 04:27] qingqing01 commented on #15927
@Karbit 在构建Program/网络图时，batch size维度是-1，其他维度可能是正数，在经过reshape(等) op时，-1参与维度的计算，就会导致在构建的Program里出现非-1的负数。 实际在运行时(executor run时)是每个tensor的shape是不存在负数的。 如果想查看运行时的真实shape，也可以通过fluid.layers.Print()接口在看。

[2019-02-26 05:54] shiyazhou121 commented on #15918
感谢paddle同学帮忙

[2019-02-26 05:54] #15918 closed, assigned to chengduoZH

[2019-02-26 06:08] Karbit commented on #15927
理解了，多谢解答！

[2019-02-26 07:23] yxfGrace opened #15932 "paddle v1.3.0 多节点运行时模型保存不完整"
2个节点的cpu作业，pserver模式，用的是https://github.com/PaddlePaddle/Paddle/blob/v1.3.0/python/paddle/fluid/tests/book/notest_understand_sentiment.py  这个demo
保存模型后，两个节点中保存的模型不一致，其中一个节点的模型不完整，导致在load模型时报错
![image](https://user-images.githubusercontent.com/29363426/53393225-c0169200-39d6-11e9-89a6-a7b357d81805.png)
在输出中确实没有这个模型
同样的demo用paddle-v1.2.0是可以成功运行的
新版paddle的模型保存接口是否有变化呢？

[2019-02-26 08:51] #15903 closed, assigned to chengduoZH

[2019-02-26 09:34] houj04 opened #15935 "Deadlink in doc"
**To Reproduce**
There is a deadlink in the following document:
http://www.paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/development/contribute_to_paddle/local_dev_guide.html
Search for "使用Docker安装运行", and you will find a 404 page. The correct page (I guess) maybe this one:
https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/fluid/beginners_guide/install/install_Docker.md

[2019-02-26 11:27] kuke commented on #15932
模型保存接口没有任何变化，可能是保存模型的时候其中一个节点被异常中断了，你可以再跑一次试试

[2019-02-26 11:28] yxfGrace commented on #15932
可以稳定复现的呢
而且每次缺的模型都是相同的  所以应该不是随机问题

[2019-02-26 11:31] shanyi15 commented on #15935
hi, we have fixed in v1.3, please refer to here:
http://www.paddlepaddle.org/documentation/docs/zh/1.3/advanced_usage/development/contribute_to_paddle/local_dev_guide.html
The search engine has some bugs now, will fix it, the correct link is:
http://www.paddlepaddle.org/documentation/docs/zh/1.3/beginners_guide/install/install_Docker.html

[2019-02-26 11:31] shanyi15 commented on #15935
any doc problem please submit issue in FluidDoc
https://github.com/PaddlePaddle/FluidDoc

[2019-02-26 11:36] houj04 commented on #15935
Thanks for the reply. BTW, the "官方中文文档" link on the front page of http://www.paddlepaddle.org/ leads me to v1.2 instead of v1.3.

[2019-02-26 11:47] shanyi15 commented on #15935
could you screen shot the specific button? Thanks

[2019-02-26 11:50] houj04 commented on #15935
Here it is.
![default](https://user-images.githubusercontent.com/35131887/53410798-c2d9ad00-39ff-11e9-8a6f-de6cf9ed2191.png)

[2019-02-26 14:22] yeyupiaoling opened #15944 "1.3版本在Windows下训练报错"
# 环境
 - Windows 10 专业版
 - PaddlePaddle 1.3 CPU版
 - Python 3.5

# 问题
在1.2版本的时候，是可以正常训练的，升级到1.3之后就不可以了。我的电脑是不支持AVX指令集的，是不是这个问题呢？

[code]

[2019-02-26 15:48] shanyi15 commented on #15935
got it, thanks very much! cc to @joodo

[2019-02-26 17:30] fengleitian commented on #15049
@Yancey1989 Thanks a lot.

[2019-02-27 02:09] seiriosPlus commented on #15932
是做增量还是做预测？
贴一下多机save/load的用法

[2019-02-27 02:28] yxfGrace commented on #15932
用的就是官网上的这个demo https://github.com/PaddlePaddle/Paddle/blob/v1.3.0/python/paddle/fluid/tests/book/notest_understand_sentiment.py
只是改成了多机运行的模式
save:
[code]
load:
[code]

[2019-02-27 02:30] seiriosPlus commented on #15932
贴一下多机运行模式的写法， 1.3是有一点变化，我得确认一下你是怎么写的

[2019-02-27 02:40] HUSTLX opened #15947 "paddle的训练速度是pytorch的1/6，而且显存占用比pytorch大很多。batch只能给小"
有对比过paddle和pytorch的训练速度吗，我这边在K40上paddle的速度是pytorch的1/6，pytorch一天训练两个epoch，paddle一天半训练1个epoch，而且之前pytorch batch给到256的，但是paddle给这么高爆显存，只能降低batch

[2019-02-27 02:46] yxfGrace commented on #15932
#!/bin/env python
# -*- encoding:utf-8 -*-
"""
understand sentiment demo
Authors: yangjintao
refer to:
https://github.com/PaddlePaddle/Paddle/blob/v1.3.0/python/paddle/fluid/tests/book/notest_understand_sentiment.py
"""

from __future__ import print_function

from paddle.fluid.layers.device import get_places
import unittest
import paddle.fluid as fluid
import paddle
import contextlib
import math
i

[2019-02-27 02:53] seiriosPlus commented on #15932
调用```fluid.io.save_inference_model``` 的时候把 训练的```main_program```传进去看看呢？

[2019-02-27 03:26] yxfGrace commented on #15932
还是一样的报错呢

[2019-02-27 03:28] seiriosPlus commented on #15932
能把main_program的proto贴一下么， 把 load报错也贴一下

[2019-02-27 04:02] #15927 closed, assigned to qingqing01

[2019-02-27 04:16] yxfGrace commented on #15932
[code]
报错：
![image](https://user-images.githubusercontent.com/29363426/53465574-70dd6980-3a89-11e9-97f2-8d642aba49a8.png)

[2019-02-27 04:47] seiriosPlus commented on #15932
proto这样打印:
[code]

[2019-02-27 04:58] thomas010 opened #15950 "自定义reader不可调用"
reader是一个生成器，每次生成一个batch数据，yield出来给pyreader，但是报错生成器不可调用，错误信息如下：

Traceback (most recent call last):
  File "xxx/python27-gcc482/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "xxx/python27-gcc482/lib/python2.7/threading.py", line 763, in run
    self.__target(*self.__args, **self.__kwargs)
  File "xxx/python27-gcc482/lib/python2.7/site-packages/paddle/fluid/layer

[2019-02-27 05:15] yxfGrace commented on #15932
[code]

[2019-02-27 06:15] SunGaofeng commented on #15950
请检查下make_reader函数的返回值

[2019-02-27 06:47] xiuechen opened #15954 "paddlepaddle是否支持增量更新一个模型"
在一些场景中，比如类似推荐系统当中，我们往往需要用到最新的一些用户行为数据，这种时候就需要支持对模型进行增量训练和更新，那么这种情况能否支持。另外部署的时候，如何能支持这种流式更新的模型能快速部署到线上，谢谢

[2019-02-27 07:19] seiriosPlus commented on #15954
1. paddlepaddle支持增量更新<具体可以看文档>
2. paddlepaddle能够在增量更新的过程中产生新模型， 更新的模型能快速部署到线上我理解需要您所在的工程团队打通这条 模型 -> 部署上线的流程。
3. PaddlePaddle目前也在开发这种流式的全流程的框架，暂时还未公开。

[2019-02-27 07:36] didoyf opened #15956 "模型无法成功保存"
可以正常训练和预测，但用save_persistables保存模型时，可以成功运行，无任何报错，但相应路径下并没有模型。

[2019-02-27 07:39] didoyf commented on #15956
![Uploading 2.jpg…]()

[2019-02-27 07:40] didoyf commented on #15956
![1](https://user-images.githubusercontent.com/48047174/53473660-eeaf6e00-3aa5-11e9-8076-4a356e2fbb98.jpg)

[2019-02-27 07:41] didoyf commented on #15956
![2](https://user-images.githubusercontent.com/48047174/53473702-0a1a7900-3aa6-11e9-8dc7-fca78455540b.jpg)

[2019-02-27 08:16] didoyf commented on #15956
解决了
1。指定要保存的program
2。place = fluid.CUDAPlace(0)

[2019-02-27 08:41] #15956 closed, assigned to seiriosPlus

[2019-02-27 09:07] LittleBenXi commented on #3022
安装成功了paddle
`Successfully installed paddlepaddle-gpu-1.3.0.post97`
遇到这个问题，请问如何解决
[code]

[2019-02-27 10:37] imistyrain commented on #15944
用[Dependency Walker](http://www.dependencywalker.com)查看下到底是哪个dll缺了吧

[2019-02-27 12:31] yeyupiaoling commented on #15944
@imistyrain 我应该要查哪个dll呢？
![image](https://user-images.githubusercontent.com/26297768/53490446-ab1d2a00-3ace-11e9-936d-f892507a205b.png)

[2019-02-27 12:40] jnuthong commented on #15561
咋解决的，请分享一下方案？

[2019-02-27 18:26] baojun-nervana commented on #15875
@luotao1 will work this. Just see this now

[2019-02-28 02:16] lizhiqings opened #15967 "paddle v2 训练报错：Check failed: binIdx <= kBinNum_ bin index [4294958922] out of range, predict value[-0.000499178]"
F0228 10:11:26.789562 2317116224 Evaluator.cpp:460] Check failed: binIdx <= kBinNum_ bin index [4294958922] out of range, predict value[-0.000499178]
*** Check failure stack trace: ***
    @        0x116bf6b1f  google::LogMessageFatal::~LogMessageFatal()
    @        0x116bf3509  google::LogMessageFatal::~LogMessageFatal()
    @        0x116c1790b  paddle::AucEvaluator::evalImp()
    @        0x11

[2019-02-28 02:29] #15481 closed, assigned to kuke

[2019-02-28 02:37] zhoukunsheng opened #15969 "[Operator] Add rank, squared_difference op"
test=develop
this commit intends to add rank (ndims) , squared_difference op, only python interface is revised.

[2019-02-28 02:46] wanghaoshuang commented on #15385
增强dynamic rnn : https://github.com/PaddlePaddle/Paddle/pull/15972
增强sequence  erase: https://github.com/PaddlePaddle/Paddle/pull/15982

[2019-02-28 02:47] guoshengCS commented on #15967
报错对应这行代码 https://github.com/PaddlePaddle/Paddle/blob/release/1.2/paddle/legacy/gserver/evaluators/Evaluator.cpp#L460 ，是在AUC计算时，预测结果为负数`predict value[-0.000499178]`导致非负数的索引变量`unint32_t binIdx`值错误，超过了bin的大小，可以确认下预测结果是否为非负的概率值

[2019-02-28 02:53] lizhiqings commented on #15967
是说 这个输出值 必须为正数么，我用的是 square_error_cost 损失函数 ，应该对 输出值没有 限制吧

发件人: Guo Sheng <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年2月28日 星期四 上午10:48
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] paddle v2 训练报错：Check failed: binIdx <= kBinNum_ bin index [42949

[2019-02-28 02:54] guoshengCS commented on #15967
是要求输出值 必须为正数 的，一般只在分类时使用，要求非负的预测概率值

[2019-02-28 02:56] lizhiqings commented on #15967
哦 ，了解

发件人: Guo Sheng <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年2月28日 星期四 上午10:55
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] paddle v2 训练报错：Check failed: binIdx <= kBinNum_ bin index [4294958922] out of range, predict value[-0.000499178] (#15

[2019-02-28 03:06] #14997 closed, assigned to typhoonzero

[2019-02-28 03:25] #15583 closed, assigned to heavengate, JiabinYang, chengduoZH

[2019-02-28 03:26] #15369 closed, assigned to heavengate

[2019-02-28 03:26] #15359 closed, assigned to heavengate

[2019-02-28 03:26] #15362 closed, assigned to heavengate

[2019-02-28 03:51] Superjomn commented on #14995
这个问题解决了吗？

[2019-02-28 03:51] #15016 closed, assigned to Superjomn

[2019-02-28 03:52] #15581 closed, assigned to Superjomn

[2019-02-28 04:37] frankwhzhang opened #15974 "paddle目前有带权采样的功能嘛"
类似于tf的 tf.nn.fixed_unigram_candidate_sampler

[2019-02-28 05:06] aprilvkuo opened #15975 "请问Fluid 1.2 如何设置全局随机数种子， 实现模型稳定复现"
   1）PaddlePaddle版本：Fluid 1.2
    2）CPU：多线程

我目前是设置是这样，每个ephco跑出来结果是有diff的。

fluid.default_main_program().random_seed = 7
fluid.default_startup_program().random_seed = 7

￼

[2019-02-28 05:44] guoshengCS commented on #15974
可以看下这个 [sampling_id](http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#paddle.fluid.layers.sampling_id)是否满足需求 ，另外目前支持python写OP可以试下，如果是需要大规模分类的采样加速的话目前有[nce OP](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L5140) 和 [sampled_softmax_with_cross_entropy OP](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py

[2019-02-28 05:45] guoshengCS commented on #15975
需要在定义网络结构前设置下网络所用program的random_seed，可以参考这里 https://github.com/PaddlePaddle/models/blob/release/1.6/PaddleNLP/PaddleMT/transformer/train.py#L167  ，如果有用dropout的话需要再设置下dropout的seed

注意 program.random_seed 的设置要在网络定义开始前

[2019-02-28 06:37] yxfGrace opened #15978 "训练时出core"
paddlepaddle 1.3.0
作业模式 NCCL2
GPU作业
报错信息
![image](https://user-images.githubusercontent.com/29363426/53545716-5678be00-3b65-11e9-84e0-619b9b3420ec.png)

[2019-02-28 06:38] yuanyc06 opened #15979 "Multitask分类任务训练loss为nan"
目前我这边遇到了一个loss变为nan的问题，具体背景是这样：我打算将一个现有简单分类网络变为multitask，即将最后的单个fc层变为2个分支（之前的主干不变，只是最后接出两个并列的fc层），每个fc对应一个独立的分类任务。目前发现训练不久后loss变为极大，之后变为nan。试过了减小lr和gradient clipping，都不管用。试了用caffe代码实现同样的网络，训练时loss正常；也试了单独各自训练两个task（每次只有对应的1个fc），loss也都正常。感觉是我paddle实现的代码哪里有问题，train.py里几个主要函数net_config, build_program, train相关代码如下，对应args.multitask=True的分支：

[code]

[2019-02-28 07:21] #15978 closed, assigned to nobody

[2019-02-28 07:55] #15975 closed, assigned to nobody

[2019-02-28 08:06] frankwhzhang opened #15984 "paddle支持 tf.ones_like 这样的功能吗"
根据一个tensor的形状，生成形状大小相同的值为1或者0的tensor

[2019-02-28 08:24] guoshengCS commented on #15984
这个目前还没有，如果形状固定的话可以使用[fill_const](http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#paddle.fluid.layers.fill_constant)，如果只有batch_size一维变化的话可以使用[fill_const_batch_size_like](http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#paddle.fluid.layers.fill_constant_batch_size_like)，或者可以作为input给feed进来

[2019-02-28 08:39] wopeizl commented on #15944
建议使用noavx的版本，noavx将会在官网上最近一周内发布。
用depends可以查看paddle\fluid\core.pyd

[2019-02-28 08:41] yeyupiaoling commented on #15944
@wopeizl 好的，同时也非常期待noavx的版本的发布。

[2019-02-28 08:50] frankwhzhang commented on #15984
好的 使用了
fill_const_batch_size_like 解决了这个问题，但是似乎需要补充一下这种op

[2019-02-28 08:50] #15984 closed, assigned to nobody

[2019-02-28 08:58] #15483 closed, assigned to kuke

[2019-02-28 08:58] #15495 closed, assigned to kuke, wanghaoshuang

[2019-02-28 08:59] kuke commented on #15579
已在hi上解答

[2019-02-28 08:59] #15579 closed, assigned to kuke

[2019-02-28 09:27] #15430 closed, assigned to Yancey0623

[2019-02-28 09:53] #15954 closed, assigned to seiriosPlus

[2019-02-28 09:54] #15950 closed, assigned to nobody

[2019-02-28 09:54] gongweibao commented on #15947
Hi上已经联系。

[2019-02-28 09:54] #15947 closed, assigned to nobody

[2019-02-28 10:08] #15482 closed, assigned to gongweibao

[2019-02-28 10:28] chuanqi129 commented on #15009
The issue is still exist on `1616c32acfeec71ba3900653f394f5b850d45649` version.
If let `-DWITH_MKLDNN=OFF`, it can be built successful with `Debug` version.
Please double check.

[2019-02-28 10:34] guoshengCS commented on #15979
没有发现明显的问题，gradient_clipping的使用存在一些问题，可以参考文档这里改下gradient clipping试下
http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/clip_cn.html#permalink-1-errorclipbyvalue
[code]

另外可以将两个loss中一个的weight设置为0看下，试下和单loss是否一致

[2019-02-28 10:44] luotao1 commented on #15009
@jianhang-liu @kbinias Could you help fix this compile error?

[2019-03-01 00:24] yeyupiaoling opened #15988 "如何建立一个人脸识别模型？"
我想通过使用深度学习模型建立一个人脸识别模型，但是我不是很了解人脸识别的流程，我大概猜想是这样子的：

首先训练目标检测模型，如SSD，来检测人脸的位置，用于之后的人脸提取。

然后再训练一个人脸分类的模型，如VGG，把每个人的人脸作为一个类别，然后使用VGG来训练一个分类模型

最后在结合这里两个模型组成一个人脸识别系统，通过使用人脸检测模型把一张人脸图片检测并裁剪出来，然后使用已经裁剪的人使用第二步训练得到的模型进行预测，但是分类模型输出的不是最后一层softmax的输出，而且其上一层的特征输出，再使用输出图像特征数据和之前同样方法输出的特征数据进行对角余弦值比较，判断它们的相似度。

我这样设想不知道对不对，就算正确，还是存在一个很大的问题，这个人脸识别模型需要分两个模型来完成。这是不是在实际应用下是行不通，比如一些深度学习框架一般只能加载一个模型，不能过同时加载两个模型，所以说这应

[2019-03-01 02:42] dubhex opened #15989 "单机多卡训练报错: Cannot find fetched variable"
程序在单机单卡下能正常训练，但是在使用
`train_exe = fluid.ParallelExecutor(use_cuda = True,
            loss_name = avg_cost.name, main_program = fluid.default_main_program())`

进行多卡训练时报下述错误

    main(args)
  File "run_train.py", line 140, in main
    feed = feeder.feed(data))
  File "/opt/python/cp27-cp27mu/lib/python2.7/site-packages/paddle/fluid/executor.py", line 472, in run
    self.executor.run(program.desc, s

[2019-03-01 03:21] guoshengCS commented on #15967
先行close，如有需要还请reopen

[2019-03-01 03:21] #15967 closed, assigned to guoshengCS

[2019-03-01 03:22] wanghaoshuang commented on #15989
麻烦把exe.run()相关的代码也贴出来？

[2019-03-01 03:25] wanghaoshuang commented on #15989
构造ParallelExecutor的时候，会将主卡上的数据分发到其它卡上，可能某些variable没有被正确分发，需要更多代码确认下具体原因。

[2019-03-01 03:31] appleappleorange commented on #15224
因为长时间未回复，此issue现在暂时关闭，如有需要可以重新open，或者针对此ISSUE欢迎联系我们的RD hiID:qiaolongfei

[2019-03-01 03:31] #15224 closed, assigned to jacquesqiao

[2019-03-01 03:57] yuanyc06 commented on #15979
多谢反馈。参考了下googlenet多task训练的实现方式，用以下方式实现se-resnext里多task输出的layer，似乎loss为nan的问题就解决了（虽然没太明白具体原理是啥）。注释掉的部分是原来的实现方式

[code]

另外还有个坑，由于缺少ignore_index参数，fluid.layers.accuracy在计算准确率时会把ignore的样本也算入分母里，导致显示的准确率比实际低。解决办法是在fetch_list中把softmax和label结果fetch出来，自己判断是否ignore并重新计算accuracy。望paddle具体负责同学能在更新中为accuracy层添加ignore_index参数，这样会比较方便

[2019-03-01 04:07] appleappleorange commented on #15263
因为长时间未回复，此issue现在暂时关闭，如有需要可以重新open

[2019-03-01 04:07] #15263 closed, assigned to jacquesqiao

[2019-03-01 04:07] guoshengCS commented on #15979
好的，accuracy 层添加ignore_index 这个需求我们看下。这个issue先行close，如有需要还请reopen

[2019-03-01 04:07] #15979 closed, assigned to nobody

[2019-03-01 05:30] zlinker opened #15992 "lod level was set to 0 after "lod_reset" layer"
here is the demo with paddle version **1.3.0**:
[code]

it will throw error message as follow when the demo run:
[code]

comment the sequence_pad layer and print the output from **data** and **data_reset** layers as follow:
[code]

it seems that only the **lod_level** of **lod_reset** layer output was set to 0 even **target_lod** was known(as [ 0,1,3,6,10, ]) in the network compiling stage, which

[2019-03-01 06:42] dubhex opened #15994 "smooth_l1"

[2019-03-01 07:00] #15994 closed, assigned to nobody

[2019-03-01 07:50] wanghaoshuang opened #15999 "MPI集群训练上传到HDFS的模型不完整"
用户反馈：
paddle receiver自带的上传模型到HDFS的功能不稳定，有些pass的模型会上传不完整。

[2019-03-01 08:41] hutuxian commented on #15735
提供一个可复现的自造的网络:
[code]
执行python reshow.py gpu和python reshow.py即可分别得到gpu和cpu运行的结果

[2019-03-01 09:28] DDDivano opened #16001 "官网fluid编程指南代码实例的疑问"
![image](https://user-images.githubusercontent.com/10734244/53628548-48e73500-3c46-11e9-92a6-9144d119c0a6.png)
这里我将`y_predict = fluid.layers.fc(input=x,size=1,act=None)`中的size改成2，4 。。。。也能正常跑结果
size改成2
![image](https://user-images.githubusercontent.com/10734244/53628700-b2ffda00-3c46-11e9-9d80-7f8f1d0ea028.png)

si'ze改成4
![image](https://user-images.githubusercontent.com/10734244/53628676-a67b8180-

[2019-03-01 11:56] gongweibao opened #16006 "请问集群训练时如下的问题是怎么回事呢(显存超出)？在本地没遇到过这个问题"

[2019-03-01 11:56] gongweibao commented on #16006
显存可能超了，请减少batch_size

[2019-03-01 11:56] #16006 closed, assigned to nobody

[2019-03-01 11:56] gongweibao opened #16007 "ids_array = fluid.layers.create_array('int64') ids_array是这么创建的，如何把ids_array转换成variable类型呢"

[2019-03-01 11:56] gongweibao commented on #16007
没有这种转换，但是可以从中读取variable
    可以把 ids_array 加到fetch_list里返回的哈，获取到底会是一个np.ndarray的list，可以参考这里 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/executor.py#L88

[2019-03-01 11:56] #16007 closed, assigned to nobody

[2019-03-01 11:57] gongweibao opened #16008 "paddle有没有查找一个向量中为某个值的位置的op？"

[2019-03-01 11:57] gongweibao commented on #16008
gather

[2019-03-01 11:57] #16008 closed, assigned to nobody

[2019-03-01 11:58] gongweibao opened #16009 "另外想问下，nn.py里的softmax_with_cross_entropy层，支持ignore_index（表示被忽略的label），但是代码里只是对其赋值，想知道具体在计算中ignore_index发挥作用的代码在哪个文件里体现的呢？"

[2019-03-01 11:58] gongweibao commented on #16009
给出具体的代码位置：https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/softmax_with_cross_entropy_op.h#L47

[2019-03-01 11:58] #16009 closed, assigned to nobody

[2019-03-01 11:59] gongweibao opened #16010 "请问用profiler的话，能打印while op里面的每个op的运行时间吗？"

[2019-03-01 11:59] gongweibao commented on #16010
每个op都可以打印，可以统计op的总得耗时同时输出一个timeline的图。

[2019-03-01 11:59] #16010 closed, assigned to nobody

[2019-03-01 11:59] gongweibao opened #16011 "paddle 里有where的操作吗，可以获得tensor满足条件的index值，比如要获得二位tensor里面大于0值得坐标"

[2019-03-01 11:59] gongweibao commented on #16011
暂时没有

[2019-03-01 12:00] gongweibao opened #16012 "请问一下在pserver模式下，是不是用不了learning_rate_scheduler（比如exponential_decay）？麻烦值班同学解答下"

[2019-03-01 12:00] gongweibao commented on #16012
可以使用

[2019-03-01 12:00] #16012 closed, assigned to nobody

[2019-03-01 16:48] lidanqing-vv opened #16019 "Missing bias for conv2d_transpose_op.cc"
According to Paddle 1.3 [documentation]( http://www.paddlepaddle.org/documentation/docs/en/1.3/api/layers.html), conv2d_transpose should include bias. However Bias is not in conv2d_transpose_op.cc. Is it designed this way? But there is "Bias" in conv_op.

We wonder if we should delete the bias part in conv2d_transpose_mkldnn_op.cc as it influences the UT line coverage.

Thanks a lot !

[2019-03-02 03:40] luotao1 commented on #16019
@chengduoZH @qingqing01 How do you think about `delete the bias part in conv2d_transpose_mkldnn_op.cc`?

[2019-03-02 04:18] imistyrain commented on #15944
你python安装的路径\Lib\site-packages\paddle\fluid\core.pyd，看了下就依赖个openblas.dll，而且它自己还带了

[2019-03-02 09:37] XipengY commented on #15989
@wanghaoshuang  我是这么写的exe.run  out_loss, feas, l = exe_train.run(fetch_list=[loss.name, out.name, label.name], feed=feeder.feed(data))
出现同样的错误，去掉label.name就好了。这个是什么问题呢？前面也在layer里面加了label这一层。

[2019-03-03 11:07] XipengY opened #16029 "ValueError: could not broadcast input array from shape * into *"
- 版本、环境信息：
    1）PaddlePaddle版本：1.3
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：CUDA8.0 cuDNN7.5
    4）系统环境：centos ，Python2.7
- 训练信息
    1）单机多卡
    2）显存信息 k40m
    3）Operator信息
错误信息如下：
Exception in thread Thread-1:
Traceback (most recent call last):
  File "*/apps/anaconda-install/anaconda2/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "*/a

[2019-03-03 12:22] yeyupiaoling commented on #15944
@imistyrain 我试过`win_cpu_noavx_openblas`和`win_cpu_noavx_mkl`，都不行，报同样的错误。我按照你说的

但我没看错哪里缺少了dll，能指点一二吗？
![image](https://user-images.githubusercontent.com/26297768/53695045-c8fdce00-3df1-11e9-83b6-1f927817912c.png)

[2019-03-03 12:39] imistyrain commented on #15944
能把python35.dll那折叠下吗？后面应该还有几个dll，红色的就是缺的

[2019-03-03 12:55] yeyupiaoling commented on #15944
@imistyrain 没有红的，感觉没有缺少呢。

![image](https://user-images.githubusercontent.com/26297768/53695427-9e624400-3df6-11e9-8154-1509b1c8a19a.png)

[2019-03-03 12:58] imistyrain commented on #15944
就是缺mkldnn.dll和libiomp5md.dll，paddle自带了其实，在site-packages\paddle\libs底下，把他们考到系统路径比如C:/windows/system32下

[2019-03-03 13:05] yeyupiaoling commented on #15944
@imistyrain 报告，没有呢。
![image](https://user-images.githubusercontent.com/26297768/53695558-167d3980-3df8-11e9-832d-1f802d2e4d5f.png)

[2019-03-03 13:07] imistyrain commented on #15944
不是python下的libs，是site-packages\paddle\libs下

[2019-03-03 13:18] yeyupiaoling commented on #15944
@imistyrain 我把这些都复制过去都不行呢？是不是要重装系统了。

![image](https://user-images.githubusercontent.com/26297768/53695685-a4a5ef80-3df9-11e9-9539-91cb50050394.png)

[2019-03-03 13:36] imistyrain commented on #15944
是不是你系统是32位的呀？

[2019-03-03 13:46] OleNet opened #16031 "Doc-reader部分写的几个typo还有一些建议"
以下的建议都是关于这个[页面](http://paddlepaddle.org/documentation/docs/zh/1.3/user_guides/howto/prepare_data/reader_cn.html)的：

1. ...为什么需要一个batch raeder ... -> ...为什么需要一个batch **reader** ...
2. 文档里面有一段代码：
[code]
这里的paddle.dataset.mnist.train() 出现的很突然，大概paddle.dataset.mnist.train()是一个reader的意思? 是否可以在出现这个函数的时候，解释一下这个函数想要代表的意义？

3. doc 可不可以考虑升级成ipynb组织的doc， 可以让人下载下来，很快的过一遍代码，更快的理解？

4. 另外还有一个不太确定的地方：《**使用**》这一节

[2019-03-03 13:48] yeyupiaoling commented on #15944
@imistyrain 不是，64为的，我之前安装过1.2版本，跑起来是正常的

[2019-03-04 02:07] #15875 closed, assigned to nobody

[2019-03-04 02:44] wanghaoshuang commented on #15988
非常抱歉，无力详细的回答 ‘如何建立一个人脸识别模型？’， 但是可以建议您参考下paddle/models下的[face detection](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/face_detection)。

paddle是可以加载两个模型的，在OCR领域，也有把检测和识别放在一起训练的端到端训练。

[2019-03-04 02:46] wanghaoshuang commented on #15999
可以参考这个例子实现自定义上传，可以保证其稳定性：https://github.com/PaddlePaddle/Paddle/issues/9806#issuecomment-380003112

[2019-03-04 02:46] #15999 closed, assigned to nobody

[2019-03-04 02:47] yeyupiaoling commented on #15988
@wanghaoshuang 非常感谢您的回答，关于人脸检测，和人脸对比我都可以实现。
但是在真实场景中，是应该通过目标检测获取人脸，然后再对人脸进行对比，完成人脸识别。
这是两个过程，我需要一个过程完成它。

[2019-03-04 02:48] wanghaoshuang commented on #15989
可以尝试设置label.persistable=True

[2019-03-04 02:55] yeyupiaoling commented on #15988
@wanghaoshuang 在训练人脸对比模型的时候，已经对图片进行裁剪和人脸进行居中了，所以得到的预测模型，所需的预测图片也应该是经过裁剪，人脸居中的。
但是真实场景中一张图片不可能只有一个人脸，而且是居中的，所以这个时候就要对人脸进行检测，然后裁剪，对人脸进行居中该，最后再使用人脸对比模型完成人脸识别。
这个是两个过程。

[2019-03-04 02:56] #15969 closed, assigned to nobody

[2019-03-04 02:59] yeyupiaoling commented on #15988
@wanghaoshuang

官方提供的OCR项目中，已经去掉了检测部分了。https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/ocr_recognition

[2019-03-04 03:01] wanghaoshuang commented on #16001
square_error_cost由elementwise_sub op和square op组成，而elementwise_sub op会自动对input做broadcast操作，所以您的第一种情况没有报错。

[2019-03-04 03:03] yeyupiaoling commented on #15988
@wanghaoshuang

这个有例子吗？我感觉是直接输出结果，而不是分步使用模型识别。
比如使同时加载两个模型，在预测图片的时候直接输出两个模型的结果，而不是有第一个模型预测人脸位置，然后裁剪图片，然后再使用第二个模型预测。

[2019-03-04 03:04] Superjomn commented on #16029
[code]

这是 input 的shape 和 输入数据不对应

是inputshape设错了？ 或者数据的numpy的shape准备错了吧

[2019-03-04 03:05] DDDivano commented on #16001
明白了，多谢豪爽

[2019-03-04 03:06] luotao1 commented on #16019
@lidanqing-intel @jczaja
Discussed with @qingqing01, though bias is not in `conv_transpose_op.cc`, it is in API
http://paddlepaddle.org/documentation/docs/en/1.3/api/layers.html#conv2d-transpose
, which is implemented by `elementwise_add` op.

But whether to remain or delete `bias` of  `conv2d_transpose_op.cc` depends on your unifined implementation, since bias is not in `conv_op.cc`, but used in

[2019-03-04 03:37] wanghaoshuang opened #16032 "resize_bilinear op的output不符合预期"
fluid.layers.resize_bilinear的参数scale是怎么作用的， 为什么输入的shape为[1,64,40,60,]， scale为8， 输出的shape为[1,64,320,320,] ？

[2019-03-04 03:38] wanghaoshuang commented on #16032
scale指定是在构图的时候就计算好的，如果需要在运行时动态scale成指定的大小，需要用actual_shape参数指定

[2019-03-04 03:38] #16032 closed, assigned to nobody

[2019-03-04 03:41] wanghaoshuang opened #16033 "显存超限调试办法"
[code]
如果减小batch size不能解决问题，请确认下需要初始化的variable的shape, 排除网络配置错误。

[2019-03-04 03:41] #16033 closed, assigned to nobody

[2019-03-04 03:42] shanyi15 commented on #16031
收到，感谢您的反馈，相关问题正在跟进

[2019-03-04 04:18] shanyi15 commented on #16031
您好，针对您的问题，解答如下：
1. 问题1是笔误

2. mnist.train如问题说的，是返回一个reader。相关api说明，请参考：
http://paddlepaddle.org/documentation/docs/en/1.3/api/data/dataset.html#mnist
对应中文翻译即将新增

3. 技术上可行，已加入需求list

4. 这里的paddle都应该改成fluid

===
由于本文档近期未在维护，导致以上问题，感谢您反馈，我们将高优修复
文档问题欢迎您反馈至：https://github.com/PaddlePaddle/FluidDoc

[2019-03-04 05:43] OleNet commented on #16031
恩恩 辛苦辛苦

[2019-03-04 05:43] #16031 closed, assigned to junjun315, shanyi15

[2019-03-04 06:33] yxnal opened #16037 "paddle-gpu的训练过程，是所有迭代过程间的计算并行，还是一次迭代内部计算的并行？"
请问paddle-gpu的训练过程，是所有迭代过程间的并行，还是一次迭代过程内部的并行？

[2019-03-04 06:51] Samhandsome opened #16038 "关于Paddle.fluid的一个疑惑"
在Paddle.fluid中的fluid.Program()的文档中，没有看的太明白，请问有相关的具体讲解或者实例分享一下嘛？谢谢

[2019-03-04 06:58] Ashleychen commented on #15528
我采用了这个方案来搭建网络，但是用dynamic rnn训练的速度十分慢，我的基线模型是rnn，跑一个batch只需要0.12s，但是用dynamic rnn得花2s。请问这个可以优化一下吗。

[2019-03-04 07:15] XipengY commented on #16029
@Superjomn 已经解决，是线程的问题，多线程读取数据存在问题，具体为什么不能用多线程，正在找问题。

[2019-03-04 07:17] Superjomn commented on #15528
好的，我们排期支持下

[2019-03-04 07:29] XipengY commented on #15989
@wanghaoshuang 您好，这个是在哪里设置呢？我在lable定义后紧接着就设置了，
label = fluid.layers.data(name='label', shape=[1], dtype='int64')
label.persistable=True
还是同样的错误。
paddle.fluid.core.EnforceNotMet: Cannot find fetched variable.

[2019-03-04 07:30] pkuzjq opened #16040 "bert Fine-tuning 过程中loss存在不稳定"
- 标题：bert Fine-tuning 过程中loss存在不稳定
- 版本、环境信息：
    1）PaddlePaddle版本：fluid1.2
    2）CPU：无
    3）GPU：26:00.0 VGA compatible controller [0300]: ASPEED Technology, Inc. ASPEED Graphics Family [1a03:2000] (rev 30) (prog-if 00 [VGA controller])
CUDA：CUDA Version 9.0.176
CUDNN：缺
    4）系统环境：Linux version 3.10.0_3-0-0-7

- 训练信息
    1）单机，单卡
    2）显存信息
use_cuda: True
use_fast_executor: False
use_fp16: False
v

[2019-03-04 07:45] Superjomn commented on #16040
辛苦帮看看哈 @kuke

[2019-03-04 10:41] lidanqing-vv commented on #16019
A PR has been sent #16030. AddAttr("Bias") is added in conv_transorform_op.cc and UT for fuse_bias is done in the test_conv2d_transpose_mkldnn_op.py

[2019-03-04 10:41] #16019 closed, assigned to nobody

[2019-03-04 11:34] tensor-tang commented on #15599
@baojun-nervana
I tried again, it seems fail at gcc-4.8.5, and pass at gcc54 .

[code]

[2019-03-04 14:02] chuanqi129 opened #16047 "How to run ResNet-50 INT8 with CAPI"
## 1. Build Paddle

[code]
## 2. Run test_calibration.py get resnet50 fp32 and int8 model
[code]
Then, you will get resnet50 fp32 pretrained model **~/.cache/paddle/dataset/int8/download/resnet50_fp32/model/** and resnet50 int8 model **$Paddle_home/calibration_out/**

## 3. Prune and save model
[code]
[code]
## 4.Run CAPI test application
[code]
## 5. Performance result on SKX-6148
**ResNet50 resu

[2019-03-04 14:06] luotao1 commented on #16047
Why open this issue? @hshen14 @chuanqi129

[2019-03-04 23:52] hshen14 commented on #16047
Hi @luotao1, we created this page to show the instructions on how to enable CAPI by running offline INT8 model from Python calibration tool. It provides the baseline performance measured by CAPI as the reference for upcoming INT8 v2. Probably, the issue here is not suitable. May I know whether we should move to another place? Thanks.

[2019-03-05 00:31] baojun-nervana commented on #15599
@tensor-tang Thanks for the info. Will follow up on compile on gcc 4.8.5

[2019-03-05 01:31] guru4elephant commented on #15633
请使用executor运行startup_program

[2019-03-05 01:36] #15633 closed, assigned to guru4elephant

[2019-03-05 02:08] luotao1 commented on #16047
@jianhang-liu @sfraczek @kbinias @wojtuss How do you think about it?

[2019-03-05 06:07] yuanyc06 opened #16052 "训练时invalid device function错误"
Traceback (most recent call last):
  File "train.py", line 607, in <module>
    main()
  File "train.py", line 603, in main
    train(args)
  File "train.py", line 295, in train
    exe.run(startup_prog)
  File "/home/slurm/job/tmp/job-19102/python-paddle-0.11.0/lib/python2.7/site-packages/paddle/fluid/executor.py", line 472, in run
    self.executor.run(program.desc, scope, 0, True, True)
Runtime

[2019-03-05 07:48] jeanglewang opened #16053 "模型重存储问题"
有个训练好双塔模型，想infer的时候只有单支。我做的操作是先加载模型，然后只保存一支，得到新模型。但结果和双支有diff。  重存储代码如下
`program, feed_var_names, fetch_targets = fluid.io.load_inference_model(model_path, executor)
feed_var_names = [feed_var_names[0]]
fetch_targets = [fetch_targets[0]]
fluid.io.save_inference_model(new_model_path, feed_var_names, fetch_targets, executor, program)
`

查看case似乎是最后的relu层没起作用，所以我又做了如下操作
`
program, feed_var_names, fet

[2019-03-05 07:55] JiabinYang opened #16054 "move unique generator to C++"
将python的unique generator移到C++来提升name process的效率

[2019-03-05 07:56] seiriosPlus commented on #16053
scale 的layer这么写呢？
[code]

[2019-03-05 07:58] jeanglewang commented on #16053
fluid.layers.scale(x=fetch_targets[0], scale=1.0, bias=0.0, bias_after_scale=True)
这样写的

[2019-03-05 07:59] buffontus opened #16055 "通过slurm提交训练任务报错"
问题：
通过slurm提交训练任务报错，麻烦看下，谢谢！
W0305 03:02:28.340292  3825 init.cc:127] AVX is available, Please re-compile on local machine
Traceback (most recent call last):
  File "sentiment_classify.py", line 298, in <module>
    main(args)
  File "sentiment_classify.py", line 267, in main
    args.num_passes)
  File "sentiment_classify.py", line 142, in train_net
    exe.run(fluid.default_startup_program())

[2019-03-05 08:08] gongweibao commented on #16055
编译的时候需要用WITH_GPU=ON
或者使用带了GPU功能的whl包
`pip install paddlepaddle-gpu`

[2019-03-05 08:08] #16055 closed, assigned to gongweibao

[2019-03-05 08:29] jiangjiajun opened #16059 "关于获取tensor shape的bug问题？"
[code]
如上代码，在CPU版本的Paddle 1.1.0中，最终通过print可以看到net_3的dim是(169, 1)，而在GPU版本的Paddle 1.2.1中，print的net_3的dim是(13, 1)，因为shape的差异，导致后面的网络搭建出core

[2019-03-05 08:33] seiriosPlus commented on #16053
把这行加到你网络里面

[2019-03-05 08:35] jiangjiajun commented on #16059
刚继续测试了下，不需要上面那么复杂的代码，下面这段代码即可复现问题
[code]
在CPU版本的Paddle中，result打印出dim为(4, 15)， 而在GPU版本的Paddle中，打印出dim则为(2, 15)
不知道是否在expand中会有什么问题，导致第一维的shape并没有正常如expand相应参数输出

[2019-03-05 08:39] yeyupiaoling opened #16060 "官方的SSD项目可以做人脸关键点检测吗？"
# 环境
 - PaddlePaddle 1.3
 - Ubuntu / Windows
 - Python 3.5

# 问题

我想使用官方的目标检测例子：https://github.com/PaddlePaddle/models/issues ， 修改成人脸检测，单纯是直接识别人脸的box我知道是可以的，但是我想加上人脸的关键点识别，如：眼睛，鼻子，嘴巴
这样如果直接把label数据和box的数据一起丢进去可以的吗？

[2019-03-05 08:41] kjfren1985 commented on #15595
再问下，ctr示例中其实是13个连续特征，27个离散特征，相当于还是定长的；
我的特征如下：
Feas类似：1 32 64 512 10232; 共10万维
可能长度不同，并且比较稀疏，弄成10万个值的矩阵显然不太合理，怎么读入比较合理？

[2019-03-05 08:53] gongweibao opened #16061 "Optimizing Network Performance for Distributed DNN Training on GPU Clusters"
- [ ] AllReduce selectedrows
   - [ ] without csc
   - [ ] with csc
- [ ] Optimizing Network Performance for Distributed DNN Training on GPU Clusters
    - [x] Get the system arch and performance.
    - [x] Analysis the operator time and communication time.
    - [ ] Mixed precision.
       - [ ] On Bert.
       - [ ] On Resnet 50 on imagenet dataset.
    - [x] Dynamic(static) LA(lazy allreduce) o

[2019-03-05 09:44] Superjomn commented on #16037
看不太懂问题。

目前是一个 batch, all reduce 的方式更新的

[2019-03-05 09:53] kuke commented on #16040
是PaddlePaddle版本的问题，安装 1.3 之后解决

[2019-03-05 09:53] #16040 closed, assigned to kuke

[2019-03-05 10:57] superwj1990 opened #16065 "部分为未支持功能：tensor切片，反三角函数处理"
1、不支持反三角函数计算，无法实现当前SOTA的angle-based loss
2、gather只能按照最外维进行切分组合，不能实现类似pytorch的按具体坐标切分组合。

[2019-03-05 11:16] Superjomn commented on #15528
可以提供下更多的描述信息吗，我们定位下性能哪儿出了问题

[2019-03-05 11:20] Ashleychen commented on #15528
[code]
主要是这一段的耗时多

[2019-03-05 13:14] jiangjiajun commented on #16059
查到1.3版本无此问题

[2019-03-05 13:14] #16059 closed, assigned to nobody

[2019-03-06 00:45] hshen14 commented on #15618
@jerrywgz It should be. Parallel for may not work well if there is a couple of if conditions inside. Is it possible for you to revert such changes to make performance on-par as before or shall we submit the PR to revert the change? Thanks.

[2019-03-06 01:53] luotao1 commented on #15618
@hshen14 Which PR do you want to revert? Do you mean #15398? I think it's impossible to revert #15398 since it adds a new feature. You could refine the performance of box_coder op.

[2019-03-06 02:00] yxnal commented on #16037
感谢解答！
paddle gpu版本，训练阶段在gpu并行时，是batch间并行（多个batch同时计算loss、梯度、更新等），还是只是一个batch内部运算时并行（loss、梯度等运算本身并行）？

[2019-03-06 02:39] wanghaoshuang commented on #15989
[code]

可以暂时通过这种方式获取要fetch的variable @XipengY

[2019-03-06 02:46] yeyupiaoling opened #16071 "PyramidBox预测需要很大的显存吗？"
# 环境
 - PaddlePaddle 1.3 GPU
 - Ubuntu 16.04
 - 显卡 2070  8G
 - 模型 PyramidBox

# 问题
我在执行PyramidBox的模型预测时，显存不足。我的系统基本上没有使用到卡，PyramidBox预测需要很大的显存吗？

[code]

[2019-03-06 04:28] kolinwei opened #16075 "分布式图像分类时ps报如下错误"
get_pserver_program() is deprecated, call get_pserver_programs() to get pserver main and startup in a single call.
I0306 11:30:49.197628  1910 grpc_server.cc:430] Server listening on 10.255.106.25:30016 selected port: 30016
F0306 11:32:40.549396  2578 listen_and_serv_op.cc:74] run sub program:96 error Enforce failed. Expected in_dim == x_dim, but received in_dim:256, 1024, 1, 1 != x_dim:1024, 256,

[2019-03-06 08:33] yeyupiaoling opened #16079 "py_reader能在训练减少多少时间？"
# 环境
 - PaddlePaddle 1.3 GPU
 - Ubuntu 16.04 64位
 - Python 3.5

 # 问题
[paddle.fluid.layers.py_reader](http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#py-reader)数据读取接口能加快训练整体时间的多少，因为使用了这个代码结构变得复杂很多，我想问使用`py_reader`是否值得？

[2019-03-06 08:40] yeyupiaoling commented on #16038
@Samhandsome 这里倒是有一个应用案例：https://github.com/PaddlePaddle/models/blob/8c3d3801cd6490f72c59759b296a843635aa34dd/fluid/PaddleCV/object_detection/train.py#L146-L148

[2019-03-06 08:43] Samhandsome commented on #16038
@yeyupiaoling 谢谢

[2019-03-06 08:44] yeyupiaoling commented on #15896
@BigBigWolf-AI 我的理解是9是支持9+，因为我觉得它归根到底还是9版本

[2019-03-06 08:46] yeyupiaoling commented on #15895
@BigBigWolf-AI 这样可以写一个脚本，一条命令是不可能的吧，毕竟CUDA和CUDNN又不是PaddlePaddle的。

[2019-03-06 08:52] yeyupiaoling commented on #15885
@AIFollowers 文件名有没有对呢？

[2019-03-06 08:53] yeyupiaoling commented on #15884
@jack603047588 是不是你的电脑不支持AVX指令集？

[2019-03-06 08:58] yeyupiaoling commented on #15845
我不知道为什么有人那么喜欢用conda，我基本上不使用conda，需要什么环境都可以通过命令安装。这样自己清晰。

[2019-03-06 09:16] LittleFatHero commented on #15845
@yeyupiaoling 一时conda一时爽，一直conda一直爽，真的，你试试就知道了。用miniconda就行（50MB才）。anaconda自带很多用不到的库

[2019-03-06 09:21] yizhiheying opened #16081 "make show assert error"
[100%] Built target warpctc
Install the project...
-- Install configuration: "Release"
-- Installing: /home/eason/main/source/ai/alg/Paddle/Paddle/build/third_party/install/warpctc/lib/libwarpctc.so
-- Installing: /home/eason/main/source/ai/alg/Paddle/Paddle/build/third_party/install/warpctc/include/ctc.h
[  5%] Completed 'extern_warpctc'
[  5%] Built target extern_warpctc
Scanning dependencies of

[2019-03-06 09:24] xiangyubo opened #16082 "加载模型时候报错 paddle.fluid.core.EnforceNotMet: Cannot read more from file"
   1）PaddlePaddle版本：paddle.fluid.1.2.0
    4）系统环境：Linux，Python2.7
训练时候使用 fluid.io.save_inference_model保存模型，预测的时候使用fluid.io.load_inference_model加载模型文件。保存的是我自己训练的 vgg 模型。保存没问题，加载的时候报错
[code]

我的 vgg 模型基本和paddle在github上的一样，只是我自己加了一层 bn

[code]

[2019-03-06 09:24] LittleFatHero commented on #15895
可以一条命令来安装的，通过conda来解决（pytorch，tensorflow都可以通过conda来安装，不需要安装cudnn和cuda，只需要驱动，非常简单）。为什么要这样呢？因为这样有很多好处，conda创建不同的虚拟环境中，可以安装不同的cuda版本。如果你用pip，那么只能使用系统安装的cuda。而且，更为关键的是，conda解决依赖的能力是真的强，tensorflow官方不支持Ubuntu 14.04，但是conda安装的tensorflow可以支持。感觉conda真的有点容器的概念，非常好的。这就是当今最流行的深度学习框架pytorch官方直接推荐使用conda安装的原因。

[2019-03-06 09:28] yizhiheying opened #16083 "ubuntu18.10 cpu版本python3.6编译错误"
- 版本、环境信息：
    1）PaddlePaddle版本：github develop版本
    2）CPU：vmware14
    3）GPU：非gpu
    4）系统环境：ubuntu18.10 64位 python3.6
- 安装方式信息：

本地编译：http://paddlepaddle.org/documentation/docs/zh/1.3/beginners_guide/install/compile/compile_Ubuntu.html/#ubt_source 中本机编译第十步make 命令

错误信息如下：

[100%] Built target warpctc
Install the project...
-- Install configuration: "Release"
-- Installing: /home/eason/main/sourc

[2019-03-06 09:39] yeyupiaoling commented on #16079
我发现我在跑目标检测的时候:https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/object_detection
使用`paddle.fluid.layers.py_reader`速度反而会更慢

使用的数据是：pascalvoc
1. ` for batch_id, data in enumerate(train_reader()):`一个Pass时间为：534.448076 s
2. `paddle.fluid.layers.py_reader`一个Pass时间为：597.962765 s

[2019-03-06 10:15] seiriosPlus commented on #16052
咨询了一下GPU的同学，建议检查一下本地的GPU环境。
https://discuss.pytorch.org/t/function-attributes-after-cudafuncgetattributes-an-illegal-memory-access-was-encountered/12007

[2019-03-06 11:01] yeyupiaoling commented on #15895
支不支持是一回事，有人喜欢这样用，那肯定要支持的。只是我个人喜欢用pip，安装的东西我都可以掌控。

[2019-03-06 11:02] yeyupiaoling commented on #15845
@BigBigWolf-AI
我用过，究竟还是pip习惯。除非万不得已

[2019-03-06 11:21] JiabinYang commented on #16083
请问下您的gcc版本和cmake版本是多少呢

[2019-03-06 11:21] phlrain commented on #16065
这些功能 我们会记录下，在后续的版本中升级

[2019-03-06 11:36] qingqing01 commented on #16071
@yeyupiaoling 8G的显存是能跑起来的，你机器多大显存？以及你输入图片多大？

[code]

从你的log来看，你使用了多尺度测试，你可以只使用其中一个测试，将输入图片Resize小点，作为输入测试，看下可否跑起来。

比如这里的改动： https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/face_detection/widerface_eval.py#L53

[2019-03-06 11:36] NHZlX commented on #16082
请问你的存储的模型文件是？ 以及路径。方便的话贴一下模型目录下的的文件列表

[2019-03-06 12:07] NHZlX commented on #16082
遇到这个问题遇到基本是用户模型参数文件损坏或者不完整。个人认为提示“ 模型参数加载出现问题，请查看一下你的模型文件是否损坏”.会比“不能在文件中读到更多”会好很多。希望PM或者相关同学对此处进行改进。

[2019-03-06 12:15] chengduoZH commented on #15989
@guo-hanqi 这所因为`main_pts`变量在模型中没有用到，所以计算图中没有该变量的信息。

[2019-03-06 12:16] yizhiheying commented on #16083
gcc version 8.2.0
cmake version 3.12.1

[2019-03-06 13:24] ccmeteorljh opened #16089 "ner 模型多机实现 pserver模式，夯住"
paddle_version : 1.3
models 代码库：
https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleNLP/sequence_tagging_for_ner

[2019-03-06 16:05] gogogo45 opened #16094 "尝试将fit.a.line改用py_reader出错"
学习py_reader的用法，尝试将example中的fit.a.line改为py_reader模式，报以下错误
![image](https://user-images.githubusercontent.com/4569437/53895221-7da32400-406c-11e9-8c2e-e536423af803.png)

代码的修改处如下：
![image](https://user-images.githubusercontent.com/4569437/53895291-adeac280-406c-11e9-8060-f6b220ef000e.png)

请帮忙指出问题，谢谢

[train.py.zip](https://github.com/PaddlePaddle/Paddle/files/2939558/train.py.zip)

[2019-03-07 02:07] yizhiheying commented on #16083
PaddlePaddle V1.3.0

[2019-03-07 02:52] jerrywgz opened #16096 "activation with cudnn cause NaN in Faster RCNN"
CUDA8，cudnn7，P40
https://github.com/PaddlePaddle/Paddle/pull/15164 会导致models(develop)中faster rcnn在训练至11个iter左右的时候出NaN
尝试注释activation_op.cc中的部分代码，如下图红圈内所示，重新训练即正常
![image](https://user-images.githubusercontent.com/22989727/53928889-ce476b00-40c6-11e9-9a18-de848ad8469e.png)
能否在api端添加是否使用cudnn的选项，或者有其他更加合理的处理方式

[2019-03-07 03:11] superwj1990 opened #16097 "elementwise_pow的GradOp没注册以及没有mod操作"
elementwise_pow这个Op没有实现反向
paddle.fluid.core.EnforceNotMet: grad_op_maker_ should not be null
Operator GradOpMaker has not been registered. at [/paddle/paddle/fluid/framework/op_info.h:61]

[2019-03-07 03:17] kjfren1985 opened #16098 "无法获取accuracy及保存模型报错"
我根据models里面的ctr例子（https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleRec/ctr/infer.py）
改写了一个脚本，主要在train的同时增加test过程，方便选择模型轮次，整体训练测试过程跑通，不过无法获取accuracy及保存模型报错

**- fetch_list不增加accuracy.name可以正常返回，增加accuracy.name后会报错：**
[code]

**保存模型时候报错：**
[code]

代码如下：
network_conf.py与https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleRec/ctr/network_conf.py
基本相同，只有最后一行改了：
[code]

train.

[2019-03-07 03:23] velconia commented on #16096
可能是 cudnn7 有某个参数改变导致的问题，这个在 BN 里也遇到了

[2019-03-07 03:25] velconia commented on #16097
已Assign给对应同学修复

[2019-03-07 03:27] velconia commented on #16094
方便提供下Paddle的版本吗？

[2019-03-07 03:30] velconia commented on #16094
你注释掉的这个写法应该才是对的，这是 1.3 版本的写法示例：
http://paddlepaddle.org/documentation/docs/zh/1.3/user_guides/howto/prepare_data/use_py_reader.html

[2019-03-07 03:40] velconia commented on #16098
可以先在 ```parallel_exe.run``` 的位置添加参数 ```return_numpy=False```

[2019-03-07 03:43] JiabinYang commented on #16083
请使用gcc 5.4或gcc 4.8，这个问题是boost库在gcc 8下的一个[问题](https://github.com/CauldronDevelopmentLLC/cbang/issues/26)导致的

[2019-03-07 03:45] kjfren1985 commented on #16098
File "train.py", line 485, in train_test
    return_numpy=False)
TypeError: __init__() got an unexpected keyword argument 'return_numpy'

[2019-03-07 04:02] kjfren1985 commented on #16098
[code]
可以了~还有一个保存模型的问题哈，那个提示不太看的懂

[2019-03-07 04:40] gogogo45 commented on #16094
注释掉的写法也试过，同样的异常。

[2019-03-07 04:41] gogogo45 commented on #16094
现在使用的是1.2.0

[2019-03-07 04:44] velconia commented on #16098
Save的时候把 auc 去掉试试

[2019-03-07 04:55] duanyuzhuo opened #16100 "双塔模型利用merge_v2_model打包网络参数之后仅一侧网络可用"
模型：DSSM改进版本：左侧全连接网络（输入为sparse binary），右侧包括cnn gru fc （输入为sequence）
版本：v2，使用的打包方式是paddle.utils.merge_model 自带的 merge_v2_model
环境：paddle C++接口

问题：双塔模型两侧网络结构不同，使用方式为将模型参数统一打包，paddle_model读取；根据网络结构和对应的名称获取单侧paddle_machine。线上效果为某一侧网络正常输出结果，另一侧输出为-nan的多维向量。该模型离线预测正常。

尝试：1. 如果修改network中预测网络的输出之后打包参数，比如改为右侧网络输出，则右侧网络输出正常，但是左侧网络输出变成-nan的多维向量。
           2. 如果训练一个参数少一点的模型可以得到两侧都正确的输出

推测：1. 可能模型只加载了一侧

[2019-03-07 05:15] Z-TAO opened #16101 "batch norm 参数重定义的问题"
batch norm 里面的两个参数

moving_mean_name

moving_variance_name

应该是两个var，但是他们却没有受到 with fluid.unique_name.guard() 的影响，导致名字重复

[2019-03-07 05:19] gongweibao commented on #16097
收到
跟随1.4发布吧。

[2019-03-07 05:37] kjfren1985 commented on #16098
[code]
还是一样报错

[2019-03-07 05:43] benjaminxz opened #16102 "Windows环境模型预测 (c++)教程无法走通 生成失败"
PaddlePaddle版本为1.3  win10 cpu
在走Windows环境模型预测这个教程的时候遇到了错误，在vs2015中生成解决方案失败，错误信息为：

1>------ 已启动生成: 项目: simple_on_word2vec, 配置: Release x64 ------
1>  simple_on_word2vec.cc
1>C:\Paddle-develop\fluid_inference\third_party\install\gflags\include\gflags/gflags.h(288): error C2065: “unused”: 未声明的标识符
1>C:\Paddle-develop\fluid_inference\third_party\install\glog\include\glog/logging.h(47): fatal error C10

[2019-03-07 06:22] velconia commented on #16101
是这样的，moving_mean_name和moving_variance_name属于用户指定的参数名称，优先级是高于 unique_name 的

[2019-03-07 06:32] velconia commented on #16094
总结一下，网络有两处问题：
1. PyReader的open_file会得到x_val和y_val, 这两个值相当于原来的 fluid.layers.data()，所以应该传入 fluid.layers.fc 和 square_error_cost;
2. Test依旧可以使用DataFeeder的形式进行；所以如果eval_exe不准备使用py_reader, 也可以不注释掉

[2019-03-07 06:33] velconia commented on #16098
请使用 exe = Executor(place), 你的train_program, 以及给 layers.data 指定的名称作为 save_inference_model 的输入哈

[2019-03-07 06:33] #15641 closed, assigned to velconia

[2019-03-07 06:37] #16094 closed, assigned to velconia

[2019-03-07 06:46] velconia commented on #16054
还有一个原因是内部生成的VarBase最好也有一个名字

[2019-03-07 06:49] velconia commented on #16079
PyReader的核心功能是**异步数据读取**，目的是将读取数据的IO时间和训练的CPU时间重叠起来，加速训练；

但如果数据读取的速度较慢，训练速度较快，会导致训练一直在等待数据读取，性能不会提升；
针对GPU模型，需要设置double_buffer=True来提升性能；

@sneaxiy 是这方面专家，欢迎补充更多观点

[2019-03-07 06:51] yeyupiaoling commented on #16079
@velconia 理论上是PyReader更快一些吧，但是实际并非如此哦。

[2019-03-07 07:01] sneaxiy commented on #16079
你是CPU训练还是GPU训练？

[2019-03-07 07:02] yeyupiaoling commented on #16079
我使用的是GPU呢、

[2019-03-07 07:04] velconia commented on #16100
建议迁移 Fluid 把，最新已经到 1.3 版本了，挺好用的。。

[2019-03-07 07:10] #15338 closed, assigned to shippingwang

[2019-03-07 07:10] lingdu0001 opened #16103 "gru4rec 预测部署"
我看了gru4rec的代码，但是infer.py里面只有计算召回率的方法。
但是我要真实预测应该如何向某个用户推荐哪些商品的话应该如何写呢？请问方便提供demo么？
谢谢！
需要输入的数据是什么呢？fetch_list部分应该如何写呢？

[2019-03-07 07:49] velconia commented on #16079
double_buffer 设置了吗？ 另外使用非 py_reader 的代码部分方便贴下吗？

[2019-03-07 07:51] yeyupiaoling commented on #16079
@velconia 设置了
[code]

[2019-03-07 08:10] velconia opened #16105 "Caffe2Fluid 模型链接失效"
![image](https://user-images.githubusercontent.com/1979255/53941584-6a876700-40f3-11e9-9919-1201dfbd1d88.png)

http://www.paddlepaddle.org/documentation/models/en/develop/fluid/PaddleCV/caffe2fluid/README.html

该链接已失效

[2019-03-07 08:38] velconia commented on #16102
请问方便提供下教程的链接吗？

[2019-03-07 08:44] velconia commented on #16103
辛苦模型负责人 @frankwhzhang 老师解答下~

[2019-03-07 08:55] frankwhzhang commented on #16103
有两种方案：
1. 在训练的网络中添加topk op, k=1,可以返回最高的indice(具体参考topk 做法)，需要在train.py中的fetch_list中添加对应返回的值，类似acc. 然后再infer.py 取回来后通过np.array(topk_value),就可以取到对应的下标
2. 参考infer_sample_neg.py 中的做法，训练阶段只保存参数(save_params这个方式保存)，预测阶段重新构建网络，直接在预测网络中添加topk op

[2019-03-07 09:03] benjaminxz commented on #16102
@velconia  好的  其实也就是官方最新版本的文档
http://paddlepaddle.org/documentation/docs/zh/1.3/advanced_usage/deploy/inference/build_and_install_lib_cn.html
http://paddlepaddle.org/documentation/docs/zh/1.3/advanced_usage/deploy/inference/windows_cpp_inference.html

[2019-03-07 09:07] velconia commented on #16103
@lingdu0001 请问还有别的问题吗？

[2019-03-07 09:08] #16098 closed, assigned to velconia

[2019-03-07 09:19] lingdu0001 commented on #16103
我试试哈 谢谢！

[2019-03-07 10:02] kbinias commented on #15615
@luotao1 What do you think about closing this PR ? The problem with function coverage is IMO related to lcov tool.

![image](https://user-images.githubusercontent.com/19502037/53946808-cbe41180-40c4-11e9-94db-574fb6a2a34f.png)
![image](https://user-images.githubusercontent.com/19502037/53946820-d1415c00-40c4-11e9-8bab-9bcaed8accbe.png)

[2019-03-07 10:53] velconia commented on #16102
好的，我们本地复现后答复您哈

[2019-03-07 10:54] #16103 closed, assigned to velconia, frankwhzhang

[2019-03-07 11:29] kjfren1985 commented on #16098
模型保存解决方法：
需要在后面传入 train_prog，data_name_list记得设置成输入名字
`fluid.io.save_inference_model(model_dir, data_name_list, [loss], exe, train_prog)`
可以保存，没试能不能load及预测

[2019-03-07 11:31] luotao1 commented on #15615
The Functions coverage is less than 80% in `operators/mkldnn`. You can add the unit-tests for `activation_mkldnn_op.cc`, `conv_mkldnn_op.cc` and `transpose_mkldnn_op.cc` when you are convenient. @kbinias

[2019-03-07 12:36] velconia commented on #16100
感谢@qingqing01 提供了一个 https://github.com/PaddlePaddle/Paddle/issues/15823 v2反向解析 model 的方法，可以通过这个方法保证你save的模型是正确的；

[2019-03-07 16:43] gogogo45 opened #16113 "使用py_reader读取数据，如何在save_inference_model存储feed变量"
简单的fit_a_line
- 版本、环境信息：
    1）PaddlePaddle版本：Fluid-1.2
    2）系统环境：Python 2.7
- 训练信息
    1）单机
- 问题描述：
使用py_reader进行模型训练和测试，训练完成后存储预测模型。再load模型进行预测，遇到如下问题。
1. save_inference_model的时候，feeded_var_names无法赋值，写入[]可保存成功。如果写入参数['x']，执行报错。那么应该如何带参数保存model？
![image](https://user-images.githubusercontent.com/4569437/53972587-0936b680-413a-11e9-8ac4-b95627e112e0.png)

2.写入[]保存inference_model后，加载预测模型的时候用py_rea

[2019-03-08 01:58] wopeizl commented on #16102
看起来是你的glog库有问题，请问你的glog编译是通过paddle做的还是直接拷贝过来的？

[2019-03-08 03:32] benjaminxz commented on #16102
@wopeizl 你好，库文件是直接拷贝过来的
文件来自于http://paddlepaddle.org/documentation/docs/zh/1.3/advanced_usage/deploy/inference/build_and_install_lib_cn.html
中的第一个下载链接，下载下来的文件是fluid_inference.tgz

上面遇到的2个错误
1>C:\Paddle-develop\fluid_inference\third_party\install\gflags\include\gflags/gflags.h(288): error C2065: “unused”: 未声明的标识符
1>C:\Paddle-develop\fluid_inference\third_party\install\glog\include\glog/logging.h(47

[2019-03-08 03:35] wopeizl commented on #16102
官网上的inference包默认是linux下的，所以win下的需要自己去编译，依照这个文档，http://paddlepaddle.org/documentation/docs/zh/1.3/beginners_guide/install/compile/compile_Windows.html 编译， 完成后在build的目录下就有fluid_inference_install_dir目录

[2019-03-08 04:10] benjaminxz commented on #16102
@wopeizl 好的，谢谢，我这几天去试一试

[2019-03-08 08:24] OliverLPH opened #16119 "fluid.layers 官方文档有一些小问题"
发现了官方文档有一些小问题

[fluid.layers的使用说明](http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#cn-api-fluid-layers-array-read) 里面的 array_read和array_write两个板块。

![42697fb8c58287d075ab20ecce9bb01b](https://user-images.githubusercontent.com/14963836/54016487-1c8b6580-41be-11e9-8423-a3467d75fe2f.png)
应该是
[code]

![25cfdb18215c164a1121653db09f226d](https://user-images.githubusercontent.com/

[2019-03-08 08:40] sneaxiy commented on #16100
@Superjomn 麻烦能看看这个用户问题？

[2019-03-08 08:45] Superjomn commented on #16100
建议切换到fluid，目前 v2 版本已经不维护（2年前的版本），没有特别熟悉的同学在

[2019-03-08 11:09] superwj1990 opened #16123 "holder_ should not be null Tensor not initialized yet when Tensor::type() is called."
def build_program(program, startup, is_train):
        trainer_count = args.dist_env["num_trainers"]
        device_num_per_worker = get_device_num()
        # deal with image shape
        with fluid.program_guard(main_program=program, startup_program=startup):
            with fluid.unique_name.guard():
                imageshape = [3, config['train']['inpsize'], config['train']['inpsize']]

[2019-03-08 11:13] jiayouff commented on #16038
@yeyupiaoling 👍🏻

[2019-03-08 11:21] sneaxiy commented on #16123
错误提示是某个tensor为空。建议运行时加上环境变量GLOG_vmodule=operator=4 GLOG_logtostderr=1看看运行到哪个op，哪个tensor为空。

[2019-03-08 11:22] sneaxiy commented on #16113
调用save_inference_model接口时，feeded_var_names参数传入`fluid.layers.read_file`的返回值即可。目前load_inference_model加载进行的模型还不支持py_reader输入，抱歉。

[2019-03-08 11:33] superwj1990 commented on #16123
好的，谢谢@sneaxiy

[2019-03-08 11:33] superwj1990 commented on #16123
好的，谢谢

[2019-03-08 11:52] qingqing01 commented on #16105
@velconia  验证了下可以下载

[code]

[2019-03-08 12:10] velconia commented on #16105
Great, I will close this

[2019-03-08 12:10] #16105 closed, assigned to qingqing01

[2019-03-08 12:33] walloollaw commented on #16105
这个caffepb.py可以 用protoc编译caffe.proto 生成，具体可以参考[caffe2fluid](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/caffe2fluid) 里的 `bash ./proto/compile.sh`

[2019-03-08 14:39] Sand3r- commented on #14837
Is it known whether the problem lies within the kernel or within the pass? Or perhaps both?

[2019-03-08 14:45] luotao1 commented on #14837
Sorry, we don't confirm it so far. @Sand3r-

[2019-03-09 01:10] shanyi15 commented on #16119
hi，您好，非常感谢您的反馈，我们将尽快更新

[2019-03-09 01:42] joodo commented on #15896
您好，我们兼容小版本，比如 CUDA 9，是支持 9.x 的

[2019-03-09 02:17] shanyi15 commented on #16038
您好，请问具体不明白的地方是？我们可以优化一下API文档 @Samhandsome

[2019-03-09 02:52] gogogo45 commented on #16113
这个我有尝试过，并没有成功。因为我把网络结构封装在一个network函数里调用，read_file也在函数里面，似乎在存储的时候获取不到变量了。详见我附上的代码

[2019-03-09 04:24] xuezhong commented on #16113
你可以把x,y 都从network返回过来，save的时候再用上

[2019-03-09 04:47] xuezhong opened #16130 "请教一下，fluid.unique_name.guard 这个函数的作用是什么呢？好像在API上还没好查到"
rt

[2019-03-09 04:48] xuezhong commented on #16130
这个API的作用是实现参数共享。Paddle内部采用变量名name区分不同变量，这个变量名是unique_name模块里的一个全局计数器自动生成的。unique_name.guard的作用是产生一个局部的计数器，取代全局的计数器，且局部计数器的计数值清零。这样就能保证两次调用unique_name.guard生成的网络里对应变量的name是一样的，实现参数共享

[2019-03-09 04:48] #16130 closed, assigned to nobody

[2019-03-09 07:22] gogogo45 commented on #16113
尝试过，但是仍然报错
![image](https://user-images.githubusercontent.com/4569437/54067747-f5e13380-427e-11e9-90e5-70151205c4a5.png)
![image](https://user-images.githubusercontent.com/4569437/54067751-02fe2280-427f-11e9-9850-f46a88656193.png)
![image](https://user-images.githubusercontent.com/4569437/54067754-10b3a800-427f-11e9-8e43-cddf2962bfc2.png)
还是报var x is not in this block

[2019-03-09 07:36] Samhandsome opened #16131 "关于文档索引的问题"
请问，是否可以提供一份常用报错的索引，要不然出现报错还得一个个翻阅文档，有点麻烦~谢谢

[2019-03-09 07:49] Samhandsome opened #16132 "关于core的问题"
paddle.fluid.core.EnforceNotMet 请问这个api在文档的具体位置是哪里呢 我一直没有找到 谢谢

[2019-03-09 07:58] superwj1990 opened #16133 "conv2d Tensor not initialized yet when Tensor::type() is called."
[code]

[2019-03-09 07:58] superwj1990 opened #16134 "conv2d Tensor not initialized yet when Tensor::type() is called."
I0309 15:50:09.520256 28672 operator.cc:165] CUDAPlace(0) Op(conv2d), inputs:{Bias[], Filter[conv2d_0.w_0:float[64, 3, 5, 5]({})], Input[image:[-1]({{}})], ResidualData[]}, outputs:{Output[conv2d_0.tmp_0:[-1]({{}})]}.
Traceback (most recent call last):
  File "train_classifier_distributed_version.py", line 425, in <module>
    main()
  File "train_classifier_distributed_version.py", line 313, in m

[2019-03-09 13:55] sneaxiy commented on #16132
这个是Paddle内部错误时抛出的异常，现未有public的API。请问您是需要来做什么用呢？一般情况您不用在意这个，因为出现这个异常一般都是程序出错了。

[2019-03-09 13:56] sneaxiy commented on #16134
The same as #16133

[2019-03-09 13:56] #16134 closed, assigned to nobody

[2019-03-09 13:59] Samhandsome commented on #16132
@sneaxiy 是这样子的 我今天在训练的时候 看到命令行里面抛出一个关于这个paddle.fluid.core.EnforceNotMet  我在API文档里面没有找到 所以想询问下

[2019-03-10 03:18] AaronWhite95 opened #16136 "Invoke operator fill_constant error."
运行代码出现如下错误
`W0309 22:57:00.700938 37327 device_context.cc:263] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 9.0, Runtime API Version: 9.0 W0309 22:57:00.701022 37327 device_context.cc:271] device: 0, cuDNN Version: 5.0. W0309 22:57:00.701028 37327 device_context.cc:295] WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.3, but CUDNN version in your machine is 5.1

[2019-03-10 05:34] xuezhong commented on #16136
fill_constant 是网络初始化的时候调用的，这个一般不太出错，在这个环境下，其他demo能运行吗？compiled with CUDNN 7.3, but CUDNN version in your machine is 5.1 另外这个问题也需要关注下

[2019-03-10 05:46] xuezhong commented on #16133
错误提示是某个tensor为空。建议运行时加上环境变量GLOG_vmodule=operator=4 GLOG_logtostderr=1看看运行到哪个op，哪个tensor为空。

[2019-03-10 07:21] superwj1990 opened #16138 "关于本地分布式训练的问题"
在ps模式的分布式训练中，我设置了
export PADDLE_PSERVER_ENDPOINTS="10.98.149.31:7160,10.98.151.31:7161"
...
PADDLE_TRAINING_ROLE="TRAINER" \
PADDLE_CURRENT_ENDPOINT="10.98.151.31:7161" \
PADDLE_TRAINER_ID="0" \
CUDA_VISIBLE_DEVICES="0,1,2,3,4,5,6,7" \
fluid -u train_classifier_distributed_version.py
可是，实际运行中，当PADDLE_TRAINING_ROLE="TRAINER"时，仍在10.98.149.31机器上运行，而不是10.98.151.31。这个该怎么设置？
有没有本地机器自己搭建分布式训练的教程，看到官网都是集群

[2019-03-10 09:17] jacquesqiao commented on #16138
两个trainer的PADDLE_TRAINER_ID 设置成0或者1

[2019-03-10 09:53] zenghsh3 opened #16141 "Fluid的StaticRNN op文档不完善"
Fluid的StaticRNN op的文档不完善：

http://paddlepaddle.org/documentation/docs/zh/1.1/api_cn/layers.html#staticrnn

例如缺少用法说明：StaticRNN处理序列问题时，对于Batch_size * Timestep的传统输入，如果需要对每个时间步处理，需要先转置成Timestep * Batch_size，因为StaticRNN是沿着第0维进行遍历。

感觉目前的文档没有提供相关使用说明和例子。

[2019-03-10 11:32] dubhex opened #16142 "训练在cross_entropy出报错"
使用cross_entropy 时报错：
相关部分代码：
`
def net_config(image, label, model, args):
    _, score_out = model(image)
    cost = fluid.layers.cross_entropy(score_out, label)
    avg_cost = fluid.layers.mean(cost)
    return avg_cost, score_out, label
`

运行时报错：

  File "run_fast_train_score.py", line 334, in <module>
    train(args)
  File "run_fast_train_score.py", line 227, in train
    loss_tr_np, score_out

[2019-03-10 11:39] tensor-tang commented on #16142
Tensor holds the wrong type, it holds int at [/paddle/paddle/fluid/framework/tensor_impl.h:29]
PaddlePaddle Call Stacks:

根据error信息，请检查下数据格式

[2019-03-10 11:48] tensor-tang commented on #16141
多谢反馈，我们会完善相关文档

[2019-03-10 12:10] dubhex commented on #16142
查到问题是使用cross_entrop时如果是hard label，label数据类型应该是int64，更正后原来的问题小时，但是又出现了新的问题：

  what():  an illegal memory access was encountered at [/paddle/paddle/fluid/framework/details/op_handle_base.cc:37]
PaddlePaddle Call Stacks:
0       0x7fcad6582f15p void paddle::platform::EnforceNotMet::Init<char const*>(char const*, char const*, int) + 357
1       0x7fcad6583299p paddle::platform::EnforceNotMet::Enforce

[2019-03-10 12:33] tensor-tang commented on #16142
Tensor holds the wrong type, it holds int at [/paddle/paddle/fluid/framework/tensor_impl.h:29]
PaddlePaddle Call Stacks:
6 0x7fcad7ed392bp paddle::framework::details::ClearFetchOp(paddle::framework::ir::Graph*, std::vector<paddle::framework::details::FetchOpHandle*,

应该是某些数据访问越界了，或者内存没申请？

[2019-03-10 13:18] dubhex commented on #16142
问题找到了，有的数据没找到，感谢帮助！

[2019-03-10 13:25] tensor-tang commented on #16142
不用客气哈

[2019-03-10 13:25] #16142 closed, assigned to nobody

[2019-03-11 01:57] AaronWhite95 commented on #16136
简单的demo可以运行
![image](https://user-images.githubusercontent.com/19512779/54095799-07901b80-43e4-11e9-82b8-27f7c0e4e1b1.png)

[2019-03-11 03:00] AIFollowers commented on #15885
@yeyupiaoling 这个没有问题

[2019-03-11 03:01] shanyi15 commented on #16141
please take a look, thanks @zhaoyuchen2018

[2019-03-11 03:08] shanyi15 commented on #16131
Need to amplify FAQ doc
cc to @kagome112

[2019-03-11 03:11] shanyi15 commented on #16131
@Samhandsome 尊敬的用户您好，请问您指的“索引”是指在终端里输某个命令，展示全部的报错信息及对应的解释，还是指希望增加这方面的文档呢？谢谢

[2019-03-11 03:26] shippingwang opened #16143 "make error, Segmentation fault, No space left on device."
![image](https://user-images.githubusercontent.com/13645332/54098667-74a9ae00-43f0-11e9-915f-ed1d57e4b28a.png)
It seems like my /tmp folder is already full, and would raise a make error, I link the /tmp to ~ /tmp.
mkdir ~ /tmp
export TMPDIR=~/tmp
It doesn't work.

[2019-03-11 05:35] xuezhong commented on #16113
试下feed_var_names=[x.name]

[2019-03-11 05:35] #16113 closed, assigned to xuezhong

[2019-03-11 06:55] Samhandsome commented on #16131
@shanyi15 您好 我是希望增加这方面的文档

[2019-03-11 06:56] wanghaoshuang opened #16147 "paddle如何固定卷积核weights"
如何固定某个卷积核参数，不随训练更新。

[2019-03-11 06:57] wojtuss commented on #15658
Done. Thank you.

[2019-03-11 06:57] #15658 closed, assigned to luotao1

[2019-03-11 07:04] wanghaoshuang commented on #16147
step2 为卷积核的varible赋值
step3 设置卷积核variable stop_gradient=True

- step1 获得对应卷积核的variable
通过以下代码观察当前网络的所有parameter names， 并确定要固定的卷积核weight（parameter）的名称。
[code]
根据parameter name拿到对应的variable:
[code]

- step2 为卷积核的varible赋值
[code]

- step3 设置卷积核variable stop_gradient=True
[code]

[2019-03-11 07:05] #16147 closed, assigned to nobody

[2019-03-11 07:20] Yipeng-Sun commented on #15385
按layer参数分别存储，非一个统一文件，加载参数名称冲突，参考TF增加name_scope优化设计，避免参数加载bug

[2019-03-11 07:41] GT-ZhangAcer commented on #15475
至于pip和pip3的问题，应该是常识，但也希望文档可以标注这一点

[2019-03-11 07:44] LittleFatHero commented on #15475
还有就是新官网的选环境安装cuda，cuda只有9和8，其实9.x和8.x也是支持的，但是官网没有说，我建议他们把8和9改成8.x和9.x，还是没有改，笑哭

[2019-03-11 08:52] xiangyubo opened #16148 "load_persistables 重新加载模型后训练，报错MomentumOp的维度不一致"
- 版本、环境信息：
    1）PaddlePaddle版本：1.2
    4）系统环境：python 2.7
- 训练信息
    1）单机/单卡
  
我训练的过程中用 save_persistables 保存的模型，然后程序停止了，我第二次运行程序的时候，我用 load_persistables 方式加载模型，然后训练的时候报错。说优化器MomentumOp的维度不一致

[code]

[2019-03-11 08:58] xiangyubo commented on #16148
设置优化器，保存模型，加载模型相关的代码如下
[code]

[2019-03-11 09:38] NHZlX commented on #16148
贴一下你调用load_persistables 的地方的代码吧
“我训练的过程中用 save_persistables 保存的模型，然后程序停止了。”模型停止了是出错了么还是自然停止的。

[2019-03-11 09:50] wanghaoshuang commented on #16148
hi，你加载的是被剪切的模型么？

[2019-03-11 09:52] xiangyubo commented on #16148
[code]
程序停止是我主动停止的，因为我感觉训练时候的某些超参设置不合理了。但是我还想接着中断那次的参数接着训练

[2019-03-11 09:54] xiangyubo commented on #16148
应该是完整的模型

[2019-03-11 09:54] wanghaoshuang commented on #16148
save_persistables之后有修改网络结构么？

[2019-03-11 09:54] xiangyubo commented on #16148
没有

[2019-03-11 10:45] superwj1990 commented on #16138
问题解决了，本地多台机器的分布式运算，不同trainer的代码要在实际机器上运行，并且保证每台机器的代码是完全一致的。

[2019-03-11 10:48] #16138 closed, assigned to jacquesqiao

[2019-03-11 11:03] zenghsh3 opened #16151 "建议Fluid的softmax_with_cross_entropy支持输入大于2-D的场景"
目前Fluid的[softmax_with_cross_entropy](http://paddlepaddle.org/documentation/docs/zh/1.1/api_cn/layers.html#softmax-with-cross-entropy)只支持2-D的logits和label输入，但输入大于2-D的场景也是有的，建议直接支持任意大于2-D的输入。

类似于下面功能：
[code]

[2019-03-11 11:09] xuezhong commented on #16136
你把出错的代码贴下吧

[2019-03-11 11:12] xuezhong commented on #16132
还有其他问题吗

[2019-03-11 11:12] NHZlX commented on #16148
MomentumOptimizer 有重新生成么。

[2019-03-11 11:31] xiangyubo commented on #16148
没有。是说需要么？

[2019-03-11 12:31] NHZlX commented on #16143
I met the same problem before. The default docker container's  capacity is 10G. When you compile with multithreading, like `make -j  N`,  when N is big,  the generated tmp files take up a lot of space. Try `make -j 10 ` or lift docker container space.

[2019-03-12 02:15] NHZlX commented on #16151
谢谢你的建议。这个已经在我们的需求列表中，并有RD进行了跟进

[2019-03-12 02:18] #16151 closed, assigned to nobody

[2019-03-12 03:06] typhoonzero commented on #16075
经过复现，目前现象总结如下：

- 使用Ubuntu16.04 base image编译(gcc 4.8)，开启`-O3`，运行以上case可以复现
- 使用Ubuntu16.04 base image编译(gcc 4.8)，开启`-O2`，可以复现
- 使用Ubuntu16.04 base image编译(gcc 4.8)，开启`-O2`，在ubuntu16.04运行时镜像执行，可以复现
- 使用CentOS6编译(gcc 4.8)，开启`-O3`，无法复现

[2019-03-12 03:57] imistyrain commented on #16079
paddlepaddle设计时错误的把batch_size当成反传的基本单位，必须等所有数据都到齐后才进行一个批次的训练，GPU大部分浪费在等数据上了.

[2019-03-12 07:41] #16143 closed, assigned to NHZlX

[2019-03-12 07:43] NHZlX commented on #16148
最后发现先调用`fluid.io.save_inference_mode`，然后调用`fluid.io.save_persistables`。训练时候使用`fluid.io.load_persistables load save_persistables `存储的模型会出现问题。

[2019-03-12 08:26] xiangyubo commented on #16148
是的，我把两个函数反过来，先调用save_persistables，再调用save_inference_model，此时可以加载模型重新训练。

[2019-03-12 08:44] zyz282994112 opened #16163 "v2版本factorization_machine调用c-api出错"
你好！我这边基于v2训练的模型里包含factorization_machine层。训练时没问题，但在使用capi做inference时，报“Unknown class type: factorization_machine”，如下图所示：

I0312 16:29:52.932291 14024 Util.cpp:166] commandline:  --use_gpu=False
W0312 16:29:52.932369 14024 CpuId.h:112] PaddlePaddle wasn't compiled to use avx instructions, but these are available on your machine and could speed up CPU computations via CMAKE .. -DWITH_AVX=ON
F0312 16:

[2019-03-12 09:10] JiabinYang commented on #16163
请问您的cpi版本是哪一个呢，怀疑是和训练用的v2版本不兼容

[2019-03-12 09:15] AmitRozner commented on #16071
Is there a way to use less GPU memory and still use the multi scale test? Does fluid have an environment variable which can limit the GPU memory used (probably will run slower) like tensorflow's per_process_gpu_memory_fraction?

[2019-03-12 09:30] JiabinYang opened #16164 "paddle单机多卡一定要root权限吗，我这边只有root情况可以进行训练"
Paddle fluid v1.3
单卡训练正常，多卡使用root权限训练正常，多卡使用user权限出现错误：
`----------  Configuration Arguments -----------
batch_size: 16
class_dim: 20
image_shape: 3,224,224
imgmodel_save_dir: output/output_img
lr_init_img: 0.01
lr_init_text: 0.01
num_epochs: 60
num_layers: 50
pretrained_model: data/resnet_50
seg_num: 9
textmodel_save_dir: output/output_text
total_videos: 32025
use_gpu: True
with_mem_opt: True
---

[2019-03-12 09:31] JiabinYang commented on #16164
怀疑是user下没有安装paddle-gpu造成的

[2019-03-12 09:35] zyz282994112 commented on #16163
用的“git_bratch"版本，请问需要替换成哪一版啊？

[2019-03-12 10:19] walloollaw opened #16166 "save_persistables模型保存存在内存泄露"
使用paddle1.3 cuda9 P40或K40单机4卡训练resnet50模型，在频繁保存模型的时候 会出现内存泄露（表现为内存一直上涨）

模型保存代码如下：
[code]

运行环境为paddlecloud paddle1.3 P40或K40队列

[2019-03-12 11:56] junjun315 commented on #16166
你好，能提供最小的复现代码么？ 我想确认一下保存的结构以及频率

[2019-03-12 12:06] JiabinYang commented on #16166
如果把save去掉的话还会有这个现象么

[2019-03-12 13:05] sshilei opened #16170 "simnet模型库训练过程 loss全为0"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：fluid 1.3

- 模型信息
    1）simnet

simnet采用pointwise.json 配置时，loss不为0，正常。 使用pairwise.json时，loss全为0.
不管是demo数据，还是真实训练数据，都是如此。

http://10.255.120.13:8388/?path=/home/matrix/containers/372023034.job-0bb5c87810c1005f-trainer/upper

[2019-03-12 13:21] walloollaw commented on #16166
@JiabinYang 不会

[2019-03-12 13:23] walloollaw commented on #16166
可以直接在paddlecloud上用它默认的paddle1.3 跑resnet50模型，k40或p40队列， 极端情况是每个minibatch保存一次模型（save_persistable和save_inference）

[2019-03-13 02:30] #15063 closed, assigned to nobody

[2019-03-13 02:44] LeoZhao-BJ opened #16174 "mkldnn related irpasses are added triple times when mkldnn is enabled in AnaylsisPredictor"
**System information**
-PaddlePaddle version: develop
-CPU: including CPUMKL/OpenBlas/MKLDNN version
-OS Platform : Linux

**To Reproduce**
use test in paddle/fluid/inference/tests/api/ and observe how many mkldnn related irpasses are processed.

**Describe your current behavior**
The rootcause is CpuPassStrategy uses copy constructor to re-initialize PassStrategy, the passes in previous instance

[2019-03-13 03:08] seiriosPlus commented on #16166
你好~ 能在hi上提供一下paddle cloud的任务么，我们复现+定位一下

[2019-03-13 03:12] luotao1 commented on #16174
@LeoZhao-Intel Thanks for your issue! I can reproduce it:
- command:
[code]
- result: There are three `mkldnn_placement_pass`.
[code]
@kbinias Do you know why?

[2019-03-13 03:16] LeoZhao-BJ commented on #16174
https://github.com/PaddlePaddle/Paddle/pull/16175, this is patch for the fix.

The rootcause is CpuPassStrategy uses copy constructor to re-initialize PassStrategy by update() function, the passes in previous instance is still kept, so mkldnn related irpasses are added multiple times.

[2019-03-13 08:14] zhaocaibei123 opened #16180 "paddle fluid如何读文件训练"
咨询一下如何读文件，看文档有些迷糊，咨询几个问题：
1. Python Reader同步方式 和 py_reader接口异步方式 具体是什么样的？同步是指先读完数据 都load到内存里，再开始训练；异步是指一边读数据一边训练吗，会有单独的线程读数据？
2. Python Reader方式 读文件
http://www.paddlepaddle.org/documentation/docs/en/develop/user_guides/howto/prepare_data/reader.html
def image_reader_creator(image_path, label_path, n):
   def reader():
        f = open(image_path)
        l = open(label_path)
        images = numpy

[2019-03-13 08:30] yeyupiaoling commented on #16180
@zhaocaibei123 我这个例子就是用同步的方式读取本地图片文件的：https://blog.csdn.net/qq_33200967/article/details/87895105

[2019-03-13 08:36] sneaxiy commented on #16180
1. 同步是指一个batch的数据load到内存里，再开始训练；异步是指有个单独的线程准备数据，训练和数据加载是并行执行的。
2. paddle.train在官网里的例子有误，近期我们已经进行修改，您可浏览最近官网上的中文文档。
3. Python Reader里的prefetch data也是开线程预读，但存在Python GIL和CPU到GPU数据的同步拷贝等因素，因此使用py_reader会更快些。
4. py_reader异步方式内部是开启线程，同时释放Python GIL锁，且完成了CPU到GPU的异步拷贝。
5. 请参阅：http://www.paddlepaddle.org/documentation/docs/zh/develop/user_guides/howto/prepare_data/use_py_reader.html

[2019-03-13 08:37] yeyupiaoling opened #16181 "目标检测的数据读取换成其他的数据，占用的内存无限上升"
# 环境
 - PaddlePaddle 1.2 GPU
 - Ubuntu 16.04
 - Python 3.5

# 问题
我把目标检测中的VOC数据集换成其他的数据集后：https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/reader.py

发现在读取数据的时候占用的内存一直上升，单纯是读取文件数据，我已经把训练的代码注释掉了，可以确认是在读取数据的时候就不断占用内存。

我修改成同步读取数据的方式，还是卡死。

数据的是一个人脸数据集，一直只标记一个人脸位置。其他的我没觉得有什么问题。

以下代码片段是我修改成同步读取数据的方式，同样是读取数据过程中卡死：
[code]

[2019-03-13 08:42] walloollaw commented on #16166
http://paddlecloud.baidu-int.com/paddle/jobDetail?jobId=job-0bb5c864239e4d32 这个任务

[2019-03-13 08:42] yeyupiaoling opened #16182 "在目标检测中，图片的每个通道不需要减去均值也可以的吧？"
# 环境
 - PaddlePaddle 1.2
 - Ubuntu 16.04
 - Python 3.5

# 问题

在目标检测中，例如使用VOC数据集的时候，会对每个通道都减去一个均值：https://github.com/PaddlePaddle/models/blob/9e76aa14796e04ef24c10c1080edcabf38341caf/fluid/PaddleCV/object_detection/reader.py#L160

我换成了我的数据集，我不知道这个均值应该设置多少，这个可以忽略的吗？

[2019-03-13 09:02] wzzju commented on #16182
您好！可以继续使用原来的均值。

[2019-03-13 09:54] zhaocaibei123 commented on #16180
好的，谢谢两位

[2019-03-13 10:19] kolinwei opened #16184 "api文档中warpctc的实例是错的"
label = fluid.layers.data(shape=[11, 8], dtype='float32', lod_level=1)
predict = fluid.layers.data(shape=[11, 1], dtype='float32')
直接运行会出错， fluid.layers.data需要传入name的参数。应该为如下:
label = fluid.layers.data(name="label", shape=[11, 8], dtype='float32', lod_level=1)
predict = fluid.layers.data(name="predict", shape=[11, 1], dtype='float32')

[2019-03-13 10:31] #16180 closed, assigned to sneaxiy, shanyi15

[2019-03-13 11:38] joodo opened #16186 "旧问题希望解答"
https://github.com/PaddlePaddle/Paddle/issues/15762
谢谢

[2019-03-13 12:51] #15618 closed, assigned to jerrywgz

[2019-03-13 12:55] thomas010 opened #16187 "feed数据并训练模型，提示Cannot find fetched variable"
执行训练，
train_outs = train_exe.run(train_fetch_list, feed=feed_dict)
提示错误如下：
 Cannot find fetched variable

[2019-03-13 12:55] kbinias commented on #15615
@luotao1  Coverage feature in GCC doesn't support virtual destructors correctly. There is no way to cover tests in 100% if test uses Inheritance. You can find out more details below with good explanation:
https://stackoverflow.com/questions/25662174/is-there-a-way-to-call-the-deleting-destructor-of-a-pure-virtual-class.

One of potential workaround might be post-processing and remove all destructo

[2019-03-13 13:55] luotao1 commented on #15615
Got it. Both @tensor-tang and I think destructors are normal.
However, the current coverage by May 12th is http://ce.paddlepaddle.org:8080/viewLog.html?buildId=31464&buildTypeId=PaddlePaddleFramework_TestCoverage_TestCoverage&tab=report_project15_C___Coverage
![image](https://user-images.githubusercontent.com/6836917/54284172-70d97f80-45da-11e9-875f-bd9d4040222b.png)
Why the coverage of `batch_nor

[2019-03-13 14:00] wanghaoshuang commented on #15762
因为生成图片的label是0，真图片的label是1，随着判别器的能力提升，d_loss_1和d_loss_2都会减小。

D也在持续学习中，不一定谁学的比谁快，所以d_loss减小是正常的

[2019-03-13 14:07] wanghaoshuang commented on #15762
D和G都在进步，只是D比G学习好点，导致G的loss上升。

[2019-03-13 14:25] wzzju commented on #16186
已经回答了，请去旧issue上查看哈～

[2019-03-13 16:16] zenghsh3 opened #16192 "layers.reshape不支持bool数据类型Tensor"
报错信息：op reshape2 does not have kernel for data_type[bool]

PaddlePaddle版本：1.3.0

[2019-03-14 01:32] yeyupiaoling commented on #16079
@imistyrain 那就是说是PaddlePaddle本身的Bug咯？

[2019-03-14 03:15] walloollaw opened #16197 "多进程环境下退出出现core"
运行环境：paddle1.2 K40 GPU
问题描述：在import paddle.fluid 并启动multiprocessing.Process后，然后退出会出core
复现方式：提炼后的复现代码文件 test_exit.py 内容如下
[code]
正常执行： python test_exit.py
出core执行： python test_exit.py show_bug

说明：如果将 import paddle.fluid 去掉，则都正常

core信息如下：
[code]

[2019-03-14 07:01] wzzju commented on #16181
您好！请检查您reader的写法，根据您的描述可以判断内存泄露是由于您所编写的读取自定义数据reader造成的。

[2019-03-14 07:06] yeyupiaoling commented on #16182
好的，谢谢。

[2019-03-14 07:06] #16182 closed, assigned to wzzju

[2019-03-14 07:08] yeyupiaoling opened #16200 "PaddlePaddle有复现MTCNN模型吗？"
最近想使用这个模型，请问有复现这个模型吗？models下是没有的。

[2019-03-14 07:09] yeyupiaoling commented on #15835
@wanghaoshuang 您好，这问题可以解决吗？

[2019-03-14 07:09] #15809 closed, assigned to wanghaoshuang

[2019-03-14 07:09] #15988 closed, assigned to nobody

[2019-03-14 07:11] sneaxiy commented on #16079
@yeyupiaoling 您是几个GPU卡训练？

[2019-03-14 07:11] yeyupiaoling commented on #16060
人脸检测和关键点识别，还是使用专门的网络比较好。当前比较流行的人脸检测和人脸关键点检测的模型是MTCNN。

[2019-03-14 07:11] #16060 closed, assigned to nobody

[2019-03-14 07:17] yeyupiaoling commented on #16071
@qingqing01 我的是8G的显存，因为使用的是GPU进行预测，所以它使用多尺度测试。我按照你的解决办法先试试。

[2019-03-14 07:18] yeyupiaoling commented on #16071
@AmitRozner Hi, Paddle Paddle can also be set up like this.

[2019-03-14 07:22] yeyupiaoling commented on #16181
@wzzju
有没有查看内存泄露的方法，
我检测了好多遍了，没发现问题，而且数据输出的格式是正确的。上面张贴的代码就是我改动的代码，其他的都没有改动。

[2019-03-14 07:24] yeyupiaoling commented on #16079
@sneaxiy  一个GPU呢。

[2019-03-14 07:27] #15499 closed, assigned to Superjomn, luotao1

[2019-03-14 08:19] zyz282994112 opened #16203 "v2版本factorization_machine使用sparse更新出错"
您好！我在使用factorization_machine时，input layer是sparse_binary_data格式，如果factorization_machine的sparse_update设置为false，可以正常更新，但如果设置为true，则会失败。代码如下，帮忙看下哈～

[code]
报错信息如下：
Thread [140249778378496] Forwarding __factorization_machine_0__,
*** Aborted at 1552551298 (unix time) try "date -d @1552551298" if you are using GNU date ***

PC: @                0x0 (unknown)

*** SIGSEGV (@0x0) received by PID 11716 (TI

[2019-03-14 08:31] wzzju commented on #16181
使用models repo下的reader并没有出现内存泄漏的情况。您这种情况下出现的内存泄漏应该是与您自己所写的reader函数相关。请综合使用top命令和gdb等调试一下您所写的reader。

[2019-03-14 08:33] jerrywgz commented on #16192
我们目前还不支持bool的数据类型，当前可以通过cast op进行类型转换，后续我们会增强这个op

[2019-03-14 08:36] StarGu opened #16204 "nonexistent"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2019-03-14 08:37] #16186 closed, assigned to wanghaoshuang

[2019-03-14 08:37] StarGu commented on #16204
安装的时候出现如下错误：
 Found existing installation: protobuf 2.4.1
Cannot remove entries from nonexistent file

[2019-03-14 08:39] #16204 closed, assigned to nobody

[2019-03-14 08:47] jerrywgz commented on #16200
目前还没有复现这个模型

[2019-03-14 08:48] joodo commented on #15762
明白了，还以为是对代码理解有误，谢谢

[2019-03-14 08:48] #15762 closed, assigned to wanghaoshuang

[2019-03-14 08:53] yeyupiaoling commented on #16200
有没有其他朋友复现的呢？

[2019-03-14 08:56] yeyupiaoling commented on #16181
@wzzju

如果是换成自己的数据集，然后修改读取标注文件的方式，如下。也会出现这种情况。
[code]

[2019-03-14 09:40] Yancey0623 commented on #15380
Will close this issue, fixed by #15551

[2019-03-14 09:40] #15380 closed, assigned to Yancey0623

[2019-03-14 10:55] bluemandora opened #16207 "多loss的情况下，可不可以在代码中动态选择需要反向传播的loss"
loss = loss1 + loss2
opt = fluid.optimizer.SGD()
opt.minimize(loss)

多任务训练可以这样写多个loss求和，但是如果一部分数据只需要反向传播loss1，另一部分数据只需要反向传播loss2，应该怎么写呢

[2019-03-14 11:33] lidanqing-vv commented on #15615
我们的结果完全不一样，lrn应该是100%的，您可以用下面的编译指令重新生成一下吗  @luotao1 谢谢
⦁        cmake .. -DWITH_GPU=OFF -DWITH_PROFILER=ON -DWITH_STYLE_CHECK=OFF -DWITH_MKLDNN=ON -DWITH_TESTING=ON -DWITH_COVERAGE=ON 
⦁        make -j 12
⦁        ctest -R mkldnn
⦁        lcov --capture --directory . --output-file coverage.info 
⦁        genhtml --demangle-cpp coverage.info --output-directory out

[2019-03-14 11:40] luotao1 commented on #15615
我是CI上的结果。

[2019-03-14 11:43] lidanqing-vv commented on #15615
Could you please tell how to reproduce it with commands ? It seems we have different procedure... 请问怎么reproduce呢，可以有什么指令吗？ 非常感谢！

[2019-03-14 11:46] lidanqing-vv commented on #15615
We are checking build log, hope we could find something. Thanks. If you have any further information, please inform us. Thanks

[2019-03-14 13:39] snowsteper opened #16209 "python paddle 如何流式预测"
如题

当前通过fluid.io.load_inference_model的方式加载模型的时候，模型加载和实际的exe.run预测都需要在with fluid.scope_guard(inference_scope)结构下面，这导致流式预测的时候，每次都要加载一次模型
有没有可以把加载模型和实际预测操作分离的方式完成预测？

[2019-03-14 13:45] AmitRozner commented on #16071
@yeyupiaoling Using less tests (i.e. without multi scale) will result in performance degradation. Can I choose to run the full test on 8GB GPU even if it runs slower? I can run it on CPU as well but I want to take advantage of the 8GB GPU capability.

[2019-03-14 14:17] jerrywgz commented on #16207
可以给输入加个label（0，1），例如现在有两个样本a，b，label分别为0，1，同时a样本对应loss1，b样本对应loss2
在算loss的时候可以表示为loss1*（1-label）+loss2*label

[2019-03-15 02:33] jerrywgz commented on #16203
我们目前v2的代码已经不再维护了，请迁移至fluid版本

[2019-03-15 02:34] liushanshan07 opened #16215 "源码编译错误：编译新增功能的分支版本，cuda9.0-cudnnv7出现Exception: patch core..so failed"
辛苦帮忙看看编译问题：
- 版本、环境信息：
    1）PaddlePaddle版本：分支版本
    2）GPU：请提供GPU型号，CUDA9.0和CUDNNv7版本号
- 安装方式信息：
1）docker编译：
提供docker镜像: docker pull registry.baidu.com/paddlecloud/paddlecloud-runenv-centos6u3-online:paddlecloud-v1.3.0-gcc540-cuda9.0_cudnn7
编译命令：bash -x paddle/scripts/paddle_build.sh build
2)编译出现问题

[ 96%] Generating paddle_fluid.dir/fill_zeros_like_op.objlist
[ 96%] Generating paddle_fluid.dir/ga

[2019-03-15 02:34] jerrywgz commented on #16197
这个是python 的multiprocessing.Process，不是fluid多进程执行模式

[2019-03-15 02:36] jerrywgz commented on #16200
现在paddle还没有将复现这个模型列入计划，您这边可以尝试开发，我们这边会提供协助，或是提个需求我们进行排期

[2019-03-15 02:47] NHZlX commented on #16209
[code]

fluid.io.load_inference_model 已经做了加载模型的工作，之后用exe.run 预测就可以，可以不用每次都load model。

[2019-03-15 02:51] yeyupiaoling commented on #16071
@qingqing01 青青姐，我将输入图片Resize小点也不行的。
最后我是使用这一行代码预测的：https://github.com/PaddlePaddle/models/blob/4dc42a621ec5b2f9c369dc8f6b6e9da18bf932e6/fluid/PaddleCV/face_detection/widerface_eval.py#L55

看注释是说CPU跑这行代码，但是CPU根本机跑不了的，一启动内存就炸了，我的是8G内存，另外还有11G交换。都不行。

只有使用GPU来跑这个：https://github.com/PaddlePaddle/models/blob/4dc42a621ec5b2f9c369dc8f6b6e9da18bf932e6/fluid/PaddleCV/face_detection/widerface_eval.py#L55
才能

[2019-03-15 02:57] JiabinYang commented on #16215
那这个问题您可以去paddle cloud的群里提问下，看起来是/usr/bin/patchelf --set-rpath '$ORIGIN/../libs/这个指令没有执行成功

[2019-03-15 03:08] yeyupiaoling commented on #16071
@AmitRozner
I can use 8G GPU to run it. But I can't use CPU to run it. You must use [this code](https://github.com/PaddlePaddle/models/blob/4dc42a621ec5b2f9c369dc8f6b6e9da18bf932e6/fluid/PaddleCV/face_detection/widerface_eval.py#L55)  run use GPU.

[2019-03-15 03:16] snowsteper commented on #16209
跑通了，感谢。
另外，问下，如果不加with fluid.scope_guard(inference_scope)就可以进行所有的操作，那声明Scope以及使用这个with结构的意义是什么呢，看book里面的预测里面都采用了这个结构

[2019-03-15 03:24] NHZlX commented on #16209
请问一下，加上这个scope ，你这边有哪些操作进行不了

[2019-03-15 03:29] yeyupiaoling commented on #16071
@qingqing01 我发现我把模型保存为预测模型之后，再使用预测模型预测，这时候无论是使用GPU还是CPU都可以正常预测了。如下代码：
[code]

[2019-03-15 03:33] yeyupiaoling commented on #16071
@AmitRozner I try success. When I use [this code](https://github.com/PaddlePaddle/models/blob/4dc42a621ec5b2f9c369dc8f6b6e9da18bf932e6/fluid/PaddleCV/face_detection/widerface_eval.py#L317-L319)  to save model. Then use the code to infer image .  You use GPU or CPU to run it.
[code]

[2019-03-15 03:35] snowsteper commented on #16209
就是题目里提的，使用with scope这个结构，所有的操作都必须在with这个结构里面，就导致模型的加载和预测没法分离，流式预测的时候每条数据都要加载模型
现在来看，不用scope这个结构，就能完成加载和预测所有的操作，所以这边想问一下用Scope的意义是什么

[2019-03-15 03:35] liuliu4348 opened #16216 "在k8s集群中通过service暴露端口，创建分布式任务失败"
- 版本、环境信息：
    1）PaddlePaddle版本：0.14
    2）CPU：Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GHz
    4）系统环境：k8s(v1.10.7)，镜像信息(hub.baidubce.com/paddlepaddle/paddle: 0.14.0)
- 训练信息
    1）多记多卡
    2）Operator信息
- 复现信息：在k8s中先启动4个service，暴露端口6174，然后再启动与之对应的4个pod，其中两个为PSERVER，两个为TRAINER，通过service的clusterIP和端口可以访问相应的pod提供的服务。
在pod中写入相应的环境变量,以第一个PSERVER的pod为例:
    PADDLE_TRAINING_ROLE=PSERVER
    PADDLE_PSERVER_IPS

[2019-03-15 03:37] yeyupiaoling commented on #16200
@jerrywgz 我有先您们的公众号提了需要复现的模型，但是估计没那么快吧。我还是先自己尝试自己复现吧，公司不会等那么久的。我遇到问题再向您们提问。

[2019-03-15 03:37] #16200 closed, assigned to jerrywgz

[2019-03-15 03:40] yeyupiaoling commented on #16071
@qingqing01 青青姐，我突然想到一个问题，这些代码的区别是什么：https://github.com/PaddlePaddle/models/blob/4dc42a621ec5b2f9c369dc8f6b6e9da18bf932e6/fluid/PaddleCV/face_detection/widerface_eval.py#L48-L52

[2019-03-15 05:07] jacquesqiao commented on #16216
看日志端口是被占用了

[2019-03-15 08:10] NHZlX commented on #16209
scope可以认为保护 inference_program。应用场景的话，我估计是多个模型同时用python加载的时候，会用到

[2019-03-15 08:16] bluemandora commented on #16207
loss的问题已经解决了，现在计算auc 的时候设置了slide_steps，由于用的是default_main_program，数据a和b都会被用来计算auc，但是只希望用数据a计算auc，这个应该怎么办呢 @jerrywgz

[2019-03-15 08:43] yeyupiaoling commented on #16079
@velconia 建议出个性能对照表，对照Python Reader和Py_reader的性能。

[2019-03-15 09:09] liuliu4348 commented on #16216
问题解决了，不能使用service的IP，要用pod的IP

[2019-03-15 09:42] xiangyubo opened #16227 "两个program时，保存模型报错 holder_ should not be null Tensor not initialized yet when Tensor"
   1）PaddlePaddle版本：paddle 1.2 fluid
    4）系统环境：Linux
- 训练信息
    1）单机/单卡

训练 ssd 的时候使用两个 program，一个用于训练（train），一个用于验证（eval）。保存读写参数的时候，希望保存 eval 的那一个。此时会报错
[code]

构建&保存 program 主要代码段：
[code]

初始化&训练代码段
[code]

[2019-03-15 10:01] sneaxiy commented on #16227
能否把报错的CallStacks完整地粘贴出来？

[2019-03-15 11:19] wojtuss commented on #16047
@luotao1 , @hshen14 , as the calibration tool is already merged,  PaddlePaddle documentation could contain the above procedure description. What do you think about it?

[2019-03-15 11:29] wojtuss opened #16229 "How to save model for inference in C-API?"
@luotao1
Is there any way to save an optimized and quantized model for inference in C-API?
If not, is there any simple way to implement it?

[2019-03-15 11:48] junjun315 commented on #16227
从代码看，eval_program 并没有run起来，所以没有被执行，里面的变量没有正确的指向。试着先exe.run起来看看

[2019-03-15 12:49] frankwhzhang opened #16231 "问一下paddle支持空洞卷积操作吗（自建issue）"
根据用户群提问，自建issue.

[2019-03-15 12:49] frankwhzhang commented on #16231
支持，查看conv2d，设置dilation即可。
http://paddlepaddle.org/documentation/docs/zh/1.3/api_guides/low_level/layers/conv.html

[2019-03-15 12:49] #16231 closed, assigned to frankwhzhang

[2019-03-15 13:15] junjun315 commented on #16209
http://paddlepaddle.org/documentation/docs/zh/1.3/advanced_usage/design_idea/fluid_design_idea.html#permalink-5-blockdesc-and-programdesc
可以参考这里的文档，查看with的含义

[2019-03-15 13:24] gethinzhang opened #16232 "gather支持batch"
目前gather的算子，貌似不支持batch查询？我看目前gather的输入guard是

  PADDLE_ENFORCE(index.dims().size() == 1 ||
                 (index.dims().size() == 2 && index.dims()[1] == 1));

[2019-03-15 13:45] kbinias commented on #14775
System information:
- PaddlePaddle version c49e604
- CPU: SKX 8180, MKLDNN version 0.18
- GPU: including CUDA 8.0, cuDNN v7
- OS Platform Ubuntu 16.04
- Python version 2.7.12

Reproduce:
- `cmake .. -DWITH_GPU=ON -DWITH_PROFILER=ON -DWITH_STYLE_CHECK=OFF -DWITH_MKLDNN=ON -DWITH_TESTING=ON`
- `make -j`

Result

[ 74%] Linking CXX static library libpaddle_fluid_origin.a
/usr/bin/ar: /home/kbinias/de

[2019-03-15 14:14] luotao1 commented on #14775
@kbinias Please use the latest image `paddlepaddle/paddle:latest-dev`, or you can solve it by #15109.

[2019-03-15 16:16] qixuxiang commented on #15172
@yeyupiaoling 我也是2080ti，训练不起来，求一份CUDA 10的paddle的pip安装包，邮箱1223790892@qq.com，多谢！！

[2019-03-15 17:39] lidanqing-vv commented on #14775
Building with the same command still reports the same error: file truncation.
Removing the inference and training doesn't work.
PaddlePaddle commit: [81b4fad8b94d85a473875ae0efe634fe46697314](https://github.com/PaddlePaddle/Paddle/commit/81b4fad8b94d85a473875ae0efe634fe46697314)

![image](https://user-images.githubusercontent.com/47151829/54450358-7ce74d80-4750-11e9-89ef-f310aa939abb.png)

Related

[2019-03-16 12:14] luotao1 commented on #14775
@lidanqing-intel please see https://github.com/PaddlePaddle/Paddle/issues/14775#issuecomment-473301707

[2019-03-16 15:10] VitoRazor commented on #12141
这个方法很好用，！感谢！！！

[2019-03-16 15:36] lidanqing-vv commented on #16019
I just want to test my comment date, it seems I have time zone difference

[2019-03-16 23:59] walloollaw commented on #16197
嗯，是用python的Process会出问题，我们在batch predict的时候，业务需要mp.Process，退出的时候出core

[2019-03-17 00:50] xiangyubo commented on #16227
明白了，非常感谢解答~原来只初始化一次 program 还不能直接保存，必须至少用 exe.run 跑过一次才可以保存，感谢

[2019-03-17 00:50] #16227 closed, assigned to junjun315, phlrain

[2019-03-17 07:39] Tianhuo007 commented on #15423
我用的是anconda安装的python3.7，遇到了同样的问题，是core.pyd反编译出了问题吗？

[2019-03-17 07:47] Tianhuo007 opened #16234 "安装完from paddle.fluid import fluid时不能加载core.pyd文件"
版本、环境信息：
   1）PaddlePaddle版本：1.3
   2）CPU：Intel(R) Core(TM) i5-7500
   3）操作系统：Windows10 + anconda3安装python3.7
   4）环境变量设置也没有问题

安装方式信息：
pip安装：pip3 install paddlepaddle

问题：
### import paddle.fluid as fluid 时出现：
Traceback (most recent call last):
  File "C:\Users\longfei\Anaconda3\envs\paddle\lib\site-packages\paddle\fluid\framework.py", line 38, in <module>
    from . import core
ImportError: DLL

[2019-03-17 08:27] benjaminxz commented on #15423
其实我也遇到了相同的问题，不过我的解决方法比较粗暴：删除电脑中所有版本的python，然后再安装某一个需要的版本，添加环境变量。问题解决。

[2019-03-17 08:27] benjaminxz commented on #15423
其实我也遇到了相同的问题，不过我的解决方法比较粗暴：删除电脑中所有版本的python，然后再安装某一个需要的版本，添加环境变量。问题解决。

[2019-03-17 11:08] wangguibao opened #16235 "multi_box_head layer中reshape随机在ValidateShape fail"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle-GPU-py2.7post85-1.3.0
    2）CPU：
    3）GPU：Nvidia k40m cuda 9.0, cudnn5.0/cudnn7.0均可复现
    4）系统环境：Linux 3.10.0_3-0-0-15，python2.7.13
- 训练信息
    1）单机多卡
    2）显存信息 11439MB / 卡
    3）出错的OP：Reshape2
- 复现信息：如为报错，请给出复现环境、复现步骤
复现环境： 公司内虚拟机，账号密码可联系@wangguibao
复现步骤：执行用户的训练脚本，通常经过若干iteration就会复现

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
报错日志：
[code]

可复现的代码片段：
用户网络是Mobile

[2019-03-17 11:12] wangguibao commented on #16235
该bug经过在C++代码中打印日志，定位到如下异常情况，shape[0]变成了一个异常大的数1048576000 （1000 * 1024 * 1024）：

[code]

以下是在paddle/fluid/operators/reshape_op.cc中打印日志的位置：
[code]

[2019-03-17 11:14] wangguibao commented on #16235
看代码Tensor数据是从GPU显存拷贝到CPU内存的，因此需要看以下GPU的内容。这块需要请专业同学帮忙看看怎么调试

[2019-03-18 01:21] yeyupiaoling commented on #15944
@imistyrain  我周末重装系统，在安装PaddlePaddle都不行。我试过直接使用pip默认安装，还使用官网附录提供的win_cpu_noavx_openblas和win_cpu_noavx_mkl都不可以，我每一次都会把site-packages\paddle\libs下的dll库复制到C:/windows/system32下，都是不行。我的Python已经配置环境变量的。

[2019-03-18 01:21] #16079 closed, assigned to velconia, sneaxiy

[2019-03-18 02:43] echoKangYL opened #16241 "安装paddlepaddle报错"
windows10操作系统下，按照官方文档中的流程执行命令：
docker pull docker.paddlepaddlehub.com/paddle:0.14.0-centos7-cpu时报错如下：
Error response from daemon: Get https://docker.paddlepaddlehub.com/v2/: EOF
请问大家如何解决呀~
谢谢~

[2019-03-18 02:49] #14775 closed, assigned to JiabinYang

[2019-03-18 02:49] #14925 closed, assigned to JiabinYang

[2019-03-18 02:52] JiabinYang commented on #16081
what is your gcc version, this error is looks like #16083

[2019-03-18 03:29] Yancey0623 commented on #16235
可以定位到具体哪一条数据么？

[2019-03-18 03:31] benjaminxz commented on #16102
http://paddlepaddle.org/documentation/docs/zh/1.3/beginners_guide/install/compile/compile_Windows.html
这几天我一直在尝试，但是这个教程在我的电脑上并不能全部编译通过，编译环境是一台还原系统后的win10 x64  ，python3.5  cmake-3.14.0-win64-x64  vs2015 update3
步骤严格按照网站上的执行，执行cmake这一步选择了For Python3: cpu版本
执行完第7步，结果几小时的编译后，vs显示  生成有10多个失败  3个跳过 其他成功

Release，fluid_install_dir 文件夹中 并没有相应的lib文件。

[2019-03-18 04:30] luotao1 commented on #16229
There is no save model interface in C-API.
Maybe you could refer to `AnalysisPredictor::LoadParameters()` and `AnalysisPredictor::LoadProgramDesc()` to implement a `SaveParameters()` and `SaveProgramDesc()`.

[2019-03-18 05:26] wopeizl commented on #16102
paddle编译失败了吗？先编译third_party，后编译的paddle？把错误提示麻烦发一下

[2019-03-18 05:26] wopeizl commented on #16234
可以参考一下 https://github.com/PaddlePaddle/Paddle/issues/15423#issuecomment-473631912

[2019-03-18 05:40] neverrop opened #16244 "希望加入类似tf.gradients的算子用于计算梯度，以支持WGAN"
wgan里需要拿到预测标签对原始输入图像的梯度做为一个惩罚，使网络收敛更快，效果更好，这里要用到类似tf.gradients的算子，希望能尽快支持。

[2019-03-18 05:55] wang-kangkang opened #16245 "caffe"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2019-03-18 05:56] wang-kangkang opened #16246 "caffe"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2019-03-18 05:56] #16246 closed, assigned to nobody

[2019-03-18 05:57] #16245 closed, assigned to nobody

[2019-03-18 07:40] xiaolil1 opened #16248 "Performance Regression Caused by Tensor Modification."
We found performance regression measured by single batch size and 28 cores in our regular test. We root-caused the regression was caused by the code change of "set_format" introduced by Tensor modification, which commit ID is dec9cf53c89e0acc605a053b436ba24be68f62c7.
There are 5% regression for FP32, and over 10% regression for INT8 on CLX (below table):

INT8 ( BS = 1, Cores = 28)| ResNet-50 | Mo

[2019-03-18 07:43] xiaolil1 commented on #16248
@jacek @kbinas @tensor-tang @luotao
Please help to solve this issue, thanks!

[2019-03-18 07:44] xiaolil1 commented on #16248
@kbinias

[2019-03-18 07:49] yeyupiaoling opened #16249 "复现PNet网络问题"
# 环境
 - PaddlePaddle 1.2 GPU
 - Ubuntu 16.04
 - Python 3.5

# 问题
我想复现一个tensorflow的模型：
[code]

我写的PaddlePad代码如下：
[code]

报错如下：
[code]

[2019-03-18 07:52] ccmeteorljh opened #16250 "icnet 多机实现，报错"
paddle version：1.3.0
代码路径：
https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/icnet
多机pserver模式下，报错；
**如果将learning_rate设置为固定值，多机就可以运行**；
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/icnet/train.py#L85

报错如下：
[code]

[2019-03-18 07:56] yeyupiaoling commented on #16249
顺便也问一下，`fluid.layers.prelu`这个激活函数的model参数的值应该是什么呢？

[2019-03-18 07:57] yeyupiaoling commented on #16249
还多问一下，tensorflow的在每一个卷积层中都添加了`weights_regularizer=slim.l2_regularizer(0.0005)`，PaddlePaddle是如果添加的呢？

[2019-03-18 08:09] yeyupiaoling commented on #16249
tensorflow使用的损失函数是以下的，我的是PaddlePaddle自带的损失函数，不知道是否正确？
[code]

[2019-03-18 08:13] tensor-tang commented on #16248
This should be inappropriate adding this hard code in paddle @jczaja :
https://github.com/PaddlePaddle/Paddle/blob/2579ade45fb0d2d698ee4ee0a8f6f4162f9ddb5f/paddle/fluid/platform/mkldnn_utils.h#L27-L47

If MKL-DNN memory structure changed, such as update version, then this should crash at somewhere unknown inside  MKLDNN without any error information in paddle side.

And this should have some bugs,

[2019-03-18 08:20] gavin1332 commented on #16250
看着像是这个函数返回的结果异常，我对这个模型不是特别熟悉，可否加个Print op检查下变量内容是否正常？
https://github.com/PaddlePaddle/models/blob/bbdb2469ab676f562c6a3666879425474f57046a/fluid/PaddleCV/icnet/train.py#L57

[2019-03-18 08:20] gavin1332 commented on #16241
如果没有历史版本依赖的话，建议使用最新的版本1.3

[2019-03-18 08:22] gavin1332 commented on #16244
收到您的建议，我们及时反馈

[2019-03-18 08:29] yeyupiaoling opened #16252 "PaddlePaddle有没有关于图片颜色抖动的API"
# 环境
 - PaddlePaddle 1.2
 - Ubuntu 16.04
 - Python 3.5

# 问题
有人使用tensorflow编写了以下的一个函数，我猜是针对输入图片进行颜色抖动，从而增强数据的吧。那么PaddlePaddle有没有类似这个的操作呢？
[code]

[2019-03-18 08:33] yeyupiaoling opened #16253 "PaddlePaddle有没有regularization_losses"
# 环境
 - PaddlePaddle
 - Ubuntu 16.04
 - Python 3.5

# 问题
在tensorflow中有以下和损失函数，PaddlePaddle是如何获取的呢？
[code]

[2019-03-18 08:38] gavin1332 commented on #16249
我加了一点打印代码：
![image](https://user-images.githubusercontent.com/1552048/54517254-1eaeaa80-499c-11e9-8422-9be00368b16c.png)
得到的结果是
(-1L, 2L, 1L, 1L)
(-1L, 2L, 1L)
(-1L, 1L)
可以看出cls_prob和label的shape对不上，跟错误信息一致：
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected rank == label_dims.size(), but received rank:3 != label_dims.size():2.
你再检查下你的网络配置

[2019-03-18 08:39] gavin1332 commented on #16249
其中-1是batch size，是运行时确定的

[2019-03-18 08:41] gavin1332 commented on #16249
这是个可学习的参数layer

[2019-03-18 08:43] gavin1332 commented on #16249
参考：http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/fluid_cn.html#paramattr
regularizer (WeightDecayRegularizer) – 正则因子. 默认为None

[2019-03-18 09:25] yeyupiaoling commented on #16249
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected rank == label_dims.size(), but received rank:3 != label_dims.size():2.
你再检查下你的网络配置

@gavin1332 我对比了tensorflow的代码，应该是正确的哦。

然后我修改了输入层如下：就正确了。但是这样修改好像不是正确的做法吧？
[code]

[2019-03-18 09:36] yeyupiaoling commented on #16249
@gavin1332 按照我上面的修改方式，错误如下：
[code]

[2019-03-18 10:53] ccmeteorljh commented on #16250
print  decayed_lr  这个吗？

[2019-03-18 10:54] superwj1990 opened #16263 "fluid的op精度比pytorch低"
经实验发现，fluid的op精度低于pytorch，在求loss时会导致收敛速度变慢。需要在softmax之前cast成float64解决。

[2019-03-18 10:58] yxfGrace opened #16264 "作业报错Segmentation fault"
报错信息：
![image](https://user-images.githubusercontent.com/29363426/54525454-37748b80-49af-11e9-828b-b9a33dc1abfb.png)
作业版本：paddle-fluid-1.3.0   cuda-9 cudnn 7编译
机器 v100

[2019-03-18 11:05] superwj1990 commented on #16263
在识别服务中，基于相同的数据库，采用resnet34结构。对比了：全连接层（act：softmax）+cross_entroy和全连接层（cast to float64）+softmax_with_cross_entropy两种loss计算方式。前者第8个epoch的acc约等于5%，后者第2个epoch的acc约等于40%，可见精度已经严重影响了收敛速度。

[2019-03-18 11:38] yeyupiaoling commented on #16249
@gavin1332 能否帮我调试调试吗？

[2019-03-18 13:17] renhui19931001 commented on #16136
同问，用mmap内存映射加上py_reader的时候报的错误，请问解决了么

[2019-03-18 13:49] jczaja commented on #16248
@tensor-tang This general way of creating non-blocked format was suggested by MKL-DNN team:
https://github.com/intel/mkl-dnn/issues/156#issuecomment-345772775
You are right, that there is a risk they may change structure, but currently memory format names: nchw, ncw, x etc. are not enough to represent more dimensional data. Starting from MKL-DNN 1.0 this will be the way to define memory format eg.

[2019-03-18 13:51] jczaja commented on #16248
Regarding performance degradation.  Tensor modifications is work in progress We managed to transform most of FP32 ops (We miss pooling & elementwise_mul) , but no of INT8 ops were transformed. This is work to be done and I will be working on that. At the end set_format should not be used and set_mkldnn_prim_desc should be used. When All functionality is implemented then performance degradation sho

[2019-03-18 13:59] jiangjiajun opened #16267 "fluid.layers.space_to_depth问题"
首先, 是给定的文档里面的例子并不能在paddle 1.3版本下运行成功，在搭建网络时就会提示出错
http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#paddle.fluid.layers.space_to_depth
下面是错误提示
[code]

其次, 同样的例子，在tensorflow下，用如下代码可以
[code]
而在PaddlePaddle GPU 1.3版本下，理论上如下代码与上面代码功能一致，但实际上在搭建网络时会出错
[code]

[2019-03-18 14:23] ccmeteorljh opened #16268 "icnet 多机实现nccl2模式报错"
[code]

[2019-03-18 15:50] tensor-tang commented on #16248
Thanks for your explanations @jczaja

intel/mkl-dnn#156 (comment)

Firstly, by saying "This should be inappropriate adding this hard code in paddle", I am not saying this way is wrong, instead, I am say why this code should be in paddle. I think this is something highly related with MKL-DNN itself, which we should just call mkldnn's API.

Secondly, here 5 is just an example, maybe it's 6 or other

[2019-03-18 16:24] tensor-tang commented on #16248
Anyway, if you've already plan or schedule to fix this, please go ahead and make it done ASAP.
And since it is added in tensor.h, please make sure the fix would cover both the fp32 and int8, and of course the performance issue here.
Thanks very much.

[2019-03-19 00:44] yeyupiaoling commented on #16249
@gavin1332 tensorflow的下面代码的处理是正确的。
[code]

输出的维度信息：
[code]

Tensorflow可以正常进行维度转换，但是PaddlePpaddle就报错，而且维度顺序不一样的
[code]

从下面的输出信息可以看出，维度顺序跟Tensorflow的不一样，tensorflow的是`1,1,2`，PaddlePaddle的是`2,1,1`。所以在执行`fluid.layers.squeeze`的时候 就报错。
[code]

[2019-03-19 00:54] Samhandsome opened #16271 "关于fluid.unique_name.guard()"
我在api文档中没有找到关于这个api的详细介绍，请问可以分享下关于fluid.unique_name.guard()的文档吗？

[2019-03-19 01:08] yeyupiaoling commented on #16011
@gongweibao 那么如果用现有的op组合成它呢？

[2019-03-19 01:15] Samhandsome commented on #16271
不好意思，我已经找到了相关的文档了。https://blog.csdn.net/qq_41427568/article/details/87375107

[2019-03-19 01:18] yeyupiaoling commented on #16011
我是这样处理的
[code]

[2019-03-19 01:48] #16011 closed, assigned to nobody

[2019-03-19 03:07] ccmeteorljh opened #16272 "NCCL_LAUNCH_MODE=PARALLEL 环境变量打开，多卡下容易hang住"
paddle version:1.3.0
[code]
在transformer，image_classification, deeplabv3+ 都会出现；

[2019-03-19 03:08] Xreki commented on #15689
PaddleCloud训练任务默认设置时间为10个小时，这个应该是因为时间到了，所以退出了。

[2019-03-19 03:21] yeyupiaoling opened #16273 "MTCNN模型的交叉熵损失函数"
# 环境
 - PaddlePaddle
 - Ubuntu 16.04
 - Python 3.5

# 问题
我想用PaddlePaddle复现MTCNN模型的交叉熵损失函数，以下的tensorflow的代码
[code]

我用PaddlePaddle大概复现了一下，逻辑也不知道对不对的。
[code]

在使用的时候报错：
[code]

恳请各位老师帮忙复现一下，谢谢。

[2019-03-19 04:16] qingqing01 commented on #16263
- FP32测试:  全连接层（act: softmax）+ cross_entroy  和  softmax_with_cross_entropy两种loss计算方式，这个在ImageNet分类+MobileNet等模型上验证过一致 。

- FP64的cast，能贴下复现方式吗? @superwj1990

[2019-03-19 06:09] Xreki commented on #16273
[code]

错误在于`cond`这个tensor。`cond`这个tensor用于while里面，其维度必须是1，而它是`less_than`产生的，这就要求`less_than`的两个输入的维度也必须是1。建议改成如下：

[code]

[2019-03-19 06:17] yeyupiaoling commented on #16273
@Xreki 在下面有个数组拼接，这个如果出来呢？

[code]

保存如下：
[code]

[2019-03-19 06:34] rajkumard opened #16279 "Total CPU Cores are 50% only utilized"
Environment : PaddlePaddle Docker Image, nvidia docker. Python 2.7

CPU:
processor       : 39
vendor_id       : GenuineIntel
cpu family      : 6
model           : 79
model name      : Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz

Version:
xyz@testdomain:/usr/local/lib/python2.7/dist-packages/paddle/v2# paddle version
PaddlePaddle latest, compiled with
    with_avx: ON
    with_gpu: OFF
    with_mkl:

[2019-03-19 06:35] yeyupiaoling commented on #16273
@Xreki 请问使用PaddlePaddle如何实现以下代码呢？主要是最后两行。
[code]

[2019-03-19 06:40] Xreki commented on #16271
您好，我们目前缺乏这个API的文档，感谢您的指出，我们会尽快补上。

[2019-03-19 06:42] Samhandsome commented on #16271
@Xreki 好的，请补上之后通知我一下，谢谢

[2019-03-19 07:03] yeyupiaoling opened #16281 "关于reshape的一些问题？"
# 环境
 - PaddlePaddle
 - Ubuntu 16.04
 - Python 3.5

# 问题

Tensorflow的

[code]

Paddlepaddle这样两个是否等效？
[code]

[2019-03-19 07:06] Antsypc opened #16282 "paddlepaddle-gpu在无GPU docker中运行CPU训练"
- 版本、环境信息：
    1）paddlepaddle-gpu-1.3.0.post97, python3.6
    2）安装方式 `pip install --upgrade paddlepaddle-gpu=1.3.0.post97`
    3）CPU：GenuineIntel Intel(R) Xeon(R) Gold 6154 CPU @ 3.00GHz
    4）GPU：无
    5）系统环境：docker Ubuntu 16.04

- 训练信息：单机，无卡

- 问题描述：
  1）代码是 https://github.com/PaddlePaddle/book/tree/develop/03.image_classification
  2)  运行 `python train.py`
  3) 错误信息如下

[code]

[2019-03-19 07:12] maxsim-memetu opened #16283 "error using bpr_loss operator"
I'm new to paddle. When I'm using bpr_loss operator in the following code snippet:
[code]
I get this erorr and call stack:

[code]

I installed paddle from source with CPU only option and my OS is ubuntu-16
I would like to know where I'm doing wrong?
thanks in advance!

[2019-03-19 07:16] #16264 closed, assigned to nobody

[2019-03-19 07:25] yuanyc06 opened #16285 "如何进行Variable和numpy数据结构相互转换"
请问如何进行paddle.fluid.framework.Variable和numpy数组之间的相互转换？目前网上搜不到任何可行的方法

[2019-03-19 07:32] yeyupiaoling commented on #16273
@Xreki 妳好，能否指点以下如何使用PaddlePaddle实现以下代码
[code]

[2019-03-19 07:33] shippingwang commented on #16263
FP32测试
ResNet 50
softmax + cross_entropy
![image](https://user-images.githubusercontent.com/13645332/54587828-30f01d80-4a5c-11e9-93b0-9e7f7e858aa3.png)

softmax_with_cross_entropy
![image](https://user-images.githubusercontent.com/13645332/54587849-406f6680-4a5c-11e9-910c-b4eeb944b2aa.png)

验证结果一致

[2019-03-19 08:05] Xreki commented on #16273
`tf.range`是获取一个tensor，data为`0,1,2,...,num_row-1`？目前PR https://github.com/PaddlePaddle/Paddle/pull/15431 ，还在review中。

`*2`这个操作，你需要使用`fill_constant`或者`fill_constant_batch_size`初始化一个值为2的tensor，然后用`elementwise_mul`实现`*`。

[2019-03-19 08:42] Meiyim opened #16286 "ParallelExector Fetch两个名字一样的tensor，返回值异常"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
1.3.0
    2）CPU:   预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
P40, CUDA Capability: 61, Driver API Version: 10.0, Runtime API Version: 9.0
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
          Pyt

[2019-03-19 08:46] drmfsls opened #16288 "paddle1.3版本paddle.fluid.layers.affine_channel的问题"
paddle.fluid.layers.affine_channel的参数如文档描述如下：

- x (Variable):特征图输入可以是一个具有NCHW阶或NHWC阶的4D张量。它也可以是二维张量和应用于第二维度的仿射变换。

- scale (Variable): 形状为(C)的一维输入，第C个元素为输入的第C通道仿射变换的尺度因子。

- bias  (Variable):形状为(C)的一维输入，第C个元素是输入的第C个通道的仿射变换的偏置。

- data_layout (string, default NCHW): NCHW 或 NHWC，如果输入是一个2D张量，可以忽略该参数

- name (str, default None): 此层的名称

可见scale、bias和x之前有依赖关系，使用中发现如果C值没有正确对应也能正常计算，并没有抛异常，且同一输入，执行多次结果不一

[2019-03-19 08:47] yeyupiaoling commented on #16273
@Xreki 我目前是这样实现，但是报错的。PaddlePaddle对是不是不能执行广播呢？

[code]

报错信息：
[code]

还有这样写的逻辑正确吗？

[2019-03-19 08:52] #16241 closed, assigned to nobody

[2019-03-19 09:02] yeyupiaoling opened #16289 "Variable如何取相反值"
# 环境
 - PaddlePaddle
 - Ubuntu 16.04
 - Python 3.5

# 问题
我想对以下的操作取反，但是使用`-`是报错的，我该如果使用？
[code]

保存如下：
[code]

[2019-03-19 09:04] gavin1332 commented on #16268
请问是paddle的哪个版本

[2019-03-19 09:06] Ashleychen commented on #14164
我遇到了相同的问题，gpu模式下当我batch_size设成1，本来应该返回shape：(batch_size, seq_len, 1），实际返回(seq_len，1)，batch_size这一维被吃掉了。看来这个bug还没有修复？

[2019-03-19 09:12] celineJiang opened #16291 "infer时，当先后加载检测和分类两个网络时，分类网络的参数未被load进去"
- 版本、环境信息：
    1）PaddlePaddle版本：1.3
    2）系统环境：Ubuntu16.04，Python 3.5
- 问题描述：
    由于工程需要，需要先使用ssd256进行检测，再将检测框处的图片裁剪出来输入MobileNet中进行识别。前期二者的训练与验证均为分开进行，若且单独进行infer阶段，均能获得很好的结果。但若将二者串行运行，则MobileNet的模型参数将无法被加载，导致其网络参数随机初始化，使得识别结果出错，由于只有两类，会出现全为1或0的情况。请问这种情况应该如何解决？感谢！
    错误分类的结果输出：
Test-0-score: 0.8182742595672607, class 1
Test-1-score: 0.7910793423652649, class 1
Test-2-score: 0.7845519781112671, c

[2019-03-19 09:13] Xreki commented on #16285
经线下讨论，用户的实际需求是focal loss，@qingqing01 在https://github.com/PaddlePaddle/Paddle/issues/13947 中给出了用已有op组合的方法。

Paddle 1.3新增了[py_func op](http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#py-func) ，使得用户可以使用 py_func 在Python端注册operator。用户将尝试使用`py_func`解决该问题，参考示例https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_py_func_op.py

[2019-03-19 09:16] yeyupiaoling commented on #16273
@Xreki 我把他们换了个位置
[code]

报错如下：
[code]

[2019-03-19 09:20] Yipeng-Sun commented on #15390
ROI预测为空的bug, 采用IF-ELSE判断，待debug跟进

[2019-03-19 09:22] gavin1332 commented on #16253
暂时没有列举某系列函数的方法，我们会考虑未来提供相关功能支持

[2019-03-19 09:23] gavin1332 commented on #16253
不过参数正则化的方法可以在文档中找到：
http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/fluid_cn.html#paramattr
regularizer (WeightDecayRegularizer) – 正则因子. 默认为None

[2019-03-19 09:23] #16253 closed, assigned to gavin1332

[2019-03-19 09:24] Yipeng-Sun commented on #15385
lod_level=2时，训练会挂，原因未RNN step_input输入参数不支持，bug fix分支PR

[2019-03-19 09:29] gavin1332 commented on #16250
poly_decay()这个函数的返回值

[2019-03-19 09:30] gavin1332 commented on #16250
PS，单机可以正常运行吗？

[2019-03-19 09:37] gavin1332 commented on #16249
我理解这是个二分类问题？如果是的话，可以按照如下方式squeeze：
cls_prob = fluid.layers.squeeze(input=conv4_1, axes=[2,3], name='cls_prob')
我在你代码基础上尝试成功。

[2019-03-19 09:41] Xreki commented on #16291
你确定是分类模型参数不对吗？你的代码里应该都使用的是默认的scope吧，如果先load ssd，再load mobilenet，很有可能是mobilenet的一些参数覆盖了ssd的参数，导致ssd结果不对，从而mobilenet的结果也就不对了吧？

可尝试先后两次infer在不同的scope里面进行。

https://github.com/PaddlePaddle/Paddle/blob/d3acf680445a7cadd05949a7cc7bbb95a0c82641/python/paddle/fluid/tests/book/test_image_classification.py#L210-L211

[2019-03-19 09:43] tensor-tang commented on #16279
Please print the `paddle.__version__`
And do you use fluid? or v2?  or could you show us how you write your script.

The default `executor` only use 1 core. You should use [ParallelExecutor](http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/fluid_cn.html#parallelexecutor) to run with multi-threads.

[2019-03-19 10:22] JiabinYang commented on #16267
您好，这个文档已经提交修复了 #16293 ，文档中例子出现的问题是因为paddle的data_layer会在第一不是-1的时候append一个-1的维度作为batch_size，而第二个例子不能正常执行是因为paddle的space_to_depth只支持`[batch, channel, height, width]`的layout, 而且channel需要能被block_size的平方整除

[2019-03-19 10:33] JiabinYang commented on #15297
please reply this @wopeizl

[2019-03-19 10:37] qingqing01 commented on #16252
@yeyupiaoling  PaddlePaddle框架未提供这些，我们一般在Python里做这些扰动操作，可以参考 https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/reader.py#L76  。

[2019-03-19 10:40] Xreki commented on #16273
`indices_ = fluid.layers.concat([indices_, temp1])`

这么执行的目的是什么？`indices_`是一个tensor_array，temp1是一个tensor，应该不能`concat`，或者结果不可预料。

while_op和tensor_array使用的例子，请参考：
https://github.com/PaddlePaddle/models/blob/bbdb2469ab676f562c6a3666879425474f57046a/fluid/PaddleCV/ocr_recognition/attention_model.py#L246-L335

[2019-03-19 10:41] qingqing01 commented on #16288
@drmfsls 给您带来的问题表示抱歉，非常感谢指出，这就增强下~

[2019-03-19 10:49] wopeizl commented on #15297
看起来是依赖包pil有问题 可以尝试先pip uninstall pillow 再安装paddle试试

[2019-03-19 10:50] wopeizl commented on #15297
paddle1.3也已经发布 推荐使用新版本

[2019-03-19 10:50] pawelpiotrowicz commented on #15615
Macro REGISTER_OP_KERNEL is not able to set correct handle for all grad functions such TouchOpKernelRegistrar_transpose_grad_MKLDNN_DEFAULT_TYPE().
Due to missed registration, we can’t cover all functions in tests. The issue is globally, moreover practical working example how to register kernel and enforce touchopkernelregistrar_grad correctly doesn’t exist. The open question is - do we really sho

[2019-03-19 10:51] Xreki commented on #16289
Paddle应该是没有定义这个运算符。有两种方法：

[code]

或者

[code]

[2019-03-19 10:56] Antsypc commented on #16282
所以，这个问题是，gpu版本的paddlepaddle也应该在没有GPU的服务器上成功运行才人性化。

望考虑一下，谢谢！

[2019-03-19 11:05] Xreki commented on #16282
感谢您的使用和建议，我们将慎重考虑和优化。在此之前您可以先使用paddlepaddle-cpu版本，:smile:

[2019-03-19 11:08] Xreki commented on #16281
您好，可以将相应var的shape打印出来进行确认。

[2019-03-19 11:16] Xreki commented on #16283
Your give wrong data type. See the document: http://paddlepaddle.org/documentation/docs/en/1.3/api/layers.html#bpr-loss

![image](https://user-images.githubusercontent.com/12538138/54601826-05306000-4a7b-11e9-9156-9c994f9dd007.png)

while `input` should be a tensor of `float` or `double`, `label` should be a tensor of `int64`. Please try following codes:

[code]

[2019-03-19 11:18] yeyupiaoling commented on #16289
@Xreki 好的，谢谢您。

[2019-03-19 11:20] #16289 closed, assigned to nobody

[2019-03-19 11:25] yeyupiaoling commented on #16281
@Xreki  打印出来有点区别，因为tensorflow的batch是真实值，PaddlePaddle的是-1

[2019-03-19 11:29] yeyupiaoling commented on #16273
@Xreki 因为我要生成下面tensorflow的row，这个row的维度更batch一样大小，然后跟输入层的label相加，就有了上面的代码。
[code]

[2019-03-19 11:29] yeyupiaoling commented on #16252
@qingqing01 好的，明白，谢谢青青姐。

[2019-03-19 11:29] #16252 closed, assigned to gavin1332

[2019-03-19 11:32] yeyupiaoling commented on #16249
@gavin1332 谢谢你的回答，我把axes设置为[]就可以了，然后正确的PNet网络如下:
[code]

[2019-03-19 11:32] #16249 closed, assigned to nobody

[2019-03-19 11:34] yeyupiaoling commented on #16071
@qingqing01 青青姐，能解释以下if和else的不同点吗?然后我好解决这个问题，最后close

[2019-03-19 12:17] Xreki commented on #16281
`cls_prob_reshpae`数据实际的shape，应该是`cls_prob数据实际的长度 / num_cls_prob`。可将`cls_prob_reshpae`设置为`Executor.run()`的`fetch_targets`，这样可以打印出实际数据的长度。

或者使用`print` op打印，`print` op API文档：http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#print

[2019-03-19 12:25] ccmeteorljh commented on #16250
单机可以运行

[2019-03-19 12:30] shippingwang commented on #16263
@superwj1990 麻烦贴一下 cast64的相关代码 我在fc前 fc后加cast 64 都报错

[2019-03-19 12:40] Xreki commented on #16286
这个可能是`fetch_list=[loss.name, loss.name]`出现相同名字情况下的bug。

[2019-03-19 12:52] Xreki commented on #16272
您好，请问使用几张卡？大概执行多久之后hang住？可以看出hang在什么地方吗？

[2019-03-19 12:55] xuzhenglei1991 opened #16297 "联编C++paddle库时发生protobuf依赖冲突错误"
- PaddlePaddle版本：0.14.0
- 安装方式信息：bcloud联编       
其中一个lib依赖CONFIGS('third-64/protobuf@protobuf_2-4-1-1100_PD_BL')
已在BCLOUD中增加INCPATHS('$OUT_ROOT/third-64/protobuf/output/include') 强制改为3002000
仍然报错：
[code]

[2019-03-19 13:03] Xreki commented on #16297
- 您使用的PaddlePaddle版本太老，建议更新到新的版本
- 您可以尝试链接动态库，动态库里面不会暴露`protobuf`相关的符号

[2019-03-19 13:38] ccmeteorljh opened #16298 "machine_reading_comprehension 模型多机实现pserver模式报错"
[code]

[2019-03-19 13:52] celineJiang commented on #16291
因为是检测部分的infer结束后才加载的分类模型，所以我认为是分类的参数有问题。
我尝试了先后使用不同scope的方法，但是结果并没有好转。请问是否使用scope后，只能通过load_inference_model来获取需要run的program？

[2019-03-19 14:00] yeyupiaoling commented on #16281
好的，谢谢。

[2019-03-19 14:00] #16281 closed, assigned to nobody

[2019-03-19 14:28] yeyupiaoling commented on #16273
@Xreki  我把`elementwise_add`换成`sum`就可以通过，但是不知道是否正确，还请老师赐教。
[code]

我只是想复现tensorflow的以下两行代码而已
[code]

[2019-03-19 14:38] littletomatodonkey opened #16299 "LoDTensor创建"
我在做检测任务时，box_coder的op的一个输入的tensor打印出来如下
![image](https://user-images.githubusercontent.com/14270174/54614585-a0373300-4a97-11e9-84ce-0a8301e7f695.png)

我现在有一个tensor，信息如下
![image](https://user-images.githubusercontent.com/14270174/54614386-46cf0400-4a97-11e9-8008-88f9c67bf415.png)

我想问一下怎么使用下面的tensor生成上面的图中所示的tensor呢（第一个维度是不确定的，不影响，希望下面的变量也具有Lod的属性）？

[2019-03-19 14:42] xiaobaiying opened #16300 "请问gpu版本和dev版本有什么区别吗？为什么AnyQ的README中要求安装的是dev?"
谢谢解答！

[2019-03-19 15:25] AmitRozner opened #16302 "How to limit GPU memory of Fluid"
**System information**
-PaddlePaddle version 1.3
-CPU: i7-6700
-GPU: NVIDIA 1080TI CUDA:9.2
-OS Platform Ubuntu 16.04
-Python version 3.5

When I run Pyramid Box model (from widerface_eval.py) on a 1080TI GPU it creates out of memory error (on a single image). I lowered the numbers in the 'get_shrink' function to make it fit the GPU memory (thus doing a smaller resize). Is there another way or env

[2019-03-19 21:26] kbinias commented on #15615
@luotao1 What do you think about above problem ?

[2019-03-20 00:52] yeyupiaoling commented on #16302
@AmitRozner You can remove this code : https://github.com/PaddlePaddle/models/blob/4dc42a621ec5b2f9c369dc8f6b6e9da18bf932e6/fluid/PaddleCV/face_detection/widerface_eval.py#L47-L53

Or use this code:
[code]

[2019-03-20 00:59] yeyupiaoling commented on #16253
@gavin1332 我说我怎么没找到这个issue，原来是你偷偷关闭了，我连邮件都没收到。

我主要是想复现tensorflow的这个损失函数，其中就需要到这个L2_loss，
[code]

函数的公式：

![image](https://user-images.githubusercontent.com/26297768/54651577-74936780-4aee-11e9-8ee4-8d916069ddff.png)

[2019-03-20 01:09] yeyupiaoling opened #16305 "elementwise_add，sum，sums的区别是什么?"
同样是求和，这三个接口有什么区别呢？还请赐教。

[2019-03-20 01:18] yeyupiaoling opened #16306 "请教topk的使用问题"
# 环境
 - PaddlePaddle 1.3 GPU
 - Ubuntu 16.04
 - Python 3.5

# 问题

我在使用topk的时候，出现报错信息，是不是k值的使用不正确，应该如和修改？
[code]

报错信息如下：
[code]

[2019-03-20 02:07] gavin1332 commented on #16268
同作者类似issue，此issue关闭
https://github.com/PaddlePaddle/Paddle/issues/16250

[2019-03-20 02:07] #16268 closed, assigned to gavin1332

[2019-03-20 02:32] yeyupiaoling opened #16307 "请问如何单纯对PRelu进行输入计算和输出？"
# 环境
 - PaddlePaddle 1.2
 - Ubuntu 16.04
 - Python 3.5

# 问题
我想对比以下tensorflow和PaddlePaddle的PRelu是否等效，所以想给定一个数，然经过PRelu计算得到结果，但是这样是不能执行的，那么如何实现输入和计算输出呢？
[code]

tensorflow实现的PRule：
[code]

[2019-03-20 03:01] gavin1332 commented on #16244
python前端目前有获取并应用梯度的一些方法：
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/optimizer.py#L404
不知能否解决你的问题？

[2019-03-20 03:07] nizihan opened #16308 "softmax_with_cross_entropy报错Tensor holds the wrong type"
fluid 1.3
CUDNN_VERSION=5.1
CUDA_VERSION=8.0

代码内容：
[code]
其中：

1553050837      smooth_label_out_onehot Tensor[label_smooth_0.tmp_0]
        shape: [13,92,]
        dtype: f
        LoD: [[ 0,13, ]]
        data: 0.00108696,0.00108696,0.00108696,0.901087,0.00108696,0.00108696,0.00108696,0.00108696,0.00108696,0.00108696,
1553050837      prediction_0    Tensor[cast_6.tmp_0]
        shape: [13,92,]

[2019-03-20 03:08] Xreki commented on #16299
可以使用`set_recursive_sequence_lengths`设置，例如：

https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_tensor.py#L95

[code]

具体请看LoDTensor的文档：http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/fluid_cn.html#lodtensor

[2019-03-20 03:18] panyx0718 commented on #15615
do you mean paddle can't register some kernel or paddle can't select some registered kernels?

can you search REGISTER_OP_KERNEL_WITH_CUSTOM_TYPE and see if it works for you?

[2019-03-20 03:29] Xreki commented on #16300
PaddlePaddle有多个docker镜像，完整的列表见：
https://hub.docker.com/r/paddlepaddle/paddle/tags

其中`-dev`结尾的为开发镜像，用来从源码编译Paddle，且其中没有预装Paddle。其他镜像皆为产品镜像，其中预装了不同版本不同配置的Paddle，用户可根据需求自取。

请看文档：http://paddlepaddle.org/documentation/docs/zh/1.3/beginners_guide/install/install_Docker.html

AnyQ的`README`最新更新时间为8个月之前，文档内容只能说明，他们当初用的是`-dev`镜像从源码编译的，Paddle在近8个月只能有很多更新，你可以拉取时间最接近的产品镜像使用。

[2019-03-20 03:33] luotao1 commented on #15615
@shanyi15 Could you help to update [How to add new op](http://paddlepaddle.org/documentation/docs/en/1.3/advanced_usage/development/new_op/new_op_en.html) to introduce so many different REGISTER MACRO?

[2019-03-20 03:34] clmtulip opened #16309 "lambda_cost 在fluid 版本里面缺失，请求迁移"
LambdaRank[6)]是Listwise的排序方法，在旧版paddle中实现了，fluid中没有被迁移

[2019-03-20 03:36] clmtulip opened #16310 "排序学习(Learning To Rank) 文档失效"
排序学习(Learning To Rank) http://www.paddlepaddle.org/documentation/models/en/0.14.0/ltr/README.html

该文档中的实现方法和代码链接均失效，希望示例更新到最新fluid版本，谢谢。

[2019-03-20 03:39] Xreki commented on #16302
First, try `export FLAGS_fraction_of_gpu_memory_to_use=` to a smaller value, but this won't change the total used gpu memory.

Can you find out how much memory this model need exactly? And can you try to reduce the test set of images?

[2019-03-20 03:49] xuezhong commented on #16298
这个代码改过吗

[2019-03-20 03:55] Xreki commented on #16291
只需在这里加2行，其他的不用修改：
[code]

建议先把mobilenet的infer简化一下，可以尝试拿一个确定的测试样本来测试下。

[2019-03-20 04:03] OliverLPH opened #16311 "centos Paddle tensorRT编译错误"
- 版本、环境信息：
    1）PaddlePaddle版本：1.3
    2）CPU：
    3）GPU：无
    4）系统环境：CentOS release 6.3 (Final)
- 编译信息：
     1）本地编译tensor RT
流程根据：https://github.com/PaddlePaddle/FluidDoc/blob/08cb0128b0a0bd0b83e0858d7a3a959e3c98e96d/doc/fluid/advanced_usage/deploy/inference/paddle_tensorrt_infer.md

因为没有GPU，所以执行了
[code]
拉取镜像并在容器中编译。

然后在build文件夹中进行
[code]

遇到了问题，log如下
<img width="1015" alt="9b6a032e2f1d6078d06ba

[2019-03-20 04:03] tensor-tang commented on #15599
Any update about this issue?

[2019-03-20 04:05] wanghaoshuang opened #16312 "test_dist_ctr failed in ci task"
CI task: http://ci.paddlepaddle.org/viewLog.html?buildId=71978&tab=buildLog&buildTypeId=PaddleMac_MacPrCi&logTab=tail

Error log:

[code]
相关code:
test_dist_base: https://github.com/PaddlePaddle/Paddle/blame/develop/python/paddle/fluid/tests/unittests/test_dist_base.py#L365

PR: https://github.com/PaddlePaddle/Paddle/pull/16226

可能的原因：

- 单测间计算资源争用？
- 单测使用的相同的本地路径做checkpoints？

[2019-03-20 04:21] wanghaoshuang commented on #16312
选择ci server ip_10.26.62.43_mac rerun: http://ci.paddlepaddle.org/viewLog.html?buildId=72324&buildTypeId=PaddleMac_MacPrCi&tab=buildResultsDiv

Failed

ip_10.26.62.43_mac上一个成功的task: http://ci.paddlepaddle.org/viewLog.html?buildId=72262&tab=buildResultsDiv&buildTypeId=PaddleMac_MacPrCi

[2019-03-20 04:51] zhoukunsheng opened #16314 "[Operator] add reduce_all, reduce_any op"
test=develop
reduce_all computes logical_and on single tensor;
reduce_any computes logical_or on single tensor;

[2019-03-20 05:27] OliverLPH commented on #16311
报错之后，会自动关闭docker容器和docker服务。

随后重新启动docker，然后运行指令
[code]
编译一段时间，随后也会自动关闭docker容器和docker服务

[2019-03-20 05:27] Xreki commented on #16273
你期望得到的`indices_`应该是一个tensor，值为`[0 *2 + label_int, 1 * 2 + label_int, 2 * 2 + label_int, ..., (num_row - 1) * 2 + label_int]`，这里你定义的`indices_`为一个tensor_array，我觉得你应该希望使用`tensor_array_to_tensor`将`indices_`转成一个普通的tensor。这里用`sum`应该是不对的，`sum`会对所有的tensor求和，http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#sum 。

用这种组合的方式，即使实现了，效率也会很低，所以建议你可以尝试：
1. merge PR：https://github.com/PaddleP

[2019-03-20 05:28] luotao1 opened #16316 "test_analyzer_transformer random fails on compare"
http://ci.paddlepaddle.org/viewLog.html?buildId=72226&tab=buildLog&buildTypeId=Paddle_PrCiPython35Night&logTab=tree&filter=all&_focus=13745
[code]

[2019-03-20 05:28] Xreki commented on #16289
听说Paddle定义了`-`运算，可尝试使用
[code]

[2019-03-20 05:29] celineJiang commented on #16291
您好，这个错误已经得到解决，方法是在您的基础上增加了一行：
[code]
感谢您的回答与帮忙！

[2019-03-20 05:29] #16291 closed, assigned to nobody

[2019-03-20 05:30] luotao1 commented on #16316
@yihuaxu @bingyanghuang @jianhang-liu Could you help see it?

[2019-03-20 05:31] baojun-nervana commented on #15599
I will follow up on this.

[2019-03-20 05:51] shanyi15 commented on #16310
hi，相关文档和代码请在这里查看https://github.com/PaddlePaddle/models/tree/develop/legacy/ltr
旧文档已经不再维护了，未来我们将在官网文档页面中给出”不再维护“的提示~

[2019-03-20 06:45] shippingwang commented on #16305
- elementwise_add 是逐元素相加 输入的是两个tensor

- sum是相加操作 接受一个参数，list中的tensor需要纬度一致

output = layers.sum([input,input2])

![image](https://user-images.githubusercontent.com/13645332/54663408-2432fe80-4b1c-11e9-8617-ce8ca5bfb842.png)

现在sum的doc 容易让人误解的
[sum op](https://github.com/PaddlePaddle/Paddle/blob/release/1.3/python/paddle/fluid/layers/nn.py#L8717)
这种写法并不会有实质操作发生

- sums和sum是一样的 也是相加操作 接受1个参数
![imag

[2019-03-20 06:53] LeoZhao-BJ commented on #16316
trying to reproduce locally

[2019-03-20 06:56] yeyupiaoling commented on #16305
@shippingwang 有没有一个广播的操作，如`[[1,2], [3,4]]` 乘一个`[2]`

[2019-03-20 07:01] yeyupiaoling commented on #16273
@Xreki 感谢老师回答，编译的是`develop`的分支吧。
还有，我现在使用的PaddlePaddle 1.2是不支持`*`和`+`的，我的反正是报错的。

[2019-03-20 07:02] #15835 closed, assigned to wanghaoshuang, qingqing01

[2019-03-20 07:02] #15944 closed, assigned to wopeizl

[2019-03-20 07:05] hshen14 commented on #16248
Yes, activation allows the max dimension 5 (e.g., ncdhw), while weight allows more dimensions. @tensor-tang @jczaja

[2019-03-20 07:27] shippingwang commented on #16305
elementwise_mul ?

[2019-03-20 07:36] wanghaoshuang commented on #16312
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/dist_ctr_reader.py#L21
这个logger的INFO内容会干扰[这里](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_dist_base.py#L359) 从sys.stdout里读取losses.

之前的之所以没有出错，是因为paddle module的logger被设置为ERROR level了。

解决办法：
1. 通过`logger = logging.getLogger(__name__)`获取当前module的logger，并显式的设置level

[2019-03-20 07:41] AmitRozner commented on #16302
@yeyupiaoling Already tried this code but it uses more than 10GB of memory on my GPU. Based on your experience with 8GB GPU there must be a way to lower the GPU consumption.

@Xreki I tried the `FLAGS_fraction_of_gpu_memory_to_use` but it seems to work only for part of the cases and it does not control the total GPU memory used. If I lower it a little bit it seems to work but if I lower it below s

[2019-03-20 08:10] gongxijun opened #16321 "fluid.layers.hash 报错paddle::operators::HashKerel<>::Compute()"
比如允许如下代码，会出现 stack trace: ***异常.
eg:
import paddle
import paddle.fluid as fluid
import paddle.fluid.layers as layers
import paddle.fluid.nets as nets
import numpy as np

place = fluid.core.CPUPlace()
titles = fluid.layers.data(name='titles', shape=[1], dtype='int32', lod_level=1)
hash_r = fluid.layers.hash(name='hash_x', input=titles, num_hash=1, hash_size=1000)

exece = fluid.Executor(place)
exec

[2019-03-20 09:13] danqing-li commented on #15615
@luotao1  About batch_norm_mkldnn and lrn_mkldnn line coverages, I have some idea and made some fix locally. I could build and make with docker[latest-dev],  but I don't know what is the building and testing script. **Something like ./paddle_build_cov.sh**. I also don't know what **main cov** means in the build log on TeamCity. Could you share build script with me? This will speed up the work. Tha

[2019-03-20 09:27] ccmeteorljh opened #16323 "打开FLAGS_cudnn_deterministic=1后报CUDNN_STATUS_NOT_SUPPORTED"
paddle version: 1.3.0.post97
使用deeplabv3+ 模型时候出现该问题：
[code]

[2019-03-20 09:28] ccmeteorljh commented on #16323
去掉该flag，则可以正常运行

[2019-03-20 09:34] luotao1 commented on #15615
@lidanqing-intel The different between `paddle_build_cov.sh` adn `paddle_build.sh` is only in `function main() `
[code]
@kolinwei will update `paddle_build.sh` in next PR.

[2019-03-20 09:37] lidanqing-vv commented on #15615
Thank you!

[2019-03-20 09:42] luotao1 commented on #15615
please see #16324

[2019-03-20 09:42] yeyupiaoling commented on #16305
@shippingwang 应该是，谢谢回答。

[2019-03-20 09:42] #16305 closed, assigned to shippingwang

[2019-03-20 10:13] wanghaoshuang commented on #16312
http://ci.paddlepaddle.org/viewLog.html?buildId=72413&tab=buildLog&buildTypeId=PaddleMac_MacPrCi&logTab=tree&filter=all
该task验证以上解决方案有效。

[2019-03-20 10:59] jczaja commented on #16248
First (out of two) PR: #16325 was set up to fix that issue. It does adapt pooling & conv2d int8 to tensor modifications. So some performance gain should be visible, but for restoring full performance transpose  * quantize* ops should adapted as well (next PR will have it done).

@xiaolil1 If you could test #16325 for Int8 performance then  it would be very helpful to hear if you notice any int8 pe

[2019-03-20 11:54] dubhex opened #16328 "如何计算给定输入输出下gradient数值并返回"
请问paddle中是否有类似于pytorch中autograd.grad的操作，就是给定输入输出，计算gradient返回。

[2019-03-20 12:09] shippingwang commented on #16306
topk 例子：
![image](https://user-images.githubusercontent.com/13645332/54683189-f9f93500-4b4b-11e9-8a4b-9066cda152e6.png)

请check下 loss 和 k

[2019-03-20 12:39] Xreki commented on #16273
你可以拉取develop分支，然后merge #15431 的代码

我确认过，`+`和`*`应该是很早就支持了，请问你是报什么错？

[2019-03-20 12:51] qingqing01 commented on #16244
这个问题属于backward of backward问题，我们跟下这个需求~

[2019-03-20 12:53] pawelpiotrowicz commented on #15615
@panyx0718 @luotao1 @kbinias

The point it that Register_Op_kernel consist of Register_op_Kernel_with_custom_type.
[code]

To better understand what I’m trying to tell is a simple example below.
We have two execution on macro ( for instance transpose_mkldnn_op.cc) .
[code]

So we got two functions, only first one will be executed – I expect both of them.
[code]

[2019-03-20 13:19] ccmeteorljh opened #16329 "deeplabv3+ 模型多机实现，加显存优化，loss出现负数"
paddle version:1.3.0
不加显存优化结果如下：
[code]
加入显存优化后，结果如下：
[code]
**备注,其他模型暂无问题：**
[code]

[2019-03-20 13:35] ccmeteorljh commented on #16298
数据feed错了，已经可以跑起来了，关掉这个issue了

[2019-03-20 13:35] #16298 closed, assigned to xuezhong

[2019-03-20 14:21] wanghaoshuang opened #16331 "How to prune training network for inference."
[code]

[2019-03-20 14:23] lidanqing-vv commented on #15615
Hi, @luotao1  Both batch_norm_mkldnn and lrn_mkldnn failed because of timeout and it passed with good line coverage in our machines, without docker and tests are run in serial.

I just update the progress with you. And similar problems happened before so I put comment here.

I consider to set in **cmake/generic.cmake**, in **line 394 and line 721**
**set_tests_properties(${TARGET_NAME} PROPERTIES

[2019-03-20 14:30] shippingwang commented on #16307
prelu执行需要提供alpha参数  加一个参数初始化试试？

[2019-03-20 14:33] luotao1 commented on #15615
@lidanqing-intel GOT it, Thanks very much for your analysis!

Could you give the line coverage here?

[2019-03-20 14:33] lyp2github opened #16332 "face_detection模型训练 coredump"
https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/face_detection

  train启动会直接coredump

[code]
￼export FLAGS_fraction_of_gpu_memory_to_use=0.3调整到0.01都不行

GPU机器：Tesla P40

[2019-03-20 14:38] NHZlX commented on #16311
Hello， TRT是gpu 推理加速引擎，必须在有gpu的环境机器上编译运行。

[2019-03-20 14:38] shippingwang commented on #16328
没有

[2019-03-20 14:41] shippingwang commented on #16308
测试了一下 可以使用float64

- [x]  已解决， 用户将one hot输出cast 64

[2019-03-20 14:44] lidanqing-vv commented on #15615
As in [krzysztof's comment](https://github.com/PaddlePaddle/Paddle/issues/15615#issuecomment-470462749).
line cov of batch_norm_mkldnn_op.cc 91%
line cov of lrn_mkldnn_op.cc 100%

[2019-03-20 14:52] shippingwang commented on #16328
From @qingqing01 :
目前只能通过 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/backward.py#L394  append_backward 或者 minimize() 函数给program里添加反向op， 通过Exeuctor执行，得到梯度值

[2019-03-20 14:54] shippingwang commented on #16332
试一下 with_mem_opt=False ?

[2019-03-20 14:55] #16331 closed, assigned to nobody

[2019-03-20 15:03] #16288 closed, assigned to qingqing01

[2019-03-20 15:18] luotao1 commented on #15615
@kbinias I close this issue due to https://github.com/PaddlePaddle/Paddle/issues/15615#issuecomment-474862344
@pawelpiotrowicz For https://github.com/PaddlePaddle/Paddle/issues/15615#issuecomment-474815683, how about creating a new issue to discuss it?

[2019-03-20 15:18] #15615 closed, assigned to Sand3r-, jczaja, wojtuss, kbinias

[2019-03-20 15:27] velconia commented on #16321
这是因为 hash 的输入是带 lod 的，但你没有设置，这里是正确的 demo

[code]

[2019-03-20 15:32] qingqing01 commented on #16332
@lyp2github 请问您使用几张卡？ 看log输出batch size是16， 是否按照文档提示设置 `export CUDA_VISIBLE_DEVICES=0,1,2,3` 来设置四张卡运行？ 该模型，在P40, 24G的显存上，每个卡上的BatchSize最大到5。

[2019-03-21 02:22] lyp2github commented on #16332
export CUDA_VISIBLE_DEVICES=3,4,5,6  设置了四卡运行，已经关闭了with_mem_opt=False, 我试试改改batch_size

[2019-03-21 02:45] yuyy0823 opened #16335 "c++调用paddlepaddle多线程出core"
c++调用paddlepaddle进行预测时，qps设为1是正常的，超过1就会出core。
c++调用的paddlepaddle版本信息为：
![image](https://user-images.githubusercontent.com/28800753/54730442-f30e0900-4bc3-11e9-8a57-7765a8c9e3d3.png)

core信息显示错误在调用paddlepaddle的run方法：
![image](https://user-images.githubusercontent.com/28800753/54730853-0de17d00-4bc6-11e9-9f0f-f0e9762b16f8.png)

c++调用paddlepaddle代码如下：
![image](https://user-images.githubusercontent.co

[2019-03-21 02:48] djh123 opened #16336 "save_inference_model 报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及

[2019-03-21 02:48] djh123 commented on #16336
save models to ./checkpoints/model_1
['read_file_0.tmp_0', 'read_file_0.tmp_2', 'read_file_0.tmp_1', 'read_file_0.tmp_3', 'read_file_0.tmp_5']
Traceback (most recent call last):
  File "run_classifier.py", line 290, in <module>
    main(args)
  File "run_classifier.py", line 237, in main
    fluid.io.save_inference_model(model_path, feed_targets_name, [probs], exe)
  File "/data0/home/djh/.local/l

[2019-03-21 02:53] djh123 commented on #16336
当我制定main_program，可以了，尴尬

[2019-03-21 02:53] #16336 closed, assigned to nobody

[2019-03-21 03:09] heavengate commented on #16335
export MKL_NUM_THREADS=1
export OMP_NUM_THREADS=1
试试加下这两个环境变量

[2019-03-21 03:25] yuyy0823 commented on #16335
试了，还是会出core

[2019-03-21 04:35] heavengate commented on #16335
Paddle predict 库里没有多线程的实现，当上游服务并发时，需要用户起多个预测服务，参考http://paddlepaddle.org/documentation/docs/zh/1.3/advanced_usage/deploy/inference/native_infer.html

[2019-03-21 05:21] #16308 closed, assigned to shippingwang

[2019-03-21 05:41] LeoZhao-BJ commented on #16316
@luotao1

Did it happen just once? or need special env? I see this was old CI build without mkldnn enabled in transformer yet, I try latest code, can't reproduce locally with hundreds of test on 2699v3 machine, please monitor this issue once it happens again.

[2019-03-21 06:19] imistyrain commented on #16332
你这个可能是cudnn版本不对或者是nccl没装.

[2019-03-21 06:25] clmtulip opened #16343 "rank_loss 返回值是空"
建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 传入rank_loss的参数都正常，但是rank_loss的结果为空

![image](https://user-images.githubusercontent.com/1183026/54736220-11d0c780-4be5-11e9-8761-fb214b02a6f5.png)
![image](https://user-images.githubusercontent.com/1183026/54736227-2319d400-4be5-11e9-9165-b9d4a3c811e4.png)
![Uploading image.png…]()

[2019-03-21 06:28] heavengate commented on #16343
看你Print出来的信息，lefts_score里面没有数据，right_score里面有[16, 1]的数据，麻烦确认一下是不是前面网络输出有问题

[2019-03-21 06:56] luotao1 commented on #16316
Got it.

[2019-03-21 07:08] nizihan commented on #16308
谢谢，问题解决了，label_smooth的输出类型好像只与输入类型有关，所以将fluid.layers.one_hot的输出cast成float64，再送入到label_smooth中就能得到float64的结果，softmax_with_cross_entropy接收到两个float64类型的数据，可以正常运行。

[2019-03-21 07:09] OliverLPH commented on #16311
噢噢好滴，我自己没搞清楚。谢谢哈

[2019-03-21 07:09] luotao1 commented on #16316
@LeoZhao-Intel It fails on our CI yesterday night as well.
http://ci.paddlepaddle.org/viewLog.html?buildId=72666&buildTypeId=Paddle_PrCiPython35Night&tab=buildLog&_focus=53857

[2019-03-21 07:09] Hub-er opened #16345 "int8模型预测失败"
- 版本、环境信息：

1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
$ pip list |grep paddle
paddlepaddle (1.2.1)

2）CPU：
processor       : 0
vendor_id       : GenuineIntel
cpu family      : 6
model           : 63
model name      : Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GH

3）系统环境：
 cat /etc/redhat-release
CentOS release 6.3 (Final)

-预测信息

1）预测库来源：pip 安装
2）错误栈信息：
Traceback (most recent call last):
  F

[2019-03-21 07:19] #16311 closed, assigned to NHZlX

[2019-03-21 07:23] clmtulip commented on #16343
![image](https://user-images.githubusercontent.com/1183026/54737998-52344380-4bed-11e9-8869-3b5ccaf8fc90.png)

[2019-03-21 07:34] LeoZhao-BJ commented on #16316
@luotao1  any guide for setting up same env with CI ?

[2019-03-21 07:35] heavengate commented on #16343
代码没看出什么问题，可以确认一下image_left, image_right feed进来的数据格式是否正确

[2019-03-21 07:38] heavengate commented on #16345
报错原因是网络定义和实际数据输入一个int8类型，一个是float32类型，类型不匹配，请修改输入和网络配置的数据类型一致

[2019-03-21 07:39] HaoMoney opened #16349 "线上热加载模型时候出现如图错误"
- 版本、环境信息：
    1）PaddlePaddle版本：0.10.0
    4）系统环境：Mac OS 10.13.6
![image](https://user-images.githubusercontent.com/23650773/54738459-5d886e80-4bef-11e9-855b-996c72339cbc.png)
图片中duration-data/model中主要是模型解压后的参数。

[2019-03-21 07:43] heavengate commented on #16349
麻烦贴一下代码

[2019-03-21 07:46] HaoMoney commented on #16349
具体什么代码，是模型结构代码，还是线上预测加载模型的吗

[2019-03-21 07:47] heavengate commented on #16349
Paddle 0.10.0 已经不维护了，建议在官网下载最新版本Paddle, http://paddlepaddle.org/documentation/docs/zh/1.3/beginners_guide/install/index_cn.html

[2019-03-21 08:02] luotao1 commented on #16316
You can refer to the build log,  which has complete image info and cmake options.
For example, it use `paddlepaddle/paddle_manylinux1_devel_cuda8.0_cudnn7` images.
http://ci.paddlepaddle.org/viewLog.html?buildId=72666&buildTypeId=Paddle_PrCiPython35Night&tab=buildLog&_focus=160

[2019-03-21 08:16] hjchen2 opened #16352 "scope析构时不会内存泄漏么"
请问scope析构时只dropkids，不delete自身的variables，不会造成内存泄漏吗？

[2019-03-21 08:25] wang-kangkang opened #16353 "在对一个简单的3分类模型进行预测时，使用load_params和使用load_persistables的预测结果不同"
训练的时候保存模型是这样的
        model_param_path="./model_parameter/params"+str(epoch_id).zfill(3)
        train_param_path="./train_parameter/persistables"+str(epoch_id).zfill(3)
        fluid.io.save_params(executor=exe,dirname=model_param_path,main_program=train_program)
        fluid.io.save_persistables(executor=exe,dirname=train_param_path,main_program=train_program)
测试的时候加载模型时是这样的
    #fluid.io.load_

[2019-03-21 08:26] wang-kangkang commented on #16353
上面的现象具体是用load_params方法的3分类准确度0.82，用load_persistables的3分类准确度0.85

而且使用load_params的时候，测试固定的一批图，每次测出来值都不一样。

[2019-03-21 08:28] #16352 closed, assigned to nobody

[2019-03-21 08:34] heavengate commented on #16353
定位为训练代码可测试代码均使用了optimizer.minimize方法，实际上都跑的是训练

[2019-03-21 09:07] wang-kangkang commented on #16353
原因找到了，和heavengate说的一样。
错误代码如下：
 optimizer = fluid.optimizer.AdamOptimizer(learning_rate=fluid.layers.exponential_decay(learning_rate=0.001,decay_steps=10000,decay_rate=0.9,staircase=True),regularization=fluid.regularizer.L2DecayRegularizer(regularization_coeff=0.003))
opts = optimizer.minimize(average_loss)
if(phase=='train'):
                return reader,average_loss,img,softmax_out,label
elif(p

[2019-03-21 09:07] #16353 closed, assigned to heavengate

[2019-03-21 09:21] jerrywgz opened #16355 "Tensor.set 输入值和输出值有diff"
![image](https://user-images.githubusercontent.com/22989727/54742794-4e102200-4bfd-11e9-9297-d8b304024bd2.png)
通过加载pytorch权重初始化paddle权重的过程中，发现加载的pytorch权重和set到paddle中的权重不一致，place使用cpu，gpu都有这种情况
![image](https://user-images.githubusercontent.com/22989727/54742931-afd08c00-4bfd-11e9-8c57-23a0ee652887.png)

[2019-03-21 09:36] xiaolil1 commented on #16248
@jczaja @tensor-tang @luotao1
We tested the patch of #16325 both on public paddle and local paddle on CLX (below table):
It seems the performance issue was not been fixed completely.
Public code:

INT8 ( BS = 1, Cores = 28)| ResNet-50 | MobileNet
-- | -- | --
Current (da39a)| 258 | 616
Last (08c96) | 262 | 538
Curr / Last | 0.98 | 1.15

FP32 ( BS = 1, Cores = 28)| ResNet-50 | MobileNet
-- | -- | -

[2019-03-21 09:39] irukawang opened #16356 "关于ctr_demo，特征维数过多（60000维）模型启动不起来的问题，有什么解决方案吗"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
- 模型信息
    1）模型名称 2）使用数据集名称 3）使用算法名称 4）模型链接
- 复现信息：如为报错，请给出复

[2019-03-21 09:42] yeyupiaoling commented on #16307
@shippingwang 对的，我就想要这个操作，就是可以通过一个值，通过这个算子得到结果。
您能介绍一下吗？给个小demo

[2019-03-21 09:44] yeyupiaoling commented on #16273
@Xreki 哈哈，我不知道怎么merge #15431 的代码，develop中还么有合并这个代码。

我发现`fluid.layers.py_func`贼好用，我用这个解决了，不需要用range了。

[2019-03-21 09:45] heavengate commented on #16356
能详细描述一下问题么，paddle版本，机器型号，训练脚本，参数配置等

[2019-03-21 09:49] yeyupiaoling commented on #16273
@Xreki 还剩下最后一个问题了
[code]

报错如下：
[code]

最后一步了，这个问题是什么原因呢？

[2019-03-21 09:58] irukawang commented on #16356
ctr_demo的例子里 特征就二十多维，  我们的是60000维的稀疏特征，模型运行不起来，一直卡在 optimizer.minimize(loss)地方。 版本是1.3

训练脚本：
[code]

[code]

[2019-03-21 10:05] Xreki commented on #16273
[code]

这个错在`topk`里面，`topk` op要求输入tensor的维度一般为：`[batch][num_classes]`，然后会在`num_classes`这个维度上求`topk`，输出的维度为`[batch][k]`，所以要求`num_classes >= k`。

这里你输入的最后一个维度为`-1`，k为`1`，所以不满足。你检查下`loss`的维度吧。

[2019-03-21 10:10] heavengate commented on #16343
定位为，train.py后续代码有误，程序异常退出，Print还没输出出来

[2019-03-21 10:28] jczaja commented on #16248
@xiaolil1 Thanks very much for testing #16325. However I'm not sure how to interpret them. It seems
you are comparing some old codebase(Last) vs Patch+develop(Current). I think it would be more clear If I could see comparison of develop vs develop+patch, as meantime lots of other functionality was introduced.

Meantime , I will carry on working on adapting other ops: transpose int8, \*quantize\*

[2019-03-21 10:37] qingqing01 commented on #16332
建议不要关闭，关闭之后更耗费显存。 有具体的错误log的话，可以贴详细点~

[2019-03-21 11:17] SunAhong1993 opened #16358 "关于fluid.layers.anchor_generator中stride的问题"
[code]
当使用上述代码，因为步长设置为2了，输出的shape不应该是[128,128,12,4]吗？但是输出为[256,256,12,4]。同时发现不管stride设置为什么值，其输出结果不变。

[2019-03-21 11:30] heavengate commented on #16358
anchor_generator中input shape为[N, C, H, W]时，输出shape为[H, W, X, 4]，每个feature map点生成X个anchor，stride并不是指像素点的stride，而是指anchor中心点在H和W方向上的stride，例如sitrde=[8, 16], 假设像素点[0, 0]处生成的anchor中心点在[0, 0]，则像素点[0, 1]处生成的anchor中心点在[0, 16], 像素点[1, 1]处生成的anchor中心点在[8, 16]
![MacHi 2019-03-21 19-27-52](https://user-images.githubusercontent.com/12605721/54749508-bc5de000-4c0f-11e9-918c-bed4b77b56b2.png)

[2019-03-21 11:38] seiriosPlus opened #16360 "超大规模稀疏参数(DistributedLookupTable)的本地预测+增量使用"
涉及到超大规模稀疏参数使用的模型，在保存参数的时候(save_inference_model/save_persistables)会和一般模型不太一样， **其中超大规模稀疏参数会被直接保存在PSERVER端(每个PSERVER端均有一份且只包含当前PSERVER上的参数)**，其他参数还是正常保存于TRAINER端。

涉及到的相关代码位于：
```https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/utils/lookup_table_utils.py```

1. 本地预测
本地预测说明：
    本地预测是指，将带有超大规模稀疏参数的多机训练的参数在本地做合并，用一个节点来做预测的方式。如果拥有大内存(能够存放得下超大规模稀疏参数)的服务器，用本地预测的方式能够快速的对训练效

[2019-03-21 11:40] #16358 closed, assigned to heavengate

[2019-03-21 11:43] seiriosPlus commented on #16360
部分示例代码：
[code]

[2019-03-21 11:59] clmtulip commented on #16343
果然是数据的问题，我的训练数据太少了，batch_size 设的8，数据也是8；py_reader会缓存，在跑第一个iter的时候后面几个iter的数据都已经读进来了，这个时候没数据就会有EOFexception

[2019-03-21 11:59] #16343 closed, assigned to heavengate

[2019-03-21 12:41] heavengate opened #16362 "resize_nearest的scale参数不是动态scale"
resize_nearest的scale参数不是动态scale，而是在构图时转换为out_h和out_w，这样对于动态shape输入会有影响

[2019-03-21 13:01] Hub-er commented on #16345
问题已解决：
paddle定点工具输出float，int8，mobile三种不同场景的模型，实际情况是paddle应该加载float中的模型，而我给它加载的是int8模型，所以导致错误！

[2019-03-21 13:02] #16345 closed, assigned to heavengate

[2019-03-21 13:07] #16335 closed, assigned to heavengate

[2019-03-21 13:15] snowsteper opened #16363 "不训练的情况下保存模型报错"
RT，希望在不训练的情况下存储模型，遇到报错
paddle.fluid.core.EnforceNotMet: holder_ should not be null
Tensor not initialized yet when Tensor::type() is called. at [/paddle/paddle/fluid/framework/tensor.h:141]

代码如下：
[code]

更新一下：
我的实际需求是这样，
有一个训好的网络A，结构是 data_layer -> nets_A
我想加一路数据输入，但是对于两路输入中间nets的参数是共享的，都用训好网络A的参数，也就是网络B的结构是：
data_layer_1 -> nets_A(用网络A的参数)
data_layer_2 -> nets_A(用网络A的参数)
也就是说，除了输入以外，中间计算的所有需要训练的

[2019-03-21 13:19] ccmeteorljh opened #16364 "clip op在多机下报错"
paddle version:1.3.0
复现模型: deep_attention_matching实现多机版本；
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/deep_attention_matching_net/train_and_evaluate.py
报错如下：
[code]

[2019-03-21 13:21] heavengate commented on #16363
是因为你权重还没有初始化就要保存，所以报这个，确实需求这种场景的话可以使用save_params和load_params这组API试下

[2019-03-21 13:24] imistyrain commented on #16363
你应该加载预训练的参数，特别的，现在的加载并不会给你返回加载失败的信息，所以务必确认预训练目录存在且能正常加载
[code]

[2019-03-21 13:29] xuehui0725 commented on #16136
同出现这个问题，相同的环境，相同的代码，别人的数据集正常，自己的数据跑时就会出现上面的错误Invoke operator fill_constant error。数据集格式没有问题。@HWZX 请问你找到原因了吗？

[2019-03-21 13:40] heavengate opened #16366 "使用auc_op报错：Expected predict_data <= 1, but received predict_data:-nan > 1:1"
![image](https://user-images.githubusercontent.com/12605721/54755855-e15b4e80-4c21-11e9-9050-c935451f795e.png)

[2019-03-21 13:40] heavengate commented on #16366
计算auc时前向网络计算的概率值肯定是[0, 1]之间的，而你现在传入的数据是nan，需要排查网络，有可能是非法运算，除0之类的，也有可能是越界

[2019-03-21 13:40] #16366 closed, assigned to heavengate

[2019-03-21 13:42] heavengate opened #16367 "在使用imagenet训练时，读取数据出现问题"
![image](https://user-images.githubusercontent.com/12605721/54755983-34cd9c80-4c22-11e9-8081-b3fcb1c78274.png)

[2019-03-21 13:42] heavengate commented on #16367
图像被破坏了或者exif信息错了，参考https://blog.csdn.net/qq_15969343/article/details/79109441

[2019-03-21 13:42] #16367 closed, assigned to heavengate

[2019-03-21 13:52] heavengate opened #16368 "fc层除了w_0和b_0之外，还有一个fc_0.tmp_2，不知道这个对应什么"

[2019-03-21 13:52] heavengate commented on #16368
fc_0.tmp_2一般是输入输出的变量，带tmp的都是非persistable的变量

[2019-03-21 13:52] #16368 closed, assigned to heavengate

[2019-03-21 13:55] heavengate opened #16369 "加载预训练模型训练，报这个错"
![image](https://user-images.githubusercontent.com/12605721/54756867-0fda2900-4c24-11e9-9465-ff869080860d.png)

[2019-03-21 13:56] heavengate commented on #16369
pretrain的权重shape和模型定义的权重shape不一致的问题

[2019-03-21 13:56] #16369 closed, assigned to heavengate

[2019-03-21 14:10] AmitRozner opened #16370 "Installation of paddlepaddle-gpu does not work on NVIDIA RTX 2080TI"
- PaddlePaddle version 1.3.1
- GPU: Nvidia RTX 2080TI
- OS Platform Ubuntu MATE 1.12.1
- Python version 3.5.2
- Install method: pip install paddlepaddle-gpu
- CUDA 9.0 cuDNN 7.3.1

**nvcc -V**
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2017 NVIDIA Corporation
Built on Fri_Sep__1_21:08:03_CDT_2017
Cuda compilation tools, release 9.0, V9.0.176

**nvidia-smi**
Thu Mar 21 10:06:22 2019
+

[2019-03-21 14:21] heavengate commented on #16370
1. you can try pip install paddlepaddle-gpu==1.3.1.post97 for CUDA9 and CUDNN7
2.  install paddlepaddle from source: did you specified CUDA and CUDNN path

[2019-03-21 14:32] AmitRozner commented on #16370
1. This is what I did and it still does not work.
2. I did not specify the paths

[2019-03-21 14:46] heavengate opened #16371 "使用fluid.layer.split报错"
![image](https://user-images.githubusercontent.com/12605721/54760451-161fd380-4c2b-11e9-88fb-47f06e99904d.png)

[2019-03-21 14:47] heavengate commented on #16371
要切分的dim那一维的shape不能被切分数num_or_section整除，请确认切分维shape和切分数num_or_section

[2019-03-21 14:47] #16371 closed, assigned to heavengate

[2019-03-21 14:54] kbinias commented on #16248
@xiaolil1 From your results, We understood that INT8 performance was improved, but FP32 performance
went down. This situation worried us, so we tested FP32 performance.

According to our results (tested on SKX and CLX) the above changes on the PR #16325 for FP32 **do not cause a drop in performance** but improve performance for INT8 (based on your results). We compared 2 commits: d3acf68 (before c

[2019-03-21 15:09] AmitRozner commented on #16370
Build from source:
**Tried to specify the CUDA path using:**
`cmake .. -DPY_VERSION=3.5 -DWITH_FLUID_ONLY=ON -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DCUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda`

**Still getting the same error:**
[code]

The file nccl.h exists and the user has full permissions to it. I still get **No such file or directory** error.

[2019-03-21 15:15] JiabinYang commented on #16370
looks like you haven't installed nccl2, plz install nccl2 before trying to compile paddle

[2019-03-22 00:28] baojun-nervana commented on #15599
@tensor-tang I tried paddlepaddle/paddle_manylinux_devel:cuda8.0_cudnn7, paddlepaddle/paddle_manylinux_devel:cuda7.5_cudnn5 (those two are centos, gcc 4.8.2) and paddlepaddle/paddle:latest-dev (ubuntu gcc5.4.0). I can compile on those two dockers.  which docker did you use with gcc 4.8.5?

[2019-03-22 02:05] #16321 closed, assigned to velconia, shippingwang

[2019-03-22 02:30] yeyupiaoling commented on #16273
@Xreki 我大概发现问题了，
tensorflow的代码原本是这样的
[code]

我上面错误的错误做法是
[code]

我修改成如下方式：
[code]

但是报错为
[code]

我想问以下如果获取张量`num_cls_prob`中的第一维度的值呢？

[2019-03-22 02:50] yeyupiaoling opened #16374 "py_func接口当遇到输出值维度会变化的如何处理"
# 环境
 - PaddlePaddle
 - Ubuntu 16.04
 - Python 3.5

# 问题
例如下面的代码，输出的cond的的可变的[2, ?]这种情况怎么处理？
[code]

[2019-03-22 02:55] yeyupiaoling commented on #16273
@Xreki 其实我也想这般处理，但是遇到这个中类型的问题 #16374 ，为什么py_func可变化的输出张量？
[code]

[2019-03-22 03:02] typhoonzero commented on #16075
目前可以确定是集群硬件环境的问题，下掉一台故障机器后，目前无法复现此问题，暂时关闭。

[2019-03-22 03:02] #16075 closed, assigned to typhoonzero

[2019-03-22 03:12] tensor-tang commented on #15599
Please try this https://github.com/PaddlePaddle/Paddle/issues/15599#issuecomment-459244914
[code]

[2019-03-22 03:21] #16071 closed, assigned to nobody

[2019-03-22 03:21] #16181 closed, assigned to wzzju

[2019-03-22 03:23] snowsteper commented on #16363
如果先load_params，然后直接运行save_params，同样会报
paddle.fluid.core.EnforceNotMet: holder_ should not be null
Tensor not initialized yet when Tensor::type() is called. at [/paddle/paddle/fluid/framework/tensor.h:141]

然后用这种方式保存的模型是没有model.conf的，有点不符合需求

不知道理解的对不对
[code]
之后就应该已经初始化参数了

[2019-03-22 03:24] yeyupiaoling commented on #16306
@shippingwang 不明白你写这些代码是想表达什么，不过[这里](https://github.com/PaddlePaddle/Paddle/issues/16273#issuecomment-475171240)已经给出解决办法了。谢谢回答，下次最好复制代码，而不是截图。

[2019-03-22 03:24] #16306 closed, assigned to nobody

[2019-03-22 03:35] snowsteper commented on #16363
我的实际需求是这样，
有一个训好的网络A，结构是 data_layer -> nets_A
我想加一路数据输入，但是对于两路输入中间nets的参数是共享的，都用训好网络A的参数，也就是网络B的结构是：
data_layer_1 -> nets_A(用网络A的参数)
data_layer_2 -> nets_A(用网络A的参数)
也就是说，除了输入以外，中间计算的所有需要训练的参数都复用A的参数
最终，我想通过先加载再保存的方式得到model.conf以及对应的正确的参数

利用fluid.io.load_vars方法加载参数，会提示输入层的名称与原来网络不一致

[2019-03-22 03:56] baojun-nervana commented on #15599
thanks. this helps. It am able to reproduce with docker latest-dev. Will figure it out.

[2019-03-22 05:59] hjchen2 opened #16381 "使用DistributeTranspiler将Program转成分布式执行后，整个program无法执行"
请教下，原有的Program在本地可以边训练边test，使用了DistributeTranspiler将Program转成分布式执行后，整个program无法执行，这是正常的吗？

[2019-03-22 06:03] jacquesqiao commented on #16381
是指？

[2019-03-22 06:18] yeyupiaoling commented on #16370
@AmitRozner Hi， I think you must use CUDA 10. Because RTX 2080 only can run no CUDA.

[2019-03-22 06:33] hjchen2 commented on #16363
`score.persistable = True`
请问为什么要将score设置为persistable var？另外可以尝试在load_vars接口中指定需要load的variables

[2019-03-22 06:37] hjchen2 commented on #16374
输出shape支持可变的，会自动推断网络后续变量的shape

[2019-03-22 06:43] gogogo45 commented on #16381
fluid1.3版本，大致代码如下，
![image](https://user-images.githubusercontent.com/4569437/54804832-e961cf80-4caf-11e9-8e7b-9020d69141d1.png)
启动方式为在本地启动两个pserver，启动两个trainer
实际执行状况是pserver正常启动，trainer启动后卡住，长时间等待后，报错退出
![image](https://user-images.githubusercontent.com/4569437/54805091-d0a5e980-4cb0-11e9-8955-d26a1b11c6e1.png)

把test_program相关内容全部注释掉后可正常运行

[2019-03-22 06:48] yeyupiaoling commented on #16374
@hjchen2 不行啊，像这种就不行了。下面的作用是把`[-1, 2]`，转换成`[-1, 1]`，比如在实际情况下把`[32, 2]`转换为`[64, 1]`。代码如下：
[code]

这种情况不是断掉后续的问题了，而是整个shape都变化了。

[2019-03-22 06:52] dubhex commented on #16328
这样计算得到梯度值得同时对网络参数也会有改变吧。现在希望计算得到梯度后和常规的loss一起组成新的loss 反向传播回去更新网络参数。这种需求现在有方法可以满足吗？

[2019-03-22 06:59] xiaolil1 commented on #16248
@kbinias
We tested #16325 on "latest develop vs latest develop + patch"
 and "reference (develop without regression, commit 08c96) vs latest develop + patch".
The result (below table) shows INT8 performance was improved but there are still performance regression in FP32.

INT8 ( BS = 1, Cores = 28)| ResNet-50 ( FPS ) | MobileNet ( FPS )
-- | -- | --
patched | 259 | 629
develop | 247 | 601
referenc

[2019-03-22 07:07] ccmeteorljh commented on #16250
输出如下：
decayed_lr is:  Tensor[tmp_35]
        shape: [1,]
        dtype: f
        data: 0.003,

[2019-03-22 07:10] junjun315 commented on #16355
应该是在读入数据时有精度转换。需要在写入来源数据之前指定相同数据类型，读取时指定数据类型再进行set操作

[2019-03-22 07:10] #16355 closed, assigned to junjun315

[2019-03-22 07:27] hjchen2 commented on #16328
请问是将梯度加到loss里面进行反向计算么？基于静态graph的执行方式貌似很难做到这种用法

[2019-03-22 07:39] sguuaa opened #16384 "resize_bilinear层没有保存scale参数"
paddle.fluid.layers.resize_bilinear层，在保存模型的时候没有保存scale参数。无法支持变长的模型输入。
paddle版本1.3.0

[2019-03-22 07:54] hjchen2 commented on #16374
@yeyupiaoling 因为python function是在executor运行时执行的，所以在python function中只能写纯python的代码，不要调用fluid的接口。另外直接print cls_prob_reshpae是不对的，需要执行时python function才会被执行

[2019-03-22 07:59] jacquesqiao commented on #16381
代码不完整，请提供完整代码

[2019-03-22 08:21] drmfsls opened #16392 "1.3版本paddle.fluid.layers.edit_distance执行出core"
paddle.fluid.layers.edit_distance按照示例编写代码执行出core，代码如下：
[code]

core信息入下：
[code]

[2019-03-22 08:38] yeyupiaoling commented on #16374
@hjchen2 我修改成这样下面就跑不了了。因为`fluid.layers.reshape`的shape需要一个整数输入。
[code]

错误信息：
[code]

[2019-03-22 08:45] jczaja commented on #16248
@xiaolil1
Thanks alot for testing #16325 . So it seems after patching code, INT8 performance went up, but FP32 is same it on develop . Is my understanding  correct?

Regarding FP32 measures, First time (begining of this thread)  results from develop were:

Current (dec9c) | 97 | 298
-- | -- | --

But now  develop results are (Third performance measures you sent):

develop | 91 | 282
-- | -- | --

[2019-03-22 08:46] snowsteper commented on #16363
load_var这个接口加载部分变量还是会报错，
paddle.fluid.core.EnforceNotMet: holder_ should not be null
Tensor not initialized yet when Tensor::type() is called. at [/paddle/paddle/fluid/framework/tensor.h:141]

实现方法是：
[code]

[2019-03-22 09:08] gogogo45 commented on #16381
需要全部的可运行代码吗？

[2019-03-22 09:13] hjchen2 commented on #16392
edit_distance要求输入是lod tensor，使用create_lod_tensor创建输入tensor，然后进行feed

[2019-03-22 09:32] yeyupiaoling commented on #16273
@Xreki 然后得知py_func中不能有Fluid代码，所需修改成如下：
[code]

报错如下：
[code]

因为`fluid.layers.reshape`的`shape`需要是整数，上面得到的`num_cls_prob`是一个张量，这个怎么解决？

[2019-03-22 09:34] xiaolil1 commented on #16248
Hi @jczaja , we used the standard configuration in our cluster to run the regular test. So, I believe there is no issues in HW configurations. You are probably right there are some potential FP32 regression caused by other PRs. Would you please identify the regression PR using the automatic command like git-bisect?

[2019-03-22 14:11] dubhex commented on #16328
是的，将梯度降到loss里反向计算。在一些cv方面的工作中就需要这样的操作。比如我现在正在复现的AttrGAN，不加入这部分梯度loss，结果还达不到原文的情况。这种操作对很多模型训练还是很重要的，所以希望paddle能够在这方面给与支持，这样paddle也能得到更广泛的应用。

[2019-03-22 14:53] bluemandora opened #16400 "sequence_unpad之后lod_level变成0"
paddle fluid 1.1.0，用sequence_unpad之后lod_level是0，无法把输出再用sequence_pad转回padding tensor
代码：
[code]

[2019-03-22 14:54] pawelpiotrowicz opened #16401 "code coverage & REGISTER_OP_KERNEL(grad)"
@luotao1 @kbinias
According to [https://github.com/PaddlePaddle/Paddle/issues/15615#issuecomment-474815683](url) and code coverage tests, we have an issue with REGISTER_OP_KERNEL macro. Unfortunately is one of the most popular macros in unit tests so the issue is global.
I will try to explain step by step what I did and what kind of conclusion I have inferred.

- I focused on softmax_mkldnn_op.cc

[2019-03-23 02:05] hjchen2 commented on #16374
改成下面这样试试呢
[code]

[2019-03-23 02:13] hjchen2 commented on #16381
从你截图的代码中我们看不出具体的问题，如果可以的话，麻烦简化出一个我们这边能复现的完整代码，谢谢。

[2019-03-23 02:33] hjchen2 commented on #16400
[code]
shape需要指定n*1维的数组，比如shape=[[1]]

[2019-03-23 02:37] hjchen2 commented on #16400
[code]
length需要是一个lod tensor，且shape指定为n*1的数组，比如shape=[[1]]

[2019-03-23 03:09] yeyupiaoling commented on #16374
@hjchen2 这样就得不到预期的维度了，如:
[code]

得到的是
[code]

[2019-03-23 03:40] hjchen2 commented on #16374
需要executor执行起来，py function才会被执行

[2019-03-23 05:38] yeyupiaoling commented on #16374
@hjchen2 但是输入的`cls_prob.shape`是`[-1, 2]`，输出预期得到的是`[-1 * 2， 1]`，py_func不是根据指定的类型和shape输出的吗? 难道执行exe就会改变吗?更现在的输出不同吗?

[2019-03-23 05:50] yeyupiaoling opened #16404 "请教zeros接口的使用问题?"
# 环境
 - PaddlePaddle 1.3
 - Ubuntu 16.04
 - Python 3.5

# 问题
我想用PaddlePaddle复写下面tensorflow的代码:
[code]

我写的PaddlePaddle代码:
[code]

报错如下:
[code]

[2019-03-24 02:25] junjun315 commented on #16404
报错信息里看到的是 Invoke operator fill_constant error. 应该是在fill_constant的输入检查时错了，往后的代码有用到这个么？

[2019-03-24 02:28] junjun315 commented on #16404
检查一下label.shape? 看看是否满足fill_constant的输入。本质上zeros op是调用value=0.0的fill_constant op

[2019-03-24 03:21] yeyupiaoling commented on #16404
@junjun315 label的定义如下:
[code]

唯一变的应该是batch size了

[2019-03-24 03:48] yeyupiaoling commented on #16404
@junjun315   我使用代码：
[code]

全部的报错信息:
[code]

[2019-03-24 08:36] AmitRozner commented on #16370
@JiabinYang I Installed nccl2 again and it is now stuck at a later stage but still cannot compile:
`[ 83%] Generating paddle_fluid.dir/smooth_l1_loss_op.objdir
[ 83%] Generating paddle_fluid.dir/paddle_fluid_api.objdir
[ 83%] Generating paddle_fluid.dir/analysis_predictor.objdir
[ 83%] Building C object paddle/fluid/inference/CMakeFiles/paddle_fluid.dir/paddle_fluid_dummy.c.o
[ 83%] Linking CXX st

[2019-03-24 11:22] jczaja commented on #16248
@xiaolil1 I updated #16325 , We see Fp32 performance improvement with it (ResNet50, SKX and CLX), but We haven't tested int8. Moreover due to potential other performance regression , We cannot tell if #16325 is good enough to cover performance gap that tensor modifications introduced. So If possible please test #16325 (both Int8, fp32 , patched and develop) and tell us if this is good enough  impr

[2019-03-24 11:30] AmitRozner commented on #16370
**This is the full error when running j1:**
`
[ 43%] Linking CXX shared library libpaddle_fluid.so
/usr/bin/ld: cannot find ../platform/libcpu_info.a: Too many open files
/usr/bin/ld: cannot find ../memory/allocation/libcuda_allocator.a: Too many open files
/usr/bin/ld: cannot find ../memory/allocation/libretry_allocator.a: Too many open files
/usr/bin/ld: cannot find ../memory/allocation/libpinne

[2019-03-24 14:31] hjchen2 commented on #16374
@yeyupiaoling 根据文档的意思是需要先指定输出的shape和数据类型，http://www.paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#py-func。如果是变长的话，你可以创建一个预期shape和data type的lod tensor作为输出，比如
[code]

[2019-03-24 14:50] kbinias commented on #16248
@xiaolil1, @jczaja
There are 2 performance regressions for fp32:
1. Between commits 08c96d1 and dec9cf5 (reason: tensor modification, ~3 fps)
2. Between commits 9e2c7e6 and 3c60446 (reason: MKL-DNN update from 863ff6e to 830a100, ~2 fps, use `git diff 9e2c7e6..3c60446` to see all changes)

[2019-03-24 15:09] hjchen2 commented on #16392
@drmfsls 请问问题解决了么？如果仍然没有解决，可以试一下下面的例子：
[code]
正确输出是：
[code]

[2019-03-24 15:21] hjchen2 commented on #16374
根据py_func文档的解释，在使用这个接口时是需要指定输出的shape和data type的，但不意味着这个函数在构建模型时就已经被执行。如果你只是希望将可变长shape从[-1, 2]变成[-1, 1]，你可以这么试试，
[code]
这样print的cls_prob_reshpae如下：
[code]

[2019-03-25 00:57] yeyupiaoling commented on #16374
@hjchen2 实际的问题是 把`cls_prob`，也就是网络输出的值，转换成batch大小为`cls_prob`维度的总大小`num_cls_prob`，剩下的在后面自动展开。也不仅仅是shape从[-1, 2]变成[-1, 1]，不过从实际情况下来看，第二个维度的确是2。
[code]

如果输出的`cls_prob_reshpae`是可变的，那就好办了。

[2019-03-25 01:22] yeyupiaoling commented on #16370
@AmitRozner

Yes, I sure. My GPU is 2070. I think they ara the same.

When I use CUDA 9.0, PaddlePaddle will report errors: CUDNN_STATUS_EXECUTION_FAILED.

You can try using docker : https://blog.csdn.net/qq_33200967/article/details/83052060#UbuntuDocker_233

[2019-03-25 02:06] alexqdh opened #16416 "py_func execute twice occurs an error"
环境:
python 2.7
paddle 1.3

下面的代码连续执行两遍的时候就报错，测试py_func的功能
[code]

报错信息:

[code]

[2019-03-25 02:25] yeyupiaoling opened #16418 "ones接口有问题"
# 环境
 - PaddlePaddle （develop）
 - Python 3.5
 - Ubuntu 16.04

# 问题
`fluid.layers.ones`接口应该是有bug的，1.3版本就没有。错误如下：
[code]

[2019-03-25 02:27] junjun315 commented on #16404
能否在zeros op调用前把label.shape打印出来？或者如果是公共的数据集的话，代码发到我们支持邮箱里。 可能是在某一步操作时丢失了shape信息，导致其中一个环节进行输入reshape时触发检查不满足

[2019-03-25 02:29] hjchen2 commented on #16374
@yeyupiaoling 这个例子中，我是指定了cls_prob的维度是[-1, 2]，其实如果你的网络输出是其他的维度，我觉得也没问题，你只需要指定py_func的输出shape就行。

[2019-03-25 03:03] yeyupiaoling commented on #16404
@junjun315  以下就是我的代码和数据集，数据集只是获取一小部分，所以非常小。您直接运行`train_PNet.py`即可。谢谢。

[2019-03-25 03:06] yeyupiaoling commented on #16374
@hjchen2

关键就是这个，我本来就是需要通过`np.size(x)`获取维度大小的。

[2019-03-25 03:12] yeyupiaoling commented on #16273
@Xreki 工程师姐姐是否可以帮我调试调试呢？直接运行`train_PNet.py`，完整的，包括数据集。万分感谢。

[TestMTCNN.tar.gz](https://github.com/PaddlePaddle/Paddle/files/3001340/TestMTCNN.tar.gz)

[2019-03-25 03:42] hjchen2 commented on #16416
@alexqdh 欢迎使用paddlepaddle！

其实你可以用一个executor执行整个网络的，我稍微改了一下你的代码，是没问题的。
[code]

paddle在构建图的时候，会把python中所有的layer都加到default program中，因此在执行第二个executor时a是没有指定输入的，所以执行时在py_func_binomial中报错input_array是NoneType。有三种方法可以避免这个问题：
1、在定义program时使用program_guard，将hidden和hidden2定义到不同的program中，两个executor分别执行两个program。
2、将hidden和hidden2定义到一个program中，只使用一个executor执行，指定a和b两个输入
3、什么都不改，在第二个executor中同时指定a输入。与2用法类似。

[2019-03-25 05:30] LeLiu opened #16426 "Cannot get attribute mean by type float"
PaddlePaddle版本： paddlepaddle-gpu 1.3.0.post97

[code]
使用`fc = fluid.layers.fc(input, size, act='relu', name=name+'_fc')`没有问题，使用` fc = fluid.layers.fc(input, size, param_attr=w_attr, bias_attr=b_attr, act='relu', name=name+'_fc')`会报错：
[code]

[2019-03-25 05:32] LeLiu commented on #16426
mean的类型是什么时候变成了int？

[2019-03-25 06:01] xiaolil1 commented on #16248
hi @jczaja, we verified INT8 and FP32 latency performance ( below table ), the result shows the FP32 regression was not fixed. Please compare to the reference version: 08c96d1, use this command line:
taskset -c 0-27 numactl -l ./capi/build/infer_image_classification --use_fake_data=True --skip_batch_num=10 --profile --use_mkldnn --with_labels=false --infer_model=weights/resnet50-fp32 --batch_size=

[2019-03-25 07:33] JiaXiao243 opened #16429 "centos下源码编译安装失败"
- 版本、环境信息：
    1）PaddlePaddle版本：develop分支
    2）CPU：Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz
    3）GPU：cuda9_cudnn7
    4）系统环境：centos6.1、版本、Python版本：python3.5
- 安装方式信息：
1）docker安装
2）docker编译：请提供docker镜像，编译命令           
复现步骤：
1. 下载docker images，sudo docker pull paddlepaddle/paddle_manylinux_devel:cuda9.0_cudnn7
2. 创建docker 容器，sudo nvidia-docker run --name centos --network host  -v $PWD:/paddle -it

[2019-03-25 07:46] PengheLiu opened #16430 "fluid 使用nce定制custom_dist 负采样概率报错"
paddle: 1.3.1   on mac cpu version
直接运行的这个例子。
http://paddlepaddle.org/documentation/docs/zh/1.3/api_cn/layers_cn.html#permalink-110-nce
[code]
![image](https://user-images.githubusercontent.com/7145732/54902639-f3d0d300-4f14-11e9-84fe-6d1eb026aad1.png)

[2019-03-25 07:55] wopeizl commented on #16429
今天的cdn出了问题，厂内访问会出错，所以导致编译错误

[2019-03-25 07:56] seiriosPlus commented on #16430
[code]
这行需要更改一下， 现在传一个概率的数组就可以了，如：```[0.05,0.5,0.1,0.3,0.05]```

[2019-03-25 08:11] PengheLiu commented on #16430
OK，好的，刚实验了下，没有问题，谢谢。
另外想多问一下，如果使用paddlecolud在mpi上训练的话这样是否有问题？

[2019-03-25 08:24] seiriosPlus commented on #16430
没有问题

[2019-03-25 08:30] zhoukunsheng opened #16431 "[Operator] add linspace op"
test=develop
linspace generates evenly spaced numbers in an interval, like the np.linspace.

[2019-03-25 08:31] JiaXiao243 commented on #16429
请问大概什么时候可以使用源码编译安装呢？

[2019-03-25 08:38] wanghaoshuang opened #16434 "Refine the doc of fsp_matix op."
https://github.com/PaddlePaddle/Paddle/pull/16408

[2019-03-25 08:50] hshen14 commented on #16248
@jczaja @kbinias @luotao1 @jianhang-liu

On the two points identified from @kbinias, I also communicated with @luotao1. Here are my understandings and suggestions:
* Between commits 08c96d1 and dec9cf5 (reason: tensor modification, ~3 fps). @kbinias Did you have a chance to investigate further and figure out the exact commit that leads to the regression? 3 fps seems does not help improve much.

*

[2019-03-25 09:10] hshen14 commented on #16248
@luotao1 @jianhang-liu I also discussed with @kbinias, my suggestion is to investigate the exact commit that leads to the FP32 performance regression. If it is related with tensor modification, we need to follow up the instructions: either fixing it today or reverting the change; otherwise, we can merge this https://github.com/PaddlePaddle/Paddle/pull/16325 first and @kbinias, please file another

[2019-03-25 09:14] luotao1 commented on #16248
@hshen14 Does #16325 fix the INT8 performance regression?

[2019-03-25 09:15] hshen14 commented on #16248
Yes, INT8 is good with #16325.

[2019-03-25 09:22] tensor-tang commented on #16248
@hshen14 Is this https://github.com/PaddlePaddle/Paddle/pull/16325#issuecomment-476047424 fixed by #16325 ?

[2019-03-25 09:25] hshen14 commented on #16248
No, that is not fixed yet. I understand INT8 performance regression is fixed.

[2019-03-25 11:21] hjchen2 commented on #16400
可能是输入数据的问题，能否把完整代码贴出来，我这边能复现和帮你定位一下问题。

[2019-03-25 12:26] renhui19931001 opened #16440 "fc层参数"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2019-03-25 12:26] #16440 closed, assigned to nobody

[2019-03-25 12:39] phonism opened #16444 "如何对定长的sequence做完embedding后接Conv2D操作"
希望的操作是：embedding后shape是(batch_size, padded_sentence_size, embedding_size)，然后unsqueeze(input, [2])，得到(batch_size, 1, padding_sentence_size, embedding_size)，就可以进行Conv2D了。

但是embedding后是lod_tensor，lod_tensor将batch_size和padded_sentence_size合在同一维了，请问如何对embedding后的lod_tensor，转成普通的3维tensor。

[2019-03-25 12:44] jczaja commented on #16248
It seems that Int8 works fine while FP32 still is behind expectations. Reason I can think of is convolution mkldnn op integration. INt8 and FP32 got separate integration functions. Perhaps something is wrong fp32 integration.
@xiaolil1  You used **--profile** If you have still your logs, then could you take a look and confirm that it is performance of convolution op that went down ?

I will look f

[2019-03-25 13:09] alexqdh opened #16445 "实现一个类似tf的global_step的功能"
想实现一个类似tf的global_step的功能，tf.train.create_global_step()
结果  第一个count打印是10，第二个count打印是20，问题是第二个为啥不是30?
[code]

[2019-03-25 13:42] junjun315 commented on #16404
@yeyupiaoling 看了一下你的程序，貌似是reader读入的数据有问题？ label应该是一个数组标签，而实际拿到的值是一个数字？
`....[0.6431373 , 0.61960787, 0.59607846, 0.5921569 , 0.5568628 ,
         0.49019608, 0.5058824 , 0.58431375, 0.58431375, 0.6627451 ,
         0.52156866, 0.31764707]]], dtype=float32), 1, [-0.03, -0.15, -0.15, 0.19], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0])]`

[2019-03-25 14:06] yeyupiaoling commented on #16404
@junjun315 我修改了一下，`    label = [int(sample[1])]`。输出如下：
[code]

但是还是有错误呢。

报错是：
[code]

[2019-03-25 15:01] wopeizl commented on #16445
sum不指定out参数的情况下会新建一个var，也就是说global_step = fluid.layers.sums([global_step, data]) 不是你之前创建的global_step 了，你可以用Layers.Print来观察输出

[2019-03-25 15:11] ghost commented on #16316
@luotao1 I checked log and found the error (compare) occur on a build with AVX=OFF.
- Build log:
   _[23:02:22] :	 [Step 1/1]         -DWITH_AVX=OFF_
- Runtime log:
   _[23:59:50] :	 [Step 1/1] W0320 23:49:52.179419 15817 init.cc:153] AVX is available, Please re-compile on local machine_

When run "compare" test case in Transformer model, the only difference between the original graph and the opti

[2019-03-25 17:16] tensor-tang commented on #16316
Did not get your point.
`FCCompute` still call `blas.MatMul`.

https://github.com/PaddlePaddle/Paddle/blob/de3b70a101dabd48e0659ddb4df4651b882aeafa/paddle/fluid/operators/math/fc_compute.h#L28

And JITKernel has unit tests and pass on AVX=OFF.

[2019-03-25 17:27] tensor-tang commented on #16316
Besides, the size is different

 [23:57:29]To be equal to: ref_size [23:57:29] Which is: 666

[2019-03-26 02:25] zmhuihuihui opened #16451 "在recommender_system中如何从数据集中获取用户性别。"
paddle.dataset.movielens.user_info()[1].gender为什么不能获取用户性别？

[2019-03-26 02:52] alexqdh commented on #16445
已解决，多谢。
补充下详细过程，上述代码中有两个问题:

* 的确是跟[layers.sums](http://paddlepaddle.org/documentation/docs/en/1.3/api/layers.html#sums)中的out参数有关系，如果不指定out返回的是一个临时变量，指定out为global_step的话，返回的就是global_step变量，通过[layers.Print](http://paddlepaddle.org/documentation/docs/en/1.3/api/layers.html#print)可以看出Tensor的名字有区别。对于程序里不加`out=global_step`就相当于名字为global_step的Variable没有更新，变量global_step指向了名为[sum_0.temp_0]的Variable

[code]

[2019-03-26 02:58] #16445 closed, assigned to nobody

[2019-03-26 03:09] PengheLiu commented on #16430
今天我使用了大的数据集，发现自定义概率数组太大时会报错，我的词表大概是千万到亿级别，我试了下使用1000万的自定义概率集合，nce就会报错，辛苦看下这个该如何解决？

[code]
报错信息如下：
  File "test.py", line 44, in <module>
    custom_dist=dist)
  File "/usr/local/anaconda2/lib/python2.7/site-packages/paddle/fluid/layers/nn.py", line 5281, in nce
    np.array(custom_dist).astype('float32'))
  File "/usr/local/anaconda2/lib/python2.7/site-packages/paddle/fluid/layers/nn.py", line 52

[2019-03-26 03:15] seiriosPlus commented on #16430
看了下代码， 现在支持 1024 * 1024 * 5 以下的大小， 试一下这个大小下可不可以？

[2019-03-26 03:20] PengheLiu commented on #16430
这个大小看起来是可以的，也就是说如果想要使用更大数组的话，目前是没有办法支持的是么?
看起来现阶段我只能取top 1024*1024*5 作为采样的概率。

[2019-03-26 03:25] LeoZhao-BJ commented on #16316
In CI build, for transformer test, only profile, fuse_statis and compare were enabled, mkldnn is disabled.
For first failure on size, the correct value should be 666, that means Analysis path gets wrong result, wondering where the defect is.
On local machine, even with same cmake options without GPU, it is hard to reproduce, trying to find another way to reproduce firstly.

[2019-03-26 03:25] zhaocaibei123 commented on #16180
`import numpy as np
import paddle
import paddle.fluid as fluid

def my_train_reader(train_file_path):
    def reader():
        with open(train_file_path, 'r') as f:
            lines = f.readlines()
            np.random.shuffle(lines)
            for line in lines:
                line = line.strip().split(' ')
                line = [int(l) for l in line]
                label = line[0]

[2019-03-26 03:27] zhaocaibei123 commented on #16180
import numpy as np
import paddle
import paddle.fluid as fluid

def my_train_reader(train_file_path):
    def reader():
        with open(train_file_path, 'r') as f:
            lines = f.readlines()
            np.random.shuffle(lines)
            for line in lines:
                line = line.strip().split(' ')
                line = [int(l) for l in line]
                label = line[0]

[2019-03-26 03:32] junjun315 commented on #16404
@yeyupiaoling 你好，很抱歉因为一些事情耽搁了排错。 我看了一下整个模型结构，里面`zeros`的使用可能有一些误区。zero op中输入的`shape`期望得到的是一个常量，而非attribute中的属性，这会导致它不能正常获取。满足你需求的或许是使用 `fluid.layers.fill_constant_batch_size_like(input=label, shape=[-1, 1], value=0, dtype="float32")` 能满足你的需要。

 此外，由于运行图的特性，类似你代码里实现的python方法中，根据传入的label获取label.shape一类的操作也应该工作不正常。如果shape可以预见，尝试使用常量代替。

总之，看了一下您整个模型结构，是一个很复杂的结构，了不起的工作！我修改了一下zeros的使用。报了`Process finishe

[2019-03-26 03:34] yeyupiaoling commented on #16404
@junjun315 我根据您的建议我再修改一下。

[2019-03-26 03:36] zhaocaibei123 commented on #16180
想实现一个fm模型，从本地文件读数据训练，数据格式如下（sparse feature）
label1 feature_id11 feature_id12 ...
label2 feature_id21 feature_id22 ...
下面代码读数据会报错，请问怎么改正
`
import numpy as np
import paddle
import paddle.fluid as fluid

def my_train_reader(train_file_path):
    def reader():
        with open(train_file_path, 'r') as f:
            lines = f.readlines()
            np.random.shuffle(lines)
            for line in li

[2019-03-26 03:37] luotao1 commented on #16316
Is it related to #16233

[2019-03-26 03:39] luotao1 commented on #16316
Is it related to #16088?

[2019-03-26 03:44] ghost commented on #16316
@luotao1 No. This "random failure" issue fail due to different "comparation" between native predict and analysis predict. The only "applied" pass in Transformer model is "FC fuse". And it happen on a build with both MKL OFF and AVX OFF.

[2019-03-26 03:45] LeoZhao-BJ commented on #16316
I remember this patch was merged for some days, should not occur if it really fixed the issue.
@luotao1  in recent days, this issue is still there, and from failure points, the values are exactly same with previous build. it looks like not a random issue.

[2019-03-26 03:52] SunGaofeng commented on #16451
可以使用paddle.dataset.movielens.user_info()[1].value()获取用户信息，
其中value()函数的返回值是：
         [self.index, 0 if self.is_male else 1, self.age, self.job_id]，
第二项即是gender信息
具体请参考https://github.com/PaddlePaddle/Paddle/blob/0fff666f149af9c1254440cd1f3b8d9d4aa7887e/python/paddle/dataset/movielens.py#L86

[2019-03-26 03:56] SunGaofeng commented on #16180
下面代码里面的，return reader()换成 return reader
line = [int(l) for l in line]
label = line[0]
data = line[1:]
yield data, label
return reader()

[2019-03-26 04:05] PengheLiu commented on #16430
看起来nce这个定制采样概率没有办法在大数据集上使用了，那训练skip-gram模型的话如果使用nce的这个定制采样概率功能只能允许不同单词个数最大为1024*1024*5么？感觉这样太鸡肋了。

我本来觉得我可以只采样高频的单词，从而让概率数组小一点，但是会报概率数组大小与类别个数不一致的错误。

![image](https://user-images.githubusercontent.com/7145732/54970922-20d9c000-4fbf-11e9-8251-3f548a9f2aa6.png)

[2019-03-26 04:44] seiriosPlus commented on #16430
我优化一下这个吧

[2019-03-26 06:47] hweidream opened #16458 "以字符为单元做LSTM"
想请问在以字符为单元进行RNN得到每个词的词表示时训练出core
`
char = fluid.layers.data(
     name='char_data', shape=[-1, 1], dtype='int64', lod_level=2)
char_fc = fluid.layers.fc(input=char_embedding, size=hidden_dim, act='tanh')
clstm_0, _ = fluid.layers.dynamic_lstm(input=char_fc, \
size=hidden_dim,
        candidate_activation='relu',
        gate_activation='sigmoid',
        cell_activation='sigmoid',
        is_rever

[2019-03-26 06:55] SunGaofeng commented on #16458
从报错信息来看，是因为sequence2batch只支持lod level =1的情形，您的输入数据的lod level是2。
这里的输入数据具体是什么形式的？

[2019-03-26 07:08] yeyupiaoling opened #16459 "请教range接口问题。"
# 环境
 - PaddlePaddle （develop）
 - Python 3.5
 - Ubuntu 16.04

# 问题
`fluid.layers.range`这个是接口。

目标是根据batch的大小来计算一个range。
[code]

其实是想复现tensorflow的以下代码
[code]

但是报错如下：
[code]

[2019-03-26 07:11] yeyupiaoling commented on #16404
@junjun315 非常感谢您的回答，我全部的ones和zeros都是用`fill_constant_batch_size_like`了，目前没有在这个地方报错了，出现的其他错误，我再另起issue。

[2019-03-26 07:11] #16404 closed, assigned to nobody

[2019-03-26 07:27] #16273 closed, assigned to nobody

[2019-03-26 07:28] hweidream commented on #16458
char的输入类似于下面的，整个序列表示一个句子，其中[1148, 1905]表示句子中第一个词中包含了两个字符，其中1148和1905是字符对应的id
[[1148, 1905], [232], [415], [182, 2414],...]

[2019-03-26 08:04] wanghaoshuang commented on #16459
[code]

在fill_constant op中，value不能动态的设置，只能设置为常数，你现在设置的cls_prob.shape[0]相当与value=-1, 所以num_row永远都是-1.

正确的做法应该是：
[code]

你可能用到的API:
http://paddlepaddle.org/documentation/docs/zh/1.3/api/layers.html#slice
http://paddlepaddle.org/documentation/docs/zh/1.3/api/layers.html#shape

[2019-03-26 08:59] SunGaofeng commented on #16458
这个输入数据确实是lod level = 2的，那sequence2batch 里面会出错。从上面的模型结构来看，lstm里面是不是只用了lod level 0 的信息，是否可以将 输入数据改成 lod level = 1的形式？