[2018-09-03 08:05] luotao1 commented on #13172
merge下最新代码试试。

[2018-09-03 08:11] kolinwei commented on #13055
已修复

[2018-09-03 08:11] #13055 closed, assigned to nobody

[2018-09-03 08:12] Yancey0623 commented on #13064
可以尝试下先把之前安装的paddlepaddle和paddlepaddle-gpu都卸载掉再安装。
如果环境是cuda8+cudnn5，还请安装`0.14.0.post85`这个版本。

[2018-09-03 08:16] bBobxx commented on #13064
@Yancey1989 谢谢，我试试

[2018-09-03 08:19] qnqinan opened #13174 "paddle version is 0.0.0"
在执行编译cmake .. -DWITH_FLUID_ONLY=ON -DWITH_GPU=OFF -DWITH_TESTING=OFF后，会在最后打印如下信息：
-- Paddle version is 0.0.0
-- Configuring done
-- Generating done
-- Build files have been written to: /home/ubuntu1604-02/project/paddle/build
为什么提示paddle的版本是0.0.0？？看之前的有人遇到，说需要执行git fetch upstream, 我这边执行会报如下错误：
fatal: 'upstream' does not appear to be a git repository
fatal: Could not read from remote repository.

P

[2018-09-03 08:46] Yancey0623 commented on #13174
Hi 您好

这个版本的提示信息不影响正常的编译，paddle的cmake是根据当前git所在分支来判断版本的，例如想编译0.14.0版本的paddle可以先切换到`v0.14.0`这个tag再编译：

[code]

[2018-09-03 09:11] gongweibao opened #13175 "CI meets error!"
[code]

[2018-09-03 09:26] JinmingZhao commented on #13166
Hi, 您好, 谢谢回复.
我现在有两个shape为[94, 500] 的矩阵(其中94为lstm的输出, 表示一个batch内的所有words, 具有batch内的每个句子的起始点信息) 分别为A和B, 现在其中 500 是 5个100维的向量拼接而成, 那么计算  [94, 5, 100]  与 [94, 5, 100]   对应元素(元素表示100维度的vector) 的余弦距离, 最后得到一个 (94, 5)的矩阵.
并且 得到的(94, 5)的矩阵还要做的序列送入下一个lstm, 如上面提到的问题, 不能进行resize成(94*5, 100)操作, 否则会打乱原有序列信息.

那么这种情况, 我应该怎么做呢?
比较直观的是 (94, 500) 进行 切片, 每次取 (94, 100 ), 在paddle中怎么实现这种切片? 用select_fc 吗?

[2018-09-03 09:36] luameows commented on #13129
自己回答吧.....
一个个调试代码，发现问题出在这一句
`odd_ones=fluid.layers.ones(shape=cos_t.shape,dtype='float32')`
如果去掉这一句，利用paddle封装好的`-`操作符，上述代码即可正常运行，至于为什么，我也不清楚。

[2018-09-03 09:37] #13129 closed, assigned to nobody

[2018-09-03 09:47] guochaorong opened #13177 "单测 random fail问题修复"
单测random fail，单测hange， 单测超时等问题
修复责任人确定：

**选择1.** 创建单测的人

**选择2.**  最后一次修改单测的人

[2018-09-03 10:33] reyoung commented on #13046
使用Paddle release/0.15.0 和如下代码未复现问题，请 @kolinwei  给出最小复现代码。
[code]

[2018-09-03 10:34] yiyibupt opened #13180 "deepfm的使用integer_value_sequence报错"
报错内容：

[code]

reader.py脚本：
[code]
network_conf.py如下：
[code]

[2018-09-03 11:06] kolinwei commented on #13046
我试了下，单机下复现不了，多机时会出现

[2018-09-03 11:18] TomorrowIsAnOtherDay opened #13183 "咨询下docker的lastest-gpu 下的fluid版本问题"
我们通过docker 拉了最新版本fluid，但是发现里面的fluid不是对应最新代码的，咨询下docker：lastest-gpu里面fluid是对应哪部分代码的呢？

[2018-09-03 11:28] #13177 closed, assigned to nobody

[2018-09-03 11:40] reyoung commented on #12993
需要fetch的variables，要么 persistable =True 要么在内存优化的时候，将其skip掉。

[2018-09-03 11:40] #12993 closed, assigned to dzhwinter

[2018-09-03 11:51] jacquesqiao commented on #13170
原因已定位~正在修复中

[2018-09-03 12:05] TomorrowIsAnOtherDay commented on #13183
update:
paddle.version.show() 可以看到版本信息，release的版本会显示版本号，develop分支的会显示commit id。

目前来看应该是每间隔一天同步一次：）

[2018-09-03 12:07] Yancey0623 commented on #13183
是的，docker image是每天会更新一次。

[2018-09-03 12:08] TomorrowIsAnOtherDay commented on #13183
好的，谢谢解答

[2018-09-03 12:10] LiuZheng-Z opened #13188 "咨询paddle v2 infer多结果输出对应的field值选取规则"
https://github.com/PaddlePaddle/Paddle/blob/release/0.12.0/python/paddle/v2/inference.py

有提到`infer(output_layer, parameters, input, feeding=None, field='value')`中的field需要为[value,id,prob]的子集，也可为list。想问下在infer多结果输出时，是否可以选择任意两者的组合，比如value,prob或者value,prob，亦或者可以同时指定为value,prob,id。在选择field的时候对模型有什么要求吗？
![image](https://user-images.githubusercontent.com/13477849/44986148-508a9180-afb5-11e8-9837-e375a48

[2018-09-03 12:41] Yancey0623 commented on #13180
[code]

改成下面的试试？

[code]

[2018-09-03 12:43] Yancey0623 commented on #13188
根据文档提示是可以任意组合的，只是`prob`需要output layer是beamsearch或者max_id，如果使用时遇到问题可以在这里提出来。

[2018-09-03 12:47] LiuZheng-Z commented on #13188
@Yancey1989 ok，谢谢了

[2018-09-03 14:22] #13170 closed, assigned to jacquesqiao

[2018-09-03 14:24] JinmingZhao commented on #13166
@Yancey1989
提供一个解决思路:
用 seq_reshape 可以保留 seqence 的 起始点信息, 而直接resize 则会丢失 起始点信息.
B = paddle.layer.seq_reshape(A, reshape_size=100)
C = paddle.layer.seq_reshape(A, reshape_size=5)

[2018-09-03 14:24] wojtuss opened #13191 "Executing Passes"
In the overview document https://github.com/PaddlePaddle/Paddle/blob/develop/doc/fluid/design/ir/overview.md there is a call for the Executor on a graph, but I cannot see the appropriate method in the Executor class. How can one run Passes with Executor? I can see there is an API for registering passes, but do not know how they are triggered.

[2018-09-03 14:25] #13166 closed, assigned to nobody

[2018-09-03 15:02] shanyi15 commented on #13152
Thanks @Haichao-Zhang for the valuable reminding
Thanks @qingqing01 for providing link

[2018-09-03 15:14] sfraczek commented on #13191
I would like to join the question.
Should we rewrite Executor to do something like this https://github.com/PaddlePaddle/Paddle/compare/develop...tpatejko:tpatejko/fun-with-ir-passes#diff-9c62ba43f55bf11a4b8656844d20ffe1R142?
Can we have passes launched by Python api too or only by C-api? Is there any executable entry-point that calls the passes?

[2018-09-03 15:34] yiyibupt commented on #13180
尝试了，是不可以的。
我的想法就是给deepfm的integer_value更换为integer_value_sequence， sparse_input和 sparse_input_ids可以是不一样的吧 sparse_input为稀疏向量， sparse_input_ids为稀疏整数序列模式
报错信息如下：
 File "train.py", line 108, in <module>
    train()
  File "train.py", line 104, in train
    num_passes=args.num_passes)
  File "/home/litao/.jumbo/lib/python2.7/site-packages/paddle/v2/trainer.py", line 182, in train
    in_args = feeder(dat

[2018-09-03 16:51] lyp2github opened #13194 "本地编译paddle fluid cpu版本时出错"
[ 37%] Building CXX object paddle/fluid/operators/CMakeFiles/hierarchical_sigmoid_op.dir/hierarchical_sigmoid_op.cc.o
In file included from /home/work/liuyaping/Paddle/third_party/eigen3/src/extern_eigen3/unsupported/Eigen/CXX11/Tensor:152:0,
                 from /home/work/liuyaping/Paddle/paddle/fluid/platform/device_context.h:34,
                 from /home/work/liuyaping/Paddle/paddle/fluid/f

[2018-09-04 01:00] bBobxx commented on #13064
经过各位的指导，我发现问题的原因果然是出现在resize_bilinear上，resize_bilinear的scale参数不能设置为1(这个在cpu下是可以的)，虽然设置为１的时候没什么意义，但是我的代码中有个地方就设置为了１，所以才会报错，谢谢各位的耐心解答。

[2018-09-04 01:00] #13064 closed, assigned to reyoung

[2018-09-04 01:50] luotao1 commented on #13194
请先说明你编译的版本（是否develop分支）？在本地编译还是docker镜像里编译，cmake命令等。
另外，是否`mkdir build; cd build`进入build目录编译。

[2018-09-04 01:53] #13152 closed, assigned to shanyi15

[2018-09-04 02:40] luameows commented on #13163
@ccmeteorljh 您是如何安装0.15版本的呢

[2018-09-04 02:41] Superjomn opened #13197 "Fuse based on IR/PASS"
# Fusion based on IR/Analysis

## `PDPattern` and `PDNode`

Pattern related:

- We treat operator fusion problem as a modification of IR graph

  - extract some subgraphs that meets some pre-defined pattern/rules
  - remove the subgraphs and insert the new fused operator(or a new sub-graph)

- Get a sub-graph and modify the nodes is easy, so the core problem is how to extract the subgraphs that me

[2018-09-04 03:03] luotao1 commented on #13180
请问为什么要进行替换呢？

从原来模型的代码来看，sparse_input_ids是integer_value类型，是整数类型，不是整数序列类型。

[2018-09-04 03:09] yiyibupt commented on #13180
模型的demo的整数类型，但是我的项目背景类别特征是序列特征，那么不可以使用fm么？deep+fm是不支持整数序列特征么？

[2018-09-04 03:12] Superjomn commented on #13191
Currently, there is no overall Pass Manager like module, so for different application, there are some small ones.

For example, for inference, the `Analysis` module has its own IR manager

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/analysis/ir_pass_manager.cc#L38

[2018-09-04 03:18] #13172 closed, assigned to guochaorong

[2018-09-04 03:19] #13111 closed, assigned to luotao1

[2018-09-04 03:21] luotao1 commented on #13110
#13158 has already removed these hard-coding numbers.

[2018-09-04 03:21] #13110 closed, assigned to Superjomn, luotao1

[2018-09-04 03:23] luotao1 commented on #13109
@tpatejko You can see #13197  at first.

[2018-09-04 03:25] luameows opened #13200 "fluid下有类似tf.where()接口么？"
我想实现amsoftmax这样一个损失函数，其中需要调用类似`tf.where(condition,x,y)`的接口。该函数作用是根据condition返回x或y中的元素。
请问fluid下是否有相关接口函数呢？
如果没有，能否通过numpy操作实现？

[2018-09-04 03:26] #13010 closed, assigned to velconia, panyx0718, guochaorong

[2018-09-04 03:27] typhoonzero commented on #13042
Will find a general way and fix this in next release.

[2018-09-04 03:48] luotao1 commented on #13200
fluid没有完整的where接口。相关接口可以参考：
- gatter: http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#gather
- scatter: http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#scatter
- less_than: http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#less-than

[2018-09-04 03:53] #12703 closed, assigned to luotao1

[2018-09-04 03:54] #12827 closed, assigned to luotao1

[2018-09-04 03:54] Apollo2Mars commented on #3515
The problems as follow:

$ pip install paddlepaddle_gpu
Collecting paddlepaddle_gpu
  Could not find a version that satisfies the requirement paddlepaddle_gpu (from versions: )
No matching distribution found for paddlepaddle_gpu

[2018-09-04 03:55] #12492 closed, assigned to luotao1, guochaorong

[2018-09-04 04:01] Superjomn commented on #13180
原理上，如果是这里的 int 就是想当成数值做，那把数据当成 float就可以直接跑了。

如果id是作为 embedding id，模型里面转成 embedding。 看了下这个网络不是太复杂，建议用fluid对应写下，里面的op会更直观一些，能更主流框架对应上。

[2018-09-04 04:04] luotao1 commented on #13180
可以参考 https://github.com/PaddlePaddle/models/issues/946 ，models里面加一个pooling来处理不定长特征。

[2018-09-04 04:16] yiyibupt commented on #13180
@Superjomn  我这里的序列特征是类别特征，不是数值，后半句话，我不太理解是什么意思？我的输入是整数序列特征了，但是程序报错；我不知道是哪里有问题了？

[2018-09-04 05:32] luameows commented on #13200
@luotao1 您提供的这些接口对我而言用不上，并且scatter是最近才封装的，[#12725](https://github.com/PaddlePaddle/Paddle/issues/12725) 。我有两个问题想请教下。
1.对于[#12725](https://github.com/PaddlePaddle/Paddle/issues/12725) 更新的接口，我如果要采用该版本，应该如何更新我的paddle呢？之前尝试过pip install，发现并没有更新。
2.fluid每一层运算后的返回值`Variable`或`tensor`，是numpy形式么？能否转成numpy形式？我能否以numpy数组运算的方式来自己编写类似`tf.where`这样的功能？

[2018-09-04 06:11] luotao1 commented on #13200
http://www.paddlepaddle.org/documentation/docs/zh/0.13.0/build_and_install/pip_install_cn.html#id6 可以选择最新的whl包进行安装。

是的。可以参考 https://github.com/PaddlePaddle/Paddle/issues/13029#issuecomment-416574599 打印。

我们有一个[test_if_else_op.py](https://github.com/PaddlePaddle/Paddle/blob/9557cc218d3d71947d7204dce6d711126eb80ad0/python/paddle/fluid/tests/test_if_else_op.py)，可供参考。

[2018-09-04 06:22] jacquesqiao opened #13205 "support large scale ctr model with distributed lookup table[二期]"
## refs
support large-scale ctr model with distributed lookup table [一期] https://github.com/PaddlePaddle/Paddle/issues/12008

## feature
- [ ] 支持打印训练的总样本数和当前batch样本数
- [x] 优化AUC性能，完善AUC功能，支持统计累积的auc值和当前batch的auc #13167
- [x] 支持分布式AUC #12116
- [ ] 支持一个pass结束之后做同步
- [x] 支持center rmsprop优化算法 https://github.com/PaddlePaddle/Paddle/pull/13161
- [ ] lookup table支持弹性

#### 异步训练性能优化
- [x] rpc_client支持灵活的w

[2018-09-04 06:34] luotao1 commented on #13180
[code]
从报错来看，是concat反向连接时，维度没有匹配上。

[2018-09-04 07:13] lyp2github commented on #13194
release0.14.0
本地编译（非docker镜像）
另外：未mkdir build; cd build进入build目录编译。

[2018-09-04 07:36] luotao1 commented on #13194
http://www.paddlepaddle.org/documentation/docs/zh/0.14.0/new_docs/beginners_guide/install/install_doc.html#permalink-6--paddlepaddle
里面第8点，需要`mkdir build; cd build`进入build目录编译。
![image](https://user-images.githubusercontent.com/6836917/45016805-60a77d00-b058-11e8-8f55-b5293500d922.png)

[2018-09-04 07:53] dzhwinter commented on #13037
和@kolinwei确认过，单独跑test_ocr_recognition:attention_network_multigpu没有复现上述问题。原因是测试脚本中多个test network混用了一个scope。导致全局scope里存在的变量是未定义的，出现了上述问题。
正确使用方法如例子所示 https://github.com/PaddlePaddle/Paddle/blob/340a104c5854c648ee7f84496639de1c14eb13e9/tools/test_runner.py#L34

[2018-09-04 08:16] tpatejko commented on #13109
@luotao1 @Superjomn Thank you for the document.

I'm trying to use the `fc_fuse_pass` in executor:
https://github.com/tpatejko/Paddle/blob/2d5deb90190210166fb276440407c9873796d0f3/paddle/fluid/framework/executor.cc#L36-L44

I also used `USE_PASS` macro to add the pass:
https://github.com/tpatejko/Paddle/blob/2d5deb90190210166fb276440407c9873796d0f3/paddle/fluid/framework/executor.cc#L437

But I'm

[2018-09-04 08:19] wojtuss commented on #13191
Currently, we have several fuses of operators implemented in python using the inference transpiler. We want to switch from transpiler to Passes. How should we approach this?
As far as I understand, we should create several Passes which implement the fuses. Then we should execute those Passes on the model graph using the PaddlePredictor(?) just after loading the model and before running the inferen

[2018-09-04 08:21] boice-girl commented on #13129
貌似是 那个cos_t是[-1, class_dim],这种不支持，改成 shape=[batch_size, class_dim]应该就可以了，不过，我卡在最后那个 elementwise_adds上，算出来的值不对，请问楼主跑通的代码，最后是怎么写的呢？

[2018-09-04 08:25] luotao1 commented on #13109
@tpatejko #13133 update the static and shared library to support analysis and IR, you can merge with the latest code.

Besides, you can `#include "paddle/fluid/inference/api/paddle_inference_pass.h"` instead of `USE_PASS(XXX)`

But why you add `USE_PASS` in executor?

[2018-09-04 08:26] luameows commented on #13129
@boice-girl 我只是代码跑通了，但是在训练过程中loss显示始终是nan，具体原因没有找到。

[2018-09-04 08:40] luameows commented on #13200
@luotao1 看了下您提供的这个例程，只是比较了`IFELSE`与numpy操作的结果，并且在numpy方法中，所有变量均是通过numpy定义得到，而没有关于numpy操作layer的方式呢。
我现在的目的是：
[code]

另外，关于您提供的`ifelse`接口，API上没有具体说明适用方法。对于下面这个例子，请问`input`与`output`得到的分别是什么呢？最后返回`ie()`是将两个block的结果合并？
![image](https://user-images.githubusercontent.com/30432086/45020255-0959da80-b061-11e8-969f-a794614c8efc.png)

[2018-09-04 09:10] luotao1 commented on #13200
不能使用numpy来操作layer。这样反向的信息无法保存。

API上没有这个接口，只是一个测试用例。

是的。

[2018-09-04 09:24] tpatejko commented on #13109
@luotao1 I'm trying to run an existing pass to check how it works. What is your suggestion regarding correct pass execution?

[2018-09-04 09:31] lyp2github commented on #13194
即使新建build目录，根据8. cmake .. -DWITH_FLUID_ONLY=ON -DWITH_GPU=OFF -DWITH_TESTING=OFF

[2018-09-04 09:32] lyp2github commented on #13194
生成的makefile还是在build/../ ，也就是原始目录
重新make，还是失败

[2018-09-04 09:35] luotao1 commented on #13194
[code]

弄一个干净目录，重新来一遍。

[2018-09-04 09:36] tpatejko commented on #13109
@luotao1 I rebased to the newest `develop` branch and modified executor according to your suggestions:

https://github.com/PaddlePaddle/Paddle/compare/develop...tpatejko:tpatejko/use-fc-fuse-pass

But I'm still getting:
[code]

when I try to use `fc_fuse_pass`.

[2018-09-04 09:40] luotao1 commented on #13109
`USE_PASS` is not used in python related code.
You can run `ctest -R test_analyzer -V` to see it. https://github.com/PaddlePaddle/Paddle/blob/90b5be85cfd7423ca584dab2daea39e2d6aa15e2/paddle/fluid/inference/analysis/analyzer_tester.cc#L281-L285
compared with `base_predictor`, `predictor` use the pass.

[2018-09-04 09:43] qnqinan commented on #13174
@Yancey1989
ok, tks

[2018-09-04 09:43] #13174 closed, assigned to nobody

[2018-09-04 09:48] luotao1 commented on #13191
Running PaddlePredictor doesn't require exposing it to the python api. You can see https://github.com/PaddlePaddle/Paddle/issues/13109#issuecomment-418305737

[2018-09-04 09:57] tpatejko commented on #13109
@luotao1 Thank you for your reply.

So how can I trigger C++ fusion passes when I run inference script implemented in Python?

[2018-09-04 10:14] #13037 closed, assigned to nobody

[2018-09-04 10:26] tpatejko commented on #13109
@luotao1 Thank you for your reply.

So how can I trigger C++ pass when I run python inference script? Are you suggesting using Predictors for that?

My idea would be to modify executor.cc and execute fusion passes there. Executor seems to be the only place where one can have access to an instance of `ProgramDesc` inference program.

However, for example `AnalysisPredictor` creates new instance of

[2018-09-04 10:52] Superjomn commented on #13109
No, currently, the IR is not directly support python, just as the underlying framework.

I am working on a PR that has some support of controlling which pass to run.

https://github.com/PaddlePaddle/Paddle/pull/13081/files#diff-2cf901e4cc3d122458722bef9dadf8faR154

For c++ inference application, the `AnalysisPredictor` is the only interface, and the C++ inference currently has no interface for pyt

[2018-09-04 11:01] typhoonzero commented on #13042
对内存优化和分布式训练共同使用的情况，现在决定规定，必须先调用memory_optimize，然后调用distribute_transpiler。

如果先调用distribute_transpiler，然后对生成的trainer端的program执行内存优化，会导致send的variable会被rename，导致trainer和pserver的variable name有区别，导致程序出错。所以，需要修改distribute transpiler可以同步兼容内存优化输出的program，另外在每个模型上增加单测。

[2018-09-04 11:20] velconia opened #13221 "Inference CI unittests can NOT pass under manylinux envs"
The tests below can NOT pass the CI tests in manylinux envs:

[code]

Hope for your fix @Superjomn @luotao1 @qingqing01

[2018-09-04 11:36] qichaotang opened #13222 "pip install paddlepaddle-gpu==0.14.0.post87 安装 fluid 版本报错"
pip install paddlepaddle-gpu==0.14.0.post87
公司内部开发GPU机器，
系统信息：
![image](https://user-images.githubusercontent.com/12878507/45028894-606ba980-b079-11e8-98e7-6e80f1c3f386.png)
CUDA信息
![image](https://user-images.githubusercontent.com/12878507/45028950-8c872a80-b079-11e8-82f2-ca6591203eb1.png)
按照官网安装：pip install paddlepaddle-gpu==0.14.0.post87
执行 import paddle.fluid as fluid 失败
![image](https://user-

[2018-09-04 11:38] tpatejko commented on #13109
@Superjomn Thanks for the information

At the moment, we don't want to call C++ inference passes directly from the Python code. What I wanted to do is to call `framework/ir` passes from within C++ code, from `Executor` in `executor.cc`, and an instance of the modified executor was created in the `infer.py` script through (pybind bindings).

However, when I try to run the script I get an undefined

[2018-09-04 12:12] luotao1 commented on #13222
可以查看下是否GPU显存不够了。

[2018-09-04 12:48] ccmeteorljh commented on #13163
直接在cloud上用编译好的whl包替换paddle

[2018-09-04 13:00] panyx0718 commented on #13042
内存优化这块志宏已经开始在IR里做了。将来还是会在dist_transpiler之后进行。所以内存优化可能会需要判断分布式相关op，避免一些问题。

[2018-09-04 13:17] luameows commented on #13200
@luotao1 谢谢。
我通过另外的计算方法绕过了`tf.where()`的问题。但是又出现了几个新的情况，还请帮忙看一下。
1.提取特征feature，shape为[-1，512]，之后通过`layers.l2_normalize(feature,axis=1,epsilon=1e-10)`进行归一化之后，所有值都变成nan。已经确认feature值为正常。

2.创建学习参数w，发现所有值都是nan
[code]

3.通过numpy创建学习参数w并归一化，之后利用`layers.assign`将其转化为`variabel`，该方法是不是无法保存反向传播信息？

[2018-09-04 14:17] Superjomn commented on #13109
The `graph_vis_pass` is used to visualize the SSA graph of the IR, while the `xxx_fuse_pass` is used to modify the IR graph to fuse some operators.

Currently, all the `xxx_fuse_pass` are only used in inference, and the `AnalysisPredictor` calls these passes before the executor run.

If you want to optimize inference, you might need to write some C++ inference program using `AnalysisPredictor`.

[2018-09-04 14:40] luameows commented on #13200
1.更新下，我又尝试通过其他接口，自己构造l2_norm，代码如下。
[code]
跟踪上诉变量，发现`input_x_sqrt`及之前部分均正常。当执行`elementwise_div`，所有值全部变成nan。

2.关于`create_parameter`初始化全为nan，还是没有找到原因及解决办法。

[2018-09-04 14:54] #13036 closed, assigned to jacquesqiao

[2018-09-04 15:37] tpatejko commented on #13109
@Superjomn Thanks a lot for your explanation.

I wasn't fully aware of relation between inference engine and CAPI. I thought that inference engine and pass infrastructure could be used along with Python inference scripts, but it doesn't seem to be the case now, as CAPI is becoming a primary inferface for inference.

[2018-09-05 00:20] #12906 closed, assigned to jacquesqiao

[2018-09-05 00:22] #12832 closed, assigned to wanghaoshuang

[2018-09-05 01:55] luotao1 commented on #13200
`axis=0`是否正确？`axis`默认=-1

[2018-09-05 02:20] ktlichkid commented on #13029
所谓fetch就是获取网络的输出值。例如下面的code, fetch_outs获取之后就可以numpy.array(fetch_outs[0])转成numpy array

[code]

[2018-09-05 02:26] ktlichkid commented on #13019
我理解你是想要类似tf.where那种操作？目前paddle并没有where，希望能早日加入吧

或者你可以尝试使用IfElseOp
http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#permalink-21-ifelse

[2018-09-05 02:28] ktlichkid commented on #13022
v2和fluid不能混用的。@wanghaoshuang的意思是说fluid的data自动就可以变长输入

[2018-09-05 02:28] #13025 closed, assigned to ktlichkid

[2018-09-05 02:31] rationme commented on #13022
好的，谢谢 我已经完成了相关的东西

[2018-09-05 02:31] #13022 closed, assigned to ktlichkid

[2018-09-05 02:32] HugoLian opened #13227 "paddle-v2使用capi多线程初始化出错求助"
我参考的是这个demo:
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/legacy/capi/examples/model_inference/multi_thread/main.c

我的测试程序是这么写的：
[code]
运行的时候一到paddle_gradient_machine_create_shared_param（）这个函数服务就会退出，不报core，但是控制台会打出一句：
[libprotobuf ERROR /paddle/build/third_party/protobuf/src/extern_protobuf/src/google/protobuf/message_lite.cc:119] Can't parse message of type "paddle.ModelConfig" beca

[2018-09-05 02:46] luotao1 commented on #13200
关于l2_normalize的问题，请问您用的是什么版本的whl包。0.14.0的whl包（包含 #11348 ）已经修复过一次。如果您还出现问题，请提供复现该问题的case。比如输入feature map是什么，等。

[2018-09-05 03:05] chengduoZH opened #13230 "The test_parallel_executor_fetch_feed need be reopened."
related PR https://github.com/PaddlePaddle/Paddle/pull/13229

[2018-09-05 03:45] kebinC opened #13235 "fluid.layers.l2_normalize output nan when using gpu mode"
fluid.layers.l2_normalize work well when using cpu mode, but it output nan changing to gpu mode

when i replace "fluid.layers.l2_normalize" by
`    weight_norm = fluid.layers.sqrt(fluid.layers.reduce_sum(fluid.layers.square(weight), dim=1))
    weight = fluid.layers.elementwise_div(weight, weight_norm, axis=0)`,
it alse work well.

[code]

[2018-09-05 04:18] yiyibupt commented on #13180
加了pooling，然后解决了特征不定长问题

[2018-09-05 04:25] luameows commented on #13200
@luotao1
1.关于axis的值，官方介绍表示是从第几个维度开始。我也尝试过其他的值如0，-1，结果都是一样出现了问题
![image](https://user-images.githubusercontent.com/30432086/45070962-8f7c2c80-b106-11e8-9098-fd9cef504300.png)
2.关于whl包。我也怀疑是不是这个问题。现在paddle是科赛网上工作人员安装的，通过pip install paddlepaddle-gpu ==0.14.0，请问下我如何查看当前版本呢？

[2018-09-05 04:30] typhoonzero commented on #13227
根据报错信息，是加载的模型protobuf的配置缺少字段： https://github.com/PaddlePaddle/Paddle/blob/develop/proto/ModelConfig.proto#L675

可能是save模型的paddle的版本和inference的版本不一致，但最快方法可以直接修改配置的protobuf，增加这个字段即可。

[2018-09-05 04:53] luameows commented on #13235
我也遇到这个问题，但是没有尝试cpu下的情况。
另外，我才用`elementwise_div`也变成nan。
`fluid.layers.create_parameter`生成的参数同样是nan。

[2018-09-05 04:56] luotao1 commented on #13235
related https://github.com/PaddlePaddle/Paddle/issues/13200#issuecomment-418363398

[2018-09-05 05:00] qingqing01 commented on #13235
@luameows 你可以尝试用 类似的方法做l2 norm:

[code]

CPU和GPU内部是同一套实现，很奇怪CPU正确，GPU出错，这个问题我们看下。多谢了~

[2018-09-05 05:04] luameows commented on #13235
@qingqing01 我就是采用这样的方法做的。
在我的例程里，input_x是网络输出特征。我开始尝试利用l2 norm对其进行归一化，出现nan，后来采用下述方法，最后输出input_x_norm也是nan，然后我跟进发现input_x_sqrt及其之上的所有变量的值均存在，在调用`elementwise_div`之后就变成`nan`。
[code]

[2018-09-05 05:06] qichaotang commented on #13222
执行 nvidia-smi ，显示是够的
![image](https://user-images.githubusercontent.com/12878507/45072174-5fd02300-b10c-11e8-9f16-7337a5e22082.png)
![image](https://user-images.githubusercontent.com/12878507/45072186-6c547b80-b10c-11e8-94df-578e8e8ad7d6.png)

[2018-09-05 05:09] qichaotang commented on #13222
刚才重新安装又好了。。。可能是昨天显存不够吧！Thanks！

[2018-09-05 05:09] #13222 closed, assigned to luotao1

[2018-09-05 05:43] #13180 closed, assigned to luotao1

[2018-09-05 06:18] #13157 closed, assigned to qingqing01

[2018-09-05 06:22] qingqing01 commented on #13235
在div之前加个epsion试下:
[code]
另外，l2_norm也有个epsilon可调节试下~

[2018-09-05 06:24] luameows commented on #13235
@qingqing01 这又是一个奇怪的地方了，你说的这段代码我也添加过。但是添加之后，`input_x_sqrt`就变成了nan

[2018-09-05 06:26] luameows commented on #13235
@qingqing01 有什么命令可以查看当前paddle版本么？我怀疑是paddle版本的问题吧，之前看到issuse中有修复过l2 norm的bug

[2018-09-05 06:26] TomorrowIsAnOtherDay commented on #13183
经过3天之后，通过docker pull更新了最新的镜像，发现最新的版本仍是3天前的，请更新下docker的版本：）
![image](https://user-images.githubusercontent.com/25046619/45074855-a2e3c380-b117-11e8-8f3f-b644615bea93.png)
由于我们的仓库unittest依赖于最新的镜像，烦请跟进下

[2018-09-05 06:28] Tristan-Hao commented on #13038
是的，我们是在做adversarial example相关，使用tensorflow可以独立计算梯度，在paddle下要使用append_backward，在简单模型（无BN无dropout）下没有问题，如果存在BN就不行，参数全被更新，除非再进行反复load参数操作.....是否能对BN进行调整，或支持仅供计算梯度的API。

[2018-09-05 06:30] typhoonzero commented on #13183
https://hub.docker.com/r/paddlepaddle/paddle/tags/ 目前看`latest-gpu`是一小时前更新的了

[2018-09-05 06:31] TomorrowIsAnOtherDay commented on #13183
嗯呐，我刚才pull的时候确实更新了，但是登进去之后发现版本还是3天前的呢，这个有办法申请刷新吗？

[2018-09-05 07:03] orrorcol commented on #10727
经过我的尝试，将数据改为8k的采样率就行了。

[2018-09-05 07:14] TomorrowIsAnOtherDay commented on #13183
噢，看错了，load了错误的image，没有问题：）谢谢wuyi的解答

[2018-09-05 07:14] #13183 closed, assigned to nobody

[2018-09-05 07:28] #12471 closed, assigned to nobody

[2018-09-05 07:34] Yancey0623 opened #13241 "Hidden self._bcast_params() at the end of each iteration"
Should using `broadcast_op_handle` in `multi_devices_graph_pass` at the end of each iteration instead of calling it in Python code:

https://github.com/PaddlePaddle/Paddle/blob/6e03f7900f340d6615eb9b9bbed530adcd6fe99b/python/paddle/fluid/parallel_executor.py#L279-L280

[2018-09-05 08:03] Yancey0623 commented on #13163
已能够在小范围内复现，job链接：http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5b8f3e3895c4f&flag=jobs&groupName=k8s_gpu_demo&groupId=c0a1f165-6279-5320-b9e7-e0218c7a87f5&currentPage=1&currentKey=1

现象：当trainer节点分配的batch不相同时，其中某些节点会提前结束训练并调用`exe.close()`，剩余继续训练的节点会出现loss升高的情况。
可能的原因：同步训练时，pserver会根据任务启动时配置的trainer数量对w@GRAD求平均:`sum(w@GRAD.trainer$i)/trainers`, 当部分节点结束训练时，trainers并没有动态调整，导致优化

[2018-09-05 08:06] bhan1111 opened #13242 "使用nce训练失败"
fluid 0.15.0版本
任务local模式可以跑通
使用paddlecloud提交后，任务链接http://10.182.22.147:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20180905155251-6051/
会报
<img width="1225" alt="default" src="https://user-images.githubusercontent.com/29255596/45079619-9cf4df00-b125-11e8-9c98-20ff73d53c3e.png">
这样的错误，不知原因

[2018-09-05 08:17] typhoonzero commented on #13242
错误：`Tensor nce_0.tmp_0 contains Inf` 如果是同步集群batch size是单机的n倍，单机能收敛的情况集群不一定，可以适当调整参数重新训练，或者如果本地内存较大可以先在本地测试大batch size的情况

[2018-09-05 08:18] lianqingsong opened #13245 "怎么把训练好的一个模型封装"
请问，自己训练好的一个模型，怎么样才能把这个模型放在一个没有paddlepaddle框架的平台，直接调用

[2018-09-05 08:21] bhan1111 commented on #13242
但是我只用了一个节点训练啊 batch size设置为100

[2018-09-05 08:21] bhan1111 commented on #13242
INF表示无穷大还是无穷小呢？

[2018-09-05 08:53] zzhzz opened #13248 "fetch_var接口失效了吗？"
我编译当前版本的paddle，发现使用fetch_var接口报错

请问目前想要从神经网络中获取一个Tensor的Numpy数组值该怎么办呢？

[2018-09-05 09:05] HugoLian commented on #13227
问题解决了，
demo加载的模型只有网络结构，然后参数是从disk上加载的
而我把模型和网络结构打包到一个bin里了。

而shared_machine的原理是从网络结构中加载，所以初始化不成功，分开加载就好了。

[2018-09-05 09:05] #13227 closed, assigned to typhoonzero

[2018-09-05 09:18] typhoonzero commented on #13242
是无穷大。这个问题得具体看下，如果是单pserver，单trainer，是和local模式训练是完全一致的才对。可以加一些print layer看具体是哪些层会有INF

[2018-09-05 09:31] typhoonzero commented on #13248
`fetch_var`接口在新版中已经隐藏，请使用在`exe.run(fetch_list=[vars to fetch])`在`exe.run`中增加需要fetch的variable

[2018-09-05 09:32] JulyJohn opened #13249 "树莓派 No target "paddle_pybind""
在树莓派3b+上编译，编译命令为：
[code]
报错：
[code]

[2018-09-05 09:34] typhoonzero commented on #13242
和用户沟通，在local跑的时候，loss也会为INF，只不过不会挂，此为版本问题。有INF也没必要继续run下去了

[2018-09-05 11:09] typhoonzero commented on #13249
最新版本可能没有继续在做树莓派的支持了，目前应该v2可以支持，可以尝试checkout之前的release比如`0.10.0`

[2018-09-05 11:36] Yancey0623 opened #13252 "The unit test of distributed job can not run in parallel"
CI job: http://ci.paddlepaddle.org/viewLog.html?buildId=13347&buildTypeId=GuochaorongPaddleTest_PrCi&tab=buildLog&_focus=32472

Logs:
[code]

[2018-09-05 11:44] Yancey0623 opened #13253 "Cache inference package on CI job"
CI job: http://ci.paddlepaddle.org/viewLog.html?buildId=13633&buildTypeId=GuochaorongPaddleTest_PrCi&tab=buildLog
Logs:
[code]

Should cache the inference package on CI job so that we can speed up the CI job building.

[2018-09-05 11:50] typhoonzero commented on #13245
不确定是否是你需要的： https://github.com/PaddlePaddle/book/tree/develop/serve

[2018-09-05 11:56] lianqingsong commented on #13245
@typhoonzero 谢谢(･ω･)ﾉ，好像不是呢。我需要的是把自己训练好的模型，封装好，比如说图片分类的模型吧，把这个模型训练出来了。封装好模型，给别人用。别人输入一张图片进去，这个模型就反馈出分类结果。

[2018-09-05 12:06] typhoonzero commented on #13245
上面的例子就是用http方式封装了一个服务，同样也可以类似的封装一个API，SDK或者其他形式。吧inference的代码包装一下就行

[2018-09-05 12:45] xingyuanbu opened #13255 "Is there any way to use "Python Layer" in fluid"
In caffe, caffe2 and tensorflow, one can define an operator with python, which named python layer in caffe, and py_func in tensorflow.
Is there any way to use python layer in fluid?

[2018-09-05 13:14] lianqingsong commented on #13245
@typhoonzero  哇，不好意思，上面的例子看着不是很懂，不明白，您能详细的说一下嘛_(:з」∠)_

[2018-09-05 13:56] sfraczek commented on #13197
If I want to make a conv relu fuse pass, and the convolution input **bias** is optional, will the pass written for network with bias work also on network without bias?

[2018-09-05 16:47] xiebaiyuan commented on #13171
i build it in another env .   and it run successful!
thx!

[2018-09-05 16:47] #13171 closed, assigned to nobody

[2018-09-06 01:58] typhoonzero commented on #13245
可以看link里的README已经有详细说明了。如果是封装inference，请参考：https://github.com/PaddlePaddle/book/blob/develop/02.recognize_digits/train.py#L128

[2018-09-06 04:03] #13086 closed, assigned to JiabinYang

[2018-09-06 04:16] luameows commented on #13235
我在teamcity下载了最新版whl包，安装后，l2_norm还是有问题

[2018-09-06 04:33] ghost commented on #13197
@sfraczek Yes, you can create various pattern in one pass. Here is an [example](https://github.com/PaddlePaddle/Paddle/blob/b805751598a49ea94271e839757c11a87458b00d/paddle/fluid/framework/ir/fc_lstm_fuse_pass.cc#L65) in fc_lstm_fuse_pass.cc which can handle both mul+lstm and mul+elementwise_add+lstm

[2018-09-06 05:25] luameows commented on #12725
@ktlichkid @qingqing01 @luotao1
我安装了最新版本的whl包，调用scatter，还是有些问题。
其中label.shape=(-1,1)，label_reshape.shape=(-1,)。features是我的网络输出层，shape=(-1,512)
[code]
错误信息如下
[code]

[2018-09-06 05:42] #13252 closed, assigned to Yancey0623

[2018-09-06 06:07] qingqing01 commented on #13235
@luameows @kebinC  测试发现可能是Eigen表达式在GPU时出错，我提交了一个PR，重新用CUDA实现了下~

[2018-09-06 06:53] luameows commented on #13235
@qingqing01 好的，我之后更新测试下。能不能帮忙看下 #13276  我最新测试的情况？

[2018-09-06 07:04] zhengzhe97 opened #13274 "Pyramidbox 有官方训练的模型可以使用吗"

[2018-09-06 07:30] qingqing01 commented on #13274
@zhengzhe97 感谢关注，我们最近会release模型，预计下周内吧。多谢~
另外，您也可以尝试训练： https://github.com/PaddlePaddle/models/tree/develop/fluid/face_detection

[2018-09-06 07:32] zhengzhe97 commented on #13274
@qingqing01 好的谢谢

[2018-09-06 07:55] luameows opened #13276 "更新后scatter调用出了问题"
#12725
（原来issue已经关闭，不得已新开一个）
我安装了最新版本的whl包，调用scatter，还是有些问题。
其中label.shape=(-1,1)，label_reshape.shape=(-1,)。features是我的网络输出层，shape=(-1,512)
[code]
错误信息如下
[code]

[2018-09-06 07:59] luameows commented on #13276
https://github.com/PaddlePaddle/Paddle/blob/225ecee5ea13539ff0fa25f337fea7525fd07848/python/paddle/fluid/layers/nn.py#L5270
根据这里对于scatter的介绍，似乎scatter操作方式是`Out[Ids] = Updates`而不是`Out[Ids] = Out[Ids]+Updates`，这个和API接口介绍有出入了

[2018-09-06 08:42] chengduoZH commented on #13255
Currently fluid doesn't support this feature, but we have a plan to support it.

[2018-09-06 08:57] ktlichkid commented on #13276
目前这个op实现上就是 Out[Ids] = Updates，这个我确认过。
请问哪里写的是Out[Ids] = Out[Ids]+Updates ？ 那应该是写错了，需要改正。

[2018-09-06 08:59] luameows commented on #13276
@ktlichkid http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#scatter
另外请问下，`tuple index out of range`是为什么呢？

[2018-09-06 09:14] ktlichkid commented on #13276
从您的报错信息看，应该是您的版本依然不是develop分支的
您看一下python/paddle/fluid/layers/nn.py这个文件里有scatter这个函数吗？
上次的API fix并没有merge进入0.14版本，如果要使用必须要用develop分支。请您pull develop分支之后重新编译试试看？

[2018-09-06 09:40] ccmeteorljh opened #13278 "ctr grpc too_many_ping"
cloud地址：
http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5b90b17248221&flag=jobs&groupName=paddle&groupId=2b984db1-5c29-5951-b4ee-11da61ccb0a5&currentPage=1&currentKey=1
ctr模型30个trainer，pserver下运行出现下面报错
[code]

[2018-09-06 09:46] sfraczek commented on #13197
@jianhang-liu thanks. :) I need some time to figure out what is going on there now.

[2018-09-06 11:36] gongweibao opened #13281 "Git get wrong version number!"
![image](https://user-images.githubusercontent.com/10721757/45155013-1404a300-b20c-11e8-9df6-e4453139f489.png)

[2018-09-06 11:39] lianqingsong commented on #13245
@typhoonzero  好的  谢谢了

[2018-09-06 11:43] lianqingsong opened #13282 "请问训练出现这个问题是哪里错了呢....错误如下"
Exception in thread Thread-5:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/usr/local/lib/python2.7/dist-packages/paddle/v2/reader/decorator.py", line 274, in handle_worker
    r = mapper(sample)
  File "/h

[2018-09-06 12:00] luameows commented on #13276
@ktlichkid
更新了之后，还是无法运行。我把相关代码贴上来，您能否帮忙看下呢？这个错误信息指的是梯度没有参数的意思么？
[code]
错误信息如下
[code]

[2018-09-06 12:08] gongweibao commented on #13281
好吧，见鬼了。

[2018-09-06 14:44] jacquesqiao commented on #13278
我自己倒确实没见过这个问题，最近一直在跑50节点和100节点的任务

[2018-09-06 23:45] Emma-Ding opened #13288 "mpirun noticed that process rank 140 with PID 363 on node 10.87.102.19 exited on signal 9 (Killed)."
报错信息如下，这是因为什么? 谢谢 id: app-user-20180906172439-7725
[code]

[2018-09-07 02:59] youngstu opened #13289 "fluid 现在支持 focal_loss 么？"
fluid 现在能否支持 focal_loss ? 如果没有，能否写一个python 扩展，类似pytorch ?

[2018-09-07 06:03] Yancey0623 opened #13290 "Should record all_reduce duration time in profile report"
profile of all_reduce is 0

[code]

[2018-09-07 07:25] 333caowei commented on #11905
遇到了同样的问题

[2018-09-07 07:32] velconia commented on #13221
Now ```test_fake_quantize_op``` has been fixed, thanks for @qingqing01 's work

[2018-09-07 08:11] PathricLee opened #13294 "paddle v2 book 08. machine translation. when set beam_size ==1, the beam_search will dump with the error"
**the error information is shown below:**
[code]

[2018-09-07 09:06] chengduoZH commented on #13282
您用的是很版本的Paddle? 0.10, 0.11, 0.12还是其他的。

[2018-09-07 09:19] gongweibao opened #13296 "It's better to download them to `/root/.cache/paddle/dataset`"
So we can cache them
[code]

[2018-09-07 09:39] nemo9903 commented on #9586
顶一下，因为我是新手，直接用的0.14，一直都报错这个错误。
nemo@1080Ti:~/carplate/downloadimages/project$ python train.py
[INFO 2018-09-07 17:34:53,488 layers.py:2716] output for __conv_0__: c = 16, h = 80, w = 180, size = 230400
[INFO 2018-09-07 17:34:53,488 layers.py:3361] output for __batch_norm_0__: c = 16, h = 80, w = 180, size = 230400
[INFO 2018-09-07 17:34:53,489 layers.py:2716] output for __conv_1__: c = 16, h = 80,

[2018-09-07 09:48] ktlichkid commented on #13276
应该是找不到centers_global这个量的梯度。去掉那个stop_gradient能行吗？

[2018-09-07 09:49] ktlichkid commented on #13029
没有其他问题的话，这个issue我先close了。如果还有问题欢迎再打开~

[2018-09-07 09:49] #13029 closed, assigned to ktlichkid

[2018-09-07 09:49] ktlichkid commented on #13019
如果没有其他问题，这个issue我先close了，如果还要其他问题欢迎再打开~

[2018-09-07 09:49] #13019 closed, assigned to ktlichkid

[2018-09-07 09:51] youngstu opened #13297 "单机多GPU 训练怎样设置？"
单击多GPU 训练模型怎样设置， 需要设置CUDA_VISIBLE_DEVICES 和 CUDAPlace 么？

CUDAPlace(0) 有接口文档说明么，官网上没有介绍。和paddle v2 API不一样。

[2018-09-07 10:29] kolinwei commented on #13297
你好，设置CUDA_VISIBLE_DEVICES 即可，比如有8张GPU卡，
可以设置CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7

[2018-09-07 10:48] youngstu commented on #13297
是否还需要设置CUDAPlace 等参数呢， pytorch 还需要设置 `self.model = torch.nn.DataParallel(self.model, [0,1,2,3])`

CUDA_VISIBLE_DEVICES=CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7 我尝试过会出错，但是只设置CUDA_VISIBLE_DEVICES=7 没有问题，可以正常运行。

[2018-09-07 10:58] yeyupiaoling commented on #9586
@nemo9903 你是修改了什么吧，输入大小好像有问题。

[2018-09-07 11:12] nemo9903 commented on #9586
我是使用车牌识别的例子。我把图片文件名都改成拼音了。先执行CutPlateNumber.py，再执行createDataList.py，再执行image2GRAY.py，再执行train.py。使用paddle 0.14，就是这样。你遇到的问题解决了吗？

[2018-09-07 11:16] nemo9903 commented on #9586
链接：https://pan.baidu.com/s/1J5J433_eqX9T6SccAaCFPA 密码：i1gy
这是代码和已经下载的图片。

[2018-09-07 11:29] yeyupiaoling commented on #9586
@nemo9903 我项目中有说明是使用那边版本吧，先使用对应版本看看

[2018-09-07 11:30] luameows commented on #13276
@ktlichkid centers_global从设计上来说是不应该参与反向传播的，只需要作为一个persistable变量，每个batch根据输入的feature调用scatter进行更新即可。因此我检查了loss中不应该参与反向传播的变量，并设置stop_gradient=True。更新代码如下所示。
[code]
现在错误信息又更换了
[code]

[2018-09-07 11:34] yeyupiaoling commented on #9586
@nemo9903 你看看大小有没有设置对，还有图片的裁剪得如何

[2018-09-07 11:38] nemo9903 commented on #9586
你是说用0.10.0版本的paddlepaddle-gpu吗？现在pip已经不能安装了，怎么获得这个版本？
我的图片都是从这个地方获得的，里面有个别图片不能用，我给删除了。因为这里面图片都是你处理过的，我就没有再处理。
https://github.com/yeyupiaoling/LearnPaddle/tree/master/note7/images/src_temp

[2018-09-07 11:38] nemo9903 commented on #9586
@yeyupiaoling  我是新手，at还要学习使用一下。

[2018-09-07 12:34] wojtuss opened #13298 "Output of int type cannot be handled by Paddle inference API"
https://github.com/PaddlePaddle/Paddle/blob/f76f42c2e021ff81113beb4c1e46e6892a40944f/paddle/fluid/inference/api/paddle_inference_api.h#L31
https://github.com/PaddlePaddle/Paddle/blob/f76f42c2e021ff81113beb4c1e46e6892a40944f/paddle/fluid/inference/api/api_impl.cc#L272

Current version of Paddle inference API does not allow to handle the output of `int` type, for example from `ResNet50` model.

[2018-09-07 13:11] zzhzz opened #13299 "自己写了Operator在模型中使用发生异常，请问如何解决？"
异常信息如下：
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected arg_names.size() == 1UL, but received arg_names.size():0 != 1UL:1.
Output(NodesVector@GRAD) should hold one element, but now it holds 0 at [/mnt/tree_conv/paddle/fluid/framework/shape_inference.cc:59]
PaddlePaddle Call Stacks:
     0x7f4c05b574dcp paddle::framework::InferShapeContext::SetOutputDim(std::string const&, paddle::framewo

[2018-09-07 13:36] #13248 closed, assigned to typhoonzero

[2018-09-07 13:40] 333caowei opened #13300 "paddle V2， mpi训练，trainer_count=1速度比trainer_count大于1要快"
版本如下：
PaddlePaddle 0.14.0, compiled with
    with_avx: ON
    with_gpu: OFF
    with_mkl: ON
    with_mkldnn: ON
    with_double: OFF
    with_python: ON
    with_rdma: OFF
    with_timer: OFF

使用20个mpi节点，通过下述代码打印环境变量：
`
print(
    "PADDLE_TRAINER_COUNT %s" % os.getenv("PADDLE_TRAINER_COUNT", "1"),
    "PADDLE_PORT: %s" % os.getenv("PADDLE_PORT", "7164"),
    "PADDLE_PORTS_NUM: %s" % os.getenv("PA

[2018-09-07 14:14] sfraczek opened #13302 "comment says there is no FC operator"
https://github.com/PaddlePaddle/Paddle/blob/f980b29e6259b8e51f4ee04260e3a84233f337df/paddle/fluid/framework/ir/fc_fuse_pass.cc#L49

What do you mean there is no FC available? There is `fc_op` AFAIK.

[2018-09-07 14:19] sfraczek commented on #13302
Does this mean this pass doesn't actually work?

[2018-09-07 15:51] luotao1 commented on #13298
We can support INT64 output type.
https://github.com/PaddlePaddle/Paddle/blob/f76f42c2e021ff81113beb4c1e46e6892a40944f/paddle/fluid/inference/api/api_impl.cc#L286-L289
This is the example of INT64 output type.
https://github.com/PaddlePaddle/Paddle/blob/f980b29e6259b8e51f4ee04260e3a84233f337df/paddle/fluid/inference/analysis/analyzer_ner_tester.cc#L164

[2018-09-08 04:34] fseasy opened #13303 "inconsistent api name and doc about `create_lod_tensor` and more detaild aboud `recursive_seq_lens`"
## The api has inconsistent name

[code]
the first `lod_tensor` and the second `lodtensor` is inconsistent.

## inconsistent api doc

as the doc:
(1) [进阶使用-如何传入序列数据](http://paddlepaddle.org/documentation/docs/zh/0.15.0/new_docs/user_guides/howto/prepare_data/feeding_data.html#permalink-4--)
(2) [api-example](http://paddlepaddle.org/documentation/api/zh/0.15.0/fluid.html#permalink-31-create_lod_ten

[2018-09-08 06:15] #12979 closed, assigned to Superjomn, panyx0718, luotao1

[2018-09-08 06:15] #13008 closed, assigned to luotao1

[2018-09-08 06:27] luameows commented on #13235
@qingqing01 新版本测试还是有问题。
我测试了feature的值都是正值，通过`l2_norm`之后得到的结果竟然有负值出现。

[2018-09-08 10:38] #13299 closed, assigned to nobody

[2018-09-08 19:12] newdimitri commented on #12026
我直接下的docker，用web映射运行的book

[2018-09-08 19:13] newdimitri commented on #12026
你是哪个部的啊

[2018-09-09 09:17] gongweibao opened #13306 "CI meets test_api_impl error!"
[code]

[2018-09-09 09:19] gongweibao commented on #13306
http://ci.paddlepaddle.org/viewLog.html?buildId=14379&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all

[2018-09-09 09:40] gongweibao opened #13308 "CI meets error!"
http://ci.paddlepaddle.org/viewLog.html?buildId=14402&buildTypeId=Paddle_PrCi&tab=buildLog

[code]

[2018-09-09 10:15] gongweibao opened #13309 "CI meets error!"
[code]

[2018-09-09 10:15] gongweibao commented on #13309
http://ci.paddlepaddle.org/viewLog.html?buildId=14410&tab=buildLog&buildTypeId=Paddle_PrCiRelease0150&logTab=tree&filter=all

[2018-09-10 02:34] fseasy opened #13312 "如何feed lod_level > 1的数据"
看 http://paddlepaddle.org/documentation/docs/zh/0.15.0/new_docs/user_guides/howto/prepare_data/feeding_data.html#permalink-4-- ，里面是用的
`create_lod_tensor`这个函数来feed sequence数据的。

但是这个函数目前的签名与例子不相同了……
另外，按照上面的链接里的`训练数据 sentence 包含三个样本`，这个feed进去时一个batch的数据？ 也就是说，lod-level = 1，表示多个变长的句子，每个句子是一个输入；那么 lod-level=2, 可以表示多个变长的句子集合，每个句子集合是一个输入？
感觉把batch和tensor的维度这两个混在一起了，感觉有些不易理解了。
最好多给几个正确的例子吧。

[2018-09-10 02:39] ktlichkid commented on #13276
scatter的index目前只能是int32，不能是int64，看看能调整成int32吗？

[2018-09-10 02:41] wanghaoshuang commented on #13312
关于LoD的概念，可以参考这里的设计文档：https://github.com/PaddlePaddle/Paddle/blob/e26f51ce74e998c4119fc2c3145aa7c1224c2170/doc/fluid/design/concepts/lod_tensor.md

还有一个非常详细的讨论：https://github.com/PaddlePaddle/Paddle/issues/10855

[2018-09-10 02:59] kolinwei commented on #13297
你好，你的机器有几张gpu卡呢，能贴下nvidia-smi执行的结果吗

[2018-09-10 03:21] guochaorong commented on #13308
wuyi may have solved the problem by updating the version of nccl? @typhoonzero

[2018-09-10 03:29] fseasy commented on #10855
啊，我大概理解现在版本的`create_lod_tensor`的含义了：
recursive_seq_lens表示的是每个层次的嵌套维度：
假设是2篇文档，
第一篇有2个句子，句子分别长度是3，2
第二篇有1个句子，句子长度是4；
那么这个recursive_seq_lens = ``[[2, 1], [3, 2, 4]]``
上面也就是lod-level=2的情况：其中 [3, 2, 4]是句子的长度，对应到设计文档的第二层；[2, 1]是句子的个数（可以当做文档的长度），对应到设计文档的第一层。

所以这个recursive_seq_lens 永远是2层嵌套列表，也就是列表的列表，外层列表的size表示嵌套的个数，也就是lod-level的大小；内部的每个列表，对应表示每个lod-level下，每个元素的大小。
在feed的条件下，len( recursive_seq_lens[0]

[2018-09-10 03:30] fseasy commented on #13312
啊，看完大概理解了…… 总结了一下https://github.com/PaddlePaddle/Paddle/issues/10855#issuecomment-419777303

[2018-09-10 03:34] fseasy commented on #13312
哎呀，这个api感觉还是不清楚啊，望多给点例子。
这种example不应该是写单测的时候都要写的吗，为什么不直接贴出来呢？ issue的内容也麻烦尽快总结到doc里吧。issue里搜索可能漏掉，放到doc里就好多啦。
真的很浪费大家时间啊……

[2018-09-10 04:20] wanghaoshuang commented on #13312
@memeda 感谢反馈和建议，你说的很有道理，我们确实需要细化下对重要的概念的解释文档。

[2018-09-10 05:15] Superjomn commented on #13302
I am working on a PR, that will remove this out-dated comment.

Currently, we have FC fuse works on the real models.

[2018-09-10 05:21] luotao1 commented on #13312
@shanyi15 请统一规划一下。

[2018-09-10 05:49] gongweibao commented on #13308
这是网络问题吧？跟nccl2有关系？

[2018-09-10 06:03] ShadowSkyLiu opened #13315 "训练网络最后一层为负采样nce，预测替换成矩阵映射，保存和load模型的时候出现问题"
训练网络最后一层为负采样nce，预测替换成input * nce_w^T + nce_b，保存和load模型的时候出现问题。
1. 训练保存模型参数指定filename，load_persistables之后维度不对
    训练保存：
        with open(model_name, "wb") as f:
                    f.write(main_program.desc.serialize_to_string())
        fluid.io.save_persistables(exe, save_dirname, main_program, filename=save_path)
    预测加载：
        print("nce_w shape before", fluid.global_scope().find_var("nce_w

[2018-09-10 06:08] kuke commented on #13289
暂时不支持 但是可以用现有的layers或ops拼出来

[2018-09-10 06:37] velconia opened #13316 "high-level-api unittest random fail in ManyLinux environment"
Because the order of destruction is unpredictable, so we could NOT make sure that scope still exists when destroying parallel executor and delete it in destructor.

So these tests will random fail in ManyLinux1 environments.

[code]

I will fix it later.

[2018-09-10 07:35] sfraczek commented on #13302
Thanks.  👍

[2018-09-10 08:28] #13235 closed, assigned to qingqing01

[2018-09-10 08:29] qingqing01 commented on #13235
@luameows  可否给我一个最简单的复现代码，我测下~

[2018-09-10 09:18] luotao1 commented on #13221
I test the latest code in `paddlepaddle/paddle_manylinux_devel:cuda8.0_cudnn5` and `python35` environment, above two unit tests are successful.

[2018-09-10 09:54] wojtuss commented on #13298
@luotao1 , true, but when the model output type is `int`, and not `int64_t`, one gets the following error:
[code]

[2018-09-10 11:05] fseasy opened #13324 "请问可以把batch里每个序列数据划分为两部分，第一部分是第一条，第二部分是剩下的所有"
## 背景

篇章级别，分别有title和多个句子组成的正文；想要算title与每个句子的相似度。
title和句子的表示方式相同，所以我想把title和正文内的所有句子一起输入进去做表示处理；
处理完后，需要把这个表示拆出来，也就是分为title和正文的句子集合；然后去算title和每个句子的相似度。

## 问题

可以完成拆分操作吗？
我看到有 fluid.layers.sequence_first_step 可以取第一个batch sequence 的第一个句子（也就是title），但是剩余部分可以取出来吗？
我看到有`fluid.layers.gather`, 但是似乎是针对一个tensor的？

[2018-09-10 11:15] wanghaoshuang commented on #13324
抱歉，我们没有类似的例子，但是你可以尝试一下dynamic_rnn: https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/control_flow.py#L1542
理论上是可以实现你提出的需求的，需要你探索一下。

[2018-09-10 11:34] #13163 closed, assigned to Yancey0623

[2018-09-10 11:51] kolinwei opened #13325 "test_recognize_digits.py使用LARS_weight_decay时分布式训练出错"
单机是正常的。
optimizer = fluid.optimizer.Adam(learning_rate=0.001, LARS_weight_decay=0.3)换成其他的优化方式，分布式也是正常的。

报错信息如下:
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/transpiler/distribute_transpiler.py", line 592, in get_pserver_program
    cloned_op = self._append_pserver_non_opt_ops(lr_decay_block, op)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/transpiler/distribute_trans

[2018-09-10 12:15] typhoonzero commented on #13325
Will add port checker soon

[2018-09-10 12:20] kolinwei commented on #13325
@typhoonzero this is another problem。

[2018-09-10 12:21] typhoonzero commented on #13325
`LARS_weight_decay` only support NCCL2 dist training for now.

[2018-09-10 12:25] kolinwei commented on #13325
ok,I know.

[2018-09-10 13:48] zhengzhe97 commented on #13274
@qingqing01 请问具体周几能发布模型吗，我的1080 batch只能设置成1，在训练有几张图时就会出现梯度爆炸的情况，很艰难= =，

[2018-09-10 14:05] fseasy commented on #13324
😂 似乎是可以根据dynamic_rnn 改一个是吗 = =
刚刚试了下 sequencce_first_step + slice, 发现第一个会报错`paddle.fluid.core.EnforceNotMet: Enforce failed. Expected lod.size() == 1UL, but received lod.size():2 != 1UL:1.`,
 第二个出来看起来是按照data做的slice，而不是lod_tensor
——————
我想是不是还是作为独立的输入弄进去，或者尝试写一下……

[2018-09-10 15:57] ChuRao opened #13329 "ssd 模型前置lstm报错"
[mobile_ssd](https://github.com/PaddlePaddle/models/blob/f4895e09161a9d45021f07a2bda15506a93ab407/fluid/object_detection/mobilenet_ssd.py)

[code]
***
[code]

[2018-09-11 01:42] qingqing01 commented on #13274
@zhengzhe97 昨天已经模型整理好，今天可以发布。 另外，我们文档里提供了VGG的初始化模型链接吧。

[2018-09-11 02:03] zhengzhe97 commented on #13274
@qingqing01 我使用了提供的vgg初始化模型，训练时误差平均在5-12之间，但是可能是batch为1的缘故，在部分图片上误差较大，导致出现梯度爆炸的情况。（我认为是这样= =，）
![image](https://user-images.githubusercontent.com/26462054/45333660-f471cf80-b5a9-11e8-93ea-69405c24dfe0.png)

[2018-09-11 03:50] fseasy commented on #13324
哎呀，搞不定…… 对lod_tensor_to_array等的内部机制不太懂；单纯从打印来看，step_input拿到的按长度排序后的句子？ 这样我就不能把原来的第一个句子单独拿出来了？ 对内部不太懂，还是不折腾了……

[2018-09-11 03:50] #13324 closed, assigned to wanghaoshuang

[2018-09-11 06:17] shangguanyifeng opened #13333 "Fluid咨询"
使用fluid怎么获取中间层的特征图信息，需要使用什么api具体使用什么api，直接在定义网络的时候print并不能得到任何关于shape的信息

[2018-09-11 06:31] qingqing01 commented on #13274
@zhengzhe97

PyramidBox模型链接： http://paddlemodels.bj.bcebos.com/PyramidBox_WiderFace.tar.gz

[2018-09-11 07:21] joodo opened #13336 "如何在使用 recordio 数据时区分 train 和 test 数据？"
根据 [文档](http://paddlepaddle.org/documentation/docs/zh/0.14.0/new_docs/user_guides/howto/training/test_while_training.html) 中描述，写了以下测试程序（已精简）：

[code]

结果运行时，打印的是训练数据，也就是 train.recordio 中的数据，请问是什么原因？谢谢

[2018-09-11 07:37] reyoung commented on #13333
可以在executor.run或者parallel_executor.run中fetch，将对应的输出过来。

http://paddlepaddle.org/documentation/docs/zh/0.15.0/new_docs/user_guides/howto/training/single_node.html#id6

[2018-09-11 08:07] jeff41404 opened #13340 "paddle.fluid.core.EnforceNotMet: Tensor holds the wrong type"
程序如下，是1个简单的线性回归模型
============================

[code]
=============================================
运行时报错：
![linear error](https://user-images.githubusercontent.com/8555991/45346702-8abee900-b5dc-11e8-9ed7-b702b9233a5f.JPG)
主要问题是：
paddle.fluid.core.EnforceNotMet: Tensor holds the wrong type, it holds f at [/paddle/paddle/fluid/framework/tensor_impl.h:44]
尝试在如上程序中改动了1点，发现能绕过去
即 train_program 中 ret

[2018-09-11 08:45] reyoung commented on #13340
只有分类问题才有accuracy。回归问题没有accuracy。

[2018-09-11 09:30] gongweibao opened #13342 "test_parallel_executor_seresnext meets error on python3.5 CI"
[code]

http://ci.paddlepaddle.org/viewLog.html?buildId=17515&tab=buildLog&buildTypeId=Paddle_PrCiPython35&logTab=tree&filter=all

[2018-09-11 09:34] gongweibao opened #13343 "test_conv3d_transpose_op meets error on python3.5 CI"
[code]

http://ci.paddlepaddle.org/viewLog.html?buildId=17514&tab=buildLog&buildTypeId=Paddle_PrCiPython35&logTab=tree&filter=all#_state=34,78

[2018-09-11 09:57] gongweibao opened #13344 "It takes so long time to download data!"
http://ci.paddlepaddle.org/viewLog.html?buildId=17520&buildTypeId=Paddle_PrCi&tab=buildLog

![image](https://user-images.githubusercontent.com/10721757/45352883-18560500-b5ec-11e8-8346-962aa203393c.png)

[2018-09-11 10:38] mapingshuo commented on #8053
Hi，我遇到了类似的问题，在目前的fluid(我的版本0.14.0)中，可以参考下面的解决方案：https://github.com/PaddlePaddle/models/blob/d51ebfee8bf44e9ada2ba9a57434628485971ca1/fluid/sequence_tagging_for_ner/train.py#L107

[2018-09-11 10:55] typhoonzero opened #13348 "test_recognize_digits_mlp fails randomly on CI"
[code]

[2018-09-11 14:37] wojtuss opened #13353 "Overriden or added method in AnalysisPredictor?"
https://github.com/PaddlePaddle/Paddle/blob/620392ef7d011239c417c5ec79d242f217868c19/paddle/fluid/inference/api/analysis_predictor.h#L36

Was the `Init()` method from the `AnalysisPredictor` intentionally made not overriding the `Init()` method from the base `NativePaddlePredictor` class? IMHO it looks like by mistake.

[2018-09-12 02:32] youngstu commented on #13297
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 384.81                 Driver Version: 384.81                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |

[2018-09-12 02:34] youngstu commented on #13297
[code]
[code]

以上两种多卡运行的方式有什么区别？

[2018-09-12 03:19] hedlmote opened #13357 "missing expand op"
I found that expand op has been implemented: https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/expand_op.cc

However, i cannot find its corresponding api.

[2018-09-12 03:32] chuanqi129 opened #13358 "Load group convolution weights issue under FLAGS_use_mkldnn=true"
I use [se-resnext50](http://paddle-imagenet-models.bj.bcebos.com/se_resnext_50_model.tar) pretrained model with `FLAGS_use_mkldnn=true`. Exception mkldnn conv op kernel still not support group convolution, I found the group convolution weights load in `weights_tz`  has wrong dims. Such as the second conv layer(group=32) of the first bottleneck, the dims of weights_tz is (128,4,3,3), but i think it

[2018-09-12 03:32] #13333 closed, assigned to nobody

[2018-09-12 03:33] kolinwei commented on #13297
新的版本不推荐使用ParallelDo，统一用ParallelExecutor吧

[2018-09-12 05:41] youngstu commented on #13297
使用PallelExecutor 无法使用多卡，当设置CUDA_VISIBLE_DEVICES 为多个时报错

[2018-09-12 05:44] youngstu commented on #13297
[code]

[2018-09-12 05:45] youngstu commented on #13297
没与任何有效信息，都不知道哪里有问题

[2018-09-12 05:46] youngstu commented on #13297
我跑的模型是 models/fluid/object_detection/mobilenet_ssd

[2018-09-12 05:52] kolinwei commented on #13297
你好，我跑是可以的，能贴下完整的错误吗

[2018-09-12 05:54] youngstu commented on #13297
[code]

[2018-09-12 05:56] youngstu commented on #13297
[code]
这是我的train.sh，当设置单卡时可以正常运行，当设置多卡报错如上

[2018-09-12 06:09] lucywsq commented on #11881
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-12 06:09] #11881 closed, assigned to qingqing01

[2018-09-12 06:11] kolinwei commented on #13297
GLOG_v=3 python -u train.py
这样运行 我看下完整的错误

[2018-09-12 06:40] lucywsq commented on #11903
您好，此内部建议记录后将先行关闭，若需要优化的功能开发计划进入排期后，可再重新开启此issue，感谢您的支持！

[2018-09-12 06:41] #11903 closed, assigned to nobody

[2018-09-12 07:24] shanyi15 commented on #11899
请问这两个api的reference是不需要加了吗，看到pr被驳回了

[2018-09-12 08:17] SefaZeng opened #13363 "paddle.batch返回的怎么是空"
我在跑百度的simnet代码的时候，发现什么都没有输出，看了一下paddle.batch返回的好像是一个空的迭代器，我想找一下关于paddle.batch的文档，发现API里面没有。

[2018-09-12 08:21] guanshan commented on #2937
glibc需要升级到2.17以上

[2018-09-12 08:24] SefaZeng commented on #13363
已解决

[2018-09-12 08:24] #13363 closed, assigned to nobody

[2018-09-12 08:33] #13316 closed, assigned to velconia

[2018-09-12 10:28] chuanqi129 commented on #13358
I have fixed. Thanks

[2018-09-12 10:28] #13358 closed, assigned to nobody

[2018-09-12 10:50] velconia commented on #13344
These are mainly involved by inference test

[2018-09-12 10:54] velconia commented on #13038
你定义Optimizer了吗? 如果未定义Optimizer就不会更新参数的

[2018-09-12 10:59] velconia commented on #13059
mkldnn 用于在支持MKL的机器上做预测加速, 请问 @youngstu 需要这个特性吗?

[2018-09-12 11:00] velconia commented on #12996
```python message``` will be printed in the ```cmake``` phrase, here is an example:

[code]

[2018-09-12 11:02] #12996 closed, assigned to velconia

[2018-09-12 11:31] youngstu commented on #13297
[code]
并没有打印出完整的更多错误系信息

[2018-09-12 12:12] velconia commented on #13221
Thanks very much for @luotao1 's work, I have validated these tests in [here](http://ci.paddlepaddle.org/viewLog.html?buildId=17690&buildTypeId=Paddle_PrCiPython35&tab=buildLog), and this issue could be closed.

[2018-09-12 12:12] #13221 closed, assigned to Superjomn, velconia, luotao1, qingqing01

[2018-09-12 14:21] 333caowei opened #13370 "安装了0.14版本，但是使用的都是v2的api，上线是走v2版本的capi吧？"
rt，实际安装的版本是0.14（这个版本已经是支持fluid的了），但是代码里面用的是
 import paddle.v2 as paddle
模型实际上线时候是用v2版本的capi吧？
也就是这个capi：http://www.paddlepaddle.org/documentation/docs/zh/0.12.0/howto/capi/index_cn.html

[2018-09-12 14:26] 333caowei opened #13371 "mpi训练使用batch_norm出现 bool(int(g_command_config_args.get("use_gpu", 0))). ValueError: invalid literal for int() with base 10: 'False'"
mpi训练，加入batch_norm层后，出现如下错误：
`
Wed Sep 12 22:07:21 2018[1,73]<stderr>:  File "/home/disk1/normandy/maybach/app-user-20180912220136-9231/workspace/python27-gcc482/lib/python2.7/site-packages/paddle/trainer/config_parser.py", line 2501, in __init__
Wed Sep 12 22:07:21 2018[1,73]<stderr>:    use_gpu = bool(int(g_command_config_args.get("use_gpu", 0)))
Wed Sep 12 22:07:21 2018[1,73]<stderr>:ValueError

[2018-09-13 02:41] ccmeteorljh opened #13374 "Error in `python': malloc(): memory corruption"
object_detection 模型跑了14个pass出现下面错误：
paddle_version: develop 9月5号编译版本
cloud地址：
http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5b98d4926999f&flag=jobs&groupName=k8s_gpu_demo&groupId=c0a1f165-6279-5320-b9e7-e0218c7a87f5&currentPage=1&currentKey=1
[code]

[2018-09-13 02:49] dzhwinter commented on #13371
设置错误，use_gpu=0.不能是False

[2018-09-13 02:50] 333caowei commented on #13371
不知g_command_config_args.get("use_gpu", 0)是在哪里设置的，
我代码里面使用的是：use_gpu_flag = os.getenv("PADDLE_USE_GPU", "0")
@dzhwinter

[2018-09-13 02:58] ccmeteorljh opened #13375 "icnet 模型第二个pass后loss 为nan"
模型地址：https://github.com/PaddlePaddle/models/tree/develop/fluid/icnet
paddle_version: develop 9月5号编译版本
cloud地址：
http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5b98b11b10672&flag=jobs&groupName=k8s_gpu_demo&groupId=c0a1f165-6279-5320-b9e7-e0218c7a87f5&currentPage=1&currentKey=1
启动脚本：
[code]
运行结果：
[code]

[2018-09-13 03:20] nemo9903 commented on #9586
@yeyupiaoling  后来你把input参数打印出来了吗？

[2018-09-13 03:21] yeyupiaoling commented on #9586
@nemo9903 没有呢，不知道如何打印。

[2018-09-13 03:32] nemo9903 commented on #9586
@pkuyym
是不是需要自己编译paddle,在代码里面增加打印？

[2018-09-13 03:57] yeyupiaoling commented on #9586
@nemo9903 应该不用。

[2018-09-13 05:33] kolinwei commented on #13297
这样沟通效率太低，加我hi吧，kolinwei

[2018-09-13 10:52] kolinwei opened #13386 "the debug code should be deleted[/paddle/fluid/optimizer.py]"
https://github.com/PaddlePaddle/Paddle/blob/3a3f28f99b87b2626bf872b1cfc4faf631c07443/python/paddle/fluid/optimizer.py#L113

[2018-09-13 12:56] Wkyao opened #13388 "caffe2fluid 加载转换之后的模型fine-tune出错(holder_ should not be null)"
![image](https://user-images.githubusercontent.com/24263632/45489483-eb922100-b796-11e8-861c-1fe2fc49de58.png)

**原因是：转换之后BN函数里面一个参数'is_test=True'，改为False就可以正常训练了**
![image](https://user-images.githubusercontent.com/24263632/45489613-475caa00-b797-11e8-832b-667229cdd98e.png)

[2018-09-14 01:14] yeyupiaoling opened #13390 "fluid版本如何做计算并打印出来？"
以下是我做写的一个加法计算，
[code]

最后输出的以下张量的信息，**但我需要的是它的值**
[code]

[2018-09-14 02:22] #13120 closed, assigned to NHZlX

[2018-09-14 03:11] lucywsq commented on #13288
您好，已经收到您的问题，近期我们会尽快回复您～感谢您对PaddlePaddle的支持！

[2018-09-14 03:26] zyz282994112 opened #13391 "请问huber_regression_cost支持weight加权吗？如果不支持的话，有什么办法可以像mse_cost一样对样本进行加权吗？"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-09-14 04:27] wanghaoshuang commented on #13329
hi, 没看到你调用lstm op的代码，能把所有代码都贴出来么？

[2018-09-14 04:38] ChuRao commented on #13329
@wanghaoshuang
[code]

原来大概这样

[2018-09-14 05:01] wanghaoshuang commented on #13329
`dynamic_lstm`的输入需要有[lod](http://paddlepaddle.org/documentation/docs/en/0.14.0/design/concepts/lod_tensor.html)信息的, `mobilenet_ssd.mobile_net` 产出的结果没有`lod`, 不是sequence, 所以不能交给`dynamic_lstm`来计算。

[2018-09-14 05:04] wanghaoshuang commented on #13329
我们目前还没有图像检测结果接RNN的应用示例，我个人理解，图像转sequence是需要特殊`op`处理的, 比如OCR识别网络里就用了[im2sequence op](https://github.com/PaddlePaddle/models/blob/develop/fluid/ocr_recognition/crnn_ctc_model.py#L114)来做转换。

[2018-09-14 05:09] lucywsq commented on #13336
您好，您的问题我们已经收到，近期内将会尽快回复解决办法，感谢您对PaddlePaddle的支持！

[2018-09-14 05:48] Superjomn commented on #13371
use_gpu_flag = os.getenv("PADDLE_USE_GPU", "0")

直接设置0试试？ 不要从环境变量取了

[2018-09-14 05:48] ChuRao commented on #13329
`im2sequence` 看起来是把一张图分割了，可以把非序列的图片转换为序列，不知道在我这个任务里怎么用，进`ssd`网络的本身是图片序列。我这边感觉是`mobile_ssd`处理的时候丢失了原来的lod信息，有办法通过对`fluid.layers.multi_box_head`的输出加回lod信息吗？我注意到有一个[`lod_reset`](http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#lod-reset)

[2018-09-14 06:23] #13241 closed, assigned to Yancey0623, typhoonzero

[2018-09-14 06:36] yingfeng opened #13395 "Any plans for online model serving?"
Model serving has been provided according to some issues such as [this one](https://github.com/PaddlePaddle/Paddle/issues/4326), however, it's a naive solution for traditional deep learning, which means after the model have been finished training, it will be delivered to a dedicate server for prediction.

However, one important feature for Paddle is sparse learning for advertising and recommendati

[2018-09-14 07:33] yeyupiaoling opened #13397 "fluid版本如何实现自定义线性回归？"
以下是tensorflow的自定义线性回归的例子，我按照这个改成PaddleFluid
[code]

以下是PaaddleFluid的例子，运行没有通过，应该要怎么修改呢？
[code]

[2018-09-14 07:51] wfeagle opened #13398 "paddle capi 预测问题"
把训好的模型改成C++预测，照着这个例子写的，
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/legacy/capi/examples/model_inference/sequence/main.c

现在编译通过了，但是预测报错，如下：
$ head -10 z | ./output/bin/main
I0914 15:47:04.985348  3788 Util.cpp:166] commandline:  --use_gpu=False
I0914 15:47:04.992543  3788 GradientMachine.cpp:94] Initing parameters..
I0914 15:47:05.080584  3788 GradientMachine.cpp:101] Init paramete

[2018-09-14 07:54] Superjomn commented on #13398
这是模型没有传输入，一个输入对应一个 data layer，现在是0个data layer。

Data layer 是模型的输入的处理op。

[2018-09-14 08:08] wfeagle commented on #13398
是说我的输入数据没有传进去吗？ 这里的val 是得到bidword的切词索引，这样传不对吗？还是其他的地方有问题？

[code]

[2018-09-14 08:18] Superjomn commented on #13398
这个是处理数据？ 跟这个好像没关系，是预测接口传的inputs是空的应该

[2018-09-14 08:23] wfeagle commented on #13398
上面的就是把val(bidword索引)放进in_args, 然后in_args放入paddle的forward函数，所以是说这里的in_args从这个函数出来后就没有得到data 是吗？下面第二行是上面的函数，后面一行就是预测了

    vector<paddle_ivector> new_ivector;
    create_sequence_feature(in_args, val, new_ivector);
    paddle_arguments out_args = paddle_arguments_create_none();
    CHECK(paddle_gradient_machine_forward(_machine, in_args, out_args, false));

[2018-09-14 08:25] Superjomn commented on #13398
可以把 `in_args` 的size 输出来，从出错看，这里是空的

[2018-09-14 08:36] Superjomn commented on #13398
这是v1 还是 v2?

[2018-09-14 08:37] wfeagle commented on #13398
v2

[2018-09-14 08:49] Superjomn commented on #13398
dataLayers.size() =0，感觉是
![image](https://user-images.githubusercontent.com/328693/45540113-2a2ee680-b83e-11e8-936c-7374b5fa8e25.png)

没有data layer ?  输入的确不是空的，是1

[2018-09-14 08:53] wfeagle commented on #13398
输入就是这个，照着这个教程http://www.paddlepaddle.org/documentation/docs/zh/0.12.0/howto/capi/workflow_of_capi_cn.html  把神经网络预测dump成train_config.bin的，模型参数在另外一个文件夹

data = paddle.layer.data(name="words",
                        type=paddle.data_type.integer_value_sequence(dict_dim))

[2018-09-14 09:07] Superjomn commented on #13398
![image](https://user-images.githubusercontent.com/328693/45541095-ab877880-b840-11e8-955b-52313d9080da.png)

这个步骤是不是把data layer也删了

[2018-09-14 09:10] wfeagle commented on #13398
[code]

[2018-09-14 09:13] wfeagle commented on #13398
就是把上面的单独写在一个py文件，然后再dump成bin

[2018-09-14 09:13] Superjomn commented on #13398
@qingqing01 @jacquesqiao 有遇到过这种情况吗

感觉是python 里，对应 v1 的 inputs(xxx) 没设

[2018-09-14 09:44] 333caowei commented on #13371
经过测试把use_gpu_flag = os.getenv("PADDLE_USE_GPU", "0")直接写死成use_gpu_flag = 0解决了，谢谢 @Superjomn

[2018-09-14 09:44] #13371 closed, assigned to nobody

[2018-09-14 09:47] sfraczek opened #13402 "param_scope() not working in tests"
Hi,

The `param_scope()` method doesn't work inside tests. **Is it intentional?**
Here is the param_scope() method:
https://github.com/PaddlePaddle/Paddle/blob/af15f6f0380a3975239d7d4a6c7c682f4058d309/paddle/fluid/framework/ir/fuse_pass_base.h#L35

 This is troublesome because I can't write a test for my conv_bn_fuse_pass beacuse I use `scope` in it. This function works when run from a resnet50 pa

[2018-09-14 09:48] #13302 closed, assigned to Superjomn

[2018-09-14 10:12] Sand3r- commented on #12567
Some of the commits must've resolved the problem, the crash no longer occurs.

[2018-09-14 10:12] #12567 closed, assigned to luotao1, wanghaoshuang

[2018-09-14 11:59] typhoonzero commented on #11905
后续集群版本更新可以迁移到paddle cloud，传统手动更新方式容易出错。先关闭此issue了，如果有问题可以reopen，谢谢。

[2018-09-14 11:59] #11905 closed, assigned to typhoonzero, captainwoon

[2018-09-14 11:59] typhoonzero commented on #12002
Already done.

[2018-09-14 12:00] typhoonzero commented on #12013
Done.

[2018-09-14 12:00] #12013 closed, assigned to typhoonzero

[2018-09-14 12:02] typhoonzero commented on #12023
Should update https://github.com/PaddlePaddle/Paddle/blob/develop/doc/fluid/dev/releasing_process_en.md to trunk based branching model

[2018-09-14 12:02] #12038 closed, assigned to velconia, typhoonzero

[2018-09-14 12:03] typhoonzero commented on #12040
python3 seems done, closing for now.

[2018-09-14 12:44] #13398 closed, assigned to nobody

[2018-09-14 13:52] ChuRao opened #13404 "checkpoint载入后第一步训练前大量时间空置"
[code]

` if self.checkpoint_cfg and self.checkpoint_cfg.load_serial \
                    and self.checkpoint_cfg.step_id >= step_id and self.checkpoint_cfg.epoch_id == epoch_id:
                    continue`
这一段非常影响性能。在读取样本较慢、训练总数较大的时候（比如1秒读取一个batch数据的时候，有2万个batch数据）。一个存档点step_id在5000，加载了存档点岂不是要当空读数据5000秒之后才真正开始训练？
在有shuffle的时候重复一个epoch里一些数据重复用于训练问题不是很大吧？

我还以为怎么回事，一下午怎么event_handler一点输出也没有。
建议给

[2018-09-14 15:08] tpatejko opened #13405 "Question about IR graph passes"
I've been working on fusion pass that fuses MKLDNN convolution with `elementwise_add` operator, and I use framework::ir graph and pass infrastructure.

The fusion pass I've been working on transforms the following set of operations:
[code]
into
[code]
where
[code]
because MKLDNN convolution primitive that fuses `elementwise_add` expects data, that it will add convolution output to, already in the

[2018-09-14 15:47] dzhwinter opened #13406 "tensorrt without dso error"
When compile with -DWITH_DSO=OFF, tensorrt will failed, complain as blow.
[code]

[2018-09-14 19:44] #13406 closed, assigned to nobody

[2018-09-14 20:39] daming-lu opened #13409 "Book examples are still using old way to save models"
The right way is:` fluid.io.save_inference_model`

In model:
https://github.com/PaddlePaddle/models/blob/develop/fluid/DeepASR/train.py#L278
https://github.com/PaddlePaddle/models/blob/develop/fluid/DeepQNetwork/train.py#L142
https://github.com/PaddlePaddle/models/blob/develop/fluid/text_classification/train.py#L80
https://github.com/PaddlePaddle/models/blame/develop/fluid/text_classification/trai

[2018-09-14 20:40] daming-lu commented on #13409
This is also reported by John Barrus from [Groq](https://news.crunchbase.com/news/groq-a-stealthy-startup-founded-by-googles-tpu-team-is-raising-60m/)

[2018-09-16 07:40] gongweibao opened #13413 "test_api_impl error on CI."
http://ci.paddlepaddle.org/viewLog.html?buildId=18144&tab=buildLog&buildTypeId=Paddle_PrCiPython35&logTab=tree&filter=all

[code]

[2018-09-16 12:46] 1727536969 opened #13414 "LStM"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-09-16 12:50] 1727536969 opened #13415 "LSTM的数据格式如何传入"
我在用LSTM做一个预测，现在已经有了模型，但就是数据集不知道以什么样的格式传给X，能被接收。

[2018-09-17 01:56] Superjomn commented on #13402
Yes, it is internal.
But you can use an AnalysisPredictor to make the param_scope usable if you need to load a model.

Or you can manually set that attribute for the graph, reference https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/analysis/ir_pass_manager.cc#L35, but that is an empty scope, you need to create variables you need.

[2018-09-17 02:01] Superjomn commented on #13405
I think 2 is the best option.

[2018-09-17 02:04] luotao1 commented on #13405
I think 2 is the best option as well.

[2018-09-17 02:43] #12698 closed, assigned to luotao1

[2018-09-17 05:40] #12578 closed, assigned to nobody

[2018-09-17 06:51] NHZlX opened #13428 "fix the dso cmake typo error"
fix the dso cmake typo error

[2018-09-17 06:58] velconia commented on #13388
```is_test```是为validation program设置的一个参数, 训练时建议设置为True, 请问您参考的是哪篇文档呢?

[2018-09-17 07:01] velconia commented on #13390
你好, ```PrintOp``` 会在执行阶段, 也就是 ```Executor.run``` 中执行, 并打印出对应变量的值, 你在编译阶段 print 出来的都只有维度信息

[2018-09-17 07:09] velconia commented on #13391
你是指 Paddle v2 版本的 huber_regression_cost 吗? 如果是的话, 那只支持通过 coeff 传入参数对反向传递的梯度进行加权, 不支持其他加权方式了

[2018-09-17 07:20] velconia commented on #13395
Do you mean online training or something? Distributed Lookup table is designed for the huge embedding table, and the online training should be concat with the streaming data provider such as Spark

[2018-09-17 07:20] yeyupiaoling commented on #13390
@velconia 那么我应该要如何修改上面的程序呢？做个加法计算。我尝试修改不成功，还请您指导一下。

[2018-09-17 07:21] velconia commented on #13414
dup with https://github.com/PaddlePaddle/Paddle/issues/13415, I will close it

[2018-09-17 07:21] #13414 closed, assigned to velconia

[2018-09-17 07:25] velconia commented on #13390
你需要通过 Executor 让 Program 真正的执行起来

像这样:

[code]

[2018-09-17 07:34] yeyupiaoling commented on #13390
@velconia
嗯嗯，但是输出的结果并没有做加法计算，还有如何定义一个常量，上面定义的a和b是张量呢。
[code]

[2018-09-17 07:35] velconia commented on #13404
感谢您的建议, 不过请问你使用的是Paddle v2版本还是 Paddle Fluid版本呢?

[2018-09-17 07:42] ChuRao commented on #13404
Fluid

[2018-09-17 07:45] velconia commented on #13390
改变纬度就能定义张量;

```c = fluid.layers.sum(x=[a, b])``` 这才是 Fluid 的正确写法, 你上面的应该是tf的

[2018-09-17 07:47] yingfeng commented on #13395
No, I meant online serving. It's something like the diagram below:

![ps](https://user-images.githubusercontent.com/7248/45610953-5772d300-ba90-11e8-805c-942173f4b705.png)

The parameters from PS(distributed lookup table in Paddle) are replicated to the model server for online prediction.  Because the model is trained continuously, there exist a requirement for data pipeline to dump the parameters

[2018-09-17 07:47] velconia commented on #13397
你好, 请问具体错误是什么呢? 另外你的变量都未定义正确的纬度

[2018-09-17 07:49] yeyupiaoling commented on #13397
@velconia 错误如下，其实我也不清楚我写的对不对
[code]

[2018-09-17 07:56] velconia commented on #13397
```fluid.layers.mul(x=[a, X_])``` 这是正确的使用方式, ```+```也请替换为```fluid.layers.sum```, 另外请保证变量的纬度是正确的, 具体纬度信息可以通过 print(a.shape) 打印出来

[2018-09-17 08:03] velconia commented on #13415
请问方便贴出代码吗? 数据集传入可以参考 http://www.paddlepaddle.org/documentation/api/en/develop/data_feeder.html 这个文档

[2018-09-17 08:09] velconia commented on #13390
你好, 如果没有别的问题, 那我close了

[2018-09-17 08:09] #13390 closed, assigned to velconia

[2018-09-17 08:10] seiriosPlus commented on #13404
感谢您的建议， 我会跟进优化的事情。

[2018-09-17 08:10] yeyupiaoling commented on #13390
@velconia 好的，谢谢您。

[2018-09-17 08:11] yeyupiaoling commented on #13397
@velconia 好像不行，因为那些不是单纯的变量，有的是占位符。

[2018-09-17 08:15] velconia commented on #13397
Fluid中是没有占位符的概念的, 全是变量, 类比于占位符的是 fluid.layers.data

[2018-09-17 08:32] yeyupiaoling opened #13436 "Fuid如何对函数自动求导呢？"
我编写了以下的代码，是对x的平方求导，那个求导的函数我没有找到，是哪一个呢？
[code]

[2018-09-17 08:37] yeyupiaoling commented on #13397
@velconia 还是报错呢，代码已经修改如下
[code]

我觉得应该是这两行代码有问题
[code]

[2018-09-17 08:57] velconia commented on #13397
请问有具体报错信息吗?另外square的使用方式也请参考mul

[2018-09-17 09:00] yeyupiaoling commented on #13397
@velconia 报错如下：
[code]

[2018-09-17 09:00] yeyupiaoling commented on #13397
@velconia

在前面就报错啦，

[2018-09-17 09:06] yeyupiaoling opened #13437 "fluid版本定义常量和张量问题"
比如这个接口：http://www.paddlepaddle.org/documentation/api/zh/0.15.0/layers.html#permalink-183-fill_constant

比如我想定义一个shape为`[2,2]`的，值为`[[1,2].[3,4]]`，但是赋值能是一个数字，如下：
[code]

类型的问题还有这个接口：http://www.paddlepaddle.org/documentation/api/zh/0.15.0/layers.html#permalink-177-create_global_var

[2018-09-17 09:15] Yancey0623 opened #13438 "Refine dist train quickstart by low-level API"
The high-level API for dist train has not been verified, we need to refine the document with low-level distribute training API.

[2018-09-17 09:32] Yancey0623 commented on #13438
Moving to https://github.com/PaddlePaddle/FluidDoc/issues/62 and will close this issue.

[2018-09-17 09:32] #13438 closed, assigned to Yancey0623

[2018-09-17 10:49] #12023 closed, assigned to reyoung, panyx0718, typhoonzero

[2018-09-17 10:54] lucywsq commented on #13357
We have received your question and we would reply relative methods to you as soon as possible : )

[2018-09-17 11:14] velconia commented on #12970
We have finished the python 3.5 porting job, so we could close this issue now

[2018-09-17 11:14] #12970 closed, assigned to velconia

[2018-09-17 11:20] velconia commented on #13059
Seems solved, close this issue, please feel free to reopen it if you meet some error

[2018-09-17 11:20] #13059 closed, assigned to velconia

[2018-09-17 12:22] velconia commented on #13397
还是希望明确一下你到底要做些什么, 我看了下你的代码, 这里应该使用 scale, 而不是 mul

[2018-09-17 12:23] velconia commented on #13415
你好, 请问还有别的问题吗?

[2018-09-17 12:23] velconia commented on #13397
另外sum_op中, 两个tensor的纬度需要保持一直, 所以b的shape也需要设置为 [5]

[2018-09-17 12:27] velconia commented on #13395
Sry, but we do not support this kind of training mode now, maybe @jacquesqiao will know more about this.

And @yingfeng would you like to let us know why you need this? we will be appreciate to develop this feature if this is import for you and could benefits all the users.

[2018-09-17 12:29] velconia commented on #13391
你好, 请问还有别的问题吗?

[2018-09-17 13:18] seiriosPlus opened #13447 "Distributed Fluid Meets GRPC Error"
F0917 21:15:59.933271 39373 grpc_client.cc:288] Send name:[__q_fc__@GRAD.block1.trainer_0], ep:[10.182.21.150:8000], status:[-1] meets grpc error:Too many pings
*** Check failure stack trace: ***
    @     0x7f52877d4c2d  google::LogMessage::Fail()
    @     0x7f52877d86dc  google::LogMessage::SendToLog()
    @     0x7f52877d4753  google::LogMessage::Flush()
    @     0x7f52877d9bee  google::LogMe

[2018-09-17 14:34] yeyupiaoling commented on #13397
@velconia 好的，我先明确一下我的需求，我就是要做一个线性回归的例子，当值如下是：
[code]
函数为：
[code]

损失函数为：

![image](https://user-images.githubusercontent.com/26297768/45659320-6f953180-bb26-11e8-882d-8df535aa6488.png)

求w和b
就是这样子。

[2018-09-18 00:35] yingfeng commented on #13395
I think it's a typical context for both online advertising and recommendation, where the models are required to be updated continuously.

[2018-09-18 01:39] gtvforever opened #13448 "paddle.fluid.core.Variable 和 paddle.fluid.framework.Variable 两种类型有何区别?"
RT。 另外像请教下初始化 paddle.fluid.framework.Variable 的问题， 可否通过传递一个已经初始化好的ndarray来初始化 paddle.fluid.framework.Variable？

[2018-09-18 01:55] gongweibao opened #13450 "test_se_resnext meets error on CI."
[code]

[2018-09-18 02:21] typhoonzero commented on #13450
Seems like the cached dataset on the CI server is of an old version. Clean that cached data should work.

[2018-09-18 03:10] zyz282994112 commented on #13391
嗯嗯，Paddle v2 版本的 huber_regression_cost。补充下背景：我这边问题类似ctr预估，想用点击次数对样本进行加权，如果不支持weight的话，那有什么合适的加权方式呢？（ps：点击量比较大，按点击量视为多条样本的话，数据量太大）

[2018-09-18 03:30] DanChristas opened #13452 "关于paddle提供向量函数疑问"
能问一下，pad是否提供相邻向量之间Point-wise Mutual Info和Branch Entropy的计算函数？

[2018-09-18 06:00] velconia commented on #13391
通过 coeff 传入参数对反向传递的梯度进行加权, 这个特性符合你的需求吗?

[2018-09-18 06:02] velconia commented on #13397
对的, 但问题在于, x的shape是[5], 所以 a * X 如果要在数学上有理的话, 应该是对 x 这个 tensor scale 到 a 倍, + b 这个部分则要保证 b 这个 tensor 和 X 的 shape 是一致的

[2018-09-18 06:06] yeyupiaoling commented on #13397
@velconia
a和b是一个常量，不是张量。

[2018-09-18 06:09] yeyupiaoling commented on #13397
@velconia 比如上面提问中的TensorFlow例子输出的a和b是：
[code]

[2018-09-18 06:10] zyz282994112 commented on #13391
是指coeff直接用点击量吗？会不会太大啊？

[2018-09-18 06:25] #13428 closed, assigned to nobody

[2018-09-18 06:52] gongweibao opened #13458 "Unify sync_mode in send_op with which in distribute_transpiler."

[2018-09-18 08:01] lgone2000 opened #13462 "paddle.fluid.layers.scale bug"
复现代码如下。虽然和qingqing沟通可以绕过，但还是希望这个要当作bug解决。
[code]

[2018-09-18 08:10] qingqing01 commented on #13462
1. 解决办法：

    改成以下就行：

[code]
2. 原因：
   scale这个API是 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/ops.py 自动生成，自动生成这类Python API可能都存在该问题，文档也不是很友好：

    http://paddlepaddle.org/documentation/api/zh/0.15.0/layers.html#permalink-109-scale

[code]
    也没明确告诉用户必需在接口里加key，或者正确的用法。

又回到之前的老问题~    @shanyi15 @panyx0718 @reyoung

[2018-09-18 08:39] gongweibao opened #13463 "Need a benchmark tool to check machine envs"
TODO:

- [ ] Check speed from GPU to cpu and reverse.
- [ ] Check IO speed.
- [ ] Check network bandwidth between machines.

[2018-09-18 11:03] velconia commented on #13397
张量是不能和常量相加的, 所以你需要把b改成一个[5]的张量

[2018-09-18 11:55] Superjomn opened #13466 "Int8 design"
# Int8 design

There are two ways to support int8 conversion from float32:

- Convert the value directly by some math methods;
  - Pros: simple
  - Cons: some precision loss for some models
- Retrain the model in int8 domain
  - Pros: lower the precision loss for all the models
  - Cons: heavier to use

The converting way is a common way, and easy to carry out, it works for both the server-deploym

[2018-09-18 12:03] xuezhong commented on #13452
您好，没太看明白你的需求，能具体说明下吗
另外可以参考api中提供的方法
http://www.paddlepaddle.org/documentation/api/zh/0.15.0/layers.html

[2018-09-18 12:16] sfraczek commented on #13402
Hi. Thank you for answering!
I did manage to test my pass with analysis predictor as you advised.

It would be great to have an easy unit testing capability for this. I could have more confidence in this code. Do you have any future plans regarding unit tests for passes? I didn't quite get what I would have to do exactly to create variables so that scope is not empty.

[2018-09-18 12:21] xuezhong commented on #13448
paddle.fluid.core.Variable  是C++的接口，不对外使用的 paddle.fluid.framework.Variable 是python的接口 是对外使用的，两者接口也不相同，因此不能替换。
初始化参数的方法如下，以embedding的参数为例：
 input_embedding = layers.embedding(
            input=input_ids,
            size=[vocab.size(), vocab.embed_dim],
            dtype='float32',
            param_attr=fluid.ParamAttr(
                name = 'embedding_para'))
    embedding_para = fluid.global_s

[2018-09-18 12:21] Superjomn commented on #13402
Yes, I will enhance the logic around Tensor, Variable with IR.
The `param_scope` is an ugly way to support parameter modification in IR pass phase, I will do some refining latter.

[2018-09-18 12:31] xuezhong commented on #13436
如果是正向计算导数，这是编程自己搭建的
如果想获得反向传播的导数，暂时不能在程序中显示获取到，建议先看下如何写一个op，了解内部原理。http://www.paddlepaddle.org/documentation/docs/zh/0.15.0/advanced_usage/development/new_op.html

[2018-09-18 12:31] #13436 closed, assigned to xuezhong

[2018-09-18 12:32] sfraczek commented on #13402
Ok! thanks.

[2018-09-18 13:02] yeyupiaoling commented on #13436
@xuezhong 您好，我要做的例子类似tensorflow的这个：
[code]
输出结果如下：
[code]

这个能完成吗？

[2018-09-19 03:02] mengyiliu22 opened #13471 "评价指标问题"
你好，我在使用nce做多分类损失函数时，想在训练过程中打印出训练集和验证集的P值或AUC等评价指标。
我的做法是取出nce层的参数，然后得到输出向量，用该向量和label做evaluator的参数。
问题是在训练过程中，event.metrics都是空的，请问这是什么原因呢？

[2018-09-19 03:43] lgone2000 commented on #13462
参数设计这块，根据大多数python的用法，函数入口没有强制要求一定要用key传入的。

[2018-09-19 05:40] sinoautom opened #13478 "训练过程中部分结点训练完成，部分结点出core"
日志链接：http://10.182.19.22:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20180918181435-16523/

任务链接：http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5ba0cfe33515a&flag=jobs&groupName=feed_ads&groupId=f323a7cf-d135-4e45-9d71-12dcf823ed6e&currentPage=1&currentKey=1

[2018-09-19 10:17] Sand3r- opened #13487 "Visual Prediction test fails with MKL-DNN due to incorrect Pooling dimensions"
I've managed to correct the code of AnalysisPredictor (`analysis_predictor.cc`) as to actually have it run an MKL-DNN engine (previously the MKL-DNN layers weren't called at all) in the `analyzer_vis_tester.cc`. The corrected code can be found at https://github.com/Sand3r-/Paddle at branch `mgallus/fix_mkldnn_at_vis_test`.

However, after running the test with MKL-DNN enabled it crashed.

To asses

[2018-09-19 10:56] luotao1 commented on #13487
The `ceil_mode` formula is necessary.
In v2 code, CudnnPoolLayer.cpp support `ceil_mode` attribute as well, i.e, cudnn library support it.
https://github.com/PaddlePaddle/Paddle/blob/642cf6ca2f77d409bfd1ecff9f0604f4b911167b/paddle/legacy/gserver/layers/CudnnPoolLayer.cpp#L28-L35

The model could not be trained without it, it is trained by cudnn before.

[2018-09-19 11:52] #12624 closed, assigned to ktlichkid

[2018-09-19 12:25] Sand3r- commented on #13487
Thank you for a quick response!

[2018-09-19 13:15] Sand3r- commented on #13487
@luotao1 I have reviewed the code you've linked, however I cannot find a direct reference to the `ceil_mode` in this file. The mode in the quoted code is related to `max` or `average` pooling. Could you provide more data, or perhaps any papers that tell more about this `ceil_mode` please? We need to modify mkldnn integration to support this scenario.

Update:
I have found the following
https://git

[2018-09-19 13:49] luotao1 commented on #13487
https://github.com/PaddlePaddle/Paddle/blob/71b1c397d7d7cf7cc02c274fb2d69aaf7f794933/paddle/legacy/cuda/src/hl_cuda_cudnn.cc#L434-L439
![image](https://user-images.githubusercontent.com/6836917/45757344-b33a8900-bc55-11e8-81d9-f35c96031ea1.png)
We follow the usage of cudnn library.

[2018-09-20 01:20] zzhzz opened #13497 "请问如何调整GPU显存分配策略？"
在训练过程中，我发现PaddlePaddle默认的显存分配策略是分配尽可能多的显存（比如当前GPU上没有其他程序运行的话，训练程序会分配全部显存）。如何调整显存策略为动态增长呢？

[2018-09-20 02:15] tensor-tang commented on #13497
默认情况下初始拿显存的92%，这个是可以通过flag调整。
https://github.com/PaddlePaddle/Paddle/blob/87086b1386083a2f7479585b966f3ca82d7a9012/paddle/fluid/platform/gpu_info.cc#L22-L25

[2018-09-20 04:26] zhoukunsheng opened #13502 "The last dimension of the 'Ids' tensor must be 1"
environment information:
- paddlepaddle version 0.15.0, fluid API
- use CPU

My batch of data is like a batch of sentences, for example: [ [ 1, 2, 2], [3, 2, 1, 2] ] is a batch with 2 examples, first one is with length 3, second one with length 4. So I declare a data layers with shape [1] and lod_level = 1, and feed a LoDTensor with data [[1], [2], [2], [3], [2], [1], [2]], lod [0, 3, 7].  And the

[2018-09-20 04:34] chengduoZH opened #13504 "Disable test_fuse_elewise_add_act_pass temporarily"
Disable test_fuse_elewise_add_act_pass temporarily, because it failed randomly in Mac ci.
http://ci.paddlepaddle.org/viewLog.html?buildId=18983&buildTypeId=PaddleMac_Build2&tab=buildLog

[2018-09-20 04:35] chengduoZH commented on #13504
Related PR https://github.com/PaddlePaddle/Paddle/pull/13503

[2018-09-20 04:48] tensor-tang commented on #13502
could you show us the test script

[2018-09-20 05:11] zzhzz commented on #13497
@tensor-tang 这个怎么调整，通过系统环境变量吗？

[2018-09-20 06:11] zhoukunsheng commented on #13502
![image](https://user-images.githubusercontent.com/29747927/45799050-c2194e00-bcde-11e8-8ac4-e37dc42aa79c.png)

![image](https://user-images.githubusercontent.com/29747927/45799083-dbba9580-bcde-11e8-893d-071ea46bed55.png)

![image](https://user-images.githubusercontent.com/29747927/45799123-fab92780-bcde-11e8-994f-9fe52e4fe71f.png)

[2018-09-20 06:55] wojtuss commented on #13298
@luotao1, what do you think? I still consider it a flaw.

[2018-09-20 07:01] tensor-tang commented on #13502
问题已复现

[2018-09-20 07:11] tensor-tang commented on #13497
在python跑的时候，`--fraction_of_gpu_memory_to_use=0.4`

[2018-09-20 07:12] velconia commented on #13397
Seems no more questions, I will close it

[2018-09-20 07:12] #13397 closed, assigned to velconia

[2018-09-20 07:13] velconia commented on #13391
可以对点击量做一定的平均, 例如除以方差或者数量等

[2018-09-20 07:14] #13388 closed, assigned to velconia

[2018-09-20 07:15] #13415 closed, assigned to velconia

[2018-09-20 07:35] wanghaoshuang opened #13510 "language model fail"
commit 155ebbb9dc1d0c00d1fb8030cf23870c8460ef59 会导致[language_model](https://github.com/PaddlePaddle/models/tree/develop/fluid/language_model) fail.

环境如下：

Tesla P40
CUDA8
CUDNN7
gcc version 4.8.3
Python 2.7.3

[code]

[2018-09-20 08:06] luotao1 commented on #13502
可以参考 #13312 关于feed lod的说明。 @shanyi15 这部分文档比较着急，请优先考虑。

[2018-09-20 08:13] luotao1 commented on #13298
why do you need it?  Currently, the inference output of our model is either `int64_t` or `float32`.

[2018-09-20 09:03] tensor-tang commented on #13502
分析了下发现shape的定义什么的都没有问题，但是dataset是自定义，在code中打出来的dim[0]为-1，应该是自定义dataset处理的问题。

建议参考下https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/dataset/imikolov.py#L83 的实现

[2018-09-20 09:38] #13502 closed, assigned to nobody

[2018-09-20 10:09] luotao1 commented on #13296
close due to #13425 (move to `/root/.cache/inference_demo`)

[2018-09-20 10:10] #13296 closed, assigned to Superjomn, velconia, panyx0718, guochaorong

[2018-09-20 10:10] luotao1 commented on #13253
close due to #13425 (move to `/root/.cache/inference_demo`)

[2018-09-20 10:10] #13253 closed, assigned to nobody

[2018-09-20 10:46] gongweibao opened #13514 "dist_transformer random fails."

[2018-09-20 13:00] sinoautom opened #13519 "训练成功完成后hang住时间太长被kill"
日志链接：
http://10.182.6.161:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20180920120410-18991/

任务训练完成后一直hang住，直到被kill，训练返回＝0；

[2018-09-20 16:19] lucywsq commented on #12186
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:20] #12186 closed, assigned to kuke

[2018-09-20 16:21] lucywsq commented on #12195
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-09-20 16:21] #12195 closed, assigned to luotao1

[2018-09-20 16:21] lucywsq commented on #12214
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:21] #12214 closed, assigned to kuke, qingqing01

[2018-09-20 16:22] lucywsq commented on #12372
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:22] #12372 closed, assigned to qingqing01

[2018-09-20 16:22] lucywsq commented on #12394
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:22] #12394 closed, assigned to nobody

[2018-09-20 16:23] lucywsq commented on #12395
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:23] #12395 closed, assigned to panyx0718, jacquesqiao, qingqing01

[2018-09-20 16:23] lucywsq commented on #12405
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:23] #12405 closed, assigned to nobody

[2018-09-20 16:23] lucywsq commented on #12410
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:23] #12410 closed, assigned to typhoonzero

[2018-09-20 16:24] lucywsq commented on #12427
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the

[2018-09-20 16:24] #12427 closed, assigned to typhoonzero

[2018-09-20 16:25] lucywsq commented on #12428
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:25] #12428 closed, assigned to nobody

[2018-09-20 16:25] lucywsq commented on #12494
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:25] #12494 closed, assigned to chengduoZH

[2018-09-20 16:25] lucywsq commented on #12503
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:25] #12503 closed, assigned to qingqing01

[2018-09-20 16:26] lucywsq commented on #12551
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:26] #12551 closed, assigned to nobody

[2018-09-20 16:26] lucywsq commented on #12564
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:26] #12564 closed, assigned to nobody

[2018-09-20 16:27] lucywsq commented on #12571
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:27] #12571 closed, assigned to nobody

[2018-09-20 16:27] lucywsq commented on #12572
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:27] #12572 closed, assigned to nobody

[2018-09-20 16:28] lucywsq commented on #12585
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:28] #12585 closed, assigned to Yancey0623

[2018-09-20 16:28] lucywsq commented on #12597
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-09-20 16:28] #12597 closed, assigned to nobody

[2018-09-20 16:29] lucywsq commented on #12627
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:29] #12627 closed, assigned to nobody

[2018-09-20 16:57] lucywsq commented on #12654
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:57] #12654 closed, assigned to nobody

[2018-09-20 16:57] lucywsq commented on #12678
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:57] #12678 closed, assigned to Yancey0623

[2018-09-20 16:58] lucywsq commented on #12711
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:58] #12711 closed, assigned to qingqing01, shanyi15

[2018-09-20 16:58] lucywsq commented on #12714
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:58] #12714 closed, assigned to Yancey0623

[2018-09-20 16:58] lucywsq commented on #12718
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:58] #12718 closed, assigned to qingqing01

[2018-09-20 16:59] lucywsq commented on #12820
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:59] #12820 closed, assigned to wanghaoshuang

[2018-09-20 16:59] lucywsq commented on #12859
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 16:59] #12859 closed, assigned to reyoung

[2018-09-20 17:00] lucywsq commented on #12882
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:00] #12882 closed, assigned to JiayiFeng

[2018-09-20 17:00] lucywsq commented on #12965
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:00] #12965 closed, assigned to nobody

[2018-09-20 17:01] lucywsq commented on #12967
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:01] #12967 closed, assigned to nobody

[2018-09-20 17:01] lucywsq commented on #13057
您好，此issue在近三周内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:01] #13057 closed, assigned to jacquesqiao, typhoonzero

[2018-09-20 17:02] lucywsq commented on #13061
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:02] #13061 closed, assigned to lucywsq

[2018-09-20 17:02] lucywsq commented on #13062
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:02] #13062 closed, assigned to xuezhong

[2018-09-20 17:02] lucywsq commented on #13105
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:02] #13105 closed, assigned to sneaxiy

[2018-09-20 17:03] lucywsq commented on #13109
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-09-20 17:03] #13109 closed, assigned to Superjomn, panyx0718

[2018-09-20 17:03] lucywsq commented on #13188
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:03] #13188 closed, assigned to nobody

[2018-09-20 17:04] lucywsq commented on #13191
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-09-20 17:04] #13191 closed, assigned to Superjomn, luotao1

[2018-09-20 17:05] lucywsq commented on #13194
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:05] #13194 closed, assigned to nobody

[2018-09-20 17:05] lucywsq commented on #13197
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-09-20 17:05] #13197 closed, assigned to Superjomn

[2018-09-20 17:05] lucywsq commented on #13200
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:05] #13200 closed, assigned to qingqing01

[2018-09-20 17:06] lucywsq commented on #13242
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:06] #13242 closed, assigned to typhoonzero

[2018-09-20 17:06] lucywsq commented on #13245
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:06] #13245 closed, assigned to typhoonzero

[2018-09-20 17:07] lucywsq commented on #13274
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:07] #13274 closed, assigned to chengduoZH

[2018-09-20 17:07] lucywsq commented on #13289
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-09-20 17:07] #13289 closed, assigned to kuke

[2018-09-20 17:08] lucywsq commented on #13402
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-09-21 02:46] typhoonzero commented on #13519
您好，请参考最新文档：https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/fluid/user_guides/howto/training/cluster_quick_start.rst

需要在训练完成后加`exe.close()`调用。

PS: 该文档会在最近发布到官方文档：http://www.paddlepaddle.org/documentation/docs/zh/0.15.0/user_guides/howto/training/cluster_quick_start.html

[2018-09-21 05:13] #13042 closed, assigned to typhoonzero

[2018-09-21 05:24] flyhighzy commented on #12956
请问问题有定位到吗~是否有修复？

[2018-09-21 05:28] gongweibao commented on #13514
Disable it now!

[2018-09-21 05:35] seiriosPlus commented on #12956
采用新版的paddle fluid试一下吧， 目前没有发现同样的情况。

[2018-09-21 05:46] gongweibao opened #13526 "Need to pass trainer's endpoints to executor.close()"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/executor.cc#L52

Need to pass trainer's endpoints to it!

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/distributed/grpc_client.cc#L42

It's a potential bug.

[2018-09-21 07:29] #13510 closed, assigned to reyoung, chengduoZH

[2018-09-21 07:52] MaybeShewill-CV opened #13529 "Mac OS docker build from source error"
Mac OS version:10.13.6
docker version:18.06.1-ce
paddle fluid version: 0.15.0
cmake command: cmake .. -DWITH_FLUID_ONLY=ON -DWITH_GPU=OFF -DWITH_TESTING=OFF
docker command: docker run --name paddle-test -v $PWD:/paddle --network=host -it hub.baidubce.com/paddlepaddle/paddle:latest-dev /bin/bash
make error terminal:
![make_err_log](https://user-images.githubusercontent.com/15725187/45867548-45f2398

[2018-09-21 08:37] shanyi15 commented on #13312
收到@luotao1

[2018-09-21 11:28] JiabinYang commented on #13529
能发一下完整的log么

[2018-09-21 11:34] JiabinYang commented on #13529
看起来是运行时内存不足造成的

[2018-09-21 12:05] MaybeShewill-CV commented on #13529
@JiabinYang 编译的时候没有记录log 明天重新编译一下记录完发上来,整个编译过程一直都没有什么报错信息，就是到link paddle_python.so的时候被kill了==！

[2018-09-23 16:39] zds9204 opened #13547 "paddle训练cpu dnn网络，每次到固定位置出现Floating point exception错误"
在使用paddle训练cpu dnn网络时，设置batch size=512时，训练到第3420个batch时，出现如下错误：
Thread [140327239198464] Forwarding __fc_layer_10__,
*** Aborted at 1537716648 (unix time) try "date -d @1537716648" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGFPE (@0x7fa060dd4827) received by PID 855 (TID 0x7fa07b3ea700) from PID 1625114663; stack trace: ***
    @     0x7fa097242500 (unknown)
    @     0

[2018-09-23 16:43] zds9204 commented on #13547
每次出现错误的batch数不变

[2018-09-24 02:03] typhoonzero commented on #13547
可以跳过当前batch的数据再看下，是否仍然存在，排除异常数据的影响。

[2018-09-24 08:39] wojtuss opened #13550 "Unique patterns are matched as duplicates."
The algorithm used in `GraphPatternDetector::UniquePatterns()` method for determining duplicate subgraphs seems to be flawed. Quite often it marks two distinct subraphs as duplicates. This leads to nondeterministic results of fuse passes.
Below are two sequences of addresses (`item.first` and `item.second`) taken into the calculation of the hash `key` for two different subgraphs, with intermediate

[2018-09-24 09:43] jczaja opened #13551 "Question on test_text_classification"
How can I run Test_text_classification with diffrent batch size than 1 eg. 32 ?

There is an enforce to have batch_size = 1 :
https://github.com/PaddlePaddle/Paddle/blob/d6358541f9597aeac05ce7ca3d3d72053daf92fe/paddle/fluid/inference/tests/api/analyzer_text_classification_tester.cc#L25

I need that to test BatchCompute path of fusion_lstm_op

Please advice ,

[2018-09-24 13:41] zds9204 commented on #13547
跳过batch有效。已排查出问题，为输入的原始数据中有NaN导致

[2018-09-24 13:41] #13547 closed, assigned to nobody

[2018-09-25 01:33] jacquesqiao commented on #13173
### 当前状态
测试了很多场景，没能复现问题。

### 50节点异步

http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5ba8b1d2d8c2d&flag=jobs&groupName=paddle&groupId=2b984db1-5c29-5951-b4ee-11da61ccb0a5&currentPage=1&currentKey=1

![image](https://user-images.githubusercontent.com/3048612/45987783-fc4f6a80-c0a5-11e8-8e1b-847c350b496d.png)

### 30节点异步

http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?

[2018-09-25 02:52] feitonlife opened #13558 "V2版本，mpi训练，报错：Aborted at 1537770509 (unix time) try "date -d @1537770509" if you are using GNU date"
参考DSSM的双塔结构，实现的一个相关性计算模型，模型网络结构没有问题，小数据量时已经跑通，能够收敛，预测。
但是mpi大数据量训练时，经常报错：Aborted at 1537770509 (unix time) try "date -d @1537770509" if you are using GNU date

开始以为是空样本的问题，可是每次出错的样本都不一样，大概排除了样本的问题。不知道是不是哪里的参数设置不合理？
ps：训练环境，paddle V2，公司的mpi集群，lvliang01.

# 具体错误信息如下：

[code]

＃ 网络结构如下：
输入的seq类特征，经过embedding＋CNN，得到的向量concat起来，加一个cos层
[code]
# 训练代码
[code]

[2018-09-25 03:09] chengduoZH commented on #13558
该issue是在MPI集群中使用V2训练出现的问题，@Yancey1989 可以帮忙看一下吗？

[2018-09-25 03:19] Yancey0623 commented on #13558
可以参考FAQ中 http://paddlepaddle.org/documentation/docs/zh/0.12.0/faq/cluster/index_cn.html 这一部分找出最初报错位置。

[2018-09-25 03:20] seiriosPlus commented on #13471
你好，您用的是trainer.py来训练的么？

[2018-09-25 03:30] feitonlife commented on #13558
server.log里最初的错误如下：报bad_alloc错误
Mon Sep 24 14:28:29 2018[1,8]<stderr>:  what():  std::bad_alloc
Mon Sep 24 14:28:29 2018[1,8]<stderr>:*** Aborted at 1537770509 (unix time) try "date -d @1537770509" if you are using GNU date ***
Mon Sep 24 14:28:29 2018[1,8]<stderr>:PC: @                0x0 (unknown)
Mon Sep 24 14:28:29 2018[1,8]<stderr>:*** SIGABRT (@0x1f500001071) received by PID 4209 (TID 0x7fbc

[2018-09-25 03:41] qingqing01 opened #13559 "Fluid training is blocked and GPU-Util is 100% on FasterRCNN"
1. [faster-rcnn](https://github.com/PaddlePaddle/models/tree/develop/fluid/faster_rcnn) 在v100上8卡训练出现多次卡住，运行了多次，出现过在1000轮左右、3w轮左右、12w轮左右卡住。

nvidia-smi显示，GPU-Util是100%:
[code]

2. 也有分类任务、OpenPose在k40上卡住。

[2018-09-25 03:49] panyx0718 commented on #13559
这个问题以前有吗，大概什么时候开始发生的？

[2018-09-25 04:04] qingqing01 commented on #13559
@panyx0718  之前跑其他任务没出现过。 据@weike说在transformer也出现过， 具体的commit id不太确定，每次复现也不是固定的轮数。

提供一些faster-rcnn训练在设置以下环境变量的log:
export GLOG_v=4
export GLOG_logtostderr=1

[code]

[2018-09-25 06:36] kolinwei opened #13562 "elemwise_div 没有了out参数"

[2018-09-25 07:37] yma-admin commented on #13559
这个问题比较大，需要在1.0修掉。

[2018-09-25 08:08] JiabinYang opened #13565 "Picture is invalid on doc of 0.13.0"
http://paddlepaddle.org/documentation/docs/zh/0.13.0/design/motivation/refactorization.html

<img width="934" alt="2018-09-25 3 55 14" src="https://user-images.githubusercontent.com/22361972/46001181-43a51d80-c0dd-11e8-9518-089ec2008393.png">

[2018-09-25 08:26] Yancey0623 opened #13566 "the duration time of async recv op is imblance"
Test on restnet50 model, the screenshot of the timeline report:

![image](https://user-images.githubusercontent.com/1426912/46002062-94b61100-c0df-11e8-99a8-4d9cd9208a35.png)

[2018-09-25 09:08] chengduoZH commented on #13559
@qingqing01 出现问题的commit是多少？
@kolinwei 记得Transformer之前出现hung住是因为没有加锁，现在还偶尔会hung住？

[2018-09-25 10:19] mirekphd commented on #12040
Can you please upload Python 3 wheels to PyPi? Currently there are only Python 2.7 versions...
(see. e.g. https://pypi.org/project/paddlepaddle-gpu/0.15.0.post97/#files )

[2018-09-25 11:24] seiriosPlus opened #13570 "Distributed Metrics"

[2018-09-25 12:49] kolinwei commented on #13559
我遇到出现问题的commit是606dfb13d5ea5db25e9b64b98560a193d881c6b6

[2018-09-25 13:09] kolinwei commented on #13559
不确定是不是镜像的问题，在paddlepaddle/paddle:latest-gpu中是必现的

[2018-09-25 13:23] tpatejko opened #13574 "CAPI CRNN-CTC application"
Is `analyzer_vis_tester.cc` an implementation of CRNN-CTC in CAPI? If yes, where can I find trained model and data for inference for that model.

[2018-09-26 01:33] #13487 closed, assigned to nobody

[2018-09-26 01:45] gongweibao opened #13586 "simple_on_word2vec meets error on CI."
http://ci.paddlepaddle.org/viewLog.html?buildId=20136&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all&_focus=19183

[code]

[2018-09-26 02:14] gongweibao opened #13588 "It's not better to use hard code path!"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/demo_ci/CMakeLists.txt

[code]

[2018-09-26 02:29] shanyi15 commented on #13565
感谢反馈，正在排查。

[2018-09-26 02:40] luotao1 commented on #13588
这个不是hard code，是用户预测的时候，加入所有需要的第三方库。

[2018-09-26 02:42] gongweibao commented on #13588
我的thirdparty不在这个目录下就无法编译了`${PADDLE_LIB}/third_party/install`

[2018-09-26 03:13] luotao1 commented on #13588
这是预测库的一个示范例子，验证打包的预测库是否正确和完备。请问是加了什么第三方库？这个第三方库预测也需要？

[2018-09-26 03:14] kolinwei opened #13591 "fluid.optimizer.DecayedAdagradOptimizer 跑分布式时报如下错误"
File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/transpiler/distribute_transpiler.py", line 717, in get_pserver_program
    lr_ops)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/transpiler/distribute_transpiler.py", line 639, in __append_optimize_op__
    self.origin_program, merged_var)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/transpiler/distribute_transp

[2018-09-26 03:14] gongweibao commented on #13588
paddle thirdparty目录是可以指定的。不一定都在`${PADDLE_LIB}/third_party/install`这个目录下。

[2018-09-26 03:28] luotao1 commented on #13588
请问具体是遇到什么问题呢？

是的。但这是打包的预测库的结构。http://www.paddlepaddle.org/documentation/docs/zh/0.15.0/user_guides/howto/inference/build_and_install_lib_cn.html#id1

[2018-09-26 03:37] gongweibao opened #13594 "CI meets error!"
http://ci.paddlepaddle.org/viewLog.html?buildId=20240&buildTypeId=Paddle_PrCi&tab=buildLog

[code]

[2018-09-26 03:45] luotao1 commented on #13551
We will update this unit-test ASAP.

[2018-09-26 05:16] luotao1 commented on #13574
Sorry, `analyzer_vis_tester.cc` is not an implementation of CRNN-CTC in CAPI.
For CRNN-CTC:
- dataset: http://paddle-ocr-data.bj.bcebos.com/data.tar.gz
- readme of dataset: https://github.com/PaddlePaddle/models/tree/develop/fluid/ocr_recognition#%E6%95%B0%E6%8D%AE
- params: http://paddle-ocr-data.bj.bcebos.com/crnn_ctc_params.tar.gz
- program_desc: you can save the program_desc from python side a

[2018-09-26 05:39] kolinwei opened #13599 "以多机nccl方式训练object_detection时，程序会卡着，GPU占用率100%"
kill掉程序后，出现如下错误信息:
0926 13:34:48.170254 21140 operator.cc:686] expected_kernel_key:data_type[float]:data_layout[ANY_LAYOUT]:place[CUDAPlace(0)]:library_type[CUDNN]
*** Aborted at 1537940266 (unix time) try "date -d @1537940266" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGTERM (@0x4a82) received by PID 21140 (TID 0x7fc42f5d1740) from PID 19074; stack trace: ***
    @

[2018-09-26 07:06] panyx0718 commented on #12304
参数基本上都是和数据大小无关的，所以静态shape和动态shape必须结果是一致的。
一般的op只需要动态的shape。

是不是只有reshape, set_shape少量op是可能会依赖静态shape，而且容许动态shape和静态shape不一致？这样完善reshape这种op的报错机制就行？

[2018-09-26 07:47] mirekphd opened #13604 "Adding Python 3 wheels to PyPi"
Currently there are only Python 2.7 versions there...
(see. e.g. https://pypi.org/project/paddlepaddle-gpu/0.15.0.post97/#files )

_Originally posted by @mirekphd in https://github.com/PaddlePaddle/Paddle/issues/12040#issuecomment-424287180_

[2018-09-26 08:01] bingyanghuang opened #13605 "Need to Modify model to adapt to new fix of multi-instances problem"
As Brian's [patch](https://github.com/PaddlePaddle/Paddle/compare/develop...jianhang-liu:remove-lock) to fix the multi-instances performance drop problem  specially for rnn1 and chinese ner,   it added two intermediate outputs for crf-decoding to decrease the memory allocate time.  Therefore, it needs to modify the model as following figure:
![image](https://user-images.githubusercontent.com/33643

[2018-09-26 08:05] tpatejko commented on #13574
Thank! Do you have any CAPI CRNN-CTC application?

[2018-09-26 08:06] bingyanghuang commented on #13605
@luotao1

[2018-09-26 08:38] velconia commented on #1201
Paddle Fluid 会在 0.15.0 发布python3的试用版, 1.0 发布正式版.

这个 [issue](https://github.com/PaddlePaddle/Paddle/issues/12040) 记录了我们的工作;

[2018-09-26 08:38] velconia commented on #10581
Paddle Fluid 会在 0.15.0 发布python3的试用版, 1.0 发布正式版.

这个 [issue](https://github.com/PaddlePaddle/Paddle/issues/12040) 记录了我们的工作;

[2018-09-26 08:41] velconia commented on #9174
Paddle Fluid 会在 0.15.0 发布python3的试用版, 1.0 发布正式版.

这个 [issue](https://github.com/PaddlePaddle/Paddle/issues/12040) 记录了我们的工作;

[2018-09-26 08:48] tpatejko commented on #13574
@luotao1 What is the difference between `analyzer_vis_tester` and CRNN-CTC model? If I understand correctly both are OCR models?

[2018-09-26 08:53] luotao1 commented on #13574
Their layers are different. The layer in `analyzer_vis_tester` is:
[code]

[2018-09-26 08:55] jczaja commented on #13551
Ok, thanks

[2018-09-26 08:55] #13551 closed, assigned to luotao1

[2018-09-26 09:06] tpatejko commented on #13574
If I remember correctly, CRNN-CTC in Baidu's model repository also has convolution part, im2sequence layer and two GRU operators with forward and backward directions.

Is the difference that CRNN-CTC uses CTC for classification and `analyzer_vis_tester` uses softmax?

[2018-09-26 09:41] luotao1 commented on #13574
The layers in CRNN-CTC:
[code]

Yes, but there are some other difference. You can diff these two layers.

[2018-09-26 10:14] kuke commented on #13599
Thanks, 这个问题正在跟踪之中

[2018-09-26 10:18] 333caowei opened #13607 "batch_norm在v2与fluid的使用区别"
batch_norm在预测时候需要有什么特殊的操作吗，我看fluid版本在test时候需要将is_test参数置为true，但是v2没有这个参数，不知v2版本在做test时候是否需要有什么操作

[2018-09-26 10:24] 333caowei opened #13608 "v2版本两种feed特征的区别"
比如我现在有两个dense特征dense1=random()，dense2=random():

对于方式1：
reader.py中使用如下方式
yield dense1，dense2

模型中使用如下方式：
dense1_data = paddle.layer.data(
                    type=paddle.data_type.dense_vector(1)
                    )
dense2_data = paddle.layer.data(
                    type=paddle.data_type.dense_vector(1)
                    )
concat = paddle.layer.concat(input=[dense1_data, dense1_dat2])
hidden

[2018-09-26 10:28] kolinwei commented on #13562
已解决

[2018-09-26 10:28] #13562 closed, assigned to reyoung

[2018-09-26 10:50] tpatejko commented on #13574
Thanks a lot for the information!

[2018-09-26 12:29] SnailTowardThesun opened #13611 "Trainer和save_inference_model的疑问"
使用fluid.Trainer进行训练，训练完成后，只能调用fluid.Trainer.save_params()进行保存，而没函数与fluid.io.save_inference_model对应。想请教下，该如何操作，才能生成__model__文件，供C++接口使用？

[2018-09-26 12:32] sinoautom opened #13612 "get_app_port_bin failed"
上午运行成功的任务，今天提交报错 get_app_port_bin failed
日志地址：http://10.182.13.147:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20180926200628-479/

[2018-09-26 12:57] luotao1 opened #13613 "gen_capi_package fails on manylinux1"
[code]
http://ci.paddlepaddle.org/viewLog.html?buildId=20333&tab=buildLog&buildTypeId=Manylinux1_CpuAvxCp27cp27mu&logTab=tree&filter=all&_focus=22044
The reason is that #13528 change the CMAKE_INSTALL_PREFIX.

[2018-09-26 13:28] kuke commented on #13608
这两种方式都可以的，没有区别

[2018-09-26 14:30] ninnkotora opened #13616 "cross_entroy时的soft_label设置成true,ParallelExecutor.run报错"
#：之前soft_label没有设置，只下这句计算交叉熵
   #`cost = fluid.layers.cross_entropy(input=prop, label=trans_label)`

    现在把soft_label设置为true，来计算交叉熵。
    trans_label的定义：shape=[-1, 1], dtype='int64'
    trans_label本来是列数为1，所以用下面的语句转为两列，比如0改为[1,0]；1改为[0,1]。

[code]

    但ParallelExecutor.run的时候报错如下：
![image](https://user-images.githubusercontent.com/43612170/46086887-af6db000-c1db-11e8-9dbe-2b3c4657cb3b.png)

[2018-09-26 16:30] sfraczek opened #13617 "ResNet50 pre-trained weight inference error in python"
Hi,
Resnet50 eval result is wierd on pre-trained weights from https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification. I have downloaded **develop branch for both Paddle and models**

When I try eval:
[code]
I get
[code]

[2018-09-27 00:25] #13591 closed, assigned to typhoonzero

[2018-09-27 02:07] luotao1 commented on #13617
You can refer to https://github.com/PaddlePaddle/models/issues/1223

[2018-09-27 02:53] gongweibao commented on #13612
get_app_port_bin 这个程序应该是HPC的同学提供的。不是paddle提供的。要不你问一下HPC的同学？

[2018-09-27 03:02] #13613 closed, assigned to nobody

[2018-09-27 03:13] reyoung commented on #12699
目前应该不太支持『递归』功能。虽然我们用Array和WhileOp可以模拟递归的前向，但是反向传播需要特殊支持一下。目前Paddle/Fluid不支持这一功能。

[2018-09-27 05:28] kuke commented on #13611
建议用通用API，这个high level api用的是save_persistables(), 没法保存inference model

[2018-09-27 05:28] kuke commented on #13607
已在用户群回答

[2018-09-27 05:28] #13607 closed, assigned to nobody

[2018-09-27 05:29] kuke commented on #13604
We will add the py3 version for the release 0.15 later.

[2018-09-27 05:31] luotao1 commented on #13611
两种API的区别可以参考 [High/Low-level API简介](https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/fluid/api_guides/high_low_level_api.md)

[2018-09-27 06:40] #13497 closed, assigned to tensor-tang

[2018-09-27 06:40] #12699 closed, assigned to nobody

[2018-09-27 06:49] sfraczek commented on #13617
Thank you very much for pointing me to this @luotao1. It seems we have some work to do on improving our internal communication.

[2018-09-27 06:56] #13617 closed, assigned to nobody

[2018-09-27 07:09] velconia opened #13628 "Support python3 build and test in Mac OSX"
According to the requirements [here](https://github.com/PaddlePaddle/Paddle/issues/12040), we should support python3 in mac

[2018-09-27 09:39] kolinwei commented on #13599
多台机器上也会出现问题

[2018-09-27 09:44] tpatejko commented on #13405
Thanks for your suggestions.

[2018-09-27 09:44] #13405 closed, assigned to Superjomn, luotao1

[2018-09-27 10:47] gongweibao commented on #13599
num_threads需要设置为1

https://github.com/gongweibao/models/blob/cloudtest/fluid/neural_machine_translation/transformer/train.py#L416

[2018-09-27 10:49] Yancey0623 opened #13635 "Fuse RPC op to improve the performance of distributed training"
Currently, the RPC op like `send_op` and `recv_op`, they send/recv one variable for one RPC call, we can fuse these RPC calls to improve the performance.

tasks:
- [ ] modify RPC proto to support processing of multiple variables in an RPC message.
- [ ] add a  `FuseRPCPass` to fuse rpc op.

[2018-09-27 10:50] #13608 closed, assigned to kuke

[2018-09-27 11:51] #13628 closed, assigned to velconia

[2018-09-27 11:52] velconia opened #13639 "Port Ubuntu docker image to support python3"
According to the requirements [here](https://github.com/PaddlePaddle/Paddle/issues/12040), we should support python3 in Ubuntu docker image

[2018-09-27 11:59] velconia commented on #13604
After abundant test in Python3 we will release it in 0.15.0, so it will be later than the release time of Python2.

And the release time of Python3 in 1.0.0 will be the same as Python2 in 1.0.0

[2018-09-27 12:31] panyx0718 commented on #13599
这是不是应该自动化一下？

[2018-09-27 12:34] gongweibao commented on #13599
我已经设置了，估计是这个版本没有包含：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/parallel_executor.py#L115

[2018-09-27 12:42] panyx0718 commented on #13599
需要包含把？地球人估计都想不到要手动设成1，所以是个bug. assert的信息也可以加强一下

[2018-09-27 12:45] typhoonzero commented on #13599
我看1.0 branch已经有了？ https://github.com/PaddlePaddle/Paddle/blob/release/1.0.0/python/paddle/fluid/parallel_executor.py#L115

[2018-09-27 12:48] kolinwei commented on #13599
我就是设置的 num_thread=1跑的

[2018-09-28 02:42] zhoukunsheng opened #13642 "feed initial hidden state to dynamic_gru cause an error"
Paddle version: 0.15.0
environment: CPU, use fluid API

error infomation:
Traceback (most recent call last):
  File "train.py", line 281, in <module>
    train_net()
  File "train.py", line 277, in train_net
    model_dir="model")
  File "train.py", line 165, in train
    bi_gru = gru(item_merge, 32, True, user_fc)
  File "train.py", line 97, in gru
    h_0=h_0)
  File "/anaconda2/lib/python2.7/si

[2018-09-28 03:26] gongweibao commented on #13635
- [ ] Send complete to pserver endpoints.
- [ ] Merge brpc.
- [ ] Add RPC fuse.

[2018-09-28 04:02] luotao1 opened #13646 "mkldnn batch norm maybe diff with mkl batch norm"
The test machine is: E5-2620 v2, which only have AVX Instruction set.

When I inference resnet50 model: https://github.com/PaddlePaddle/Paddle/compare/develop...luotao1:resnet50?expand=1

The commit id is: https://github.com/PaddlePaddle/Paddle/commit/643b6faa0ced3304d5531dfa6a87a7fb39a54e0f

I run `ctest -R test_analyzer_resnet50 -V`.  following Test fails:
[code]
The error is that there is > 0.0

[2018-09-28 05:00] Yancey0623 opened #13648 "Assign placement on operator"
tasks:
- [ ] design doc: https://github.com/PaddlePaddle/FluidDoc/pull/107
- [ ] Python API to assign place on operator: #13649
- [ ] refine startup_program so that initializing the var on the valid place.
- [ ] Using a pass to insert the communicator (memcpy, send, listen_and_serv) at the boundary between ops which on the different place.

[2018-09-28 05:15] #13611 closed, assigned to kuke

[2018-09-28 05:15] SnailTowardThesun commented on #13611
已经了解了，换为基础API去做

[2018-09-28 06:39] wojtuss commented on #13298
I was using an older version of a python script for ResNet50 inference and one of the otputs was `int`. Now I have updated the script to the current public version and everything is fine.
Thanks!

[2018-09-28 06:40] #13298 closed, assigned to luotao1

[2018-09-28 07:30] Sand3r- commented on #13646
Thank you for the detailed report! We're on our way to investigate the problem with @sfraczek.

[2018-09-28 07:59] zyz282994112 commented on #13391
可是每个样本的点击量都不一样，而coeff这个参数只支持float/int/long格式，不支持向量。做完cost后再乘上点击量加权可以吗？如下：
cost = paddle.layer.huber_regression_cost(input=output, label=acp, delta=2.0)
cost = paddle.layer.scaling(cost, weight)

ps：我的paddle版本为v2版本

[2018-09-28 08:37] lance6716 opened #13665 "如何获取提供模型的形状、各层的名字等信息"
文档里完全没有找到，fluid.io只能把它加载给executor，然而我都不知道形状和输入层的名字，该怎么让executor跑起来。

[2018-09-28 09:04] panyx0718 commented on #13648
`place="/role:worker/gpu:0-7"`
Is there a formal format definition for the placement string?

Which model do you want to use it for? Can you give an example why it's required and how will it be realized?

[2018-09-28 09:14] mengyiliu22 commented on #13471
是的，用trainer.train()来训练的。

[2018-09-28 09:48] mrysztow commented on #13646
@luotao1 can you say, what are severity and priority of this request? We don't have any v2 platforms to start immediate investigations and if it is not "nice to have" only, need to obtain proper platform

[2018-09-28 10:09] luotao1 commented on #13646
This PR has high priority, since the majority of online machines are V2 and V4 platforms, and this resnet50 model will be used online.

Does this PR relate with the platform but not codes? Could it run successfully on 6148 platform?

[2018-09-28 11:07] kolinwei opened #13669 "transformer 加上内存优化后的loss值与不加相差较大"
之前0.15版本的transformer。
不加内存优化前6个batch的loss值:
[9.574362, 9.552914, 9.515497, 9.539991, 9.502448, 9.493856]
加上后变为:
61298.586, 61925.836, 62752.34, 62703.094, 62897.477, 62393.04]

[2018-09-28 12:06] gongweibao opened #13671 "Update unit tests to avoid deprecated ouput."
Update unit tests to avoid these output:
[code]

[2018-09-29 01:17] reyoung commented on #13669
确定loss.persistable = True么？

[2018-09-29 01:21] reyoung commented on #13559
升级驱动到396.26后，不修改任何代码也不会有问题了。

[2018-09-29 01:21] #13559 closed, assigned to reyoung, panyx0718, qingqing01, sneaxiy

[2018-09-29 02:26] jeff41404 opened #13676 "internal error in RPCClient"
paddle version 0.15
模型：https://github.com/PaddlePaddle/models/tree/develop/fluid/DeepASR
作业运行配置：2个pserver，5个trainer，每个trainer 1卡
作业运行在Paddle cloud上，作业ID：job-e6c5badca934519f，在第1个pass所有batch运行完的时候报错
在 单机 或 Paddle cloud多机小数据量跑则训练正常

![rpc error](https://user-images.githubusercontent.com/8555991/46239899-24a2d600-c3d2-11e8-94cf-602b3420510f.JPG)

其它类似的issue：
https://github.com/PaddlePaddle/Paddle/iss

[2018-09-29 02:36] typhoonzero commented on #13599
Update: 和 @kolinwei 在一台物理机上测试暂未复现

[2018-09-29 03:24] xiaoyao4573 opened #13680 "多线程下RecordIO的reader进行reset操作后无法读取数据"
train_exe = fluid.ParallelExecutor(
            use_cuda=False,
            loss_name=train_avg_loss.name,
            main_program=train_program)
    test_exe = fluid.ParallelExecutor(
            use_cuda=False,
            main_program=test_program,
            share_vars_from=train_exe)

    for epoch in xrange(100):
        try:
            while True:
                train_loss_v = train_exe

[2018-09-29 03:50] CruiseSun opened #13681 "Fri Sep 28 21:59:51 2018[1,7]<stderr>:F0928 21:59:51.491448 3117 MemoryHandle.cpp:49] Check failed: size != 0 allocate 0 bytes"
`def train_mapper(sample):
    '''
    map image path to type needed by model input layer for the training set
    '''
    global images_path_dic, feature_dic

    img_name, features, label = sample

    #create image data
    img = paddle.image.load_image("./images/" + images_path_dic[img_name] + "/" + img_name)
    if img is None:
        if os.path.getsize("./images/" + images_path_dic[img_name

[2018-09-29 03:52] CruiseSun commented on #13681
我的数据格式是<图片名称，其他样本特征，标签>，样本特征的形式是***:*的序列形式

[2018-09-29 03:55] CruiseSun commented on #13681
[code]

[2018-09-29 04:19] kolinwei commented on #13599
试了三种类型机器:
CUDA Version 9.0.176
Driver Version 396.26

CUDA Version 8.0.61
Driver Version 384.66

CUDA Version 9.0.176
Driver Version: 384.81

第一种正常，第2、3种出现此问题。

[2018-09-29 04:36] dzhwinter commented on #13669
https://github.com/PaddlePaddle/models/tree/develop/fluid/neural_machine_translation/transformer
使用官方的transformer加memory_optimize没有问题，@kolinwei 同样复现了该结果。issue中描述的问题是test case只用了官网例子的transformer中的一部分，模型配置有diff。

[2018-09-29 04:36] #13669 closed, assigned to dzhwinter

[2018-09-29 04:52] sneaxiy commented on #13680
建议您使用fluid的py_reader进行数据读取，recordio相关的接口后期可能不再维护了。
py_reader的使用方式请参考：https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/fluid/user_guides/howto/prepare_data/use_py_reader.rst

[2018-09-29 05:16] wanghaoshuang commented on #13681
根据日志和code初步判断可能为以下原因：
1. input的某个batch为空
2. 某个batch的某个feature为空

可以尝试以下方式<strong>单机</strong>试验排查下：
在python package-sites下找到文件[dataprovider_converter.py](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/py_paddle/dataprovider_converter.py)并在[这一行](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/py_paddle/dataprovider_converter.py#L273) 之前print log， 看下在异常出现之前，读的`dat`是否为空，`each_sa

[2018-09-29 05:27] seiriosPlus commented on #13676
在作业配置里面加入：
FLAGS_rpc_deadline=30000000

[2018-09-29 05:28] gongweibao opened #13683 "Sendop use 100% cpu in async sync_mode."
It seems that VarHandle->wait consume 100% CPU.

[code]

[2018-09-29 05:31] wanghaoshuang commented on #13665
通过fluid.io load模型之后，可以通过通过以下方式遍历parameters:
[code]

或者打印网络中每个op的详细信息：
[code]

[2018-09-29 05:35] wanghaoshuang commented on #13642
建议贴一下完整代码，以目前有限的log看，应该是你把某个数值设置为None了。

[2018-09-29 05:42] wanghaoshuang commented on #13616
你这样试试：
[code]

[2018-09-29 09:45] Yancey0623 commented on #13648
Thanks for review!
It updated them in the design doc: https://github.com/PaddlePaddle/FluidDoc/pull/107, and
the op placement can be used on the model parallelism feature, for example: the models in face recognize model, there is a very larege sofmax layer which can not be place on GPU memory.

[2018-09-30 02:47] typhoonzero opened #13699 "Distributed imagenet training in 8h with 32 GPUs"
BaseLine: top1 test acc 75%

目标：32卡总时间降低到6~8小时

计划完成时间：10.26

工程方面：
- [x] 完善profiler，可以合并统计pserver和trainer的timeline；增加记录
- [ ] 减少CPU launch kernel的瓶颈，提升启动GPU kernel的并行度
- [x] 减少数据预处理计算量，提升数据feed性能
- [ ] 优化pserver计算执行时间
- [ ] NCCL2多机通信性能提升，RDMA通信稳定性问题
- [ ] 和sys合作实验GDR带来的提升
- [ ] 提升val/test执行速度，异步执行
- [x] 大batch merge功能
- [ ] 半精度功能实验，对显存，性能的具体提升
- [ ] 更新BRPC实现，验证rpc + RDMA性能提升
- [ ] 测试64卡，128卡是否性能线

[2018-09-30 04:59] panyx0718 commented on #13648
The solution is very similar to tensorflow. How does other framework handle model parallelism?

[2018-09-30 05:07] velconia opened #13702 "[WIP] 支持Padding的LoDTensor"
# 当前 LoD 设计
[code]

# 面临的问题

## 支持用户更习惯的 Padding 模式

## Paddle整体基于LoD

# 解决方案

## 设计
基于LoD支持Padding

我们的框架现在有两种数据结构，LodTensor, SelectedRows;

SelectedRows 只有在 sparse embedding 情况下才会发生，在此不表, 只讨论 LodTensor;

LoDTensor 现在有两种情况：

### 1. 表示变长数据的LoDTensor:

如下的长度分别为 （3， 2， 4）的三个输入：
[code]

LoDTensor 将数据sequence的变长信息表示为 LoD ：
[code]

而数据本身被表示为一个 shape 为 [3 + 2 + 4 = 9, 1] 的一个张量；

### 2. 表示张量数据的LoDTensor：

[2018-09-30 07:45] #12054 closed, assigned to typhoonzero

[2018-09-30 07:46] #12326 closed, assigned to panyx0718, typhoonzero

[2018-09-30 07:46] #12356 closed, assigned to Yancey0623, seiriosPlus, gongweibao, typhoonzero

[2018-09-30 07:46] typhoonzero commented on #12370
Can not reproduce for now.

[2018-09-30 07:48] #12399 closed, assigned to gongweibao, typhoonzero

[2018-09-30 07:49] #12481 closed, assigned to panyx0718, luotao1, typhoonzero, chengduoZH

[2018-09-30 07:50] #12679 closed, assigned to gongweibao, typhoonzero

[2018-09-30 07:51] #12680 closed, assigned to jacquesqiao, typhoonzero

[2018-09-30 07:51] #12854 closed, assigned to jacquesqiao, typhoonzero

[2018-09-30 07:52] typhoonzero commented on #12833
这个取决于用户程序怎么写，比如`test_dist_base.py`就是这种方法。先关闭了。

[2018-09-30 07:52] #12833 closed, assigned to Yancey0623, typhoonzero

[2018-09-30 07:52] #13594 closed, assigned to panyx0718, typhoonzero

[2018-09-30 07:53] typhoonzero commented on #13526
Need a real scenario.

[2018-09-30 07:54] #13450 closed, assigned to typhoonzero

[2018-09-30 07:54] typhoonzero commented on #13450
see https://github.com/PaddlePaddle/Paddle/pull/13707

[2018-09-30 07:55] #13325 closed, assigned to typhoonzero

[2018-09-30 07:58] typhoonzero commented on #13114
we have scripts for baidu cloud: https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/fluid/user_guides/howto/training/train_on_baidu_cloud_cn.rst

[2018-09-30 07:59] typhoonzero commented on #13044
I think it's fixed now.

[2018-09-30 07:59] #13044 closed, assigned to typhoonzero

[2018-09-30 08:09] #13639 closed, assigned to velconia

[2018-09-30 09:13] kolinwei opened #13711 "rnn_search 模型 打印program时出错"
模型地址https://github.com/PaddlePaddle/models/tree/develop/fluid/neural_machine_translation/rnn_search
具体model是no_attention
 train.py 中在第72行 optimizer.minimize(avg_cost)
后面打印program时出错。

[2018-09-30 10:23] jeff41404 opened #13716 "fluid多卡训练报错"
使用 fluid.Executor 单卡训练没有问题，改为 fluid.ParallelExecutor 多卡训练报错
帮忙看看是什么问题
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected 1 == framework::product(ctx->GetInputDim("X")), but received 1:1 != framework::product(ctx->GetInputDim("X")):0.

![ctx error](https://user-images.githubusercontent.com/8555991/46256454-db3fad00-c4dd-11e8-90ac-3ce676e1cd58.JPG)

[2018-09-30 15:46] JiabinYang opened #13721 "MACOS下使用自定义的openblas"
如果需要在macos下使用自定义的openblas请：
1. 找到您自己安装的openblas的路径，并设置环境变量`OPENBLAS_ROOT`为您安装的openblas的路径

2. 在cmake时设置编译选项`-DWITH_SYSTEM_BLAS=OFF`

[2018-10-01 04:00] DDDivano opened #13724 "MacOS编译安装paddle v1.0问题（持续更新）"
1、10.13版本MacOS编译安装可以正常通过，import时候会报错，是本机环境问题，**安装编译过程没有问题**，这里是一个不可控风险，因为用户环境多样，可能需要FAQ来支持。

2、**重要**为了保证环境纯净，我低格Mac重做系统，发现Apple在9月末更新了10.14版本的OS，带来的结果是10.13用的c++编译器是9.1，10.14用的c++编译器是10.0，导致编译出错，无法正常编译通过，涉及版本python2，python3。

3、指令错误。
![image](https://user-images.githubusercontent.com/10734244/46299069-25568a80-c5d3-11e8-8854-0c3f4a2aa5c3.png)
是否为 find $(dirname $(dirname $(which python3))) -name

[2018-10-01 08:16] wojtuss opened #13725 ""OP placement" pass"
@Superjomn , @luotao1 , when can we expect the "OP placement" pass implementation to be available?
Thanks!

[2018-10-02 14:15] mrysztow commented on #13646
@luotao1 We were able to reproduce the problem on AVX512 platform. @jczaja is investigating this

[2018-10-03 05:32] SantiagoFan opened #13728 "pip install error ,Is there a plan to support python3?"
OS:CentOS7
pip install Error:

Could not find a version that satisfies the requirement paddlepaddle (from versions: )
No matching distribution found for paddlepaddle

[2018-10-03 09:17] Luis-zhang opened #13729 "在gpu服务器上训练的目标检测模型挪到普通服务器报错"
两边都用的paddlepaddle0.15.0
下面是报错信息：
开始初始化！
I1003 17:13:25.759611 95924 Util.cpp:166] commandline:  --use_gpu=False --trainer_count=2
初始化完成
开始预测
[INFO 2018-10-03 17:13:25,765 layers.py:2716] output for conv1_1: c = 64, h = 300, w = 300, size = 5760000
[INFO 2018-10-03 17:13:25,766 layers.py:2716] output for conv1_2: c = 64, h = 300, w = 300, size = 5760000
[INFO 2018-10-03 17:13:25,767 layers.py:2858]

[2018-10-03 09:40] Luis-zhang commented on #13729
[code]

[2018-10-04 07:56] zzhzz opened #13730 "使用RecordIO进行训练，报错EnforceNotMet"
报错信息如下：
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected header_.Checksum() == crc, but received header_.Checksum():4251207503 != crc:281234616.
 at [/mnt/tree_conv/paddle/fluid/recordio/chunk.cc:142]
PaddlePaddle Call Stacks:
0       0x7f2312cbeed6p paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::exception_ptr, char const*, int) + 486
1       0x7f2313bd9d00p paddle::

[2018-10-04 14:59] jczaja commented on #13646
@luotao1
I investigated this issue and want to share results of investigation.

Problem is with computation of square root as a part of BatchNorm _(1 / sqrt(Var(x) + Eps))_ . PaddlePaddle/EIGEN is computing with **lower** precision than MKLDNN. In fact PaddlePaddle is using EIGEN which by default is having EIGEN_FAST_MATH set to 1. This flag set to one makes EIGEN to compute square root in a fast

[2018-10-05 08:18] wojtuss opened #13731 "Very slow reading data for large batch sizes in C-API inference"
Reading data in C-API inference (via `PaddlePredictor::Run()` method) is very slow and appears to be a bottleneck for inference performance.
Is the following piece of code required? If yes, can we optimize it somehow?
https://github.com/PaddlePaddle/Paddle/blob/8cd17c04c1d0eadebb96c2a9dc887c8411e7e6c8/paddle/fluid/inference/api/api_impl.cc#L197
Can we optimize reading data also in any other way?

[2018-10-06 10:52] lgone2000 opened #13734 "edit_distance 文档中给的示例跑不了，能否提供一个能用的示例？"
![image](https://user-images.githubusercontent.com/11441133/46570583-e04aa380-c998-11e8-9d01-f8d7d4d27e8a.png)

[code]
报错
paddle.fluid.core.EnforceNotMet: Input(Hyps) must be a 2-D LoDTensor with the 2nd dimension equal to 1. at [/sharefolder/Paddle/paddle/fluid/operators/edit_distance_op.cc:34]
PaddlePaddle Call Stacks:
0       0x7fb194c2c646p paddle::platform::EnforceNotMet::EnforceNotMet(std::_

[2018-10-06 11:56] lgone2000 opened #13735 "fluid.metrics.EditDistance 可能存在的bug"
在下面函数中，avg_instance_error = self.instance_error / self.seq_num  除法两个变量都是整数，得到结果为0
[code]

[2018-10-06 14:35] wfeagle opened #13736 "两个embeding的结果拼接一起出错"
训练一个神经网络，报下面的错误，请问是维度不一致导致的吗？
I1006 22:23:03.411953   623 GradientMachine.cpp:94] Initing parameters..
I1006 22:23:03.794086   623 GradientMachine.cpp:101] Init parameters done.
F1006 22:23:03.893812  5043 BaseMatrix.cu:107] Check failed: dimM + offset.bRow_ <= b.height_ (438 vs. 436)
*** Check failure stack trace: ***
    @     0x7f857f41fbcd  google::LogMessage::Fail()
F1006 22:23:03.897799  503

[2018-10-07 10:23] #13736 closed, assigned to nobody

[2018-10-07 11:35] ccmeteorljh opened #13738 "多机异步存在问题"
paddle-version：fluid1.0
运行环境：2ps，4trainer，每个trainer单卡，异步
cloud job地址：
http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5bb76db76a83a&flag=jobs&groupName=k8s_gpu_demo&groupId=c0a1f165-6279-5320-b9e7-e0218c7a87f5&currentPage=1&currentKey=1

http://paddlecloud.baidu-int.com:8088/paddle/jobRunInfo?jobId=job-e6c5bb7ab3424a89&flag=jobs&groupName=k8s_gpu_demo&groupId=c0a1f165-6279-532

[2018-10-08 02:09] kebinC opened #13741 "fluid.layers.reduce_mean 计算异常"
当input 是（N， 1）的时候，对dim=1进行reduce_mean会出错

[code]

[2018-10-08 02:15] luotao1 commented on #13731
We test the inference performance exclude reading data now. We will read all the test data before inference.

This piece of code is required. But you can optimize it.

Could you describe the way that how to optimize reading data?

[2018-10-08 02:31] hedlmote opened #13743 "fluid.layers.l2_normalize层输入正常，输出全为nan"
网络中有如下两层，
rgb_att1 = attention_pool([input_rgb,rgb_weight1], shift_multi=-0.72, shift_bias=0.16)
rgb_att1_out = fluid.layers.l2_normalize(x=rgb_att1,axis=1, epsilon=1e-6)
其中attention_pool是一个模块，输出rgb_att1打印出来是正常的：
[[-0.18813121 -0.21344894 -0.1914207  ... -0.22382796 -0.2166537 -0.20107862]]

经过l2_normalize之后输出的rgb_att1_out全是nan
[[nan nan nan ... nan nan nan]]

[2018-10-08 02:58] qingqing01 commented on #13743
@hedlmote 请问使用的是Paddle哪个版本？

[2018-10-08 02:59] helen88 opened #13744 "cgan使用paddle最新版本跑出来的效果不如develop好。"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-10-08 03:00] helen88 commented on #13744
![image](https://user-images.githubusercontent.com/4593091/46590869-4fcfa880-cae9-11e8-973a-a4382056a4c1.png)

develop版本：
![image](https://user-images.githubusercontent.com/4593091/46590878-59591080-cae9-11e8-9722-bbef07b3f95a.png)

[2018-10-08 03:19] hedlmote commented on #13743
It is the problem of old fluid version, the latest version of fluid works fine with l2_normalize

[2018-10-08 03:19] #13743 closed, assigned to nobody

[2018-10-08 03:26] CruiseSun opened #13745 "Paddle在集群上训练，网络结构构建好后，似乎在初始化过程中，一直报这种错误。"
Mon Oct  8 11:12:55 2018[1,20]<stderr>:./train.sh: line 239: 62525 Segmentation fault      (core dumped) python27-gcc482/bin/python conf/trainer_config.conf
Mon Oct  8 11:12:55 2018[1,20]<stderr>:+ '[' 139 -ne 0 ']'
Mon Oct  8 11:12:55 2018[1,20]<stderr>:+ kill_pserver2_exit
Mon Oct  8 11:12:55 2018[1,20]<stderr>:+ ps aux
Mon Oct  8 11:12:55 2018[1,20]<stderr>:+ grep paddle_pserver2
Mon Oct  8 11:

[2018-10-08 03:27] CruiseSun commented on #13745
我的任务地址如下，麻烦帮忙看下train.log。http://10.73.71.14:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20181008103547-24309/

[2018-10-08 04:01] luotao1 commented on #13646
@jczaja Thanks for your detail investigation. After `add_definitions(-DEIGEN_FAST_MATH=0)`, the test is fixed. We will see how to solve this issue totally next.

https://eigen.tuxfamily.org/dox/TopicPreprocessorDirectives.html
![image](https://user-images.githubusercontent.com/6836917/46592194-f4a2b380-caf2-11e8-9dd7-7d7df7eb1761.png)

[2018-10-08 04:21] xiaoyao4573 opened #13746 "nn.py里面dynamic_gru判读h_0 != None出错"
如题，改为if h_0:能正常运行。
查看1.0代码，dynamic_lstm已经从if h_0 != None:改为if h_0:,但dynamic_gru还没有修改。

[2018-10-08 04:59] luotao1 commented on #13646
@jczaja Does MKLDNN have similar option like `EIGEN_FAST_MATH`, since we should keep the same accuracy now. There are 2 reasons:
- We use `use_fast_math` in cuda.cmake (see https://docs.nvidia.com/cuda/cuda-compiler-driver-nvcc/index.html for details)
https://github.com/PaddlePaddle/Paddle/blob/8cd17c04c1d0eadebb96c2a9dc887c8411e7e6c8/cmake/cuda.cmake#L178
![image](https://user-images.githubuserco

[2018-10-08 07:20] 333caowei opened #13753 "mpi训练过程中，突然会出现卡住不动的情况"
已经训练了多轮，然后突然会卡住日志不再滚动：
train.log如下（已过去一个多小时，日志依然保持在下图样子）：
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/4569055/46596007-83bcc500-cb0d-11e8-85fb-eacc43264ebb.png">

paddle_pserver2.INFO如下：
<img width="758" alt="image" src="https://user-images.githubusercontent.com/4569055/46596039-9afbb280-cb0d-11e8-904a-ee41e0dc3dc9.png">

作业链接可以私hi：caowei07

[2018-10-08 07:33] jeff41404 commented on #13340
非常感谢，已解决

[2018-10-08 08:32] clztmclztm opened #13758 "用C-API执行paddle_gradient_machine_create_for_inference时报错"
用c-api调用函数paddle_gradient_machine_create_for_inference时，出core，同时报错：
WARNING: Logging before InitGoogleLogging() is written to STDERR
F1008 17:11:31.869549 28953 ClassRegistrar.h:65] Check failed: mapGet(type, creatorMap_, &creator) Unknown class type: data
*** Check failure stack trace: ***
Aborted (core dumped)
gcc版本：4.8.2
动态链接库：LIBS('./third-party/dnn_tools/paddle_sdk/lib/libmkldnn.so.0', './thi

[2018-10-08 08:56] lipanpan03 opened #13759 "ubuntu14编译安装时已经安装了swig之后在虚环境中make编译时报找不到swig错误"
安装时没有严格按照官网安装流程的顺序安装，退出虚环境再安装一次swig

[2018-10-08 09:12] clztmclztm commented on #13758
用c-api调用函数paddle_gradient_machine_create_for_inference时，出core，同时报错：
WARNING: Logging before InitGoogleLogging() is written to STDERR
F1008 17:11:31.869549 28953 ClassRegistrar.h:65] Check failed: mapGet(type, creatorMap_, &creator) Unknown class type: data
*** Check failure stack trace: ***
Aborted (core dumped)
gcc版本：4.8.2
动态链接库：LIBS('./third-party/dnn_tools/paddle_sdk/lib/libmkldnn.so.0', './thi

[2018-10-08 09:18] gongweibao opened #13761 "CI meets error"
http://ci.paddlepaddle.org/viewLog.html?buildId=21822&tab=buildLog&buildTypeId=Paddle_PrCiPython35&logTab=tree&filter=all&_focus=1460

![image](https://user-images.githubusercontent.com/10721757/46600848-0c436180-cb1e-11e8-846e-75970574dc9f.png)

[2018-10-08 09:34] CruiseSun opened #13762 "在MPI集群上训练paddle报如下错误："
Mon Oct  8 17:00:17 2018[1,4]<stderr>:F1008 17:00:17.361272  7286 LightNetwork.cpp:395] connection refused by pserver, maybe pserver failed!
Mon Oct  8 17:00:17 2018[1,4]<stderr>:*** Check failure stack trace: ***
Mon Oct  8 17:00:17 2018[1,4]<stderr>:    @     0x7f4c5091c27d  google::LogMessage::Fail()
Mon Oct  8 17:00:17 2018[1,4]<stderr>:    @     0x7f4c5091fd2c  google::LogMessage::SendToLog()

[2018-10-08 09:35] CruiseSun commented on #13762
log地址 http://10.73.71.25:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20181008114417-24348/

[2018-10-08 09:41] #13759 closed, assigned to nobody

[2018-10-08 11:56] tpatejko commented on #13574
@luotao1 Are you working on any CAPI CRNN-CTC application?
Are you planning to deploy any of the models mentioned above (CRNN-CTC and vis model), and if so, which one?

[2018-10-08 12:11] ghost commented on #13731
According to @Superjomn , we can modify our CAPI model by using "zero copy" (see RNN1 model: https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tests/api/analyzer_rnn1_tester.cc#L324)

[2018-10-08 12:29] #13758 closed, assigned to Superjomn

[2018-10-08 14:48] 333caowei opened #13768 "v2如何打印某个fc的w参数"
rt，例如有如下v2 paddle全连接层：
fc = paddle.layer.fc(input=_input_layer,
                     size=dim,
                     act=paddle.activation.Tanh(),
                     param_attr=paddle.attr.ParamAttr(name="w"),
                     bias_attr=paddle.attr.ParamAttr(name="b" ),
                     )
现在想打印矩阵w的参数值，不知如何操作

[2018-10-08 16:53] zds9204 opened #13769 "网络预测时出现错误“First matrix's width must be equal with second matrix's height”"
仿照demo设计ctr网络，训练时正常，预测时出现如下错误：
_Traceback (most recent call last):
  File "push_ctr_net_fluid_infer.py", line 55, in <module>
    infer(test_reader, use_cuda=False, model_path=model_path)
  File "push_ctr_net_fluid_infer.py", line 36, in infer
    return_numpy=False)
  File "/home/users/zhangtai01/paddle_release_home/python/lib/python2.7/site-packages/paddle/fluid/executor.py", line 449, in run

[2018-10-08 16:54] zds9204 commented on #13769
_Traceback (most recent call last):
  File "push_ctr_net_fluid_infer.py", line 55, in <module>
    infer(test_reader, use_cuda=False, model_path=model_path)
  File "push_ctr_net_fluid_infer.py", line 36, in infer
    return_numpy=False)
  File "/home/users/zhangtai01/paddle_release_home/python/lib/python2.7/site-packages/paddle/fluid/executor.py", line 449, in run
    self.executor.run(program.des

[2018-10-08 16:58] zds9204 commented on #13769
搜索相关的问题，多是由于循环神经网络得到的结果长度不固定造成的。但是本网络中没有用到循环结构

[2018-10-09 02:35] luotao1 opened #13771 "disable use_fast_math fails on several models of CE"
### resnet50_net_CPU/GPU
http://ce.paddlepaddle.org:8080/viewLog.html?buildId=1995&buildTypeId=PaddleCe_CEBuild
[code]
[code]
###  model_image_classification/model_sequence_tagging_for_ner
http://180.76.57.222:8111/viewLog.html?buildId=764&buildTypeId=PaddleModesl_Build
[code]
[code]
related #13754

[2018-10-09 02:50] tensor-tang commented on #13769
建议先添加环境变量`export GLOG_v=3` 打印日志，定位下是哪层fc出的问题

[2018-10-09 03:02] tensor-tang commented on #13768
可以参考 https://github.com/PaddlePaddle/Paddle/issues/13665 https://github.com/PaddlePaddle/Paddle/issues/13029

[2018-10-09 03:46] lyp2github opened #13774 "MPI集群训练失败：output下rank-XXX目录下内容为空"
/app/ecom/fcr-opt/liuyaping/paddle/paddle_title_spa/dssm_cnn_new20180919153038
运行50个pass后提前终止，但output/rank-XXX下目录都为空
stderr显示
[09-19 18:57:43] [38] 18/09/19 18:57:43 INFO hdfs.FMSClient: Exception in createBlockOutputStream on object /96-8811126461764 file /app/ecom/fcr-opt/liuyaping/paddle/paddle_title_spa/dssm_cnn_new20180919153038/log/rank-00038/.nmg01-hpc-mix-m02199.nmg01.baidu.com.normandy.lo

[2018-10-09 04:13] tensor-tang commented on #13768
https://github.com/PaddlePaddle/Paddle/issues/12919 这里也有一个打印的方法

[2018-10-09 04:30] luotao1 commented on #13646
reopen due to #13771

[2018-10-09 05:46] typhoonzero commented on #13774
Seems not an issue of using paddle, check your cluster environment please?

[2018-10-09 05:47] fengshuting opened #13777 "训练过程报错“paddle.fluid.core.EnforceNotMet: Enforce failed. Expected ids[i] < row_number, but received ids[i]:11 >= row_number:10. at [/paddle/paddle/fluid/operators/lookup_table_op.h:59]”"
Traceback (most recent call last):
  File "/tmp/pycharm_project_707/train.py", line 286, in <module>
    main(USE_GPU)
  File "/tmp/pycharm_project_707/train.py", line 279, in main
    params_dirname=params_dirname)
  File "/tmp/pycharm_project_707/train.py", line 223, in train
    feed_order=feed_order)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/trainer.py", line 405, in train

[2018-10-09 05:50] fengshuting commented on #13777
def fc_net(case, class_dim, hid_dim):

    # 第一个全连接层，激活函数为ReLU
    hidden = fluid.layers.fc(input=case, size=hid_dim, act='relu')
    # 第二个全连接层，激活函数为ReLU
    hidden = fluid.layers.fc(input=hidden, size=hid_dim, act='relu')
    prediction = fluid.layers.fc(input=hidden, size=class_dim, act='softmax')
    return prediction

[2018-10-09 05:56] tensor-tang commented on #13777
出错在lookup_table_op.h，应该是有embedding层，建议检查下前后的dim size。报错的信息是为了检查idx不越界的。
https://github.com/PaddlePaddle/Paddle/blob/cc36bab184b83210e5e925f43db9dfc3ff0c1da7/paddle/fluid/operators/lookup_table_op.h#L59

[2018-10-09 06:01] fengshuting commented on #13777
input的case是embedding后的数据，经过文本卷积处理，这里重新进入全链接层还需要embedding吗？

[2018-10-09 06:04] typhoonzero commented on #13762
可能是端口冲突之类的问题，请参考：http://www.paddlepaddle.org/documentation/docs/zh/0.12.0/faq/cluster/index_cn.html 排查

[2018-10-09 06:06] tensor-tang commented on #13777
看embedding的出错信息应该是检查下他的输入层，跟后面接fc应该没有什么关系。

[2018-10-09 06:10] 333caowei commented on #13768
上述方法都是fluid版本的打印方法，V2的不能使用吧 @tensor-tang

[2018-10-09 06:27] #13777 closed, assigned to nobody

[2018-10-09 06:56] typhoonzero commented on #13753
是否是在跑test呢还是一直卡着，可以多打一些日志看下？

[2018-10-09 06:59] lyp2github commented on #13774
找到了这样的一条日志：
[09-19 18:57:34] [0] [ERROR] failed to run user_main 'sh -x job.sh', task status is Status:kTaskStatusStopped, task return 15
看着任务没正常启动？但追踪过程中显示状态是正常的

[2018-10-09 07:02] typhoonzero commented on #13774
原因是这个，hadoop调用失败了。

[2018-10-09 07:34] MaybeShewill-CV commented on #13529
@JiabinYang I completely removed the docker image and recompiled paddle fluid 0.15.0 again and the compile process still got stuck.
<img width="730" alt="machi 2018-10-09 15-29-48" src="https://user-images.githubusercontent.com/15725187/46653459-aff14800-cbd8-11e8-92f1-d8238ecbf472.png">
<img width="730" alt="machi 2018-10-09 15-31-07" src="https://user-images.githubusercontent.com/15725187/466534

[2018-10-09 07:36] MaybeShewill-CV commented on #13529
@JiabinYang CMake flag is just the same as the install instruction here http://paddlepaddle.org/documentation/docs/zh/0.15.0/beginners_guide/install/install_doc.html

[2018-10-09 07:36] lyp2github commented on #13774
重提任务也失败，所以我要跑模型需要换一个mpi集群？

[2018-10-09 07:40] typhoonzero commented on #13774
发个JIRA问下集群负责同学。尝试别的集群也可以~

[2018-10-09 08:07] gongweibao commented on #13738
初步原因在于给的内存不足：

建议对于transformer模型：
    en-fr数据集：trainer:150G，其他数据集trainer, 100G。大数据集合下，建议两个trainer不用同一台机器。
    cloud上p40的机器也就是200G左右的内存，通过申请8卡或者大内存可以达到独占机器的目的。
    同时，pserver和trainer共存目前看是没有问题的。

[2018-10-09 08:07] #13738 closed, assigned to jacquesqiao, gongweibao

[2018-10-09 08:18] tensor-tang commented on #13769
线下沟通后发现是由于`create_lod_tensor`这个接口只支持`int64`的data
https://github.com/PaddlePaddle/Paddle/blob/cc36bab184b83210e5e925f43db9dfc3ff0c1da7/python/paddle/fluid/lod_tensor.py#L77

用户采用了`float32`的导致出现的其他错误。

这一部分用户表示我们并没有文档明确说明只支持int64，很容易导致用户的误用。@shanyi15 @panyx0718

[2018-10-09 08:24] shanyi15 commented on #13769
收到，感谢反馈，请@tink2123 在写lod文档时关注～辛苦

[2018-10-09 08:32] zds9204 commented on #13769
总结一下：预测时使用create_lod_tensor api将输入数据转化成张量，但是这个api目前只支持int64，不能正确处理输入的float32变量，造成的上述错误。正确写法如下

_# user_travel_pref = fluid.create_lod_tensor(
        #     [[0.08085073, 0.6272741, 0.28248206, 0.009154413, 0.00023870559]], [[5]], place)
        user_travel_pref = fluid.core.LoDTensor()
        lod = [[0, 1]]
        data = np.array([[0.08085073, 0.6272741, 0.28248206, 0.009154413, 0.00023870559]],

[2018-10-09 08:34] #13769 closed, assigned to nobody

[2018-10-09 08:35] panyx0718 commented on #13769
create_lod_tensor应该检查一下输入的type然后报个可读的错误？比如 “does not support float32" @tensor-tang

[2018-10-09 08:38] 333caowei commented on #13753
不是跑test，之前几轮都是好的，卡了6个小时后已手工kill

[2018-10-09 08:40] BryceLuminary opened #13781 "官网 c++ 部署库版本的疑问"
您好，官网 0.15.0 的文档“模型预测部署”的 cuda8.0_cudnn7_avx_mkl 附带的 github commit 号源码 git reset 不能成功，显示错误：
`Could not parse object 'bfd2ba99f06ea8e781734df4bf1708b0187a1536'.`

附：链接
http://www.paddlepaddle.org/documentation/docs/zh/0.15.0/user_guides/howto/inference/build_and_install_lib_cn.html#id1
https://guest@paddleci.ngrok.io/repository/download/Manylinux1_Cuda8cudnn7cp27cp27mu/.lastSuccessful/fluid.tgz/?br

[2018-10-09 08:42] tensor-tang commented on #13769
发现更准确的说法是，在输入为list的时候，只支持int64。

确实可以加点check。

[2018-10-09 08:49] tensor-tang commented on #13781
直接下载最新的develop code，可以找到 bfd2ba99f06ea8e781734df4bf1708b0187a1536

这句不是很明白

[2018-10-09 08:56] clztmclztm opened #13782 "c-api调用预测接口paddle_gradient_machine_forward出错时，没有打印出stack信息"
调用c-api的预测接口paddle_gradient_machine_forward时，报错，但是没有打印出日志，不知道该怎么debug，请问如何打印出报错日志？
报错信息如下：
Thread [140639771183232] Forwarding concat,
*** Aborted at 1539074835 (unix time) try "date -d @1539074835" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x10) received by PID 11245 (TID 0x7fe93f9a4880) from PID 16; stack trace: ***
    @     0x7fe93f580160 (unknown)

[2018-10-09 09:04] tensor-tang commented on #13782
可以手动编译debug 版的library 用gdb调试吗

[2018-10-09 09:06] #13771 closed, assigned to nobody

[2018-10-09 09:11] tensor-tang commented on #13782
另外可以在docker里面调试，一般是有stack信息的。 源码编译安装的相关文档在这里：http://paddlepaddle.org/documentation/docs/zh/0.15.0/beginners_guide/install/install_doc.html#ubt_docker

[2018-10-09 09:14] tensor-tang commented on #13768
可以参考下这里
https://github.com/PaddlePaddle/Paddle/blob/59c306eb52ea4466bfffe556b52de2d58f824c6b/python/paddle/v2/tests/test_parameters.py#L86-L93

[2018-10-09 09:26] #13741 closed, assigned to nobody

[2018-10-09 09:29] typhoonzero commented on #13753
看job页面是否有故障节点呢

[2018-10-09 10:15] tensor-tang commented on #13781
reopen it if needed.

[2018-10-09 10:15] #13781 closed, assigned to nobody

[2018-10-09 11:01] tink2123 opened #13789 "[API分类] 优化目前官网API类别的问题"
**背景：**
目前官网部分API类别稍显粗糙，期望优化分类以减轻用户的阅读负担。

**简单说明：**
对比Tensoflow 1.0版本的API，在release/0.15.0的基础上将Fluid的API初步分成如下大类。

*此版本仅是初版，期待老师们提出宝贵的修改意见。*

将API按按首字母排序：

| API | type | note |
| -- | -- | -- |
| fluid | |
| fluid.average| |
|fluid.backward| |
| fluid.bitwise  | 新增 | fluid.layers.logical_or / fluid.layers.logical_and/... |
| fluid.clip | |
| fluid.contrib| |
| fluid.data| 新增 | fluid.dataset |
| f

[2018-10-09 11:03] velconia opened #13790 "Mac OSX 10.14 版本编译 python3 版本的 Paddle"

[2018-10-09 11:07] shanyi15 commented on #13789
辛苦 @luotao1 @qingqing01 review，期望在周四10月11日之内定稿～谢谢！

[2018-10-09 13:58] tensor-tang commented on #13782
please reopen it if necessary

[2018-10-09 13:58] #13782 closed, assigned to nobody

[2018-10-10 02:20] tal2009 opened #13796 "fluid分布式pserver出现异常 padddle cloud v0.15"
使用内部平台 paddlecloud 平台版本 v0.15
pserv报错
[code]

[2018-10-10 02:27] lyp2github opened #13798 "mpi任务Address already in use，求如何独占运行"
Wed Oct 10 01:40:44 2018[1,31]<stderr>:Traceback (most recent call last):
Wed Oct 10 01:40:44 2018[1,31]<stderr>:  File "./http_server.py", line 41, in <module>
Wed Oct 10 01:40:44 2018[1,31]<stderr>:    server = ThreadingSimpleServer(('', port), SimpleHTTPRequestHandler)
Wed Oct 10 01:40:44 2018[1,31]<stderr>:  File "/home/disk1/normandy/maybach/787768/workspace/python27-gcc482/lib/python2.7/Sock

[2018-10-10 02:36] 333caowei commented on #13753
看过了节点应该是正常的，后面重新跑了一下程序又没有卡住的现象了.......

[2018-10-10 02:41] lyp2github opened #13799 "mpi集群训练失败，"
Wed Oct 10 02:46:27 2018[1,47]<stderr>:18/10/10 02:46:27 WARN hdfs.FMSClient: DFS Read: org.apache.hadoop.hdfs.protocol.ReadSlowException: 60000 millis timeout while waiting for channel to be ready for read. ch : java.nio.channels.SocketChannel[connected local=/10.73.51.16:22432 remote=/10.73.82.38:7001]
Wed Oct 10 02:46:27 2018[1,47]<stderr>:	at org.apache.hadoop.hdfs.FMSClient$DFSInputStream.rea

[2018-10-10 04:11] NHZlX commented on #13796
看log是tensor 没有初始化，看你的训练代码中是否有遗忘 `exe.run(fluid.default_startup_program())`

==========
看到了这个issue https://github.com/PaddlePaddle/Paddle/issues/9487
这个issue 之前有解决么？ @Yancey1989

[2018-10-10 04:15] NHZlX commented on #13796
@Yancey1989

[2018-10-10 04:37] tal2009 commented on #13796
有调用这个函数， 小规模数据的3个节点能把模型训练出来，多个节点的时候不可以

[2018-10-10 05:20] Yancey0623 commented on #13796
模型配置贴一下呢？

[2018-10-10 07:08] Yancey0623 commented on #13798
报错在这里，端口被占用了，换个端口吧。

[2018-10-10 08:06] CruiseSun opened #13805 "Paddle V2在MPI集群上跑任务，AUC全部输出为0"
查过其他人的issue，发现问题在Paddle evaluator auc要求使用二维离散值作为输入，但是我的网络out为一个一维数值y，想要把它变成二维[1-y, y]，我该怎么做？因为是对layer层做操作，不知道Paddle支持怎么做。

[2018-10-10 08:08] CruiseSun commented on #13805
我的网络输出是这样的
out = paddle.layer.addto(name='out',
                             input=dot_prod,
                             act=paddle.activation.Sigmoid(),
                             bias_attr=False)

[2018-10-10 08:16] JiabinYang opened #13806 "Compile Error on Mac OS X: target pattern contains no '%'."
<img width="857" alt="04ffb06142ca53f66602d6870" src="https://user-images.githubusercontent.com/22361972/46722205-8eab5d00-cca7-11e8-90d6-24d4fd219874.png">

[2018-10-10 08:19] JiabinYang commented on #13806
this is because of the version of CMake is too high to compile PaddlePaddle, and download CMake 3.4.3 dmg from [CMake official website](
https://cmake.org/files/v3.4/cmake-3.4.3-Darwin-x86_64.dmg) and before that make sure u have uninstalled other version of CMake.

[2018-10-10 08:25] lyp2github commented on #13798
换了个端口还是失败
Wed Oct 10 16:32:32 2018[1,17]<stderr>:F1010 16:32:32.301614 30125 LightNetwork.cpp:395] connection refused by pserver, maybe pserver failed!
Wed Oct 10 16:32:32 2018[1,17]<stderr>:*** Check failure stack trace: ***
Wed Oct 10 16:32:32 2018[1,17]<stderr>:    @     0x7fa7173e527d  google::LogMessage::Fail()
Wed Oct 10 16:32:32 2018[1,17]<stderr>:    @     0x7fa7173e8d2c  google::LogMessag

[2018-10-10 08:38] lucywsq commented on #13297
您好，鉴于此问题已解决，我们将于今天内先行关闭，若后续有更新追问您随时reopen，感谢您对PaddlePaddle的支持！

[2018-10-10 08:38] #13297 closed, assigned to nobody

[2018-10-10 08:38] Yancey0623 commented on #13798
可以先按 http://www.paddlepaddle.org/documentation/docs/zh/0.12.0/faq/cluster/index_cn.html 排查一下。

[2018-10-10 08:41] lucywsq commented on #12141
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-10 08:41] #12141 closed, assigned to reyoung

[2018-10-10 08:46] lucywsq commented on #12048
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-10 08:46] #12048 closed, assigned to luotao1

[2018-10-10 08:50] NHZlX commented on #13805
这个是分类模型么

[2018-10-10 08:53] NHZlX commented on #13805
我查了相关的v2 api 没有找到合适的layer来解决这个问题。

[2018-10-10 08:55] lucywsq commented on #12470
您好，感谢您的建议，我们已经收到并记录此方面需求，若在未来有相关动态后您可再reopen此issue
感谢您对PaddlePaddle的支持和关注！

[2018-10-10 08:55] #12470 closed, assigned to typhoonzero

[2018-10-10 08:55] lucywsq commented on #12480
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-10 08:55] #12480 closed, assigned to typhoonzero

[2018-10-10 08:56] lucywsq commented on #12483
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-10 08:56] #12483 closed, assigned to chengduoZH

[2018-10-10 08:57] lucywsq commented on #12493
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-10 08:57] #12493 closed, assigned to jacquesqiao

[2018-10-10 09:02] lucywsq commented on #12589
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-10 09:02] #12589 closed, assigned to jacquesqiao

[2018-10-10 09:03] CruiseSun commented on #13805
是的，用来做二分类的

[2018-10-10 09:13] zzhzz opened #13809 "使用RecordIO和ParallelExector进行训练出现SegmentionFault"
在使用RecordIO以及ParallelExector加速训练的过程中，发生了SegmentionFault，错误信息如下：
*** Aborted at 1539160971 (unix time) try "date -d @1539160971" if you are using GNU date ***
2079471 PC: @                0x0 (unknown)
2079472 *** SIGSEGV (@0x7f3000000002) received by PID 51269 (TID 0x7f305c3ac700) from PID 2; stack trace: ***
2079473     @     0x7f305bb7e7e0 (unknown)
2079474     @     0x7f3000000002 (unknown)

神经

[2018-10-10 09:13] lucywsq commented on #12850
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-10 09:13] #12850 closed, assigned to wanghaoshuang

[2018-10-10 09:15] lucywsq commented on #12922
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-10 09:15] #12922 closed, assigned to jacquesqiao

[2018-10-10 09:20] lucywsq commented on #13050
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-10 09:20] #13050 closed, assigned to velconia

[2018-10-10 09:22] lucywsq commented on #13276
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-10 09:22] #13276 closed, assigned to ktlichkid

[2018-10-10 09:23] lucywsq commented on #13278
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-10 09:23] #13278 closed, assigned to jacquesqiao, typhoonzero

[2018-10-10 09:23] lucywsq commented on #13282
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-10 09:23] #13282 closed, assigned to chengduoZH

[2018-10-10 09:29] lucywsq commented on #13340
您好，此issue已经得到解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题， 我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-10 09:29] #13340 closed, assigned to nobody

[2018-10-10 09:53] qingqing01 commented on #12665
closed by https://github.com/PaddlePaddle/Paddle/pull/13534

[2018-10-10 09:53] #12665 closed, assigned to qingqing01

[2018-10-10 09:56] qingqing01 commented on #12674
如果是CPU预测，要注释机器是否支持avx，可以通过：

grep avx /proc/cpuinfo

查看。

[2018-10-10 09:57] #12674 closed, assigned to qingqing01

[2018-10-10 10:03] xuezhong commented on #13436
您好，我理解你的意思了，目前paddlepaddle还没有支持动态图，因此不能像tf或者pytorch这样及时获得梯度，不过这个工作已经在计划中。感谢对paddlepaddle的关注和支持，有问题请随时联系，谢谢！

[2018-10-10 10:06] lyp2github opened #13810 "paddlecloud提交任务失败"
详细日志：Submit job to cluster failed: [FATAL] qsub_f: Submit job failed, submit failed, info: submit request refused, permission denied. ACROSS_CLUSTER_CHECK is on, across cluster job from HOST:nmg01-hpc-10g.dmop.baidu.com to HDFS:hdfs://nmg01-mulan-hdfs.dmop.baidu.com:54310 is not allowed [FATAL]: submit failed
原因：
解决方法：

[2018-10-10 10:16] velconia commented on #13034
你好，我理解你这个是一个两个网络共享参数 + IfElseOp的需求，这个在v2里是不支持的

[2018-10-10 10:22] #13790 closed, assigned to velconia

[2018-10-10 10:25] velconia commented on #13437
你好，fill_constant不支持为tensor赋予不同的值，你可以使用assign进行赋值操作

[2018-10-10 10:25] dzhwinter commented on #12608
auc不能做回归任务。

[2018-10-10 10:25] #12608 closed, assigned to dzhwinter

[2018-10-10 10:26] dzhwinter commented on #12334
在hi上已解决，给出的例子可以实现该功能。

[2018-10-10 10:26] #12334 closed, assigned to dzhwinter

[2018-10-10 10:27] velconia commented on #13391
做完cost之后不行了，建议对点击量进行一定操作之后再传给coeff, 比如 除以方差或者数量等

[2018-10-10 10:32] Superjomn commented on #12308
这个好像不是问题。

[2018-10-10 10:32] #12308 closed, assigned to Superjomn

[2018-10-10 10:34] Superjomn commented on #12623
感觉这是集群环境发生变化了， 或者增加了不支持 mkldnn 的旧机型。

[2018-10-10 10:35] Superjomn commented on #13353
No, it doesn't override.

In the latest code, the AnalysisPredictor doesn't inherit NativePredictor.

[2018-10-10 10:44] luotao1 commented on #12007
#12682 已经修复了这个问题，book中的例子 @shippingwang 正在跟进中。

[2018-10-10 10:49] luotao1 commented on #12209
@HugoLian 请问还有问题么？

[2018-10-10 10:51] #13353 closed, assigned to Superjomn, luotao1

[2018-10-10 10:51] #12623 closed, assigned to Superjomn

[2018-10-10 10:51] lyp2github commented on #13798
I1010 18:29:46.309986 23009 ParameterClient2.cpp:113] pserver 0 127.0.0.1:20134
W1010 18:29:46.310145 23009 LightNetwork.cpp:397] connection refused by pserver, try again!
W1010 18:29:47.310341 23009 LightNetwork.cpp:397] connection refused by pserver, try again!
W1010 18:29:48.310495 23009 LightNetwork.cpp:397] connection refused by pserver, try again!
W1010 18:29:49.310645 23009 LightNetwork.cpp

[2018-10-10 10:56] qingqing01 commented on #12380
@333caowei embedding层的输出确实是2维的，data层设置了`lod_level=1`，表示是个序列，
你上面的配置，在Fluid里确实是2维矩阵：[-1, 128]， -1这维度有个LoD表示样本的序列长度，同时也能得到batch size。

例如输入2个样本，第一个样本2个时间步、第二样本3个时间步，embedding的输出会是：

 tensor.shape: [5, 128],
 lod: [0, 2, 5]，# 存储了每个样本的偏移 [0, 1]是第一个样本，[2,3,4]是第二个样本。

通过lod即能得到batch size，也能得到每个样本的时间步长度。

[2018-10-10 11:04] shippingwang commented on #12007
嗯 我正在做~

[2018-10-10 11:15] guoshengCS commented on #12795
这个暂时还没有计划，后续有开发计划的话回复您。这里先行关闭该issue

[2018-10-10 11:15] #12795 closed, assigned to nobody

[2018-10-10 11:18] gongweibao commented on #12530
Try to set FLAGS_fraction_of_gpu_memory_to_use=0.1?

[2018-10-10 11:19] gongweibao commented on #12525
这里有一个多线程的例子你看看？
https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/legacy/capi/examples/model_inference/multi_thread

[2018-10-10 12:30] NHZlX commented on #13805
二分类的话可以将网络设计成2个output的结构

[2018-10-10 12:41] wanghaoshuang commented on #12819
先从v2 model 文件load parameter 为np.array, 然后transpose一下，然后set给fluid的parameter; 具体怎么transpose就取决于什么类型的layer了。

v2的header size是16, fluid的可以参考这里：https://github.com/PaddlePaddle/Paddle/blob/17bf8713a57469022928606e530b76a32f8c9f66/paddle/fluid/framework/lod_tensor.cc#L252

[code]

[2018-10-10 12:46] wanghaoshuang commented on #12849
请参考这里：http://www.paddlepaddle.org/documentation/api/en/0.12.0/config/evaluators.html#print

[2018-10-10 12:53] wanghaoshuang commented on #13329
`lod_reset`不能动态的set lod信息，我估计需要加个op来实现加回lod信息

[2018-10-10 12:56] wanghaoshuang commented on #13315
多谢反馈。这应该是一个bug, 需要确认修复一下。

[2018-10-10 13:04] kuke commented on #12788
@yeyupiaoling 抱歉才看到这个issue。请问用的optimizer是什么，有些optimizer是不能完全恢复训练的

[2018-10-10 13:06] kuke commented on #13288
@Emma-Ding 请问问题后来解决了，应该是某个节点随机fail了

[2018-10-10 13:07] yeyupiaoling commented on #12788
@kuke 您好，我的optimizer是这个
[code]

[2018-10-10 13:09] yeyupiaoling commented on #13436
@xuezhong 好的，谢谢您的回答。

[2018-10-10 13:14] yeyupiaoling commented on #13437
@velconia 好的，明白了，谢谢您们。发布1.0之后，您们总算有时间回答issue了

[2018-10-10 13:14] #13437 closed, assigned to velconia

[2018-10-10 13:49] seiriosPlus opened #13812 "distribute_transpiler get exception in _create_table_optimize_block"
File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/transpiler/distribute_transpiler.py", line 738, in get_pserver_program
    pserver_index, pserver_program, pre_block_idx, grad_to_block_id)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/transpiler/distribute_transpiler.py", line 1252, in _create_table_optimize_block
    "LearningRate")[0]]
KeyError: u'tmp_1'

[2018-10-10 13:51] kuke commented on #12788
如果恢复训练，需要重新算一下学习率，从头开始的学习率的已经不合适了

[2018-10-10 14:06] yeyupiaoling commented on #12788
@kuke 那么学习率要设置多少合适呢？

[2018-10-11 01:36] jacquesqiao commented on #12728
fixed by https://github.com/PaddlePaddle/Paddle/pull/12760

[2018-10-11 01:36] #12728 closed, assigned to jacquesqiao, typhoonzero

[2018-10-11 01:55] #13066 closed, assigned to seiriosPlus

[2018-10-11 02:20] seiriosPlus commented on #12973
想问一下现在还有问题么，此问题暂时关闭， 如果未解决的话重新open，我来跟进。

[2018-10-11 02:20] #12973 closed, assigned to seiriosPlus

[2018-10-11 03:07] yuanxiangxie commented on #12849
嗯，好的。我试试看~

[2018-10-11 03:08] yuanxiangxie commented on #12849
嗯，好的。我试试看~

[2018-10-11 04:06] lucywsq commented on #12436
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-11 04:06] #12436 closed, assigned to nobody

[2018-10-11 04:11] lucywsq commented on #12496
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-11 04:11] #12496 closed, assigned to chengduoZH

[2018-10-11 04:16] lucywsq commented on #12576
您好，您的建议已经被记录，当前此方面暂未进入代发计划，后续若进入开发可重启此issue
感谢您对PaddlePaddle的支持！

[2018-10-11 04:16] #12576 closed, assigned to nobody

[2018-10-11 04:19] lucywsq commented on #12801
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-11 04:19] #12801 closed, assigned to guoshengCS

[2018-10-11 04:20] lucywsq commented on #12880
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-11 04:20] #12880 closed, assigned to JiayiFeng

[2018-10-11 04:23] lucywsq commented on #12921
您好，建议您使用Fluid版本，可逐步从V2版本过渡。
此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-11 04:23] #12921 closed, assigned to nobody

[2018-10-11 04:23] #12380 closed, assigned to qingqing01

[2018-10-11 04:26] lucywsq commented on #12986
您好，感谢您的建议，鉴于此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-11 04:26] #12986 closed, assigned to Superjomn, seiriosPlus

[2018-10-11 04:30] lucywsq commented on #13084
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-11 04:30] #13084 closed, assigned to Superjomn

[2018-10-11 04:31] lucywsq commented on #13249
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-11 04:31] #13249 closed, assigned to typhoonzero

[2018-10-11 04:32] lucywsq commented on #13255
Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-11 04:32] #13255 closed, assigned to chengduoZH

[2018-10-11 04:36] lucywsq commented on #13303
Hello, this issue has not been updated in the past month. We will close it today for the sake of other user‘s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-11 04:36] #13303 closed, assigned to gongweibao

[2018-10-11 04:39] lucywsq commented on #13404
您好，您的建议我们已经记录，鉴于此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-11 04:39] #13404 closed, assigned to velconia, seiriosPlus

[2018-10-11 05:54] JiabinYang commented on #13809
请问这个是单机训练还是多机训练呢

[2018-10-11 06:01] JiabinYang commented on #13809
请问有可复现的code么

[2018-10-11 06:03] zzhzz commented on #13809
等下我贴一下，我是单机单卡训练的

[2018-10-11 09:22] zds9204 opened #13824 "paddle计算cost和auc的原理"
请教，paddle如何计算cost和auc？我的训练输出如下：cost在跳跃，auc却绝大部份时候都在稳定上升。是和auc的计算方式有关系吗？这个值可信吗？还有就是每次做完测试，下面的训练步骤中，auc会稍稍降低一点

Pass 1, batch 1919, cost 0.22812182, auc 0.6434267787963717
Pass 1, batch 1929, cost 0.24577512, auc 0.6434510845627743
Pass 1, batch 1939, cost 0.20186093, auc 0.643460327533481
Pass 1, batch 1949, cost 0.22698459, auc 0.6435032802800212
Pass 1, batch 1959, cost 0.19867998, auc 0.64357764

[2018-10-11 09:31] Angus07 opened #13825 "fluid python预测报错"
我的data格式是：
 data1 = fluid.layers.data(
        name="title1", shape=[1], dtype="int64", lod_level=1)

使用了https://github.com/PaddlePaddle/models/blob/develop/fluid/text_classification/utils.py 这个例子中使用的函数，我理解和这个任务是非常相似的。

def to_lodtensor(data, place):
    """
    convert to LODtensor
    """
    seq_lens = [len(seq) for seq in data]
    cur_len = 0
    lod = [cur_len]
    for l in seq_lens:

[2018-10-11 09:34] 333caowei opened #13826 "使用load_inference_model读入数据"
input数据如下：一个是id、一个是id list
[code]
然后使用下面的save_inference_model保存模型
[code]

载入模型：
[code]

 预测时候遇到问题：
[code]

在预测时候，data2tensor函数调用to_lodtensor将数据转化后给到模型,报如下错误：
paddle.fluid.core.EnforceNotMet: enforce ids_dims.size() == 2 failed, 0 != 2
 at [/paddle/paddle/fluid/operators/lookup_table_op.cc:43]
PaddlePaddle Call Stacks:

[2018-10-11 09:45] Superjomn commented on #13826
![image](https://user-images.githubusercontent.com/328693/46795696-69891e00-cd7d-11e8-8866-ab8c89efbaf2.png)

这里应该是二维的 numpy.array 才行，不然没有shape

[2018-10-11 10:01] kuke commented on #13825
应该是embedding layer的size给错了，应该是两维而不是一维

[2018-10-11 10:06] Superjomn commented on #13826
刚说的有问题。

试下

{"query": [4], ...

得有个list

详细的可以参考 https://github.com/PaddlePaddle/models/blob/develop/fluid/language_model/infer.py#L28

[2018-10-11 10:18] yuzhichang opened #13827 "如何移植v2模型到fluid?"
我打算把deep fm从paddlepaddle v2 版模型https://github.com/PaddlePaddle/models/tree/develop/legacy/deep_fm移植到fluid。但是我找不到移植指导文档。特别是v2中的数据类型如何对应到fluid中：
paddle.data_type.dense_vector
paddle.data_type.sparse_binary_vector
paddle.data_type.integer_value

[2018-10-11 10:31] newdimitri commented on #7923
您好，
想请问PaddlePaddle支持哪几种分布式模式呢？

[2018-10-11 10:37] 333caowei commented on #13826
现在错误现在变成了
RuntimeError: Some of your fetched tensors hold LoD information.             They can not be completely cast to Python ndarray.             Please set the parameter 'return_numpy' as 'False'
看上去需要把return_numpy=False
但是这样得到的预测结果分数不是numpy的

[2018-10-11 10:45] Angus07 commented on #13825
那这个要怎么解决呢？是哪一步操作有问题？

[2018-10-11 11:43] JiabinYang commented on #13827
1. layers.data只需要指定lod_level即可，dense_vector, interge_value默认都可以不用制定lod_level
2.  reader的返回还可以复用v2的reader， dense_vector返回numpy.array

如果有更细节的问题麻烦 @qingqing01 @jacquesqiao 帮忙跟进一下

[2018-10-11 12:17] yeyupiaoling commented on #12576
@lucywsq 好的。

[2018-10-11 14:50] chengduoZH commented on #13809
您的运行环境是什么？@zzhzz

[2018-10-12 00:47] typhoonzero commented on #7923
@newdimitri paddle fluid从设计来讲可以支持数据并行和模型并行。目前的版本主要支持数据并行模式。并可以支持同步训练和异步训练，以及nccl2 同步训练，详细参考：http://www.paddlepaddle.org/documentation/docs/zh/0.15.0/user_guides/howto/training/multi_node.html

[2018-10-12 02:06] feitonlife commented on #7923
我这边也是遇到了同样的问题，单机auc稳定上升，paddlecloud＋厂内mpi集群，fluid0.15，auc始终0.5

[2018-10-12 02:29] shiyazhou121 opened #13839 "paddlev2 CPU集群训练，报错Cuda Error: CUDA driver version is insufficient for CUDA runtime version"
在mip-paddle集群使用CPU训练，结果报错
++ /home/disk1/normandy/maybach/app-user-20181012100630-27056/workspace/python27-gcc482//bin/python train.py
I1012 10:13:03.775209 22097 Util.cpp:166] commandline:  --ports_num_for_sparse=1 --use_gpu=0 --trainer_id=0 --pservers=10.73.51.35,10.73.51.20,10.73.43.47,10.73.105.44,10.73.36.34,10.73.105.15,10.75.67.25,10.73.36.46,10.73.105.51,10.73.36.54 --trainer_count=1 --num

[2018-10-12 02:35] luotao1 opened #13841 "manylinux1 fails on TRTConfig in demo_ci"
Three manylinux1 version (cpu_avx_openblas, cpu_noavx_openblas, cuda8.0_cudnn5_avx_openblas) fails on TRTConfig in demo_ci
http://ci.paddlepaddle.org/viewLog.html?buildId=22527&buildTypeId=Manylinux1_CpuNoavxOpenblas&tab=buildLog
[code]
![image](https://user-images.githubusercontent.com/6836917/46844596-625c2180-ce0a-11e8-9c8b-89e246ba0bad.png)

[2018-10-12 02:44] tensor-tang commented on #13768
@333caowei 如果没有别的问题就先close了，如有疑问欢迎随时提。

[2018-10-12 02:44] #13768 closed, assigned to nobody

[2018-10-12 03:28] seiriosPlus commented on #13824
[code]

auc_var 是一个全局累加值，因此波动较小
cur_auc_var 是没有配置 ```step_slices``` 的话是计算当前batch对应的auc的值， 跟当前batch有关

[2018-10-12 03:44] yuzhichang commented on #13827
我改动的代码在[这里](https://github.com/yuzhichang/models/tree/develop_yuzhichang)。
利用deep_fm/preprocess.py预处理生成了output/train.txt, output/test.txt。

遇到的问题：
[code]

[2018-10-12 03:54] #13826 closed, assigned to Superjomn

[2018-10-12 03:55] 333caowei commented on #13826
已解决，print np.array(output[0])即可

[2018-10-12 04:01] 333caowei opened #13842 "关于embedding稀疏更新（is_sparse参数）原理的解释"
fluid 稀疏更新：http://www.paddlepaddle.org/documentation/api/zh/0.14.0/layers.html#permalink-48-embedding
v2 稀疏更新：http://www.paddlepaddle.org/documentation/api/zh/0.12.0/config/attr.html

在embedding的size特别大的情况下，embedding层是否开启is_sparse训练速度差别很大，请教下述问题：
1、请教稀疏更新的原理是啥，为什么能够加速训练？
2、开启和不开启稀疏更新训练出来的模型对于预测结果是否有差别？如果没有区别为什么要专门加一个is_sparse的参数？
3、之前在v2版本使用embedding稀疏更新+adagrad发现loss下降的很慢（v2不支持Adam的稀疏更新）。后来切换到flu

[2018-10-12 04:05] luotao1 commented on #13789
- 注意：`fluid.bitwise`虽然可以分类在一块，但不会新增这样一个api。
- 目前的分类较乱，先把一级大类（中文）分出来，对应填入api。可以结合API Guide一起做。
- 等一级大类确定后，再逐步往下分小类，每次分类时，完成对应类别的API Guide。

[2018-10-12 05:31] jacquesqiao commented on #13842
1 稀疏更新的时候，梯度会比较小，这样对于网络通信和计算来说都会更快，当embedding特别大的时候，效果会非常明显
2. 没有差别，但并不是所有场景都是打开is_sparse比较好，embedding很小的时候就不需要打开
3. 不清楚，需要具体分析

[2018-10-12 06:08] tensor-tang opened #13845 "在编译带有mkldnn的库中，预测多线程性能降低问题"
## BUG复现步骤：

编译带有mkldnn版本的预测库。

跑单侧test_analyzer_rnn1.profile, bs100, threads=10

## 期望结果：

 线程数为10的时候，每个线程所用时间，与单线程时基本不变。

## 实际结果：

多线程时，每个线程耗时是单线程时的10倍左右。

## 问题原因
在编译带有mkldnn的版本时，默认是不设置线程数为1的，因为mkldnn训练时是需要多线程加速。

解决办法，在预测init的时候添加默认值，保证在含有mkldnn的情况下预测默认也可以用paddle_num_threads控制线程数。

[2018-10-12 06:21] luotao1 commented on #13845
未修复前的版本，可以通过使用`export OMP_NUM_THREADS=1`和`export MKL_NUM_THREADS=1`来保证速度。

[2018-10-12 07:02] luotao1 opened #13847 "accuracy performance comparison using with_fast_math"
`With_fast_math`在GPU上的开关是`use_fast_math`, 在CPU上的开关是`EIGEN_FAST_MATH`。以下三个测试，因为batch_norm_op中含有sqrt函数，开关ON/OFF对sqrt的精度有影响。
### image_classification （GPU）

http://180.76.57.222/commit/draw_scalar?task=model_image_classification

| 指标 | with_fast_math=ON | with_fast_math=OFF |效果|
| ------ | ------ | ------ |-----|
| train_acc_top1 | 0.3778 | 0.4095 |提升3.17点|
| train_acc_top5 | 0.7432 | 0.7727 |提升2.95

[2018-10-12 07:07] HugoLian commented on #13845
@luotao1 我们也遇到了相似的问题，不过这个问题描述不知道和我们的是否一样。我们capi版本是：cpu_avx_mkl 0.14那个版本
预测的时候发现随着网络结构的复杂，多线程的性能降低的很厉害。尤其是在ORCP本身多线程的服务中，每个线程再开若干个paddle_gradient_machine的多线程预测，耗时就会严重增长。

这和楼主是一个问题么？除了减少paddle线程，有什么办法可以优化么？

[2018-10-12 07:15] HugoLian commented on #13824
我们这边用过几个模型，
LR  GBDT  DNN, 其中DNN是paddle，前两个不是paddle训练的。
三种模型的AUC都能再0.72-0.74 但从线上效果来看，LR GBDT在0.74的AUC都有比较稳定的表现，但是PADDLE出来的0.73-0.74效果就比那两个差非常多，所以同问PADDLE的AUC计算是否可信？

[2018-10-12 07:20] HugoLian commented on #13805
我之前遇到过这个问题，当然我是回归问题用的AUC不是分类问题。paddle的同学说回归问题不能计算AUC，不过我用0.14版本做单机训练的时候，如果把输出控制在0-1之间，是可以输出AUC的，但是放在集群上就变成0了。

我当时这个问题是集群paddle用的是0.09版本（也是paddle wiki上当时给出的V2版本），归回问题的AUC计算就都是0，后来换到0.10版本的集群paddle后（来自paddle cloud），AUC就可以显示了。

[2018-10-12 08:51] yeyupiaoling opened #13853 "如何使用test_program做预测"
我的思路是，使用克隆的主程序在训练完成之后做预测，代码片段如下：
[code]

报错：
[code]

环境：
Python 3.5
Paddle Paddle 1.0.1

[2018-10-12 08:56] yeyupiaoling opened #13854 "如何写一个比较简单的RNN网络呢？"
我在这里又看到一个RNN 网络，但比较复杂，有没有更简单一些的呢？
https://github.com/PaddlePaddle/book/blob/9e9fa8e04c221a54cfa83f017bb507bddf428615/06.understand_sentiment/train_dyn_rnn.py#L41-L74

[2018-10-12 09:14] yeyupiaoling opened #13855 "如何自定义一个简单的网络"
我想写一个函数`y = a * x + b`为网络，然后通过训练计算得到权重a，和偏置值b，我写了一半的程序，不知道该如何写下去啦。求指导。

[code]

[2018-10-12 09:29] zzhzz commented on #13809
@chengduoZH centos release 6.9(final) with paddlepaddle-gpu 0.14.0

[2018-10-12 10:49] 333caowei opened #13857 "fluid mpi集群训练出现：Get name:[embedding_0.w_0.block15], ep:[10.109.92.24:8000] meets grpc error:Socket closed"
0号节点trainer.log日志显示：
[code]

pserver.log日志显示：
[code]

尝试调整节点数，重新run以后又能正常运行，本来以为是故障节点的缘故，但是正常执行的这一次也包含了10.109.92.24节点

[2018-10-12 13:48] Sand3r- opened #13860 "Some Unit Tests fail due to TinyFormat assertion"
Since one of the recent commits, I have started receiving the following errors thrown by many different tests, especially those from `test_analyzer_*` family.

[code]

@luotao1, could you please assist me with solving this issue?

[2018-10-12 14:50] yeyupiaoling opened #13861 "这样定义算不算一个长短期记忆网络"
我定义了以下一个网络，但这个算不算一个长短期记忆网络呢？
[code]

[2018-10-12 15:04] 333caowei commented on #13857
https://github.com/PaddlePaddle/Paddle/issues/12679
看上去是相同的问题

[2018-10-13 07:06] zds9204 commented on #13824
全局累加的话是取平均吗？为什么像我给出了例子里，每次test之后auc都会下降一段时间？
一般训练的时候观察哪个指标比较合理呢？

[2018-10-13 07:39] luotao1 commented on #13860
We don't encounter this error both in TeamCity and the local server. Could you give more details to reproduce this issue?
- What's your development environment, docker image?
- What's your cmake command?
- Do you use the latest develop code?

You can `rm -rf build` to rebuild and test at first.

[2018-10-13 10:14] LihangLiu opened #13863 "Sequence indexing op needed"
How to do sequence indexing in paddle?
eg:
[code]
In the documents, there are ops like **sequence_first_step()**, which is used to get the first step of input sequence. But this is really limited.
Thanks!

[2018-10-13 11:35] yeyupiaoling opened #13868 "一个简单的线性回归问题"
我写了一下一个程序，看不出来问题，报错信息好像跟数据维度有关
[code]

报错如下：
[code]

[2018-10-13 16:41] 333caowei commented on #13796
遇到了同样的问题

[2018-10-14 13:32] zhangyang0701 opened #13873 "add MUL kernel for FPGA track"

[2018-10-14 13:33] #13873 closed, assigned to nobody

[2018-10-15 01:29] #13841 closed, assigned to NHZlX

[2018-10-15 01:45] 1727536969 opened #13877 "在paddleapddle v11.0版本中，用LSTM模型，如何预测数据"
在paddle.v2在LSTM中，得到了一个模型，现在遇到的问题是如何传入X的值，
代码如下，
rsult=paddle.infer(
正中间的代码怎么写？，
)

[2018-10-15 02:06] hshen14 opened #13878 "CRNN-CTC SOTA Accuracy and Error Understanding"
I followed the comments in https://github.com/PaddlePaddle/Paddle/issues/13574#issuecomment-424587581 to reproduce the accuracy of CRNN-CTC after a minor fixing below:

diff --git a/fluid/ocr_recognition/eval.py b/fluid/ocr_recognition/eval.py
index 666803d..87f4f9c 100644
--- a/fluid/ocr_recognition/eval.py
+++ b/fluid/ocr_recognition/eval.py
@@ -31,7 +31,7 @@ def evaluate(args):
     num_classes

[2018-10-15 02:19] lyp2github commented on #13798
http://10.75.70.27:8900/fileview.html?path=/home/disk1/normandy/maybach/791044/
Mon Oct 15 05:20:43 2018[1,29]<stderr>:+ ./paddle_pserver2 --num_gradient_servers=30 --nics=xgbe0 --port=23462 --ports_num=1 --ports_num_for_sparse=1 --rdma_tcp=tcp --comment=paddle_cluster_job
Mon Oct 15 05:20:43 2018[1,10]<stderr>:*** Check failure stack trace: ***
Mon Oct 15 05:20:43 2018[1,10]<stderr>:    @

[2018-10-15 02:21] lyp2github commented on #13798
http://10.75.70.27:8900/fileview.html?path=/home/disk1/normandy/maybach/790974/
Mon Oct 15 01:16:26 2018[1,20]<stderr>:+ ./paddle_pserver2 --num_gradient_servers=30 --nics=xgbe0 --port=57196 --ports_num=1 --ports_num_for_sparse=1 --rdma_tcp=tcp --comment=paddle_cluster_job
Mon Oct 15 01:16:26 2018[1,11]<stderr>:F1015 01:16:26.424638 12933 LightNetwork.cpp:190] Check failed: bind(socket_, (struct s

[2018-10-15 02:41] wanghaoshuang commented on #13878
`avg_distance` means average edit distance.
`avg_seq_error` is the rate of samples whose edit distance is not zero. So accuracy should be (1 - avg_seq_error).
(1-0.2255) is the SOTA accuracy on the dataset introduced [here](https://github.com/PaddlePaddle/models/blob/develop/fluid/ocr_recognition/README.md).

[2018-10-15 03:33] #13842 closed, assigned to jacquesqiao

[2018-10-15 03:53] shippingwang opened #13882 "CUDA driver version is insufficient for CUDA runtime version"
用GPU跑Book的例子，报错CUDA driver version is insufficient for CUDA runtime version，
重新docker安装与显卡驱动匹配的latest-gpu-cuda8.0-cudnn7镜像，仍然报错。

[2018-10-15 03:57] 333caowei opened #13883 "fluid mpi同步训练，但是日志打印的batch却是异步的"
t = fluid.DistributeTranspiler()
t.transpile(trainer_id, pservers=pserver_endpoints, trainers=trainer_num, sync_mode=True)
已设置sync_mode=True，
但是从mpi日志中发现日志的打印却是异步的，怀疑训练非同步，不知是何原因
<img width="903" alt="image" src="https://user-images.githubusercontent.com/4569055/46929294-68a00700-d071-11e8-8f59-45399bb15a59.png">

并且在模型训练的最后一轮的最后batch出现：
[code]

[2018-10-15 04:25] typhoonzero commented on #13883
paddle分布式训练，目前每个epoch不会等待别的节点，而是继续训练，如果每个节点训练数据不一致，在epoch > 0之后batch_id会出现不一致。

训练最后的问题，请参考文档增加`exe.close()`调用：http://www.paddlepaddle.org/documentation/docs/zh/1.0/user_guides/howto/training/cluster_quick_start.html#exe-close

[2018-10-15 04:26] typhoonzero commented on #13883
dup: https://github.com/PaddlePaddle/Paddle/issues/13519

[2018-10-15 04:51] mapingshuo opened #13886 "对Python API注释的建议：cos_sim layer"
我最近在根据fluid0.15.0版本的中文文档学习fluid， 我发现一个fluid layer 叫做 cos_sim 的layer, 她计算两个向量的cosine相似度：http://paddlepaddle.org/documentation/api/zh/0.15.0/layers.html#permalink-40-cos_sim

[2018-10-15 04:53] mapingshuo commented on #13886
然而我发现文档的公式中使用大写的X和Y来表示向量，我觉得不妥，一般大写表示矩阵。另外我觉得文档应该对用户输入矩阵时对矩阵的预处理解释一下，比如说：如果输入是矩阵，矩阵会首先被拉伸为一个向量，然后按照向量的cosine相似度来计算。

[2018-10-15 05:23] shanyi15 commented on #13886
查了下发现1.0文档有一样的问题 http://paddlepaddle.org/documentation/api/zh/1.0.0/layers.html#cos-sim

[2018-10-15 05:27] #13883 closed, assigned to nobody

[2018-10-15 05:27] 333caowei commented on #13883
非常感谢

[2018-10-15 05:28] hshen14 commented on #13878
Thanks. I know edit distance by the wiki introduction. Could you please help translate 0.08513155? The numerator should be total edit distance, the denominator is the total length of all tested words? For example, saying a word "abc", if predicted result is acc, the avg_distance should be 1 / 3?

Is 77.45% SOTA accuracy same as yours? I would like to confirm that since we will use it as the refere

[2018-10-15 05:28] hshen14 commented on #13878
@wanghaoshuang

[2018-10-15 06:16] shanyi15 commented on #13886
@mapingshuo 请参看这里 https://en.wikipedia.org/wiki/Cosine_similarity 这里用的是大写

[2018-10-15 06:17] Superjomn commented on #13877
可以增加一些描述或者代码，不太能理解问题

[2018-10-15 06:53] 1727536969 commented on #13877
是这样的，在LSTM中 paddle是paddle.v2 as paddle 。想要预测结果
result=paddle.infer(
input=x,
parameters=parameters,
output_layer=output,
feeding={'x':0}
)
我想问的是数据x的结构是什么类型的数据。才能传入。目前我把x制成了二维矩阵。运行不了

[2018-10-15 07:32] wanghaoshuang commented on #13878
Yes. You are right. The edit distance will be [normalized]([https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L3729]) by the length of sequence.

Actually the best `avg_seq_error` was 21.11%. But it's hard to reproduce the SOTA accuracy because of random factors.

[2018-10-15 07:37] hshen14 commented on #13878
@wanghaoshuang Is it possible to share the parameter that can reach 21.11% error?

[2018-10-15 07:43] gongweibao opened #13891 "Don't let user know _lr_schedule_guard"
### learning_rate=lr_decay * TrainTaskConfig.learning_rate,

[code]

[2018-10-15 07:52] qingqing01 opened #13892 "It seems Python API memory_optimization will hang in some model."
1.  I found https://github.com/PaddlePaddle/models/tree/develop/fluid/deeplabv3%2B will hang in memory_optimization calling on V100 by the latest Paddle develop branch code without docker.
     But it is ok on P40 with the save version with docker image.
2. Someone  also found memory_optimization will hang in [other model](https://github.com/PaddlePaddle/models/tree/develop/fluid/face_detection) o

[2018-10-15 08:14] wanghaoshuang commented on #13878
@hshen14 Sorry. I was confused by chinese dataset and english dataset.  21.11% error is the SOTA of Chinese dataset which is not published. And 22.0% error is the SOTA of english dataset introduced in readme.   I have only the parameters that can reach 22.3% error.

[2018-10-15 08:21] fseasy opened #13893 "请问fluid有类似v2版本的recurrent_group功能吗？"
似乎 “DynamicRNN”这个有点这个意思，但是它是否与`recurrent_group`等价呢？有没有相关的迁移文档或者代码介绍这个呢？
我理解paddle以lod_tensor表示数据，必然需要一个方便处理变长数据的函数，以前是recurrent_group, 简单易懂，不知道fluid是怎样做的

[2018-10-15 08:42] wojtuss opened #13894 "Not enough conversion specifiers in format string"
In the following call to `Sprintf()` function the format string does not contain enough conversion specifiers. This causes an assertion fail.

https://github.com/PaddlePaddle/Paddle/blob/2c9839c847fa3382e4e2165aa8b66413ad92ab98/paddle/fluid/operators/isfinite_op.cc#L62-L73

[2018-10-15 08:45] hshen14 commented on #13878
22.3% is for English dataset? Could you please share the link? I think mine is 22.55%.

[2018-10-15 09:05] songfish opened #13895 "卷积层报错：enforce in_dims.size() = filter_dims.size() failed,4 != 1"
项目地址：http://aistudio.baidu.com/user/20710/28282/notebooks/28282.ipynb
**conv2d层定义如下：**
[code]

**discriminator层如下所示：**
[code]
**报错如下：**
[code]

[2018-10-15 09:41] guoshengCS commented on #13294
The result may not contain scores(`prob`) when `beam_size=1`. Try to change `beam_result = inferer.infer(input=test_batch, field=['prob', 'id'], feeding=feeding)` to `beam_result = inferer.infer(input=test_batch, field=['id'], feeding=feeding)`.

[2018-10-15 11:38] fengshuting opened #13898 "训练过程报错paddle.fluid.core.EnforceNotMet: Cannot open file recommender_case.inference.model1/case_table for load op at [/paddle/paddle/fluid/operators/load_op.cc:39]"
Traceback (most recent call last):
  File "/tmp/pycharm_project_707/train.py", line 289, in <module>
    main(USE_GPU)
  File "/tmp/pycharm_project_707/train.py", line 286, in main
    params_dirname=params_dirname)
  File "/tmp/pycharm_project_707/train.py", line 234, in infer
    inference_program, param_path=params_dirname, place=place)
  File "/usr/local/lib/python2.7/dist-packages/paddle/flui

[2018-10-15 11:42] LihangLiu opened #13899 "paddle.fluid.core.EnforceNotMet: op gather does not have kernel for data_type ..."
请问在用layers.gather的时候，碰到如下error是什么原因呢，issue里面没找到：

[code]

源代码如下：
[code]

谢谢！

[2018-10-15 12:18] LihangLiu commented on #13899
Problem solved by change the type of `x` to float32 and `ids` to int32. But other data type should also work, right?

[2018-10-15 12:47] CtfGo opened #13902 "v2-12 capi预测库cpu_avx_mkl版本出core："Program terminated with signal 4, Illegal instruction""
paddle v2-12 capi预测库的cpu_avx_mkl版本出core，提示Program terminated with signal 4, Illegal instruction，栈信息如下：
#0  0x00007f34659b307b in paddle::CpuMatrix::addBias () from /home/work/feedvideorank_4ae8ba872924afd993288210fb2a0f48/bin/libpaddle_capi_shared.so
#1  0x0000000000000001 in ?? ()
#2  0x00007f33f8bf7fa0 in ?? ()
#3  0x00007f345b3b0538 in ?? () from /opt/compiler/gcc-4.8.2/lib/libstdc++.so.6
#4  0

[2018-10-15 12:52] qshi95 opened #13903 "Some of your fetched tensors hold LoD information"
Some of your fetched tensors hold LoD information.             They can not be completely cast to Python ndarray.             Please set the parameter 'return_numpy' as 'False' to             return LoDTensor itself directly.

请问LoD tensor 转化为Tensor该怎么操作呢 谢谢

[2018-10-16 01:37] #13903 closed, assigned to nobody

[2018-10-16 02:40] mapingshuo commented on #13886
用户可能需要被明示公式中的X和Y表示的是矩阵还是向量：当用户输入的Tensor的shape为[batch_size, N]时，不存在误解，一切都很好；当用户输入的向量shape为 X: [batch_size, M, N], Y: [batch_size, M, N]时，他会开始疑惑：X^T * Y 是什么操作呢？是矩阵乘法还是向量乘法呢？如果是向量乘法，矩阵怎么转换为向量呢？

[2018-10-16 03:23] molly00ecla opened #13908 "在GPU有其它进程存在时分配空间报错"
环境：

用的代码就是官网demo，train函数中CPUPlace()改成了CUDAPlale(0)
[code]

这段代码在CPU模式下式可以正确运行的，但是在GPU模式下会提示显存空间不足。如下图：
![image](https://user-images.githubusercontent.com/22423844/46990725-41ab0900-d135-11e8-9c95-a5c0ea2ddc43.png)
但是我的GPU是有足够的显存的，我使用的0号GPU，有12G空闲。目前的代码都是跑在了2和3上面
![image](https://user-images.githubusercontent.com/22423844/46990739-5daeaa80-d135-11e8-9866-d3febe19f4e7.png)

请问这种情况如何解决？可否像tf一样指定per_

[2018-10-16 03:36] shibing624 commented on #13758
@clztmclztm 请问怎么解决的该问题的？我也遇到了

[2018-10-16 04:01] shibing624 commented on #3743
![image](https://user-images.githubusercontent.com/10249622/46992060-04e21080-d13b-11e8-8ee1-57d1bce12c2e.png)
python 调用C++生成的.so时，如上图出错，请问怎么解决？

[2018-10-16 05:48] JiabinYang opened #13910 "test_pass_builder单测在Mac下fail"
![2018-10-16 1 44 23](https://user-images.githubusercontent.com/22361972/46995177-226aa680-d14a-11e8-98a0-e60e71dad27e.png)

[2018-10-16 06:01] #13910 closed, assigned to panyx0718

[2018-10-16 06:12] #13845 closed, assigned to tensor-tang

[2018-10-16 06:33] velconia commented on #13728
[We have supported Python3 installation](https://github.com/PaddlePaddle/Paddle/issues/12040) now. PaddlePaddle for Python3 could be installed via ```pip3 install paddlepaddle``` or ```pip3 install paddlepaddle-gpu```.

This question will be closed. If you still need to follow up on this question after closing, please feel free to reopen it.Thank you so much for your support of PaddlePaddle Group!

[2018-10-16 06:33] #13728 closed, assigned to velconia

[2018-10-16 06:39] velconia commented on #12040
Python3 wheels have been uploaded to PyPi, see: https://pypi.org/project/paddlepaddle/#files

[2018-10-16 06:46] shibing624 opened #13911 "关于capi的paddle_gradient_machine_create_for_inference_with_parameters在模型预测时出错"
https://user-images.githubusercontent.com/10249622/46992060-04e21080-d13b-11e8-8ee1-57d1bce12c2e.png
python 调用C++生成的.so时，如上图出错，请问怎么解决？

[2018-10-16 06:46] wangguibao opened #13912 "[Discuss] the expected behavior when bias_attr (type of ParamAttr) set to None"
`bias_attr` is a function parameter to convolution layers like sequence_conv, conv2d, conv3d etc.

[code]

According to [this issue](https://github.com/PaddlePaddle/Paddle/issues/8423) its acceptable to set bias_attr in a lot of ways, especially when set to True/False it will turn on/off using bias entirely.

Today when one user asked if setting `bias_attr` to `None` (not `True` or `False`) will t

[2018-10-16 06:51] velconia commented on #13604
[We have supported Python3 installation](https://github.com/PaddlePaddle/Paddle/issues/12040) now. PaddlePaddle for Python3 could be installed via ```pip3 install paddlepaddle``` or ```pip3 install paddlepaddle-gpu```.

This question will be closed. If you still need to follow up on this question after closing, please feel free to reopen it.Thank you so much for your support of PaddlePaddle Group!

[2018-10-16 06:51] #13604 closed, assigned to velconia

[2018-10-16 07:11] shanyi15 commented on #13886
辛苦 @typhoonzero  看一下是否需要改python 注释里的说明，感谢

[2018-10-16 07:13] #12050 closed, assigned to reyoung, velconia, panyx0718, typhoonzero

[2018-10-16 07:17] typhoonzero commented on #13886
需要完善下，这样会清晰一点。我会更新下这个文档。

[2018-10-16 07:18] wangguibao commented on #13912
+ @reyoung @velconia @wanghaoshuang @guoshengCS @chengduoZH

[2018-10-16 07:30] qingqing01 commented on #13895
@songfish 上面项目链接打开后没有看到代码。

[code]
通过这个错误可以看出 conv的filter的shape不对，出现这样的可能原因之一是没有run参数初始化的program。

[2018-10-16 07:32] wojtuss commented on #13550
@luotao1 , could you please address the issue somehow? We had to comment the `GraphPatternDetector::UniquePatterns()` method out in our branch due to this problem.

[2018-10-16 07:38] songfish commented on #13895
@qingqing01
**您好，代码现在应该可以看了。**
我加上了初始化之后报了另外的错误，没有在别的issue和网页上找到解决方案：
**初始化部分：**
[code]
**报错：**
[code]
谢谢您！

[2018-10-16 07:38] Superjomn commented on #13550
Yes, the hash function is quite naive, and this issue seems reasonable, I will enhance it later.

Currently, you can leave a comment `TODO(Superjomn) ...`, and I will fix this issue latter.

[2018-10-16 08:24] Sand3r- commented on #13860
Thank you for the response @luotao1.
- I do not use docker image, but paddle built from source. Has any new library been recently added to docker image? By recently I mean last ~2 weeks.
- `cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DWITH_TESTING=ON -DWITH_PROFILER=ON -DWITH_STYLE_CHECK=OFF -DWITH_INFERENCE=ON -DWITH_INFERENCE_API_TEST=ON -DINFERENCE_DEMO_INSTALL_DIR=/home/mga

[2018-10-16 08:54] molly00ecla commented on #13908
【补充】
我刚刚试了一下，当GPU里面没有其它进程时，代码是可以正常运行的，而且确实跑在了指定的显存上面。

[2018-10-16 09:06] phlrain opened #13917 "data feed的时候，shape的check机制"
比如在程序中定义
x = layers.data(name="x", shape=[10, 10], dtype='float32')

在数据的data feed的时候，假如传入一个 shape=[10, 10, 10]的数据，x的shape就变为[ 10, 10, 10], 是不是可以有一个强的机制来限制，如果feed的数据和定义的数据的shape不一致的时候，程序报错，或者提示用户，而不是做一个隐式的shape的变换

[2018-10-16 09:21] yeyupiaoling commented on #13868
修改一下数据定义就OK了。
[code]

[2018-10-16 09:21] #13868 closed, assigned to nobody

[2018-10-16 09:45] shippingwang opened #13920 "[编译安装] nvidia-docker运行镜像latest-gpu-cuda8.0-cudnn7: SIGILL"
sudo nvidia-docker run --name Paddle -it -v $PWD:/work hub.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda8.0-cudnn7 /bin/bash

*** Aborted at 1539682149 (unix time) try "date -d @1539682149" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGILL (@0x7f6ac6ea9436) received by PID 16 (TID 0x7f6b07bc7700) from PID 18446744072751846454; stack trace: ***

[2018-10-16 09:46] yeyupiaoling commented on #13853
这是因为输入数据缺少了label，可以模拟一个label输入：
[code]

[2018-10-16 09:46] #13853 closed, assigned to nobody

[2018-10-16 09:53] yeyupiaoling opened #13921 "在训练过程中不能进行预测"
我的想法是在训练过程中，可以进行预测操作，如下：
[code]
目前好像时没办法达到的，如果使用test program输出还需要label，也没有clone预测的program的接口。
目前我解决的办法是：#13853，那有没有更好的解决办法呢？

[2018-10-16 10:37] #13812 closed, assigned to seiriosPlus, typhoonzero

[2018-10-16 12:14] luotao1 commented on #13860
@Sand3r- We reproduce this issue, the reason is `cmake -DCMAKE_BUILD_TYPE=Debug`. If you are in `cmake -DCMAKE_BUILD_TYPE=Release` mode, there is no error.
And #13850 fix this issue, you can merge with the latest code.

[2018-10-16 12:14] #13860 closed, assigned to swtkiwi

[2018-10-16 12:14] luotao1 commented on #13894
fixed by #13850

[2018-10-16 12:14] #13894 closed, assigned to dzhwinter, luotao1

[2018-10-16 13:52] kolinwei opened #13925 "安装CPU版本后训练主动abort，gdb显示Illegal instruction"
[code]

[2018-10-17 01:10] #13863 closed, assigned to kuke, jerrywgz

[2018-10-17 02:39] lyp2github opened #13930 "集群训练coredump是否有进一步调试方式或日志记录"
paddlecloud提交的任务，off_smart集群，jobid=job-e6c5bc61035b7045
I1017 00:36:32.808667 30555 ParameterClient2.cpp:113] pserver 0 10.75.54.40:8000
W1017 00:36:32.808787 30555 LightNetwork.cpp:397] connection refused by pserver, try again!
W1017 00:36:33.808917 30555 LightNetwork.cpp:397] connection refused by pserver, try again!
W1017 00:36:34.809073 30555 LightNetwork.cpp:397] connection refused by pserver

[2018-10-17 03:18] luotao1 opened #13932 "manylinux1 fails at trt_mobilenet_demo on MKL related version"
- 对MKL版本的manylinux1，虽然能正确生成paddle.tgz和fluid.tgz，但日志中有错
   http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&buildTypeId=Manylinux1_Cuda80cudnn5cp27cp27mu&buildId=23185&_focus=31989#_state=25180
[code]

[2018-10-17 03:25] gongweibao opened #13933 "Random failed."
http://ci.paddlepaddle.org/viewLog.html?buildId=23214&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all

[code]

[2018-10-17 04:14] liushanshan07 opened #13935 "paddle.fluid.core.EnforceNotMet: Failed to find dynamic library: libwarpctc.so ( dlopen: cannot load any more object with static TLS )"
训练时出现如下错误信息
File "train.py", line 157, in <module>
    main()
  File "train.py", line 153, in main
    train(args, data_reader=ctc_reader)
  File "train.py", line 120, in train
    results = train_one_batch(data)
  File "train.py", line 89, in train_one_batch
    feed=get_feeder_data(data, place))
  File "/usr/local/lib/python2.7/site-packages/paddle/fluid/parallel_executor.py", line 276, in run

[2018-10-17 04:27] endyul opened #13936 "README.md里中英文档的badge链接失效"

[2018-10-17 05:27] chengduoZH commented on #13912
Thanks for your feedback, I am fixing it https://github.com/PaddlePaddle/Paddle/pull/13937

[2018-10-17 05:49] luotao1 commented on #13935
可以看下`/usr/local/lib/python2.7/site-packages/paddle/libs`有没有

[2018-10-17 06:11] liushanshan07 commented on #13935
嗯。有的。谢谢帮忙。请问这个so应该在训练时export进去吗还是应该咋弄，解决上面的问题呢？

[2018-10-17 06:23] barrierye opened #13939 "文档链接失效：如何写新的Operator一文中，关于在PaddlePaddle中如何使用Eigen库的使用文档"
我最近在根据fluid1.0版本的中文文档学习写新的Op：http://paddlepaddle.org/documentation/docs/zh/1.0/advanced_usage/development/new_op.html ，然而我发现在”关于在PaddlePaddle中如何使用Eigen库，请参考使用文档“这句话中，”使用文档“的链接已经失效了。

[2018-10-17 06:30] luotao1 commented on #13935
`export LD_LIBRARY_PATH=/usr/local/lib/python2.7/site-packages/paddle/libs` 即可

[2018-10-17 06:39] shanyi15 commented on #13939
感谢您反馈，我们将尽快修复，请先在这里阅读 https://github.com/PaddlePaddle/FluidDoc/blob/release/1.0/doc/fluid/dev/use_eigen_cn.md

[2018-10-17 06:40] shanyi15 commented on #13939
辛苦修复@tink2123

[2018-10-17 07:30] 333caowei opened #13942 "模型训练完以后使用load_inference_model加载模型并输入测试数据格式错误"
有三类input：

第一个：一维Id特征，例如input=9：
[code]

第二个：不定长id序列，例如input=[2,4,17,8]
[code]

第三个：4维定长vector,input=[0.2,0.4,0.1,0.5]：
[code]

在预测时候，首先加载模型
[code]
然后:
[code]
但是报错：
AssertionError: data and recursive_seq_lens do not match
如果将上述
[code]
替换成
[code]
则报错：
[code]

不知道我用上述方法进行infer哪里不对，应该如何input数据

[2018-10-17 07:41] zhangxiaoleigit opened #13943 "在virtualenv安装的python环境下装paddlepaddle，运行时提示Fatal Python error: PyThreadState_Get: no current thread"
Fatal Python error: PyThreadState_Get: no current thread

Process finished with exit code 134 (interrupted by signal 6: SIGABRT)

[2018-10-17 09:18] JFTong opened #13947 "迫切需求支持focal loss"
在样本分布不均的场景下，focal loss能够很好的解决模型过拟合到较多样本上。希望fluid能够添加下对focal loss的支持。相关paper见：https://arxiv.org/abs/1708.02002

[2018-10-17 09:29] gongweibao opened #13948 "Compilation warnings"
[code]

[2018-10-17 09:39] colourful-tree commented on #13942
同学可以尝试下面的使用方式试试看：
[code]

[2018-10-17 10:57] yanyunxinyu opened #13952 "训练过程中报错：paddle.fluid.core.EnforceNotMet: Cannot open file recommender_case.inference.model/case_table for load op at [/paddle/paddle/fluid/operators/load_op.cc:39]"
Traceback (most recent call last):
  File "train.py", line 289, in <module>
    main(USE_GPU)
  File "train.py", line 286, in main
    params_dirname=params_dirname)
  File "train.py", line 234, in infer
    inference_program, param_path=params_dirname, place=place)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/inferencer.py", line 68, in __init__
    io.load_params(executor.Executor

[2018-10-17 11:03] #13942 closed, assigned to nobody

[2018-10-17 11:36] shanyi15 commented on #13936
感谢您反馈，正在跟进

[2018-10-17 11:38] colourful-tree commented on #13930
paddlecloud的问题，可以加用户交流群：1620573问一下

[2018-10-17 11:53] colourful-tree commented on #13952
recommender_case.inference.model/case_table 这个文件存在吗？

[2018-10-17 14:36] guru4elephant commented on #13855
可以参考一些简单的例子：文本分类 https://github.com/PaddlePaddle/models/tree/develop/fluid/text_classification

[2018-10-18 01:26] wangguibao commented on #13943
This had been resolved last night by @typhoonzero .

I asked user to elaborate detailed procedures dealing with this issue so that everyone can get help. Now waiting user feedback before closing it.

[2018-10-18 01:42] zzhzz opened #13959 "请问Paddle源码编译如何打开调试选项？"
在训练过程中遇到一些问题，需要通过gdb来分析定位出错代码。请问Paddle编译会默认打开gcc -g选项吗？如果没有打开的话，怎样打开呢

[2018-10-18 02:01] qingqing01 commented on #13947
可以使用子op拼接：
[code]

[2018-10-18 02:03] wangguibao commented on #13912
Closing this issue since it will be addressed in #13937

[2018-10-18 02:03] #13912 closed, assigned to reyoung, wangguibao, velconia, wanghaoshuang, guoshengCS, chengduoZH

[2018-10-18 02:30] qingqing01 commented on #13895
提供的信息太少，无法定位具体的错误位置。 出现这个错误的原因是某个输入/输出的shape不对，可以先从log信息定位具体是哪个op，在这个op前后看下shape信息。

[2018-10-18 02:51] fengshuting commented on #13952
第一次有生成，修改模型后把这些文件删除了重新跑就无法生成了，不知是为什么

[2018-10-18 03:51] #13936 closed, assigned to shanyi15

[2018-10-18 03:53] zzhzz commented on #13809
*** Aborted at 1539834486 (unix time) try "date -d @1539834486" if you are using GNU date ***
4742533 PC: @                0x0 (unknown)
4742534 *** SIGSEGV (@0x7f2d00000002) received by PID 21528 (TID 0x7f2e6907e700) from PID 2; stack trace: ***
4742535     @     0x7f2e688507e0 (unknown)
4742536     @     0x7f2e33cc6c8b paddle::framework::Scope::VarInternal()
4742537     @     0x7f2e33cc6d5e padd

[2018-10-18 04:00] zzhzz commented on #13809
core dump 信息如下

[code]

[2018-10-18 04:30] endyul commented on #13936
<img width="187" alt="image" src="https://user-images.githubusercontent.com/1056031/47131474-6805ab80-d2d1-11e8-8c97-a5eca8d7667f.png">
@shanyi15  您好，badge图标的文档链接也需要更新，如图

[2018-10-18 05:15] yanyunxinyu opened #13963 "训练过程中报：x_mat_dims[1]:160 != y_mat_dims[0]:128 in mul_op.cc"
Traceback (most recent call last):
  File "train.py", line 289, in <module>
    main(USE_GPU)
  File "train.py", line 286, in main
    params_dirname=params_dirname)
  File "train.py", line 268, in infer
    return_numpy=False)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/inferencer.py", line 104, in infer
    return_numpy=return_numpy)
  File "/usr/local/lib/python2.7/dist-packages

[2018-10-18 05:23] zhangxiaoleigit commented on #13943
mac版本：10.12.6
paddlepaddle版本： 1.0.1
操作步骤：
1、创建python env  ：paddleEnv
2、激活环境
3、安装paddlepaddle =>  pip install paddlepaddle
4、运行paddlepaddle 报错Fatal Python error: PyThreadState_Get: no current thread

解决方法：
    1、删除  paddleEnv/lib/python2.7/site-packages/paddle/.dylibs/  目录下的Python   文件，其中paddleEnv是用virtualenv创建的环境
    2、 增加环境变量
    export LD_LIBRARY_PATH=/usr/local/Cellar/python@2/2.7.15_1/Framewor

[2018-10-18 05:23] #13943 closed, assigned to wangguibao, velconia

[2018-10-18 05:31] gavin1332 commented on #13959
具体是什么问题？是为了调试你自己贡献的代码吗？

[2018-10-18 05:47] #13948 closed, assigned to Superjomn, tensor-tang

[2018-10-18 05:49] zzhzz commented on #13959
@gavin1332 不是，是ParallelExectuor运行出了一些问题，想定位问题

[2018-10-18 06:25] luotao1 commented on #13959
`cmake .. -DCMAKE_BUILD_TYPE=Debug`可以开启debug模式。

[2018-10-18 06:38] wangguibao commented on #13925
已经定位到是因为所在机器不支持AVX2指令集而主动abort。简单的判断方法：
用gdb-7.9以上版本（因编译C++文件用的工具集是gcc-4.8.2，目前只知道gdb-7.9这个版本可以debug gcc4编译出来的目标文件）：

[code]

在gdb界面：

[code]

找到箭头所指的指令，例如：

[code]

然后google一下这个指令需要的指令集。上面例子中的带xmm和ymm操作数的vbroadcastss指令只在AVX2中支持

然后看下自己的CPU是否支持该指令集

[code]

如果没有avx2，就表示确实是指令集不支持引起的主动abort

[2018-10-18 06:47] wangguibao commented on #13925
Since there're pull requests addressing such problem (Supporting both avx and avx2) like #13851 , I'm closing this issue for now

[2018-10-18 06:47] #13925 closed, assigned to wangguibao

[2018-10-18 06:53] #13959 closed, assigned to nobody

[2018-10-18 06:53] #13730 closed, assigned to nobody

[2018-10-18 07:09] JiabinYang opened #13969 "Add nccl2 into third party"
Plz close this when it fixed @dzhwinter

[2018-10-18 07:13] mzchtx opened #13970 "ParallelExecutor 如何回收资源？"
Executor 中有 close() 方法可以回收资源，而 ParallelExecutor 中并没有，ParallelExecutor 的资源如何回收？

[2018-10-18 07:14] lucywsq commented on #12137
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-18 07:14] #12137 closed, assigned to Yancey0623

[2018-10-18 07:26] #13605 closed, assigned to nobody

[2018-10-18 07:27] JiabinYang opened #13972 "使用国内的Pypi源没办法pip安装PaddlePaddle"
这是由于国内的Pypi源没有和Pypi官方的源同步造成的，这种情况下可以从[Pypi官方源](https://pypi.org/user/paddle-dev/)下载对应whl包，然后pip install [下载的whl包所在的路径]安装

[2018-10-18 07:27] bingyanghuang commented on #13605
Close this issue because we used other way to solve this problem.

[2018-10-18 07:55] lucywsq commented on #12190
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-18 07:55] #12190 closed, assigned to gongweibao

[2018-10-18 07:57] lucywsq commented on #12234
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!