[2019-01-03 07:24] yeyupiaoling opened #15153 "可以使用load_persistables加载模型做评估"
# 环境
 - PaddlePaddle 1.2.0
 - Python 3.5
 - Ubuntu 16.04

# 问题
我在这里：https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/eval.py 看到了模型评估的方式。
但它加载模型的方式是：https://github.com/PaddlePaddle/models/blob/022c0899a325107821eff6754702ea0f5fb82ed2/fluid/PaddleCV/image_classification/eval.py#L81-L86

我加载模型的方式是：
[code]

我这样加载模型是否合理，程序是能够正常运行的。

[2019-01-03 07:25] yeyupiaoling commented on #15152
好的，明白。谢谢

[2019-01-03 07:25] #15152 closed, assigned to xuezhong

[2019-01-03 07:27] xuezhong commented on #15150
嗯 文件操作最好都由用户操作

[2019-01-03 07:28] xuezhong commented on #15149
是的

[2019-01-03 07:28] yeyupiaoling commented on #15150
@xuezhong 好的，明白。谢谢了。

[2019-01-03 07:28] #15150 closed, assigned to xuezhong

[2019-01-03 07:46] lighthearts opened #15154 "多机增量训练load_persistables 出错"
参考官网手册进行多机训练http://paddlepaddle.org/documentation/docs/zh/1.2/user_guides/howto/training/save_load_variables.html
单机的时候使用default的program载入之前保存的模型没有问题，可以继续训练：
[code]

但是用多机的get_pserver_program则报错：
[code]
在运行到fluid.io.load_persistables(exe, args.continue_model_path, startup) 的时候报错：
[code]

为什么用单机的程序可以load 模型继续训练，用pserver的方法不可以？？

[2019-01-03 08:03] cuicheng01 commented on #15126
@dzhwinter mixup主要是对两张图和label做mix操作，原理也很简单，但是怎么把他们和reader结合起来，不是很会写

[2019-01-03 08:06] wanghaoshuang commented on #15119
fluid比V2多了这一步操作：https://github.com/wanghaoshuang/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L2984

[2019-01-03 08:17] jczaja commented on #15032
@luotao1 We will look to that and get back to You

[2019-01-03 08:29] wojtuss commented on #14837
@frankwhzhang , was this issue fixed?

[2019-01-03 08:35] luotao1 commented on #14837
@wojtuss It hasn't fixed now.

[2019-01-03 08:43] huashaosmile commented on #15119
从v2迁移到fluid模型出现不收敛的情况，模型结构一样，能帮忙看看是什么问题吗
v2版本的模型：
class UapDnn(object):

    def __init__(self, layer_dims, num_neg_samples, feature_dict,
                 label_freq, feature_info_list, is_infer=False):
        """
        构造函数

        :param layer_dims:   数组，每一层网络的维度
        :param is_infer:    是否预测
        """

        self._layer_dims = layer_dims
        self._feature_dict = feature_dict

[2019-01-03 08:48] velconia commented on #15140
降低CUDA Driver Version呢？Paddle现在还没有对10.0作支持，怀疑也有可能是问题原因，可以降低到9.0试试

[2019-01-03 08:54] yeyupiaoling opened #15157 "在使用GPU训练的时候，也会使用CPU参与训练吗？"
# 环境
 - PaddlePaddle 1.2.0 GPU版本
 - Python 3.5
 - Ubuntu 16.04

# 问题
在使用GPU训练的时候，也会使用CPU参与训练吗？我看CPU的使用率也很高
![2019-01-03 16-28-43](https://user-images.githubusercontent.com/26297768/50629594-2a332d80-0f78-11e9-9d15-ea4d23f5ae4b.png)
![2019-01-03 16-28-54](https://user-images.githubusercontent.com/26297768/50629595-2a332d80-0f78-11e9-967a-99762f2dd44d.png)

[2019-01-03 08:58] yeyupiaoling commented on #15140
@velconia 我不知道这个`CUDA Driver Version`东西是啥，我安装的cuda是9.0的。貌似那个安装驱动的时候自带的。
[code]

[2019-01-03 09:05] xuezhong commented on #15119
由于V2多了cost / (num_neg_samples + 1)  你可以考虑，loss/(num_neg_samples + 1) 修正，先对上loss

[2019-01-03 09:08] littletomatodonkey opened #15158 "resize_bilinear输出的shape问题"
在使用resize_bilinear的时候，下面的代码输出的shape是(50,1,40,40)，但是我看官网说明是以actual_shape为准的，所以不知道是不是自己写的有问题。
我在训练的时候，如果将数据喂进去之后，再去实时查看shape的话，输出的shape又是以actual_shape为准，所以对这一块有疑惑，不知道是否是resize_bilinear在build model的时候有问题呢？

[code]

[2019-01-03 09:13] huashaosmile commented on #15119
loss从训练的结果上能够对的上，不过在mpi上训练的时候由于目前的fluid1.2在nn.py的4730行的assign未定义，导致在mpi上训练无法使用nce的custom_dist模型，这个bug还麻烦一下你们这边修复一下。
可以使用fluid1.2 nce的示例代码发现bug， 目前示例代码无法运行
import numpy as np
import paddle.fluid as fluid
import paddle.fluid.layers as layers

window_size = 5
words = []
for i in xrange(window_size):
    words.append(layers.data(
        name='word_{0}'.format(i), shape=[1], dtype='int64'))

dict_size

[2019-01-03 09:36] yeyupiaoling commented on #15140
@velconia 有没有全局禁用cudnn 的？

[2019-01-03 09:38] xuezhong commented on #15140
先从cudnn安装这块再看下

[2019-01-03 09:40] xuezhong commented on #15153
load_persistables加载变量都会加载模型参数，因此对于预测来说都是可以的

[2019-01-03 09:41] xuezhong commented on #15151
这块内部的确只支持CuDNN，因此建议还是先安装Cuda 9.0版本试下

[2019-01-03 09:44] yeyupiaoling commented on #15140
@velconia 我测试了7.4，7.3，7.0.5都是一样的结果。我的安装方式是解压cudnn，然后把文件复制到cuda-9.0中，如果过没有复制，所报的错误不是这个。

[2019-01-03 09:44] xuezhong commented on #15157
有的op是只会CPU上运行，比如while op，同时一些调度工作也会在CPU上，因此CPU有占用，也是正常的

[2019-01-03 09:51] yeyupiaoling commented on #15157
@xuezhong 好的，明白，谢谢。

[2019-01-03 09:51] #15157 closed, assigned to xuezhong

[2019-01-03 09:52] yeyupiaoling commented on #15153
@xuezhong `load_params`就不行，是吧？在已经使用`save_params`保存模型的情况下。

[2019-01-03 09:56] yeyupiaoling commented on #15151
@xuezhong 我安装的真的是cuda 9.0，但是不知道为什么用`nvidia-smi`查看有cuda 10，但是用`nvcc -V`看到的是cuda 9.0.
这里有我的详细讨论过程：https://github.com/PaddlePaddle/Paddle/issues/15140
麻烦一起解答下。

[2019-01-03 10:01] lighthearts commented on #15154
补充下，seg_lr_Factors 是一个embedding

[2019-01-03 10:14] jianxiangm opened #15159 "如何在V2中查看layer的output shape？"
比如在deepspeech2中，想查看某一层的输出shape，要怎么做呢？谢谢。
conv_layer = paddle.layer.img_conv(
        input=input,
        filter_size=filter_size,
        num_channels=num_channels_in,
        num_filters=num_channels_out,
        stride=stride,
        padding=padding,
        act=paddle.activation.Linear(),
        bias_attr=False)

[2019-01-03 10:34] wopeizl commented on #15019
https://github.com/PaddlePaddle/Paddle/pull/15112

[2019-01-03 10:34] wopeizl commented on #14961
https://github.com/PaddlePaddle/Paddle/pull/15112

[2019-01-03 11:18] DanqingLi commented on #14988
paddlepaddle fails when testing transformer with use_mkldnn=1

**Reproduce:
location:**
 [https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleNLP/neural_machine_translation/transformer](public transformer)

**script:**
export FLAGS_use_mkldnn=1
export OMP_NUM_THREADS=1

#python -m pdb ../infer.py \
python infer.py \
  --src_vocab_fpath ~/data/wmt16_ende_data_bpe_clean/vocab_all.bpe.320

[2019-01-03 11:24] ghost commented on #14988
@panyx0718  @kbinias

[2019-01-03 12:13] typhoonzero commented on #15158
您好，并不会的。paddle fluid有“编译时” 和 “运行时”两个概念，上面的代码是对应“编译时”，当开始feed数据并执行`exe.run()`时为运行时。运行时一般第一维是batch size会根据当前feed的数据的实际batch size决定，每个layer都是能处理batch size变化的情况的。

[2019-01-03 12:16] littletomatodonkey commented on #15158
哦哦这样，谢谢您。

[2019-01-03 12:21] typhoonzero commented on #15154
您好，问题已经收到，会尽快排查原因

[2019-01-03 12:54] lijiancheng0614 opened #15160 "How to set `offset` and `length` for `sequence_slice` when the `input.lod` is unknown?"
Hi,

I tried several times to use [`paddle.fluid.layers.sequence_slice`](http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#permalink-146-sequence_slice).

It works when I know the input (e.g. the example in the doc), but I don't know how to set the `offset` and `length` when the `input.lod` is unknown.

For example, the input is a `LOD_TENSOR_ARRAY` with shape `(-1L, 6L)`

[2019-01-03 13:22] #15019 closed, assigned to wopeizl

[2019-01-03 13:23] #14961 closed, assigned to wopeizl

[2019-01-03 13:27] yeyupiaoling commented on #15140
@velconia 是不是我的显卡不能用?
![image](https://user-images.githubusercontent.com/26297768/50586959-c268de00-0eb6-11e9-9235-4244aadaf808.png)

[2019-01-03 14:44] xuezhong commented on #15160
you can try to reverse the sequence and slice it, finally reverse the result. Pls refer to http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#sequence-reverse

[2019-01-03 14:51] xuezhong commented on #15147
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_py_func_op.py#L97  这是个py_func的例子，你可以用Python实现op

[2019-01-03 14:59] lijiancheng0614 commented on #15160
Hi, I mean the length of the offset and length is unknown because the input.lod is unknown (the first value of the shape is -1 instead of a const if the length of the sequence is not fixed.)
If I do the reverse op, then how to do the sequence_slice for input[:, :4]?

[2019-01-03 15:16] xuezhong commented on #15159
可以查看v2相关文档，由于不维护了，我们自己先找下，再回复您

[2019-01-03 15:18] xuezhong commented on #15153
应该也是可以的

[2019-01-03 15:36] dzhwinter commented on #15144
目前只有一部分op可以支持，需要在之前和之后手动加datatype cast。下一个版本中会发布float16训练中自动调scale的功能，半精度训练可以全面应用。

[2019-01-03 16:07] cuicheng01 opened #15162 "RMSProp训练loss不降，Momentum没有问题"
paddle版本：0.15
遇到的问题：
在用paddle复现InceptionV4的时候，需要RMSProp优化器来训练，但是用该优化器loss完全不降，acc完全不涨，改成Momentum优化器就没有问题了，但是Momentum优化器最终的收敛精度会稍微差一点，论文也是这么说。
补充1:初始学习率是0.045，单机训练，centered = False 与True都试过了。
补充2：之前在复现MobileNet的时候也遇到了这个问题，但是最终用Momentum优化器对上了精度就没有再提issue

[2019-01-03 16:52] jczaja commented on #15032
@luotao1 I did not get to reproduce problem.
1. Could you make a changes so that : compare_mkldnn works without mkl_dnn eg. compare(false) and then run experiments. So we know if MKL-DNN is actual problem ?
2. How did you observe that mkldnn hangs on logging? Did you attach debugger and observe where execution is looping over?
3. Do you use parallel mode of execution of tests of ctest? What is cte

[2019-01-04 01:46] shashlik007 commented on #15136
现在上述问题没了，出现了以下问题：
yq01-sys-hic-p40-0075:17362:21438 [0] NCCL INFO NET/IB : GPU Direct RDMA Disabled for GPU 0 / HCA mlx5_0 (not supported by GPU)
yq01-sys-hic-p40-0075:17362:21439 [1] NCCL INFO Ring 00 : 1[1] -> 2[2] via P2P/direct pointer
yq01-sys-hic-p40-0075:17362:21441 [2] NCCL INFO Ring 00 : 2[2] -> 3[3] via P2P/direct pointer
yq01-sys-hic-p40-0075:17362:21447 [4] NCCL INFO Ring 00 : 4[4] ->

[2019-01-04 02:19] LihangLiu opened #15163 "pserver模式下，使用py_reader报elementwise_op dimension mismatch的错误"
我在用pserver模式训练的时候，
       如果用pyreader来读数据，会出现elementwise_op dimension mismatch的错误。
       如果用data feed的形式读数据就不会有。
请问是什么原因呢？
fluid版本为git上最新版。

[2019-01-04 02:20] LihangLiu commented on #15163
并不是一定会报错，是有一定概率的出错。

[2019-01-04 02:20] jianxiangm commented on #15159
@xuezhong 谢谢。
我查看了V2相关文档，但是貌似没找到。
由于在用deepspeech2，只有V2版本的。

[2019-01-04 02:47] luotao1 commented on #15032
We have `compare` UT which works without mkldnn, and it all runs successfully. You can see these UTs in url.
[code]

1. All the logs like as follows. Since there is no error log, I guess mkldnn hangs. But I didn't attach debugger and observe where execution is looping over.
[code]
[code]
2. Since some hangs in our business job due to openmp library (you can ask @jianhang-liu for more details), I g

[2019-01-04 02:51] luotao1 commented on #15032
@jczaja http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&buildTypeId=Paddle_PrCiNight&buildId=45100&_focus=23067#_state=23743 `test_analyzer_small_dam` crashs again. Why it crashs more frequently than `test_analyzer_mobilenet_depthwise_conv`? And `test_analyzer_resnet50` also has `compare_mkldnn`, but it works normally.

[2019-01-04 02:59] huashaosmile commented on #15119
我这边做了几个实验，网络结构，样本都一样的情况下，分别对于nce采用custom_dist采样方式，采用均匀采样方式，模型都不能收敛，弃用nce，采用softmax，同样的batch_size，最终采用softmax的模型达到了和v2差不多的收敛效果。你们这边看看是不是fluid 1.2版本的nce相比v2的nce除了损失函数最后除了个（neg_num +1）不同外，是不是nce具体实现逻辑有区别

[2019-01-04 03:01] sneaxiy commented on #15163
能把详细的log放出来吗？另外，单机是否会出现同样的问题？

[2019-01-04 03:38] zhoukunsheng opened #15166 "seq_unpad 限制x与length必须要有相同的dimension 0"
从seq_unpad 的实现意图上理解没有问题，但当使用reshape之后该dimension 的限制就显得不灵活。
譬如下面代码中删除reshape行的注释，则代码报EnforceNotMet 的错误

`
import numpy as np
import paddle.fluid as fluid
import paddle.fluid.layers as layers
import op_utils
np.random.seed(0)
batch=2
length = layers.data(name='length', shape=[1], dtype='int64')
rep = layers.data(name='rep', shape=[5,3], dtype='float32')

#rep = layers.reshape(rep, (-1, 3))

ret = la

[2019-01-04 03:56] YitianSusan commented on #9586
@yeyupiaoling 楼主知道在GPU上跑你git分享的code，train的时候出现如下error的问题是什么吗？paddle是0.10.0 版本。

[INFO 2019-01-04 11:54:22,578 layers.py:2430] output for __conv_0__: c = 16, h = 80, w = 180, size = 230400
[INFO 2019-01-04 11:54:22,580 layers.py:2430] output for __conv_1__: c = 16, h = 80, w = 180, size = 230400
[INFO 2019-01-04 11:54:22,581 layers.py:2555] output for __pool_0__: c = 16, h = 40, w = 90, size = 5760

[2019-01-04 04:31] xuezhong commented on #15160
获得batch_size的代码如下：
batch_ones = fluid.layers.fill_constant_batch_size_like(
        input=start_logits, dtype='int64', shape=[1], value=1)
    num_seqs = fluid.layers.reduce_sum(input=batch_ones)

[2019-01-04 04:41] xuezhong commented on #15159
组网编译的时候，可以通过.size看到shape相关信息
运行的时候，可以通过接口获得实际变量的值
https://github.com/PaddlePaddle/DeepSpeech/blob/a76fc692123e97e5f183c3a00e30b7f2e2d3f07c/model_utils/model.py#L171
parameters的获取
https://github.com/PaddlePaddle/DeepSpeech/blob/develop/model_utils/model.py#L401

[2019-01-04 05:42] YitianSusan commented on #9586
@nemo9903 你是不是没用GPU跑？

[2019-01-04 06:10] lijiancheng0614 commented on #15160
Finally use [`slice`](http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#slice) and [`lod-reset`](http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#lod-reset) to solve the problem.

Thanks!

[2019-01-04 06:10] #15160 closed, assigned to xuezhong

[2019-01-04 06:33] yeyupiaoling commented on #15140
@velconia 我觉得可以怀疑是显卡驱动的问题了。因为我使用了官方提供的docker镜像：
[code]
也是报同样错：
[code]

[2019-01-04 06:34] yeyupiaoling commented on #15153
@xuezhong 好的，谢谢回答。

[2019-01-04 06:34] #15153 closed, assigned to xuezhong

[2019-01-04 06:38] yeyupiaoling commented on #9586
@YitianSusan 之前有出现过，我是使用了PaddlePaddle 0.11.0出现的，换成0.10.0就没问题了

[2019-01-04 06:50] LihangLiu commented on #15163
log如下。单机模式和pserver+data feed的模式都不会报错。

    Enforce failed. Expected x_dims[i + axis] == y_dims[i], but received x_dims[i + axis]:4389 != y_dims[i]:766.
    Broadcast dimension mismatch. at [/paddle/paddle/fluid/operators/elementwise/elementwise_op_function.h:63]
    PaddlePaddle Call Stacks:
    0 0x7f3c0a4ffd9dp void paddle::platform::EnforceNotMet::Init(std::string, char const*, int) + 365
    1

[2019-01-04 06:55] kelvict opened #15168 "同一台机器中，存在其他fluid任务的时候，import paddle.fluid as fluid会报错。"
1、程序运行在16卡的K40机器上，看起来是仅import paddle.fluid的进程在16张卡中均占了100M显存，然后我再起了Python import fluid就报这个错。
`terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  out of memory at [/paddle/paddle/fluid/platform/device_context.cc:251]
PaddlePaddle Call Stacks:
0       0x7f212d2cbd06p paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::exception_ptr, char cons

[2019-01-04 08:21] YitianSusan commented on #9586
@yeyupiaoling 楼主知道如果安装了多个版本的paddle（0.10.0, 0.11.0），怎么在电脑上切换两个版本呢？

[2019-01-04 09:16] yeyupiaoling commented on #14514
@cjld When you use CUDA_9.0, can you use CUDNN?

[2019-01-04 09:18] yeyupiaoling commented on #15151
@xuezhong 那batch_norm能单独指定使用CPU吗？

[2019-01-04 09:24] yeyupiaoling opened #15171 "如何全局禁用CUDNN"
# 环境
 - PaddlePaddle 1.2.0 GPU版本
 - Python 3.5
 - 系统：Ubuntu 16.04
 - 显卡：RTX2070 8G
 - CUDA 9.0 和 CUDNN 7.0.5

# 问题
我不知道为啥，我使用的显卡RTX2070 能正常使用cuda 9.0，但是使用不了CUDNN，不知道是不是我的显卡只能使用CUDA 10。主要问题在：#15140
所以我需要全局禁用CUDNN，如何做到？？望老师指条明路，谢谢。

[2019-01-04 09:29] yeyupiaoling opened #15172 "PaddlePaddle什么时候支持CUDA 10？"
也不知道是不是我显卡RTX2070的问题，好像用不来cuda 9.0，如果使用cdua 9.0就使用不来cudnn。问题是：#15140
所以我觉得只能使用CUDA 10，所以想问一下，PaddlePaddle什么时候支持cuda 10

[2019-01-04 09:50] kelvict opened #15173 "python代码中使用了logging模块，Import paddle.fluid 后logging打日志格式变化了"
python代码中使用了logging模块，Import paddle.fluid 后logging打日志格式变化了

[2019-01-04 11:44] zhoukunsheng opened #15174 "使用SequenceUnpad op 出core"
bp 时sequence_unpad 这个op 出core

![image](https://user-images.githubusercontent.com/29747927/50686563-e5cb8e80-1058-11e9-8133-d38deb377374.png)

[2019-01-04 15:03] jczaja commented on #15032
@luotao1
1.  5117 seems to be virtual machine of 16 sockets and 1 thread per socket (1 core in 1 socket). So 16 logical threads. Could you please tell me how many physical cores/sockets where dedicated to that virtual machine? For example if 5117 is virtual machine with 16 logical threads, which underneath is using 4 physical threads then we would have threads oversubscription when using MKL-DNN f

[2019-01-05 03:19] yeyupiaoling commented on #9586
@YitianSusan 可以用Python的虚拟环境：virtualenv

[2019-01-05 12:03] sneaxiy commented on #15163
能否把您使用py_reader和data_feeder的代码贴出来？可能是配置的维度不正确导致。

[2019-01-05 12:09] sneaxiy commented on #15168
经沟通，目前fluid尚不支持不通过设置CUDA_VISIBLE_DEVICES的方式达到完全不占用其他GPU显存的目的。CUDNN出错是因为还有机器上还有残留的paddle进程，导致CUDA分配资源报错。

[2019-01-05 12:09] #15168 closed, assigned to sneaxiy

[2019-01-05 12:12] sneaxiy commented on #15173
经沟通，是V2的logging与python logging冲突，建议用户迁移至fluid。

[2019-01-05 12:12] #15173 closed, assigned to nobody

[2019-01-05 12:21] sneaxiy commented on #15171
您可以在使用到cudnn op的地方加上设`use_cudnn=False`。目前Paddle很多code还是依赖于cudnn，全局禁用CUDNN较难。

[2019-01-05 12:23] sneaxiy commented on #15172
您可以在CUDA 10的机器上本地编译Paddle源码试试。

[2019-01-05 12:36] sneaxiy commented on #15166
您好，reshape后batch_size维和其他维度就混合在一起了，导致sequence_unpad的输入是[10, 3]（未reshape前是[2, 5, 3]），但length是[[2], [3]]，所以运行时出错。sequence_unpad要求输入数据的维度应该是batch_size * seq_len * other_dims。如果您确实需要reshape，您可以考虑改变length的输入，比如设置为[[4], [6]]。

[2019-01-05 12:38] sneaxiy commented on #15174
感谢您的反馈。经排查，原因是crf op的bug，crf的反向时未将emission的lod传递下去，导致后续的sequence_unpad op运行出错。我们会尽快修复此bug。

[2019-01-05 13:52] imistyrain opened #15176 "paddle保存模型有好几种方式，里面分别保存了什么东西，怎么相互转换?"
如题，在[image_classification](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/train.py)中使用的是fluid.io.save_persistables()
在[object_detection](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/train.py)中使用的是fluid.io.save_inference_model()
在[保存与载入模型变量](http://paddlepaddle.org/documentation/docs/zh/1.1/user_guides/howto/training/sa

[2019-01-05 14:04] yeyupiaoling commented on #15171
@sneaxiy 关键batch_norm层不能这样设置，问题在：#15151 ，这个要怎么处理呢？

[2019-01-05 14:06] yeyupiaoling commented on #15172
@sneaxiy 您们有没有测试过，PaddlePaddle能用 显卡RTX2070 吗？我的用不了cudnn。

[2019-01-06 01:48] sneaxiy commented on #15166
seq_unpad的输入要求第0维的含义是batch_size，因此要求length的第0维也必须是batch_size。在上述例子中reshape操作使rep的batch_size和其他维护混在一起了，所以报错。建议您不要reshape或用其他方式实现类似功能。

[2019-01-06 02:47] #15166 closed, assigned to sneaxiy

[2019-01-06 05:36] nizihan opened #15177 "gru_unit的初始化方式"
请问如果没有指定initializer的话，gru_unit的初始化方式是Xavier吗？相比于使用默认值，我显示的指定initializer为Xavier的时候，实验效果会有提升。请问这是什么原因？
使用默认值：
`clip = fluid.clip.GradientClipByNorm(clip_norm=2.0) `
`clip_attr = fluid.ParamAttr(gradient_clip=clip)`
`h, _, _ = fluid.layers.gru_unit(
                    input=decoder_inputs,
                    hidden = hidden_mem,
                    param_attr = clip_attr,
                    bias_a

[2019-01-06 13:10] ghost commented on #15032
@luotao1 From the log you indicated, I found below:
19:19:29] :	 [Step 1/1] -- Do not have AVX2 intrinsics and disabled MKL-DNN
Is this a correct build option?

[2019-01-06 13:47] ghost commented on #15032
@luotao1 Please ignore my above comment. Just found there are two builds in this log. The second one should be valid one with all features including MKL turn on.

[2019-01-06 14:02] ghost commented on #15032
@luotao1 @jczaja One interesting point is that "dam" and "small" dam share same test app so they has exactly same test cases, i.e. "dam" also has compare_mkldnn test case. But according to log, no issue to run all test case of "dam" (including "compare_mkldnn" of course).
	Line 22514: [19:50:36] :	 [Step 1/1] 154/514 Test #138: test_analyzer_dam ...............................   Passed   71.89 sec

[2019-01-06 14:26] ghost commented on #15032
Another hint is that "small dam" is tested immediately after "dam". This means those two models will be tested concurrently due to parallel mode of ctest. This may make over-subscription of OMP core even worse.
[19:49:24] :	 [Step 1/1]         Start 138: test_analyzer_dam
...
[19:49:26] :	 [Step 1/1]         Start 139: test_analyzer_small_dam

[2019-01-06 15:11] cuicheng01 commented on #15162
RMSProp各种参数都试过了，搞不定，完全训练不动。

[2019-01-07 01:39] LihangLiu commented on #15163
不好意思，订正下，单机模型的py_reader也会有概率报错。

[2019-01-07 01:39] yeyupiaoling opened #15178 "在使用VisualDL保存的histogram图，如何分析呢？"
学生使用定义参数
[code]
然后使用获取参数
[code]
最后使用以下方式保存参数
[code]

最后经过训练得到的图像是：
![image](https://user-images.githubusercontent.com/26297768/50744436-2f38fb00-125e-11e9-9186-066fbe91afa7.png)

得到这个图像之后，我应该如何分析呢？能从这个图像中知道什么的？当图像出现那些情况对于的又是那种情况呢？

[2019-01-07 01:41] LihangLiu commented on #15163
py_reader和data_feeder的代码如下：

    def _all_data_layers_with_property(self, mode):
        res_dict = copy.deepcopy(self._data_layers_with_property)
        # add extra
        res_dict.update({
            'num_items': {
                    'shape':[-1, 1], 'dtype':'int64', 'lod_level':1},
            'pos': {
                    'shape':[-1, 1], 'dtype':'int64', 'lod_level':1},
            'recent

[2019-01-07 02:16] sneaxiy commented on #15171
如果您的机器确实用不了cudnn，您可以通过其他op将batch_norm拼出来。例如，先求和正则化，然后再乘以scale和bias。

[2019-01-07 02:17] sneaxiy commented on #15172
十分抱歉，我们还未在RTX2070上进行过测试。

[2019-01-07 02:41] yeyupiaoling commented on #15171
@sneaxiy 具体应该如何做呢？请指点一下，谢谢。

[2019-01-07 02:43] yeyupiaoling commented on #15172
@sneaxiy 我用官方提供的docker镜像都用不了
[code]

报错如下：
[code]

在docker中查看显卡信息是正常的：
[code]
官方提供的镜像应该环境是正确的吧？为什么会这样？

[2019-01-07 02:48] sneaxiy commented on #15163
看目前贴出来的code应该没啥问题。能否方便把你的完整code贴出来？

[2019-01-07 03:01] #15174 closed, assigned to sneaxiy

[2019-01-07 04:18] JiabinYang commented on #15178
横坐标是参数值分布，纵坐标是step数，每一条水平方向的先代表在该step下的参数分布情况，具体的问题您可以直接在[VisualDL](https://github.com/PaddlePaddle/VisualDL)下提问，

[2019-01-07 04:48] yeyupiaoling commented on #15178
@JiabinYang 这些我知道，我就是不知道如何使用这个图来分析什么，就那我这个图来说，当前训练的模型，是好，还是不好，依据是什么等等

[2019-01-07 05:39] luotao1 commented on #15032
@jianhang-liu `test_analyzer_dam` also have `compare_mkldnn`, see http://ci.paddlepaddle.org/viewLog.html?buildId=44600&tab=buildLog&buildTypeId=Paddle_PrCiNight&logTab=tree&filter=all&_focus=22935

If `test_analyzer_dam` runs successfully, there is no detailed log (containing each part of UT) in the CI log.

[2019-01-07 06:27] luotao1 commented on #15032
@jczaja
1. 5117 is a virtual machine of 16 sockets and 1 thread per socket (1 core in 1 socket). The result of `cat /proc/cpuinfo` is :
![image](https://user-images.githubusercontent.com/6836917/50751865-966aa580-1286-11e9-90df-f4065ea8d7ef.png)
Is the number of `physical threads` 16?

2. The default openmp num threads is 1.
https://github.com/PaddlePaddle/Paddle/blob/5ee596cae55e8c7082a0f03761da8

[2019-01-07 06:48] yeyupiaoling opened #15183 "在使用docker容器PaddlePaddle环境执行训练时报错"
# 环境
 - Ubuntu 16.04
 - Docker ：`hub.baidubce.com/paddlepaddle/paddle:1.2.0-gpu-cuda8.0-cudnn5`
 - 显卡：RTX2070 8G

报错信息如下：
[code]

[2019-01-07 06:56] ghost commented on #15032
@luotao1 "I could try run test_analyzer_small_dam, test_analyzer_dam, test_analyzer_resnet50 and test_analyzer_mobilenet_depthwise_conv in sequential order". It somehow prove our suspect: the hang in "small dam" is possibly due to "oversubscription" of OMP cores since it's running concurrently with "dam". I think change the order of those tests could be a acceptable workaround for now. @jczaja Wha

[2019-01-07 07:40] nizihan opened #15187 "DynamicRNN如何返回2个tensor"
请问，我想将h与context一起进行返回，该怎么实现，谢谢
`rnn = fluid.layers.DynamicRNN()`
 `   with rnn.block():`
  `      ...`
  `      context = simple_attention(encoder_vec, encoder_proj, hidden_mem)`
  `      ...`
 `       h, _, _ = fluid.layers.gru_unit(input=decoder_inputs,hidden = hidden_mem,param_attr = gru_attr,bias_attr = clip_attr,size=args.decoder_size * 3)`
 `       rnn.update_memory(hidden_mem, h)`
  `

[2019-01-07 07:41] velconia commented on #15143
方便给一下 models 地址吗？

[2019-01-07 07:43] velconia commented on #15136
问题转移到了Wiki, 在Wiki中继续跟进，这个issue先close了

[2019-01-07 07:43] #15136 closed, assigned to velconia

[2019-01-07 07:49] kuke commented on #15177
参数的默认初始化器是Xavier没问题

https://github.com/PaddlePaddle/Paddle/blob/6d04a9cf4779a63123c5c1254450dbf881961b1f/python/paddle/fluid/param_attr.py#L106

有种办法可以看两种初始化方式的结果是否一致，可以将startup program的种子设置成一样，然后将初始化之后的参数拿出来做比较，请参考

https://github.com/PaddlePaddle/models/blob/2e86916fe32378f47ed89670125c5d814b97f4c4/fluid/PaddleNLP/deep_attention_matching_net/train_and_evaluate.py#L197
和

https://github.com/Padd

[2019-01-07 08:00] JiabinYang commented on #15187
这里的实现是：
![machi 2019-01-07 15-57-18](https://user-images.githubusercontent.com/22361972/50755766-fff1b080-1294-11e9-8eb7-f73678caf5ef.png)
所以，您可以直接吧你需要的Variable传进来例如这里可以`rnn.output(h_cont, context)`

[2019-01-07 08:01] JiabinYang commented on #15178
关于进一步的VisualDL的使用麻烦您在[VisualDL](https://github.com/PaddlePaddle/VisualDL/issues)的repo下提问，会有专门的同学为您解答

[2019-01-07 08:02] nizihan commented on #15187
好的，谢谢哈

[2019-01-07 08:11] nizihan commented on #15177
好的，我试一下，谢谢哈

[2019-01-07 09:23] gongweibao opened #15191 "Get a stack trace for C++ using gcc with line number information?"
https://github.com/bombela/backward-cpp

[2019-01-07 09:24] gongweibao opened #15192 "Potential bug if it doesn't wait."
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/sum_op.h#L131

[2019-01-07 10:26] jczaja commented on #15032
@luotao1 Yes, if problem is with threads over subscription then sequential execution of ctest **should** help.
I experimented with MKL-DNN unit tests running with ctest -j4 (parallel mode execution) and there is threads oversubscription and total time of execution of all unit tests is 3 times longer and specific times of tests execution are much longer. So this situation may be similar to what we

[2019-01-07 11:29] procr commented on #15016
目前再看的就是ResNet50这个模型，根据你上面买的链接，这个模型应该是被paddle tensorrt所支持的。

不过我们测下来，
在V100，paddle trt: 2.959ms，caffe trt: 2.146ms
在T4，paddle trt: 6.949ms，caffe trt: 2.800ms
差别有一点大。
请问这个是什么原因？

[2019-01-07 11:30] Superjomn commented on #15016
我们对比的方式是，找到 caffe模型，测试 tensorrt原生；将 caffe模型转成fluid格式，用paddle-trt 测试；两者时间是对齐的。

不确定你们的测试模型结构是否相同。

部分测试结果：

![image](https://user-images.githubusercontent.com/328693/50766247-72718900-12b3-11e9-91d2-885654ac6ab2.png)

[2019-01-07 12:04] luotao1 commented on #15032
@jczaja Thanks very much for so detailed explanation!

#15196 make related ctest running in sequential mode.

It's difficult to do this experiment since nightly stress testing runs on the develop branch.

I'm not expert on VM as well. We will observe nightly stress testing after #15196 merged several days at first.

[2019-01-07 12:17] JiabinYang commented on #14990
已经有了latest-dev的镜像是有的`docker run --name paddle-test -v $PWD:/paddle --network=host -it hub.baidubce.com/paddlepaddle/paddle:latest-dev /bin/bash`

[2019-01-07 12:17] #14990 closed, assigned to Yancey0623

[2019-01-07 12:20] chengduoZH commented on #15183
这是因为Paddle在编译的时候没有添加`CUDA Capability: 75`，已经提PR进行修复。

[2019-01-07 12:46] #15187 closed, assigned to JiabinYang

[2019-01-07 12:47] frankwhzhang opened #15199 "expand op在编译时 第0维不生效"
代码中 expand op 的第0维不生效
all_ = fluid.layers.expand(x=all_item_hid, expand_times=[2, 2])
print(all_item_hid)
print(all_)

实际输出为
name: "fc_2.tmp_1"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: 501
      dims: 128
    }
    lod_level: 0
  }
}
persistable: false

name: "expand_0.tmp_0"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32

[2019-01-07 13:58] yeyupiaoling commented on #15183
@chengduoZH 好的，如果有时间，我希望能够尽快能够支持CUDA 10

[2019-01-07 13:58] #15183 closed, assigned to chengduoZH

[2019-01-07 13:59] yeyupiaoling commented on #15178
@JiabinYang 好的，谢谢。

[2019-01-07 13:59] #15178 closed, assigned to JiabinYang

[2019-01-07 14:01] yeyupiaoling commented on #15172
估计是显卡RTX2070只支持CUDA 10的问题。

[2019-01-07 14:04] yeyupiaoling commented on #15140
初步的结论是显卡RTX2070 只支持CUDA 10以上的，之前安装低于CUDA 10版本导致的错误。这一结论是通过测试Pytorch得到的。

[2019-01-07 14:04] #15140 closed, assigned to velconia

[2019-01-07 14:06] yeyupiaoling commented on #14939
@chengduoZH 这个问题很久了，能答一下？

[2019-01-07 14:07] yeyupiaoling commented on #14637
@lucywsq @dzhwinter  您们能接着回答吗？

[2019-01-07 14:08] yeyupiaoling commented on #15176
@imistyrain 可以参考这个两个issue：#14790  和   #14788

[2019-01-07 18:06] JamesLearning opened #15201 "多卡训练中途随机中断，同样配置单卡正常训练"
- 版本、环境信息：
    1）PaddlePaddle版本：1.2
    3）GPU：TITAN X (Pascal) CUDA8.0 CUDNN6.0  docker内CUDNN7.0
    4）系统环境：CentOS 7.3.1611
使用官方docker镜像hub.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda8.0-cudnn7

- 训练信息
    1）单机多卡
    2）训练模型：PyramidBox（[https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/face_detection](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/face_dete

[2019-01-07 22:51] baojun-nervana commented on #15137
@luotao1 We have PR pending in ngraph repo to resolve this issue. Will update ngraph after the MKLDNN upgrade is done. https://github.com/NervanaSystems/ngraph/pull/2291

[2019-01-08 01:13] yeyupiaoling commented on #15172
@sneaxiy
我使用参考官方文档：http://www.paddlepaddle.org/documentation/docs/zh/1.2/beginners_guide/install/compile/compile_Ubuntu.html
能正常编译CUDA 10的PaddlePaddle，并能够正常使用，

[2019-01-08 01:13] #15172 closed, assigned to sneaxiy

[2019-01-08 01:16] yeyupiaoling commented on #15151
因为显卡RTX2070 只能使用CUDA 10以上，所以之前的错误就是这个原因。
我通过自己基于CUDA 10 和 CUDNN 7.4 编译得到的PaddlePaddle，能够正常使用。

[2019-01-08 01:16] #15151 closed, assigned to xuezhong

[2019-01-08 01:16] yeyupiaoling commented on #15140
因为显卡RTX2070 只能使用CUDA 10以上，所以之前的错误就是这个原因。
我通过自己基于CUDA 10 和 CUDNN 7.4 编译得到的PaddlePaddle，能够正常使用。

[2019-01-08 01:18] yeyupiaoling commented on #15171
@sneaxiy 如何能够通过的op拼出一个batch_norm？

[2019-01-08 01:44] wopeizl commented on #14939
@yeyupiaoling 感谢对paddlepaddle的支持，windows的GPU版本预期会在paddlepaddle1.3发布，时间大概在19年2月份某个时间点。

[2019-01-08 02:59] procr commented on #15016
先确定一下，这个模型是在T4上测试的对么？
用caffe原生的模型测试tensorrt float性能。
然后使用该工具：https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/caffe2fluid
将caffe模型转换成fluid模型。
再将fluid模型在paddle tensorrt以及paddle里面分别测试。

![image](https://user-images.githubusercontent.com/5010880/50806893-8d83dd80-1333-11e9-88f4-baf54ef5e425.png)
上表列出了ResNet50测试的结果，我们测的和你们测的似乎相差比较大。（包括vgg19和googlenet差别也很大）
能否分享你们测试用的上述三个模型（resnet50 v

[2019-01-08 03:01] Superjomn commented on #15016
caffe 和 paddle 对应的model有么，有的话可以提供下 @NHZlX

[2019-01-08 03:13] xprincehf opened #15205 "使用add_position_encoding在GPU上训练报错"
使用fluid.layers.add_position_encoding的时候，在CPU上可以正常训练，但是用GPU会报错
op add_position_encoding does not have kernel for data_type[float]
![image](https://user-images.githubusercontent.com/9077041/50807732-68449e80-1336-11e9-9d42-96ba80c80e39.png)

类似问题的issue有这些，该问题是否是同样bug
#14378  #12255 #14566

[2019-01-08 03:25] yeyupiaoling commented on #14939
@wopeizl 好的，感谢回答。

[2019-01-08 03:25] #14939 closed, assigned to nobody

[2019-01-08 03:29] yeyupiaoling opened #15206 "在训练时使用reader读取数据很慢"
# 环境
 - PaddlePaddle 1.2.0
 - Python 3.5
 - Ubuntu 16.04
 - 模型：MobileNet V1

# 问题
我使用以下的Python代码读取图像数据，但是每一次价值数据都很慢，比训练时间还长，这是什么原因呢？是否能解决？
[code]

[2019-01-08 04:12] wzzju commented on #15205
您好！我看了下`add_position_encoding`代码中并没有有关GPU的实现。
![image](https://user-images.githubusercontent.com/17102274/50808800-397cf700-133b-11e9-91d9-dc6190907e0a.png)
代码中没有以.cu为后缀的文件。`add_position_encoding`的逻辑您可以在数据预处理时完成。

[2019-01-08 04:29] yeyupiaoling commented on #14939
@wopeizl 会不会支持CUDA 10呢？我的显卡2070只能用CUDA 10。我使用Ubuntu编译CUDA 10的PaddlePaddle能成功。

[2019-01-08 05:23] NHZlX commented on #15016
@procr  我们是在p4上测试的结果。TensorRT原生你是用的` IProfiler`来测试的执行时间么, 或者说用的是TensorRT-4.0.1.6/samples/sampleGoogleNet/sampleGoogleNet.cpp 来进行的测试？

[2019-01-08 05:39] xprincehf commented on #15205
在预处理的时候完成是什么意思？目前我是在embedding之后使用了add_position_encoding层
代码如下：

[code]

[2019-01-08 05:49] xprincehf commented on #15205
错误信息如下
[code]

[2019-01-08 05:57] xprincehf commented on #15205
是否因为该算子不支持GPU模式，所以在使用GPU进行训练的时候导致了异常？可以设置部分算子单独使用CPU进行训练吗？

[2019-01-08 06:37] wzzju commented on #15205
您好！add_position_encoding的操作就是对输入数据做了一些简单的变换，我的意思是您可以选择在预处理时对数据做下这些变换。

[2019-01-08 06:42] haowang101779990 opened #15208 "layers op文档问题"
在对1,2英文文档走查后，发现layers op类别的文档出现了下面的问题：

![bug](https://user-images.githubusercontent.com/31058429/50812932-a5695a80-134f-11e9-99d6-ebd3f0c0b116.png)

以下是具有上图相同问题的api：

|同类问题api列表|
|-----|
abs
ceil
cos
exp
floor
logsigmoid
reciprocal
round
sigmoid
sin
softplus
softsign
sqrt
square
tanh
tanh_shrink

[2019-01-08 07:00] wzzju commented on #15205
该OP确实不支持在GPU上运行，但是这个op的编写者当初没有设计好，所以有些bug。我们框架的设计是这样的，如果某个op在GPU上没有实现的话，该op会自动选择在CPU上运行。您可以按照下面方式修改一下即可运行：
![image](https://user-images.githubusercontent.com/17102274/50814829-f4b28980-1355-11e9-981a-d08602d90ed7.png)

[2019-01-08 08:14] gongweibao opened #15212 "Make a c++ executor runner for gdb debug."

[2019-01-08 08:37] #15212 closed, assigned to gongweibao

[2019-01-08 08:54] procr commented on #15016
@NHZlX 我用的是tensorrt:18.11-py3，TensorRT原生的docker镜像。
里面有一个默认的指令giexec（参考：https://docs.nvidia.com/deeplearning/sdk/tensorrt-archived/tensorrt_210/tensorrt-user-guide/index.html）
测试指令如下
giexec --deploy=ResNet50.prototxt --output=prob --workspace=1024 --batch=1

[2019-01-08 10:35] NHZlX commented on #15016
@procr
看了一下 TensorRT-4.0.1.6/samples/trtexec/trtexec.cpp 的profiler实现，这个和paddle-trt的统计的区别在于，paddle-trt会多出一次cpu->gpu 的输入copy，以及一次gpu->cpu 的输出copy。在V100 下的时间看起来还是合理的。在T4下的结果感觉有点意外。

[2019-01-08 11:06] qnqinan commented on #12986
![image](https://user-images.githubusercontent.com/25759045/50827058-6f8c9c00-1378-11e9-930e-e0dbef7706db.png)
，请问这个问题解决了没有，我们也有这个需求

[2019-01-08 11:23] NHZlX commented on #15016
@procr 目前手里没有T4机器，最近看看能不能申请到，然后测试一下。

[2019-01-08 11:23] yxnal opened #15221 "paddle.fluid.LoDTensor数据可以转为numba.cuda.cudadrv.devicearray.DeviceNDArray数据结构吗"
paddle.fluid.LoDTensor数据可以转为numba.cuda.cudadrv.devicearray.DeviceNDArray数据结构吗？

[2019-01-08 11:25] NHZlX opened #15223 "我自己的开发机上使用docker安装paddle 我怎么查看paddle版本号？"
如何查看paddle的版本号？

[2019-01-08 11:26] NHZlX commented on #15223
运行 `paddle version` 会看到如下信息：
[code]

[2019-01-08 11:26] #15223 closed, assigned to NHZlX

[2019-01-08 12:18] CruiseSun opened #15224 "Fluid 单机 infer时遇到报错PrefetchRPC Error"
![image](https://user-images.githubusercontent.com/20597775/50830358-8a640e00-1382-11e9-9cb3-1f4d4c177c1c.png)

[2019-01-08 12:18] CruiseSun commented on #15224
请问在做infer的时候遇到这种错误是什么原因呢？之前非增量的时候是可以正确infer的，可是现在反复报这个错误了。

[2019-01-08 12:22] wzzju commented on #15206
您好！建议您使用py_reader，并参考链接：https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/reader.py
以及https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/train.py 。

[2019-01-08 12:33] wzzju commented on #15221
您好！您可以先将paddle.fluid.LoDTensor转成numpy数组，然后再通过numpy数组转成您想要的格式。paddle.fluid.LoDTensor支持向numpy数组的转换。

[2019-01-08 12:34] forpure opened #15225 "IfElse使用出错，ConditionalBlockGradInferShape"
<img width="670" alt="image" src="https://user-images.githubusercontent.com/11329225/50831039-94870c00-1384-11e9-9dc5-35b006d4f36e.png">
按照API方式使用IfElse，对输入数据分开算loss，最后执行时报如下错误：
<img width="1320" alt="image" src="https://user-images.githubusercontent.com/11329225/50831139-e92a8700-1384-11e9-8897-7bc5764ee79f.png">
请问下可能是哪里有问题呢？

[2019-01-08 14:33] yeyupiaoling commented on #15206
@wzzju 这个好像跟我的一样哦！

[2019-01-08 14:39] chengduoZH commented on #15201
看样子好像是数据读取的问题，你用两块跑有问题吗？

[2019-01-09 00:33] yeyupiaoling opened #15228 "图像分类中如何定义符合网络的优化方法？"
这对图像分类来说，如何定义一个符合该模型的优化方法呢？依据是什么？比如下面的[models](https://github.com/PaddlePaddle/models)中图像分类的优化方法，它们的依据是什么？
https://github.com/PaddlePaddle/models/blob/62148b786dfc1adc6c32b3ab4b1807edc1b259a1/fluid/PaddleCV/image_classification/train.py#L54-L120
[code]

[2019-01-09 01:35] jacquesqiao commented on #15154
pserver的startup program和单机的不太一样，我给你找个例子

[2019-01-09 01:37] jacquesqiao commented on #15154
seg_lr_Factors@GRAD 这个是梯度，为啥会被load回来? 单机是怎么save的模型，存下来的内容截个图看看？

[2019-01-09 02:09] luotao1 opened #15230 "Ngraph compile error in debug mode"
In nighly debug job, there is ngraph compiler error.
http://ci.paddlepaddle.org/viewLog.html?buildId=46821&tab=buildLog&buildTypeId=Paddle_CiDebug&logTab=tree&filter=all&_focus=18816
[code]

[2019-01-09 02:27] yxnal commented on #15221
感谢你的回答！我理解您提供的方法是在cpu内存中的操作吧？如果我通过如下方式创建在gpu内存中的LoDTensor数据tensor：
place = fluid.CUDAPlace(0)
tensor = fluid.LoDTensor()
tensor.set([[1]], place)
tensor.set_recursive_sequence_lengths([[1]])

然后，想要获取tensor首元素的gpu地址,请问有获取的方法吗？
例如在torch中的获取方法：
torch_tensor = torch.cuda.FloatTensor(5, 5)     #torch_tensor在gpu内存中创建的torch的tensor数据结构
ptr = torch_tensor.data_ptr()          #ptr为torch_tensor首元素的gpu内存地址。

[2019-01-09 02:28] baojun-nervana commented on #15230
@luotao1 How can I run debug mode to reproduce this issue?

[2019-01-09 02:33] luotao1 commented on #15230
`cmake .. -DCMAKE_BUILD_TYPE=Debug`

[2019-01-09 02:43] BryceLuminary opened #15231 "编译错误：external-mkldnn repo"
   1）PaddlePaddle版本：commit a037378
    2）CPU：--
    3）GPU：--
    4）系统环境：CentOS 6.3 线上版本

源码编译，但是 Paddle/cmake/external/mkldnn.cmake 中 GIT_REPOSITORY 使用的是

[2019-01-09 02:43] BryceLuminary opened #15232 "编译错误：external-mkldnn repo"
PaddlePaddle版本：commit a037378
系统环境：CentOS 6.3 厂内线上版本

源码编译，但是 Paddle/cmake/external/mkldnn.cmake 中 GIT_REPOSITORY 使用的是旧 repo 地址 https://github.com/01org/mkl-dnn.git
，在**不允许重定向**时（如内网 github mirror），会导致编译卡住。请修改为
https://github.com/intel/mkl-dnn.git

[2019-01-09 02:49] wzzju commented on #15206
Yes, you can refer to them.

[2019-01-09 03:02] zzhzz opened #15233 "如何在本地运行所有的Operator的单元测试？"
我提交了 PR#15217 但是PR_CI_python35运行单测时在一个与我提交代码无关的位置出错了。我希望在本地复现错误，确定错误的问题。请问有什么办法可以在编译完成后直接启动所有的单测？

[2019-01-09 03:09] luotao1 commented on #15231
close due to #15232

[2019-01-09 03:09] #15231 closed, assigned to nobody

[2019-01-09 03:09] jerrywgz commented on #15233
如果是与代码无关的位置出错我们这边相关的负责人会进行处理，启动所有单测可以用ctest -R

[2019-01-09 03:21] sneaxiy commented on #15171
以下是通过其他op拼batch_norm的方法：
[code]

[2019-01-09 03:24] yeyupiaoling commented on #15171
@sneaxiy 好的，谢谢您的耐心解答。

[2019-01-09 03:24] #15171 closed, assigned to sneaxiy

[2019-01-09 03:39] AWSWXY opened #15234 "提交集群任务失败"
提交集群任务返回None

[2019-01-09 03:41] jerrywgz commented on #15234
麻烦贴出些log吧

[2019-01-09 03:41] AWSWXY commented on #15234
connect to receiver:  yq01-idl-gpu-offline14.yq01.baidu.com:9296
compressing thirdparty files
finished to pack request
starting to submit to server
None

[2019-01-09 03:49] AWSWXY commented on #15234
![image](https://user-images.githubusercontent.com/18156360/50875712-97c1dc80-1404-11e9-8647-ccf656e12a74.png)

[2019-01-09 05:01] lighthearts commented on #15154
![image](https://user-images.githubusercontent.com/5125449/50877835-af05c780-140e-11e9-9b6e-63c96d08007b.png)
`fluid.io.save_persistables(exe, model_dir, train_program)`
就用的这个语句存的

[2019-01-09 05:13] typhoonzero commented on #15234
v2 job用8090, 8091端口

[2019-01-09 05:54] #15232 closed, assigned to luotao1

[2019-01-09 07:52] luotao1 opened #15240 "trt_mobilenet_demo fails in CI"
http://ci.paddlepaddle.org/viewLog.html?buildId=46546&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all&_focus=30717#_state=76
[code]
Since `trt_mobilenet_demo` doesn't have following lines, it will not report error if it crashes.
https://github.com/PaddlePaddle/Paddle/blob/223cc89f0be6d5b38bf88b1a73cea72cec2e3569/paddle/fluid/inference/api/demo_ci/run.sh#L96-L99

[2019-01-09 08:28] wzzju commented on #15221
您可以使用`fluid.global_scope().find_var(var_name).get_tensor()`来获取tensor首元素的gpu地址，但是这只针对于网络的参数变量可以这样使用，对于中间结果变量不能这样使用。对于“paddle是否支持 numba cuda array_interface？”这个问题，回答应该是“不支持的”，至少之前还没有见过这样使用的。

[2019-01-09 09:12] EchoCX opened #15243 "Check failed: outG && outV && inV1 && inV2 && inG1 && inG2"
I0109 17:02:55.147073 18162 Util.cpp:166] commandline: --use_gpu=False --trainer_count=1
(1000002, 128)
[INFO 2019-01-09 17:04:00,371 train.py:73] create a sequence_conv_pool whose context width is 3.
[INFO 2019-01-09 17:04:00,374 train.py:73] create a sequence_conv_pool whose context width is 3.
I0109 17:04:05.276542 18162 GradientMachine.cpp:94] Initing parameters..
I0109 17:04:45.933693 18162 G

[2019-01-09 09:13] EchoCX commented on #15243
# input layer
    unit_emb = paddle.layer.data(name='unit', type=paddle.data_type.dense_vector(emb_size))
    pos_title = paddle.layer.data(name='pos_title', type=paddle.data_type.integer_value_sequence(vocab_size))
    neg_title = paddle.layer.data(name='neg_title', type=paddle.data_type.integer_value_sequence(vocab_size))
    label = paddle.layer.data(name='label', type=paddle.data_type.integer_

[2019-01-09 10:55] jerrywgz commented on #15243
请问您使用的是v2版本吗

[2019-01-09 10:59] 333caowei opened #15244 "本地训练正常，mpi训练在每轮结束infer时候报错sequence_pooling Expected idx_dims == og_dims, but received idx_dims"
训练集和验证集使用相同的文件，在mpi上面训练当第一轮训练结束时候，进行infer，
即使用test_program = fluid.default_main_program().clone(for_test=True)，但是提示下述错误：
[code]

本地运行却正常（和mpi完全相同的数据和代码）

[2019-01-09 11:09] EchoCX commented on #15243
def create_cnn(emb, prefix):
    def create_conv(context_len, hidden_size, prefix):
        key = "%s_%d_%d" % (prefix, context_len, hidden_size)
        conv = paddle.networks.sequence_conv_pool(
            input=emb,
            context_len=context_len,
            hidden_size=hidden_size,
            # set parameter attr for parameter sharing
            context_proj_param_attr=ParamAttr(name=

[2019-01-09 11:10] EchoCX commented on #15243
是的

[2019-01-09 11:11] jerrywgz commented on #15243
能否转为fluid，现在v2版本我们已经不再维护了

[2019-01-09 11:12] EchoCX commented on #15243
这里的报错是转了fluid就可以解决么？

[2019-01-09 11:21] jerrywgz commented on #15243
大部分问题在fluid下是可以解决的，如果还有问题也会有相应负责人处理

[2019-01-09 11:27] 333caowei commented on #15143
hi上联系把，caowei07

[2019-01-09 11:28] EchoCX commented on #15243
fluid的API求一下连接

[2019-01-09 11:30] jerrywgz commented on #15243
http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html

[2019-01-09 11:58] typhoonzero commented on #15244
看上去是在跑`sequence_pooling`反向op的时候挂的，infer应该不会跑反向，可以看下前面python 的traceback么？

[2019-01-09 12:30] shippingwang commented on #15228
@yeyupiaoling
您是指 decay 还是optimizer ？
1. 尽量应用论文的方法
2. 调优，哪个好用哪个，也凭借经验
3. TODO：加入一些模型的调优方法论

[2019-01-09 12:51] 333caowei commented on #15244
经过咨询问题已解决，原因如下：
之前的代码：
[code]
上述代码test_program = fluid.default_main_program().clone(for_test=True)放置于optimizer定义之后，导致infer阶段也会进行反向传播，而由于for_test的特殊性，导致报错。

应该修改成：
[code]

[2019-01-09 12:51] #15244 closed, assigned to nobody

[2019-01-09 13:31] #15234 closed, assigned to nobody

[2019-01-09 14:12] yeyupiaoling commented on #15228
@shippingwang
我指的是optimizer，decay又是何物？

这个是什么呢？

[2019-01-09 15:02] #15137 closed, assigned to mozga-intel

[2019-01-10 02:19] yeyupiaoling opened #15257 "PaddlePaddle训练中的reader读取数据时是否允许有异常？"
# 环境
 - PaddlePaddle 1.2.0
 - Python 3.5
 - Ubuntu 16.04

# 问题
比如我按照以下的代码片段处理，如果try块中有异常，是否会影响训练。实际测试中并不会退出训练，但就是不知道是否会对训练有影响，比如影响模型数据读取的准确性。
[code]

[2019-01-10 02:34] #15240 closed, assigned to NHZlX

[2019-01-10 03:12] frankwhzhang commented on #15257
请问这是哪块的代码 是Models目录下面的吗

[2019-01-10 03:34] yeyupiaoling commented on #15257
@frankwhzhang 这个是我自己写的。

[2019-01-10 03:56] luotao1 opened #15259 "CMake warning in demo_ci"
[code]
http://ci.paddlepaddle.org/viewLog.html?buildId=47710&buildTypeId=Paddle_PrCi&tab=buildLog&_focus=30553#_state=83

[2019-01-10 03:57] yeyupiaoling opened #15260 "在训练时报错Assertion `label[i] >= 0 && label[i] < D || label[i] == ignore_index` failed."
# 环境
 - PaddlePaddle 自己编译的，应该比较1.2.0高一些
 - Python 3.5
 - Ubuntu 16.04

# 问题
在训练的时候报以下错误：
[code]

[2019-01-10 04:00] yeyupiaoling commented on #15260
问题解决：
原因是我使用官方的预训练模型进行初步训练时，设置的label为8，但是之后更新了数据集，类别的数量以及是9了，所以再使用以前的预训练模型进行初始化模型，并训练的时候，就会报这个错误。

[2019-01-10 05:14] wopeizl commented on #15259
https://github.com/PaddlePaddle/Paddle/pull/15261

[2019-01-10 05:56] frankwhzhang commented on #15260
问题已经解决，关闭这个issue

[2019-01-10 05:56] #15260 closed, assigned to nobody

[2019-01-10 07:24] forpure opened #15263 "embedding使用is_distributed=True出错"
def sparse_embedding_layer(input):
            """
            sparse_embedding_layer
            """
            emb = fluid.layers.embedding(
                input=input, dtype='float32', size=[SPARSE_FEATURE_DIM, EMBEDDING_DIM],
                param_attr=sparse_emb_param, is_sparse=True, is_distributed=True)
            return fluid.layers.sequence_pool(input=emb, pool_type='average')

如上加上is_

[2019-01-10 08:21] wopeizl opened #15264 "AI studio平台分布式训练socket close错误"
AI平台分布式训练出错，提示 Socket close

Paddle版本 1.2

AI 出错地址 ： https://ai.baidu.com/forum/topic/show/941986

训练文件集：https://ecloud.baidu.com?t=b5c9a4bf37f6ad7ecad86b3d2ee1f3c3

2019-01-09T01:54:12.264223554Z F0109 01:54:12.263927 148 grpc_client.cc:357] GetRPC name:[conv1_1_3_3_s2.w_0], ep:[192.168.158.161:7164], status:[-1] meets grpc error, error_code:14 error_message:Socket closed error_details:
2019-01-0

[2019-01-10 08:21] wopeizl commented on #15264
[code]

[2019-01-10 09:05] jerrywgz opened #15265 "dynamic_gru传入的fc是否需要设置激活"

[2019-01-10 09:05] jerrywgz commented on #15265
传统的dynamic_gru之前的fc是不需要设置激活的，在books中的一个模型：https://github.com/PaddlePaddle/book/blob/develop/08.machine_translation/ 对fc设置了激活，这不是传统的gru，在实际模型训练过程中，这样设置可能会带来一定收益

[2019-01-10 09:05] #15265 closed, assigned to nobody

[2019-01-10 09:05] Yancey0623 commented on #14965
感谢 @yeyupiaoling , 先关闭这个issue了，问题若有更新可随时打开。

[2019-01-10 09:05] #14965 closed, assigned to Yancey0623

[2019-01-10 09:06] Yancey0623 commented on #14969
由于长时间未有更新的消息，先关闭这个issue了，如有更新可随时重新打开。

[2019-01-10 09:06] #14969 closed, assigned to Yancey0623

[2019-01-10 09:06] Yancey0623 commented on #14947
由于长时间未有更新的消息，先关闭这个issue了，如有更新可随时重新打开。

[2019-01-10 09:06] #14947 closed, assigned to Yancey0623

[2019-01-10 09:06] Yancey0623 commented on #14946
由于长时间未有更新的消息，先关闭这个issue了，如有更新可随时重新打开。

[2019-01-10 09:06] #14946 closed, assigned to Yancey0623

[2019-01-10 09:16] shippingwang commented on #15228
@yeyupiaoling
[optimizer的介绍](https://arxiv.org/pdf/1609.04747.pdf) 中提到一些策略
可以参考一下，训练模型，选择哪个优化器是研究工作，没有说哪一个是最好的，这里的Momentum您可以换成其他的。现在发布的模型都是尽量选择了和论文一致的optimizer。

[2019-01-10 09:18] yeyupiaoling commented on #15228
@shippingwang 好的，谢谢回答。

[2019-01-10 09:18] #15228 closed, assigned to shippingwang

[2019-01-10 09:28] jiangjiajun opened #15267 "fluid.layer.shape 返回的数据类型问题"
在文档中http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#permalink-149-shape 提到shape返回的是是int32类型的形状，但测试发现跟输入的数据类型一致（测试了int32的输入和float32的输入）。

查阅代码中看到输出的定义确实是与输入的数据类型一样
def shape(input):
    """
    ${comment}

    Args:
        input (Variable): ${input_comment}

    Returns:
        out (Variable): ${out_comment}

    """

    helper = LayerHelper('shape', **locals())
    o

[2019-01-10 09:53] #15259 closed, assigned to wopeizl

[2019-01-10 11:27] frankwhzhang commented on #15267
形状的数据类型是int32 , 应该指的是[3,100,100] 里面的3，100是int32

[2019-01-10 11:29] jiangjiajun commented on #15267
对的，我指的即是 result = fluid.layers.shape(inputs)
返回的result的dtype为float32型（在inputs的dtype为float32的前提下）

[2019-01-10 11:32] jiangjiajun commented on #15267
我这边在做的一件事是将tensorflow的模型转换为paddle模型，发现tensorflow的shape得到的结果为int32型，而paddle得到的则为float32型，导致后面使用shape结果与另外的tensor进行concat时提示出错。
目前我这边的解决方法是再调用一个fluid.layers.cast(result, dtype='int32')

[2019-01-10 11:44] gaoyiyeah commented on #11152
@chenbblei 使用addto遇到同样的问题，请问你最后怎么解决的？

[2019-01-10 12:40] LihangLiu commented on #15133
我也碰到了这个问题，请问是怎样的配置可以绕过？

[2019-01-10 13:37] wanghaoshuang commented on #15267
感谢反馈。这个应该是python API里的一个bug: https://github.com/PaddlePaddle/Paddle/blame/develop/python/paddle/fluid/layers/nn.py#L8353

我们会尽快修复。

[2019-01-10 14:03] wangty163 opened #15270 "输入等于输出的mlp的模型save问题"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [x] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [x]

[2019-01-10 14:08] wangty163 commented on #15270
[code]

这样的模型我需要怎么保存？

[2019-01-10 14:19] forpure opened #15272 "高维embedding，小数据集上训练成功，大数据集上出错"
网络中embedding层dim约530w*16，在小数据集上用户一个节点测试跑执行成功，但换到大数据集50个节点跑执行失败，错误信息：
++ /home/disk1/normandy/maybach/app-user-20190110210313-61/workspace/python27-gcc482/bin/python train.py
get_pserver_program() is deprecated, call get_pserver_programs() to get pserver main and startup in a single call.get_startup_program() is deprecated, call get_pserver_programs() to get pserver main and startup in a single cal

[2019-01-10 15:08] wojtuss commented on #14988
@panyx0718 any update on that?
A quick check showed that simple limiting `SetShape()` to LodTensor or LodTensorArray `while_op`'s inputs doesn't solve the issue.

[2019-01-10 15:24] freekoy commented on #15144
@xuezhong  此分支如何下载？？找不到下载的方法？fd82711e37

[2019-01-11 02:50] wangguibao commented on #15270
可以像这样用一个assign layer

[code]

[2019-01-11 02:56] dzhwinter commented on #14637
复现不了你的测试结果。
我用你的code，把数据换成cifar10或者mnist,下降log是
[code]

[2019-01-11 02:56] dzhwinter commented on #14637
你再看看？

[2019-01-11 02:58] yeyupiaoling commented on #14637
@dzhwinter 这样吗？好吧。那您觉得理论上会出现我那种情况吗？比如PaddlePaddle没有记录上一个pass的参数，导致每次都要重新开始训练。这种情况是否存在？

[2019-01-11 03:03] dzhwinter commented on #14637
不会出现。仔细看你的log，每次都是重新开始训练的，你再检查一下吧。

[2019-01-11 03:03] frankwhzhang commented on #15257
这个应该是可以自己处理的，如果想继续训练应该是没关系的，只是这个batch不生效。

[2019-01-11 03:04] dzhwinter commented on #14637
贴一下我复现时候的code:
[code]

[2019-01-11 03:12] yeyupiaoling commented on #14637
@dzhwinter 好的，谢谢回答。

[2019-01-11 03:12] #14637 closed, assigned to dzhwinter

[2019-01-11 03:31] yeyupiaoling commented on #15257
@frankwhzhang 好的，谢谢。

[2019-01-11 03:31] #15257 closed, assigned to nobody

[2019-01-11 03:32] dhx1989 opened #15274 "paddle inference库多线程预估结果错误"
版本： v1.1.0， cpu openblas ， c++预测

多线程预估版本实现参考demo实现

1. 单线程版本输入n个tensor，输出n个不同结果
2. 多线程版本输入和单线程一样tensor，输出结果与单线程结果不同， 概率发生

可以稳定复现此问题

[2019-01-11 03:36] CruiseSun opened #15275 "fluid.io.load_persistables报错"
![image](https://user-images.githubusercontent.com/20597775/51011839-22394600-1595-11e9-8a2c-1ce1c334e685.png)

[2019-01-11 03:42] jiangjiajun opened #15276 "resize_nearest与tensorflow.image.resize_nearest_neighbor差异"
两个接口的定义分别为
[code]

[code]
测试中发现，同样的输入，只有在tensorflow接口里align_corners=True的前提下，输出才无diff

请问是否有方法，在align_corners=False的情况下，使PaddlePaddle和Tensorflow得到同样的输出结果呢

[2019-01-11 03:46] #15230 closed, assigned to mozga-intel

[2019-01-11 03:49] luotao1 commented on #15032
@jczaja @jianhang-liu @yihuaxu
`test_analyzer_small_dam` timeouts at `compare_mkldnn` again. Does the mkldnn kernel of `conv3d` have problem?
http://ci.paddlepaddle.org/viewLog.html?buildId=48242&tab=buildLog&buildTypeId=Paddle_PrCiNight&logTab=tree&filter=all&_focus=23274

[2019-01-11 04:31] LihangLiu commented on #15163
我这边自己实现了一个多线程的data feeder版本，发现如果提前准备多个batch的feed data（从numpy array变成lod tensor），就会出跟py reader同样的问题，请问从这个现象可以看出问题所在么？

[2019-01-11 04:37] luotao1 commented on #15032
@jczaja The detail machine configuration: http://ci.paddlepaddle.org/viewLog.html?buildId=48242&tab=buildLog&buildTypeId=Paddle_PrCiNight&logTab=tree&filter=all&state=65&_focus=75#_state=65,34
[code]

[2019-01-11 05:31] velconia opened #15282 "WITH_MKLDNN=ON 导致模型变慢"
排查发现，WITH_MKL=ON时，FLAGS_initial_cpu_memory_in_mb会被设置为 5000

所以**所有使用 py_reader double_buffer 的模型在训练时，都会初始化 5G 的内存**，用于set tensor;

消耗过大，而且由于allocator性能的原因，这也会导致速度降低；

workaround:
1. 手动改小 FLAGS_initial_cpu_memory_in_mb 值，提升性能；

带 fix 问题：
1. 提升allocator性能，MaxSize变大时也能保证性能；
2. WITH_MKL=ON时，不应该设置更大的FLAGS_initial_cpu_memory_in_mb; 浪费内存

[2019-01-11 05:36] sneaxiy opened #15283 "用户使用momentum optimizer时出现cast op输入不存在错误"
用户反馈在使用momentum optimizer时append backward出现cast op错误，用其他optimizer未出现错误。

Paddle版本release 1.2。

code:
[code]

错误log（编译期错误）：
[code]

解决方案：将某些不需要梯度的变量设置为stop_gradient=True，例如
[code]

[2019-01-11 06:07] sneaxiy commented on #15163
建议您检查下每次组成的lod_tensor维度是否是正确的。出现这种问题可能是某次feed的数据维度不对。

[2019-01-11 06:13] hshen14 commented on #14466
Seems the variable creation is necessary, because: 1) the first time compile time (IR pass); and 2) the second time during runtime. Will close it.

[2019-01-11 06:13] #14466 closed, assigned to Superjomn, panyx0718

[2019-01-11 06:14] velconia commented on #15143
OK, close this issue first

[2019-01-11 06:14] #15143 closed, assigned to velconia, frankwhzhang

[2019-01-11 06:30] luotao1 commented on #15282
@velconia The more accurate reason is `WITH_MKLDNN=ON`. Related codes:
https://github.com/PaddlePaddle/Paddle/blob/869f3a9dde1f533ca7ad3cb5a2daedde2044deb6/paddle/fluid/platform/cpu_info.cc#L39-L50

[2019-01-11 06:35] luotao1 commented on #15282
I translate https://github.com/PaddlePaddle/Paddle/issues/15282#issue-398137989 into English.

When `WITH_MKL=ON`, FLAGS_initial_cpu_memory_in_mb=5000.
Thus, all models using `py_reader double_buffer` will allocate 5G memory for setting tensor.
It cause a lot of time and memory, and make the models run slower.

Workaround:
- `FLAGS_initial_cpu_memory_in_mb=500` manually.

TODO：
- refine allocator

[2019-01-11 06:39] luotao1 commented on #15282
Supplementary information of this issue：
- `WITH_MKL=ON` runs 30% slower than `WITH_MKL=OFF`
- This model runs on GPU.
- This model is small, only has 100 FC ops.

The default release whls (like `pip install paddlepaddle-gpu==1.0.1` ) have `WITH_MKLDNN=ON`. If `FLAGS_initial_cpu_memory_in_mb` could not be `500M` in default, we will remove mkldnn-related codes in such whls.

[2019-01-11 06:41] yeyupiaoling opened #15284 "官方提供的MobileNet_V2代码是否有问题？"
# 环境
 - PaddlePaddle 1.2.0
 - Ubuntu 16.04
 - Python 3.5

# 问题
我在官方提供的models下使用了[mobilenet_v2](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/models/mobilenet_v2.py)，但是感觉有问题，对比mobilenet_v1来说，输入的图片宽高都是224，mobilenet_v1训练时可以使用batch size 设置为64，还绰绰有余。我的显卡是8G的。但是使用mobilenet_v2，batch size只能设置为8，而且训练速度比mobilenet_v1慢很多很多，而且收敛也比mobilenet_v1慢很多，准确率也比mobilenet_v1要低。

[2019-01-11 07:04] EchoCX opened #15285 "训练出core"
*** Aborted at 1547189448 (unix time) try "date -d @1547189448" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGILL (@0x7f4cf288a002) received by PID 14906 (TID 0x7f4d13b58700) from PID 18446744073483624450; stack trace: ***
    @       0x318b20f500 (unknown)
    @     0x7f4cf288a002 paddle::framework::VisitDataType<>()
    @     0x7f4cf28722ff paddle::operators::math::set_

[2019-01-11 07:04] EchoCX commented on #15285
unit = fluid.layers.data(name='unit_emb', shape=[128], dtype='float32')
    pos = fluid.layers.data(name='pos_ids', shape=[1], dtype='int64', lod_level=1)
    neg = fluid.layers.data(name='neg_ids', shape=[1], dtype='int64', lod_level=1)
    label = fluid.layers.data(name='label', shape=[1], dtype='int64')

    pos_emb = fluid.layers.embedding(input=pos, size=[dict_dim, 128], is_sparse=True)
    n

[2019-01-11 07:09] jerrywgz commented on #15225
请问你if else的使用逻辑是什么样的？方便贴下部分代码吗

[2019-01-11 09:24] wangguibao commented on #15275
@jacquesqiao 在帮忙看

[2019-01-11 09:35] wangguibao commented on #15274
跟用户线下在看

[2019-01-11 09:40] sonofaeolus opened #15289 "rnn接embeding时出错 paddle.fluid.core.EnforceNotMet: Enforce failed. Expected ids_dims[ids_rank - 1] == 1, but received ids_dims[ids_rank - 1]:-1 != 1:1."
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
- 模型信息
    1）模型名称 2）使用数据集名称 3）使用算法名称 4）模型链接
- 复现信息：如为报错，请给出复

[2019-01-11 09:43] forpure commented on #15225
方便发下你的hi吗，我私发给你

[2019-01-11 09:45] sonofaeolus commented on #15289
关键部分代码（G_net是个seq2seq网络）：
words_prob = G_net(src_word_id, ctr_word_id, ctr_label)
words_id = fluid.layers.argmax(words_prob, axis = 1)
emb_layer = fluid.layers.embedding(input = word_id, size = [dict_size, emb_size], is_sparse = True)

[2019-01-11 09:57] heavengate commented on #15276
对比了下tensorflow的代码，align_corners为True时是对下标值取round，为False时是对下标值取floor，当前实现是按取round的方式，目前还不支持取floor这种方式，当前版本暂时不能支持align_corners=False的情况了，我们会尽快增加这个模式，预计可能要到下一个版本生效了。

[2019-01-11 10:05] wojtuss commented on #15282
@luotao1 , the 500MB is enough now. PR with changes is submitted: https://github.com/PaddlePaddle/Paddle/pull/15291

[2019-01-11 10:07] shippingwang commented on #15284
@yeyupiaoling
MobileNetV1: P40 单卡 22G batch_size 极限410左右
![image](https://user-images.githubusercontent.com/13645332/51026554-b3c2ab00-15c9-11e9-851a-7b65026646e1.png)
MobileNetV2: P40 单卡 22G batch_size 极限220左右
![image](https://user-images.githubusercontent.com/13645332/51027050-e1f4ba80-15ca-11e9-9259-f41ee89cda2e.png)
加dropout 大概280左右。
等我再看下我们实现的参数量

[2019-01-11 10:07] hshen14 commented on #15282
@wojtuss May I know the reason why 500MB is enough now?

[2019-01-11 16:36] jczaja commented on #15032
@luotao1 When We look at specification of Xeon Gold 5117:
https://ark.intel.com/products/122460/Intel-Xeon-Gold-5117-Processor-19-25M-Cache-2-00-GHz-

There is 14 cores within single socket. And specification you sent/from logs is 16 sockets with 1 core in each socket. So Please tell me:
1) Why those specifications are different?
2) How virtualization was done? (what virtualization software used)

[2019-01-12 06:09] #15282 closed, assigned to Superjomn, panyx0718, luotao1, wojtuss, sneaxiy, mozga-intel

[2019-01-12 07:38] wangguibao commented on #15285
怀疑指令集不兼容，请用户提供机器和运行环境看下现场，截至目前未收到回复。

[2019-01-12 13:53] baihaojie2011 opened #15297 "安装错误_win10专业版_fluid1.2_pip安装_“image找不到”"
你好，我的笔记本电脑是 win10专业版，anaconda2，python 3.6，pip version 18.1
命令： pip install paddlepaddle

安装成功
但是，运行失败，效果如图
![500](https://user-images.githubusercontent.com/27996442/51074016-463f7900-16b4-11e9-9969-5190f2649d0c.png)

尝试过两次，都是失败了，请您看一下什么问题，谢谢

[2019-01-12 14:31] littletomatodonkey opened #15299 "layers怎么获取指定位置的元素"
使用argsort对layers进行操作之后，想取出其中的前若干个元素，但是会爆
'''
'Variable' object has no attribute '__getitem__'
'''
的问题，我想问一下怎么获取layer中特定位置的元素，谢谢

[2019-01-12 14:34] littletomatodonkey commented on #15299
还有，想问一下paddle的detection中会考虑实现FPN中类似于的caffe2的CollectAndDistributeFpnRpnProposalsOp的op吗？

[2019-01-13 08:09] nqluowei opened #15303 "集群训练为什么我用load_params加载的参数只在第一个exe.run的损失值是对的?"
2019-01-13T06:22:59.450554314Z USER:this is trainer
2019-01-13T06:22:59.450560864Z USER:pre-model loading success! #利用load_params加载好参数
2019-01-13T06:22:59.450605417Z ('USER:\nepoch', 0, 'start train...')
2019-01-13T06:23:21.355858314Z USER:train epoch: 0/1  batch: 0/9864 loss: 0.889217  #第一个batch没问题
2019-01-13T06:23:43.558823177Z USER:train epoch: 0/1  batch: 1/9864 loss: 3.026080 #后续损失值变大，回到了未训练的

[2019-01-13 14:12] wanghaoshuang commented on #9989
这个应该是某些梯度回传失败，需要手动将某些parameter的stop_gradient设置为True. 可以借助fluid.layers.Print定位具体哪个op的梯度回传失败。

[2019-01-13 23:52] hshen14 opened #15305 "Bug in is_test pass"
In is_test pass, the code will check the whether op has attribute or op defines is_test first and then whether op exists in the specified op_list.

[code]
The right logic should check op first and then the op attribute. Please consider to fix it. @kbinias

[2019-01-14 00:00] gavin1332 commented on #15299
先讨论第一个问题。请详细描述一下需求，以及你是怎么取的？

[2019-01-14 03:18] gavin1332 commented on #15299
http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#topk
step1. fluid.layers.topk得到前K个索引
step2. fluid.layers.one_hot将topk改为one hot表示
step3. fluid.layers.elementwise_mul完成select

[2019-01-14 03:26] #15233 closed, assigned to nobody

[2019-01-14 03:54] jerrywgz commented on #15225
wangguanzhong

[2019-01-14 05:03] yxnal commented on #15221
感谢解答！您提供的fluid.global_scope().find_var(var_name).get_tensor()方法是否支持，通过paddle的create_tensor、create_parameter、create_global_var这三种方法创建的数据结构？
还有这个方法只支持网络参数变量吗，支持训练数据吗？

[2019-01-14 05:16] Xreki commented on #15289
`embedding`输入的size必须是`[x, x, ..., 1]`这样的，也就是说最后一个维度必须是1，先确认一下`words_id`的shape是多少？可以调用`fluid.layers.reshape`先将`word_id` reshape一下。

[2019-01-14 06:32] yeyupiaoling commented on #15284
@shippingwang 我发现问题所在了，我之前是照着打的，参数打错了。我这次克隆的，８G显存，batch size极限也只有42左右。按照你的测试结果计算，我的应该有70左右。
还有，想问一下，P40的显卡很强吗？我的是2070，batch size为42时，每个batch的时间约为1.8s，你的batch size为220，每个batch的时间也只有2.6s。我发现我的显卡使用率很低，如图所示，只有1%，这样有问题吗？

![image](https://user-images.githubusercontent.com/26297768/51099005-eb6b6600-1808-11e9-8d1a-09d18ef52bf7.png)

![image](https://user-images.githubusercontent.com/26297768/51099011-fd

[2019-01-14 06:52] yeyupiaoling commented on #15206
@wzzju 我还有个疑问，为什么你给的这个例子，他的batch不使用shuffle呢？是不是图片太多，设置这个以及毫无意义了是吗？因为shuffle没有覆盖全部的图片，导致每次训练的时候，还有清空之前的缓存，再重新缓存，这就使得缓存毫无意义了，是吗？
[code]
[code]

[2019-01-14 06:57] yeyupiaoling commented on #15284
@shippingwang 我发现我的速度很慢，时间基本上是花在数据读取中了。如果我使用缓存的方式，每个batch的速度就很快。但是大概110个batch之后，又要重新缓存，每次缓存都消耗大量的时间。数据读取比训练时间还长，这有办法解决吗？

![image](https://user-images.githubusercontent.com/26297768/51099531-42bf0580-180c-11e9-9a05-610d41eac2bd.png)

[2019-01-14 07:08] gongweibao opened #15308 "Hide varhandle's members."

[2019-01-14 07:09] gongweibao opened #15309 "Wait for ophandlebase in benchmark node."

[2019-01-14 07:13] gongweibao opened #15311 "Embedding_para@GRAD is not deleted when batch finish."

[2019-01-14 07:20] sonofaeolus commented on #15289
reshape可以 但是我发现argmax结果不是一个lodtensor了 有没有类似的argmax的op输出是lodtensor的 或者一个tensor怎么转换为一个lodtensor

[2019-01-14 07:32] Xreki commented on #15289
可以使用`lod_reset`，http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#lod-reset

例如：

[code]

[2019-01-14 07:43] gongweibao opened #15314 "Speed up dropout use cublas."

[2019-01-14 07:47] gongweibao opened #15315 "Elementwise use cublas instead of eigen."

[2019-01-14 07:56] yeyupiaoling commented on #15206
@wzzju 我觉得数据读取真的很慢。下面是训练完成一个pass的统计结果，总消耗时间 - 训练消耗，那就有12秒的时间用于数据读取，能否加快读取速度？
[code]

[2019-01-14 08:06] zhengya01 opened #15317 "faster_rcnn运行失败ValueError: Shape not match. What is defined in data layer is (-1L, 3L, 1333L, 1333L), but receive (1, 3, 800, 1205)"
- 标题：faster_rcnn训练过程失败
ValueError: Shape not match. What is defined in data layer is (-1L, 3L, 1333L, 1333L), but receive (1, 3, 800, 1205)

- 版本、环境信息：
    1）PaddlePaddle版本：a92860a3b1dce1ddd25885e06514dfe02839aabc
    3）GPU：GPU型号V100、CUDA9、CUDNN7
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本

- 训练信息
    1）单机，单卡/多卡

- 复现信息：
FLAGS_benchmark=true  python train.py --model_save_dir=output/ --data_dir=

[2019-01-14 08:14] yxnal opened #15319 "cudaMemcpy failed in paddle::platform::GpuMemcpySync: an illegal memory access was encountered at [/paddle/paddle/fluid/platform/gpu_info.cc:184]"
创建LoDTensor数据结构：tensor
place = fluid.CUDAPlace(0)
tensor = fluid.LoDTensor()
tensor.set([[1]], place)
print(tensor)
输出：
paddle.fluid.core.LoDTensor object at 0x7fdb480bc110
然后，在该数据地址：0x7fdb480bc110 上通过numba.cuda.cudadrv.devicearray.DeviceNDArray数据结构对tensor重新赋值。
最后，print(np.array(tensor))
报错：
[code]

请问是什么问题导致的？

相关联的issue：
https://github.com/PaddlePaddle/Paddle/issues/15221

代码片段：
![image](https:/

[2019-01-14 08:17] #15199 closed, assigned to velconia, wanghaoshuang

[2019-01-14 08:26] Xreki commented on #15317
就如error信息所示，faster-rcnn要求输入数据的shape为`(-1L, 3L, 1333L, 1333L)`，如果batch_size是1，那就是`(1, 3, 1333, 1333)`，你给的输入数据的shape是`(1, 3, 800, 1205)`

[2019-01-14 08:28] #15289 closed, assigned to wangguibao

[2019-01-14 08:43] zhengya01 commented on #15317
3e8408429d4b7fbb402ef33d776f8c343e565bdf 这个版本就不会报错

[2019-01-14 08:54] sonofaeolus opened #15321 "minimize时出现问题"
[code]

[2019-01-14 09:10] sonofaeolus commented on #15321
error log
[code]

[2019-01-14 09:20] Xreki commented on #15321
错误信息为：
[code]
这个错误跟`fluid.layers.tensor_array_to_tensor`的配置有关，它的输入`X`应该是一个`tensor_array`，可以贴一下相关配置吗？

[2019-01-14 09:25] Xreki commented on #15317
faster-rcnn这个模式应该是支持变长数据的。你用的是`develop`版本吗？

[2019-01-14 09:29] sonofaeolus commented on #15321
找的问题了 是因为argmax不可导导致的

[2019-01-14 09:29] #15321 closed, assigned to nobody

[2019-01-14 09:30] seiriosPlus commented on #15303
能描述一下load参数的方式么..
是在PServer端load的还是Trainer端load的， 用的什么load方式， load所用的program用的是哪个， paddle fluid的版本是多少，是否用到了distributed lookup table？

[2019-01-14 09:46] seiriosPlus commented on #15303
可以参考文档: http://paddlepaddle.org/documentation/docs/zh/1.2/user_guides/howto/training/save_load_variables.html

[2019-01-14 10:28] Xreki commented on #15319
[code]

结合#15221 里面的讨论，你应该是想拿到tensor的gpu内存地址。但你拿到的这个地址应该是tensor这个对象的地址，而不是tensor所用户的data的地址，我特意在c++里面加了打印。

python代码为：
[code]

输出为：
[code]

[2019-01-14 10:44] yxnal commented on #15319
谢谢解答！那paddle如何拿到上面定义的tensor的gpu内存地址呢？有暴露的python方法吗？

[2019-01-14 12:05] imistyrain commented on #15206
profile了下，有超过90%的时间在read上，里面到底在做什么操作？

[2019-01-14 12:47] LordAaron opened #15324 "预测阶段报错segmentation fault"
用的是paddle.fluid 0.14.0, gpu是4卡的p4
训好的网络想用来做预测
定位是python脚本的这里出的问题：out_bbx = self.exe.run(self.program, feed=self.feeder.feed(img), fetch_list=[self.nmsed_out], return_numpy=False)

报出的错误不太懂：
[code]

[2019-01-14 12:54] velconia commented on #15282
Thanks for @luotao1 's help

[2019-01-14 13:27] yeyupiaoling commented on #15206
@imistyrain 你在问我吗？

[2019-01-14 13:44] likeqinqin opened #15326 "fluid c++预测库(cuda8.0-cudnn7-avx)在p4卡上跑，CreatePaddlePredictor未成功直接退出"
- 版本、环境信息：
    1）PaddlePaddle版本：1.2
    2）GPU：P4，cuda8.0，cudnn7
    4）系统环境：linux
-预测信息
    1）C++预测：
GIT COMMIT ID: afc885dace69d97531ebe1066af2636d1adbfeea
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
CUDA version: 8.0
CUDNN version: v7
    2）预测库来源：
http://ci.paddlepaddle.org/project.html?projectId=Manylinux1&tab=projectOverview

-问题复现及信息：
[code]

[2019-01-14 14:21] likeqinqin commented on #15326
已解决。

[2019-01-14 14:21] #15326 closed, assigned to nobody

[2019-01-14 15:03] WangTaoSpace opened #15328 "DataFeeder使用报错"
使用DataFeeder报错。设置batch_size为1时能够正常执行，超过1便报如下错误。
[code]
具体程序如下
[code]

[2019-01-14 15:46] #15270 closed, assigned to wangguibao

[2019-01-14 15:47] #15276 closed, assigned to heavengate

[2019-01-15 01:54] colourful-tree commented on #15297
看报错好像是anaconda2 自带的 pillow 版本不对？可以先尝试重新安装 pillow 试试？

[2019-01-15 02:44] Xreki commented on #15319
python端应该没办法获取到tensor的data的gpu地址。你是希望GPU数据直接传输到GPU tensor吗？可否按#15221 中的建议，先传输回CPU numpy array中，再用numpy array初始化GPU tensor？

[2019-01-15 02:48] Xreki commented on #15324
`SIGSEGV (@0x0)` 这个错误应该是访问了非法地址`0x0`。是不是feed的数据为空？建议先检查一下，或者提供下详细的代码。

[2019-01-15 02:55] luotao1 commented on #15032
@jczaja @jianhang-liu
Discussed with @tianshuo78520a

We use OpenStack.

One or Two virtual machines run on 5117.

Only One docker container runs at the same time.

[2019-01-15 02:58] sonofaeolus opened #15330 "前向计算可以得到值 但是反向传播报错 paddle.fluid.core.EnforceNotMet: holder_ should not be null"

[2019-01-15 02:58] sonofaeolus commented on #15330
error log
        data: 4.17265,
Traceback (most recent call last):
  File "policy_gan.py", line 97, in <module>
    train()
  File "policy_gan.py", line 94, in train
    dg_loss = exe.run(dg_program, df_dg.feed(data), fetch_list = [dg_loss])
  File "/home/work/wangxiaoyu/fpython/lib/python2.7/site-packages/paddle/fluid/executor.py", line 470, in run
    self.executor.run(program.desc, scope, 0, T

[2019-01-15 03:00] sonofaeolus commented on #15330
相关代码
 clf_prob = cnn_net(words_id, dict_size, emb_size, conv_dim, filter_size, hidden_size)
 print clf_prob.shape
 ce = fluid.layers.cross_entropy(input = words_prob, label = ctr_label)
 seq_ce = fluid.layers.sequence_pool(input = ce, pool_type = "average")
 one_value = fluid.layers.fill_constant_batch_size_like(input = src_word_id, dtype = "float32", shape = [-1, 1], value = 1.0)
 dg_loss = fluid

[2019-01-15 03:00] yxnal commented on #15319
感谢解答！
1、确实是想直接共享gpu数据，想省去cpu到gpu间的拷贝，想通过gpu内存的零拷贝来实现其它数据结构到paddle数据结构兼容。
2、我是否可自己定义python方法从C++中获取tensor的data的gpu地址？（是如何操作的？）
3、另一个问题：paddle的tensor存储结构是怎样的，是否也是分为头信息区和存储区，在头信息区保存
tensor的size、stride、type等信息，在存储区保存实际数据，多个头信息区可对应同一个存储区这样。
4、paddle是否有相关的文档资料（关于paddle内存结构和内存管理共享之类的）

[2019-01-15 03:07] luotao1 commented on #15305
The logic is right since `op_list` is incomplete.

[2019-01-15 03:10] lighthearts commented on #15154
请问这个有下文么

[2019-01-15 03:14] seiriosPlus commented on #15154
几个问题需要确认一下：
1. 现在用的paddle fluid 版本是多少
2. 是否有用到distributed lookup table

[2019-01-15 03:19] Xreki commented on #15328
`image,label_0,label_1,mask_0,mask_1`这个五个输入里面，有哪个是`sequence`数据吗？

[code]
mask的shape怎么是`-1`？

[2019-01-15 03:31] seiriosPlus commented on #15154
低版本的， 可以自己定义一个load_persistables:
[code]

[2019-01-15 05:06] hshen14 commented on #15305
I think we could make the implementation simple and error-proneless by making the op_list complete. Then, we don't need to understand whether op has such attribute. Probably it is a feature request.

[2019-01-15 05:20] sonofaeolus commented on #15330
由于反向传播部分值不可导 导致该问题

[2019-01-15 05:36] #11536 closed, assigned to panyx0718, junjun315

[2019-01-15 05:39] lgone2000 opened #15332 "是否能增加一个接口输出GPU内存池中实际使用的显存。"
目前paddle内存池采用预分配，用nvidia-smi 查看不了显存使用情况。
主要需要用于查看 跟进显存使用情况，来设定训练batch大小。也可以用于查找显存或者内存泄露

[2019-01-15 05:43] luotao1 commented on #15305
I think the implementation could be simplified like:
[code]
`op->HasProtoAttr("is_test")` contains the situation `op_list`, and we should not manully update `op_list`.

[2019-01-15 06:24] seiriosPlus commented on #15154
load这里有一些问题，在最新的develop分支中已经修复， 这里提供两种方法：
1. 自定义一个load_persistables的方法：
[code]

2. 用最新的develop分支的代码编译， 可以修复该问题

[2019-01-15 06:31] nqluowei commented on #15303
之前一直是在trainer里load的（反复试了一个礼拜了不行），昨天参考了上面的链接里的代码在pserver里load了但是不知道配置的对不对结果还是不行
fluid.io.load_persistables(executor=exe, dirname=MODEL_SAVE_PATH,main_program=xxx)
fluid.io.load_params(executor=exe, dirname=MODEL_SAVE_PATH,main_program=xxx)
其中main_program = t.get_trainer_program() 或者main_program = None都反复试过了都不行
版本应该是1.2
distributed lookup table是啥应该没用过
上面的链接里的代码只是个代码片段看着很令人费解，请问有没有一个完整的集群训练能成功加载参数的例程

[2019-01-15 06:40] seiriosPlus commented on #15303
能贴一下你多机训练那块的写法么， 不需要模型， 单看transpiler那块的写法

[2019-01-15 06:42] wudeshi opened #15334 "怎么打印出数据经过某些层后输出的东西是什么"
现在需要知道一个test 数据经过一些神经网络之后输出的数据对不对

[2019-01-15 06:44] lgone2000 commented on #15284
多进程数据读取，可以关注一下
https://github.com/PaddlePaddle/VisionTools/tree/master/datareader/python/datareader
目前正在开发整理中，文档啥的还不是很全

[2019-01-15 06:46] yeyupiaoling commented on #15284
@lgone2000 好的，我看看。谢谢

[2019-01-15 06:50] nqluowei commented on #15303
这是参考链接里写的：
# default parameters
trainer_id = int(os.getenv("PADDLE_TRAINER_ID", "0"))
trainers = int(os.getenv("PADDLE_TRAINERS_NUM", "1"))
training_role = os.getenv("TRAINING_ROLE", "PSERVER") #PSERVER TRAINER
port = os.getenv("PADDLE_PORT", "6174")
pserver_ips = os.getenv("PADDLE_PSERVERS")
current_endpoint = os.getenv("POD_IP") + ":" + port

    if is_local:
        return
    else:
        epl

[2019-01-15 06:54] seiriosPlus commented on #15303
load model那块为什么调用的是 ```fluid.io.save_persistables```?

[2019-01-15 07:00] nqluowei commented on #15303
哦，这里是笔误，但是预计改完之后仍然还是解决不了问题，不太懂集群的原理，在自己电脑cpu上是可以连续训练的。
主要有以下疑问：
1.请问load的时候main_program参数应该填什么，save的时候main_program应该填None?
2.上面的代码exe.run(fluid.default_startup_program())是否需要加上？
3.集群训练必须在PSERVER的if下load?
4.training_role 是如何进入两个if的？

[2019-01-15 07:05] seiriosPlus commented on #15303
1.请问load的时候main_program参数应该填什么，save的时候main_program应该填None?
答：目前版本load的时候main_program参数填入pserver的startup_program， save的时候main_program填入trainer的main_program.

2.上面的代码exe.run(fluid.default_startup_program())是否需要加上？
答：需要加上

3.集群训练必须在PSERVER的if下load?
答：是的， 集群训练需要在PSERVER的if下load， pserver启动后，trainer会主动从pserver同步参数。

4.training_role 是如何进入两个if的？
答：集群模式是多个进程来联合进行训练的， 可以通过环境变量控制当前进程是PSERVER还是TRAINER。

[2019-01-15 07:27] #15330 closed, assigned to nobody

[2019-01-15 07:31] nqluowei commented on #15303
把save改成load就可以了，多谢多谢，确实必须搁在PSERVER里，之前一直在TRAINER里弄的，终于可以愉快地训练了，泪流满面！

2019-01-15T07:07:41.050752449Z ('USER:\nepoch', 0, 'start train...')
2019-01-15T07:07:44.646151726Z USER:train epoch: 0/1  batch: 0/9864 loss: 0.692427
2019-01-15T07:07:48.165976269Z USER:train epoch: 0/1  batch: 1/9864 loss: 0.611958
2019-01-15T07:07:51.929270827Z USER:train epoch: 0/1  batch: 2/9864 loss: 0.639325
2019-01-15T0

[2019-01-15 07:34] wangguibao commented on #15272
请 @jacquesqiao 在帮忙看

[2019-01-15 08:04] wudeshi opened #15336 "请教一下，怎么根据自己的需要更新网络的参数"
tensorflow中可以先求gradient，进行一些处理，然后用apply函数更新参数。paddlepaddle有这样子的api吗

[2019-01-15 08:24] seiriosPlus commented on #15303
这个issue我先关闭了，有问题你再提问哈。

[2019-01-15 08:24] #15303 closed, assigned to seiriosPlus

[2019-01-15 08:53] imistyrain commented on #15206
经过测试,更换1.2版本之后read占比显著下降,系由内部实现所致.不过由于目前pip里最新只提供1.1的版本，所以  @yeyupiaoling 联系厂内同学更换1.2吧.辛苦 @shippingwang 同学了.

[2019-01-15 08:55] yeyupiaoling commented on #15206
@imistyrain 在去年的12月6号就提供1.2版本了。再且我编译的是最新的，估计比1.2还有新

[2019-01-15 09:04] yeyupiaoling commented on #15206
@imistyrain 这个问题有没有解决办法？

[2019-01-15 09:07] #15299 closed, assigned to gavin1332

[2019-01-15 09:19] lavizhao opened #15338 "请问， 谁能给一个paddle c++预测的例子？"
在文档上找不到一个完整例子， 并且。。。。文档和github对不上， 目测文档已经不更新了。

只能看github， 但是github里面例子一个是隐藏的很深， 另外一个确实一点注释不写， 本人菜鸡， 也看不懂。

希望paddle 的同学能好好维护一下吧， 谢谢，  用起来真的很遭罪！

[2019-01-15 09:45] Xreki commented on #15317
似乎是这个修改 https://github.com/PaddlePaddle/Paddle/commit/d752177b8f1fafe3588fe7f77a4960813f1bab4f#diff-eb827f0da22617956805e833749e250f 引起的，@sneaxiy

[2019-01-15 10:22] shippingwang commented on #15338
@lavizhao 麻烦贴一下 您看到的文档地址

[2019-01-15 10:25] lavizhao commented on #15338
http://www.paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/deploy/inference/build_and_install_lib_cn.html

上面写的是 lib
│       ├── libpaddle_fluid.a
│       └── libpaddle_fluid.so

这个应该是错的吧？ 还有include， 貌似也不对。。。。。

[2019-01-15 10:43] lavizhao commented on #15338
还有就是book 里面好多例子都不更新， 都不知道对不对（希望不用我举例子了）。

还有就是C++ 的编译选项希望能介绍的再全一点， 比如可不可以不用blas， 不用性能下降多少之类的。

[2019-01-15 10:46] lavizhao commented on #15338
而且讲道理， C++ 接口都这么不重视， 大家用paddle 说心底话， 基本没有啥搞科研的需求， 那既然这样， 还不如用别的了。

[2019-01-15 11:09] shanyi15 commented on #15338
@lavizhao
尊敬的用户您好，很抱歉我们的产品为您带来不好的体验，将您的反馈总结为以下几点：
- 在文档上找不到一个完整例子，存在于github里面例子位置深、不容易找、不写注释
- 未更新book 里面的例子
- C++ 的编译选项希望能介绍的再全一点， 比如可不可以不用blas， 不用性能下降多少之类
- 不重视C++ 接口

非常感谢您对我们的反馈，我们将充分考虑您的建议，为了让我们更具体地了解您的需求，请您针对以上几点分别补充以下信息：

- 请您提供“未更新book 里面的例子”的链接，因为看到book中的文档近期还在持续更新：

![image](https://user-images.githubusercontent.com/35982308/51176750-b3435080-18f8-11e9-9b38-fc0e2e6c89c0.png)

- 不重视C++ 接口

[2019-01-15 11:11] luotao1 commented on #15338
│ ├── libpaddle_fluid.a
│ └── libpaddle_fluid.so
这个应该是错的吧？ 还有include， 貌似也不对

请问为什么认为是错的？

[2019-01-15 11:12] jczaja opened #15339 "minor memory leak in op creation"
When working on #15032 I noticed potential  memory leak when ops are created. It introduce lots of noise when analysing memory problems in Paddle.  Problem seems to be that lambda assigned to creator_ is allocating memory , but I cannot find location of releasing it.

https://github.com/PaddlePaddle/Paddle/blob/d055b1d1f89670bfff27f0a06b6094d2c2c6fa96/paddle/fluid/framework/details/op_registry.h#L

[2019-01-15 11:17] lavizhao commented on #15338
@lutao1 因为， 我用你们 v1.2 编出来的不一样啊， 你们编出来的和github 上是一致的， 但是docs 上就不是叫这个名啊。。。。

@shanyi15 我嘴瓢了，不好意思， 应该是models下面的模型， 详细的我有难言之隐不能说， 你们得自己看了。 。。。。。

[2019-01-15 11:22] lavizhao commented on #15338
C++ 接口好歹也要给个例子啊， docs 上的 明显是旧版的， models 和book 里面明显没有c++的例子， 然后就只能看github 上的， 我发现的资料有这些：
1. https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/legacy/capi/examples/model_inference ， 这个算是我认为可以参考的， 。。。但是比如seq目录下就啥介绍都没有， 我连这个具体是干啥的都不清楚。

2. 还有一个藏的也很深， 我翻了块一天才找到的。

[2019-01-15 11:24] jczaja commented on #15032
@luotao1
5117 is providing AVX-512. Some other platforms that I have seen only provided AVX2. My question is do you have in CI other platform that has AVX-512 ? I understand that problem(timeout) is manifesting itself only on 5117 , is there any other platform in CI that CI works fine and this platform is having AVX-512 ?

[2019-01-15 11:25] yeyupiaoling commented on #15206
@imistyrain 我使用ImageNet数据集测试了一下，reader读取数据就消耗了超过70%的时间

[2019-01-15 11:32] yeyupiaoling opened #15340 "如何让全连接层输出的结果都是正数呢？"
# 环境
 - PaddlePaddle 1.2.0
 - Python 3.5
 - Windows 10

# 问题
使用的损失函数是`square_error_cost`，我想网络输出的是都是正数以上，不要输出负数，怎么处理呢？
[code]

[2019-01-15 11:45] luotao1 commented on #15338
请仔细看我们的官网文档
http://www.paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/deploy/inference/native_infer.html#permalink-8--
![image](https://user-images.githubusercontent.com/6836917/51178587-f6ec8900-18fd-11e9-92db-5617ac509481.png)

[2019-01-15 11:47] luotao1 commented on #15338
请问是否按照完全我们的编译步骤？如果仍然有错，请贴出详细的编译步骤。

[2019-01-15 11:50] shippingwang commented on #15334
请参照 #12986
比如要打印 out=fluid.layers.fc(...)
out.persistable=True

fc = np.array(fluid.global_scope().find_var(**layer name**).get_tensor())
print(fc)
或参照 [print op](http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#print)
谢谢

[2019-01-15 12:16] LihangLiu commented on #14640
您好，py_reader的bug确实解决了，想问问

这个bug好像还在啊？

[2019-01-15 12:43] shippingwang commented on #15332
请您看下 [GPU profile](http://www.paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/development/profiling/gpu_profiling_cn.html#gpu) 是否满足需求。

[2019-01-15 12:50] luotao1 commented on #15032
@jczaja #15335 disable conv3d mkldnn in dam to check whether conv3d mkldnn is the real reason.

[2019-01-15 12:52] luotao1 commented on #15339
Is this the reason of #15032? Or it's another problem?
Anyway, we will look at it.

[2019-01-15 13:01] jczaja commented on #15339
@luotao1 This problem came out when looking at #15032, but it is **not** reason for timeout exceeding it just makes analysis a bit more difficult , so I reported it. F

[2019-01-15 13:02] cjm1044642385 opened #15341 "显存"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-01-15 13:07] shippingwang commented on #15340
@yeyupiaoling
第一行 加了relu后输出都是大于等于0的吧
第二行 输出结果可能是正也可能是负
第一行是满足的

[2019-01-15 13:09] phlrain commented on #15336
![image](https://user-images.githubusercontent.com/43953930/51182401-07563100-1909-11e9-94c6-9eb52d870e7d.png)
目前 paddle中只实现了一个minimize 接口，包含了类似于tf的compute gradient，然后处理，最后apply gradient，后续我们会升级相应的接口，如果你着急使用，minimize中的 self._create_optimization_pass 就是做了 apply gradient的工作，你可以修改python的 site-packages/paddle 中的optimizer.py 暴露两个接口来使用

[2019-01-15 13:12] shippingwang commented on #15341
@cjm1044642385 请描述一下问题哈，谢谢。

[2019-01-15 13:39] yeyupiaoling commented on #15340
@shippingwang 好的，谢谢回答。

[2019-01-15 13:39] #15340 closed, assigned to nobody

[2019-01-15 13:45] luotao1 commented on #15032
I check that all the fail log is on 5117 only. We have `Intel Xeon Processor (Skylake)` with AVX-512. It works OK on this issue.
http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&buildTypeId=Paddle_PrCiNight&buildId=37730&_focus=75#_state=65
[code]

[2019-01-15 13:57] jczaja commented on #15032
@luotao1 The log you mentioned shows that on other SKX also test_analyzer_small_dam fails it just it is not timeout , but computational problem (diff in results). Perhaps it just different outcome of the same problem

[2019-01-15 14:00] luotao1 commented on #15032
Yes, it is the MKL diff problem, same with https://github.com/PaddlePaddle/Paddle/pull/15116#issuecomment-453030549

[2019-01-15 14:17] lgone2000 commented on #15332
这个使用还需要重新设置WITH_PROFILER  编译吗，使用门槛有点高。
其实能提供一个简单的命令行nvidia-smi 这样的命令查看使用情况就行。

[2019-01-15 15:02] chengduoZH commented on #15339
@jczaja The return of `OpRegistry::CreateOp` is a `std::unique_ptr`, so there are no  memory leak when ops are created.
https://github.com/PaddlePaddle/Paddle/blob/a7fc3d42a02690822d029889908ee229abfa2b67/paddle/fluid/framework/op_registry.cc#L22-L31

[2019-01-16 01:36] WangTaoSpace commented on #15328
这个5个输入都是正常的numpy.array()数据，不过label_0和label_1是完全一样的，batch_size为1能够正常执行，大于1的话不能执行。大于2不能执行可能是datafeeder识别我多个数据时把他们当成一个数据？

mask的真实数据是一个1维的数组，我这里-1想表达None的意思，我把-1改成1，还是报同样的错误。
我全部的代码在这里https://github.com/WangTaoSpace/icnet_hermes/blob/master/resnet_hermes

[2019-01-16 02:07] lavizhao commented on #15338
楼上的大爷， 你用没用过啊， 你看贵司的文档：
https://github.com/PaddlePaddle/Paddle/blob/develop/doc/v2/howto/capi/compile_paddle_lib_cn.md

编出来的是
lib
│   ├── libpaddle_capi_engine.a
│   ├── libpaddle_capi_layers.a
│   ├── libpaddle_capi_shared.so
│   └── libpaddle_capi_whole.a

但是你司文档遍出来的是
库文件libpaddle_fluid.so 或 libpaddle_fluid.a

我就问你， 哪个对？ 你弄没弄明白， 现在是贵司文档用户别人看不懂的问题？

[2019-01-16 02:09] lavizhao commented on #15338
还有， 有一句话我一直想说， 你们这头文件静态库变了我看少说两三次了， 你们在大搜也敢这么玩？ 还是你们拿了压根没在厂内试用过的东西就给我们用了？ 我点到为止。。。。

[2019-01-16 02:12] lavizhao commented on #15338
还有， 贵司给的预测库的下载文档链接都失效了好吗， 我给你举个例子，

这页的

https://github.com/PaddlePaddle/Paddle/blob/develop/doc/v2/howto/capi/compile_paddle_lib_cn.md

这个

https://guest@paddleci.ngrok.io/repository/download/Manylinux1_CpuAvxCp27cp27mu/.lastSuccessful/paddle.tgz

[2019-01-16 02:17] luotao1 commented on #15338
请选择正确的版本号，选择最新的版本号：
![image](https://user-images.githubusercontent.com/6836917/51222165-7a968c00-1977-11e9-96a2-b6accbd39529.png)

这是最新的v1.2版本的预测库。

这是v0.12.0的老版本库。（这个库现在已经不维护了，不建议下载和使用）

[2019-01-16 02:43] shangguanyifeng commented on #15338
v0.12.0的老版本库。（这个库现在已经不维护了，不建议下载和使用）

[2019-01-16 02:55] Xreki commented on #15328
请问您用的Paddle版本是多少？在develop代码中找不到相应的错误提示，因此定位不了问题。

https://github.com/PaddlePaddle/Paddle/blob/16cb3ebd68d639a0a3a851caea08ae3b83eb5d0a/python/paddle/fluid/data_feeder.py#L81-L82

[2019-01-16 03:06] WangTaoSpace commented on #15328
谢谢了，我找到问题了，由于我传入的一维mask的长度，是变化的。导致batch_size大于1的话，mask无法对齐。
这个问题该怎么解决呀？

[2019-01-16 03:17] shangguanyifeng commented on #15338
同学你好，看到了您反馈的上述问题。

目前您遇到的问题可能是因为版本过旧官方不再维护库造成的。建议您尝试更新到最新的fluid版本，解决当前问题。同时我们已经着手在文档中增加版本提示，避免后续使用文档的同学遇到类似情况。

如果可以，希望能获取您的联系方式，和您进一步沟通，帮您解决遇到的问题。

[2019-01-16 03:18] LordAaron commented on #15324
代码是没问题，我在k40的机器（cuda8.0，cudnn_v7.1）上面跑通了，没有任何问题，应该还是环境的问题，p4的环境有什么要求吗？

[2019-01-16 03:22] yeyupiaoling opened #15346 "强化学习的一些问题？"
# 环境
 - PaddlePaddle 1.2.0
 - Python 3.5
 - Windows 10

# 问题
我仿照Tensorflow写了一个PaddlePaddle的强化学习例子，并充分参考了PaddlePaddle官方提供的models下的强化学习例子，但是我复现的PaddlePaddle强化学习例子性能远不及Tensorflow的，老师们能帮我看一下吗？
PaddlePaddle代码：
[code]

Tensorflow代码：
[code]

[2019-01-16 03:22] Xreki commented on #15328
[code]

我看到您传入的`mask`是用于`gather`，可否简单介绍下`mask`的作用，以及为什么`mask`是变长的？感觉`gather`这个可能不支持你需要的功能。

[2019-01-16 03:31] WangTaoSpace commented on #15328
我代码写的参考了icnet源码，mask序列标记了label中特定位置像素的坐标。用来计算loss时找到预测image中对应坐标的像素。label中有效像素，对于不同的图，一定是个数不一样的，所以是变长的。gather就是一个连接操作，是支持的。我看了icnet源码中构建训练数据没有使用datafeeder，是自己写基础函数构建的。
我不知道我说明白没有，大致是这个意思。如果用datafeeder不行的话，我只好参考icnet源码的方式，重新写下输入训练数据了

[2019-01-16 03:49] Xreki commented on #15328
您好，请看gather的使用文档，应该不能满足你这个功能。

http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#gather

![image](https://user-images.githubusercontent.com/12538138/51225289-d0bdfc00-1984-11e9-84a9-78f0340c7f00.png)

[2019-01-16 03:56] wowBC opened #15349 "关于paddle输入数据的格式的问题"
请问一下，paddle如下的jni接口，参数buf是否支持（r,g,b,x,y......r,g,b,x,y）这种数据格式;其中x表示像素点的x坐标，y表示y坐标；
JNIEXPORT jfloatArray JNICALL Java_com_baidu_paddle_PML_predictImage(
    JNIEnv *env, jclass thiz, jfloatArray buf, jintArray ddims)
如果支持的话，输入的ddims应该是什么格式呢？谢谢～

[2019-01-16 04:02] Xreki commented on #15324
请问预测用的单卡还是4卡呢？

[2019-01-16 04:14] lighthearts commented on #15154
1. fluid 1.0
2. 没有用到

我试试，谢谢

[2019-01-16 04:48] heavengate commented on #15349
请问你使用的是paddle-mobile么，还是paddle的哪个版本？

[2019-01-16 06:05] wowBC commented on #15349
是的，paddle mobile，thx

[2019-01-16 06:07] wowBC commented on #15349
是的，paddle mobile，paddle mobile和paddle支持的数据格式应该是一样的吧

[2019-01-16 06:17] LihangLiu opened #15354 "训练过程中embedding更新方式"
想咨询一下paddle在更新embedding的参数的时候，是取gradients的mean么（相当于sum(grads) / batch_size）？

[2019-01-16 06:26] duanyuzhuo opened #15355 "集群上训练模型，训练几轮之后报错退出"
提交mpi集群训练模型，训练过程中突然abort并出现下列log:

[code]

看下来第一个正经的错误为类似如下网络报错
[code]
最后报错如下

[code]
模型是线上例行任务，检查过数据和代码，没有问题。

[2019-01-16 06:47] heavengate commented on #15346
对于精度对齐问题，有几个排查点：
1. 首先是网络结构，排查一下各API的默认参数等是否一致，最好是用相同的初始化权重，相同的输入确认一下各层输出是否一致，对齐网络前向的精度
2. 权重的初始化方式也有可能影响精度，确认一下上述代码中paddle和tf的权重初始化方式是否一致

[2019-01-16 06:50] yeyupiaoling commented on #15346
@heavengate 就算一开始精度可能不相等，但是随着训练的继续，模型收敛，结果也应该回变好，**但是目前模型根本就没起作用。** 无论训练多少次，来还有跟没训练一样。

[2019-01-16 06:58] hjchen2 commented on #15349
@wowBC 你好，我理解你想问的是Paddle Mobile是否支持 [n, h, w, c]的图片格式，并且c=5（r, g, b, x, y）。
Paddle Mobile的predictImage jni接口只是透传数据，本身支持你说的这种格式，输入的dims是[1, h, w, 5]，不过由于Paddle Mobile的op只支持[n, c, h, w]的格式，因此在预测时可能导致错误的结果。你需要将模型转换成[n, c, h, w]对应的格式，才能得到正确的结果。

[2019-01-16 07:00] wudeshi commented on #15336
好的，谢谢，还有一个问题，我打印出一个卷积核的形状是[1, 参数大小]，怎么知道高度，宽度，输出channel啊

[2019-01-16 07:03] LihangLiu commented on #15354
fluid.layers.embedding函数

[2019-01-16 07:07] imistyrain commented on #15206
我profile了下，发现CPU有大段时间不知道在干啥子了.read读取根本用不着那么长时间的

[2019-01-16 07:08] yeyupiaoling commented on #15206
@imistyrain 对啊，我也纳闷了。也不知道什么时候可以修改这个问题。

[2019-01-16 07:18] heavengate commented on #15354
![image](https://user-images.githubusercontent.com/12605721/51232493-e68dea00-19a1-11e9-9242-4c21d123cf35.png)
不是平均，而是直接加和，相当于sum，不除以sample数

[2019-01-16 07:18] #15354 closed, assigned to heavengate

[2019-01-16 07:24] jiangnanqi opened #15358 "显存"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-01-16 07:32] jiangnanqi opened #15359 "显存比例"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-01-16 07:33] jiangnanqi opened #15360 "显卡"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-01-16 07:33] heavengate commented on #15358
方便给出问题详细描述么，谢谢 @jiangnanqi

[2019-01-16 07:34] wowBC commented on #15349
@hjchen2 是的，我需要输入的buf参数就是是（r, g, b, x, y, ..., r, g, b, x, y ）。谢谢。

[2019-01-16 07:38] Yancey0623 commented on #15355
是v2的任务么？可以在提交时试试选择独占模式避免端口冲突。

[2019-01-16 07:40] heavengate commented on #15359
方便给出问题详细描述么，谢谢 @jiangnanqi

[2019-01-16 07:40] heavengate commented on #15360
方便给出问题详细描述么，谢谢 @jiangnanqi

[2019-01-16 07:47] wudeshi opened #15361 "把cnn层的filter参数打印出来，形状是[1, 参数个数]，我知道filter形状，和channel也不能把卷积还原出来"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2019-01-16 07:47] #15361 closed, assigned to heavengate

[2019-01-16 07:48] wudeshi opened #15362 "把cnn层的filter参数打印出来，形状是[1, 参数个数]，我知道filter形状，和channel也不能把卷积还原出来"

[2019-01-16 07:54] heavengate commented on #15362
请贴一下代码并详细描述一下问题，谢谢 @wudeshi

[2019-01-16 08:14] wudeshi commented on #15362
paddle.layer.img_conv的参数是
![image](https://user-images.githubusercontent.com/18420038/51235141-ba766700-19a9-11e9-8ec8-1a1dc1b137e0.png)都是我不知道[1, 参数个数]是怎么跟1✖️32✖️11乘41对应起来的

[2019-01-16 08:20] luotao1 commented on #14775
solved by #15109

[2019-01-16 08:21] dianhuasici opened #15364 "当我使用DynamicRNN创建自定义rnn的时候，我怎样可以获得每个step输出的状态，而不是最后一步的状态呢？"

[2019-01-16 08:24] dianhuasici commented on #15364
![image](https://user-images.githubusercontent.com/28981936/51235636-007ffa80-19ab-11e9-8b93-9d68f9be3367.png)
像图中这样，我不想按照文档上面使用"sequence_last_step 可获取 DynamicRNN 最后一个时间步的输出"

[2019-01-16 08:30] heavengate commented on #15362
你使用的是paddle的那个版本，打印的是哪个参数的shape，不太理解你的filer的shape是[1, 参数个数], 是指filter_size么

[2019-01-16 08:32] heavengate commented on #15364
是指获得gate0，gate1，gate2这些参数么

[2019-01-16 08:39] dianhuasici commented on #15364
不是，是获得代码中的hidden，因为到最后return的时候好像还是最后一个step的输出，但是我现在想获得每一步中间状态的输出

[2019-01-16 08:39] wudeshi commented on #15362
0.10版本，打印的卷积核的参数，但是只能得到二维的，不是4维的

[2019-01-16 08:49] kjfren1985 opened #15366 "运行book示例报core"
- 版本、环境信息：
    1）PaddlePaddle版本：1.2.0（内网一键安装paddlepaddle-1.2.0-cp27-cp27mu-linux_x86_64.whl）
    2）CPU：有avx
    3）系统环境：CentOS release 4.3 (Final)
- 训练信息
    1）单机
- 复现信息：01.fit_a_line下运行fluid train.py
- 问题描述：
运行book示例报core（可提供core文件）：

*** Aborted at 1547628350 (unix time) try "date -d @1547628350" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x10) received by PID

[2019-01-16 08:49] heavengate commented on #15364
你可以试下在block里面更新hidden之前hidden.persistable=True, 并把hidden打印出来，打印出来你会知道hidden的名字，然后在每次exe.run 之后通过numpy.array(fluid.global_scope().find_var("hidden_name").gen_tensor()) 获取

[2019-01-16 09:00] heavengate commented on #15366
这个centos版本比较低，应该是whl报和linux不兼容，建议通过docker安装运行 docker pull hub.baidubce.com/paddlepaddle/paddle:latest-dev

[2019-01-16 09:02] kjfren1985 commented on #15366
多谢~那我之前通过厂内一键安装的paddlepaddle需要先清除吗？现在目前在调研阶段，通过docker安装的可以满足后续的开发、启动集群任务的需求吗？

[2019-01-16 09:06] dianhuasici commented on #15364
好的，十分感谢，我还想多问一下，在我构建这个rnn得时候有没有api能直接让我获得结果呢，就像使用dynamic_gru一样，我直接使用return的值就可以获得，在这个DynamicRNN里面有什么接口呢，因为我在获得结果之后还会进一步有一些操作，不能直接就exe.run() @heavengate

[2019-01-16 09:08] yangperasd opened #15367 "如何使用embedding和LodTensor"
paddlepaddle version： 1.1.0
python version: 3.5
非常简单的问题，如何embedding和LodTensor

1. embedding

关于embedding，官网已经给出了很多例子，但是以下简单程序产生的错误让人无法明白错在哪里，
希望官方能给予解释。
[code]
错误信息：

2. LodTensor
关于LodTensor，官网解释为变长的Tensor，但是以下程序显示无法将LodTensor传递给一个全连接网络，请问如何操作。
[code]
错误信息：

谢谢。

[2019-01-16 09:11] dianhuasici commented on #15367
@yangperasd 这个embedding函数的输入，我当时把shape的最后一维reshape为1就可以了，希望这个也能解决你的问题

[2019-01-16 09:21] #13729 closed, assigned to Superjomn

[2019-01-16 09:21] lucywsq commented on #13729
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2019-01-16 09:21] heavengate commented on #15366
docker开发是我们目前的常用开发模式，开发需求基本都能满足的，不需要清楚本地，docker是一个独立的环境容器，至于说集群任务部署，一般使用paddlecloud等，能在docker里跑的在paddlecloud里面肯定是可行的

[2019-01-16 09:25] yangperasd commented on #15367
@dianhuasici 的确，在进入embedding之前将x reshape为（-1,1）可以解决问题。但是感觉和现有的框架模型（比如tensorflow）在embedding的处理上完全相反，不太明白官方这样处理的原因，谢谢

[2019-01-16 09:31] shanyi15 opened #15368 "预测demo未跑通"
https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/fluid/inference/api/demo_ci
用户反馈此例子未跑通，辛苦相关同学跟进，谢谢！

[2019-01-16 09:41] jjjkaixin opened #15369 "PaddlePaddle中是否有对应Tensorflow中的一些rnn api实现？"
主要是下面四个api
tf.contrib.rnn.BasicLSTMCell
tf.contrib.rnn.DropoutWrapper
tf.contrib.rnn.MultiRNNCell
tf.nn.static_bidirectional_rnn

[2019-01-16 09:50] #15125 closed, assigned to nobody

[2019-01-16 09:52] 357589873 opened #15370 "V2版本训练好的模型怎么用fluid进行预测？"
已经用V2训练好了模型。现在想用fluid版本的调用已经训练好的模型，请问怎么把模型给转换一下？

[2019-01-16 09:55] heavengate commented on #15370
请参考 https://github.com/PaddlePaddle/Paddle/issues/12819

[2019-01-16 09:56] #15367 closed, assigned to heavengate

[2019-01-16 09:59] heavengate commented on #15364
需要做什么处理，在更新block处可以获取到每一步的hidden，我理解可以在with语句上面初始化一个数组，with里面把每个hidden append进去，这样在外面能获取到

[2019-01-16 10:00] #15366 closed, assigned to heavengate

[2019-01-16 10:09] heavengate commented on #15362
你是使用哪个接口打印的卷积核参数

[2019-01-16 10:09] dianhuasici commented on #15364
@heavengate 好的，谢谢~

[2019-01-16 10:12] #15364 closed, assigned to heavengate

[2019-01-16 10:26] jczaja commented on #15339
@chengduoZH Thanks for explanation. look like my memcheck's false positive.

[2019-01-16 10:26] #15339 closed, assigned to luotao1, chengduoZH

[2019-01-16 11:19] heavengate commented on #15369
没有上面这些直接对应的接口，lstm与tf的rnn_cell/LSTMCell一致，不知道与你要求是否一致

[2019-01-16 11:20] shippingwang commented on #15336
@wudeshi  input.shape ?

[2019-01-16 11:24] #15341 closed, assigned to nobody

[2019-01-16 12:19] junjun315 commented on #14810
我们重写了这个数据集的reader，然后兼容linux和window环境下读取。
可以参考这个pr: https://github.com/PaddlePaddle/Paddle/pull/15273

[2019-01-16 12:26] heavengate commented on #15346
predict_program 是在代码最开始的时候从default_main_program clone出来的，之后参数一只没有更新，所以跟没有训练一样，请参考https://github.com/PaddlePaddle/models/blob/39d43111e4367102a97b6586a0692a384b2075ea/fluid/DeepQNetwork/DQN_agent.py#L146

[2019-01-16 12:39] junjun315 commented on #14810
@yeyupiaoling 我们完善了它。
 @qianledan 也想过这样做，但为了保持代码统一以及前后版本的兼容，我们用了通用的gz读取办法。如果有好的建议也可以提给我们哈~

[2019-01-16 12:39] jiangjiajun commented on #15267
更新一下，tensorflow里面是默认返回int32，实际上提供了参数，供调用时指定返回的类型，见如下api定义
[code]

[2019-01-16 12:48] wowBC commented on #15349
@hjchen2 好的，感谢

[2019-01-16 12:48] #15349 closed, assigned to hjchen2

[2019-01-16 13:20] LordAaron commented on #15324
4卡都会占用，但跑的是单卡

[2019-01-16 13:53] heavengate opened #15373 "如果两个tensor直接相加，比如图里的，是两个tensor拼接，还是按位置相加？"
![image](https://user-images.githubusercontent.com/12605721/51253397-16a4af80-19d9-11e9-8f4b-4b3f98817f89.png)

[2019-01-16 13:54] heavengate commented on #15373
计算图节点相加重载为elementwise_add，即按位置相加，拼接请用fluid.layers.concat

[2019-01-16 13:54] #15373 closed, assigned to nobody

[2019-01-16 13:55] heavengate opened #15374 "fluid支持nhwc数据格式吗?"

[2019-01-16 13:56] heavengate commented on #15374
![image](https://user-images.githubusercontent.com/12605721/51253506-713e0b80-19d9-11e9-9354-778233c330d3.png)
paddle默认NCHW的data_layout，部分op支持NHWC格式，支持NHWC格式的op的python接口中会有data_layout参数，将其设置为‘NHWC’即可

[2019-01-16 13:56] #15374 closed, assigned to nobody

[2019-01-16 14:10] #15370 closed, assigned to heavengate

[2019-01-16 14:31] yeyupiaoling commented on #15346
@heavengate 之前我有尝试过这个，但是发现没有`prune`这个方法，这个方法1.0版本才有，我用的是1.2.0版本，没有这个方法，咋整呢？
[code]

[2019-01-17 02:12] #15274 closed, assigned to Superjomn, wangguibao

[2019-01-17 02:28] LihangLiu commented on #14640
提供下demo：

    from paddle import fluid

    x = fluid.layers.data(name='x', shape=[-1, 1], dtype='int64', lod_level=1)
    print (x)
    drnn = fluid.layers.DynamicRNN()
    with drnn.block():
        _ = drnn.step_input(x)
        static_x = drnn.static_input(x)
        print (static_x)

得到的output如下：
![image](https://user-images.githubusercontent.com/8502179/51291636-cb26eb80-1a42-11e9-9719-cbc47

[2019-01-17 02:32] wangguibao commented on #15275
跟 @jacquesqiao 老师确认，线下已经解决

[2019-01-17 02:32] #15275 closed, assigned to wangguibao

[2019-01-17 02:33] wangguibao commented on #15285
截至今天用户未反馈。先关闭了，如有需要可随时重新打开

[2019-01-17 02:33] #15285 closed, assigned to wangguibao

[2019-01-17 02:34] #14855 closed, assigned to wangguibao, jacquesqiao

[2019-01-17 03:01] sguuaa opened #15378 "如何查看模型的参数"
在fluid.io.load_vars后，希望看看模型的各个参数值，不知道如何debug。
[code]

[2019-01-17 03:12] dianhuasici opened #15379 "reverse函数出现一些问题"
![image](https://user-images.githubusercontent.com/28981936/51293170-99188800-1a48-11e9-9d22-e8a2bf5f7e5a.png)
我按照文档上给的方法，先随便创建了一个全0的Variable，紧接着使用reverse（axis=1）报错

[2019-01-17 03:20] hjchen2 opened #15380 "编译1.2版本的paddle，产出whl包版本是0.0.0"
请问一下，我在 compile paddle 1.2 版本时，执行 /paddle/paddle/scripts/paddle_build.sh build
脚本时，编译的时候也没有报错，但是编译出来的 whl 包名为：paddlepaddle_gpu-0.0.0-cp27-cp27mu-linux_x86_64.whl。安装后，打印 paddle version 也是 ￼0.0.0

[2019-01-17 03:23] hjchen2 commented on #15380
这个是paddle检测version的一个bug，在release/1.2的分支下，需要将cmake/version.cmake中的set(TAG_VERSION_REGEX "[0-9]+\\.[0-9]+\\.[0-9]+(\\.(a|b|rc)\\.[0-9]+)?")这一行改成set(TAG_VERSION_REGEX "[0-9]+\\.[0-9]+(\\.(a|b|rc)\\.[0-9]+)?")。后续我们会安排修复一下，谢谢。

[2019-01-17 03:27] jiaqianjing commented on #15380
好的，：）

[2019-01-17 03:43] jiaqianjing commented on #15380
另外，提个小意见，这个 branch 的名字， release/number 能否和 paddle version 保持一致 ，比如 release/1.2.0

[2019-01-17 03:44] jiaqianjing commented on #15380
也可以通过修改编译的 环境变量修复：export PADDLE_VERSION=1.2.0

[2019-01-17 04:52] hjchen2 commented on #15379
@dianhuasici 你好，我这边使用你提供的命令复现了这个问题，这个应该是fluid python接口的一个bug。临时解决方案是：将paddle/fluid/layers/tensor.py中reverse函数中的，
[code]
改成
[code]
我们这边后续会尽快修复，谢谢！

[2019-01-17 04:59] hjchen2 commented on #15378
@sguuaa 可以试一下下面的代码，从scope中取出你需要打印的tensor。
[code]

[2019-01-17 05:51] #15328 closed, assigned to Xreki

[2019-01-17 06:19] yeyupiaoling commented on #15346
@heavengate 我有认真看了一下，1.0版本也没有这个方法`prune`。怎么办呢？

[2019-01-17 07:00] kolinwei opened #15384 "pyreader中一旦涉及报错都会出现只停reader线程但主程序不退出的问题"
多个models都会有这样的问题

[2019-01-17 07:01] kolinwei commented on #15384
建议从框架的层面pyreader修复一下

[2019-01-17 07:07] dzhwinter commented on #14640
看过了，是shrink_rnn_memory op导致的，
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/shrink_rnn_memory_op.cc#L103-L108

我对这块不熟悉，为什么输出是和输入一样的lod level？ 看op的注释里显示，这个是故意的，原因是while op会处理这个。我找作者确认一下这样做的原因是什么。

[2019-01-17 07:09] hjchen2 commented on #15384
@kolinwei 谢谢反馈。
@sneaxiy @chengduoZH 二位帮忙看一下，谢谢

[2019-01-17 07:14] yeyupiaoling commented on #15346
@heavengate 你好，我找到了，原来更新更这个名字了`_prune`，
[code]

注释警告不能随便用，有没有其他安全可代替的函数代替呢？

[2019-01-17 07:31] Yipeng-Sun opened #15385 "OCR End-to-end Training"
- 版本、环境信息：
    1）PaddlePaddle版本：Fluid 1.2
    3）GPU：CUDA8.0 CUDNNv5
    4）系统环境：Python2.7
- 训练信息
    1）单机，单卡
- 复现信息：end-to-end training, 迭代若干次报错
- 问题描述：
1547704800      casted_label    Tensor[cast_10.tmp_0]
        shape: [14,1,]
        dtype: l
        LoD: [[ 0,4,8,14, ]]
        data: 66,68,85,1,88,66,84,1,77,70,
Traceback (most recent call last):
  File "./train_end2end.py", line 184, in <modu

[2019-01-17 07:33] Yipeng-Sun commented on #15385
每个iteration 到最后，未print出结束信息，next(data)未执行到

[2019-01-17 07:50] liupluswei opened #15387 "单机多卡训练时使用profiler会导致程序hang住"
- 版本、环境信息：
    1）commit id : e81b2c93f59110d5e475271d0a7c48c20f85df90 develop
    2）运行环境docker : hub.baidubce.com/paddlepaddle/paddle:latest-dev
- 训练信息
    1）单机多卡
- 问题描述：
多卡跑[image_classification](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification)模型时加profiler会导致程序hang住 （单卡也不确定是不是一定不会hang住，比如时间长了会不会hang不确定）

command：
`CUDA_VISIBLE_DEVICES=1,2,3 GLOG_vmodule=all

[2019-01-17 08:02] ccmeteorljh opened #15388 "pslib 运行过程不稳定会挂掉"
***运行过程中报如下错误***
[code]

[2019-01-17 08:10] 2017mygit opened #15389 "paddle.fluid.layers.embedding 查找表怎么送入？"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2019-01-17 08:19] lijiancheng0614 opened #15390 "OCR End-to-end Inference"
- 标题：OCR End-to-end 模型预测时出 core
- 版本、环境信息：
    1）PaddlePaddle版本：1.2.0.post85
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）系统环境：CentOS 6.3，Python 2.7.14
-预测信息
    1）Python预测
- 复现信息：
    预测代码基本同 https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/ocr_recognition/attention_model.py 中的 `attention_infer`
    修改部分：
[code]
- 问题描述：
    第二个时刻的 `pre_ids`, `pre_score` 的 shape

[2019-01-17 08:40] 2017mygit opened #15391 "tensorflow中embedding代码如何用Paddle中的embedding替换？"
tf.nn.embedding_lookup() 和 fluid.layers.embedding()可以相互替换吗？总感觉不是一回事。

[2019-01-17 08:46] hjchen2 commented on #15391
@2017mygit 是对应且可以替换的，请问你感觉哪里有问题呢

[2019-01-17 08:47] #15389 closed, assigned to nobody

[2019-01-17 08:51] 2017mygit commented on #15389
嵌入层(Embedding Layer)
该层用于查找由输入提供的id在查找表中的嵌入矩阵。查找的结果是input里每个ID对应的嵌入矩阵。 所有的输入变量都作为局部变量传入LayerHelper构造器。
那么这个查找表是默认的吗，怎么送进去呢？

[2019-01-17 09:04] #15308 closed, assigned to gongweibao

[2019-01-17 09:06] hjchen2 commented on #15385
@Yipeng-Sun 这个应该是训练过程中使用了非法的显存地址，目前贴出来的log暂时还无法定位到问题。请问一下，每个iteration没有print信息这个怎么说？你是在每个iteration结束时有加print语句，但并没有执行？而且也没有读取到下一个iter的数据？

[2019-01-17 09:19] hjchen2 commented on #15387
@liuwei1031 请问是一开始就hang住，还是会在训练一段时间后hang住，可以在每个iteration开始和结束时各加一条log吗？另外试试只profile前n个iteration，可能iteration多了，profile的内容变多，导致hang住。

[2019-01-17 10:14] wanghaoshuang commented on #15385
当前debug结论：
应该是某个数据触发了某个backward op的错误，因为当前print op被修改后不再支持输出反向，调试起来比较麻烦。可以用以下办法输出反向梯度和定位错误位置：
[code]
问题持续排查中。。。

[2019-01-17 10:16] appleappleorange opened #15393 "开发一个图像识别的，在paddle可以支持不同的初始化方式上一直纠结，不知道这个有没有差异？采用不同的方式会不会影响开发。"
开发一个图像识别的，在paddle可以支持不同的初始化方式上一直纠结，不知道这个有没有差异？采用不同的方式会不会影响开发。

[2019-01-17 10:18] Yipeng-Sun commented on #15385
有的，有很多Print OP进行debug输出，若干次iteration后，在seq2seq attention 输出后，读入next batch之前挂掉了

[2019-01-17 10:28] #15387 closed, assigned to dzhwinter

[2019-01-17 10:45] hjchen2 commented on #15393
@appleappleorange 请问一下你是从零开始训一个模型，还是从checkpoint继续训练，还是finetune？从零开始训练的话，参数初始化方式对收敛的效果是有影响的，这个需要用户不断的去尝试，但图像识别的模型参数初始化方式一般也就选择xavier和MSRA吧。断点训练或finetune可以使用对应的load接口初始化参数，具体可以参考 http://paddlepaddle.org/documentation/docs/zh/1.2/user_guides/howto/training/single_node.html#id4

[2019-01-17 10:58] dianhuasici opened #15394 "paddle.fluid.core.EnforceNotMet: holder_ should not be null的问题"
[code]

我总共调用了这个函数三次，只有第一次可以使用layers.Print()查看最终结果，到了第二次的时候，出现paddle.fluid.core.EnforceNotMet: holder_ should not be null的错误

[2019-01-17 11:01] dianhuasici commented on #15394
并且当我编辑完问题之后马上又重新启动了一遍程序，这次的报错是
[code]
感觉有点奇怪，是什么原因造成的呢

[2019-01-17 11:03] hjchen2 commented on #15362
是不是打印的是Conv bias的shape，而不是filter的shape

[2019-01-17 11:14] hjchen2 commented on #15394
@dianhuasici 看log `Input tensors should have the same elements except the specify axis` 说的是concat时输入的维度不不匹配，你的代码中有三处concat，能先定位到是哪一个concat有问题么？谢谢。

[2019-01-17 11:18] EchoCX commented on #7951
请教一下，如何feeding做转化。

[2019-01-17 11:21] dianhuasici commented on #15394
@hjchen2 我是这么调用的
[code]
其中第一处layers.Print（"cell_fw"）是可以输出结果的，但是相同的操作和相同的参数（除了第二个rnn的input我做了一下reverse），第二个layers.Print（"cell_bw"）就无法输出，并且报错了

[2019-01-17 11:25] shippingwang commented on #15162
In progress

[2019-01-17 11:27] #15334 closed, assigned to shippingwang

[2019-01-17 11:31] dianhuasici commented on #15394
并且我是根据官方的model[https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/language_model/lstm/lm_model.py](url)这里面的代码做了一些小改动，基本上没有很大的变化，所以我感觉这个函数的内部应该concat不会出错，是不是我是用的时候哪里不太对呢 @hjchen2

[2019-01-17 11:32] fseasy commented on #7951
就是把 0.5 作为一个输入
————
你在用v2吗？ 赶紧换到fluid吧，大幅节省时间

[2019-01-17 11:44] panyx0718 opened #15396 "IfElse question"
[code]
Traceback (most recent call last):
[code]

[2019-01-17 11:55] dianhuasici commented on #15394
![image](https://user-images.githubusercontent.com/28981936/51317129-b9b90000-1a91-11e9-95b2-bd95c2634aee.png)

问题找到了，当我使用图中被注释的layers.Print(input, message=scope + "/input", summarize=0)时，会报paddle.fluid.core.EnforceNotMet: holder_ should not be null，如果注释掉这句话，那在nn = layers.concat([input, pre_hidden], 1)这句就会concat出错，所以我是不是应该在reverse之后同样把lodlevel设置为1呢 @hjchen2

[2019-01-17 11:59] tpatejko commented on #14346
@luotao1 I started looking at this issue.

The problem seems to be with MKLDNN LRN. I removed `lrn_mkldnn_op.cc` and rebuilt PaddlePaddle. After running CAPI Googlenet without MKLDNN LRN, everything seems to work fine.

I had a look at the code of MKLDNN LRN. The operator works on `nchw` format, which triggers MKLDNN memory reorder primitives.

I will keep investigating the problem.

[2019-01-17 12:06] 2017mygit commented on #15391
Paddle里这个查找表怎么送进去呢？这个地方和tensorflow不一样，没有理解清楚

[2019-01-17 12:14] hjchen2 commented on #15394
reverse应该是不会用到lod的，你对input的self.encode_emb做reverse，axis=1是不是有问题，应该是axis=0？

[2019-01-17 12:26] dianhuasici commented on #15394
所以现在的问题就是，我把同样的输入做一个reverse之后，
[code]
我打印了一下这个其中的input，然后发现其实是空的（这时调用layers.Print报错），所以下面的concat中使用了input，会报维度的错误，因为这时候input的维度是0 @hjchen2

[2019-01-17 12:38] dianhuasici commented on #15394
事实上，我现在只是把原来的输入（input_embedding）没做改变又重新输入再次调用函数，效果仍然是一样的。。这个input还是空的

[2019-01-17 12:47] liyingying05 opened #15400 "reshape_op can not match size"
预测的时候发现input_shape改变会在reshape层导致size不匹配的问题
问题应该是reshape_op中的output_shape[unk_dim_idx] 没有取float所导致，具体表现为：
in_dim=[-1, 260, 35, 63]
shape = [-1, 2, 1820, 14]
Capacity = -1*2*1820*14 = - 35840
in_size=-1*260*35*63=-573300
不取float
output_shape[unk_dim_idx] = -in_size / capacity = 15
output_shape[unk_dim_idx] * capacity = 15*35840 = 537600 != in_size
取float
output_shape[unk_dim_idx] = -in_size / capaci

[2019-01-17 12:59] hjchen2 commented on #15391
@2017mygit 查找表是作为模型参数保存的，在初始化或load已有的模型时会初始化查找表，不需要`送进去`。另外与tensorflow哪里不一样，能详细说一下么？

如果你的问题是不知道如何初始化模型参数，可以参考 http://paddlepaddle.org/documentation/docs/zh/1.2/user_guides/howto/training/single_node.html

[2019-01-17 13:01] hjchen2 commented on #15400
@liyingying05 output_shape只能是取整数，因此in_size必须是capacity的整数倍，否则reshape前后的数据大小就不一样了。请看看是不是输入数据的shape本身有问题呢？

[2019-01-17 13:10] hjchen2 commented on #15394
@dianhuasici 能把第一次调用后的self.encode_emb shape打印一下么，并跟调用之前比较一下。我比较怀疑是调用后self.encode_emb发生了改变。

[2019-01-17 14:13] #14612 closed, assigned to Superjomn

[2019-01-17 15:56] wanghaoshuang commented on #15385
定位到ROIPerspectiveTransform op的GPU的反向在某种情况下会出现显存越界现象，需要进一步确认。

[2019-01-18 00:19] #15284 closed, assigned to shippingwang

[2019-01-18 00:27] yeyupiaoling commented on #15206
@jacquesqiao 老师您好，这个问题是否能解决呢？

[2019-01-18 01:08] 2017mygit commented on #15391
在tensorflow中：tf.nn.embedding_lookup(params, ids, partition_strategy='mod', name=None, validate_indices=True, max_norm=None)，其中params是指查找表，，ids对应要找的params中的位置。
paddle中：paddle.fluid.layers.embedding(input, size, is_sparse=False, is_distributed=False, padding_idx=None, param_attr=None, dtype='float32')这里只有size这个维度信息参数，没有tensorflow中的params这个传参入口。如果我想让它在自己设定的查找表中查找数据，就不知道该如何实现了？谢谢您的解答。

[2019-01-18 02:17] hjchen2 commented on #15391
嗯，理解你说的意思了。目前paddle提供的embedding接口确实不支持你说的那种方式，如果每次都需要设定查找表，只能通过先获取到embedding的weight变量，然后在查找前将自定义的查找表赋值给weight。但一般来说网络创建之后并初始化后，查找表就不应该动态设定，你具体是什么需求呢，需要按照这种方式来使用embedding?

[2019-01-18 02:28] 2017mygit commented on #15391
谢谢您，我就是想将tensorflow中的代码用paddle实现一下，是关于机器阅读理解的。再次谢谢您！

[2019-01-18 02:50] gongweibao opened #15404 "Need to simply adding an operator without cpu kernel."

[2019-01-18 02:53] #14425 closed, assigned to nobody

[2019-01-18 03:05] luotao1 opened #15405 "Make a separate folder for mkldnn codes"
To easily compute and filter the test coverage for mkldnn codes (both fp32 and int8), could you put all `operators/xxx_mkldnn_xxx.cc` into a separate folder `operators/mkldnn/`?

[2019-01-18 03:24] Xreki opened #15406 "Is there any error in sequence_expand_op's doc?"
See [here](http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#sequence-expand), the second case:

[code]

`y.lod` should be `[[0, 2, 2, 5]]`?

[2019-01-18 04:43] luotao1 commented on #15405
supplement: `paddle/fluid/framework/ir/xxx_mkldnn_fuse_pass.cc` and `paddle/fluid/framework/ir/mkldnn_placement_pass.h` into `paddle/fluid/framework/ir/mkldnn`

[2019-01-18 06:30] wudeshi opened #15412 "paddle 的grumemory的源码在哪里啊，都查不到"

[2019-01-18 06:49] chengduoZH commented on #14030
@LoveGarden 请问现在问题解决了吗

[2019-01-18 07:02] frankwhzhang commented on #13902
暂时关闭此issue 如有问题可以重开

[2019-01-18 07:02] #13902 closed, assigned to nobody

[2019-01-18 07:03] wanghaoshuang commented on #15385
【最近进展】
ROIPerspectiveTransform op反向越界的原因是：roi proposal的lod信息是错的。batch size为2， 第二张图roi  proposal为空，roi proposals的lod应该是[[0,  3， 3]]， 实际给的是[[0, 3]]。
临时修复data reader构造lod逻辑，可以稳定训练500+ iter.
解决办法：
修改data reader, 处理下特殊情况。

[2019-01-18 07:24] #14396 closed, assigned to nobody

[2019-01-18 07:35] #14253 closed, assigned to chengduoZH

[2019-01-18 08:17] stoiczzz opened #15414 "关于fluid版本和以前的v2版本"
fluid版本为什么找不到激活函数linear，而且以前v2的版本的paddle.v2.layer.addto请问对应的是现在哪个，直接可以使用+吗 elementwise_add？。

[2019-01-18 08:37] appleappleorange opened #15415 "1.PaddlePaddle在安装过程中，采用什么类型的开发环境会好点"
PaddlePaddle在安装过程中，采用什么类型的开发环境会好点，例如linux，windows，或者unix等，开发环境对运行性能有差异吗？

[2019-01-18 08:39] appleappleorange opened #15416 "PaddlePaddle的开发感觉在配置上有些不清楚，希望提供模型配置文件教程确认"
PaddlePaddle的开发感觉在配置上有些不清楚，希望提供模型配置文件教程确认，能有详细的说明吗，提供一下地址

[2019-01-18 09:02] wanghaoshuang commented on #15385
【补充之前的问题】
1. 显存优化功能会导致某些tensor出现非预期的lod信息,错误的lod信息会干扰dynamic rnn中的shrink memory操作。
2. evaluator使用前要在合适的位置调用 evaluator.reset()
3. 某些batch的roi proposals的lod信息没有feed正确，lod与batch size不匹配。
4.  fluid.layers.Print op无法在backward过程中输出梯度信息, 无其他可用替代方案，严重影响模型对齐排查工作。最终，在本地revert到了之前的版本，临时用于debug. @dzhwinter 如果有时间，可以帮忙看下。

[2019-01-18 09:03] wanghaoshuang commented on #15385
训练任务已经可以跑通。

[2019-01-18 09:21] qingqing01 commented on #15416
能麻烦具体说下是什么模型的配置吗？

另外：
1. 模型库：https://github.com/PaddlePaddle/models/tree/develop/fluid 这里的模型都是我们验证过、对齐的，可以参考。
2. 模型配置相关API文档：http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/index_cn.html

[2019-01-18 09:27] qingqing01 commented on #15415
Paddle支持的环境包括：Ubuntu, CentOS, MacOS, Windows7，详细参考 http://www.paddlepaddle.org/documentation/docs/zh/1.2/beginners_guide/install/index_cn.html 。 建议Linux开发环境，目前发型版本只有Linux支持GPU。 性能差异取决于硬件。

[2019-01-18 09:33] qingqing01 commented on #15414
1. linear激活即y=x，不用配置即是linear。举例下面两种方式都是linear激活。

[code]

2. paddle.v2.layer.addto对应 fluid.layers.elementwise_add，使用如下，也支持x和y的shape不同，支持broadcast，参考文档：http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#elementwise-add

[code]

[2019-01-18 09:52] qingqing01 commented on #15412
@wudeshi grumemory是Paddle V2里的代码，等价于fluid.layers.dynamic-gru实现，推荐使用Fluid。

 Fluid文档：http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#dynamic-gru
Python接口代码: https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L861
C++源码: https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/gru_op.cc

[2019-01-18 10:00] xueshang-liulp opened #15422 "模型压缩"
使用paddlepaddle训练的模型怎么进行模型压缩

[2019-01-18 10:05] qingqing01 commented on #15406
@Xreki  Now LoD in Python is lenght-based, i.e,  users only need to give length-based LoD. So there is no error.

[2019-01-18 10:06] qingqing01 commented on #15422
@llp123 感谢关注，我们正在做模型压缩系列工作，请问您具体需要那种压缩方法？

[2019-01-18 10:53] HaozhengLi opened #15423 "Windows下pip安装成功但import paddle.fluid验证安装失败"
- 版本、环境信息：
    1）PaddlePaddle版本：1.2.1
    2）CPU：Intel(R) Core(TM) i5-7500
    3）操作系统：Windows 7 专业版 + Python 3.5.1

- 安装方式信息：
    pip安装：pip3 install paddlepaddle

- 复现信息：Windows下pip安装成功但import paddle.fluid验证安装失败
- 问题描述：
[code]

[2019-01-18 10:59] xueshang-liulp commented on #15422
@qingqing01 现在遇到的问题就是模型过大，推理耗费时间长，进行例如降低精度，模型裁剪等方面的压缩方法，另外DeepBench不知道能否应用上？

[2019-01-18 11:08] lijiancheng0614 commented on #15390
根据 [beam search 文档](http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#beam-search)，第一个时刻的 `pre_ids`（即 `init_ids`）的 lod level 应为 2。
不知道这里怎么修改比较合适？

[2019-01-18 12:44] jczaja commented on #15032
@luotao1 Since couple of people are looking at that issue, I'm sharing my current status. Hopefully it will be helpful.

I got reproduction of problem When running in a loop(upto hundred times)  test_analyzer_dam_small .We can get either crash(segfault) or hang(timeout when running under ctest). CI on 5117 is building Paddle *WITHOUT* ON_INFER=ON  and at that situation there can be hang of test_an

[2019-01-18 12:55] ghost commented on #15032
@jczaja Great! Actually this afternoon we just found build withOUT ON_INFER=ON is the key to reproduce. We can easily reproduce two types of CI error now (Timeout, compare fail due to diff) in our local 6151 server. For timeout (hang) issue, we positioned the error almost same as you (but not as detail as you). We wonder whether it's caused by [SCOPE_XXX_LOCK definition](https://github.com/PaddleP

[2019-01-18 14:54] imistyrain opened #15426 "What's the real meaning of FLAGS_fraction_of_gpu_memory_to_use?"
P40单卡显存24445MiB，paddle-gpu 1.2，且没有其他任务占用显存.
使用models模型里的image calssification训练alexnet
运行的命令为:
[code]
当设置FLAGS_fraction_of_gpu_memory_to_use=0.01时，占用显存1773MiB
当设置FLAGS_fraction_of_gpu_memory_to_use=0.1时，占用显存2693MiB
当设置FLAGS_fraction_of_gpu_memory_to_use=0.2时，占用显存5015MiB
更特别的
当设置为FLAGS_fraction_of_gpu_memory_to_use=0时，占用显存在1019MB到1635MB之间波动
有点迷惑了，这个标志的真正含义到底是啥呢？从字面意思是预先申请占用的百分比，但实际结果好像并不是.

[2019-01-19 01:25] stoiczzz opened #15430 "预测模型中的问题"
v2版本中的paddle.inference.Inference我要加载池化层，则output是pool层，在那fluid版本中模型加载load可以调参数吗?默认调用__model__吗。
此外，dense_vector是获取向量的维度吗?在fliud中有对应函数吗。

因为初学，同时觉得官方文档在v2和fliud中变动较大，网络资料很多是以v2写的，所以想请教一下新版的问题。希望不要嫌弃，嘿嘿。

[2019-01-19 08:44] Yipeng-Sun commented on #15385
当前，打开mem_opt, 加载pretrain模型后，会产生参数load冲突问题，是模型快速收敛的瓶颈

[2019-01-19 13:33] shippingwang commented on #15426
显存使用的比例。@imistyrain 设置with_men_opt=True 当出现提示 调整更小的值。

[2019-01-19 14:12] Yancey0623 commented on #15430
是说指定models的目录吗？可以参考API：[paddle.fluid.io.load_inference_model](http://paddlepaddle.org/documentation/docs/zh/1.2/api_cn/io_cn.html#load-inference-model)

dense_vector是data layer的输入类型为稠密向量，在Fluid中可以用 [paddle.fluid.layers.data](http://paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#data) 即可。

[2019-01-19 14:34] imistyrain commented on #15426
但是看上面测出的结果，占用的比例好像不对哦，不知有什么计算公式没？

[2019-01-19 16:42] wanghaoshuang commented on #15390
不知道这里怎么修改比较合适？

因为在decoder过程中使用了beam search, init_ids需要根据动态的batch size设置level为2的lod. 如果batch size为k, 则lod需要设置为 [[i for i in range(k+1)], [i for i in range(k+1)]]，这里有两个问题：
1. paddle 缺少range op
2. [lod_reset op](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L6067)仅支持设置1-level的lod: [code](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators

[2019-01-20 00:57] stoiczzz commented on #15430
不，我的意思是在v2中。例如预测程序中可以指定某个神经网络层的数据。例如我不想要最后一层的全连接层预测，可以指定倒数第二层的池化层。
在fliud是要保存两个模型（pool层和fc层）才可以实现吗？fliud也找不到以前的paddle.infer了。就统一exe.run吗？

再补充一个问题，在fliud中我使用plot想要绘图，但报错缺参。无法使用，请问有实例吗

[2019-01-20 07:02] littletomatodonkey opened #15435 "group normalization使用"
我在使用GN的时候，会报出以下的错误

调用的代码如下
[code]
想问一下GN的正确使用方式，谢谢啦

[2019-01-20 07:22] luotao1 commented on #15435
@littletomatodonkey 请问这是哪个fluid版本？
@cjld 请问能帮忙看下么？

[2019-01-20 07:24] littletomatodonkey commented on #15435
1.2.0 ，我在安装好的paddle包里的nn.py里面搜索，看到conv2d、layer norm等函数都是使用的create_variable_for_type_inference创建variable，在group norm里面使用的是create_tmp_variable，我把create_tmp_variable修改为create_variable_for_type_inference，就可以正常运行了，但是不知道为什么原始的gn会报错

[2019-01-20 15:40] qingqing01 commented on #15426
@imistyrain

在Paddle底层有memory管理的Allocator。简单来说分为：SystemAllocator(普通的CPU Allocator和GPU Allocator)和[BuddyAllocator](https://en.wikipedia.org/wiki/Buddy_memory_allocation)，BuddyAllocator是一种内存管理算法，简单来说是每次分配一大块连续内存，称作max_chunk大小，后续再分配内存块时，基于已分配的、空闲的块重分配内存，也可merge释放的内存。如果再次分配内存时，池子没有适合的块来分类，会再次重新分配一大块(max_chunk大小)，重复前面管理。 目的是统一管理内存、加速动态分配的速度。

`FLAGS_fraction_of_gpu_memory_to_use`的作用是确定max_chunk大小，这个大小是

[2019-01-20 15:47] qingqing01 commented on #15422
请问您是什么模型？是在端上预测还是Server上预测？是CPU预测还是GPU预测？推理较耗时，也需要依据您的模型和C++预测API的使用情况。

关于Paddle对于模型压缩的情况：
1. 8bit预测，如果是端上，Paddle-Mobile支持若干CNN模型的预测，Paddle CPU正在支持8bit的预测。 GPU可以使用TensorRT的8bit加速CNN模型。 需要知道您的具体模型和硬件。8bit预测Paddle也正在优化支持。
2. 其他裁剪模型、蒸馏等方法属于算法级别，这些后续会支持，但需要知道您的模型类型。

DeepBench我理解是来针对不同操作、硬件、模型做benchmark，评估性能，不是用来加速的。

[2019-01-21 02:20] wopeizl commented on #15423
一般情况下是因为python35.dll不在path环境变量里面，可以尝试手工加到path环境变量中再试一下

[2019-01-21 02:26] qingqing01 commented on #15435
@littletomatodonkey 多谢反馈，这个问题在develop分支已经修复。

[2019-01-21 02:28] littletomatodonkey commented on #15435
恩恩好的

[2019-01-21 02:31] #15435 closed, assigned to qingqing01

[2019-01-21 02:51] dashulu opened #15437 "Paddle支持低精度训练吗？比如fp16，int16等"
Paddle支持低精度训练吗？有什么教程吗？

[2019-01-21 02:52] Xreki commented on #15406
I see. Thanks.

[2019-01-21 02:52] #15406 closed, assigned to qingqing01

[2019-01-21 02:53] typhoonzero commented on #15437
目前可以支持部分模型在GPU上的FP16训练，参考：https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification#using-mixed-precision-training

[2019-01-21 04:00] dashulu commented on #15437
那paddle现在有工具可以看一个模型训练过程中，需要多少内存、多少计算量吗？

[2019-01-21 04:07] luotao1 opened #15438 "conv2d_fusion has not been registered in demo_ci (cuda8+cudnn5)"
http://ci.paddlepaddle.org/viewLog.html?buildId=50504&tab=buildLog&buildTypeId=Manylinux1_Cuda80cudnn5cp27cp27mu&logTab=tree&filter=all&_focus=42873#_state=26528
[code]

[2019-01-21 04:18] dashulu commented on #15437
@typhoonzero
为了支持其他模型低精度训练，需要为模型用到的op都提供一个低精度的kernel实现，对吗？

[2019-01-21 05:28] typhoonzero commented on #15437
目前大部分kernel已经支持，不支持的的确需要增加对应的kernel实现

[2019-01-21 05:30] typhoonzero commented on #15437
这个可以使用`fluid.contrib.memory_usage(program, batch_size)`估计： https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/memory_usage_calc.py#L46

[2019-01-21 05:56] shippingwang opened #15439 "编译安装失败"
编译安装失败 make出现error
docker image:  hub.baidubce.com/paddlepaddle/paddle:latest-dev

![image](https://user-images.githubusercontent.com/13645332/51455131-1e6ea600-1d83-11e9-9047-d094e453df3b.png)

[2019-01-21 05:58] luotao1 commented on #15439
fixed by #15109, 请重新pull latest-dev镜像
`docker pull paddlepaddle/paddle:latest-dev`

[2019-01-21 06:01] dashulu commented on #15437
这边梯度也是用低精度计算的吗，还是float？

[2019-01-21 06:06] #15439 closed, assigned to nobody

[2019-01-21 06:43] wanghaoshuang commented on #15385
补充：关闭mem_opt，加载pretrain模型也会冲突。

pretrain model比训练脚本中的backbone多了一个fc layer，多这个fc layer的weight与encoder部分的fc layer冲突。
解决办法：
把pretrain model文件最后一层fc layer的weight和bias去掉，最后一层是predict class layer, 不属于backbone。

[2019-01-21 06:58] typhoonzero commented on #15437
梯度计算是用fp16，梯度更新会转成fp32防止精度太差

[2019-01-21 07:45] gongweibao opened #15441 "Profiler hangs run on transformer using muti threads."

[2019-01-21 07:45] gongweibao opened #15442 "Find tune brpc channels."

[2019-01-21 07:46] gongweibao opened #15443 "Test gloo benchmark on parallel allreduce."

[2019-01-21 07:49] gongweibao opened #15444 "Static op's time and optimize executor scheduler."

[2019-01-21 07:51] gongweibao opened #15445 "Crash on elmo when use sparse selected rows."

[2019-01-21 08:05] dianhuasici opened #15446 "layers.transpose限制name不起作用"
[code]
我调用了这段代码两次，输出结果如下：
[code]
可以看到第一次我输入进的scope为encode_fw,这时前两个输出的tensor的name都是对的，但是我第二次调用，transpose之后输出的name还是第一次的名字

[2019-01-21 08:18] dianhuasici commented on #15446
只是单纯在python里面print的话，是没有问题的
[code]

[2019-01-21 08:42] ghost commented on #15032
@luotao1 @jczaja We confirmed the same root cause as Jacek, i.e. current code in TryCreateTransferScope (use thread_local as cache to avoid creating transfer scope) may have random failure which cause this CI failure (hangs as timeout, segfault as crash). By simply comment out it (i.e. don't use cache; always create "new_scope"), we won't run into any error anymore. We trial with several times to

[2019-01-21 09:04] luotao1 commented on #15032
@jianhang-liu Could you create a simple PR to show which lines are comment out?

@Superjomn Could you help see the cache in `TryCreateTransferScope`?

[2019-01-21 09:11] luotao1 commented on #15032
https://github.com/PaddlePaddle/Paddle/blob/6597ccb01f1144cb4ba206de07fa9688631b4850/paddle/fluid/framework/transfer_scope_cache.cc#L30-L46
@Superjomn Is line45 unused?

[2019-01-21 09:18] dianhuasici commented on #15446
用例如下
[code]

[2019-01-21 09:19] tensor-tang opened #15447 "gemm acc issue on AVX512 and AVX"
code base:
https://github.com/PaddlePaddle/Paddle/pull/15448

# how to reproduce
1. `cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_GPU=OFF -DWITH_MKL=ON -DWITH_TESTING=ON -DWITH_FLUID_ONLY=ON -DWITH_DOC=OFF -DWITH_MKLDNN=OFF -DWITH_CONTRIB=OFF`
2. `make jit_kernel_test -j`
3. `make test ARGS="-R jit_kernel_test -V"`

This would pass.

But when delete line [here](https://github.com/PaddlePaddle/Paddle

[2019-01-21 09:39] wanghaoshuang commented on #15390
【最新进展】
经过实验，按以下方式设置init_ids和init_scores的lod，可以跑通预测流程：
[code]

另外，需要注释掉以下两句，因为Print op不支持TensorArray类型。。。
[code]

[2019-01-21 10:46] imistyrain commented on #15206
我怀疑是paddle没有类似caffe中的blockingqueue，必须等batch_size数据全部到齐后才放GPU运算，如果它设的比较大的话，读取就要很多时间，所以还是尽量减少batch_size吧，试过每张卡16或者32，64就不太行

[2019-01-21 10:54] luotao1 commented on #15032
https://github.com/PaddlePaddle/Paddle/issues/15032#issuecomment-455990914 is hot-fixed in #15450

[2019-01-21 11:18] dianhuasici commented on #15394
搞清楚了，是由于[https://github.com/PaddlePaddle/Paddle/issues/15446](url)这个问题导致的 @hjchen2 ，我猜是由于变量名字相同，在step_input的时候无法create_param

[2019-01-21 11:28] tensor-tang commented on #15447
This is a very urgent issue. Please help to fix this in high priority @jianhang-liu .
Thanks.

[2019-01-21 11:30] luotao1 commented on #15447
Could you try https://github.com/PaddlePaddle/Paddle/pull/15450, maybe it is a same problem with https://github.com/PaddlePaddle/Paddle/issues/15032#issuecomment-455990914?

[2019-01-21 11:35] #15414 closed, assigned to qingqing01

[2019-01-21 11:41] tensor-tang commented on #15447
This is nothing about scope cache, actually this should be an independent issue of MKL.

I made a separating test for this issue.

https://github.com/tensor-tang/benchmark/tree/master/gemm

[2019-01-21 12:01] tensor-tang commented on #15447
It pass on 6148, when tried
[code]
But this should slow down the speed.

And it's still failed on 2620v2.
[code]

[2019-01-21 13:51] jiangjiajun opened #15456 "Bug for layers.create_parameter"
[code]
当dtype为int32时，上述代码运行出core，问题可复现
当dtype改为float32时，代码运行无问题

[2019-01-22 00:25] #15346 closed, assigned to heavengate

[2019-01-22 02:54] typhoonzero commented on #15456
默认的parameter的初始化op (uniform_random) 没有int32类型的kernel，random类的op一般会生成0~1之间的分布，如果是int32可以使用：`create_parameter(...., default_initializer=fluid.initializer.Constant(100))`

我会在这个API中增加一些check，抛出比较友好的warning。

[2019-01-22 03:08] shiyazhou121 opened #15458 "[fluid 1.2] gpu训练时，显存问题报错"
这个报错是需要的显存大于可利用的吗？我应该怎么优化这个问题？尝试过FLAGS_fraction_of_gpu_memory_to_use = 0.8，没有效果。
试了fluid.memory_optimize，没有效果。
![image](https://user-images.githubusercontent.com/15082798/51510770-6e0fa900-1e39-11e9-866d-9d32d7d540e6.png)

paddle.fluid.core.EnforceNotMet: Enforce failed. Expected allocating <= available, but received allocating:20998686233 > available:19587333888.
Insufficient GPU memory to alloca

[2019-01-22 03:22] typhoonzero commented on #15446
是否开启了内存优化，如果program是符合期望，可能是内存优化之类的操作修改了variable name来复用内存

[2019-01-22 04:16] dianhuasici commented on #15446
@typhoonzero 确实是这个原因导致的，thanks~

[2019-01-22 04:25] #15446 closed, assigned to typhoonzero

[2019-01-22 05:06] chengduoZH commented on #15458
@shiyazhou121 这是由于batch太大以至于GPU的显存不够导致的，有两种方案
- 将FLAGS_fraction_of_gpu_memory_to_use调小一点，比如0.4或这个0.1，但是这样会导致程序运行变慢
- 减少batch_size

[2019-01-22 05:29] shiyazhou121 commented on #15458
@chengduoZH 我尝试了这两种方法，均没有效果，报错没有任何改变，不知道是不是我用法的问题。
![image](https://user-images.githubusercontent.com/15082798/51514209-bc2ca880-1e49-11e9-826c-03eb52f4edb8.png)

batch_size 从256改成20，也没有效果

[2019-01-22 05:36] jiangjiajun commented on #15267
#15419

[2019-01-22 05:37] jiangjiajun commented on #15267
#15419

[2019-01-22 05:53] chengduoZH commented on #15458
@shiyazhou121 你不要在Python里面设置FLAGS_fraction_of_gpu_memory_to_use，应该在环境变量里面添加，即：`export FLAGS_fraction_of_gpu_memory_to_use=0.1`.
另外，batch_size 从256改成20之后，GPU显存占用应该会变少的，不清楚您的模型配置是否有问题。

[2019-01-22 07:32] shiyazhou121 commented on #15458
@chengduoZH 确实设置环境变量后，可以训练了，batch_size的问题，我再排查下，谢谢啦

[2019-01-22 07:32] #15458 closed, assigned to chengduoZH

[2019-01-22 08:02] dashulu opened #15467 "ProgramDesc输出的格式是什么格式？用什么工具解析？"
programDesc的格式如下：
blocks {
  idx: 4
  parent_idx: 0
  ops {
    inputs {
      parameter: "X"
      arguments: "fill_constant_6.tmp_0"
    }
    outputs {
      parameter: "Out"
      arguments: "learning_rate"
    }
    type: "assign"
    attrs {
      name: "op_role_var"
      type: STRINGS
    }
    attrs {
      name: "op_namescope"
      type: STRING
      s: "/"
    }
    attrs {
      name:

[2019-01-22 09:26] yeyupiaoling commented on #15206
@imistyrain 嗯嗯，我设置的是32，如果使用缓存，总体速度会快很多，虽然在使用缓存的数据训练很快，但是每次加载缓存数据非常慢。

[2019-01-22 12:19] HaozhengLi commented on #15423
您好，您的意思是指系统环境变量中 “用户变量” 或 “系统变量” 中的path吗，我已经将<python35.dll>所在的路径<C:\Users\Administrator\AppData\Local\Programs\Python\Python35>加入到path中了，仍然报一样的错误。

请问还有别的解决方法吗，谢谢。

[2019-01-22 12:38] wopeizl commented on #15423
可以这样 1. 用Administrator账号权限运行一下。
2. 如果这样还不行，可以试验一下用virtualenv，具体步骤是
a.  pip install virtualenv
b. virtualenv test
c. cd test
d. scripts\activate
e. pip install paddlepaddle
再看看能否使用paddle

[2019-01-22 12:59] LittleFatHero opened #15475 "关于安装时pip3和pip的区别"
系统：Windows 10专业版
paddlepaddle 版本：fluid

看到官网说在Windows 下的安装命令是pip install paddlepaddle或者是pip3 install paddlepaddle.
我想问的是，使用pip install paddlepaddle安装的paddlepaddle是不是只支持python 2.7而使用
pip3 install paddlepaddle命令安装的paddlepaddle是不是只支持python 3.x？
还是说两个命令安装的paddlepaddle没有区别，是同时支持python 2.7和python 3.x的？

还有想问一下，paddlepaddle大概什么时候可以支持在Windows下进行GPU训练？

paddlepaddle下一个大版本更新是什么时候？

[2019-01-22 13:14] jiangjiajun opened #15477 "conv2d_transpose与tf中conv2d_transpose的差异"
tensorflow里面的conv2d_transpose，output_shape计算是Padding为Same的情况下为input_height * stride, Valid的情况下则为(input_height-1)*stride + kernel_height

因此在tf中，输入的height和width为[14, 28],  padding='SAME', stride=[2, 2], kernel_size=[3, 3]时，得到的output_shape为[28, 56]

而Paddle中，根据文档[conv2d_transpose](http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#permalink-43-conv2d_transpose) 中所述，同样的输入，同样的

[2019-01-22 13:51] ghost commented on #14346
@jczaja As we talked, could you also help to check this issue with the highest priority? Thanks!

[2019-01-23 01:50] chengduoZH commented on #15475
pip3 install paddlepaddle命令安装的paddlepaddle是不是只支持python 3.x

是的，如果您是使用Python3.x做开发，需要用pip3安装

预计是在1.3版本支持。

大概是2月下旬。

[2019-01-23 01:57] LittleFatHero commented on #15475
你好，如果使用python 3.x做开发，需要使用pip3安装的话，那么能不能在官方的安装文档里说明一下，因为这个很容易引起误解。一般很多新手都直接使用pip来安装，结果使用python3.x来开发，导致一系列问题

[2019-01-23 02:13] HaozhengLi commented on #15423
您好，这两种方法都尝试过了，仍然报一样的错误。

请问还有别的解决方法吗，谢谢。

[2019-01-23 02:18] chengduoZH commented on #15477
Paddle中关于[conv2d_transpose](http://www.paddlepaddle.org/documentation/docs/en/1.2/api/layers.html#conv2d-transpose)是没有类似于TF中的`SAME`和`VALID`模式的。
关于conv2d_tranpose中输出大小的计算公式如下：
<img width="711" alt="wx20190123-101600 2x" src="https://user-images.githubusercontent.com/30176695/51578353-416e9680-1ef8-11e9-855a-8fac3be87d2a.png">

[2019-01-23 02:20] #15022 closed, assigned to jczaja

[2019-01-23 02:26] chengduoZH commented on #15467
你是想借用工具将programDesc可视化出来吗？

[2019-01-23 02:33] qingqing01 commented on #14945
@littletomatodonkey

这个问题一般是没有对运行`fluid.default_startup_program()`，导致一些conv参数没有正确初始化。

https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/faster_rcnn/train.py#L85

请问你用改动代码吗？

[2019-01-23 02:36] littletomatodonkey commented on #14945
您好，我之前的模型加载不正确（加载了预训练模型，实际应该加载训练好的模型），修改后可以正常运行了，谢谢！

[2019-01-23 02:37] wopeizl commented on #15475
谢谢指出，安装文档里面有说明，http://paddlepaddle.org/documentation/docs/zh/1.2/beginners_guide/install/install_Windows.html

[2019-01-23 02:40] wopeizl commented on #15423
目前看起来感觉是python安装可能有点问题，可以尝试重新安装一下，安装的时候勾选“add python3 to path"选项 ，并最好安装到自定义目录方便查看
![image](https://user-images.githubusercontent.com/23548796/51579251-3bc68000-1efb-11e9-87df-14224609b0b4.png)

[2019-01-23 02:45] LittleFatHero commented on #15475
还有一个问题。我的电脑上**只安装了**python 3.6，好像只能使用pip，没有pip3命令。这时候，我使用pip install paddlepaddle命令安装的paddlepaddle是不是和使用pip3安装的paddlepaddle一样的，都只支持python 3.x？因为我电脑上只有一个python版本

[2019-01-23 02:51] #14945 closed, assigned to qingqing01

[2019-01-23 02:51] tensor-tang commented on #15447
# 结论

## 对于同一个版本的mkl

不同指令集系统， mkl本身的结果就是有一定误差(可能高于1e-5)， 可以采用如下办法对齐差别：
[code]
前者会force使用指定的指令集run，这样便可保证逻辑与在对应指令集系统结果一致，但是由于换了指令集所以会损失一定的性能，其次只在对齐内存时才有效，还有mkl线程数必须一致。

## 对于不同版本的mkl

本身就有对不齐的风险

[2019-01-23 02:51] #15447 closed, assigned to nobody

[2019-01-23 02:53] zhoukunsheng opened #15481 "使用ParallelExecutor 进行单机多卡训练时出core"
paddle 版本：源码编译dev 版

单卡使用Executor 时运行正常，修改成ParallelExecutor 之后运行出错。
![image](https://user-images.githubusercontent.com/29747927/51579766-1c305700-1efd-11e9-8bfc-327395f3cfe3.png)

![image](https://user-images.githubusercontent.com/29747927/51579639-adeb9480-1efc-11e9-938f-93c70aa4c53e.png)

[2019-01-23 02:59] ghost commented on #15447
Run By Run的numeric reproduce, 应该不需要export MKL_CBWR=AVX/COMPATIBLE(这样会强制使用AVX甚至SSE指令），而是应设成Auto(由MKL选择指令集）。这是推荐的设置吧？
Processor By Processor的numeric reproduce, 则需要强行指定MKL_CBWR为具体的指令集（不能使用auto);
Version By Version的numeric reproduce, 应该是无法做到的

[2019-01-23 03:08] LittleFatHero commented on #15475
PS：安装文档我看过了，就是因为安装文档里没有明确说明才导致了这一系列疑问的

[2019-01-23 03:45] gongweibao opened #15482 "Log fatal when run_brpc_test error!"
https://github.com/PaddlePaddle/Paddle/pull/15468#pullrequestreview-195335613

[2019-01-23 03:48] #15317 closed, assigned to Xreki

[2019-01-23 03:53] kuke commented on #15481
可以把配置贴全否，应该是输入有点问题

[2019-01-23 04:04] gninrom opened #15483 "paddle.dataset.imdb.word_dict() 报错，连接超时"
![image](https://user-images.githubusercontent.com/13362142/51582417-e85a2f00-1f06-11e9-99a2-f3f7bda1d9dc.png)
加载paddle自带的数据集时，显示连接失败，这个该怎么解决？

[2019-01-23 05:04] dashulu commented on #15467
@chengduoZH 我想通过ProgramDesc获取整个模型的op，以及每个op的参数规模、计算量、内存使用量等信息，包括op的依赖关系。

[2019-01-23 05:07] chengduoZH commented on #15467
@dashulu 你可以参考一下这个： https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/memory_usage_calc.py

[2019-01-23 05:08] zhoukunsheng commented on #15481
![image](https://user-images.githubusercontent.com/29747927/51584337-cd3fed00-1f0f-11e9-885c-ce74e66b5d8d.png)
![image](https://user-images.githubusercontent.com/29747927/51584355-e0eb5380-1f0f-11e9-8ec3-37baea21d0b6.png)

[2019-01-23 05:08] dashulu commented on #15467
这个我看过，但是只是内存相关的东西，无法知道每个op的计算量

[2019-01-23 05:09] jiangjiajun commented on #15477
我这边看了下tensorflow的conv2d_transpose，相对比paddle的conv2d_transpose，在padding=SAME的情况下，tensorflow的conv2d_transpose会在最后结果做一个裁剪步骤

因此在同样参数调用下，Paddle的输出是[29, 57]，而tensorflow的输出是[28, 56]

所以要实现与Tensorflow一致，padding为SAME的情况下，paddle需要再调用layers.crop进行处理

[2019-01-23 05:11] chengduoZH commented on #15467
Op的计算量与OpKernel的实现有关，目前这部分内容目前无法在programDesc中显现

[2019-01-23 05:41] chengduoZH commented on #15467
你可以用这样的方式保存和加载Program
[code]
从文件中加载Program：
[code]

[2019-01-23 05:48] #15467 closed, assigned to chengduoZH

[2019-01-23 06:00] kuke commented on #15483
刚尝试过直接wget http://ai.stanford.edu/%7Eamaas/data/sentiment/aclImdb_v1.tar.gz 没有问题，请检查一下网络连接

[2019-01-23 06:29] tensor-tang commented on #15447
Yes，再细分下来是这样，多谢补充。

[2019-01-23 07:14] #14273 closed, assigned to jacquesqiao, seiriosPlus

[2019-01-23 07:14] seiriosPlus commented on #12249
completed.

[2019-01-23 07:14] #12249 closed, assigned to seiriosPlus

[2019-01-23 07:54] jczaja commented on #14346
@jianhang-liu Yes, I'm starting to look at it today

[2019-01-23 08:15] lucywsq opened #15484 "ptr无法分配GPU"
提示ptr无法分配GPU，麻烦大佬给我指点迷津。
usr/bin/python2.7 /home/yang/PycharmProjects/note7/code/train.py
[INFO 2019-01-05 18:23:52,363 layers.py:2716] output for __conv_0__: c = 16, h = 80, w = 180, size = 230400
[INFO 2019-01-05 18:23:52,364 layers.py:3361] output for __batch_norm_0__: c = 16, h = 80, w = 180, size = 230400
[INFO 2019-01-05 18:23:52,364 layers.py:2716] output for __conv_1__: c = 16, h = 80, w =

[2019-01-23 09:51] kebinC opened #15487 "fluid.layers.affine_grid 与 fluid.layers.grid_sampler联合使用异常"
这个我的测试代码：
[code]

错误信息：
Traceback (most recent call last):
  File "test_stn.py", line 37, in <module>
    test()
  File "test_stn.py", line 22, in test
    out = fluid.layers.grid_sampler(input, grid=grid)
  File "/home/users/chenkaibing/env/paddle-release/python-gcc482-paddle/lib/python2.7/site-packages/paddle/fluid/layers/nn.py", line 8870, in grid_sampler
    helper.append_op(type='grid_sampler

[2019-01-23 11:14] Sand3r- opened #15489 "Debug/Release DescribeZeroCopyTensor linking error"
**System information**
-PaddlePaddle version （eg.1.1）or CommitID: `d243e555eb5856d5642706e1aa0d0800b146cae5`
-CPU: including MKLDNN version
-OS Platform: Ubuntu 16.04
-Python version: 2.7.12
- Install method: built from source

**To Reproduce**
[code]
**Describe your current behavior**
[code]

**Other info**
Introduced at some commit after 9252aa41f5af28f73f890b775ce2648c02c45724.

[2019-01-23 11:16] kuke commented on #15484
这是用的V2 API吧？报这个错是模型占用显存超出了上限，试着把batch size改小或者把模型结构改小，看能否跑起来

[2019-01-23 11:59] liushanshan07 opened #15495 "ValueError: setting an array element with a sequence."
使用pyreader实现识别ctc训练任务，报错为ValueError: setting an array element with a sequence.现象是训练任务挂起，没有显存占用。求问是啥原因（调试发现数据lod对不上，但不会改。不确定本质原因是啥）

1. 原来的数据类型如下，有个python自定义train_reader
`images = fluid.layers.data(name='pixel', shape=data_shape, dtype='float32')`
`label = fluid.layers.data(name='label', shape=[1], dtype='int32', lod_level=1)`

2. 改用py_reader实现如下，decorate_paddle_reader设置reader
`py_reader = fluid.la

[2019-01-23 12:04] heavengate commented on #15487
定位为affine_grid因为可以接受Variable的out_shape输入，所以在InferShape的时候设置的OutputDim为{theta_dims[0], -1, -1, 2}, 而grid_sampler在InferShape阶段会判断grid_dims[1, 2]与x_dims[2, 3]是否相等，而grid_dims[1, 2]被设置成-1，所以报错。我们会尽快确认修改方案并完成修改。

[2019-01-23 13:48] wojtuss opened #15499 "Running additional passes after a few warm-up inference iterations"
@luotao1 , @Superjomn
In order to optimize a model with INT8 quantization, it would be necessary to optimize the model using common passes first, then run a few warm-up iterations to gather data required for quantization, then quantize the model using additional passes and finally start the main inference iterations.
In your opinion, what would be the best way to handle such a scenario (passes ->

[2019-01-23 14:51] kuke commented on #15495
@liushanshan07 这里是numpy的报错，应该是用一个形状不对的list去初始化了ndarray，例如
[code]
会给出一样的报错。猜测是初始化lodtensor的list没有做展开的缘故

[2019-01-23 15:09] kuke commented on #15481
@zhoukunsheng dataset.train_reader()出来的数据格式是什么

[2019-01-23 15:20] luotao1 commented on #15489
fixed by #15486

[2019-01-24 01:23] jacquesqiao opened #15500 "优化分布式异步训练的性能"
- [ ] Add async ssa graph executor https://github.com/PaddlePaddle/Paddle/pull/15409
- [x] Optimize cpp reader https://github.com/PaddlePaddle/Paddle/pull/14731
- [ ] Add some debug tool https://github.com/PaddlePaddle/Paddle/pull/15471
- [ ] optimize profiler https://github.com/PaddlePaddle/Paddle/pull/14942

[2019-01-24 02:59] #15489 closed, assigned to nobody

[2019-01-24 03:07] liushanshan07 commented on #15495
谢谢帮助。求问上述py_reader中哪个位置用到了list初始化np.array？我把python 的train_reader yield类型写在下面。
`img = Image.open(items[2]).convert('L')`
` label = [int(c) + 2 for c in items[-1].split(',')]`
`result = [img, label]`
`yield result`

[2019-01-24 03:32] wanghaoshuang commented on #15495
images, label = fluid.layers.read_file(py_reader)

在这行之后fluid.layers.Print(label), 看一下label的lod是不是正确？

[2019-01-24 06:02] jacquesqiao opened #15508 "稀疏cpu模型训练优化和完善"
## 异步训练性能优化
- [x] Add async ssa graph executor https://github.com/PaddlePaddle/Paddle/pull/15409
- [x] Optimize cpp reader https://github.com/PaddlePaddle/Paddle/pull/14731
- [ ] Add some debug tool https://github.com/PaddlePaddle/Paddle/pull/15471
- [ ] optimize profiler https://github.com/PaddlePaddle/Paddle/pull/14942
- [ ] 多cpu reduce模式不需要broadcast参数 https://github.com/PaddlePaddle/Paddle/pull

[2019-01-24 08:45] Sand3r- commented on #15489
Thank you so much!

[2019-01-24 12:15] Yancey0623 commented on #15430
在fliud是要保存两个模型（pool层和fc层）才可以实现吗？

要获取 pooling和fc层的输出么？这个可以通过 Executor 的 fetch_list 参数实现，例如：
[code]

plot是属于第三方库，fliud中没有默认安装，可以在自己的环境上安装一个。

[2019-01-24 13:27] stoiczzz commented on #15430
那我需要保存2个模型吗？还是只需要保存一个模型，之后可以根据参数选择加载pool层或fc层吗？

下面这个问题，谢谢，jupyter上貌似可以。

[2019-01-25 01:54] #15484 closed, assigned to kuke

[2019-01-25 02:15] HaozhengLi commented on #15423
看来是python版本的原因，我将Python版本换成3.6.3即可跑通。

感谢您的帮助，谢谢！

[2019-01-25 02:39] Yancey0623 commented on #15430
你说的加载pool和fc是指啥呢？Executr.run里的fetch_list参数只能获取某一层的输出，如果是模型不同，那可能需要保存成不同的模型了。

[2019-01-25 02:59] #15438 closed, assigned to nobody

[2019-01-25 03:24] lijiancheng0614 commented on #15390
当 `rois` 的 `shape` 为 `[0,]`，`LoD` 为 `[[ 0,0, ]]` 时，[`roi-perspective-transform`](http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#roi-perspective-transform) 会报错：
[code]

[2019-01-25 03:59] luotao1 opened #15517 "Ngraph compiler error in Debug mode"
[code]
http://ci.paddlepaddle.org/viewLog.html?buildId=53131&tab=buildLog&buildTypeId=Paddle_CiDebug&logTab=tree&filter=all&_focus=15586

[2019-01-25 04:02] #15517 closed, assigned to nobody

[2019-01-25 05:09] hutuxian opened #15519 "fluid.layers.data里面指定的shape与实际输出不符合预期"
举例来说，输入层指定的shape是[5,1]：
`fluid.layers.data(name="", shape=[5, 1], dtype="int64")`
实际运行时Print出来变成了[1,5]（batch_size为2)。输出如下：
        shape: [2,1,5,]
        dtype: l
        data: 3737,19450,100000,100000,100000,6855,3805,100000,100000,100000,

请问该怎么理解layers.data里面的shape？

[2019-01-25 05:32] stoiczzz commented on #15430
我的意思是一个模型在返回2个数据，分别是倒数第二层的池化层和最后一层的全连接层（分类器）。然后在加载预测模型时load_inference_model，可以指定获取的是哪个层的输出吗，还是就是对应save_inference_model的时候中指定target_vars为pool层，加载预测模型也只能获取到池化层的数据

pool, net = top3_CNN(image)
.................
fluid.io.save_inference_model(dirname=fc_model, feeded_var_names=['image'], target_vars=[net],executor=exe)
fluid.io.save_inference_model(dirname=pool_model, feeded_var_names=['image'], target

[2019-01-25 06:23] Yancey0623 commented on #15430
只保存一个模型就可以了：
```fluid.io.save_inference_model(dirname=fc_model, feeded_var_names=['image'], target_vars=[net,pool],executor=exe)```

[2019-01-25 06:52] chengduoZH commented on #15477
@jiangjiajun 你可以通过加pad的方式得到与tf输出size一致的结果，这里有例子，你可以看一下：
https://github.com/PaddlePaddle/models/blob/58e9bc20305ea453d50eb924bc94a5f702109888/fluid/PaddleCV/gan/cycle_gan/model.py#L15-L17

[2019-01-25 07:18] kebinC commented on #15487
这个大概什么时候可以修复？

[2019-01-25 07:53] dzhwinter commented on #15118
支持，参考https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_unpool_op.py
提issue前请搜索文档。

[2019-01-25 08:00] dzhwinter commented on #15126
可以读入一个batch内数据，对batch内的数据做mixed_up。
我看了下论文，只是前后样本的一个线性累加？

[2019-01-25 08:00] dzhwinter commented on #15126
你可以参考一下这个case，定制一个reader完成前后的变换就可以了
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_py_reader_using_executor.py#L132

使用py_reader，是否能满足你的需求？

[2019-01-25 08:01] hutuxian commented on #15519
现在问题基本知道出在哪里：shape是以实际数据的shape为准没有与fluid.layers.data()里面定义的shape做相同强制检查。
那么接下来的一个不重要的问题就是有什么场景是没法判断fluid.layers.data()的shape和实际数据的shape的吗？

[2019-01-25 08:25] gongweibao opened #15522 "est_program = fluid.default_main_program().clone(for_test=True) 请问执行这局以后 运行预测程序时 是不是 bn层的is_test会被默认设置为true"
请问执行这局以后  运行预测程序时 是不是 bn层的is_test会被默认设置为true

[2019-01-25 08:25] gongweibao commented on #15522
是的。
￼

http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/fluid_cn.html#clone

[2019-01-25 08:26] #15522 closed, assigned to nobody

[2019-01-25 08:26] gongweibao opened #15523 "paddlepaddle-latest-cp27-cp27m-linux_x86_64.whl is not supported on this platform会是什么问题"

[2019-01-25 08:26] gongweibao commented on #15523
paddlepaddle-0.0.0-cp27-cp27mu-linux_x86_64.whl试试吧，带u的是maylinux版本的

[2019-01-25 08:26] #15523 closed, assigned to nobody

[2019-01-25 08:27] gongweibao opened #15524 "pserver.log里出现这种异常日志，但是同时能正常计算batch loss的日志，这个有问题么"
![image](https://user-images.githubusercontent.com/10721757/51733972-1afa5800-20be-11e9-9067-4addafaa8fcb.png)

[2019-01-25 08:27] gongweibao commented on #15524
没有问题，只是打印了一下检查的日志

[2019-01-25 08:28] gongweibao opened #15525 "想问下transformer有C++的infer例子嘛"

[2019-01-25 08:28] gongweibao commented on #15525
目前还在开源的路上，紧急需要的话私Hi。

[2019-01-25 08:28] #15525 closed, assigned to nobody

[2019-01-25 08:28] #15524 closed, assigned to nobody

[2019-01-25 08:54] luotao1 commented on #15525
transformer C++的例子正在进行中，https://github.com/PaddlePaddle/Paddle/pull/14900 @gongweibao

[2019-01-25 09:19] imistyrain opened #15526 "对齐tensorflow的保存模型中的max_to_keep和keep_checkpoint_every_n_hours"
在tensorflow的保存模型的Saver中有两个非常好用的参数max_to_keep和keep_checkpoint_every_n_hours其中
1.max_to_keep：最多保留的检查点数。
2.keep_checkpoint_every_n_hours：保存检查点的时间间隔
目前我暂没有看到paddlepaddle里有类似的参数，只能通过自己实现的逻辑来进行控制，但这是很有用且公共的需求，如果能集成到库里实现就能大大减少不必要的编码.
不知这块有没有进行支持的打算？

[2019-01-25 09:28] #15415 closed, assigned to qingqing01

[2019-01-25 09:42] Ashleychen opened #15528 "如何遍历序列数据里每一个时间步"
program里面定义的data长这样：
`image_lod = fluid.layers.data(name = 'image_lod', dtype = 'float32',
    shape = [1], lod_level = 1)
label_lod = fluid.layers.data(name = 'label_lod', dtype = 'int64',
    shape = [1], lod_level = 1)
last_label_lod = fluid.layers.data(name = 'last_label_lod', dtype = 'int64',
    shape = [1], lod_level = 1)`
都是长度为50的list。
我需要在训练的时候分步处理每一个时间步的数据，了解到有种方法是用lod tensor array。先将lod

[2019-01-25 10:08] dzhwinter commented on #15123
那就是你的数据样本问题了，欠拟合

[2019-01-25 10:57] #15456 closed, assigned to typhoonzero

[2019-01-25 10:58] #15416 closed, assigned to qingqing01

[2019-01-25 11:09] guoshengCS commented on #15519
`fluid.layers.data`会在shape的最前面加上一个-1作为batch size，可以参考这里 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/io.py#L88

可以认为Fluid中定义网络结构时的shape都是placeholder，实际运行时使用的都是实际数据的shape，如这里的 [2,1,5,]

[2019-01-25 11:50] guoshengCS commented on #15528
输入数据使用LODTensor的话，对于分步处理每一个时间步的数据的需求，大部分情况应该都可以直接使用[DynamicRNN](http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#paddle.fluid.layers.DynamicRNN )，可以尝试使用下，这里有示例 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/book/test_machine_translation.py#L69 ，其中`rnn.step_input`即是每一个时间步的数据，`rnn.memory`是需要更新的rnn的hidden state，另外还有个`rnn.static_input`是rnn外部的数据

[2019-01-25 15:50] jczaja commented on #14346
Partial functional fix (and significant performance improvement) was done in  #15531.
It is still not end of task. LRN in paddle is done using "walking" sum of squares, while in MKL-DNN it is not done that way (still to confirm). This creates some divergence in overall result of LRN. I will post some info, once I finish investigation. PR #15531 is a valid functional and performance fix, please rev

[2019-01-26 04:01] stoiczzz commented on #15430
谢谢你！

[2019-01-26 04:18] mask0918 commented on #15430
那在加载预测模型时，只要调整params_filename的参数就可以了，指定net或者Pool

[2019-01-26 07:19] NHZlX commented on #15176
对于这样的接口，我比较喜欢直接去看py文件中的注释。

1.  save_persistables()
https://github.com/PaddlePaddle/Paddle/blob/88bd7e1a6194a123237129ee4e9cc5c70516946c/python/paddle/fluid/io.py#L439
这个存储到磁盘中只是参数。和save_params类似，看到文档中有这么一个notice
[code]
那我建议，如果只想把参数存储到磁盘，用这个接口就可以，无论预测和训练fine-tune加载参数都ok。
**我也并不是很清楚，为啥将同样的功能用两个接口来实现？可能是历史遗留问题..**

2. save_inference_model

https://github.com/PaddlePaddle/Paddle/blob/88bd7e1a6194a123

[2019-01-27 04:02] xylophone234 opened #15541 "abort log10f"

[2019-01-27 04:10] #15541 closed, assigned to nobody

[2019-01-27 10:38] zigennlp opened #15543 "errors when compile paddle from source code under ubuntu."
after git clone source code of paddle

first
build$

the error message as below：

it seem that not the c or c++ code error ,   I lost at here .

thanks in advance .

[2019-01-27 11:21] panpanli521 commented on #14218
@oshixiaoxiliu   请问这个问题解决了吗？

[2019-01-27 11:57] jczaja commented on #14346
We finished investigation on LRN inaccuracies. Second issue was related to the fact that different algorithms of computing LRN were used eg.
Paddle is using:
http://paddlepaddle.org/documentation/docs/en/1.2/api/layers.html#lrn

MKL-DNN is computing LRN :
http://caffe.berkeleyvision.org/tutorial/layers/lrn.html

There is a diffrence among them , as in MKL-DNN implementation there additional divisi

[2019-01-27 12:55] heavengate commented on #15487
https://github.com/PaddlePaddle/Paddle/pull/15542 已修改，预计周一周二合入

[2019-01-27 14:01] heavengate commented on #15360
同一问题请在单个issue内讨论，以便更快速的解决，感谢. 此issue由https://github.com/PaddlePaddle/Paddle/issues/15359   跟踪

[2019-01-27 14:01] #15360 closed, assigned to heavengate

[2019-01-27 14:02] heavengate commented on #15358
同一问题请在单个issue内讨论，以便更快速的解决，感谢. 此issue由#15359 跟踪

[2019-01-27 14:02] #15358 closed, assigned to heavengate

[2019-01-28 02:08] #15487 closed, assigned to heavengate

[2019-01-28 02:43] #13882 closed, assigned to nobody

[2019-01-28 03:46] dashulu opened #15544 "编译paddle v1.2版本出错"
编译v1.2版本时，出现如下错误：
/paddle/paddle/fluid/pybind/pybind.cc:90:16: error: expected constructor, destructor, or type conversion before ‘(’ token
 PYBIND11_MODULE(core, m) {
                ^
/paddle/paddle/fluid/pybind/pybind.cc:939:1: error: expected ‘}’ at end of input
 }  // namespace paddle
 ^
/paddle/paddle/fluid/pybind/pybind.cc:939:1: error: expected ‘}’ at end of input

[2019-01-28 03:55] luotao1 commented on #14346
fixed by #15531

[2019-01-28 03:55] #14346 closed, assigned to Sand3r-, jczaja, wojtuss, kbinias

[2019-01-28 03:56] jacquesqiao commented on #15543
This is because the protoc version is not 3.1, please check in you env.

[2019-01-28 05:32] dzhwinter commented on #15544
需要升级一下pybind。清空一下build环境重新编译就好了。

[2019-01-28 05:59] Ashleychen opened #15547 "array_read编译和运行时返回结果的shape不一致"
[code]
我在跑一个简单的demo，用来测试序列数据的分布处理，发现当序列数据最后一维的大小为1的时候（如我的label数据）array_read运行时返回的结果会将shape的最后一维去掉，如我想要current_label返回的shape为（128,1），实际返回的却是(128)，导致我fc的时候报错了：
`I0128 13:51:52.005067 11374 mul_op.cc:41] mul operator x.shape=128 y.shape=1, 20 x_num_col_dims=1 y_num_col_dims=1`。
而且这样的话我在调用 `current_loss = fluid.layers.softmax_with_cross_entropy(logits = loss_input, label = current_label)`的时候编译的时候没有问题，

[2019-01-28 06:51] #15206 closed, assigned to wzzju

[2019-01-28 06:57] zhoukunsheng opened #15549 "源码编译安装paddle时，cmake 检测到的CUDA 版本与实际版本不符合"
GPU 是cuda v 100，安装的cuda 是9.0 版本，cudnn 7.0 版本。
使用http://paddlepaddle.org/documentation/docs/zh/1.2/beginners_guide/install/compile/compile_CentOS.html 下docker 编译的方式，可以编译成功，但是cmake 检测到的cuda 版本是8.0。

运行模型报告如下错误：
W0125 19:29:06.251294 83370 device_context.cc:262] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 9.2, Runtime API Version: 8.0
W0125 19:29:06.251364 83370 device_context.cc

[2019-01-28 07:02] appleappleorange opened #15550 "请问可以直接在pycharm中安装paddle？如果可以，这个库的名字是什么？"
如题，可以直接装吗

[2019-01-28 08:39] JCJTrying opened #15552 "模型训练成功，本地infer失败"
问题描述：
    embedding 矩阵使用is_distributed=True后，训练产出的模型在本地infer失败。is_distributed=False时，训练产出的模型在本地能正常infer

- 版本、环境信息：
    1）PaddlePaddle版本：paddle-fluid-v1.2.0

-错误信息
   Traceback (most recent call last):
  File "infer.py", line 236, in <module>
    main()
  File "infer.py", line 232, in main
    infer(use_cuda)
  File "infer.py", line 211, in infer
    fetch_list=fetch_targets)
  File "/home/zhangsh

[2019-01-28 08:40] 333caowei opened #15553 "mpi训练速度还是很慢，已经使用py_reader读取数据"
dssm模型，训练速度：
Batch time: 15.881043, sample_per_second: 32.239696, py_reader_queue_size: 188

从Profiling从没看出瓶颈是啥

train.log的Profiling如下：
[code]

pserver.log的Profiling如下：
[code]

代码可以私hi：caowei07

[2019-01-28 08:49] seiriosPlus commented on #15552
1. emb的is_distributed设置为True, 则表示要用超大规模稀疏参数， 此参数save的时候是保存在parameter 端的保存参数的目录下的__lookup_table__目录下。
2. 带有超大规模稀疏参数做infer比一般infer要多一些步骤， 如果要用带有超大规模稀疏参数进行infer， 需要使用 paddle.fluid.contrib.utils.lookup_tables.py中的 load_persistables_for_inference进行预测。
3. 我下一个回复贴一下预测的步骤和方法。

[2019-01-28 09:06] zhoukunsheng commented on #15549
发现启动docker 之后，/usr/local/cuda 这个目录无论在进入docker 前指向哪里，最后都链接回/usr/local/cuda-8.0 下（8.0 这个目录在进入docker 前不存在）。只需要在进入docker 后，将软连接指向设置正确，cmake 就能检测到正确的CUDA 版本。

[2019-01-28 09:06] #15549 closed, assigned to nobody

[2019-01-28 09:28] JCJTrying commented on #15552
非常感谢帮助。 我在issue里面搜不到相关的预测步骤和方法，辛苦贴一下预测的步骤和方法

[2019-01-28 09:36] seiriosPlus commented on #15552
1. 你先确认一下在pserver端是否有__lookup_table__的目录及 目录下的 emb对应的参数生成。

2.多机训练(带超大规模稀疏参数)的本地预测方法我正在写markdown.

[2019-01-28 10:01] shippingwang opened #15559 "打开WITH_DISTRIBUTE编译安装 出现error"
![image](https://user-images.githubusercontent.com/13645332/51828485-a5dd8b80-2326-11e9-9684-34bbf8e2dd7c.png)

[2019-01-28 10:33] hweidream opened #15561 "训练中报错：paddle.fluid.core.EnforceNotMet: Enforce failed. Expected ids_dims[ids_rank - 1] == 1, but received ids_dims[ids_rank - 1]:128 != 1:1."
`
def train(conf_dict, data_reader, use_cuda=False, is_local=True):
    label_dict_len = data_reader.get_dict_size('label_dict')
    # 输入
    # data layer
    word = fluid.layers.data(
        name='word_data', shape=[1], dtype='int64', lod_level=1)
    postag = fluid.layers.data(
        name='token_dist', shape=[1], dtype='int64', lod_level=1)
    # label
    z = fluid.layers.data(
        name=

[2019-01-28 11:12] seiriosPlus commented on #15552
# 训练带超大规模稀疏参数的模型的本地预测方法
    带超大规模稀疏参数的模型在保存时，会将超大规模稀疏参数存在PServer端，且预测比一般训练步骤略多。

## 参数准备
    带有超大规模稀疏参数的模型训练，用户在trinaer端调用 ```fluid.io.save_persistables``` 和 ```fluid.io.save_inference_model```时， 会在pserver的同名目录下生成**__lookup_table**的目录，目录下会保存有对应的pserver的超大规模稀疏参数。
## 本地预测
    主要分成3个部分：
1. 保存参数：将trainer 上保存的参数 和 全部pserver上保存的参数合并到一个文件夹下。类似于：
![](./_image/2019-01-28-18-58-38.png)
2. 构建预测网络：
    带有超大规模

[2019-01-28 11:43] dzhwinter commented on #15553
已在hi上沟通，统计问题。另外，正在尝试异步training并打开is_sparse。

[2019-01-28 11:46] dzhwinter commented on #15561
lookup_table的查询id是一个一维向量，你是不是设置一个one_hot的id矩阵了？

[2019-01-28 11:48] dzhwinter commented on #15550
paddle可以直接用pip install，pycharm支持pip安装的话，就可以直接装。

[2019-01-28 11:55] appleappleorange commented on #15526
已经转达框架方向同学进行跟进

[2019-01-28 12:57] shippingwang commented on #15439
rm -rf
make clean尝试多次
cmake .. -DWITH_GPU=ON -DWITH_TESTING=ON -DCMAKE_BUILD_TYPE=Release
重新编译安装，成功

[2019-01-28 12:59] shippingwang commented on #15559
未知原因，build目录下rm -rf * 和 make clean尝试多次，编译成功。怀疑下午的时候网不行

[2019-01-28 12:59] #15559 closed, assigned to nobody

[2019-01-28 13:27] zigennlp commented on #15543
I check my env of protoc ,

Maybe there are others issue cause this error.

[2019-01-28 13:28] JCJTrying commented on #15552
多谢解答。还有一个问题，fluid1.2里面找不到paddle.fluid.contrib.utils.lookup_table_utils这个module

[2019-01-28 14:01] seiriosPlus commented on #15552
哦~ 尴尬， 我贴一下吧， 你直接把代码放你本地，直接import

[2019-01-28 14:08] JCJTrying commented on #15552
额好... 来一份代码吧

[2019-01-28 14:11] seiriosPlus commented on #15552
[code]

[2019-01-28 14:12] seiriosPlus commented on #15552
在develop版本的代码库中和即将发布的1.3版本是可以直接调用的.

[2019-01-28 16:01] kjfren1985 opened #15564 "最新fluid api如何实现多任务"
如题，现在想用paddle做multi task训练，例如同时拟合用户的性别及婚姻状况，请问在最新的fluid api中如何实现？
issue中找到了两个相关的讨论：
https://github.com/PaddlePaddle/Paddle/issues/7511
https://github.com/PaddlePaddle/Paddle/issues/4191
但是貌似中间提到的写法和现在不太一样了（比如类似extra_layers = [loss1, loss2]？），请问最新版本中如何实现？

[2019-01-29 02:16] dzhwinter commented on #15564
多任务训练写多个loss求和就可以，你提到的两个case是老API的，现在写法有一点变化。
loss1 = fluid.layers.xxx_loss()
loss2 = fluid.layers.xxx_loss2()
loss = loss1 + loss2
opt = fluid.optimizer.SGD()
opt.minimize(loss)

[2019-01-29 02:17] dzhwinter commented on #15564
这样能否满足你的需求？

[2019-01-29 02:41] liupluswei commented on #15547
@Ashleychen 我再Baidu hi上请求加你好友了，麻烦通过一下。希望能提供完整的代码和数据让我们复现这个问题

[2019-01-29 03:05] procr commented on #15016
嗨~@NHZlX 这个后来有结果了么？

[2019-01-29 03:23] Ashleychen opened #15567 "while_op里的梯度回传问题"
[code]
[code]
上面两段是我的训练program的代码，主要是feed进去3个lod tensor，首先我将这3个lod tensor转成array，然后在while_op里面遍历每一个时间步的数据，然后搭model layers，之后得到每一个时间步的loss，将每一个时间步的loss用array write写到array里面。最后跳出while循环，将loss array转成lod tensor，并且用reduce sum求出所有时间步的loss总和返回给optimizer。
在运行的时候报错：
[code]
不知道是什么原因，是说我传回去的loss是空的？

[2019-01-29 03:24] ccmeteorljh opened #15568 "paddle 训练报错信息优化"
- 版本、环境信息
1）PaddlePaddle版本：2019年1月28号编译版本
2）CPU/GPU：GPU， cuda8，cudnn5
3）系统环境：Ubuntu
- 复现信息：
  https://github.com/PaddlePaddle/models/blob/develop/fluid/mnist/model.py#L73
  将mnist模型的SIZE 改为小于10，然后执行
[code]
**报错显示如下：**
[code]
- 建议描述：
目前增加了python statch信息，相比于1.2来说显式的增加了paddle框架的一些op报错信息，但是对于用户来说，依然不清楚是那一行出错，或者是什么原因导致的，需要仔细排查，才能发现错误；
在最一开始的报错中其实有重要的提示信息
[code]
查看具体代码是：
[https://github.com/PaddlePaddl

[2019-01-29 04:16] Superjomn commented on #15567
![image](https://user-images.githubusercontent.com/328693/51883766-5008f200-23bf-11e9-8c85-53e942f6b914.png)

这里计算loss应该不需要放到 step 里面做，while op 正常写计算逻辑，把需要计算的信息的放到 output里，最后出了 while_op 再在外面用 cross entropy 计算loss。

loss的计算逻辑在while_op 里面应该支持不好。

[2019-01-29 04:45] jacquesqiao commented on #15543
@JiabinYang please take a look.

[2019-01-29 04:54] JiabinYang commented on #15543
您是编译的那一个版本的paddle

[2019-01-29 07:00] kjfren1985 commented on #15564
多谢，我尝试下~

[2019-01-29 07:13] kjfren1985 opened #15578 "02.recognize_digits的示例，不同paddle版本准确率不同"
三个机器和paddle版本环境：
1. cpu机器，cpu版本paddle，cpu模式
   a）PaddlePaddle版本：0.14.0（内网一键安装paddlepaddle-0.14.0-cp27-cp27mu-manylinux1_x86_64.whl）
   b）系统环境：CentOS release 4.3 (Final)
   c)  单机训练
   d)  准确率：89.98%

2. gpu机器，cpu版本paddle，cpu模式
   a）PaddlePaddle版本：1.2.0（内网一键安装paddlepaddle_gpu-1.2.0.post87-cp27-cp27mu-linux_x86_64.whl）
   b）系统环境：CentOS release 6.3 (Final)
   c)  单机训练
   d)  准确率：89.93%

3. gpu机器，gpu版

[2019-01-29 07:54] shiyazhou121 opened #15579 "transformer里data层的疑问"
tranformer的fluid实现是参考https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleNLP/neural_machine_translation/transformer

其中src_word数据层定义是"src_word": [(batch_size, seq_len, 1), "int64", 2], 对应的是data的shape, dtype, lod_level。

以上是tranformer的实现，我在用到自己模型中时，参考上边的配置，结果报错了。
我的数据是将一个句子转变成的序列vector，比如 [[1], [2], [3], [5]]
另外有个疑惑，既然已经做了padding，可以当定长处理，为什么tranformer里用的lod_level = 2.

![image](https://

[2019-01-29 07:55] shippingwang opened #15580 "文档"
我们的文档 现在更新的频率很快，文档越来越好，是不是可以飘个new之类的，比如说前几天我看[py_reader](http://paddlepaddle.org/documentation/docs/zh/1.2/user_guides/howto/prepare_data/use_py_reader.html)
 文档不全，现在已经改善了，这种“惊喜”感，是不是可以放出来说一下。

比如：XX文档有更新，或者标志一下XX文档的最后更新的时间。

[2019-01-29 08:09] Superjomn commented on #15579
辛苦transformer 的作者答下哈 @kuke

[2019-01-29 08:16] newdimitri opened #15581 "请问PaddlePaddle区分LoDTensor是不是偏移表示，是不是根据提lod-Tensor第一个值是否为0来界定的？"
如题，
还有一个问题LoDTensor适用于大规模稀疏数据吗？

[2019-01-29 08:18] Superjomn commented on #15581
LoDTensor 的话，本身就是基于相对偏移的

http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/fluid_cn.html#paddle.fluid.LoDTensor

另外，LoDTensor 暂不支持稀疏矩阵。

但如果是分布式embedding的话，那可能是另外一回事了。

[2019-01-29 08:19] kebinC opened #15583 "fluid.layers.grid_sample 梯度计算异常"
测试代码：
stn.py
[code]

test.py
[code]

错误信息：
W0129 16:18:19.649785 91562 device_context.cc:263] Please NOTE: device: 0, CUDA Capability: 35, Driver API Version: 9.0, Runtime API Version: 8.0
W0129 16:18:19.649894 91562 device_context.cc:271] device: 0, cuDNN Version: 5.0.
W0129 16:18:19.649914 91562 device_context.cc:295] WARNING: device: 0. The installed Paddle is compiled with CUDNN 5.1, but CUDNN

[2019-01-29 08:22] Superjomn commented on #15583
![image](https://user-images.githubusercontent.com/328693/51894190-11386380-23e2-11e9-98e3-9ca6bf19f044.png)
![image](https://user-images.githubusercontent.com/328693/51894199-1695ae00-23e2-11e9-8daa-da09b3bdeb5f.png)

[2019-01-29 08:23] kebinC commented on #15583
没有加fluid.layers.grid_sample也会出现cudnn版本不一致的警告，但不影响运行

[2019-01-29 08:25] Superjomn commented on #15578
可能一些op有调整，或者optimizer 内部的优化算法不太一样，不一定是问题。

建议训练到收敛，看最终效果是否能打平

[2019-01-29 08:27] kjfren1985 commented on #15578
ok 我这边check下 训练到收敛再看下

[2019-01-29 08:31] chengduoZH commented on #15583
@kebinC 你那边可以先将cudnn更新成5.1试试 可以吗？

[2019-01-29 09:07] kebinC commented on #15583
换成cudnn5.1后，就没有WARNING了，但还是有梯度的问题

W0129 17:06:26.513718 70165 device_context.cc:263] Please NOTE: device: 0, CUDA Capability: 35, Driver API Version: 9.0, Runtime API Version: 8.0
W0129 17:06:26.513835 70165 device_context.cc:271] device: 0, cuDNN Version: 5.1.
*** Aborted at 1548752793 (unix time) try "date -d @1548752793" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGS

[2019-01-29 09:28] liupluswei commented on #15547
已线下在hi上跟用户沟通，array_read API没有问题，用户在生成输入的时候有些疏漏。

[2019-01-29 10:17] #15159 closed, assigned to kuke, xuezhong

[2019-01-29 10:19] shanyi15 commented on #15580
感谢建议。
另，目前文档已迁移到[FluidDoc](https://github.com/PaddlePaddle/FluidDoc)作统一管理，后续如有建议也欢迎在该Repo建立Issue，谢谢！

[2019-01-29 11:29] heavengate commented on #15583
W0129 19:27:45.514426 131197 device_context.cc:210] device: 0, cuDNN Version: 7.0.
[array([0.01646649], dtype=float32)]
[array([0.01338135], dtype=float32)]
[array([0.01144676], dtype=float32)]
[array([0.00995981], dtype=float32)]
[array([0.00882449], dtype=float32)]
[array([0.00791433], dtype=float32)]
[array([0.00822456], dtype=float32)]
[array([0.00796479], dtype=float32)]
[array([0.00762382],

[2019-01-29 12:18] kebinC commented on #15583
我换了cudnn7，还是报上面的错误
换成cudnn7.1, 报了新的问题：

Traceback (most recent call last):
  File "test_stn2.py", line 40, in <module>
    test()
  File "test_stn2.py", line 29, in test
    exe.run(fluid.default_startup_program())
  File "/home/users/chenkaibing/env/paddle-release-cudnn7/python-gcc482-paddle/lib/python2.7/site-packages/paddle/fluid/executor.py", line 525, in run
    use_program_cache=use_program_

[2019-01-29 12:49] heavengate commented on #15583
W0129 20:47:54.938258 213486 device_context.cc:220] device: 0, cuDNN Version: 5.1.
[array([-0.00814993], dtype=float32)]
[array([-0.00021479], dtype=float32)]
[array([-0.00416845], dtype=float32)]
[array([-0.00395859], dtype=float32)]
[array([-0.00456897], dtype=float32)]
[array([-0.00368273], dtype=float32)]
[array([-0.00547487], dtype=float32)]
[array([-0.0044285], dtype=float32)]
[array([-0.004

[2019-01-29 13:52] warnet2git commented on #6338
请问这个问题怎么解决的呢？

[2019-01-30 02:35] kolinwei opened #15593 "thresholded_relu 返回值为None"
name: "input"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: -1
      dims: 1
    }
    lod_level: 0
  }
}
persistable: false

<type 'NoneType'>

[2019-01-30 03:03] kebinC commented on #15583
@heavengate 我从官方网站下载的paddle whl包也会报这个问题，请问你的测试环境是什么？我这边是
k40机器 + cuda8.0 + cudnn5.1

[2019-01-30 05:03] kjfren1985 opened #15595 "fluid API如何从文件读取离散稀疏特征"
数据格式类似：
LineNum  \t  Label  \t  Feas

Feas类似：1 32 64 512 1023;  共1024维

paddle版本：paddlepaddle_gpu-1.2.0.post87-cp27-cp27mu-linux_x86_64.whl

[2019-01-30 05:04] #15405 closed, assigned to Sand3r-, wojtuss, kbinias, tpatejko

[2019-01-30 05:19] hweidream commented on #15561
已解决

[2019-01-30 05:19] #15561 closed, assigned to dzhwinter

[2019-01-30 06:11] kjfren1985 commented on #15578
尝试把代码中的配置PASS_NUM改为了100，分别在环境1和3中测试运行，最终得出的准确率结果差不多（91.5%左右）。只不过在环境1下，选取的最好结果是14轮；在环境3下选取的最好结果是99轮。

[2019-01-30 08:44] kuke opened #15598 "Error when use fp16 to init parameters"
[code]

[2019-01-30 08:47] tensor-tang opened #15599 "ngraph compile fail"
## how to reproduce

[code]

## error
[code]

@baojun-nervana @mozga-intel could please help to fix this.

[2019-01-30 09:00] #15580 closed, assigned to shanyi15

[2019-01-30 09:02] seiriosPlus commented on #15595
去paddle models下看看ctr的模型配置和数据读取配置， 原理是一样的。

[2019-01-30 09:36] luotao1 commented on #15599
How about use the images `paddlepaddle/paddle_manylinux_devel:cuda7.5_cudnn5` or `paddlepaddle/paddle:latest-dev`? I can compiler normally.

[2019-01-30 10:14] tensor-tang commented on #15599
tried this, but still failed.

[2019-01-30 10:31] mozga-intel commented on #15599
@luotao1 @tensor-tang Thank you, Let me check it.

[2019-01-30 10:50] luotao1 commented on #15599
For `paddlepaddle/paddle_manylinux_devel:cuda7.5_cudnn5`, when I run `ctest -R test_*_ngraph_op -V`. **The unit-test hangs.**

You can follow the cmake option in http://ci.paddlepaddle.org/viewLog.html?buildId=54897&tab=buildLog&buildTypeId=Manylinux1_CpuAvxCp27cp27mu&logTab=tree&filter=all&_focus=201#_state=71
And `-DWITH_NGRAPH=ON`

[2019-01-30 12:15] shippingwang opened #15604 "cannot import name WeightDecayRegularizer"
![image](https://user-images.githubusercontent.com/13645332/51980653-ab280b00-24cb-11e9-9c4e-f9f61cd5423f.png)
编译带了distribute参数 其他没有区别
cannot import name WeightDecayRegularizer。

[2019-01-30 12:17] zigennlp commented on #15543
@JiabinYang

我现在配合LAC使用Paddle， LAC 建议:

我现在使用的Paddle是： v0.14.0 版本。

https://github.com/baidu/lac/issues/26

上面的链接里有我出错的详细信息， 应该是和protoc有关系！

但是又无从下手。

多谢支持。

[2019-01-30 12:28] shippingwang commented on #15604
重新编译
更新pip
curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
python get-pip.py
解决

[2019-01-30 12:28] #15604 closed, assigned to nobody

[2019-01-30 21:57] mozga-intel commented on #15599
@luotao1, @tensor-tang  Could you please send me more details about this problem, i.e the computer system, whether it's an image of the docker, whether it's a parallel build (...)? Generally, I tried to follow in @tensor-tang's footsteps but the error message is not the same, plus I got a bit different result than you. On the whole, I did not get those mistakes during the build process on my nativ

[2019-01-31 02:05] luotao1 commented on #15599
@mozga-intel Could you paste your error log?

[2019-01-31 03:26] liyingying05 commented on #14981
<img width="1274" alt="image" src="https://user-images.githubusercontent.com/39268034/52028678-d1d95680-254a-11e9-8a03-8a26760d9515.png">
我也遇到类似这样的错误  在k40的机器上跑没有问题 在p40的机器上单卡跑也没有问题 但是开多卡的话就报错这个错误 麻烦看一下这个信息能反映出什么吗？ @qingqing01

[2019-01-31 04:44] luotao1 opened #15615 "Add mkldnn related unit-tests"
To improve the code (line+function) coverage, please **add mkldnn related unit-tests**:
http://ce.paddlepaddle.org:8080/viewLog.html?buildId=21110&buildTypeId=PaddlePaddleFramework_TestCoverage_TestCoverage&tab=report_project15_C___Coverage
- framework/ir/mkldnn
![image](https://user-images.githubusercontent.com/6836917/52030394-a22e4c80-2552-11e9-9328-29466a662d06.png)
- operators/elementwise/mkl

[2019-01-31 05:05] luotao1 opened #15616 "Add JIT CRF_decoding and Layer_norm unit-test"
To improve the code (line+function) coverage, please add JIT CRF_decoding and Layer_norm unit-tests:
http://ce.paddlepaddle.org:8080/viewLog.html?buildId=21110&buildTypeId=PaddlePaddleFramework_TestCoverage_TestCoverage&tab=report_project15_C___Coverage
![image](https://user-images.githubusercontent.com/6836917/52031672-a52c3b80-2558-11e9-9444-4f8663af7d4c.png)
https://github.com/PaddlePaddle/Padd

[2019-01-31 05:14] luotao1 opened #15617 "Ngraph op fails on code coverage"
http://ce.paddlepaddle.org:8080/viewLog.html?buildId=21110&buildTypeId=PaddlePaddleFramework_TestCoverage_TestCoverage&tab=report_project15_C___Coverage
![image](https://user-images.githubusercontent.com/6836917/52031945-d22d1e00-2559-11e9-81d0-530540441c37.png)
In build log, it seems that ngraph ops are not build successfully, please check it.
http://ce.paddlepaddle.org:8080/viewLog.html?buildId=

[2019-01-31 06:01] tensor-tang commented on #15599
I tried this one `paddlepaddle/paddle:latest-dev`, it passed.

[2019-01-31 06:08] baojun-nervana commented on #15599
error from @mozga-intel
"/usr/bin/ld: cannot open linker script file /usr/lib/gcc/x86_64-linux-gnu/5/../../../x86_64-linux-gnu/libm.so: Too many open files
collect2: error: ld returned 1 exit status
[ 99%] Generating paddle_fluid.dir/reset_tensor_array.objlist
paddle/fluid/inference/CMakeFiles/paddle_fluid_shared.dir/build.make:1090: recipe for target 'paddle/fluid/inference/libpaddle_fluid.so' fa

[2019-01-31 06:36] luotao1 commented on #15599
Maybe you can pull the latest `paddlepaddle/paddle:latest-dev` image.

For `paddlepaddle/paddle_manylinux_devel:cuda7.5_cudnn5`, please refer to
http://ci.paddlepaddle.org/viewLog.html?buildId=55444&tab=buildLog&buildTypeId=Manylinux1_CpuAvxCp27cp27mu&logTab=tree&filter=all&_focus=144#_state=68
[code]

[2019-01-31 06:58] hutuxian commented on #15519
谢谢回答。那么placeholder里面的shape的作用是什么呢？只是为了帮助用户编程的时候在编译时提前发现错误吗？
在另一个issue里面看到了类似的问题，[https://github.com/PaddlePaddle/Paddle/issues/13917](https://github.com/PaddlePaddle/Paddle/issues/13917)。不知道后面有什么计划没？

[2019-01-31 07:03] hshen14 opened #15618 "Performance regression of box_coder op"
Recently, we used PaddlePaddle new commit (1a252f4be6598d46af82acdad14ac3f096baf6e1 in 1/30) and ran SSD-MobileNet. Seems there is performance regression in box_coder op.

Before the upgrading, the profile is:
[code]
After the upgrading, the profile is
[code]

We observed the recent commit for box coder by @jerrywgz. Could you please take a look and double confirmed the issue? You may use the scri

[2019-01-31 07:32] tensor-tang commented on #15599
Some info that failed,
[code]

This is in build my docker image `tensortang/ubuntu:16.04-paddle-6148`

[2019-01-31 08:19] guoshengCS commented on #15519
Fluid中定义网络结构时的shape能够帮助在编译时提前发现错误，不过一些情况下需要借助于placeholder而不能强制shape固定，如NLP任务中很多时候会是变长的数据，不同batch的数据的shape会是不同的，这时候需要实际的shape可变且和网络定义时的shape不同

[2019-01-31 08:22] jerrywgz commented on #15618
this is the performance of evaluation in object_detection and seems that box coder is not time consuming:
![image](https://user-images.githubusercontent.com/22989727/52041083-57bdc780-2574-11e9-9576-77ce0ff95885.png)

[2019-01-31 08:26] hshen14 commented on #15618
May I know the batch size you used here? We used big batch size 256/512.

[2019-01-31 08:27] wanghaoshuang commented on #15243
该issue长期未回复，且问题有替换方案，暂时将该issue关闭。如果需要，请随时reopen. 谢谢。

[2019-01-31 08:27] #15243 closed, assigned to wanghaoshuang

[2019-01-31 08:28] wanghaoshuang commented on #15078
该issue长期未收到反馈，暂时将其关闭，如果需要，请随时reopen.谢谢。

[2019-01-31 08:28] #15078 closed, assigned to wanghaoshuang

[2019-01-31 08:29] wanghaoshuang commented on #15072
该issue已给出回复，但长期未收到反馈，暂时将其关闭。如果需要，请随时reopen. 谢谢。

[2019-01-31 08:29] #15072 closed, assigned to wanghaoshuang, lucywsq

[2019-01-31 08:30] jerrywgz commented on #15618
Use 1 GPU and batch_size is 32, and 256/512 is also for 1 GPU?

[2019-01-31 08:32] hshen14 commented on #15618
Sorry, we used CPU and big batch size and measured on SKX. Could you please also have a try on CPU?

[2019-01-31 08:51] guoshengCS commented on #15052
0.12.0版本 batch inference 可以参考 **组织序列信息** 一节 http://paddlepaddle.org/documentation/docs/zh/0.12.0/howto/capi/organization_of_the_inputs_cn.html#permalink-4--

另外推荐使用 Fluid 版本

[2019-01-31 10:59] jerrywgz commented on #15618
Sure, box coder is slower than before and it may caused by ifelse branch in for loop. We will refine it asap.

[2019-01-31 11:06] GBuella opened #15622 "paddle::operators::jit::gen::SeqPoolJitCode needs an aligned allocator"
The standard new operator is used with an overaligned type:
[code]
Obviously this can result in runtime errors when using certain AVX instructions, if the allocated SeqPoolJitCode instance is misaligned.

[2019-01-31 11:22] jacquesqiao commented on #14818
没有后续消息了，先close

[2019-01-31 11:22] #14818 closed, assigned to jacquesqiao

[2019-01-31 11:23] jacquesqiao commented on #15224
请在hi上联系我详细聊，谢谢 qiaolongfei

[2019-01-31 12:37] tensor-tang commented on #15622
Thanks for reporting issues.

But could you give some more reproduce infos, it seems some compile issue?

[2019-01-31 12:45] freekoy commented on #15144
@xuezhong @dzhwinter

运行fp16之后报错
不运行fp16则没问题
[code]

[2019-01-31 12:57] tensor-tang commented on #15622
maybe your gcc version? we only tried below gcc5.4.

BTW, this jitcode instance is only an instance that generate code, the code buffer would be allocated by xbyak with alignment, so I did not get your point about the runtime error if I understand right.

[2019-01-31 13:04] hweidream opened #15623 "用多标签分类fluid.layers.sigmoid_cross_entropy_with_logits，预测每个类别结果异常"
预测代码：
![image](https://user-images.githubusercontent.com/17971652/52098651-d5341700-260a-11e9-831a-ee8b9b1d29bf.png)

预测时直接输出结果如下图：
![image](https://user-images.githubusercontent.com/17971652/52055890-a03cab80-259b-11e9-9046-3278d98edb01.png)

sigmoid_cross_entropy_with_logits用的的激活函数是sigmoid，预测结果不应该映射到0～1之间吗，为何会输出负数？

[2019-01-31 13:13] freekoy commented on #15437
@typhoonzero
[https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification#using-mixed-precision-training](url)
fp16示例报错，使用版本是paddlepaddle fluid1.2.0
运行代码如下
[code]
错误如下
[code]

[2019-01-31 13:18] chengduoZH commented on #13970
@mzchtx Executor中有 close() 是用于分布式训练中释放PServers资源的操作，ParallelExecutor目前不需这种操作

[2019-01-31 13:34] freekoy commented on #15144
要安装什么版本的paddlepaddle才支持？

[2019-01-31 13:40] guoshengCS commented on #15043
close this issue temporarily since no activity，please feel free to reopen.

[2019-01-31 13:40] #15043 closed, assigned to guoshengCS

[2019-01-31 13:41] guoshengCS commented on #15042
close this issue temporarily since no activity，please feel free to reopen.

[2019-01-31 13:41] #15042 closed, assigned to guoshengCS

[2019-01-31 15:03] GBuella commented on #15622
This issue is independent of compilers. The warning comes from GCC 7.3 BTW.
The offending allocation is at:
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/jit/gen/seqpool.h#L196

The 32 char aligned data member was added in this commit:
https://github.com/PaddlePaddle/Paddle/commit/123b98f417d064e780412f316f4ca43988f4d0d2

As I look at it now, it is only a single float

[2019-01-31 15:12] #15550 closed, assigned to nobody

[2019-01-31 15:16] #15177 closed, assigned to kuke

[2019-01-31 15:17] tensor-tang commented on #15622
OK, thanks, now I understand your issue.

Firstly, this new operator in this `SeqPoolJitCode` instance itself would not result in runtime error using AVX.

Secondly, since I used new operator, then this ALIGEN code would cause high level GCC e.g. GCC 7.3 (which warning check more strictly with `-Werror=aligned-new`) failed.
https://github.com/PaddlePaddle/Paddle/blob/546eefae6fdf6b9848b91c8246b17a

[2019-01-31 15:27] GBuella commented on #15622
[code]
No, the runtime issue has nothing to do with the `new` operator -- the issue is, a compiler assumes each instance of that class to be 32 char aligned - thus it is allowed to use certain AVX instructions anytime anywhere on instances of such a class.
When
 1) one tells the compiler that it can assume some data to be 32 char aligned
 2) that data is not 32 char aligned at runtime

That means

[2019-01-31 15:37] GBuella commented on #15622
Yes, using `alinged_alloc` could help here, but probably it should not be needed. Unless I'm missing something, the original author could perhaps explain the reason.

[2019-01-31 15:47] tensor-tang commented on #15622
Yes, Thanks for pointer out that.

As for this seqpool file, this `fp_h_` is just use to compute avg and sqrt.

#15625 would just help solve your problem, but it can not solve this kind issue in case somewhere else use ALIGED here.

[2019-01-31 16:03] GBuella commented on #15622
"would just help solve your problem, but it can not solve this kind issue in case somewhere else use ALINGED here"
That is true. If a warning points out another similar case, then an alignment aware allocator might be needed.

In that case by the way, it is a better genral solution, to the appropriate member methods `operator new` and `operator delete` to such classes.

[2019-02-01 00:04] hshen14 commented on #15618
Thanks for confirmation. Please let me know when the fixing happened.

[2019-02-01 03:17] jacquesqiao commented on #15264
看回复是集群问题，已经能正常执行了

[2019-02-01 03:17] #15264 closed, assigned to jacquesqiao

[2019-02-01 03:19] jacquesqiao commented on #15263
看起来是因为输入数据为空，现在是什么情况？

[2019-02-01 03:21] jacquesqiao commented on #14633
文档问题请 @shanyi15 跟进一下，训练时缺乏lib的问题请 @JiabinYang 跟进一下

[2019-02-01 03:22] jacquesqiao commented on #15224
这是因为保存下来的模型有问题。

[2019-02-01 03:27] xuezhong commented on #15158
没有进一步问题的话 我就关闭了

[2019-02-01 03:27] #15158 closed, assigned to xuezhong, typhoonzero

[2019-02-01 03:28] #15149 closed, assigned to xuezhong

[2019-02-01 03:30] #15128 closed, assigned to xuezhong

[2019-02-01 03:31] #14684 closed, assigned to xuezhong

[2019-02-01 03:34] #15147 closed, assigned to xuezhong

[2019-02-01 03:44] Superjomn commented on #15578
这个辛苦 @chengduoZH 帮看下是否合理

[2019-02-01 05:10] dzhwinter commented on #15144
完整的fp16支持需要到fluid 1.3才行，你的报错是哪个版本的？

[2019-02-01 05:19] chengduoZH commented on #15578
@kjfren1985 02.recognize_digits 中的随机数没有固定， 所以每次跑时参数初始化是不一样的，你可以将default_startup_program中的随机数固定下来试试。
[code]
另外，0.14.0到1.2之间做了较多的更新，不排除期间有些op有改动，但不至于使准确率下降。

[2019-02-01 05:32] kjfren1985 commented on #15578
看起来是环境3下收敛更快？不知道你们是否有做过类似的实验对比？
或者还是说我哪里打开方式不太对呢~

[2019-02-01 05:33] kjfren1985 commented on #15578
好的，多次迭代后没有准确率下降问题了，只是好像收敛的快慢，我按你说的再试试

[2019-02-01 06:10] freekoy commented on #15144
@dzhwinter
原来用master，现在用dev好了
但是用fp16的话还是有问题,这要怎么解决？
报错如下
[code]

[2019-02-01 06:10] kjfren1985 commented on #15578
这么设置后环境1输出：
Best pass is 35, testing Avgcost is 0.2994292219205258
The classification accuracy is 91.52%
Inference result of image/infer_3.png is: 3

环境3输出：
Best pass is 56, testing Avgcost is 0.30693747873779886
The classification accuracy is 91.50%
Inference result of image/infer_3.png is: 3

[2019-02-01 06:30] dzhwinter commented on #14132
这个问题是nccl初始化的问题，注意检查nccl load的log过程。
closed.

[2019-02-01 06:30] #14132 closed, assigned to dzhwinter

[2019-02-01 06:33] dzhwinter commented on #14644
this issue has been solved in baidu hi. Closed since not active anymore. Please feel free to reopen it if you find the same problem.

[2019-02-01 06:33] #14644 closed, assigned to dzhwinter

[2019-02-01 06:37] dzhwinter commented on #15115
this issue has been not active one month. Please feel free to reopen it.

[2019-02-01 06:38] dzhwinter commented on #15118
This issue is solved. closed. Please feel free to reopen it.

[2019-02-01 06:38] #15118 closed, assigned to dzhwinter

[2019-02-01 06:38] dzhwinter commented on #15123
close since it has been solved. please feel free to reopen it.

[2019-02-01 06:38] #15123 closed, assigned to dzhwinter

[2019-02-01 06:39] dzhwinter commented on #15126
is there any active?

[2019-02-01 06:39] ccmeteorljh opened #15633 "aync_executor.py example 错误"
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/async_executor.py#L56
这里的示例用到了run_startup_program(）方法

[2019-02-01 06:47] zigennlp commented on #15543
问题已经找到，并且解决了。

一个路径错误，是我对PaddlePaddle的工具链不熟悉造成的。

多谢支持。我关闭这个issue了。

[2019-02-01 06:47] #15543 closed, assigned to jacquesqiao, JiabinYang

[2019-02-01 07:17] baojun-nervana commented on #15617
It seems the build has WITH_DISTRIBUTE=ON, while executor is not compiled with ngraph when WITH_DISTRIBUTE=ON.

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/CMakeLists.txt#L161

[2019-02-01 07:19] baojun-nervana commented on #15599
@luotao1 I cannot reproduce the ngraph test hanging issue paddlepaddle/paddle_manylinux_devel:cuda7.5_cudnn5 either. Do you see this issue consistently?

[2019-02-01 07:28] luotao1 commented on #15617
CI also has `WITH_DISTRIBUTE=ON`, but it has `test_xxx_ngraph_op`

[2019-02-01 07:41] freekoy commented on #15144
反卷积没有fp16操作？？
[code]

[2019-02-01 09:18] jerrywgz commented on #15618
In my test, the performance of box coder after last commit isn't much worse than before. In #15637, I move many if-else branches out of the for loop and it improves 10%. You can test on your model.

[2019-02-01 09:37] hshen14 commented on #15618
Great! The patch looks good to me. We will verify the performance soon, but most likely after CNY, due to the lack of machine resources now.

[2019-02-01 15:45] freekoy opened #15641 "paddlepaddle有冻结网络部分层，进行训练的api吗"
类似keras可以冻结部分层，进行训练

[2019-02-02 02:08] shiyazhou121 commented on #15641
是fine-tune吗？
![image](https://user-images.githubusercontent.com/15082798/52158342-573b4300-26d2-11e9-83b6-b56553f268a3.png)

[2019-02-02 02:57] hjchen2 opened #15643 "在python端使用_remove_op接口删除op出问题"
模型已经保存成inference model，存在三个fetch op。现在需要在预测时指定其他的fetch op，如果不删除之前已有的fetch op，在executor.py第176行报错 Fetch operators in program desc do not match 'fetch_targets'。但调用_remove_op删除已有的fetch op时发现，删除的并不是我传入的index对应的op，而是其他op，因此当后面再遍历到被无辜删除的op时就直接挂了。代码如下，请问是什么问题呢？
[code]

[2019-02-02 03:10] hjchen2 commented on #15643
问题已找到，是因为_remove_op会直接作用在block.ops上，但代码中的ops又是block.ops的一个拷贝，所以会出现第二次_remove_op时实际上删除的是该op之后一个其他op。改成下面是可以的，
[code]

[2019-02-02 03:35] gongweibao opened #15644 "Paddle can't use the most of memory now"
![image](https://user-images.githubusercontent.com/10721757/52159366-658f5c00-26de-11e9-8c8f-c2e0f6554c7c.png)

Cant it alloc only the left memory if it can't alloc the `fraction` memory？

[2019-02-02 03:52] velconia commented on #15641
@shiyazhou121，GJ 👍 , 在参数的 ParamAttr 里设置 trainable=False 就可以冻结这个参数的训练

[2019-02-02 04:04] velconia commented on #15623
可以参考下 ```sigmoid_cross_entropy_with_logits``` 的公式 , 我理解X很大的话也是可能这样的

http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#paddle.fluid.layers.sigmoid_cross_entropy_with_logits

```loss=max(X,0)−X∗Labels+log(1+exp(−|X|)```

[2019-02-02 04:37] freekoy commented on #15641
@shiyazhou121
就是要这个，但怎么动态调整网络的可训练性？
比如想先预训练前三层，再整体训练？

[2019-02-02 05:06] dzhwinter commented on #15144
还没有注册fp16。这个注册一下就好了。

[2019-02-02 05:07] dzhwinter commented on #15144
前一个问题是initilaizer 没有支持fp16，现在还只能加cast

[2019-02-02 05:17] freekoy commented on #15144
这样子 反卷积吗？
[code]
报这个错啊
[code]

[2019-02-02 06:10] #15643 closed, assigned to nobody

[2019-02-02 07:10] dubhex opened #15646 "模型的int8量化训练"
请问如何使用paddle进行模型的int8量化训练？

[2019-02-02 07:23] AWSWXY opened #15647 "任务失败"
任务链接 http://yq01-hpc-lvliang-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20190130022424-3714

[2019-02-02 07:31] xuezhong commented on #15646
支持CNN 8bit量化训练。  量化预测TensorRT支持，但还没正式release， cpu的8bit预测也还没正式release。  量化预测1.3才会release一部分能力。

[2019-02-02 08:19] velconia opened #15648 "Paddle TensorRT 编译方法"
1. Paddle Repo 中的 inference api 测试如何编译并执行？

Inference API的编译方法参考[官方文档](http://www.paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/deploy/inference/build_and_install_lib_cn.html#id13)，如果需要额外编译 inference API 单测部分，需要修改cmake编译参数如下：
[code]

2. Paddle TensorRT 如何复现[官网文档](http://www.paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/deploy/inference/paddle_gpu_benchmark.html)给出的结果?

请确保复

[2019-02-02 08:25] velconia commented on #15641
@freekoy 可以搭建两个Program，一个用于预训练，一个用于整体训练，两个Program保持参数名字相同，即可共享参数训练结果；伪代码如下:
[code]

[2019-02-02 09:11] #12939 closed, assigned to nobody

[2019-02-02 09:12] #12085 closed, assigned to qingqing01

[2019-02-02 09:56] molly00ecla opened #15651 "多GPU出core"
Paddle版本：paddlepaddle-gpu (1.1.0.post85)
代码如下：
![image](https://user-images.githubusercontent.com/22423844/52162743-7ad2ad80-2713-11e9-8f23-57c1c2f4fcae.png)
如果不用parallelExe，是可以正常训练的。用的话在构造对象时候就会报错
![image](https://user-images.githubusercontent.com/22423844/52162765-a9e91f00-2713-11e9-9cbe-28fcc8b5593b.png)
最神奇的是，如果指定1个显卡的话，就没问题……
CUDA_VISIBLE_DEVICES=0 python 0202.py   这样就不会报错
CUDA_VISIBLE_DEVICE

[2019-02-02 12:33] freekoy commented on #15641
好的，谢谢

[2019-02-02 23:32] hshen14 commented on #15618
The performance is back at our side. Sorry for the late response.

[2019-02-03 02:17] xuezhong commented on #15647
从任务log看是在download的时候报错，训练任务还没开始，因此应该是配置相关的错误，可以先检查下各个配置。

[2019-02-03 02:17] #15647 closed, assigned to xuezhong

[2019-02-03 02:43] xuezhong commented on #15651
可以贴下整个的代码吗，另外如果不用parallelExe的代码又是怎么样的？

[2019-02-03 03:44] AWSWXY opened #15656 "集群训练报错No module named fluid"
集群训练报错
ImportError: No module named fluid
链接http://10.87.87.20:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190203112005-807/

[2019-02-03 06:12] qingqing01 commented on #15646
@guo-hanqi 可以参考示例 https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/README_quant.md

[2019-02-04 13:23] wojtuss opened #15658 "How to handle int32 input in C-API inference app for Transformer?"
In the Transformer model's config, there is a new input named `init_idx`, which is of `int32` type. In order to run C-API inference for this model all the inputs have to be either of `PaddleDType::FLOAT32` or `PaddleDType::INT64`. How should we define the `init_idx` input in C-API?

[2019-02-05 02:58] luotao1 commented on #15658
We will add `int32` type later.

[2019-02-05 08:13] wojtuss commented on #15658
@luotao1 , You mean adding support for INT32 in C-API, right? What is the time perspective for that? It is quite important for our work on Transformer.
Thank you!

[2019-02-06 02:13] luotao1 commented on #15658
Yes, adding support for INT32 in C-API maybe works after Chinese New Year. How about adding support yourself if you are convenient?

[2019-02-07 10:17] kbinias commented on #15615
We reproduced your results with coverage testing tool.
- cmake .. -DWITH_GPU=OFF -DWITH_PROFILER=ON -DWITH_STYLE_CHECK=OFF -DWITH_MKLDNN=ON -DWITH_TESTING=ON -DWITH_COVERAGE=ON
- lcov --capture --directory . --output-file coverage.info
- genhtml coverage.info --output-directory out

We will add missing tests.

![image](https://user-images.githubusercontent.com/19502037/52485988-64689e00-2bba-11e9-

[2019-02-10 13:38] jacquesqiao commented on #15500
相关功能统一放到了 https://github.com/PaddlePaddle/Paddle/issues/15508下边了

[2019-02-10 13:38] #15500 closed, assigned to jacquesqiao, seiriosPlus

[2019-02-11 01:23] typhoonzero commented on #15437
需要使用develop版本或者等1.3最近发布

[2019-02-11 09:46] kolinwei opened #15670 "neural_machine_translation/rnn_search/no_attention_model.py 进行分布式训练时出现如下错误"
Traceback (most recent call last):
  File "dist_rnn_search.py", line 141, in <module>
    runtime_main(TestDistRnnSearch)
  File "/home/paddle/weike/cts_test/dist_base.py", line 315, in runtime_main
    model.run_pserver(endpoints, trainers, current_endpoint, trainer_id, run_params)
  File "/home/paddle/weike/cts_test/dist_base.py", line 67, in run_pserver
    run_params)
  File "/home/paddle/weik

[2019-02-11 10:03] typhoonzero commented on #15670
@seiriosPlus maybe this is introduced by: https://github.com/PaddlePaddle/Paddle/commit/8b50ad80ff6934512d3959947ac1e71ea3fb9ea3#diff-3a23ecb6a98b666c84525f3f6fcd2bb6R1268

[2019-02-11 12:02] #15617 closed, assigned to mozga-intel

[2019-02-12 02:39] #15598 closed, assigned to typhoonzero

[2019-02-12 03:21] luotao1 opened #15675 "fc_mkldnn_op.cc has IDENTICAL_BRANCHES"
https://github.com/PaddlePaddle/Paddle/blob/1ccbc51218c4cbc7273c3bb38cfd395be3b3a6dc/paddle/fluid/operators/mkldnn/fc_mkldnn_op.cc#L281-L285
CID 47193 (#1 of 1): Identical code for different branches (IDENTICAL_BRANCHES)identical_branches: Ternary expression on condition with_bias has identical then and else expressions: mkldnn::inner_product_backward_weights::desc(src, diff_weights, bias, diff_ds

[2019-02-12 04:45] kolinwei opened #15677 "CTS测试集中deeplabv3训练失败"
Python Callstacks:
  File "/root/.jumbo/lib/python2.7/site-packages/paddle/fluid/framework.py", line 1316, in append_op
    attrs=kwargs.get("attrs", None))
  File "/root/.jumbo/lib/python2.7/site-packages/paddle/fluid/layers/math_op_patch.py", line 144, in __impl__
    attrs={'axis': axis})
  File "/home/paddle/weike/cts_test/test_deeplabv3.py", line 66, in loss
    loss = loss * label_nignore

[2019-02-12 04:45] kolinwei commented on #15677
经过debug是由PR14975引起的。

[2019-02-12 08:46] kolinwei commented on #15677
deeplabv3 使用fluid.ParallelExecutor时会出此问题，fluid.Executor时没问题

[2019-02-12 08:55] chengduoZH commented on #14664
@ManWingloeng
`fluid.layers.ones`中的`shape`必须是一个确定的值，并且不能够有0或者负数。
在你的代码中，logits_fake.shape包含-1值，猜想这个是对应的batch大小，fluid.layers.ones是不能够推断出-1究竟是多少的。
在`fluid.layers.fill_constant_batch_size_like`中，因为将`logits_fake`作为输入，所以`fluid.layers.fill_constant_batch_size_like`在运行时可得到`logits_fake`的真正大小，所以运行是没有问题的。

[2019-02-12 08:59] mozga-intel commented on #15675
@Sand3r Could you please look at this issue.

[2019-02-12 09:02] Sand3r- commented on #15675
The second `mkldnn::inner_product_backward_weights::desc(src, diff_weights, bias, diff_dst);` should be changed to `mkldnn::inner_product_backward_weights::desc(src, diff_weights, diff_dst);`

[2019-02-12 12:47] DDDivano opened #15683 "开启显存优化后，优化效果提升不大"
transformer模型，
开启优化
![image](https://user-images.githubusercontent.com/10734244/52636350-4d51e500-2f07-11e9-8675-97ae9fe39775.png)
未开启优化
![image](https://user-images.githubusercontent.com/10734244/52636362-58a51080-2f07-11e9-9f17-3e85ebcaf48a.png)

rcnn模型也有相同问题

[2019-02-13 02:38] AWSWXY opened #15689 "模型训练约10个小时后fail"
日志中没有报错。
任务链接
http://yq01-hpc-lvliang-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20190212204641-2604&submitTime=2019-02-12%2020:46:41

[2019-02-13 03:00] nemo9903 opened #15690 "paddle memory leak when using deepspeech"
I remember the deepspeech worked before. But why it doesn't work now?
As the training going on, the used memory increase along. At last, the system halt.
I tried both pip and docker installation method. On top of ubuntu 14.04,16.04,18.04. And I also tried cpu /gpu versions paddle of 0.10,0.14,0.15,1.2.0,1.2.1.  I also tried to modifiy the training parameters, for example, gru/layer size/batch size

[2019-02-13 08:41] yihuaxu commented on #15616
Just pushed one PR ([PR#15699](https://github.com/PaddlePaddle/Paddle/pull/15699)) for this issue.

[2019-02-13 08:53] wzzju opened #15700 "最新paddle develop分支，mac os cmake执行报错"
最新paddle develop分支，mac os下执行`cmake .. -DWITH_FLUID_ONLY=ON -DWITH_GPU=OFF -DWITH_MKL=ON -DWITH_MKLDNN=OFF -DWITH_PYTHON=ON -DWITH_TESTING=ON -DWITH_INFERENCE_API_TEST=ON -DON_INFER=ON`命令，报错如下：

[code]

[2019-02-13 09:31] #15622 closed, assigned to tensor-tang

[2019-02-13 10:41] #15700 closed, assigned to nobody

[2019-02-13 12:03] dzhwinter commented on #15683
fix 了默认配置。本地测试结果(Batchsize都采用了较小的32，显存的单位为MB)

Resnet50 | 显存
-- | --
Python端的memory optimize | 4298
memory_optimize, inplace,   fast_deletion_mode | 3647
  |  
faster_rcnn |  
Python端的memory optimize | 6961
memory_optimize, inplace,   fast_deletion_mode | 3102

[2019-02-13 12:04] dzhwinter commented on #15683
修复的PR在 https://github.com/PaddlePaddle/Paddle/pull/15696

[2019-02-13 13:50] luotao1 opened #15708 "Add ngraph related unit-tests"
To improve the code (line+function) coverage, please **add ngraph related unit-tests**:
http://ce.paddlepaddle.org:8080/viewLog.html?buildId=25255&buildTypeId=PaddlePaddleFramework_TestCoverage_TestCoverage&tab=report_project15_C___Coverage
- operators/ngraph/ops
![image](https://user-images.githubusercontent.com/6836917/52716182-324fa580-2fd9-11e9-9a42-4ca09643aad3.png)
![image](https://user-imag

[2019-02-13 14:52] mozga-intel commented on #15708
@luotao1 I will have a look at this, thank you.

[2019-02-14 03:19] seiriosPlus commented on #15119
fluid的nce的实现逻辑是参考V2的，有业务线使用了nce达到了v2的效果。 Fliud本身的实现和V2有一些区别，包括初始化、部分layer的实现。 可以把fluid的网络和v2的做一个完全对齐， 可以考虑使用最新的develop编译出来的包， 修复了nce中按频率采样的一个bug。

[2019-02-14 03:22] xuezhong commented on #15119
这个bug已经在develop上修复，预计1.3发布。
精度对不齐的问题，我们再看下

[2019-02-14 03:38] huashaosmile commented on #15119
OK，问一下1.3大概是什么时间发布呢

[2019-02-14 05:20] seiriosPlus commented on #15119
应该是月底左右，如果是paddle cloud上运行的可以根据Wiki自行build， 或者单hi我发给你一个包

[2019-02-14 05:39] huashaosmile commented on #15119
这个应该是在没有使用频次采样模式下的，因为上述bug是出现在频次采样模式。我这边使用的是频次采样模式发现不收敛情况，所以还麻烦您看看频次采样模式是否还存在bug

[2019-02-14 05:48] seiriosPlus commented on #15119
是使用的按频率采样的， 给他们用的版本是我修复了该问题的。

[2019-02-14 07:14] liangan1 opened #15713 "Enable coverage build 使用WITH_COVERAGE=ON选项编译出错"
This is Liangang, from Intel, working with @hshen14 on INT8 Conv coverage improvement.

**版本、环境信息**：
    1）PaddlePaddle版本：CommitID：25ec6a2cfdc46ceaf9029fb52e618b80cbf7dc74
    2）CPU：Intel(R) Xeon(R) Platinum 8180 CPU @ 2.50GHz
    3）系统环境：Linux version 3.10.0-693.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC) ) #1 SMP Tue Aug 22 21:09:27 UTC 2017
-

[2019-02-14 08:16] 894939677 opened #15715 "训练时一个光流预测程序时，使用mobilenet作为骨架时，同时跑多个程序会闪退"
我在训练光流预测时，将原始框架中的类vgg/类resnet结构改写成  类mobilenet结构后，重新训练，虽然单独跑一个程序不会有问题，但是跑多个程序时（再不同的gpu上，分别进行训练）会出现无错误输出的闪退问题。请问下大概是什么问题

[2019-02-14 08:26] 894939677 commented on #15715
相应的同事给出的意见是
1. 新版本可能缓解这个问题的出现
2.可以再depthwise相应的conv层时 加上 use_cudnn= False 可能会缓解这个问题

[2019-02-14 09:22] luotao1 commented on #15713
@liangan1 可以使用GPU, DWITH_DISTRIBUTE=ON来编译，进行单测覆盖率分析。
@baojun-nervana 请问有试过不使用GPU, DWITH_DISTRIBUTE=OFF, WITH_COVERAGE=ON的编译么？
@jianhang-liu 报错信息和mkldnn有关，能帮忙修复下么？

[2019-02-14 12:32] hweidream commented on #15623
那如何根据预测结果来判断label

[2019-02-14 23:42] baojun-nervana commented on #15713
@luotao1  I can compile with combination cmake .. -DWITH_GPU=OFF -DWITH_DISTRIBUTE=OFF -DWITH_COVERAGE=ON

[2019-02-15 00:59] liangan1 commented on #15713
@baojun-nervana 请问你是直接用我在步骤3）用的cmake配置，然后直接make -j 正常吗？ 如果是的话还需要额外配置什么环境变量吗？

[2019-02-15 01:54] panyx0718 commented on #15644
open an internal issue for 内部提出？

[2019-02-15 02:09] gongweibao commented on #15644
?
![image](https://user-images.githubusercontent.com/10721757/52829961-b3a65580-3109-11e9-8c9b-73e8c4ad406c.png)

[2019-02-15 04:07] luotao1 opened #15724 "Question for calibrator.sampling_program"
https://github.com/PaddlePaddle/Paddle/blob/4c8feae43d226646397f812b945a4b5b07e5a6f9/python/paddle/fluid/contrib/tests/test_calibration.py#L242-L246
Could line244-246 put into `calibrator.sampling_program` to simplify the usage?

[2019-02-15 04:17] baojun-nervana commented on #15713
@liangan1 可以编译通过

我用
cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_DSO=ON -DWITH_DOC=OFF -DWITH_GPU=OFF -DWITH_AMD_GPU=OFF -DWITH_DISTRIBUTE=OFF -DWITH_MKL=ON -DWITH_NGRAPH=ON -DWITH_AVX=ON -DWITH_GOLANG=OFF -DWITH_PYTHON=ON  -DWITH_TESTING=ON  -DWITH_FLUID_ONLY=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DWITH_CONTRIB=ON -DWITH_INFERENCE_API_TEST=ON  -DWITH_ANAKIN=OFF -DWITH_COVERAGE=ON -DANAKIN_BUILD_FA

[2019-02-15 04:52] luotao1 commented on #15724
@hshen14 Could you help see it?

[2019-02-15 05:07] liangan1 commented on #15713
@baojun-nervana 我用你上面提供的cmake选项重新试了一下，仍然会报上述错误。
我用的cmake3 ，系统是Red Hat 4.8.5-16，会不会跟操作系统有关系呢？

[2019-02-15 05:12] luotao1 commented on #15713
请用我们的镜像`paddlepaddle/paddle:latest-dev`

[2019-02-15 06:29] kbinias commented on #15615
@luotao1 Whether it is possible to run more than 1 iteration in a single unit test for forward and backward phases ? We need to cover the part of the code responsible for reuse MKL-DNN primitives in backward (e.g. activation_mkldnn_op.cc::eltwise_grad function line 276-287). We have to run more than one iteration to enter this section of code.

[2019-02-15 06:42] hshen14 commented on #15724
@luotao1 It is possible to move those code into utility.py. But please let me make more explanation so that you can better understand the background why we add such logic here:
1. We need to specify use_mkldnn attribute true to leverage MKL-DNN kernel. Like CAPI, there is an API to specify in predictor; the similar should happen in Python as well by exporting FLAGS_use_mkldnn=true first and run th

[2019-02-15 07:09] luotao1 commented on #15615
I think it's OK to run more than 1 iterations in elementwise_xxx_mkldnn unit-tests. However, if you add many more iterations, does the elasped time of unit-tests become larger?

[2019-02-15 07:21] hshen14 commented on #15618
@jerrywgz Could you please tell us the HW and SW command to get the performance result in #15637? We found different batch size still leads to the performance downgrade and we want to confirm with you. Thanks.
Copy @luotao1 I reopened it and need further confirmation. Thanks.
Copy @chuanqi129 as well.

[2019-02-15 07:41] kolinwei opened #15728 "paddle.reader.multiprocess_reader 中的线程不会正常退出"
按照face_detection中定义的reader。如果，中途退出训练过程的话，程序不会退出
                py_reader.start()
                batch_num=5
                for batch_id in range(batch_num + 1):
                    fetch_vars = exe.run(
                                    fetch_list = [v.name for v in fetches])
                    fetch_vars = [np.mean(np.array(v)) for v in fetch_vars]
                    train_info.append(fetc

[2019-02-15 07:55] kbinias commented on #15615
Not many, 2 iterations will be enough. Is there any unit test in PaddlePaddle which more than 1 iteration is started ?

[2019-02-15 08:08] liangan1 commented on #15713
能否麻烦试一下在RedHat 上该编译是否能通过

[2019-02-15 08:30] junjun315 commented on #15379
@dianhuasici 新版本的代码中已经修复了这个问题，请使用develop的代码重新编译或者待release1.3发布

[2019-02-15 08:35] liangan1 commented on #15713
@luotao1  使用docker pull paddlepaddle/paddle:latest-dev  时一直报unauthorized: authentication required ，请问这个是什么问题

[2019-02-15 08:42] luotao1 commented on #15713
这是docker使用问题。

[2019-02-15 08:59] gongweibao opened #15730 "`fill_constant` operator can't fill int64 value"

[2019-02-15 09:24] luotao1 commented on #15724
If these lines are only used to pass ci, how about remove them, and modify the cmake like
https://github.com/PaddlePaddle/Paddle/blob/c794ecf641a575e92e2b55ad56b27c42e8b709f5/python/paddle/fluid/tests/unittests/CMakeLists.txt#L84
to set `FLAGS_use_mkldnn=true` in CI.

[2019-02-15 09:44] hshen14 commented on #15724
Thanks @luotao1 for your suggestion. Is the change required for v1.3 release? If so, @guomingz can prepare a PR for it. Please note that we also need to update README as well to specify such flag. Is it right?

[2019-02-15 09:47] #15553 closed, assigned to dzhwinter

[2019-02-15 09:53] luotao1 commented on #15724
It's better to patch the modify into v1.3. You should create two PRs, one for develop at first, after merge it, cherry-pick the commit into release/1.3.

Do you mean update the `4. How to reproduce the results` in README?

[2019-02-15 09:58] hshen14 commented on #15724
Yes, add FLAGS_use_mkldnn=true before running python test_calibration.py.

[2019-02-15 10:17] luotao1 commented on #15724
Note that if commit to `release/1.3`, the commit info should contain `test=release/1.3`.

[2019-02-15 10:29] hutuxian opened #15735 "batch_norm在CPU上训练出NaN"
单机单卡。
现象：
1、CPU训练（CPUPlace）出NaN，但是相同的参数下，使用GPU（CUDAPlace）就没问题。
2、定位到可能和batch_norm相关：去掉batch_norm，CPU也不会出NaN。
3、出现NaN的位置随机。

[2019-02-15 10:48] heavengate commented on #15735
麻烦确认一下：
1.  使用的paddle是哪个版本
2. 训练机型配置
3. CPU上和GPU上的初始权重，读入数据等一致么，出Nan位置随机的话有没可能是一些不一致的随机量导致的
4. 是否是gradient过大导致的nan，有误gradient clip或者weight decay等相关操作

[2019-02-15 15:04] heavengate opened #15738 "使用GPU单卡，还需要ParallelExecutor吗"

[2019-02-15 15:05] heavengate commented on #15738
ParallelExecutor也支持单卡，单卡情况下可以不用ParalleExecutor

[2019-02-15 15:05] #15738 closed, assigned to heavengate

[2019-02-16 01:32] stoiczzz opened #15740 "模型保存正常，发生如下错误。"
想保存模型后，加载之前的模型继续进行训练。
在load过程中发生如下错误，之前的一个模型是好的，这次新的出现如下问题，请问是什么导致的？

paddle.fluid.core.EnforceNotMet: Cannot open file ./model_0215/1/fc_1.b_0 for load op at [/paddle/paddle/fluid/operators/load_op.cc:39]

[2019-02-16 01:34] stoiczzz commented on #15740
model_path = os.path.join(model_save_dir, str(pass_id))
    if not os.path.exists(model_save_dir):
        os.makedirs(model_save_dir)
    print('save as%s' % (model_path))
    fluid.io.save_inference_model(model_path, ['image'], net, exe)

[2019-02-16 01:59] hjchen2 commented on #15740
请先确认一下./model_0215/1/fc_1.b_0文件是否存在，看起来可能是load的模型路径没设对

[2019-02-16 12:55] mask0918 commented on #15740
就是缺少这个，但是我不知道为什么

[2019-02-17 03:07] benjaminxz commented on #15423
我也遇到了类似的问题，解决方法和上面类似，卸载已经安装的python ，重新安装3.6版本，再重新安装paddle就可以跑通。

[2019-02-17 03:07] benjaminxz commented on #15423
我也遇到了类似的问题，解决方法和上面类似，卸载已经安装的python ，重新安装3.6版本，再重新安装paddle就可以跑通。

[2019-02-17 06:22] #15715 closed, assigned to nobody

[2019-02-18 01:04] hshen14 commented on #15618
Hi @jerrywgz @luotao1,
We verified the performance of box_coder OP using fake data on SKX6148 (to align HW at your side) and got the below result (unit is ms):

bs | cores | 16cb3ebd68d639a0a3a851caea08ae3b83eb5d0a | 0936097c1e07ed8798e23596e7a1d73ec59ba4f9
--|--|--|--
32 | 20 | 0.13 | 6.38
64 | 20 | 0.24 | 19.29
128 | 20 | 0.46 | 27.34
256 | 20 | 0.9 | 53.63
512 | 20 | 1.76 | 105.95
512 | 1 | 0.4

[2019-02-18 01:57] dzhwinter opened #15757 "windows 代码整理"
问题:
1. windows cmake 脚本散落在各个CMakeLists中，并且有重复，不易于维护和升级。例如
https://github.com/PaddlePaddle/Paddle/blob/develop/CMakeLists.txt#L31
对CMAKE_CXX_FLAGS的处理多处出现

2. windows port的代码部分散落在源文件中 例如 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/platform/port.h 中的代码比较乱。

[2019-02-18 02:00] #11910 closed, assigned to nobody

[2019-02-18 03:00] #15724 closed, assigned to luotao1

[2019-02-18 03:03] LihangLiu opened #15758 "parallel的训练模式下，cpu模式并没有利用多个cpu核。"
parallel的训练模式下，GPU模式可以实现多个GPU同时执行。但是CPU模式还是单个CPU在执行，并没有利用多CPU进行加速，请问是什么原因呢？

[2019-02-18 03:09] hutuxian commented on #15735
1. paddle是我用源码编译的gpu版本：whl包名称是：paddlepaddle_gpu-0.0.0-cp27-cp27mu-linux_x86_64.whl
2. 训练机型：CentOS release 6.3、GPU是Tesla K40m、cudnn7
3. 读入数据都强制是相同的。参数是随机初始化的，但实验了几次，CPU的NAN稳定复现，GPU均不出现
4.有gradient clip,没有weight decay

[2019-02-18 03:20] LihangLiu commented on #15758
2019年1月份拉的develop版本，系统为centos。

[2019-02-18 03:26] junjun315 commented on #15758
http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/fluid_cn.html#permalink-21-parallelexecutor
参考这里的描述，您可以试试看添加环境变量 CPU_NUM 来设置CPU设备的个数。
从环境描述看，用的是镜像？

[2019-02-18 03:37] junjun315 opened #15761 "paddle.utils.plot在python3.7下运行出错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.2.1
    2）CPU/GPU：all
    3）系统环境：win
    4）Python版本号：3.7
- 复现信息：
   http://ai.baidu.com/forum/topic/show/942279
   参考这里的代码。
   `from paddle.utils.plot import Ploter
    train_prompt = "Train cost"
    test_prompt = "Test cost"
    plot_cost = Ploter(test_prompt,train_prompt)`

   只要append 就出错
- 问题描述：
   File "C:\Users\11856\AppData\Roaming\Python\Python37\site-pac

[2019-02-18 03:43] luotao1 commented on #15615
@kbinias There is no 2 iterations unitest using `OpTest`. Maybe you should implement yourselves, and refer to `test_batch_norm_op.py`.

[2019-02-18 03:47] kjfren1985 commented on #15595
看了下这个例子，这个例子里面是30维左右的离散特征，我的实际生成环境是特征10万维左右，会不会有性能问题？

[2019-02-18 04:00] joodo opened #15762 "有关 models dc_gan 的疑问"
在学习 paddle 的 dcgan 模型：https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/gan/c_gan/dc_gan.py

不理解为什么随着训练的进行，D-Loss 会越来越小，DG-Loss 会越来越大？

D-Loss 由两个 loss 相加得来：d_loss_1 生成图片判别，d_loss_2 真图片判别，打印发现两者都在减小。我理解的是，随着 G 的提升，D越来越“难”分辨生成图片，d_loss_1 不应该是越来越大吗？

DG-Loss 是 G 生成后使用 D 判别，并将结果和 __1.0（真）__ 取交叉熵，随着 G 的提升，D 的判断结果应该越来越靠近 1.0，那么 DG-Loss 不应该越来越小吗？

附上训练结果（对代码进行了修改，D-Loss 分别打印了 d_loss_1 和

[2019-02-18 04:32] seiriosPlus commented on #15595
10万维的话可能会有性能问题，用法是一样的，你可以试一下，先看一下功能和用法能否满足，性能可以优化

[2019-02-18 04:33] #14302 closed, assigned to shanyi15

[2019-02-18 04:55] LihangLiu commented on #15758
代码中设置了

    strategy = fluid.ExecutionStrategy()
    strategy.num_threads = 1
导致速度被限制，现已解决。

[2019-02-18 04:55] #15758 closed, assigned to nobody

[2019-02-18 06:29] appleappleorange opened #15764 "源码问题？"
File "C:\Users\11856\AppData\Roaming\Python\Python37\site-packages\paddle\utils\plot.py", line 75, in append assert isinstance(title, basestring) NameError: name 'basestring' is not defined 我看了源代码，plot.py文件中'basestring'确实只出现过一次，没有定义过，是否是源码有问题？

[2019-02-18 06:30] appleappleorange opened #15765 "怎么进行评估和测试"
模型库中的Senta模型，在训练出model以后，不能有效的评估和测试。

[2019-02-18 06:38] appleappleorange opened #15766 "fluid中没有plot"
在手写数中，有用到paddle.v2.plot，但是最新的fluid中没有plot，有没有替代品？
手写数的这段代码”for step_id, data in enumerate(train_reader()):“产生了一段bug，在mnist中def reader(): if platform.system() == 'Darwin': zcat_cmd = 'gzcat' elif platform.system() == 'Linux': zcat_cmd = 'zcat' else: raise NotImplementedError()总之没有准备好面对

[2019-02-18 07:18] chuanqi129 commented on #15618
Our full command is: `FLAGS_use_mkldnn=true OMP_NUM_THREADS=20 taskset -c 0-19 python eval_tp_fake_data.py --model_dir xxx --iterations 10 --skip_batch_num 5 --batch_size xx` ,
`eval_tp_fake_data.py` as follow, @jerrywgz FYI.
[code]

[2019-02-18 07:18] junjun315 commented on #15766
你好，这里应该有两个问题：
1. paddle.v2.plot 已经替换成 paddle.utils.plot
2. 如果是在win的环境下，repo：book中“手写数字识别”在V1.2.1及以前版本有一个已知问题，数据集中使用了一个环境不友好的处理，在即将发布的新版本中会解决。 可以参考当前paddle develop分支中：/python/paddle/dataset/mnist.py 代码的解决方案。

[2019-02-18 07:21] junjun315 commented on #15764
你好，确实是的。  \paddle\utils\plot.py 这个代码在python3环境下并不能工作。请关注pr:https://github.com/PaddlePaddle/Paddle/issues/15761 的解决状态。我们会尽快修复。
因为 这个代码使用的basestring在PY3下已经不存在，所以会出错

[2019-02-18 07:41] ChinaLiuHao commented on #15765
你好，请问具体是什么问题呢？

[2019-02-18 07:41] lizhiqings opened #15769 "paddle v2中 的 paddle.data_type.sparse_binary_vector 类型 如果样本中 该特征包含 多个 重复值 应该没关系吧. 比如 该特征 输入是 （10，11，10，10）其实内部只是将 第10 个 和 11 个分量 设置为 1。 是这样理解么"

[2019-02-18 09:37] Xreki commented on #15690
The [DeepSpeech](https://github.com/PaddlePaddle/DeepSpeech) remains not changed since 9 months ago. Do you have any change in your environment?

[2019-02-18 10:01] Xreki commented on #15689
您好，我在任务链接的首页看到这样的信息：

[code]

这里有`timeout`字样，除此之外也没看到别的错误信息，是否是网络超时？重跑该任务，问题会复现吗？

[2019-02-18 10:08] nemo9903 commented on #15690
Last year, It's OK. Recently, I reinstalled the Ubuntu16.04, And the memory leak happened. I don't know what is changed. I still follow the README.md.  The deepspeech code is not changed. But the paddlepaddle or the depended pip packages are changed. Could you please give me a list of the version of the qualified packages?

[2019-02-18 10:09] kebinC commented on #15583
@heavengate 看下这个测试代码可以跑过吗？
[code]

[2019-02-18 10:13] OleNet commented on #15334
这里面的layer name是什么呢？
'out' 还是 fluid.layers.fc的某个指定参数?

[2019-02-18 10:25] junjun315 commented on #15769
是如标题描述的理解。

[2019-02-18 11:03] #15769 closed, assigned to nobody

[2019-02-18 11:30] junjun315 opened #15777 "用fc层作为最后的输出层，激活函数用softmax， 得到的结果的每一维为啥不在[0, 1]区间里"
- 版本、环境信息：
    1）PaddlePaddle版本：1.2
    2）CPU：
    3）GPU：
    4）系统环境：ubuntu，Python版本 2.7
问题描述：
用fc层作为最后的输出层，激活函数用softmax， 得到的结果的每一维为啥不在[0, 1]区间里
 输出是这样的
![image](https://user-images.githubusercontent.com/3124479/52948124-95fc1900-33b3-11e9-9877-b8b4e15b17c1.png)

[2019-02-18 11:32] junjun315 commented on #15777
![image](https://user-images.githubusercontent.com/3124479/52948185-c2b03080-33b3-11e9-846d-1e591ee60dbd.png)
经代码检查，发现设置了fluid.memory_optimize(program), 打开了内存优化参数，而使得数据没有转化