[2021-12-08 07:06] dickobe opened #37946 "请问用paddle动态图训练使用save_dygraph保存，为什么又将动态图模型转换为静态图模型推理，目的和作用是什么呢？"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-12-08 07:29] yoreG123 commented on #37401
【队名】：图克塔米舍夫

【序号】：99

【论文】：LUKE: Deep Contextualized Entity Representations with Entity-aware Self-attention

【状态】：报名

【repo链接】：https://github.com/yoreG123/Paddle-LUKE

[2021-12-08 07:29] dickobe opened #37950 "请问保存的checkpoint和动态图保存的.pdparams有什么区别吗？可以相互使用吗"
checkpoint下保存参数数据如下：
![image](https://user-images.githubusercontent.com/9254170/145166574-f16e8458-0137-4ed9-a55d-9260f1c39032.png)

而使用F.save_dygraph保存的结果只有.pdparams

请问这二者的区别是什么，希望能详细解释下

[2021-12-08 07:36] Li-Jiajie opened #37951 "gloo出现connection refused"
paddlepaddle 2.2.0，用fleetrun启动，如果所有节点都在一台机器上正常，如果节点分布在多台机器上就会报如下错误
![image](https://user-images.githubusercontent.com/35255760/145167000-9f20c0f7-a968-40da-8d1e-509038f8a1d9.png)

[2021-12-08 07:47] ppy-hellowd opened #37953 "ValueError: tmp_76 has no grad, Please set Variable.stop_gradient=False, or check if this is the first and only variable need grad"
python3, paddle-fluid-1.7:

        class ActorLayer(D.Layer):
            """
            input: state features: cuid,entity,.., dense
            outout: actor_pred
            """
            def __init__(self, params=Params, name_scope="act", trainable=True):
                super(ActorLayer, self).__init__(name_scope=name_scope)

                self.state_embedding = StateEmbedding(params, n

[2021-12-08 07:52] Callifrey commented on #37401
【队名】：Doctor Who

【序号】：53

【论文】：Drop an Octave: Reducing Spatial Redundancy in Convolutional Neural Networks with Octave Convolution

【状态】：报名

【repo链接】：https://github.com/Callifrey/Paddle-OctConv

[2021-12-08 08:05] Li-Jiajie commented on #37951
猜测的问题来源是多网卡
在这台机器上，python中import socket运行socket.gethostbyname(socket.gethostname())得到的是127.0.0.1，正常应该得到自身IP
这里应该是多个网卡只得到到了lo的ip，用gethostbyname_ex就可以得到全部IP
猜测是gloo库中有利用这种操作

顺便一提，paddle自身的python代码里也有用到gethostbyname，拿到的也是127.0.0.1，不过可以通过POD_IP避免开

[2021-12-08 08:30] zhwesky2010 commented on #37946
@dickobe 动态图的save_dygraph只是其中一种方式，只保存 模型参数 值，这种方式如果加载需要重新有模型结构的代码，例如 ``class net``这样的结构，然后才能load_dygraph加载模型参数。但paddle.jit.save后可以将动态图模型结构也保存下来，使用paddle.jit.load加载模型结构，很多时候部署并不需要知道模型结构代码；另外paddle.jit.save的结果也可以通过静态图运行，静态图下运行性能可能会更好。具体各个API的关系可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/08_model_save_load_cn.html
![infoflow 2021-12-08 16-26-13](https://user

[2021-12-08 08:33] zhwesky2010 commented on #37932
@IcarusWizard 您好，这个是API识别参数有些bug，后续会进行修复，感谢提出

[2021-12-08 08:36] Fujiaoji commented on #37866
哒哒哒，找到了！paddle好像对bool类型的有些些不一样，我把他转化成了int,多谢

[2021-12-08 08:38] #36104 closed, assigned to zhwesky2010

[2021-12-08 08:41] shier1 commented on #37401
【队名】：shiyi

【序号】：14

【论文】：Rethinking Spatial Dimensions of Vision Transformers

【状态】：报名

【repo链接】：[repo的链接](https://github.com/shier1/PiT)

[2021-12-08 08:46] zhwesky2010 commented on #37953
@ppy-hellowd 只有q_pred才有梯度，梯度是在执行loss.backward时从loss回传的，state_embed并没有参与loss的计算，所以没有梯度
<img width="782" alt="3f8b19724a0f0b11b4c16873d38810d7" src="https://user-images.githubusercontent.com/52485244/145177271-7e83f647-df3e-4762-bd68-1e2b787269a3.png">

[2021-12-08 09:32] SJJ-dot opened #37968 "测试恢复训练时出错：：：AssertionError: Optimizer set error, conv2d_6.w_0_moment1_0 should in state dict"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle 2.2.0
    2）CPU：使用GPU
    3）GPU：AISTUDIO GPU
    4）系统环境：AISTUDIO BML CodeLab
- 训练信息
    1）单机/多机，单卡/多卡
    2）显存信息
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

先训练模型。后测试恢复训练出错

[code]

[2021-12-08 09:35] SJJ-dot commented on #37968
[code]

[2021-12-08 11:08] chde222 commented on #37401
【队名】：222333

【序号】：17

【论文】：Fast R-CNN

【状态】：报名

【repo链接】：https://github.com/chde222/faster-r-cnn-recurrent

[2021-12-08 12:18] dickobe commented on #37946
@

[2021-12-08 12:22] dickobe commented on #37946
@zhouwei25  还想问几个问题：
1、这些方法如何区分是静态图还是动态图呢，有没有什么好的方法区分，感觉有点乱
2、之前模型保存在chechpoint下，会有多个文件，比如下图；但现在只有一个.pbmodel, 这和之前是否有区别呢？
![image](https://user-images.githubusercontent.com/9254170/145207511-7860017e-e43d-491f-9428-7a406217b31c.png)
3、paddle.jit.save 这个函数是否可以再paddle 1.8.3版本用呢

[2021-12-08 13:12] sosojust1984 commented on #37401
【队名】：sosojust

【序号】：61

【论文】：COOT: Cooperative Hierarchical Transformer for Video-Text Representation Learning

【状态】：报名

【repo链接】：https://github.com/sosojust1984/COOT

[2021-12-08 13:25] dickobe opened #37979 "在将动态图模型转换为静态图时报错"
![image](https://user-images.githubusercontent.com/9254170/145215670-992cea32-73dd-4853-9fb9-b768de0e446b.png)

报错如下：
![image](https://user-images.githubusercontent.com/9254170/145215884-314ae2b3-7aa4-4e6e-a149-f214b99ed37d.png)
![image](https://user-images.githubusercontent.com/9254170/145215917-6ae9ae28-6f00-4ca6-b998-7c38fd498405.png)

为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用la

[2021-12-08 15:19] ppy-hellowd commented on #37953
tmp_xx的来源是什么？
ValueError: tmp_159 has no grad, Please set Variable.stop_gradient=False, or check if this is the first and only variable need grad, if so, please set its pre-Variable's stop_gradient=False, to make sure it has gradient

        def main(params=Params, mode="test"):
            place = F.CUDAPlace(5)
            D.guard(place).__enter__()

            data_reader = MyDataReader(FLIST

[2021-12-08 15:37] ppy-hellowd commented on #37953
仅仅是打印 loss.gradient，就出现了报错

[2021-12-08 15:39] ppy-hellowd commented on #37953
Traceback (most recent call last):
  File "train.py", line 175, in <module>
    main(mode="test")
  File "train.py", line 106, in main
    print(critic_loss.gradient())
  File "<decorator-gen-60>", line 2, in gradient
  File "/ssd2/pengpeiyan/tools/python36_v3/python36/lib/python3.6/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__
    return wrapped_func(*args, **kwargs)
  Fi

[2021-12-08 17:22] wozna opened #37986 "AttributeError: module 'paddle.fluid.core_avx' has no attribute 'eager'"
On recent develop: commit aff7397bbf2290c8cdff2e2b2202cbb286d3ae93
I get the following error while importing paddle or paddle.fluid.core
[code]

Build flags:
[code]

[2021-12-09 01:16] kismit opened #37987 "【Quant】QAT训练得到的model带moving_average_abs_max_scale op"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    paddle： 2.2.0-gpu
    paddleslim: 2.2.0

    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
  CUDA Version 10.1.243

3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号   3.6.13
    5）显存信息

 注：您可以通

[2021-12-09 01:42] kismit opened #37988 "Paddle使用单机单卡训练指定卡不生效，一直在0号卡申请显存"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    paddle: 2.2.0 gpu

    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    cuda: 10.1
    cudnn: 8.0  

 4）系统环境：请您描述系统类

[2021-12-09 01:51] WMwise commented on #37401
【队名】：wise

【序号】：33

【论文】：UNETR: Transformers for 3D Medical Image

【状态】：报名

【repo链接】：https://github.com/WMwise/wise-UNETR

[2021-12-09 01:55] kismit commented on #37988
报错trace:

Traceback (most recent call last):
  File "ptq.py", line 158, in <module>
    main(args)
  File "ptq.py", line 133, in main
    quant_model(src_word)
  File "/data/home/xuchunguang/.conda/envs/paddle2/lib/python3.6/site-packages/paddle/fluid/dygraph/layers.py", line 914, in __call__
    outputs = self.forward(*inputs, **kwargs)
  File "/data/home/xuchunguang/.conda/envs/paddle2/lib/pytho

[2021-12-09 01:56] kismit commented on #37988
W1209 01:48:00.638737 62789 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.2, Runtime API Version: 10.1
W1209 01:48:00.640688 62789 device_context.cc:465] device: 0, cuDNN Version: 8.0.
activation_quantizer KLQuantizer
2021-12-09 01:48:02,675-INFO: The layers to be fused:
src_fullname: /data/home/xuchunguang/work/AI/components/NLP/common/pptrtran

[2021-12-09 02:37] baoachun commented on #37930
@lidanqing-intel

[2021-12-09 02:37] ppy-hellowd opened #37989 "ValueError: tmp_159 has no grad, Please set Variable.stop_gradient=False, or check if this is the first and only variable need grad"
paddle 1.7.0 python3.6
动态图模式，两个自定义layer:

        class ActorNN(D.Layer):
            """"""
            def __init__(self, params=Params, name_scope="actor", trainable=True):
                super(ActorNN, self).__init__(name_scope=name_scope)

                # embedding
                p0 = F.ParamAttr(name=name_scope+"_cuid_embed_0", trainable=trainable)
                p1 = F.ParamAttr(name=n

[2021-12-09 02:43] baoachun opened #37990 "The fortmat processing of 6-dimensional input is incomplete, which will lead to MKLDNNMemoryFormat::undef error."
https://github.com/PaddlePaddle/Paddle/blob/1911b6f0da63dee423bc47754362da8fc45e1127/paddle/fluid/platform/mkldnn_helper.h#L307

<img width="306" alt="图片" src="https://user-images.githubusercontent.com/22114318/145324775-5447ae83-1eb0-49ac-8f3f-e51985dcc13e.png">

![图片](https://user-images.githubusercontent.com/22114318/145324814-b8487708-506f-4e60-8488-b3a66eb23a37.png)

[2021-12-09 02:44] baoachun commented on #37990
@lidanqing-intel @jakpiase @jczaja

[2021-12-09 02:53] haozech commented on #37989
你好，感谢使用paddle，问题已转给相应同学解答~

[2021-12-09 02:57] zhiminzhang0830 commented on #37401
【队名】：zzm

【序号】：48

【论文】：Fourier Contour Embedding for Arbitrary-Shaped Text Detection

【状态】：报名

【repo链接】：https://github.com/zhiminzhang0830/FCENet_Paddle

[2021-12-09 03:16] zhwesky2010 commented on #37953
@ppy-hellowd tmp_x是网络计算过程中的临时节点，其如果未参与loss计算，是没有梯度的，没有梯度所以访问出错，你可以把它加到loss上：`loss=loss+tmp_x` 就能看到梯度

[2021-12-09 03:32] Andy1314Chen commented on #37401
【队名】：A3

【序号】：245

【论文】：Deep Learning Recommendation Model for Personalization and Recommendation Systems

【状态】：报名 & 提交

【repo链接】：https://github.com/Andy1314Chen/PaddleRec/tree/feature-tipc-dlrm

[2021-12-09 05:38] yt605155624 opened #37997 "paddle.utils.download _uncompress_file_zip 的 rootpath 为空"
https://github.com/PaddlePaddle/Paddle/blob/cb636a48f8a17a23fa6ab753946252bec92ce940/python/paddle/utils/download.py#L318
![40f2c4bd2b7f05ddc250dbc3721730a9](https://user-images.githubusercontent.com/24568452/145340532-f84b692f-06b7-4b26-86a3-18bcbb142560.png)
应该把最后的 [-1] 变成 [0]

[2021-12-09 06:50] zhwesky2010 commented on #37936
@KiritoSSR  您好，请问你们目前是如何实现呢？有竞品实现过吗

[2021-12-09 06:57] KiritoSSR commented on #37936
keras里面有实现（https://blog.csdn.net/Jeaten/article/details/105011214），
allennlp中也有实现（https://docs.allennlp.org/v1.2.2/api/modules/seq2seq_encoders/pytorch_seq2seq_wrapper/）。

或者paddle.nn.LSTM中输入的sequence_length参数可以起到mask的作用吗？

[2021-12-09 06:58] zhouwei25 commented on #37946
1. paddle.save/load系列是动态图、静态图都可用；paddle.jit系列是动态图使用
2. 多个文件是通过旧的 save_params/save_persistable保存的吗？如果通过paddle.save保存，是.pdparams单个文件，区别就是保存形式不同
3. paddle.jit是2.2.0版本可用

[2021-12-09 07:06] zhwesky2010 commented on #37950
@dickobe  不同API保存的形式不同，前者是把不同参数保存不同文件，后者是一整个文件，如果用save_dygraph保存的，需要用load_dygradph来加载。如果用save_vars保存，建议用load_vars加载；不过这些1.8系列的API不建议使用，建议用paddle最新的paddle.save/load这两个API就可以

[2021-12-09 07:30] zhwesky2010 commented on #37936
@KiritoSSR 这个会把超过sequence_length的元素的mask设为0，小于sequence_length的元素的mask设为1，应该能满足你的需求

[2021-12-09 07:30] zhwesky2010 commented on #37946
@dickobe 1. paddle.save/load系列是动态图、静态图都可用；paddle.jit系列是动态图使用；
2. 多个文件是通过旧的 save_params/save_persistable保存的吗？如果通过paddle.save保存，是.pdparams单个文件，区别就是保存形式不同
3. paddle.jit是2.2.0版本可用；
需要区分是什么场景，如果只是训练，用paddle.save/load这两个API就可以，预测才考虑save_inference_model和jit，不建议使用之前的API，建议2.2直接使用paddle.save/load就可以

[2021-12-09 07:31] KiritoSSR commented on #37936
好的

[2021-12-09 07:32] lidanqing-vv commented on #37005
**Old models priority list from achun**

**PaddleDetection** repo models are sorted b**y priority from high to low** as follows:

ppyolov2_r50vd_dcn_365e_coco,
yolov3_darknet,
faster_rcnn_r50_fpn_1x_coco,
mask_rcnn_r50_fpn_1x_coco,
ssd_mobilenet_v1_300_120e_voc,
solov2_r50_fpn_1x_coco,

# OCR 模型中MKLDNN不支持的op

- [ ]  elementwise_add 【65】
- [x] nearest_interp_v2 【6】
- [x] elementwise_mul 【9】
- [x] s

[2021-12-09 07:34] lidanqing-vv commented on #37005
@jczaja @wozna @sfraczek @jakpiase @zuzg Hi, I updated the int8 models that we need to generalize.
These models according to Ligang will be used by Baidu as SPR benchmark models. Need to start analysis from green labeled models.

[2021-12-09 07:39] zhwesky2010 commented on #37951
@wuhuachaocoding 辛苦看下分布式的问题

[2021-12-09 07:44] wzyforgit opened #38002 "sw_64无法进行编译"
- 版本、环境信息：
    1）PaddlePaddle版本：release/2.0-rc1
    2）CPU：请提供CPU型号，arch：sw_64，CPU：sw421
    3）GPU：请提供GPU型号，AMD Oland亮机卡
    4）系统环境：UOS 1041 专业版
- 安装方式信息：
本地编译：cmake ..  -DWITH_MKL=OFF -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_PYTHON=OFF -DREFERENCE_CBLAS_ROOT=${CBLAS_ROOT} -DWITH_CRYPTO=OFF -DWITH_XBYAK=OFF -DWITH_SW=ON -DCMAKE_CXX_FLAGS="-Wno-error -w"
  特殊环境请注明：无
- 复现信息：

[2021-12-09 08:03] zhwesky2010 commented on #37968
@SJJ-dot 您好，麻烦 先看下 `opt_dict` ，里面是否有对应的参数

[2021-12-09 08:04] genjiyep opened #38004 "安装paddle环境时编译报错，error code is 126"
下载的paddle为最新2.2版本，python版本3.9，cuda安装的10.2，报错为RuntimeError: (PreconditionNotMet) The third-party dynamic library (cudnn64_7.dll) that Paddle depends on is not configured correctly. (error code is 126)
下图1为编译报错截图
![屏幕截图 2021-12-09 144138](https://user-images.githubusercontent.com/95277066/145357141-bc12ab9c-ad72-4fc1-98e1-72fee512ad60.png)
                图2和图3是cuda与cudnn测试结果
![1](https://user-image

[2021-12-09 08:04] wuhuachaocoding commented on #37951
您好，你的程序获取本进程地址是127.0.01. 不对，所以connect fuse. 有两种方式获取本进程地址, 一是调第三方route模块自动获取,第二种是从配置里读, 你看些你是那种方法获取的。

[2021-12-09 08:08] zhwesky2010 commented on #37979
@dickobe 请问dymodel是否实例化了，需要在guard里面先实例化layer

[2021-12-09 08:09] Li-Jiajie commented on #37951
嗯嗯，我后来修改了hosts文件，能够得到正确的ip了
顺便问下gloo在CPU模式下有用吗
![image](https://user-images.githubusercontent.com/35255760/145358313-8c725e7e-01fd-456f-a98e-75130601cfe8.png)

用fleetrun启动的时候，gloo port看起来是随机的，这样会导致多台机器间找不到其他的port，必须得用--http_port=xx来手动指定，这是正确的用法吗

[2021-12-09 08:14] SJJ-dot commented on #37968
@zhouwei25 你好，这是我debug看到的内容。

[code]

[2021-12-09 08:25] SJJ-dot commented on #37968
@zhouwei25 我刚刚又去跑了一下。最新的错误日志。
[code]

[2021-12-09 08:34] SJJ-dot commented on #37968
我在本地运行不会出这个问题，windows系统，Ancona安装的环境，paddle 2.2.0 CPU 版本，本地还安装了paddleX，刚刚试了在AI Studio使用CPU训练以及恢复，同样会报错。完全相同的代码。

[2021-12-09 08:58] haozech commented on #37987
您好，问题已收到，相关同学会尽快为您解答。

[2021-12-09 09:05] haozech commented on #37988
您好，问题已收到，相关同学会尽快为您解答。

[2021-12-09 09:06] dickobe commented on #37979
@zhouwei25  有做模型实例化的
![image](https://user-images.githubusercontent.com/9254170/145366510-59275a85-2744-47b8-84d1-dd059dd6c431.png)

[2021-12-09 09:07] kismit commented on #37988
这个问题是batch size太大了，我设置小了就没问题了，应该可以关闭这个case了。

[2021-12-09 09:14] haozech commented on #37988
赞👍🏻

[2021-12-09 09:15] haozech commented on #38002
您好，您给的文档地址我这边打不开，是需要编译预测库还是paddle整体呢？如果是后者可以参考这里的文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/sw-compile.html#shenweixiacongyuanmabianyi

[2021-12-09 09:23] haozech commented on #38004
建议升级一下cudnn版本，10.2的cuda版本应该需要cudnn 8.2.2的版本。 参考这里 https://blog.csdn.net/qq_43800855/article/details/120059808 。
另外paddle 安装的wheel包可以参考这里 https://blog.csdn.net/qq_43800855/article/details/120059808

[2021-12-09 09:24] haozech commented on #37997
您好，问题已收到，相关同学会尽快处理。

[2021-12-09 09:51] wzyforgit commented on #38002
谢谢回复，我目前是需要编译预测库进行部署。
然后我看您发的链接是推荐使用开发分支编译？这样会不会引入还不稳定的代码？

[2021-12-09 12:03] GuoQuanhao opened #38016 "Paddle2.2关于具有梯度Tensor在paddle.no_grad()中的表现"
**paddle2.2对Tensor的inplace增加了监测机制，具有梯度的Tensor不能使用Inplace操作，Torch对于具有梯度的Tensor也不能使用Inplace操作**

#### Torch
[code]
[code]
当我加上torch.no_grad
[code]
[code]
输出的tensor具有梯度
#### Paddle
[code]
[code]
paddle加上paddle.no_grad仍不能实现inplace操作，我需要显示的加上`tensor.stop_gradient = True`
[code]
[code]
输出返回值的tensor不具有梯度

二者输出的梯度情况不同

[2021-12-09 13:33] sfraczek commented on #36962
**Intel i9 accuracy and performance**
tnewst_quant_models: acc: 0.5351, time:  71.88971424102783
bert_fp32: acc: 0.5467, time:  46.44249224662781
bert_int8 acc: 0.5383, time:  36.17305397987366
fc_gelu acc: 0.5383, time:  34.68397045135498 （Perf on i9, should be faster on 6271）

[2021-12-09 13:59] renmada commented on #37401
【队名】：arbiter

【序号】：53

【论文】：Drop an Octave: Reducing Spatial Redundancy in Convolutional Neural Networks with Octave Convolution

【状态】：报名

【repo链接】：https://github.com/renmada/OctConv-paddle

[2021-12-09 14:20] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：248

【论文】：Context Encoding for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/ETTR123/PaddleSeg

[2021-12-10 00:55] wzyforgit commented on #38002
好了我试过了，现象是一样的，编不了

[2021-12-10 01:50] dickobe commented on #37979
@zhouwei25  辛苦帮忙看一下，需要上线使用

[2021-12-10 02:18] zhiminzhang0830 commented on #37401
【队名】：zzm

【序号】：48

【论文】：Fourier Contour Embedding for Arbitrary-Shaped Text Detection

【状态】：提交

【repo链接】：https://github.com/zhiminzhang0830/FCENet_Paddle

[2021-12-10 02:30] haozech commented on #38002
问题已转给相关同学哈

[2021-12-10 02:38] dickobe commented on #37979
在用TracedLayer.trace时，当label 为None时，返回的loss是None，这个时候就会报上面的错；如果label为None时，只返回logits就不会报上面的错，帮看下这个是什么原因？ @zhouwei25

[2021-12-10 02:39] kingkingofall commented on #37401
【队名】：小白复现队

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-MAE

[2021-12-10 02:40] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：251

【论文】：FastFCN: Rethinking Dilated Convolution in the Backbone for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/ETTR123/PaddleSeg

[2021-12-10 02:40] haozech commented on #38016
感谢使用paddle，您的问题已转给相关同学~

[2021-12-10 02:42] haozech commented on #37997
目前在最新版本中此问题已修复~

[2021-12-10 02:43] haozech commented on #37986
您好，问题已收到，会转给相关同学

[2021-12-10 03:10] ETTR123 commented on #37401
【论文】：【队名】：湖工起飞

【序号】：249

【论文】：Dynamic Multi-Scale Filters for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/ETTR123/PaddleSeg

[2021-12-10 03:22] zhaoyang-star commented on #37987
您好，根据使用`opt`工具进行模型转换时的提示：
[code]
原因是由于 Paddle Lite ARM 实现中不支持`moving_average_abs_max_scale`这个算子。如果可以在使用`paddleslim`时不生成这个算子，大概率就可以走通了，我与相关同学再确认下。

[2021-12-10 03:28] Memelank opened #38028 "from_pretrained报错unsupported operand type(s) for +: 'PosixPath' and 'str'"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：
![image](https://user-images.githubusercontent.com/44199033/145511105-63ff2775-1621-4fcb-8b79-e076cd63f9af.png)
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
cuda版本：11.2，cudnn版本：8.1.0
![

[2021-12-10 03:31] pangyoki commented on #38016
感谢反馈。请问这种行为不同会影响你的功能吗？因为看起来paddle.no_grad里面也没法使用梯度，相当于stop_gradient=False也没有用。有其它特殊case导致功能用不了的情况吗？

[2021-12-10 04:26] qili93 commented on #38028
@Memelank 请问您这里的模型代码使用的是PaddleNLP的代码吗？

造成以上问题的原因可能有很多，可以尝试定位一下：

1. ErnieModel.from_pretrained 这里的输入可以试试到文件名为止，比如
/home1/lj/workspace/dprProject/Research/NLP/ACL2021-PAIR/checkpoint/marco_test_encoder/save_weights 后面不要跟.params (这是Paddle 2.x 的用法，1.x的用法是输入到目录地址为止)，具体还是需要看 ErnieModel.from_pretrained  这里源码的接口是怎么定义的

2. Paddle 1.x 和 2.x 保存的模型格式之间的确存在不兼容性，建议最好用 1.x 的版本来跑 1.x保存下来的模型，这个暂时没有办法解决，看是不是能找个2.

[2021-12-10 05:51] zhiminzhang0830 commented on #37401
【队名】：zzm

【序号】：48

【论文】：Fourier Contour Embedding for Arbitrary-Shaped Text Detection

【状态】：提交

【repo链接】：https://github.com/zhiminzhang0830/FCENet_Paddle

[2021-12-10 06:21] baoachun commented on #37990
Export inference model:
[code]

Running command:
[code]

[2021-12-10 06:27] Memelank commented on #38028
好的 谢谢您 我试试用保存模型版本的paddle吧

谢谢您，我降低paddle版本试试好了

[2021-12-10 06:27] Memelank commented on #38028
谢谢您，我降低paddle版本试试好了

[2021-12-10 06:46] #37988 closed, assigned to haozech

[2021-12-10 07:28] baoachun opened #38038 "Running matmul_v2_transpose_reshape_fuse_pass will get MKLDNNDeviceContext error."
ref to https://github.com/PaddlePaddle/Paddle/pull/36481#issuecomment-984397795

[2021-12-10 07:31] #37265 closed, assigned to ZzSean

[2021-12-10 07:55] ZzSean commented on #37250
你好，请您使用最新的2.2.1或者使用python3.7以上版本再尝试下

[2021-12-10 08:43] #37997 closed, assigned to haozech

[2021-12-10 10:33] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：248

【论文】：Context Encoding for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/ETTR123/PaddleSeg -b encnet

[2021-12-10 11:33] happyfox-dot opened #38050 "SystemError"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle2.2.1
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
Gpu：Tesla V100,CUDA：10.1,cuDnn
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
python 3.8
    5）显存信息

 注：您可以通过执行[summary_env.py](https://github.com/PaddleP

[2021-12-10 11:38] happyfox-dot commented on #38050
Paddle version: 2.2.1
Paddle With CUDA: True

OS: Ubuntu 16.04
Python version: 3.7.4

CUDA version: 10.1.243
cuDNN version: 7.3.1
Nvidia driver version: 418.67

[2021-12-10 11:41] happyfox-dot commented on #38050
Its okey for I just only use CPU,however it doesn't work when I use GPU resource! :(

[2021-12-10 12:56] qili93 commented on #38050
关于这个错误应该是由于环境中的cuDNN版本太低了，Nvidia官网对CUDA10.1支持的cuDNN版本最低也是7.5.0，同时Paddle官网支持的Cudnn版本是7.6.5，建议升级环境中的cudnn版本

[code]

[2021-12-10 12:56] Li-fAngyU opened #38053 "paddle.metric.Auc() api样例描述不够详细"
import paddle
from sklearn.metrics import roc_auc_score

auc = paddle.metric.Auc()
preds = np.concatenate( (output,1-output),axis = 1 )
auc.update(labels = label,preds = preds)
print(auc.accumulate())
输出：0.45912389292350253

auc = paddle.metric.Auc()
preds = np.concatenate( (1-output,output),axis = 1 )
auc.update(labels = label,preds = preds)
auc.accumulate()
输出：0.5408761070764974

roc_auc_score(y

[2021-12-10 14:02] happyfox-dot commented on #38050
好的好的，我回去尝试一下：）

[2021-12-10 14:03] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：251

【论文】：FastFCN: Rethinking Dilated Convolution in the Backbone for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/ETTR123/PaddleSeg -b fastfcn

[2021-12-10 14:30] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：249

【论文】：Dynamic Multi-Scale Filters for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/ETTR123/PaddleSeg -b dmnet

[2021-12-11 00:00] GuoQuanhao commented on #38016
目前表现良好，没有出现问题，希望改进inplace在no_grad的表现

[2021-12-11 00:00] #38016 closed, assigned to haozech

[2021-12-11 03:59] thisisi3 commented on #37401
【队名】：thestone

【序号】：21

【论文】：Gradient Harmonized Single-stage Detector

【状态】：提交

【repo链接】：[Paddle-GHM](https://github.com/thisisi3/Paddle-GHM)

[2021-12-11 08:37] happyfox-dot commented on #38050
如何在paddle ai studio 中升级cudacnn 呢，有教程吗:)

[2021-12-11 09:29] thisisi3 commented on #37401
【队名】：thestone

【序号】：21

【论文】：Gradient Harmonized Single-stage Detector

【状态】：提交

【repo链接】：[Paddle-GHM](https://github.com/thisisi3/Paddle-GHM)

[2021-12-12 00:31] GoKu0401 commented on #37401
【队名】：GoKu

【序号】：81

【论文】：AutoFIS: Automatic Feature Interaction Selection in Factorization Models for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/GoKu0401/Paddle-AutoFIS

[2021-12-12 06:11] huilin16 opened #38059 "paddle是否有torch.overrides相关功能实现"
请问paddle有torch.overrides.has_torch_function、handle_torch_function对应的函数吗

[2021-12-12 06:58] windstamp commented on #38059
您好，目前还没有相关的对应函数。

您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。

[2021-12-12 07:43] wangqiang9 commented on #37401
【队名】：明光楼彭于晏

【序号】：36

【论文】：Training Generative Adversarial Networks with Limited Data

【状态】：报名

【repo链接】：https://github.com/XDUWQ/paddle_stylegan2_ada

[2021-12-12 08:01] Li-fAngyU commented on #30947
我也遇到了这个问题，想问一下目前这个问题解决了吗？

[2021-12-12 08:01] zhangpu1211 commented on #30947
您好，邮件已收到，我尽快给您回复。

[2021-12-12 08:13] dustasa commented on #37401
【队名】：HBU_ICS_MNBX

【序号】：14

【论文】：Rethinking Spatial Dimensions of Vision Transformers

【状态】：报名

【repo链接】：https://github.com/dustasa/PiT

[2021-12-12 08:39] S-HuaBomb opened #38061 "【论文复现】希望增加 F.affine_grid 的 3D 支持"
- 版本、环境信息
1）PaddlePaddle版本：2.2

- 复现信息：复现 VNet 需要使用 3D 图像变形做数据增强
- 建议描述：图像变形需要 F.affine_grid 生成位移网格，然后配合 F.grid_sample 使用。现在它们都不支持 3D，让我很难做。希望尽快支持 3D 网格变形。

[2021-12-12 08:44] windstamp commented on #38061
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。

[2021-12-12 08:55] Li-fAngyU commented on #30947
我出现这个问题是出现在执行下面这个代码片段的时候。
model.train()
for i in range(epoch):
      '''
      train_pred = model(train_data)
      '''
      model.eval()
      '''
      test_pred = model(test_data)
      '''
      model.train()

当我train_data 采用小batch的形式，test_data直接全部喂进去的时候就会出现这个问题。

我将test_data 也用dataloader的方式去作为模型的输入的时候就不会报这个错误。
希望能对解决这个问题有一点帮助。

[2021-12-12 09:40] jordan2013 opened #38062 "论文复现 loss.backward() RuntimeError"
- 标题： loss.backward() RuntimeError
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.1
    2）CPU：无
    3）GPU：AIStudio平台上的GPU
    4）系统环境：python 3.7,AIStudio 环境

- 训练信息
    1）单机/单卡
    2）显存信息
    3） loss.backward()
- 复现信息：如为报错，请给出复现环境、复现步骤
- AiStudio：https://aistudio.baidu.com/aistudio/projectdetail/3204731?contributionType=1&shared=1
- 问题描述：
---> 37             loss.backward()
     38             print("loss.gra

[2021-12-12 10:23] windstamp commented on #38062
您好，AiStudio：https://aistudio.baidu.com/aistudio/projectdetail/3204731?contributionType=1&shared=1 这个链接没有权限打开。麻烦再提供一份有效的链接，或提供一份可复现问题的代码。

另外，请问是静态图还是动态图模式下报错？

[2021-12-12 12:14] jordan2013 commented on #38062
是在动态图模式下出现的问题。https://aistudio.baidu.com/aistudio/projectdetail/3204731,试下这个链接，

[2021-12-12 12:22] #37797 closed, assigned to nobody

[2021-12-12 14:43] windstamp commented on #38062
我测试后发现是首先报了如下错误
[code]

然后，再次执行后才会报错
[code]

后续的测试报错应该不是真正的报错，只是测试不是一个干净的 paddle 环境导致的。建议先排查一下模型，可以根据上述第一个报错，试着逐渐增加模型的复杂度试试。

我这边做了如下修改之后可以正常训练，但是不一定是您需要的。
[code]

=>

[code]

[2021-12-12 16:06] jordan2013 commented on #38062
感谢，找到问题，这个语句出现问题：self.kernel = (self.kernel*self.it_weights).reshape([64,64,-1,1])，改为k = (self.kernel*self.it_weights).reshape([64,64,-1,1]),后续使用k的值就可以了

[2021-12-12 16:07] #38062 closed, assigned to windstamp

[2021-12-12 16:46] theMLL opened #38065 "高阶API-模型恢复训练"
进行恢复训练报错
AssertionError: Optimizer set error, conv1d_10.b_0_moment1_0 should in state dict

[2021-12-13 00:41] ouyangshixiong commented on #37250
好的，我试试看

[2021-12-13 02:33] qili93 commented on #38053
收到，会作为新需求进行评估，感谢您的反馈。

[2021-12-13 02:38] IcarusWizard opened #38067 "【论文复现】AI Studio脚本任务速度随gpu增多而减小"
- 标题：AI Studio脚本任务速度随gpu增多而减小
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.1
    3）GPU：V100 * 4
    4）系统环境：AI Studio脚本任务

OctConv复现，使用ImageNet数据集训练，脚本任务使用单机四卡机器训练，仅使用单卡速度为600samples/s，两卡为660samples/s，四卡反而为320samples/s。

[2021-12-13 02:41] qili93 commented on #38050
@happyfox-xie 不好意思，才看到，是AI Studio环境的话，建议咨询一下AI Studio的同学，谢谢！

[2021-12-13 02:42] happyfox-dot commented on #38050
好的吧，还是谢谢啦:)

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年12月13日(星期一) 上午10:41
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbs

[2021-12-13 02:49] ddgetget commented on #38065
我也有类似为问题,我使用的爬得到了版本是2.2.1,在Windows,centos7.6,ubuntu16.04测试均是以下结果
[code]
问题来源:https://www.paddlepaddle.org.cn/tutorials/projectdetail/1899282
按照官方文档,直接运行,无法恢复训练

#### 核心代码
- 保存模型时同时保存模型参数和优化器参数；
[code]
- 恢复参数时同时恢复模型参数和优化器参数。
[code]

[2021-12-13 02:56] pangyoki commented on #38016
好的，多谢反馈。

[2021-12-13 03:01] Ligoml commented on #37986
用户你好，develop分支为开发分支，不稳定，可能会遇到bug并修复bug。建议编译时使用稳定分支~

[2021-12-13 03:01] #37986 closed, assigned to haozech

[2021-12-13 03:08] Ligoml commented on #38059
用户你好，请问是做什么任务需要用到相关 API 呢？是论文复现吗？这个 API 是否会阻塞你的复现工作呢？你可以填写以下表单提交需求，我们会尽快处理的：https://docs.qq.com/sheet/DWnhZS3N1WUhMUW5Z?tab=BB08J2

[2021-12-13 03:38] applezjm opened #38073 "如何根据idx导入数据"
我现在有一维数组和二维数组，二维数组存的是一维数组的idx，希望把一维数组对应值根据idx导入二维数组，请问有方法吗

[2021-12-13 04:03] WenmuZhou commented on #38067
麻烦提供一下训练代码

[2021-12-13 04:10] wanghaoshuang commented on #37987
fixed in https://github.com/PaddlePaddle/Paddle/pull/38012 by @yghstill

[2021-12-13 04:21] IcarusWizard commented on #38067
[code]

[2021-12-13 05:03] littletomatodonkey commented on #38073
可以试下gather或者gather_nd哈

[2021-12-13 05:15] littletomatodonkey commented on #38065
我这边使用2.2的paddle没有遇到这个问题，代码如下

[code]

[2021-12-13 05:16] littletomatodonkey commented on #38065
下面这4行需要先注释掉，第一次保存得到模型之后再取消注释

[code]

[2021-12-13 05:50] wangjiancheng-123 commented on #37401
【队名】：布鲁克林篮网队

【序号】：85
【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/wangjiancheng-123/kevindurant

[2021-12-13 05:53] #38050 closed, assigned to qili93

[2021-12-13 06:44] qiuming-93 commented on #37875
找到问题了，应该是backward之后使用对应层的梯度进行计算导致后续的bakward梯度不再变化

[2021-12-13 06:45] qiuming-93 commented on #37875
复现代码：
x = paddle.to_tensor(np.zeros((2,3,4), dtype=np.float32)) + 1
    x.stop_gradient = False
    y = paddle.to_tensor(np.zeros((2,3,4), dtype=np.float32))
    y[:, 1, :] = 1
    z = x*y

    z[:, 2, :].backward(retain_graph=True)
    print(paddle.mean(x.grad))
    grad_map = x.grad
    grad = paddle.mean(paddle.to_tensor(grad_map), (2), keepdim=True)
    gradcam = paddle.sum(grad * x, axis=1)

[2021-12-13 06:58] kismit commented on #37987
在安装源码中应用了上诉的修改，得到的模型中还是有moving_average_abs_max_scale这个op的，你们内部只是应用了#38012这一个修改吗？

[2021-12-13 07:03] kismit commented on #37987
[code]
我在修改中增加了上面的打印，发现并没有走到那个if里面，打印也没有，所以上面的修改应该对我这个case无效吧

[2021-12-13 07:10] DDDivano commented on #38004
cudnn的版本是哪一个图？

[2021-12-13 07:10] kismit commented on #37987
我在代码中加了打印，发现我这个case并没有走到修改的if块里面，导出的模型里面还是含有moving_average_abs_max_scale这个op的，#38012这个修改对我这个case不生效，麻烦你们再帮忙确认一下

[code]

[2021-12-13 07:44] wangjiancheng-123 commented on #37401
【队名】：布鲁克林篮网队

【序号】：95
【论文】：Megatron-LM: Training Multi-Billion Parameter Language Models Using Model Parallelism

【状态】：报名

【repo链接】：https://github.com/wangjiancheng-123/kevindurant

[2021-12-13 07:53] WenmuZhou commented on #38067
你好，给整个代码吧，我需要复现你的问题

[2021-12-13 08:03] IcarusWizard commented on #38067
那我分享给你AI Studio脚本任务链接。https://aistudio.baidu.com/studio/project/partial/verify/3217714/ca7a0028a6194571a26ae2012ec033d7

[2021-12-13 08:19] zhl98 commented on #37401
【队名】：PCALab-NNDM小组

【序号】：12

【论文】：Tokens-to-Token ViT: Training Vision Transformers from Scratch on ImageNet

【状态】：报名

【repo链接】：https://github.com/zhl98/T2T_paddle

[2021-12-13 09:19] lidanqing-vv commented on #37930
![771787280](https://user-images.githubusercontent.com/47151829/145784895-4fe85368-3506-4507-97ba-66dec423d55d.jpg)
**线程数** means : thread_num

[2021-12-13 09:41] fox2049 opened #38081 "paddle.max返回值无索引"
相较于pytorch，paddle.max的返回值仅有最大值，无最大值的位置，希望能够增加索引项。

[2021-12-13 09:50] fox2049 commented on #38081
需配合paddle.argmax

[2021-12-13 09:50] #38081 closed, assigned to littletomatodonkey

[2021-12-13 10:08] huilin16 commented on #38059
是的，HRFormer复现遇到的
十分感谢，已提交

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年12月13日(星期一) 中午11:08
***@***.***&gt;;
***@***.******@***.**

[2021-12-13 10:31] 20151001860 commented on #37401
【队名】：勇敢土豆不怕困难！

【序号】：40

【论文】：Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data

【状态】：提交

【repo链接】：https://github.com/20151001860/Real_ESRGAN_paddle

[2021-12-13 12:25] zhl98 commented on #37401
【队名】：PCALab-NNDM小组

【序号】：12

【论文】：Tokens-to-Token ViT: Training Vision Transformers from Scratch on ImageNet

【状态】：提交

【repo链接】：https://github.com/zhl98/T2T_paddle

[2021-12-13 12:58] caopulan opened #38099 "论文复现 使用文档-单机多卡训练问题"
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/06_device_cn.html#danjiduokaxunlian

单机多卡基础API部分代码有问题
`train_loader = paddle.io.DataLoader(train_dataset, batch_size=32, shuffle=True)`
应改用 paddle.io.DistributedBatchSampler

[2021-12-13 13:51] zhl98 commented on #37401
【队名】：PCALab-NNDM小组

【序号】：12

【论文】：Tokens-to-Token ViT: Training Vision Transformers from Scratch on ImageNet

【状态】：报名&提交

【repo链接】：https://github.com/zhl98/T2T_paddle

[2021-12-13 13:55] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：248

【论文】：Context Encoding for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/ETTR123/PaddleSeg -b encnet

[2021-12-13 14:46] jakpiase commented on #37990
Hi @baoachun.
I have followed your steps and everything works on my setup. Could you please give me more information about system and CPU that you are using?

[2021-12-13 16:36] mgoutelle commented on #36801
@esythan I can confirm the same behaviour on my end: gcc-8 (and the associated libraries) were already installed, but that doesn't solve the issue.

[2021-12-14 02:03] baoachun commented on #37990
Hi @jakpiase, the basic information is as follows:
system version: ubuntu 18.04
python version: python3.7
paddle version: the newest develop branch
cpu: 6271

[2021-12-14 03:05] shiyutang commented on #38061
您好，复现VNet的推荐repo里没有对这两个算子的需求，请问你是参考的哪个repo呢，我们的推荐repo是这个：https://github.com/mattmacy/vnet.pytorch

[2021-12-14 03:56] xiaomujiang opened #38106 "RuntimeError: (PreconditionNotMet) The third-party dynamic library (libcublas.so) that Paddle dred correctly. (error code is libcublas.so: cannot open shared object file: No such file or dir Suggestions:"
安装cuda10.2  cudnn7.6.5 和paddle，验证报错
RuntimeError: (PreconditionNotMet) The third-party dynamic library (libcublas.so) that Paddle dred correctly. (error code is libcublas.so: cannot open shared object file: No such file or dir   Suggestions:？？？？？？？？？？？？？？？？？
版本信息如下
(dogg) root@bigclata-PowerEdge-R740:/usr/local/cuda/lib64# pip list | grep paddle
paddle2onnx                       0.8.2
paddlefsl

[2021-12-14 06:02] BeyondYourself commented on #37401
【队名】：beyond

【序号】：3

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：报名
【repo链接】：https://github.com/BeyondYourself/Paddle-MNAS

[2021-12-14 06:28] tink2123 commented on #38106
echo $LD_LIBRARY_PATH 看下你的libcublas.so 文件是否在这个环境变量中，不在的话添加进去试下

[2021-12-14 06:33] hybry commented on #37401
【队名】：打打酱油

【序号】：91

【论文】：FSMT: Facebook FAIR's WMT19 News Translation Task Submission

【状态】：报名

【repo链接】：https://github.com/hybry/Paddle-JustToStudy

[2021-12-14 06:41] #25338 closed, assigned to nobody

[2021-12-14 06:41] #25619 closed, assigned to nobody

[2021-12-14 06:41] #26174 closed, assigned to phlrain

[2021-12-14 06:41] #26421 closed, assigned to hong19860320, TCChenlong

[2021-12-14 06:41] #29111 closed, assigned to yinhaofeng

[2021-12-14 06:41] #29328 closed, assigned to wawltor

[2021-12-14 06:41] #29334 closed, assigned to wawltor, wuyefeilin

[2021-12-14 06:41] #29396 closed, assigned to luotao1

[2021-12-14 06:41] #29401 closed, assigned to jiweibo

[2021-12-14 06:41] #29409 closed, assigned to guoshengCS

[2021-12-14 06:41] #29439 closed, assigned to guoshengCS

[2021-12-14 06:41] #29456 closed, assigned to seiriosPlus, wanghaoshuang

[2021-12-14 06:41] #29481 closed, assigned to wanghaoshuang

[2021-12-14 06:42] #29482 closed, assigned to wanghaoshuang

[2021-12-14 06:42] #29487 closed, assigned to wanghaoshuang

[2021-12-14 06:42] #29497 closed, assigned to wanghaoshuang

[2021-12-14 06:42] #29536 closed, assigned to seiriosPlus, littletomatodonkey

[2021-12-14 06:42] #29542 closed, assigned to seiriosPlus

[2021-12-14 06:42] #29546 closed, assigned to seiriosPlus

[2021-12-14 06:42] #29554 closed, assigned to seiriosPlus

[2021-12-14 06:42] #29557 closed, assigned to seiriosPlus

[2021-12-14 06:42] #29558 closed, assigned to seiriosPlus

[2021-12-14 07:35] littletomatodonkey commented on #38099
感谢反馈，我们修复下

[2021-12-14 08:06] zche4846 commented on #37401
【队名】：开福区老实人

【序号】：85

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/zche4846/paddle-debertav2

[2021-12-14 08:23] baoachun opened #38126 "The output format of mkldnn conv is wrong when data_format is NHWC"
![图片](https://user-images.githubusercontent.com/22114318/145959037-c35b64e0-6f9e-47da-849b-fafd4e854d47.png)

The problem can be reproduced according to this pr：https://github.com/PaddlePaddle/Paddle/pull/38107

Runing the following command to reproduce.
[code]

[2021-12-14 08:52] littletomatodonkey commented on #38065
方便提供下你那边更详细的环境和代码吗？我这边Ubuntu docker中没有能够复现问题

[2021-12-14 12:20] DuerWorker commented on #37401
【队名】：Duer

【序号】：你队伍想要复现的论文序号

【论文】：XCiT: Cross-Covariance Image Transformers

【状态】：报名

【repo链接】：[repo的链接](https://github.com/DuerWorker/Paddle-XCiT)

[2021-12-14 12:22] DuerWorker commented on #37401
【队名】：Duer

【序号】：4

【论文】：XCiT: Cross-Covariance Image Transformers

【状态】：报名

【repo链接】：[Paddle-XCiT](https://github.com/DuerWorker/Paddle-XCiT)

[2021-12-14 12:37] WenmuZhou commented on #38067
调大batchsize即可

[2021-12-14 12:41] IcarusWizard commented on #38067
解决了，非常感谢！

[2021-12-14 12:41] #38067 closed, assigned to littletomatodonkey

[2021-12-14 13:29] firestonelib commented on #36563
可以试下 paddle.linalg.matrix_power 文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/linalg/matrix_power_cn.html
示例：
### torch

tensor([[7.3891, 0.0000],
        [0.0000, 7.3891]])
### paddle

Tensor(shape=[2, 2], dtype=float64, place=CUDAPlace(0), stop_gradient=True,
       [[7.38905565, 0.        ],
        [0.        , 7.38905565]])

[2021-12-14 14:23] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：248

【论文】：Context Encoding for Semantic Segmentation

【状态】：提交

【repo链接】：https://github.com/ETTR123/PaddleSeg -b encnet

[2021-12-14 14:38] Relax-87 commented on #29409
close

[2021-12-15 01:22] ouyangshixiong commented on #37250
从python3.6升级到python3.8 解决了这个问题。 @ZzSean 谢谢

[2021-12-15 01:22] #37250 closed, assigned to ZzSean

[2021-12-15 01:39] zhuangqirong commented on #37401
【队名】：菜鸟来了

【序号】：13

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/zhuangqirong/CVT

[2021-12-15 02:26] thisisi3 commented on #37401
【队名】：thestone

【序号】：22

【论文】： YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：[Paddle-YOLOX](https://github.com/thisisi3/Paddle-YOLOX)

[2021-12-15 03:17] Desperado-Jia opened #38147 "PaddleNLP使用ERNIE后接CRF模型with_start_stop_tag设置为True时报错，尺寸问题"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2021-12-15 03:32] ff12343 opened #38149 "Paddle2.2.1-gpu 安装错误： cuda版本错误"
- 版本环境信息：
1）PaddlePaddle版本：Paddle2.2.1-gpu
2）win10 系统， Intel i7-10750 处理器
3）GPU：GTX1660Ti，CUDA10.2.89，CUDNN8.3
4）环境：Python3.8

- 安装方式信息：
1）conda环境中使用pip安装

- 问题描述：

RuntimeError: (PreconditionNotMet) The third-party dynamic library (cudnn64_7.dll) that Paddle depends on is not configured correctly. (error code is 126)
  Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN)

[2021-12-15 03:38] ff12343 commented on #38149
安装方式按照的是cuda10.2的安装方式，命令：python -m pip install paddlepaddle-gpu==2.2.1 -i https://mirror.baidu.com/pypi/simple。
然后安装paddleX，命令：pip install paddlex==2.0.0 -i https://mirror.baidu.com/pypi/simple

[2021-12-15 03:45] smfhn163com opened #38152 "fluid.layers.linear_chain_crf输入参数纬度问题"
paddle版本： 1.8.1
在https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/layers_cn/linear_chain_crf_cn.html#linear-chain-crf 中查看， 输入是支持[N x S x D]的Tensor，N是batch_size，S为序列的最大长度，D是维度， 在使用过程中，输入三维数据，提示错误：
InvalidArgumentError: The Input(Emission) should be a 2-D tensor. But received: input rank 3, input shape [-1, 128, 239].

[2021-12-15 03:52] ZHUI commented on #38152
![image](https://user-images.githubusercontent.com/16911935/146120060-f4e6d462-1c86-4888-9559-bbe30ab3f825.png)
是否是输入为LodTensor了？

[2021-12-15 03:58] ZHUI commented on #38152
https://github.com/PaddlePaddle/Paddle/blob/release/1.8/paddle/fluid/operators/linear_chain_crf_op.cc#L182
看源码，需要 Length 变量才会走到3-D的分支。

[2021-12-15 04:03] ZHUI commented on #38149
建议先check一下本地cuda环境。本地cuda是否是10.2？windows环境变量是否设置好了cuda的路径？

[2021-12-15 06:13] cantabile-kwok commented on #34781
跟显卡没有任何关系，我纯CPU的机器也不能import sklearn，而且这个bug花了很长的时间才定位出来，现在要使用sklearn的很多功能必须先把数据存起来再用别的脚本去跑，必须让sklearn和paddle完全隔离，这极度、非常影响使用体验，希望引起重视。

[2021-12-15 07:01] caopulan opened #38157 "confusion of apis for loading state_dict"
Model (paddle.nn.Layer), optimizer (paddle.optimizer), grad_scaler (paddle.amp.grad_scaler) have different apis for loading state_dict, which may be confused:
- `model.load_dict()`
- `optimizer.set_state_dict()`
- `scaler.load_state_dict()`

Is it available to redefine some apis like this?
[code]

[2021-12-15 07:16] XXp4ngXX commented on #37401
【队名】：thestone

【序号】：102

【论文】：ByT5: Towards a token-free future with pre-trained byte-to-byte models

【状态】：报名

【repo链接】：https://github.com/XXp4ngXX/paddle-ByT5

[2021-12-15 07:17] XXp4ngXX commented on #37401
【队名】：浪费时间

【序号】：102

【论文】： ByT5: Towards a token-free future with pre-trained byte-to-byte models

【状态】：报名

【repo链接】：https://github.com/XXp4ngXX/paddle-ByT5

[2021-12-15 07:36] Reatris opened #38159 "在jetson nano 上使用trt为 tinypose_128x96 模型做推理 ，加载模型时出错"
1）官方提供的 linux-cuda10.2-cudnn8.1-trt7-gcc8.2 安装包
2）paddlepaddle-gpu (2.1.1)
3）系统环境：Python3.6

我安装了这个包在jetson nano 上使用trt为 tinypose_128x96 模型做推理， 在加载模型的时候报错了
保存信息如下：
[code]

[2021-12-15 07:38] Reatris commented on #38159
这是我加载模型的部分
[code]

[2021-12-15 08:06] dongfangyixi commented on #36563
@firestonelib
谢谢您的回答，用matrix power这个方法 对于对角或者可以对角化的矩阵应该可以的，但是对于一般的矩阵不行。
Pytorch 用了  "Bader, P.; Blanes, S.; Casas, F. Computing the Matrix Exponential with an Optimized Taylor Polynomial Approximation. Mathematics 2019, 7, 1174."  这个论文的算法。

这个应该是目前SOTA的matrix exponential的算法。

如果您有开发这个API的计划，我们可以更进一步进行一下细节上的交流。

@firestonelib
Thank you. The matrix power api you mentioned is suitable in the case whe

[2021-12-15 08:11] ZHUI commented on #38157
Thank for your advices.  Sorry for make you confused about the api usage.
The `Optimizer `, `Scaler ` would be batter to have the same api interface as `nn.Layer`. We will carefully consider your advices.

https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dygraph/amp/loss_scaler.py
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/optimizer/optimizer.py#L49

[2021-12-15 08:11] joey12300 commented on #37132
@developWmark 可以提供训练代码吗？我看你好像只提供了模型代码。你可以先对齐同名模型参数，包括embedding，rnn以及最后linear参数。

[2021-12-15 08:18] ZHUI commented on #38157
It should be `model.set_state_dict()` since model should be `nn.Layer`, and the  `Optimizer `  use `set_state_dict ` api,  the same  as `nn.Layer`.

[2021-12-15 08:43] HJHGJGHHG commented on #37401
【队名】：手算神经网络

【序号】：104

【论文】： FNet: Mixing Tokens with Fourier Transforms

【状态】：提交

【repo链接】：https://github.com/HJHGJGHHG/Paddle-FNet

[2021-12-15 09:15] smfhn163com commented on #38152
不是LodTensor，数据数据为
name: "fc_73.tmp_1"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: -1
      dims: 128
      dims: 239
    }
    lod_level: 0
  }
}

[2021-12-15 09:16] smfhn163com commented on #38152
加了length变量，还是提示同样的问题
InvalidArgumentError: The Input(Emission) should be a 2-D tensor. But received: input rank 3, input shape [-1, 128, 239].

[2021-12-15 10:32] jiweibo commented on #37793
看报错的意思是说，加载模型的时候，没有找到对应的权重文件，请问下模型是保存成预测格式的模型吗？
这里有一个关于模型格式的介绍哈
https://paddleinference.paddlepaddle.org.cn/introduction/training_to_deployment.html

[2021-12-15 10:54] smfhn163com commented on #38152
刚刚加入length有问题，修正之后，就OK了

[2021-12-15 12:26] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：249

【论文】：Dynamic Multi-Scale Filters for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/ETTR123/PaddleSeg -b dmnet

[2021-12-15 12:36] genjiyep commented on #38004
已经解决了，是cudnn版本问题，缺少一个dll文件

[2021-12-15 14:08] BeyondYourself commented on #37793
是模型转换没有成功，生成个很大的core文件

[2021-12-16 00:54] a1056632260 commented on #37401
【队名】：就tm你叫人工智能

【序号】：107

【论文】：Instances as Queries

【状态】：报名

【repo链接】：https://github.com/a1056632260/paddle-Instances_as_Queries

[2021-12-16 02:47] lidanqing-intel commented on #36962
QA test doc:
[code]

Expected results:

[code]

[2021-12-16 02:50] thunder95 commented on #38159
大佬用起来咋样， 我使用这个模型时感觉效果不太好

[2021-12-16 02:52] thunder95 commented on #32983
大佬解决没，遇到了同样的问题我

[2021-12-16 02:53] Reatris commented on #38159
正在尝试提高推理速度，我的速度只有130ms  trt加速也只有47ms

[2021-12-16 05:06] jiangjiajun commented on #38159
@Reatris 当前已解决TRT加速问题了吗

[2021-12-16 05:30] akari0216 opened #38189 "论文复现：nn.Embedding无法前向对齐"
paddlepaddle版本：2.2.1
pytorch版本：1.10.0+cu113

torch.nn.Embedding和paddle.nn.Embedding在前向过程中，有一定概率出现diff
代码如下：
---------------
import torch
import paddle
import numpy as np

#构造embedding
torch_enc = torch.nn.Embedding(10,7,padding_idx=1)
paddle_enc = paddle.nn.Embedding(10,7,padding_idx=1)

#构造权重并载入
emb_data = np.random.randn(10,7).astype(np.float32)
torch_emb = torch.tensor(emb_data)
paddle_emb = pa

[2021-12-16 06:08] geoexploring opened #38193 "在paddle中如何对模型进行显存占用分析？"
在Pytorch中可以利用[torch.cuda.memory_allocated()](https://pytorch.org/docs/stable/generated/torch.cuda.memory_allocated.html?highlight=torch%20cuda%20memory_allocated#torch.cuda.memory_allocated)、[torch.cuda.max_memory_allocated()](https://pytorch.org/docs/stable/generated/torch.cuda.max_memory_allocated.html?highlight=torch%20cuda%20memory_allocated#torch.cuda.max_memory_allocated)和[torch.cuda.memory_

[2021-12-16 06:37] FL77N opened #38196 "【论文复现 工程落地复现赛】模型动转静时出现错误"
能正常 train、eval 动转静时报错，paddle 版本 2.2.1 错误如下：

[code]

[2021-12-16 06:40] joey12300 commented on #38189
@akari0216  试试在cpu也跑跑看？

[2021-12-16 06:47] joey12300 commented on #38196
`batch_lvl`这个列表有可能为空，导致动转静出错~

[2021-12-16 06:52] akari0216 commented on #38189
在cpu环境下同样也出现了一定概率diff对不齐的情况
paddlepaddle版本：2.1.3
pytorch版本：1.10.0+cpu

[2021-12-16 06:54] joey12300 commented on #38189
@akari0216 嗯嗯我稍晚点也试试看。你可以先试试paddle 2.2.1有没有相同问题

[2021-12-16 07:47] FL77N commented on #38196
谢谢你~已经解决了
但又有另外一个错误了，在动态图下 nms 出来的 pred_boxes.shape 是 [N, 6] 但静态图就变为了 [N, 1] 导致报错

[code]

[2021-12-16 08:11] akari0216 commented on #38189
已在cpu环境下paddle 2.2.1 和pytorch 1.10.0+cpu进行测试，仍然出现该问题

[2021-12-16 08:28] yt605155624 opened #38205 "建议，visualdl 可以自动读取同一个文件夹底下的两个 log 文件"
有时候训练断掉了，重新开始就会重新生成一个 visualdl 的 log, 但是可视化的时候只能看到后半段的 log，建议 visualdl 可以自动读取同一个文件夹底下的两个 log 文件，或者接着上次的 log 文件写入

[2021-12-16 08:51] geoexploring commented on #38205
paddleseg也有同样的问题，恢复训练后是重新计算best_model和vdl的log

[2021-12-16 09:01] Reatris commented on #38159
更换了Jetpack4.6 TRT加速出现错误
使用的paddlepaddle-gpu 版本为官方的版本paddlepaddle_gpu-2.2.1-cp36-cp36m-linux_aarch64.whl

报错信息如下

[code]

[2021-12-16 09:09] VBPython opened #38208 "paddle 1.8和2.0的收敛速度差异性过大问题"
问题描述：
编写了一个多元线性回归问题，但是在以下环境下收敛速度非常缓慢：
- 版本、环境信息：
    1）PaddlePaddle版本：2.0及2.2.1
    2）CPU及相关环境：BML CodeLab默认CPU及标准预设环境
    3）GPU：未开启
    4）系统环境：同上2）
结果通过150000次的运算，loss依然在6000以上。
(最终收敛结果：epoch_id is 149000,avg_loss is [6082.4243])

 于是我采用了以下环境进行重新训练，收敛速度呈现了上亿倍的差异。
    1）PaddlePaddle版本：1.8
    2）CPU及相关环境：BML CodeLab默认CPU及标准预设环境
    3）GPU：未开启
    4）系统环境：同上2）
通过150000次的运算，loss已经收敛到1.9*10^-10
(最终收敛结果：

[2021-12-16 09:20] PhenixZhang opened #38212 "参考官方示例打印不出loss"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 2.2.1
    2）GPU：GPU: V100 CUDA 10.1
    4）系统环境：ubuntu 18.04 python 3.7.9

- 训练信息
    1）单机单卡
    2）显存信息
    3）Operator信息

- 问题描述：
参考官方示例：https://www.paddlepaddle.org.cn/tutorials/projectdetail/2182025
运行如下代码发现loss无法正确输出（显示为nan），不清楚具体原因，望解答：
def train(model):
    model.train()
    train_loader = load_data('train')
    opt = paddle.optimizer.SGD(learning_rate=0.

[2021-12-16 09:31] joey12300 commented on #38208
@VBPython 你好，是同一份代码，在同一个环境，使用不同paddle版本而出现的问题吗？

[2021-12-16 10:57] JiabinYang commented on #37650
这两个optimizer是希望怎样的方式更新同一个参数呢，是希望optimizerA更新一下，然后optimizerB更新一下 还是根据什么条件来区分只用optimizerA更新或者只用opitmizerB更新呢

[2021-12-16 10:58] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：251

【论文】：FastFCN: Rethinking Dilated Convolution in the Backbone for Semantic Segmentation

【状态】：提交

【repo链接】：https://github.com/ETTR123/PaddleSeg -b fastfcn

[2021-12-16 13:05] jiangjiajun commented on #38159
@Reatris 你好，这个问题已经解决了吗，看你close掉了这个issue

[2021-12-16 13:44] FL77N opened #38224 "【论文复现 工程落地复现赛】模型动转静 nms 出现错误"
在动态图下 nms 出来的 pred_boxes.shape 是 [N, 6] 但静态图就变为了 [N, 1] 导致报错

[code]

[2021-12-16 14:17] d2623587501 opened #38226 "Cannot find gradient of variable generated_tensor_15@GRAD"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.1
    2）CPU：aistudio平台
    3）GPU：aistudio平台
    4）系统环境：aistudio平台
- 报错
    Traceback (most recent call last):
  File "train.py", line 366, in <module>
    main()
  File "train.py", line 339, in main
    p=p)#encoder_optimizer=encoder_optimizer,
  File "train.py", line 90, in train
    loss.backward()
  File "<decorator-gen-128>", line 2, in backward
  File "/opt

[2021-12-16 14:20] d2623587501 commented on #38226
loss.backward(retain_graph=True)
尝试这么设置也不行

[2021-12-16 18:45] sfraczek commented on #33069
~~Hi,~~
~~I found some divergence between OneDNN and PaddlePaddle hard swish implementations. The paper describes hard_swish as having **threshold** equal 3. Documentations for both projects PaddlePaddle and OneDNN have the same value 3. However, in PaddlePaddle code, the default value for **threshold** is 6.~~
## OneDNN
![image](https://user-images.githubusercontent.com/17185347/146429002-a3ee5e2

[2021-12-17 02:01] ppy-hellowd commented on #37650
我希望可以自定义更新方式，在需要的时候更新，不需要的时候冻结

[2021-12-17 02:22] Reatris commented on #38159
并没有，我在使用trt加载模型的时候，第一个模型能加载，保存模型序列化也正常，但是第二个模型加载的时候就不能序列化保存，每次都需要转化

[2021-12-17 02:29] johnwas opened #38228 "windows环境下编译debug版本的预测库（项目：paddle_inference_shared），最后由于dll太大无法link成功 LINK : fatal error LNK1248: image size (A8593000) exceeds maximum allowable size (80000000)"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2021-12-17 02:33] johnwas commented on #38228
windows环境下编译debug版本的预测库（项目：paddle_inference_shared），最后由于dll太大无法link成功 LINK : fatal error LNK1248: image size (A8593000) exceeds maximum allowable size (80000000) ， 编译环境是：
1 编译器 visual sutdio 2022
2 paddle版本：2.2.1

[2021-12-17 02:46] Reatris commented on #38159
错误信息如下

[code]

[2021-12-17 03:36] JiabinYang commented on #37650
那你可以根据实际的判断情况选择性的把embedding的参数放进optimizer需要的参数列表里面

[2021-12-17 03:38] VBPython commented on #38208
是的

[2021-12-17 03:41] ppy-hellowd commented on #37650
尝试过：
actor_op = OP.AdagradOptimizer(learning_rate=params['actor_learning_rate'], parameter_list=actor.parameters())
设置 parameter_list=embedding.parameters()+actor.parameters()，这样写结果报错了

[2021-12-17 03:44] JiabinYang commented on #37650
具体报什么错误可以贴一下我们看看

[2021-12-17 05:24] shaitaiyangmie opened #38234 "paddle.jit.save相关问题求助。"
您好，请问动态图象保存成inference model，在使用jit.save时报错，想请您帮忙看下这是什么原因呢？感谢！

下图是我调用jit.save的语句。
<img width="724" alt="image" src="https://user-images.githubusercontent.com/73834112/146493374-778ed3b0-a275-4252-afd7-b78507ef95ed.png">

<img width="718" alt="image" src="https://user-images.githubusercontent.com/73834112/146493155-f229eeca-0ecc-4fde-b6b1-9edd6347e486.png">

下面是报错的图。
<img width="1059" alt="image" s

[2021-12-17 05:36] jiangjiajun commented on #38159
上面这里没看到错误信息，是最后出错了吗，出错的日志是什么呢？

[2021-12-17 05:55] rainyfly commented on #38205
您好，VisualDL是支持续写的，在LogWriter初始化的时候，file_name参数写要续写的文件名，会继续续写文件。
<img width="855" alt="infoflow 2021-12-17 14-03-01" src="https://user-images.githubusercontent.com/22424850/146497096-edc4d3f5-f9ec-400e-ade8-34f51242656f.png">

[2021-12-17 05:59] joey12300 commented on #38196
@FL77N 您在做动转静的时候，输入的input_spec是否固定了shape呢？

[2021-12-17 06:03] joey12300 commented on #38193
你好，paddle暂时没有这种动态的显存占用分析工具。可以使用paddle.summary获取模型显存占用的信息。 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/summary_cn.html#summary

[2021-12-17 06:10] joey12300 commented on #38226
你好，可以提供最小可复现代码吗？

[2021-12-17 06:11] joey12300 commented on #38224
@FL77N  您在做动转静的时候，输入的input_spec是否固定了shape呢？

[2021-12-17 06:15] Reatris commented on #38159
并不是报错，而是运行异常
[code]
这里本来是应该读取保存的 cache的，然而它还是在做转换

[2021-12-17 06:17] jiangjiajun commented on #38159
你可以将`use_static`设为True，这样会在下次加载时读取cache

[2021-12-17 06:18] Reatris commented on #38159
设置了。我加载了两个模型，一个有效，一个无效，总是后面 那个模型无效

[2021-12-17 06:27] lidanqing-vv commented on #36962
6 transformers
**Bert FP32/INT8 tested on Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz**
| Performance (fps) on 6271 | Native FP32 | oneDNN FP32 | oneDNN INT8 | oneDNN INT8/oneDNN FP32 | oneDNN INT8/Native FP32 |
|---------------------------|-------------|-------------|-------------|-------------------------|-------------------------|
| thread 1                  | 313.53    | 280.13      | 128.82

[2021-12-17 06:28] joey12300 commented on #38212
@PhenixZhang 你好，请问你是在aistudio上跑的吗？

[2021-12-17 06:35] ghostxsl commented on #38234
你这个init里面的model是啥？感觉你这样写的话，动转静可能trace不到

[2021-12-17 06:40] firestonelib commented on #38059
@huilin16 你好，请问 HRFormer 里具体哪里用到 torch.overrides.has_torch_function (您描述的“自定义类作为tensor保存”)?  我们想进一步定位，看是否有等效的替代方案。

[2021-12-17 06:52] d2623587501 commented on #38226
aistudio项目链接
项目“公式ocr”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/3148713/9047f107545f4becba86c8fa50456e70

[2021-12-17 07:06] #36468 closed, assigned to yingyibiao

[2021-12-17 07:10] UncleLLD commented on #28360
请参考这块的安装版本要求： [https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html)

![image](https://user-images.githubusercontent.com/16642335/146504172-29b8cc92-44be-4182-aadd-e60397e65454.png)

[2021-12-17 07:10] joey12300 commented on #38208
![image](https://user-images.githubusercontent.com/10826371/146504007-856ff8fa-ea0c-4e2b-90d7-d101bac31e1e.png)
你好，我分别在1.8和2.2.1版本paddle复现您的代码。左边是1.8的结果，右边是2.2的结果。我发现收敛速度应该也一样，在2.2.1版本下loss甚至变为0了。再看看模型的参数，最后都一模一样

[2021-12-17 07:29] joey12300 commented on #38226
你好，我看了你的代码，你应该是希望encoder和decoder以不同的学习率更新参数，而使用两个optimizer分别更新梯度。你试试先只用一个optimizer更新参数，看看会不会报错。至于针对不同参数使用不同的学习率，可以通过在构造网络时传入weight_attr指定学习率。指定的lr会乘以外面定义的lr，得到该参数实际lr值，如：

[code]

[2021-12-17 07:44] huilin16 commented on #38059
您好，在HRFormer-main\cls\models\modules\multihead_attention.py文件MultiheadAttentionRPE类，multi_head_attention_forward方法下，

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年12月17日(星期五) 下午2:40
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] paddle是否有torch.overrides相关功能实现 (Issue #38059)

@huilin16 你好，请问 HRFormer 里具体哪里用到 torch.o

[2021-12-17 07:44] joey12300 commented on #38189
![image](https://user-images.githubusercontent.com/10826371/146507922-3f1bbba7-eceb-4916-9ab9-b4d8eb6f00db.png)

@akari0216 你好。这里主要是Padding的原因。torch在构造embedding的时候指定padding_idx,对应的参数会设置为全0；一旦给embedding赋值，就会覆盖掉padding_idx对应的0参数；而Paddle一旦指定了padding_idx，无论后续是否赋值，padding对应参数均为0.

[2021-12-17 08:16] firestonelib commented on #38059
@huilin16 你好，看了代码，这个本质上是 Multihead Attention的实现，可以参见 paddle 官方实现：https://github.com/PaddlePaddle/Paddle/blob/6d1b8c5261ca83bd59edf78d52a3362d32082dae/python/paddle/nn/layer/transformer.py#L109

[2021-12-17 08:18] huilin16 commented on #38059
好的，多谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年12月17日(星期五) 下午4:17
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] paddle是否有torch.overrides相关功能实现 (Issue #38059)

@huilin16 你好，看了代码，这个本质上是 Multihead Attention的实现，可以参见 paddle 官方实现：https://github.com/PaddlePaddle/Paddle/blob/6d1b8c5261ca83bd59edf78d52a3362d32082dae/p

[2021-12-17 08:23] d2623587501 commented on #38226
encoder和decoder使用同一个optimizer也没能解决，参考这个issue
[使用d_loss_cov.backward()时报错](https://github.com/PaddlePaddle/Paddle/issues/37265)
我将版本2.2.1->2.1.2，代码可以跑通

[2021-12-17 09:09] betterpig commented on #35333
- 您好，该问题出现的原因为：在实例化类模板
`template struct MergeAdd<platform::CPUDeviceContext, paddle::platform::bfloat16>;`
时，std::is_floating_point<T>::value不支持bfloat16类型，因而找不到匹配的重载函数。
目前paddle只支持VS2017的编译，VS2019的支持仍在开发中。

- 临时做法为：将Paddle\paddle\fluid\operators\math\selected_rows_functor.cc中第300行的
`typename std::enable_if<std::is_floating_point<T>::value>::type`
替换为
`typename std::enable_if<!std::is_integral<T>::

[2021-12-17 09:16] lidanqing-vv commented on #36962
@yghstill @sfraczek Hi, performance and accuracy are benchmarked, you can verify @yghstill.

Because we are approaching the end of Q4. If there are more requirements, we will do next quarter. Some possible directions:

1. fc+elementwise_add
2. will check more

[2021-12-17 09:34] zuocebianpingmao opened #38246 "nvidia jetson编译安装paddle错误"
**编译PaddlePaddle版本：**2.2.1
**CPU信息:**
Architecture:        aarch64
Byte Order:          Little Endian
CPU(s):              6
On-line CPU(s) list: 0-5
Thread(s) per core:  1
Core(s) per socket:  2
Socket(s):           3
Vendor ID:           Nvidia
Model:               0
Model name:          ARMv8 Processor rev 0 (v8l)
Stepping:            0x0
CPU max MHz:         1907.2000
CPU min MHz:         115.

[2021-12-17 09:46] gongweibao commented on #37393
不好意思，回复晚了。
我说的意思是reader部分的队列是不是太长了，导致内存占用太多？

[2021-12-17 09:50] akari0216 commented on #38189
感谢解答~那请问如果需要设定padding_idx参数的时候，有什么方案可以使得两者不会有概率出现diff的问题呢？

[2021-12-17 10:05] #36007 closed, assigned to JZ-LIANG

[2021-12-17 10:05] #36005 closed, assigned to JZ-LIANG

[2021-12-17 10:05] #36004 closed, assigned to JZ-LIANG

[2021-12-17 10:06] #36001 closed, assigned to JZ-LIANG

[2021-12-17 10:06] #36000 closed, assigned to JZ-LIANG

[2021-12-17 10:07] #35999 closed, assigned to JZ-LIANG

[2021-12-17 10:08] #35998 closed, assigned to JZ-LIANG

[2021-12-17 10:08] #35997 closed, assigned to JZ-LIANG

[2021-12-17 10:08] #35996 closed, assigned to JZ-LIANG

[2021-12-17 10:08] #35995 closed, assigned to JZ-LIANG

[2021-12-17 10:09] #35994 closed, assigned to JZ-LIANG

[2021-12-17 10:09] #35971 closed, assigned to JZ-LIANG

[2021-12-17 10:09] #35970 closed, assigned to JZ-LIANG

[2021-12-17 10:10] #35969 closed, assigned to JZ-LIANG

[2021-12-17 10:10] #35968 closed, assigned to JZ-LIANG

[2021-12-17 10:10] #35967 closed, assigned to JZ-LIANG

[2021-12-17 10:10] #35966 closed, assigned to JZ-LIANG

[2021-12-17 10:10] #35965 closed, assigned to JZ-LIANG

[2021-12-17 10:10] #35964 closed, assigned to JZ-LIANG

[2021-12-17 10:11] #35963 closed, assigned to JZ-LIANG

[2021-12-17 10:11] #35962 closed, assigned to JZ-LIANG

[2021-12-17 10:11] #35961 closed, assigned to JZ-LIANG

[2021-12-17 10:11] #35960 closed, assigned to JZ-LIANG

[2021-12-17 10:11] #35959 closed, assigned to JZ-LIANG

[2021-12-17 10:11] #35958 closed, assigned to JZ-LIANG

[2021-12-17 10:12] #35957 closed, assigned to JZ-LIANG

[2021-12-17 10:12] #35956 closed, assigned to JZ-LIANG

[2021-12-17 11:50] KiritoSSR opened #38251 "【论文复现】张量超过两次复制会报张量没有梯度的问题"
PaddlePaddle版本：2.2.1
CUDA：10.2
我现在遇到赋值次数超过两次就会在反向传播的时候，就会报错说向量找不到梯度，代码如下：
            roi_aligned_feats = self.obj_downsample(feats_to_downsample) #[9,512]
            lengths = box_mask.sum(1).tolist() #[4,2,3]
            output = paddle.zeros([len(lengths), max(lengths), *roi_aligned_feats.shape[1:]], dtype=roi_aligned_feats.dtype) #[3,4,512]
            start = 0
            for i, diff in enu

[2021-12-17 12:02] ghostxsl commented on #38251
你这么写是inplace的，计算图trace不到节点的，你可以用split实现你的想法，获取outputs

[2021-12-17 12:06] geoexploring commented on #38193
@joey12300 , 谢谢！

请问利用paddle实现该功能（动态的显存占用分析），是不是要用到cuda编程呢？

[2021-12-17 12:39] ETTR123 opened #38253 "【论文复现】动态图模式下训练结束后计算flops错误"
   1）PaddlePaddle版本：2.2.1
      [PR地址：https://github.com/PaddlePaddle/PaddleSeg/pull/1623](https://github.com/PaddlePaddle/PaddleSeg/pull/1623)

训练命令：

`python PaddleSeg/train.py --config PaddleSeg/configs/enet/enet_cityscapes_1024x512_adam_0.002_80k.yml`

     W1218 13:14:42.893093   301 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime

[2021-12-17 12:46] KiritoSSR commented on #38251
那为什么len(lengths)<=2的时候，程序可以正常进行反向传播？

[2021-12-17 12:47] KiritoSSR commented on #38251
那为什么当len(lengths)<=2的时候，可以正常进行反向传播？

[2021-12-17 12:48] abcxq opened #38254 "下载VGG19预训练模型的出现 ERROR 404: Not Found"
我在运行aistudio上的项目“GAN的应用 -- SRGAN图像超分辨率重构”的时候遇到一个问题（网址：https://aistudio.baidu.com/aistudio/projectdetail/3202351?contributionType=1）。项目中原来获取VGG19预训练模型的命令“wget  https://paddle-gan-models.bj.bcebos.com/vgg19_spade.tar.gz”运行后出现如下错误

--2021-12-17 19:29:56-- https://paddle-gan-models.bj.bcebos.com/vgg19_spade.tar.gz
Resolving paddle-gan-models.bj.bcebos.com (paddle-gan-models.bj.bcebos.com)... 182.61.20

[2021-12-17 13:10] ghostxsl commented on #38251
我是这么理解的，你new一个tensor，将一个图内的节点赋值给它，这个没啥问题，但是你通过[]操作去赋值，你下个节点的梯度信息会覆盖掉上个的信息，导致在反传的时候报错找不到梯度信息

[2021-12-17 13:11] KiritoSSR commented on #38251
好的，谢谢！

[2021-12-17 13:12] ghostxsl commented on #38254
建议您去paddleGAN 咨询一下这个问题：https://github.com/PaddlePaddle/PaddleGAN/issues

[2021-12-17 13:26] joey12300 commented on #38193
嗯，可能要通过cuda的一些接口获取这些信息，都要改动底层框架的

[2021-12-17 16:08] CuberrChen commented on #37401
【队名】：波波啥也不会

【序号】：57

【论文】：Simple Baselines for Human Pose Estimation and Tracking

【状态】：报名&提交

【repo链接】：https://github.com/CuberrChen/HumanPoseBL-Paddle

[2021-12-17 19:08] cameronrutherford commented on #37016
Hello. We were able to replicate the same issue installing with `-j 16` as the argument to make, building tagged version `1.8.5`. It seems as though building in parallel causes some targets to be built before boost is able to be installed/configured.

After the targets fail to be built, boost is successfully configured and installed. Running `make` again after boost is installed results in the fai

[2021-12-18 02:45] FL77N commented on #38224
是变长的，已经通过修改代码的编写方式解决了

[2021-12-18 07:05] VBPython commented on #38208
我没有开GPU加速，1.8和2.2.1都是在BML CodeLAB标准环境CPU下跑的。
又跑了一遍，2.2.1下，avg_loss依然有4803.226，没有完全收敛。
model.parameters()在[2.90440536,5.08442593][-121.75109863]
项目已公开，您可以访问https://aistudio.baidu.com/aistudio/projectdetail/3228519?contributionType=1&shared=1

[2021-12-18 08:11] ff12343 commented on #38149
cuda环境没问题
![image](https://user-images.githubusercontent.com/42758082/146634343-2c6154eb-3144-4552-939a-78bc5e060cbd.png)
![image](https://user-images.githubusercontent.com/42758082/146634396-cb382870-6c00-41db-a381-9fe780952c80.png)

[2021-12-18 08:40] geoexploring commented on #38193
@joey12300 ，谢谢，明白了！

[2021-12-18 21:14] itInterpret commented on #37401
【队名】：itInterpret

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/itInterpret/YOLOX_PP

[2021-12-19 06:10] GuoQuanhao commented on #37401
【队名】：HaoHao

【序号】：67

【论文】：Finding Tiny Faces

【状态】：报名&提交

【repo链接】：https://github.com/GuoQuanhao/Tiny-Face-Paddle

[2021-12-19 07:29] Lieberk commented on #37401
【队名】：小丑不丑

【序号】：49

【论文】：Attention on attention for image captioning

【状态】：报名&提交

【repo链接】：https://github.com/Lieberk/Paddle-AoA-Captioning

[2021-12-19 09:32] CunjunYin opened #38265 "安装错误: paddlepaddle pip 重新安装后会出现 --gpu unrecognised arguments"
****************************************
Paddle version: 2.2.1
Paddle With CUDA: False

OS: Ubuntu 20.04
Python version: 3.8.10

CUDA version: 11.2.152
Build cuda_11.2.r11.2/compiler.29618528_0
cuDNN version: None.None.None
Nvidia driver version: 495.44
****************************************

- 安装方式信息：
1) pip3 install paddlepaddle | pip3 install paddlepaddle-gpu
2) pip3 uninstall paddlepaddle -y

[2021-12-19 11:29] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：250

【论文】：BiSeNet: Bilateral Segmentation Network for Real-time Semantic Segmentation

【状态】：提交

【repo链接】：https://github.com/ETTR123/PaddleSeg/tree/Bisenetv1

[2021-12-19 11:33] PhenixZhang commented on #38212
不是的 是在本机上跑的～

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jack Zhou ***@***.***>
Sent: Friday, December 17, 2021 2:28:12 PM
To: PaddlePaddle/Paddle ***@***.***>
Cc: phenix ***@***.***>; Mention ***@***.***>
Subject: Re: [PaddlePaddle/Paddle] 参考官方示例打印不出loss (Issue #38212)

@PhenixZhang<https://github.com/PhenixZhang> 你好，请问你是在aistudio上跑的吗？

―
Reply to this

[2021-12-19 12:11] ToscanaGoGithub opened #38266 "paddle.utils.run_check() 提示 段错误 (核心已转储) 救救孩子"
系统版本：
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.3 LTS
Release:        20.04
Codename:       focal

linux 什么版本：
linux-image-5.11.0-27-generic

cuda版本：
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Mon_Oct_12_20:09:46_PDT_2020
Cuda compilation tools, release 11.1, V11.1.105
Build cuda_11.1.TC455_06.29190527_0

显卡驱动版本：
nvidia-dkms-470

[2021-12-19 12:12] ToscanaGoGithub commented on #38266
python版本：
Python 3.8.8 (default, Apr 13 2021, 19:58:26)
[GCC 7.3.0] :: Anaconda, Inc. on linux

paddle 版本：
paddlepaddle-gpu==2.2.1.post111

[2021-12-19 12:50] geoyee opened #38267 "ValueError: (InvalidArgument) shape should have the save dim with perm, but received shape size is:4, penm size is:3"
- 标题：ValueError: (InvalidArgument) shape should have the save dim with perm, but received shape size is:4, penm size is:3

- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle-GPU 2.2.0
    2）CPU：/
    3）GPU：RTX 2060、CUDA版本号：10.2，CUDNN版本号：7.6
    4）系统环境：Win10，Python版本：3.8.10

- 训练信息
    1）单机单卡
    2）显存信息：/
    3）Operator信息：/

- 问题描述：
从pytorch复现了一个网络（非论文，另外的人搭的），前向顺利没有问题，但反向传播的时候报了这个错误，请问如何定位这个问题具体在哪儿，以及其的

[2021-12-19 13:24] geoyee opened #38268 "Ubuntu下QGIS的Python环境使用PaddlePaddle报错"
- 标题：Ubuntu下QGIS的Python环境使用paddlepaddle报错

- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 2.2.1
    2）CPU：AMD A8-7410 apu，使用MKLDNN
    3）GPU：/
    4）系统环境：Ubuntu 20.04.3 LTS，Python版本：QGIS 2.22 自带的Pyhton 3.8.10

- 问题描述：
QGIS是最大的开源GIS平台，我们基于PaddlePaddle的深度学习能力制作了一个QGIS插件，使用分割模型提取遥感影像中的建筑区域【github链接：[https://github.com/deepbands/buildseg](https://github.com/deepbands/buildseg)】。该插件能够在Windows 10/11上正常使用，

[2021-12-19 13:27] linhandev commented on #37861
killall -9 python
一般好用

[2021-12-19 15:09] #38149 closed, assigned to ZHUI

[2021-12-19 15:21] ff12343 opened #38269 "paddle安装错误 报numpy版本错误"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==2.2.1
    2）python：3.7
    3）系统环境：win10 conda环境

- 安装方式信息：
1）conda环境中 conda 安装

- 报错信息
ImportError:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy c-extensions failed.
- Try uninstalling and reinstalling numpy.
- If you have already done that, then:
  1. Check that you expected to use Python3.7 from "D:\Wor

[2021-12-19 15:23] ff12343 commented on #38269
python 版本不能变，因为py3.8和3.9会报cuda错误，只有py3.7的cuda才可以工作；请问要怎么该设置numpy版本合适呢

[2021-12-19 15:24] ff12343 commented on #38269
提供一下完整报错信息：
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
D:\WorkSpace\Anaconda\envs\paddle_env_gpu\lib\site-packages\numpy\core\__init__.py in <module>
     23 try:
---> 24     from . import multiarray
     25 except ImportError as exc:

D:\WorkSpace\Anaconda\envs\paddle_env_gpu\lib\site-pack

[2021-12-20 02:10] lidanqing-vv commented on #38038
@jakpiase Hi, could you please check this issue ? Thanks !

[2021-12-20 02:34] ZHUI commented on #38149
是已经解决了吗？看issue已经close了。

[2021-12-20 02:44] shaitaiyangmie commented on #38234
model是paddlenlp调的ernie1.0，谢谢您，问题已经解决的，我把paddlepaddle更新了一下就ok了。看样子init的model和方法都不用变动。谢谢您。

[2021-12-20 02:44] littletomatodonkey commented on #34808
你好，文档已经修复，感谢反馈~

https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/02_paddle2.0_develop/06_device_cn.html

[2021-12-20 02:54] ghostxsl commented on #38234
好的～

[2021-12-20 03:38] RainFrost1 commented on #38267
可以先试一下，将网络不断二分，确定出现问题的网络层。找到相应的网络层之后，检查是否是相应的网络层出了问题

[2021-12-20 07:02] #36461 closed, assigned to baoachun, jakpiase

[2021-12-20 07:03] lidanqing-vv commented on #33069
@lidanqing-intel  @baoachun

[2021-12-20 07:08] ghostxsl commented on #38253
您是已经将问题解决了吗？建议到PaddleSeg的repo下提出修改意见

[2021-12-20 07:11] #38269 closed, assigned to RainFrost1

[2021-12-20 07:54] ETTR123 commented on #38253
没有解决，并不确定这样修改会造成什么其他的影响。

[2021-12-20 08:01] sjlmg commented on #26389
非常感谢您的提醒，我已经成功解决了这个问题

[2021-12-20 08:02] an1018 commented on #38212
@PhenixZhang 你好，如果使用CNN训练需要添加reshape操作，官方示例中有说明，添加后再训练看是否还有问题
<img width="700" alt="image" src="https://user-images.githubusercontent.com/19808900/146732989-109cc552-1418-4463-8bac-a1d07f5c28b2.png">

[2021-12-20 08:10] joey12300 commented on #38189
@akari0216 要是你在构造参数时，将padding_idx对应的embedding设置为全0，就不会出现diff了。

`emb_data[1,:] = 0.0`

[2021-12-20 08:27] RainFrost1 commented on #38269
请问这个具体是怎么解决的呢

[2021-12-20 08:29] RainFrost1 commented on #38268
看着报错是Protocol Buffer  版本不匹配。Paddle 用的是3.1.0，而安装的3.6.1。建议重新安装Protocol Buffer试一下

[2021-12-20 08:31] XieYunshen commented on #38266
cudnn版本是多少呢？

[2021-12-20 08:34] RainFrost1 commented on #38265
请问具体用了哪些版本的库及相应的训练代码呢？能否详细描述一下

[2021-12-20 08:43] renmada commented on #37401
【队名】：arbiter

【序号】：81

【论文】：AutoFIS: Automatic Feature Interaction Selection in Factorization Models for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/renmada/autofis-paddle

[2021-12-20 08:45] ghostxsl commented on #38253
您好，计算flops默认model的输出是tensor，建议您修改一下您模型的输出类型

[2021-12-20 08:49] RainFrost1 commented on #38266
在运行之前，先设置环境变量`export FLAGS_call_stack_level=2`，然后运行，看一下具体的报错代码

[2021-12-20 08:50] winter-wang commented on #38228
paddle目前不支持windows下debug版本库编译。

[2021-12-20 08:50] shiyutang commented on #38253
@ghostxsl 您好，这个问题是因为maxpool2D 在指定return_mask=True时返回output和indice_mask，而不是单一tensor导致的这个问题。

[2021-12-20 08:52] rfslzy opened #38281 "cuda显存较小，如何指定使用cpu加载模型，进行训练？"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu   2.2.1
    2）CPU：AMD R7 5800HS
    3）GPU：NVIDIA MX450, CUDA 10.2, CUDnn 7.6
    4）系统环境：win10，python3.7
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取

[2021-12-20 08:55] ghostxsl commented on #38253
您好，现在应该是只支持这些layer：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/hapi/dynamic_flops.py#L187-L207
只有这些layer才会统计，请问您有没有自定义custom_op呢？

[2021-12-20 08:58] ghostxsl commented on #38253
您可以确认一下看看是否 model.children 的所有输出都是tensor呢？

[2021-12-20 09:00] ToscanaGoGithub commented on #38266
zhangwei@2080s:~$ export FLAGS_call_stack_level=2
zhangwei@2080s:~$ python
Python 3.8.8 (default, Apr 13 2021, 19:58:26)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

Running verify PaddlePaddle program ...
W1220 16:59:03.243978 390281 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.

[2021-12-20 09:01] ToscanaGoGithub commented on #38266
8005

通过pytorch查询是8005，但是通过以下语句查询时，无打印结果
cat /usr/local/cuda/include/cudnn.h | grep CUDNN_MAJOR -A 2

[2021-12-20 09:10] shiyutang commented on #38253
好的

[2021-12-20 09:23] jiweibo commented on #38228
debug版本在windows下可能会导致库体积超过限制，请使用release版本。

[2021-12-20 09:29] wangye707 commented on #38246
@zuocebianpingmao  你好，cmake编译选项需要改下：

[2021-12-20 09:30] wangye707 commented on #38246
@zuocebianpingmao   你好，cmake选项没有开 nv_jetson参数，可以参考这个：cmake .. -DCMAKE_CXX_FLAGS='-Wno-error -w'  -DWITH_CONTRIB=OFF   -DWITH_MKL=OFF    -DWITH_MKLDNN=OFF   -DWITH_TESTING=ON   -DCMAKE_BUILD_TYPE=Release   -DON_INFER=ON   -DWITH_PYTHON=ON -DPY_VERSION=3.6  -DWITH_XBYAK=OFF  -DWITH_NV_JETSON=ON -DWITH_TENSORRT=ON -DTENSORRT_ROOT=/usr -DCMAKE_CUDA_COMPILER=/usr/local/cuda-10.2/bin/nvcc  -DWITH_NCCL=O

[2021-12-20 09:30] renmada commented on #37401
【队名】：arbiter

【序号】：81

【论文】：AutoFIS: Automatic Feature Interaction Selection in Factorization Models for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/renmada/PaddleRec/tree/autofis/models/rank/autofis

[2021-12-20 09:46] wangjiancheng-123 opened #38286 "bert"
为什么bert类论文的源码没有main函数，其他类型的就有，是需要自己写吗

[2021-12-20 09:54] pmajchrzak commented on #37628
Seems that now working. Something was repaired, so I close it.

[2021-12-20 09:54] #37628 closed, assigned to Aganlengzi, Shixiaowei02

[2021-12-20 09:55] wangjiancheng-123 opened #38287 "api问题"
请问与torch.nn.Parameter相对应的paddl API有吗

[2021-12-20 10:40] gongel commented on #38281
你好，通过`set_device`来设置运行的设备
[code]

[2021-12-20 10:41] gongel commented on #38286
你好，请问你指的是哪个代码呢？

[2021-12-20 10:43] gongel commented on #38287
你好，`torch.nn.parameter.Parameter` 对应：`paddle.create_parameter`

[2021-12-20 10:45] wangjiancheng-123 commented on #38287
论文95号，megatron_bert

[2021-12-20 10:47] rfslzy commented on #38281
问题已解决，谢谢指点

[2021-12-20 10:48] #38281 closed, assigned to gongel

[2021-12-20 10:50] gongel commented on #38286
可以这么使用哈：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/bert/modeling.py#L483
写法可以参考bert的写法

[2021-12-20 10:52] wangjiancheng-123 commented on #38286
好的，谢谢

[2021-12-20 11:06] ETTR123 commented on #38253
没有

[2021-12-20 11:09] ETTR123 commented on #38253
您好，检查过了，都是tensor

[2021-12-20 11:11] ETTR123 commented on #38253
paddle.summary之后的结果

--------------------------------------------------------------------------------------------------------------------------
      Layer (type)                     Input Shape                            Output Shape                   Param #
==========================================================================================================================
       Conv2D-87

[2021-12-20 11:31] ETTR123 commented on #38253
简单的复现了一下出问题的地方

![test1](https://user-images.githubusercontent.com/56824848/146760826-8b5dec54-f37b-4b26-b59b-44a5e9612a8f.PNG)
![test2](https://user-images.githubusercontent.com/56824848/146760838-1a3c991e-9e76-4b9b-909e-261494f79662.PNG)

[2021-12-20 11:34] Sherry666666 commented on #37401
【队名】：梨花春雪风舞的团队

【序号】：84

【论文】： Convolutional Sequence to Sequence Learning

【状态】：报名

【repo链接】：https://github.com/Sherry666666/CStSL

[2021-12-20 11:56] haozech commented on #37989
您好，这是由于网络结构中有交叉导致的。可以通过升级paddle版本到最新，或者在1.7版本下修改网络结构来解决。

[2021-12-20 11:56] 20151001860 commented on #37401
【队名】：勇敢土豆不怕困难！

【序号】：40

【论文】： Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data

【状态】：提交

【repo链接】：https://github.com/20151001860/Real_ESRGAN_paddle

[2021-12-20 12:28] CunjunYin commented on #38265
训练代码
https://github.com/PaddlePaddle/FleetX
examples/resnet/train_fleet_static.py

$ pip3 list
Package                 Version
paddlepaddle               2.2.1
paddlepaddle-gpu        2.2.1

[2021-12-20 12:48] ghostxsl commented on #38253
您好，刚经过内部沟通，该问题为已知问题，目前正在修复中，后续进展我会在这里同步给您～

[2021-12-20 13:42] renmada commented on #37401
【队名】：arbiter

【序号】：81

【论文】：AutoFIS: Automatic Feature Interaction Selection in Factorization Models for Click-Through Rate Prediction

【状态】：提交

【repo链接】：https://github.com/renmada/PaddleRec/tree/autofis/models/rank/autofis

[2021-12-20 15:24] geoyee commented on #38268
我尝试使用`pip3 install protocbuf==3.1.0`，然后再在QGIS中导入paddle。第一次使用`import paddle`界面会卡住，拖动界面后可以再次导入paddle，这时候导入报错，使用`paddle.__version__`可以查看版本，但`paddle.utils.run_check()`无法使用，图片如下：
![8f35b445754c03a33c3023de913a820](https://user-images.githubusercontent.com/71769312/146791018-2b198667-3e6d-46e8-a6fc-d25c8031b520.jpg)

[2021-12-20 19:13] jakpiase commented on #37990
Hi @baoachun, I have fixed this bug in a PR, but I have an additional question. Is this model pretrained? Even if I run it with `Global.enable_mkldnn=False` I am not getting any meaningful output from it. Is there any simple way to check the correctness of the model's output?

[2021-12-21 00:50] Gmgge opened #38300 "mips 编译卡Built target analysis_predictor，无报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0
    2）CPU：Loongson-3A4000
    3）GPU：无
    4）系统环境：Kylin Linux Advanced Server release V10 (Tercel)  localdomain 4.19.90-21.3.ky10.mips64el   内存8G
    5）python：3.6.8
- 安装方式信息：
    1）本地编译：根据官网文档  cmake .. -DPY_VERSION=3 -DPYTHON_EXECUTABLE=`which python3` -DWITH_MIPS=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_XBYAK=OFF -DWITH_MKL=OFF

[2021-12-21 00:52] ETTR123 commented on #38253
好的

[2021-12-21 01:33] minghaoBD commented on #38300
卡死可能是网络链接问题，导致一些依赖包的下载卡住了。

可以参照这里寻找对应的whl包安装（nightly built develop是每天编译的develop分支）https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2021-12-21 01:36] geoyee commented on #38267
收到，感谢，我先试试定位问题

[2021-12-21 01:47] Gmgge commented on #38300
1.好像找不到mips的whl包；
2.我更改了第三方源的git地址，应该没有问题的；
3.我使用的cmake 3.12 gcc 8.3.1 是否是这个原因 ？提示gcc的版本可能过高了，cmake的话我看到最低3.10应该没有问题？但是我在别的问题下发现有人推荐cmake3.16.

[2021-12-21 02:24] RainFrost1 commented on #38266
换其他版本的paddle试试呢？

[2021-12-21 02:25] ToscanaGoGithub commented on #38266
几个版本都尝试过，都是报同样的错误

[2021-12-21 02:31] RainFrost1 commented on #38265
用的paddle的cpu版本，还是gpu版本呢？看你的环境，`Paddle With CUDA: False`，应该是用的cpu版本，那么用gpus参数估计会报错

[2021-12-21 02:33] RainFrost1 commented on #38268
重新安装paddle，或者安装其他版本paddle试一下

[2021-12-21 02:38] RainFrost1 commented on #38266
使用cpu版本也会报错吗？

[2021-12-21 02:41] ToscanaGoGithub commented on #38266
Running verify PaddlePaddle program ...
PaddlePaddle works well on 1 CPU.
W1221 10:40:38.772401 430183 fuse_all_reduce_op_pass.cc:76] Find all_reduce operators: 2. To make the speed faster, some all_reduce ops are fused during training, after fusion, the number of all_reduce ops is 2.
PaddlePaddle works well on 2 CPUs.
PaddlePaddle is installed successfully! Let's start deep learning with PaddlePa

[2021-12-21 02:50] minghaoBD commented on #38300
看了下cmake3.16那个bug，应该跟卡死无关的。建议在卡住后kill，然后执行make -j1看看卡到哪一步了。再具体分析下

[2021-12-21 02:52] RainFrost1 commented on #38266
感觉应该是cuda、cudnn等环境配置问题，这样就不太好定位了。可以使用一下paddle[官网](https://www.paddlepaddle.org.cn/)的docker环境

[2021-12-21 02:53] ToscanaGoGithub commented on #38266
好的 感谢回复

[2021-12-21 03:02] Gmgge commented on #38300
找到了，卡在pybind，它check了2.4.3版本，需要去找clang，我没有把他同步到gitee里面，同步过来就好了。

[2021-12-21 03:16] #38300 closed, assigned to minghaoBD

[2021-12-21 03:22] hohdiy opened #38305 "paddle2.0.2gpu版本出core"
![image](https://user-images.githubusercontent.com/20314800/146865464-fbab459d-2057-4e25-8eed-3b3d16cec471.png)
import paddle.nn as nn
a = nn.Linear(2,1)
a.

在jupyternotebook中，使用 点 命令触发自动列举对应可用函数时触发，必现。

paddle 2.1.2 和 paddle 2.2.1中均无复现。

[2021-12-21 03:22] CunjunYin commented on #38265
那怎改变Paddle With CUDA: False => Paddle With CUDA: True， 只要卸载paddlepaddle, paddlepaddle-gpu后, 再重装就会出现这个问题.

[2021-12-21 03:34] geoyee commented on #38268
1. 先尝试卸载paddle和protobuf，然后先安装protobuf 3.1.0，再安装paddle 2.2.1，无效，如下图
![V$7O@I(N1YWDLK40_R9{813](https://user-images.githubusercontent.com/71769312/146866021-fe765295-e5c4-4707-bca2-84ca9ede741f.jpg)

2. 先尝试卸载paddle和protobuf，然后先安装protobuf 3.1.0，再安装paddle 2.1.0，无效，如下图
![5G39VLA{VLLK0H8@2{FMK~P](https://user-images.githubusercontent.com/71769312/146866064-31466466-0cfe-415f-b0a7-cbfd131f063b.jpg)

**并且

[2021-12-21 03:35] hohdiy commented on #38305
可以登录aistudio， 任意启动一个notebook gpu版本的，paddle选2.0.2即可，很容易复现

[2021-12-21 03:49] wangjiancheng-123 opened #38308 "请问torch._C对应paddle的api是？"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2021-12-21 04:07] ChChwang commented on #18986
训练过程中，reshape 会将lodtensor转为tensor么？后面接warpctc 需要 lodtensor ，怎么转回来呢

[2021-12-21 04:15] minghaoBD commented on #38305
您好，我这边在2.0.2环境下，已经复现您的问题，正在调试中。

[2021-12-21 05:08] zuocebianpingmao commented on #38246
谢谢

[2021-12-21 05:09] minghaoBD commented on #38308
可以尝试下 _C_ops，示例代码可以参照https://github.com/PaddlePaddle/Paddle/search?q=_C_ops
但是我们还是推荐用户直接使用python接口 : )

[2021-12-21 06:06] wangjiancheng-123 commented on #38308
十分感谢

[2021-12-21 06:15] RainFrost1 commented on #38265
根据paddle[官网](https://www.paddlepaddle.org.cn/)安装对应版本的paddle，如你的CUDA版本是11.2，那么安装方式如下：python -m pip install paddlepaddle-gpu==2.2.1.post112 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html。如果还是出现问题的话，应该就是cuda、cudnn等环境出问题了，就不太好定位了，那么可直接使用官方docker镜像

[2021-12-21 06:23] baoachun commented on #37990
Hi @jakpiase, what do you mean by *meaningful output* ?

[2021-12-21 06:40] #23143 closed, assigned to zhwesky2010

[2021-12-21 06:40] #24200 closed, assigned to zhwesky2010

[2021-12-21 06:40] #24311 closed, assigned to zhwesky2010

[2021-12-21 06:40] #25135 closed, assigned to MRXLT

[2021-12-21 06:40] #29573 closed, assigned to wzzju

[2021-12-21 06:40] #29592 closed, assigned to frankwhzhang

[2021-12-21 06:40] #29610 closed, assigned to Xreki

[2021-12-21 06:40] #29619 closed, assigned to Xreki

[2021-12-21 06:40] #29661 closed, assigned to Xreki

[2021-12-21 06:40] #29667 closed, assigned to Xreki

[2021-12-21 06:40] #29669 closed, assigned to Xreki

[2021-12-21 06:40] #29673 closed, assigned to Xreki

[2021-12-21 06:40] #29699 closed, assigned to Superjomn, heavengate

[2021-12-21 06:40] #29716 closed, assigned to hutuxian

[2021-12-21 06:40] #29722 closed, assigned to hutuxian

[2021-12-21 06:40] #29752 closed, assigned to seiriosPlus, sandyhouse

[2021-12-21 06:40] #29754 closed, assigned to sandyhouse

[2021-12-21 06:40] #29759 closed, assigned to sandyhouse

[2021-12-21 07:18] minghaoBD commented on #38305
谢谢发现我们的问题！建议您使用别的paddle版本绕过这个问题。
我们在同步解决这个core的问题了 : )

[2021-12-21 07:36] jiaohuix commented on #37401
【队名】：角灰大帝硬train一发

【序号】：90

【论文】：Cross-lingual Language Model Pretraining

【状态】：报名

【repo链接】：https://github.com/MiuGod0126/XLM_Paddle

[2021-12-21 08:09] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：254

【论文】：ESPNet: Efficient Spatial Pyramid of Dilated Convolutions for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/ETTR123/PaddleSeg/tree/espnetv1

[2021-12-21 11:22] jyjfjyjf opened #38320 "paddle._C_ops文档问题"
paddle版本2.21
paddle中对应torch._C._VariableFunctions._softmax_backward_data这个的实现有没有

[2021-12-21 12:05] minghaoBD commented on #38320
这里是softmax反向op的实现，供参考～
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/softmax_op.h#L84

[2021-12-21 12:58] RainFrost1 commented on #38268
之前确实没有碰到过这种情况。运行代码前，可以先设置环境变量export FLAGS_call_stack_level=2。看一下详细的报错信息

[2021-12-21 14:24] jakpiase commented on #37990
Hi @baoachun, I get the same weird results no matter if I run with mkldnn or without. For example if I run with `python python/predict_cls.py -c configs/inference_cls.yaml -o Global.use_gpu=False -o Global.enable_mkldnn=False  -o Global.cpu_num_threads=1 -o Global.inference_model_dir=../inference/ -o Global.batch_size=4 -o Global.infer_imgs=../dataset/ILSVRC2012/val -o Global.benchmark=True`
 I ge

[2021-12-21 15:18] Gray-OREO opened #38333 "自定义Dataloader使用enumerate函数时报错"
在使用paddle自定义Dataset之后通过Dataloader函数单进程单线程导入训练数据时，在dataloader_iter中报错，此时传入self._feed_list为batch_size整型数字，无法迭代。

/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dataloader/dataloader_iter.py in _init_thread(self)
      175
      176     def _init_thread(self):
--> 177         self._var_names = [v.name for v in self._feed_list]
TypeError: 'int' object is not iterable

[2021-12-21 15:32] geoyee commented on #38267
@RainFrost1 结合报错
[code]
经过检查确定问题出在`paddle.transpose`，我找到了所有有transpose的地方，确定了问题在这个ECA的代码（不使用就能正常反向传播）
[code]
但是检查前向的结果我也看不出有什么问题，`perm.shape`和`y.shape`相同，不知道为什么在反向传播中报错`received shape.size():4 != perm.size():3`，这个我感觉与我看到这个这个相似[https://gitee.com/ascend/modelzoo/issues/I2CJGY](https://gitee.com/ascend/modelzoo/issues/I2CJGY)

[2021-12-21 15:34] geoyee commented on #38268
谢谢，但我在终端设置后进入QGIS导入报错显示没有什么区别。并且在有protobuf 3.1.0的情况下有时还是会报那个3.6.1的错

[2021-12-21 16:40] sfraczek commented on #33069
I found that actually paddle's hard_swish is same as oneDNN's just using different equation and thus different meaning for threshold.

[2021-12-22 02:03] txyugood commented on #37401
【队名】：txyugood

【序号】：68

【论文】：MVFNet: Multi-View Fusion Network for Efficient Video Recognition

【状态】：报名&提交

【repo链接】：https://github.com/txyugood/PaddleMVF

[2021-12-22 02:16] hohdiy commented on #38305
收到感谢

[2021-12-22 02:20] txyugood commented on #37850
谢谢！

[2021-12-22 02:20] #37850 closed, assigned to wangxicoding

[2021-12-22 02:21] minghaoBD commented on #38333
能否提供下您的代码？我这边复现debug一下。

[2021-12-22 03:19] Gray-OREO commented on #38333
`import paddle
from paddle.io import DataLoader
from paddle.io import Dataset
from paddle.io import BatchSampler
from paddle.vision import ToTensor
from paddle.vision import transforms
import paddle.nn as nn
from scipy import stats
import skvideo.io
from PIL import Image
import os
import h5py
import numpy as np
import random
import pandas as pd
import paddle.nn.functional as F
from argparse import

[2021-12-22 03:47] lanma901106 commented on #37401
【队名】：小白复现之路
【序号】：22
【论文】： YOLOX: Exceeding YOLO Series in 2021
【状态】：报名
【repo链接】：https://github.com/lanma901106/YOLOX_Paddle_repo

[2021-12-22 03:50] wzyforgit commented on #38002
所以相关同学还解决吗？
我这边定位到明显是CMAKE里面写的有问题，导致它根本不会按照你发的教程里面写的那样去调用 CBLAS，但即便改了以后，正常调用CBLAS，最后依然会报告找不到 PaddlePaddle 自己定义的异常对象，就是那个什么 Paddle throw 还是啥。
我建议你们这边提供一个稳定点的CMAKE方案，让它可以去调系统内部的BLAS而不是一股劲地去下载BLAS源码来编译，因为 UOS 官方是往那上面移植了 blas dev 和 blas 两个包的，既然要兼容 UOS 就好好做到全平台兼容。

[2021-12-22 03:57] jyjfjyjf opened #38342 "再aistudio上paddlepaddle训练报错"
paddle版本：2.2.1
环境：aistudio BML 至尊版

训练的时候说GPU初始化失败

File "/home/aistudio/work/debertav2/DeBERTa_Decoding-enhanced_BERT_with_Disentangled_Attention/scripts/bert.py", line 253, in __init__
    self.word_embeddings = nn.Embedding(config.vocab_size, self.embedding_size, padding_idx=padding_idx)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/nn/layer/common.py", line

[2021-12-22 04:13] CuberrChen commented on #37401
【队名】：波波啥也不会

【序号】：57

【论文】：Simple Baselines for Human Pose Estimation and Tracking

【状态】：报名&提交2

【repo链接】：https://github.com/CuberrChen/HumanPoseBL-Paddle

[2021-12-22 04:24] minghaoBD commented on #38333
test_loader = DataLoader(test_dataset, args.batch_size, shuffle=False, num_workers=0)
-> test_loader = DataLoader(test_dataset, batch_size=args.batch_size, shuffle=False, num_workers=0)
![image](https://user-images.githubusercontent.com/79566150/147035305-338a91fb-a700-4392-86e0-3a4de08cd85c.png)
第二个参数不是batch_size，需要指定下

[2021-12-22 05:24] Gray-OREO commented on #38333
原来在这里！十分感谢！

[2021-12-22 06:15] joey12300 commented on #38208
paddlpaddle版本信息：
![image](https://user-images.githubusercontent.com/10826371/147044693-dae71779-f121-4847-ba4c-2beb23b0d655.png)
@VBPython 您好，我使用2.2.1版本的cpu环境跑了训练，发现最后还是收敛了，如图所示，你看看版本是否对齐了？
![image](https://user-images.githubusercontent.com/10826371/147044450-0be6fe72-a7db-48a4-902c-31a47f25132a.png)

[2021-12-22 06:43] Hukongtao commented on #33635
大佬们 这一波报错就直接劝退一堆用户了啊 能否直接像pytorch那样pip install之后就可以立即使用呢？

[2021-12-22 06:46] Hukongtao commented on #33635
运维人员升级没那么简单吧，一台开发机其他人也在用，很多库的版本都是固定的。docker的话是不是不太利于调试呢。这个问题你们没办法解决么？第一步安装就有问题真的很影响用户体验啊

[2021-12-22 06:46] baoachun commented on #37990
Hi @jakpiase, I just learned that the model needs to be replaced in order to verify accuracy，you can download the model from https://paddle-imagenet-models-name.bj.bcebos.com/dygraph/inference/RedNet26_infer.tar

[2021-12-22 06:47] Hukongtao opened #38348 "/usr/local/gcc-5.4.0/lib64/libstdc++.so.6: version `GLIBCXX_3.4.22' not found"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2021-12-22 06:48] RainFrost1 commented on #38267
上面ECA这个代码也会因为transpose的问题，出现不能反向传播的问题，对吧？我定位一下

[2021-12-22 06:54] RainFrost1 commented on #38268
看着感觉应该是底层c++的protobuf版本不一致。不是在python中pip安装protobuf。试试[这个](https://blog.csdn.net/kdchxue/article/details/81046192)安装方法呢，3.1.0版本

[2021-12-22 06:56] Hukongtao commented on #38348
参考的[安装文档](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html)安装的，`import paddle`就会报这个错误，直接劝退我了。不能做到和pytorch那样即装即用吗

[2021-12-22 07:12] Hukongtao commented on #38348
看了下源码安装的方法，都快比肩当年安装caffe的过程了，真的不考虑下新手的用户体验么

[2021-12-22 07:17] jyjfjyjf opened #38350 "论文复现好后训练时间非常长"
- 标题：使用gpu训练太慢
- 版本、环境信息：
    1）PaddlePaddle版本：2.21
    3）GPU：rtx3090 24G显存   CUDA 11.5.121 driver cudnn 11.5
    4）系统环境：win11 python 3.7

- 训练信息
    1）单机，单卡
    2）24G
    3）Operator信息
- 复现信息：debertav2 使用paddle复现后 读取数据读取模型 数据预处理之后训练 训练的速度太慢了，batch_size为2，跑10个batchsize要6分钟，总共39w多数据量，跑完都过完年了
- 问题描述：pytorch代码中的算子我都没加，加上算子后batch_size为2 跑一个batch_size要7分钟 总共39w条数据，跑完我都开题结束了
-
另外我还在aistudio上使用v100 训练
- 版

[2021-12-22 07:21] jyjfjyjf opened #38351 "论文复现好后训练时间非常长"
- 标题：使用gpu训练太慢
- 版本、环境信息：
    1）PaddlePaddle版本：2.21
    3）GPU：rtx3090 24G显存   CUDA 11.5.121 driver cudnn 11.5
    4）系统环境：win11 python 3.7

- 训练信息
    1）单机，单卡
    2）24G
    3）Operator信息
- 复现信息：debertav2 使用paddle复现后 读取数据读取模型 数据预处理之后训练 训练的速度太慢了，batch_size为2，跑10个batchsize要6分钟，总共39w多数据量，跑完都过完年了
- 问题描述：pytorch代码中的算子我都没加，加上算子后batch_size为2 跑一个batch_size要7分钟 总共39w条数据，跑完我都开题结束了
-
另外我还在aistudio上使用v100 训练
- 版

[2021-12-22 07:23] jyjfjyjf commented on #38351
网络出了问题，浏览器发了两遍

[2021-12-22 07:47] Hukongtao commented on #38348
如果为了支持多指令集这一步是不可避免的，那么针对这种报错，paddle是不是应该给出相应的解决方案。很多用户都是在服务器上使用的，没有sudo权限，针对这部分用户是不是应该给出一个解决方案呢

[2021-12-22 07:57] RainFrost1 commented on #38267
我试了一下ECA net，将其插入到一个普通网络的层中，能够正常的计算loss，并反向传播。可能还需要再详细定位一下吧

[2021-12-22 08:12] #38333 closed, assigned to minghaoBD

[2021-12-22 08:21] wangjiancheng-123 opened #38357 "请问论文95的数据是在哪里下载啊"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2021-12-22 09:28] Yanting-K commented on #37401
【队名】：RandomFly
【序号】：38
【论文】：Taming Transformers for High-Resolution Image Synthesis
【repo链接】：https://github.com/Yanting-K/paddle-VQGAN

[2021-12-22 09:52] lyuwenyu commented on #38348
先check一下 paddle 和 cuda的版本是不是匹配   希望多提供有效的信息 便于判断

[2021-12-22 09:53] lyuwenyu commented on #38350
查看下gpu占用率 是不是GPU在训练

[2021-12-22 09:54] lyuwenyu commented on #38357
那个论文？

[2021-12-22 10:01] wangjiancheng-123 commented on #38357
megatron_bert这个

[2021-12-22 10:17] mentorzhu commented on #37401
【队名】：数据一线
【序号】：69
【论文】：Deep Retrieval: An End-to-End Learnable Structure Model for Large-Scale Recommendations
【状态】：报名
【repo链接】：https://github.com/mentorzhu/Deep-Retrieval

[2021-12-22 10:24] mentorzhu commented on #37401
【队名】：数据一线
【序号】：71
【论文】：Self-Supervised Multi-Channel Hypergraph Convolutional Network for Social Recommendation
【状态】：报名
【repo链接】：https://github.com/mentorzhu/Self-Supervised-Multi-Channel

[2021-12-22 10:32] xinliyangguang opened #38364 "在paddle cloud上训练PaddleSeg-releasev2.0中的模型时出现ModuleNotFoundError类的错误"
我在paddle cloud中使用集群训练PaddleSeg-releasev2.0的模型，数据放在了afs集群上，代码放在了开发机上，提交作业之后报错如下：

/root/paddlejob/workspace/env_run/zhaoxin34/baidu/personal-code/icoding/PaddleSeg-release-v2.0/paddleseg/cvlibs/param_init.py:89: DeprecationWarning: invalid escape sequence \s
  """
Traceback (most recent call last):
  File "zhaoxin34/baidu/personal-code/icoding/PaddleSeg-release-v2.0/train.py", line 21, in <module>

[2021-12-22 10:39] lyuwenyu commented on #38364
请把问题在seg里也提一下吧 https://github.com/PaddlePaddle/PaddleSeg/issues

[2021-12-22 10:42] xinliyangguang commented on #38305
在paddle cloud中使用PaddleSeg-releasev2.0的模型进行训练也会出这个问题

[2021-12-22 11:42] lyuwenyu commented on #38357
是paddle提供的嘛 文章链接有吗？

[2021-12-22 11:54] zhangyimi opened #38371 "dataloader申请的线程资源如何释放？"
paddlepaddle 2.1.3
请教dataloader申请的线程资源该如何释放？
我是以下面的方式调用的：

`
self.dataloader = io.DataLoader.from_generator(capacity=10, return_list=True, use_multiprocess=False)
self.dataloader.set_batch_generator(self.generator_creator())
`

项目中每次调用预测接口都会按上面的方式创建一个dataloader，多个用户反馈大量调用预测接口后会报：

    ret = ddp.parse([line])
  File "/Users/wangy/anaconda3/lib/python3.7/site-packages/ddparser/run.py", line 399, in

[2021-12-22 12:05] wangjiancheng-123 commented on #38357
是的，没有链接，我看网上说从维基百科下

[2021-12-22 12:33] shixibao opened #38372 "使用中遇到一个问题，需要支持一下yolo_box算子"
![image](https://user-images.githubusercontent.com/23250892/147093224-b87e5cde-45e0-4115-98e3-f0477775717f.png)

[2021-12-22 13:43] jyjfjyjf commented on #38350
是的，gpu占用率一会少一会多，最多100%；显存占用一直都是70%几

[2021-12-22 13:54] geoyee commented on #38268
感谢，我会尝试一下

[2021-12-22 16:39] jakpiase commented on #37990
Hi @baoachun, I have checked that with the changes in my PR accuracy stays the same and the error is resolved, so I will do my best to make it merged as soon as possible

[2021-12-23 02:35] yghstill commented on #36962
@lidanqing-intel @sfraczek Verified. Thanks for the above optimization.

[2021-12-23 02:35] #36962 closed, assigned to wozna, lidanqing-vv

[2021-12-23 02:38] lyuwenyu commented on #38357
不好意思paddle这边不提供数据集的

[2021-12-23 02:39] lyuwenyu commented on #38372
支持的 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/ops/yolo_box_cn.html#yolo-box

[2021-12-23 02:59] chenwhql commented on #38371
您好，这个接口从2.0开始已经不再维护了，需要换用新的DataLoader

[2021-12-23 03:01] zpcalan opened #38377 "编译Paddle后安装，提示ImportError: cannot import name 'CommContext' from 'paddle.fluid.core_noavx'"
- 版本、环境信息：
 Paddle version: 0.0.0
Paddle With CUDA: True

OS: Ubuntu 16.04
Python version: 3.7.4

CUDA version: 10.1.105
cuDNN version: None.None.None
Nvidia driver version: 450.36.06
- 安装方式信息：
 本地编译：
[code]

执行[官网wide_and_deep用例](https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/parameter_server/ps_quick_start.html)，提示
[code]
编译指令已经disable了avx但是依然报错，请问下该如何解决了。

[2021-12-23 03:08] PhenixZhang commented on #38212
好嘞 感谢～

[2021-12-23 03:08] #38212 closed, assigned to joey12300

[2021-12-23 03:11] zhangyimi commented on #38371
新的接口是指直接通过paddle.io.DataLoader实例化, 而不是调用paddle.io.DataLoader.from_generator么

[2021-12-23 03:44] lyuwenyu commented on #38342
check一下 paddle按照是否正确   `paddle.utils.run_check()`

[2021-12-23 03:53] chenwhql commented on #38371
是的

[2021-12-23 03:59] YangangCao opened #38379 "建议增加对M1芯片Mac的原生支持"
截止到2021.12.23，包括tensorflow和pytorch在内的大多数深度学习的python包均已有原生M1版本（不需要Rosetta转译），可直接通过pip安装。建议paddle增加此支持

[2021-12-23 04:03] wangjiancheng-123 opened #38380 "from paddle.autograd import Variable from paddle._utils import _flatten_dense_tensors, _unflatten_dense_tensors"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2021-12-23 04:05] wangjiancheng-123 commented on #38380
您好，可以问一下这两个关于paddle的api吗
from torch.autograd import Variable
from torch._utils import _flatten_dense_tensors, _unflatten_dense_tensors

[2021-12-23 04:08] wangjiancheng-123 opened #38381 "API问题"
您好，可以问一下这两个关于paddle的api吗
from torch.autograd import Variable
from torch._utils import _flatten_dense_tensors, _unflatten_dense_tensors

[2021-12-23 04:25] jyjfjyjf commented on #38350
需要我发代码吗

[2021-12-23 04:27] jyjfjyjf commented on #38342
正确batch_size设置16就会报这个错，batch_size减小后就能正常跑了，可能是显存不足的问题，为什么显存不足不报显存不足，而是说cuda初始化错误

[2021-12-23 05:43] lzzyzlbb commented on #38381
variable 可以参考下文档https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/Variable_cn.html#variable
_flatten_dense_tensors 可以参考一下flatten，paddle默认的就是dense_tensor
_unflatten_dense_tensors 可以参考一下reshape

[2021-12-23 06:04] xwdreamer commented on #31648
有没有寒武纪的案例，就像下图这样，有比特大陆tpu，有昆仑xpu。想要一个寒武纪的
![image](https://user-images.githubusercontent.com/1173919/147195752-2bc10c7a-4338-4fd3-aed1-1814ae0af916.png)

[2021-12-23 06:19] lzzyzlbb commented on #38377
编译的时候，打开WITH_DISTRIBUTE=ON试试呢

[2021-12-23 06:24] zhangyimi commented on #38371
了解 辛苦~

[2021-12-23 06:24] #38371 closed, assigned to lyuwenyu

[2021-12-23 06:24] #38351 closed, assigned to lyuwenyu

[2021-12-23 06:55] zpcalan commented on #38377
多谢回复。
加了此选项后依然失败，相同的报错。
日志里有这一句：`W1223 15:29:44.242477 78409 init.cc:236] AVX is available, Please re-compile on local machine` @lzzyzlbb

[2021-12-23 07:14] hubutui opened #38388 "setup CUDA_HOME for dgc"
according to https://github.com/PaddlePaddle/Paddle/blob/f88065d31724a9aad7c9fbfc521c074ff0b42fae/cmake/external/dgc.cmake#L32,
the build command to build dgc is simply `make`, which use `/usr/local/cuda/bin/nvcc`. It will be even better to use `CUDA_HOME` where `CUDA_HOME` could be set from cmake command line args.

[2021-12-23 07:22] hubutui opened #38389 "issue about range-loop-construct"
building with gcc 11.1.0 output this error:
[code]
use reference type should fix this. Currently, I have to add `-Wno-error=range-loop-construct` to `CMAKE_CXX_FLAGS`.
Note, there might be more occurrences.

[2021-12-23 07:50] wangjiancheng-123 opened #38390 "请问torch.cuda.FloatTensor关于paddle的api是？"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2021-12-23 09:00] GuoQuanhao opened #38394 "训练报错【论文复现】"
Error: /paddle/paddle/fluid/operators/bce_loss_op.cu:38 Assertion `(x >= static_cast<T>(0)) && (x <= one)` failed. Input is expected to be within the interval [0, 1], but recieved nan.

[2021-12-23 09:07] lzzyzlbb commented on #38394
请问有代码吗？目测是输入的数据为nan

[2021-12-23 09:15] lzzyzlbb commented on #38390
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/to_tensor_cn.html#cn-api-paddle-to-tensor

可以参考paddle.to_tensor, 可以选择cpu和gpu,数据的dtype

[2021-12-23 09:16] Evezerest commented on #38357
你好，论文复现赛的题目问题可以在相关的微信群提问，里面有专业支持的研发同学

[2021-12-23 09:16] lyuwenyu commented on #38350
1. 是模型本身慢还是竞品的快 2. 先确定一下是数据瓶颈还是GPU瓶颈  3. 如果是数据可以尝试增大num_worker  4. 模型瓶颈的话 得定位具体那块慢

[2021-12-23 09:17] lzzyzlbb commented on #38389
您好，您的gcc版本比较高，是需要加一些额外的编译选项。我们一般支持的是gcc8.2。

[2021-12-23 09:20] wangjiancheng-123 commented on #38390
非常感谢

[2021-12-23 09:26] lzzyzlbb commented on #38377
这里显示机器是支持avx的吖，为啥要设置成off呢

[2021-12-23 09:29] lidanqing-vv commented on #38126
@jczaja Please comment on this issue. Otherwise that disabling PR will be merged.

[2021-12-23 09:31] lidanqing-vv commented on #37990
Sorted out locally. Are making PR now.

[2021-12-23 09:57] geoyee commented on #38268
我看了下我的windows下面是3.19.1的，我照着这个链接装了一个3.19.1的，现在没有显示任何报错，QGIS直接闪退了

[2021-12-23 10:00] jyjfjyjf commented on #38350
好的谢谢，我先搞一搞，有反馈了回复

[2021-12-23 10:05] jczaja commented on #38126
@baoachun I implemented NHWC support for oneDNN kernels in PaddlePaddle so I can offer some insight.
If PaddlePaddle  input is of layout NCHW then shape is [N,C,H,W]. If PaddlePaddle input is of layout NHWC then shape is [N,H,W,C]. For oneDNN kernels input regardless if it is NCHW or NHWC then shape is always [N,C,H,W]. So internally for NHWC models when there is a CPU op followed by oneDNN op the

[2021-12-23 10:38] yoreG123 commented on #37401
【队名】：图克塔米舍夫

【序号】：102

【论文】： ByT5: Towards a token-free future with pre-trained byte-to-byte models

【状态】：报名

【repo链接】：https://github.com/yoreG123/Paddle-ByT5

[2021-12-23 10:43] LinJayan commented on #37401
【队名】：LYyyds

【序号】：80

【论文】：FLEN: Leveraging Field for Scalable CTR Prediction

【状态】：提交

【repo链接】：https://github.com/LinJayan/FLEN-Paddle

【AiStudio链接】：https://aistudio.baidu.com/aistudio/projectdetail/3247609

[2021-12-23 12:39] Acoli98 opened #38403 "ValueError: Target(Tensor(shape=[1], dtype=int64, place=CUDAPlace(0), stop_gradient=True, [102])) is out of class_dimension's upper bound(12)"
ValueError: Target(Tensor(shape=[1], dtype=int64, place=CUDAPlace(0), stop_gradient=True,
       [102])) is out of class_dimension's upper bound(12)

[2021-12-23 12:44] Acoli98 commented on #38403
Traceback (most recent call last):
  File "E:\Python_file\PaddlePaddle\paddle3.py", line 539, in <module>
    step_loss = loss(pred, label)
  File "F:\Anaconda\envs\paddle\lib\site-packages\paddle\fluid\dygraph\layers.py", line 914, in __call__
    outputs = self.forward(*inputs, **kwargs)
  File "F:\Anaconda\envs\paddle\lib\site-packages\paddle\nn\layer\loss.py", line 397, in forward
    ret = pa

[2021-12-23 12:58] lzzyzlbb commented on #38403
看着像是class的维度超了，请问能贴一下源码吗

[2021-12-23 13:01] Acoli98 commented on #38403
loss = paddle.nn.CrossEntropyLoss(axis=1)
   for batch_id, (img, label) in enumerate(train_loader):
        optimizer.clear_grad()
        pred = model(img)
        print('label={}'.format(label.numpy().shape))
        print('pred={}'.format(pred.numpy().shape))
        step_loss = loss(pred, label)

错误信息：
label=(1, 600, 400)
pred=(1, 13, 600, 400)
Traceback (most recent call last):
  File "E:\Pyt

[2021-12-23 13:21] geoyee commented on #38267
@RainFrost1  感谢，已解决，将这个里面的`paddle.unsqueeze_(y, axis=-1)`换成了`y = paddle.unsqueeze(y, axis=-1)`就可以了，前向反向就能跑了

[2021-12-23 13:23] geoyee commented on #38267
不知道是说没用`y=`进行保存，还是说`unsqueeze_`和`unsqueeze`有什么区别，总之解决了，感谢帮助，我想这个issue我可以关闭了

[2021-12-23 13:23] #38267 closed, assigned to RainFrost1

[2021-12-23 14:06] hubutui commented on #26878
[code]
this quick and dirty hack works for me. If would be better if the maintainer could add `-Wno-error=pessimizing-move` to the `CMakeLists.txt` what needs it.

[2021-12-23 15:59] jakpiase commented on #38038
Hi, @baoachun it will be fixed after merging #38411

[2021-12-23 16:16] jakpiase commented on #37990
Hi @baoachun, every CI except static-check have passed in my PR #38299. This failed CI says that there is code format error, but it doesn't show me in which line does it occur. Do you know how can I get that information? I have used clang-format 3.8.0, and it doesn't see any formatting error

[2021-12-23 18:03] sfraczek commented on #31103
I have added a PR that might also help with this issue. It is a fix for scale calculation of quantized convolution + activation. Previously output scale was applied before activation instead of after.
https://github.com/PaddlePaddle/Paddle/pull/38331

[2021-12-24 01:53] renmada commented on #37401
【队名】：arbiter

【序号】：53

【论文】：Drop an Octave: Reducing Spatial Redundancy in Convolutional Neural Networks with Octave Convolution

【状态】：提交

【repo链接】：https://github.com/renmada/OctConv-paddle

[2021-12-24 02:29] RainFrost1 commented on #38268
windows下没有报错，对吧？看ubuntu下报错，应该是装3.1.0版本，而不是3.19.1吧

[2021-12-24 02:32] jackrobsu opened #38413 "本地训练loss正常变小，提交到mpi cpu集群训练时，loss就会突然变大，并没有变小，"
任务链接
http://yq01-hpc-lvliang-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20211224032212-672
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预

[2021-12-24 02:37] se7enXF opened #38414 "使用Flask进行预测发生内存溢出"
# 问题描述
1. 首先说一个段错误，在[paddledet issue](https://github.com/PaddlePaddle/PaddleDetection/issues/4934)提出的。我将cuda换为10.0，cudnn7.5，推理没有错误了。但是这个段错误的的问题希望跟进一下。
2. Flask里使用paddle-gpu静态图推理，发现ram内存泄漏，gpu内存无问题。每调用一次请求，内存增加一点，直到内存满后被系统kill。使用paddle-cpu+flask无问题。不使用flask，循环调用无内存泄漏。
3. 模型初始化都在脚本开头，循环中只使用了class.predict，模型推理class是继承于[paddlecls的predicter](https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/d

[2021-12-24 03:12] geoyee commented on #38268
是的，windows10/11下都没问题，就是3.19.1的。在ubuntu下他自带一个3.6.1的卸载不掉，我使用pip安装的3.1.0的也没用，然后那个链接是装的最新的，我也试了下，就没有显示版本问题了，但是直接崩了

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2021年12月24日 10:29 |
| 收件人 | ***@***.***> |
| 抄送至 | Yizhou ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] Ubuntu下QGIS的Python环境使用PaddlePaddle报错 (Issue #38268) |

windows下没有报错，对吧？看ubuntu下报错，应该是装3.1.0版本，而不是3.19.1吧

—
Reply to this em

[2021-12-24 03:50] junfeizhu commented on #34614
你好，我遇到了同样的问题，请问能说说具体怎么代替吗？不是很懂

[2021-12-24 03:58] lidanqing-vv commented on #34927
This issue is pending by https://github.com/PaddlePaddle/Paddle/pull/35332

[2021-12-24 05:30] junfeizhu opened #38422 "ERNIE模型使用paddle.git.save存储报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU/GPU：CUDA 10.2
    3）系统环境：CentOS 7
    4）Python版本号: 3.7
    5）显存信息

我使用ERNIE模型再加上若干全连接层构建了一个分类器，我需要保存推理模型后进行服务器部署，但是在使用paddle.git.save之后报错：
<img width="525" alt="cae0507c28be74f17d2b0b3cb22c7e6" src="https://user-images.githubusercontent.com/32788240/147320309-87cda8a4-9538-429e-8479-f8fbbe67fbdb.png">
<img width="438" alt="4231db92d21109d7ec7117c683b

[2021-12-24 05:31] lidanqing-vv commented on #37422
quantize_linear detected.
channel-wise quantization detected.
scale_var_name:  batch_norm_8.tmp_4.scale scale_value:  [0.001]
channel-wise show up in dequantize_linear op
![image](https://user-images.githubusercontent.com/47151829/147320456-6689de0c-9473-45af-91e9-4d6ce17d2828.png)

![image](https://user-images.githubusercontent.com/47151829/147435660-574b8c49-9394-4682-9bb1-c466afb02f3c.png)

[2021-12-24 06:10] lzzyzlbb commented on #38403
这个应该是说，你的pre只有13dim，然后你的label应该不超过12，但是label有出现值为255，是个异常值，可以检查一下

[2021-12-24 06:14] eliphatfs commented on #18660
有进展吗？

[2021-12-24 06:27] se7enXF commented on #38414
设置flask的参数app.run(threaded=False)后，内存不再溢出。

[2021-12-24 06:27] #38414 closed, assigned to nobody

[2021-12-24 07:26] linhandev commented on #38268
Arch linux 下安装qgis，在命令行里 import paddle是下面这样的

![image](https://user-images.githubusercontent.com/29757093/147329341-7dbb6cd4-0045-43b1-b81b-8f571f624ae2.png)

[2021-12-24 07:56] linhandev commented on #38268
感觉这个问题貌似和qgis执行py的方式有关系，在qgis上发现了一个[有意思的issue](https://github.com/qgis/QGIS/issues/37289)。说是一个包在qgis里import不了，结果子进程里就能import

尝试了一下，Manjaro Linux下直接import paddle导致qgis崩溃
![image](https://user-images.githubusercontent.com/29757093/147331579-919373c0-b83a-4df0-9a0f-ad8316e6f633.png)

照着那个issue的样子写了两个文件

[code]
test_import.py
[code]
执行结果

![image](https://user-images.githubusercontent.com/29757093/14

[2021-12-24 08:08] dingjiaweiww commented on #38379
您好，飞桨目前是支持M1 芯片的，也提供了pip 安装方式：python -m pip install paddlepaddle==2.2.1 -i https://mirror.baidu.com/pypi/simple
具体安装方法请参考文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/macos-pip.html

[2021-12-24 08:20] jyjfjyjf commented on #38350
pytorch很快，rtx3090 24G显存batch_size只能设置到4 跑完20个batch_size只需要50几秒
paddle在v100 32G使num_worker = 4， batch_size=8 跑完10个batch_size需要50几分钟
是不是说明是模型复现出了问题

[2021-12-24 08:21] zhaocaibei123 commented on #38377
wide&deep示例建议用release版本跑
如果想用develop编译，拉取官网2.0以上docker，在docker里编译
cmake .. -DCMAKE_INSTALL_PREFIX=./output/ -DCMAKE_BUILD_TYPE=Release -DWITH_PYTHON=ON -DWITH_MKL=OFF -DWITH_GPU=OFF -DWITH_INFERENCE_API_TEST=OFF -DWITH_FLUID_ONLY=ON -DPY_VERSION=3.7 -DPYTHON_INCLUDE_DIR=/usr/local/python3.7.0/include/python3.7m -DPYTHON_LIBRARY=/usr/local/python3.7.0/lib/libpython3.7m.so -DPYTHON_EXECUTABLE=/usr/l

[2021-12-24 08:25] KiritoSSR opened #38433 "【论文复现】torch中BN层设置track_running_stats = False，paddle可以实现吗？"
现在复现的论文代码中将Resnet50中的BN层设置track_running_stats = False，在训练中只计算每个batch内的均值和方差，同时在测试的时候BN层的均值和方差也会改变。
但是paddle的BN文档中说：目前训练时设置track_running_stats为False是无效的，实际还是会按照True的方案保存全局均值和方差。之后的版本会修复此问题。
所以没有办法进行对应是吗？

[2021-12-24 09:24] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：252

【论文】：Adversarial Learning for Semi-Supervised Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/ETTR123/PaddleSeg/tree/advsemiseg

[2021-12-24 09:30] zh794390558 commented on #38413
集群问题，请问集群负责人。

[2021-12-24 09:36] zh794390558 commented on #38422
确认下E_Model的输出个数

[2021-12-24 09:36] Aurelius84 commented on #38422
`too many values to unpack` 表明 self.E_model 返回的变量个数不是两个。你可以在这行代码前面加入 import pdb;pdb.set_trace() 看下返回的值有几个。

pdb 使用方法见：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/04_dygraph_to_static/debugging_cn.html#ertiaoshifangfa

[2021-12-24 09:42] ceci3 commented on #38433
请问下你是想实现测试的时候BN的均值和方差也是使当前batch的均值和方差吗？可以设置model.eval()和use_global_stats=True就可以实现这个功能。

[2021-12-24 09:53] wonderfuer commented on #35028
+1

[2021-12-24 10:04] junfeizhu commented on #38422
试了一下，确实是返回的变量个数不同。我发现不加@paddle.jit.to_static的时候返回2个变量，加了之后返回3个。所以所有的模型都是有这样的特性吗？加了@paddle.jit.to_static之后返回变量个数会不一样？

[2021-12-24 10:07] Aurelius84 commented on #38422
这个返回值个数问题已经在最近的版本修复了，推荐尝试下 paddle2.2。

若不想更换版本，可以在装饰jit.to_static后，调整下接受返回值的变量。

[2021-12-24 10:08] wonderfuer commented on #35028
按照 betterpig的方法已解决：
我只把cublasLt64_10.dll复制到C:\Windows\System32 就可以了。

`Running verify PaddlePaddle program ...
W1224 17:55:22.302059 15552 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 11.4, Runtime API Version: 10.2
W1224 17:55:22.331984 15552 device_context.cc:465] device: 0, cuDNN Version: 7.6.
PaddlePaddle works well on 1 GPU.
PaddlePaddle work

[2021-12-24 10:09] Water2style opened #38440 "如何 手动修改save_inference_model,即.pdiparams模型的参数?"
想要手动修改.pdiparams模型的参数.并且重新save了拿来推理.

是否有方法直接把里面的二进制内容 转换并且拿到参数呢?

谢谢

[2021-12-24 11:22] yharby commented on #38268
![paddle1](https://user-images.githubusercontent.com/13020265/147348575-dad8ee4b-b657-43a6-b73d-dedbd843a2a5.gif)

[2021-12-24 11:54] KiritoSSR commented on #38433
我想训练的时候也是这样使当前batch的均值和均值

[2021-12-24 11:56] KiritoSSR commented on #38433
我想训练的时候候BN的均值和方差同样使当前batch的均值和均值，可以实现吗？

[2021-12-24 11:59] fox2049 opened #38444 "在 Paddle 中新增 LBFGS"
黑客马拉松任务，未完成。请官方添加，谢谢。

https://github.com/PaddlePaddle/Paddle/issues/36002

[2021-12-24 15:33] CuberrChen commented on #37778
使用32GV100 同样出现该问题。

[2021-12-24 16:00] jyjfjyjf commented on #38350
我知道为什么这么慢了，因为paddle的gather想要实现pytorch的gather只能用循环的方式，循环的次数是
每个句子长度*batch_size*num_attention_heads*num_hidden_layers*gather出现的次数，那这个该怎么办

[2021-12-24 16:08] jyjfjyjf commented on #38350
不是只能用循环的方式，是我只知道两层循环的方式

[2021-12-24 17:22] CuberrChen opened #38448 "【论文复现】显存泄露问题"
再一次遇到显存泄露的问题，训练过程中显存稳定一段时间就突然上升，造成最终溢出程序终止。
请问有没有手动释放显存的方法，比如我每iter结束就手动将显存释放掉？
查找内存泄露问题点太难找了..

[2021-12-25 02:02] zpcalan commented on #38377
因为之前试了，默认编译avx on的话也会报错：
[code]

[2021-12-25 02:03] zpcalan commented on #38377
我有空试下，谢谢回复。
因为我们还是用物理机比较多，最好还是能解决以上的问题。：）

[2021-12-25 03:36] jyjfjyjf commented on #38350
解决了，用别的办法写了个gather，但是新问题出现了，不知道为啥怎么训练，精确率也不涨

[2021-12-25 03:55] zhiboniu commented on #38448
可以试试del用完的数据+gc.collect()

[2021-12-25 04:36] thisisi3 commented on #37401
【队名】：thestone

【序号】：20

【论文】：You Only Look One-level Feature

【状态】：提交

【repo链接】：[Paddle-YOLOF](https://github.com/thisisi3/Paddle-YOLOF)

[2021-12-25 06:25] #37987 closed, assigned to yghstill, haozech

[2021-12-25 07:25] zh794390558 commented on #38440
laod后python解析就行。

[2021-12-25 07:26] zh794390558 commented on #38444
需求已收到。

[2021-12-25 08:01] justld commented on #37401
【队名】：dudu

【序号】：54

【论文】：Can Spatiotemporal 3D CNNs Retrace the History of 2D CNNs and ImageNet?

【状态】：报名&提交

【repo链接】：https://github.com/justld/3D-ResNets_paddle

[2021-12-25 11:17] hatimwen commented on #38379
您好，我参照您提供的安装方式及参考文档，仍无法安装。
具体信息：
[code]

[2021-12-25 15:31] SigureMo commented on #38379
+1+1，想要***原生***的！

[2021-12-25 17:41] buriedms commented on #37401
【队名】：生活所迫

【序号】：54

【论文】：Can Spatiotemporal 3D CNNs Retrace the History of 2D CNNs and ImageNet?

【状态】：提交

【repo链接】：https://github.com/buriedms/3D-ResNets-Paddle

[2021-12-25 20:46] Grant-Tao opened #38453 "Paddle 2.2 Layer.to API always reports warnings"
**System information**
Aistudio python 3.7 paddle 2.2.1

Layer.to function sample code :

code :
import paddle

linear = paddle.nn.Linear(3,4)
linear.to('cpu')

reporting:
xxx\ paddle\fluid\dygraph\varbase_patch_methods.py:392: UserWarning:
Warning: tensor.grad will return the tensor value of the gradient. This is an incompatible upgrade for tensor.grad API.  It's return type changes from numpy.nd

[2021-12-26 02:53] thunder95 commented on #30713
+1

[2021-12-26 03:26] Beacontownfc commented on #37401
【队名】：灯塔镇

【序号】：84

【论文】：Convolutional Sequence to Sequence Learning

【状态】：报名

【repo链接】：https://github.com/Beacontownfc/paddle_conv_seq2seq

[2021-12-26 03:31] wantsor commented on #38379
建议增加arm64原生版本python的支持， 目前装不了呀，得换回intel版的conda去安装

[2021-12-26 14:07] jakpiase commented on #37990
Nevermind, it has been fixed

[2021-12-26 14:44] 4IK1d commented on #37401
【队名】：大AI无疆

【序号】：79

【论文】：Feature Generation by Convolutional Neural Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/4IK1d/Paddle-FGCNN

[2021-12-26 15:15] yingyibiao commented on #38453
Thanks for your question! You can use paddle.device.set_device API to set the global device. It may not be a good practice in paddle to transfer model between different devices. When not specified to a CPU device, GPU device will be used with higher priority whenever it's available.

[2021-12-26 18:17] Grant-Tao commented on #38453
@yingyibiao thanks a lot. If I have two models, (as GPU can only accomodate one model), one in CPU memory, one in GPU memory, I need exchange them periodically, how could I do? creating a new model on GPU each time, then set state dict?
and what is the layer.to api used for?

[2021-12-27 00:18] #38002 closed, assigned to haozech

[2021-12-27 01:02] chiehpower opened #38464 ""ARM 编译错误" 在ARM设备下，不能成功编译出whl档案"
### 版本、环境信息：
    1）PaddlePaddle版本：release/2.2
    2）ARM设备: NVIDIA Jetson AGX Xavier
    3）系统环境：JetPack 4.6, Python版本 3.8
### 安装方式信息：
1) 于docker内做编译 docker image: nvcr.io/nvidia/l4t-ml:r32.6.1-py3
2) Python 3.8
3) 操作流程参照此篇文章 https://www.codeleading.com/article/34695546218/
[code]
通过上述步骤。
一开始测试release/2.0但是失败。
[code]
创见一份脚本
[code]
更改为3.8
然后执行并产生出build资料夹于底下做make动作
[code]

已测试`release/2.0` 与 `release

[2021-12-27 03:30] Intsigstephon commented on #38464
您好，从报错信息上看，错误可能是由于未安装patchelf导致的，建议先尝试安装patchelf包试试，apt install patchelf ; 如未能解决还请继续反馈，谢谢

[2021-12-27 04:00] lidanqing-vv commented on #37005
During generating quant-aware models, some conv ops surrounding head op should be skipped and not be quantized, as shown in following code
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/modeling/heads/mask_head.py#L145
If you received generated quant model, You can skip this comment and use quant model Baidu provided.

[2021-12-27 04:01] lidanqing-vv commented on #37422
- python->C++ refactoring PR:
https://github.com/PaddlePaddle/Paddle/pull/38437
- Adapt new quant-aware model (have bug in save graph with removing quant-dequant op)
https://github.com/lidanqing-intel/Paddle/tree/develop-new-quant-strategy
oneDNN support
[code]
- GPU solution reference: https://github.com/PaddlePaddle/Paddle/blob/c396ee65c88aba6711b94db2bd9496ad60c019cd/paddle/fluid/framework/ir/q

[2021-12-27 05:20] IcarusWizard commented on #34220
Hi, @joey12300. I am also very interested in intergrade `paddle` to `einops`. `paddle.zeros([]).transpose([])` seems fixed in `paddlepaddle==2.2.0`, but `paddle.zeros([]).reshape([])` still get error:

[code]

[2021-12-27 06:49] chiehpower commented on #38464
hi @Intsigstephon

谢谢！安装之后，已解决。

[2021-12-27 06:49] #38464 closed, assigned to Intsigstephon

[2021-12-27 07:28] BeyondYourself opened #38477 "在使用LRScheduler后的optimizer中，如何修改lr"
paddle版本2.2.1
环境Linux  GPU
目前遇到的问题是，在加载了预训练模型后，想要修改其中的lr,但是目前官网的optimizer中关于lr的set是有如下的说明：

![image](https://user-images.githubusercontent.com/12640462/147445403-ab44415e-38e7-4a6b-9b5b-bb77602ecc20.png)

这种情况下，我该如何设置lr呢，我用的llr_scheduler为官方的ReduceOnPlateau

[2021-12-27 09:01] Ligoml commented on #36879
感谢开发者 @S-HuaBomb 的贡献，为 paddle 补齐了 HingeEmbeddingLoss 的 API：https://github.com/PaddlePaddle/Paddle/pull/37540
欢迎更多的开发者为 paddle 提出 new feature，甚至直接贡献 PR~让我们共建国产第一深度学习框架！

[2021-12-27 09:01] #36879 closed, assigned to nobody

[2021-12-27 12:10] chenjiyan2001 commented on #37401
【队名】：cHEn

【序号】：79

【论文】：Feature Generation by Convolutional Neural Network for Click-Through Rate Prediction

【状态】：报名&提交

【repo链接】：https://github.com/chenjiyan2001/paddle-FGCNN

[2021-12-27 14:19] Water2style commented on #38440
dictxxx = paddle.load('./xx.pdiparams')
这个dictxxx是一个 paddle.Tensor啊.  不是dict，怎么解析.
我感觉应该是一个类似于state_dict的东西啊。包括权重的名称和值。结果就一个tensor

[2021-12-27 15:24] GuoQuanhao commented on #37401
【队名】：HaoHao

【序号】：67

【论文】：Finding Tiny Faces

【状态】：提交

【repo链接】：https://github.com/GuoQuanhao/Tiny-Face-Paddle

[2021-12-27 16:33] jiangkejin555 commented on #37401
【队名】：Kok

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/JJ-ke/paddle

[2021-12-27 17:00] ruijiaz commented on #37401
【队名】：胖蘑菇蟹蟹

【序号】：14

【论文】：Rethinking Spatial Dimensions of Vision Transformers

【状态】：报名

【repo链接】：https://github.com/RuijiaZ/paddle_pit

[2021-12-28 01:48] Intsigstephon commented on #38477
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复

[2021-12-28 01:56] FL77N commented on #37401
【队名】：优雅永不过时

【序号】：203

【论文】：Focal Loss for Dense Object Detection

【状态】：报名&提交

【repo链接】：[RetinaNet](https://github.com/FL77N/RetinaNet-Based-on-PPdet)

[2021-12-28 02:15] Beacontownfc commented on #37401
【队名】：灯塔镇

【序号】：99

【论文】：LUKE: Deep Contextualized Entity Representations with Entity-aware Self-attention

【状态】：报名

【repo链接】：https://github.com/Beacontownfc/paddle_luke

[2021-12-28 03:55] Gmgge opened #38515 "MKL库是否会被正确使用"
系统环境/System Environment：centos7.4 cpu：E7-4820 V4
版本号/Version：Paddle：2.2.1 PaddleOCR：2.3
mkl加速异常
1.使用单核心 mkl开启 其他参数默认 测试图像平均时间4s；
2.使用单核心 mkl关闭 其他参数默认 测试图像平均时间2s；

无报错，预测结果正常，开启mkl后字符检测变快，但是方向分类与字符识别变慢。

想请问下，mkl库是否需要进行一定的配置？有小伙伴有这种情况嘛？同样的代码在其他cpu上可以正常加速。

[2021-12-28 06:43] #25455 closed, assigned to yongqiangma

[2021-12-28 06:43] #28331 closed, assigned to danleifeng

[2021-12-28 06:43] #29761 closed, assigned to sandyhouse

[2021-12-28 06:43] #29783 closed, assigned to ysh329

[2021-12-28 06:43] #29787 closed, assigned to ysh329

[2021-12-28 06:43] #29802 closed, assigned to ysh329

[2021-12-28 06:43] #29827 closed, assigned to lijianshe02

[2021-12-28 06:44] #29831 closed, assigned to lijianshe02

[2021-12-28 06:44] #29833 closed, assigned to lijianshe02

[2021-12-28 06:44] #29839 closed, assigned to lijianshe02

[2021-12-28 06:44] #29843 closed, assigned to lijianshe02

[2021-12-28 06:44] #29844 closed, assigned to bjjwwang

[2021-12-28 06:44] #29846 closed, assigned to bjjwwang

[2021-12-28 06:44] #29848 closed, assigned to chenwhql, bjjwwang

[2021-12-28 06:44] #29850 closed, assigned to bjjwwang

[2021-12-28 06:44] #29854 closed, assigned to bjjwwang

[2021-12-28 06:44] #29863 closed, assigned to bjjwwang

[2021-12-28 06:44] #29877 closed, assigned to hong19860320

[2021-12-28 06:44] #29886 closed, assigned to hong19860320, DannyIsFunny

[2021-12-28 06:44] #29887 closed, assigned to hong19860320

[2021-12-28 06:44] #29895 closed, assigned to wangchaochaohu

[2021-12-28 06:44] #29899 closed, assigned to wangchaochaohu

[2021-12-28 06:44] #29910 closed, assigned to wangchaochaohu

[2021-12-28 06:44] #29912 closed, assigned to wangchaochaohu

[2021-12-28 08:49] wayneck opened #38531 "发现一个bug，TypeError: 'tuple' object does not support item assignment"
name: Wayne
about: when i do https://github.com/PaddlePaddle/PaddleSeg/contrib/CityscapesSOTA/predict.py get the error info
2021-12-27 18:07:40 [INFO] Start to predict...
/usr/lib/python3/dist-packages/apport/report.py:13: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
import fnmatch, glob, traceback, errno, sys, atexit,

[2021-12-28 08:50] yt605155624 opened #38532 "InstanceNorm1D extra_repr 有问题"
如下图所示
![image](https://user-images.githubusercontent.com/24568452/147547368-d0713bb5-dffd-448e-acc4-890cbedc6d3e.png)
_InstanceNormBase 的 self.scale 可以为 None 的，但是如果其他报错栈需要调用 extra_repr() 这个函数，就会报错 AttributeError: 'NoneType' object has no attribute 'shape'
因为在 extra_repr() 里面要打印 self.scale.shape[0], 那当 self.scale 为 None 时就会报错
复现对齐需要，此处 self.scale 必须为 None, 报错是调用 remove_weight_norm() 的时候 InstanceNor

[2021-12-28 11:46] Intsigstephon commented on #38477
可以尝试按照这个链接的方式进行修改： https://github.com/PaddlePaddle/Paddle/blob/release/2.2/python/paddle/optimizer/optimizer.py#L182

[2021-12-28 12:04] #38448 closed, assigned to zhiboniu

[2021-12-28 12:05] zhiminzhang0830 commented on #37401
【队名】：zzm

【序号】：261

【论文】：Fourier Contour Embedding for Arbitrary-Shaped Text Detection

【状态】：报名&提交

【repo链接】：https://github.com/zhiminzhang0830/FCENet_Paddle

[2021-12-28 13:35] Zero-Tang opened #38549 "图像分类时报错OSError: (External) CUDA error(719), unspecified launch failure."
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
我使用的版本是2.2.1
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
GPU是Nvidia GeForce RTX2060 with Max-Q Design
CUDA版本为10.2
C

[2021-12-28 14:29] Huntersdeng commented on #37401
【队名】：IWIN-dgw

【序号】：46

【论文】：From Two to One: A New Scene Text Recognizer with Visual Language Modeling Network

【状态】：报名

[2021-12-28 15:00] Huntersdeng commented on #37401
【队名】：IWIN-dgw

【序号】：46

【论文】：From Two to One: A New Scene Text Recognizer with Visual Language Modeling Network

【状态】：报名

【repo链接】：https://github.com/Huntersdeng/Vision-LAN-paddle

[2021-12-28 17:11] renmada opened #38551 "【论文复现】aistudio上训练vit类模型报多进程的错"
训练到一半报错，训练2次都出现这个问题
[code]

[2021-12-28 17:26] renmada commented on #38551
每次epoch结束都会报warning，不知道是不是有关系
[code]

[2021-12-29 01:10] zzl120 opened #38556 "使用dataloader报错"
![微信图片_20211229090828](https://user-images.githubusercontent.com/57850296/147618125-88c84c95-6457-4bee-91a6-55d10407fdd2.png)

[2021-12-29 01:12] marsbzp opened #38557 "数据预处理在GPU上完成了，如何进行推理，不想再拷贝回cpu调CopyFromCpu去做推理，有没有好的方式"
数据预处理在GPU上完成了，如何进行推理，不想再拷贝回cpu调CopyFromCpu去做推理，有没有好的方式

[2021-12-29 02:23] Gmgge commented on #38515
目前又测试到一台机器 i5 7500 cenos7.4和ubuntu16.04都测试过，paddle版本与上文相同，也出现开启mkl加速变慢的情况。

[2021-12-29 02:54] jialiasus2 opened #38560 "paddle.nn.Upsample在gpu下对一维数据在长度较长时报错"
- 版本、环境信息：AIStudio BML Codelab 高级版 / pp 2.2.1 / Python3
- 报错信息：OSError: (External) CUDA error(700), an illegal memory access was encountered.
- 复现代码（这段代码没什么实际意义，就是为了用最少的代码说明问题）：
代码段1：
[code]
代码段2：
[code]
**注意：第一次运行一切正常，但反复运行第二个代码段（模拟循环训练），运行到第二次时就会报错**
这个问题其实不影响我使用，改成调用interpolate或者Conv1DTranspose就行了。
但我就是好奇啊，因为看了源代码也是直接调的interpolate，就封装了一层就报错了？真的想不通啊。

### 2021.12.30 update
新测了一下，interpolate对一维数据

[2021-12-29 02:56] codecookinging opened #38561 "[paddle UT] BUG"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2
    2）CPU：Intel(R) Xeon(R) Gold 6248R CPU @ 3.00GHz
    3）GPU：T4 ,cuda-10.0
    4）系统环境：linux Ubuntu 18.04.5 LTS python3.6
 这两个例子看起来都是 动态图 和静态图 训练结果不一致造成的。
(1)  test_imperative_qat_addquantdequant 例子报错
运行 "/home/cmake-

[2021-12-29 03:03] tink2123 commented on #38531
Thanks for your feedback, we will fix it as soon as possible.

[2021-12-29 03:11] Yuremin commented on #37401
【队名】：YBS

【序号】：84

【论文】：Convolutional Sequence to Sequence Learning

【状态】：报名

【repo链接】：https://github.com/Damian-Yu/ConvS2S.git

[2021-12-29 03:17] smallv0221 commented on #38515
您好，报错信息需要复现代码，请提供下最小可复现代码，我们复现后会尽快回复您～

[2021-12-29 03:30] bjjwwang commented on #38515
https://www.paddlepaddle.org.cn/tutorials/projectdetail/2538248 可以看看这个文档
[code]
我认为应该是math thread调大一些，但需要注意内存的消耗。

[2021-12-29 04:59] #38532 closed, assigned to smallv0221

[2021-12-29 05:08] smallv0221 commented on #38549
您好，报错信息需要复现代码，请提供最小可复现代码，我们复现后会尽快回复您～

[2021-12-29 06:13] BeyondYourself commented on #38477
@Intsigstephon 可否给个范例呢，这个是调用内部的变量进行赋值吧

[2021-12-29 06:51] RUIJIE-Z opened #38568 "paddle国产cpu编译问题"
   1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：ft2000+
    3）GPU：无
    4）系统环境：ubuntu16.04、Python3.7.2
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 安装方式信息：
1）源码编译           
- 问题描述：编译以及安装paddle都没问题，但最后import paddle时出现如下错误
- root@Kylin-101:/opt/paddle-py352# python3
Python 3.7.2 (default, Dec 15 2021, 02:28:13)
[GCC 9

[2021-12-29 06:52] Gmgge commented on #38515
你好，无任何报错，是性能相关的问题。
我查看了这些单核心开启mkl速度变慢的cpu都存在不支持avx512的情况 ，但是这些cpu在字符检测上面却表现出加速的效果，在方向分类与字符识别方向出现降速的情况。

**复现**
代码：https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.3
修改：PaddleOCR/tools/infer/utility.py中的cpu_threads为1
测试代码：python tools/infer/predict_system.py --image_dir="./imgs" --det_model_dir="./inference/ch_ppocr_mobile_v2.0_det_infer/" --cls_model_dir="./inference/ch_ppocr_mobile_v2.0_c

[2021-12-29 07:08] Gmgge commented on #38515
@bjjwwang 我使用的是python版本的paddlepaddle，调大thread确实会带来收益，但是我在Inter Xeon Silver 4216 CPU @ 2.10GHz 的cpu上面测试的结果是单核就可以提高OCR的速度。该处理器扩展指令集支持Intel® SSE4.2, Intel® AVX, Intel® AVX2, Intel® AVX-512，当然还存在一定的内存频率提升等等。
不过，如果在E7-4820 V4和i5 7500中 ，开启单核mkl 甚至多核mkl速度还慢于不开启mkl的单核。

在windows上，i5 9500单核心开启mkl可以获取明显的收益，而i5 9500相对于i5 7500并为发现扩展指令集的不同，但是为何开启mkl时，指定一个thread，却调用了全部的核心，在linux上却只会占据单核的100。

[2021-12-29 07:34] Ray8716397 opened #38571 "make编译的时候出现了问题"
我按照文档这样开始编译
cmake  ..     -DWITH_CONTRIB=OFF     -DWITH_MKL=OFF     -DWITH_MKLDNN=OFF      -DWITH_TESTING=OFF     -DCMAKE_BUILD_TYPE=Release     -DWITH_INFERENCE_API_TEST=OFF     -DON_INFER=ON  -DWITH_GPU=ON -DWITH_PYTHON=OFF

但是出错了:
[ 37%] Building CUDA object paddle/fluid/operators/CMakeFiles/spectral_op.dir/spectral_op.cu.o
/home/ray/Workspace/project/ocr/src/cpp_deployment/lib/Paddle/paddle/fl

[2021-12-29 07:46] Intsigstephon commented on #38477
是的。我可以加你个联系方式吗？ 好了解下实际的需求

[2021-12-29 07:56] BeyondYourself commented on #38477
@Intsigstephon   861937180   微信、QQ同号

[2021-12-29 08:01] wxzylforever opened #38575 "关于训练的时候使用 融合的Conv-BN：CudnnNormConvolution 的问题"
- 版本、环境信息：
   PaddlePaddle版本：develop分支，最新CommitID：fc0a50aa725de28f87640d3593ee23d062d49eef

- 训练信息
    训练时使用CudnnNormConvolution融合卷积和BN

- 问题描述：在训练过程中支持 Convolution 和BN做融合的功能非常好，但是输入数据和权重只能时float16吗？可以支持float32吗？不知道是不是我的用法有问题。
-
相关 https://github.com/PaddlePaddle/Paddle/issues?q=CudnnNormConvolution

[2021-12-29 08:03] codecookinging commented on #38571
根据报错信息 error: identifier "CUFFT_VERSION" is undefined 感觉可能是cufft 动态库版本不对，你可以查查
 find  /usr/ -name "*libcufft.so*"  这个库的版本是否准确。

[2021-12-29 08:13] Ray8716397 commented on #38571
$ ls -al /usr/local/cuda-10.1/targets/x86_64-linux/lib/libcufft.so
lrwxrwxrwx 1 root root 14 5月   6  2021 /usr/local/cuda-10.1/targets/x86_64-linux/lib/libcufft.so -> libcufft.so.10
$ ls -al /usr/local/cuda-10.1/targets/x86_64-linux/lib/libcufft.so.10
lrwxrwxrwx 1 root root 20 5月   6  2021 /usr/local/cuda-10.1/targets/x86_64-linux/lib/libcufft.so.10 -> libcufft.so.10.1.105
$ ls -al /usr/local/cuda

[2021-12-29 08:14] Ray8716397 commented on #38571
对的吧,我只装了一个cuda10.1

[2021-12-29 08:34] Ray8716397 commented on #38571
我把这行改了编译通过了  Paddle/paddle/fluid/operators/spectral_op.cu(316):
if (CUFFT_VERSION < 10200) { -> if (true) {

[2021-12-29 09:09] zh794390558 commented on #38433
当前batch的统计量可以用api的方式获取到。

[2021-12-29 09:11] zh794390558 commented on #38444
是和这个一样吗 https://pytorch.org/docs/1.9.1/generated/torch.optim.LBFGS.html？

[2021-12-29 09:39] zh794390558 commented on #38413
请问分布式训练后batch是否变大，batch变化loss也会有变化的。

[2021-12-29 09:45] smallv0221 commented on #38515
您好，我们的技术人员正在复现您的问题，排查出结果会第一时间通知您。

[2021-12-29 10:49] Zero-Tang commented on #38549
我用上面给出的python代码提取了图像之后并且生成了对应的`train_list.txt`和`val_list.txt`后，调用[这里的](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification)的`train.py`进行训练的时候报错了。
所以说，最小可复现代码已经给了。。。
训练用的图像来自https://image-net.org
![Capture](https://user-images.githubusercontent.com/37060901/147654452-23dbe9a0-5582-4af3-96b6-9258873b43b3.PNG)

[2021-12-29 12:20] KiritoSSR commented on #37401
【队名】：FairyTail
【序号】：51
【论文】：From Recognition to Cognition: Visual Commonsense Reasoning
【状态】：提交
【repo链接】：https://github.com/KiritoSSR/paddle_r2c

[2021-12-29 13:43] thisisi3 commented on #37401
【队名】：thestone

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution

【状态】：报名

【repo链接】：[Paddle-DetectoRS](https://github.com/thisisi3/Paddle-DetectoRS)

[2021-12-29 18:13] yharby commented on #38268
Full Crash Report
https://drive.google.com/drive/folders/1VwaeQfJoSZSKFpuAq3guk3XgsJrUHSSP?usp=sharing

[2021-12-30 02:10] Yuremin commented on #37401
【队名】：Domain Expansion

【序号】：89

【论文】：ProphetNet: Predicting Future N-gram for Sequence-to-Sequence Pre-training

【状态】：报名

【repo链接】：https://github.com/Damian-Yu/ProphetNet.git

[2021-12-30 02:50] weisy11 commented on #38551
可以提供一下最小的可复现代码么？从报错信息看不出什么问题。或者可以试试PaddleClas

[2021-12-30 02:56] Bradyzzhang commented on #19321
你好，我的dssm模型是训练的auc>0.8。采用了负采样，正负比例1：3，但是模型的faiss召回，hitrate只有YouTube DNN的1/3，请问可以帮忙debug一下吗？

[2021-12-30 02:59] weisy11 commented on #38560
好的，这个问题我们会跟进定位一下

[2021-12-30 03:05] weisy11 commented on #38561
好的，我们排查一下，感谢反馈

[2021-12-30 03:07] weisy11 commented on #38568
请问是按照这个教程的方法编译的吗？
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/arm-compile.html#anchor-0

[2021-12-30 03:08] RUIJIE-Z commented on #38568
是的，就是按照这个方法做的

---Original---
From: "Wei ***@***.***&gt;
Sent at: 2021年12月30日(Thu) Noon11:07
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/Paddle] paddle国产cpu编译问题 (Issue #38568)

请问是按照这个教程的方法编译的吗？
 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/arm-compile.html#anchor-0

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Tria

[2021-12-30 03:22] weisy11 commented on #38571
你好，这个问题我们已经修复过了，可以更新一下源码

[2021-12-30 03:22] iclementine commented on #38571
Some earlier versions of cufft.h does not have `CUFFT_VERSION` defined. This has been fixed.

See Pr https://github.com/PaddlePaddle/Paddle/pull/37312

[2021-12-30 03:27] weisy11 commented on #38575
你好，由于这个接口调用的cudnn的限制，目前只支持fp16

[2021-12-30 03:41] Xreki commented on #38575
@wxzylforever 请问您是什么场景需要使用该功能吗？

[2021-12-30 03:49] wxzylforever commented on #38575
自己搭建了一个训练模型，训练太慢了，想通过融合conv和bn来加速训练。

[2021-12-30 03:53] #36718 closed, assigned to nobody

[2021-12-30 03:57] wxzylforever commented on #38575
感谢大佬，我不是很懂cudnn，我看cudnn文档 https://docs.nvidia.com/deeplearning/cudnn/developer-guide/index.html#op-fusion  ，backend API，这个可以支持float32 的conv-bn融合吗，paddle后续有支持这个的计划吗？

[2021-12-30 04:14] #38477 closed, assigned to Intsigstephon

[2021-12-30 05:52] GuoQuanhao opened #38606 "脚本任务训练数据读取错误【论文复现】"
使用多卡训练(spwan机制)会出现如下警告，最终大概训练1.5天报数据输入输出错误
[code]
[code]

[2021-12-30 06:25] KinvenW commented on #34690
请问paddle2有类似pytorch的数据并行训练方式么？就是加载一个batch的数据，然后将其划分到不同卡

[2021-12-30 07:04] weisy11 commented on #38556
可以提供最小可复现的代码么？从截图信息看可能是自定义的数据读取函数有问题

[2021-12-30 07:06] weisy11 commented on #38557
请问是如何做的数据预处理呢？这里的问题可能主要是数据格式是否可以被paddle正确读取。比如采用dali读取和预处理的数据是可以直接使用的。可以参考：https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/ppcls/data/dataloader/dali.py

[2021-12-30 07:11] weisy11 commented on #38575
嗯，在这个页面中确实有说，输入需要是fp16的
![image](https://user-images.githubusercontent.com/19523330/147729563-8117f9d9-1562-4a48-a0e8-8cb737801f5b.png)
如果未来cudnn支持fp32，我们会跟进的

[2021-12-30 07:44] wxzylforever commented on #38575
感谢大佬们

[2021-12-30 08:10] wangxinxin08 commented on #38606
你好，感谢您的反馈，我们正在定位问题中

[2021-12-30 08:16] marsbzp commented on #38557
C++推理的时候也能使用dali吗，我用cuda实现了预处理实现分配了显存，如何把处理后的数据传给paddle进行推理

[2021-12-30 09:15] lidanqing-vv commented on #34927
np.uint16 is used as bfloat16 because np.uint16 was reserved datatype, for nothing else, that is why np.uint16 is temporarily used to represent bfloat16.
With https://github.com/PaddlePaddle/Paddle/pull/35332/files merged, then in `python/paddle/fluid/framework.py`, we just need to `import paddle_bfloat`, and then do
[code]
@Aganlengzi Hi so that bfloat16 PR is the only blocker for this issue.

[2021-12-30 09:19] syt-v commented on #37401
【队名】：hbnd

【序号】：998

【论文】：Recurrent Models of Visual Attention

【状态】：报名

【repo链接】：https://github.com/syt-v/Paddle_test

[2021-12-30 09:28] #38575 closed, assigned to weisy11

[2021-12-30 09:38] lidanqing-vv commented on #37422
@wozna

[2021-12-30 09:44] lidanqing-vv commented on #34927
@Aganlengzi Rewrite current paddle_bfloat16 is too big and even hard to estimate, we are supporting the Paddle community with mkldnn FP32/INT8/BF16 affinity, we actually don't have resources to implement numpy bfloat. Aligned with @jakpiase @wozna

[2021-12-30 10:15] d294270681 commented on #37401
【队名】：paddle_as_torch

【序号】：89

【论文】：ProphetNet: Predicting Future N-gram for Sequence-to-Sequence Pre-training

【状态】：报名

【repo链接】：https://github.com/d294270681/ProphetNet

[2021-12-30 10:17] d294270681 commented on #37401
【队名】：paddle_as_torch

【序号】：89

【论文】：ProphetNet: Predicting Future N-gram for Sequence-to-Sequence Pre-training

【状态】：报名

【repo链接】：https://github.com/d294270681/ProphetNet

[2021-12-30 10:29] developWmark opened #38615 "论文测试集对齐问题（论文复现）"

[2021-12-30 10:44] Aganlengzi commented on #34927
Yes I found the related PR https://github.com/PaddlePaddle/Paddle/pull/27325

[2021-12-30 10:51] Aganlengzi commented on #34927
@lidanqing-intel I asked internal PM to evaluate the paddle_bfloat16 package, it is ok to add the package into python/requirements.txt since it is a separate third-party package for Paddle. But as I commented in #35332, you have to create a new PR for reviewing because some CI pipelines can not get results.

[2021-12-30 11:57] CuberrChen commented on #37778
@huangjun12 可以稳定复现该问题。和当前设备的CUDA版本有关系，10.1的时候必报该错误，11.0则不会报错。

[code]

[2021-12-30 11:58] Water2style commented on #38440
你好,我load之后得到了一个dict.做了一些修改后, 然后再用paddle.save 下来一个新的 pdiparams.

然后用新的.pdiparams和旧的 .pdmodel 放一起.  但是我推理的时候,用 load_inference_model 会显示 反序列化失败...

错误如下:
ValueError: (InvalidArgument) Deserialize to tensor failed, maybe the loaded file is not a paddle model(expected file format: 0, but 4254401664 found).
[Hint: Expected version == 0U, but received version:4254401664 != 0U:0.] (at /paddle/paddle/fluid

[2021-12-30 12:26] jiweibo commented on #38557
目前应该还没有提供直接的方法，不过可以不调用copy_to_cpu，去取出gpu指针，做gpu间的拷贝
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/paddle_tensor.h#L79

[2021-12-30 12:34] adaxiadaxi commented on #38568
@RUIJIE-Z 同学你好，我是国产化环境适配paddle的产品经理，想更多了解咱们的适配情况和环境，如有需要可以添加我这边微信我们实时沟通更便捷：zxy8811666

[2021-12-30 12:46] CuberrChen opened #38618 "【论文复现】OSError: (External) CUDNN error(7), CUDNN_STATUS_MAPPING_ERROR."
- 标题：特定CUDA版本下稳定复现CUDNN error
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.1
    2）CPU：---
    3）GPU：V100 16G/32G
    4）系统环境：ubuntu 16.04，python 3.7

- 训练信息
    1）单机，单卡/多卡
    2）显存信息 16G/32G
    3）Operator信息
- 复现信息：代码中所有算子都是直接调用Paddle提供的卷积块，主要包含Conv3D，BN3D，Conv3DTranspose等模块。
- 问题描述：在CUDA版本为10.1/10.2时，稳定报如下错误。但是当CUDA版本为11.0以上版本时，可以正常训练完成。
  File "train_mgpu.py", line 284, in train
    loss.backward()
  Fil

[2021-12-30 13:36] CuberrChen commented on #38618
#37778 也提到了该问题。

[2021-12-30 14:55] huilin16 opened #38620 "请问paddle有图网络相关的api吗"
请问是否有没有paddle.geometry这种包，或者GNN相关的api

复现GNN网络论文需要用到

[2021-12-30 15:46] renmada commented on #38551
https://gitee.com/imxly2/paddle-vi-t/tree/PVTv2/image_classification/PVTv2

这是我在用的代码，run.sh修改相应的路径

[2021-12-30 21:03] Water2style commented on #38440
补充说明:

原版的，可以推理的.pdiparams模型，称为模型1.
Paddle.load起来，再用paddle.save后的模型，(中间没有任何改动，loadl后就save)称为模型2.

问题所在：
1. 用python的open和read()搭配，读出两个模型的二进制文件.
输出后发现两个模型的内容不同，并且使用 len()函数，发现len(模型1）比len(模型2）小，len（模型2）长了3000多.

2.load_inference_model出错主要在 反序列化参数这一步.即 deserialize_persistables(program, params_bytes, exe).

3.更详细的错误报告：

"""
File "/home/xieyunyao/miniconda3/envs/PP22/lib/python3.8/site-packages/paddle/

[2021-12-31 01:57] wangxinxin08 commented on #38618
你好，你的cudnn版本是什么？初步推测是cudnn版本和cuda版本不匹配导致的

[2021-12-31 01:57] wangxinxin08 commented on #38615
可以具体描述下你的问题吗？

[2021-12-31 02:01] wangxinxin08 commented on #38620
感谢您的反馈，目前暂时没有paddle.geometry包，你可以参考我们的[PGL](https://github.com/PaddlePaddle/PGL/tree/main/pgl)中的代码，看是否能满足你的需求

[2021-12-31 02:44] CuberrChen commented on #38618
@wangxinxin08

使用的是AIStudio提供的Notebook或者多卡脚本环境。

在如下环境下是正常的。
[code]

但是下面的环境就会出错。
比如下面这个多卡脚本环境：
[code]
看起来并不能通过env_summary得到多卡环境下的cuDNN信息..

[2021-12-31 02:48] baoachun opened #38626 "The mkldnn matmul_v2 op does not support broadcast when the dims length of two inputs are not equal."
![图片](https://user-images.githubusercontent.com/22114318/147799917-3ab17712-44f5-447f-8266-f04cb15e37b5.png)
![图片](https://user-images.githubusercontent.com/22114318/147799940-3b9c8859-93b4-4408-9246-954b19fec46a.png)

Steps to reproduce:
1. Pull this pr https://github.com/PaddlePaddle/Paddle/pull/38625, and cmake with `-DWITH_TESTING=ON`, then build paddle.
2. `ctest -R test_mkldnn_matmulv2 -V`

[2021-12-31 03:00] jakpiase commented on #38626
Hi @baoachun, I will start working at fixing this issue today

[2021-12-31 03:02] baoachun commented on #38626
Got it, thanks a lot!

[2021-12-31 03:22] XYZ-916 opened #38628 "export_model时出现了TypeError: The type of 'x' in assign must be (<class 'paddle.fluid.framework.Variable'>, <class 'numpy.ndarray'>, <class 'paddle.VarBase'>), but received <class 'int'>.错误"
![image](https://user-images.githubusercontent.com/14884056/147801306-08164fd0-64bc-4340-804c-f3a8f02b332c.png)

个人猜测是roi_x1 = paddle.index_select(roi, index=paddle.to_tensor(0), axis=1)中index=paddle.to_tensor(0)出现了错误。

辛苦看下，谢谢～

[2021-12-31 03:34] Ligoml commented on #38620
这里有一个PGL聚类的样例可以参考下，这个demo的功能是用PGL 的node2vec（可以使用各种GNN），将图中节点转换成连续的向量表示，再用kmeans聚类：https://github.com/PaddlePaddle/PGL/tree/main/examples/graph_based_clustering_demo

[2021-12-31 03:36] WenmuZhou commented on #38628
你好，`paddle.to_tensor(0)` 这种操作在~~2.2+~~ 2.0+ 的版本里都是支持的，可以升级PaddlePaddle到最新版2.2.1试一下

[2021-12-31 03:38] XYZ-916 commented on #38628
我用的2.0.1版本，是不支持吗？

[2021-12-31 05:20] wangxinxin08 commented on #38618
@CuberrChen 可以使用以下命令`find / -name "*cudnn*.so*"`查找下cudnn的版本

[2021-12-31 05:34] HydrogenSulfate commented on #38549
您好，看起来是输入中的labels范围超出了[0,1000)这一区间范围，可以检查一下labels确认一下。

[2021-12-31 05:45] jefferyeven commented on #37401
【队名】：不知道起啥名就这样吧

【序号】：89

【论文】：ProphetNet: Predicting Future N-gram for Sequence-to-Sequence Pre-training

【状态】：报名

【repo链接】：https://github.com/jefferyeven/paddle_ProphetNet.git

[2021-12-31 05:53] baoachun commented on #38126
Hi @jczaja , at present, a user encounters the inference error problem, which is caused because conv2d does not support NHWC format.
![图片](https://user-images.githubusercontent.com/22114318/147805937-ab300300-a121-47a2-9055-ae8c7cb7e2d0.png)
<img width="687" alt="图片" src="https://user-images.githubusercontent.com/22114318/147806014-e89b587c-b149-4626-83e8-5ff91b7b2420.png">

[am_veo.tar.gz](https:

[2021-12-31 06:02] CuberrChen commented on #38618
nvidia-smi：
[code]
nvcc -V：
[code]
find / -name "*cudnn*.so*"：
[code]

env_summary:
[code]
@wangxinxin08
不过。怎么会存在cuda版本和cudnn版本不匹配的问题，都是Aisdtudio配好的环境，运行其他的程序也没问题的。
但是想来也不是我脚本code的问题呀，因为在cuda11.0的时候可以正常训练....

[2021-12-31 06:11] qing130 opened #38634 "paddlepaddle 训练灰度图出错"
Python版本：python 3.7
框架版本：PaddlePaddle 2.2.1
反正就是百度AI studio的版本

问题描述：
自己搭建输入单通道图像的模型，然后输入单通道是图像，报错。

"""
test_model= nn.Sequential(
  nn.Conv2D(in_channels=1,out_channels=16,kernel_size=3),
  nn.MaxPool2D(kernel_size=2),
  nn.Conv2D(in_channels=16, out_channels=32, kernel_size=3),
nn.MaxPool2D(kernel_size=2),
nn.Conv2D(in_channels=32, out_channels=32, kernel_size=3),
nn.MaxPool2D(kernel_size=2),

[2021-12-31 06:13] CuberrChen commented on #38618
从这些信息中能推断出问题在哪里吗？或者能提供一个暂时的解决办法吗？ 目前需求多GPU训练，但是多卡脚本环境都是CUDA10.1/ 10.2。

[2021-12-31 06:21] sdcb opened #38635 "Paddle推理库C API不应该要求用户使用C运行时API free函数去释放内存"
这个API：
[code]

返回了一个C风格内存地址，该内存是通过malloc分配的，文档要求用户通过C运行时的free函数释放：
https://paddle-inference.readthedocs.io/en/latest/api_reference/c_api_doc/Config/OtherFunction.html#config
![image](https://user-images.githubusercontent.com/1317141/147807007-46bd060d-205e-4652-90ad-547d925130f9.png)

这不符合库函数C API的需求，即内存分配管理的两种选项：
1、要求用户管理内存，即用户分配内存，用户传入指针表示返回值
2、如果库分配内存，库也应该提供释放内存的API

因为C运行时API free函数是C运行时依赖的，不同

[2021-12-31 06:41] WenmuZhou commented on #38634
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。在此之前，您可以先自己实现一下相关的预处理op，这个不难的，在github都能搜到对应的代码

[2021-12-31 07:00] jiweibo commented on #38635
感谢建议，C API中会增加对const char* 的处理，预计2.2.2 1月初修复。

[2021-12-31 07:17] blackhitomi opened #38639 "GPU版本paddle编译完成无libpaddle_inference.so文件"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0-rc1
    2）CPU：
    3）GPU：1080ti cuda10.1 cudnn7.6
    4）系统环境：ubuntu c++

===============
cpu版本的动态库编译正常，但gpu版本编译完成仅有libpaddle_fluid相关库文件，没有libpaddle_inference的相关库文件，不知道是否哪里设置不对？
配置参数：
cmake -DCMAKE_BUILD_TYPE=Release \
      -DWITH_PYTHON=OFF \
      -DWITH_MKL=OFF \
      -DWITH_GPU=ON  \
      -DON_INFER=ON \
      -DWITH_NCCL=OFF \
      -DWITH_AVX=OFF \

[2021-12-31 08:11] baoachun commented on #37422
python->C++ move to new PR: https://github.com/PaddlePaddle/Paddle/pull/38643

[2021-12-31 08:17] baoachun commented on #37422
@lidanqing-intel @wozna  I am wondering whether we can refer to the quantization pass of the GPU to do the mkldnn quantization pass scheme. Because there are a lot of weight processing in the current Python script, it is not in line with the design function of pass, and the code is difficult to maintain. For example, this pass involves transferring data between multiple passes. As far as I know, t

[2021-12-31 08:42] applezjm opened #38644 "有没有封装好的hinge loss"
有没有封装好的hinge loss，或者相关实现

[2021-12-31 08:44] wangxinxin08 commented on #38618
可以提供下任务编号，AI studio的同学帮你定位一下问题

[2021-12-31 08:53] JeremyZhao1998 commented on #37401
【队名】：丰收厅的斯莱特林

【序号】：105

【论文】：Nyströmformer: A Nyström-Based Algorithm for Approximating Self-Attention

【状态】：报名

【repo链接】：https://github.com/JeremyZhao1998/Nystromformer-Paddle

[2021-12-31 08:56] CuberrChen commented on #38618
@wangxinxin08
多卡任务：114251

[2021-12-31 08:59] WenmuZhou commented on #38644
您好，这个是你需要的吗  https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_graph/erniesage/models/loss.py#L54

[2021-12-31 09:22] Zero-Tang commented on #38549
确实是labels超了，谢谢。

[2021-12-31 09:22] #38549 closed, assigned to smallv0221

[2021-12-31 10:04] wangxinxin08 commented on #38618
@CuberrChen 你训练报错的环境是AI studio提供的环境吗？

[2021-12-31 10:29] CuberrChen commented on #38618
@wangxinxin08 是啊。无论是Notebook环境还是多卡脚本环境，都出现了这个错误。

[2021-12-31 12:28] wangxinxin08 commented on #38618
能分享下你的项目吗？

[2021-12-31 15:15] sxj731533730 opened #38652 "dell 笔记本编译paddle 错误"
本地编译错误信息
In file included from /home/ubuntu/paddle/paddle/fluid/platform/host_event_recorder.cc:12:
/home/ubuntu/paddle/paddle/fluid/platform/host_event_recorder.h: In member function ‘paddle::platform::ThreadEventSection paddle::platform::ThreadEventRecorder::GatherEvents()’:
/home/ubuntu/paddle/paddle/fluid/platform/host_event_recorder.h:207:21: error: moving a local object in a return statement

[2022-01-01 05:52] yghstill commented on #38561
@codecookinging 关于量化训练精度问题，请更新PaddlePaddle源码到2.2再测试下看是否还有问题。

[2022-01-01 07:26] laihuihui commented on #37401
【队名】：喵呜

【序号】：107

【论文】： Instances as Queries

【状态】：报名

【repo链接】：https://github.com/laihuihui/InstancesAsQueries_Paddle

[2022-01-01 10:21] fox2049 commented on #38444
对的

[2022-01-01 11:27] Chenfei-Kang opened #38655 "怎么按照索引取出对应位置的张量？？"
比如一个张量x的shape是[4, 32, 48]，对应了一个RNN的输出(维度对应 batch_size = 4, sequence_length = 32, hidden_size = 48)，但是输入是不定长的，所以在sequence_length这个维度上，按照输入的句子长度index = [1,3,4,4] 来取张量，返回值output应该是[4, 1, 48]，也就是说batch里的每一条数据都需要取最后一个隐藏层的状态(不定长)，我看paddle.gather和index_selected都不是这种实现，所以有对应的API吗？
按照公式写就是:
output[i, 0,  k] = x[i, index[i], k]

[2022-01-01 11:40] sosojust1984 commented on #37401
【队名】：sosojust

【序号】：47

【论文】： LGPMA: Complicated Table Structure Recognition with Local and Global Pyramid Mask Alignment

【状态】：报名

【repo链接】：https://github.com/sosojust1984/LGPMA

[2022-01-01 12:18] Qinbf opened #38656 "对多张图片连续识别时程序异常卡死并退出"
软件：
电脑环境windows10
paddleocr版本2.3.0.2
paddlepaddle-gpu版本2.2.1
python版本3.8
CUDA版本11.1
硬件：
CPU：Intel i8-8700K
GPU：RTX1080Ti
程序：
[code]

问题描述：
在使用paddleocr的时候出现paddle的错误
我收集了1000张图片用for循环进行连续识别，程序很简单，没什么特别的。出现的问题有两种情况：
1.程序运行到一半会无缘无故卡死并退出，并且卡死的位置具有随机性，每次运行程序卡死位置可能都不同，偶尔也可以全部检测完毕。
退出信息为：
exited with code=3221225477
2.程序运行到一半会无缘无故卡住但不退出。没有错误信息，并且卡住的位子具有随机性，每次卡住的位置不同，偶尔也可能不会卡住全部检测完毕。

补充说明：
1.通过vscode调试工

[2022-01-02 02:00] Dandelight commented on #37401
【队名】：Dandelight

【序号】：49

【论文】：Attention on attention for image captioning

【状态】：报名

【repo链接】：https://github.com/Dandelight/AoAnet-PaddlePaddle

[2022-01-02 03:21] fuqianya commented on #37401
【队名】：fuqianya

【序号】：50

【论文】：Oscar: Object-Semantics Aligned Pre-training for Vision-Language Tasks

【状态】：报名

【repo链接】： https://github.com/cattidea/Oscar-Paddle

[2022-01-03 02:46] WenmuZhou commented on #38652
你好，请问是什么场景需要自己编译呢

[2022-01-03 06:10] sxj731533730 commented on #38652
我需要在PC端，先验证一下效果，然后部署到嵌入式开发版，是jetson还是rk3399 或者手机端，另定。<br/>这里有两个问题：1 首先你不会让我去更改我系统的gcc版本去来迎合你的paddle编译环境吧<br/>2 我需要在PC端单步调试和研究学习paddledetection源码<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<br/><br/><br/><div class="ntes-mailmaster-quote" style="padding-top: 1px; padding-bottom: 1px" >
    <div style=" margin-top: 2em; margin-bottom: 1em; fon

[2022-01-03 06:38] Wu-Jiayang opened #38663 "error code is 126"
- 标题：error code is 126
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu-2.2.1.post112
    2）CPU：3600X
    3）GPU：3060
    4）系统环境：win10、python3.8
    5）cuda11.2.、cudnn8.2.1
    6）Driver API Version: 11.5, Runtime API Version: 11.2

- 复现信息：paddle.utils.run_check()
- 问题描述：The third-party dynamic library (cublas64_112.dll;cublas64_11.dll) that Paddle depends on is not configured correctly. (error code

[2022-01-03 06:41] Wu-Jiayang commented on #38663
![image](https://user-images.githubusercontent.com/62842862/147904884-9971ec0e-c19c-4cb3-bcc5-8b43d7959c79.png)
![image](https://user-images.githubusercontent.com/62842862/147904906-ed2e35aa-67c4-4400-8cec-ccaca8c61158.png)

[2022-01-03 07:34] ghost opened #38664 "import _distutils_hack.override # noqa: F401 ModuleNotFoundError: No module named '_distutils_hack'"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2022-01-03 09:51] yghstill commented on #38663
@Wu-Jiayang 检查一下本地CUDA环境及CUDNN正常吗？
可以通过下面指令看下版本：
[code]
cudnn可进入 CUDA 的安装目录查看文件 cudnn.h

[2022-01-03 10:14] yghstill commented on #38664
@xueyongfu
What is the running code, can you describe it in detail? thanks~ （请问详细的运行报错代码或指令是什么，可以详细描述一下吗？）

[2022-01-03 11:17] Wu-Jiayang commented on #38663
通过这种方式检查cuda 11.2
cudnn 8.2.1

[2022-01-03 11:18] Wu-Jiayang commented on #38663
通过这种方式检查cuda 11.2
cudnn 8.2.1

[2022-01-03 11:18] Wu-Jiayang commented on #38663
@yghstill 通过这种方式检查cuda 11.2
cudnn 8.2.1

[2022-01-03 11:57] Wu-Jiayang commented on #38663
解决了，在cuda安装目录下找到他所说的cublas64_11.dll文件，复制到C:\Windows\System32，重启ide即可。别问，问就是玄学

[2022-01-03 11:57] #38663 closed, assigned to yghstill

[2022-01-03 14:04] BamLubi commented on #37401
【队名】：BamTeam

【序号】：82

【论文】：CAN: Revisiting Feature Co-Action for Click-Through Rate Prediction

【状态】：报名

【repo链接】： https://github.com/BamLubi/Paddle-CAN

[2022-01-03 20:40] jakpiase commented on #38038
Hi @baoachun, fix PR has been merged already, so could you please confirm that this problem is resolved?

[2022-01-03 20:40] jakpiase commented on #37990
Hi @baoachun, fix PR has been merged already, so could you please confirm that this problem is resolved?

[2022-01-04 02:21] justld opened #38666 "【论文复现赛】脚本任务提交一直失败"
环境：
脚本任务
paddlepaddle==2.2.1
情况描述：
提交脚本任务后运行失败，且无任何日志信息。大概是从1月2号开始至1月4号期间一直失败。
任务id：
114826
114785
114784
114777
114736
114726

[2022-01-04 02:24] WenmuZhou commented on #38628
我刚刚试了一下2.0.0也是支持的

[2022-01-04 02:25] baoachun commented on #38038
Hi @jakpiase, the problem has been solved, thanks!

[2022-01-04 02:30] #38038 closed, assigned to baoachun, jakpiase

[2022-01-04 02:38] baoachun commented on #37990
Hi @jakpiase, the problem has been solved, I would like to ask why the data arrangement format can be obtained by the size of the step size？Is there any relevant information to find the basis for this processing method? Thanks!

[2022-01-04 03:08] yangrisheng opened #38668 "请问安装cuda11.2的时候报cudnn不是8.2的。但是nvidia官网8.2的cudnn对应着的是11.3的cuda。"
![Uploading 28729E3C-D1E8-409A-98D0-3E861C7D5C7F.jpeg…]()

[2022-01-04 03:21] Gmgge commented on #38515
你好，有任何消息嘛？

[2022-01-04 03:26] Lieberk opened #38670 "【论文复现】paddle的affine_grid如何实现三维功能"
paddle的affine_grid只针对2维的图像，对于三维的有没有好的办法实现affine_grid功能，急需要解决！

[2022-01-04 03:28] bjjwwang commented on #38515
sorry 久等，请教了下开发过mkl接口的同学

---
这个我理解和指令集有关系，AVX-512的话性能收益应该会明显一些。

关于他说的 俩老的CPU（都没有AVX-512）性能表现不一致，这个不太好说了，因为我们相当于直接用的mkldnn第三方库，应该是mkldnn这个库的行为是这样导致的

[2022-01-04 03:30] Lieberk opened #38671 "【论文复现】default_collate的paddle实现"
关于pytorch的default_collate功能在paddle里有没有对应的实现办法。如果有的话，希望老师对于实现过程解释的详细一点，谢谢老师。

[2022-01-04 03:59] WenmuZhou commented on #38652
paddle目前只支持了gcc 8.2哈，需要降级之后再编译

[2022-01-04 04:08] cuicheng01 commented on #38666
您的反馈我们已经收到，我们跟进下哈~另外具体的失败信息可以补充下吗？

[2022-01-04 04:09] cuicheng01 commented on #38668
您好，图片我这里看不到，可以重新贴一下图片吗？

[2022-01-04 04:10] yangrisheng commented on #38668
Running verify PaddlePaddle program ...
W0104 09:58:23.099630 7912 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.2, Runtime API Version: 11.2
W0104 09:58:23.109603 7912 device_context.cc:465] device: 0, cuDNN Version: 8.1.
W0104 09:58:24.399132 7912 device_context.h:397] WARNING: device: 0. The installed Paddle is compiled with CUDNN 8.2, but CU

[2022-01-04 04:25] yangrisheng commented on #38668
Running verify PaddlePaddle program ...
W0104 09:58:23.099630 7912 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.2, Runtime API Version: 11.2
W0104 09:58:23.109603 7912 device_context.cc:465] device: 0, cuDNN Version: 8.1.
W0104 09:58:24.399132 7912 device_context.h:397] WARNING: device: 0. The installed Paddle is compiled with CUDNN 8.2, but CU

[2022-01-04 05:38] yangrisheng opened #38673 "请问 那个root info是在哪里打印的？py文件是在哪里呀？"
就是root INFO信息，这个py文件在哪？以及在哪调用的呢？我不太找得到。。。

[2022-01-04 06:12] cuicheng01 commented on #38670
您好，这个目前pytorch的代码是什么样子的呢？我帮忙看下~

[2022-01-04 06:23] winter-wang commented on #38656
您好，ocr使用过程中出现的问题需要您去ocr的仓库中提交issue.会有ocr方向的同事负责跟进。

[2022-01-04 06:29] cuicheng01 commented on #38671
您好，这里最好贴一下pytorch的使用方式呢~

[2022-01-04 06:31] cuicheng01 commented on #38666
之前应该是平台的问题，现在应该是可以了，麻烦您再check下~

[2022-01-04 06:36] cuicheng01 commented on #38668
麻烦您贴一下您安装的命令吧~谢谢

[2022-01-04 06:37] yangrisheng commented on #38668
官网的命令安装的。python -m pip install paddlepaddle-gpu==2.2.1.post112 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html

[2022-01-04 06:38] yangrisheng commented on #38668
这个warning  不影响使用。但是为啥会这样呀？不是说搭配8.1使用吗？又弹出一个这个warning？没搞懂

[2022-01-04 06:40] cuicheng01 commented on #38668
好的，我们跟进下这个问题，感谢反馈~

[2022-01-04 06:47] #24968 closed, assigned to nobody

[2022-01-04 06:47] #25948 closed, assigned to nobody

[2022-01-04 06:47] #26047 closed, assigned to nobody

[2022-01-04 06:47] #29870 closed, assigned to hong19860320, yaoxuefeng6

[2022-01-04 06:47] #29935 closed, assigned to willthefrog

[2022-01-04 06:47] #29944 closed, assigned to willthefrog

[2022-01-04 06:47] #29978 closed, assigned to LielinJiang

[2022-01-04 06:47] #30030 closed, assigned to zhiqiu

[2022-01-04 06:47] #30058 closed, assigned to gfwm2013

[2022-01-04 06:47] #30062 closed, assigned to jiweibo

[2022-01-04 06:47] #30063 closed, assigned to jiweibo

[2022-01-04 07:00] cuicheng01 commented on #38673
您好，您具体想看到哪个root INFO信息呢？方便贴个图片吗？

[2022-01-04 07:04] yangrisheng commented on #38673
![1](https://user-images.githubusercontent.com/39787375/148021690-1c0e0c82-072a-457f-a5b0-4cb3432acad2.png)
比如这个日志信息，在哪里能看到呢？想看这个文件在哪。不是输出文件。 @cuicheng01

[2022-01-04 07:12] Ligoml commented on #37615
事实上 paddle 也是支持 paddle.nn.functional.tanh() 的调用方式的~你可以自己测试下

[2022-01-04 07:19] cuicheng01 commented on #38673
您好，这个每一个repo实现的位置可能不一样，比如PaddleClas，打印时间的info信息在：https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/ppcls/utils/logger.py#L45

[2022-01-04 07:20] yangrisheng commented on #38673
明白了。在logger.py里面。感谢

[2022-01-04 07:35] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：211

【论文】：Panoptic Feature Pyramid Networks

【状态】：报名&提交

【repo链接】：https://github.com/PaddlePaddle/PaddleSeg/pull/1681

[2022-01-04 07:52] baoachun commented on #38626
Hi @jakpiase, after merging your repair code, there is still a problem that the output shape is incorrect.
![图片](https://user-images.githubusercontent.com/22114318/148026639-d1284946-d48c-42bb-9b34-1602dde86bde.png)

[2022-01-04 08:13] #38666 closed, assigned to cuicheng01

[2022-01-04 08:57] baoachun opened #38687 "There is a quantize op error when turning on mkldnn bf16 in inference mode."
The bf16 related pass will insert quantize op to graph when turning on mkldnn bf16, but there is no int quantize kernel when the input data type of original op is int.
![图片](https://user-images.githubusercontent.com/22114318/148032848-91e10d22-61d4-4f7b-af23-96330b386692.png)

<img width="904" alt="图片" src="https://user-images.githubusercontent.com/22114318/148032894-2c2ab505-cf02-4d71-a72d-5993af

[2022-01-04 08:59] baoachun commented on #38687
@lidanqing-intel

[2022-01-04 09:28] wenming2014 commented on #38655
其他框架有对应接口吗？

[2022-01-04 09:34] Chenfei-Kang commented on #38655
有的，比如torch的gather函数就可按照一个输入长度取RNN的最后一个状态。具体看torch.gather用法，paddle.gather和这个区别很大。

[2022-01-04 09:41] Ligoml commented on #38644
HingeEmbeddingLoss已经在 develop 版本中实现，如果这是你需要的 api，你可以安装 develop 版本 paddle 使用：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/HingeEmbeddingLoss_cn.html

[2022-01-04 09:43] ganyixian opened #38690 "使用paddle.jit.load加载paddlehub与训练模型后计算梯度报错"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle 1.8.5
    2）GPU：Cuda10.0
    3）系统环境：Linux Ubuntu 16.04.7; Python 2.7
- 模型信息
    1）模型名称: paddlehub pretrained yolov3_darknet53_vehicles
- 复现信息：
错误代码：
<img width="550" alt="截屏2022-01-04 下午5 37 17" src="https://user-images.githubusercontent.com/43914299/148039163-30a7443f-89ae-422e-b224-d96b230b2eb6.png">
报错信息：
<img width="749" alt="截屏2022-01-04 下午5 39 22"

[2022-01-04 10:05] xinsuinizhuan opened #38691 "能否提供一个，windows C++ 支持tensorrt8的版本，目前的tensorrt8需要cudnn8.2，而最高版本cuda11.0，只支持trt7,再以上就没有了"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2022-01-04 10:19] cuicheng01 commented on #38691
您好，这里看一下有你需要的版本吗？https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#id2

[2022-01-04 10:20] Shixiaowei02 commented on #38639
您好，请按文档操作，使用 `make inference_lib_dist` 进行产出，谢谢

[2022-01-04 10:20] Ligoml commented on #38671
![image](https://user-images.githubusercontent.com/39876205/148043899-f9c13128-16a8-483f-a1c5-bf31bae1bcb6.png)
你可能想问的是这种用法吧，default_collate是框架里实现的默认处理data的方式，通常不会暴露出来，paddle.fluid 的方式也不推荐使用，建议你使用 paddle.io.DataLoader 的方式处理数据集，设定参数collate_fn的使用方式，torch 也是这样操作的，当然，你也可以自定义collate方式~
文档参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DataLoader_cn.html

[2022-01-04 10:44] baoachun opened #38693 "[High priority bug] Need to fix mkldnn conv3d"
![图片](https://user-images.githubusercontent.com/22114318/148046949-e4ff4143-ee91-4dd7-9f1a-eac8c624f13e.png)

Steps to reproduce:

1. Pull this pr https://github.com/PaddlePaddle/Paddle/pull/38692
2. cmake with `-DWITH_TESTING=ON`, then build paddle.
3. ~~`ctest -R test_mkldnn_conv3d -V`~~ `ctest -R test_mkldnn_conv3d_op -V`

[2022-01-04 10:44] baoachun commented on #38693
@lidanqing-intel

[2022-01-04 11:49] GreenValue commented on #30734
@TeslaZhao
AnalysisPredictor现在能拿到featuremap吗？
paddle_clas的Python 预测推理 已经可提取特征了。[3. 特征提取模型推理](https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/docs/zh_CN/inference_deployment/python_deploy.md#3)
c++还不行吗？

[2022-01-04 11:51] blackhitomi commented on #38639
您好，问题已经找到，2.0版本的可以 带rc的不行，应该是版本问题，感谢解答！

[2022-01-04 11:51] #38639 closed, assigned to WenmuZhou

[2022-01-04 12:15] cuicheng01 commented on #38690
您好，这里使用可能有点问题，首先，inference model没有backward pass，其次，loss.backward()不应该放在model.eval()之后，另外注意到您使用的PaddlePaddle版本也比较低，建议以后使用PaddlePaddle最新的版本~

[2022-01-04 13:11] sneaxiy commented on #38655
@Chenfei-Kang 目前暂时没有直接可用的API，您可以这么做：

[code]

[2022-01-04 13:14] #38655 closed, assigned to nobody

[2022-01-04 13:44] blackhitomi opened #38700 "C++编译库的预测问题"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 2.0
    2）CPU：\
    3）GPU：1080ti、k40c
    4）系统环境：ubuntu 18.04

请问，我在1080ti上编译好的.so文件为什么没法用在k40c上，除了显卡和驱动不一样，cuda版本都是10.1的，cudnn7.6.5以及NVCC版本全部一样。
在1080ti上编译好了，可以正确执行paddleocr的预测，而k40c上预测出一堆乱码。（不启用GPU则可以正确检测）

此外，jetson nano上编译的也只能用在nano上，没法用在jetson nx上，是否也是一样的原因？

[2022-01-04 14:47] IcarusWizard commented on #37401
【队名】：SOLO

【序号】：63

【论文】：Unsupervised Monocular Depth Estimation with Left-Right Consistency

【状态】：报名

【repo链接】：https://github.com/IcarusWizard/monodepth-paddle

[2022-01-04 14:48] IcarusWizard commented on #37401
【队名】：SOLO

【序号】：64

【论文】：Digging Into Self-Supervised Monocular Depth Estimation

【状态】：报名

【repo链接】：https://github.com/IcarusWizard/monodepth2-paddle

[2022-01-04 15:05] renmada commented on #37401
【队名】：arbiter

【序号】：268

【论文】：Drop an Octave: Reducing Spatial Redundancy in Convolutional Neural Networks with Octave Convolution

【状态】：报名&提交

【repo链接】：https://github.com/renmada/PaddleClas/tree/reproduction

[2022-01-04 15:11] Lieberk commented on #38670
这是pytorch的代码:
grid = nn.functional.affine_grid(theta, size, align_corners)
sample = nn.functional.grid_sample(
            input,
            grid,
            mode,
            padding_mode,
            align_corners,
        )
affine_grid()和grid_sample()是配套使用的，这里我拿affine_grid()说明一下问题。
pytorch的affine_grid()官方解释如下：
<img width="537" alt="05b7cd7d5835413b399228462bd1734" src="https://user-images.git

[2022-01-04 15:33] Lieberk commented on #38671
老师您好，我就是想实现这样的操作，但我这边处理的数据更复杂一点，里面不光是元组和数组，还有一些字典也需要做这样的操作。如果使用paddle.fluid方式 ，对于老师举的这样的转换操作的例子，是可以实现处理包括元组、列表、字典等各种数据类型吗？

现在不推荐使用之前paddle.fluid 的方式，使用paddle.io.DataLoader 的方式处理数据集应该具体如何去操作，是全部都在collate_fn里操作吗？

torch框架里大部分这样的操作还是用了default_collate去处理，那么对于paddle有没有比较正式统一的类似处理方法，希望得到老师的解答，这一直困扰着我。

[2022-01-04 15:44] GuoQuanhao commented on #37401
【队名】：HaoHao

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名&提交

【repo链接】：https://github.com/GuoQuanhao/YOLOX-Paddle

[2022-01-04 15:46] Lieberk opened #38701 "【论文复现】self.apply()和初始化实现问题"
以下是pytorch代码
<img width="372" alt="0e0b5c5a07aeff79c2e7ca189500346" src="https://user-images.githubusercontent.com/57614716/148085233-f2dfcdf7-5b91-42a6-a02d-11e3472ce6f9.png">

我这里有两个问题麻烦老师解决一下：
1. 我想问一下pytorch的self.apply()功能在paddle有没有对应的实现方式？
2. 上述pytorch的nn.init.constant_功能用paddle如何实现？上述的_init_weights(）用paddle应该怎么实现？

[2022-01-04 17:14] wozna commented on #38687
@baoachun  The bfloat16 system supports conversion only from float32 to bfloat16, that is why this error occurred. I added checking input data type in cpu_bfloat16_placement_pass here https://github.com/PaddlePaddle/Paddle/pull/38702 and this resolves the error you have found.

[2022-01-04 21:21] jakpiase commented on #37990
Hi @baoachun, what do you mean by "the size of the step size"? Could you please point me to some place in code which interests you?

[2022-01-04 23:41] jakpiase commented on #38626
Hi @baoachun, I have fixed the wrong output formats in the next commit, could you confirm that now it passes all tests?

[2022-01-05 01:03] xinsuinizhuan commented on #33178
能否把第三方库给出类似PaddleX里面的链接这样的：
![图片](https://user-images.githubusercontent.com/40679769/148144259-d2721b9c-8fa4-4f41-9fd8-0aac1e60d0be.png)
这样，我使用git下载的时候，就都下载下来了，翻墙即可。但是现在的模式，翻墙什么的，统统不管用，手动下载下下来，不知道往哪里放，然后版本也不匹配。然后，官方提供的库，又不全，自己编译又编译不了，实在没法用。我要使用tesnorrt8，但是目前官方提供的C++ windows库，最高是cuda11.0,匹配的是trt7,cudnn8.0.

[2022-01-05 01:06] xinsuinizhuan commented on #38691
我要用C++ windows版本的库，然后trt8，但是您自己看下：
![图片](https://user-images.githubusercontent.com/40679769/148144573-c9d24d8b-951c-4582-a1c2-a7ecbeb0b190.png)
目前最高提供的库是cuda11.0 匹配的是trt7,同时只能匹配cudnn 8.0的库

[2022-01-05 01:35] ganyixian commented on #38690
您好，可是我看到有教程是通过jit.load加载了通过save.inference.model接口保存的模型然后进行梯度计算的啊。如果模型没有backward pass的话请问有没有办法可以使用paddlehub的预训练模型进行预测并且计算梯度呢？谢谢！

[2022-01-05 01:44] panicwq opened #38704 "训练语义分割模型，自动下载deeplabv3预训练模型DeepLabv3p_Xception65_COCO后，但报错不是有效参数。"
Exception: File output/meter_seg\pretrain\DeepLabv3p_Xception65_COCO is not a paddle parameter file
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu   2.2.1
    2）Paddlex: 1.3.10
    3）系统环境：win10 python3.8
    4) GPU:GTX1650Ti  CUDA10.2 cudnn 8.2.2.26
- 训练信息
    1）单机，单卡

[2022-01-05 01:57] baoachun commented on #37990
Hi @jakpiase, just from this https://github.com/PaddlePaddle/Paddle/blob/d1dc677a584393ca9494c2a73596268ed281fc24/paddle/fluid/platform/mkldnn_helper.h#L219

I'm wondering the relationship between the stride and the format tag, and where I can get these information, thanks.

[2022-01-05 02:05] Lieberk commented on #38670
您好，pytorch的代码我已贴出并说明，希望能得到解决，非常急需要。如果都不行，只能自己重新写一个支持三维的api，但这会很麻烦。

[2022-01-05 02:11] cuicheng01 commented on #38700
您好，可以在详细描述下问题吗？编译的什么so文件呢？编译流程是按照哪个文档走的呢？

[2022-01-05 02:16] cuicheng01 commented on #38701
您好，您可以参考[SwinTransformer](https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/ppcls/arch/backbone/model_zoo/swin_transformer.py#L699)
来实现`self.apply()`和`_init_weights()`，pytorch中的的`nn.init.constant_`可以参考[Constant初始化](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/initializer/Constant_cn.html#constant)。

[2022-01-05 02:18] pussss opened #38706 "PaddleDetection预测的时候报错，我融入了两个模型"
ExternalError:  Cuda error(719), unspecified launch failure.
      [Advise: Please search for the error code(719) on website( https://docs.nvidia.com/cuda/archive/10.0/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038 ) to get Nvidia's official solution about CUDA Error.] (at C:\home\workspace\Paddle_release3\paddle\fluid\platform\stream\cuda_stream

[2022-01-05 02:24] blackhitomi commented on #38700
您好，编译的2.0版本的paddle，c++库，libpaddle_inference.so文件。编译流程按照官方文档走的，编译好的库文件用来跑2.0-rc1版本的paddleocr的，用在编译的机器上没问题，用在另外一台不同显卡的机器上ocr识别有问题

[2022-01-05 02:24] blackhitomi commented on #38700
您好，编译的2.0版本的paddle，c++库，libpaddle_inference.so文件。编译流程按照官方文档走的，编译好的库文件用来跑2.0-rc1版本的paddleocr的，用在编译的机器上没问题，用在另外一台不同显卡的机器上ocr识别有问题

[2022-01-05 02:27] baoachun commented on #38626
Hi @jakpiase, all test cases have passed, you can also verify by yourself.

[2022-01-05 02:29] cuicheng01 commented on #38691
您好，您的问题我们已收到，我们会尽快排期更新trt8的预测库，感谢您提出的宝贵意见，谢谢。

[2022-01-05 02:31] jakpiase commented on #38626
Hi @baoachun, I have verified it by myself, but I just wanted to have your confirmation, since last time my last fix did not cover wrong output formats

[2022-01-05 02:31] #38626 closed, assigned to baoachun, jakpiase

[2022-01-05 02:32] cuicheng01 commented on #38700
您好，这两台其他硬件环境是否一致呢？编译时的选项是不是只适合第一台机器呢？

[2022-01-05 02:36] blackhitomi commented on #38700
硬件显卡不一样，但是cuda和cudnn版本一样，编译的架构默认的all

[2022-01-05 02:37] jakpiase commented on #37990
Hi @baoachun, oneDNN has a nice tutorial for understanding memory format tags and strides: https://oneapi-src.github.io/oneDNN/dev_guide_understanding_memory_formats.html. If you will need some more information, please let me now

[2022-01-05 02:52] baoachun commented on #33069
这个现在是int8精度下降吗？问题是什么呢？

[2022-01-05 02:57] cxxly commented on #38704
您好，辛苦提供下复现该问题最小代码。

[2022-01-05 02:58] jiandanqi commented on #37401
【队名】：两个祺

【序号】：65

【论文】：Exploring Simple Siamese Representation Learning

【状态】：报名

【repo链接】：https://github.com/jiandanqi/simsiam_paddle

[2022-01-05 02:59] cxxly commented on #38706
您好，请提供下复现该问题软硬环境信息和最小代码，方便我们定位问题。

[2022-01-05 03:00] jakpiase commented on #37990
A really short explanation that is skipping most things that are included in oneDNN's explanation:
Let us understand NCHW format as ABCD for simplicity. When we have a tensor with dims: (2, 3, 4, 5) and layout ABCD, the strides are:
stride\[3\](D) = 1
stride\[2\](C) = stride\[3\](D) * dims\[3\] = 5
stride\[1\](B) = stride\[2\](C) * dims\[2\] = 20
stride\[0\](A) = stride\[1\](B) * dims\[1\] = 60
Th

[2022-01-05 03:00] #38635 closed, assigned to WenmuZhou

[2022-01-05 03:04] pussss commented on #38706
好的，cuda版本为10.2，paddlepaddle-gpu 为2.1.2，paddlex 为2.0.0rc4，
![image](https://user-images.githubusercontent.com/86936794/148154177-1ea8d7ba-3008-4aa5-97e6-89ff198196ef.png)
![image](https://user-images.githubusercontent.com/86936794/148154265-1ac9e1ef-a8da-43d5-873b-7e2e00ca2b45.png)
![image](https://user-images.githubusercontent.com/86936794/148154273-50773259-1069-4682-888a-cf89b0626530.png)
![imag

[2022-01-05 03:07] BeyondYourself commented on #37401
【队名】：beyond

【序号】：23

【论文】：Video-to-Video Synthesis

【状态】：报名

【repo链接】：https://github.com/BeyondYourself/paddle-vvs

[2022-01-05 03:12] BeyondYourself commented on #37401
【队名】：beyond

【序号】：32

【论文】：Vision Transformers for Dense Prediction

【状态】：报名

【repo链接】：https://github.com/BeyondYourself/paddle-dpt

[2022-01-05 03:24] Lieberk commented on #38701
已解决，感谢老师~

[2022-01-05 03:26] heavengate commented on #38706
看报错信息是CUDA launch报错，你是不是使用了多进程做预测部署，使用多进程的话需要每个子进程创建自己单独的Predictor

[2022-01-05 03:28] pussss commented on #38706
我确实是使用了多进程，“每个子进程创建自己单独的Predictor” 这个能详细点吗，我不太理解具体的

[2022-01-05 03:34] panicwq opened #38711 "训练时完成一个epoch后总会崩溃停止训练"
- 标题：在尝试官方提供的蔬菜分类和工业指针表计读数案例时，都出现了训练了一个epoch后崩溃停止训练
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle-gpu 2.2.1  paddlex 2.0.0
     2）GPU：GTX 1650Ti CUDA10.3 cudnn8.2.2
    4）系统环境：win0 python3.8
- 训练信息
    1）单机，单卡
    2）4G显存
    3）蔬菜分类训练参数都是默认值，工业表计读数batchsize为1
- 具体问题：
1、spyder运行：
![image](https://user-images.githubusercontent.com/43361466/148156469-9fece1e0-58e3-4c8e-8efe-39287c70185a.png)
2、终端运行
![i

[2022-01-05 03:38] cuicheng01 commented on #38700
您把两台机器具体的硬件信息、cuda、cudnn版本、编译命令贴一下吧，方便我们定位问题~以及再确认下，目前是只编译预测库的问题还是编译整个Paddle的问题呢？

[2022-01-05 03:47] panicwq commented on #38704
代码就是paddlex官方案例：工业指针表计读数中训练语义分割模型的代码 train_segmentation.py
`import os

os.environ['CUDA_VISIBLE_DEVICES'] = '0'

import paddlex as pdx
from paddlex.seg import transforms

meter_seg_dataset = 'https://bj.bcebos.com/paddlex/examples/meter_reader/datasets/meter_seg.tar.gz'
pdx.utils.download_and_decompress(meter_seg_dataset, path='./')

train_transforms = transforms.Compose([
    transforms.Resize([5

[2022-01-05 03:55] cxxly commented on #38711
您好，案例链接和复现代码辛苦提供下，我们本地复现下。

[2022-01-05 03:56] cxxly commented on #38711
看到你在另一个issue https://github.com/PaddlePaddle/Paddle/issues/38704 提了，是同一个问题吧

[2022-01-05 05:32] cuicheng01 commented on #38671
您好，这个就是目前paddle正式统一的处理方法，paddle目前支持的数据类型有tensor, numpy.ndarray, dict, list, number。你这边的需求可以满足。可以直接把pytorch的使用方式挪过来哈~

[2022-01-05 05:35] panicwq commented on #38711
不是同一个问题

[2022-01-05 06:06] cuicheng01 commented on #38671
您好，麻烦您再提供一个pytorch的单测例子吧，包括数据、Dataloader部分，保证可以跑通的代码，我这边帮看下paddle的写法。

[2022-01-05 06:19] cxxly commented on #38711
@FlyingQianMM

[2022-01-05 06:19] cxxly commented on #38704
@FlyingQianMM

[2022-01-05 06:29] jiweibo commented on #38568
您好，可以尝试下换用最新的patchelf工具重新编译下？这个问题比较奇怪，可以先试下是否是patchelf版本过低导致的

[2022-01-05 06:38] cuicheng01 commented on #38670
您的问题已收到，确认了下目前paddle的affine_grid不支持3D。您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。

[2022-01-05 06:54] cuicheng01 commented on #38690
您好，方便贴一下您说的教程吗？您这边我理解是要进行预测，预测为什么要计算梯度呢？没太理解您的意思哈

[2022-01-05 07:02] Lieberk commented on #38670
因为论文复现必须用到这个三维处理的功能，能不能尽快评估完善，这边急需要使用，谢谢老师。

[2022-01-05 07:18] FlyingQianMM commented on #38711
1、PaddleX请升级至2.1.0
2、请使用PaddleX动态图训练脚本，https://github.com/PaddlePaddle/PaddleX/tree/develop/tutorials/train
3、如果安装的paddlepaddle_gpu是针对cuda10.2，例如：
![image](https://user-images.githubusercontent.com/22235422/148176015-52c26510-3bc1-479f-ab18-a85c15c44b5e.png)
试下降cuda版本至10.2，降cudnn版本至7.6.5
![image](https://user-images.githubusercontent.com/22235422/148176107-5d4f07ec-46b6-4962-8778-f337b3cfb954.png)

[2022-01-05 07:19] FlyingQianMM commented on #38704
该问题用户已在PaddleX github提了相同的issue，https://github.com/PaddlePaddle/PaddleX/issues/1334 。
问题解答将直接至https://github.com/PaddlePaddle/PaddleX/issues/1334 进行

[2022-01-05 07:19] wanghaoshuang commented on #38670
您好，`affine_grrid` 目前不支持3D-Input.
您可以将affine_grid的out_shape设置为`[N, C*D, H, W]`, 然后将grid_sample的input reshpe为`[N, C*D, H, W]`, 最后将grid_sample的output reshape为`[N, C, D, H, W]`.

[2022-01-05 07:25] ganyixian commented on #38690
paddle官网上jit.load的使用示例的第二部分
<img width="842" alt="截屏2022-01-05 下午3 22 34" src="https://user-images.githubusercontent.com/43914299/148176641-03a2ea65-76b2-4988-a8c2-09c44ed423fa.png">
<img width="823" alt="截屏2022-01-05 下午3 23 41" src="https://user-images.githubusercontent.com/43914299/148176782-5c2be1c3-9599-40d4-87df-95cc6583f796.png">
<img width="833" alt="截屏2022-01-05 下午3 23 56" src="https://use

[2022-01-05 07:34] Lieberk commented on #38670
老师，对于affine_grid(theta, size, align_corners)，如果按照您说的这样的处理方式，那么theta对于2维的形状为(N, 2, 3)，那么按照上述方式使用paddle的话，3维的theta是不是不用调整，直接是(N, 3, 4)输入进去就行吗？

[2022-01-05 08:11] jyjfjyjf opened #38717 "（论文复现）模型参数转换成float16无法读取，pytorch就可以"
paddlepaddle 2.21 rtx3090
pytorch模型转换成paddle模型的时候保存为float16，在读取这个模型时报错：
AssertionError: Variable dtype not match, Variable [ embedding_0.w_0 ] need tensor with dtype float32  but load tensor with dtype float16
但是我把参数保存成float32的模型，paddle会把pytorch的float16参数还原成float32，小数点后的值会更精确，这样paddle和pytorch的模型权重精度不一样，值也就不一样了
举个例子一个linear层pytorch的weight参数是：
tensor([[[ 0.9105,  2.0717,  0.4330,  ...,  2.0011,  0.5

[2022-01-05 08:16] xinsuinizhuan commented on #38691
嗯嗯。希望尽快哦，在等着用。希望最好是cudnn8.2以上的版本 trt8

[2022-01-05 08:20] Isabellahu opened #38718 "加载模型参数后，保存模型报错"
- 报错日志：
![image](https://user-images.githubusercontent.com/35736172/148183812-7c19f614-b701-4b2c-8eb6-65261770b4e4.png)
![image](https://user-images.githubusercontent.com/35736172/148183880-be854f50-9aee-4844-afbf-211eeb5b34b7.png)

- PaddlePaddle版本：
1.3.1

- 代码片段：
[code]

[2022-01-05 08:49] cuicheng01 commented on #38690
您好，这里是train的过程，是可以计算梯度的，您的代码是eval的过程，是不计算梯度的，改成train模式哈~

[2022-01-05 08:50] FlyingQianMM commented on #38711
该问题用户已在PaddleX github提了相同的issue，PaddlePaddle/PaddleX#1333 。
问题解答将直接至PaddlePaddle/PaddleX#1333 进行

[2022-01-05 08:51] #38704 closed, assigned to cxxly

[2022-01-05 08:51] #38711 closed, assigned to cxxly

[2022-01-05 08:57] Li-Jiajie opened #38721 "Lod Tensor使用Embedding时出现 Expected ids_dim.size() == 2, but received ids_dim.size():3"
版本2.2.1
sparse部分定义的主要代码如下
sparse_input_ids = [
            paddle.paddle.static.data(name="C" + str(i), shape=[None, 10], lod_level=1, dtype="int64")
            for i in range(1, self.sparse_inputs_slot)
        ]
sparse_var = paddle.unsqueeze(sparse_var, axis=2)
            embedding_out = paddle.paddle.static.nn.sparse_embedding(input=sparse_var, size=[self.sparse_feature_number, self.sparse_fe

[2022-01-05 09:07] cxxly commented on #38718
从上述代码片段看不出错误，不过从异常信息判断像是self.feed_target_names有些holder没初始化，可以加载之后加些日志检查下这些变量。

[2022-01-05 09:33] cuicheng01 commented on #38670
我们内部会安排评估，未来有计划尽快回复。另外问下，你是在复现哪篇文章用到这个API呢？

[2022-01-05 09:34] zbdehh commented on #37401
【队名】：我们还行吧，那当然

【序号】：36

【论文】：Training Generative Adversarial Networks with Limited Data

【状态】：报名

【repo链接】：https://github.com/begins233/paddle_stylegan2_ada

[2022-01-05 09:35] wumuyu9 opened #38722 "在编译paddlepaddle的c++版本中使用make指令时候报错"
在编译paddlepaddle的c++cpu版本中使用make指令时候报错，最开始是git无法clone thirty_party，修改了https:/...为git://...之后仍然报如下错误，不管是使用docker安装还是普通虚拟机安装。

If you want to create a new branch to retain commits you create, you may
do so (now or later) by using -b with the checkout command again. Example:

  git checkout -b <new-branch-name>

HEAD is now at 9f75c5aa8 Merge pull request #2337 from sergiocampama/deprecation
Submodule

[2022-01-05 10:01] Lieberk commented on #38670
我准备复现序号33的UNETR: Transformers for 3D Medical Image这篇论文，能否加急解决一下。是否可以按照上一位老师说的将affine_grid的out_shape设置为[N, C*D, H, W], 然后将grid_sample的input reshpe为[N, C*D, H, W], 最后将grid_sample的output reshape为[N, C, D, H, W]这样的方法，如果可以这样转换，那theta形状可以直接是(N, 3, 4)输入吗？
| |
陈立志
|
|
***@***.***
|
签名由网易邮箱大师定制
在2022年1月5日 ***@***.***> 写道：

我们内部会安排评估，未来有计划尽快回复。另外问下，你是在复现哪篇文章用到这个API呢？

—
Reply to this email directly, view it

[2022-01-05 10:02] Lieberk commented on #38670
我准备复现序号33的UNETR: Transformers for 3D Medical Image这篇论文，能否加急解决一下。是否可以按照上一位老师说的将affine_grid的out_shape设置为[N, C*D, H, W], 然后将grid_sample的input reshpe为[N, C*D, H, W], 最后将grid_sample的output reshape为[N, C, D, H, W]这样的方法，如果可以这样转换，那theta形状可以直接是(N, 3, 4)输入吗？

[2022-01-05 10:58] Wangzheee commented on #38700
编译预测库的时候有个命令是-DCUDA_ARCH_NAME 默认是Auto，会根据硬件架构自动检测。您的1080ti是图灵架构、k40c是特斯拉架构，所以编译的产出不能通用。可以编译的时候加上-DCUDA_ARCH_NAME = All 就可以编译所有架构的产出

[2022-01-05 11:11] cxxly commented on #38722
从报错信息看到是下载第三方依赖失败，Paddle编译需要从Github上下载一些第三方依赖，需要配置个代理
[code]

[2022-01-05 11:13] cxxly commented on #38721
您好，提供下环境信息和最小复现代码集，方便我们复现问题。

[2022-01-05 11:45] cuicheng01 commented on #38670
我理解theta的形状应该是不变的，你这边也可以试下

[2022-01-05 11:48] stevekd opened #38727 "paddlepaddle分布式环境部署和超大规模稀疏特征embedding的训练？"
1 我自己的集群如何分布式环境部署？
2 我现在是个简单模型，但是要训练出上亿节点的稀疏ID-embedding，采用paddlepaddle的哪种分布式的训练方法

之前https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/distributed/large_scale_sparse_feature_training.html
说的是Fluid支持千亿量级超大规模稀疏特征embedding的训练，embedding参数只会保存在parameter server上，通过 参数prefetch和梯度稀疏更新的方法，大大减少通信量，提高通信速度。

fluid可以支持，那么现在fleetx如何使用呢？

[2022-01-05 11:50] Li-Jiajie commented on #38721
这个问题可能是哪个方向有错误呢，Ids是指啥？（我是ps CPU模式，paddle 2.2.1）
先想请教下我这样的用法对不对：样本里一个Slot会有多个key，这些key都需要look up出embedding结果，然后把同一slot id下多个key的embedding结果sum得到一个tensor，再做后续操作
这种需求是应该用lod吗
lod应该如下定义吗，lod_level=1?
paddle.paddle.static.data(name="C" + str(i), shape=[None, 10], lod_level=1, dtype="int64")

每个lod对应一个Slot下的多个key，使用前会增加一维得到[BatchSize, KeyNums, 1]
经sparse_embedding后得到[batchsize, KeyNums, dim]
sum后得到[bat

[2022-01-05 12:49] cxxly commented on #38717
Paddle对float16支持有限，支持float16 op列表参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/amp/Overview_cn.html。  可以将PyTorch模型参数以float32保存，然后通过Paddle加载。Paddle支持自动混合精度进行训练加速
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/01_paddle2.0_introduction/basic_concept/amp_cn.html

[2022-01-05 13:47] Isabellahu commented on #38718
增加日志检查代码如下：
[code]
日志显示是 一些包含 tmp的变量有问题：
![image](https://user-images.githubusercontent.com/35736172/148227641-2b29da58-53aa-4c46-873d-a52d7c37f656.png)

[2022-01-05 13:59] jyjfjyjf commented on #38717
可是对齐的时候误差就在10的负4次方了啊

[2022-01-05 15:20] #37990 closed, assigned to jakpiase

[2022-01-06 01:28] FightingFrogg opened #38735 "LSTM 使用 delattr 删除属性，会生成一个其他的属性"
class MyLayer(paddle.nn.Layer):
        def __init__(self):
            super(MyLayer, self).__init__()
            self.lstm1 = paddle.nn.LSTM(400, 200)
            self.lstm2 = paddle.nn.LSTM(600, 300)
            delattr(self.lstm1, 'bias_hh_l0')

        def forward(self, input):
            pass

    mylayer = MyLayer()
    for name, param in mylayer.named_parameters():
        print(name)
结果

[2022-01-06 01:37] FightingFrogg commented on #37401
【队名】：不会怎么办

【序号】：92

【论文】：Universal Language Model Fine-tuning for Text Classification

【状态】：报名

【repo链接】：https://github.com/FightingFrogg/ULMFiT_paddle

[2022-01-06 03:07] ganyixian commented on #38690
您好，那请问使用Paddlehub的与训练模型的时候有办法可以提取出中间层的结果吗？比如我现在在使用yolo_v3_darknet53的模型，我想提取出最后在nms之前的检测结果，除了使用静态图的program executor运行模型的program并抓去中间结果之外有别的办法吗？谢谢

[2022-01-06 03:08] HC-2016 opened #38742 "同一份输入数据（两种产出方式）在相同上下文中运行paddle executor.run() 耗时差一倍"
问题的背景：
基于profiler进行paddle模型算子性能分析时，发现profile统计的模型耗时总时长远小于time.start 统计的耗时
<img width="900" alt="0669c69776147d4318e080aa8996bde8" src="https://user-images.githubusercontent.com/22096916/148321587-42cddd66-a82a-4e88-8f5b-28ffa8f15234.png">

<img width="933" alt="aac6048f3f5a73a985df444a5feefe01" src="https://user-images.githubusercontent.com/22096916/148321606-46bc39eb-357d-4621-a998-d9c0008df1e6.p

[2022-01-06 03:24] xinyu12138 commented on #37401
【队名】：USMyyds

【序号】：75

【论文】：NRPA: Neural Recommendation with Personalized Attention

【状态】：报名

【repo链接】：https://github.com/usm12138/Paddle-NRPA

[2022-01-06 03:25] usm12138 commented on #37401
【队名】：USMyyds

【序号】：75

【论文】：NRPA: Neural Recommendation with Personalized Attention

【状态】：报名

【repo链接】：https://github.com/usm12138/Paddle-NRPA

[2022-01-06 04:09] IcarusWizard commented on #37401
【队名】：SOLO

【序号】：63

【论文】：Unsupervised Monocular Depth Estimation with Left-Right Consistency

【状态】：提交

【repo链接】：https://github.com/IcarusWizard/monodepth-paddle

[2022-01-06 04:31] cxxly commented on #38718
静态图临时变量是运行时生成，组网阶段获取不到变量数据。静态图打印参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/Print_cn.html#print。 "holder_ should not be null"  debug 方法参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/1.7/faq/train_cn.html#q-holder-should-not-be-null

[2022-01-06 05:36] blackhitomi commented on #38700
感觉，确实是这样，已经可以用了！太感谢了
不过他们文档上怎么写的默认是All呢

[2022-01-06 06:06] sandyhouse commented on #38727
https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/parameter_server/index.html ps使用可以参考这个文档。

[2022-01-06 06:32] #38700 closed, assigned to cuicheng01

[2022-01-06 06:39] Andy1314Chen commented on #37401
【队名】：A3

【序号】：70

【论文】：DSelect-k: Differentiable Selection in the Mixture of Experts with Applications to Multi-Task Learning

【状态】：报名 & 提交

【repo链接】：[https://github.com/Andy1314Chen/PaddleRec/tree/mtl-dselect-k](https://github.com/Andy1314Chen/PaddleRec/tree/mtl-dselect-k)

[2022-01-06 07:32] JunnYu commented on #37401
【队名】：TIPC好难搞

【序号】：241

【论文】：ConvBERT: Improving BERT with Span-based Dynamic Convolution

【状态】：报名 & 提交

【repo链接】：https://github.com/JunnYu/ConvBERT-Prod

[2022-01-06 07:57] yt605155624 opened #38758 "F.pad 不支持 2D Tensor"
torch 在 mode == "constant"（默认模式）其实是可以支持 2D Tensor 的，如下所示
https://github.com/pytorch/pytorch/blob/b0fdca885547efedddc4e9cfe78a5e0d7838e9f0/torch/nn/functional.py#L4339
希望修一下，因为在模型里面随便引入 numpy pad 之后再 to_tensor 的话，动转静可能是会有问题的
增加一个维度再 pad 再 squeeze 未免过于丑陋

[2022-01-06 08:49] XYZ-916 commented on #38628
我从2.0.1版本升级到2.2.1解决了该问题，但是原因不清楚。

[2022-01-06 08:51] WenmuZhou commented on #38656
用户已在ocr下提问

[2022-01-06 09:31] tianxin1860 commented on #38742
请问两种产出方式有什么区别？2 中方式产出后的数据有什么区别？

[2022-01-06 09:33] cxxly commented on #38721
1）从上述代码示例看不出问题，ids没有上下文，不太清楚，上述代码是你参考的一些示例？ 2）你的第二个问题可以参考下https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/2.0.html 3) padde2.x LodTensor会逐步废弃，替代方案可以参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/2.0.html padding/bucketing

[2022-01-06 09:53] cxxly commented on #38717
模型保存和加载都是float32，训练时可以用float16加速。

[2022-01-06 09:58] cxxly commented on #38717
是用的x2paddle，还是自己写的转换方法？

[2022-01-06 11:41] Andy1314Chen opened #38768 "sparse_tensor 问题"
请问, PaddlePaddle 现在有支持 sparse tensor 吗?  类似 pytorch 的 torch.sparse_coo_tensor 和 tensorflow 的 SparseTensor?

API 文档中没有找到类似描述及说明。

[2022-01-06 11:52] wumuyu9 commented on #38722
这有没有调整源的方法，比如gitee，或者将https://***.git改成git://***.git，通常我使用这种方法都可以下载github中的库，但是在这个third_party下我没有找到benchmark文件夹，但是有像protobuf文件夹，这些文件夹中有src文件夹，文件夹中存在.cmake文件，可以修改源

[2022-01-06 11:53] wumuyu9 commented on #38722
这有没有调整源的方法，比如gitee，或者将https://***.git改成git://***.git，通常我使用这种方法都可以下载github中的库，但是在这个third_party下我没有找到benchmark文件夹，但是有像protobuf文件夹，这些文件夹中有src文件夹，文件夹中存在.cmake文件，可以修改源

[2022-01-06 12:37] 670133189 opened #38773 "可视化卷积结果，类似 torch 的 make_grid()"
请问 paddle 如何可视化卷积结果，类似 torch 的 make_grid()

![conv1_1](https://user-images.githubusercontent.com/18096556/148384027-d1021019-d580-41e0-a94f-bd17bfa7a267.jpg)

[2022-01-06 12:42] Aganlengzi commented on #34927
@lidanqing-intel hi, Danqing, bfloat16 PR has been merged. Please continue this issue ~

[2022-01-06 14:16] Gmgge commented on #38515
是否会因为mkldnn兼容模式引起的呢？有任何人复现到这种情况吗？因为我测试的机器通常来说都是离线机器，可能存在系统库版本较老问题？

[2022-01-06 14:24] jyjfjyjf commented on #38717
自己写的转换方法，复现课程里面的，每一个全连接层转置

[2022-01-06 15:40] leiqing1 opened #38778 "Paddle Inference python能推理，像使用mkldnn功能，但是报错"
使用python接口进行推理，通过config.enable_mkldnn()配置
报如下错误：

python3 python_demo.py --model_file ./resnet50/inference.pdmodel --params_file ./resnet50/inference.pdiparams --batch_size 2
E0106 23:22:01.993271 338939392 analysis_config.cc:306] Please compile with MKLDNN first to use MKLDNN
False
Traceback (most recent call last):
  File "python_demo.py", line 72, in <module>
    main()
  File "python_demo.py",

[2022-01-06 23:29] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Paddle-MAE

[2022-01-06 23:31] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：2

【论文】：Swin Transformer V2: Scaling Up Capacity and Resolution

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-Swin-Transformer-V2

[2022-01-06 23:34] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：3

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-MnasNet

[2022-01-06 23:37] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：4

【论文】：XCiT: Cross-Covariance Image Transformers

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-XCiT

[2022-01-06 23:42] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：5

【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-Cream-of-the-Crop

[2022-01-06 23:44] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：6

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-CycleMLP

[2022-01-06 23:46] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：7

【论文】：HRFormer: High-Resolution Transformer for Dense Prediction

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-HRFormer

[2022-01-07 00:15] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：8

【论文】：PVTv2: Improved Baselines with Pyramid Vision Transformer

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-PVTv2

[2022-01-07 00:17] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：9

【论文】：Emerging Properties in Self-Supervised Vision Transformers

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Emerging-Properties-in-Self-Supervised-Vision-Transformers

[2022-01-07 00:19] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：13

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-CvT

[2022-01-07 00:23] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：14

【论文】：Rethinking Spatial Dimensions of Vision Transformers

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-PiT

[2022-01-07 00:27] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：15

【论文】：VoxelNet: End-to-End Learning for Point Cloud Based 3D Object Detection

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-VoxelNet

[2022-01-07 00:41] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：16

【论文】：RetinaMask: Learning to predict masks improves state-of-the-art single-shot detection for free

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-RetinaMask

[2022-01-07 00:43] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-DetectoRS

[2022-01-07 00:45] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-YOLOX

[2022-01-07 00:47] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：107

【论文】：Instances as Queries

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Instances-as-Queries

[2022-01-07 00:50] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：23

【论文】：Video-to-Video Synthesis

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Video-to-Video-Synthesis

[2022-01-07 02:00] silentvv commented on #37401
【队名】：单人旅途

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：https://github.com/silentvv/MAE-Paddle

[2022-01-07 02:42] AlisaChen98 opened #38780 "docker中直接pip install paddlepaddle安装error的问题"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle 2.2.1
    2）CPU：非必要
    3）GPU：非必要
- 安装方式信息：
1）编写本地基于python的paddlepaddle应用
2）将1）中的应用打包进docker，dockerfile如下
[code]
3）上述dockerfiler用到的requirements.txt为
[code]
4）生成dockerimage时报错，找不到对应版本的paddlepaddle
![image](https://user-images.githubusercontent.com/45112983/148482790-804783fc-4ab2-4092-a45b-a208d6945fa1.png)

[2022-01-07 02:51] CuberrChen commented on #37401
【队名】：波波啥也不会

【序号】：15

【论文】：VoxelNet: End-to-End Learning for Point Cloud Based 3D Object Detection

【状态】：报名 & 提交

【repo链接】：https://github.com/CuberrChen/VoxelNet

[2022-01-07 03:05] xinyu12138 opened #38781 "论文复现】 将pytorch 换成 paddle 后显存不够，调小batch_size仍不够"
PaddlePaddle版本：2.2.1  GPU：cuda 11.2  ubuntu 20
- 训练信息
    1）单机，单卡
    2）显存信息 显卡共24G内存

复现的过程中仅将pytorch中的相应的函数替换成了paddle，且在cpu上能运行成功，但在gpu上报错显存不够。
![微信截图_20220107105706](https://user-images.githubusercontent.com/45567402/148484400-2d4f7a3b-2f81-40e9-ad12-8369bb9b9ca3.png)
在训练文件train.py中仅仅将
model  = model.cuda() 【pytorch】  -> model.to('gpu') 【paddle】
其它的都没变， 将batch_size 调整为1 也显示显存不够

[2022-01-07 03:17] lidanqing-vv commented on #37873
![image](https://user-images.githubusercontent.com/47151829/148485797-2075c040-8a8b-456c-8595-71fbad79dfe4.png)

[2022-01-07 03:17] lidanqing-vv commented on #37873
![retinanet_fp32_qat](https://user-images.githubusercontent.com/47151829/148485847-83f5bf1a-a5ac-4d5e-8a77-6271ad2330ac.jpg)
![retinanet_int8](https://user-images.githubusercontent.com/47151829/148485853-da4efbbf-e3f1-4d1c-af23-c6070facdc71.jpg)

[2022-01-07 03:18] lidanqing-vv commented on #37873
This accuracy issue will be checked again after new INT8 strategy is applied

[2022-01-07 03:21] tink2123 commented on #38560
@jialiasus2 您好～ 我们没有复现这个问题，您也可以试下单独给 interpolate 一个大shape输入，是否能正确计算。

[code]
测试的时候是不会报cuda error的， 如果还有问题可以反馈给我

[2022-01-07 03:28] onecatcn opened #38784 "请问paddle fluid是否支持cpu：inter Pentium G5400T"

[2022-01-07 04:01] fengkuangxiaxia opened #38787 "2.2.1版本使用trt时，如果是低版本模型，roi算子会缺少align属性导致报错"
2.2.1版本使用trt时，如果是低版本模型，roi算子会缺少align属性导致报错

[2022-01-07 04:26] tianxin1860 commented on #38758
您好，建议使用 paddle.nn.functional.pad api 直接对 2d tensor 进行 pad 操作

[2022-01-07 04:50] jialiasus2 commented on #38560
您好，我在AI Studio上试的，现在还是这样，新建一个项目也是。
可能是平台或者适配的问题，这个Issue就先close吧，有需要我再重新提。

[2022-01-07 04:50] #38560 closed, assigned to tink2123

[2022-01-07 05:39] CuberrChen commented on #38618
项目已经公开。后面发现当单张卡的batchsize小于等于2时所有环境就都不会出现这个错误。不知道是Paddle的问题还是CUDNN的问题。

项目链接：
https://aistudio.baidu.com/aistudio/projectdetail/3291060?contributionType=1

[2022-01-07 05:40] d2623587501 opened #38790 "pytoch转paddle，重构covn2D遇到的问题"
重构covn2D遇到的问题：
self.weight = self.weight * self.mask
无法更改self.weight
报错：TypeError: assignment to parameter 'weight' should be of type Parameter or None, but got 'Tensor'
源码如下：
`class MaskedConv2d(nn.Conv2D):
    def __init__(self, in_channels, out_channels, kernel_size, stride=1, padding=0, dilation=1,
     groups=1, padding_mode='zeros', weight_attr=None, bias_attr=None, data_format='NCHW'):

[2022-01-07 05:42] d2623587501 commented on #38790
完整重构代码
`class MaskedConv2d(nn.Conv2D):
    def __init__(self, in_channels, out_channels, kernel_size, stride=1, padding=0, dilation=1,
     groups=1, padding_mode='zeros', weight_attr=None, bias_attr=None, data_format='NCHW'):
        super(MaskedConv2d, self).__init__(in_channels, out_channels,
            kernel_size, stride, padding, dilation, groups, padding_mode, weight_attr, bias_attr, data_

[2022-01-07 05:53] CPones opened #38791 "模型参数保存，损失函数不断上升。"
paddle.save保存结果文件时，训练过程中的loss曲线是正常下降的。

paddle.jit.save保存结果文件，训练过程中的loss曲线却是不断上升。

为什么会这样？

如果要使用paddle.jit.save保存参数，

同时保证训练过程中损失函数下降，

有什么建议吗？

训练曲线如图[https://aistudio.baidu.com/paddle/forum/topic/show/993187](url)

[2022-01-07 06:31] BeyondYourself commented on #37401
【队名】：beyond

【序号】：24

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/BeyondYourself/paddle-Vnet

[2022-01-07 07:21] cleanerleon commented on #37401
【队名】：F1

【序号】：22

【论文】： YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/cleanerleon/pp_yolox

[2022-01-07 07:25] tianxin1860 commented on #38768
您好，这个功能我们正在开发，预计 3 月份在 develop 分支支持该功能，欢迎持续关注~

[2022-01-07 07:35] tianxin1860 commented on #38778
您好，请问使用的 Paddle 版本是? 能否提供最小可复现环境？

[2022-01-07 07:37] Lumisilk commented on #38379
M1 Pro 下同样提示找不到对应版本的包。请问 Paddle 团队说的支持 M1 是真的只支持 M1 芯片而不支持其他 arm64 的平台吗…？

[2022-01-07 07:43] tianxin1860 commented on #38773
您好，这个高层 API 暂未支持，我们会内部发起评估进行排期支持，欢迎关注。

[2022-01-07 08:08] qingqing01 commented on #38773
@670133189 目前没有这种API，也可以参考 下面连接，直接用plt 画图时拼接下~

https://aistudio.baidu.com/aistudio/projectdetail/1086168?channelType=0&channel=0

[2022-01-07 08:11] sukibean163 commented on #37401
【队名】：just4fun

【序号】：36

【论文】：Training Generative Adversarial Networks with Limited Data

【状态】：报名

[2022-01-07 08:13] fengxiaoshuai commented on #38778
你需要安装推理框架：https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html

[2022-01-07 08:13] fengxiaoshuai commented on #38778
不过目前没有mac支持mkl的库

[2022-01-07 08:14] tianxin1860 commented on #38735
您好，请问具体需求是什么？为什么需要删除 `bias_hh_l0` 这个属性？如果强行删除的话，会自动再生成 1 个 bias 属性。

[2022-01-07 08:15] sukibean163 commented on #37401
【队名】：just4fun

【序号】：107

【论文】：Instances as Queries

【状态】：报名

[2022-01-07 08:20] sukibean163 commented on #37401
【队名】：just4fun

【序号】：44

【论文】：Deep Relational Reasoning Graph Network for Arbitrary Shape Text Detection

【状态】：报名

[2022-01-07 08:31] sukibean163 commented on #37401
【队名】：just4fun

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution

【状态】：报名

[2022-01-07 08:32] MiShiDeHaiLuo opened #38797 "paddleinference在QT中编译失败？"
1）PaddlePaddle版本：Paddlein_ference-QT
2）CPU：
3）GPU：
4）系统环境：JetsonNano-linux-aarch64
- 安装方式信息：
1）安装方式：直接下载预测库和demo进行编译。
2）本地编译：Cmake中已经编译成功，
- 问题描述：在JetsonNano中使用QT和C++进行编译。官方Demo已经Cmake编译成功，但是自己写的无法成功编译，在第一步读取模型的时候都报错。如下图所示。
![I{U JP19G}EXH9K%L@5`D$4](https://user-images.githubusercontent.com/97105652/148515400-2fb04f5a-4e77-4e79-aa7c-d0e902949409.png)

[2022-01-07 08:37] wj-Mcat commented on #37183
## Thought about typing in paddle

After lightly review the source code, there are no type annotations in package. Do you have any plans to improve it? [Typing system](https://en.wikipedia.org/wiki/Type_system#:~:text=In%20programming%20languages%2C%20a%20type,%2C%20expressions%2C%20functions%20or%20modules.) will make code more readable and  testable. There are so many tools to make test under ty

[2022-01-07 10:06] Lieberk opened #38801 "【论文复现】add_module()用法问题"
pytorch代码：
conv = conv_type(
    in_channels,
    out_channels,
    kernel_size=kernel_size,
    stride=strides,
    padding=padding,
    dilation=dilation,
    groups=groups,
    bias_attr=bias,
)
self.add_module("conv", conv)

paddle好像没有pytorch这样add_module()的用法，那paddle该如何实现上述类似这样添加conv到网络中的方式？

[2022-01-07 10:34] chiaitian opened #38802 "Tensor.shape 可否作为inference模型中的一个节点"
我的模型中有节点的输入参数是模型输入tensor.shape，当模型转换到inference时，该节点的输入参数变为了常数，为模型转换时指定的输入size（[1,3, 32, -1])。我想要的效果是模型输入tensor的shape作为一个可变输入参数给到这个节点。这个问题该怎么解决？

**System information**
-PaddlePaddle version 2.2.0

[2022-01-07 11:55] JeremyZhao1998 commented on #37401
【队名】：丰收厅的斯莱特林

【序号】：84

【论文】：Convolutional Sequence to Sequence Learning

【状态】：报名

[2022-01-07 11:56] JeremyZhao1998 commented on #37401
【队名】：丰收厅的斯莱特林

【序号】：88

【论文】：Longformer: The Long-Document Transformer

【状态】：报名

[2022-01-07 11:57] JeremyZhao1998 commented on #37401
【队名】：丰收厅的斯莱特林

【序号】：84

【论文】：Convolutional Sequence to Sequence Learning

【状态】：报名

【repo链接】：https://github.com/JeremyZhao1998/CovSeq2Seq-Paddle

[2022-01-07 11:58] JeremyZhao1998 commented on #37401
【队名】：丰收厅的斯莱特林

【序号】：88

【论文】：Longformer: The Long-Document Transformer

【状态】：报名

【repo链接】：https://github.com/JeremyZhao1998/Longformer-Paddle

[2022-01-07 11:58] JeremyZhao1998 commented on #37401
【队名】：丰收厅的斯莱特林

【序号】：92

【论文】：Universal Language Model Fine-tuning for Text Classification

【状态】：报名

【repo链接】：https://github.com/JeremyZhao1998/ULMFiT-Paddle

[2022-01-07 12:11] MiShiDeHaiLuo commented on #38797
您好，麻烦您了了，问题已经解决。环境配置问题
pro文件需要配置如下
INCLUDEPATH += /usr/include/c++/7.5.0

INCLUDEPATH += /usr/include/opencv4 #
INCLUDEPATH += /opt/paddle_inference
#以下按照Cmakelists的文件去布置
INCLUDEPATH += /opt/paddle_inference/third_party/install/protobuf/include
INCLUDEPATH += /opt/paddle_inference/third_party/install/glog/include
INCLUDEPATH += /opt/paddle_inference/third_party/install/gflags/include
INCLUDEPATH +

[2022-01-07 12:13] esythan commented on #38780
建议更换一下pip的源，使用python -m pip install paddlepaddle==2.2.1 -i https://mirror.baidu.com/pypi/simple进行安装

[2022-01-07 12:14] esythan commented on #38781
建议提供完整代码方便排查

[2022-01-07 12:15] esythan commented on #38784
安装所需的环境请参考https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

[2022-01-07 12:26] esythan commented on #38791
建议提供更详细的代码方便排查，理论上模型保存不会影响训练的损失

[2022-01-07 12:35] esythan commented on #38801
add_sublayer是否能满足需求？

[2022-01-07 12:37] esythan commented on #38802
麻烦更具体的描述一下问题，给出具体代码或者例子，目前暂时没有看懂你的需求

[2022-01-07 12:47] esythan commented on #38790
赋值weight时需要parameter类型，需要确认=右边的变量类型

[2022-01-07 12:53] d2623587501 commented on #38790
感谢大佬的回复，请问咱这边有啥方法转为parameter类型吗，我查官网的API没找到这方面的文档

[2022-01-07 12:55] esythan commented on #38790
是否可以更换一下思路，比如说对conv2d的输入或者输出tensor做mask，不知道是否能够满足你的需求

[2022-01-07 13:05] d2623587501 commented on #38790
回大佬，我打算实现剪枝的功能，好像只能对卷积的weight操作

[2022-01-07 16:30] softsweetengineer opened #38807 "windows 环境下加载ernie模型报错 'WindowsPath' object has no attribute 'tell'"
使用erine 快速开始中提供的代码，在windows环境下加载预训练模型出错

代码：
[code]
打印信息：
C:\ProgramData\Anaconda3\lib\site-packages\socks.py:58: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Callable
C:\ProgramData\Anaconda3\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp modul

[2022-01-07 17:04] #38807 closed, assigned to zhaocaibei123

[2022-01-07 17:05] softsweetengineer commented on #38807
this bug was created by erine.

[2022-01-08 02:09] hhxdestiny commented on #32983
File "C:\Users\destiny\anaconda3\envs\paddle\lib\site-packages\paddle\hapi\model.py", line 1913, in predict
    places=self._place,
AttributeError: 'Model' object has no attribute '_place'

[2022-01-08 02:22] hhxdestiny commented on #32983
@wanghuancoder 我猜@thunder95和@l976308589和我一样犯了同样的错误:
[code]
跟了一下self._place赋值的位置
[code]
因此预测还需加入prepare方法：
[code]
至此可得到正常结果，这里加载的应该是预训练模型并非导出的模型，所以需要这个操作吧

[2022-01-08 02:39] huilin16 opened #38808 "请问paddle是否有einops 相关的库"
复现时代码遇到einops相关操作，请问paddle是否有相关库

[2022-01-08 05:08] AdobeDW opened #38809 "无法对PPTOLOTiny敏感度分析的model.sensi.data进行可视化"
问题：没有找到能够可视化敏感度分析结果的方法
出现的报错信息及相关log：
2022-01-07 16:15:11 [INFO] Model[PPYOLOTiny] loaded.
Traceback (most recent call last):
File "slim_visualize.py", line 3, in
pdx.slim.visualize(model, 'PaddleX/output/fined-ppyolotiny/prune/model.sensi.data', save_dir='./')
AttributeError: module 'paddlex' has no attribute 'slim'
使用的操作系统Linux、使用的Python版本3.6、使用的CUDA/cuDNN的版本号是10.2
我没有找到在PaddleX2.0、develop或是2.1版

[2022-01-08 07:44] Lieberk commented on #38801
已解决，谢谢老师。

[2022-01-08 09:06] CuberrChen opened #38810 "detach_()是否支持？"
请问detach_()是否已经支持。或者是否与stop_gradients=True等价？或者是否有等价形式？

[2022-01-08 11:58] zhaocaibei123 commented on #38808
请问是想问paddle支持这种用法吗，paddle目前应该是不支持
![image](https://user-images.githubusercontent.com/48509226/148643297-2ce2fa76-676d-4567-8eaf-1066845cc62c.png)

[2022-01-08 12:02] zhaocaibei123 commented on #38810
stop_gradients=True 不会计算梯度，但不会产生新的tensor

[2022-01-08 12:10] Fly-Pluche opened #38812 "无法遍历batch_reader（）"
运行代码

    batch_reader = paddle.reader.shuffle(batch_reader, train_parameters['train_batch_size'])
    for i in batch_reader():
        print(i)

报错信息如下
![image](https://user-images.githubusercontent.com/73021377/148643789-c3ce84d0-73c9-4512-87f8-f6189d0c286d.png)

[2022-01-08 12:32] Fly-Pluche commented on #38812
我的txt文件路径是正常的
![image](https://user-images.githubusercontent.com/73021377/148644251-3e8e375c-8845-4752-aa1b-5006c97d9be8.png)
![image](https://user-images.githubusercontent.com/73021377/148644254-c791b428-2ed2-48e3-895a-f8daf554166f.png)

[2022-01-08 12:39] Fly-Pluche commented on #38812
知道了， 是我标签处理的问题

[2022-01-08 12:39] #38812 closed, assigned to zhaocaibei123

[2022-01-08 14:16] Lieberk opened #38813 "【论文复现】torch.scatter_() 用法问题"
pytorch使用scatter_()实现了one-hot编码，举例如下：
![微信图片_20220108214504](https://user-images.githubusercontent.com/57614716/148647107-91185f35-5211-4867-a4e5-ebc0537498b8.png)
![微信图片_20220108214520](https://user-images.githubusercontent.com/57614716/148647112-14996a49-4e6c-43c1-9413-035d96db18f3.png)

目前paddle的scatter()和pytorch的scatter_()功能好像不一样，那如何使用paddle实现上述的one-hot编码。如果paddle没有对应的api，那怎样组合其他api可以实现上述的功能，麻

[2022-01-08 14:53] huilin16 commented on #38808
是的，请问有吗

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月8日(星期六) 晚上7:58
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [

[2022-01-08 15:37] hatimwen commented on #37401
【队名】：114战队

【序号】：14

【论文】：Rethinking Spatial Dimensions of Vision Transformers

【状态】：报名 & 提交

【repo链接】：https://github.com/hatimwen/paddle_pit

[2022-01-09 04:13] Leon-E-Zion opened #38821 "[Hint: Expected capacity == in_size, but received capacity:720000 != in_size:540000.] (at /paddle/paddle/fluid/operators/reshape_op.cc:222)"
Nothing  ...

[2022-01-09 06:57] zhaocaibei123 commented on #38813
paddle的scatter用法确实是不一样，请问是想用cross entropy loss吗，是的话paddle的cross_entropy label不需要扩充成one-hot编码，参考示例： https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/functional/cross_entropy_cn.html#cross-entropy
另外，第二张图里的label是第一张图的label嘛，看起来似乎对应不上？