[2019-04-30 11:37] NHZlX commented on #17178
贴一下c++的预测代码

[2019-04-30 11:50] #17176 closed, assigned to zhhsplendid

[2019-04-30 12:23] sandyhouse commented on #17183
I closed this issue. Feel free to reopen it if you have any question.

[2019-04-30 12:23] sandyhouse commented on #17183
I closed this issue. Feel free to reopen it if you have any question.

[2019-04-30 12:23] #17183 closed, assigned to seiriosPlus

[2019-04-30 12:24] sandyhouse commented on #17168
I closed this issue. If you have any question, feel free to reopen it.

[2019-04-30 12:24] #17168 closed, assigned to nobody

[2019-04-30 12:45] oshixiaoxiliu commented on #15225
请问这个问题解决了么？

[2019-04-30 13:03] wzzju opened #17184 "关于离线量化中calibration代码的一些疑惑"
1. 关于P_sum的计算
![image](https://user-images.githubusercontent.com/17102274/56962436-22cc0b80-6b89-11e9-8f2d-bf4afa6cb6f2.png)
![image](https://user-images.githubusercontent.com/17102274/56962450-2b244680-6b89-11e9-8222-ebca2901ccc3.png)
![image](https://user-images.githubusercontent.com/17102274/56962456-30819100-6b89-11e9-91e3-0bf5c9c40ba3.png)
![image](https://user-images.githubusercontent.com/17

[2019-04-30 13:07] guomingz commented on #17184
i'll have a look on this issue。

[2019-05-01 15:29] chenxiaoyu3 commented on #17178
@NHZlX C++的和Python的预测代码已经贴在issue正文中

[2019-05-03 12:04] Yaque opened #17188 "pip 安装CPU版本 使用提示No module named 'proto'"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU：i7-8u
    3）GPU：150max
    4）系统环境：ubuntu 18.04 python3.6
- 安装方式信息：
1）pip 在线安装 使用的清华源， 没办法，在寝室移动的网太慢了。刚刚装的机器没有装proxy(有没有简单的Ubuntu代理方式（基于ss的），求帮助)

` File "/usr/local/lib/python3.6/dist-packages/paddle/fluid/ex

[2019-05-03 13:32] Yaque commented on #17188
没找到原因，但是我找了个笨办法，如下：
`import sys
sys.path.append("/usr/local/lib/python3.6/dist-packages/paddle/fluid")
sys.path.append("/usr/local/lib/python3.6/dist-packages/paddle/fluid/proto")`
我猜可能是我自己安装的时候有问题，我的是直接的系统自带的py36环境。

[2019-05-04 00:56] VictorZhang2014 opened #17191 "plt.gcf().clear()会使其在Jupyter Notebook中不显示绘图"
我使用的paddle版本是
<img width="313" alt="WX20190504-085622@2x" src="https://user-images.githubusercontent.com/6853884/57171789-8b95db00-6e4a-11e9-932b-50c4e1d3482a.png">

在plot.py文件里
[code]

clear()函数会清空Figure对象，导致在Jupyter Notebook中不能显示绘图（尤其是在AIStudio里的Jupyter Notebook），我们可以显示的调用close_plot()这样的函数来清除Figure对象，释放内存。
如图所示，始终打印Figure实例，而不显示绘图
<img width="576" alt="WX20190504-085303@2x" src="https://user-ima

[2019-05-04 01:03] VictorZhang2014 commented on #17191
提交了一个PR https://github.com/PaddlePaddle/Paddle/pull/17192

[2019-05-04 10:04] JiaoZiLang commented on #17107
done

[2019-05-04 10:05] JiaoZiLang commented on #17107
是更新了pip的源？

[2019-05-04 17:05] ZHOU4424 opened #17193 "load_inference_model加载模型后预测不同图片得到的结果相同"
- 版本、环境信息：
    1）PaddlePaddle版本：1.3
    2）CPU：Intel i7-4720HQ
    3）系统环境：win10，Python3.6
- 问题描述：
load_inference_model加载模型后预测不同图片得到的结果相同
具体内容：
1）程序流程：两个文件，一个训练模型后保存，一个加载模型后预测。
2）训练.py：随着训练次数增加，在测试集上的准确率明显提升。为了分析出问题的原因，我在保存模型后，单独加了一段预测的代码作为比较，使用的是训练过程中的test_program，输出的结果符合预期，即和测试集一样成功分类。
[code]
训练过程输出：
![1](https://user-images.githubusercontent.com/50004634/57182350-af9bff80-6ed0-11e9-9543-394ea59c6

[2019-05-04 17:16] agxcul commented on #9362
请问fluid版本中dot_prod对应的api是什么？

[2019-05-05 01:35] outlookerr commented on #17177
GPU应该是没有被占用的
 NVIDIA-SMI 384.130                Driver Version: 384.130                   |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+============

[2019-05-05 01:52] sandyhouse commented on #17177
从您这个输出结果来看，GPU是有进程在使用的：
| N/A 42C P8 N/A / N/A | 246MiB / 2002MiB |
并且
| 0 1251 G /usr/lib/xorg/Xorg 136MiB |
| 0 2250 G compiz 58MiB |
| 0 2493 G fcitx-qimpanel 8MiB |
| 0 12830 G /usr/lib/firefox/firefox 1MiB |
| 0 30616 G ...quest-channel-token=7115493144571559904 38MiB |

[2019-05-05 03:21] ghost opened #17196 "Task for v1.5: Optimize BERT L12 (dim=768)"
Optimize BERT base model (L12, dim=768).

Target HW: 2650v4

What had been done in Q1:
1. ERF optimization with MKL - merged
2. Framework level optimization (RunTime Context cache, kernel selection cache, etc.) - merged

What will be done in Q2:
1. Remove transpose/reshape - PR16342
2. Optimize infer shape for a few OPs - patch ready. PR will be raised after PR16342 merge

[2019-05-05 03:22] SunGaofeng commented on #17193
从上面的描述来看，像是没有将模型参数加载进来，
1、训练完是如何保存模型及参数的，能否贴下保存模型及参数的代码？
2、fluid.io.load_inference_model(save_dirname,exe)中save_dirname下面是否同时包含了模型文件及参数文件？

[2019-05-05 03:45] ghost commented on #17153
@luotao1 Leo Zhao will help to check this issue. BTW, seems that I can't assign this issue directly to him since I can't find his name in assignee.

[2019-05-05 04:58] guomingz commented on #17184
hi @wzzju 关于这段代码，  我理解是考虑[L673 pass](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/int8_inference/utility.py#L673) case， 此时min_kl_index的确等于0，但是starting_iteration 不一定也是0， 即min_kl_index必然大于等于starting_iter并非一直成立。

[2019-05-05 05:01] guomingz commented on #17184
的确，这里是存在问题的，我们会提一个pr修复。

[2019-05-05 06:03] LeoZhao-BJ commented on #17153
@luotao1 can you share the cmake options ? with my cmake options, I can't reproduce this issue.

BTW, for multi-instance case, by my investigation, ngraph path still doesn't support, if users enable ngraph in force, it will cause segment fault, so it means this issue may not be introduced by ngraph.

[2019-05-05 06:22] luotao1 commented on #17153
What's your cmake option and docker image?
- My: `cmake .. -DWITH_INFERENCE_API_TEST=ON -DWITH_TESTING=ON -DON_INFER=ON -DWITH_NGRAPH=ON -DWITH_GPU=OFF -DWITH_MKLDNN=ON`
- `paddlepaddle/paddle_manylinux_devel:cuda7.5_cudnn5`

Do you mean `FLAGS_use_ngraph=true` to run?

[2019-05-05 06:26] LeoZhao-BJ commented on #17153
I use similar cmake options, but not in docker, I will try it later.

just add "--use_ngraph --use_analysis=false"  in cmd, then it will force to use ngraph

[2019-05-05 06:32] luotao1 commented on #17153
Could it use ngraph? I don't try it.

I mean when I build with `-DWITH_NGRAPH`, the fc_op slows on multi-instance inference on MKL.

[2019-05-05 06:38] LeoZhao-BJ commented on #17153
I understand your question, this issue happens with -DWITH_NGRAPH, but not due to ngraph execution.

With your cmake options, I still can't reproduce on local 2699 machine, but if it occurs in docker, some possible reasons are compilation related, I will try to reproduce in docker env first.

[2019-05-05 06:44] luotao1 commented on #17153
Which gcc version do you use? I think it's related with gcc 4.8.

[2019-05-05 06:45] LeoZhao-BJ commented on #17153
gcc version 5.4.0 20160609 on my machine

[2019-05-05 08:34] Yaque commented on #17188
有人能说一下原因吗？

[2019-05-05 09:41] wuxiaodong1014 opened #17203 "faster-rcnn自己的数据集，loss值会出现NAN"
大家好，我在运行faster-rcnn目标检测自己的数据集时，当运行到一定次数，loss值会出现NAN情况，不知道是什么原因，

- 版本、环境信息：
    1）PaddlePaddle版本：1.3
    2）GPU：    CUDA：9.0和CUDNN： 7
    4）python 3.6
现象如下所示：
2019-05-05 09:39:54.880255, iter: 1283, lr: 0.00100, 'loss': nan, 'loss_cls': nan, 'loss_bbox': 0.097, 'loss_rpn_cls': 0.004, 'loss_rpn_bbox': 0.015, time: 0.627
/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:3405: RuntimeW

[2019-05-05 09:46] LeoZhao-BJ commented on #17153
@luotao1 I can reproduce this issue in docker, seems the rootcause is that, in docker env OMP_NUM_THREADS is not well set, hence for multi-instance case, many omp threads spawned which makes performance bad inversely.  Just set  OMP_NUM_THREADS=1, this issue is gone.
I am trying to find which code make this setting different between local and docker.

[2019-05-05 09:49] jerrywgz commented on #17203
请问你是用八卡训练的吗

[2019-05-05 10:14] LeoZhao-BJ commented on #17153
not related with docker or local, the rootcause is just OMP thread as said before, I can reproduce locally.
seems ngraph stack modified OMP setting in initialization in somewhere which makes setting inconsistent in different instance.

[2019-05-05 10:56] sshilei opened #17206 "预测程序报错"
![image](https://user-images.githubusercontent.com/18701471/57192822-6480fb80-6f67-11e9-9aeb-c12bfb76d8c4.png)

![image](https://user-images.githubusercontent.com/18701471/57192826-6fd42700-6f67-11e9-8465-538d35f72b2f.png)

[2019-05-05 11:15] hohdiy commented on #17059
我也遇到了同样的问题，使用的是MNIST例子，报告同样的错误。
请问这个问题没有后续了么？
每次跑到900时报错：
![image](https://user-images.githubusercontent.com/20314800/57193076-06a1e300-6f6a-11e9-87a1-71b90f266f3a.png)
EnforceNotMet: Invoke operator batch_norm_grad error.
Python Callstacks:
  File "/opt/conda/envs/py27-paddle/lib/python2.7/site-packages/paddle/fluid/framework.py", line 1654, in append_op
    attrs=kwargs.get("attrs", None))
  Fil

[2019-05-05 11:19] hohdiy commented on #17059
![image](https://user-images.githubusercontent.com/20314800/57193118-6d270100-6f6a-11e9-9a4b-86c8f1dbacc3.png)
使用cpu没有问题，使用gpu报错，cuda9.2 + cudnn7，显卡是taitanX

[2019-05-05 11:19] ZHOU4424 commented on #17193
@SunGaofeng  保存模型及参数在训练函数train_loop中最后面，每次训练一个pass保存一次。
[code]
加载模型的目录中包含模型文件和参数文件，以下是截图
![QQ图片20190505191809](https://user-images.githubusercontent.com/50004634/57193128-87f97580-6f6a-11e9-8bf1-8f99ea1dcf6b.png)

[2019-05-05 11:27] hohdiy commented on #17059
发现训练过程没有问题，是这句报的错:
![image](https://user-images.githubusercontent.com/20314800/57193262-b88ddf00-6f6b-11e9-8a78-89e113cf4935.png)

[2019-05-05 11:37] littlepan0413 opened #17208 "有其他进程占用部分gpu显存时，预测时显示显存不足导致无法预测"
1、仅前向推导过程，模型大小大概是2.4G
2、空卡上使用FLAGS_fraction_of_gpu_memory_to_use=0.3可训练
3、gpu单卡显存11.4GB，已使用进程5787MB，剩余大约50%，使用FLAGS_fraction_of_gpu_memory_to_use=0.33无法训练，报错exception caught, parallel_for failed: out of memory

**显卡信息**
+-------------------------------+----------------------+----------------------+
|   3   xxx          On   | 00000000:00:0A.0 Off |                    0 |
| N/A   47C    P0    70W /

[2019-05-05 11:38] wzzju commented on #17184
`kl_inited `在进入for循环前设为了False，所以第一个if条件在第一次执行循环体时必然成立，故min_kl_index必然在第一次执行循环体时被赋值为starting_iter。之后就算一直执行的分支为`else: pass`，那么min_kl_index也为starting_iter。其他情况下min_kl_index必然大于starting_iter。

[2019-05-05 11:54] ninnkotora opened #17209 "MPI训练：has no optimize block"
- 版本、环境信息：
    1）PaddlePaddle版本：1.3
    2）CPU
    3）Python2.7

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
app/pserver.log中一直有下面警告：pserver [xxxxx:yyyy] has no optimize block!!
现象是程序执行不动了，像是哪里卡住了，
看日志，程序执行到红线部分就不动了
![image](https://user-images.githubusercontent.com/43612170/57193605-71095200-6f6f-11e9-8745-7d907ecc668a.png)

Sun May  5 18:54:25 2019[1,29]<stdout>:2019-05-05 18:54:25,830 - WARNING - **pse

[2019-05-05 11:59] #17206 closed, assigned to nobody

[2019-05-05 13:53] outlookerr commented on #17177
@sandyhouse  我又重新安装了一下，结果import 的时候出现了问题，您看一下
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/lfz/.local/lib/python3.5/site-packages/paddle/__init__.py", line 25, in <module>
    import paddle.dataset
  File "/home/lfz/.local/lib/python3.5/site-packages/paddle/dataset/__init__.py", line 28, in <module>
    import paddle.dataset.mq2007
  File "/home/lfz/.local

[2019-05-05 14:26] sandyhouse commented on #17177
参考下以下链接：https://stackoverflow.com/questions/47955397/pip3-error-namespacepath-object-has-no-attribute-sort
https://github.com/googleapis/google-cloud-python/issues/2990

[2019-05-05 15:06] panda1681 commented on #12880
@JiayiFeng

也遇到了类似的问题，RNN+LSTM模型，根据https://github.com/PaddlePaddle/Paddle/issues/17127的提示，在预测的时候去掉含有label的layer，将 crf_cost = fluid.layers.linear_chain_crf( input=emission, label=target,param_attr=fluid.ParamAttr(name='crfw')) 这行代码去掉。只保留crf_decode = layers.crf_decoding(input=hidden, param_attr=ParamAttr(name="crfw"))，报ValueError: var crfw not in this block的错误。加上linear_chain_crf层就没问题，但是这样导致在预测的时候必须构

[2019-05-05 17:43] narrowview opened #17217 "执行paddle.fluid.install_check.run_check()出错"
Running Verify Fluid Program ...
W0506 01:30:57.022621  3174 device_context.cc:261] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.1, Runtime API Version: 9.0
W0506 01:30:57.024513  3174 device_context.cc:269] device: 0, cuDNN Version: 7.0.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/wenwu/.local/lib/python2.7/site-packages/paddle/flu

[2019-05-06 02:09] SunGaofeng commented on #17193
train部分的代码和save_dir目录下的文件看上去是正常的，能把inference部分的代码和模型发给我本地验证下吗？

[2019-05-06 02:11] LeoZhao-BJ commented on #17153
ngraph is not the rootcause, even with "-DWITH_NGRAPH=OFF" on both local machine and docker, I can still reproduce this issue.  But whatever the cmake options, if set OMP_NUM_THREADS=1, this issue is always gone.
The rootcause seems be in OMP thread num setting in somewhere in PaddlePaddle.

[2019-05-06 02:32] MaxLingwei opened #17219 "在paddlecloud上跑模型预测报grpc error"
PaddlePaddle版本：v1.3.0, fluid
在mpi集群上测试了单机和多机（50个节点）均出现同样的错误，代码在本地开发机可以正常运行。

[2019-05-06 02:41] jiaqianjing commented on #17219
++ /home/disk1/task_data/history/20190506/0.app-user-20190506101929-9084--train_text_cnn_lilingwei_paddlecloud/logs/workspace/python27-gcc482//bin/python validate_text_cnn.py
F0506 10:26:01.296134 15850 grpc_client.cc:418] PrefetchRPC name:[embedding_0.tmp_0@10.74.195.26:62004], ep:[10.74.195.26:62004], status:[-1] meets grpc error, error_code:14 error_message:OS Error error_details:
*** Check fai

[2019-05-06 02:47] LeoZhao-BJ commented on #17153
The rootcause is omp_set_num_threads() just applies to the thread being called, it means if this thread launches parallel compute, omp will spawn the number of threads set.
While in current test framework, it creates another new thread to do predictor->run or zerocopyrun only, which lost omp thread setting in predictor::Init() in main thread,  to avoid this scenario, call paddle::platform::SetNumT

[2019-05-06 02:48] Robets2020 opened #17220 "ERNIE fine-tuning后做预测时, 配置文件ernie_config是不是应该和 fine-tuning训练时的不同?"
ERNIE的fine-tuning做预测时, 使用了和训练时相同的ernie_config, 会导致attention_probs_dropout_prob": 0.1,和"hidden_dropout_prob": 0.1.
所以测试时应该使用单独的配置, 将attention_probs_dropout_prob和hidden_dropout_prob设置为0.
不知到我的理解对不对?

[2019-05-06 02:50] seiriosPlus commented on #17219
Hi上联系， 后续我会把问题和结论贴出

[2019-05-06 03:25] SunGaofeng commented on #17208
FLAGS_fraction_of_gpu_memory_to_use设置成0.3，是说每次需要显存的时候就分30%的显存空间，不是说最多只要用到30%的显存。如果一开始分了30%的显存，随着计算的进行，有更多变量需要空间，发现不够用了，会再分配30%的显存。

[2019-05-06 03:26] qingqing01 commented on #12765
- [x] Add grid_sample, affine_grid, psroi_pooling, roi_align
    Done
- [x] softmax: do softmax on the specified axis
    Done

[2019-05-06 03:26] #12765 closed, assigned to qingqing01

[2019-05-06 03:28] simpv opened #17222 "TITAN V显卡 hl_gpu_apply_unary_op failed. CUDA error: no kernel image is available for execution on the device"
cuda 版本： 9.2
显卡类型： TITAN V
手动编译的paddle 0.10.0版本，安装也成功了
在GTX1080显卡的机器上（cuda10）可以运行
但是在TITAN V显卡的机器上，CPU可以运行。使用GPU运行的时候就报错了
错误信息如下：

I0506 03:23:19.720924   156 Util.cpp:166] commandline:  --use_gpu=True --trainer_count=1
[INFO 2019-05-06 03:23:21,325 networks.py:1482] The input order is [x, y]
[INFO 2019-05-06 03:23:21,326 networks.py:1488] The output order is [__mse_cost_0__]
[INFO 2019-05-06 03:2

[2019-05-06 03:31] seiriosPlus commented on #17219
same as #15224

[2019-05-06 06:58] #17151 closed, assigned to nobody

[2019-05-06 07:02] outlookerr commented on #17177
@sandyhouse 您好，我在进行run_check的时候找不到cudnn的库，但是我确实复制进入cuda/lib64中，并在～/.bashrc中export LD_LIBRARY_PATH=/usr/local/cuda/lib64:$LD_LIBRARY_PATH并生效。仍然还是报错

Running Verify Fluid Program ...
W0506 14:56:06.782366 32108 device_context.cc:261] Please NOTE: device: 0, CUDA Capability: 50, Driver API Version: 9.0, Runtime API Version: 8.0
W0506 14:56:06.782572 32108 dynamic_loader.cc:107] Can not find library:

[2019-05-06 07:04] Shixiaowei02 commented on #17178
@chenxiaoyu3 如单独沟通，请您修改代码中 input_size 变量为字节数之后再次尝试。PaddleBuf 不同于 PaddleTensor，前者是对一块内存区域的描述，所以只有 size_t length 和 void* data 两个主要成员，其中 length 指的是字节数，不对存储的数据类型作区分。

感谢您对 PaddlePaddle 的支持！

[2019-05-06 07:07] chenxiaoyu3 commented on #17178
确实如此，问题解决了。非常感谢！

[2019-05-06 07:07] #17178 closed, assigned to Superjomn, Shixiaowei02

[2019-05-06 07:17] sandyhouse commented on #17177
你是直接拷贝的libcudnn.so吗，一般来说libcudnn.so都是软链接。你也可以直接吧cudnn的库目录添加到LD_LIBRARY_PATH中 @outlookerr

[2019-05-06 07:28] outlookerr commented on #17177
@sandyhouse 我是直接cp过去的，按照文件大小的话应该不是软链接，另外把cudnn的库目录添加到LD_LIBRARY_PATH中是什么意思，我不太理解

[2019-05-06 07:57] Officium opened #17232 "Memory leak and wrong behavior in fluid.layers.cross_entropy"
**System information**
-PaddlePaddle version: 1.4
-CPU: No MKL or OpenBLAS
-GPU: No GPU
-OS Platform: Mac OS 10.14.4
**To Reproduce**
[code]
**Describe your current behavior**
No data shape check in `fluid.layers.cross_entropy` and sometimes return very big loss like `1e20`.
**One sample behavior**
[code]

[2019-05-06 08:10] 930083287 commented on #4358
你好，请问这个问题怎么解决的？

[2019-05-06 08:19] chenxiaoyu3 opened #17234 "PaddlePredictor析构时，若模型文件不存在，会出core"
PaddlePredictor析构时，若模型文件不存在，会出core。看调用栈是因为Clone()时出了一次模型加载造成的。

- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU：c++ 预测库
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境： 16.04

- 问题描述：

[code]
完整代码
[code]
在中间sleep的时候，把model文件删除，则报错

[2019-05-06 08:25] sandyhouse commented on #17177
@outlookerr 例如，安装完cudnn后，我的cudnn的目录是cudnn7.1, 可以设置直接设置LD_LIBRARY_PATH=cudnn7.1/lib64:$LD_LIBRARY_PATH。libcudnn.so找不到的问题大都是环境问题，我这边没发复现这个问题，可以在仔细检查一下。如果有更多信息，我们可以继续讨论。

[2019-05-06 09:11] outlookerr commented on #17177
感谢支持！问题已经全部解决了！ @sandyhouse

[2019-05-06 09:11] #17177 closed, assigned to nobody

[2019-05-06 09:34] ifkite opened #17238 "请判断下 持久化未训练的模型的方式是否无任何问题"
麻烦 同学判断下
1. 我用于 保存未训练的模型的方式（调用 save_inference_model） 是否是正确的？
2. 是否兼容 paddle v1.2.0 和 v1.3.0，关于第2个问题，如果你这边也不确定的话我去试就好。

- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU：请提供CPU型号，Intel Core i5
    3）GPU：无
    4）系统环境：例如Mac OS 10.13.6 ，Python2.7
- 模型信息
    1）模型名称 ，无 2）使用数据集，无 3）使用算法名称，无 4）模型链接，无
- 复现信息：
执行问题描述的代码
- 问题描述：

完整代码见 http://wiki.baidu.com/download/attachments/746290827/paddle_save_model.py?v

[2019-05-06 12:18] ZHOU4424 commented on #17193
@SunGaofeng 我把文件打包了，但是这个不支持上传，应该怎么发给您，能告诉我您的邮箱吗

[2019-05-06 13:22] wopeizl commented on #11371
https://github.com/PaddlePaddle/Paddle/pull/15204

[2019-05-06 15:35] #17112 closed, assigned to junjun315

[2019-05-06 15:40] chengduoZH commented on #17238
@ifkite 你是又遇到什么问题吗？

[2019-05-06 15:43] chengduoZH commented on #17234
@Superjomn 春伟老师有时间帮忙看一下？

[2019-05-06 15:48] chengduoZH commented on #17232
@Officium Can you describe how you observed memory leaks?

[2019-05-06 15:53] chengduoZH commented on #17222
@simpv 从错误上看可能是您在编译的时候指定的CUDA_ARCH有问题.
另外，看到您使用是较早之前的Paddle的，这个版本的Paddle已经停止维护，建议您使用PaddleFluid.

[2019-05-06 15:55] chengduoZH commented on #17220
@kuke 毅冰老师可以帮忙看一下吗？

[2019-05-06 15:58] chengduoZH commented on #17217
@narrowview 你装的是什么版本的Paddle?

[2019-05-07 00:09] Superjomn commented on #17234
已经在看了

[2019-05-07 01:24] #17153 closed, assigned to nobody

[2019-05-07 01:40] LeoZhao-BJ commented on #17153
@luotao1 please remove ngraph label for this issue since it is not related.

[2019-05-07 01:44] luotao1 commented on #17153
@LeoZhao-Intel Done

[2019-05-07 02:00] ifkite commented on #17238
没遇到问题，想请同学确认下 我保存未训练模型的方式 是正确的。

[2019-05-07 02:40] chengduoZH commented on #17238
看这个是没有问题的，这里有相关的文档：http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/io_cn.html#save-inference-model

[2019-05-07 02:46] kuke commented on #17220
https://github.com/PaddlePaddle/LARK/blob/1b54d1444bfde000efa3e71ddf04396c89fd7186/ERNIE/train.py#L198

paddle的inference/test program的声明方式已经考虑到了这个问题，`for_test=True` 会将dropout这种区分train/test的op的执行模式改成test，所以config保持不变即可。

[2019-05-07 02:50] frankwhzhang opened #17246 "nce op 有bug, 不收敛，需要修复。"
有业务方反映nce 使用custom_dist采样时有bug 不收敛,  同时在word2vec这个模型上之前使用的时候一直不收敛。

[2019-05-07 02:59] kuke commented on #17220
https://github.com/PaddlePaddle/Paddle/blob/16922e00937525005829caef87993ed50ad071de/python/paddle/fluid/layers/nn.py#L1366-L1381

另即便是预测，也不能随意改drop_prob，可能导致错误的结果，请参考`downgrade_in_infer`这种dropout模式

[2019-05-07 03:36] Officium commented on #17232
@chengduoZH Please try the following code. The memory usage will increase slowly. And when set `n = 1e8` the script will raise `Segmentation fault: 11`.
Another observation is that larger batch size will not speed up the memory increasing. So maybe there is only index out of bounds and no memory leak.

[code]

[2019-05-07 04:26] drmfsls opened #17248 "image_resize 执行报错"
warnings未定义，报错信息如下：
 File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/layers/nn.py", line 7202, in image_resize
    warnings.warn("out_shape as Variable type is deprecated, \
NameError: global name 'warnings' is not defined

[2019-05-07 04:30] chengduoZH commented on #17059
你的test_program应该是`optimizer.minimize(avg_loss)`之前构建。
请参考：https://github.com/PaddlePaddle/book/blob/develop/02.recognize_digits/train.py#L84

另外，代码里面如果没有特别指定program，所有的操作都会放到`fluid.default_main_program()`，如果在jupiter中运行两次，就会出现在`fluid.default_main_program()`中插入两次Op。
如何指定Program的相关文档： http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/fluid_cn.html#program-guard

[2019-05-07 04:31] luotao1 commented on #17248
请问是执行什么代码出错了呢？

[2019-05-07 04:42] drmfsls commented on #17248
![image](https://user-images.githubusercontent.com/8296333/57272252-81cbdc00-70c5-11e9-8ac7-6c7ebed08279.png)
应该是走到这个分支了，然后nn.py里面warnings未定义

[2019-05-07 04:44] luotao1 commented on #17248
可以先在nn.py开头加一个`import warnings`，我们会进行修复。感谢！

[2019-05-07 06:18] Robets2020 commented on #17220
@kuke 谢谢. 文档里好像没见这方面的说明( "for_test=True 会将dropout这种区分train/test的op的执行模式改成test"), 建议可以加一下说明.

[2019-05-07 06:41] zhoukunsheng opened #17250 "[Operator] add elementwise_mod and elementwise_floordiv"
Adds python interface for elementwise_mod and elementwise_floordiv, their kernel have been already existed.

[2019-05-07 06:54] Robets2020 commented on #17220
@kuke
test_prog = test_prog.clone(for_test=True) 可以理解为等同于将dropout的is_test设置为True吗?
dropout_implementation="upscale_in_train" 是不是(除了dropout_prob和keep_prob的差别)等同与tensorflow中的dropout?

[2019-05-07 07:02] hutuxian opened #17252 "ncclid重复初始化"
![f28b13206abb27839a21ecbfaf4759d7](https://user-images.githubusercontent.com/11195205/57278388-e8a6c080-70d8-11e9-934a-6482c1f24176.jpg)

[2019-05-07 07:20] almostlove opened #17253 "pslib训练过程中报错 holder_ should not be null"
![6293125641e7317572e2f96a3ddc20fd](https://user-images.githubusercontent.com/15178274/57279637-7b485f00-70db-11e9-98f0-5d6f94b9c36e.png)
请教一下这是什么原因啊  任务地址 http://10.76.126.43:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190507144423-1133/

[2019-05-07 07:37] Meiyim opened #17254 "executor.run的fetch_list如果直接给Variable。运行会hang住。"
executor.run的fetch_list如果没有指定python list,而是Variable。运行会hang住。用户体验很奇怪。建议给这个函数（包括其他paddle的API）加上更完善的参数类型检查。

**另外加一个 feature_request:
希望fetch_list时候能支持 dict, list, tuple, namedtuple, list of dict等复杂结构。参考tf.Session.run的fetches参数。**

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
[code]
output:
[code]

[2019-05-07 07:42] luotao1 commented on #17254
感谢指出，我们会首先对fetch_list进行格式检查。

[2019-05-07 08:49] kuke commented on #17220
@roberts-sh 对的，文档我们会完善一下

[2019-05-07 09:02] CAOYUHUI commented on #17254
补充一个，exe.run如果缺少program参数，也会死循环，hang住。

[2019-05-07 09:07] chengduoZH commented on #16197
你用最新的Padde试一下也是这个问题吗？

[2019-05-07 09:17] #17248 closed, assigned to luotao1

[2019-05-07 09:37] CAOYUHUI commented on #17254
在evaluate的时候使用exe.run，如果缺少program参数，会死循环，加入program后正常运行。
evaluate代码：
`def evaluate(exe, test_program, test_pyreader, fetch_list, steps):
    test_pyreader.start()
    total_cost, total_acc, total_num_seqs = [], [], []
    time_begin = time.time()
    while True:
        try:
            np_loss, np_acc, np_num_seqs = exe.run(fetch_list=fetch_list)
            total_cost.extend(np_loss * np_num_seq

[2019-05-07 09:40] CAOYUHUI commented on #17254
在evaluate的时候使用exe.run，如果缺少program参数，会死循环，加入program后正常运行。
evaluate部分的代码
[code]

[2019-05-07 12:48] rosiezhang opened #17264 "Question：根据百度在 NeurIPS 上做的技术分享，基于 PARL 最多可以同时通过 8 块 GPU 来拉动近 20000 个 CPU 节点运算，这些CPU机器和GPU机器在传输样本数据和模型时是采用怎样的方式进行高效传输的呢？"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2019-05-07 14:32] GT-ZhangAcer opened #17265 "传入DataFeeder的数据在一定情况下会只读取一半数据"
PaddlePaddle版本：1.4
GPU：CUDA8 CUDNN7
系统环境：Win10 1803
Python版本3.7

以下代码可能会在一定情况下只读取一半数据，只读取到图片的数据，标签数据则不会一起读取
[code]
报错信息
[code]
Debug信息
data_feeder.py中iterable变量，错误情况下len=2,第一个为图片数据，第二个为标签数据
正常情况下应为 len=1,第一个为[图片，标签]，而非[图片]，[标签]

目前凑合着的解决办法是将自定义数据集读取函数迭代器返回类型改为：
`yield [[im,labelInfo]]`

修改后代码：
[code]
还必须加两个方括号，一个还不行

但如果返回的是`yield im,im`这个问题也能解决，并不会读取错误

这个问题在另一个脚本中没有出现这类问题，不需要加那么多括号

此外如果`feeder

[2019-05-07 14:49] GT-ZhangAcer commented on #17265
系统编码从UTF-8切换回来后恢复正常，关闭该问题

[2019-05-08 01:18] ghost opened #17267 "Enable INT8 Infererence with model trained/saved from QAT (Quantization-Aware Training)"
There are two possible solutions:
有两种可能的方案：
1. Save INT8 model after SLIM QAT -> Run INT8 model directly with INT8 kernels (e.g. conv2d, mul)
2. Save FP32 model after SLIM QAT -> Follow with post-training quantization (e.g. INT8v2) and run

Solution1 may have big performance concern (the saved INT8 model can't be easily applied with inference only optimization like op fusion);
We are evaluating So

[2019-05-08 01:55] #17196 closed, assigned to nobody

[2019-05-08 01:59] SunGaofeng commented on #17193
给您发邮件了，可以回复下把代码和部分数据附上，我帮您在本地验证下

[2019-05-08 02:00] ghost opened #17268 "Softmax OP (fwd+bwd) need be further optimized"
Need optimize Softmax (fwd+bwd) for CPU training

[2019-05-08 02:02] ghost opened #17269 "Transpose2 (fwd+bwd) need be further optimized for CPU training"
Need optimize Transpose2 OP (fwd+bwd) for CPU training

[2019-05-08 02:04] ghost opened #17270 "sequence_reverse OP (fwd) need be optimized for CPU training"
Need further optimize sequence_reverse OP (fwd) for CPU training

[2019-05-08 02:06] ghost opened #17271 "sequence_pad (fwd) need be further optimized for CPU training"
Need further optimize sequence_pad OP (fwd) for CPU training

[2019-05-08 02:07] ghost opened #17272 "sequence_unpad OP (bwd) need be further optimized for CPU training"
Need further optimize sequence_unpad OP (bwd) for CPU training

[2019-05-08 02:41] CYang828 commented on #17160
已解决，save_inference_model的feeded_var_names和target_vars的选择问题
`fluid.io.save_inference_model('lac-inference-model/',
                              feeded_var_names=[ernie_inputs['src_ids'].name,
                                                ernie_inputs['sent_ids'].name,
                                                ernie_inputs['pos_ids'].name,
                                                ern

[2019-05-08 02:41] #17160 closed, assigned to nobody

[2019-05-08 04:08] luotao1 commented on #17265
请问在什么情况下会读取一半数据呢？同一台机器不同数据问题么？

[2019-05-08 05:07] JiabinYang opened #17275 "Fix depthwise_conv kernel to ensure it has same effect on GPU and CPU"
问题： 在CPU和GPU上 `depthwise_conv`的行为不一致，导致在GPU上训练的模型在CPU下预测出现diff

[2019-05-08 05:07] almostlove commented on #17253
已解决 输入数据 配置的问题

[2019-05-08 05:07] #17253 closed, assigned to guru4elephant

[2019-05-08 05:23] #17265 closed, assigned to nobody

[2019-05-08 05:27] Superjomn opened #17278 "mul_lstm_fuse_pass result in the precision difference between CPU and GPU computation."

[2019-05-08 05:44] simpv commented on #17222
@chengduoZH 嗯，我在flags.make中加了sm70就可以了。谢谢
不同显卡,要使用不同的ARCH参数，详见http://arnon.dk/matching-sm-architectures-arch-and-gencode-for-various-nvidia-cards/
早期的paddle版本，一些新显卡没有默认添加这些架构参数。不过好像是可以通过cmake 时传入 -DCUDA_ARCH_NAME=Auto 参数自动识别

[2019-05-08 06:58] GT-ZhangAcer commented on #17265
谢谢官方回复，已经解决

[2019-05-08 06:59] GT-ZhangAcer commented on #17265
谢谢官方回复，已经解决

[2019-05-08 07:21] #17238 closed, assigned to chengduoZH

[2019-05-08 07:42] #17184 closed, assigned to wzzju

[2019-05-08 08:02] XY-Yolanda opened #17286 "Invoke operator fill_constant error"
版本信息 paddle1.4.0 python2.7
CPU运行正常 GPU运行出错
[code]

[2019-05-08 09:22] Kontinuation commented on #16616
我们这边没有本地的P40环境，所以没有在本地试过

[2019-05-08 09:27] sshilei opened #17288 "模型预测C-API，多线程预测为什么需要Clone多个PaddlePredictor"
有两个问题：
（1）C API 中，模型预测应该属于只读，多线程场景下，为什么需要Clone多个PaddlePredictor呢？ 如果Clone内存上会有所增加。

（2）Python接口中，Executor.run() 预测时，是支持多进程的把？我一直多进程并发预测的，请确认是否会有预测结果正确性问题。

[2019-05-08 09:29] chengduoZH commented on #16616
@Kontinuation  最好能够在本地试一下，如果只是在cloud上有问题，可能就比较难查了。

[2019-05-08 09:31] walloollaw commented on #16197
在 paddlepaddle-gpu==1.4.1.post97 依然有这个问题

[2019-05-08 10:40] yangtclive opened #17289 "op lookup_table does not have kernel for data_type[int64_t]:data_layout[ANY_LAYOUT]"
c++代码：

[code]
![image](https://user-images.githubusercontent.com/3841815/57369649-a48eeb00-71c0-11e9-9609-26b562d6e72e.png)

[2019-05-08 11:07] chengduoZH commented on #17222
是的

[2019-05-08 11:13] sshilei opened #17290 "BCLOUD编译依赖后，编译报错"
BCLOUD只添加了一行paddle1.41版本依赖，就会出现编译错误。 去掉这行paddle依赖就可以编译成功。

CONFIGS('baidu/paddlepaddle/paddle@v1.4.1@git_branch')

![image](https://user-images.githubusercontent.com/18701471/57371398-3a2c7980-71c5-11e9-980a-a428dfb4f35e.png)

[2019-05-08 11:26] chengduoZH commented on #17232
@Officium Thanks for your reply. I have fixed this bug in #17282.

[2019-05-08 11:38] sshilei commented on #17290
另外，有没有BCLOUD编译相关的wiki和注意事项，辛苦提供一下。

[2019-05-08 11:47] kuke commented on #17286
[code]

这是爆显存了，参数过大或者显卡被占用导致的

[2019-05-08 12:27] #17232 closed, assigned to chengduoZH

[2019-05-08 12:35] kuke commented on #17290
已内部解答

[2019-05-08 12:45] kuke commented on #17288
（1）预测时多线程之间会相互影响，所以要clone；（2）多进程之间是独立的，这么用应该没有问题

[2019-05-08 13:04] sshilei commented on #17288
继续问一下：
（1）内存增加怎么解决呢，
（2）我们线上服务40个线程，而且线程内部还有bthread，请问应该如何搞呢？是不是每个线程内部的每个bthread也要clone。

[2019-05-08 13:06] wopeizl commented on #17288
一个thread内的bthread内部建议共用一个PaddlePredictor

[2019-05-08 13:19] sshilei commented on #17288
有没有wiki或者详细的解释一下原理，为什么多线程之间会有影响呢，而多个bthread就没有影响。都是并发，区别在哪儿？如果多个线程共用了同一个Predictor会出现什么问题？

[2019-05-08 13:38] wopeizl commented on #17288
paddle运行过程中，有些数据是线程独占的，多线程用一个PaddlePredictor可能冲突或者数据访问竞争出现问题。
bthread只是在分享一个线程资源，而且一个线程上同时也只能有一个bthread运行，不会产生冲突，要注意的是bthread在调用PaddlePredictor的过程中不能yield，必须是一个完整的调用PaddlePredictor直到这次调用结束。

[2019-05-08 14:59] narrowview commented on #17217
用pip install paddlepaddle-gpu装的， ubuntu下python2.7  cuda 9.0 cudnn 7.0

[2019-05-09 02:22] kolinwei opened #17298 "models 下的deeplabv3报错，模型代码未变"
[23:05:14]W:	 [Step 3/3]  [37m---  detected 63 subgraphs [0m
[23:05:22]W:	 [Step 3/3] I0508 23:05:22.874912 22781 build_strategy.cc:305] SeqOnlyAllReduceOps:0, num_trainers:1
[23:05:27]W:	 [Step 3/3] F0508 23:05:27.544423 22801 device_context.cc:331] cudaStreamSynchronize unspecified launch failure errno:4
[23:05:27]W:	 [Step 3/3] *** Check failure stack trace: ***
[23:05:27]W:	 [Step 3/3]     @

[2019-05-09 02:22] kolinwei commented on #17298
commit 5817077c998c9553926332560efdc0a564f81bda是好的
今天试最新的 commit 2c4462711fd35d3c254852bf04f12b10c5650b22
发现此问题

[2019-05-09 02:53] sshilei opened #17299 "C API 预测接口怎么指定 feed_list"
因为我在线执行模型仅仅是训练的一部分，我在线只需要针对1个tensor进行运算，而训练的输入是16个tensor。  有没有类似于 Executor.run 中feed参数，可以预测时指定feed。

[2019-05-09 02:54] Superjomn commented on #17288
临时变量不是线程安全，所以需要 Clone。 参数是只读，所以 Clone 是共享参数的。
很多模型中间的临时变量占用内存更大。

因为临时变量的内存空间无法共享，因此PaddlePredictor 是严格线程不安全的，必须外部处理以保障性能。

[2019-05-09 02:58] fc500110 commented on #17299
可以参考[C++预测部署API](http://paddlepaddle.org/documentation/docs/zh/1.4/advanced_usage/deploy/inference/index_cn.html)

[2019-05-09 03:38] #17250 closed, assigned to nobody

[2019-05-09 04:59] zyz282994112 opened #17300 "fluid在预测阶段报paddle.fluid.core.EnforceNotMet: Enforce failed"
- 版本、环境信息：
    1）PaddlePaddle版本：fluid 1.3 gpu
hi 我在使用fluid gpu版本做预测时，遇到如下错误。详细见：http://yq01-sys-hic-k40-box-0002.yq01.baidu.com:8388/v1/slurmjobs/24112/workspace ->log/bert_predict.log
[code]
报错代码：results = predict_exe.run(fetch_list=[probs.name, labels.name, src_ids.name])这一行
[code]
错误原因：我在fetch_list里加入了src_ids.name后，出现下图错误，去除后则正常。其中src_ids是模型的输入特征之一，格式如下：
[code]

[2019-05-09 06:21] qingmei-migu opened #17302 "直接拉取的paddle镜像，fluid的build地址在哪里呢？"
急求呀！

还是说需要重新编译fluid库呢？但是我直接在paddle镜像里import paddle.fluid是成功的呀

[2019-05-09 06:47] #16053 closed, assigned to seiriosPlus

[2019-05-09 06:52] sshilei opened #17303 "C API 链接失败 undefined reference to paddle::CreatePaddlePredictor"
![image](https://user-images.githubusercontent.com/18701471/57432997-e45ddd00-7269-11e9-9a9f-3100774b25ff.png)

![image](https://user-images.githubusercontent.com/18701471/57433011-efb10880-7269-11e9-9d34-b32ef276e686.png)

![image](https://user-images.githubusercontent.com/18701471/57433039-03f50580-726a-11e9-8968-509836d3aade.png)

[2019-05-09 07:14] sneaxiy commented on #17069
可能是机器环境问题，后续未有出现类似现象。

[2019-05-09 07:14] #17069 closed, assigned to sneaxiy

[2019-05-09 07:27] sshilei opened #17305 "模型训练正常， 预测的时候报错"
我训练用的是最新的incubator版本。

预测用 incubator的infer_from_dataset()  和 fluid 1.4 的 Executor.run() 都会报错。

fluid1.4 Executor.run报错如下
![image](https://user-images.githubusercontent.com/18701471/57434845-7b2c9880-726e-11e9-8c2f-aa29026c0fb8.png)

incubator版本： infer_from_dataset报错如下：
![image](https://user-images.githubusercontent.com/18701471/57434804-62bc7e00-726e-11e9-9ded-077f5c81d068.png)

代码：
fluid 1.4版本
![

[2019-05-09 07:49] hyo009 opened #17307 "AttributeError: 'module' object has no attribute 'flatten'"
配置模型时，报错如下：
`Traceback (most recent call last):
  File "keras_2_fluid_all_part_map_diff_direction2_fix_multi_sum_output2.py", line 132, in <module>
    flatten1 = fluid.layers.flatten(input=fc1, axis=0, name='flatten')
AttributeError: 'module' object has no attribute 'flatten'`

文件中已import相关库：
import paddle
import paddle.fluid as fluid
import paddle.fluid.core as core
import paddle.fluid.framework

[2019-05-09 07:57] gongweibao commented on #17307
版本是？

[2019-05-09 08:05] gongweibao commented on #17302
https://hub.docker.com/r/paddlepaddle/paddle

[2019-05-09 08:05] #17302 closed, assigned to nobody

[2019-05-09 08:07] #17299 closed, assigned to nobody

[2019-05-09 08:26] Officium opened #17309 "Core dumped when distributed training"
Paddle fluid 1.3 MPI cluster, tail pserver.log
[code]

training code
[code]

[2019-05-09 08:40] hyo009 commented on #17307
paddle.__version__
'0.11.0'

[2019-05-09 08:41] hyo009 commented on #17307
这个版本有flatten吗？

[2019-05-09 08:43] gongweibao commented on #17307
立即转fluid 1.4吧。

[2019-05-09 08:43] #17307 closed, assigned to gongweibao

[2019-05-09 08:44] seiriosPlus commented on #17309
把 TruncatedNormal 换成 其他的试一下？

[2019-05-09 08:45] gongweibao commented on #17309
develop分支里边。

[2019-05-09 08:49] qingmei-migu opened #17310 "paddle安装出错"
paddle安装，每次到 build target jit_kernel_helper时，就完全静止不动，放个20分钟也完全没动静，求问，这是什么情况呢？

网络原因的话，有办法可以加速下载吗？

[2019-05-09 08:53] InsaneLife commented on #16674
请问你是怎么加载到pytorch中的呢，脚本能否分享下

[2019-05-09 08:59] kuke commented on #17300
https://github.com/PaddlePaddle/LARK/blob/1b54d1444bfde000efa3e71ddf04396c89fd7186/BERT/predict_classifier.py#L113

把ParallelExecutor换成Executor可以解决这个问题

[2019-05-09 09:00] kuke commented on #17289
经内部沟通，是save inference model的时候feed target names给错了

[2019-05-09 09:02] Officium commented on #17309
@seiriosPlus 试过如下更改，均不起作用：
1. 替换TruncatedNormal 为Normal
2. 对trainer加入`fluid.memory_optimize(fluid.default_main_program(), skip_grads=True)`
3. 去掉label smooth
4. 不计算AUC
5. 去掉Validate

另外两个现象是:
1. pserver.log中出现`check for SO_REUSEPORT: {"created":"@1557391922.143694905","description":"OS Error","errno":92,"file":"src/core/lib/iomgr/socket_utils_common_posix.cc","file_line":169,"os_error":"Protocol n

[2019-05-09 09:09] #17290 closed, assigned to kuke

[2019-05-09 09:17] chengduoZH commented on #16197
@walloollaw 如果退出之前对线程调一下 join 就没问题。

[2019-05-09 09:26] #17289 closed, assigned to nobody

[2019-05-09 09:34] hyo009 opened #17311 "ValueError: Parameter shape should not be related with batch-size"
paddlepaddle版本：paddlepaddle-latest-cp27-cp27mu-linux_x86_64.whl
环境： centos6u4,    python2.7
报错信息如下：
`Traceback (most recent call last):
  File "keras_2_fluid_all_part_map_diff_direction2_fix_multi_sum_output2.py", line 136, in <module>
    fc2 = fluid.layers.fc(name='relu_fc2',input=concat2,size=10,act='relu',bias_attr=True)
  File "/home/map01/.jumbo/lib/python2.7/site-packages/paddle/fluid/layer

[2019-05-09 09:38] seiriosPlus commented on #17309
HI上提供一下复现代码吧， 我复现一下

[2019-05-09 10:34] XY-Yolanda commented on #17286
可是把batchsize都已经调成1了 还是不报同样的问题 CPU可以正常运行 GPU一直报这个错

[2019-05-09 10:57] XY-Yolanda commented on #17286
是显存问题 解决了

[2019-05-09 10:57] #17286 closed, assigned to kuke

[2019-05-09 13:32] xjqbest commented on #17305
Executor.run报错是组网的问题，可以检查一下网络。
infer_from_dataset报错，看着你用的whl包是旧的，目前fleet有改动，这周新合入了代码，你跑的这个版本可能是fleet之前的bug。

[2019-05-09 14:25] cjt222 opened #17316 "新写了一个新的OP，编译成功，但是import paddle.fluid时报错，这可能是什么原因呢？"
<img width="1377" alt="image" src="https://user-images.githubusercontent.com/17508662/57461257-425de500-72a9-11e9-96f6-5e1e5507c19c.png">
新写了一个新的OP，编译成功，但是import paddle.fluid时报错，这可能是什么原因呢？

[2019-05-10 02:07] #17310 closed, assigned to nobody

[2019-05-10 02:42] #17098 closed, assigned to junjun315

[2019-05-10 02:42] jjlucus opened #17325 "fluid C++预测出core"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：fluid 1.4
    2）CPU：Intel(R) Xeon(R) CPU    E5645  @ 2.40GHz
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：CentOS release 6.3，Python2.7.10
-预测信息
    1）C++预测：fluid 1.4
    2）CMake包含路径的完整命令
    3）API信息  predicto

[2019-05-10 02:43] yeyupiaoling commented on #17146
发现问题了。应该是过采样的原因。

[2019-05-10 02:43] #17146 closed, assigned to nobody

[2019-05-10 02:43] seiriosPlus commented on #17309
定位到了问题， 下面贴一下解决方法：
1. 在非1.4.1/develop的版本下，多机不能使用truncated_gaussian_random， 需要改成其他初始化
2. `t.get_pserver_programs(current_endpoint)`的调用错误，它返回的顺序依次是`pserver_prog、pserver_startup`(特别注意)
3. 目前发现`fluid.clip.set_gradient_clip(clip=fluid.clip.GradientClipByGlobalNorm(clip_norm=100.0))`这行在多机上使用会有问题，建议先去掉，我会进一定位修复。

[2019-05-10 03:09] Ashleychen commented on #16556
目前这个问题还没有解决，而且我现在test program还需要在线训练，所以我现在用了save_persistables和load_persistables这两个api，我检查了以下几种情况的预测结果，分别是：
1. 训练过程中
2. 保存模型后重新加载参数，然后用单卡预测
3. 保存模型后重新加载参数，然后用多卡预测
4. 保存模型后重新加载参数，然后用单cpu预测
5. 保存模型后重新加载参数，然后用多cpu预测
这几种情况下的结果都不一致。
以下截图分别是我如何调用save_persistables和load_persistables，执行test program。
![image](https://user-images.githubusercontent.com/4193110/57499923-fbf1a000-7313-11e9-94d1-94cf336c80a8.png)

[2019-05-10 03:19] KeyKy opened #17327 "int8训出来的模型 测试了一下。评价基本都为0了，但是在量化训练的时候会跑验证阶段这时候的loss是正常的。"
问题是：int8量化训出来的模型 测试了一下。评价基本都为0了，但是在量化训练的时候会跑验证阶段这时候的loss是正常的。评价指标计算正确，我测了我其他的模型是正常的。
    1）PaddlePaddle版本：1.4.1
    3）GPU：CUDA9 CUDNN7.0
    4）系统环境：Centos python2.7

[2019-05-10 03:24] sonofaeolus opened #17328 "beam search 使用时error paddle.fluid.core.EnforceNotMet: Enforce failed. Expected in_dim == x_dim, but received in_dim:2, 3072 != x_dim:4, 3072."
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及

[2019-05-10 03:26] sonofaeolus commented on #17328
问题部分代码
    cond = pd.less_than(x=counter, y=array_len)

    while_op = pd.While(cond=cond)
    with while_op.block():
        pre_ids = pd.array_read(array=ids_array, i=counter)
        pre_state = pd.array_read(array=state_array, i=counter)
        pre_score = pd.array_read(array=scores_array, i=counter)
        pre_ids_emb = pd.embedding(input=pre_ids, size=[dict_size, emb_size], dtype='float32'

[2019-05-10 03:29] sonofaeolus commented on #17328
word_proj = fluid.layers.fc(input = [contex, pre_ids_emb], size = hidden_size * 3) 应该是这边 contex跟pre_ids_emb shape不同导致，但是contex 与 pre_ids_emb的lod信息不同无法使用 sequence_expand，使用lod_reset报错求问这个该怎么解决

[2019-05-10 03:50] #17327 closed, assigned to nobody

[2019-05-10 03:54] luluxing3 opened #17332 "如何实现tf.gather_nd?"
有一个输入tensor，shape= [batch, seq_len, dim] 和记录position的tensor，shape=[batch];按照position取具体seq_len的某一个时刻(切片[batch，1，dim]),最终得到输出tensor，shape=[batch, dim]
请问如何在paddle中实现？

[2019-05-10 04:00] luluxing3 commented on #17332
step1: reshape input tensor,  [batch, seq_len, dim] --> [batch * seq_len, dim]
step2: change position offset, postion[i] += i*seq_len+position[i]
step3: paddle.fluid.gather(input_tensor, position)

具体代码可参考：
x = fluid.layers.range(0, batch_size, 1, 'int64') * max_seq_len
index = positions + x
index = fluid.layers.cast(index, dtype='int32')
index.stop_gradient = True
input_reshape = fluid.layers.res

[2019-05-10 04:00] #17332 closed, assigned to nobody

[2019-05-10 05:27] #17316 closed, assigned to nobody

[2019-05-10 05:45] lgone2000 commented on #11371
目前paddle加上了模型定义的call stack信息，可以帮助定位一部分。
但是有关shape错误的部分，还是和让人看晕。能否把所有这些关于shape的报错，加上详细的信息？
比如 op的名称，输入的具体shape=[x,x,x,x], 以及为啥 shape不匹配。

Enforce failed. Expected output_shape[unk_dim_idx] * capacity == -in_size, but received output_shape[unk_dim_idx] * capacity:-256 != -in_size:-320.
Invalid shape is given. at [/paddle/paddle/fluid/operators/reshape_op.cc:101]

[2019-05-10 07:33] gavin1332 commented on #16272
![image](https://user-images.githubusercontent.com/1552048/57510264-e8a4fb80-7338-11e9-91cf-dc8d21a71e5a.png)
https://docs.nvidia.com/deeplearning/sdk/nccl-developer-guide/docs/env.html#nccl-launch-mode

[2019-05-10 07:35] ghost opened #17335 "INT8 FC MKLDNN kernel need be created"
Create INT8 FC MKLDNN kernel based on new designed FP32 FC MKLDNN kernel.

[2019-05-10 07:36] gavin1332 commented on #16329
显存优化未来会被废弃，建议优先尝试使用GC回收显存，可通过环境变量激活：
export FLAGS_eager_delete_tensor_gb=0.0

[2019-05-10 07:39] ghost opened #17336 "INT8 mul MKLDNN kernel need be created"
Need create INT8 mul MKLDNN kernel.

[2019-05-10 07:43] gavin1332 commented on #17013
代码库链接没有访问权限。
通常情况下nccl阻塞有如下两种可能性，请先自查：
1. 使用代理；
2. 多卡训练进度不一致，个别GPU数据训练完毕后不再执行collective communication，而其他卡会阻塞等待。
问题2源自nccl本身，据nv技术人员说法，当前版本nccl2.3尚未解决此问题，只能让用户均匀分配各GPU间的数据，或者手动停止训练任务。

若为其他问题，欢迎 留言讨论

[2019-05-10 07:59] fuyi02 opened #17337 "paddle.fluid.core.EnforceNotMet: CUDNN_STATUS_NOT_INITIALIZED"
不论自己下载paddle源码安装还是用官方的whel包都有这个问题
环境是cuda9.0+cudnn7.3
paddle.fluid.core.EnforceNotMet: CUDNN_STATUS_NOT_INITIALIZED at [/home/fuyi02/networkCode/Paddle/paddle/fluid/platform/device_context.cc:216]
PaddlePaddle Call Stacks:
0       0x7fd0421a53a5p void paddle::platform::EnforceNotMet::Init<char const*>(char const*, char const*, int) + 357
1       0x7fd0421a5729p paddle::platform::EnforceNotMet::Enf

[2019-05-10 08:15] sshilei commented on #17288
请问一下term_embding的词典会共享吗？ 我那个term_dict 40W, 我看模型save的里面，term_emb占了200M。如果每个线程一份，那内存会非常大。 我现在还在解决paddle C-API编译依赖的问题，还没有真正加载，先了解一下。

[2019-05-10 08:16] sshilei commented on #17288
@Superjomn  @wopeizl

[2019-05-10 08:20] kolinwei opened #17338 "paddle_build.sh#L202-L203 注释部分重复"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/scripts/paddle_build.sh#L202-L203

[2019-05-10 08:48] kangzhangqi opened #17339 "paddle.fluid.core.EnforceNotMet: Cannot get attribute height_sections by type"
- 问题描述：
预测程序中导入模型后运行报错。反复核对了模型文件和输入输出，找不到原因。
**重点是：模型在GPU上训练，完成训练之后拷贝到CPU机器上预测。**
预测程序很简单，如下:
![image](https://user-images.githubusercontent.com/23546538/57514450-273fb380-7343-11e9-8f55-728d899645b6.png)
- 报错日志截图：
![image](https://user-images.githubusercontent.com/23546538/57514538-4f2f1700-7343-11e9-851e-392115c16b3c.png)
- 报错日志如下
Traceback (most recent call last):
  File "predict.py", line 65,

[2019-05-10 08:58] #17024 closed, assigned to zhoukunsheng

[2019-05-10 09:11] TheodoreG opened #17340 "How to debug shape error?"
When I run mobilenet ssd, I got such wrong

![image](https://user-images.githubusercontent.com/13977118/57516082-94a11380-7346-11e9-97a9-238d77384905.png)

How do I debug such reshape wrong? Cause I don't know even know which variable got such error.

[2019-05-10 09:14] tensor-tang commented on #17340
Can you print the shape after each layers, or `export GLOG_v=3` to see the shape flow.

[2019-05-10 09:22] TheodoreG commented on #17340
I set export GLOG_v=3 before my running script, but nothing different happened

[2019-05-10 09:33] tensor-tang commented on #17340
Please make sure  `export GLOG_logtostderr=1 ` added

[2019-05-10 09:36] luotao1 commented on #17339
`height_sections`是分布式Op里的属性，存为预测模型后不应该有这个属性。
@kangzhangqi 可以先试下：用save_persistable来保存参数， 然后自己重新定义网络保存下来一个包含你feed和fetch_target的网络
@seiriosPlus 可以帮忙看下么？

[2019-05-10 09:44] kangzhangqi commented on #17339
对的。我是在cpu机器上训练的模型导入就没问题，我用GPU训练同样的模型导入报这个错误。也不像是paddle版本的问题。我现在在训练脚本里面是用的save_inference_model保存的模型。我先试试save_persistables。

[2019-05-10 13:24] sshilei commented on #17288
只创建一个Predictor，主模块内存40G， 每个线程clone一份（线上服务，40个线程），内存上升到44G。压力有点大。

![image](https://user-images.githubusercontent.com/18701471/57530429-cb3c5580-7369-11e9-856a-f5333d5d977b.png)
![image](https://user-images.githubusercontent.com/18701471/57530461-e018e900-7369-11e9-9b13-e935f4d4fefe.png)

![image](https://user-images.githubusercontent.com/18701471/57530444-d2636380-7369-11e9-8db2-a1882ef4904f.png)

[2019-05-10 14:40] ZHOU4424 commented on #17193
您好，请问我的代码在您的电脑上运行情况怎么样

------------------ 原始邮件 ------------------
发件人: "SunGaofeng"<notifications@github.com>;
发送时间: 2019年5月8日(星期三) 上午10:00
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "风云"<835472495@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] load_inference_model加载模型后预测不同图片得到的结果相同 (#17193)

给您发邮件了，可以回复下把代码和部分数据附上，我帮您在本地验证下

—
You are receiving this be

[2019-05-10 15:14] guoshengCS commented on #17328
请问这个训练能跑通吗，看代码感觉contex是attention的结果应该是单步的，pre_ids_emb应该也是单步的，为什么shape不同呢

[2019-05-10 15:18] guoshengCS commented on #17340
Maybe you can use  layers.Print to print and see the shape of output of each layer.

[2019-05-10 16:00] guoshengCS commented on #17311
我这边自己试了下
[code]
有如下输出
[code]
fc1.shape是(-1L, 30L)，flatten1.shape是(1L, -30L)，concat2.shape是(-1L, -30L)，然后`fc2 = fluid.layers.fc(name='relu_fc2',input=concat2,size=10,act='relu',bias_attr=True)
`的时候就会要用concat2.shape来构建weight的shape，负数（用来表示batch-size）就会报这个错。
感觉应该是这个flatten的问题，这里这个flatten1.shape是(1L, -30L)导致出现了后面的问题，这个(1L, -30L)通常表示batch_size为1，特征维度为-30，可以试下调整下fluid.layers.flatten中的axis

[2019-05-10 16:14] guoshengCS commented on #17325
看这个贴图里的报错应该对应了这里 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/feed_fetch_method.cc#L49
[code]
这个报错貌似是因为fetch获取的类型不正确，麻烦确认下保存的模型是否正确，可以试下python里load_inference_model是否能正确运行来判断模型是否正确

[2019-05-10 16:43] guoshengCS commented on #17337
这里可能是因为使用的cudnn不是对应的cuda9版本的，麻烦重新安装CUDA9的cudnn 7试下。

[2019-05-10 17:06] kangzhangqi commented on #17339
@seiriosPlus 有空帮我看看这个问题，很棘手。不然以后就得抛弃GPU，在CPU重新训练。

[2019-05-11 07:07] cjt222 opened #17342 "请问一下，ubuntu编译安装的时候默认的cuda版本是多少呢？"
我的环境是cuda8.0，cudnn7，编译指令是cmake .. -DWITH_GPU=ON -DWITH_TESTING=ON -DCMAKE_BUILD_TYPE=Release在docker中的ubuntu编译安装后，去python/paddle/fluid/tests/unittests中去运行任何带cu文件的op，都会报如下错误。
<img width="922" alt="fc51598fbcb7548c40c635b5cab7a2ab" src="https://user-images.githubusercontent.com/17508662/57566381-5ff09300-73fe-11e9-812f-01775c5cbb38.png">

[2019-05-11 13:51] sshilei opened #17345 "训练好的模型，Python预测没有问题，C-API加载时CreatePaddlePredictor出core，无法加载成功"
![image](https://user-images.githubusercontent.com/18701471/57570633-cd201a80-7436-11e9-8835-5ef82519d926.png)

[2019-05-11 15:14] Superjomn commented on #17345
![image](https://user-images.githubusercontent.com/328693/57571544-4f620c00-7442-11e9-9754-4c5a00dd6b64.png)

信息不足，可以提供下：

1. 错误日志。  enforce 挂了会输出对应的错误信息以及代码行号
2. 版本号
3. 看起来是在预测库外层做了封装，建议先用单测测试相应的封装接口，之后再连到服务里

[2019-05-11 23:03] chengduoZH commented on #17217
@narrowview
你可以换一台机器试一下吗？我这边没能复现你的问题
[code]

[2019-05-12 02:07] #17222 closed, assigned to chengduoZH

[2019-05-12 09:35] chenxiaoyu3 commented on #17234
有结论了不？

[2019-05-12 13:37] ZHOU4424 commented on #17193
虽然不知道原因，但是把paddlepaddle升级到1.4版本解决了

[2019-05-12 13:37] #17193 closed, assigned to nobody

[2019-05-13 01:27] sshilei commented on #17345
1. 错误日志：
2. 版本号 ：   CONFIGS("baidu/paddlepaddle/paddle@paddle_prebuilt_cpu-1-0-0-1_PD_BL@git_tag")
3. 没有进行外层封装，我是主模块直接调用的预测库API。主模块就是在init启动过程中加载模型就core，还没有设计到主模块的运行逻辑。

[2019-05-13 01:32] Superjomn commented on #17234
线下在解决？  你们是线下联系我们了吧

[2019-05-13 01:33] Superjomn commented on #17234
建议使用官方BCLOUD和官网编译的版本，其他编译变种太多，这边没有能力cover完整

[2019-05-13 01:35] Superjomn commented on #17345
有错误日志吗， enforce 失败会打日志

[2019-05-13 01:38] sshilei commented on #17345
--- Running analysis [ir_graph_build_pass]
--- Running analysis [ir_analysis_pass]
--- Running IR pass [infer_clean_graph_pass]
--- Running IR pass [runtime_context_cache_pass]
--- Running IR pass [attention_lstm_fuse_pass]
--- Running IR pass [seqpool_concat_fuse_pass]
--- Running IR pass [seqconv_eltadd_relu_fuse_pass]
--- Running IR pass [fc_lstm_fuse_pass]
--- Running IR pass [mul_lstm_fuse_pa

[2019-05-13 01:45] #17059 closed, assigned to hjchen2

[2019-05-13 01:46] Superjomn commented on #17345
你模型里面有 nce_op 吗

https://github.com/PaddlePaddle/Paddle/commit/74040cb4aad1c8390fcc080c32f0c12bee46a05b#diff-1a32c2da5e543db6809ddd612601cc32L137

发现这个 attribute  `height_sections` 的确改了格式，导致训练(版本) 和 预测库版本不一致时，训练存储的模型不兼容

确认下是有有用 NCE

[2019-05-13 01:50] sshilei commented on #17345
看了你给的链接， 没有发现有nce_op,  我补充一下模型代码如下：
现有加载失败的模型操作主要有：
（1） embedding
[code]
(2) bow
[code]
(3)  fc
(4)  求cos_sim
[code]
(5) 计算loss
[code]

除此之后，还有一个模型是CNN，可以通过C-API加载成功， 唯一的区别是在（2）步
CNN用的是
146         output = fluid.nets.sequence_conv_pool(
147                     input=_input,
148                     num_filters=hparams['hidden_dim'],
149                     filter_size=hparams['cnn_window_size'],
1

[2019-05-13 01:56] Superjomn commented on #17345
或者给一个__model__ 文件，我这边解析一下，大概率是op的attr 把int改成int64_t了，导致不同版本的训练存储下来和另外一个版本的预测库里，对这个attr解析的格式不一样

[2019-05-13 01:59] sshilei commented on #17345
通过hi提供模型文件

[2019-05-13 02:35] Superjomn commented on #17345
应该弄清楚了，的确是1月份改了代码导致不兼容；

建议使用版本一致的，但预测库是1版本的，可能比较老

@fc500110 我们最新的 1.4 的 pre-built 可以提供过来

类似这样的Op的attr定义内部不允许随意改，不然影响不同版本的兼容性，我们内部也会case study下。

[2019-05-13 02:57] rlistengr opened #17350 "实现focal loss遇到的运行错误"
环境：百度AI studio
问题：

[code]

现在运行时发生错误：

[code]

意思是gather操作的下标类型错误，麻烦帮忙看下

[2019-05-13 03:33] CAOYUHUI opened #17352 "含子图模型在多卡训练中报错"
预测的graph是训练graph的一个子图，单卡可以正常跑，但是多卡在跑完训练过程中的第一次预测后就挂了，报错如下：
![image](https://user-images.githubusercontent.com/25171537/57594516-15dcee00-7573-11e9-84cb-5b418256216c.png)

[2019-05-13 04:03] hoyoung2015 opened #17354 "预测是否支持FPGA加速卡"
是否支持服务器上插的FPGA加速卡进行预测？

[2019-05-13 04:31] Superjomn commented on #17354
目前暂不支持； 缺少相关的kernel

[2019-05-13 04:32] Superjomn commented on #17352
可以补充下下面的内容吧:

1. 相关的模型代码，应该是写的方式不对
2. 版本号

[2019-05-13 06:13] paulpaul91 opened #17358 "adversarial training 中我需要使用输入的embeding的梯度信息，有没有接口"
adversarial training 中我需要使用输入的embeding的梯度信息，有没有接口？
例如tensorflow中的tf.gradients 和pytorch 中的grad接口

[2019-05-13 06:33] hyo009 opened #17359 "set_lod时报错paddle.fluid.core.EnforceNotMet: the provided lod info is invalid at [/paddle/paddle/fluid/pybind/pybind.cc:449]"
paddle版本：Fluid1.4 latest
环境：centos 6u3

设置特征lod时报错：

[code]

to_lodtensor函数如下：

[code]

特征是类似nlp的变长序列，之前使用0.11版本的paddle时用这个函数设置lod没有问题，改为最新版fluid后报错。报错时expand_res.set_lod([lod,expand_lod]) 中装填的lod信息为[[0, 2], [0, 2, 4]]

[2019-05-13 06:39] Officium commented on #14447
@Xreki exe.close()是在哪里调用？

[2019-05-13 06:41] CAOYUHUI commented on #17352
paddle版本用的是最新的develop分支编译的；（应该是你们的同学提供的）
关键代码：
[code]

[2019-05-13 06:45] Superjomn commented on #17352
啥代码？

[2019-05-13 06:47] CAOYUHUI commented on #17352
已up，graph里面有一个sub-graph分支

[2019-05-13 06:58] Superjomn commented on #17359
看了是lod的格式不合法。

lod本身信息看起来没问题，是否是 `expand_res` 的 shape[0] != 4 ？ 否则跟LoD对不上

[2019-05-13 07:06] Superjomn commented on #17352
你预测指的是中间 validate ?
外层是一次性跑 test，然后退出程序；还是一个进程会交替执行 train, test，两个分支都会跑到？

[2019-05-13 07:09] CAOYUHUI commented on #17352
预测指的是中间的validate过程，交替执行train、test。

[2019-05-13 07:10] #17305 closed, assigned to xjqbest

[2019-05-13 07:10] #17309 closed, assigned to seiriosPlus, frankwhzhang

[2019-05-13 07:30] Officium opened #17362 "MPI training raise grpc error in the first batch of second pass"
Stable reproduction
[code]

[2019-05-13 07:50] hoyoung2015 commented on #17354
那有没有计划支持呢，如果有的话，大概什么时候呢，谢谢啦！

[2019-05-13 07:52] Officium commented on #17362
More details in app/train.log
[code]

[2019-05-13 08:30] bingyanghuang opened #17364 "Create the Pass to convert QAT graph to MKL-DNN executable graph"
To apply QAT trained model on intel MKL-DNN INT8 kernel, we need do some graph transformations by Pass. The transformation will be as below, right conv2d is with MKL-DNN kernel:
![image](https://user-images.githubusercontent.com/33643817/57606803-438a5d00-759c-11e9-91e6-b3bb9d737431.png)

[2019-05-13 08:30] yihuaxu commented on #17336
I will check this issue and try to implement it.

[2019-05-13 08:44] wojtuss opened #17365 "Request for trained models with program descriptors"
We are working on INT8v2 quantization of the models: GoogleNet, ResNet101, MobileNetV2, VGG16, VGG19, ShuffleNetV2. Their trained parameters are available at https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification#supported-models-and-performances.
In order to enable the models in the unit tests, we need the full models (parameters and program descriptors) to be uploaded

[2019-05-13 08:48] luotao1 commented on #17365
Could you paste the difference here?

[2019-05-13 08:49] #17359 closed, assigned to nobody

[2019-05-13 08:57] zyz282994112 commented on #17300
替换后仍然报错，详见：
http://yq01-sys-hic-p40-0085.yq01.baidu.com:8388/v1/slurmjobs/98679/workspace

[2019-05-13 09:14] hyo009 opened #17367 "变长序列可以用flatten压扁成一维tensor么？"
paddle版本： fluid 1.4 latest
环境：centos 6u3

**模型从keras转fluid后预测：
报错信息如下：**
`Traceback (most recent call last):
  File "keras_2_fluid_all_part_map_diff_direction2_fix_multi_sum_output2.py", line 433, in <module>
    fetch_list=[final_output1, final_output2],return_numpy=False)
  File "/home/map01/.jumbo/lib/python2.7/site-packages/paddle/fluid/executor.py", line 565, in run
    use_program_cache=use_

[2019-05-13 09:17] Superjomn commented on #17367
变长序列，paddle 的实现和 keras 完全不同，不一定能转

flattern 只支持固定 shape 的输入，对变长序列的 tensor 处理不支持

[2019-05-13 09:36] wojtuss commented on #17365
Sure. The differences in accuracy look like this:

Models | Baidu FP32 (cv2) | Our FP32
----|----|----
ResNet101 | 77.56% | 77.26%
VGG16 | 71.65% | 71.75%
VGG19 | 72.32% | 72.33%
GoogleNet | 70.27% | 69.92%
MobileNetV2 | 71.53% | 71.68%
ShuffleNetV2 | 69.48% | 69.34%

[2019-05-13 10:06] luotao1 commented on #17365
Is the difference between CPU and GPU?
I see ResNet-50 and MobileNet-V1 have difference as well.
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tests/api/int8_mkldnn_quantization.md

Models | Baidu FP32 (cv2) | Our FP32
----|----|----
ResNet50 | 76.22% | 76.63%
MobileNetV1 | 70.51% | 70.78%

[2019-05-13 10:19] LittleDreamDog opened #17370 "save_inference_model（)保存的时候总显示ValueError: var 张量名称 not in this block，save_inference_model（)里的feeded_var_names参数，list长度为一的时候就没问题，长度为2就报这个错"
[code]

![image](https://user-images.githubusercontent.com/17682175/57614349-97507280-75ab-11e9-8be9-63b4568bb448.png)

[2019-05-13 10:21] LittleDreamDog commented on #17370
我打印了一下global_block中的我那个变量的名字 是可以找到的，但是保存的时候就不行 paddlepaddle1.2 GPU

[2019-05-13 10:44] #17270 closed, assigned to nobody

[2019-05-13 11:09] guoshengCS commented on #17311
试了下将flatten换成reshape后可以跑通
[code]

shape输出如下：
[code]

[2019-05-13 11:29] Superjomn commented on #17300
报错信息在哪儿？  可以截下图

[2019-05-13 11:33] xiaohuanghuasyy opened #17373 "迁移到fluid版本后,同样的数据、模型、优化方法训练结果准召下降"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-05-13 11:44] AlessandroVol23 commented on #17188
Hi I've got the same problem when trying to execute the code in https://github.com/yaoxuefeng6/Paddle_baseline_KDD2019.

I am using a conda environment and added it to the base environment and tried to add the following lines:

[code]

Unfortunately I still have the same error:

[code]

I tried to install it via

[code]

But it didn't help.

Any ideas how to solve it?

[2019-05-13 11:51] jczaja commented on #17268
1) Improve (vectorize/parallelize) threshold adding in softmax fwd for traning
2) detiled profiling of NLP traning (BERT traning would be good)
3) Test mkl-dnn jit softmax when it is available in 0.x mkl-dnn
4) Improve softmax bwd : remove PD creation that happens every iteration.

[2019-05-13 11:52] xiaohuanghuasyy commented on #17373
问题描述：同样的数
 @据集使用vgg16进行网络训练，进行参数对应后，准召达不到之前的精度，不知道是是什么原因导致的？期待解答，感谢🙏
版本、环境信息：
   1）PaddlePaddle版本：fluid：1.3.0；v2：0.11.0
   2）GPU：fliud：GPU型号:Tesla P40、CUDA Version: 9.0、 CUDNN版本号7.0
                    v2:GPU型号:Tesla P40、CUDA Version: 8.0.61、 CUDNN版本号6.0
训练信息
   1）单机多卡
两个版本的测试误差曲线如下：
<img width="1233" alt="image" src="https://user-images.githubusercontent.com/49932037/57619915-ca016780-75b9-11e9-9

[2019-05-13 11:55] luotao1 commented on #17268
@jczaja Does all above 4 improvement for softmax_mkldnn_op?

[2019-05-13 11:55] wojtuss commented on #17365
Our values are from CPU (Intel i9, 1 socket, 14 cores), Baidu values are taken from the referenced page (https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification#supported-models-and-performances).

[2019-05-13 12:01] menghou opened #17375 "fluid训练的模型v2预测，header.size==getSize()出错"
模型训练：fluid 版本1.3.0
环境  cpu python2.7
模型预测：paddle-0.8.0b3.dist

错误信息：
`[WARNING 2019-05-13 19:59:32,275 networks.py:1438] `outputs` routine try to calculate network's inputs and outputs order. It might not work well.Please see follow log carefully.
[INFO 2019-05-13 19:59:32,281 networks.py:1466] The input order is ...
[INFO 2019-05-13 19:59:32,281 networks.py:1472] The output order is [output, outp

[2019-05-13 12:03] jczaja commented on #17268
Yes. Do you suggest looking at Nonmkl-DNN  as well ? @tensor-tang implemented JIT softmax in paddlepaddlle , but only for inference. Extending his code to work for forward-training (if only instruction set used is matching your requirements)could be useful when softmax without mkl-dnn is used

[2019-05-13 12:04] sonofaeolus commented on #17328
训练的时候没有beam_search 可以跑通 infer的时候不行

[2019-05-13 12:08] luluxing3 opened #17376 "请问有CompiledProgram结合pyreader的使用例子吗？"
http://paddlepaddle.org/documentation/docs/zh/1.4/api_guides/low_level/compiled_program.html 关于CompiledProgram只找到了这个介绍，这里只有feed_dict的数据传输方式。

[2019-05-13 12:09] guoshengCS commented on #17328
请问打印出来的这两个的shape是什么样的呢
[code]

[2019-05-13 12:10] luotao1 commented on #17268
Since `softmax_mkldnn_grad_op` speedup 10x in our application, we prefer `softmax_mkldnn_op` at first.

[2019-05-13 12:19] sonofaeolus commented on #17328
初始化的时候 pre_ids_emb ：2 512； contex：2 1024
第一次beam_search之后 pre_ids_emb ：4 512； contex：2 1024

[2019-05-13 12:21] guoshengCS commented on #17328
这个是说4和2不一样是吧，这个一样就能对上了是吗

[2019-05-13 12:23] sonofaeolus commented on #17328
对

[2019-05-13 12:25] luotao1 commented on #17365
Baidu values are taken from the GPU.

[2019-05-13 12:27] luotao1 commented on #17268
@jczaja Could you create a PR when you finish the first one improvement `Improve (vectorize/parallelize) threshold adding in softmax fwd for training`?

[2019-05-13 12:32] zyz282994112 commented on #17300
报错信息见log/bert_predict.log
代码见BERT/predict_classifier.py
报错信息同前：
[code]

[2019-05-13 12:39] sneaxiy commented on #17376
与原来使用Program相比，使用CompiledProgram时py_reader的使用方式不变。请您参考py_reader文档http://paddlepaddle.org/documentation/docs/zh/1.4/user_guides/howto/prepare_data/use_py_reader.html

[2019-05-13 12:42] OleNet opened #17377 "pyreader如果先调用了reset， 再调用decorate_tensor_provider，就会丢2个batch的数据"
GPU p40/v100
centos
单机/多卡

丢数据：
![bb3b05af7e704bb66d119af4f191a3af](https://user-images.githubusercontent.com/3206718/57622090-772aae80-75bf-11e9-8055-d40733f848e4.png)

正确：
![6efaaaf911193b4db41cef14e489a24e](https://user-images.githubusercontent.com/3206718/57622208-af31f180-75bf-11e9-9562-36a5ee562fa6.png)

[2019-05-13 12:43] guoshengCS commented on #17328
是否是`prev_expand = fluid.layers.sequence_expand_as(x = prev_proj, y = gru_layer_proj)`这个反了呢，可以试下打印下prev_proj和gru_layer_proj，将其中2的expand成4的

[2019-05-13 12:46] Superjomn commented on #16556
executor 是用的哪个？  ParallelExecutor ?

保存模型后重新加载参数，然后用单卡预测
保存模型后重新加载参数，然后用多卡预测
保存模型后重新加载参数，然后用单cpu预测
保存模型后重新加载参数，然后用多cpu预测

建议离线使用； 在线训练使用单卡，不要用多卡预测。

[2019-05-13 12:48] sneaxiy commented on #17377
`py_reader.reset`必须在捕获`EOFException`时调用，不能在其他地方调用。

[2019-05-13 12:49] sonofaeolus commented on #17328
应该不是这边 prev_proj是rnn最后一步的结果+proj 而gru_layer_proj是之前rnn每一步的结果+proj 我感觉这个应该是在beam_search的时候把维度改了 我设置的beam_size = 2，batch_size = 2刚好是现在的shape

[2019-05-13 12:49] sonofaeolus commented on #17328
我这个是一个seq2seq + att

[2019-05-13 12:50] sonofaeolus commented on #17328
我这个是一个seq2seq + att

[2019-05-13 12:55] OleNet commented on #17377
感觉这个限制好隐晦，可以在doc里面说明吗。或者加入某种assert机制，防止用户再次出现这种错误。

[2019-05-13 12:56] Superjomn commented on #17375
输入维度不对，导致中间计算维度check失败

[2019-05-13 12:57] jczaja commented on #17268
@luotao1 Sure, Those points it just things I will try. Not that all of them will be implemented in one PR. Ok, We will look at softmax_mkldnn first.

[2019-05-13 13:00] Ashleychen commented on #16556
![image](https://user-images.githubusercontent.com/4193110/57623232-ef926f00-75c1-11e9-99f2-1012e3934335.png)
![image](https://user-images.githubusercontent.com/4193110/57623240-f4efb980-75c1-11e9-9e9c-3a3d0b54dac9.png)
为什么在线训练的时候只能使用单卡呢？

[2019-05-13 13:00] Superjomn commented on #16556
单卡预测

[2019-05-13 13:13] guoshengCS commented on #17328
`这个应该是在beam_search的时候把维度改了`这个是这样的，第一步到时候将batch_size根据beam_size进行了扩展，下一步的时候需要将任何用到的state（第一维会是batch_size=2）都根据pre_ids（第一维是batch_size*beam_size=4）  expand下

[2019-05-13 14:02] ghost commented on #17268
@luotao1 Just talked with Jacek. The current "extreamly slow" performance of Softmax FWD looks quite strange to us. There should be something wrong. Jacek will prepare a branch to add some debug code and ask for your help to run model and collect log. That should happen within today (PL time).

[2019-05-13 17:33] jczaja commented on #17268
@luotao1 I would like you to execute following experiments **(use MKL-DNN execution**) so we gather more data on poor softmax fwd execution.
1) Please run training (two iterations will be enough) of ContentDNN  with MKLDNN_VERBOSE=1 , building Paddle from following branch:
https://github.com/jczaja/Paddle/tree/prv-diagnostic-mkldnn
_Reasoning:_ _The branch contains more info from MKL-DNN and outpu

[2019-05-14 00:53] shenlan211314 commented on #16804
同问，我是在CPU版本下遇到的“Windows not support stack backtrace yet.”错误。

[2019-05-14 01:03] menghou commented on #17375
模型结构排查了下是一样的，上面列举了前几个维度，没有走到输入数据，self.network.loadParameters(self.model_dir)这一步报错的

[2019-05-14 02:23] wangguibao commented on #17303
让用户改用预编译的libpaddle_fluid.so
原理：#3636

用户反馈已编译通过

[2019-05-14 02:23] #17303 closed, assigned to wangguibao

[2019-05-14 02:41] #17116 closed, assigned to zhoukunsheng

[2019-05-14 02:43] OleNet opened #17379 "请求增加AdaptiveSoftmax函数的支持"
寻求支持adaptive_softmax函数pytorch的实现可以参考:https://pytorch.org/docs/stable/nn.html#torch.nn.AdaptiveLogSoftmaxWithLoss

[2019-05-14 03:05] #17376 closed, assigned to sneaxiy

[2019-05-14 03:49] #16492 closed, assigned to nobody

[2019-05-14 03:52] zhoukunsheng opened #17382 "[Operator] add ones_like op and kernel"
like np.ones_like.

[2019-05-14 04:06] luluxing3 opened #17384 "如何save CompiledProgram？"
使用CompiledProgram 多卡训练，save 模型报错
![image](https://user-images.githubusercontent.com/23072928/57670112-5f473f00-7640-11e9-8f73-b928662def11.png)

[2019-05-14 04:39] Officium commented on #17362
remove test code after each pass will work, but why?

[2019-05-14 04:58] hyo009 opened #17385 "fluid 有什么layer可以让变长序列变成定长的输出？"
paddle版本： fluid 1.4 latest

如题，我的模型输出是定长的一维输出，但之前的结构是一个变长的序列，希望找出能过连接变长序列和定长输出的layer。

[2019-05-14 05:03] seiriosPlus commented on #17385
可以参考API文档中Sequece相关的API， http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#sequence-pool

[2019-05-14 05:22] seiriosPlus commented on #17384
1. 确认是多机多卡的训练(GPU)还是多机训练(CPU)
2. 尝试CompiledProgram的训练换成ParallelExecutor的训练

[2019-05-14 06:14] TheodoreG commented on #14443
HI, I have got to this problem again . I am using fluid parallel training with "rpc" mode and "all_reduce" strategy. I have two fc layers to train, after that I need to attach this two layers to a pretrained resnet50 model. Suppose these two layers are named as "fc1_shared_w" and "fc2_shared_w". When I create a infer model it shows:
![image](https://user-images.githubusercontent.com/13977118/57674

[2019-05-14 06:22] Officium commented on #17362
Reason: test time meet rpc deadline.
Solution: Set a large `FLAGS_rpc_deadline` value or make test async.

[2019-05-14 06:22] #17362 closed, assigned to nobody

[2019-05-14 06:39] luluxing3 commented on #17384
1. 单机多卡（GPU）
2. ParallelExecutor is deprecated? 代码需要定义多个program，定义多个ParallelExecutor 会有问题吗？

[2019-05-14 06:43] Superjomn commented on #17300
@kuke 这个再帮看下吧

[2019-05-14 07:02] luotao1 commented on #17268
@jczaja Does step2 depends on step1?
I deal with step2 independent with step1.
1. log is [mkldnn_softmax.prv-diagnostic-mkldnn.iter_20.log](https://github.com/PaddlePaddle/Paddle/files/3176230/mkldnn_softmax.prv-diagnostic-mkldnn.iter_20.log)
2. There is no print log for step2. I have only got:
[code]

[2019-05-14 07:07] kuke commented on #17300
改成这样试下

[code]

[2019-05-14 07:25] ghost commented on #17268
@jczaja Does it need enable MKLDNN_VERBOSE when running step2? I told Luo Tao it's not necessary since your code directly use cout to print log.

[2019-05-14 07:53] chengduoZH commented on #17384
目前只能保存Porgram，不能保存CompiledProgram。

[2019-05-14 08:01] luluxing3 commented on #17384
请问保存CompiledProgram有计划开发吗？大概什么时候可以实现保存CompiledProgram？谢谢。

[2019-05-14 08:06] luotao1 commented on #17268
3. I run the of inference of ContentDNN from develop branch.
[inference_profiler.log](https://github.com/PaddlePaddle/Paddle/files/3176497/inference_profiler.log)
[inference_mkldnn_verbose.log](https://github.com/PaddlePaddle/Paddle/files/3176498/inference_mkldnn_verbose.log)

I think it may help less.

[2019-05-14 08:09] ysh329 opened #17391 "fluid.io.load_inference_model出错：Cannot open file ../models/chepai/car_plate-MobileNetSSD_CAR_PLATE_V2_fluid/conv11_mbox_conf_new_weights for load op at [/paddle/paddle/fluid/operators/load_op.h:37]"
fluid.io.load_inference_model出错：Cannot open file ../models/chepai/car_plate-MobileNetSSD_CAR_PLATE_V2_fluid/conv11_mbox_conf_new_weights for load op at [/paddle/paddle/fluid/operators/load_op.h:37]

- py2.7, cpu
- 安装方式pip install paddlepaddle==1.4

疑问：我之前使用`fluid.io.load_inference_model`接口都没有出现这个问题（模型是权重分散的那种形式），但这次出现问题的权重文件`params`是单独一个，是否和这个有关？（因为我看似乎报错是有关load op的问题），感谢~

## 代码
[code]

## 错误日志
[

[2019-05-14 08:14] zyz282994112 commented on #17300
上述写法的效果是否和下面的代码一致？如果是的话，那有问题：我在不输出“src_ids.name”时，使用parallel_executor进行预测，大约要花10分钟。而改成下面的写法，等了近2小时都没有动静。。
[code]
补充下：src_ids的维度是512，query的id信息

[2019-05-14 08:18] kuke commented on #17300
后面这种跑法是错误的

https://github.com/PaddlePaddle/Paddle/blob/1c6d0646276dc9e694c8dab0a3d5284670e358e7/python/paddle/fluid/executor.py#L539

可以参考executor的文档

[2019-05-14 08:31] jczaja commented on #17268
@luotao1 Regarding step 1. Please provide full log  not only MKLDNN_VERBOSE=1 part. I asked for MKLDNN_VERBOSE just to make sure MKLDNN is in use. But I need other part of logs, as I just put printf into MKL-DNN . To be more precise I need lines like this:
===> Softmax forward DENSE
and
===> Softmax forward GENERIC

[2019-05-14 08:31] ysh329 commented on #17391
Fixed, according to api of docs...

[code]

[2019-05-14 08:31] #17391 closed, assigned to nobody

[2019-05-14 08:36] luotao1 commented on #17268
and
===> Softmax forward GENERIC

I don't see any log like this.

[2019-05-14 08:44] jczaja commented on #17268
@luotao1 When running configuration eg. cmake ...  , There is PaddlePaddle version/commit mentioned used. could you please paste/confirm that line eg.
`commit: df4872968`

This is a branch that should be used for step 1. Please confirm

[2019-05-14 08:56] luotao1 commented on #17268
for step1, the `git log` result is:
[code]

[2019-05-14 09:22] Superjomn commented on #17350
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/gather.h#L48

看起来 index 得是 int 格式的，不是 int64 的

试下

 indexs = fluid.layers.data(name='indexs', shape=[1], dtype='int', lod_level=0)

[2019-05-14 09:29] rlistengr commented on #17350
我昨晚上试了，现在修改成了下面这个版本
    labels = fluid.layers.data(name='labels', shape=[1], dtype='int', lod_level=0)
    indexs = fluid.layers.data(name='indexs', shape=[1], dtype='int', lod_level=0)
下面是最后一个全连接层
    logits = fluid.layers.fc(
        input=logits2,
        size=num_labels,
        param_attr=fluid.ParamAttr(
            name="cls_out_w",
            initializer=fluid.initializer.TruncatedNormal(

[2019-05-14 09:33] ghost opened #17397 "Training with fp16 fails due to not registered operator."
**System information**
-PaddlePaddle version: newest Paddle built from develop, newest models built from develop
-GPU: V100, cudnn7, cuda9
-OS Platform: Ubuntu16.04
-Other imformation: Single GPU training

**To Reproduce**
Install Paddle with GPU support and Release build type. Clone models repository, `cd` into `models/PaddleCV/image_classification/`, run the following cmd:
`python train.py --mod

[2019-05-14 09:37] Superjomn commented on #17370
代码里缩进是到哪儿，代码贴错了

[2019-05-14 09:40] LittleDreamDog commented on #17370
额 哪里的缩进？我是直接在pycharm里沾出来的

[2019-05-14 09:41] Superjomn commented on #17375
v2的问题，已经停止维护，先 close 了。

[2019-05-14 09:41] #17375 closed, assigned to nobody

[2019-05-14 09:46] seiriosPlus commented on #14443
能提供复现代码么？

[2019-05-14 09:47] qingqing01 commented on #17358
@paulpaul91 得到输入的embeding的梯度信息之后会放入loss里，做梯度惩罚吗？

[2019-05-14 10:18] Superjomn commented on #17350
labels 还是 int64, index 是 int，不是两个都改

[2019-05-14 10:23] Superjomn commented on #17370
![image](https://user-images.githubusercontent.com/328693/57690907-5d4ba300-7675-11e9-9dc8-5a5e7de26c67.png)

[2019-05-14 10:26] Superjomn commented on #17367
你的变长指的是每个 batch 内相同，batch 间不同吗？

[2019-05-14 10:29] Superjomn commented on #17370
layer.data 不是 persistable（参数）

[2019-05-14 10:45] Superjomn commented on #17370
link_model 里面是不是把output 定义在另外一个block里？

[2019-05-14 10:52] chengduoZH commented on #17384
@luluxing3 目前没有保存CompiledProgram的计划。

[2019-05-14 11:40] rlistengr commented on #17350
还是一样的结果，我本地有个类似的测试程序就没问题，

Traceback (most recent call last):
  File "train.py", line 354, in <module>
    main(args)
  File "train.py", line 229, in main
    fetch_list=[loss.name, accuracy.name, num_seqs.name, predict.name, labels.name])
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/parallel_executor.py", line 303, in run
    self.executor.run(fetch_list, fetch_var_name)
paddle.flu

[2019-05-14 11:46] PsLiKrypt opened #17399 "cudnn更新后paddle匹配的问题"
hello 我们服务器版本的paddle需要小升级cudnn从7.0更新到7.3，我将cudnn7.3版本已经配上了，环境变量也进行了修改，但是运行paddle.fluid.install_check.run_check()遇到如下问题：

Running Verify Fluid Program ...
W0514 20:15:02.786365  6891 device_context.cc:261] Please NOTE: device: 0, CUDA Capability: 35, Driver API Version: 9.0, Runtime API Version: 9.0
W0514 20:15:02.798928  6891 device_context.cc:269] device: 0, cuDNN Version: 7.0.
Traceback (most re

[2019-05-14 11:47] Superjomn commented on #17350
![image](https://user-images.githubusercontent.com/328693/57695531-15cb1400-7681-11e9-8b3a-ef4a9849fc07.png)

这里应该会cast 成 int64，传到 gather 里还是 int64，不是 int，这里有问题

[2019-05-14 11:51] rlistengr commented on #17350
你意思是indexs1 = indexs+labels会被cast成int64？
我之前试过加完之后再加一步强转，强转成int，还是提示这个错误，感觉是gather这个接口问题了呢

[2019-05-14 11:52] rlistengr commented on #17350
softmax = fluid.layers.reshape(logits, [-1])
    indexs1 = indexs + labels
    indexs2 = fluid.layers.cast(indexs1, dtype='int')
    prob = fluid.layers.gather(softmax, indexs2)
当时是这样，
然后错误还是
Traceback (most recent call last):
  File "train.py", line 354, in <module>
    main(args)
  File "train.py", line 229, in main
    fetch_list=[loss.name, accuracy.name, num_seqs.name, predict.name, labels.na

[2019-05-14 11:55] wojtuss commented on #17365
I see, thank you.
Could you please upload the full models to the server http://paddle-inference-dist.bj.bcebos.com ? We can prepare them with our program descriptors if you like.

[2019-05-14 12:00] Yaque commented on #17188
Sorry, maybe you can see here
![image](https://user-images.githubusercontent.com/23148165/57696228-43cb3c80-761e-11e9-8265-a4228f0944f8.png)
there is some file.
i can't remenber others

[2019-05-14 12:19] rlistengr commented on #17350
大神或者有没有其他方式可以实现我的这个需求，这是个二分类，每个样本有两个概率，只要取出每个样本所属分类的概率就行，还有什么layers的接口可以搞定这个事

[2019-05-14 12:20] LittleDreamDog commented on #17370
没有，我现在还没太学会用paddlepaddle的block，我只是按照对两个变量分别训练了词向量，然后再通过一个bilstm网络。模型最后能正常训练，但是一到保存的时候就会报那个错误

[2019-05-14 12:29] phlrain commented on #17350
indexs2 = fluid.layers.cast(indexs1, dtype='int')
改成
indexs2 = fluid.layers.cast(indexs1, dtype='int32')

[2019-05-14 12:35] rlistengr commented on #17350
int32今天早上也试过了，也不行，而且错误提示还不一样了
Traceback (most recent call last):
  File "train.py", line 354, in <module>
    main(args)
  File "train.py", line 229, in main
    fetch_list=[loss.name, accuracy.name, num_seqs.name, predict.name, labels.name])
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/parallel_executor.py", line 303, in run
    self.executor.run(fetch_list, fetch_var_name)
paddle.

[2019-05-14 13:04] chengduoZH commented on #16616
最新版本（V1.4.1）已经没有这个问题了

[2019-05-14 13:04] #16616 closed, assigned to chengduoZH

[2019-05-14 18:11] jczaja commented on #17268
@luotao1 Could you please build step 1 branch for unit tests and run: ctest -R test_softmax_mkldnn -VV
and tell me if you can see "===> Softmax forward ..." messages

[2019-05-15 01:11] lgone2000 opened #17407 "使用fluid.layers.split训练代码报错"
测试代码如下
[code]

[2019-05-15 01:12] lgone2000 commented on #17407
报错信息
[code]

[2019-05-15 01:21] guru4elephant commented on #17407
import paddle.fluid as fluid
import numpy as np
def test_metric_loss():
    place = fluid.CPUPlace()
    exe = fluid.Executor(place)
    main_program = fluid.default_main_program()
    x = fluid.layers.data(name='x', shape=[10], dtype='float32')
    feature = fluid.layers.fc(input=x, size=20, act=None)
    batch_size = 6
    samples_each_class = 2
    pos, neg = fluid.layers.split(feature, num_or_

[2019-05-15 01:21] guru4elephant commented on #17407
[code]

[2019-05-15 01:27] lgone2000 commented on #17407
为啥要加
pos.stop_gradient = True

[2019-05-15 01:36] guru4elephant commented on #17407
我们再check下

[2019-05-15 02:02] qingqing01 commented on #17358
@paulpaul91

Paddle目前的接口有一个没有对用户开放的接口，可以获取任意dy/dx的梯度，参考：  https://github.com/PaddlePaddle/Paddle/pull/16862 里的第4点描述，建议不要当做正式接口用。 我们目前正在开发可以将梯度加入loss，做梯度惩罚的。下个版本会有类似tf.gradients正式接口。

[2019-05-15 02:06] yeyupiaoling opened #17408 "使用py_reader进行异步读取数据报错"
# 环境
 - PaddlePaddle
 - Ubuntu 16.04
 - Python 3.5

# 问题

我把项目修改成使用`py_reader`进行异步读取数据报错，使用同步读取数据是正常的，以下错误是什么原因？
[code]

我的训练代码片段：
[code]

[2019-05-15 02:50] yeyupiaoling commented on #17408
还出现内容溢出的问题。

[2019-05-15 03:24] Meiyim opened #17409 "关于sampled_softmax_with_cross_entropy设计疑问"
使用sampled_softmax的场景是当输出分类数过于庞大时，通过采样来减少fc计算量。
而paddle sampled_softmax的输入和普通softmax一样都是logits.shape = [batch_size, vocab_size], 这样就达不到目的了。因为输入已经是vocab_size了，那个大fc已经被完全计算了。

对于这种常见功能，paddle的api设计完全可以参考tf。把fc的计算放到这个函数里。
https://www.tensorflow.org/api_docs/python/tf/nn/sampled_softmax_loss
这样实现之后这个fc会接受到稀疏的梯度，在多卡、多机通信时的效率问题需要多加考虑。

[2019-05-15 03:39] luotao1 commented on #17269
Close due to `mkldnn_transpose_op` have nice performance in our application.

|Op time (s) | mkl | mkldnn |
|---|---|---|
|transpose2 | 11058 | 699.797 |
|transpose2_grad | 10981.3 | 640.842 |

[2019-05-15 03:39] #17269 closed, assigned to nobody

[2019-05-15 03:57] lgone2000 commented on #17407
通过paddle 同学 ，问题已经定位， 目前paddle 不参与损失的叶子节点，需要手工增加stop_gradient属性。 希望paddle 报错信息增加相关的说明， 从原始报错信息基本得不到有用的反馈。

另外一个问题(else里面代码)是由于 exe.run(fluid.default_startup_program())，应该写在 minimize后面， 这块虽然定位了问题， 但报错信息也是没法帮助定位错误， 希望paddle改进

[2019-05-15 04:00] lgone2000 commented on #11371
下面代码的报错信息也让人读不懂， 希望改进

[code]
错误信息
[code]

[2019-05-15 05:23] qingqing01 commented on #17373
@xiaohuanghuasyy

- v2:  看你使用 `vgg_bn_drop`，这个配置里有batch norm吧。
- fluid: 你是用的是 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/vgg.py 这个配置吧？如果是这个，这个是标准的VGG，无batch norm。

可以将网络配置改成一样，其他网络配置细节、优化器细节也在注意下吧。

[2019-05-15 05:24] #17271 closed, assigned to kbinias

[2019-05-15 06:01] zhoukunsheng opened #17411 "[Operator] add size op"
add size kernel and op, like np.size

[2019-05-15 06:19] yeyupiaoling opened #17413 "请问使用fluid.io.save_inference_model保存的模型如何输出每一层的结果？"
我想使用`fluid.io.save_inference_model`保存的模型在预测的时候，输出指定层的结果，这样可以坐到吗，如何做呢？

[2019-05-15 06:34] MrRace commented on #17217
同样遇到这个问题。Ubuntu环境，Python3.5,Cuda=9,CuDNN=7。`pip3 install paddlepaddle-gpu`方式安装。
[code]
报错：
[code]

[2019-05-15 07:01] luotao1 commented on #17268
@jczaja @jianhang-liu Sorry for the mistaken test. The new log is:
[step1.log](https://github.com/PaddlePaddle/Paddle/files/3181256/step1.log)
[step2.log](https://github.com/PaddlePaddle/Paddle/files/3181257/step2.log)
I see `Softmax forward DENSE` in step1.log, is it the slower softmax kernel?

[2019-05-15 07:11] chenxiaoyu3 commented on #17234
@Superjomn 官网编译的版本load时直接出core，无法定位原因。issue很早就提了：https://github.com/PaddlePaddle/Paddle/issues/17123
我们也是不得已选择自行编译。我反复check了代码，CreatePredictor返回的是一个unique_ptr，是这个unique_ptr析构时触发了Clone,然后等于重新初始化了一次模型，造成的。

[2019-05-15 07:31] xiaohuanghuasyy commented on #17373
v2：确实有batchnorm，但是置为False了呢
fluid：对的，就是这个https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/vgg.py
我的v2模型代码：

import paddle.v2 as paddle

# ***********************定义VGG卷积神经网络模型***************************************
def vgg_bn_drop(datadim, type_size):
    """
    构建网络
    param：
        datadim: 图片格式
        type_size: 类别数
    :return:
    """
    # 获取输入数据模式

[2019-05-15 07:45] seiriosPlus commented on #12235
https://github.com/markokr/rarfile/issues/38

[2019-05-15 07:50] guru4elephant opened #17418 "源码路径过长带来的编译失败"
cmake -DCMAKE_INSTALL_PREFIX=./output/ -DCMAKE_BUILD_TYPE=Release -DWITH_PYTHON=ON -DWITH_MKL=OFF -DWITH_GPU=OFF -DWITH_FLUID_ONLY=ON -DPYTHON_INCLUDE_DIR=$PYTHONROOT/include/python2.7/ -DPYTHON_LIBRARY=$PYTHONROOT/lib/libpython2.7.so -DPYTHON_EXECUTABLE=$PYTHONROOT/bin/python2.7 -DWITH_GRPC=ON -DWITH_BRPC=OFF ..

打开WITH_DISTRIBUTE和WITH_GRPC，关闭WITH_BRPCS

如果源码路径很长，会触发
ldconfig: Can't create tempor

[2019-05-15 08:02] dubhex opened #17419 "多分支模型如何8bit量化训练"
请问多分支模型如何8bit量化训练 ？是否有参考文档？

[2019-05-15 08:04] phlrain commented on #17419
暂不支持int8 量化训练

[2019-05-15 08:08] Yelrose opened #17420 "怎么通过numpy创建一个constant tensor"
paddlepaddle 1.4
怎么通过numpy 创建一个constant tensor
对应tensorflow api
tf.constant([1,2,3,4])

建议： fill_constant里面的value可以支持多种类型 list numpy scalar tensor

[2019-05-15 08:13] #17420 closed, assigned to nobody

[2019-05-15 08:16] chengduoZH commented on #17352
@CAOYUHUI 首先计算图中有两个没有联通的子图  这是否符合你的预期？
能否提供一个可以复现的脚本

[2019-05-15 08:31] luotao1 opened #17421 "transformer gpu ce fails"
![image](https://user-images.githubusercontent.com/6836917/57759453-8aa75800-772c-11e9-9c8c-0c885d2fef50.png)
due to #17080

[2019-05-15 08:36] jczaja commented on #17268
@luotao1 Softmax forward DENSE is faster kernel unless MKL-DNN is build without MKL. PaddlePaddle is build with MKL so this should be faster kernel.

Thanks very much for sending logs.
From step1 we see that proper mkl-dnn implementation is called.
From step2 we see that ~99 % of softmax fwd time is spent in Execution eg. in MKL-DNN. This suggest that optimizing ValueClip does not make much sense

[2019-05-15 08:37] GeminiHu opened #17422 "pybind封装CreatePaddlePredictor()报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.3
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：V100
    4）系统环境：Ubuntu 5.4.0-6ubuntu1~16.04.5,  Python 3.7.1
-预测信息
    1）C++预测：预测库安装包的version.txt文件

            GIT COMMIT ID: 4b3f9e5c61d687ea90e6599bf9494df92ed088fb
            WITH_MKL: ON
            WITH_MKLDNN: ON
            WITH_GPU: ON
            CUDA version: 9.0
            CUDNN ver

[2019-05-15 08:46] luotao1 commented on #17421
If I add following codes in `PrepareData` between line 1025 and 1026
https://github.com/PaddlePaddle/Paddle/blob/5e5e7b33053dd6784e2e0f1176048a5bb37fb8d7/paddle/fluid/framework/operator.cc#L1025-L1026
[code]
This problem is fixed.
@sneaxiy Is this problem related to `DECLARE_NO_NEED_BUFFER_VARS_INFERENCE`?
https://github.com/PaddlePaddle/Paddle/blob/5e5e7b33053dd6784e2e0f1176048a5bb37fb8d7/paddle/

[2019-05-15 09:08] luotao1 commented on #17268
It is using axis param with the default value -1 in this model.

[2019-05-15 09:21] Superjomn commented on #17422
建议裸用 c++ SDK，pybind封装的问题人力有限没法支持。

 Predictor 的 python 接口会在1.5版本发布，目前没有文档，也无法支持相关使用问题。

目前正在开发的相关封装 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/pybind/inference_api.cc

可以参考，但中间问题人力有限只能等接口发布后再做支持

[2019-05-15 09:26] moving-on opened #17424 "分布式运行报错，本地没问题"
paddlecloud 跑分布式，版本：
paddlepaddle-0.0.0-cp27-cp27mu-linux_x86_64.whl
报以下错误，本地跑没问题

![](file:///Users/xukai11/Library/Caches/BaiduMacHi/Share/images/0fa4c65f911e27d3bcf3744714ae1776.png)

[2019-05-15 09:27] moving-on commented on #17424
<img width="1058" alt="0fa4c65f911e27d3bcf3744714ae1776" src="https://user-images.githubusercontent.com/15917309/57764741-a57eca00-7736-11e9-8fb9-d8d7b3d73174.png">

[2019-05-15 09:43] tink2123 opened #17425 "动态图如果不指定 conv2d_transpose 的 output_size 会报错"
动态图中使用 con2d_transpose 时，如果只指定 filter_size ，不指定 output_size ,训练过程会报错：

[code]

[2019-05-15 09:51] jczaja commented on #17268
@luotao1 I have seen reference code for softmax as used in your internal framework. SoftmaxLayer::ff is performing normalization on all input data eg. It is assumed that input Tensor is one dimensional, but ContentDNN seems to use 2D/3D data for softmax.
If SoftmaxLayer::ff is to functionally match what PaddlePaddle'softmax is doing then outer dim (for NCW , N=1,C=1)has to be =1 has to be used or

[2019-05-15 10:29] hfreedom00 opened #17426 "分布式模型训练，到第9轮迭代时报错"
报错部分的模型网络结构代码：
    q_u_concat = layers.concat(input=[q_fc3, u_fc3], axis=1)
    q_u_fc = fluid.layers.fc(input=q_u_concat, size=64, act='relu',
                          param_attr=fluid.ParamAttr(initializer=fluid.initializer.Normal(
                              scale=1 / math.sqrt(q_u_concat.shape[1])), learning_rate=FC_LR))
    predict = fluid.layers.fc(input=q_u_fc, size=2, act='softmax',

[2019-05-15 10:43] jacquesqiao commented on #17426
训练处nan了，调小学习率试试

[2019-05-15 10:49] #17399 closed, assigned to nobody

[2019-05-15 10:54] luotao1 commented on #17365
I have uploaded all the models, please check it!

[2019-05-15 11:01] luotao1 commented on #17268
1. BatchSize=16
2. Sorry, it calls `SeqSoftmaxLayer::ff`. And it calls 16 times.

[2019-05-15 11:11] chenxiaoyu3 commented on #17234
已经查明原因，是因为使用的paddle_api.h版本不一致操作的。

[2019-05-15 11:11] #17234 closed, assigned to Superjomn

[2019-05-15 11:30] zenghsh3 opened #17429 "fluid dev版本单GPU下segmentation fault"
paddle 版本：http://paddlepaddle.org/documentation/docs/zh/1.4/beginners_guide/install/Tables.html “多版本whl包列表-dev” 下载的开发版本（paddlepaddle_gpu-latest-cp36-cp36m-linux_x86_64.whl）

机器信息：centos, cuda8, cudnn7

在Paddle1.4.1下正常训练，但存在内存泄漏问题 #17176；下载fix内存泄漏的最新开发版本发现单卡运行时(export CUDA_VISIBLE_DEVICES="0")报如下segmentation fault错误，在多卡环境(export CUDA_VISIBLE_DEVICES="0,1")启动正常。

![image](https://user-images.githubu

[2019-05-15 11:36] hutuxian opened #17430 "int64类型的attr训练非预期"
embedding op的padding_idx这个attr是支持int64类型的，但是当传入参数大于2^31-1时，会出错。下面是一个demo网络，可以通过打印出的main_program看到op中的padding_idx变成了非预期值。
[code]

[2019-05-15 11:49] jerrywgz commented on #17373
V2版本在计算loss的时候会直接将计算得到的loss进行梯度反传
fluid版本计算时会经过reduce_sum或reduce_mean后再对卡数做平均
对于你这种情况，可以尝试在fluid中对reduce_sum得到的结果乘上GPU卡数（2）

[2019-05-15 12:43] Bonum opened #17431 "core.pyd in paddle\fluid cannot be loaded on Windows 7"
core.pyd in paddle\fluid cannot be loaded for neither of versions since vers. 1.2.0 on Windows 7

The last working version is vers. 1.2.0 , but the new functionality is missing.

**System information**::
-PaddlePaddle version （1.4.1. 1.4.0 and all versions since (except) 1.2.0)
-CPU: Intel i7-2600  Memory 10GB
-GPU: No
-OS Platform Windows 7, 64 bit
Environment:  Python 3.6.3 |Anaconda custom (64-

[2019-05-15 12:51] jczaja commented on #17268
1. So my understanding is that there is 3D data  eg. [N=16, C, W] and SeqSoftmaxLayer::ff is working on Tensor [C,W] . Normalization happen for W dimension. SeqSoftmaxLayer::ff has to be called for each batch separately eg. 16 times for [N=16, C, W] ?
2. If step 1 is correct , then for PaddlePaddle contentDNN logs you sent us there were 4560 softmax ops called. So in internal framework it would co

[2019-05-15 12:58] hfreedom00 commented on #17426
哪一层的学习率呢，出错的这个每个fc layer,emb layer学习率设置的都是1.0

[2019-05-15 13:13] luotao1 commented on #17268
No, it calls 1 time for `SeqSoftmaxLayer::ff`, and there is `for (int i = 0; i < seq_size; ++i)` in `SeqSoftmaxLayer::ff`. i.e, `SeqSoftmaxLayer::ff` internel computes input one by one.

No, there is 4560 calls to SeqSoftmaxLayer.

We look the TotalValue.

[2019-05-15 13:14] #17365 closed, assigned to luotao1

[2019-05-15 13:20] jczaja commented on #17268
So if SeqSoftmaxLayer is called only once per batch  and you have 3D data. then seq_size = N * C , dim = W  ? Before SeqSoftmaxLayer you have some flatten layer to Resize N , C , W --> N*C, W ?

[2019-05-15 13:38] jczaja commented on #17268
1. Could you please run training (2 iterations) of ContentMKLDNN on following branch:
https://github.com/jczaja/Paddle/tree/prv-diagnostic-softmax
Reasoning:  To verify if reusing of softmax primitives works properly
2. How many threads are used for contentDNN execution? I was told that parallel executor is used and each threads is executing training so num_instances == num_threads ? each instance

[2019-05-15 13:42] luotao1 commented on #17268
1. Should I `export MKLDNN_VERBOSE=1`?
2. Both Paddle and internal framework use 1 thread on 1 instance.
3. I am checking it.

[2019-05-15 13:43] jczaja commented on #17268
1. Yes, that would be helpful
2. So ContentDNN is using ParallelExecutor with one thread or Executor with one thread?
3. ok

[2019-05-15 13:57] luotao1 commented on #17268
1. The log is [prv-diagnostic-softmax.log](https://github.com/PaddlePaddle/Paddle/files/3182817/prv-diagnostic-softmax.log)
2. Yes, our experiment uses only one thread for both two frameworks.

[2019-05-15 14:03] #17407 closed, assigned to guru4elephant

[2019-05-15 14:56] sneaxiy commented on #17408
您的错误信息是什么呢？

[2019-05-15 17:03] GeminiHu commented on #17422
十分感谢，请问你们大概打算是什么时间发布1.5？

[2019-05-16 01:30] Superjomn commented on #17413
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/paddle_api.h#L235

可以试下 GetInputTensor, GetOutputTensor 这两个接口，前者可写，后者只读

[2019-05-16 01:32] yeyupiaoling commented on #17413
@Superjomn 是C++的啊，有没有Python的接口呢？

[2019-05-16 01:33] ylyhlh commented on #17188
some dirty change...:

in file paddle/fluid/trainer_desc.py
`from proto import trainer_desc_pb2`
change this to `from .proto import trainer_desc_pb2`

in file
paddle/fluid/proto/trainer_desc_pb2.py
`import data_feed_pb2 as data__feed__pb2`
change this to `from . import data_feed_pb2 as data__feed__pb2`

[2019-05-16 01:34] yeyupiaoling commented on #17408
@sneaxiy 问题上面已经贴出来了。
[code]

难道这不是错误？官方的例子也是出现这个问题：http://paddlepaddle.org/documentation/docs/zh/1.4/user_guides/howto/prepare_data/use_py_reader.html#id3

[2019-05-16 01:37] sneaxiy commented on #17408
@yeyupiaoling 这个不是错误，只是个warning，是提示您可以使用我们的一些新的显存优化策略，而且也跟py_reader无关。

[2019-05-16 01:38] Superjomn commented on #17413
executor.run ，类似训练拿 fetch 应该就可以。 就是执行一个 infer 的 program

[2019-05-16 01:41] yeyupiaoling commented on #17408
@sneaxiy 哦哦，我看他输出一大堆红色的日志，还提醒
[code]
我以为是错误，吓坏我了。

您看我的代码片段，出现了内存 溢出，但我检查了好多次了，更官方的例子是一样的，您能帮我看一下是那里出问题了吗？

[2019-05-16 01:43] yeyupiaoling commented on #17413
@Superjomn 是的，PaddleMobile可以通过这样找到输出的名字，然后输出，但是我测试了一下PaddlePaddle，报错了。
![image](https://user-images.githubusercontent.com/26297768/57820352-0651e500-77bf-11e9-8ae4-861e0566bc96.png)

[2019-05-16 01:50] Superjomn commented on #17413
啥错误，可以附上代码

[2019-05-16 01:56] yeyupiaoling commented on #17413
@Superjomn
[code]

错误信息：
[code]

[2019-05-16 01:59] Superjomn commented on #17413
哦，save_inference_model 存下来的，已经进行了图的剪枝，只能获取存储时设置的 fetch_list 中的变量，中间变量不可取

训练中的是可以通过 exe.run 获得，因为没有剪枝，是完整的图

[2019-05-16 02:00] yeyupiaoling commented on #17413
@Superjomn 哦哦，原来是这样子，谢谢。

[2019-05-16 02:00] #17413 closed, assigned to Superjomn

[2019-05-16 03:00] CAOYUHUI commented on #17352
私聊，我提供一个可复现的脚本~~感谢

[2019-05-16 03:15] jerrywgz commented on #17373
另外你可以在检查下v2和fluid的fc层，目前看起来好像配置并不是完全对齐的

[2019-05-16 03:25] qxin opened #17438 "支持numpy中的repeat操作"
您好, 发现paddle没有支持numpy的repeat操作.
因为有时候需要用到上采样, 但是上采样的方法每个人实现的经常有轻微diff. 为了保持一致.使用了repeat来模拟 nearest upsample.

[2019-05-16 03:47] TheodoreG opened #17439 "Kubernetes cluster distributed training error"
Hi, I am using paddle distributed training in "NCCL2" mode within a kubernetes cluster.
Here I have two workers in one namespace and can ping each other successfully:

![image](https://user-images.githubusercontent.com/13977118/57825116-1a521280-77d0-11e9-84d9-998ac22b08d0.png)

But when I start training it get errors:

![image](https://user-images.githubusercontent.com/13977118/57825135-2b028880-

[2019-05-16 03:54] velconia commented on #17439
@gongweibao would you like to take this question?

[2019-05-16 03:57] velconia commented on #17438
@qingqing01 辛苦判断下这个是否是正确需求呢？

[2019-05-16 04:02] velconia commented on #17429
你用到了memory_optimize吗？

[2019-05-16 04:03] velconia commented on #17431
@wopeizl would you like to take a look at this?

[2019-05-16 04:16] zenghsh3 commented on #17429
应该是没有的
[code]

[2019-05-16 04:42] ylxsyf opened #17441 "模型训练输入与预测输入转换问题"
1）模型训练输入：
![image](https://user-images.githubusercontent.com/5714337/57826789-5f2d7780-77d7-11e9-9d62-4bcf3054ebd1.png)
2) 模型测试输入：
![image](https://user-images.githubusercontent.com/5714337/57826842-8f751600-77d7-11e9-8a18-8bedd53f90e2.png)
3）对应reader的输入：
yield word_idx, layer_idx, class_idx

问题描述：
因为reader里面的word_idx, layer_idx都是N*1维度的，但是class_idx是N*10维的（可以认为N是batch_size），报错：
    class_attr = to_

[2019-05-16 04:55] luotao1 commented on #17268
The input of SeqSoftmaxLayer has been flattened already, that's why Paddle uses additional transpose2 op to do this.

[2019-05-16 06:28] zeriny commented on #10176
请问是什么问题以及如何修复的呢？

[2019-05-16 06:46] kuke commented on #16567
已在develop分支修复

https://github.com/PaddlePaddle/Paddle/blob/712bfb17cb6d10658d804748c84b67badf47f0d7/python/paddle/fluid/layers/nn.py#L6446

[2019-05-16 06:54] #16567 closed, assigned to kuke, shanyi15

[2019-05-16 08:02] qxin opened #17444 "提供数组的原地index或select"
有时需要对数组的某一个维度进行原地操作,如exp或sigmoid等.  发现应该是不支持. 只能slice数组之后再concat完成. 但是这个slice操作应该是复制array的,  预期会比原地index或select的效率低. 希望能添加个新的op 支持这种操作.

[2019-05-16 09:09] yeyupiaoling commented on #17408
@sneaxiy 你有看错是为什么出现的内存溢出吗？一启动训练就开始无限占用电脑内存，直到卡死也没有开始训练。

[2019-05-16 09:18] Yelrose opened #17446 "如何根据输入建tensor"
类似于给 fluid.layers.zeros的shape使用Variable 输入

[2019-05-16 09:50] gongweibao commented on #17439
1. Check if there is http_proxy https_proxy
2. Which paddleversion do you use？
3. Do you use it in baidu cluster?

[2019-05-16 10:44] kbinias commented on #17272
This issue was resolved by #17403

[2019-05-16 10:44] #17272 closed, assigned to kbinias

[2019-05-16 11:46] sshilei opened #17449 "在线C++多线程服务，CPU预测性能如何优化，有哪些建议"
我现在使用的 baidu/paddlepaddle/paddle@paddle_1-0-15-1_PD_B,  我的模型是简单的CBOW, C++预测时间约为20ms，不太符合预期，请问有哪些预测时间优化建议。
代码及config如下：

![image](https://user-images.githubusercontent.com/18701471/57851333-de8c6c80-7812-11e9-9cc3-601155af58bc.png)

![image](https://user-images.githubusercontent.com/18701471/57851463-388d3200-7813-11e9-9dac-a6fee7813713.png)

[2019-05-16 13:05] sneaxiy commented on #17408
@yeyupiaoling 能把你的`cfg`全部配置发下吗？我感觉像是数据读取时shuffle buf_size太大了，导致数据读取很慢，占用很多空间。

[2019-05-16 13:08] yeyupiaoling commented on #17408
@sneaxiy  我的batch_size为32
[code]

[2019-05-16 13:14] jczaja commented on #17268
Thanks for answers and logs. They are very helpful.

Meantime we inspected slowness of softmax MKL-DNN as from previous findings we know that 99% of time of softmax fwd op is spent in MKL-DNN .  Having MKLDNN_VERBOSE output from ContentDNN we can see :
 mkldnn_verbose,info,Intel(R) MKL-DNN v0.18.0 (Git Hash 863ff6e7042cec7d2e29897fe9f0872e0888b0fc),Intel(R) Advanced Vector Extensions 2 (Intel(R) *

[2019-05-16 13:17] sneaxiy commented on #17408
`cfg.TRAIN.IMAGE_CHANNEL`，`cfg.TRAIN.IMAGE_WIDTH`，`cfg.TRAIN.IMAGE_HEIGHT`这些参数能否提供下？另外，你把shuffle去掉看看？

[2019-05-16 13:28] luotao1 commented on #17268
[code]

[2019-05-16 13:35] luotao1 commented on #17268
I test on three different machines, but we have the same problem:
- Intel(R) Xeon(R) CPU E5-2620 v4 @ 2.10GHz
[code]
[code]
- Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
[code]
[code]
- Intel(R) Xeon(R) CPU E5-2450 v2 @ 2.50GHz
[code]
[code]

[2019-05-16 13:40] jczaja commented on #17268
@luotao1 Just a small comment. Logs presented above are suggesting that input data for softmax
may not be in a cache memory. Possible reason is that model is quite broad/complex and before
softmax got to execute data it is already being eviced from cache. As your internal framework is working  fine on this model it may mean that **PaddlePaddle as framework got a bit more overhead than internal fra

[2019-05-16 14:03] luotao1 commented on #17268
The framework overhead is quite small on this model.
[code]
softmax_compute means the `compute` function of softmax_op.

[2019-05-16 14:19] luotao1 commented on #17268
[step1_ut.log](https://github.com/PaddlePaddle/Paddle/files/3187482/step1_ut.log)
[step2_ut.log](https://github.com/PaddlePaddle/Paddle/files/3187483/step2_ut.log)
@jczaja please see the ut log.

[2019-05-16 14:23] jczaja commented on #17268
Thanks very much for logs, they suggest that machines are fine.

I'm sorry I did not write it very clear. If PaddlePaddle is  doing some reads and writes in between of transpose and corressponding softmax (more than internal framework) ops then output from transpose may no longer be in a cache and then softmax has to take input from RAM rather than from cache memory so then even if JIT is used it

[2019-05-16 14:26] ghost commented on #17268
@Jacek, so what's the next step in your side to further check MKLDNN Softmax FWD?

[2019-05-16 14:32] jczaja commented on #17268
@jianhang-liu Next step should be to enable softmax JIT of PaddlePaddle for this model . If this works very fast then MKL-DNN softmax implementation is poor if JIT softmax is not performing well  then
I expect that execution is waiting for input data to be fetched from memory and this is some inefficiency in PaddlePaddle. If @tensor-tang is to look at it very soon then I do not have anything to do

[2019-05-16 22:54] ghost commented on #17268
@jczaja @tensor-tang @luotao1 Let's recap where we are after a few days investigation.
1. With additional log, it's proven proper MKLDNN kernel (DENSE) was called and 99% time of Softmax fwd were already in MKLDNN kernel.
2. By changing Softmax UT to run on same tensor size as ContextDNN model, it's found that only the 1st run cost similar time (as Softmax in ContextDNN model), but the time cost i

[2019-05-17 02:32] zenghsh3 commented on #17429
基于PR #17433 后编译的dev版本Fluid，没有出现上面的segmentation fault，但是训练时出现下面异常，请问能定位这是什么原因导致的吗？

[code]

[2019-05-17 02:42] gavin1332 opened #17455 "预测库链接失效"
http://paddlepaddle.org/documentation/docs/zh/1.4/advanced_usage/deploy/inference/build_and_install_lib_cn.html
![image](https://user-images.githubusercontent.com/1552048/57899634-63699b80-7890-11e9-99cc-180e35d2da94.png)

[2019-05-17 02:53] NHZlX commented on #17449
看起来版本比较低了， 请试一下最新的版本吧 。 链接： http://www.paddlepaddle.org/documentation/docs/zh/1.4/advanced_usage/deploy/inference/index_cn.html

[2019-05-17 03:34] gongweibao opened #17456 "`fused_all_reduce_op` hangs in trainning."

[2019-05-17 03:35] Yelrose opened #17457 "scatter求导有问题"
PaddlePaddle 1.4.1 CPU版本 MacOs
如下代码报错，估计是scatter对于update无法求导
[code]

错误为
[code]

[2019-05-17 04:03] sshilei commented on #17449
1. 输入是一维变长的tensor，类型是INT64
[code]

2. embedding dim 128
[code]
3.  bow
[code]
4. fc
[code]

[2019-05-17 06:56] tink2123 opened #17461 "动态图 BatchNorm 中 bias_attr 指定有误"
错误位置：
https://github.com/PaddlePaddle/Paddle/blob/9bd44b94da0d82a25d1810b48997d1c6170514aa/python/paddle/fluid/dygraph/nn.py#L1055

https://github.com/PaddlePaddle/Paddle/blob/9bd44b94da0d82a25d1810b48997d1c6170514aa/python/paddle/fluid/dygraph/nn.py#L1077

应为：
[code]

[2019-05-17 07:22] JiaXiao243 opened #17462 "windows下对模型进行预测报错: tensor hold the wrong type"
window下对训练好的word2vec模型进行预测，执行指令python infer.py --infer_epoch --test_dir data/test_mid_dir --dict_path data/test_build_dict_word_to_id_ --batch_size 20000 --model_dir v1_cpu5_b100_lr1dir/ --start_index 0 --last_index 0 对word2vec进行infer，报错信息如下：
![image](https://user-images.githubusercontent.com/37854899/57910140-1b11a400-78b7-11e9-9d8f-5fa145b0ce05.png) 
![01](https://user-images.githubusercontent.c

[2019-05-17 07:33] Melonzhou opened #17463 "训练过程中使用save_persistables保存参数的时候出core"
训练过程中使用save_persistables保存参数的时候出core
    1）PaddlePaddle版本：1.3.0.post97
    2）GPU：V100,16G显存，CUDA-9.0和CUDNN-V7
    3）系统环境：python2.7
- 训练信息
    1）单机单卡
    2）显存信息
    3）Operator信息
-代码
![image](https://user-images.githubusercontent.com/5926307/57910397-cb7fa800-78b7-11e9-80ea-783fe7743ab6.png)
![image](https://user-images.githubusercontent.com/5926307/57910600-43e66900-78b8-11e9-9a32-6f968fba00e7.png)

[2019-05-17 07:59] sneaxiy commented on #17149
您的FLAGS_fraction_of_gpu_memory_to_use环境变量是多少？可以适当设小，比如0.9，看看是否同样出问题。

[2019-05-17 08:07] xiangyubo commented on #17149
如果没有设置这个环境变量，默认是多少呢？

[2019-05-17 08:08] sneaxiy commented on #17463
能否贴下文本的代码，方便我复现？

[2019-05-17 08:11] Melonzhou commented on #17463
代码比较分散，我发你文件吧？怎么发呢？

[2019-05-17 08:13] jczaja commented on #17268
3. I'm planning also to partially remove softmax MKL-DNN functionality eg. replace y=e^x with y=x etc. as additional check if we are waiting for memory access.

[2019-05-17 09:52] ceci3 opened #17467 "uniform_random_op里的dtype类型转化错误"
表现：
<img width="720" alt="屏幕快照 2019-05-17 下午5 00 03" src="https://user-images.githubusercontent.com/29245900/57916658-e2c59200-78c5-11e9-872b-2cd459f8cfb0.png">
c++要求输入的dtype类型是int
<img width="760" alt="屏幕快照 2019-05-17 下午5 41 04" src="https://user-images.githubusercontent.com/29245900/57919248-0b03bf80-78cb-11e9-8f00-44bf3106c7c3.png">
但是python端传入的dtype类型转换的不是int
<img width="799" alt="屏幕快照 2019-05

[2019-05-17 11:34] Hhairu opened #17471 "concat出core"
fluid.layers.concat层，concat四个向量，当维度为64，128时都运行成功，改到2048维时报段错误，是否fluid不支持这么高的维度？
![image](https://user-images.githubusercontent.com/50739413/57925337-77d28600-78da-11e9-92da-0b4290339a54.png)
报错log:
![image](https://user-images.githubusercontent.com/50739413/57924609-1e695780-78d8-11e9-83d6-329eb2860571.png)

[2019-05-17 12:49] jczaja commented on #17268
@luotao1 Could you please,
1.  Execute profiling of ContentDNN training with mkldnn and MKLDNN_VERBOSE  (paddle profiling + mkldnn_verbose) using following branch:
https://github.com/jczaja/Paddle/tree/prv-diagnostic-softmax-mkldnn
_Goal: Check performance imporvment of mkl-dnn softmax when e^x is replaced with memcpy
if performance improvment is > 20% then we are compute bound (likely). If perfor

[2019-05-17 15:07] AlessandroVol23 commented on #17188
That worked thanks! :)

[2019-05-18 09:00] Melonzhou commented on #17463
找到问题原因了，出错代码是这部分
![image](https://user-images.githubusercontent.com/5926307/57967197-4dda9b80-798e-11e9-8c5b-30e775037cd7.png)
其实num_seqs这个layer是没有连接到网络里面去的，参数里面是找不到对应的数据的，所以在保存的时候就出错了。

[2019-05-18 09:02] Melonzhou commented on #17463
补充一下，出错的时候是红框中的代码是没有被注释的，注释之后就能正常保存参数了。

[2019-05-19 13:01] #17429 closed, assigned to velconia, sneaxiy

[2019-05-19 15:04] bluemandora opened #17482 "用GPU训练，80%的时间都在读数据，有办法优化吗"
   1）PaddlePaddle版本：1.3.1
    2）GPU：K40M，CUDA9.0，CUDNN7.1
    4）系统环境：CentOS6.3，python2.7
- 训练信息
    1）单机多卡
    2）显存信息
    3）Operator信息
单机2卡跑一个推荐的ctr预估模型，发现速度跟CPU训练差不多
使用profiler分析发现耗时80%是在read操作上，请问该如何优化这一部分？
[code]

[2019-05-19 15:46] Yelrose commented on #17457
目前在代码中将 zeros 设置为stop_gradient=False 能正常运行，不知道符不符合原来代码逻辑？
[code]

[2019-05-19 23:44] chengduoZH commented on #17217
@MrRace 完整的报错信息是什么？

[2019-05-19 23:45] #16565 closed, assigned to chengduoZH

[2019-05-20 02:03] MrRace commented on #17217
Running Verify Fluid Program ...
W0515 14:12:12.377182  6682 device_context.cc:261] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.0, Runtime API Version: 9.0
W0515 14:12:12.379117  6682 device_context.cc:269] device: 0, cuDNN Version: 7.0.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/lab/liujiepeng/KGProject/information-extraction/inf

[2019-05-20 02:19] ccmeteorljh commented on #17013
没有使用代理

[2019-05-20 03:14] linkinbird opened #17485 "conda下面安装遇到的 requests包版本冲突问题"
MAC电脑下面通过pip安装CPU版本
Python 3.6.1 :: Anaconda 4.4.0 (x86_64)

pip3 install paddlepaddle 时报错

......
conda 4.6.14 requires ruamel_yaml>=0.11.14, which is not installed.
conda 4.6.14 has requirement requests>=2.12.4, but you'll have requests 2.9.2 which is incompatible.
Installing collected packages: requests, recordio, funcsigs, opencv-python, kiwisolver, matplotlib, graphviz, paddlepaddle
Found exi

[2019-05-20 03:20] linkinbird commented on #17092
这样用的人多了，可能会遇到很多问题啊

[2019-05-20 03:38] cjt222 opened #17488 "Add deformable psroi pooling #17487"
Add deformable psroi pooling #17487

[2019-05-20 03:58] xiangyubo opened #17490 "改造CRNN_CTC模型自定义数据集训练 loss 为 nan"
   1）PaddlePaddle版本：1.3.2
    3）GPU：v100，
    4）系统环境：AI Studio
    1）模型名称：CRNN
    2）使用数据集名称：AI Studio 上公开数据集 Task 2.3: Word Recog
    3）使用算法名称
    4）模型链接
- 复现信息：
可以在 AI Studio 上找到项目，fork 过来，将配置"use_gpu": True 根据环境调整后，直接从上往下运行复现
https://aistudio.baidu.com/aistudio/projectDetail/60125

- 问题描述：我看了读取数据部分，读取数据，并且读取标签信息，似乎没错。模型没有改动，读取方式改为异步 py_reader 方式。训练数据使用自己定义的方式增强和尺寸归一化。训练时候的 loss 一开始非常大，后来就变为 nan

[2019-05-20 04:04] ccmeteorljh commented on #17165
没有其他进程运行

[2019-05-20 04:30] velconia commented on #17430
感谢@hutuxian，实测由于check_attribute里的实现，我们确实会导致int64_t类型的溢出

[2019-05-20 04:35] velconia commented on #17441
用户在class_attr的输入转化为 [x, 20, 1] 的正确维度之后问题解决，issue暂时关闭

Please feel free to reopen this. :)

[2019-05-20 04:35] #17441 closed, assigned to velconia

[2019-05-20 04:37] wopeizl commented on #17431
It can be due to msvcr120.dll missing, you can fix it by install vc2015 runtime.

[2019-05-20 04:38] velconia commented on #17444
![image](https://user-images.githubusercontent.com/1979255/57996792-1e49a180-7afc-11e9-8e66-a0ce363b5f0f.png)
slice操作是不会复制array的，效率应该不会低

[2019-05-20 04:48] #17488 closed, assigned to nobody

[2019-05-20 04:52] qingqing01 commented on #17490
@xiangyubo 请问你使用了几卡训练？ ~~在faster/mask-rcnn模型中，注意batch size变化时(例如GPU卡数变减小时，batch size减小)，learning也需要成倍的减小。~~

[2019-05-20 05:00] qingqing01 commented on #17438
1. paddle实现的线性插值上采样，考虑到不同框架的实现差异，实际支持了多种mode：
http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#resize-bilinear
可以参考文档设置align_corners，align_mode。

2. 您说的repeat，Paddle确实没有提供这个API，提供了expand，不知道可否满足要求 http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#expand

[2019-05-20 05:05] seiriosPlus commented on #17430
我复现一下， 这个得修一下。

[2019-05-20 05:07] JiabinYang commented on #17485
可以试试，但不建议，最好不要使用conda的python安装，因为conda的python依赖和python官方的会有不同，目前我们还没有支持conda安装，请参考http://paddlepaddle.org/documentation/docs/zh/1.4/beginners_guide/install/install_MacOS.html，使用python.org或者brew下载的python来安装，

[2019-05-20 05:33] xiangyubo commented on #17490
单卡

[2019-05-20 05:35] luotao1 commented on #17268
[code]
@jczaja @jianhang-liu @tensor-tang I directly use inference jit softmax fwd, but it is slow as before.

[2019-05-20 05:37] xiangyubo commented on #17490
@qingqing01 青姐，我这个也不是 faster/masr-rcnn，是文字识别CRNN哈

[2019-05-20 06:13] sneaxiy commented on #17455
已修复，请您再次尝试下载预测库。

[2019-05-20 06:16] #17463 closed, assigned to nobody

[2019-05-20 06:32] velconia commented on #17446
你这个需求是动态图相关的，你可能要使用 dygraph 模式来完成这个需求，dygraph模式类似于tensorflow的eager模式或者pytorch的执行模式，这里是使用demo:

[code]

[2019-05-20 06:51] sneaxiy commented on #17457
这个错误的原因是，scatter必须对输入input求导，但fill_constant的结果是不可求导的，即stop_gradient = True。您这种改法是对的。

[2019-05-20 07:09] sneaxiy commented on #17471
能否把您的完整代码贴出来？我这边无法复现此bug。concat是支持这么高维度的。

[2019-05-20 07:40] mengyiliu22 opened #17493 "获取模型参数返回None"
使用save_persistables将模型保存在一个目录下，想加载模型并取出模型指定参数，输出None

<img width="489" alt="image" src="https://user-images.githubusercontent.com/15141419/58004339-9a041800-7b15-11e9-9700-6a0734162f1c.png">

[2019-05-20 08:07] JiabinYang commented on #17493
其他的parameters可以读取得到么

[2019-05-20 08:08] mengyiliu22 commented on #17493
读不到，而且把path改为一个不存在的路径，返回也是None，不会报错

[2019-05-20 08:35] JiabinYang commented on #17493
是不是文件路径不对呢

[2019-05-20 08:35] junjun315 commented on #17493
请问是什么版本？

[2019-05-20 08:36] mengyiliu22 commented on #17493
fluid 1.4

[2019-05-20 08:39] mengyiliu22 commented on #17493
fluid.io.load_persistables(exe, path, prog)   给一个不存在的路径这里应该会报错啊。。。确认了下，路径没有问题

[2019-05-20 08:43] junjun315 commented on #17493
对应保存的目录下，有形如fc_0.b_0文件名的文件么？

[2019-05-20 08:48] mengyiliu22 commented on #17493
<img width="1236" alt="image" src="https://user-images.githubusercontent.com/15141419/58008443-ffa8d200-7b1e-11e9-9b7e-b8ab460a3db7.png">
保存的模型文件很正常，加载模型做infer没有问题。

[2019-05-20 08:48] NHZlX commented on #17482
请问读取数据，你用的是哪个接口呢

[2019-05-20 08:49] junjun315 commented on #17493
我看了一下代码，prog是一个空的program吧？fluid下load_persisbale需要根据program来获取保存的var list，再进行恢复。如果没有program，请使用[load_vars](http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/io_cn.html#load-vars)，并构建vars 参数的参数列表来获取指定的var。

[2019-05-20 09:05] MrRace opened #17496 "Ubutun 安装gpu版本无异常，但是paddle.fluid.install_check.run_check()报错"
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle版本1.4.1
    2）GPU：CUDA版本=9，CUDNN版本=7。GPU设备为2080Ti
    3）系统环境：系统=16.04.1-Ubuntu、Python版本=Python3.5.5
- 安装方式信息：
1）pip安装：pip3 install paddlepaddle-gpu     
- 问题描述：安装过程无错误警告，安装后输入`import paddle.fluid` ，再输入 `paddle.fluid.install_check.run_check()`报错如下：
[code]
PS：本机TensorFlow-gpu和PyTorch-gpu都可以正常运行。

[2019-05-20 09:07] gongweibao opened #17497 "Low latency communication in `sync_batch_norm_op`"

[2019-05-20 09:18] mengyiliu22 commented on #17493
尝试了load_vars，报错如下
assert isinstance(each_var, Variable)
AssertionError

尝试了load_params，报错如下
C++ Callstacks:
Enforce failed. Expected static_cast<int>(out_var_names.size()) > 0, but received static_cast<int>(out_var_names.size()):0 <= 0:0.
The number of output variables should be greater than 0. at [/paddle/paddle/fluid/operators/load_combine_op.h:40]

[2019-05-20 09:22] MrRace opened #17498 "Python2.7安装paddlepaddle失败"
-  版本、环境信息：
   1）GPU：CUDA版本=9，CUDNN版本=7。GPU设备为2080Ti，在TensorFlow-gpu和PyTorch-gpu上可以正常安装和使用GPU。
   2）系统环境：系统=16.04.1-Ubuntu、Python版本=Python 2.7.12
安装方式信息：
1）pip安装：pip install paddlepaddle-gpu
问题描述：安装过程报错，报错信息如下：
[code]

[2019-05-20 09:23] mengyiliu22 commented on #17493
我要取的参数其实在定义的时候是一个ParamAttr，load_vars时参数列表应该怎么构建呢，我感觉是我构建的有问题

[2019-05-20 09:24] junjun315 commented on #17493
load_params的报错是因为把新输入的参数当作了文件名filename这个取值。

load_vars 是 vars  参数要求输入的是一个variable类型。

从需求看，您可以用 load_inference_model ，也就是您用来预测时读取的方式构建恢复program和读取参数。 然后再用 find_var从恢复了的program中获取到对应的var 就可以了

[2019-05-20 09:30] mengyiliu22 commented on #17493
可以把ParamAttr转为Variable吗

[2019-05-20 09:43] mengyiliu22 commented on #17493
使用save_persistables保存的模型可以用于预测吗，使用load_inference_model缺少__model__文件

[2019-05-20 09:48] junjun315 commented on #17493
如果只是调用了save_persistables ，是不会保存模型结构文件，所以不能用load_inference_model。
但是load_inference_model本身也包含一次 load_persistables操作，同理save的时候也是包含save_persistables.

如果使用ParamAttr转为Variable，则是有些麻烦了。

您可以从另外一个保存了模型文件的目录进行load_inference_model恢复program, 再用这个program，从你需要的参数目录来load_persistables。

[2019-05-20 09:53] mengyiliu22 commented on #17493
可以理解为，在没有模型结构的情况下，load_persistables没办法根据模型目录和参数名取出参数/

[2019-05-20 10:15] mengyiliu22 commented on #17493
试出了一种折中的办法，保存模型还是用save_persistables，加载模型取参数的时侯再定义一下网络结构，使用load_persistables可以取出参数

[2019-05-20 11:10] JiabinYang commented on #17498
看起来是豆瓣源上的scipy只有python3.5的版本：
<img width="1436" alt="MacHi 2019-05-20 19-09-00" src="https://user-images.githubusercontent.com/22361972/58017435-ce3a0180-7b32-11e9-95b3-2045f729d177.png">
直接使用pypi源安装就可以了
<img width="1436" alt="MacHi 2019-05-20 19-09-15" src="https://user-images.githubusercontent.com/22361972/58017449-da25c380-7b32-11e9-97e7-123e9530429c.png">

[2019-05-20 11:46] #17467 closed, assigned to sneaxiy

[2019-05-20 11:51] mengyiliu22 opened #17502 "py_reader相关问题"
![image](https://user-images.githubusercontent.com/15141419/58019570-65558800-7b38-11e9-91dd-63635e6d00f2.png)
使用py_reader读取数据，我理解每个循环读了一个batch数据，请问有什么方法可以把当前batch的数据打印出来吗？

[2019-05-20 12:27] paulpaul91 commented on #17358
不是，拿到grdient和embedding相加，再次送进网络计算loss

[2019-05-20 12:45] MrRace opened #17504 "Ubutun 安装Python2.7(gpu版本)后paddle.fluid.install_check.run_check()报错"
- 版本、环境信息：
   1）PaddlePaddle版本：PaddlePaddle版本1.4.1
   2）GPU：CUDA版本=9，CUDNN版本=7。GPU设备为2080Ti
   3）系统环境：系统=16.04.1-Ubuntu、Python版本=2.7.12

- 安装方式信息：
1）pip安装：pip install paddlepaddle-gpu
问题描述：安装后输入import paddle.fluid ，再输入 paddle.fluid.install_check.run_check()报错如下：
[code]

[2019-05-20 13:00] cjt222 opened #17506 "add deformable_psroi_pooling op #17505"
add deformable_psroi_pooling op #17505

[2019-05-20 13:14] bluemandora commented on #17482
用的是py_reader，已经设了`use_double_buffer=True`

[2019-05-20 13:21] #17506 closed, assigned to nobody

[2019-05-20 13:39] JiabinYang opened #17507 "PaddlePaddle1.4.0版本nccl出错"
使用paddlepaddle/paddle:latest-dev和paddlepaddle/paddle:1.4.1-gpu-cuda9.0-cudnn7镜像，运行models/PaddleCV/image_classification/train.py --model=SE_ResNeXt50_32x4d --enable_ce=True，出现如下图问题：
<img width="1436" alt="MacHi 2019-05-20 21-34-57" src="https://user-images.githubusercontent.com/22361972/58025734-ae610880-7b47-11e9-8938-ba87e6fb1356.png">
<img width="1431" alt="MacHi 2019-05-20 21-35-12" src="https:

[2019-05-20 14:14] xugang02 opened #17508 "PaddleRec里的gnn算法内存超了"
- 标题：推荐广告使用PaddleRec里的gnn算法，报内存不够
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU：
    3）GPU：CUDA9
    4）系统环境：python 2.7.3
- 训练信息
    1）单机，多卡
    2）Tesla K40m
    3）Operator信息
- 复现信息：
CUDA_VISIBLE_DEVICES=13,10,7,8,9,11,12,14 fluid -u train.py --use_cuda 1 >log1.txt 2>&1 &
- 问题描述：
2019-05-20 21:34:35,698-INFO: load data complete
W0520 21:34:36.788852 22316 device_context.cc:261] Please NOTE: devic

[2019-05-20 14:20] luotao1 commented on #17268
The performance is 8x slower than before.

see https://github.com/PaddlePaddle/Paddle/issues/17268#issuecomment-493844656

[2019-05-20 14:24] jczaja commented on #17268
@luotao1 Could you please provide log (MKLDNN_VERBOSE + paddle profiling) for step 1 ?

[2019-05-20 14:37] JiabinYang commented on #17508
可能是显存不足造成的，可以开启gc来优化显存试试，FLAGS_eager_delete_tensor_gb=0.0

[2019-05-20 14:39] Yelrose opened #17509 "gather 重复index计算梯度有问题"
paddle 1.4

gather函数如果输入index有多个重复index，梯度计算有问题。下面是复现程序
[code]

目前，观察fluid/operators/gather_op.h的代码，发现里面使用的是ScatterAssign函数进行梯度更新。pytorch以前也有这样的issue，见https://github.com/pytorch/pytorch/issues/1631

[2019-05-20 14:49] JiabinYang commented on #17502
您可以模仿这个例子里，使用`read_file`然后，fetch`read_file`的内容：

    reader = fluid.layers.py_reader(capacity=64,
                                         shapes=[(-1, 1, 28, 28), (-1, 1)],
                                         dtypes=['float32', 'int64'])
         reader.decorate_paddle_reader(
             paddle.reader.shuffle(paddle.batch(mnist.train(), batch_size=5),
                                   buf

[2019-05-20 15:13] junjun315 commented on #17493
这个理解是正确的

[2019-05-20 16:46] MoZhonglin opened #17510 "多卡训练PaddleRec中gnn模型时出现shape不一致错误"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）GPU：Tesla K40m   CUDA 8.0   CuDNN 5.1   nccl_2.1.4-1+cuda8.0_x86_64
    3）系统环境：CentOS release 6.3 (Final)   Python 2.7.13
- 训练信息
    1）单机，多卡
    2）显存 12GB
- 问题描述：

复现过程：
[code]

此时会报错，log.txt中的全文如下：

[code]
其中，如果将复现过程的第5步替换为
[code]
也就是只使用任意一张卡进行训练，则不会出现任何错误。

[2019-05-20 18:30] jczaja commented on #17268
@luotao1 Regarding step 1 , 8 x slower with memcpy instead of vsexp is very surprising.

I was able to look into detailed log of contentDNN (VLOG output) training . I looked what happens in-between of transpose2 and corresponding softmax . For slowest one eg. 16x100x100 , we have
few other ops execution on diffrent data than what is used in softmax. So we suspected that perhaps
buffers executed af

[2019-05-21 02:29] MrRace commented on #17498
多谢，安装是可以正常安装了，check时候报错。有劳帮忙看下这两个issue：
https://github.com/PaddlePaddle/Paddle/issues/17504
https://github.com/PaddlePaddle/Paddle/issues/17496

[2019-05-21 03:25] gongweibao opened #17513 "Add `CollectiveOpHandleBase` to compatible with GPU and CPU."
Add `CollectiveOpHandleBase` to compatible with:
- Compilation under GPU running under GPU
- Compilation under GPU running under CPU
- Compilation under CPU running under CPU

[2019-05-21 04:02] mengyiliu22 commented on #17502
我想取出来的是一个lod_level为1的序列，这样取报错如下：
RuntimeError: Some of your fetched tensors hold LoD information.             They can not be completely cast to Python ndarray.             Please set the parameter 'return_numpy' as 'False' to                 return LoDTensor itself directly.

[2019-05-21 04:47] qxin commented on #17444
好的, 多谢多谢

[2019-05-21 04:47] qxin commented on #17438
expand的计算不一致(对应的是numpy中的tile,)

[2019-05-21 04:51] luotao1 commented on #17268
Yes, no other VM/dockers running.

I have sent email to you.

For step1, it will cause err after iteration 600. Thus, I paste the log (MKLDNN_VERBOSE + paddle profiling) for iteration 400.
[memcpy.log](https://github.com/PaddlePaddle/Paddle/files/3200828/memcpy.log)
From the log, we will find `mul_grad` cause a lot of times before, but `softmax` speedups.
- before
[code]
- step1
[code]

[2019-05-21 06:06] wojtuss commented on #17365
@luotao1 , thank you!

[2019-05-21 06:18] ybbz opened #17519 "请问有fluid版本的LTR模型示例吗？"
请问有fluid版本的LTR模型示例吗？（类似v2版本的ranknet和lambdarank）
如果想用fluid来做排序学习（比如pairwise），该怎么做呢？

[2019-05-21 06:23] 930083287 opened #17520 "yolov3 开放代码库调用报错"
paddlepaddle:1.4.0
对于部署代码并数据及预训练模型之后，执行python train.py --model_save_dir=output/ --pretrain=weights/darknet53/ --data_dir=data/coco/coco17/  出现报错
![image](https://user-images.githubusercontent.com/15224527/58073427-17db2880-7bd5-11e9-8aba-fb4d0898d4ca.png)
![image](https://user-images.githubusercontent.com/15224527/58073674-d26b2b00-7bd5-11e9-8573-9cacdda66f48.png)

[2019-05-21 06:31] mengyiliu22 commented on #17502
设置exe.run()里面return_numpy=False， 然后np.array()取出lod，发现只有只有一维，而数据是一个序列，这是什么情况呢？

[2019-05-21 06:43] sneaxiy commented on #17482
可以通过多进程reader：paddle.reader.multiprocess_reader来加速数据读取。
例如，您原来是py_reader.decorate_xxx(reader)
改成py_reader.decorate_xxx(paddle.reader.multiprocess_reader([reader]))

[2019-05-21 06:59] JiabinYang commented on #17502
有lod的tensor不能用numpy返回，想看lod信息就需要使用tensor.lod(), 如果需要看数据的话就直接，np.array(Your_lod_tensor)

[2019-05-21 07:02] mengyiliu22 commented on #17502
results = exe.run(infer_program, fetch_list=[predict, data[3], data[-1]], return_numpy=False)
logger.info(np.array(results[1]))

目前代码是这样的，data[3]是个序列，但是打印出来的数据都是单值的，和实际数据不一样

[2019-05-21 07:11] heavengate commented on #17520
输入读入为None，下载的coco数据集部分图片缺失，如下图，请重新下载coco数据集尝试
![2566cec6c4e2c923d010813088d7676c](https://user-images.githubusercontent.com/12605721/58075611-b1590900-7bda-11e9-98aa-22309267b2a9.png)

[2019-05-21 07:35] Bonum commented on #17431
Thank you for your investigation, but
unfortunately msvcr120.dll doesn't cause the the problem.

 I do have Microsoft Visual C++ [2005,2008,2010,2012,2013,2015,2017] Redistributables and
 msvcr[71,80,90,100,110,120].dll versions in Windows\System32\ and in PATH directory.
 I even put msvcr120.dll in <Anaconda>\Lib\site-packages\paddle\fluid but the problem persists.

core.pyd in paddle\fluid can b

[2019-05-21 08:06] #17493 closed, assigned to junjun315

[2019-05-21 08:34] 986088924 opened #17531 "PaddlePaddle Fluid 编译Paddle-TRT预测库时的docker问题"
系统环境：win10系统
docker编译：
在获取docker镜像时，因为提示没有nvidia-docker，所以先去下载   。
在下载的过程中执行下载命令 dpkg -i nvidia-docker_1.0.1-1_amd64.deb
提示”dpkg不是内部或外部命令，也不是可运行的程序”
了解之后发现只有dpkg是在Linux系统中用的？现在不知道如何才能成功获取docker镜像。

[2019-05-21 08:36] wzzju commented on #17519
pairwise训练和普通pointwise训练的区别在于：（1）用两个相同的网络，一个叫left，一个叫right，共享所有参数（2）每次输入进去的是query+left_title+right_title+label，label用来指示“是left好还是right好”（3）顶上的cost用rank_loss
然后rank_loss在paddle中是有现成的
http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#rank-loss
剩下的组网您可以组两个一样的网然后连一起。
上述大致给您提供一个思路吧。LTR模型示例我没有找到，抱歉。

[2019-05-21 08:41] NHZlX commented on #17531
貌似nvidia-docker 没有windows版本，建议在linux下测试。另外，trt4不支持windows。

[2019-05-21 09:08] littlepan0413 opened #17532 "安装1.4.1版本后跑预测出现找不到libnccl.so问题"
之前安装了1.3.0.post97版本，预测没有问题，但是这个版本有bug导致功能无法使用，卸载之后重新安装1.4.1.post97版本，然后运行报错

**Failed to find dynamic library: libnccl.so ( libnccl.so: cannot open shared object file: No such file or directory )**

完整报错信息
W0521 17:05:35.625020 21264 dynamic_loader.cc:107] Can not find library: libnccl.so. Please try to add the lib path to LD_LIBRARY_PATH.
terminate called after throwing an instance of 'paddle::pl

[2019-05-21 09:30] wzzju commented on #17532
这个问题主要是因为您所在的机器上没有安装nccl，请您安装一下nccl。

[2019-05-21 10:05] luotao1 opened #17535 "conv_transpose_mkldnn has accuracy diff"
`conv_transpose_mkldnn_op` has accuracy diff on our internal face model.
commit: 3fe2def is OK.
commit: 1eb1517 is wrong.
If I remove `conv_transpose` in op_lists, the accuracy is OK.
[code]

[2019-05-21 10:12] chengduoZH commented on #17471
@Hhairu 请不要贴截图，贴截图会导致在issue里面搜不到内容。

[2019-05-21 11:05] ybbz commented on #17519
好的，非常感谢 @wzzju

[2019-05-21 11:11] aprilvkuo opened #17537 "使用sequence_expand_as之后训练出core"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.3.0
    2）CPU
    4）系统环境：centos
- 训练信息
    1）单机, 多卡
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
训练时候出core

[code]

pre_emb的lod_level为0， emb_ner的lod_level为1， 使用sequence_expand_as对其进行扩充

[2019-05-21 11:17] wzzju opened #17538 "uniform_random在python3环境下运行出错"
![image](https://user-images.githubusercontent.com/17102274/58091654-c21a7680-7bfc-11e9-93c2-d0c1438cdb42.png)
![image](https://user-images.githubusercontent.com/17102274/58091662-c8a8ee00-7bfc-11e9-9be7-9fdd0acc5c36.png)
uniform_random在python3环境下运行出错，在python2下可以运行正常。

[2019-05-21 11:21] xugang02 opened #17539 "推荐广告使用PaddleRec里的gnn算法，无法收敛"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU：
    3）GPU：CUDA9
    4）系统环境：python 2.7.3
- 训练信息
    1）单机，单
    2）Tesla K40m
    3）Operator信息
- 复现信息：
CUDA_VISIBLE_DEVICES=13,10,7,8,9,11,12,14 fluid -u train.py --use_cuda 1 >log1.txt 2>&1 &
- 问题描述：
使用PaddleRec里的gnn算法对用户对点击广告序列做预测，无法收敛比较好的结果，train_acc一直在0.6以下，麻烦帮

[2019-05-21 11:21] ellinyang opened #17540 "SSD分布式训练 Floating point exception"
1）paddle版本：Paddle v2
2）GPU ：Tesla P4
3）系统环境：Linux version 3.10.0_3-1-0-3  (gcc version 4.8.2 20140120 (Red Hat 4.8.2-16) (GCC) )
训练信息：多卡 ；图像大小300，初始学习率0.00025

单机跑SSD时没有问题，用分布式训练时跑几个batch便会出现以下问题：

[code]

[2019-05-21 11:38] bluemandora commented on #17482
试了用4个reader，但是运行时间没有很大区别
[code]

[2019-05-21 11:55] wzzju commented on #17537
您的问题描述不清晰，请参考http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#sequence-expand-as，
并严格按照`sequence_expand_as`用法使用该op。

[2019-05-21 11:59] aprilvkuo commented on #17537
将句子向量拼接在word向量后面，需要先将sen_emb 进行expand到句子长度， 然后与word-level的向量相加。
![image](https://user-images.githubusercontent.com/9441675/58094297-eaa56f00-7c02-11e9-82f9-d44ac77a5534.png)

[2019-05-21 12:01] hong19860320 commented on #17538
It's recently fixed by @Lfc1993  and @sneaxiy, plz merge PR #17086 and #17492.
https://github.com/PaddlePaddle/Paddle/pull/17086
https://github.com/PaddlePaddle/Paddle/pull/17492

[2019-05-21 12:02] tensor-tang commented on #17268
@luotao1 actually jit helps a little from @zhupengyang 's test

from 17151 => 13091
![image](https://user-images.githubusercontent.com/21351065/58094363-16c0f000-7c03-11e9-8b09-66d73d4d5517.png)

The reason why not helps much is that the situation on content dnn have changing size and small ones. jit creating takes time.

The better solution for this case is proposed at #17522

[2019-05-21 12:03] kangzhangqi commented on #17339
这个问题是由于训练机器使用的GPU的paddle和预测机器使用CPU的paddle版本不一致导致的。已经解决。

[2019-05-21 12:03] #17339 closed, assigned to seiriosPlus

[2019-05-21 12:11] kolinwei commented on #17298
已修复

[2019-05-21 12:11] #17298 closed, assigned to nobody

[2019-05-21 12:22] JiaXiao243 commented on #17507
会不会是机子的问题呢？我使用相同的docker images运行是没有问题的。之前我的一台机器运行某几个模型总是报错，报错信息跟你的挺像了，附一下当时的截图。是机器p2p 的问题。
<img width="1033" alt="1" src="https://user-images.githubusercontent.com/37854899/58095643-137b3380-7c06-11e9-851a-6a89ec782e91.png">
可以看一下这个issue: [#1754](https://github.com/PaddlePaddle/models/issues/1754)
请问是同一台机器, paddle回退到1.3.0版本可以正常运行的吗？

[2019-05-21 12:48] kuke commented on #17509
gather op在实现的时候 应该是没有考虑有重复index的问题，这个需要修一下

[2019-05-21 12:59] jczaja commented on #17535
@luotao1 I understand that exact commit that introduce inaccuracy is  unknown. Since we do not have access to your face workload, is it possible your validation narrow down and trace commit that introduce a problem? Or perhaps some public test can be run to show inaccuracy?

[2019-05-21 13:15] jczaja commented on #17535
I can see that conv2d transpose of MKL-DNN was merged 29th of November 2018. So this suggest that inaccuracy
was there from the moment of introduction of conv2d transpose mkl-dnn.

[2019-05-21 13:30] wzzju commented on #17540
抱歉，Paddle v2已经不再支持，请使用paddle的最新版本，现在是paddle fluid 1.4.1版本。

[2019-05-21 13:41] luotao1 commented on #17535
I test accuracy when your PR merged https://github.com/PaddlePaddle/Paddle/pull/14608#issuecomment-442442212, and it runs OK on accuracy diff.
I will see how to give you more clues about this issue.
By the way, do you have any suggestion?

[2019-05-21 13:50] luotao1 commented on #17535
I replace the `conv_transpose_mkldnn_op` with https://github.com/jczaja/Paddle/blob/1540df51cf5b88a08afec4e94d5fc86d4ddfe5c5/paddle/fluid/operators/conv_transpose_mkldnn_op.cc from #14608, but it still has accuracy diff.

[2019-05-21 14:25] wzzju commented on #17537
抱歉，还是不能明白您的意图。根据http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#sequence-expand-as
 的描述，sequence_expand_as可以使用一个LoDTensor的lod去扩展另外一个tensor，但是存在着一定的限制：**`sequence_expand_as`会根据y的第0级lod扩展输入变量x。当前实现要求输入（Y）的lod层数必须为1，输入（X）的第一维应当和输入（Y）的第0层lod的大小减1相同，扩展时不考虑输入（X）的lod。**

[2019-05-21 17:21] jczaja commented on #17535
My understanding:
1. So when you roll back to conv transpose 2d mkldnn as it was introduced all is fine.
2. When you put conv2d transpose mkldnn from PR as it was merged into current develop there is a problem.

If this is what is seems then:
a) Meantime MKL-DNN was updated and then have implemented efficient JIT version for conv2d transpose , perhaps there is mistake there. Moving back mkl-dnn is

[2019-05-22 01:48] hutuxian commented on #17539
Suggestion: Hyperparameter tuning. Try different values of initial learning rate(lr), lr decay steps, lr decay rate and so on.
Feel free to reopen this issue if you have further questions.

[2019-05-22 01:48] #17539 closed, assigned to hutuxian

[2019-05-22 01:54] hutuxian commented on #17510
Training with multi GPU cards is not yet supported well now, and we will fix this or accelerate the training speed by other means soon.

[2019-05-22 01:54] #17510 closed, assigned to hutuxian, JiabinYang

[2019-05-22 03:32] MoZhonglin opened #17553 "Add early stop by val loss"
In [PaddleRec/gnn](https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/gnn), train process stops when train loss does not decrease anymore. However, that may be overfitting. Could you produce val loss  after every training epoch and early stop by val loss?

Here the last part of training log:
[code]

And here is the validation(infer) log:
[code]

[2019-05-22 05:43] phoenares commented on #10054
加了这个之后会报Segmentation fault

[2019-05-22 06:26] zhoukunsheng opened #17556 "[Operator] add unique kernel and op"
unique kernel processes a 1-D tensor and returns an out tensor that removes duplicate elements, and an index tensor by which user can use to recover original tensor.

[2019-05-22 06:47] phoenares opened #17558 "自己编译的paddle集群环境训练报glibc.2.14 not found"
在本地离线服务器用gcc4.8.2编译的paddle，在本地可以运行。推到集群训练时报错，错误如下：
Traceback (most recent call last):
  File "train.py", line 9, in <module>
    import paddle.fluid as fluid
  File "/home/slurm/job/tmp/job-36306/env/env/lib/python2.7/site-packages/paddle/fluid/__init__.py", line 18, in <module>
    from . import framework
  File "/home/slurm/job/tmp/job-36306/env/env/lib/python2.7/site-packages/paddle/fluid/frame

[2019-05-22 06:52] phoenares commented on #17558
按照https://github.com/PaddlePaddle/Paddle/issues/10054，
加入LD_LIBRARY_PATH=/opt/compiler/gcc-4.8.2/lib64:$LD_LIBRARY_PATH，
然后会报如下错误：
/var/slurm/slurmd/job36910/slurm_script: line 32: 82485 Segmentation fault      $HERE/env/env/bin/python train.py

一个集群同事说只有在glibc低版本的机器上编译，集群的/lib64/glibc.so.6是2.12版本的，我本地是2.17版本的，但是也不知到为啥编译出来的是2.14版本的。。。是有什么参数设置吗，谢谢

[2019-05-22 07:05] OliverLPH opened #17559 "训练好的模型，python加载create_paddle_predictor出core。"
- 标题：训练好的模型（content-dnn2），python加载create_paddle_predictor出core。
- 版本、环境信息：
    1）PaddlePaddle版本：1.3 和 1.4
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：cuda9, cudnn7
    4）系统环境：ubuntu_1604和centos6.3

- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

pip直接安装的Paddle1.3和1.4。cpu和gpu报错一致
预测代码
[code]
报错信息
[code]
报错的信息和这个issue遇到的问题基本一致https://github.com/PaddlePaddle/Paddle

[2019-05-22 07:07] dashulu opened #17560 "同样的随机化因子和数据，为什么两次的训练结果不一样？"
你好，我用了相同的随机化因子和训练数据，为什么两次训练出来的结果不一样？是漏掉了一些配置吗？
代码如下：

_SEED = 102

def parse_args():
    parser = argparse.ArgumentParser("language_model benchmark.")
    parser.add_argument(
        '--enable_ce',
        action='store_true',
        help='If set, run \
        the task with continuous evaluation logs.')
    parser.add_argument(
        '--num_devices', type=int, default=1, help='Number of GPU d

[2019-05-22 07:08] OliverLPH commented on #17559
采取load_inference_model的方式也是出一样的错误，代码如下
[code]

[2019-05-22 07:09] ccluqh commented on #15289
请问您最后是怎么解决的哪？是只reshape了嘛？还是加了lod_reset？

[2019-05-22 07:13] jerrywgz commented on #17560
请问数据部分的随机性去掉了吗

[2019-05-22 07:16] Ashleychen opened #17561 "在sequence_slice序列数据之后添加dynamic_gru会导致模型训练bp出core"
我实现的网络代码如下：
[code]
当我的self.conf.baseline_kernel == 'gru'或'lstm'的时候，训练会出core。报错信息如下：
[code]
但是当我的self.conf.baseline_kernel == 'mlp'的时候，模型可以正常训练。
看信息是在sequence_slice那里出core的，麻烦帮忙看一下这个报错是为什么。

[2019-05-22 07:17] sonofaeolus commented on #15289
最后解决方式是先reshape 然后lod_reset

[2019-05-22 07:18] dashulu commented on #17560
这部分怎么去掉？以下是数据的随机
        train_reader = paddle.batch(
            paddle.reader.shuffle(
                paddle.dataset.imikolov.train(
                    vocab,
                    buffer_size,
                    data_type=paddle.dataset.imikolov.DataType.SEQ),
                buf_size=buffer_size),
            batch_size)

[2019-05-22 07:19] JiabinYang commented on #17502
有使用`memory_optimize`么

[2019-05-22 07:23] ccluqh commented on #15289
words_id  reshape成[...,1]后，lod_reset(x=words_id_reshaped, y=?), y的输入是什么哪？

[2019-05-22 08:14] OliverLPH opened #17563 "Paddle inference_demo中rnn1模型，python加载报维度错误"
- 标题：Paddle inference_demo中rnn1模型，python加载报维度错误
- 版本、环境信息：
    1）PaddlePaddle版本：1.4
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：Nvidia p4, cuda8, cudnn7
    4）系统环境：centos6.1, python3.5
  
- 复现信息：

[code]
报错如下
![image](https://user-images.githubusercontent.com/14963836/58157735-88ed0f80-7cab-11e9-95f5-1847c08b6975.png)

- 问题描述：

输入模型的数据确认是正确的，包括数据的 lod，shape信息（与/paddle/fluid/i

[2019-05-22 08:37] 930083287 opened #17564 "fasterrcnn 训练时出错"
![image](https://user-images.githubusercontent.com/15224527/58159723-b1770880-7caf-11e9-9537-9beba5a4f786.png)
paddle：1.4.0
执行命令：python train.py --help
python安装在/mnt/huangxueyuan01/local/python2.7/bin//python，并非默认目录

[2019-05-22 08:40] jerrywgz commented on #17564
请问你的paddle是如何安装的呢？版本是？

[2019-05-22 08:41] JiabinYang commented on #17558
应该是集群的的glibc太老了，最好是在低版本的机器上编译，glibc的依赖是取决编译的机器，没有参数设置

[2019-05-22 08:41] 930083287 commented on #17564
pip install *.whl paddle.14.1

[2019-05-22 08:47] Superjomn commented on #17559
该 API 还未发布，目前没有支持计划
建议使用 C++ API，方便聚焦和查找问题

[2019-05-22 08:49] Superjomn commented on #17559
paddle.fluid.core.EnforceNotMet: Cannot get attribute height_sections by type

这个问题之前遇到过，初步看是相关 Op 的定义有修改，导致训好的模型中 Op 定义与预测中的不一致。 训练和预测版本改成一致就不会有问题了

[2019-05-22 08:52] 315536712 opened #17566 "在ai studio上用cpu不报错，改成算力卡用gpu报错：EnforceNotMet: Invoke operator batch_norm_grad error."
![微信截图_20190522164421](https://user-images.githubusercontent.com/13358316/58160887-dff5e300-7cb1-11e9-895c-61413b4349e2.png)
![微信截图_20190522164332](https://user-images.githubusercontent.com/13358316/58160902-e5ebc400-7cb1-11e9-88d3-2875360fe78d.png)
![微信截图_20190522164239](https://user-images.githubusercontent.com/13358316/58160908-e84e1e00-7cb1-11e9-9e5a-9e4fd07da3da.png)

[2019-05-22 08:52] Superjomn commented on #17563
我们持续集成系统里会每天测试 rnn1 的c++ 模型，应该还是 python 哪儿用错了。

[2019-05-22 08:53] 315536712 commented on #17566
aistudio链接：https://aistudio.baidu.com/aistudio/projectdetail/58618

[2019-05-22 09:29] DDDivano opened #17568 "动态图切换eval模式导致显存增加"
加上这段代码显存会一直增长，第二个图是显存增长
![image](https://user-images.githubusercontent.com/10734244/58163455-a4114c80-7cb6-11e9-9e88-3a4b2178bc9f.png)
![image](https://user-images.githubusercontent.com/10734244/58163787-2ac62980-7cb7-11e9-9dbf-ae28df8d6015.png)

[2019-05-22 10:03] thomas010 opened #17569 "reader部分报错，cudaMemcpy failed"
【问题描述】
原网络正常运行，在此之上添加如下代码（只修改网络内部结构，输入输出接口不变），reader部分却报错，请问可能什么原因

【添加代码】
![image](https://user-images.githubusercontent.com/7474360/58393317-d2a17580-8070-11e9-9c8d-6232ba175155.png)

【报错信息】
提示 cudaMemcpy failed

[2019-05-22 10:15] jerrywgz commented on #17566
请问是在运行过程中挂的吗

[2019-05-22 10:23] jerrywgz commented on #17569
这个任务是在多卡上吗？看起来像是多卡数据拷贝的问题

[2019-05-22 11:06] wzgwzg opened #17572 "使用动态图后，在网络init时报 got multiple values for keyword argument错误"
paddle版本1.4.1

网络定义的__init__()函数如下：
14 class ResNet(fluid.dygraph.Layer):
 15     def __init__(self, name_scope, layers=50):
 16         super(ResNet, self).__init__(name_scope)
 17         self.layers = layers

Coatt_ResNet会将上面的ResNet作为自己的backbone

138 class Coatt_ResNet(fluid.dygraph.Layer):
139     def __init__(self, name_scope, layers=50, num_classes=751, num_features=1024, num_instances=4, is

[2019-05-22 12:24] ccmeteorljh opened #17574 "mask-rcnn在最新paddle下报错：Invoke operator scale error"
mask-rcnn 模型报错
paddle_commit_id: 43d15b9d96530ec60a631fe252510d6fb90190ab

复现代码：
https://github.com/PaddlePaddle/benchmark/blob/master/Mask-RCNN/paddle/rcnn/run.sh

执行命令：
[code]

[code]

[2019-05-22 12:44] ccmeteorljh commented on #17574
有时候是这个错误
[code]

[2019-05-22 13:14] chengduoZH commented on #17496
related issue https://github.com/PaddlePaddle/Paddle/issues/17217

[2019-05-22 13:15] shuoyin opened #17576 "python save_inference_model可以正常运行，但是__model__文件里有错误"
我使用python的save_inference_model接口保存模型，然后打开文件夹下的__model__文件，发现里边有错误信息，但是在python里可以正常save和load
Paddle 1.4, CPU, python2
代码如下:
[code]
test_save文件夹里的__model__文件打开后里边有一些这样的错误
![image](https://user-images.githubusercontent.com/14859695/58177204-80f69500-7cd6-11e9-8d02-12e7f16eb6d5.png)
文件夹内容如下：
![image](https://user-images.githubusercontent.com/14859695/58177321-bdc28c00-7cd6-11e9-894b-f836bca471ec.png)

[2019-05-22 15:40] jerrywgz commented on #17574
本地尝试未能复现，使用相同的paddle commit

[2019-05-22 16:14] guoshengCS commented on #17561
请问这个能否提供下复现的环境，或者如果是自己编译的paddle的话能否把这里https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/sequence_ops/sequence_slice_op.h#L138 改为`auto out_lod = SequenceSliceLoD(*in, offset_data, length_data);` 重新编译试下

[2019-05-23 00:02] sherrysfu opened #17579 "PaddleSlim是否支持object detection模型ssd mobilenet的压缩？"
**System information**
-PaddlePaddle version （eg.1.4.1）
-CPU: including CPUMKL/OpenBlas/MKLDNN version
-GPU: including CUDA/CUDNN version
-OS Platform (eg.Mac OS 10.14)
-Python version： 3.7
-Name of Models&Dataset/details of operator：PaddleSlim

尝试修改PaddleSlim/compress.py, 将ssd mobilenet在pasalvoc上进行压缩， 结果运行出错。
**To Reproduce** 请问是否支持object detection模型的压缩。

[2019-05-23 00:04] 315536712 commented on #17566
是的

[2019-05-23 01:55] Ashleychen commented on #17561
我把代码环境打包发到你的邮箱了，麻烦查看。ps我用的是1.3版本，不是自己编译的。
![image](https://user-images.githubusercontent.com/4193110/58220278-de273080-7d40-11e9-822d-f6cc2cb0b5bd.png)

[2019-05-23 02:12] thomas010 commented on #17569
已解决。用dynamic_gru op替换lstm op可以运行，需要先把输入input通过sequence_unpad转换成序列输入，代码如下：

![image](https://user-images.githubusercontent.com/7474360/58393366-fb296f80-8070-11e9-905c-b0641644379c.png)

[2019-05-23 02:36] jerrywgz commented on #17566
从报错信息看是产生了空输出导致之后的op计算时报错，可以先确认下是否为数据问题，也可以通过Print op打印下各层的输出是否异常

[2019-05-23 03:01] jerrywgz commented on #17560
可通过设置enable_ce去除随机性，100iter后出现小幅波动的情况待模型负责人回复

[2019-05-23 03:04] ccmeteorljh opened #17581 "paddingrnn large static 模型在最新paddle编译下报错，small，static 和 large，padding正常运行"
正常运行paddle version： develop 分支。commit-id：97f0ec23578123bea229374686d299098facd320
报错paddle version： develop 分支。commit-id=43d15b9d96530ec60a631fe252510d6fb90190ab；（运行4次，报错3次）

复现方法：
https://github.com/PaddlePaddle/benchmark/blob/master/PaddingRNN/lstm_paddle/run.sh
CUDA_VISIBLE_DEVICES=0 bash run.sh speed large static 20

[code]

[2019-05-23 03:11] NHZlX commented on #17576
看起来貌似里边加了一些python backtrace信息，我之前也有发现过几次，不过对模型使用没有影响。这个问题我会及时反馈给相应的同学。

============
补充：

模型的protobuf文件，中每个op会有一个 op_callstack 一个属性，其中保存了python端的一些log信息，此类信息产生了迷惑性（比如认为生成的模型是错误的）以及带来一定的冗余。

[code]

[2019-05-23 03:20] 315536712 commented on #17566
哦哦哦，这和使用GPU有关系吗？如果没关系，那使用CPU应该也产生空输出的话才对啊？

[2019-05-23 03:21] chengduoZH commented on #17581
是模型脚本问题，已经修复

[2019-05-23 03:21] #17581 closed, assigned to chengduoZH

[2019-05-23 03:43] wanghaoshuang commented on #17579
理论上是支持的，但是官方没做过实验验证，没有release相关数据。

[2019-05-23 03:53] jerrywgz commented on #17566
有可能是在GPU kernel下计算导致的这个问题，另外可以先关闭显存优化来缩小范围

[2019-05-23 04:04] wanghaoshuang commented on #17579
方便把code和错误日志贴一下么

[2019-05-23 04:41] phlrain commented on #17568
这个问题我们已经修复了，你可以尝试编译下最新的develop代码

[2019-05-23 04:50] phlrain commented on #17572
错误的完整log 能否粘贴一下

[2019-05-23 04:54] 315536712 commented on #17566
怎么关闭显存？有具体的代码吗？

[2019-05-23 05:42] ccmeteorljh commented on #17574
fixed

[2019-05-23 05:42] #17574 closed, assigned to jerrywgz

[2019-05-23 06:51] jnorwood opened #17584 "build error uint64_t undefined in alloc_continuous_space_for_grad_pass.h"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2019-05-23 07:00] jnorwood commented on #17584
latest build from source, using ubuntu 18.04, gcc7.4.0
`
git clone https://github.com/PaddlePaddle/Paddle.git

mkdir Paddledbg

cd Paddledbg

[code]
`
home/jay/Paddle/paddle/fluid/framework/ir/alloc_continuous_space_for_grad_pass.h:25:1: error: ‘uint64_t’ does not name a type; did you mean ‘u_int64_t’?
 uint64_t GetFuseParameterMemorySize();
`

Fixed my own buld by including boost::cstdint, as don

[2019-05-23 07:17] JiabinYang commented on #17584
Looks like you are using a wrong version of gcc to compile paddle, plz using gcc 4.8 or 5.4 as your complier because there is some compiler diff will cause problem

[2019-05-23 07:18] jnorwood commented on #17584
while the build completed, several tests failed.  I haven't debugged to see if it is related.

`88% tests passed, 12 tests failed out of 103

Label Time Summary:
RUN_TYPE=DIST         =   0.26 sec*proc (11 tests)
RUN_TYPE=EXCLUSIVE    =   0.32 sec*proc (1 test)

Total Test time (real) =  25.82 sec

The following tests FAILED:
	 37 - test_naive_executor (Failed)
	 92 - test_api_impl (Failed)
	 94 -

[2019-05-23 07:33] JiabinYang commented on #17584
Could u plz post the complete test error log?

[2019-05-23 07:43] Siyou-Li opened #17585 "编译GPU版本错误"
环境：
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Tue_Jun_12_23:07:04_CDT_2018
Cuda compilation tools, release 9.2, V9.2.148

OS: Ubuntu 16.04 xenial
Kernel: x86_64 Linux 4.15.0-50-generic
 Uptime: 6h 30m
 Packages: 2036
 Shell: bash 4.3.48
 Resolution: 2560x1440
 DE: Unity 7.4.5
WM: Compiz
 WM Theme: Ambiance
GTK Theme: Ambiance [GTK2/3]
 Icon Theme: ub

[2019-05-23 07:44] Siyou-Li commented on #17585
Python版本是3.5.6 写错了

[2019-05-23 08:05] SidHard commented on #17093
那么，一个tensor如何取负呢，找了半天，一脸懵逼

[2019-05-23 09:02] xiangyubo opened #17591 "save_inference_model保存时program没有clone(is_test=True)的影响"
请教个问题，save_inference_model 这个函数里的 program，如果没有设置用 program.clone(for_test=True)，会有什么影响吗？网络里没用 bn，用了 dropout

[2019-05-23 09:06] frankwhzhang commented on #17591
我的理解是 如果训练和预测是同时进行的 ，program.clone(for_test=True) 是为了去掉反向和优化，直接复用Program. 如果训练和预测是两个程序，预测阶段只需要Load_inference_model就可以。 参考https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/gru4rec 里面的train.py 和infer.py

[2019-05-23 09:18] xiangyubo commented on #17591
@frankwhzhang 谢谢解答哈，没太懂，其实我就想问，有不有必要把 is_test 的设置为 True。会不会对精度有影响

[2019-05-23 09:43] frankwhzhang commented on #17591
不会

[2019-05-23 09:43] #17591 closed, assigned to frankwhzhang

[2019-05-23 09:46] mengyiliu22 commented on #17502
没有使用

[2019-05-23 10:21] laoliukan opened #17595 "请问用 train_pyreader.decorate_tensor_provider，怎么指定输入变量lod_levels=1和对应的lod呢？"

[2019-05-23 10:22] lizhiqings opened #17596 "AttributeError: 'paddle.fluid.core.LoDTensor' object has no attribute 'name'"
def embedding_layer(input):
    return fluid.layers.embedding(
        input=input,
        is_sparse=True,
        is_distributed=False,
        size=[100, 5],
        param_attr=fluid.ParamAttr(name="SparseFeatFactors",initializer=fluid.initializer.Uniform()))

a = fluid.create_lod_tensor(numpy.array([[1],[1],[1],
                                  [1],[1],
                                  [1],[

[2019-05-23 10:38] frankwhzhang commented on #17595
详细描述一下问题

[2019-05-23 11:11] ghost opened #17597 "import paddle.fluid as fluid成功，但是执行fluid.install_check.run_check()报错"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu-1.4.1.post97
    2）CPU：i5-8300h
    3）GPU：1050ti，cuda_9.0.176_384.81_linux， cudnn-9.0-linux-x64-v7.5.1.10
    4）系统环境：Ubuntu18.04 python3.6.7
- 安装方式信息：
1）pip3安装

报错信息如下：
`Python 3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Running Verify Fluid Program ...
W0523 18:

[2019-05-23 11:46] paulpaul91 opened #17598 "希望生成和embedding维度一样的随机embedding"
embedding 进来一个batch，输出是Lod_tensor, 怎么转成三维的普通tensor，或者说，我应该怎么操作生成一样的Lod_tensor, 只是数据不一样？

[2019-05-23 11:58] sitong188 opened #17601 "怎么在fluid的train.py里实验if判断的io操作"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2019-05-23 12:00] sshilei commented on #17449
继续问，辛苦相关同学能够跟进，

我去掉最后的FC操作，平均耗时从20ms降低到了1ms， 请问是不是paddle内部有bug呢？

[2019-05-23 12:00] sshilei commented on #17449
我使用的编译依赖是 CONFIGS("baidu/paddlepaddle/paddle@paddle_prebuilt_cpu-1-0-0-2_PD_BL@git_tag")

[2019-05-23 12:12] NHZlX commented on #17449
fc的 输入大小和输出大小是多少呢

[2019-05-23 12:14] zeyu-liu opened #17603 "import fluid提示找不到libcudart.so.9.0"
运行release版paddle，报错：
![image](https://user-images.githubusercontent.com/16282731/58251834-40ab1b80-7d97-11e9-8a07-656008bc745b.png)
已安装cuda-9.0，同时添加了环境变量:
`export LD_LIBRARY_PATH=/home/work/cuda-9.0/lib64/:/home/work/cudnn/cudnn_v7/cuda/lib64/:${PWD}/nccl_2.3.7-1+cuda9.0_x86_64/lib:$LD_LIBRARY_PATH`
仍报错

[2019-05-23 12:17] sshilei commented on #17449
输入128， 输出是64

[2019-05-23 12:17] sshilei commented on #17449
@NHZlX

[2019-05-23 12:19] sshilei commented on #17449
最后一步 FC, 现在激活函数， sigmoid 和relu都试过了，平响都是20ms，查看了CPU占用率很高。 CPU占用率从15%，提升到60%。

[2019-05-23 12:20] sshilei commented on #17449
如果去掉FC，只保留前三步，CPU利用率会下来，平响是1ms

[2019-05-23 12:23] zeyu-liu commented on #17603
已解决，环境变量设置有误

[2019-05-23 12:23] #17603 closed, assigned to nobody

[2019-05-23 12:27] sshilei commented on #17449
有FC时的CPU占用

[2019-05-23 12:28] sshilei commented on #17449
有FC时的CPU占用
![image](https://user-images.githubusercontent.com/18701471/58252668-3b4ed080-7d99-11e9-96cf-29ff7f696114.png)

没有FC时的CPU占用
![image](https://user-images.githubusercontent.com/18701471/58252689-44d83880-7d99-11e9-9eee-1ad7253ef3fb.png)

[2019-05-23 12:29] AWSWXY opened #17604 "grpc error, error_code:8"
Thu May 23 17:05:57 2019[1,10]<stdout>:F0523 17:05:57.958317 59461 grpc_client.cc:357] GetRPC name:[fc_1.w_0], ep:[10.197.70.28:62004], status:[-1] meets grpc error, error_code:8 error_message:Sent message larger than max (2857176090 vs. 2147483647) error_details:
Thu May 23 17:05:58 2019[1,10]<stdout>:*** Check failure stack trace: ***
Thu May 23 17:05:58 2019[1,10]<stdout>:    @     0x7f86466afc

[2019-05-23 12:39] #17585 closed, assigned to nobody

[2019-05-23 12:40] gongweibao opened #17605 "Add attributes such as name,numel to timeline."

[2019-05-23 12:42] frankwhzhang commented on #17596
https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/gru4rec/net.py
提供了embedding使用方式，用户已解决。

[2019-05-23 12:42] #17596 closed, assigned to nobody

[2019-05-23 12:43] frankwhzhang commented on #17597
有详细的代码吗 以及任务是什么

[2019-05-23 12:43] frankwhzhang commented on #17604
有没有详细一点的code和信息

[2019-05-23 12:46] frankwhzhang commented on #17604
参数超限了

[2019-05-23 13:13] luotao1 commented on #17449
用户使用`export OMP_NUM_THREADS=1 ; export MKL_NUM_THREADS=1` 可以解决。
#17224 已修复该问题了。

[2019-05-23 13:19] ghost commented on #17597
就是导入paddle.fluid，然后测试是否安装成功，
`
fluid.install_check.run_check()
`

[2019-05-23 13:33] irukawang opened #17607 "IfElse 不支持嵌套？"
简单的代码如下：
[code]
结果如下， 第二个ifelse块里的false也被执行了，而且结果也多不上。
1558618182		Tensor[exp_0.tmp_0]
	shape: [1,]
	dtype: f
	data: 7.38906,

1558618182		Tensor[sqrt_0.tmp_0]
	shape: [1,]
	dtype: f
	data: 1.41421,

[ 2.  0.] (2,)
[ 7.38905621  0.        ] (2,)

[2019-05-23 13:35] lzha106 commented on #17188
same issue when runing https://github.com/yaoxuefeng6/Paddle_baseline_KDD2019 with pip installed paddlepaddle  1.4.1.

After modify paddle/fluid/trainer_desc.py and paddle/fluid/trainer_desc.py, it has below issue:

2019-05-23 13:32:37,337-INFO: run local training
ready to epochs
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "map_re

[2019-05-23 14:09] jnorwood commented on #17584
[paddle_logs.zip](https://github.com/PaddlePaddle/Paddle/files/3212440/paddle_logs.zip)
I'm attaching the zip archive that  contains the ctest --verbose log and the original build log, which contained the uint64_t error.  I didn't save the build log after adding the boost:cstdint include, but it built and linked all the tests without error.  There are a number of compiler warnings in the  build lo

[2019-05-23 14:22] xiangyubo opened #17608 "py_func使用问题"
paddle 1.3.2 版本，GPU 环境
我照着 py_func 的例子使用，就是一个简单的打印输入变量，但什么都没打印出来，不知道是哪里的问题
以下是我的代码片段

`
    def print_func(var):
        print("in py func type: {0}".format(type(var)))

	....
    # 定义输入数据的占位符
    img = fluid.layers.data(name='img', shape=train_parameters['input_size'], dtype='float32')
    label = fluid.layers.data(name='label', shape=[1], dtype='int64')
    feeder = fluid.DataFeeder(feed_list=[i

[2019-05-23 14:29] laoliukan commented on #17595
paddle bert中feed数据是使用的train_pyreader.decorate_tensor_provider
train_pyreader.decorate_tensor_provider(train_data_generator)
模型中具体的定义是：
pyreader = fluid.layers.py_reader(
        capacity=50,
        shapes=[[-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1],
                [-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1], [-1, 1]],
        dtypes=['int64', 'int64', 'int64', 'float32', 'int6

[2019-05-23 14:29] laoliukan commented on #17595
paddle bert中feed数据是使用的train_pyreader.decorate_tensor_provider
train_pyreader.decorate_tensor_provider(train_data_generator)
模型中具体的定义是：
pyreader = fluid.layers.py_reader(
capacity=50,
shapes=[[-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1],
[-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1], [-1, 1]],
dtypes=['int64', 'int64', 'int64', 'float32', 'int64'],
lod_levels=[0, 0, 0, 0, 0],
name=py

[2019-05-23 15:52] jnorwood commented on #17584
[paddle_log2.zip](https://github.com/PaddlePaddle/Paddle/files/3213030/paddle_log2.zip)

I'm attaching a build log after adding the fix.  It shows the completed build, with the test cases linking successfully.

I pushed my change into an onnxtst branch in my fork of Paddle
` https://github.com/jnorwood/Paddle/commit/37a60f464e35bfa9a9b4d289c506fca5164d5b9b `

[2019-05-23 22:20] ghost commented on #17268
This issue is closed by PR #17522 and #17534 from @tensor-tang . Meanwhile, Intel MKLDNN team is also working on a JIT version Softmax and will be in v1.0 (and possiblly backport to v0.1x also).

[2019-05-23 22:24] ghost commented on #17535
@luotao1 It's suspected that JIT version deconv MKLDNN kernel may have issue which cause this diff since no diff when using reference deconv MKLDNN kernel. @jczaja is co-working with MKLDNN team on this. He may ask for more MKLDNN verbose log soon.

[2019-05-24 00:28] sherrysfu commented on #17579
<img width="718" alt="Capture" src="https://user-images.githubusercontent.com/30885303/58294476-26654380-7d7f-11e9-8b0e-27d2344916d6.PNG">

[compress0.txt](https://github.com/PaddlePaddle/Paddle/files/3214572/compress0.txt)

[2019-05-24 00:29] sherrysfu commented on #17579
谢谢，我感觉train和eval的program我没写好，请帮忙看看。

[2019-05-24 01:48] LeoZhao-BJ opened #17611 "exception occurs when do BERT training on CPU with transpose mkldnn op enabled"
I met a issue related with mkldnn when I tried to enable transpose mkldnn op in ParallelExecutor for BERT training.

throw exception in TransposeMKLDNNHandler::  AcquireTranspose()
[code]

For current implementation in Compute(), a hash key is used for create TransposeMKLDNNHandler, and this key is generated by
[code]
This method is ok for common case in Executor or NativeExecutor since the only i

[2019-05-24 01:49] LeoZhao-BJ commented on #17611
@jczaja

[2019-05-24 02:25] frankwhzhang commented on #17607
单个的if else是可以跑的是吗

[2019-05-24 02:38] XiaoheYou opened #17613 "SE_ResNext_50_32x4d在训练的时候test_loss收敛不起来，test_acc1精度低"
SE_ResNext_50_32x4d在训练的时候训练集可以收敛，train_acc可以达到一个很高的值，但是test_loss收敛不起来，test_acc1精度低。将训练集和测试集设置成一样，依然存在这样的问题。
同时用1.4代码评估了你们提供的预训练模型，结果Test_loss 7.03461, test_acc1 0.00076, test_acc5 0.00488。
测试环境：paddle:1.4.0-gpu-cuda9.0-cudnn7。

[2019-05-24 02:42] frankwhzhang commented on #17595
https://github.com/PaddlePaddle/Paddle/blob/0d4cbdad91777320c35e7454833792268d97f1f3/python/paddle/fluid/lod_tensor.py#L23

[2019-05-24 02:48] paulpaul91 commented on #17538
针对这个问题 pip 安装的版本什么时候更新

[2019-05-24 02:49] luotao1 commented on #17611
We meet the same problem on content_dnn model.  We use parallel_executor for training.
- We enable transpose2/transpose2_grad mkldnn op for one thread training, it runs OK.
- We enable transpose2/transpose2_grad mkldnn op for 16 threads training, it runs Crash.
- We disable transpose2/transpose2_grad mkldnn op for 16 threads training, it runs OK.

Thus, we guess is there something wrong in transpo

[2019-05-24 02:55] LeoZhao-BJ commented on #17611
A temporary fix, just for test.

[code]

[2019-05-24 02:55] ljayx opened #17615 "使用固定的CPU核数问题"
- 版本、环境信息：
    1） PaddlePaddle版本：1.4.1
    2）CPU：96  Intel(R) Xeon(R) Gold 6271 CPU @ 2.60GHz
    3）系统环境：Docker Ubuntu 16.04.6 LTS (Host: centos6u3)
    4)   Python版本：3.6.7

- 问题描述：用 fluid python api 预测模型时，通过设置环境变量 `export MKL_NUM_THREADS=1` 和 `export OMP_NUM_THREADS=1`设置为单核预测，但是当我跑多进程时发现使用的CPU核数并非一个，而是使用了和进程数基本相同的数量。
如下图是`export MKL_NUM_THREADS=1` ， `export OMP_NUM_THREADS=1` 24进程时的top信息：
![image

[2019-05-24 02:58] wangguibao commented on #17608
这里有个打印tensor的例子

[code]

[2019-05-24 03:08] frankwhzhang commented on #17597
http://www.paddlepaddle.org/documentation/docs/zh/1.4/beginners_guide/install/index_cn.html
应该是没有安装成功吧 这里有个文档

[2019-05-24 03:11] frankwhzhang commented on #17598
sequence_pool ，sequence_reshape 和reshape可以试一下

[2019-05-24 03:11] Annnnnnnnnnnnn commented on #17607
单个的话，目前没发现问题。

[2019-05-24 03:12] Annnnnnnnnnnnn commented on #17607
单个的话，目前没发现问题。

[2019-05-24 03:13] irukawang commented on #17607
单个话，目前没发现问题

[2019-05-24 03:23] qingqing01 commented on #17613
请问您使用验证集的label list来自哪里？

[2019-05-24 03:25] gongweibao opened #17617 "Remove additional attributes from program."
![image](https://user-images.githubusercontent.com/10721757/58300818-b0142000-7e16-11e9-8159-11bc518a6eec.png)

[2019-05-24 03:25] XiaoheYou commented on #17613
ImageNet下载的list

[2019-05-24 03:27] wangguibao commented on #17615
搜了一下，https://stackoverflow.com/questions/30791550/limit-number-of-threads-in-numpy

In regards to doing this from within a python script as opposed to at the bash prompt, per this thread you can do the following (same commands as the answer above):

import os
os.environ["MKL_NUM_THREADS"] = "1"
os.environ["NUMEXPR_NUM_THREADS"] = "1"
os.environ["OMP_NUM_THREADS"] = "1"
but you have to put that bef

[2019-05-24 03:27] wangguibao commented on #17615
同时你top命令观察时可以按一下'1'，看一下CPU实际占用情况

[2019-05-24 03:39] #16282 closed, assigned to nobody

[2019-05-24 03:48] aprilvkuo commented on #17537
可以将batch_size作为 X的第一维大小吗？
[code]

报错信息为：
[code]
sequence_expand_as会根据y的第0级lod扩展输入变量x。当前实现要求输入（Y）的lod层数必须为1，输入（X）的第一维应当和输入（Y）的第0层lod的大小减1相同，扩展时不考虑输入（X）的lod。

[2019-05-24 03:55] NHZlX commented on #17607
多层block 嵌套存在潜在的bug， 尽量避免有多层block嵌套的情况。

[2019-05-24 04:00] irukawang commented on #17607
好吧，我想实现一个多路输入的场景，多个张量流入网络，但是会根据条件选择一路作为输入，侧面达到网络共享的目的，请问还有啥函数能实现么。 类似tensorflow里的   tf.cond  或者 tf.case 这种

[2019-05-24 04:04] LeoZhao-BJ commented on #17611
@luotao1 BTW, can you share the method to enable/disable mkldnn for specific op in python ? thx

[2019-05-24 04:21] ghost commented on #17597
我也觉得是安装不成功，但是没有找到原因，因为paddle.fluid可以正常导入，然后执行fluid.install_check.run_check()报错不知道是为什么，官方文档中也没找到具体该如何处理

[2019-05-24 04:41] luotao1 commented on #17611
please see #17341

[2019-05-24 05:00] xiangyubo commented on #17608
找到问题了，是我自己写的有问题，谢谢大家

[2019-05-24 05:00] #17608 closed, assigned to wangguibao

[2019-05-24 05:03] qingqing01 commented on #17613
@XiaoheYou 之前有同学遇到过label list和我们 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/data/ILSVRC2012/download_imagenet2012.sh 提供的不一样，您按照这个脚本提供的链接下载再试下吧:

[code]

[2019-05-24 05:08] ljayx commented on #17615
os.environ["MKL_NUM_THREADS"] = "1"
os.environ["NUMEXPR_NUM_THREADS"] = "1"
os.environ["OMP_NUM_THREADS"] = "1"

谢谢回复，这样的方式是可以的。如果都设置为1，单进程情况下，只占用一个核，多进程会各自独立占用每个核。

谢谢~

[2019-05-24 05:08] #17615 closed, assigned to wangguibao

[2019-05-24 05:16] lizhiqings opened #17620 "Expected in_axis_dim % num == 0, but received in_axis_dim % num:1 != 0:0."
![wer](https://user-images.githubusercontent.com/47736115/58304266-22403100-7e26-11e9-8f63-02b00b8a7bd6.png)

输入batch 是四个 样本 每个 长度不一  但是进过 sequence_pool 应该变成 4x5 的 矩阵了吧 这样 还是不能 split 么

[2019-05-24 05:29] procr opened #17621 "Why can't I “Have some google symbols”"
请问一下在编译paddle的v1.2.1这个版本
然后自己加了一个OP，报了这个错
![image](https://user-images.githubusercontent.com/5010880/58304707-f6be4600-7e27-11e9-9987-2e07ebb52679.png)

请问一下这个检查的目的是什么？

![image](https://user-images.githubusercontent.com/5010880/58304716-fcb42700-7e27-11e9-88ac-175bbea334b2.png)

[2019-05-24 06:06] guoshengCS commented on #17561
好的，我这边能够复现，
<img width="1085" alt="image" src="https://user-images.githubusercontent.com/14105589/58306098-f5dbe300-7e2c-11e9-908e-d55f230e87ce.png">
按照上面说的修改试了下是可以跑通的，我这边会提PR修复，你那边如果紧急的话可否先行按照上面说的内容自行修改编译下
<img width="1278" alt="image" src="https://user-images.githubusercontent.com/14105589/58306126-09874980-7e2d-11e9-8cb5-8472eef98606.png">

[2019-05-24 06:30] XiaoheYou commented on #17613
你提供的链接失效了。404 not found

[2019-05-24 06:32] Ashleychen commented on #17561
请问你那边PR修复的话需要多久时间呢

[2019-05-24 06:35] wangguibao commented on #17620
是compile time InferShape()失败了，原因是此时pool1的dim是[-1, 5]，按第一维切分会出现截图中提示的“除不尽”的问题

但是split一般不在第1维（batch那一维）做

跟用户解释后，用户接受并表示理解。

[2019-05-24 06:35] #17620 closed, assigned to wangguibao

[2019-05-24 06:40] guoshengCS commented on #17561
已经提PR，大概需要1天，不过你那边需要使用最新的develop的whl包

[2019-05-24 06:40] luotao1 commented on #17621
为了避免线上业务时，与其他版本中google symbols起冲突。

如果方便的话，可以贴OP出来看看。

[2019-05-24 06:41] Ashleychen commented on #17561
好的，谢谢！

[2019-05-24 06:44] procr commented on #17621
为了做GoogleNet的fusion，所以代码里面有google的字样。
除了把新增的OP当中的google字样替换掉之外，可以暂时把该check_symbol 脚本注释掉么？

[2019-05-24 06:47] frankwhzhang commented on #17597
您是百度内部用户 还是外部用户

[2019-05-24 06:48] wzgwzg commented on #17572
整个log就这么多，这还是开了GLOG_vmodule=operator=4 的debug模式

24 Traceback (most recent call last):
 25   File "train.py", line 318, in <module>
 26     main()
 27   File "train.py", line 314, in main
 28     train(args)
 29   File "train.py", line 192, in train
 30     q_acc, att_acc, global_lr = build_program(is_train=True, main_prog=train_prog, startup_prog=startup_prog, args=args)
 31   File "train.py", li

[2019-05-24 06:50] frankwhzhang commented on #17601
用户提问的是一个关于多任务的学习

[2019-05-24 06:50] Ashleychen commented on #17561
请问最新develop的whl包可以在哪里获取，http://ci.paddlepaddle.org/上面只看到mac的whl。

[2019-05-24 06:51] frankwhzhang commented on #17604
问题已解决

[2019-05-24 06:51] #17604 closed, assigned to frankwhzhang

[2019-05-24 07:04] guoshengCS commented on #17561
可以试下从这里下载 http://paddlepaddle.org/documentation/docs/zh/1.4/beginners_guide/install/Tables.html/#permalink-7--whl-dev

[2019-05-24 07:07] JiabinYang commented on #17597
看报错是显存不足

[2019-05-24 07:07] XiaoheYou commented on #17613
使用了你们的label文件，eval的效果依旧几乎0

[2019-05-24 07:31] irukawang commented on #15225
请问这个问题解决了么

[2019-05-24 07:32] lonelywinter340 opened #17628 "MPI训练打开Embedding层参数更新，训练报GRPC错误"
PaddleCloud Fluid 1.3.0

关掉embedding参数更新没有问题，打开embeding参数更新报下面的错误。
Fri May 24 14:58:03 2019[1,6]<stdout>:F0524 14:58:03.763126  6355 grpc_client.cc:418] GetRPC name:[emb_title.block2], ep:[10.90.102.22:62004], status:[-1] meets grpc error, error_code:14 error_message:Socket closed error_details:

[2019-05-24 07:54] phlrain commented on #17572
我感觉是你的  args.layers 给的是多个值（list, 或者tuple)，不是单个值

[2019-05-24 08:07] LeoZhao-BJ commented on #17611
softmax mkldnn kernel also has such issue.

[2019-05-24 08:15] wangguibao commented on #17628
已转内部多机issue跟进

[2019-05-24 08:18] luotao1 commented on #17611
content_dnn don't have such issue on softmax mkldnn.

[2019-05-24 08:31] jczaja commented on #17535
Modified MKL-DNN (no jitted conv transpose) when used on face model produce no error.
So two options are:
1) MKL-DNN jitted deconv (conv transpose) does not work properly for our use case. MKL-DNN tool
benchDNN was used to reproduce problem, but no reproduction so far (BenchDNN is using relative metric to test accuracy while paddle is using absolute value metric).
2) paddlepaddle conv transpose mk

[2019-05-24 08:39] LeoZhao-BJ commented on #17611
increase device_count , e.g. change CPU_NUM to big,  it may happen

[2019-05-24 09:17] xiequnyi opened #17631 "训练报错： an illegal memory access"
报错信息如下：
W0524 06:06:37.243711  1423 device_context.cc:263] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 9.0, Runtime API Version: 9.0
W0524 06:06:37.243786  1423 device_context.cc:271] device: 0, cuDNN Version: 7.0.
Traceback (most recent call last):
  File "train.py", line 231, in <module>
    main()
  File "train.py", line 228, in main
    train_net(args)
  File "train.py", l

[2019-05-24 09:19] wzgwzg commented on #17572
27 add_arg('batch_size',       int,   16,                   "Minibatch size.")
28 add_arg('layers',           int,   50,                   "resnet layers")
29 add_arg('class_dim',        int,   751,                  "Class number.")
给的值是确实是单个啊，我开始还怀疑是不是开了多卡有什么影响，结果把并行关了还是同样的错误

[2019-05-24 09:32] luotao1 commented on #17621
这个方法比较好。

如果你只是自己本地用，也是可以的。

[2019-05-24 09:36] paulpaul91 opened #17632 "paddle.fluid.layers.kldiv_loss(x, target, reduction='mean', name=None)"
paddle 平台上这个接口说明文档上的公式错了，请更正

[2019-05-24 09:38] yuanzfy opened #17633 "如何把一个二维矩阵转成tensor 或者lod tensor"
目前在用fluid1.3，在模型中有一步操作是【模型的中间输出和一个单位矩阵进行逻辑运算】，单位矩阵的大小为batch_size*batch_size，现在不清楚该怎么生成这样一个等价于单位矩阵的tensor或者lodtendor。自己尝试使用create_lod_tensor后报类型错误。
单位矩阵lodtansor定义：
![image](https://user-images.githubusercontent.com/4515954/58318493-76f5a300-7e4a-11e9-8be8-a88ac8009dc5.png)
逻辑运算：
![image](https://user-images.githubusercontent.com/4515954/58318555-92f94480-7e4a-11e9-8c8a-90e305800be9.png)
逻辑运算报错：
![

[2019-05-24 09:41] yuanzfy commented on #17633
POS_MASK = np.logical_not(np.identity(BATCH_SIZE))
pos_mask = fluid.create_lod_tensor(POS_MASK, recursive_seq_lens=[[batch_size]], place=fluid.CPUPlace())

p_valid_mask = fluid.layers.logical_and(p_valid_mask, pos_mask)

[2019-05-24 10:01] laoliukan commented on #17560
具体如何设置enable_ce呢？

[2019-05-24 10:12] ghost commented on #17597
请问您知道如何解决吗

[2019-05-24 10:13] ghost commented on #17597
c4人工智能创意赛的参赛选手

[2019-05-24 11:01] yuanzfy commented on #17633
刚才那个问题搞定了，用create_tensor + layers.assign就行，但是，新的问题来了，我自己生成的tensor，类型是3*3，而模型计算出来的向量，类型是-1*3，进行逻辑运算会报错dim不匹配
![image](https://user-images.githubusercontent.com/4515954/58323347-487dc500-7e56-11e9-81b8-ed7740452d86.png)
求帮忙看看！

[2019-05-24 11:08] wangguibao commented on #17633
我是这么写的

[code]

[2019-05-24 11:12] yuanzfy commented on #17633
我使用feed传入的方法也可以，我在测试的时候是这样写的，但是在生产环境下，使用py reader不知道该怎么传入，而且会有batch shuffle的操作，变换后就无法保证传入的矩阵是对角阵了
感觉paddle在【编译期】做的dim检查有点严，一个-1*3的和3*3的矩阵，是有可能能够匹配的

[2019-05-24 11:24] wangguibao commented on #17632
请问您看到的页面是哪个，方便给下链接吗，我们检查一下

[2019-05-24 11:32] yuanzfy commented on #17633
举个具体的例子来说明下我的需求
假设现在batch_size = 3
通过qp_dot_product = fluid.layers.matmul(q_emb, p_emb, transpose_y=True)，能够得到一个3*3的矩阵，这时候我想把对角线的值全部置为0

[2019-05-24 11:45] gongweibao opened #17638 "Slice large tensor to chunk and communicate with each other use chunk."

[2019-05-24 12:40] wangguibao commented on #17633
经过了解，py reader场景下确实还不支持，建议暂时用同步feed接口。

用户表示理解。

[2019-05-24 12:40] #17633 closed, assigned to nobody

[2019-05-24 12:40] #17621 closed, assigned to nobody

[2019-05-24 17:56] #17268 closed, assigned to jczaja

[2019-05-24 18:32] sherrysfu commented on #17579
你好，现在已经没有error，但是感觉求解有问题，可以帮忙看下code吗？谢谢
<img width="633" alt="Capture" src="https://user-images.githubusercontent.com/30885303/58349169-67109b80-7e17-11e9-9a96-b4feb5bab7f9.PNG">

[compress0.docx](https://github.com/PaddlePaddle/Paddle/files/3218182/compress0.docx)

[2019-05-25 03:05] beacandler opened #17649 "paddle fluid 1.4的im2sequence op传入的padding参数错误，导致padding无法生效"
1. paddlepaddle版本号：
          pip install paddlepaddle-gpu==1.4.0.post87
2. 出现的问题：

![image](https://user-images.githubusercontent.com/33446789/58363788-5a09b000-7edc-11e9-9ebf-8f915d7669d7.png)
如图，无论padding的参数设置成多少，均不起作用，导致后续的网络无法训练

3. 问题排查：
     1. paddle官方代码：
![image](https://user-images.githubusercontent.com/33446789/58363805-91785c80-7edc-11e9-881c-242b7fcc6842.png)
地址：https://github.com/Pad

[2019-05-25 03:06] beacandler commented on #17649
请paddle同学尽快确认上述bug，并且修正，因为需要在集群上运行

[2019-05-25 03:59] hong19860320 commented on #17538
paddepaddle1.4.1

[2019-05-25 04:01] #17538 closed, assigned to hong19860320

[2019-05-26 12:03] jczaja opened #17654 "[MKL-DNN] Add Leaky-relu support"
Leaky-relu is supported by MKL-DNN , but not supported by PaddlePaddle MKL-DNN integration.
Adding that once could improve performance of Face model (reduce number of reorders + hopefully more efficent mkl-dnn leaky relu implementation)

Scope of task:
1) Add interface to integration for exposing mkl-dnn leaky relu
2) Add Pass : conv + leaky_relu -> conv_with_post_op_leaky_relu

[2019-05-26 12:07] jczaja opened #17655 "[MKL-DNN] Extend conv passes to work with conv2d_transpose"
Currently mkldnn conv passes : conv  relu, conv bias and conv batch_norm are working with
conv2d and conv3d ops. It would be good to extend them to work with conv2d_transpose op.
Performance of Face model could benefit from it.

[2019-05-26 12:17] jczaja commented on #17535
It seems that conv2d_transpose mkl-dnn is working fine. Problem is elementwise_add mkldnn op.
To verify that one can run Face model with:
[code]
And this work fine. But when We run with two ops:
[code]
Then problem appears. Previous observation that MKL-DNN conv_transpose Jitted is broken as oppose to reference MKL-DNN conv_transpose was not precise. Jitted conv_transpose seems to be using diffren

[2019-05-26 12:20] jczaja commented on #17535
While looking at Face model I noticed that some improvements to mkl-dnn integration in Paddle can be made to further speed up the model's execution:
1) Add leaky-relu mkl-dnn support: #17654
2) Extend mkl-dnn conv passes to work with conv2d_transpose: #17655

[2019-05-26 12:39] luotao1 commented on #17535
Thanks very much for your investigation and solutions!
For "Problem is elementwise_add mkldnn op", is #16880 solved this?

[2019-05-26 15:41] jczaja commented on #17535
@luotao1 #16880 Does not fix inaccuracy in Face model

[2019-05-27 02:29] #17561 closed, assigned to guoshengCS

[2019-05-27 02:35] paulpaul91 commented on #17632
http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#kldiv-loss

[2019-05-27 02:39] ChenYingpeng opened #17657 "yolov3 training coco2017"
Paddle version.
`python
Python 2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

1.4.1

`

Run below code.

`python train.py --model_save_dir=save_models/yolov3/ --pretrain=weights/darknet53/ --data_dir=/home/ss/data/coco2017/
-----------  Configuration Arguments -----------
batch_size: 8
class_num: 80
dat

[2019-05-27 02:48] wangguibao commented on #17632
检查了一下，文档对kldiv loss的描述应该没问题？
请问您说的文档中公式错了，具体是哪里不对呢？我们再确认一遍

[2019-05-27 03:01] phlrain commented on #17572
能否提供下环境，我们复现下

[2019-05-27 03:13] #16235 closed, assigned to Yancey0623, wangguibao

[2019-05-27 03:13] #15272 closed, assigned to wangguibao

[2019-05-27 03:14] #16961 closed, assigned to wangguibao

[2019-05-27 03:14] #16976 closed, assigned to wangguibao

[2019-05-27 03:21] thomas010 commented on #17569
训练到第3个epoch，sequence_unpad op出错，错误信息如下：
paddle.fluid.core.EnforceNotMet: Invoke operator sequence_unpad error.
C++ Callstacks:
Enforce failed. Expected numel() * SizeOfType(type()) <= memory_size(), but received numel() * SizeOfType(type()):71860247984660480 > memory_size():393216.
Tensor's dims_ is out of bound. Call Tensor::mutable_data first to re-allocate memory.
or maybe the required data-typ

[2019-05-27 03:32] wzgwzg commented on #17572
ok，我怎么联系你，可否提供一下hi账号

[2019-05-27 03:51] Ashleychen commented on #17561
我刚刚试着用这里http://paddlepaddle.org/documentation/docs/zh/1.4/beginners_guide/install/Tables.html/#permalink-7--whl-dev 下载的whl来跑，还是这个报错。

[2019-05-27 04:39] luotao1 commented on #17611
@LeoZhao-Intel @jczaja I test the temporary fix in https://github.com/PaddlePaddle/Paddle/issues/17611#issuecomment-495454303 on content_dnn 16 threads training, it runs OK.
Do you have a plan to fix it? Using this temporary fix, content_dnn could speedup 17% with enable transpose_mkldnn_op.

[2019-05-27 04:52] Yelrose commented on #17093
目前的办法是 neg_a = neg_a * -1

[2019-05-27 05:07] guoshengCS commented on #17561
试下这里的whl包呢
http://ci.paddlepaddle.org/viewLog.html?buildId=104286&buildTypeId=Manylinux1_Cuda90cudnn7avxMkl&tab=artifacts

[2019-05-27 05:09] guoshengCS commented on #17561
在 http://ci.paddlepaddle.org/ 这个页面选择success的点进去，
<img width="1226" alt="image" src="https://user-images.githubusercontent.com/14105589/58396739-86f6c800-8080-11e9-8f1e-9137e7637ca5.png">
然后选择右上角的 Artifacts 进入下载
<img width="1203" alt="image" src="https://user-images.githubusercontent.com/14105589/58396754-95dd7a80-8080-11e9-87e9-f9e0e88b4a09.png">

[2019-05-27 05:19] Ashleychen commented on #17561
还是一样的报错

[2019-05-27 06:09] #17456 closed, assigned to gongweibao

[2019-05-27 06:19] paulpaul91 commented on #17632
应该是l(x,y)=y∗(log(y)−log(x))

[2019-05-27 06:41] Superjomn commented on #17350
你是公司内的吗，我们可以线下对下，我 hi 是 yanchunwei

[2019-05-27 07:00] wawltor opened #17663 "Fix gather op grad calc bug when has same index#17662"
The gather op has indices input，when the indices has same index, calculate the grad has a bug，just use overwrite mode to calculate the same index grad,  fix this bug using the accumulate mode to calculate the same index grad. At the same time, using the lib of open-blas and eigen  to optimize the time cost in accumulate mode

[2019-05-27 07:58] cjt222 opened #17665 "Add deformable psroi pooling OP#17664"
测试环境为Tesla v100, CUDA 9.0， CUDNN 7.1
1、性能测试
![image](https://user-images.githubusercontent.com/17508662/58404523-e4e2da00-8097-11e9-9611-a03e0541582a.png)
![image](https://user-images.githubusercontent.com/17508662/58404563-f9bf6d80-8097-11e9-8b40-d81730348d03.png)
2、精度测试
请进入http://agroup.baidu.com/dltp-sz/md/article/1846149 查看

[2019-05-27 08:02] zzchust opened #17666 "增加更多轻量级预训练模型"
目前paddlepaddle提供了shufflenetv2和mobilenetv2的imagenet-pretrained model

不知道是否有计划推出更多适合移动端的更小型化的pretrained-model， 如shufflenetv2x0.5,shufflenetv0.25等。

[2019-05-27 08:28] shippingwang commented on #17666
最近没有计划 有的话会添加上去

[2019-05-27 08:28] #17666 closed, assigned to nobody

[2019-05-27 08:29] #17665 closed, assigned to nobody

[2019-05-27 08:32] shippingwang commented on #17663
pls write this good comments in the #17662 or cite it

[2019-05-27 08:32] #17663 closed, assigned to nobody

[2019-05-27 08:44] cjt222 opened #17669 "Deformable PSROI Pooling OP #17827"
Deformable PSROI Pooling OP  #17827
测试环境为Tesla v100, CUDA 9.0， CUDNN 7.1
1、性能测试

![](https://user-images.githubusercontent.com/17508662/58404523-e4e2da00-8097-11e9-9611-a03e0541582a.png)

![](https://user-images.githubusercontent.com/17508662/58404563-f9bf6d80-8097-11e9-8b40-d81730348d03.png)

2、精度测试
请进入http://agroup.baidu.com/share/md/1e88519e6634458d8a7e34c353e7f134 查看

[2019-05-27 09:08] heavengate commented on #17632
@paulpaul91  您好，kldiv_loss公式应该是没有错的，pytorch也是这样实现的，https://pytorch.org/docs/stable/nn.html?highlight=kldiv#torch.nn.KLDivLoss

[2019-05-27 09:12] dashulu opened #17670 "为什么设置变量的属性为persitable会影响训练的结果？"
两次训练，一次把变量全部设为persistable， 另外一个部分设为persistable， 训练数据和模型都一样，数据也没有shuffle， 为什么结果会不一样。

[2019-05-27 09:18] dashulu commented on #17670
另外，训练到第n个batch之后，把参数保存下来，然后训练第n+1个batch，为什么结果与加载保存下来的参数，训练第n+1个batch的结果不一样？

[2019-05-27 09:27] shippingwang commented on #17670
应该是显存复用影响了，对于不想被显存复用的变量设置persistable=True

用的是什么save? resume 再训练 用save_persistable和load_persistable

[2019-05-27 10:28] gavin1332 commented on #17649
感谢宝贵意见，已反馈。
临时解决方案可以将本地编译的whl包上传hdfs thirdparty路径，然后在before_hook.sh里执行安装操作

[2019-05-27 10:32] zzchust commented on #15332
这个目前进展如何呢？ 急需。目前使用paddle训练简单的分类问题，设定训练的batchsize较为困难

[2019-05-27 12:27] gongweibao opened #17673 "elementwise_div_grad is very slow when tensor is big, such as [3*224*224]."
`elementwise_div_grad` is very slow when tensor is big, such as [3\*224\*224].

[2019-05-27 13:00] JiaXiao243 commented on #17462
RD已修复，修改如下代码即可：https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/word2vec/infer.py#L98
np.arange(vocab_size).reshape(vocab_size, 1),
修改为：np.arange(vocab_size).reshape(vocab_size, 1).astype("int64")
numpy在win下是用int类型，在linux下用的是int64

[2019-05-27 13:18] lgone2000 commented on #15332
如果只是为了测试batch大小， 可以训练前设置
export FLAGS_fraction_of_gpu_memory_to_use=0.2
这样初始时不会分配全部显存，而是随使用临时申请

[2019-05-27 13:41] baiyanan-kate opened #17676 "ernie训练之后预测时报错 Enforce failed. Expected numel() * SizeOfType(type()) <= memory_size(), but received numel() * SizeOfType(type()):57492480 > memory_size():17915904."
![image](https://user-images.githubusercontent.com/23547727/58423656-30ad7780-80c8-11e9-8f83-2c52c6d41c6e.png)
![image](https://user-images.githubusercontent.com/23547727/58424276-aa923080-80c9-11e9-9e44-8a132e9fd6e1.png)

![image](https://user-images.githubusercontent.com/23547727/58446953-4e64f600-8135-11e9-8157-d08177adc28b.png)
![image](https://user-images.githubusercontent.com/23547727/584469

[2019-05-27 15:12] jczaja commented on #17535
Solution to problem by making pass combining conv transpose and elementwise_add is almost done.

@luotao1 Please check code from PR #17644 if it works for this issue and other internal workloads.

[2019-05-27 15:43] JiaoZiLang opened #17678 "图片分类预训练模型微调分类数报错"
**背景**：使用 paddlepaddle [经典模型](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification) 中的resnet50去微调图片分类的最终结果数。即：在原有1000个分类的基础上新增加一个分类
**步骤**： 1. 率选后的图片放一个单独的目录中，且参考imagenet的形式新建了list的文本文件   2. 执行：
[code]

**错误结果**：
[code]

[2019-05-27 15:51] JiaoZiLang commented on #17678
补充下：即使我改成 1，貌似也报错

[2019-05-27 18:04] #15992 closed, assigned to nobody

[2019-05-27 19:51] ghost commented on #17535
@jczaja Thanks for your effort on PR #17644. Could you explain a little bit more about why a conv_transpose + elementwise_add (withOUT fusion) cause this issue?

[2019-05-28 02:25] dashulu commented on #17670
为什么显存复用会影响训练结果？

[2019-05-28 02:34] Yelrose opened #17682 "sequence_pool对固定shape的lod_tensor的shape推导有误"
paddle 1.4

[code]
x信息输出为
[code]
假如我没理解错的话，lod_tensor的shape指的是data的维度，那么如下输入
[code]

查了一下代码，在SequencePoolOp里实现应该有bug
[code]

[2019-05-28 02:46] AWSWXY opened #17683 "稀疏特征 fulid版本api"
稀疏矩阵fluid版本api

[2019-05-28 02:48] AWSWXY commented on #17683
输入形式为：1 32 64 512 10232
程度不固定，如何读入数据

[2019-05-28 02:57] heavengate commented on #17678
看报错是你导入的权重的shape和实际网络该层的shape不一致，是不是你fc层修改了分类数但是导入了原来的fc层的权重的原因，可以把fc的权重不导入试下

[2019-05-28 02:58] heavengate commented on #17683
参考 https://github.com/PaddlePaddle/models/blob/061b58e27c5fd4f7dba36444f68b68725432ff2b/PaddleRec/ctr/reader.py#L5

[2019-05-28 03:19] LeoZhao-BJ commented on #17611
@luotao1 For Executor, is there similar interface with ParallelExecutor which can be used for mkldnn op list setting? thx

[2019-05-28 03:26] luotao1 commented on #17611
No, there is no similar interface for Executor.

[2019-05-28 03:27] luotao1 commented on #17535
@jczaja Thanks very much! I test this PR on all internal workloads, they run OK.

[2019-05-28 03:28] LeoZhao-BJ commented on #17611
so that means no way from python level to set mkldnn op list?

[2019-05-28 03:31] luotao1 commented on #17611
For executor, there is no such interface now, since it doesn't support pass now.

[2019-05-28 03:33] LeoZhao-BJ commented on #17611
got it, thx

[2019-05-28 03:33] paulpaul91 commented on #17632
难道你们就没有怀疑pytorch也是抄错了呢，请看下定义

[2019-05-28 03:36] heavengate commented on #17569
这个问题和该issue没有关联，麻烦重新提一个issue，便于问题记录和其他遇到该问题的开发者检索，谢谢

[2019-05-28 03:47] zhouxc opened #17684 "使用fluid.ParallelExecutor内存报错"
![image](https://user-images.githubusercontent.com/1280621/58449495-55443680-813e-11e9-9f70-1f639bb8c79f.png)
![image](https://user-images.githubusercontent.com/1280621/58449503-5e350800-813e-11e9-92a2-17dd6bdb0434.png)

[2019-05-28 03:47] heavengate commented on #17682
fluid.layers.data 默认会在shape前面append一个-1做batch那个维度，因为训练过程中batch size是可以指定的，所以用-1表示，你指定了append_batch_size=False之后就不会append这个维度，相当于固定了batch size=5， 可以把append_batch_size=False去掉试下

[2019-05-28 03:47] thomas010 opened #17685 "sequence_unpad 在训练过程中内存报错"
问题描述：sequence_unpad 在训练过程中内存报错

版本、环境信息：
    1）Paddle1.4
    2）GPU：p40，cuda8.0, cudnn7

复现信息：
1. 使用sequence_unpad将固定shape的tensor转成sequence类型
2. 然后输入到dynamic_lstm进行处理

相关代码
`    # input shape [-1, lenth, feature_size]
    seq_lenth = fluid.layers.fill_constant_batch_size_like(input, shape=[-1,1], value=input.shape[1], dtype='int64')
    seq_input = fluid.layers.sequence_unpad(x=input, length=seq_le

[2019-05-28 03:49] heavengate commented on #17684
麻烦把报错信息截全一些，看一下调用栈在哪个op，应该是哪个op里面没有满足posix_memalign(&p, 4096ul, size) == 0的检验

[2019-05-28 03:51] zhouxc commented on #17684
![image](https://user-images.githubusercontent.com/1280621/58449787-ca177080-813e-11e9-9b23-e479476049a8.png)
![image](https://user-images.githubusercontent.com/1280621/58449814-e1eef480-813e-11e9-9cce-1dc51247309e.png)
![image](https://user-images.githubusercontent.com/1280621/58449840-eadfc600-813e-11e9-8e57-4490e4a707a7.png)

[2019-05-28 04:02] heavengate commented on #17685
看报错是sequence_unpad里申请新tensor的shape太大，sequence_unpad op中只申请了一个out的tensor，该tensor的shape是[x_shape[0] * x_shape[1], x_shape[2], x_shape[3] ....]， 麻烦确认一下是不是sequence_unpad的input shape太大的原因

[2019-05-28 04:10] thomas010 commented on #17685
sequence_unpad的input shape都是固定的[16 ， 3， 2048]，训练过程中间报错，需要内存跟input shape也不match，感觉不会是input shape问题
Enforce failed. Expected numel() * SizeOfType(type()) <= memory_size(), but received numel() * SizeOfType(type()):72712219978063872 > memory_size():393216

[2019-05-28 04:21] heavengate commented on #17685
input shape没问题的话，可能是dtype的问题，reader里面读入的数据在yield之前请调用一下`astype('float32')`指定dtype，确保训练过程中dtype一致，有可能是训练过程中reader读入的dtype不一致的问题

[2019-05-28 04:49] xjqbest opened #17686 "cmake 如何指定-O2"
cmake 如何指定-O2

目前我是这样编译的
[code]

[2019-05-28 05:16] heavengate commented on #17686
可以修改一下cmake file
https://github.com/PaddlePaddle/Paddle/blob/962eed6f827090c84ac92f0ee28fa612aa836f70/cmake/coveralls.cmake#L66

[2019-05-28 05:29] heavengate commented on #17684
cross_enttropy 有内存泄漏的bug于20天前修复，请使用Paddle develop编译版本或使用latest whl包
https://github.com/PaddlePaddle/Paddle/issues/17232

[2019-05-28 05:35] AWSWXY opened #17687 "模型loss出错"
![image](https://user-images.githubusercontent.com/18156360/58453370-6f394580-814d-11e9-956d-70a4db5a6f8f.png)
#

[2019-05-28 05:36] thomas010 commented on #17685
reader里面已经用astype('float32')做了类型转化的

[2019-05-28 05:37] heavengate commented on #17687
错误原因为cross_entropy的两个输入的维度不一致，请检查一下cross_entropy的输入shape

[2019-05-28 05:41] heavengate commented on #17685
imgs 做-= /= 操作的dtype有可能会变的，可以在return的时候astype试下

[2019-05-28 05:53] xjqbest commented on #17686
请问需要把paddle/cmake/目录下的所有文件都这样改一下么

[2019-05-28 05:55] #17687 closed, assigned to heavengate

[2019-05-28 06:01] heavengate commented on #17686
修改CMakeList.txt中即可
https://github.com/PaddlePaddle/Paddle/blob/962eed6f827090c84ac92f0ee28fa612aa836f70/CMakeLists.txt#L246

[2019-05-28 06:14] #17678 closed, assigned to heavengate

[2019-05-28 06:19] shippingwang commented on #17397
refer to https://github.com/PaddlePaddle/models/issues/2213#issue-442409898

[2019-05-28 07:04] #17684 closed, assigned to heavengate

[2019-05-28 07:04] zhouxc commented on #17684
模型太大 已解决

[2019-05-28 08:36] Melonzhou opened #17693 "使用fluid.metrics.Precision()，调用update的时候报错，ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.3.0.post97
    2）GPU：K40,10G显存，CUDA-8.0和CUDNN-V6
    3）系统环境：python2.7
- 训练信息
    1）单机单卡
-报错信息
 使用fluid.metrics.Precision()，调用update的时候报错。
![image](https://user-images.githubusercontent.com/5926307/58463

[2019-05-28 08:42] heavengate commented on #17693
pred应该是和label相同shape，是一个[N, 1]的array，只需要保留预测为True的概率就可以了，可以按照你的代码逻辑选取pred其中一列传入

[2019-05-28 08:55] Melonzhou commented on #17693
只保留预测为ture的概率之后，不会报错了，但是计算出来的值有点奇怪啊，precision不是0就是1，我用sk-learn计算出来的值看着就挺正常。
![image](https://user-images.githubusercontent.com/5926307/58464927-2db69380-8169-11e9-8506-5208171cbe97.png)

[2019-05-28 09:01] zzchust opened #17694 "py-reader如何处理读取数据失败的情况"
在imagnet-classification的[demo](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/train.py#L355)中，如遇到数据读取失败，该如何处理？

fluid中可能处理方法:
在reader_cv2.py中进行[process_image](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/reader_cv2.py#L90
)操作时，使用try-except的方式，若读取数据失败，则使用全0填充image，使用-1填充label。 在设置cross-entropy 损失函数忽略标签为-1的数据。

**缺陷：如果损失函数不支持忽略指

[2019-05-28 09:05] heavengate commented on #17693
确认了下precision代码，麻烦做如下修改尝试：
1. 输入的shape [N, 1] reshape成[N]
2. label 调用一下astype('int32')

[2019-05-28 09:12] heavengate commented on #17694
1） paddle支持batchsize不一致的情况，pyreader没法显示滤除-1，但是你可以在reader yield数据的时候返回不同的batchsize
2）常用的loss应该都支持滤除-1的操作，一般也都支持指定weight的操作，也可以通过简单的判断把-1的权重置为0

[2019-05-28 09:19] Melonzhou commented on #17693
辛苦再看下，绿框中的是我的修改，结果和之前一样，不是0就是1
![image](https://user-images.githubusercontent.com/5926307/58466584-83d90600-816c-11e9-8866-9ceb46c1be51.png)
![image](https://user-images.githubusercontent.com/5926307/58466618-92bfb880-816c-11e9-8f4d-a9b71b14a1db.png)

[2019-05-28 09:25] zzchust commented on #17694
好的，我试试。

针对但在reader yield数据的时候返回不同的batchsize， 希望能在imagenet-classification的demo中给出示例。 [reader_cv2.py]([url](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/reader_cv2.py))中提供的是yield image_path，没太理解为什么yield path不yield image

[2019-05-28 11:05] miraclebiu opened #17697 "caffe2fluid直接保存inference_model 的模型输出和使用load_var将模型载入，并使用save_inference_model保存输出存在差异"
   1）PaddlePaddle版本：1.4.1
    
    3）GPU：k40、CUDA8和CUDNN7
    4）系统环境：centos python2.7
- 训练信息
    1）单机，多卡
    2）k40
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

使用caffe2fluid官方提供的转换代码，将npy文件利用save_inference_model保存权重结构，模型在本地测试可以正常输出结果，之后为了finetune方便，将save_inference_model接口改为save_persistable保存，并将网络结构中的is_test均设置为True，使用load_var进行加载权重（为了避免bn层的moment找不到），设置sgd，**学习率

[2019-05-28 11:11] LeoZhao-BJ commented on #17611
@jczaja  for how to setup env, please refer https://docs.google.com/document/d/1luZg1v2_leUaV7nQhXqJvgzLIEsU-OAVNiIyDuo88dM,

run script is shared here.
[run_classifier_n.zip](https://github.com/PaddlePaddle/Paddle/files/3227300/run_classifier_n.zip)

1. goto NeuralMachineTranslation/BERT/fluid/train/LARK_Paddle_BERT/BERT
2. cmd to reproduce:
[code]
you can modify mkldnn op list to enable/disable

[2019-05-28 11:25] heavengate commented on #17697
load_var之后是经过两个epoch的训练之后再save_inference_model的，即使leaning rate=0， batch norm的moving_mean和moving_variance也会更新，会导致diff

[2019-05-28 11:56] miraclebiu commented on #17697
在bn层中设置use_global_stats=True即可

[2019-05-28 11:56] #17697 closed, assigned to heavengate

[2019-05-28 12:02] #17693 closed, assigned to heavengate

[2019-05-28 13:13] ghost commented on #17611
@jczaja will take time to continue the investigation and give formal fix. @LeoZhao-Intel Please help Jacek to reproduce this issue. Thanks.

[2019-05-28 13:18] ghost commented on #17535
Fixed by #17644

[2019-05-28 13:18] #17535 closed, assigned to jczaja

[2019-05-28 13:24] ylxsyf opened #17698 "预测c++实现时出现core"
c++实现预测（CNN）
单线程正确
多线程出core，core的信息如下：
![image](https://user-images.githubusercontent.com/5714337/58481384-d7f4e200-818e-11e9-8690-b05c60a9f290.png)
实现方法：predictor全局变量，多线程调用predictor->run()函数

[2019-05-28 13:25] ylxsyf opened #17699 "预测c++实现时出现core"
c++实现预测模型（CNN）出现core：
1)单线程正常运行
2)多线程出core，core的信息如下：
![image](https://user-images.githubusercontent.com/5714337/58481485-0c689e00-818f-11e9-82bc-d6fb6bd9f3cc.png)
实现方式：predictor全局变量，多线程调用predictor->run()函数

[2019-05-28 13:30] heavengate commented on #17699
多线程实现不能共用predictor，每个线程创建自己堵路的predictor，参考http://paddlepaddle.org/documentation/docs/zh/1.4/advanced_usage/deploy/inference/native_infer.html 数据并行的服务

[2019-05-28 13:44] ylxsyf commented on #17699
线程之间的predictor是安全的吗？

[2019-05-28 13:45] heavengate commented on #17698
重复issue，在https://github.com/PaddlePaddle/Paddle/issues/17699 中跟进

[2019-05-28 13:45] #17698 closed, assigned to heavengate

[2019-05-28 13:47] heavengate commented on #17699
线程之间的predictor不在一个线程里，是安全的

[2019-05-28 14:22] ghost commented on #17335
Under PR #17641

[2019-05-28 14:24] ylxsyf opened #17704 "c++预测测试出内存泄露"
c++实现模型预测（CNN）：
利用valgrind进行测试，发现paddle的内部代码有爆出内存泄露，具体如下：
![image](https://user-images.githubusercontent.com/5714337/58485852-64a39e00-8197-11e9-9498-2881bad83691.png)

[2019-05-29 02:43] #17686 closed, assigned to heavengate

[2019-05-29 02:57] fc500110 commented on #17704
用的哪个版本？

[2019-05-29 05:19] shippingwang commented on #17613
paddle 1.4.1
最新的models代码
1. 100类数据train
SeResNeXt50 train ImageNet**100**类

End pass 1, train_loss 2.87303, train_acc1 0.28167, train_acc5 0.58539, test_loss 2.50966, test_acc1 0.35064, test_acc5 0.66573

2. 1000类数据eval
eval
![image](https://user-images.githubusercontent.com/13645332/58531228-2b5d4380-8214-11e9-8e9c-93971705290a.png)
![image](https://user-images.githubusercontent.com/13645332/5853

[2019-05-29 05:34] XiaoheYou commented on #17613
问题已自己解决。
reader.py里process_image有段代码要修改：
![image](https://user-images.githubusercontent.com/28619328/58531585-69a73280-8215-11e9-95e5-0d0bea378b3d.png)
需要先对输入图片做resize再做crop，否则当输入图片宽高小于DATA_DIM的时候，train的数据会被padding而test的数据小于256也会被padding否则不会，这样会造成训练数据和测试数据不一致，因此testloss不收敛且test_acc值很低。而且不建议用resize_short短边resize。

[2019-05-29 05:35] XiaoheYou commented on #17613
已自己解决。

[2019-05-29 05:35] #17613 closed, assigned to qingqing01, shippingwang

[2019-05-29 05:37] aprilvkuo commented on #17537
使用sequence_expand_as， 建图是正常，但是更新时候出core。
自己在input data使用numpy实现了同样的功能，正常训练起来了。

[2019-05-29 05:37] #17537 closed, assigned to wzzju

[2019-05-29 06:18] #17649 closed, assigned to gavin1332

[2019-05-29 06:39] thomas010 commented on #17685
reader部分return的时候都做了astype转换，依旧报同样错误，可以排除dtype问题

[2019-05-29 06:51] AWSWXY opened #17714 "本地预测报错"
![image](https://user-images.githubusercontent.com/18156360/58535788-4b473400-8221-11e9-8cb3-0abff85e9e6b.png)

[2019-05-29 08:24] dancingpipi opened #17721 "externals/any repo失效"
使用1.2版本，在docker环境下进行源码编译：
https://github.com/PaddlePaddle/any.git
这个repo已经失效，请提供一个新的repo

[2019-05-29 08:42] ylxsyf commented on #17704
我用paddle@v1.3.0_pb32@git_branch 和paddle@v1.2.0_pb32@git_branch 都出现这个问题了。

[2019-05-29 08:53] wangguibao commented on #17628
多机issue，内部已修复。

[2019-05-29 08:53] #17628 closed, assigned to wangguibao

[2019-05-29 09:00] fc500110 commented on #17714
模型保存有问题

[2019-05-29 09:00] #17714 closed, assigned to nobody

[2019-05-29 09:07] heavengate commented on #17685
1.4版本sequence unpad有问题，在定位中，可以使用1.3版本试一下

[2019-05-29 10:12] Melonzhou opened #17723 "Tensor holds the wrong type, it holds float at [/home/teamcity/work/ef54dc8a5b211854/paddle/fluid/framework/tensor_impl.h:29]"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-05-29 10:14] gongxijun opened #17724 "fluid.layers.data中的shape 没有起到任何作用."
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：1.3
2）CPU/GPU：cpu
3）系统环境：Mac OS 10.14
(base) $ ~/miniconda2/bin/python -m pip show paddlepaddle
Name: paddlepaddle
Version: 1.3.2
Summary: Parallel Distributed Deep Learning
Home-page: UNKNOWN
Author: UNKNOWN
Author-email: UNKNOWN
License: UNKNOWN
Location:/python2.7/site-packages
Requires: decorator, grap

[2019-05-29 11:05] Melonzhou commented on #17723
补充一下环境信息和错误日志
* 版本、环境信息：    1）PaddlePaddle版本：1.3.0.post97    2）GPU：K40,10G显存，CUDA-8.0和CUDNN-V6    3）系统环境：python2.7
* 训练信息    1）单机单卡 
错误日志：
Traceback (most recent call last):
  File "run_custom.py", line 108, in <module>
    model.train()
  File "/Users/baidu/workspace/kkk/baidu/nlpc/nlpt-strategy/strategy/model/base_model.py", line 287, in train
    self.train_exe.run(fetch_list=[])
  File "/Libra

[2019-05-29 11:45] dreamonezero opened #17728 "SSD训练自定义样本集报错"
   1）PaddlePaddle版本：1.4.1
    3）NVIDIA GT730  CUDA9.0+CUDNN7.0
    4）系统环境：win10专业版 python3.7
- 训练信息
    1）单机，单卡

devices_num: 1
batch_size: 2 epoc_num: 120 batch_size_per_device: 2
class_num: 2
class_num: 2
W0529 19:28:03.713282 23548 device_context.cc:261] Please NOTE: device: 0, CUDA Capability: 35, Driver API Version: 9.1, Runtime API Version: 8.0
W0529 19:28:03.720264 23548 device_context.cc:2

[2019-05-29 13:05] HongyuLi2018 opened #17731 "import paddle.fluid后logging模块无法使用"
[code]
import paddle.fluid之后 python的logging模块失效，注销掉`import paddle.fluid as fluid`之后就正常

[2019-05-29 13:08] HongyuLi2018 commented on #17731
环境 python2.7.13， paddle1.3.1和1.4.1均有相同问题，logging无法打印信息

[2019-05-29 14:12] lzha106 opened #17735 "fleet role maker isinstance check does not work with py2.7"
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle Docker latest （0529 日）
    2）CPU：是
    3）GPU：否
    4）系统环境：ubuntu 16.04，Python 2.7.12,   enum-0.4.7
- 训练信息
    1）单机/多机：单机分布式
    2）代码：https://github.com/PaddlePaddle/Paddle/tree/develop/python/paddle/fluid/incubate/fleet/tests
- 复现信息：在以上容器环境下运行 fleet tests
- 问题描述：
      File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/incubate/fleet/base/role_ma

[2019-05-29 14:37] seiriosPlus commented on #17735
fix #17736

[2019-05-30 02:43] fc500110 commented on #17731
[code]

[2019-05-30 02:43] #17731 closed, assigned to nobody

[2019-05-30 03:08] AWSWXY opened #17741 "参数超过维度限制"
grpc_client.cc:357] GetRPC name:[embedding_0.w_0], ep:[10.182.163.149:62004], status:[-1] meets grpc error, error_code:8 error_message:Sent message larger than max (2560000033 vs. 2147483647) error_details:
Wed May 29 21:55:12 2019[1,2]<stdout>:*** Check failure stack trace: ***
Wed May 29 21:55:12 2019[1,2]<stdout>:    @     0x7f56dcb13cdd  google::LogMessage::Fail()
Wed May 29 21:55:12 2019[1,2]

[2019-05-30 03:39] honghu0829 opened #17744 "fluid.io.save_inference_model 重复调用报错，提示 var is not in block"
paddle 版本 fluid.1.3
 异常现象：
  希望在每次跑完一轮训练后保存模型参数，并执行测试训练任务，发现第一个epoch能够成功没保存模型，但第二个epoch就会失败，见 334 行；
 发现问题后，尝试在第一个epoch就执行两次模型保存，同样出现一样的错误。错误如下：

`
Traceback (most recent call last):
  File "do_Parallel_train.py", line 341, in <module>
    save_infer_params(start_exe, user_infer_params_path, user_infer, config.get_feeding(0)['names'], test_prog)
  File "do_Parallel_train.py", line 103, in save_inf

[2019-05-30 04:03] Melonzhou commented on #17723
我的label和predict对应的类型和shape如下：
![image](https://user-images.githubusercontent.com/5926307/58607622-f06e1500-82d2-11e9-9d1d-d4c04430ebf4.png)
![image](https://user-images.githubusercontent.com/5926307/58607626-f532c900-82d2-11e9-97ab-d8be55e62a68.png)

[2019-05-30 04:34] junjun315 commented on #17741
组网时参数对应的数据大小超过了多机grpc设置的限制，导致传输时报错。可以调大server上的grpc包限制大小的值

[2019-05-30 06:54] JiaXiao243 commented on #17723
有个类似的issue [#17462](https://github.com/PaddlePaddle/Paddle/issues/17462)，numpy在win下是用int类型，在linux下用的是int64。请问是windows环境吗？float可能是同样的问题。

[2019-05-30 08:11] Melonzhou commented on #17723
linux环境下的

[2019-05-30 08:31] lzha106 commented on #17735
#17736  can't fix the issue, as in py27, Enum is not a instance, and line 316 will always fail on  isinstance(role, Role) check.

No idea if a good way to make the 'isinstance' check work with Enum on py27.

[2019-05-30 08:40] Melonzhou commented on #17723
感谢paddle同学，原因查到了，label的数据类型应该是int64才对，但是在组batch的时候不小心给转成字符了。
![image](https://user-images.githubusercontent.com/5926307/58620358-7a30d900-82f9-11e9-8e5f-dd220ae8cdfb.png)
变成下面这样就好了
![image](https://user-images.githubusercontent.com/5926307/58620420-9f254c00-82f9-11e9-9541-5ce027434517.png)

[2019-05-30 08:41] #17723 closed, assigned to junjun315

[2019-05-30 10:38] junjun315 commented on #17721
您好，我看这个repo是可以使用的，只是变成只读了。请问为什么还需要这个版本呢？

[2019-05-30 10:45] fc500110 commented on #17721
建议参考修改一下编译选项
https://github.com/PaddlePaddle/Paddle/pull/15813/commits/c797a1f050a8f1a7c75de58aba5d387c803d678f

[2019-05-30 10:50] luotao1 commented on #17721
@z13974509906 这个repo在今天上午已经恢复了，请重新试下，谢谢！

[2019-05-30 10:57] fc500110 commented on #17728
输入数据shape有问题吧？

[2019-05-30 11:21] dreamonezero commented on #17728
数据是灰度图，请问下有灰度图应如何处理才能用，预训练模型是ssd_mobilenet_v1_coco，数据集是自定义数据集，按照pascalvoc格式来的

[2019-05-30 11:55] sitong188 opened #17754 "没有发现明显错误"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】
任务链接
http://yq01-hpc-lvliang01-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20190530174223-1483

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GP

[2019-05-30 12:10] #17461 closed, assigned to JiabinYang

[2019-05-30 12:13] dreamonezero commented on #17728
im = Image.open(image_path)
            if im.mode == 'L':
               im = im.convert('RGB')

代码中有转换，输入shape是3

[2019-05-30 12:35] jczaja commented on #17611
Some update:

I have reproduced problem eg. crash in Transpose and Softmax of BERT training but not fixed it yet.

I'm investigating problem and have couple of questions regarding threads managements in paddle.

Device context is holding collection of maps . This collection (Map as well) is using cur_thread_id
as a key to get another Map that is cache with Blobs(primitives , memory etc.) Problem i

[2019-05-30 12:38] junjun315 commented on #17754
pserver启动问题，转内部处理

[2019-05-30 12:44] LeoZhao-BJ commented on #17611
https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/fluid/design/concepts/parallel_executor.md
This is introduction for parallel_executor.
Current setMkldnnThreadID/set_cur_thread_id may not guarantee safety, since it just set a global variable, which highly depends on execution order and time for each task, for current inference, it will call setMkldnnThreadID before warmup then do warm up,

[2019-05-30 12:45] junjun315 commented on #17744
save_inference_model 在保存时会进行一些裁剪，有些处理会导致非persistable参数被覆盖。 由于静态图下执行过后网络是固定的，建议只执行一遍save_inference_model, 然后配合save/load _persistable接口来保存断点参数

[2019-05-30 12:49] thomas010 commented on #17685
试了下1.3版本（1.2-1.4都试过），仍出现同样错误

[2019-05-30 13:01] junjun315 commented on #17741
另外，可以通过fluid.DistributeTranspiler设置 config.slice_var_up= True 也可以解决。通过设置该参数，将把稀疏参数根据pserver的个数进行拆分，达到减少参数大小的目的。

[2019-05-30 13:13] junjun315 commented on #17723
fluid.layers.cross_entropy(input=prediction, label=label)
这个op强制要求label输入类型为int64

[2019-05-31 01:09] AWSWXY commented on #17741
调整该参数后 config.slice_var_up= True 问题解决。

[2019-05-31 01:10] #17741 closed, assigned to junjun315

[2019-05-31 06:40] chengduoZH commented on #17611
some core parallel executor threads have their own cache? First approach (one cache for all threads of paddle) require thread safety mechanism to be inserted all over the MKL-DNN integration code, probably changing hash for data we do not want to share and lots of testing. Second approach
means that each "task" of parallel executor has its own device_context cache eg. if parallel executor
"task" i

[2019-05-31 07:10] walloollaw commented on #16197
我们在ocr卡证训练的业务上同样出现了类似问题（在用多进程预处理数据时出core，多线程则正常），程序已经正常训练完成，但退出时出了问题，日志如下：

[code]

[2019-05-31 07:52] kimjuny opened #17761 "训练数字识别问题时报错"
Paddle版本: 1.4
CPU: yes
GPU: no
系统环境: Mac OS 10.14.4 Python 3.7

问题描述：

错误栈比较难理解，问题到底出在哪..

复现代码repository:

https://github.com/kimjuny/t00

错误：
[code]

[2019-05-31 08:08] #17761 closed, assigned to nobody

[2019-05-31 11:21] jiaqianjing opened #17771 "pserver 启动失败"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：1.2.0
    2）CPU/GPU：cpu
    3）系统环境：centos
    4）Python版本号 2.7
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：
Fri May 31 18:03:54 2019[1,0]<stdout>:Traceback (most recent call last):
Fri May 31 18:03:54 2019[1,0]<stdout>:  File "train.py"

[2019-05-31 12:05] Sparrow0817 opened #17774 "论文参考文献怎么引用paddle的开发文档"

[2019-05-31 12:32] JiaXiao243 commented on #17471
请问这个问题解决了吗？@Hhairu

[2019-05-31 16:36] jczaja commented on #17611
@chengduoZH Thanks for conceptual explanation.

Status: MKL-DNN Reusing implementation is not thread safe, currently implementing prototype of making it thread safe eg. locks, critical sections etc. Once this work for BERT traninging via parallel executor then we will think how to make it working for all mkl-dnn ops.

[2019-06-01 05:12] SunGaofeng commented on #17771
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected ids_dims[0].size() == 2, but received ids_dims[0].size():3 != 2:2.

从这个报错信息来看，像是输入的shape不一致导致的，能否检查下数据输入？

[2019-06-01 07:13] sitong188 opened #17779 "meet grpc error"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

没有发现明显错误 看起来train跑起来一段时间后报错 没有保存文件
job :
http://yq01-hpc-lvliang01-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20190531165251-2982

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，

[2019-06-01 07:15] SunGaofeng commented on #17774
引用paddle网站(http://www.paddlepaddle.org/) 的文档，还是github上的说明文档？

[2019-06-01 08:28] Sparrow0817 commented on #17774
github上的doc

[2019-06-01 08:36] dubhex opened #17780 "如何对loss分元素加权"
模型输出为100个值，标签对应100个值，计算输出与标签的smooth_l1_loss，需要对其中的第10个至第20个值smooth_l1_loss进行加权。
paddle.fluid.layers.smooth_l1可以用来计算smooth_l1 loss并进行加权，问题是参数outside_weight应该以什么形式、如何传入？

[2019-06-01 08:54] SunGaofeng commented on #17780
outside_weight可以用input data的形式传进来，或者用create_parameter的形式
1、input data 形式：
          outside_weight = fluid.layers.data(name='outside_weight', shape=[100], dtype='float32')
2、create_parameter形式：
         outside_weight_array = Your_Array.astype('float32')   # define your numpy array for outside weight
         outside_weight = fluid.layers.create_parameter(
                               shape=outs

[2019-06-02 02:37] maosengshulei opened #17782 "mpi训练出 core，meets grpc error"
   1）PaddlePaddle版本：paddle-fluid-v1.3.0
    2）使用cpu
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）mpi多级训练，启用pserver
    复现信息：job-id：job-0bb5cf2cc9b8a180； job-0bb5cf2c4aedcb60
- 问题描述：
两次出core
第一次：
getRPC name:[DenseFeatFactors], ep:[10.76.128.38:62004], status:[-1] meets grpc error, error_code:14 error_message:Socket closed error_details:
*** Check failure stack trace: ***
    @     0

[2019-06-02 07:45] gongweibao opened #17783 "Need a tool to paint a vector of op's graph!"

[2019-06-02 09:23] sicily opened #17784 "paddlepaddle如何支持cuda10训练"
是否支持cuda10训练？如何才能支持？目前看官网只提供了cuda8和cuda9

[2019-06-02 11:12] tz28 opened #17785 "希望windows平台尽快支持cuda9.0"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that there was a similar issue su

[2019-06-02 15:01] sicily opened #17789 "本地编译release/1.4分支失败"
本地编译，遇到以下问题，ubuntu16.04
[code]

[2019-06-03 00:02] peixuanshi opened #17792 "ocr训练找不到libwarpctc.so"
d
- 版本、环境信息：
    1）PaddlePaddle::fluid_87
    3）GPU：CUDA8.0和CUD7版本号
    4）系统环境：centOS ，Python36,使用anaconda的虚拟环境

- 问题描述：
  使用modles自带的ocr_recognition的数据训练模型，出现： Can not find library: libwarpctc.so. Please try to add the lib path to LD_LIBRARY_PATH。但是按照的paddle已经自带了  libwarpctc.so。另外自己安装warpctc，并指定环境变量也是出现通用的错误

[2019-06-03 01:32] yanwb opened #17793 "TensorFlow 和 PaddlePaddle 的有无联系"
TensorFlow的代码是否可以和PaddlePaddle框架下的代码相互迁移？是的话，具体如何操作呢？ 否的话，为甚麼？

[2019-06-03 02:19] junjun315 commented on #17793
您好，paddlepaddle是一个独立的、完整的框架，与tensorflow在设计和实现上均有不同。如果需要把tensorflow下的代码迁移到paddlepaddle，可以参考我们这个项目：https://github.com/PaddlePaddle/X2Paddle  。如果使用过程中有问题欢迎随时跟我们联系。

[2019-06-03 02:57] LeoZhao-BJ commented on #17611
@chengduoZH , on behalf of this issue, I ask few questions about ParallelExecutor.
1) what's difference with use_fast_executor=true of false? from code, it is another low level executor, what's its relation with ThreadedSSAGraphExecutor?  I see big performance delta between enabling it or disabling it.
2) for ParallelExecutor usage on training, is it in PaddlePaddle long term development plan? or

[2019-06-03 03:30] yxfGrace opened #17798 "作业开始训练后hang住"
集群：MPI
paddle版本：paddle-fluid-v1.2.0
问题描述：
![image](https://user-images.githubusercontent.com/29363426/58774230-f88bc480-85f2-11e9-8789-d4f6646822bd.png)
作业开始训练后，hang住不动

[2019-06-03 03:37] sandyhouse commented on #17798
请提供具体的作业配置信息。

[2019-06-03 05:43] maosengshulei commented on #17782
问题已解决，解决方法如下：
原多机训练代码的DistributeTranspiler.get_startup_program函数和load_persistables函数使用有误
修改如下：
![image](https://user-images.githubusercontent.com/26685090/58778533-8d97b900-8605-11e9-897e-898412419418.png)

[2019-06-03 05:51] sicily commented on #17789
没有人回答问题吗？

[2019-06-03 05:55] wopeizl commented on #17789
可以把log再贴一点吗？目前这个看不太出来，还有编译过程是怎么做的？

[2019-06-03 05:58] hutuxian commented on #17784
Thanks for your attention to PaddlePaddle.
For now you can use cuda10 by compiling the source code.

[2019-06-03 06:05] yanwb opened #17799 "tensorflow or paddlepaddle"
PaddlePaddle训练的模型，能不能导出成TensorFlow的格式？

[2019-06-03 06:05] raindrops2sea commented on #17785
感谢关注，6月底的新版本windows平台下会支持CUDA 9。

[2019-06-03 06:09] luotao1 commented on #17792
请先检查下是否有多个python环境导致装错了，排查方法：
[code]
看一下链接的库中，是否有链接到其他python环境下。即确保paddle装在你想装的python环境下。

[2019-06-03 06:11] raindrops2sea commented on #17774
@Sparrow0817 具体是对应哪部分开文档内容呢？如果是使用了PaddlePaddle的话，建议可以直接引用“https://github.com/PaddlePaddle/Paddle”。

[2019-06-03 07:10] #17782 closed, assigned to nobody

[2019-06-03 07:28] raindrops2sea commented on #17779
Could you provide us more details?

[2019-06-03 07:34] wanghaoshuang commented on #17792
#17162

[2019-06-03 07:44] hutuxian commented on #17784
What's more, we plan to support cuda10 in the new fluid version(1.5) at the end of June.

[2019-06-03 08:40] sandyhouse commented on #17799
不能直接导出为TF格式。

[2019-06-03 08:44] sandyhouse commented on #17798
https://github.com/PaddlePaddle/Paddle/issues/14930 https://github.com/PaddlePaddle/Paddle/issues/17362  https://github.com/PaddlePaddle/Paddle/issues/14776 https://github.com/PaddlePaddle/Paddle/issues/14447看一下这几个issue是否包含您的问题？

[2019-06-03 09:41] seiriosPlus opened #17803 "HTTP PROXY导致多机训练Hang住"
as the title.

[2019-06-03 10:41] sicily commented on #17789
![image](https://user-images.githubusercontent.com/3928685/58796080-d6179c80-862e-11e9-8b04-b049a4256999.png)
![image](https://user-images.githubusercontent.com/3928685/58796099-ef204d80-862e-11e9-8b6f-27cb63242a82.png)

我编译环境是：
ubuntu16.04，cuda10，gcc4.8，cmake3.5，python3.6
cmake命令：
[code]

麻烦帮我看下这个是什么错误，谢谢

[2019-06-03 10:41] TheodoreG opened #17805 "Paddle Fluid pserver do not exit when trainer finished."
Hi, I am using paddle fluid rpc mode training.
When 2 trainers finished, the pserver does not exit like following picture:
![image](https://user-images.githubusercontent.com/13977118/58795996-a8caee80-862e-11e9-9e64-6d867e76255b.png)
My code looks like:
![image](https://user-images.githubusercontent.com/13977118/58796079-d57f0600-862e-11e9-8892-7c4e2fc00974.png)

It hangs in  "server_exe.run(self.