[2022-06-07 15:45] VantastyChen commented on #38987
同样遇到这个问题

[2022-06-07 16:32] yuwoyizhan commented on #43255
@jzhang533 @Shixiaowei02 大佬,您说的意思是,飞桨确实有考虑增加C++编程API接口?并且在不远的将来,就可以用了?将来无论是图像分类,还是强化学习,都是可以全流程使用C++编程,不需要学习和使用python语言,是这意思吗?
如果飞桨支持C++编程的话,能用VS2022客户端编程吗?能在ai studio使用C++编程吗?打算支持C++什么标准?C++20吗?
还有个疑问,对于飞桨各个套件来说,有不少文档可以查看,很容易上手,比如图像分类clas太容易上手了.
但是我看了飞桨2.3的更新内容,基本上完全看不懂,算子等知识也不知道是什么意思?如果要深度学习飞桨的话,要如何做呢?
我觉得对于飞桨很多开发套件,我都会应用到实际项目中了,但是飞桨2.3更新内容,为什么我还是基本看不懂呢?不可思议.

[2022-06-08 01:25] XiangLiu0731 commented on #43196
目前我们使用了paddle自带api替代了自定义算子操作，并且获得了与pytorch一致的梯度，但仍希望您能够解决上述发现的问题。此外，希望paddle框架在windows平台下能够早日支持多线程读取数据功能！

[2022-06-08 01:25] wangxinrugithub opened #43300 "paddlespeech asr 使用问题"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/72679116/172511191-656514e3-0cc9-4de5-9a65-4ebf3eeed86d.png)
无法输出结果

[2022-06-08 01:48] OccupyMars2030 commented on #43261
I may  understand  what you mean.   Do you mean  when  a  tensor  is  a  matrix,  it  may  perform  matrix  multiplication?  But  here  I am  talking  about  elementwise operation.  As  long as  Paddle  has  paddle.multiply(x, y),  why  Paddle  cannot  have  in-place  version  of   "paddle.multiply" ???

[2022-06-08 02:09] gglin001 commented on #33892
hi, 请问目前 Linux  上支持使用 ninja 编译了吗?

[2022-06-08 02:19] SunNy820828449 commented on #43298
你试试升级cuda到11.0以后的版本，然后重新安装新版本paddle试试，目前paddle已经更新到了2.3。

[2022-06-08 02:46] justld commented on #42068
您好，比赛快结束了，请问这个问题有进展吗？

[2022-06-08 02:46] Ligoml commented on #43255
@yuwoyizhan 是的，我们在2.3版本发布的高可复用算子库PHI的其中一个设计思路就是在考虑C++编程，目前正在建设中的还有一系列更灵活更易用的项目，所以是可以期待未来使用C++编程的。但是目前阶段还没有建设完全，我们还是主推荐使用Python编程~ 至于你提到的诸如IDE支持等问题，应该会放在C++编程能力成熟之后讨论。
另外飞桨套件本身的设计出发点就是不断降低使用门槛，很高兴听到你说套件很容易上手并已有应用。如果你不满足于简单的使用飞桨，而希望了解更多甚至参与建设飞桨，非常欢迎你参与[飞桨社区活动](https://github.com/PaddlePaddle/Paddle/issues/42410)，从模型复现（论文复现赛）到框架开发（黑客马拉松）应有尽有，此外我们还公开了一部分框架建设的[roadmap](https://github.com/PaddlePaddle/P

[2022-06-08 03:09] ly27253 opened #43303 "打开training生成的log文件时出现乱码，可以用visualdl可视化查看，但是请问如何通过log文件查看自己训练过程时的信息：如batch_size；optimizer；iters等等"
### 请提出你的问题 Please ask your question

您打开的文件含有无效字符。如果您强行编辑该文件，可能会造成文件损坏。 您可以另选一种字符编码并重试。

\00\00\00\00\00\00\00

meta_data_tag\F6񾆔0R\00\00\00\00\00\00\00\00


Train/loss\A7\80\BF\86\940%(\F0\F2@\00\00\00\00\00\00\00

Train/loss_0\A7\80\BF\86\940%
................

[2022-06-08 03:16] #43004 closed, assigned to nobody

[2022-06-08 03:20] leo0519 commented on #43262
@zhiqiu
If using derivative (expected) to compute gradient, the BP16 result has relative error less than 0.01 in comparison to FP32 result.
Hence, the reason to set a large relative error is because of the inaccurate [validation gradients](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/op_test.py#L126-L243).

[2022-06-08 03:25] yuwoyizhan commented on #43255
@Ligoml 1.请问一下,C++编程大概几时可以使用呢?今年有希望吗?飞桨2.5有希望吗?
2.你提到的都是建设飞桨,而不是学习飞桨,请问一下,如果我打算深度学习飞桨,而不是学习飞桨套件,我该如何入手呢?我希望有一天可以看懂飞桨的版本更新内容,都知道你们在说什么话.有学习飞桨的图书,文档,视频,或者百度飞桨QQ微信吗?
3.我想问问,市面上很多牛逼哄哄的模型使用pytorch编程的,这种训练好的模型转成飞桨模型,容易吗?项目太大了,而且技术极其复杂,我肯定无法把整个pytorch项目都转换为飞桨项目,即使我可以做到这点,我也肯定没有那个算力,搞定训练部分,所以目前思路只能期待于pytorch模型可以轻轻松松转换为飞桨模型.
最后再夸一句,飞桨有很多方面不是pytorch,tensorflow等框架能比的了得,提问几天就得到回答,并且比较仔细,这点pytorch肯定比不了.

[2022-06-08 03:27] yuwoyizhan commented on #43255
@Shixiaowei02 大佬,小弟问了4个问题,第1个问题基本了解清楚了,第2-4问题还没有得到任何解答,求大佬解答一下,谢谢大佬.
祝飞桨越来越成功,早日在世界范围,在研发界打败pytorch.

[2022-06-08 03:50] jesiws opened #43306 "使用profiler打印出来的日志很简略，需要如何入手查问题？"
![image](https://user-images.githubusercontent.com/23470771/172526628-a05c8e65-2cc9-4a54-8f4d-765d4e521146.png)
使用profiler打印出来的分析日志如图，因为无法搜索到详细的说明文档导致无法下手进行优化，希望提供一下性能优化的思路或者相关详细的说明文档🙏🏻 谢谢~

比如，其中thread0::GpuMemcpySync:GPU->CPU占了很大一块时间，想优化这里但是没法定位到触发GpuMemcpySync的具体op，代码中显式使用.numpy()的部分全部去掉后GpuMemcpySync:GPU->CPU也会触发2000多次，如果这块是调用的一些函数内部调用了.numpy()，那么要如何去定位到具体的位置呢？

[2022-06-08 03:55] leo0519 commented on #43262
@zhiqiu
Paddle computes gradient of elementwise_div operator by the following formula [(reference)](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/phi/kernels/funcs/elementwise_functor.h#L109-L121).

- dx = dout / y
- dy = -dout * out / y

where out = x / y

The BF16 result of Paddle has relative error less than 0.005 in comparison to FP32 result of numpy with the above formula,

but t

[2022-06-08 05:02] MintonLee opened #43308 "slowfast_fasterrcnn的推理出现OSError: (External) CUDA error(2), out of memory."
### bug描述 Describe the Bug

出现的错误：
slowfast_fasterrcnn的推理出现OSError: (External) CUDA error(2), out of memory.

再复现项目：  基于SlowFast+FasterRCNN的动作识别  出现的以上错误

显卡12gb，占用不足20%出现以上的问题，请问如何解决呢？

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-08 05:17] simon-sxx commented on #43193
请问在内部初始化了paddle是什么意思呢

[2022-06-08 05:38] barry2025 commented on #43167
这是我们当前使用的模型：https://github.com/PaddlePaddle/PaddleVideo/blob/2c2e0491614ef9face61feb0da70ff51c623609a/docs/zh-CN/model_zoo/partition/transnetv2.md

看了下，应该就是中间的conv3d操作不支持，其它的应该都在算子支持列表里了

[2022-06-08 06:24] #35519 closed, assigned to heavengate

[2022-06-08 06:42] #43157 closed, assigned to nobody

[2022-06-08 06:50] 2954456878 commented on #43052
pip install protobuf==3.20.1 -i https://pypi.tuna.tsinghua.edu.cn/simple

[2022-06-08 06:59] SunNy820828449 commented on #43280
Pad1D的padding参数指定1D时的左右。Pad2D的padding参数指定2D时的左右、上下。假设用户原先Pad1D进行padding的参数为[pad_left, pad_rigth] 只需把Pad1D替换为Pad2D，其的padding参数改为[pad_left, pad_rigth, 0, 0] 即可。

参考文档：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Pad1D_cn.html#pad1d
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Pad2D_cn.html#pad2d

[2022-06-08 07:03] SunNy820828449 commented on #43280
建议在训练阶段将pad替换为pad2d。

[2022-06-08 07:32] zhwesky2010 commented on #43208
@leo0519 你好，已提PR修复，预计 https://github.com/PaddlePaddle/Paddle/pull/43315

[2022-06-08 07:44] leo0519 commented on #43208
@zhouwei25 謝謝，另外想請問，為何 Paddle-CI poisson UT 會通過，但在 local (Paddle docker) 上跑卻無法通過呢？
poisson OP 底層是透過 curand_poisson 生成資料，但我實驗過 CUDA=11.2/10.2 皆會失敗 (2.3.0 無 CUDA 10.1 版本的 docker)。
能否提供 Paddle-CI 使用的 docker 讓我做驗證呢？

[2022-06-08 07:47] MintonLee commented on #43308
啥玩意都解决不了，还在这华丽花哨！哎，paddle发展不起都怪你，太懒了！

[2022-06-08 07:57] zhiqiu commented on #43262
Thanks, the UT uses `numeric method`, and the above formula is `analytic method`. We will discuss if we need to use `analytic method` for low precision UT. The problem is that if we use `analytic method`, we need to calculate the gradient by ourself when writing UT.

[2022-06-08 08:12] docoter opened #43321 "np.bool弃用警告"
### bug描述 Describe the Bug

进行astype或paddle.cast类型转换的时候爆出警告：
[code]
代码如下：
[code]
解决方法：
1.进入{python的目录}\Lib\site-packages\paddle\fluid
2.修改framework.py文件里的第1104行：
elif dtype == np.bool:      改为    elif dtype ==.bool:
就不再提示警告。

环境：
paddle 2.3.0
numpy 1.22.3

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-08 08:17] fuqianya commented on #43225
你好，动转静的导出命令为: `python export_model.py --cfg_file configs/retrieval_train.yaml`。
但是需要事先下载[预训练权重](https://aistudio.baidu.com/aistudio/datasetdetail/128538)，参考https://github.com/Mixture-of-Rookie/UNITER-Paddle 中的 五、快速开始 --> step3: 挂载数据

[2022-06-08 08:29] zhijianli commented on #34385
我也遇见同样的问题

版本

CUDA 11.2　
cudnn 8.1.1
paddlepaddle-gpu 版本：2.3.0.post112
python 3.8
安装完成之后测试：

import paddle
paddle.utils.run_check()

报错同样是这个

[2022-06-08 08:39] PQ-girl commented on #43280
我这个模型是用pytorch训练好的，然后通过onnx转为paddle模型，最后导出.nb文件时报错。我去pytorch训练脚本里看，发现这句代码transforms.Pad(4),有pad，它里面只传入了一个参数，我目前已经用pytorch训练好了所有模型，请问我还有其他办法改吗？还有要是在训练脚本里改是将transforms.Pad(4)直接改为transforms.Pad2d(4)就可以吗？
还有模型的定义里的conv2d = nn.Conv2d(in_channels, v, kernel_size=3, padding=1, bias=False)这个padding算吗

[2022-06-08 09:00] #43207 closed, assigned to juncaipeng

[2022-06-08 09:00] juncaipeng commented on #43207
如果有任何问题 请进行repon issue 进行更新

[2022-06-08 09:42] zhwesky2010 commented on #43208
https://hub.docker.com/r/paddlepaddle/paddle/tags

[2022-06-08 09:50] jzhang533 commented on #43321
@pangyoki is working on this, will fix in 2.3.1 version.

[2022-06-08 09:54] rashmi-tiwari commented on #42564
Hii, Did anyone find the solution for the issue? Kindly share.

[2022-06-08 10:08] x54-729 commented on #43192
十分感谢，辛苦了！

[2022-06-08 10:08] #43192 closed, assigned to AshburnLee

[2022-06-08 12:01] #43298 closed, assigned to nobody

[2022-06-08 12:41] Ligoml commented on #43255
学习飞桨可以参考[飞桨官网的文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/index_cn.html)，或[aistudio视频课程](https://aistudio.baidu.com/aistudio/course)，相关教程书籍可以参考https://github.com/PaddlePaddle/Paddle/issues/40889 的回复
模型转换方面你可以了解一下[X2Paddle](https://github.com/PaddlePaddle/X2Paddle)
全面支持C++ API在计划中，暂未确定版本，可以关注一下

[2022-06-08 12:41] #40889 closed, assigned to Baibaifan

[2022-06-08 14:00] TCChenlong commented on #43306
可以参考一下这篇文档：[模型性能分析-使用文档-PaddlePaddle深度学习平台](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/performance_improving/profiling_model.html)

[2022-06-08 16:07] Silv3S commented on #43232
I ran multiple tests to check if any error occurs. Luckily all the tests worked.

1. Models saved using old version.
Yes, these models can run new version of code, with deleted attributes. If there was any issue, it should be caught by `PR-CI-Model-benchmark` or `PR-CI_Coverage` in which `test_analyzer_[model-name]` are checking accuracy. Also performance didn't drop, after current 2 PR's (checked

[2022-06-08 17:22] lcy1317 opened #43342 "go api demo can't work"
### 请提出你的问题 Please ask your question

I download go inference demo but it can't work because of the error below:

github.com/paddlepaddle/paddle/paddle/fluid/inference/goapi
/root/go/pkg/mod/github.com/paddlepaddle/paddle/paddle/fluid/inference/goapi@v0.0.0-20220608131618-cab0f2f503b0/config.go:504:2: could not determine kind of name for C.PD_ConfigEnableVarseqlen

I don't know where to get C.PD_C

[2022-06-08 19:36] Li-4 opened #43343 "paddle.model.fit log_freq 参数不起作用"
我的理解是如果设5的话，会每5个epoch输出一次log，但是实际使用的时候每个epoch还是会输出log。

`cbks​.​on_end​(​'train'​, ​logs​)`

怀疑是因为这个，在每次`on_train_end`时候，都会输出log

[2022-06-08 19:46] Li-4 commented on #43343
[code]

应该这么改吗？我没有做测试，如果我的理解有错误的话，很抱歉

[2022-06-08 21:07] SigureMo commented on #43343
根据文档，是 5 个 step，而不是 5 个 epoch……别根据理解啊，看文档啊

[2022-06-08 23:27] jyjfjyjf commented on #43259
这是aistudio上遇到的问题，我没事去动aistudio上面的这个玩意干嘛，我本地跑没事

[2022-06-09 00:45] #43321 closed, assigned to Zjq9409

[2022-06-09 01:45] Li-4 commented on #43343
我的错，对不起

[2022-06-09 01:56] Li-4 commented on #43343
文档的默认值是1，实际上是10吗？

[2022-06-09 02:18] SigureMo commented on #43343
emmm，那倒确实是文档的问题

[2022-06-09 03:39] #42869 closed, assigned to WenmuZhou

[2022-06-09 03:50] 2742195759 commented on #43303
同学你好，请问你的log是自己打印的还是visualdl输出的。

[2022-06-09 05:39] Tian14267 opened #43346 "paddle 推理完之后内存不释放"
### 请提出你的问题 Please ask your question

你好，我遇到一个问题，paddle模型预测万之后内存不释放的情况。详细情况如下：

服务：使用Websocket 进行模型加载和部署
详情：
1：初始加载模型和服务的时候，**会消耗GPU大概1.7G内存（如图）：
<img width="164" alt="0" src="https://user-images.githubusercontent.com/27938135/172772264-196db7fe-7b78-4d6f-acad-de48439a5fe5.png">
2：加载完之后进行语音合成的时候内存会涨上去。整个合成任务过程中，内存能够涨到13G左右（如图），任务结束之后，这个内存无法释放。即，无法从13G回到1.7G。
<img width="162" alt="1" src="https://u

[2022-06-09 05:44] FrostML commented on #42678
Fixed by #43336

[2022-06-09 05:44] #42678 closed, assigned to shangzhizhou

[2022-06-09 06:21] marsbzp opened #43349 "Paddle_inference int8 trt推理占的显存比fp32 trt推理占的要多能解释下吗"
### 请提出你的问题 Please ask your question

Paddle_inference int8 trt推理占的显存比fp32 trt推理占的要多能解释下吗！
Paddle_inference int8 trt推理占的显存比fp32 trt推理占的要多能解释下吗！
Paddle_inference int8 trt推理占的显存比fp32 trt推理占的要多能解释下吗！

[2022-06-09 06:22] 2742195759 commented on #43308
你好，请问具体报错的截图有吗，通常显存不足会有当前已分配 + 期望分配的显存。还有就是能定位到哪一行代码申请显存出问题的吗？

[2022-06-09 06:33] MintonLee commented on #43308
非常感谢您的来信这个问题是在复现官方案例：基于SlowFast+FasterRCNN的动作识别出现的问题
在aistudio（不同显卡都切换还是不行）和本地的双系统ubuntu和win10都是这个问题
问题如下：（paddle_slowfast即为官方的案例根目录）
finish object detection
Traceback (most recent call last):
&nbsp; File "tools/predict.py", line 267, in <module&gt;
&nbsp; &nbsp; main()
&nbsp; File "tools/predict.py", line 173, in main
&nbsp; &nbsp; inputs = InferenceHelper.preprocess(file)
&nbsp; File "D:\code\pa

[2022-06-09 06:48] 2742195759 commented on #43308
我看报错也没有非常具体的cuda显存信息，我这边复现一下，看看什么问题。是这个链接的复现步骤吗：https://github.com/PaddlePaddle/PaddleVideo/blob/develop/docs/zh-CN/model_zoo/detection/SlowFast_FasterRCNN.md。你本地没有什么修改吧。

[2022-06-09 06:52] MintonLee commented on #43308
好的，我复现的是这个链接的，把里边所有文件压缩后打包下载了。
https://aistudio.baidu.com/aistudio/projectdetail/3427778?channelType=0&amp;channel=0
我复现的时候，没有进行数据集的下载，只是用提供的一个小视频demo进行训练的，其他都没变。
我最多改变成了本地的绝对路径。不知道这样对不对。
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"

[2022-06-09 06:55] 2742195759 commented on #43300
你这边的信息有限，但是我看似乎都没有运行Paddle呀。你可以在关键路劲print打印一下，看下程序是否进入了你的主要逻辑里面。还有这个paddlespeech是哪个程序。paddlespeech.py 吗？

[2022-06-09 06:59] cgq0816 commented on #30856
如果用到多个相同模型（ocr）的时候，需要依次测试每个模型，那么在加载模型之前进行配置

[2022-06-09 07:46] 0x45f commented on #43225
感谢，我们已经定位到了具体问题，目前动转静中ifelse配合dict使用有bug，我们看下如何修复
![image](https://user-images.githubusercontent.com/23097963/172793042-2da164bf-291b-4113-8398-ab72653deabc.png)

[2022-06-09 08:11] jesiws opened #43362 "单机多卡时不允许存在forward外的变量，否则backward报错"
### 问题描述 Please describe your issue

目前基本定位到问题为报错信息中提示的Using model parameters outside of forward function，但是在单机单卡的时候使用forward外的变量是可以训练的，单机多卡报以下错误信息，这是bug还是有特殊的考虑呢？
## 报错信息
[code]
## python
代码基本逻辑如下：
[code]

## shell
python -m paddle.distributed.launch  train.py

[2022-06-09 08:21] hp03 commented on #43349
int8 推理速度会比 fp32 有优势，但是 TensorRT 内部会保存 int8 和 fp32 两份参数，所以显存占用会更多一些。

[2022-06-09 08:27] RichardWooSJTU commented on #43349
根据我的经验，有一种可能是Int8推理的时候trt选择的部分tactic source比如caskConvolution在trt8.2以前的实现上会有些问题导致会有些persistence memory无法释放，你可以试一下最新的trt8.4。

[2022-06-09 08:28] Wangzheee commented on #43349
这个有定量测试的截图吗？会多多少呢？不管是 int8 还是 fp32 ，目前 paddle-trt 加载的权重都是fp32，所以显存不会差太多

[2022-06-09 08:31] hp03 commented on #43346
<img width="756" alt="a4f64df3805dfa1eed5a51c6c7f9038d" src="https://user-images.githubusercontent.com/23398086/172801188-1497aafb-4086-4168-8dff-bf85b3f36262.png">
这个可以试一试。

如果这个 predictor 之后还要用，那 predictor.run() 之后，内存不会主动释放，因为后续推理还会用，不能每次 run 的时候去 malloc，run 完 free，这样影响性能。

如果是这个 predictor 不用了，C++ 里面可以直接 delete 这个 predictor，会释放掉其中内存。

另外，框架有一部分静态变量，在初始化后，只有进程退出才会释放，但这部分不会有那么多，你遇到的问题跟这个无关。

[2022-06-09 08:43] yeliang2258 opened #43364 "The quantized model reports an error when inference with MKLDNN"
### bug描述 Describe the Bug

When I use Paddle2.3 or develop version to deploy the quantized model on the CPU, I get an error, the error is as follows：
![image](https://user-images.githubusercontent.com/30516196/172802333-2a9c48f9-9841-4bc1-92d5-ef22230d7af6.png)

Steps to reproduce:
[code]

My model and test script are here:
[modelAscript.tar.gz](https://github.com/PaddlePaddle/Paddle/files/886854

[2022-06-09 09:43] 2742195759 commented on #43308
我这边给你看了一下，显存溢出框架没有问题，这个模型我放在 16G 的显卡上跑还是会溢出。而且监控显存可以知道他就是需要消耗这么多显存。
<img width="767" alt="截屏2022-06-09 17 39 05" src="https://user-images.githubusercontent.com/16025309/172817728-cc1ed43c-b7fc-4a43-8410-853a528d133b.png">

这边给你的建议是将 /home/data/issue/work/ava_one.yaml 的 batch size 调小。我本地测试的是设置为2，最后的显存消耗是 5G，就可以跑起来这个模型了。
![image](https://user-images.githubusercontent.com/16025309/172817982-08de4526-

[2022-06-09 09:44] lucky0604 commented on #34166
@MissPenguin 解决这个问题只能通过修改cudnn版本吗？由于训练环境的原因，无法进行更换，只能使用cuda10.2和cudnn 7.4，是不是没有办法

[2022-06-09 09:52] MintonLee commented on #43308
你好，这个训练我也能跑起来，现在的问题是不是训练步骤，是aistudio这个项目的最后一步的模型推理，就是相当于拿模型跑一段视频，然后要输出照片和视频，出现的这个问题。
下面命令出现的问题，请问，你也是这个命令吗？修改ava_one.yaml的batch_size,然后就可以推理了吗？
%cd /home/aistudio/work/PaddleVideo-develop/ !python tools/predict.py \     -c /home/aistudio/work/ava_one.yaml \     --input_file "/home/aistudio/work/data/room1.mp4" \     --model_file "/home/aistudio/work/PaddleVideo-develop/inference_output/AVA_SlowFas

[2022-06-09 11:01] #43306 closed, assigned to Zjq9409

[2022-06-09 11:03] Kevin-XiongC opened #43375 "Strided_slice 的异常行为"
### bug描述 Describe the Bug

<img width="517" alt="image" src="https://user-images.githubusercontent.com/22584786/172830896-d27c0db9-5363-499f-9f30-275b82eb7e8b.png">

上图结果由以下script得到，其中出现了OoTA值0，而且对于shape为(2,)的tensor可以传入大于2的start end，请问各个参数的合理范围是多少？或者是在三者有-1时，Strided_slice行为是怎样？

[code]
### 其他补充信息 Additional Supplementary Information

paddle 2.2 or 2.3
mac x86
python3.7

[2022-06-09 12:05] marsbzp commented on #43349
要最新的tensorrt才能体现出int8显存占用变少，速度变快吗，我用的tensorrt6.0的推理库，模型是paddleocr res18主干的dbnet，这个很容易复现，我之前也试过yolo的检测模型int8也是显存增大，按理说像dbnet几乎所有的算子转换为了trt，需要保存的中间张量很少了，显存为什么会增大呢，你们没相关的测试结论吗，关于显存占用的

[2022-06-09 12:10] marsbzp commented on #43349
这个很容易复现的拿个检测测下，子图转tensorrt以后子图的权重不会申请显存吧，子图的输入输出张量才保存下，我用dbnet几乎所有节点都被trt支持了吧，int8显存不降反增的，速度的话int8比trt-fp32也没有太大优势了

[2022-06-09 12:27] 2742195759 commented on #43308
修复了batchsize之后也没啥问题：
<img width="952" alt="截屏2022-06-09 20 26 57" src="https://user-images.githubusercontent.com/16025309/172846707-29d4d746-399a-49ec-8071-2bf289178471.png">

[2022-06-09 12:52] MintonLee commented on #43308
是的，我也出现这个了，但是问题在于，保存完照片后，报的错，我看了看程序，大概好像会输出一个mp4的视频，可能是在输出视频的时候出的错吧。因为我想最终的结果是先切割照片并保存，最后保存识别的视频文件。请问输出保存之后，Finshed ...之后
没有报错吗？

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年6月9日(周四) 晚上8:27
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] slowfast_fasterrcnn的推理出现OSError: (External) CUDA error(2), out of memory. (Issue #43308)

修复了batchsize之后也没啥问题：

—
Reply to this

[2022-06-09 15:10] lidanqing-vv commented on #43238
#43297 is merged

[2022-06-09 15:10] #43238 closed, assigned to lidanqing-vv

[2022-06-10 02:01] Tian14267 commented on #43346
我这边使用了这两句，但是会有报错：
[code]
其中 'DurationFastSpeech2' 是自定义的相关网络结构函数。并没有使用到“predictor”
请问有没有其他方法可以释放GPU预测出来的缓存呢

[2022-06-10 02:34] Tian14267 commented on #43346
另外，在tensorflow和torch的python代码里面都有限制GPU内存的命令，即限制GPU使用多少的内存。在paddle里面有没有类似的python代码或命令？

[2022-06-10 03:04] Ligoml commented on #43260
In fact, [paddle.put_along_axis](https://www.paddlepaddle.org.cn/documentation/docs/en/develop/api/paddle/put_along_axis_en.html) and `torch.scatter` are corresponding, we suggest you try `paddle.put_along_axis` to solve this issue. We will add clarification later in the documentation.

[2022-06-10 03:08] jzhang533 commented on #42111
We have updated clang-format to version 13.0
https://github.com/PaddlePaddle/Paddle/blob/develop/tools/codestyle/clang_format.hook#L4

[2022-06-10 03:24] zyfncg commented on #43375
你好，感谢反馈！经过排查[stride_slice](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/strided_slice_cn.html#strided-slice)的参数为负数时确实存在一些问题。starts和ends参数的合理范围应该在[-shape_size, shape_size]，在这个范围内设置参数值应该是没有问题的，这也是我们推荐的用法。但为了写起来更简单stride_slice也允许输入的参数超过这个范围：如果start和end的值大于对应维度的size，在处理时会将其设置为维度的size值；如果start和end的值小于0，会先加上shape_size，如果加完之后仍小于0则按0处理（stride小于0并且end为-1时除外，此时由于要从后往前选择到第0个元素，所以end需要为-1）

[2022-06-10 04:14] 2742195759 commented on #43308
我定位到原因了，目前已经可以成功完成infer了：
![image](https://user-images.githubusercontent.com/16025309/172988883-692049f2-11b8-4a82-bbb2-a5c83ad0ad22.png)

主要的原因是这个模型的实现。在 tools/uilts.py:769 行的 tensor 代码添加一个 .cpu() 即可，否则默认这些都创建在 cuda 上，显存就溢出了。
<img width="1156" alt="截屏2022-06-10 12 14 40" src="https://user-images.githubusercontent.com/16025309/172989099-19dd2407-2ba4-444e-a312-345ea2387b83.png">

[2022-06-10 04:17] MintonLee commented on #43308
非常感谢，我试一试

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年6月10日(周五) 中午12:14
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] slowfast_fasterrcnn的推理出现OSError: (External) CUDA error(2), out of memory. (Issue #43308)

我定位到原因了，目前已经可以成功完成infer了：

主要的原因是这个模型的实现。在 tools/uilts.py:769 行的 tensor 代码添加一个 .cpu() 即可，否则默认这些都创建在 cuda 上，显存就溢出了。

—
Reply to this email directly, view i

[2022-06-10 07:07] Ligoml commented on #42904
该问题已在PFCC会议上完成讨论，详情见[会议纪要](https://github.com/PaddlePaddle/community/blob/master/pfcc/2022-05-26-meeting-minutes.md)
<img width="1019" alt="image" src="https://user-images.githubusercontent.com/39876205/173009974-165dce9c-72d3-43ca-95ae-80fdd99c9e1d.png">

[2022-06-10 07:18] xinsidao opened #43399 "昆仑K100芯片梯度回传报错"
### bug描述 Describe the Bug

问题：在cpu、gpu中运行正常，在昆仑K100中运行异常
简要代码(依赖paddleclas)
import paddle
from ppcls.arch.backbone.model_zoo import inception_v4

place = paddle.device.XPUPlace(0)
paddle.device.set_device("xpu:0")
image = imread(image_path, pilmode='RGB')
x = ResizeImage(resize_short=320)(image)
x = CropImage(size=299)(x)
x = NormalizeImage(scale=1.0 / 255.0, mean=[0.485, 0.456, 0.406], std=[0.22

[2022-06-10 08:59] NicoleWongXiao commented on #4969
还有一个可能的原因是还没有切换anaconda 的环境，比如我的paddle是安装在py36环境下的， base环境里没有 ， 在source activate py36之后再python train.py就没错误了。

[2022-06-10 09:22] 0x45f commented on #43225
另外有个问题想要请教下，代码会走到`compute_score`函数中，但是`batch['sample_size']`是None，可以检查看下`batch['sample_size']`有被赋值吗？
![image](https://user-images.githubusercontent.com/23097963/173034190-6a086da8-c54d-4c22-8214-3c0128ad5be8.png)

[2022-06-10 09:55] zhangguotai opened #43410 "paddle c++ make error"
### bug描述 Describe the Bug

In file included from /home/zhangguotai/code/Paddle/paddle/fluid/operators/math/softmax.cc:17:
/home/zhangguotai/code/Paddle/paddle/fluid/operators/math/softmax_impl.h: In member function ‘void paddle::operators::math::SoftmaxGradFunctor<DeviceContext, T, typename std::enable_if<std::is_same<DeviceContext, paddle::platform::CPUDeviceContext>::value>::type>::operator()(c

[2022-06-10 10:01] #43308 closed, assigned to Zjq9409

[2022-06-10 10:02] Ligoml commented on #43343
感谢指出，我们会及时修改API文档中的描述错误，也非常欢迎二位直接提pr做修改 @Li-4 @SigureMo

[2022-06-10 10:06] pmajchrzak commented on #43410
Raised that bug a few days ago here:
https://github.com/PaddlePaddle/Paddle/issues/43156

[2022-06-10 10:10] ZTurboX opened #43411 "FatalError: `Segmentation fault` is detected by the operating system."
### bug描述 Describe the Bug

paddlepaddle==2.2.2

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
No stack trace in paddle, may be caused by external reasons.

----------------------
Error Message Summary:
----------------------
FatalError: `Segmentation fault` is detected by the operating system.
  [TimeInfo: *** Aborted at 16548

[2022-06-10 10:10] pmajchrzak commented on #43156
The compiler version has been updated to gcc 9.4.0 and unfortunately, the bug still exists.
![image](https://user-images.githubusercontent.com/10847947/173043667-c40f2000-c6c9-41f0-bf75-034406315478.png)

BTW CMake communicating that version 9.4 is too high in turn.
![image](https://user-images.githubusercontent.com/10847947/173043553-a9d4fd16-5b60-4d36-b79d-dfe2808ea22a.png)

[2022-06-10 12:01] tsocha commented on #37930
@yaomichael any update on @jczaja questions?

[2022-06-10 13:25] skywalk163 opened #43417 "碰到报错：RuntimeError: (PermissionDenied) Cannot set target var auto_2227_@GRAD twice"
### 请提出你的问题 Please ask your question

在复现PaddleMD（论文原作TorchMD）项目时，在运行测试程序时，碰到报错：
[code]
相关代码：
[code]
报错的信息，意思是不能两次设置目标变量auto_2227_@GRAD ？
我的理解，paddle.grad这里，就送入一个输入，一个输出，不应该报错啊。 希望能提示、帮助一下，指导一下问题的突破口。

[2022-06-10 14:19] cherishat opened #43418 "pphuman可以实时预测吗"
### 请提出你的问题 Please ask your question

请问STGCN是支持实时预测的吗，PPHUMAN里用到了STGCN，也是可以实时预测的吗。是否有部署或者文档呢

[2022-06-10 15:16] jhcgt4869 opened #43419 "安装旧版本代码及文档与安装实际不符合的问题"
### 文档链接&描述 Document Links & Description

问题文档地址：https://www.paddlepaddle.org.cn/install/old#old-version-anchor-49-Windows%20%E5%AE%89%E8%A3%85

根据实际尝试，飞桨pip安装已经不支持1.8.5版本以下安装了但是这个文档里面还是有一些所谓的安装代码在这里。
![9875e8183c63b4c3669b962c7d56b23](https://user-images.githubusercontent.com/61859193/173092557-7f73b318-6ec1-4ab2-942d-604f09f843d7.png)

![image](https://user-images.githubusercontent.com/61859193/

[2022-06-10 17:17] WeiquanWa opened #43420 "paddle.nonzero() works wrong in paddlepaddle-gpu2.3.0 + cuda 11.2"
### bug描述 Describe the Bug

#Environment: conda on Windows
#GPU: RTX3080
#paddle version: paddlepaddle-gpu 2.3.0 + cuda 11.2

**#Sample code:**
import paddle
print(paddle.nonzero(paddle.to_tensor((1.1, 2.2))))

**#Expected result:**
[[0], [1]]

**#Wrong result:**
[[0], [0]]

### 其他补充信息 Additional Supplementary Information

I tested paddle.nonzero() in paddlepaddle-gpu2.3.0 + cuda 10.2. It works co

[2022-06-11 01:37] ouyangshixiong opened #43421 "paddle.summary 显示错误，漏掉了层"
### bug描述 Describe the Bug

使用paddle.summary复现算法的时候发现跟Keras显示的不同，经过检查参数量统计正确但是summary显示漏掉了两个 ReLU和MaxPool2D。请看下面的截图：
![image](https://user-images.githubusercontent.com/2086862/173167726-0e7b7345-2532-461b-87ce-5a829e11f4d6.png)
只是轻微的bug，麻烦有空修一下。

### 其他补充信息 Additional Supplementary Information

无

[2022-06-11 02:35] fuqianya commented on #43225
你好，非常感谢您的时间～
代码的执行逻辑是这样的：
![Screenshot from 2022-06-11 10-32-46](https://user-images.githubusercontent.com/45023083/173169309-e01932bc-f5f7-4b3c-bcfb-d7da4d58ab7d.png)
执行53行（将`compute_loss`设置为`False`），获得`scores`。然后执行54行，得到的`hard_batch`中包含了`sample_size`。

[2022-06-11 05:58] FlyInWind1 opened #43422 "请问官方是想一直坚守gcc8和centos7吗"
### 请提出你的问题 Please ask your question

对比其他拥有10k以上星的开源项目，这绝对是逆天行为

[2022-06-11 06:51] SigureMo commented on #43421
能提供下 keras 的代码及输出吗？另外 paddle 的最好以**文本形式**提供**完整的代码**

另外，建议提供**最小可复现代码**

[2022-06-11 12:23] zoooo0820 commented on #43422
您好，关于更多环境的支持，我们内部会尽快安排评估，未来有计划尽快回复。也想了解下您这边期望支持的环境和系统情况是什么样的呢？

[2022-06-11 12:29] FlyInWind1 commented on #43422
tensorflow 和 pytorch 是可以直接进入 archlinux 这种所有软件包都过于新的官方仓库的。我希望飞桨也可以做到

[2022-06-11 12:33] FlyInWind1 commented on #43422
可以进入主流发行版的官方仓库，我想这对于扩大用户群体，降低入门门槛有着巨大的好处

[2022-06-11 12:44] zoooo0820 commented on #43422
感谢建议，我们会尽快反馈这个问题并安排相关评估。

[2022-06-11 15:20] onair1314 opened #43425 "c++版本推理开启mkldnn加速报错could not execute a primitive"
使用环境：
paddlepaddle 2.3.0
paddleClas 2.4.0
采用镜像为paddle提供的官方镜像：docker pull registry.baidubce.com/paddlepaddle/paddle:latest-dev
采用paddleClas的c++版本推理，采用的模型为ResNet50导出的inference model，配置文件inference_cls.yaml中默认enable_mkldnn: True，即默认开启mkldnn加速
单进程依次对一万张图片进行图片分类，每次运行若干张图片后（每次报错时的图片均不相同）均会报错：
terminate called after throwing an instance of 'dnnl::error'
what(): could not execute a primitive
通过查看源码，认为该报错来源

[2022-06-12 06:10] KamToHung commented on #30856
谢谢，已解决

[2022-06-12 08:40] jiangjiajun commented on #43425
你这个问题是，Resnet50跑多次后出现的问题吗？ 也就是指刚开始跑都可以正常，但到了某一次的时候，会出现上面的报错。

请问下最后报错的时候，这个输入数据的shape(也就是batch)跟前面跑的时候是一样的吗？

[2022-06-12 08:51] lidanqing-vv commented on #43232
@phlrain Hi, hongyu,

As @Silv3S tested and commented above
The two models: old model and new model (with attributes deleted), ran twice: with old code and new code. Models were loaded and accuracy results are correct.

It looks deleting attributes in native ops will not cause old code crash. What is your opinion? can the refactoring continue? Second PR also requires Baidu's approvals https://gith

[2022-06-12 08:51] lidanqing-intel commented on #43232
@phlrain Hi, hongyu,
As @Silv3S tested and said above
The two models: old model and new model (with attributes deleted), ran twice: with old code and new code. Models were loaded and accuracy results are correct.

It looks deleting attributes in native ops will not cause old code crash. What is your opinion? can the refactoring continue? Second PR also requires Baidu's approvals https://github.com

[2022-06-12 09:32] dowdyboy opened #43426 "单机多卡训练，按照官网文档操作了，但是数据没有分片【即平均分配到每个GPU】（？？）"
### 请提出你的问题 Please ask your question

我根据官方文档操作，用两卡训练mnist数据集，batch设置为100，也就是在单卡训练一个epoch需要600次迭代；
但是用两卡训练，进度条也显示需要600次迭代（我用Pytorch的单机多卡，这个就会变成300，也就是数据均分到了两个GPU）；
并且我每一次迭代会记录loss，在一个epoch结束后，用all_gather方法，收集到了1200个值，也就是说，两个GPU分别完整了进行了一个epoch的数据，而没有将数据分成2份；

这个是个BUG吗？还是说有其他分割数据到每个GPU的API？

[2022-06-12 09:40] onair1314 commented on #43425
只开启一个进程，针对一个文件夹中的1万张图片进行推理，刚开始可以正常跑，运行到某一张图片时，就会报错；
报错后重新执行命令，仍然跑这1万张图片，仍然是刚开始正常出结果，运行到某一张图片报错，但不是上面那一张，报错的图片很随机 @jiangjiajun

[2022-06-12 09:59] shadowfienders opened #43427 "ppocr INFO: In PP-OCRv3, rec_image_shape parameter defaults to '3, 48, 320', if you are using recognition model with PP-OCRv2 or an older version, please set --rec_image_shape='3,32,320"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/47406487/173227908-66dbd501-62a6-4b18-ad82-2bae5b70d385.png)
中间没结果，但是也没报错，我修改对应位置他还是这么提示，不知道怎么办了

[2022-06-12 10:09] chiyuki0325 commented on #40215
gcc 12 didn't work

[2022-06-12 11:11] jiangjiajun commented on #43425
这1万张图片，你在跑的时候，设置的batch是多少。 是for循环每次读一张的吗

[2022-06-12 12:19] onair1314 commented on #43425
batch是1，for循环每次只读一张，这一万张图片的格式都是一致的；
我也测试过同一张图片for循环一万次的情况，开始可以正常推理出结果，但仍然会在运行到某些次的时候报错

[2022-06-12 13:14] ouxinyu opened #43429 "关于前向推理过程中显存不能正常释放的问题"
### bug描述 Describe the Bug

上周在运行之前的一段特征批量提取的程序的时候，出现了显存不足的提示。源代码是在几个月前写的，之前一直很正常，可以正常提取几千个样本的特征，但是现在只能提取几十幅图片，显存就爆了。
观察显存爆的过程，是在运行digits=model(img)这句时出现的。应该是每次迭代前向传输之后，并没有释放显存，或者说model被创建的了无数个实例

具体代码如下：

### 载入模型
[code]

### 数据预处理函数
[code]

### 定义特征提取函数
[code]

![H~S@QS(G_3M@L(Y上周在运行之前的一段特征批量提取的程序的时候，出现了显存不足的提示。源代码是在几个月前写的，之前一直很正常，可以正常提取几千个样本的特征，但是现在只能提取几十幅图片，显存就爆了。具体代码如下：

### 载入模型
[code]

###

[2022-06-12 14:03] jiangjiajun commented on #43425
能提供下你的测试代码吗，我想我们在测试时需要尽量只保留paddle相关的代码，避免是与其它库的相互作用影响。

[2022-06-12 16:06] lidanqing-vv commented on #33168
PR enabling the fc_lstm_fuse_pass and the UT https://github.com/PaddlePaddle/Paddle/pull/43430

[2022-06-13 02:02] onair1314 commented on #43425
https://github.com/PaddlePaddle/PaddleClas/blob/develop/deploy/cpp/src/main.cpp
是使用PaddleClas图片分类的c++ demo进行测试的
PS：已添加您QQ，方便及时沟通 @jiangjiajun

[2022-06-13 02:03] zhangguotai commented on #41246
@jim19930609 but this warning cause Makefile is created, i do not solve it

[2022-06-13 02:05] zhangguotai commented on #41246
@jim19930609 but this warning cause Makefile is not created, i do not solve it, make -j that is not executed

[2022-06-13 02:09] leo0519 commented on #43208
修復的 PR 已合併至 develop

[2022-06-13 02:09] #43208 closed, assigned to Shixiaowei02, zhwesky2010

[2022-06-13 02:18] LightSun commented on #36195
遇到了类似的错误。求助
[code]

paddle version: 2.3
paddle ocr: 2.5

[2022-06-13 02:43] 0x45f commented on #43225
模型导出时`self.training=False`会走到else分支，但是compute_loss=True，仍然会走计算loss的逻辑。这里调用`compute_score`时需要将compute_loss设置为Flase吗？

[2022-06-13 02:57] gzsvip opened #43433 "paddle inference，GPU推理开启switch_ir_optim出错"
### 请提出你的问题 Please ask your question

硬件：i5 12400+gtx3060
系统：ubuntu 22.04 ，显卡驱动 515 , cuda 11.7，
docker tag：2.3.0-gpu-cuda11.2-cudnn8
paddle inference推理：

使用trt，
开启switch_ir_optim，就会出现：ValueError: (InvalidArgument) Pass preln_embedding_eltwise_layernorm_fuse_pass has not been registered.
  [Hint: Expected Has(pass_type) == true, but received Has(pass_type):0 != true:1.] (at /paddle/paddle/fluid/fr

[2022-06-13 03:00] d2fans opened #43434 "win7下运行YOLO Paddle Serving 部署出错"
### 请提出你的问题 Please ask your question

启动服务 ： python -m paddle_serving_server.serve --model serving_server --port 9393 --gpu_ids 0

提示找不到 workdir_9393/GeneralInferOp_0/general_model.prototxt

FileNotFoundError: [Errno 2] No such file or directory: 'workdir_9393/GeneralInferOp_0/general_model.prototxt'

- [ ]

[2022-06-13 03:01] d2fans commented on #43434
按照官方教程执行 https://gitee.com/paddlepaddle/PaddleDetection/tree/release/2.4/deploy/serving#5-%E6%B5%8B%E8%AF%95%E9%83%A8%E7%BD%B2%E7%9A%84%E6%9C%8D%E5%8A%A1

[2022-06-13 03:12] SunNy820828449 commented on #43259
能提供项目链接么 我去复现一下

[2022-06-13 03:26] SunNy820828449 commented on #43261
you can do it like this:
import paddle
x = paddle.to_tensor([1,2,3])
y = x + 1
print(y)
z = y * 3
print(z)

https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/beginner/tensor_cn.html#shuxueyunsuan

[2022-06-13 03:33] TeslaZhao commented on #43434
https://gitee.com/paddlepaddle/PaddleDetection/tree/release/2.4/deploy/serving#3-%E5%AF%BC%E5%87%BA%E6%A8%A1%E5%9E%8B
需要先导出参数，并且设置导出后的serving_server路径作为模型路径

[2022-06-13 03:52] LDOUBLEV opened #43436 "【BUG】Paddle2.3 tensor乘法存在BUG"
### bug描述 Describe the Bug

Paddle2.3 int类型tensor * float类型tensor 得到的结果是int类型tensor，理论上结果应该是float类型的tensor

<img width="553" alt="image" src="https://user-images.githubusercontent.com/26592129/173276388-58bae9fd-e129-4262-a76a-ae821cf997f7.png">

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-13 03:55] wjj19950828 commented on #43433
@gzhss 您好，可以检查一下：
- TRT版本是否与cuda以及cudnn版本匹配
- 版本匹配的话，环境变量是否已经设置trt的路径

[2022-06-13 05:47] Victory8858 commented on #41482
【队名】：Victory8858

【序号】：29

【论文】：[Dynamic Anchor Learning for Arbitrary-Oriented Object Detection](https://arxiv.org/abs/2012.04150)

【状态】：提交

【repo链接】：https://github.com/Victory8858/DAL-Paddle

[2022-06-13 07:01] limin2021 commented on #43411
你好，segment fault通常是内存相关问题。可否贴一下您的代码，并告知运行方法，方便我们复现找到问题所在？

[2022-06-13 07:14] lvjian0706 commented on #43426
您好，请问具体是怎么操作的呢？

[2022-06-13 07:34] zoooo0820 commented on #43418
@cherishat
你好，关于PPhuman中STGCN的部分，请参考[文档](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/pphuman/docs/action.md)。 关于速度，因为与视频中的人数有关，具体情况可参考文档中我们在nvidia T4设备上测试的数据。总体而言，STGCN在PPHuman整体中的时间占比并不高。

[2022-06-13 07:42] JiabinYang commented on #43417
应该不是这个问题 请问有最小的复现环境嘛 我们来看看

[2022-06-13 07:50] cherishat commented on #43418
是否可以直接用在实时的监控视频上，实时显示动作类别呢。 还是说只能输入一段视频，属于视频分类过程呢，看到描述是根据50帧内的变化判断动作，那下一个50帧是继续判断吗，stgcn的输入帧数是有限制的，源码是设置了300帧，这样的话pphuman是怎样完成帧数的保存和清空的呢？谢谢解答

[2022-06-13 08:18] zhwesky2010 commented on #43217
@SmirnovKol 请问是需要实现什么功能呢

[2022-06-13 08:30] zoooo0820 commented on #43418
- PPHuman基于关键点的行为识别逻辑大致是：1.对于视频中的每一帧，检测跟踪行人目标并获取对应的关键点坐标；2.基于跟踪的id将关键点坐标累计成该id对应人物的关键点时序序列；3.使用STGCN模型预测这个时序序列对应的动作类别。 所以这里的50帧指的是每个id的人物会累计长度50帧的关键点序列来判断这50帧中该人物的动作类型。可以理解成每个id每隔50帧会有一个动作的结果。
- 关于在实时监控视频的使用，目前PPHuman已经放出的代码是使用视频文件进行预测的，速度上我们在nvidia T4, FP16预测下是可以实时的，当然具体情况也由您的场景和设备决定。后续我们也在逐步考虑增加对视频流的支持。

[2022-06-13 08:30] lvjian0706 commented on #43427
您好，相关问题建议去PaddleOCR repo中提下issue：https://github.com/PaddlePaddle/PaddleOCR/issues

[2022-06-13 08:31] #43427 closed, assigned to lvjian0706

[2022-06-13 08:33] lvjian0706 commented on #43429
您好，请问本次运行跟之前运行的环境、paddle版本，代码等都完全一致吗？只是时间不一样吗？

[2022-06-13 08:35] skywalk163 commented on #43417
项目已经公开：https://aistudio.baidu.com/aistudio/projectdetail/3863645?contributionType=1

进入项目后，执行文件路径目录为：INFINITY/examples/PaddleMD/3集成测试.ipynb

到“专门处理集成测试中失败的例子” 这个cell，下面的“!python tests/test_paddlemd_water.py” 就能复现这个报错。 报错在forces.py文件的438行。

也可以下载这个项目：https://github.com/skywalk163/INFINITY
还是使用这个文件测试：“INFINITY/examples/PaddleMD/3集成测试.ipynb” 。

[2022-06-13 08:36] jyjfjyjf commented on #43259
应该是更新了paddlepaddle-gpu到2.3的原因1，不更新就没事了

[2022-06-13 08:41] limin2021 commented on #43410
你好，请问你的gcc版本是什么？如果是ubuntu20版本，或者gcc版本太高，可能有些警告会当成错误导致编译出错。

[2022-06-13 08:50] #42811 closed, assigned to jczaja, lidanqing-vv

[2022-06-13 09:01] #43418 closed, assigned to xiaolao

[2022-06-13 09:06] adaxiadaxi commented on #43399
您好， 我们在k100上做过验证的clas模型是：vgg、resnet，mb3、hrnet。目前k100属于比较旧的产品型号，我们在昆仑2代r200上验证过inceptionv4模型，看看咱们是否更换模型或者是更换款型昆仑卡。如有需要可以微信沟通：zxy8811666 @xinsidao

[2022-06-13 09:06] adaxiadaxi commented on #43399
这个是k100上验证过支持的模型列表：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.2/guides/09_hardware_support/xpu_docs/paddle_2.0_xpu_cn.html

[2022-06-13 09:18] zhugw opened #43456 "命令行中显式指定use_gpu未能生效"
### bug描述 Describe the Bug

bug 描述

命令行中显式指定`--use_gpu true`未能生效 如下所示 (`use_gpu=False,`)
[code]
补充信息
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-13 09:19] pangyoki commented on #43422
你好，请问这里tf和pytorch进入archlinux仓库是什么形式？有链接吗？

[2022-06-13 09:20] zhiqiu commented on #43156
Hi, could you please give us an enviroment, like docker image, to reproduce and fix the problem?

update, the problem is fixed in #43511

[2022-06-13 09:22] zhugw opened #43459 "paddleocr -h 中的参数都是什么意思呢？"
### 请提出你的问题 Please ask your question

有文档可以告知 如下的这些参数都是什么意思吗

[code]

[2022-06-13 09:33] #43399 closed, assigned to xiaolao

[2022-06-13 09:33] FlyInWind1 commented on #43422
在 archlinux 上输入命令 sudo pacman -S python-tensorflow-opt-cuda ，回车后，tensorflow，以及他的依赖 python3，cuda，cudnn 等都会直接安装，这是一键完成的。而且由于有国内镜像，也不担心网速

[2022-06-13 09:35] FlyInWind1 commented on #43422
当然这是安装在系统级别，不是 pipenv 或者 conda

[2022-06-13 09:59] FlyInWind1 commented on #43422
如果进不了官方仓库影响也不大，我提这个这是想说明，tf和ytorch对于最新版本的操作系统和python版本，适配速度是非常快的

[2022-06-13 10:05] pangyoki commented on #43422
了解了，感谢反馈。

[2022-06-13 10:36] tink2123 commented on #43459
可以参考文档中的“参数说明”部分：https://github.com/PaddlePaddle/PaddleOCR/blob/release%2F2.5/doc/doc_ch/whl.md#5-%E5%8F%82%E6%95%B0%E8%AF%B4%E6%98%8E

[2022-06-13 10:54] qiuyang163 opened #43465 "paddle的dataloader是多线程方式调用iterabledataset的__iter__方法吗"
### 请提出你的问题 Please ask your question

看到paddle多进程版本的dataloader有如下代码：
<img width="735" alt="image" src="https://user-images.githubusercontent.com/8520472/173338837-7e7d884f-ac8a-4b60-a347-29239fc9230e.png">
这里是启动了一个线程池，调用dataset的__iter__方法吗？

[2022-06-13 10:55] qiuyang163 commented on #43465
https://github.com/PaddlePaddle/Paddle/blob/a3730dc87bc61593514b830727e36e5d19e753cd/paddle/fluid/pybind/reader_py.cc#L282

[2022-06-13 10:57] wjj19950828 commented on #43456
@zhugw 您好，paddleocr问题建议去对应repo去提issue~

https://github.com/PaddlePaddle/PaddleOCR/issues

[2022-06-13 11:03] zhugw commented on #43456
OK

[2022-06-13 11:33] veyron95 commented on #43417
@skywalk163 我 Fork 你所提供的项目，在 INFINITY/examples/PaddleMD/3集成测试.ipynb 内，到“专门处理集成测试中失败的例子” 这个cell，执行 !python tests/test_paddlemd_water.py 会报如下错误：`python: can't open file 'tests/test_paddlemd_water.py': [Errno 2] No such file or directory`，经检查，tests 文件夹下并无该 test_paddlemd_water.py 文件，请检查一下所公开的项目并提供可复现问题的最小实现。

[2022-06-13 11:44] heavengate commented on #43465
__iter__是在Python子进程里调用的，和C++端这处代码没有关系

[2022-06-13 11:58] skywalk163 commented on #43417
现在更新了版本了，那个文件test_paddlemd_water.py加进去了。

另外在AIStudio环境下，所需的几个库安装可能有点坎坷。可以尝试使用conda或者源码安装。

[2022-06-13 12:07] qiuyang163 commented on #43465
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dataloader/dataloader_iter.py#L746
请问是在这句吗？

[2022-06-13 12:18] wozna commented on #42972
Thank you very much for your report. The reason for this performance drop is the FC mkldnn operator, which for a batch size greater than one started very slowing down. Due to the fact that we have not found the reason, for now, we have turned off FC Mkldnn by default for INT8, but to be able to run it for some cases, I added the EnableMkldnnFcPasses option in this PR https://github.com/PaddlePaddl

[2022-06-13 12:58] pangyoki commented on #43422
你好，试了下tf和pytorch在高版本gcc下安装后使用没问题，paddle会有glibc版本太高导致报错的问题，这个是已知问题在分析中，谢谢。

[2022-06-13 13:16] pooruss opened #43472 "paddle静态图如何输出中间某层的tensor"
### 请提出你的问题 Please ask your question

我在调试paddle1.6版本静态图的模型代码，请问如何获取网络中间某层的tensor呢？

是通过fluid.ParallelExecutor里的run函数的fetch_list吗，但是fetch_list里的name如何获取呢？

[2022-06-13 14:54] wjj19950828 commented on #43472
@pooruss 可以通过visualdl或者netron查看中间层op的name，然后获取tensor

[2022-06-14 00:14] DevilcLo opened #43477 "Winodws 编译paddle inference 会死机"
### 请提出你的问题 Please ask your question

配置Win 11 i7-12700F  16G内存
VS 2017 cmake 3.23.2
已经按照https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/advanced_guide/inference_deployment/inference/windows_cpp_inference.html这里的设置进行去编译，编译到1000多个项目时电脑会因资源占用过多而导致死机
编译的是Release的MD版本

[2022-06-14 02:28] Alana123Liu opened #43480 "使用PaddleX TensorRT加速时，第一次运行正常，第二次报Input[X] dimension 为0"
### bug描述 Describe the Bug

在使用PaddleX进行部署推理后，model_infer.dll在qt界面运行正常。在配置过tensorrt_infer.dll后，可以实现加速，但是在qt界面，第一次可以正常运行，第二次模型推理时，就会报Input(X) dimension must be 3, 4 or 5, but got dimension = 0 . (at C:/home/workspace/Paddle_release5/paddle/fluid/operators/interpolate_v2_op.cc:348)。
已在tensorrt_infer.cpp中设置dynamic_input的值，例如下：
engine_config.min_input_shape["inputs"] = { 1, 3, 224, 224 };
engine_confi

[2022-06-14 02:30] yeliang2258 commented on #42972
In addition, the speed of MobileNetV1 is expected, the speed of int8 is about 2 times that of FP32 . When I tested it, it was the same batch size as Resnet50, and there should also be FC in it. What might be the reason that this model did not slow down?

[2022-06-14 02:34] bittergourd1224 opened #43481 "在PaddleServing的docker镜像中安装paddlepaddle-gpu失败"
### 问题描述 Issue Description

执行指令包括：
sudo docker pull registry.baidubce.com/paddlepaddle/serving:0.9.0-cuda10.2-cudnn7-devel
sudo nvidia-docker run -p 9292:9292 --name test_gpu -dit registry.baidubce.com/paddlepaddle/serving:0.9.0-cuda10.2-cudnn7-devel bash
sudo nvidia-docker exec -it test_gpu bash
pip3 install paddlepaddle-gpu==2.3.0 -i https://pypi.tuna.tsinghua.edu.cn/simple

然后在python中执行：
impor

[2022-06-14 02:40] gglin001 opened #43482 "[code format] add include-what-you-use for headers including"
### 问题描述 Please describe your issue

hi, is there a plan to add `include-what-you-use` tool to reduce include headers for cpp src?

ref
https://include-what-you-use.org/
https://github.com/include-what-you-use/include-what-you-use

[2022-06-14 02:58] gglin001 commented on #43482
@betterpig hi, could you help with it

[2022-06-14 03:19] hanjr92 opened #43484 "gather在axis 为负时候会报错"
### bug描述 Describe the Bug

[code]
bug 信息为
[code]

### 其他补充信息 Additional Supplementary Information

相比较于 tf gather的axis 负索引结果为：
[code]

[2022-06-14 03:21] sunzhongkai588 opened #43485 "【飞桨体验评测任务第四期】"
## 一、背景介绍

2022年飞桨将重点开展开发者生态贡献机制，建立开发者与飞桨的多样化联动，共同打造优秀的开源生态。在今年5月，我们开展了第三次评估，重点放在桨分布式文档的评估与硬件接入文档的评估，共收集到反馈 20+的体验评测报告，为相关产品的优化提供了重要的信息输入。为了进一步提升飞桨框架的使用体验，我们诚挚的邀请你参与到第四期体验评估中，这次主要是**飞桨训练框架API文档评估**、**Paddle Lite 文档评估**和**Paddle Inference文档评估**，并且和我们一起共建飞桨框架，后续会陆续安排其他产品模块的体验评测，希望大家持续关注。

## 二、参与流程
![image](https://user-images.githubusercontent.com/70642955/169789254-206eb856-5ba2-4326-91f8-80cde5f4

[2022-06-14 03:22] dowdyboy commented on #43426
这个我后面查到，需要用DistributedBatchSampler来加载数据，但是这个官网文档没有提及

[2022-06-14 03:22] heliqi commented on #43477
编译是很耗费资源。
请问下你是想要编译1.8版本？ 2.3版本可以参考这个编译文档: https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/windows-compile.html

[2022-06-14 03:28] DevilcLo commented on #43477
也试过参考这个文档的进行编译，也还是会出现因占用资源过多而导致死机

[2022-06-14 03:29] #42938 closed, assigned to nobody

[2022-06-14 03:32] #42918 closed, assigned to yghstill

[2022-06-14 03:34] betterpig commented on #43482
According to PR #30924, we did some cleaning work before to remove headers not needed. Enabling `include-what-you-use ` in cpplint will demand to add them again, that's not what we want. So we disabled it.

[2022-06-14 04:24] gglin001 commented on #43482
[`include-what-you-use`](https://include-what-you-use.org/
) tool will do static analysis for cpp src, I think it is different from the  `build/include_what_you_use` from `cpplint` (https://google.github.io/styleguide/cppguide.html#Include_What_You_Use)

[2022-06-14 04:26] gglin001 commented on #43482
这种情况是否可以通过单独的配置实现, 我的意思是对代码整体有一个 include 规范的普遍约束似乎是比较好的选择

[2022-06-14 04:30] fuqianya commented on #43225
是的，需要将compute_loss设置为False

[2022-06-14 04:32] fuqianya commented on #43225
是的，需要将compute_loss设置为False

[2022-06-14 04:57] fuqianya commented on #43225
是的，需要将compute_loss设置为False

[2022-06-14 05:20] sldyns commented on #41482
队名】：科研累了摸会鱼

【序号】：特色模型挑战赛7

【论文】：Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data

【状态】：提交

【repo链接】：https://github.com/sldyns/Real-ESRGAN_paddle_Lite

[2022-06-14 05:31] dowdyboy opened #43493 "【单机多卡】用单机多卡训练，精度反而不如单卡"
### 请提出你的问题 Please ask your question

我在mnist数据集上分别用单卡和8卡进行训练，单卡第一个epoch完成后准确度大约94，8卡第一个epoch完成后准确度大约86。
其他配置完全一样。
为什么会差这么多？是不是框架的反向传播那块在多卡上有问题？

[2022-06-14 05:41] xaviNo4 opened #43494 "部署PaddleServing，有CPU版本的吗？"
### 问题描述 Issue Description

官网如上，是描述如何安装GPU版本的 。我的服务器是X86的，请问应该下哪个WHL文件？

[code]

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version: 2.3.0
Paddle With CUDA: False

OS: Ubuntu 16.04
Python version: 3.7.0

CUDA version: 10.2.89
cuDNN version: 7.6.5
Nvidia driver version: None

[2022-06-14 05:57] Ligoml commented on #43426
可以贴一下文档的链接和截图吗？我们会联系负责人及时更新文档，感谢~

[2022-06-14 06:06] ouyangshixiong commented on #43421
你好，Keras的模型在[这里](https://github.com/microsoft/AutonomousDrivingCookbook/blob/master/DistributedRL/ExploreAlgorithm.ipynb)

我模仿它写的paddle版本的模型完整代码如下：
[code]
麻烦看看，谢谢

[2022-06-14 06:14] SunNy820828449 commented on #43259
没问题就close了吧，谢谢

[2022-06-14 06:18] TeslaZhao commented on #43494
https://github.com/PaddlePaddle/Serving/blob/v0.9.0/doc/Latest_Packages_CN.md#paddle-serving-server-x86-cpugpu

这里是所有的python whl包

安装方式：
https://github.com/PaddlePaddle/Serving/blob/v0.9.0/doc/Install_CN.md#21-%E5%9C%A8%E7%BA%BF%E5%AE%89%E8%A3%85

[2022-06-14 06:21] 0x45f commented on #43225
ifelse配合dict使用的问题修复PR #43348 已经合入develop分支。
在模型代码中将compute_loss设置为False，并且在model/bert.py中做如下两处修改已经能够正确save，可以安装develop分支的paddle后尝试进行导出。
![image](https://user-images.githubusercontent.com/23097963/173506757-2e4b7574-3819-4f79-921e-3189a16a65db.png)
![image](https://user-images.githubusercontent.com/23097963/173506790-008cf5dd-fa0d-40f8-a823-65cf55597060.png)

[2022-06-14 06:37] TeslaZhao commented on #43481
有报错信息吗？我用上面的docker环境和命令运行结果如下：

#尝试加载paddle
python3.7
import paddle

#等待时间长一些，会有xi信息。
![image](https://user-images.githubusercontent.com/6309021/173510880-c6c1451c-5325-4d33-8da3-7b696f486658.png)

[2022-06-14 06:43] #26637 closed, assigned to nobody

[2022-06-14 06:43] #28244 closed, assigned to cryoco

[2022-06-14 06:43] #31289 closed, assigned to Superjomn

[2022-06-14 06:43] #31495 closed, assigned to cryoco, jiweibo

[2022-06-14 06:43] #31636 closed, assigned to Thunderbrook

[2022-06-14 06:43] #31687 closed, assigned to wangye707, shangzhizhou

[2022-06-14 06:43] #32923 closed, assigned to wangxicoding

[2022-06-14 06:43] #32963 closed, assigned to pangyoki

[2022-06-14 06:43] #33018 closed, assigned to Joejiong

[2022-06-14 06:43] #33038 closed, assigned to TeslaZhao

[2022-06-14 06:43] #33068 closed, assigned to chenjiaoAngel

[2022-06-14 06:43] #33073 closed, assigned to chenjiaoAngel

[2022-06-14 06:43] #33079 closed, assigned to chenjiaoAngel

[2022-06-14 06:43] #33088 closed, assigned to chenjiaoAngel

[2022-06-14 06:43] #33090 closed, assigned to qili93

[2022-06-14 06:43] #33091 closed, assigned to qili93

[2022-06-14 06:43] #33092 closed, assigned to qili93

[2022-06-14 06:43] #33101 closed, assigned to qili93

[2022-06-14 06:43] #33107 closed, assigned to qili93

[2022-06-14 06:43] #33111 closed, assigned to qili93

[2022-06-14 06:43] #33118 closed, assigned to qili93

[2022-06-14 06:43] #33125 closed, assigned to T8T9

[2022-06-14 06:43] #33154 closed, assigned to yinhaofeng

[2022-06-14 06:43] #33158 closed, assigned to yinhaofeng

[2022-06-14 06:43] #33163 closed, assigned to yinhaofeng

[2022-06-14 06:43] #33171 closed, assigned to yinhaofeng

[2022-06-14 06:43] #33201 closed, assigned to MissPenguin

[2022-06-14 06:43] #33202 closed, assigned to MissPenguin

[2022-06-14 06:43] #33254 closed, assigned to joey12300

[2022-06-14 06:43] #33266 closed, assigned to nobody

[2022-06-14 06:43] #33272 closed, assigned to joey12300

[2022-06-14 06:43] #33277 closed, assigned to wawltor, smallv0221

[2022-06-14 06:43] #33309 closed

[2022-06-14 06:43] #33323 closed, assigned to gongweibao

[2022-06-14 06:43] #33333 closed, assigned to gongweibao

[2022-06-14 06:43] #33382 closed, assigned to frankwhzhang

[2022-06-14 06:43] #33391 closed, assigned to frankwhzhang

[2022-06-14 06:43] #33449 closed, assigned to sandyhouse

[2022-06-14 06:43] #33456 closed, assigned to sandyhouse

[2022-06-14 06:43] #33465 closed, assigned to sandyhouse

[2022-06-14 06:43] #33477 closed, assigned to sandyhouse, LielinJiang

[2022-06-14 06:43] #33482 closed, assigned to ceci3

[2022-06-14 06:43] #33493 closed, assigned to ceci3

[2022-06-14 06:48] LightSun commented on #36195
最后找到原因是 同事给的AI模型三paddle detection的 不能直接替换掉OCR的 分类模型使用，要用 paddle detection cpp的处理

[2022-06-14 06:49] yeyupiaoling opened #43499 "paddle.summary多输入问题"
### 需求描述 Feature Description

原来的paddle.summary无法通过input指定多输入，例如这样的输入`def forward(self, audio, audio_len)`，如果这样输出出错
[code]

如果源码这这样修改，就能正常使用。
https://github.com/PaddlePaddle/Paddle/blob/2106f668ce55f90816192da4ab93455b86298357/python/paddle/hapi/model_summary.py#L355

改成：
[code]

或者有其他解决办法吗？不能用`input_size `参数指定，因为会生成为0的数据，导致模型错误。

### 替代实现 Alternatives

_No response_

[2022-06-14 06:55] jesiws commented on #43170
发现是显存不足的问题，通过调小batchsize能将这个问题的出现推迟，通过nvidia-smi观察模型训练过程中显存占用大概为8G，显卡是20G的，请问中间变量能占到这么多显存吗？能怎么优化一下吗？
尝试了![image](https://user-images.githubusercontent.com/23470771/173512643-7c4a1353-2947-4353-af8b-a8b1c2051736.png)没什么作用
 @DesmonDay

[2022-06-14 07:08] monkeycc commented on #33038
@TeslaZhao

python 的 pyd 加密
你能轻松反汇编出来？

exe反编译一堆软件
pyd的反编译 一个都没

[2022-06-14 07:16] veyron95 commented on #43417
@skywalk163 好的，我们看看能否复现问题

[2022-06-14 07:21] bittergourd1224 commented on #43481
@TeslaZhao 感谢回复。我等待了十多分钟，一直卡在如下界面：
![2022-06-14 15-09-23 的屏幕截图](https://user-images.githubusercontent.com/26888350/173516458-4be364aa-2184-4822-9ce6-b10ea2e51b99.png)
并且CTRL-C也无法终止，只能强制关闭终端

此外我看你是装在了python3.7的环境中，而我是装在python3的环境中，即python3.6.0
能帮忙试下如果装在python3.6.0中是否也有类似问题呢？

[2022-06-14 08:24] SigureMo commented on #43421
首先，你并没有按照 keras 代码进行复现，keras 代码每个 ReLU、MaxPooling2D 都是一个新的实例，而你共用了同一个实例，因此你说的「Keras显示的不同」问题不存在，问题只是你的复现方式有问题

Paddle 的行为和 TensorFlow keras 的行为一致，一个 Layer（也就是一个实例）只会输出一次，但 keras 里代码明明有多个实例，而你只使用了一个实例，这并不是一个等价的对比

另外既然你不能做最小可复现代码，我这里用最小可复现的方式来详细说明问题吧

首先是 TensorFlow keras 的，这里只以 ReLU 说明问题

[code]

输出结果如下：

[code]

可以看到，即便是 TensorFlow keras，同一个实例也不会输出两次

再看看 Paddle

[code]

输出

[code]

Paddle 也是完全一致的

[2022-06-14 08:31] JoanSF commented on #41482
【队名】：没感情的菜鸡

【序号】：142

【论文】：Few-Shot Learning with Graph Neural Networks

【状态】：提交

【repo链接】：https://github.com/JoanSF/few_shot_gnn_paddle

[2022-06-14 08:31] betterpig commented on #43482
代码风格检查工具升级一期已经基本完成，在二期会调研 该工具的 收益和影响，决定是否引入。感谢你的建议！

[2022-06-14 09:00] FlyingQianMM commented on #43436
问题收到，我们会尽快修复。可以暂时先对左边tensor转成float后再相乘，来避免这个问题。
[code]

[2022-06-14 09:01] #43472 closed, assigned to wjj19950828

[2022-06-14 09:01] #43459 closed, assigned to wjj19950828, tink2123

[2022-06-14 09:01] #43456 closed, assigned to wjj19950828

[2022-06-14 09:02] #43433 closed, assigned to wjj19950828

[2022-06-14 09:15] SigureMo commented on #43499
emmmm，看不到改的是啥啊……

按我的理解，参考 build_input，可以对这几行修改成这样：

https://github.com/PaddlePaddle/Paddle/blob/2106f668ce55f90816192da4ab93455b86298357/python/paddle/hapi/model_summary.py#L353-L359

修改后

[code]

当然需要额外实现下 _all_is_tensor，或者不校验是否全部是 Tensor，直接看到 list 和 tuple 直接认为是多输入（貌似非 Tensor 也不是合法的输入）

另外好像代码里的 _all_is_numper 是想写 _all_is_number 吧 :joy:

[2022-06-14 09:19] yeyupiaoling commented on #43499
漏了，已经补上。

做法跟你的差不多。

[2022-06-14 09:32] SigureMo commented on #43499
emmm，虽说这样也可以，但我觉得有些不安全，我刚刚才发现 paddle 目前对 Tensor 进行解构（`*` 操作）后居然是本身，但无论从逻辑上（Python 语言本身）还是其他框架（PyTorch、Numpy），这都不符合预期，也许未来 paddle 会向这些框架对齐……因此我认为根据情况包裹一层是更为安全的行为

刚刚我试了下，在不考虑 `_all_is_tensor` 是可以正常运行的，或者说我个人认为确实不需要考虑 `_all_is_tensor`

[2022-06-14 09:58] quents opened #43512 "Can you please put Docker images with no-avx to Dockerhub?"
### 问题描述 Issue Description

Hi,

I use M1 Macbook and cannot pull Docker images to my local machine becasue M1 Macbooks don't support AVX. The error message is:

"Error: Your machine doesn't support AVX, but the installed PaddlePaddle is avx core, you should reinstall paddlepaddle with no-avx core."

### 版本&环境信息 Version & Environment Information

****************************************
Paddle ver

[2022-06-14 10:00] CSLujunyu commented on #20788
还没有结果吗？？？？？？？怎么解决？

[2022-06-14 10:06] wozna commented on #42972
@yeliang2258 What I found so far is that in the Resnet50 model there is a pattern `reshape2+matmul+elementwise_add` and those fuse passes are performed:  `reshape2 + matmul-> matmul` _(gpu_cpu_reshape2_matmul_fuse_pass)_ , and then `matmul + elementwise_add-> fc `_(fc_fuse_pass)_. When I turned off the first pass `reshape2 + matmul-> matmul`,  quantized FC MKLDNN does not slow down and performance

[2022-06-14 10:24] zhugw commented on #43456
提了issue https://github.com/PaddlePaddle/PaddleOCR/issues/6574 但是没有答复哦 现在卡在这里了 没法往下进行了

[2022-06-14 10:40] lishiyuhebei opened #43515 "paddleocr 训练"
### 请提出你的问题 Please ask your question

使用sar ocr 训练icdar 图像eval 一直是0

[2022-06-14 10:43] shaitaiyangmie opened #43516 "请问paddle报错如下是什么原因呢？"
### bug描述 Describe the Bug

<img width="1035" alt="a609c4e62c404d169afb942fd4649b4b" src="https://user-images.githubusercontent.com/73834112/173559384-8042ab9b-a1b3-42aa-a749-7390a8085d26.png">
paddle是最新版本，请问这个错误说明什么呢？应该如何解决？

### 其他补充信息 Additional Supplementary Information
<img width="952" alt="image" src="https://user-images.githubusercontent.com/73834112/173571742-58ea9a99-a15d-49b1-8a16-c55410

[2022-06-14 11:39] SigureMo commented on #43499
我又仔细看了下 [paddle.summary 的例子](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/summary_cn.html#summary)，发现其中有这样的一个例子：

[code]

也就是说 paddle 是支持输入 list 的 input 的，因此直接解构会破坏这种用例，目前我没有想到一种既兼容现有用例又能够支持多输入的改法……不过我个人认为多输入确实是一个应该考虑的问题……

所以你的用例的话，个人暂时建议改下模型……使其 inputs 接收一个 list 就好了，如果不方便改原来的模型的话，自己新建个模型 wrap 下就好了……

[2022-06-14 13:26] heliqi commented on #43477
ninja -j1 限制一个线程编译试试。 编译时可以观测内存变化， 如果是内存爆掉那没办法，只能换更大内存的机器编译

[2022-06-14 14:17] linjieccc commented on #43516
请问您的CUDA版本是多少？

[2022-06-14 14:36] linjieccc commented on #43512
Hi, please refer to here to install the CPU version of PaddlePaddle via Docker
https://www.paddlepaddle.org.cn/documentation/docs/en/install/docker/macos-docker_en.html#install-on-macos-via-docker

[2022-06-14 14:48] yeyupiaoling commented on #43499
改模型实在不方便，我是把这个代码复制到我的项目中，修改使用。在我项目能正常使用就好。
https://github.com/PaddlePaddle/Paddle/blob/2106f668ce55f90816192da4ab93455b86298357/python/paddle/hapi/model_summary.py

[2022-06-14 15:41] MARKLIN1000 opened #43524 "模型初始化后，能不能再外部对特定模块初始化参数"
### 请提出你的问题 Please ask your question

比如说我已经初始化模型：
self.bert = BertModel.from_pretrained(args.bert_dir)

现在我想对BertEmbedding layer 进行参数的初始化，将另一个Embedding与BERT的Embedding融合后再传给encoder。有没有类似torch.nn.init的API呢？

[2022-06-14 16:18] jczaja opened #43525 "Changes in Tensor relevant to oneDNN"
### 问题描述 Please describe your issue

Hi,

I would like to explain what changes we are working on to implement in *Tensor class and oneDNN kernels. Shortly speaking Tensor was holding oneDNN memory format (4 bytes) and now it is holding oneDNN memory descriptor (400 bytes).

Main reason for that is oneDNN is operating using memory descriptor as an element used for creation of memory objects.
In the

[2022-06-14 17:23] NikolaTeslein commented on #36378
我也遇到了同样的问题，我是:
            inputs = inputs.transpose(perm=[0,3,2,1])  # n,c,h,w -> n,w,h,c
            inputs = paddle.nn.functional.one_hot(inputs.astype('int32'), num_classes=25, name=None)  # n,w,h,c,25
            inputs = inputs.reshape([_n,_w*_h,-1])  # n,w,h,c*25
            inputs = self.max_pool_16(inputs)  # n,w*h,c*25 -> n,w*h,c*5
            inputs = inputs.reshape([_n,_w,_h,-1])  # n,

[2022-06-14 19:01] Lieberk commented on #41482
【队名】：超级码立

【序号】：142

【论文】：Few-Shot Learning with Graph Neural Networks

【状态】：提交

【repo链接】：https://github.com/Lieberk/Paddle-FSL-GNN

[2022-06-15 01:48] MARKLIN1000 opened #43527 "获得层对象和参数对象的api"
### 请提出你的问题 Please ask your question

如何获得特定层对象和参数对象，如怎么获得BERT的embedding层

[2022-06-15 02:02] TeslaZhao commented on #43481
从报错信息驱动版本是11.4，运行版本是10.2,cuDNN版本是8.6，可能是本机驱动版本和docker内版本不一致导致的，建议您安装安装cuda11.2的docker

[2022-06-15 02:06] marsbzp opened #43528 "有没有方法判断CPU是否支持mkldnn加速，推理库内部会判断吗"
### 请提出你的问题 Please ask your question

有没有方法判断CPU是否支持mkldnn加速，推理库内部会判断吗

[2022-06-15 02:18] dowdyboy commented on #43426
https://www.paddlepaddle.org.cn/tutorials/projectdetail/3618852

![图片](https://user-images.githubusercontent.com/39474100/173722571-f93155a2-5c3e-4654-8c5f-7394067ad63c.png)

[2022-06-15 02:53] ZhangHandi commented on #43527
获取BERT的embedding层，可通过两种方式找到。

[2022-06-15 02:58] ZhangHandi commented on #43527
获取BERT的embedding层可通过两种方式找到。
1. BertModel类的代码里面去找，链接：https://github.com/PaddlePaddle/PaddleNLP/blob/a93bdffb4769cf5d08789b04125573a73ab0e950/paddlenlp/transformers/bert/modeling.py#L506，发现embedding层可通过bert.embeddings获得
2. 直接打印bert，可以看到对象名称，通过'.'连接获得对应层，比如获得word embedding就是bert.embeddings.word_embeddings

[2022-06-15 03:13] ouyangshixiong commented on #43421
非常感谢你的回复。我本地修改代码后重新测试验证，正如你所讲。应该要实例化各个Layer。

[2022-06-15 03:13] #43421 closed, assigned to zoooo0820

[2022-06-15 03:28] linjieccc commented on #43515
@lishiyuhebei 您好，辛苦在PaddleOCR的repo下面提问：https://github.com/PaddlePaddle/PaddleOCR

[2022-06-15 03:56] MARKLIN1000 opened #43533 "特定层参数的初始化"
### 请提出你的问题 Please ask your question

比如说我已经初始化模型：
self.bert = BertModel.from_pretrained(args.bert_dir)

现在我想对BertEmbedding layer 进行参数的初始化，将另一个Embedding与BERT的Embedding融合后再传给encoder。这个怎么做啊

[2022-06-15 05:03] shaitaiyangmie commented on #43516
您好，感谢您又来帮助我，给您添麻烦了。
cuda是11.0，driver 11.4，显卡是a100 * 8。
<img width="400" alt="image" src="https://user-images.githubusercontent.com/73834112/173740330-6ed8b17e-ec2e-427b-9de0-fe429bd83aa5.png">
<img width="590" alt="image" src="https://user-images.githubusercontent.com/73834112/173740375-46fe3f76-7b63-4e85-bb38-8ed8547b2a50.png">

[2022-06-15 05:13] lmdnyo opened #43535 "Jetxon Xavier NX paddle installation g++ segmentation fault on paddle/phi/kernels/funcs/CMakeFiles/math_function.dir/math_function.cc.o"
### 问题描述 Issue Description

I am trying to build paddlepaddle on the Jetxon Xavier NX 16 GB using given instructions. The necessary packages and per-requisites are installed. But it is getting stuck in make TARGET=ARMV8 -j$(nproc). Here is the errror.

[  6%] Building CXX object paddle/phi/kernels/funcs/CMakeFiles/math_function.dir/math_function.cc.o
g++: internal compiler error: Segmentation faul

[2022-06-15 05:22] lmdnyo commented on #43535
I was wondering why cudnn was not shown by the above script. So I checked and found it is already there. Here are the details

nvidia@tegra-ubuntu:~$ find /usr -name  "cudnn*.h"
/usr/include/aarch64-linux-gnu/cudnn_v8.h
/usr/include/aarch64-linux-gnu/cudnn_cnn_train_v8.h
/usr/include/aarch64-linux-gnu/cudnn_adv_infer_v8.h
/usr/include/aarch64-linux-gnu/cudnn_adv_train_v8.h
/usr/include/aarch64-lin

[2022-06-15 06:37] JayLee15 opened #43538 "MaskRCNN infer时开启mkldnn后 结果矩阵混乱"
### bug描述 Describe the Bug

MaskRCNN infer时开启mkldnn后 结果矩阵混乱
关闭mkldnn:
![e0c7e160bdeb786e93974738f2da0c8e](https://user-images.githubusercontent.com/25918643/173758921-df076d9c-3b05-41d4-a154-a92a765f5264.png)

开启mkldnn：
![509cf66f363d2579f2f2425f9aa312a3](https://user-images.githubusercontent.com/25918643/173758962-facc4b7e-4738-42fc-a88c-235b4678cd79.png)

### 其他补充信息 Additional Supplementary Info

[2022-06-15 07:20] ZhangHandi commented on #43533
如果两个embedding的融合是指concat，concat后维度会发生改变，后面bert预训练参数就用不了了。如果只是想改embedding的参数，初始化之后通过bert.embeddings.word_embeddings.weight=xxx（tensor）进行赋值。

[2022-06-15 07:39] ZhangHandi commented on #43535
Hi, try to build in a single-threaded environment instead of multi-threaded

[2022-06-15 07:48] heliqi commented on #43538
你好， 请问能提供下报错的模型 和 最简单的复现代码吗？
顺便描述下 inference 预测库版本、 语言、系统(linux/windows/mac)版本 等信息

[2022-06-15 07:50] XYZ-916 commented on #43426
https://www.paddlepaddle.org.cn/tutorials/projectdetail/3618852 中是通过手动方式构造训练数据的，没有用封装好的Dataset和DataLoader，如果用多卡启动训练，因为没有进行数据划分，会在每个卡上进行一次全量数据的训练，打印的log也是我们自己定义的。你用多卡启动训练时会发展生成对应卡数的log文件。你可以基于Paddle Dataset和DataLoader API实验一下，看看效果。

[2022-06-15 07:51] JayLee15 commented on #43538
复现代码：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/python/infer.py

[2022-06-15 07:51] lbz0920 opened #43542 "windows下训练ernie模型：python run_trainer.py --param_path ./examples/mtch_ernie_pairwise_simnet_ch.json 提示错误：error in read tsv, maybe occur in linenum 0"
### bug描述 Describe the Bug

官方下载ERNIE\applications\tasks\text_matching示例
windows下训练ernie模型：python run_trainer.py --param_path ./examples/mtch_ernie_pairwise_simnet_ch.json
提示错误：error in read tsv, maybe occur in linenum 0，请教什么问题,怎么解决：
ERROR: 06-15 15:29:42: basic_dataset_reader.py:142 * 5544 error in read tsv:./data/train_data_pointwise\train.txt, maybe occur in linenum 0
ERROR: 06-15 15:29:42: bas

[2022-06-15 08:05] JayLee15 commented on #43538
模型：
cascade_mask_rcnn_r50_fpn_1x：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/cascade_rcnn/cascade_mask_rcnn_r50_fpn_1x_coco.yml
mask_rcnn_r50_vd_fpn_2x：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/mask_rcnn/mask_rcnn_r50_vd_fpn_2x_coco.yml
复现代码：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/python/infer.py
复现步骤：
下

[2022-06-15 08:26] heliqi commented on #43538
在windows和ubuntu上都出现了结果不对？
这里的infer.py 是 PaddleDetection 提供的脚本 还是 paddle-inference提供的demo脚本？

[2022-06-15 08:28] JayLee15 commented on #43538
windows和ubuntu都出现了同样问题
infer.py 是 PaddleDetection 提供的脚本

[2022-06-15 08:30] ZhangHandi commented on #43528
可以参考mkldnn文档判断cpu是否支持mkldnn加速：https://github.com/oneapi-src/oneDNN#system-requirements

[2022-06-15 08:33] heliqi commented on #43538
好的，我这边复现并查下这个bug。有结果我给你反馈

[2022-06-15 08:44] Fordacre opened #43543 "paddle.io.DataLoader 设置 num_workers!=0 报错"
### 请提出你的问题 Please ask your question

训练PaddleNLP模型，在设置paddle.io.DataLoader中num_workers不为0时程序报错，为0则正常运行。
使用的Dataset为自定义的paddle.io.IterableDataset。
报错信息如下，麻烦帮忙看一下。
worker0:
![image](https://user-images.githubusercontent.com/12699033/173783834-73dc7d17-d3b6-42de-b7c2-a8c00e776124.png)
worker1:
![image](https://user-images.githubusercontent.com/12699033/173784124-46b6258e-a879-45a4-b5d6-36f9c198076e.

[2022-06-15 08:54] XYZ-916 commented on #43426
非常感谢您能针对分布式训练问题提issue，我们会及时更新文档，让您和后续学者学习飞桨框架更轻松。

[2022-06-15 09:01] OccupyMars2030 opened #43544 "paddle.amp.GradScaler文档中unscale_()的作用描述有点问题"
### 文档链接&描述 Document Links & Description

https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/amp/GradScaler_cn.html#unscale-optimizer

![屏幕截图 2022-06-15 165754](https://user-images.githubusercontent.com/31559413/173787319-e80445d9-ecd4-41ef-8221-817aaa4a6794.jpg)

文档中写"unscale_() 用于让loss除去一个缩放的比例。"。按照我的理解，这里unscale_()的作用描述是错的

### 请提出你的建议 Please give your suggestion

应该改为 “unscale_()

[2022-06-15 09:05] OccupyMars2030 commented on #43544
我参考了https://pytorch.org/docs/stable/amp.html#gradient-scaling

[2022-06-15 09:08] #43426 closed, assigned to lvjian0706

[2022-06-15 09:09] OccupyMars2030 commented on #43544
另外我想请问：像这种文档错误，我可以直接提交PR来修改吗？应该修改哪个文件？应该同时有中文文件和英文文件吧

[2022-06-15 09:11] jeng1220 commented on #43262
@zhiqiu ,
Please take a look at PR #43536.
@leo0519  has fixed this bug.

[2022-06-15 09:44] ZeyuChen commented on #43543
请问使用的是PaddleNLP那段代码出错呢？可否贴一下？@Fordacre

[2022-06-15 09:54] MARKLIN1000 commented on #43533
能不能获得三个embedding相加后最终的结果啊（维度是［bs，seq _length ，768］），我看他返回值里没有这个参数啊.这样就和另一个embedding［bs，vi _length ，768］可以相加，最后就是bs，seq _length+vi _length ，768］维度的张量传给encoder去编码？

------------------ 原始邮件 ------------------
发件人: handiz ***@***.***&gt;
发送时间: 2022年6月15日 15:20
收件人: PaddlePaddle/Paddle ***@***.***&gt;
抄送: MARKLIN1000 ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle] 特定层参数的初始化 (Issue

[2022-06-15 09:55] AI-Mart opened #43548 "registry.baidubce.com/paddlepaddle/paddle:2.3.0-gpu-cuda10.1-cudnn7的镜像能否提供？"
### 需求描述 Feature Description

registry.baidubce.com/paddlepaddle/paddle:2.3.0-gpu-cuda10.1-cudnn7的镜像能否提供？

### 替代实现 Alternatives

registry.baidubce.com/paddlepaddle/paddle:2.3.0-gpu-cuda10.1-cudnn7的镜像能否提供？

[2022-06-15 10:00] #40381 closed, assigned to baoachun

[2022-06-15 10:01] #43515 closed, assigned to linjieccc

[2022-06-15 10:01] #43512 closed, assigned to linjieccc

[2022-06-15 10:01] #43494 closed, assigned to TeslaZhao, linjieccc

[2022-06-15 10:04] AI-Mart commented on #43548
目前只看到registry.baidubce.com/paddlepaddle/paddle:2.3.0-gpu-cuda10.2-cudnn7的镜像，没看到10.1的

[2022-06-15 10:51] sun222 commented on #41482
【队名】：mading队

【序号】：特色模型挑战赛4

【论文】：STANet for remote sensing image change detection

【状态】：提交

【repo链接】：https://github.com/sun222/STANET_Paddle

[2022-06-15 11:00] Fordacre commented on #43543
@ZeyuChen 使用的是Ernie-CTM的训练脚本，https://github.com/PaddlePaddle/PaddleNLP/blob/release/2.0/examples/text_to_knowledge/ernie-ctm/train.py 。
但是由于场景需求，训练数据量较大，所以将原来的数据读取部分（数据全量读入内存）使用IterableDataset进行了替换了。

[2022-06-15 11:22] XieYunshen commented on #43548
目前发版镜像中没有cuda10.1的版本，不过可以使用paddle的开发镜像，手动安装2.3.0版本的PaddlePaddle即可；
`
docker pull paddlepaddle/paddle:latest-gpu-cuda10.1-cudnn7-gcc54-dev
python -m pip install paddlepaddle-gpu==2.3.0.post101 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html
`

[2022-06-15 12:28] MARKLIN1000 opened #43557 "paddle中类似BertConfig的类？"
### 请提出你的问题 Please ask your question

paddle中类似BertConfig的类？形成BERT模型配置文件对象

[2022-06-15 12:52] ZhangHandi commented on #43557
没有类，直接集成在BertPretrainedModel中。参考：https://github.com/PaddlePaddle/PaddleNLP/blob/d95cfc314f3407db9e126a380c5c8598ec401a63/paddlenlp/transformers/bert/modeling.py#L96
需要这个类是有什么需求呢，NLP相关问题欢迎去PaddleNLP repo下提issue，具体链接：https://github.com/PaddlePaddle/PaddleNLP/issues

[2022-06-15 13:04] linjieccc commented on #43516
创建一个新的conda环境通过conda来重新安装试试呢
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/conda/linux-conda.html

[2022-06-15 13:27] gzsvip opened #43560 "主机cuda版本是11.7，docker 里面的cuda 是10.2，GPU推理时出错，请问是否CUDA的版本需要主机和DOCKER都一致？"
### 请提出你的问题 Please ask your question

硬件：i7 12700F+GTX3060+16G
系统：ubuntu 20.04，已装好nvidia驱动515.48.07，cuda版本 11.7，nvidia-smi检查正常
docker：官网pull下来的 registry.baidubce.com/paddlepaddle/paddle   2.3.0-gpu-cuda11.2-cudnn8 ，已安装nvidia-docker

上传测试代码，cpu运行模型正常,mkldnn运行挺快，
gpu模式，关闭ir_optim可以跑，但打开ir_optim优化时，出现以下错误：
 predictor = paddle.inference.create_predictor(config)
ValueError: (InvalidArgument) Pass preln

[2022-06-15 13:50] linjieccc commented on #43524
@MARKLIN1000 可以参考下这里初始化相关的api paddle.nn.initializer
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Overview_cn.html

[2022-06-15 13:55] AI-Mart commented on #43548
感谢回复，我目前用的就是这个方案，只是镜像挂载在这里下载速度有点慢，挂载在registry.baidubce.com就挺快的了，如果方便的话，建议增加一个

[2022-06-15 13:57] XieYunshen commented on #43548
`registry.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda10.1-cudnn7-gcc54-dev`和`paddlepaddle/paddle:latest-gpu-cuda10.1-cudnn7-gcc54-dev`是一样的，可以拉取`registry.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda10.1-cudnn7-gcc54-dev`,速度会快一些

[2022-06-15 14:08] linjieccc commented on #43484
您好，可以使用take_along_axis这个api，api说明：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/take_along_axis_cn.html#take-along-axis

[code]

gather问题说明可以参考这里 #37632

[2022-06-15 14:20] linjieccc commented on #43493
感谢关注，是否可以请 @yaoxuefeng6 同学帮忙看下这个问题，非常感谢~

[2022-06-15 14:22] linjieccc commented on #43480
辛苦 @FlyingQianMM 同学帮忙看下这个问题，非常感谢~

[2022-06-15 15:02] #43484 closed, assigned to linjieccc

[2022-06-15 15:04] linmuchuiyang opened #43565 "paddle 单机多卡分布式运行报contrib下无reader或NCCL问题"
### bug描述 Describe the Bug

从NGC官网下载22.05的paddlepaddle版本：`docker run --gpus all -it --rm nvcr.io/nvidia/paddlepaddle:22.05-py3`
运行paddle的示例：https://github.com/PaddlePaddle/models/blob/release/1.8/dygraph/mnist/train.py
执行过程中报错如下：执行命令：
`python -m paddle.distributed.launch --selected_gpus=0,1,2,3 --log_dir ./mylog mnist_distribution_v1.py`

[code]

我推测是不是因为例子是1.8版本，而docker的环境是2.2.2 版本的，所以有API的不同，因而采

[2022-06-15 15:21] wozna commented on #42972
@jiangjiajun I have found which commit caused this error `Could not create a primitive descriptor for a reorder primitive`.
We're going to find the exact source of the problem, but for now I prepared PR that reverts part that caused this bug.https://github.com/PaddlePaddle/Paddle/pull/43564.

[2022-06-15 16:38] wozna commented on #43364
For now, we have found that `elementwise_mul` in this model is not quantized correctly. Hot fix is to save model without quantization of elementwise_mul. To do this please use save_quant_model.py with argument `--ops_to_quantize="concat,fc"`.
We will continue to work to fix the issue.

[2022-06-15 16:49] MARKLIN1000 opened #43566 "paddle是否有transfomers库中BertEncoder的替代api"
### 请提出你的问题 Please ask your question

paddle是否有transfomers库中BertEncoder的替代api
例如 self.encoder = BertEncoder(config)

[2022-06-16 01:05] jakpiase commented on #42972
Hi, a proper fix for that issue is here: #43567. Since original problem is resolved, we don't need to revert changes related to softmax

[2022-06-16 01:48] AI-Mart commented on #43548
好的，谢谢，这个是gcc54的版本，gcc82的版本会不会更好些？

[2022-06-16 01:51] AI-Mart commented on #43548
另外registry.baidubce.com/paddlepaddle/paddle下的镜像都有哪些，有没有一个文档列表说明，或者说可以登陆进去查看吗？类似dockerhub

[2022-06-16 01:52] MARKLIN1000 opened #43568 "'ParamBase'下没有 'requires_grad'吗？"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/82072274/173974171-21cc7c57-34b3-4e8e-8a68-e9f8a5bcec50.png)
为了在对抗训练中获得对应的梯度信息，这应该改成什么参数啊

[2022-06-16 02:52] DesmonDay commented on #43170
如果实在不确定哪一块显存占用多，可以采用二分法对代码依次进行定位，看看哪块地方在执行时突然显存增长。（我自己的建议是可以考虑用pdb调试一步步执行，顺便记录代码执行时显存的增长，确定具体位置。

[2022-06-16 03:33] ZHUI opened #43571 "静态图 GradientMergeOptimizer 与 main_program.clone(for_test=True) 冲突"
### bug描述 Describe the Bug

[code]

### 其他补充信息 Additional Supplementary Information

代码位置
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/recall/domain_adaptive_pretraining
复现脚本
[code]

global_batch_size 64 = micro_batch_size * 2, 代码里面自动使用了梯度累积。报错

[2022-06-16 03:37] an1018 commented on #43566
可以看看BertModel是否满足使用
https://github.com/PaddlePaddle/PaddleNLP/blob/07bafdc688f9da239e3c18ab4e5f48b7cbe78b94/paddlenlp/transformers/bert/modeling.py#L420

[2022-06-16 03:37] ZHUI commented on #43571
https://github.com/PaddlePaddle/PaddleNLP/issues/2430 相关用户 issue

[2022-06-16 03:40] w5688414 opened #43572 "Paddle的warning日志信息太多"
### bug描述 Describe the Bug

jupyter notebook运行paddle的代码，总是输出很多warning日志，怎么进行隐藏，有隐藏开关的API吗？

见pr： https://github.com/d2l-ai/d2l-zh/pull/1158

### 其他补充信息 Additional Supplementary Information

https://github.com/d2l-ai/d2l-zh/pull/1158

[2022-06-16 04:02] tngt opened #43573 "基于飞桨框架复现《动手学深度学习》书籍时出现非常多的log日志，影响美观度。"
### 需求描述 Feature Description

任务目标（《动手学深度学习》飞桨版 教辅项目）; <br /> 需求场景（将原书中MXNet替换为Paddle实现）;  <br /> 功能描述（如何屏蔽打印出的日志？复现李沐老师《动手学深度学习》书籍，打印出太多的log日志，对比其他框架实现，影响美观度，PR后生成的网页预览书籍详见（1-8章任意内容查看）：http://preview.d2l.ai/d2l-zh/PR-1157/chapter_preliminaries/ndarray.html）

## Paddle版本：
<img width="865" alt="image" src="https://user-images.githubusercontent.com/64118875/173988767-d86b88ee-9db4-4cd6-9c34-14ff234c

[2022-06-16 04:11] an1018 commented on #43568
param.grad，对抗训练可以参考这个issue： #37006

[2022-06-16 05:11] yaomichael commented on #42322
the planned changes to keep up with ondDNN evolution are outline in https://github.com/PaddlePaddle/Paddle/issues/43525

[2022-06-16 05:14] yaomichael commented on #43525
@Aganlengzi FYI, this is to explain the work for #42322

[2022-06-16 06:29] LightSun opened #43580 "runtime error with tensorrt."
env
[code]

Hello, paddle is a good project for AI. I try to use it. But met some problem.
log
[code]

[2022-06-16 06:51] a1056632260 opened #43582 "Paddledetection2.4 读取权重错误，其它层参数替代该层参数，set_dict 出错"
### 请提出你的问题 Please ask your question

 param_state_dict = paddle.load(weights_path)
  param_state_dict = match_state_dict(model_dict, param_state_dict)#此处参数匹配正确
  model.set_dict(param_state_dict)#此层后，模型未能正确导入参数
错误参数层：
bbox_head.0.attention.q_proj.weight
,bbox_head.1.attention.q_proj.weight,
bbox_head.2.attention.q_proj.weight
,bbox_head.3.attention.q_proj.weight,
bbox_head.4.attention.q_proj.weigh

[2022-06-16 07:06] MARKLIN1000 opened #43583 "Paddle下如何实现SWA随机权重平均？"
### 请提出你的问题 Please ask your question

这里有没有SWA相关的API，比如说AveragedModel和SWALR等，如何实现SWA

[2022-06-16 07:42] an1018 commented on #43580
Dynamic shape needs to be enabled when using trt. For more information, please refer to [PaddlePaddle](https://paddleinference.paddlepaddle.org.cn/optimize/paddle_trt.html)

[2022-06-16 07:53] an1018 commented on #43582
是用的PaddleDetection DETR模型吗

[2022-06-16 08:03] a1056632260 commented on #43582
不是，是复现inst_query中的自注意力模块
写了个脚本把权重的键名称和模型中的统一了，但是没有正确读取，我单步调试之后，发现就是set_dict的问题

[2022-06-16 08:07] #43112 closed, assigned to LielinJiang

[2022-06-16 08:20] an1018 commented on #43572
<img width="575" alt="image" src="https://user-images.githubusercontent.com/19808900/174025582-121f04c2-7267-4c74-b18f-429cad0d742d.png">
运行了 #43573 代码没有输出warning，可以查看是不是from d2l import paddle as d2l的原因

[2022-06-16 08:21] an1018 commented on #43573
和#43572 问题相同，已在#43572 issue答复

[2022-06-16 08:37] an1018 commented on #43582
可以参考这个代码核对下脚本，再试试
https://aistudio.baidu.com/aistudio/projectdetail/2290729?channelType=0&channel=0
![image](https://user-images.githubusercontent.com/19808900/174029577-9e7d1e57-eb6f-4a42-8bec-1c1dc8de5c76.png)

[2022-06-16 08:48] a1056632260 commented on #43582
![屏幕截图 2022-06-16 084506](https://user-images.githubusercontent.com/71133184/174031537-ca4fe52a-72aa-4ff2-807d-b6690d6f7ad1.png)
我调试过这条代码，匹配成功了，但是set_dict就出问题了

[2022-06-16 09:03] youngAt19 commented on #41482
【队名】：qifei

【序号】：96

【论文】：[HINet: Half Instance Normalization Network for Image Restoration](https://arxiv.org/pdf/2105.06086v1.pdf)

【状态】：提交

【repo链接】：https://github.com/youngAt19/hinet_paddle

[2022-06-16 09:20] JZZ-NOTE commented on #42068
同学你好，有些信息需要进一步了解一下。请问静态图的执行，是使用 executor+load_inference_model 接口执行的吗？还是使用推理的 predictor 加载执行的呢？

[2022-06-16 09:23] tngt commented on #43572
这个只`import paddle`也出现了很多的log日志
![image](https://user-images.githubusercontent.com/64118875/174038233-fbf16014-6ff7-43b4-81f9-84c1f72152e0.png)

@an1018 @w5688414 李沐老师那边的运行情况是安装GPU的paddle，针对不需要GPU运行的程序，会自动跑在CPU上。

[2022-06-16 09:26] justld commented on #42068
你好，我使用的是paddleseg使用的推理方法，该方法使用paddle.inference的predictor进行推理，推理代码链接：https://github.com/justld/PSANet_paddle/blob/main/deploy/python/infer.py

[2022-06-16 09:29] JZZ-NOTE commented on #42068
收到~有进一步的进展我再回复您

[2022-06-16 09:45] scyyh11 opened #43590 "关于在anaconda非base环境下安装paddlepaddle报错"
### 请提出你的问题 Please ask your question

我在anaconda非base环境下执行了官网上的安装指令
得到了如下结果
![image](https://user-images.githubusercontent.com/98971614/174043098-3d672ee4-400e-4704-beaa-1850c0385231.png)
请问我应该如何解决这一问题

[2022-06-16 09:54] SigureMo commented on #43572
paddle 版本是 2.3.0-rc0 及更低版本嘛？这个 PIL 的 deprecated warning 问题在 #42307 已经解决了，并在 #42451 cherry-pick 到了 2.3.0 正式版，因此 2.3.0 不会遇到这个问题呀，如果在 2.3.0-rc0 及之下遇到问题可以试试将 Pillow 降级到 9.1.0 之下（不含 9.1.0）

另外关于隐藏的 API 的话，应该没有吧，这些 warning 是 Pillow 9.1.0 自己的 warning，Paddle 无法控制吧……也许可以找找 Pillow 的 warning 隐藏 API

[2022-06-16 10:40] wzzju commented on #43544
您好！我的理解：文档说明是没有问题的，loss除去一个缩放比例，根据链式法则gradients也会对应除去一个缩放比例。

[2022-06-16 10:50] jiweibo commented on #43560
您好，可以先规避该问题：
config.delete_pass('preln_embedding_eltwise_layernorm_fuse_pass')

请确认下该pass 是否存在注册问题 @Wangzheee

[2022-06-16 10:56] a1056632260 commented on #43582
![image](https://user-images.githubusercontent.com/71133184/174055109-1d0a3ba7-43c1-4553-951c-208d75d9c1ee.png)
具体原因找到了，是因为我直接append从from_config 函数创建的head，导致我读取后面层参数时会覆盖前面层的参数，也就是说这是一层网络复制了6次。
请问要怎么创建出独立的6层head的bbox_head和mask_head？

[2022-06-16 10:56] Wangzheee commented on #43560
使用没有编trt的paddle包，换一个带trt的包
https://paddle-inference.readthedocs.io/en/latest/user_guides/download_lib.html

[2022-06-16 11:01] #43557 closed, assigned to nobody

[2022-06-16 11:02] #43528 closed, assigned to ZhangHandi

[2022-06-16 11:02] #43527 closed, assigned to ZhangHandi

[2022-06-16 11:06] Ligoml commented on #43544
文档错误，如果可以完全确认是可以提pr改的，英文文档写在API源码的注释里，中文文档写在https://github.com/PaddlePaddle/docs 里
以这个case来看，负责人认为文档是没有问题的，所以可以不做修改~

拿不准的问题建议还是提issue确认一下，感谢你对开源贡献的热情！

[2022-06-16 11:06] #43544 closed, assigned to ZhangHandi

[2022-06-16 11:13] XieYunshen commented on #43548
cuda10.1默认的安装包是gcc54的，如果想用gcc82的镜像可以使用下面这个，
`docker pull registry.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda10.1-cudnn7-gcc82-dev`
另：
`registry.baidubce.com/paddlepaddle/paddle`下的镜像和docker hub中`paddlepaddle/paddle`镜像基本一致，可以在docker hub中查找镜像，然后加上`registry.baidubce.com`前缀使用

[2022-06-16 11:36] MARKLIN1000 opened #43593 "想要修改tensor的值，但不希望被记录。有没有类似tensor.data获取方式啊?"
### 请提出你的问题 Please ask your question

![72999d9623ed5e03ddda489b6b25d2c](https://user-images.githubusercontent.com/82072274/174061540-bd402a7b-90eb-4c29-bf65-25756ad1331b.png)

想要修改 tensor的数值，但是又不希望被autograd记录，有没有ptorch中 tensor.data 的替代API

[2022-06-16 12:06] JZZ-NOTE commented on #42068
您好，可以详细说明下该自定义算子的功能吗？输入及输出。最好可以举一个具体的例子。方便我们可以使用单个 op 复现动态图、静态图结果不一致问题。

[2022-06-16 12:08] justld commented on #42068
您好，这里有完整的介绍，可复现的静态图预测不一致问题：https://aistudio.baidu.com/aistudio/projectdetail/3851842?contributionType=1

[2022-06-16 12:27] lidanqing-vv commented on #42972
I have tested, and after the fixes merged, now `python test.py --model_path=/home/Issue_42972/quant_bug/MobileNet_quan` has passed.

Used public Paddle commit id: `8bc1c82d88d705e436291b1450e1ba3ead5ae867`
@yeliang2258 Hence, can we close this issue?

![image](https://user-images.githubusercontent.com/47151829/174069217-ee3d4845-9fa6-417e-9402-c28787cae63a.png)

[2022-06-16 12:29] an1018 commented on #43583
[ModelAverage](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/incubate/ModelAverage_cn.html#modelaverage)可以实现在预测时使用平均后的 Parameters，通常可以提高预测的精度

[2022-06-16 14:02] Chucy2020 opened #43602 "fileds numbers not same among samples in batch"
### bug描述 Describe the Bug

![image](https://user-images.githubusercontent.com/73978694/174087156-171ab73e-4ede-49e8-a0f5-a31ed923f605.png)
为什么我这里的batch_size只能设置为1，设置其他的就会报错。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-16 14:05] Chucy2020 commented on #43602
上述代码是这个，请问哪里出问题了？
![image](https://user-images.githubusercontent.com/73978694/174087728-46496562-34f5-4c69-b8e3-64ede22f5a4f.png)

[2022-06-16 14:18] an1018 commented on #43590
安装命令截图看一下吧

[2022-06-16 14:25] quents commented on #43512
Hi, The CPU version of MacOS unfortunately doesn't work with the following error:

`Error: Your machine doesn't support AVX, but the installed PaddlePaddle is avx core, you should reinstall paddlepaddle with no-avx core.
Traceback (most recent call last):
  File "/usr/local/bin/uvicorn", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/dist-packages/click/core.py", line 82

[2022-06-17 01:37] Chucy2020 commented on #40735
请问这个问题是什么原因，我也是这个错误，但是还没找到错误在哪里。

[2022-06-17 01:42] Mrc-2020 opened #43604 "import paddle时出现这个错误怎么解决呢TypeError: Couldn't build proto file into descriptor pool: duplicate file name (framework.proto)"
### 请提出你的问题 Please ask your question

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\Anaconda3\envs\paddle\lib\site-packages\paddle\__init__.py", line 25, in <module>
    from .framework import monkey_patch_variable
  File "D:\Anaconda3\envs\paddle\lib\site-packages\paddle\framework\__init__.py", line 17, in <module>
    from . import random  # noqa: F401
  Fil

[2022-06-17 01:43] yeliang2258 commented on #42972
I tested this problem and found it fixed. But I don't think the problem of performance degradation of resnet50 has been completely solved.

[2022-06-17 01:49] yeliang2258 commented on #43091
测试MobileNet在Paddle develop版本下是可以开启enable_mkldnn_int8并正常预测的，需要更多细节信息复现问题

[2022-06-17 01:58] bittergourd1224 commented on #43481
11.2版本docker中，paddlepaddle环境检查没有问题了
并且经过多次尝试，如果需要通过serving环境检查，paddlepaddle-gpu的安装必须为：
pip3 install https://paddle-inference-lib.bj.bcebos.com/2.3.0/python/Linux/GPU/x86-64_gcc8.2_avx_mkl_cuda11.2_cudnn8.2.1_trt8.0.3.4/paddlepaddle_gpu-2.3.0.post112-cp36-cp36m-linux_x86_64.whl

[2022-06-17 01:58] #43481 closed, assigned to TeslaZhao, linjieccc

[2022-06-17 02:00] MARKLIN1000 opened #43605 "如何解决detach不能被赋值的问题？"
### 请提出你的问题 Please ask your question

![AC423I1I46L H6 @CJ${U~A](https://user-images.githubusercontent.com/82072274/174207293-1c4c5902-f639-4c5f-a45c-e72e8c0b27ec.png)

为了操作tensor而不被autograd记录，选用了detach（没有tensor.data），但是他无法被赋值？怎么解决这个我问题？

[2022-06-17 02:12] yt605155624 commented on #43604
你好，可以参考这个链接的解决办法：
https://stackoverflow.com/questions/68952308/tensorflow-couldnt-build-proto-file-into-descriptor-pool
[code]
另外注意 protobuf 的版本

参考: https://github.com/PaddlePaddle/Paddle/issues/43052

[2022-06-17 02:14] an1018 commented on #43593
可以参考这个
<img width="298" alt="45b38d95a22158f0c573a261ea10a1cf" src="https://user-images.githubusercontent.com/19808900/174211202-4dfbb3c5-35bb-4575-8a9f-4402d13cf6d8.png">

[2022-06-17 02:24] yt605155624 commented on #43605
你好，没有见过对等式左值进行 detach 的操作
已经使用了 `m = yr.detach().clone()`, 之后再 x=m, 应该就不会记录梯度了
可以参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Tensor_cn.html#detach

[2022-06-17 02:50] Chucy2020 commented on #43602
请问这是什么问题？

[2022-06-17 03:22] scyyh11 commented on #43590
输入的是官网上的命令
![ebc6cb0f47f7ed7acab039b82649880](https://user-images.githubusercontent.com/98971614/174218288-9d99223e-6c5d-4b26-8c56-8e7ff556708c.png)
![af025685efa769bcf1c4062c2a8c9a3](https://user-images.githubusercontent.com/98971614/174218346-3e715d33-8d44-4be7-9a04-88c805ec2641.png)

[2022-06-17 03:24] thep0y opened #43610 "paddle 会影响其他包的日志等级"
### bug描述 Describe the Bug

直接上代码即可复现：

[code]

不导入`paddle`时，打印结果中没有日志：
[code]
导入`paddle`后，将会打印`gensim`中使用的模块的所有日志：
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-17 03:34] an1018 commented on #43590
可以使用pip安装试试，或者再看下这个教程，更换个cuda版本试试
<img width="1288" alt="image" src="https://user-images.githubusercontent.com/19808900/174219615-ba220b0f-86eb-4949-9750-c30d47ebf329.png">
<img width="660" alt="3be40b3cdebd2f23fd15537d488cafca" src="https://user-images.githubusercontent.com/19808900/174219756-bd1be9da-3684-4382-bbab-b318615f09d5.png">

[2022-06-17 03:35] yt605155624 commented on #43610
你好，我执行了你的代码，并没有遇到类似的问题

1. 有 import paddle 的输出
[code]
第一行的 Warning 和 scipy 有关，与你的代码无关
2. 没有 import paddle 的输出
[code]
版本信息如下：
[code]
paddle 版本为 '0.0.0' 表示使用的是 develop 版本的 paddle, 你可以再试试

[2022-06-17 05:18] #43343 closed, assigned to 2742195759

[2022-06-17 05:43] thep0y commented on #43610
刚刚尝试安装paddle-dev，但是导包时会退出进程，无法执行后面的代码

[2022-06-17 05:49] yt605155624 commented on #43610
应该是安装失败了，可以再试试，不过多打 log 这事也不算是什么 bug

[2022-06-17 05:59] 123mw123 commented on #24788
Facing same issue with paddlepaddle-gpu-2.2.1

[2022-06-17 06:01] thep0y commented on #43610
不算是bug，但是是问题，终端输出的时候不方便查找我自己打印的信息。

此问题好像与python版本有关，python3.8和3.7无此问题，3.9才有此问题：
![image](https://user-images.githubusercontent.com/51874567/174235057-69419f40-44dd-468a-bef0-acdcd6a85f77.png)

[2022-06-17 06:18] yt605155624 commented on #43610
好的，我们内部评估一下，感谢你的发现~

[2022-06-17 06:53] tngt commented on #43572
非常感谢， 升级到2.3后，PIL的日志已经解决。现在的遗留问题是：
## GPU版本的Paddle跑在CPU上打印出来的log是否可以隐藏：
<img width="773" alt="image" src="https://user-images.githubusercontent.com/64118875/174242162-e8ac5460-21fe-475d-99f9-c179f5c348da.png">

## GPU和CUDA版本的日志是否可以隐藏：
![6d9fabf27b278f3f1b3b75e6fe768fc9](https://user-images.githubusercontent.com/64118875/174242223-4037502b-1536-437b-a0ac-3b461d9e90ee.png)
@SigureMo @an1018

[2022-06-17 06:56] yeliang2258 opened #43619 "[Low priority] Ernie3.0 reports an error when inference with MKLDNN BF16"
### bug描述 Describe the Bug

When using MKLDNN BF16 to deploy the Ernie3.0 model, an error occurs, the error is as follows：
![image](https://user-images.githubusercontent.com/30516196/174237209-4811e38a-1277-4c03-8d5c-eab58b1716d6.png)

Please use the following script to reproduce the problem:
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-17 07:24] skywalk163 commented on #43417
复现出问题了吗？ 有新的思路吗？

[2022-06-17 07:33] veyron95 commented on #43417
@skywalk163 已经复现了，还在跟踪。目前进展是定位在 forces.py 里面 `if self.require_distances and len(self.ava_idx):` 分支下` if v == "lj":` 子分支内的计算过程有些问题，在这个分支内调用 paddle.grad([pot[i][v]]],[pos], only_inputs=True, retain_graph=False)[0] 就能复现。这个情况比较特殊，还在分析。

[2022-06-17 07:53] an1018 commented on #43602
可以查看一下标注文件，每个样本是否相同

[2022-06-17 08:06] an1018 commented on #43582
如果有待解决，可以先尝试在PaddleDetection套件下提一下issue，链接：https://github.com/PaddlePaddle/PaddleDetection/issues

[2022-06-17 08:15] Chucy2020 commented on #43602
请问我的样本每个都是一个字典，里面包括5对键值，每个键对应的值长度都不同，那么我该怎么比较方便的pad将他们处理成同一个长度？另外，我是把每个样本都append到了一个list中，请问对于这个list我要不要把他转换成mapdataset？感谢

[2022-06-17 08:18] dlkht opened #43627 "混合精度训练 Layout AutoTuning is not available问题"
### 请提出你的问题 Please ask your question

混合精度训练 时出现Layout AutoTuning is not available警告，怎么样屏蔽掉

[2022-06-17 08:26] yt605155624 commented on #43627
可以尝试在 python 代码开头增加如下代码
[code]

[2022-06-17 08:37] kisaragychihaya opened #43628 "在windows下编译报错"
### 问题描述 Issue Description

编译指令
[code]
[code]
产生了错误
[code]

### 版本&环境信息 Version & Environment Information

Paddle version: None                                                                                                    Paddle With CUDA: None

[2022-06-17 08:38] kisaragychihaya commented on #43628
Release/2.3

[2022-06-17 08:49] zhwesky2010 commented on #43628
@kisaragychihaya 你好，develop的体积小一些，可以用develop版本编

[2022-06-17 08:49] zhwesky2010 commented on #38987
@friendan  你好，develop的体积小一些，可以用develop版本编

[2022-06-17 08:52] an1018 commented on #43602
请问是什么任务字典，如果方便，可以展示个截图

[2022-06-17 08:56] dlkht commented on #43627
好像不行，那个warning是layout_autotune.cc发出的

[2022-06-17 09:00] Chucy2020 opened #43631 "读取batch时报错，ctrl+c无法暂停。"
### bug描述 Describe the Bug

这是代码
![UPI TZEX~{M(E$1H I{@ZHF](https://user-images.githubusercontent.com/73978694/174265178-47cbb9fa-5f95-444d-af35-893c7b0bf6c6.png)
下面是报错
![VW6@K7QW KS{3_97)428 VW](https://user-images.githubusercontent.com/73978694/174265261-da15612c-7358-4083-92bb-8c78091d1888.png)

### 其他补充信息 Additional Supplementary Information

paddle2.2

[2022-06-17 09:09] Chucy2020 commented on #43602
![image](https://user-images.githubusercontent.com/73978694/174266365-27070898-8f06-40ad-bed5-48a9bc3e9ebc.png)
![A~IEJL208B QW8RI7V`%RYE](https://user-images.githubusercontent.com/73978694/174266392-41ec848d-2dcd-420a-b9bd-11f1cad9f698.jpg)

第一张图是每个样本的字典，图二是n个样本。

[2022-06-17 09:10] yt605155624 commented on #43627
如果一定要屏蔽 c++ 的警告，或许可以修改 c++ 代码屏蔽警告，参考 https://blog.csdn.net/leesoul_tylee/article/details/7024540 再重新编译 paddle

[2022-06-17 09:14] dlkht commented on #43627
好的，谢谢！

[2022-06-17 09:14] Chucy2020 commented on #43602
![image](https://user-images.githubusercontent.com/73978694/174267133-823b21e8-dc6c-4183-a524-e4886f1de44d.png)
![image](https://user-images.githubusercontent.com/73978694/174267197-5589ab6e-172b-4d1b-bab1-803d0e5beb67.png)
下面是我的代码，运行后报错，而且无法ctrl+c暂停。

![Uploading VW6@K7QW[KS{3_97)428[VW.png…]()

[2022-06-17 09:20] #43627 closed, assigned to yt605155624

[2022-06-17 09:34] linjieccc commented on #43631
您好，能否提供下最小可复现代码

[2022-06-17 09:42] w5688414 commented on #43602
请提供一下示例代码和demo数据。或者使用https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/TensorDataset_cn.html#tensordataset

[2022-06-17 10:00] Chucy2020 commented on #43631
![image](https://user-images.githubusercontent.com/73978694/174275855-0fe9b77a-a688-499b-a618-c93be11b2fc6.png)
![image](https://user-images.githubusercontent.com/73978694/174275927-2cc0cb2f-e687-4f55-a5e8-686ead133c12.png)
shang'm上面是我运行的代码
![A~IEJL208B QW8RI7V`%RYE](https://user-images.githubusercontent.com/73978694/174276005-e171e56b-2561-4790-94c4-223734a07732.jpg)
数据格式如下，下面是一个yang'li样例，上面是n个样本

[2022-06-17 10:01] Chucy2020 commented on #43631
![image](https://user-images.githubusercontent.com/73978694/174276279-0c8a9b4b-5cd1-40cf-83e6-db94003495cf.png)
这是一个样本的样例。

[2022-06-17 10:06] yt605155624 commented on #43631
请把代码和数据粘贴出来我们才好帮你复现，否则我们还要手动敲代码，很浪费时间

[2022-06-17 11:01] #43593 closed, assigned to an1018

[2022-06-17 11:01] #43582 closed, assigned to an1018

[2022-06-17 11:01] #43580 closed, assigned to an1018

[2022-06-17 11:02] #43566 closed, assigned to an1018

[2022-06-17 11:26] Kevin-XiongC commented on #43375
strided_slice和set_value 这两个我理解索引逻辑应该一样的op，貌似实际处理时也不一样？如下图所示，同一个slice参数，strided_slice读了三个entry，但是set_value改写了四个entry，按照『如果start和end的值小于0，会先加上shape_size』这个逻辑ends+4会变成0，因为是左闭右开区间[3,0)，所以被修改的应该只有3,2,1三个索引？

看起来set_value的逻辑像是在stride小于0时和end<0时，就是取到0的闭区间？
![image](https://user-images.githubusercontent.com/22584786/174289540-65aead86-9901-41fd-a1a9-887bc0b8a250.png)

[2022-06-17 11:43] sherwin-silin-chen commented on #36895
同样的问题 forward时根据epoch来前向传播不同的子网络，DDP会报错，单卡可以训练

[2022-06-17 11:48] MARKLIN1000 opened #43637 "average_window_rate这个参数怎么设置啊？"
### 请提出你的问题 Please ask your question

class paddle.incubate.ModelAverage(average_window_rate, parameters=None, min_average_window=10000, max_average_window=10000, name=None)

API文档没写清楚啊

[2022-06-17 12:36] yt605155624 commented on #43637
可以看一下源码的 docstring https://github.com/PaddlePaddle/Paddle/blob/a072fca8229b26042fe24bff42989533e1d2050a/python/paddle/incubate/optimizer/modelaverage.py#L28

[2022-06-17 13:17] kisaragychihaya commented on #43628
![image](https://user-images.githubusercontent.com/39751846/174305806-63a78085-dd62-473d-bd8c-8d836060af99.png)
dev分支依旧有这个问题

[2022-06-17 13:24] Chucy2020 commented on #43631
好的，不好意思哈，现在我将代码复制下来了。如下。麻烦大佬们帮忙解答疑惑，感谢。
import paddle
from paddlenlp.data import Stack, Dict, Pad
from paddlenlp.datasets import MapDataset

batch_size = 2
data_list = []
data_path="data.txt"
with open(data_path,encoding="utf-8") as f:
    for line in f.readlines():
        one_exapme = line.strip()
        data_list.append(eval(one_exapme))

data_list = MapDataset(data_list)

 for idx in range(1)

[2022-06-17 13:25] Chucy2020 commented on #43631
import paddle
from paddlenlp.data import Stack, Dict, Pad
from paddlenlp.datasets import MapDataset

batch_size = 16
data_list = []
data_path="dev384.data"
with open(data_path,encoding="utf-8") as f:
    for line in f.readlines():
        one_exapme = line.strip()
        data_list.append(eval(one_exapme))

data_list = MapDataset(data_list)

for idx in range(2):
    print(data_list[idx]['input_ids

[2022-06-17 13:30] kisaragychihaya opened #43640 "编译dev分支依旧遇到大小问题"
### 问题描述 Issue Description

[code]
![image](https://user-images.githubusercontent.com/39751846/174308045-afe4c145-454c-4597-afa1-1f54173dddf9.png)

### 版本&环境信息 Version & Environment Information

CUDA 11.3
CPU R9 5950X with AVX2 OpenBlas
Paddle Ver:5a5649c28541a1bd2c754e9a67d5d3636f587929
GPU RTX2080s
Win10 py37 VS2017

[2022-06-17 13:48] yt605155624 commented on #43640
same as https://github.com/PaddlePaddle/Paddle/issues/43628

[2022-06-17 13:48] #43640 closed, assigned to yt605155624

[2022-06-18 02:07] tiancaishaonvjituizi commented on #33892
+1，低效率的基础设施会损耗所有开发者的时间

[2022-06-18 02:19] dlkht opened #43643 "混合精度训练对gpu卡有什么要求"
### 请提出你的问题 Please ask your question

GPU卡一定要具有tensor core吗？
没有的话可不可以通过什么设置或驱动可以做混合精度训练？
谢谢！

[2022-06-18 04:34] #40489 closed, assigned to WenmuZhou

[2022-06-18 06:11] MARKLIN1000 opened #43644 "由mask[batch_siza,seq.length]怎么获得embeding对应的attention_mask值，并没有get_extended_attention_mask这个方法啊，请问有没有对应的API"

[2022-06-18 06:35] gdhy9064 opened #43645 "paddle.jit.to_static results in wrong gradients"
### bug描述 Describe the Bug

使用paddle.jit.to_static会导致反向传播后得到错误的梯度，复现代码如下
[code]
如果使用上面的代码计算得到的仅有的一个参数的梯度为4，如果把`out2 * 2 + out1 * 1`改成`out1 * 1 + out2 * 2`则能得到正确的梯度5

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-18 08:43] xiaotingyun opened #43647 "AI Studio中lightgbm使用gpu报错"
### 请提出你的问题 Please ask your question

x = np.random.randn(3,10)
y = np.random.randint(0,2,size=[3])
lightgbm = LGBMClassifier(device= 'gpu', gpu_platform_id=0, gpu_device_id=0)
lightgbm.fit(x,y)
![image](https://user-images.githubusercontent.com/51204375/174430092-98e53974-5f06-4a7d-9fb0-26794685da06.png)

[2022-06-18 13:01] xianshiji commented on #40735
具体就是训练集与验证集不一致，代码细节处有问题，验证集中样例的特征数量可能不同，可以打印出来看一下或者debug一下，会有异常项

[2022-06-19 03:41] MARKLIN1000 opened #43650 "拼接embedding和mask后传入encoder报错无法解决"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/82072274/174464823-74640f42-e093-4161-87ff-beef379e5627.png)
![image](https://user-images.githubusercontent.com/82072274/174464827-11fcbd48-7635-49f1-ae44-a6e30aa97d42.png)
![image](https://user-images.githubusercontent.com/82072274/174464837-6bf241aa-12d6-4346-aa76-427adee9c67a.png)
![image](https://user-imag

[2022-06-19 04:10] #43650 closed, assigned to 1649759610

[2022-06-19 04:10] MARKLIN1000 commented on #43650
已经解决

[2022-06-19 15:11] mingren8888 commented on #41977
遇见了一样的问题

[2022-06-20 00:29] MARKLIN1000 opened #43653 "paddle有哪些预训练好的embedding层模型？"
### 请提出你的问题 Please ask your question

paddle有哪些预训练好的embedding层模型？比如说像hfl/chinese-roberta-wwm-ext之类的

[2022-06-20 00:39] #43653 closed, assigned to Liu-xiandong

[2022-06-20 00:39] MARKLIN1000 commented on #43653
已解决

[2022-06-20 00:40] MARKLIN1000 opened #43654 "vedio编码器如何可以用与文本共享的同空间emb来处理呢？"
### 请提出你的问题 Please ask your question
![image](https://user-images.githubusercontent.com/82072274/174509315-ee3bd46f-531a-4687-baaf-624868017010.png)
![image](https://user-images.githubusercontent.com/82072274/174509339-1b855486-bd2c-4482-bfa5-dd18b1874087.png)

问题一：视频特征抓取后是浮点数的特征tensor，位于[0,1]之间。如何能够映射呈int64型的tensor呢？就像经过tokenizer处理过一样，要符合BERT的输入呢？或者符合别的预训练好的embedding层模型的输入呢？
我的意愿呢是想让视频和文本这两个特征经过一

[2022-06-20 00:55] mingren8888 commented on #43086
怎么手动释放predictor呢？析构函数调用了也没有见显存释放，只有关闭程序后才释放了

[2022-06-20 01:21] errorplayer opened #43655 "在AIstudio保存训练好的模型，停止项目后面重新启动项目再载入模型，发现预测效果跟之前比差得离谱"
### 请提出你的问题 Please ask your question

我训练好的模型保存好，后面载入的模型跟之前训练好的模型预测效果存在肉眼可见的离谱差别。

模型保存代码：
`paddle.save(intent_model.state_dict(), "checkpoint/intent_model.pdparams")`
`paddle.save(slot_model.state_dict(), "checkpoint/slot_model.pdparams")`
`hidden_intent_model.save('checkpoint/hidden_intent_model')`
模型加载代码：
`intent_state_dict = paddle.load("checkpoint/intent_model.pdparams")`
`slot_state_dict = p

[2022-06-20 02:10] BrilliantYuKaimin opened #43656 "【PFCC-Roadmap】完善 API 文档写作标准"
## Roadmap

飞桨中文文档托管在 [PaddlePaddle/docs](https://github.com/PaddlePaddle/docs/) 仓库下，相关的贡献指南在 https://github.com/PaddlePaddle/docs/wiki ，其中的《[飞桨 API 文档书写规范](https://github.com/PaddlePaddle/docs/wiki/飞桨API文档书写规范)》是内容方面的规范，而《[飞桨文档写作规范](https://github.com/PaddlePaddle/docs/wiki/飞桨文档写作规范)》是格式方面的规范。虽然有这些规范在，但现在的[飞桨 API 文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/index_cn.html)

[2022-06-20 02:39] gglin001 opened #43658 "CI ENV "grep: warning: GREP_OPTIONS is deprecated; please use an alias or script""
### 问题描述 Please describe your issue

使用 构建的 docker 环境, terminal 会出现

来自于

https://github.com/PaddlePaddle/Paddle/blob/cf0d6027f9a2a10cdeb0eb43d863bd409a19ba2c/paddle/scripts/docker/root/.bashrc#L28

请问可以fix一下吗?

ref
https://stackoverflow.com/questions/31156517/how-to-get-rid-of-grep-warning-grep-options-is-deprecated-please-use-an-alia

[2022-06-20 02:53] zhwesky2010 commented on #43628
@betterpig 看下这个问题吧

[2022-06-20 02:59] betterpig commented on #43628
麻烦提供一下cmake命令运行之后的log。

[2022-06-20 03:33] Chucy2020 commented on #43631
麻烦您抽时间看下这个是什么问题？感谢，每次运行for step, batch in enumerate(train_data_loader):就会陷入死循环，ctrl+c无法强制暂停。

[2022-06-20 03:34] Chucy2020 commented on #43631
麻烦您抽时间看下这个是什么问题？感谢，每次运行for step, batch in enumerate(train_data_loader):就会陷入死循环，ctrl+c无法强制暂停。

[2022-06-20 03:48] Kevin-XiongC opened #43663 "Set_value与Strided_slice的索引逻辑不一致"
### bug描述 Describe the Bug

Related to #43375

strided_slice和set_value这两个我理解索引逻辑应该一样的op，貌似实际处理时也不一样？如下图所示，同一个slice参数，strided_slice读了三个entry，但是set_value改写了四个entry，按照上述issue中回答的『如果start和end的值小于0，会先加上shape_size』这个逻辑ends+4会变成0，因为是左闭右开区间[3,0)，所以被修改的应该只有3,2,1三个索引？

看起来set_value的逻辑像是在stride小于0时和end<0时，就是取到0的闭区间？

![image](https://user-images.githubusercontent.com/22584786/174521481-310a089f-702e-4a11-b6d

[2022-06-20 05:19] w5688414 commented on #43643
只要GPU支持FP16的精度就可以实现AMP，看看您的gpu型号是否支持fp16，(补充需要Tensor Core)

[2022-06-20 05:21] w5688414 commented on #43644
谢谢您的反馈，t5模型支持，可以参考这个来实现： https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/t5/modeling.py

相关功能正在开发中

[2022-06-20 05:51] MARD1NO opened #43665 "cublasLt workspace size error?"
### 请提出你的问题 Please ask your question

[size_t workspace_size = static_cast<size_t>(4) * 1024 * 1024 * 1024;](https://github.com/PaddlePaddle/Paddle/blob/a3730dc87bc61593514b830727e36e5d19e753cd/paddle/fluid/operators/fused/fused_gemm_epilogue_op.cu#L137)

maybe it is 4 * 1024 * 1024?

[2022-06-20 06:05] dlkht commented on #43643
我用Tesla P100-SXM2，支持FP16，但用AMP后发现训练速度没什么变化，内存也是。

[2022-06-20 06:12] w5688414 commented on #43643
请问您的代码是怎么写的？

混合精度训练的代码可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/performance_improving/amp_cn.html

[2022-06-20 06:41] chenwhql commented on #43525
Thanks, we know the reason why mem_desc is introduced here, but this is still not a good design. In addition to the volume problem, the memory layout of DenseTensor in paddle compiled with MKLDNN is different from the DenseTensor in paddle compiled without MKLDNN. We will  try to adjust the design here, and discuss with you when we have an idea.

[2022-06-20 06:55] linjieccc commented on #43631
请问该情况是可以稳定复现的么，我这边用您提供的数据demo测试了下是可以正常运行的，通过ctrl-C可以立刻终止。

[2022-06-20 07:01] #42972 closed, assigned to yaomichael, wozna

[2022-06-20 07:07] Chucy2020 commented on #43631
![image](https://user-images.githubusercontent.com/73978694/174544145-d629e411-19b5-4a38-8636-568c2083d306.png)

感谢您抽时间解答我的问题，我这里还是那个问题，当运行那个for step, batch in enumerate(train_data_loader):时，无法执行之后的程序，而且一直无法强制暂停，直到一定时间后程序被调试机强制killed。不知道这是怎么回事。

[2022-06-20 07:10] jianjia93 opened #43669 "pytorch的gather算子paddle实现"
### 需求描述 Feature Description

对三维tensor在dim=3维度上进行torch.gather操作，无法直接用paddle.gather或者paddle.gather_nd实现，自己实现的替代版本速度过慢，有没有速度与pytorch一致的paddle实现版本呢？
torch.gather的功能如下：
<img width="513" alt="image" src="https://user-images.githubusercontent.com/11729328/174544570-bb8c6bf1-cfdb-4fcb-9b5f-b8e3a7e28bcd.png">

### 替代实现 Alternatives

_No response_

[2022-06-20 07:38] Chucy2020 commented on #43631
您好，感谢大佬们抽出宝贵时间为我们解答，我又测试了这个代码，现在可以了，但是前面为什么会一直无法强制停止的问题还是不知道，还有上面时另一个类似代码运行出现无法强制停止的例子，可能是我自己的原因触发了什么吧。

[2022-06-20 07:39] dlkht commented on #43643
我是训练ocr，按照这个指令训练的，没改到代码
https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.5/doc/doc_ch/recognition.md （“2.4 混合精度训练")

[2022-06-20 07:48] Liu-xiandong commented on #43669
你好，可以使用一下take_along_axis这个API，具体链接见：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/take_along_axis_cn.html#take-along-axis 。
目前issue上有一个类似的问题，可以参考一下 https://github.com/PaddlePaddle/Paddle/issues/39637

[2022-06-20 07:52] y-yunheng opened #43671 "使用model.fit训练与使用低级api训练结果差别很大"
### 问题描述 Please describe your issue

我使用model.fit训练与使用低级api训练结果差别很大，因为截图不便 所以只截取了前五个epoch的训练 实际上 到了20个epoch的时候 低级api训练的第一个准确率可以到达0.9而model.fit()训练的仅0.49，
现在我只能展示图片，无法直接公开项目。
链接：https://pan.baidu.com/s/1H2xGmjgL_J9pncWHVmgvkg
提取码：zpgz
以上是图片描述，请问开发者 model.fit 是否存在特定的训练策略？

[2022-06-20 08:09] w5688414 commented on #43643
在使用相同的超参数下，混合精度训练使用半精度浮点（FP16）和单精度（FP32）浮点即可达到与使用纯单精度训练相同的准确率，并可加速模型的训练速度，这主要得益于英伟达从Volta架构开始推出的Tensor Core技术。

paddleocr的问题，可以在ocr的repo提交issue。https://github.com/PaddlePaddle/PaddleOCR/issues

[2022-06-20 08:17] #43590 closed, assigned to an1018

[2022-06-20 08:20] dlkht commented on #43643
好的，谢谢！

[2022-06-20 08:29] Aurelius84 commented on #43645
感谢您的反馈，我复现下～

[2022-06-20 08:34] w5688414 commented on #43647
谢谢您的反馈，LGBMClassifier不属于paddle的API，是第三方的API，aistudio相关的问题请联系aistudio的相关开发人员

[2022-06-20 08:35] Liu-xiandong commented on #43658
你好，目前这一行的打印提示是为了说明grep命令输出高亮字，并不影响程序的运行。你给出的链接已经说明了如何将其关闭。目前paddle并没有将其关闭的计划。感谢你的提问~

[2022-06-20 08:52] jadehh commented on #42341
最新的Paddle2.3只支持cuda11.2 ，在30系列的显卡上测试发现显存增加，速度也变慢

[2022-06-20 08:54] jadehh opened #43675 "RTX30系列显卡"
最先的Paddle2.3在30系列的显卡上，推理速度变慢，而且显存占用也更多，是不是最新的Paddle还没有适配30系列的显卡

[2022-06-20 09:57] leiqing1 commented on #43560
Paddle训练框架在安装的时候，默认不带TensorRT（因为考虑很多开发者只是训练）所以如果要使用Paddle Inference的TensorRT功能，需要开发者重新下载带TensorRT的包。

[2022-06-20 10:05] JiabinYang commented on #42433
原则上Eager是不支持使用Tracer的，目前的情况只是一个兼容形态，后期会逐步抛弃imperative的内容

[2022-06-20 10:38] zhangting2020 commented on #43627
我们在该功能的日志等级上设置存在问题，后面会修复。目前可以通过环境变量，避免日志的输出
[code]

[2022-06-20 10:40] LukeLIN-web opened #43680 "transform: failed to synchronize: cudaErrorLaunchFailure: unspecified launch failure"
### bug描述 Describe the Bug

Codes:
https://www.paddlepaddle.org.cn/documentation/docs/zh/practices/reinforcement_learning/actor_critic_method.html

paddle-gpu==2.3.0, cuda10.2,cudnn 7
 pip install gym

It failed in training process:
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-20 10:40] WenmuZhou commented on #42870
你好，目前不能这么实现哈，我们这边后续会添加官方实现，到时候会在此回复

[2022-06-20 10:42] OccupyMars2030 commented on #43217
没有。我看到paddle.optimizer.lr.CosineAnnealingDecay 的注释里面说“only implements the cosine annealing part of SGDR, and not the restarts.”，所以我想尝试自己实现“ restarts”部分，以后我会自己尝试实现后提交PR。我提交这个issue，更多的是为了记录自己的学习过程，你们可以忽略或者直接关闭这个issue

[2022-06-20 10:48] OccupyMars2030 commented on #43217
this issue is just for my personal  self-learning

[2022-06-20 11:05] Liu-xiandong commented on #43665
你好，感谢你的提醒，这个地方的设置确实有误。已经通知了相关研发人员。

[2022-06-20 11:20] Aganlengzi commented on #42322
@yaomichael , Thank you! I will close this issue since we will discuss a better way in https://github.com/PaddlePaddle/Paddle/issues/43525

[2022-06-20 11:20] #42322 closed, assigned to lidanqing-vv, jakpiase

[2022-06-20 11:25] Aganlengzi commented on #43525
@yaomichael @jczaja hi, Thank you, I closed https://github.com/PaddlePaddle/Paddle/issues/42322, we can discuss it later here. And please notice that set_layout() is not only used by MKLDNN.

[2022-06-20 11:57] OccupyMars2030 commented on #43261
Emm..  I know  your  code.  But what I  want  is  in-place operation.  Because I  don't quite understand the mechanism  of  in-place operation   and  those matrix  stuff,   so  I  don't  know what  to say.  You  can  just  ignore or  close this issue.   Thank you  for  your  answer.

[2022-06-20 11:59] OccupyMars2030 commented on #43260
Thank you  for  your  answer.

[2022-06-20 12:37] Liu-xiandong commented on #43671
你好，对比了你截图中的训练结果，前5个epoch的训练确实没有太大的差异。目前model.fit()的训练策略可见：https://github.com/PaddlePaddle/Paddle/blob/release/2.3/python/paddle/hapi/model.py#L1557 。与低级api的训练方式并无本质不同。不过，对比了你给出的代码。两者所使用的batch_size有所不同，建议尽可能地将两者对齐再进行对比。

[2022-06-20 12:57] Liu-xiandong commented on #43654
你好，我看你这边主要是具体的算法应用问题，而不是框架运行中所产生的错误。请问你是从paddle套件中复现相关代码所产生的问题吗？

[2022-06-20 13:12] Liu-xiandong commented on #43655
你好，你的问题可以尝试两个思路解决。一、将优化器的参数进行保存和加载；二、再仔细看看加载的参数和保存的参数是否是一致的，可以将某一层的参数打印出来对比看是否该过程出现问题，具体的参数打印方式可以参考：
![image](https://user-images.githubusercontent.com/85323580/174609011-98d70b15-8105-4268-b527-a7bf0f4ac6ee.png)

此外，目前给出的代码较少，难以准确地判断错误。可以将最小的可复现的代码公开出来，以更好地解决问题。感谢你的提问~

[2022-06-20 13:40] Liu-xiandong commented on #43680
你好，看报错信息是由于multinomial的输入参数不符合规范。看你给出的code链接是paddle的官方case，请问是否有修改其他内容呢？比如数据或者参数之类的内容。可以再仔细看一下该部分的参数输入，https://github.com/PaddlePaddle/Paddle/blob/release/2.3/paddle/phi/kernels/gpu/multinomial_kernel.cu#L64

[2022-06-20 14:13] gglin001 commented on #42433
got it, thx

[2022-06-20 16:07] wozna commented on #43364
Together with @zuzg, we fixed elementise_mul quantization in this PR https://github.com/PaddlePaddle/Paddle/pull/43693 and it should fix the error.
@yeliang2258  Please check on your side if the model is working correctly.

[2022-06-21 01:28] DevilcLo commented on #43477
使用ninja可以进行Release2.3的完美编译

[2022-06-21 01:54] Aganlengzi commented on #43680
Error: /paddle/paddle/phi/kernels/gpu/multinomial_kernel.cu:67 Assertion `in_data[id] >= 0.0` failed. The input of multinomial distribution should be >= 0, but got nan.
Traceback (most recent call last):

@LukeLIN-web 你好请注意报错显示输入的数据有`nan`值，所以抛出异常了

[2022-06-21 02:19] #43637 closed, assigned to yt605155624

[2022-06-21 02:20] LukeLIN-web commented on #43680
没有修改任何内容, 我又重新复制了一遍, 还是同样错误

[2022-06-21 02:21] LukeLIN-web commented on #43680
输入是https://www.paddlepaddle.org.cn/documentation/docs/zh/practices/reinforcement_learning/actor_critic_method.html 源代码,没有任何改动

[2022-06-21 03:48] kevinng77 opened #43699 "paddlepaddle 2.3.0 repeat_interleave 算子反向传播时出现 `Segmentation fault`"
### bug描述 Describe the Bug

### bug描述
paddle 版本：`paddlepaddle==2.3.0`
运行环境：docker; `nvidia-docker pull registry.baidubce.com/paddlepaddle/paddle:2.3.0-gpu-cuda11.2-cudnn8`

采用 `paddle.repeat_interleave` + `paddle.concat` 的模块，对于相同的输入，前项传导没问题，在反向传播时候，会有不同的几率出现 segmentation fault。
个人在复现 [CANINE](https://github.com/kevinng77/canine_paddle/blob/6a3644bcddb7f9eacfd8e4e79a6e1b0cdf5c8f98/canine/modeling.p

[2022-06-21 03:53] tiancaishaonvjituizi opened #43700 "[Feature Request] 在 OpTest 基类中自动 enable_static"
### 需求描述 Feature Description

原始链接：https://github.com/PaddlePaddle/Paddle/issues/42469#issuecomment-1159341459

用户在 OpTest 测试用例里是不会调用任何 paddle op 的，paddle op 是由 OpTest 内部代码调用的，而且如上面交流里所说，这些 OpTest 内部代码又只能在静态图模式下工作。所以这样一来唯一合法的选择是在 OpTest 运行前 enable_static()、在 OpTest 运行结束后恢复原始的模式。那为什么不把这一逻辑写在 OpTest 内部呢

### 替代实现 Alternatives

_No response_

[2022-06-21 04:10] tiancaishaonvjituizi opened #43701 "为什么前向和后向 kernel 必须写在不同的文件里"
### 请提出你的问题 Please ask your question

原始链接：https://github.com/PaddlePaddle/Paddle/pull/42469#issuecomment-1161214926

把前向和后向 kernel 写在不同的文件里有什么好处呢，在我看来这只是盲目地遵守了一套八股文规则，对代码复用是有损害的，前后向 kernel 之间经常存在一些可以复用的逻辑，且这些逻辑是 specific to 当前的 kernel、没有普适性的。如果拆成两个文件，这些逻辑
1. 要么不复用，在两个文件里各写一份。这增加了维护成本
2. 要么 public 在头文件里。这增加了开发者要写的 boilerplate code，也带来了命名冲突/抽象泄漏的问题。

而且新增一个 op 需要在 8 个文件里跳转（以我正在实现的 nan_to_num 为例，是 n

[2022-06-21 05:00] y-yunheng commented on #43671
你好！我查找了原因，因为Accuracy类是我继承paddle.metric.Metric复写的，我用低级API训练时，当一个Epoch结束后，在下面执行测试函数Gmodel.evaluate(self.test_loader)。**但是Gmodel.evaluate并没有在里面执行 acc.reset()** 即准确度没有重置。
我在Gmodel.evaluate(self.test_loader) 上一行添加了acc.reset() 此时model.fit训练与使用低级api训练结果几乎一样了。

[2022-06-21 05:03] lidanqing-vv commented on #43364
[code]
@yeliang2258  I just merge that PR casue I have tested this issue with that PR and it is fixed.
I need to merge the PR as soon as possible because I need to cherry-pick for 2.3.1

[2022-06-21 06:01] lx1054331851 opened #43705 "paddleX Linux桌面版，选择多卡，但是实际未使用多张显卡"
### 问题描述 Please describe your issue

![image](https://user-images.githubusercontent.com/12423206/174727037-785bfe43-ecdc-4259-8bb3-f53fc9d1931a.png)

# 已经选择了4张显卡
![image](https://user-images.githubusercontent.com/12423206/174727164-45b0763d-5c30-4b72-8b3b-08cf32d04fbd.png)

# 但是实际只用了1张显卡
![image](https://user-images.githubusercontent.com/12423206/174727192-d61a4b0e-5b84-4ab2-a820-e87ff4cb787f.png)

[2022-06-21 06:19] Liu-xiandong commented on #43671
棒棒，找到了原因就好~

[2022-06-21 06:23] yeliang2258 commented on #43364
![image](https://user-images.githubusercontent.com/30516196/174730341-c8c7c284-4958-45b4-805d-22c857c7a740.png)
I verified here, it is indeed fixed

[2022-06-21 06:26] fanweiya commented on #24788
same error in paddlepaddle-gpu==2.1.1.post110 SegFormer

[2022-06-21 06:30] #43364 closed, assigned to yaomichael, wozna, lidanqing-vv

[2022-06-21 06:40] MARKLIN1000 opened #43707 "class paddle.nn.Transformer中memory_mask参数怎么获得？"
### 请提出你的问题 Please ask your question

class paddle.nn.Transformer中memory_mask参数怎么获得？

[2022-06-21 06:42] #32765 closed, assigned to zhwesky2010, danleifeng

[2022-06-21 06:43] #33516 closed, assigned to Shixiaowei02

[2022-06-21 06:43] #33523 closed, assigned to Shixiaowei02

[2022-06-21 06:43] #33525 closed, assigned to Shixiaowei02

[2022-06-21 06:43] #33557 closed, assigned to LielinJiang

[2022-06-21 06:43] #33599 closed, assigned to zhiqiu

[2022-06-21 06:43] #33604 closed, assigned to zhiqiu

[2022-06-21 06:43] #33619 closed, assigned to DannyIsFunny

[2022-06-21 06:43] #33620 closed, assigned to haoyuying, DannyIsFunny

[2022-06-21 06:43] #33645 closed, assigned to jiweibo

[2022-06-21 06:43] #33652 closed, assigned to jiweibo, pangyoki

[2022-06-21 06:43] #33672 closed, assigned to liym27

[2022-06-21 06:43] #33673 closed, assigned to liym27

[2022-06-21 06:43] #33675 closed, assigned to liym27

[2022-06-21 07:18] wangzhen38 commented on #43699
感谢发馈，我复现下～

[2022-06-21 07:23] wangzhen38 commented on #43707
可参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Transformer_cn.html#forward-self-src-tgt-src-mask-none-tgt-mask-none-memory-mask-none

[2022-06-21 07:30] minogame opened #43710 "The inplace clip_ operator triggers ValueError"
### bug描述 Describe the Bug

如下代码所示，inplace的clip_算子叶子节点无法使用，而无下划线的版本不会影响叶子节点内的数值

[code]

此段代码输出为

[code]

### 其他补充信息 Additional Supplementary Information

参考此处代码，不能按照预设逻辑工作
https://github.com/PaddlePaddle/PASSL/blob/main/passl/modeling/backbones/clip.py#L316-L337

[2022-06-21 07:49] Liu-xiandong commented on #43680
你好，我目前在paddle-gpu==2.3.0, cuda10.2,cudnn 7上并没有复现出你的问题，能否提供更多的信息呢，比如所使用的GPU卡型号、操作系统、CPU型号等相关硬件信息。

[2022-06-21 07:49] chenwhql commented on #43701
1. 首先解释下为什么前反向kernel会分开放置？

- 如您所述，前反向拆开一方面文件数增多了，一些原本能组织到一起的代码也需要分开放置，这确实不好，但这个当时是因为要解决推理编包裁剪的问题。在之前paddle fluid中的算子，前反向实现是写到一起的，但是推理场景仅需要使用前向的kernel，为了减小体积，推理在编译时，采用了你最看不过去的正则匹配，将反向的代码匹配删掉生成一个新的文件，再去编译。因此这次在重新实现时，推理前置强调这个需求的重要性，要求能够用相对自然的，非ugly的方式选择不编译所有反向kernel，所以就拆分成两个文件了，推理编译的时候就不编译反向文件了
- 关于这一点，我理解关键点其实在于，反向的kernel更多地应该复用前向的kernel去实现，而不是每个反向都单独编写，这样的话，会减少很多不必要的实现，这个我们正在做了 ，但历史代码很多，重建成本也比较高，周

[2022-06-21 08:01] tiancaishaonvjituizi commented on #43701
是不是这样理解：这个不是期望的算子实现方式，但期望的算子实现方式也是一样需要创建 8 个文件

按照这种实现，原来 .cc 和 .cu 之间可以通过 impl 复用的代码现在也不能复用了吗

[2022-06-21 08:04] chenwhql commented on #43701
然后目前的kernel实现主要是从原来的fluid/operators下面迁移过来的，迁移的时候为了不引入不确定性，逻辑基本都是尽可能保持不变的，所以现在kernel太散了，其实能复用的也没怎么复用起来。

我们正在看怎么调整体系，后续应该是少量基础算子保持kernels/xxx_kernel.h, kernels/cpu/xxx_kernel.cc, kernels/gpu/xxx_kernel.cu, kernels/xpu/xxx_kernel.cc, ...这样，大部分算子在上层只有kernels/xxx_kernel.h, kernels/xxx_kernel.cc这样的形式，这个需要一定周期

[2022-06-21 08:10] chenwhql commented on #43701
这个目前确实是的，但是funcs下面的文件不需要严格一一对应，同性质的工具函数可以尽可能放到同一个文件中，当然改动的文件数是一致的。impl这个目录的定位是混乱的，只能放cpu和gpu的，下沉是必要的，否则可能有很多组合，cpu和xpu，xpu和gpu等等，硬件数是比较多的

cc和cu本就是两种实现，通过头文件中统一的函数声明去复用即可，大量带模板参数的函数体都放到头文件中，编译时效率也是比较低的

[2022-06-21 08:13] chenwhql commented on #43701
比如像kernels/funcs下面的math_function.h，这种是比较合理的分层实现。

[2022-06-21 08:19] gitliuyf opened #43715 "equal单测失败，测试不同输入shape的x和y，报错paadle"
### bug描述 Describe the Bug

我跑python单测的时候，报错提示为：
148 Trying example: run_test(
149     prog_config=equal{'axis': 0} + cast{'in_dtype': 0, 'out_dtype': 5} -- [input_data_x: {'shape': (2,), 'lod': None, 'dtype': dtype('float32')}][input_data_y: {'shape':     (2, 4), 'lod': None, 'dtype': dtype('float32')}][place_holder_weight: {'shape': (1,), 'lod': None, 'dtype': dtype('float32')}],
150 )
151 Trace

[2022-06-21 08:24] tiancaishaonvjituizi commented on #43701
这样是合理的

然而这样还是要改 8 个文件，这个 8 是这样组成的：(1 + 1 + 2) * (1 + 1)
也就是 (可选的 func 文件 + kernel 头文件 + 每种设备各一个实现文件) * (前向 + 后向)

所以能看出如果前向后向能写在一个文件里，8 就会变成 4，如果必须要写在两个文件，那后续也会有 xpu1/some_op_kernel.cc、xpu1/some_op_grad_kernel.cc、xpu2/some_op_kernel.cc、xpu2/some_op_grad_kernel.cc 等等，那个时候新增一个 op 就总共需要新增 12 个文件（更加哭笑不得了）而不是通常期望的 6 个文件，这意味着后续的删除、修改可能都需要一个一个操作这 12 个文件，如您所说 “硬件数是比较多的”，“考虑到后续新增硬件的成本”，这种组合爆炸我感觉并不是合理的，您觉得

[2022-06-21 08:27] tiancaishaonvjituizi commented on #43701
我有些不知道该怎么说，这些奇怪的情况（每个 kernel 写八个文件、每个 python op api 里有三个 if 分支）好像说起来都有不得不这样的原因，但又没听说过其它框架有这些情况。关于每个 python op api 里有三个 if 分支的事情，我在[这里](https://github.com/PaddlePaddle/Paddle/pull/42431#discussion_r874407607)写了看法，后来没有得到回复，我现在仍然持有这个看法 —— 从一开始的某个不起眼的决策开始就埋下了错误的种子 😂

[2022-06-21 08:28] #42855 closed, assigned to nobody

[2022-06-21 08:28] #43499 closed, assigned to linjieccc, LielinJiang

[2022-06-21 08:30] whaleprince opened #43718 "paddle里LBFGS的使用问题"
### 请提出你的问题 Please ask your question

采用paddle.incubate.optimizer.functional.minimize_lbfgs进行网络训练时，需要提供一个函数func和参数，采用二阶优化方式进行训练的时候，看文档的意思是，损失函数得定义成网络参数的表达式，这怎么实现？

我这里采用闭包定义了一个损失函数，但是训练的时候会报错，请问这个具体该怎么实现？

def train_batch(x, model, loss, weight, optimizer, log_loss, lambda_Re, lambda_Im,):
    optimizer.clear_grad()
    def clouser():
        h = model.feature_transform(x)
        w = model(h)

[2022-06-21 08:32] chenwhql commented on #43701
是的，肯定是不好的，所以现在我们的建设方向是这样：

1. 提升复用程度，避免每个反向kernel都需要手写实现，而是通过声明配置的方式去复现前向实现
2. 建设元算子体系，上层算子更多地复用实现，减少从0开始实现kernel的绝对数量
3. 编译器建设，前反向整图元算子拆解，将复杂的前反向都拆分正小的基础运算，再通过fuse策略去加速

所以后续我们会将kernel开发的文件变成 1 + 1，即 头文件 + 前向kernel

[2022-06-21 08:36] chenwhql commented on #43701
说实话，我非常认同你的看法，特别是：

`通俗的讲就是只想着赶紧做业务，忽视了对底层代码的维护和迭代，所以屎山代码越堆越大，直到某一天爆雷了，才意识到要花十倍的时间去弥补`

所以现在我收拾这个烂摊子也极其痛苦且无奈😂，但我对于你说的这个整体的决策趋势无力改变，软件是有生命周期的，规范性问题积累多了不去处理，软件就会死去，paddle毕竟是开源代码，至少目前还是能推动去投入弥补之前的错误，不至于完全绝望

[2022-06-21 08:42] chenwhql commented on #43701
麻烦再多给一些耐心吧，你前前后后讨论的多个问题，作为局外人我和你感同身受，但目前我是局内人，我们还需要去一步步解决这些无论是历史的还是新增的问题

[2022-06-21 08:44] LukeLIN-web commented on #43680
我用镜像启动运行还是不行.
我是用 dockerhub的镜像.
启动后
Successfully installed cloudpickle-2.1.0 gym-0.24.1 gym-notices-0.0.7
GPU : Tesla T4,
OS : Linux. 4.15.0-180-generic #189-Ubuntu SMP Wed May 18 14:13:57 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
CPU : Intel(R) Xeon(R) Gold 6240 CPU @ 2.60GHz

[2022-06-21 08:52] zyfncg commented on #43663
经定位这是set_value的一个bug，已在[PR43694](https://github.com/PaddlePaddle/Paddle/pull/43694)中修复

[2022-06-21 09:00] tiancaishaonvjituizi commented on #43701
🤝🤝 理解，祝 paddle 越来越成功

[2022-06-21 09:04] czx94 commented on #28296
Meet the same problem

[2022-06-21 09:10] chenwhql commented on #43701
感谢理解

[2022-06-21 09:15] gzsvip commented on #43560
的确是这样，直接pip paddle是不带trt的版本，要下载专门编好带trt的预测库，或自己编译，明白 了

[2022-06-21 09:15] #43560 closed, assigned to ZhangHandi

[2022-06-21 09:20] #43663 closed, assigned to zyfncg, Liu-xiandong

[2022-06-21 09:22] #43669 closed, assigned to Liu-xiandong

[2022-06-21 09:24] #43647 closed, assigned to w5688414

[2022-06-21 09:25] #43671 closed, assigned to Liu-xiandong

[2022-06-21 09:27] #43658 closed, assigned to Liu-xiandong

[2022-06-21 09:32] Liu-xiandong commented on #43680
你好，看了你的硬件参数，暂时无法判断出错的原因。建议你在不同的硬件上尝试一下，如果硬件资源不足，可以使用paddle的AI studio。

[2022-06-21 09:33] kisaragychihaya commented on #43628
[log.txt](https://github.com/PaddlePaddle/Paddle/files/8947595/log.txt)
[CMakeOutput.log](https://github.com/PaddlePaddle/Paddle/files/8947597/CMakeOutput.log)
[CMakeError.log](https://github.com/PaddlePaddle/Paddle/files/8947598/CMakeError.log)

[2022-06-21 10:31] #43568 closed, assigned to an1018

[2022-06-21 11:07] betterpig commented on #43628
log.txt中的NVCC_FLAGS_EXTRA内容显示，默认编译了多个cuda架构的Paddle。在cmake命令中加上选项 `-DCUDA_ARCH_NAME=Auto -DNEW_RELEASE_PYPI=ON` 试试。

[2022-06-21 11:27] #43715 closed, assigned to yeliang2258

[2022-06-21 11:34] wangzhen38 commented on #43718
请稍等，已联系该接口负责同学

[2022-06-21 12:05] #43548 closed, assigned to ZhangHandi

[2022-06-21 12:05] #43535 closed, assigned to ZhangHandi

[2022-06-21 12:24] sfraczek opened #43731 "FLAGS_use_system_allocator not working in an int8 test"
FLAGS_use_system_allocator doesn't work in a test below:
[code]
I have also tried to pass this gflag as --use_system_allocator=true, --use_system_allocator=1, and FLAGS_use_system_allocator=1
Is this a bug or is this expected?

[2022-06-21 12:39] zhoutianzi666 commented on #35795
<img width="831" alt="image" src="https://user-images.githubusercontent.com/39978853/174800999-8a61a468-ac5a-44ec-a2a9-377344982494.png">
这个主要是由于std::ceil是个不连续的函数导致的。建议参考上面截图解决。

https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/arange_cn.html#arange

[2022-06-21 12:41] kisaragychihaya commented on #43628
[code]
没用，log.txt里面还是一堆
[code]
[log.txt](https://github.com/PaddlePaddle/Paddle/files/8948937/log.txt)

[2022-06-21 13:03] kisaragychihaya commented on #43628
我GPU换成了RTX3080 LHR，日志里面显示Automatic GPU detection failed.

[2022-06-21 13:12] betterpig commented on #43628
把build目录删掉再试一下。NVCC_FLAGS_EXTRA是cmake cache变量，重新cmake不会更新。此外，建议使用ninja作为generator。

[2022-06-21 13:36] kisaragychihaya commented on #43628
还是探测失败，我手动指定试试看得了

[2022-06-21 13:37] yangy996 opened #43737 "华为云的鲲鹏arm服务器编译报错"
### bug描述 Describe the Bug

华为云的鲲鹏arm服务器，编译PaddlePaddle到一半报错：

[ 47%] Linking CXX static library libunsqueeze_op.a
[ 47%] Built target unsqueeze_op
Scanning dependencies of target lu_unpack_op
[ 47%] Building CXX object paddle/fluid/operators/CMakeFiles/lu_unpack_op.dir/lu_unpack_op.cc.o
In file included from /root/OCR/paddlepaddle/Paddle/paddle/fluid/operators/memcpy_h2d_op.cc:12:0:
/root/OCR/pad

[2022-06-21 13:39] yangy996 commented on #43737
版本是release/2.3的分支

[2022-06-21 13:43] betterpig commented on #43628
之前是没有探测失败的吧。那你加上cuda的路径吧，形如 `-DCUDA_TOOLKIT_ROOT_DIR="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2"`

[2022-06-21 15:21] Victory8858 commented on #43001
您好，在命令行运行，最后三行的结果依然结果不对，感觉是显卡型号问题（出问题版本3070 Paddle2.3.0+CUDA11.2），我尝试用其他电脑（非三系显卡）安装Paddle2.3.0+CUDA10.2版本，结果正常。
![image](https://user-images.githubusercontent.com/47514961/174836065-d436e855-4457-4272-94e9-2da350d6578c.png)

[2022-06-21 15:34] kisaragychihaya commented on #43628
指定ARCH_BIN为61 72 75 86后正常编译了

[2022-06-21 15:40] yangy996 commented on #43737
编译release/2.2的分支版本正常，但是release/2.3的分支就报上面的错误

[2022-06-21 15:53] cole-dda opened #43741 "arm编译失败"
### bug描述 Describe the Bug

在ubuntu 20:04，aarch64上编译，release/2.3，gcc9.4.0 出现如下错误：

Paddle/paddle/fluid/platform/profiler.cc:615:19: error: moving a local object in a return statement prevents copy elision [-Werror=pessimizing-move]
  615 |   return std::move(thr_events);
      |          ~~~~~~~~~^~~~~~~~~~~~

使用develop终于编译成功了，但是拿到华为的arm服务器上运行，出现：

python/lib/python3.8/site-packages/paddle/fluid/c

[2022-06-21 16:02] cole-dda commented on #42358
哪里有编译好的linux下的，arm64，aarch64的包？

[2022-06-22 02:14] chenwhql commented on #43675
感谢反馈，我们分析一下问题，有结论再答复您

[2022-06-22 02:55] wangzhen38 commented on #43737
感谢反馈，请发一下编包命令，及描述下编包环境，我这边先复现下

[2022-06-22 02:59] yangy996 commented on #43737
编译命令就是官网提供的
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/arm-compile.html
系统环境
![image](https://user-images.githubusercontent.com/15188456/174934118-77385e48-75d2-49bd-99bb-b591f5c030bf.png)

[2022-06-22 03:12] wangzhen38 commented on #43710
感谢反馈，稍等我复现下问题

[2022-06-22 03:23] ZhangHandi commented on #43565
hi，请问v1到v2版本的转换器是指什么呢？

[2022-06-22 03:26] linmuchuiyang commented on #43565
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/model_convert/migration_cn.html

[2022-06-22 03:31] FlyingQianMM commented on #43480
如果用c++推理可以正常使用trt加速的话，需要排查下是否是生成dll的代码和qt调用的问题。

[2022-06-22 03:43] wangzhen38 commented on #43710
使用inplace不能有梯度，需要把tester.param_a和tester.param_b的stop_gradient设置为True

[2022-06-22 05:07] qili93 commented on #43737
请参考这个文档进行编译，CMAKE的时候加上 `-DCMAKE_CXX_FLAGS="-Wno-error -w"` 的编译选项

https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/docs-official/guides/hardware_support/cpu_phytium_cn.md

[2022-06-22 06:29] #41482 closed, assigned to TCChenlong

[2022-06-22 07:12] #43375 closed, assigned to 2742195759

[2022-06-22 07:14] #43710 closed, assigned to wangzhen38

[2022-06-22 07:15] #43707 closed, assigned to wangzhen38

[2022-06-22 07:17] rightpeach commented on #43705
请去paddleX github下提issue

[2022-06-22 07:17] #43705 closed, assigned to wangzhen38

[2022-06-22 07:19] rightpeach commented on #43718
请去PaddleScience github 下提issue

[2022-06-22 07:19] #43718 closed, assigned to nobody

[2022-06-22 07:47] HaoRan98 opened #43755 "预训练的词向量模型能否往里面添加词"
### 请提出你的问题 Please ask your question

词向量模型 w2v.baidu_encyclopedia.target.word-word.dim300 可以自己再往里面添加数据么，如果可以，有没有实例可以参考下

[2022-06-22 08:00] #43737 closed, assigned to wangzhen38

[2022-06-22 08:05] fan-min-97 opened #43756 "基于paddle的模型部署"
### 请提出你的问题 Please ask your question

aistudio中有个基于paddlepaddle的yolov5的复现，训练出的模型只有一个文件，是best,pdparams，后期如何导出部署？有教程或者文档吗。

[2022-06-22 08:52] IamMegatron2025 opened #43759 "怎么把静态图的权重参数转成动态图的权重参数？"
### 请提出你的问题 Please ask your question

您好， 我有个权重参数，是用老版本paddle（可能是1.6）的静态图训练的，现在想用转成新版本paddle动态图的权重参数，有相关文档吗？期待回复。

[2022-06-22 09:09] haohongxiang commented on #43756
@fan-min-97 可以参考paddle官网的教程，进行动转静部署。https://www.paddlepaddle.org.cn/tutorials/projectdetail/3714002

[2022-06-22 09:13] haohongxiang commented on #43759
@IvyGongoogle 可以参考下PaddleNLP的模型转换脚本，主要是参数名称的映射。

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie/static_to_dygraph_params/match_static_to_dygraph.py

[2022-06-22 11:05] Aurelius84 commented on #43645
您好，这个问题已经复现，我们在develop分支已经修复，见：https://github.com/PaddlePaddle/Paddle/pull/43688

[2022-06-22 11:15] gdhy9064 commented on #43645
好的，那我关了这个issue

[2022-06-22 11:15] #43645 closed, assigned to Aurelius84, w5688414

[2022-06-22 11:39] SigureMo opened #43766 "macOS (M1) 编译 develop 分支失败"
### 问题描述 Issue Description

M1 设备编译 develop 分支（ 4c9330d65a8028881eb27ebe5f421a89c96e1101 ）失败，失败时 log 如下：

<img width="879" alt="image" src="https://user-images.githubusercontent.com/38436475/175013603-a6124395-e318-4dfa-9616-6b7df236566f.png">

完整 log 见 [cmake.log](https://github.com/PaddlePaddle/Paddle/files/8976955/cmake.log) 和 [make.log](https://github.com/PaddlePaddle/Paddle/files/8976956/make

[2022-06-22 12:26] Tongfengyu commented on #40350
paddle.linalg 下没有cov这个算子吗？我看官方文档有介绍[https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/linalg/cov_cn.html#cov]，
我现在跑了一下也报错了
![1](https://user-images.githubusercontent.com/82866148/175028486-2b4e9eff-42b3-4d86-86c6-f2a5b729af69.PNG)

[2022-06-22 12:44] SigureMo commented on #40350
在这个 issue 的时候 2.3 还没有发布，2.2 应该确实是没有这个 API 的（至少 2.2 文档里是没有的）

我试了下，2.3 是有这个 API 的：

[code]

也许你用的是 2.2？

[2022-06-22 13:19] 1649759610 commented on #43755
训练时可以加载额外的词表，通过extended_vocab_path进行指定：
self.embedder = TokenEmbedding(args.embedding_name, extended_vocab_path=vocab_path)

可参考以下例子：
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/word_embedding

[2022-06-22 13:49] yz-tang opened #43773 "macOS通过pip安装paddlepaddle，在用import测试时报错"
### 问题描述 Issue Description

pip安装完成之后，进行import测试时，报下面的错误
![image](https://user-images.githubusercontent.com/62792991/175045093-5a6d540f-1ae6-4bf2-8e36-d698254acd9f.png)

在执行summary_env.py程序时，也报同样的错误

### 版本&环境信息 Version & Environment Information

1.PaddlePaddle版本：2.3.0
2.CPU：mac M1
4.系统环境：Mac OS 12.4

[2022-06-22 14:43] SigureMo commented on #43766
抱歉，才发现提错类别的 issue 了，应当是 `🗂 安装 Build/Installation Issue` 类别，我补充了下模板里的运行 `summary_env.py` 的结果（不过对于本 issue 貌似并没啥有价值的内容）

[2022-06-22 17:01] minogame commented on #43710
@wangzhen38 @Ligoml 二位有认真看我的问题描述吗？

请参考贵司发布的PASSL框架的此处代码，没有按照预设逻辑工作，
logit_scale是一个可以接受梯度用以训练的参数，但是其在超过一个范围之内要被clip，
stop_gradient设置为True要如何去训练这个参数？

https://github.com/PaddlePaddle/PASSL/blob/main/passl/modeling/backbones/clip.py#L316-L337

[2022-06-23 02:05] XYZ-916 commented on #43773
你好，貌似是gflags反复安装的问题。请尝试删除gflags再安装paddle。

[2022-06-23 03:09] firestonelib commented on #43362
多卡训练有梯度规约操作，因此模型参数的所有正向输出必须参与loss的计算以及后续的梯度计算，建议把other 变量放在forward 函数内，用分支做判断。

[2022-06-23 03:13] yz-tang commented on #43773
请您仔细看下截图里报的gflags冲突的两个路径。
/Users/paddle/work/**_pengyuqi_**/Paddle/build_py39/third_party/gflags/src/extern_gflags/src/gflags.cc 和
/tmp/gflags-20211021-3963-1mi18ai/gflags-2.2.2/src/gflags.cc 。
这两个路径在我电脑上根本不存在
我加粗的那个用户名：pengyuqi，这个好像是个人名吧？
在我自己电脑上安装，怎么报错路径里有别人的名字呢？

[2022-06-23 03:41] Tongfengyu commented on #40350
用的paddledetecion 2.4

[2022-06-23 03:44] Tongfengyu commented on #40350
对 我的问题，我拉取的镜像是2.2的

[2022-06-23 06:19] Tongfengyu commented on #40350
![image](https://user-images.githubusercontent.com/82866148/175228739-9fdfba8c-8885-493f-8fe2-3699c09408a5.png)
现在cov算子可以了，但是在求逆paddle.linalg.pinv这里，我的win是可以跑通的，linux报错如上

[2022-06-23 07:16] XYZ-916 commented on #43773
试下卸载gflags和glog，看看还有没有问题。

[2022-06-23 07:31] heliqi commented on #43538
我这边在linux上使用release/2.4开启mkldnn，能正常运行。
测试图片为： PaddleDetection/demo/000000014439.jpg

[2022-06-23 07:34] heliqi commented on #43538
请问能提供下测试图片吗？
我这边使用release/2.4d的代码,开启mkldnn和关闭mkldnn得到的结果一致。
测试模型:  cascade_mask_rcnn_r50_fpn_1x_coco
测试图片:  PaddleDetection/demo/000000014439.jpg
mkldnn测试结果:

class_id:0, confidence:0.9910, left_top:[505.72,112.47],right_bottom:[596.84,271.13]
class_id:0, confidence:0.9302, left_top:[464.69,15.16],right_bottom:[471.88,33.67]
class_id:0, confidence:0.9192, left_top:[364.44,58.28],right_bottom:[381.

[2022-06-23 08:01] #43194 closed, assigned to AshburnLee

[2022-06-23 08:02] SigureMo commented on #43194
已于 https://github.com/PaddlePaddle/docs/pull/4944 修复

[2022-06-23 08:24] lijilai commented on #36801
ubuntu 18.04 gcc5 gcc6 gcc10 gcc11均不行。

[2022-06-23 08:50] developWmark commented on #42828
这个问题还是没有解决

[2022-06-23 08:50] developWmark commented on #42828
已经一个月了

[2022-06-23 08:52] fan-min-97 commented on #43756
复现项目是这个。https://aistudio.baidu.com/aistudio/projectdetail/2580805，在动转静的用于部署时：
执行代码：
import paddle
from yolo import *
from models.common import *
from models.experimental import *
from utils.autoanchor import check_anchor_order
from utils.general import check_version, check_yaml, make_divisible, print_args, LOGGER
from utils.plots import feature_visualization
from utils.paddle_utils import copy_att

[2022-06-23 08:54] rainyfly commented on #42828
之前有联系过aistudio的同学，但是aistudio这个平台牵涉面比较广，这个环境问题没有这么容易做出改变，如果您本地有卡，您可以先在本地尝试跑下，或者只开启CPU的性能分析看看work不work

[2022-06-23 08:55] rainyfly commented on #42828
您有安装cupti吗，可以按照上面说的链接cupti

[2022-06-23 09:24] wjddd opened #43786 "可以通过paddle.save把句向量tensor保存到txt文件中吗？"
### 请提出你的问题 Please ask your question

例如保存为{sentence: tensor}的形式？

[2022-06-23 09:51] #42433 closed, assigned to JiabinYang

[2022-06-23 09:52] XYZ-916 commented on #43786
您好，paddle.save可以保存Tensor，具体保存了它的名字和数值，没有保存stop_gradient等属性。paddle.save 的输入参数 path 将直接作为存储结果的文件名而非前缀，所以是可以保存成txt文件的。具体API见https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/save_cn.html#save。

[2022-06-23 10:00] developWmark commented on #42828
我本地环境也是conda管理的，用conda装的cudatoolkit不能用，必须要装cuda.run

[2022-06-23 10:15] gglin001 commented on #33892
相关的PR
https://github.com/PaddlePaddle/Paddle/pull/42283

部分第三方库在cmake配置中 hard code使用了 `make`  构建, 将这些修改后应该就能够基本支持 ninja构建(同时兼容正在使用的 make 工具)

希望官方能够重视这个问题, 尽早提供支持

[2022-06-23 10:16] #43755 closed, assigned to juneweng

[2022-06-23 10:44] Kunlun-Zhu opened #43790 "Difference between paddle layernorm and pytorch layernorm"
### 请提出你的问题 Please ask your question

Hi, we tried using this layernorm in this[ file](https://github.com/PaddlePaddle/Research/blob/master/KG/CoKE/bin/model/transformer_encoder.py)

and we didn't get the same results as the layernorm function in pytorch.

Could you have a brief look on this, thanks a lot.

[2022-06-23 11:41] XYZ-916 commented on #43790
您好。paddle实现的layernorm和pytorch实现是有些区别的，但是精度可以对齐到1e-5级别。您这边如果结果相差很多的话，能否提供下测试用例，我们这边详细看下，谢谢～

[2022-06-23 11:45] XYZ-916 commented on #43790
https://github.com/PaddlePaddle/Research/blob/master/KG/CoKE/bin/model/transformer_encoder.py这个文件里面的layer_norm实现不是Paddle框架里的实现，而且是19年比较老的版本了。Paddle框架实现请参考：https://github.com/PaddlePaddle/Paddle/blob/release/2.3/python/paddle/nn/layer/norm.py#L439

[2022-06-23 12:31] fan-min-97 opened #43795 "动转静模型i保存nference模型用于部署"
### 请提出你的问题 Please ask your question

[code]

在动态转静态时， input_spec=[InputSpec(shape=[None, 784], dtype='float32')]) ，总是报错，写成这样的报错是需要4-5个dimension写成 input_spec=[InputSpec(shape=[None, 3,60,640], dtype='float32')])，显示float需要的的是str或者number，而不是list。请问这个地方怎么写呢？

[2022-06-23 17:11] minogame opened #43802 "RuntimeError for paddle.nn.functional.paddle when dtype=bool"
### bug描述 Describe the Bug

[code]

### 其他补充信息 Additional Supplementary Information

[code]

[2022-06-24 02:05] zhaoyinglia commented on #43802
你好，根据官方文档，该api的参数x不支持 dtype=bool 的数据类型。

[2022-06-24 02:06] zhaoyinglia commented on #43802
你好，根据官方文档，该api不支持 dtype=bool 的数据类型。https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/functional/pad_cn.html#canshu

[2022-06-24 02:14] Aurelius84 commented on #43795
可否提供下你的model.forward 函数签名？

[2022-06-24 02:15] hjing100 opened #43805 "ImportError: cannot import name 'io'"
### 请提出你的问题 Please ask your question

EventTriplesExtraction-master/baidu_svo_extract.py", line 8, in <module>
    from ddparser import DDParser
  File "/export/anaconda3/envs/python36j/lib/python3.6/site-packages/ddparser/__init__.py", line 24, in <module>
    from .run import DDParser
  File "/export/anaconda3/envs/python36j/lib/python3.6/site-packages/ddparser/run.py", line 47, in <module>

[2022-06-24 02:32] zhaoyinglia commented on #43805
您好，错误可能是由于您本地安装 Paddle 版本较低，建议根据该版本依赖来安装。https://github.com/baidu/DDParser#%E7%89%88%E6%9C%AC%E4%BE%9D%E8%B5%96 。如未能解决还请继续反馈，谢谢。

[2022-06-24 02:33] zhaoyinglia commented on #43805
您好，错误可能是由于您本地安装 Paddle 版本较低，建议根据该版本依赖来安装。如未能解决还请继续反馈，谢谢。https://github.com/baidu/DDParser#%E7%89%88%E6%9C%AC%E4%BE%9D%E8%B5%96

[2022-06-24 02:53] OleNet opened #43809 "当前的 Paddle 2.2 在 Inference 的时候，支持并行策略 Sharding 吗？"
### 请提出你的问题 Please ask your question

当前的 Paddle 2.2 在 Inference 的时候，支持并行策略 Sharding 吗？

[2022-06-24 03:05] wjddd commented on #43786
可以在保存Tensor的同时保存对应的句子吗？

[2022-06-24 03:52] zhaoyinglia commented on #43809
你好，目前 sharding 提供的接口都是针对训练模型的，暂不支持推理。

[2022-06-24 03:56] yeliang2258 opened #43811 "RuntimeError: could not create a primitive descriptor for a reorder primitive when inference with MKLDNN"
### bug描述 Describe the Bug

When inference with MKLDNN on CPU, report the following error:
RuntimeError: could not create a primitive descriptor for a reorder primitive when inference with MKLDNN.
![image](https://user-images.githubusercontent.com/30516196/175459243-296c5f35-b2d0-4a07-a5c7-33a78c060bbb.png)

My model and script:
[bug_report.tar.gz](https://github.com/PaddlePaddle/Paddle/files/8973

[2022-06-24 04:00] Ligoml commented on #40739
该问题在2.3版本已完成修复https://github.com/PaddlePaddle/Paddle/pull/41070

[2022-06-24 04:04] #40120 closed, assigned to minghaoBD

[2022-06-24 04:07] Ligoml commented on #40021
v2.3 已经在5月底正式发布，可以试一下哈

[2022-06-24 04:07] Rhett98 commented on #40021
这是来自QQ邮箱的自动回复邮件。你好，我已收到你的邮件，我查看后会尽快给你回复。

[2022-06-24 04:17] #39407 closed, assigned to ForFishes

[2022-06-24 05:11] #43628 closed, assigned to yt605155624, zhwesky2010

[2022-06-24 05:13] Kunlun-Zhu commented on #43790
Thanks for the responding. I need to remake this research with pytorch and this is the part where I meet problem. The layer_norm in this project is very different which leads to this question.

[2022-06-24 06:26] heliqi opened #43817 "Enable MKLDNN is slower than native cpu"
### bug描述 Describe the Bug

When vivo model use inference，  enable mkldnn is slower than native cpu.

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-24 06:27] heliqi commented on #43817
@lidanqing-intel  @yaomichael

[2022-06-24 07:01] wuqi930907 opened #43818 "paddle.jit.save打包cython代码报错"
### 请提出你的问题 Please ask your question

您好，我将模型训练代码进行了cython加密，然后将训练的模型用PaddleInference进行推理，而当我用paddle.jit.save保存模型时报错，log如下:

File "/home/server010/.local/lib/python3.7/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__
    return wrapped_func(*args, **kwargs)
  File "/home/server010/.local/lib/python3.7/site-packages/paddle/fluid/dygraph/base.py", line 40, in __impl__
    retur

[2022-06-24 07:04] wuqi930907 opened #43819 "paddle.jit.save保存cython加密的代码报错"
### 请提出你的问题 Please ask your question

您好，我将模型训练代码进行了cython加密，然后将训练的模型用PaddleInference进行推理，而当我用paddle.jit.save保存模型时报错，log如下:

File "/home/server010/.local/lib/python3.7/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__
    return wrapped_func(*args, **kwargs)
  File "/home/server010/.local/lib/python3.7/site-packages/paddle/fluid/dygraph/base.py", line 40, in __impl__
    retur

[2022-06-24 07:31] Zedd66 opened #43821 "solov2运行时返回对象result为空"
### 请提出你的问题 Please ask your question

在使用paddle中solov2模型时，上传图片请求数据返回时的json对象中的result是空值导致无法继续进行，并且服务端没有报错，请问是什么原因还有如何解决

![QQ图片20220624153059](https://user-images.githubusercontent.com/86654889/175485992-99b23981-50e2-4737-bbd5-8b3f45cc8e91.png)

[2022-06-24 07:45] XYZ-916 commented on #43786
你可以保存完Tensor后读取对应的txt文件，再把对应的句子写入文件即可。

[2022-06-24 08:01] #43790 closed, assigned to XYZ-916

[2022-06-24 08:07] zhaoyinglia commented on #43819
你好，由于原生的python函数已经被编译成cython类型了，paddle.jit.save 中依赖的第三方库 inspect 不支持 Cython 实现的函数。详情可以看 Cython 官网：https://cython.readthedocs.io/en/latest/src/userguide/limitations.html

[2022-06-24 08:16] wjddd commented on #43786
这是个方法，但读写操作会增加推理时间……

[2022-06-24 08:25] #39042 closed, assigned to tongxin

[2022-06-24 08:28] #38987 closed, assigned to nobody

[2022-06-24 08:31] zhaoyinglia commented on #43821
@Zedd66  你好，请问可以提供复现代码或更详细的报错信息和环境信息吗？目前看报错是类型错误，如未能解决还请继续反馈，谢谢。

[2022-06-24 08:36] #38379 closed, assigned to lzzyzlbb

[2022-06-24 08:38] #38917 closed, assigned to FeixLiu

[2022-06-24 08:38] #38189 closed, assigned to nobody

[2022-06-24 08:39] Zedd66 commented on #43821
`import requests
import json
import cv2
import base64

import numpy as np

def cv2_to_base64(image):

    data = cv2.imencode('.jpg', image)[1]
    return base64.b64encode(data.tostring()).decode('utf8')

def base64_to_cv2(b64str):
    data = base64.b64decode(b64str.encode('utf8'))
    data = np.fromstring(data, np.uint8)
    data = cv2.imdecode(data, cv2.IMREAD_COLOR)
    return data

# 发送HTTP请求

[2022-06-24 09:07] zhaoyinglia commented on #43821
你好，该问题已反馈给 PaddleDetection 相关人员，可在 https://github.com/PaddlePaddle/PaddleDetection/issues 重新提一个issue，会有相关技术人员帮忙解答。谢谢。

[2022-06-24 09:18] aviciiiii commented on #42667
@chenglong-do 你好请问你昇腾310后面重新编译成功了么，我目前按照手册编译成功了，但是使用时一直在报显存错误

[2022-06-24 11:18] jakpiase commented on #43817
Hi, the oneDNN's performance of this model should be fixed after merging #43803

[2022-06-24 14:11] xiaotingyun opened #43837 "运行环境不兼容"
### 文档链接&描述 Document Links & Description

https://www.paddlepaddle.org.cn/hubdetail?name=ernie_gen&en_category=TextGeneration
![image](https://user-images.githubusercontent.com/51204375/175552522-9c70eeb8-a748-45a5-8283-afaec47dcce3.png)
根据文档的说明环境，运行不了，需要手动将paddlehub进行更新，在paddle2.0环境下才能运行，然而在paddle2.3环境下，却会报cuda错误，paddle的兼容性还是有待提升，很多paddlehub中的预训练模型都存在这个问题。

### 请提出你的建议 Please give your suggestion

[2022-06-25 03:23] Tongfengyu commented on #37733
+1，我想对 paddle的 tensor 切片赋值，发现赋值后原来的值不会变化

[2022-06-25 04:13] #40211 closed, assigned to zhiboniu

[2022-06-25 04:25] fanxiaochen456 opened #43838 "PaddleSlim量化训练后输出模型计算量和参数量"
### 请提出你的问题 Please ask your question

您好，我使用PaddleSlim量化训练后的模型进行效果测试，请问怎么可以输出量化之后的模型进行一次推理的参数量Params和他所需要的计算量Flops呢？
![image](https://user-images.githubusercontent.com/101849755/175762857-8017b2eb-eb08-45d4-939c-f645eab4aa1a.png)

[2022-06-25 04:56] yeliang2258 commented on #43838
预测的时候可以只指定到模型的路径即可，例如：config = paddle.inference.Config(model_dir)

[2022-06-25 06:52] wuqi930907 commented on #43819
@zhaoyinglia 那请问下，如果我想把我的代码用cython加密，又希望使用PaddleInference进行部署，该怎么保存模型呢

[2022-06-25 07:14] fanxiaochen456 commented on #43838
@yeliang2258 谢谢您，那请问怎么可以输出量化之后模型进行一次推理的参数量Params和计算量Flops呢？

[2022-06-25 09:26] fanxiaochen456 commented on #43838
@yeliang2258 您好，就是使用paddle.flops输出推理模型的flops和每层的params，但是在加载模型变成paddle.flops可用的形式时出了点问题，

[2022-06-25 09:32] fanxiaochen456 commented on #43838
@yeliang2258
![image](https://user-images.githubusercontent.com/101849755/175767638-ad50f5c3-86c8-42ac-a11a-96b4561c0372.png)
就是这个地方，我不知道该怎样做

[2022-06-25 10:28] yeliang2258 commented on #43838
可以用如下命令：
import paddle
model = paddle.jit.load("model_path/model")
paddle.flops(model.program(), input_size, print_detail=True)

[2022-06-25 14:01] #43261 closed, assigned to nobody

[2022-06-25 14:01] #43260 closed, assigned to nobody

[2022-06-25 14:01] #43217 closed, assigned to Shixiaowei02

[2022-06-25 14:01] #42609 closed, assigned to gongel, windstamp

[2022-06-25 16:55] ProfFan commented on #43773
这个显然是打包的问题啊，你们 macOS 打包有没有 QA 啊。。。

[2022-06-26 05:26] nissansz opened #43842 "crnn的v3 模型训练到什么时候就达到极限准确度？怎么判断？"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2022-06-26 05:27] fanxiaochen456 commented on #43838
@yeliang2258 您好，我使用了您的代码，他会出现以下错误
![image](https://user-images.githubusercontent.com/101849755/175800700-ca12ab5b-d3ef-4667-8342-1ef11b48804e.png)

[2022-06-26 08:12] yeliang2258 commented on #43838
你的paddle版本是？

[2022-06-26 08:20] fanxiaochen456 commented on #43838
@yeliang2258
![image](https://user-images.githubusercontent.com/101849755/175805910-466de556-3f95-46eb-bfaf-c906c438754f.png)

[2022-06-26 08:20] fanxiaochen456 commented on #43838
@yeliang2258 所以就很奇怪为啥他就是报错

[2022-06-26 08:25] yeliang2258 commented on #43838
升级一下paddle再试试吧

[2022-06-26 08:28] fanxiaochen456 commented on #43838
最新的吗

[2022-06-26 08:34] yeliang2258 commented on #43838
是的

[2022-06-26 08:38] fanxiaochen456 commented on #43838
@yeliang2258 可以是可以了，但是为什么没有参数量的输出呢？
![image](https://user-images.githubusercontent.com/101849755/175806456-474f4345-1f9a-4728-809e-2fa0af3f12f9.png)

[2022-06-26 09:00] fanxiaochen456 commented on #43838
@yeliang2258 还有另一个问题是量化训练之后拿来做测试，我更改精度为FP32, FP16, Int8，发现FP32的推理速度比后两个速度要快，请问这个Paddle的底层api是Float32有关吗？

[2022-06-26 12:21] yeliang2258 commented on #43838
你在CPU上做的推理吗？如果是CPU上推理，你的CPU型号是？具体的性能数据是？

[2022-06-26 12:59] fanxiaochen456 commented on #43838
@yeliang2258 没在CPU上推理，只是用自己的服务器和本地的电脑的GPU跑了下

[2022-06-26 13:28] fanxiaochen456 commented on #43838
@yeliang2258 嗯，您好，为什么Paddle2.3版本的输出只有Flops呢，为什么没有Params呢？

[2022-06-27 01:23] an1018 commented on #43571
请问这个问题解决了吗，如果没解决我们再找相关同学解决下

[2022-06-27 01:51] fanxiaochen456 commented on #43838
@yeliang2258 问您一下，现在的Flops是量化训练之后的模型，那这个Flops针对的数据精度是FP32呢？还是Int8类型呢？

[2022-06-27 01:53] Caozhou1995 commented on #43842
建议固定epoch或者step数进行一次eval，可参考DEMO链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/practices/cv/pointnet.html#sixunlian

[2022-06-27 02:00] nissansz commented on #43842
当eval的准确率不再提升，就是到极限了？

![image](https://user-images.githubusercontent.com/41010669/175846326-4ff42989-eba4-4967-8eee-fa2999eff46e.png)

[2022-06-27 02:06] #43602 closed, assigned to an1018

[2022-06-27 02:19] wuyunlai opened #43844 "求助关于PPOCRLabel的不规则文本标注、关键信息标注训练的方法"
### 请提出你的问题 Please ask your question

我在用PaddleOCR自建数据级训练，想使用PPOCRLabel的不规则标注训练，来做印章定位和印章文字识别；想使用PPOCRLabel的关键信息标注训练，来做业务表单的关键信息定位和识别，但是不知道应该怎么做，请问有人知道是怎么做吗？

[2022-06-27 02:31] lbz0920 opened #43847 "\ERNIE\applications\tasks\text_matching\run_infer.py预测示例数据data\predict_data\infer.txt，比较文本相似度时，两个文本长度有限制吗？现在文本9K，也能输出相似度得分0.997043"
### 请提出你的问题 Please ask your question

\ERNIE\applications\tasks\text_matching\run_infer.py预测示例数据data\predict_data\infer.txt，比较文本相似度时，两个文本长度有限制吗？现在文本9K，也能输出相似度得分0.997043

[2022-06-27 02:43] fanxiaochen456 commented on #43838
@yeliang2258 嗯，量化训练之后的模型参数取值是Int型，但权重依旧是Float类型，是因为计算的是权重的计算量所以他输出的依旧是Flops对吗，也就是每秒的浮点数

[2022-06-27 02:50] ZHUI commented on #43571
没有的

[2022-06-27 03:25] tianxin1860 commented on #43847
你好，目前文本长度限制不超过 512。对于超长文本可以考虑采用切分成多段进行匹配。

[2022-06-27 03:30] andyjpaddle commented on #43844
您好，可以参考 https://github.com/PaddlePaddle/PaddleOCR/blob/dygraph/PPOCRLabel/README_ch.md 使用文档，PPOCRLabel目前还不支持不规则的多点标注，但是已经支持关键信息kie标注了，如有使用问题，可以到PaddleOCR的repo下面进行提问~

[2022-06-27 03:50] lbz0920 commented on #43847
请问怎么切分，使用什么工具，还是人工把文本拆分成<=512的N段文本string

[2022-06-27 04:56] topxxuki opened #43854 "runtime API 与nvcc版本不一致，导致运行出错"
### bug描述 Describe the Bug

执行命令
nvcc -V
import paddle.fluid as fluid;fluid.install_check.run_check()
![C345C81C0F026B1C3E14BB4E33CC5E92](https://user-images.githubusercontent.com/18697846/175862694-4353d954-5b65-46e4-bef7-e00a82ffe8d0.jpg)

GPU信息
![2D1D61FAF54862895861EDB158325769](https://user-images.githubusercontent.com/18697846/175862955-84cc408c-fb4a-4cc2-9dd9-8db82fde172b.jpg)

出错信息
![D7AB5

[2022-06-27 05:56] andyjiang1116 commented on #43847
可以手动加一些切分处理代码

[2022-06-27 06:00] andyjiang1116 commented on #43854
nvcc显示的是支持的最高CUDA版本，runtime是实际使用的CUDA版本，可以使用最新版paddle，推荐使用2.3

[2022-06-27 06:07] #43156 closed, assigned to TingquanGao

[2022-06-27 06:15] yeliang2258 commented on #43838
应该还是FP32的，要实际跑量化需要用PaddleInference

[2022-06-27 06:15] yeliang2258 commented on #43838
应该还是FP32的，要实际跑量化需要用PaddleInference，Paddle.flops这个API的同学我已经assign进来了

[2022-06-27 06:25] JayLee15 commented on #43538
我这边测试了下 使用ppdet2.4正常 ppdet2.3存在这个问题
我这边升级下ppdet版本使用，谢谢！

[2022-06-27 07:25] fanxiaochen456 commented on #43838
@yeliang2258 好的，谢谢您

[2022-06-27 07:26] mader89 opened #43861 "streaming_asr_server服务无法启动"
按照说明文档一步步操作，安装完成后，输入命令paddlespeech_server start，命令无法识别，在Windows系统，应该用什么工具来启动，我试过cmd，vscode，powershell都不行，又尝试了启动streaming_asr_server.py脚本，报错`demos\streaming_asr_server\streaming_asr_server.py", line 16, in <module>
    from paddlespeech.cli.log import logger
ModuleNotFoundError: No module named 'paddlespeech'`

[2022-06-27 07:38] lbz0920 commented on #43847
文本长度限制不超过 512，是512字节吗？中文文本限制512*2=1024字节还是512字节?

[2022-06-27 07:42] #43861 closed, assigned to nobody

[2022-06-27 07:49] andyjiang1116 commented on #43847
512个字

[2022-06-27 08:01] Zedd66 commented on #43821
请问能再反馈一下吗，问题还是没有解决

[2022-06-27 08:51] Victory8858 commented on #43001
可以跟进一下本问题吗，谢谢

[2022-06-27 09:45] amocken opened #43870 "建议增加对英特尔集显加速的支持"
### 需求描述 Feature Description

建议增加对英特尔集显加速的支持，这样就可以在没有独显的电脑里跑得更快了

### 替代实现 Alternatives

_No response_

[2022-06-27 11:18] Evezerest commented on #43844
你好，PPOCRLabel目前支持多点标注，升级到最新版本即可，如有后续问题可以到PaddleOCR的issue下提问

[2022-06-27 12:00] gjj123 commented on #34385
我也遇见同样的问题

版本
CUDA 11.0　
cudnn 8.0.4
paddlepaddle-gpu 版本：2.3.0.post110
python 3.6.8
机器NVIDIA A100
安装完成之后测试：

import paddle
paddle.utils.run_check()

报错同样是这个

[2022-06-27 12:01] #43821 closed, assigned to nobody

[2022-06-27 12:01] #43818 closed, assigned to zhaoyinglia

[2022-06-27 12:02] #43809 closed, assigned to zhaoyinglia

[2022-06-27 12:02] #43805 closed, assigned to zhaoyinglia

[2022-06-27 12:30] sdcb opened #43874 "建议给GPU推理库瘦身"
### 需求描述 Feature Description

现在支持GPU的推理库越来越大了，2.2.1的GPU版本只有700多MB，现在2.3.0最小的GPU版本也有1.5GB，简直离谱，你见过1.5GB一个的dll吗？这会让打包和发布遇到很大的困难。
![image](https://user-images.githubusercontent.com/1317141/175941760-a744b042-a1b9-447c-b35f-75455270a9b2.png)

建议给GPU的推理库瘦身，最好不要超过1GB——如果能拆成两个或多个dll更好。

### 替代实现 Alternatives

_No response_

[2022-06-27 18:05] jczaja commented on #43215
@yaomichael , @lidanqing-intel

Just to let you know that we are working on this one. So to effectively utilize parallelization there need to be more data to parallelize for example batches of data (batch size > 1) . And we found that some implementations of oneDNN for bigger batches do not work as fast as they should be . So we are looking at this now. After we narrow down problems with big batch

[2022-06-27 20:20] #43131 closed, assigned to LemonNoel

[2022-06-28 01:55] andyjiang1116 commented on #43874
好的，感谢反馈，该需求我们已经记录

[2022-06-28 02:19] Chucy2020 opened #43879 "Nvidia V100运行正常A100运行出bug"
### bug描述 Describe the Bug

![image](https://user-images.githubusercontent.com/73978694/176076856-54685931-1d6d-4651-a276-fba81e309a1b.png)

paddle version --> 2.2.2
cuda 11.2

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-28 02:21] JayLee15 commented on #43538
测试了多张图片发现依然存在上述问题

不开启mkldnn结果：
{'boxes': array([[0.0000000e+00, 2.9145604e-01, 2.6589603e+02, 3.6681244e+02,
        3.0432248e+02, 4.1769321e+02],
       [1.1000000e+01, 1.1651322e-01, 7.1439152e+00, 3.7374794e+01,
        4.2610181e+02, 5.0756027e+02],
       [7.3000000e+01, 3.3812910e-01, 7.8442383e-01, 3.6608387e+01,
        4.4896344e+02, 5.0576721e+02],
       [7.4000000e+01, 1.3708681e-01,

[2022-06-28 02:28] #43665 closed, assigned to Liu-xiandong

[2022-06-28 02:29] JayLee15 commented on #43538
不开启mkldnn：
{'boxes': array([[ 74.        ,   0.9945931 , 228.81963   , 152.98608   ,
        299.21884   , 223.9967    ],
       [ 74.        ,   0.95573527, 174.15001   , 180.1396    ,
        201.7896    , 236.1698    ]], dtype=float32), 'masks': array([[[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],

[2022-06-28 02:31] andyjiang1116 commented on #43870
你好，感谢反馈，我们这边记录下需求

[2022-06-28 02:39] fan-min-97 commented on #43795
class&nbsp;Model(nn.Layer):
&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;__init__(self,&nbsp;cfg='yolov5s.yaml',&nbsp;ch=3,&nbsp;nc=None,&nbsp;anchors=None,&nbsp;mode='training'):&nbsp;&nbsp;#&nbsp;model,&nbsp;input&nbsp;channels,&nbsp;number&nbsp;of&nbsp;classes
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;super().__init__()
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;isinstance(cfg,&nbsp;dict

[2022-06-28 02:54] #43538 closed, assigned to yeliang2258, ZhangHandi

[2022-06-28 02:58] JayLee15 commented on #43538
不开启mkldnn：
{'boxes': array([[7.4000000e+01, 7.0395261e-02, 3.8677655e+02, 1.3604433e+02,
        4.0381525e+02, 2.9166379e+02],
       [7.4000000e+01, 5.1174235e-02, 3.6764462e+02, 1.8386264e+02,
        3.8638199e+02, 2.4731769e+02]], dtype=float32), 'masks': array([[[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0

[2022-06-28 03:09] JayLee15 commented on #43538
test

[2022-06-28 03:12] JayLee15 opened #43883 "MaskRCNN infer时开启mkldnn后 结果矩阵混乱"
### bug描述 Describe the Bug

MaskRCNN infer时开启mkldnn后 结果矩阵混乱
关闭mkldnn:
![image](https://user-images.githubusercontent.com/25918643/176083966-5a81740f-fe8b-4c47-8ac1-17f22fe6c753.png)
开启mkldnn：
![image](https://user-images.githubusercontent.com/25918643/176084043-787dea49-d3ea-4079-a417-671df2eae364.png)

### 其他补充信息 Additional Supplementary Information

模型：
cascade_mask_rcnn_r50_fpn_1x：
https://gith

[2022-06-28 03:13] JayLee15 commented on #43883
测试了多张图片发现依然存在上述问题

不开启mkldnn结果：
{'boxes': array([[0.0000000e+00, 2.9145604e-01, 2.6589603e+02, 3.6681244e+02,
3.0432248e+02, 4.1769321e+02],
[1.1000000e+01, 1.1651322e-01, 7.1439152e+00, 3.7374794e+01,
4.2610181e+02, 5.0756027e+02],
[7.3000000e+01, 3.3812910e-01, 7.8442383e-01, 3.6608387e+01,
4.4896344e+02, 5.0576721e+02],
[7.4000000e+01, 1.3708681e-01, 4.1523376e+00, 4.0477535e+01,
4.2329196e+02,

[2022-06-28 03:14] JayLee15 commented on #43883
不开启mkldnn：
{'boxes': array([[ 74. , 0.9945931 , 228.81963 , 152.98608 ,
299.21884 , 223.9967 ],
[ 74. , 0.95573527, 174.15001 , 180.1396 ,
201.7896 , 236.1698 ]], dtype=float32), 'masks': array([[[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
...,
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0]],
[[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0

[2022-06-28 03:14] JayLee15 commented on #43883
不开启mkldnn：
{'boxes': array([[7.4000000e+01, 7.0395261e-02, 3.8677655e+02, 1.3604433e+02,
4.0381525e+02, 2.9166379e+02],
[7.4000000e+01, 5.1174235e-02, 3.6764462e+02, 1.8386264e+02,
3.8638199e+02, 2.4731769e+02]], dtype=float32), 'masks': array([[[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
...,
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0]]

[2022-06-28 03:29] lbz0920 opened #43885 "请教想c++调用paddle inference推理库，实现两个文本相似度比较，如何把文本转化为input tensor数据？"
### 请提出你的问题 Please ask your question

大概流程是？有c++示例吗

[2022-06-28 03:30] JayLee15 commented on #43538
@heliqi

[2022-06-28 03:45] shiyutang commented on #43879
报错信息在 log/worklog.0 和 log/worklog.1 下，需要打开查看详细信息从而明确问题，并在本条issue中回复。

[2022-06-28 04:04] shiyutang commented on #43885
可以参考inference 的c++示例第（4）部分： https://www.paddlepaddle.org.cn/inference/quick_start/cpp_demo.html

[2022-06-28 04:07] shiyutang commented on #43883
该问题为Paddle Detection方向问题，建议准备好最小复现代码前往PaddleDetection提问：https://github.com/PaddlePaddle/PaddleDetection/issues

[2022-06-28 04:07] topxxuki commented on #43854
在docker中执行时使用的应该是镜像中的CUDA版本，镜像中只装了11.2的cuda环境，为何paddle会去找10.2 cuda呢

[2022-06-28 04:08] topxxuki commented on #43854
在docker中执行时使用的应该是镜像中的CUDA版本，镜像中只装了11.2的cuda环境，为何paddle会去找10.2 cuda呢

[2022-06-28 05:11] lbz0920 commented on #43885
// 获取输入 Tensor
auto input_names = predictor->GetInputNames();
auto input_tensor = predictor->GetInputHandle(input_names[0]);
// 设置输入 Tensor 的维度信息
std::vector<int> INPUT_SHAPE = {1, 3, 224, 224};
input_tensor->Reshape(INPUT_SHAPE);
// 准备输入数据
int input_size = 1 * 3 * 224 * 224;
std::vector<float> input_data(input_size, 1);
// 设置输入 Tensor 数据
input_tensor->CopyFromCpu(input_data.data());

我想请教：两个文本str

[2022-06-28 05:44] Chucy2020 commented on #43879
您好，这是log/worklog.0 和 log/worklog.1 下的报错信息：
worklog.0
![image](https://user-images.githubusercontent.com/73978694/176102094-3d317c3d-9ac9-436a-ba9a-9e150398ac85.png)
worklog.1
![image](https://user-images.githubusercontent.com/73978694/176102159-312ce906-9177-42d3-aabf-884486bd65c6.png)

[2022-06-28 06:04] heliqi commented on #43538
好的，我用最新的数据复现下看看

[2022-06-28 06:04] Caozhou1995 commented on #43842
理论上说是的，在eval的数据集上达到了极限。此外建议您在实践中，还可以保存多个准确率较高的checkpoint，在您真实数据集上进行predict，选取最优的训练好的模型

[2022-06-28 06:16] shiyutang commented on #43879
你好，该问题可能是cuda版本和paddle不匹配导致，建议使用nvidia-smi查看版本，并安装对应版本的paddle 2.3。

[2022-06-28 06:23] andyjiang1116 commented on #43854
这边检验paddle安装成功与否，使用 python 进入python解释器，输入`import paddle` ，再输入 `paddle.utils.run_check()`，另外建议使用paddle2.3

[2022-06-28 06:32] yghstill commented on #43883
@JayLee15 感谢反馈，我们根据mask_rcnn_r50_vd_fpn模型复现定位下问题~

[2022-06-28 06:36] Chucy2020 commented on #43879
您好，我的cuda是11.2
![image](https://user-images.githubusercontent.com/73978694/176107741-b5c8c585-a8bf-46cf-93d5-6326bdabd4dc.png)

但是使用命令安装paddle时出现这个问题，请问这个情况该怎么处理？无法添加.post112
conda安装无法 添加cudatoolkit=11.2，请问是服务器无法连接网络的原因还是?
![image](https://user-images.githubusercontent.com/73978694/176107516-25e76952-6c6a-46da-b207-53cbe2cd714d.png)

[2022-06-28 06:45] #19358 closed, assigned to nobody

[2022-06-28 06:45] #33677 closed, assigned to FrostML

[2022-06-28 06:45] #33683 closed, assigned to cryoco

[2022-06-28 06:45] #33684 closed, assigned to cryoco

[2022-06-28 06:45] #33735 closed, assigned to zhangting2020

[2022-06-28 06:45] #33769 closed, assigned to danleifeng

[2022-06-28 06:45] #33785 closed, assigned to ForFishes

[2022-06-28 07:02] #43847 closed, assigned to andyjiang1116

[2022-06-28 07:02] #43844 closed, assigned to andyjiang1116

[2022-06-28 07:08] JZZ-NOTE commented on #43885
你好，请问你的模型输入数据是什么格式呢？我理解应该需要你做一个预处理，把 string 转为模型的输入格式。可以使用 https://netron.app/ 工具，看一下模型的输入。

[2022-06-28 07:26] yt605155624 opened #43899 "paddle/fluid/framework.py:3623: DeprecationWarning: Op `norm` is executed through `append_op` under the dynamic mode, the corresponding API implementation needs to be upgraded to using `_C_ops` method. "using `_C_ops` method." % type, DeprecationWarning)"
### 需求描述 Feature Description

api 遇到了这个 warning
如 warning 所说，动态图模式下，用的这个 api 没有走 _C_ops.xxx 实现的版本。那他会走静态图那个分支，会比较慢。修复方式就是加上这个实现
![9c913d86edcb7ac915844adf1be007ed](https://user-images.githubusercontent.com/24568452/176118927-9b7a8bb3-b1f4-432f-a218-5ecd1dba3a06.png)
参考：https://github.com/PaddlePaddle/Paddle/pull/43309

### 替代实现 Alternatives

_No response_

[2022-06-28 07:27] yt605155624 opened #43900 "paddle/fluid/framework.py:3623: DeprecationWarning: Op `slice` is executed through `append_op` under the dynamic mode, the corresponding API implementation needs to be upgraded to using `_C_ops` method."
### 需求描述 Feature Description

api 遇到了这个 warning
如 warning 所说，动态图模式下，用的这个 api 没有走 _C_ops.xxx 实现的版本。那他会走静态图那个分支，会比较慢。修复方式就是加上这个实现
![9c913d86edcb7ac915844adf1be007ed](https://user-images.githubusercontent.com/24568452/176118927-9b7a8bb3-b1f4-432f-a218-5ecd1dba3a06.png)
参考：https://github.com/PaddlePaddle/Paddle/pull/43309

与 https://github.com/PaddlePaddle/Paddle/issues/43899 类似，但是不是同一个 api

### 替代实现

[2022-06-28 07:34] lbz0920 commented on #43885
从两个文档读取内容，作为两个长文本进行相似度比较，两个string,我想先拆分为<512的N段文本string，比较短文本string的相似度，ERNIE\applications\tasks\text_matching\run_infer.py示例程序是python代码，c++调用paddle inference时不知道怎么把string转化为input tensor，需要哪些过程转化，网上示例是std::vector<float>:
(4) 设置模型输入 Tensor
// 获取输入 Tensor
auto input_names = predictor->GetInputNames();
auto input_tensor = predictor->GetInputHandle(input_names[0]);
// 设置输入 Tensor 的维度信息
std::vector<int

[2022-06-28 07:36] shiyutang commented on #43885
请问是否可以提供训练部分代码，帮助我们查看输入模型的数据是否是string？

[2022-06-28 07:41] yt605155624 opened #43901 "paddle/fluid/framework.py:3623: DeprecationWarning: Op `pad` is executed through `append_op` under the dynamic mode, the corresponding API implementation needs to be upgraded to using `_C_ops` method."
### 需求描述 Feature Description

api 遇到了这个 warning
如 warning 所说，动态图模式下，用的这个 api 没有走 _C_ops.xxx 实现的版本。那他会走静态图那个分支，会比较慢。修复方式就是加上这个实现
![9c913d86edcb7ac915844adf1be007ed](https://user-images.githubusercontent.com/24568452/176118927-9b7a8bb3-b1f4-432f-a218-5ecd1dba3a06.png)
参考：https://github.com/PaddlePaddle/Paddle/pull/43309

与 https://github.com/PaddlePaddle/Paddle/issues/43899 类似，但是不是同一个 api

### 替代实现

[2022-06-28 07:44] Cuzny opened #43902 "自定义COCO数据集的标签可以使用.txt嘛"
在coco数据集的基础上新增了两个类，然后创建的是 class, x, y, weight, height类型的.txt标签文件，可以不使用.json而使用.txt进行训练吗

[2022-06-28 07:45] lbz0920 commented on #43885
ernie官网的代码https://github.com/PaddlePaddle/ERNIE.git，python版本的，ERNIE\applications\tasks\text_matching，这个示例调用的是data\predict_data\infer.txt，比较两个文本相似度，但是是python代码，我在c++加paddle inference库中怎么对两个string文本，进行一系列处理，变成paddle inference可以用的input tensor，有没有c++示例代码，把输入的string转换成input tensor？

[2022-06-28 07:53] shiyutang commented on #43885
建议查看ernie中dataset的代码，里面应该有对文本到tensor的处理https://github.com/PaddlePaddle/ERNIE/blob/94a2367ba7f0f83b48330233450ea095d8dc9382/applications/tasks/text_matching/run_infer.py#L20

[2022-06-28 07:55] Chucy2020 commented on #43879
正如你所说，问题已解决，感谢大佬的耐心解答。

[2022-06-28 08:46] qijigaici opened #43908 "core_avx.so: undefined symbol: _dl_sym, version GLIBC_PRIVATE"
### 请提出你的问题 Please ask your question

安装命令：python3 -m pip install paddlepaddle==2.3.0 -i https://mirror.baidu.com/pypi/simple
运行： paddlespeech tts --input "你好，欢迎使用百度飞桨深度学习框架！" --output output.wav
错误提示：
Error: Can not import avx core while this file exists: /home/ctb/tools/venv/lib/python3.7/site-packages/paddle/fluid/core_avx.so
Traceback (most recent call last):
  File "/home/ctb/tools/venv/bin/p

[2022-06-28 09:02] Aurelius84 commented on #43795
抱歉，上面的代码似乎是乱码的，可否重贴一下？另外，请问你在训练时输入的Tensor的shape是什么样的？

[2022-06-28 09:03] XYZ-916 commented on #43786
那可能就没有其他办法在保存Tensor的同时保存对应的句子了，因为Tensor保存不支持自定义。

[2022-06-28 09:04] qijigaici commented on #43908
(/home/ctb/tools/venv) ctb@ctb-virtual-machine:~$ cat /proc/cpuinfo |grep -i avx
flags           : fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss syscall nx pdpe1gb rdtscp lm constant_tsc arch_perfmon nopl xtopology tsc_reliable nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt tsc_deadline_tim

[2022-06-28 09:31] gglin001 opened #43912 "faild building infrt"
### bug描述 Describe the Bug

compile command

[code]

error message

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-28 09:33] houj04 opened #43913 "关于device_guard新增设备类型支持的问题"
### 请提出你的问题 Please ask your question

目前的[`device_guard`](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/framework.py#L7016)只能支持cpu、npu和gpu。
我需要给它增加xpu的支持，粗看起来只需要把7068行的
[code]
这个数组里面加一个`'xpu'`就好了（当然7070行的注释也要对应改）。
想问的是，确实只需要改这些就够了么？

[2022-06-28 09:42] qijigaici commented on #43908
(/home/ctb/tools/venv) ctb@ctb-virtual-machine:~$ python -m pip install paddlepaddle-2.3.0-cp38-cp38-linux_x86_64.whl
ERROR: paddlepaddle-2.3.0-cp38-cp38-linux_x86_64.whl is not a supported wheel on this platform

python -m pip install paddlepaddle-2.3.0rc0-cp38-cp38-linux_x86_64.whl
ERROR: paddlepaddle-2.3.0rc0-cp38-cp38-linux_x86_64.whl is not a supported wheel on this platform.

[2022-06-28 10:16] SigureMo commented on #43766
#43834 merge 后又试了下 a8113a65a126905976b5719ec89989c1e647ddca，直接用修改后的脚本 `sh paddle/scripts/paddle_build.sh mac_m1_arm`，结果依然是一样的报错诶……

[2022-06-28 11:23] pmajchrzak opened #43914 "Build ERROR after Fix hang bug of TCPStore"
### 问题描述 Issue Description

Commit https://github.com/PaddlePaddle/Paddle/commit/4c9330d65a8028881eb27ebe5f421a89c96e1101 seems to be responsible of paddle build errors.
![image](https://user-images.githubusercontent.com/10847947/176166652-69bd3e12-dc69-4237-8c04-3d443573befe.png)
![image](https://user-images.githubusercontent.com/10847947/176166692-3840b469-6c01-4f97-b2b1-6cadb2d671b1.png)

### 版

[2022-06-28 12:14] tsocha commented on #37930
@lidanqing-intel @baoachun were can I find a VIT-OCR model in ONNXRuntime format?
Was it generated or is it stored somewhere?

[2022-06-28 13:07] gglin001 commented on #43912
## append question: 可以在不 enable tensorrt 完成编译吗?

[2022-06-28 13:14] joey12300 commented on #43885
@lbz0920 您好，目前PaddleNLP正在开发C++版本的文本预处理模块[faster_tokenizer](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/faster_tokenizer)，可以支持在Python、C++端完成 String -> ID的操作，再结合Inference 库提供的接口完成从文本到Tensor的处理。该工作还在开发中，将在不久后发布，请关注PaddleNLP的Repo获取最新进展哈：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/faster_tokenizer

[2022-06-28 14:33] nissansz commented on #43842
不知道谷歌是怎么训练的，google vision 准确度高很多

[2022-06-28 15:48] 999lengfeng opened #43921 "Triplet Loss，三元组损失"
### 需求描述 Feature Description

在学习度量学习的时候，认识到了Triplet Loss，上手后loss不收敛，模型输出固定值， pytorch的代码又看不懂，paddle的代码没发现能用得，希望能出教程 在AIstudio上

### 替代实现 Alternatives

_No response_

[2022-06-29 01:17] shiyutang commented on #43899
你的需求我们已经收到，正在进行需求评审中

[2022-06-29 01:18] shiyutang commented on #43901
你的需求我们已经收到，正在进行需求评审中

[2022-06-29 01:18] shiyutang commented on #43900
你的需求我们已经收到，正在进行需求评审中

[2022-06-29 01:20] shiyutang commented on #43902
该问题为Paddle Detection方向问题，建议前往PaddleDetection提问，同时本条issue下会有进一步跟进。https://github.com/PaddlePaddle/PaddleDetection/issues

[2022-06-29 01:27] shiyutang commented on #43908
你好，你的问题已经收到，可以参考 https://github.com/PaddlePaddle/Paddle/issues/36801 目前你的系统似乎是 paddle 不支持的系统版本

[2022-06-29 01:30] shiyutang commented on #43921
你好，paddle已经有支持triplet loss，欢迎试用：https://github.com/PaddlePaddle/Paddle/pull/40487

[2022-06-29 01:42] lbz0920 opened #43923 "使用ERNIE\applications\tasks\text_matching python示例代码测试文本相似度得分问题"
### 请提出你的问题 Please ask your question

两段短文本比较，完全不同的两个文本：
: run_infer.py:50 * 9640 ('在家电脑做什么兼职好呢\t海 尔 全自 动 洗 衣 机', '[0.22760319709777832, 0.7723968029022217]')，
这两个结果字段代表什么意思？有文档说明吗？怎么才能求出文本的相似度得分？

[2022-06-29 02:18] shiyutang commented on #43913
查看[代码](https://github.com/PaddlePaddle/Paddle/blob/bceca47a03edb322d02931207b168e2c56d5c262/python/paddle/fluid/framework.py#L2729)之后初步判断是不可行的，因为从代码可以看出，需要operator kernel支持 xpu 才可以，目前已经有一系列算子支持xpu了，对于这些operator是可以支持的。

[2022-06-29 02:20] qijigaici commented on #43908
目前ubuntu只支持18.04及以下？

[2022-06-29 02:23] shiyutang commented on #43914
please use cmake==3.16, gcc==8.2 and build on latest commit.

[2022-06-29 02:34] jiweibo commented on #43912
您好，cmake可通过 -DINFRT_WITH_TRT=OFF 禁用 trt。

该项目因人力问题已暂停开发，现阶段不保证能编过。

[2022-06-29 02:34] #43912 closed, assigned to shiyutang

[2022-06-29 02:41] #43879 closed, assigned to shiyutang

[2022-06-29 02:43] hfy-only opened #43926 "Tensor赋值无效"
### bug描述 Describe the Bug

import paddle
import numpy as np

batch, sentence_length, embedding_dim = 1, 5, 10

x_data = np.random.random(size=(batch, sentence_length, embedding_dim)).astype('int32')
# print("x_data",x_data)
# input = torch.randn(batch, sentence_length, embedding_dim)

# input[0] = torch.ones_like(input[0])
x_data = paddle.to_tensor(x_data)

x_data[0] = paddle.ones_like(x_data[0])

[2022-06-29 02:46] houj04 commented on #43913
看了上面的代码，发现即使某些operator不支持xpu，也只是报一个warning而不会挂掉对吧？那这些op会继续在cpu上跑，而能够支持的则会跑到xpu上。
如果是这样的话，我理解可以在7068行的那个数组里面把xpu加上，没有副作用。现在我遇到的问题是，有一些代码用了`device_guard`之后会直接在7068行附近挂掉。
现在的实现中有npu，但是npu也不可能支持所有的op吧？所以我感觉既然npu能放进去，那xpu应该也行……？
不知道是否我理解对了。

[2022-06-29 02:46] hfy-only commented on #43926
import paddle
import numpy as np

batch, sentence_length, embedding_dim = 1, 5, 10

x_data = np.random.random(size=(batch, sentence_length, embedding_dim)).astype('int32')
x_data = paddle.to_tensor(x_data)

x_data[0] = paddle.ones_like(x_data[0])
x_data[0][1] = paddle.to_tensor([1, 2, 2, 2, 2, 2, 2, 2, 2, 2])
print("x_data",x_data)
##  x_data Tensor(shape=[1, 5, 10], dtype=int32, place=CUDAPlace(0

[2022-06-29 02:56] fengyanWang opened #43927 "paddle 有时候训练会卡住，请问原因是什么？"
### 请提出你的问题 Please ask your question

在一台机器上有多个paddle训练任务，训练一段时间后会出现训练卡顿，只有某个任务能够正常训练，其余的几乎1-2张每秒，机器上任务情况如下：
1.多个单卡训练任务（读取同份本地数据）
2.多个单机多卡训练任务（读取本地数据），部分单机多卡任务可能开启了共享内存

使用命令查看，CPU占比正常，io读取正常

猜测原因：
1.单机多卡训练优先级高，抢占单机单卡任务资源？
2.因为任务开启了共享内存，导致其他任务资源被占用，卡顿？
3.多个单机任务读取同一份数据，导致资源竞争，卡顿？
........

在此，想问下原因是什么？望回复！谢谢！

[2022-06-29 02:57] 360AIVul opened #43928 "security@paddlepaddle.org邮箱无法递送"
### 请提出你的问题 Please ask your question

我们在使用Paddle的过程中，发现存在一些安全漏洞，按照官方的readme，发邮件到security@paddlepaddle.org这个邮箱，但是邮件显示无法递送，请问一下是什么原因？

[2022-06-29 03:00] shiyutang commented on #43913
你可以尝试修改下这部分代码，并重新编译进行尝试。

[2022-06-29 03:01] gglin001 opened #43929 "请问如何加入到 PFCC 组织中?"
### 请提出你的问题 Please ask your question

hi, 我们 team 在做 paddlepaddle 和 Graphcore IPU 芯片的集成, 看到 这里 https://github.com/PaddlePaddle/Paddle/issues/42490 有关于 AI硬件接入 的部分, 请问如何加入到到 PFCC 组织中, 我们期待能够和 paddlepaddle 框架的开发者有更多的交流!

[2022-06-29 03:05] gglin001 commented on #43929
append:

from
https://github.com/PaddlePaddle/community/tree/master/pfcc

我们已经有提交一些 PR, 见 https://github.com/PaddlePaddle/Paddle/pulls?q=is%3Apr+%5Bipu%5D+is%3Aclosed

[2022-06-29 06:22] SigureMo commented on #43929
@TCChenlong 召唤龙哥～

[2022-06-29 06:26] Ligoml commented on #43928
你好，邮件已收到，正在联系安全部门的同事检查情况，后续进展会同步在这里，感谢提出~

[2022-06-29 06:29] Ligoml opened #43938 "【PaddlePaddle Hackathon 第三期】任务总览"
## 任务目录

- <a href='#api'>API 开发</a>
- <a href='#op'>算子性能优化</a>
- <a href='#datatype'>数据类型扩展</a>
- <a href='#science'>科学计算项目贡献</a>
- <a href='#cinn'>CINN 算子开发</a>
- <a href='#openvino'>OpenVINO 项目贡献</a>
- <a href='#board'>开发板部署</a>
- <a href='#paddledtx'>链桨项目贡献</a>
- <a href='#insight'>开源社区洞察</a>
- <a href='#others'>其他项目贡献</a>

大家好，非常高兴地告诉大家，第三期 [PaddlePaddle Hackathon](https://www.paddlepaddle.or

[2022-06-29 06:47] yeliang2258 commented on #43731
The source code corresponding to test_analyzer_int8_image_classification is https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tests/api/analyzer_int8_image_classification_tester.cc，the use_system_allocator configuration is not used in the source code, so it does not take effect.

[2022-06-29 06:49] yeliang2258 commented on #43731
What is this configuration used for? Where did you see this configuration?

[2022-06-29 06:52] Aganlengzi commented on #43914
I didn't reproduce it on my environment with your CMAKE parameters
<img width="467" alt="image" src="https://user-images.githubusercontent.com/5997715/176366004-c1d42a08-24ee-4f03-8a7c-4b783cf3cc9b.png">

It seems your compiler is more strict, if cmake==3.16, gcc==8.2 can not help, please try this PR: https://github.com/PaddlePaddle/Paddle/pull/43939

[2022-06-29 06:54] chenxiaozeng commented on #43923
你好，可以在ERNIE repo下提个issue，会有相关同学解答。另外也可试试 PaddleNLP的文本相似度功能：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#%E6%96%87%E6%9C%AC%E7%9B%B8%E4%BC%BC%E5%BA%A6

[2022-06-29 07:12] shiyutang commented on #43900
请参见：https://github.com/PaddlePaddle/Paddle/blob/26187c27776e4c094228f5c573f19dba2d55e6a3/python/paddle/fluid/layers/nn.py#L11365  slice op在_in_legacy_dygraph已经掉用了Cops，因此本warning可能是版本没有更新导致，本需求也已经满足

[2022-06-29 07:16] zyfncg commented on #43926
你好，感谢反馈，多级索引不能赋值属于从静态图转向动态图时功能上的一个遗留问题，同[Issue#37733](https://github.com/PaddlePaddle/Paddle/issues/37733#issuecomment-984552202)。
这个问题我们正在跟进并尝试解决，预计会在后续的版本中对此项功能进行支持。

[2022-06-29 07:17] shiyutang commented on #43899
通过查看框架代码，norm中inf_norm和p_matrix_norm暂时不满足该掉用方式需要跟进修改：https://github.com/PaddlePaddle/Paddle/blob/release%2F2.3/python/paddle/tensor/linalg.py

[2022-06-29 07:19] yeliang2258 commented on #43731
Also, what are the results you expect? and what is the actual result?

[2022-06-29 07:28] shiyutang commented on #43901
你好，经过查看paddle代码，发现pad op也已经在legacy mode 下启用了cops：https://github.com/PaddlePaddle/Paddle/blob/26187c27776e4c094228f5c573f19dba2d55e6a3/python/paddle/nn/functional/common.py#L1367

如果仍然出现改提示，可能是需要切换paddle到最新版本

[2022-06-29 07:35] huweikkk opened #43944 "多机使用docker运行分布式任务如何获知ips的端口"
### 文档链接&描述 Document Links & Description

https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/launch.html

### 请提出你的建议 Please give your suggestion

从单机到多机分布式任务，只需额外指定ips参数即可
多机使用docker默认的方式启动，请问分布式任务默认启动端口是多少，这样docker可以使用端口映射的方式，映射出分布式任务运行的端口。

[2022-06-29 07:37] shiyutang commented on #43913
同时可以参考device_guard下npu支持的代码进行同步实现.

[2022-06-29 07:38] hfy-only commented on #43926
所以现在这个要怎么赋值呢

[2022-06-29 07:40] zyfncg commented on #43926
`x_data[0][1]` 可以换成`x_data[0, 1]`的写法

[2022-06-29 07:41] houj04 commented on #43913
这个函数的函数体，除掉注释之外，实际代码一共只有十几行，没啥特殊处理……
[code]

[2022-06-29 07:55] veyron95 commented on #43927
@fengyanWang 麻烦提供一下可复现该问题的代码、环境&版本等

[2022-06-29 09:05] Caozhou1995 commented on #43842
看您之前的eval结果，才训练到第2个epoch，建议看看多训练一会后的的结果

[2022-06-29 09:09] nissansz commented on #43842
数据集有千万。所以比较慢。之前断过一次。共训练了3个epoch。每次eval，如果结果没有改善，比之前的best结果好，还是保存之前的best模型？
谷歌的是怎么训练的？

[2022-06-29 09:22] wuqi930907 opened #43950 "paddle动态图推理速度有点奇怪"
### 请提出你的问题 Please ask your question

最近在看paddleseg项目，但是遇到一些疑问，利用动态图推理时，无论图片大小，推理速度总是一样的，这个现象好像不太对劲。已在paddleseg项目提了issue，但是没有得到回复，求问paddle项目团队，原issue链接如下：https://github.com/PaddlePaddle/PaddleSeg/issues/1980

[2022-06-29 09:28] qili93 commented on #43741
hi @cole-dda 建议编译环境和运行环境的 pagesize 要保持一致，或者可以的话最好直接在运行环境里面编译。

`ELF load command alignment not page-aligned` 这个错误是由于编译环境和运行环境下的 pagesize 不一致。

建议可以参考这个 https://github.com/numpy/numpy/issues/16677 ， 里面提到 `This issue was noticed on RHEL8/AArch64 which uses 64 KiB page size. Fedora/AArch64 and Ubuntu/AArch64 use 4 KiB page size.`。

和你的环境类似，你的编译环境是 ubuntu20.04，aarch64 page size 是4KB， 你的运行环境是 centos7.9

[2022-06-29 09:29] 1chang37 opened #43951 "kylin V10 编译paddle报错"
### 问题描述 Issue Description

Performing C SOURCE FILE Test CMAKE_HAVE_LIBC_PTHREAD failed with the following output:
Change Dir: /home/kunlun/tuili/xiazai/Paddle/build/CMakeFiles/CMakeTmp

Run Build Command(s):/usr/bin/gmake cmTC_5568b/fast && /usr/bin/gmake  -f CMakeFiles/cmTC_5568b.dir/build.make CMakeFiles/cmTC_5568b.dir/build
gmake[1]: 进入目录“/home/kunlun/tuili/xiazai/Paddle/build/CMakeFiles/CMak

[2022-06-29 10:02] czr-gc opened #43953 "为什么一些损失函数的kernel支持reduction操作，但python api仍将reduction拆分到paddle.mean/paddle.sum？"
### 请提出你的问题 Please ask your question

paddle中有些loss kernel支持reduction功能，但是实现过程中并不是将reduction直接传入loss kenerl里面，而是采用了loss_kernel + reduce_op的拼接实现方式，以kldiv_loss 为例：
[code]

为什么不直接将reduction传入到kldiv_loss的kernel中，类似：

[code]

在paddle/phi/kernels/impl/kldiv_loss_kernel_impl.h中找到了相应的reduction的处理代码：
[code]

[2022-06-29 10:04] #43741 closed, assigned to nobody

[2022-06-29 10:14] ooyuanyuan commented on #40135
我也遇到了这个问题，请问现在有解决方案了吗？
paddleocr.__version__
Out[3]: '2.5.0.3'

[2022-06-29 10:54] shiyutang commented on #43908
可以参考noavx的panddle版本安装：https://github.com/PaddlePaddle/Paddle/issues/42225

[2022-06-29 11:01] #43902 closed, assigned to yghstill

[2022-06-29 11:28] adaxiadaxi commented on #43951
@1chang37 您好，我看目录环境下是xpu的环境，咱们这里的AI加速卡是P4还是K200嘞。因为看到飞腾cpu，可能是需要国产的还款，加速卡也是英伟达的嘛

[2022-06-29 12:04] LielinJiang commented on #43953
之前在某个版本前一直是使用您说的方式，但是存在性能问题就改过来了。后续我们继续测试一下

[2022-06-29 13:16] 1chang37 commented on #43951
加速卡是p4,之前用过k200，当前去掉了

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年06月29日 19:28 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] kylin V10 编译paddle报错 (Issue #43951) |

@1chang37 您好，我看目录环境下是xpu的环境，咱们这里的AI加速卡是P4还是K200嘞。因为看到飞腾cpu，可能是需要国产的还款，加速卡也是英伟达的嘛

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because y

[2022-06-30 01:18] czr-gc commented on #43953
好的，谢谢。

[2022-06-30 01:18] #43953 closed, assigned to shiyutang

[2022-06-30 01:35] leo0519 commented on #43262
The PR is already merged.
Close the issue.

[2022-06-30 01:35] #43262 closed, assigned to nobody

[2022-06-30 01:37] fengyanWang commented on #43927
1.代码：用的是paddleDetection和paddleOCR，配置文件和官方开源的几乎一模一样
2.系统环境：Ubuntu 18.04.5 LTS   CUDA Version 10.1.243  NVIDIA UNIX x86_64 Kernel Module  460.80
3.硬件：8张  英伟达2080  显存11G
4.paddle版本信息：paddlepaddle-gpu   2.2.0.post101

[2022-06-30 03:22] qijigaici opened #43964 "paddlespeech_client 安装"
### 请提出你的问题 Please ask your question

怎么在本地Windows10 安装paddlespeech_client 用于访问服务器的paddlespeech_server服务

[2022-06-30 03:28] kuizhiqing commented on #43944
分布式训练建议使用 launch 自动配置可用端口的方式，参考最新文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/distributed/launch_cn.html

docker 部署建议使用 network host 以保证训练性能。

如果确需固定端口方式，请使用 DISTRIBUTED_TRAINER_ENDPOINTS 环境变量配置所有卡的ip和port列表。

[2022-06-30 03:33] haohongxiang commented on #43773
@ProfFan QA在非编包机器上验证过是没问题的，应该是您的环境额外安装了gflags的原因，gflags冲突是会把编译路径打出来，您这里显示的路径是编译路径。请尝试卸载gflags再安装

[2022-06-30 03:52] qili93 commented on #43951
hi, @adaxiadaxi

请发一下你的 CMAKE 命令，根据错误提示，你是在飞腾的 CPU 上开了WITH_MKL的编译选项，MKL 是只有 Intel CPU才有的功能。建议编译的时候把 WITH_MKL 和 WITH_AVX 都设置成 OFF，然后把 WITH_ARM 设置成 ON，make 命令改为 `make TARGET=ARMV8 -j$(nproc)`。

纯飞腾 CPU 的推理库编译可以参考这个文档，https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/docs-official/guides/hardware_support/cpu_phytium_cn.md , 如果是训练 WHL 包编译且是带 GPU 的版本，建议加上  WITH_GPU=ON 以及多卡需要加上 WITH_DIST

[2022-06-30 04:37] yt605155624 commented on #43964
参考安装文档 https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/install_cn.md

[2022-06-30 06:14] gglin001 opened #43965 "How to use phi C++ API in a standalone cmake project?"
### 请提出你的问题 Please ask your question

HI, 请问在安装 paddlepaddle 的 wheel 包后如何在独立的 cmake 项目中使用 phi 的C++ 接口(而不需要编译 paddle 的源码), 比如注册一些外部 kernel, 请问有如何配置的例子吗?

另外似乎 wheel 包里面只导出了头文件, 比如这个路径

[code]

请问是需要 link `core_avx.so` 吗, 还是存在 phi 相关的动态库?
[code]

[2022-06-30 06:17] 1chang37 commented on #43951
是要编译可以训练 带单个GPU的版本
cmake .. -DPY_VERSION=3.7 \
         -DWITH_ARM=ON \
         -DWITH_AARCH64=ON \
         -DWITH_TESTING=OFF \
         -DCMAKE_BUILD_TYPE=Release \
         -DON_INFER=OFF \
         -DWITH_XBYAK=OFF \
         -DWITH_GPU=ON \
         -DWITH_AMD_GPU=OFF \
         -DWITH_AVX=OFF \
         -DWITH_NCCL=ON \
         -DWITH_RCCL=OFF \
         -DWITH_MKL=OFF \
         -DWITH_M

[2022-06-30 06:20] 1chang37 commented on #43951
需要paddlepaddle带GPU训练

cmake .. -DPY_VERSION=3.7 \
         -DWITH_ARM=ON \
         -DWITH_AARCH64=ON \
         -DWITH_TESTING=OFF \
         -DCMAKE_BUILD_TYPE=Release \
         -DON_INFER=OFF \
         -DWITH_XBYAK=OFF \
         -DWITH_GPU=ON \
         -DWITH_AMD_GPU=OFF \
         -DWITH_AVX=OFF \
         -DWITH_NCCL=ON \
         -DWITH_RCCL=OFF \
         -DWITH_MKL=OFF \
         -DWIT

[2022-06-30 07:20] chenwhql commented on #43965
目前是link core_avx.so，phi目前还没有独立成库，后续才会拆分

目前我们有相应的自定义算子和自定义kernel机制，您看下是不是可以参考：

https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/custom_op/new_cpp_op_cn.html

https://www.paddlepaddle.org.cn/documentation/docs/zh/dev_guides/custom_device_docs/index_cn.html

[2022-06-30 07:27] gglin001 commented on #43965
好的, 我看到了如何配置 cmake ,  感谢您的回复

[2022-06-30 07:48] #43921 closed, assigned to shiyutang

[2022-06-30 07:52] yt605155624 commented on #43901
收到

[2022-06-30 07:52] #43901 closed, assigned to shiyutang

[2022-06-30 07:52] yt605155624 commented on #43900
收到

[2022-06-30 07:53] zenghsh3 opened #43971 "logit转prob应该是用softmax?"
### 问题描述 Please describe your issue

https://github.com/PaddlePaddle/Paddle/blob/a072fca8229b26042fe24bff42989533e1d2050a/python/paddle/distribution/categorical.py#L119

Pytorch参考：
https://github.com/pytorch/pytorch/blob/0a1bc5f501bb571b6f4275b6ca863e68bf6cda02/torch/distributions/utils.py#L65

[2022-06-30 08:00] Alana123Liu commented on #43480
好的！感谢！我试一试！

[2022-06-30 08:15] 0x45f commented on #43971
你好，可以尝试使用paddle中的对应api组出logits_to_probs函数，可以参考下面的代码：
![image](https://user-images.githubusercontent.com/23097963/176627735-d0d0d463-c632-4c76-b981-4c589c087115.png)

[2022-06-30 08:24] zenghsh3 commented on #43971
主要是想反馈Categorical分布计算probs的方式应该不正确

[2022-06-30 09:03] Caozhou1995 commented on #43842
你可以看一下谷歌训练了多少个epoch。建议是保存多个最优的

[2022-06-30 09:12] nissansz commented on #43842
不知道谷歌训练多少数据，多少epoch。而且没有谷歌的离线模型可以下载，不知道怎么下载

[2022-06-30 09:24] huweikkk commented on #43944
done

[2022-06-30 09:24] #43944 closed, assigned to kuizhiqing

[2022-06-30 10:12] pangyoki commented on #43971
你好，请问有具体例子吗？使用paddle和torch得到的结果不一样吗？我理解你对比的paddle和torch的这两块代码讲的不是同一个事情。paddle这个probs是和log_probs对应的接口，需要传入输入tensor的。torch好像是没有对应接口的。

[2022-06-30 10:26] gglin001 commented on #43965
我发现如果不使用构建时使用的环境添加下面的依赖, 而使用别的路径(conda 环境下相同版本的 package), 构建的 exe 运行时失败, 失败来自于 glog 和 gflags

但是这种接口的使用场景本来就应该是不必编译 paddle 源码而直接使用分发的 wheel包的

set(BOOST_INC_DIR      "/path/to/Paddle/build/third_party/boost/src/extern_boost")
set(GFLAGS_INC_DIR     "/path/to/Paddle/build/third_party/install/gflags/include")
set(GLOG_INC_DIR       "/path/to/Paddle/build/third_party/install/glog/include")
set(MKLDNN

[2022-06-30 11:10] zenghsh3 commented on #43971
https://github.com/pytorch/pytorch/blob/c980fc3d3c8db5bff6fd10dd746dc56c55b82fcd/torch/distributions/categorical.py#L95
这是torch的categorical分布计算prob

[2022-06-30 11:10] Ligoml commented on #43929
欢迎加入PFCC，已加微信发送邀请~

[2022-06-30 11:10] #43929 closed, assigned to nobody

[2022-06-30 11:13] Ligoml commented on #43928
可以再试一下，这个邮箱现在应该没有问题了

[2022-06-30 11:13] #43928 closed, assigned to nobody

[2022-06-30 11:13] zenghsh3 commented on #43971
例如神经网络输出的logit为[-1, 0]，paddle方式算出的概率为[1, 0]，但torch算出的概率是[0.27, 0.73]左右

[2022-06-30 11:28] 360AIVul commented on #43928
您好，
***@***.***，邮件已经发送到该邮箱。
***@***.***这个？

祝好！

Ligoml ***@***.***> 于2022年6月30日周四 19:13写道：

[2022-06-30 11:37] VigiZhang commented on #43928
已修改policy中邮箱地址为 paddle-security@baidu.com

[2022-06-30 11:50] wawltor commented on #43068
您好，该问题已经通过该PR修复https://github.com/PaddlePaddle/Paddle/pull/43101 ，谢谢帮我们提出该问题！

[2022-06-30 11:58] chenwhql commented on #43965
您这边具体是想写什么样的功能：
1. 是要写自定义kernel，然后替换掉框架原有kernel执行？
2. 还是要写自定义算子，实现框架没有的自定义运算？
3. 还是就是直接要写C++代码编译可执行文件灵活使用？

[2022-06-30 12:33] firedent opened #43980 "WITH_DLNNE参数没有默认值，且是否需要在cmake过程中输出“WITH_DLNNE”存疑"
### 问题描述 Please describe your issue

绝大多数用户都不会使用到登临加速卡，而且CMake文件也没有对`WITH_DLNEE`设置默认值，导致运行`cmake`的时候会出现不明所以的输出：

[code]

个人认为，输出日志应该本着精简和实用的原则。同一文件下，WITH_LITE 和WITH_GPU 时均没有输出message。因此，在cmake过程中是否输出WITH_DLNNE的值，需要开发者斟酌。
https://github.com/PaddlePaddle/Paddle/blob/73f957cf56e9ee7fea5bb338adc91bc224daf1ce/paddle/fluid/inference/analysis/ir_passes/CMakeLists.txt#L46

[2022-06-30 14:30] gglin001 commented on #43965
我希望尝试一下 使用 phi 接口实现

其中的一些测试会使用到

前面遇到的编译问题应该是配置不太对, 应该是不需要 link glog/gflags 动/静态库, 只需要它们的头文件, 目前可以编译了🎉, 感谢帮助

[2022-06-30 14:31] gglin001 commented on #43965
请教一个额外的问题, 看起来 phi 实现了类似于 torch dispatcher 的机制(这句话可能有误), 但是似乎只是对注册的 kernel 使用, 请问是否可有可能实现下面的机制

python 层调用 `gather_nd`, input 是 C++ 的 `paddle::experimental::Tensor`

[code]

通过 C++ dispatcher或者类似机制选择 `gather_nd` 对应的 “实现” (和 input 的 place 有关, 当然不仅仅是 place, 还有其他的属性或者其他环境的配置)
这里的 “实现” 不是指目前已有的 kernel , 也许还会再经过一次 dispatch 才最终调用对应的 kernel(比如 cpu 的kernel),  这里 “实现” 的输入将是 `paddle::experimental::Tensor` 而

[2022-06-30 17:33] firedent opened #43991 "在使用Paddle Inference预测时，使用ONNXRuntime推理后端有什么好处？"
Paddle开发者你好，最近在编译Paddle Inference库和使用Paddle Inference预测功能时遇到了几个问题，希望能得到解答。

1. ONNXRuntime推理后端是只支持CPU预测吗？
2. 上一个问题如果是肯定回答，ONNXRuntime推理后端相比较原有的CPU预测推荐在什么情况下使用？上一个问题如果是否定回答，ONNXRuntime又该如何开启GPU预测？
3. “通过Paddle Inference调用ONNXRuntime推理后端”与“通过Paddle2X将Paddle产出模型转换成onnx格式，然后使用ONNXRuntime库预测”相比有什么区别？

[2022-07-01 01:09] wjddd commented on #43786
感谢感谢，问题已经解决了，这种情况下直接转换为list保存可能更符合我的需求~

[2022-07-01 01:09] #43786 closed, assigned to XYZ-916

[2022-07-01 01:11] #43951 closed, assigned to nobody

[2022-07-01 02:07] Tongfengyu commented on #37733
我这边是三维张量赋值无效，加个for循环变二维张量，才可以赋值

[2022-07-01 02:41] 0x45f commented on #43980
您好，收到您的反馈我们内部会安排评估，未来有计划修复的话会尽快回复

[2022-07-01 03:05] chenwhql commented on #43965
如果您是第三种使用方式，目前paddle理论上也可以使用，但我们还没有做过比较广泛的验证，也没有推广，所以可能会有一些问题，昨天我试了一下，发现一个问题，修复了一下，您看下这里面的示例是您要的吗？

https://github.com/PaddlePaddle/Paddle/pull/43977

[2022-07-01 03:10] chenwhql commented on #43965
paddle目前phi的实现和torch的dispatcher有所差别，phi只会进行一次kernel查找，找到kernel执行，不会有多层的分发

看您写的例子似乎就是想使用这样的API

![image](https://user-images.githubusercontent.com/22561442/176815942-cd25b6b1-d002-48e4-82cc-cb2831c2c33e.png)

目前是可以的，您可以参照上面链接PR中的示例，在C++函数中调用paddle::gather_nd使用，输入是paddle::Tensor

[2022-07-01 03:12] chenwhql commented on #43965
上图中的API在paddle的安装目录中有，我们当前这个机制可以在自定义算子中使用，您可以参考这节文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/custom_op/new_cpp_op_cn.html#pythonc-api

[2022-07-01 03:29] gglin001 commented on #43965
我有遇到 https://github.com/PaddlePaddle/Paddle/pull/43977 处理的问题, 目前实现

是ok的!

请问我可以自定义

[code]

里面的

[code]

的实现吗?

[2022-07-01 03:35] gglin001 commented on #43965
这样做似乎是没有意义的, 我会尝试一下注册外部 kernel, 感谢帮助👍🏼

[2022-07-01 03:36] chenwhql commented on #43965
所以您还是要将框架原有的运算，替换为您自定义的运算？

这种目前还不支持，后面可以考虑下让自定义kernel的机制更灵活，在外部实现之后，替换内部原有的kernel

请问具体是什么样的场景需要将一个标准运算替换为自定义的运算，并且还不能通过自定义新的API实现（比如您可以新增一个custom_abs自定义算子），可以展开介绍下吗？

[2022-07-01 03:38] chenwhql commented on #43965
不客气，您可以试试通过自定义算子在外部新增一个custom_abs

[2022-07-01 03:46] heliqi commented on #43991
1. 目前inference只集成了CPU版本的ONNXRuntime后端。GPU下TensorRT性能收益更大，暂时没支持
2. 什么情况下使用得具体例子看， 可以根据模型自己实测，哪个好就用哪个。
    Paddle这边测试了一大批模型，有些模型开启onnxruntime更快，有些开启mkldnn更快，有些什么都不开用原生cpu更快。
3. 使用inference好处有很多： 支持的模型更多、多个模型不同场景下部署也可以使用一套代码(只是config配置不同)，走paddle2onnx那你的系统需要集成多套推理引擎、使用inference成本更低，不用自己去实现onnxruntime的各种接口

[2022-07-01 06:37] zyfncg commented on #37733
这个有具体的代码示例吗？

[2022-07-01 06:48] cxxly commented on #43971
这是一个历史遗留问题，Categorical构造参数虽然命名为logits，但是其中prob方法把logits当作概率 'probs' 进行计算, sample方法用作logits进行计算。 `self._prob = self.logits / dist_sum` 这行代码实际上是吧 logits当作概率, 除以dist_sum是为了保证概率之和为1。
 非常感谢您的反馈，由于是不兼容升级，所以暂时没有修改。辛苦反馈给产品进行排期 @0x45f

[2022-07-01 06:58] zenghsh3 commented on #43971
好的，还是要尽快修复下，容易踩坑

[2022-07-01 07:36] BrilliantYuKaimin opened #44009 "飞桨 API 文档中的前端问题汇总"
飞桨文档评估工作小组在工作时发现了大量需要由前端工程师才能解决的问题，本 issue 将作为这些问题的汇总。大家在报告问题时请尽可能详细地附上问题示例。

[2022-07-01 07:59] SigureMo commented on #44009
咳，前端想打人系列 [doge]

## 问题发生区域

- [x] 英文文档
- [ ] 中文文档

## 问题详情

英文文档中 `Examples` 未被渲染为标题的样式

## 示例链接及截图

https://www.paddlepaddle.org.cn/documentation/docs/en/develop/api/paddle/nn/AdaptiveMaxPool1D_en.html

<img width="912" alt="image" src="https://user-images.githubusercontent.com/38436475/176851323-9d5ad096-cc2a-4540-b9ef-97ae72770aec.png">

[2022-07-01 08:00] SigureMo commented on #44009
## 问题发生区域

- [x] 英文文档
- [ ] 中文文档

## 问题详情

英文文档中 `Shape` 渲染为标题后包含仍包含冒号（`:`）

## 示例链接及截图

https://www.paddlepaddle.org.cn/documentation/docs/en/develop/api/paddle/nn/AdaptiveMaxPool1D_en.html

<img width="983" alt="image" src="https://user-images.githubusercontent.com/38436475/176851657-58eca937-5c58-412a-b4e3-f460a324d15c.png">

[2022-07-01 08:05] SigureMo commented on #44009
## 问题发生区域

- [x] 英文文档
- [ ] 中文文档

## 问题详情

中英文二级标题渲染不一致，中文二级标题渲染为 `h2` 标签，而英文二级标题则渲染为 `dt` 标签（感觉这是大多数人认为英文文档格式相对混乱的根本原因，这样的缩进不明显的嵌套结构并不易于阅读）

## 示例链接及截图

https://www.paddlepaddle.org.cn/documentation/docs/en/develop/api/paddle/nn/AdaptiveMaxPool1D_en.html

<img width="874" alt="image" src="https://user-images.githubusercontent.com/38436475/176852223-c32e87b8-cec9-4f9b-8fb4-baf77ef21e53.png">

http

[2022-07-01 08:20] SigureMo commented on #44009
## 问题发生区域

- [x] 英文文档
- [x] 中文文档

## 问题详情

原 https://github.com/PaddlePaddle/docs/issues/4935 ，现已 close

除大小写外同名 API 在侧边栏排序不稳定

打开 API 文档 [paddle.vision.models 页面](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/vision/models/AlexNet_cn.html)，观察 alexnet 和 AlexNet 以及 googlenet 和 GoogLeNet，随意点击侧边栏进行跳转，可以发现 alexnet 和 AlexNet 的相对位置（googlenet 那俩一样）是不稳定的，经常调换，因此猜测前端 sidebar 运行时排

[2022-07-01 09:58] BrilliantYuKaimin commented on #44009
## 公式编号问题
据观察，飞桨文档中的数学公式是由 MathJax 渲染的，而 MathJax 对于 equation 环境下的公式是可以自动编号的。经测试（ https://github.com/PaddlePaddle/docs/pull/4955 ），飞桨文档中没有自动启用公式编号的功能。希望前端工程师对这个功能予以支持。提出这个需求是因为引用公式会使有些参数的解释更加简单、明确，如：
![WechatIMG861](https://user-images.githubusercontent.com/91609464/176872391-8be8ac2d-fa46-4578-9011-560bcc812df0.jpeg)

[2022-07-01 10:40] lsyysl9711 opened #44018 "scatter_nd_add and put_along_axis"
### 请提出你的问题 Please ask your question

请问一下，pytorch中的scatter_add对应的是scatter_nd_add 还是 put_along_axis？

[2022-07-01 11:31] #43991 closed, assigned to heliqi

[2022-07-01 11:59] czr-gc opened #44019 "huber loss doc error"
### bug描述 Describe the Bug

huber_loss的公式错误：

https://github.com/PaddlePaddle/Paddle/blob/f1ffd59a8686cda32dae65aff259d489fff83da7/python/paddle/fluid/layers/loss.py#L1485

应该是
[code]

### 其他补充信息 Additional Supplementary Information

kernel代码中用的是abs_val：
[code]

[2022-07-01 12:15] betterpig commented on #44019
感谢你的建议，我们后续会修复该错误。

[2022-07-01 17:30] ProfFan commented on #43773
这个就是打包的问题啊，你们 gflags 怎么会来找我环境里面的 gflags 呢。。。 visibility 不对吧

[2022-07-02 03:55] gglin001 commented on #43965
我在尝试将 [lazy-tensr](https://arxiv.org/pdf/2102.13267.pdf) 的机制引入到 paddle 中(pytorch 中已经有比较完善的支持, 比如 https://github.com/pytorch/xla/ ), 这需要推迟 算子的执行, 但是在目前 paddle 只支持自定义 kernel 的情况下操作会受到一些限制

感觉paddle目前的想法是所有后端都是以 kernel 为基础的, 但是一些 custom-device 未必如此, pytorch 的 dispatcher 机制使得支持 lazy-tensor/functorch 以及自由拓展后端变得更加灵活, paddle 目前则达不到这样的效果, 如果 可以实现 API 层面的 dispatch 而不仅仅只处理 kernel, 也许可以激发更多新的想法(比如完全脱离静态图的动转静

[2022-07-02 13:49] gglin001 commented on #36801
seems the root cause is glibc version mismatch
any official update plan for this issue?

[2022-07-02 16:40] jyjfjyjf opened #44031 "paddle.nonzero()不返回0所在位置"
### bug描述 Describe the Bug

    paddle.nonzero(paddle.to_tensor([0, 1, 0, 2]))
    Tensor(shape=[2, 1], dtype=int64, place=Place(gpu:0), stop_gradient=True,
           [[0],
            [2]])
    paddle.nonzero(paddle.to_tensor([0, 1, 0, 2, 0]))
    Tensor(shape=[2, 1], dtype=int64, place=Place(gpu:0), stop_gradient=True,
           [[0],
            [0]])

### 其他补充信息 Additional Supplementary Info

[2022-07-03 02:23] zmxdream commented on #44031
![image](https://user-images.githubusercontent.com/17705473/177021890-16a25578-a3ae-4528-a12a-ce2dc52204fa.png)
python -m pip install paddlepaddle-gpu==2.3.0.post112 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html
你好，用上面命令安装的paddle-gpu 2.3版本,经过实际测试，能够返回正确的非零元素位置信息
![image](https://user-images.githubusercontent.com/17705473/177021989-efdca62f-4a71-49ef-8f3d-6e4b14053ff6.png)
请确认下你的

[2022-07-03 05:57] jyjfjyjf commented on #44031
paddlepaddle版本就是2.3
![image](https://user-images.githubusercontent.com/34862504/177026911-7b36d690-f3b3-4379-869e-6f8d53f4395c.png)
我是用这条命令安装的paddle.nonzero()不会返回非0位置
![image](https://user-images.githubusercontent.com/34862504/177026938-d223abee-96b4-4460-ba24-661d81536fc7.png)

[2022-07-03 05:59] jyjfjyjf commented on #44031
显卡rtx3090
python 3.8

[2022-07-03 07:41] firedent opened #44032 "在Mac M1 pro平台使用Debian:stable (stable-20220622) 编译arm版Paddlepaddle成功，但是ctest未能完全通过。"
### 问题描述 Issue Description

ctest日志：[LastTest.log](https://github.com/PaddlePaddle/Paddle/files/9034266/LastTest.log)

- Paddlepaddle源码版本: `git checkout v2.3.1`
- 使用的CMake命令: `cmake .. -DPY_VERSION=3.9 -DWITH_TESTING=ON -DON_INFER=ON -DWITH_ARM=ON -DCMAKE_BUILD_TYPE=Release`
- Docker Engine: `v20.10.16`
- 容器内核: `Linux 9093ee9c043a 5.10.104-linuxkit #1 SMP PREEMPT Thu Mar 17 17:05:54 UTC 2022 aarch

[2022-07-03 07:50] jyjfjyjf commented on #44031
python换成3.7还是这样

[2022-07-03 07:59] jyjfjyjf commented on #44031
![image](https://user-images.githubusercontent.com/34862504/177030695-7145e2f6-b1d2-4643-bca6-8dd9cdbbbdd3.png)
![image](https://user-images.githubusercontent.com/34862504/177030744-64dd87bc-112f-47dd-9ed5-e66f04a01c35.png)

[2022-07-03 08:00] jyjfjyjf commented on #44031
在aistudio上就没问题
![image](https://user-images.githubusercontent.com/34862504/177030780-fbb86510-94d7-4ca5-8f40-87aa2be2e5f1.png)

[2022-07-03 08:03] jyjfjyjf commented on #44031
在aistudio上训练的模型比本地训练的模型准确率高1个十分点，paddlepaddle-gpu在我本地想正常使用该怎么办

[2022-07-03 09:30] jyjfjyjf commented on #44031
![image](https://user-images.githubusercontent.com/34862504/177033778-a5712deb-d22b-4481-8357-ac044d5202f6.png)

[2022-07-03 09:58] 999lengfeng commented on #43921
找到了，models/PaddleCV/metric_learning/losses/tripletloss.py，在这

[2022-07-03 11:18] jyjfjyjf commented on #44031
![image](https://user-images.githubusercontent.com/34862504/177037057-f2bad11a-4db0-4df8-aa92-69deabd58724.png)
![image](https://user-images.githubusercontent.com/34862504/177037060-8cf31a91-6c42-46d3-bd00-a508bd5cb36b.png)
代码一样的参数一样的，种子也一样的，就epoch不一样，本地跟aistudio为什么差这么大

[2022-07-03 11:19] jyjfjyjf commented on #44031
本地重新配的环境 python3.7 paddlepaddle-gpu2.3，paddle.nonzero()还是不对

[2022-07-03 17:16] zmxdream commented on #44031
你好，本地cuda是什么版本

[2022-07-03 17:19] zmxdream commented on #44031
你好请确认下conda 环境里的cuda版本，以及本地尝试安装下CPU版本Paddle，验证下结果正确性

[2022-07-03 18:37] jyjfjyjf opened #44041 "使用to_sparse_coo()报错"
### 请提出你的问题 Please ask your question

win11
paddlepaddle 2.3
cuda 11.2
rrtx3090
python 3.7
![image](https://user-images.githubusercontent.com/34862504/177052865-755c62a4-2323-4802-a008-bae4009be2cb.png)
![image](https://user-images.githubusercontent.com/34862504/177052874-99021782-e62a-4ada-98e7-79df5f844372.png)
怎么样才能正确使用to_sparse_coo()

[2022-07-03 19:00] jyjfjyjf commented on #44031
![image](https://user-images.githubusercontent.com/34862504/177053328-d5c15157-3fd4-4ee1-ab56-5e49778cd554.png)
![image](https://user-images.githubusercontent.com/34862504/177053602-1cfe8200-9a83-403e-bdef-61fa127e901a.png)
conda 里面cuda是11.2
cpu没有问题

[2022-07-03 19:10] jyjfjyjf commented on #44031
![image](https://user-images.githubusercontent.com/34862504/177053946-09a1891a-df27-4bf3-8a76-f7a58e043d57.png)
可我一样的代码，为啥cpu就没有问题

[2022-07-04 01:53] czr-gc opened #44042 "typo in paddle doc"
### bug描述 Describe the Bug

https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/model_convert/pytorch_api_mapping_cn.html#pytorch-1-8-paddle-2-0-api

PyTroch --> PyTorch

![image](https://user-images.githubusercontent.com/96037699/177068081-bc221a1c-6414-4231-90c5-75a5ac446a0a.png)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-04 02:08] zmxdream commented on #44032
你好，感谢你的反馈，我们会尽快验证

[2022-07-04 02:21] #42066 closed, assigned to betterpig

[2022-07-04 02:33] Ligoml commented on #44018
put_along_axis，具体信息可以看下[API 文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/put_along_axis_cn.html#put-along-axis)

[2022-07-04 02:44] zkh2016 commented on #44041
你好，目前使用sparse的api需要加`with _test_eager_guard()'，使用例子：

[code]

[2022-07-04 04:01] elvindp opened #44048 "[libprotobuf FATAL /Paddle/build4/third_party/protobuf/src/extern_protobuf/src/google/protobuf/generated_message_reflection.cc:2329] CHECK failed: file != NULL:"
### /Paddle/build4/third_party/protobuf/src/extern_protobuf/src/google/protobuf/generated_message_reflection.cc:2329] CHECK failed: file != NULL

需要使用lac分词，因为protobuf版本问题，需要自己编译paddle
编译paddle最新的develop版本，编译通过，但在inference的时候出bug，提示check fialed：
系统centos7
修改了protobuf的版本，从3.1.0改成3.5.2，其它cmake设置没有改动。

[libprotobuf FATAL /Paddle/build4/third_party/protobuf/src/extern_protobuf/src/google/protobuf/gener

[2022-07-04 04:41] lmdnyo opened #44050 "Have no paddle symbols check_symbol.sh: 23: exit: Illegal number: -1 Check symbol failed."
### 问题描述 Issue Description

I am compiling 2.3.1 tag with ARMV8 Nvidia Xavier NX 16 GB with following CMAKE.

cmake .. -G 'Unix Makefiles' -DWITH_MKL=OFF -DWITH_MKLDNN=OFF -DWITH_AVX=OFF -DWITH_GPU=ON -DON_INFER=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DCUDA_ARCH_NAME=All -DWITH_ARM=ON -DWITH_NV_JETSON=ON -DWITH_PYTHON=ON -DPY_VERSION=3.6 -DPYTHON_INCLUDE_DIR:PATH=/usr/include/python3.6 -

[2022-07-04 05:10] From00 commented on #44048
你好，请问protobuf版本具体遇到了什么问题？

目前飞桨源码编译使用protobuf 3.1.0，python环境中安装的protobuf版本在3.1.0~3.20.0均能正常使用，如果是因python环境中安装的protobuf版本有问题，重新安装符合要求的protobuf版本即可，不需要自己在源码中升级protobuf版本并重新编译。相关问题见issue https://github.com/PaddlePaddle/Paddle/issues/43052

[2022-07-04 07:08] jiangjiajun commented on #43425
Hi, @onair1314  现在还有问题吗

[2022-07-04 08:12] Ligoml commented on #43870
开发者你好，目前飞桨暂无此类开发计划，如果你有算力需求，可以体验[aistudio](https://aistudio.baidu.com/aistudio/index)，每天会赠送免费算力~
如果你有余力，我们非常欢迎你通过提pr来为飞桨增加此类能力，可以在pr中@我，我们会进行后续跟进

[2022-07-04 08:19] holyseven opened #44056 "Transformer的实现是否可以考虑输出attention_weights？"
### 需求描述 Feature Description

### 需求描述

对于高阶开发者，有获取Transformers中间层的attention weights（即shape=`[batch_size, num_heads, query_length, key_length]`）来进行模型设计和分析实验的需求。

### 具体场景

- EHealth中SPO任务需要获取Electra中间层结果来计算loss
- 使用Transformer-based模型时需要中间层attention和结果来进行分析和蒸馏
- 解释Transformer模型时，attention weights和其对应的梯度，都是非常重要的中间结果

### 目前Paddle的实现

目前是在`MultiHeadAttention`的`forward()`函数中，调用`paddle.nn.functional`的

[2022-07-04 08:44] HeQinWill commented on #40211
拜托，是 paddle 没有报 error 或 warning 啊
从您的回复来看也应该觉得需要给用户提示吧
测试 paddle 2.3 仍然是直接给出了计算结果而已

[2022-07-04 08:52] HeQinWill commented on #40211
@zhiboniu @Ligoml

您指的**简洁**的是 **scikit-learn** 的吧？
print(mean_squared_error(a, b))  _**# ValueError: Found array with dim 3. Estimator expected <= 2.**_

注意看下面**完全没提示的**才是 **paddlepaddle** ！
print(loss_fn(paddle.to_tensor(a), paddle.to_tensor(b)))  _**# 0.55750000**_

[2022-07-04 08:57] andyjiang1116 commented on #43854
你好，这边验证还有问题吗？

[2022-07-04 08:59] topxxuki commented on #43854
没有了，谢谢

[2022-07-04 08:59] #43854 closed, assigned to andyjiang1116

[2022-07-04 09:16] 1chang37 opened #44060 "kylin build paddle后，安装成功后执行paddle.utils.run_check()报CUDA错误"
### 问题描述 Issue Description

Running verify PaddlePaddle program ...
W0704 16:41:16.041640 361801 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 11.4, Runtime API Version: 11.4
W0704 16:41:16.048568 361801 gpu_resources.cc:91] device: 0, cuDNN Version: 8.2.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib6

[2022-07-04 10:03] #43913 closed, assigned to shiyutang

[2022-07-04 11:45] betterpig commented on #44019
你好，经了解该API将被废弃，请使用另一API  [paddle.nn.SmoothL1Loss](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/SmoothL1Loss_cn.html)

[2022-07-04 12:22] Ligoml opened #44065 "【PaddlePaddle Hackathon 3】其他项目贡献合集"
（此 ISSUE 为 PaddlePaddle Hackathon 第三期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第三期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/43938)）

以下为飞桨黑客松第三期中，其他项目贡献任务合集：

### No.90：基于 PaddleNLP 语义索引实现 Gradient Cache 策略，实现超大 batch 语义索引模型训练<a name='task90'></a>

- 任务标题：基于 PaddleNLP 语义索引实现 Gradient Cache 策略，实现超大 batch 语义索引模型训练
- 技术标签：python、语义索引
- 任务难度：进阶
- 详细描述：语义索引模型的效果受 batch_size 影响很大，一般 batch_siz

[2022-07-04 12:23] Ligoml opened #44066 "【PaddlePaddle Hackathon 3】开源社区洞察任务合集"
（此 ISSUE 为 PaddlePaddle Hackathon 第三期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第三期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/43938)）

以下为飞桨黑客松第三期中，开源社区洞察任务合集：

**注：报名参与开源社区洞察任务的同学可以向 paddle-hack@baidu.com 发邮件，我们会邀请你加入社群参与讨论~**

### No.87：Paddle 社区数据分析<a name='task87'></a>

- 任务标签：GitHub 社区数据分析，深度学习

- 任务难度：基础

- 详细描述：使用 Paddle 社区的 GitHub 日志数据对 Paddle 社区进行深度的分析。
	分析任务包含：
	- 各类统计型任务（如 Issu

[2022-07-04 12:24] Ligoml opened #44067 "【PaddlePaddle Hackathon 3】链桨项目贡献合集"
（此 ISSUE 为 PaddlePaddle Hackathon 第三期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第三期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/43938)）

以下为飞桨黑客松第三期中，链桨项目贡献任务合集：

### No.83：PaddleDTX/dai 网络支持 Fabric<a name='task83'></a>

- 任务标题：PaddleDTX/dai 网络支持 Fabric
- 技术标签：区块链，Golang
- 任务难度：基础
- 详细描述：PaddleDTX 是基于区块链的可信分布式 AI，底层区块链目前采用百度自研的 XuperChain，为提高系统的灵活易用性，计划后期支持Fabric。
- 提交流程：请将代码提交至 https://git

[2022-07-04 12:25] Ligoml opened #44068 "【PaddlePaddle Hackathon 3】开发板部署任务合集"
（此 ISSUE 为 PaddlePaddle Hackathon 第三期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第三期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/43938)）

为AI开发板增加算子支持和功能开发，开发请参考 [贡献指南](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/index_cn.html)，任务列表如下：

### No.79：瑞芯微RV1126/1109：为 Paddle-Lite 增加 TIM-VX 算子<a name='task79'></a>

- 技术标签：深度学习框架 ，TIM-VX

- 任务难度：基础

- 详细描述：请开发者基于TIM-VX软

[2022-07-04 12:26] Ligoml opened #44069 "【PaddlePaddle Hackathon 3】CINN算子开发任务合集"
（此 ISSUE 为 PaddlePaddle Hackathon 第三期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第三期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/43938)）

为神经网络编译器 CINN 增加一系列基础算子，提交流程请参考 CINN算子开发&提交流程（coming soon），开发请参考 [贡献指南](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/index_cn.html)，任务列表如下：

### No.67：为神经网络编译器 CINN 增加 arange 算子<a name='task67'></a>
- 算子功能：返回一个tensor，它的值是一个范围内的数

[2022-07-04 12:27] Ligoml opened #44070 "【PaddlePaddle Hackathon 3】科学计算项目贡献合集"
（此 ISSUE 为 PaddlePaddle Hackathon 第三期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第三期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/43938)）

为科学计算项目贡献任务合集，包括模型分析与功能完善，开发请参考 [贡献指南](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/index_cn.html)，任务列表如下：

### No.57：PaddelScience 支持对外部导入的几何文件进行法向外扩采样<a name='task57'></a>

- 技术标签：科学计算，采样，Python

- 任务难度：基础

- 详细描述：
	- 1）Python

[2022-07-04 12:27] Ligoml opened #44071 "【PaddlePaddle Hackathon 3】数据类型扩展任务合集"
（此 ISSUE 为 PaddlePaddle Hackathon 第三期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第三期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/43938)）

为飞桨框架一系列算子增加支持的数据类型，提交流程请参考 [算子数据类型扩展&提交流程](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/op_dtype_extension/op_dtype_extension_contributing_guides_cn.html)，开发请参考 [贡献指南](https://www.paddlepaddle.org.cn/documentation/docs/zh/devel

[2022-07-04 12:28] Ligoml opened #44072 "【PaddlePaddle Hackathon 3】算子性能优化任务合集"
# 【PaddlePaddle Hackathon 3】算子性能优化任务合集

（此 ISSUE 为 PaddlePaddle Hackathon 第三期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第三期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/43938)）

为飞桨框架优化一系列算子性能，提交流程请参考 [算子性能优化&提交流程](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/op_optimization/op_optimization_contributing_guides_cn.html)，开发请参考 [贡献指南](https://www.paddlepaddle.org.cn/

[2022-07-04 12:28] Ligoml opened #44073 "【PaddlePaddle Hackathon 3】API 开发任务合集"
（此 ISSUE 为 PaddlePaddle Hackathon 第三期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第三期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/43938)）

为飞桨框架新增一系列 API，提交流程请参考 [新增API 开发&提交流程](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/api_contributing_guides/api_contributing_guides_cn.html)，开发请参考 [贡献指南](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/i

[2022-07-04 12:47] Jeremy-lf opened #44074 "OSError: (External) CUDA error(3), initialization error."
### bug描述 Describe the Bug

![image](https://user-images.githubusercontent.com/45171399/177157739-d7f0c328-5967-49ba-9948-490da8663e5b.png)

OSError: (External) CUDA error(3), initialization error.
  [Hint: 'cudaErrorInitializationError'. The API call failed because the CUDA driver and runtime could not be initialized. ] (at /paddle/paddle/phi/backends/gpu/cuda/cuda_info.cc:66)

Paddle版本是2.3， Padd

[2022-07-04 12:56] yeliang2258 opened #44075 "Picodet INT8 is slower than FP32 when inference with MKLDNN"
### bug描述 Describe the Bug

Picodet INT8 is slower than FP32 when inference with MKLDNN.

CPU：Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz
thread num：8
FP32：3.09 s
INT8：3.13 s

My model and script :
[picobug.tar.gz](https://github.com/PaddlePaddle/Paddle/files/9039580/picobug.tar.gz)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-04 13:02] SigureMo commented on #44073
第一个标题应该是 finfo 吧 [doge]

[2022-07-04 16:57] LmonZero opened #44077 "显卡是 RTX-3060的 系统是win11 cuda使用10.2（只能下win10版本）。。。 paddle.utils.run_check()执行后一直无反应"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/56548943/177195512-bdfac87a-35f3-49f3-8969-bc47eebdf047.png)
界面如图

[2022-07-04 17:14] Aganlengzi commented on #44077
你好非常感谢您的反馈，感谢您对paddle的支持。
关于您提供的该问题之前issue有过反馈，可以通过升级cuda版本解决，原因是30系列的显卡不支持CUDA10了，
具体可以参考：https://github.com/PaddlePaddle/Paddle/issues/39154 https://github.com/PaddlePaddle/Paddle/issues/39256  https://github.com/PaddlePaddle/Paddle/issues/38934

[2022-07-04 19:51] jyjfjyjf commented on #44031
![image](https://user-images.githubusercontent.com/34862504/177210661-2471c2ad-fe7f-4edc-910f-b8eec0c44b33.png)
![image](https://user-images.githubusercontent.com/34862504/177210687-dcf65289-5b95-4f9c-93ca-7732281b9a98.png)
nonzero()返回的东西

[2022-07-05 01:19] 6w6w opened #44079 "模型训练问题"
### 问题描述 Please describe your issue

我的账号在使用ai studio在线平台训练CNN模型时，第二次迭代时训练误差就降到了非常非常小，但是使用别人的账号，相同设置情况下，误差能够正常下降！

[2022-07-05 01:37] Aganlengzi commented on #44079
谢谢您的反馈，账号差异造成的问题请联系aistudio的相关开发人员帮忙分析。

[2022-07-05 02:20] jiangjiajun commented on #44050
Hi，你可以试下使用下面的方式来编译吗
[code]
我们的同事使用这个指令编译是没问题的

[2022-07-05 02:39] haohongxiang commented on #44031
@jyjfjyjf 我们这边已复现问题，正在排查修复中

[2022-07-05 03:07] donggeai opened #44082 "jieba分词使用paddle模式，文本数据量较大时，报错"
### bug描述 Describe the Bug

分词库jieba可以使用paddle进行深度学习分词，数据量较小时可以正常使用，数据量较大时就会报错
[code]
是环境问题还是什么问题啊？

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-05 03:11] bingzant commented on #36115
目前在paddlecloud上也遇到了这个问题，paddle2.2.2上内存占用逐渐增加，训练速度随着epoch变慢（每个epoch调用一次jit.save)，换用paddle2.3.0，内存占用问题仍然存在，但训练速度似乎已不下降。但最后还是出现了内存占用逐渐增大，导致dataloader Worker卡死的情况，导致任务失败。
（我不能确定是paddle还是paddlecloud上的问题）
可以定位到，是每个epoch,paddle.jit.save()调用后，出现的内存占用增加的问题。（paddlecloud上观察，本地未观察）

补充第二天想到的一个临时解决方案：
1、在每个epoch存储模型的时候采用paddle.save()去存储。
2、当模型收敛后，再使用paddle.load()加载模型，用paddle.jit.save()存储。
测试之后，这个方案work了。

[2022-07-05 03:18] Ainavo commented on #43938
【队名】：Cattidea
【序号】：12
【状态】：报名
【链接】：https://github.com/cattidea/Paddle

[2022-07-05 03:45] Aganlengzi commented on #44082
谢谢您的反馈，根据现象，建议检查调用Paddle API前数据量较大时数据加载是否正常。

[2022-07-05 03:49] donggeai commented on #44082
和数据加载没关系，因为这是在jieba里边使用paddle才出现的问题，代码如下：
[code]
建议看下详细的报错信息，看看是什么问题呢？

[2022-07-05 05:04] Aganlengzi commented on #44082
[code]

最后的报错信息是Tensor的meta信息(包括dtype,layout等)不合法，另外根据你的描述仅数据量大小不同，所以建议检查调用API前的数据，另外jieba对应的paddle版本是什么？是否兼容，是否可以使用最新的Paddle版本(报错的代码对应行号和最新的已经改变)

[2022-07-05 05:29] MLrookie opened #44088 "有没有现成编译好的带TRT的whl包？"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）
目前正在尝试部署paddle的tts项目，想尝试下trt的加速效果，但是自己编译总是会出现一堆错误。;
<br /> 需求场景（请描述你的项目中为什么需要用此功能）
有没有现成编译好的带TRT的whl包？paddle版本要求2.2及以上，我试过2.1的了，会报错;

### 替代实现 Alternatives

没有whl包的话docker镜像也可以。

[2022-07-05 06:21] Aganlengzi commented on #44088
你好，请参考这个页面：
https://www.paddlepaddle.org.cn/inference/optimize/paddle_trt.html#yi-huanjingzhunbei

[2022-07-05 06:28] MLrookie commented on #44088
你好，我看了一下，这里面好像没有带trt的whl包，或者你看看哪个标签是带trt的，谢谢！

[2022-07-05 06:45] #26099 closed, assigned to nobody

[2022-07-05 06:45] #31649 closed, assigned to yaoxuefeng6

[2022-07-05 06:45] #32187 closed, assigned to gongweibao

[2022-07-05 06:45] #32953 closed, assigned to pangyoki

[2022-07-05 06:45] #33421 closed, assigned to heavengate

[2022-07-05 06:45] #33540 closed, assigned to Shixiaowei02

[2022-07-05 06:45] #33788 closed, assigned to Thunderbrook

[2022-07-05 06:45] #33791 closed, assigned to gongweibao, yaoxuefeng6

[2022-07-05 06:45] #33830 closed, assigned to huangjun12

[2022-07-05 06:45] #33833 closed, assigned to huangjun12

[2022-07-05 06:45] #33855 closed, assigned to Aurelius84

[2022-07-05 06:45] #33880 closed, assigned to LDOUBLEV

[2022-07-05 06:45] #33888 closed, assigned to LDOUBLEV

[2022-07-05 06:45] #33904 closed, assigned to LDOUBLEV

[2022-07-05 06:45] #33930 closed, assigned to wangxicoding, Shixiaowei02

[2022-07-05 06:45] Aganlengzi commented on #44088
@MLrookie 抱歉，文档链接似乎有问题，我找了下 ，看是否满足您的需要：
https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#python

[2022-07-05 06:52] MLrookie commented on #44088
这里面就有了，我先下载看看，感谢感谢！

[2022-07-05 07:03] ZHUI commented on #43571
再报一个问题：

GradientMergeOptimizer  与 distributed.gather 共同使用，会hang住。

[2022-07-05 07:58] Aganlengzi commented on #43914
@pmajchrzak hi, Please help check with this PR https://github.com/PaddlePaddle/Paddle/pull/44097
I could not reproduce without your environment, thank you!
You can do this in your Paddle:
[code]
and then try build.

[2022-07-05 08:02] Ligoml commented on #44042
感谢反馈，目前已在修改~

[2022-07-05 08:09] gongweibao opened #44098 "Upgrade GCC version of build system."
### 需求描述 Feature Description

GCC84 is stricter than older versions such as GCC82. This upgrade can avoid the problem of compilation errors such as https://github.com/PaddlePaddle/Paddle/issues/43914.

### 替代实现 Alternatives

_No response_

[2022-07-05 09:13] From00 commented on #44074
你好，初步判断这是运行的机器环境的问题，与Paddle代码无关。建议可以直接咨询PaddleCloud相关人员，或者告知你是通过什么渠道在使用PaddleCloud的对外服务，我们协助联系对应人员来解决你的问题。

[2022-07-05 09:15] d2623587501 opened #44100 "请问如何获取卷积（算子）中的配置参数，例如pytorch中可以通过conv.in_channels获取输入通道设置"
### 请提出你的问题 Please ask your question

代码如下，尝试获取输入卷积配置参数，无法获取
`def fuse(conv, bn):
    print(conv.parameters)
    fused = paddle.nn.Conv2D(
        conv.in_channels,
        conv.out_channels,
        kernel_size=conv.kernel_size,
        stride=conv.stride,
        padding=conv.padding,
        bias=True
    )`

[2022-07-05 09:23] ZHUI opened #44102 "静态图 all_gather 随机报错 ncclInvalidUsage"
### bug描述 Describe the Bug

使用all_gather 获取多卡loss损失，但是随机出现 nccl 报错

paddle版本：99b3727d5bd37ae18ef63407dc4bd6ab75fb76fc

代码:
[code]

报错：
[code]

### 其他补充信息 Additional Supplementary Information

复现：
[code]

[code]