[2022-07-05 09:27] pmajchrzak commented on #43914
@Aganlengzi
It works!
Thanx 👍

[2022-07-05 09:39] Aganlengzi commented on #44100
@d2623587501 你好，parameters获取到的是训练参数，比如weight和bias，看你的描述是想问Paddle中paddle.nn.Conv2D是否支持传入参数(in_channels, out_channels...)等的获取是吗？目前Paddle可通过`_xxx`的方式获取。

paddle:
<img width="664" alt="93ad5f30bc3a542bc44530c0186a0a2c" src="https://user-images.githubusercontent.com/5997715/177308587-2721b403-2956-4afb-8619-e68ae166256c.png">
<img width="591" alt="image" src="https://user-images.githubusercontent.com/5

[2022-07-05 10:11] jczaja commented on #43215
@jiangjiajun , @lidanqing-intel , @yaomichael
So we started working on fixing poor performance of execution when batch_size is bigger than 1. We narrowed down couple of problems and managed to fix some of them. To be more precise mostly FC (inner product) oneDNN operator's kernel was performing poorly and then convoluution for int8 was also under performing. First fix to FC (more to follow) is her

[2022-07-05 10:54] d2623587501 commented on #44100
好滴  感谢大佬的回复

[2022-07-05 10:54] #44100 closed, assigned to Aganlengzi

[2022-07-05 11:14] zhicheng-ning commented on #43938
【队名】：源光闪烁
【序号】：89
【状态】：报名
【链接】：https://github.com/zhicheng-ning/community

[2022-07-05 11:32] lzzzzj opened #44105 "使用aistudio时文件出现‘xxx is not UTF-8 encoded’"
### bug描述 Describe the Bug

双击文件时显示‘xxx  is not UTF-8 encoded’，并且是同时有很多文件出现。
这些文件我没有动过，上一次关闭环境之前还能正常运行，再次打开环境后运行就报错了。
![adc895d3bcb7bd40433a55a31828422](https://user-images.githubusercontent.com/57863550/177317596-06cf2a8c-4149-493f-b8b5-b048251f5958.png)

包括一些模型文件也损坏了，大小由几百M变成了几百k，还有一些代码文件等。
将这些文件下载下来后打开显示乱码，改变编码格式后仍然为乱码。
请问是什么原因引起的？已损坏的文件可以找回吗？谢谢。

### 其他补充信息 Additional Supplementary Information

[2022-07-05 11:34] peachlcy commented on #43938
【队名】：TreeML
【序号】：17
【状态】：报名
【链接】：https://github.com/peachlcy/community

[2022-07-05 11:35] Aganlengzi commented on #44105
谢谢您的反馈，该问题非Paddle框架问题，请联系aistudio的相关开发人员帮忙分析。

[2022-07-05 11:41] Aganlengzi commented on #44100
@d2623587501 Update，您好，咨询了相关同学，目前Paddle支持以_形式获取输入参数，请您试用。

[2022-07-05 11:50] d2623587501 commented on #44100
谢谢大佬  通过参数前添加_问题解决了， 如（conv._in_channels），再次感谢

[2022-07-05 12:33] Ainult opened #44107 "OSError: (External) CUDA error(719), unspecified launch failure."
环境：win11  anaconda  pycharm
cuda 11.2      cudnn 8.2    paddlepaddle-gpu==2.3.0 cudatoolkit=11.2

在使用COCO数据集训练RetinaNet时
python tools/train.py -c configs/retinanet/retinanet_r50_fpn_1x_coco.yml --eval -o use_gpu=true

会出现很多个Error: ../paddle/phi/kernels/funcs/gather.cu.h:67 Assertion `index_value >= 0 && index_value < input_dims[j]` failed. The index is out of bounds, please check whether the dimen

[2022-07-05 13:11] Aganlengzi commented on #44107
你好，这是算子内部参数检查的报错，说明有了非法输入。
请问GPU是哪一款，并麻烦使用 `nvidia-smi`和`nvcc -V`打印下信息

可以对照安装文档check：
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/conda/windows-conda.html#anchor-0

[2022-07-05 13:14] Ainult commented on #44107
安装文档的check已通过

Running verify PaddlePaddle program ...
W0705 21:15:38.085255 20868 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.4, Runtime API Version: 11.2
W0705 21:15:38.100215 20868 gpu_context.cc:306] device: 0, cuDNN Version: 8.2.
PaddlePaddle works well on 1 GPU.
PaddlePaddle works well on 1 GPUs.
PaddlePaddle is installed successfully! Let'

[2022-07-05 13:16] peachlcy commented on #43938
【队名】：TreeML
【序号】：17
【状态】：提交rfc
【链接】：https://github.com/PaddlePaddle/community/pull/164

[2022-07-05 13:18] Aganlengzi commented on #44107
请提供一下详细步骤和报错信息

[2022-07-05 13:40] Ainult commented on #44107
(paddle_env) D:\deep_learning\PaddleDetection>python setup.py build
fatal: not a git repository (or any of the parent directories): .git
running build
running build_py
copying ppdet\version.py -> build\lib\ppdet
copying ppdet\model_zoo\MODEL_ZOO -> build\lib\ppdet\model_zoo

(paddle_env) D:\deep_learning\PaddleDetection>python tools/train.py -c configs/retinanet/retinanet_r50_fpn_1x_coco.yml --eva

[2022-07-05 13:46] peachlcy commented on #43938
【队名】：TreeML
【序号】：9
【状态】：报名
【链接】：https://github.com/peachlcy/community

[2022-07-05 13:46] peachlcy commented on #43938
【队名】：TreeML
【序号】：10
【状态】：报名
【链接】：https://github.com/peachlcy/community

[2022-07-05 15:00] carlosal1015 commented on #36801
When install `paddlepaddle-2.3.1` with pip the installation is right, but
[code]
at the moment to import is not right
[code]

[2022-07-05 16:05] Aganlengzi commented on #44107
PaddleDetection是否也check过正常？
[code]
具体：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/docs/tutorials/INSTALL_cn.md

如果也正常的话，建议转到PaddleDetection下开issue问下，从报错信息看是算子输入检查非法了。

[2022-07-06 01:37] William-Jianyuan opened #44110 "单卡单机训练报错"
### 问题描述 Please describe your issue

单卡单机训练 时报错 2.3.0,  cuda10.2
celery.app.trace - ERROR - Task model_lib.ocr.train.train[ac1ae09cfccb11ec8f7b024202cdb4fb] raised unexpected: OSError("(External) CUDA error(3), initialization error. \n  [Hint: 'cudaErrorInitializationError'. The API call failed because the CUDA driver and runtime could not be initialized. ] (at /paddle/paddle/phi/backends/gpu/cuda

[2022-07-06 02:26] Ainult commented on #44107
两个测试都过了，我去PaddleDetection问问，谢谢您~
.......
----------------------------------------------------------------------
Ran 7 tests in 2.265s

OK

Done (t=0.75s)
creating index...
index created!
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00

[2022-07-06 02:49] fanxiaochen456 opened #44112 "pool2d层的计算量"
### 请提出你的问题 Please ask your question

您好，我将Tensorflow的固化模型.pb通过x2paddle的方式转化为paddle的模型，使用paddle.flops打印每层的计算量时发现pool2d也会产生计算量，参考官网文档有关网络层参数量和计算量的计算公式，发现使用的池化层并没有产生计算量，请问这里的pool2d为什么会产生计算量呢？他的计算公式又是什么呢？
![image](https://user-images.githubusercontent.com/101849755/177457161-f5870e64-c58a-424b-8553-e53a6dc6f65c.png)

[2022-07-06 02:56] Aganlengzi commented on #44107
好的，windows上跑的应该是单卡，是否有模型配置需要据此做修改。

[2022-07-06 02:58] Ainult commented on #44107
我跑yolov3就是正常的
- python tools/train.py -c configs/yolov3/yolov3_darknet53_270e_coco.yml --eval -o use_gpu=ture

C:\Users\Hubery\anaconda3\envs\paddle_env\lib\site-packages\paddle\tensor\creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in Nu

[2022-07-06 03:27] YuanRisheng commented on #44110
您好，可以先检查一下paddle是否正确安装，
使用如下命令先检查一下paddle安装是否正确：

import paddle
paddle.utils.run_check()

[2022-07-06 03:31] William-Jianyuan commented on #44110
您好, 检查出来是这样
机器上有4个gpu
Running verify PaddlePaddle program ...
W0706 11:28:58.431027 17882 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.4, Runtime API Version: 10.2
W0706 11:28:58.432694 17882 gpu_context.cc:306] device: 0, cuDNN Version: 8.3.
PaddlePaddle works well on 1 GPU.
W0706 11:29:06.859215 17882 dynamic_loader.cc:276] You may need to insta

[2022-07-06 03:47] YuanRisheng commented on #44110
您好，您的paddle安装有问题，从上述提示看出应该是您环境有些问题，可以尝试按照上述的提示尝试进行修复，如若未解决，推进使用paddle官方的docker安装方式重新安装paddle : https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[2022-07-06 03:50] liyongchao911 opened #44117 "paddle.crop shape使用默认参数None报错"
### bug描述 Describe the Bug

“”“
code block: : python

import paddle
print(paddle.__version__)

demo = paddle.to_tensor([[1,2,3],[4,5,6],[7,8,9]])
res = paddle.crop(demo)

___
result:
2.3.0
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
~\AppData\Local\Temp\ipykernel_12388\599254282.py in <modul

[2022-07-06 03:50] Lilengli opened #44118 "模型导出时不支持的operation warning"
### 请提出你的问题 Please ask your question

我在用export_model导出模型文件时，出现了以下两个warning信息，请问在export_model的代码中是如何处理不支持的算子信息的。
![operation](https://user-images.githubusercontent.com/93658838/177464325-4244f2e8-317d-4528-aca6-0ac93399e1dd.png)

[2022-07-06 03:56] YuanRisheng commented on #44110
您好，从上述提示看出应该是您环境有些问题，只能使用单GPU进行训练，可以尝试按照上述的提示尝试进行修复，另外您的cuda版本(10.2)和您的driver版本(11.4)是不匹配的，这个也会是个影响因素，推荐使用cuda11.x，如若未解决，推荐使用paddle官方的docker安装方式重新安装paddle : https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[2022-07-06 03:58] zhaoyangbu commented on #38857
同上

[2022-07-06 04:04] William-Jianyuan commented on #44110
如果我用单卡就够了, 现在的还是要重装吗

[2022-07-06 04:41] YuanRisheng commented on #44110
可以先试试单卡训练，不行再重装

[2022-07-06 04:43] William-Jianyuan commented on #44110
现在就是单机单卡报的错 不启动分布式,
用的是 这样的脚本
# 单机单卡训练 mv3_db 模型
python3 tools/train.py -c configs/det/det_mv3_db.yml \
     -o Global.pretrain_weights=./pretrain_models/MobileNetV3_large_x0_5_pretrained

[2022-07-06 06:07] guoshengCS commented on #44056
你好，我们已经开始在 PaddleNLP 的层面做了，这个是我们重点解决的问题  https://github.com/PaddlePaddle/PaddleNLP/pull/2665 。因为里面会引入ModelOutput这样一些特殊的数据结构，和框架中其他layer的规范会不太一样，所以先行在PaddleNLP中解决

[2022-07-06 06:09] GuoxiaWang commented on #44102
用高层 API 封装，使用了 Parallel Executor (PE)，这模式下底层会做一些通信 API的优化，导致用户再自己调用通信 API 时引起冲突

[2022-07-06 06:11] kuizhiqing opened #44122 "非必要文件生成"
### bug描述 Describe the Bug

https://github.com/PaddlePaddle/Paddle/blame/develop/python/paddle/distributed/ps/utils/public.py#L79-L81

这段代码可能会无故产生无用文件。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-06 06:16] YuanRisheng commented on #44110
可以使用export CUDA_VISIBLE_DEVICES=卡号，指定一张空闲的GPU卡再试试，如果还不行，建议更新cuda版本到11.2，再不行需要重装了

[2022-07-06 06:18] William-Jianyuan commented on #44110
好的, 感谢, 有问题再找您

[2022-07-06 06:34] yingyibiao commented on #44112
请问您这边使用的具体是什么池化操作以及可以提供一下参考的文档链接吗？

[2022-07-06 06:37] fanxiaochen456 commented on #44112
@yingyibiao 您好，我的参考链接是这个，https://paddlepedia.readthedocs.io/en/latest/tutorials/CNN/ParamsCounter.html#:~:text=2.1%20%E5%BD%92%E4%B8%80%E5%8C%96%E5%B1%82%E5%8F%82%E6%95%B0%E9%87%8F%E8%AE%A1%E7%AE%97%20%E7%94%B1%E4%BA%8E%E5%BD%92%E4%B8%80%E5%8C%96%E5%B1%82%E8%BE%83%E4%B8%BA%E7%AE%80%E5%8D%95%EF%BC%8C%E8%BF%99%E9%87%8C%E7%9B%B4%E6%8E%A5%E5%86%99%E5%87%BA%E5%85%AC%E5%BC%8F%EF%BC%9A%20%24%20P%20a%20r%

[2022-07-06 08:00] Ainavo commented on #43938
【队名】：Cattidea
【序号】：12
【状态】：提交rfc
【链接】：https://github.com/PaddlePaddle/community/pull/165

[2022-07-06 08:00] #44110 closed, assigned to nobody

[2022-07-06 08:58] #44105 closed, assigned to Aganlengzi

[2022-07-06 09:01] Aganlengzi commented on #44088
@MLrookie 请问是否已经解决？

[2022-07-06 09:07] MLrookie opened #44133 "config参数`min_subgraph_size`设置太大相当于TRT不起作用？"
### 请提出你的问题 Please ask your question

你好，我最近在测试paddlespeech中tts的trt加速效果，遇到了一些问题
当我设置`min_subgraph_size=3`时，运行时出现一堆bug，
当我设置`min_subgraph_size=10`时，可以顺利运行，但是模型处理耗时用trt和不用trt的一致，调整精度为Half和Int8也是一样，没有加速效果。
[code]
根据官网给的[API说明](https://www.paddlepaddle.org.cn/inference/api_reference/python_api_doc/Config/GPUConfig.html#tensorrt)，似乎`min_subgraph_size`调太大的话TRT是不起作用的，所以是这样子的吗？

[2022-07-06 09:09] MLrookie commented on #44088
可以了，多谢！

[2022-07-06 09:13] Aganlengzi commented on #44077
@LmonZero 请问是否已经解决？

[2022-07-06 09:15] LmonZero commented on #44077
问题已解决

| |
林喜钦
|
|
***@***.***
|
在2022年7月6日 ***@***.***> 写道：

@LmonZero 请问是否已经解决？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-07-06 09:16] Aganlengzi commented on #44077
好的，那issue我close了，有问题欢迎再open~

[2022-07-06 09:16] #44077 closed, assigned to nobody

[2022-07-06 09:33] Tiancaidagongrenhuangdoudou commented on #43938
【队名】：Swords in hands
【序号】：20
【状态】：报名
【链接】：https://github.com/Tiancaidagongrenhuangdoudou/community

[2022-07-06 10:03] Ligoml commented on #44079
<img width="150" alt="image" src="https://user-images.githubusercontent.com/39876205/177525729-a28ee5e8-ee71-4e77-adf2-4c57d3bd24c5.png">
aistudio的使用问题可以通过这个[渠道](https://aistudio.baidu.com/aistudio/index)反馈哈~

[2022-07-06 10:03] #44079 closed, assigned to nobody

[2022-07-06 10:06] Tiancaidagongrenhuangdoudou commented on #43938
【队名】：Swords in hands
【序号】：13
【状态】：报名
【链接】：https://github.com/Tiancaidagongrenhuangdoudou/community

[2022-07-06 10:07] Ligoml commented on #44088
@Wilber 请及时修复文档问题~

[2022-07-06 10:09] Asthestarsfalll commented on #43938
【队名】：这个队长很懒
【序号】：20
【状态】：提交RFC
【链接】：https://github.com/PaddlePaddle/community/pull/166

[2022-07-06 10:18] Ligoml commented on #44107
在 https://github.com/PaddlePaddle/PaddleDetection/issues/6366 下讨论，此issue关闭

[2022-07-06 10:18] #44107 closed, assigned to nobody

[2022-07-06 11:12] JZZ-NOTE commented on #44133
您好，min_subgraph_size 越大，进入 tensorrt 的算子越少，可以通过运行时的 log 查看有多少算子进入了 tensorrt。
可以把 min_subgraph_size=3 和 min_subgraph_size=10 的 log 贴出来，我帮你看看为什么会报错，以及有多少算子进入了 tensorrt。

[2022-07-06 11:18] Aganlengzi commented on #43914
@pmajchrzak this PR https://github.com/PaddlePaddle/Paddle/pull/44093 has been merged, you can now using newest develop~

[2022-07-06 11:20] yangguohao commented on #43938
【队名】：约克逊是个郡
【序号】：11
【状态】：报名
【链接】：https://github.com/yangguohao/Paddle/tree/multi_margin_loss

[2022-07-06 12:26] thunder95 commented on #43938
【队名】：thunder95
【序号】：15
【状态】：报名 & 提交RFC
【链接】：https://github.com/PaddlePaddle/community/pull/167

[2022-07-06 12:37] #38606 closed, assigned to wangxinxin08

[2022-07-06 12:37] #38394 closed, assigned to lzzyzlbb

[2022-07-06 15:11] ImNoBadBoy commented on #43938
【队名】：一点也不坏
【序号】：4
【状态】：报名
【链接】：https://github.com/ImNoBadBoy/Paddle

[2022-07-06 15:11] ImNoBadBoy commented on #43938
【队名】：一点也不坏
【序号】：11
【状态】：报名
【链接】：https://github.com/ImNoBadBoy/Paddle

[2022-07-06 15:11] ImNoBadBoy commented on #43938
【队名】：一点也不坏
【序号】：12
【状态】：报名
【链接】：https://github.com/ImNoBadBoy/Paddle

[2022-07-06 15:12] ImNoBadBoy commented on #43938
【队名】：一点也不坏
【序号】：14
【状态】：报名
【链接】：https://github.com/ImNoBadBoy/Paddle

[2022-07-06 15:20] Enormousegg commented on #43938
【队名】：卤蛋真好吃
【序号】：2
【状态】：报名
【链接】：https://github.com/Enormousegg/Paddle

[2022-07-06 15:35] kunkun0w0 commented on #43938
【队名】：初学者
【序号】：6
【状态】：报名
【链接】：https://github.com/kunkun0w0/Paddle

[2022-07-06 16:24] jczaja commented on #43215
@jiangjiajun , @lidanqing-intel , @yaomichael
So we merged fixes for problem of poor performance of bigger batches. So I spend some time making measurements for Resnet50 to retest problem. Here is visual representation:
![Resnet50 int8-scalability](https://user-images.githubusercontent.com/15085062/177596293-f4ded869-7ecd-4625-b8e3-73c274145d33.png)
This figure presents a scalability of performanc

[2022-07-07 01:17] njuptzwt commented on #24010
最近刚好也需要处理这种模式，想问你一下，这种方式处理，视频的延迟会越来越大，即使不卡？你那边有考虑这个嘛？

[2022-07-07 01:44] MLrookie commented on #44133
@JZZ-NOTE 你好！
min_subgraph_size=3时，报了一个valueerror
[code]
其中`squeeze_15.tmp_0`是我在设置输入dynamic shape的时候，提示没有设置dynamic shape，然后我也给它设置了min max opt shape，改完运行就报这个错了

min_subgraph_size=10时，运行结果如下
[code]

[2022-07-07 01:55] Yanting-K commented on #43938
【队名】：RandomFly
【序号】：80
【状态】：报名
【链接】：https://github.com/Yanting-K/Paddle-deploy

[2022-07-07 02:18] Shrinco opened #44140 "安装paddle gpu run_check()测试卡死"
### 问题描述 Issue Description

我电脑是win11，自带的cuda是11.6，我安装了cuda10.2和配套的cudnn7.6.5。然后在anaconda
python3.7的环境里pip 安装了paddle gpu 2.3.0，在使用 paddle.utils.run_check()时，程序卡在了如下图的位置 一直没有反应，等待了大约十几分钟后才出现结果。请问是什么原因？
![image](https://user-images.githubusercontent.com/50402380/177675542-de2ff7a2-9b89-4358-a390-799efa9cd629.png)
![image](https://user-images.githubusercontent.com/50402380/177675598-02faa0f7-eea2-418

[2022-07-07 02:51] rainyfly commented on #44140
你好，看截图应该是安装成功的，你再次import paddle会需要很久么？可以看看直接使用它训练程序会不会报错

[2022-07-07 03:12] #44041 closed, assigned to nobody

[2022-07-07 03:16] Xreki commented on #38857
请问报什么错啊？

[2022-07-07 03:25] Patrick-Star125 commented on #43938
【队名】：NetPunk
【序号】：45
【状态】：报名
【链接】：https://github.com/Patrick-Star125/Paddle

[2022-07-07 03:36] Muttermal commented on #38857
![屏幕截图 2022-07-07 113320](https://user-images.githubusercontent.com/50070283/177685341-a05ca309-3cda-4613-b018-7d78bbcc80cc.png)

[2022-07-07 04:47] Fordacre opened #44145 "DataLoader raise an error when set num_workers > 0"
### 请提出你的问题 Please ask your question

Using DataLoader for a custom IterableDataset with num_workers > 0 will raise an error as follows.
![image](https://user-images.githubusercontent.com/12699033/177693227-a5435213-fa76-4a98-a0e5-73b6471cc0fb.png)
But it is okay when setting num_workers = 0 or loading a custom paddle.io.Dataset.
Paddle Version 2.2.2

[2022-07-07 04:54] Rayman96 commented on #43938
【队名】：Rayman的团队
【序号】：34
【状态】：报名
【链接】：https://github.com/Rayman96/Paddle_ray

[2022-07-07 04:58] lidanqing-vv commented on #43215
[deep_md_test_no_model.zip](https://github.com/PaddlePaddle/Paddle/files/9060498/deep_md_test_no_model.zip)
You can reproduce Paddle+Deepmd (without lammps which is clearer) by the deep_md_test.zip, but here deepmd model is too big to upload, so I sent the model by email to you. If you haven't received the email, you can reach me :)

[2022-07-07 05:24] Shrinco commented on #44140
你好，import paddle很快。但我试了一个训练程序，用gpu训练mnist模型，结果确实一样，程序卡在这里无法执行下去
![image](https://user-images.githubusercontent.com/50402380/177697685-6e57c086-052f-42d7-b508-920ab4282698.png)
          ###########

[2022-07-07 05:46] luxu1220 commented on #43938
【队名】：一只菜鸟
【序号】：58
【状态】：报名
【链接】：[luxu1220/PaddleScience](https://github.com/luxu1220/PaddleScience)

[2022-07-07 06:00] rainyfly commented on #44145
你好，遇到该问题的原因通常是因为Dataset返回的数据存在问题，您可以仔细检查一下dataset返回的各项数据，检查一下各项数据是否可以通过paddle.to_tensor转换为tensor

[2022-07-07 06:26] Microslargh commented on #43908
Today I want to explain that Ubuntu20.04 can use paddle anyway, but I don't know if Ubuntu21.10 can support it? Please just give us an answer.

[2022-07-07 06:34] Xreki commented on #38857
<img width="1431" alt="image" src="https://user-images.githubusercontent.com/12538138/177706205-046a21e9-cefa-4721-88d1-9929b8b33910.png">

如报错信息显示，运行出错是在默认目录下找不到libcudnn.so。请补充和确认一下以下信息：

1. 使用的docker镜像是哪个？
2. 请确认下是否存在`/usr/local/cuda/lib64`目录、以及该目录下是否存在libcudnn.so库。若没有，请确认下机器上是否存在libcudnn.so库，可将其路径加入`LD_LIBRARY_PATH`中。

[2022-07-07 07:33] yingyibiao commented on #44112
我看了一下文档，里面没有提到 UpSampling2D 的 flops 为 0 啊。
Keras 的 UpSampling2D 在 Paddle 对应的 API 为 UpsamplingNearest2D 或者 UpsamplingBilinear2D。
具体的计算公式可以参考：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/hapi/static_flops.py#L158

[2022-07-07 07:55] houj04 opened #44151 "咨询一下rmsprop/momentum的weight decay"
请问下rmsprop/momentum优化器，里面的weight_decay的一系列问题：

我之前看过momentum这个优化器：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/Momentum_cn.html#momentum
python端：
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/optimizer/momentum.py
上面这个python文件的194行附近，有专门一堆代码来处理weight decay。

并且在实现中：
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/optimiz

[2022-07-07 08:04] gsq7474741 commented on #44069
@Ligoml cinn的编译错误可以帮push一下嘛 https://github.com/PaddlePaddle/CINN/issues/840

[2022-07-07 08:09] Ligoml commented on #44069
--
@zhhsplendid 请关注

[2022-07-07 08:25] PaddlePaddle-Gardener opened #44156 "test"
### 问题描述 Please describe your issue

test

[2022-07-07 09:12] fengyanWang opened #44160 "paddle.Model高级API训练模型，如何导出nb供paddle lite推理使用？"
### 请提出你的问题 Please ask your question

model = paddle.Model(PoseNet(pose_num=3,pretrained=True))
optim = paddle.optimizer.Adam(learning_rate=1e-4,parameters=model.parameters())
model.prepare(optim, paddle.nn.MSELoss())
model.fit(train_dataset, validation_dataset, save_dir="../checkpoints/pd_hudu",save_freq=2,epochs=60, batch_size=512)

类似于上述代码，使用paddle.Model等高级API训练模型，请问应该调用哪些函数生成NB模型供paddle lite部署

[2022-07-07 09:23] zuzg opened #44162 "PR-CI-Coverage fails - no space left on device"
### 问题描述 Issue Description

All required CIs pass, but running PR-CI-Coverage fails and the log shows `No space left on device`. I re-runed the pipeline twice and the problem persists. Please resolve the issue as it blocks my work. <br>
See the mentioned PR: [#44124](https://github.com/PaddlePaddle/Paddle/pull/44124)

### 版本&环境信息 Version & Environment Information

https://xly.bce.baidu.com/paddlep

[2022-07-07 09:45] rainyfly commented on #44140
请问你用的GPU卡是哪个型号的呢

[2022-07-07 09:49] Shrinco commented on #44140
你好，我的是NVIDIA GeForce RTX 3050 Laptop GPU，是因为30系列显卡和cuda版本不兼容导致的吗？需要换成11.2的cuda吗？

[2022-07-07 09:51] rainyfly commented on #44140
你要不直接试一下11.2的版本试试

[2022-07-07 09:52] Shrinco commented on #44140
好的，我去试一下。谢谢

[2022-07-07 10:52] Josie26 commented on #43938
【队名】：涂山一粒牙
【序号】：89
【状态】：报名
【链接】：https://github.com/PaddlePaddle/Paddle/issues/44066#task89

[2022-07-07 11:17] lwbmowgli commented on #43938
【队名】：长安今天炼丹了嘛
【序号】：7
【状态】：报名
【链接】：https://github.com/lwbmowgli/Paddle

[2022-07-07 11:17] lwbmowgli commented on #43938
【队名】：长安今天炼丹了嘛
【序号】：8
【状态】：报名
【链接】：https://github.com/lwbmowgli/Paddle

[2022-07-07 11:17] lwbmowgli commented on #43938
【队名】：长安今天炼丹了嘛
【序号】：9
【状态】：报名
【链接】：https://github.com/lwbmowgli/Paddle

[2022-07-07 11:17] lwbmowgli commented on #43938
【队名】：长安今天炼丹了嘛
【序号】：10
【状态】：报名
【链接】：https://github.com/lwbmowgli/Paddle

[2022-07-07 12:31] wozna commented on #44162
Already fixed

[2022-07-07 12:31] #44162 closed, assigned to rainyfly

[2022-07-07 13:27] Lilengli opened #44165 "post_hook对于特定层的操作"
### 请提出你的问题 Please ask your question

我想利用post_hook函数对于我的模型结构中的一些特定层的输出进行处理，请问paddle是否支持这样的操作，是否有具体的实现样例，谢谢！

[2022-07-07 14:02] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：75
【状态】：报名
【链接】：https://github.com/zrr1999/CINN

[2022-07-07 17:20] thunder95 commented on #43938
【队名】：thunder95
【序号】：14
【状态】：报名 & 提交RFC
【链接】：https://github.com/PaddlePaddle/community/pull/172

[2022-07-07 18:21] kunkun0w0 commented on #43938
【队名】：初学者
【序号】：6
【状态】：提交RFC
【链接】：https://github.com/PaddlePaddle/community/pull/173

[2022-07-07 22:52] tantailong opened #44166 "飞腾kylinv10 cpu版本编译失败"
### bug描述 Describe the Bug

In file included from /root/githubcode/Paddle/paddle/fluid/operators/memcpy_h2d_op.cc:12:0:
/root/githubcode/Paddle/paddle/fluid/operators/memcpy_h2d_op.h: In member function ‘void paddle::operators::MemcpyH2DFunctor::operator()(const LoDTensor&) const’:
/root/githubcode/Paddle/paddle/fluid/operators/memcpy_h2d_op.h:46:10: error: variable ‘stream’ set but not used [-Wer

[2022-07-08 01:38] Shrinco commented on #44140
问题解决了，谢谢！我装了cuda11.2 cudnn8.2，再用paddle run_check()测试时没有卡死了，我也用了一个小例程来训练也没有卡住了，很快就出了结果。
![image](https://user-images.githubusercontent.com/50402380/177898452-e84c2b94-d0b8-4586-bc86-9f8367f7a919.png)

[2022-07-08 01:44] Lilengli opened #44167 "模型可视化"
### 请提出你的问题 Please ask your question

我在使用ssd模型时，直接使用print(model)打印出来的只有卷积层，没有相关的relu，以及box等节点的信息，请问我需要怎样操作才能把模型全部的层打印出来呢，我希望可以像利用paddle.summary和paddle.flops那样打印出模型的机构和各个层的名称等信息

[2022-07-08 02:32] zkh2016 commented on #44167
你好，请问可以提供下使用的paddle版本和相关代码吗？

[2022-07-08 02:34] KyleWang-Hunter commented on #39195
请求接口的参数错误

[2022-07-08 02:40] zkh2016 commented on #44165
你好，这里有个类似的方法看下是否满足你的需求：[添加额外的执行逻辑](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/advanced/layer_and_model_cn.html#tianjiaewaidezhixingluoji)

[2022-07-08 02:48] BohrCh commented on #43938
【队名】：瞧呀羊
【序号】：31
【状态】：报名
【链接】：https://github.com/BohrCh/Paddle

[2022-07-08 03:07] AndPuQing commented on #43938
【队名】：开摆鸟
【序号】：63
【状态】：报名 & 提交RFC
【链接】：https://github.com/PaddlePaddle/community/pull/175

[2022-07-08 03:28] Lilengli commented on #44165
你好，这个样例我之前看过，但是我不知道的是如何对于特定层操作，比如说我要对于某一个卷积层conv2d对他的输出，对于relu的输出进行操作，但是样例好像并没有

[2022-07-08 03:38] w5688414 opened #44170 "Dataset里面使用multiprocessing会报错"
### bug描述 Describe the Bug

paddle的dataset中使用multiprocessing会报错，pytorch就没问题。导致李沐动手学习深度学习的CI超时。
https://github.com/d2l-ai/d2l-zh/pull/1178 详情请看这个pr里面的 chapter_natural-language-processing-applications/natural-language-inference-bert.md

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-08 04:22] qili93 commented on #44166
hi, 这错误是 CMAKE 命令修改一下就可以避免这个问题，可以参考以下文档中的 cmake 命令

https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/docs-official/guides/hardware_support/cpu_phytium_cn.md

注意这里需要添加 `-DCMAKE_CXX_FLAGS="-Wno-error -w"` 来避免上述编译错误的出现。

[2022-07-08 05:26] zkh2016 commented on #44165
哈喽，我写了个简单的例子，看下是否是你想要的：
[code]

[2022-07-08 05:33] Lilengli commented on #44165
非常感谢您的回复，我的目的大致就是这样，但是是针对于像yolo_mobilenet,ssd_mobilenet这样的模型，利用了paddledetection的模型配置文件，所以可能没有具体的层构建过程，我这里只有这个层的名称（通过可视化得到），请问还可以用post_hook对于特定层操作嘛，就像您写的代码一样

[2022-07-08 05:39] whjdark opened #44172 "paddle inference 预测时显存溢出"
### bug描述 Describe the Bug

将动态图模型动转静后使用paddle inference在GPU上预测失败，提示显存溢出。
（注：动态图下训练和预测是正常的）
paddle版本：paddlepaddle2.3.0
环境：aistudio高级版（V100 32G） 和 本地Linux RTX3080 CUDA 11.2均失败

[code]

可以加下技术人员地联系方式吗，把代码和模型发给你们。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-08 05:43] zkh2016 commented on #44165
这样操作也是可以的，通过print(model)可以知道里面有conv1这个layer，然后model.conv1.register_forward_post_hook：
[code]

[2022-07-08 05:51] heavengate commented on #44170
你好，报啥错呢，报错信息麻烦贴一下

[2022-07-08 05:53] zkh2016 commented on #44172
你好，可以先排查下当前使用的卡是否显存已经不足？可以使用CUDA_VISIBLE_DEVICES=1 换张卡试试。

[2022-07-08 05:57] whjdark commented on #44172
在Aistudio上启动之前显存占用为0（没有其他程序占用CUDA），启动后突然占用满31.7G，然后报错。
（注：动态图下训练和预测是正常的）

[2022-07-08 06:07] zkh2016 commented on #44172
哈喽，确认下测试动态图和静态图预测的输入数据的shape都是一样的是吗？

[2022-07-08 06:08] Lilengli commented on #44165
您好，为什么我在print(model)之后，print出来的模型结构和我在netron中看到的不一样呢，而且print出来的只有相关的卷积层和量化单元，并没有relu激活层。
![image](https://user-images.githubusercontent.com/93658838/177927641-2f01534f-820f-4563-a1e8-8df39ddb3e54.png)
![image](https://user-images.githubusercontent.com/93658838/177927694-912a20dc-fc51-4782-ab11-60cc180c3fee.png)
这是我的代码
![image](https://user-images.githubusercontent.com/93658838/177927764-0427a3f7-2

[2022-07-08 06:23] Fordacre commented on #44145
@rainyfly 测试起来转化为tensor并不存在问题。而且另外比较疑惑为什么当设置使用的paddle.io.Dataset而不是paddle.io.IterableDataset是却没有问题呢，这两者有什么区别嘛。

[2022-07-08 06:24] wangxinxin08 commented on #44165
relu不是以layer的形式定义的，是使用function的形式定义的，所以print(model）看不到

[2022-07-08 06:25] Lilengli commented on #44165
那请问应该怎么样看到整体的结构呢

[2022-07-08 06:27] wangxinxin08 commented on #44165
在PaddleDetection issue中回复了

[2022-07-08 06:27] Lilengli commented on #44165
好的，感谢您

[2022-07-08 06:28] whjdark commented on #44172
是一样的

[2022-07-08 06:32] Ainavo commented on #43938
【队名】：Cattidea
【序号】：12
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/44161

[2022-07-08 06:34] zkh2016 commented on #44167
你好，我看这个问题和#44165中提到的是一个问题，在[#44165](https://github.com/PaddlePaddle/Paddle/issues/44165)中讨论吧。

[2022-07-08 06:34] #44167 closed, assigned to nobody

[2022-07-08 06:38] zkh2016 commented on #44172
你那边可以先试试使用[excutor](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/Executor_cn.html#executor)和[load_inference_model](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/load_inference_model_cn.html)这两个API加载执行下看是否正常吗？

[2022-07-08 06:51] Li-fAngyU commented on #43938
【队名】：lfy
【序号】：6
【状态】：报名
【链接】：https://github.com/Li-fAngyU/Paddle

[2022-07-08 06:51] Li-fAngyU commented on #43938
【队名】：lfy
【序号】：5
【状态】：报名
【链接】：https://github.com/Li-fAngyU/Paddle

[2022-07-08 06:51] lelelelelez opened #44174 "testx"
### 问题描述 Please describe your issue

s

[2022-07-08 06:52] #44174 closed, assigned to zkh2016

[2022-07-08 07:02] w5688414 commented on #44170
只要使用了这两行：
[code]
就会有：
[code]

[2022-07-08 08:43] Li-fAngyU commented on #43938
【队名】：lfy
【序号】：5
【状态】：提交RFC
【链接】：https://github.com/PaddlePaddle/community/pull/176

[2022-07-08 08:51] whjdark commented on #44172
我看看问题的好像是输入图像分辨率太大了导致显存溢出，但是同样的分辨率在使用paddle动态图训练推理都没有显存溢出的情况。而且还观察到inference速度（开启TRT）比paddle动态图推理还慢。

[2022-07-08 09:08] S-HuaBomb commented on #43938
【队名】：绝绝子暴风进场
【序号】：11
【状态】：报名
【链接】：https://github.com/S-HuaBomb/Paddle

[2022-07-08 09:17] Wangzheee commented on #44172
您好，可以提供一下模型吗？我们这边复现一下

[2022-07-08 09:19] Wangzheee commented on #44172
另外针对unsqueeze2等一系列op Paddle Inference develop版本最近两个星期做了更新，可以启用tensorrt再试一下（develop版本需要本地源码编译一下https://paddle-inference.readthedocs.io/en/latest/guides/install/compile/compile_basic.html ）

[2022-07-08 09:51] rainyfly commented on #44160
https://paddle-lite.readthedocs.io/zh/latest/user_guides/python_demo.html ，可以看一下这个文档，另外，NB模型？

[2022-07-08 10:06] YLiyu commented on #43938
【队名】：ylyenjoy
【序号】：14
【状态】：报名
【链接】：https://github.com/ylyenjoy/Paddle

[2022-07-08 10:46] BohrCh commented on #43938
【队名】：瞧呀羊
【序号】：29
【状态】：报名
【链接】：https://github.com/BohrCh/Paddle

[2022-07-08 13:17] whjdark commented on #44172
我用的别人的模型测试
https://aistudio.baidu.com/aistudio/projectdetail/4136063?channelType=0&channel=0

[2022-07-08 15:40] jczaja commented on #43215
@jiangjiajun , @lidanqing-intel , @yaomichael

We run Ernie-3.0 int8 mutli-threading scalability test and here is visual representation:
![Ernie-3 0 int8-scalability](https://user-images.githubusercontent.com/15085062/178024070-9c4bde34-909e-4bfd-8d0d-14170c81479b.png)
So we can see that performance scalability for Batch Size : 100 is **around  5.5x**. I have not used affinity and numactl yet to b

[2022-07-08 21:38] greenfigo2015 commented on #27842
paddleocr                 2.5.0.3
paddlepaddle              2.3.1
scipy                     1.8.1
numpy                     1.22.3

when in CPU mode, it will also have the same bug, any clue to solve it?

Thanks.

[2022-07-09 07:35] Lilengli opened #44189 "量化反量化的实现"
### 请提出你的问题 Please ask your question

1. 我在使用apu作为硬件导出时，看到opt导出的nb模型中加入了一个calib节点，这个calib节点的作用是int8-float32，但是在我导出静态图模型时，并没有在这个路径上加入反量化方法，请问这个是什么问题呢，
![image](https://user-images.githubusercontent.com/93658838/178096509-277d22bf-e4b2-44ff-9815-10bdb039b71c.png)
![image](https://user-images.githubusercontent.com/93658838/178096527-7f747953-7e1e-4f05-b650-543926dac9e9.png)

2. paddle支持反量化吗，有什么反量化方法吗

[2022-07-09 09:41] PommesPeter commented on #43938
【队名】：paddle炼丹师
【序号】：5
【状态】：报名 & 提交RFC
【链接】：https://github.com/PaddlePaddle/community/pull/177

[2022-07-09 12:56] Lilengli opened #44193 "关于MAOutputScaleLayer的使用问题"
### 请提出你的问题 Please ask your question

我注意到模型的每一层都加入了MAoutputScaleLayer，请问添加这一层的目的和作用是什么呢

[2022-07-09 13:05] ccw1996 commented on #43938
【队名】：今天用GPU了吗

【序号】：35

【状态】：报名

【链接】：https://github.com/ccw1996/Paddle_hackathon

[2022-07-10 05:39] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：91
【状态】：报名
【链接】：https://github.com/zrr1999/Paddle

[2022-07-10 07:10] Asthestarsfalll commented on #43938
【队名】：这个队长很懒
【序号】：66
【状态】：报名 & 提交RFC
【链接】：https://github.com/PaddlePaddle/community/pull/178

[2022-07-10 09:51] Salitanr opened #44196 "请问一下paddle是否可以脱离python环境使用?"
### 请提出你的问题 Please ask your question

请问一下paddle是否可以脱离python环境使用?比如仅依赖c++环境做训练与预测，我不太了解python

[2022-07-10 12:48] jyjfjyjf opened #44197 "使用paddle预处理mlm任务，调用paddle.bernoulli方法时，gpu报错cpu正常运行"
### bug描述 Describe the Bug

报错环境
win11
python 3.7
rtx3090 cuda 11.2
paddlepaddle-gpu 2.3

代码：

    def masked_fill(x, mask, value):
        y = paddle.full(x.shape, value, x.dtype)
        return paddle.where(mask, y, x)

    class MLMDataset(Dataset, ABC):
        def __init__(self, tokenizer, args):

            super().__init__()
            data = []
            with open(args.train_data_path,

[2022-07-10 12:50] jyjfjyjf commented on #44197
本地使用paddlepaddle-gpu 2.3.0报错截图
![image](https://user-images.githubusercontent.com/34862504/178145602-2e020ffc-a2fa-43d0-9be6-98e4693c6f17.png)
![image](https://user-images.githubusercontent.com/34862504/178145610-65bef5eb-d941-49ee-ad8c-b0bec3cabbea.png)

[2022-07-10 14:52] unseenme commented on #44068
我对No.82很有兴趣，不过手上没有开发板。
请问有没有模拟器或者其他途径，可以验证全量化模型的精度？

[2022-07-10 15:06] PommesPeter commented on #43938
【队名】：paddle炼丹师
【序号】：18
【状态】：报名 & 提交提案
【PR链接】：https://github.com/PaddlePaddle/community/pull/180

[2022-07-10 15:36] skywalk163 commented on #44196
只使用c++环境预测是可以的。
但是训练，建议用python环境，否则编码效率太低。

[2022-07-11 01:26] #43914 closed, assigned to Aganlengzi

[2022-07-11 02:11] stupidrocket opened #44199 "paddleocr预训练模型微调"
### 请提出你的问题 Please ask your question

使用paddleocr预训练模型微调，训练时训练集正确率从0.1开始上升，但我直接使用预训练模型预测的正确率在0.9以上，如何在微调的时候让训练初始正确率从0.9开始变化？

[2022-07-11 02:38] #44166 closed, assigned to nobody

[2022-07-11 02:43] #44165 closed, assigned to rainyfly

[2022-07-11 02:47] haohongxiang commented on #44031
@jyjfjyjf Hi，paddle.nonzero API 在windows+cuda 11.2环境下精度异常的问题，我们已修复，[PR](https://github.com/PaddlePaddle/Paddle/pull/44181)合入了develop分支。您这边如果不想编译paddle的话，可以使用[nightly安装包](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/windows-pip.html)，今天合入的PR会在明天开始的nightly包中生效。

[2022-07-11 02:50] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：77
【状态】：报名
【链接】：https://github.com/zrr1999/CINN

[2022-07-11 03:19] qljsky commented on #44196
感谢您的回复，这代表着使用c++训练也可以是吧，pytorch能查到前端组网训练的c++接口，paddle相关的接口在哪里？
如果我想基于paddle或者paddlex做一个类似paddlex gui的前端工具，您有什么建议吗？paddlex gui是如何实现将组网训练集成到前端的，是直接使用c++接口？还是将pytohon解释器集成进来执行python脚本？或者其他方式

[2022-07-11 03:21] Salitanr commented on #44196
感谢您的回复，这代表着使用c++训练也可以是吧，pytorch能查到前端组网训练的c++接口，paddle相关的接口在哪里？
如果我想基于paddle或者paddlex做一个类似paddlex gui的前端工具，您有什么建议吗？paddlex gui是如何实现将组网训练集成到前端的，是直接使用c++接口？还是将pytohon解释器集成进来执行python脚本？或者其他方式

[2022-07-11 03:23] ziyoujiyi commented on #44196
可以看下 pybind.cc、fleet_py.cc  等绑定 python 和 c++ 接口的文件

[2022-07-11 03:25] ziyoujiyi commented on #44197
看起来像是组网，tensor 纬度不对 导致的

[2022-07-11 03:33] tink2123 commented on #44199
python3  tools/train.py -c xxx.yml -o Global.pretrained_model={model_path}/best_accuracy

使用上述命令，在训练时加载预训练模型

[2022-07-11 03:48] skywalk163 commented on #44196
具体细节我没有了解这么清楚。 我知道和理解的是，飞桨底层是C++代码，然后再用python调用。比如参考这个文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/custom_op/new_cpp_op_cn.html
我们常规写了自定义算子还要python注册一下，理论上你可以省掉python注册那块，直接c++调用算子。

paddlex那块，重写多累，跟官方一块吧，反正也是开源的。

[2022-07-11 03:48] jyjfjyjf commented on #44197
我一样的代码，啥都没改，本地就不行，aistudio gpu可以，本地cpu也可以

[2022-07-11 03:52] jyjfjyjf commented on #44031
好的

[2022-07-11 03:55] jyjfjyjf commented on #44197
aistudio上进行mlm预训练都弄完了

[2022-07-11 04:01] Jeremy-lf opened #44209 "all inputs arrays must have the same shape!"
### bug描述 Describe the Bug

![image](https://user-images.githubusercontent.com/45171399/178185843-6308d42d-45b2-4e0b-b3d5-c50c36489b7d.png)

paddle2.3的环境，基于paddledetection 2.3 rb 训练，抱这个错是什么问题呢？

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-11 05:04] stupidrocket commented on #44199
我在config文件里已经设置了pretrained_model，训练时显示加载成功

[2022-07-11 06:11] gglin001 opened #44213 "CI 不稳定"
### bug描述 Describe the Bug

随机出现下面的问题:

1. ”关联流水线取消“
https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/detail/6073262/job/16525922

似乎在短时间内多次提交PR时容易出现这个问题

2. 未知原因失败, 没有log
https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/detail/6073243/job/16525886

3. 有时 `CheckPRTemplate ` 会卡住, 需要手动编辑 PR 信息重新触发才能 work

4. CI `PR-CI-Windows-Inference` 很容易出现失败
https://xly.bce.baidu.com/paddlepaddle/padd

[2022-07-11 06:15] haoyuying commented on #44209
训练过程图片只有相同的shape才能组装成一个batch，该报错显示的是np.stack由于shape不一致导致的报错，建议排查数据处理模块，看输入图片是否统一成相同的shape。

[2022-07-11 06:24] tink2123 commented on #44199
预测准确率0.9以上，不代表在训练集上也可以达到0.9。数据分布不同，模型准确率变化会比较大。

[2022-07-11 06:30] tiancaishaonvjituizi commented on #43938
【队名】：我的名字连起来就是王豆豆
【序号】：50
【状态】：报名
【链接】：https://github.com/tiancaishaonvjituizi/Paddle

[2022-07-11 06:30] tiancaishaonvjituizi commented on #43938
【队名】：我的名字连起来就是王豆豆
【序号】：51
【状态】：报名
【链接】：https://github.com/tiancaishaonvjituizi/Paddle

[2022-07-11 06:31] tiancaishaonvjituizi commented on #43938
【队名】：我的名字连起来就是王豆豆
【序号】：52
【状态】：报名
【链接】：https://github.com/tiancaishaonvjituizi/Paddle

[2022-07-11 06:31] tiancaishaonvjituizi commented on #43938
【队名】：我的名字连起来就是王豆豆
【序号】：53
【状态】：报名
【链接】：https://github.com/tiancaishaonvjituizi/Paddle

[2022-07-11 06:31] tiancaishaonvjituizi commented on #43938
【队名】：我的名字连起来就是王豆豆
【序号】：54
【状态】：报名
【链接】：https://github.com/tiancaishaonvjituizi/Paddle

[2022-07-11 06:33] Jeremy-lf commented on #44209
好的，我再排查一下

[2022-07-11 07:11] Patrick-Star125 commented on #43938
【队名】：NetPunk
【序号】：45
【状态】：报名
【链接】：https://github.com/Patrick-Star125/Paddle

[2022-07-11 07:11] Patrick-Star125 commented on #43938
【队名】：NetPunk
【序号】：46
【状态】：报名
【链接】：https://github.com/Patrick-Star125/Paddle

[2022-07-11 07:17] betterpig commented on #41819
该问题已修复，见 [PR](https://github.com/PaddlePaddle/Paddle/pull/43510)。感谢指正！

[2022-07-11 08:25] YuanRisheng commented on #39410
您好，可以使用set_state_dict来给一个Program赋值参数，可参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/static/Program_cn.html#set-state-dict-state-dict-scope-none

[2022-07-11 09:14] ziyoujiyi commented on #44196
纯 C++ 端训练暂不支持

[2022-07-11 09:19] ziyoujiyi commented on #44197
bernoulli 是第一个 cuda op 吧，能先check下windows装的gpu驱动是否没问题？

[2022-07-11 09:22] qljsky commented on #44196
如果借助boost.python呢?

[2022-07-11 09:40] ziyoujiyi commented on #44197
可以先试试其他 cuda op，如果还有问题，就是本地环境问题，如果没有问题，我们在定位下 这个 op 是不是有 bug

[2022-07-11 10:11] kouhinn commented on #43346
同样的问题，每个predictor.run() 之后调用了上述clearxxx和shrink之后显存占用的确可以了。但是时常出现一些内存/显存相关的错误：
堆栈如下：
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::AnalysisPredictor::ZeroCopyRun()
1   paddle::framework::NaiveExecutor::Run()
2   paddle::framew

[2022-07-11 10:33] jyjfjyjf commented on #44197
gpu驱动应该没问题，我用torch-gpu cuda 11.6， torch-gpu cuda 11.2都没事

[2022-07-11 10:35] jyjfjyjf commented on #44197
其他的op有问题的我提bug了，然后你们复现出来，今天回复我了
![image](https://user-images.githubusercontent.com/34862504/178245854-2817e24d-e650-4f4c-a95f-ddab6e6fa018.png)
大部分op都没问题，不过有一个问题我本地都跑不了

[2022-07-11 10:41] kouhinn commented on #39000
遇到同样的问题。
我的环境是：
Jetpack4.6-nv-jetson-cuda10.2-cudnn8.2-trt8.0_xavier
Jetson AGX Xavier
paddle2_2 inference 对应预编译包

同样的代码在服务器上面跑就比在盒子上占用小。
注：使用trt预测也一样。

[2022-07-11 12:51] March35 opened #44232 "paddle.fluid.io.save_inference_model()报错：ValueError: var read_file_0.tmp_0 not in this block"
### 请提出你的问题 Please ask your question

paddle.fluid.io.save_inference_model()报错：ValueError: var read_file_0.tmp_0 not in this block

[2022-07-11 13:03] Ilovecode93 commented on #43938
【队名】：一定要争气
【序号】：39
【状态】：报名
【链接】：https://github.com/Ilovecode93/Paddle/

[2022-07-12 02:00] thunder95 commented on #43938
【队名】：thunder95
【序号】：15
【状态】：提交
【链接】：https://github.com/PaddlePaddle/Paddle/pull/44169

[2022-07-12 02:04] haoyuying commented on #44232
您好，根据报错信息原因是保存模型时存在临时变量，请检查组网代码中是否存在临时变量或非法变量被保存的情况。

[2022-07-12 02:12] #44018 closed, assigned to betterpig

[2022-07-12 02:20] yghstill commented on #44193
@Lilengli MAoutputScaleLayer主要是为了统计每一层激活的scale值，实际部署时需要获取conv、fc后的scale值，所以大部分激活层的前面都会插入MAoutputScaleLayer节点。

[2022-07-12 02:23] RRRRRayyyyy opened #44234 "paddlespeech跑语音合成样例的时候出现paddle _non_static_mode错误"
### 请提出你的问题 Please ask your question

在按照paddleSpeech的安装模式进行paddlepaddle和paddlespeech安装后，测试语音合成样例的时候在paddle/distribution/distribution,py 中抛出 cannot import name '_non_static_mode' from 'paddle.fluid.framework'的问题，参考了issue有remove '_non_static_mode' 的问题，请问这个模块是被remove了还是什么其他问题呢？

[2022-07-12 02:23] yghstill commented on #44189
@Lilengli 可以检查下subgraph里有没有conv、fc等量化op，一般量化后会将数据类型cast成fp32

[2022-07-12 02:35] NSEVC opened #44235 "关系模型预测问题"
### 请提出你的问题 Please ask your question

当关系模型预测的时候，实体的head_index超过512的时候，取特征不报错，具体对应下面的代码：

[code]

其中这行代码` tmp_hidden_states = hidden_states[b][tail_index]`，相关变量的部分信息如下所示，最终可以取得tmp_hidden_states的值，且代码不报错：
hidden_states.shape: [2, 512, 768]
head_index: Tensor(shape=[704], dtype=int64, place=CUDAPlace(0), stop_gradient=True,
       [296, 139, 236, 522, 227, 485, 337, 447, 522, 236, 317, 518, 485, 167

[2022-07-12 02:35] NSEVC commented on #44235
你好，你的邮件我已收到，我会尽快处理。

[2022-07-12 02:42] w5688414 opened #44236 "飞桨代码运行的时候会报很多warning信息，请问怎么去除。"
### bug描述 Describe the Bug

飞桨代码运行的时候会报很多warning信息，请问怎么去除。

[code]
李沐那边的开发者提了好多遍了。

https://github.com/d2l-ai/d2l-zh/pull/1177

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-12 02:44] Lilengli commented on #44189
感谢您的回复，但是我已经确认了subgraph里面是有conv卷积层的，prior_box节点接受的是relu的输出，但是从这个多输出conv卷积层的relu输出到prior_box节点之间没有量化op

[2022-07-12 02:53] wjj19950828 commented on #44042
@czr-gc 您好，感谢反馈～

目前问题已经修复，明天的官网API映射表应该就可以看到

[2022-07-12 02:54] #44042 closed, assigned to TCChenlong

[2022-07-12 03:29] GT-ZhangAcer commented on #44066
Python环境下的PyGitHub第三方库封装了较多GitHub V3 API，可考虑使用该库提供GitHub数据支持。

[2022-07-12 03:35] kouhinn commented on #43346
跑24小时差不多必现。有时是如下一种报错：
***** FATAL SIGNAL RECEIVED *******
Received fatal signal: SIGABRT(6)	PID: 18711

***** SIGNAL SIGABRT(6)

*******	STACKDUMP *******
	stack dump [1]  /usr/local/lib/libg3log.so.2.1.0-0+0x1465a [0x7f1261e8165a]
	stack dump [2]  /lib/x86_64-linux-gnu/libpthread.so.0+0x12980 [0x7f127d0d5980]
	stack dump [3]  /lib/x86_64-linux-gnu/libc.so.6gsignal+0xc7 [0x7f1261519e87]
	stack dum

[2022-07-12 04:20] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：77
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/182

[2022-07-12 05:48] lwbmowgli commented on #43938
【队名】：长安今天炼丹了嘛
【序号】：9
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/183

[2022-07-12 06:31] haoyuying commented on #44213
您好，您的问题我已经帮您反馈，最近将会有专门负责的同学跟进您的问题，请耐心等待。

[2022-07-12 06:32] Ligoml opened #44253 "【PaddlePaddle Hackathon 3】OpenVINO 项目贡献任务合集"
（此 ISSUE 为 PaddlePaddle Hackathon 第三期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第三期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/43938)）

每个框架都有自己的模型和算子表达。OpenVINO 对 PaddlePaddle 的支持需要从 Paddle 的算子映射转换到 OpenVINO 的算子。在这个过程中，我们将熟悉深度学习神经网络的算子表达和计算。开发请参考 [贡献指南](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/index_cn.html)，任务列表如下：

### No.95：为 OpenVINO 实现 Paddle 算子 box_co

[2022-07-12 06:44] #19704 closed, assigned to nobody

[2022-07-12 06:44] #26741 closed, assigned to nobody

[2022-07-12 06:44] #33817 closed, assigned to iclementine

[2022-07-12 06:44] #33947 closed, assigned to JZ-LIANG

[2022-07-12 06:44] #33975 closed, assigned to pangyoki, wanghuancoder

[2022-07-12 06:44] #33979 closed, assigned to TeslaZhao

[2022-07-12 06:44] #34010 closed, assigned to zhwesky2010

[2022-07-12 06:44] #34011 closed, assigned to zhwesky2010

[2022-07-12 06:44] #34013 closed, assigned to zhwesky2010

[2022-07-12 06:44] #34031 closed, assigned to nobody

[2022-07-12 06:44] #34042 closed, assigned to chenjiaoAngel

[2022-07-12 07:22] lidanqing-vv commented on #43215
@jczaja Thank you very much for you investigation. Together with the email about Resnet50 INT8 throughput and latency, Resnet50 INT8 scalability is good. Hence we can remove Resnet50 INT8 from the multithreading issue. Now we can focus on Ernie-3.0 multithreading scalability.

[2022-07-12 07:27] w5688414 opened #44261 "notebook上使用dist.spawn 失败"
### bug描述 Describe the Bug

以下是从官网复制的示例代码：

[code]
运行结果为：

[code]

环境是ubuntu， python3.8， paddle 2.3.1版本

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-12 08:08] gsq7474741 commented on #43938
【队名】：PeachML
【序号】：23
【状态】：报名
【链接】：https://github.com/gsq7474741/Paddle/

[2022-07-12 08:29] Lilengli opened #44265 "量化节点使用问题"
### 请提出你的问题 Please ask your question

为什么我在调用一个class时，我只是调用了class的__init__，并没有调用里面的forward，比如想这个QuantizedConv2d。
![image](https://user-images.githubusercontent.com/93658838/178446190-7fc01c76-e56a-4d1e-998e-e9dd3bae11e6.png)

[2022-07-12 08:43] czr-gc opened #44267 "Bug in dy2static cpu backward with GLOG_v"
### bug描述 Describe the Bug

### 复现方法：
- `export GLOG_v=10` in terminal
- run following script:

[code]

### 报错信息：
[code]

### 原因：
dy2static为了支持cuda, `run_program_op`里面传入了一个未初始化的var `_cuda_graph_vec`：

https://github.com/PaddlePaddle/Paddle/blob/e379455a1ea6f5264dcb8326dadebc381540439b/python/paddle/fluid/dygraph/dygraph_to_static/partial_program.py#L366

在反向的时候，打开Glog的情况下，由于变量`cuda_graph`未初始化，var内

[2022-07-12 08:51] jiangjiajun opened #44269 "ele_act_mkldnn_fuse_pass cannot disable the glog information"
### bug描述 Describe the Bug

https://github.com/PaddlePaddle/Paddle/blob/release/2.3/paddle/fluid/framework/ir/mkldnn/batch_norm_act_fuse_pass.cc#L144
在batch_nrom中可以看到会根据glog信息输出日志

https://github.com/PaddlePaddle/Paddle/blob/release/2.3/paddle/fluid/framework/ir/mkldnn/elt_act_mkldnn_fuse_pass.cc#L119
但在ele_act_fuse中则无此判断，需要进行修改

这导致在mkldnn模式下，无法禁用此pass输出的日志
### 其他补充信息 Additional Supplementary Inf

[2022-07-12 09:10] rainyfly commented on #44145
<img width="897" alt="image" src="https://user-images.githubusercontent.com/22424850/179435500-11640067-df07-44ea-a94f-0d05b4c75bfa.png">

应该是IterableDataset获取数据的方式不是通过__getitem__导致的

[2022-07-12 09:15] gsq7474741 commented on #43938
【队名】：PeachML
【序号】：23
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/184

[2022-07-12 09:38] kouhinn commented on #43346
@hp03   是不是上述clearxxx和shrink在每个predictor.run之后都必须调用？如果一些predictor.run之后调用这个，一些不调用，会不会出现上述问题？还是其他原因？

[2022-07-12 10:19] yghstill commented on #44189
@Lilengli conv+relu会融合，都会跑在int8的kernel里，之后需要cast成fp32，所以有calib算子。

[2022-07-12 10:27] mrbeann opened #44272 "动态选择在哪块卡运行模型时报错"
### 请提出你的问题 Please ask your question

您好，我在使用paddle的过程中遇到了一个错误，我搭建了一个简单的web服务，然后需要动态选择在哪块卡上运行代码，但是执行过程出现了CUDA memory error。
代码逻辑非常简单，相关部分如下：
[code]

![6196e09e69e68d5dd397b65e1dd1b15](https://user-images.githubusercontent.com/9161747/178469759-8865bc9d-8c23-48c7-b8b0-f28be92dd856.png)

[2022-07-12 15:38] jczaja commented on #43215
@jiangjiajun , @lidanqing-intel , @yaomichael
We digged deeper into poor performance scalability of multi-threaded ernie-3.0 int8 e.g. We check how does execution time decreases with using more threads . Here is visual represenation:
![ERNIE-int8-bs100-operators-scalability](https://user-images.githubusercontent.com/15085062/178529470-244d930c-c334-46c2-9cef-7a9cfb55e478.png)
If there is good perf

[2022-07-12 16:08] luotao1 commented on #44213
感谢您对CI的建议
1. ”关联流水线取消“是最近7月初才上的功能，我看了您[e570a4的两次日志](https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/builds/6512?module=github/PaddlePaddle/Paddle&pipeline=PR-CI-Coverage&branch=pull/44206(develop))，分别是11:32自动触发和14:17手动触发的，相隔时间挺久的。请问“似乎在短时间内多次提交PR时容易出现这个问题”，短时间是怎么理解呢？
2. 该问题是已知的，最近CI集群扩容后出现部分机器无法挂载cfs存储的问题，正在解决中。
3. 该问题也是已知的，之前我们认为网络不好导致无法触发，在7月初升级了一次网络带宽，但对`CheckPRTemplate`似乎效果不大，准备尝试其他办法来解

[2022-07-13 02:19] gglin001 commented on #44213
我的意思是短时间内创造多个新的 PR 时, 某个PR的CI出现这个问题的概率会比较高, 看现象似乎是这样(不一定对)

[2022-07-13 02:48] Fordacre commented on #44145
图片看不到呀，上传失败了。
@rainyfly 所以这个问题有能够使用IterableDataset设置wokers>0的解决方案嘛。而且我看文档里是可以这样使用的。

[2022-07-13 03:08] renoyuan commented on #43411
我也遇到了，运行就会报错，但是是偶发的，有时候会报错有时候不会

[2022-07-13 03:10] longranger2 commented on #43938
【队名】：Swift

【序号】：87

【状态】：报名

【链接】：https://github.com/longranger2/Paddle

[2022-07-13 03:11] longranger2 commented on #43938
【队名】：Swift

【序号】：88

【状态】：报名

【链接】：https://github.com/longranger2/Paddle

[2022-07-13 03:37] gglin001 commented on #44213
append:

下面的这个 `PR-CI-Windows` 失败似乎是 由于 无法执行
[code]
而导致 git clone 失败, 原因似乎是每个 PR 的执行不是隔离的, 会导致进程冲突?

https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/detail/6091795/job/16587930

[code]

[2022-07-13 03:45] kouhinn commented on #43346
+1:
***** FATAL SIGNAL RECEIVED *******
Received fatal signal: SIGABRT(6)	PID: 30571

***** SIGNAL SIGABRT(6)

*******	STACKDUMP *******
	stack dump [1]  /usr/local/lib/libg3log.so.2.1.0-0+0x1465a [0x7fa3a64e865a]
	stack dump [2]  /lib/x86_64-linux-gnu/libpthread.so.0+0x12980 [0x7fa3c173c980]
	stack dump [3]  /lib/x86_64-linux-gnu/libc.so.6gsignal+0xc7 [0x7fa3a5b80e87]
	stack dump [4]  /lib/x86_64

[2022-07-13 03:52] betterpig commented on #44213
这是由于流水线出现问题后，需要登录机器在原环境排查。如果在排查完后未完全退出，会导致后面的任务无法清理原有环境。后续会增加单一机器失败多次暂时下线功能，避免所有任务秒挂在问题机器。

[2022-07-13 04:11] Lilengli opened #44291 "skip_quant在哪里执行"
### 请提出你的问题 Please ask your question

我注意到在QAT里面的一个注释：如果skip_quant=true则不添加量化放量化逻辑，我想知道这个skip_quant在那里实现的呢，谢谢您的回复
![image](https://user-images.githubusercontent.com/93658838/178648991-c526e9b4-75b1-4a5f-9ebb-c8284b5dce9b.png)

[2022-07-13 05:34] Wangzheee commented on #44172
您好，看样子您已经动转静成功了。https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/beginner/model_save_load_cn.html
可以提供下保存后的静态图模型吗？我们这边可以让PM联系您～

[2022-07-13 05:36] Wangzheee commented on #44172
可以用百度网盘上传 静态图模型的链接～

[2022-07-13 06:13] chch2010523 opened #44293 "安装paddlepaddle-2.3.1-gpu版本，提示没有paddle.nn"
### 请提出你的问题 Please ask your question

运行gnn的例子时，提示报错Exception has occurred: ModuleNotFoundError，No module named 'paddle.nn'
我的环境是 1080TI  Ubuntu20.04
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2021 NVIDIA Corporation
Built on Fri_Dec_17_18:16:03_PST_2021
Cuda compilation tools, release 11.6, V11.6.55
Build cuda_11.6.r11.6/compiler.30794723_0
NVIDIA-SMI 510.39.01    Driver Version: 51

[2022-07-13 06:26] seemingwang commented on #44265
你好，方便提供一下具体的调用代码吗

[2022-07-13 06:32] Lilengli commented on #44265
你好，我就是调用的Paddle-develop\python\paddle\fluid\contrib\slim\quantization\imperative\qat.py这个文件，我用QAT来量化模型。

[2022-07-13 06:52] seemingwang commented on #44272
你好，请问是动态图还是静态图，以及是否可以提供一下跑网络前向的代码。

[2022-07-13 06:55] XieYunshen commented on #43419
![image](https://user-images.githubusercontent.com/32428676/178670094-405ec309-b8fd-4363-9706-a774876db061.png)
python3.8以及上是安装不了的，这里是有写的

[2022-07-13 07:01] seemingwang commented on #44261
官网提供的whl包编译的时候没有打开          -DWITH_DISTRIBUTE=ON  选项，所以使用不了这个功能，
若需要使用这个功能需要手动编译，并在cmake时候加上           -DWITH_DISTRIBUTE=ON 选项。
可以参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html

[2022-07-13 07:19] paddle2022 opened #44299 "运行python create_list.py 生成的trainval.txt 和test.txt 里面是空白的，为什么，但是我的ImageSets/Main里面是有trainval.txt里面也有内容的"
### 请提出你的问题 Please ask your question

paddle版本2.2.2 paddleDetection release 2.4参照官方文档操作（https://paddledetection.readthedocs.io/tutorials/Custom_DataSet.html#1%E5%87%86%E5%A4%87%E6%95%B0%E6%8D%AE）
![image](https://user-images.githubusercontent.com/109204750/178674093-bfc3b668-8961-4b2a-974c-18c5922b979e.png)
label_list.txt种类也换了，运行python create_list.py 生成的trainval.txt 和test.txt 里面是空白的。

[2022-07-13 07:53] wanghaoshuang commented on #44291
在这里实现的：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/slim/quantization/imperative/qat.py#L368-L372

[2022-07-13 08:09] luotao1 commented on #44213
关联流水线取消是指，为了节省资源加速失败，我们将失败率较高 & 运行速度较快的py3流水线作为关联流水线，其他linux流水线作为被关联者。即py3流水线失败-》通知其他linux流水线失败。

这和短时间没关系，但PR多，从失败率角度看，某个PR的CI出现这个的几率就大了。

我们后续可以将这个策略的说明体现在日志中，便于大家理解。

[2022-07-13 08:27] kuizhiqing commented on #44293
请检查使用的 python 版本对应的按照目录下 paddle 是否安装正确，另外工作目录下是否包含了 paddle 目录导致 import 首先识别当前目录。

[2022-07-13 08:32] LitterQ opened #44305 "按照教程使用PaddleServing部署PP-OCRv3后，显存和内存溢出"
### bug描述 Describe the Bug

按照教程使用PaddleServing部署PP-OCRv3后，运行web服务后进行测试显存和内存都会一直增加不会减少。

环境为win11下的WSL2，根据Paddle官网，使用docker
拉取环境 nvidia-docker pull registry.baidubce.com/paddlepaddle/paddle:2.3.1-gpu-cuda11.2-cudnn8

进入环境后python web_service.py  &>log.txt & 后
![image](https://user-images.githubusercontent.com/11575234/178687752-c16c4858-04cd-41d5-83e9-fde99808af5b.png)
内存占用5G，内存24G

此时运行 python pip

[2022-07-13 08:47] zoooo0820 commented on #44299
@paddle2022
你好，可以参考下[目标检测数据准备](https://github.com/PaddlePaddle/PaddleDetection/blob/develop/docs/tutorials/data/PrepareDetDataSet.md#%E7%9B%AE%E6%A0%87%E6%A3%80%E6%B5%8B%E6%95%B0%E6%8D%AE%E8%AF%B4%E6%98%8E)这个文档，核对一下数据路径等内容的组织是否正确

[2022-07-13 08:50] heavengate commented on #44305
你好，PaddleOCR服务化部署可以参考这个文档，现在在做全链条部署方案检测，这里面的部署方式是每天监控的
https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.5/deploy/pdserving/README_CN.md#部署

[2022-07-13 08:59] seemingwang commented on #44235
可以参考paddle/fluid/operators/index_select_op.h,
当用一个tensor作为下标去访问另外一个tensor，会导致这个op的IndexSelectInner函数被调用，当超出dimension的时候，超出的部分会填充0

[2022-07-13 09:20] houj04 opened #44308 "咨询device guard的问题"
### 请提出你的问题 Please ask your question

请问一个device guard的问题：
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_device_guard.py#L86
这里写的是`gpu:1`，所以是不是按照设计，需要至少有2个gpu才能跑？
但是我自己跑单测的时候，只有1个gpu卡，也不报错，这样跑的：

[code]

想问一下是否符合预期，谢谢~

[2022-07-13 09:34] seemingwang commented on #44236
import warnings
warnings.filterwarnings("ignore")

可以尝试加上这句来消除warning

[2022-07-13 09:54] wanghaoshuang commented on #44265
动态图量化训练请参考这个教程：https://paddleslim.readthedocs.io/zh_CN/latest/quick_start/dygraph/dygraph_quant_aware_training_tutorial.html

不建议您直接调用paddle.nn.quant.QuantizedConv2D

[2022-07-13 09:55] arzakmiftakhul commented on #43908
I got same error on Ubuntu 22.04 LTS.

[2022-07-13 10:02] LitterQ commented on #44305
您好，我又重新重头按照您给的文档部署了一遍，但是显存还是不释放。
docker镜像使用的是[2.3.1-gpu-cuda11.2-cudnn8](https://hub.docker.com/layers/paddle/paddlepaddle/paddle/2.3.1-gpu-cuda11.2-cudnn8/images/sha256-4bef1dfb215daf7153fb8cd0ce14121136ace3130dfca392b5c252c049d8b276?context=explore)

部分重要的pip3 list如下
![image](https://user-images.githubusercontent.com/11575234/178707624-004240f6-9090-4707-83ce-69aa6d29dd58.png)

[2022-07-13 10:43] SigureMo commented on #44236
[code]

问题应该同 #41745

NumPy 的 Deprecation Warning 应当已经在 #42929 解决了，升级到 2.3.1（前两天刚发布的）即可解决～

<img width="694" alt="image" src="https://user-images.githubusercontent.com/38436475/178715530-bb0ce821-474a-4506-9109-7e6b3cd36393.png">

<img width="573" alt="image" src="https://user-images.githubusercontent.com/38436475/178715558-d57063ed-86f4-4584-a069-3c333bd5c347.png">

[2022-07-13 10:49] SigureMo commented on #41745
应当已经于 #42929 解决了，升级到 2.3.1 应该就没这个 warning 啦～

<img width="694" alt="image" src="https://user-images.githubusercontent.com/38436475/178715530-bb0ce821-474a-4506-9109-7e6b3cd36393.png">

<img width="573" alt="image" src="https://user-images.githubusercontent.com/38436475/178715558-d57063ed-86f4-4584-a069-3c333bd5c347.png">

[2022-07-13 11:44] S-HuaBomb commented on #43938
【队名】：绝绝子暴风进场

【序号】：16

【状态】：报名

【链接】：https://github.com/S-HuaBomb/Paddle

[2022-07-13 12:57] HexToString commented on #44305
推荐你使用C++ 版本的Paddle Serving

[2022-07-14 00:45] chch2010523 commented on #44293
检查后，确认当前目录下没有paddle目录。
虚拟环境python版本为3.7，使用conda list检查得到如下结果

[code]
安装命令使用的是官网的
`python -m pip install paddlepaddle-gpu==2.3.1.post116 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html`

[2022-07-14 01:03] Dandelion111 opened #44319 "paddle2.2以上版本训练的paddleclas分类模型无法转换到x86 paddlelite模型"
### bug描述 Describe the Bug

paddle2.2和paddle2.3版本训练的paddleclas分类模型无法转换到x86 paddlelite模型，在导出为inference后会有一个matmul_v2的算子不支持，paddle2.1版本可以转换

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-14 02:12] syw2014 opened #44320 "PaddlePaddle是有与wandb结合案例"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

### 替代实现 Alternatives

wandb是一个用来记录训练过程的超参数和数据指标的package，PaddlePaddle是有与wandb结合案例？

[2022-07-14 02:15] kuizhiqing commented on #44293
使用环境和安装环境需要对应，你目前使用 conda 环境安装，需要通过 conda 环境来使用。具体使用方法请参考 conda 文档。另外建议可以尝试使用 docker，简化环境配置工作。

[2022-07-14 02:26] #44269 closed, assigned to wjj19950828

[2022-07-14 03:28] kouhinn commented on #43346
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():

  Compile Traceback (most recent call last):
    File "C:\Users\admin\anaconda3\envs\py37_tensorflow1_14\Scripts\x2paddle-script.py", line 33, in <module>
      sys.exit(load_entry_point('x2paddle==1.3.5', 'console_scripts', 'x2paddle')())
    File "C:\Users\admin\anaconda3\envs\py37_tensorflow1_14\lib\site

[2022-07-14 03:57] kuizhiqing commented on #44308
按照目前的设计 device_guard 只做声明，使用时是否符合预期需要进一步分析。

[2022-07-14 03:59] kouhinn opened #44323 "不能稳定运行20小时：paddle inference c++多线程预测 常出现gpu相关异常退出"
### bug描述 Describe the Bug

使用paddle inference c++接口进行多线程推理。按照样例一个线程一个predictor, 并按照省显存的方式，在每个preictor.Run之后调用了 ClearIntermediateTensor和TryShrinkMemory。 (相关https://github.com/PaddlePaddle/Paddle/issues/43346)

运行中常出现各种异常退出：
paddle及相关版本：
cuda:10.2
cudnn:7.6.5.32
paddle:2.2.2

简要错误信息与堆栈如下：
----------------------
Error Message Summary:
----------------------
ExternalError: CUDNN error(8), CUDNN_STATU

[2022-07-14 04:03] kouhinn commented on #44323
这种错误在压力较小的不能复现。压力较大时候（多个模型，数百个predictor多线程运行时）必现

[2022-07-14 04:22] lcneyc opened #44324 "安装Paddlenlp后Paddle无法调用GPU"
### 请提出你的问题 Please ask your question

PaddleNLP和PaddlePaddle版本：paddlepaddle-gpu==2.3.0.post112 paddlenlp==2.3.4
系统环境：python==3.8.13 CentOS==7.9.2009
安装PaddleNLP后Paddle无法调用GPU

Running Verify Fluid Program ...
W0714 12:08:50.509186 112295 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.2, Runtime API Version: 11.2
W0714 12:08:50.518731 112295 gpu_cont

[2022-07-14 05:31] lcneyc commented on #44324
我之前使用paddleocr能正常调用gpu，在安装paddlenlp后无法调用了，但在我重新安装环境后，paddle仍无法调用gpu，在新环境中出现了一样的问题。

Running Verify Fluid Program ...
W0714 13:03:57.545765  2700 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.2, Runtime API Version: 11.2
W0714 13:03:57.886097  2700 gpu_resources.cc:91] device: 0, cuDNN Version: 8.1.
服务器无响应

[2022-07-14 05:37] shoou commented on #37408
这里的编译应该是用pyinstaller打包的意思

[2022-07-14 06:48] S-HuaBomb commented on #43938
【队名】：绝绝子暴风进场

【序号】：16

【状态】：提交提案

【链接】：https://github.com/PaddlePaddle/community/pull/186

[2022-07-14 07:20] kouhinn commented on #44323
报错不固定，有时报错如下：
[code]

[2022-07-14 08:25] SumFunction opened #44336 "AIStudio的VIsualDL没有访问权限"
### 请提出你的问题 Please ask your question

如题，请问如何解决
使用AIStudio平台的可视化，打开可视化网页爆出没有权限
![image](https://user-images.githubusercontent.com/70028523/178937348-377d62bb-2c66-4b00-905b-3055e3d9c533.png)

[2022-07-14 09:49] Ligoml commented on #44068
本周五（7.15）和下周一（7.18）晚上7点会在飞桨 PaddlePaddle 的 B 站和视频号同步直播《飞桨模型在瑞芯微硬件上的部署开发实例》、《飞桨模型在芯原IP&晶晨芯片&Khadas开发板的部署开发介绍》，详细介绍开发板部署任务和如何获取开发板，感兴趣的同学记得锁定直播间哦~

[2022-07-14 11:52] OccupyMars2030 commented on #43938
【队名】：OccupyMars2025

【序号】：1

【状态】：报名

【链接】：https://github.com/OccupyMars2025/Paddle

[2022-07-14 12:29] Kevin-XiongC opened #44349 "multiclass_nms3 op无法单独序列化"
### bug描述 Describe the Bug

# Bug描述
其他无参数op都能通过jit单独序列化，但是multiclass_nms3不行,无论是通过动态图的jit还是静态图的save_inference_model

## 静态图
[code]

## 动态图

[code]

# 报错信息

[code]
静态图没有报错的trace，但最后的error信息是一样的

### 其他补充信息 Additional Supplementary Information

mac m1
paddle 2.3.1

[2022-07-14 15:39] Zheng-Bicheng commented on #43938
【队名】：ZZZZZBC

【序号】：80

【状态】：报名

【链接】：https://github.com/Zheng-Bicheng/Paddle

[2022-07-14 15:46] thunder95 commented on #43938
【队名】：thunder95
【序号】：31
【状态】：报名 & 提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/187

[2022-07-14 16:45] Zheng-Bicheng commented on #43938
【队名】：ZZZZZBC

【序号】：80

【状态】：报名

【链接】：https://github.com/Zheng-Bicheng/Paddle

[2022-07-14 18:21] Rafhael369 commented on #42564
I just ran the gpu command and it gave the same error.
$ python3 -m pip install paddlepaddle-gpu

After:
$ python3 -m pip install paddlepaddle

The error is gone.

[2022-07-15 02:00] Prsaro commented on #42564
我是cuda10.2， cudnn8.0.3，centos7.3的环境，使用paddle推理，稳定报错，然后我重装了cudnn，报错解决，应该是之前装的cudnn与系统环境不匹配。

[2022-07-15 02:10] lcneyc commented on #33956
请问解决了吗，我之前也好用，突然不好用了

[2022-07-15 02:15] March35 opened #44352 "load_inference_model报错"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/48037392/179133227-4fd46a78-dee5-46fc-a88b-08876b533b59.png)

[2022-07-15 02:16] March35 commented on #44352
paddle1.6

[2022-07-15 02:23] FeixLiu commented on #44352
您好，感谢您的提问。看上去是这个Ids的tensor shape出了问题，建议您检查一下这个tensor的初始化是否正确。另外，建议您升级到最新的paddle 2.3版本来使用paddle。

[2022-07-15 02:51] kouhinn commented on #44323
+1:
read frame put queue ret: 0
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():

  Compile Traceback (most recent call last):
    File "C:\Users\admin\anaconda3\envs\py37_tensorflow1_14\Scripts\x2paddle-script.py", line 33, in <module>
      sys.exit(load_entry_point('x2paddle==1.3.5', 'console_scripts', 'x2paddle')())
    File "C:\Users\admin\anaconda3\e

[2022-07-15 03:44] sljlp commented on #44324
可能是在安装paddlenlp之后影响了环境，建议使用paddle官方提供的docker镜像启动docker容器
docker使用可参考文档https://www.paddlepaddle.org.cn/documentation/docs/zh/install/docker/linux-docker.html#linuxdocker

[2022-07-15 03:50] Zheng-Bicheng commented on #43938
【队名】：ZZZZZBC

【序号】：80

【状态】：提交提案

【链接】：https://github.com/Zheng-Bicheng/community

[2022-07-15 04:12] tiancaishaonvjituizi opened #44356 "Paddle 对 inf 的处理有问题"
### bug描述 Describe the Bug

Reference：https://github.com/PaddlePaddle/Paddle/pull/42469#issuecomment-1185151731

[code]
这表示在 paddle 里，`inf == inf` 是 false，这和 IEEE754 以及 Python 和 C++ 语言的实现都不一致，也和 PyTorch 不一致：

Python：
[code]
C++：
[code]
PyTorch：
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-15 04:13] lcneyc commented on #44324
谢谢，今天上午解决了，您说的对，确实是paddlenlp影响了环境
解决方法：重新create了环境，但conda install后存在一样的问题，卸载后，pip install解决了

[2022-07-15 04:26] FeixLiu commented on #44356
感谢您提出的issue，我们会内部对该现象进行讨论。如有最新进展，会及时回复。

[2022-07-15 05:09] March35 commented on #44352
您好，检查了存储的模型参数之后，发现一个输入没有链接上，请问这个一般是哪里出了问题呢？需要排查哪部分呢？谢谢
在save_inference_model的时候并没有报错

[2022-07-15 05:17] FeixLiu commented on #44352
可能是在保存的时候，这个输入在保存的时候被框架判断为没有被用到（与输出无关）的输入了，就被prune掉了。不过还是建议您升级到paddle 2.3再试一下。

[2022-07-15 06:42] vaghasiatirth24 commented on #21685
hi, what exactly is to be changed? I can't get over the error.

[2022-07-15 09:30] ScottImpGreen commented on #43938
【队名】：屁股向后平沙落雁式

【序号】：80

【状态】：报名

【链接】：https://github.com/ScottImpGreen/Paddle

[2022-07-15 12:16] Li-fAngyU commented on #43938
【队名】：lfy

【序号】：5

【状态】：提交作品

【链接】：https://github.com/PaddlePaddle/Paddle/pull/44195

[2022-07-15 13:12] bb67ao opened #44374 "_DataLoaderIterSingleProcess' object has no attribute '_shutdown"
### bug描述 Describe the Bug

Traceback (most recent call last):
  File "test.py", line 95, in <module>
    train()
  File "test.py", line 25, in train
    for i ,(item)in enumerate(data_loader()):
  File "E:\Anaconda\Anaconda\envs\pypaddle\lib\site-packages\paddle\fluid\reader.py", line 569, in __call__
    return self.__iter__()
  File "E:\Anaconda\Anaconda\envs\pypaddle\lib\site-packages\paddle\f

[2022-07-15 13:14] FeixLiu commented on #44374
感谢您的反馈，可以排查一下是不是数据dataloader。看看dataloader get出来的数据是否有问题。
<img width="384" alt="image" src="https://user-images.githubusercontent.com/25279174/179231025-8301ac55-f5de-4d37-81a7-02ecd20e112c.png">

[2022-07-15 13:17] Cppowboy opened #44375 "多机运行报错"
### 请提出你的问题 Please ask your question

多机运行paddle任务时报错，报错信息如下，在单机情况下可以调试通过。

workerlog.0
[code]

workerlog.7
[code]

workerlog.1
[code]

[2022-07-15 13:19] Cppowboy commented on #44375
不同卡报错信息完全不一样，看不出问题在哪里？麻烦帮忙解决一下

[2022-07-15 13:20] FeixLiu commented on #44375
麻烦贴一下所有卡的报错信息吧。

[2022-07-15 13:21] FeixLiu commented on #44375
麻烦提供一下最简单的可复现代码，以及运行环境等信息。

[2022-07-15 13:21] Cppowboy commented on #44375
其他卡的报错信息与workerlog.1相同

[2022-07-15 13:22] FeixLiu commented on #44375
<img width="840" alt="image" src="https://user-images.githubusercontent.com/25279174/179231614-949a6c95-0024-41b1-ad15-143651f6e645.png">
看上去是卡间通讯建立失败。可以check一下机器环境。

[2022-07-15 13:22] bb67ao commented on #44374
``> <img alt="image" width="390" src="https://user-images.githubusercontent.com/25279174/179230366-b54734fb-d287-4b40-8e04-4f31a269d684.png">

[code]

[2022-07-15 13:25] FeixLiu commented on #44374
您说的等号是哪句话的等号？

[2022-07-15 13:28] bb67ao commented on #44374
啊，应该是我自己的问题，这里应该必须指定参数对吗
`batch_size = BATCH_SIZE `
如果只填参数 BATCH_SIZE 这里就会报错，指定参数就不会了

[2022-07-15 13:30] FeixLiu commented on #44374
是的，因为底层默认参数有很多，所以需要指定参数。https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DataLoader_cn.html#dataloader 第二个参数是feed_list，所以报了图中feed list是int的问题

[2022-07-15 13:30] #44374 closed, assigned to FeixLiu

[2022-07-15 21:07] vaghasiatirth24 opened #44378 "ResourceExhaustedError: Out of memory error on GPU 0"
### 问题描述 Please describe your issue

I'm training a custom dataset on the SETR model but it throws the same error though the GPU has enough memory. I've tried reducing batch size but, nothing seems to work. below is the complete error message.

Traceback (most recent call last):
  File "train.py", line 232, in <module>
    main(args)
  File "train.py", line 208, in main
    train(
  File "/home/us

[2022-07-16 05:36] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么

【序号】：59

【状态】：报名

【链接】：https://github.com/MayYouBeProsperous/PaddleScience

[2022-07-16 06:11] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么

【序号】：59

【状态】：报名

【链接】：https://github.com/MayYouBeProsperous/INFINITY

[2022-07-16 08:36] kouhinn commented on #44323
使用的选项如下：
        // 第一个参数表示预先分配显存数目，第二个参数表示设备的ID。
    config.EnableUseGpu(200, 0);

        //// 开启内存/显存复用
    config.EnableMemoryOptim();

    //// 该配置设置为false后，会关闭模型图分析阶段的任何图优化，预测期间运行同训练前向代码一致
    config.SwitchIrOptim(true);

    // 启用 CUDNN 进行预测加速
    config.EnableCUDNN();

[2022-07-16 09:13] #44324 closed, assigned to sljlp

[2022-07-16 09:13] #44308 closed, assigned to kuizhiqing

[2022-07-16 09:14] #44305 closed, assigned to kuizhiqing

[2022-07-16 09:15] #44299 closed, assigned to kuizhiqing

[2022-07-16 09:15] #44293 closed, assigned to kuizhiqing

[2022-07-16 09:16] #44265 closed, assigned to seemingwang

[2022-07-16 09:16] #44261 closed, assigned to seemingwang

[2022-07-16 09:17] #44236 closed, assigned to seemingwang

[2022-07-16 09:18] #44235 closed, assigned to seemingwang

[2022-07-16 09:18] #44232 closed, assigned to haoyuying

[2022-07-16 09:19] #44209 closed, assigned to haoyuying

[2022-07-16 09:19] #44196 closed, assigned to ziyoujiyi

[2022-07-16 09:24] #44140 closed, assigned to nobody

[2022-07-16 09:24] #44112 closed, assigned to nobody

[2022-07-16 09:26] #44156 closed, assigned to rainyfly

[2022-07-16 09:28] lixiang-repo opened #44381 "不同program的同名参数，没有共享一个table_id。 怎么让不同program的dense网络共享table_id"
### bug描述 Describe the Bug

<img width="523" alt="image" src="https://user-images.githubusercontent.com/56247897/179349122-dac660d8-861b-42af-8a03-6453c748fecb.png">

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-16 09:42] #44381 closed, assigned to WorgenZhang

[2022-07-16 09:57] Ligoml commented on #43700
感谢指出，我们会考虑加入研发排期，早日解决这个问题~欢迎你持续关注

[2022-07-16 13:58] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么

【序号】：59

【状态】：报名

【链接】：https://github.com/MayYouBeProsperous/INFINITY

[2022-07-16 16:47] Armorhtk commented on #37577
请问这个问题修复了吗

[2022-07-17 03:21] glare-ni commented on #43938
【队名】：史上第一帅花无缺

【序号】：103

【状态】：报名

【链接】：https://github.com/glare-ni/openvino

[2022-07-17 03:28] kouhinn commented on #44323
+1:
  what():

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::AnalysisPredictor::ClearIntermediateTensor()
1   std::_Sp_counted_deleter<paddle::memory::allocation::Allocation*, paddle::memory::allocation::Allocator::AllocationDeleter, std::allocator<void>, (__gnu_cxx::_Lock_policy)2>::_M_dispose()
2   paddle::memory:

[2022-07-17 04:45] glare-ni commented on #43938
【队名】：史上第一帅花无缺

【序号】：103

【状态】：提交作品

【链接】：https://github.com/openvinotoolkit/openvino/pull/12183

[2022-07-17 05:48] glare-ni commented on #43938
【队名】：史上第一帅花无缺

【序号】：99

【状态】：报名

【链接】：https://github.com/glare-ni/openvino

[2022-07-17 07:01] glare-ni commented on #43938
【队名】：史上第一帅花无缺

【序号】：102

【状态】：报名

【链接】：https://github.com/glare-ni/openvino

[2022-07-17 14:24] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么

【序号】：67

【状态】：报名

【链接】：https://github.com/MayYouBeProsperous/CINN

[2022-07-18 00:28] justld commented on #43938
【队名】：dudu
【序号】：50
【状态】：报名
【链接】：https://github.com/PaddlePaddle/Paddle

[2022-07-18 02:30] March35 opened #44388 "save inference model出错"
已解决

[2022-07-18 03:03] gongchenting opened #44389 "基于ppdet框架改动后的训练代码报错Error: /paddle/paddle/phi/kernels/gpu/bce_loss_kernel.cu:42 Assertion `(x >= static_cast<T>(0)) && (x <= one)` failed. Input is expected to be within the interval [0, 1], but recieved nan."
### bug描述 Describe the Bug

Error: /paddle/paddle/phi/kernels/gpu/bce_loss_kernel.cu:42 Assertion `(x >= static_cast<T>(0)) && (x <= one)` failed. Input is expected to be within the interval [0, 1], but recieved nan.

  File "/root/paddlejob/workspace/env_run/train/ppdet/modeling/losses/yolo_loss.py", line 194, in forward
    self.scale_x_y)
  File "/root/paddlejob/workspace/env_run/train/ppdet/mo

[2022-07-18 05:24] lyuwenyu commented on #44389
改啥了 那个模型

[2022-07-18 06:25] gongchenting commented on #44389
基于yolov3 resnet34。修改大致为：1. 将yolohead里面的anchor改为基于自定义数据聚类得到的anchor；2. 额外增加一个head做其它属性预测

[2022-07-18 06:41] strayberry opened #44395 "分布式训练 PS架构 多机异步通信 两个server不会同时结束"
### 请提出你的问题 Please ask your question

使用官方提供的demo程序 https://github.com/PaddlePaddle/FleetX/blob/old_develop/examples/wide_and_deep/train.py （ps模式，异步通信）
使用 python -m paddle.distributed.launch 在多机分别启动进程，每台机器分别有一个server两个worker。但是由于网络等原因，两台机器的worker训练并不同步，一个机器的worker已训练完成，结束进程；而另一台机器的worker却还没结束，因此会中断训练或者没法开始训练，且launch的进程不会结束，日志也会报错。

请问launch这种启动方式是否不支持2个ps同时结束，有其他的启动方式可以支持吗？

未结束launch进程(10.240.208

[2022-07-18 07:32] SoulSubmerge opened #44399 "训练paddle官网OCR案例的时候进程自己挂了"
### 问题描述 Please describe your issue

PS D:\code\Deep_Learning\PaddlePaddle\OCR_PP> & E:/Apps/development_tool/python3.8/python.exe d:/code/Deep_Learning/PaddlePaddle/OCR_PP/test.py
2.3.1
The loss value printed in the log is the current step, and the metric is the average value of previous steps.
Epoch 1/10
E:\Apps\development_tool\python3.8\lib\site-packages\paddle\nn\layer\norm.py:653: UserWarnin

[2022-07-18 07:49] 133dzs commented on #43938
【队名】：zzmmdd

【序号】：80

【状态】：报名

【链接】：https://github.com/133dzs/Paddle2ONNX

[2022-07-18 07:58] 133dzs opened #44402 "【Hackathon第三期】任务80在瑞星微开发板上部署模型"
【Hackathon第三期】任务80
任务80的OCR应用中，三个模型的输入图片分别经过预处理送入模型，每个模型各自的输入都是动态的，第一个模型的预处理仅做了32对齐，第三个模型根据检测出来的字符数量决定输入模型的字符图片长度，onnx模型的输入都是动态的。
咨询过瑞星微的技术人员后确认瑞星微的RKNN模型转换不支持动态的batch和动态的shape，无法实现功能。

[2022-07-18 08:36] listeng opened #44407 "编译昇腾310版本之后，运行提示Not enough available NPU memory"
### bug描述 Describe the Bug

编译昇腾310 NPU版本之后，运行run_check或其他任何代码，都提示Not enough available NPU memory，如 #34802。看了代码 `paddle/fluid/platform/device/npu/npu_info.cc`中的`aclrtGetMemInfo`传了`ACL_HBM_MEM`参数，但是310卡没有HBM内存（910卡才有），会始终返回0可用内存。改成`ACL_DDR_MEM`，获取内存就正常了，是否加个判断。
谢谢！

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-18 09:00] jiangjiajun commented on #44402
Hi，@133dzs

尝试一下使用这个命令来固定onn模型的shape https://github.com/PaddlePaddle/Paddle2ONNX#%E5%91%BD%E4%BB%A4%E8%A1%8C%E8%BD%AC%E6%8D%A2

[code]

[2022-07-18 09:06] 133dzs commented on #44402
您好，onnx模型的输入可以比较简单地修改，但是固定的输入shape无法满足实际应用的需求，送入模型的图片的尺寸是动态的，即时固定了送入检测模型的图片大小，分类模型的输入大小也会根据检测到的字符数量变化，所以分类模型的输入必须动态。问题是瑞星微的模型转换不支持动态输入

[2022-07-18 09:08] xyhcc opened #44410 "AttributeError: 'Tensor' object has no attribute 'desc'"
### 请提出你的问题 Please ask your question

环境：win10，pycharm2022社区版上，Python3.10，paddle2.3.1

在运行下面代码时报错，错误如下，希望能帮忙解决一下
`F:\文档\Pycharm_Project\paddle_Project\venv\Scripts\python.exe F:/文档/Pycharm_Project/paddle_Project/test_paddle.py
WARNING: OMP_NUM_THREADS set to 12, not 1. The computation speed will not be optimized if you use data parallel. It will fail if this PaddlePaddle binary is compiled with Op

[2022-07-18 09:56] lidanqing-vv commented on #37873
I got a new quant retinanet model from Baidu Jiajun, I tried using old PaddleDetecion infer.py and new PaddleDetection. However, both version could not work with this quant model. I m still checking if I could fix something to make it work and at the same time asked Jiajun.

[2022-07-18 10:36] jiangjiajun commented on #44402
可以去PaddleOCR咨询一下，如何固定每个模型的输入大小。我想应该是有方式解决的

[2022-07-18 12:38] 95maddycode opened #44421 "Difference in GPU memory usage between master/slave nodes"
### 请提出你的问题 Please ask your question

Hi,

First of all, thank you for all your work.

1) I got a small question regarding training multi-gpu. I see that the GPU memory usage on the master node is much less then on the slave nodes. Is this normal behaviour? It seems like there is almost 1GB more free memory on the master node, compared tot he slave nodes.

2) My training sometimes gets killed with

[2022-07-18 13:16] Ilovecode93 commented on #43938
【队名】：一定要争气
【序号】：11
【状态】：报名
【链接】：https://github.com/Ilovecode93/Paddle

[2022-07-18 14:46] 67Matrix commented on #43938
【队名】：今天好好吃饭了嘛
【序号】：57
【状态】：报名
【链接】：https://github.com/67Matrix/PaddleScience

[2022-07-18 14:46] 67Matrix commented on #43938
【队名】：今天好好吃饭了嘛
【序号】：58
【状态】：报名
【链接】：https://github.com/67Matrix/PaddleScience

[2022-07-18 15:02] onecatcn commented on #44068
hello，飞桨的老朋友，你好啊！我先内部确认一下，希望能有一个方案跟你再续前缘

[2022-07-18 15:10] onecatcn commented on #44068
请[ScottImpGreen](https://github.com/ScottImpGreen)和[Yanting-K](https://github.com/Yanting-K)发邮件到paddle-hack@baidu.com与我们取得联系，邮件格式：标题-【Hackathon No.80】报名，我们会联系您进行任务沟通。

[2022-07-18 16:08] onecatcn commented on #44068
请@[ScottImpGreen](https://github.com/ScottImpGreen)和@[Yanting-K](https://github.com/Yanting-K)发邮件到[paddle-hack@baidu.com](mailto:paddle-hack@baidu.com)与我们取得联系，邮件格式：标题-【Hackathon No.80】报名，我们会联系您进行任务沟通。 @ScottImpGreen @Yanting-K

[2022-07-18 16:23] QiaoShin commented on #9127
No module named 'framework_pb2' with latest commit when I use pyinstaller

[2022-07-19 01:02] aixuxian opened #44426 "模型参数无法更新"
### 请提出你的问题 Please ask your question

使用V100 [16G的环境,模型构建和运行代码如下:
模型构建
`class Representation_Net(nn.Layer):

    def __init__(self, num_classes=1000):
        super(Representation_Net, self).__init__()
        self.num_classes = num_classes

        self.features1 = Sequential(
            Conv1D(64, 128, 1, stride=1, padding=0,),
            BatchNorm1D(128),
            ReLU(),
            Conv1

[2022-07-19 01:42] 133dzs commented on #44402
好的，感谢

[2022-07-19 01:50] GuoxiaWang commented on #44426
@aixuxian 您好，我已经收到你的信息反馈，请整理一下排版？模型训练那里排版出问题了，我无法直接复制进行复现。

[2022-07-19 01:52] aixuxian commented on #44426
@GuoxiaWang
模型训练：
`model.train()
loss_fun = paddle.nn.CrossEntropyLoss()
base_score = 0.5
t1 = time.time()
for epoch in range(2):
    for num, (edt1, edt2, llb) in enumerate(train_loader):
        # print(llb)
        # t1 = time.time()
        # print(llb)
        x0 = model(edt1, edt2)
        # paddle.Model(model).
        loss = loss_fun(x0, llb)
        loss.backward()
        for para in mod

[2022-07-19 01:53] aixuxian commented on #44426
`model.train()
loss_fun = paddle.nn.CrossEntropyLoss()
base_score = 0.5
t1 = time.time()
for epoch in range(2):
    for num, (edt1, edt2, llb) in enumerate(train_loader):
        # print(llb)
        # t1 = time.time()
        # print(llb)
        x0 = model(edt1, edt2)
        # paddle.Model(model).
        loss = loss_fun(x0, llb)
        loss.backward()
        for para in model.linear1.paramet

[2022-07-19 02:01] aixuxian commented on #44426
@GuoxiaWang 抱歉，刚才没找到方法,把导入的库也贴进来
[code]

[2022-07-19 02:11] GuoxiaWang commented on #44426
如果可以是否能贴一个完整可以跑的代码？数据可以用random 数据。

另外是否也可以提供一份 torch 代码？好排查。

我直观上看这份代码写的是没有问题的，但是实际跑出来确实有问题，所以需要我运行起来才能排查。

[2022-07-19 02:26] yt605155624 commented on #44234
solved in  https://github.com/PaddlePaddle/PaddleSpeech/discussions/1195#discussioncomment-3168521

[2022-07-19 02:26] #44234 closed, assigned to seemingwang

[2022-07-19 02:30] aixuxian commented on #44426
@GuoxiaWang
数据集构建应该不需要了，每一个输入数据是（64,1000）
Paddle API版本：
[code]

[2022-07-19 02:44] GuoxiaWang commented on #44426
@aixuxian

x1 = paddle.to_tensor(pywt.dwt(inputs1.numpy(), 'haar'), dtype='float32', stop_gradient=False)
x2 = paddle.to_tensor(pywt.dwt(inputs2.numpy(), 'haar'), dtype='float32', stop_gradient=False)

x1 的 shape 是什么?
x2 的 shape 是什么？

[2022-07-19 02:51] aixuxian commented on #44426
都是[2, 512, 64, 500]

[2022-07-19 02:55] GuoxiaWang commented on #44426
llb 的 shape 是什么？ 里面的值是什么？是否可以提供一下？我需要跑起来代码

[2022-07-19 02:57] aixuxian commented on #44426
Tensor(shape=[512], dtype=int64, place=Place(gpu_pinned), stop_gradient=True,
       [0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0,
        1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
        0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
        1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,

[2022-07-19 02:57] LangJiHuangSha opened #44427 "麒麟v10源码编译安装 cmake报错 gcc版本9.3.0"
### 问题描述 Issue Description

所需环境都已经装好了，包括python依赖和gcc、cmake、patchELF、python等且都符合版本要求
版本如下
astor                  0.8.1
decorator           4.4.2
numpy                1.23.1
opt-einsum             3.3.0
paddle-bfloat          0.1.7
Pillow                 7.0.0
protobuf             3.17.0rc1
requests             2.22.0
six                      1.14.0
wheel                  0.34.2

gcc version 9.3.0

[2022-07-19 03:00] aixuxian commented on #44426
有没有什么方法我可以把我在Paddle AIStudio里的notebook发给您？

[2022-07-19 03:21] GreenHandZhu commented on #40210
请问这个clang-cindex-python3怎么修改下资源呀

[2022-07-19 03:25] GreenHandZhu commented on #38300
请问这个具体是怎么操作的呢？我将third_party的下载源都转为国内镜像了，但是clang-cindex-python3这个一直默认使用 https://gitee.com/wjakob/clang-cindex-python3去下载，怎么修改 clang-cindex-python3 的下载源呢

[2022-07-19 03:29] GreenHandZhu opened #44429 "clang-cindex-python3 如何修改下载源"
编译paddle源码时，将third_party修改为了国内下载源，但是编译过程中一直卡在 Built target analysis_predictor 这一步。使用make -j1查看后发现需要从  https://gitee.com/wjakob/clang-cindex-python3 下载 clang-cindex-python3。由于权限问题无法正常下载。怎么修改clang-cindex-python3下载源呢？

[2022-07-19 03:34] GuoxiaWang commented on #44426
@aixuxian

应该是跟优化器相关，adam 走一个 opt.step 后梯度就为 0 了。这可能跟 adam 有关，我们再找到具体问题。

[code]

[2022-07-19 03:42] aixuxian commented on #44426
@GuoxiaWang 是的，我改用SGD之后，参数确实更新了。感谢感谢！！！

[2022-07-19 04:45] firestonelib commented on #44421
Thanks for reporting this case.

1. Is your data length variable?  If your data length is not variable, you can try `paddle.device.cuda.empty_cache()`  to releases all unoccupied cached memory currently and check visible in nvidia-smi.

2. You can set GLOG_v=3 in your executive script to find the error.

[2022-07-19 04:50] justld commented on #43938
【队名】：dudu

【序号】：50

【状态】：提交提案

【链接】：https://github.com/justld/community

[2022-07-19 05:17] zhaocaibei123 commented on #44395
https://github.com/PaddlePaddle/FleetX/blob/old_develop/examples/wide_and_deep/train.py
这个脚本 120 121 122 每行后面加一下 fleet.barrier_worker() 试下

[2022-07-19 05:20] firestonelib commented on #44410
Thanks for reporting this case.

1. check if there is `paddle.enable_static()` in your code, try this :
[code]

[2022-07-19 05:34] lyuwenyu commented on #44389
这个跑飞了 尝试把lr调小点再跑一下吧

[2022-07-19 05:58] #44319 closed, assigned to sljlp

[2022-07-19 06:19] pangyoki commented on #44429
请问你修改的是Paddle哪个第三方库的下载源？怎么修改的？
本地可以下载clang-cindex-python3吗？

[2022-07-19 06:41] kouhinn commented on #44323
+1:
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::AnalysisPredictor::ZeroCopyRun()
1   paddle::framework::NaiveExecutor::Run()
2   paddle::framework::OperatorBase::Run(paddle::framework::Scope const&, paddle::platform::Place const&)
3   paddle::framework::OperatorWithKernel::RunImpl(paddle::framework::Scope const&, paddle::platform::Place const&) const
4

[2022-07-19 06:45] #32172 closed, assigned to joey12300

[2022-07-19 06:45] #34051 closed, assigned to guoshengCS, chenjiaoAngel

[2022-07-19 06:45] #34061 closed, assigned to chenjiaoAngel

[2022-07-19 06:45] #34072 closed, assigned to chenjiaoAngel

[2022-07-19 06:45] #34080 closed, assigned to qili93

[2022-07-19 06:45] #34100 closed, assigned to T8T9

[2022-07-19 06:45] #34133 closed, assigned to yinhaofeng

[2022-07-19 06:45] #34203 closed, assigned to zhwesky2010

[2022-07-19 06:48] strayberry commented on #44395
@zhaocaibei123 加上以后worker之间的同步稍微好一点（epoch的差距减小），但还是会有网络不好的worker出现，没计算完就已经连不上另一个已经停止的server的情况
该worker日志如下：

TRAIN ---> pass: 76 loss: 0.5763713121414185

E0719 14:37:20.772836 2713066 brpc_ps_client.cc:250] resquest cmd_id:2 failed, err:[E1014]Got EOF of fd=10 SocketId=10@10.240.208.116:6170@52052 [R1][E1014]Got EOF of fd=8 SocketId=6@10.240.208.116:6170@52044 [R2][E111]Fail to connect SocketId=8

[2022-07-19 06:56] qili93 commented on #44427
@LangJiHuangSha

1. 确认下在 ARM 环境下跑 make 命令要改成 `make TARGET=ARMV8 -j$(nproc)`

2. `undefined reference to pthread_join'`可能还是环境问题，建议参考这个文档使用飞桨的镜像编译运行
https://www.paddlepaddle.org.cn/inference/master/guides/hardware_support/cpu_phytium_cn.html，另外想要确认下你的 CPU 是飞腾还是鲲鹏的 CPU，2个 CPU 都可以尝试使用以上镜像，如果无法使用镜像，那请检查一下 /lib 和 /lib64 环境下存在 libpthread，也可以参考 https://stackoverflow.com/questions/31948521/building-error-u

[2022-07-19 07:15] RichardWooSJTU commented on #44349
请问您是在哪里看到core.ops.multiclass_nms3的用法呢？core的调用仅限动态图模式，不支持inference model的导出，paddle 提供的API [multiclass_nms](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/layers/multiclass_nms_cn.html)是否可以满足开发需求呢？如果必须使用multiclass_nms3的话也可以参考这里自己实现静态图APIhttps://github.com/PaddlePaddle/Paddle/blob/94271bc2250b4eba155b72269430c3dafc5ae10d/python/paddle/fluid/layers/detection.py#L3397

[2022-07-19 07:42] docoter opened #44440 "推理时显存占用比训练时的大"
### bug描述 Describe the Bug

### **模型训练和推理的显存的占用不同.**

### **bug测试代码:**
[code]
直接执行代码的时候,在训练时显存占用为:8582Mib,在推理的时候显存占用为:9756Mib.
若单独运行训练或预测的代码,同样出现训练显存占用为:8582Mib,推理占用为:9756Mib.

### 这将造成训练时显存足够,而推理时显存不足的情况
当然,可以在推理时通过降低batch来降低显存占用.
但这在训练推理需要固定batch或者探索显卡可用最大模型时产生麻烦.因为推理时显存变大的幅度也未知.
### 测试环境:
系统:        ubuntu20
显卡:        nvidia 3080 10G
显卡驱动: 510.73.05
paddle:    2.3.0
cuda:       11.6
python:

[2022-07-19 07:46] GreenHandZhu commented on #44429
是用 git clone -b build_cn https://gitee.com/jiaopan/Paddle.git 中的cmake/external的文件全量替换了同目录下的文件。本地可以使用其他源来下载clang-cindex-python3。但是默认使用的 https://gitee.com/wjakob/clang-cindex-python3 这个源就无法下载

[2022-07-19 07:47] zhaocaibei123 commented on #44395
辛苦贴下server日志

[2022-07-19 07:56] strayberry commented on #44395
@zhaocaibei123

未结束launch进程(10.240.208.116)的日志报错如下：
serverlog.0
public get_dense_send_context dense_table: Dense@GRAD_1 430815 ['linear_0.b_0@GRAD', 'linear_0.w_0@GRAD', 'linear_1.b_0@GRAD', 'linear_1.w_0@GRAD', 'linear_2.b_0@GRAD', 'linear_2.w_0@GRAD', 'linear_3.b_0@GRAD', 'linear_3.w_0@GRAD', 'linear_4.b_0@GRAD', 'linear_4.w_0@GRAD']
new table_name: SparseFeatFactors
/usr/local/lib/python3.7/dis

[2022-07-19 07:58] docoter commented on #44440
### 官方在常见问题处给出解决方案:
问题：飞桨2.0版本调用model.eval之后不再自动关闭反向计算图的构建，引入显存的消耗增加，可能会引入OOM，怎么解决？
答复：动态图no_grad和 model.eval 解绑，应使用with paddle.no_grad(): 命令，显示关闭反向计算图的构建。

[code]
将代码修改为上述,则推理时显存占用变为5152Mib,解决问题.
### 但是官方的教程以及文档中的绝大部分地方都没有对应的修改或者提示代码上需要加入paddle.no_grad(),上述的解决方案也仅仅时在分布式训练部分,而单机训练也显然需要加入paddle.no_grad().

[2022-07-19 08:02] GuoxiaWang commented on #44440
@docoter 非常感谢反馈。其实在 model.eval() 阶段确实建议在 ``with paddle.no_grad() `` 环境下的。

可能需要更多代码实例和文档来告知如何 eval。

[2022-07-19 08:38] Kevin-XiongC commented on #44349
你好，我是在适配paddledet的ssd模型时看到multiclass_nms3这个op, 所以理论上 所有序列化进protobuf的op，都可以通过helper进行单独导出吗？

[2022-07-19 08:39] March35 opened #44443 "save_inference_model"
paddle 1.6
多次save_inference_model保存下来的参数会有问题，问题类似 https://github.com/PaddlePaddle/Paddle/issues/20299 这个issue中的情况，看到了回复的有两种解决办法，但是不是很清楚具体怎么做，可以给个例子吗？

[2022-07-19 08:52] zhaocaibei123 commented on #44395
看起来gloo初始化有问题，运行前设下环境变量
export PADDLE_WITH_GLOO=1
export PADDLE_GLOO_RENDEZVOUS=2
export PADDLE_GLOO_FS_PATH="tmp/xxx/gloo"

[2022-07-19 09:06] xiaoxiaohehe001 commented on #44443
升级下 paddle 试一试，看是否出现相同的问题。

[2022-07-19 09:08] March35 commented on #44443
不太方便升级paddle...  升级的话需要重新配置环境和重构一些业务代码

[2022-07-19 09:10] March35 commented on #44443
辛苦看看怎么从代码上解决这个问题吧

[2022-07-19 10:07] strayberry commented on #44395
@zhaocaibei123 加上这几个环境变量，多机cpu和多机gpu都不会开始训练

启动方式参数如下
python -m paddle.distributed.launch --servers='10.240.208.106:6170,10.240.208.116:6170' --workers='10.240.208.106:6171,10.240.208.116:6171,10.240.208.106:6172,10.240.208.116:6172' --gpus=0,1 --log_dir=/paddle/log/ps/0 train_wide_and_deep.py

paddlepaddle使用的是docker://paddlepaddle/paddle:2.3.0-gpu-cuda11.2-cudnn8

日志：
106：
serverlog.0
Gloo init w

[2022-07-19 11:26] Gmgge commented on #38300
@GreenHandZhu  gitee现在需要审核才能公开，可能该链接没有申请，你自己github上面同步一个过来吧。

[2022-07-19 11:30] jiweibo commented on #44323
请问下，多线程下报错是Run之后调用到ClearIntermediateTensor和TryShrinkMemory的情况下才会报错吗？不调用ClearIntermediateTensor和TryShrinkMemory还会报错吗？

[2022-07-19 11:43] rev564 opened #44455 ""from x2paddle import models"会导致原本正常的代码报错"
### bug描述 Describe the Bug

环境就是在aistudio上跑代码时的环境，项目框架PaddlePaddle 2.3.0，项目环境python 3.7。在终端里"pip install x2paddle“安装了x2paddle。以下代码是在notebook里面运行的
然后，正常代码是
[code]
图片是正在用的数据集里面随便挑的一张。然后加一句"from x2paddle import models"就会出错
[code]
这样子运行就会报错。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-19 11:49] GuoxiaWang commented on #44455
@Orzst 报错截图可以贴一下吗？

[2022-07-19 12:01] rev564 commented on #44455
![截图1](https://user-images.githubusercontent.com/31810331/179745018-db23d086-236b-43cc-9136-f0854f0ebfd7.png)
![截图2](https://user-images.githubusercontent.com/31810331/179745047-b83b3203-6da5-4826-9dd8-507c93e13b9e.png)
![截图3](https://user-images.githubusercontent.com/31810331/179745054-7197852d-f533-43c6-8a68-7078a133b52c.png)
![截图4](https://user-images.githubusercontent.com/31810331/179745067-19

[2022-07-19 12:20] GuoxiaWang commented on #44455
@Orzst

先试试把 tmp 的shape打一下

[code]

[2022-07-19 12:29] rev564 commented on #44455
@GuoxiaWang
![image](https://user-images.githubusercontent.com/31810331/179750161-1cd80168-421f-4a8a-8d8c-c4f628949538.png)
(792, 612, 3)

[2022-07-19 12:31] heavengate commented on #32927
`persistent_workers=True`可以解决

[2022-07-19 13:00] LielinJiang commented on #44455
import numpy as np
from PIL import Image
import paddle
from x2paddle import models

tmp = paddle.to_tensor((np.random.rand(512, 512, 3) * 255).astype('uint8'))
tmp2 = tmp.reshape([512, 512, 3])
tmp2

写了个单测，应该是x2paddle引入的问题。 @GuoxiaWang

[2022-07-19 13:06] GuoxiaWang commented on #44455
@LielinJiang  好的，是冲突了吗？

[2022-07-19 13:10] LielinJiang commented on #44455
应该是reshape op调用成了x2paddle里面的一个op吧，实际上想要调用的paddle.reshape

[2022-07-19 13:20] wjj19950828 commented on #44455
@Orzst 是有模型转换需求吗，为什么要from x2paddle import models呢

[2022-07-19 13:24] rev564 commented on #44455
@wjj19950828 是的，把一个PyTorch实现的模型改成paddle实现的。它用了个预训练好的VGG-16，本来是用的torchvision。AiStudio给的环境不能用torch，所以就想到用x2paddle。

[2022-07-19 14:31] GreenHandZhu commented on #38300
@Gmgge 我找了一个可以正常下载pybind的gitee源，但是pybind好像都依赖clang-cindex-python3这个，并且pybind默认使用 https://gitee.com/wjakob/clang-cindex-python3 这个链接去下载 clang-cindex-python3。在pybind找不到定义有关下载 clang-cindex-python3 的默认链接

[2022-07-19 14:31] unseenme commented on #43938
【队名】：UnseenMe

【序号】：82

【状态】：报名

【链接】：https://github.com/unseenme/Paddle-Lite-Demo

[2022-07-19 15:55] jczaja commented on #43215
@jiangjiajun , @lidanqing-intel , @yaomichael
Just to let you know where we are. So We are still reimplementing matmul oneDNN to have capability of running batched matmul in parallel. Due to complexity of of current(develop) codebase we will first enable Matmul fp32 (also used in Ernie-3.0 int8) to have batched matmul operations and then as second step we will extend matmul int8 to have batched ma

[2022-07-20 00:01] xyhcc commented on #44410
Thank you for your answer. The problem has been solved

[2022-07-20 00:01] #44410 closed, assigned to firestonelib

[2022-07-20 00:56] Alana123Liu commented on #43480
观察图片输入维度都是正确的，感觉很像是动态输入的时候没有再次经过initialize的原因。
想问下报错的这个代码位置在哪儿呀？想去看下报错的前后原因C:/home/workspace/Paddle_release5/paddle/fluid/operators/interpolate_v2_op.cc:348

[2022-07-20 01:45] GuoxiaWang commented on #44455
@LielinJiang @Orzst @wjj19950828 看了一些调用栈，是 x2paddle 可能引入的问题。

`/usr/local/lib/python3.7/dist-packages/paddle/fluid/layers/nn.py`

[code]
走进了这个分支。

`shape` 本身是 tuple `([112, 112, 3],)`, 去遍历的时候第一个元素就已经是 `<class 'list'> [112, 112, 3]`，再在外面嵌套了一层 list，会得到 `[[112, 112, 3]]` 导致报错。

问题本质出现在
`/usr/local/lib/python3.7/dist-packages/x2paddle/project_convertor/pytorch/torch2paddle/tensor.py`
[code]
这里的输入参数用的是

[2022-07-20 03:49] tiancaishaonvjituizi opened #44467 "支持 optional<float> 作为 kernel 参数"
### 需求描述 Feature Description

Reference：https://github.com/PaddlePaddle/Paddle/pull/42469#discussion_r908001237

根据目前的框架新 API 开发要求，Python API 与 C++ API 参数需保持一致。但这个要求是没办法 100% 做到的。因为 Python 的类型是 nullable 的，而 C++ 的类型不是，而且 Paddle Kernel 不支持使用 `optional<float>`、`optional<int>` 作为参数，所以如果 Python API 的参数类型为 Optional[int] 或者 Optional[float]，就没办法做到 Python 和 C++ 参数一致。

所以建议尽快支持 `optional<float>` 参数，并在这之前放松这

[2022-07-20 06:06] zhangbo9674 commented on #44467
感谢您的需求，我们会尽快对此需求进行评估！

[2022-07-20 06:49] daviyang35 opened #44470 "macOS 使用预编译Paddle Inference C++库无法启动"
### bug描述 Describe the Bug

Paddle Inference macOS 预编译包不能使用
验证发现 在 macOS 平台使用 paddle_inference_install_dir 2.2.2 与 2.3.0 两个版本

只要链接了 libpaddle_inference.dylib ，即使是空的 main 函数，启动就会报错：
[code]

<img width="841" alt="image" src="https://user-images.githubusercontent.com/4261582/179915659-738f5165-22c1-42ab-8608-65c4fe64a58b.png">

<img width="796" alt="image" src="https://user-images.githubusercontent.

[2022-07-20 06:58] kouhinn commented on #44323
不调用的话显存直接崩了。占用过大，16G都挡不住。
尝试过去掉如下设置：
// 启用 CUDNN 进行预测加速
//config.EnableCUDNN();

问题依旧。

[2022-07-20 07:38] onecatcn commented on #44068
请 @133dzs 发邮件到[paddle-hack@baidu.com](mailto:paddle-hack@baidu.com)与我们取得联系，邮件格式：标题-【Hackathon No.80】报名，我们会联系您进行任务沟通。

[2022-07-20 09:28] tiancaishaonvjituizi commented on #42111
那我把这个 issue 关掉了~

[2022-07-20 09:28] #42111 closed, assigned to betterpig

[2022-07-20 10:00] #44427 closed, assigned to GuoxiaWang

[2022-07-20 10:19] isLinXu commented on #43938
【队名】：自然选择
【序号】：1、2&30
【状态】：报名&PFC
【链接】：https://github.com/isLinXu/community
【说明】：序号1和2的RFC已在上期提交，位置：Paddle/community/rfcs/APIs/20220330_api_design_for_finfo.md与20220330_api_design_for_iinfo.md

[2022-07-20 10:51] zhangbo9674 commented on #44470
您好，看起来是gflag 版本有冲突，是否能只依赖一个gflag？

[2022-07-20 11:02] WenmuZhou commented on #44399
你好，方便提供一下可复现的代码吗

[2022-07-20 11:11] daviyang35 commented on #44470
默认是链接 预编译包内的 paddle_inference_install_dir/third_party/install/gflags/lib/libgflags.a
我尝试过这几总组合，都会报这个错误：
-     链接 third_party/install/gflags/lib/libgflags.a
- 不链接 third_party/install/gflags/lib/libgflags.a
- 不链接 third_party/install/gflags/lib/libgflags.a；链接 自己编译的 gflags

报错的错误输出路径，应该是来自打包CI的路径，冲突的 gflags 很可能是在打包阶段就发生了，
gflags 运行时才会输出这个错误，不会导致编译失败。

‘/Users/paddle/buildAgent/work/b751e1a81fc4a6c8/Pa

[2022-07-20 13:22] onecatcn commented on #44068
请 @ScottImpGreen  发邮件到[paddle-hack@baidu.com](mailto:paddle-hack@baidu.com)与我们取得联系，邮件格式：标题-【Hackathon No.80】报名，我们会联系您进行任务沟通。

[2022-07-20 13:25] kouhinn opened #44488 "paddle inference c++ on jetson AGX xavier OOM"
### bug描述 Describe the Bug

为什么几乎相同的代码放到jetson盒子上面跑，内存占用比在服务器上面占用大很多？？？

其他：相同的代码在服务器上面内存占用只有10多G，但是在盒子上面却占满了30多个G？

打开或者不打开tensorrt选项结果都一样，内存占用比在服务器上面占用大很多，内存溢出！

环境：
jetson AGX xavier
jetpack 4.6
cuda 10.2.300
cuDnn  8.2.1.32
paddle inference: 官方预编译包：Jetpack4.6-nv-jetson-cuda10.2-cudnn8.2-trt8.0_xavier

paddle inference 选项：
    config.SetModel(model_file, params_file);
    //   }
        // 第一个参

[2022-07-20 13:41] SoulSubmerge opened #44489 "在使用ctc_loss 计算的时候报错：[operator < warpctc > error]"
### 请提出你的问题 Please ask your question

  warnings.warn(
Traceback (most recent call last):
  File "d:/code/Deep_Learning/PaddlePaddle/OCR_PP/tools/trainCRNN.py", line 37, in <module>
    loss = paddle.nn.functional.ctc_loss(pre, labelInput, pre_length, labelLength, blank=12)
  File "E:\Apps\development_tool\python3.8\lib\site-packages\paddle\nn\functional\loss.py", line 1129, in ctc_loss
    loss_o

[2022-07-20 13:43] SoulSubmerge commented on #44399
您好，谢谢您！我这个已经解决了！主要是label加载的时候shape的问题！

[2022-07-20 13:43] kouhinn commented on #44488
日志如下：
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0720 16:04:41.403523 17280 analysis_predictor.cc:854] TensorRT subgraph engine is enabled
--- Running analysis [ir_graph_build_pass]
--- Running analysis [ir_graph_clean_pass]
--- Running analysis [ir_analysis_pass]
--- Running IR pass [adaptive_pool2d_convert_global_pass]
I0720 16:04:41.590584 17280 fuse_pass_base.cc:57] ---

[2022-07-20 14:38] daviyang35 commented on #44470
已经处理了，是自己编译的问题。
预编译的 paddle_inference 动态库内部已经链接了 gflags，我本地使用brew安装的OpenCV 3 链接了一个外部的gflags动态库。

修改脚本更改为使用 paddle_inference 静态库链接，可执行文件不用链接 预编译安装包中的 libgflags.a ，直接使用本地已经安装的gflags 动态库即可。

感谢

[2022-07-20 15:39] Yanting-K commented on #43938
【队名】：Random2Fly

【序号】：79

【状态】：报名

【链接】：https://github.com/Yanting-K/Paddle-deploy

[2022-07-21 02:07] zhangbo9674 commented on #44489
您好，根据报错提示， fluid.layers.warpctc的blank参数的有效范围为[0, 12)，当前的值为12，建议复查一下代码

[2022-07-21 02:53] jiweibo commented on #44323
有一个显存复用的接口，可以试下在您的模型上是否有作用 `config.EnableMemoryOptim()`

[2022-07-21 02:58] jiweibo commented on #44323
`TryShrinkMemory`看起来确实不是线程安全的，您可以先试下显存复用的方式能否work，如果不行的话，在这个接口上加锁看下 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/analysis_predictor.cc#L1809

我本地先看看能否复现出问题。

[2022-07-21 05:39] paddle-lwfx opened #44501 "【飞桨论文复现挑战赛（第七期）】榜单"
hi，大家好，非常高兴的告诉大家，百度飞桨论文复现赛第七期已经开始了，本次论文复现赛共将有100+篇的经典&前沿论文供大家复现。同时飞桨特色模型挑战赛持续展开，详细信息可以参考[AI Studio 链接](https://aistudio.baidu.com/aistudio/competition/detail/406/0/introduction)，大家是否已经迫不及待了呢~

为了帮助大家更好的了解每篇论文的复现进度，本次复现赛将在本帖中汇总信息。如果你报名/提交结果，需要按格式在进行回复，我们每天会汇总所有的信息，并更新在下表中，你可以通过下面的表格中，了解到每一篇论文的相关信息。

回复的格式为：

【队名】：你队伍的名称

【序号】：你队伍想要复现的论文序号

【论文】：你队伍想要复现的论文名称

【状态】：报名/提交

【repo链接】：repo的链接

如：

【队名】：百

[2022-07-21 06:56] kouhinn commented on #44488
补充信息：如果不使用tensorrt，内存占用与服务器上一致。只有使用tensorrt的情况是这样的。

[2022-07-21 07:13] kouhinn commented on #44323
config.EnableMemoryOptim() 这个一直都设置上了的（见前述）。

您说的加锁这个,是只需要保护paddle::memory::Release(place_)这个调用是吧？ 我这样修改的paddle代码的：
`paddle\fluid\inference\api\analysis_predictor.h：
  // A mutex help to memory release thread safe.
  std::mutex memrel_mutex_;

paddle\fluid\inference\api\analysis_predictor.cc：
uint64_t AnalysisPredictor::TryShrinkMemory() {
  ClearIntermediateTensor();

  std::lock_guard<std::mutex>

[2022-07-21 07:34] lidanqing-vv commented on #43811
Update: Co-work with @yeliang2258 and found it is because conv+residual, the residual add did not support broadcast. Now Yeliang is referring to elementwise_add wth broadcast in `elementwise_mkldnn_kernel.h` to add conv+residual_add broadcast support.

[2022-07-21 07:47] strayberry commented on #44395
@zhaocaibei123 抱歉有空可以再帮忙看一下这个问题吗 卡着很久了
换成https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/06_distributed_training/cluster_quick_start_ps_cn.html 里面的例子也不行

[2022-07-21 08:50] July-zh opened #44512 "(paddle.expand(paddle.to_tensor([])[:, None], (-1, 9))[:,4]).numel()>0空异常"
### bug描述 Describe the Bug

(paddle.expand(paddle.to_tensor([])[:, None], (-1, 9))[:,4]).numel()>0
会返回True
空怎么会得到元素呢？
<img width="549" alt="image" src="https://user-images.githubusercontent.com/39486987/180172438-be4047f3-fd2e-4e91-9337-bd62971e6e0f.png">

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-21 09:00] #44470 closed, assigned to liutiexing

[2022-07-21 09:10] July-zh commented on #44512
2.3版本的已经修复了～

[2022-07-21 09:10] #44512 closed, assigned to zhangbo9674

[2022-07-21 09:55] Stave604671 opened #44519 "docker里面安装paddle2.3.1gpu版报错"
### 问题描述 Issue Description

在docker里面安装了avx版本，cuda11.2的paddlepaddle2.3.1的gpu版时，import paddle出现了问题，问题如下：

我看源码的意思，支持avx的时候会自己下载对应的包core_noavx，不支持的时候不下载。那为什么我下载noavx版本的时候，报错又说支持avx？？这个文件夹去哪儿了。我打开对应的路径，我安装的里面确实没有core_novax这个文件夹。是我安装命令有问题吗？
我用这个下载的noavx版
python -m pip download paddlepaddle-gpu==2.3.1 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/noavx/stable.html --no-index --no-deps
这个下的avx版
pytho

[2022-07-21 10:09] huismiling commented on #44501
【队名】：试到秃头

【序号】：4

【论文】：[MicroNet: Improving Image Recognition with Extremely Low FLOPs](https://openaccess.thecvf.com/content/ICCV2021/html/Li_MicroNet_Improving_Image_Recognition_With_Extremely_Low_FLOPs_ICCV_2021_paper.html)

【状态】：报名

【repo链接】：https://github.com/huismiling/micronet

[2022-07-21 10:41] czr-gc opened #44522 "Undocumented parameter in dataloader"
### 文档链接&描述 Document Links & Description

input param `persistent_workers` is not documented in doc:
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DataLoader_cn.html#dataloader

source code:
https://github.com/PaddlePaddle/Paddle/blob/a224019056b9767e827a48c72b2e8a9270e04d79/python/paddle/fluid/reader.py#L459

### 请提出你的建议 Please give your suggestion

_No response_

[2022-07-21 10:58] zzm7777 commented on #44501
【队名】：小步快跑

【序号】：3

【论文】：TResNet: High Performance GPU-Dedicated Architecture

【状态】：报名

【repo链接】https://github.com/zzm7777/paddle_new/settings

[2022-07-21 11:00] LINSTCL commented on #44501
【队名】：LinstCL

【序号】：3

【论文】：[TResNet: High Performance GPU-Dedicated Architecture](https://openaccess.thecvf.com/content/WACV2021/papers/Ridnik_TResNet_High_Performance_GPU-Dedicated_Architecture_WACV_2021_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/LINSTCL/PdPaper-1.git

[2022-07-21 11:08] Feng1909 commented on #44501
【队名】：Feng1909

【序号】：3

【论文】：[TResNet: High Performance GPU-Dedicated Architecture](https://openaccess.thecvf.com/content/WACV2021/papers/Ridnik_TResNet_High_Performance_GPU-Dedicated_Architecture_WACV_2021_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/Feng1909/TResNet-Paddle

[2022-07-21 11:11] AnnaTrainingG commented on #44519
你好，感谢反馈，之前有类似问题是由于import 包名称与自定义文件名称冲突，请检查是否有core_noavx.py 并修改文件名
另外可能存在循环import的情况，请检查import是否规范

[2022-07-21 11:20] AnnaTrainingG commented on #44522
Sorry, it's our mistake. Thank you very much for your feedback. We will add it as soon as possible.

[2022-07-21 11:50] developWmark commented on #44501
【队名】：6个6

【序号】：41

【论文】：Learning Enriched Features for Fast Image Restoration and Enhancement](https://arxiv.org/pdf/2205.01649)
【状态】：报名

【repo链接】：https://github.com/developWmark/MIRNetv2-paddle

[2022-07-21 12:03] zhaocaibei123 commented on #44395
你是想用cpu跑还是gpu跑？
这个是cpups的示例，可以先试下单机cpu能不能跑通，不要开gpu https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/06_distributed_training/cluster_quick_start_ps_cn.html
fleetrun --server_num=1 --trainer_num=2 train.py

[2022-07-21 12:37] Victory8858 commented on #44501
【队名】：Victory

【序号】：12

【论文】：[Dynamic Anchor Learning for Arbitrary-Oriented Object Detection](https://arxiv.org/abs/2012.04150)

【状态】：报名

【repo链接】https://github.com/Victory8858/DAL-Paddle

[2022-07-21 12:38] Victory8858 commented on #44501
【队名】：Victory

【序号】：20

【论文】：[Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery](https://arxiv.org/abs/2011.09766)

【状态】：报名

【repo链接】https://github.com/Victory8858/FarSeg-Paddle

[2022-07-21 12:52] ImNoBadBoy commented on #44501
【队名】：一点也不坏

【序号】：7

【论文】：[Oriented RepPoints for Aerial Object Detection](https://arxiv.org/pdf/2105.11111v4.pdf)

【状态】：报名

【repo链接】：https://github.com/ImNoBadBoy/Oriented_RepPoints-Paddle

[2022-07-21 12:57] liuhongen1234567 commented on #44501
【队名】：LHE-2022

【序号】：22

【论文】：[Text Spotting Transformer](https://openaccess.thecvf.com/content/CVPR2022/papers/Zhang_Text_Spotting_Transformers_CVPR_2022_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/LHE-IT/Text-Spotting-Transformer

[2022-07-21 13:00] robinbg commented on #44501
【队名】：自动AC机

【序号】：4

【论文】：[MicroNet: Improving Image Recognition with Extremely Low FLOPs](https://openaccess.thecvf.com/content/ICCV2021/html/Li_MicroNet_Improving_Image_Recognition_With_Extremely_Low_FLOPs_ICCV_2021_paper.html)

【状态】：报名

【repo链接】：[repo的链接](https://github.com/robinbg/PaddlePaddle-MicroNet)

[2022-07-21 13:07] robinbg commented on #44501
【队名】：自动AC机

【序号】：3

【论文】：[TResNet: High Performance GPU-Dedicated Architecture](https://openaccess.thecvf.com/content/WACV2021/papers/Ridnik_TResNet_High_Performance_GPU-Dedicated_Architecture_WACV_2021_paper.pdf)

【状态】：报名

【repo链接】：[repo的链接](https://github.com/robinbg/PaddlePaddle-TResNet)

[2022-07-21 13:25] TeslaZhao commented on #44488
请补充一下用的paddle版本、什么模型、可以打开参数，看下开启trt后的模型结构图是什么样的等信息。

[2022-07-21 14:41] Senwei-Huang opened #44531 "nvidia-smi -L found gpu count: 1"
### bug描述 Describe the Bug

E0721 22:36:11.350354 24760 pybind.cc:2342] Cannot use GPU because you have installed CPU version PaddlePaddle.
If you want to use GPU, please try to install GPU version PaddlePaddle by: pip install paddlepaddle-gpu
If you only have CPU, please change CUDAPlace(0) to be CPUPlace().

请问这个怎么改：If you only have CPU, please change CUDAPlace(0) to be CPUPlace().
电脑没有GPU ，安装的也

[2022-07-21 14:42] tianshao1992 commented on #43938
【队名】：DeepPollDisp

【序号】：64

【状态】：报名

【链接】：https://github.com/tianshao1992/DeepPollDisp

[2022-07-21 15:27] Yumerain opened #44532 "官方文档的《数据集定义与加载》章节示例示代码缺失"
### 文档链接&描述 Document Links & Description

问题所在链接：
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/beginner/data_load_cn.html

问题位置：
1.2 使用 paddle.io.Dataset 自定义数据集
“用 paddle.io.Dataset 定义数据集的代码示例”

问题描述：
transform = Normalize(mean=[127.5], std=[127.5], data_format='CHW')
这行代码调用的Normalize函数没有导入

### 请提出你的建议 Please give your suggestion

解决方法：
参考1.1章节，添加导入：
from paddle.vision.transforms

[2022-07-21 15:34] kailunguo-001 commented on #43938
【队名】：青龙学习小组

【序号】：61

【状态】：报名

【链接】：https://github.com/kailunguo-001/Paddle

[2022-07-21 15:34] kailunguo-001 commented on #43938
【队名】：青龙学习小组

【序号】：62

【状态】：报名

【链接】：https://github.com/kailunguo-001/Paddle

[2022-07-21 15:36] yunbattle1994 opened #44533 "报名 飞桨黑客马拉松第三期"
### 问题描述 Please describe your issue

【队名】：PinnCylPro

【序号】：65

【状态】：报名

【repo链接】：https://github.com/yunbattle1994/PaddleScience_PINN_cylinder_probe

[2022-07-22 02:03] AnnaTrainingG commented on #44531
你好 非常感谢你的反馈，paddle可以通过set_device的形式选择运行的平台：
import paddle
paddle.device.set_device("cpu")
API : https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/device/set_device_cn.html#set-device

也可以在创建tensor的设置设置place 具体使用方法请参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/to_tensor_cn.html#to-tensor

[2022-07-22 02:08] AnnaTrainingG commented on #44532
非常感谢您的反馈，我们将及时修复该问题

[2022-07-22 02:08] zhhsplendid commented on #44069
@gsq7474741 我们这边正在查看中，对于您快速解决，可否先注释掉 cinn/auto_schedule/cost_model/CMakeLists.txt 中的
[code]

[2022-07-22 02:17] AnnaTrainingG commented on #44533
你好，可以在原issue下评论报名，便于进行项目统计，谢谢。https://github.com/PaddlePaddle/Paddle/issues/43938

[2022-07-22 03:02] a1056632260 commented on #44501
【队名】：重塑雕像的权利

【序号】：9

【论文】：Instances as Queries

【状态】：报名

【repo链接】：https://github.com/a1056632260/paddle-Instances_as_Queries/tree/master

[2022-07-22 03:03] youngAt19 commented on #44501
【队名】：qifei

【序号】：40

【论文】：[HINet: Half Instance Normalization Network for Image Restoration](https://arxiv.org/pdf/2105.06086v1.pdf)

【状态】：报名&提交

【repo链接】https://github.com/youngAt19/hinet_paddle

[2022-07-22 03:44] kouhinn commented on #44488
onnx模型与paddle模型，以及对应结构图上传到百度网盘：
链接：https://pan.baidu.com/s/1sI_wQmR7w99kmD3PCHD3-g
提取码：onx6
--来自百度网盘超级会员V6的分享
注意是同样的模型（不同数据训练）有5个同时加载运行。有10-25个检测线程，都是通过clone,保证了一个线程一个predictor的。

请问开启trt后的模型是指paddle自动转换成tensorrt的.engine文件吗？怎么获得？

版本信息在问题描述里边已经写了。再发一下：
jetson AGX xavier
jetpack 4.6
cuda 10.2.300
cuDnn  8.2.1.32
paddle inference: 官方预编译包：Jetpack4.6-nv-jetson-cuda10.2-cudnn8.2-trt8.0_xavier

paddle i

[2022-07-22 03:47] LiuYi-Up commented on #44501
【队名】：放平心态

【序号】：10

【论文】：[Per-Pixel Classification is Not All You Need for Semantic Segmentation](https://arxiv.org/abs/2107.06278)

【状态】：报名

【repo链接】：https://github.com/LiuYi-Up/PdPaper-MaskFormer

[2022-07-22 04:43] zhjdream commented on #44501
【队名】：夕

【序号】：39

【论文】：Real-Time Super-Resolution System of 4K-Video Based on Deep Learning

【状态】：报名

【repo链接】：https://github.com/zhjdream/paddle-egvsr

[2022-07-22 04:54] Salitanr opened #44541 "paddle有没有计划提供c++接口"
### 需求描述 Feature Description

paddle有没有计划像pytorch 那样提供c++接口用来组建与训练模型，这样可以给现有c++应用提供接入深度学习功能提供支撑

### 替代实现 Alternatives

_No response_

[2022-07-22 05:09] simonsLiang commented on #44501
【队名】：高级伴读书童

【序号】：25

【论文】：Anomaly Detection via Reverse Distillation from One-Class Embedding

【状态】：报名

【repo链接】：https://github.com/simonsLiang/RD4AD_paddle

[2022-07-22 05:33] ronny1996 commented on #44541
你好，Paddle现在正在做C++和Python接口的统一，有计划提供C++接口

[2022-07-22 05:35] marshall-dteach commented on #44501
【队名】：调查乌度卡
【序号】：13
【状态】：报名&提交
【repo链接】：https://github.com/marshall-dteach/psanet-main

[2022-07-22 05:56] sun222 commented on #44501
【队名】：mading

【序号】：20

【论文】：[A Transformer-Based Siamese Network for Change Detection](https://arxiv.org/pdf/2201.01293.pdf)

【状态】：报名

【repo链接】：https://github.com/sun222/PaddleRS

[2022-07-22 06:33] 52-Rem commented on #44501
【队名】：mading

【序号】：18

【论文】：FactSeg: Foreground Activation Driven Small Object Semantic Segmentation in Large-Scale Remote Sensing Imagery

【状态】：报名

【repo链接】：https://github.com/52-Rem/FactSeg

[2022-07-22 06:52] ronny1996 commented on #44541
你好，目前只是进了paddle2.4的研发计划，但是什么时候能用还不好说

[2022-07-22 06:59] QHan1st opened #44544 "请教im2sequence中out_stride参数的语义是什么？"
### 问题描述 Please describe your issue

您好！我在使用Paddle im2sequence过程中，发现多batch输入尺寸不一致的场景下会有这个out_stride参数。这个参数是用来对原图片进行截取操作吗？这样不是会丢掉很多的图片信息吗？能否帮忙解答一下？万分感谢。

来源：paddle/fluid/operators/im2sequence_op.h
for (int i = 0; i < batch_size; i++) {
        int tmp_real_h = static_cast<int>((cpu_shape_tensor.data<T>())[2 * i]);
        int tmp_real_w =
            static_cast<int>((cpu_shape_tensor.data<T>())[2

[2022-07-22 07:04] Victory8858 commented on #44501
【队名】：Victory

【序号】：18

【论文】：[Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery](https://arxiv.org/abs/2011.09766)

【状态】：报名

【repo链接】https://github.com/Victory8858/FarSeg-Paddle

[2022-07-22 07:07] DRkite-QiDian commented on #44501
【队名】：摸河过石头

【序号】：46

【论文】：Informer: Beyond Efficient Transformer for Long Sequence Time-Series

【状态】：报名

【repo链接】：https://github.com/DRkite-QiDian/Informer_Paddle.git

[2022-07-22 07:38] 52-Rem commented on #44501
【队名】：mading

【序号】：18

【论文】：[Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery](https://arxiv.org/abs/2011.09766)
【状态】：报名

【repo链接】：https://github.com/52-Rem/FarSeg-Paddle

[2022-07-22 07:44] DRkite-QiDian commented on #44501
嗯？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年7月22日(星期五) 下午3:38
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 【飞桨论文复现挑战赛（第七期）】榜单 (Issue #44501)

【队名】：mading

【序号】：18

【论文】：Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery
 【状态】：报名

【repo链接】：ht

[2022-07-22 07:46] flytocc commented on #44501
【队名】：拼手速

【序号】：4

【论文】：[MicroNet: Improving Image Recognition with Extremely Low FLOPs](https://openaccess.thecvf.com/content/ICCV2021/html/Li_MicroNet_Improving_Image_Recognition_With_Extremely_Low_FLOPs_ICCV_2021_paper.html)

【状态】：报名

【repo链接】：https://github.com/flytocc/MicroNet_paddle

[2022-07-22 08:00] huaibovip commented on #44501
【队名】：小鸡毒蘑菇

【序号】：4

【论文】：[MicroNet: Improving Image Recognition with Extremely Low FLOPs](https://openaccess.thecvf.com/content/ICCV2021/html/Li_MicroNet_Improving_Image_Recognition_With_Extremely_Low_FLOPs_ICCV_2021_paper.html)

【状态】：报名

【repo链接】：https://github.com/huaibovip/paddle_MicroNet

[2022-07-22 08:27] HanshengGUO commented on #44501
【队名】：hsguo

【序号】：19

【论文】：[FCCDN: Feature Constraint Network for VHR Image Change Detection](https://arxiv.org/pdf/2105.10860.pdf)

【状态】：报名

【repo链接】：https://github.com/HanshengGUO/FCCDN-PaddleSeg

[2022-07-22 08:51] NYcleaner commented on #10196
这个问题有解决么？

[2022-07-22 09:05] Senwei-Huang commented on #44531
您好，谢谢提供的解决方案。但是我按照您的方法并没有解决问题，还是一样的报错：
[code]
下面是我按照您提供的两个方法做的修改：
**方法1：**
我在所有.py文件开头都添加了`paddle.device.set_device("cpu")`，总共5个.py文件。如下：
① main_train.py：
[code]
② mujoco_agent.py
[code]
③ algorithm.py
[code]
④ mujoco_model.py
[code]
⑤ hopper_env.py
[code]

**方法2：**
创建tensor的地方只有② mujoco_agent.py这个文件，然后我对用到paddle.to_tensor的6个地方都添加了place=paddle.CPUPlace()，如下所示：
[code]
**设备环境信息：**
window 10
pycharm

[2022-07-22 09:05] ronny1996 commented on #44544
你好，out_stride表示输入图片的缩放尺寸，且只有输入input_image_size存在时有效。out_stride只影响input_image_size，kernel里input_image_size = input_image_size / out_stride。

[code]

input_image_size用于推理时表示图片的真实尺寸。
可以参考这个文档，https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/layers_cn/im2sequence_cn.html#im2sequence

[2022-07-22 09:09] naihaishy commented on #33219
同遇到过，建议将num_workers设置为>0的值

[2022-07-22 09:35] wjj19950828 commented on #44455
@Orzst 您好，相关问题已经在X2Paddle中修复，pip install最新版本(1.3.8)，即可解决～

[2022-07-22 09:35] AnnaTrainingG commented on #44531
你好，我们会根据你的问题尝试复现一下的 复现后将及时反馈给你
可以尝试一下方法解决：修改python 安装包中的machine_info.py:88
https://blog.csdn.net/weixin_43938942/article/details/107032548
https://blog.csdn.net/zhaomengszu/article/details/79401043

[2022-07-22 09:39] rev564 commented on #44455
哦好的

[2022-07-22 09:47] thgpddl commented on #44501
【队名】：牛气冲天队

【序号】：4

【论文】：[MicroNet: Improving Image Recognition with Extremely Low FLOPs](https://openaccess.thecvf.com/content/ICCV2021/html/Li_MicroNet_Improving_Image_Recognition_With_Extremely_Low_FLOPs_ICCV_2021_paper.html)

【状态】：报名

【repo链接】：https://github.com/thgpddl/MicroNet

[2022-07-22 10:00] tianrenheyi09 opened #44553 "paddle官网的异步读取数据的范例代码中，无法使用save_inference保存模型"
### bug描述 Describe the Bug

https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/advanced_guide/data_preparing/static_mode/use_py_reader.html
paddle官网的异步读取数据的范例代码中，无法使用save_inference保存模型
在以上实例代码中，每个epoch加上保存模型的代码，报错
 fluid.io.save_inference_model(dirname="./modelm", feeded_var_names=['image'], target_vars=[train_loss], executor=exe)

### 其他补充信息 Additional Supplementary Information

_No respon

[2022-07-22 10:35] wykkyle opened #44555 "遇到一个来自比较深层次的，文档没有覆盖到的警告，看起来是关于DataLoader。"
### 请提出你的问题 Please ask your question

报错截图，但是能顺利训练。
![tmp](https://user-images.githubusercontent.com/20754685/180414934-2e58c44c-f451-4a23-baed-47cb78da3394.png)

错误来源
在训练的时候，有些数据是需要送给gpu的，有些数据是需要留在gpu的。但是目前DataLoader不支持指定数据流向。
如，在ppdet项目中就有如下代码：因为图片路径不能送入gpu，故不能通过DataLoader返回（后一个箭头），所以需要准备一个数组，通过enumerate的序数，从数组中取图片路径（前一个箭头）
![tmp2](https://user-images.githubusercontent.com/20754685/180420857-f28

[2022-07-22 10:41] ronny1996 commented on #44553
请问使用什么版本的Paddle和环境？有详细的错误信息吗？

[2022-07-22 10:43] AnnaTrainingG commented on #44531
基于paddle2.3.1并未复现
<img width="652" alt="image" src="https://user-images.githubusercontent.com/51102941/180422882-78d68a11-821a-4a8a-8705-fa0984f753b2.png">

cpu 安装包 设置device为gpu 会直接提示错误
<img width="783" alt="image" src="https://user-images.githubusercontent.com/51102941/180423337-667fec1c-79a3-4340-b8dd-a7e353b577bd.png">

总结应该是与你的python 版本有关 建议尝试上一条评论中的方法

[2022-07-22 10:46] tianrenheyi09 commented on #44553
paddle1.8，提示变量不存在

[2022-07-22 10:47] tianrenheyi09 commented on #44553
INFO 2022-07-22 17:57:43,665 dataloader_auto_checkpoint.py:157] end dataloader epoch_no:0
Traceback (most recent call last):
  File "test5.py", line 135, in <module>
    fluid.io.save_inference_model(dirname="./modelm", feeded_var_names=['image'], target_vars=[train_loss], executor=exe)
  File "/opt/_internal/cpython-3.7.0/lib/python3.7/site-packages/paddle/fluid/io.py", line 1250, in save_inferen

[2022-07-22 10:48] tianrenheyi09 commented on #44553
import paddle.fluid as fluid
import numpy as np

# sample级reader
def fake_sample_reader():
    for _ in range(100):
        sample_image = np.random.random(size=(784, )).astype('float32')
        sample_label = np.random.random_integers(size=(1, ), low=0, high=9).astype('int64')
        yield sample_image, sample_label

# batch级reader
def fake_batch_reader():
    batch_size = 32
    for _ in range

[2022-07-22 10:49] tianrenheyi09 commented on #44553
`import paddle.fluid as fluid
import numpy as np

# sample级reader
def fake_sample_reader():
    for _ in range(100):
        sample_image = np.random.random(size=(784, )).astype('float32')
        sample_label = np.random.random_integers(size=(1, ), low=0, high=9).astype('int64')
        yield sample_image, sample_label

# batch级reader
def fake_batch_reader():
    batch_size = 32
    for _ in rang

[2022-07-22 10:50] tianrenheyi09 commented on #44553
for epoch_id in six.moves.range(1):
    run_iterable(train_prog, exe, train_loss, train_loader)
    # run_iterable(test_prog, exe, test_loss, test_loader)
    fluid.io.save_inference_model(dirname="./modelm", feeded_var_names=['image'], target_vars=[train_loss], executor=exe)

[2022-07-22 11:20] ronny1996 commented on #44555
![image](https://user-images.githubusercontent.com/25691046/180428896-137b8633-fb31-4a94-b973-0e8316c6006d.png)

你好请问是这部分警告吗？这部分警告是不是paddleslim报的？

[2022-07-22 11:24] ronny1996 commented on #44553
你好，能贴一段可复现的代码吗？

[2022-07-22 12:18] Senwei-Huang commented on #44531
感谢您的帮助，我已经解决了。是parl版本问题，但是到底是parl哪部分造成的未知。之前安装的是parl 1.4，现在升级到2.0.5，已经可以正常运行了。
@niuliling123

[2022-07-22 12:22] dddlli commented on #44501
【队名】：All In
【序号】：4
【论文】：（https://openaccess.thecvf.com/content/ICCV2021/html/Li_MicroNet_Improving_Image_Recognition_With_Extremely_Low_FLOPs_ICCV_2021_paper.html）
【状态】：报名
【repo链接】：[repo的链接](https://github.com/dddlli/MicroNet_PaddlePaddle.git)

[2022-07-22 12:23] dddlli commented on #44501
【队名】：All In
【序号】：4
【论文】：[MicroNet: Improving Image Recognition with Extremely Low FLOPs](https://openaccess.thecvf.com/content/ICCV2021/html/Li_MicroNet_Improving_Image_Recognition_With_Extremely_Low_FLOPs_ICCV_2021_paper.html)
【状态】：报名
【repo链接】：https://github.com/dddlli/MicroNet_PaddlePaddle.git

[2022-07-22 12:23] peteli25 commented on #44501
【队名】：All In

【序号】：4

【论文】：[MicroNet: Improving Image Recognition with Extremely Low FLOPs](https://openaccess.thecvf.com/content/ICCV2021/html/Li_MicroNet_Improving_Image_Recognition_With_Extremely_Low_FLOPs_ICCV_2021_paper.html)

【状态】：报名

【repo链接】：https://github.com/dddlli/MicroNet_PaddlePaddle.git

[2022-07-22 13:14] WenhanDong commented on #44501
【队名】：WH

【序号】：4

【论文】：[MicroNet: Improving Image Recognition with Extremely Low FLOPs](https://openaccess.thecvf.com/content/ICCV2021/html/Li_MicroNet_Improving_Image_Recognition_With_Extremely_Low_FLOPs_ICCV_2021_paper.html)

【状态】：报名

【repo链接】：https://github.com/WenhanDong/-1

[2022-07-22 15:34] ronny1996 commented on #44553
你好，请设置一下save_inference_model的main_program参数

[2022-07-22 15:45] frankxyy opened #44560 "最新2.3.1版本，无法使用tensorrt"
### bug描述 Describe the Bug

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/6971044/180475666-7986de5b-306d-46ba-84d8-e17ba7ed9e14.png">
如上图所示

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-23 02:40] Lmorring commented on #44501
【队名】：一个人队

【序号】：18

【论文】：[Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery](https://arxiv.org/abs/2011.09766)

【状态】：报名

【repo链接】：https://github.com/Lmorring/FarSeg

[2022-07-23 03:01] frankxyy opened #44564 "CUDNN cuBLAS版本不匹配warning有影响吗"
### bug描述 Describe the Bug

![image](https://user-images.githubusercontent.com/6971044/180588100-2cc11755-5ae3-4094-920d-9a5fc68b8a7c.png)
docker镜像的cudnn版本和python推理库需要的cudnn 和 cuBLAS 版本不匹配，是否有影响？  实测发现模型没有跑到gpu上

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-23 03:04] bb67ao opened #44565 "paddle.embedding 与 torch.embedding 底层实现有什么不同吗"
### 请提出你的问题 Please ask your question

为什么我用torch.embedding的结果会有大于1 的数，paddle.embedding没有，是我设置错了还是怎么回事。
torch:
[code]

paddle
[code]
实验很多次都是没有大于1的

[2022-07-23 05:22] METGALALA opened #44566 "如何杀死进程"
### 请提出你的问题 Please ask your question

(Fatal) Operator conv2d raises an paddle::memory::allocation::BadAlloc exception.
The exception content is
:ResourceExhaustedError:

Out of memory error on GPU 0. Cannot allocate 69.629150MB memory on GPU 0, 39.525391GB memory has been allocated and available memory is only 62.187500MB.

Please check whether there is any other process using GPU 0.
1. If yes, p

[2022-07-23 06:25] kouhinn commented on #44323
在应用程序中，每次调用TryShrinkMemory()的时候都加了锁，代码如下：
      ANNIWOCHECK( m_id_predictors[camID]->Run() );

      if(true)
      {
        std::lock_guard<std::mutex> lk(anniwo_memrel_mutex);
        m_id_predictors[camID]->TryShrinkMemory();
      }

但还是有一样的问题。

日志如下：
`terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():

--------------------------------------
C++ Traceba

[2022-07-23 06:30] kouhinn commented on #44323
有时候是SEGV的错误：
	stack dump [10]  /usr/local/cuda/lib64/libcudnn.socudnnGetConvolutionForwardAlgorithm+0x659 [0x7f49a87ee5d9]

	stack dump [11]  /opt/paddle_lib/paddle_inference/paddle/lib/libpaddle_inference.so : decltype (cudnnGetConvolutionForwardAlgorithm({parm#1}...)) paddle::platform::dynload::DynLoad__cudnnGetConvolutionForwardAlgorithm::operator()<cudnnContext*, cudnnTensorStruct*, cudnnFilte

[2022-07-23 07:18] feifei-droid commented on #44501
【队名】：Lem-Tree

【序号】：9

【论文】：Instances as Queries

【状态】：报名

【repo链接】：https://github.com/feifei-droid/QueryInst

[2022-07-23 08:39] jiangjiajun opened #44567 "Different result while enable mkldnn to inference"
### bug描述 Describe the Bug

当开启mkldnn后，结果是错误的，代码如下
[code]
模型见附件
当不开启mkldnn时，与纯python加载预测结果一致如下
[code]
当开启mkldnn后，结果发生了变化
[code]
可以看到第4列和第6列变成了最初始的2倍。

模型链接
https://bj.bcebos.com/paddle2onnx/fastdeploy/models/ppdet/ppyoloe_crn_l_300e_coco.tgz

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-23 08:46] marshall-dteach commented on #44501
【队名】：调查乌度卡

【序号】：50

【论文】：[Solving inverse problems using conditional invertible neural networks](https://arxiv.org/pdf/2007.15849.pdf)

【状态】：报名

【repo链接】：https://github.com/marshall-dteach/Solving-inverse-problems-using-conditional-invertible-neural-networks

[2022-07-23 08:56] Iamnotavail commented on #44501
【队名】：我们是这个队

【序号】：15

【论文】：[Deep Automatic Natural Image Matting](https://arxiv.org/abs/2107.07235)

【状态】：报名

【repo链接】：https://github.com/Iamnotavail/AIM_Paddle

[2022-07-23 10:19] ronny1996 commented on #44560
请问使用的是paddle inference吗？

[2022-07-23 10:47] LarchLiu commented on #38778
我也遇到同样的问题，版本`paddle v2.3.1`
我是用的 [PaddleRs](https://github.com/PaddlePaddle/PaddleRS) 官方教程 `classification/resnet50_vd` 训练后推理出现 Warning 。

[code]

https://github.com/PaddlePaddle/PaddleRS/blob/05e1eeee6eb7a31ef5e1299f32f09b067e2f7e85/paddlers/deploy/predictor.py#L129-L138

@tianxin1860

安装 [EISeg](https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.6/EISeg) 启动时就会报错

[code]

https://github.com

[2022-07-23 10:56] peachlcy commented on #43938
【队名】：TreeML
【序号】：17
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/44568

[2022-07-23 11:11] Rapisurazurite commented on #44501
【队名】：队伍名称

【序号】：6

【论文】：[Anchor DETR: Query Design for Transformer-Based Object Detection](https://arxiv.org/abs/2109.07107)

【状态】：报名

【repo链接】：https://github.com/Liblume-Shimotsuki/Paddle-Anchor-DETR

[2022-07-23 12:45] flytocc commented on #44501
【队名】：拼手速

【序号】：3

【论文】：[TResNet: High Performance GPU-Dedicated Architecture](https://openaccess.thecvf.com/content/WACV2021/papers/Ridnik_TResNet_High_Performance_GPU-Dedicated_Architecture_WACV_2021_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/flytocc/TResNet_paddle

[2022-07-23 13:41] frankxyy commented on #44560
是的

[2022-07-23 13:41] frankxyy commented on #44560
是的

[2022-07-23 13:49] yunbattle1994 commented on #43938
【队名】：PinnCylPro
【序号】：65
【状态】：报名
【链接】：https://github.com/yunbattle1994/PaddleScience_PINN_cylinder_probe

[2022-07-23 13:49] keil555 commented on #44501
【队名】：要用魔法打败魔法

【序号】：32

【论文】：[[PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds](https://paperswithcode.com/paper/paconv-position-adaptive-convolution-with)](https://paperswithcode.com/paper/paconv-position-adaptive-convolution-with)

【状态】：报名

【repo链接】：https://github.com/keil555/PAConv_Paddle

[2022-07-23 13:55] Leiyi-HU commented on #44501
【队名】：啊对对对队

【序号】：20

【论文】：[A Transformer-Based Siamese Network for Change Detection](https://arxiv.org/pdf/2201.01293.pdf)

【状态】：报名

【repo链接】：https://github.com/HULEIYI/ChangeFormer-pd

[2022-07-23 14:11] RangeKing commented on #44501
【队名】：RangeKing

【序号】：6

【论文】：[Anchor DETR: Query Design for Transformer-Based Object Detection](https://arxiv.org/abs/2109.07107)

【状态】：报名

【repo链接】：https://github.com/RangeKing/AnchorDETR-Paddle

[2022-07-23 14:49] yangshurong commented on #44501
【队名】：Yang1300704的团队

【序号】：4

【论文】：[MicroNet: Improving Image Recognition with Extremely Low FLOPs](https://openaccess.thecvf.com/content/ICCV2021/html/Li_MicroNet_Improving_Image_Recognition_With_Extremely_Low_FLOPs_ICCV_2021_paper.html)

【状态】：报名

【repo链接】：https://github.com/yangshurong/micronet_paddle

[2022-07-23 15:01] yangshurong commented on #44501
【队名】：Yang1300704的团队

【序号】：37

【论文】：[GFP-GAN: Towards Real-World Blind Face Restoration with Generative Facial Prior](https://paperswithcode.com/paper/towards-real-world-blind-face-restoration)

【状态】：报名

【repo链接】：https://github.com/yangshurong/GFP-GAN_paddle

[2022-07-23 16:30] phoenixes94 commented on #36801
Python 3.8.13 | packaged by conda-forge | (default, Mar 25 2022, 06:04:18)
[GCC 10.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Error: Can not import avx core while this file exists: /work/csg/shzhou/anaconda3/envs/Paddle/lib/python3.8/site-packages/paddle/fluid/core_avx.so
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/wo

[2022-07-23 16:31] phoenixes94 commented on #36801
Can someone fix it？

[2022-07-23 16:39] FlyInWind1 commented on #36801
On my archlinux, i try to fix build with gcc 12.1, it work well for now
https://github.com/FlyInWind1/Paddle/tree/2.3.1

[2022-07-23 17:01] phoenixes94 commented on #36801
I have one machine of gcc9.4.0，it run normally。but other two linux of gcc9.4.0 can not . It seems that&nbsp;having nothing to do with the GCC version.

发自我的iPhone

------------------ Original ------------------
From: FlyInWind ***@***.***&gt;
Date: 周日,7月 24,2022 0:39 上午
To: PaddlePaddle/Paddle ***@***.***&gt;
Cc: phoenixes94 ***@***.***&gt;, Comment ***@***.***&gt;
Subject: Re: [PaddlePaddle/Paddl

[2022-07-23 17:08] bjtudujunlin opened #44569 "版本paddlepaddle-gpu 2.3.1.post116，利用pycharm远程执行create_predictor函数，报错exit code 139"
### bug描述 Describe the Bug

## 问题描述
    在Ubuntu20种安装了paddle运行环境，通过pycharm远程方式进行paddle库调用。
    在调用mask_detector = hub.Module(name="pyramidbox_lite_mobile")加载模型时发现，直接在服务器上运行，可以执行成功，但是通过pycharm方式远程执行时，执行失败，报错，Process finished with exit code 139。
    后经定位发现，pycharm远程方式只要执行到create_predictor方法，都会报同样的问题。直接在服务器上运行不会。

   在另一个paddlepaddle-gpu 2.0.2.post100、paddlehub   2.0.2、cuda 10.0的环境下，也不存在该问题

## 运行环境
p

[2022-07-23 17:11] bjtudujunlin commented on #44569
@jzhang533 @wanglun @lileding @Superjomn 麻烦各位大佬帮忙看看

[2022-07-24 03:42] CtfGo commented on #44564
您好，请问您使用的是paddle哪个版本，是推理场景吗，能否贴下关键代码片段？

[2022-07-24 03:44] CtfGo commented on #44566
您好，请问您使用的paddle哪个版本，能否贴下关键代码片段？如果batch size过大是有可能报错显存不足的

[2022-07-24 03:47] CtfGo commented on #44565
您好，请问您使用的是paddle哪个版本呢

[2022-07-24 05:42] phoenixes94 commented on #36801
how to build your paddle on my linux?

[2022-07-24 05:57] phoenixes94 opened #44571 "core_avx.so: undefined symbol: _dl_sym, version GLIBC_PRIVATE"
### bug描述 Describe the Bug

Python 3.8.13 | packaged by conda-forge | (default, Mar 25 2022, 06:04:18)
[GCC 10.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
[code]
### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-24 05:59] phoenixes94 commented on #44571
I have one machine of gcc9.4.0，it run normally。but other two linux of gcc9.4.0 can not . It seems that having nothing to do with the GCC version.

[2022-07-24 06:24] FlyInWind1 commented on #36801
just follow official doc, https://www.paddlepaddle.org.cn/documentation/docs/en/install/compile/linux-compile_en.html#anchor-0

[2022-07-24 06:45] frankxyy commented on #44564
paddlepaddle-gpu 2.3.0.post112 ，推理场景，用的serving的库，直接配置在config.yml里面的

[2022-07-24 06:46] frankxyy commented on #44564
paddle-serving-app        0.9.0
paddle-serving-client     0.9.0
paddle-serving-server-gpu 0.9.0.post112

[2022-07-24 07:46] simonsLiang commented on #44501
【队名】：高级伴读书童

【序号】：25

【论文】：Anomaly Detection via Reverse Distillation from One-Class Embedding

【状态】：提交

【repo链接】：https://github.com/simonsLiang/RD4AD_paddle

[2022-07-24 07:48] renmada commented on #44501
【队名】：scv

【序号】：25

【论文】：Anomaly Detection via Reverse Distillation from One-Class Embedding

【状态】：报名&&提交

【repo链接】：https://github.com/renmada/RD4AD-paddle

[2022-07-24 10:20] saisai98 commented on #43938
【队名】：冲啊
【序号】：80
【状态】：报名
【链接】：https://github.com/saisai98/Paddle2ONNX

[2022-07-24 11:53] SoulSubmerge commented on #44489
谢谢！我解决了，感谢感谢！

[2022-07-24 23:52] francisx2019 commented on #44501
【队名】：冲!冲!冲!

【序号】：34

【论文】：Fully Convolutional One-Stage Monocular 3D Object Detection

【状态】：报名

【repo链接】：https://github.com/francisx2019/-FCOS3D

[2022-07-25 00:59] wykkyle commented on #44555
确实是paddleslim。用的ppdet的train.py改的代码，有一个预估模型计算量的步骤，没有注意到。（但是最近我只动了DataLoader）。
虽然还没看明白什么问题（print传入变量确实是tensor，不是numpy），不过不是主体训练和预测的问题就放心了。还没看paddleslim的文档。暂时忽略，到时候再处理。thx。
![image](https://user-images.githubusercontent.com/20754685/180673715-6b30d73e-fdd0-400b-906a-a2286748bb3f.png)

[2022-07-25 00:59] #44555 closed, assigned to ronny1996

[2022-07-25 01:54] AnnaTrainingG commented on #44531
好的那太棒了 那我就将issue关闭了

[2022-07-25 01:54] #44531 closed, assigned to zhangbo9674

[2022-07-25 02:01] #44533 closed, assigned to zhangbo9674

[2022-07-25 02:04] David-19940718 commented on #43211
The same issue for me? Who can address this problem, thank u very much!

[2022-07-25 02:13] #44440 closed, assigned to GuoxiaWang

[2022-07-25 02:18] jiweibo commented on #44560
看起来您好像开启了trt，请使用编译带了trt的Paddle whl包哈

https://www.paddlepaddle.org.cn/inference/user_guides/download_lib.html#python

[2022-07-25 02:25] HexToString commented on #44564
你好，如果运行过程中没有报错，那么当CUDA大版本一致的时候，基本上问题不大。

[2022-07-25 02:39] #42937 closed, assigned to cuicheng01

[2022-07-25 03:02] #44489 closed, assigned to liutiexing

[2022-07-25 03:02] #44455 closed, assigned to GuoxiaWang

[2022-07-25 03:07] GuoxiaWang commented on #44443
@March35
就是在调用 save inference model 前加一个 program.clone

静态图的 program api 文档参照 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/Program_cn.html#clone-for-test-false

[2022-07-25 03:17] pangyoki commented on #44429
你好，我看https://gitee.com/jiaopan/Paddle.git这个库中cmake/external下的文件跟paddle官方库的第三方库文件都不一样，这些确定是Paddle编译依赖的文件吗？
另外，我也没搜到Paddle需要依赖clang-cindex-python3这个库的文件，你现在使用这个第三方库，可以找下编译这个库的文件，里面应该有相应的下载repo的链接地址，可以试试修改成你能下载的地址。

[2022-07-25 03:19] ZzSean commented on #44571
Hi, please check the Linux version, PaddlePaddle may not currently support versions above Ubuntu 20.04

[2022-07-25 03:21] ZzSean commented on #44571
Same problem with https://github.com/PaddlePaddle/Paddle/issues/36801

[2022-07-25 03:27] GreenHandZhu commented on #44429
paddle 依赖的是pybind11, clang-cindex-python3是pybind11的submodules。 我尝试自己镜像pybind11，并修改pybind11的submodues的URL. 虽然最后没有编译成功，但是应该是个解决方向。只是这样的方式非常繁琐，个人认为百度的产品没有国内镜像支持三方库的下载，就有点不太合理。毕竟国内很多公司都很难访问github

[2022-07-25 03:35] phoenixes94 commented on #44571
My two machine’s Linux version is red hat 9 which can not be supported，another red hat 8 can run paddle normally. How can I sovle this issue？

发自我的iPhone

------------------ Original ------------------
From: Zhang Zheng ***@***.***&gt;
Date: 周一,7月 25,2022 11:19 上午
To: PaddlePaddle/Paddle ***@***.***&gt;
Cc: phoenixes94 ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [PaddlePaddle/Paddle] core

[2022-07-25 03:53] pangyoki commented on #44429
好的，大概了解你的意思了。我们会评估下，把第三方库的下载地址从github迁移到国内源，方便编译时下载的问题。

[2022-07-25 04:23] zengyao1999 commented on #44501
【队名】：真的很搞笑

【序号】：6

【论文】：Anchor-DETR-Query-Design-for-Transformer-Based-Object-Detection

【状态】：报名

【repo链接】：https://github.com/zengyao1999/Anchor-DETR-Query-Design-for-Transformer-Based-Object-Detection

[2022-07-25 05:20] #44429 closed, assigned to GuoxiaWang

[2022-07-25 06:24] luomoxiaoshui commented on #43938
【队名】：我来了
【序号】：80
【状态】：报名
【链接】：https://github.com/luomoxiaoshui/Paddle2ONNX

[2022-07-25 07:09] ghost commented on #38377
Because your paddleslim didn't installed with the same version of paddlepaddle.
My solution ( Cuda 11.4, cudnn 8.4.0):
- python3.6 -m venv env
- pip3 install paddlepaddle-gpu==2.2.0.post112 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html
- pip install paddleslim==2.2.0 -i https://pypi.tuna.tsinghua.edu.cn/simple ( chose version from repo https://github.com/PaddlePaddle/PaddleSlim)

[2022-07-25 07:10] taixiurong commented on #43938
【队名】：一杯凉开水
【序号】：100
【状态】：报名
【链接】：https://github.com/taixiurong/openvino

[2022-07-25 07:10] taixiurong commented on #43938
【队名】：一杯凉开水
【序号】：101
【状态】：报名
【链接】：https://github.com/taixiurong/openvino

[2022-07-25 07:10] taixiurong commented on #43938
【队名】：一杯凉开水
【序号】：104
【状态】：报名
【链接】：https://github.com/taixiurong/openvino

[2022-07-25 07:56] tianrenheyi09 commented on #44553
多谢，添加main_program参数后，可以正常保存

[2022-07-25 07:59] 535205856 opened #44583 "python 分布式训练时使用到的 python/paddle/distributed/fleet/launch_utils.py 中的方法 watch_local_trainers的异常处理问题"
### bug描述 Describe the Bug

start_local_trainers方法的创建的训练进程的异常退出，但是lanch进程却是正常退出，

def watch_local_trainers(procs, nranks):
...
      if error:
                terminate_local_procs(procs)
                exit(1)
  ...
 except SystemExit:
        logger.error(
            "ABORT!!! Out of all {} trainers, the trainer process with rank={} was aborted. Please check its log."
            .format(nrank

[2022-07-25 08:18] QHan1st commented on #44544
@ronny1996  多谢答复。还有一个疑惑的地方是关于Tensor x与input_image_size之间的关系？具体为这里的input Tensor X中的img_height, img_width描述的是多batch 图片真实尺寸缩放之后的大小，还是缩放之前的大小呢？

[2022-07-25 09:07] wulei-sudo opened #44587 "本人在麒麟v10,cpu为Kunpeng 920 源码编译遇到卡住不动的情况，编译cpu版本"
### 问题描述 Issue Description

[ 24%] Built target variable_visitor
[ 24%] Built target variable_helper
[ 24%] Built target lod_rank_table
[ 24%] Built target sampler
[ 24%] Built target collective_helper
[ 24%] Built target feed_fetch_method
[ 24%] Built target var_helper
[ 24%] Built target analysis_config
[ 25%] Built target cuda_graph_with_memory_pool
[ 25%] Built target box_wrapper
[ 24%] Built

[2022-07-25 09:10] AndPuQing commented on #43938
【队名】：开摆鸟
【序号】：98
【状态】：报名&&提交作品
【链接】：https://github.com/openvinotoolkit/openvino/pull/12277

[2022-07-25 09:29] yaomichael commented on #43811
@yeliang2258 are you going to implement broadcast support for conv+residual fuse?

[2022-07-25 09:31] yeliang2258 commented on #43811
Yes. I will try to fix this

[2022-07-25 09:33] Gmgge commented on #38300
@GreenHandZhu  很久没有搞这个，刚看了下
更具体的操作是原始的pybind里面
![image](https://user-images.githubusercontent.com/48548141/180745413-d1117e89-2d71-4427-8c9a-9ae1f09d2d4d.png)
clang是一个链接，你把这个链接下载下来，再上传到你的pybind库，把他变成文件
![image](https://user-images.githubusercontent.com/48548141/180745555-c3c81c6e-19e2-4225-baf7-7dcd6354495b.png)

ps 你需要自己在gitee上面同步一个pybind，这样就可以想怎么改就怎么改了，这个应该会把？

[2022-07-25 09:43] liangwenxin opened #44589 "在jetson xaiver nx上运行paddle_inferencen_demo中infer_yolov3的demo要5min是为什么"
### 请提出你的问题 Please ask your question

在jetson xaiver nx上运行paddle_inferencen_demo中infer_yolov3的demo要5min是为什么

W0725 17:27:07.372653 11068 analysis_predictor.cc:1086] The one-time configuration of analysis predictor failed, which may be due to native predictor called first and its configurations taken effect.
I0725 17:27:07.497365 11068 analysis_predictor.cc:854] TensorRT subgraph engine is enabled

[2022-07-25 10:10] liangwenxin commented on #44589
运行版本如下：
jetpack 4.6
opencv 4.1.1
cuda 10.2
cudnn 8.2.1
tensorrt 8.0.1
paddlepaddle 2.3.0

[2022-07-25 10:31] GreenHandZhu commented on #38300
@Gmgge  感谢哈 后面发现clang-cindex-python3是pybind11的submodules,只要自己的镜像修改下pybind11中.gitsubmodules中clang的url应该就可以。和你给的方案一样。

[2022-07-25 11:38] ronny1996 commented on #44544
多batch 图片真实尺寸可能不一样，描述的是多batch 图片真实尺寸缩放之后的最大尺寸

[2022-07-25 14:40] bcc2974874275 commented on #44501
【队名】：饼饼今天睡醒了吗

【序号】：38

【论文】：Video Super-Resolution Transformer

【状态】：报名

【repo链接】：https://github.com/bcc2974874275/VSRTransformer-paddle

[2022-07-25 14:43] bcc2974874275 commented on #44501
【队名】：饼饼今天睡醒了吗

【序号】：39

【论文】：Real-Time Super-Resolution System of 4K-Video Based on Deep Learning

【状态】：报名

【repo链接】：https://github.com/bcc2974874275/EGVSR-paddle

[2022-07-25 20:27] ririya opened #44599 "libcuda.so: cannot open shared object file: No such file or directory"
### 问题描述 Issue Description

Hi all, I've been using paddlepaddle-gpu=2.2.2.post112 for cuda 11.2 on ubuntu 20.04. I'm trying to switch to paddle 2.3.0 or 2.3.1, however after installing paddlepaddle-gpu=2.3.1.post112 I'm getting the above error.

### 版本&环境信息 Version & Environment Information

paddlepaddle-gpu=2.3.1.post112

Python Python 3.8.13

Cuda 11.2

Cudnn v8.1.1.33

Nivida driver 516.40

[2022-07-26 02:27] QHan1st commented on #44544
好的明白了，多谢飞浆的老师回复

[2022-07-26 02:43] DrRyanHuang opened #44600 "Will `paddle_infer` make accuracy drop?"
### 请提出你的问题 Please ask your question

Hi, I export an segmetation static model  with `PaddleSeg`, and used the static model with `paddle_infer`.
However, the accuracy(mIoU) has droped.

Here is our testing result:

The first two lines are the Paddle dynamic model directly running test, and the next three lines are the paddle_infer static model running test.
![d](https://user-images.githubuserconte

[2022-07-26 02:47] thisjiang commented on #44599
Just to verify,  Did you install CUDA toolkit in the same environment? Or did you install other CUDA version in the same environment?Thanks.

[2022-07-26 02:54] shengshanbai commented on #44501
【队名】：ss

【序号】：15

【论文】：Deep Automatic Natural Image Matting

【状态】：报名

【repo链接】：https://github.com/shengshanbai/AIM_reproduction.git

[2022-07-26 02:55] gglin001 opened #44602 "When/Will optimizers move to PHI API?"
### 请提出你的问题 Please ask your question

hi, 我看到目前 optimizer 相关的 op 依然是使用 `TraceOp` 的方式.

请问这部分将来会切换到类似目前的 `eager_final_state_api_XXX` API 吗?  比如一个 `eager_final_state_api_lamb()` 这种

如果有此计划, 请问有大概的发布时间吗?

[2022-07-26 03:11] ririya commented on #44599
It’s possible, I had an earlier installation of Cuda with a different version. But I’m running paddle 2.2.2 fine with cuda 11.2 in this environment

[2022-07-26 03:19] yaomichael commented on #43525
@chenwhql  @Aganlengzi  you are still working on a redesign around set_layout(), aren't you?

[2022-07-26 03:22] gglin001 commented on #44602
update: 已经有了
[code]

似乎 python 层还没有完全切换

[2022-07-26 03:23] thisjiang commented on #44599
Could you check the cuda version by `nvcc --version`? If the cuda version not 11.2, maybe you should add the cuda11.2 directory into `PATH`.

[2022-07-26 03:28] hozamon commented on #44501
【队名】：改变世界

【序号】：40

【论文】：A Transformer-Based Siamese Network for Change Detection

【状态】：报名

【repo链接】：https://github.com/hozamon/Trnsfrmr-By-Siamese-Net-ForCD.git

[2022-07-26 03:28] thisjiang commented on #44602
Hi~我看您似乎已经找到了问题的答案，请问您还有其它问题么？

[2022-07-26 03:31] gglin001 commented on #44602
请问大概什么时候会完成所有op的迁移工作(包含 python 层的切换)?

[2022-07-26 05:16] ChenjieXu opened #44608 "k8s GPU资源分割后运行的时候 会无报错信息 直接kill"
### bug描述 Describe the Bug

使用灵雀云进行部署的时候，当分配的显核小于100的时候（vcuda-core:95）运行 python3 -c "import paddle;paddle.utils.run_check()"，会直接killed，没有报错。但是奇怪的是，很早之前安装2.0.0rc1的镜像就可以运行，但是我把该版本卸载再重装之后，就会报相同的错误。如果分配的显核等于100（相当于一整块卡），就没有问题了。请问为何会有这比较奇怪的表现？

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-26 05:47] TUDelftHao opened #44610 "提交PR没有触发paddle-bot"
### 请提出你的问题 Please ask your question

提交PR没有触发paddle-bot自动回复，这是咋回事？ #44579

[2022-07-26 05:55] thisjiang commented on #44602
您好，大部分cpu/gpu的算子迁移会在这一两个月内完成，剩下的目前还不确定

[2022-07-26 06:00] #44602 closed, assigned to thisjiang

[2022-07-26 06:03] tianshuo78520a commented on #44610
有可能服务在升级，或者网络不稳定，导致没有回复，不影响你合入代码

[2022-07-26 06:09] TUDelftHao commented on #44610
好的谢谢

[2022-07-26 06:09] #44610 closed, assigned to thisjiang

[2022-07-26 06:21] thisjiang commented on #44600
Hi~The `paddle_infer` will be no loss of accuracy without low accuracy, your problem may because of some features of  PaddleSeg. I have reminded the colleague of PaddleSeg to help you, please wait. Thanks.

[2022-07-26 06:21] Aganlengzi commented on #43525
@yaomichael hi, I think this issue can be closed since `mem_desc` issue has been explained. Future work about oneDNN related changes in DenseTensor or other can be discussed and done later.

[2022-07-26 06:23] thisjiang commented on #44608
Hi~Could you give me more information about your environment? Like gcc version, cuda version, gpu type, paddle version and etc. Thanks.

[2022-07-26 06:46] #25440 closed, assigned to seiriosPlus

[2022-07-26 06:46] #26760 closed, assigned to nobody

[2022-07-26 06:46] #31795 closed, assigned to JZ-LIANG

[2022-07-26 06:46] #33971 closed, assigned to wanghuancoder, zhwesky2010

[2022-07-26 06:46] #34164 closed, assigned to littletomatodonkey

[2022-07-26 06:46] #34201 closed, assigned to TeslaZhao

[2022-07-26 06:46] #34291 closed, assigned to Superjomn, DannyIsFunny

[2022-07-26 06:46] #34297 closed, assigned to Superjomn

[2022-07-26 06:46] #34327 closed, assigned to seiriosPlus

[2022-07-26 06:46] #34331 closed, assigned to seiriosPlus

[2022-07-26 06:46] #34333 closed, assigned to frankwhzhang

[2022-07-26 06:46] #34336 closed, assigned to nobody

[2022-07-26 06:46] #34362 closed, assigned to heavengate

[2022-07-26 06:46] #34363 closed, assigned to heavengate

[2022-07-26 06:46] #34364 closed, assigned to heavengate

[2022-07-26 06:48] linxcan commented on #44501
【队名】：立志反卷

【序号】：38

【论文】：Video Super-Resolution Transformer

【状态】：报名

【repo链接】：https://github.com/linxcan/BaiduPaddle

[2022-07-26 07:15] jzhang533 commented on #44565
`torch.nn.Embedding` 默认的参数初始化，是用的均值为0，标准差为1的正态分布。
`paddle.nn.Embedding`默认的参数初始化，是用的][XavierUniform](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/initializer/XavierUniform_cn.html#xavieruniform)，是用的`[-x, x]`间的均匀分布，其中` x = \sqrt{\\frac{6.0}{fan\_in + fan\_out}}`，在你的例子里`x = sqrt(6/(169+50))`。

所以你看到的是正常的现象，不过`paddle.nn.Embedding`的官方文档确实写的不够清楚。

[2022-07-26 07:20] jzhang533 commented on #44571
glibc >= 2.34 时会有这个问题，Paddle团队正在解决。
@Thunderbrook

[2022-07-26 08:03] Asthestarsfalll commented on #43938
【队名】：这个队长很懒
【序号】：97
【状态】：报名&&提交作品
【链接】：https://github.com/openvinotoolkit/openvino/pull/12299

[2022-07-26 08:25] March35 opened #44620 "save_persistables报错"
![image](https://user-images.githubusercontent.com/48037392/180960027-bdb2fe33-edbd-4447-82d9-576d9d155465.png)

[2022-07-26 08:29] thisjiang commented on #44620
您好！您可以先确认下`output/step_100`目录是否存在？您是否有权限对该文件或文件夹进行写入？

[2022-07-26 08:45] DrRyanHuang commented on #44600
@thisjiang
Hi, thank you for your help!!!!!!
This issue has been resolved, which is `mIoU` calculated differently.

------------
`mIoU` is not the mean of each image, but $$\frac{total\ area\ intersect}{total\ area\ union}$$.

[2022-07-26 08:45] #44600 closed, assigned to thisjiang

[2022-07-26 08:47] kwokyto opened #44621 "ImportError: paddle/fluid/core_noavx.so: undefined symbol: shm_unlink"
### 问题描述 Issue Description

When running PaddleSpeech on RaspberryPi, I am given an ImportError regarding noavx in Paddle. I have followed instructions from [QEngineering](https://github.com/Qengineering/Paddle-Raspberry-Pi) to download the paddlepaddle wheel for aarch64 machines.

## Reproduction Steps
[code]

### 版本&环境信息 Version & Environment Information

## OS
[code]

## GPU
None

## Environmen

[2022-07-26 08:51] thisjiang commented on #44599
Hi @ririya  did you solved this problem?

[2022-07-26 08:56] #44589 closed, assigned to JamesLim-sy

[2022-07-26 09:15] thisjiang commented on #44621
Hi! Can you run `python -c 'import paddle;paddle.utils.run_check()'`?

[2022-07-26 09:18] ChenjieXu commented on #44608
cuda driver版本试过11.4和10.2，镜像runtime版本试过11.2和10.2，paddle版本试过2.3.0，2.2.2和2.0.0rc1。
其他的环境信息我正在联系运维工程师，稍后会提供给您。

[2022-07-26 09:18] kwokyto commented on #44621
it seems like i still get the same error
[code]

[2022-07-26 09:27] thisjiang commented on #44621
Is this inference or training?

[2022-07-26 09:31] kwokyto commented on #44621
This is inference, just want to run a wav file through it

[2022-07-26 09:39] thisjiang commented on #44621
This seems your environment is not the same as the whl supporter's, you can run `cat /proc/cpuinfo | grep -i avx` to check whether your cpu support avx or not. Just to be sure, I suggest you should compile the paddle from the source code.

[2022-07-26 09:42] zhly0 opened #44627 "paddle模型直转tensorflow pb或者tflite"
### 需求描述 Feature Description

任务目标：当前正在一些mtk apu平台上开发模型，该平台为AI加速引擎，当前只支持tensorflow模型，需要开发的任务，包含检测，分类，回归等;

需求场景：如果能够提供paddle模型直接转tflite或者pb的功能，那么很多paddle中提供的算法就可以直接使用，基于当前的paddle模型转onnx，再转tflite或者pb模型的转换流程，还存在很多问题，不能一步到位，且一旦有问题，就无法解决，这些问题将极大的限制paddle的使用，如果官方能够解决，将极大的拓展paddle的使用边界;

功能描述：基于op级的paddle模型转tensorflow模型

### 替代实现 Alternatives

_No response_

[2022-07-26 10:31] fan-min-97 opened #44629 "PaddleClas标签文件格式问题"
### 请提出你的问题 Please ask your question

在paddleClas中的PaddleClas/ppcls/configs/quick_start/professional/MobileNetV1_multilabel.yaml ：

Metric:
  Train:
    - HammingDistance:
    - AccuracyScore:
  Eval:
    - HammingDistance:
    - AccuracyScore:
    - mAP: {}

在最后添加map:{}这行时，训练验证部分会报错
TypeError: forward() missing 2 required positional arguments: 'gallery_img_id' and 'keep_mask'
，如果想查看map该怎么写呢

[2022-07-26 10:31] zjzjwang commented on #44501
【队名】：js3hou

【序号】：24

【论文】：CutPaste: Self-Supervised Learning for Anomaly Detection and Localization

【状态】：报名

【repo链接】：https://github.com/wang-zh-j/cutpaste_paddle

[2022-07-26 11:25] thisjiang commented on #44629
您好！PaddleClas的相关问题欢迎前往[PaddleClas repo](https://github.com/PaddlePaddle/PaddleClas)提issue~

[2022-07-26 11:27] thisjiang commented on #44627
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。

[2022-07-26 11:52] jinyouzhi commented on #43938
【队名】：全村人的希望
【序号】：4
【状态】：报名&PFC
【链接】：https://github.com/jinyouzhi/community
【说明】：序号4的RFC已在上期提交，位置：Paddle/community/rfcs/APIs/20220316_api_design_for_cummax.md

[2022-07-26 12:01] wawltor opened #44633 "ValueError: Operator "gen_nccl_id" has not been registered."
### 请提出你的问题 Please ask your question

在执行的Paddle的执行过程中，会出现下面的问题

https://user-images.githubusercontent.com/66577364/180216202-a1331c83-ab6e-42db-92b0-b4205a5fcd46.jpg

[2022-07-26 12:02] bb67ao commented on #44565
2.3

[2022-07-26 12:04] bb67ao commented on #44565
[code]
谢谢！

[2022-07-26 12:20] bb67ao commented on #44565
我还有个问题，初始化方式不同会对模型的最终结果有影响吗，仅指收敛效果，不说收敛速度

[2022-07-26 12:26] thisjiang commented on #44633
请问您能给出更多环境信息么？比如系统版本、gcc版本、cuda版本、nccl版本、paddle版本等等，谢谢！

[2022-07-26 12:46] i02-c commented on #44070
【队名】：冬天不太热
【序号】：94
【状态】：报名
【链接】：https://github.com/X4Science

[2022-07-26 12:57] wawltor commented on #44633
操作系统：windows
paddle版本：paddlepaddle 2.3.0
cuda版本：11.2

[2022-07-26 13:04] thisjiang commented on #44633
您好！非常抱歉，Windows暂不支持NCCL，分布式等相关功能，详见[Windows下的PIP安装](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/windows-pip.html)

[2022-07-26 14:03] onecatcn commented on #44068
请 @saisai98 发邮件到[paddle-hack@baidu.com](mailto:paddle-hack@baidu.com)与我们取得联系，邮件格式：标题-【Hackathon No.80】报名，我们会联系您进行任务沟通。

[2022-07-26 21:07] ririya commented on #44599
@thisjiang thanks for the reply.

I don't have nvcc installed, because I had a hard time getting cuda installed when installing it...

I added /usr/local/cuda-11.2/bin to PATH and /usr/local/cuda-11.2/lib-64 to LD_LIBRARY_PATH. Still getting the error....

[2022-07-26 21:30] ririya commented on #44599
Alright I was able to figure it out... my libcuda.so was located under /usr/lib/wsl/lib, so I added it to LD_LIBRARY_PATH and things work now! Thank you very much for the help, we can close this thread!

[2022-07-27 00:22] jeng1220 opened #44641 "Recommend to use np.testing.assert_allclose instead of assertTrue(np.allclose(...))"
### 需求描述 Feature Description

Now many unit tests use `assertTrue(np.allclose(x, y), "error message")` to compare two tensors, but its error message is helpless. Because `assertTrue`  cannot tell developer the details, such as which value in tensor causes wrong, how different between two tensors is. For instance:

[code]

The error message only tells developer that `False is not true`. That's all.

[2022-07-27 01:12] fzhiheng commented on #44560
我使用的cpp_infer中的tensorrt加速，下载的编译好的包，也会报错，麻烦您看一下。
[AGX部署cpp_infer的tensorrt加速报错](https://github.com/PaddlePaddle/PaddleOCR/issues/7005)。
话说回来，自己想编译paddle的话，该怎么解决呢？

[2022-07-27 01:18] theidealist2 commented on #44501
【队名】：Cold_FW

【序号】：38

【论文】：Video Super-Resolution Transformer

【状态】：报名

【repo链接】：https://github.com/theidealist2/VSRTransformer-Paddle

[2022-07-27 02:38] qianbin1989228 commented on #44501
【队名】：Bin Qian

【序号】：16

【论文】：Mask Guided Matting via Progressive Refinement Network

【状态】：报名

【repo链接】：[https://github.com/qianbin1989228/MGMatting](https://github.com/qianbin1989228/MGMatting)

[2022-07-27 03:08] CZMmin opened #44644 "paddle2.4 是否会推出统一的C++ API"
### 请提出你的问题 Please ask your question

hello，paddle新版本是否会推出统一的C++ API可用于训练，测试，类似libtorch？

[2022-07-27 03:30] heyblackC commented on #44501
【队名】：heyblack

【序号】：28

【论文】：ActionCLIP: A New Paradigm for Video Action Recognition

【状态】：报名

【repo链接】：https://github.com/heyblackC/ActionCLIP_paddle

[2022-07-27 04:00] #44633 closed, assigned to thisjiang

[2022-07-27 04:01] #44599 closed, assigned to thisjiang

[2022-07-27 05:53] anexplore commented on #43346
有新的进展么？

[2022-07-27 06:16] Victory8858 commented on #43001
目前更新到最新的2.3.1版本 CUDA11.6依然结果不对，麻烦跟进一下，谢谢！
[code]
![image](https://user-images.githubusercontent.com/47514961/181174937-c1bf1104-5d25-48f4-a390-882b5adcb818.png)

[2022-07-27 07:03] jalenchan commented on #43908
me too.

[2022-07-27 07:15] #44564 closed, assigned to CtfGo, HexToString

[2022-07-27 07:24] #44566 closed, assigned to CtfGo

[2022-07-27 07:33] jeng1220 opened #44657 "Need to stabilize Paddle-TRT unit tests"
### bug描述 Describe the Bug

Now many Paddle-TRT unit-tests include FP16 testing. However, the approach is to compare the results generated from Paddle-Inference with FP32 computation and the results generated from Paddle-TRT with FP16 computation. That's
[code]
This is bad because the difference between the two results can be large (e.g. > 1e-5 or 1e-4 or 1e-3) and we don't have a good way to dete

[2022-07-27 07:35] hong19860320 commented on #44627
目前 Paddle Lite 支持 MTK APU，且提供了两种支持方式：
1）一种是 MTK NeuronAdapter （这种需要依赖 MTK 较新的固件支持，需要问 MTK 要，否则会报库找不到的问题）https://www.paddlepaddle.org.cn/lite/develop/demo_guides/mediatek_apu.html
2）另一种是 Android NNAPI https://www.paddlepaddle.org.cn/lite/develop/demo_guides/android_nnapi.html 但对 Android 版本有一定的要求。

我们一般推荐 android nnapi 方式，因为 MTK 对 Android NNAPI 的支持相对完善，特别是对 float32 和 int8 全量化模型均有加速效果。

[2022-07-27 07:53] bigcash commented on #44501
【队名】：还真是这么回事

【序号】：2

【论文】：Neural Architecture Design for GPU-Efficient Networks

【状态】：报名

【repo链接】：https://github.com/bigcash/GENets-Paddle

[2022-07-27 07:54] thisjiang commented on #44621
Hi！If only for inference, we suggest you using [Paddle-Lite](https://github.com/PaddlePaddle/Paddle-Lite), Paddle Lite confirmed easy to perform inference on RaspberryPi.

[2022-07-27 08:09] #43485 closed, assigned to nobody

[2022-07-27 08:32] zrr1999 commented on #43938
【队名】：错误代码114

【序号】：77

【状态】：提交作品

【链接】：https://github.com/PaddlePaddle/CINN/pull/863

[2022-07-27 08:37] yeliang2258 commented on #43105
The running bug with the original CPU has been fixed in this PR: https://github.com/PaddlePaddle/Paddle/pull/44659

[2022-07-27 09:14] yeyupiaoling opened #44665 "在1080ti卡推理的时候，速度会很慢"
### 请提出你的问题 Please ask your question

 - PaddlePaddle 2.3.1
 - Ubuntu 18.04
 - CUDA 10.2
 - CUDNN 7.6.5
 - ResNet50_vd
 - 接口为：Inference

除了显卡不一样，其他环境如上。

安装命令：
[code]

以模型ResNet50_vd为例，已经预热平均了。
 - 1080ti推理消耗的时间
[code]

 - 2080ti推理消耗的时间：2ms
[code]

调试发现主要是获取输出消耗时间存在差距
[code]

[2022-07-27 09:30] thisjiang commented on #44608
请问您是在哪一步被kill的呢？有没有打印出来`Running verify PaddlePaddle program`这一步呢？
![image](https://user-images.githubusercontent.com/31386411/181213014-1011605e-0573-4d0e-86a8-06ccd043b090.png)

此外，执行` python3 -c "import paddle;print(paddle.__version__)"`会有问题么？

[2022-07-27 09:37] strayberry commented on #44395
@zhaocaibei123 单机一直是可以的，只有多机的异步通信会有慢的机器上进程不结束的问题（多机cpu和多机gpu都有这个问题）

[2022-07-27 09:43] zhly0 commented on #44627
@hong19860320 您好，您提供的固然是在某些硬件下可用的方式，但有些带算力的mtk sdk只支持tflite格式，所以能够提供直转pb，然后再通过mtk自带的后量化工具转量化tflite的方式是最合适的

[2022-07-27 09:55] thisjiang commented on #44627
您好！经评估，飞浆没有paddle模型转其它框架的计划。请问您使用的只支持tflite格式的mtk sdk是哪种型号呢？我们可以联系mtk一起添加对该型号的支持。

[2022-07-27 09:57] yeliang2258 commented on #43105
Problems I see so far:
1. batch_norm_op.cc, line 111, lacks the judgment of whether MKDLNN is NCHW.
2. elementwise_op.h, When should_rotate is True, the whole logic is wrong.  dnnl::binary needs to meet the broadcasting conditions of numpy, and according to the current logic, it is wrong. For example, the model is NHWC, and the first input of elementwise_mul is 5 * 224 * 224 * 64, the second input

[2022-07-27 10:03] Tlntin opened #44668 "ubuntu 22.04(cuda-11.6+cudnn8.4)编译paddle"
## 为啥要自己编译
- 因为官方包不支持ubuntu22.04(系统自带gcc版本与glibc版本太高)
[code]
- 参考链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html
- 原理，将利用conda安装gcc/glibc，不改系统环境的gcc/glibc，防止系统出现莫名其妙的bug。

## 环境
- 自带python环境(其实没啥影响，只是展示一下)
[code]

- cmake环境(建议版本装高一下，貌似要3.19以上)
[code]

-  自带gcc环境(其实没啥影响，只是展示一下)
[code]
-  系统描述
[code]
- cuda环境
[code]

- cudnn环境
- 由于conda安装的gcc不会读取系统环境的c/c++

[2022-07-27 10:18] lelelelelez opened #44670 "test paddle-bot issue"
### 问题描述 Please describe your issue

test paddle-bot issue

[2022-07-27 10:20] #44670 closed, assigned to frankwhzhang

[2022-07-27 10:28] kafaichan commented on #44501
【队名】：Anya Waku Waku

【序号】：42

【论文】：Deep Position-wise Interaction Network For CTR Prediction

【状态】：报名

【repo链接】：https://github.com/kafaichan/PaddleDPIN

[2022-07-27 11:07] SigureMo opened #44671 "[Docs] 中文文档部分 API 文件在大小写不敏感的文件系统下的相互覆盖问题"
### 文档链接&描述 Document Links & Description

部分 API 是除大小写外完全一样的，目前已知的 API 主要有以下 6 个：

- paddle.vision.transforms.Normalize 和 paddle.vision.transforms.normalize
- paddle.vision.transforms.Pad 和 paddle.vision.transforms.pad
- paddle.vision.transforms.Resize 和 paddle.vision.transforms.resize
- paddle.vision.models.AlexNet 和 paddle.vision.transforms.alexnet
- paddle.vision.models.GoogLeNet 和 paddle.visio

[2022-07-27 11:17] Ligoml commented on #44671
@jeff41404 @Shaun2016 @jzhang533 是一个长期困扰开发者的问题，希望有办法解决~

[2022-07-27 11:30] shuzizihemu commented on #32454
就是有问题。我最近复现模型也遇到这个问题了。
加载一样的数据，6W张的256*256的图像，对两个模型设置相同的参数。
发现两个模型训练的速度相差很多，pytorch版本的要5个小时左右，而Paddle的竟然要13个小时！！！
这是我不能忍受的。
我注意到，paddle默认使用gpu加载数据的。而torch是用cpu，传入model时，才送入cpu。
于是我在paddle改写的工程开头就加入set_device("cpu")，将训练验证什么的全部注释掉。结果发现根本没有性能上的提升。
torch加载图像速度300-400it/s之间，而paddle是120-160it/s之间。。。

[2022-07-27 11:39] onecatcn commented on #44402
这个问题之前讨论过，RKNN只支持静态图，当时商量出来的替代方案是分档为几个级别的静态模型，比如动态输入范围在1到10，分为输入为3，6，10的三个静态模型。

[2022-07-27 11:54] Asthestarsfalll commented on #43938
【队名】：这个队长很懒
【序号】：66
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/PaddleScience/pull/142

[2022-07-27 12:38] shuzizihemu opened #44675 "使用paddle进行训练，很慢。初步推理为paddle与numpy转换效率低。"
##
最近把一个torch模型改为paddle，参加一下比赛。发现训练速度要比torch慢了很多。
两个模型的差别不大，主要就是把一些用torch的运算改为paddle的了。
##
训练的时候，发现，程序能跑。但是，相比于torch慢了很多（两者的所有超参数都是保持一致的，数据集什么的都一致）。
于是我认为可能是数据加载的时候有拉胯了。
这是torch运行速度以及占用
![image](https://user-images.githubusercontent.com/48058763/181244518-3380dae9-1096-41e2-9c5a-d231a1ffda28.png)
![image](https://user-images.githubusercontent.com/48058763/181248825-1ee3f1cf-4d2c-4360-8551-8088007e

[2022-07-27 13:40] sanghongrui commented on #44501
【队名】：JOKER

【序号】：46

【论文】：Informer: Beyond Efficient Transformer for Long Sequence Time-Series

【状态】：报名

【repo链接】：https://github.com/sanghongrui/PaddleChallenge2022-46.git

[2022-07-27 13:57] liuxtakeoff commented on #44501
【队名】：水里de石头

【序号】：24

【论文】：CutPaste: Self-Supervised Learning for Anomaly Detection and Localization

【状态】：报名&&提交

【repo链接】：https://github.com/liuxtakeoff/cutpaste_paddle

[2022-07-27 14:44] frankwhzhang commented on #44675
你好 已收到反馈

[2022-07-27 15:26] Patrick-Star125 commented on #43938
【队名】：NetPunk
【序号】：96
【状态】：报名＆提交作品
【链接】：https://github.com/openvinotoolkit/openvino/pull/12329

[2022-07-27 16:35] Chenfanqing commented on #44501
【队名】：徐彪三剑客

【序号】：33

【论文】：Voxel R-CNN: Towards High Performance Voxel-based 3D Object Detection

【状态】：报名&&提交

【repo链接】：https://github.com/Chenfanqing/Voxel_RCNN_reprod

[2022-07-28 01:02] kjf4096 commented on #44501
【队名】：jsdbzcm

【序号】：24

【论文】：CutPaste: Self-Supervised Learning for Anomaly Detection and Localization

【状态】：报名

【repo链接】：https://github.com/kjf4096/pytorch-cutpaste

[2022-07-28 01:20] zhly0 commented on #44627
@thisjiang 您好，您的评估结果，能理解，但远水解不了近渴，如果要使用paddle的话可能还是很麻烦，谢谢

[2022-07-28 01:20] #44627 closed, assigned to nobody

[2022-07-28 01:49] ChenjieXu commented on #44608
`WARNING: Logging before InitGoogleLogging() is written to STDERR
I0728 01:47:49.621431    44 dynamic_loader.cc:196] Set paddle lib path : /usr/local/lib/python3.6/dist-packages/paddle/libs
I0728 01:47:50.311025    44 init.cc:105] Before Parse: argc is 2, Init commandline: dummy --tryfromenv=fuse_parameter_memory_size,sync_nccl_allreduce,print_sub_graph_dir,gpu_memory_limit_mb,dist_threadpool_size

[2022-07-28 01:56] shuzizihemu opened #44682 "一些paddle的重要函数计算很慢，导致模型计算速度慢"
### 问题描述 Please describe your issue

![image](https://user-images.githubusercontent.com/48058763/181402413-b9f45cfc-3cd8-42d7-a41c-71c20b66d4bf.png)
飞桨，你好，最近在复现模型比较慢，发现了是在一些操作上计算得比较慢
paddle的Conv2D比torch的Conv2d慢了45倍。
![image](https://user-images.githubusercontent.com/48058763/181402775-ca03a358-0c81-48bc-af0c-3c2a76f928aa.png)
paddle的BatchNorm2D比torch的BatchNorm2d慢了10倍。

这导致我在训练程序时，使用paddle的模型比使用tor

[2022-07-28 02:11] ChenjieXu commented on #44608
用最新打包的镜像是这个输出，之前的镜像输出会在cuDNN Version: 8.1.后面killed，同样的version是能正确输出的

[2022-07-28 03:03] AlisonZhangyy commented on #44501
【队名】：铜鉴湖学习小分队

【序号】：23

【论文】：Self-Supervised-Predictive-Convolutional-Attentive-Block-for-Anomaly-Detection

【状态】：报名

【repo链接】：https://github.com/AlisonZhangyy/Self-Supervised-Predictive-Convolutional-Attentive-Block-for-Anomaly-Detection

[2022-07-28 04:00] Damon328 commented on #43938
【队名】：呆萌
【序号】：83
【状态】：报名
【链接】：https://github.com/Damon328/PaddleDTX

[2022-07-28 04:26] kztao opened #44687 "application/neural_search/recall/milvus/scripts/feature_extract.sh执行报错"
### bug描述 Describe the Bug

执行applications/neural_search/reacall/milvus/scripts/feature_extract.sh 报错

错误信息：
$ bash scripts/feature_extract.sh
e[1me[35m--- Running analysis [ir_graph_build_pass]e[0m
e[1me[35m--- Running analysis [ir_graph_clean_pass]e[0m
e[1me[35m--- Running analysis [ir_analysis_pass]e[0m
e[32m--- Running IR pass [simplify_with_basic_ops_pass]e[0m
e[32m--- Running IR pass [layer_

[2022-07-28 04:41] Tlntin opened #44688 "int64类型的matmul操作报错。"
### bug描述 Describe the Bug

### 代码
[code]
### 报错内容
[code]

### 临时解决方案
- 将数据改成float32
[code]

### 建议解决方案
- 重写一下matmul_v2 算子，增加int64类型计算，顺便检查一下其它类型是否有类似错误。

### 其他补充信息 Additional Supplementary Information

### 我的环境
- ubuntu 22.04
- cuda11.6, cudnn8.4.1
- paddle-gpu-2.3.1
- python 3.9.12

[2022-07-28 05:00] #44687 closed, assigned to nobody

[2022-07-28 05:53] ceci3 commented on #44688
您好，感谢反馈哈~

[2022-07-28 05:55] ceci3 commented on #44682
paddle 和torch的conv和bn底层都是调用的cudnn的接口，按理说如果都是gpu的话是不会出现这种情况的，可以跑1000次，去掉100次warmup的时间在对比下看看？

[2022-07-28 06:38] Tlntin opened #44691 "paddle.dist不支持int64"
### bug描述 Describe the Bug

### 报错信息
[code]
### 代码
[code]

### 临时解决方案
- 用float32计算
[code]

### 其他补充信息 Additional Supplementary Information

## 我的环境
ubuntu 22.04
cuda11.6, cudnn8.4.1
paddle-gpu-2.3.1
python 3.9.12

[2022-07-28 06:43] #42883 closed, assigned to nobody

[2022-07-28 06:44] #44629 closed, assigned to nobody

[2022-07-28 07:33] Chumumu commented on #44501
队名】：叽里呱啦队

【序号】：17

【论文】： Alpha Matting

【状态】：报名

【repo链接】：https://github.com/Chumumu/Alpha_Matting_rep

[2022-07-28 07:50] frankwhzhang commented on #44668
您好，感谢您的分享和共享，请问还有什么问题需要跟进嘛

[2022-07-28 07:55] Tlntin commented on #44668
补充一条，版本号可以在执行cmake命令前`export PADDLE_VERSION="2.3.1"`让程序正确识别。
没有了。

[2022-07-28 07:58] SHEN2BAIYI commented on #44501
【队名】：小七是个炼丹师

【序号】：2

【论文】：[Neural Architecture Design for GPU-Efficient Networks](https://arxiv.org/abs/2006.14090)

【状态】：报名

【repo链接】https://github.com/SHEN2BAIYI/GENets_Paddle

[2022-07-28 08:01] frankwhzhang commented on #44675
你好 这个会在2.4解决。2.4的动态图调度性能会大福提升

[2022-07-28 08:03] Stave604671 commented on #44519
并不是import的问题，我是在import paddlenlp的API的时候，对应的API主动调用的paddle，其他地方并没有import和paddle有关的东西，另外我也解压了几个docker版本对应的whl文件了，里面确实就没有core_noavx.py文件，那个import的判断逻辑是不是有问题

[2022-07-28 08:07] Xingyu-Romantic commented on #44501
【队名】：involute

【序号】：6

【论文】：[Anchor DETR: Query Design for Transformer-Based Object Detection](https://arxiv.org/abs/2109.07107)

【状态】：报名

【repo链接】：https://github.com/Xingyu-Romantic/AnchorDert_Paddle

[2022-07-28 08:08] hanfu opened #44694 "自建问答模型的数据集"
### 请提出你的问题 Please ask your question

你好 我试图在问答模型中使用自建数据集
数据集训练集为`(context, question, start, end)`, 测试集为`(context, question)`
我尝试了`paddle.io.Dataset`和`paddlenlp.datasets.MapDataset`, 都会在传入`paddle.io.DataLoader`的时候失败
可以提供一个案例么， 从`[(context,question,start,end)...]`列表对开始 步步建立数据集

我找到的教程要么是内置dataset 要么就是其他任务的，主要是视觉任务 我水平有限参考不出来
感谢

[2022-07-28 08:09] AnnaTrainingG commented on #44519
你好 paddlenlp模型每天都用回归测试，并未接收到相关bug，可以尝试安装最新的Paddle
<img width="593" alt="image" src="https://user-images.githubusercontent.com/51102941/181454882-3b231583-e192-43d3-b995-bcf32967e3a2.png">
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

另外在之前的issue中https://github.com/PaddlePaddle/Paddle/issues/38377 是有模型库与paddle版本不一致的问题，请检查一下你的paddlenl

[2022-07-28 08:35] zyfncg commented on #44644
你好，在即将发布的2.4新版本中暂不会对现有的C++ API进行重大更新。
相关的需求和规划我们正在整理中，如果您这边有具体的需求欢迎在issue下交流~

[2022-07-28 08:50] #43525 closed, assigned to jakpiase

[2022-07-28 08:51] Stave604671 commented on #44519
我安装的就是最新版，报错的就是这一行,python3.7和3.8都不行，paddle2.3.1  paddlenlp2.3.4
![image](https://user-images.githubusercontent.com/59908449/181463437-8f821d18-2c65-44d8-b684-4a434de216f5.png)

[2022-07-28 09:27] wuxinwang1997 commented on #44501
【队名】：27Wilson

【序号】：56

【论文】：[B-pinns: Bayesian physics-informed neural networks for forward and inverse pde problems](https://arxiv.org/pdf/2003.06097.pdf)

【状态】：报名

【repo链接】：https://github.com/wuxinwang1997/Paddle-B-INNs

[2022-07-28 10:51] yucaifuyoyo opened #44707 "安装官方文档安装报错 python -m pip install paddlepaddle-gpu==2.3.1.post111 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html"
### 问题描述 Issue Description

![KMQ_Q5A4TTZ51FEP`UMEVGY](https://user-images.githubusercontent.com/34351511/181488187-324c6510-8c89-41b6-8af7-4cb148c25552.png)
![ZANQU5X S3YRB{%0T@SYEV](https://user-images.githubusercontent.com/34351511/181488217-bce90bec-2197-454e-8bbc-62701824e9e9.png)

### 版本&环境信息 Version & Environment Information

C:\Users\cf.yu>python -m pip install paddlepaddle-gpu==2.3.1.post

[2022-07-28 11:49] AlbusWei opened #44709 "关于DPIN数据集以及任务的问题"
DPIN（https://arxiv.org/abs/2106.05482 ）并没有开源数据集和代码，在比赛任务页面也并没有提供相关资料，而任务要求为“按照论文数据，预计以DIN模型作为对比，AUC获得性能提升复现后合入PaddleRec套件，并添加TIPC”，请问在哪里获取相关数据集？或者使用什么公共数据集（因为引入了位置信息，一般的公共数据集并不适用这个任务）。

[2022-07-28 11:56] yeliang2258 commented on #44567
develop版本Paddle已经解决该问题

[2022-07-28 11:58] #44567 closed, assigned to jczaja, yaomichael, yeliang2258

[2022-07-28 12:02] WaylonZhangW commented on #44501
【队名】：NaN

【序号】：8

【论文】：Learning to Prompt for Open-Vocabulary Object Detection with Vision-Language Model

【状态】：报名

【repo链接】：https://github.com/WaylonZhangW/paddle-detPro

[2022-07-28 12:17] #33725 closed, assigned to juncaipeng

[2022-07-28 12:17] #34679 closed, assigned to juncaipeng

[2022-07-28 13:39] Seele-Vollerei32 opened #44711 "archlinux下安装出错"
### 问题描述 Issue Description

使用ABS构建CPU型paddle时报错
[code]

[2022-07-28 14:00] AzureUni opened #44712 ""Undefined symbols for architecture arm64" on Apple M1 Max when compiling Inference library"
### 问题描述 Issue Description

参考文档/This doc was referred：https://paddle-inference.readthedocs.io/en/latest/guides/install/compile/source_compile_under_MacOS.html

制作Makefile命令/Command to make Makefile：cmake .. -DPY_VERSION=3.9 -DPYTHON_INCLUDE_DIR=${PYTHON_INCLUDE_DIRS} \
-DPYTHON_LIBRARY=${PYTHON_LIBRARY} -DWITH_GPU=OFF -DWITH_TESTING=OFF \
-DWITH_AVX=OFF -DWITH_ARM=ON -DCMAKE_BUILD_TYPE=Release **

[2022-07-28 18:23] Flora-0707 opened #44713 "ERROR: paddlepaddle-2.3.1-cp310-cp310-manylinux1_x86_64.whl is not a supported wheel on this platform."
Hi, I tried to use command line "python -m pip install /home/florawang/Downloads/paddlepaddle-2.3.1-cp310-cp310-manylinux1_x86_64.whl" to install on raspberry pi, it showed this error, my raspberry pi is aarch64. How can I solve this issue?

[2022-07-29 01:35] HanshengGUO commented on #44501
【队名】：hsguo

【序号】: 23

【论文】： [Self-Supervised Predictive Convolutional Attentive Block for Anomaly Detection](https://arxiv.org/pdf/2111.09099.pdf)

【状态】：报名

【repo链接】：https://github.com/HanshengGUO/PaddleDet

[2022-07-29 01:42] Tlntin commented on #44713
x86 and raspberry pi's arm64 are not the same architecture.
you may need to compile it for yourself.

how to compile? you can see like this.[link](https://github.com/PaddlePaddle/Paddle/issues/44668)

[2022-07-29 01:56] thsno02 commented on #44707
@yucaifuyoyo 我遇到这个问题后局部解决了。

OS：WSL 下的 Ubuntu 20.04
python：python 3.9
包管理：Anaconda

在非 root 用户下，base 环境里的安装时不会报错的；在自定义环境，比如 ocr 中安装，会持续报该错误。
在 root 用户下，无论 base 还是自定义的环境，都不会报错。

[2022-07-29 02:01] veyron95 commented on #43417
@skywalk163 目前 develop 分支已经修复该问题，可以下载安装最新的 develop(Nightly build) 版本进行使用https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2022-07-29 02:08] zbyandmoon commented on #44501
【队名】：zbyandmoon

【序号】:   53

【论文】：[DeepCFD: Efficient Steady-State Laminar Flow Approximation with Deep Convolutional Neural Networks](https://arxiv.org/abs/2004.08826)

【状态】：报名

【repo链接】：https://github.com/zbyandmoon/DeepCFD_with_PaddlePaddle

[2022-07-29 02:12] liuzhonglincc commented on #44501
【队名】：lemon

【序号】: 5

【论文】：[DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution](https://arxiv.org/pdf/2006.02334.pdf)

【状态】：报名

【repo链接】：https://github.com/zhonglinliu123/DetectoRS_lemon

[2022-07-29 02:17] 133dzs commented on #44402
请问这个**“动态输入范围在1到10，分为输入为3，6，10的三个静态模型”**
是指batch还是shape呢？rknn对多batch的支持不是很好，实际模型转换时可能需要batch=1。而且由于不支持动态shape，目前是通过把所有输入通过补0的方式调整到一个指定的较大shape，实际推理过程中会出现原本（1，3，32，60）的输入被补到（1，3，32，660）的情况，性能上的损失较明显

[2022-07-29 05:46] Victory8858 opened #44721 "Paddle2.3.1 CUDA11.3/11.6 GPU:RTX3070索引有误"
### bug描述 Describe the Bug

[code]
![image](https://user-images.githubusercontent.com/47514961/181691065-85c07540-722e-4cfe-a192-b57ec1f4f402.png)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-07-29 06:45] Tlntin commented on #44721
试了一下，windows系统和楼主一样。
ubuntu 22.04输出正常。
![image](https://user-images.githubusercontent.com/28218658/181699497-3540b06c-f6d8-4eb0-9f3d-62f0901ea599.png)
![image](https://user-images.githubusercontent.com/28218658/181699532-3ae21967-9245-42b6-ae0e-6761fab0a944.png)

[2022-07-29 06:58] Victory8858 commented on #44721
输出正常吗，明显有错误，不应该是【8，9】吗

[2022-07-29 07:01] Tlntin commented on #44721
windows不正常，ubuntu正常的。同一个版本2.3.1

[2022-07-29 07:02] Victory8858 commented on #44721
OK，get

[2022-07-29 07:08] yaomichael commented on #43232
@lidanqing-intel I think we can close this ticket. Can you do it?
@HongyuLi2018 @jiangjiajun @chenwhql

[2022-07-29 07:16] yaomichael commented on #33168
@jakpiase can you close this ticket?
@jiangjiajun @lidanqing-intel

[2022-07-29 07:23] onecatcn commented on #44402
指shape

[2022-07-29 07:25] lidanqing-vv commented on #43232
Hi, yes I can close this issue

[2022-07-29 07:25] #43232 closed, assigned to jczaja, HongyuLi2018, lidanqing-vv

[2022-07-29 07:41] Alana123Liu commented on #43480
第一次经过init的时候是都设置好的min_dimension, max_dimension, 但是第二次推理的时候，应当是没有把tensorrt优化过的参数模型保存，所以第二次没有引用到优化过的模型，我这边尝试利用with_static保存模型，但是保存tensorrt模型的默认路径是model/model.pdmodel，而不是一个文件夹地址，这样是无法在这个路径下添加文件的。麻烦 @FlyingQianMM 看看我这边是否找到的问题是否正确？
报错是：
PreconditionNotMetError: Can not create optimize cache directory: C://Users//HID-LIU//Documents//model_all//1_paddle_det_modle//packages//inference_model//model.pdmodel

[2022-07-29 08:05] luotao1 commented on #42681
@zlsh80826 How about the check result, could we close this issue?

[2022-07-29 08:34] TuoniTuoni commented on #43938
【队名】：西西弗童话的团队
【序号】：32
【状态】：报名
【链接】：https://github.com/TuoniTuoni/Paddle

[2022-07-29 08:48] JoanSF commented on #44501
【队名】：没感情的菜鸡

【序号】：32

【论文】：[PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds](https://paperswithcode.com/paper/paconv-position-adaptive-convolution-with)

【状态】：报名

【repo链接】：https://github.com/JoanSF/PAConv

[2022-07-29 09:33] SoulSubmerge opened #44730 "在训练PaddleOCR recognition代码的时候启动失败！"
### 请提出你的问题 Please ask your question

PS D:\code\Deep_Learning\PaddlePaddle\RET_OCR> & E:/Apps/development_tool/python3.8/python.exe d:/code/Deep_Learning/PaddlePaddle/RET_OCR/tools/rec_train.py
./configs/ch_PP-OCRv3_rec_distillation.yml
[2022/07/29 17:29:30] ppocr INFO: Initialize indexs of datasets:['F:\\AI_Dataset\\OCR\\HW_Chinese\\HW_Chinese\\rec_train_label.txt']
[2022/07/29 17:29:30] ppocr I

[2022-07-29 09:33] sfraczek commented on #44621
I have the same issue with newest PaddlePaddle except that is is not core_noavx but core_avx. When I used older version (from 13 July) it works fine.
Running
`cat /proc/cpuinfo | grep -i avx  `
i have avx avx2 avx512f avx512dq avx512cd avx512bw avx512vl

I'm running some infer.py from PaddleNLP

[2022-07-29 09:48] ceci3 commented on #44694
https://github.com/PaddlePaddle/PaddleNLP/issues/2913
可以参考这个哈~

[2022-07-29 09:49] bertrandpa commented on #44707
Hi @yucaifuyoyo

I ran into the same error and it seems to be related to pip update 22.2 and especially this commit regarding PEP 691 implementation :
https://github.com/pypa/pip/commit/6f167b55a9293b423244318f1ae77fe576f2ee43#diff-6a334a312dbfe5998b0e0826594f38bc2cc4fc69e7d285580fd323b3a9d69e1cR143

To fix this while waiting for pip to change this you can downgrade pip with : python -m pip instal

[2022-07-29 09:49] Tlntin commented on #44519
楼主这个bug感觉和我之前的差不多。
应该是debian11 glibc或者gcc版本太高导致的，可能需要自行编译一下paddle.
编译链接:https://github.com/PaddlePaddle/Paddle/issues/44668

[2022-07-29 09:49] thisjiang commented on #44621
@sfraczek PaddlePaddle support avx(default) and noavx whl. If your cpu support avx, you can pip install paddlepaddle by default, otherwise you should pip install with `-f https://www.paddlepaddle.org.cn/whl/linux/mkl/noavx/stable.html --no-index --no-deps
`. Ref to https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/linux-pip.html. Thanks.

[2022-07-29 10:00] LZH-0225 opened #44732 "paddle 高级api 如何冻结某一层使其不参与训练"
[code]
以上面代码为例，比如我只想冻结[784,200]的那个linear层，其他层正常训练，我应该怎么做呢？

_Originally posted by @lizhaohuigit1 in https://github.com/PaddlePaddle/PaddleSpeech/discussions/2205_

[2022-07-29 10:12] sfraczek commented on #44621
As a contributor I'm trying to build from source. On Ubuntu 20

[2022-07-29 10:53] ssyuyi commented on #44501
【队名】：破空舰

【序号】：24

【论文】：[CutPaste: Self-Supervised Learning for Anomaly Detection and Localization](https://arxiv.org/pdf/2104.04015v1.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/wangmaos/paddle_mvtrec01

[2022-07-29 11:02] TuoniTuoni commented on #43938
【队名】：西西弗童话的团队
【序号】：33
【状态】：报名
【链接】：https://github.com/TuoniTuoni/Paddle

[2022-07-29 11:53] thisjiang commented on #44621
@sfraczek As [Compile Option Table](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/Tables.html#Compile), you can using `WITH_AVX=ON` flag in cmake command to build paddle whl with avx . And you can find all cmake flag in [configure.cmake](https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/configure.cmake).

[2022-07-29 12:08] Seele-Vollerei32 commented on #44711
在此[issue](https://github.com/facebookincubator/gloo/issues/332)中发现类似情况和可能解决方法

[2022-07-29 12:14] zrr1999 commented on #43938
【队名】：错误代码114

【序号】：68

【状态】：报名

【链接】：https://github.com/zrr1999/CINN

[2022-07-29 12:18] xiaohemaikoo commented on #43938
【队名】：天行浪人小河马
【序号】：47
【状态】：报名
【链接】：https://github.com/xiaohemaikoo/Paddle

[2022-07-29 12:19] xiaohemaikoo commented on #43938
【队名】：天行浪人小河马
【序号】：48
【状态】：报名
【链接】：https://github.com/xiaohemaikoo/Paddle

[2022-07-29 12:19] xiaohemaikoo commented on #43938
【队名】：天行浪人小河马
【序号】：49
【状态】：报名
【链接】：https://github.com/xiaohemaikoo/Paddle

[2022-07-29 13:47] zrr1999 commented on #43938
【队名】：错误代码114

【序号】：68

【状态】：提交提案

【链接】：https://github.com/PaddlePaddle/community/pull/192

[2022-07-29 14:40] yaomichael commented on #43817
@jakpiase surprisingly, @heliqi found with another input dataset, even with #43803, performance is same as native.

[2022-07-30 02:10] S-HuaBomb commented on #43938
【队名】：绝绝子暴风进场

【序号】：16

【状态】：提交作品

【链接】：https://github.com/PaddlePaddle/Paddle/pull/44741

[2022-07-30 02:36] yuwoyizhan commented on #44644
@zyfncg 我觉得,对于paddlepaddle,强化学习parl,图神经网络来说,C++训练和推理是非常有必要的,因为不是每个人都是python大神,每个人都精通python语法和python库的语法.有不少人擅长的是C++.对于这3个来说,每个项目的训练和推理,代码都是大不相同,对于一个非python大神来说,指望他用python写一个训练或者推理,太强人所难了.所以支持C++语言是非常有必要的.
对于clas,det,seg,ocr等框架来说,无论是训练还是推理,python代码都是大同小异,这时我就没看出来C++的用处了.飞桨有文档说了,C++推理比python推理快,这点很重要.训练是否也更快呢?当然了,对于这些框架来说,C++有时也是很有用的,比如复现论文时,代码确实大不相同.
关于C++,我最大的需求,就是在VS2022企业版的最新版本中,可以使用C++最新版本C++la

[2022-07-30 03:00] yuwoyizhan commented on #44644
据我了解,libtorch的很多用户,使用C++编程.我想知道,如果飞桨支持C++编程的话,libtorch转换为飞桨模型是否更简单呢?
学术界论文超过80%的论文使用pytorch或者libtorch,飞桨有没有想过哪里不如他呢?飞桨除了有中文文档这点百分比比libtorch强之外,还有什么方面肯定比pytorch强的吗?
我认为,飞桨总体上做的非常好,非常非常多的功能都可以找到.目前来说,我觉得有几点飞桨还没有的.
1,除了推理部分,其他部分完全不能用C++.请问强化学习parl,图神经网络这两个套件的推理部分能用C++吗?
2.我认为,对于任何跟深度学习或者机器学习相关的项目,飞桨都应该至少提供一个解决方案,不要求达到学术界或者工业界SOTA的地步,至少达到很牛逼,一般人编程无法超过的地步.这就好比C++的string类型,随便在知乎查一下,就可以看到一堆人不满意string,说出了

[2022-07-30 03:15] yuwoyizhan commented on #44644
还有一点建议,现在市面上有非常多的框架,无论是国内还是国外,框架是越来越多,功能和模块也是越来越多,更关键的是,多数代码是开源的.我认为,飞桨应该找两个高手,去研究别人的框架和功能,把那些别人的好功能,无论是算法还是模型,只要是飞桨没有的,就搬到飞桨来.这就是开源的最终奥义.飞桨一个框架学习起来就非常费力了,你不能要求用户精通所有框架的所有模型和代码.应该想尽一切办法,把飞桨客户都留在飞桨里.
除了深度学习框架,还有各种各样的python库.python库应该有不少是数据相关的,比如我上面说的归纳总结数据的功能.完全可以搬过来,哈哈哈哈.
我还是那句话,飞桨应该对于每个功能都提供一个模型.不能要求达到SOTA,至少超过多数人手写的模型,满足多数情况,就像C++的string类型一样,不会最好,但可以满足了.
@zyfncg @Ligoml @ZzSean @jzhang533 @thisj

[2022-07-30 03:59] yuwoyizhan opened #44746 "能否推出pytorch的API到飞桨的API的转换函数"
### 需求描述 Feature Description

学术界超过80%的论文使用pytorch,也有非常非常多的开源项目使用pytorch,飞桨的太少了.我得到一个牛逼的pytorch模型,我也不知道如何转换成飞桨模型.目前希望飞桨可以推出一个C++函数,这个函数的功能就是,我传入pytorch的某个API的名称,C++函数把pytorch的API的名称转换为飞桨的API.
我觉得只要飞桨安排两个熟悉pytorch和飞桨的API的高手,这件事就可以做好了吧.
有了这个API转换函数,我应该可以把很多pytorch项目转换成飞桨项目了吧.哈哈哈哈,至少有希望.
有一个issue说,目前飞桨在做python和C++的接口统一,我是否可以理解为,把python和C++的函数名称变得一样,形参个数和类型也变得一样,返回类型也变得一样?

### 替代实现 Alternatives

_No

[2022-07-30 05:07] Patrick-Star125 commented on #43938
【队名】：NetPunk
【序号】：99
【状态】：报名
【链接】：https://github.com/Patrick-Star125/Paddle

[2022-07-30 07:52] TerenceZMZ commented on #44501
【队名】：Zaritsky

【序号】：1

【论文】：Knowledge Distillation as Efficient Pre-training: Faster Convergence,Higher Data-efficiency, and Better Transferability

【状态】：报名

【repo链接】：https://github.com/TerenceZMZ/KD_repro.git

[2022-07-30 09:18] shizetao10 commented on #44501
【队名】：sdwacxd

【序号】：41

【论文】：Learning Enriched Features for Fast Image Restoration and Enhancement

【状态】：报名

【repo链接】：https://github.com/shizetao10/MIRnet-paddle

[2022-07-30 10:04] Ramsolz666 commented on #44501
【队名】：没有队名

【序号】：22

【论文】：[Text Spotting Transformer](https://openaccess.thecvf.com/content/CVPR2022/papers/Zhang_Text_Spotting_Transformers_CVPR_2022_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/Ramsolz666/paddle_paper22

[2022-07-30 11:39] yangguohao commented on #43938
【队名】：约克逊是个郡

【序号】：11

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/171

[2022-07-30 14:03] skywalk163 commented on #44501
【队名】：极快软件

【序号】：4

【论文】：MicroNet: Improving Image Recognition With Extremely Low FLOPs

【状态】：报名

【repo链接】：[MicroNet_Paddle](https://github.com/skywalk163/MicroNet_Paddle)

[2022-07-30 15:17] SigureMo commented on #44732
[code]

[2022-07-30 23:04] Caoxuheng opened #44750 "报名"
### 问题描述 Please describe your issue

【队名】：Fusion_King

【序号】：54

【论文】：Unsupervised deep learning for super-resolution reconstruction of turbulence

【状态】：报名

【repo链接】：https://github.com/Caoxuheng/Unsupervised-deep-learning-for-super-resolution-reconstruction-of-turbulence

[2022-07-31 01:03] bb67ao opened #44751 "KaimingUniform在torch 和 paddle中的不同"
### 请提出你的问题 Please ask your question

torch.LInear默认初始化方式是KaimingUniform，我同样用KaimingUniform初始化了paddle.Linear，发现结果有些细微的差异，不知道是我随机的结果还是底层实现有什么不同还是说我测试代码写的有问题，并想知道如何修改paddle代码，使的他们初始化方式相同

[code]

[code]
可以看到，初始化后结果，paddle要比torch的取值范围更广一些

[2022-07-31 01:51] bb67ao commented on #44751
torch1.8,paddle2.3

[2022-07-31 02:53] wangzhen38 commented on #44709
您好，DPIN的验收标准暂时还没确定，我们也正在筛选其他推荐赛题，预计近期会放出来～

[2022-07-31 04:12] jiamfeng commented on #44501
【队名】：猫腻

【序号】：6

【论文】：[Anchor DETR: Query Design for Transformer-Based Object Detection]

【状态】：报名

【repo链接】：https://github.com/jiamfeng/DETR.git

[2022-07-31 07:22] zhangting2020 commented on #44751
两个框架在权重初始化方面存在差异，torch的初始化在CPU端，paddle是在GPU段，CPU和GPU的随机数生成器并不会产生一致的结果；另一方面2个框架在随机数生成的实现上也有差异，即使使用相同设备和随机种子，也不能保障产生完全一样的结果。

[2022-07-31 08:06] horacehht commented on #44501
【队名】：Medical Seger

【序号】：14

【论文】：[nnFormer: Interleaved Transformer for Volumetric Segmentation](https://arxiv.org/pdf/2109.03201)

【状态】：报名

【repo链接】：https://github.com/horacehht/nnFormer_paddle

[2022-07-31 10:08] saisai98 commented on #43938
【队名】：冲冲冲

【序号】：82

【状态】：报名

【链接】：https://github.com/saisai98/Paddle-Lite-Demo

[2022-07-31 15:09] zhangyuqin1998 commented on #43938
【队名】：错误代码114

【序号】：69

【状态】：报名

【链接】：https://github.com/zhangyuqin1998/Paddle

[2022-07-31 15:10] zhangyuqin1998 commented on #43938
【队名】：Core Dump

【序号】：70

【状态】：报名

【链接】：https://github.com/zhangyuqin1998/CINN

[2022-07-31 21:03] SigureMo commented on #43938
【队名】：Cattidea

【序号】：74

【状态】：报名

【链接】：https://github.com/cattidea/CINN

[2022-08-01 01:38] FrostML commented on #44746
可以参考下官网文档 [PyTorch 1.8 与 Paddle 2.0 API映射表](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/model_convert/pytorch_api_mapping_cn.html#pytorch-1-8-paddle-2-0-api)

[2022-08-01 02:55] heliqi commented on #43817
The results of the previous tests:
<img width="681" alt="image" src="https://user-images.githubusercontent.com/34152981/182062916-6e708ac6-3464-4ad7-bb44-b6d61d1753f1.png">

another input dataset(smaller):

Native Paddle | OneDNN after 43803 PR
-- | --
33ms | 33ms

[2022-08-01 03:09] Leiyi-HU commented on #44501
【队名】：啊对对对队

【序号】：20

【论文】：[A Transformer-Based Siamese Network for Change Detection](https://arxiv.org/pdf/2201.01293.pdf)

【状态】：提交

【repo链接】：https://github.com/HULEIYI/ChangeFormer-pd

[2022-08-01 03:20] gglin001 opened #44760 "debug 时会卡一下报 "no module named cv2""
### bug描述 Describe the Bug

## 复现代码

demo.py
[code]

## 如何复现

debug 上面的代码

## 复现结果

<img width="1623" alt="Screen Shot 2022-08-01 at 11 18 56 AM" src="https://user-images.githubusercontent.com/13805221/182065479-36a321fe-713c-4932-9265-8547291710f6.png">

## 原因

问题来自于这里
https://github.com/PaddlePaddle/Paddle/blob/3a3017801b7dfc017d5e70ae4db876db294f8a17/python/paddle/dataset/image.py#L48

### 其他补充

[2022-08-01 03:22] saisai98 commented on #43938
【队名】：冲冲冲

【序号】：79

【状态】：报名

【链接】：https://github.com/saisai98/Paddle-Lite

[2022-08-01 05:25] saisai98 commented on #43938
【队名】：冲冲冲

【序号】：81

【状态】：报名

【链接】：https://github.com/saisai98/Paddle-Lite

[2022-08-01 05:44] lidanqing-vv commented on #37005
@yaomichael Let's sync this table after we talked with Poland team and Baidu.

模型简称 | FP32 | BF16 | INT8 | Validation   reproduction sent? | Baidu Verified?
-- | -- | -- | -- | -- | --
PPLCNet_x1_0 | Y | Y |   | Y | N
MobileNetV3_large_x1_0 | Y |   | Y | Y | N
SwinTransformer_tiny_patch4_window7_224 |   |   |   |   |  
ch_PP-OCRv2_det | Y |   |   |   |  
ch_PP-OCRv2_rec | Y |   |   |   |  
ppyolov

[2022-08-01 06:38] zhangting2020 commented on #44750
请在黑客松第3期任务总览的issue下报名，https://github.com/PaddlePaddle/Paddle/issues/43938

[2022-08-01 06:41] simonsLiang commented on #44501
【队名】：高级伴读书童

【序号】：25

【论文】：Anomaly Detection via Reverse Distillation from One-Class Embedding

【状态】：提交2

【repo链接】：https://github.com/simonsLiang/RD4AD_paddle

[2022-08-01 06:48] moonlightian opened #44771 "使用paddleslime的Inference 模型复训"
### 请提出你的问题 Please ask your question

请问，paddleslim下的recover_inference_program貌似提供了将推理模型转为训练模型的途径，请问能否给出一个demo来演示一下使用方法？

[2022-08-01 06:55] Fleming-Sung commented on #44501
【队名】：Fleming Sung
【序号】：35
【论文】：[VectorNet: Encoding HD Maps and Agent Dynamics from Vectorized Representation](https://paperswithcode.com/paper/vectornet-encoding-hd-maps-and-agent-dynamics)
【状态】：报名
【repo链接】：https://github.com/MeaningSung/VectorNet_paddle

[2022-08-01 07:39] zhangcarp commented on #44501
【队名】：是小林吧
【序号】：5
【论文】：[DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution]
【状态】：报名
【repo链接】：https://github.com/zhangcarp/paddle-lun

[2022-08-01 07:47] 22xiaobao commented on #44501
【队名】：小鲍
【序号】：8
【论文】：Learning to Prompt for Open-Vocabulary Object Detection with Vision-Language Model
【状态】：报名
【repo链接】：https://github.com/22xiaobao/Paper-recurrence

[2022-08-01 08:02] yeyupiaoling opened #44776 "LSTM使用GPU推理没错，使用CPU推理报维度错误"
### bug描述 Describe the Bug

 - PaddlePaddle 2.3.1
 - Inference 推理
 - Windows 10 or Ubuntn 18.04
 - CUDA 10.2

使用GPU推理是正常的，但是使用CPU推理就报下次错误了。

[code]

代码片段
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-01 08:11] pineking opened #44777 "paddle 2.3.0 官方镜像在 A40 上多卡运行会卡住"
### 请提出你的问题 Please ask your question

官方 2.3.0 gpu 镜像：paddlepaddle/paddle/2.3.1-gpu-cuda11.2-cudnn8
https://hub.docker.com/layers/paddle/paddlepaddle/paddle/2.3.1-gpu-cuda11.2-cudnn8/images/sha256-4bef1dfb215daf7153fb8cd0ce14121136ace3130dfca392b5c252c049d8b276?context=explore

单卡正常，两卡就有问题，卡住不动

![image](https://user-images.githubusercontent.com/72760/182103411-df86baaa-ea7a-428d-b3e5-4be6e394ef52

[2022-08-01 08:39] danleifeng commented on #44760
请问使用的是paddle 什么版本呢？在什么环境下使用呢？

[2022-08-01 08:45] danleifeng commented on #44777
是截图最后卡住了么？ （调用 paddle.utils.run_check() ) ?
有预设环境变量么?

[2022-08-01 08:52] gglin001 commented on #44760
debug 分支, 手动编译的版本

[2022-08-01 09:04] wanghaoshuang commented on #44771
可以参考这里：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression

[2022-08-01 09:27] danleifeng commented on #44760
debug分支 是基于那个tag 或者branch呢？

[2022-08-01 09:28] zh794390558 commented on #44776
`dim_a.width_:1024 != dim_b.height_:2048.`

打印下模型结构吧，估计是某个参数错误，导致lstm后是concat还是add之类的问题。

[2022-08-01 09:30] yeyupiaoling commented on #44776
[code]

[2022-08-01 09:30] danleifeng commented on #44760
代码里 按理说对cv2做了一次判断，若返回值不为0，就不会import
<img width="783" alt="image" src="https://user-images.githubusercontent.com/52735331/182118649-c8cd0540-9c32-4dab-9dd7-34547e814b71.png">

[2022-08-01 09:31] yeyupiaoling commented on #44776
[code]

[2022-08-01 09:31] zh794390558 commented on #44776
模型是GRU的。关注下代码lstm/gru后面的调用是否符合预期。可能是配置文件问题，或者模型不匹配。

[2022-08-01 09:31] yeyupiaoling commented on #44776
模型代码在：https://github.com/yeyupiaoling/PPASR/tree/master/ppasr/model_utils/deepspeech2

[2022-08-01 09:32] yeyupiaoling commented on #44776
刚才打印是错的，重新打印了，用的是LSTM

[2022-08-01 09:34] witchol123 commented on #44501
【队名】：羊咕咕不咕
【序号】：3
【论文】：TResNet: High Performance GPU-Dedicated Architecture
【状态】：报名
【repo链接】：https://github.com/witchol123/Paddle

[2022-08-01 09:38] gglin001 commented on #44760
用 2.3.1 relasae 的 wheel 似乎没有这个问题, ~请问如何安装 nightly 的 wheel?~

见:
https://www.paddlepaddle.org.cn/

[2022-08-01 09:39] gglin001 commented on #44760
可能和构建选项有关,  应该不是通常的问题,  会关闭这个 issue

[2022-08-01 09:39] dingjiaweiww commented on #44644
你好，飞桨强化学习parl,图神经网络这两个套件的推理部分都能用C++

[2022-08-01 09:40] pineking commented on #44777
对，截图最后卡住了，调用 paddle.utils.run_check() 一直卡住

[2022-08-01 09:43] thisjiang commented on #44608
@ChenjieXu  这几天调研了一下，不知道灵雀云是不是用的自己维护的GPUManager(https://github.com/tkestack/gpu-manager ，从commit上看这项目很久没维护了)来管理GPU资源的：

这样看，小于100时用的是碎片化调度，这种情况下可能触发了CUDA的某个bug。 可以单独写个cuda kernel看看能不能跑，如果不能，那应该就是GPUManager的问题。

BTW：Nvidia最近推出了官方维护的[vGPU](https://www.nvidia.com/en-us/data-center/virtual-solutions/)和[MIG](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/)技术，可惜的是，当前只支持CUDA11 + Ampere及以上架构的GPU。

[2022-08-01 09:45] #44760 closed, assigned to danleifeng

[2022-08-01 09:45] pineking commented on #44777
问题解决：export NCCL_P2P_DISABLE =1
https://github.com/NVIDIA/nccl/issues/631

[2022-08-01 09:45] #44777 closed, assigned to nobody

[2022-08-01 11:59] SigureMo commented on #44069
@zhhsplendid

请问任务 74（为神经网络编译器 CINN 增加 repeat 算子）要实现的功能是与 [numpy.tile](https://numpy.org/doc/stable/reference/generated/numpy.tile.html)（整个 Tensor 进行重复） 类似还是与 [numpy.repeat](https://numpy.org/doc/stable/reference/generated/numpy.repeat.html)（对元素进行重复）类似呢？根据描述（把一个 Tensor 沿某些维度重复几遍）感觉与 numpy.tile 类似，而根据调研，[TVM](https://github.com/apache/tvm/blob/12502cc835157ed93e2ccba855a2b3cdfd6d1331/include/tvm/to

[2022-08-01 14:34] cxl-ustb commented on #44501
【队名】：cxl

【序号】：31

【论文】：PointRCNN: 3D Object Proposal Generation and Detection from Point Cloud

【状态】：报名

【repo链接】：https://github.com/cxl-ustb/PointRCNN.git

[2022-08-01 14:35] cxl-ustb commented on #44501
【队名】：cxl

【序号】：31

【论文】：PointRCNN: 3D Object Proposal Generation and Detection from Point Cloud

【状态】：报名

【repo链接】：https://github.com/cxl-ustb/PointRCNN.git

[2022-08-01 15:12] cxl-ustb commented on #44501
【队名】：cxl

【序号】：31

【论文】：PointRCNN: 3D Object Proposal Generation and Detection from Point Cloud

【状态】：报名

【repo链接】：https://github.com/cxl-ustb/Point_RCNN.git

[2022-08-01 15:15] cxl-ustb commented on #44501
【队名】：cxl

【序号】：31

【论文】：PointRCNN: 3D Object Proposal Generation and Detection from Point Cloud

【状态】：报名

【repo链接】：https://github.com/cxl-ustb/Point_RCNN

[2022-08-01 16:56] zhangyuqin1998 commented on #43938
【队名】：Core Dump

【序号】：70

【状态】：提交提案

【PR链接】：https://github.com/PaddlePaddle/community/pull/194

[2022-08-02 00:26] taixiurong commented on #43938
【队名】：一杯凉开水
【序号】：95
【状态】：报名
【链接】：https://github.com/taixiurong/openvino

[2022-08-02 02:31] lwbmowgli commented on #44682
我又想了想，第一轮的时间是很慢的

[2022-08-02 03:55] liuxtakeoff commented on #44501
【队名】：水里de石头

【序号】：23

【论文】：Self-Supervised-Predictive-Convolutional-Attentive-Block-for-Anomaly-Detection

【状态】：报名&&提交

【repo链接】：https://github.com/liuxtakeoff/sspcab_paddle

[2022-08-02 05:47] LZH-0225 commented on #44732
好的，谢谢

[2022-08-02 05:47] #44732 closed, assigned to nobody

[2022-08-02 06:27] Lieberk commented on #44501
【队名】：超级码立

【序号】：23

【论文】：Self-Supervised Predictive Convolutional Attentive Block for Anomaly Detection

【状态】：报名&提交

【repo链接】：https://github.com/Lieberk/Paddle-SSPCAB

[2022-08-02 06:27] Lieberk commented on #44501
【队名】：超级码立

【序号】：23

【论文】：Self-Supervised Predictive Convolutional Attentive Block for Anomaly Detection

【状态】：报名&提交

【repo链接】：https://github.com/Lieberk/Paddle-SSPCAB

[2022-08-02 08:08] Asthestarsfalll commented on #43938
【队名】：这个队长很懒
【序号】：95
【状态】：提交作品
【链接】：https://github.com/openvinotoolkit/openvino/pull/12394

[2022-08-02 08:08] Asthestarsfalll commented on #43938
【队名】：这个队长很懒
【序号】：103
【状态】：提交作品
【链接】：https://github.com/openvinotoolkit/openvino/pull/12370

[2022-08-02 08:29] Ligoml commented on #44675
感谢指出，我们希望重点跟进一下这个问题，希望你提供一些关键信息：
1. 方便提供一下你写的paddle代码和参考的torch代码吗？可以给一个repo链接哈~
2. 我们希望确认你写的paddle模型在精度上是否和参考模型已经对齐，如最终的精度、中间过程的精度是否对齐？
3. 数据加载过程中，可以试一下调大dataloader的num_workers，看看会不会有改善

cc @heavengate

[2022-08-02 08:49] MoranCoder95 commented on #44501
【队名】：xiaofei

【序号】：21

【论文】：RF-Learning:Reciprocal Feature Learning via Explicit and Implicit Tasks in Scene Text Recognition

【状态】：报名

【repo链接】：https://github.com/moranliuyu/paddle-RF-Learning

[2022-08-02 08:51] yuanjim commented on #43938
【队名】：Jim小队
【序号】：80
【状态】：报名
【链接】：https://github.com/yuanjim/Paddle2ONNX

[2022-08-02 08:54] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么
【序号】：67
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/195

[2022-08-02 08:55] yuanjim commented on #43938
我已收到您的邮件。谢谢！ 

[2022-08-02 09:08] taoge2222 opened #44814 "使用paddle-infer的c++预测过程中出错：The conv2d Op's Input Variable `Input` contains uninitialized Tensor"
### bug描述 Describe the Bug

平台：本地运行i7-7700+3090,paddlepaddle-2.31,ubuntu-16.04,cuda11.2,python3.6,g++5.5

bug描述：
测试了2个模型，ppyolo_mbv3_large_coco模型和picodet_l_320_coco_lcnet模型。
1、https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/picodet
上方链接的picodet中的[w/ 后处理]的所有模型，在使用paddle-infer的c++预测过程中出错;所使用例程为官方https://github.com/PaddlePaddle/Paddle-Inference-Demo/c++/cpu/resnet50/resnet50_

[2022-08-02 09:11] taoge2222 commented on #44814
picodet还有[w/o 后处理]部分的模型能用，不太影响。ppyolo_mbv3_large_coco所有的模型均无法运行就比较郁闷

[2022-08-02 09:36] March35 opened #44817 "Error: Variable value (input) of OP(fluid.layers.embedding) expected >= 0 and < 12800, but got 4916593788014559232."
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/48037392/182343249-2865440d-1a8e-4971-8831-6f0b7a69190e.png)
但是打印了src_ids, 没有超过12800的数:
![image](https://user-images.githubusercontent.com/48037392/182343494-b96882cd-e72e-4e61-891c-2860a7e0665f.png)

[2022-08-02 10:21] guojinrong-nn opened #44819 "paddle inference: can the input already be on GPU, is there any interface provided"
### 请提出你的问题 Please ask your question

I have put my input on GPU and wanna do inference, but only found `input_tensor.copy_from_cpu()`, is there any interface to read input data on GPU directly?

Greatly appreciate!

[2022-08-02 10:28] zhaoying9105 opened #44820 "layers.hardsigmoid slope默认为0.2"
### bug描述 Describe the Bug

1. paddle.nn.functional.hardsigmoid 默认参数是1/6
python/paddle/nn/functional/activation.py
[code]
2. fluid.layers.hard_sigmoid 默认参数是0.2
python/paddle/fluid/layers/nn.py
[code]
另外paddle/fluid/operators/activation_op.cc 默认的slope参数也是0.2
[code]
是不是应该统一一下

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-02 10:39] Ligoml commented on #44644
@yuwoyizhan hi，关于这个问题，因为涉及范围很广，所以内部讨论后认为可以先发起一次全面的产品调研再下结论。如果你对这个问题很有兴趣，欢迎发邮件到 ext_paddle_oss@baidu.com 联系我们~

[2022-08-02 10:40] #44750 closed, assigned to zhangting2020

[2022-08-02 11:23] HusterYXPeng commented on #42410
【队名】：未来CTO

【序号】：48

【状态】：提交作品

【链接】：https://github.com/HusterYXPeng/Paddle

[2022-08-02 11:23] HusterYXPeng commented on #42410
【队名】：未来CTO

【序号】：48

【状态】：报名

【链接】：https://github.com/HusterYXPeng/Paddle

[2022-08-02 11:24] HusterYXPeng commented on #43938
【队名】：未来CTO

【序号】：48

【状态】：报名

【链接】：https://github.com/HusterYXPeng/Paddle

[2022-08-02 11:44] HusterYXPeng commented on #43938
【队名】：未来CTO

【序号】：47

【状态】：报名

【链接】：https://github.com/HusterYXPeng/Paddle

[2022-08-02 11:44] HusterYXPeng commented on #43938
【队名】：未来CTO

【序号】：46

【状态】：报名

【链接】：https://github.com/HusterYXPeng/Paddle

[2022-08-02 11:54] yuwoyizhan commented on #44644
@Ligoml 兄弟,在哪个帖子都能看到你,这个飞桨不会是你负责吧?哈哈哈哈.你说的关于这个问题很广,我也不知道你说的这个问题,指的是提供C++接口问题,还是提供大量模型的问题,比如时间序列预测.我觉得,时间序列预测是一个重要科研课题,实践中也有不少非科研人员需要用到,这个课题,不吹不黑,难度大,你们弄几个牛逼哄哄的模型让我们训练,比起我们自己组网的效果好多了的.听说AAAI2021的最佳论文就是长时间序列预测,能在几千几万篇论文中脱颖而出,获得最佳论文奖,我想,这就充分说明该论文的进步性,也充分说明长时间序列预测的重要性.翻遍飞桨整个平台,竟然找不到一个套件,找不到一个模型可以跑时间序列预测,无论是长时间序列预测还是短时间序列预测,要用什么模型,都必须自己组建网络,哈哈哈哈.ai studio上有不少时间序列预测的项目,说白了都是自己组网的,根本不是顶尖研究人员的模型,更不是那种有重大改

[2022-08-02 12:38] heavengate commented on #44814
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/cpp
PaddleDetection库里提供了C++ inference的代码，可以参考这个

[2022-08-02 13:11] RichardWooSJTU commented on #44819
Sorry, due to many considerations, we don't have such an interface for the time being. Please describe the usage scenario in detail for us to discuss. Thank you!

[2022-08-02 13:52] ForFishes commented on #44817
您好，这里input的tensor中，有的数值超过了12800，导致访问越界。可以打印一下embedding的输入的值，看是否有错误的值。

[2022-08-02 14:40] zhuangweiji commented on #42564
paddle.disable_signal_handler()
https://github.com/PaddlePaddle/Paddle/issues/36281

[2022-08-02 15:20] jczaja commented on #43215
@jiangjiajun , @lidanqing-intel , @yaomichael
Some update to let you know here we are. We have implememented first set of changes to speed up matmul (https://github.com/PaddlePaddle/Paddle/pull/44640) and now working similar changes for matmul int8. Here is the picture comparing performance(ernie-3.0 int8) of improved matmul fp32 (WW31) vs codebase without changes (WW29) :

![ernie-3 0-int8-ww29vs

[2022-08-02 21:29] SigureMo commented on #43938
【队名】：Cattidea

【序号】：73

【状态】：报名

【链接】：[cattidea/CINN](https://github.com/cattidea/CINN)

[2022-08-03 01:42] taoge2222 commented on #44814
我能把整个paddle-inference的c++源代码都看一遍就太难了，这是在为难人啊

[2022-08-03 01:46] Lawyer-ray opened #44830 "什么时候支持Mac M1/M2 GPU?"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）正在使用Mac M1 Pro作为生产机型，具体使用了PaddleOCR与PaddleNLP，目前Paddle在Mac下仅支持CPU模式，PaddleOCR与PaddleNLP运行效率并不出色;
需求场景（请描述你的项目中为什么需要用此功能）加快解决问题，提高生产效率；
;  <br /> 功能描述（请简单描述或设计这个功能）

### 替代实现 Alternatives

_No response_

[2022-08-03 02:01] guojinrong-nn commented on #44819
I have several preprocess ops executed by GPU, after that, I wanna do inference directly, a pass by GPU address is preferred.

[2022-08-03 02:19] zhuba-Ahhh commented on #44501
【队名】：对

【序号】：57

【论文】：CoST: Contrastive Learning of Disentangled Seasonal-Trend Representations for Time Series

【状态】：报名

【repo链接】：https://github.com/zhuba-Ahhh/Paddle_CoST

[2022-08-03 02:19] zhuba-Ahhh commented on #44501
【队名】：对

【序号】：58

【论文】：TS2Vec: Towards Universal Representation of Time Series

【状态】：报名

【repo链接】：https://github.com/zhuba-Ahhh/Paddle_TS2Vec

[2022-08-03 02:29] MissPenguin commented on #44730
请问在PaddleOCR原始代码上做了哪些修改呢，直接跑icdar2015数据集能跑起来吗？另外，训练建议使用GPU哈

[2022-08-03 02:43] Ligoml commented on #44644
@yuwoyizhan 有没有一种可能，我是paddle的pm~ 你的诉求已经转交给相关团队，可以等他们联系你进行更多沟通哈

[2022-08-03 03:11] guojinrong-nn commented on #44819
More specifically, a pass by **GPU address** of **Tensor** is preferred. Other than where the input is, on CPU or GPU, the type of input should not be limited to np.array.

Hope to have support in the future.

[2022-08-03 03:19] CZMmin commented on #44644
希望paddle更注重底层生态，硬件环境兼容、性能挖掘、语言支持等。不缺乏应用型人才及各行业的相关产品，缺乏一片统一的土壤。

[2022-08-03 03:29] anexplore commented on #43346
内存问题，我的方案：1、控制输入大小，对数据裁剪控制最大限制，比如图片统一压缩到128*128  2、控制批量大小

[2022-08-03 03:33] yuwoyizhan commented on #44644
如果飞桨只注重底层,不提供任何模型,所有模型都要自己组网的话,我保证,全世界没人用飞桨.clas,det,seg,ocr,等等,哪个套件没有提供模型,甚至对于多数套件来说,主要功能就是提供模型.只提供函数,让飞桨使用者去组建模型,100个人都未必有一个人有本事组建牛逼哄哄的模型.举个例子,以前高层卷积网络性能比低层还差劲,试问有几个人能解决?有专家提出ResNet才解决了问题.指望每个飞桨使用者组建模型时,都能解决遇到的所有问题,无异于痴人说梦.
飞桨如果能在每个问题上,都推出一个好用的模型,不要求天下无敌,不要求SOTA,就能满足绝大多数飞桨使用者的需求了.在每个问题上,都提供一个模型,估计飞桨也做不到.但是在很多重要问题上,提供一个好用的模型,这绝对是飞桨的义务.

[2022-08-03 04:45] RichardWooSJTU commented on #44819
Thank you for your reply, we will discuss seriously.

[2022-08-03 06:24] aixuxian opened #44846 "后台任务解压缩文件"
### 请提出你的问题 Please ask your question

尝试一些比赛项目时候，遇到的问题。
有些比赛的数据集较大，是以zip压缩包的形式存在的。
想要运行后台任务，构建版本的时候只能在Notebook里面写好解压缩数据的命令。但是却遇到似乎是权限问题，无法解压。
如下命令
!unzip -q /home/aistudio/data/data151025/Calibration.zip -d /home/aistudio/data/data151025/val
会报出checkdir:  cannot create extraction directory: val
Input/output error
的问题。
而如下命令
!unzip -q /home/aistudio/data/data151025/Calibration.zip -d /home/aistudio

[2022-08-03 07:47] BamLubi commented on #44501
【队名】：BamTeam

【序号】：42

【论文】：Deep Position-wise Interaction Network For CTR Prediction

【状态】：报名&提交

【repo链接】：https://github.com/BamLubi/Paddle-DPIN

[2022-08-03 08:23] Asthestarsfalll commented on #43938
【队名】：这个队长很懒
【序号】：20
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/44853

[2022-08-03 08:52] yuanjim commented on #43938
【队名】：Jim小队
【序号】：82
【状态】：报名
【链接】：https://github.com/yuanjim/Paddle2ONNX

[2022-08-03 09:02] luotao1 commented on #44583
close by #44807

[2022-08-03 09:02] #44583 closed, assigned to nobody

[2022-08-03 09:06] bigcash opened #44858 "【论文复现赛】"unfolded2d_copy" not implemented for 'Half'"
### bug描述 Describe the Bug

错误提示："unfolded2d_copy" not implemented for 'Half'

在[GPU-Efficient-Networks](https://github.com/idstcv/GPU-Efficient-Networks)项目中，运行以下代码：
import torch
import numpy as np
import GENet
from x2paddle.convert import pytorch2paddle
# 构建输入
input_data = np.random.rand(1, 3, 192, 192).astype("float16")
# 获取PyTorch Module
torch_module = GENet.genet_small(pretrained=True, root=".

[2022-08-03 09:32] dingjiaweiww commented on #44830
感谢你的反馈，对于飞桨支持mac M1 上的GPU，我们内部正在评估调研，请问你需要在mac m1 上运行什么模型呢，使用GPU是想测试一下，还是有特殊项目需要运行呢？ @Lawyer-ray

[2022-08-03 11:04] #44751 closed, assigned to zhangting2020

[2022-08-03 11:29] zbyandmoon commented on #44501
【队名】：zbyandmoon

【序号】: 53

【论文】：[DeepCFD: Efficient Steady-State Laminar Flow Approximation with Deep Convolutional Neural Networks](https://arxiv.org/abs/2004.08826)

【状态】：提交

【repo链接】：https://github.com/zbyandmoon/DeepCFD_with_PaddlePaddle (AI Studio: https://aistudio.baidu.com/aistudio/projectdetail/4400677) （注：AI Studio请打开最新的一个版本）

[2022-08-03 11:43] xiaoxiaohehe001 commented on #44820
好的，我们会尽快对齐一下

[2022-08-03 11:45] zuzg commented on #36905
Hi, I am investigating the case. Could you please share the qat model with fake_quant operators?

[2022-08-03 12:39] yeliang2258 commented on #43811
https://github.com/PaddlePaddle/Paddle/pull/44867

[2022-08-03 12:54] jiweibo commented on #44323
请问下可以share下复现环境吗，我本地拿demo里的模型跑不出来这个结果。

[2022-08-03 14:57] SigureMo commented on #43938
【队名】：Cattidea

【序号】：73

【状态】：提交 RFC

【链接】：https://github.com/PaddlePaddle/community/pull/196

[2022-08-04 02:25] yaomichael commented on #36905
@jiangjiajun Is the quantized model you provided earlier in June saved model? Zuza is looking for QAT model...

[2022-08-04 02:44] PureNatural commented on #43938
【队名】：源力觉醒
【序号】：87
【状态】：报名
【链接】：https://github.com/PureNatural/open-digger

[2022-08-04 04:24] AndyandViky commented on #38440
请问解决了么这个问题

[2022-08-04 06:28] Water2style commented on #38440
时间有点长了...记不起来当时的需求了。
贴一小段代码供参考，把量化后仍然为FP32格式的weights转为INT8格式：

#step1 读取原FP32模型
original_path_prefix = './quant_post_static_model/qpt'
[inference_program, feed_target_names,fetch_targets] = paddle.static.load_inference_model(
                                            path_prefix=original_path_prefix,
                                            executor=exe)

#step2, 用paddle.load读取原模型的dict
dict_q

[2022-08-04 06:55] YellowLight021 commented on #44501
【队名】：橘色闪光

【序号】：14

【论文】：nnFormer: Interleaved Transformer for Volumetric Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/YellowLight021/paddle_nnformer

[2022-08-04 07:47] yeyupiaoling commented on #44776
是我输入错误了`paddle.nn.LSTM()`中的`initial_states`维度输入不正确。修改好之后，GPU和CPU都能用了

[2022-08-04 07:47] #44776 closed, assigned to zh794390558

[2022-08-04 07:58] AndPuQing commented on #43938
【队名】：开摆鸟
【序号】：100
【状态】：报名 & 提交作品
【链接】：https://github.com/openvinotoolkit/openvino/pull/12355

[2022-08-04 08:41] freecui opened #44889 "paddle_infer.create_predictor(config) 预测报错"
### bug描述 Describe the Bug

环境：版本 python3.8.0   cuda10.1.105; cudnn 7.6.5 ； paddlepaddle  2.3.1 用了gpu和cpu版本； 跑的是https://github.com/PaddlePaddle/ERNIE 项目中的task有 text_generation 和text_matching, 这两个task 训练的时候都是可以正常运行的，但是infer的时候就出错了，代码段是在erniekit/controller/inference.py 中的predictor = paddle_infer.create_predictor(config) 这段代码就会出现错：不管用cpu还是gpu都会报同样的问题
![Uploading image.png…]()

### 其他补充信息 Additional S

[2022-08-04 08:41] freecui commented on #44889
INFO: 08-04 16:25:25: inference.py:53 * 140495399245632 init env, build inference....
INFO: 08-04 16:25:25: inference.py:94 * 140495399245632 cpu inference....
E0804 16:25:25.154521 20984 analysis_config.cc:610] EnableMKLDNN() only works when IR optimization is enabled.
E0804 16:25:25.154595 20984 analysis_config.cc:610] EnableMKLDNN() only works when IR optimization is enabled.

-----------------

[2022-08-04 08:51] freecui commented on #44889
补充环境： ubuntu 18.04

[2022-08-04 08:54] freecui commented on #44889
代码分支拉取的是：ernie-open-v1.0
![Uploading image.png…]()

[2022-08-04 08:59] spike-xiong commented on #42891
glibc  2.35 有同样报错

[2022-08-04 09:03] YellowLight021 commented on #44501
【队名】：橘色闪光

【序号】：14

【论文】：nnFormer: Interleaved Transformer for Volumetric Segmentation

【状态】：报名

【repo链接】：https://github.com/YellowLight021/paddle_nnformer

[2022-08-04 09:03] YellowLight021 commented on #44501
【队名】：橘色闪光

【序号】：14

【论文】：nnFormer: Interleaved Transformer for Volumetric Segmentation

【状态】：提交

【repo链接】：https://github.com/YellowLight021/paddle_nnformer

[2022-08-04 09:07] manangoel99 commented on #44320
Hi @reyoung @jacquesqiao ! I'm an engineer at W&B and I would love to make this contribution.
I wasn't able to find documentation on how to set up a development environment for an addition to just the python package. Can you please direct me to the right place?

[2022-08-04 09:13] Lieberk commented on #44501
【队名】：超级码立

【序号】：23

【论文】：Self-Supervised Predictive Convolutional Attentive Block for Anomaly Detection

【状态】：提交

【repo链接】：https://github.com/Lieberk/Paddle-SSPCAB

[2022-08-04 09:13] bianchuanxin opened #44894 "同样代码在CPU上可以正常训练，而在GPU上训练过程中报错"
### bug描述 Describe the Bug

在cpu上模型可以正常训练，但在gpu上训练时，中间产生nan报错：
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-04 09:22] kafaichan commented on #44501
【队名】：Anya Waku Waku

【序号】：58

【论文】：TS2Vec: Towards Universal Representation of Time Series

【状态】：报名&提交

【repo链接】：https://github.com/kafaichan/paddle-ts2vec

[2022-08-04 09:34] cqray1990 opened #44896 "cuda 10.0 可以安装版本的paddle? 可以安装cuda 10.1对应版本的paddle?"
### 问题描述 Issue Description

cuda 10.0 可以安装版本的paddle? 可以安装cuda 10.1对应版本的paddle?

### 版本&环境信息 Version & Environment Information

cuda 10.0
paddlepaddle:2.3

[2022-08-04 10:00] yaoxuefeng6 commented on #44896
你好 现在paddle可支持的cuda最低版本是10.1 可以在这个链接按需安装哈 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

[2022-08-04 10:56] AndPuQing opened #44904 "There are no kernels which are registered in the elementwise_floordiv operator."
### bug描述 Describe the Bug

There are no kernels which are registered in the elementwise_floordiv operator.

[code]

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-08-04 11:07] veridone opened #44905 "paddlepaddle2.3.1训练wide&deep速度慢"
### 请提出你的问题 Please ask your question

paddlepaddle2.3.1训练wide&deep速度K40 比 V100慢了10倍
具体的速度对比
K40
![image](https://user-images.githubusercontent.com/6941942/182832513-4ebed7ec-52ad-48b2-9468-16da6f900f45.png)
V100
![image](https://user-images.githubusercontent.com/6941942/182832394-12c3e2fb-b573-4370-bc69-6ce7488c70d4.png)
可能是哪些问题导致的

[2022-08-04 11:12] veridone commented on #44905
K40  paddlepaddle-gpu Version: 2.3.1.post101
V100 paddlepaddle-gpu： 2.3.1 driver ：CUDA Version: 11.2

[2022-08-04 11:20] chenxiaozeng commented on #44846
建议在AI Studio社区咨询下，可以邮件联系 aistudio@baidu.com，或者加入其官方QQ群交流: 580959619

[2022-08-04 11:54] 95maddycode commented on #44421
Hi, thank you for your response. I experimented around a little bit and activated GLOG_v=3. The last output I get from the GLOG logging is:
![GLOGV3_output](https://user-images.githubusercontent.com/82157194/182840852-9937586a-ce33-44a2-9e5f-290d72f7af3f.png)

It says: NULLNULLNULLNULLNULL etcetera,

what could this possibly mean?

[2022-08-04 13:27] glare-ni commented on #43938
【队名】：史上第一帅花无缺

【序号】：99

【状态】：提交

【链接】：https://github.com/openvinotoolkit/openvino/pull/12184

[2022-08-04 13:28] glare-ni commented on #43938
【队名】：史上第一帅花无缺

【序号】：102

【状态】：提交

【链接】：https://github.com/openvinotoolkit/openvino/pull/12186

[2022-08-04 13:28] glare-ni commented on #43938
【队名】：史上第一帅花无缺

【序号】：103

【状态】：提交

【链接】：https://github.com/openvinotoolkit/openvino/pull/12183

[2022-08-05 00:22] aixuxian commented on #44846
@chenxiaozeng 感谢感谢！！

[2022-08-05 01:52] bigcash commented on #44501
【队名】：还真是那么回事

【序号】：2

【论文】：Neural Architecture Design for GPU-Efficient Networks

【状态】：提交

【repo链接】：https://github.com/bigcash/GENets-Paddle

[2022-08-05 02:35] Asthestarsfalll commented on #44904
use `paddle.fluid.layers.nn.elementwise_floordiv`

[2022-08-05 02:47] yaoxuefeng6 commented on #44894
从报错信息看不出什么问题 可以提供下版本信息和最小可复现代码吗？

[2022-08-05 03:04] HoratioJSY opened #44915 "While_loop OP 在训练中正常，在paddle inference中报错"
### 请提出你的问题 Please ask your question

我们使用 paddle.static.nn.while_loop() 构造循环体时，如果在训练program取循环结果的OP，能正常输出；当我们通过paddle.static.save_inference_model()  将program 导出成推断模型时，取循环结果的 OP 会报错，而且都是GPU方面的错。

后来我们参照 paddlenlp 中 GPT-3 [循环解码部分](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/gpt-3/static/modeling.py#L1230)，将paddle.static.nn.while_loop() 改为 paddle.fluid.layers.While

[2022-08-05 03:16] Initial01LingXu opened #44916 "官方教程2.3中错误"
### 文档链接&描述 Document Links & Description

教程：https://www.paddlepaddle.org.cn/tutorials/projectdetail/3907095，2.1.4和2.1.5封装前后不一致：
2.1.4对每个特征进行归一化处理，使得每个特征的取值缩放到0~1之间，是线性函数归一化(Min-Max Scaling)。在该过程中也没有用到平均值avgs，是没有必要求取的数值。
### 计算train数据集的最大值，最小值，平均值
    maximums, minimums, avgs = \
                     training_data.max(axis=0), \
                     training_data.min(axis=0), \
     training_data.