[2022-05-11 10:50] Amm-W commented on #42649
感谢回答！
我是在PaddleDetection中动态图转静态图的函数中遇到 "build_strategy = static.BuildStrategy()" 这句代码的，查询BuildStrategy()后发现它有个绘制计算图的debug示例，想着照着API文档直接在其后面加上”build_strategy.debug_graphviz_path = "./graph" “看试试，确实无事发生，也不明白它的具体使用方法或者实现方式。
这个unittest测试中”debug_graphiv_path"用的也不是很明白，是创建一个临时文件，在模型中进行几次前向传播就可以自动创建计算图吗？不是的话具体的实现过程应该是什么。

[2022-05-11 11:03] minghaoBD commented on #42649
看文档描述，应该会在 $debug_graphviz_path 位置生成一个代表graph的文件，然后可以可视化打开。
方便提供下你的【最小可复现】代码吗？我这边分析下。

[2022-05-11 12:46] tianmenggong666 commented on #33725
我也是

[2022-05-11 12:51] jeff41404 opened #42699 "【PFCC-Roadmap】算子数据类型扩展"
### Roadmap
飞桨现有算子已经能较完整地支持float32、float64、int32、int64、bool等常用数据类型，同时部分算子也支持 complex64、complex128、fp16、bf16、int8 等数据类型，我们希望进一步扩大支持后面这些数据类型的算子范围，让飞桨能支持更多应用场景的需求。本方向主要开发：和飞桨专家一起扩展现有算子的功能，开发支持complex64、complex128、fp16、bf16、int8 等数据类型，并解决制约这些数据类型支持的基础问题。
1. 支持复数数据类型（[complex64、complex128](https://en.wikipedia.org/wiki/Complex_data_type)）。需要支持复数类型的算子可参考 [石墨表格《PFCC-Roadmap》之【算子数据类型扩展-复数】](https://shimo.

[2022-05-11 13:13] CPones commented on #41482
【队名】：CPones

【序号】：3

【论文】：Going deeper with Image Transformers

【状态】：提交2

【repo链接】：https://github.com/CPones/CaiT

[2022-05-11 13:47] huaibovip commented on #41482
【队名】：小鸡毒蘑菇

【序号】：3

【论文】：Going deeper with Image Transformers

【状态】：报名&提交

【repo链接】：https://github.com/huaibovip/paddle-CaiT

[2022-05-11 13:52] dashuiga commented on #41482
【队名】：大水缸

【序号】：3

【论文】：Going deeper with Image Transformers

【状态】：报名&提交

【repo链接】：https://github.com/dashuiga/paddle-CaiT

[2022-05-11 15:09] meet-slut commented on #42471
你们随便制作一个输出不是单个张量的模型就可以复现了。例如这样的网络。
[code]

当然，我这里可以提供一个项目 https://aistudio.baidu.com/aistudio/projectdetail/3926820 ，这个项目是yolov5 nano模型的复现。你们直接在这个项目的模型部署中可以看到一个inference失败的实例。这个实例的输入是一张图片的base64编码字符串，输出是3个张量。因为多于一个张量，所以会报错too many values unpack。

这个不是paddlepaddle的问题，是Aistudio Notebook这个功能代码中的bug。具体的原因我已经帮你们定位好了，就如我问题描述的一样。

[2022-05-11 15:15] huaibovip commented on #41482
【队名】：小鸡毒蘑菇

【序号】：45

【论文】：[Training Generative Adversarial Networks with Limited Data](https://paperswithcode.com/paper/training-generative-adversarial-networks-with-2)

【状态】：报名&提交

【repo链接】：https://github.com/huaibovip/paddle-stylegan2-ada

[2022-05-11 15:19] huaibovip commented on #41482
【队名】：小鸡毒蘑菇

【序号】：44

【论文】：[StyleCLIP: Text-Driven Manipulation of StyleGAN Imagery](https://paperswithcode.com/paper/styleclip-text-driven-manipulation-of)

【状态】：报名

【repo链接】：https://github.com/huaibovip/paddle-StyleCLIP

[2022-05-12 00:23] GreatV commented on #41875
新增算子

[2022-05-12 00:54] Jeffrey98-AI commented on #42016
你们也可以用paddle server来测试，只用一个检测模型就可以复现这个问题，模型使用inference 模式在GPU预测，不要转 server 模型，也会出现这个问题
`OSError: (External) CUDA error(3), initialization error.
  [Hint: 'cudaErrorInitializationError'. The API call failed because the CUDA driver and runtime could not be initialized. ] (at /paddle/paddle/fluid/platform/gpu_info.cc:283)
`

[2022-05-12 01:59] w5688414 opened #42703 "provides interface like lazylinear in pytorch."
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

d2lbook pr question:

https://github.com/d2l-ai/d2l-zh/pull/1144

### 替代实现 Alternatives

https://pytorch.org/docs/stable/generated/torch.nn.LazyLinear.html

[2022-05-12 03:43] xywxy commented on #41482
【队名】：勇敢牛牛

【序号】：94

【论文】：SwinIR: Image Restoration Using Swin Transformer

【状态】：报名

【repo链接】：https://github.com/xywxy/Paddle_SwinIR

[2022-05-12 06:09] flytocc commented on #41482
【队名】：拼手速

【序号】：99

【论文】：Exploring Simple Siamese Representation Learning

【状态】：报名

【repo链接】：https://github.com/flytocc/SimSiam-paddle

[2022-05-12 06:21] jzhang533 commented on #42681
cc: @kolinwei

[2022-05-12 06:29] veyron95 commented on #42420
@bitcjm 您好，所提供的项目链接：https://aistudio.baidu.com/aistudio/projectdetail/3894820?contributionType=1,   顺序执行并不能复现问题（会报ModuleNotFoundError: No module named 'training', ModuleNotFoundError: No module named 'metrics.fid' 等问题），麻烦提供一份可执行可复现的最小项目链接，方便调试和复现问题。

[2022-05-12 06:32] lyuwenyu commented on #42679
https://github.com/PaddlePaddle/PaddleOCR/issues  ocr相关问题可以在这里提问

[2022-05-12 06:35] lyuwenyu commented on #42693
`ps aux`能看到相关的进程嘛，直接kill掉试下

[2022-05-12 06:42] jiangjiajun commented on #42694
@caidou05 Hi， 你好。 能提供一下模型和预测代码吗。 如果较大，可通过百度网盘上传。 同时给一下你的CPU信息

[2022-05-12 07:01] JiabinYang commented on #42685
- 对于第一个case中，可以看到报错的这个参数是不参与反向提督更新的，在使用`paddle.grad`时需要确保你需要进入计算的input都是支持微分的且需要`stop_gradient=False`
[code]
![image](https://user-images.githubusercontent.com/22361972/168023257-e0b83c10-b80d-4429-8a8e-3ac69ca62a3d.png)
![image](https://user-images.githubusercontent.com/22361972/168023203-0333d5e4-7fc3-41a6-9518-8fd4e9e15e37.png)

当你把代码改成：
[code]
则可以正确运行哈：
![image](https://user-images.githubuserc

[2022-05-12 07:13] sun222 commented on #41482
【队名】：mading队

【序号】：4（特色模型挑战赛）

【论文】：STANet for remote sensing image change detection
【状态】：提交

【repo链接】：https://github.com/sun222/STANET_Paddle

[2022-05-12 07:19] dc-cheny commented on #33364
2022年依然存在这个问题

[2022-05-12 07:29] simonsLiang opened #42710 "paddle.einsum运算速度相对来说很慢，使用gpu速度上更是负提升"
### 请提出你的问题 Please ask your question

复现代码：
import paddle
import torch
import numpy as np
import time
xnp = np.random.rand(27,3)
ynp = np.random.rand(27,80,80,80)
e = 'qd,q...->d...'

print('运行时间:')
s = time.time()
res = np.einsum(e,xnp,ynp)
print("numpy:",time.time()-s)

paddle.set_device('cpu')
xp = paddle.to_tensor(xnp)
yp = paddle.to_tensor(ynp)
s = time.time()
res = paddle.einsum(e,xp,yp)
pri

[2022-05-12 07:45] holyseven commented on #42693
em... it's not a solution at all.

如果出现这个`Resource temporarily unavailable`问题的话，terminal里面也无法操作。terminal会有弹出`bash: fork: retry: 资源暂时不可用`。

我现在在jupyter notebook里面运行，只要把jupyter关了或者重启，就可以解决这个问题。但是程序无法继续运行下去。

[2022-05-12 08:16] OccupyMars2030 opened #42713 "Is this a bug in the implementation of IntArrayBase in the file paddle/phi/common/int_array.h"
### 请提出你的问题 Please ask your question

In  the implementation of  IntArrayBase in  the file   paddle/phi/common/int_array.h,   I  think   it  may  be  a  bug:
In the line 107,   it  may  should  be:
`   if (value_data && n > 0) {`
![Screenshot from 2022-05-12 16-15-44](https://user-images.githubusercontent.com/31559413/168024691-05119896-7c48-4ba3-bd89-b93afc864d5b.png)

[2022-05-12 08:18] OccupyMars2030 commented on #42713
The location of this file:

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/phi/common/int_array.h

[2022-05-12 08:26] jack-lijing commented on #40215
gcc 11 did't work.

[2022-05-12 09:14] holyseven commented on #42685
棒！多谢！

抱歉，我才发现resnet50的`parameters()`有bn的mean和variance。

第二个case，在更新到2.3.0之后，也没有类似问题了。

[2022-05-12 09:14] #42685 closed, assigned to wzzju, lyuwenyu

[2022-05-12 09:32] lzzyzlbb commented on #42710
您好，我这边测试确实有这个问题，已经反馈给了相关API负责同学。请等待进一步确认及回复~

[2022-05-12 10:01] lzzyzlbb commented on #42713
您好，已经反馈给了相关的负责同学。请等待进一步确认及回复~

[2022-05-12 10:11] zyfncg commented on #42713
您好，感谢反馈，写成`value_data || n == 0`是为了支持有些场景下维度数据为0的情况。
这里建议改为`value_data && n > 0`是有遇到什么问题吗？

[2022-05-12 10:30] heavengate commented on #42693
dataloader是在一个epoch启动的时候启动线程和子进程，结束的时候释放线程和子进程，如果你代码里中途break出来，挥刀自没法走到结束时释放进程线程的逻辑，你是什么场景需要反复从dataloader for循环里break出来么

[2022-05-12 10:34] #42679 closed, assigned to lyuwenyu

[2022-05-12 11:35] tongxin commented on #42710
这个比较不是对等的，paddle在第一次调用以 numpy 导入数据为输入时进行类似 xt = xt.to(dev) 的操作，所以测量gpu性能时应该除去第一次调用的时间，看第二次的。

[2022-05-12 11:48] FrostML commented on #42678
@weishengying

[2022-05-12 11:50] holyseven commented on #42693
场景：pytorch算法influence function 转paddle，https://github.com/nimarb/pytorch_influence_functions/blob/master/pytorch_influence_functions/influence_function.py#L35-L52。

暂时是按照这样解决的：

[code]

[2022-05-12 13:00] 875052544 opened #42726 "paddle.rand(x)文档出错？"
### bug描述 Describe the Bug

rank = paddle.rank(input)
input (Tensor) — 输入input是shape为 [N1,N2,...,Nk] 的多维Tensor，数据类型可以任意类型。这是文档原话

当我输入float多维矩阵后，报了该错误ValueError: (InvalidArgument) uniform_random(): argument (position 1) must be list of int, but got list at pos 0

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-12 15:23] simonsLiang commented on #42710
那请问怎样才是对等的，下面这样对等吗，
import paddle
import torch
import numpy as np
import time
xnp = np.random.rand(27,3)
ynp = np.random.rand(27,80,80,80)
e = 'qd,q...->d...'

print('运行时间:')
s = time.time()
res = np.einsum(e,xnp,ynp)
print("numpy:",time.time()-s)

paddle.set_device('cpu')
xp = paddle.to_tensor(xnp)
yp = paddle.to_tensor(ynp)
res = paddle.einsum(e,xp,yp)
s = time.time()
res = paddle.einsum(e,xp,yp

[2022-05-12 16:17] thunder95 opened #42730 "【PFCC】新增算子报错AttributeError: module 'paddle.fluid.core_avx.ops' has no attribute 'index_fill_tensor'"
### 请提出你的问题 Please ask your question

新写一个算子，检查了很久，也不知道错在哪里：
AttributeError: module 'paddle.fluid.core_avx.ops' has no attribute 'index_fill_tensor'

已做过尝试：
重命名
删除build目录重新cmake、make

在生成的文件中并没有找到该算子：
 dygraph_forward_functions
eager_op_function
op_function_impl

已提交PR： https://github.com/PaddlePaddle/Paddle/pull/42454

[2022-05-13 02:01] zh794390558 commented on #42730
已有同学在跟该问题。

[2022-05-13 02:18] chenwhql commented on #42730
index_fill可以找到，但index_fill_tensor没有生成是嘛

[2022-05-13 02:30] 2050airobert commented on #42341
Hi,
   1、 I run  the cmd "python tools/train.py -c configs/picodet/picodet_s_416_coco_lcnet.yml  --slim_config configs/slim/quant/picodet_s_416_lcnet_quant.yml" with gpu 3090,yet two days past the log was still like this as following.
![image](https://user-images.githubusercontent.com/8407513/168199579-e8c3ce42-ddd1-4794-aa51-c7f05f9e9f09.png)
   2 Is this all right ?  Any problem could you see? I

[2022-05-13 02:33] lvweitao92 commented on #42258
有docker 的包了吗，在哪里，我这边主要是用PaddleOCR 做通用识别，然后做二次开发，优化准确率和对应的标签匹配

[2022-05-13 02:39] JiabinYang commented on #42730
这一行报错在哪里报出来的可以有个完整的报错截图嘛

[2022-05-13 02:41] bitcjm commented on #42420
@veyron95 您好，链接中的项目已修复问题。请参考草稿版本或使用paddle.grad测试修正版版本并注释第一个kernel的第一行顺序执行。这两个版本默认的notebook的最下方也有我顺讯执行过程中的报错，可供参考。

[2022-05-13 02:51] lzzyzlbb commented on #42726
![image](https://user-images.githubusercontent.com/17897185/168201828-41ffe813-625e-4aa9-971f-7626ea1dbe90.png)
nin ha您好，我这边测试是没有问题的哈，麻烦提供一下具体的代码

[2022-05-13 03:11] veyron95 commented on #42420
@bitcjm 好的，多谢，我试试。

[2022-05-13 03:53] lzzyzlbb commented on #42710
您好，torch调度跟我们不一样，需要加 paddle.device.cuda.synchronize() 和 torch.cuda.synchronize() 哈
比如：
torch.cuda.synchronize()
time_t = time.time()
res = torch.einsum('bc...,bc...->b...', [x_t, y_t])
torch.cuda.synchronize()

paddle.device.cuda.synchronize()
time_p = time.time()
res = paddle.einsum('bc...,bc...->b...',x_p, y_p)
paddle.device.cuda.synchronize()

[2022-05-13 05:21] simonsLiang commented on #42710
您好，可以测一下
xnp = np.random.rand(27,3)
ynp = np.random.rand(27,80,80,80)
e = 'qd,q...->d...'
的时候paddle和pytorch的速度差距吗，另外我想问我平时应该如何使用才能达到paddle.einsum的最快速度呢   直接用的话会很慢（相比pytorch）

[2022-05-13 06:45] shiyutang commented on #42125
linux python3.8 pip-22.1 安装paddle-bfloat=0.1.2 报错：

1. python3.8 -m pip install paddle-bfloat==0.1.2 --no-cache
![image](https://user-images.githubusercontent.com/34859558/168226323-64274a02-0052-4270-aeed-3fb9a3c3ab33.png)
2. 网页上下载对应版本，不能安装：
![14c73242e3dfe252c8102f44580858d9](https://user-images.githubusercontent.com/34859558/168226485-0a55ca40-74ee-4f32-80ad-218c46452969.png)

[2022-05-13 06:48] Aganlengzi commented on #42125
@lidanqing-intel @jakpiase hi, paddle-bfloat==0.1.2 is depended by 2.3, it is very important to keep as many as possible pre-built wheels, please help check, thanks.
BTW, In @shiyutang‘s env, package with the following tag is ok, but can not be found in this site:https://pypi.org/project/paddle-bfloat/0.1.2/#files
<img width="349" alt="image" src="https://user-images.githubusercontent.com/5997715/

[2022-05-13 06:58] liushanshan07 opened #42746 "Distill加载teacher和student模型时报错In dygraph mode, the name of parameter can't be same.Please check the parameter attr value passed to self.create_parameter or constructor of dygraph Layers"
### 请提出你的问题 Please ask your question

ValueError: parameter name [vis_encoder_pos_embed] have be been used. In dygraph mode, the name of parameter can't be same.Please check the parameter attr value passed to self.create_parameter or constructor of dygraph Layers

由于模型结构类似，只是层数不一致，如何加载两个相似结构的模型？

[2022-05-13 07:06] tongxin commented on #42710
你好，是这样的，如果是benchmark API的准确耗时，建议用 paddle.rand() 生成的Tensor为输入，排除numpy导入导出的开销，另外执行相同的调用一定数量，比如1000次，取平均值，这样的到的结果比较可信。如果作为一个端到端的程序，当然可以用numpy生成数据咯，不过这个时候你关心的是整个程序的训练或推理性能，仅比较API的单次调用意义不是很大。如果你的目的的确在于比较 一次数据生成+einsum调用，我们在2.3中新开发一个基于C++的einsum算子，减少了小数据的Python开销，可以尝试一下，看看效果。
谢谢。

[2022-05-13 07:07] shiyutang commented on #42125
这样之后，就可以了
![image](https://user-images.githubusercontent.com/34859558/168229928-bf89eb5c-0683-4a41-9843-d67fe0732672.png)

[2022-05-13 07:16] zh794390558 commented on #42746
看上面是 vis_encoder_pos_embed key重复了。

主要关注下model中的key,val和model的paramseters是否相同。不同给的话，修改下key即可。

[2022-05-13 07:17] veyron95 commented on #42420
@bitcjm 我顺序执行了你所提供的项目链接，复现所看到的情况：
![image](https://user-images.githubusercontent.com/87417304/168231297-dce94986-60ed-49fd-841f-59e7f9c96160.png)
意思是 elementwise_pow_grad 没有对应的反向OP（Paddle中暂未实现elementwise_pow的二阶算子）。另外，autograd.grad 接口里面的 create_graph 参数为 True 的话，表明计算当前反向过程的同时将对应的更高一阶的反向图创建出来。看到代码中有两处使用了 autograd.grad 接口，create_graph参数都为 True, 请问当前的实现中是确定需要设置为 True 吗？

[2022-05-13 07:22] liushanshan07 commented on #42746
怎么修改key，还能把原模型的参数加载进来？

[2022-05-13 07:36] Disciple7 commented on #42028
需要使用带TensorRT的Paddle。

[2022-05-13 07:57] bitcjm commented on #42420
@veyron95 确定要

[2022-05-13 08:01] zh794390558 commented on #42746
已线下回复。

[2022-05-13 08:01] bitcjm commented on #42420
复现对象设置的就是True，而且经过验证，这项损失值非常重要，缺少或者错误会很影响训练的结果。

[2022-05-13 08:07] bitcjm commented on #42420
但是我也没试过这是为False训练的效果会咋样，我可以花两天时间跑以下看看结果

[2022-05-13 08:11] developWmark opened #42751 "paddle.where 对'-inf '会返回nan"
### bug描述 Describe the Bug

paddlepaddle==2.2
我尝试了三个例子，如果y中含有'-inf'，那么mask必须要具有相同的shape（不能自动广播）,才能返回正确的数值。
如果y中不含有'-inf'，那么mask可以通过自动广播返回正确的数值。
(1)

Tensor(shape=[10, 8, 200, 200], dtype=float32, place=CUDAPlace(0), stop_gradient=True,
       [[[[nan, nan, nan, ..., nan, nan, nan],
          [nan, nan, nan, ..., nan, nan, nan],
          [nan, nan, nan, ..., nan, nan, nan],
(2)

Tensor(shape=[10,

[2022-05-13 08:15] #41514 closed, assigned to nobody

[2022-05-13 08:32] veyron95 commented on #42420
@bitcjm 通过分析项目链接中的代码发现不少地方使用了** 运算符（底层为elementwise_pow算子），这在该网络的反向和 autograd.grad 运算的过程需要使用到 elementwise_pow 算子的一阶反向和二阶反向算子，目前 paddle 暂未支持 elementwise_pow 的二阶算子，这个我们会列需求开发下。如果 ** 运算形式不是必须的，也可以改用其他方式来实现相同的功能。

[2022-05-13 09:02] bitcjm commented on #42420
可能改不了，应该是必须的。

[2022-05-13 09:14] chenmingwei00 commented on #41482
【队名】：AIStudio235225的团队

【序号】：107

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/chenmingwei00/Deberta_chenmingwei

[2022-05-13 09:45] AndPuQing opened #42757 "The need for zero-dimensional tensors."
### 需求描述 Feature Description

I am now trying add Paddle in deepxde(https://github.com/lululxvi/deepxde) as backend. For some reason, we need to distinguish between zero-dimensional tensors and 1D tensors, as follows：

[code]

### 替代实现 Alternatives

_No response_

[2022-05-13 10:42] firedent opened #42759 "Paddle官方wheel包并没有集成TensorRT，而是单独给出了Paddle预测库，请问这么做的原因是什么？"
### 请提出你的问题 Please ask your question

[Paddlepaddle快速安装](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html)页面提供的[Paddle官方源](https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html)所列出的whl安装包是没有集成TensorRT的，如果调用`enable_tensorrt_engine`会返回`Please use the paddle inference library compiled with tensorrt or disable the tensorrt engine in inferen

[2022-05-13 11:55] jzhang533 commented on #42757
@iclementine is investigating on this.

[2022-05-13 12:17] thunder95 commented on #42730
是的

[2022-05-13 12:18] thunder95 commented on #42730
@zh794390558 @JiabinYang @chenwhql 谢谢各位老师跟进， 我重新创建docker镜像并清空build之后，能找到注册算子了。

[2022-05-13 12:18] #42730 closed, assigned to chenwhql

[2022-05-13 13:09] iclementine commented on #42757
Currently, paddle has **limited** and **inconsistent** support for zero-dimensional tensors due to a previous design to fake a zero-dimensional tensor with a 1d tensor with shape `[1]`. After that, a lot of APIs has been hacked to deal with zero-dimensional tensors, which is **incorrect** mathematically.

For example, indexing an 1d tensor with an integer returns a 1d tensor with shape `[1]` inste

[2022-05-13 13:40] AndPuQing commented on #42757
Right now I'm using a 1D tensor to simulate a zero-dimensional tensor which is indeed problematic, so expect the problem to be solved. Thank you for your reply

[2022-05-13 13:59] CPones commented on #41482
【队名】：CPones

【序号】：3

【论文】：Going deeper with Image Transformers

【状态】：提交3

【repo链接】：https://github.com/CPones/Paddle_CaiT

[2022-05-13 14:06] CPones commented on #41482
【队名】：CPones

【序号】：3

【论文】：Going deeper with Image Transformers

【状态】：提交3

【repo链接】：https://github.com/CPones/Paddle_CaiT

[2022-05-13 14:53] yeyupiaoling commented on #42584
@yang131313 如直接安装，会这样子：

[code]

[2022-05-14 02:15] yuwoyizhan opened #42767 "希望适配paddle-bfloat0.1.5版本,谢谢"
### 需求描述 Feature Description

windows,python3.9.12,使用pip安装paddle-bfloat提示,ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
paddlepaddle-gpu 2.3.0 requires paddle-bfloat==0.1.2, but you have paddle-bfloat 0.1.5 which is incompatible.

希望飞桨2.3可以适配paddle-bfloat0.1.5,谢谢

### 替代

[2022-05-14 09:30] RainFrost1 commented on #42584
按照这个文档按照试试呢？https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/windows-pip.html @yeyupiaoling

[2022-05-14 10:45] bulvara opened #42769 "HOST_NAME_MAX in gloo is undefined"
### 问题描述 Issue Description

[code]

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version: None
Paddle With CUDA: None

OS: Arch Linux rolling (GCC 12)
Python version: 3.10.4

CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: None
****************************************

[2022-05-14 11:46] yeyupiaoling commented on #42584
@RainFrost1 还是一样的。各种方式都试过了，pip，conda。cpu版本，gpu版本，noavx, avx 都试过。1.8版本，2.1版本，2.1版本

[2022-05-14 13:54] zhiboniu commented on #42769
你好，可以尝试使用paddle docker环境，避免环境依赖的问题

[2022-05-14 13:57] zhiboniu commented on #42767
你好，你的需求我们会认真考虑。你可以尝试卸载当前paddle-bfloat 0.1.5安装0.1.2版本。

[2022-05-14 14:00] yeyupiaoling commented on #41074
@GT-ZhangAcer 咋解决呢？

[2022-05-15 06:21] smilelite commented on #41482
【队名】：XRXY

【序号】：56

【论文】：RobustScanner: Dynamically Enhancing Positional Clues for Robust Text Recognition

【状态】：提交

【repo链接】：https://github.com/smilelite/RobustScanner.paddle

[2022-05-15 08:38] huaibovip commented on #41482
【队名】：小鸡毒蘑菇

【序号】：4

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：提交

【repo链接】：https://github.com/huaibovip/paddle-CvT

[2022-05-15 10:45] OccupyMars2030 commented on #42713
感谢解答，没有遇到什么问题，只是看这源代码的时候有点疑惑

[2022-05-15 10:45] #42713 closed, assigned to lzzyzlbb

[2022-05-15 14:52] mingxu1067 commented on #40013
Close this issue.

[2022-05-15 14:52] #40013 closed, assigned to weisy11

[2022-05-15 16:21] sun222 commented on #41482
【队名】：mading队

【序号】：99

【论文】：Exploring Simple Siamese Representation Learning

【状态】：报名

【repo链接】：https://github.com/sun222/PASSL

[2022-05-16 01:45] fuqianya commented on #41482
【队名】：MoR

【序号】：99

【论文】：Exploring Simple Siamese Representation Learning

【状态】：报名&提交

【repo链接】：https://github.com/Mixture-of-Rookie/PASSL

[2022-05-16 02:10] GT-ZhangAcer commented on #41074
我这的开发者也在尝试，目前是让他先用PaddleServing试一下

[2022-05-16 03:22] dingjiaweiww commented on #42759
你好，你对训练框架和Tensorrt 的预测功能都分别有需求是吗？你可以安装预测包，预测包是包含了训练功能的

[2022-05-16 04:52] lidanqing-vv commented on #42125
still fixing paddle_bfloat package CIs, compilation failures are fixed, but there is a problem while building paddlepaddle-gpu package with my changes

[2022-05-16 06:17] Daymeow opened #42780 "如何在centos6上使用paddle"
### 请提出你的问题 Please ask your question

如何在centos6上使用paddle2.2.2

[2022-05-16 06:28] yeyupiaoling commented on #42584
源码编译成功了，但是安装还是出现
[code]

[2022-05-16 06:28] #42584 closed, assigned to RainFrost1

[2022-05-16 06:31] gglin001 commented on #42433
2.3 release note

新动态图执行机制:
https://github.com/PaddlePaddle/Paddle/wiki/PaddlePaddle-2.3.0-Release-Note-CN#%E6%96%B0%E5%8A%A8%E6%80%81%E5%9B%BE%E6%89%A7%E8%A1%8C%E6%9C%BA%E5%88%B6

[2022-05-16 06:54] xiaoranchenwai commented on #40210
我也遇到了这个问题，你解决了么

[2022-05-16 07:06] lidanqing-vv commented on #42125
@jakpiase Please make sure 0.1.2 has as many tags as possible because paddle2.3 is using paddle_bfloat16 0.1.2. Thanks!

[2022-05-16 07:08] Intsigstephon commented on #42780
您好，可以拉取paddlepaddle官方镜像, 并构建进入到Docker容器里面去使用对应的paddle版本；详细的安装教程可以参考：
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[2022-05-16 07:09] JiaoPaner commented on #40210
本仓库https://gitee.com/jiaopan/Paddle.git 只修改了对于linux平台的paddlepaddle编译  对于mac,部分针对mac系统的包 有遇到仓库访问问题 需要自行修改三方仓库为国内的地址

[2022-05-16 08:50] fengxiaoshuai commented on #42607
"必须每个线程推理器的输入数据维度保持一致，不然会崩溃"和你提的第一个问题是一个事情吗？第一个问题可能是内存相关问题，第二问题提供的日志看不出来原因，希望提供具体的单测给开发人员去定位。

[2022-05-16 08:52] fuqianya commented on #41482
【队名】：MoR

【序号】：83

【论文】：Uniter: Learning universal image-text representations

【状态】：报名&提交

【repo链接】：https://github.com/Mixture-of-Rookie/UNITER-Paddle

[2022-05-16 09:21] #40348 closed, assigned to Intsigstephon

[2022-05-16 12:05] marsbzp opened #42792 "Paddle-TRT fp16模式比int8模式要快，模型是OCR QAT得到的模型INT8模式与TRT FP32速度差不多"
### 请提出你的问题 Please ask your question

是不是内部bn与relu没融合以fp32运行的
![image](https://user-images.githubusercontent.com/20138766/168588554-e6840e3a-863d-45f2-ab2a-a53002029c43.png)

[2022-05-16 12:15] doombeaker commented on #40234
【队名】：OneBeaker

【序号】：70

【状态】：PR 已经合并

【链接】：https://github.com/PaddlePaddle/docs/pull/4689

[2022-05-16 14:29] marshall-dteach commented on #41482
【队名】：Cavaliers

【序号】：34

【论文】：[Polarized Self-Attention: Towards High-quality Pixel-wise Regression](https://arxiv.org/abs/2107.00782)

【状态】：提交

【repo链接】：https://github.com/marshall-dteach/-PSA

[2022-05-16 15:33] Victory8858 opened #42796 "模型动转静报错，打印shape正常、有值，但报错说shape为[0]"
### bug描述 Describe the Bug

注：该代码为模型动转静导出时的报错代码段，从图片中可以看到报错情况，即传入卷积层的参数本应该是4维，但是说接收到的参数shape为[0]，但打印输出传入的参数shape形状却正常，为4维。
[code]

![e2c385612d8afae823d844de8a414f0](https://user-images.githubusercontent.com/47514961/168628462-43d56871-0598-43d2-86cf-35a18b37e0df.png)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-16 16:25] marshall-dteach commented on #41482
【队名】：Cavaliers

【序号】：34

【论文】：[Polarized Self-Attention: Towards High-quality Pixel-wise Regression](https://arxiv.org/abs/2107.00782)

【状态】：提交

【repo链接】：https://github.com/marshall-dteach/PSA-main/new/release/2.5

[2022-05-17 00:28] holdengreen commented on #40215
I have the same error.
Although I'm using CPU and my GCC is recent.

[2022-05-17 02:08] peteli25 commented on #41482
【队名】：together

【序号】：7

【论文】：[An Energy and GPU-Computation Efficient Backbone Network for Real-Time Object Detection](https://arxiv.org/abs/1904.09730)

【状态】：报名

【repo链接】：[repo的链接](https://github.com/dddlli/VoVNet_PaddlClas.git)

[2022-05-17 02:14] #42757 closed, assigned to zh794390558

[2022-05-17 02:16] minghaoBD commented on #42632
目前默认是静态链接，Paddle框架没有对这些有设置操作，cmake自动加上了-lcudart_static

[2022-05-17 03:22] Intsigstephon commented on #42796
你是如何执行动转静操作的呢，麻烦把动转静和调用该Module的代码提供一份，我们好复现下问题~

[2022-05-17 03:28] Intsigstephon commented on #42792
您好，麻烦描述下具体使用的是OCR哪个模型、Paddle版本，显卡型号、CUDA版本等信息，我们好针对您的问题复现下~

[2022-05-17 04:29] minghaoBD commented on #42649
这是一段demo：

[code]

运行后可以看到graph文件，然后借助graphviz工具打开哈。我测试了下，只是compileProgram不会生成graph，需要运行至少一次前向和反向。

[2022-05-17 04:29] #42649 closed, assigned to minghaoBD

[2022-05-17 04:56] Amm-W commented on #42649
感谢，我这就试一下

[2022-05-17 05:23] Victory8858 commented on #42796
### 模型导出入口程序

[2022-05-17 05:40] dddlli commented on #41482
【队名】：together

【序号】：7

【论文】：[An Energy and GPU-Computation Efficient Backbone Network for Real-Time Object Detection](https://arxiv.org/abs/1904.09730)

【状态】：提交

【repo链接】：[repo的链接](https://github.com/dddlli/VoVNet_PaddlClas.git)

[2022-05-17 06:02] firedent commented on #42759
@dingjiaweiww 是的，我现在的开发场景需要用到paddle的训练功能和TensorRT的预测功能。只是处出于好奇，希望官方可以说明一下，是出于怎样的考量才将TersorRT的预测功能和Paddle的训练功能分开的？（或者说，为什么要单独提供一个Paddle预测包，而不是将TensorRT功能加入到Paddlepaddle GPU版默认的安装包内？）

[2022-05-17 06:30] tongchangD opened #42806 "动态模型转推理模型报错，还定位不到出问题的地方"
看paddle 中存在一个上色的demo，demo中只包含pdparams参数文件，想将其转为部署模型格式，缺报如下错误
[code]
结果报错内容如下：
[code]
请问这个错误该如何解决？
请问官方有上色这块转推理部署模型的官方操作吗？

[2022-05-17 07:08] Victory8858 commented on #42796
您好，补充一下：我使用的paddle版本为2.3.0rc

[2022-05-17 07:28] lidanqing-vv opened #42811 "[oneDNN] [low priority] deepmd support reported shape op issue when EnableMKLDNN()"
### bug描述 Describe the Bug

When deepmd-kit applying paddle framework
- without mkldnn, deepmd-kit can predict
- with config->EnableMKLDNN(),the prediction will crash.
Reproduction steps as following link（oneDNN related bug，Please intel Poland help fix）
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-17 07:30] Intsigstephon commented on #42796
官方发布了2.3的正式版本，可以试下看看问题还存不存在。
另外，所提供的代码片段尚不足以正常运行起来；如果是AI-Studio项目的话，麻烦分享下项目链接；如果还有困难的话，可以加微信私聊： huakenan

[2022-05-17 07:39] Victory8858 commented on #42796
十分感谢您的回复，稍后我整理一个简易的可直接运行的Ai-Studio项目分享给您

[2022-05-17 07:42] lidanqing-vv commented on #42811
Hi, this issue is not high priority now.

[2022-05-17 07:47] ELKYang commented on #41482
【队名】：Try

【序号】：76

【论文】：EfficientGCN: Constructing Stronger and Faster Baselines for Skeleton-based Action Recognition

【状态】：报名

【repo链接】：https://github.com/ELKYang/EfficientGCNv1_paddle

[2022-05-17 07:59] peteli25 commented on #41482
【队名】：together

【序号】：7

【论文】：[An Energy and GPU-Computation Efficient Backbone Network for Real-Time Object Detection](https://arxiv.org/abs/1904.09730)

【状态】：提交

【repo链接】：https://github.com/dddlli/VoVNet_PaddlClas.git（VoVNet_PaddleClas）

[2022-05-17 08:18] Lqiuqiu commented on #42607
是同一个问题，单侧程序如下，可根据单侧程序进行复现。
=================================================
#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <fstream>
#include <iostream>
#include <string>
#include <vector>
#include <memory>
#include <list>
#include <unistd.h>
#include <pthread.h>
#include "timer.h"
#include "paddle/include/paddle_inference_api.h"
using namespace std;
using paddle_infer::Confi

[2022-05-17 08:52] chenjf2015103095 opened #42819 "paddlepaddle docker镜像是否可以考虑将trt加入？"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2022-05-17 08:54] #42632 closed, assigned to nobody

[2022-05-17 08:54] #42635 closed, assigned to minghaoBD

[2022-05-17 08:55] #42651 closed, assigned to minghaoBD

[2022-05-17 08:55] #42656 closed, assigned to lzzyzlbb, minghaoBD

[2022-05-17 08:58] #42819 closed, assigned to nobody

[2022-05-17 09:03] #42746 closed, assigned to nobody

[2022-05-17 09:11] #42769 closed, assigned to zhiboniu

[2022-05-17 09:15] #42780 closed, assigned to Intsigstephon

[2022-05-17 09:16] zhiboniu commented on #42767
后续会有升级计划，敬请期待

[2022-05-17 09:16] #42767 closed, assigned to zhiboniu

[2022-05-17 09:23] w379979233 commented on #33956
请问解决了吗？我也遇到了这个问题 显示完成device:0 cuDNN version:7.6之后 就长时间进入等待

[2022-05-17 10:36] marsbzp commented on #42792
可以使用这个开源模型ch_ppocr_mobile_v2.0_rec_slim_infer和他未量化前的模型测试，T4 cuda10.2 tensorrt7.2

[2022-05-17 10:49] SmirnovKol commented on #42609
I think it indeed  has  imcomplete  features.  When  I  have  time,  I  will  implement it myself.

[2022-05-17 12:34] jzhang533 commented on #42759
现在主要是从不同的产品定位上来做的拆分成两个package的决定。

Paddle Inference定位是高性能的预测库，所以把从Paddle的计算图中的子图交给TensorRT执行的功能放到了Paddle Inference中，同时，还在进展中的是，Paddle Inference也会集成ONNX Runtime作为推理的后端。Paddle主package的主要定位是做模型的开发和训练。我们是希望这样构成的围绕Paddle的Stack能够让用户灵活选用。

另外一些是技术性的问题上的考虑，比如引入TensorRT（及其他推理后端）到Paddle主package会对主package的体积产生影响，以及对用户环境的额外要求等。

[2022-05-17 13:32] developWmark opened #42828 "paddle2.3 profiler性能分析组件添加后报错"
### bug描述 Describe the Bug

# required: gpu
import paddle.profiler as profiler
import paddle
paddle.version.show()
prof = profiler.Profiler(
    targets=[profiler.ProfilerTarget.CPU, profiler.ProfilerTarget.GPU],
    scheduler=(1, 9),
    on_trace_ready=profiler.export_chrome_tracing('./log'))
prof.start()
for iter in range(10):
    # train()
    prof.step()
prof.stop()

##########################

[2022-05-18 00:42] 2050airobert commented on #42341
hi，
1 这次我又尝试了下  最简单的训练任务请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/01_quick_start_cn.html  这个没有问题

2 但是跑 python tools/train.py -c configs/picodet/picodet_s_416_coco_lcnet.yml --slim_config configs/slim/quant/picodet_s_416_lcnet_quant.yml  with batchsize =1 还是有问题，具体log如下
![image](https://user-images.githubusercontent.com/8407513/168934266-8b95b38d-ada9-4068

[2022-05-18 01:12] yhz5256 opened #42830 "visual studio 2022编译paddleInference报错，error : expected a "(""
### 问题描述 Please describe your issue

42>D:\Program Files\Microsoft Visual Studio\2022\Community\VC\Tools\MSVC\14.32.31326\include\xutility(1274): error : expected a "("
42>          detected during:
42>            instantiation of "decltype(auto) std::_Get_unwrapped(_Iter &&) [with _Iter=__wchar_t *&]"
42>D:\Program Files\Microsoft Visual Studio\2022\Community\VC\Tools\MSVC\14.32.31326\include\xst

[2022-05-18 01:49] jiguanglu commented on #40210
@JiaoPaner 首先非常感谢您提供此源，我用的Ubuntu18.04的版本，也遇到了 @xiaoranchenwai 他们的问题，不知道能否检查一下啊，非常感谢了。

[2022-05-18 01:53] jiguanglu commented on #42028
@ @yaoxuefeng6 你好，Paddle官方提供的wheel包，没有关于cuda11.1版本的，请问后期会有更新吗？ 我这里自己编译了很多次，也生成了wheel包，但是安装上就是用不了。
https://paddle-inference.readthedocs.io/en/master/optimize/paddle_trt.html
https://paddle-inference.readthedocs.io/en/latest/user_guides/source_compile.html
我是按照上面两个链接编译的。

[2022-05-18 02:58] weisy11 commented on #42806
你好，可以发一下demo的链接吗？

[2022-05-18 03:12] yangguohao opened #42834 "【Paddle Hackthon】"
### 问题描述 Please describe your issue

Paddle C++ 算子开发的时候如何增加输入参数支持的数据类型。

在该 [PR](https://github.com/PaddlePaddle/Paddle/pull/42364), 我想要支持不同的 label 数据类型，在 Kernel 注册算子时添加不同的数据类型，
`
PD_REGISTER_KERNEL(
    soft_margin_loss,
    CPU,
    ALL_LAYOUT,
    phi::SoftMarginLossKernel,
    float,
    double,
    int,
    int64_t) {}
`

但是对于 int32，int64的数据类型会出现以下错误。

[Hint: Expected dtype() == paddle::exper

[2022-05-18 03:13] weisy11 commented on #42828
您好，麻烦排查以下问题：
1.在当前环境下，使用paddle旧版本是否可以正常profile
2.确认安装的paddle版本是否与本地的cuda版本对应。例如如果您本地cuda版本为10.1，则应安装paddlepaddle-gpu==2.3.0.post101
3.运行paddle.utils.run_check()，确定安装的paddle是正常的

[2022-05-18 03:47] shier1 commented on #41482
【队名】：不太聪明

【序号】：19

【论文】：[DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution]

【状态】：报名

【repo链接】：https://github.com/shier1/DetectoRS-paddle

[2022-05-18 03:49] zwtu commented on #41482
【队名】：Team X

【序号】：79

【论文】：YOWO: You only watch once: A unified cnn architecture for real-time spatiotemporal action localization

【状态】：提交

【repo链接】：https://github.com/zwtu/YOWO-Paddle

[2022-05-18 03:59] wangxinxin08 commented on #42830
你可以参考https://stackoverflow.com/questions/67732065/why-does-vs2019-pro-have-compile-errors-with-xutility-xmemory-and-atomic-when 试下，把https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/flags.cmake#L33 和 https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/flags.cmake#L34 删掉试试

[2022-05-18 05:31] marshall-dteach opened #42837 "paddle.jit.load加载静态模形出错"
### bug描述 Describe the Bug

infer时加载静态模型时出错
![image](https://user-images.githubusercontent.com/63546191/168963818-500bf011-ffe3-474f-a4dc-f81c7e6d3efa.png)
![image](https://user-images.githubusercontent.com/63546191/168963956-ad49e37d-0cd2-4725-ab0a-56d77b7abfdd.png)
![image](https://user-images.githubusercontent.com/63546191/168963987-a2f4ddb4-02ec-4b1d-98d8-926503866896.png)
自己推测为静态模型大于64MB导致无法加

[2022-05-18 06:09] wangxinxin08 commented on #42837
报错信息提示，你应该先吊用
[code]
更多使用方法可以参考官方文档，https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/jit/load_cn.html#load 和 https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/model_convert/load_old_format_model_cn.html

[2022-05-18 06:28] persistone opened #42839 "paddle模型，推理时候提高GPU的使用效率"
### 请提出你的问题 Please ask your question

您好：最近用paddle的asr模型部署服务，想最大限度提高GPU使用效率，有哪些手段？当前想开多个子进程，并行处理语音推理，出现如下报错？
![image](https://user-images.githubusercontent.com/105772566/168971869-389951db-7bd9-4246-bfd5-e67580ba1ad2.png)
cpu 的 tensor通过_share_memory()可以多进程处理，gpu tensor不行，如何解决？

[2022-05-18 06:34] marshall-dteach commented on #42837
[code]
这样还是报一样的错，错误提示应该是您说的下一行

[2022-05-18 06:48] wangxinxin08 commented on #42837
分享下ai studio链接看下

[2022-05-18 06:49] marshall-dteach commented on #42837
https://aistudio.baidu.com/aistudio/projectdetail/4035457?contributionType=1
您看看能看到吗

[2022-05-18 06:50] wangxinxin08 commented on #42837
不行，显示没有公开

[2022-05-18 06:51] marshall-dteach commented on #42837
稍等，我公开一下，文件有点大

[2022-05-18 06:53] wangxinxin08 commented on #42839
你是通过什么方式部署的呢？可以提供下可复现的代码吗？

[2022-05-18 06:57] jiguanglu opened #42841 "从源码编译包含TensorRT的whl文件，出现CMake Warning:"
### 问题描述 Issue Description

1. 首先在ubuntu18.04 中 运行git clone https://github.com/PaddlePaddle/Paddle.git
2. 进入Paddle目录下：cd Paddle
3. 然后docker拉取的 registry.baidubce.com/paddlepaddle/paddle:2.2.2-gpu-cuda11.2-cudnn8 镜像；
4. 在Paddle目录下创建并进入镜像：nvidia-docker run --name cmake_trt -v $PWD:/paddle --network=host -it registry.baidubce.com/paddlepaddle/paddle:2.2.2-gpu-cuda11.2-cudnn8 /bin/bash。
5. 在Nvidia网站下载T

[2022-05-18 07:01] chenwhql commented on #42834
是不是可以参考这个 https://github.com/PaddlePaddle/Paddle/blob/bebaee37e3978251a4567f7688204df585abc21d/paddle/phi/kernels/cpu/cross_entropy_grad_kernel.cc#L201
这里kernel注册的类型应该是x的类型，label的类型需要在kernel内再分发一次

[2022-05-18 07:02] marshall-dteach commented on #42837
https://aistudio.baidu.com/aistudio/projectdetail/4035457?contributionType=1&shared=1
现在可以了吗，文件太大，只有部分文件

[2022-05-18 07:07] wangxinxin08 commented on #42841
`-DWITH_TENSORRT=ON` 这个编译选项打开下试试

[2022-05-18 07:13] yangguohao commented on #42834
这样的话我可以参考这个内容在 grad kernel 里添加吗？对于 GPU 的grad kernel 也可以同样参考该方法吗？

[2022-05-18 07:17] jiguanglu commented on #42841
@wangxinxin08 非常感谢，已经解决。

[2022-05-18 07:17] #42841 closed, assigned to wangxinxin08

[2022-05-18 07:47] #37780 closed, assigned to huangjun12

[2022-05-18 08:10] yangguohao commented on #42834
OK 我尝试一下看看

[2022-05-18 08:35] smilelite commented on #41482
【队名】：XRXY

【序号】：56

【论文】：RobustScanner: Dynamically Enhancing Positional Clues for Robust Text Recognition

【状态】：提交

【repo链接】：https://github.com/smilelite/RobustScanner.paddle

[2022-05-18 08:48] JiaoPaner commented on #40210
@jiguanglu 编译时 是否打开了DWITH_PYTHON=ON 编译选项 先关掉试试 感觉是这个引起的 clang-cindex-python3是个python包 可否提供下编译时的详细报错信息 方便快速定位

[2022-05-18 08:53] TCChenlong opened #42843 "【Feature Request】CCF GitLink编程夏令营（GLCC） & PaddlePaddle"
### CCF GitLink 编程夏令营（GLCC） & PaddlePaddle

GitLink编程夏令营（GLCC），是在CCF中国计算机学会指导下，由CCF开源发展委员会（CCF ODC）举办的面向全国高校学生的暑期编程活动。活动将覆盖近千所高校，并联合各大开源基金会、开源企业、开源社区、开源专家，旨在鼓励青年学生通过参加真实的开源软件开发，提升自身技术能力，为开源社区输送优秀人才。为青年学生提供开放友好的交流平台，希望进一步推动国内开源社区的繁荣发展。

本次飞桨PaddlePaddle社区开放4个项目，项目列表如下，欢迎对飞桨感兴趣的同学报名参加。

#### 项目一：为 Paddle 新增 EmbeddingBag<a name='task1'></a>

- 项目描述：EmbeddingBag 是 Embedding 的拓展，在功能上相当于 Embedding + 求和/

[2022-05-18 09:36] mingxu1067 opened #42845 "INT32 Failed on paddle.metric.accuracy"
### bug描述 Describe the Bug

`paddle.metric.accuracy` fails when `dtype` of `label` is `int32`, even [documents](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/metric/accuracy_cn.html) said it is allowed to be.

Reproduce Python Script:
[code]

Error Message:
* v2.3.0

[code]

* v2.2.2

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-18 09:50] chenwhql commented on #42834
可以的，其实就是对第二输入需要区分不同类型的实现，在kernel内做了个二次分发，PD_VISIT_INTEGRAL_TYPES这个展开就是个switch-case语句

[2022-05-18 09:54] yangguohao commented on #42834
我尝试了一下好像编译通过不了

#include <algorithm>
#include "paddle/phi/backends/cpu/cpu_context.h"
#include "paddle/phi/core/kernel_registry.h"
#include "paddle/phi/core/visit_type.h"
namespace phi {
template <typename T, typename LabelT>
void SoftMarginLossCPUKernel(const CPUContext& dev_ctx,
                   const DenseTensor& input,
                   const DenseTensor& label,
                   DenseTens

[2022-05-18 09:58] yangguohao commented on #42834
这个过程不仅仅是对 GradOp，对于前向计算也同样适用

[2022-05-18 10:12] marshall-dteach commented on #42837
请问这个好解决吗

[2022-05-18 10:19] jiguanglu commented on #40210
这个倒是打开了，而且我也指定了版本3.7，好的谢谢回复，我在试试，其实我更想知道你那从哪里修改的下载源从github 换成gitee？

[2022-05-18 10:44] tongchangD commented on #42806
[原始网络结构代码](https://github.com/PaddlePaddle/PaddleGAN/blob/develop/ppgan/apps/deoldify_predictor.py)

[2022-05-18 12:05] yhz5256 commented on #42830
删掉还是不行 是不是不支持visual studio 2022？

[2022-05-18 12:38] wangxinxin08 commented on #42830
建议回退下visual studio的版本到2017

[2022-05-18 12:42] wangxinxin08 commented on #42845
目前该API只支持INT64的输入，感谢您的反馈，我们评估下是否需要支持INT32的输入

[2022-05-18 13:57] developWmark commented on #42828
你好,profile是paddle2.3新推出的特性，paddle2.2没有呀。其次
![image](https://user-images.githubusercontent.com/93702453/169058252-aad8645e-90da-4243-99ce-d5352ddf2178.png)
只有在运行这个profiler的时候才会报错，如果用paddle2.3进行其他训练不加profiler，是可以正常训练的

[2022-05-18 13:58] developWmark commented on #42828
这个报错你们可以在aistudio上也可以复现的

[2022-05-18 13:58] developWmark commented on #42828
这个报错你们可以在aistudio上也可以复现的

[2022-05-18 23:21] jakpiase commented on #42125
@Aganlengzi, shiyutang's wheel cannot be found on https://pypi.org/project/paddle-bfloat/0.1.2/#files, because it was deleted by me, since I have built it with newest numpy version and it was not compatible with older ones which was causing errors listed by you above.
Today I have deleted most of the broken wheels from paddle_bfloat v0.1.2 andm I have added more new wheels, to cover a wider range

[2022-05-19 00:54] yeyupiaoling opened #42855 "Flask使用Paddle Inference出现结果交叉"
### 请提出你的问题 Please ask your question

 - PaddlePaddle 2.2.2

在Flask搭建的Web服务，使用的推理框架为Paddle Inference，当出现并发的时候，很容易出现结果混乱，把A的结果输出和B的结果输出混乱。

[2022-05-19 01:06] WenmuZhou commented on #42855
你好，能否提供一段复现代码，另外可以试一下paddle serving

[2022-05-19 02:02] marshall-dteach commented on #41482
【队名】：Cavaliers

【序号】：34

【论文】：[Polarized Self-Attention: Towards High-quality Pixel-wise Regression](https://arxiv.org/abs/2107.00782)

【状态】：提交（原repo地址填错）

【repo链接】：https://github.com/marshall-dteach/PSA

[2022-05-19 02:07] GT-ZhangAcer commented on #42855
+往期Issue https://github.com/PaddlePaddle/Paddle/issues/41074

[2022-05-19 02:17] yeyupiaoling commented on #42855
@WenmuZhou 下面为复现代码。paddle serving过于复杂，迁移到我们项目比较麻烦。

[code]

[2022-05-19 02:20] mingxu1067 commented on #42845
那官方的[文件](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/metric/accuracy_cn.html)可以考慮先移除INT32的相關訊息，這樣使用者比較不易混淆

[2022-05-19 02:30] wangxinxin08 commented on #42845
收到，感谢反馈

[2022-05-19 02:34] JiaoPaner commented on #40210
@jiguanglu 修改cmake/external下的.cmake文件

[2022-05-19 02:37] JiaoPaner commented on #40210
另外,上述问题的出现 也和这个相关 https://www.zhihu.com/question/533388365 gitee也不润了. 目前的方案:无法访问的仓库 手动下载 push到自建仓库 cmake/external里的.cmake改为自建仓库的地址

[2022-05-19 03:10] yuwoyizhan commented on #42417
@qili93 @Ligoml 两位大佬,你们内部有没有讨论?打算增加数据挖掘的仓库吗?我记得2021年一个最佳论文就是长时间序列预测.而且数据挖掘也属于机器学习的范畴吧.
退一步讲,即使你们不愿意开设数据挖掘的仓库,提供一个比较大的模型,让我们可以正常训练数据挖掘,这总可以吧?这对于你们来说,也就是一天,甚至2小时的事情.提供这个模型,对于我们这些飞桨应用者来说,非常重要,因为很多飞桨使用者,只会使用飞桨模型,并不会读飞桨源代码,甚至复现SOTA论文或者模型.你们不能指望我会组建复杂网络吧,兄弟.
提供这个模型,数据挖掘的使用者就可以一步到位,非常轻松的使用飞桨模型,哈哈哈哈,而不是自己花费1个月时间,学习组网等一堆知识,再去自己进行组建网络等步骤.
据我所知,数据挖掘,也是机器学习的一个重要领域,拜托你们了,大佬们.

[2022-05-19 03:30] #38929 closed, assigned to FeixLiu

[2022-05-19 03:31] #39220 closed, assigned to ronny1996

[2022-05-19 03:34] #40110 closed, assigned to minghaoBD

[2022-05-19 03:36] #40217 closed, assigned to zhiboniu

[2022-05-19 03:37] #40645 closed, assigned to nobody

[2022-05-19 03:46] mingxu1067 commented on #40057
There are still some different between Paddle and PyTorch.
Paddle:

[code]

[code]

PyTorch:

[code]

[code]

The question here is where do those `Non-trainable params` (53,120) come from?

[2022-05-19 05:16] firedent commented on #42759
@jzhang533 感谢您的详细解答。关于“Paddle Inference也会集成ONNX Runtime作为推理的后端”，不知您是否方便透露，以后Paddle Inference会使用ONNX Runtime作为唯一推理后端？以及，将ONNX Runtime集成进预测库大概会在今后哪个版本出现？

另，个人感觉需要编写文档的“同学”在较为明显的位置说明一下主package和预测库的区别，通过上面的[issue#5971](https://github.com/PaddlePaddle/PaddleDetection/issues/5971)您也看到了，确实有人将两者混淆了。

[2022-05-19 05:16] #42759 closed, assigned to zh794390558

[2022-05-19 05:41] CharlesJames13586 commented on #41482
【队名】：慢慢肝

【序号】：46

【论文】：GAN-Supervised Dense Visual Alignment

【状态】：报名

【repo链接】：https://github.com/CharlesJames13586/gangealing

[2022-05-19 05:51] shangzhizhou commented on #42855
请问是否是flask配合其他多线程框架使用，Predictor不是线程安全的，需要保证不能同时被不同的线程调用

[2022-05-19 06:31] Ligoml commented on #42417
我们的讨论结论其实之前已经说了~数据挖掘仓库的学术和产业价值我们不好评估，可能需要更多的数据或第三方声音的支持。如果你可以提供一些高价值模型或学术论文，我们可以内部讨论是否可以借助生态的力量复现。

[2022-05-19 06:42] 2627020811 opened #42863 "安装paddle报错"
### 问题描述 Issue Description

![image](https://user-images.githubusercontent.com/48877760/169225786-a9d5ce29-5268-46dd-bfae-f31747c24c73.png)

### 版本&环境信息 Version & Environment Information

安装paddle后导入报错，环境为ubuntu16.04，显卡3090，cuda11.1
按官网python -m pip install paddlepaddle-gpu==0.0.0.post111 -f https://www.paddlepaddle.org.cn/whl/linux/gpu/develop.html
指令安装
是不适配吗？
![image](https://user-images.githubu

[2022-05-19 06:59] Aurelius84 commented on #42681
dygraph_to_static目录下的所有单测均已替换为`tmpfile`来管理，已cherry-pick到 2.3 分支，见：https://github.com/PaddlePaddle/Paddle/pull/42860

[2022-05-19 06:59] #42863 closed, assigned to nobody

[2022-05-19 07:00] jiguanglu opened #42864 "Paddle_TRT 不支持 dynamic input shapes"
### bug描述 Describe the Bug

TensorRT版本： TensorRT-8.4.0.6
python版本：     py3.7
PaddlePaddle-gpu: 2.2.2
系统： ubuntu 18.04

import numpy as np
import paddle.inference as paddle_infer

def create_predictor():
    config = paddle_infer.Config("./resnet50/model", "./resnet50/params")
    config.enable_memory_optim()
    config.enable_use_gpu(1000, 0)

    # 打开TensorRT。此接口的详细介绍请见下文
    config.enable_tensor

[2022-05-19 07:36] zlsh80826 commented on #42681
Thank @Aurelius84, we will check it ASAP.

[2022-05-19 07:47] yangguohao commented on #42834
[code]

您好能不能再麻烦帮忙看看我这里哪里出现问题了， 我的编译没办法通过

[2022-05-19 08:00] jiguanglu commented on #42864
看到了文档。https://paddle-inference.readthedocs.io/en/latest/optimize/paddle_trt.html
解决了问题；

[2022-05-19 08:00] #42864 closed, assigned to WenmuZhou

[2022-05-19 08:33] tianshao1992 opened #42867 "高阶微分"
### bug描述 Describe the Bug

import paddle
import numpy as np
from paddle.autograd import jacobian, hessian
from paddle.fluid.dygraph import grad

x = paddle.ones(shape=[1], dtype='float32') * 2 * np.pi
x.stop_gradient = False

y = paddle.sin(x)
dydx = grad(y, x, create_graph=True, retain_graph=True)[0]
print(dydx)
dy2dx2 = grad(dydx, x, create_graph=False, retain_graph=True)[0]
print(dy2dx2)

报错如下

[2022-05-19 09:18] wangna11BD commented on #40057
nn.BatchNorm2d has 4 parameters: 'weight', 'bias', 'mean' and 'variance', where 'mean' and 'variance' are generally non-trainable parameters. Pytorch only counts the parameters of 'weight' and 'bias', while paddle counts 4 parameters, including the trainable parameters 'weight' and 'bias', and the non-trainable parameters 'mean' and 'variance'.

[2022-05-19 09:26] WenmuZhou commented on #42867
您好，我们内部会安排评估一下, 可以先试一下能不能绕过去

[2022-05-19 09:32] Zero-Tang opened #42869 "使用CPU训练模型时无法超过八线程"
### bug描述 Describe the Bug

我在使用飞桨训练图像分类的时候发现指定超过八个线程时就会报错，内容如下:
[code]
我使用的训练脚本来自[PaddleCV](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification)的`train.py`文件，调用参数如下：
[code]
其中sample是存放图像的目录。
若将`CPU_NUM`环境变量调整到8或者更小，则不会报错。
在Windows上调整`CPU_NUM`环境变量时，应当用如下命令：
[code]
训练图像源来自[Image-Net](https://image-net.org/)的"downsampled image data", 8x8的图像训练集。
![](https://user-images.g

[2022-05-19 09:32] xywlpo opened #42870 "如何使用WeightedRandomSampler和DistributedBatchSampler创建分布式数据采样器"
### 请提出你的问题 Please ask your question

您好，请问如何使用DistributedBatchSampler构建一个WeightedRandomSampler的分布式数据采集器，将其送入DataLoader创建数据加载器

[2022-05-19 10:15] Van9uard commented on #41482
【队名】：天天摸鱼

【序号】：68

【论文】：PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds

【状态】：报名

【repo链接】：https://github.com/Van9uard/PAConv_Paddle

[2022-05-19 10:48] WenmuZhou commented on #42870
你好，这样写
[code]

[2022-05-19 11:07] WenmuZhou commented on #42869
你好，看起来是那边代码的问题，在这里提问会有对应的同学解答的 https://github.com/PaddlePaddle/models/issues 。另外，分类任务，现在建议使用PaddleClas进行

[2022-05-19 11:09] xywlpo commented on #42870
感谢您的回复，我看paddle的文档上DistributedBatchSampler的接口，要求第一个输入的是一个dataset (paddle.io.Dataset) ，可以直接传入采样器吗？

[2022-05-19 11:12] weisy11 commented on #42806
你好，这个问题建议直接在PaddleGAN提issue

[2022-05-19 11:23] WenmuZhou commented on #42870
你好，我本地测试了一下，上面的写法虽然能跑，但是WeightedRandomSampler没起到作用，目前还不支持他们两一起用，抱歉，我们会尽快支持他们两一起用

[2022-05-19 12:00] marshall-dteach commented on #42837
[code]

[code]

其中export.py是PaddleSeg自带的，内容如下

[code]

下面为model.yml文件内容

[code]

运行结果如下

[code]

运行完之后可以得到三个关于静态模型的文件和一个yaml文件，模型大小分别为：

|—deploy.yaml  91B

|— model.pdiparams  299.9MB

|— model.pdiparams.info 209.2KB

|— model.pdmodel 97MB

其中deploy.yaml文件的内容如下

[code]

[code]

infer.py代码如下

[code]

运行结果：

[code]

[[根据上面第6行及以下，搜索，可以得出模型加载出现问题的结论](https://aistudio.baidu.com/paddle/forum/topic/show

[2022-05-19 12:25] xywlpo commented on #42870
请问那是否有其他的写法，可以实现WeightedRandomSampler的分布式使用，感谢

[2022-05-19 14:23] kevinng77 commented on #41482
【队名】：kevin吴嘉文

【序号】：111

【论文】：CANINE: Pre-training an Efficient Tokenization-Free Encoder for Language Representation

【状态】：报名

【repo链接】：https://github.com/kevinng77/canine_paddle

[2022-05-19 14:36] WenmuZhou commented on #42870
暂时没有哈

[2022-05-19 15:58] lidanqing-vv commented on #33831
Reproduced with
- paddlepaddle==2.3.0rc
- paddleocr==2.5.0.3
- To run it successfully, need to manually `vim /home/li/miniconda3/envs/py3.7/lib/python3.7/site-packages/paddleocr/paddleocr.py`, as solution to this issue https://github.com/PaddlePaddle/PaddleOCR/issues/1024
- Open 0.0.0.0:8088 on browser, each fresh will execute once.
The error is: In very second step, paddle with mkldnn true failed

[2022-05-20 01:30] jzhang533 commented on #42759
Paddle Inference会集成多个推理后端，包括TensorRT和ONNX Runtime。
在2.3版本中，已经完成了集成ONNX Runtime的部分工作。

- related PR： #39988
- API文档：https://www.paddlepaddle.org.cn/inference/api_reference/python_api_doc/Config/ORTConfig.html
- Tutorial：https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/paddle-onnxruntime

[2022-05-20 01:59] Intsigstephon commented on #42792
将use_calib_mode 设为False，int8测速应该就没问题了

[2022-05-20 02:16] JsutCheng commented on #42564
--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
No stack trace in paddle, may be caused by external reasons.

----------------------
Error Message Summary:
----------------------
FatalError: `Segmentation fault` is detected by the operating system.
  [TimeInfo: *** Aborted at 1653012936 (unix time) try "date -d @1653012936" if yo

[2022-05-20 02:40] rainyfly commented on #42828
您好，您在本地的时候  export LD_LIBRARY_PATH=/usr/local/cuda/extras/CUPTI/lib64/:$LD_LIBRARY_PATH 加上这个链接库路径，profiler功能依赖于Nvidia的cupti library

[2022-05-20 02:56] #40332 closed, assigned to nobody

[2022-05-20 02:57] #40327 closed, assigned to nobody

[2022-05-20 02:57] #40326 closed, assigned to nobody

[2022-05-20 02:58] #40322 closed, assigned to nobody

[2022-05-20 02:59] #40315 closed, assigned to nobody

[2022-05-20 03:00] #40310 closed, assigned to nobody

[2022-05-20 03:00] #40309 closed, assigned to nobody

[2022-05-20 03:00] #40308 closed, assigned to nobody

[2022-05-20 03:00] #40306 closed, assigned to nobody

[2022-05-20 03:01] #40304 closed, assigned to nobody

[2022-05-20 03:01] #40271 closed, assigned to nobody

[2022-05-20 03:19] lelelelelez opened #42883 "test label auto"
### 问题描述 Please describe your issue

xxx

[2022-05-20 03:25] Aurelius84 commented on #42796
复现了问题，模型代码有两处需要小小的改动：
1. fpn.py 中的 `FPN.forward`函数定义：
[code]

2. model.py 中的`RetinaNet.decoder`函数定义：
[code]

修改如上代码后，模型可以往下转写了，但还会报错，是因为`RetinaNet.decoder`函数定义包含了 转numpy的操作。类似numpy的操作均需要用 paddle 的API 等价替换才可以保存下来。具体可以参考官方文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/jit/case_analysis_cn.html#numpy

[code]

[2022-05-20 03:51] rainyfly commented on #42828
在aistudio上跑不了是因为权限问题，aistuidio目前环境用的cuda 10.1， 在stricted mode下，非root用户用不了cupti，见说明 https://developer.nvidia.com/nvidia-development-tools-solutions-err-nvgpuctrperm-cupti  ，我们会联系aistudio相关同学看能否将环境设置为unstricted mode。

[2022-05-20 05:55] mingxu1067 commented on #40057
Verified to close

[2022-05-20 05:55] #40057 closed, assigned to gongel

[2022-05-20 06:07] #42539 closed, assigned to ghostxsl

[2022-05-20 06:55] weisy11 commented on #42806
你好，这个问题可以直接在PaddleGAN的repo下面提issue

[2022-05-20 06:56] Daminan0919 opened #42888 "安装后第一次跑报AttributeError: 'WindowsPath' object has no attribute 'tell'"
### bug描述 Describe the Bug

应该是执行：model = ErnieModel.from_pretrained('ernie-1.0')时报如下错，windows中的pycharm里跑的，版本2.3.0

[INFO] 2022-05-20 14:36:48,313 [modeling_ernie.py: 267]: get pretrain dir from https://ernie-github.cdn.bcebos.com/model-ernie1.0.1.tar.gz
[INFO] 2022-05-20 14:36:54,157 [modeling_ernie.py: 285]: loading pretrained model from C:\Users\xwhmajun.paddle-ernie-cache\466eabcffd6d6a83ae9cb

[2022-05-20 07:03] Daminan0919 commented on #38807
我也想知道怎么解决的啊？

[2022-05-20 07:18] DreamJokerMJ opened #42891 "在ubuntu上paddle不支持gcc-9,gcc-10,gcc-11"
bug描述 Describe the Bug
----------------------------------------------------------
#paddlepaddle = 2.3.0(cpu) python=3.8
#gcc=9.4.0，10.3.0，11.2.0
import paddle #这里报错
----------------------------------------------------------
Error: Can not import avx core while this file exists: /usr/local/lib/python3.8/dist-packages/paddle/fluid/core_avx.so
Traceback (most recent call last):
File "", line 1, in
Fi

[2022-05-20 07:29] Ligoml opened #42892 "test-1"
## 问题描述

[2022-05-20 07:57] #42892 closed, assigned to nobody

[2022-05-20 08:21] liddk opened #42893 "Paddle 能否在Arm64平台支持分布式训练"
### 需求描述 Feature Description

任务目标：使用Paddle在Arm64上编译运行分布式训练；
;需求场景：飞腾CPU;
功能描述：使用
cmake .. -DPY_VERSION=3 -DPYTHON_EXECUTABLE=`which python3` -DWITH_ARM=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_XBYAK=OFF -DWITH_DISTRIBUTE=ON -DWITH_NCCL=ON
make TARGET=ARMV8 -j$(nproc)进行编译会报错；
在编译brpc的时候显示：
error: unrecognized command line option '-msse4'
能否官方支持Arm64编译Paddle with distri

[2022-05-20 09:45] Muttermal commented on #38857
你好，请问什么时候出支持cuda11.4的版本啊

[2022-05-20 12:04] Victory8858 commented on #42796
好的，谢谢答复，通过上述步骤解决了相关问题，但仍有问题存在，如下：
可运行项目：https://aistudio.baidu.com/studio/project/partial/verify/4055544/9ee1b3392884460d8860ced7a7be7023

1.在实际当中，模型需要传入三个参数，第一个参数为输入图片尺寸是不变的，但是第二个参数与真实框数量有关，是会变的，第三个参数也会变，但是这样规定死了，后续推理过程中如何推理？
2.按照解决方案修改后，解决问题，但依然有其他方面会报错，由于传入的参数只有shape，并没有真实值，这样在进行的过程中会导致某些变量的维度为[0]，导致无法后续进行，请问这个怎么解决？

### 仅供参考，详细报错信息可运行项目
[code]

[code]

[2022-05-20 14:00] S-HuaBomb opened #42904 "【PFCC-Roadmap】API高维功能扩展"
### Roadmap

飞桨现有算子已经能较完整地支持 2D，3D 等常见数据维度，我们希望进一步拓展一些算子的高维支持，让飞桨能支持更多应用场景的需求。本方向主要开发：和飞桨专家一起扩展现有算子的功能，开发原有一些算子对处理 3D 及以上高维数据的支持，并解决制约这些高维支持的基础问题。

根据目前的issue发现需要扩展高维支持的算子有：

1. `F.affine_grrid` 和 `F.grid_sample()` 目前不支持处理 3D 图像变形。详见 issue：[【论文复现】paddle的affine_grid如何实现三维功能 · Issue #38670](https://github.com/PaddlePaddle/Paddle/issues/38670)。

   它们的组合是实现 STN（Spatial Transformer Network）的基础组件，常用在图像

[2022-05-20 14:09] hjlllll opened #42905 "cuda算子编译成功, 运行失败,报错无法解决,求助!"
### 请提出你的问题 Please ask your question

报错信息:

File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/tracer.py", line 45, in trace_op
    not stop_gradient)
ValueError: vector::reserve

看起来是建立动态图时出现问题

[2022-05-20 14:11] hjlllll commented on #42905
加载算子时使用即时编译方式, from paddle.utils.cpp_extension import load

[2022-05-20 14:26] hjlllll commented on #42905
项目“paconv_paddle”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/3866290/0744ddd048cd47599ee61106ddce753d

项目“paconv_paddle”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/3866290/971b068151e44b3a9922b90210663afa
运行
cd work/obj_cls
python main_paddle.py --config config/dgcnn_paconv_train_paddle.yaml

[2022-05-20 14:34] xinye01234 commented on #39546
我也是很幸福的碰到了，不知道如何解决

PaddlePaddle版本：2.3.0
   2）CPU：Inter Pentium E5400
   3）GPU：无

Traceback (most recent call last):
  File "F:/bak/wzu_pic_det/wzu_pic_det.py", line 41, in <module>
    result = ocr.ocr(np.array(Image.open('./target/' + path).convert('RGB')), -1)
  File "F:\bak\wzu_pic_det\venv\lib\site-packages\paddleocr\paddleocr.py", line 474, in ocr
    dt_boxes, rec_res = self.__call__(img, c

[2022-05-20 15:55] renmada commented on #41482
【队名】：岚之山吃到饱
【序号】：120
【论文】：Personalized News Recommendation with Knowledge-aware Interactive Matching
【状态】：报名&&提交
【repo链接】：https://github.com/renmada/PaddleRec/tree/kim/models/recall/kim

[2022-05-20 17:13] bulvara opened #42907 "Gloo not disabled by WITH_DISTRIBUTE=OFF"
### 问题描述 Issue Description

Gloo is not disabled by the CMake build option `-DWITH_DISTRIBUTE=OFF`

`PADDLE_WITH_GLOO` is just a runtime and not a build time option.

Please supply an option to compile PaddlePaddle without Gloo (on par with PyTorch's `USE_GLOO=OFF`) when the build shall just run locally.

### 版本&环境信息 Version & Environment Information

Paddle version: None
Paddle With CUDA: None

O

[2022-05-20 20:19] bulvara opened #42908 "GCC12: mismatched-new-delete error in custom_device.cc"
### bug描述 Describe the Bug

When compiling PaddlePaddle with GCC 12.1 several _mismatched-new-delete_ errors arise in _custom_device.cc_ of the Phi backend:

[code]

### 其他补充信息 Additional Supplementary Information

check out git master;
[code]

[2022-05-20 21:17] piotrekobi opened #42909 "HumanMatting model error when running in Debug mode"
### bug描述 Describe the Bug

When running the HumanMatting model with PaddlePaddle compiled in Debug mode. The following error appears:
[code]

The test was executed by using the following commands:

[code]

### 其他补充信息 Additional Supplementary Information

The error occurs no matter if oneDNN is used or not.
The dataset used was https://paddleseg.bj.bcebos.com/matting/datasets/PPM-100.zip.
The mode

[2022-05-21 01:18] yuwoyizhan opened #42911 "百度飞桨书籍"
### 请提出你的问题 Please ask your question

1.昨天20号,飞桨开了一个发布会,发布会上提到2本书,我不太明白什么意思.这两本书都出版2年左右了,现在飞桨是打算对这两本书出第二版吗?《人工智能导论：案例与实践》和《神经网络与深度学习：案例与实践》,就是这两本书.如果是打算出第二版,能给个大概出版日期吗?
2.我在京东搜索飞桨,搜索到3本图书,其中有一本是《零基础实践深度学习》书籍,之前提issue,你们说估计5月底出版第二版,适配动态图,现在21号了,还没出版吗?有具体出版日期吗?京东搜索到的另外两本飞桨书籍,打算出第二版吗?

[2022-05-21 03:07] ckq0 commented on #41482
【队名】：微君之故

【序号】：36

【论文】：nnU-Net: Self-adapting Framework for U-Net-Based Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/ckq0/nnUNet/tree/main

[2022-05-21 03:34] sldyns commented on #41482
【队名】：科研累了摸会鱼

【序号】：93

【论文】：Learning Enriched Features for Real Image Restoration and Enhancement

【状态】：报名&&提交

【repo链接】：https://github.com/sldyns/MIRNet_paddle

[2022-05-21 03:35] sldyns commented on #41482
【队名】：科研累了摸会鱼

【序号】：飞桨特色模型挑战赛5

【论文】：Learning Enriched Features for Real Image Restoration and Enhancement

【状态】：提交

【repo链接】：https://github.com/sldyns/MIRNetV2_paddle

[2022-05-21 06:49] HarryUP-rhy opened #42913 "paddle2.0 ，静态图网络参数不优化"
### bug描述 Describe the Bug

在paddle2.0静态图中，LSTM网络，向网络输入收盘价及其他特征预测交易动作，根据动作获取每轮交易的夏普率，并将夏普率当作目标函数来优化，使夏普率最大。
代码以及输出信息在连接中
https://aistudio.baidu.com/ibdcpu1/user/683708/2605402/notebooks/2605402.ipynb

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-21 07:58] Wuxiao85 commented on #41482
【队名】：薄荷奶绿超好喝

【序号】：76

【论文】：EfficientGCN: Constructing Stronger and Faster Baselines for Skeleton-based Action Recognition

【状态】：报名

【repo链接】：https://github.com/Wuxiao85/paddle_EfficientGCNv

[2022-05-21 08:43] Disciple7 opened #42914 "使用PaddleDetection官方QAT配置对yolov3_mobilenet_v1_qat进行量化，量化前后无明显优化效果"
### 请提出你的问题 Please ask your question

我使用yolov3_mobilenet_v1_qat这个配置进行QAT量化，并将该模型与无量化的yolov3_mobilenet_v1_270e_voc模型进行对比，发现量化后模型没有体现优化效果。

对比一：运行deploy/python/benchmark.sh和deploy/python/benchmark_quant.sh，分别用两模型在850张图片上进行推理。运行方式为：
bash deploy/benchmark/benchmark.sh ./inference_model/yolov3_mobilenet_v1_270e_voc_origin model
bash deploy/benchmark/benchmark_quant.sh ./inference_model/yolov3_mobilene

[2022-05-22 02:48] liuyang77886 opened #42917 "自定义模型paddle.Model训练出的结果paddle.model.predict预测结果是正确， paddle.load、paddle.model.save等动态图静态图下预测结果都错误，希望直接aistudio看结果"
### 请提出你的问题 Please ask your question

自定义模型paddle.Model训练，
动态图：paddle.Model.load然后paddle.model.predict预测结果是正确，paddle.load然后set_state_dict然后eval()然后前向计算结果错误，
静态图：使用paddle.load然后paddle.jit.to_static然后paddle.jit.save然后预测paddle.inference.create_predictor结果错误
静态图：使用paddle.model.save('inference', False)然后paddle.inference.create_predictor(paddle.inference.Config('inference.pdmodel', 'inference.pdiparams'

[2022-05-22 03:04] AK391 opened #42918 "PaddlePaddle + Gradio Blocks"
### 问题描述 Please describe your issue

Hi, PaddleHub models are on Hugging Face https://huggingface.co/PaddlePaddle using Gradio, it would be great if paddlepaddle developers can join the Gradio Blocks hackathon this month to build demos with paddlepaddle using Gradio Blocks or share with others who might be interested, thanks, link to hackathon: https://huggingface.co/Gradio-Blocks

[2022-05-22 04:06] liuyang77886 commented on #42917
我修改为如下方式，结果还是不一致，原来能正确识别，导出静态后精度只有10%

n=Net(is_infer=True)
para_state_dict = pp.load("/home/aistudio/output/final.pdparams")
n.set_state_dict(para_state_dict)

model = pp.jit.to_static( n, input_spec=[input_define] )
pp.jit.save(model, 'model')

[2022-05-22 05:31] jiuwuxiaohun opened #42920 "动转静态图，不支持to_tensor()"
### bug描述 Describe the Bug

[code]

T5系列的模型均不可以转换，比如 Langboat/mengzi-t5-base  t5-small  t5-large

报错为：
We only support 'to_tensor()' in dynamic graph mode, please call 'paddle.disable_static()' to enter dynamic graph mode.

这是需要模型修改，还是需要paddle修改呢？还是paddleNlp团队修改呢？

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-22 08:17] jm863936705 commented on #41482
【队名】：为你弹奏肖邦的夜曲

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution

【状态】：报名

【repo链接】：https://github.com/jm863936705/DetectoRS

[2022-05-22 13:57] yghstill commented on #42914
@Disciple7
1. QAT模型需要使用trt_int8模式预测才能加速。
2. 根据你的描述，显存占用不太符合预期。
3. yolov3的trt_fp16和trt_int8预测速度相近是符合预期的，之前测试结论也是这样，可能是因为模型某些层没有跑在trt中，预测速度还待优化。
4. 未量化模型可以使用trt_fp16模式预测，但是使用trt_int8预测尽管可以跑通，但是结果是错误的，因为权重激活等都不是量化后的参数。

[2022-05-22 14:11] yghstill commented on #42917
@liuyang77887 n.set_state_dict(para_state_dict) 之后在动态图下预测结果正确吗？

[2022-05-22 14:18] yghstill commented on #42920
@jiuwuxiaohun 感谢反馈，我们联系PaddleNLP同学看下这个问题~

[2022-05-23 00:47] Gmgge commented on #39546
@xinye01234  你好，方便按照上面所说，提供执行日志分析嘛，我因为后续没在搞这个点，所以没提供到日志。

[2022-05-23 01:53] liuyang77886 commented on #42917
以下输出结果与pp.jit.to_static输出结果一致都是精度不准确的结果。只有在model = pp.Model(Net(), inputs=x, labels=y) 精度才是准确的
n=Net(is_infer=True)
para_state_dict = pp.load("/home/aistudio/output/final.pdparams")
n.set_state_dict(para_state_dict)
n.eval()
img_name=r'/home/aistudio/sample_img/8205.jpg'
path=r'/home/aistudio/sample_img'
for root, dirs, files in os.walk(path):
    for f in files:
        img_name = os.path.join(ro

[2022-05-23 02:29] kingwpf commented on #40210
我是在Mac下编译的，这个应该不是你直接依赖的包，是依赖的依赖

[2022-05-23 02:29] kingwpf commented on #40210
我是在Mac下编译的，这个应该不是你直接依赖的包，是依赖的依赖

[2022-05-23 02:44] LiuChiachi commented on #42911
@wulei123456789 是否可以帮忙回答一下呢，谢谢

[2022-05-23 03:05] wuyefeilin commented on #42909
欢迎提isssue到PaddleSeg哈，方便我们进行跟踪解决问题。 https://github.com/PaddlePaddle/PaddleSeg/issues

[2022-05-23 03:09] hjlllll commented on #42525
我看.cc 文件中没有定义 PD_BUILD_OP,所以没法调用?

[2022-05-23 03:44] wulei123456789 commented on #42911
亲爱的开发者朋友，
您好！
感谢您参加WAVE SUMMIT峰会，并持续关注和支持飞桨各项特性的发布。

关于您提出的问题回复如下：

1）《人工智能导论：案例与实践》是《人工智能导论：模型和算法》的配套实践书籍，由飞桨教材编写组与浙大吴飞老师、朱强老师合作开发。在《人工智能导论：模型和算法》理论解读的基础上，配套设计了一系列的实践案例。目前书稿已经进入高教社审校中，预计Q3上市。当前实践部分的线上课程已经开源，您可以登录AI Studio学习：https://aistudio.baidu.com/aistudio/education/group/info/25224，并持续关注课程公告中书籍上市信息。

2）《神经网络与深度学习：案例与实践》是《神经网络与深度学习》（蒲公英书）的配套实践书籍，由飞桨与复旦邱锡鹏老师合作开发，帮助读者在动手实践中更好的掌握模型和算法，并掌握从零开始搭建自己

[2022-05-23 03:54] LiuChiachi commented on #42913
您好，您的代码可能没有公开，我这里好像看不到，可以公开一下项目或者贴出核心代码吗，谢谢:)

[2022-05-23 04:00] LiuChiachi commented on #42907
您好，感谢反馈:)我们已经联系了分布式的同学帮忙解决

[2022-05-23 04:00] HarryUP-rhy commented on #42913
https://aistudio.baidu.com/aistudio/projectoverview/public?kw=teiaoshi
公开了呀，试试这个链接吧！

[2022-05-23 04:03] LiuChiachi commented on #42909
HI@wuyefeilin 是否可以帮这位用户直接把paddle issue转到paddleseg里去呢（我没有权限，可以找下有权限的同学），或者先基于现在的issue帮忙定位一下呢

[2022-05-23 04:19] LiuChiachi commented on #42913
Hello，我找到一个版本相近API 写的的示例代码，https://github.com/PaddlePaddle/models/blob/08316fb833602f26d718defe2f40b81c1b8bc27a/PaddleNLP/seq2seq/seq2seq/train.py#L77 ，会不会是program这里定义的时候没有加 with guard

[2022-05-23 04:44] RenHyz commented on #42913
意思是在我写的infer_act_program之后再把网络定义和损失函数定义写在with fluid.program_guard(train_program, startup_program)里面，然后在训练的时候再调用train_program吗？

[2022-05-23 04:45] HarryUP-rhy commented on #42913
意思是在我写的infer_act_program之后再把网络定义和损失函数定义写在with fluid.program_guard(train_program, startup_program)里面，然后在训练的时候再调用train_program吗？

[2022-05-23 04:46] ronny1996 commented on #42908
Please try compiling with the patch below

[code]

[2022-05-23 05:21] KangChou opened #42924 "Hint: 'cudaErrorUnknown'. This indicates that an unknown internal error has occurred."
### bug描述 Describe the Bug

[code]

### 其他补充信息 Additional Supplementary Information

paddlepaddle-gpu-2.3.0

https://github.com/baidu/DDParser

DDParser/ddparser# bash run_predict.sh

[2022-05-23 06:15] wenming2014 commented on #42891
您好，应该是linux版本的问题，相同问题见https://github.com/PaddlePaddle/Paddle/issues/36801

[2022-05-23 06:19] cuicheng01 commented on #42924
hi，请问paddlepaddle-gpu是如何安装的呢？是否和cuda版本相匹配呢？

[2022-05-23 06:26] wenming2014 commented on #42893
您好，arm cpu是不是不支持sse指令？建议您check下编译选项

[2022-05-23 06:28] wenming2014 commented on #42904
您好，已收到您的需求，我们会进行相应的评估

[2022-05-23 06:30] yingyibiao commented on #42920
您好，我们目前还没有支持 T5 模型动转静，这个功能后续会由 PaddleNLP 进行支持。

[2022-05-23 06:40] wenming2014 commented on #42888
您好，看下paddle.utils.run_check()能不能跑通，看下是否是安装问题

[2022-05-23 06:52] LiuChiachi commented on #42913
我不确定现在的写法训练用的program是哪一部分，train调用的train_program需要包括损失函数的计算，梯度计算、参数更新那部分，而inference_program则不需要参数更新的那部分代码。看起来是你的参数没有更新，可能需要检查下train_program这部分的代码。你在debug的时候也可以把网络中间变量的梯度加到fetch_list里打印出来看看是不是正常的

[2022-05-23 06:55] mybabyyh commented on #41482
【队名】：mybabyyh

【序号】：45

【论文】：Training Generative Adversarial Networks with Limited Data

【状态】：报名

【repo链接】：https://github.com/mybabyyh/paddle_stylegan2_ada

[2022-05-23 07:24] Victory8858 commented on #42796
请问可以帮忙看下上面的问题吗

[2022-05-23 07:39] Daminan0919 commented on #42888
这个早试过了，可以跑通

***@***.***

发件人： wangone
发送时间： 2022-05-23 14:40
收件人： PaddlePaddle/Paddle
抄送： Daminan0919; Author
主题： Re: [PaddlePaddle/Paddle] 安装后第一次跑报AttributeError: 'WindowsPath' object has no attribute 'tell' (Issue #42888)
您好，看下paddle.utils.run_check()能不能跑通，看下是否是安装问题
—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message

[2022-05-23 07:40] Daminan0919 commented on #42888
跑出来有报：
PaddlePaddle works well on 2 CPUs.
PaddlePaddle is installed successfully! Let's start deep learning with PaddlePaddle now.

这个早试过了

***@***.***

发件人： wangone
发送时间： 2022-05-23 14:40
收件人： PaddlePaddle/Paddle
抄送： Daminan0919; Author
主题： Re: [PaddlePaddle/Paddle] 安装后第一次跑报AttributeError: 'WindowsPath' object has no attribute 'tell' (Issue #42888)
您好，看下paddle.utils.run_check()能不能跑通，看下是否是安装问题
—
R

[2022-05-23 08:59] lidanqing-vv commented on #42322
@Aganlengzi Hi the memory comparison before and after is done here
https://github.com/PaddlePaddle/Paddle/pull/41303#issuecomment-1088070248

[2022-05-23 09:20] lidanqing-vv commented on #42322
Hi, @Aganlengzi this memory consumption comparison is only done on CPU and with MKLDNN and it showed not obvious memory increase, there will more benchmark follows, thanks.

[2022-05-23 09:27] yghstill commented on #42917
@liuyang77886 请检查下final.pdparams权重是否正确吧，根据你的描述，加载这一份权重预测的结果都不正确？

[2022-05-23 09:45] sdcb opened #42937 "PaddleInference C API should support PaddlePassBuilder class in C++ API"
### bug描述 Describe the Bug

Here is the C++ API:
https://paddle-inference.readthedocs.io/en/latest/api_reference/cxx_api_doc/PaddlePassBuilder.html

This one was not provided in C API, please also add it in C.

### 其他补充信息 Additional Supplementary Information

In latest PaddleOCR v3, it calls `pass_builder()` to adjust some parameters, this ability should able to migrate into C API so that it can b

[2022-05-23 09:47] #42911 closed, assigned to LiuChiachi

[2022-05-23 09:48] sunzhongkai588 opened #42938 "【飞桨体验评测任务第三期】"
## 一、背景介绍

2022年飞桨将重点开展开发者生态贡献机制，建立开发者与飞桨的多样化联动，共同打造优秀的开源生态。在今年3月，我们开展了第二次评估，重点放在了API文档与目录大纲评测以及安装文档与报错评测，共收集到反馈 210+条，为相关产品的优化提供了重要的信息输入。为了进一步提升飞桨框架的使用体验，我们诚挚的邀请你参与到第三期体验评估中，这次主要是飞桨分布式文档评估与硬件接入的评估，并且和我们一起共建飞桨框架，后续会陆续安排其他产品模块的体验评测，希望大家持续关注。

## 二、参与流程
![image](https://user-images.githubusercontent.com/70642955/169789254-206eb856-5ba2-4326-91f8-80cde5f4b824.png)

## 三、具体任务：
### 1、Paddle分布式文档—全流程打卡任

[2022-05-23 09:51] #42920 closed

[2022-05-23 10:18] #42845 closed, assigned to wangxinxin08

[2022-05-23 10:57] liuyang77886 commented on #42917
paddle.Model.load结果是正确，paddle.load结果错误
 paddle.Model.load结果是正确，paddle.load结果错误
 paddle.Model.load结果是正确，paddle.load结果错误

[2022-05-23 11:09] #40234 closed, assigned to TCChenlong

[2022-05-23 11:20] 2050airobert commented on #42341
hi，
按照您的指示https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim ，我已经在线训练量化好了一个生成文件  picodet_s_416_lcnet_quant ，只生成了这一个文件，应该是权重文件吧？ 是否可以直接加上扩展名pdigrams，但是还有一个对应的pdmodel 我就直接用原始的模型文件吧？
于是，使用这两个文件 进行opt 转换到paddle lite ，结果failed   [F 5/23 9:52:17.895 ...e-Lite/lite/model_parser/pb/tensor_io.cc:105 ForwardRead] The version of tensor 60097664 is not supported.
![image](https://us

[2022-05-23 11:52] onecatcn commented on #42893
您好，我们团队也希望研究一下这个问题，请问能够提供具体的硬件和环境信息吗？

[2022-05-23 12:08] jzhang533 commented on #42891
初步定位，当运行时的环境，是glibc 2.34时，该问题会出现。
@pangyoki @XieYunshen is working on this.

[2022-05-23 13:27] yoreG123 commented on #41482
【队名】：cHEn

【序号】：118

【论文】：Feature Generation by Convolutional Neural Network for Click-Through Rate Prediction

【状态】：提交

【repo链接】：https://github.com/chenjiyan2001/Paddle-fgcnn

[2022-05-23 13:28] yaomichael commented on #37930
@baoachun @jiangjiajun can you help remove keyword "multithreading" from the title, as we agreed?
On the other side, @jczaja is still working on further improve single thread performance.

[2022-05-23 13:40] liuyang77886 commented on #42917
以下是aistudio地址
https://aistudio.baidu.com/aistudio/projectdetail/4067637?contributionType=1

[2022-05-23 15:38] fuqianya commented on #41482
【队名】：MoR

【序号】：102

【论文】：Dense Contrastive Learning for Self-Supervised Visual Pre-Training

【状态】：报名&提交

【repo链接】：https://github.com/Mixture-of-Rookie/PASSL

[2022-05-23 19:53] jakpiase commented on #39473
Just a quick update FYI:
A PR introducing proper BF16 support inside PaddlePaddle's pybind conversions between Python and C++ is currently being implemented by me in: #40323 which is dependent on #42865. It's goal is to stop using uint16 datatype as a placeholder for BF16 and start using a standalone BF16 datatype which is introduced in paddle_bfloat package, after all these changes PaddlePaddle w

[2022-05-24 02:20] Aurelius84 commented on #42796
对于某个维度是动态shape情况，可以指定为None，参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/jit/basic_usage_cn.html#inputspec

[2022-05-24 02:22] Aurelius84 commented on #42796
如前所述，在转静过程中，所有推理相关的操作均需要使用paddle的API，且不要转numpy + paddle.to_tensor，此类操作会截断网络表示，参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/jit/case_analysis_cn.html#numpy

[2022-05-24 02:58] KangChou commented on #42924
是的，已经正确安装，版本是2.3

env:

python3.6+anaconda3+ubuntu16.04+docker

@cuicheng01 @paddle-bot

[2022-05-24 02:58] yangyan1227 opened #42948 "reshape 比如[24,768] reshape [8,3,768] 8代表batch size，但是有时候batch size是不满的，【24，768】就有可能是【18，768】，怎么动态调整reshape的第一维"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

### 替代实现 Alternatives

_No response_

[2022-05-24 03:02] jzhang533 commented on #42918
Hi, we have included this issue into our pinned community events navigation page: #42410 .

[2022-05-24 03:04] cxxly commented on #42948
需求描述的不太清楚，不太能明白您的意思。

reshape前后元素个数必须保持一致，如果reshape后某一个轴的形状不确定，可以-1表示

[2022-05-24 03:10] yangyan1227 commented on #42948
明白 谢谢您的回复

[2022-05-24 03:59] wuyefeilin commented on #42909
@piotrekobi 在paddlepaddle-gpu==2.3.0是可以正常导出和部署的，可以先用2.3.0版本哈。

@Aurelius84 另外根据用户反馈是在[16ce33](https://github.com/PaddlePaddle/Paddle/commit/16ce33b0befb8db0c48db1935f17f23de3697687)中出的问题，帮忙看一下哈

[2022-05-24 05:03] adaxiadaxi commented on #42893
@liddk 您好，我们在看arm平台下支持分布式训练的编译工作，可以加我的微信我们一起对下看看，微信号：zxy8811666

[2022-05-24 06:35] jeekMic opened #42954 "和谷歌原生的Camera以及UVCCameraTextureView相结合"
### 需求描述 Feature Description

现在的demo上是基于OpenGL来渲染绘制的，但是最好能在uvc和普通的相机上能有结果就比如谷歌自带相机打开的那样

### 替代实现 Alternatives

_No response_

[2022-05-24 06:42] yaomichael commented on #37005
As agreed on 5/20 meeting, @baoachun and @jiangjiajun will arrange acceptance test on SPR, target to finish by end of May.

[2022-05-24 06:51] #22411 closed, assigned to zhhsplendid, liupluswei

[2022-05-24 06:51] #26410 closed, assigned to bjjwwang

[2022-05-24 06:51] #29389 closed, assigned to luotao1

[2022-05-24 06:51] #30909 closed, assigned to MissPenguin

[2022-05-24 06:51] #31997 closed, assigned to jiweibo, chenjiaoAngel

[2022-05-24 06:51] #32024 closed, assigned to nobody

[2022-05-24 06:51] #32746 closed, assigned to juncaipeng

[2022-05-24 06:51] #32802 closed, assigned to ForFishes

[2022-05-24 06:51] #32805 closed, assigned to zhwesky2010, Thunderbrook

[2022-05-24 06:51] #32852 closed, assigned to huangjun12

[2022-05-24 06:51] #32871 closed, assigned to huangjun12

[2022-05-24 06:51] #32873 closed, assigned to huangjun12

[2022-05-24 06:51] #32895 closed, assigned to Aurelius84

[2022-05-24 06:51] #32905 closed, assigned to LDOUBLEV

[2022-05-24 06:51] #32907 closed, assigned to LDOUBLEV

[2022-05-24 06:51] #32909 closed, assigned to LDOUBLEV

[2022-05-24 06:51] #32919 closed, assigned to LDOUBLEV

[2022-05-24 06:51] #32925 closed, assigned to wangxicoding

[2022-05-24 06:51] #32942 closed, assigned to vslyu

[2022-05-24 06:51] #32943 closed, assigned to vslyu

[2022-05-24 06:51] #32951 closed, assigned to pangyoki

[2022-05-24 06:51] #32952 closed, assigned to pangyoki

[2022-05-24 06:51] #32959 closed, assigned to pangyoki

[2022-05-24 06:51] #32965 closed, assigned to jiangjiajun, pangyoki

[2022-05-24 06:51] wkzqn commented on #32802
谢谢。您的邮件已收到，我会尽快处理。

[2022-05-24 06:51] #32992 closed, assigned to wanghuancoder

[2022-05-24 06:51] #33032 closed, assigned to nobody

[2022-05-24 06:51] #33033 closed, assigned to nobody

[2022-05-24 06:51] #33040 closed, assigned to TeslaZhao

[2022-05-24 06:55] yaomichael commented on #38126
notes from 5/20 meeting:
The regression caused by PaddleHub team should have been fixed already. @jiangjiajun will check internally and close this ticket.

[2022-05-24 06:58] yaomichael commented on #42125
Notes from 5/20 meeting:
@jiangjiajun will arrange test for Paddle-bfloat 0.1.7 and upgrade PaddlePaddle with it.

[2022-05-24 07:03] yaomichael commented on #34927
@Aganlengzi can you close this ticket if no further action needed?

[2022-05-24 07:05] yaomichael commented on #28555
notes from 5/20 meeting:
@jiangjiajun is benchmarking against OpenVINO and will have data with more models shortly. No action needed from Intel until then.

[2022-05-24 07:08] lidanqing-vv commented on #34927
@yaomichael  @Aganlengzi  Hi, this issue is caused by the same reason as https://github.com/PaddlePaddle/Paddle/issues/39473. I was thinking after Jakub's bf16 core RP https://github.com/PaddlePaddle/Paddle/pull/40323 is merged, he can also test this issue case. But if you prefer you can close it.

[2022-05-24 07:22] Aganlengzi commented on #34927
Still need  further action as @lidanqing-intel said.

[2022-05-24 07:23] yaomichael commented on #40381
notes from 5/20 meeting

BERT may have been disabled accidently during a restructure. @jiangjiajun is confirming this and bring BERT back accordingly.

[2022-05-24 07:23] yaomichael commented on #40339
notes from 5/20 meeting (same as #40381 )

BERT may have been disabled accidently during a restructure. @jiangjiajun is confirming this and bring BERT back accordingly.

[2022-05-24 07:28] yaomichael commented on #37422
notes from 5/20 meeting:
@wozna is taking further optimization from @lidanqing-intel, and expect to deliver in early Q3.

[2022-05-24 07:29] yaomichael commented on #36905
@jiangjiajun can you share the model to reproduce this issue with us?

[2022-05-24 07:29] yaomichael commented on #37075
notes from 5/20 meeting (same as #40381 )

BERT may have been disabled accidently during a restructure. @jiangjiajun is confirming this and bring BERT back accordingly.

[2022-05-24 07:35] yaomichael commented on #34554
notes from 5/20 meeting

need to monitor any potential side effects of large cache. so keep it open for a while.

[2022-05-24 07:36] yaomichael commented on #33168
@lidanqing-intel is looking into this.

[2022-05-24 07:37] yaomichael commented on #31103
notes from 5/20 meeting
@jiangjiajun will check internally and close this ticket.

[2022-05-24 08:43] sunzhongkai588 opened #42958 "【PFCC-Roadmap】飞桨体验评测任务第三期"

[2022-05-24 08:50] #42834 closed, assigned to wangxinxin08

[2022-05-24 08:54] sunzhongkai588 commented on #42958
# 附录
## 任务说明
### 1、Paddle分布式文档—全流程打卡任务
* 任务名称：飞桨分布式文档快速开始评测任务（负责人微信昵称：Tina侨、Suen.ZK）
* 任务难度：高等
* 任务一描述：
  * 干什么：我们提供了【单机转多机多卡数据并行】说明文档：[数据并行](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/06_distributed_training/cluster_quick_start_cn.html)  和 若干个单机示例（见下方），您需要根据【[数据并行](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/06_distributed_training/cluster_quick_

[2022-05-24 09:02] Victory8858 commented on #42796
您好，已全部按照上述更改，使用numpy的部分全部替换成paddle API，但仍然有维度报错，报错中指出shape为[-1]
Ai Studio可复现项目如下：https://aistudio.baidu.com/studio/project/partial/verify/4087028/8ff1853e9c2a419a93c834bcf59d4262
非常感谢您的解答！

[2022-05-24 09:08] yghstill commented on #42917
@liuyang77886 Model.load之后，然后动转静的模型预测结果正确吗？

[2022-05-24 09:08] #42914 closed, assigned to yghstill, LiuChiachi

[2022-05-24 12:37] Water2style opened #42966 "Jetson Nano用FP16模式推理MobileNetV1, 在BS=1的情况下性能不如FP32模式."
### 请提出你的问题 Please ask your question

Jetson Nano用FP16模式推理MobileNetV1, 在BS=1的情况下性能不如FP32模式.

当BS设置为2或者更高的时候, 才能看到FP16模式带来的受益. 这个原因可能是计算更密集了, 所以带来一定收益. (比如ResNet50的FP16在BS=1下, 是比FP32快的)

但是M为什么MobileNetV1在BS=1的时候, FP16跑的反而比FP32慢呢? 按理说FP16的引擎准备是在推理之前就完成了.
那难道推理中,FP16模式还会有其他的开销?

谢谢

[2022-05-24 13:35] lidanqing-vv commented on #37930
@baoachun
Since this issue is opened, several fusions related to VIT-OCR have been merged, like `conv + gelu` and `fc + gelu` and `fc + elementwise_add`.
The performance table should be updated.
Could you please tell us which machine the performance in the table is tested, we will test this VIR-OCR with newest develop and update the performance table

[2022-05-24 14:25] liuyang77886 commented on #42917
你问了我2个问题，我第一次就把信息都写出来了的。是否可以运行我贴出来的aistudio项目，这样效率更高
paddle.Model训练，
动态图：paddle.Model.load预测结果是正确，paddle.load结果错误，
静态图：使用paddle.load然后paddle.jit.to_static然后paddle.jit.save然后预测paddle.inference.create_predictor结果错误
静态图：使用paddle.model.save('inference', False)然后paddle.inference.create_predictor(paddle.inference.Config('inference.pdmodel', 'inference.pdiparams'))结果错误

[2022-05-24 14:26] liuTINA0907 opened #42970 "【PFCC】飞桨框架产品体验评估"
### Roadmap
2022年飞桨将重点开展产品体验评测和优化工作，共同好用易用的深度学习基础框架。在今年初，我们联动外部开发者生态例行开展了两期体验评估工作，重点聚焦在文档（API文档、使用指南）和产品全流程打卡两个线条。通过这两期的体验评测工作，我们共收集到反馈 210+条、PR 20+条、bug 修复20+个，为相关产品的优化提供了重要的信息输入。

后续，我们将不定期发布框架的体验评测工作，持续提升飞桨框架的使用体验和产品能力。我们诚邀大家参与第三期体验评估活动，这次主要是飞桨分布式全流程体验评估与硬件接入的评估任务，欢迎大家报名参与。

[2022-05-24 14:29] liuTINA0907 commented on #42970
### 附录
【方向说明】
* 技术标签：深度学习框架，Python，分布式
* 详细描述：目前飞桨产品体验正处于高速迭代和优化的状态，当前产品使用体验和使用指南内容存在很多易用性的问题。因此，框架内部启动了产品体验评估专项课题，专门针对核心功能体验和文档进行系统性优化。5月23日，我们启动了[飞桨第三期评测任务](https://github.com/PaddlePaddle/docs/issues/4846)，邀请对飞桨有兴趣的开发者作为评测用户，来完成我们提供的相应任务。根据评测用户的使用体验和问题反馈，从而进一步暴露文档使用指南和产品设计中存在的问题，以此完善飞桨框架的产品体验。

【参与指南】：
* 飞桨成立了 [PFCC(Paddle Framework Contributor Club)](https://github.com/PaddlePaddle/community/t

[2022-05-24 17:00] ultranity commented on #41482
【队名】：ultranity

【序号】：23

【论文】：SimDR: Is 2D Heatmap Even Necessary for Human Pose Estimation?

【状态】：报名 & 提交

【repo 链接】：https://github.com/ultranity/Paddle-SimDR

[2022-05-25 01:42] #42958 closed, assigned to cxxly

[2022-05-25 02:33] jiangjiajun opened #42972 "Could not create a primitive descriptor while running quantized model with MKLDNN"
### bug描述 Describe the Bug

We have test quantized mobilenet with PaddlePaddle develop version(not sure the commit id, but it's nightly build version 2022.05.24)

And find that while infer with different batch size, it will throw an error `Could not create a primitive descriptor for a reorder primitive`

The quantized model is running well with PaddlePaddle v2.3, but in 2.3 we need preprocess the

[2022-05-25 02:47] daming5432 opened #42973 "咨询一下关于paddle resnet50模型动态图concat reduce_mean、reduce_mean_grad、c_broadcast 的作用"
### 请提出你的问题 Please ask your question

你好，在打印模型训练log时发现resnet50会执行到concat、reduce_mean、reduce_mean_grad、c_braodcast这些op。我用
netron打开保存的模型并没有发现这些op。能帮忙解释一下为什么会用到这些op，以及这些op在训练过程中的作用吗？非常感谢~

[2022-05-25 04:02] yangyan1227 opened #42975 "使用场景：listwise训练方式下，输入，query+ para1+para2+para3.... 0 1 2, 但是每个query下的para数量不同，每个query+[seq]+para 输入transformer，所以在transformer之后CLS维度是[batch size, para_num, hiddien size]]，因为每个query下的para数量不同，所以需要做padding处理，请问怎么做padding处理？"
### 请提出你的问题 Please ask your question

使用场景：listwise训练方式下，输入，query+ para1+para2+para3.... 0 1 2, 但是每个query下的para数量不同，每个query+[seq]+para 输入transformer，所以在transformer之后CLS维度是[batch size, para_num, hiddien size]]，因为每个query下的para数量不同，所以需要做padding处理，请问怎么做padding处理？

[2022-05-25 06:02] OneYearIsEnough commented on #41482
【队名】：Adream

【序号】：58

【论文】：On Recognizing Texts of Arbitrary Shapes with 2D Self-Attention

【状态】：报名

【repo 链接】：https://github.com/OneYearIsEnough/satrn2d.git

[2022-05-25 06:40] minogame opened #42979 "AdamW计算结果异于Pytorch"
### bug描述 Describe the Bug

可复现代码如下，结果见补充信息

[code]

### 其他补充信息 Additional Supplementary Information

[code]

[2022-05-25 06:54] jiangjiajun opened #42980 "Low performance while inference speech model with mkldnn under dynamic shape"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

### 替代实现 Alternatives

PaddleSpeech requires dynamic shape while inference, but while `enable_mkldnn`, it shows low performance compare with `disable_mkldnn`

Here is the steps to run speech model, include two models `fast_speech` and `hifigan`
[code]
@yaomichael

[2022-05-25 07:00] cxxly commented on #42954
您好，没太明白您的需求，能具体描述下吗？
是对PaddlePaddle主框架功能的需求，还是对计算机视觉套件需求？

[2022-05-25 07:19] jeekMic commented on #42954
public boolean process(int inTextureId, int outTextureId, int textureWidth, int textureHeight, String savedImagePath) {
        if (ctx == 0) {
            return false;
        }
        return nativeProcess(ctx, inTextureId, outTextureId, textureWidth, textureHeight, savedImagePath);
    }
是这样的 我看到这个接口是处理纹理的接口，有直接对camera相机的那种byte[] 数据处理的吗

[2022-05-25 07:20] jeekMic commented on #42954
我这边现在用的是UVC相机，没办法拿到这个纹理inTextureId，这个接口用不起来

[2022-05-25 07:21] jeekMic commented on #42954
mFaceSurfaceView.setSurfaceTextureListener(new TextureView.SurfaceTextureListener() {
            @Override
            public void onSurfaceTextureAvailable(SurfaceTexture surfaceTexture, int i, int i1) {

            }

            @Override
            public void onSurfaceTextureSizeChanged(SurfaceTexture surfaceTexture, int i, int i1) {

            }

            @Override
            public

[2022-05-25 07:51] heliqi commented on #42966
1. 并不是所有op都是用FP16运行。 如果计算量太小，FP16的加速效果还抵不上数据格式转换带来的开销。
2. nano没有fp16的tensor core，所有加速效果也不会特别大。 带FP16的tensor core硬件可以看这个文档： https://docs.nvidia.com/deeplearning/tensorrt/support-matrix/index.html

<img width="1021" alt="d79b41557c6e892b469ffb5455ba49e6" src="https://user-images.githubusercontent.com/34152981/170210114-e6851005-9a33-46c8-abb3-ad7b5e2e3c94.png">

[2022-05-25 07:54] Water2style commented on #42966
感谢回复.
对于问题1, 那是在inference的时候也会存在数据格式的转换吗?比如在运行时会有FP32-FP16-FP32的转换.  我之前以为是在编译engine的时候就转换好了.

[2022-05-25 08:25] PyAllegro commented on #39916
你好，我这边也遇到了同样的问题，可以讲下你具体改动的内容吗（目前还处于跑通demo阶段,非常感谢!）

[2022-05-25 09:03] wangxicoding commented on #42907
-DWITH_GLOO=OFF
可以参考这个 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/scripts/paddle_build.sh#L207-L208

[2022-05-25 09:17] tianxin1860 commented on #42975
如线下沟通，在数据组 batch 阶段通过动态 batch 即可。

[2022-05-25 09:20] tianxin1860 commented on #42973
都是一些常规的对 Tensor 进行常规操作的 OP， 如果要关注每个 op 的具体说明，可以查询 paddle API 说明文档。

[2022-05-25 09:23] tianxin1860 commented on #42979
好的，我们看下这个问题。

[2022-05-25 09:32] yeliang2258 commented on #42972
In our tests, we found that in Paddle's 2.3 and dev versions, the resnet50 quantization model did not get accelerated on the cpu, even slower than FP32, but running the same model and script in version Paddle 2.2 can get a significant acceleration, related The model, reproduction script and test data are in the network disk link.

My cpu is Intel(R) Xeon(R) Gold 6271 with avx512_vnni support.

Lin

[2022-05-25 10:09] cxxly commented on #42954
这个接口实在哪地方看到的，方便发给我个链接吗？我好引导您到正确地方提问。
这个repo的issue主要跟进PaddlePaddle框架本身的一些问题，没有类似接口。

[2022-05-25 10:12] jeekMic commented on #42954
https://github.com/PaddlePaddle/Paddle-Lite-Demo  是在这里提问吗？就是这里面的demo的接口

[2022-05-25 10:21] jeekMic commented on #42954
可能是我问错了地方 我那个接口是PaddleLite 部署到安装Android上的那个接口

[2022-05-25 10:28] xdg2016 opened #42987 "paddle_infer.create_predictor(config) 解析出错"
如题：在使用paddle推理时
ValueError: (InvalidArgument) Failed to parse program_desc from binary string.
  [Hint: Expected desc_.ParseFromString(binary_str) == true, but received desc_.ParseFromString(binary_str):0 != true:1.] (at C:\home\workspace\Paddle_release\paddle\fluid\framework\program_desc.cc:103)
最后这个C:\home\workspace\Paddle_release这个路径都不存在。

环境：python3.9，paddle-cpu 2.3.0

麻烦帮我解答下，谢谢

[2022-05-25 10:29] lh170826 opened #42988 "安装paddle深度学习GPU版本报错"
### 请提出你的问题 Please ask your question

安装paddle的时候，需要提前安装cuda和cudnn吗？  我直接使用命令conda install paddlepaddle-gpu==2.3.0 cudatoolkit=11.2 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge
然后安装完，验证失败了。
报错：
CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://conda.anaconda.org/conda-forge/win-64/xz-5.2.5-h62dcd97_1.tar.bz2>
Elapsed: -

An HTTP error occurred when trying

[2022-05-25 10:31] lh170826 commented on #42988
然后我去anaconda下载了一个mkl的mkl-2022.0.0-haa95532_115.tar包，然后在我的(paddle_env) C:\Users\Administrator>conda install mkl-2022.0.0-haa95532_115.tar报错：
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying wit

[2022-05-25 11:28] xiangyubo opened #42990 "使用 exe.run(fetch_var_name) 提取期望层的计算输出一直报错"
### 请提出你的问题 Please ask your question

我想使用预训练好的图像分类模型来作为图片特征的抽取器。以 InceptionV3为例子。我下载了官网上的预训练模型。但是现在模型运行输出直接是1000分类，而不是2048维度的特征。我看 executor.run 这个API有个参数是 fetch_var_name。字面理解应该是就是把参数的名字传入，返回推理时候这个参数的值。但我写了个简单的代码测试报错。
我用的是 Paddle 2.0.2
以下是我的测试代码

[code]

[2022-05-25 12:43] tianxin1860 commented on #42990
具体报了什么错呢？另外 `fetch_targets[0].name` 这个变脸打印出来是什么？

[2022-05-25 12:45] xiangyubo commented on #42990
打印出来的变量名看着很正常，是 softmax_1.tmp_0
下面是报错，我就有点懵了
[code]

[2022-05-25 12:49] tianxin1860 commented on #42990
试试别的变量名呢？都无法正常 fetch 出来？

[2022-05-25 12:50] xiangyubo commented on #42990
这就是最后一个变量的名字，如果使用 fetch_var_list 的方式就能正常出结果。别的变量我也试过一个，也不行

[2022-05-25 12:55] tianxin1860 commented on #42990
那就先使用 fetch_var_list 可以满足需求么？

[2022-05-25 12:57] blackhitomi commented on #30064
请问这个问题解决了吗 我也遇到一样的问题，x86下的GPU推理正常，jetson nano的GPU推理结果不正常：
https://github.com/PaddlePaddle/PaddleOCR/issues/6395

[2022-05-25 12:59] xiangyubo commented on #42990
我没找到合适的用法，因为我想获取倒数第二三层，而这个变量不知道怎么从加载的模型里获取，load_inference_model 返回的 fetch_targets 没有包含倒数第二三层的结果。这个预训练模型我是直接从 github 上下载的

[2022-05-25 13:00] xiangyubo commented on #42990
再者，fetch_var_name 不就是应该输入变量名字的字符串，然后返回变量值么。。

[2022-05-25 13:20] xiangyubo commented on #42990
我刚刚又测试了一下，用下面的代码可以获取到变量
[code]
但是，我通过 fetch_var_list 来获取 dropout 的结果还是会报错

[2022-05-25 14:02] #42948 closed, assigned to nobody

[2022-05-26 00:42] yeyupiaoling commented on #42855
那用什么办法解决呢？

[2022-05-26 00:42] #41074 closed, assigned to nobody

[2022-05-26 00:42] #40995 closed, assigned to wuhuachaocoding

[2022-05-26 02:20] DoctorAwe opened #43000 "paddle gpu 环境配置失败"
### 请提出你的问题 Please ask your question

硬件：rtx3050ti
采用anaconda配置环境，尝试过多个版本的pp框架和对应的多种cuda版本，通过run_check（）检验环境配置，运行到此处
![409F39B1-499D-462D-81C6-795EB3A4CD72](https://user-images.githubusercontent.com/61052186/170401933-0d7c8655-4ddd-43f4-92c7-5747986b9efe.png)
就会卡运行。
求解决方案
![F86E6E2B-B547-48FA-859D-2CA96972557D](https://user-images.githubusercontent.com/61052186/170402106-0ba1480d-7e79-40c4-8270-88

[2022-05-26 02:26] Victory8858 opened #43001 "Paddle2.3低级索引问题的严重Bug！"
### bug描述 Describe the Bug

Paddle2.3虽然解决了Tensor中只有一个元素时，利用mask索引的Bug，但在mask为多元素时索引产生了Paddle2.2中本不存在的Bug！

[code]

[2022-05-26 02:34] cxxly commented on #42954
好的，可以去这个repo下https://github.com/PaddlePaddle/Paddle-Lite 提下issue .

[2022-05-26 02:35] shangzhizhou commented on #42855
您好，我也不熟悉python web框架的编程模型，可以直接使用我们的服务部署框架Paddle Serving或者参考其实现方式。https://github.com/PaddlePaddle/Serving

[2022-05-26 02:42] heliqi commented on #42966
1. 如果是FP16节点的权重，会在初始化时转换好
2. 如果FP16节点的输入是计算产出的Tensor，必须要在运行时等上一个op计算完才会转换数据格式

[2022-05-26 02:44] Victory8858 commented on #42796
您好，请问可以跟进一下这个问题吗？

[2022-05-26 02:50] Aurelius84 commented on #42796
<img width="1055" alt="image" src="https://user-images.githubusercontent.com/9301846/170405531-53bead51-6a9f-43bd-9062-d87cbb76d67b.png">

这里的图片size是固定的，不需要使用to_tensor转为Tensor。若转为Tensor后，在静态图下只是张量描述信息，组网时都是-1

另外，47行的 all_anchors = paddle.zeros(shape=[0, 5], dtype='float32')定义后，在59行里all_anchors[idx] = shifted_anchors，动态图下是否会报错？

[2022-05-26 03:04] xiangyubo commented on #42990
另外一种方式，我找到模型结构的源文件，加载参数，修改输出为导数第二层计算结果，再保存。但是现在的预训练参数名字和动态图网络结构里的参数名字又对不上。

[2022-05-26 03:51] esythan commented on #43000
麻烦给一个可以复现的环境和pp版本

[2022-05-26 03:58] esythan commented on #43001
麻烦给下具体的运行结果截图吧，我这边复现的结果是正常的
![FEC98E22-EE34-458D-9DF0-ADF96DD2D14E](https://user-images.githubusercontent.com/8676590/170413043-420cadbf-25fe-41f4-b617-0937a56a88fc.JPG)

[2022-05-26 04:22] tianshao1992 commented on #41482
【队名】：PINNs explorer

【序号】：131

【论文】：PHYSICS-INFORMED NEURAL NETWORKS WITH HARD CONSTRAINTS FOR INVERSE DESIGN

【状态】：报名

【repo 链接】：https://github.com/tianshao1992/hPINN4paddle

[2022-05-26 04:24] mingxu1067 opened #43004 "Last epoch issue on CosineAnnealingDecay"
### bug描述 Describe the Bug

The lr got with `last_epoch=1` set in `CosineAnnealingDecay` is not consisent with `last_epoch=-1` and twice `step()` called.
Here is a reproce python script:
[code]
and results:
[code]

From results, the lr with `last_epoch=1` is ` 2.047999989291357`, which not equals to `Step twice LR:  2.0479999875065835`, even not one of the lr from `CosineAnnealingDecay` with `last

[2022-05-26 04:26] JunnYu commented on #42905
我看你参数传递的顺序不对，应该是先传tensor然后才是传那些int类型的属性。这样改完后还是运行错误，估计算子里面写错了
（PS：我是热心群众）

[2022-05-26 04:40] Victory8858 commented on #43001
注意：以上代码在Paddle2.2下会报错，Paddle2.3下运行结果不正常，如下图：
![image](https://user-images.githubusercontent.com/47514961/170417150-15646967-174e-4a90-9fb9-0108b8ced2ef.png)

[2022-05-26 05:14] esythan commented on #43001
提供一下安装的paddle2.3的具体版本吧，或者安装命令也可以，我看下是否能复现这个问题

[2022-05-26 06:14] GT-ZhangAcer commented on #42855
感觉这方面有需求的开发者有不少，咱这边可以看看能否请PM同学去评估一下要不要提供非PaddleServing方案吗~

[2022-05-26 06:28] shangzhizhou commented on #42855
您好，用多进程的方式使用Flask即可。

[2022-05-26 07:25] Victory8858 commented on #43001
您好，我上午在AI Studio的NoteBook中测试了（PaddlePaddle2.3.0版本），以上代码执行时间巨慢，并且print不出结果，但是刚刚又在AI Studio测试，这个问题竟然没有了，但是本地依然有问题，我不知道是否这个期间AI Studio做过更新，还是当时出了其他bug？
![image](https://user-images.githubusercontent.com/47514961/170439776-1ee6bbec-f553-4560-a4de-ea77d136d1d3.png)

注：本地PaddlePaddle2.3版本利用conda安装，CUDA版本11.2，具体如下：
![image](https://user-images.githubusercontent.com/47514961/170439253-bcebce8f-7a6f-4927-b

[2022-05-26 07:51] Victory8858 commented on #43001
您好，经过测试，anaconda下新建了一个python3.8的环境，然后终端执行上述命令安装，没有额外安装任何第三方包，依然执行结果异常，我的环境是Windows，电脑显卡RTX3070

[2022-05-26 08:02] #42966 closed, assigned to cxxly

[2022-05-26 08:31] liuyang77886 commented on #42917
@yghstill   能不能帮我看看aistudio啊

[2022-05-26 09:07] leelinglin opened #43018 "如何指定算子输入输出类型"
如何指定一个算子的输入输出的dtype？例如layers.matmul（）我想指定输入为float16，输出为float32

[2022-05-26 09:43] tianxin1860 commented on #42988
看报错信息是 http 网络代理有问题，可以先检查下网络代理。

[2022-05-26 09:51] bitcjm opened #43022 "paddle.grid_sample反向传播错误"
### bug描述 Describe the Bug

对模型的输出用paddle.grid_sample进行处理，用grid_sample处理结果计算损失函数的话，将该损失函数反向传播就会出现以下错误：

'''

  File "trainer_640.py", line 291, in process_batch
    loss_test.backward()
  File "<decorator-gen-133>", line 2, in backward
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__
    return wrapped_func(*args, *

[2022-05-26 09:56] yghstill commented on #42917
@liuyang77886 跑过你的AIStudio，你的前处理没有对齐，请仔细确认对齐下输出预处理部分：
### 1. paddle.load接口测试：
[code]
输出：
[code]

### 2. 你的代码测试：
[code]
结果：
[code]

对data求sum，正确的是4468.9844...，你的代码处理完为1139591，相差很大，判断为数据预处理未对齐，请对齐后再尝试。

[2022-05-26 09:58] zhangjun commented on #42937
@sdcb 你好。我们内部评估下，C API 是否暴露这个接口。

[2022-05-26 10:18] Victory8858 commented on #42796
您好，如前所述，在转静过程中，所有推理相关的操作均需要使用paddle的API，但是这里np.array()可以吗？

[2022-05-26 10:31] bitcjm commented on #43022
在尝试提取最小可复现代码的过程中，我提取了一组grid_sample的输入并保存。之后用test_simple.py测试，发现可以正常反传无问题。所以可能该问题比较复杂，也和模型或者计算损失函数的一些过程有关系。运行下面kernel即可用test_simple.py做测试。

新增代码可以查看上面项目链接的草稿版本。由于aistudio出现错误我无法保存正式版本，所以这部分内容只能暂时存放在草稿版本中，后续如果可以报错我会命名为《报错提issue——2》

[2022-05-26 11:18] liddk opened #43023 "test_analysis_predictor测试用例代码存在问题"
### bug描述 Describe the Bug

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/analysis_predictor_tester.cc#L529
`   float* out_data = nullptr;
  auto out_size = std::accumulate(out_shape.begin(), out_shape.end(), 1,
                                  std::multiplies<int>()) *
                  sizeof(float);
  cudaMalloc(reinterpret_cast<void**>(out_data), out_size * si

[2022-05-26 11:21] heliqi commented on #42987
你是如何使用接口的？ 模型文件目录是怎样的？
看看是不是参数没传对，或者模型文件有问题。

[2022-05-26 12:33] ultranity commented on #41482
【队名】：ultranity

【序号】：44
【论文】：StyleCLIP: Text-Driven Manipulation of StyleGAN Imagery
【状态】：报名 & 提交

【repo 链接】：https://github.com/ultranity/Paddle-StyleCLIP

[2022-05-26 12:39] esythan commented on #43018
算子输入的dtype由算子的input tensor决定，不需要手动指定，输出tensor的dtype通常与输入tensor相同，如果想要改变tensor的dtype，可使用paddle.cast进行类型转换

[2022-05-26 12:56] esythan commented on #43022
单从aistudio上的报错来看，目前代码中使用的是静态图，但输入方面使用了只有动态图才能使用的to_tensor api导致输入tensor为空。

[2022-05-26 13:23] jakpiase commented on #34927
Hi, #40323 should fix this issue. It's goal is to stop using uint16 as a placeholder for bf16 and to allow creating uint16 tensors inside Paddle core. I will handle using BF16 in the same way as tensorflow did. The estimated time of that PR is June if everything will go smoothly, but I am not very experienced in pybind, so some problems may occur in the meantime

[2022-05-26 13:44] tianshao1992 commented on #41482
【队名】：PINNs explorer

【序号】：131

【论文】：PHYSICS-INFORMED NEURAL NETWORKS WITH HARD CONSTRAINTS FOR INVERSE DESIGN

【状态】：报名 & 提交

【repo 链接】：https://github.com/tianshao1992/hPINN4paddle

[2022-05-26 13:49] xiaotingyun opened #43030 "paddle是否有transfomers库中BertEncoder和BertEmbedding的替代api"
### 请提出你的问题 Please ask your question

pytorch能使用transfomers库中的BertEmbedding来获取BertEmbedding的结果，使用BertEncoder将Embedding的结果作为输入。
请问paddlenlp是否也有类似的api，我想获取Embedding的结果和把一个Embedding的结果送入Bert中，但查到的api中只能将文字token作为输入

[2022-05-26 14:11] tianxin1860 commented on #42990
保存的 inference_program.global_block().var('dropout_1.tmp_0') 按理说应该是没有 dropout op 的，因为 inference 的时候会裁剪掉无用的 op, 确定你的 inference_program 有 dropout_1.tmp_0 这个参数么？

[2022-05-26 14:21] blackhitomi opened #43031 "jetson nano GPU版本的C++推理文本识别模型结果不正常，这个问题前面有人遇到过，但未解决，paddleocr发帖也无人回复"
### bug描述 Describe the Bug

本文将paddle库C++编译后部署到jetson上进行paddleocr识别推理。编译配置版本信息如下：
GIT COMMIT ID: 2a7c2cf8f32541f3c7691b852bd4a8fe48505294
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: ON
CUDA version: 10.2
CUDNN version: v8.0
CXX compiler version: 7.5.0

系统：jetsonnano linux ARM c++编译

版本：paddle 2.0  、paddle ocr 2.0

==========================================================
问题描述：
文本识别图片如下图所示：
![3d93676

[2022-05-26 14:45] #43030 closed, assigned to nobody

[2022-05-26 14:56] xiangyubo commented on #42990
这个是模型地址
https://paddle-imagenet-models-name.bj.bcebos.com/dygraph/inference/InceptionV3_infer.tar
从 github 的 [paddle 模型库](https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/docs/zh_CN/algorithm_introduction/ImageNet_models.md)里下载的。

[code]

[2022-05-26 15:20] holyseven opened #43033 "pip安装成功后，import paddle报错：Downgrade the protobuf package to 3.20.x or lower"
### bug描述 Describe the Bug

[code]

然后import paddle时报错：
[code]

`pip list`结果：
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-26 15:51] Xbotgo-Justin1 opened #43035 "在docker容器中安装paddlepaddle后paddle.utils.run_check()报错"
### 问题描述 Issue Description
我用的是docker：
基础镜像：docker pull nvidia/cuda:11.1.1-devel-centos7
想在这上边构建paddle环境
但是cuDNN version: None.None.None？？是为什么？
paddle.utils.run_check()
Running verify PaddlePaddle program ...
W0526 15:34:45.617776 26217 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.4, Runtime API Version: 11.1
W0526 15:34:45.618185 26217 dynamic_lo

[2022-05-26 17:12] yt605155624 commented on #43033
参考 https://github.com/PaddlePaddle/PaddleSpeech/issues/1970

[2022-05-26 23:08] simuler commented on #41482
【队名】：simuler

【序号】：119
【论文】：Learning to Expand Audience via Meta Hybrid Experts and Critics for Recommendation and Advertising
【状态】：报名 & 提交

【repo 链接】：https://github.com/simuler/MetaHeac

[2022-05-26 23:16] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：1

【论文】：[Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search](https://proceedings.neurips.cc//paper/2020/file/d072677d210ac4c03ba046120f0802ec-Paper.pdf)

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Cream-of-the-Crop-Distilling-Prioritized-Paths-For-One-Shot-Neural-Architecture-Search

[2022-05-26 23:19] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：15

【论文】：[VL-LTR: Learning Class-wise Visual-Linguistic Representation for Long-Tailed Visual Recognition](https://arxiv.org/pdf/2111.13579v3.pdf)

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/VL-LTR-Learning-Class-wise-Visual-Linguistic-Representation-for-Long-Tailed-Visual-Recognition

[2022-05-27 01:35] xdg2016 commented on #42987
您好，我这边是在EIseg中使用的，模型路径是没有问题的，我这边在两台电脑上使用 pip install eiseg安装的eiseg，打开加载模型后就直接奔溃了，提示上面的错误，换另外一台就可以了，两台都没有GPU，不清楚还会有什么会影响到。

[2022-05-27 01:38] Victory8858 commented on #42796
您好，最新问题描述如下：某些变量会出现shape中间一维为0的情况，如（1，0，5）这样，是因为中间需要和一个阈值比较，留下大于这个阈值的部分，但是转静以后似乎只是一个shape描述信息，并不存在真实值，所以出现了shape中间维度为0，导致后续报错，问题位置在work/DAL/models/model.py文件，感谢您的解答！
**AI Studio链接**：项目“DAL-Model-Export”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/4031872/d82d6a7d441447d390454835c4b01471
![image](https://user-images.githubusercontent.com/47514961/170610801-6388dc3f-fa8c-4844

[2022-05-27 02:15] txyugood commented on #41482
【队名】：txyugood

【序号】：95

【论文】：[Restormer: Efficient Transformer for High-Resolution Image Restoration](https://arxiv.org/pdf/2111.09881.pdf?ref=https://githubhelp.com)

【状态】：报名&提交

【repo链接】：https://github.com/txyugood/Restormer_Paddle

[2022-05-27 02:29] fuqianya commented on #41482
【队名】：MoR

【序号】：101

【论文】：Unsupervised Learning of Visual Features by Contrasting Cluster Assignments

【状态】：报名&提交

【repo链接】：https://github.com/Mixture-of-Rookie/PASSL

[2022-05-27 02:53] runxi607 opened #43041 "按照paddle文档教程编写自定义算子时，报如下所示的错误，链接库无法找到。"
RuntimeError: (PreconditionNotMet) The third-party dynamic library (/public/home/miaozhao/kazheng_fourpoint/card_crop_paddle_orgpaddle_fuzhi/ppdet/relu/build/custom_setup_ops/lib.linux-x86_64-3.8/custom_setup_ops.so) that Paddle depends on is not configured correctly. (error code is /public/home/miaozhao/kazheng_fourpoint/card_crop_paddle_orgpaddle_fuzhi/ppdet/relu/build/custom_setup_ops/lib.linux

[2022-05-27 03:06] esythan commented on #43035
镜像中应该是没有cudnn，想问下镜像是从哪里下载的，如果可以，替换成paddle官网提供的镜像，具体的镜像和安装参见：
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/docker/linux-docker.html#anchor-0

[2022-05-27 03:08] zhangjun commented on #43023
@liddk 感谢提醒，这个参数应该作为双指针传入，应该加上&。

[2022-05-27 03:12] esythan commented on #43031
之前RD发现jetson设备上 block/thread数默认设置会导致在jetson上有随机的问题，已经修过了
建议升级到最新版本尝试一下

[2022-05-27 03:22] sdcb commented on #42937
@zhangjun 我的意见，供你们参考：
C API必须暴露这个接口，因为C++的[示例](https://github.com/PaddlePaddle/PaddleOCR/commit/369889b6e009e2a8f85253abe5d03c652056c514#diff-864f746abc45f2521026f4166ef3f797d9a2aa7bc00d225ef6d0d42acd9da838R169-R172)中使用了这个API，且使用C API没办法规避。

[2022-05-27 03:24] blackhitomi commented on #43031
多谢回复！也就是说2.0版本的这个问题还存在，最新版的已经修复了是嘛。
但是由于最新版的需要升级cmake，和现场的部署环境不一致，不知道可否告知具体问题在哪里我手动修复下2.0版本。

[2022-05-27 03:27] #43018 closed, assigned to esythan

[2022-05-27 03:32] QiDa-007 opened #43043 "安装Paddle环境出现问题"
### 问题描述 Issue Description

按照官方教程，安装Paddle环境出现问题，Python3.7,3.8,3.10都是报一样的错误

### 版本&环境信息 Version & Environment Information

系统环境：
![image](https://user-images.githubusercontent.com/11505520/170623632-9d7b103d-98a1-4c52-97b3-4c452ed2ab39.png)
安装命令：
python -m pip install paddlepaddle==2.3.0 -i [https://mirror.baidu.com/pypi/simple](https://gitee.com/link?target=https%3A%2F%2Fmirror.baidu.com%2Fpypi

[2022-05-27 04:06] yt605155624 commented on #43043
参考 https://github.com/PaddlePaddle/PaddleSpeech/issues/1970

[2022-05-27 05:05] TPF0628 opened #43046 "使用paddlex 可视化端 目标检测任务训练模型时报错"
### 请提出你的问题 Please ask your question

使用paddlex 可视化端 目标检测任务训练模型时报错
This log file path is D:\paddlex_workplace\projects\P0006\T0011\err.log
注意：标志为WARNING/INFO类的仅为警告或提示类信息，非错误信息
D:\PaddleX_GUI_2.1.0_win10\paddle\tensor\creation.py:130: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavi

[2022-05-27 06:06] esythan commented on #43031
修复PR参考https://github.com/PaddlePaddle/Paddle/pull/34751/files

[2022-05-27 06:29] Xbotgo-Justin1 commented on #43035
基础镜像：docker pull nvidia/cuda:11.1.1-devel-centos7  就是来自nivdia的habor镜像
很奇怪，这个基础镜像还要手动装cudnn， 已解决。 谢谢

[2022-05-27 06:36] tianxin1860 commented on #42990
改成这样就好了，采用 fetch_list 取回中间输出结果:
<img width="866" alt="image" src="https://user-images.githubusercontent.com/6829601/170644485-68e144c0-2e08-4e1c-b574-c3bbc540d6ca.png">

[2022-05-27 06:41] liuyang77886 commented on #42917
感谢，解决

[2022-05-27 06:41] #42917 closed, assigned to yghstill

[2022-05-27 07:01] blackhitomi commented on #43031
十分感谢！ 我尝试一下

[2022-05-27 07:22] dingjiaweiww opened #43050 "关于安装paddle 2.3.0 版本遇到protobuf 的报错问题"
### 问题描述 Please describe your issue

问题原因：
protobuf 于 2022.05.26 发布了 4.21 版本，如果您环境中没有 protobuf 的话，默认安装 paddle 时会自动下载最高版本的protobuf 4.21，paddle能安装成功但是 import paddle 会报错，这是由于protobuf 4.21 为不兼容升级，目前 develop 版本的 paddle 已经修复了这个问题（ see https://github.com/PaddlePaddle/Paddle/pull/43009 ），但是发行版依由于已经编包发布所以仍存在这个问题，飞桨会在下个版本2.3.1中解决。
参考:
[Streamlit run with protocbuf error](https://discuss.streamlit.io/t/strea

[2022-05-27 07:45] dingjiaweiww opened #43052 "关于安装paddle 发行版本遇到protobuf 的报错问题"
### 问题描述 Please describe your issue

问题原因：
protobuf 于 2022.05.26 发布了 4.21 版本，如果您环境中没有 protobuf 的话，默认安装 paddle 时会自动下载最高版本的protobuf 4.21，paddle能安装成功但是 import paddle 会报错，这是由于protobuf 4.21 为不兼容升级，目前 develop 版本的 paddle 已经修复了这个问题（ see https://github.com/PaddlePaddle/Paddle/pull/43009 ），但是发行版由于已经编包发布所以仍存在这个问题，飞桨会在下个版本2.3.1中解决。
参考:
- [https://developers.google.com/protocol-buffers/docs/news/2022-05-06#pyt

[2022-05-27 07:46] #43050 closed, assigned to zhaocaibei123

[2022-05-27 07:46] dingjiaweiww commented on #43050
重复发送，已关

[2022-05-27 08:00] #43035 closed, assigned to esythan

[2022-05-27 08:01] #43023 closed, assigned to esythan

[2022-05-27 08:27] zhaocaibei123 commented on #43052
可以参考：https://github.com/PaddlePaddle/PaddleSpeech/issues/1970
或者按照提示升级下protobuf包，或者export下这个环境变量
![image](https://user-images.githubusercontent.com/48509226/170661702-2ab74cac-ac65-41c3-855c-603610c574d9.png)

[2022-05-27 08:45] imsotable commented on #32321
你好，那么怎么才能编译得到比较高版本的paddlepaddle呢？

[2022-05-27 08:46] zhaocaibei123 commented on #43046
从错误上看是 sample 是 None，请先检查下脚本

[2022-05-27 09:06] jiaerwang0328 commented on #42566
我没有更换的权限，之前是可以正常使用的，突然出现这个问题的

[2022-05-27 09:08] zhaocaibei123 commented on #43041
这个问题看起来是cuda版本不匹配，请先根据suggestion确认下环境

[2022-05-27 09:23] aiot-tech opened #43056 "预训练权重加载问题，Paddle关于这部分的文档好像是基本没有的？"
你好，如果想把预训练好的param参数文件里部分参数(如除去最后一层的参数`fc_76`)加载到模型中，该如何处理呢
[code]
以上是我尝试的代码，但对缺失的那部分参数paddle会报错，针对这种预训练场景，paddle有没有相关的文档？另**PaddleVideo**那个仓库基本不回答问题，好奇怪，是后续不继续维护了吗

[2022-05-27 10:28] zhaocaibei123 commented on #43056
具体报什么错？
也可以使用predicate 筛选需要加载的变量，可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/io/load_vars_cn.html

[2022-05-27 10:38] esythan commented on #43004
我们已经收到了你的问题，正在和相关RD同学沟通解决，有结论会第一时间回复你。

[2022-05-27 10:51] Ligoml commented on #43033
这个问题已在develop分支上修复，会随2.3.1版本发布，PR https://github.com/PaddlePaddle/Paddle/pull/43009
详细信息可见https://github.com/PaddlePaddle/Paddle/issues/43052

[2022-05-27 10:51] Ligoml commented on #43043
这个问题已在develop分支上修复，会随2.3.1版本发布，PR https://github.com/PaddlePaddle/Paddle/pull/43009
详细信息可见https://github.com/PaddlePaddle/Paddle/issues/43052

[2022-05-27 11:00] #43043 closed, assigned to zhaocaibei123

[2022-05-27 11:01] #43031 closed, assigned to esythan

[2022-05-27 11:08] dingjiaweiww commented on #43052
protobuf 已经撤销了4.21 版本在pypi源上的发布（ https://pypi.org/project/protobuf/4.21.0/ ） ，如果你使用pip install paddlepaddle 默认从pypi源下载依赖的话不会再遇到import paddle 报错，但是你从国内源下载（清华源、百度源等），则依然会下载protobuf 4.x，需要手动降低版本再使用paddle

[2022-05-27 11:32] aiot-tech commented on #43056
**使用上述代码**
报错如下:
[code]

使用的预训练权重，路径类似于:checkpoints_save/param
**使用predicate**
[code]
报以下的错误
[code]

[2022-05-27 11:43] Dududu233 commented on #41482
【队名】：学习写代码

【序号】：49

【论文】：Alias-Free Generative Adversarial Networks

【状态】：报名

【repo链接】：https://github.com/Dududu233/stylegan3L

[2022-05-27 13:12] hammad26 commented on #22576
Hi
I am using `paddlepaddle-gpu==1.6.3.post107` and facing the following issue:

[code]

I used different Cuda versions, but my problem is not resolved. May I know which Cuda version should I use to get libcudnn.so? Also, finding the correct Cuda version is the right path to get this issue resolved or there is something else that also needed to do?

[2022-05-27 13:13] casolxia commented on #22576
这是来自QQ邮箱的假期自动回复邮件。
 
您好，邮件已收到了了了了

[2022-05-27 13:18] hammad26 commented on #22576
Detailed error:

[code]

[2022-05-27 13:31] hammad26 commented on #22576
Detailed Error

[code]

[2022-05-27 13:36] Indigo6 commented on #41482
【队名】：大数表征

【序号】：23

【论文】：SimDR: Is 2D Heatmap Even Necessary for Human Pose Estimation?

【状态】：提交

【repo 链接】：https://github.com/Indigo6/Paddle_SimDR

[2022-05-28 12:56] zhaocaibei123 commented on #43056
你加载的模型是所有参数保存到同一个文件还是各个参数分别保存到各个文件？
从报错看起来是前者，这种情况是不能选择只加载其中某些参数
![image](https://user-images.githubusercontent.com/48509226/170826450-50ca0ab2-4c85-4f19-a678-5ec1231ee954.png)
可以先load所有参数，然后用save_vars把各个参数分开保存，再用load_vars加载你想要的参数

[2022-05-28 13:06] xiaotingyun opened #43064 "mean函数有问题"
### bug描述 Describe the Bug

mean函数有问题
temp = paddle.to_tensor([1,2])
temp.mean()

### 其他补充信息 Additional Supplementary Information

![image](https://user-images.githubusercontent.com/51204375/170826795-e9193bae-ab2c-43fb-9456-d71fcf238eee.png)

[2022-05-28 14:46] xiaotingyun opened #43065 "BML_CodeLab使用logging.info不会打印信息"
### bug描述 Describe the Bug

import logging
logging.info(111)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-28 14:58] wangna11BD commented on #43065
加一行
logging.basicConfig(level=logging.INFO)

[2022-05-28 14:59] spencergotowork opened #43066 "Paddle inference demo的名为resnet50的demo 编译/执行 出错"
### Paddle inference demo的名为resnet50的demo 编译/执行 出错

**设备类型为**： AMD Ryzen 7 5800H
**compile.sh设置**为
![image](https://user-images.githubusercontent.com/42672437/170830793-048d4fdb-b0ee-48e6-a459-7bb8e22b0de0.png)

推理预测库为 *_avx_openblas_gcc8.2.tgz 时
![image](https://user-images.githubusercontent.com/42672437/170830734-5be13bff-8dff-4363-85c6-2797b9a5bad3.png)
但是CMakeList文件中已经设置了正确的路径

推理预测库为 *_noavx_

[2022-05-28 15:13] wangna11BD commented on #43064
已经反馈给了相关API负责同学。请等待进一步确认及回复～
也可以先用 temp = paddle.to_tensor([1.,2.]) 绕过去～

[2022-05-28 15:44] xiaotingyun commented on #43065
![image](https://user-images.githubusercontent.com/51204375/170832524-f6c5e9e8-0370-4c83-b55d-c3f35f953bb7.png)
加一行也打印不出

[2022-05-28 17:02] #42990 closed, assigned to tianxin1860

[2022-05-28 17:43] WhiteSymmetry opened #43067 "no-avx core"
### 问题描述 Issue Description

Error: Your machine doesn't support AVX, but the installed PaddlePaddle is avx core, you should reinstall paddlepaddle with no-avx core.
https://www.paddlepaddle.org.cn/whl/windows/cpu-mkl-noavx/develop.html
It does not have python 3.10.

### 版本&环境信息 Version & Environment Information

Paddle version: None
Paddle With CUDA: None

OS: Windows 10
Python version: 3.10.4

CU

[2022-05-29 01:53] wangna11BD commented on #43065
import logging
logging.basicConfig(level=logging.INFO)
logging.info(111)

[2022-05-29 04:17] bitcjm opened #43068 "paddle2.3 cumsum api 在用gpu计算时会出现随机错误结果"
### bug描述 Describe the Bug

问题描述：paddle2.3 cumsum api 在用gpu计算时会出现随机错误结果

最小可复现代码可参考以下[aistudio项目链接](https://aistudio.baidu.com/aistudio/projectdetail/4133589?contributionType=1)
顺序运行项目代码即可看到错误。paddle2.2.2版本似乎不会出现该错误。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-29 04:19] diaoa1900 opened #43069 "paddle.vision.ops.nms()函数返回值描述错误"
### 文档链接&描述 Document Links & Description

文档链接：
[paddle.vision.ops.nms()](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/ops/nms_cn.html#nms)
存在问题：
函数的返回值描述是 **Tensor - 被NMS保留的检测边界框的索引，它应当是一个形状为[num_boxes]的1-D Tensor。**
但其实际的返回值是 **Tensor - 被NMS保留的检测边界框（按score降序排序后）的索引**
代码验证：
paddle版本：2.3.0
![验证](https://user-images.githubusercontent.com/65444591/170851950-ed3be4cb-9763-4

[2022-05-29 06:51] HarryUP-rhy opened #43070 "Parl框架AttributeError: 'Agent' object has no attribute 'pred_program'"
### bug描述 Describe the Bug

https://gist.github.com/RenHyz/5b6b841545a5cc825a360fb6da78db33
代码如上，在调用Agent时报错没有预测程序
具体报错信息如下：
E:\RhyAnaconda\envs\paddle2.2\python.exe E:/LearnPad/learn_pad_pycharm/test_trading/tst_3_parl.py
[05-29 10:40:27 MainThread @logger.py:242] Argv: E:/LearnPad/learn_pad_pycharm/test_trading/tst_3_parl.py
[05-29 10:40:28 MainThread @utils.py:73] paddlepaddle version: 2.2.2.
T

[2022-05-29 11:37] hiyyg opened #43074 "【新需求】将data_ptr()暴露给python"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

pytorch中通过python端获取的data_ptr()可以直接对cuda的内容进行操作，这可以用于与其他cuda程序交互，例如https://github.com/NVlabs/DeepIM-PyTorch/blob/master/ycb_render/ycb_renderer.py#L506

然而paddle不支持这个，很多功能无法实现。

### 替代实现 Alternatives

无

[2022-05-29 11:38] hiyyg commented on #43074
[code]

[2022-05-29 12:52] Disciple7 opened #43075 "PaddleDetection已经导出的模型，如何测试模型mAP？"
### 请提出你的问题 Please ask your question

我正在使用PaddleDetection框架进行模型量化、剪枝等slim工作。目前导出了一些模型，包括使用tools/export_model.py导出的无slim模型、用tools/post_quant.py导出的PTQ量化模型，其他人提供的剪枝模型，以及在剪枝模型上用tools/post_quant.py导出的剪枝+PTQ量化模型。这些模型均为infer_cfg.yml、model.pdmodel、model.pdiparams、model.pdiparams.info格式。
现在我需要对这些模型进行推理结果mAP的测试，但是tools/eval.py不支持读取.pdiparams的文件，benchmark.sh也不能测试推理结果mAP。请问官方是否有提供其他测试套件？还是得自己手写流程？

[2022-05-29 17:48] danielbraun89 commented on #43033
this is high priority

[2022-05-30 01:23] jiweibo commented on #43066
您好，问题应该是CMakeLists.txt中没有引入ONNXRuntime的头文件和库文件，请确认您目前使用的是最新版本的demo，可比较下CMakeLists.txt是否一致
https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/c%2B%2B/lib/CMakeLists.txt#L51

如果版本一致的话， 可能onnxruntime和noavx有冲突，需要修复， 请 @heliqi 确认

[2022-05-30 02:41] heliqi commented on #43066
@spencergotowork  看第一张图的报错是没有链接onnxruntime， 可以参考这个[demo](https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/paddle-onnxruntime) 在compile.sh里增加 WITH_ONNXRUNTIME=ON 和  -DWITH_ONNXRUNTIME=${WITH_ONNXRUNTIME}

[2022-05-30 02:46] aiot-tech commented on #43056
请问有相关的文档吗?

[2022-05-30 03:07] lh170826 commented on #42988
谢谢，我想问的是，如果是GPU版本的，是不是需要在电脑上独立的安装一个CUDA？  还是说不需要额外安装，直接使用这一句conda install paddlepaddle-gpu==2.3.0 cudatoolkit=11.2 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge

就默认的安装带的就又cuda加速和cudnn计算的？

[2022-05-30 03:14] aiot-tech commented on #43056
目前我是在load_vars后实现save_vars的
[code]
出现了以下的错误:
[code]

[2022-05-30 03:24] aiot-tech opened #43080 "save_vars接口报Unavailable问题"
### bug描述 Describe the Bug

调用`save_vars`接口
[code]
出现了以下问题
[code]
请问应该怎么定位该问题呢

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-30 03:26] #42954 closed, assigned to cxxly

[2022-05-30 03:26] #38722 closed, assigned to cxxly

[2022-05-30 03:27] #38727 closed, assigned to cxxly

[2022-05-30 03:27] lidanqing-vv commented on #33168
@yaomichael  I try to reproduce the accuracy issue in UT but I can't. Unit test passed after I enable fc_lstm_fuse_pass in both paddle_pass_builder.cc and test_fc_lstm_fuse_pass.py. It looks no issue or Baidu may comment more.

- What I changed
[code]
[code]
- The unit test results I received
[code]

[2022-05-30 03:27] #38718 closed, assigned to cxxly

[2022-05-30 03:31] spencergotowork commented on #43066
我的demo是最新的，按照您的说法，依旧是有这个问题，即使是我运行了 paddle-onnxruntime 这个demo，仍然会报没有链接
![image](https://user-images.githubusercontent.com/42672437/170912000-4712c6d4-0ca6-4394-a5e9-8a078cddff7f.png)
我对此不是很了解，因为即使是我手动在compile里加上export这个so文件的路径到LIB path，也会出现没有其他so文件的报错。

[2022-05-30 03:38] #38721 closed, assigned to cxxly

[2022-05-30 03:39] shangzhizhou commented on #43064
您好，Tensor.mean（paddle.mean）API只支持float32和float64的输入类型。具体请见paddle.mean的API 文档说明
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/mean_cn.html#cn-api-tensor-cn-mean

[2022-05-30 03:50] lidanqing-vv commented on #37930
Hi, @Silv3S  Since achun left this work. Could you please update VIT-OCR performance of recent develop here ?

[2022-05-30 04:04] sneaxiy opened #43082 "CINN program cannot save/load"
### bug描述 Describe the Bug

Please save the following code in a file named `cinn_test.py`.

[code]

Then run `FLAGS_use_cinn=1 python cinn_test.py`, you would get the error message:
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-30 05:44] marsbzp opened #43086 "开启tensorrt推理反复创建销毁会显存泄漏"
### 请提出你的问题 Please ask your question

paddleocr 创建推理模型 推理一张图片 释放模型 创建推理模型 推理一张图片 释放模型 。。。。。。
会显存泄漏
![image](https://user-images.githubusercontent.com/20138766/170924857-a9df0ed0-e944-4a88-b2cf-dc2b1308d96c.png)

[2022-05-30 07:02] esythan commented on #43001
你好，按照你的方式，在windows机器上通过anaconda建立一个python3.8的环境并安装paddle2.3后，终端运行上述代码，依旧没有复现你的问题，不确定是否环境还有差异。
![21160C1F-0E75-4172-8D25-506EE59ECD34](https://user-images.githubusercontent.com/8676590/170935436-25a57c83-92e9-4888-855f-cb37e9ac7a12.JPG)

[2022-05-30 07:24] jiangjiajun opened #43091 "Failed to `enable_mkldnn_int8` in Windows"
### bug描述 Describe the Bug

在Windows上开启`enable_mkldnn_int8`会出错

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-30 07:31] #28555 closed, assigned to jakpiase

[2022-05-30 07:31] #31103 closed, assigned to baoachun, lidanqing-vv

[2022-05-30 07:35] #38126 closed, assigned to baoachun

[2022-05-30 07:38] LDOUBLEV commented on #43086
创建推理模型后释放模型是怎么做的，如果程序没有退出，创建的推理模型依然占据着显存

[2022-05-30 07:59] cuicheng01 commented on #42924
请问paddlepaddle-gpu是如何安装的呢？可以贴一下对应的安装命令吗

[2022-05-30 08:00] geoexploring opened #43092 "【打包后出问题】 OSError: could not get source code"
### bug描述 Describe the Bug

环境：
[code]

示例代码 (这是Paddle官方在解释[paddle.jit.save](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/jit/save_cn.html#daimashili)时给出的示例代码)`demo.py`：
[code]

在VSCode终端运行`demo.py`是没有问题的。

利用`PyInstaller -D demo.py --distpath=./out`打包成`demo.exe`，然后在cmd运行`demo.exe`，会报如下的错：
[code]
将`paddlepaddle-gpu 2.2.2`换成`paddlepaddle-gpu 2.3.0`，依然有问题。

请问该如何解决呢？谢谢！

### 其他补充

[2022-05-30 08:10] heliqi commented on #43066
你下载的是2.3版本预测库？ 如果是2.3以下版本是不带onnxruntime的预测库，需要把WITH_ONNXRUNTIME=OFF

你截图下预测库 third_party/install 目录下的文件，里边带onnxruntime才需要开启WITH_ONNXRUNTIME。 还有openblas的预测库需要把 WITH_MKLDNN设置成OFF。
如果是2.3带onnxruntime的库，链接onnxruntime还有问题，可能是openblas问题，我这边复现修复下这个问题

[2022-05-30 08:11] Victory8858 commented on #42796
您好，请问可以麻烦看一下问题所在吗

[2022-05-30 08:12] marsbzp commented on #43086
不开启tensorrt完全没问题的，开启推理几次会OOM

[2022-05-30 08:16] LDOUBLEV commented on #43086
根据释放模型后显存是否释放来判断是否释放成功

[2022-05-30 08:19] pangyoki commented on #42234
你好，运行了一下你给的demo，按demo的输出，确实如你所说，Adam检查通过，RMSProp失败。我找RMSProp负责人看下原因。

[2022-05-30 08:20] zhaocaibei123 commented on #43056
save_vars直接保存全部参数，load_vars再load部分参数呢

[2022-05-30 08:37] aiot-tech commented on #43056
这个报错是在save_vars这一步出现的:`(Unavailable) Getting 'tensor_desc' is not supported by the _generated_var_0 type variable.`.这个报错的具体原因是什么呢？

[2022-05-30 08:41] aiot-tech commented on #43056
先save后load，这样model的参数是会随机初始化吗，如果是这样，预训练权重岂不是没法加载到model上了?

[2022-05-30 08:43] Victory8858 commented on #43001
您好，刚刚又测试了一下，依然不行，可能与显卡型号有关
我的整体流程是：
Step1：Anaconda图形界面下create一个新的环境，python版本3.8.13, 名称为pd2-3，然后终端切换到该环境
[code]

Step2: PaddlePaddle官网指令
[code]

Step3: Pycharm中添加该环境，运行程序，输出依然不符合预期
[code]
输出如下：
[code]

[2022-05-30 08:56] 0x45f commented on #42796
你好，我运行了下提供的代码，是报如下的错误吗？
![image](https://user-images.githubusercontent.com/23097963/170955893-5aa22d59-7271-4e0a-b82c-eb80bdf76235.png)
根据打印出的shape好像并没有并没有中间维度为0的情况呀
![image](https://user-images.githubusercontent.com/23097963/170956841-bf060ee2-09ae-4bf3-83ec-9c602bef9184.png)

[2022-05-30 09:01] #43065 closed, assigned to nobody

[2022-05-30 09:02] zhangjun commented on #42937
@sdcb 这个接口是有暴露的，参见https://github.com/PaddlePaddle/Paddle/blob/f87fa3c0e5d0ebf89b336cf16c4d1eb0b8767b25/paddle/fluid/inference/capi/pd_config.cc#L431。 C API文档没有更新这部分，我们会安排对文档进行更新。

非常抱歉给您带来困扰，感谢您指出的不足和建议，我们将持续改进来提供较好的用户体验。

[2022-05-30 09:58] zhaocaibei123 commented on #43056
1. load完成模型
2. save_vars，这次save要保存成各个参数分别存到不同文件的形式：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/io/save_vars_cn.html
![image](https://user-images.githubusercontent.com/48509226/170968266-bb22b4d7-2126-4877-9334-69d390647984.png)

3. load_vars，这次就可以选想要的参数load了

[2022-05-30 09:59] XieYunshen commented on #42988
有CUDA驱动就可以，不需要单独安装cuda和cudnn；
如果网络不好，可以下载到本地安装，下载链接：https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/win-64/
安装命令：
`conda install -c local xxx.tar.bz2; conda install -c local paddlepaddle-gpu`

[2022-05-30 09:59] lmw0320 commented on #40135
请教下，我也遇到相同问题了，楼主解决了么？？
我用threading,Thread是可以用的，但是感觉没有提速。。所以想用多进程看看是否可以提速。。结果报错。。。头大。。

[2022-05-30 10:23] chenwhql commented on #43041
这个是由于ABI兼容性导致的问题，之前做过一次修复，几个信息麻烦您提供一下：
1. 您使用的是什么环境？centos还是ubuntu？具体是哪个版本？gcc是什么版本？
2. 您使用的哪个版本的paddle？
3. 能否可以在extra_cxx_cflags中加个参数试试？-D_GLIBCXX_USE_CXX11_ABI=1

[2022-05-30 10:26] zhwesky2010 commented on #43004
@mingxu1067 您好，这个api由于用的递推公式实现的，直接使用last_epoch来恢复训练有些问题，比如指定last_epoch=2时，此时上一个lr还是初始值。所以计算有问题，可以使用scheduler.step(epoch=2)、scheduler.step(epoch=3)这样来实现

[2022-05-30 10:29] Ligoml commented on #43064
你好，mean算子需要输入是float类型，所以这应该是用法错误，而非bug，你可以参考 @wangna11BD 的建议，修改为：
`temp = paddle.to_tensor([1.,2.])`

[2022-05-30 11:07] Victory8858 commented on #42796
那不应该呀，我用的是AIstudio上paddle2.3版本，项目从来没改过呀，我回去再试一下，请问您那边可以正常导出模型吗，还会有其他报错吗

[2022-05-30 11:22] 0x45f commented on #42796
是的，还会有其他问题，想请教下`cpu_nms`这个接口是自己实现的吗？输入的第一个参数必须是numpy.ndarray？
![image](https://user-images.githubusercontent.com/23097963/170982043-3396f43b-0239-44fa-9616-dc5cfbd72b84.png)

[2022-05-30 11:39] shjNT commented on #43068
您好，我这里没有项目链接权限，还麻烦给一下复现代码

[2022-05-30 11:49] Victory8858 commented on #42796
您好，谢谢答复，`cpu_nms`这一部分是原论文作者提供的，并没有做任何更改
另外想请教一下您上述的shape是如何运行出-1这个结果的，我又重新运行中间维度依然是0

[2022-05-30 12:01] 0x45f commented on #42796
你好，我是使用的是develop分支的paddle版本，可以安装develop分支的paddle后再尝试下：https://www.paddlepaddle.org.cn/ 另外cpu_nms接口似乎只支持numpy输入，但是动转静组网阶段应该都是paddle variable而不应该有numpy.array
![image](https://user-images.githubusercontent.com/23097963/170988075-f9e9edc2-ca1d-4d4c-b8d9-9747a4144db3.png)

[2022-05-30 12:04] Victory8858 commented on #42796
您好，由于我自己的电脑非Linux系统，运行该程序必须在Linux下进行，有些文件Windows无法编译，而且对于该模型显存不够，不能完成相关操作，只能在AiStudio上完成，但AIStudio不支持develop分支

[2022-05-30 12:12] 0x45f commented on #42796
AiStudio环境下应该也可以pip install/uninstall吧，是不是可以将2.3版本的uninstall然后install develop版本呢？

[2022-05-30 12:37] yeliang2258 opened #43105 "NHWC model support error when enable MKLDNN"
### bug描述 Describe the Bug
1. My model and Python script are in the network disk link.
Link:https://pan.baidu.com/s/1XEZX_Tw84ENgw0BhywYUuQ
Extraction code:  si97

2. There will be an error when mkldnn is turned on：

python infer.py --model_path original_model/ --enable_mkldnn True

![image](https://user-images.githubusercontent.com/30516196/181201065-eed7ae5a-cc86-4e1a-a02a-a4b70fbab8be.png)

I f

[2022-05-30 12:53] aiot-tech commented on #43056
这次可以了，感谢感谢(PS:后续paddle会考虑相关文档或者example吗？如果有这些的话，效率感觉会提升很多)

[2022-05-30 12:53] #43056 closed, assigned to zhaocaibei123

[2022-05-30 12:54] #43080 closed, assigned to KPatr1ck

[2022-05-30 12:55] Victory8858 commented on #42796
好的，谢谢老师，可以这样操作，但是旋转框的nms，paddle中有无其他API实现呢，paddle.vision.ops.nms好像只能是非旋转框

[2022-05-30 13:07] 0x45f commented on #42796
`旋转框的nms`是否有其他API我不是太清楚，或许可以请 @Intsigstephon 解答下？

[2022-05-30 13:17] smilelite commented on #41482
【队名】：XRXY

【序号】：59

【论文】：SPIN: Structure-Preserving Inner Offset Network for Scene Text Recognition

【状态】：报名

【repo链接】：https://github.com/smilelite/spin_paddle.git

[2022-05-30 13:17] Yelrose opened #43106 "老版本的wheel下载"
### 问题描述 Issue Description

想下载过往版本的paddlepaddle-gpu=2.2.2.post112版本想问一下怎么下载，按照官网看https://paddlepaddle.org.cn/whl/mkl/stable.html 这个地址里面查看，最新的wheel好像只有2.2.0rc版。

### 版本&环境信息 Version & Environment Information

Empty

[2022-05-30 13:46] yamyeed commented on #41482
【队名】：试试就试试
【序号】：97
【论文】：PeCo: Perceptual Codebook for BERT Pre-training of Vision Transformers
【状态】：报名
【repo链接】：https://github.com/beginner-jamji/PeCo_paddle

[2022-05-30 14:36] xywlpo commented on #42870
您好，我参考pytorch的方式写了一下，但是还有些问题，期望您的帮助，我改写的如下：
<img width="529" alt="1" src="https://user-images.githubusercontent.com/728405/171015164-cf7e462a-88c1-420e-8ee3-69a06213ff82.png">
<img width="741" alt="2" src="https://user-images.githubusercontent.com/728405/171015176-0dcbbc06-001b-444b-a7db-1b81bdd0c530.png">

def main():
  ……
  weights = np.array([w_neg if label == 1 else w_pos for data, label in se

[2022-05-30 15:03] smilelite commented on #41482
【队名】：XRXY

【序号】：59

【论文】：SPIN: Structure-Preserving Inner Offset Network for Scene Text Recognition

【状态】：提交

【repo链接】：https://github.com/smilelite/spin_paddle.git

[2022-05-30 15:36] tianxin1860 commented on #42988
conda install paddlepaddle-gpu==2.3.0 cudatoolkit=11.2  之后，不需要再额外安装一个独立的 CUDA。

[2022-05-30 15:48] tianxin1860 commented on #42973
用 netron 打开的模型是 inference_model 吧？在保存 inference_model 的时候会裁剪掉一部分在预测阶段不会使用到的 OP.

[2022-05-30 16:47] chenqianhe opened #43112 "ResNeXt无法直接import"
### bug描述 Describe the Bug

paddle2.3.0版本新增API： ResNeXt import不到

文档示例：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/models/ResNeXt_cn.html#resnext

[code]

版本：paddlepaddle-gpu                   2.3.0

我去翻了github上的源码，好像确实没有把这个API给暴露出来

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-31 00:41] marsbzp commented on #43086
paddleocr cpp_infer demo改下就可以测试，或者你用其他检测模型也可以测，函数里面创建模型推理

![image](https://user-images.githubusercontent.com/20138766/171071685-c3ab27fe-c1be-4adb-84ed-e4c82d7f762c.png)

[2022-05-31 01:33] runxi607 commented on #43041
您好，谢谢您的回复。我们换了别的方法做，可以行得通。如果有问题再来请教您，非常感谢！

[2022-05-31 01:34] dingjiaweiww commented on #43106
https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html 在这个链接里
![image](https://user-images.githubusercontent.com/23093488/171075641-bdaa8007-0099-4d04-8b48-96c615450f04.png)

[2022-05-31 01:39] chenwhql commented on #43041
好的，感谢支持

[2022-05-31 01:39] #43041 closed, assigned to nobody

[2022-05-31 01:56] BeyondYourself commented on #40135
还没 有解决

[2022-05-31 02:40] LDOUBLEV commented on #43086
main_det里会先创建predictor再运行，创建predictor后可以一直使用，不需要重复创建，如果需要测试一个文件夹下的图像，image_dir赋值为文件夹路径就行；
而且看你的截图里，也没释放predictor啊，显存肯定会一直增加

[2022-05-31 02:42] LemonNoel commented on #43112
您好，此问题属于产品技术BUG，我们会尽快改进，感谢您提出的宝贵意见，谢谢。

[2022-05-31 03:20] esythan commented on #43001
是否可以直接在命令行里面运行上面的代码，排除一下pycharm的问题
再就是尝试安装一下cpu版本的paddle，排除一下是否是gpu的问题

[2022-05-31 07:22] zhangxihou opened #43119 "安装正确版本paddlepaddle-gpu情况下经常出现Compiled with WITH_GPU, but no GPU found in runtime"
### bug描述 Describe the Bug

我的cuda:10.2. cudnn:7.6.5  driver version:440.33.01 查了是匹配的，最开始我的paddel 2.2.2版本，我以为是不够新导致的问题，卸载重新安装2.3版本，依旧报错，且呈现偶尔可以用的状态
在需要跑的程序下设定os.environ['CUDA_VISIBLE_DEVICES'] = '0'
依旧报错

### 其他补充信息 Additional Supplementary Information

这个问题真的很诡异，同样的程序，我都没有做任何事情，就在paddle更新之后的这段时间，偶尔就可以跑，大部分时间都会报这个错，真的很迷惑，问了同组的老师，也说会遇到同样的问题

[2022-05-31 07:23] zhiboniu commented on #43075
你好，PaddleDetection模型导出后没有提供相关eval评估脚本，建议在导出前进行eval评估。
如果确实需要对导出后的模型进行评估，需要自己写一下评估代码了。
另外tools/post_quant.py导出会导致精度下降比较多，建议采用量化训练的方式，可以参考：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim

[2022-05-31 07:49] HarryUP-rhy opened #43121 "paddle2.0,策略梯度网络参数不更新"
### bug描述 Describe the Bug

[<script src="https://gist.github.com/RenHyz/c98ab29f3bb783fe0fdf1d718318c6b6.js"></script>](https://gist.github.com/RenHyz/c98ab29f3bb783fe0fdf1d718318c6b6)
代码如上。
输出信息如下：(act_prob是输出的预测概率，每轮结束预测概率都相同，说明网络参数没有更新)

E:\RhyAnaconda\envs\paddle2.2\python.exe E:/LearnPad/learn_pad_pycharm/Trading_2/trading_1.py
price (6732, 10, 7)
E:\RhyAnaconda\envs\paddle2.2\lib\site-packa

[2022-05-31 08:28] bitcjm commented on #43068
已修改权限，可以查看了 @shjNT

[2022-05-31 08:34] geoexploring commented on #43092
是Pyinstaller打包软件的问题。

[2022-05-31 08:40] pangyoki commented on #43067
Hi, the noavx machine does not support python3.10 in temporary, please reduce the python version.

[2022-05-31 08:43] LemonNoel commented on #43119
安装完毕后可以在`python`解释器运行以下代码查看是否安装成功。
[code]
输出为`PaddlePaddle is installed successfully!`时表示安装成功。如果报错，建议根据[官方文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/conda/linux-conda.html#anchor-0)，一步步对照确认系统环境和NCCL>=2.7（多卡）等配置已满足，并尝试用新的conda环境安装。

若在尝试以上步骤后仍无法成功安装，可以按照官方文档的描述，提供更详细的系统环境，安装命令等信息，我们这边尝试复现一下。

[2022-05-31 09:01] #43064 closed, assigned to nobody

[2022-05-31 09:54] bitcjm commented on #41482
【队名】：稳中求进BIT

【序号】：103

【论文】：MLDA-Net: Multi-Level Dual Attention-BasedNetwork for Self-Supervised MonocularDepth Estimation

【状态】：提交

【repo链接】：https://github.com/bitcjm/MLDA-Net-repo

[2022-05-31 10:02] #43075 closed, assigned to MingMingShangTian

[2022-05-31 12:58] #42551 closed, assigned to nemonameless

[2022-05-31 13:23] LemonNoel commented on #43121
您好，请提供更具体的paddle版本信息和相关的依赖，以及尽可能小的可复现代码，以便更快地定位问题。我们复现后会尽快回复您～

[2022-05-31 13:54] RichardWooSJTU commented on #43069
首先十分感谢你对paddle的支持，同时也对我们的疏忽给你造成的不便表示十分抱歉。经排查，paddle.vision.ops.nms()在加入scores参数之后的返回值的确不符合预期。这里的预期逻辑是：
1. boxes按照scores排序
2. 使用nms处理排序后的boxes
3. 返回经nms保留的排序之前的boxes索引
但是返回的时候缺少了第三步。目前可以在你自己的代码中加入第3步，例如
sorted_scores_index = scores.argsort(descending=True)
wrong_index = paddle.vision.ops.nms(boxes, 0.4, scores)
origin_index = sorted_scores_index[wrong_index]

该问题我们会尽快修复并提交PR，未去重的问题也会一并解决并在下个版本可见。如果

[2022-05-31 14:15] piotrekobi opened #43131 "Is swapping kernels from oneDNN to PHI in runtime possible?"
The framework::OpKernelType GetExpectedKernelType function is executed only at the beginning of models and if the choice of kernel is dependent on runtime data, using it to change the kernel is not possible.

For example, the oneDNN kernel for the pool operator does not support adaptive pooling when additional padding needs to be added to the current input. This is checked in PoolOp::GetExpectedKe

[2022-05-31 14:21] MingMingShangTian commented on #43070
你好，该问题参考  https://github.com/PaddlePaddle/PARL/issues/867

[2022-05-31 14:21] #43070 closed, assigned to MingMingShangTian

[2022-05-31 14:21] jczaja commented on #37930
@yaomichael We need following details to start investigate this issue:
1. Paddle oneDNN
- Paddle SHA
- Paddle cmake commandline
- commandline of test for Paddle oneDNN
2. onnx runtime
- SHA of onnx runtime
- commandline of building onnx runtime
- commands used to export model  and run model
3. platform spec where experiments took place

[2022-05-31 15:02] #43067 closed, assigned to MingMingShangTian

[2022-06-01 01:52] HarryUP-rhy commented on #43121
paddlepaddle版本2.2.2，代码在问题中的链接里
<html>
<body>

absl-py | 1.0.0 | 0.15.0
-- | -- | --
astor | 0.8.1 | 0.8.1
blas | 1.0 | 1.0
brotlipy | 0.7.0 | 0.7.0
ca-certificates | 2022.3.29 | 2022.4.26
certifi | 2021.10.8 | 2022.5.18.1
cffi | 1.15.0 | 1.15.0
charset-normalizer | 2.0.4 | 2.0.4
click | 8.1.2 | 8.0.4
cloudpickle | 1.2.1 | 2.0.0
colorama | 0.4.4 | 0.4.4
cryptography | 36.0.0 | 37.0.1
cycler | 0.11.

[2022-06-01 02:58] zhangxihou commented on #43119
仍旧无法成功，就是按照官方文档，确认了相关的版本信息
执行官网给的命令
在进行官网给的测试文件
<img width="1204" alt="image" src="https://user-images.githubusercontent.com/51101236/171318967-dccc4ae8-1b8a-41d9-8bb8-046fcba9741f.png">

[2022-06-01 03:02] zhangxihou commented on #43119
已经按照官网重新安装，但是仍旧出现这些问题，命令就是官网给的命令

[2022-06-01 03:04] Ligoml commented on #43074
需求已收到，这个问题飞桨内部之前讨论过，结论是：直接操作内存是一个危险行为，不太建议新增为api暴露出来。且这个api通常不会影响框架的正常使用。如果你有一些特殊的用法和场景，我们可以在issue中沟通。
此外，如果你短期内需要使用该能力，可以参考这个pr https://github.com/taichi-dev/taichi/pull/4886   用 `paddle_tensor.value().get_tensor()._ptr()`

[2022-06-01 03:16] hiyyg commented on #43074
pytorch支持，paddle不支持，导致很多工作无法用paddle复现。。。

[2022-06-01 04:10] HarryUP-rhy opened #43143 "不同的program对网络进行操作，怎么网络参数同步？"
### bug描述 Describe the Bug

https://gist.github.com/RenHyz/27fdc52aa4592ce892705e96eb86a8ed
代码链接如上。
版本信息：paddle2.2.2（但是写的代码是老版本的）
python3.7

主要利用pre_program预测交易动作，并且输出网络产生的动作概率。然后在learn_program中根据动作产生的收益、动作和预测概率利用策略梯度去优化网络。
输出显示learn_program中的参数在改变，但是输出的动作概率却没有变化。推测：要么网络没有更新，要么两个program中的网络参数没有同步。
感谢解答！！

代码输出如下：
E:\RhyAnaconda\envs\paddle2.2\python.exe E:/LearnPad/learn_pad_pycharm/Trading_2/trad

[2022-06-01 07:26] Han770 commented on #41482
【队名】：叮铃铃

【序号】：15

【论文】：VL-LTR: Learning Class-wise Visual-Linguistic Representation for Long-Tailed Visual Recognition

【状态】：报名

【repo链接】：https://github.com/Han770/VL-LTR_restar

[2022-06-01 07:55] wuqi930907 opened #43152 "3090运行nn.Conv2D(3, 16, 3)报错"
### 问题描述 Issue Description

代码:
import paddle.nn as nn

nn.Conv2D(3, 16, 3)

log:
W0601 15:46:55.629635 21509 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.2, Runtime API Version: 11.2
W0601 15:46:55.633584 21509 device_context.cc:465] device: 0, cuDNN Version: 7.6.
Traceback (most recent call last):
  File "111.py", line 3, in <module>
    nn.C

[2022-06-01 09:00] SigureMo commented on #43112
@chenqianhe

由于 2.3.0 发布前夕对 ResNeXt 系列的实现进行了重构，ResNeXt 这个 class 被删去了，但由于中文文档和 Release Note 仍然是 2.3.0rc 时期的内容，会略微滞后一些，因此给你带来困扰很抱歉～

关于 ResNeXt API 无法使用的问题，这里建议使用已经定义好的 resnext50_32x4d 等工厂函数，目前这些工厂函数不依托于 ResNeXt 这个 class API，而是直接复用已有的 ResNet class API（可[查看源码了解详情](https://github.com/PaddlePaddle/Paddle/blob/40a7e0ad43009976b2a7f79f1f909b659cdf56ef/python/paddle/vision/models/resnet.py#L465-L646)）。

相

[2022-06-01 09:03] #42792 closed, assigned to Intsigstephon

[2022-06-01 09:08] Intsigstephon commented on #42796
旋转框的nms目前在飞桨中没看到相应的实现，如果要用的话可以参考https://github.com/argman/EAST/blob/master/locality_aware_nms.py 中关于四边形框的nms计算

[2022-06-01 09:30] Ligoml commented on #43074
比如呢？

[2022-06-01 10:01] geoexploring commented on #43092
是`paddle.jit.save`和`paddle.jit.to_static`导致的，

打包PyTorch也会出现类似问题，具体可参考[pytorch #1899](https://github.com/pytorch/vision/issues/1899)和[pyinstaller #5673](https://github.com/pyinstaller/pyinstaller/issues/5673)，

但仍没有找到解决方案，可能需要重写`paddle.jit.save`和`paddle.jit.to_static`，特来请教

[2022-06-01 11:08] pmajchrzak opened #43156 "Build ERROR after fixing maybe-uninitialized warning"
### 问题描述 Issue Description

Commit f1f79b0d9d18cebcf8b89775d2b066d6fdd04199 causes build error, reproduced on several machines (SKX, CLX, CPX)

![image](https://user-images.githubusercontent.com/10847947/171390002-227e30d5-8348-488f-927d-0255561a901a.png)
↑↑↑
These errors show up in many places

### 版本&环境信息 Version & Environment Information

### PaddlePaddle branch:
develop

### CMAKE Flags:
``
-D

[2022-06-01 11:38] LemonNoel commented on #43119
可以发下`nvidia-smi`和`nvcc -V`的截图吗，另外也贴下具体的安装命令

[2022-06-01 12:00] nuaaceieyty opened #43157 "scatter函数的index参数什么时候能够支持二维tensor"
### 需求描述 Feature Description

目前scatter函数的index参数只能传入一维tensor，所以在需要传入二维tensor时只能将结合其他API做很复杂的转换来实现，非常影响程序运行速度。所以，希望飞桨团队能够解决下这个问题，满足我们开发者一年多来的愿望。谢谢！

### 替代实现 Alternatives

_No response_

[2022-06-01 14:11] zhangxihou commented on #43119
<img width="617" alt="image" src="https://user-images.githubusercontent.com/51101236/171424431-04e0ee62-a191-4dd6-b66e-47a25e68e3f6.png">
<img width="358" alt="image" src="https://user-images.githubusercontent.com/51101236/171424572-4fdd50ad-0d3a-4e19-a842-8bfebd3dc1f5.png">
执行的命令：
conda install paddlepaddle-gpu==2.3.0 cudatoolkit=10.2 --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/

[2022-06-01 14:22] TingquanGao commented on #43152
你好！初步判断是版本过低导致的，建议试下：CUDA 11.2; cuDNN 8.2.1; 驱动 471.41。

另外，也可以尝试运行以下代码，检查一下paddle安装问题：

[code]

[2022-06-01 14:39] zhangxihou commented on #43119
已经回复了，麻烦您可以回复快一点吗？因为一个库已经耽误很久进度，感谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年6月1日(星期三) 晚上7:39
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 安装正确版本paddlepaddle-gpu情况下经常出现Compiled with WITH_GPU, but no GPU found in runtime (Issue #43119)

可以发下nvidia-smi和nvcc -V的截图吗，另外也贴下具体的安装命令

—
Reply to this email directly, v

[2022-06-01 15:09] TingquanGao commented on #43143
你好！目前是使用了deepcopy拷贝得到了一个model，可以试试不用deepcopy，使用同一个model对象，这样就不需要同步参数了。

[2022-06-01 15:22] skywalk163 commented on #34342
现在飞桨2.3解决这个问题了。

[2022-06-01 20:39] sun222 commented on #41482
【队名】：mading队

【序号】：38

【论文】：[UNETR: Transformers for 3D Medical Image]

【状态】：报名&&提交

【repo链接】：https://github.com/sun222/PaddleSeg

[2022-06-02 00:49] marshall-dteach commented on #41482
【队名】：Cavaliers

【序号】：34

【论文】：[Polarized Self-Attention: Towards High-quality Pixel-wise Regression](https://arxiv.org/abs/2107.00782)

【状态】：repo地址更新

【repo链接】：https://github.com/marshall-dteach/PSA/tree/new_branch

[2022-06-02 01:35] hiyyg commented on #43074
请看本issue最开头。

另外，这不是危险的行为，既然pytorch支持了，并且有场景有这种强需求，这肯定是合理的，危不危险应该给开发者自己判断，而不是框架开发者拍脑袋就认为不应该提供这个功能。

[2022-06-02 01:35] hiyyg commented on #43074
请看本issue最开头。

另外，这不是危险的行为，既然pytorch支持了，并且有场景有这种强需求，这肯定是合理的，危不危险应该给开发者自己判断，而不是框架开发者拍脑袋就认为不应该提供这个功能。

[2022-06-02 02:25] gglin001 commented on #42433
问题:
观察到 https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/fluid/eager
同样会生成使用 `Tracer` 的调用, 我的理解这将会和
https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/fluid/imperative
的实现存在重复? 请问长期来说会抛弃 imperative 目录的部分吗?

[2022-06-02 02:51] mingxu1067 commented on #43004
Workaround verified.

[code]

Would Paddle have a plan to fix this? Or that is an acceptable miss-matching?

[2022-06-02 03:15] barry2025 opened #43167 "Paddle2.3带有onnx预测库protobuf 报错"
### 问题描述 Issue Description

使用的预测库
链接：https://paddle-inference-lib.bj.bcebos.com/2.3.0/cxx_c/Linux/GPU/x86-64_gcc8.2_avx_mkl_cuda10.1_cudnn7.6.5_trt6.0.1.5/paddle_inference.tgz
version 信息：
GIT COMMIT ID: 590b4dbcdd989324089ce43c22ef151c746c92a3
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
WITH_ROCM: OFF
WITH_ASCEND_CL: OFF
WITH_ASCEND_CXX11: OFF
WITH_IPU: OFF
CUDA version: 10.2
CUDNN version: v8.1
CX

[2022-06-02 03:31] DesmonDay commented on #43167
想问问，protobuf的版本是多少？

[2022-06-02 03:45] heliqi commented on #43167
你的使用代码中含有其他版本protobuf？

如果有其他版本的protobuf，会导致冲突报错。目前已经提PR在修复该问题
1. 先换用其他非onnx版本或换2.3.rc
2. 急着用onnx版本可以手动merge代码+编译， PR链接:https://github.com/PaddlePaddle/Paddle/pull/43159

[2022-06-02 03:55] barry2025 commented on #43167
目前我们代码中使用的 proto 版本是3.6.1，请问下paddle onnx 版本使用的是多少？

[2022-06-02 03:56] barry2025 commented on #43167
另外，请问下paddle 2.3.1 带修复的版本大概什么时间会 release 出来？

[2022-06-02 04:00] heliqi commented on #43167
onnx版本中使用的protobuf版本是 3.18
2.3.1预计7.7号在官网发布， 6月底打tag

如果是2.3.1就不用管protobuf版本问题，你用多少版本protobuf都可以

[2022-06-02 04:19] jesiws opened #43170 "动态图backward执行完成后，print loss报错：(External) CUDA error(700), an illegal memory access was encountered"
paddle版本：2.2.0
现象：动态图backward执行完成后，print loss报错：(External) CUDA error(700), an illegal memory access was encountered
![image](https://user-images.githubusercontent.com/23470771/171551818-96a683d8-dfea-4504-bc28-881dcdaed12a.png)

该错误的出现具有一定的随机性，数据检查过没有问题，调整batch_size和lr都有可能出现该错误，也不是显存不足，想咨询一下还能从哪块入手来查问题呢？

[2022-06-02 04:48] DesmonDay commented on #43170
可以尝试使用cuda-memcheck来定位问题。使用方法：cuda-memcheck python xxx.py。另外注意到CUDA执行存在异步性，因此可以先`export FLAGS_benchmak=1` 设置op执行同步后，再用cuda-memcheck。

[2022-06-02 05:05] wuqi930907 commented on #43152
@TingquanGao 十分感谢，需要将CUDNN更新到8就可以了

[2022-06-02 05:05] #43152 closed, assigned to TingquanGao

[2022-06-02 07:02] #43066 closed, assigned to heliqi

[2022-06-02 07:47] zhwesky2010 commented on #43004
At present, there is no plan to repair it. This problem occurs for all recursive formulas. May throw an exception when set  `last_epoch` for this scheduler in future.

[2022-06-02 07:59] #43106 closed, assigned to nobody

[2022-06-02 08:09] dingjiaweiww commented on #43074
@hiyyg 你好，你提出的问题对于paddle 来说是一个new feature，你愿意为paddle 贡献这个新功能吗？如果你需要协助，我们会随时支持你

[2022-06-02 08:25] liddk commented on #42893
环境信息：
CPU: Phytium,S2500/64
gcc (GCC) 9.3.1 20200408
编译选项参考issue描述

[2022-06-02 09:17] zhiqiu commented on #43156
Hi, @pmajchrzak
For this case, change `auto in_dims = x.dims()` to `const auto & in_dims = x.dims()` can solve the problem. But it is strange that I can build these file on my machine and on CI machine.

[2022-06-02 09:31] pmajchrzak commented on #43156
Thanks :)
I am only a modest validation soldier, so I am rather not the addressee of this solution.
Someone from the development team should probably fix this error.

[2022-06-02 10:00] phlrain commented on #43074
我们内部讨论下，后续会评估下增加这种基础的接口给大家使用

[2022-06-02 10:29] zdw0825 opened #43180 "paddle.utils.run_check()出错"
### 问题描述 Issue Description

Running verify PaddlePaddle program ...
W0602 17:59:21.147055 52500 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 3.7, Driver API Version: 11.0, Runtime API Version: 10.1
W0602 17:59:21.147315 52500 dynamic_loader.cc:305] The third-party dynamic library (libcudnn.so) that Paddle depends on is not configured correctly. (error code is /usr/local/cuda

[2022-06-02 10:53] YiningWang2 opened #43181 "import paddle 报错：Illegal instruction (core dumped)"
### bug描述 Describe the Bug

安装paddlepaddle-gpu 0.0.0 后`import paddle`报错：
[code]

***
**Detailed info:**
System：Ubuntu 20.04.1 LTS
cuda version：CUDA11.0
python：3.7
DGX_PLATFORM：DGX Server for DGX A100
系统支持avx、avx2指令集
***
paddlepaddle安装指令：
`python -m pip install paddlepaddle-gpu==0.0.0.post110 -f https://www.paddlepaddle.org.cn/whl/linux/gpu/develop.html`

### 其他补充信息 Additional Supplementary Informa

[2022-06-02 10:54] YiningWang2 commented on #43181
已经试过类似issue的解决方案，import numpy正常，求助大家～

[2022-06-02 11:33] LemonNoel commented on #43119
看起来CUDA、cuDNN、driver的版本都是刚好符合最低版本的要求。可以试试版本升级或者使用docker安装，https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[2022-06-02 13:01] LemonNoel commented on #43119
另外，偶尔可以用是说成功在GPU上运行过吗？前四张卡都满了，这时候运行run_check也会报错。可以指定一张空的卡来run_check看看是否是安装成功了。

[2022-06-02 15:39] zhangxihou commented on #43119
那是之前了，按照官网手册重新安装后就不行了，报错截图如上所示，卡没满，我重新装了包之后就一直报错

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Noel ***@***.***&gt;
发送时间: 2022年6月2日 21:02
收件人: PaddlePaddle/Paddle ***@***.***&gt;
抄送: zhangxihou ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle] 安装正确版本paddlepaddle-gpu情况下经常出现Compiled with WITH_GPU, but no GPU found in runtime (Issue #43119)

另外，偶尔可以用是说成功在GPU上运行过吗？前四

[2022-06-03 05:03] shixnjs commented on #43052
我也遇到了这一问题，但是当我手动降低版本后会出现
requests.exceptions.SSLError: HTTPSConnectionPool(host='paddleocr.bj.bcebos.com', port=443): Max retries exceeded with url: /PP-OCRv3/chinese/ch_PP-OCRv3_det_infer.tar (Caused by SSLError("Can't connect to HTTPS URL because the SSL module is not available."))

[2022-06-03 05:28] xiehuanyi opened #43188 "M1 mac安装paddle后import时报错"
### 问题描述 Issue Description

Traceback (most recent call last):
  File "/Volumes/Samsung_T5/PycharmProjects/Sign-GPT/test.py", line 1, in <module>
    import paddle
  File "/Volumes/Samsung_T5/Resume-master/Sign-GPT/lib/python3.9/site-packages/paddle/__init__.py", line 25, in <module>
    from .framework import monkey_patch_variable
  File "/Volumes/Samsung_T5/Resume-master/Sign-GPT/lib/python3.9/s

[2022-06-03 05:29] xiehuanyi commented on #43188
官网上说安装unrar，但是我没法安装
Warning: No available formula with the name "unrar". Did you mean unar?
==> Searching for similarly named formulae...
This similarly named formula was found:
unar
To install it, run:
  brew install unar
==> Searching for a previously deleted formula (in the last month)...
Error: No previously deleted formula found.
==> Searching taps on GitHub...
Error: No formulae found in tap

[2022-06-03 08:33] yechenzhi opened #43190 "pr没有被review"
### 问题描述 Please describe your issue

paddleRec里面MIND模型有个简单的bug，想蹭个pr，https://github.com/PaddlePaddle/PaddleRec/pull/789

[2022-06-03 11:37] spencergotowork commented on #43066
并不是这样，我上面的截图和说明提到过已经添加了路径，并且路径是有这个so文件存在的。 我后面的解决办法是换了低版本的gcc并且使用你们gcc5的那个预测库，可以使用，还没有看两个库版本的具体区别是什么

[2022-06-03 13:25] LemonNoel commented on #43119
之前装的是哪个版本，用哪个命令装的呀

[2022-06-03 14:01] LemonNoel commented on #43121
你好，根据提供的安装版本和代码，在执行`gym`的代码时会出现报错：```gym.error.VersionNotFound: Environment version `v2` for `stocks` could not be found. `stocks` provides the versioned environments: [ `v0` ].```。

麻烦再次确认下代码，以及通过梯度打印定位下梯度不回传的代码行数，方便快速查找问题。另外，当前2.x版本已经切换到动态图，推荐使用动态图的用法哈。

[2022-06-03 14:08] HarryUP-rhy commented on #43121
你好，gym版本的v2是我自己下载的数据，自带的是v0，不过问题应该不大。现在这个问题基本解决了。

[2022-06-03 14:24] zhangxihou commented on #43119
之前装的2.2，你们没更新的那个版本，用的pip install

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Noel ***@***.***&gt;
发送时间: 2022年6月3日 21:26
收件人: PaddlePaddle/Paddle ***@***.***&gt;
抄送: zhangxihou ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle] 安装正确版本paddlepaddle-gpu情况下经常出现Compiled with WITH_GPU, but no GPU found in runtime (Issue #43119)

之前装的是哪个版本，用哪个命令装的呀

—
Reply to this emai

[2022-06-03 21:00] hyhuang00 opened #43191 "如何使用paddle复现SE-MoE这篇文章所说的mixture of experts模型的训练与推断？"
### 请提出你的问题 Please ask your question

我在arXiv上发现了飞桨团队的https://arxiv.org/pdf/2205.10034.pdf 这篇文章，觉得这篇文章非常的好！我想要根据文章中的描述使用paddle训练一个mixture of experts的模型并进行推断，但是没有在官方网站上找到相关的文档和faq，只在2.3版本的发布中找到了一些相关的pr。具体来说我有以下几个问题：
- 如果要使用飞桨训练mixture of experts，应该使用什么样的脚本呢？有没有相关的脚本作为样例可以学习？
- 文章中所说的推断系统，包括知识蒸馏还有剪枝等等似乎没有很多细节，这里具体是如何完成的呢？有没有相关的脚本呢？
- 实验部分所使用的推断任务（text generation）是什么呢？是使用一个语言模型输入一个句首token然后进行输出吗？这里的m

[2022-06-04 04:04] simon-sxx commented on #40135
@lmw0320 @BeyondYourself 请问解决了吗

[2022-06-04 06:09] x54-729 opened #43192 "paddle.nn.LSTM 调用to函数报错"
### bug描述 Describe the Bug

您好，我在使用paddle时遇到一个问题，就是LSTM模型调用to函数会报错，代码如下：
[code]
报错信息为：
[code]
在Linear等模型上没有这个问题，或者如果先传入张量前向传播后也不会出现报错。请问这个问题是由于什么引起的呢？还是我的环境及版本存在某些问题？我安装的为最新2.3版本的paddle，cuda11.2，显卡设备为1080ti。
非常感谢！

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-04 06:16] simon-sxx opened #43193 "多进程下CUDA报错"
### bug描述 Describe the Bug

使用multiprocessing进行多进程推理时报错，单进程推理时正常

报错如下：

Process Process-1:
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._

[2022-06-04 07:34] renmada commented on #41482
飞桨特色模型挑战赛

【队名】：岚之山吃到饱

【序号】：4

【论文】：STANet for remote sensing image change detection

【状态】：报名&&提交

【repo链接】：https://github.com/renmada/STANET-Paddle-lite

【备注】： 之前提交的不在榜单，更新

[2022-06-04 08:19] Pt-11111 opened #43194 "paddle.vision.datasets.MNIST API文档和源代码以及官方使用示例不一致"
### 请提出你的问题 Please ask your question

MNIST文档内容如下：
![image](https://user-images.githubusercontent.com/41659408/171990853-427881f7-59bb-4685-bd82-06bbbe78b73e.png)
可是我在一些官方实例中看到多了个transform参数，
[code]
我知道这个是用来处理图像，但是API文档里没有这个。

我看了下class paddle.vision.datasets.MNIST[[源代码]](https://github.com/PaddlePaddle/Paddle/blob/release/2.3/python/paddle/vision/datasets/mnist.py#L30)
这里面是有这个参数的，API文档里应该是忘了加上相应的

[2022-06-04 08:53] StuPidMRE opened #43195 "GPTChineseTokenizer 报错 TypeError: __init__() got an unexpected keyword argument 'model_file'"
### bug描述 Describe the Bug

from paddlenlp.transformers import GPTChineseTokenizer

tokenizer = GPTChineseTokenizer.from_pretrained('gpt-cpm-large-cn')
print(tokenizer('欢迎使用百度飞桨！'))
'''
{'input_ids': [2092, 260, 1014, 1596, 17620, 45], 'token_type_ids': [0, 0, 0, 0, 0, 0]}
'''
[2022-06-04 16:50:48,127] [    INFO] - Downloading gpt-cpm-cn-sentencepiece.model from https://paddlenlp.bj.bcebos.com/mod

[2022-06-04 11:14] HarryUP-rhy commented on #43143
你好，我试了在pred_program种不适用deepcopy复制model打印出的网络概率还是一样没有改变。但是打印出的网络参数还是改变的。跟上面的输出类似。

![image](https://user-images.githubusercontent.com/79981943/171996594-833ac4a2-d725-4ac1-b054-62638aca19db.png)

[2022-06-04 12:29] XiangLiu0731 opened #43196 "关于torch版本转为paddle版本，模型性能极差。"
### bug描述 Describe the Bug

在将GuideNet网络pytorch版本转为paddle版本(2.3)后，模型基本不收敛。经检查，两个版本模型参数结构完全一致（除了BatchNorm2D）
在模型参数显示中，paddle参数为pytorch两倍，请问一下是显示问题还是我用法有问题。
下面是测试BatchNorm2D参数代码：
“”“
import paddle.nn as nn
model = paddle.Model(nn.BatchNorm2D(32))
model.summary((2, 32, 128, 128))
”“”
结果：

---------------------------------------------------------------------------
 Layer (type)       Input Shape

[2022-06-04 12:49] XiangLiu0731 commented on #43196
我还注意到测试代码显示128个参数都是非训练的。
Total params: 128
Trainable params: 0
Non-trainable params: 128
请问如果想要像pytorch一样默认均值方差在训练时根据全部数据计算得到，而weight，bias在训练时更新应该怎么实现呢？

[2022-06-04 12:56] JamesYuCN opened #43197 "CUDA 10.2 Paddle depends on is not configured correctly"
### 问题描述 Issue Description

paddle: 2.3 和 develope
cuda： 10.2

 **按照安装说明、网上找各种攻略折腾，运行paddle.utils.run_check() 都报错：**

    return self._run_program(
  File "C:\Users\Zheng\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\paddle\fluid\executor.py", line 1612, in _run_program
    self._default_executor.run(program.desc, scope, 0

[2022-06-04 14:48] JamesYuCN commented on #43197
I copy  Python39\site-packages\torch\lib to pddle\libs  , It's OK!

Python 3.9.13 (tags/v3.9.13:6de2ca5, May 17 2022, 16:36:42) [MSC v.1929 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Running verify PaddlePaddle program ...
W0604 22:46:25.457581  5436 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 1

[2022-06-04 22:02] SigureMo commented on #43188
见 #43052

另外报错信息也很清楚了

降级到 3.20 及以下即可

[code]

[2022-06-04 22:06] SigureMo commented on #43188
我怎么记得自行编译才需要安装这个，如果一定要安装的话，现在 Homebrew 可以通过安装 rar 一并安装 rar 和 unrar

[code]

[2022-06-04 22:22] SigureMo commented on #43052
yank 的第二天就发布了 4.21.1，所以还会有这个问题

另外，降级是有效的（如 3.20.1），不会出现其他问题

[2022-06-04 22:30] SigureMo commented on #43052
这问题与此无关吧，建议另开 issue 详述问题

[2022-06-04 22:56] SigureMo commented on #43194
看了一下，确实，VOC2012 也存在相同问题，如果有兴趣欢迎一起贡献呀～可以参考 PFCC 文档方向里的部分指南修复一下～

https://github.com/PaddlePaddle/Paddle/issues/42620#issuecomment-1121158559

[2022-06-05 00:21] yuwoyizhan opened #43199 "飞桨支持C++吗?"
### 需求描述 Feature Description

pytorch在一年多以前,就非常完善的支持C++编程了,比如图像分类这个任务,可以从头到尾,不使用一行python代码完成数据集下载,加载,训练,预测等步骤.知乎和CSDN也有很多pytorch的C++编程代码,可以让我们学习和参考.目前我都没看到一个项目使用C++完成飞桨任务的,无论是图像分类clas等开发套件,还是飞桨paddlepaddle,我想请问,飞桨是否打算支持C++编程呢?
我不敢说pytorch支持C++20,C++23这些很新的标准,但是用VS2022编写pytorch代码,完全没有问题.对于飞桨框架来说,目前C++似乎只能用于预测,而且一个预测的代码,比如图像分类clas的C++预测代码,超级多代码,无语,能否封装一下,像python一样,实现一行C++代码预测呢?如果目前C++已经能用于飞桨的话,麻烦你们多

[2022-06-05 04:23] spencergotowork commented on #29296
这个__model__如何生成，为什么我下载的模型文件里只有pdiparams 和 pdmodel 文件，但是好像C++从目录加载模型的时候会检索这个__model__文件，请问改如何生成呢？

[2022-06-05 04:43] spencergotowork commented on #43199
同问，还有一个问题就是，paddle的C++版本对opencv的支持是怎样的，目前我尝试利用paddle inference对resnet模型推理，输入模型是将opencv的mat转化为一维的vector<float> 作为输入，因为看demo上是这样的，但是这样处理好麻烦，请问有更简洁的方法或者可以借鉴的demo吗（不是官方文档提到的那些）

[2022-06-05 08:05] Wuxiao85 commented on #41482
【队名】：薄荷奶绿超好喝

【序号】：76

【论文】：EfficientGCN: Constructing Stronger and Faster Baselines for Skeleton-based Action Recognition

【状态】：提交

【repo链接】：https://github.com/Wuxiao85/paddle_EfficientGCNv

[2022-06-05 08:38] JustinXu0 commented on #41482
【队名】：猪蜂蝶

【序号】：76

【论文】：EfficientGCN: Constructing Stronger and Faster Baselines for Skeleton-based Action Recognition

【状态】：报名&提交

【repo链接】：https://github.com/small-whirlwind/EfficientGCN_paddle
【aistudio链接】：https://aistudio.baidu.com/aistudio/projectdetail/4167040?contributionType=1

[2022-06-05 08:58] jiamingkong commented on #41482
【队名】：什么是惊喜

【序号】：112

【论文】：INFOXLM: An Information-Theoretic Framework for Cross-Lingual Language Model Pre-Training

【状态】：报名&提交

【repo链接】：https://github.com/jiamingkong/infoxlm_paddle

[2022-06-05 09:24] jiejiangd opened #43203 "想问一下paddle模型部署在atlas300上是否有样例，服务器不是在移动端而是在工控机"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

### 替代实现 Alternatives

_No response_

[2022-06-05 11:43] jiangjiajun commented on #43131
For the current framework, I think we cannot change the kernel type once we have made all the initialization.

[2022-06-05 13:53] DeqianBai opened #43207 "ModuleNotFoundError: No module named 'paddle.utils'"
### bug描述 Describe the Bug

Linux环境

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'paddle.utils'

版本信息：
Name: paddlepaddle-gpu
Version: 2.2.2

已安装
paddle==1.0.2 和 paddlehub==2.0.0b1/2.2.0
依然报同样的错误

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-06-06 00:25] leo0519 opened #43208 "test_poisson_op UT failure"
### 问题描述 Please describe your issue

### bug描述 Describe the Bug

- 版本、环境信息：
    1. PaddlePaddle版本：2.3.0
    2. CPU/GPU：A100
    3. Docker：paddlepaddle/paddle:2.3.0-gpu-cuda11.2-cudnn8
    4. Python版本号：3.7
    5. 显存信息

[code]

- 复现步骤

[code]

-问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
`test_poisson_op` failed on A100 (also failed on V100). The error log is as follow

[code]

### 其他补充信息 Additional Supplemen

[2022-06-06 01:57] juncaipeng commented on #43199
@yuwoyizhan
你好，目前飞桨不支持外部同学使用c++进行训练，推荐使用python进行训练，使用python cpp c等进行部署。
c++预测，实质上不复杂，套件是为了兼容多个模型，所以内容有点多吧。建议参考[文档](https://www.paddlepaddle.org.cn/inference/product_introduction/inference_intro.html)熟悉paddle inference预测的方法。
关于cpu上多核心多线程的问题，我找相关同学来解答一下。据我所知，目前不支持你说的这么灵活。

[2022-06-06 01:58] juncaipeng commented on #43199
飞桨c++预测，直接链接opencv即可。比如：https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/docs/zh_CN/inference_deployment/cpp_deploy.md

[2022-06-06 02:01] juncaipeng commented on #43203
新硬件都是paddlelite进行接入，所有硬件部署示例在：https://www.paddlepaddle.org.cn/lite/v2.10/demo_guides/android_app_demo.html
我找相关同学再问下是否支持atlas300。

[2022-06-06 02:04] juncaipeng commented on #43207
paddle版本太老，建议进行升级。

[2022-06-06 02:18] jiangjiajun commented on #43199
关于`cpu上多核心多线程`这个问题，我咨询了下英特尔的同事，

一般而言，每个核是两个线程，设置的线程数大的话，自然就用到了多核

[2022-06-06 02:27] wjj19950828 commented on #43196
@XiangLiu0731 您好，请问下您是如何从pytorch转到paddle呢，可以提供一下复现脚本吗~

[2022-06-06 02:30] wuyefeilin commented on #43190
同学您好， 您这是关于PaddleRec的相关需求，建议到PaddleRec套件下提出相应问题。 @seemingwang 麻烦帮忙看一下哈

[2022-06-06 02:40] hong19860320 commented on #43203
目前 PaddleLite 已经支持 atlas 系列的推理，具体可以查看文档 https://paddle-lite.readthedocs.io/zh/latest/demo_guides/huawei_ascend_npu.html 或 https://www.paddlepaddle.org.cn/lite/develop/demo_guides/huawei_ascend_npu.html ，在配置好环境后（即安装指定版本的驱动、CANN 并创建 docker 容器），可以使用文档中的 paddlelite-generic-demo 一键测试。

[2022-06-06 02:46] HWH-2000 opened #43211 "OSError: (External) CUDA error(2), out of memory. [Hint: 'cudaErrorMemoryAllocation'. The API call failed because it was unable to allocate enough memory to perform the requested operation. ] (at /paddle/paddle/phi/backends/gpu/gpu_context.cc:359)"
### 请提出你的问题 Please ask your question
Traceback (most recent call last):
  File "train_8.py", line 125, in <module>
    paddle.device.cuda.empty_cache()
  File "/root/anaconda3/envs/deeplearning3.7/lib/python3.7/site-packages/paddle/device/cuda/__init__.py", line 153, in empty_cache
    core.cuda_empty_cache()
OSError: (External) CUDA error(2), out of memory.
  [Hint: 'cudaErrorMemoryAllocation'. T

[2022-06-06 03:22] gglin001 opened #43212 "[code format] 去除代码里面多余的空格?"
### 请提出你的问题 Please ask your question

hi, 看到最近一些 PR做了很多 code format 的优化, 请问有添加去除代码多余空格的计划吗

比如使用 pre-commit 的

[code]
or 其他的方法

一些多余空格的example:

<img width="1529" alt="Screen Shot 2022-06-06 at 11 21 20 AM" src="https://user-images.githubusercontent.com/13805221/172089073-4478ec0e-fa88-4a9d-b505-164a6a643e40.png">

[2022-06-06 03:24] gglin001 commented on #43212
@betterpig 麻烦问下有此计划吗

[2022-06-06 03:27] yinhaofeng commented on #43190
已在pr中回复，相关问题已有修复pr：https://github.com/PaddlePaddle/PaddleRec/pull/779
再次感谢这位用户的参与~

[2022-06-06 03:50] wawltor commented on #43068
嗯嗯 这个是一个Op bug，目前正在修复

[2022-06-06 04:06] betterpig commented on #43212
你好，cmake-format的引入能够将你举的例子中的尾随空格去掉。该文件目前还存在多余空格是因为之前全量格式化时漏掉了根目录下的cmake文件，后续会提PR将其格式化。

[2022-06-06 04:15] lidanqing-vv opened #43215 "Multithreading scalability on Ernie INT8 with oneDNN and Resnet50 without MKLDNN on CPU"
### paddle-deepmd multithreading without MKLDNN is worse than other frameworks
- Deepmd multithreading issue could been exported to a simple demo + Paddle without lammps, which is in deep_md_test.zip. Below text is just comparing tensorflow and Paddle, to reproduce deepmd + Paddle multithreading issue, you can skip below texts and go directly to https://github.com/PaddlePaddle/Paddle/issues/43215#

[2022-06-06 04:48] gglin001 commented on #43212
感谢回复.
另外, 目前的代码对于 cpp 的代码 使用 pre-commit 会清理空格, 对 python 代码的空格似乎还是没有检查?

[2022-06-06 05:59] OccupyMars2030 opened #43217 "(this issue is just for my personal self-learning) incomplete feature: paddle.optimizer.lr.CosineAnnealingDecay"
### 问题描述 Please describe your issue

  paddle.optimizer.lr.CosineAnnealingDecay    only implements the cosine annealing part of SGDR, and not the restarts.

TODO:  try  to  implement  "the  restarts" part

reference:    "class CosineLRScheduler(Scheduler):"  in  timm\scheduler\cosine_lr.py  (you need  to  install  timm  module)

[2022-06-06 06:25] ruixu2 commented on #41482
【队名】：摸鱼逮虾

【序号】：130

【论文】：Extraction of mechanical properties of materials through deep learning from instrumented indentation

【状态】：报名

【repo链接】：https://github.com/xcpxr/deep-learning-for-indentation_paddle

[2022-06-06 06:50] geoexploring commented on #43092
已解决，请参考[pyinstaller #6865](https://github.com/pyinstaller/pyinstaller/issues/6865)

[2022-06-06 06:50] #43092 closed, assigned to KPatr1ck

[2022-06-06 06:53] Shixiaowei02 commented on #43212
您好，@betterpig 正在进行代码格式检查的升级，请将需求后续提到此 issue 下，我们跟进。谢谢！

[2022-06-06 07:08] #42125 closed, assigned to lidanqing-vv, jakpiase

[2022-06-06 07:29] fuqianya opened #43225 "【论文复现】模型动转静报错: Input(Ids) of LookupTableV2Op should not be null"
### 问题描述 Please describe your issue

运行环境：

* Python 3.6

* paddlepaddle-gpu 2.3.0

模型由动态图模式转为静态图的时候，报如下的错：
[code]
动转静代码:
https://github.com/Mixture-of-Rookie/UNITER-Paddle/blob/main/export_model.py

模型组网代码:
https://github.com/Mixture-of-Rookie/UNITER-Paddle/blob/main/models/uniter.py#L184

具体报错如下:
[code]

尝试如下:
* 调试输出 [input_ids](https://github.com/Mixture-of-Rookie/UNITER-Paddle/blob/main/models

[2022-06-06 07:34] betterpig commented on #43212
最近已将Paddle使用的python格式化工具yapf升级到0.32.0（PR #42944 ），经本地测试该工具能够去除python代码的尾随空格。

[2022-06-06 07:41] Ligoml commented on #42979
该问题修复pr详见：https://github.com/PaddlePaddle/Paddle/pull/43013 ，感谢指出

[2022-06-06 07:41] #42979 closed, assigned to tianxin1860, GuoxiaWang

[2022-06-06 07:51] gglin001 commented on #43212
👍🏼
是这样子, 应该是我之前的环境不是最新的

[2022-06-06 07:51] #43212 closed, assigned to Shixiaowei02, betterpig

[2022-06-06 07:54] jiangjiajun commented on #36905
[pwg_tttest (1).zip](https://github.com/PaddlePaddle/Paddle/files/8842536/pwg_tttest.1.zip)
[test.zip](https://github.com/PaddlePaddle/Paddle/files/8842537/test.zip)

The quantized model and float model are compressed in pwg_tttest.1.zip

[2022-06-06 08:26] barry2025 commented on #43167
请问下当前如何查看当前paddle2onnx支持的op，遇到warning：Paddle2ONNX do't support convert the Model， fall back to using Paddle Inference

[2022-06-06 08:32] lidanqing-vv opened #43232 "Remove mkldnn related attributes in native ops and set them in passes."
### 需求描述 Feature Description

Remove mkldnn related attributes in native op and add and set them in passes.

### 替代实现 Alternatives

_No response_

[2022-06-06 08:33] lidanqing-vv commented on #43232
@Silv3S Please link later PRs with this issue.
First proposition PR has been merged: https://github.com/PaddlePaddle/Paddle/pull/42852
Second PR waiting for review: https://github.com/PaddlePaddle/Paddle/pull/43160

[2022-06-06 08:41] barry2025 commented on #43167
找到一个算子支持列表：https://github.com/paddlepaddle/paddle2onnx/blob/develop/docs/zh/op_list.md ，请问下这个是最新的吗，后续是否会支持conv3d算子？

[2022-06-06 08:50] lidanqing-intel commented on #43232
@Silv3S Hi, please related to this issue when you have new PR that removing attributes. Thanks!

[2022-06-06 08:55] justld commented on #41482
【队名】：dudu

【序号】：36

【论文】：nnU-Net: Self-adapting Framework for U-Net-Based Medical Image Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/justld/nnunet_paddle

[2022-06-06 08:55] ruixu2 commented on #41482
你好！我已收到你的邮件，会尽快回复的哈~祝天天开心^^

[2022-06-06 09:15] lidanqing-vv opened #43238 "Ernie enable_mkldnn_int8 crash on matmul"
### bug描述 Describe the Bug

[code]

### 其他补充信息 Additional Supplementary Information

[code]

[2022-06-06 09:47] HaozhengAN opened #43240 "paddle 是不支持 c 扩展了么"
### 请提出你的问题 Please ask your question

现在有一个python 脚本，其中调用了 如下的函数：
    model = paddle.jit.to_static(model, input_spec=inputs)
    paddle.jit.save(model, global_config['best_model_dir'] + '/infer_model')

在未使用 cython 对 py 脚本进行编译前，可以正常执行，但是使用了 cython 将 py 脚本编译成 so 文件后，就会报如下的错误：
![cfee1c450012e7a126e48cb18091c35a](https://user-images.githubusercontent.com/34512369/172137762-2f90cea1-81e4-46d4-ac99-3f0

[2022-06-06 10:34] TingquanGao commented on #43157
hi，你好，可以看一下这个api是否能满足需求。
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/put_along_axis_cn.html#put-along-axis

[2022-06-06 11:01] #43203 closed, assigned to hong19860320, shentanyue

[2022-06-06 11:02] #43190 closed, assigned to wuyefeilin

[2022-06-06 11:04] #43170 closed, assigned to DesmonDay

[2022-06-06 11:16] piotrekobi commented on #43131
What would you propose to do if a oneDNN kernel supports over 90% of the functionality of a PHI kernel, but can't be used for some shapes when dynamic shapes are enabled? Currently we have to disable the use of the kernel, even though it doesn't work only for a few cases that can easily be checked in runtime.

[2022-06-06 11:51] RichardWooSJTU commented on #43193
您好，请贴出以下信息使我们快速定位问题：
1. 环境：OS，python，paddle版本，显卡信息（可以直接贴nvidia-smi），cuda版本，cudnn版本。
2. 推理代码
同时也可以贴出更完整的log，辛苦~

[2022-06-06 12:01] #43199 closed, assigned to jiangjiajun

[2022-06-06 12:08] GreatV commented on #41482
【队名】：小蜗牛爬爬爬

【序号】：54

【论文】：Deep Relational Reasoning Graph Network for Arbitrary Shape Text Detection

【状态】：报名

【repo链接】：https://github.com/GreatV/PaddleOCR

[2022-06-06 12:12] shangzhizhou commented on #43193
您好，请把import paddle放到子进程里，注意其它import 的模块是否在内部也初始化了paddle，如果有也需要放到子进程里

[2022-06-06 12:31] sun222 commented on #41482
飞桨特色模型挑战赛
【队名】：mading队
【序号】：2
【论文】：How to Trust Unlabeled Data? Instance Credibility Inference for Few-Shot Learning
【状态】：报名
【repo链接】：https://github.com/sun222/ICI-paddle

[2022-06-06 12:32] XiangLiu0731 commented on #43196
我并没有使用脚本转源码，而是自己手动转的。我又统一了一下两个版本模型的参数初始化方式，经测试，相同输入条件下两个版本的前向传播结果是一致的，但是测试后向传播时，发现两个模型的梯度计算差异较大（约三个数量级）。测试代码如下：
pytorch版本梯度测试代码：
seed_everything(4321)
model=GuideNet().cuda()
model.train()
x = torch.from_numpy(np.random.randn(1, 1, 128, 128).astype('float32')).cuda()
y = torch.from_numpy(np.random.randn(1, 1, 128, 128).astype('float32')).cuda()
 z = torch.from_numpy(np.random.randn(1, 1, 128, 128)

[2022-06-06 12:34] sun222 commented on #41482
【队名】：mading队

【序号】：86

【论文】：Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery

【状态】：报名

【repo链接】：https://github.com/sun222/FarSeg

[2022-06-06 13:13] youngAt19 commented on #41482
【队名】：qifei

【序号】：96

【论文】：[HINet: Half Instance Normalization Network for Image Restoration](https://arxiv.org/pdf/2105.06086v1.pdf)

【状态】：报名

【repo链接】：https://github.com/youngAt19/hinet_paddle

[2022-06-06 13:31] youngAt19 commented on #41482
【队名】：qifei

【序号】：90

【论文】：Invertible Denoising Network: A Light Solution for Real Noise Removal

【状态】：报名

【repo链接】：https://github.com/youngAt19/paddle_InvDN

[2022-06-06 13:38] XiangLiu0731 commented on #43196
如果您需要模型代码，您可以留一下邮箱，我将paddle和pytorch版本模型代码发您。

[2022-06-06 13:43] kevinng77 commented on #41482
【队名】：kevin吴嘉文

【序号】：111

【论文】：CANINE: Pre-training an Efficient Tokenization-Free Encoder for Language Representation

【状态】：提交

【repo链接】：https://github.com/kevinng77/canine_paddle

[2022-06-06 13:56] jasonvanf commented on #41482
【队名】：来杯索菲亚

【序号】：111

【论文】：CANINE: Pre-training an Efficient Tokenization-Free Encoder for Language Representation

【状态】：报名

【repo链接】：https://github.com/JasonDurian/canine

[2022-06-06 14:18] wangxinrugithub opened #43254 "paddlespeech asr使用问题"
### 请提出你的问题 Please ask your question

命令：paddlespeech asr --lang zh --input host\aistudio\keda.wav
显示一下内容，没有报错，但是没有结果
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/setuptools/depends.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
/opt/conda/envs/python35-paddle120-env/lib/python3.7

[2022-06-06 14:32] #43197 closed, assigned to AshburnLee

[2022-06-06 14:35] sldyns commented on #41482
【队名】：科研累了摸会鱼

【序号】：特色模型挑战赛7

【论文】：Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data

【状态】：报名

【repo链接】：https://github.com/sldyns/Real-ESRGAN_paddle_Liti

[2022-06-06 14:36] sun222 commented on #41482
飞桨特色模型挑战赛

【队名】：岚之山吃到饱

【序号】：4

【论文】：STANet for remote sensing image change detection

【状态】：报名

【repo链接】：https://github.com/sun222/STANET-Paddle

[2022-06-06 14:41] renmada commented on #41482
【队名】：岚之山吃到饱

【序号】：124

【论文】：Counterfactual Explainable Recommendation

【状态】：报名&&提交

【repo链接】：https://github.com/renmada/PaddleRec

[2022-06-06 15:09] yuwoyizhan opened #43255 "C++编程需求"
### 需求描述 Feature Description

1.世界上最大的两个深度学习框架pytorch和tensorflow都支持C++编程,虽然我不敢说支持C++20,C++23这些最新的标准,但是使用VS2022编写C++代码,是毫无问题的,项目全流程都可以使用C++编程.前几天我提过issue,咨询飞桨是否支持C++编程,提了几个问题,只有一个问题得到解答,那就是飞桨不支持非百度人员在除了预测之外使用C++编程.
对于clas,dec,seg等几个套件来说,我认为使用python编写读取数据,组网,训练,评估等步骤的代码无可厚非,毕竟步骤都是太固定了,基本不会有什么改变,一个项目的代码,往往改几行代码就能用于另一个项目中.但是对于强化学习parl,如果强制要求只能使用python语言,那很明显,学习parl的开发者就必须精通python,因为parl开发套件绝不可能一个项目改几行

[2022-06-06 15:18] lizn2016 commented on #41482
【队名】：lizn

【序号】：96

【论文】：HINet: Half Instance Normalization Network for Image Restoration

【状态】：报名

【repo链接】：https://github.com/lizn2016/HINet_lizn.git

[2022-06-06 15:19] lizn2016 commented on #41482
【队名】：lizn

【序号】：90

【论文】：Invertible Denoising Network: A Light Solution for Real Noise Removal

【状态】：报名

【repo链接】：https://github.com/lizn2016/InvDN_lizn.git

[2022-06-06 15:22] GitLiyx commented on #41482
【队名】：刘新建

【序号】：47

【论文】：GFP-GAN: Towards Real-World Blind Face Restoration with Generative Facial

【状态】：报名

【repo链接】：https://github.com/GitLiyx/GFP-GAN

[2022-06-06 15:28] marshall-dteach commented on #41482
【队名】：Cavalies

【序号】：130

【论文】：Extraction of mechanical properties of materials through deep learning from instrumented indentation

【状态】：报名

【repo链接】：https://github.com/marshall-dteach/1

[2022-06-06 15:28] Lieberk commented on #41482
【队名】：超级码立

【序号】：142

【论文】：Few-Shot Learning with Graph Neural Networks

【状态】：报名

【repo链接】：https://github.com/Lieberk/Paddle-FSL-GNN

[2022-06-06 15:30] zpc-666 commented on #41482
【队名】：SCUT_冲一冲队

【序号】：7

【论文】：An Energy and GPU-Computation Efficient Backbone Network for Real-Time Object Detection

【状态】：报名

【repo链接】：https://github.com/zpc-666/VoVNet_paddle

[2022-06-06 15:34] zpc-666 commented on #41482
【队名】：SCUT_冲一冲队

【序号】：76

【论文】：EfficientGCN: Constructing Stronger and Faster Baselines for Skeleton-based Action Recognition

【状态】：报名

【repo链接】：https://github.com/zpc-666/EfficientGCN_paddle

[2022-06-06 15:37] OneYearIsEnough commented on #41482
【队名】：想peach

【序号】：58

【论文】：On Recognizing Texts of Arbitrary Shapes with 2D Self-Attention

【状态】：报名

【repo链接】：https://github.com/OneYearIsEnough/PaddleSATRN

[2022-06-06 15:37] wzj-sudo commented on #41482
【队名】：wzj

【序号】：81

【论文】：DensePose: Dense Human Pose Estimation In The Wild

【状态】：报名&&提交

【repo链接】：https://github.com/wzj-sudo/pd_densepose

[2022-06-06 15:38] GitLiyx commented on #41482
【队名】：刘新建

【序号】：132

【论文】：Expanding functional protein sequence space using generative adversarial networks

【状态】：报名

【repo链接】：https://github.com/GitLiyx/efpss-GAN

[2022-06-06 15:40] Qdriving commented on #41482
【队名】：linqin2011

【序号】：30

【论文】：[F2DNet: Fast Focal Detection Network for Pedestrian Detection](https://arxiv.org/abs/2203.02331)

【状态】：报名

【repo链接】：https://github.com/Qdriving/F2DNet-in-Padle.git

[2022-06-06 15:40] wzj-sudo commented on #41482
【队名】：wzj

【序号】：82

【论文】：AMC: AutoML for Model Compression and Acceleration on Mobile Devices

【状态】：报名&&提交

【repo链接】：https://github.com/wzj-sudo/pd_amc

[2022-06-06 15:41] zpc-666 commented on #41482
【队名】：SCUT_冲一冲队

【序号】：飞桨特色模型挑战赛 2 & 5

【论文】：How to Trust Unlabeled Data? Instance Credibility Inference for Few-Shot Learning & Learning Enriched Features for Real Image Restoration and Enhancement

【状态】：报名

【repo链接】：https://github.com/zpc-666/nnU-Net_MIRNet_slimming

[2022-06-06 15:44] wzj-sudo commented on #41482
【队名】：wzj

【序号】：109

【论文】：TaPas: Weakly Supervised Table Parsing via Pre-training

【状态】：报名&&提交

【repo链接】：https://github.com/wzj-sudo/pd_tapas

[2022-06-06 16:00] tpder opened #43256 "【队名】：双子吹雪酱"
【队名】：双子吹雪酱

【序号】：142

【论文】：[Few-Shot Learning with Graph Neural Networks](https://openreview.net/pdf?id=BJj6qGbRW)

【状态】：报名

【repo链接】：https://github.com/tpder/Few-Shot_paddle

[2022-06-06 16:42] fuqianya commented on #41482
【队名】：MoR

【序号】：20

【论文】：Anchor DETR: Query Design for Transformer-Based Object Detection

【状态】：报名&提交

【repo链接】：https://github.com/Mixture-of-Rookie/PaddleDetection

[2022-06-06 16:44] fuqianya commented on #41482
【队名】：MoR

【序号】：21

【论文】：Instances as Queries

【状态】：报名&提交

【repo链接】：https://github.com/Mixture-of-Rookie/PaddleDetection

[2022-06-06 16:45] fuqianya commented on #41482
【队名】：MoR

【序号】：飞桨特色模型挑战赛 6

【论文】：Instances as Queries

【状态】：报名&提交

【repo链接】：https://github.com/Mixture-of-Rookie/PaddleDetection

[2022-06-06 16:46] fuqianya commented on #41482
【队名】：MoR

【序号】：85

【论文】：Emerging Properties in Self-Supervised Vision Transformers

【状态】：报名&提交

【repo链接】：https://github.com/Mixture-of-Rookie/PASSL

[2022-06-06 16:48] fuqianya commented on #41482
【队名】：MoR

【序号】：65

【论文】：PointRCNN: 3D Object Proposal Generation and Detection from Point Cloud

【状态】：报名&提交

【repo链接】：https://github.com/Mixture-of-Rookie/PaddleDetection

[2022-06-06 17:37] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：1

【论文】：[Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search](https://proceedings.neurips.cc//paper/2020/file/d072677d210ac4c03ba046120f0802ec-Paper.pdf)

【状态】：提交

【repo链接】：https://github.com/SmirnovKol/Cream-of-the-Crop-Distilling-Prioritized-Paths-For-One-Shot-Neural-Architecture-Search

[2022-06-06 17:45] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：7

【论文】：[An Energy and GPU-Computation Efficient Backbone Network for Real-Time Object Detection](https://arxiv.org/abs/1904.09730)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/An-Energy-and-GPU-Computation-Efficient-Backbone-Network-for-Real-Time-Object-Detection

[2022-06-06 17:50] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：13

【论文】：[Multi-Task Learning as Multi-Objective Optimization](https://arxiv.org/abs/1810.04650)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Multi-Task-Learning-as-Multi-Objective-Optimization

[2022-06-06 17:52] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：15

【论文】：[VL-LTR: Learning Class-wise Visual-Linguistic Representation for Long-Tailed Visual Recognition](https://arxiv.org/pdf/2111.13579v3.pdf)

【状态】：提交

【repo链接】：https://github.com/SmirnovKol/VL-LTR-Learning-Class-wise-Visual-Linguistic-Representation-for-Long-Tailed-Visual-Recognition

[2022-06-06 17:54] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：19

【论文】：[DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution](https://arxiv.org/pdf/2006.02334.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/DetectoRS-Detecting-Objects-with-Recursive-Feature-Pyramid-and-Switchable-Atrous-Convolution

[2022-06-06 17:56] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：20

【论文】：[Anchor DETR: Query Design for Transformer-Based Object Detection](https://arxiv.org/abs/2109.07107)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Anchor-DETR-Query-Design-for-Transformer-Based-Object-Detection

[2022-06-06 18:00] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：21

【论文】：[Instances as Queries](https://arxiv.org/abs/2105.01928)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Instances-as-Queries

[2022-06-06 18:03] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：22

【论文】：[MaskFormer: Per-Pixel Classification is Not All You Need for Semantic Segmentation](https://arxiv.org/abs/2107.06278)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/MaskFormer-Per-Pixel-Classification-is-Not-All-You-Need-for-Semantic-Segmentation

[2022-06-06 18:05] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：23

【论文】：[SimDR: Is 2D Heatmap Even Necessary for Human Pose Estimation?](https://arxiv.org/abs/2107.03332)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/SimDR-Is-2D-Heatmap-Even-Necessary-for-Human-Pose-Estimation

[2022-06-06 18:07] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：24

【论文】：[DCPose: Deep Dual Consecutive Network for Human Pose Estimation](https://arxiv.org/abs/2103.07254)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/DCPose-Deep-Dual-Consecutive-Network-for-Human-Pose-Estimation

[2022-06-06 18:09] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：25

【论文】：[UniTrack: Do Different Tracking Tasks Require Different Appearance Models?](https://arxiv.org/abs/2107.02156)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/UniTrack-Do-Different-Tracking-Tasks-Require-Different-Appearance-Models

[2022-06-06 18:10] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：26

【论文】：[KeepTrack: Learning Target Candidate Association to Keep Track of What Not to Track](https://arxiv.org/abs/2103.16556)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/KeepTrack-Learning-Target-Candidate-Association-to-Keep-Track-of-What-Not-to-Track

[2022-06-06 18:12] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：27

【论文】：[DARDet: A Dense Anchor-free Rotated Object Detector in Aerial Images](https://arxiv.org/abs/2110.01025)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/DARDet-A-Dense-Anchor-free-Rotated-Object-Detector-in-Aerial-Images

[2022-06-06 18:14] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：28

【论文】：[The KFIoU Loss for Rotated Object Detection](https://arxiv.org/abs/2201.12558)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/The-KFIoU-Loss-for-Rotated-Object-Detection

[2022-06-06 18:15] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：29

【论文】：[Dynamic Anchor Learning for Arbitrary-Oriented Object Detection](https://arxiv.org/abs/2012.04150)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Dynamic-Anchor-Learning-for-Arbitrary-Oriented-Object-Detection

[2022-06-06 18:17] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：30

【论文】：[F2DNet: Fast Focal Detection Network for Pedestrian Detection](https://arxiv.org/abs/2203.02331)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/F2DNet-Fast-Focal-Detection-Network-for-Pedestrian-Detection

[2022-06-06 18:19] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：34

【论文】：[Polarized Self-Attention: Towards High-quality Pixel-wise Regression](https://arxiv.org/abs/2107.00782)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Polarized-Self-Attention-Towards-High-quality-Pixel-wise-Regression

[2022-06-06 18:20] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：35

【论文】：[Learning to Recommend Frame for Interactive Video Object Segmentation in the Wild](https://arxiv.org/abs/2103.10391)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Learning-to-Recommend-Frame-for-Interactive-Video-Object-Segmentation-in-the-Wild

[2022-06-06 18:22] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：36

【论文】：[nnU-Net: Self-adapting Framework for U-Net-Based Medical Image Segmentation](https://arxiv.org/abs/1809.10486)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/nnU-Net-Self-adapting-Framework-for-U-Net-Based-Medical-Image-Segmentation

[2022-06-06 18:24] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：37

【论文】：[nnFormer: Interleaved Transformer for Volumetric Segmentation](https://arxiv.org/pdf/2109.03201)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/nnFormer-Interleaved-Transformer-for-Volumetric-Segmentation

[2022-06-06 18:25] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：38

【论文】：[UNETR: Transformers for 3D Medical Image](https://arxiv.org/abs/2103.10504)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/UNETR-Transformers-for-3D-Medical-Image

[2022-06-06 18:26] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：39

【论文】：[A Late Fusion CNN for Digital Matting](https://openaccess.thecvf.com/content_CVPR_2019/papers/Zhang_A_Late_Fusion_CNN_for_Digital_Matting_CVPR_2019_paper.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/A-Late-Fusion-CNN-for-Digital-Matting

[2022-06-06 18:28] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：40

【论文】：[Deep Automatic Natural Image Matting](https://arxiv.org/abs/2107.07235)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Deep-Automatic-Natural-Image-Matting

[2022-06-06 18:29] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：43

【论文】：[Taming Transformers for High-Resolution Image Synthesis](https://paperswithcode.com/paper/taming-transformers-for-high-resolution-image)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Taming-Transformers-for-High-Resolution-Image-Synthesis

[2022-06-06 18:31] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：44

【论文】：[StyleCLIP: Text-Driven Manipulation of StyleGAN Imagery](https://paperswithcode.com/paper/styleclip-text-driven-manipulation-of)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/StyleCLIP-Text-Driven-Manipulation-of-StyleGAN-Imagery

[2022-06-06 18:32] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：45

【论文】：[Training Generative Adversarial Networks with Limited Data](https://paperswithcode.com/paper/training-generative-adversarial-networks-with-2)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Training-Generative-Adversarial-Networks-with-Limited-Data

[2022-06-06 18:35] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：46

【论文】：[GAN-Supervised Dense Visual Alignment](https://paperswithcode.com/paper/gan-supervised-dense-visual-alignment)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/GAN-Supervised-Dense-Visual-Alignment

[2022-06-06 18:36] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：47

【论文】：[GFP-GAN: Towards Real-World Blind Face Restoration with Generative Facial Prior](https://paperswithcode.com/paper/towards-real-world-blind-face-restoration)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/GFP-GAN-Towards-Real-World-Blind-Face-Restoration-with-Generative-Facial-Prior

[2022-06-06 18:37] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：48

【论文】：StyleFlow: Attribute-conditioned Exploration of StyleGAN-Generated Images
using Conditional Continuous Normalizing Flows

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/StyleFlow-Attribute-conditioned-Exploration-of-StyleGAN-Generated-Images-using-Conditional-Continuo

[2022-06-06 18:39] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：49

【论文】：[Alias-Free Generative Adversarial Networks](https://paperswithcode.com/paper/alias-free-generative-adversarial-networks)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Alias-Free-Generative-Adversarial-Networks

[2022-06-06 18:40] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：50

【论文】：[Video Super-Resolution Transformer](https://paperswithcode.com/paper/video-super-resolution-transformer)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Video-Super-Resolution-Transformer

[2022-06-06 18:41] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：51

【论文】：[Real-Time Super-Resolution System of 4K-Video Based on Deep Learning](https://paperswithcode.com/paper/real-time-super-resolution-system-of-4k-video)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Real-Time-Super-Resolution-System-of-4K-Video-Based-on-Deep-Learning

[2022-06-06 18:43] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：53

【论文】：[LGPMA: Complicated Table Structure Recognition with Local and Global Pyramid Mask Alignment](https://arxiv.org/abs/2105.06224)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/LGPMA-Complicated-Table-Structure-Recognition-with-Local-and-Global-Pyramid-Mask-Alignment

[2022-06-06 18:45] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：54

【论文】：Deep Relational Reasoning Graph Network for Arbitrary Shape Text Detection

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Deep-Relational-Reasoning-Graph-Network-for-Arbitrary-Shape-Text-Detection

[2022-06-06 18:46] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：55

【论文】：[From Two to One: A New Scene Text Recognizer with Visual Language Modeling Network](https://openaccess.thecvf.com/content/ICCV2021/papers/Wang_From_Two_to_One_A_New_Scene_Text_Recognizer_With_ICCV_2021_paper.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/From-Two-to-One-A-New-Scene-Text-Recognizer-with-Visual-Language-Modeling-Network

[2022-06-06 18:48] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：57

【论文】：[Scene Text Telescope: Text-Focused Scene Image Super-Resolution](https://openaccess.thecvf.com/content/CVPR2021/papers/Chen_Scene_Text_Telescope_Text-Focused_Scene_Image_Super-Resolution_CVPR_2021_paper.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Scene-Text-Telescope-Text-Focused-Scene-Image-Super-Resolution

[2022-06-06 18:49] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：58

【论文】：[On Recognizing Texts of Arbitrary Shapes with 2D Self-Attention](https://arxiv.org/pdf/1910.04396v1.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/On-Recognizing-Texts-of-Arbitrary-Shapes-with-2D-Self-Attention

[2022-06-06 18:50] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：59

【论文】：[SPIN: Structure-Preserving Inner Offset Network for Scene Text Recognition](https://arxiv.org/abs/2005.13117)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/SPIN-Structure-Preserving-Inner-Offset-Network-for-Scene-Text-Recognition

[2022-06-06 18:51] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：65

【论文】：[PointRCNN: 3D Object Proposal Generation and Detection from Point Cloud](https://paperswithcode.com/paper/pointrcnn-3d-object-proposal-generation-and)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/PointRCNN-3D-Object-Proposal-Generation-and-Detection-from-Point-Cloud

[2022-06-06 18:52] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：67

【论文】：[Is Pseudo-Lidar needed for Monocular 3D Object detection?](https://paperswithcode.com/paper/is-pseudo-lidar-needed-for-monocular-3d)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Is-Pseudo-Lidar-needed-for-Monocular-3D-Object-detection

[2022-06-06 18:54] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：68

【论文】：[PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds](https://paperswithcode.com/paper/paconv-position-adaptive-convolution-with)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/PAConv-Position-Adaptive-Convolution-with-Dynamic-Kernel-Assembling-on-Point-Clouds

[2022-06-06 18:55] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：69

【论文】：[Voxel R-CNN: Towards High Performance Voxel-based 3D Object Detection](https://paperswithcode.com/paper/voxel-r-cnn-towards-high-performance-voxel)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Voxel-R-CNN-Towards-High-Performance-Voxel-based-3D-Object-Detection

[2022-06-06 18:55] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：70

【论文】：[FCOS3D: Fully Convolutional One-Stage Monocular 3D Object Detection](https://paperswithcode.com/paper/fcos3d-fully-convolutional-one-stage)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/FCOS3D-Fully-Convolutional-One-Stage-Monocular-3D-Object-Detection

[2022-06-06 18:56] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：71

【论文】：[VectorNet: Encoding HD Maps and Agent Dynamics from Vectorized Representation](https://paperswithcode.com/paper/vectornet-encoding-hd-maps-and-agent-dynamics)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/VectorNet-Encoding-HD-Maps-and-Agent-Dynamics-from-Vectorized-Representation

[2022-06-06 18:58] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：72

【论文】：[TNT: Target-driveN Trajectory Prediction](https://paperswithcode.com/paper/tnt-target-driven-trajectory-prediction)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/TNT-Target-driveN-Trajectory-Prediction

[2022-06-06 18:59] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：73

【论文】：[COOT: Cooperative Hierarchical Transformer for Video-Text Representation Learning](https://arxiv.org/abs/2011.00597)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/COOT-Cooperative-Hierarchical-Transformer-for-Video-Text-Representation-Learning

[2022-06-06 19:00] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：76

【论文】：[EfficientGCN: Constructing Stronger and Faster Baselines for Skeleton-based Action Recognition](https://paperswithcode.com/paper/constructing-stronger-and-faster-baselines)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/EfficientGCN-Constructing-Stronger-and-Faster-Baselines-for-Skeleton-based-Action-Recognition

[2022-06-06 19:01] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：77

【论文】：[Symbiotic Attention with Privileged Information for Egocentric Action Recognition](https://arxiv.org/pdf/2002.03137v1.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Symbiotic-Attention-with-Privileged-Information-for-Egocentric-Action-Recognition

[2022-06-06 19:02] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：78

【论文】：[AFSD: Learning Salient Boundary Feature for Anchor-free Temporal Action Localization](https://paperswithcode.com/paper/learning-salient-boundary-feature-for-anchor)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/AFSD-Learning-Salient-Boundary-Feature-for-Anchor-free-Temporal-Action-Localization

[2022-06-06 19:04] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：81

【论文】：DensePose: Dense Human Pose Estimation In The Wild

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/DensePose-Dense-Human-Pose-Estimation-In-The-Wild

[2022-06-06 19:04] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：82

【论文】：[AMC: AutoML for Model Compression and Acceleration on Mobile Devices](https://arxiv.org/pdf/1802.03494v4.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/AMC-AutoML-for-Model-Compression-and-Acceleration-on-Mobile-Devices

[2022-06-06 19:06] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：83

【论文】：[Uniter: Learning universal image-text representations](https://openreview.net/forum?id=S1eL4kBYwr)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Uniter-Learning-universal-image-text-representations

[2022-06-06 19:07] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：85

【论文】：[Emerging Properties in Self-Supervised Vision Transformers](https://arxiv.org/pdf/2104.14294.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Emerging-Properties-in-Self-Supervised-Vision-Transformers

[2022-06-06 19:08] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：86

【论文】：[Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery](https://arxiv.org/abs/2011.09766)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Foreground-Aware-Relation-Network-for-Geospatial-Object-Segmentation-in-High-Spatial-Resolution-Remo

[2022-06-06 19:09] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：90

【论文】：[Invertible Denoising Network: A Light Solution for Real Noise Removal](https://arxiv.org/abs/2104.10546)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Invertible-Denoising-Network-A-Light-Solution-for-Real-Noise-Removal

[2022-06-06 19:10] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：93

【论文】：[Learning Enriched Features for Real Image Restoration and Enhancement](https://arxiv.org/pdf/2003.06792v2.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Learning-Enriched-Features-for-Real-Image-Restoration-and-Enhancement

[2022-06-06 19:11] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：94

【论文】：SwinIR: Image Restoration Using Swin Transformer

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/SwinIR-Image-Restoration-Using-Swin-Transformer

[2022-06-06 19:13] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：95

【论文】：[Restormer: Efficient Transformer for High-Resolution Image Restoration](https://arxiv.org/pdf/2111.09881.pdf?ref=https://githubhelp.com)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Restormer-Efficient-Transformer-for-High-Resolution-Image-Restoration

[2022-06-06 19:14] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：96

【论文】：[HINet: Half Instance Normalization Network for Image Restoration](https://arxiv.org/pdf/2105.06086v1.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/HINet-Half-Instance-Normalization-Network-for-Image-Restoration

[2022-06-06 19:15] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：97

【论文】：[PeCo: Perceptual Codebook for BERT Pre-training of Vision Transformers](https://arxiv.org/pdf/2111.12710v2.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/PeCo-Perceptual-Codebook-for-BERT-Pre-training-of-Vision-Transformers

[2022-06-06 19:16] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：98

【论文】：[IBOT : IMAGE BERT PRE-TRAINING WITH ONLINE TOKENIZER](https://arxiv.org/pdf/2111.07832v3.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/IBOT-IMAGE-BERT-PRE-TRAINING-WITH-ONLINE-TOKENIZER

[2022-06-06 19:16] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：100

【论文】：[Scaling Vision with Sparse Mixture of Experts](https://arxiv.org/pdf/2106.05974v1.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Scaling-Vision-with-Sparse-Mixture-of-Experts

[2022-06-06 19:18] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：102

【论文】：[Dense Contrastive Learning for Self-Supervised Visual Pre-Training](https://arxiv.org/pdf/2011.09157v2.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Dense-Contrastive-Learning-for-Self-Supervised-Visual-Pre-Training

[2022-06-06 19:19] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：103

【论文】：[MLDA-Net: Multi-Level Dual Attention-BasedNetwork for Self-Supervised MonocularDepth Estimation](https://ieeexplore.ieee.org/abstract/document/9416235)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/MLDA-Net-Multi-Level-Dual-Attention-BasedNetwork-for-Self-Supervised-MonocularDepth-Estimation

[2022-06-06 19:19] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：104

【论文】：[FCFR-Net: Feature Fusion based Coarse-to-Fine Residual Learning forDepth Completion](https://arxiv.org/abs/2012.08270)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/FCFR-Net-Feature-Fusion-based-Coarse-to-Fine-Residual-Learning-forDepth-Completion

[2022-06-06 19:21] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：108

【论文】：[Longformer: The Long-Document Transformer](https://arxiv.org/pdf/2004.05150.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Longformer-The-Long-Document-Transformer

[2022-06-06 19:22] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：114

【论文】：[CAN: Revisiting Feature Co-Action for Click-Through Rate Prediction](https://arxiv.org/abs/2011.05625)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/CAN-Revisiting-Feature-Co-Action-for-Click-Through-Rate-Prediction

[2022-06-06 19:24] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：124

【论文】：[Counterfactual Explainable Recommendation](https://arxiv.org/pdf/2108.10539v2.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Counterfactual-Explainable-Recommendation

[2022-06-06 19:25] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：125

【论文】：[Deep Position-wise Interaction Network For CTR Prediction](https://arxiv.org/pdf/2106.05482v2.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Deep-Position-wise-Interaction-Network-For-CTR-Prediction

[2022-06-06 19:26] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：128

【论文】：[TorchMD: A deep learning framework for molecular simulations](https://arxiv.org/pdf/2012.12106.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/TorchMD-A-deep-learning-framework-for-molecular-simulations

[2022-06-06 19:27] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：129

【论文】：[Self-consistent determination of long-range electrostatics in neural network potentials](https://www.nature.com/articles/s41467-022-29243-2.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Self-consistent-determination-of-long-range-electrostatics-in-neural-network-potentials

[2022-06-06 19:28] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：142

【论文】：[Few-Shot Learning with Graph Neural Networks](https://openreview.net/pdf?id=BJj6qGbRW)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Few-Shot-Learning-with-Graph-Neural-Networks

[2022-06-06 20:46] jyjfjyjf opened #43259 "aistudio运行报错(lwfx)"
### bug描述 Describe the Bug

W0607 04:40:40.849649  1186 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.2, Runtime API Version: 10.2
W0607 04:40:40.855998  1186 gpu_context.cc:306] device: 0, cuDNN Version: 7.6.
W0607 04:40:45.300216  1186 dynamic_loader.cc:305] The third-party dynamic library (libcuda.so) that Paddle depends on is not configured cor

[2022-06-06 21:09] skywalk163 commented on #41482
【队名】：极快软件

【序号】：128

【论文】：[TorchMD: A deep learning framework for molecular simulations](https://arxiv.org/pdf/2012.12106.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/skywalk163/INFINITY/

[2022-06-06 21:22] skywalk163 commented on #41482
【队名】：极快软件

【序号】：128

【论文】：[TorchMD: A deep learning framework for molecular simulations](https://arxiv.org/pdf/2012.12106.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/skywalk163/INFINITY/

[2022-06-06 22:34] OccupyMars2030 opened #43260 "(this issue is just for my personal self-learning ) not flexible enough: paddle.scatter()"
### 问题描述 Please describe your issue

"torch code,  can  be  replaced  with  torch.nn.functional.one_hot"
def one_hot_torch(x, num_classes, on_value=1., off_value=0., device='cuda'):
    x = x.long().view(-1, 1)
    return torch.full((x.size()[0], num_classes), off_value, device=device).scatter_(1, x, on_value)

“paddle version”
def one_hot(x, num_classes, on_value=1., off_value=0., device='cuda'):

[2022-06-07 00:51] OccupyMars2030 opened #43261 "(this issue is just for my personal self-learning )incomplete feature: Tensor.add_(3) throw error "AttributeError: 'int' object has no attribute 'shape'""
### 问题描述 Please describe your issue

`
import paddle
x = paddle.to_tensor([1, 2, 3])
x.add_(3)
`
The above code will throw an error, but the following code works
`
import paddle
x = paddle.to_tensor([1, 2, 3])
x.add_(paddle.to_tensor(3))
`

TODO:  make  a  python  float  or  int  value  to  be  a  legal  argument  in  add_()  .
A  Tensor has attribute   add_,  subtract_  ,  but  doesn't  have  mul

[2022-06-07 01:56] leo0519 opened #43262 "test_elementwise_div_op failed on A100"
### 问题描述 Please describe your issue

### bug描述 Describe the Bug

- 版本、环境信息：
    1. PaddlePaddle版本：2.3.0
    2. CPU/GPU：A100
    3. Docker：paddlepaddle/paddle:2.3.0-gpu-cuda11.2-cudnn8
    4. Python版本号：3.7
    5. 显存信息

[code]

- 复现步骤

[code]

-问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
`test_elementwise_div_op` failed on A100. The error log is as follow.

In elementwise_div_op UT, the BF16 test should have

[2022-06-07 02:07] zhangxihou commented on #43119
您问了几天，给出的解决办法让我升级我的那些软件，可是太多东西了吧，问题的关键你还没给我，这样拖着请问要到什么时候呢？问题给您解释清楚了，您那边没有什么解决办法，一直在打太极的感觉，可是使用的人很着急啊，能不能认真的关注一下别人的问题呢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"

[2022-06-07 02:22] AshburnLee commented on #43191
转述下文章作者 @ShenLiang 的回复：

问题一：
你是说相关的代码吗？有的，没有采用的offload的版本在
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/moe/dygraph
需要用最新的paddle的develop分支才能跑通。
offloading的版本还在整理，近期也会开源出去。

问题二：
这部分采用的是框架蒸馏剪枝的方案，走的是动转静推理。这部分代码，暂没有开源，有实现，但是部分效果不好。

[2022-06-07 02:23] jiangjiajun commented on #43167
OP开发都是根据用户反馈的需求来支持的。 如果你需要conv3d的支持，可以提供下你的paddle模型，我们会尽快加上

[2022-06-07 02:57] Shixiaowei02 commented on #43255
您好！建议已收到。感谢您对飞桨的关注。

我在工作中更了解框架一些。我认为推理使用 C++ 接口的主要原因是部署性能；在语言类型上，Python 的确更容易上手，相比 C++ 安装调试都方便一些，打磨好 Python 用户接口有助于提升用户上手体验，所以我们整个框架花了较多精力开展这件事。为满足您所述使用其它语言 API 的需求，我们调研过底层数据结构暴露给用户的方式，由于推理部署 API 数量较少，部分工作已经完成，可向用户暴露更多底层 C++ 数据结构，并已支持 Python / Go / Java 等语言。训练组网使用 C++ 的工作我们内部评估下是否可以更快推进。

关于您文中提到的，对套件模型的疑问和意见，我找相应同学跟进回复。

再次感谢您的支持！

[2022-06-07 03:00] KPatr1ck commented on #43254
请问这已经是终端里完整的输出了吗？如果没截全的话可以用截取把完整的日志贴上来。

另外，输入文件的路径是有问题的，分隔符应用 `/`。

[2022-06-07 03:04] Shixiaowei02 commented on #43240
您好，这看起来是一个 bug，我们跟进下，谢谢

[2022-06-07 03:17] zlsh80826 commented on #43262
Besides, why we use [a very large relative error](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_elementwise_div_op.py#L289-L302) for FP16? Will it be better to use `user_defined_grads` here?

[2022-06-07 04:03] #43121 closed, assigned to LemonNoel

[2022-06-07 04:25] xiaotingyun opened #43268 "paddlehub载入u2_conformer_wenetspeech失败"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/51204375/172295697-5e5b86a0-25b5-4b30-8fc8-0a7a2bbd456a.png)

[2022-06-07 05:03] wangxinrugithub commented on #43254
![image](https://user-images.githubusercontent.com/72679116/172299765-2a515555-d6d7-41c0-8cf1-b3d22d14454f.png)
请看一下   这是完整截图

[2022-06-07 05:39] lidanqing-vv opened #43272 "Forward and backward compatibility test in removing mkldnn related attributes in native ops PRs"
### Forward and backward compatibility issue test
1. 旧版本save的，新版本能不能正确执行：a)是能否load起来, b)结果是否正确
2. 新版本save的，旧版本的能不能正确执行：a)是能否load起来, b)结果是否正确

English
1. models saved using old version
   - Could the new code load the old version model ?
   - Is the acc and perf results correct ?
2. models saved using new version
   - Could the old code load the new code saved model ?
   - Is the acc and perf resul

[2022-06-07 05:42] lidanqing-vv commented on #43272
@Silv3S  Hi, please test two directions' compatibilities with removing attributes PRs, (now first PR https://github.com/PaddlePaddle/Paddle/pull/42852 need to be tested) and write results under this issue. Thanks.

For now please do not merge the second removing attributes PR https://github.com/PaddlePaddle/Paddle/pull/43160. Thanks.

[2022-06-07 05:52] Shixiaowei02 commented on #43217
We will judge and fix this issue. Thanks for your cooperation!

[2022-06-07 06:03] lidanqing-vv commented on #43232
### 1. Baidu has concern with this solution forward and backward compatibility.
Please test follows:

Chinese
1. 旧版本save的，新版本能不能正确执行：a)是能否load起来, b)结果是否正确
2. 新版本save的，旧版本的能不能正确执行：a)是能否load起来, b)结果是否正确

English
1. models saved using old version
   - Could the new code load the old version model ?
   - Is the acc and perf results correct ?
2. models saved using new version
   - Could the old code lo

[2022-06-07 06:16] lidanqing-vv commented on #43272
This issue description is put back to #43232

[2022-06-07 06:16] #43272 closed, assigned to yaomichael

[2022-06-07 06:17] 0x45f commented on #43225
你好，方便提供下完整的动转静导出运行命令吗？

[2022-06-07 06:21] hyhuang00 commented on #43191
非常感谢您和 @ForFishes 的及时回复！
问题一：感谢您提供的源代码！问题三中提到的原文5.2，表二所使用的数据是否来源于https://github.com/PaddlePaddle/PaddleNLP/blob/3ec1d35f7f3dae5cfc61b5e9e9e395ce21c569ce/examples/language_model/moe/dygraph/run_moe_pretrain.py#L73 这里的`run_evaluate()`函数？
问题二：感谢回复，望早日开源！

[2022-06-07 07:30] joey12300 commented on #43192
你好，感谢提供报错信息~这里已经提了一个修复的PR：https://github.com/PaddlePaddle/Paddle/pull/43277

[2022-06-07 07:49] EsdeathYZH commented on #35050
该问题已经在https://github.com/PaddlePaddle/Paddle/pull/43072 进行修复

[2022-06-07 08:23] PQ-girl opened #43280 "使用paddlelite转.nb文件失败"
### 问题描述 Please describe your issue

您好！我使用paddlelite将paddle模型转换为.nb文件时报错Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'pad'。然后去paddlelite下提问后说：arm 上目前只支持pad2d 和 pad3d OP，可以将pad OP 转换为pad2d/pad3d 进行推理。
所以我想问一下如何将pad OP转换为pad2d 和 pad3d OP，麻烦你们帮帮我

[2022-06-07 08:27] XiangLiu0731 commented on #43196
经过对原模型各层梯度进行比较，我们最终定位到梯度出现在自定义算子梯度后一层（包含自定义算子模块处梯度与pytorch一致，但该模块结果输入resnet模块后，梯度发生错误）。paddle模型代码如下所示（标注出了模型梯度出现错误的地方，为了代码易读性，忽略了部分函数，如需原始代码，请留邮箱）。其中paddle版本为2.3.0， cuda=11.1。
此外，我们还尝试将包含自定义算子模块去除，此时整体网络梯度与pytorch一致。单独对包含自定义算子模块梯度进行测试，此时梯度仍与pytorch一致。个人怀疑自定义算子（C++ add CUDA）与后续网络梯度回传处出现问题。

[code]

[2022-06-07 09:30] ljl86092297 opened #43285 "相同代码 linux无法正常运行， windows可以正常运行"
### bug描述 Describe the Bug

![image](https://user-images.githubusercontent.com/59467994/172346504-47f38cb8-96e1-4705-b2b6-98a5ca843509.png)
![image](https://user-images.githubusercontent.com/59467994/172346593-50d1f13f-70bf-40b6-b6c4-ea29021a9ac5.png)
上述是windows 情况下 python3.8 paddle2.3.0 可以正常读取模型推理
以下是linux下，python3.7 paddle2.3.0 读取报错
![image](https://user-images.githubusercontent.com/59467994/172

[2022-06-07 10:11] ccrrong commented on #43285
你好，可以先确认一下模型文件是否正确呢

[2022-06-07 11:03] #43193 closed, assigned to AshburnLee

[2022-06-07 11:14] umiswing opened #43287 "Linux下使用Docker编译，执行make时报错"
### 问题描述 Issue Description

按照[官方文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html)在Linux下使用Docker从源码编译。在/paddle/build下执行make -j$(nproc)，编译过程中报错：

[ 19%] Building CUDA object paddle/phi/kernels/CMakeFiles/tile_grad_kernel.dir/gpu/tile_grad_kernel.cu.o
Killed
paddle/phi/kernels/CMakeFiles/strided_slice_grad_kernel_base.dir/build.make:75: recipe for target

[2022-06-07 11:17] SunNy820828449 commented on #43256
收到，已经通知相关同事。

[2022-06-07 11:18] Ligoml commented on #43256
报名需要在这里按格式回复：https://github.com/PaddlePaddle/Paddle/issues/41482 不是提新的issue哦~

[2022-06-07 11:18] #43256 closed, assigned to nobody

[2022-06-07 11:20] SunNy820828449 commented on #43259
建议按照建议检查一下你的libcuda.so文件是否完好。

[2022-06-07 11:24] SunNy820828449 commented on #43260
Thanks for your issue. We will feedback this issue to our developer.

[2022-06-07 11:35] umiswing commented on #43287
使用https://github.com/baidu/AnyQ/issues/61 的方法，修改线程数为8，依然无法编译通过。

[2022-06-07 11:43] SunNy820828449 commented on #43261
If tensor is a matrix, we can't just add attributes  'multiply_'  and 'divide_' like 'add_'.

[2022-06-07 11:45] jzhang533 commented on #43255
我们在最新的算子库（PHI）项目中，已经设计了与Python API保持一致的 C++ 运算类 API。这些C++ API将来可以用在C++的项目当中，相应的Demo和文档也在计划当中，敬请期待。

- PHI Design Doc: https://github.com/PaddlePaddle/docs/blob/develop/docs/design/phi/design.md
- PHI Code Path: https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/phi

cc: @XiaoguangHu01 @chenwhql

[2022-06-07 11:54] zhiqiu commented on #43262
I think the problem is that, for BF16 computing, it is not easy to get the `expected result`? It there some good practice in Nvidia?

[2022-06-07 12:17] SunNy820828449 commented on #43287
确认已经安装cuda，并使用更少的线程编译，可以贴出更多的报错信息。

[2022-06-07 12:36] umiswing commented on #43287
@SunNy820828449

使用4个线程可以编译。但是请问container的内存要分配多少才够？我分配到了8G编译过程中还是会因为内存占满卡住。

[2022-06-07 12:42] SunNy820828449 commented on #43280
已经反馈给相关同学，会尽快为你处理。

[2022-06-07 12:57] OccupyMars2030 commented on #43261
I  don't  quite understand  what  you mean.
`import torch

x = torch.arange(6).reshape([2, 3]).type(torch.float)
print(x)
x.mul_(2)
print(x)
x.div_(2)
print(x)`

In pytorch,  the above code can  work,  but  in  paddlepaddle,   there seems  to  be  no such  thing

[2022-06-07 13:46] umiswing commented on #43287
使用4个线程，container分配10G内存后，完成了编译。

[2022-06-07 13:46] #43287 closed, assigned to nobody

[2022-06-07 14:25] lidanqing-vv commented on #43238
https://github.com/PaddlePaddle/Paddle/pull/43297 fix this issue

[2022-06-07 14:55] huahuabai opened #43298 "cuda9.0 python=3.7.3 安装paddlepaddle-gpu==1.7.0 检查是否安装成功时输入paddle.fluid.install_check.run_check()报如下错误"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2022-06-07 14:58] huahuabai commented on #43298
![image](https://user-images.githubusercontent.com/55180640/172412834-b9a7b86a-965a-4b84-8c9d-40f64c04ea87.png)
![image](https://user-images.githubusercontent.com/55180640/172412883-1e268eca-0930-44f3-afa6-86b1f58c50e7.png)
![image](https://user-images.githubusercontent.com/55180640/172412947-1b3864c3-f868-4022-ab71-964e1cd6fd02.png)
![image](https://user-images.githubusercontent.com/55180640/1724