[2019-06-03 12:02] fuyi02 opened #17806 "paddle.fluid.core.EnforceNotMet: Tensor holds the wrong type, it holds double at [/home/vis/fuyi/networkCode/Paddle/paddle/fluid/framework/tensor_impl.h:29]"
get error while use square_error_cost op，
I want to calculate a loss like mseloss in pytorch ,I try to use square_error_cost and sqrt op to make it work, but I get error like this:

my code:
def get_mse_loss(logit, label, ignore_mask):
    shape = logit.shape
    logit = fluid.layers.sigmoid(logit)
    square_loss = fluid.layers.square_error_cost(logit, label)
    loss = fluid.layers.sqrt(square_l

[2019-06-03 12:25] Sparrow0817 commented on #17774
好的，感谢

[2019-06-03 12:25] #17774 closed, assigned to nobody

[2019-06-03 12:29] Superjomn commented on #16556
可以多线程多卡（单卡1线程）预测

[2019-06-03 13:19] MengMengLiao opened #17811 "执行训练代码直接报错"
版本号：paddlepaddle-gpu 1.4.0.post85
GPU型号：Tesla P40
安装的CUDA版本 8.0，cudnn 5.0

![image](https://user-images.githubusercontent.com/39786088/58804634-e5094980-8644-11e9-9f0a-66dddee227ac.png)

[2019-06-03 15:31] sandyhouse commented on #17811
能提供一些程序信息吗，或者使用export GLOG_v=3，然后运行程序看看错误在哪里。

[2019-06-03 17:14] jczaja commented on #17611
1. Added locks to Acquire mechanism (reusing implementations for Transpose, Softmax, conv2d , conv2d transpose and batch norm). Training runs for 1000 steps and then when validation is to happen there is a crash (mkl-dnn transpose2 op) on mismatch of input dims and  axis dims. It works fine without mkl-dnn.
**It looks like there is another issue when using mkl-dnn implementation for training apart

[2019-06-04 01:22] lcctju opened #17815 "The requirement version of requests incompatible with spacy, docker, and allennlp"
**System information**
-PaddlePaddle version : 1.4.1
-CPU: Intel(R) Xeon(R) CPU E5-2680 v4 @ 2.40GHz
-GPU: GeForce GTX 1080 Ti  CUDA: 10.1  CUDNN: 7.0
-OS Platform: Ubuntu
-Python version: python3.6
- Install method: build from source(without docker)

**To Reproduce**

Requirement already satisfied: paddlepaddle-gpu==0.0.0 from file:///mnt/lun2/home/lcc/Paddle/build/python/dist/paddlepaddle_gpu-0.

[2019-06-04 01:36] sandyhouse commented on #17806
输入数据是什么格式，是否可以打印变量看一下具体的类型

[2019-06-04 01:37] sandyhouse commented on #17798
问题原因是由于pserver节点宕机，已解决。

[2019-06-04 01:38] sandyhouse commented on #17798
Closing this issue. Reopen it if you have any further question.

[2019-06-04 01:39] sandyhouse commented on #17798
Closing this issue. Reopen it if you have any further question.

[2019-06-04 01:39] sandyhouse commented on #17798
Closing this issue. Reopen it if you have any further question.

[2019-06-04 01:39] #17798 closed, assigned to nobody

[2019-06-04 01:40] sandyhouse commented on #17793
Closing this issue. Reopen it if you have any further question.

[2019-06-04 01:40] #17793 closed, assigned to nobody

[2019-06-04 01:42] xiangyubo commented on #16961
改到1、2的时候不会卡住，大了会卡住。

[2019-06-04 02:07] wopeizl commented on #17789
paddlepaddle当前没有正式支持cuda10，下个版本将开始支持，另外编译的时候可以采用官方提供的docker镜像，这样编译的时候能省去不少环境配置的环节。
http://paddlepaddle.org/documentation/docs/zh/1.4/beginners_guide/install/compile/compile_Ubuntu.html

[2019-06-04 02:13] xiangyubo commented on #16961
我现在使用
paddle 1.4.1
python 3.6
GPU，v100
batch_size：128 、64、32、16
reader 个数：4、2、1
训练 yolo 的时候，也使用上述相似数据读取方式，我打印了读数的日志。数据读取没有卡住，但是训练的部分 exe.run() 会卡住，这次是从一开始就卡住。我同时读数的 reader 进程数量从4到2到1，都会卡住。
我把 batch_size 调到 8 的时候不会卡住，此时的 reader 是1个。看到的现象是数据匀速读取，但是 exe.run 的输出是批量式的出结果。批量出8次结果，第一次 exe.run 会消耗几十秒，后面的都只消耗 0.04 秒左右。
=========================分割线================================
刚刚我测试了一下等久一些，batch_size 128

[2019-06-04 02:32] chengduoZH commented on #17611
@LeoZhao-Intel Which one is fast? use_fast_executor=true of false. `FastThreadedSSAGraphExecutor` is an optimization based on `ThreadedSSAGraphExecutor`. The current test results show that `FastThreadedSSAGraphExecutor` runs faster on most data models than `ThreadedSSAGraphExecutor`.
The `ThreadedSSAGraphExecutor` will be gradually removed.

ParallelExecutor can be used for training and testing no

[2019-06-04 02:54] LeoZhao-BJ commented on #17611
@chengduoZH  Thanks for your reply, use_fast_executor=true has almost 2 times of performance improvement, we are surprised to see this. It is good for us to understand your strategy and roadmap, then do optimization on Xeon accordingly.

[2019-06-04 03:21] Xreki opened #17818 "develop failed for language_model when use_program_cache is True"
When I train [language_model](https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/language_model) model with the following command:
[code]

I get the following error:

[code]

It seems related to the recent modification for executor when setting `use_program_cache=True`.  I found `use_program_cache` is not set for unitests [here](https://github.com/PaddlePaddle/Paddle/tree/develop/python

[2019-06-04 03:58] bhan1111 commented on #17771
训练样本应该没有问题啊，单机可以跑通

[2019-06-04 04:01] dashulu opened #17820 "cpu gru op进行训练时出错"
用cpu训练一个包含gru op的模型，出现了如下错误， 请问是什么原因：
Traceback (most recent call last):
  File "thirdparty/train.py", line 203, in <module>
    train_net()
  File "thirdparty/train.py", line 199, in train_net
    init_high_bound=0.1)
  File "thirdparty/train.py", line 138, in train
    fetch_list=fetch_list)
  File "/usr/local/lib/python2.7/site-packages/paddle/fluid/executor.py", line 472, in run
    self.execu

[2019-06-04 04:20] ceci3 commented on #17820
您好，方便贴一下训练脚本吗？

[2019-06-04 04:33] tz28 commented on #17785
好的，期待。

[2019-06-04 04:33] #17785 closed, assigned to hutuxian

[2019-06-04 04:48] dashulu commented on #17820
args = parse_args()
    # random seed must set before configuring the network.
    fluid.default_startup_program().random_seed = SEED
    fluid.default_main_program().random_seed = SEED
    vocab_size = len(vocab)

    #Input data
    src_wordseq = fluid.layers.data(
        name="src_wordseq", shape=[1], dtype="int64", lod_level=1)
    dst_wordseq = fluid.layers.data(
        name="dst_wordseq",

[2019-06-04 04:54] sandyhouse commented on #17799
Closing this issue. Reopen it if you have any further question.

[2019-06-04 04:54] #17799 closed, assigned to nobody

[2019-06-04 05:03] sandyhouse commented on #17805
所有trainer进程都需要调用exe.close()。后面的问题在继续看。

[2019-06-04 05:38] AWSWXY opened #17822 "网络加dropout出错"
Traceback (most recent call last):
  File "script/train.py", line 290, in <module>
    train(args)
  File "script/train.py", line 232, in train
    train_loop(args, args.train_data_path, train_file_list, main_program, args.test_data_path, test_file_list, test_program, py_reader, loss, acc, auc_var, batch_auc_var, scale_infer,1, 0,data_list)
  File "script/train.py", line 151, in train_loop
    eva

[2019-06-04 05:38] AWSWXY commented on #17822
不加dropout 不报错

[2019-06-04 06:26] AWSWXY opened #17824 "为什么要set_zero"
在读代码的时候看到zhe这样的语句，为什么要归零
![image](https://user-images.githubusercontent.com/18156360/58856241-b89d0e00-86d4-11e9-90ff-995521284ca7.png)

[2019-06-04 06:34] #15656 closed, assigned to nobody

[2019-06-04 07:09] bhan1111 commented on #17771
我把is_distributed设置为False
http://10.182.7.13:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190604142501-7246/
<img width="509" alt="图片" src="https://user-images.githubusercontent.com/29255596/58858662-a2924c00-86da-11e9-8ac4-5837e87a1c50.png">
总是提示pserver not ready

[2019-06-04 07:46] MengMengLiao commented on #17811
def training():

    negativeFile = "/home/****/datasets/imageContextModel/preTrainingNormalFile"
    positiveFile = "/home/*****/datasets/imageContextModel/preTrainingCheatingFile"

    trainDataProcess = TrainingDataProcessing()

    multiCategoryFileList = []
    negativeFileList = trainDataProcess.ExtraAndRankingImageFiles(negativeFile)
    positiveFileList = trainDataProcess.ExtraAndRankingIm

[2019-06-04 08:08] sandyhouse commented on #17811
你在运行前export GLOG_v=3， 然后运行程序会报什么错呢？如果没有报错信息可以试试export GLOG_v=10。

[2019-06-04 08:45] ceci3 commented on #17822
测试的时候需要把fluid.default_main_program().clone(for_Test=True)放在optimizer之前

[2019-06-04 08:45] #17822 closed, assigned to nobody

[2019-06-04 08:56] jacquesqiao commented on #17771
这个任务的trianer和pserver没有区分，都是启动的trainer

[2019-06-04 09:06] luotao1 commented on #17611
@jczaja It is impossible in op level to figure out which executor is used. And an op doesn't need to know which executor will call it.

[2019-06-04 09:24] pmajchrzak opened #17832 "Build error when using -DWITH_COVERAGE=ON"
Build error when using  -DWITH_COVERAGE=ON and with MKLDNN

### All flags used for the build:
[code]
### Error occured:

[code]

[2019-06-04 09:49] ceci3 commented on #17824
auc是累计的，所以加载模型的时候需要先清零，不然会累计训练集的auc

[2019-06-04 10:14] ceci3 commented on #17815
requests这个包要求是大于2.13.0， 小于3.0.0，但是你本机安装的是2.9.2，需要先卸载掉2.9.2的requests，安装满足条件的requests包

[2019-06-04 10:34] sandyhouse commented on #17811
另外，你直接import paddle.fluid有问题吗？

[2019-06-04 10:43] Minghui-Intel commented on #17336
This issue will be solved by PR #17834

[2019-06-04 11:08] SunGaofeng commented on #17779
pserver问题，已建群在讨论中

[2019-06-04 11:38] luotao1 commented on #17832
1. use `-DCMAKE_BUILD_TYPE=Release`
2. use `paddlepaddle/paddle:latest-dev` image
3. fixed by https://github.com/PaddlePaddle/Paddle/pull/15109

[2019-06-04 12:13] jczaja commented on #17611
@luotao1 Could you please run training of ContentDNN on following branch:
https://github.com/jczaja/Paddle/tree/prv-mkldnn-reuse-mt

-If there is a failure please provide log (this is still work in progress , halpf of mkl-dnn ops were secured)
-if it works fine then please tell me if speedup is visible.

[2019-06-04 12:36] tz28 opened #17840 "#强烈建议支持multi-hot编码"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：fluid1.4
2）CPU/GPU：cpu
3）系统环境：Mac OS 10.14
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：希望增加multi-hot编码的支持。对于单值离散特征，fluid中已经封装了one-hot编码，但是在ctr预估中经常有多值离散特征，即一条样本的某个特征会取多个值，如用户兴趣。这样就需要multi-hot，得到的编码形如：[0,1,1,0,1,0,0,1,0]等。目前paddle中还不支持。可参考embedding实现，传入多个索引可以得到多个embedding向量。
Thank you for contributing to PaddlePaddle.

[2019-06-04 14:07] lcctju commented on #17815
paddle的依赖文件requirements.txt里面设置的requests==2.9.2

[2019-06-04 14:09] miraclebiu opened #17842 "两台机器使用相同环境，一台正常运行，另一台CUDNN_STATUS_NOT_INITIALIZED"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：k40
    4）系统环境：cuda8 cudnn7.1
    1）单机/多机，多卡

Traceback (most recent call last):
  File "ft_car_rec_v7_paddle.py", line 257, in <mod

[2019-06-04 14:09] dancingpipi opened #17843 "使用c++（paddle-tensorrt）如何给lstm序列喂入输入？"
1）PaddlePaddle版本：1.4
    2）CPU：None
    3）GPU：P4
    4）系统环境：ubuntu16.04
-预测信息
    1）C++预测：GIT COMMIT ID: bfcc97d9245e21aa06053755033679de6e3a537a
                            WITH_MKL: OFF
                            WITH_MKLDNN: OFF
                            WITH_GPU: ON
                            CUDA version: 8.0
                            CUDNN version: v7
    2）CMake包含路径的完整命令

[2019-06-04 14:17] dancingpipi commented on #14168
如果我的batch_size为1，如何设置输入呢？我用的代码是这样：
[code]
但是报这个错误：
[code]
想问下究竟该怎么处理输入呢？

[2019-06-04 14:21] dancingpipi commented on #14168
@Superjomn
输入是视频所有帧的图像特征，每个图像特征是1024维，使用c++该如何设置lod呢？batch_size为1

[2019-06-04 14:44] ceci3 commented on #17815
看了一下你的环境，paddle 1.4.1目前没有正式支持cuda10，会在下个版本开始支持

[2019-06-04 14:49] lcctju commented on #17815
我使用源码编译，跟cuda版本貌似没有关系吧，paddle的依赖文件requirements.txt里面设置的requests==2.9.2，这个问题吧

[2019-06-04 15:50] sandyhouse commented on #17806
程序中虽然label的定义是float32的，但实际feed到label的值是float64的，导致运行时label的值为float64（double）。

[2019-06-05 00:33] #16197 closed, assigned to nobody

[2019-06-05 02:50] AWSWXY opened #17849 "加载模型失败"
![image](https://user-images.githubusercontent.com/18156360/58927019-aa57fc00-877f-11e9-8959-7cb643e46194.png)

[2019-06-05 03:19] lzha106 opened #17850 "train_from_dataset 接口如何打印训练速度信息？"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU：Xeon
    3）GPU： no GPU
    4）系统环境：Ubuntu 16.04， python 2.7
- 训练信息
    1）单机
    2）显存信息
    3）Operator信息
- 复现信息：使用 train_from_dataset 进行训练，例如 https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/ctr/Paddle_baseline_KDD2019/local_train.py
- 问题描述：
使用 train_from_dataset 如何打印训练速度？例如 batches/second。 目前看到的接口，print_period  只能打印 fetch_info 的变量，但是没有时间戳

[2019-06-05 04:14] manzhengrui opened #17852 "安装错误_k1200卡安装paddle"
k1200的卡上安装paddle，安装错误

[2019-06-05 05:28] wanghaoshuang opened #17854 "如何拿到pyreader feed的数据"
以[models/image_classification](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/train.py#L211)为例：
[code]

## 第一种办法

把image和label的name添加到fetch_list里即可：
[code]
同时，建议将image和label的persistable属性设置为true:
[code]

exe.run
[code]

## 第二种：

[code]

[2019-06-05 05:28] #17854 closed, assigned to nobody

[2019-06-05 06:49] bhan1111 opened #17855 "训练中报错，原因不明"
1）PaddlePaddle版本：1.2.0
   2）CPU/GPU：cpu
   3）系统环境：centos
   4）Python版本号 2.7
   5）显存信息

mpi 地址：
http://10.182.15.20:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190605112054-8214/

pserver 报错：
<img width="1229" alt="图片" src="https://user-images.githubusercontent.com/29255596/58935805-d20b8c00-87a0-11e9-838c-8137b6c9ebbc.png">
无法定位问题，请求支援

[2019-06-05 06:49] #13970 closed, assigned to chengduoZH

[2019-06-05 07:17] manzhengrui opened #17857 "no CUDA-capable is detected"
程序运行的时候，提示：
no CUDA-capable is detected

[2019-06-05 07:26] Austendeng commented on #17857
错误截图如下
![image](https://user-images.githubusercontent.com/16330293/58937881-41d04580-87a6-11e9-82a0-df0d12c24947.png)

[2019-06-05 08:05] jacquesqiao commented on #17855
distribute_transpiler_config.slice_var_up=True

[2019-06-05 08:06] jacquesqiao commented on #17855
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/transpiler/distribute_transpiler.py#L156

[2019-06-05 08:08] ceci3 commented on #17820
用户使用GPU训练没有报错，我本地使用paddlepaddle 1.4运行代码也没有报错

[2019-06-05 08:08] #17820 closed, assigned to nobody

[2019-06-05 08:09] #17824 closed, assigned to nobody

[2019-06-05 08:55] carychai opened #17863 "paddlepaddle 安装检查报错"
- 版本、环境信息：
    1）PaddlePaddle版本：
    2）CPU：i5-8400
    3）GPU：Geforce RTX2060，CUDA:8.0 和CUDNN:V7.1
    4）系统环境：windows 10. python: 3.7.3

- 安装方式信息：
1）pip安装:pip3 install paddlepaddle-gpu   

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
C:\Users\Administrator>python
Python 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for

[2019-06-05 09:17] NHZlX commented on #17843
paddle-trt暂时还不支持.
config配置参照https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tests/api/analyzer_rnn2_tester.cc#L107-#L112

lstm输入应该需要设置lod信息，具体参照：
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tests/api/analyzer_rnn2_tester.cc#L91-#L104

关于这块，文档确实存在不详尽的情况，近期会进行完善

[2019-06-05 09:20] ceci3 commented on #17842
相同的环境是指cuda版本驱动和cudnn版本相同吗

[2019-06-05 10:33] ceci3 commented on #17840
您好，现在还不支持

[2019-06-05 10:36] wanghaoshuang commented on #17792
该问题已解决：https://github.com/PaddlePaddle/models/issues/1360

[2019-06-05 10:36] #17792 closed, assigned to kuke, wanghaoshuang

[2019-06-05 12:20] pmajchrzak commented on #17832
flags I used today:
`
-DCMAKE_BUILD_TYPE=Release -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DON_INFER=ON -DWITH_TESTING=ON -DWITH_STYLE_CHECK=ON -DWITH_FLUID_ONLY=ON -WITH_INFERENCE_API_TEST=ON -DWITH_PROFILER=ON -DWITH_COVERAGE=ON
`
mentioned image used…
still doesn't work

[2019-06-05 12:41] AWSWXY opened #17867 "预测卡住"
训练过程中预测，进程卡住

[2019-06-05 13:20] jczaja commented on #17611
Status: critical sections were reduced (changes on branch URL as prviously). Currently trying to improve code (avoid copying locks all over). If all is fine Then first PR should be ready this week.

[2019-06-05 13:50] AIFollowers commented on #17852
没有安装相应的显卡驱动；

[2019-06-05 13:51] AIFollowers commented on #17857
CUDA_VISIBLE_DEVICES变量设置问题

[2019-06-05 14:04] AIFollowers commented on #17849
请再详细描述下问题@AWSWXY

[2019-06-05 14:08] manzhengrui commented on #17852
先看下需要安装的paddle的版本所需要的cuda版本，以及对应的 cudnn版本，和驱动版本
然后先安装 驱动，在安装 cuda cudnn 还有几个库，
最后安装paddle，安装后，export 库
如果是单机单卡，那GPU编号是0开始。对单机多卡的设置也要修改下

[2019-06-05 14:08] #17852 closed, assigned to nobody

[2019-06-05 14:10] manzhengrui commented on #17857
先看下需要安装的paddle的版本所需要的cuda版本，以及对应的 cudnn版本，和驱动版本
然后先安装 驱动，在安装 cuda cudnn 还有几个库，
最后安装paddle，安装后，export 库
如果是单机单卡，那GPU编号是0开始。对单机多卡的设置也要修改下

这个问题主要是 GPU的编号没有指定对，需要指定 CUDA_VISIBLE_DEVICES

[2019-06-05 14:10] #17857 closed, assigned to nobody

[2019-06-05 14:20] AIFollowers commented on #17842
CUDA与cuDNN版本不一致，找相应版本的paddle进行pip安装，或者手动编译安装

[2019-06-05 14:44] miraclebiu commented on #17842
这两个机器的cuda和cudnn是一样的

[2019-06-06 00:56] carychai commented on #17863
<img width="464" alt="微信图片_20190606085418" src="https://user-images.githubusercontent.com/26074835/58999562-d6838380-8838-11e9-8f9b-643cb773ddbf.png">
安装CUDA8.0提示

[2019-06-06 03:12] kh2se2013 opened #17870 "编译时使用WITH_COVERAGE=ON选项未生效"
WITH_COVERAGE在CMakeLists.txt中选项已定义，

https://github.com/PaddlePaddle/Paddle/blob/develop/CMakeLists.txt#L67

并未在cmake时传入

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/scripts/paddle_build.sh#L220

[2019-06-06 03:18] yeyupiaoling opened #17873 "请问topk接口如何设置动态变化的k值？"
# 环境
 - PaddlePaddle 1.4.1
 - Python 3.5
 - Ubuntu 16.04

# 问题
我项目中需要统计有意义的标签的数据，然后再求topk 的，但是topk的k值好像不能设置变量，如下代码，我该如何操作？
[code]

[2019-06-06 03:19] yeyupiaoling commented on #17867
@AWSWXY 你说的卡住是什么意思，是不是支持比较慢而已，之后还是会输出的、

[2019-06-06 03:20] yeyupiaoling commented on #17863
你的CUDA是安装成功的吗？

[2019-06-06 03:22] yeyupiaoling commented on #17850
@lzha106 我一般是自己统计的，PaddlePaddle好像没有这个操作。

[2019-06-06 03:24] yeyupiaoling commented on #17849
@AWSWXY 你是否使用了正确的模型加载接口？或者是加载的模型是否正确。
你会不会加载了预测的模型？

[2019-06-06 03:26] yeyupiaoling commented on #17842
@miraclebiu 这个我遇到过，就是显卡不支持CUDA的问题，例如我的是2070，我安装了CUDA9也是这个错误，只有使用CUDA 10才行。

[2019-06-06 03:29] yeyupiaoling commented on #17728
@dreamonezero 写一个脚步清除错误的图片吧。可能是这个问题呢

[2019-06-06 03:31] yeyupiaoling opened #17874 "请问Fluid版本如何在训练过程中获取batch size？"
# 环境
 - PaddlePaddle 1.4.1
 - Ubuntu 16.04
 - Python 3.5

# 问题
请问Fluid版本如何在训练过程中获取batch size？

[2019-06-06 03:34] yeyupiaoling opened #17875 "使用docker编译的时候出现错误"
在使用docker编译GPU版本的PaddlePaddle出现错误，错误如下：
[code]

我尝试过自己clone Fleet这个库，但也是出现fatal: early EOF错误，这是什么问题呢？

[2019-06-06 03:53] yeyupiaoling opened #17877 "为什么PaddlePaddle的where接口和numpy 的where接口不一样的？"
我时间的是官网提供的dev安装包的

PaddlePaddle的where接口：
[code]

numpy的where接口：
[code]

[2019-06-06 04:06] zhaoyuchen2018 commented on #17873
topk 支持variable，你的keep_num被cast为float32的，k应该是int类型的

[2019-06-06 04:10] luotao1 commented on #17611
@jczaja Could you update the branch `prv-mkldnn-reuse-mt`? I meet compiler error after #17826 merged:
[code]

[2019-06-06 04:15] zhaoyuchen2018 commented on #17874
batch size是自己设置的，不太清楚要获取什么batch size

[2019-06-06 05:53] zhaoyuchen2018 commented on #17875
可能是因为要clone的库过大造成的，具体可以参考下面的链接再尝试下：https://stackoverflow.com/questions/21277806/fatal-early-eof-fatal-index-pack-failed

[2019-06-06 06:14] yeyupiaoling commented on #17873
@zhaoyuchen2018 我这样转换了
[code]

报错，py_func这个接口不知道为啥不能转换，

[2019-06-06 06:15] yeyupiaoling commented on #17874
@zhaoyuchen2018 因为在训练过程中，batch size是有可能变化的。

[2019-06-06 06:15] yeyupiaoling commented on #17874
@zhaoyuchen2018 我记得之前有同学说是可以使用什么切片的方式获取的，我不记得了。

[2019-06-06 06:24] yeyupiaoling commented on #17874
@zhaoyuchen2018 tensorflow是这样获取batch size的
[code]

[2019-06-06 06:35] zhaoyuchen2018 commented on #17877
这个问题请设计op的同学帮忙回答下吧

[2019-06-06 06:38] carychai commented on #17863
CUDA 8.0安装过程。今天帮显卡驱动，cuda全部卸载，重新装，还是一样的问题，cuda显示安装完成。
帮忙看一下

[2019-06-06 07:00] yeyupiaoling commented on #17863
@carychai 你的显卡是什么？

[2019-06-06 07:03] carychai commented on #17863
Nvidia Geforce RTX2060

[2019-06-06 07:07] yeyupiaoling commented on #17873
@zhaoyuchen2018 topk下面这样的操作是正确的吗？可以这样操做吗？
[code]

[2019-06-06 07:19] FlyingQianMM opened #17887 "add target assign, sigmoid focal loss, detection output operations for supporting retinanet"
#17893

[2019-06-06 07:20] yeyupiaoling commented on #17863
你检查一下显卡驱动是否安装成功，使用命令：nvidia-smi 查看一下。如果是没有问题的，我怀疑是你的显卡不支持CUDA 8

[2019-06-06 07:26] MaxLingwei opened #17888 "server not ready，一直等待"
在GPU集群进行训练，商品一直在等待
![image](https://user-images.githubusercontent.com/14048056/59014340-f766cb80-886e-11e9-8240-821f95edc404.png)
也尝试过其他端口，会出现同样的问题。
训练代码参考了这个demo
https://github.com/PaddlePaddle/Paddle/tree/v1.1.0/benchmark/fluid

[2019-06-06 07:51] zhaoyuchen2018 commented on #17873
@yeyupiaoling 从API上看可以的，现在有什么问题吗

[2019-06-06 07:53] yeyupiaoling commented on #17873
@zhaoyuchen2018 这个是我完整的损失函数
[code]

报错信息：
[code]

[2019-06-06 07:58] carychai commented on #17863
nvidia-smi正确显示驱动的版本，GPU型号，所以显卡驱动正确安装了.
如果显卡不支持CUDA8,paddle在windows下只有CUDA8选择，哪些显卡能支持呢？
我这个显卡也是大几千一张呢

[2019-06-06 08:01] yeyupiaoling commented on #17863
@carychai 你在Ubuntu上使用CUDA 9 ，再安装PaddlePaddle。
这个不是钱的问题，是版本的问题。
我的是 2070，也不支持CUDA 8 ，CUDA9。只支持CUDA10

[2019-06-06 08:06] carychai commented on #17863
我的意思是想知道哪些显卡能支持windows下CUDA8.0，不然买了不能用，浪费钱。

[2019-06-06 08:08] yeyupiaoling commented on #17863
@carychai 这我也太了解，例如1080这些应该都支持吧。

[2019-06-06 08:09] carychai commented on #17863
请教你在用哪个显卡呢？

[2019-06-06 08:11] yeyupiaoling commented on #17863
我公司给我买了个2070，这样让我很头疼，因为他只支持CUDA 10，基本上用不了，支持在Ubuntu 上自己编译支持CUDA 10的PaddlePaddle才能用

[2019-06-06 08:15] carychai commented on #17863
OK，我准备安装Ubuntu了。

[2019-06-06 08:15] #17863 closed, assigned to nobody

[2019-06-06 08:16] yeyupiaoling commented on #17863
嗯嗯。你可以看看这个教程：https://yeyupiaoling.blog.csdn.net/article/details/80689543

[2019-06-06 08:18] zhaoyuchen2018 commented on #17873
出错的是这个fluid.layers.cast(keep_num, dtype='int64')，cast的参数应该是一个variable，不是一个list

[2019-06-06 08:20] yeyupiaoling commented on #17873
@zhaoyuchen2018 所以我上面也提到这个问题

那应该如何处理呢？

[2019-06-06 08:21] AWSWXY opened #17894 "训练使用机器越多，cost下降越慢"
相同的代码
使用40个节点cost缓慢下降
使用80个节点 cost不下降

[2019-06-06 08:21] AWSWXY commented on #17894
相同的代码和数据
使用40个节点cost缓慢下降
使用80个节点 cost不下降
http://10.87.108.38:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190606023619-1949/   40个节点日志
http://10.197.72.150:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190606023517-8974/     80个节点日志

[2019-06-06 08:26] guru4elephant commented on #17850
train_from_dataset接口参数设置debug=True，会打印单个线程每秒处理的样本数，我们后面会增加独立的python线程进行数据fetch的接口

[2019-06-06 08:30] guru4elephant commented on #17850
此外，训练的线程数和dataset使用的线程数以及文件个数有关，推荐文件个数尽量多，dataset线程数打满cpu core

[2019-06-06 08:31] carychai commented on #17863
谢谢

[2019-06-06 08:50] carychai commented on #17784
Look forward to.My display card is RTX2060,can not use with CUDA8.0.

[2019-06-06 08:54] lzha106 commented on #17850
多谢 @yeyupiaoling 回复，请问基于 train_from_dataset 您是怎么来统计的呢？这个接口只有完成一次 epoch 的训练才可以自己加时间统计，对于大的数据集太久了。根据 print_period 输出的日志，没有时间戳也不太方便统计。

[2019-06-06 08:55] lzha106 commented on #17850
@guru4elephant ，打开 debug 是否会影响训练速度？

[2019-06-06 08:58] FlyingQianMM commented on #17887
#17895

[2019-06-06 09:03] zhaoyuchen2018 commented on #17888
这个请分布式的同学帮忙看看

[2019-06-06 09:03] FlyingQianMM commented on #17887
#17896

[2019-06-06 09:22] yeyupiaoling commented on #17877
@zhoukunsheng 如果我要实现一下这个，该如何使用？
[code]

[2019-06-06 09:24] zhaoyuchen2018 commented on #17873
试一下 keep_num=fluid.layers.py_func(func=cls_ohem2, x=label, out=keep_num)

[2019-06-06 09:34] yeyupiaoling commented on #17873
@zhaoyuchen2018 我改成这样了，刚才的错误就没有了，但是程序突然退出了，什么错误都没有输出，应该是windows没有输出。
[code]

只有这句话
[code]

[2019-06-06 09:43] yeyupiaoling commented on #17873
@zhaoyuchen2018 我使用Ubuntu试了一下
报错
[code]

[2019-06-06 09:45] lcctju opened #17899 "Ubuntu编译报错"
- 版本、环境信息：
    1）PaddlePaddle版本：e2c1b7c354c9ca6720228f1b55bfc4c6a6f82292
    2）CPU：Intel(R) Xeon(R) CPU E5-2680 v4 @ 2.40GHz
    3）GPU：GTX 1080 Ti，CUDA 10.1 CUDNN 7
    4）系统环境：Ubuntu 18.04、Python3.6
- 安装方式信息：本地编译：
- cmake命令: cmake .. -DPY_VERSION=3.6 -DWITH_FLUID_ONLY=ON -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release

- 问题描述：
[ 14%] Building CXX object paddle/fluid/framework/ir/CMakeF

[2019-06-06 09:45] lzha106 opened #17900 "fluid.incubate.fleet 接口分布式训练会发生 Segmentation fault"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU：Skylake CPU
    3）系统环境：paddlepaddle：latest docker  ubuntu 16.04， python 2.7
- 训练信息
    1）多机，CPU 训练， 2 PS ， 4 worker
- 复现信息：使用 fluid.incubate.fleet 接口进行分布式训练，参考 https://github.com/PaddlePaddle/Paddle/tree/develop/python/paddle/fluid/incubate/fleet/tests

- 问题描述：
训练几个 epoch 之后，会发生如下 core dump：

I0531 16:14:44.043287   461 communicator.cc:208] communica

[2019-06-06 10:42] LeoZhao-BJ commented on #17611
@jczaja  one comment for prv-mkldnn-reuse-mt branch.
From your implementation, mkldnnhandler uses mutex to keep serial Acquire() action, but there may have one scenario:

1. Instance A acquired primitive X with Key K and set its data handle, and sending to mkldnn pipeline for execution
2. Instance B is acquiring primitive X with same Key K, and setting its data handle.

Then what will happen ? eit

[2019-06-06 10:44] sfraczek opened #17903 "SetNumThreads(1) breaks slim multi-threading"
Hi,

https://github.com/PaddlePaddle/Paddle/blob/e2c1b7c354c9ca6720228f1b55bfc4c6a6f82292/paddle/fluid/inference/api/analysis_predictor.cc#L240

this change breaks int8 slim tests. Multi-threading works until int8 warm-up phase and after that, everything runs on 1 thread only.
The test series such as test_analyzer_int8_resnet50 are not affected.

Is this change necessary?
Any suggestions how we ca

[2019-06-06 11:46] jczaja commented on #17611
@LeoZhao-Intel That is very good point. Currently it would be easier for me to make critical section around setting pointer to memory primitive and  mkldnn execution. If there is noticable performance drop then The only option would be finding a way to cache instances' primitives/memory independently. I haven't found an parallel's member executor identification so I guess we would need to add one

[2019-06-06 12:22] thomas010 opened #17906 "创建LoD tensor耗时太久问题"
要创建一个形状为 [30, 2048]的lod tensor， lod level为 [[ 10, 9, 11]]，也就是前10行向量组成第一个元素，依次类推。尝试用以下两种创建方式，测试发现耗时都在38ms左右（V100，fluid1.4），导致reader很慢，影响GPU使用率，有没有更快速的方式？

方式1：
def to_level1_lod_slow(data, dtype, place):
    """
    convert ot LODtensor
    """
    seq_lens = [len(seq) for seq in data]
    cur_len = 0
    lod = [cur_len]
    for l in seq_lens:
        cur_len += l
        lod.append(cur_len)
    fl

[2019-06-06 12:41] guru4elephant commented on #17850
不会，你可以做对比测试看看，我之前自己测试过几乎没区别。@lzha106

[2019-06-06 12:48] zhaoyuchen2018 commented on #17900
请分布式同学看看

[2019-06-06 12:50] zhaoyuchen2018 commented on #17894
麻烦提供下完整的代码和数据，日志里面没有太多信息

[2019-06-06 13:10] zhaoyuchen2018 commented on #17906
耗时是在np.concatenate(data, axis=0).astype(dtype)还是在fluid.create_lod_tensor(flattened_data, [seq_lens], place)呢

[2019-06-06 13:11] zhaoyuchen2018 commented on #17873
看coredump是topk计算的时候出错了，可以打印一下topk的输入看看是多少

[2019-06-06 16:00] jczaja commented on #17611
@chengduoZH Is ParallelExecutor to use for data parallelizm of model or is it also model parallelizm ?

[2019-06-06 17:14] jczaja commented on #17611
Extending work from branch: prv-mkldnn-reuse-mt  to handle case pointed by @LeoZhao-Intel is difficult and will introduce overhead. Decided to try diffrent approach:

- Extend keys with thread ID

- For data that is produced  by FWD and needed in Grad ops , data will be additionaly stored under key without TID . This will allow to avoid problem with set_data_handle  as  data usually stored in FWD

[2019-06-07 06:07] luotao1 commented on #17903
Yes, we only want to use multi-thread inside `AnalysisPredictor::ZeroCopyRun()` and `AnalysisPredictor::Run()`. You can see the reason in #17801.

How about making `mkldnn_quantizer_config` support `cpu_math_library_num_threads`?

[2019-06-07 06:14] luotao1 commented on #17832
Could you try solutions in #15109?

[2019-06-07 11:45] AWSWXY opened #17912 "fluid迁移"
v1和fluid 版本 效果差异比较大

[2019-06-07 12:49] AWSWXY commented on #17912
旧版本代码是v1 新版本是fluid版本，迁移过来之后效果差异比较大。
1、v1版本起始auc 在0.7 左右，fluid版本起始auc在0.5左右
2、fluid版本下降速度特别慢

[2019-06-07 16:36] jczaja commented on #17611
@luotao1 Could you please run training of ContentDNN on following branch:
https://github.com/jczaja/Paddle/tree/prv-mt-experiments

-If there is a failure please provide log (this is still work in progress ,Relu(activations) were not updated)
-if it works fine then please tell me if speedup/slowdown is visible.

[2019-06-08 02:17] yangapku opened #17913 "为什么dropout的seed参数设置了就要始终丢弃相同的输出单元"
在模型训练的过程中，经常需要做到训练过程可复现，这时候就需要设置`paddle.fluid.layers.dropout`的seed参数，但是这个一设置就会每次执行都丢弃相同的输出单元，这样训练过程就有问题了，那这个参数设置的意义在哪里？实际上，对比tensorflow，人家的dropout op也有seed参数，但是人家就是为了做到结果可复现，每次执行还是丢弃不同的输出单元

[code]

而我们的`paddle.fluid.layers.dropout`，就会变成这样
[code]

我觉得应该借鉴tensorflow的设计，本身这个参数就是为了训练可复现的，结果paddle设置了这个又不能正常训练了，感觉有点无法理解。。
另外，希望paddle在训练可复现性上提升一点，目前并没有一套机制能够让我固定一个种子就使训练结果完全可重复

[2019-06-08 02:33] yangapku opened #17914 "希望增加从checkpoint文件直接解析参数的api"
如题，如果我拿到了一份checkpoint文件（自己训的或者从别人手中拿到），想不搭图就直接从checkpoint里面解析参数，用于了解checkpoint有哪些参数、检查checkpoint参数的值、以及进一步可能转换成其他格式，目前paddle似乎没有这样的api。唯一的办法是在代码里面先搭一个图，在图里面定义出checkpoint的所有参数，之后用`paddle.fluid.io.load_persistables`读取checkpoint，最后再分别用`numpy.array(fluid.global_scope().find_var(param_name).get_tensor())`来看，过于麻烦。而且从直觉上，checkpoint二进制文件本身应该包含了完整的参数名和参数值信息，我按道理就没有必要搭这个图，为什么没有一个直接解析二进制文件参数的api？
对比其他框架，torc

[2019-06-08 02:38] yangapku commented on #17913
TF的dropout seed
[code]

[2019-06-08 04:11] xhuanlc opened #17916 "使用1.4.1的编译好的so预测库， 预测时显存占用量比 python 版本的paddle 1.4.1 大很多。"
使用1.4.1的预测库，来自BCLOUD编译，p40GPU。
预测时显存占用量比 python 版本的paddle 1.4.1 大很多。
模型的输入输出均为图片，用到了2d conv ， transposed 2d conv， cat等op。
1280*720的图片在python 的paddle下 4G显存足够，  用编译好的so预测，22G显存会爆掉。
尝试开启enable_ir_optim: 1，报如下错误：
![image](https://user-images.githubusercontent.com/11305017/59141811-1b005200-89e6-11e9-8b87-e8075812fda9.png)

[2019-06-08 06:49] xiangyubo opened #17917 "batch size 已经调到很小了，但是还是报错显存申请失败"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    3）GPU：v100，显存16G
    4）系统环境：
- 训练信息
    1）单机单卡

训练 YOLOv3的时候，一开始我的 batch_size 是128，会报错说申请不到足够的显存；我逐步调小都12，依然不行。我配合着调小 FLAGS_fraction_of_gpu_memory_to_use 也没有作用，最后的时候这个环境变量是0.72， batch size：12

一直报错
W0608 14:36:02.768568   897 system_allocator.cc:125] Cannot malloc 1105

[2019-06-08 08:47] fatwolf opened #17919 "使用grid_sampler api后 前向传播预测正常，开启反向传播优化后报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4
- 训练信息
    1）单机单卡
    2）GPU CPU同样错误
    3）Operator信息：
- 复现信息：在模型训练过程中 如果开启优化 并且反向传播路径包含
   i1_pred = paddle.fluid.layers.grid_sampler(i0, grid)
则会报以下错误
memory_optimize is deprecated. Use CompiledProgram and Executor
W0608 16:45:27.233000 59468 device_context.cc:261] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 9.2, Runtime API Version: 9.0
W0

[2019-06-08 13:26] heavengate commented on #17919
如果grid_sampler的第一个参数是fluid.layers.data指定的输入的话，在data里设置stop_gradient=False 参考https://github.com/PaddlePaddle/Paddle/issues/15583

[2019-06-08 13:32] heavengate commented on #17917
YOLOv3的--batch_size是指单卡上的batch size，默认是8，使用8卡，总batch size是64，看你batch size=128应该是总batch size，这个batch size要除以卡数来设置，另外YOLOv3目前在22G显存上单卡最大batch size=14，大于这个值会显存不足，请参考设置

[2019-06-08 13:34] fatwolf commented on #17919
感谢 问题解决

[2019-06-08 13:34] #17919 closed, assigned to heavengate

[2019-06-08 14:40] Superjomn commented on #17916
![image](https://user-images.githubusercontent.com/328693/59148653-46169000-8a3e-11e9-85c0-0fef1434ade2.png)

这个是打开了 TensorRT 子图？ 如果不需要的话可以不要打开。

另外，显存有开关控制， 可能memory pool 设置的比例太高

NativeConfig 是 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/paddle_api.h#L291

[2019-06-08 15:47] xiangyubo commented on #17917
好的，谢谢官方说明，我自己调到4才可以。没想到这个网络这么吃显存

[2019-06-09 11:48] NHZlX commented on #17916
https://github.com/PaddlePaddle/Paddle/pull/17925

[2019-06-10 00:55] yeyupiaoling commented on #17873
@zhaoyuchen2018 您好
topk 的 input是
[code]

k值是：184， batch size是384

[2019-06-10 02:24] AWSWXY commented on #17912
旧版本代码是v1 新版本是fluid版本，迁移过来之后效果差异比较大。
1、fluid版本下降速度特别慢

[2019-06-10 02:54] #17572 closed, assigned to nobody

[2019-06-10 03:06] zhoukunsheng commented on #17877
当前还不支持这个功能，后续会迭代增加。如果急需该功能，可以使用fluid.layers.py_func实现。

[2019-06-10 03:11] superwj1990 opened #17932 "Cannot find variable fc_0.tmp_1 at [/paddle/paddle/fluid/framework/op_desc.cc:193]"
我在用fluid.layers.concat函数concat两个模型的fc输出时，报了paddle.fluid.core.EnforceNotMet: Cannot find variable fc_0.tmp_1 at [/paddle/paddle/fluid/framework/op_desc.cc:193]这个错。

[2019-06-10 03:48] qingqing01 commented on #17932
报错信息，找不到一个fc的输出，请给出可复现的代码片段

[2019-06-10 04:39] qingqing01 commented on #17912
@AWSWXY  请注意，v1版本在backward传播梯度时gradient没有对batch size求平均。 在fluid里，如果超参数和v1都一致的情况下，相应的需要对loss做readuce_sum，而非求mean。 另外，其他数据处理、网络也检查需要保持一致。

[2019-06-10 07:27] tianshuo78520a opened #17937 "解决git clone 慢的问题"
加速方法（需要管理员权限root/administration）：

    1.编辑hosts 文件
       Linux/Mac：vim /etc/hosts
       Windows：双击 C:\Windows\System32\drivers\etc\hosts

    2.添加下面两行内容到hosts文件中
       151.101.72.249 github.global.ssl.fastly.net
       192.30.253.112 github.com

此节点不是PaddlePaddle官方维护，如果失效可以回复issue进行更新。

[2019-06-10 07:32] jacquesqiao commented on #17900
训练用的什么版本的paddle？

[2019-06-10 07:32] jacquesqiao commented on #17900
可以试试这个代码
https://github.com/PaddlePaddle/models/pull/2321

[2019-06-10 07:35] junjun315 commented on #17914
你好。 paddle一般的checkpoint文件通常是通过使用save_vars 或者save_persistables接口来保存的，只包含参数的文件。确实没有图建构的保存。
如果需要存的话，一般可以通过save_inference_models 来保存结构。 只是这个接口当前是面向做预测的，会对图有一些操作。
确实可以如您所说对接口进行优化。我们已经纳入了修改计划里，请保持关注后续版本！

[2019-06-10 07:42] yangapku commented on #17914
您好，我的意思和图建构的保存与否无关，就是从只包含参数的二进制文件里面，不搭图直接从checkpoint里面解析出参数（主要是persistables）的名字和值。这个是为了了解checkpoint有哪些参数、检查checkpoint参数的值、以及进一步可能转换成其他格式，和`torch.load()`以及`pywrap_tensorflow.NewCheckpointReader()`达到相似的目的。

[2019-06-10 07:51] yeyupiaoling commented on #17877
@zhoukunsheng 目前我就是使用`fluid.layers.py_func`解决的。

[2019-06-10 07:51] #17877 closed, assigned to zhoukunsheng

[2019-06-10 07:51] yeyupiaoling commented on #17875
@zhaoyuchen2018 我好像发现问题了，这个是GitHub网站的问题。

[2019-06-10 07:51] #17875 closed, assigned to zhaoyuchen2018

[2019-06-10 07:52] yeyupiaoling commented on #17874
可以通过`fluid.layers.py_func`这个接口获取。

[2019-06-10 07:52] #17874 closed, assigned to zhaoyuchen2018

[2019-06-10 07:53] yeyupiaoling commented on #17873
@zhaoyuchen2018 这个是什么问题呢？
[code]

[2019-06-10 08:00] junjun315 commented on #17914
当前如果你拿到的是save_vars一类的接口保存的文件是不包含参数对象信息的，只有数据值。只能从所在文件目录结构里推断出参数名字。确实不是一个好的设计，我们后面有新的接口计划。

torch.load() 是从一个pickle保存的对象中恢复的参数结构；而tf相应的接口则是有自己的参数结构文件格式。

[2019-06-10 09:49] wanghaoshuang opened #17946 "Fix code and comments in pr#17933"
fix https://github.com/PaddlePaddle/Paddle/pull/17933#pullrequestreview-247517432

fix https://github.com/PaddlePaddle/Paddle/pull/17933#pullrequestreview-247520444

[2019-06-10 09:58] sfraczek commented on #17903
Should we set number of threads from python before and after calling exe->Run?

[2019-06-10 10:02] sfraczek commented on #17903
We never hit that `  paddle::platform::SetNumThreads(config_.cpu_math_library_num_threads());` line again from python after it was set to 1 at the end of call. It seems python is calling different method later.

[2019-06-10 10:11] luotao1 commented on #17903
If python is calling a different method, #17801 will not affect it. Could you find the method python called at first?

Could you give `git diff` of your change?

[2019-06-10 10:12] ccmeteorljh commented on #17888
麻烦检查下是否开了代理

[2019-06-10 10:27] sfraczek commented on #17903
I don't have a diff - I mean here (edit ~https://github.com/PaddlePaddle/Paddle/pull/17814/files#diff-79b68fb950ff79f6c979a5b3774ca8f7R199~ https://github.com/PaddlePaddle/Paddle/pull/17634/files?file-filters%5B%5D=.cc&file-filters%5B%5D=.h&file-filters%5B%5D=.py&owned-by%5B%5D=#diff-c06e05c8a775f42a2c811269a7d9e88fR140) this calls Executor and it runs on 1 thread.

I see two options here:
1. surr

[2019-06-10 10:55] luotao1 commented on #17903
C++ `AnalysisPredictor::ZeroCopyRun()` and `AnalysisPredictor::Run()` don't change `exe.run` python executor. Thus, `exe.run` python executor should use one-thread in default.

Maybe you can use `FLAGS_OMP_NUM_THREADS=xxx` for the whole script like before.

[2019-06-10 11:27] sfraczek commented on #17903
We've been using FLAGS_OMP_NUM_THREADS. That python script first runs calibration somewhere which goes through AnalysisPredictor::Run and it sets threads to 1 at the end and this is why later exe.run works on 1 thread. If not for that line, exe.run was running on as many threads as was set by FLAGS_OMP_NUM_THREADS

[2019-06-10 11:57] sfraczek commented on #17903
I mistook the file. I meant this one I think. I cannot access my dev machine today to double check everything. sorry for this.
https://github.com/PaddlePaddle/Paddle/pull/17634/files?file-filters%5B%5D=.cc&file-filters%5B%5D=.h&file-filters%5B%5D=.py&owned-by%5B%5D=#diff-c06e05c8a775f42a2c811269a7d9e88fR140

[2019-06-10 13:30] JoyeeL opened #17955 "加载ernie预训练模型，报错Tensor's dims_ is out of bound"
使用脚本方法

MODEL_PATH=./pretrained_model
TASK_DATA_PATH=./data
python  -u ernie_encoder.py \
                   --use_cuda true \
                   --batch_size 16 \
                   --output_dir "./test_128" \
                   --init_pretraining_params ${MODEL_PATH}/params \
                   --data_set ${TASK_DATA_PATH}/head_split_embedding_token.tsv \
                   --vocab_path config/v

[2019-06-10 13:53] fabregasguo opened #17956 "C++预测模块无输出"
   1）PaddlePaddle版本：fluid v1.3
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：无
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
    2）CMake包含路径的完整命令
    3）API信息（如调用请提供）
    4）预测库来源：BCLOUD编译
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：预测无输出

     std::vector<paddle::PaddleTensor>  outputs;
    LOG(FATAL) << "id_list size guojun " << id_list.

[2019-06-10 14:13] lgone2000 commented on #17873
用下面代码可以跑通 动态的topn
[code]

[2019-06-10 14:26] jczaja opened #17960 "Customize OpMaker for MKL-DNN builds"
Hi,

I want to solve following problem:
Activations of paddle (Grad ops) are using inputs: Out, Out@GRAD   while  mkl-dnn grad primitives  activations need: X  (input signal to fwd op)  . eg. MKL-DNN grad activation ops are expecting input of forward to be available.
So far we used SetBlob to have it transfered, but this is problematic for parallel executor.
Hence, please advice how can I modify p

[2019-06-10 14:45] luotao1 commented on #17611
@jczaja @jianhang-liu
Thanks very much for this PR!
I have no time to test ContentDNN (I will test it ASAP), but this PR is needed for our face deployment service.
When the service calls twice on the same model, there is a segment fault.

Could you create a PR for the fix of our face deployment service at first?

[2019-06-10 14:50] lgone2000 opened #17961 "softmax_with_cross_entropy 的ignore_index CPU mode不起作用，gpu mode 可以正常工作"
[code]

[2019-06-10 15:07] lgone2000 opened #17962 "topk 文档中说支持输入为一维向量，但实测时报错。"
文档为
http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#topk

测试代码如下

[code]

[2019-06-10 15:15] lgone2000 opened #17963 "paddle op比较多，建议增加一个教程，把numpy的常用操作与paddle op对应起来，方便大家入门学习"
比如numpy常见的一些操作
ones, zeros , where,  index,  astype,  argsort

也可以举一些高级点的示例，说明一些损失或者功能如何实现。
比如怎么实现下面功能
a[a<0] = -100
a[3:5, -1] *= 2
如果能做到和numpy操作等效的话，差不多所有的复杂op都可以从简单op组合实现。比如NMS, linear-interplation等

[2019-06-10 15:45] jczaja commented on #17611
@luotao1 Yes I will start preparing PR, but for full fix I need your help with #17960

[2019-06-10 21:17] #17147 closed, assigned to nobody

[2019-06-11 01:31] JoyeeL commented on #8283
how to solve this problem

[2019-06-11 01:52] luotao1 commented on #8283
@JoyeeL Please update the paddle version to 1.4.1.

[2019-06-11 02:17] #17425 closed, assigned to junjun315

[2019-06-11 02:19] AWSWXY commented on #17912
修改后无明显好转

[2019-06-11 02:30] lzha106 commented on #17900
@jacquesqiao  谢谢回复，使用的 paddle 1.4.1，已参考 https://github.com/PaddlePaddle/Paddle/tree/develop/python/paddle/fluid/incubate/fleet/tests

使用了 dataset 和 fleet 接口进行分布式训练，出现的这个问题。

[2019-06-11 02:46] AWSWXY commented on #17912
fluid版本网络

    def  mynet(user_fea_dim, query_fea_dim, use_py_reader=True, is_infer=False):
    EMBED_SIZE=128
    user_input_fea = fluid.layers.data(name='user_input_fea', shape=[1], dtype="int64", lod_level=1)
    query_input_fea = fluid.layers.data(name='query_input_fea', shape=[1], dtype="int64", lod_level=1)
    label = fluid.layers.data(name='label', shape=[1], dtype='int64')
    datas=[]

[2019-06-11 02:57] luotao1 commented on #17899
@lcctju #17924 change `SetFuseParameterMemorySize(uint64_t memory_size)` to `SetFuseParameterMemorySize(double memory_size)`. Could you test the develop branch in your environment?

[2019-06-11 04:04] qingqing01 commented on #17961
[code]

我这边测的结果，-100对应的loss是0。看着没问题~

[2019-06-11 04:27] qingqing01 commented on #17962
@lgone2000 Thanks! 我们修复下~

[2019-06-11 05:05] qingqing01 commented on #17963
多谢建议~

[2019-06-11 05:17] Knightsll opened #17977 "ubuntu 16.04 RTX2080Ti 安装完GPU版本后，检测安装是否完好时出错"
pip 安装GPU版本1.4.1，但运行install_check.run_check()时出错
cuda9.1  cudnn 7.1.3  RTX2080Ti

execution failed at [/paddle/paddle/fluid/operator/math/blas_impl.cu.h:34]
![image](https://user-images.githubusercontent.com/6836917/59248921-4d17eb00-8c56-11e9-8308-18e0206a7dd8.png)

[2019-06-11 05:58] ccmeteorljh opened #17980 "【1.5】fleet import 失败"
paddle branch: release/1.5
paddle commit-id : ed3228b73948246ba0f322647b9adde67709e134
[code]

[2019-06-11 06:23] ccmeteorljh commented on #17980
#17675

[2019-06-11 06:41] luotao1 commented on #17977
same issue with #17496

[2019-06-11 06:51] Knightsll commented on #17217
我出现的问题也是这个，请问找到了解决方法吗，我的显卡是RTX2080Ti

[2019-06-11 06:55] Knightsll commented on #17496
可是在#17217中并没有提到解决方法呀 @chengduoZH

[2019-06-11 07:13] ccmeteorljh opened #17985 "【1.5】fleet多机训练 结束后，pserver进程依然存在"
多机训练所有trainer结束后，pserver进程应该退出；
复现步骤：
http://wiki.baidu.com/pages/viewpage.action?pageId=754988800

[2019-06-11 07:57] qingqing01 commented on #17932
已Hi上沟通，concat的内容不在一个program里，需要放到一个program里才行。

[2019-06-11 07:57] #17932 closed, assigned to nobody

[2019-06-11 08:08] qingqing01 commented on #17961
该问题已经在 https://github.com/PaddlePaddle/Paddle/pull/17445 解决了

[2019-06-11 08:08] #17961 closed, assigned to nobody

[2019-06-11 08:25] ccmeteorljh opened #17988 "【1.5】save_inference_model 接口，在feeded_var_names时候传入被裁剪的var，会报错"
paddle version：1.5
train.py
[code]

train.sh
[code]
执行命令：
[code]
报错如下：
[code]

[2019-06-11 08:33] ccmeteorljh opened #17989 "save_inference_model 参数有的是var，有的是var.name, 易用性较差"
paddle.fluid.io.save_inference_model(dirname, feeded_var_names, target_vars, executor, main_program=None, model_filename=None, params_filename=None, export_for_deployment=True)

[2019-06-11 08:37] ccmeteorljh commented on #17988
看起来在save的时候，y被裁剪掉了，是否给用户个提示，而不是直接报错，这样更好点

[2019-06-11 08:57] dancingpipi opened #17990 "使用CPU 进行inference 报错"
   1）PaddlePaddle版本：fluid 1.4
    2）CPU：Intel(R) Xeon(R) Gold 5117 CPU @ 2.00GHz
    3）GPU：P4
    4）系统环境：Ubuntu16.04
-预测信息
    1）C++预测：
GIT COMMIT ID: ef02d06055c79ae9ee11ea9b89520d7185e53482
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: ON
CUDA version: 8.0
CUDNN version: v7

    2）CMake包含路径的完整命令：
cmake -DFLUID_INFERENCE_INSTALL_DIR=$PADDLE_ROOT \
-DCMAKE_BUILD_TYPE=Release \
-DWITH_FLUID_ONLY=ON \
-D

[2019-06-11 08:57] kolinwei commented on #17977
能贴下完整的错误log吗

[2019-06-11 08:58] lcctju commented on #17899
I can build successfully.

[2019-06-11 08:59] #17899 closed, assigned to nobody

[2019-06-11 09:03] Knightsll commented on #17977
Running Verify Fluid Program ...
W0520 16:52:06.161931 27216 device_context.cc:261] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.0, Runtime API Version: 9.0
W0520 16:52:06.187935 27216 device_context.cc:269] device: 0, cuDNN Version: 7.0.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/lab/liujiepeng/MachineComprehension/DuReader/paddle

[2019-06-11 09:19] bissking opened #17991 "集群训练到一半挂掉"
训练resnet50，到1020batch时候挂掉，内存占用应该不到60%。
案发现场：
Pass 0, trainbatch 960, loss 4.33517217636,                         acc1 0.046875, acc5 0.140625 time 13.45 sec
Pass 0, trainbatch 970, loss 4.39136695862,                         acc1 0.03125, acc5 0.109375 time 0.48 sec
Pass 0, trainbatch 980, loss 4.48327541351,                         acc1 0.046875, acc5 0.109375 time 0.47 sec
Pass 0, trainbatch 990

[2019-06-11 09:25] yuyy0823 opened #17993 "如何将一维向量增加lod信息，作为rnn的输入"
你好，使用paddle fluid 0.15版本，现在想实现一个简单的lstm，使用py_reader读入数据
![image](https://user-images.githubusercontent.com/28800753/59259591-b0147c80-8c6c-11e9-96ec-482dc3af7265.png)

在rnn中，通过fluid.layers.slice切片获得150为的向量，现在需要将这个向量转换为10*15的序列格式，10可以理解为一句话中的10个词，15是词的维度，现在这样实现运行报错，试了很多方法都不太行，求指导！
![image](https://user-images.githubusercontent.com/28800753/59259880-27e2a700-8c6d-11e9-8681-3297b081e0af.png)

报错信息如下

[2019-06-11 09:26] #17991 closed, assigned to nobody

[2019-06-11 09:41] XiaoheYou commented on #15641
你好，请问你的freeze怎么实现的？我把trainable=False后，没有变化。

[2019-06-11 09:50] zhoukunsheng opened #17997 "support Tensor input for hash op"
upgrade hash op to support both Tensor and LoDTensor input

[2019-06-11 09:56] ccmeteorljh opened #17999 "【1.5】fleet.init_server指定模型目录不起作用"
复现步骤：
http://wiki.baidu.com/pages/viewpage.action?pageId=754988800

在feet.init_server中指定model_dir后，并没有load参数

[2019-06-11 10:08] jczaja commented on #17960
@reyoung , @tensor-tang , @luotao1 Could you please advice on this issue?

[2019-06-11 10:35] luotao1 commented on #17990
@z13974509906 从日志看，`fusion_seqpool_concat_op`是CPU特有的OP，这个pass已经在develop代码中默认关闭了。
https://github.com/PaddlePaddle/Paddle/blob/ae576f3c68cb35e9793d3a7bbefe6cb97e02bc39/paddle/fluid/inference/api/paddle_pass_builder.cc#L140-L147
您可以升级代码，或者在源代码里将这行注释即可。

[2019-06-11 11:13] lzha106 opened #18001 "fluid 接口如何高效实现 wide & deep 中的 wide model"
fluid 接口如何高效实现 wide & deep 中的 wide model？

根据现有的 fluid 接口实现如下的 wide model:

    def wide_layer(input):
        return fluid.layers.fc(input=input, size=1, act="relu")

    def one_hot_layer(input):
        return fluid.layers.one_hot(input=input, depth=sparse_feature_dim)

    context_feature = [fluid.layers.data(name="context" + str(i), shape=[1], lod_level=1, dtype="int64")  for i in range(0,  N

[2019-06-11 11:28] zhouxc opened #18002 "rpc启动报错： error_message:Sent message larger than max"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that there was a similar issue su

[2019-06-11 11:29] zhouxc commented on #18002
http://10.89.167.39:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190611190754-15212/
![image](https://user-images.githubusercontent.com/1280621/59268374-228e5800-8c7f-11e9-82bc-b459fbfd5913.png)
![image](https://user-images.githubusercontent.com/1280621/59268392-2ae69300-8c7f-11e9-8904-edef03762b23.png)

[2019-06-11 11:31] thomas010 commented on #15568
程序启动时有没有cudnn相关warning? 如果提示版本不一致，切换到对应cudnn版本再试试

[2019-06-11 11:41] luotao1 opened #18005 "test_analyzer_resnet50 fails on E5-2660 v4 machine"
### log
total: http://ci.paddlepaddle.org/viewType.html?buildTypeId=Paddle_PrCiNightCuda10cudnn7develop&branch_Paddle=%3Cdefault%3E&tab=buildTypeStatusDiv
[code]
log1: http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&buildTypeId=Paddle_PrCiNightCuda10cudnn7develop&buildId=112341&_focus=26941
log2: http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&buildTypeId=Paddle_PrCiNightCuda10cudnn7deve

[2019-06-11 11:42] dancingpipi commented on #17990
nice，注释后可以正常工作了~

[2019-06-11 11:48] luotao1 commented on #18005
Does it related with #15226, i.e
https://github.com/PaddlePaddle/Paddle/blob/0c39b97b4ee0f732a6a9a349511b3ac3cdc1633c/paddle/fluid/inference/tests/api/CMakeLists.txt#L37-L39

[2019-06-11 11:50] gongweibao opened #18006 "Remove memory optimize warning."
![image](https://user-images.githubusercontent.com/10721757/59269648-253e7c80-8c82-11e9-80c2-4de491cf8402.png)

[2019-06-11 11:54] luotao1 commented on #18002
请问该模型在本地单机能否跑通呢？

[2019-06-11 12:07] luotao1 commented on #18001
可以参考下：https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/ctr/network_conf.py
里面用了sparse操作。

[2019-06-11 12:13] LALAliyao opened #18007 "怎样将infer.py打包成一个exe?"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2019-06-11 12:23] luotao1 commented on #17993
lod_reset的api示例请参考：http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#lod-reset

lod_reset是在词上面做的，无关乎词的维度。如果仅仅要变成`[10,15]`，用reshape可以么？可以参考下：https://github.com/PaddlePaddle/Paddle/issues/15289#issuecomment-494683444

[2019-06-11 12:26] luotao1 commented on #18007
请问能详细描述下需求么？

[2019-06-11 12:28] luotao1 commented on #17903
Got it. Thus, how about trigger `FLAGS_OMP_NUM_THREADS` again before later `exe.run`?

[2019-06-11 12:32] LALAliyao commented on #18007
你好，好的，就是我现在将infer.py写成了一个可执行的脚本文件，传入两个参数，想将其封装为exe供其他程序调用，但是我在封装后，exe文件很大，到了G 的级别，然后传入参数后，也没有反应，就是想知道怎样才可以将exe封装正确。下图就是那个infer.py文件的运行及其参数,谢谢！

------------------ 原始邮件 ------------------
发件人: "Tao Luo"<notifications@github.com>;
发送时间: 2019年6月11日(星期二) 晚上8:27
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "一梦千年"<1907381057@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddl

[2019-06-11 12:40] luotao1 commented on #18007
你是用什么程序转的，是windows上的需求么？

没有看到图。

[2019-06-11 12:44] LALAliyao commented on #18007
是的，是Windows上的需求，我把那个infer.py给您看下，辛苦了，我把运行的cmd的图再给您发下，，再用附件给您一份，那个TIM 的png格式的就是运行图片，辛苦您啦！
------------------ 原始邮件 ------------------
发件人: "Tao Luo"<notifications@github.com>;
发送时间: 2019年6月11日(星期二) 晚上8:41
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "一梦千年"<1907381057@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 怎样将infer.py打包成一个exe? (#18007)

你是用什么程序转的，是win

[2019-06-11 12:48] luotao1 commented on #18007
请直接在issue上贴图，邮件回复，issue上看不到图的。

[2019-06-11 13:09] sfraczek commented on #17903
What do you mean?

[2019-06-11 13:12] sandyhouse commented on #17806
Closing this issue. Reopen it if you have any further question.

[2019-06-11 13:12] #17806 closed, assigned to nobody

[2019-06-11 13:32] luotao1 commented on #17903
https://github.com/PaddlePaddle/Paddle/blob/209a3f4e095c6a3ca2d7684e667da15d8bffe00f/python/paddle/fluid/contrib/slim/tests/test_mkldnn_int8_quantization_strategy.py#L140-L144
`export OMP_NUM_THREADS=xxx` again before above codes?

[2019-06-11 13:55] sfraczek commented on #17903
The value of OMP_NUM_THREADS doesn't change throughout the execution

[2019-06-11 14:08] luotao1 commented on #18005
I can reproduce on my local avx2 machine.
[code]
results:
[code]

[2019-06-11 15:32] LALAliyao commented on #18007
python infer.py E:\MFC\ssd_model\ssd_model\000001.jpg  E:\MFC\ssd_model\ssd_model\ssd-model
后面两个路径就是参数，是把infer.py变成了一个函数，然后在下面加了main来调用并执行。

[2019-06-11 16:11] LALAliyao commented on #18007
D:\test_cloth>infer.exe E:\MFC\ssd_model\ssd_model\000001.jpg E:\MFC\ssd_model\ssd_model\ssd-model
Traceback (most recent call last):
  File "paddle\fluid\framework.py", line 41, in <module>
ImportError: DLL load failed: 找不到指定的模块。

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "infer.py", line 9, in <module>
    import paddle.fluid a

[2019-06-11 16:11] LALAliyao commented on #18007
D:\test_cloth>infer.exe E:\MFC\ssd_model\ssd_model\000001.jpg E:\MFC\ssd_model\ssd_model\ssd-model
Traceback (most recent call last):
  File "paddle\fluid\framework.py", line 41, in <module>
ImportError: DLL load failed: 找不到指定的模块。

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "infer.py", line 9, in <module>
    import paddle.fluid a

[2019-06-11 18:32] wojtuss commented on #18005
@luotao1
Yes, it is related to https://github.com/PaddlePaddle/Paddle/pull/15226.
The machine you are using does not support AVX512 instructions, and it supports AVX2 only. Thus, forcing MKL to use AVX512 instructions (by setting the `mkl_debug` argument to `true` in the `inference_analysis_api_test_with_fake_data` for the `test_analyzer_resnet50` test, see `paddle/fluid/inference/tests/api/CMakeL

[2019-06-12 01:34] jacquesqiao commented on #17900
@lzha106 用https://github.com/PaddlePaddle/models/pull/2321 这个代码试试

[2019-06-12 02:11] yuyy0823 commented on #17993
就是按照lod_reset的api示例写的，用reshape还是不包含序列信息，运行还是有问题，现在就是想把这个150维特征变成可以传给lstm的数据格式，不知道怎么转换数据格式。

[2019-06-12 02:24] #17990 closed, assigned to nobody

[2019-06-12 02:34] luotao1 commented on #18007
请问直接运行`python infer.py`，可以正常运行么？

[2019-06-12 02:35] wopeizl commented on #18007
当前有一个对msvcr120.dll的依赖，需要在系统环境中找到手工打进去（可以放在paddle\libs\目录下，里面有warpctc.dll等其他文件的那个目录），另外python打包exe会比较大，因为相关环境都要打包

[2019-06-12 02:36] LALAliyao commented on #18007
可以的，而且为什么这个exe会把我的c盘内存吞没看

------------------ 原始邮件 ------------------
发件人: "Tao Luo"<notifications@github.com>;
发送时间: 2019年6月12日(星期三) 上午10:35
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "一梦千年"<1907381057@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 怎样将infer.py打包成一个exe? (#18007)

请问直接运行python infer.py，可以正常运行么？

—
You are receiving this because you author

[2019-06-12 02:52] wopeizl commented on #18007
内存占用高可能跟打包有关系，你是用pyinstaller这种类似软件么？有可能它在解压过程中会占用大量内存，其实如非的确有必要，不一定非要打包成exe，如果打包exe工具本身有问题，很难最终定位bug在哪里

[2019-06-12 02:53] yeyupiaoling commented on #17873
@lgone2000 感谢，参考以上的代码，我解决了积累很长时间的问题。

[2019-06-12 02:53] #17873 closed, assigned to zhaoyuchen2018

[2019-06-12 02:54] LALAliyao commented on #18007
可是我想用c++来调用这个infer.py,之前试过直接用c++调，没有成功，请问这个思路有什么建议吗

------------------ 原始邮件 ------------------
发件人: "wopeizl"<notifications@github.com>;
发送时间: 2019年6月12日(星期三) 上午10:53
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "一梦千年"<1907381057@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 怎样将infer.py打包成一个exe? (#18007)

内存占用高可能跟打包有关系，你是用pyinstaller这种类似软件么？有可能它在解压过程中会占用

[2019-06-12 03:01] luotao1 commented on #17993
1. 首先150维的向量需要reshape成[10,15]的。
2. reshape后不包含序列信息，因此reshape后要用lod_reset来加。从问题看，只有一条句子10个词，因此y.lod=[[0, 10]]。

[2019-06-12 03:20] AWSWXY opened #18017 "auc以及损失函数计算的问题"
看到ctr demo里面是这么使用auc和处理损失函数的。

![image](https://user-images.githubusercontent.com/18156360/59321203-bace2080-8d03-11e9-8db7-993bf00dadfe.png)
avg_cost = fluid.layers.reduce_sum(cost)
![image](https://user-images.githubusercontent.com/18156360/59321239-e8b36500-8d03-11e9-85f3-08a263ce9dec.png)
1、想问下这么做的原因是什么。
2、auc里这个参数可以解释下吗
![image](https://user-images.githubusercontent.com/18156360/59321278-11d3

[2019-06-12 03:24] chengduoZH commented on #18017
@AWSWXY 可以发一下这个demo的链接吗

[2019-06-12 03:26] AWSWXY commented on #18017
https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/ctr/train.py

[2019-06-12 04:57] #17955 closed, assigned to kuke

[2019-06-12 05:02] yuyy0823 commented on #17993
请问怎么设置y.lod=[[0, 10]]啊，现在这么写还是不对
![image](https://user-images.githubusercontent.com/28800753/59324588-10a9c500-8d12-11e9-9ff7-ea6c423141ca.png)

应该是这条语句不对
seg_feats_new = fluid.layers.data(name='y', shape=[0, 10], lod_level=1)
能给个正确写法吗？

[2019-06-12 07:04] Sand3r- commented on #18005
Totally, yes. We don't have much influence of how MKL's avx2 gemm is performing its calculations.
An alternative that I see that is harder to attain, would be to find such reference output that would make the test pass for both avx2 and avx512. But in my opinion increasing the output difference treshold shall suffice.

[2019-06-12 07:14] jacquesqiao commented on #18017
问题是什么？

[2019-06-12 07:18] AWSWXY commented on #18017
1、采用reduce_sum ／batch_size 这种计算方式后，调整学习率cost 差距非常大（几十倍），结果感觉有些异常
2、集群模型cost下降 auc不上升，始终是0.5（本地稳步上升）

[2019-06-12 07:29] JiabinYang commented on #17597
这个需要您看一下是不是您的显卡有占用，如果有的话，杀掉占用显卡的进程再运行

[2019-06-12 07:33] Shixiaowei02 commented on #17956
如 hi 沟通，Paddle 这边没能复现问题，测试输出结果是正常的。请您准备一个单测简化问题，继续调试。谢谢！

[2019-06-12 07:41] tago-tech opened #18027 "DyGraph文档中fluid.Layer.nn找不到"
版本:Fluid1.4
文档中的 动态图机制-DyGraph  章节[http://paddlepaddle.org/documentation/docs/zh/1.4/user_guides/howto/dygraph/DyGraph.html]，在试用Mnist构建网络时，没能找到文章中提到的fluid.Layer.nn接口。尝试用 fluid.layers.* 里面的网络层替代时发现并不可行，fluid.layers.*中的网络层都要求定义 input 参数.而在文档中 定义动态图时的 在 MyLayer的定义教程中提出,"在构造函数中，我们通常会执行一些例如参数初始化，子网络初始化的操作，执行这些操作时不依赖于输入的动态信息".
。。谢谢.

[2019-06-12 07:46] wojtuss commented on #18005
@luotao1 ,
For now, we will:
1. disable the `fc_mkldnn_pass` for ResNet50 test,
2. remove forcing AVX512 instructions by `mkl_debug=true`.

Then we will investigate for more general solution to this issue.

[2019-06-12 07:48] junjun315 commented on #18027
1. 构建动态图使用的Layer时，需要使用fluid.dygraph.Layer作为基类，请注意大小写
2. fluid.Layer.nn.Conv2d 和 fluid.Layer.nn.Pool2d 应该是笔误。可以修改为 fluid.dygraph.Conv2d 和 fluid.dygraph.Pool2d。 我们将在新版修改它

[2019-06-12 07:53] wopeizl commented on #18007
如果只是预测，用c++直接写也不会太麻烦，如果非要用python，实际上用bat文件也是一样，bat中调用python infer.py即可，其实效果是一样的

[2019-06-12 07:57] tago-tech commented on #18027
谢谢。。。

[2019-06-12 08:05] ccmeteorljh opened #18029 "【1.5】fleet 在pslib模式下，运行ctr模型，大batchsize，调用fleet.stopworker()挂掉"
paddleversion ： 1.5

- 复现方法
http://wiki.baidu.com/display/PDLPDL/Fleet+with+CTR_new

**batchsize=32会挂，batchsize=2则没问题；**

- 报错情况：

[code]

[2019-06-12 08:37] wanghaoshuang commented on #16184
已修复：https://github.com/PaddlePaddle/Paddle/blob/release/1.5/python/paddle/fluid/layers/nn.py#L5492-L5495

[2019-06-12 08:37] #16184 closed, assigned to wanghaoshuang, shanyi15

[2019-06-12 08:38] ddokupil commented on #17832
Could you be more specific? We can see that #15109 was merged in Jan but we ran into this issue a couple of days ago. We tried using Release build type and changed our base to paddle:latest-dev (but still rebuild paddle our own way on top of it). Could you point us to dockerfile for that image? Is there anything else we could try?

[2019-06-12 08:57] ccmeteorljh opened #18031 "不同的Strategy中设置异步不统一，容易造成困扰"
在不同的Strategy中设置的同步异步，有的属性是async_mode 有的是sync_mode，容易弄错
[code]

[code]

[2019-06-12 08:59] luotao1 commented on #17832
http://ce.paddlepaddle.org:8080/viewLog.html?buildId=41344&tab=buildLog&buildTypeId=PaddlePaddleFramework_TestCoverage_TestCoverage&logTab=tree&filter=all&_focus=378#_state=308,301,23,30

This log is built on `paddlepaddle/paddle:latest-dev` one months ago.  I see `WITH_PROFILER=OFF`.
Besides, is `paddlepaddle/paddle:latest-dev` on your local machine latest?

[2019-06-12 09:05] ccmeteorljh opened #18032 "【1.5】fleet 测试Transpiler模式下，GPU异步训练，会hang住"
复现代码：
http://wiki.baidu.com/display/PDLPDL/Fleet+with+Simnet-BOW

修改为GPU下的训练；
训练一些epoch后hang住；
trainer0.log
[code]
trainer1.log
[code]
trainer2.log
[code]

trainer3.log
[code]

[2019-06-12 12:00] tensor-tang commented on #17990
@z13974509906 可以把模型发我们下吗，我们看下是什么原因会导致进了这个pass，正常来说应该是进不去的，如果进去了就应该算的没问题。

[2019-06-12 13:03] cjt222 opened #18043 "add deformable conv v1 op and cpu versiondeformable conv v2 #18500"
test=develop #18500
Deformable convolution v1 is a new method of which convolution, which add  offset to every kernel to make reception field bigger and learn to capture irregular object，which is always used in object convolution and segmentation.
Inside, cpu version and gpu version of Deformable convolution v1 and  cpu version of Deformable convolution v2 are added. Deformable convolution v1 and

[2019-06-12 13:11] dancingpipi opened #18044 "使用CPU进行inference发现fluid1.4 c++速度比fluid1.2 python要慢"
通过测试发现使用CPU进行inference时，fluid1.4 c++速度比fluid1.2 python要慢，如下：
模型1：
fluid1.4 c++: 40ms
fluid1.2 python:  30ms

模型2：
fluid1.4 c++: 6s
fluid1.2 python: 5s

fluid1.4 c++已经使用过了mkl和mkldnn，请问下速度慢的原因是什么？

[2019-06-12 13:14] chengduoZH commented on #18044
什么模型呢？

[2019-06-12 13:16] dancingpipi commented on #18044
模型1是一个视频分类网络,
模型2是一个不太深的dnn网络，不过batchsize为166

[2019-06-12 15:29] jczaja opened #18047 "[MKL-DNN] Extend reusing of primitives for Elementwise_add_mkldnn op"
Recently time of creation of primitives was increased , so We need to cache sum primitives
as used in elementwise_add_mkldnn

[2019-06-12 17:19] hang245141253 commented on #15172
@yeyupiaoling 你好 我也是RTX2070 cuda9装不上 装cuda10跑paddle又报错，请问可以稍微详细下说明本地编译的步骤吗？是直接源码编译还是Docker编译的呢？
我刚刚接触paddle ，虽然Tensorflow可以在cuda10运行，但还是想支持下国产，望回复

[2019-06-12 17:47] LALAliyao commented on #18007
Traceback (most recent call last):  File "<string>", line 1, in <module>  File "C:\Users\19073\AppData\Local\Programs\Python\Python36\lib\site-packages\infer.py", line 6, in <module>    import paddle.fluid as fluid  File "C:\Users\19073\AppData\Local\Programs\Python\Python36\lib\site-packages\paddle\fluid\__init__.py", line 194, in <module>    __bootstrap__()  File "C:\Users\19073\AppData\Local\Pr

[2019-06-12 17:48] LALAliyao commented on #18007
Traceback (most recent call last):  File "<string>", line 1, in <module>  File "C:\Users\19073\AppData\Local\Programs\Python\Python36\lib\site-packages\infer.py", line 6, in <module>    import paddle.fluid as fluid  File "C:\Users\19073\AppData\Local\Programs\Python\Python36\lib\site-packages\paddle\fluid\__init__.py", line 194, in <module>    __bootstrap__()  File "C:\Users\19073\AppData\Local\Pr

[2019-06-12 23:07] Superjomn commented on #18044
export MKL_NUM_THREADS=1
export OMP_NUM_THREADS=1

是底层计算库的线程数设置有问题，上面环境变量试试

[2019-06-12 23:08] Superjomn commented on #18044
@luotao1 这个现在最新版是设置成1了吗？

[2019-06-13 00:23] Knightsll commented on #17977
Running Verify Fluid Program ...
W0613 08:19:27.455412 26630 device_context.cc:261] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.1, Runtime API Version: 9.0
W0613 08:19:27.867404 26630 device_context.cc:269] device: 0, cuDNN Version: 7.0.
W0613 08:19:27.867480 26630 device_context.cc:293] WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.3, but CUDNN version

[2019-06-13 01:39] luotao1 commented on #18044
1.4.1默认设成1，但可以根据需求自己设置。
[code]

[2019-06-13 01:40] luotao1 commented on #18044
请问python使用的是ParallelExecutor么？即python下的cpu利用率和C++下的cpu利用率分别是多少？可以用top命令看。

[2019-06-13 02:43] dancingpipi commented on #18044
用这个配置多线程可以得到线性速度的提升！！问题搞定

[2019-06-13 03:04] #18044 closed, assigned to luotao1

[2019-06-13 03:24] #17956 closed, assigned to Shixiaowei02

[2019-06-13 03:58] lzha106 opened #18055 "how to use fluid.DatasetFactory to support serialized format binary like avro?"
fluid.DatasetFactory 创建的 dataset 接口是否可以支持类似 avro 的序列化格式数据？

[2019-06-13 04:55] kuke commented on #17685
Fixed by https://github.com/PaddlePaddle/Paddle/pull/17984

[2019-06-13 05:04] luotao1 commented on #18005
I find this test core dump on AVX machine.
[code]
- machine:
[code]

[2019-06-13 05:10] ghost commented on #18005
@luotao1 Why set environment variable "MKL_DEBUG_CPU_TYPE=7" in above log?

[2019-06-13 05:27] gongweibao opened #18062 "This sentence is not correct?"
https://github.com/PaddlePaddle/Paddle/blob/develop/python/CMakeLists.txt#L17

[code]

[2019-06-13 05:30] #18062 closed, assigned to tensor-tang

[2019-06-13 05:39] luotao1 commented on #18005
@jianhang-liu Thanks for your reminder! After `make clean & make -j` again, this unit-test runs successfully on AVX machine.

[2019-06-13 05:55] lzha106 commented on #17900
试了这个代码，同样的问题，单机上执行分布式，训练结束之后会报如上错误

[2019-06-13 06:24] jerrywgz commented on #17566
你这边有使用memory optimize吗，如果有可以先去掉；另外你这边使用的paddle版本是？

[2019-06-13 06:25] jerrywgz commented on #17566
另外就是你这边使用GPU的是单卡吗

[2019-06-13 06:29] lzha106 commented on #18001
谢谢，已经参考了里面的实现，但是在 paddle 里没有发现有类似 tf 的 embedding_lookup_sparse 的接口（https://www.tensorflow.org/api_docs/python/tf/nn/embedding_lookup_sparse），对于变长 feature 如何实现 embedding 稀疏查询呢？

[2019-06-13 07:23] JiaXiao243 opened #18069 "当模型训练使用的batch_size < 使用的GPU/CPU数量，报错提示信息有误"
对cyclegan模型进行训练，设置--batch_size =1 ,使用5个GPU卡对该模型进行训练，报错信息如下：即错误提示信息中batch_size的数值和GPU/CPU的数值写反了。
![image](https://user-images.githubusercontent.com/37854899/59411957-07daf100-8def-11e9-87a8-804bcd4bdfc1.png)
![image](https://user-images.githubusercontent.com/37854899/59411968-0c070e80-8def-11e9-8ff5-68f5f7ec9a37.png)

[2019-06-13 07:36] #15388 closed, assigned to colourful-tree

[2019-06-13 07:41] #15593 closed, assigned to kolinwei

[2019-06-13 08:05] #18027 closed, assigned to junjun315

[2019-06-13 08:09] lzha106 opened #18070 "fluid.layers.embedding 如何多个 feature 间共享？"
请问 paddle 如何实现在多 feature 间共享一个 embedding table？

[2019-06-13 08:09] zhouxc opened #18071 "mpi训练报错__memmove_ssse3_back"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that there was a similar issue su

[2019-06-13 08:10] zhouxc commented on #18071
![image](https://user-images.githubusercontent.com/1280621/59415235-a9fdd780-8df5-11e9-95cd-2eab00114dce.png)
单机训练没w问题，mpi训练报错，可能主要是embedding问题，从32纬改成64纬后开始报这个错，麻烦帮忙看看

[2019-06-13 08:14] lzha106 commented on #17850
debug 开关打开可以看到单 thread 的处理样本数，但是依旧包含了许多不关心的内容，例如 ops 的时间，log 会很多，还是希望未来可以通过 fetch_list 的打印同时打出训练速度。

[2019-06-13 08:15] #15683 closed, assigned to dzhwinter

[2019-06-13 08:25] zhouxc commented on #18071
http://10.89.176.25:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190613154619-17200/
失败任务

[2019-06-13 08:57] yeyupiaoling commented on #15172
@qixuxiang 晚点我发给你，安装包在另一个电脑上。你也可以自己编译。我的显卡时2070的

[2019-06-13 08:59] yeyupiaoling commented on #15172
@hang245141253 我用的是docker编译，更新里面的cuda和cudnn。编译教程：https://yeyupiaoling.blog.csdn.net/article/details/83052060#UbuntuDocker_237

[2019-06-13 09:09] kuke commented on #18070
https://github.com/PaddlePaddle/Paddle/blob/f8ecc3de890078429163720712feafc4253880fe/python/paddle/fluid/layers/nn.py#L357

通过param_attr 将所有embedding的参数名设置成一样 就可以共享了

[2019-06-13 09:48] xjqbest commented on #18055
原始输入数据可以在pipe command中用户自定义的data generator处理。比如原始数据是序列化的，你可以在data generator中反序列化，处理成dataset可以识别的格式。

[2019-06-13 11:05] NHZlX opened #18076 "BUG： pow op 发现cpu和gpu输出不一致的情况。"
这个是复现的例子，麻烦相关同学看一下。

[code]

### 输入数据：

[input.txt](https://github.com/PaddlePaddle/Paddle/files/3285647/input.txt)

[2019-06-13 11:26] DDDivano opened #18078 "动态图ptb训练显存泄露"
随着epoch增加显存在增加，同时训练时长也增加

40 epoch ptb 每个epoch 时长
![image](https://user-images.githubusercontent.com/10734244/59428806-e8ed5680-8e10-11e9-8960-3173f1ce55de.png)
Small集上ptb 显存
![image](https://user-images.githubusercontent.com/10734244/59428847-00c4da80-8e11-11e9-8986-537919544c54.png)
![image](https://user-images.githubusercontent.com/10734244/59428854-06222500-8e11-11e9-9627-acb67602f654.png)

[2019-06-13 11:38] DDDivano opened #18080 "动态图ocr训练内存泄露"
fluid.unique_name.generator.ids 数量一直在涨
![image](https://user-images.githubusercontent.com/10734244/59429775-120ee680-8e13-11e9-9ba3-0dbb7ea903cb.png)

[2019-06-13 12:38] hang245141253 commented on #15172
@yeyupiaoling 我用的是Ubuntu18.04 不是16.04也可以吗？

我在安装NVIDIA-docker的时候报告依赖错误，缺乏一些包，但是貌似18.04没有哪些包，Docker安装不上

我想试一下pip安装包，折腾这个实在是疯掉了，想赶紧进入paddle的学习。

我的邮箱是245141253@qq.com 拜托您了

[2019-06-13 14:28] ChenjieXu commented on #15483
使用AIstudio时没有网络连接, 如何加载本地数据集?

[2019-06-14 02:02] yeyupiaoling commented on #17408
@sneaxiy 谢谢，把shuffle去掉就成功了，不会出现内存溢出了。

[2019-06-14 02:02] #17408 closed, assigned to sneaxiy

[2019-06-14 02:21] gongweibao opened #18085 "GC will slow down bert large model train speed 10%."
batch size 2048
bert large model

[2019-06-14 02:23] gongweibao opened #18086 "Speed up reader use shm and cuda ipc."

[2019-06-14 02:41] yeyupiaoling opened #18087 "使用GPU进行训练时，GPU 使用率非常低"
# 环境
 - PaddlePaddle 1.4.1
 - Python 3.5
 - Ubuntu 16.04

# 问题
我已经是使用异步数据读取了，GPU的使用还是很低，通常是保存在 10%，我觉得这非常低。这是什么原因呢？

[code]

[2019-06-14 02:46] gongweibao opened #18088 "ncclUqniueid and ncclCommunicator should not be global variable in global scope."
ncclUqniueid and ncclCommunicator should not be global variables in the global scope and they should be PE held members so the user can use multiple PEs with different places without connection error!

[2019-06-14 02:52] Dabulv opened #18090 "python3.x fluid 1.4.1 使用paddle.fluid.layers.cumsum 报 File "./python3.6.8/lib/python3.6/site-packages/paddle/fluid/layers/ops.py", line 130, in cumsum for name in locals_var: RuntimeError: dictionary changed size during iteration"
环境 python3.6.8 fluid 1.4.1 GPU

错误信息：
  File "./python3.6.8/lib/python3.6/site-packages/paddle/fluid/layers/ops.py", line 130, in cumsum
    for name in locals_var:
RuntimeError: dictionary changed size during iteration

源码：
[code]
解决方案：locals_var = locals().keys() --> locals_var = list(locals().keys())
[code]

原因分析：python2 dict.keys() 返回的是一个list，python3 dict.keys() 返回的是一个 dict_keys 的可迭代对象，在 for n

[2019-06-14 02:54] yeyupiaoling opened #18091 "with_data_parallel使用的问题？"
# 环境
 - Ubuntu 16.04
 - PaddlePaddle 1.4.1
 - Python 3.5

# 问题
with_data_parallel 接口：http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/fluid_cn.html#with_data_parallel

可以使用进行多线程读取
[code]

但是也有这个参数places，这个参数是说训练位置吗。还是说数据的读取位置？

[2019-06-14 02:57] lzha106 commented on #18070
好的，谢谢，请问 paddle embedding 是否支持变长 ids 的查找和聚合，类似 tf 的 https://www.tensorflow.org/api_docs/python/tf/nn/embedding_lookup_sparse

看官方文档示例，ids 的最后一个维度必须是 1：
http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#embedding

[2019-06-14 03:09] #18090 closed, assigned to nobody

[2019-06-14 05:40] AWSWXY opened #18094 "集群训练 ParallelExecutor 内存超限"
cpu_num 超过1个时就会失败。
任务链接
http://10.182.164.166:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190614122953-18000/

[2019-06-14 06:00] DDDivano opened #18096 "动态图 saveload功能优化建议"
load时候没有报错提示，比如load一个不存在的路径，或者路径错误，文件有问题等原因导致没有load成功。但是由于动态图本身的机制也不会有任何报错，还可以正常执行预测，但是结果是随机权重预测出来的结果。这样可能给用户带来困惑，会认为模型训练的不好，错误不方便排查。

[2019-06-14 06:29] yeyupiaoling opened #18097 "使用CompiledProgram进行异步读取数据之后，测试程序识别率很低且不变"
# 环境
 - Ubuntu 16.04
 - PaddlePaddle 1.4.1
 - Python 3.5

# 问题
我使用 CompiledProgram 结合py_reader进行异步读取数据，训练程序能够正常训练，但是测试程序的准确率和损失值一般都不会变化，是哪里出来问题呢？

[code]

[2019-06-14 08:15] sitong188 opened #18101 "模型训练发现psever报错但是没有明确原因"
提交fluid任务id:  job-0bb5d00ed6f3fc20

log链接：
http://10.182.20.35:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190612201759-16412/

psever的报错：
get_pserver_program() is deprecated, call get_pserver_programs() to get pserver main and startup in a single call.get_startup_program() is deprecated, call get_pserver_programs() to get pserver main and startup in a single call.passing pserv

[2019-06-14 08:35] laoliukan opened #18102 "训练中是否使用fluid.default_main_program().clone(for_test=True)进行测试，训练效果差异巨大"
训练模型的时候，用fluid.default_main_program().clone(for_test=True)每轮测试test set，最终的得到test set上的效果非常高。
只训练，过程中不测试test set，最终test set上效果比较差，和上面相差很多。

感觉像是使用test set进行训练了一样，请问是什么问题呢？

下面是我的代码
inference_program = fluid.default_main_program().clone(for_test=True)
result_list = exe.run(
    inference_program,
    feed=feeder.feed(data),
    fetch_list=test_fetch_list)

[2019-06-14 08:43] gongweibao commented on #18101
这个看上去是内存损坏，你先用1.4.1试试？

[2019-06-14 08:47] laoliukan commented on #18102
1、训练网络是gru+crf，做槽位填充和意图识别，参考baidu/lac代码写的，网络基本一样。
https://github.com/baidu/lac/blob/master/python/network.py

2、用的paddle cpu版本，1.3，1.4.1 都有这种现象

3、训练过程中测试：
后五轮训练集loss：0.00088, 0.000849, 0.000815, 0.000808, 0.000787
训练集acc=1（因为训练数据较少）
最终测试集f值=**0.972**

4、训练过程中不测试：
后五轮训练集loss：0.000919, 0.000903, 0.000889, 0.000875, 0.000861
训练集acc=1（因为训练数据较少）
最终测试集f值=**0.21**（相差特别大！）

[2019-06-14 08:51] yeyupiaoling commented on #15172
@hang245141253 发给你了

[2019-06-14 09:43] kuke commented on #18071
经沟通，原因可能是内存溢出

[2019-06-14 09:43] #18071 closed, assigned to kuke

[2019-06-14 09:49] #18080 closed, assigned to nobody

[2019-06-14 10:17] #18055 closed, assigned to xjqbest

[2019-06-14 10:22] kuke commented on #18070
@lzha106 paddle fluid的embedding支持稀疏更新，但可能与tf不一样的是，参数本身不能是sparse tensor。目前确实需要ids的最后一个维度为1

[2019-06-14 12:17] lzha106 commented on #18070
@kuke ，多谢，如果是这样的话，对于变长的 feature id list，不知道是否有示例参考下 paddle 如何实现查找及聚合操作？

[2019-06-14 12:32] lzha106 commented on #17850
@guru4elephant 再请问下 train_from_dataset 接口怎么能间隔 step 获取到 auc ，loss 的数值？如果要使用 visual dl 显示训练过程 loss 下降，是只能从日志获取么？有没有接口可以在运行时获取

[2019-06-15 03:10] AWSWXY opened #18113 "ctr模型集群训练cost稳步下降，auc不上升"
ctr模型集群训练cost稳步下降，auc不上升，但是本地训练auc稳步上升。
日志如下：
http://10.182.163.140:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190614235742-18510/
版本 fleet api

[2019-06-15 03:43] wzs951015 opened #18117 "ubuntu pip安装时报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译

[2019-06-15 07:33] heavengate commented on #17917
如果对batch size需求较大的话可以关闭train.py里面的memory_optimize然后开启如下Flag：
export FLAGS_fast_eager_deletion_mode=1
export FLAGS_eager_delete_tensor_gb=0.0
export FLAGS_fraction_of_gpu_memory_to_use=0.98

[2019-06-15 11:18] guoshengCS commented on #18113
请问是否是用的cluster_train.py这个文件，这个里的`inference = fluid.layers.cos_sim(X=usr_combined_features, Y=usr_combined_features)`是否会有问题呢；另外看到`avg_cost = fluid.layers.reduce_sum(cost)`这个已经是平均的，打印的时候使用`loss_val/args.batch_size`是否是期望的呢，

`群训练cost稳步下降，auc不上升，但是本地训练auc稳步上升`请问这个是完全相同的数据也是这样吗，另外看到还设置了accuracy的指标，可否打印这个指标是否再集群和本地符合预期呢

[2019-06-15 11:20] guoshengCS commented on #18117
可否提供下具体的报错内容呢

[2019-06-16 03:26] susu3621 commented on #16786
Hi @sneaxiy ，yes, we can compile and use paddle-mobile on this platform. But saddly mobile is not supporting GPU. Since arm device is also running Ubuntu 18.04, and have cuda10 and tensorRT 5, we believe it's more suitable to use the Paddle project.

[2019-06-16 22:01] guru4elephant commented on #17912
@AWSWXY 训练的是分布式版本还是单机版本？

[2019-06-16 22:04] guru4elephant commented on #17850
@lzha106 train_from_dataset内部是异步执行，获取的数值可能会不准，但我们未来会增加一个python的call back接口，允许用户获取scope中的变量值

[2019-06-16 22:06] guru4elephant opened #18125 "train_from_dataset增加用户自定义python逻辑进行变量计算和打印"
独立开启一个python线程，在train_from_dataset过程中能够在python端获取变量值，并进行二次计算和打印。

[2019-06-17 00:58] yeyupiaoling commented on #18117
你这样问有点难回答。发生什么错误我们都不知道。

[2019-06-17 02:25] lzha106 commented on #17735
最新版本中已 fix，此 issue 可以关闭了

[2019-06-17 02:25] #17735 closed, assigned to nobody

[2019-06-17 02:31] paulpaul91 opened #18126 "集群GPU和远程单机GPU，集群GPU训练的模型结果差，模型和数据都一样的"
集群GPU和远程单机GPU，集群GPU训练的模型结果差，模型和数据都一样的。
为了测试这个问题，我在远程的GPU上训练好的模型，在远程单机GPU和集群GPU上预测同一份测试集，所有的参数配置都一样，集群上的准确率只有33%，而远程单机GPU有90%，请问有遇到类似问题的吗？

[2019-06-17 02:47] AWSWXY commented on #18113
经排查是网络结构错误。修改网络结构auc正常上升

[2019-06-17 03:12] AWSWXY commented on #17912
分布式版本

[2019-06-17 03:12] AWSWXY commented on #17912
经排查是网络结构问题，问题已经解决

[2019-06-17 03:12] #17912 closed, assigned to qingqing01

[2019-06-17 03:19] AWSWXY opened #18128 "模型训练一段时间报GRPC错误"
模型训练一段时间报grpc错误，且稳定复现。

2019-06-16 16:36:14,803 - INFO - TRAIN --> pass: 0 batch: 100 loss: 0.61961340332 avg_loss :0.646084533691 avg_loss_100 :0.646084533691  auc: 0.525004341001, auc_100: 0.519851564739 ,batch_auc: 0.565066064668
2019-06-16 17:28:30,594 - INFO - TRAIN --> pass: 0 batch: 200 loss: 0.643115722656 avg_loss :0.633750671387 avg_loss_100 :0.621293518066  auc: 0.564058411824, auc_100:

[2019-06-17 05:01] Sherlockxuhy opened #18132 "get_pserver_program() is deprecated, call get_pserver_programs() to get pserver main and startup in a single call."
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：fluid 1.4 /fluid 1.3
    2）CPU：MPI集群
    4）系统环境：paddleCloud
- 训练信息：job-0bb5d071a13a2f60

主函数代码如下，参考ctr例子写的分布式ernie的分类fine tune

import os
import time
import multiprocessing

import paddle.fluid as fluid
from multiprocessing import cpu_count

import reader.task_reader as task_rea

[2019-06-17 05:44] jacquesqiao commented on #18132
报错是什么？

[2019-06-17 05:49] Sherlockxuhy commented on #18132
job-0bb5d071a13a2f60

![image](https://user-images.githubusercontent.com/25121511/59581178-a83e5780-9106-11e9-96e5-ca77b906c437.png)

Sun Jun 16 01:53:50 2019[1,0]<stdout>:++ /home/disk1/normandy/maybach/app-user-20190616014145-19492/workspace/python27-gcc482/bin/python run_classifier.py
Sun Jun 16 01:54:13 2019[1,5]<stdout>:get_pserver_program() is deprecated, call get_pserver_programs() to get p

[2019-06-17 05:58] Sherlockxuhy commented on #18132
job-0bb5d071a13a2f60

![image](https://user-images.githubusercontent.com/25121511/59581591-f99b1680-9107-11e9-86ba-7cdeea92fbcd.png)

[2019-06-17 06:01] jacquesqiao commented on #18132
把 use_double_buffer 设置成false试试，类似这里
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/demo/pyreader.py#L31

[2019-06-17 06:55] Sherlockxuhy commented on #18132
已经改为false，错误更新如下，谢大佬配合帮忙，改天请大佬喝下午茶。
![image](https://user-images.githubusercontent.com/25121511/59584145-dffdcd00-910f-11e9-991b-16134089f2ed.png)

[2019-06-17 07:39] gongweibao commented on #18087
这个地方改成异步写？或者先不写试试性能？
![image](https://user-images.githubusercontent.com/10721757/59586689-12122d80-9116-11e9-886a-25786a14ac80.png)

多少个卡？batch_size多少?

其他有几个地方可能可以改善一下：
1. num_iteration_per_drop_scope设置为10(其他也可以)
2. 可以使用多进程 你可以看一下launch.py中的例子（如果是多卡)
3. 使用1.5，打开enable_backward_optimizer_op_deps（如果是多卡）

或者使用timeline工具分析一下OP？
http://www.paddlepaddle.org/documentation/docs/zh/1.4/advanced_usage/deve

[2019-06-17 07:41] gongweibao commented on #18069
训练样本有多少那？

[2019-06-17 07:46] yeyupiaoling commented on #18087
@gongweibao 我使用的是单卡，batch size 是64，
您说的num_iteration_per_drop_scope参数在哪里设置呢？
VisualDL写入数据应该不消耗时间吧？

会不会是我的reader本身的问题？
[code]

[2019-06-17 07:48] gongweibao commented on #18087
exec_strategy

可以先试试

看一下你的cpu是否成为瓶颈了？是否满了？

[2019-06-17 07:49] gongweibao commented on #18087
[code]

用fast_executor，然后线程数目设置为2就可以。
[code]

[2019-06-17 08:51] gongweibao commented on #18091
可以不设置。

[2019-06-17 08:52] #18091 closed, assigned to nobody

[2019-06-17 08:56] yeyupiaoling commented on #18087
@gongweibao 我已经安装你说的，修改成这样了，GPU的使用率还是很低。
[code]

![image](https://user-images.githubusercontent.com/26297768/59591401-8651ce80-9120-11e9-8839-a44e715f88d0.png)

![image](https://user-images.githubusercontent.com/26297768/59591396-8520a180-9120-11e9-82be-22f345b2cc1d.png)

[2019-06-17 09:08] yeyupiaoling commented on #18091
@gongweibao

是什么意思？我是问places这个参数指定训练的位置，还是说读取数据的位置？

[2019-06-17 09:09] yeyupiaoling commented on #18091
@gongweibao 还有 loss_name 是不是一样要设置的？

[2019-06-17 09:16] yeyupiaoling opened #18142 "请教复现MobileFaceNets问题"
我在复现 MobileFaceNets 模型的时候，为什么这个模型没有说全连接层，它是否需要用到全连接层？

![v2-6861ace08d5842e20493f821dc5336e8_hd](https://user-images.githubusercontent.com/26297768/59592682-1729a980-9123-11e9-9da1-dc9daeee33c1.jpg)

[code]

[2019-06-17 09:25] yeyupiaoling commented on #18087
@gongweibao 如果我把项目放到固态硬盘上，会好一些

![image](https://user-images.githubusercontent.com/26297768/59593627-ddf23900-9124-11e9-85e2-1992c994eec1.png)

![image](https://user-images.githubusercontent.com/26297768/59593654-e9456480-9124-11e9-8391-5c1da4eab647.png)

[2019-06-17 09:29] yeyupiaoling commented on #18091
@gongweibao 还有，为什么是CPU的数量 × 4，这个乘上4的作用是什么？
[code]

[2019-06-17 09:33] gongweibao commented on #18087
不好意思，忽略这个了。你的数据都是一张张图片吧？普通硬盘seek一下然后读性能很差。

[2019-06-17 09:36] yeyupiaoling opened #18143 "请教复现ArcFace loss 损失函数？"
在MobileFaceNets模型中，使用的是ArcFace loss 损失函数，我想知道该如何复现这个函数呢？

![image](https://user-images.githubusercontent.com/26297768/59594339-40980480-9126-11e9-9cba-2080e97230fc.png)

[2019-06-17 09:41] guoshengCS commented on #18113
问题已解决，先行close，如有需要还请reopen

[2019-06-17 09:41] #18113 closed, assigned to nobody

[2019-06-17 09:41] wanghaoshuang opened #18144 "paddle 1.3 c API 分布式预测报错"
用户群问题记录；

paddle 1.3 c++ 预测报错：paddle is not compiled with distribute support, can not do parameter prefetch!

![image](https://user-images.githubusercontent.com/7534971/59594855-3b878500-9127-11e9-940c-d0dee464b690.png)

[2019-06-17 09:43] wanghaoshuang commented on #18144
@seiriosPlus  建议用单机训练存一个model，然后用多机的参数覆盖一下

[2019-06-17 09:43] wanghaoshuang commented on #18144
用户反馈：

[2019-06-17 09:44] wanghaoshuang commented on #18144
@seiriosPlus  建议本地paddle更新到最新版。

[2019-06-17 09:50] yeyupiaoling commented on #18087
@gongweibao 是的，PaddlePaddle最常见的不就是这样出来吗？如何可以提高读取速度呢？

[2019-06-17 10:06] junjun315 commented on #18117
建议pip 2下安装时，先执行一下pip install -r https://github.com/PaddlePaddle/Paddle/blob/develop/python/requirements.txt
来安装依赖。能避免当前依赖包存在的不支持python2的问题

[2019-06-17 10:29] zhoukunsheng opened #18147 "support Tensor input for edit_distance op"
upgrade edit_distance op to support both Tensor and LoDTensor input

[2019-06-17 12:10] Sherlockxuhy commented on #18132
经paddle同学帮忙，该问题为train_loop里面没有startup_program，而pyreader是需要startup的，为了兼顾模型参数加载不被初始化掉，trainer阶段startup后，加载模型。

[2019-06-17 12:15] gongweibao commented on #18087
是。其实这取决于reader。你可以把文件保存为python keyvalue的那种结构，这样顺序读的话速度最快。

[2019-06-17 12:44] Jhon714-cooler opened #18149 "安装问题"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译

[2019-06-17 12:44] #18149 closed, assigned to nobody

[2019-06-17 12:47] Jhon714-cooler opened #18150 "安装问题"
![微信图片_20190617201313](https://user-images.githubusercontent.com/51886349/59605254-fb350080-9140-11e9-9f07-75b6ead2cb2c.jpg)
为什么会出现这个回复

[2019-06-17 13:32] oyjxer opened #18154 "paddle是否支持将模型的不同部分分配到不同GPU上"
paddle是否支持将模型的不同部分分配到不同GPU上，可以的话是否有示例

[2019-06-17 13:38] universea opened #18156 "two api need"

[2019-06-17 13:44] universea commented on #18156
Now I am rewring pysot (Tracking models) by paddlepaddle ,but paddle don't have tensor.view() ,this api is like reshape,but they diffenent,we can look these difference in torch API.
Another api is conv2d ,but input are two images,the one is input ,the other is filter,we can look it in torch API torch.nn.functional.conv2d(input, weight, bias=None, stride=1, padding=0, dilation=1, groups=1)

[2019-06-18 01:06] yeyupiaoling commented on #18087
@gongweibao 好的，我试试。能否帮回答这个问题 #18097

[2019-06-18 01:58] yeyupiaoling commented on #18150
@Jhon714-cooler
![image](https://user-images.githubusercontent.com/26297768/59647894-99f84600-91af-11e9-8161-35107874ba68.png)

[2019-06-18 02:16] zhoukunsheng opened #18161 "fix greater_equal, greater_than, less_equal, not_equal, rank, reduce_all, reduce_any, sign, where, diag doc example"
fix these op's example so that they can copy, paste and run

[2019-06-18 02:39] sitong188 opened #18163 "模型训练报错 没有发现具体问题"
作业id:
job-0bb5d0629f36f6f5
job-0bb5d031347a67bc

http://10.182.97.139:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190616193732-20432/
http://10.182.23.158:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190614112407-17954/

[2019-06-18 03:08] yuyy0823 opened #18164 "lstm_unit使用报错"
paddle版本 0.15
想简单测试下lstm_unit的实现，运行报错，部分代码和报错信息如下，把lstm换成mlp，其他代码都不变是可以成功运行的，所以应该是lstm_unit使用不对吗？lstm_unit是按照api写的，很简单，没做什么复制操作，求帮忙看下是什么错误啊：

def lstm(input):

    x_t_data = input
    x_t = fluid.layers.fc(input=x_t_data, size=64)
    prev_hidden = fluid.layers.fc(input=x_t_data, size=64)
    prev_cell = fluid.layers.fc(input=x_t_data, size=64)
    hidden_value, cell_value = fluid.layers.lstm_uni

[2019-06-18 03:23] qingqing01 commented on #18143
@yeyupiaoling 请参考 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/metric_learning/losses/arcmarginloss.py 这个实现。

[2019-06-18 03:51] gongweibao commented on #18128
有一个机器挂了？
[code]

[2019-06-18 05:26] AWSWXY commented on #18128
稳定复现。不清楚什么原因

[2019-06-18 05:47] yangapku opened #18171 "希望实现高效易用的图网络库和相关的经典图网络模型"
目前图网络逐渐成为研究和业务的热点，TF、pytorch都在其基本框架的基础上推出了图网络库以及经典图网络模型的实现，尤其是基于pytorch已经出现多款相关库——[DGL](https://github.com/dmlc/dgl)（底层同时支持mxnet）以及[pytorch_geometric](https://github.com/rusty1s/pytorch_geometric)。这些库一方面比较高效，可以支持亿级规模的网络的训练和预测，另一方面使用也比较简单，看示例代码都比较简洁，同时对于经典的GCN、GAT以及经典相关论文都有了实现。希望paddle可以尽快实现类似的功能并争取取得性能的优势，这样才能够吸引更多用户选择paddle。

[2019-06-18 05:52] JiaXiao243 commented on #18069
??训练数据用的cityscape数据集~

[2019-06-18 06:43] takecareofbigboss opened #18172 "smooth l1 loss替换huber loss的时候，是不是要修改下什么呀？ 我参考官方文档替换了下，最后loss反传会报错。"
smooth l1 loss替换huber loss的时候，是不是要修改下什么呀？ 我参考官方文档替换了下，最后loss反传会报错。
![image](https://user-images.githubusercontent.com/11883059/59658811-5580a080-91d7-11e9-9988-b7193d7a664b.png)
报错信息：
![image](https://user-images.githubusercontent.com/11883059/59658821-5d404500-91d7-11e9-8dcc-4e3fc7368ddc.png)

[2019-06-18 06:56] DianaZhang opened #18173 "Ubutun 安装gpu版本无异常，但是paddle.fluid.install_check.run_check()报错"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu1.4.1.post97（只安装了这个gpu版本）
    3）GPU：nvidia 418
                    cuda9.0
                    cudnn7.3(由于安装7.1时代码提示The installed Paddle is compiled with CUDNN 7.3, but CUDNN version in your machine ，所以最新安装为7.3）
    4）系统环境：ubuntu18.04，python3.6
- 安装方式信息：
    1）pip安装，安装python3.6的虚拟环境中      
- 复现信息：如为报错，请给出复现环境、复现步骤
    在运行内核为2G的单gpu笔记本上，按照以上配置出现下面的问题，

[2019-06-18 07:04] LLMHao opened #18174 "add 'collective op'"
add collective operations  to support collective data exchange ,support for  allreduce /allgather /broadcast /slicegather .

[2019-06-18 07:39] qingqing01 commented on #18172
@takecareofbigboss Please see doc  http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#huber-loss  for huber loss, the last dim must be 1.

[2019-06-18 07:46] carychai commented on #15140
@yeyupiaoling  有没有自行编译的过程参考

[2019-06-18 07:48] yeyupiaoling commented on #15140
@carychai 具体的没有，你可以先参考这个：https://yeyupiaoling.blog.csdn.net/article/details/83052060#UbuntuDocker_237
修改docker里面的CUDA

[2019-06-18 07:56] AWSWXY commented on #18128
使用SGD可以正常运行，
使用RMS 稳定失败。
所以感觉不是节点问题，像是框架问题？
任务链接
http://10.182.165.13:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190616145824-20267/

[2019-06-18 08:05] yeyupiaoling commented on #18143
@qingqing01 这个应该就是我想要的ArcFace loss，谢谢。

[2019-06-18 08:05] #18143 closed, assigned to qingqing01

[2019-06-18 08:07] yeyupiaoling commented on #18142
@qingqing01 青青姐，我现在就纠结要不要加上全连接层
[code]

[2019-06-18 08:24] yeyupiaoling commented on #18142
如果不使用全连接层，那么如何输入到损失函数呢？如果需要，论文中为什么不给出呢。我用上面的全连接层，程序能够运行。

[2019-06-18 08:33] takecareofbigboss commented on #18172
this problem has been solved, and the solution is:
    cost = fluid.layers.huber_loss(fluid.layers.reshape(outputs_masked, shape=[-1, 1]), fluid.layers.reshape(pts_masked, shape=[-1, 1]), 3.0)
    cost = fluid.layers.reshape(cost, shape=[-1, args.n_pt*2])
    cost = fluid.layers.reduce_sum(cost, dim=1)
    cost = fluid.layers.reshape(cost, shape=[-1, 1])
    cost = cost / num_ones
thanks for qingq

[2019-06-18 08:49] gongweibao opened #18178 "How to determine the best fusion size and layer size?"
Select it automatically.

[2019-06-18 08:58] seiriosPlus commented on #18128
RMSProp 的is_center的设置为False再跑一下？

[2019-06-18 09:07] xiuechen opened #18179 "中文官网有些demo无法跑过"
http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#sequence-reshape

比如这个，输入需要二维，但是给出的例子中输入是三维的，报错

[2019-06-18 09:23] YCYCYCY opened #18180 "Enforce failed. Expected numel() >= 0, but received numel():-3673471787385661952 < 0:0."
调用parallel_executor，抛出异常
C++ Callstacks:
Enforce failed. Expected numel() >= 0, but received numel():-3673471787385661952 < 0:0.
When calling this method, the Tensor's numel must be equal or larger than zero. Please check Tensor::Resize has been called first. at [/root/code/Paddle/paddle/fluid/framework/tensor.cc:43]

[2019-06-18 09:28] chyj4747 opened #18181 "py_reader的参数疑问（文档不明确）"
capacity，这个缓冲区大小具体怎么定？文档里大多是64，但这个64对应的具体是什么量？比如内存的64MB？还是64条数据？或者别的什么东西？

[2019-06-18 09:34] xsrobin commented on #18179
感谢您的反馈，1.5版本已经修复了这个文档以及其他的API文档，发布之后会整体解决。

[2019-06-18 09:34] #18179 closed, assigned to nobody

[2019-06-18 09:35] chengduoZH commented on #18180
你的模型是怎样的 @YCYCYCY

[2019-06-18 09:39] YCYCYCY commented on #18180
https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/models/classification/nets.py
ernie_base_net

[2019-06-18 09:56] bluemandora opened #18185 "paddle.fluid.core.EnforceNotMet: Invoke operator clip error."
   1）PaddlePaddle版本：1.4.1
    4）系统环境：centos6.3，Python2.7
- 训练信息
    1）单机单卡

- 需求就是在embedding之前对输入做一下clip，防止数组越界，使用以下代码不会报错
[code]
- 如果增加一层clip，则会报错：
[code]
报错信息：
[code]

- 如果首先转换类型成float32，然后cast回到int64，仍然会报错：
[code]

[code]

[2019-06-18 10:10] DianaZhang commented on #18173
https://github.com/PaddlePaddle/LARK/issues/87
相同错误，并且已经解决

[2019-06-18 10:15] DianaZhang commented on #18173
在确认是显存问题之前，
我使用的ubuntu18.04，python3.5，cuda9+cudnn7，我用的是笔记本，单GPU+2G运行内存。
无论如何都运行不起来！！！！！
然后我用了同样配置的台机，4核12G。
当我gpu有调用的时候，paddlepaddle的gpu代码同样无法运行。
我使用的是paddlepaddle单gpu进程，调用gpu0，然后我本机有一个运行中的进程调用的gpu是3，然后报了上面的错误！！！！！！！
只有在我终止所有的进程的时候，paddlepaddle的gpu代码开可以运行。

[2019-06-18 10:17] Superjomn commented on #18185
显示是输入没有初始化，clip 的输入 raw_feature 是不是没有传值进去？

[2019-06-18 11:36] tianxin1860 commented on #17685
使用 paddle-latest 版本训练，出现了同样的报错，报错详情如下:
![image](https://user-images.githubusercontent.com/6829601/59678996-54b03480-9200-11e9-8606-57b1ceb8f73d.png)

[2019-06-18 12:06] laoliukan opened #18188 "训练中多次调用fluid.io.load_inference_model进行预测，内存一直增长"
模型是lstm+crf，emb词表大小100多万，每轮都会调用fluid.io.load_inference_model，内存在不断增大，500轮的时候已经增长到几十g了。

[2019-06-18 12:08] Superjomn commented on #18188
可以贴下相关的代码吗，最好是 forloop，直接load 的，不确定那样是否能复现

[2019-06-18 12:16] cuicheng01 opened #18189 "fluid.layers.conv2d中padding无法选择‘same’或者‘valid’"
`tf.layers.Conv2D(
          filters,
          kernel_size=[1, 1],
          strides=[1, 1],
          kernel_initializer=conv_kernel_initializer,
          padding='same',
          use_bias=False)`
在tensoflow中，conv2d可以设置padding的类型，请问paddle可以吗？

[2019-06-18 12:38] bluemandora commented on #18185
@Superjomn 传值进去了，第一段代码是没有问题的，如果没传值，第一段应该也会报错吧

[2019-06-18 12:49] Superjomn commented on #18189
http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#conv2d
看文档应该是可以的

[2019-06-18 12:52] cuicheng01 commented on #18189
文档并没有交代可以吧？

[2019-06-18 13:02] cuicheng01 commented on #18189
`class Conv2dSamePadding(nn.Conv2d):
    """ 2D Convolutions like TensorFlow """
    def __init__(self, in_channels, out_channels, kernel_size, stride=1, dilation=1, groups=1, bias=True):
        super().__init__(in_channels, out_channels, kernel_size, stride, 0, dilation, groups, bias)
        self.stride = self.stride if len(self.stride) == 2 else [self.stride[0]]*2

    def forward(self, x):

[2019-06-18 13:03] cuicheng01 commented on #18189
`class Conv2dSamePadding(nn.Conv2d):
    """ 2D Convolutions like TensorFlow """
    def __init__(self, in_channels, out_channels, kernel_size, stride=1, dilation=1, groups=1, bias=True):
        super().__init__(in_channels, out_channels, kernel_size, stride, 0, dilation, groups, bias)
        self.stride = self.stride if len(self.stride) == 2 else [self.stride[0]]*2

    def forward(self, x):

[2019-06-18 13:04] cuicheng01 commented on #18189
`def forward(self, x):
        ih, iw = x.size()[-2:]
        kh, kw = self.weight.size()[-2:]
        sh, sw = self.stride
        oh, ow = math.ceil(ih / sh), math.ceil(iw / sw)
        pad_h = max((oh - 1) * self.stride[0] + (kh - 1) * self.dilation[0] + 1 - ih, 0)
        pad_w = max((ow - 1) * self.stride[1] + (kw - 1) * self.dilation[1] + 1 - iw, 0)
        if pad_h > 0 or pad_w > 0:

[2019-06-18 13:09] cuicheng01 commented on #18189
`
    def forward(self, x):
        ih, iw = x.size()[-2:]
        kh, kw = self.weight.size()[-2:]
        sh, sw = self.stride
        oh, ow = math.ceil(ih / sh), math.ceil(iw / sw)
        pad_h = max((oh - 1) * self.stride[0] + (kh - 1) * self.dilation[0] + 1 - ih, 0)
        pad_w = max((ow - 1) * self.stride[1] + (kw - 1) * self.dilation[1] + 1 - iw, 0)
        if pad_h > 0 or pad_w > 0:

[2019-06-18 13:10] DsaltYfish opened #18190 "树莓派3b+编译安装"
本人设备是树莓派3b+，系统是树莓派官方系统
Raspbian Stretch with desktop
Image with desktop based on Debian Stretch
Version:April 2019
Release date:2019-04-08
Kernel version:4.14
Release notes
SHA-256:7e10a446f8e57210d0e9ad02f0c833aabb86e58187b4dc02431aff5a3f1ccb83
按照arm_linux的开发文档，在执行/bin/bash build.sh arm_linux 后遇到
[ 25%] Building CXX object CMakeFiles/paddle-mobile.dir/src/operators/kernel/arm/convolution/conv_ker

[2019-06-18 13:10] cuicheng01 commented on #18189
`class Conv2dSamePadding(nn.Conv2d):
    def __init__(self, in_channels, out_channels, kernel_size, stride=1, dilation=1, groups=1, bias=True):
        super().__init__(in_channels, out_channels, kernel_size, stride, 0, dilation, groups, bias)
        self.stride = self.stride if len(self.stride) == 2 else [self.stride[0]]*2

    def forward(self, x):
        ih, iw = x.size()[-2:]
        kh, kw

[2019-06-18 13:24] chengduoZH commented on #18102
@laoliukan 可以贴一下你的代码吗？怀疑你是调用完optimizer.minimize(...)之后才调用的clone
另外fluid.default_main_program().clone(for_test=True)不会将program中的反向操作做裁剪。

[2019-06-18 13:29] seiriosPlus commented on #18094
1. 可以适当增大内存
2. 检查一下数据读取的逻辑，看是否是因为数据load过大
2. CPU的ParallelExecutor的strategy设置为Reduce

[2019-06-18 13:29] #18094 closed, assigned to seiriosPlus

[2019-06-18 13:48] qingqing01 commented on #18189
@cuicheng01

1. SAME, VALID模式现在无法设置，可以参考 models里写法： https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/gan/cycle_gan/layers.py#L53 来支持。

2. 获取weight的和weight的大小，可以将weight的名字放入fetch list里获取出来。

[2019-06-18 13:56] AWSWXY commented on #18128
设置成False依然报错
http://10.182.55.161:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190618202913-379/

[2019-06-18 23:39] #18069 closed, assigned to chengduoZH

[2019-06-19 01:48] dashulu opened #18192 "多卡训练时，是怎么保证每张卡的初始化参数一样的？"
从无到有进行训练时，paddle是怎么保证多卡之间初始化参数一致的？

[2019-06-19 01:53] chengduoZH commented on #18192
参数首先是在0号卡上进行初始化，然后broadcast到其他卡。

[2019-06-19 01:55] chengduoZH commented on #18180
完整的错误log是什么

[2019-06-19 03:24] jacquesqiao commented on #18154
目前不支持

[2019-06-19 03:26] jacquesqiao commented on #18126
集群GPU和远程单机GPU分别是啥？

[2019-06-19 03:32] fourseven471 opened #18194 "Python3 cannot be supported for Paddle_baseline_KDD2019."
Paddle_baseline_KDD2019 :  https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/ctr/Paddle_baseline_KDD2019

The above baseline mode can run in python2 + cpu  environment. But when i run 'local_train.py' in python3 environment, the errors occur as follow. Can you determine whether it is a code problem or an environment of python3 problem？

=================================================

[2019-06-19 04:50] JiaXiao243 opened #18198 "window从源码编译paddle夯住"
在windows系统上从源码开始编译paddle，正常编译需要4个小时左右，太慢了~强烈建议优化一下~ 若直接使用pip install安装，假如对应cuda、cudnn的小版本不同(例如cuda9.0和9.2，cudnn7.0和7.5)，则无法正常使用paddle。还是需要直接从源码编译安装。
在window上从源码编译paddle一直没有编完。。。
对比linux从源码编译paddle需要40分钟左右。

[2019-06-19 04:55] YCYCYCY commented on #18180
[code]

[2019-06-19 05:08] yeyupiaoling opened #18199 "使用接口 fluid.CompiledProgram 随机出现错误"
# 环境
 - PaddlePaddle 1.4.1

# 问题
在使用  fluid.CompiledProgram  进行多核计算时，随机出现下面的错误
[code]

[2019-06-19 05:10] yeyupiaoling commented on #18097
@gongweibao 这个怎么解，是不是 测试程序 没有接受到训练程序的梯度更新

[2019-06-19 05:11] yeyupiaoling commented on #18087
@gongweibao 是不是说合并成一个文件？

[2019-06-19 05:56] Melonzhou opened #18201 "the first dimension of Input(X) must be large than batch size. at [/ssd2/liyukun01/paddle-env/repos/Paddle/paddle/fluid/operators/sequence_ops/sequence_pool_op.h:44]"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）GPU：P40、CUDA9.0
    3）python2.7 centos
- 训练信息
    1）单机2张卡
    2）显存20G

报错信息
  epoch: 1, progress: 1910/9600, step: 1100,speed: 123.092166 steps/s
2019-06-18 14:40:26,332-DEBUG: file being processed:./thirdparty/dev_data/dev.tsv
Traceback (most recent call last):
File "train.py", line 91, in <module>
model.train()
File "nlpt/model/base_model.py", line 384

[2019-06-19 06:03] seanxh opened #18202 "fluid如何获得所有层的名字"
[code]

请问，我如何知道结构里其它块的名字？？类似 fc_0.w_0这种？
同时，我要怎么取得这些参数的值呢？？

[2019-06-19 06:30] seiriosPlus commented on #18201
有打印proto么， 看一下default_main_program

[2019-06-19 06:33] seiriosPlus commented on #18202
可以打印default_main_program.里面有全部layer的参数。

[2019-06-19 06:35] seanxh commented on #18202
got。
[code]

即可

[2019-06-19 06:40] sgcsky opened #18204 "训练两个模型共用embedding，计算梯度出错"
训练gan模型的时候，dis和gen共用同一个embedding，在minimize的时候报Exception: Accumulator moment1 already exists for parameter emb
要怎么解决呢？
网络里embedding的定义
![image](https://user-images.githubusercontent.com/22487380/59743180-0eabad00-92a2-11e9-9d7d-51314d5efeca.png)
生成网络的代码
![image](https://user-images.githubusercontent.com/22487380/59743014-98a74600-92a1-11e9-8a10-5e88ac2c492a.png)
![image](https://user-images.githubu

[2019-06-19 06:44] Melonzhou commented on #18201
怎么打印proto呢，具体我应该打印些什么呢？

[2019-06-19 07:15] DianaZhang opened #18205 "多gpu使用报错，数字识别算法"
系统：ubuntu18.04，4核12G
gpu：nvidia410，cuda9.0，cudnn7.3
paddle：1.4.1.post97，安装在python3.6的虚拟环境中
python：python3.6

![图片](https://user-images.githubusercontent.com/30866942/59744114-706d1680-92a4-11e9-80a7-a8eccc6b49b9.png)

使用模型，数字识别模型
代码修改部分
![图片](https://user-images.githubusercontent.com/30866942/59744262-c8a41880-92a4-11e9-9692-d562c7a829c5.png)

错误内容：
[code]
全部代码：
[code]

[2019-06-19 07:20] #18161 closed, assigned to nobody

[2019-06-19 07:21] Superjomn commented on #18185
我的意思是第二段代码，你的 raw_feature 是不是空

报错信息是 clip 的输入是空

[2019-06-19 07:22] shjwudp commented on #6645
请问现在支持在inference过程中获取子block的中间结果吗？

[2019-06-19 07:23] sneaxiy commented on #18181
`capacity`是py_reader内部维护的队列容量大小，单位是batch。如果capacity是64，则py_reader的队列内部最多缓存64个batch的数据。

[2019-06-19 07:28] Superjomn commented on #18190
这是哪个 repo 的？ 哪个版本的？
好像不是 Paddle org 吧

[2019-06-19 07:32] shjwudp opened #18206 "inference过程如何获取sub_block中variable的值"
环境信息：Paddle 1.4.1 on CPU

问题：
inference过程中需要打印中间计算结果（variable）做debug，现在使用插入fetch op的方式能够打印出主block的variable，但是fetch sub_block variable会有问题，错误信息显示找不到variable

请求援助：
有没有支持sub_block的中间值打印debug方法

[2019-06-19 07:56] seiriosPlus commented on #18204
分别在自己的program_guard下调用minimize？

[2019-06-19 08:48] #18202 closed, assigned to nobody

[2019-06-19 08:56] wanghaoshuang commented on #16599
不能保证100%有加速，这个和数据有关。

[2019-06-19 09:44] ccmeteorljh opened #18209 "python3下报错"
python3.5
paddle version:1.5.0
models：gnn
复现方法：
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/demo/pipeline_train.py
GNN模型的目录：https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleRec/gnn
流水线训练脚本执行步骤：
Step1：将流水线训练demo文件复制到gnn模型目录下
Step2：按照gnn模型的README中的步骤下载数据并进行数据预处理，即如下几个步骤：
cd data && sh download.sh
python preprocess.py --dataset diginetica
cd ..
	mkdir

[2019-06-19 09:52] qingqing01 commented on #18142
你是要将fc加到哪里？ 最后一层分类吗？

[2019-06-19 10:05] yeyupiaoling commented on #18142
是的

[2019-06-19 10:13] qingqing01 commented on #18142
一般都加吧

[2019-06-19 10:26] lzha106 commented on #17900
试了最新的 paddle docker，包括 avx 版本和 noavx 版本，均会遇到以上问题：

    python[211950]: segfault at 20 ip 00007fd57ccc1dff sp 00007ffc73c52898 error 4 in core_avx.so[7fd57ae00000+2467000]
    python[446750]:  segfault at 0 ip 00007fbb2c537e6b sp 00007ffcf0931480 error 4 in core_noavx.so[7fbb2a725000+23bd000]

[2019-06-19 11:12] lexy0093 opened #18211 "训练时读不到test data，报错"
paddlecloud job-0bb5d08cc945298e
训练时发现以下报错，貌似是读不到test data的数据，但不知道原因，麻烦帮忙看一下
![image](https://user-images.githubusercontent.com/10195109/59760968-21d07400-92c6-11e9-8d2e-d5092d08d8c2.png)

[2019-06-19 11:22] AWSWXY opened #18212 "任务没有任何报错信息，显示终止"
任务没有任何报错信息，显示终止，没有手动kill任务。
任务链接http://10.197.72.153:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190618215842-538/

[2019-06-19 12:19] #18212 closed, assigned to nobody

[2019-06-19 13:37] paulpaul91 commented on #18126
公司的GPU队列，单机GPU指的是物理机

[2019-06-19 14:22] yeyupiaoling commented on #18142
@qingqing01 好的，谢谢。

[2019-06-19 14:22] #18142 closed, assigned to qingqing01

[2019-06-19 14:50] yeyupiaoling commented on #18097
@qingqing01 是否可以帮忙看一下这个问题呢？训练的准了是不断提高的，但是测试中准确率好都几个pass，完全没有变化的。

[2019-06-19 15:20] bluemandora commented on #18185
@Superjomn 感谢，确实是输入的问题，已解决，但是又遇到了另一个问题，clip操作似乎不支持int64类型的输入，然后我尝试先cast成float32，clip之后cast回int64，作为embedding的输入。代码如下：

[code]
报错信息如下：
[code]

[2019-06-19 17:47] jczaja commented on #17611
My understanding is that #17965 solved some issues , but introduced memory-leaks due to over-caching mkl-dnn data. I'm working on modification of this behaviour so that Parallel executor's use case is still cached per std::thread::id , but AnalysisPredictor (to be used in your service?) is cached
per mkl-dnn thread ID (As set via SetMklDnnThreadId()).  To finish PR (#18217) I need some more info o

[2019-06-20 02:19] luotao1 commented on #17611
1. We have thread pools, for example, the pools have 100 threads, and we will re-use the threads.
2. Do you mean `SetMklDnnThreadID(int n)` set by users? We will set similar things in the config like `config.SetMklDnnThreadID(int n)`, and at that time, users don't know the threadID.

[2019-06-20 03:05] jacquesqiao commented on #17900
这个问题在1.5分支和develop分支上已经修复

[2019-06-20 03:08] logicgogh commented on #16271
目前最新文档中还是没有unique_name 的相关文档

[2019-06-20 03:34] JiaXiao243 commented on #18198
在window机器上编译，报错信息如下:
![image](https://user-images.githubusercontent.com/37854899/59816618-62280480-934f-11e9-83a1-90c9e586753e.png)
![image](https://user-images.githubusercontent.com/37854899/59829557-4b45da00-9370-11e9-8b1f-96bbbb1cc59e.png)

[2019-06-20 03:39] carychai commented on #18198
我在windows下编译大概花了40分钟，但是结果是fail，一堆错误，搞了两次都这样，无奈放弃了。因为我的显卡是RTX2060，cuda 8.0不支持.我只有等官方的版本更新了.

[2019-06-20 03:44] zhou-wj commented on #10196
请问现在docker内可以使用非root用户运行了吗？在服务器上只能在docker下用当前用户运行，请问有什么解决方案可以使用paddle吗？

paddle版本：paddlepaddle-gpu==1.4.1.post97
非root用户运行报错如下：

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/python3/lib/python3.6/site-packages/paddle/__init__.py", line 25, in <module>
    import paddle.dataset
  File "/usr/local/python3/lib/python3.6/site-packages/paddle/dataset/__ini

[2019-06-20 05:16] LihangLiu opened #18224 "switch op性能问题"
在使用switch op的过程中，发现耗时很久，利用profiler工具查看了下具体的耗时，如下图：
![image](https://user-images.githubusercontent.com/8502179/59820188-73780d80-935d-11e9-8788-cdf9a6366074.png)

ps:
1. 模型是常规的dynamic_rnn模型。
2. 加入switch op是为了将rnn的init和单步infer拆成两个子网络来跑inference，但是发现加入switch op后耗时增加很多。
3. 版本相关：centos, fluid1.3, cuda9 cudnn7

[2019-06-20 05:22] zhoukunsheng opened #18225 "support Tensor input for chunk_eval op"
so that both Tensor input and LoDTensor input are supported

[2019-06-20 07:17] kuke commented on #18180
@YCYCYCY paddle1.5已经修复这个问题了，本月月底回发布

[2019-06-20 07:31] sitong188 opened #18230 "模型infer阶段，加入id类string明文特征，不参与计算，只print出来"
我采用的脚本是util.py中方法解析数据，在infer方法里调用model的配置来预测
想把id加进model的预测阶段, 这里想输出 id + infer的该id特征的vector
因为infer也是batch的计算，这里没办法单独再从数据里拿id去拼

我尝试把id当做特征加进model但不参与计算，有个配置
id_conf = DataConfig(name='firstw-1', shape=[-1, 1], dtype='string')
这里dtype='string'报错，请教有没有好的解决办法

[2019-06-20 07:33] dubhex opened #18231 "upsample需求"
请问paddle现在有支持上采样层吗？在API文档中没有找到。

[2019-06-20 07:34] xiangyubo commented on #18230
建个字典，把每个字符和一个正整数对应起来，然后 dtype='int64' 呢？

[2019-06-20 07:43] laoliukan commented on #18102
哦哦，我是调用optimizer.minimize(...)之后，才调用的fluid.default_main_program().clone(for_test=True)，原来是这个问题，谢谢。

[2019-06-20 07:44] #18102 closed, assigned to NHZlX

[2019-06-20 08:21] phlrain commented on #18224
定义两个program 可行吗

[2019-06-20 08:21] phlrain commented on #18230
需求能不能在描述的清楚一些

[2019-06-20 08:27] xiangyubo commented on #18231
我是一般用户哈，回答也只是为了 mark 一下这个问题。
不知道 fluid.layers.resize_nearest 可以吗？我记得我看 yolo 代码里面，通过这个操作把特征图变大过。

[2019-06-20 09:18] Kevinlsy opened #18232 "单卡训练ernie没问题，多卡训练报错"
系统：cetos 6.3 4核12G
python:2.7
gpu cuda8 cudnn5.1
paddle 1.4
代码源 https://github.com/PaddlePaddle/LARK/tree/develop/ERNIE    （基本未做改动）
错误：多卡训练时以确认没有其他程序占gpu。
![image](https://user-images.githubusercontent.com/18109329/59837003-168d4f00-937f-11e9-83a0-e41b71322204.png)

![image](https://user-images.githubusercontent.com/18109329/59836942-feb5cb00-937e-11e9-8dfb-8d87701add0f.png)

[2019-06-20 09:21] 1286667673 opened #18233 "图片非固定大小"
图片占位只能是固定大小的吗？

[2019-06-20 09:59] #17903 closed, assigned to luotao1

[2019-06-20 10:16] kolinwei opened #18236 "PR#17878 造成ctr模型 CPU训练速度下降"
gcc4.8下面编译包，前后速度对比
pass duration   28s   32s
gcc5.4编译的话无变化

[2019-06-20 11:49] phlrain commented on #18233
layers.data里面定义的shape 可以用-1表示，表示可变

[2019-06-20 11:49] kuke commented on #18232
@Kevinlsy 看报错是nccl的问题，请确认nccl环境正确设置了

[2019-06-20 12:19] sitong188 commented on #18230
“建个字典，把每个字符和一个正整数对应起来，然后 dtype='int64' 呢？”
然后打印了下ctr.py解析的id对应上面说的字典是对的 但是运行报了这个错：
Traceback (most recent call last):
  File "predict.py", line 11, in <module>
    model_pack.infer(feeder=feeder, use_cuda=False, model_dir='model/', batch_size=100, is_local=True)
  File "/home1/chensitong03/fluid/fluid_predict/model_pack.py", line 552, in infer
    predict_ad_val, cmatch_val, label_val, cuid_val =

[2019-06-20 13:48] phlrain commented on #18231
请问下这个采样层具体是指什么操作

[2019-06-20 15:03] hutuxian commented on #18209
Fixed: https://github.com/PaddlePaddle/Paddle/pull/18239

[2019-06-21 01:55] wopeizl commented on #18198
可以贴一些错误截图，初步判断有两个方面是会慢的，
1. github访问速度问题，很多依赖是从github上拉取的，大部分编译任务依赖这些资源，导致整体很慢
2. VS本身编译速度和PC机器差异问题，对比linux服务器来说，一般是要慢一些, 特别是在nvcc的编译方面

[2019-06-21 01:56] wopeizl commented on #18198
还有1.5之前的版本只支持cuda8，RTX2060应该是不支持的，所以就算编译后也应该不能运行GPU版本

[2019-06-21 01:57] wopeizl commented on #18198
编译加速是需要解决的一个方面。

[2019-06-21 01:57] #18209 closed, assigned to hutuxian

[2019-06-21 02:37] XFrankly opened #18244 "定义卷积网络包括batch_norm层，执行训练时，一轮就停止并抛出错误"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2019-06-21 04:49] #17685 closed, assigned to kuke, heavengate

[2019-06-21 05:32] Lizhengo opened #18250 "调用fluid.io.save_inference_model后，保存的目录下只有_model_这个文件，没有其他模型参数"
调用fluid.io.save_inference_model后，保存的目录下只有_model_这个文件，没有其他模型参数
模型是基于ernie的模型
<img width="769" alt="image" src="https://user-images.githubusercontent.com/28192236/59899922-1184da00-9429-11e9-99f6-57893a7962eb.png">

[2019-06-21 06:39] Superjomn commented on #18250
__model__ 内容方便给出来吗，我可视化看看

[2019-06-21 06:52] yeyupiaoling opened #18252 "Fluid版本在不固定shape的输入时，pool层报错"
# 环境
 - PaddlePaddle 1.4.1

# 问题
就如下面的代码，如果去掉pool层就可以正常运行，
[code]

如果不去掉就报错：
[code]

[2019-06-21 06:54] sitong188 commented on #18230
还有没有解决，cuid用了一个list来标志，比如这样[1,2,3,4,5,6] 每位代表dict里对应index的字符
在model里定义为：
cuid_conf = DataConfig(name='firstw-1', shape=[-1, 1], dtype='int64', lod_level=1)
在这里读出来：
cuid, age, gender, . . . . . ., label = fluid.layers.read_file(py_reader)

然后再infer方法里这样去fetch:
fetch_name_list = [predict_ad.name, cmatch.name, label.name, cuid.name]
run的时候因为报的错，改成了
predict_ad_val, cmatch_val, label_val, cuid_val = pa

[2019-06-21 07:01] ddayzzz opened #18254 "Deepin Linux 安装错误： /home/shu/miniconda3/envs/ml/lib/python3.6/site-packages/paddle/fluid/core.so: undefined symbol: mkldnn_primitive_desc_query_pd"
- 版本、环境信息：
    1）PaddlePaddle版本：release 1.4
    2）CPU：INTEL I7 6700HQ，MKL=ON，系统中存在MKL
    3）GPU：NVIDIA GTX950M，CUDA9.0和CUDNN7.0
    4）系统环境：Deepin 15, Python3.6(Anaconda)
- 安装方式信息：
1）本地编译：cmake ..  -DPY_VERSION=3.6 -DWITH_FLUID_ONLY=ON -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release; make -j8

编译成功后的输出：
[code]
在环境的 python 中输入：
[code]
尝试：`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/shu

[2019-06-21 07:03] gavin1332 commented on #17013
那第二种情况有排查结果吗？

[2019-06-21 07:24] sneaxiy commented on #18230
@sitong188 您可以自行reshape来取值，目前pe取出来的结果确实是您描述那样的。

[2019-06-21 07:35] AIpioneer commented on #18231
resize op就是上采样 @dubhex

[2019-06-21 07:58] luotao1 commented on #18254
请问系统有多个python么？

[2019-06-21 08:02] ddayzzz commented on #18254
对。使用了anaconda 3, pycharm和终端都指定为同一个虚拟环境。

[2019-06-21 08:06] ChenShaomin commented on #15423
我遇到同样的问题，刚开始可以通过修改Python.exe权限和安装openblas版本的安装包解决。后来发现paddle默认需要mkl库，重新创建的环境里没有mkl，安装paddle的时候也没有自动安装mkl，手动执行pip install mkl后问题解决。

[2019-06-21 08:06] yeyupiaoling commented on #18097
也不是不变。就是测试程序的结果很低

[code]

[2019-06-21 08:34] luotao1 commented on #18254
如果是多个python的话，能否看下
[code]
mkldnn有没有链接到其他python环境下。

[2019-06-21 08:35] sneaxiy commented on #18252
这是框架目前的一个bug。您可以在定义`fluid.layers.data`中把shape写成[-1, 1, H, W]，其中H和W都是正数。exe.run时不会检查实际的数据的最后两维是不是与`fluid.layers.data`中的H、W相等。用此方法，您可以规避这个bug。

[2019-06-21 08:38] sneaxiy commented on #18244
能否给出完整的代码，以便我们复现？

[2019-06-21 09:22] yeyupiaoling commented on #18252
好的。

[2019-06-21 09:22] #18252 closed, assigned to sneaxiy

[2019-06-21 09:31] cuicheng01 commented on #18189
好的

[2019-06-21 10:40] mzchtx opened #18258 "提供带 TensorRT 的预编译预测库"
当前提供的预编译预测库中没有添加 TensorRT 的支持，期望能够提供。

[2019-06-21 10:48] mzchtx opened #18259 "landmark 中 resnet152 使用 TensorRT 预测有 diff"
## 环境
    1）PaddlePaddle版本：1.4.1
    2）CUDA 8.0 + cudnn v7 + TensorRT
    3）系统环境：CentOs 6u3
    4）c++ 预测

## 复现

模型：[landmark retrieval model](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/Research/landmark) 第二部分

[code]

使用带 TensorRT 的预测和不带 TensorRT 的预测有 diff，跑第三部分没问题

[2019-06-21 14:23] ddayzzz commented on #18254
系统中有两个 mkl库：
![深度截图_选择区域_20190621221502](https://user-images.githubusercontent.com/22568844/59929076-a5c75f00-9472-11e9-8b10-e564ec2d09ba.png)

是不是paddlepaddle编译所使用自行下载的MKL库与系统的 MKL 库冲突所致？
![深度截图_选择区域_20190621221958](https://user-images.githubusercontent.com/22568844/59929290-1c645c80-9473-11e9-8ccb-3f44b96dce4f.png)

[2019-06-21 16:25] chyj4747 commented on #18181
哦哦，多谢
不过麻烦文档里也注明一下，不然以后还是有初学者不知道缓存应该设多少

[2019-06-21 17:38] yiakwy commented on #11179
@jacquesqiao Hello 现在在fluid 1.5 版本里面怎么实现 “上采样” Upsampling 呢？ 文档里面找不到相关描述。

[2019-06-21 21:09] Superjomn commented on #18258
对外编译器版本不太一致，TensorRT 对编译器有一些要求。 这个后续版本我们会尝试添加。

[2019-06-22 04:05] yma-admin commented on #18171
开发中，会很快发布。敬请期待。

[2019-06-22 04:08] yangapku commented on #18171
赞～期待，请问是基于静态图还是dygraph的呢？更期望是后者

[2019-06-22 04:09] yma-admin commented on #18164
1.0之前版本问题比较多，建议更新未最新版本。谢谢！

[2019-06-22 05:10] kirayummy commented on #18171
可以参考一下Paddle Graph Learning (PGL) 框架，目前是处于preview版本，后续会支持更多的功能。
PGL充分利用了Paddle的LoD Tensor特性，相对于DGL保证了灵活性的同时保证了高效性。
GitHub：https://github.com/PaddlePaddle/PGL
文档：https://pgl.readthedocs.io/en/latest/

有问题多多指出，谢谢支持！

[2019-06-22 09:16] aprilvkuo opened #18268 "同时启动多个paddle训练脚本，不稳定出core"
paddle 版本： 1.4.1

core：
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-baidu-linux-gnu".
Type "show configuration" for configuration details.
For bug reporting instructions, please see:
<http://www.gnu.org/software/gdb/bugs/>.
Find the GDB manual and other documentation resources online at:
<http://www.

[2019-06-22 15:03] tensor-tang commented on #18268
请问您跑的是什么脚本，是cpu模型还是gpu模型？

[2019-06-22 15:08] tensor-tang commented on #18268
另外您跑的是什么模型，是出于什么考虑需要需要同时启动多个训练脚本呢。
如果是为了增加训练速度的话，可以直接使用多卡或者多线程，不需要同时开启多个训练脚本。

[2019-06-22 16:42] wopeizl commented on #15423
1.5fix这个问题

[2019-06-23 03:47] lgone2000 opened #18270 "fluid.global_scope().find_var 使用问题"
下面程序中，
print(list(fluid.default_main_program().list_vars()))
可以正确输出所有变量。
但 print('v=', fluid.global_scope().find_var('fc.w_0')) 返回为None
执行 exe.run(fluid.default_startup_program()) 后有可以正常输出变量。

难道var缺省不在global_scope中？如果要求必须执行startup_program, 希望能在文档中明确说明这些变量的状态，以及什么函数是在 startup_program执行后才是可用的。 否则让人混淆。
另外如果内部状态不完整情况下调用find_var ，建议扔一个异常，而不是返回None。

[code]

[2019-06-23 04:34] xiangyubo opened #18271 "attention-ocr模型加载保存参数问题"
标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    3）GPU：v100
    4）系统环境：Python 3.6
- 模型信息
    1）模型名称：attention-ocr
    2）使用数据集名称：自己准备的数据集
    3）使用算法名称
    4）模型链接：https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition

我自己稍微改了一下 attention 模型的写法，使用自己准备的一个小数据集。数据量大约 1w 出头。我训练的时候，从loss 和编辑距离，预估准确率上看都很正常。在训练的时候，我会使用save_persistables保存当前预估准确率最好的模型参数。
训练结

[2019-06-23 04:45] lgone2000 opened #18272 "topn op 没有优化时，没有正确反传梯度"
当分支条件为1时（使用topk），打印查找fc.w_0@GRAD 返回空，没有正确生成反向梯度
当分钟条件为0是（不适用topk），可以正常工作

[code]

[2019-06-23 05:15] aprilvkuo commented on #18268
1. CNN 分类模型
2. CPU上多线程
3. 线程数过多会影响效果

[2019-06-23 07:28] NHZlX commented on #18271
[code]
在一个空间中进行了两次网络的构造。因此会出现问题。

[2019-06-23 07:28] #18271 closed, assigned to NHZlX

[2019-06-23 10:02] XipengY opened #18276 "训练提示 TypeError: 'NoneType' object is not iterable"
确认数据没有问题，batch size也改为1尝试了，还是同样的错误。
Traceback (most recent call last):
  File "apps/anaconda-install/anaconda2/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "apps/anaconda-install/anaconda2/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "apps/anaconda-install/anaconda2/lib/python2.7/site-packages/paddle/flui

[2019-06-23 13:44] wangty163 opened #18278 "GRU参数load问题"
你好，我现在想用`fluid.layers.dynamic_gru`这个结构，但是发现一直和自己手算的结果不一致，所以想问一下当有gru结构中所用到的所有参数的值时，应该怎么设置gru的权重、参数矩阵？

* 模型、参数结构：
  * 3个时间步，每个时间步输入特征为1维
  * gru隐层节点数为2
* 下边是我手算的过程：
[code]

* 下边是我实现的fluid网络结构
[code]
* 这时候网络中的参数有：
[code]

想问一下u_w、u_b、r_w、r_b、c_w、c_b 与 fc_0.w_0、gru_0.w_0、gru_0.b_0的转换关系是什么？
如果我实现的fluid网络结构有问题的话，希望告知一下正确的网络结构的实现（fc和gru都有bias，我只采用了gru的bias，不知道有没有问题）以及上述几个变量的对应关系，谢谢！

[2019-06-23 14:35] XipengY commented on #18276
![image](https://user-images.githubusercontent.com/17317650/59977694-2919b980-9607-11e9-8177-c73f50f88a8f.png)
上图是数据输入的定义
![image](https://user-images.githubusercontent.com/17317650/59977700-38006c00-9607-11e9-8e06-876cc7aae95d.png)
这里是报错中对应的io.py的函数

[2019-06-23 16:27] JiaoZiLang opened #18279 "怎么实现从一个base64的图片输入给模型"
弄了一圈，发现将图片转成np.array 之后，找不到文档说明将单个转到 reader，然后传入到feeder。

[2019-06-23 23:50] zhou-wj opened #18281 "如何设置单卡训练"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）GPU：CUDA Capability: 61, Driver API Version: 10.1, Runtime API Version: 9.0； cuDNN Version: 7.0.
    3）系统环境：Ubuntu 16.04.6
    4）Python版本号：3.5.1

训练脚本对https://github.com/PaddlePaddle/LARK/blob/develop/ERNIE/script/run_lcqmc.sh略做改动：

#export FLAGS_sync_nccl_allreduce=1
export CUDA_VISIBLE_DEVICES=0
export NV_GPU=0
MODEL_PATH=/home/zhouwenjie/Paddle/ERNIE_

[2019-06-24 02:17] sneaxiy commented on #18276
能否给出你使用py_reader训练的那部分代码？

[2019-06-24 03:30] JiabinYang commented on #18281
您可以使用最新Develop分支代码编译出来的Paddle，或者下载我们为您编译的最新开发分支whl，http://paddlepaddle.org/documentation/docs/zh/1.4/beginners_guide/install/Tables.html，或者敬请期待1.5版本发布，我们将在新的版本中修复这个问题，又或者您可以使用Executor而不使用CompiledProgram和Parallel Executor

[2019-06-24 03:34] guoshengCS commented on #18278
可以参考这个gru的python单测，https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_gru_unit_op.py#L85
<img width="749" alt="image" src="https://user-images.githubusercontent.com/14105589/59989965-ecd07280-9673-11e9-9519-68367e92eb86.png">

[2019-06-24 03:47] luotao1 commented on #18254
- 从你的ldd截图来看，是指向了`/usr/local/lib`下mkl和mkldnn库了，不是paddle自带的库。两者有冲突的。
- 你能把`/usr/local/lib`从`LD_LIBRARY_PATH`中移走么？或者去掉`/usr/local/lib`里的mkl和mkldnn库，再尝试一下。

[2019-06-24 05:06] 1286667673 opened #18286 "训练中 fetch_list报错" should be Variable or str""
如题

[2019-06-24 05:36] tensor-tang commented on #18268
Do you need "set solib-search-path" or "set sysroot"?
[Thread debugging using libthread_db enabled]

看error 是不能load，麻烦先确认下这个文件是否存在。

可以考虑用 http://paddlepaddle.org/documentation/docs/zh/1.4/api_cn/fluid_cn.html#parallelexecutor
可以自定义多线程的数目，不需要开多个实例同时跑。

另外：
不稳定的评率是怎么样的？
您的线程分布是怎样的。有没有绑核。
可以手动绑下核试下呢，`export KMP_AFFINITY="granularity=fine,compact,1,0"`

[2019-06-24 07:21] JiabinYang commented on #18286
请问您的`fetch_list`是怎么设置的呢，能否po一下代码

[2019-06-24 07:23] wangty163 commented on #18278
[code]
看了下主要是上边两个地方的`flatten`的逻辑，已经可以了~谢谢！！！

[2019-06-24 07:24] #18278 closed, assigned to guoshengCS

[2019-06-24 07:34] #16083 closed, assigned to JiabinYang

[2019-06-24 07:36] #16215 closed, assigned to JiabinYang

[2019-06-24 07:36] #17485 closed, assigned to JiabinYang

[2019-06-24 07:38] #17508 closed, assigned to JiabinYang, sneaxiy

[2019-06-24 07:38] #17597 closed, assigned to frankwhzhang, JiabinYang

[2019-06-24 07:39] 1286667673 commented on #18286
import random
import cv2
import os
import math
import paddle
import numpy as np
import paddle.fluid as fluid
class FCNN:
    def __init__(self,dataset):
        self.dataset = dataset
        self.LEARNING_RATE = 1e-4

    def data_pre_train(self,kind,dataset):

        img_path = './data/data8297/formatted_trainval_gray_resize1/shanghaitech_part_' + dataset + '_patches_9/' + kind + '/'
        pr

[2019-06-24 07:40] JiabinYang commented on #17502
你可以提供一下具体的代码么

[2019-06-24 07:40] #15297 closed, assigned to JiabinYang, wopeizl

[2019-06-24 07:42] #15845 closed, assigned to JiabinYang

[2019-06-24 08:13] 1286667673 commented on #18286
您好，代码已上传，真的不知道哪里有问题，麻烦您了

[2019-06-24 08:25] TianTian-O1 opened #18291 "ERNIE做dbqa问答时，如何查看测试输出的文本预测结果"
目前测试的展示效果是可以看见损失函数等数据，如果想查看实际输出的文本数据该怎么操作？

[2019-06-24 08:49] seiriosPlus commented on #18201
可以用这种类似的方法：
[code]

如果没有定义过main_program， 可以使用 ```fluid.default_main_program()```.

[2019-06-24 09:18] Lizhengo commented on #18250
已解决，paddle升级到1.3.1以上就可以了，因为BERT用了scale op，1.3.0刚好会触发这个错误,1.3.1之后修复了

[2019-06-24 09:18] #18250 closed, assigned to Superjomn

[2019-06-24 09:46] JiabinYang commented on #18185
clip目前的确不支持`int64`，但是从您的报错来看应该是cast的时候没有数据输入，您可以检查一下，cast op输入是否有数据

[2019-06-24 09:51] bluemandora commented on #18185
@JiabinYang 这段代码如果不加optimizer，只是正向传播就不会报错。
完整的代码就在上面，cast的输入是x，feed={"x": x_true, "y": y_true}，这样应该是有数据的吧

[2019-06-24 10:24] NHZlX commented on #18259
您好， 我这边先复现一下。

[2019-06-24 10:45] NHZlX commented on #18270
您好 你是要打印模型参数还是模型输出呢

[2019-06-24 12:32] tianxin1860 commented on #18291
实际输出的文本数据是指经过 ERNIE 编码后的每个token 的 embedding ?

[2019-06-24 12:38] TianTian-O1 commented on #18291
就像示例一样，预测哈尔滨，冰雪一样，这几个输出结果是怎么一个转化过程呢

---原始邮件---
发件人: "tianxin"<notifications@github.com>
发送时间: 2019年6月24日(星期一) 晚上8:33
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "Author"<author@noreply.github.com>;"TianZhenGG"<410771376@qq.com>;
主题: Re: [PaddlePaddle/Paddle] ERNIE做dbqa问答时，如何查看测试输出的文本预测结果 (#18291)

实际输出的文本数据是指经过 ERNIE 编码后的每个token 的 embedding ?

—
You are receiving this because you a

[2019-06-24 12:38] walloollaw opened #18298 "py_reader中异常会导致进程夯住无法退出"
问题描述：
  当py_reader中的用户reader抛出异常后， 程序会被夯住，最终导致进程无法退出，具体复现代码见下面的 `_my_reader`中的  `raise ValueError()`

版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==1.3.1
    3）GPU：K40 cuda9.0 cudnn7
    4）系统环境：python2.7

测试代码如下：
[code]

错误信息如下(进程处于夯住状态)：
[code]

[2019-06-24 12:40] yangninghua opened #18300 "您好，关于paddlepaddle自定义数据载入的方式，应该怎么加速呢"
![image](https://user-images.githubusercontent.com/32252319/60019339-36df4580-96c0-11e9-9cc4-c503ed51388d.png)

[code]

[2019-06-24 12:43] yangninghua commented on #18300
您好这是我以官方例子进行的改进，
txt中时这样定义的：
我想实现，通过自己定义的txt去读取数据，我上面的步骤已经可以训练了，但是速度特别慢，
paddle的同学能否给个建议，我刚刚接触，我尝试了网络寻找博客和文档，但是博客写的很老了，不是最新的fluid形式
[code]

[2019-06-24 12:54] #17669 closed, assigned to nobody

[2019-06-24 13:06] JiabinYang commented on #18298
这个问题已经在1.4的版本中修复了，请使用最新版本PaddlePaddle

[2019-06-24 13:11] JiabinYang commented on #18300
您可以参考官网的这个文档使用`py_reader`加速数据读取http://paddlepaddle.org/documentation/docs/zh/1.4/user_guides/howto/prepare_data/use_py_reader.html

[2019-06-24 13:28] JiabinYang commented on #18286
报错信息能贴一下么

[2019-06-24 13:29] #17498 closed, assigned to JiabinYang

[2019-06-24 13:29] #16767 closed, assigned to xuezhong, JiabinYang

[2019-06-24 13:36] 1286667673 commented on #18286
### **133** EPOCH = 100
      134 fcnn = FCNN('A')
--> 135 fcnn.train(EPOCH)
<ipython-input-4-16964da69b83> in train(self, max_epoch)
     92                 **_,loss,y_pre, act_sum, pre_sum,MAE = exe.run(program=fluid.default_main_program(),
     93                                     feed={'image':x_in,'y_act':y_ground},
---> 94                                     fetch_list=[train_step,loss,y_p

[2019-06-24 13:52] JiabinYang commented on #18286
这个是报错的信息么。。。看起来像是调试的信息，您能把您执行时报错的信息贴一下么，我看下，谢谢

[2019-06-24 13:59] 1286667673 commented on #18286
(most recent call last)<ipython-input-5-49e3c1c1be40> in <module>
    133 EPOCH = 100
    134 fcnn = CNN("CNN",'A')
--> 135 fcnn.train(EPOCH)
<ipython-input-4-16964da69b83> in train(self, max_epoch)
     92                 _,loss,y_pre, act_sum, pre_sum,MAE = exe.run(program=fluid.default_main_program(),
     93                                     feed={'image':x_in,'y_act':y_ground},
---> 94

[2019-06-24 14:15] JiabinYang commented on #18286
`optimizer.minimize`的返回值会是优化器的op和参数的梯度，您这里fetch的`train_step`获取的是op，所以在fetch的时候报错了，fetch只能fetch var，https://github.com/PaddlePaddle/Paddle/blob/6ed73830c251ad54de71dd2db69bb82391b5bd17/python/paddle/fluid/optimizer.py#L565

[2019-06-25 01:20] 1286667673 opened #18307 "EnforceNotMet: Invoke operator conv2d error."
代码及报错信息如下：
import random
import cv2
import os
import math
import paddle
import numpy as np
import paddle.fluid as fluid

class FCNN:
    def __init__(self,dataset):
        self.dataset = dataset
        self.LEARNING_RATE = 1e-4
    def data_pre_train(self,kind,dataset):
        img_path = './data/data8297/formatted_trainval_gray_resize1/shanghaitech_part_' + dataset + '_patches_9/' + kind + '/'

[2019-06-25 02:51] #18300 closed, assigned to sneaxiy

[2019-06-25 03:19] NHZlX commented on #18270
执行 exe.run(fluid.default_startup_program()) 过程是在加载参数的过程。有必要加入到文档中去。这边会反馈到相关人员。

=======

https://gist.github.com/NHZlX/4116e09952ab54e66dadec094e9769e2 参照这个脚本， python get_var_fluid.py  {your_model_dir} {the_tmp_var_name}  ，该脚本默认输入全为1， 并将对应的中间变量写入到文件中。

[2019-06-25 04:23] XipengY commented on #18276
问题解决，修改了reader后，有错误。调试方法是将 multi-processing改为False，单进程读数据，定位reader错误的位置。

[2019-06-25 04:27] XipengY opened #18315 "slice bug"
1. self.new_proposals = fluid.layers.slice(self.proposals, axes=[1], starts=[2], ends=[6])
2. self.new_proposals = fluid.layers.slice(self.proposals, axes=[0, 1], starts=[0, 2], ends=[INT_MAX, 6])
写法1，返回的lod_level=2, 写法2，返回的lod_level=1, 写法2改变了lod_level.

[2019-06-25 06:04] #18276 closed, assigned to NHZlX

[2019-06-25 06:50] XipengY opened #18317 "训练中选择index出错"
yolov3模型 和 generate_proposal_labels的op
平台：centros6.3
paddle版本号：1.4.1
GPU：K40
python2.7
- 训练信息
    1）单机/多机

paddle.fluid.core.EnforceNotMet: Invoke operator generate_proposal_labels error.
Python Callstacks:
  File "/apps/anaconda-install/anaconda2/lib/python2.7/site-packages/paddle/fluid/framework.py", line 1654, in append_op
    attrs=kwargs.get("attrs", None))
  File "/apps/anaconda-install/anac

[2019-06-25 07:03] jerrywgz commented on #18317
这个报错是由于某张图片产生的proposals个数为0，1.4.1版本的generateproposal labels还不支持输入个数为0的情况，目前最新版本已经修复，可以使用develop版本或者1.5版本

[2019-06-25 07:10] XipengY commented on #18317
好的，谢谢

[2019-06-25 07:31] NHZlX commented on #18279
您好，我理解你的需求是不是这样：当训练好了一个模型，我想加载训练后的模型并用一个简单的图片测试一下？

如果是这个需求的话请看下方：

[code]

[code]

[2019-06-25 07:43] dreamonezero commented on #17728
是label_list的问题，background需要是0，要和detection_output中background_label=0一致

[2019-06-25 07:43] #17728 closed, assigned to fc500110

[2019-06-25 08:00] vincentXiyu opened #18319 "Paddle/paddle/fluid/train/demo编译出错：'paddle/fluid/framework/data_feed.pb.h' file not found"
- 版本、环境信息：
    1）PaddlePaddle版本：develop
    2）CPU：Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
    3）GPU：无
    4）系统环境：Mac OS 10.14、Python2.7

- 安装方式信息：
2）本地编译：
PADDLE_LIB=/paddle/lib/dir（自己指定了另外一个本地路径）
cmake .. -DFLUID_INSTALL_DIR=$PADDLE_LIB \
         -DCMAKE_BUILD_TYPE=Release \
         -DWITH_GPU=OFF \
         -DWITH_STYLE_CHECK=OFF \
         -DWITH_MKL=OFF \
         -DWITH_MKLDNN=OFF      

-

[2019-06-25 08:07] OleNet opened #18320 "pyreader加一个traceback.print_exc()可好？"
python/lib/python2.7/site-packages/paddle/fluid/layers/io.py", line [592](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/io.py#L592), in __provider_thread__
raise ex
ValueError: too many values to unpack

raise ex前加一个traceback.print_exc()可好？
否则报错的信息都是没有任何意义的信息，完全无助于任何的debug

[2019-06-25 08:15] zhou-wj commented on #18281
谢谢，我明白了
从源码看ERNIE似乎没有支持单卡模式，源码中使用了Parallel Executor

[2019-06-25 08:16] #18281 closed, assigned to JiabinYang

[2019-06-25 08:23] irukawang opened #18321 "embedding_layer问题"
paddle 版本1.3，
系统：centos
平台：gpu
模型描述：多任务学习，任务间共享一个embedding矩阵，然后任务的损失联合优化（目前仅仅简单的加和）
[code]

[2019-06-25 08:28] wzzju commented on #18321
请您按照issue的格式将问题描述清楚，使用的什么模型，基于什么平台，使用的paddle版本号等等，谢谢配合。

[2019-06-25 09:25] 1286667673 opened #18325 "Enforce failed. Expected x_dims[i + axis] == y_dims[i], but received x_dims[i + axis]:1 != y_dims[i]:12."
您好，我这代码出了问题，是数据哪里不合适吗？代码及错误如下：

import random
import cv2
import os
import math
import paddle
import numpy as np
import paddle.fluid as fluid

class FCNN:
    def __init__(self,dataset):
        self.dataset = dataset
        self.LEARNING_RATE = 1e-4
        # 对图片进行预处理
    def load_image(self,path):
        img = cv2.imread(path)
        # 转灰度
        img = cv2.cvtColor(img, cv2.COLOR_RGB2GRAY)

[2019-06-25 09:27] irukawang commented on #18321
求看

[2019-06-25 11:10] NHZlX commented on #18272
topk 之前设计放在while op中用来预测的，因此没有反向op。 看你的例子是想用topk选出最大的几个loss，然后进行训练。我问一下相关同学有没有其他的实现方式。

[2019-06-25 12:25] tianxin1860 commented on #18291
_“哈尔滨”_ 在预测阶段对应的是  _“MASK MASK MASK”_, 每个 _MASK_ 都有各自对应的 embedding， 这个 embedding 后接 FC 和 softmax 预测该 _MASK_ 对应真实单词的概率分布，然后从概率分布中取概率最大的 Token 作为预测值输出。

[2019-06-25 12:28] TianTian-O1 commented on #18291
ok  谢啦。

---原始邮件---
发件人: "tianxin"<notifications@github.com>
发送时间: 2019年6月25日(星期二) 晚上8:26
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "Author"<author@noreply.github.com>;"TianZhenGG"<410771376@qq.com>;
主题: Re: [PaddlePaddle/Paddle] ERNIE做dbqa问答时，如何查看测试输出的文本预测结果 (#18291)

“哈尔滨” 在预测阶段对应的是  “MASK MASK MASK”, 每个 MASK 都有各自对应的 embedding， 这个 embedding 后接 FC 和 softmax 预测该 MASK 对应真实单词的概率分布，然

[2019-06-25 13:18] lgone2000 commented on #18272
有可能某些op 不能反传梯度， 是不是都明确标记出来。 我觉得这种op不会很多。我建议是把所有不能反传的op都查出来，对比tenorflow，看对应op tf里是否可以计算梯度，如果可以建议也加上
另外如果某个网络中间有一些不能反传的op，是不是打个警告啥的？

[2019-06-25 13:20] lgone2000 commented on #18272
也许有其他方式可以绕过这个问题， 但如果这个问题是 paddle基础op的一些能力缺失，我建议还是当做一个issue来解决掉。

[2019-06-25 13:21] wzzju commented on #18315
请问可以给出详细具体的例子吗？

[2019-06-25 14:30] wzzju commented on #18321
不知道您是如何使用embedding op的，从log上来看embedding op的下一个op回传时的梯度维度有问题。您可以检查一下您的组网。

[2019-06-26 02:15] #16467 closed, assigned to kbinias

[2019-06-26 02:18] bingyanghuang commented on #17364
PR #17819 has been merged and PR #18322 id under review.

[2019-06-26 02:18] #17364 closed, assigned to bingyanghuang

[2019-06-26 03:08] #18291 closed, assigned to kuke

[2019-06-26 03:16] #18286 closed, assigned to JiabinYang

[2019-06-26 03:43] kangzhangqi opened #18337 "c++多线程预测给压力之后，输入越界，出core，报warning。"
- 标题：c++多线程预测给压力之后，输入越界，出core，报warning。
和输入内容无关，只有给压力测试之后会出core。
- 版本、环境信息：
    1）PaddlePaddle版本：编译版本，paddle_prebuilt_cpu-1-0-0-2_PD_BL
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
           Intel Xeon E312xx (Sandy Bridge)
           使用库文件：libmkldnn.so.0、libpaddle_fluid.so、libmklml_intel.so、libiomp5.so
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
          无
    4）系统环境：请您描述系统类型、版本（如Mac OS

[2019-06-26 03:50] TheodoreG opened #18338 "编译错误"
[code]
如何解决
环境：paddlepaddle/paddle:latest-gpu-cuda9.0-cudnn7-dev
paddle版本：1.4.1
cmake指令：cmake .. -DPY_VERSION=2.7  -DWITH_FLUID_ONLY=ON -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release

[2019-06-26 04:13] NHZlX commented on #18337
预测代码贴一下吧

[2019-06-26 04:59] jerrywgz commented on #18338
-DWITH_FLUID_ONLY=ON 这个选项关掉试下呢

[2019-06-26 05:19] jerrywgz commented on #18325
看报错信息是square_error_cost输入的两个variable得到shape不匹配导致的，可以fluid.layers.Print(xxx)查看输入纬度是否符合预期

[2019-06-26 05:54] 1286667673 commented on #18325
好的，谢谢您，我看一下

[2019-06-26 05:57] yangninghua opened #18342 "您好，运行cpp的例子有点问题"
1.3.0-gpu-cuda9-cudnn7-avx-mkl
[code]
![image](https://user-images.githubusercontent.com/32252319/60154526-2ba02d00-981a-11e9-9ac0-59b7ca35f430.png)

[code]

[2019-06-26 06:49] wzzju commented on #18307
您好！从这句“Enforce failed. Expected input_data_type == filter_data_type, but received input_data_type:6 != filter_data_type:5.”可以看出，conv2d op的输入数据是float64类型，但是filter数据类型为float32类型，您可以查看您的图像输入数据是否是float64类型的，应该将其转为float32类型。

[2019-06-26 07:52] JiabinYang commented on #18338
cmake正常执行了么，能否吧完整的log发一下呢

[2019-06-26 07:59] 1286667673 opened #18344 "卷积后尺寸问题"
您好：我现在有个问题想请教您
我的输入图像尺寸为：(1, 1, 432, 768)
标签尺寸为：(1, 1, 108, 192)
输入图像经过以下网络计算，计算后的输入图像的尺寸和标签尺寸应不应该一样呢？经过两次池化我感觉是除以4了？为什么老报错elementwise_sub error.
def conv2d_neural_network(self,img):
        # 第一个卷积-池化层
        S_conv_1 = fluid.layers.conv2d(input=img,filter_size=5,num_filters=24,act="relu")
        S_conv_pool_1 = fluid.layers.pool2d(input=S_conv_1, pool_size=2, pool_stride=2)
         # 第二个卷积-池化

[2019-06-26 08:00] Superjomn commented on #18342
@luotao1 这个帮看下吧

[2019-06-26 08:09] jerrywgz commented on #18344
elementwise_sub error应该是在计算loss的时候报的错，可以在loss前把输入通过fluid.layers.Print 打印出来看下shape。http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/layers_cn.html#print

[2019-06-26 08:10] TheodoreG commented on #18338
[code]

[2019-06-26 08:25] qingwuzhu opened #18345 "程序在GPU上运行报“段错误”，CPU上运行没问题"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：cuda9.0_cudnn7_avx_mkl（1.4）
    3）GPU：NVIDIA-SMI 410.93  CUDA Version: 10.0  CUDNN:7
    4）系统环境：CentOS Linux release 7.6.1810
    1）C++预测：version.txt内容
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
CUDA version: 9.0
CUD

[2019-06-26 08:27] luotao1 commented on #18342
请问你的demo_ci目录是最新的么？INT32数据类型在1.4版本支持了。

[2019-06-26 08:29] ghost commented on #16916
Close without merge. Risk in solution.

[2019-06-26 08:29] #16916 closed, assigned to luotao1

[2019-06-26 08:30] yangninghua commented on #18342
您好，我是下载最新的master，从中取出来的，请问有没有什么建议，我去按照流程的做

[2019-06-26 08:33] yangninghua commented on #18342
我明白了，我使用了1.3的库，但是确实1.4的例子，我去换成1.3的例子

[2019-06-26 08:41] sneaxiy commented on #18320
感谢您的建议，我们会考虑在后续版本中添加更完善的错误提示。

[2019-06-26 09:20] JiabinYang commented on #18338
cmake没有正常执行，请参考文档：http://paddlepaddle.org/documentation/docs/zh/1.4/beginners_guide/install/compile/compile_Ubuntu.html#permalink-5--docker-

[2019-06-26 09:28] DDDivano opened #18348 "Mac安装报错，ModuleNotFoundError: No module named 'paddle.fluid.core_noavx'"
涉及python27 python36 python37
经排查是cpuinfo包返回值不稳定，导致没有走avx分支，noavx没有编译报错。
复现代码
![image](https://user-images.githubusercontent.com/10734244/60168821-1a661900-9838-11e9-9c2a-dd90dd763d80.png)

![image](https://user-images.githubusercontent.com/10734244/60168322-3917e000-9837-11e9-858a-ff111ed43217.png)
![image](https://user-images.githubusercontent.com/10734244/60168358-42a14800-9837-11e9-8651-113707e

[2019-06-26 09:44] 1286667673 opened #18351 "Invoke operator elementwise_sub error."
大神好，我这里报的问题还是elementwise_sub error.之前尺寸不一样，我加了padding，我看着我通过网络计算出来的维度尺寸和标签的维度尺寸是一样的，我的图片维度是（1,1,307,409），经过网络计算后的维度是（1,1,76,102），然后标签的维度也是（1,1,76,102），为什么loss还是不能计算呢？或者说我的维度看的有问题？帮我看一下，代码及输出信息如下：
import random
import cv2
import os
import math
import paddle
import numpy as np
import paddle.fluid as fluid

class FCNN:
    def __init__(self,dataset):
        self.dataset = dataset
        self.LEARNI

[2019-06-26 10:04] Genie-Liu opened #18352 "create_parameter can't accept dtype=np.float32"
I'm trying to create tensor myself and find that fluid.layers.create_tensor can accept np.float32 as dtype parameter but fluid.layers.create_parameter can't. Shouldn't they both accept np.float32 or both not.

![pic(3)](https://user-images.githubusercontent.com/34557281/60170796-cf4e0500-983b-11e9-8c9f-0eb79d325260.jpg)

AttributeError: type object 'numpy.float32' has no attribute 'startswith'

Th

[2019-06-26 10:44] jerrywgz commented on #18351
看log是计算loss的时候输入类型有问题，有double类型出现

[2019-06-27 00:36] Genie-Liu opened #18358 "How can I get access to gradient of a tensor?"
I'm tring to convert this pytorch tutorial example to paddle. I think it's good for people understand the weekness of neural network.
[Adversarial Example Generation](https://pytorch.org/tutorials/beginner/fgsm_tutorial.html)

In pytroch, we can get gradient of tensor by accessing it's attribute. I'm not sure where tensor in paddle stores it's gradient and how can I get it.

[2019-06-27 02:04] jerrywgz commented on #18352
感谢您的反馈，目前确实存在这个问题，我们会尽快商讨解决方案

[2019-06-27 02:09] NHZlX commented on #18345
[code]
cuda以及cudnn版本应该要一致的。

[2019-06-27 02:17] #18174 closed, assigned to nobody

[2019-06-27 02:30] 707503331 opened #18359 "增量训练，前一次训练能力丢失的问题。"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    3）GPU：百度1小时的GPU算力卡
    4）系统环境：Python3.5

- 模型信息
1）模型名称 Mobilenet V1
2）自定义数据集
3）使用算法名称
4）模型链接
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：先训练数据集A，再增量训练数据集B，2个数据集没有交接；
A训练完毕，做一次预测，打印出来的是是本次定义的标签；
B训练完毕，用与A同样的预测数据，做一次训练，打印出来的都是B数据集的标签定义；
结论：A数据集训练的“标签”都丢失了，貌似被覆盖了。

以下是我的训练程序(摘自夜雨飘零的博客，改造了部分代码)：
# -*- coding: utf-8 -*-
import os
import shutil
import mobilenet_v1
import pa

[2019-06-27 02:42] #17870 closed, assigned to nobody

[2019-06-27 02:50] lexy0093 opened #18360 "分布式训练时出现Segmentation fault"
- 版本、环境信息：
    1）PaddlePaddle版本：fluid 1.3.0
- 训练信息
    1）多机
 日志如下：
![image](https://user-images.githubusercontent.com/10195109/60230674-4a113180-98c9-11e9-81e2-de9ba826af4e.png)

[2019-06-27 02:52] vincentXiyu commented on #18319
其实我在docker上安装也会出现一样的问题

Docker编译
cmake .. -DFLUID_INSTALL_DIR=$PADDLE_LIB
-DWITH_GPU=ON
-DWITH_TESTING=ON

其他按照README去复现就行。会出一样的问题。希望能帮忙看一下，谢谢啦~~

[2019-06-27 02:59] frankwhzhang commented on #18359
"标签"是什么意思 有没有完整的格式化的代码

[2019-06-27 03:03] 707503331 commented on #18359
我能直接发邮件附件给你吗？我可以把代码文件发给你

------------------ 原始邮件 ------------------
发件人: "zhang wenhui"<notifications@github.com>;
发送时间: 2019年6月27日(星期四) 中午11:00
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "Kevin Bu"<707503331@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 增量训练，前一次训练能力丢失的问题。 (#18359)

"标签"是什么意思 有没有完整的格式化的代码

—
You are receiving this because you authored

[2019-06-27 03:06] 707503331 commented on #18359
标签 就是 trian_list .txt 中的 label值，例如 下面的394：
tt/058477632c562e95ef0e9c035d4c950e.jpg	394
tt/1589d2ddd194fa5396b7ed29a190d476.jpg	394
tt/258feabe7981e091ed158316a7e51dbd.jpg	394

[2019-06-27 03:06] AWSWXY opened #18361 "参数reset"
怎么隔离训练和测试的参数，对测试参数进行reset

[2019-06-27 03:18] frankwhzhang commented on #18360
请添加一下链接 和详细的问题描述

[2019-06-27 03:22] 707503331 commented on #18359
# -*- coding: utf-8 -*-
import os
import shutil
import mobilenet_v1
import paddle as paddle
import reader
import paddle.fluid as fluid

crop_size = 224
resize_size = 250
#checkpoint = 'MobileNet/119'
checkpoint = None
#训练总数
trainNumber = 100
#最后一次训练id
lastTrainNo = trainNumber - 1
classDim = 4000

f = open("log.txt", "w")

# 定义输入层
image = fluid.layers.data(name='image', shape=[3, crop_size, crop_s

[2019-06-27 03:22] frankwhzhang commented on #18361
http://www.paddlepaddle.org/documentation/docs/zh/1.4/api_cn/fluid_cn.html#program
program.clone()方法 链接中有一下样例说明

[2019-06-27 03:27] 707503331 commented on #18359
# -*- coding: utf-8 -*-
import os
import shutil
import mobilenet_v1
import paddle as paddle
import reader
import paddle.fluid as fluid

crop_size = 224
resize_size = 250
checkpoint = 'MobileNet/119'
#checkpoint = None
#训练总数
trainNumber = 100
#最后一次训练id
lastTrainNo = trainNumber - 1
classDim = 4000
f = open("log.txt", "w")
# 定义输入层
image = fluid.layers.data(name='image', shape=[3, crop_size, crop_siz

[2019-06-27 03:29] 707503331 commented on #18359
# -*- coding: utf-8 -*-
import os
import shutil
import mobilenet_v1
import paddle as paddle
import reader
import paddle.fluid as fluid

crop_size = 224
resize_size = 250
checkpoint = 'MobileNet/119'
#checkpoint = None
#训练总数
trainNumber = 100
#最后一次训练id
lastTrainNo = trainNumber - 1
classDim = 4000
f = open("log.txt", "w")
#定义输入层
image = fluid.layers.data(name='image', shape=[3, crop_size, crop_size

[2019-06-27 03:30] 707503331 commented on #18359
代码帖到这里面 格式化就被打乱了。

[2019-06-27 03:34] yangninghua commented on #18342
@luotao1
[code]
您好我出现了这种问题
我的环境是
[code]
[code]
[code]

[2019-06-27 03:37] yangninghua commented on #18342
[code]

[2019-06-27 03:45] 707503331 commented on #18359
[train2filelog .txt](https://github.com/PaddlePaddle/Paddle/files/3332831/train2filelog.txt)

[2019-06-27 03:46] OliverLPH opened #18363 "deeplab模型cpu预测，报错：dilation in convolution is not implemented yet"
- 标题：deeplab模型cpu预测，报错：dilation in convolution is not implemented yet
- 版本、环境信息：
    1）PaddlePaddle版本：1.5 或CommitID：401c03fc20478f5cc067440422fc3a7b306d0e32
    2）CPU：Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
    4）系统环境：centos 6.1，Python版本 2.7
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
[code]
    2）CMake包含路径的完整命令
[code]
    3）API信息（如调用请提供）
    4）预测库来源：官网下载/特殊环境（如BCLOUD编译）
- 复现信息：如为报错，请给出复

[2019-06-27 03:50] 707503331 commented on #18359
[train2filelog1.txt](https://github.com/PaddlePaddle/Paddle/files/3332849/train2filelog1.txt)

[2019-06-27 03:51] 707503331 commented on #18359
程序源文件已上传，请看上个留言 txt 内容

[2019-06-27 03:56] luotao1 commented on #18342
请问你使用的预测库是自行编译，还是从官网下载呢？http://paddlepaddle.org/documentation/docs/zh/1.4/advanced_usage/deploy/inference/build_and_install_lib_cn.html
可以先使用官网提供的1.4版本的cuda9.0_cudnn7_avx_mkl版本。

[2019-06-27 03:59] luotao1 commented on #18363
从代码截图看，conv_mkldnn_op没有实现这个功能。可以去掉`config.enable_mkldnn()`这行。

[2019-06-27 04:00] yangninghua commented on #18342
您好，我使用官网下载的1.3.0-gpu-cuda9-cudnn7-avx-mkl，不是自己编译的，

测试代码也是下载官网的1.3.0版本的代码，从中提出来的
https://github.com/PaddlePaddle/Paddle/tree/v1.3.0

[2019-06-27 04:02] luotao1 commented on #18342
是从http://www.paddlepaddle.org/documentation/docs/zh/1.3/advanced_usage/deploy/inference/build_and_install_lib_cn.html 下载的么？

[2019-06-27 04:06] yangninghua commented on #18342
我复制了链接地址，好像和你的不太一样，那我去下载试试
https://paddle-inference-lib.bj.bcebos.com/1.3.0-gpu-cuda9-cudnn7-avx-mkl/fluid_inference.tgz

[2019-06-27 04:09] yangninghua commented on #18342
这次我去下载这两个试试：
https://codeload.github.com/PaddlePaddle/Paddle/zip/release/1.4

https://paddle-inference-lib.bj.bcebos.com/1.4.0-gpu-cuda9-cudnn7-avx-mkl/fluid_inference.tgz

[2019-06-27 04:14] luotao1 commented on #18342
你的下载地址是对的。
[code]
你是在什么镜像里跑的呢？我们发的版本是用GCC4.8编译出来的。

[2019-06-27 04:14] lexy0093 commented on #18360
paddle cloud jobid:    job-0bb5d136203a9961
日志链接：http://10.73.173.44:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20190626201719-8090--mcdnn-fluid-test_paddlecloud

[2019-06-27 04:55] yangninghua commented on #18342
Ubuntu16.0

Ubuntu16.04默认的gcc和g++，这个是不是不可以

[2019-06-27 04:56] OliverLPH commented on #18363
噢噢，确实是mkldnn的问题，多谢

[2019-06-27 04:56] #18363 closed, assigned to nobody

[2019-06-27 04:56] yangninghua commented on #18342
我换了1.4.0的代码和库，好像不可以，是不是要换成gcc4.8
[code]

[2019-06-27 04:59] yangninghua commented on #18342
那我去用自己的gcc和g++版本编译一下

[2019-06-27 04:59] Superjomn commented on #18342
这个是链接的 protobuf 跟 paddle 编译出来的 protobuf 混了。 就是用了系统里的 protobuf。

编译的时候可以重新设置下 LD_LIBRARY_PATH，把编译目录下的  third_party/install/protobuf/lib 加到最前面
具体目录可以核对下。

[2019-06-27 05:00] Superjomn commented on #18342
如果能用 docker，环境应该更容易些

[2019-06-27 05:08] frankwhzhang commented on #18359
训练能力丢失是什么意思？

[2019-06-27 05:47] 707503331 commented on #18359
就是无法识别第一次训练过的图片了。
例如：
我第一次训练 A数据集(内含有2种猫的数据， label 分别为1,2)， tain_list.txt 的数据样例是：
图片1.jpg  1
图片2.jpg  1
.................
图片99.jpg  2
图片100.jpg  2
图片101.jpg  2

我第二次训练 B数据集(内含有2种猫的数据， label 分别为3,4)， tain_list.txt 的数据样例是：
图片1.jpg  3
图片2.jpg  3
.................
图片99.jpg  4
图片100.jpg  4
...................

按上面的数据集训练2次，
第一次训练A数据集，并在最后一轮训练结束时 调用 save_persistent() 保存下模型参数，以便后续增量训练加载;
第一轮结束后，执行预测，能正确的给

[2019-06-27 05:57] frankwhzhang commented on #18358
1. fluid.default_main_program().global_block().vars 这个取出所有的变量名 可以找到想要的梯度名称
2. fetch_list = ["fc_0.b_0@GRAD"] 把梯度名称放到fetch_List中 就可以取出来

[2019-06-27 06:31] wawltor opened #18367 "分布式MPI集群训练，使用multiprocess_reader出错"
具体日志地址:http://10.104.150.48:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190627134148-8206/

使用multiprocess_reader会出现如下问题：

Traceback (most recent call last):
  File "/home/disk1/normandy/maybach/app-user-20190627134148-8206/workspace/python27-gcc482/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/home/disk1/normandy/maybach/app-user-201906271

[2019-06-27 08:15] skylyj opened #18368 "翻译模型如何基于前缀树来定向解码"
请问翻译模型如果基于前缀树来定向解码，也就是每次decode的时候基于一个前缀树只对有限的词集合做softmax，

[2019-06-27 08:20] yangninghua commented on #18342
我去尝试docker，自己弄有点费劲

[2019-06-27 08:28] frankwhzhang commented on #18367
厂内mpi 不支持share memory通信 改为use_pipe=True

[2019-06-27 08:30] frankwhzhang commented on #18359
我没太明白问题 第二次训练b数据集 不是会更新第一次训练的结果吗 所以模型参数倾向于学习3和4 是不是正常现象

[2019-06-27 09:11] intgogo opened #18369 "centos compile failed--snappy"
cmake 输出：
[code]

make 输出：
[code]

[2019-06-27 09:38] 707503331 commented on #18359
我期望的增量训练结果是这样的：
假设我要训练一个能识别各种动物的模型，但我没办法呢一次收集全所有的动图图片，因此我计划分批次训练；
假设第一天训练猫这种动物，第二天训练狗这种动物，第三天训练大象这种动物。。。。
后一天的训练总不能覆盖第一天的训练结果吧？

------------------ 原始邮件 ------------------
发件人: "zhang wenhui"<notifications@github.com>;
发送时间: 2019年6月27日(星期四) 下午4:31
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "Kevin Bu"<707503331@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddl

[2019-06-27 10:11] 707503331 opened #18373 "训练是报错 Expected lbl < class_num, but received lbl:389"
训练的时候报错：
Traceback (most recent call last):
  File "pretrain_model.py", line 147, in <module>
    fetch_list=[avg_cost, acc])
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/executor.py", line 472, in run
    self.executor.run(program.desc, scope, 0, True, True)
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected lbl < class_num, but received lbl:389 >= class_num:102.

[2019-06-27 10:12] 707503331 commented on #18373
程序文件如下：

[pretrain_model (copy).txt](https://github.com/PaddlePaddle/Paddle/files/3334092/pretrain_model.copy.txt)

train_list.txt中的一条样本数据：
shunzhitongbao/058ecca8e6374d139f085af27dbf3f97.jpg	389

[2019-06-27 10:31] frankwhzhang commented on #18373
检查一下label数据异常

[2019-06-27 12:03] zhoukunsheng opened #18378 "data layer 在输入shape 为2**32 时出core"
![image](https://user-images.githubusercontent.com/29747927/60264730-83bc5980-9916-11e9-95cd-edb0bb2ad14c.png)
上述程序在shape=2**32时出core

[2019-06-27 12:13] tensor-tang commented on #18348
related https://github.com/workhorsy/py-cpuinfo/issues/133

[2019-06-27 13:57] yangninghua commented on #18342
我换了种思路，把paddle中的重要信息提取出来，我只在Ubuntu上编译，写了一个makefile
但是还是存在下面的一些问题，我gcc切换为4.8.5，这次使用makefile指定后，我觉得应该和系统的protobuf没什么关系了

[code]

[code]

[2019-06-27 16:48] 707503331 commented on #18373
W0628 00:44:16.049546   467 device_context.cc:261] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 9.2, Runtime API Version: 9.0
W0628 00:44:16.053030   467 device_context.cc:269] device: 0, cuDNN Version: 7.0.
Traceback (most recent call last):
  File "train.py", line 133, in <module>
    fetch_list=[avg_cost, acc])
  File "/opt/conda/lib/python3.6/site-packages/paddle/fluid/exec

[2019-06-27 16:58] yangninghua commented on #18342
@Superjomn
@luotao1
感谢两位paddlepaddle的同学，问题已经解决了，是版本的问题，已经都弄好了
我换了个干净的系统，已经完成了官方cmakelist的测试和自己写的makefile的测试，再次感谢大佬
[code]

[code]

[2019-06-27 16:58] #18342 closed, assigned to luotao1

[2019-06-28 01:02] intgogo commented on #18369
解决了：是因为我是创建的 build/release 下make的，看来是必须只能在build下make

[2019-06-28 01:03] #18369 closed, assigned to nobody

[2019-06-28 01:29] 707503331 commented on #18373
label必须是数字吗？ 没看出labe有l异常呀，就是int数字

[2019-06-28 02:27] adaxi123 commented on #18373
@707503331 label必须是int数字，你的class_dim一定要大于你的label数

[2019-06-28 02:32] 707503331 commented on #18373
好的，谢谢了

[2019-06-28 02:32] #18373 closed, assigned to nobody

[2019-06-28 02:51] saberSabersaber opened #18395 "训练attention模型报错Input(Out@GRAD) should not be null"
代码
![code](https://user-images.githubusercontent.com/26018086/60313661-8d83a280-9992-11e9-89ea-bc2b1b2bd2f3.png)
错误
![图片](https://user-images.githubusercontent.com/26018086/60313685-ac823480-9992-11e9-85b2-47e7a7676d13.png)

[2019-06-28 02:55] xiangyubo commented on #18395
这个是 attention-ocr 的模型吗？看着像是预测的部分...

[2019-06-28 03:38] 1286667673 commented on #18351
您好，这次我把计算出来的特征尺寸和标签尺寸和数据类型都转为一样的了，怎么还是报了错误？您能帮我看看到底是哪个维度的问题吗？谢谢您！
import random
import cv2
import os
import math
import paddle
import numpy as np
import paddle.fluid as fluid

class FCNN:
    def __init__(self,dataset):
        self.dataset = dataset
        self.LEARNING_RATE = 1e-4
        # 对图片进行预处理
    def load_image(self,path):
        img = cv2.imread(path)
        # 转灰度
        img = cv2.cv

[2019-06-28 03:43] jerrywgz commented on #18351
从报错信息来看
![image](https://user-images.githubusercontent.com/22989727/60315637-f0c50300-9999-11e9-8f05-b0c5b00fab90.png)应该是计算loss时的两个输入类型不一致导致的

[2019-06-28 03:50] 1286667673 commented on #18351
您好，是下面那个报错信息，这个是之前的，已经解决了是这个
C++ Callstacks:
Enforce failed. Expected x_dims[i + axis] == y_dims[i], but received x_dims[i + axis]:3 != y_dims[i]:1.
Broadcast dimension mismatch. at
我不知道哪个维度的问题，因为我看着计算出来的特征尺寸和标签尺寸维度一样的

[2019-06-28 03:59] 707503331 opened #18396 "迁移学习，第二次训练会覆第一次训练的结果"
迁移学习，第二次训练结束后，第一次训练时能正确预测的标签 全部 变成了第二轮预测的标签值。
训练逻辑：
1、执行pretrain_model.py。 先导入 百度官方的 ResNet50 模型，使用数据集A，训练10轮，通过save_params()方法保存参数模型；
2、执行train.py。 使用数据集A，通过 load_params() 导入上面保存的参数模型，再执行100轮训练，通过save_inference_model()保存最后的预测模型；

3、重复第1步的操作，区别是使用数据集B；
4、重复第2步的操作，区别是使用数据集B， load_params() 导入的是第3步保存的参数模型；

5、执行预测。使用的预测模型是第4步生成的。 预测结果不对，只能预测数据集B中的数据。

脚本如下：
[pretrain_model (copy).txt](https://github.

[2019-06-28 04:42] jerrywgz commented on #18351
可以方便放下代码吗

[2019-06-28 04:45] 1286667673 opened #18397 "Invoke operator elementwise_sub error"
您好，这次我把计算出来的特征尺寸和标签尺寸和数据类型都转为一样的了，怎么还是报了错误？您能帮我看看到底是哪个维度的问题吗？谢谢您！
import random
import cv2
import os
import math
import paddle
import numpy as np
import paddle.fluid as fluid

class FCNN:
def init(self,dataset):
self.dataset = dataset
self.LEARNING_RATE = 1e-4
# 对图片进行预处理
def load_image(self,path):
img = cv2.imread(path)
# 转灰度
img = cv2.cvtColor(img, cv2.COLOR_RGB2GRAY)
# 转换成numpy值
img = np.array(i

[2019-06-28 04:46] 1286667673 commented on #18351
您好，这次我把计算出来的特征尺寸和标签尺寸和数据类型都转为一样的了，怎么还是报了错误？您能帮我看看到底是哪个维度的问题吗？谢谢您！
import random
import cv2
import os
import math
import paddle
import numpy as np
import paddle.fluid as fluid

class FCNN:
def init(self,dataset):
self.dataset = dataset
self.LEARNING_RATE = 1e-4
# 对图片进行预处理
def load_image(self,path):
img = cv2.imread(path)
# 转灰度
img = cv2.cvtColor(img, cv2.COLOR_RGB2GRAY)
# 转换成numpy值
img = np.array(i

[2019-06-28 05:40] 1286667673 commented on #18351
我已经解决了问题了，先不用看了，谢谢谢谢！

[2019-06-28 05:42] irukawang opened #18398 "cloud上训练问题"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-06-28 05:59] kolinwei commented on #18398
@Annnnnnnnnnnnn cloud的问题请提到内部，另外，不要在外部贴出内部的机器地址

[2019-06-28 06:03] irukawang commented on #18398
已修正，请帮忙排查

[2019-06-28 06:36] wangguibao commented on #18398
貌似参数太大超过int_max了，请用户增加节点再试。

[2019-06-28 06:42] wangguibao commented on #18397
#18351 中已解决

[2019-06-28 06:42] #18397 closed, assigned to wangguibao, jerrywgz

[2019-06-28 07:01] wangguibao commented on #18378
请问是否是这样的core trace
[code]

[2019-06-28 07:05] zhoukunsheng commented on #18378
shape=（`2**31`,)时会提示EnforceNotMet，`2**32`时直接SegmentFault，没有提示任何信息

[2019-06-28 07:30] wangguibao commented on #18378
SegmentFault时不会打印出来像我贴出来的那种call trace吗？

[2019-06-28 07:41] lexy0093 commented on #18398
同样的问题，增加节点后依然出现，麻烦能再看一下么

[2019-06-28 08:00] DDDivano opened #18400 "matplot最新版本 3.1.0不支持3.5了"
win上安装报错。。。
![image](https://user-images.githubusercontent.com/10734244/60327168-c9802d00-99bd-11e9-93fb-c69effdbca72.png)

![image](https://user-images.githubusercontent.com/10734244/60327131-b3726c80-99bd-11e9-8409-000d0e9133fb.png)

[2019-06-28 08:10] frankwhzhang commented on #18359
可以多训练几轮结果 或者把已有的数据shuffle

[2019-06-28 08:12] frankwhzhang commented on #18360
本地可以先试一下Mpi任务 方便确认问题

[2019-06-28 08:46] imguozhen opened #18403 "noam_decay的使用"
请教个问题，下面代码，noam_decay的加入对不对：
1. 应该写在什么位置：lr_decay = fluid.layers.noam_decay(512, 4000) 是写在下面代码的位置，还是应该写在with fluid.program_guard(train_program, startup_program)里面，是写在test_program = train_program.clone(for_test=True)之前还是之后
2. learning_rate = learning_rate * lr_decay之前需要加什么吗，比如 with fluid.default_main_program()._lr_schedule_guard()
3. optimizer定义好之后，可以重设learning_rate吗，比如 optimizer = fluid.optimizer.

[2019-06-28 08:53] yanwb opened #18404 "tf2fluid加载转换后的模型时报错"
[code]

[2019-06-28 08:57] pennypm opened #18405 "mask-rcnn模型conv_affine_channel_fuse_pass有diff，关闭后显存double"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）GPU：CUDA8.0 CUDNN7
    3）系统环境：centOS6.3，Python: 2.7.14
- 模型: maskrcnn
mask-rcnn模型conv_affine_channel_fuse_pass有diff，关闭后显存double
cnnpredict结果，关闭后正确
![image](https://user-images.githubusercontent.com/34053581/60330646-77dba080-99c5-11e9-81c7-e9a97aa686d8.png)
加上后预测结果错误
![image](https://user-images.githubusercontent.com/34053581/60330759-c12bf000-99c5-11e9-

[2019-06-28 08:59] Shixiaowei02 commented on #18405
麻烦贴一下代码

[2019-06-28 09:01] pennypm commented on #18405
![image](https://user-images.githubusercontent.com/34053581/60331024-5af39d00-99c6-11e9-9163-3f22a320d02c.png)

![image](https://user-images.githubusercontent.com/34053581/60331042-65ae3200-99c6-11e9-85c6-e30658020fc9.png)

[2019-06-28 09:17] luotao1 opened #18406 "how to run MKLDNN multi-instance"
Now we use `AnalysisPredictor::SetMkldnnThreadID()` to run MKLDNN multi-instance in unit-tests:
https://github.com/PaddlePaddle/Paddle/blob/de42fe8fd584cca4a804e6e6f178f14b169d33c3/paddle/fluid/inference/tests/api/tester_helper.h#L415-L425
However, this interface is not in `paddle_analysis_config.h`, how do users run MKLDNN multi-instance?
If we expose to users? What's the interface? How about `co

[2019-06-28 09:31] 707503331 commented on #18359
我现在的增量 训练方法 对吗？
第一次训练A数据集(label范围 1~10)，第二次训练B数据集（label 范围11~20），两次数据集没有 交集。
能这样训练吗？

paddle paddle 说的增量训练 是什么概念？
我理解的有2中情况：
1、总分类数量（class_dim）不变前提下，增加这些固定分类下的图片数量
2、 新增分类数量(包括图片了)

paddle支持的是是哪一个呀？还是说有其他的理解

我现在理解的是 第1种，验证是不行的。

------------------ 原始邮件 ------------------
发件人: "zhang wenhui"<notifications@github.com>;
发送时间: 2019年6月28日(星期五) 下午4:10
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.co

[2019-06-28 09:46] Officium opened #18408 "Do not support float input in learning rate warmup"
paddle 1.4.1 CPU
Just adapt from the document.
[code]

[2019-06-28 10:00] qingqing01 commented on #18408
@Officium

Thanks for point this.

Yeah, do not support set float now.  You can use it like:

[code]

I wil enhance it.

[2019-06-28 10:14] a6802739 opened #18410 "coredump after use ParallelExecutor and DataFeeder"
我想是用ParallelExecutor的多线程离线进行预测, 使用datafeeder处理数据，离线预测时，会出现如下coredump信息：
[code]
离线预测的示例代码如下：
[code]

[2019-06-28 10:22] lexy0093 opened #18411 "训练时出现grpc错误导致core"
训练时出现core dump，具体猜测可能是grpc的问题，日志如下：
F0628 16:57:33.537047  9262 grpc_serde.cc:107] AppendZeroCopy varname:embedding_0.w_0@GRAD.block0.trainer_0, vlen:4493585408
*** Check failure stack trace: ***
    @     0x7f2432344c0d  google::LogMessage::Fail()
    @     0x7f24323486bc  google::LogMessage::SendToLog()
    @     0x7f2432344733  google::LogMessage::Flush()
    @     0x7f2432349bce  google::LogMe

[2019-06-28 10:22] wangguibao commented on #18410
看不出来，麻烦把出core的core trace信息贴全，然后尽量把预测代码也多贴一些吧，多谢

[2019-06-28 10:30] Officium commented on #18408
@qingqing01 Thanks for your response. There are more similar issues. I list two examples that are easy to reproduce.
1. int input to learning_rate
[code]
2. int input to regularizer (it is usually commonly used when passing parameter in cmd.)
[code]

Please fix them altogether.

[2019-06-28 10:38] jiangjiajun commented on #18404
你好，X2Paddle目前在Windows环境中转换存在问题，此问题我们后续会更新代码解决，目前建议先使用Linux/Mac进行转换，谢谢。

[2019-06-28 11:05] tink2123 commented on #18403
1. 写在 with fluid.program_guard(train_program, startup_program)里面，位置没有要求
2. 不需要，具体使用方法可以参考modes库里的样例：https://github.com/PaddlePaddle/models/blob/a3f6ee86dc63ff5d22c08ec226e55f43e1848204/PaddleNLP/dialogue_model_toolkit/dialogue_general_understanding/optimization.py#L53
3. 如果有需要的话是可以修改的，实现方式可参考：
https://github.com/PaddlePaddle/models/blob/a3f6ee86dc63ff5d22c08ec226e55f43e1848204/PaddleNLP/dialogue_m

[2019-06-28 11:11] mengyiliu22 opened #18412 "loss为inf"
模型前期训练的loss为inf，请问这是什么原因呢？

[2019-06-28 11:44] mengyiliu22 commented on #18412
[train.log](https://github.com/PaddlePaddle/Paddle/files/3338997/train.log)

附件为训练的loss信息；
损失函数是nce；
优化算法使用Adam和Adagrad都会出现这样的情况；
学习率设为1e-3，不会出现inf，增大到1e-2会出现；
batch_size为512，尝试过多个数值，都会出现inf;
使用ParallelExecutor，单机和多机都会出现这种情况.
从后面的loss看，不会有inf出现了，对模型的训练似乎不会产生影响，主要想弄清楚inf出现的原因，辛苦帮忙看下

[2019-06-28 12:35] jinxing94 opened #18414 "对DynamicRNN输出用sequence_pad报错"
1） 问题：
对DynamicRNN输入时一个Lod_level=1的tensor,  输出的变量，使用sequence_pad报错。

paddle/fluid/framework.py", line 1058, in __init__
    self.desc.infer_shape(self.block.desc)
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected x_desc->GetLoDLevel() >= 1, but received x_desc->GetLoDLevel():0 < 1:1.

2） 版本  paddle paddle 1.4.1

3)  代码

[code]

[2019-06-28 13:02] jinxing94 commented on #18414
我是想把torch的gru 参数load给paddle， 但load过去，算的结果不一样。所以才用DynamicRNN自己写下看，后面查看这个实现的能load torch的gru参数且算的一样。但发现用sequence_pad的话出错，不能用sequence_pad的话，就不能拿这个输出结果算attention。

[2019-06-28 13:26] wangguibao commented on #18414
drnn输出的是一个LOD_TENSOR_ARRAY
sequence_pad期望输入是一个LOD_TENSOR

[code]
这句改成输出单个lod tensor试试

[2019-06-28 13:41] wangguibao commented on #18412
您可以试着在网络中加一些Print，看看到底哪些layer产生了inf，然后针对性的再看下是否通过调整超参能改善。如果一直出，可能是计算逻辑有问题

stackoveflow上这个问题有些tip可以参考：
https://stackoverflow.com/questions/48600374/cross-entropy-loss-suddenly-increases-to-infinity

[2019-06-28 13:41] wangguibao commented on #18412
如果确定是某些layer的计算逻辑问题，可以提bug修复

[2019-06-28 14:13] mengyiliu22 commented on #18412
谢谢老师的解答。
我这边还有一些发现是对exe.run(loss)结果进行打印，发现inf是来源于某个计算节点，别的计算节点数据正常，例如使用了4个cpu，返回4个loss，其中会有inf，也会有正常loss。

[2019-06-28 16:09] #18348 closed, assigned to DDDivano, tensor-tang

[2019-06-29 02:34] jinxing94 commented on #18414
我重新检查了一下，drnn输出的是LOD_TENSOR呀，drnn运行的中间变量有LOD_TENSOR_ARRAY。

跑下下面的代码可以看

[code]

[2019-06-29 04:01] wangguibao commented on #18414
你是说outs_v？

InferShape报错是在编译期检查的，编译期drnn.output(new_hidden)是一个LOD_TENSOR_ARRAY，你可以打印出来program看一下。

你上面program输出的outs_v，这已经是运行时的output LodTensor了

[2019-06-29 04:26] jinxing94 commented on #18414
drnn.output(new_hidden)是一个LOD_TENSOR_ARRAY，但self.outputs = drnn()是LOD_TENSOR。会不会可能是编译检查inference_shape碰到drnn有小问题？

[2019-06-29 05:20] hxjcarrie opened #18418 "keras生成的lstm模型转成paddle后，存在精度上小数点后两位的差异"
如题，用keras生成lstm模型后，将参数set到对应的paddle模型，两个模型的预测结果总是存在小数点后两位的差异；由于整体的网络结构比较深，会对最终的效果产生一定影响。

![539a6cc306d0ba32d076d326491f8cae](https://user-images.githubusercontent.com/52315260/60380014-7dda8b80-9a70-11e9-95ca-f29ebd5be220.png)

代码如下：

[code]

[2019-06-29 11:17] imguozhen commented on #18403
多谢解答~

[2019-06-30 01:13] jinxing94 commented on #18414
暂时找到替代方法，这个问题没有那么着急了。

[2019-06-30 12:14] wulipc opened #18424 "通过 CUDAPlace(index) 设置使用的显卡存在bug"
-问题描述： CUDAPlace(index)指定显卡的时候， 判断显存大小的时候， 似乎判断的还是GPU0的显存大小；

-运行报错：
`
Excepted allocating <= available, ...
`

-环境：
    1）PaddlePaddle版本： Fluid 1.3.1
    2）py2, GPU P40, centos

- 复现信息（以使用GPU1为例）：
 1）首先保持GPU0 处于占用状态；
 2）在代码中设置 place 为 CUDAPlace(1)， 且不要设置FLAGS_fraction_of_gpu_memory_to_use;
3）运行代码， 如果不出意外将会报错 ‘Excepted allocating <= available’， 且 available的显存和GPU0的状态比较相似。

 以下方式运行没错：
[code]

Conta

[2019-07-01 02:32] yeyupiaoling opened #18427 "求分享windows支持cuda10的安装包"
# 环境
 - windows 10 64 bit
 - Python 3.5
 - PaddlePaddle 1.5.0

# 问题
我的显卡是 2070 的，只支持cuda 10，目前官方在Ubuntu已经支持了cuda10， 但是在windows还没支持。来回切换系统很麻烦，有没有人已经成功编译了windows 10 下支持 cuda 10的PaddlePaddle 1.5 版本，分享一下。

[2019-07-01 02:49] wangguibao commented on #18411
[code]
参数大小超过int_max了
已经让用户尝试增加节点数。

[2019-07-01 02:49] #18411 closed, assigned to wangguibao

[2019-07-01 02:50] #18403 closed, assigned to wangguibao

[2019-07-01 02:51] #18398 closed, assigned to wangguibao

[2019-07-01 02:51] #18396 closed, assigned to wangguibao

[2019-07-01 02:53] wangguibao commented on #18395
已经让用户先排查组网逻辑，如果搞不定，可以添加完整代码，我们这边帮复现

[2019-07-01 03:06] zhoukunsheng commented on #18378
不会

[2019-07-01 03:20] Officium commented on #18408
@wangguibao @qingqing01 Already done? Where is the PR?

[2019-07-01 03:24] phlrain commented on #18418
这个dyanmic_lstm，我们在很多任务里面验证过是没有问题
这个精度的差距很大的，有些位置keras 都等于0，paddle的结果 不等于0
我感觉是两个框架lstm的实现是不一样的，这种直接set 参数的方法，是可能会带来有一些问题

[2019-07-01 03:27] Xreki commented on #18424
您的用法是：环境变量设置成`export CUDA_VISIBLE_DEVICE=1`，代码里使用`CUDAPlace(1)`吗？

如果您使用1.5版本，则会报如下错误：
[code]

意思是，如果您`CUDA_VISIBLE_DEVICE`只设置了一个GPU，那么只能使用`CUDAPlace(0)`。

[2019-07-01 03:30] wulipc commented on #18424
不是， 使用的时候没有`export CUDA_VISIBLE_DEVICE=1`， 直接通过 `CUDAPlace(1)` 指定1号GPU； 另外你说的这个代码里面应该是CUDAPlace(0)才对。

[2019-07-01 03:38] gavin1332 commented on #18418
已反馈给API负责人，请等候答复

[2019-07-01 03:59] Xreki commented on #18424
明白了，没有指定`CUDA_VISIBLE_DEVICE`，那默认是使用全部GPU，会在所有GPU上预分配显存。

[2019-07-01 04:49] wangguibao commented on #18408
还没修呢呀，您要是着急就用上面青青提的方法呗

[2019-07-01 06:19] Superjomn commented on #18206
可以试试  http://www.paddlepaddle.org.cn/documentation/docs/zh/1.4/api_cn/layers_cn.html#print

Print op

[2019-07-01 06:20] wulipc commented on #18424
结论： 即使使用CUDAPlace(index)来指定要使用的GPU， 也要在通过CUDA_VISIBLE_DEVICE变量指定机器上空闲的GPU环境变量。 Thanks to Xreki.

[2019-07-01 06:20] #18424 closed, assigned to nobody

[2019-07-01 06:42] wangguibao commented on #18412
您是分布式训练是么
[code]
能具体再描述一下么

[2019-07-01 06:47] shippingwang commented on #18427
https://pypi.org/project/paddlepaddle-gpu/1.5.0.post107/#files

[2019-07-01 06:49] yeyupiaoling commented on #18427
@shippingwang 这个是Linux的

[2019-07-01 06:52] shippingwang commented on #18427
哦哦 现在官方还没有提供windows的

[2019-07-01 06:54] yeyupiaoling commented on #18427
@shippingwang 所以我才问问有没有同学自己已经编译支持cuda 10的windows版本

[2019-07-01 07:12] saberSabersaber opened #18432 "attention ocr 对历史attention weigths 求和训练出错"
error
![图片](https://user-images.githubusercontent.com/26018086/60417039-f9c00980-9c11-11e9-994d-c03f21a1a2d3.png)
![图片](https://user-images.githubusercontent.com/26018086/60417090-152b1480-9c12-11e9-8f1e-4db801a0a0a0.png)

训练代码
![图片](https://user-images.githubusercontent.com/26018086/60417164-4acffd80-9c12-11e9-9c86-3156aa42f7ee.png)
![图片](https://user-images.githubusercontent.com/26018086/6041719

[2019-07-01 07:45] lexy0093 opened #18433 "pserver错误导致整个程序core"
pserver.log日志如下：

get_pserver_program() is deprecated, call get_pserver_programs() to get pserver main and startup in a single call.
E0701 14:16:51.560485246    2278 tcp_server_posix.cc:64]     check for SO_REUSEPORT: {"created":"@1561961811.560460389","description":"OS Error","errno":92,"file":"src/core/lib/iomgr/socket_utils_common_posix.cc","file_line":169,"os_error":"Protocol not available","s

[2019-07-01 07:56] jczaja opened #18434 "[MKL-DNN] MKL-DNN 0.2 does not work properly with Feature model"

[2019-07-01 08:06] wangguibao commented on #18396
可以请用户先确认一下原始网络的效果是否ok，如果原始网络没问题，只是迁移过程中出问题，可以请用户在相关圈子里再请教一下

[2019-07-01 08:55] wanghaoshuang commented on #18432
在使用his_attr_weight之前，加一句：

`his_attr_weight.stop_gradient=True`

试试？

[2019-07-01 08:59] wanghaoshuang commented on #18432
https://github.com/PaddlePaddle/Paddle/issues/9989

[2019-07-01 08:59] wanghaoshuang commented on #18432
相关 issue: https://github.com/PaddlePaddle/Paddle/issues/14735

[2019-07-01 09:03] saberSabersaber commented on #18432
加了his_att_weight.stop_gradient=True 这句话还是一样的错误

[2019-07-01 09:29] yeyupiaoling opened #18435 "使用 CompiledProgram 训练保存模型有错"
# 环境
 - PaddlePaddle 1.5
 - Python 3.5
 - Ubuntu 16.04

# 问题
下面有两个代码，分别是训练并保存模型 和 使用保存的模型测试测试集。结果发现精度很低，就跟没有训练一样。是不是我保存的模型方式有错？

训练并保存模型
[code]

使用模型进行测试
[code]

[2019-07-01 09:30] yeyupiaoling commented on #18097
使用 PaddlePaddle 1.5 版本的好像没有问题，测试例子如下
[code]

[2019-07-01 09:30] #18097 closed, assigned to gongweibao

[2019-07-01 09:31] #18087 closed, assigned to nobody

[2019-07-01 09:32] yeyupiaoling commented on #18199
不知道什么原因，反正我放弃这个接口了

[2019-07-01 09:32] #18199 closed

[2019-07-01 09:42] Xreki commented on #18369
您好，Paddle没有这样的要求，请问您的cmake命令是怎样的？

[2019-07-01 10:09] intgogo commented on #18369
我测试的结果是，不能在build/release这种下两层的目录构建，build目录只是习惯命名

------------------ Original ------------------
From:  "Yiqun Liu"<notifications@github.com>;
Date:  Mon, Jul 1, 2019 05:43 PM
To:  "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
Cc:  "intgogo"<lilw@reflynet.com>; "State change"<state_change@noreply.github.com>;
Subject:  Re: [PaddlePaddle/Paddle] centos compile failed--snappy (#18369)

看来是必须只能在b

[2019-07-01 13:59] shippingwang commented on #18435
看起来没有错 ，save compiled之前的program就行，先改成parallelexecutor试一下？

[2019-07-01 14:03] ghost commented on #17960
@jczaja Could you please rewrite the description for this issue? We (Luo Tao, Leo, and me) all have difficulty to understand it. But I told Luo Tao what you are asking based on our previous discussion. Currently we use SetBlob to save info (e.g. pd/workspace_memory) in FWD OP and then use GetBlob to retrieved those saved info which is needed in BWD OP. For example, we save pooling pd in Pool OP an

[2019-07-01 14:23] yeyupiaoling commented on #18435
@shippingwang
我不要，parallelexecutor不是被抛弃了吗？那就不要用了。再我的项目都用这个了，在修改很麻烦。这个有办法解决吗？

[2019-07-01 15:56] guru4elephant commented on #18435
你可以使用Executor来训练，打开use_program_cache=True，训练速度并不慢。如果是单机多卡，或者多机多卡，推荐使用多进程模式。

[2019-07-01 22:28] ghost commented on #18406
@luotao1 As discussed on the call, SetMkldnnThreadID() is needed only in special case (e.g. use various thread for each iteration). For normal case (e.g. parallel instances of Paddle predictor handling data indepenantly), there is no need to call it. Internally std::thread_id will be used for MKLDNN cache index (as part of key).

To be brief, no public interface need be added for MKLDNN multi-inst

[2019-07-02 01:13] apphpp commented on #7829
怎么问题怎么解决的呀？

[2019-07-02 01:56] luotao1 commented on #18406
Got it. I will remove `AnalysisPredictor::SetMkldnnThreadID()` for clean.

[2019-07-02 02:28] 18628271760 opened #18442 "图像分类教程实例运行错误"
开发团队，
paddle文档中图像分类教程（http://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/basics/image_classification/index.html）实例运行报错，缺少变量定义，请查证。
![image](https://user-images.githubusercontent.com/38900261/60477974-94245980-9cb3-11e9-8fa7-c1008d5e7e8e.png)

[2019-07-02 02:31] heavengate commented on #18442
您好，请问一下你Paddle和models的版本分别是多少呢，还有是哪个模型运行出错

[2019-07-02 02:34] mengyiliu22 commented on #18412
分布式和单机训练都会出现；我排查是在单机，使用ParallelExecutor，打印exe.run(loss)的返回值，是个（1，cpu个数）形状的array，array里会出现inf，也会有正常的loss值，所以最后加起来也是inf。。

[2019-07-02 02:38] 18628271760 commented on #18442
你好，
我使用的paddlepaddle版本为1.4/1.5.
代码在http://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/basics/image_classification/index.html
拷贝运行。

[2019-07-02 02:43] 18628271760 opened #18443 "Git Repo issue"
double paddle 开发团队，
贵方的Git Repo可能存在异常，请查证处理。
<img width="484" alt="issue1" src="https://user-images.githubusercontent.com/38900261/60478744-1e6dbd00-9cb6-11e9-8c18-1e094d945e89.png">
<img width="312" alt="issue2" src="https://user-images.githubusercontent.com/38900261/60478778-39d8c800-9cb6-11e9-9d5f-7bdea6c26345.png">

[2019-07-02 02:44] mengyiliu22 commented on #17502
这个问题已经绕过去了，使用了别的方法打印数据

[2019-07-02 02:44] #17502 closed, assigned to JiabinYang

[2019-07-02 02:53] heavengate commented on #18442
确认了下，predict是构建模型时的输出，你那边是不是在运行这段代码前没有运行模型构建呢，比如说VGG的网络模型构建最后的输出就是predict
[code]

[2019-07-02 03:07] heavengate commented on #18443
您好，该问题为您git本地配置问题，请参考 https://www.jianshu.com/p/1f800b8e15ac

[2019-07-02 03:09] 18628271760 commented on #18443
我望使用paddle-models的预训练模型去做object detection但是在clone的时候一直克隆不成功，下载zip包也一直失败，请问该怎么办

[2019-07-02 03:11] heavengate commented on #18443
git config --global http.postBuffer 524288000之后再git clone

[2019-07-02 03:36] 18628271760 commented on #18442
HI，
源码 FYI

[2019-07-02 03:46] hxjcarrie opened #18445 "预测时 ZeroCopyRun 出core，看不到报错信息"
如题，预测时，调用ZeroCopyRun 出core，看不到内部报错信息。

`auto predictor =paddle::CreatePaddlePredictor<paddle::contrib::AnalysisConfig, paddle::PaddleEngineKind::kAnalysis>(config);`
`...`
`predictor->ZeroCopyRun();`

有什么办法可以看到报错信息

[2019-07-02 03:52] heavengate commented on #18445
跑之前命令行执行 export GLOG_v=10 试下

[2019-07-02 04:06] wzgwzg opened #18446 "paddle 1.5安装报找不到funcsigs错误"
paddle版本1.5
whl包：paddlepaddle_gpu-1.5.0-cp27-cp27mu-linux_x86_64.whl
机器：厂内阡陌k40虚拟机

报错：ERROR: Could not find a version that satisfies the requirement funcsigs (from paddlepaddle-gpu==1.5.0.post97) (from versions: none)

但是通过pip list可以看到funcsigs已安装，并且uninstall 再重新 install也还是不行

[2019-07-02 04:22] baihaojie2011 opened #18448 "fluid.layers.load 不能正常使用"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：1.4
    2）CPU/GPU：无关
    3）系统环境：无关
    4）Python版本号：无关
    5）显存信息：无关
复现环境：https://aistudio.baidu.com/aistudio/projectDetail/79131

[2019-07-02 04:32] 18628271760 commented on #18443
<img width="463" alt="issue3" src="https://user-images.githubusercontent.com/38900261/60482768-74962c80-9cc5-11e9-816e-19bb192706eb.png">

[2019-07-02 05:22] heavengate commented on #18443
应该是网速太慢的问题，再跑一下
git config --global http.lowSpeedLimit 0
git config --global http.lowSpeedTime 999999
之后再clone

[2019-07-02 05:33] heavengate commented on #18446
![屏幕快照 2019-07-02 下午1 33 22](https://user-images.githubusercontent.com/12605721/60484996-0144e880-9cce-11e9-93cf-a335a8231d9d.png)
应该是网速太慢，已经装上了

[2019-07-02 05:38] 18628271760 commented on #18443
昨天就试了，家里单位都试了。隔壁tf不像这样，pyt也不这样。

[2019-07-02 05:39] heavengate commented on #18448
https://github.com/PaddlePaddle/Paddle/blob/85b49d84732d2cf9ada5473b9f0c76dd0a7f1908/python/paddle/fluid/layers/io.py#L1289
确认为此处传参错误，应为`attrs=attrs`，待修复

[2019-07-02 05:51] heavengate commented on #18443
尝试了三台机器未复现该问题，已联系paddle-mobile团队确认

[2019-07-02 05:58] 18628271760 commented on #18443
FYI

[2019-07-02 05:59] #18446 closed, assigned to heavengate

[2019-07-02 06:30] 18628271760 commented on #18443
I am so sorry to infor you that your method failded again! Maybe more experts should be involved!

<img width="480" alt="微信图片_20190702142743" src="https://user-images.githubusercontent.com/38900261/60488858-98616e80-9cd5-11e9-9fcc-ddfa624a1b19.png">

[2019-07-02 06:38] miraclebiu opened #18450 "parallel_for failed: invalid resource handle"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1 post97
    2）CPU/GPU：GPU训练，CUDA9 cuDNN7
    3）系统环境：centos
    4）Python版本号 python2.7
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
在官方yolov3上进行的改进，

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

F0702 14:33:05.855212 21212 exception_holder.h:34] st

[2019-07-02 06:57] 18628271760 opened #18452 "An C# API is badly needed now!"
Hi Devps:
An C# API is badly needed for integrating PaddlePaddle object-detect model with .NET framework. Pls. ref:
http://www.emgu.com/wiki/index.php/Emgu_TF

[2019-07-02 07:10] heavengate commented on #18450
为nccl未正确安装和配置，卡间没法通信，单卡可以跑，多卡不能跑，请参考http://www.paddlepaddle.org.cn/start 正确安装nccl

[2019-07-02 07:16] heavengate commented on #18443
麻烦确认一下您本地空间够不够呢

[2019-07-02 07:21] heavengate commented on #18452
您好，Paddle目前支持python和C++预测库API，您的C# API需求我们已知悉，并在内部统计和确认排期，感谢您对Paddle的支持~

[2019-07-02 07:35] irukawang commented on #18224
请问楼主，如何使用switch实现根据不同条件，tensor流入不同网络的，并优化的呢。

[2019-07-02 07:36] gongweibao opened #18455 "Merge duplicate Dockerfile and Dockfile.tmp into one."

[2019-07-02 07:37] yeyupiaoling commented on #18435
@guru4elephant 您好，我这个是单机单卡，使用这个接口应用不起作用吧。这样接口是不是针对单机多卡，或者多机多卡？

[2019-07-02 07:44] yeyupiaoling opened #18456 "DyGraph 动态图保存预测模型"
# 环境
 - PaddlePaddle 1.5

# 问题
DyGraph 动态图没有提供保存预测模型的接口，跟Fluid的：save_inference_model
因为需要在 Paddle Mobile 中需求使用到预测模型，同时如果能够保存预测模型，在预测上就不需要再编写网络结构代码。

我尝试过使用 Executor 的方式训练 DyGraph 网络代码，但是在保存模型的时候出现问题
[code]

[2019-07-02 07:53] heavengate commented on #18456
看着是windows上不能识别infer_model\mnist/MNIST_0/FC_0.b_0中/的目录分隔符的问题，其中infer_model是save_dirname，但是new_var.name 为什么是mnist/MNIST_0/FC_0.b_0呢，麻烦贴一些关键代码确认一下

[2019-07-02 07:55] yeyupiaoling commented on #18456
代码如下：
[code]

[2019-07-02 07:56] yeyupiaoling commented on #18456
@heavengate 在Windows下，这种路径是没有问题的。

[2019-07-02 08:01] heavengate commented on #18456
看你代码网络构建在，net, acc = mnist(img, label)这个里面，是否是这个里面定义的变量名是mnist/MNIST_0/FC_0.b_0这种形式windows无法识别，可改成mnist\MNIST_0\FC_0.b_0这种形式

[2019-07-02 08:05] yeyupiaoling commented on #18456
@heavengate 全部代码给你看看吧
[code]

[2019-07-02 08:11] #18325 closed, assigned to wzzju

[2019-07-02 08:12] heavengate commented on #18456
问题原因如下：
SimpleImgConvPool/MNIST这些网络结构都继承自fluid.dygraph.Layer，参数名统一用的是fluid.dygraph.Layer的full_name方法，该方法定义如下
https://github.com/PaddlePaddle/Paddle/blob/a873fa84ceca411a5a776ff8ae303f8be24df95a/python/paddle/fluid/dygraph/layers.py#L43
是采用的linux下的目录分隔符/，该分隔符不兼容windows下

规避方法：windows上在所有full_name()后加 .replace('/', '\\')改成windows风格的目录分隔符

该问题我们已记录，并将立即修复

[2019-07-02 08:12] #18351 closed, assigned to nobody

[2019-07-02 08:13] #18406 closed, assigned to jczaja

[2019-07-02 08:13] #18307 closed, assigned to wzzju

[2019-07-02 08:17] yeyupiaoling commented on #18456
@heavengate 嗯嗯，解决了，谢谢。
修改的代码片段如下：
[code]

[2019-07-02 08:17] #18456 closed, assigned to heavengate

[2019-07-02 08:20] yeyupiaoling commented on #18456
@heavengate 顺便问一下，为什么不在DyGraph 动态图直接提供保存预测模型接口？

[2019-07-02 08:22] heavengate commented on #18456
动态图目前release是初步版本，还有很多特性在进一步开发完善

[2019-07-02 08:25] yeyupiaoling commented on #18456
@heavengate 哦哦，那再问一下，DyGraph 动态图回事之后主推的版本吗？
会不会像当初的Fluid那样，抛弃了V2，主推Fluid。

[2019-07-02 08:28] heavengate commented on #18456
动态图是Fluid的一大特性，是Fluid框架的一部分

[2019-07-02 08:31] yeyupiaoling commented on #18456
@heavengate 是吗。我的理解它们是两个完全不同的版本，执行方式都不一样，就像当初的V2和Fluid一样，完全两个不同的版本。

[2019-07-02 08:48] heavengate commented on #18456
后面会调整，不会是不同版本的

[2019-07-02 08:49] yeyupiaoling commented on #18456
@heavengate 好的，谢谢回答。

[2019-07-02 08:54] 18628271760 opened #18457 "预测模型的存储格式问题"
技术团队：
根据文档（http://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_guides/low_level/inference.html#api-guide-inference）所叙：    参数保存到同一个文件，如设置 model_filename 为 None 、params_filename 为 __params__

实际训练保存后，如下：（“B_0”与“W_0”文件任然存在！）

<img width="532" alt="actuallyResult" src="https://user-images.githubusercontent.com/38900261/60498431-21ce6c00-9ce9-11e9-9ed7-14ab4868a8f7.png">

问题:
1. __modle__ ,__p

[2019-07-02 08:55] #18452 closed, assigned to heavengate

[2019-07-02 09:02] heavengate commented on #18457
1. model保存模型结构，params保存权重，如果指定了params_file是不会保存b_0,w_0这些，您上述保存的w_0, b_0这些文件是不是由于文件夹没有清空导致，并非此次保存的结果
2. 如果指定了params_file, w_0, b_0这些就不需要了，会直接读params
3. b_0, w_0 是网络各层的权重名称，比如说全连接fc层的y=wx+b里的w和b，网络每层都有自己的权重

[2019-07-02 09:05] 18628271760 commented on #18443
FYI
<img width="786" alt="all" src="https://user-images.githubusercontent.com/38900261/60499695-94404b80-9ceb-11e9-993e-b2188ed40cdd.png">
<img width="434" alt="C" src="https://user-images.githubusercontent.com/38900261/60499701-973b3c00-9ceb-11e9-8a9c-6bf6181f86ca.png">

[2019-07-02 09:12] heavengate commented on #18443
[code]
试下？

[2019-07-02 09:30] 18628271760 commented on #18457
经过排查，中间过程还有一个fluid.io.save_inference_model未更改。更改后删除folder在运行，如下：
<img width="559" alt="new" src="https://user-images.githubusercontent.com/38900261/60501685-fc446100-9cee-11e9-96bd-a2f51e88bd49.png">

请问结果是否合理成功，以便close issue。

[2019-07-02 09:33] heavengate commented on #18457
结果合理，您也可以再排查一下__params__的大小应该是等于原来所有w_0, b_0这些的大小总和

[2019-07-02 09:34] 18628271760 commented on #18457
好的，谢谢帮助。

[2019-07-02 09:34] #18457 closed, assigned to heavengate

[2019-07-02 09:50] wzgwzg opened #18460 "paddle 1.5 训练时loss出Nan"
paddle 1.5 训练一个yolov3+分类的multi-task网络时，loss出现Nan的情况。

关键代码：
 self.proposals = self.get_proposals()

        axes = [1]
        starts = [2]
        ends = [6]
        self.new_proposals = fluid.layers.slice(self.proposals, axes=axes, starts=starts, ends=ends)
        if self.is_train:
            outs = fluid.layers.generate_proposal_labels(
                    rpn_rois=self.new_proposals,

[2019-07-02 10:07] heavengate commented on #18460
可尝试一下方式：
1. 增加batch size或降低学习率
2. 使用gradient clip， 参考http://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/clip_cn.html#paddle.fluid.clip.GradientClipByGlobalNorm

[2019-07-02 10:11] 18628271760 commented on #18443
我方对此深表遗憾。
<img width="345" alt="issue" src="https://user-images.githubusercontent.com/38900261/60504717-b7232d80-9cf4-11e9-89b2-fe2dd2e1a14e.png">

[2019-07-02 10:15] heavengate commented on #18460
1. reid_loss = self.reid_loss() * 100 中乘以100对梯度影响很大，建议去掉
2. def get_proposals(self, proposal_thresh=0.005): 中multiclass_nms是没有梯度的，会导致整个yolo网络没有训练，而且输出是一个变长的lod tensor，会导致后续数据错乱

[2019-07-02 11:23] heavengate commented on #18460
1. multi nms的输出是lod tensor，你后面这些conv2d这些操作是针对普通tensor的，这个数据过去应该不能正确解析
2.multi nms在检测到bbox的时候输出是[N, 6], 6那一维是class_id, score, xmin, ymin, xmax, ymax, 直接过后面的conv2d会有问题吧
3. multi nms在图像上检测不到bbox的时候shape是[1, 1]，值是0， 这样的值后面没做特殊处理的话训练可能会引入问题

[2019-07-02 11:38] miraclebiu opened #18464 "cudaStreamSynchronize an illegal memory access was encountered errno:77"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.0 post87
    2）CPU：
    3）GPU：k40
    4）系统环境：centos
- 训练信息
    1）单机，多卡
    2）显存信息
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
cudaStreamSynchronize an illegal memor

[2019-07-02 11:49] irukawang opened #18465 "switch 的case下能组网么"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2019-07-02 11:52] heavengate commented on #18465
麻烦报错信息截全一点，把下面的栈信息截出来

[2019-07-02 11:53] irukawang commented on #18465
已追加

[2019-07-02 11:55] heavengate commented on #18464
1. 请确认卡上有没其他任务抢占显存
2. 可开启以下lag
export FLAGS_fast_eager_deletion_mode=1
export FLAGS_eager_delete_tensor_gb=0.0
export FLAGS_fraction_of_gpu_memory_to_use=0.98

[2019-07-02 11:56] heavengate commented on #18465
[code]
试下

[2019-07-02 11:59] irukawang commented on #18465
还是不行

[2019-07-02 12:04] heavengate commented on #18465
错误原因是assign没有梯度，这里不能用assign。
你这种情况没必要用switch吧, fluid.layers.cast把cond转换成float32，和output做word_c做elementwise_mul不就可以了

[2019-07-02 12:08] irukawang commented on #18465
我具体的网络不是这个样子的，这个就是实验一下可不可以， 我的需求就是类似tf.cond 或者tf.case这种，有多个tensor流入，但是会根据条件选择一个tensor流出，

[2019-07-02 12:10] heavengate commented on #18465
两种方案：
1. 不要用assign，直接output = fluid.layers.matmul(words_b, param)
2. 其实一样的，多个tensor对应多个cond，你选的那个tensor的cond是全1，其余是全0， cast成float之后，各自的tensor和各自的cond相乘再求和

[2019-07-02 12:14] irukawang commented on #18465
很有道理，就是不知道，这个样子的效率如何，好像这样，多个网络都会计算，而不是只计算一条了吧。

[2019-07-02 12:17] heavengate commented on #18465
case里面不要用assign应该是可以的，你可以试下方案1

[2019-07-02 12:21] irukawang commented on #18465
[code]

[2019-07-02 12:26] heavengate commented on #18465
output.persistable = True 试下？

[2019-07-02 12:29] heavengate commented on #18465
两个matmul的name给一下，让两个output的name一致，然后persistable=True

[2019-07-02 12:34] irukawang commented on #18465
还是不行。诶。。。

[2019-07-02 12:36] #18445 closed, assigned to heavengate

[2019-07-02 12:38] 18628271760 commented on #18443
Hi teams,
pls. help to check the pain point before.
![Down](https://user-images.githubusercontent.com/38900261/60513246-4d614e80-9d09-11e9-807d-7381a7a38f5d.png)

[2019-07-02 12:38] heavengate commented on #18465
那目前应该只能用方案2了，switch和case的优化问题我记录上报一下

[2019-07-02 12:42] irukawang commented on #18465
其实switch能达到ifelse那种功能就行，奈何ifelse不支持嵌套，只能有两种分支，建议咱们这边可以 实现类似tf.cond 或者 tf.case这种op

[2019-07-03 02:22] #17411 closed, assigned to nobody

[2019-07-03 02:25] #17382 closed, assigned to nobody

[2019-07-03 02:35] #18450 closed, assigned to heavengate

[2019-07-03 02:46] #17997 closed, assigned to nobody

[2019-07-03 02:50] #17556 closed, assigned to nobody

[2019-07-03 02:56] wangguibao commented on #18412
经过和 @seiriosPlus  老师一起调试用户提供的可复现代码，基本定位问题如下：
1) 用户网络使用了NCE loss，nce layer的输入input，其数值范围非常大[-100, +100]。
2） 在NCE内部，采样的sample经过一个类似sigmoid的操作 sample_data = (1/1+e^(-sample_data))之后全都变成0或1
3) 在后续的计算cost公式中，cost = -log(o/(o+b)) = Infinity (这个公式里o = 第2)步的sample_data)

初步判断原因是，
NCE loss输入一般直接作为原始的word embedding作为输入，其分量值[-1, +1]，进入NCE后不会有问题；而用户的网络是将原始embedding又经过了2个带relu激活函数的embedding，数值范围变的很大。

已经跟用户解释上

[2019-07-03 03:31] #18225 closed, assigned to nobody

[2019-07-03 03:56] Gaffey commented on #18465
请问可以用IfElse分支来实现这样的功能吗 @heavengate
[code]

[2019-07-03 04:00] bingyanghuang commented on #18047
Since #18146 has been merged, could you @jczaja help close this PR?

[2019-07-03 04:01] #18147 closed, assigned to zhoukunsheng

[2019-07-03 04:05] bingyanghuang commented on #18005
@luotao1 Looks like your problem has been solved. If so , could you help close this PR?

[2019-07-03 04:10] bingyanghuang commented on #17832
@ddokupil @pmajchrzak Have you tried luotao's suggestions? Did you solve your problem. Please follow-up this PR. If your problem has been solved, please help close this PR. Thanks

[2019-07-03 04:14] bingyanghuang commented on #17654
@jczaja Could you help close this PR. Since #17535 has been closed too. Thanks.

[2019-07-03 04:16] bingyanghuang commented on #17655
@jczaja This PR can be closed too.

[2019-07-03 04:17] bingyanghuang commented on #17267
@jianhang-liu This can be closed since we've implemented solution1 in Release 1.5.

[2019-07-03 04:19] luotao1 commented on #18005
This unit-test is disabled not fixed now, do you have another issue to track it? @bingyanghuang

[2019-07-03 04:21] luotao1 commented on #17654
I guess this issue is another thing different from #17535. @bingyanghuang

[2019-07-03 04:28] bingyanghuang commented on #18005
@luotao1 I think no. @wojtuss @Sand3r- Do you have any new comments or updates on this issue?

[2019-07-03 05:19] Gaffey opened #18472 "加入IfElse导致paddle.fluid.core.EnforceNotMet"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU：-
    3）GPU：Nvidia V100
    4）系统环境：python2.7
- 训练信息
    1）单机，多卡
    2）32G
    3）Operator信息
- 复现信息：
[code]
报错信息为
[code]
- 问题描述：
希望通过使用IfElse操作在不同的step通过feed的方式选择不同的层进行前向和训练，但使用过程中报如上错误，没有准确的错误信息
去掉IfElse操作，直接将`conv1`赋为`conv_bn_layer`能够正常运行

[2019-07-03 05:57] Shixiaowei02 commented on #18405
+@NHZlX

[2019-07-03 06:26] lexy0093 opened #18473 "变长id导致程序内存占用过大"
总特征id：8w+，稀疏特征，使用embeding层，但是由于输入embeding为变长ids，需要padding到同一batch的最大长度，不知道如何优化成同一序列输入

[2019-07-03 06:44] yeyupiaoling opened #18474 "Fluid如何保存优化方法的状态，之后重新训练的时候恢复它"
# 环境
 - PaddlePaddle 1.5

# 问题
有时候训练可能会出现中断，重新训练之后，我希望他能够优化方法能够按照之前的训练的情况接着，而不是重新开始，有什么方法做到吗？
[code]

[2019-07-03 07:08] sshilei opened #18475 "fluid fleet基于dataset提交NCCL2的demo"
有没有fluid1.5中fleet基于dataset提交NCCL2的demo程序。在wiki和官网没有找到。

[2019-07-03 07:16] DDDivano opened #18476 "动态图unique_name计数增加"
模型：se-resnext 动态图。 https://github.com/PaddlePaddle/models/tree/develop/dygraph/se_resnext

在第一轮至第二轮训练时候，unique_name会增加1，之后不会增加了。这个情况可能引发内存泄露，需要排查一下原因。

![image](https://user-images.githubusercontent.com/10734244/60571265-d8902200-9da5-11e9-82a5-3982c1f84fd2.png)

[2019-07-03 08:12] hxjcarrie opened #18478 "dynamic_lstm在python中的预测结果与C++的预测结果不一致"
python内模型结构如下：

[code]
C++内数据输入格式如下：

[code]
python内数据输入格式如下：

[code]

[code]

在输入数据相同的情况下，直至p_forward_proj层，python和C++的输出结果均一致。到p_forward开始不一致。
麻烦相关人员帮忙看看 是不是Lod信息设错了？

[2019-07-03 08:23] jczaja commented on #17654
This one is separate thing its execution will be beneficial for performance of face model, but it does not have anything in common with #17535

[2019-07-03 08:25] #14988 closed, assigned to panyx0718, luotao1

[2019-07-03 08:27] fc500110 commented on #18478
线上服务请使用[C++ 预测 API](http://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/native_infer.html)

[2019-07-03 08:28] fc500110 commented on #18475
单机还是分布式？

[2019-07-03 08:32] hxjcarrie commented on #18478
使用的是C++的API
[code]
SetZeroCopyInputs_demo内的数据输入如前面说的

[2019-07-03 08:49] sshilei commented on #18475
分布式，提交到孔明集群

[2019-07-03 08:51] jczaja commented on #18047
@bingyanghuang O.. forget to close that one. Yes this can be closed now

[2019-07-03 08:51] #18047 closed, assigned to jczaja

[2019-07-03 08:53] #16401 closed, assigned to luotao1

[2019-07-03 08:55] jczaja commented on #17655
@bingyanghuang No It cannot be closed. #17535 was fixed with conv transpose + elementwise_add fuse. There is much more to be done eg. port all passes conv + relu , conv + batch_norm etc. into
conv_transpose + relu , conv_transpose + batchnorm etc.  Face model should benefit from some of those optimizations.

[2019-07-03 09:28] sandyhouse commented on #18475
可以参考这个文档：http://wiki.baidu.com/pages/viewpage.action?pageId=717062476

[2019-07-03 09:45] sfraczek commented on #13402
Hi,

The solution to this problem was invented here:
https://github.com/PaddlePaddle/Paddle/blob/3ece61f71e6b45b094e6864fcfa78f849654059f/paddle/fluid/framework/ir/mkldnn/conv_bias_mkldnn_fuse_pass_tester.cc#L80
This issue can be closed form my point of view. Thank you.

[2019-07-03 09:53] sshilei commented on #18475
这个是基于pserver的吧，我要提交到孔明集群，需要NCCL2

[2019-07-03 10:40] qingqing01 commented on #18435
1. 训练中的测试结果是否正确？
2. 从程序来看，保存模型接口没用错。
3. 从测试程序来看，test_program种的batch_norm, is_test没有设置True。 方式1：构建网络时batch_norm种is_test参数，依据train or test改下。 方式2:  `test_program=test_program.clone(for_test=True)`  。 训练种的测试需要注意下。
4. 如果是ResNet也可以参考 models里图像分类模型。

[2019-07-03 10:41] sandyhouse commented on #18475
dataset主要面向CPU异步场景。对于使用nccl2的分布式训练，可以使用fleet+nccl2。

[2019-07-03 12:08] jczaja commented on #17960
Currently(unless something changed) for parallel executor we use std::thread_id to distinguish caching
for one ParallelExecutor thread from other ParallelExecutor thread. But there is once exception which
is when data is to be transfered from Forward Op to Grad Op then TID is **not** used. This is because
diffrent threads may execute Grad ops and Forward Ops.   For activation mkl-dnn ops flow is l

[2019-07-03 12:50] kuke commented on #18473
可以考虑用lod tensor，就不用padding了

[2019-07-03 12:54] ghost commented on #17960
@jczaja I guess I understand your concern now.
Answer to your question 1: All inputs/outputs vars of fwd OP (i.e. here "X" and "Out" of activation op) will be automatically set as input vars of bwd OP (i.e. activation_grad op).
In another word, the input vars of "activation_grad" op are: "X", "Out", "diff Y". It's original design of paddle already.
So I don't understand why you need pass x_data fr

[2019-07-03 14:35] jczaja commented on #17960
@jianhang-liu activation_grad does **not** have "X" as input. Only: "Out" and "diff Y" are inputs because paddle naive grad implementation of activation does not need "X" it does need "Out" . MKL-DNN does need "X" to compute grad. Second image I put is description of what I want it to be . The first one is how it works right now

[2019-07-03 17:32] LinXiyao commented on #16285
但是没有一个可用的便捷方法吗？由Variable得到np.array应该是一个比较通用的需求啊

[2019-07-04 02:10] junjun315 commented on #18474
optimizer 一般是一个class，应该没有状态信息。如果有需要保存的中间变量，可以把这个var设置成persistable的方式来进行保存、加载和恢复。
也可以重载一下这个optimizer类，按照刚才说的设置一些需要保存的变量作为输入，来实现自己的优化过程。

[2019-07-04 02:11] yeyupiaoling commented on #18474
@junjun315 具体 应该如何做呢？

[2019-07-04 02:14] tink2123 commented on #18476
已定位问题，在eval模块使用了新的op，导致unique_name在通过eval之后增加1。

[2019-07-04 02:16] #18408 closed, assigned to qingqing01

[2019-07-04 02:16] yeyupiaoling commented on #18435
@qingqing01
1. 训练中的测试结果是正确的
2. 我的觉得没有错，但是错误的确存在，你可以运行上面的两个例子，就可以复现问题了
3. 模型是没有错的，我主要是测试使用 CompiledProgram 的用法和异步读取数据的方式。

[2019-07-04 02:24] yeyupiaoling opened #18487 "PaddlePaddle训练图像一定要CHW和BGR顺序吗？"
# 环境
 - PaddlePaddle 1.5

# 问题
PaddlePaddle训练图像一定要CHW和BGR顺序吗？
能其他的吗？
例如我用CV2读取的图像是WHC，还转换吗？

[2019-07-04 02:29] junjun315 commented on #18474
参考这个模型里对于optimizer的处理，https://github.com/PaddlePaddle/models/blob/43cdafbb97e52e6d93cc5bbdc6e7486f27665fc8/PaddleCV/face_detection/train.py#L53 有保存和使用decay信息

[2019-07-04 02:36] walloollaw commented on #18298
确认，在paddlepaddle-gpu.1.4.1验证通过

[2019-07-04 02:36] #18298 closed, assigned to JiabinYang

[2019-07-04 02:38] kangzhangqi commented on #18337
原因疑似为**paddle与brpc的不兼容问题**。我**把paddle的predictor克隆到了brpc每个bthread的线程变量中**，用bthread_getspecific和bthread_setspecific设置，不清楚bthread的运行机制；可能这样也是线程不安全的。目前通过自己写pthread的pthread_mutex_t对每个predictor一对一加锁绕开该问题。不知道是否有baidu-rpc的bthread与paddle完美配合使用的案例？

[2019-07-04 02:40] yeyupiaoling commented on #18474
@junjun315 这里只介绍了模型的保存和加载预训练模型
https://github.com/PaddlePaddle/models/blob/43cdafbb97e52e6d93cc5bbdc6e7486f27665fc8/PaddleCV/face_detection/train.py#L181
https://github.com/PaddlePaddle/models/blob/43cdafbb97e52e6d93cc5bbdc6e7486f27665fc8/PaddleCV/face_detection/train.py#L158-L161

并没有介绍 optimizer 的保存和恢复

[2019-07-04 02:40] shippingwang commented on #18432
循环里加入 已解决

[2019-07-04 02:40] #18432 closed, assigned to wanghaoshuang, shippingwang

[2019-07-04 02:59] AWSWXY opened #18488 "v1转成fluid，auc存在0.5的效果差异"
v1转成fluid，auc存在0.5的效果差异。
代码线下提供

[2019-07-04 03:03] wopeizl commented on #18337
bthread我的理解来说是做到一个用户层面的函数调度机制，借用了一些thread的概念，实际上两者是不对等的。paddle只要做到线程隔离就可以，用bthread按说不会有什么问题，但是一个线程只要一个predictor就好，也就是说bthread不需要去clone一个predictor，直接用那个predictor就好。

[2019-07-04 03:18] Superjomn commented on #18478
线下跟进

[2019-07-04 03:18] #18478 closed, assigned to nobody

[2019-07-04 04:07] junjun315 commented on #18487
主要是看对应的op里对于读入数据的处理方式。如果是WHC的格式的，在处理的时候可能不符合目标

[2019-07-04 04:14] junjun315 commented on #18474
`optimizer = fluid.optimizer.RMSProp(
            learning_rate=fluid.layers.piecewise_decay(boundaries, values),
            regularization=fluid.regularizer.L2Decay(0.0005),
        )`

类似这里，learning_rate是从参数里拿到的，在save时也会随着program保存。 optimizer class一般没有暂态信息，只是随着初始化参数不同来进行处理。所以可以通过保存参数，然后恢复参数，把参数传入构建optimizer class来进行恢复

[2019-07-04 06:15] junjun315 commented on #18474
我理解你的诉求了。整个optimizer当前paddle框架中没有提供保存的方法，您可以使用如pickle一类的方式来保存这个对象。

[2019-07-04 06:19] yeyupiaoling commented on #18474
@junjun315 嗯嗯，如果自己手动保存，自己计算再恢复，有点麻烦。如果能像动态图那样保存模型就好了。

[2019-07-04 06:19] #18474 closed, assigned to nobody

[2019-07-04 06:19] yeyupiaoling commented on #18487
@junjun315 嗯嗯，明白，刚才验证过了。

[2019-07-04 06:19] #18487 closed, assigned to nobody

[2019-07-04 06:20] DDDivano commented on #18476
fixed in https://github.com/PaddlePaddle/models/pull/2699

[2019-07-04 06:20] #18476 closed, assigned to DDDivano, JiabinYang, sneaxiy

[2019-07-04 06:29] jiangjiajun opened #18489 "官网提供的Windows预测文档说明不全"
http://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/windows_cpp_inference.html

文档中提到『解压Paddle，Release，fluid_install_dir压缩包』，但在文档中并没找到相应压缩包的下载链接。
希望提供在Windows下各类环境（cuda8.0， 9.0）的paddle预测库

[2019-07-04 07:31] imistyrain opened #18491 "Mac 1.5版本python2.7下用VSCode运行代码报RuntimeError: already started"
- 标题：Mac 1.5版本python2.7下用VSCode运行代码报RuntimeError: already started
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号 1.5
    2）CPU：厂内标配i5, 无mkl
    3）GPU：无
    4）系统环境：Mac OS 10.14
之前用1.4版本在VSCode运行的好好的代码，在VSCode里跑报RuntimeError: already started, 在外面单独跑的话没问题，用python3.5在VSCode里跑也没问题
[code]

[2019-07-04 07:42] jinyuKING opened #18494 "关于layers中matmul做运算的疑问"
**环境**：paddle-1.4.1
           python3.6.5
           cpu
**问题**：打算做两个一维矩阵的乘法计算，使用numpy自带函数np.matmul()做计算可以直接得出结果，代码如下：
import numpy as np
a=[1,2,3,4]
b=[4,3,2,1]
result=np.matmul(a,b)
print(result)
使用fluid.layers中的matmul()计算出现报错，请问需要怎么修改，感觉官网的这个op的解释看不明白，代码如下：
import paddle.fluid as fluid
import numpy as np
a = fluid.layers.create_tensor(dtype='int64', name='a')
b = fluid.layers.create_tensor(dty

[2019-07-04 07:44] dancingpipi opened #18495 "fluid inference: CPU预测结果不稳定"
使用fluid 1.4和1.5做inference时，发现使用CPU计算的时候，结果有些不稳定，误差在1e-3左右。
使用相同的数据执行CPU的inference，结果如下：
第一次运行：
![image](https://user-images.githubusercontent.com/20511825/60648401-6e917e80-9e72-11e9-9b69-671c6b6259fd.png)
第二次运行：
![image](https://user-images.githubusercontent.com/20511825/60648412-76e9b980-9e72-11e9-9c98-3a953ce1e84c.png)
第三次运行：
![image](https://user-images.githubusercontent.com/20511825/60648428-

[2019-07-04 08:55] wlxy opened #18498 "用DSSM模型构建多分类报错"
主代码修改如下：
![image](https://user-images.githubusercontent.com/22311242/60653323-65a5aa80-9e7c-11e9-98da-55e40b35181c.png)
错误日志：
![image](https://user-images.githubusercontent.com/22311242/60653381-82da7900-9e7c-11e9-9332-1fadb8e7c28b.png)

欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版

[2019-07-04 08:58] hectorgui opened #18499 "训练多卡有问题，报错没有明显指向。"
1）PaddlePaddle版本：1.4
2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
3）GPU：Tesla K40m CUDA Version 8.0.44 CUDNN 6.0.5
4）系统环境：CentOS release 6.3 (Final) Python 2.7.3
- 训练信息
    1）单机/4卡
    2）12g
    3）Operator信息

------------------------------------------------
memory_optimize is deprecated. Use CompiledProgram and Executor
W0704 16:43:32.566367 23971 device_context.cc:261] Please NOTE: device:

[2019-07-04 09:07] junjun315 commented on #18499
请贴一下最小复现代码。 另外，1.4版本我们提供了cuda8 cudn7以及cuda8 cudn5的包，您用的是哪一个包？

[2019-07-04 10:06] wopeizl commented on #18472
zero_output = paddle.fluid.layers.zeros(shape=ie_input.shape, dtype=input.dtype)
shape应该跟false分支输出一致

[2019-07-04 10:16] junjun315 commented on #18498
auc只支持二分类，不支持多分类问题，可以换用其他的评价方式。

[2019-07-04 10:17] Superjomn commented on #18495
模型配置补充下吧

[2019-07-04 10:18] junjun315 commented on #18494
代码里有两个问题
1. matmul 不支持int 64类型
2. matmul 对于shape有特定的要求。尝试修改如下：

import paddle.fluid as fluid
import numpy as np

a = fluid.layers.data(name='a', shape=[3, 4, 1, 5], dtype='float32')
b = fluid.layers.data(name='b', dtype='float32', shape=[3, 4, 5, 3])
y = fluid.layers.matmul(a, b)

place = fluid.CPUPlace()
exe = fluid.Executor(place)
exe.run(fluid.default_startup_program())

a1 = np.ones([3, 4, 1,

[2019-07-04 10:22] junjun315 commented on #18489
感谢反馈，我们安排在后续版本发布window下预测库压缩包

[2019-07-04 12:33] liupluswei opened #18501 "模型训练fetch结果为nan"
paddlepaddle 1.5 版本，运行结果fetch 出来为nan

复现步骤:
git clone https://github.com/advboxes/AdvBox.git

wget http://paddle-imagenet-models-name.bj.bcebos.com/ResNet50_pretrained.tar
tar -xvf ResNet50_pretrained.tar

运行：
`
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import os
import cv2
import time
import sys
import math
import numpy as np
imp

[2019-07-04 12:41] xuzhenglei1991 opened #18502 "模型保存、lodtensor截断问题"
当前的训练方法为
网络模型：input_word->embedding->gru->fc->crf，
现在是128维的embedding，我想将一些其他特征（26维向量表示）接在embedding产出后面。
我是否需要将输入拆成两个part，第一个part给embedding，将第二个part接在embedding产出的lodtensor后面。这样有一个问题就是如何将lodtensor拆成两个part，如何将两个lodtensor接在一起，而且有一个是FP32类型的，另一个是INT64类型的。
示例程序是https://github.com/baidu/lac/blob/master/python/

[2019-07-04 13:09] liupluswei commented on #18501
BN在实现上可能会有些问题，正在排查中，暂时可以通过把BN的use_global_stats=True来绕过

[2019-07-04 14:30] junjun315 commented on #18502
当前的embedding，包括后续的操作应该都不支持这样的。因为涉及不同数据类型的对象。有没有可能拆分成真正的两个variable？ 需要注意的是一个program里只支持一个embedding

[2019-07-04 14:37] xuzhenglei1991 commented on #18502
lodtenser赋值、添加数据 这些操作有没有说明文档呢

[2019-07-04 14:42] junjun315 commented on #18502
http://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/basic_concept/lod_tensor.html 查看这个

[2019-07-04 17:06] jczaja commented on #17960
I have checked that some ops eg. LeakyRelu grad have proto maker implemented, as grad does need X as input. So if you could point to info on implementing grad proto maker (I want all mkl-dnn activation grad ops to have X as input) that would be good.

[2019-07-04 18:13] Bond-H opened #18506 "GPU多卡模式下出现异常"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    3）GPU：K40m，Cuda8.0，cuDNN5.1
    4）系统环境：CentOS6.3， Python2.7
- 训练信息
    1）单机单卡模型能正常训练，单机多卡模型出现异常。

**单卡模型主要代码如下**

    `
    pyreader = fluid.layers.py_reader(
            capacity=50,
            shapes=([-1, 1], [-1, 1]),
            dtypes=('int64', 'int64'),
            lod_levels=(1, 1),
            name=pyreader_name,
            use_double_buffer=Fal

[2019-07-05 02:00] imistyrain commented on #18506
提示里已经有了:Failed to find dynamic library: libnccl.so
缺nccl的库，多卡计算时才需要的

[2019-07-05 02:08] wawltor opened #18508 "paddle在MPI集群上训练发现GRPC error后Pserver挂掉"
目前使用的reader是从redis集群实时的抽取训练数据，在前几个batch可能出现获取batch时间较长的问题

出现如下的错误：
F0704 22:23:29.637022  9426 grpc_client.cc:414] GetRPC name:[graphsage_mean_1_l.b_0], ep:[10.104.150.34:62003], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
*** Check failure stack trace: ***
    @     0x7fa21b49cb6d  google::LogMessage::Fail()
    @     0x7fa21b4a061c  google::LogMessa

[2019-07-05 02:11] imistyrain commented on #18499
cudnn版本不对，用paddle show或者pip list看下用的是哪个版本，换成cudnn7吧

[2019-07-05 02:17] wangguibao commented on #18395
暂时先关闭，如有需要可以再打开issue

[2019-07-05 02:18] #18395 closed, assigned to wangguibao

[2019-07-05 02:20] wangguibao commented on #18412
线下和用户沟通，反馈同样的网络在v2上是可以训练没问题的。我建议用户再diff一下网络在v2和fluid上实现有哪些细节上不同，或者可以提需求让paddle团队支持网络打平。

用户说自己先调一下超参什么的

[2019-07-05 02:24] junjun315 commented on #18400
requirement里已经增加了关于python3.5对应matplot版本的限定，唯一可能的问题是本地setuptools版本过低导致安装时无法正确识别条件判断。

复现问题发现执行pip install -r 能执行requirement安装，但是在setup_tools 里没有走正确的分支。 继续跟进

[2019-07-05 02:31] qingqing01 commented on #16244
已完成，关闭~

[2019-07-05 02:31] #16244 closed, assigned to gavin1332, wanghaoshuang, qingqing01

[2019-07-05 02:32] qingqing01 commented on #16328
@dubhex  PaddleGAN已提供AttrGAN模型，请参考，v1.5也提供了fluid.gradients接口，故关闭该Issue。

[2019-07-05 02:32] #16328 closed, assigned to nobody

[2019-07-05 02:33] kolinwei commented on #18499
@hectorgui 你机器上多卡间的p2p开了吗？可以用cuda下的样例程序验证下 samples/0_Simple/simpleP2P

[2019-07-05 03:08] Gaffey opened #18510 "Switch输出结果dim存在问题"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU：-
    3）GPU：v100
    4）系统环境：python2.7

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
相关代码
[code]
调试信息
[code]
打印结果conv1和conv2的shape是相等的，为什么会报rank x小于rank y的错误呢？
如果顺序对调是正常的
[code]

[2019-07-05 03:14] Gaffey commented on #18510
我发现了问题，是conv1实际上的channel数应该是3L，但为什么打印出来是224L呢？

[2019-07-05 03:48] yeyupiaoling commented on #16644
@guoshengCS 您好，我最近刚好做多分类的二分类，我的分类有260种，我按照你上面说的网络的最后一层全连接层去掉softmax，大小设置为260
[code]

然后使用的 sigmoid_cross_entropy_with_logits 获取损失函数，
[code]

最后我使用预测模型预测图像，得到的输出是
[code]

这样的输出，我怎么知道这个二分类是0，还是1呢？

[2019-07-05 04:12] Gaffey commented on #18472
将两个layer都替换成同样的conv，仍然报该错误

[2019-07-05 04:41] miraclebiu commented on #18464
没有作用，仍然出现

[2019-07-05 04:43] NHZlX commented on #18405
本地复现问题，解决中

[2019-07-05 04:43] qingqing01 commented on #16323
已无该问题

[2019-07-05 04:43] #16323 closed, assigned to qingqing01

[2019-07-05 05:13] frankwhzhang commented on #18508
本地mpi 可以跑通吗

[2019-07-05 05:17] wawltor commented on #18508
可以跑通的 因为怀疑是reader过长 我这边已经设置了FLAGS_rpc_deadline， FLAGS_rpc_deadline=3000000 CPU_NUM=5 python cluster_train.py --is_sparse --is_distributed

任务提交上去后还是不work

[2019-07-05 05:17] wawltor commented on #18508
可以跑通的 因为怀疑是reader过长 我这边已经设置了FLAGS_rpc_deadline， FLAGS_rpc_deadline=3000000 CPU_NUM=5 python cluster_train.py --is_sparse --is_distributed

任务提交上去后还是不work

[2019-07-05 05:37] DDDivano opened #18516 "cross_entropy报错"
paddle1.5.0
GAN模型，判别器返回的是下图所示的tensor
![image](https://user-images.githubusercontent.com/10734244/60699686-a1497e80-9f27-11e9-844f-3b96c12cc332.png)
网络结构没有FC，返回的就是一个[batchsize, 1, 1, 1]维度的tensor。我这里batchsize填的是2.经过reshape变成了[batchsize,1]。
`x = self.conv1(inputs)
x = fluid.layers.leaky_relu(x)
x = self.conv2(x)
x = self.BN1(x)
x = fluid.layers.leaky_relu(x)
x = self.conv3(x)
x = self.BN2(x)
x = flui

[2019-07-05 05:43] wlxy opened #18517 "想用dssm做多分类，但不知道如何实现"
求助：
想利用dssm做多分类，实现用户的点击、展现、未展现的多分类。

为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出

[2019-07-05 05:49] ceci3 commented on #18516
您好，在定义real_label的时候定义label的类型是float32试下~， real_label = np.ones(shape=[batch_size, 1]).astype("float32")

[2019-07-05 05:51] DDDivano commented on #18516
![image](https://user-images.githubusercontent.com/10734244/60700862-0010f700-9f2c-11e9-9b81-ac0f153a58ab.png)

[2019-07-05 05:54] guoshengCS commented on #16644
对输出结果使用sigmoid就可以得到属于每隔类别的概率了

[2019-07-05 05:57] ceci3 commented on #18516
cross_entropy里有个属性soft_label还需要设为True ，然后定义label的类型为float32

[2019-07-05 06:09] DDDivano commented on #18516
多谢，现在不报错了，但是为什么mnist就可以设置整数，而我那么设置就不行呢？

[2019-07-05 06:09] yeyupiaoling commented on #16644
@guoshengCS 恩恩，使用sigmoid激活函数就好了
[code]

[2019-07-05 06:12] yeyupiaoling commented on #16644
@guoshengCS 但是输出的结果有问题，这些概率都很小。这是什么原因呢？会不会数据集过小的问题。我这里有5000张图像
[code]

[2019-07-05 06:12] ceci3 commented on #18516
因为你的模型里判别器返回的是float类型的，所以label需要设为float类型的。mnist返回的应该是int类型的数字，所以对应的label也应该是整型~

[2019-07-05 06:18] DDDivano commented on #18516
Mnist返回的是[batchsize,10]的数据，10中每一位对应每一个数的概率，也是float型的。

[2019-07-05 06:20] ceci3 commented on #18516
那您那边有代码吗？我看下具体的使用然后回答您

[2019-07-05 06:48] wanghaoshuang commented on #18517
最新fluid API没有实现DSSM, 可以参考之前版本的文档：https://github.com/PaddlePaddle/models/blob/8bca0e4311b444a61024c2a5dd755a22b47487da/legacy/dssm/README.md

[2019-07-05 06:54] Gaffey commented on #18510
补充错误
修改两个switch case的代码，改成一致的layer，后文输入其他layer的时候，输入纬度被识别为1
[code]
错误信息
[code]

[2019-07-05 07:17] chengduoZH commented on #18205
@DianaZhang 你这种修改是没有问题，猜想问题是出在您的运行环境。NV在CUDA10.1才推出对ubunut18的支持。您的环境是ubuntu18 + cuda9，所以有可能是有问题的。
另外您使用的GPU卡是不一致的，不确定这样是否可以行。

[2019-07-05 07:21] 0YuanZhang0 commented on #18464
我也遇到相同的问题，请问这个问题有解决方案了吗

[2019-07-05 07:25] ceci3 commented on #18516
cross_entropy如果soft_label设置为False和设置为True，走的是不同的op，设置为False的话op里面会对label做一个one hot

[2019-07-05 07:26] #18516 closed, assigned to ceci3

[2019-07-05 07:28] chengduoZH commented on #18205
@DianaZhang 你直接运行下面这段代码试试？
[code]

[2019-07-05 08:02] heavengate commented on #18464
该问题我本地有复现，定位中

[2019-07-05 08:22] wojtuss commented on #18005
@luotao1 , @bingyanghuang
We will try to reproduce the issue on our side and look for a solution for it by the end of WW31

[2019-07-05 08:25] bingyanghuang commented on #18005
This week is WW27, so WW31 is about the beginning of the August.

[2019-07-05 08:27] #18279 closed, assigned to NHZlX

[2019-07-05 08:35] MaxLingwei opened #18519 "create_py_reader_by_data数据读取问题"
在slurm集群训练，采用单节点多卡的模式，读取数据的方式如图
![image](https://user-images.githubusercontent.com/14048056/60709304-aff15f00-9f42-11e9-89f2-44cc34ca1203.png)
报错
![image](https://user-images.githubusercontent.com/14048056/60709351-c8617980-9f42-11e9-91d9-0ca56d0037a8.png)

[2019-07-05 08:37] JiaoZiLang opened #18520 "【图片分类】是否支持负样本类型训练"
如题，在训练图片分类中，出现了部分 bad case，请问是否支持负样本的训练调优？

[2019-07-05 08:40] Kevinlsy commented on #18232
@kuke 换了nccl2.3.5版本还是有问题，双卡可以了，但是3卡，4卡还是会报同样的错误。同样的nccl换了一个相同显卡配置的机子，连双卡也不行了。（好诡异。。）
PC: @                0x0 (unknown)
*** SIGSEGV (@0x50) received by PID 12833 (TID 0x7f56686c9700) from PID 80; stack trace: ***
    @     0x7f56682a0160 (unknown)
    @     0x7f54bff14ea7 freeRing()
    @     0x7f54bff09c20 commFree()
    @     0x7f54bff10cc5 ncclCommInitAll
    @     0x7f561a1cd190 paddle::platfo