[2018-06-05 11:09] dzhwinter commented on #11203
The result
[code]

[2018-06-05 11:31] shiyazhou121 commented on #11061
@wanghaoshuang 我刚刚用 cpu_count() / 2 又试了下，还是用了4个小时。有什么经验吗。。。因为实验一次耗时太久了。。

[2018-06-05 11:32] jacquesqiao commented on #11194
ok

[2018-06-05 11:32] #11194 closed

[2018-06-05 11:35] Superjomn commented on #11186
这个模型是用了 RNN吗?

[2018-06-05 11:40] jacquesqiao commented on #11179
有的 http://paddlepaddle.org/docs/0.11.0/api/en/api/v2/config/layer.html#permalink-10-img_conv
image_conv layer有个参数 trans，如果设置成true，就是反卷积。

[2018-06-05 11:41] tensor-tang commented on #11185
After debugging we can found there is a flag to choose how much memory we would like to use at the first time. Default it would use about 3.2%(1/32) of your total memory.

usage:
[code]

The track back should be like this:

https://github.com/PaddlePaddle/Paddle/blob/666c94e3be10c2290eb143fdff208684e9ee34fe/paddle/fluid/platform/cpu_info.cc#L26-L28

https://github.com/PaddlePaddle/Paddle/blob/666c

[2018-06-05 11:47] jacquesqiao commented on #11193
test目前就是会跑全部的数据，他会读取所有数据跑完之后出一个统计结果

[2018-06-05 11:54] jacquesqiao commented on #11179
https://github.com/PaddlePaddle/Paddle/blob/d02a68c4472d3b85559f82c026896bf2cf563b07/python/paddle/trainer_config_helpers/layers.py#L3021

[2018-06-05 11:54] #11179 closed

[2018-06-05 11:56] jacquesqiao commented on #11178
v2接口还是fluid呀

[2018-06-05 12:02] jacquesqiao commented on #11195
[code]
从日志可以看出来，编译paddle的时候和运行paddle的时候cudnn版本不一致。

[2018-06-05 12:03] #11195 closed

[2018-06-05 12:03] #11193 closed

[2018-06-05 12:06] tensor-tang commented on #11185
@ChinaLiuHao
The abort issue, we can open another issue to discuss it. Thanks.

[2018-06-05 12:06] #11185 closed

[2018-06-05 12:10] jacquesqiao commented on #11196
set
[code]
to see more logs.

[2018-06-05 12:30] chengduoZH commented on #11013
把batch_norm里面参数的learning_rate设成0就可以了：
[code]

[2018-06-05 13:49] jacquesqiao commented on #11186
请先排查下protobuf的潜在问题。

[2018-06-05 13:57] velconia opened #11206 "Add distributed training robust cases into fluid benchmark test"
the PaddlePaddle robust feature combination includes:

Parallel Executor | slice_var_up | sync_mode | Place | Parameters Update Method | Trainer Count | model | LearningRate Decay | Regularization | Gradient Clipping | Error Clipping
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
True | True | True | GPU | pserver | 2 | Mnist | True | L1 | True | True
False | False | False | CPU | nccl2 |  

[2018-06-05 16:36] #10298 closed

[2018-06-05 16:48] #11173 closed

[2018-06-05 17:37] sidgoyal78 commented on #11144
Fixed with #11168 and #11172

[2018-06-05 17:37] #11144 closed

[2018-06-05 21:41] emailweixu opened #11209 "Parameter sharing"
The current way of sharing parameter between two parts of a model is to use the same full name of the parameter. This can become very cumbersome for sharing large models. There are two ways of achieving parameter sharing:

1). object oriented approach. This is used by PyTorch (https://pytorch.org/tutorials/beginner/blitz/neural_networks_tutorial.html#define-the-network). Currently, our reinforceme

[2018-06-05 22:21] daming-lu opened #11210 "PaddlePaddle Crashed"
This could be due to not enough memory in GPU

[code]

[2018-06-06 02:06] typhoonzero opened #11213 "Add unit test for dist transpiler to test multiple cases"
Need to add unit test for dist transpiler to test multiple cases have expected behavior:

* have learning rate decay
* have L1/L2 Decay
* have gradient clipping
* have error clipping

[2018-06-06 02:07] panyx0718 commented on #11209
Looking at the test, it seems we need to set the same name in ```param_attr``` to share parameter. Simply setting ```name``` doesn't work because the NameGenerator will generate unique suffix.

Another way is to use a ```unique_name.guard``` and new generator. In some way, we can make different layers have the same parameter name. However, I heard there is a side-effect that make unrelated temp va

[2018-06-06 02:12] seanxh opened #11214 "Paddle fluid dynamic_gru与主流实现不一致"
最近我在尝试将keras/mxnet的模型导入fluid。发现fluid的gru实现与主流不太一致。

[fluid gru文档](http://www.paddlepaddle.org/docs/develop/api/fluid/en/layers.html#dynamic-gru)
![image](https://user-images.githubusercontent.com/5815297/41011798-188a348c-6971-11e8-88f0-dd75f15bfa65.png)

其中![](http://latex.codecogs.com/gif.latex?h_t=\(1-u_t\)*h_{t-1}+u_t*\\overset{\\sim}{h_t}) 的前后顺序颠倒了。

文档中引用 的那篇Paper引用的A gated recurrent unit (G

[2018-06-06 03:07] zhxfl opened #11216 "显存 独占开关"
开发op的过程中，显卡上面只要有同学在使用，实际只占用了几百兆的显存，对应卡就跑不起来，paddle是否有开关可以指定使用显存的上界，可以调试模式下不需要独占显卡

[2018-06-06 03:09] zhxfl commented on #11088
目前暂时通过避免修改公用的头文件来减少编译依赖，可以节省编译时间，问题不大；多谢~

[2018-06-06 03:12] #11192 closed

[2018-06-06 03:14] memeda opened #11217 "CAPI下， GTEST 中多个TEST case中包含paddle_xxx_create 时paddle内存错误出core"
# # 问题

CAPI下，用GTEST测试数据填充，突然发现，如果两个TEST里均包含paddle_xxx_create时，第二个就会报错，报错的内容如下：
![image](https://user-images.githubusercontent.com/5585818/41013901-ee4e72be-697a-11e8-9293-ebcb1d9a014d.png)

而且，如果我把这两个TEST CASE中的代码放到一个TEST case中，就不会报错了！ 请问这个是什么原因呢？

## UPDATE

怀疑是不是 paddle_matrix_create 的原因？

我以为这个函数会自己创建空间的，但是似乎没有？

[2018-06-06 03:17] TomorrowIsAnOtherDay commented on #11216
export FLAGS_fraction_of_gpu_memory_to_use=0.10
only use 10% gpu memory

[2018-06-06 03:28] #11088 closed

[2018-06-06 03:51] BigFishMaster opened #11219 "有些op只能在单元测试里找到，且没有对应文档或者说明。可否加个？"
https://github.com/PaddlePaddle/Paddle/blob/efc094f564092646a2f70998342b3f2c4991a2a4/python/paddle/fluid/tests/unittests/test_while_op.py

[2018-06-06 03:56] chenbblei commented on #11178
@jacquesqiao v2

[2018-06-06 05:15] panyx0718 commented on #11200
貌似两次出问题的地方不太一样

[2018-06-06 05:56] guoshengCS commented on #11214
目前fluid这个实现是为了和之前V2的一致，方便V2训练的模型到Fluid的迁移，而且确实有相关线上模型在从V2迁移使用。这个的修改可能还需要另行讨论，可否先行使用DynamicRNN封装一个。

[2018-06-06 06:02] guochaorong opened #11225 "P40 resnet 50 multi card random fail"
测P40上 resnet模型单机8卡跑不起来。（5,6,7,8卡都跑不起来）

run  model resnet50
cudaid
1,2,3,4,5,6,7
CUDA_VISIBLE_DEVICES
1,2,3,4,5,6,7

-----------  Configuration Arguments -----------
batch_size: 64
data_format: NCHW
data_set: flowers
device: GPU
gpu_id: 4,5,6,7
infer_only: False
iterations: 80
log_dir: ./
model: resnet_imagenet
pass_num: 5
skip_batch_num: 5
use_cprof: False
use_fake_data: True
use_nvprof: False

*

[2018-06-06 06:20] seanxh commented on #11214
明白。可以在GRU里增加一个参数，来选择是哪种实现，啊哈

[2018-06-06 06:37] luotao1 opened #11227 "paddle_manylinux_devel:cuda8.0_cudnn5 compiler error"
[code]
https://paddleci.ngrok.io/viewLog.html?buildId=37997&tab=buildLog&buildTypeId=Manylinux1_Cuda80cudnn5cp27cp27mu&logTab=tree&filter=all&_focus=4619
related PR: #11205
Reason: `CUDNN_POOLING_MAX_DETERMINISTIC` requires cudnn v6, so `paddlepaddle/paddle_manylinux_devel:cuda8.0_cudnn5` compilers error.

Since many internal services use cuda8.0_cudnn5, @dzhwinter @chengduoZH could you help see t

[2018-06-06 06:50] panyx0718 commented on #11225
single or multi machine?

[2018-06-06 06:51] panyx0718 commented on #11225
based on this PR?
https://github.com/PaddlePaddle/paddle-ce-latest-kpis/pull/34

[2018-06-06 07:03] guochaorong commented on #11225
对，， 于洋老师说查问题贴个pr方便看一点。

是单机 P40,

早上用的nccl这个版本能稳定跑4卡，现在只能跑单卡了。
目前的这个机器上貌似潘老师也在用？

| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|    0     69454      C   python                                       265MiB

[2018-06-06 07:10] tensor-tang opened #11231 "abort in multi-threads infer on CPU"
This is an issue started here https://github.com/PaddlePaddle/Paddle/issues/11185#issuecomment-394605215. @ChinaLiuhao

It would randomly aborted when use multi-threads.

[2018-06-06 07:20] guochaorong commented on #11225
重启了docker service， 又能跑4卡了。。。。。

[2018-06-06 08:13] mrysztow commented on #10765
@luotao1 Any ETA for this?

[2018-06-06 08:46] reyoung opened #11235 "test_listen_and_serv_op and test_concurrency on CI server are failed"
The Job URL is https://paddleci.ngrok.io/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=38032&_focus=6040

[2018-06-06 08:59] chengduoZH commented on #11225
建议排查一下是否是docker的问题

[2018-06-06 09:28] luotao1 commented on #10765
@mrysztow Discussed with @Superjomn and @tensor-tang, the newest design is:
- use an environment variable `export FLAGS_use_mkldnn=True` to control it.
- add `EnableMKLDNN` function (maybe rename it) in `paddle/fluid/platform/mkldnn_helper.h`
https://github.com/PaddlePaddle/Paddle/blob/406c1dd143a66b29e6f40675d0a207648b260e6c/paddle/fluid/inference/tests/test_helper.h#L136-L146
- call `EanbleMKLDN

[2018-06-06 09:30] wrchow opened #11239 "编译c-api问题"
编译c-api的demo总是报错：
[ERROR] fail to compile baidu/third-party/paddle-capi/output/bin/sequence_paddle ip:10.103.243.15
 err:/home/opt/gcc-4.8.2.bpkg-r4/gcc-4.8.2.bpkg-r4/sbin/../lib/gcc/x86_64-baidu-linux-gnu/4.8.2/../../../../lib64/crt1.o: In function `_start':
(.text+0x20): undefined reference to `main'
collect2: error: ld returned 1 exit status

[2018-06-06 09:42] dzhwinter commented on #11239
没写main函数。

[2018-06-06 09:42] #11239 closed

[2018-06-06 09:53] Aoseala opened #11241 "python3.6 pip 无法安装"
windows系统 运行 pip install  paddlepaddle 报错无法安装，错误信息：

 Could not find a version that satisfies the requirement paddlepaddle (from versions: )
No matching distribution found for paddlepaddle

[2018-06-06 10:48] dzhwinter commented on #9690
This issue has been fixed in the latest develop branch, Please reopen if it occurs again.

[2018-06-06 10:48] #9690 closed

[2018-06-06 10:52] dzhwinter commented on #4768
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 10:52] #4768 closed

[2018-06-06 10:53] dzhwinter commented on #3499
This issue is a proposal, which has been implemented in the latest develop branch. Please check it, please feel free to open it.

[2018-06-06 10:53] #3499 closed

[2018-06-06 10:53] dzhwinter commented on #3825
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 10:53] #3825 closed

[2018-06-06 10:55] dzhwinter commented on #5862
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 10:55] #5862 closed

[2018-06-06 10:55] dzhwinter commented on #5646
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 10:55] #5646 closed

[2018-06-06 10:56] dzhwinter commented on #6421
This issue has been fixed in the latest develop branch, Please reopen if it occurs again.

[2018-06-06 10:56] #6421 closed

[2018-06-06 10:56] dzhwinter commented on #6380
https://github.com/PaddlePaddle/Paddle/issues/6421

[2018-06-06 10:56] #6380 closed

[2018-06-06 10:57] dzhwinter commented on #6119
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 10:57] #6119 closed

[2018-06-06 10:58] dzhwinter commented on #6454
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 10:58] #6454 closed

[2018-06-06 10:58] dzhwinter commented on #6474
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 10:58] #6474 closed

[2018-06-06 10:58] dzhwinter commented on #6191
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 10:58] #6191 closed

[2018-06-06 10:59] dzhwinter commented on #6478
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 10:59] #6478 closed

[2018-06-06 10:59] dzhwinter commented on #6479
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 10:59] #6479 closed

[2018-06-06 11:00] dzhwinter commented on #6647
The benchmark job has been done.

[2018-06-06 11:00] #6647 closed

[2018-06-06 11:00] dzhwinter commented on #6649
The benchmark job has been done.

[2018-06-06 11:00] #6649 closed

[2018-06-06 11:00] dzhwinter commented on #6650
The benchmark job has been done.

[2018-06-06 11:00] #6650 closed

[2018-06-06 11:01] dzhwinter commented on #6656
The benchmark job has been done.

[2018-06-06 11:01] #6656 closed

[2018-06-06 11:01] dzhwinter commented on #8533
The benchmark job has been done.

[2018-06-06 11:01] #8533 closed

[2018-06-06 11:01] dzhwinter commented on #7929
The benchmark job has been done.

[2018-06-06 11:01] #7929 closed

[2018-06-06 11:02] qingqing01 opened #11246 "High level API的一些使用问题"
背景是要升级一些models里模型，遇到若干问题：

1.  如何使得test_program和train_program不同？
    - 问题：类似以下定义，如何只给test_program里加一些op，train_program里不加？
[code]
    - 当前内部实现问题：只从train_program里clone出来test_program。(**也没有加for_test=True，这样对有BatchNorm、Dropout的网络在测试时的行为是正确的吗？**)
        [self.test_program = self.train_program.clone()](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/trainer.py#L118)

2. 如何Load部分

[2018-06-06 11:03] dzhwinter commented on #6949
TThis issue has been fixed in the latest develop branch, Please reopen if it occurs again.

[2018-06-06 11:03] #6949 closed

[2018-06-06 11:03] typhoonzero commented on #11235
We need to fix and add back these two unit tests later.

[2018-06-06 11:04] dzhwinter commented on #6681
This issue give our a board view of call_once implementation in glibc, close it since it's not activated.

[2018-06-06 11:04] #6681 closed

[2018-06-06 11:06] dzhwinter commented on #7313
This issue has been fixed if load the correct version cuda.

[2018-06-06 11:06] #7313 closed

[2018-06-06 11:06] dzhwinter commented on #8763
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 11:06] #8763 closed

[2018-06-06 11:06] dzhwinter commented on #9012
This issue is a proposal, which has been implemented in the latest develop branch.

[2018-06-06 11:06] #9012 closed

[2018-06-06 11:07] dzhwinter commented on #10277
This issue is a proposal, close it since it is not activated.

[2018-06-06 11:07] #10277 closed

[2018-06-06 11:09] dzhwinter commented on #9467
Our model CE system has been lauched, please see the website on http://ce.paddlepaddle.org/

[2018-06-06 11:09] #9467 closed

[2018-06-06 11:15] dzhwinter commented on #11246
I can answer the question about memory optimize, we will apply the memory optimize to program by default, seems we didn't have the needs to export a high-level API.

[2018-06-06 12:03] panyx0718 commented on #11161
Fixed in https://github.com/PaddlePaddle/Paddle/pull/11083

[2018-06-06 12:03] #11161 closed

[2018-06-06 13:39] #11100 closed

[2018-06-06 14:15] velconia opened #11250 "Add document to describe the strategy of splitting parameter in distributed transpiler"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-06-06 14:36] tcwm1 opened #11251 "运行识别数字样例崩溃"
基于pip安装的Paddle
$paddle version
PaddlePaddle 0.12.0, compiled with
    with_avx: OFF
    with_gpu: OFF
    with_mkl: ON
    with_mkldnn: ON
    with_double: OFF
    with_python: ON
    with_rdma: OFF
    with_timer: OFF
$uname -a
Linux fb943f316d3a 4.13.0-36-generic #40~16.04.1-Ubuntu SMP Fri Feb 16 23:25:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

相关日志：
I0606 22:18:44.254832   344 Util.cpp:166] co

[2018-06-06 14:59] BigFishMaster commented on #11246
@dzhwinter opening the memory optimization will cause performance problem, which have not been solved. Thus, it is necessary to export an interface and set it False.

[2018-06-06 15:02] BigFishMaster commented on #11246
4. 如何进行每隔一定轮数的训练信息输出？
5.给定demo中的train_network()函数是无入口参数的，真实用的很多情况需要支持入口参数，这个接口不太灵活。
`
def train_network():
    predict = inference_network()
    label = fluid.layers.data(name='label', shape=[1], dtype='int64')
    cost = fluid.layers.cross_entropy(input=predict, label=label)
    avg_cost = fluid.layers.mean(cost)
    accuracy = fluid.layers.accuracy(input=predict, label=label)
    return [avg_cos

[2018-06-06 17:57] #11231 closed

[2018-06-06 18:39] emailweixu commented on #11209
I also feel 1) is better, that's why our RL framework choose to wrap around fluid for doing it. Perhaps we can support 1) while keeping compatibility with the current way.  And we can gradually changing existing code to using 1).

Anyway, parameter sharing is an important part of deep learning model. We should have a good solution. Otherwise the framework is a defected.

[2018-06-07 01:00] Aoseala commented on #11241
原来如此，谢谢

[2018-06-07 01:00] #11241 closed

[2018-06-07 01:07] #11227 closed

[2018-06-07 01:39] jacquesqiao commented on #11246
函数参数的问题，这个可以通过python的partial function来解决

[2018-06-07 01:44] dzhwinter commented on #11251
推荐docker解决环境问题，可否使用docker呢？

[2018-06-07 01:44] jacquesqiao commented on #10648
fixed

[2018-06-07 01:44] #10648 closed

[2018-06-07 01:45] dzhwinter commented on #11219
这些op是自动注册的，所以需要生成脚本支持。这块的l文档会在7.5之前做完。

[2018-06-07 01:55] dzhwinter commented on #11217
请提供一下你的测试代码？

[2018-06-07 01:56] guochaorong opened #11254 "teamcity CI 数据容错机制"
6月6号晚上teamcity db 被删除， 历史build数据丢失。

### 原因分析：
在6月6号晚上11:30分开始， teamcity db异常：
org.springframework.transaction.CannotCreateTransactionException: Could not open JDBC Connection for transaction; nested exception is java.sql.SQLException: Connection to 172.19.32.197:5432 refused.

平均每分钟4000多个db连接异常日志。日志持续到晚上11:54分，
server上同时还有大量和其他agent的rpc，

推测这个时候teamcity db  所在docker stop掉。

我们teamcity server机器上cr

[2018-06-07 02:40] guochaorong opened #11256 "paddle python代码扫描问题列表"
http://bugbye.baidu.com/taskinfo/1130958
其中有一些应该是有问题

1． 两个未定义就使用的变量

![correct](https://user-images.githubusercontent.com/32069604/41075395-0899dc48-6a3f-11e8-8294-275c29622c1e.png)

![total](https://user-images.githubusercontent.com/32069604/41075402-116c9748-6a3f-11e8-9d0a-a779f703c136.png)

2. v2 很多个feeder(data)，  是不是正确用法？

![v2](https://user-images.githubusercontent.com/32069604/41075411-19b4

[2018-06-07 02:45] guochaorong opened #11257 "paddle c代码扫描问题列表"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-06-07 03:03] ccmeteorljh opened #11259 "fluid_benchmark 运行加入----use_reader_op参数，启动psserver失败"
测试pr #11121 启动多机训练，启动psserver脚本如下，出错：
export FLAGS_fraction_of_gpu_memory_to_use=0.0
export PADDLE_TRAINING_ROLE=PSERVER
export PADDLE_PSERVER_PORT=5002
export PADDLE_PSERVER_IPS=10.255.123.15,10.255.123.16
export PADDLE_TRAINERS=2
export PADDLE_CURRENT_IP=10.255.123.15
export PADDLE_TRAINER_ID=1
python fluid_benchmark.py --model resnet  \
--data_set flowers --use_reader_op --memory_optimize \
--i

[2018-06-07 03:11] typhoonzero commented on #11259
program中包含reader op然后执行transpile就会报错。需要修复。

[2018-06-07 03:31] walloollaw commented on #11196
after set
[code]
not found any useful info, detail log has been uploaded [here](https://pan.baidu.com/s/1MdGO8svQ9hibvTczMkrv1Q)

[2018-06-07 03:34] Aoseala commented on #1201
不支持python3的话 ，paddle估计要凉了

[2018-06-07 03:39] Superjomn commented on #11209
Yes, the object way is easier to understand for both python starter and expert.

[2018-06-07 03:44] Aoseala opened #11262 "呼吁paddle能够尽快支持python3"
目前新项目基本都是python3了，如果paddle不支持那等于放弃了未来！这损失真的很大，这么好的项目，希望能适应变化，持续推进。

[2018-06-07 04:05] tcwm1 commented on #11251
是的，是基于docker的。
宿主机系统是CentOS 7.3 x86_64
docker基础镜像基于jupyternotebook
python2基于Anaconda安装
paddle基于pip安装

[2018-06-07 05:06] panyx0718 commented on #10982
Should be fixed now, unless there are other leaks. Feel free to reopen it if it happens again

[2018-06-07 05:06] #10982 closed

[2018-06-07 05:53] xianming90 opened #11264 "use gpu train : Check failed: error == cudaSuccess (8 vs. 0) invalid device function"
python ver 2.7
pip ver: 10
cuda ver:9.1
cudnn ver:5.0

when use gpu train , error:
commandline:  --use_gpu=True --trainer_count=1
F0607 13:43:20.750947  2594 hl_gpu_matrix_kernel.cuh:181] Check failed: cudaSuccess == err (0 vs. 8) [hl_gpu_apply_unary_op failed] CUDA error: invalid device function
*** Check failure stack trace: ***
    @     0x7f44c7a53bcd  google::LogMessage::Fail()
    @     0x7f

[2018-06-07 05:54] ccmeteorljh opened #11265 "执行脚本参数iteration 超过recordio文件提供的batch数，出core"
pr #11121 **下单机8卡训练，启动脚本如下：**
python  fluid_benchmark.py --model resnet  --data_set flowers --use_reader_op --memory_optimize --iterations 20 --device GPU --gpus 8 --batch_size 64 --pass_num 1 --data_path recordio --no_test
**报错如下：**
*** Aborted at 1528350059 (unix time) try "date -d @1528350059" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x18529) received by PI

[2018-06-07 06:03] wrchow commented on #11239
跑的demo
 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/capi/examples/model_inference/sequence/main.c

[2018-06-07 06:12] seiriosPlus commented on #11264
如果是基于DOCKER来运行的， CUDA 和NVIDIA相关的一些SO文件有加载到容器中去么~

[2018-06-07 06:15] seiriosPlus opened #11266 "documentation about checkpoint"

[2018-06-07 06:33] panyx0718 opened #11268 "fluid_benchmark.sh crash"
![image](https://user-images.githubusercontent.com/2887803/41082112-c21e0a66-6a5f-11e8-8131-618682dbd9d9.png)

[code]

[2018-06-07 06:36] g7925836 opened #11269 "请教一下embedding的相关问题"
在paddle学习的中发现了一个问题。
usr_gender_id      = paddle.layer.data(name='gender_id', type=paddle.data_type.integer_value(2))
usr_gender_emb = paddle.layer.embedding(input=usr_gender_id, size=128)
usr_gender_fc     = paddle.layer.fc(input=usr_gender_emb, size=16)
这个代码中gender_id是一个int的整型，通过embidding变成了128维的向量，然后进行全连接变成16维的向量，容易理解。
在实际运用中发现，对不定长的int型如下：
content是一个不定长的int向量
content      = paddle.layer.data("c

[2018-06-07 06:40] Superjomn commented on #11264
感觉这是host GPU 环境问题，厂内的机器环境比较复杂，如果没有nvidia-docker的话，hack比较多且不通用，可以试试paddle cloud

[2018-06-07 06:43] Superjomn commented on #11264
paddle cloud 或者 阡陌，都有 paddle gpu的标准环境，可以优先试试。

[2018-06-07 06:45] coeasy commented on #7271
也在关注这个问题，希望帮忙看看的

[2018-06-07 06:45] Superjomn commented on #11269
这段代码来自哪个模型？

[2018-06-07 06:46] Superjomn commented on #7271
哪个版本？ fluid 还是 v2?

[2018-06-07 07:01] g7925836 commented on #11269
我们自己写了一个模型用于预测文本标签，也可以run起来，原始代码如下。
word_dim 和 emd_dim 都是固定值。
title_1是一个不定长向量。
        t_data = paddle.layer.data("title_1",
                             paddle.data_type.integer_value_sequence(word_dim))
        t_emb = paddle.layer.embedding(input=t_data, size=emb_dim)
        self.t_emb = t_emb
        t_in_1 = paddle.layer.fc(input = t_emb, size = emb_dim*2, act=paddle.activation.Linear())

[2018-06-07 07:04] Superjomn commented on #11269
你的意思是embedding 的output 也能 fc，比较奇怪是吧。

fc 会把每个 instance 做下fc，不是所有instance合起来做fc

比如，序列长度 3，经过 embedding的output，是 3 个 instance (word vec)

| | |

经过fc是还是 3 个 instance

| | |

两者机制不冲突

[2018-06-07 07:05] g7925836 commented on #11269
可以理解为分别处理是么？

[2018-06-07 07:08] g7925836 commented on #11269
就是title是N维int向量，embedding后变成N个128维向量。在全联接的时候N个128维向量自己进行全联接。结果有N个全联接的产出FC是么？

[2018-06-07 07:39] tensor-tang opened #11272 "allocator initial cpu memory usage is too large"
This is an issue related with #11185

Even we can use `fraction_of_cpu_memory_to_use` to work around, but it's still tricky and does not make sense that init memory with `max_chunk_size_` which it 3% memory.

`BuddyAllocator::PoolSet::iterator BuddyAllocator::RefillPool() `:
https://github.com/PaddlePaddle/Paddle/blob/6d80dd5a50f32db7c4353e52334bca7e8179d785/paddle/fluid/memory/detail/buddy_alloca

[2018-06-07 07:46] Superjomn commented on #11269
对，每个instance单独处理

[2018-06-07 07:47] April0402 opened #11273 "dotmul_operator error: different inputs have different size"
The error info is :  [CRITICAL 2018-06-07 15:22:18,569 layers.py:856] different inputs have different size: 1024 vs. 256
But I have print size of the two input layers of dotmul_operator layer, their size are both 1024.

This is the code:

    219 def get_p_attention(lstm_layer, p_emb_layer_list, attention_dim, hidden_dim, \
    220          fc_para_attr, lstm_para_attr, default_std):
    221     "

[2018-06-07 07:49] xianming90 commented on #11264
是实体机器来的，由于涉及到敏感数据，只能用本地机器。

[2018-06-07 07:51] Superjomn commented on #11273
lstm_layer 是啥？

[2018-06-07 07:51] g7925836 commented on #11269
好的，谢谢解惑

[2018-06-07 07:52] #11269 closed

[2018-06-07 08:01] ybbz opened #11274 "capi执行convert_protobin提示No module named paddle.utils"
使用的是sequence这个demo（Paddle/paddle/capi/examples/model_inference/sequence）

已经编译成功了，如下所示：
Scanning dependencies of target sequence
[ 50%] Building C object CMakeFiles/sequence.dir/main.c.o
[100%] Linking C executable sequence
[100%] Built target sequence

但是接下来执行sh convert_protobin.sh时，提示：
**/usr/bin/python: No module named paddle.utils**

再执行./sequence，提示：
I0607 16:01:59.184636 94092 Util.cpp:166]

[2018-06-07 08:12] Superjomn commented on #11274
是paddle没有安装？ 可以手动找到 paddle.utils 这个 python module 的路径么

[2018-06-07 08:15] ybbz commented on #11274
paddle不是已经作为lib（libpaddle_capi_shared.so）被编译了吗？还需要怎么安装？就是要在线上使用、无法单机安装paddle、所以才使用capi的

[2018-06-07 08:16] Superjomn commented on #11274
转proto这步是python的，需要python的paddle

[2018-06-07 08:29] April0402 commented on #11273
49     lstm_layer = paddle.networks.bidirectional_lstm(input=emb_mixed_layer, \
     50             size=hidden_dim, return_seq=True)

emb_mixed_layer是一个mixed，输入是一些embedding

[2018-06-07 08:39] Superjomn commented on #11272
Maybe an absolute memory usage is better for inference.

[2018-06-07 08:56] Superjomn opened #11279 "手动编译 paddle_fluid.so 之后用到application里出现链接错误"
按照
http://www.paddlepaddle.org/docs/develop/documentation/fluid/zh/howto/inference/build_and_install_lib_cn.html
里编译完的 `libpaddle_fluid.so` 编译了第三方上线应用，出现如下一堆链接错误

![image](https://user-images.githubusercontent.com/328693/41089163-bec6710a-6a73-11e8-8dac-6fa0bd96ddaf.png)

[2018-06-07 09:17] yeyupiaoling opened #11280 "在模型迁移时出现浮点异常"
在图像分类中，我使用VGG16训练了一个CIFAR-10的数据集的模型，然后我想把这个模型迁移到102个花卉的数据集上，我把模型参数文件的三个全连接层的文件删除了，然后重新打包，作为模型的初始化参数。然后进行训练，一开始是正常训练的，中途集报浮点异常了，怎么解决呢？

[code]

[2018-06-07 09:28] wojtuss opened #11282 "A script for ResNet-50 training with data augmentation"
Hi @luotao1 ,
Do you have a script for ResNet-50 training with data augmentation?

[2018-06-07 09:29] Superjomn commented on #11279
用下载的 libpaddle_fluid.so 没问题

[2018-06-07 09:36] Superjomn commented on #11279
用下载的 libpaddle_fluid.so 没问题

[2018-06-07 10:04] Superjomn commented on #11273
感觉是  `combined_input += ` 这里维度不一致

[2018-06-07 10:09] Superjomn commented on #11186
Reference https://github.com/PaddlePaddle/Paddle/issues/11279

[2018-06-07 10:27] luotao1 commented on #11282
https://github.com/PaddlePaddle/models/tree/develop/fluid/image_classification has scripts with data augmentation for other networks now, but for ResNet-50, we are still working on it. Discussed with @qingqing01 , we will finish this script before June 20th.

[2018-06-07 11:29] everyoung opened #11286 "fluid c-api tensorflow版本问题"
在C++项目里需要同时使用paddle(fluid)和tensorflow进行模型inference，
* paddle的c-api参照教程，[安装与编译c++预测库](https://github.com/PaddlePaddle/Paddle/blob/develop/doc/fluid/howto/inference/build_and_install_lib_cn.rst)
* tensorflow的lib使用bazel build //tensorflow:libtensorflow_cc.so

将两个预测库联编进项目时，出现protobuf版本冲突的问题，paddle的c-api默认使用protobuf3.1进行编译，tensorflow的库默认使用protobuf3.5进行编译；
请问，是否可以指定paddle c-api 编译时使用的protobuf版本（如3.5），如何

[2018-06-07 11:35] jaegerstar commented on #11262
我也觉得，都已经2018年了，还在用2

[2018-06-07 11:38] ybbz commented on #11274
赞，可以了

[2018-06-07 11:39] #11274 closed

[2018-06-07 11:49] kolinwei opened #11289 "分布式稳定性测试"
1.功能验证
   主要需要验证在不同的参数和运行条件时，多机功能的正常。需要考虑如下纬度：
   (1) 模型
        功能上，需要快速的验证，可以选用一个CNN模型，一个RNN模型。
        resnet50模型，flowers数据集。
        seqseq模型，wmt14数据集
   (2)多机训练规模
        采用两种规模：1个ps，2个trainer；2个ps，4个trainer。nccl用4个trainer
   (3) 训练相关配置
       同步和异步
       pserver和nccl2
       CPU和GPU
       其他一些训练参数。
   以上的纬度，进行组合测试，验证功能，主要关注训练速度、训练收敛。
2.持续稳定性验证
   验证对一些比较大的模型进行持续训练时的稳定情况。
   (1) 模型
       选

[2018-06-07 11:50] luotao1 commented on #11286
您好，如果是自己编译的话，可以直接修改源码里的版本号：
https://github.com/PaddlePaddle/Paddle/blob/391c27496680c55d6fad20aa9c3dbb35035396c7/cmake/external/protobuf.cmake#L230

[2018-06-07 11:51] JiayiFeng opened #11290 "A bug in ExecutionContext"
In our code, `ExecutionContext::HasInput` and `ExecutionContext::HasOutput` only checks whether a name is in an operator's input parameter list:

https://github.com/PaddlePaddle/Paddle/blob/3ff9ba0e6ba1eec282b6e89fb7bea2e2046f01c5/paddle/fluid/framework/operator.h#L193-L197

That's far from enough. We also need to check whether the corresponding variable really exists in the scope.

[2018-06-07 12:05] chenbblei opened #11291 "卷积问题求助"
conv3= paddle.layer.img_conv(
        input=conv2,
        filter_size=(3,3),
        num_channels=64,
        num_filters=128,
        stride=(1,1),
        padding=(1,1),
        act=paddle.activation.Linear(),
        bias_attr=False)

这一行代码有问题么？没加之前是正确的，一加上就不对了，conv2 通道64

[2018-06-07 12:28] wojtuss commented on #11282
@luotao1 Great! I will be awaiting the scripts.

[2018-06-07 12:48] #11290 closed

[2018-06-07 12:57] wrchow opened #11294 "编译capi出错"
序列化网络时出错：
Traceback (most recent call last):
  File "/home/users/zhouweiran/anaconda2/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/home/users/zhouweiran/anaconda2/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/home/users/zhouweiran/anaconda2/lib/python2.7/site-packages/paddle/utils/dump_config.py",

[2018-06-07 12:59] Superjomn commented on #11294
可以多一些信息？ 是softmax 用错了么

[2018-06-07 13:02] wrchow commented on #11294
我再训练的时候用的是
output = paddle.layer.fc(input=[conv_3, conv_4],
                      size=class_dim,
                             act=paddle.activation.Softmax())

为何capi里面是：
outputs(fc_layer(input=[conv_3, conv_4], size=class_dim, act=SoftmaxActivation()))

是版本不一样么？都是paddle.v2啊

[2018-06-07 13:06] April0402 commented on #11273
确实是这个问题，把mixed_layer的size改成一致就ok了，感谢感谢！

[2018-06-07 13:06] #11273 closed

[2018-06-07 14:11] coeasy commented on #7271
是 v2 版本的·

[2018-06-07 15:37] dzhwinter commented on #11251
没有线索，试试基于标准版的linux镜像可以跑吗(非jupyternotebook)

[2018-06-07 15:37] dzhwinter commented on #11251
如果以上办法不work，请提供一个可复现的docker image

[2018-06-07 17:01] danFromTelAviv commented on #7523
below is a keras ( python ) gated linear unit.
The use is :
net = glu_block(net, filter_len, dilation_rate)

def glu_block(input, filter_len, dilation_rate):
    num_filters_in = K.int_shape(input)[-1]
    conv_filter = Conv1D(num_filters_in, filter_len, dilation_rate=dilation_rate,
                         kernel_initializer='he_normal', padding="same")(input)
    gate_filter = Conv1D(num_filters

[2018-06-07 18:34] Haichao-Zhang commented on #10866
A related PR: https://github.com/PaddlePaddle/Paddle/pull/11297/files

[2018-06-07 19:52] agharibi opened #11298 "Unable to build Paddle from sources on RHEL/CentOS due to missing pthread library"
Hello,
I have been trying to build paddle in a docker container running RHEL 7.3. On the container, I installed `cmake3.11`, `swig`, `protobuf3.5`, `wheel`, `boost`, as well as all of the other dependencies in the `requirements.txt`. After running `paddle_build.sh`, the build fails with the following error message:

[code]
However, when evaluating the issue further in `Paddle/build/CMakeFiles/CMak

[2018-06-07 23:09] jetfuel opened #11299 "Image Classification Always Returns Cat."
Issue: Image Classification with Resnet will only infer category `3` (cat)

The training code as follow. The resnet_cifar10 is based on the [image_classification_test]( https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/book/test_image_classification.py) with some minor change.

After changing training with about 10 epochs, the accuracy during training is about 95%. When

[2018-06-08 00:02] jetfuel commented on #11299
It seems the current Inferencer has some bugs, when I switched to use `fluid.io.load_inference_model` to load the parameters, the inferring is back to normal.

[code]

[2018-06-08 00:27] Superjomn commented on #11294
有两者的代码片段或者链接么，看不懂描述的背景和疑问

[2018-06-08 01:28] #11268 closed

[2018-06-08 01:47] everyoung commented on #11286
还需要修改这一行：
[Paddle/cmake/external/protobuf.cmake](https://github.com/PaddlePaddle/Paddle/blob/391c27496680c55d6fad20aa9c3dbb35035396c7/cmake/external/protobuf.cmake#L192)
line 192
`-    SET(PROTOBUF_TAG "9f75c5aa851cd877fb0d93ccc31b8567a6706546")`
`+   SET(PROTOBUF_TAG "v3.5.0")`

[2018-06-08 02:10] luotao1 commented on #11286
@everyyoung 多谢指出，请问您的问题解决了么？

[2018-06-08 02:37] typhoonzero commented on #11289
其他的配置，用CI去做吧，放到CE的话跑一次时间太长了。验证的模型中，seq2seq包含稀疏embedding的话其实也可以覆盖稀疏场景的用例。

后续也需要加上分布式稀疏场景的验证。

[2018-06-08 02:51] chenbblei opened #11300 "卷积问题2"
conv_layer = paddle.layer.img_conv(
 33             input=input,
 34             filter_size=（11,41）,
 35             num_channels=num_channels_in,
 36             num_filters=num_channels_out,
 37             stride=(3,2),
(Pdb)
 38             padding=padding,
 39             act=paddle.activation.Linear(),
 40             bias_attr=False)

假设input是一个dense_arrary,大小为3*161=483，也就是它其实就是一个一行483维的数组

[2018-06-08 02:54] #10972 closed

[2018-06-08 02:58] everyoung commented on #11286
@luotao1 当前看，解决了。使用protobuf 3.5，编出的fluid c-api，示例程序能跑通。

[2018-06-08 03:03] Superjomn commented on #7271
@guoshengCS 你模型写的多，可以帮解答下吗。

@shanyi15 我们有这样的介绍吗，有好几个人问过，可能文档确实或者不明显。

[2018-06-08 03:19] cdj0311 opened #11301 "使用CPU版本出现GPU检测错误"
安装的CPU版本运行时出现检测CUDA的错误，请问怎么解决？？
F0608 11:16:34.948220 53502 hl_cuda_device.cc:565] Check failed: cudaSuccess == cudaStat (0 vs. 35) Cuda Error: CUDA driver version is insufficient for CUDA runtime version

[2018-06-08 03:37] seiriosPlus commented on #11301
是V2还是fluid

[2018-06-08 03:43] cdj0311 commented on #11301
@seiriosPlus V2

[2018-06-08 03:44] seiriosPlus commented on #11301
你有用use_gpu=True这样的参数么~

[2018-06-08 03:46] cdj0311 commented on #11301
@seiriosPlus 用的use_gpu=False

[2018-06-08 03:50] tcwm1 commented on #11251
基于jupyterhub/k8s-singleuser-sample:5d060de这个镜像跑的

[2018-06-08 03:50] panyx0718 commented on #11206
when this is done. I recommend adding more model variations to the suite

[2018-06-08 03:57] guoshengCS commented on #7271
是希望多种loss加权求和么，V2版本多目标loss设置方法可以参考这里 https://github.com/PaddlePaddle/models/blob/develop/image_classification/train.py#L53

[2018-06-08 04:11] guoshengCS commented on #7271
这个相当于为正负样本设置不同的权重吧，V2版本为样本设置权重的话可以增加一个data_layer，`paddle.layer.data(name='weight', type=paddle.data_type.dense_vector(1))`，然后把这个weight传给cross_entropy https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/trainer_config_helpers/layers.py#L6156 ，生成数据时每条样本加一个weight的field（正样本是[coeff1]，负样本是[coeff2]）

[2018-06-08 04:34] seiriosPlus commented on #11301
你把之前的版本卸载了重新装一下CPU版本的再尝试一下

[2018-06-08 04:41] cdj0311 commented on #11301
@seiriosPlus 试过了，不行，我用pip安装的

[2018-06-08 04:43] seiriosPlus commented on #11301
你是什么系统，我尝试一下

[2018-06-08 04:54] zzhzz opened #11303 "在Paddle中如何给激活函数传入参数？"
我看到Paddle有Hardshrink以及Softshrink函数，如何在fc层中指定这两个函数的lambda值？例如现在
fc_layer = fluid.fc(input=data, size=100, act='tanh')，如果想要换成hard_shrink函数该如何修改？

[2018-06-08 05:05] gongweibao opened #11304 "Cleanup `send_op.cc`"
1. The `send_op.cc` is not useful now!
2. Rename `recv` operator to `recv_vars` operator.

[2018-06-08 05:48] panyx0718 commented on #11289
这个issue不包含最终精度对奇？

[2018-06-08 06:04] cdj0311 commented on #11301
@seiriosPlus Centos7没有GPU

[2018-06-08 06:06] seiriosPlus commented on #11301
装的是什么版本的paddle

[2018-06-08 06:11] wowuhuaihuai commented on #10207
That's what happened to me

[2018-06-08 06:12] seiriosPlus commented on #11301
v2你可以装0.10的paddle尝试执行一下

[2018-06-08 06:33] velconia commented on #11289
我觉得直接使用: 2个ps，2个trainer, nccl用2个trainer; 这样的参数规模就挺好;

既照顾到了多pservers, 多trainers的情况, 同时也省CE资源, 加速测试

[2018-06-08 06:39] velconia commented on #11206
After communicating with @typhoonzero , I divide the table above into two parts, CI part and CE part.

The features in CE part should be added into test cases in ce-latest-kpi, and implemented in fluid benchmark, features in CE part include:

Parallel Executor | slice_var_up | sync_mode | Place | Parameters Update Method | Trainer Count | model
-- | -- | -- | -- | -- | -- | --
True | True | True |

[2018-06-08 06:46] seiriosPlus commented on #11303
目前激活函数只能传 str 类型的，
这种情况你可以 把 fc的act设置成None ，然后加入一层 hard_shrink层

[2018-06-08 06:53] cdj0311 commented on #11301
@seiriosPlus 0.13版

[2018-06-08 07:23] Leezhaohui opened #11307 "矩阵相乘"
请问paddle v2有能实现矩阵相乘的layer吗？

[2018-06-08 07:56] velconia commented on #11206
The test-case-pairs in CE part was construct with AllPairs as following:
[code]

[2018-06-08 08:40] jacquesqiao opened #11310 "detection related documents are not on paddlepaddle.org"
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/detection.py

[2018-06-08 09:00] #11301 closed

[2018-06-08 09:06] tpatejko commented on #10765
@luotao1 What's the reason for using an environment variable? Does it mean that some parameters will be passed as script's arguments and some of them will be passed as environment variables?

[2018-06-08 09:27] seiriosPlus commented on #11307
没有相应的layer

[2018-06-08 09:38] kebinC commented on #11196
I also have this problem when setting
    epoch_points = [5, 10]
    lr = [0.1, 0.01, 0.001]
, and it solved by setting
    epoch_points = [5, 10, 15]
    lr = [0.1, 0.01, 0.001, 0.0001]

[2018-06-08 09:54] chenbblei commented on #11178
@jacquesqiao 人呢

[2018-06-08 09:54] #11291 closed

[2018-06-08 11:08] Yancey1989 opened #11318 "decouple the logic of processing sparse var list from rpc server"
Need to deal with sparse var list in `listen_and_server_op` to keep RPCServer interface clean.

[2018-06-08 11:16] dyning opened #11320 "启动内存优化后，多个loss训练，获取loss值有异常"
我的多个loss的程序调用fluid.memory_optimize(fluid.default_main_program())内存优化后，获取loss显示异常。并且相同环境，关闭fluid.memory_optimize优化，两个loss值有diff。
![image](https://user-images.githubusercontent.com/10047064/41155225-ba31c144-6b4f-11e8-8213-fea80517111a.png)
我调用的一些关键程序：
train_exe = fluid.ParallelExecutor(use_cuda=True, loss_name=avg_loss.name)
fetch_list_var = []
results = train_exe.run(fetch_list_var,  feed=feed_dic

[2018-06-08 11:22] panyx0718 commented on #11320
@dyning  Can you give a screenshot of your code? The part that uses memory_optimizer and ParallelExecutor.run?

@dzhwinter @reyoung @chengduoZH
I quickly looked at @dyning 's code. He fetched several intermediate losses. When mem_opt is enabled, the fetched value is wrong, when mem_opt is disabled, the fetched value is correct.

I suspect the memory_optimizer somehow renamed the variables, therefo

[2018-06-08 12:27] dyning commented on #11320
screenshot of code as following:

optimizer = fluid.optimizer.Momentum(
            learning_rate=fluid.layers.piecewise_decay(
                boundaries=self.propsalparam['bd'], values=self.propsalparam['lr']), momentum=0.9,
            regularization=fluid.regularizer.L2Decay(1e-4))
        opts = optimizer.minimize(avg_loss)
        #fluid.memory_optimize(fluid.default_main_program())

[2018-06-08 12:32] dyning commented on #11013
learning_rate=0,只是不更新参数，但是batch的均值和方差还是根据batch算的。例如caffe中下面的形式：
![image](https://user-images.githubusercontent.com/10047064/41158296-ff2f17d2-6b5a-11e8-9e9e-5642b16ae84d.png)

[2018-06-08 12:33] dyning commented on #10972
赞

[2018-06-08 12:33] dyning commented on #10627
赞！

[2018-06-08 12:34] dyning commented on #10638
赞！

[2018-06-08 13:11] mrysztow commented on #10765
@Superjomn I think it is a good idea, as now we need to change all model scripts to add this option. But will it be consistent with focing usage of other backends, like gpu?

[2018-06-08 13:36] #11303 closed

[2018-06-08 15:41] guochaorong opened #11322 "transformer model hange in CE frame"
http://18.222.34.7:8080/viewLog.html?buildId=700&tab=buildResultsDiv&buildTypeId=Paddle_ContinuousEvaluation

transformer model  hanges after this pr: （hanged 3 times so far）
https://github.com/PaddlePaddle/Paddle/pull/11114

[2018-06-08 17:42] #10216 closed

[2018-06-08 17:42] #8492 closed

[2018-06-08 17:43] sidgoyal78 commented on #8246
Closing issue (see #8259)

[2018-06-08 17:43] #8246 closed

[2018-06-09 01:48] ktlichkid commented on #10955
Closed due to low activity, please feel free to reopen it.

[2018-06-09 01:48] #10955 closed

[2018-06-09 07:10] Hansxsourse opened #11324 "如何使用paddle分析一句话或者一段话的情感色彩(褒贬)"
我们目前再做一个分析评论并分类的东西，想问问怎么使用paddle来做

[2018-06-09 08:40] panyx0718 commented on #10855
@Superjomn 如果不合理，那这个LoDTensor里到底存了什么东西呢？用的时候会发生什么呢

[2018-06-09 08:43] panyx0718 commented on #10855
例外
[code]
如果这个batch有两个input，为什么dims是[4, 1]呢？还存在batch dim吗

[2018-06-09 10:11] ktlichkid commented on #11324
可以参考这里，关于情感分析的入门教程：
http://www.paddlepaddle.org/docs/develop/book/06.understand_sentiment/index.cn.html

[2018-06-09 10:17] ktlichkid commented on #10581
Same issue with #9174

[2018-06-09 10:17] #10581 closed

[2018-06-09 10:20] ktlichkid commented on #10183
Closed due to low activity. Please feel free to reopen it if you have further questions.

[2018-06-09 10:20] #10183 closed

[2018-06-09 10:38] ktlichkid commented on #11103
Seems the issue is already resolved. Please feel free to reopen it if the issue still exists.

[2018-06-09 10:38] #11103 closed

[2018-06-09 11:50] Hansxsourse commented on #11324
谢谢

[2018-06-09 13:22] panyx0718 opened #11325 "Check Nan when load and save persistables"

[2018-06-09 13:33] luameows commented on #6589
@chengduoZH 请问该问题如何处理，同样是安装的cpu版本，但是在训练时报GPU错误

[2018-06-09 14:02] #11324 closed

[2018-06-10 02:02] #11318 closed

[2018-06-10 06:52] Samhandsome opened #11327 "怎么在PaddlePaddle中禁用AVX指令集"

[2018-06-10 08:05] Leezhaohui opened #11328 "fluid 线性激活函数"
请问fluid版本里面有没有线性激活函数，是哪个？

[2018-06-10 08:05] #11307 closed

[2018-06-10 08:31] #11328 closed

[2018-06-10 08:34] Leezhaohui opened #11329 "fluid 加法运算"
fluid版本是不是可以直接使用数学里面的”+“代替v2版本的paddle.layer.addto层

[2018-06-10 09:27] Leezhaohui opened #11331 "fluid调用paddle.fluid.layers.resize_bilinear失败"
错误类型：
'module' object has no attribute 'resize_bilinear'

[2018-06-10 16:46] guochaorong commented on #11225
使用8卡的时候， 这一行出错，test_exe = fluid.ParallelExecutor
参考wuyi老师fluid_benchmark.py 中 test 不使用ParallelExecutor， 则ok

已修正：https://github.com/PaddlePaddle/paddle-ce-latest-kpis/pull/37

[2018-06-11 01:32] gavin1332 opened #11334 "dynamic_lstm和dynamic_gru的reverse问题"
dynamic_gru和dynamic_lstm的is_reverse参数设为True后得到的结果是reversed还是会恢复为forward序？因为下述样例中85行调用56行的正反向lstm后直接拼接，并没看到reverse操作，所以有这个疑问。
https://github.com/PaddlePaddle/Paddle/blob/635099c1622f28ff5c7cd264180fd0414a1d2d01/benchmark/fluid/models/machine_translation.py

另外，想知道如何reverse一个序列，目前没找到相关op

[2018-06-11 01:35] gavin1332 opened #11335 "dynamic_lstm和dynamic_gru的H0如何使用？"
dynamic_gru为什么要求h_0的shape为(hid_size, hid_size)，不应该是(-1, hid_size)么？请参见代码
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py
681行左右：assert h_0.shape == (size, size), 'The shape of h0 should be(%d, %d)' % (size, size)

另外dynamic_lstm目前无法支持H0，有其他可代替的方法吗？

[2018-06-11 01:36] gavin1332 opened #11336 "如何使用op对vector和sequence进行concat操作？"
如题

[2018-06-11 01:57] Yancey1989 commented on #11336
vector可以使用[concat](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/tensor.py#L115), sequence可以使用[merge_lod_tensor](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/control_flow.py#L102)

[2018-06-11 02:11] JayEworld opened #11337 "paddle_gradient_machine_get_layer_output，假设有两层一样的名字，输出的是哪一层呢"
网络结构代码
    user_vec = paddle.layer.fc(name='user_vec', input = user_fc3, size = label_dict['out_sz'], act = paddle.activation.Linear())
    user_vec = paddle.layer.batch_norm(name='user_vec_bn', input = user_vec, act = paddle.activation.Relu())

用capi预测的时候，
paddle_gradient_machine_get_layer_output(this->_predict_machines[m_idx], "user_vec", out_args);

请问输出的是bn之前的输出还是bn之后的输出呢？？？

[2018-06-11 02:16] qingqing01 commented on #11331
@Leezhaohui `paddle.fluid.layers.resize_bilinear` 是最近刚加的接口，需要升级你安装的whl包。

[2018-06-11 02:17] qingqing01 commented on #11329
@Leezhaohui 可以的，Fluid支持 `+ - * /`等基础的数学表达书。

[2018-06-11 02:18] Yancey1989 commented on #11335
感谢反馈

这里确实是Python接口写错了。。。需要fix下

[dynamic_lstm](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L265) 在C++代码中已经支持了的，需要在Python接口中expose下，暂时还没有其他方案。

[2018-06-11 02:21] Yancey1989 opened #11339 "incorrect assert h0 in Python API dynamic_gru"
h0.shape should be `[-1, size]`

https://github.com/PaddlePaddle/Paddle/blob/59e10922b41f141ae25b5266275f10921a30d92a/python/paddle/fluid/layers/nn.py#L680-L685

[2018-06-11 02:25] Yancey1989 opened #11340 "Expose the input h0 of dynamic_gru op in Python API"
The input `h0` was already implemented in C++ code, need to expose it in Python API.

[2018-06-11 02:30] Yancey1989 commented on #11337
层的"名字"是通过layer中name参数指定的，而不是变量名字，上述代码中是`user_vec`的输出。

[2018-06-11 02:45] chenbblei commented on #11178
竟然问着问着就没人回答了，服了

[2018-06-11 02:45] #11178 closed

[2018-06-11 02:54] gavin1332 commented on #11335
OK

[2018-06-11 02:55] qingqing01 commented on #11334
@gavin1332 `reverse`代表 计算lstm/gru时，是从最后一个时间步序列往第一个时间步计算，计算后的结果保存为'forward'序列。你的理解没错。

目前没有序列反序的op。

[2018-06-11 03:00] Yancey1989 opened #11341 "reverse op needs to support LodTensor"

[2018-06-11 03:01] Yancey1989 commented on #11334
Thanks @qingqing01 , `reverse_op` 目前只支持对Tensor的reverse，我加了一个TODO issue来支持LoDTensor #11341

[2018-06-11 03:17] qingqing01 opened #11343 "Need a NaN/Inf check operator."
Now,  we can set `export FLAGS_check_nan_inf=True` to check all outputs of all operators in `ProgramDecs`, but the GPU training is very very slow.

Sometimes, we only want to trace one operator. So it is convenient if we add one NaN/Inf checking operator.

[2018-06-11 03:28] kelvict opened #11344 "paddle v2怎么在预测的时候固定batch norm层的均值与方差？如何在预测时设置固定的均值和方差？"
paddle v2怎么在预测的时候固定batch norm层的均值与方差？如何在预测时设置固定的均值和方差？

[2018-06-11 03:35] jacquesqiao commented on #11178
假如FC的weight的shape是M*N， 转成conv之后就是output_channel = M, input_channel =N, filer_h/w = 1

[2018-06-11 03:45] qingqing01 opened #11345 "There is bug in l2_normalize."
There is a lack of square root operation (`sqrt`) after [`reduce_sum`](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L2505).

[2018-06-11 04:11] Yancey1989 commented on #11344
可以通过`batch_norm_layer`的 `use_global_stats`参数来指定是否使用指定的均值和方差，另外预测时这个变量默认会被设置成`True`的。

另外如果想固定每个bath的均值方差不变，根据code:

https://github.com/PaddlePaddle/Paddle/blob/9328c3cf7b10c3adde66196673bcfccf908f7e05/paddle/gserver/layers/BatchNormalizationLayer.cpp#L58-L68

可以将batch_norm_layer中`moving_average_fraction`设置为1.0

[2018-06-11 04:30] seiriosPlus commented on #11300
参考 #11148

[2018-06-11 04:39] #10765 closed

[2018-06-11 04:45] luotao1 commented on #10765
@mrysztow You can use `FLAGS_use_mkldnn=true` to control it now, see #11319 for details.

[2018-06-11 04:45] #11334 closed

[2018-06-11 04:48] gavin1332 commented on #11335
这个有排期吗？

[2018-06-11 04:49] gavin1332 commented on #11335
这个有具体排期吗？因为没有可替换的方案，当前依赖H0任务无法开展

[2018-06-11 05:20] luotao1 commented on #11186
[code]
从代码里看，是手动调用了`CreateVariables`和`Prepare`两个函数。
- 出错原因猜测：由于programDesc里面有两个block，而这里Prepare的时候，都只是单独的Prepare其中的第一个block（0或者1）
https://github.com/PaddlePaddle/Paddle/blob/c6d230e03e00dfcca7db67a4a8d4069f3d926d6e/paddle/fluid/framework/executor.h#L64-L68
Prepare有两个接口，对issue里的情况应该调用第二个。
- https://github.com/luotao1/fluid_inference_example/blob/master/example.cc#L82 我们demo里的例子，是不需要手动调用`CreateVaria

[2018-06-11 05:29] DTDXG opened #11347 "multi label classification 输出差别不大"
1.主要的网络设置如下
![image](https://user-images.githubusercontent.com/39936716/41213852-8b88298c-6d7a-11e8-887f-cccf1216a22b.png)
![image](https://user-images.githubusercontent.com/39936716/41213898-c0127df6-6d7a-11e8-8354-9c40705a92b4.png)
![image](https://user-images.githubusercontent.com/39936716/41213980-4018f25a-6d7b-11e8-8c44-004590a61398.png)

2.infer之后的结果
![image](https://user-images.githubuserco

[2018-06-11 06:12] sneaxiy opened #11349 "Identifier error of 'dshape' in 'Paddle/benchmark/fluid/models/vgg.py'"
In function `def get_model(args)` in [Paddle/benchmark/fluid/models/vgg.py](https://github.com/PaddlePaddle/Paddle/blob/develop/benchmark/fluid/models/vgg.py), identifier `dshape` is not declared. It should be `data_shape`.

[2018-06-11 06:47] Yancey1989 commented on #11347
不确定是不是训练数据方面的问题，cost和classification_error_evaluator分别是多少呢？

多分类的模型配置可以参考book里的demo：https://github.com/PaddlePaddle/book/blob/develop/03.image_classification/train.py

[2018-06-11 06:52] #8305 closed

[2018-06-11 06:56] #11349 closed

[2018-06-11 07:18] sneaxiy opened #11353 "'NameError: global name 'batch_size_tensor' is not defined' in Paddle/benchmark/fluid/models/stacked_dynamic_lstm.py"
When the stacked_dynamic_lstm is running, the error "global name 'batch_size_tensor' is not defined" occurs.

$ python fluid_benchmark.py --model stacked_dynamic_lstm --device GPU --gpus 1
----------- Configuration Arguments -----------
batch_size: 32
cpus: 1
data_format: NCHW
data_path:
data_set: flowers
device: GPU
gpus: 1
infer_only: False
iterations: 80
learning_rate: 0.001
memory_optimize: Fa

[2018-06-11 07:27] DTDXG commented on #11347
补充一下cost值
[temp.txt](https://github.com/PaddlePaddle/Paddle/files/2089012/temp.txt)
训练数据的label区分性还是比较明显的，贴了一个图，最主要的是训练样本的第一个类别的个数不多，按道理测试集上面的结果不应该这么偏向于第一个类别
![image](https://user-images.githubusercontent.com/39936716/41217935-00c7298a-6d8c-11e8-8cf6-395cf54f4074.png)

[2018-06-11 07:36] DTDXG commented on #11347
不知道我理解的是否正确，你给我的例子里面是一个multi class 不是multi label

[2018-06-11 07:50] baiyfbupt opened #11355 "An illegal memory access was encountered"
在4卡，batch_size=16使用parallel executor跑程序时碰到了这个错误，报错信息如下：
[code]

[2018-06-11 07:53] jiaozhusos commented on #11195
cudnn5和6都试过，都会报同样的不匹配错误，但是同样地,tensorflow就没有问题，也不知道到底是为什么

[2018-06-11 08:27] qingqing01 commented on #11355
这种报错非常难定位是什么问题。

[2018-06-11 08:37] sneaxiy opened #11360 "No response when running models in benchmark/fluid using multiple GPUs"
When running models in benchmark/fluid using multiple GPUs, there is no response and the job is finally killed after a long time.

The full logs are as follows (the example here uses the mnist model, but the other models perform the same as mnist when using multiple GPUs):

[code]

After a long time, the job is killed automatically.

However, the models work well when using CPU or only one GPU. Th

[2018-06-11 08:49] chengduoZH commented on #11355
跑的是什么模型，是只有四卡情况下才会报错吗？

[2018-06-11 08:53] bbgasj opened #11361 "请问paddle中对于load embeding的oov有设置初始化值的参数吗？"
load embeding对于nlp任务应该是很常见的操作，一般初始化要么设全0，要么设置一个均值为0的正太分布，但是了解到ParameterAttribute里面的initial_*相关参数只在初始化的时候会用到，load已有词向量的话不生效。
对于nlp任务，这应该是一个比较常见的操作，建议支持一下。

我之前以为下述代码对于OOV会按initial_std随机初始化，咨询后得知不行，所以比较奇怪，来问一下：
        emb_para = paddle.attr.Param(name='emb', initial_std=0., is_static=True)
        emb = paddle.layer.embedding(
            input=input,
            size=200,
            param_attr=em

[2018-06-11 08:54] jiaozhusos opened #11362 "paddle-gpu版本咨询"
想咨询下paddle-gpu有没有支持如下配置：
cuda-8.0
cudnn-v6
的版本呢？

[2018-06-11 08:54] #11304 closed

[2018-06-11 09:05] baiyfbupt commented on #11355
@chengduoZH 问题暂时解决了，我再check一下，正常的话会关闭这个issue，thx

[2018-06-11 09:05] gavin1332 commented on #11336
@Yancey1989

[2018-06-11 09:05] gavin1332 commented on #11335
@Yancey1989

[2018-06-11 09:32] #11353 closed

[2018-06-11 09:58] tpatejko commented on #10765
@Superjomn My main concern was some sort of consistency and intuition behind passing parameters to the models scripts. I mean, a user will have to set an environment variable if they want to run something on CPU with MKLDNN, which is different from running something on GPU, that requires passing an argument to a model script.

However, it's true what you're saying, this approach is more flexible,

[2018-06-11 10:36] reyoung opened #11365 "Compile error on develop branch."
The error message are
[code]

After PR  #11101

[2018-06-11 10:43] reyoung commented on #11365
It seems that I am not cleaning the third-party path after git pull. Just remove mkldnn and rebuild it, everything is OK.

[2018-06-11 10:43] #11365 closed

[2018-06-11 10:51] Yancey1989 commented on #11362
暂时没有，我们有cuda8.0+cudnn5和 cuda8.0+cudnn7的：http://paddlepaddle.org/docs/develop/documentation/en/build_and_install/pip_install_en.html

[2018-06-11 11:04] chengduoZH commented on #11013
@dyning 你可以试着把`batch_norm (...)`里面的is_test改成True，并将参数设成不训练模式：
[code]

[2018-06-11 11:09] Yancey1989 commented on #11361
Hi您好
在Paddle v2的embedding layer是一个固定维度的table，对于OOV(out of vocabulary)的情况，可以将统一处理成一个**UNK**的index，参考：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/dataset/imikolov.py#L72

另外我理解您的需求是需要embedding layer支持动态的table，当输出一个新的ID，动态增加table的大小。此类特性在Fluid中用sparse table还比较好实现。

[2018-06-11 11:24] dzhwinter commented on #11347
How about changing label type from  `sparse_binary_vector` to `dense_vector` ?

[2018-06-11 11:28] ccmeteorljh opened #11367 "多机下update_method=nccl2, 打开memory_optimize后，运行报错"
**参数如下：**

[code]

**运行结果如下，然后hang住：**
[code]

**若关闭memory_optimize后，则可以正常跑**

[2018-06-11 11:58] Yancey1989 commented on #11336
目前Fluid中使用[lod_tensor](https://github.com/PaddlePaddle/Paddle/blob/develop/doc/fluid/design/concepts/lod_tensor.md) 来表示sequence相关的操作。

那希望拼接后的LoD信息是什么样的呢？

[2018-06-11 12:09] ccmeteorljh opened #11368 "当数据集最后一个batch的样本数少于GPU卡数时，Parallel Executor是会挂掉"
**参数如下：**
batch_size: 64
cpus: 1
data_format: NCHW
data_path:
data_set: flowers
device: GPU
gpus: 8
infer_only: False
iterations: 80
learning_rate: 0.001
memory_optimize: True
model: resnet
no_test: False
pass_num: 100
profile: False
skip_batch_num: 5
update_method: local
use_cprof: False
use_fake_data: False
use_nvprof: False
use_reader_op: False
**结果如下：**
[code]

[2018-06-11 12:23] chengduoZH commented on #11368
当用feed方式向模型传数据并且数据集的最后一个batch的样本个数少于GPU卡的个数时，Parallel Executor是会挂掉的。
一种解决方法是把最后一组样本丢弃，可以调用这个函数：
https://github.com/PaddlePaddle/Paddle/blob/bfa3fd6f152227c5a527b3fa89bbdd34e37ca94a/python/paddle/batch.py#L18

[2018-06-11 12:30] lgone2000 commented on #11214
能否 缺省参数实现需要和论文或者其他框架一致，ocr我们训练时可以指定为非缺省参数

[2018-06-11 12:34] lgone2000 commented on #11246
隐藏训练迭代部分 不是通常框架的方式，建议还是要暴露出训练feed数据的主循环。另一方面是方便 写调试代码。目前event回调方式很不灵活，只能在一个全局函数里打打日志 干不了其他的。

[2018-06-11 12:35] ccmeteorljh commented on #11368
thanks

[2018-06-11 12:35] #11368 closed

[2018-06-11 12:42] lgone2000 opened #11371 "需要在paddle报错信息中增加具有可读性的调试信息"
paddle使用中很难搞清楚出错信息的含义。  paddle 相当于 把 python 定义的网络 编译成了program， 但没保留任何调试信息。 结果运行时报了指令错误，没有对应到高层的语句和行号。遇到这种错误的时候， 基本靠猜，给出的上下文语义基本没什么线索， 对于不太懂内部原理的人来说。

[2018-06-11 12:45] QiJune commented on #11320
@dyning 你可以试试 #11372 这个patch

先把自己想要fetch的值给列出来，然后传给memory_optimize这个接口。
这些值在做内存优化的时候就会被跳过。

[code]

[2018-06-11 12:48] lgone2000 commented on #11371
能否在运行网络定义代码时.拿到并且保存每个生成的op,变量对应的上层python 的调用堆栈。并序列化成字符串保存到相应program里面。如果运行到哪个op出错，可以返回底层变量或者op的python 对应的变量个代码行号?

[2018-06-11 12:57] lgone2000 opened #11373 "在保持网络结构完全不变的情况下 是否有比较方便的方法把训练好的模型参数或者变量统一改成指定的有意义的名字?"
如题

[2018-06-11 13:09] Yancey1989 commented on #11371
感谢您的建议！
Debug的确能够提高生产力的工具，Paddle现在使用ProgramDesc描述程序逻辑，Variable来描述变量并存储在Scope中，Executor来保证程序的顺序执行。理论上可以开发出一个工具，在Fluid程序Core掉的时候把Executor中的上下文信息以及Scope中的变量数据打印出来方便调试。

另外如果需要保存代码行号等信息，可能需要开DEBUG的编译模式，对性能有些影响，线下调试没问题，线上程序可能不会开启此项编译参数。

[2018-06-11 13:15] Yancey1989 commented on #11373
暂时没有比较好的方法，不过

 这样做的最终需求是什么呢？

[2018-06-11 13:19] panyx0718 commented on #11371
我记得TF是这么做的，paddle也可以搞一个

[2018-06-11 13:23] DTDXG commented on #11347
@dzhwinter 谢谢 修改了之后 work了

[2018-06-11 13:47] lgone2000 commented on #11373
训练时没指定名字，应该是框架自动生成的名字，后续使用模型时 想用指定的名字

[2018-06-11 13:49] lgone2000 commented on #11371
我后续贴一些 错误的报错信息吧，不是paddle开发人员是看不懂的。我们看看能否改善一下。
另外对于出错信息的打印 我认为不会对训练性能有影响， 因为这部分逻辑只有出错时会调用，正常跑都不会影响。

[2018-06-11 14:43] velconia opened #11375 "当ParallelExecutor运行在已被占用的GPU上时, Trainer夯住"
复现过程如下:

环境: GPU 0-3 空闲, 4-7被占用
Tesla P40, 0 MiB
Tesla P40, 0 MiB
Tesla P40, 0 MiB
Tesla P40, 0 MiB
Tesla P40, 20391 MiB
Tesla P40, 20391 MiB
Tesla P40, 20391 MiB
Tesla P40, 20391 MiB

1. 将Pserver启动在0,1两个GPU上:

[code]

2. 将 Trainer 启动在 3,4 两号 GPU 上, 此时 3 号 GPU 空闲, 4 号 GPU 被占用:

[code]

结果: Trainer长时间被夯住

[2018-06-11 14:56] velconia commented on #11375
原因排查:

Paddle只检查了第一个GPU的状态(通过Executor, 而不是Parallel), 没有检查第二个的状态, 在将variables ncclBcast到第二号GPU时, 这个动作会长时间夯住, 导致NcclGroupEnd长时间不退出, 进程hang住

[2018-06-12 01:29] gavin1332 commented on #11336
e.g. batch_size=3, lod=[[0, 3, 5, 10]] 拼接后 [[0, 4, 7, 13]]，即每个序列长度加1。

另外，关于你提到的merge sequence用的merge_lod_tensor op，我看了python前端，里边的in_true，in_false以及mask等参数让我很难理解，函数说明也不够详细，可以帮忙解释一下吗？我感觉两个sequence merge不应该输入一个x和y就够啦？

[2018-06-12 02:13] #11345 closed

[2018-06-12 02:31] Yancey1989 commented on #10868
we can also support OOV(out of vocabulary) with local training, and initialize the parameter of the unknown ID as 0, Gauss or uniform random.

[2018-06-12 02:44] gongweibao opened #11379 "Add trainer id to the request when we want to make all RPC calls retriable."

[2018-06-12 02:48] TomorrowIsAnOtherDay opened #11381 "pre-commit yapf version is too low to automatically format python code in a good way."
current code
[code]
formatted by yapf 0.13(version currently used by paddle)
[code]
formatted by yapf 0.22
[code]
Can we upgrade yapf version?

[2018-06-12 03:12] #11355 closed

[2018-06-12 03:52] #11327 closed

[2018-06-12 03:53] #11362 closed

[2018-06-12 03:58] #10898 closed

[2018-06-12 03:59] #10820 closed

[2018-06-12 04:02] luotao1 commented on #10632
fix by #11043 and #10841

[2018-06-12 04:02] #10632 closed

[2018-06-12 04:10] #10305 closed

[2018-06-12 04:15] #9188 closed

[2018-06-12 04:20] #11077 closed

[2018-06-12 04:42] guochaorong commented on #10784
done

[2018-06-12 04:42] #10784 closed

[2018-06-12 04:50] Superjomn commented on #11186
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/io.py#L651

@JiayiFeng  可以解答下这个是啥原理？ C++端没有这样的逻辑，会因为这里出现这个 issue 的问题吗

[2018-06-12 04:52] jacquesqiao commented on #10868
@Yancey1989 Yes, we can support to use lookup_sparse_table at local training.

[2018-06-12 05:01] guochaorong opened #11384 "CE值班是否共用paddle用户值班表"
CE 值班内容：

处理CE job中出现的问题，记录日报。值班手册：
https://github.com/PaddlePaddle/continuous_evaluation/wiki/On-duty-manual

目前成员有paddle dev 和QA同学。值班当天约花费30min时间。

选择1
CE值班与paddle 用户值班共用值班表，值班当天处理paddle用户群和CE值班问题
选择2
CE值班不与paddle用户值班共用值班表。CE值班处理CE问题。

[2018-06-12 05:46] JiayiFeng commented on #11186
使用的是否是最新代码？以前的Paddle中存在一个这方面的bug，上周修复了

[2018-06-12 05:49] Superjomn commented on #11186
是 python 的 bug？还是 c++的。 如果是python 的是否要重新训练生成模型？

[2018-06-12 06:02] JiayiFeng commented on #11186
是C++的一个bug。应该不需要重新生成训练模型

[2018-06-12 06:03] Superjomn commented on #11186
@seanxh 可以试下最新的预测库

[2018-06-12 06:04] xuezhong opened #11387 "distribution trainning for transformer core dump"
paddle version 19fd07178550ebd589a820d8fd1e9c543a31dc97

transformer trainning script:  https://github.com/PaddlePaddle/models/pull/982

cmd for reproducing core:
python -u train.py --src_vocab_fpath /paddle/dataset/nist06n/cn_30001.dict --trg_vocab_fpath /paddle/dataset/nist06n/en_30001.dict --train_file_pattern '/paddle/train/part-*' --use_token_batch True --batch_size 1024 --pool_size 10000 --s

[2018-06-12 06:06] ckeys opened #11388 "PaddlePaddle在阡陌上训练出现的错误日志"
Hi All,

我将模型放到阡陌的机器上运行，前面几轮的训练都能正常运行，但是后面报了错误。日志贴在下面蛤。

谢谢，

*** SIGTERM (@0x0) received by PID 1 (TID 0x7fca157f8700) from PID 0; stack trace: ***
@ 0x7fca153d2390 (unknown)
@ 0x7fca150e17f7 __sched_yield
@ 0x7fc9e82fdf15 _INTERNAL_25_______src_kmp_barrier_cpp_34128d84::__kmp_hyper_barrier_gather()
@ 0x7fc9e8301647 __kmp_join_barrier()
@ 0x7fc9e8330e72 __kmp_internal_join
@ 0x7fc9e8330666 __kmp_

[2018-06-12 06:07] xuezhong commented on #11387
psserver begin run
*** Aborted at 1528781171 (unix time) try "date -d @1528781171" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x0) received by PID 9632 (TID 0x7fc897fff700) from PID 0; stack trace: ***
    @     0x7fca7c762390 (unknown)
    @     0x7fca41b3782b paddle::operators::detail::VariableResponse::CopyLodTensorData()
    @     0x7fca41b39d51 paddle::oper

[2018-06-12 06:09] xuezhong commented on #11387
more debug info:
(gdb) bt
Python Exception <type 'exceptions.ImportError'> No module named gdb.frames:
#0  0x00007fe94a0d0f60 in std::unique_ptr<paddle::framework::Variable::Placeholder, std::default_delete<paddle::framework::Variable::Placeholder> >::get (
    this=0x0) at /usr/include/c++/5/bits/unique_ptr.h:305
#1  0x00007fe94a0d0db8 in std::unique_ptr<paddle::framework::Variable::Placeholder,

[2018-06-12 06:10] cbstyle opened #11389 "cluster_config is not defined"
paddle集群训练，由原来的reveiver提交方式改成本地提交方式，代码是V1版本；
出现NameError: name 'cluster_config' is not defined错误；

Tue Jun 12 12:19:08 2018[1,7]<stderr>:+ python27-gcc482/bin/python conf/video_mean_conf.py
Tue Jun 12 12:19:08 2018[1,7]<stderr>:Traceback (most recent call last):
Tue Jun 12 12:19:08 2018[1,7]<stderr>:  File "./http_server.py", line 41, in <module>
Tue Jun 12 12:19:08 2018[1,7]<stderr>:    server =

[2018-06-12 06:38] guochaorong commented on #11322
已修复

[2018-06-12 06:38] #11322 closed

[2018-06-12 06:56] typhoonzero commented on #11371
这样的debug工具看起来是否更像eager execution或impretive programming的方式，即：debug时，可以enable impretive，运行不需要转换成program就可以直接执行op并可以方便的找到报错的行号并trace stack。程序开发debug完成之后，可以disable impretive，paddle就可以自动生成program(IR)并完成IR的执行优化，kernel fuse等工作，保证online的程序是最高性能执行的。

这个功能感觉我可以找个时间写个原型看下。

[2018-06-12 07:32] Yancey1989 commented on #11373
框架自动生成的名字可以用`.name`直接print出来
[code]

可以举一个具体的case么，或许可以提供更有效的建议。

[2018-06-12 07:35] Yancey1989 commented on #11389
Hi 您好，

[code]

`cluster_config`模块是v1的receiver会将其解析成MPI客户端需要的一些配置参数。由于本地提交只支持V2的API，所以会报这个错，建议使用V2的API或者内网环境的PaddleCloud（支持Fluid）。

[2018-06-12 07:44] tensor-tang opened #11393 "test fail with cpu only"
## issue
[code]

## how to reproduce

[code]

[2018-06-12 07:45] tensor-tang commented on #11393
This should be caused by mkldnn flag

[code]

[2018-06-12 07:51] luotao1 commented on #11393
All the tests are OK in GPU version. Maybe there is something wrong in CPU version.

[2018-06-12 07:56] sneaxiy opened #11394 ""pip install paddlepaddle-gpu==0.13.0" error"
After installing paddle using `pip install paddlepaddle-gpu==0.13.0`, error occurs when `import paddle.fluid as fluid`:

[code]

[2018-06-12 08:00] seanxh commented on #11186
Good。结果复现了，引用最新的(lib和头文件)[http://www.paddlepaddle.org/docs/develop/documentation/fluid/zh/howto/inference/build_and_install_lib_cn.html#id1]就行了。

[code]

[2018-06-12 08:12] seanxh commented on #11186
(这个版本)[https://github.com/PaddlePaddle/Paddle/tree/1d198494d72bd274f9419918f7dc6b996c8b0e49]

[2018-06-12 08:12] velconia commented on #11375
进一步排查:

ncclBcast夯住的原因是因为, 在buddy allocator为ncclBcast创建变量时, 会探测到GPU显存不够, throw一个runtime_error, 但是程序接收到runtime_error, 开始析构NcclGroupGuard时, NcclGroupEnd会夯住 (因为第一个GPU的nccBcast已经执行了, 而第二个GPU的还未执行, 所以第一个动作不会退出), 现在将为GPU创建变量的动作放到了NcclGroupGuard之外; 建议以后使用NcclGroupGuard时, 尽量只Guard必要的nccl动作;

[2018-06-12 08:19] reyoung commented on #10294
Done, we use uint8 for image now.

[2018-06-12 08:19] #10294 closed

[2018-06-12 08:20] #11389 closed

[2018-06-12 08:22] #11186 closed

[2018-06-12 08:30] typhoonzero commented on #11394
Try: `export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH`, same to https://github.com/PaddlePaddle/Paddle/issues/11008

[2018-06-12 08:33] ccmeteorljh opened #11396 "多卡下fluid_benchmark运行后出错"
![image](https://user-images.githubusercontent.com/33303691/41279161-5228525e-6e5e-11e8-9d4f-82f73c0df81d.png)

[2018-06-12 08:48] jacquesqiao opened #11398 "process not exit when cuda face PADDLE_ASSERT"
https://github.com/PaddlePaddle/Paddle/blob/7679edf6f4c59d9b3ae20dc7466d363bcd5fd32a/paddle/fluid/platform/assert.h#L44-L45

when CUDA kernel assert at the following line, it does not break the process.
https://github.com/PaddlePaddle/Paddle/blob/7679edf6f4c59d9b3ae20dc7466d363bcd5fd32a/paddle/fluid/operators/lookup_table_op.cu#L62-L63

[2018-06-12 08:49] luotao1 commented on #11396
请问跑的是什么命令呢？

[2018-06-12 08:49] kuke opened #11399 "Add argsort operator for faster-rcnn"

[2018-06-12 09:23] MonkandMonkey opened #11400 "MPI 集群模式 使用PrecisionRecallEvaluator"
简单的cnn 文本分类代码，使用到了PrecisionRecallEvaluator:
现象：本地运行OK，mpi 集群模式出错。workspace/train.log报错如下:

Tue Jun 12 14:45:53 2018[1,0]<stdout>:2018-06-12 14:45:53:Pass 0, Batch 0, Cost 0.8217, Precision 0.6929, recall: 0.5063, F1: 0.5851
Tue Jun 12 14:45:53 2018[1,5]<stdout>:
Tue Jun 12 14:45:53 2018[1,5]<stdout>:2018-06-12 14:45:53:Pass 0, Batch 0, Cost 0.7998, Precision 0.7063, recall: 0.5132, F1: 0.5945
Tue

[2018-06-12 10:06] ccmeteorljh opened #11401 "异步模式下，4个trainer运行出错"
async_mode: True
cpus: 1
data_format: NCHW
data_path: recordio
data_set: flowers
device: GPU
gpus: 8
infer_only: False
iterations: 10
learning_rate: 0.001
memory_optimize: False
model: resnet
no_split_var: False
no_test: False
pass_num: 100
profile: False
skip_batch_num: 5
update_method: pserver
use_cprof: False
use_fake_data: False
use_nvprof: False
use_reader_op: True

**错误日志如下：**
I0612 08:56:49

[2018-06-12 10:10] #11265 closed

[2018-06-12 11:45] typhoonzero commented on #11401
Can you please update the description about the details of how to reproduce this issue?

[2018-06-12 12:42] qingqing01 opened #11403 "Implement a bilinear initializer for transposed convolution."
This is a common use case in  transposed convolution to act as upsampling.

    factor = 2
    w_attr = ParamAttr(learning_rate=0., regularizer=L2Decay(0.),
                      initializer=Bilinear())
    conv_up = fluid.layers.conv2d_transpose(
         input,
          num_filters=C,
          output_size=None,
          filter_size=2 * factor - factor % 2,
          padding=ceil((factor - 1)

[2018-06-12 12:51] xiaolv3366 opened #11405 "支持Tesla V100"

[2018-06-12 12:54] xiaolv3366 commented on #11405
PaddlePaddle 需要支持CUDA9.0。

[2018-06-12 13:39] panyx0718 commented on #11387
checked offline, it's because of setting wrong trainer_id

[2018-06-12 13:39] #11387 closed

[2018-06-12 13:40] seiriosPlus opened #11410 "checkpoint m2: pserver checkpoint about lookup table"
Checkpoint M2: Save lookup table on PServer.

[2018-06-12 13:55] seiriosPlus commented on #11410
##M2 目标 支持Lookup table 在PServer端的Save/Load
## Design Doc
### SAVE 阶段
1. 在PServer待运行的ProgramDesc中加入一个save checkpoint相关的block
2. Block中的OP是两个，一从Variable中选出类型是 **SelectedRows** 的变量，二将选出的变量进行Save
3. 在Listen_and_serve_op 加入一个attr(name: checkpoint_block)，在Python端做transpile的时候，将ID更新给Listen_and_serve_op
4. 在Protobuf中加入一个Service(name: save_checkpint)
5. 触发checkpoint save机制： Trainer 0 通过RPC广播发送checkpoint指令，

[2018-06-12 13:57] ccmeteorljh commented on #11396
**运行情况**
2个psserver，2个trainer
**trainer 运行命令**
python fluid_benchmark.py --model resnet --async_mode \
--data_set flowers --use_reader_op --memory_optimize  \
--iterations 20 \
--device GPU --gpus 8 --batch_size 64 \
--pass_num 1 --data_path recordio --no_test \
--update_method pserver
**pserver命令**
python fluid_benchmark.py --model resnet --async_mode \
--data_set flowers --memory_optimize \
--it

[2018-06-12 16:05] jacquesqiao opened #11412 "build failed on mac"
[code]

[2018-06-12 22:55] tonyyang-svail opened #11416 "Determine the life time of a variable gradient"
A variable should be able to access its gradient. Ideally, the access should be a smart pointer.

Question: should a variable hold
1. a `shared_ptr` to its gradient?
1. a `weak_ptr` to its gradient?

#### Case 0: forward
[code]

#### Case 1: forward, backward
[code]

#### Case 2: forward, backward, optimize
[code]

#### Case 3: Release Memory on Backward
We can release memory aggressively. During

[2018-06-13 01:50] Superjomn commented on #10765
Yeah, I understand your concern.

The environment variable is a low-level API and easy to hide in many ways.

We can concentrate on the implementation of MKLDNN functions first, and have another discussion about this API after MKLDNN functions are ready and release to users.

[2018-06-13 02:17] yeyupiaoling commented on #11394
可以把`/usr/local/lib`下的`os`文件复制到`/usr/lib`就OK了

[2018-06-13 02:20] yeyupiaoling opened #11418 "PaddlePaddle从版本0.12开始，默认安装的PaddlePaddle是不支持AVX。"
比如我安装0.13版本的，默认是关闭AVX的，那么我想安装支持的AVX要如何做呢，除了到官网上下载安装包。
[code]

[2018-06-13 02:35] #11412 closed

[2018-06-13 02:50] ckeys commented on #11388
hi,
阡陌的集群paddle安装方式才用的是docker，目前版本用的是paddle:0.11.0

[2018-06-13 02:52] #11310 closed

[2018-06-13 02:54] seiriosPlus commented on #11410
#Checkpoint_M2_Plan
## Checkpoint 目录结构说明
checkpoint_dir
├── checkpoint_0
│   ├── pserver_0
│   │   └── __lookup_table__
│   │       └── var2.w_2
│   ├── pserver_1
│   │   └── __lookup_table__
│   │       └── var.w_1
│   └── trainer_0
│       ├── __model__
│       │   └── var.w_1
│       ├── epoch_id
│       └── step_id
└── checkpoint_1
## M1 目标 支持Trainer端Save， 支持Trainer/Pserver端Load
##M2 目标 支持Look

[2018-06-13 03:06] luotao1 commented on #11388
请问错误是稳定复现么？每一轮的数据集都一样？

[2018-06-13 03:13] lemon34 opened #11422 "paddle 模型转换问题"
问题一：
![image](https://user-images.githubusercontent.com/18421586/41328269-ca7bcf06-6ef9-11e8-95e2-5971c017399d.png)
在将v1的模型转换成v3的模型的时候，由于新增的op 只是用于预测，，没有反向的逻辑，所以需要去掉上图中注释的地方。
![image](https://user-images.githubusercontent.com/18421586/41328347-2b796796-6efa-11e8-9906-49e831f882f7.png)
存储模型的时候，箭头指向的地方存储模型的输出，当模型的输出为fc_out 时候和输出为fc_out、decoded_out 的时候二者fc_out 中的结果是不一样的，数据量级上面会相差很多。输出fc_out和decoded_o

[2018-06-13 03:20] Yancey1989 commented on #11347
先关闭这个issue了，如果有问题可以再随时打开。

[2018-06-13 03:20] #11347 closed

[2018-06-13 03:21] #11340 closed

[2018-06-13 03:21] #11339 closed

[2018-06-13 03:30] Yancey1989 commented on #11361
先关闭这个issue了，本地训练支持sparse table的进展请关注 #10868 里的task list。

[2018-06-13 03:30] #11361 closed

[2018-06-13 03:33] sneaxiy commented on #11394
@yeyupiaoling There's no libmkldnn.so in `/usr/local/lib`

[2018-06-13 03:35] Yancey1989 commented on #10882
因为这个issue很久没有更新，先关闭它了，如依然有问题请随时打开它，多谢！

[2018-06-13 03:36] Yancey1989 commented on #10838
这个issue很久没有更新的信息，先关闭它了，如仍然有问题请随时打开它，多谢！

[2018-06-13 03:36] #10838 closed

[2018-06-13 03:39] Yancey1989 commented on #10593
这个issue很久没有更新的消息了，我先关闭它了，如仍然有疑问请随时打开它，多谢！

[2018-06-13 03:39] #10593 closed

[2018-06-13 03:42] panyx0718 commented on #11418
所以官网的安装包是可以的？你现在默认关闭avx的安装包是哪下载的呢

[2018-06-13 03:42] Yancey1989 commented on #10577
由于长时间没有更新的信息，先关闭这个issue了，如有进一步反馈请随时重新打开，多谢！

[2018-06-13 03:42] #10577 closed

[2018-06-13 03:42] panyx0718 commented on #11320
@dyning 这个问题解决了吗？

[2018-06-13 03:44] Yancey1989 commented on #10489
由于长时间没有更新的信息，先关闭这个issue了，如有进一步反馈请随时重新打开，多谢！

[2018-06-13 03:44] #10489 closed

[2018-06-13 04:55] #11300 closed

[2018-06-13 05:07] morganw opened #11425 "PaddlePaddle什么时候支持Python3.x"
PaddlePaddle什么时候支持Python3.x

[2018-06-13 05:16] #11405 closed

[2018-06-13 05:18] ckeys commented on #11388
Hi,
该错误是随机出现的，有时候能成功，有时候会所有任务一起挂掉。
每一轮的数据集都是通过batch reader读的。
本地里运行是没有问题，但是放到阡陌集群上就有问题，报这个日志，但是日志的信息我看不太懂哈。

[2018-06-13 05:35] typhoonzero commented on #11425
dup: https://github.com/PaddlePaddle/Paddle/issues/11262

[2018-06-13 06:26] lyp2github opened #11426 "启动时libpaddle_capi_shared.so 出core"
QA搭建自动部署任务时coredump, 开发机运行正常，
Program terminated with signal SIGILL, Illegal instruction.
#0  0x00007f5c3ff0b448 in paddle::DataConfig::SharedCtor() () from ./so/libpaddle_capi_shared.so
(gdb) bt
#0  0x00007f5c3ff0b448 in paddle::DataConfig::SharedCtor() () from ./so/libpaddle_capi_shared.so
#1  0x00007f5c3ff0bd2d in paddle::DataConfig::DataConfig() () from ./so/libpaddle_capi_shared.so
#2  0x0000

[2018-06-13 06:37] typhoonzero commented on #11426
请检查是否和

https://github.com/PaddlePaddle/Paddle/issues/62

http://www.paddlepaddle.org/docs/develop/documentation/zh/faq/build_and_install/index_cn.html#illegal-instruction

是相同的问题

[2018-06-13 06:48] lyp2github commented on #11426
/opt/compiler/gcc-4.8.2/bin/gcc -march=native -Q --help=target|grep march
  -march=                     		corei7

[2018-06-13 06:59] typhoonzero opened #11429 "Error when transpile program with piecewise_decay to distributed program"
When `piecewise_decay` is defined the pserver side program will have a wrong `conditional_block` refer to a block id that doesn't exist on the pserver program.

This error was first met by @kolinwei

[code]

[2018-06-13 07:03] kolinwei commented on #11429
图像的SE_ResNeXt50_32x4d 模型中lr_strategy=piecewise_decay

[2018-06-13 07:09] panyx0718 commented on #11410
When trainer0 sends the message for all pservers to save parameters, the other trainers are still training. We need to make sure it's ok for other trainers to wait (in sync mode) for the save, or for different pservers to save different versions of parameters (in async mode).

[2018-06-13 07:10] typhoonzero commented on #11394
Oh, try find it under your customized path like `/home/zengjinle/.local/lib` or `/home/zengjinle/.local/lib64`

[2018-06-13 07:15] panyx0718 commented on #11410
For the directory layout:
Does it need to be separated by "pserver ids"?
I assume you want to support some kind of elastic in the future? So the pserver cluster might be a bit dynamic.

If we only keep only persistent variables in the folder. During dynamic scaling or recovering, we can re-arrange the parameter assignments

[2018-06-13 07:20] sneaxiy commented on #11394
@typhoonzero I've found it in ~/.local/lib. Thanks a lot!

[2018-06-13 07:20] #11394 closed

[2018-06-13 07:44] followsun opened #11432 "paddle/fluid/platform/CMakeFiles/profiler_py_proto.dir/build.make:60"
Build error:
 [  8%] Built target memory_block
paddle/fluid/platform/CMakeFiles/profiler_py_proto.dir/build.make:60: *** 目标模式不含有“%”。 停止。
CMakeFiles/Makefile2:2820: recipe for target 'paddle/fluid/platform/CMakeFiles/profiler_py_proto.dir/all' failed
make[1]: *** [paddle/fluid/platform/CMakeFiles/profiler_py_proto.dir/all] Error 2
make[1]: *** 正在等待未完成的任务....

ubuntu18.04

[2018-06-13 08:11] xyzhou-puck opened #11433 "3D conv is needed in python-api"
Dear Paddlers,

I am working on replicating my previous works with Paddle recently. To this end, I need a 3D convolution operation. Could you please add it into your next version?

And you can refer to this: https://www.tensorflow.org/api_docs/python/tf/nn/conv3d, for details.

Thanks,
Xiangyang

[2018-06-13 08:18] typhoonzero commented on #11432
Are you following this tutorial to build: http://www.paddlepaddle.org/docs/develop/documentation/fluid/en/build_and_install/build_from_source_en.html, if not please provide the steps to reproduce this error

[2018-06-13 08:22] typhoonzero commented on #11426
抱歉？没太理解您上一条回复，是说在支持avx的机器上是可以正常执行的么？

[2018-06-13 09:05] Yancey1989 opened #11435 "[document]Add Fluid distributed training quick start"

[2018-06-13 09:29] seiriosPlus commented on #11410
@panyx0718
in sync mode, when trainer0 start to save checkpoint, other trainers also can not do something to update parameters on pserver.
in async mode, there have not control clearly.

[2018-06-13 09:34] seiriosPlus commented on #11410
[code]
It is an awesome suggestion, I will discuss how to design it with other partners.

[2018-06-13 09:40] yeyupiaoling commented on #11418
@panyx0718 使用pip命令安装的呢。

[2018-06-13 09:42] panyx0718 commented on #11418
了解了，估计是一个问题，pypi的包需要更新一下

[2018-06-13 09:43] yeyupiaoling commented on #11418
pip的版本大于等于9.0.0呢
[code]

[2018-06-13 09:45] Yancey1989 commented on #11429
Can also easy to reproduce it on fit-a-line, this model is simple enough and easy to debug:

[code]

error logs:

[code]

Needs to support `condition_block_op` in `DistributeTranspiler`.

[2018-06-13 09:52] jacquesqiao opened #11439 "demo code error in save_persistables"
https://github.com/PaddlePaddle/Paddle/blob/f1217451871875776c0b038133f5a9737dacfea3/doc/fluid/howto/cluster/fluid_cluster_train_cn.md#%E5%8D%95%E6%9C%BA%E8%AE%AD%E7%BB%83%E8%84%9A%E6%9C%AC%E7%A4%BA%E4%BE%8B

存了一个gradient，然后挂了。

[code]

![image](https://user-images.githubusercontent.com/3048612/41343966-89b74e58-6f32-11e8-9f81-a861dcffba9f.png)

[2018-06-13 09:54] seiriosPlus commented on #11410
Update Checkpoint directory structure:
[code]

[2018-06-13 10:59] oyjxer opened #11441 "使用fc层的时候指定了名字为fc，fetch这个fc层，训练完后save_inference_model ，然后在load_inference_model时候得到的这个fc的名字是fc.tmp_0,怎么才能没有tmp_0"
使用fc层的时候指定了名字为fc，fetch这个fc层，训练完后save_inference_model
，然后在load_inference_model时候得到的这个fc的名字是fc.tmp_0,怎么才能没有tmp_0

[2018-06-13 11:28] xiaolv3366 commented on #11405
我安装试一下

[2018-06-13 11:33] xiaolv3366 commented on #11405
paddlepaddle_gpu-latest-cp27-cp27mu-linux_x86_64.whl is not a supported wheel on this platform.

Python 2.7.10
pip 10.0.1 from /usr/local/python/2.7.10/lib/python2.7/site-packages/pip (python 2.7)

[2018-06-13 11:55] xiaolv3366 commented on #11405
安装成功了，谢谢！
sudo pip install paddlepaddle_gpu-latest-cp27-cp27m-linux_x86_64.whl

[2018-06-13 12:13] oyjxer opened #11443 "fluid.layers.split()不支持int64位吗？"
max_seq_len = 32
query = fluid.layers.data(name="query", shape=[max_seq_len], lod_level=0)
fluid.layers.split(query, num_or_sections=max_seq_len, dim=1)
在exec.run的时候会core，说op split not support int64

[2018-06-13 12:29] typhoonzero commented on #11441
@Superjomn Can you please take a look at this, Thanks!

[2018-06-13 12:40] luotao1 commented on #11439
https://github.com/PaddlePaddle/Paddle/blob/34865f2de39d9b8884260f8bd578e77c589f4195/paddle/fluid/inference/tests/book/CMakeLists.txt#L33
fit_a_line的单侧被注释了

[2018-06-13 12:45] followsun commented on #11432
Thanks. I build the source without docker, because it raises an error when I follow this tutorial.  E: Failed to fetch https://developer.download.nvidia.com/compute/machine-lea
The GCC version is >=7.0 (I forgot),
The steps I followed is:
sudo apt-get install -y git curl gfortran make build-essential automake swig libboost-all-dev
sudo apt-get install golang
git clone https://github.com/PaddlePadd

[2018-06-13 13:05] Sandy4321 opened #11444 "will it work on Windows OS?"
will it work on Windows OS?

[2018-06-13 13:08] qingqing01 opened #11445 "Skip the BatchNorm when feature only have 1 element."
[code]

If x only have 1 element, mean(x) = x,  std(x) = 0.  The output will be entirely zero (ignoring the bias). The feature is no meaningless.  In this case, we should not use feature-wise batch normalization.

[2018-06-13 13:11] ccmeteorljh opened #11446 "lstm 8gpu nccl2 下报错"
**测试环境：**
2 台 P40 8卡
**测试命令：**
python fluid_benchmark.py --model $2 --device GPU --gpus 8 --update_method nccl2
**测试结果：**
![image](https://user-images.githubusercontent.com/33303691/41353273-56c6e96a-6f4e-11e8-8d7b-8f6532536d5f.png)

[2018-06-13 13:21] xiaolv3366 opened #11447 "训练DeepFM模型，发生错误：Matrix.cpp:653] Not supported"
训练DeepFM模型，发生错误：Matrix.cpp:653] Not supported，请教如何解决？

[2018-06-13 22:51] tonyyang-svail opened #11452 "pip install error in official docker image"
[code]

the LD_LIBRARY_PATH needs to be manually exported to `/usr/local/lib`.

[2018-06-13 23:21] tonyyang-svail commented on #11416
Solution: use `weak_ptr`. case 3 can be solved by adding a `class MemOptTape : public Tape`, which keeps a `shared_ptr` to all `Parameter.Grad()`.

[2018-06-14 00:49] #11416 closed

[2018-06-14 01:31] xiaolv3366 commented on #11447
难道Paddle不支持使用GPU训练DeepFM模型。

[2018-06-14 01:44] typhoonzero commented on #11410
@panyx0718 @seiriosPlus I think it's hard to make pserver distributed table "elastic": when the table is large, rehashing or re-distribute all keys will take too much time since the checkpoint is saved as files on some distribute filesystem, we can not randomly access the keys in those files, reordering may spend even more time than training the daily incremental data.

For a large distributed tab

[2018-06-14 01:52] typhoonzero opened #11456 "Some node fails with insufficient GPU memory when running test"
Train with:
- 4 nodes
- 8 P40 GPUs per node
- NCCL2 distributed training
- Resnet 50 with ImageNet using recordio and readerop

Some node run the test successfully but some node report the following error:

[code]

[2018-06-14 02:15] Superjomn commented on #11439
不通知就 disable test，这个有点无奈啊

[2018-06-14 02:20] qingqing01 commented on #11331
@Leezhaohui 关闭这个issue了，在较新的代码上`paddle.fluid.layers.resize_bilinear`这个测试可用的。

[2018-06-14 02:20] #11331 closed

[2018-06-14 02:21] #11329 closed

[2018-06-14 02:33] xiaolv3366 commented on #6894
这个问题怎么解决？
ValueError: The data size must be equal to it in data layer.

[2018-06-14 02:34] xiaolv3366 commented on #6894
@typhoonzero 问题还没解决呢！
出现以下错误：
ValueError: The data size must be equal to it in data layer.

[2018-06-14 02:36] #10603 closed

[2018-06-14 02:37] #10417 closed

[2018-06-14 02:39] #10611 closed

[2018-06-14 02:39] #11279 closed

[2018-06-14 02:42] Superjomn commented on #11441
fc 的 output 的名字？

[2018-06-14 03:04] #11272 closed

[2018-06-14 03:08] typhoonzero commented on #10279
Closing this issue, most of the work are done except brpc and EDL related.

[2018-06-14 03:08] #10279 closed

[2018-06-14 03:09] #10492 closed

[2018-06-14 03:11] #10828 closed

[2018-06-14 03:11] #10870 closed

[2018-06-14 03:13] #11123 closed

[2018-06-14 03:30] #11375 closed

[2018-06-14 03:33] jacquesqiao commented on #11410
I agree, and if need to do rehashing, we can do it using an independent tool offline before recover, it will make the design much simpler. Most of the time, for a very large scale sparse training task, the parameter server number will be fixed.

[2018-06-14 03:44] typhoonzero commented on #11200
@ccmeteorljh 这个还可以稳定复现么，如果复现不了可否暂时先关闭？

[2018-06-14 04:04] typhoonzero commented on #11432
You can try to solve the networking issue and using docker to save some time for digging the dependencies.

For building on local environments, your error message seems not sufficient to determine what is missing, try to find the root error in the build log.

Anyway, you can check out `Dockerfile` to see all the dependencies needed by building paddle though.

[2018-06-14 04:19] Yancey1989 commented on #11200
这看起来是GRPC超时引起的，具体的报错信息可能在PServer上，PS上还有其他日志吗？

另外在贴日志的时候可以用
\```bash
\```

格式化下，看起来会方便一些。

[2018-06-14 05:55] dyning commented on #11320
@QiJune ,#11372 验证了，问题依然存在。

[2018-06-14 05:57] 930083287 opened #11463 "prologue failed (Status:kTaskStatusExited)"
prologue failed (Status:kTaskStatusExited)

[2018-06-14 06:09] dzhwinter commented on #11320
我来跟一下吧。
用这个里的googlenet可以复现是吗？
https://github.com/PaddlePaddle/models/blob/71f3172cff2a181873d68422c577c8c8a96d53dd/fluid/image_classification/caffe2fluid/examples/imagenet/tools/test.sh

[2018-06-14 06:28] luotao1 opened #11465 "teamcity fails"
[code]
https://paddleci.ngrok.io/viewLog.html?buildId=764&buildTypeId=Paddle_PrCi&tab=buildLog&_focus=6443

[2018-06-14 08:15] luotao1 opened #11467 "test_parallel_executor_crf hang"
https://paddleci.ngrok.io/viewLog.html?buildId=770&buildTypeId=Paddle_PrCi&tab=buildLog

[2018-06-14 08:50] DTDXG commented on #11347
想问一下关于multi label的配置问题，cost function 为multi_binary_label_cross_entropy_cost，最后一层的全联接的激活函数为softmax，但是程序会提示我"softmax is not a recommended activation for multi_binary_label_cross_entropy, sigmoid is better", 改成sigmoid之后，可以拟合，损失函数降低的不错，但是我觉得最后的结果效果不 好，但是改成softmax的话，感觉模型没有收敛，损失函数没有降低

[2018-06-14 09:10] chengduoZH commented on #11463
您可以描述的更具体一些吗

[2018-06-14 09:12] chengduoZH commented on #11452
Similar with https://github.com/PaddlePaddle/Paddle/issues/9034 https://github.com/PaddlePaddle/Paddle/issues/10989 https://github.com/PaddlePaddle/Paddle/issues/11002

[2018-06-14 09:15] #11465 closed, assigned to nobody

[2018-06-14 09:15] #11467 closed, assigned to chengduoZH

[2018-06-14 09:20] shangguanyifeng opened #11468 "模型中参数的值是如何指定的"
[code]
上面两个卷积+池化的函数中传的参数的值是如何指定的

例如第一个卷积+池化
[code]
filter_size为什么是5  num_filters为什么是20  还有第二层的参数

[2018-06-14 09:31] chengduoZH commented on #11468
这是模型的参数，并不是框架强行指定的。

对于常用的模型，如：mnist/vgg/Resnet，模型中的参数都是固定的，并且这些参数是模型的作者经过实验确定的。

[2018-06-14 09:43] typhoonzero commented on #11426
已经线下沟通解决，使用noavx版本的capi可以解决。

[2018-06-14 09:43] #11426 closed

[2018-06-14 09:48] chengduoZH commented on #11447
出问题的原因是模型计算中遇到两个sparse矩阵做乘积，这是无法进行的，请您检测一下您的网络配置。

[2018-06-14 09:52] chengduoZH commented on #11446
您可以把测试结果复制粘贴到这个issue吗？另外请不在issue中贴截屏图像，这样其他人不便于查找类似的问题。

[2018-06-14 09:56] gongweibao opened #11474 "CI meets `tape/variable.cc` error."
[code]

[2018-06-14 09:59] chengduoZH commented on #11443
是的，现在还不支持` int64`类型。

[2018-06-14 10:06] cbstyle opened #11475 "集群 No space left on device"
Thu Jun 14 17:49:26 2018[1,7]<stderr>:get: No space left on device
Thu Jun 14 17:49:26 2018[1,7]<stderr>:
Thu Jun 14 17:49:26 2018[1,7]<stdout>:Java HotSpot(TM) 64-Bit Server VM warning: Insufficient space for shared memory file:
Thu Jun 14 17:49:26 2018[1,7]<stdout>:   /tmp/hsperfdata_normandy/10920
Thu Jun 14 17:49:26 2018[1,7]<stdout>:Try using the -Djava.io.tmpdir= option to select an alternat

[2018-06-14 10:08] xiaolv3366 commented on #11447
PaddlePaddle给出的DeepFM模型的网络配置，就是这样的。
难道此模型之前没有用GPU训练过？之前没有测试过？
PaddlePaddle没有跑通此模型？那和深圳论坛讲的不一样啊。深圳论坛上讲CTR预测。

[2018-06-14 10:15] xiaolv3366 opened #11477 "数字识别例子出现错误：try "date -d @1528970452" if you are using GNU date ***"
数字识别例子出现错误：
try "date -d @1528970452" if you are using GNU date ***
使用CPU和GPU训练都出现错误。
![image](https://user-images.githubusercontent.com/12287110/41406372-c71f97ec-6ffe-11e8-85ac-b20b7344d696.png)

[2018-06-14 10:20] yeyupiaoling opened #11478 "PaddlePaddle升级到0.13.0版本后（CPU版本），显卡驱动报错"
明明安装的是CPU版本，但报显卡错误，这个是在V2版本下报的错，Fluid下没报错。
在无显卡的机器上应该能复现。

[code]

[2018-06-14 10:28] DDDivano opened #11479 "导入 libmkldnn.so.0 错误"
~/paddle/benchmark-master/fluid# python mnist.py --device GPU
Traceback (most recent call last):
  File ""mnist.py"", line 10, in <module>
    import paddle.fluid as fluid
  File ""/usr/local/lib/python2.7/dist-packages/paddle/fluid/__init__.py"", line 17, in <module>
    import framework
  File ""/usr/local/lib/python2.7/dist-packages/paddle/fluid/framework.py"", line 22, in <module>
    from . i

[2018-06-14 10:31] DDDivano opened #11480 "Aborted at 1528944632 (unix time) try "date -d @1528944632" if you are using GNU date"
Centos7 paddle0.13gpu  mnist.py报错
"*** Aborted at 1528944632 (unix time) try ""date -d @1528944632"" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x50) received by PID 58181 (TID 0x7fab2e3ad740) from PID 80; stack trace: ***
    @     0x7fab2dbc36d0 (unknown)
    @     0x7fab2e1a7d56 _dl_relocate_object
    @     0x7fab2e1b07ac dl_open_worker
    @     0x7fab2e1ab

[2018-06-14 10:49] ccmeteorljh commented on #11446
done

[2018-06-14 10:54] chengduoZH commented on #11477
您用的是自己的数据集吗？

[2018-06-14 10:55] chengduoZH commented on #11478
您是怎么调用的？

[2018-06-14 10:55] xiaolv3366 commented on #11477
不是自己的数据集，是官网下载，程序自动下载的。

[2018-06-14 10:57] chengduoZH commented on #11479
Similar with https://github.com/PaddlePaddle/Paddle/issues/11452

[2018-06-14 11:08] chengduoZH commented on #11480
您跑的是什么模型？

[2018-06-14 11:10] yeyupiaoling commented on #11478
@chengduoZH 普通的图像分类任务。

[2018-06-14 11:27] chengduoZH commented on #11478
确认一下 0.12.0是没有这个问题的？

[2018-06-14 11:30] yeyupiaoling commented on #11478
@chengduoZH 确认过了，0.12.0的没有问题。

[2018-06-14 11:37] chengduoZH commented on #11477
你跑的是什么模型，安装的是哪个版本的paddle，运行环境是什么?

[2018-06-14 11:47] yeyupiaoling commented on #11478
@chengduoZH
顺便再提个问题，下面的错误是什么原因呢？是在训练手写数字识别的时候出的错误。0.12.0和0.13.0都是一样。
[code]

[2018-06-14 12:03] #11474 closed, assigned to gongweibao

[2018-06-14 12:05] dzhwinter commented on #11320
这个issue @QiJune 和我的PR都是可以fix的。打开和关闭memory_optimize，可以完全对齐。验证结果如下，
使用了models中的googlenet，fetch部分的snippet如下
[code]
Reader部分下
[code]

关闭memory_optimize
[code]
打开memory_optimize
[code]

[2018-06-14 12:09] dzhwinter commented on #11320
这里需要特别注意顺序，必须在memory_optimize之前设置fetch的变量为persistable，或者加入到skip_set里。
原因是memory_optimize会默认把非persistable的变量(非参数变量，临时变量) 内存复用掉，节约内存，但是用户会fetch的变量也可能在其中，所以必须在做内存优化之前就把这个信息传过去。

[2018-06-14 12:10] panyx0718 commented on #11410
Sounds good. I thought you guys want to do elastic in the future.

[2018-06-14 12:16] jack603047588 opened #11484 "定义网络，使用concat op的name属性报错"
分支：fluid develop
代码：
 j_ctr_embed = fluid.layers.concat(input=[j_h1x], axis=1, name='j_ctr_embed_op')

报以下错误：
![baiduhi_2018-6-14_20-15-25](https://user-images.githubusercontent.com/8231390/41411522-c176b256-700f-11e8-81eb-4b1765abae02.png)

[2018-06-14 12:19] jacquesqiao commented on #11484
Ok, I will fix this.

[2018-06-14 12:21] typhoonzero commented on #11446
`Using internal Network IB` and `vendor err 136` means something is wrong with the RDMA driver. You can disable RDMA using `export NCCL_IB_DISABLE=1` to use socket only.

[2018-06-14 12:24] SheldonZHANG opened #11485 "模型读入数据的时候卡住"
模型是v1.11.0版本，双塔DNN，模型在读入输入的时候卡住了；而且不再继续打印日志 ；z这种情况总是反复出现
![image](https://user-images.githubusercontent.com/4178111/41411849-d01e65e6-7010-11e8-903d-a8d033287ee2.png)

[2018-06-14 12:25] SheldonZHANG commented on #11485
模型日志的地址是: http://10.87.121.24:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20180614182036-880/

[2018-06-14 12:25] dyning commented on #11320
赞，修复后可以正常显示loss，thanks。

[2018-06-14 12:29] SheldonZHANG commented on #11485
模型配置如下：
def deepctr_net(input_dim, class_dim=2, emb_dim=64, fea_dim=128, is_predict=False):

    E_AgeId = embedding_layer(input=data_layer("AgeId", 5+2), size=8)
    E_GenderId = embedding_layer(input=data_layer("GenderId", 2+2), size=8)
    embedding2 = embedding_layer(input=data_layer("MultiPreqIds", input_dim), \
                size=emb_dim)
    E_MultiPreqIds = text_conv_pool(input=embedding

[2018-06-14 12:31] SheldonZHANG commented on #11485
DataProvider:
def hook(settings, dict_file, schema_file, feature_file, **kwargs):
    """
    init
    """
    del kwargs

    settings.logger.info("hook")
    word_dict = util.load_dict(dict_file)

    dict_size = len(word_dict)

    settings.logger.info("dict_size is %d" % dict_size)

    settings.input_types = [
            integer_value(5+2), #ageid
            integer_value(2+2), #genderid

[2018-06-14 12:32] SheldonZHANG commented on #11485
def hook(settings, dict_file, schema_file, feature_file, **kwargs):
    """
    init
    """
    del kwargs

    settings.logger.info("hook")
    word_dict = util.load_dict(dict_file)

    dict_size = len(word_dict)

    settings.logger.info("dict_size is %d" % dict_size)

    settings.input_types = [
            integer_value(5+2), #ageid
            integer_value(2+2), #genderid
            inte

[2018-06-14 12:34] SheldonZHANG commented on #11485
[code]

[2018-06-14 12:51] chengduoZH commented on #11447
既然已经发布了，那是可以跑通的。
这个运行环境有关，不清楚你那边的运行环境是什么。

[2018-06-14 12:59] chengduoZH commented on #11478
在无显卡的机器上应该能复现。

你跑的模型是CPU的吗？
另外，我这边用0.12的paddle运行book中的数字识别是没有问题的。

[2018-06-14 13:26] yeyupiaoling commented on #11478
@chengduoZH

是的，所以这就很奇怪。0.13.0的CPU版本哦
[code]

这个我在另一台机器运行也没有错，只是在本地的机器报错，所以我也不知道为什么。

[2018-06-14 13:34] chengduoZH commented on #11478
猜想是不是环境问题，我这边用0.13的CPU版本跑book中的数字识别也是没问题的。

[2018-06-14 13:36] yeyupiaoling commented on #11478
@chengduoZH 最开始的问题是book中的图像分类的，第三章的。数字识别是最后那个错误。

[2018-06-14 14:12] typhoonzero commented on #11485
can you please paste the node status like memory usage and the if all the process are running? and try decrease the pool_size to reduce memory usage.

[2018-06-14 14:14] SheldonZHANG commented on #11485
http://yq01-hpc-lvliang01-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20180614182036-880&submitTime=2018-06-14%2018:20:36

[2018-06-14 14:20] yywangvr opened #11494 "pip安装失败"
最近想要使用paddle写代码，可是发现居然无法安装paddle:

Collecting paddlepaddle-gpu
  Could not find a version that satisfies the requirement paddlepaddle-gpu (from versions: )
No matching distribution found for paddlepaddle-gpu

这是什么原因啊？ 我在海外，是找不到源嘛。。。

[2018-06-14 14:25] kolinwei commented on #11494
pip install paddlepaddle_gpu

[2018-06-14 14:28] chengduoZH commented on #11494
@Yuyang01  这里有相关的文档 http://www.paddlepaddle.org/docs/0.13.0/documentation/zh/build_and_install/pip_install_cn.html

[2018-06-14 14:31] chengduoZH commented on #11475
从log信息上看是您的设备空间不足。

[2018-06-14 14:50] chengduoZH commented on #11478
建议您换个环境试一下，因为我这边不能复现您的问题

[2018-06-14 19:21] yywangvr commented on #11494
你好，我的电脑不带gpu啊，我是mac book pro2015. 也要安装gpu版本吗

[2018-06-14 19:21] yywangvr commented on #11494
(py36) Yuyang:~ Yuyang$ pip install paddlepaddle_gpu
Collecting paddlepaddle_gpu
  Could not find a version that satisfies the requirement paddlepaddle_gpu (from versions: )
No matching distribution found for paddlepaddle_gpu
(py36) Yuyang:~ Yuyang$

依旧不行

[2018-06-14 23:58] gongweibao opened #11498 "inference_api_native.image_classification_gpu in CI failed."
[code]

[2018-06-15 01:27] yeyupiaoling commented on #11478
@chengduoZH 行吧，谢谢您的回答。

[2018-06-15 01:27] #11478 closed, assigned to chengduoZH

[2018-06-15 01:37] xiaolv3366 commented on #11477
教程里面数字识别例子，安装最新的paddle，ubuntu 16.04系统。
这个错误频繁出现，很多人提出来，可以复现的。

[2018-06-15 01:41] kolinwei commented on #11494
@Yuyang01 你好，现在pip上没有MAC下的whl包，如果想在MAC下试用，可以在docker里面安装
https://hub.docker.com/r/paddlepaddle/paddle/tags/

[2018-06-15 01:45] followsun commented on #11432
Ok. I will try these. Thanks again.

On Thu, Jun 14, 2018 at 12:04 PM +0800, "Wu Yi" <notifications@github.com> wrote:

Failed to fetch https://developer.download.nvidia.com/compute/machine-lea

You can try to solve the networking issue and using docker to save some time for digging the dependencies.

For building on local environments, your error message seems not sufficient to determine what is

[2018-06-15 02:00] #11433 closed

[2018-06-15 02:29] #11443 closed

[2018-06-15 02:33] chengduoZH commented on #11477
@xiaolv3366 您那边看一下你装的paddle的版本，`pip freeze | grep paddle`
这边用`paddlepaddle==0.13.0`跑手写数字识别是没有问题的。

[code]

[2018-06-15 02:36] oyjxer commented on #11441
@Superjomn 是

[2018-06-15 02:40] typhoonzero commented on #11446
@ccmeteorljh Is this still an issue now? will close if it's done.

[2018-06-15 03:17] xiaolv3366 commented on #11477
@chengduoZH 最新版本，一周前你们编译的版本，应该比paddlepaddle 0.13.0版本还新。
![image](https://user-images.githubusercontent.com/12287110/41448544-abc0c054-708d-11e8-8003-6fe8747043f3.png)

[2018-06-15 03:38] guochaorong commented on #11120
之前CE 那个折线图显示的commit 顺序不对， 正确的曲线是这个

http://18.222.34.7/commit/draw_scalar?task=text_classification

看起来cost 指标仍存在一定波动~

[2018-06-15 04:03] cbstyle commented on #11475
这个是集群训练的，我是节点数量设置少导致的吗？还是啥其他原因？

[2018-06-15 04:04] cbstyle opened #11505 "集群训练出现list index out of range错误，但是data_reader没有任何问题"
Fri Jun 15 11:59:08 2018[1,6]<stderr>:[INFO 2018-06-15 11:59:08,071 video_mean_provider_copy_1.py:33] label_dict len: 6300313
Fri Jun 15 11:59:12 2018[1,10]<stderr>:F0615 11:59:12.354856 23684 PyDataProvider.cpp:367] Check failed: (obj) != nullptr Python Error: <type 'exceptions.IndexError'> : list index out of range
Fri Jun 15 11:59:12 2018[1,10]<stderr>:Python Callstack:
Fri Jun 15 11:59:12 2018

[2018-06-15 04:33] DDDivano commented on #11480
mnist.py

[2018-06-15 04:42] typhoonzero opened #11506 "Fix grpc build to depend on it's own third party but not paddle's thirdparty"
Need to refine `extern/grpc.cmake` to use it's own third party to reduce build time and remove redundant builds.

Also need to build on mac.

[2018-06-15 04:47] chengduoZH commented on #11477
您可以换成paddlepaddle 0.13.0试一下吗？

[2018-06-15 04:52] typhoonzero commented on #6894
@xiaolv3366 建议检查下输入数据是否和data layer配置是保持一致的，可以在reader里print数据检查下。

[2018-06-15 04:59] chengduoZH commented on #11480
您是怎么安装的paddle，模型用的是V2还是Fluid，另外可以把模型代码贴一下吗？我这边好复现

[2018-06-15 05:10] chengduoZH commented on #11479
@DivanoZ 你可以改一下环境变量，LD_LIBRARY_PATH=(ibmklml_intel.so所在的路径):$LD_LIBRARY_PATH

[2018-06-15 05:22] chengduoZH commented on #11475
像是你运行的集群里面某个结点的GPU显存不够，你可以查一下

[2018-06-15 05:24] #11468 closed, assigned to chengduoZH

[2018-06-15 05:29] kolinwei opened #11507 "训练中通过feed参数给数据，如果发生数据不存在的错误，程序不会退出"
如以下方式:
train_reader = paddle.batch(reader.train(), batch_size=train_batch_size)
for batch_id, data in enumerate(train_reader()):
            loss, acc1, acc5 = train_exe.run(fetch_list, feed=feeder.feed(data))

如果train_reader出错，比如某个图片不存在，这种情况下reader会报错，但是报错后主程序也不会退出，只能强制杀掉。

[2018-06-15 05:47] #5549 closed

[2018-06-15 05:49] chengduoZH commented on #6593
It had done in this PR https://github.com/PaddlePaddle/Paddle/pull/11437.

[2018-06-15 05:49] #6593 closed

[2018-06-15 05:50] #6661 closed

[2018-06-15 05:50] #6686 closed

[2018-06-15 05:50] typhoonzero opened #11509 "os.kill(pid, signal.SIGTERM) has no effect using paddlepaddle/paddle:latest-dev"
Some unit tests like `test_listen_and_serv_op.py`, run the test with `paddlepaddle/paddle:latest-dev` docker image, the call `os.kill(pid, signal.SIGTERM)` have no effect, while run `kill pid` in the shell can successfully terminate the process. When using manylinux docker images, this issue is gone.

More info: https://github.com/PaddlePaddle/Paddle/pull/11470

[2018-06-15 05:52] typhoonzero commented on #11509
@velconia Can you please take a look at this?

[2018-06-15 05:52] #9045 closed

[2018-06-15 05:55] chengduoZH commented on #9945
该issue长时间没有回复，暂且关闭了。

[2018-06-15 05:55] #9945 closed

[2018-06-15 06:16] velconia commented on #11509
OK

[2018-06-15 06:17] velconia commented on #11509
具体是说, 只能支持SIGINT, 不能支持SIGTERM是吗?

[2018-06-15 06:47] xiaolv3366 commented on #11447
就是使用GPU训练DeepFM模型，Model下面的DeepFM模型。
注意，使用CPU训练没有问题，看了框架代码，GPU不支持两个稀疏矩阵做乘积。
因此，DeepFM模型你们没有使用GPU跑过。
不信你们自己用GPU跑一下，错误必现。

[2018-06-15 07:05] typhoonzero commented on #11509
需要支持SIGINT, SIGTERM，不能使用SIGKILL

[2018-06-15 07:12] yeyupiaoling commented on #11494
@Yuyang01 如果没有GPU，那直接：
[code]
pip 版本要大于9.0

[2018-06-15 07:29] yeyupiaoling commented on #11480
@chengduoZH 他复现了我的问题：https://github.com/PaddlePaddle/Paddle/issues/11478#issuecomment-397266490

[2018-06-15 07:30] yeyupiaoling commented on #11479
@DivanoZ 这些文件应该在`/usr/local/lib`下，可以把这些文件复制到`/usr/lib`下

[2018-06-15 07:32] yeyupiaoling commented on #11477
应该跟这个问题相同：#11480

[2018-06-15 07:51] #11235 closed

[2018-06-15 07:55] lucywsq commented on #11444
For Windows, only under the environment of  Docker can you start installing. You may download that. For more details, please refer to this instruction :
http://www.paddlepaddle.org/docs/develop/documentation/fluid/en/build_and_install/docker_install_en.html
If you have any questions, just keep contact in this issue~
Hoping you have a nice start : )

[2018-06-15 08:33] xiaolv3366 commented on #11477
paddlepaddle 0.11.0 0.12.0 0.13.0 这三个版本我都试了，还是报错。

[2018-06-15 08:40] qingqing01 opened #11514 "Fix comments for BilinearInitializer."
https://github.com/PaddlePaddle/Paddle/pull/11404#pullrequestreview-128640632

[2018-06-15 08:40] #11403 closed

[2018-06-15 08:42] oyjxer commented on #11443
@chengduoZH 现在都支持啥类型，什么时候支持int64

[2018-06-15 08:59] chengduoZH commented on #11443
@oyjxer 昨天把int64加进去了，现在split支持的类型由double, float, int64_t, int.
你可以从这里下载最新的安装包 http://www.paddlepaddle.org/docs/0.13.0/documentation/zh/build_and_install/pip_install_cn.html

[2018-06-15 09:27] chengduoZH commented on #11477
@yeyupiaoling @xiaolv3366 你们在docker里面也会出现这种问题吗？
这里有docker中使用paddle的教程。http://www.paddlepaddle.org/docs/0.13.0/documentation/zh/build_and_install/docker_install_cn.html

另外，你将batch_size调小一点，比如2，试试有没有问题。

[2018-06-15 09:36] gongweibao opened #11517 "GCC warnings"
[code]

[2018-06-15 11:00] velconia commented on #11429
ConditionalBlock has the attribute: ```sub_block```, the Block in ```sub_block``` attribute will NOT be cloned into pserver_program in dist_transpiler, we just added these ```sub_block``` recursivly

[2018-06-15 11:09] kolinwei opened #11522 "se-resnet模型训练imagent数据，2ps、4trainer，训练完1个pass后train连不上ps"
ps实际上还在运行。
Pass 0,testbatch 3100,loss 3.85814905167,                        acc1 0.1875,acc5 0.4375,time 0.10 sec
Pass 0,testbatch 3110,loss 4.93263053894,                        acc1 0.0,acc5 0.25,time 0.11 sec
Pass 0,testbatch 3120,loss 4.12771701813,                        acc1 0.125,acc5 0.5,time 0.11 sec
End pass 0, train_loss 5.50010538101, train_acc1 0.0622033625841, train_acc5 0.1665480136

[2018-06-15 11:46] yywangvr commented on #11494
同学你好，谢谢你的回复。我的所有都是最新的，就是不能安装。我目前在欧洲，不知道是不是这个原因？

[2018-06-15 11:47] yywangvr commented on #11494
你们可以把自己的paddlepaddle卸载了，用pip安装一下，试试能否成功？ ：）

[2018-06-15 11:51] yeyupiaoling commented on #11494
@Yuyang01 测试过了，没有问题的。不应该受区域影响吧，要不你试试VPN，我觉得全球都能用的。

[2018-06-15 13:31] #11517 closed, assigned to gongweibao

[2018-06-15 15:12] #6811 closed

[2018-06-15 17:36] #11393 closed

[2018-06-15 21:49] yywangvr commented on #11494
你好，谢谢。最后用py2.7版本安装成功了。之前我的配置是py3.6。 多谢各位帮忙

*Yuyang Wang*
Institut image,
Laboratoire d’Ingénierie des Systèmes Physiques et Numériques,
Arts et Métiers ParisTech,

2 rue Thomas Dumorey – 71100 Chalon-sur-Saône, France
E-mail：alwyuyang@ <alwyuyang@163.com>gmail.com, yuyang.wang@
<alwyuyang@163.com>ensam.eu <http://gmail.com/>
Http://github.com/Yuyang01

On 15 June 2018 at 13:52, 夜雨飘零 <notification

[2018-06-15 21:50] yywangvr commented on #11494
希望你们辛苦一些，能不能尽快发布适合py3.0+版本的。

*Yuyang Wang*
Institut image,
Laboratoire d’Ingénierie des Systèmes Physiques et Numériques,
Arts et Métiers ParisTech,

2 rue Thomas Dumorey – 71100 Chalon-sur-Saône, France
E-mail：alwyuyang@ <alwyuyang@163.com>gmail.com, yuyang.wang@
<alwyuyang@163.com>ensam.eu <http://gmail.com/>
Http://github.com/Yuyang01

2018-06-15 23:48 GMT+02:00 Yuyang Wang <alwyuyang@gmail.co

[2018-06-16 04:44] kuke commented on #11505
请问是否在本地验证过data reader？看起来像数据的问题

[2018-06-16 08:32] panyx0718 opened #11528 "About Compatibility"
Paddle follows semantic versioning.
Each release has version of the following format: ```MAJOR.MINOR.PATCH```. Some key points:

- Major version zero (0.y.z) is for initial development. Anything may change at any time. The public API should not be considered stable. (We'll discuss it doesn't quite fit us)

- For 1.y.z, changes across ```MINOR``` version should be backward compatible.

- If your so

[2018-06-17 00:43] kexinzhao opened #11529 "Implementing lazy execution in tape"
In Tape, we want to provide the lazy evaluation feature, so that we can use the following code to compute the value of a variable:

[code]

When `value()` is called upon a variable, the variable must know the location of the operator handle in the global tape so that tape run from the current op position up to the location of the target op handle.

There are two ways of adding the needed info in v

[2018-06-17 15:47] lgone2000 commented on #11373
比如我想finetune一个resnet50模型，想把不同block参数的learningrate区别设置，有办法做到吗？原来想看是否能把参数的名字重新命名，然后按照过滤出来。

[2018-06-17 15:50] lgone2000 commented on #11373
另外不同层的模型参数共享是否是通过指定相同的参数名实现的呢？ 如何利用paddle的命名来操作变量？

[2018-06-17 15:53] lgone2000 opened #11533 "加载fluid要7-8秒钟"
import paddle.fluid as fluid
这句话执行了很长时间，能否降低这个加载时间呢？
对于调试程序，这个干扰很大。只要import fluid 什么都不做，都要等上一阵子

[2018-06-17 16:20] lgone2000 commented on #11371
举下面例子看能否产生有意义的错误提示。
[code]
当#exe.run(fluid.default_startup_program()) 注释关闭时，可以正常运行，当注释打开时，会报下面错误。
希望报错给出 类似 should call fluid.default_startup_program before run main_program

    self.executor.run(program.desc, scope, 0, True, True)
paddle.fluid.core.EnforceNotMet: enforce y_dims.size() > y_num_col_dims failed, 1 <= 1
The input tensor Y's rank of MulOp should be larger than y_num_col_dims. at [/pa

[2018-06-17 16:54] lgone2000 commented on #11371
另一个示例
[code]
当batchnum=5 时，报下面错误（batchnum=10可以跑），看错误也是搞不清发生了什么。我是把每行单独注释掉，调试才发现问题的，如果是调试一个比较大的网络，查这种错误会浪费用户大量时间。

File "mnist.py", line 271, in testpredict1
    fetch_list=[x, y_predict, reshaped_y_predict])
  File "/home/python-gcc482-paddle/lib/python2.7/site-packages/paddle/fluid/executor.py", line 340, in run
    self.executor.run(program.desc, scope, 0, True, True)
paddle.fluid.core.EnforceNo

[2018-06-17 17:03] lgone2000 commented on #11484
这个之前应该王龙修正过
https://github.com/PaddlePaddle/Paddle/commit/3e177b9d917d657c52244d0adf7e187f5f7731cb#diff-2f61feb27730d0f42a351131c7077ec2

[2018-06-18 02:25] gongweibao commented on #11509
How to reproduce the hang ISSUE?

[2018-06-18 04:04] lgone2000 opened #11535 "fluid softmax+cross_entropy是否和softmax_with_cross_entropy 等价"
下面程序 如果flag = 1 使用 就报错，flag=0 就可以跑。
对loss加mean则都能跑。不加mean时，loss输出是一个数组，这时候 opt是怎么优化的呢？
[code]

[2018-06-18 06:02] lgone2000 opened #11536 "paddle.fluid.layers. 下面的api函数接口 不太一致"
举个例子
paddle.fluid.layers.data
paddle.fluid.layers.embedding
paddle.fluid.layers.fc

三个定义接口定义如下，其中data 的name参数在最前面没有缺省值，embedding 没有name参数，fc有name参数放在最后，而且缺省值是None
[code]

[2018-06-18 09:32] #10529 closed

[2018-06-18 10:08] Yancey0623 commented on #10963
`ParallelExecutor` has a thread pool to make ops parallelism and use the inputs/outputs of each op to identify the dependency of ops, if we use `send_op` as async mode, it would exist immediately and running backend(run cudaMemcpy etc..), this would lead to other ops hung on cuda stream.

[2018-06-18 10:47] lgone2000 opened #11539 "如何禁用掉fc层的bias参数？"
根据文档，fc函数的bias_attr的参数设置为None时，不会生成bias参数，但实际测试发现生成了bias参数变量，请问这个正常吗？

[code]

[2018-06-18 10:59] dyning commented on #11320
实际运行时，发现训练过程中，内存使用一直在涨，不知道什么情况？

[2018-06-18 11:13] qingqing01 opened #11540 "There is bug in concat CUDA kernel."
Add unit test in `python/paddle/fluid/tests/unittests/test_concat_op.py` to reproduce the bug:
[code]

The error is:

[code]

[2018-06-18 11:25] qingqing01 opened #11542 "It seems there is bug in relu API."
[code]

[2018-06-18 11:29] panyx0718 commented on #11320
这个高优跟进一下吧。看看能不能先一起复现一下

[2018-06-18 11:34] panyx0718 commented on #10633
为什么这个被重新打开了呢？是又可以复现了吗？

[2018-06-18 13:10] qingqing01 opened #11545 "Need to expose crop op into Python API."
This operation is needed in Pyramidbox inference.

[2018-06-18 13:24] dzhwinter commented on #11320
是内存在涨还是显存在涨？ 什么版本的paddle？

[2018-06-19 01:27] Yancey0623 opened #11551 "Add unit test for dist train with ParallelExeuctor(threads_num > 1)"

[2018-06-19 01:48] Leezhaohui opened #11552 "格拉姆矩阵"
v2版本怎么通过卷积神经网络的输出定义其feature map的格拉姆矩阵

[2018-06-19 01:53] dyning commented on #11320
是内存在涨，最新版的paddle

[2018-06-19 03:12] tonyyang-svail commented on #11529
The implementation of Tape has been moved to PaddlePaddle/tape.

[2018-06-19 03:12] #11529 closed, assigned to kexinzhao

[2018-06-19 04:39] reyoung commented on #11552
V2支持矩阵转置
https://github.com/PaddlePaddle/Paddle/blob/49f23e63a9e6e5ad7b9c772e4f2cafae66206330/python/paddle/trainer_config_helpers/layers.py#L2232
矩阵乘法
https://github.com/PaddlePaddle/Paddle/blob/49f23e63a9e6e5ad7b9c772e4f2cafae66206330/python/paddle/trainer_config_helpers/layers.py#L35

应该可以拼出来计算格拉姆矩阵的操作。

[2018-06-19 04:45] Leezhaohui commented on #11552
看了v2的API，感觉full_matrix_projection的用法不太明白，能实现两个layer的矩阵相乘吗？

[2018-06-19 05:37] jacquesqiao commented on #11484
fixed

[2018-06-19 05:37] #11484 closed, assigned to jacquesqiao

[2018-06-19 05:45] joodo commented on #11477
@chengduoZH 我也复现了问题，改 batch_size 没用

[2018-06-19 05:54] Yipeng-Sun commented on #11422
转换fc部分为什么会有问题呢？转换部分程序的基本原理是怎样的，能否debug

[2018-06-19 06:16] seiriosPlus opened #11561 "Optimized user API about checkpoint"

[2018-06-19 07:13] lemon34 commented on #11422
crnn_ctc_model.py代码如下

[code]

ctc_train.py 代码如下：

[code]

[2018-06-19 07:25] hejiajia opened #11565 "编译paddlepaddle出错"
运行环境
内核版本：
Linux version 2.6.32_1-18-0-0  (gcc version 4.4.4 20100726 (Red Hat 4.4.4-13) (GCC) ) #1 SMP Fri Jan 29 18:37:55 CST 2016
paddlepaddle版本：0.13.0
gcc版本：gcc4.8.2

运行步骤
1.获取PaddlePaddle代码, 本模块基于PaddlePaddle v0.13.0实现
$ git clone https://github.com/PaddlePaddle/Paddle.git
$ cd Paddle
$ git checkout v0.13.0
2.本模块及所用的PaddlePaddle Fluid Inference是基于gcc4.8.2编译的，修改CMakeLists.txt文件：
增加一行：SET(CMAKE

[2018-06-19 07:55] tensor-tang commented on #11565
补充说明下，WITH_MKLDNN=OFF，可以编译过。

[2018-06-19 08:06] joodo commented on #1940
@kuke 链接失效

[2018-06-19 08:07] Leezhaohui opened #11566 "paddle.v2.layer.full_matrix_projection"
full_matrix_projection这个layer官方API：out.row[i]+=in.row[i]∗weight 中的weight怎么在哪里设置的，还有这个layer具体实现的是什么操作啊

[2018-06-19 08:24] JiahaoYao opened #11567 "Convolution Weight in PaddlePaddle"
The first convolutional layer in [resnet](https://github.com/PaddlePaddle/models/blob/develop/image_classification/resnet.py) is kernel 7x7, stride 2 channels 64. I download the weight of the resnet. It is in the shape of `(1, 9408)`, which is exactly `7x7x3x64`. Can I ask what is the shape of the weight in the `tf version`. It should be a 4-dim vector. But I am not sure whether it is `(7,7,3,64)`

[2018-06-19 08:58] seiriosPlus commented on #11561
At currently, we have exposed too much checkpoint APIs  to users, such as:
[code]
Much of them are not for users but for develops, so, I will extract ```save_checkpoint```, ```load_checkpoint```, ```clean_checkpoint``` from them, and make others as private functions.

[2018-06-19 09:19] velconia commented on #11509
抱歉, 我也没能复现, 请问方便描述下具体的复现方法吗?

是在 paddlepaddle/paddle:latest-dev 这个 image里编译后执行ctest吗? @typhoonzero

[2018-06-19 09:20] xuezhong opened #11568 "distribute trainer's rpc client cannot wait server to start up"
rpc client should try to establish connection in period while rpc server is not started. Following is the log:
init fluid.framework.default_startup_program
E0619 09:11:08.576251   159 grpc_client.cc:242] proc param error:name:[fc_75.b_0@GRAD.trainer_1] ep:[127.0.0.1:6176] grpc error:Connect Failed
E0619 09:11:08.576308   192 grpc_client.cc:242] proc param error:name:[fc_64.w_0@GRAD.trainer_1] ep:[

[2018-06-19 09:46] #3743 closed

[2018-06-19 09:46] #4030 closed

[2018-06-19 10:37] #11545 closed, assigned to nobody

[2018-06-19 11:37] usafchn commented on #8701
同问

[2018-06-19 11:39] Yancey0623 opened #11572 "Hidden parallel_executor.bcast_params() when distributed train"

[2018-06-19 12:20] #11565 closed, assigned to nobody

[2018-06-19 12:38] kolinwei commented on #11522
pass数不定，有时候是16个pass 有时候是45个pass

[2018-06-19 13:14] Yancey0623 opened #11577 "Use independent cuda stream in rpc op to improve performance"

[2018-06-19 13:42] #11540 closed, assigned to nobody

[2018-06-19 14:34] qingqing01 commented on #11445
If there is only one element in norm dimension,  for example,  feature map is [1, 128, 1, 1] or [1, 32],  the moving variance will be NaN.  The following test can reproduce this problem:

[code]

Will print:

[code]

[2018-06-19 14:42] wanghaoshuang commented on #11533
@lgone2000  这个耗时主要在初始化device步骤，默认是初始化所有可见device, 你可以通过`export CUDA_VISIBLE_DEVICES=0`减少可见device，来缩减初始化时间。

[2018-06-19 16:31] wangkuiyi opened #11581 "Even with -DWITH_PYTHON=OFF cmake still wants pip"
I am trying to build Paddle on a Lenovo P51 laptop computer with Ubuntu 16.04 without using Docker.

The following command

[code]

caused an error

[code]

[2018-06-19 16:35] wangkuiyi commented on #11581
The error was caused by the following CMake snippet

https://github.com/PaddlePaddle/Paddle/blob/59729902950a022607d4ec6636e9412014b4860f/paddle/api/CMakeLists.txt#L104-L120

Is this because that unit test needs Python?

[2018-06-20 00:26] wangkuiyi opened #11582 "Rename fluid/operators/details into fluid/operators/distributed"
It seems from

https://github.com/PaddlePaddle/Paddle/blob/59729902950a022607d4ec6636e9412014b4860f/paddle/fluid/operators/detail/CMakeLists.txt#L1

that this directory is only used for distributed training. How about we give it an accurate name `distributed`?

[2018-06-20 00:28] wangkuiyi opened #11583 "Standardize CMake usage"
https://github.com/PaddlePaddle/Paddle/blame/develop/paddle/fluid/operators/detection/CMakeLists.txt#L3

Please don't use CMake functions.  Instead, please only use functions defined in [generic.cmake](https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/generic.cmake).

[2018-06-20 00:29] wangkuiyi commented on #11583
May we know why do we need to define CMake function `detection_library` here? Or, could we use functions defined in generic.cmake instead? Thanks! @qingqing01

[2018-06-20 00:30] wangkuiyi opened #11584 "Use standardized CMake functions"
https://github.com/PaddlePaddle/Paddle/blame/develop/paddle/fluid/operators/math/CMakeLists.txt#L3

Could we use functions defined in generic.cmake instead of defining `math_library` here?

[2018-06-20 00:30] wangkuiyi commented on #11583
A related issue is https://github.com/PaddlePaddle/Paddle/issues/11584

[2018-06-20 00:31] wangkuiyi commented on #11584
A related issue is https://github.com/PaddlePaddle/Paddle/issues/11583

[2018-06-20 00:31] wangkuiyi commented on #11584
Another related issue is https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/reader/CMakeLists.txt#L4

@reyoung

[2018-06-20 01:19] Yancey0623 commented on #11429
As the comment https://github.com/PaddlePaddle/Paddle/pull/11520#discussion_r196622596, there also has a bug for sub_block in pserver.

[2018-06-20 01:28] typhoonzero commented on #11367
Dup: https://github.com/PaddlePaddle/Paddle/issues/11446, `vendor err 136` means something was wrong with you RDMA driver or hardware.

[2018-06-20 01:29] typhoonzero commented on #11522
Dup: https://github.com/PaddlePaddle/Paddle/issues/11200

[2018-06-20 01:31] typhoonzero commented on #11259
workaround, pserver启动的进程，不要包含reader相关代码即可。

[2018-06-20 02:27] Leezhaohui opened #11586 "seq_slice"
请问seq_slice如果从序列的第一个元素开始进行截取，那么起始索引应该是0还是1呢？

[2018-06-20 02:31] wrchow opened #11587 "hadoop跑capi预测报内存错误"
之前试过小内存的机器就会报这个错误，大内存机器没问题，paddle对内存的要求很高的样子，如何降低这个要求？

0620 10:12:34.262291   426 Util.cpp:166] commandline:  --use_gpu=False
I0620 10:12:34.328554   426 GradientMachine.cpp:94] Initing parameters..
I0620 10:12:36.696529   426 GradientMachine.cpp:101] Init parameters done.
I0620 10:12:36.696564   426 GradientMachine.cpp:83] Loading parameters from ./model-parmas-cnn-v8/
*** Aborted at 1529460756

[2018-06-20 02:34] dzhwinter commented on #11320
update：
训练过程中峰值在上涨，登陆进去看实际占用内存并没有波动。本地启动任务复现不了这个问题，正在和cloud跟进。

[2018-06-20 02:36] shanyi15 commented on #1940
@joodo  您好，请参考：
官网文档：
http://www.paddlepaddle.org/docs/develop/documentation/zh/howto/cmd_parameter/index_cn.html
github位置：
https://github.com/PaddlePaddle/Paddle/tree/develop/doc/v2/howto/cmd_parameter

[2018-06-20 02:44] cbstyle commented on #11505
小数据量，本地测data reader没问题~ 而且看集群日志，都是在数据load完之后才出现这个问题的

[2018-06-20 02:49] liuliyalei opened #11589 "ImportError: No module named easydict"
在jupyter notebook当中代码如下：
from easydict import EasyDict as edict

报错：
ImportErrorTraceback (most recent call last)
<ipython-input-12-8c181a6ae8b4> in <module>()
----> 1 from easydict import EasyDict as edict
ImportError: No module named easydict

之后我在系统中用pip install easydict --user安装了easydict
在python中测试
from easydict import EasyDict as edict
没有报错

再到在jupyter notebook运行代码如下：
from easydict import Eas

[2018-06-20 02:51] qingqing01 commented on #9413
Another data process library:   https://github.com/NVIDIA/DALI  (Not sury yet)

Just record here.

[2018-06-20 02:52] JiahaoYao opened #11591 "Parameters intialization"
[code]

I build a one layer convolution layer. It tries to set the parameter to be the Gaussian `mean=0, std=0`. When I try to print this parameter out, it is either too big or too small. It seems that the variance is so big.

![image](https://user-images.githubusercontent.com/20907377/41634766-dc41d6b2-7477-11e8-8018-6f4d7d0cca26.png)

Does this mean that the parameter initialization is wrong?

[2018-06-20 02:59] gangliao commented on #11581
This code should be erased.  Long long ago, `ExternalProject_Add` in PaddlePaddle supports to build python bin/lib from source code `${PYTHON_SOURCES_DIR}` which already been deleted since it's too tricky to build python under the different OS.  This snippet surely is forgotten somewhere.

[2018-06-20 03:25] JiayiFeng commented on #11586
索引应该是从0开始的

[2018-06-20 03:42] JiayiFeng commented on #11587
可否先根据模型参数大小和一次送入的数据量估算一下理论内存占用情况？

[2018-06-20 03:43] chengduoZH commented on #8701
duplicate with https://github.com/PaddlePaddle/Paddle/issues/9174

[2018-06-20 03:45] JiayiFeng commented on #11589
我本人对jupyter notebook不是很了解，但感觉在系统中pip安装包再在jupyter notebook中使用可能是行不通的。如何在jupyter notebook内安装包，我找了一个相关的文章，可供参考:
https://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/

[2018-06-20 03:55] panyx0718 opened #11593 "Some dist train hacks to address soon"
bcast_params should be properly implemented and called. Currently, a hack is used to test if ParallelExecutor is running distributed training and call it

num_trainers argument in ParallelExecutor is only valid for nccl-based distributed training. It's meaningless for pserver-based distributed training

[2018-06-20 05:30] reyoung opened #11597 "Decouple the inference logic and training logic in Executor"
In the current Executor, the training logic and inference logic are mixed together. There are several problems.

1. The PR #10403 breaks the nested block training in Paddle because it early drops the kids, which would be used in backward.

1. The `create_vars` flag is not needed while training.

The solution is the inference engine will create a sub-class of Executor and rewrite some logic in sub-

[2018-06-20 05:46] JiayiFeng commented on #11591
That is because parameters are never initialized in your configuration. Please add a loss to your network and configure a trainer.
https://github.com/PaddlePaddle/Paddle/blob/59bfa4911d36820ba64f3f6057a88246ede0fa11/doc/v2/getstarted/concepts/src/train.py#L32-L35
Parameters are supposed to be initialized during the creating of a `trainer`.

[2018-06-20 06:22] hejiajia opened #11599 "编译提示error:RPC failed"
运行环境
内核版本：
Linux version 2.6.32_1-18-0-0 (gcc version 4.4.4 20100726 (Red Hat 4.4.4-13) (GCC) ) #1 SMP Fri Jan 29 18:37:55 CST 2016
paddlepaddle版本：0.13.0
gcc版本：gcc4.8.2

运行步骤
1.获取PaddlePaddle代码, 本模块基于PaddlePaddle v0.13.0实现
$ git clone https://github.com/PaddlePaddle/Paddle.git
$ cd Paddle
$ git checkout v0.13.0
2.本模块及所用的PaddlePaddle Fluid Inference是基于gcc4.8.2编译的，修改CMakeLists.txt文件：
增加一行：SET(CMAKE_

[2018-06-20 06:46] gongweibao opened #11601 "Too many warnings about `set_lod` `lod`."
There are so many warnings in distributed train process:
[code]

[2018-06-20 06:57] Superjomn commented on #11599
不需要分布式的话可以设 WITH_DISTRIBUTE=OFF

另外，这个看起来是 curl 网络失败

[2018-06-20 08:15] #11572 closed, assigned to Yancey0623, panyx0718

[2018-06-20 09:26] luotao1 commented on #11584
@wangkuiyi
In function `math_library`, we use `cc_library`, `nv_library` defined in `generic.cmake`
https://github.com/PaddlePaddle/Paddle/blob/80f63642e63a0f6c6207a10b4154eb426527ed73/paddle/fluid/operators/math/CMakeLists.txt#L26-L32
The sake of `math_library` is to reduce and simpify the cmake code. For example, the original cmake likes:
[code]
but if we use `math_library`, it becomes:
[code]

[2018-06-20 09:33] kolinwei opened #11604 "language model 使用Parallel Executor多卡训练中夯住,"
代码:https://github.com/typhoonzero/fluid_gpu_benchmark/tree/master/lm
python LOCAL=TRUE python gru_lm_multi.py

[2018-06-20 11:27] botov commented on #10373
@JiayiFeng Could you please advice someone to review the fix?

[2018-06-20 11:38] qingqing01 opened #11605 "There is bug when use parallel executor and memory optimization in some case."
在人脸检测模型中，有2个复杂的loss，如下：

[code]

使用了 fluid.memory_optimize，即使设置上面要fetch的face_loss, head_loss, loss的persistable=True，输出的loss结果依然不对。

[code]

为了验证问题，做了一下实验：

1. 将上面head_loss换成和face_loss一样的输入，这样，这两输出的loss会一模一样。

[code]

2.  在【不用】`fluid.memory_optimize`他时，输出的face_loss和fead_loss【相同】：

[code]

3. 使用【ParallelExecutor +`fluid.memory_optimize` 】, 也设置上述需要fetch的变量persistable=True，输出face_loss和head_loss输出【不同】：

[2018-06-20 11:39] JiayiFeng commented on #10373
@botov Thank you so much for your contribution! But would you please sign the cla license first in your  PR page? Or I can not merge your PR. Thanks again!
<img width="771" alt="wx20180620-193755 2x" src="https://user-images.githubusercontent.com/8395645/41656143-95bd55e6-74c1-11e8-897e-e591086767da.png">

[2018-06-20 11:43] zezhou commented on #11589
1) 重启 jupyter notebook 了吗?

2) jupyter notebook 和 pip install的是同一个版本的python吗？
比如 jupyter 用的 python3 ,pip 默认是 python 2

3) jupyter notebook 和 pip install的是同一个python env吗？

[2018-06-20 12:05] panyx0718 commented on #11605
感觉memory optimizer这种改名字的方法让人夜不能寐呀。很多地方都有用var名字作为map key，或者把var name放开set里面，感觉就是assume名字是唯一的

[2018-06-20 12:15] JiahaoYao commented on #11591
Thank you. I used to suppose that it had already initialized the parameters.

[2018-06-20 12:15] #11591 closed, assigned to nobody

[2018-06-20 12:27] #6133 closed

[2018-06-20 12:30] #6451 closed

[2018-06-20 14:52] velconia opened #11609 "Distributed Block Design"
# Distributed Block Design

## 背景
在开始介绍我们的 Distributed Block Design 之前, 我们先看一下, 我们之前都是如何构造一个分布式的NN训练网络的

### 1. 构造 Forward Pass
参考 uci_housing 的例子, 我们构造了一个非常简单的 Forward Pass:

[code]

通过上述代码, 我们得到了如下的 ProgramDesc:

[code]

### 2. 构造 Backward Pass

在实践中, 我们把复杂的通过 Forward Pass 构造 Backward Pass 的过程用 append_backward 封装起来:

[code]

通过构造 Backward Pass, 我们可以得到如下的 ProgramDesc:

[code]

其实就是往后添加了一些新的Operat

[2018-06-20 16:00] #11143 closed

[2018-06-20 16:00] #11582 closed, assigned to Yancey0623

[2018-06-21 00:18] wangkuiyi opened #11611 "fluid/platform/float16 cyclically depends on fluid/framework"
Due to the line

https://github.com/PaddlePaddle/Paddle/blob/c413c469158db18bc5f18408e6c1814636ec74e2/paddle/fluid/platform/float16.h#L70

[2018-06-21 00:24] kexinzhao commented on #11611
This issue has been discussed before in https://github.com/PaddlePaddle/Paddle/pull/10587#pullrequestreview-119572393.

If we want to make the fix pass, we may need to disable the some test in tensor_util_test and risk some util functions have segmentation fault when running.

After discussion with @wangkuiyi,  we close this issue for now.

[2018-06-21 00:35] #11611 closed, assigned to kexinzhao

[2018-06-21 01:00] kexinzhao opened #11612 "LoDTensor Python API Change To-Do List"
The previous work has been summarized in #11106.

Based on the @panyx0718 's comment, there are some remaining work to do:

1. In Fluid's Python code (especially the op test code), there are variable's of name `lod` like the following:
https://github.com/PaddlePaddle/Paddle/blob/c660b471c4d4201d4fc3517896f69d44b4490003/python/paddle/fluid/data_feeder.py#L54

Since we are replacing the notion of `l

[2018-06-21 01:24] jacquesqiao commented on #11609
随意增加block可能会增加很多program分析的复杂性，比如memory reuse这种场景。目前默认情况下，我们只存在一种就是control_flow的sub block。分布式场景对block的应用非常灵活，会增加很多block，但是在构件图的时候就增加block，可能还带来其他地方分析的难度，比如parallelexecutor等。tf整体来看是一个Graph，基于这个Graph进行分析。

或许还有一种思路是给op打tag，类似tf的graph中用place给var打tag这种。

[2018-06-21 01:34] liuliyalei opened #11613 "pip安装paddlepaddle，paddle所使用的protobuf 3.1.0和系统已有的tensorflow使用的protobuf>=3.4.0冲突"
tensorflow-gpu 1.8.0 has requirement protobuf>=3.4.0, but you'll have protobuf 3.1.0 which is incompatible.

tensorflow-tensorboard 0.4.0 has requirement protobuf>=3.4.0, but you'll have protobuf 3.1.0 which is incompatible.

tensorboard 1.8.0 has requirement protobuf>=3.4.0, but you'll have protobuf 3.1.0 which is incompatible.

grpcio 1.11.0 has requirement protobuf>=3.5.0.post1, but you'll have

[2018-06-21 01:36] liuliyalei commented on #11589
重装了jupyter之后问题解决，谢谢各位

[2018-06-21 01:46] Leezhaohui opened #11614 "fluid 加载预训练参数"
比如说网络中的一个卷积层，我想让它加载已经训练好的模型的某一卷积层的参数，使其在训练过程中保持不变，在fluid中怎么实现呢？

[2018-06-21 01:50] #11589 closed, assigned to nobody

[2018-06-21 01:54] #11586 closed, assigned to nobody

[2018-06-21 02:01] guochaorong opened #11615 "CE模型: sequence_tagging_for_ner 执行模型出错"
http://18.222.34.7:8080/viewLog.html?buildId=881&buildTypeId=Paddle_ContinuousEvaluation&tab=buildLog   这是错误日志

![error](https://user-images.githubusercontent.com/32069604/41693420-c268e062-7537-11e8-98fd-e88dab415c2e.png)

从11102 开始这个错误出现
![222](https://user-images.githubusercontent.com/32069604/41693760-5da66864-7539-11e8-9419-b2ead5b415ee.JPG)

11102 代码
https://github.com/PaddlePaddle/Paddle/pu

[2018-06-21 02:16] gongweibao commented on #11609
[code]

变量还是得切。

[2018-06-21 02:19] gongweibao commented on #11609
我觉得这个想法挺好，可以更方便的定义了什么是需要并发去执行的区域。分布式只要去分析这些并发区域就好。

从client看来就是串行->并行->串行->并行的程序执行过程。

[2018-06-21 02:22] gongweibao commented on #11609
[code]

我们未来应该是需要支持函数的。

[2018-06-21 02:38] typhoonzero commented on #11360
This may fix by https://github.com/PaddlePaddle/Paddle/pull/11377, please reopen this issue, if it's still not resolved.

[2018-06-21 02:40] panyx0718 commented on #11615
@tensor-tang 如果短期内修不好就先revert?

[2018-06-21 02:47] luotao1 opened #11617 "a lot of warning in inference related codes"
- anakin related codes: https://paddleci.ngrok.io/viewLog.html?buildId=1413&buildTypeId=Paddle_PrCi&tab=buildLog&_focus=3106#_state=67
[code]
- test_paddle_inference_api_impl.cc: https://paddleci.ngrok.io/viewLog.html?buildId=1413&buildTypeId=Paddle_PrCi&tab=buildLog&_focus=5076#_state=67
[code]
- subgraph_splitter_tester.cc: https://paddleci.ngrok.io/viewLog.html?buildId=1413&buildTypeId=Paddle_P

[2018-06-21 02:57] tensor-tang commented on #11615
我没意见，这个是mkldnn的新feature。

并且我还在定位问题，他并没有改变原有逻辑，只是加了use_mkldnn=false这些attr。

[2018-06-21 03:57] luotao1 opened #11620 "Benchmark of Fluid CPU multi-thread"
### Environment
- Machine: Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz, 2 socket, total 40 cores
- Model: ResNet50
- Input: 3 * 224 * 224
- docker images:
   - paddlepaddle/paddle:latest (for MKLML)
   - paddlepaddle/paddle:latest-openblas (for OpenBlas)
- v2 results: https://github.com/PaddlePaddle/Paddle/blob/develop/benchmark/IntelOptimizedPaddle.md
- scripts: https://github.com/chengduoZH/benchma

[2018-06-21 04:03] velconia commented on #11609
实际上, 现在的Program的执行函数, 就是传入一个 Scope 与 一个 Block, 我认为这是一种暗指, 即: Executor 会将这个 Block 执行在这个 Scope 下, 所以我们引入的 Placeable Block 并不会带来什么复杂性, 而是非常遵循Program的执行方式的一种设计: 远程的 Executor 可以将这个 Placeable Block 执行在自己的 Scope 下; 而且这样做反而会降低 Executor 和 Transpiler 的复杂性, 我们不需要再在 op 的粒度上修改源程序, 这个粒度太细了, 控制起来是极其不安全的, Transpiler 很可能就无意间篡改了用户的愿意, 我们应该在 Block 的粒度上建立一种机制, 允许远程的 Executor 执行当前的 Block

[2018-06-21 04:46] jacquesqiao commented on #11609
没明白。

我们的基本假设是用户不需要描述描述这些细节，而是程序自动修改。

这个改动比较大，影响也很大。

[2018-06-21 04:55] velconia commented on #11509
I got some problems in running paddle_build.sh in paddlepaddle/paddle:latest-dev, maybe the code below in paddle_build.sh was wrong

[code]

It seems that the PYTHON_FLAGS should be

[code]

[2018-06-21 04:57] typhoonzero opened #11623 "docstring checker can came to success when running git commit for twice"
docstring checker can came to success when running git commit for twice.

How to reproduce:

1. change some thing in `layers/nn.py`
1. `git commit -am "xxx"` will produce some error check result
1. run `git commit -am "xxx"` again, the error is gone.

[2018-06-21 05:04] velconia commented on #11609
这里可能有一些误会, 并不是指随意增加 block, 这个 Design 并不会在 Transpile 的时候给 Program 增加 Block, 所有的 Placeable Block 都是用户显式声明的, 我们再在 Transpile 的时候对其进行判断;

很赞的想法, 我们也可以用 Executor 给 Block 打 tag;

[2018-06-21 05:22] shell-no-shell opened #11624 "使用gpu进行预测时，报错Check failed: stat == CUBLAS_STATUS_SUCCESS (1 vs. 0) [cublas status]: not initialized"
错误如下，麻烦问一下怎么解决
*** Check failure stack trace: ***
    @     0x7ffdb5d26bcd  google::LogMessage::Fail()
    @     0x7ffdb5d2a67c  google::LogMessage::SendToLog()
    @     0x7ffdb5d266f3  google::LogMessage::Flush()
    @     0x7ffdb5d2bb8e  google::LogMessageFatal::~LogMessageFatal()
    @     0x7ffdb5cd8ab7  hl_matrix_mul()
    @     0x7ffdb5b445c7  paddle::GpuMatrix::mul()
    @     0x7ffdb5b44c

[2018-06-21 07:02] reyoung commented on #11605
我觉得是某些Op读了它的输出导致的。。我们改下单测框架，让这个测试严格一些。

[2018-06-21 07:03] tensor-tang commented on #11615
@mozga-intel , this should be caused by your commits in #11102

How to reproduce on your local machine:
1. build paddle with `WITH_GPU=ON` and install
2. git clone https://github.com/PaddlePaddle/paddle-ce-latest-kpis.git && cd
 sequence_tagging_for_ner
3. remove `from continuous_evaluation import *` at train.py
4. then run.xsh

As a hot fix, I would revert this feature at this moment.

[2018-06-21 07:05] dyning opened #11627 "paddle多卡训练加速比问题"
在训练paddle模型时发现，与单卡相比，训练使用4卡的加速比2.18，8卡的加速比3.7，利用率不高，可以利用分类问题复现，不知是什么问题？ @panyx0718

[2018-06-21 07:34] typhoonzero commented on #11609
@jacquesqiao 应该是指framework.proto中增加function，function包含一个block和函数名，参数表，返回值。然后forward, backward, optimize可以是3个function，optimize也可以调用子函数比如lr decay

[2018-06-21 07:35] typhoonzero commented on #11609
这个现在有了，是于老师写的那个op_role

[2018-06-21 07:41] mozga-intel commented on #11615
@tensor-tang Thank you, I will reproduce it as soon as possible.

[2018-06-21 07:42] cbstyle opened #11630 "the double-buffer is starting"
I0621 12:50:18.562585 26082 TrainerInternal.cpp:162]  Batch=100 samples=24000 AvgCost=38.2618 CurrentCost=38.2618 Eval: classification_error=0.00567624  CurrentEval: classification_error=0.00567624
I0621 13:14:17.388411 26082 Tester.cpp:111]  Test samples=14710 cost=5.41958 Eval: classification_error=0.000495873
I0621 13:14:17.388619 26082 GradientMachine.cpp:112] Saving parameters to ./output/pas

[2018-06-21 07:54] typhoonzero commented on #11522
Some errors need to be noticed, this error is from: https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/distributed/grpc_server.cc#L332

As explained here in : https://groups.google.com/forum/#!topic/grpc-io/xftlRy-IQwM, seems the client has timeouted or caceled the request, we may need to add retry to prevent this? @Yancey1989 @gongweibao what do you think?

[code]

[2018-06-21 08:08] #11615 closed, assigned to Superjomn, panyx0718, tensor-tang, mozga-intel

[2018-06-21 08:59] jacquesqiao commented on #11630
我在现在的代码里面没找到这个日志，这个是什么版本呀

[2018-06-21 09:02] velconia commented on #11609
我的理解这个可能还不是指那个 OpRole, 是指具体运行在哪个 Executor 的 哪种 Device 上

[2018-06-21 09:07] zchengquan commented on #11627
训练基于全卷机网络的one-stage检测器（类似densebox), 在k40机器上，单卡vs2卡，加速比1.2左右；单卡vs4卡加速比1.9左右；而同等配置下tf 单卡 vs 2卡加速比已经可达到1.93左右。paddle的多卡训练加速比偏慢太多，很影响模型训练。

[2018-06-21 09:37] #11604 closed, assigned to reyoung, chengduoZH

[2018-06-21 09:44] dzhwinter commented on #11203
在backward op里，是可以利用前向op的所有input, output的。需要定制一下GradOpMaker (Python端用来创建OpDesc).
[code]

[2018-06-21 09:45] dzhwinter commented on #11203
code 在https://github.com/dzhwinter/Paddle/tree/review_conv2d_1

[2018-06-21 11:39] jacquesqiao commented on #11624
这个日志看不太出来问题，有更详细的日志或者代码么

[2018-06-21 11:41] jacquesqiao commented on #11624
https://github.com/PaddlePaddle/Paddle/issues/5669 这里看起来已经修复了，你是不是要升级一下版本？

[2018-06-21 11:53] shell-no-shell commented on #11624
@jacquesqiao 在百度rpc框架中调用的 相当于一个http服务 应该也是多线程一类的处理 我用的python  5669是c-api，是同步升级的吗

[2018-06-21 14:26] velconia commented on #11509
After some effort, I got the stack, it seems that libusb_exit was the reason why our psever hangs up

![image](https://user-images.githubusercontent.com/1979255/41724904-3291838a-75a1-11e8-9c1a-85a396643589.png)

So, I walks through the depencecies of libusb and got this information follow:

![image](https://user-images.githubusercontent.com/1979255/41725153-baedefc0-75a1-11e8-8559-67a7647d5d78.pn

[2018-06-21 17:14] zzhzz opened #11643 "PaddlePaddle Fluid训练时如何做cross validation验证？"
我在官方book的image_classification中见到这样一句代码

链接：https://github.com/PaddlePaddle/Paddle/blob/833a6f36e170124585cd6863619afb1108bf6efc/python/paddle/fluid/tests/book/test_image_classification.py#L125
请问这个test_program是用来做cross validation的program吗？
如果不是请问训练中如何做cross validation?
如果是的话，我在训练中发现该方式会影响模型训练，可能会把用于validation的数据拿去训练，如何解决？

[2018-06-22 01:40] liuliyalei opened #11645 "运行if name == "main":报错ImportError: libmklml_intel.so: cannot open shared object file: No such file or directory"
pip安装的cpu版本，ubuntu系统，用jupyter notebook运行代码
`...
class TestMNIST:
    def __init__(self):
        # 该模型运行在CUP上，CUP的数量为2
        paddle.init(use_gpu=False, trainer_count=2)

    # *****************获取训练器********************************
    def get_trainer(self):
...
if __name__ == "__main__":
    testMNIST = TestMNIST()
    # 开始训练
    testMNIST.start_trainer()`

报错：
ImportError

[2018-06-22 01:42] #11613 closed, assigned to nobody

[2018-06-22 01:54] jacquesqiao commented on #11624
`python 5669`是啥

[2018-06-22 02:01] luotao1 commented on #11645
请参考 [FAQ](https://github.com/chengduoZH/Paddle/blob/b5daeac86d79400302ab8acd658716f783012346/doc/v2/faq/build_and_install/index_cn.rst#10-%E9%80%9A%E8%BF%87pip%E5%AE%89%E8%A3%85%E7%9A%84paddlepaddle%E5%9C%A8--import-paddlefluid-%E6%8A%A5%E6%89%BE%E4%B8%8D%E5%88%B0-libmkldnnso-%E6%88%96-libmklml_intelso)，看你的路径应该是`export LD_LIBRARY_PATH=/home/liul9/.local/lib:$LD_LIBRARY_PATH`

[2018-06-22 02:08] qingqing01 commented on #11605
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L4220

[code]

reshape_op这里默认是in-place操作，C++里输入、输出Tensor共享了指针，输入输出的Variable name不同。

测试将这里 inplace 默认设置为False，使用 `fluid.memory_optimize`似乎没问题，待给出合理分析。 @reyoung @dzhwinter

[2018-06-22 02:14] liuliyalei commented on #11645
@luotao1
请问添加这一行代码应该在哪个文件里面？我看的不是很明白

[2018-06-22 02:42] dzhwinter commented on #11605
in-place还是需要用memory_optimize统一管理，重新写的memory_optimize从图上分析依赖，接管了inplace。

如果真的是inplace导致的问题，推导一下过程。
单个op inplace需要满足一个条件: 该op是被复用变量的最后一个消费者，否则会造成其他消费者读出内容出错。executor的拓扑排序需要满足这个条件。

假设inplace的内存刚好也被memory reuse了(替换为其他non-live的内存，记为op_x的输出)。那么就相当于要求当前执行的op不仅和被复用的op满足上述条件，而且要求和op_x输出变量的消费者也满足上述条件。因为在memory_optimize之后，相当于有更多op输入消费了同一块内存。拓扑排序满足这个条件更难了，所以可能出错。

这个猜测需要验证一下

[2018-06-22 02:49] panyx0718 commented on #11605
感觉memory_optimize assume所有op都不能inplace操作。如果op inplace操作，memory_optimize分析出来将来不会被消费的var1，他的空间可能会被其他的var2使用 (memory optimize无法发现）。memory_optimize如果判读var3复用var1，就可能出错。

但是，并没有什么东西限制op inplace操作

[2018-06-22 02:54] liuliyalei commented on #11645
在bashrc添加了export LD_LIBRARY_PATH=/home/liul9/.local/lib:$LD_LIBRARY_PATH
在终端中运行source .bashrc
重启jupyter notebook
依旧出错
@luotao1

[2018-06-22 02:57] xiaolv3366 opened #11647 "使用GPU训练，报错NCELayer.cpp:170] Check failed: !useGpu_ GPU is not supported"
使用GPU训练YouTube推荐系统，报错NCELayer.cpp:170] Check failed: !useGpu_ GPU is not supported。

[2018-06-22 03:17] liuliyalei commented on #11645
重启系统后已解决谢谢 @luotao1

[2018-06-22 03:20] #11645 closed, assigned to nobody

[2018-06-22 03:46] JiahaoYao opened #11650 "Paddlepaddle pretrained model"
I find the imagenet pretrained models only has three, as shown in [pretrained model](https://github.com/PaddlePaddle/models/blob/develop/image_classification/models/model_download.sh#L28-L38). What is about the others? For example, the googlenet and inception. Is it forgotten to add to the download script?

[2018-06-22 04:37] dzhwinter commented on #11643
可以用来做validation。没有optimizer就不会有参数更新，你观察一下，都是在optimizer之前创建的。

[2018-06-22 06:29] Leezhaohui opened #11654 "fluid卷积层参数初始化"
可以用v2版本下预训练好的的vgg16模型对fluid卷积层参数进行初始化吗，参数格式需要转化吗？

[2018-06-22 06:30] Superjomn commented on #10564
Paddle-ONNX not compatible with TRT

[2018-06-22 06:30] #10564 closed

[2018-06-22 06:32] typhoonzero commented on #11522
Update:

分析现场日志，目前可以怀疑可能的问题在于grpc在recv的时候超时，之后仍然会执行fetch_barrier，导致pserver hung.

---

该环境下发现另一种复现方法：

1. 启动2个pserver，
1. 先启动4个trainer中的2个
1. 等待一段时间（大约几分钟）
1. 启动另外两个trainer，在第二个batch就可以复现该问题，并产生报错：

[code]

related: https://github.com/grpc/grpc-node/issues/138#issuecomment-389962329

[2018-06-22 06:35] gongweibao opened #11655 "CI meets timeout"
[code]

[2018-06-22 07:34] liuliyalei opened #11656 "训练模型kernel died:The kernel appears to have died. It will restart automatically."
Ubuntu 16.04.4 LTS 64 位
GeForce GTX 1080 Ti/PCIe/SSE2
Intel® Xeon(R) CPU E5-2620 v4 @ 2.10GHz × 16
PaddlePaddle GPU 0.13.0

训练模型的时候总是出现kernel died的情况
The kernel appears to have died. It will restart automatically.
![qq 20180622153624](https://user-images.githubusercontent.com/40382579/41763881-0cdf156c-7632-11e8-87ce-671d5e4a0147.png)

同时系统提示：
应用程序python2.7意外停止

![qq 20180622152808](https://user-i

[2018-06-22 08:53] liuliyalei opened #11658 "python环境中运行paddle出错"
Ubuntu 16.04.4 LTS 64 位
GeForce GTX 1080 Ti/PCIe/SSE2
Intel® Xeon(R) CPU E5-2620 v4 @ 2.10GHz × 16
PaddlePaddle GPU 0.13.0

python环境中运行paddle出错
![qq 20180622165500](https://user-images.githubusercontent.com/40382579/41767770-1514783e-763d-11e8-91f7-b31bb3b762ed.png)

![qq 20180622165443](https://user-images.githubusercontent.com/40382579/41767778-18e6a73e-763d-11e8-9dbb-84d3309e1a39.png)

有没有人遇到过类

[2018-06-22 09:01] kolinwei opened #11659 "language-model多机训练时打印出的loss出现大量nan值"
错误如下：
Pass 0, batch 0, loss [9.210789  9.209968  9.2115755 9.210512  9.211608  9.2112    9.208872
 9.21356  ]
Pass 0, batch 100, loss [9.212549  9.2083845 9.087779  9.013775  9.215891  8.155369  9.212284
 9.216374 ]
Pass 0, batch 200, loss [9.291733 9.210005 8.988502 8.988871 9.213335 7.536703 9.210071 9.25549 ]
Pass 0, batch 300, loss [9.356211 9.21147  9.246531 9.155577 9.214032 8.904251 9.21029

[2018-06-22 09:02] kolinwei commented on #11659
https://github.com/typhoonzero/fluid_gpu_benchmark/tree/master/lm
这个里面的多机版本是上个版本的，新的paddlepaddle版本下，需要改些api：
我将
t.transpile(
              optimize_ops,
              params_grads,
              trainer_id,
              pservers=pserver_endpoints,
              trainers=trainers)
变更为：
t.transpile(
              trainer_id,
              pservers=pserver_endpoints,
              trainers=trainers)

[2018-06-22 09:09] Yancey0623 opened #11660 "fuse split_byref/send and recv/concat"
We can fuse split_byref/send and recv/concat into two ops so that the code is more cleaner in ParallelExecutor

[2018-06-22 09:49] xiaolv3366 commented on #7010
改成dense_vector不行，直接闪退。

[2018-06-22 10:00] liuliyalei opened #11663 "pip安装paddle之后python环境运行代码paddle.init(use_gpu=False, trainer_count=1)报错"
ubuntu 16.04
pip安装的cpu版本

liul9@ubuntu:~$ python
Python 2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

I0622 02:56:28.688513  2745 Util.cpp:166] commandline:  --use_gpu=False --trainer_count=1
W0622 02:56:28.688654  2745 CpuId.h:112] PaddlePaddle wasn't compiled to use avx instructions, but these are av

[2018-06-22 10:02] seiriosPlus opened #11664 "executor and parallel executor do not return the same type of fetch_list"
When I run the train with ```executor```, I get the loss:
[code]
But when I run the train with ```parallel executor```, I get the loss:
[code]

I think we should make the result of ```executor.run()``` are same.

[2018-06-22 10:20] #11509 closed, assigned to gongweibao

[2018-06-22 10:22] typhoonzero commented on #11609
Discussed with @velconia, we've reached an agreement that can use the variable place to simplify the transpiler code, looking forward to the design doc.

[2018-06-22 10:22] typhoonzero commented on #11609
Closing this for now, feel free to reopen!

[2018-06-22 10:22] #11609 closed, assigned to Yancey0623, jacquesqiao, gongweibao, typhoonzero

[2018-06-22 11:25] shell-no-shell commented on #11624
@jacquesqiao 。。。。 https://github.com/PaddlePaddle/Paddle/issues/5669

[2018-06-22 12:52] panyx0718 opened #11668 "Some Operator Assumptions for ParallelExecutor and MemoryOptimizer to Work Correctly"
## Operators cannot finish before all its kernels are launched (e.g. launch kernel in a new cpu thread).

Reason: ParallelExecutor depends on events between kernels on the stream to ensure dependencies. It places a event after a computation/copy kernel on the stream. So want the next kernel wait the event, it ensures the previous computation/copy kernel has finished. However, if the kernel kernel

[2018-06-22 13:01] zzhzz commented on #11643
@dzhwinter 很感谢回答，另外还想请问一下dropout layer里面的is_test参数如何在validation时传入？还是说Paddle会自动处理这个问题

[2018-06-22 13:26] jacquesqiao commented on #11664
We have a flag in executor.run `as_numpy` to convert returned tensor into numpy.

[2018-06-23 02:21] wangkuiyi opened #11671 "Cyclic dependency"
The design of Fluid assumes that fluid/operators depends on fluid/framework, but not the other order.

However, the line

https://github.com/PaddlePaddle/Paddle/blob/2625178addd006a1b6a5292ff0aba310cce719b6/paddle/fluid/framework/data_layout_transform.cc#L18

in fluid/framework/detail/data_layout_transform.cc introduces a cyclic dependency.

[2018-06-23 02:23] wangkuiyi commented on #11671
Is the correct solution to move fluid/operators/math to fluid/math?

[2018-06-23 04:03] Albelt commented on #11008
问题同上，我使用pip安装的paddlepaddle,安装成功了但是找不到ibmklml_intel.so这个文件，请问怎么解决？

[2018-06-23 04:05] Albelt commented on #11002
问题同上，请问怎么解决的？

[2018-06-23 04:07] Albelt commented on #7005
我也遇到了类似的错误，请问是怎么解决的？

[2018-06-23 05:34] wangkuiyi opened #11673 "framework/prune_test cyclically depends on operators/recurrent_op"
https://github.com/PaddlePaddle/Paddle/blob/2625178addd006a1b6a5292ff0aba310cce719b6/paddle/fluid/framework/CMakeLists.txt#L98

The right order is that fluid/operators depends on fluid/framework. The above CMake rule causes a cyclic dependency.

[2018-06-23 07:36] jiachengni opened #11674 "如何在训练TextCNN模型时加载预训练的word2vec字典"
看了下textCnn模型一般都会加embedding层再接卷积层，怎么加载预训练的Wordvec字典做初始化呢？

[2018-06-23 16:39] chengduoZH commented on #11008
@Albelt 您可以看一下这里 http://www.paddlepaddle.org/docs/develop/documentation/zh/faq/build_and_install/index_cn.html#pippaddlepaddle-import-paddle-fluid-libmkldnn-so-libmklml-intel-so

[2018-06-24 01:13] liuliyalei opened #11675 "PaddlePaddle wasn't compiled to use avx instructions, but these are available on your machine and could speed up CPU computations via CMAKE .. -DWITH_AVX=ON"
ubuntu16.04
pip安装paddlepaddle-0.12.0-cp27-cp27mu-manylinux1_x86_64.wh
python2.7.12

如下：
liul9@ubuntu:~$ python
Python 2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

I0623 18:08:48.372473  2270 Util.cpp:166] commandline:  --use_gpu=False --trainer_count=1
W0623 18:08:48.372601  2270 CpuId.h:112] PaddlePa

[2018-06-24 05:04] #11429 closed

[2018-06-24 11:05] yttbgf opened #11677 "get_grad returns zero matrix with cpu"
use this code: http://www.paddlepaddle.org/docs/develop/book/02.recognize_digits/index.cn.html
def event_handler(event):
        if isinstance(event, paddle.event.EndIteration):
            if event.batch_id % 10 == 0:
                for p in parameters:
                    print "parameters:", parameters.get(p)
                    grad = parameters.get_grad(p)
                    print "gradient

[2018-06-24 13:05] seiriosPlus commented on #11675
编译的时候加入  -DWITH_AVX=ON 选项。
参考： http://www.paddlepaddle.org/docs/develop/documentation/fluid/zh/build_and_install/build_from_source_cn.html#build-options

[2018-06-24 13:07] seiriosPlus commented on #11674
参考https://github.com/seiriosPlus/fluid_benchmark/blob/master/text_classification/train_low_api.py
这个会预先传入一个词典。

[2018-06-24 13:33] jiachengni commented on #11674
这个demo我看过，把明文转成id ,输入层的类型是paddle.data_type.integer_value_sequence，如果我通过预训练的word2vec字典，把word_id序列转成矩阵，那 paddle.networks.sequence_conv_pool的input可以是dense_array吗？

[2018-06-25 01:13] liuliyalei commented on #11675
请问我用pip安装的paddle，还是要走源码编译那一步嘛？ @seiriosPlus

[2018-06-25 01:17] #11663 closed, assigned to nobody

[2018-06-25 01:17] #11658 closed, assigned to nobody

[2018-06-25 01:19] liuliyalei opened #11678 "Check failed: (cudnn_cuh_major < 4 && cudnn_dso_major < 4) || (cudnn_cuh_major == cudnn_dso_major) [cudnn init] libcudnn v5 with header v7 unmatched! PaddlePaddle Requirement: (header v[2-3] with libcudnn v[2-3]) Or (header v4 with libcudnn v4) Or (header v5 with libcudnn v5) Or(header v6 with libcudnn v6)."
ubuntu 16.04
pip安装的GPU版本

tk@tk-Server:~$ python
Python 2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

I0625 09:15:45.173822 20997 Util.cpp:166] commandline:  --use_gpu=True --trainer_count=1
F0625 09:15:46.000280 20997 hl_cuda_cudnn.cc:171] Check failed: (cudnn_cuh_major < 4 && cudnn_dso_major < 4) ||

[2018-06-25 01:41] seiriosPlus commented on #11675
http://www.paddlepaddle.org/docs/develop/documentation/fluid/zh/build_and_install/pip_install_cn.html#id6
可以来这里下载对应的版本

[2018-06-25 01:47] seiriosPlus commented on #11664
@jacquesqiao
We have a flag in ```executor.run``` ```as_numpy``` to convert returned tensor into numpy.

But we do not have ```as_numpy``` in ```ParallelExecutor.run```.

[2018-06-25 01:50] dzhwinter commented on #11643
"for_test" 就是在处理这个问题。比方说dropout, batch_norm，train和test时候不一致的op，会自动设置attribute

[2018-06-25 01:52] dzhwinter commented on #11654
需要转化的，v2版本和fluid暂时不支持互操作。

[2018-06-25 01:56] dzhwinter commented on #11650
Currently, we only provide these pertained models. There is a caffe2paddle model convert script available, please try it.

[2018-06-25 01:56] typhoonzero commented on #11522
使用 https://github.com/PaddlePaddle/Paddle/pull/11651 运行了3天目前看没有问题

[2018-06-25 02:14] typhoonzero opened #11681 "NCCL2 distribute training mode should support different num_batches for each worker"
Currently, if we have multiple nodes to train with NCCL2 distributed mode, if each worker has a different number of training data, training process will hang if one of the workers is completed. We should let the training process goes on in this situation, this is also the solution for multi GPU training.

[2018-06-25 02:30] ktlichkid commented on #11678
应该是您编译的cudnn版本和cudnn库不匹配导致的。请问您编译的是哪个whl包呢？

[2018-06-25 02:35] liuliyalei commented on #11678
安装的版本如下：
PaddlePaddle 0.13.0
查看发现系统的cuda和cudnn版本：
CUDA Version 8.0.61
cudnn 5.110

我在想是不是我的paddle安装版本选择出了错
@ktlichkid

[2018-06-25 02:40] seiriosPlus commented on #11677
能贴一下初始化parameters的代码么

[2018-06-25 02:42] BigFishMaster opened #11682 "relu and log layers in python have problem"
Interface parameter ```input``` is not used in below function.
[code]

[2018-06-25 03:04] chengduoZH commented on #11668
Now ParallelExecutor supports GPU and CPU, the above reason that you list is for GPU version.

When using ParallelExecutor for GPU training, **the very important point** is that the task that running in CPU side **must be finished** once the Op returns, because CUDA calling is async, when the Op returned, the CUDA calling that launched by this Op may not be executed yet.

For CPU training, we also

[2018-06-25 03:07] kolinwei opened #11684 "language model 单机多机下均不收敛 ，v0.14版本"

[2018-06-25 03:11] liuliyalei commented on #11678
我将paddle 0.13.0卸载之后
重装0.12.0
whl包为paddlepaddle_gpu-0.12.0-cp27-cp27mu-manylinux1_x86_64.whl
然后解决了该问题

但是新的问题又出现了：
tk@tk-Server:~$ python
Python 2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

I0625 10:59:19.737781 21538 Util.cpp:166] commandline:  --use_gpu=True --trainer_count=1
W0625 10:59:20.750013 21

[2018-06-25 03:21] ktlichkid commented on #11678
这应该是说找不到 CMakeLists.txt 这个文件，请问这个文件的路径您确定是在/usr下面吗？

[2018-06-25 03:26] jayhenry commented on #2710
@typhoonzero 我在分布式训练时碰到了同样的问题，请问这个怎么解决的？

[2018-06-25 03:31] luotao1 commented on #11601
fixed by #11622

[2018-06-25 03:31] #11601 closed, assigned to panyx0718, kexinzhao, gongweibao

[2018-06-25 03:35] liuliyalei commented on #11678
tk@tk-Server:/$ locate CMakeLists.txt
...
/usr/share/cmake-3.5/Modules/FortranCInterface/CMakeLists.txt
/usr/share/cmake-3.5/Modules/FortranCInterface/Verify/CMakeLists.txt
/usr/share/cmake-3.5/Modules/IntelVSImplicitPath/CMakeLists.txt

我应该cd到哪个文件夹下面执行呢？
@ktlichkid

[2018-06-25 03:38] liuliyalei commented on #11678
locate CMakeLists.txt 结果如下：

@tk-Server:/$ locate CMakeLists.txt
/home/tk/.local/lib/python2.7/site-packages/external/eigen_archive/unsupported/Eigen/CXX11/CMakeLists.txt
/home/tk/.local/lib/python2.7/site-packages/tensorflow/include/external/eigen_archive/unsupported/Eigen/CXX11/CMakeLists.txt
/home/tk/.local/lib/python2.7/site-packages/tensorflow/include/unsupported/Eigen/CXX11/CMakeLists.txt
/h

[2018-06-25 03:39] luotao1 commented on #7005
我也遇到过类似问题，不在fluid目录下执行python即可。不过如果io.py能改名就更好了。

[2018-06-25 03:44] typhoonzero commented on #11684
贴个模型的链接？应该是模型配置的问题，需要更新下

[2018-06-25 03:45] #11522 closed, assigned to typhoonzero

[2018-06-25 03:45] liuliyalei commented on #11675
问题依然存在，我确认我下了相应的版本 @seiriosPlus

[2018-06-25 03:45] #11542 closed, assigned to nobody

[2018-06-25 03:47] #11682 closed, assigned to ktlichkid

[2018-06-25 03:47] seiriosPlus commented on #11675
你下载的具体链接是哪一个，我尝试一下

[2018-06-25 03:48] luotao1 commented on #11678
请问 https://github.com/PaddlePaddle/Paddle/issues/11678#issuecomment-399818481 错误影响你继续往下执行么？
另外，如果要cmake编译的话，请参考 http://paddlepaddle.org/docs/develop/documentation/fluid/zh/build_and_install/build_from_source_cn.html

[2018-06-25 03:51] typhoonzero commented on #2710
编译时关闭`-DWITH_TIMER=ON`

[2018-06-25 04:03] liuliyalei commented on #11675
paddlepaddle-0.12.0-cp27-cp27mu-manylinux1_x86_64.whl @seiriosPlus

[2018-06-25 04:04] liuliyalei commented on #11678
之前我准备在jupyter notebook里面训练模型，结果总是kernel died
然后我回头在python下面检查paddle，发现
import paddle.v2 as paddle
paddle.init(use_gpu=True,trainer_count=1)
I0625 10:59:19.737781 21538 Util.cpp:166] commandline: --use_gpu=True --trainer_count=1
W0625 10:59:20.750013 21538 CpuId.h:112] PaddlePaddle wasn't compiled to use avx instructions, but these are available on your machine and could speed up CPU computations v

[2018-06-25 04:25] kolinwei commented on #11684
@typhoonzero
https://github.com/typhoonzero/fluid_gpu_benchmark/blob/master/lm/gru_lm_multi_cloud.py

[2018-06-25 04:38] typhoonzero commented on #11684
optimizer我调试的时候改掉了，改成如下即可：

[code]

[2018-06-25 04:46] yttbgf commented on #11677
@seiriosPlus
  cost = paddle.layer.classification_cost(input=predict, label=label)

    parameters = paddle.parameters.create(cost)

    optimizer = paddle.optimizer.Momentum(
        learning_rate=0.1 / 128.0,
        momentum=0.9,
        regularization=paddle.optimizer.L2Regularization(rate=0.0005 * 128))

    trainer = paddle.trainer.SGD(
        cost=cost, parameters=parameters, update_equati

[2018-06-25 04:49] yttbgf commented on #11677
@seiriosPlus
用的这个代码，只是paddle.init(use_gpu=False, trainer_count=1)
https://github.com/PaddlePaddle/book/blob/develop/02.recognize_digits/train.py

[2018-06-25 05:45] muyunzhe commented on #11624
@jacquesqiao 这个问题 麻烦尽快帮忙解决下，上线部署急用

[2018-06-25 05:49] reyoung opened #11686 "Raise an error when fetching a variable which persistable=False"
`Executor.run` and `ParallelExecutor.run` only support to fetch a variable that is persistable (and in block0). If it is not persistable, there is no guarantee to fetch the correct result.  We should raise an error in this situation.

[2018-06-25 06:17] seiriosPlus commented on #11675
我在Ubuntu 16.04.4 LTS 下安装https://guest@paddleci.ngrok.io/repository/download/Manylinux1_CpuAvxCp27cp27mu/.lastSuccessful/paddlepaddle-latest-cp27-cp27m-linux_x86_64.whl
没有遇到问题，你试一下这个呢

[2018-06-25 06:19] seiriosPlus commented on #11674
我理解应该是可以的，你可以尝试一下。

[2018-06-25 06:26] seiriosPlus commented on #11677
我执行了没有问题啊，你是用的最新版本的paddle么

[2018-06-25 06:36] jayhenry commented on #2710
我们是直接用官方的docker镜像，官方有这样编译的镜像么？

[2018-06-25 06:51] ktlichkid commented on #11624
能否请提供更详细的日志和出错的代码？

[2018-06-25 07:34] liuliyalei commented on #11675
你的连接我一直下载不下来，能不能给个其他下载方式 @seiriosPlus

[2018-06-25 08:22] seiriosPlus commented on #11677
参考文档：https://github.com/PaddlePaddle/Paddle/blob/d398b96823e6df38897fc881b5b71d7bc66013dc/doc/v2/faq/local/index_cn.rst#7--%E5%A6%82%E4%BD%95%E5%9C%A8%E8%AE%AD%E7%BB%83%E8%BF%87%E7%A8%8B%E4%B8%AD%E8%8E%B7%E5%BE%97%E5%8F%82%E6%95%B0%E7%9A%84%E6%9D%83%E9%87%8D%E5%92%8C%E6%A2%AF%E5%BA%A6

[2018-06-25 08:39] seiriosPlus commented on #11675
https://pan.baidu.com/s/1fA75nxTsIxJ8LGenJpPJWA
@liuliyalei 7天失效。

[2018-06-25 08:46] shell-no-shell commented on #11624
@ktlichkid 在机器上进程加载模型 预测是没有问题，现在模型的加载预测是运行在一个框架中的一个线程，是不是多个线程的时候，使用gpu会有问题

[2018-06-25 08:56] shangguanyifeng opened #11689 "PaddlePaddle如何导入IDE来阅读代码，因为本身cmakelist，就打算导入clion中，一直未成功，有小伙伴可以指导下吗？ 读源码太麻烦"
As title

[2018-06-25 09:10] ktlichkid commented on #11689
请问尝试直接open或者import可以吗？不行的话是什么问题

[2018-06-25 09:15] ktlichkid commented on #11678
AVX那个ON必须要从源码编译才能改，所以您用whl包安装应该是改不了的~
如果实在要改建议用cmake从源码编译。
但理论上讲这个AVX不用应该也是可以运行的才对。
您可以先试试判断下kernel died的具体原因，比如把完整代码从.ipynb里面拷到.py文件里，看看还有没有报其他错误。

[2018-06-25 09:20] luotao1 commented on #11678
从这个错误看，cudnn版本不符合。

[2018-06-25 09:21] liuliyalei commented on #11678
tk@tk-Server:~/paddle/object_detection/code$ python train.py
I0625 17:17:59.623597 26336 Util.cpp:166] commandline:  --use_gpu=True --trainer_count=2
W0625 17:18:00.306799 26336 CpuId.h:112] PaddlePaddle wasn't compiled to use avx instructions, but these are available on your machine and could speed up CPU computations via CMAKE .. -DWITH_AVX=ON
[INFO 2018-06-25 17:18:00,312 layers.py:2716] output

[2018-06-25 09:22] luotao1 commented on #11678
请问你机器上有几块GPU卡呢

[2018-06-25 09:22] liuliyalei commented on #11678
嗯那个问题我已经解决了，把原来的0.13.0版本卸载，安装了适合我本身系统的现在的0.12.0版本，现在就剩kernel died的问题了 @luotao1

[2018-06-25 09:26] liuliyalei commented on #11678
![qq 20180625172509](https://user-images.githubusercontent.com/40382579/41842260-e0fa715e-789c-11e8-8bbf-c3b4dc5bbbe0.png)
@luotao1
我查看了GPU信息不知道有没有用

[2018-06-25 09:32] liuliyalei commented on #11675
问题已经解决，谢谢，请问有GPU 版本的嘛，准备在另外一台带有GPU版本的电脑上跑程序 @seiriosPlus

[2018-06-25 09:36] seiriosPlus commented on #11675
建议去http://www.paddlepaddle.org/docs/develop/documentation/fluid/zh/build_and_install/pip_install_cn.html下载所需的版本。
网络问题建议自行解决，放网盘不可持续。

[2018-06-25 09:36] liuliyalei commented on #11678
补充一下我的环境
CUDA Version 8.0.61

cudnn 5.1

PaddlePaddle 0.12.0
paddlepaddle_gpu-0.12.0-cp27-cp27mu-manylinux1_x86_64.whl

@ktlichkid @luotao1

[2018-06-25 09:43] ccmeteorljh opened #11691 "ocr 模型增加异步模式，运行失败"
模型代码库地址：
https://github.com/Yancey1989/paddle_fluid_benchmark/tree/master/ocr_recognition
修改如下：
ctc_train.py 加入参数
[code]
[code]
启动ps脚本如下：
[code]
同步模式下可以正常训练，异步训练失败，结果如下：
[code]

[2018-06-25 09:57] ktlichkid commented on #11678
疑似是GPU卡数的问题。试试把--trainer_count=2 改成--trainer_count=1看看？

[2018-06-25 10:59] #11677 closed, assigned to nobody

[2018-06-25 10:59] #11674 closed, assigned to nobody

[2018-06-25 10:59] #11675 closed, assigned to nobody

[2018-06-25 14:27] dzhwinter opened #11700 "why we need save the model file twice?"
https://github.com/PaddlePaddle/Paddle/blob/67ab324090116c9b4eb34fd30449def4d134adc8/python/paddle/fluid/io.py#L173-L185

Inside the snippet I have pasted, the vars have been saved twice. First, why we need to use different op `save`, `save_combine` to save them?
Second, considering that we are using the parallel executor for accelerating the execution,  these save operator will be executed at the

[2018-06-25 18:42] tonyyang-svail commented on #11689
@shangguanyifeng 在linux下的话，可以试试在docker里用clion

https://gist.github.com/tonyyang-svail/9904abaef3201d729df47e2357127c88

[2018-06-25 18:51] daming-lu commented on #11057
@dzhwinter @chengduoZH : Thanks for the updates! One question: do we have a plan to fix it? As you know, Baidu is a major contributor to [MLPerf](https://mlperf.org/ ) and we want to get performance metrics for our own PaddlePaddle framework 😀

[2018-06-26 01:15] liuliyalei commented on #11678
已解决非常感谢 @ktlichkid @luotao1

[2018-06-26 01:15] #11678 closed, assigned to ktlichkid

[2018-06-26 01:28] panyx0718 commented on #11700
I think the save_op is created in a different program from the train program? So it won't be run by the parallel executor?

[2018-06-26 01:32] panyx0718 commented on #11700
perhaps save api should have an option to pick combined/not-combined? so that it's saved once?

[2018-06-26 01:38] #11654 closed, assigned to nobody

[2018-06-26 01:38] #11614 closed, assigned to nobody

[2018-06-26 02:27] xiaolv3366 commented on #11647
帮忙解答一下。

[2018-06-26 02:50] Leezhaohui opened #11703 "fluid卷积层参数用numpy初始化"
比如说：
fluid.layers.conv2d(
        input=input, num_filters=32, filter_size=3, stride=1, padding=1)
如果用numpy对其weight进行初始化,那么numpy的shape应该是什么？

[2018-06-26 03:15] #11691 closed, assigned to Yancey0623

[2018-06-26 03:36] ccmeteorljh opened #11707 "机器翻译异步比同步训练慢太多"
**paddle版本：v0.14**
**代码库地址**：https://github.com/xuezhong/transformer-nist/tree/master/transformer_cloud
**代码增加异步参数：**
[code]
[code]
**异步训练参数和结果如下：**
[code]
trainer0 训练结果：
[code]
**同步训练参数和结果如下：**
[code]
trainer0 训练结果如下：
[code]

[2018-06-26 03:46] #11664 closed, assigned to reyoung, panyx0718, chengduoZH

[2018-06-26 04:28] ktlichkid commented on #11656
据 #11678 问题应该已经解决？如果仍未解决欢迎重新打开issue~

[2018-06-26 04:28] #11656 closed, assigned to ktlichkid

[2018-06-26 04:52] qingqing01 commented on #11703
Fluid conv2d层的参数shape是: [Co, Ci/group, Kh, Kw]
对应你这里例子是：[32, Ci/group, 3, 3]
Co是输出的channel数，Ci是input的channel数，Kh, Kw是filer大小。

也可以参考文档：http://www.paddlepaddle.org/docs/develop/api/fluid/en/layers.html#conv2d

[2018-06-26 04:55] xwwell commented on #9562
@mzchtx Are the reported latency time divided by batch size? Why larger batch size have lower latency, which does not make sense...

[2018-06-26 04:55] ccmeteorljh opened #11710 "机器翻译模型分布式训练下，每个trainer数据量不一致，参数等待超时挂掉"
**paddle版本：v0.14**
**代码库地址**：https://github.com/xuezhong/transformer-nist/tree/master/transformer_cloud
**训练参数增加：**
[code]
**train代码增加：**
[code]
**训练情况：**
2 psserver，4 trainer（其中3个会在train 过程中break，1个没有break）

**_为了让test部分耗时多点，test数据集较多；_**
**训练参数如下：**
[code]
**train过程没有break的训练结果如下**：
[code]
**train过程中当迭代次数超过设置的参数break的结果如下**：
[code]
**4个trainer，其中三个已经当前pass break出来了，在test过程中，而test要好几分钟的时间，剩下一个在等待

[2018-06-26 04:57] #10631 closed

[2018-06-26 05:03] Superjomn commented on #11700
Yes, I think one default option is ok.

[2018-06-26 06:06] sirius8050 opened #11714 "装paddlepaddle报错 failed building wheel for subprocess32"
服务器安装，报错如下：

[code]

[2018-06-26 06:13] wangyonghuiwyh opened #11715 "fluid多线程极端情况下抛异常"
多线程时，线程第一次跑时偶发性报下面异常：
 Cannot find feed_var in scope, feed_var_name is feed_2 at [/home/map/git/Paddle/paddle/fluid/operators/feed_op.cc:41]
查了一下， feed_2是我们多线程设置的feed_holder_name, 2是线程号。但是后续跑就ok了，很奇怪，我们线上跑了几周，线上出现过一次，线下也出现过一次。看着像是多线程时copy_program->SetFeedHolderName(feed_holder_name);不是立即生效，而是有一定延迟。所以scope会报。由于是线上在用的，所以麻烦给看看，否则会影响在线稳定性

![image](https://user-images.githubusercontent.com/40590543/41

[2018-06-26 06:19] qingqing01 commented on #11715
不确定调用在SetFetchHolderName之后调用Flush是否可行:

[code]

源码：
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/program_desc.h#L54:8

@luotao1 @Superjomn 可否帮忙看下？

[2018-06-26 06:24] Superjomn commented on #11715
可否描述下，多线程是如何多线程？

参数是否共享？ 如果是一个 executor，多线程调用的话会有问题.

如果是新模型上线，建议用 inference 封装的高层接口 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/contrib/inference/paddle_inference_api.h

多线程例子
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/contrib/inference/test_paddle_inference_api_impl.cc#L151

[2018-06-26 06:40] JiahaoYao commented on #11650
Thank you for your reply, @dzhwinter!

[2018-06-26 06:40] #11650 closed, assigned to nobody

[2018-06-26 07:10] #11452 closed

[2018-06-26 07:14] wangyonghuiwyh commented on #11715
@Superjomn 我们用的是以前给的示例, executor, scope等都是共享的，参照的是：https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tests/test_multi_thread_helper.h 有什么快速办法能解决这个问题吗？还是说必要升级到你给的高级api

[2018-06-26 07:19] Yancey0623 commented on #11710
看起来是因为test时间过长，导致其他trainer节点等待barrier超时了。RPC的超时时间可以通过gflag来设置，默认是3分钟

[code]

[2018-06-26 07:23] chenbblei opened #11716 "Paddle如何实现SRU网络"
如题，在哪个位置可以新增SRU网络，或者如何写比较方便

[2018-06-26 07:27] Yancey0623 commented on #11710
但上面只是临时的解决方案，我们可能需要让pserver知道哪个节点的当前pass训练完了，好更新barrier的信息，其他trainer节点可以不继续等待已经训练完的节点，当所有节点的一轮pass训练完后统一开始下一轮训练，例如：

[code]

@typhoonzero

[2018-06-26 07:32] Leezhaohui commented on #11703
那么我可以提取在v2版本下训练好的VGG16模型的参数，reshape成上述shape，然后给fluid卷积层进行初始化吗？ @qingqing01

[2018-06-26 07:35] #10682 closed

[2018-06-26 08:04] Superjomn opened #11720 "TRT support resnet50"
#### Already realized operators ：

 `fc`
 `relu`

#### Operators need to be added：

 `conv2d`
 `softmax`
 `batch norm`
 `pool2d`
 `elementwise_add`

[2018-06-26 08:08] Superjomn opened #11721 "TRT support mobilenet"

[2018-06-26 08:15] Superjomn commented on #11715
两种方法，一种是不共享 executor，每个线程单独一个 executor，理论上绝对不会有多线程的问题。

二是用新接口，参考多线程的 demo，里面的参数是共享的，而且做了线程安全的处理。

[2018-06-26 08:28] qingqing01 commented on #11714
tensorboard 1.8.0 has requirement protobuf>=3.4.0, but you'll have protobuf 3.1.0 which is incompatible.

请问这是在装PaddlePaddle呢？还是TF呢？

[2018-06-26 08:32] sirius8050 commented on #11714
在装paddlepaddle呢

[2018-06-26 08:50] chenbblei opened #11724 "paddle.v2.layer.gru_step 跟GRU有什么关系"
看使用方法就是一个循环迭代的过程，跟GRU有什么关系？

[2018-06-26 08:52] dyning opened #11725 "uint8 利用cast层转换为float32的疑问"
@panyx0718

 程序如下，初始化一个float32的numpy，然后通过numpy转为uint8，之后输入到paddle，通过cast转回float32，但是最终转换后的值和原始float32的值有diff，不知什么原因？
输出：
data numpy float32: [-148. -148. -148.]
data numpy uint8: [108 108 108]
paddle float32: [108. 108. 108.]

程序：
    import paddle
    import paddle.fluid as fluid
    data = fluid.layers.data(name='data', shape=[3, 224, 224], dtype='uint8')
    data_fl = fluid.layers.cast(x=data,

[2018-06-26 09:00] panyx0718 commented on #11725
uint8表达不了负数，溢出了

[2018-06-26 09:01] chenbblei opened #11727 "(1.0 - forget_fc)报错，求解决方法"
forget_fc =  paddle.layer.fc(input=input, size=size, act=act, bias_attr=True)
size为1024
 (1.0 - forget_fc)报错

[2018-06-26 09:02] dyning commented on #11725
OK，了解，我试了numpy也转不回来。谢谢。
    import paddle
    import paddle.fluid as fluid
    data = fluid.layers.data(name='data', shape=[3, 224, 224], dtype='uint8')
    data_fl = fluid.layers.cast(x=data, dtype='float32')
    #fluid.layers.Print(data_fl, summarize=10)
    place = fluid.CUDAPlace(0)
    exe = fluid.Executor(place)
    exe.run(fluid.default_startup_program())
    img_blob = np.zeros((1, 224, 22

[2018-06-26 09:03] #11725 closed, assigned to nobody

[2018-06-26 09:06] qingqing01 commented on #11724
GRU：是一个完整的、包含所有时间步的计算
gru_step:  只计算一个时间步，一般用于[recurrent-layer-group](  http://www.paddlepaddle.org/docs/develop/api/en/config/layer.html#permalink-30-recurrent-layer-group)中。

[2018-06-26 09:08] chenbblei commented on #11724
@qingqing01 也就是跟GRU结构没啥关系对吧

[2018-06-26 09:10] qingqing01 commented on #11727
写成如下方式吧：

[code]

或者:

[code]

建议下面方式。

[2018-06-26 09:11] qingqing01 commented on #11724
@chenbblei 也不能说完全没关系。 paddle.v2.layer.gru_step是一个时间步的GRU计算。

[2018-06-26 09:27] chenbblei commented on #11724
@qingqing01 那我不用GRU的话，用FC,我直接改成layer.fc也是可以的吧

[2018-06-26 09:50] chenbblei commented on #11727
@qingqing01 多谢

[2018-06-26 09:59] shangguanyifeng opened #11732 "情感分析的dome，怎么用自定义的训练集和测试集？"
demo的例子是用的 imdb 的数据集，我想用自己的数据集。请问怎么把训练集和测试集运用到demo里面

[2018-06-26 10:02] tanxchong opened #11734 "piror box layer的实现中存储的bbx顺序不一致，是否能支持对齐？"
caffe中的priorbox实现是min max s1 s2 ...  1/s1, 1/s2...的顺序，paddle中实现是min s1 1/s1, s2 1/s2... max的顺序，是否可以提供一个参数来调整prior的存储循序和caffe对齐呢？

[2018-06-26 10:34] qingqing01 commented on #11734
@tanxchong  可以的，我们稍后加下~

[2018-06-26 10:37] qingqing01 commented on #11732
情感分析的demo也是文本分类，可以参考模型库中文本分类教程中 [使用自定义数据训练 部分](https://github.com/PaddlePaddle/models/tree/develop/text_classification#%E4%BD%BF%E7%94%A8%E8%87%AA%E5%AE%9A%E4%B9%89%E6%95%B0%E6%8D%AE%E8%AE%AD%E7%BB%83%E5%92%8C%E9%A2%84%E6%B5%8B)。

[2018-06-26 10:48] nuoline opened #11735 "2个序列作为模输入报错"
[code]
   报错：
   F0626 18:47:12.253069  7621 RecurrentLayer.cpp:66] Check failed: starts[numSequences] == batchSize (8 vs. 2)
  我输入句子的单字个数树8

[2018-06-26 10:48] qingqing01 commented on #11716
请参考[`fluid.layers.DynamicRNN`文档](http://www.paddlepaddle.org/docs/develop/api/fluid/en/layers.html?highlight=dynamicrnn#dynamicrnn)，这个文档里有个示例代码，是如何写一个最简单的RNN层。

对于SRU，可以采用`fluid.layers.DynamicRNN`来封装一个吧。后续Paddle也加一个对SRU的支持吧，当前，可以自行先利用基础op和`fluid.layers.DynamicRNN`封装吧。

[2018-06-26 10:50] qingqing01 commented on #11703
可以的~

[2018-06-26 10:53] #11727 closed, assigned to nobody

[2018-06-26 11:13] chenbblei commented on #11716
@qingqing01 多谢

[2018-06-26 11:21] chenbblei commented on #11716
@qingqing01 有V2对应的DynamicRNN么

[2018-06-26 11:44] qingqing01 commented on #11716
@chenbblei V2是 [recurrent_group](http://www.paddlepaddle.org/docs/develop/api/en/config/layer.html#permalink-32-recurrent_group)。

[2018-06-26 11:54] qingqing01 opened #11739 "Speed depthwise transposed conv2d."
Now depthwise transposed conv2d is implemented by cuDNN and im2col + GEMM, which are slower.

[2018-06-26 12:08] chenbblei commented on #11716
@qingqing01 多谢

[2018-06-26 12:08] #11716 closed, assigned to nobody

[2018-06-26 12:09] baiyfbupt opened #11742 "Optimize bipartite_match_op in large scale input"
Now bipartite_match_op can well handle small size input. But when input size is large, this op become extremely slow

[2018-06-26 12:13] qingqing01 opened #11744 "Speed bipartite_match_op for large scale input."
Now the `bipartite_match_op` in face detection model is not unstable. For input with large shape, it is more time-consuming. For example:

Sometimes:

[code]

Sometimes:

[code]

[2018-06-26 12:14] qingqing01 commented on #11744
related to https://github.com/PaddlePaddle/Paddle/issues/11742

[2018-06-26 12:14] #11744 closed, assigned to nobody

[2018-06-26 12:24] chenbblei opened #11746 "两个layer输出相乘用什么接口"
cell_decoder_1 = paddle.layer.fc(name='sru_decoder', input = cell_decoder, act=paddle.activation.Linear())
cell_decoder_2 = paddle.layer.fc(name='sru_decoder', input = cell_decoder, act=paddle.activation.Linear())

假设cell_decoder_1为[-1,256]，cell_decoder_2为[256,256]
cell_decoder_1 *cell_decoder_2 用什么接口实现

[2018-06-26 12:35] qingqing01 commented on #11746
如果是点对点乘，用mixed_layer+dotmul_operator
[code]

文档： http://www.paddlepaddle.org/docs/develop/api/en/config/layer.html#dotmul-operator

[2018-06-26 12:38] chenbblei commented on #11746
@qingqing01 多谢，您今天帮助我解决了很多问题

[2018-06-26 12:41] chenbblei commented on #11746
@qingqing01 矩阵相乘也是用这个么

[2018-06-26 12:58] qingqing01 commented on #11735
以下两句有错：

[code]

错误在于这里：

`sizeof(i_query_ids) = 8` 这里是一个地址计算`sizeof`，结果是8
`sizeof(int) = 4`
`sizeof(i_query_ids) / sizeof(int)= 2`，这是错误的。

`i_query_ids`正确的个数是`query_ids_num`。 i_seg_ids同理。

[2018-06-26 13:06] qingqing01 commented on #11746
矩阵相乘不能用这个。 目前只有fc, 或mixed layer+full_matrix_projection，但这两个都有一个是weight。也不能满足你。

Fluid都是基于op，比较灵活的。

[2018-06-26 13:09] qingqing01 commented on #11714
请问是在什么系统上安装？安装方式是源码、docker还是pip安装？以及的Python版本是多少？从错误信息看，似乎Python环境有问题。

[2018-06-26 13:21] #11724 closed, assigned to nobody

[2018-06-26 13:23] sirius8050 commented on #11714
我是用pip安装的，用的是python27，如果卸载python，再重新装python可以吗？

[2018-06-26 13:35] LogicHolmes opened #11749 "fluid有没有LSTM的教程，我想做decoder部分"
你好，我最近在做image caption，想用fluid做decoder部分，但是fluid这部分资料很少，导致进度很慢！

[2018-06-26 14:19] u5tony opened #11751 "windows下的docker 安装 （Docker‘s installtion for win10,64bit）"
您好，我在win10,64位，普通家庭版的环境下，安装从官网下载的docker tools总是在双击桌面快捷方式Docker Quickstart Terminal，的情况下报错，显示如下（the mistake is）
Starting "default"...
(default) Check network to re-create if needed...
(default) Windows might ask for the permission to configure a dhcp server. Sometimes, such confirmation window is minimized in the taskbar.
Unable to start the VM: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe sta

[2018-06-26 15:50] linrio commented on #6725
@luotao1
代码：

[code]

我有4块GPU，这只使用到了GPU-0，如何设定 fluid.CUDAPlace() 使得可以使用4块GPU？或者2块GPU？

[2018-06-26 20:03] jiachengni commented on #9335
我也有同样的问题，请问sequence_conv_pool构造多层卷积网络应该怎么搭建呢？

[2018-06-26 20:17] wangkuiyi opened #11753 "Move fluid::framework::InitDevices into fluid::platform"
In `paddle/fluid/framework/init.cc` there defines

https://github.com/PaddlePaddle/Paddle/blob/326b434ab52579bb68f1b01c528f66c39751bc31/paddle/fluid/framework/init.cc#L67-L92

which duplicates with the content of the main function in `paddle/fluid/platform/device_context_test.cu`:

https://github.com/PaddlePaddle/Paddle/blob/326b434ab52579bb68f1b01c528f66c39751bc31/paddle/fluid/platform/device_con

[2018-06-26 20:33] wangkuiyi commented on #11753
This duplication is actually a bug. It causes the failure of unit test `fluid/framework/tensor_util_test.cu`, which contains the following call to `paddle::platform::DeviceContextPool::Instance()`, which would complain that no prior call to `paddle::platform::DeviceContextPool::Init()`, which however, should have been called by `framework::InitDeivces`.

https://github.com/PaddlePaddle/Paddle/blob

[2018-06-26 21:04] wangkuiyi opened #11754 "Move fluid::operators::math::SetNumThreads to fluid::platoform"
The setting of the number of threads is platform dependent operation. It is improper to put it in `fluid/operators/math`:

https://github.com/PaddlePaddle/Paddle/blob/2dae8a46317789fa3ac78cc39ca1b63f8609aef0/paddle/fluid/operators/math/blas.h#L49-L59

Especially that it is called in `fluid/framework/init.cc`:

https://github.com/PaddlePaddle/Paddle/blob/8f266e202236920d1d87ea49bf6b992115928bac/pad

[2018-06-26 21:28] wangkuiyi commented on #11753
I don't have time to fix this issue in PaddlePaddle/Paddle, I just made  a fix in https://github.com/wangkuiyi/tape/pull/11 to support @tonyyang-svail and @kexinzhao 's recent work on https://github.com/PaddlePaddle/tape/. Anyone feel free to copy my fix into this repo.

[2018-06-27 01:34] qingqing01 commented on #11749
Fluid基于encoder-decoder的机器翻译正在开发中，可以参考：
1. https://github.com/PaddlePaddle/models/pull/954
2. https://github.com/dzhwinter/benchmark/blob/master/fluid/machine_translation.py

[2018-06-27 01:36] #11684 closed, assigned to typhoonzero

[2018-06-27 01:40] jacquesqiao commented on #11707
好的，我看一下

[2018-06-27 01:41] qingqing01 commented on #11751
可以参考docker官方的issue: https://github.com/docker/toolbox/issues/473

[2018-06-27 01:42] jacquesqiao commented on #11707
正在和金华对这个问题

[2018-06-27 01:47] #11703 closed, assigned to nobody

[2018-06-27 02:01] qingqing01 commented on #11714
可以先找到Python安装路径下的 `Python.h`的位置:

[code]

假如在：

[code]

然后设置所在路径到`C_INCLUDE_PATH`/`CPLUS_INCLUDE_PATH`里试下：

[code]

[2018-06-27 02:02] tensor-tang commented on #11754
Thanks, I will move it to a proper place.

[2018-06-27 02:08] nuoline commented on #11735
谢谢，终于好了！

[2018-06-27 02:08] #11735 closed, assigned to nobody

[2018-06-27 02:18] alexqdh opened #11755 "作业报错paddle.fluid.core.EnforceNotMet: an illegal memory access was encountered"
基于代码commitID: 43b6d4f8cb39b18bd192b070f40ae8e3f228068a

在paddle平台上执行报错，本地执行没有问题，作业号job-e6c5b3228bb4b5af

INFO:thirdparty.datareader.corelib.reader.reader:connect to filesystem[afs://baihua.afs.baidu.com:9902]
Traceback (most recent call last):
  File "train.py", line 334, in <module>
    log_per_batch=10)
  File "train.py", line 301, in train
    train_loop(fluid.default_main_program())
  File "tr

[2018-06-27 02:41] Yancey0623 commented on #11755
大概率原因是机器上有其他进程共用一块GPU卡导致的，可以找平台的同学协助排查下么？

[2018-06-27 02:58] chenbblei commented on #11746
@qingqing01 看来我得将v2全部转化为fluid了，这个转换容易不

[2018-06-27 03:16] JayEworld opened #11758 "paddlepaddle是否支持类似于fm的组合特征变换"
最近准备在推荐系统中应用wide & deep模型，wide部分需要添加类似于fm的组合特征变换。
请问paddle现在有支持cross product的特征变换的layer吗？
我需要怎么实现呢？
我看官方的demo中 ，忽略了这部分

[2018-06-27 03:21] alexqdh commented on #11755
好的

[2018-06-27 04:49] luotao1 commented on #6725
@linrio 您可以使用ParallelExecutor：http://paddlepaddle.org/docs/develop/api/fluid/en/fluid.html#permalink-30-parallelexecutor

只需要设置CUDA_VISIBLE_DEVICES就可以了, ParallelExecutor会将数据拷贝GPU端.
如果batch size是16，有四张卡0，1，2，3，ParallelExecutor的run方法会将数据切成四分，分别发送到四张卡上，每张卡的batch size是4

[2018-06-27 05:16] #11755 closed, assigned to Yancey0623

[2018-06-27 05:48] u5tony commented on #11751
试过了，由于是win10 家庭版暂时不支持@qingqing01

[2018-06-27 06:44] procr opened #11760 "Is there a way to disable NCCL?"
I'd like to disable NCCL when compile paddle with cuda, how?

[2018-06-27 07:03] #11739 closed, assigned to qingqing01

[2018-06-27 07:36] jacquesqiao opened #11763 "fix mac build"
[code]

[2018-06-27 07:39] tensor-tang commented on #11754
Did not find a proper existing file to place this function. `cpu_info.h` is still not good enough.

So I add new include file named `cpu_helper.h`  .

[2018-06-27 07:50] jacquesqiao opened #11764 "cmake download model files for test"
![image](https://user-images.githubusercontent.com/3048612/41960203-bcd79b90-7a21-11e8-828d-93c8cb9616b5.png)

[2018-06-27 07:51] Superjomn commented on #11764
what's the case?

[2018-06-27 07:54] luotao1 commented on #11764
@Superjomn 应该在单测运行的时候下载这些模型，而不是在编译的时候就下载了。目前python单测，均是在运行的时候下载模型和数据。

[2018-06-27 07:57] tensor-tang commented on #11764
就是因为这里，在cmake的时候就会执行，下载model。

https://github.com/PaddlePaddle/Paddle/blob/c228977727cfbcd53dbccb4f93153c6102cd7815/paddle/contrib/inference/demo/CMakeLists.txt#L33-L38

[2018-06-27 08:27] ccmeteorljh opened #11766 "ocr模型在0.14版本下test后报错"
**paddle版本：v0.14
启动脚本如下：**
CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7  python ctc_train.py --batch_size 256 --local 1
**报错如下：**
[code]

[2018-06-27 08:51] #11742 closed, assigned to baiyfbupt

[2018-06-27 09:45] linrio commented on #6725
@luotao1  我按照您说的方法修改代码:

[code]
但是这个`fluid.DataFeeder()`的 place 参数应如何修改？

[2018-06-27 09:58] chaos-dd commented on #3002
这个问题有结论吗？  @gangliao ，比如某个稀疏数据slot，确实没有一个数据，这种paddle不支持。 是这个问题吗？

[2018-06-27 10:12] chaos-dd opened #11769 "稀疏特征的embedding层的默认值问题"
如果模型有多个稀疏特征slot，比如性别、年龄，两个slot，每个slot对应一个embedding，单独feed数据。但是有些样本会确实部分特征slot，但是现在paddle要求每个slot必须feed数据，而且embedding也没法指定默认值。
V2版本API，不知道有没有workaroud的方法
比如这个issue #3002

[2018-06-27 10:25] hytirt opened #11770 "对于多分类模型训练，PrecisionRecallEvaluator是否可以输出若干label的总准召？"
看了一下v2中PrecisionRecallEvaluator的源码，目前支持整体的marco、mirco以及单个label的准召F1。
如果希望只计算其中某几个label的总准召和F1，有什么解决的办法呢？
此外，是否可以获得每个label的TP、FP、FN值，方便从绝对数量的维度上进行统计？

[2018-06-27 11:08] velconia opened #11771 "Operator & Variable Place Design"
# Operator & Variable Placment Design

## 1. 背景
在开始介绍我们的 Variable Place Design 之前, 我们先看一下, Paddle之前都是如何构造一个分布式的NN训练网络的

### 1.1 构造 Forward Pass
参考 uci_housing 的例子, 我们构造了一个非常简单的 Forward Pass:

[code]

通过上述代码, 我们得到了如下的 ProgramDesc:

[code]

### 1.2 构造 Backward Pass

在实践中, 我们把复杂的通过 Forward Pass 构造 Backward Pass 的过程用 append_backward 封装起来:

[code]

通过构造 Backward Pass, 我们可以得到如下的 ProgramDesc:

[code]

其实

[2018-06-27 11:10] velconia commented on #11609
the [variable place design doc](https://github.com/PaddlePaddle/Paddle/issues/11771) was here now

[2018-06-27 11:37] velconia commented on #11771
Considering the scale of changes, the content after 3.5 maybe not in schedule, or be scheduled later

[2018-06-27 12:15] chenbblei opened #11773 "paddle.layer.img_conv的padding以及输出的h,w是怎么计算的"
假设定义一个变量
conv_layer = paddle.layer.img_conv(
        input=input,
        filter_size=(11,41),
        num_channels=1,
        num_filters=16,
        stride=(3,2),
        padding=padding,
        act=paddle.activation.Linear(),
        bias_attr=False)

假设input定义如下：
input= paddle.layer.data(
            name="input",
            type=paddle.data_type.dense_array(300* 161))

那么padding如何计算获得，这个img

[2018-06-27 12:19] Angus07 opened #11774 "调用paddle_gradient_machine_create_for_inference报错"
C++AIP, 报错信息如下：
[code]

已经检查过，读入的BIN_FILE的文件是正常的，也读到了。
代码如下：
[code]

[2018-06-27 12:36] cbstyle opened #11775 "Cls instance has no attribute 'pool_size'"
TrainData(PyData(
        files="train.list",
        load_data_module="video_mean_provider",
        load_data_object = "processData",
        load_data_args = load_data_args,
        async_load_data = True)
)

TestData(PyData(
        files="test.list",
        load_data_module="video_mean_provider",
        load_data_object = "processData",
        load_data_args = load_data_args)
)
数据输入由上面替换为下

[2018-06-27 12:47] drfia opened #11776 "Install paddlepaddle fail"
execute  `pip install paddlepaddle`
then

[('cp27', 'cp27m', 'macosx_10_12_x86_64'), ('cp27', 'cp27m', 'macosx_10_12_intel'), ('cp27', 'cp27m', 'macosx_10_12_fat64'), ('cp27', 'cp27m', 'macosx_10_12_fat32'), ('cp27', 'cp27m', 'macosx_10_12_universal'), ('cp27', 'cp27m', 'macosx_10_11_x86_64'), ('cp27', 'cp27m', 'macosx_10_11_intel'), ('cp27', 'cp27m', 'macosx_10_11_fat64'), ('cp27', 'cp27m', 'maco

[2018-06-27 12:50] #11764 closed, assigned to Superjomn, luotao1, tensor-tang

[2018-06-27 13:18] qingqing01 commented on #11746
@chenbblei  看网络复杂程度，models里有很多已经用Fluid验证过的模型，也可以参考。

[2018-06-27 13:22] qingqing01 commented on #11749
@LogicHolmes 这个issue关闭了。 我们正在做的机器翻译和OCR识别的Attention模型都会包含decoder部分，参数上述资料的同时，如果有具体问题，欢迎再开issue。

[2018-06-27 13:22] #11749 closed, assigned to nobody

[2018-06-27 13:24] qingqing01 commented on #11732
这个issue关闭了，上面提到的教程，已告诉用户如何操作了，如果有具体问题，欢迎再开issue。

[2018-06-27 13:24] #11732 closed, assigned to nobody

[2018-06-27 13:26] qingqing01 commented on #11751
@u5tony 那现在是什么情况？还有问题吗？

[2018-06-27 13:33] u5tony commented on #11751
就是在windows下两种方法都装不上，我刚刚换用在windows下装Ubuntu，在Ubuntu下试试。 @qingqing01

[2018-06-27 13:40] #11746 closed, assigned to nobody

[2018-06-27 13:50] luotao1 commented on #6725
place和使用executor时一样，即` place = fluid.CUDAPlace(0) if use_cuda else fluid.CPUPlace()`可。

[2018-06-27 14:02] #11188 closed

[2018-06-27 14:05] Yancey0623 commented on #11760
I think we don't have a graceful way to turn off NCCL, and PaddlePaddle depends on NCCL in many places such as broadcast, reduce/all-reduce in multiple GPU communication. But why you want to disable NCCL?

[2018-06-27 14:08] Yancey0623 commented on #11769
目前v2和Fluid均不支持这个功能，或许后续可以作为embedding的一个新feature加入进来。

[2018-06-27 14:14] Yancey0623 commented on #11776
I saw there is wheel package named paddlepaddle-0.11.0-cp27-cp27m-macosx_10_12_x86_64.whl  on [pypi](https://pypi.org/project/paddlepaddle/0.11.0/#files), maybe you can try to download and install it on your laptop.

[2018-06-27 14:15] Yancey0623 commented on #11775
请问在什么环境下，安装的哪个版本的Paddle呢？

[2018-06-27 15:19] velconia opened #11777 "dlopen error shows wrong information"
When libwarpctc.so is NOT found in system, I got this error below:

[code]
But when I put the l put the libwarpctc.so in correct place, it still went wrong with the same error;

But actually, after I add GLOG_logtostderr=1 GLOG_v=3 before the process, I found that the error is:

[code]

So, actually the dlerror() should NOT be called twice when we meet something error.

[2018-06-27 16:32] wangkuiyi opened #11780 "Rename mixed_vector.h into vector.h"
This file https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/mixed_vector.h was named `mixed_vector.h`; however, the class defined in there has name `Vector`.

Should we rename `mixed_vector.h` into `vector.h`?

[2018-06-27 16:34] wangkuiyi commented on #11780
It seems that there is no file in paddle/fluid who has the name vector.h. This means it is safe to rename mixed_vector.h into vector.h.

[code]

[2018-06-27 17:56] wangkuiyi commented on #11780
I made a quick fix to this problem, but in the tape repo, which supports times faster CI and supports @tonyyang-svail and @kexinzhao 's work. Anyone feel free to cherrypick my fix from https://github.com/wangkuiyi/tape/pull/14

[2018-06-27 18:04] wangkuiyi opened #11781 "Is framework/reader an unused CMake target?"
https://github.com/PaddlePaddle/Paddle/blob/958823fae746101b181dcd313b0201f3560cf45b/paddle/fluid/framework/CMakeLists.txt#L29

[2018-06-27 18:05] wangkuiyi commented on #11781
It seems yes from the code search result:

https://github.com/PaddlePaddle/Paddle/search?l=CMake&q=reader

[2018-06-27 18:16] wangkuiyi opened #11782 "It doesn't make sense for scope to depend on threadpool"
framework/scope.cc includes framework/threadpool.h

https://github.com/PaddlePaddle/Paddle/blob/958823fae746101b181dcd313b0201f3560cf45b/paddle/fluid/framework/scope.cc#L20

Also, framework/CMakeLists.txt tells that scope depends on threadpool

https://github.com/PaddlePaddle/Paddle/blob/958823fae746101b181dcd313b0201f3560cf45b/paddle/fluid/framework/CMakeLists.txt#L36

However, I don't see that s

[2018-06-27 18:18] wangkuiyi commented on #11782
My bad -- scope.cc is using Async defined in threadpool.

[2018-06-27 18:24] wangkuiyi commented on #11782
It seems that logically, scope shouldn't have been depending on threadpool.

The dependency is because of

https://github.com/PaddlePaddle/Paddle/blob/958823fae746101b181dcd313b0201f3560cf45b/paddle/fluid/framework/scope.cc#L91-L96

However, the delete operation costs milliseconds and is faster than adding the task into the pending queue of the threadpool.

[2018-06-27 18:51] wangkuiyi opened #11784 "Why do we need mixed_vector.h given tensor.h?"
It seems that [mixed_vector.h](https://github.com/PaddlePaddle/Paddle/blob/e26f51ce74e998c4119fc2c3145aa7c1224c2170/paddle/fluid/framework/mixed_vector.h) defines class `Vector`, which is a one-dimensional tensor.

Given that we had Tensor, why would we need Vector? Cannot we just use Tensor instead of Vector?

[2018-06-27 18:54] yvisser-verys opened #11785 "nad copy file"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-06-27 20:32] wangkuiyi opened #11786 "Rename library_type.h into device_api.h"
Also, this file contains several very long inline function. The proper implementation should move function definitions to device_api.cc.

[2018-06-27 21:21] wangkuiyi opened #11787 "Rename framework/data_layout.* into framework/tensor_layout.*"
data_layout defines tensor values' layouts.

[2018-06-28 01:07] Yancey0623 opened #11789 "[stability]Add dist word2vec unit test"
Add dist word2vec unit test to test ParallelExecutor and sparse update

[2018-06-28 02:16] luotao1 commented on #11785
What's your question? @yvisser-verys

[2018-06-28 02:24] BryceLuminary opened #11795 "Paddle 自带单元测试挂掉"
您好，我运行 Paddle python 接口的单元测试时，CUDAPlace(0) 有些重要的 op 会挂掉，例如 test_conv2d_op.py。因为卷积层是重要的 op，这个单元测试不能通过会导致几乎所有 CNN 类网络运行失败；改为 CPUPlace 就可以了。运行失败的提示信息如下：

我的系统环境是两张 P4，两张 K1200 混插在同一台机器上了，所以这个故障怀疑牵扯到单机多卡的 nccl 通信问题。请帮忙定位，谢谢！

[2018-06-28 02:26] luotao1 commented on #11795
您好，运行单测，请按照以下命令：
[code]
直接运行python文件，会导致一些环境变量没找到。

[2018-06-28 02:27] Yancey0623 commented on #11773
Dup with #11148

[2018-06-28 02:41] typhoonzero commented on #11710
I'm working on this now

[2018-06-28 02:53] liangyz23 opened #11796 "DNN可以同时运行在GPU和CPU"
https://github.com/PaddlePaddle/book/issues/281  里面提到整体网络使用GPU的时候，可以部分layer用CPU，但我没找到相应的设置方式，想请教下怎么设置，谢谢！
原话“PaddlePaddle allows a certain layer or some layers runs in CPU while the rest running in GPU”

[2018-06-28 02:57] Yancey0623 commented on #11710
Thanks, @typhoonzero but so sorry that I'm working on this and will submit the PR today or tomorrow.

[2018-06-28 02:59] #11795 closed, assigned to nobody

[2018-06-28 03:31] callmeivy opened #11798 "Installing the latest version of Paddle(GPU) is failed"
downloaded the latest version of paddle wheel(cuda9.0_cudnn7_avx_mkl) from https://guest@paddleci.ngrok.io/repository/download/Manylinux1_Cuda90cudnn7avxMkl/.lastSuccessful/paddlepaddle_gpu-latest-cp27-cp27mu-linux_x86_64.whl

when I install it with "pip install XX.whl", it comes the error of "error: Error -3 while decompressing: invalid code lengths set", pls see the detailed screen shot below:
!

[2018-06-28 03:56] luotao1 commented on #11798
我们的TeamCity正在重启，等恢复正常后通知您。

[2018-06-28 04:08] luotao1 commented on #11796
您好，v2版本未支持这一功能，v1版本是支持的。

[2018-06-28 04:13] #11410 closed

[2018-06-28 05:14] jacquesqiao commented on #11758
我先看下然后给你回复~

[2018-06-28 05:20] #11659 closed, assigned to Yancey0623

[2018-06-28 05:21] jacquesqiao commented on #11758
http://paddlepaddle.org/docs/develop/api/fluid/en/layers.html?highlight=cos_sim#cos-sim 看下这个 cos-sim

[2018-06-28 05:38] jacquesqiao commented on #11758
另外请问你是在用v2还是用fluid版本？

[2018-06-28 06:19] liangyz23 commented on #11796
不好意思，怎么区分哪些版本是V1，哪些是V2

[2018-06-28 06:20] xiaolv3366 commented on #11796
为什么v2版本不支持这一功能？这个功能很实用的。

[2018-06-28 06:38] dyning opened #11804 "reduce_sum多卡并行计算问题"
@qingqing01 @panyx0718

reduce_sum在CPU和单卡计算时正常，多卡并行计算时与预期的结果不一致，具体代码如下，test_reduce_sum_functions是入口函数：

[code]

[2018-06-28 06:51] qingqing01 commented on #11804
It seems need to add `loss_name` to `fluid.ParallelExecutor()`:

[code]

[2018-06-28 07:06] linrio commented on #6725
@luotao1 我按照您说的修改代码:

[code]
并把
[code]
改成：
[code]

但是报 了错误：
[code]

其中，
[code]
分别是：
[code]
我查看了/paddle/fluid/executor.py [](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/executor.py#L351) 的run() 方法，run()的参数与我传入的无异：
[code]
请问我这是什么地方传参数有错误？
另外如果依然使用 `place = fluid.CUDAPlace(0) if use_cuda else fluid.CPUPlace()`，还是只能用GPU-0 这1块GPU呀？

[2018-06-28 07:07] luotao1 commented on #11796
- v1版本是0.9.0的，比较老的，0.10.0开始是v2版本。
- v2版本目前已经不加新的功能，维护为主。
- fluid版本是支持这一功能的，会在run的时候，自动进行CPU/GPU的转换，您可以试下fluid版本。在fluid版本中，如果的有的op没有GPU的kernel 而且该op的输入是在GPU的，  在Op里面会将数据拷贝到CPU端，这个过程不需要用户参与的

[2018-06-28 07:16] luotao1 commented on #6725
您可以参考 https://github.com/chengduoZH/benchmark/blob/add_resnet_50_v2/fluid/ResNet_50/train_resnet.py#L192 怎么使用parallel_executor

[2018-06-28 07:33] drfia commented on #11776
Hello,I've tried ,but it dosen't work

[2018-06-28 08:09] typhoonzero opened #11810 "memory::Alloc is not thread-safe but used in multi threaded case"
`mutable_data` will call [here](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/tensor.h#L170) which calls [memory:Alloc](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/memory/malloc.cc#L41) and `Alloc` will call [GetCPUBuddyAllocator](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/memory/malloc.cc#L30) which is not thread-safe.

We do

[2018-06-28 08:40] chengduoZH commented on #11804
@dyning  ~~你应该把loss的name传给fluid.ParallelExecutor~~
这是因为代码里面缺少一个同步操作

[2018-06-28 08:41] BigFishMaster opened #11811 "IfElse meets problem if one of two conditions has no elements..."
Demo code is from [url](https://github.com/PaddlePaddle/Paddle/blob/b5247caccf5b2c5f45bbc3bcc9812b9c307fe8a5/python/paddle/fluid/tests/test_mnist_if_else_op.py). If IfElse condition ```ie.true_block()``` or ```ie.false_block() ```) is not used during running time, it will generate Segmentation fault
[code]
Error Message:
[code]

[2018-06-28 08:44] dyning commented on #11804
@chengduoZH 问题依然存在

[2018-06-28 08:54] velconia commented on #11777
Things were done when try to link the correct version ``` libwarpctc.so```

[2018-06-28 08:54] #11777 closed, assigned to nobody

[2018-06-28 09:32] liangyz23 commented on #11796
好的，谢谢！

[2018-06-28 09:47] #11796 closed, assigned to nobody

[2018-06-28 12:08] BigFishMaster opened #11815 "How to use local Variable for loss accumulation"
I want to use local variable to accumulate losses in while_op, my code is:
[code]
If I use ```create_global_var```,  define ```total_sum``` as:
[code]
there are following errors. Do you have other better method to implement my function?
[code]

[2018-06-28 12:09] typhoonzero commented on #11367
Closing this for now, seems not a bug of enabling memory optimization.

[2018-06-28 12:09] #11367 closed

[2018-06-28 12:17] typhoonzero commented on #11379
I think currently the gRPC client request will be retried within the deadline. We must record the trainer id at server side if the request is barrier request, so that barrier requests can also be retried.

[2018-06-28 12:52] velconia commented on #11108
我等会加一下

[2018-06-28 13:53] luotao1 opened #11818 "manylinux1 fails at inference_anakin_api"
all manylinux1 fail at inference_anakin_api
![image](https://user-images.githubusercontent.com/6836917/42038098-ad0b40c6-7b1c-11e8-9743-d1dd5d529355.png)
https://paddleci.ngrok.io/viewLog.html?tab=buildLog&buildTypeId=Manylinux1_Cuda90cudnn7avxMkl&buildId=399&_focus=25966
[code]
The reason is
https://github.com/PaddlePaddle/Paddle/blob/fa1fb12b938b5281c1c42b21131658712dff6439/paddle/contrib/infere

[2018-06-28 14:28] lgone2000 commented on #11533
it works

[2018-06-28 14:28] lgone2000 commented on #11533
it works

[2018-06-28 14:28] #11533 closed, assigned to wanghaoshuang

[2018-06-28 14:46] #11804 closed, assigned to reyoung, chengduoZH

[2018-06-28 15:12] #11818 closed, assigned to nobody

[2018-06-29 01:46] Leezhaohui opened #11820 "请看看下面的错误是什么原因？"
![2018-06-29 09-39-33](https://user-images.githubusercontent.com/37324697/42068911-3d40102c-7b81-11e8-8de8-25c7c7a1c0d1.png)

[2018-06-29 01:56] typhoonzero commented on #11820
应该是显存不够了，请检查是否有别的程序正在占用GPU

[2018-06-29 02:14] Leezhaohui commented on #11820
![2018-06-29 10-13-30](https://user-images.githubusercontent.com/37324697/42069567-1ecddf62-7b85-11e8-9453-6c09f1331374.png)
@typhoonzero 那这个错误呢？

[2018-06-29 02:18] ktlichkid commented on #11811
Is it related to #10743?

[2018-06-29 02:40] #11766 closed, assigned to wanghaoshuang, qingqing01, typhoonzero

[2018-06-29 02:40] liuliyalei opened #11823 "请各位帮我看一下预测程序没有结果是什么原因"
ubuntu 16.04
paddlepaddle的0.12.0的GPU版本
CUDA Version 8.0.61
cudnn 5.1

我在网上找了一个基于voc数据集的目标检测的案例，训练之后保存参数用于预测，然后将预测结果写入到images文件夹下的infer.res 和infer.txt中，但是我发现预测结果并没有写入，代码如下，请大家帮我检查一下是哪里出了问题，谢谢！如果还需要我提供数据，请留言

[code]

[2018-06-29 03:12] typhoonzero commented on #11820
您好，类似这样的错误，Paddle的错误提示应该是准确并充分的，基本上可以通过报错信息和stack定位问题。比如第一个报错"enforce allocating <= available failed"是说内存分配失败。第二个问题 "Broadcast dimension mismatch" 是说两个tensor的dimension不一致，并且是在某个elementwise_op中，这样可以通过进一步的查看stack信息，定位到具体是那个op出错的，并检查模型配置中是否存在shape不一致的问题。

这是一般定位以及解决问题的方法，希望您能掌握通用的方法，这样在后续的模型开发中可以事半功倍。

另外，推荐在提交issue的时候，不要截图，而是将报错的文本用code-block贴起来。这样类似的问题也可以在github issue中或从搜索引擎中搜到，如果有相似的问题，为其他开发者和社区提供

[2018-06-29 03:30] panyx0718 commented on #11771
Thanks for writing this doc.

I think adding attrs, such as PlaceGroup, is necessary during "some stage" of tranformation. It's necessary to guide the eventual placement and execution.

I have some comments:

PlaceGroup probably shouldn't be added directly to Program. Perhaps we should first transform program to graph, then analyze based on the graph.

Program probably won't be visible to executor

[2018-06-29 04:55] #11820 closed, assigned to typhoonzero

[2018-06-29 05:08] bingyanghuang opened #11830 "Loss falls too fast on CPU with Parallel Executor"
When I try to reproduce  ResNet50 MKL training benchmark with the scripts you provided https://github.com/PaddlePaddle/Paddle/issues/11620
with
`export CPU_NUM=32`
`python train_resnet.py --display_step=1 --warmup=0 --use_gpu=false --number_iteration=20 --skip_first_steps=5 --batch_size_per_trainer=2`

I found that loss value falls strangely fast from 6.96 to  0.00363376 during 60 iterations. You

[2018-06-29 05:22] luotao1 commented on #11830
#11620 用的是随机数据，不是flowers数据集。

[2018-06-29 05:32] typhoonzero commented on #11774
是否可以提供使用的paddle的版本或者github commit id呢？

[2018-06-29 05:37] typhoonzero commented on #11823
先print可以print出来infer结果么

[2018-06-29 05:40] bingyanghuang commented on #11830
我加了一下使用flowers数据的train_reader
train_reader = paddle.dataset.flowers.train()
 train_reader = feeder.decorate_reader(
        paddle.batch(
           #train(), batch_size=args.batch_size_per_trainer),
           train_reader, batch_size=args.batch_size_per_trainer),
      multi_devices=True)

line213 这样的修改是正确的么？如果是的话，loss还是下降的很快。

[2018-06-29 06:11] liuliyalei commented on #11823
[code]
@typhoonzero 就是什么都没有

[2018-06-29 06:23] chengduoZH commented on #11830
@bingyanghuang 是这样的  #11620 用到的脚本每次训练都是使用同样的数据，这是通过fix_data_in_card控制的，这是为了测parallelExecutor的计算速度。
如果要做训练的话，需要把fix_data_in_card改成false.

[2018-06-29 06:26] guoshengCS commented on #11815
It seems that the error is caused by the check in `conditional_block_op` https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/conditional_block_op.cc#L207 . Is there use of `IfElse` or `Switch` and the inputs are set no gradient.

[2018-06-29 06:28] velconia commented on #11771
Maybe we can take ProgramDesc as the IR? I'm not sure.. maybe the ```program desc``` was designed for the IR in the beginning? @typhoonzero

Thanks for kind advice, this is very important, so that we can guarantee that the transpiler has done everything right, I will add the description doc of correctness later.

[2018-06-29 06:41] velconia commented on #11108
@typhoonzero the feature was done, and If we could add the feature into the 0.14.0 release?

[2018-06-29 07:53] Angus07 commented on #11774
CONFIGS('baidu/third-party/paddle-capi@paddle-capi-cpu-v0.2@git_tag',NeedOutput())

[2018-06-29 07:56] typhoonzero commented on #11774
这个版本对应哪个github的commit id呢，这样我可以clone一份代码来debug

[2018-06-29 08:09] velconia commented on #11259
把和 pserver_program op 无关的 input vars 初始化都删去了

[2018-06-29 08:20] velconia opened #11843 "First round parameters of trainer and pserver was NOT identical"
The parameters and bias in our program will be initialised with the code below:

[code]

The bias was inited with 0.0f;

And the params was inited with uniform_random_seed(0):

[code]

So it's true random if the program was ran in single-machine mode.

However, in distributed mode, the pserver will initialise all parameters randomly too, which will lead to the difference between params in pserver

[2018-06-29 08:30] xiaolv3366 opened #11846 "Paddle 转换 ONNX格式"
Paddle 如何转换 ONNX格式？VisualDL的Graph使用。

[2018-06-29 08:43] Angus07 commented on #11774
你是说我们的代码吗？还是paddle的代码？

[2018-06-29 08:48] velconia commented on #11379
Maybe we could review  the grpc retry policy in this [doc](https://github.com/grpc/proposal/blob/master/A6-client-retries.md).

[2018-06-29 08:50] kuke commented on #11846
FYI https://github.com/PaddlePaddle/paddle-onnx

[2018-06-29 08:55] typhoonzero commented on #11774
是说paddle的代码

[2018-06-29 08:59] pzelazko-intel opened #11847 "inference transpiler does not work properly"
When I use inference transpiler in fluid_benchamark.py, I get much worse test accuracy.

This is result of benchmark with inference transpiler:
[code]
And this is without inference transpiler:
[code]

This problem is connected with `fuse_batch_norm` method. `fuse_relu_mkldnn` works properly.

[2018-06-29 09:05] xiaolv3366 commented on #11846
VisualDL的Graph支持原生态的PaddlePaddle格式吗？
还是只支持ONNX格式？
如果只支持ONNX格式，Paddle如何转换ONNX格式？

[2018-06-29 09:05] velconia commented on #11843
Actually we could add a new initializer here, maybe called the ```remote_initializer``` or ```pserver_initializer```, which will use recv_op to receive the params from pserver initialise the params in trainer

[2018-06-29 09:06] xiaolv3366 commented on #11846
@kuke Paddle Fluid -> ONNX convertor?  Paddle V2可以转吗？

[2018-06-29 09:08] velconia commented on #11843
@typhoonzero which name would u prefer here, ```remote_initializer``` or the ```pserver_initializer```?

[2018-06-29 09:14] BigFishMaster commented on #11811
@ktlichkid yes.

[2018-06-29 09:20] Angus07 commented on #11774
你是说这个 http://icode.baidu.com/repos/baidu/third-party/paddle-capi/tree/master ?

[2018-06-29 09:23] xiaolv3366 commented on #4170
paddle make_diagram network_for_dot.py $dot_name.dot
dot $dot_name.dot -Tpng -o $image_name.png
这个network_for_dot.py是网络配置吗？

[2018-06-29 09:44] typhoonzero commented on #4170
是的

[2018-06-29 09:48] typhoonzero commented on #11774
看了下这个项目里是直接link到一个ci上的build id了，并没有记录到底是对应github哪个commit id，所以无法用当时版本的代码复现。

另一个方法是，你可以先下载最新的paddle capi的so，替换项目中thirdparty下的内容，看可否复现，如果仍然可以我可以用最新的代码检查下问题

[2018-06-29 09:51] xiaolv3366 commented on #4170
我的怎么生成不了，空的。能给一个文件吗？

[2018-06-29 10:01] baihaojie2011 commented on #10607
折腾了一天，各种方法都尝试了。最后发现，更新到 0.12.0 就能 import 进来了

[2018-06-29 11:12] ccmeteorljh opened #11851 "多机单卡，跑resnet模型，一个pass后出core"
**paddle版本：v0.14
模型：resnet
运行条件：**
2个psserver，2个trainer（每个单卡）
**启动命令：**
[code]
运行结果：
[code]

[2018-06-29 11:12] typhoonzero commented on #11771
I think use `ProgramDesc` as IR would have many advantages.  If we don't want to expose that detailed IR information, we can use protobuf inheritance to hide those details. If we use `ProgramDesc` as IR, we can:

1. Put all transpilers/compilers/optimizers as a pipeline to modify the IR， e.g. convert to SSA -> constant folding -> memory opt -> multi-gpu
1. Simplify the executor's implementation. I

[2018-06-29 11:15] velconia commented on #11851
我会跟进这个问题

[2018-06-29 11:45] kuke commented on #11846
VisualDL  应该是支持onnx格式的，目前只支持fluid模型的转换，v2并不支持。

[2018-06-29 12:10] luotao1 commented on #11847
`fuse_batch_norm` is used only for inference. We couldn't use it in training.
And `inference_transpiler` is used for optimizing training program_desc to inference program_desc, so we should use it after saving program_desc.

[2018-06-29 14:07] pzelazko-intel commented on #11847
@luotao1 But at the end of the training in fluid_benchmark there is a test phase. I use inference_transpiler only for that part.

[2018-06-29 22:27] daming-lu opened #11856 "Predicted Housing Price is NEGATIVE"
After training, when we use real Boston Housing Price to do prediction, Paddle gives negative housing price

https://github.com/daming-lu/Paddle/blob/911567b276844ecc18e5864eaa4c0761af7465c4/python/paddle/fluid/tests/book/high-level-api/fit_a_line/book_fit_a_line.py#L84

The data is here:

https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data

[2018-06-30 03:03] luotao1 commented on #11847
There are some tips and mistakes in the script.
- tips: we should keep the random seed, otherwise the train loss is different each time when we run the same command `python fluid_benchmark.py --device CPU --data_set cifar10 --pass_num 1 --iterations 250`
- mistakes: we should do `inference_transpiler` before test and after train.

I create a PR #11859 , and you can have a test.
[code]
The result o

[2018-06-30 03:31] luotao1 commented on #8806
I close this issue due to the design of Paddle one-thread call MKLDNN multi-thread. And ParallelDo is replaced by ParallelExecutor now.

[2018-06-30 03:31] #8806 closed

[2018-06-30 03:33] #10012 closed

[2018-06-30 03:38] #11789 closed, assigned to Yancey0623

[2018-06-30 04:39] luotao1 opened #11860 "manylinux1 CPU fails at inference_anakin_api"
all manylinux1 CPU fail at inference_anakin_api
related with #11818

https://paddleci.ngrok.io/viewLog.html?tab=buildLog&buildTypeId=Manylinux1_CpuAvxCp27cp27mu&buildId=577&_focus=22377
[code]

[2018-06-30 04:50] luotao1 commented on #11856
As [`trainer.train`](https://github.com/daming-lu/Paddle/blob/911567b276844ecc18e5864eaa4c0761af7465c4/python/paddle/fluid/tests/book/high-level-api/fit_a_line/book_fit_a_line.py#L66) is V2 inferface, could it be used in fluid demo? Why not use `python/paddle/fluid/tests/book/high-level-api/fit_a_line/test_fit_a_line.py`?

[2018-06-30 05:29] luotao1 commented on #11856
I print the train loss
[code]
It seems that the train loss is normal, but the infer result is error.
Maybe you can check whether the inference_program is the inference of trainer_program.

[2018-06-30 08:45] #11860 closed, assigned to nobody

[2018-06-30 11:47] #11856 closed, assigned to nobody

[2018-07-01 02:42] tigerneil commented on #6876
http://nlp.seas.harvard.edu/2018/04/03/attention.html

[2018-07-01 12:43] chengduoZH commented on #11494
@Yuyang01 感谢您的反馈，Paddle这边会尽快支持Python 3.0.

[2018-07-01 12:44] #11463 closed, assigned to chengduoZH

[2018-07-01 12:53] #11013 closed

[2018-07-01 12:58] chengduoZH commented on #10617
该issue长时间没有回复，暂且关闭了。如需继续讨论，请再打开。

[2018-07-01 12:58] #10617 closed

[2018-07-01 13:04] chengduoZH commented on #10252
该issue长时间没有回复，再切关闭了。如需继续讨论，请再打开。

[2018-07-01 13:04] #10252 closed

[2018-07-01 13:11] chengduoZH commented on #9972
Close this inactive issue, please feel free to reopen it.

[2018-07-01 13:11] #9972 closed

[2018-07-01 13:15] chengduoZH commented on #9306
This issue has been solved.

[2018-07-01 13:15] #9306 closed

[2018-07-01 13:17] chengduoZH commented on #8223
Close this inactive issue, please feel free to reopen it.

[2018-07-01 13:17] #8223 closed

[2018-07-01 13:20] chengduoZH commented on #7088
This issue's mission has accomplished.

[2018-07-01 13:20] #7088 closed

[2018-07-01 13:22] chengduoZH commented on #7087
This issue's mission has accomplished.

[2018-07-01 13:22] #7087 closed

[2018-07-01 13:24] chengduoZH commented on #6968
This issue's mission has accomplished.

[2018-07-02 01:54] #11399 closed

[2018-07-02 02:59] xiaolv3366 commented on #11846
VisualDL的Graph不支持自家的PaddlePaddle格式。

[2018-07-02 03:09] gongweibao opened #11870 "Inference CI error!"
[code]