[2020-04-11 14:23] wxl1351641822 opened #23761 "感觉文档不太成熟，然后网站的搜索引擎不好用"
http://www.paddlepaddle.org/
这个的搜索引擎，不能搜api……感觉很难用

[2020-04-11 16:21] hubu-wangpei opened #23763 "使用TracedLayer保存的模型，load不进来"
版本：
Name: paddlepaddle
Version: 1.7.1
保存了模型后，运行下面的代码报错 ValueError: `type` to initialized an Operator can not be None.
[code]
报错
[code]

运行**load_inference_model**这个示例也报同样的错误
[code]

[2020-04-12 03:52] mapingshuo opened #23765 "1.7.1版本，Bert fine-tuning编译期会卡十分钟"
### 背景

[code]
### 描述

在使用[BERT库](https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/pretrain_language_models/BERT) 执行fine-tuning训练时，遇到编译期卡住的情况。开启“export GLOG_v=15”, 发现卡在下面这一行长达十分钟：

[code]

### 复现方式

安装上述版本paddle，clone 上述BERT库后，开启“export GLOG_v=15”，执行以下命令即可复现：

[code]

最新develop也有同样问题，期待高优解决。

[2020-04-12 04:20] mapingshuo commented on #23765
实验中发现一个不会卡住的版本，贴在这里，希望这对找bug有帮助：487f43bbcbebca27170b7c8ebdf592eb671b5c32

[2020-04-12 07:17] OliverLPH commented on #23763
@hubu-wangpei
请问是保存的什么模型呢？感觉可能跟模型结构有关。
我这边验证了下 TracedLayer 保存的 yolov3，是没有报错的。
[code]
![image](https://user-images.githubusercontent.com/14963836/79062899-a4507700-7cd0-11ea-8333-0d4feae90041.png)

[2020-04-12 11:10] #23518 closed, assigned to NHZlX

[2020-04-12 12:54] ENGWayne opened #23775 "官方文档里面找不到paddle.fluid.contrib类，修改网络参数出现ValueError"
运行晓曼老师的程序，里面有from  paddle.fluid.contrib.trainer import Trainer和from  paddle.fluid.contrib.inferencer import Inferencer两次对paddle.fluid.contrib类的调用，但是在官方文档里面搜不到这个类，不知道在哪里去找这两个函数的用法，请指教!

from  paddle.fluid.contrib.inferencer import Inferencer
inferencer = Inferencer(
    infer_func=convolutional_neural_network, param_path=params_dirname, place=place)

更改convolutional_neural_network里面的参数之后，出现ValueErr

[2020-04-12 14:19] saTan-Y opened #23778 "如何在一个program中实现多个minimize操作"
对于由两个子网络组成的模型，loss是两个子网络输出之和，想在训练中使用两个optimizer，在一次训练中更新两个optimizer（针对不同参数），求问怎么在一个program中实现两个optimizer的minimize操作？

[2020-04-12 17:32] xixiaoyao commented on #13497
请问如何实现显存的动态增长呢？

[2020-04-13 02:18] Shixiaowei02 commented on #23763
您好，请将出现问题的具体代码贴上来吧，谢谢

[2020-04-13 02:21] Shixiaowei02 commented on #23775
您好，Inferencer 用法请参见：
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/inferencer.py#L32-L53

Paddle 不允许同一个名称空间（Scope）下出现两个同名的变量（Variable），报错是不符合这条约定引起的。请了解一下 scope_guard 的用法，谢谢！

[2020-04-13 02:39] Shixiaowei02 commented on #23778
PaddlePaddle/models 中有一些任务，如图像检测、分类，里面都用到了多个 loss，可以参考一下，一般用法是将多个 loss 加到一起再求 minimize。例如：

https://github.com/PaddlePaddle/models/blob/6e12f8a1e734ad2f01169687fe60e95ba60652c0/PaddleCV/image_classification/train.py#L247

参见 issue: https://github.com/PaddlePaddle/Paddle/issues/19055

[2020-04-13 02:54] saTan-Y commented on #23778
loss是相加的。具体结构是这样的，整个结构由2个子网络构成，loss是2个子网络的输入之和，但我想对这两个子网络用不同的optimizer去更新各自的权重。需要minimize的loss只有1个，但我需要2个optimizer去分别更新各自网络的参数，这个有解决的方法吗？

[2020-04-13 02:55] saTan-Y commented on #23778
这个issue我看过，我的loss确实是相加的，但我需要不同的optimzier去更新不同的参数，和这个issue的情况不太一样

[2020-04-13 02:57] dancingpipi opened #23785 "batch infer yolov3模型，出来的lod是[[0, 1]]是什么回事？"
用的paddle 1.6.1。
用yolov3跑infer，输入是4张图片，返回结果如图：
![image](https://user-images.githubusercontent.com/20511825/79088579-a0c2fb80-7d75-11ea-94ac-42f7b9fb922d.png)

请问下batchsize为4在哪里体现？

[2020-04-13 03:04] zhiqiu commented on #23778
可以试试直接对相加前的两个loss分别进行minimize？

[2020-04-13 03:15] hubu-wangpei commented on #23763
奇怪了，现在没问题了，谢谢

[2020-04-13 03:15] #23763 closed, assigned to nobody

[2020-04-13 03:15] hubu-wangpei commented on #23763
奇怪了，现在没问题了，谢谢

现在没问题了，谢谢

[2020-04-13 03:19] saTan-Y commented on #23778
一个program里面不能minimize2次，所以来求问

[2020-04-13 03:25] FDInSky commented on #23612
你好，根据你的报错信息，检查一下是不是batch size过大，导致内存爆掉？

[2020-04-13 03:34] zhiqiu commented on #23778
调用两次有遇到什么问题或者报错吗？

[2020-04-13 03:40] parap1uie-s opened #23788 "Paddle 1.7.1 训练出core"
PaddlePaddle 1.7.1.post107，GPU
EfficientNet B3结构 + 自定义loss函数，SGDM优化器
从ImageNet预训练权值fine tune是ok的，但从checkpoint继续训练，就会报这个问题
同样的代码在Paddle 1.6.3下可正常运行，加载1.7.1的checkpoint也可正常继续训练。

错误提示：
[code]

[2020-04-13 04:01] Angus07 opened #23791 "GPU版本c++编译，但是预测的时候无法使用GPU"
提示错误信息：
E0413 11:55:26.486809 36365 analysis_config.cc:73] Please compile with gpu to EnableGpu()

bcloud build, bcloud local 都试过，都不行。
确认编译结果都更新了。

#edit-mode: -*- python -*-
#coding:utf-8

WORKROOT('../../../')
PLATFORM('centos6u3')
COMPILER('gcc82')
CFLAGS('-g -O3 -pipe -W -Wall -fPIC -fpermissive')
CPPFLAGS('-D_GNU_SOURCE -D__STDC_LIMIT_MACROS -DVERSION=\\\"1.9.8.7\\\"')
CPPFLAGS('-DPYBIND_AVX_

[2020-04-13 05:38] LessSMore opened #23796 "PaddlePaddle 创建test_program时clone函数的BUG"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）GPU：Cuda compilation tools, release 9.2, V9.2.148
    3）系统环境：AI Studio平台GPU版

- 复现信息：当把test_program = fluid.default_main_program().clone(for_test=True)这句话放在optimizer定义之前，没有报错，但是训练出来的cifar10模型的test上的准确率只有50%左右，并且已经收敛，无法上升，如下图
![image](https://user-images.githubusercontent.com/44470582/79094809-3fa62280-7d8b-11ea-932c-de7f26049769.png)
![image](https://use

[2020-04-13 06:55] gary02 opened #23798 "PyPi中paddlepaddle-tiny最新版本为1.6.1"
paddlepaddle-tiny出现在1.7.0 的release note中， 为什么发布的tiny版本为1.6.1？
实测1.7.1版本预测性能比1.6.1版本好太多（ 同样500w字数的文本， 预测使用时间从18分钟缩短到不到4分钟）

[2020-04-13 07:03] yuyy0823 opened #23800 "用paddle实现ranknet的几点疑问"
用paddle实现ranknet，有一些不太懂的地方，请相关同学指教下。
1、ranknet中左右两个网络结构共享参数，是否一定要通过设置param_attr和bias_attr中的name来实现，如果不设置这两个参数的名字的话，实际训练过程中是训练了两套参数吗？
2、测试时发现，将网络中的参数通过param_attr和bias_attr设置name后（如下图），调用fluid.io.save_inference_model接口分别保存左右两个模型时，发现参数文件的md5sum是一样的，但是模型文件的md5sum值不一样，这是什么原因导致的呢？
[code]

3、如果将2的网络参数的param_attr和bias_attr设置去掉，再调用fluid.io.save_inference_model接口分别保存左右两个模型时，发现先保存左模型再保存右模型，和先保存右模型再保存左模型时，参数文

[2020-04-13 08:49] zhhsplendid commented on #23800
嗨，我分别回复这里的三个问题：

1. ranknet中左右两个网络结构共享参数，是否一定要通过设置param_attr和bias_attr中的name来实现，如果不设置这两个参数的名字的话，实际训练过程中是训练了两套参数吗？

是的，如果没有设置的话，由于有两个网络，里面的变量名paddle会自动使其不重复，实际训练就训练了两套参数。

2. 测试时发现，将网络中的参数通过param_attr和bias_attr设置name后（如下图），调用fluid.io.save_inference_model接口分别保存左右两个模型时，发现参数文件的md5sum是一样的，但是模型文件的md5sum值不一样，这是什么原因导致的呢？

对的，由于上面1所回答的，参数同名使得训练时两模型共享参数，因此参数文件的md5sum是一样的。但是两个模型文件由于是两个不同网络，并不一样，比如中间的var名，或者你

[2020-04-13 09:16] yuyy0823 commented on #23800
多谢回复，但是第二个和第三个问题还是没有特别明白。
对于问题2: 为什么左右两个网格是不同的呢，明明是用同一套代码搭建的，参数也一样，哪里导致的不同呢？这个不同对于后期的模型预测会有影响吗（用左右两个模型预测的结果是否会不一致）？
对于问题3: feats1/2 predict1/2应该是来自同一个Variable吧，不太确定
附上模型训练的部分相关代码
[code]
训练的部分代码如下：
[code]
其他代码不太重要，就先省略了

[2020-04-13 09:24] CallmeZhangChenchen opened #23804 "linux编译问题"
照顾一下上github都很艰难的用户好吗
    1）PaddlePaddle：1.7
    2）CPU：Intel® Xeon(R) CPU E5-1620 v3 @ 3.50GHz × 8
    3）GPU：2080super，CUDA-10.0，CUDNN7.6
    4）系统环境：ubuntu16.04
本地编译：
cmake -DFLUID_INFERENCE_INSTALL_DIR=./ \
      -DCMAKE_BUILD_TYPE=Release \
      -DWITH_PYTHON=OFF \
      -DWITH_MKL=OFF \
      -DWITH_GPU=ON  \
      -DON_INFER=ON \
      ..
 make -j4

正文：
好了该说正文了，能不能像paddle-lite一样，编译的时候可以加速第三方库的

[2020-04-13 09:35] zhhsplendid commented on #23800
谢谢你的提问，我回答一下

对于问题2: 为什么左右两个网格是不同的呢，明明是用同一套代码搭建的，参数也一样，哪里导致的不同呢？这个不同对于后期的模型预测会有影响吗（用左右两个模型预测的结果是否会不一致）？

是这样的，神经网络静态图的python接口，做的是组网（即搭建网络，在中间层就是往program添加op，描述清楚网络是什么样的），而executor.run时才是真正运行（即组完一个神经网络，运行其得到输入输出）。在这种情况，同一套函数代码，同一套函数输入，得到的网络是不同的。我来举例：

def build_net(x):
       return fluid.layers.fc(x, size=10)

y1 = build_net(x)
y2 = build_net(x)

这个过程中， fluid.layers.fc在build_net里别运行了两遍，于是这个神经网络里事

[2020-04-13 09:39] zhhsplendid commented on #23800
对于问题3: feats1/2 predict1/2应该是来自同一个Variable吧，不太确定
附上模型训练的部分相关代码

我看了看代码，你的feats1/2 predict1/2不是同一个variable，按理说保存的save inference model是没问题的。你是不是这种情况设了共享参数？如果共享参数，左右网络保存的参数名字确实应该相同。但是如果你刚开始的问题3没有设置共享参数，那么左右网络参数名还保存成一样我觉得怪怪的。

[2020-04-13 09:41] zhhsplendid commented on #23785
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/multiclass_nms_cn.html#multiclass-nms   是的，输出是这个的输出

![image](https://user-images.githubusercontent.com/7913861/79110862-eef3f100-7dad-11ea-9022-5a51eb85ee8e.png)

batch size那一维在lod上。。No那一维相当于包含batchsize和各batch的预测框个数

[2020-04-13 09:41] #23785 closed, assigned to zhhsplendid

[2020-04-13 09:42] yuyy0823 commented on #23800
了解了，所以问题2中模型不同是正常的，且通过指定param_attr和bias_attr，实现所有参数共享后，用左右两个模型预测是结果应该也是一样的，这样理解对吗？
问题3中，我没设置网络共享时，左右网络参数名确实是保存成一样的。

[2020-04-13 10:01] jiweibo commented on #23791
可以参考下baidu/personal-code/paddle-inference-demo 的BCLOUD文件

[2020-04-13 10:06] liupluswei commented on #23739
Yes, we have a models hub: https://www.paddlepaddle.org.cn/hub. But speech models are not shipped yet.

[2020-04-13 10:44] hubu-wangpei opened #23806 "部署在线服务报错，使用load_inference_model可以成功"
paddle1.7版本
使用load_inference_model，加载自己保存的模型，成功。使用load_inference_model加载模型的代码如下，模型输入数据为256×256大小的pgm灰度图像，输入Tensor Shape为[1,1,256,256]
[code]
但是使用在线部署的时候报错
[code]
预测时候的的数据转换器如下
[code]

[2020-04-13 10:53] liangzhenduo opened #23807 "训练过程中报错PreconditionNotMetError: The predict data must less or equal 1."
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    2）CPU：Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GHz
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：CentOS6，Python 3.6.4
- 训练信息
    1）单机
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：
### 错误日志

/home/map/.jum

[2020-04-13 11:39] dashulu opened #23811 "为什么使用Paddle1.6训练bert模型内存用量比paddle 1.5高"
使用paddle 1.6进行https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/pretrain_language_models/BERT中语句和句对分类任务的fine-tuning训练，内存使用比paddle v1.5高很多。
paddle v1.5的内存用量：Theoretical memory usage in training: 5956.480 - 6240.122 MB
paddle v1.6的内存用量：Theoretical memory usage in training: 18064.986 - 18925.223 MB.
这个是什么原因导致的？训练配置都是一样的。

[2020-04-13 11:47] qo4on commented on #23739
You have some [mel2wav speach models](https://github.com/PaddlePaddle/Parakeet#pre-trained-models-and-audio-samples). But I didn't find text2mel.

[2020-04-13 11:53] zhhsplendid commented on #23811
谢谢反馈，这个情况很奇怪，因为我们做过显存优化，并且bert属于监控和常用模型，按理说应该不会有3倍差距。请确定这个是paddle的问题？会不会有什么环境配置，输入数据量等等的不同方面？

[2020-04-13 12:18] dashulu commented on #23811
没有环境变量配置的问题，都是直接跑，数据是一致的，差别可能就是random，但是不会有那么大的影响。而且参数配置中，in_tokens是false

[2020-04-13 12:26] dashulu commented on #23811
是否差3倍不确定，但是内存用量增加是肯定的，paddle 1.5 8G内存可以跑，但是paddle 1.6不能跑。
这个内存统计是 fluid.contrib.memory_usage得到的。

[2020-04-13 12:26] DrRyanHuang opened #23812 "pp会在未来的版本放弃静态图模式吗"
我在网上看到的Demo大多都使用静态图，pp会在未来的版本放弃静态图模式吗

[2020-04-13 13:06] wuyefeilin opened #23813 "多卡评估时，边训边评估跟加载保存的模型再评估存在diff"
![image](https://user-images.githubusercontent.com/30919197/79122502-60da3380-7dca-11ea-8197-490616b2ccd6.png)
多卡评估时，边训边评估跟加载保存的模型再评估存在diff，误差在万分之几数量级，使用单卡情况没有diff

[2020-04-13 14:01] jaffe-fly opened #23815 "动态图的Fast-scnn 图像分割网络报错，帮看看哪儿不对"
`Traceback` (most recent call last):
  File "E:/fire_detection/fire_code/mycode/fast_scnn_aaaa.py", line 212, in <module>
    out = net(x)
  File "C:\Users\admin\Anaconda3\lib\site-packages\paddle\fluid\dygraph\layers.py", line 304, in __call__
    outputs = self.forward(*inputs, **kwargs)
  File "E:/fire_detection/fire_code/mycode/fast_scnn_aaaa.py", line 29, in forward
    higher_res_features =

[2020-04-13 15:16] qo4on commented on #23509
I hope that @kuke can comment for a possible solution when he has time.

[2020-04-14 02:20] zhhsplendid commented on #23796
嗨，你的猜测是正确的，在测试时不应该把 test_program = fluid.default_main_program().clone(for_test=True)这句话放在optimizer定义之后，原因是optimizer定义时，组网增加了optimizer op，因此clone测试program如果放在之后时，也会把optimizer op添加进测试program，相当于你的测试集也是边训练边预测了，算是某种类似“作弊”的行为，因此在预测集准确率大大提高。

如果是最新版本的paddle，为了避免用户错误配置网络为你说的第二种情况，我们paddle也增加了警告信息解释。

[2020-04-14 02:20] zhhsplendid commented on #23796
希望能回答到您的问题，我将关闭此卡片，如果有更多追问可以再开启此卡片继续问

[2020-04-14 02:20] #23796 closed, assigned to nobody

[2020-04-14 02:28] mapingshuo opened #23819 "layer_norm_norm gpu kernel在大batch时吞吐下降为原来的28%"
### 背景

1）PaddlePaddle版本：develop
2）GPU：V100 card, cuda9, cudnn7.3
3）单机单卡

### 问题描述

使用layer_norm_gradop跑单元测试时，发现：

- 在设置shape为[16, 512, 1024]时，profile:
[code]

- 在设置为shape是[92, 512, 1024]时，profile:
[code]

GPU Time: 1.177085 -> 24.393101, 吞吐：16/1.177085 -> 92/24.393101, 下降为原来的28%。

### 影响面

影响Bert-large模型在大batch（单卡token 4w）时的吞吐。

### 复现问题

安装paddle后，python执行以下脚本，

[code]

[2020-04-14 02:32] LutaoChu commented on #22607
显示调用可能需要调用shape op，速度更慢，也不方便使用。例如
`length = fluid.layers.shape(x)`
`y = fluid.layers.slice(x, axes=[0], starts=[1], ends=[length])`

最好可以用`y=x[1:]`这种用法

[2020-04-14 02:35] zhaoyang1708 opened #23820 "损失函数由cross_entropy更改为dice_loss后，本地训练可以拟合，集群训练auc一直为0.5"
损失函数之前为cross_entropy，训练正常，更改为dice_loss后，本地2000条ins是可以过拟合的，但集群训练一直为0.5
    sim_ctr = fluid.layers.cos_sim(user_fc_ctr, ad_fc_ctr)
    scale_ctr = fluid.layers.scale(x=sim_ctr, scale=5.0)
    predict_ctr = fluid.layers.fc(name="output2", input=scale_ctr, size=CLASS_SIZE, act="softmax")
    predict_ctr_one = fluid.layers.slice(predict_ctr, axes=[1],starts=[1], ends=[2])
    binary_predict_ctr = predi

[2020-04-14 02:44] xjqbest commented on #23761
请问是指哪个api呢

[2020-04-14 02:56] LessSMore commented on #23796
你好，非常感谢你的回复！已经解除我之前的疑惑！ 我想再问一下:  1. 这个被close了是不是其他用户就搜索不到我的问题了呢？ 2. 我刚才看到paddle文档里说的是当for_test＝true时，clone会裁剪部分op，就是说并没有完全阻止反向传播的进行对吗？------------------ 原始邮件 ------------------
发件人: "Huihuang Zheng"<notifications@github.com>
发送时间: 2020年4月14日(星期二) 上午10:20
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "LessSMore"<937371423@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePadd

[2020-04-14 03:16] liupluswei commented on #23760
请问你是通过Paddle源码编译预测库，还是集成我们编译好的预测库呢？  如果是通过源码编译，可以提供一下你的操作步骤吗？我这边好复现一下

[2020-04-14 03:21] cvdnn opened #23824 "paddle启动训练出现异常，详见截图"
- 标题：paddle启动训练出现异常
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    2）CPU：3 GHz Intel Core i7
    4）系统环境：Mac OS 10.13.6 (17G6030)，Python版本：3.7.6
- 训练信息
    1）单机
    3）Operator信息：You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle

![image](https://user-images.githubusercontent.com/15883260/79182481-7cccec00-7e41-11ea-8e1d-eafac7c56c82.png)

[2020-04-14 03:35] zhhsplendid commented on #23796
1. close了别人也能搜索到和看到，只是我们团队这边表示我们追踪完这个问题。

2. 看到paddle文档里说的是当for_test＝true时，clone会裁剪部分op，是的，是根据input/output裁剪部分op，根据这部分op对input/output不会有数值影响裁剪掉。但由于optimizer op是会影响输入输出的，因此没被裁剪掉

[2020-04-14 03:38] wxl1351641822 commented on #23761
![image](https://user-images.githubusercontent.com/42665925/79183330-c3234a80-7e43-11ea-8102-08382e026bdd.png)
就这个搜索引擎，哪个api都很难找。
之前我找过lod_level,想找可以更改它的，找不到。
还找过分割variable?
还找了啥我也不记得……反正印象里没有找到过的。
一己之见，也可能其他人用的很顺手。
在这个搜索引擎里，他名字一样的还算好找，但与其他平台名字不一样的，我也不知道我能搜啥，我也找不到……这种感觉吧。
emmm……我还想找seed，有没有像pytorch那种全局固定seed的api？

[2020-04-14 03:39] wxl1351641822 commented on #23761
![image](https://user-images.githubusercontent.com/42665925/79183629-8c016900-7e44-11ea-8fd7-7c221a701214.png)
你看……就这样。

[2020-04-14 03:47] LessSMore commented on #23796
谢谢你！我已经明白了！------------------ 原始邮件 ------------------
发件人: "Huihuang Zheng"<notifications@github.com>
发送时间: 2020年4月14日(星期二) 中午11:35
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "LessSMore"<937371423@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] PaddlePaddle 创建test_program时clone函数的BUG (#23796)

close了别人也能搜索到和看到，只是我们团队这边表示我们追踪完这个问题。

看到paddle文档里说的是当for_test

[2020-04-14 04:22] 3wGTA opened #23833 "自己实现模型报错elem_mul问题"
我想实现BiMPM模型，但是在自己定义的一个参数乘法上面出现了问题，不知道怎么解决

模型如下
![image](https://user-images.githubusercontent.com/62338824/79184964-3a5add80-7e48-11ea-8ed1-9a94f859c370.png)

![image](https://user-images.githubusercontent.com/62338824/79184887-01bb0400-7e48-11ea-8e72-b23e276c6362.png)

大概这个形式、
![image](https://user-images.githubusercontent.com/62338824/79185089-8443c380-7e48-11ea-8962-2f144b336605.png)

![image]

[2020-04-14 05:39] xyzhou-puck commented on #23798
hi，你好。

抱歉，因为一些原因，paddlepaddle-tiny没有跟paddle一起发布1.7版本，我们会争取在接下来的版本中做相应的升级。谢谢。

[2020-04-14 05:42] #23798 closed, assigned to nobody

[2020-04-14 06:01] zhhsplendid commented on #23804
嗨，你好，lite里一些加速方法是通过删除第三方库还有使用百度的一些云设备达到的，对paddlepaddle当前不太适用，所以可能还是麻烦你调试网络状况，必要时科学访问外网。。。

[2020-04-14 06:01] #23804 closed, assigned to nobody

[2020-04-14 06:39] zhhsplendid commented on #23804
不过也谢谢您的反馈，我们也会尽快优化paddlepaddle第三方库的下载速度

[2020-04-14 07:11] zhhsplendid commented on #23806
嗨，请问feed_target_names需要的所有数据都feed了吗？看代码只feed了feed_target_names[0]，因此我不确定你的feed_target_names长度是否是1. 可以看看是否有别的eed_target_names而你部署feed时没有使用。有可能需要feed的数据你没有全提供而报这个错。

[2020-04-14 07:15] hubu-wangpei commented on #23806
只有这一个数据需要feed，我在notebook里跑是没问题的
![image](https://user-images.githubusercontent.com/45394242/79196462-beba5a00-7e62-11ea-97f2-f655c90f6077.png)

[2020-04-14 07:19] zhhsplendid commented on #23807
数据计算有错，出nan了，能否告诉我们复现步骤？

[2020-04-14 07:20] zhhsplendid commented on #23812
按我理解，应该不会。但也会做更好的动静态图合一，使得既有动态图易用性，也有静态图性能。

[2020-04-14 07:21] zhhsplendid commented on #23813
请提供更多复现步骤/代码或者对我们有帮助的情况，我们好处理相应精度问题

[2020-04-14 07:23] zhhsplendid commented on #23815
CUDNN_STATUS_BAD_PARAM 有可能是环境问题，cudnn配置不好，cudnn版本不对等，可否检查是否有安装cudnn？相应版本cudnn是否对应paddle版本？如果发现cudnn版本对得上仍然需要更多帮助请继续回复本issue

[2020-04-14 07:25] zhhsplendid commented on #23820
本地训练没有问题，集群训练却有问题，可否麻烦转问paddlecloud？

[2020-04-14 07:25] #23820 closed, assigned to nobody

[2020-04-14 07:57] hubu-wangpei commented on #23806
是不是因为我这个模型是从动态图转换成静态图，再保存预测模型的原因？

[2020-04-14 08:03] zhhsplendid commented on #23788
嗨，确认一下，看上面描述，加载1.7.1的checkpoint正常继续训练，但是PaddlePaddle 1.7.1.post107会出问题吗？

[2020-04-14 08:28] hanguantianxia opened #23846 "如何将多个预训练的program，然后整合为一个program"
请问如果有一个encoder-decoder模型，现在先把encoder和decoder作为独立的program进行分别单独的预训练，在fine-tuning时候现在想把它们连接在一起，有什么办法吗？

[2020-04-14 08:31] kinghuin commented on #23330
@Shixiaowei02 请问这一问题是否解决了呢？

[2020-04-14 08:36] zhhsplendid commented on #23800
是的

[2020-04-14 08:36] #23800 closed, assigned to zhhsplendid

[2020-04-14 08:39] zhhsplendid commented on #23806
动态图静态图请分别用相应方式保存，暂时不互串？

[2020-04-14 08:43] HoyTiger commented on #23760
你好，这个问题我已经解决了。我使用的是vs 2019编译预测库更改成2015就没问题了。

[2020-04-14 08:44] liupluswei commented on #23760
好的，目前Paddle源码编译并不支持vs2019， 支持vs2017和vs2015

[2020-04-14 08:44] #23760 closed, assigned to liupluswei

[2020-04-14 09:00] kinghuin commented on #23329
@gavin1332
暂时没有最小可复现代码，

dataloader使用处：https://github.com/PaddlePaddle/PaddleHub/blob/release/v1.6/paddlehub/finetune/task/base_task.py#L1056

相应reader代码：https://github.com/PaddlePaddle/PaddleHub/blob/release/v1.6/paddlehub/reader/cv_reader.py#L166

有用户给出了解决方案:

https://github.com/PaddlePaddle/PaddleHub/issues/500

![image](https://user-images.githubusercontent.com/11913168/79203692-f7abfc00-7e6d-

[2020-04-14 11:03] hubu-wangpei commented on #23806
上次请教的，让这么用的，应该可以吧
![image](https://user-images.githubusercontent.com/45394242/79218156-917da400-7e82-11ea-87a5-7475933d3643.png)

[2020-04-14 11:12] mapingshuo commented on #23819
在小demo上复现了问题：
[code]
执行方式：

[code]

res:

Time first kernel (ms) = 22.631

但是把92改成16后，res:

Time first kernel (ms) = 1.422

[2020-04-14 11:14] liangzhenduo commented on #23807
@zhhsplendid 在加上一列特征（值域[0.0,1.0]）后就会出现这个错误，去掉就没有问题
观察训练数据这列特征没有发现脏数据，已hi上联系

[2020-04-14 11:30] zhhsplendid commented on #23806
哦，使用的是tracedlayer吗？notebook没有问题，但是自己的有问题，要不要试着看看是否安装版本/环境有可能出错呢？

[2020-04-14 11:31] JingChunzhen opened #23850 "paddle1.5.0 fluid.io.load_vars 预测结果不一致"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
- 模型信息
    1）模型名称 2）使用数据集名称 3）使用算法名称 4）模型链接
- 复现信息：如为报错，请给出复

[2020-04-14 11:32] hubu-wangpei commented on #23806
使用的Tracedlayer，都是用的AI Studio平台，应该不是版本的问题

[2020-04-14 11:36] JingChunzhen opened #23851 "PaddleCloud V100 训练模型速度 低于本地"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID ：paddle1.5.0  ，paddlecloud 任务：job-0bb5e95226b86e18  
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号：GPU：v100
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本 ：Python2.7
- 训练信息

[2020-04-14 11:38] JingChunzhen commented on #23851
附咨询paddlecloud 同学 icafe卡片：http://newicafe.baidu.com/issue/paddle-cloud-user-2592/show

[2020-04-14 11:49] zhaoyang1708 opened #23853 "paddlecloud没有正常进行cpu分布式训练"
训练任务将paddle包升级为1.7.1（paddlepaddle-1.7.1-cp27-cp27m-linux_x86_64.whl），cpu环境，设定80节点，但一直没正常训练
任务链接
http://10.182.11.155:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20200414182015-40997--zhaoyang29_online_novelbsq_paddlecloud

[2020-04-14 12:18] MrChengmo commented on #23765
是否是在组网阶段添加clip过慢导致？这个PR解决了该问题：https://github.com/PaddlePaddle/Paddle/pull/22950 ，不确定该PR是否在1.7.1前合入。

[2020-04-14 12:56] jaffe-fly commented on #23815
我已经了CUDA，还有CUDNN的版本 还是报上面的错误
`# -*- coding: utf-8 -*-
__author__ = 'author'
__data__ = '2020/3/15 17:49'

import paddle.fluid as fluid
from paddle.fluid.dygraph import Conv2D,BatchNorm,Sequential
from paddle.fluid import layers

# bn_regularizer = fluid.regularizer.L2DecayRegularizer(regularization_coeff=0.0)

class Fast_SCNN(fluid.dygraph.Layer):
    def __init__(self,num_classes,aux=False,**kwar

[2020-04-14 13:03] hubu-wangpei opened #23859 "保存的模型，预测结果与Notebook中的不一致"
使用相同的模型，相同的代码，结果不一致
linux下,用的版本是paddlepaddle-gpu     1.7.1.post97  ,Windows下自动安装的是paddlepaddle1.7.2 CPU版本
[code]
输出
![图片](https://user-images.githubusercontent.com/45394242/79227923-3d2ef000-7e93-11ea-9fb1-f1611d1356a0.png)
Windows下

![图片](https://user-images.githubusercontent.com/45394242/79228001-5b94eb80-7e93-11ea-8c07-c61667a79bc5.png)

[2020-04-14 13:15] mapingshuo commented on #23765
最新develop也有一样的问题，和22950应该是两个问题

[2020-04-14 13:21] guoqiang0148666 opened #23861 "请问如何计算模型参数"
感谢你们杰出的工作！

请问如何计算模型的总参数呢？

是训练后的model_final.pdparams文件的大小除以４吗？

[2020-04-14 13:26] wang-kangkang opened #23863 "使用inference_model进行多卡预测人脸检测，ParallelExecutor无法正确合并多卡上的detection_output的输出"
使用inference_model进行多卡预测人脸检测，报错内容：
Recommended issue content: all error stack information
  [Hint: Expected framework::product(new_dim) / new_dim[0] == framework::product(t->dims()) / t->dims()[0], but received framework::product(new_dim) / new_dim[0]:6 != framework::product(t->dims()) / t->dims()[0]:1.] at (/paddle/paddle/fluid/framework/lod_tensor.cc:396)

a、原因推测：使用inference_model进行多卡预测人脸检测，卡数==b

[2020-04-14 13:59] zhaoyang1708 opened #23865 "CPU集群训练失败，pserver问题"
提交了几次任务都是遇到相同问题
http://10.182.19.142:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20200414153949-40759--zhaoyang29_online_novelnnq_paddlecloud
http://10.182.19.142:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20200414202411-41186--zhaoyang29_online_novelnnq_paddlecloud
![image](https://user-images.githubusercontent.com/16074812/79233200-14aaf400-7e9b-11ea-812d-7f70bbc51

[2020-04-14 14:56] JunKuangKuang opened #23867 "win10训练，GPU不够用自动分配，但提示可用显存更少"
   1）PaddlePaddle版本：1.7.0
    3）GPU：NVIDIA GeForce GTX 1050 Ti、
         CUDA:10.0、
         CUDNN:cudnn-10.0-windows10-x64-v7.6.2.24
    4）系统环境：WINDOWS10专业版，python 3

- 训练信息
    1）单机，单卡
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

我在运行猫狗分类，尝试使用GPU进行训练，提示我显卡内存不足。

[code]

尝试在命令行里加入语句`export FLAGS_fraction_of_gpu_memory_to_use=0.9`

![](http://www.clzly.xyz:8080/2020/04/python/f5

[2020-04-14 15:50] lao-xu opened #23868 "Linear接在卷积后面，如何得到faltten后的input尺寸？"
使用paddle1.7动态图，Linear接在卷积后面，要输入faltten后的input尺寸，怎么去得到？难道都要人工计算吗？
        self.pool2 = Pool2D(pool_size=2, pool_stride=2, pool_type='max')
        # 创建第3个卷积层
        self.conv3 = Conv2D(num_channels=16, num_filters=120, filter_size=4, act='sigmoid')
        # 创建全连接层，第一个全连接层的输出神经元个数为64， 第二个全连接层输出神经元个数为分裂标签的类别数
        self.flatten_shape = `120*50*50`
        self.fc1 = Linear(input_dim=self.flatten_

[2020-04-15 01:25] saTan-Y commented on #23778
又试了一下是可以的

[2020-04-15 01:32] #23859 closed, assigned to nobody

[2020-04-15 01:42] xxxsssyyy opened #23869 "lexical analysis适配自己数据集训练过程中报错【killed PaddlePaddle thread/process accidentally】"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
         python 2.7.16[GCC 7.3.0]
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：V100 4卡，
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机4卡
    2）显存信息: 每卡 32480MiB
    3）Operator信息
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
自己的数据集很大，有几千万，batchsize设为60000，使用的sh run.sh train_multi_gpu，不知道报错信息什么意思
[code]

[2020-04-15 02:23] ysh329 commented on #23824
图显示不出来，能贴一下log嘛

[2020-04-15 02:23] ysh329 commented on #23833
能贴一下log嘛，我这里图都显示不出来。。

[2020-04-15 02:24] ysh329 commented on #23851
之前PaddleCloud有利用率能达到100%或者预期利用率的情况嘛

[2020-04-15 02:25] ysh329 commented on #23861
是参数的个数，还是参数占用体积呢。
可以参考：模型参数与计算量_Python_hey-yahei-CSDN博客
https://blog.csdn.net/qq_20759449/article/details/93055041

[2020-04-15 02:29] ysh329 commented on #23868
参考实例代码：

[code]

flatten-API文档-PaddlePaddle深度学习平台
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/flatten_cn.html#flatten

[code]

Linear-API文档-PaddlePaddle深度学习平台
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Linear_cn.html#linear

目前看来是的

[2020-04-15 02:30] #23868 closed, assigned to nobody

[2020-04-15 02:32] ysh329 commented on #23867
64改为32呢

[2020-04-15 02:36] ysh329 commented on #23850
hi,想问下，这个和adam optimizer有啥关系呢

我看这个API和这个优化器没关，应该是说当时训练使用的优化器对吧，

load_vars-API文档-PaddlePaddle深度学习平台
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/load_vars_cn.html#load-vars

[2020-04-15 02:39] MRXLT commented on #23869
你好，可以贴一下模型训练的代码吗

[2020-04-15 02:39] JingChunzhen commented on #23851
GPU 利用率 只 作为 参考，主要还是 训练 速度 较慢，和 CPU训练 速度 类似了

[2020-04-15 02:41] JingChunzhen commented on #23850
adam optimizer 保存的 checkpoint 中间 保存了一些 adam 优化器里面的 变量，这点 在 加载 checkpoint 时 是否 会影响到 输出的结果呢？

[2020-04-15 02:41] ysh329 commented on #23850
adam optimizer 保存的 checkpoint 中间 保存了一些 adam 优化器里面的 变量，这点 在 加载 checkpoint 时 ，目前看来是，会影响输出结果的。

[2020-04-15 02:42] ysh329 commented on #23846
有 构建三个program就行

[2020-04-15 02:43] ysh329 commented on #23853
这个问题可能需要问下paddlecloud分布式的同学

[2020-04-15 02:55] ysh329 commented on #23863
最近好像有改动升级，我正在咨询。。

[2020-04-15 03:21] ysh329 commented on #23863
这个op是在哪个repo下的，是paddledetection嘛。还是paddle呢

[2020-04-15 03:22] JingChunzhen opened #23871 "fluid.layers.auc 得到的batch auc = 0"
使用如下 api 进行 inference model 计算 auc，batch_size == 100
[code]
# loss batch_auc global_auc
0	1.86869418621	[0.]	[0.]
1	1.95746719837	[0.97979798]	[0.98492462] # ？
2	1.95067119598	[0.]	[0.98327759]
3	1.92995178699	[0.]	[0.98746867]
4	1.94889438152	[0.]	[0.98797595]
5	1.85230088234	[1.]	[0.99190396]
6	2.05646729469	[0.98989899]	[0.99155891]
7	1.89979791641	[0.98989899]	[0.99144654]
8	1.82984125614	[0.]

[2020-04-15 03:26] ysh329 commented on #23865
提示worker挂掉了

[2020-04-15 03:27] #23861 closed, assigned to nobody

[2020-04-15 03:30] JingChunzhen commented on #23871
[code]
slide_step == 1
slide_step ==10
以上两种情况下，global_auc 的计算方式 的区别是什么？
https://www.paddlepaddle.org.cn/documentation/docs/en/1.5/api/layers/metric_op.html#auc
在以上文档中没有提到不同slide step 情况下 global auc的计算方法

[2020-04-15 03:36] JingChunzhen commented on #23871
0 1.86869418621 [0.] [0.]
1 1.95746719837 [0.97979798] [0.98492462] # ？
2 1.95067119598 [0.] [0.98327759]
3 1.92995178699 [0.] [0.98746867]
4 1.94889438152 [0.] [0.98797595]

感觉以上情况是 将 batch auc = 0 的 情况 当成 了1 ，计算在 global auc 中

[2020-04-15 03:38] ysh329 commented on #23833
关于elementwise_mul的op使用，建议参考文档关于axis部分的解释说明：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/elementwise_mul_cn.html#elementwise-mul

[2020-04-15 03:39] lao-xu commented on #23868
那这还不如1.6版本的方便啊

[2020-04-15 03:53] zhaoyang1708 commented on #23865
请问怎么解决呢，提了几次都是这样

[2020-04-15 03:54] xxxsssyyy commented on #23869
您好，有问题的话，Hi上联系一下我:  xingsiyuan
[code]

[2020-04-15 04:38] maosengshulei opened #23875 "paddle mpi cpu 分布式训练 各节点相同参数差别很大"
在使用fluid.DistributeTranspiler()在mpi集群进行分布式训练时发现，使用同步训练的模式，每个pass训练完毕之后我打印了网络最后一层fc层的参数值，发现各节点 的参数值差距非常大，按照paddle文档的说明：

按理说各节点的参数差距应该很小。实际训练的最后一个pass完之后，节点0的参数：('Actor_policy_fc_2', array([[-0.09919014],
       [-0.07706659],
       [ 0.15149316],
       [ 0.24905424],
       [-0.17098974],
       [-0.11270164],
       [-0.01968399],
       [ 0.2743668 ],
       [-0.1433557 ],
       [ 0.14188483]

[2020-04-15 04:50] MRXLT commented on #23871
slide_step对global_auc没有影响， 只影响batch auc的计算范围是当前batch还是包括之前的batch，global_auc是采用的累加值计算的
可以提供以下可复现的代码吗

[2020-04-15 04:54] JingChunzhen commented on #23871
paddle cloud job id ： job-0bb5e95226b86e18
打开 日志详情 overview 有 env_run
里面的 inference.py 入口函数是 infer()

[2020-04-15 04:58] zhengxiao-yu opened #23876 "cnn op表现异常问题：同样的emb经过cnn op得到不同的结果"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1/Python版本3.6
    2）GPU：k40/cuda-9.0/cudnn7.1.4
    3）CPU: Mac OS 10.13.6
- 模型信息
    1）模型名称 2）使用数据集名称 3）使用算法名称 4）模型链接
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

在训练后的评估阶段 相同的emb前后通过fluid.nets.sequence_conv_pool得到的tensor value不一样
关键组网代码：
![image](https://user-images.githubusercontent.com/40815005/79300350-026f9b00-7f19-11ea-9398-8b60029a0736.pn

[2020-04-15 05:10] JunKuangKuang commented on #23867
仍是报错，提示显存分配的更少了。

[2020-04-15 05:17] zhiqiu commented on #23867
available是指当前可用的，提示avaliable更少可能是因为大块显存已被分配。建议先尝试小batch_size（1，2，4...）跑通后，再逐步加大。

[2020-04-15 05:22] JunKuangKuang commented on #23867
windows如何指定显存池的大小呢？为什么我这里运行FLAGS_fraction_of_gpu_memory_to_use=0.9没有效果呢

[2020-04-15 05:31] MRXLT commented on #23875
你好，可以提供一下可复现的脚本吗

[2020-04-15 05:33] maosengshulei commented on #23875
paddlecloud任务分享给你行吗。。

[2020-04-15 05:38] 123malin commented on #23875
提供paddlecloud任务也可以，malin10，求分享一下

[2020-04-15 05:45] maosengshulei commented on #23875
已分享。

[2020-04-15 05:59] MRXLT commented on #23869
训练过程中显存占用是多少，有可能是显存不足出错了

[2020-04-15 06:44] MRXLT commented on #23876
你好，这个应该属于正常现象，embedding对于每个token的映射是固定的，所以embedding层的求和在正负title交换位置后还是相同的，但是embedding层输出的数据排列是不同的，卷积后的结果不仅与数据的值有关，也与数据的排列有关，所以会导致交换位置后卷积层输出不一致

[2020-04-15 06:53] zhangylch opened #23881 "动态图下如何如何在多核的节点上使用多线程训练"
paddle version 1.7
   请问一下，如何在动态图下使用多线程，就是实现类似于openmp的功能或者静态图下ParallelExecutor的作用。我发现我在24核的节点上运行作业始终只有一个核被利用。类似于下面的情况

![捕获](https://user-images.githubusercontent.com/56628666/79306545-fd661800-7f27-11ea-89d6-355c4c17f144.JPG)
其中的python3 就是我的作业
而如果我使用openmp在Fortran语言里面重写这个程序或者调用MKL的话是这样的，2400的占用率
![捕获1](https://user-images.githubusercontent.com/56628666/79306837-7cf3e700-7f28-11ea-94ae-4429f2203f4

[2020-04-15 07:40] zhiqiu commented on #23778
嗯嗯，好的

[2020-04-15 07:43] zhiqiu commented on #23881
动态图可以用多进程方式的使用多卡。[参考](https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id5)

[2020-04-15 07:46] liangzhenduo commented on #23807
Duplicate of #3146
参考 https://github.com/PaddlePaddle/models/issues/3146#issuecomment-522869460 排查脏数据解决

[2020-04-15 07:46] #23807 closed, assigned to zhhsplendid

[2020-04-15 08:07] kuke commented on #23509
@qo4on Sorry for the delayed reply.

The bug you mentioned has been fixed already, please update the code. And try to run the synthesis in this way

[code]

There are some guidelines in the README, but I'm not sure they are clear enough.

[2020-04-15 08:26] zylustc commented on #23881
多进程的方式好像不像共享内存下opnemp的并行，更类似于mpi的并行？我一直以为paddle内部回和MKL库一样自动给做并行的

[2020-04-15 08:36] Crawler-y opened #23883 "CUDA V10.0.130，python3.7.6 RTX2080 无法安装paddle-gpu"
![image](https://user-images.githubusercontent.com/37724774/79316585-175b2700-7f37-11ea-8893-b29ad66f37af.png)

[2020-04-15 09:37] LihangLiu opened #23887 "train_from_dataset memory leak"
使用fluid1.6的train_from_dataset接口时，发生了内存泄漏。

系统信息：

- centos
- paddlepaddle-gpu 1.6.0.post107
- cuda10, cudnn7

[2020-04-15 09:41] LihangLiu commented on #23887
部分代码

    dataset = fluid.DatasetFactory().create_dataset()
    dataset.set_use_var(input_vars)
    dataset.set_batch_size(config['train']['batch_size'])
    dataset.set_thread(config['train']['thread_num'])
    dataset.set_pipe_command("cat")
    filelist = glob('%s/part-*' % fluid_dataset_dir)
    dataset.set_filelist(sub_filelist)
    exe.train_from_dataset(self.train_program,

[2020-04-15 11:31] zhangylch commented on #23881
你好，这是多卡是针对GPU的，CPU并行也能这样吗？

[2020-04-15 11:42] MRXLT commented on #23871
经过沟通，代码中保存模型使用的save_presisitables，加载时使用的load_vars，可能导致部分vars加载错误，使用save_inference_model保存和load_inference_model加载时没有出现以上错误

[2020-04-15 11:46] JingChunzhen commented on #23871
评论错 issue 了~

[2020-04-15 11:49] zhaoyang1708 commented on #23865
请问怎么解决呢

[2020-04-15 11:50] lao-xu opened #23892 "Pool2D说明文档里的默认设置"
api说明文档里：
class paddle.fluid.dygraph.Pool2D(pool_size=-1, pool_type='max', pool_stride=1, pool_padding=0, global_pooling=False, use_cudnn=True, ceil_mode=False, exclusive=True)

pool_padding (int|list|tuple, 可选) - 填充大小。如果它是一个元组或列表，它必须包含两个整数值，(pool_padding_on_Height, pool_padding_on_Width)。若为一个整数，则表示H和W维度上padding均为该值。默认值为1。

这里默认值应该为0吧

[2020-04-15 12:24] yazone opened #23895 "GPU使用率低，训练速度慢"
- 标题：GPU使用率低，CPU使用率高，训练速度慢
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    2）CPU：Intel(R) Xeon(R) Gold 6126 CPU @ 2.60GHz
    3）GPU：2080TI
    4）系统环境：ubunutu 16.04，Python3.7.6，CUDA 10.2，cuDNN 7.6，conda安装方式
- 训练信息
    1）单机，多卡
    2）显存信息
    3）Operator信息
- 复现信息：使用4卡训练PaddleDetection中人脸检测（fruit检测也一样）:
CUDA_VISIBLE_DEVICES=1,2,3,4 python -u tools/train.py -c configs/face_detection/blazeface.yml

- 问题描述：
训练慢

[2020-04-15 12:39] MRXLT commented on #23892
感谢反馈，我们稍后会修改文档

[2020-04-15 13:34] zhiqiu commented on #23867
windows下面可以用`SET FLAGS_fraction_of_gpu_memory_to_use=0.9`

[2020-04-15 13:54] ly7969 commented on #23061
![image](https://user-images.githubusercontent.com/40926783/79345080-38397180-7f63-11ea-8b47-e4b9fa255f10.png)
![image](https://user-images.githubusercontent.com/40926783/79345180-5acb8a80-7f63-11ea-80a7-7e4f114e9392.png)
![image](https://user-images.githubusercontent.com/40926783/79345239-7171e180-7f63-11ea-8f6b-57c90731e99d.png)
cudnn安装的是7.62，但paddle获取的信息是7.3，然后报错，这怎么解？

[2020-04-15 13:57] ly7969 commented on #23061
[Hint: CUDNN_STATUS_BAD_PARAM] at (/paddle/paddle/fluid/operators/batch_norm_op.cu:287)
cudnn安装的是7.62，但paddle获取的信息是7.3，然后报错，这怎么解？
#define CUDNN_MAJOR 7
#define CUDNN_MINOR 6
#define CUDNN_PATCHLEVEL 2

[2020-04-15 17:33] qo4on commented on #23509
@kuke Thank you very much!

[2020-04-15 21:59] qo4on opened #23901 "How does Validloader work?"
I found that `LJSpeech` class reads `wav` files from the dataset using `_get_example` function from the `Dataset` class. Can anybody explain to me how this works, especially what do these three lines do:

[code]

[code]

[2020-04-16 01:30] xxxsssyyy commented on #23869
调小batch_size之后，在训练很多轮后，每个epoch训练速度变慢了，从平均2.7s升为12s，并且loss从0.35595突然升为2.00095。请问这个是什么问题？
[code]

[2020-04-16 02:06] Channingss commented on #23168
@phlrain 请问哪个版本已修复，我这边遇到
![image](https://user-images.githubusercontent.com/12471701/79406545-f8f23b80-7fc9-11ea-92ea-1efc5db82ace.png)

[2020-04-16 02:23] MRXLT commented on #23887
你好，我们会对问题进行排查，建议先使用1.7版本的paddle

[2020-04-16 02:28] MRXLT commented on #23883
你好，感谢反馈，我们会进行问题的排查

[2020-04-16 02:30] MRXLT commented on #23895
你好，请问训练中batch size是多少呢

[2020-04-16 02:32] zhengxiao-yu commented on #23876
你好，我这里实验两条数据，两条数据的正负title不仅token一致，token的排列也是一致的，也就是说，第一条数据的正title等于第二条数据的负title；交互位置不是说同一个title里的token交换位置了，是不同样本的正负title交换位置了；麻烦再帮看下哈

[2020-04-16 02:33] yazone commented on #23895
batch size是8，代码与配置文件都没有修改过

[2020-04-16 02:35] MRXLT commented on #23883
@zhouwei25

[2020-04-16 02:37] ly7969 commented on #22510
遇到相同问题，机器安装的是7.6.5，但paddle提示安装的是7.3，本机paddle版本是1.7.2

[2020-04-16 02:45] zhengxiao-yu commented on #23876
![image](https://user-images.githubusercontent.com/40815005/79408879-fe05b980-7fce-11ea-9159-d4a4b641152d.png)
![image](https://user-images.githubusercontent.com/40815005/79408983-491fcc80-7fcf-11ea-8bb2-4e255400191e.png)
完整的组网过程如上

[2020-04-16 02:52] MRXLT commented on #23895
可以试一下提高batch size

[2020-04-16 03:22] yazone commented on #23895
还是一样，改为batch size改为32了，显存从3～4G到了8～9G，GPU偶尔最高能到30%，基本上都是小于10%

[2020-04-16 03:45] DCC-lzhy opened #23903 "Ubuntu16.04安装错误"
- 标题：Ubuntu16.04安装错误”/“编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu 1.7.1.post107
    2）CPU：80  Intel(R) Xeon(R) Gold 6230 CPU @ 2.10GHz
    3）GPU：CUDA Version 10.0.130，CUDNN 7.6.4
    4）系统环境：Ubuntu16.04 python 3.7.7
- 安装方式信息：
1）pip安装
- 复现信息：paddle.fluid.install_check.run_check()，原先运行该命令，提示我缺少动态库nccllib；于是我安装了nccl，再来运行改命令，出现此错误。
- 问题描述：Error Message Summary:
----------------------
Error:

[2020-04-16 08:18] AWSWXY opened #23914 "本地训练一轮后报错，稳定复现，集群训练正常"
报错如下
F0416 14:01:22.373754  9892 grpc_client.cc:504] SendRPC name:[fc_0.b_0@GRAD.trainer_0], ep:[127.0.0.1:6001], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
*** Check failure stack trace: ***
    @     0x7f03e31c75cd  google::LogMessage::Fail()
    @     0x7f03e31cb07c  google::LogMessage::SendToLog()
    @     0x7f03e31c70f3  google::LogMessage::Flus

[2020-04-16 08:44] lijianshe02 commented on #23914
请参考这个issue: https://github.com/PaddlePaddle/Paddle/issues/14776

[2020-04-16 08:44] HUSTLX opened #23916 "pix2pix训练的时候报错，好像是cudnn的问题"
W0416 16:40:05.723191 115489 device_context.cc:237] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.0, Runtime API Version: 10.0
W0416 16:40:05.729008 115489 device_context.cc:245] device: 0, cuDNN Version: 7.6.
/home/vis/zbh/anaconda2/lib/python2.7/site-packages/paddle/fluid/executor.py:782: UserWarning: The following exception is not an EOF exception.
  "The following excepti

[2020-04-16 08:54] lijianshe02 commented on #23916
请参考这个issue： https://github.com/PaddlePaddle/Paddle/issues/21917

[2020-04-16 09:11] JunKuangKuang commented on #23867
今天能够运行三遍代码，第四遍的时候就又报错了。

Out of memory error on GPU 0. Cannot allocate 19.531494MB memory on GPU 0, available memory is only 9.674999MB.

是我GPU没有回收的原因么？如何再一遍运行完程序之后自动回收内存？

[2020-04-16 10:23] 123malin commented on #23875
看了一下你的任务，你的参数打印是epoch级别的。同步训练是batch级别的参数同步。如果两个训练节点数据规模不一致，那么很有可能第一个节点一个epoch训完，开始第二轮训练了，第二个节点还在第一个epoch训练，此时打印出来的参数就不是一样的。可以每个batch训完就打印一下参数，确认是否一致。

![image](https://user-images.githubusercontent.com/11266280/79445332-13023d00-800f-11ea-9217-894f06ec0b4c.png)

[2020-04-16 10:29] tangbozhang opened #23920 "jupyter notebook导入paddle出错”No module named 'paddle'”（之前运行正常）"
版本、环境信息：
   1）PaddlePaddle版本：1.7.2.post107
   2）CPU：i7-9300H，CUDA-7.4和CUDNN-10.0
   4）系统环境：win10家庭中文版、Python3.7
安装方式信息：
1）conda安装
复现信息：通过conda安装后在jupyter notebook配置好paddle的python环境后，输入代码
import paddle，然后报错“ModuleNotFoundError: No module named 'paddle'”

问题描述：通过conda安装paddle成功了（在anaconda prompt 已经测试过，anaconda navigator的虚拟环境中也有paddle信息，我的操作系统是win10家庭版），然后在anaconda navigator 中的虚拟环境中启动jupyter notebook

[2020-04-16 10:52] maosengshulei commented on #23875
相同节点的参数每个epoch完了的变化其实不大，不太可能因为batch不一致导致不同节点的参数差异这么大。

[2020-04-16 11:44] ly7969 opened #23922 "cudnn兼容"
通过指令安装paddle：conda install paddlepaddle-gpu=1.7.1 cudatoolkit=10.0，默认依赖cudnn的版本是7.3.1，但是WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.3, which may cause serious incompatible bug。然后训练导致运行出错[Hint: CUDNN_STATUS_BAD_PARAM] at (/paddle/paddle/fluid/operators/batch_norm_op.cu:287)

[2020-04-16 12:14] #23509 closed, assigned to kuke

[2020-04-16 14:01] jczaja opened #23927 "[DNNL] Extend elementwise_add kernel to support broadcasting"
PaddlePaddle elementwise_add op supports broadcasting of input. DNNL binary primitive also supports
broadcasting. This task is to enable broadcasting of DNNL elementwise_add kernel

[2020-04-16 15:00] wanghaoshuang commented on #23920
在notebook里新建code block, 执行以下命令查看下python site-packages在哪个路径：
[code]
然后在看下site-packages下有paddle文件夹吗：
[code]
没有的话，在当前python环境下装下paddle就行了。

[2020-04-16 20:00] #23901 closed, assigned to nobody

[2020-04-17 01:51] Joejiong opened #23935 "源码教程 sum along column of matrix: paddle.sum api 无法使用"
源码教程 sum along column of matrix: paddle.sum api 无法使用

自己的环境下还是在aistudio下都无法使用。    
    1）PaddlePaddle版本：1.7
    2）CPU/GPU：cpu/gpu都不行
    3）系统环境：Mac OS 10.14
    4）Python： 3.7

Traceback (most recent call last):
  File "train_vae_linear.py", line 124, in <module>
    train(model)
  File "train_vae_linear.py", line 63, in train
    loss = loss_function(recon_batch, img, mu, logvar)
  File "train_vae

[2020-04-17 01:51] tangbozhang commented on #23920
我是用anconda安装的，anaconda\Lib\site-packages下确实没有paddle相关文件，查看另一运行正常电脑里有文件paddle和paddlepaddle_gpu-1.7.1.post107.dist-info，比对工具发现和“envs\paddle\Lib\site-packages”下的文件paddle和paddlepaddle_gpu-1.7.1.post107.dist-info一样，手动拷贝过去后，还是不行

[2020-04-17 02:27] MRXLT commented on #23881
你好，CPU并行请在执行训练之前export CPU_NUM={要使用的CPU核数}

[2020-04-17 02:28] HJYgotoPLAY opened #23936 "设置fc层stop_gradient=True，训练报错"
<img width="697" alt="屏幕快照 2020-04-17 上午10 23 42" src="https://user-images.githubusercontent.com/24710595/79525967-bf3b3680-8096-11ea-9f29-5acb08c009ec.png">

paddle版本：1.7.1，python版本2.7，设置fc层stop_gradient=True，训练报错：
[code]

[2020-04-17 02:31] zhangylch commented on #23881
我在提交作业的脚本里面加了这一行，没有效果。我想请教下，paddlepaddle动态图的cpu并行可以想GPU多卡那样设置吗？我看里面好多需要用的api都是针对GPU。我以为他内部和MKL库类似自己做的并行优化的

[2020-04-17 02:33] Joejiong commented on #23935
换成：
`fluid.layers.reduce_sum(KLD, dim=1)`

[2020-04-17 02:33] #23935 closed, assigned to nobody

[2020-04-17 02:34] tangbozhang commented on #23920
在anconda终端下，切到虚拟环境padlle中 import paddle.fluid
paddle.fluid.install_check.run_check()运行正常。
设置jupyter notebook添加启动虚拟环境padlle，电脑重启后还是不行，感觉jupyter notebook还是没进虚拟环境paddle，进的还是虚拟环境base

[2020-04-17 03:12] HaiLongEmb commented on #22242
@weikangSDU 请问，你找到解决办法了吗？

[2020-04-17 03:15] ysh329 commented on #23865
我看是work挂掉了，

[code]

感觉应该和分布式有关，可以再看下分布式方面的问题

[2020-04-17 03:44] Joejiong opened #23939 "TypeError: matmul(): incompatible function arguments. The following argument types are"
   1）PaddlePaddle版本：1.7
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：Mac OS 10.14，Python版本3.7

![屏幕快照 2020-04-20 上午9 59 45](https://user-images.githubusercontent.com/18322401/79707073-dde73a80-82ed-11ea-88a8-408256ff7d97.png)

报错在return 那行进入decode那个地方，然后调用了这个dygraph.nn.Linear()
fc3 = self.fc3 = Linear(20, 400)

Traceback (most recent c

[2020-04-17 04:02] Joejiong commented on #23903
nccllib I have the same issue with nccl, hope the team publish some tutorial with how to reinstall nccl library

[2020-04-17 04:43] bjjwwang commented on #23936
建议把stop gradient这行取消，把它设置为True的目的是什么呢。
这个程序从fc之后只有一条路， fc的输出Var再禁止梯度就堵死了，反向就没了。

[2020-04-17 06:35] LessSMore commented on #23796
你好，我还想问一下，是不是如果用动态图方式，就不用担心会出现这种情况了呢------------------ 原始邮件 ------------------
发件人: "Huihuang Zheng"<notifications@github.com>
发送时间: 2020年4月14日(星期二) 中午11:35
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "LessSMore"<937371423@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] PaddlePaddle 创建test_program时clone函数的BUG (#23796)

close了别人也能搜索到和看到，只是我们团队这边表示我们追踪完这个问题。

[2020-04-17 06:39] bjjwwang commented on #23939
方便给下 是如何用matmul这个op的呢

[2020-04-17 07:03] zhiqiu commented on #23796
hi，你也可以试试新版本paddle-1.7是否还会有这个问题，我们在新版本对clone(for_test=True)的剪枝进行了优化。我理解，你说的文档可能是新版本。

[2020-04-17 07:13] zhiqiu commented on #23939
hi，能发一下你的code吗？出错部分的code就可以。

[2020-04-17 07:35] saTan-Y commented on #23778
但是保存模型的时候出现了问题。我尝试了2个优化器都用adagrad，如果先调用优化器1，后调用优化器2，优化器1里面的moment参数就没有保存；如果先调用优化器2，后调用优化器1，优化器2的moment参数就没有保存。想问下是什么情况？

[2020-04-17 08:03] HJYgotoPLAY commented on #23936
目的是设置fc层以及之前的所有层参数停止更新。

[2020-04-17 10:22] lijianshe02 commented on #23903
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/compile_Ubuntu.html, ubuntu下安装请参考这个链接

[2020-04-17 10:23] tangbozhang commented on #23920
pycharm进虚拟环境paddle，paddle使用正常

[2020-04-17 10:41] carol510 opened #23952 "训练ssdlite_mobilev3有错误 k40 8卡 paddle 1.71"
![image](https://user-images.githubusercontent.com/22268236/79560670-9472d180-80da-11ea-9d6a-431b4ae04c5d.png)

[2020-04-17 10:45] bjjwwang commented on #23936
好的 明白了。感觉是个bug，我记录并讨论下。谢谢

[2020-04-17 10:51] #23916 closed, assigned to nobody

[2020-04-17 11:21] lidanqing-vv commented on #23927
This issue is an extention to PR #23477, now PR #23477 support only when X and Y has same shape inplace . But we can also support broadcast elementwise_add.
All issues labeled with `interestingidea` are the functions we can do. But because Baidu may have different business request and priority, not sure when we will put this issue in high priority.

[2020-04-17 12:00] Joejiong commented on #23939
谢谢拉是一下这个计算：
mu，和logvar是两个tensor一样大
def XXX(self, mu, logvar):
        std = fluid.layers.exp(0.5*logvar)
        # eps = fluid.randn_like(std)
        eps = np.random.randn(*std.shape)
        eps = to_variable(eps)
        return mu + eps*std

[2020-04-17 12:01] Joejiong commented on #23939
现在报这个错拉。。。
File "/Users/wujionghao/Documents/vae_paddle/paddle_vae_linear.py", line 40, in reparameterize
    return mu + eps*std
  File "/opt/anaconda3/lib/python3.7/site-packages/paddle/fluid/dygraph/math_op_patch.py", line 164, in __impl__
    other_var = astype(other_var, lhs_dtype)
  File "/opt/anaconda3/lib/python3.7/site-packages/paddle/fluid/dygraph/math_op_patch.py", line 105, in astype

[2020-04-17 12:13] parap1uie-s commented on #21219
Sorry for late reply... I missed the message notification and seems there's no needs to create a new PR for mish anymore. Good job for @thebhatman

[2020-04-17 13:28] hanguantianxia commented on #23846
你的意思是把一个program是encoder，一个program是decoder，第三个program的是encoder和decoder结合？但是目前静态图的参数读取API中，第三个program载入其他program的参数会报错。
![image](https://user-images.githubusercontent.com/22430355/79574168-5aadc500-80f2-11ea-84dd-f508f6432b99.png)

[2020-04-18 04:08] MrChengmo commented on #23865
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/29789135/79627718-2f1bf080-816d-11ea-9c81-c6281076f91e.png">

看报错是出现在pserver的Adam op里，建议先本地模拟分布式，拿少量样本跑通，再上分布式，节点数由少至多调试一下。

[2020-04-18 06:46] wangzhankun opened #23959 "CMake Error at cmake/inference_lib.cmake:270编译错误"
## 版本、环境信息：
* PaddlePaddle v1.7.0
* OS jetson nano ubuntu18.04
* ARM aarch64 cortex-a57
* cuda 10.0
* cudnn 7.6.3.28
* python 3.6 virtualenv
## 本地编译
[code]

## 报错
[code]

[2020-04-18 08:15] xjqbest commented on #23761
收到～ 十分感谢。正是用户的建议，才会让paddle越来越来好用。

[2020-04-18 10:07] mapingshuo commented on #23819
#23878 修复了这一问题，修复后执行问题描述中的脚本:
[code]
可以看到layer_norm_grad只花了5.8ms .

[2020-04-18 11:34] hong19860320 commented on #23959
请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html 页面中的"NVIDIA Jetson嵌入式硬件预测库源码编译"部分，按步骤进行编译，建议直接使用我们预编译好的nv-jetson-cuda10-cudnn7.5-trt5 https://paddle-inference-lib.bj.bcebos.com/1.7.1-nv-jetson-cuda10-cudnn7.5-trt5/fluid_inference.tar.gz

[2020-04-18 11:36] wangzhankun commented on #23959
确实是按照那个教程进行编译的，但现在关键是cmake都出问题，提示是paddle的文件缺失

[2020-04-18 11:38] wangzhankun commented on #23959
官方提供的是C的库，我想用python的库，所以希望能够自行编译

[2020-04-18 12:50] hong19860320 commented on #23959
这个不是提示cmake文件缺失，而是cmake脚本往${FLUID_INSTALL_DIR) 、${FLUID_INFERENCE_INSTALL_DIR}、${FLUID_INFERENCE_C_INSTALL_DIR}写文件的时候，发现没有那个目录，或者没有往那个目录读写文件的权限。
建议去掉-DFLUID_INFERENCE_INSTALL_DIR=/opt/paddle 这个参数。

[2020-04-19 10:48] 670133189 opened #23967 "PaddleDetection 迁移学习方法请教"
我现在使用PaddleDetection，用自己标注的数据，已经训练了一个YOLO v3的模型，保存在本地文件中。现在又多了一批训练数据（类别一样），我想继续训练模型，但是PaddleDetection上的迁移学习教程中使用了pretrain_weights和finetune_exclude_pretrained_params这两个参数，其中第一个参数是网址，意思是要从网上下载预训练模型。问题是：

1、那我自己的模型，pretrain_weights是不是就是本地模型的文件路径？

2、使用自己的模型时，finetune_exclude_pretrained_params参数是否有用，该如何使用？

谢谢！

[2020-04-20 02:30] zhiqiu commented on #23939
print(type(z))看下z是什么类型

[2020-04-20 02:59] wangchaochaohu commented on #23967
@heavengate 帮忙看下？

[2020-04-20 03:01] heavengate commented on #23967
此问题已由 https://github.com/PaddlePaddle/PaddleDetection/issues/530 跟进，当前issue先关闭，如果还有其他问题可以reopen此issue~

[2020-04-20 03:01] #23967 closed, assigned to nobody

[2020-04-20 03:03] zhiqiu commented on #23867
Paddle会在程序退出时释放显存，您可以在跑完一遍之后，用`nvidia-smi`命令看下当前的显存使用情况，检查下是否正确释放了。

[2020-04-20 03:43] zhiqiu commented on #23778
保存模型用的哪个接口？

[2020-04-20 04:36] zhouwei25 commented on #23883
@Crawler-y  hi，你好，请问Python37环境是以前已经用过的吗？有没有装过numpy或scipy之类的呢，建议pip install -U paddlepaddle-gpu更新安装试一下，或者用一个全新的python环境试一下

[2020-04-20 04:44] ellinyang opened #23992 "[Faster_rcnn]The start row index must be lesser than the end row index"
Faster rcnn在训练时的评估中出错
- 版本、环境信息：
    1）PaddlePaddle版本：paddle1.6.2 cuda9_cudnn7
    3）GPU：nvida P40/24G
    4）系统环境：Unbuntu 16.04
- 训练信息
    1）六机,每机一卡，fleet.dgc分布式训练方式
    2）batch_size=8
    3）pre_nms_top_n=1000
错误详情：使用单卡/两卡训练FasterRcnn，都正常，但使用6卡时会稳定出错。错误信息如下：

[code]

[2020-04-20 04:51] xjqbest commented on #23761
如果你有其他具体case，也可以回复在这里，我这边也会集中反馈给相关人员。

[2020-04-20 04:56] wxl1351641822 commented on #23761
![image](https://user-images.githubusercontent.com/42665925/79715431-48a47000-8306-11ea-9405-abb39f486529.png)

[2020-04-20 05:00] chenwhql commented on #23992
确认一下，这里是说，使用单机单卡，或者两台机器，每台机器一张卡训练就是正常的，而使用6台机器，6张卡就稳定出错吗？

[2020-04-20 05:23] ellinyang commented on #23992
是的

[2020-04-20 05:26] chenwhql commented on #23992
1. 模型是Paddle官方的模型吗？麻烦您能描述下如何复现吗？
2. 此外，您有确认过单机6卡会出现这个问题吗？

[2020-04-20 06:04] prettyocean85 opened #23995 "cpu下ocr_recognition预测结果错误"
版本、环境信息：
    1）PaddlePaddle版本：1.7.1

- 问题描述：
使用PaddlePaddle\models\PaddleCV\ocr_recognition训练好的模型预测，模型训练在GPU下完成，在infer源代码基础上修改模型重新保存为固化模型。使用 AnalysisPredictor 方式预测，并使用zerocopytensor。模型和输入完全一致，在GPU下预测结果正确，CPU结果错误，请问可能是什么原因。
GPU预测正确结果
[[ 3]
 [ 2]
 [ 4]
 [ 8]
 [ 7]
 [21]
 [31]
 [14]
 [31]
 [36]
 [35]]
CPU错误结果：
[[ 2]
 [ 2]
 [ 4]
 [ 4]
 [ 4]
 [ 5]
 [ 4]
 [ 5]
 [ 1]
 [ 4]
 [ 5]
 [ 4]
 [31]
 [ 2]
 [ 4]

[2020-04-20 06:14] shaunhurryup opened #23996 "layers.Print()并未显示信息"
链接地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print

源码：
[code]

输出：
第一次执行给了个警告：/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/executor.py:804: UserWarning: There are no operators in the program to be executed. If you pass Program manually, please use fluid.program_guard to ensure the current Program is being used.
  warn

[2020-04-20 06:15] MRXLT commented on #23869
训练速度变慢前后显卡利用率有没有变化？loss的上升可能与模型结构或者学习率的大小有关，可以试着调小学习率

[2020-04-20 06:34] zenghsh3 opened #23998 "二次求导结果不符合预期（gradient of gradient）"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-1.7.2
    2）系统环境：linux, cpu, python3

- 问题描述：
进行下述二阶求导时，计算的二阶梯度不符合预期（预期结果：grad1=4, grad2=4，实际结果如下）
![image](https://user-images.githubusercontent.com/5762635/79720594-76dc7c80-8313-11ea-9e54-05ef2ac85fca.png)

- 复现demo（包括了fluid/pytorch/jax）：
https://colab.research.google.com/drive/12VhNZlRClPBjvqy0UWz0u5a_MiEL5MNj

[2020-04-20 06:48] ellinyang commented on #23992
1.用的是paddleDetection的Faster_rcnn模型，不过经过fleet.dgc的改造，除了模型外，改造环节较多。不过可以把模型发给你，复现一下
2.用的是云上资源，目前没有单机六卡P40的资源；

[2020-04-20 06:54] luotao1 commented on #23995
请试下 https://github.com/PaddlePaddle/Paddle/issues/14837#issuecomment-445830987

[2020-04-20 08:07] Joejiong commented on #23939
应该搞定了，numpy转过来的时候需要指定astype('float32'),谢谢

[2020-04-20 08:07] #23939 closed, assigned to nobody

[2020-04-20 08:12] prettyocean85 commented on #23995
@luotao1 python使用C++接口预测代码怎么删除fc_gtu_fuse_pass呢？cpu预测部分代码如下
config = AnalysisConfig(model_file_path, pb_file_path)
config.disable_gpu()
config.enable_mkldnn()
config.switch_specify_input_names(True)
config.enable_memory_optim()
config.disable_glog_info()
config.switch_use_feed_fetch_ops(False)#模型运行的时候删去feed和fetchops
predict = fluid.core.create_paddle_predictor(config)

[2020-04-20 08:34] zhouwei25 commented on #23883
@Crawler-y 你好，请问现在问题是什么状态呢

[2020-04-20 09:15] OliverLPH commented on #23995
@prettyocean85
[code]
直接delete_pass就行了

[2020-04-20 09:20] DavidFangx opened #24010 "开发了视频码流的目标检测，然后推流到流媒体服务器，但性能较卡，请问可好的解决思路或方案"
具体问题：
我们基于 YOLOv3 DarkNet53 模型，对视频流进行目标识别，把识别结果叠加到视频上去，并以
  ffmpeg 方式 推流 stmp 到流媒体服务器，但是效果不理想，在流媒体上服务器看最后的视频，非常的卡，请问可好的解决思路或方案?
谢谢。

[2020-04-20 09:56] chenwhql commented on #23998
确实如此，是个bug，我反馈一下

[2020-04-20 10:15] xxxsssyyy opened #24014 "lod tensor 如何实现argmax"
想实现的操作：
举例: 现在有一个lodTensor
lod为 [ [0, 2, 5] ]
data 为  [ [1.1, 2.1, 5.2] ,
                 [5.2, 0.1, 4.3] ,
                [0.2, 10.5, 8.3] ,
                [1, 2.5, 3.3] ,
                [7.1, 2.1, 5.9] ,
               ]

想通过一个argmax操作 对axis = -1
得到的
lod 为[ [0, 2, 5] ]
data 为 [[2] [0] [1] [2] [0]]

现在的代码为:
[code]

目前的问题：结果中softmax_decode 的lod为空的，想问一下如何解决（主要是实现我上面的需求）

[2020-04-20 11:32] chenwhql commented on #23992
好的，如果可以的话，提供给我们复现调试一下

[2020-04-20 11:49] chenwhql commented on #23992
[code]
不过我这边暂时没有六机6卡这样的资源？单机6卡倒是有

此外关于这个错误信息，您能确认下在不出错的情况下是这里是怎样的吗？
看源码，这里是输入scores做Slice时，两个输入值相等了

[2020-04-20 11:57] chenwhql commented on #23996
您好，我用您的源码可以正常打印出来的，结果如下
[code]
Print里面是用C++ std::cout打印的，麻烦您再确认下您的Paddle版本和环境？也可以用官方文档提供的示例执行下试试？

[2020-04-20 12:12] shaunhurryup commented on #23996
1）感谢你的回复。刚才我在本地试了一下可以正常输出，但是在AI Studio上是没有结果的
![image](https://user-images.githubusercontent.com/45918719/79749935-a8b90780-8342-11ea-835f-be64a870a5d1.png)

2）我想了解下为什么执行的时候会报出如下错误

[2020-04-20 12:14] shaunhurryup commented on #23996
补充一下~

Python版本：python3.7
框架版本：PaddlePaddle 1.7.0
GPU版本

[2020-04-20 12:17] chenwhql commented on #23996
exe.run(fluid.default_startup_program())，您的startup_program里没有要执行的东西，这步操作是一般用来初始化网络参数的，您这个demo很简单，没有参数或者learning_rate需要初始化，所以执行这步的时候，会报没有需要执行的op

[2020-04-20 12:40] shaunhurryup commented on #23996
可是在AI Studio中为什么输出会没有显示呢

[2020-04-20 13:02] Joejiong commented on #18189
@qingqing01：
你的链接失效了

padding (int|list|tuple|str，可选) - 填充大小。如果它是一个字符串，可以是"VALID"或者"SAME"，表示填充算法
有些api可以有些不行，layer可以，nn那个好像不行

[2020-04-20 13:09] chenwhql commented on #24014
您好，我看了下源码，fluid.layers.argmax没有保留输入到输出的LoD信息，我反馈一下，后续安排同学修复

[2020-04-20 13:43] chenwhql commented on #23996
可能和他们的平台有关吧，我猜jupyter是不是不能捕获C++ std::cout的输出，要不反馈给他们看看？

[2020-04-20 14:53] shaunhurryup commented on #23996
我觉得可以~

[2020-04-20 15:04] chenwhql commented on #23996
可以捕获输出吗？还是可以反馈下？

[2020-04-20 15:07] shaunhurryup commented on #23996
反馈一下吧，不然平台上用不了，这个Print接口就废了

[2020-04-20 15:10] chenwhql commented on #23996
好的，您清楚AI Studio的反馈渠道吗？我这边没用Studio，不太清楚。
如果没有框架相关的问题，麻烦您最后关掉这个issue

[2020-04-21 00:09] #23996 closed, assigned to nobody

[2020-04-21 01:04] Zhangbeibei1991 opened #24027 "循环的老问题，基本上做各个框架的静态图都会遇到，希望大佬给个方案"
我是做事件抽取的（跟咱们百度事件抽取有点关系），想用静态图做联合抽取，就是同事抽取事件和触发词，基本步骤是：第一步：先抽取触发词，第二步：然后用触发词和句子中的每个词concat一下然后再用fc做触发词和要素的角色分类，最后一步是将前两部的损失函数加一块做联合训练，咱么百度给的baseline是pipeline做的，然后我想用联合抽取做，现在的问题是在执行第二步的时候：需要将识别出的触发词再与所在句子中的每个词进行拼接，而识别的触发词都包在(batch_size,seq_len,embedding)里面这就要求我要先将batch_size拆开用while_loop对每个句子做循环，然后再在嵌套对句子中的每个词做while_loop循环，这是比较直观的思路，现在我遇到的问题时，因为我输入的data的占位符的shape的第0维是默认-1的，所以在循环的时候我也写了个-1, 但是在编译过程中就过

[2020-04-21 01:32] Zhangbeibei1991 commented on #24027
我是做事件抽取的（跟咱们百度事件抽取有点关系），想用静态图做联合抽取，就是同事抽取事件和触发词，基本步骤是：第一步：先抽取触发词，第二步：然后用触发词和句子中的每个词concat一下然后再用fc做触发词和要素的角色分类，最后一步是将前两部的损失函数加一块做联合训练，咱么百度给的baseline是pipeline做的，然后我想用联合抽取做，现在的问题是在执行第二步的时候：需要将识别出的触发词再与所在句子中的每个词进行拼接，而识别的触发词都包在(batch_size,seq_len,embedding)里面这就要求我要先将batch_size拆开用while_loop对每个句子做循环，然后再在嵌套对句子中的每个词做while_loop循环，这是比较直观的思路，现在我遇到的问题时，因为我输入的data的占位符的shape的第0维是默认-1的，所以在循环的时候我也写了个-1, 但是在编译过程中就过

[2020-04-21 02:51] luotao1 opened #24030 "inference_lib compile error"
[code]
cuda_stream 缺少boost依赖
https://xly.bce.baidu.com/paddlepaddle/paddle/ipipe/#/detail/793245/job/0

[2020-04-21 03:05] prettyocean85 commented on #23995
已解决谢谢

[2020-04-21 03:05] #23995 closed, assigned to nobody

[2020-04-21 03:26] sjtubinlong commented on #24010
当单个帧的处理速度跟不上视频流的帧率就会出现卡顿高延时等情况，这块的优化方向有几个，1. 使用GPU提升预测速度，2. 选择较小的轻量级模型或对模型进行量化   3. 根据实际处理速度，选择性丢失部分帧以保障整体的流畅性。 4. 适当降低视频的分辨率等。

另外需要排除流媒体网络传输速度对性能的影响。

@DavidFangx

[2020-04-21 03:59] DrRyanHuang opened #24034 "AIstudio平台：动态图继承Layer运行后自动重启"
- 环境
`AIstudio平台`
`python3.7`
`PaddlePaddle 1.7.1`

- 报错信息：直接运行会使得AIstudio重新启动，但是略微改动可以运行，后面会提供复现步骤
- 报错代码以及复现步骤：(已将代码简化)

[code]
直接运行以上代码会使得AIstudio重新启动

将forward函数改一下让其报错
[code]
按 `Enter + shift`运行，当然会报错说没有该属性:
[code]
这时再将 `forward` 函数改回来：
[code]
这时平台可运行，且没有问题
输出为：
[code]

----------------
以上是我遇到的问题，请您帮忙看看，不胜感激！

[2020-04-21 05:19] WenmuZhou opened #24037 "动态图能否提供一个类似pytorch dataset的数据加载方式"

[2020-04-21 05:27] wanghaoshuang opened #24038 "动态图模式下，静态图OP和动态图OP生成的uniqe name不一致"
https://github.com/PaddlePaddle/Paddle/blob/f5d76b50ec90110cd6df84c38538b8d5c40eb2a0/python/paddle/fluid/dygraph/nn.py#L938

因为上述链接中的条件分支，在动态图模式下，会在C++端添加OP, 并生成output variable, 如果用户不指定output variable的命名，会自动生成一个variable name, 生成name用的自增ID和python端是独立的，也就是会出现以下情况：

[code]

其中：
[code]

python端自动生成unique name代码：https://github.com/PaddlePaddle/Paddle/blob/f5d76b50ec90110cd6df84c38538b8d5c40eb2a0/python

[2020-04-21 05:29] wanghaoshuang commented on #24038
以上问题不一定100%影响使用，但可能是比较大的风险，需要相关开发确认一下。

[2020-04-21 05:56] prettyocean85 opened #24039 "ocr_recognition预测attention模型报错"
问题描述：使用models\PaddleCV\ocr_recognition训练attention模型（crnn_ctc模型使用正常），并在infer.py中重新保存为固化模型，使用paddle predictor预测报错，错误信息为：
  File "D:\pythonAPI\Python37\call_paddle_OCR.py", line 108, in test_image
    predictor.zero_copy_run()
paddle.fluid.core_avx.EnforceNotMet:

--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
Win

[2020-04-21 06:38] JepsonWong commented on #24034
model = Inception(3, 5, 5, 5, 5, 5, 5) 应该写在 with fluid.dygraph.guard() 域下。

[2020-04-21 06:49] TomorrowIsAnOtherDay opened #24041 "使用多卡/多线程训练时无法支持传入learning_rate等超参数。"
报错如下：

Error: The number(1) of samples[lr] of current batch is less than the count(5) of devices(CPU), currently, it is not allowed. You should set the environment variable CPU_NUM in the system to determine the number of devices you need. at (/paddle/paddle/fluid/framework/parallel_executor.cc:788)

相关使用代码如下：

[code]

[2020-04-21 06:51] DrRyanHuang commented on #24034
明白了，多谢，希望`paddlepaddle`在后续版本添加此处的报错信息，嘿嘿，多谢

[2020-04-21 06:52] #24034 closed, assigned to JepsonWong

[2020-04-21 07:01] yongqiangma commented on #24039
模型不保存，用同样的输入进行预测，会报错吗？

[2020-04-21 07:09] chenwhql commented on #24037
嗯嗯，支持了，会随2.0发布，目前develop版本也可以用

[2020-04-21 07:16] WenmuZhou commented on #24037
我怎么安装develop可以试用一下

[2020-04-21 07:20] chenwhql commented on #24037
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-dev

这里有每天最新编译的develop包，您可以选择合适的版本

但是，这个功能今天刚合入develop，最新版应该明天才会编译出来，你可以明天试试，您问的这个时机非常巧合

如果今天您一定要使用，只能自己编译了，可以参考文档试试，https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/fromsource.html#id1

[2020-04-21 07:27] WenmuZhou commented on #24037
好的，我明天试一下。还提个建议哈，
1. 动态图模式下print(net)希望能打印出网络结构

[2020-04-21 08:25] prettyocean85 commented on #24039
@yongqiangma 直接用infer.py预测都不报错

[2020-04-21 09:20] HJYgotoPLAY commented on #22690
求具体的实现方法

[2020-04-21 09:30] txyugood commented on #22690
例子如下：
[code]
结果为[1 2 4 5 6]

[2020-04-21 09:37] zhengxiao-yu commented on #23876
上次的实验，评估两条换了正负title位置的样本的program是不同的；这次实验用了同一个评估的program，同样的title的emb层（emb是相同的）先后经过同一个program的cnn层，结果是有diff的

[2020-04-21 09:49] HJYgotoPLAY commented on #22690
学习了，非常感谢

[2020-04-21 09:57] qingqing01 commented on #24010
@DavidFangx 目前具体耗时，是在模型预测阶段，还是视频流处理方面？

[2020-04-21 10:22] xxxsssyyy commented on #24014
这个问题目前有什么替代方案吗

[2020-04-21 10:32] chenwhql commented on #24014
应该没有

[2020-04-21 11:08] #23812 closed, assigned to nobody

[2020-04-21 11:59] zhaoyang1708 opened #24050 "训练报错PaddleCheckError: the latest update of worker 0 is 900 secs ago"
本地测试过可以跑，cpu集群训练，使用的是paddlecloud平台的paddle1.6.1
PaddleCheckError: the latest update of worker 0 is 900 secs ago, we doubt the the worker is not alive and this may have a bad effect on the fitting result, please check at [/paddle/paddle/fluid/operators/distributed/heart_beat_monitor.cc:83]
W0421 16:27:08.119271  1623 init.cc:205] *** Aborted at 1587457628 (unix time) try "date -d @1587457628" if you

[2020-04-21 12:26] MRXLT commented on #23881
不好意思，Paddle动态图目前还不支持cpu并行计算，正在开发中

[2020-04-21 13:05] wojtuss opened #24052 "Accuracy drop on INT8 Ernie QAT inference"
The commit https://github.com/PaddlePaddle/Paddle/commit/b89dd86fb65fc9095219aa4d37ad52728b8f689a introduced accuracy drop from 0.7936 to 0.7916 for INT8 Ernie QAT inference test (using the `qat2_int8_nlp_comparison.py` script) on a 6248 CLX machine. In our internal tests the commit makes the FP32-INT8 accuracy diff (0.8020 - 0.7916 = 0.0104) greater than > 0.01 and the test is failing.
What is yo

[2020-04-21 13:49] luotao1 commented on #24052
Could you help us find which Op accuracy diff? In this commit, we remain the same fp64 implementation of softmax op.

[2020-04-21 14:20] minhoooo1 opened #24057 "visualDL 有关的问题 windows10 下命令行里 cd到 Python里的scripts里（scripts目录下有visualdl和visualDL.bat和vdl_create_scratch_log） 输入vdl_create_scratch_log 显示 'vdl_create_scratch_log' 不是内部或外部命令，也不是可运行的程序"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2020-04-21 14:53] LessSMore commented on #23796
你好，我想问下，如果是用动态图，在测试前没有加上model. eval这一句，一样会像之前那样，把测试集进行反向传播了，然后正确率会莫名提升是吗？------------------ 原始邮件 ------------------
发件人: "Leo Chen"<notifications@github.com>
发送时间: 2020年4月17日(星期五) 下午3:03
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "LessSMore"<937371423@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] PaddlePaddle 创建test_program时clone函数的BUG (#23796)

你好，我还想问

[2020-04-22 02:09] chenwhql commented on #24037
好的， 我反馈下这个需求

[2020-04-22 02:35] #23775 closed, assigned to nobody

[2020-04-22 02:37] guoshengCS commented on #24027
个人没有具体做过这个，会有一些不太清楚的地方。请问这个是必须要使用嵌套的while_loop吗，看描述中外层的while是为了遍历batch中的每一个sequence样本（感觉对每一个样本单独进行操作好像不是特别常见），是否可以只保留对每个位置的那个内层的while呢，在循环体内对batch形式的单个位置和batch形式的sequence做expand和concat等操作可以吗，个人对seq2seq熟悉一些感觉和这种情况类似，就是while的每一步内都有单个位置和一个完整的序列（encoder的输出）

内存爆掉的话可能是因为while_loop会对loop_var中的内容每一步都拷贝，这个可以试下不把tensor array放入loop_var中

[2020-04-22 02:44] yongqiangma commented on #24050
paddle有一个心跳机制， 就是在异步训练的情况下，为了防止有节点异常退出(但是整个训练还是可以继续的) 导致效果波动， 会有一个机制， 就是0号会记录上一次训练节点梯度的更新时间， 训练没有终止的情况下， 有节点超过15分钟不更新梯度， 则会报刚那个问题， 认为训练异常， 直接终止。

[2020-04-22 02:56] Zhangbeibei1991 commented on #24027
| |
张贝贝
邮箱：lulu163163@163.com
|

签名由 网易邮箱大师 定制

在2020年04月22日 10:37，Guo Sheng 写道：

个人没有具体做过这个，会有一些不太清楚的地方。请问这个是必须要使用嵌套的while_loop吗，看描述中外层的while是为了遍历batch中的每一个sequence样本（感觉对每一个样本单独进行操作好像不是特别常见），是否可以只保留对每个位置的那个内层的while呢，在循环体内对batch形式的单个位置和batch形式的sequence做expand和concat等操作可以吗，个人对seq2seq熟悉一些感觉和这种情况类似，就是while的每一步内都有单个位置和一个完整的序列（encoder的输出）

按照往常这事没什么问题的(至少torch这么大的是没什么问题的, 更何况paddle的静态图)

内存爆掉的话可能是因为whi

[2020-04-22 03:01] Zhangbeibei1991 commented on #24027
| |
张贝贝
邮箱：lulu163163@163.com
|

签名由 网易邮箱大师 定制

在2020年04月22日 10:55，张贝贝 写道：大佬，其实你说的对，可以这么实现，但是如果涉及到细微操作。即对单个embedding做操作的话是需要把batch拆的特别零碎的
，比如说我看的以前一篇层次层次强化学习做实体关系抽取解决嵌套实体关系的问题，需要对每个嵌入做具体操作，其实这倒是有点难为您，倘若能够实现的话，那基本上就和dygraph差不多了，我只是觉得现在paddle的dygraph并没有我预期的像torch那样完善而已，我还是挺支持百度的，框架挺符合我的使用习惯的

| |
张贝贝
邮箱：lulu163163@163.com
|

签名由 网易邮箱大师 定制

在2020年04月22日 10:37，Guo Sheng 写道：

个人没有具体做过这个，会有一些不太清楚的地方。请问这

[2020-04-22 03:02] yongqiangma commented on #24041
你这里的学习率是如何设置的呢？

[2020-04-22 03:05] TomorrowIsAnOtherDay commented on #24041
[code]

[2020-04-22 03:07] Zhangbeibei1991 commented on #24027
其实也可以换一种思路，如果不必要用while_loop的话，如何在构建的图中大部分是静态图，而我需要进行微操的那部分是动态图，我感觉我实在难为诸位大佬，抱歉哈

[2020-04-22 03:14] guoshengCS commented on #24027
或者其实也可以直接把遇到的paddle的dygraph不完善的地方提出来，我们会持续完善，欢迎提供建议和意见，感谢支持

[2020-04-22 03:17] jiweibo commented on #24039
有可能是save_inference_model的时候发生了错误裁剪，等https://github.com/PaddlePaddle/Paddle/pull/23306  合入后再测试下吧

[2020-04-22 03:17] Zhangbeibei1991 commented on #24027
[其实也可以换一种思路，如果不必要用while_loop的话，如何在构建的图中大部分是静态图，而我需要进行微操的那部分是动态图，如果能临时把batch里面的数值在feed_data之后临时把数值能抽出来，且能保证不阶段梯度使其能继续反向求导也是可以的，昨天我在群里问，大佬说可以用python op 来处理这个问题，但是他提醒我为了避免入坑，还是给您提个issue, 请问用python op可以做到嘛

[2020-04-22 03:33] DavidFangx commented on #24010
若只使用opencv 读取摄像机视频流 获取帧，再使用 ffmpeg 推流到流媒体服务器不卡。
模型单独预测阶段速度0.25秒/帧。
目前问题是：将模型预测结果通过 ffmpeg 推流 整合 后，在流媒体上服务器看最后的视频，非常的卡

[2020-04-22 03:54] yongqiangma commented on #24041
再多贴一线lr函数设置的代码吧。
另外这个报错只在多线程、多卡才有。单卡情况下是没有的吗？

[2020-04-22 04:10] maosengshulei opened #24064 "mpi 用DistributeTranspiler 分布式增量训练，模型参数加载失效，还是随机初始化的参数。"
paddle 1.7.1 mpi cpu多机训练。

[code]

在训练开始前，打印了某一层fc层的参数：
[code]

发现参数和之前保存的参数不一致，应该还是随机初始化的。
用mpi单机训练测试：
[code]
同样在训练开始前打印fc层的参数，发现参数加载是正常的。

[2020-04-22 04:16] guoshengCS commented on #24027
这个可以的，使用py_func定义前向和反向就可以了，可以参考这里 https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/new_python_op.html 。其实也可以看下是否可以直接使用其他OP完成这个操作

[2020-04-22 04:25] tangbozhang opened #24065 "基于paddle的lib编译新程序时电脑卡死"
版本、环境信息：
1）PaddlePaddle版本：1.7.2
2）CPU：i7-9300H   16g内存
4）系统环境：win10家庭中文版、Visual Studio 2015 update3 C++ 编译
5）paddle安装包 “cpu_avx_mkl”- |fluid_inference.zip （直接官网下载：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/windows_cpp_inference.html）

自己新写的工程，调用paddle 的头文件和lib库，

编译过程中内存和硬盘速度会占满（100%），一直在编译中，半小时后还是如此，应该是已经卡死
，关闭编译后都恢复正常。
生成的工程dll也无法使用。
具体见下面

[2020-04-22 04:29] ucas010 commented on #21917
have the same problem
卸载重装根本不行。
[code]
cudnn
`libcudnn7-dev_7.6.5.32-1+cuda10.0_amd64.deb`

py3.7
tf，torch都没有问题

[2020-04-22 04:38] seiriosPlus commented on #24064
打一下log， 看是否正确执行了 load方法。
export GLOG_v=4

[2020-04-22 04:46] #24030 closed, assigned to Shixiaowei02

[2020-04-22 05:05] maosengshulei commented on #24064
[code]
我好像没找到加载参数方面的日志。
mpi链接：http://10.76.84.49:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20200422124151-84041--shulei_core2_msd_ddpg_v2_20200421_paddlecloud

[2020-04-22 05:24] WenmuZhou commented on #24037
请问训练过程中如何获取学习率并打印

[2020-04-22 05:35] TomorrowIsAnOtherDay commented on #24041
以下是完整的main函数代码，单卡是没问题的。

[code]

[2020-04-22 05:35] seiriosPlus commented on #24064
[code]
加一个参数
[code]

[2020-04-22 05:37] Boyan-Liu commented on #23475
Hi,

We have a high interest in the cooperation. The JavaDoc page on your website shows there have been MXNet and PyTorch. Could you please describe the cooperation details? Such as the same pattern as MXNet and PyTorch or in other ways?

Looking forward to your reply.

[2020-04-22 05:39] maosengshulei commented on #24064
current_endpooint=current_endpooint ,这个变量哪里取得

[2020-04-22 05:57] seiriosPlus commented on #24064
main方法里面没有定义训练网络？

[2020-04-22 06:00] WenmuZhou commented on #24037
@chenwhql 有个问题，https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-dev
这里的我windows子系统的linux应该选择哪个呀

[2020-04-22 06:03] maosengshulei commented on #24064
训练网络定义在 创建agent时：
[code]
而且mpi单机训练的模式下， 增量训练参数是正常加载的。

[2020-04-22 06:27] WenmuZhou commented on #24037
https://github.com/PaddlePaddle/Paddle/blob/80cf3c3c4d09cc77eb07c5c06a0d47d0bd55b989/python/paddle/fluid/dataloader/dataset.py
根据这个文件里的例子来，
[code]

![image](https://user-images.githubusercontent.com/12406017/79947909-69ef9280-84a5-11ea-9d41-d222ff2f1ede.png)

[2020-04-22 06:37] chenwhql commented on #24037
确认了一下，这两天编译有点问题，安装包还是前两天develop的，可能会有1-2天延迟，您要着急的话还是编译下试试？

[2020-04-22 06:41] seiriosPlus commented on #24064
把with guard去掉

[2020-04-22 06:43] WenmuZhou commented on #24037
好的

[2020-04-22 06:48] maosengshulei commented on #24064
这个应该做不到。。我的代码这几个program都用到了。

[2020-04-22 06:50] irukawang commented on #22520
主要是想对embedding做梯度惩罚，所以embedding之后经过的op都需要二阶梯度，主要是fc bn relu 这一套

[2020-04-22 07:20] seiriosPlus commented on #24064
如果去不掉with guard的话，transpile有个参数可以指定program，把你的program手动指定进去。

[2020-04-22 07:25] maosengshulei commented on #24064
是这样写吗：`t.transpile(trainer_id, program=agent.learn_program, pservers=pserver_endpoints, current_endpoint=current_endpoint, trainers=trainers)`

[2020-04-22 07:54] maosengshulei commented on #24064
`t.transpile(trainer_id, program=agent.learn_program, pservers=pserver_endpoints, current_endpoint=current_endpoint, trainers=trainers)`
测试这样写参数还是随机初始化。

[2020-04-22 07:55] MyPandaShaoxiang commented on #24065
请问是用的paddle的c++的库进行编译的么，如果paddle的库是预编好的，编译新程序的时候卡死，建议检查新程序的相关编译选项

[2020-04-22 08:02] tangbozhang commented on #24065
对的，用的是预编译好的paddle库。
并引用其中的第三方库，编译过程中有个警告
“LINK : warning LNK4098: 默认库“MSVCRT”与其他库的使用冲突；请使用 /NODEFAULTLIB:library”，不知是否与这个警告相关？

[2020-04-22 08:04] lang101 opened #24069 "如何向静态图中的 fluid.data 部分feed数据，得到相应的结果"
x1 = fluid.data(name="x_1", shape=[None, 3, 4], dtype="float32")
x2 = fluid.data(name="x_2", shape=[None, 3, 4], dtype="float32")
x3 = fluid.data(name="x_3", shape=[None, 3, 4], dtype="float32")
x4 = fluid.data(name="x_4", shape=[None, 3, 4], dtype="float32")

output1 = fluid.layers.elementwise_add(x1, x2)
output2 = fluid.layers.elementwise_div(x2, x3)
output3 = fluid.layers.elementwise_add(x3, x4

[2020-04-22 08:06] seiriosPlus commented on #24064
能发case线下验证一下么， 不太符合预期

[2020-04-22 08:07] maosengshulei commented on #24064
怎么发case，paddlecloud任务？

[2020-04-22 08:59] fxwfzsxyq opened #24073 "如何获取动态图中构建网络的每个层名称，还有如何加载预训练部分参数到模型里"
使用的是目前的最新的版本

[2020-04-22 09:11] maosengshulei commented on #24064
t.transpile(trainer_id, program=agent.learn_program, pservers=pserver_endpoints, current_endpoint=current_endpoint, trainers=trainers) 这种写法程序还夯住了。

[2020-04-22 09:14] MyPandaShaoxiang commented on #24065
和这个应该没有关系，编译过程中内存增大应该和paddle的库没有关系，可以发一下你的具体的操作，分析下可能造成卡死的原因

[2020-04-22 09:22] maosengshulei commented on #24064
4986 grpc_client.cc:504] SendRPC name:[Critic_policy_fc_2.b_0@GRAD.trainer_0], ep:[10.76.57.40:62004], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:

[2020-04-22 09:24] MyPandaShaoxiang commented on #24073
你好，可以使用named_sublayers 获取所有Layer的名称， set_dict 可以设置参数到Layer中，具体可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Layer_cn.html#layer

[2020-04-22 10:00] seiriosPlus commented on #24064
发个case？

[2020-04-22 10:01] maosengshulei commented on #24064
怎么发？

[2020-04-22 10:02] seiriosPlus commented on #24064
tangwei12

[2020-04-22 10:02] fxwfzsxyq commented on #24073
那如何取出某一层的参数，比如我要取出某一个卷积层的初始化参数

[2020-04-22 10:06] fxwfzsxyq commented on #24073
而且set_dict是给所有层赋值吧，我是想单独给某些层赋值，比如1,3,5我定义的值，2,4,6让他默认

[2020-04-22 10:16] MyPandaShaoxiang commented on #24073
取参数可以用我上面链接中的named_paramter,里面是所有层名和参数的元组

[2020-04-22 10:20] MyPandaShaoxiang commented on #24073
设置参数可以用add_parameter,上面链接中都有说明

[2020-04-22 10:25] zhiqiu commented on #24069
hi，目前Paddle develop版本的已支持对静态图根据feed/fetch进行剪枝，裁剪掉网络中不影响fetch的节点，并且支持部分feed。你可以在这里下载[dev版安装包](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-dev)，尝试下是否可以解决你的问题。

使用方式，在run的时候加一个参数use_prune=True，如：
`x1, x2, x3, x4, res1 = exe.run(feed=feedData, fetch_list=fetch_list, use_prune=True)`

[2020-04-22 11:10] #24038 closed, assigned to zhiqiu

[2020-04-22 14:36] tangbozhang commented on #24065
原因找到了，是由于引用的lib库没有继承导致的。
谢谢

[2020-04-22 14:36] #24065 closed, assigned to nobody

[2020-04-23 01:27] fxwfzsxyq commented on #24073
感谢回复，通过上述方式我已经可以训练，训练中我发现loss不下降，有没有什么办法判断梯度是否正常更新

[2020-04-23 02:00] 606BlueStar opened #24088 "YoLoV3前向预测的C++代码"
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/inference_improving/paddle_tensorrt_infer.html
上面的trt样例已经测试通过了，需要衣服yoloV3-mobilenet的前向代码，类似fluid_inference/sample/paddle-TRT/mobilenet_test.cc

希望您可以把代码发送到我的邮箱：1781843589@qq.com

非常感谢！

[2020-04-23 02:20] DavidFangx commented on #24010
解决了啊哈，python 异步处理，就好了

[2020-04-23 02:20] #24010 closed, assigned to sjtubinlong

[2020-04-23 02:28] WenmuZhou commented on #24037
我看今天的包已经可以了，我用下面的代码测试时，报错了
[code]

![image](https://user-images.githubusercontent.com/12406017/80053229-fefa9600-854e-11ea-8e6a-0ce4fcad62d4.png)

[2020-04-23 02:46] #24073 closed, assigned to nobody

[2020-04-23 02:55] chenwhql commented on #24037
您要在动态图模式下使用的话，加上fluid.dygraph.guard，参考这里的例子，https://github.com/PaddlePaddle/Paddle/blob/13b03e7ad6e9d555b972cca8e5e84ee0d4b61c99/python/paddle/fluid/reader.py#L100

没有guard的话，默认是静态图，需要传入feed_list

[2020-04-23 02:55] chenwhql commented on #24037
新上功能，官方文档还未公开，麻烦您耐心等待下，先参考code里面的文档

[2020-04-23 03:01] WenmuZhou commented on #24037
好了，谢谢

[2020-04-23 03:20] lang101 commented on #24069
paddle版本：多版本whl包列表-dev  /  cpu-mkl  /  cp37-cp37m （paddlepaddle-0.0.0-cp37-cp37m-linux_x86_64.whl）
加了参数“use_prune=True” run之后报错，err信息如下：
File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/executor.py", line 1067, in run
    six.reraise(*sys.exc_info())
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/six.py", line 693, in reraise
    rai

[2020-04-23 04:38] WenmuZhou commented on #24037
在aistudio里面运行的时候，num_workers好像不能设的超过6，会报错
[code]

测试代码
[code]

[2020-04-23 04:59] chenwhql commented on #24037
感谢您的反馈，这可能也和studio平台有关，这个功能刚合入，接下来我们还会进行充分测试与调试

[2020-04-23 05:10] heavengate commented on #24037
本地试下了能跑通
![屏幕快照 2020-04-23 下午1 10 32](https://user-images.githubusercontent.com/12605721/80061441-dfba3380-8563-11ea-9af1-08b7cae5e9fd.png)
可以看下aistudio上共享内存多大，`df -h`看下`/dev/shm`下多大空间，感觉有可能是共享内存分配失败，或者可以`DataLoader(dataset, places=place, num_workers=3, batch_size=128, drop_last=True,shuffle=True, use_shared_memory=False)` 里设置`use_shared_memory=False`试下~

[2020-04-23 05:30] zhupengyang commented on #24088
- 这个不是本repo的文件吧
- 代码建议自己尝试

[2020-04-23 07:00] WenmuZhou commented on #24037
aistudio 给的是64M
![image](https://user-images.githubusercontent.com/12406017/80069021-32e7b280-8573-11ea-9a7a-ad29fc467c15.png)
设置为use_shared_memory=False之后，num_workers可以设大了，但是对速度并没有提升

[2020-04-23 07:15] ljayx opened #24102 "Windows上使用Faster-RCNN做预测，显存爆了"
   1）PaddlePaddle版本：1.7.1
    2）GPU：Quadro K1200，CUDA9.0，CUDNN7.6.2，Driver385.54
    3）系统环境：Windows7，Python3.7
    4）预测库来源：来自 pip3 install
- 复现信息和问题描述：加载Faster-RCNN模型后，显存占用约几百兆左右，调用infer接口，显存飙升到3.5GB，或者直接打满报错，即使未打满，再调用一次infer也会打满报错。其他模型，如YoloV3无此问题。同版本同模型在Linux上稳定运行，调用infer占用显存约2GB。

加载模型后还未开始预测时候的显存如下：
![image](https://user-images.githubusercontent.com/29032384/80069470-f9fc0d80-8573-11ea-901d-2f

[2020-04-23 07:42] zhupengyang commented on #24102
```export FLAGS_fraction_of_gpu_memory_to_use=0.92``` 或者别的值试下？windows可能是```set FLAGS_fraction_of_gpu_memory_to_use=0.92```

[2020-04-23 08:12] zhiqiu commented on #24069
hi，你试下fetch_list = [output1.name]是否可以。

[2020-04-23 08:14] jiweibo commented on #23791
已和用户沟通，确认是依赖textone本身的问题

[2020-04-23 08:14] #23791 closed, assigned to jiweibo

[2020-04-23 08:18] WenmuZhou commented on #24037
dev包有windows的吗

[2020-04-23 08:22] heavengate commented on #24037
你的这个数据集是直接random的，并没有预处理，数据读取的计算量很小，多进程加速效果不明显，并不需要开启多进程，多进程DataLoader是针对数据读取和预处理比较复杂导致CPU瓶颈的场景，可以换个预处理复杂的数据集试下~

[2020-04-23 08:32] jeng1220 opened #24107 "[Paddle-TRT] potential memory leak"
`IPlugin*::initialize` and `IPlugin*::terminate` should be always implemented as a pair. Also, resources acquired (e.g. malloc, new \*, cuadMalloc\*, \*Create\*, etc) in IPlugin*::initialize should be released in `IPlugin*::terminate`. Otherwise, it causes memory leak.

I fix a plugin as example, see #24106. Following plugins have the same bug **at least**:

- InstanceNormPlugin
- PReluPlugin
- Sk

[2020-04-23 08:33] jeng1220 commented on #24107
@NHZlX
This is a serious bug. Please assign someone to fix it.

[2020-04-23 08:38] jeng1220 opened #24108 "[Paddle-TRT] incorrect Plugin usage"
The all data members of cloned plugin must be set in `IPluginV2::clone`. The plugin only calls `IPlugin*::initialize` once when creating ICudaEngine. The cloned plugin won't call `IPlugin*::initialize` after IExecutionContext is created, but TensorRT may clone the plugin during the creation of IExecutionContext and use the cloned plugin to infer the model.

I fix a plugin as example, see #24106. F

[2020-04-23 08:42] jeng1220 commented on #24108
@NHZlX
This is a serious bug. Please assign someone to fix it. Otherwise, all Paddle-TRT applications will **crash** after you upgrade TensorRT to next version, because new version of TensorRT **always** uses cloned plugin to infer the model

[2020-04-23 08:45] lang101 commented on #24069
这样是可以的，谢谢！

[2020-04-23 08:50] ljayx commented on #24102
@zhupengyang 这个试过了，不行。这个值设置大一点，加载的时候就会多分配一些显存，但是一旦预测图片显存就猛涨，然后报上面那个错。

[2020-04-23 08:54] zhiqiu commented on #24069
hi，类似fetch_list = [x1.name, x2.name, output1.name]这样，把feed加入fetch_list的情况，我提PR支持了。

[2020-04-23 09:02] zhiqiu commented on #24102
hi，方便发一下你的复现代码吗？我觉得如果在linux下没有问题，但是在windows下不能跑是不正常的。

[2020-04-23 09:13] WenmuZhou opened #24113 "develop下的CTC在动态图下出错了"
下面的代码在1.7.1下是ok的
[code]

但是在develop下就报错了
![image](https://user-images.githubusercontent.com/12406017/80081567-b6aa9a80-8585-11ea-9951-545042e1374e.png)

[2020-04-23 09:14] lang101 commented on #24069
好的，再次感谢

[2020-04-23 09:47] littlecrab999 opened #24116 "multi gpu error using dygraph"
paddle1.7
code

def train():
    place = fluid.CUDAPlace(dygraph.parallel.Env().dev_id)
    #place = fluid.CUDAPlace(1)
    with dygraph.guard(place):
        strategy = dygraph.parallel.prepare_context()
        print(strategy.nranks)
        init_lr = 0.001
        lr_update_step = 50000
        lr = dygraph.PiecewiseDecay(boundaries=[lr_update_step, lr_update_step*2, lr_update_step*3],values=[i

[2020-04-23 09:50] ShenYuhan commented on #24057
visualdl是否成功安装了呢？如果没有安装需要先pip install visualdl来安装visualdl，然后在终端执行`vdl_create_scratch_log`即可；windows环境中需要在您说的文件中使用`python vdl_create_scratch_log`即可
具体细节可以参照
https://github.com/PaddlePaddle/VisualDL/blob/f8aa0f06d7c5562d531bc97ee8d0fcb307197acb/README.cn.md#%E5%BF%AB%E9%80%9F%E5%B0%9D%E8%AF%95

另外，有更多visualdl的问题可以在visualdl的repo中寻找和提问https://github.com/PaddlePaddle/VisualDL

[2020-04-23 09:52] ljayx commented on #24102
@zhiqiu 你在paddle用户hi群里吗，我这个是EasyDL的，不方便在这儿发。

[2020-04-23 10:14] zhiqiu commented on #24102
在的~

[2020-04-23 10:50] zhupengyang commented on #24116
nccl版本需要大于247

[2020-04-23 10:58] qyccc commented on #22520
paddle现在有什么实现梯度惩罚的方式吗？linear_chain_crf层可以二次求导吗

[2020-04-23 11:02] qyccc commented on #17358
你好，现在有什么做梯度惩罚的方式吗？我尝试用py_func自定义了前向后向函数，但是在后向函数里面用fluid.gradients 计算会报错

有什么解决方法吗

[2020-04-23 11:47] wangchaochaohu commented on #22520
这边会返回过去

[2020-04-23 11:58] wangchaochaohu commented on #22520
目前linear_chain_crf 不支持double grad。 这方面的需求会及时反馈

[2020-04-23 11:59] phlrain commented on #24113
https://github.com/PaddlePaddle/Paddle/pull/24119 问题我们已经提pr修复

[2020-04-23 12:08] ceci3 commented on #22520
第一个问题是想问怎么使用梯度惩罚嘛？可以参考https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/gan/trainer/StarGAN.py#L150 GAN里的实现方法。只要网络里的op都支持double grad，就可以。

[2020-04-23 13:02] qyccc commented on #22520
是的，谢谢。还想请问一下，用了这个方法后在evaluation阶段报错

就是因为crf不支持二阶梯度吗，但是train阶段可以跑？

[2020-04-23 14:31] shippingwang opened #24122 "Fleet训练 日志和多卡问题"
在使用fleet训练时候，有log和多卡输出的一些疑问：

如下方式

[code]

这样会
- 在屏幕上输出trainer的config信息并卡住
- log文件会保存在log_dir中
- 程序实际在运行中

NOTE：这种默认方式行为很不一致，既然都存了log 为什么屏幕还是会输出config而且卡住？

若指定log_dir 并且加 重定向
[code]
- config信息会重定向到log.txt中
- 程序的log还是会在log_dir里

---

若 不指定 --log_dir
- 不会自动保存文件
- 屏幕输出，输出多卡重复且不一样的信息（在程序中做num_trainer判断会解决输出多张卡的问题），但是多张卡的输出是不一样，这里fleet怎么可以做到多卡输出是一致的？即worker.0 1 2 3的train loss和valid loss一致？

若 不指定 --l

[2020-04-23 23:42] WenmuZhou commented on #24037
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-dev
這個鏈接下的
cuda10-cudnn7-mkl　paddlepaddle_gpu-latest-cp37-cp37m-linux_x86_64.whl　　
之後，from paddle import io　這句話報錯了
[code]

[2020-04-24 01:19] xxxsssyyy commented on #24014
您好，这个什么时候修复？修复好的话需要怎么更新paddle才能使用呢

[2020-04-24 03:12] zhupengyang commented on #24122
https://github.com/PaddlePaddle/Fleet fleet相关问题可以去这里提问

[2020-04-24 04:08] weiexcelpro opened #24132 "重复运行一个reader就会报错"
# 用户重复运行case复现
###现象
用户描述：
	aistudio有一个reader的问题
我创建了一个神经网络的类，并使用自己定义一个reader
然后我把神经网络封装在一个CNN的类里面，但是当我修改这个类并执行该类的cell之后
再运行就会报错
在本地notebook测试之后发现并没有该问题
如果有需要我可以提供源代码
问题很容易复现
使用官方提供的reader没有此问题
报错录屏： https://ecloud.baidu.com?t=a07b8d2113c3f8445036ba999c2ab3ee
##用户录屏分析
![](https://agroup-bos-bj.cdn.bcebos.com/bj-79caece20b21c53bd8b482d1934d14894e6872bf)
用户4：53 重启kernel 清除内核
![图片](https://agroup-bos

[2020-04-24 05:25] ceci3 commented on #22520
你好，可以麻烦详细列一下有二阶梯度需求的op吗？fc和relu现在是支持的。

[2020-04-24 05:27] ceci3 commented on #22520
你好，一般是训练阶段的时候梯度惩罚添加到loss计算中，train阶段 optimizer.minize的时候才会激活二阶求导这个计算，evaluation阶段我理解的是不需要更新参数，就不会激活二阶求导。可以检查下代码是否写的有问题。

[2020-04-24 05:33] willthefrog commented on #24132
在jupyter notebook里运行无法复现，感觉确实是aistudio的问题。

[2020-04-24 05:35] willthefrog commented on #24132
而且看用户报错信息也不像是reader报错

[2020-04-24 06:01] shippingwang commented on #24122
fleet集成在paddle里吧....我为什么要再粘贴过去
我写在这里是觉得 可能其他用户出现相似的疑问，那fleet上个issue都去年的事了...

[2020-04-24 06:54] sandyhouse commented on #24122
为了避免输出config信息卡住的问题，可以后台运行命令，如
python -m paadle.distributed.launch \
    --log_dir = "./log" \
    train.py &

config信息和log是两个不同的概念。config是机器配置相关的一些信息，如trainer的ip地址，端口等。log里面实际存储的是运行的训练脚本的日志。

如果没有--log_dir选项，所有的日志都会输出到终端，导致多个trainer的信息混杂显示。fleet本身并不保证多卡的输出是一致的（如loss），这是因为一般而言各个卡上的训练数据是不一样的，所以采用数据并行模式各个卡计算得到的loss值也是不一样的。

[2020-04-24 08:50] saTan-Y commented on #23778
fleet.save_inference_model

[2020-04-24 08:53] saTan-Y commented on #23778
by the way，我想确认下paddle支持一个program下的多个optimizer操作吗？

[2020-04-24 08:57] #24069 closed, assigned to zhiqiu

[2020-04-24 09:01] weiexcelpro commented on #24132
在本地非AIStudio环境下也多种方式复现

[2020-04-24 09:23] huangguanMayday opened #24142 "top-k的OP使用报错"
只要77换成78行，就错了(前向并没有问题，用到loss里反向才有问题)

![image](https://user-images.githubusercontent.com/4018038/80196734-5a607d00-8650-11ea-997b-6fa97f5a81a4.png)

[2020-04-24 12:29] #23819 closed, assigned to mapingshuo

[2020-04-24 15:22] tangbozhang opened #24146 "ZeroCopyRun()崩溃"
版本、环境信息：
1）PaddlePaddle版本：1.7.2
2）CPU：i7-9300H 16g内存
4）系统环境：win10家庭中文版、Visual Studio 2015 update3 C++ 编译
5）paddle安装包 “cpu_avx_mkl”- |fluid_inference.zip （直接官网下载：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/windows_cpp_inference.html）

自己新写的工程，调用paddle 的头文件和lib库，编译通过，运行到m_predictor_->ZeroCopyRun();崩溃，无日志
![image](https://user-images.githubuserc

[2020-04-25 07:45] jiweibo commented on #24146
请问下非调试模式下有报错信息吗，没有报错信息无法确定问题

[2020-04-25 09:25] tangbozhang commented on #24146
执行到m_predictor_->ZeroCopyRun()时，直接跳过下面的进到try catch(...),没有报错信息，也不影响后面其他功能运行

[2020-04-25 09:27] tangbozhang commented on #24146
@jiweibo

[2020-04-25 10:40] jiweibo commented on #24146
可以先用官网提供的mobilenet示例跑一下，看下是库的问题，还是程序的问题

https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/native_infer.html#a-name-c-c-a

[2020-04-25 14:05] tangbozhang commented on #24146
按官方的例子跑 了下，还是ZeroCopyRun()有问题
![image](https://user-images.githubusercontent.com/53244607/80281860-b99dba80-8740-11ea-9a5d-fe065149b85b.png)

[2020-04-25 14:05] tangbozhang commented on #24146
![image](https://user-images.githubusercontent.com/53244607/80281889-e4880e80-8740-11ea-928c-0c915950eaee.png)

[2020-04-25 14:06] tangbozhang commented on #24146
[
![image](https://user-images.githubusercontent.com/53244607/80281896-f10c6700-8740-11ea-9ac2-7e30314346ce.png)
](url)

[2020-04-25 14:08] tangbozhang commented on #24146
D:\>cd D:\codedevelop\tce\ai\paddle\paddle-dll\Paddle\paddle\fluid\inference\api\demo_ci\build\Release

D:\codedevelop\tce\ai\paddle\paddle-dll\Paddle\paddle\fluid\inference\api\demo_ci\build\Release>windows_mobilenet.exe  --modeldir=D:\run-environment\RUN-PADDLE\objectdetection\model\test
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0425 22:00:45.333626 18456 analysis_predict

[2020-04-25 14:09] tangbozhang commented on #24146
和模型版本有关系吗？
“I0425 22:00:45.351575 18456 analysis_predictor.cc:833] MODEL VERSION: 1.6.1
I0425 22:00:45.351575 18456 analysis_predictor.cc:835] PREDICTOR VERSION: 1.7.2”

[2020-04-25 14:09] tangbozhang commented on #24146
在python下使用相同模型，运行是正常的

[2020-04-25 15:47] emptyblue opened #24152 "平台上的代码运行没问题，电脑上的运行cost为nan"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

源代码从这里来的：
https://aistudio.baidu.com/aistudio/projectdetail/431963?forkThirdPart=1

- 标题：平台上的代码运行没问题，电脑上的运行cost为nan
- 版本、环境信息：
    1）PaddlePaddle版本：1.72
    2）CPU：CPU
    3）GPU：QWQ
    4）系统环境：windows10，Python3.6

- 复现信息：反正一个挺简单的入门模型QWQ
cost为nan，准确率没有上升
下面是代码和数据集：
[costnan.zip](https://github.com/PaddlePaddle/Paddle/files/45

[2020-04-25 16:31] Baishi03 opened #24153 "在训练循环中使用fluid.io.save_inference_model保存每轮的结果，明显会影响训练模型"
训练代码如下：
def train(self, imgClass, imgClass_valid, epoches=10, batchSize=64, stopRounds=100, initialize=True, confidence_threshold=0.5, nms_threshold=0.3):
        if initialize:
            self._trainExe.run(fluid.default_startup_program())
        else:
            self._trainExe.run(program)         #不直接初始化，而是恢复训练
        imgStream = imgClass.random_batch_img_stream(batchSize=batchSize)

[2020-04-25 22:11] #24113 closed, assigned to lfchener

[2020-04-26 02:12] OliverLPH commented on #24146
![predict_log](https://user-images.githubusercontent.com/14963836/80295467-6e69c300-87a5-11ea-94f5-509e850df9c7.png)
![predict_codes](https://user-images.githubusercontent.com/14963836/80295470-732e7700-87a5-11ea-8d33-333e8ef1f9e1.png)
我这边试着用`ZeroCopyRun`这个接口跑了下 mobilenet模型，应该是不会崩溃的，可以正常预测。
但Windows目前报错信息不是很易用，因此可能是其他原因导致的错误，但没有报出来。

看到你这个截图里面有 `openblas.dll`，但你在issue开始描述的是使用的 `cpu_avx_mkl` 这个lib库

[2020-04-26 02:12] LielinJiang commented on #24152
1.平台的代码链接打开是私密的，能否给个fork之前的链接？
2.出nan是第一个step就是nan吗？还是训练了一段时候后出现的？

[2020-04-26 02:16] LielinJiang commented on #24153
训练中建议使用paddle.fluid.save来保存模型参数。
save_inference_model主要用于模型的部署，建议训练完成后使用。save_inference_model会自动裁剪和target var没有关系的变量，同时会将一些op的状态设置为test状态，比如bn，dropout等。这些可能会影响后续模型的训练。

[2020-04-26 02:37] wawltor commented on #24014
嗯嗯，我们内部对了一下，觉得您这种用法可能不太正确；首先ArgMax op是不支持LodTensor输入的，其次是argmax op输入输出的Lod 信息也不应该相同，修复之后会导致功能歧义；

是否可以通过lod_reset来实现你想要的功能吗？

[2020-04-26 02:38] wawltor commented on #24014
嗯嗯，我们内部对了一下，觉得您这种用法可能不太正确；首先ArgMax op是不支持LodTensor输入的，其次是argmax op输入输出的Lod 信息也不应该相同，修复之后会导致功能歧义；
是否可以通过lod_reset来实现你想要的功能吗？

[2020-04-26 02:47] silingtong123 commented on #24146
Hi,你好
1. 你需要确定你使用的预测库是使用的mkl还是openblass预测库
2. 推荐你使用windows demo编译脚本测试demo的运行情况，具体使用方式可参考官网：
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/windows_cpp_inference.html
![image](https://user-images.githubusercontent.com/35439432/80296138-0ae29400-87ab-11ea-9a5e-be222fc06b76.png)

运行选项如截图：
1).  cpu_avx_mkl
     PaddlePaddle版本：1.7.2
![image](https://

[2020-04-26 02:59] NHZlX commented on #24108
这个问题新版本lib拿到后会进行解决。

[2020-04-26 03:00] NHZlX commented on #24107
新版本lib 给到后会进行解决。

[2020-04-26 03:38] #24014 closed, assigned to wawltor, chenwhql

[2020-04-26 03:39] wawltor commented on #24014
已解决问题

[2020-04-26 05:11] qingqing01 commented on #23998
@zenghsh3 感谢反馈，我们会尽快修复~ 抱歉~

[2020-04-26 05:50] emptyblue commented on #24152
应该是这个，名字叫“Fashion-Mnist（一般神经网络）”
https://aistudio.baidu.com/aistudio/projectdetail/194629

差不多第一个就是nanQWQ，实际第一个是非常非常大的一个数字，可能至少几千万，，

[2020-04-26 07:02] weiexcelpro opened #24165 "paddle使用run()提示fetch错误"
如何解决谢谢

代码如下:

from paddle import fluid
a = fluid.layers.fill_constant(shape=[2,1],dtype='int64',value=5)
b = fluid.layers.fill_constant(shape=[2,1],dtype='int64',value=6)

ifcond = fluid.layers.less_than(x=a,y=b)
ie = fluid.layers.IfElse(ifcond)
with ie.true_block():
c = ie.input(a)
c += 1
ie.output(c)

exe = fluid.Executor(fluid.CPUPlace())#CPU上执行传入

exe.run(fluid.default_main_program(),fetch_li

[2020-04-26 08:04] geniusSDNexplorer opened #24170 "单机多卡训练速度严重变慢"
使用单卡训练，batchsize128  100batch约1分钟；
使用5卡训练， 100batch约 3分钟；
使用8卡训练  100batch约8分钟。
经排查，不是io拖慢训练速度
使用timeline工具检查耗时，发现是多卡通信占用时间长 如下图所示：
![image](https://user-images.githubusercontent.com/22310375/80301590-8ce8b200-87d7-11ea-9b91-1b25e66fdde0.png)

![image](https://user-images.githubusercontent.com/22310375/80301423-a2111100-87d6-11ea-9695-4647755aea17.png)
麻烦看一下图中各个步骤的时间是否正常，多卡耗时严重上升的问题究竟出在哪里
可视化之后可以看

[2020-04-26 08:08] Rayarrow94 opened #24171 "优化器报错"
Traceback (most recent call last):
  File "local_train.py", line 16, in <module>
    use_parallel_executor=1
  File "/home/disk2/hubo/model/fluid/item2vec/train.py", line 511, in train
    train_loop(fluid.default_main_program())
  File "/home/disk2/hubo/model/fluid/item2vec/train.py", line 473, in train_loop
    fetch_list=[avg_cost.name])
  File "/home/disk2/hubo/anaconda3/lib/python3.6/site-pac

[2020-04-26 08:43] zhiqiu commented on #24165
hi，我看了下你的`IfElse`接口使用可能有点问题，你可以参考下[IfElse](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/control_flow_cn.html#cn-api-fluid-layers-ifelse)的示例代码。

[2020-04-26 09:19] fxwfzsxyq opened #24173 "卷积，bn，relu之后出现inf"
用动态图参照torchvision model修改了一个vgg，训练发现卷积，bn，relu之后的feature map中出现inf，不知道在那个位置计算出现了inf，导致loss为nan

[2020-04-26 09:20] fxwfzsxyq commented on #24173
import paddle
import paddle.fluid as fluid
from paddle.fluid.dygraph.nn import Conv2D, Pool2D, BatchNorm, Linear
import pdb

class VGG(fluid.dygraph.Layer):
    def __init__(self, features, num_classes=1000):
        super(VGG, self).__init__()
        self.features = features
        self.avgpool = Pool2D(pool_size=7, pool_stride=1, pool_type='avg')
        import math
        stdv = 1.0 / math.s

[2020-04-26 09:21] fxwfzsxyq commented on #24173
**import paddle
import paddle.fluid as fluid
from paddle.fluid.dygraph.nn import Conv2D, Pool2D, BatchNorm, Linear
import pdb

class VGG(fluid.dygraph.Layer):
    def __init__(self, features, num_classes=1000):
        super(VGG, self).__init__()
        self.features = features
        self.avgpool = Pool2D(pool_size=7, pool_stride=1, pool_type='avg')
        import math
        stdv = 1.0 / math

[2020-04-26 09:22] fxwfzsxyq commented on #24173
![image](https://user-images.githubusercontent.com/18416103/80303350-709e4280-87e2-11ea-8a48-29b5decd83e0.png)

[2020-04-26 10:04] zhiqiu commented on #24171
已线下讨论，设置`label.stop_gradient=True`可解决。
该问题在Paddle-1.8+已在框架中统一优化，用户不需要显示地设置`var.stop_gradient=True`，对于所有反向输入都为空的反向op，框架会自动裁剪。详见 https://github.com/PaddlePaddle/Paddle/pull/22246

[2020-04-26 10:30] #24171 closed, assigned to zhiqiu

[2020-04-26 11:04] LielinJiang commented on #24152
我使用你的costnan.zip代码在我的本地没能复现nan的问题。请问你的电脑系统是？以及paddle的版本是？还有能贴一下你的log吗

[2020-04-26 11:10] zhiqiu commented on #24173
hi，动态图的一大优点就是方便调试，你可以逐层print看看那一层出现了nan。

[2020-04-26 11:12] emptyblue commented on #24152
这。。就是window10.
运行的效果，python3.6版本，paddle1.7.2版本都在下面可以看见。cost为nan我也不知道怎么回事。。。
![P_SDKWV{V99AR1$5CI7W6CD](https://user-images.githubusercontent.com/47941711/80305765-823b1680-87f1-11ea-9adb-f4547f6e605b.png)

还有log要怎么贴来着，上面这样可以么QWQ

[2020-04-26 11:35] BADBADBADBOY commented on #24173
调试过了，backward之后，再一次forward，特征图里面就出现很大的值，到后面就inf，这是给bug吧

[2020-04-26 11:36] BADBADBADBOY commented on #24173
![image](https://user-images.githubusercontent.com/27273035/80306322-325e4e80-87f5-11ea-9646-41b0785495df.png)

[2020-04-26 11:37] BADBADBADBOY commented on #24173
![image](https://user-images.githubusercontent.com/27273035/80306327-4bff9600-87f5-11ea-9425-05e4d3b8738d.png)

[2020-04-26 11:38] BADBADBADBOY commented on #24173
感觉没毛病啊

[2020-04-26 11:42] BADBADBADBOY commented on #24173
好吧，学习率过大梯度爆炸了。。。。。。。。。。。。。

[2020-04-26 11:46] LielinJiang commented on #24152
![image](https://user-images.githubusercontent.com/50691816/80306537-8158b380-87f6-11ea-8361-6314dc52dc11.png)
你本地的代码包括数据路径应该有修改把？我看你贴的代码和cost-nan.zip中的代码路径都没有修改。能直接给一下本地的代码吗，感觉还是哪里有修改。
其次，我看你装了多个paddle，可以在代码中打印一下: print(paddle)，看看到底使用的是哪个。

[2020-04-26 12:02] emptyblue commented on #24152
我本地的代码就是上面那一串QWQ，我发给你的那里面的代码也是直接复制过来的。
路径的改动相对于平台原码就是删了一个home前面的 ‘/’ ，其它没有改动
print(paddle)打印出来的结果是这个
![图片](https://user-images.githubusercontent.com/47941711/80306954-caaa0280-87f8-11ea-8255-6dc87eea645d.png)

[2020-04-26 12:07] tangbozhang commented on #24146
重新下载paddle库，在demo调用mobilenet模型正常。但demo在调用自己训练的模型（ShuffleNetV2_YOLOv3），还是ZeroCopyRun()有问题，图像尺寸已按模型训练时尺寸设置。
![image](https://user-images.githubusercontent.com/53244607/80307070-81a67e00-87f9-11ea-879e-5140242c575c.png)

[2020-04-26 12:19] zhhsplendid commented on #23813
请问有更多更新吗？如果没有更新，我们将之后关闭此卡片，如果有需求请继续本issue提问

[2020-04-26 12:21] zhhsplendid commented on #23815
嗨，你好，观察到已经自己close issue了，是否已经解决了？有更多问题可以再提问

[2020-04-26 12:21] #23815 closed, assigned to zhhsplendid

[2020-04-26 12:32] zhhsplendid commented on #23788
已线下沟通，用户自己单纯的保存和加载，在1.7底下是正常的。可能还是和训练有关系，用户自己再定位问题中。我将关闭此卡片。如果有问题可以继续打开本卡片和提问

[2020-04-26 12:32] #23788 closed, assigned to zhhsplendid

[2020-04-26 12:37] zhhsplendid commented on #23806
嗨，注意到您自己close了issue，是自己已经解决了吗？我将继续保持此卡片为关闭状态，如果有更多问题可以reopen和追问

[2020-04-26 12:37] #23806 closed, assigned to zhhsplendid

[2020-04-26 12:49] zhiqiu commented on #24173
hi，刚刚看你回复说是学习率过大的原因？

[2020-04-26 12:54] silingtong123 commented on #24146
方便提供你训练的模型吗？猜测是模型使用方面的问题？

[2020-04-26 12:58] zhiqiu commented on #24170
已hi上联系。

[2020-04-26 14:35] tangbozhang commented on #24146
同样的模型，python下预测正常。应该是哪里配置的问题导致的。模型比较大如何发您？
pthon预测源码如下
![image](https://user-images.githubusercontent.com/53244607/80310571-04d1cf00-880e-11ea-88a6-48c0ade806d3.png)

[2020-04-26 14:50] tangbozhang commented on #24146
这是ai studio 地址：https://aistudio.baidu.com/bdcpu7/user/97222/335880/notebooks/335880.ipynb?redirects=1。模型已上传：code/model/freeze_model
@silingtong123

[2020-04-27 01:21] nuaaceieyty opened #24185 "使用自定义OP后保存预测模型，再加载模型预测时报错"
我是在在AI Studio上运行的。
写的网络结构里有一个自定义OP，在训练程序里调用此OP无误，保存预测模型也无误。
但加载模型时出现一下报错：
----------------------
Error Message Summary:
----------------------
Error: Invalid python callable id
  [Hint: Expected i < g_py_callables.size(), but received i:2 >= g_py_callables.size():0.] at (/paddle/paddle/fluid/operators/py_func_op.cc:45)
  [operator < py_func > error]
请问这是什么原因？？我应该怎么修改？？

[2020-04-27 01:38] fxwfzsxyq commented on #24173
是的，学习率vgg学习率过大梯度爆炸了，我学习率设置的0.1，设置成0.001就正常跑了

[2020-04-27 01:44] fxwfzsxyq commented on #24173
和vgg没加bn也有关系，加了bn也能防止，即使0.1的学习率也可以

[2020-04-27 02:05] zhiqiu commented on #24173
嗯嗯，如果问题解决，是否可以close issue？

[2020-04-27 02:06] #24173 closed, assigned to zhiqiu

[2020-04-27 02:06] silingtong123 commented on #24146
1. Yolov3模型应该有2个输入，但是你的C++代码里只有一个
python:
![image](https://user-images.githubusercontent.com/35439432/80327426-9ec96400-886e-11ea-9718-469c1de64297.png)

C++:
![image](https://user-images.githubusercontent.com/35439432/80327509-e8b24a00-886e-11ea-90a9-361d1c58b51d.png)

应该还有一个input_t2 = predictor->GetInputTensor(input_names[1]);
还一个输入没有赋值，所以报错，官方案例的模型是只有一个输入的

2. 这个地址我无法访问

[2020-04-27 02:08] #23813 closed, assigned to nobody

[2020-04-27 02:29] tangbozhang commented on #24146
不好意思，昨晚忘了公开了，现在已经公开。paddle里面是否有两个输入的例子呢？
@silingtong123

[2020-04-27 02:32] bjjwwang commented on #24142
logits的类型是什么样的

[2020-04-27 02:39] silingtong123 commented on #24146
1. 暂时没有，不过两个输入和一个输入是一样的设置方式
![image](https://user-images.githubusercontent.com/35439432/80328848-2618d680-8873-11ea-8345-04aefa7e8503.png)
第二个输入input_t2的shape=[batch_size2, channels2, height2, width2]，数据为input2，类似input的初始化方式，再调用copy_from_cpu(input2)

2. 如果不清楚模型的输入，可以使用软件查看输入，如Netron， 模型名字改为__model__，可查看模型信息，如图
![image](https://user-images.githubusercontent.com/35439432/80329185-12ba3b00-8874-11ea-

[2020-04-27 02:57] fxwfzsxyq opened #24186 "gpu forward报错，此前报了cudnn的warning"
![image](https://user-images.githubusercontent.com/18416103/80329703-bf48ec80-8875-11ea-95d8-129f82c05911.png)
![image](https://user-images.githubusercontent.com/18416103/80329728-cc65db80-8875-11ea-8d47-b73760ef8bec.png)
![image](https://user-images.githubusercontent.com/18416103/80329758-dd165180-8875-11ea-97bf-433df16af428.png)

[2020-04-27 03:24] LielinJiang commented on #24152
抱歉，我这边还是没法复现。
1. 我打包了一份我的代码，你直接解压运行paddlee.py试试。压缩包里是包含数据的：链接: https://pan.baidu.com/s/1HFrOizCIvv4LqshHS9B0eg 提取码: pjba
2. 我看你的环境里包含了paddlepaddle-gpu，paddlepaddle以及paddlepaddle-tiny，如果1还是不行。建议重新创建一个环境试试？

[2020-04-27 03:48] tangbozhang commented on #24146
![image](https://user-images.githubusercontent.com/53244607/80330288-595d6480-8877-11ea-8cbe-0819d8d8885d.png)

[2020-04-27 03:52] tangbozhang commented on #24146
模型输入，显示一个
![image](https://user-images.githubusercontent.com/53244607/80332457-79902200-887d-11ea-90c5-91a72fd8d387.png)

[2020-04-27 04:09] silingtong123 commented on #24146
![image](https://user-images.githubusercontent.com/35439432/80333205-e1476c80-887f-11ea-9ee0-eefad4c7cabb.png)
你需要点击一下这个0,看右边的INPUTS信息，确定是不是有两个输入,左边一个可能对应右边多个input的

[2020-04-27 04:23] tangbozhang commented on #24146
还是不行，帮忙看看是哪里问题
![image](https://user-images.githubusercontent.com/53244607/80333793-d1308c80-8881-11ea-9511-8dbe95285e4f.png)

[2020-04-27 04:23] tangbozhang commented on #24146
![image](https://user-images.githubusercontent.com/53244607/80333825-ed342e00-8881-11ea-94c7-1609ca70dcaf.png)

[2020-04-27 04:25] tangbozhang commented on #24146
这是ai studio 地址：https://aistudio.baidu.com/aistudio/projectdetail/335880。模型已上传：code/model/freeze_model

[2020-04-27 04:40] silingtong123 commented on #24146
image_shape不能初始化为0
![image](https://user-images.githubusercontent.com/35439432/80334563-2a012480-8884-11ea-8cff-0abd8b7cbf7b.png)
yolov3一般是608

[2020-04-27 05:22] tangbozhang commented on #24146
修改后，还是不行，麻烦指导下。python里调试信息也显示了
![image](https://user-images.githubusercontent.com/53244607/80336522-11940880-888a-11ea-81a5-ae1ecf247581.png)

[2020-04-27 06:12] yazone commented on #23895
找到问题了，重装了驱动到10.0，CUDA 10.0后性能不会那么差了

[2020-04-27 06:12] #23895 closed, assigned to qingqing01, yghstill

[2020-04-27 06:38] yghstill commented on #23895
@yazone 由于数据预处理`CropImageWithDataAchorSampling `等OP在CPU上执行，耗费大量时间，导致GPU利用率一直偏低，这个问题我们在持续关注并加速data reader部分，为了提高利用率，请将此OP在config文件中删除再试下。

[2020-04-27 06:51] kinghuin opened #24194 "seq2seq beam search使用预测库会出现问题"
paddlepaddle-gpu 1.7.2.post107
centos
python3

模型结构：
seq2seq，训练和评估阶段decoder会输入 `<s> <label_1> <label_2> ...`
                  预测阶段使用beam search
如果评估阶段和预测阶段用同一条数据且指定beam_size=1，理论上，评估和预测输出的首字应该相同，因为此时decoder的输入都是` <s>`，RNN的参数也是相同的，输出的首字应该是相同的才对。

不开启预测库，输出与预期相符，评估和预测输出的首字相同：
[code]
上述输出中，模型还未收敛，所以效果很差，但不妨碍对[dev][predict]的infer首字输出的判断。

如果开启预测库，输出与预期不符，评估和预测输出的首字可能不同：
[code]
上例中
[code]
dev首字是"一"，pr

[2020-04-27 06:57] GaoWei8 commented on #24186
可以先查看一下batch_norm参数传输是否有问题。

[2020-04-27 07:01] fxwfzsxyq commented on #24186
数据传输是否有问题不是很明白，cpu是能跑的，换gpu就报错了，在ai studio启动的gpu环境是可以跑得

[2020-04-27 07:10] yazone commented on #23895
对的，一方面主要还是卡在CPU上了，我增加线程数也能提升一些

[2020-04-27 07:18] shippingwang commented on #23719
你是说这个input_dim不确定size多少吧？可以print一下

看看大小 之后再填

[2020-04-27 07:21] GaoWei8 commented on #24186
那有可能是cudnn版本问题。你的安装包编译环境是cudnn7.6，但是运行机器cudnn环境是7.4。

[2020-04-27 07:47] GaoWei8 commented on #24185
错误看起来是py_func报错，从报错信息来看，是没有成功的新增OP。
可以参考[在Python端自定义OP教程](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/new_python_op.htmll)确定下新增OP是否有问题。

[2020-04-27 08:00] xyzhou-puck commented on #24194
please take a look at this issule. @1024er

[2020-04-27 08:13] nuaaceieyty commented on #24185
我在训练时调用了这个自定义OP，没有问题，应该是新增成功了吧

[2020-04-27 08:17] tangbozhang commented on #24146
这是ai studio 项目地址：https://aistudio.baidu.com/aistudio/projectdetail/335880。
模型所在目录：code/model/freeze_model
ZeroCopyRun()这个问题还是未解决，求大神支援

[2020-04-27 08:18] silingtong123 commented on #24146
正在跟进中，有进展会立即回复，可能是框架在windows的问题

[2020-04-27 08:36] titanseason opened #24200 "ocr_recognition 模块无法训练，提示“找不到指定的模块”"
直接下载`https://github.com/PaddlePaddle/models`的源码，然后执行
[code]
会提示异常（不指定--model参数也报同样的错误）：
[code]

- 版本、环境信息：
    1）PaddlePaddle版本：1.7.2
    2）CPU：Intel(R) Xeon(R) CPU E5-2680 v4 @2.40GHz
    4）系统环境：Windows Server 2012 R2，Python版本 3.7.7
- 训练信息
    1）单机，CPU训练
- 复现步骤
    在`https://github.com/PaddlePaddle/models`点击`Clone or download`，下载源码，CD至`ocr_recognition`所在的路径，然后执行 `python train.py --use_gpu False -

[2020-04-27 09:15] zhwesky2010 commented on #24200
@titanseason 你好，请问是python37下装好了paddlepaddle吗？麻烦执行一下 C:\Python\Python37\python.exe -m pip install paddlepaddle 更新下环境看下

[2020-04-27 09:17] silingtong123 commented on #24146
1. 问题出现在image_shape的设置不应该为float,应该为int
![image](https://user-images.githubusercontent.com/35439432/80355372-998a0a80-88aa-11ea-8658-36ddd025f211.png)

2. 旧版本训练的模型为float，但是在新版本的预测库中应该为int
![image](https://user-images.githubusercontent.com/35439432/80355748-0dc4ae00-88ab-11ea-8b28-1d84a9bf2a03.png)
官方API地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/yolo_box_cn.html

[2020-04-27 09:55] qingqing01 commented on #24185
@nuaaceieyty save_inference_model不支持包含 py_func。 py_func部分是Python实现，本身也无法在C++预测中用。

[2020-04-27 10:35] nuaaceieyty commented on #24185
明白了，谢谢啦

[2020-04-27 14:14] tangbozhang commented on #24146
官方demo和自己的程序均已调通。感谢这段时间给我帮助的朋友，特别是以下几个朋友：
@silingtong123 @jiweibo @OliverLPH @wanglun

[2020-04-27 14:14] #24146 closed, assigned to jiweibo

[2020-04-28 01:57] huangguanMayday opened #24216 "argsort这个OP是否反向传播有问题"
logits是batch*batch的tensor:

将
hardest_neg_score = fluid.layers.reduce_max(logits, dim=1, keep_dim=True)

换成：
hardest_neg_score3 = fluid.layers.argsort(input=logits, axis=1, name='hardest_neg_score3')
hardest_neg_score3 = hardest_neg_score3[0]
hardest_neg_score = fluid.layers.slice(input=hardest_neg_score3, axes=[1], starts=[int(batch_size - 1)], ends=[int(batch_size)])

模型收敛从没问题变成有问题。

验证过，两者的前向传播

[2020-04-28 02:42] Joejiong commented on #12234
hi, I think recently they have add paddle fluid api, which is a series of torch_like api, and they also support 2rd gradient

[2020-04-28 02:58] guoshengCS commented on #24194
请问开启预测库是指什么呢，是使用[predictor api](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/python_infer_cn.html)吗， dev和predict没有特别明白，因为看最下面感觉如果是infer出了一句话应该都是使用的预测模式
[code]
有了这些更具体的说明后我们这边复现下

[2020-04-28 03:09] kinghuin commented on #24194
是的 是用了predictor api
这是一个对联任务，left right分别是上联下联，infer是模型的输出
dev是评估阶段，decoder有输入right，predict是预测阶段，decoder没有输入right，而是使用beam search

[2020-04-28 03:14] FrostML commented on #24194
使用预测库的时候，是否尝试过比较 开启/关闭 ir 优化的结果？
[code]
GPU 预测还是 CPU 预测？

[2020-04-28 03:30] kinghuin commented on #24194
@FrostML GPU预测，尝试关闭ir优化：
![image](https://user-images.githubusercontent.com/11913168/80444157-92fba180-8943-11ea-8fb3-ffc1cd7fc8ce.png)

但还是出现 eval、predict阶段首字预测不相同的问题

[2020-04-28 03:38] FrostML commented on #24194
![image](https://user-images.githubusercontent.com/7160927/80444664-cbe84600-8944-11ea-826f-1bea47e74d54.png)

GPU 预测的话，把下面再次打开 ir 优化的配置注释一下叭

[2020-04-28 03:52] kinghuin commented on #24194
粗心了，幸好把代码贴上来了。
关闭之后还是eval、predict阶段首字预测不相同

[2020-04-28 05:00] titanseason commented on #24200
我发现有类似的问题，https://github.com/PaddlePaddle/Paddle/issues/22412
我用depends软件，发现了同样缺失了一堆dll文件
![](https://user-images.githubusercontent.com/33515898/73602609-f464dc00-45b1-11ea-84e6-715a39b8eaa9.PNG)

[2020-04-28 05:43] nosoldier opened #24228 "GPU内存不足"
/home/wu/venv/lib/python3.6/site-packages/paddle/fluid/executor.py:789: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  File "slim/distillation/distill.py", line 383, in <module>
    main()
  File "slim/distillation/distill.py", line 224, in main
    exe.run(teacher_startup_program)
  File "/ho

[2020-04-28 06:48] Yanghello opened #24230 "提供加密预测模型的保存和加载"
提供将训练模型加密后存储的功能，同时提供将加密的模型解密后加载功能。加密方案基于AES-GCM，这些接口将在后续给paddle serving使用

[2020-04-28 07:37] yuyy0823 opened #24232 "transformer训练大规模数据时数据读取与模型训练怎么并行"
paddle 版本为1.5.2
使用gpu训练，CUDA 8
尝试用paddle在自定义数据实现multi-head self attention功能，参考[https://aistudio.baidu.com/aistudio/projectDetail/122281](url)中的数据处理代码，运行发现代码先把数据全部加载到内存再开始训练，而我的训练数据很大，全加载到内存不太现实，请问有什么好的解决方法吗？或者有其他一边读数据一边训练的multi-head self attention实现代码参考吗？
找到一个类似的issue[https://github.com/PaddlePaddle/models/issues/4208](url)，但是没有回复。

[2020-04-28 07:43] FrostML commented on #24194
目前 @kinghuin 完成的测试结论：
|--|--|
|--|--|
|--|--|
|--|--|
|--|--|

[2020-04-28 08:26] aixier opened #24233 "SSD_VGG16_512 训练后导出精度严重损失。"
**Paddle1.7
detection0.2
python3.7
CPU8
RAM32GB
GPUv100
显存16GB**
模型算法：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/configs/ssd/ssd_vgg16_512.yml
模型名称：ssd_vgg16
训练参数见附件：

[ssd_vgg16_512.txt](https://github.com/PaddlePaddle/Paddle/files/4544225/ssd_vgg16_512.txt)
导出工具
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/tools/export_model.py
导出前参数模型
链接：https://pan.ba

[2020-04-28 08:27] ellinyang opened #24234 "Tensor holds the wrong type, it holds float, but desires to be int"
- 版本、环境信息：
 paddlePaddle 1.7.2.post97, compiled with
    with_avx: ON
    with_gpu: ON
    with_mkl: ON
    with_mkldnn: ON
    with_python: ON

**mkldnn预测核心代码：**
[code]
- 复现信息：paddle1.7.1训练的cascadeFrcnn模型（PaddleDetection，release/0.2），用paddle1.7.1官方镜像，开启mkldnn CPU预测时报错，yolov3等预测正常；
切换到paddle1.7.2镜像后，cascadeFrcnn用mkldnn CPU预测时正常，但yolov3系列模型都报错，报错如下：

[code]

[2020-04-28 08:33] qyccc commented on #22520
恩恩是的，谢谢。我是在paddlehub上改的，evaluation和train阶段都会跑到loss函数，所以报错了，加了个状态判断就解决了

[2020-04-28 09:03] silingtong123 commented on #24234
1. 初步怀疑可能是与yolo_box相关的OP输入的数据类型不正确
   参考 https://github.com/PaddlePaddle/Paddle/issues/24146
2. 希望能提供与服务解藕的单测代码，方便定位问题

[2020-04-28 09:12] AWSWXY opened #24235 "有没有支持加class weight的损失函数"
咨询：如上

[2020-04-28 09:29] xeyond opened #24236 "如何对Lod-tensor中的序列取均值"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7
    2）GPU：Cuda9.0
- 问题描述：
   使用Lod-tensor传入fluid.embedding之后得到embeding的序列，现在想要对每个序列的embedding取平均值，应该如何操作？
例子：对于data为[[1, 2], [3, 4], [5, 6]]，lod为[[0, 1]]的Lod-tensor，想要分别对{[1, 2]}和{[3, 4], [5, 6]}取均值，得到[[1, 2], [4, 5]]的结果
- 代码：
x = fluid.layers.data(name='x', shape=[None, None], dtype='int64', lod_level=1)
y = fluid.layers.data(name='y', shape=[None, 1], dtype='i

[2020-04-28 09:47] lkkkk686 opened #24237 "求助！用PaddleHub实战bert-chinese模型，run_states = cls_task.finetune_and_eval()时出错EnforceNotMet"
`[2020-04-28 17:40:24,064] [    INFO] - Strategy with warmup, linear decay, slanted triangle learning rate, weight decay regularization,
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/executor.py:804: UserWarning: There are no operators in the program to be executed. If you pass Program manually, please use fluid.program_guard to ensure the current Program is being

[2020-04-28 10:10] yiicy commented on #24235
目前不支持哦

[2020-04-28 11:00] jayhenry opened #24241 "能否支持Momentum和L2Decay的schedule？"
目前 lr 支持schedule方式, 如piecewise_decay等，是将 lr 定义为variable然后传到optimizer op的inputs中。
但是其他一些超参，如momentum, L2Decay系数等，能否做到schedule？
目前paddle静态图实现是将momentum, L2Decay.coeff作为Op的Attr，这样就不能将其定义为variable了。那有什么其他方式在静态图中实现 momentum, l2 coeff的schedule吗？
如果目前无法实现，后面会支持吗？
另外，动态图能够支持这个功能吗？

关于为何要做momentum的schedule，可以参考 fastai的官方文档 OneCycleScheduler部分，以及相关[论文](https://arxiv.org/pdf/1803.09820.pdf)

[2020-04-28 11:49] ipyffor opened #24242 "visualdl不能批量保存网页图片"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2020-04-28 12:25] zhhsplendid commented on #24232
aistudio的代码参考了https://github.com/PaddlePaddle/models/blob/311ac0be54bc82647e7b98e050d1028af7a5b29a/PaddleNLP/machine_translation/transformer/reader.py#L413

确实存在把数据全加载到内存再训练的现象。我们将内部发起评审和修改。对于有需求自己更改为边载入数据边训练，可以参考一个例子：
https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/pretrain_language_models/BERT/reader/pretraining.py

[2020-04-28 12:46] AIpioneer opened #24245 "训练报错，需要查错"
在AiStudio上，我运行了“百度架构师手把手教深度学，https://aistudio.baidu.com/aistudio/education/group/info/888作业2: 用Paddle完成房价预测案例”的实例，我自己输入代码报错后，我把原始代码一个一个code block的运行了一遍，依然报错。请问这是什么原因？盼回复。

相关链接和报错代码如下：

我的作业的链接地址如下：
https://aistudio.baidu.com/bdcpu2/user/63435/437638/notebooks/437638.ipynb?redirects=1

报错信息如下：
---------------------------------------------------------------------------EnforceNotMet

[2020-04-28 12:54] cyj1986 commented on #24245
我看不到你的作业代码，可以截图么？

[2020-04-28 12:59] #24245 closed, assigned to nobody

[2020-04-28 14:09] ellinyang commented on #24234
的确是输入的数据类型不对，修正后可正常运行。yolov3的输入“image”是float32; “ image_shape”应该是int32。非常感谢！

[2020-04-28 15:29] zhwesky2010 commented on #24200
@titanseason 你好，装一下openblas版的paddlepaddle试一下，可能是电脑硬件的原因

[2020-04-28 23:06] lidanqing-vv commented on #23346
close this because PR merged

[2020-04-28 23:06] #23346 closed, assigned to nobody

[2020-04-29 01:54] gavin1332 opened #24252 "Bug report"
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/io.py#L925
requires `outputs={"Out": out}` but not `output={"Out": out}`

[2020-04-29 02:47] zhwesky2010 commented on #24200
@titanseason
 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/Tables.html#ciwhls-release 这个里面可以下载openblas版本，下载 win_cpu_openblas对应的

[2020-04-29 03:02] yiicy commented on #24228
你好，还请详细描述一下你的使用场景，训练任务，以及调用代码，方便我们进行跟进

[2020-04-29 03:07] peixin-lin opened #24255 "请问有能装paddlehub的docker镜像吗"
想pull 一个有paddle的docker后再来安装paddlehub，但是发现paddlepaddle的镜像装的都是python3.5版本的，而paddlehub要求python3.6以上版本，请问有能安装paddlehub的镜像吗

[2020-04-29 03:16] yiicy commented on #24230
你好，paddle作为开源框架不提供模型加密功能，还请您针对自己的业务自行实现模型加解密功能

[2020-04-29 04:01] MaxWellerVladimir opened #24258 "能否在官方文档中提供go语言接口编译较为详细的教程"
很开心paddle官方推出go语言接口，但在使用过程出现一些小问题。我在使用paddlepaddle进行go语言编译参照[官方文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#Compile)
进行本地编译，但是发现所列文档主要提供python 接口编译指南，所列过程部分没有对go语言编译指导，github go语言[README_cn.md](https://github.com/PaddlePaddle/Paddle/blob/develop/go/README_cn.md)安装指南更是有些难以理解
“首先cmake编译时打开-DON_INFER=ON,在编译目录下得到fluid_inference_c_install_dir,**将该目录移动到当前目录中并重命名为paddle_c

[2020-04-29 04:22] fc500110 commented on #24258
该目录指的是fluid_inference_c_install_dir，当前目录是paddle/go

[2020-04-29 04:31] MaxWellerVladimir commented on #24258
不好意思这里编辑错了，实际我是有些不清楚此处所说的当前目录，到底指哪里的目录？谢谢

[2020-04-29 04:43] fc500110 commented on #24258
当前目录是README_cn.md所在的目录，也就是Paddle/go

[2020-04-29 05:14] yiicy commented on #24242
你好，请对您的问题做详细的描述，你想保存哪里的图片，以及您的使用场景

[2020-04-29 05:20] yiicy commented on #24216
你好，我们已经找相关的同学排查该问题

[2020-04-29 05:20] yiicy commented on #24233
你好，我们已经找相关同学复现该问题

[2020-04-29 05:25] yiicy commented on #24237
你好，关于paddle hub的问题请移步https://github.com/PaddlePaddle/PaddleHub/issues 进行提问

[2020-04-29 06:07] xeyond opened #24262 "单机多卡训练报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7
    2）GPU：P40，Cuda9
    4）系统环境：CentOS，Python 2.7.14
- 训练信息
    1）单机，多卡
- 问题描述：使用单机多卡模式训练模型，报以下错误。place由CUDA改成CPU模式就可以正常运行
日志如下：
I0429 13:05:16.509969 124336 parallel_executor.cc:440] The Program will be executed on CUDA using ParallelExecutor, 8 cards are used, so 8 programs are executed in parallel.
/home/wangxiyang01/.pyenv/versions/2.7.14/lib/python2.7/site-p

[2020-04-29 06:21] wawltor commented on #24216
argsort op的输出结果本身是stop_gradient的，因为属于tensor 生成op；
建议以下修改
hardest_neg_score3 = fluid.layers.argsort(input=logits, axis=1, name='hardest_neg_score3')
hardest_neg_score3 = hardest_neg_score3[0]
hardest_neg_score3.stop_gradient = False
hardest_neg_score = fluid.layers.slice(input=hardest_neg_score3, axes=[1], starts=[int(batch_size - 1)], ends=[int(batch_size)])

[2020-04-29 06:23] Steffy-zxf commented on #24237
@lkkkk686 你好！请问出现以上报错信息的运行环境（paddle版本，paddlehub版本，python版本）是什么？运行的任务是什么？

[2020-04-29 06:26] Steffy-zxf commented on #24255
@peixin-lin 你好！你可以在docker中安装anaconda，之后用conda创建python 3.6以上版本，这样既可以安装paddle，也可以安装paddlehub。目前PaddleHub没有提供官方镜像。任何关于PaddleHub的问题，欢迎在PaddleHub repo下提issue, https://github.com/PaddlePaddle/PaddleHub/issues

[2020-04-29 06:52] emptyblue commented on #24152
我重新搭建了环境也不行，可能CPU版本有些底层驱动没有成功调用，
我现在用GPU版本就正常了，

[2020-04-29 07:56] zhiqiu commented on #23778
这个接口会对网络进行裁剪，只会保留与指定的feed和target有关的网络部分，你设置两个loss都作为target了吗？

[2020-04-29 08:13] #24186 closed, assigned to GaoWei8

[2020-04-29 08:25] saTan-Y commented on #23778
我是把两个loss的和作为target的，如果这样的话，是不是用两个优化器的话裁剪注定会有问题？

[2020-04-29 09:31] ipyffor opened #24274 "visualdl不能改变图片窗口大小吗"
每次显示图片都被压缩在窗口里面，直接变形，显示原图又超出窗口外面去了，放缩页面太大，左边部分的滚动条又超出屏幕外面去了

[2020-04-29 09:32] ipyffor opened #24275 "visualdl不能在页面批量保存图片"
如题

[2020-04-29 09:40] qingqing01 commented on #24228
@nosoldier  PaddleSlim的问题可以去 https://github.com/PaddlePaddle/PaddleSlim/issues 下面提issue。 另外，错误需要更详细一些，你上面贴的错误，还没看到GPU显存不足。 另外，注意nvidia-smi查看下，显存是否被占用。

[2020-04-29 09:41] nosoldier commented on #24228
好的

---原始邮件---
发件人: "qingqing01"<notifications@github.com&gt;
发送时间: 2020年4月29日 17:40:49
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Mention"<mention@noreply.github.com&gt;;"nosoldier"<1430578977@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] GPU内存不足 (#24228)

@nosoldier  PaddleSlim的问题可以去 https://github.com/PaddlePaddle/PaddleSlim/issues 下面提issue。 另外，错误需要更详细一些，你上面贴的错误，还没看到GPU不足。 另外，注意

[2020-04-29 09:50] AIpioneer commented on #24236
可以参考sequence_pooling op。

[2020-04-29 10:10] iclementine commented on #21915
It is fixed in this  PR
https://github.com/PaddlePaddle/Paddle/pull/22920

[2020-04-29 10:10] #21915 closed, assigned to phlrain

[2020-04-29 10:31] 3wGTA opened #24276 "特殊的乘法"
paddlepaddle如何实现如下的矩阵的乘法方式

![image](https://user-images.githubusercontent.com/62338824/80586298-53b67900-8a47-11ea-9a9b-6b925c0a617d.png)

即矩阵a中每一行的元素分别乘以矩阵b中每一行的元素
矩阵a 的形状是 $M,H$
矩阵b 的形状是 $N,H$

最终希望得到的形状是 $M,N,H$

[2020-04-29 10:55] tangbozhang opened #24278 "VS引用paddle GPU版本lib报错"
版本、环境信息：
1）PaddlePaddle版本：1.7.2
2）CPU：i7-9300H 16g内存
4）系统环境：win10家庭中文版、Visual Studio 2015 update3  专业版C++ 编译
5）paddle库安装包 “cuda10.0_cudnn7_avx_mkl”- |fluid_inference.zip （直接官网下载：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/windows_cpp_inference.html）

自己新写的工程，调用paddle 的头文件和lib库，CPU版本X64位编译通过，运行也正常；GPU版本X64位编译报错“”LINK : fatal error LNK1104: 无法打

[2020-04-29 11:30] zhwesky2010 commented on #24278
@tangbozhang 可能是库的大小太大，用VS2015 cmd编译的试下，cmake -G后面的命令改成，cmake -G "Visual Studio 14 2015 Win64" -T host=x64，其他的不边

[2020-04-29 11:50] gfwm2013 commented on #24262
@xeyond 已经assign给负责的同学了，同时想问一下，报错的log已经给出了吗？特别是`EnforceNotMet` 部分的log是否全部给出？

[2020-04-29 11:54] xeyond commented on #24262
已经全部给出了，打印出的log就是这样：
![image](https://user-images.githubusercontent.com/15686994/80593129-31c2f380-8a53-11ea-9e04-dd70a9b6e506.png)

[2020-04-29 11:57] gfwm2013 commented on #24262
@xeyond 好的，收到，谢谢。

[2020-04-29 12:02] tangbozhang commented on #24278
cmake 之前没用过，参考官方设置报错。是否有在vs工具下编译的方法？
![image](https://user-images.githubusercontent.com/53244607/80593763-5370aa80-8a54-11ea-90cb-b7f2d38e55fa.png)

[2020-04-29 14:46] AIpioneer commented on #24242
vdl现在是不支持批量下载图片的，但是2.0版本会增加下载按钮支持单个图片下载的

[2020-04-29 15:21] gfwm2013 commented on #24276
@3wGTA 可以考虑通过split + elementwise_mul + concat 的组成完成上述操作

[2020-04-30 00:24] Boyan-Liu commented on #24241
@yiicy

[2020-04-30 02:01] gfwm2013 commented on #24274
您好，1.3.0版本的vdl前端不能调整大小，为了避免图像失真，建议您在后端记录的时候将图片做预处理，我们已经优化了此处功能，此问题在稍后的新版本中将得以解决。
另外，如果有VisualDL相关的问题，也欢迎您来vdl的repo下进行交流、提问。
https://github.com/PaddlePaddle/VisualDL

[2020-04-30 02:08] ShenYuhan commented on #24275
您好，目前visualdl暂时不支持此功能，您的需求我们已经反馈给相关同学，后续版本会根据需求优化。
如果有关于visualdl的问题，欢迎您在visualdl的repo下交流和提问：
https://github.com/PaddlePaddle/VisualDL

[2020-04-30 02:11] Mr-Nineteen opened #24282 "[BUG]: Setting the GPU card configuration does not take effect."
description：
**1.nvidia-smi**
Thu Apr 30 10:05:47 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.87.00    Driver Version: 418.87.00    CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Us

[2020-04-30 03:42] zhiqiu commented on #23778
hi, 请把你的code发出来看下

[2020-04-30 05:55] saTan-Y commented on #23778
简化了一下主干代码，如下
###input1 为子网络1的输入，input2位子网络2的输入
def model():
	data_list = []
	data.append(input1)
	data.append(input2)
	data.append(label)
	predict1 = fluid.layers.fc(input=input1, size=1, act=None, param_attr=fluid.ParamAttr(name="input1_weight"), bias_attr=fluid.ParamAttr(name="input1_bias"))
	predict2 = fluid.layers.fc(input=input2, size=1, act=None, param_attr=fluid.ParamAttr(name="input2_weigh

[2020-04-30 05:58] saTan-Y commented on #23778
抽取主干代码如下

`###input1 为子网络1的输入，input2位子网络2的输入
def model():
	data_list = []
	data.append(input1)
	data.append(input2)
	data.append(label)
	predict1 = fluid.layers.fc(input=input1, size=1, act=None, param_attr=fluid.ParamAttr(name="input1_weight"), bias_attr=fluid.ParamAttr(name="input1_bias"))
	predict2 = fluid.layers.fc(input=input2, size=1, act=None, param_attr=fluid.ParamAttr(name="input2_weight"

[2020-04-30 06:07] saTan-Y commented on #23778
###input1 为子网络1的输入，input2位子网络2的输入
def model():
	data_list = []
	data.append(input1)
	data.append(input2)
	data.append(label)
	predict1 = fluid.layers.fc(input=input1, size=1, act=None, param_attr=fluid.ParamAttr(name="input1_weight"), bias_attr=fluid.ParamAttr(name="input1_bias"))
	predict2 = fluid.layers.fc(input=input2, size=1, act=None, param_attr=fluid.ParamAttr(name="input2_weight"), bias_att

[2020-04-30 06:13] GaoWei8 opened #24288 "LoD信息传输组网时和运行时不一致的问题"
- 现象：增强lod_append报错信息#23541，当level参数的lod_level=0时，严格检查level的类型。会导致部分模型[报错](http://newicafe.baidu.com/v5/issue/DLTP-5747/show)。

- PaddlePaddle版本：commit 0be4b04

- 目前状态：暂时将level参数的类型检查去除#24133，由相应解决方案后添加报错检查。

- 错误原因：
1. lod_append类型要求：当lod_level>0时，无数据类型要求；当lod_level=0时，数据类型为 "int32"。
2. 部分OP的lod_level>0，但是lod信息未在组网中正确传输，导致组网时lod=0。但是运行时的lod_level>0。
3. 这类OP，增强lod_append的类型检查后，触发了lod=0的类型检查。但是其实op

[2020-04-30 07:17] gekie opened #24289 "centos7 cuda10. 0环境下安装paddlepaddle-gpu成功后调用出现异常"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu 1.7.2.post107
    2）CPU：Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz
    3）GPU：GeForce GTX 1070 Ti
    4）系统环境：CentOS Linux release 7.6.1810 (Core)、Python 3.7.7
- 安装方式信息：
1）conda install paddlepaddle-gpu cudatoolkit=10.0

- 复现信息：
使用python进入python解释器，
输入import paddle.fluid，
再输入 paddle.fluid.install_check.run_check()
异常：
`>>> paddle.fluid.install_check.run

[2020-04-30 08:03] houj04 opened #24290 "使用profile工具时，参考device_switching的文档，输出不符合预期"
版本：1.7.2GPU
代码：抄这里：
https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/fluid/advanced_guide/performance_improving/device_switching/device_switching.md
的“使用profile工具确认是否发生了数据传输”一节。

我这儿看到的输出，和文档给的不一致，如下图。其中没有出现GPUmemory相关的内容。

![图片](https://user-images.githubusercontent.com/35131887/80686919-14962f80-8afc-11ea-8136-ad5eecc87048.png)

[2020-04-30 08:06] zhangting2020 commented on #24290
1.7.2版本的paddle中，profile工具还未支持打印GpuMemcpy内容。可以尝试用develop的whl包

[2020-04-30 08:22] irukawang opened #24291 "指数滑动平均ema不支持并发"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle1.6/paddle1.7/包括mpi集群
    2）系统环境：centOs

- 问题描述：ExponentialMovingAverage 多并发不支持，错误信息如下：
本地，多核错误信息：
[Hint: Expected sorted_ops.size() == topo_ops.size(), but received sorted_ops.size():90 != topo_ops.size():155.] at (/paddle/paddle/fluid/framework/ir/multi_devices_graph_pass/multi_devices_graph_pass.cc:778)
集群，多节点错误信息：
[Hint: Expected dev_id != -1, but received

[2020-04-30 08:26] saTan-Y commented on #23778
有个地方写错了，请以这个为准。
###input1 为子网络1的输入，input2位子网络2的输入
def model():
data_list = []
data.append(input1)
data.append(input2)
data.append(label)
predict1 = fluid.layers.fc(input=input1, size=1, act=None, param_attr=fluid.ParamAttr(name="input1_weight"), bias_attr=fluid.ParamAttr(name="input1_bias"))
predict2 = fluid.layers.fc(input=input2, size=1, act=None, param_attr=fluid.ParamAttr(name="input2_weight")

[2020-04-30 08:27] saTan-Y commented on #23778
有个地方写错了，请以这个为准。
###input1 为子网络1的输入，input2位子网络2的输入
def model():
data_list = []
data.append(input1)
data.append(input2)
data.append(label)
predict1 = fluid.layers.fc(input=input1, size=1, act=None, param_attr=fluid.ParamAttr(name="input1_weight"), bias_attr=fluid.ParamAttr(name="input1_bias"))
predict2 = fluid.layers.fc(input=input2, size=1, act=None, param_attr=fluid.ParamAttr(name="input2_weight")

[2020-04-30 08:31] zhangting2020 commented on #24290
试试这个链接的whl包：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-gcc8-2-develop

[2020-04-30 08:32] zhangylch commented on #23881
好的吧

[2020-04-30 08:38] PeterPanZH commented on #24274
你好，VisualDL 2.0目前正处在alpha阶段，已经大幅优化了交互，解决了您所说的问题，欢迎试用，也可以敬请期待稍后2.0正式版的发布。有任何意见和建议欢迎在VisualDL repo下提出issue，谢谢。

[2020-04-30 08:39] ipyffor commented on #24274
怎么试用

影

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Peter Pan"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月30日(星期四) 下午4:38
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"631707329"<631707329@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] visualdl不能改变图片窗口大小吗 (#24274)

你好，VisualDL 2.0目前正处在alpha阶段，已经大幅优化

[2020-04-30 08:42] PeterPanZH commented on #24275
你好，暂时没有实现本功能，您可以在visualdl repo下开一个issue并加上feature标签，我们会有人负责收集需求并讨论，非常感谢。

[2020-04-30 08:50] houj04 opened #24292 "多卡的时候用profile，会报一个nccl的错误"
版本：1.7.2GPU。

代码见附件（mnist.txt。实际是个py，但是github不让上传py）
[mnist.txt](https://github.com/PaddlePaddle/Paddle/files/4557169/mnist.txt)

多卡+profile运行的时候会报一个nccl的错，见附件。
[multi_card_profile.txt](https://github.com/PaddlePaddle/Paddle/files/4557168/multi_card_profile.txt)

同样的机器，去掉profile相关的代码（一共就一行），多卡运行正常。
[multi_card_no_profile.txt](https://github.com/PaddlePaddle/Paddle/files/4557183/multi_card_no_profi

[2020-04-30 09:18] Joejiong commented on #19351
增加四个参数吗还是什么？

[2020-04-30 09:23] wangchaochaohu commented on #24292
[code]

你好 我这边本地复现了一下是可以运行的 可能是环境的问题吧

[2020-04-30 09:27] zhwesky2010 commented on #24278
@tangbozhang hi，你这个cmake可以用的，是因为你输入的CUDA目录中间有空格，被判定成两个变量了，你将-DCUDA_LIB后面的这个目录用""包一下，还有就是CMAKE_BUILD_TYPE=Release。cmake之后用msbuild /m /p:Configuration=Release object.vcxproj编译

[2020-04-30 09:52] DannyIsFunny commented on #24289
你好，错误提示显示，是cuBLAS 库没有安装成功，请检查GPU CUDA环境是否安装正常

[2020-04-30 10:15] gekie commented on #24289
正常的，我一直用TF.gpu

[2020-04-30 10:36] 3wGTA opened #24294 "把batch分开"
[code]
输入数据 x,y,label
一个batch 中有两个 (x1,y1,label1),(x2,y2,label2) 两个数据
其中x1长为M1，y1长为M2，label1为1
x2长为N2，y2长为N2, label 长为1
经过lstm网络之后，lstm_x,和lstm_y变成的矩阵形状是
lstm-x    (M1+M2,  h) 带有lod信息    [0, M1, M1+M2]
lstm-y    (N1+N2, h) 带有lod信息    [0, N1, N1+N2]
![image](https://user-images.githubusercontent.com/62338824/80700851-f850bd80-8b10-11ea-9cf1-c04ea0a2d753.png)

按照上面红线分开两个矩阵，把分别小矩阵进行计算
lstm_x 分成 (N1,h

[2020-04-30 12:07] JepsonWong commented on #24289
nvcc -V输出看看？
PATH、LD_LIBRARY_PATH环境变量输出来看看

[2020-04-30 12:21] gekie commented on #24289
[root@localhost ~]# nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Sat_Aug_25_21:08:01_CDT_2018
Cuda compilation tools, release 10.0, V10.0.130
[root@localhost ~]# ^C
[root@localhost ~]# echo $PATH
/root/local/bin:/root/local/bin:/data/projects/anaconda3/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/usr/local/cuda/bin:

[2020-04-30 12:38] jczaja opened #24295 "[oneDNN] Add bfloat16 to C-API"
It could good to add bfloat16 inference support to PaddlePaddle.  There will be no quantization, so it should not be that difficult to have Fp32 model converted t bfloat16 (oneDNN has mechanics for that) and
run inference.
1. Extend C-API analysis config to support bfloat16 inference
2. check accuracy

[2020-04-30 12:42] henrystrident opened #24296 "load model parameters with load_dygraph"
When I create a model with a **.pdparams** file , an error occures like this: **RuntimeError: Parameter not found, Can't not find [ features.conv0.weight ] in stat_dictuse_structured_name is set to [True**]. And my code:

[code]

[2020-04-30 13:29] Meiyim opened #24297 "请教allgather使用教程"
hi~ 我目前在尝试paddle分布式通信API：

https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/collective.py#L108

在paddle 1.7.1 cuda10.1 动态图模式下，直接尝试调用出现问题（静态图也会发生类似问题），辛苦帮忙排查一下是否用法有误~

执行方法：
[code]
测试代码:
[code]

报错信息为：`Error: comunicator of ring id 1 has not been initialized`

检查NCCL以及V_Log，感觉nccl应该是已经初始化了才对（rank0、rank1的log类似）：
[code]

[2020-04-30 15:11] bufuchangfeng opened #24298 "Adam那一行报错"
640             with program_guard(program, startup_program):
    641                 params_grads = append_backward(loss, parameter_list,
--> 642                                                act_no_grad_set, callbacks)
    643                 # Note: since we can't use all_reduce_op now,
    644                 #  dgc_op should be the last op of one grad.
/opt/conda/envs/python35-paddle120-env/

[2020-05-01 01:33] #24252 closed, assigned to gavin1332

[2020-05-01 08:09] relaxtheo opened #24299 "无法进入Docker容器：docker: Error response from daemon: OCI runtime create failed: unable to retrieve OCI runtime error"
安装quick指南（https://www.paddlepaddle.org.cn/install/quick），在ubuntu 18.04上采用docker方式安装python3_Cuda10版本的paddle，在第7步 用镜像构建并进入Docker容器遇到了下面的错误：

docker: Error response from daemon: OCI runtime create failed: unable to retrieve OCI runtime error (open /run/containerd/io.containerd.runtime.v1.linux/moby/6a245b88265a0646ed388c9fb9d8e64835182902b30cbc773bc249fed07984dc/log.json: no such file or directory):

[2020-05-01 12:57] 3wGTA opened #24300 "lstm错误"
python 3.7
paddle 1.72-gpu

[code]

经过多次测试，发现经过lstm网络之后输出的形状是[batch_size, seq_len, hidden_size]
并且lstm中的双向是没有效果的，是否使用双向，得到的结果都是上述的形状

本次输入数据
[([9, 1, 3, 8], [8, 5], 0), ([0, 3, 2, 5], [8, 3], 0), ([9, 5], [4, 5, 9, 3, 2, 3, 7], 1), ([4, 5, 5, 4], [7, 5, 2], 1), ([6, 7], [5, 4, 6, 0, 4], 1)]

batch_size=5
fetch的结果如下
t
[[0, 4, 8, 10, 14, 16]]
[9 1 3 8 0 3 2 5 9 5 4 5 5 4 6 7]
(16,)
_________________

[2020-05-01 13:04] 3wGTA commented on #22979
我也遇到同样的问题，如下代码确实没有发挥双向作用
[code]

毫无双向作用，经过 许多次测试，没有发挥双向作用，而且输出和官方文档描述的不符合！！！
输出形状不符合
版本 1.72-gpu

[2020-05-02 01:15] jiweibo commented on #24299
请确认下你安装的nvidia docker，最新版的nvidia docker应该是docker run --gpus all的启动方式

[2020-05-02 01:18] jiweibo commented on #24300
参考lstm文档，is_bidirec为False的时候 输出shape 为[seq_len,batch_size,hidden_size]

is_bidirec为True的时候，输出shape为[seq_len,batch_size,hidden_size∗2]

根据lstm文档介绍，其中init_h和init_c在is_didirec=True的时候，shape应为[num_layers∗2,batch_size,hidden_size]，你可以修改下这个维度再测试下

[2020-05-02 02:11] 3wGTA commented on #24300
https://github.com/PaddlePaddle/Paddle/issues/22979#issue-579681421

你可以先跑下，这里我和他同样的问题

刚才又试了一遍
复制就可以跑的代码,你可以尝试改下is_bidirec,发现没有什么作用的
[code]

[2020-05-02 08:36] DannyIsFunny commented on #24298
你好，请问可以描述一下具体的场景吗，是在使用paddlepaddle的哪一个API出现的问题呢

[2020-05-02 10:30] DannyIsFunny commented on #24282
你好，这个问题的原因是
[code]
`FLAGS_selected_gpus `的值需要小于`CUDA_VISIBLE_DEVICES`的值： `CUDA_VISIBLE_DEVICES` 这里只设置了一个卡，`FLAGS_selected_gpus `只能设置 0或者不设置
[code]

[2020-05-02 10:34] DannyIsFunny commented on #24291
你好，当前 `ExponentialMovingAverage `不支持多并发，分布式并发相关功能开发中

[2020-05-02 10:40] DannyIsFunny commented on #24294
你好，可以通过 [splict接口](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/split_cn.html#split)达到分开矩阵矩阵的目的，然后进行后续的计算操作

[2020-05-02 11:03] DannyIsFunny commented on #24296
你好，保存的动态图模型文件需要使用接口`load_dygraph `加载
[code]
详情可以参考： [load-dygraph接口文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/load_dygraph_cn.html#load-dygraph)

[2020-05-02 14:01] henrystrident commented on #24296
谢谢回答，问题我已经找到了，在加载的时候应该这样写：
[code]
load_dygraph得有两个变量接受

[2020-05-02 14:01] #24296 closed, assigned to nobody

[2020-05-02 23:46] 3wGTA commented on #24294
关键是在组网的时候通过什么api才能够知道他们的lod信息呢，找了好久，没找到

[2020-05-03 00:01] 3wGTA commented on #24294
目前看到官方的只有通过fluid.layer.Print()打印变量的lod信息，或者fetch出来，没有其他的方法了

[2020-05-03 01:20] ENGWayne opened #24301 "训练VGG模型时报TypeError（动态图）"
python版本：python3.7
框架版本：PaddlePaddle 1.7.1
环境：AI studio GPU版本
定义好VGG模型后，运行如下代码：

[code]

报错：
[code]

我的VGG网络定义如下：

[code]

请教是哪里的问题？

[2020-05-03 04:05] qgqinfen opened #24302 "执行paddle.fluid.install_check.run_check()时，出现错误"
环境配置：
python3.5 64位
pip 20.1 64位
cuda 9.0
cudnn 7.6
处理器为X86_64

安装paddlepaddle时 使用下面的命令
python3 -m pip install paddlepaddle-gpu==1.7.2.post97 -i https://mirror.baidu.com/pypi/simple

Running Verify Paddle Program ...
W0503 11:40:39.469370  7452 device_context.cc:237] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.1, Runtime API Version: 9.0
W0503 11:40:39.471192  7452 device_c

[2020-05-03 08:28] shaunhurryup opened #24303 "如何简单地打印Tensor内容"
刚才看了一下**最近邻上采样**，如下：
1 2
3 4
**变成**
1 1 2 2
1 1 2 2
3 3 4 4
3 3 4 4
想用**resize_nearest**方法尝试做，并且输出。但是对于没有loss的网络在exe.run中不知道如何写参数
[code]

[2020-05-03 08:35] huangguanMayday opened #24304 "怀疑cast、log、exp等OP导致的死循环"
第99行换成第100行，就貌似死循环了，训不动:

![image](https://user-images.githubusercontent.com/4018038/80909578-eb73da00-8d5b-11ea-9402-b3c1b99ee694.png)

[2020-05-03 08:49] FrostML commented on #24302
W0503 11:40:39.469370 7452 device_context.cc:237] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.1, Runtime API Version: 9.0

看上去是 CUDA 的问题。请问确认是使用的是 CUDA 9 么？可以将 CUDA 9 相关 lib 的路径加入 LD_LIBRARY_PATH

[2020-05-03 08:58] qgqinfen commented on #24302
确定是cuda9，CUDA9相关lib路径也加入到LD_LIBRARY_PATH中
![CY} 6%Z2CBDT)57PMIJD$9A](https://user-images.githubusercontent.com/45931564/80909988-29263200-8d5f-11ea-9555-d33a80196834.png)。安装cudnn7.6.5之后我没有重启机器。

[2020-05-03 09:02] FrostML commented on #24301
[code]
关于`Conv2D`，1.7 没有`name_scope `的参数了，可以参照 1.7 最新的[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Conv2D_cn.html#conv2d)

[2020-05-03 09:06] FrostML commented on #24304
可以提供下`hinge_loss`和`circle_loss`的实现么？

[2020-05-03 09:08] huangguanMayday commented on #24304
可以私聊发环境给你复现？你是百度员工吗？

[2020-05-03 09:25] FrostML commented on #24303
打印Tensor可以使用[`fluid.layers.Print`](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print)
可以尝试使用下[`fluid.layers.pad2d`](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/pad2d_cn.html#pad2d)，看看能不能满足需求，不过要求输入的数据必须是 **4-D**。
[code]

[2020-05-03 10:13] shaunhurryup commented on #24303
感谢你的及时回复，我成功地通过 `fluid.layers.Print` 输出Tensor的值。

但是问题被我简化后可能表达不清楚，具体情况假设一个size =（-1，3，48，48）的图片经过CNN变成了size =（-1，512，6，6）的图片，使用FPN需要将上层的size×2和本层做 `elementwise_add` 操作。而6×6的h和w无法通过pad2d填充，还是需要通过 `resize_nearest` 的操作实现。

问题已经解决，将代码贴一下希望能帮助到其他的人，让开发的小哥哥省一点力气~
[code]

[2020-05-03 10:13] #24303 closed, assigned to nobody

[2020-05-04 08:29] GentleCP opened #24307 "训练过程中提示Variable value (label) of OP(fluid.layers.cross_entropy) expected >= 0 and < 1, but got 9"
在用官网的aistudio环境训练时出现未知问题
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    2）CPU：aistudio 基础版
    4）系统环境：aistudio环境
- 训练信息
    1）单机
    2）显存信息
    3）Operator信息
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

Error Message Summary:
----------------------
Error: Variable value (label) of OP(fluid.layers.cross_entropy) expected >= 0 and < 1, but got 9. Please check label value. at (/paddle/paddle/fluid/operators/cros

[2020-05-04 08:48] cryoco commented on #24307
您好，看报错信息是在cross_entropy中，label的值超过了类别数的上限。
可以参考cross_entropy的文档，https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/cross_entropy_cn.html#cross-entropy
，input的最后一维是类别数目，在您的报错信息中显示您把它设为了1，但却出现了值为9的label，请检查下这里是否设置有误哈～

[2020-05-04 09:16] GentleCP commented on #24307
哦找到了，是我网络输出那里类别数写错了,感谢感谢。 但是训练的时候出现了新的问题，我的predict是[128,10]的(128是batch_size)，label是[128,1] 。通过交叉熵计算得到的loss data是nan，不知道是什么原因。下面是predict 和label的部分内容：
- predict
name tmp_13, dtype: VarType.FP32 shape: [128, 10] 	lod: {}
	dim: 128, 10
	layout: NCHW
	dtype: float
	data: [-1.66276 -1.82948 -1.29232 0.713727 -1.42557 -1.37891 0.168096 0.953176 0.412122 0.0383092 -0.784453 -0.883333 -1.06902 0.423694 -0.

[2020-05-04 16:12] DrRyanHuang opened #24308 "`LayerHelper`没有对应的文档？"
[code]
[code]
希望可以尽快完善

[2020-05-05 06:54] relaxtheo commented on #24299
应该是nvidia-docker没有装好。
重新按照nvidia-docker的要求安装，直接使用docker命令，没有采用quick guide中的nvidia-docker命令，目前看起来是好的

[2020-05-05 06:54] #24299 closed, assigned to nobody

[2020-05-05 11:48] lartpang opened #24309 "按照教程安装，运行自定义模型，遇到CUDNN_STATUS_BAD_PARAM"
## 版本、环境信息：

使用的文档<https://www.paddlepaddle.org.cn/install/quick>里的安装方法：`conda install paddlepaddle-gpu cudatoolkit=10.0`。

安装后：
* GPU：1080Ti，PaddlePaddle，CUDA和CUDNN版本使用的时conda安装时自动安装的版本：
    * cudatoolkit               10.0.130                      0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
    * cudnn                     7.3.1                cuda10.0_0    https://mirrors.tuna.t

[2020-05-05 13:40] Archimondecy opened #24310 "ValueError: setting an array element with a sequence"
   1）PaddlePaddle版本：1.6.1
    2）CPU、GPU相同，均复现
    4）系统环境：百度内测试机centos

实现最简单的DNN出现【ValueError: setting an array element with a sequence】错误。实在没有头绪不知道怎么检查求帮助。
错误信息：
![image](https://user-images.githubusercontent.com/9897441/81072339-95986100-8f18-11ea-8b99-1c9abe0f0a8e.png)

最简单的单层DNN也会报错。
读数据：
![image](https://user-images.githubusercontent.com/9897441/81072418-b2349900-8f18-11ea-8aa0-e1cbc59c5004.p

[2020-05-06 01:38] dongminghao opened #24311 "paddlepaddle1.8源码编译安装报错"
在windows下编译paddle
环境是x86_64 python3.8.2_64  编译成功
安装wheel包时报错。
用python3.7.7_64版本编译出来的wheel可以正常安装。
出错信息
 ERROR: Command errored out with exit status 1:
     command: 'C:\Users\dongm\Anaconda3\envs\paddle1.8cp38\python.exe' 'C:\Users\dongm\Anaconda3\envs\paddle1.8cp38\lib\site-packages\pip\_vendor\pep517\_in_process.py' prepare_metadata_for_build_wheel 'C:\Users\dongm\AppData\Local\Temp\tmp02nada35'

[2020-05-06 01:46] sandyhouse commented on #24297
首先，L.collective._c_allgather(i, D.parallel.Env().nranks, did, use_calc_stream=True)传入的参数是ring_id而不是device_id，这两个是不同的概念。

另外，不太确定你在什么地方调用创建ring_id的操作呀。

[2020-05-06 02:11] juncaipeng commented on #24308
layer_helper没有暴露给外部用户，在官网api中也没有给出，不建议用户使用，所以应该不需要文档。

[2020-05-06 02:24] Meiyim commented on #24297
我可能将ring_id理解为了device_id;因此并没有创建ring_id;
可否请教一下使用什么api创造ring_id；以及这个ring_id的含义有木有相关的指导教程；谢谢~

[2020-05-06 02:34] juncaipeng commented on #24310
是pyreader配置数据不对，导致错误，可以参考这个issue进行定位：https://github.com/PaddlePaddle/Paddle/issues/15495

建议使用fluid.layers.Print(label), 输出对应的信息。

有更多问题请贴出来。

[2020-05-06 02:48] Mr-Nineteen commented on #24282
@DannyIsFunny

**还是有问题。**

**1、参数设置：**
export CUDA_VISIBLE_DEVICES="1"
export FLAGS_selected_gpus="0"
export NV_GPU=1

**2、测试代码：**
import paddle.fluid as fluid
gpu_place = fluid.CUDAPlace(0)
fluid.install_check.run_check()

**3、报错：**
Python 3.7.3 (default, Mar  5 2020, 18:37:12)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-11)] on linux
Type "help", "copyright", "credits" or "license" for more information.

[2020-05-06 02:52] cryoco commented on #24307
您好，请问问题是否解决了哈

[2020-05-06 02:57] juncaipeng commented on #24309
请参考这个issue：https://github.com/PaddlePaddle/Paddle/issues/22510

由于在cuda10环境下paddle中1.6.2之后版本提供的whl包是 cudnn7.6的，你的机器环境是cudnn7.3，导致报错，建议升级cudnn环境为7.6，有问题请继续反馈给我们。

[2020-05-06 02:58] phlrain commented on #24309
能否试下把cudnn的版本升级到7.6版本
报错的问题，我们再进一步优化下

[2020-05-06 03:06] LLChocolate opened #24313 "动态图中索引的问题"
_, idx = fluid.layers.topk，
idx是一个索引类型
idx_base = fluid.layers.range(0,batch_size,1,dtype='int64')
idx_base = fluid.layers.reshape(idx_base,[-1,1,1]) * num_points
idx = idx + idx_base
idx = fluid.layers.reshape(idx,[-1],inplace=True)
idx.stop_gradient = True

feature = feature[idx, :]
这个索引操作报错了

TypeError: slice(): incompatible function arguments. The following argument types are supported:
    1.

[2020-05-06 03:23] GentleCP commented on #24307
是的已经解决啦，感谢。之前是网络输出的问题 574881148 Email:574881148@qq.com Signature is customized by Netease Mail Master 在2020年05月06日 10:52，Pei Yang 写道： 您好，请问问题是否解决了哈 — You are receiving this because you authored the thread. Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-06 03:29] #24307 closed, assigned to nobody

[2020-05-06 04:38] DannyIsFunny commented on #24294
你好，请问是需要获取`LoD Tensor`的LoD 信息吗。 `LoD Tensor`的`LoD`信息可以直接通过 调用其`lod()`接口查询，例如
[code]
详细说明可以参考： [LoDTensor](https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/lod_tensor.html#lod)

[2020-05-06 04:50] 3wGTA commented on #24294
@DannyIsFunny 这样我会啊，我想知道的是在组网的时候除了layers.Print还有什么方法，官方就给了两种方法，看完了文档

[2020-05-06 05:12] lartpang commented on #24309
我怀疑paddlepaddle1.7的conda包的信息是不是配置有问题，我是用coda-tree查看对应的依赖关系（`conda-tree deptree > tree.txt`），如下：

![图片1](https://user-images.githubusercontent.com/26847524/81140220-362f6500-8f9b-11ea-95d4-17711825a669.png)

另外，我直接用conda升级总是提示包冲突，一直停滞在进度条界面。

---

我之所以用conda安装，就是看中了它可以自动安装cuda和cudnn，没必要配置系统，也可以让我在不同的子环境里使用不同的cuda版本。

[2020-05-06 05:17] lartpang commented on #22510
你用的是conda安装的paddle？哪个7.6.5的cudnn是系统里cudnn安装的版本吧？conda安装的程序似乎会优先检测环境里的cudnn版本

[2020-05-06 06:07] FrostML commented on #24302
辛苦麻烦 @JepsonWong 看看。

[2020-05-06 06:16] DannyIsFunny commented on #24294
你好，获取LoD 数值当前只有以下两种方法 （https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/lod_tensor.html#faq）
![image](https://user-images.githubusercontent.com/45189361/81143338-3718c480-8fa4-11ea-864a-cd1138c7cbe1.png)

[2020-05-06 06:51] houj04 commented on #24292
我把作业提交到集群上的标准环境是可以的。所以应该还是我自己本地开发机的环境问题。
我先自行排查吧，多谢~

[2020-05-06 06:51] #24292 closed, assigned to nobody

[2020-05-06 07:30] FrostML commented on #24304
同步下目前的结果，两个 loss 相关的实现如下：
![image](https://user-images.githubusercontent.com/7160927/81147280-8b27a700-8fac-11ea-9c9d-e314171e059a.png)

[2020-05-06 07:38] FrostML commented on #24304
同步下目前的进展，两个 loss 相关的实现如下：
![image](https://user-images.githubusercontent.com/7160927/81147280-8b27a700-8fac-11ea-9c9d-e314171e059a.png)
以及
![image](https://user-images.githubusercontent.com/7160927/81148403-ccb95180-8fae-11ea-874a-0bfb4e86969b.png)
目前调试，是在改小了 dataset.set_thread() 设置的线程数（16->10）之后可以跑通训练。
dataset 的设置如下：
[code]
转 xjq 跟进

[2020-05-06 07:51] LLChocolate opened #24315 "训练误差降低，测试误差升高"
模型在训练时loss降低，但是在model.eval()后测试，loss反而升高。
应该不是过拟合，因为测试的时候也使用的是训练时的数据集。

[2020-05-06 07:52] LLChocolate commented on #24315
这是在动态图里出现的问题。

[2020-05-06 07:57] JepsonWong commented on #24289
麻烦nvidia-smi看看显卡驱动版本。

我给您提供一个测试程序，看看您那边执行会有什么问题呢？

[code]

1. 程序保存为test.cu文件
2. 编译: nvcc test.cu -o test -lcublas -std=c++11
3. 执行: ./test

[2020-05-06 07:58] JepsonWong commented on #24302
麻烦nvidia-smi看看显卡驱动版本，输出PATH、LIBRARY_PATH 、LD_LIBRARY_PATH看看结果。

我给您提供一个测试程序，看看您那边执行会有什么问题呢？

[code]

1. 程序保存为test.cu文件
2. 编译: nvcc test.cu -o test -lcublas -std=c++11
3. 执行: ./test

[2020-05-06 08:12] qgqinfen commented on #24302
您好，显卡驱动版本
![显卡驱动版本s](https://user-images.githubusercontent.com/45931564/81152105-3720c080-8fb4-11ea-83ba-420665cecabd.png)
环境变量值
![环境变量path library_path lc_library_path](https://user-images.githubusercontent.com/45931564/81152217-54558f00-8fb4-11ea-8434-c83f162f076f.png)
测试程序的输出结果
![测试程序结果](https://user-images.githubusercontent.com/45931564/81152266-5fa8ba80-8fb4-11ea-90df-9de4c6612eff.png)

[2020-05-06 08:35] sandyhouse commented on #24297
静态图里面的话，一般使用fleet api启动分布式的话，运行startup_program会自动创建。

[2020-05-06 08:38] JepsonWong commented on #24302
看起来CUBLAS库初始化完毕了，但执行操作有问题，我在写个测试程序您测试下，稍等。

[2020-05-06 08:44] Meiyim commented on #24297
懂了；顺便请教一下[`broadcast`](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/collective.py#L56)和[`c_broadcast`](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/collective.py#L94) 两个op有何异同；对于paddle 1.7以后动态图；推荐使用哪个。

[2020-05-06 08:51] JepsonWong commented on #24315
loss差别多大呢？如果差别不是很大的话，会不会是dropout、batch_norm这些因素的影响呢？
方便提供下复现程序么？

[2020-05-06 08:55] LLChocolate commented on #24315
差别巨大，我可以把代码直接发到你邮箱吗

[2020-05-06 08:56] LLChocolate commented on #24315
刚刚测试的结果是在如果去掉model.eval的话，结果就正常了

[2020-05-06 09:05] Fighter-zzp opened #24316 "使用visualdl怎么延续之前的记录"
我在使用**visual**记录训练数据，但是训练时不小心断了，如果重新训练的话怎么延续之前来的记录？
`train_recall1.add_record(iter_no, r_v[iter_no])
        train_loss1.add_record(iter_no, l_v[iter_no])
        train_recall2.add_record(iter_no, r_v[iter_no] / 1.8)
        train_loss2.add_record(iter_no, l_v[iter_no] * 1.9)`的代码记录训练数据但是前两个既然没绘制出折线图后两个却有？这是为什么？

[2020-05-06 09:07] zhwesky2010 commented on #24311
@dongminghao 请问从头到尾用的都是Anaconda3中的python吗，是否有多个python

[2020-05-06 09:11] qingqing01 commented on #23998
@zenghsh3  已在 https://github.com/PaddlePaddle/Paddle/pull/24190  中修复

[2020-05-06 09:11] LLChocolate commented on #24315
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"zhongpu"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月6日(星期三) 下午4:52
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"542232570"<542232570@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] 训练误差降低，测试误差升高 (#24315)

loss差别多大呢？如果差别不是很大的话，会不会是dropout、batch_norm这些因素的影响呢？
 方便提供下复

[2020-05-06 09:58] jiweibo commented on #24300
相关同学已确认接口存在问题，修复后再通知您

[2020-05-06 10:00] 3wGTA commented on #24300
3q，修复后我用paddle完成模型，这个接口让我暂时不得不换平台了

[2020-05-06 10:22] Meiyim opened #24317 "fluid.layer.rnn 不能指定paramAttr"
测试paddle版本：1.7.1 gpu
测试代码：

[code]

错误输出：
[code]

[2020-05-06 11:03] JepsonWong commented on #24317
这个是encoder_fwd_cell、encoder_bwd_cell名字起成一样了

[2020-05-06 11:19] Meiyim commented on #24317
不一样额 差一个字母，你再看看？

[2020-05-06 11:50] JepsonWong commented on #24317
bias_attr 不能设置为 string 属性。

[2020-05-06 11:52] JepsonWong commented on #24315
目前结论是去掉model.eval就正常么？

[2020-05-06 11:58] LLChocolate commented on #24315
我发现问题出现在模型中，其中有一段程序是knn和获取动态图特征get_graph_feature，这两段代码加上之后就会出现这种现象。动态图的代码里用到了索引操作，可能在动态图里这种索引操作有问题。

[2020-05-06 12:12] sandyhouse commented on #24297
建议使用c_broadcast.

[2020-05-06 12:29] LLChocolate commented on #24315
最新发现是和优化器有关系……用sgd就正常了，然后用adam把学习率调低到1e-5也正常了……

[2020-05-06 12:35] lerry-lee opened #24320 "paddlepaddle-gpu 安装后 import paddle.fluid 提示no module named 'paddle'"
系统：win10
python：3.6
cuda:：10
paddle：1.7.2.post.107
安装方式：pip install paddlepaddle-gpu==1.7.2.post107 -i https://mirror.baidu.com/pypi/simple
安装后pip list有paddlepaddle-gpu 1.7.2.post107
但是进入Python模式,

ModuleNotFoundError: No module named 'paddle'
请问该怎么解决呢？

[2020-05-06 13:07] #24297 closed, assigned to nobody

[2020-05-06 13:41] ShenYuhan commented on #24316
您好，
1 目前visualdl不支持中断恢复记录，我们会在未来的版本中增加此功能。
2 这个可能需要提供下您的日志我才能确定原因

[2020-05-06 14:31] JepsonWong commented on #24320
您需要check下你的pip对应的python是哪个python。
目前您用python进入的python环境应该不是安装paddle的python。

[2020-05-06 15:15] Meiyim commented on #24317
更新测试用例后问题依旧；我猜测这是一个bug，能**认真**看看么
[code]

[2020-05-07 01:18] DrRyanHuang commented on #24308
@juncaipeng
AIstudio官方给出的代码：

用PaddlePaddle实现图像分类-ResNet（动态图版）
https://aistudio.baidu.com/aistudio/projectdetail/204995
实现中使用了`LayerHelper`

[2020-05-07 01:50] ly7969 commented on #22510
是用conda安装的paddle，系统安装的cudnn版本确认是7.6.5，后面发现清华源镜像repodata.json文件，cudnn依赖版本是“cudnn>=7.3,<7.4”，所以conda安装后，用conda list查看，cudnn确实是7.3

[2020-05-07 02:27] Mr-Nineteen opened #24323 "paddle识别卡，出现P40能成功的，2080Ti就不行"
场景描述：
**1、参数设置**
export CUDA_VISIBLE_DEVICES="1"
export FLAGS_selected_gpus="0"
**2、测试代码**
import paddle.fluid as fluid
gpu_place = fluid.CUDAPlace(0)
fluid.install_check.run_check()
dev_count=fluid.core.get_cuda_device_count()
**3、对比**
_a、P40_
Python 3.7.3 (default, Mar  5 2020, 18:37:12)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-11)] on linux
Type "help", "copyright", "credits" or "license" for more in

[2020-05-07 02:57] dongminghao commented on #24311
没用anaconda，直接从官网下载的python.exe，有多个版本，同时装了3.7和3.8，用系统环境变量做区分

[2020-05-07 03:10] JepsonWong commented on #24323
是同一台机器么？

[2020-05-07 03:14] JepsonWong commented on #24302
这里有一份cublas的测试代码 https://github.com/NVIDIA/cuda-samples/tree/master/Samples/simpleCUBLAS ，辛苦测试下吧

1. clone该仓库
2. 进入/Samples/simpleCUBLAS目录
3. 执行make操作，执行应用程序

[2020-05-07 03:14] lartpang commented on #22510
所以我怀疑conda包发布的时候是不是版本依赖配置的有问题？

[2020-05-07 03:15] Mr-Nineteen commented on #24323
@JepsonWong

不同的机器，型号不一样，但是部署的基础环境都是一样的，P40能成功，2080Ti就不行。

[2020-05-07 03:16] ly7969 commented on #22510
应该是版本依赖配置有问题

[2020-05-07 03:23] houj04 opened #24324 "疑似文档链接有误"
在“分布式GPU训练优秀实践”的文档中：
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/multinode_training_improving/dist_training_gpu.html
里面有一段写的是
“使用 pyreader 。参考 这里 使用pyreader，并开启 use_double_buffer 。”
有两个问题：
1、链接点进去不是介绍pyreader的，而是跳到了“快速上手”的文档首页。
2、现在还推荐用pyreader么？隐约记得有dataloader或者其他替代品了。

[2020-05-07 03:32] zhangting2020 commented on #24324
你好，感谢反馈的文档问题，我们会尽快修复。目前不推荐使用pyreader了，请使用[dataloader](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api_cn/io_cn/DataLoader_cn.html#dataloader)接口。

[2020-05-07 03:34] zhwesky2010 commented on #24311
@dongminghao 这个用的是dongm这个user的Anaconda3环境，要不你看下 where python，看下默认的python环境变量对不对，多个的话和顺序也有关系

[2020-05-07 03:35] zhwesky2010 commented on #24311
@dongminghao 感觉是编译时、安装时的python似乎对不上，编译时用的python可以在build/CMakeCache.txt里搜python看下，安装时可以用 where python看下默认是哪个生效了

[2020-05-07 03:43] JepsonWong commented on #24317
这个确实是一个bug，已经在develop修复好了。 develop版本包地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-dev

[2020-05-07 03:51] qgqinfen commented on #24302
您好，我把CUBLAS测试结果发给您。
![CY} 6%Z2CBDT)57PMIJD$9A](https://user-images.githubusercontent.com/45931564/81252649-08a8f100-9059-11ea-9764-46894a2a456c.png)
问题是出在了这里吗？

[2020-05-07 03:56] #24152 closed, assigned to LielinJiang

[2020-05-07 07:52] JepsonWong commented on #24302
这个不是测试结果呀，需要执行编译好的simpleCUBLAS应用程序。

[2020-05-07 08:11] zhiqiu commented on #24102
请在import paddle前，加入`os.environ['FLAGS_eager_delete_tensor_gb'] = '0.0'`以开启垃圾回收的显存优化策略。

[2020-05-07 08:16] JepsonWong commented on #24313
您使用的是paddle哪个版本呢？能提供下复现代码么？

[2020-05-07 08:18] LLChocolate commented on #24313
版本是1.7.1，代码昨天已经发给你啦

[2020-05-07 08:44] houj04 opened #24327 "请问下PaddlePaddle发布时候用的cudnn是什么版本"
在文档中写的是要求7.3+，我自己的机器上装的是7.5.1，运行时会报这样的提示：
WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.5, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version.
所以想问下，PaddlePaddle编译的时候，上面这句提到的7.6，具体是7.6.x？
这样也方便在自己的机器（包括集群上）预装相应的包。

[2020-05-07 09:01] zhangting2020 commented on #24327
- 是这篇[安装文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/index_cn.html)吧，这里确实没有写的很清楚，我们会安排相关同学完善文档。
- 提示的7.6，只要是7.6.x就可以，后面的小版本号并不影响。但是如果是7.5的话，可能会有不兼容问题。

[2020-05-07 09:07] houj04 commented on #24327
不仅仅是这一篇。例如：
https://www.paddlepaddle.org.cn/install/quick
这里也提到了cudnn7.3+，可能会给用户这样一种感觉：文档写的7.3就行，我装了7.5，应该够用了吧，但是怎么还提示有兼容性问题呢。

[2020-05-07 09:09] jczaja opened #24328 "Please add GELU in-place execution support"
We recently added in-place execution to oneDNN kernels of softmax, elementwise_add and activations.
There is also support in GELU activation, but cannot be used as GELU of PaddlePaddle does not have
InplaceInferer e.g. it does not support in-place execution. If possible , please add GELU in-place execution support .

[2020-05-07 09:10] zhangting2020 commented on #24327
和相关同学确认了下，现在发布的版本是cudnn7.6编译的。这些编译安装相关的文档，我们需要统一完善一下。感谢反馈。

[2020-05-07 09:10] houj04 commented on #24327
收到，多谢~

[2020-05-07 09:10] #24327 closed, assigned to nobody

[2020-05-07 09:11] zhangting2020 commented on #24327
@JepsonWong 麻烦看看上面的文档问题，需要对cudnn版本的说明进行完善

[2020-05-07 09:59] haileewu commented on #23425
您好，请问我用pip安装的：pip install paddlepaddle-gpu==1.7.2.post97
但是最后make.sh 的时候报了和楼主同样的错误（一摸一样），请问您知道问题出在哪里吗？

[2020-05-07 10:00] haileewu commented on #23425
您好，请问我用pip安装的：pip install paddlepaddle-gpu==1.7.2.post97
但是最后make.sh 的时候报了和楼主同样的错误（一摸一样），请问您知道问题出在哪里吗？

[2020-05-07 10:04] maosengshulei opened #24332 "paddle mpi 使用fleet transpiler模式 分布式同步训练（sync_mode=True） 夯住"
paddle 1.6.1 paddle 1.7.1 均出现
trainer端：
![image](https://user-images.githubusercontent.com/26685090/81281090-fb592a00-908b-11ea-811e-18571a5a1960.png)

pserver端：
![image](https://user-images.githubusercontent.com/26685090/81281430-69055600-908c-11ea-8546-0bb1f176ff1b.png)
[code]
代码：
[code]

把sync_mode设为False 分布式训练可正常进行。

[2020-05-07 11:35] MrChengmo commented on #24332
DistributeTranspilerConfig()是1.7版本之前的分布式模式配置方式
启动的是同步模式的配置组合是：

- strategy.sync_mode = True

- strategy.runtime_split_send_recv = False

异步模式的启动配置选项组合是：

- strategy.sync_mode = False

- strategy.runtime_split_send_recv = False

GEO模式的选项组合是：

- strategy.sync_mode = False

- strategy.runtime_split_send_recv = False

- strategy.geo_sgd_mode = True

推荐使用1.7版本之后新加入的distributed_strategy 的featrue

[code]

[2020-05-07 11:38] tingnit commented on #24278
@tangbozhang 这个原因在于VS默认没有使用64位链接器，打开你VS工程下的.vcxproj文件，从第三行开始添加：
[code]
然后重新编译试试

[2020-05-07 13:53] maosengshulei commented on #24332
使用新的distributed_strategy
[code]
还是夯住了。
mpi 日志链接：http://10.76.84.19:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20200507202603-89421--shulei_msd_zhongtai_fluid_dnn_v1_20200507_paddlecloud

[2020-05-08 03:31] MrChengmo commented on #24332
- paddle版本升级到1.7.2可以解决同步使用train_from_dataset hang住的问题

- 大规模数据建议使用异步模式

[2020-05-08 04:10] JepsonWong commented on #24313
您好，动态图目前不支持在这种情况下 “ feature = feature[idx, :] ” 以variable类型的变量作为索引。

[2020-05-08 04:29] Rayarrow94 opened #24343 "训练过程中出现PaddleCheckError: Expected predict_data <= 1, but received predict_data:nan > 1:1"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡
    2）显存信息
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出

[2020-05-08 04:53] maosengshulei commented on #24332
![image](https://user-images.githubusercontent.com/26685090/81371574-cea81f80-912a-11ea-9ed0-080def2166b3.png)

[2020-05-08 05:29] zhangting2020 commented on #24324
@sandyhouse 请看看“分布式GPU训练优秀实践”的文档问题。需要对pyreader部分修改

[2020-05-08 06:17] MrChengmo commented on #24343
auc_op中对predict_data的限制是 0<= x <=1，是一个概率数值，但是你的训练中喂到auc的数值大于了1，所以产生了这个报错。可以尝试：

- 升级paddle版本到1.7.2
- 减少学习率
- debug组网，是否有设计不合理，导致概率大于1的情况

以下是auc op 源码， from /paddle/paddle/fluid/operators/metrics/auc_op.h
[code]

[2020-05-08 06:54] wawltor opened #24348 "python2.7 同时import paddle 和 multiprocessing,会有随机coredump"
from multiprocessing import Pool
import paddle.fluid

def f(x):
    return x*x

p = Pool(1)
x = [1,2,3,4,5,6]
y = p.map(f, x)
print y
p.terminate()

[2020-05-08 07:22] #24102 closed, assigned to zhiqiu

[2020-05-08 08:33] MrChengmo commented on #24348
请问有稳定复现的环境吗？
 1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
 2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
 3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
 4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本

[2020-05-08 08:48] baiyfbupt opened #24351 "动态图是否支持用profiler工具进行性能分析？"
我在动态图中用profileer
[code]
结果如下：
[code]
只能看到memory copy/sync的结果，没有各个OP的，想问下是否动态图还不支持用profiler呢，如果不支持还有什么性能分析工具可用吗？

[2020-05-08 08:56] Xreki commented on #24351
动态图暂时没有插入`RecordEvent`来记录各个op的关键时间，因为还没有确定`RecordEvent`是否会带来开销。你可以按照https://github.com/PaddlePaddle/Paddle/pull/22953 插入`RecordEvent`相关代码来开启profiler功能。

[2020-05-08 09:05] #24351 closed, assigned to nobody

[2020-05-08 09:27] wawltor commented on #24348
1)  paddle版本 1.8
2）3）cpu即可，因为是import的时候出错，还没有进入训练和预测，看起来是包之间的兼容性问题
4）centos python2.7

[2020-05-08 11:34] Steffy-zxf opened #24355 "fluid.unique_name.guard()使用BUG"
使用paddle1.7.2版本，发现使用fluid.unique_name.guard('prefix_')会造成变量名出现两个prefix_
[code]

[2020-05-08 11:59] MrChengmo commented on #24355
已复现，确认运行不符合预期

[2020-05-08 12:30] A1exy opened #24356 "请问现在怎么conda或pip安装paddle1.6"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译

[2020-05-08 12:33] MrChengmo commented on #24356
使用pip安装时，指定paddle版本
[code]

[2020-05-08 12:55] A1exy commented on #24356
现在问题是paddle镜像网站https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/    并没有paddle1.6的版本了，而本地直接指定版本为1.6时会conda或Pip均报找不到的错误。
![image](https://user-images.githubusercontent.com/7035538/81407470-0a180d80-916e-11ea-979c-5ffd124aa03c.png)
不知道paddle1.6的安装镜像现在放在哪里了   @MrChengmo

[2020-05-08 13:24] OleNet opened #24358 "Reader 似乎再读取结束时，Paddle core"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle gpu 1.7.0
    2）CPU：
    3）GPU：P40,
    4）系统环境：Centos
- 训练信息
    1）单机多卡
    2）显存信息 22GB

- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

![图片](https://user-images.githubusercontent.com/3206718/81409665-17cf9200-9172-11ea-8017-0b211e6c7ed4.png)

![图片]

[2020-05-08 14:15] hustwzq-nlp commented on #21917
按Nvidia官方文档的方式重装cudnn试试

[2020-05-08 14:16] hustwzq-nlp commented on #21917
按Nvidia官方文档的方式重装cudnn试试

[2020-05-08 15:59] lao-xu opened #24360 "add_sublayer的作用是什么？"
如下的一段代码，不明白为什么要add_sublayer，直接dws21=DepthwiseSeparable不行吗？尝试去掉add_sublayer，能运行但效果变差，add_sublayer的作用是什么？
        self.dwsl=[ ]
        dws21 = self.add_sublayer(
            sublayer=DepthwiseSeparable(
                num_channels=32,
                num_filters1=32,
                num_filters2=64,
                num_groups=32,
                stride=1),
            name="conv2_1")
        self.

[2020-05-09 02:18] BeyondYourself commented on #18602
我的版本也匹配的，也是报和你一样的错，这个问题解决了吗，我是刚刚升级的paddle1.8.0-GPU

[2020-05-09 02:22] saTan-Y commented on #23778
https://github.com/PaddlePaddle/Paddle/issues/19055 中提到Paddle不支持一个program里面多个minimize，但我试了一下是可以的

[2020-05-09 03:04] MrChengmo commented on #24358
你好，看报错信息无法准确定位是Reader 哪个步骤的问题，请问可以提供复现的代码或者环境吗，我找负责Reader API的同学跟进一下。

[2020-05-09 03:42] luotao1 commented on #21493
How about using `ExecutionContext::scope()` to access original scope?

https://github.com/PaddlePaddle/Paddle/blob/1b8fe70e482f38941921759492f0c8ec76e29d6a/paddle/fluid/framework/operator.h#L255

Here is `cudnn_lstm_op.cc` example:
https://github.com/PaddlePaddle/Paddle/blob/1b8fe70e482f38941921759492f0c8ec76e29d6a/paddle/fluid/operators/cudnn_lstm_op.cu.cc#L64-L67

But it is not recommended to us

[2020-05-09 03:44] MrChengmo commented on #24356
可以使用Python官方源，或百度源，pip 命令 额外参数：

[code]

[2020-05-09 03:46] Superjomn commented on #24355
这个应该不影响 unique ，建议暂时先这样。
这个接口的实现我们后续会有大的重构，静态图的功能也会逐步升级为动态图， 后续问题应该不会存在。

[2020-05-09 03:53] MrChengmo commented on #24332
PaddleCloud平台没有上线1.7.2，需要自己将1.7.2的包放在thirdparty目录下，任务开始后会上传到节点thirdparty目录，在before_hook.sh脚本中手动卸载已有的paddlepaddle，安装上传的包。

[2020-05-09 05:09] JepsonWong commented on #24323
能进入您的环境我远程调试看看么？

[2020-05-09 05:16] JepsonWong commented on #24308
不建议那种用法，建议把
[code]
改为
[code]

[2020-05-09 06:44] phlrain commented on #24360
add_sublayer 是为了收集子layer 包含的参数，参数收集是通过 重载了 __setattr__来实现的，self.xxx  yyy 会触发 __setattr__, 直接 dws21=DepthwiseSeparable 是不会触发
如果没有add_sublayer ，参数是不会训练的，所以效果会差

这个问题有两个解决方案：
1. add_sublayer
2. slef.dwsl = fluid.dygraph.LayerLis( self.dwsl ) 用LayerList包裹下 你的layer 数组, 在最新的1.8中，你可以定义slef.dwsl = fluid.dygraph.LayerLis() ，然后调用self.dwsl.append()

[2020-05-09 06:49] souchip opened #24364 "建议提供：限制一个Paddle进程最多可以使用多少显存的方案"
在一些情况下，为了提升机器资源利用率，需要在同一个计算节点运行多个Paddle进程。
为了实现显存资源的分配，希望可以限制一个Paddle进程最多可以使用多少显存。
比如，在启动参数中指定。

[2020-05-09 07:13] lao-xu commented on #24360
好的，再请教下，什么时候需要add_sublayer，什么时候不需要，是不是当要用数组把层放入时，就要用add_sublayer，如果不用数组，就不需要add_sublayer？

[2020-05-09 07:19] phlrain commented on #24360
数组的时候才需要 add_sublayer,  单个的不需要 可以直接写 self.proj = Linear()

[2020-05-09 07:44] lao-xu commented on #24360
多谢!

[2020-05-09 07:48] zhiqiu commented on #24364
hi，在paddle新版本(1.7.2+)中提供了FLAGS_gpu_memory_limit_mb的flag，可以限制单个任务的GPU显存大小，单位是MB。

[2020-05-09 08:33] wz125 opened #24369 "打印 参数"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2020-05-09 08:33] #24369 closed, assigned to nobody

[2020-05-09 08:35] A1exy commented on #24356
![image](https://user-images.githubusercontent.com/7035538/81468574-f8d50c80-9212-11ea-9159-18689ce536a5.png)

@MrChengmo     试了下不行 ,不是还要翻墙吧。。。

[2020-05-09 09:05] DDDivano commented on #24356
首先，paddlepaddle-gpu没有1.6.2这个版本号，因为gpu cuda库发布了9，10两个版本，所以1.6.2对应的是1.6.2.post97，1.6.2.post107
pypi源 https://pypi.org/project/paddlepaddle-gpu/1.6.2.post107/
可以参考官网：
![image](https://user-images.githubusercontent.com/10734244/81469450-77cc4400-9217-11ea-9c96-7820c8590906.png)

[2020-05-09 09:39] jayhenry commented on #24241
@yiicy 请问这个问题有进展吗？

[2020-05-09 11:09] OliverLPH opened #24373 "develop版本，transformer模型CPU-MKLDNN预测速度明显下降"
**System information**
-PaddlePaddle version: `develop`, `6d8dcc7407`
-CPU: `Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz`, mkldnn enabled
-GPU: None
-OS Platform (eg.Mac OS 10.14): Ubuntu1604
-Docker image: `hub.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7-dev`
-Python version: Python3.7
-Cmake orders
-C++version.txt: used python api
-API information: inference configuration
[code]

*

[2020-05-10 01:59] wxl1351641822 opened #24374 "AttributeError: module 'paddle.fluid.layers' has no attribute 'dynamic_decoder'"
[code]
paddle1.7.0,python3.7,我在另一个notebook里用是ok的，但在这个notebook里用就不行？？茫然

[2020-05-10 02:08] qgqinfen commented on #24302
![image](https://user-images.githubusercontent.com/45931564/81489280-1dc68f80-92a6-11ea-9870-f43b5ee35ed6.png)
您好，这是测试结果，麻烦您查看。非常感谢。

[2020-05-10 03:16] wxl1351641822 commented on #24374
两者的区别在于一个是直接脚本运行没有函数，另一个则被我放入函数中？？？

[2020-05-10 07:44] xiaoli-ai opened #24375 "python安装cocoapi遇到错误"
环境：windows10  paddle1.8  python3.7  CPU   实现maskrcnn
使用conda安装依赖项
编译cocoapi时出错如下：

running install
running bdist_egg
running egg_info
writing pycocotools.egg-info\PKG-INFO
writing dependency_links to pycocotools.egg-info\dependency_links.txt
writing requirements to pycocotools.egg-info\requires.txt
writing top-level names to pycocotools.egg-info\top_level.txt
reading manifest file 'pycocotools.egg

[2020-05-11 01:03] A1exy commented on #24356
@DDDivano  好的谢谢

[2020-05-11 01:03] #24356 closed, assigned to nobody

[2020-05-11 01:06] Mr-Nineteen commented on #24323
@JepsonWong

不能，公司环境都是隔离状态，有安全红线。你需要查看什么，我可以配合你操作，把相关信息提供给你。

[2020-05-11 01:56] mapingshuo commented on #24375
编译cocoapi出错，建议在cocoapi库下提问。paddle这边，我帮您找一位paddle detection的老师看看是否熟悉类似问题。

[2020-05-11 02:01] guoshengCS commented on #24374
这个接口是`layers.dynamic_decode`，改下试下呢

[2020-05-11 02:30] #24317 closed, assigned to nobody

[2020-05-11 02:32] JepsonWong commented on #24323
您的机器上有docker环境么？可以使用 `docker pull paddlepaddle/paddle:1.8.0-gpu-cuda9.0-cudnn7` 命令下载预装版镜像，然后nvidia-docker进入进行内部进行paddle检测，排除是否是显卡的问题。@Mr-Nineteen

[2020-05-11 03:50] jiweibo commented on #24039
@prettyocean85
在ocr_recognition上使用inference_model测试了一下，发现没有报错。

再结合你的报错信息发现是输入的问题。
Error: Level number of Input(Y)'s lod should be greater than 0.
[Hint: Expected y_lod.size() > 0UL, but received y_lod.size():0 <= 0UL:0.] at

你可以参考下python是如何处理输入数据的。

最简单的方法测试，修改infer.py使得其加载inference_model完成预测。

![image](https://user-images.githubusercontent.com/26377421/81522576-9ba99a00-937d-11ea-99ca-42060bc36b

[2020-05-11 03:52] JepsonWong commented on #24302
你测试过cuda10环境么？可以使用 `docker pull paddlepaddle/paddle:1.8.0-gpu-cuda10.0-cudnn7` 下载官方docker，然后使用nvidia-docker命令进入docker内部使用gpu环境。

[2020-05-11 04:28] qingqing01 commented on #24375
@xiaoli-ai 搜索了下，是由于win机器没安装C++编译器： https://stackoverflow.com/questions/41724445/python-pip-on-windows-command-cl-exe-failed  可以试下：`pip install pycocotools`

[2020-05-11 06:32] souchip opened #24380 "建议框架新增参数，用于选择是否启用 Unified Memory"
在一些场景中，我们需要单机能有更大的Memory，同时可以接受Memory的读写速度降低。
可以通过invdia官方提供的cudaMallocManaged()来实现。
https://devblogs.nvidia.com/unified-memory-in-cuda-6/
https://devblogs.nvidia.com/unified-memory-cuda-beginners/

[2020-05-11 07:11] Ramlinbird opened #24382 "while_loop循环内计算出错"
计算目标描述：
输入一个label，形状是[-1,-1]，每个step的形状都会发生变化，需要进行的操作是将第2维的所有数值展开为one_hot形式，变成[-1, -1, self._padding_seqlen]，然后在dim=1进行reduce_sum操作，变成[-1, self_padding_seqlen]（多分类label产生）。

训练时发现无法直接对label进行one_hot，利用while_loop修改为循环模式后，发现期望输出和实际输出不一样。循环中的计算，似乎没有利用到“计数器”的信息，每次计算一样了。

[code]

其中一个step的打印结果：
[code]

[2020-05-11 07:20] Ramlinbird commented on #24382
主要是我在循环体里面，会对一个tensor根据循环计数取值，就红框里的 label[:, ind]，ind是一个计数器，这个在while_loop定义网络框架时，是不是会被优化掉，导致每次取的实际上都是label[:, 1]？（注：ind从1开始计数）
![image](https://user-images.githubusercontent.com/11084132/81534619-eede1580-939a-11ea-8650-98f13a8d3b5a.png)

[2020-05-11 07:25] lidanqing-vv commented on #24373
Hi, @jczaja please take a look at transformer performance drop.

[2020-05-11 07:53] Ramlinbird commented on #24382
补充简单的复现程序
[code]

[2020-05-11 08:22] liushanshan07 opened #24386 "fluid.evaluator.EditDistance Tensor holds no memory"
- 训练信息
    1）单机单卡
    2）显存信息，本地K40机器

- 问题描述：

Traceback (most recent call last):
  File "./train.py", line 296, in <module>
    main()
  File "./train.py", line 292, in main
    train(args, data_reader=data_reader)
train(args, data_reader=data_reader)
  File "./train.py", line 229, in train
    results = parallel_exe.run(var_names, feed=get_feeder_data(data, place))
  File "/home/vis/liushanshan/

[2020-05-11 09:24] lidanqing-vv opened #24394 "Ernie INT8 test crash"
Still updating...
Ernie INT8 Qat test crashed on develop on 6271.
The failure range:
Crashed commit id: newest develop
Crashed commit id: 9eedf05d2f30671da5332f2f8b50e2061d5a0758
Crashed commit id: 1fc6cc502ac7303c879460b050cb24d6fa3a6023
Crashed commit id: 50330c6c6d323446744ac65613ea45130e7714b7
Success commit id:

Command:
[code]
Note if it is latest commit, change param `quantized_ops` to `ops

[2020-05-11 09:32] prettyocean85 commented on #24039
@jiweibo 修改infer.py可以完成预测，但是报错是使用零拷贝方式，数据处理是参考了python来做的，和训练用的数据没什么区别不知道为什么报错。预测代码如下（crnn_ctc模型使用正常）：

![1](https://user-images.githubusercontent.com/49978314/81546780-703ea380-93ad-11ea-9fc3-d957ff0aa266.png)

[2020-05-11 09:35] jiweibo commented on #24039
@prettyocean85
看报错信息是输入tensor没有设置lod。

lod的概念请参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/lod_tensor.html#lod

另外请查看ocr_recognition中，对输入数据的处理，lod是如何设置的。

[2020-05-11 09:46] lidanqing-vv commented on #24394
[code]

[code]

[2020-05-11 09:48] guru4elephant opened #24396 "ernie model prediction problem"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号 1.7.2
    2）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号，CUDA 9.2，CUDNN 7.3
    4）系统环境：CentOS 6u3, py2
----------------------
Error Message Summary:
----------------------
NotFoundError: DataType should b

[2020-05-11 10:03] lidanqing-vv commented on #24394
@wojtuss  I saw this error before in some other model. It was key cache problem, that two ops used same key, but not sure how is this time

[2020-05-11 10:36] Ramlinbird commented on #24382
@沈亮 答复： Var（这里的label）不能按照角标取值。可以使用gather op 根据相应的index选值。而这里label是[-1, -1]，如果要在第2维gather，没有直接的算子，可通过结合transpose实现。

[2020-05-11 10:36] #24382 closed, assigned to nobody

[2020-05-11 12:07] liushanshan07 commented on #24386
求官方给个答复。
今日值班同学反馈是官网没有对应api介绍，也找不到对应api负责同学。那我们使用遇到问题到底应该找谁？？

[2020-05-11 14:34] wojtuss commented on #24394
I have reproduced the error. It was caused by using mkldnn matmul primitives taken from cache instead of creating primitives from scratch when the batch size has changed for the last batch (the dataset has 2490 samples and if the batch size is set to 50, the last batch has only 40 samples).

A fix is submitted in the PR https://github.com/PaddlePaddle/Paddle/pull/24408.

[2020-05-11 16:16] loretoparisi commented on #21908
@Angus07 @AIpioneer I'm getting this error, but I do not understand the reason. Any hint?

[2020-05-12 01:36] Mr-Nineteen commented on #24323
@JepsonWong

这个版本paddlepaddle/paddle:1.8.0-gpu-cuda9.0-cudnn7在2080Ti是能识别到卡，在1.7.x和1.4.x版本是识别不了2080Ti的；2080Ti卡是没有问题，TensorFlow和Pytorch都能识别；paddle 1.7.x 和1.4.x在P40和P4也是能识别到的，在2080Ti是不行的。

[2020-05-12 02:31] WorldEditors opened #24412 "Add the tensor "roll" operator"
"roll" along certain axis is provided in numpy, tf and torch, but not in paddle
https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.roll.html
can we add a "roll" operator, as currently it is quite inconvenient to implement using existing ops

[2020-05-12 02:57] ForFishes commented on #24386
还是代码简化一下，提供一个简答可复现的Demo吧。

[2020-05-12 02:59] MrChengmo commented on #24241
目前静态图可以实现Op的Attr的更改，以更改adam的beta1参数举例，具体步骤：

- 在exe.run(program)之前，使用program.global_block().ops拿到所有op并遍历

- 如果op.type == "adam" ，使用op._set_attr('beta1', N)，手动重置该参数为N

- exe.run(program)，此时beta1已被更新。

- 以这种方式更新参数，可以做到batch级的attr更改。

但需注意的是，目前静态图无法支持在运行过程中动态更改attr参数，支持此功能影响面较大，需要研究讨论。

[2020-05-12 03:09] jiweibo commented on #24396
已定位到是embedding_eltwise_layernorm_fuse_pass的问题，如果您使用最新的paddle，可以使用config.delete_pass('embedding_eltwise_layernorm_fuse_pass')，先临时解决这个问题，我会尽快修复。

[2020-05-12 06:08] JepsonWong commented on #24323
所以您在本机安装的paddle不是1.8.0是吧？所以您会出现识别不了2080Ti。您本机安装的paddle是什么版本呢？

[2020-05-12 06:29] prettyocean85 commented on #24039
@jiweibo 添加set_lod后问题已解决，感谢

[2020-05-12 06:29] #24039 closed, assigned to jiweibo

[2020-05-12 06:56] ysh329 commented on #23824
hi，能贴一下复现问题的代码嘛，以及相关的log，我这边网络一直显示gihtub的图不出来

[2020-05-12 06:59] liushanshan07 commented on #24386
谢谢回复。已经解决。解决思路是
1、用当前paddle版本训练最简单的ctc模型，check可以跑。paddle版本和接口没问题。
2、对齐配置，发现代码中缺少error_evaluator.reset(exe)，导致了这个问题Tensor holds no memory. Call Tensor::mutable_data first

[2020-05-12 07:12] ysh329 commented on #23867
经过22天，用户没有在进一步回复

[2020-05-12 07:14] jayhenry commented on #24241
@MrChengmo  感谢回答！目前做到batch级别的调整就够用了。
这里还剩一个问题： 对于L2Decay的schedule，貌似不能简单通过op.type=='scale'来得到，因为collective op里面也用到了，如下
[code]
所以必须要通过 op.attr('op_namescope') 里是不是含有 'regularization'来判断吧？

[2020-05-12 07:33] wangwin opened #24424 "add PULL_REQUEST_TEMPLATE"
给paddle repo添加PR 模版，规范用户PR提交。

为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日

[2020-05-12 07:47] #24424 closed, assigned to nobody

[2020-05-12 07:47] wangwin commented on #24424
提交错了

[2020-05-12 08:35] zhengzihe opened #24431 "yolov2-tiny-voc里面的配置step有个-1怎么理解"
![image](https://user-images.githubusercontent.com/58216756/81661342-8eb8a380-946e-11ea-95ae-7c76953ee228.png)

yolov2-tiny-voc里面的配置step有个-1怎么理解，后面的scale学习率不应该是逐step递减的吗，第二个scale为10为什么要这样设计

[2020-05-12 08:44] zhiqiu commented on #24380
关于cuda unified memory，之前有相关的调研：https://github.com/PaddlePaddle/Paddle/wiki/Survey-of-CUDA-Unified-Memory 。

[2020-05-12 13:04] lidanqing-vv commented on #24394
Solved.

[2020-05-12 13:04] #24394 closed, assigned to wojtuss

[2020-05-13 00:06] lidanqing-vv opened #24461 "pvanet model INT8 model accuracy drop 10%"
Customer model pvanet accuracy after QAT INT8 the model accuracy drop 10%

**System information**
-PaddlePaddle version: develop
-CPU: i9

**To Reproduce**
Download test, dataset and model from
`shanghai-6271-ip:/data/models/ocr_test_intel_with_data.tgz`
Run following command:
[code]
**Describe your current behavior**
I have set all relu output datatype, and also set concat to INT8 concat kernel.

[2020-05-13 03:01] yaweisun opened #24466 "动态图模式下的CRF接口"
- 版本、环境信息
PaddlePaddle版本：1.7
- 建议描述：
我目前在使用paddle 1.7的静态图模式，需要用到CRF，但是在文档里搜到的带“CRF”的接口（包括linear_chain_crf和crf_decoding）都注明了“该API仅支持【静态图】模式”，请问有相应的动态图接口吗？或者有没有其他替代方案呢？

[2020-05-13 03:22] Mr-Nineteen commented on #24323
安装paddle 1.8版本，2080Ti是能识别的；1.4.x和1.7.x识别不了2080Ti。

[2020-05-13 03:27] heavengate commented on #24431
`steps`定义的是从第几个step开始改变学习率，对应改变学习率的系数定义在`scales`里面，`steps`第一个值为-1只是为了占位，其实就是表示`0-100`iters的时候用`0.1`倍的学习率做warmup，100iters的时候还原回来正常的学习率。

另外，darknet的问题建议在darknet repo里提issue https://github.com/pjreddie/darknet

[2020-05-13 03:27] #24431 closed, assigned to nobody

[2020-05-13 04:23] zhengzihe opened #24475 "clone program报错"
![image](https://user-images.githubusercontent.com/58216756/81770978-5d92ae80-9514-11ea-9cd5-365cd4e91b2f.png)

![QQ图片20200513122511](https://user-images.githubusercontent.com/58216756/81771421-80719280-9515-11ea-82b6-7cc96731470e.jpg)

训练的时候没问题，验证的时候，clone program报错了

[2020-05-13 05:19] yaoxuefeng6 commented on #24475
你好 请问一下能提供下复现代码吗？ 还是跑哪个官方例子的时候报的这个错误？

[2020-05-13 06:00] zhengzihe commented on #24475
![image](https://user-images.githubusercontent.com/58216756/81776821-20cdb400-9522-11ea-80d2-37cefa2d2bf4.png)
只是多加了一个自定义的attention层，但是train的过程是没报错的

[2020-05-13 06:01] zhengzihe commented on #24475
差不多就是继承了paddlehub的sequencetask

[2020-05-13 06:03] zhengzihe commented on #24475
官方的是单任务，我改成了多任务

[2020-05-13 06:32] yaoxuefeng6 commented on #24475
你好 麻烦验证下提供的demo是否可以跑通 可以在在paddlehub上提个issue？地址： https://github.com/PaddlePaddle/PaddleHub/issues

[2020-05-13 08:11] jczaja commented on #21493
@luotao1 Many thanks for example, I will check that soon

[2020-05-13 08:30] phlrain commented on #24466
https://github.com/PaddlePaddle/models/blob/develop/dygraph/lac/sequence_labeling.py#L126
可以参考这个的实现

[2020-05-13 08:32] yaweisun opened #24490 "使用动态图ERNIE并添加自定义特征时出现问题"
- 运行环境
AI studio高级版
python 3.7
paddlepaddle 1.7.1
- 问题描述
我用动态图的ERNIE做序列标注，想要增加词频特征，于是仿照ErnieModel这个类重写了下面这个类，这里只列出了主要函数的代码。在不传入freq_ids这个参数的时候，没有问题，但是在传入这个参数之后，程序就报错了。报错信息也在后面。
[code]
- 报错信息

[2020-05-13 08:35] yaweisun commented on #24466
好的，感谢！

[2020-05-13 08:35] #24466 closed, assigned to phlrain, yaoxuefeng6

[2020-05-13 08:39] Preston-Dong opened #24491 "关于更多函数功能的建议"
在贵框架已经运行了很多次的代码，感谢提供的平台，不过有一点小建议，能不能增加函数，如相似性指标SSIM，tf和pytorch均提供了接口，可以很方便的运用。
真心希望paddlepaddle越来越好！

[2020-05-13 10:42] DZhaoXd opened #24504 "tensor索引坐标的问题"
现遇到一个坐标索引问题，tensor A  的 shape 是 [b, w, h]，b是batchsize， w,h分别是长和宽；tensor B 的 shape 是 [b, 3, 2]，表示对batch中的每一个数据都存在3个需要索引的坐标（x, y）。请问怎么根据tensor B 去索引 tensor A得到一个[b, 3]的结果？

[2020-05-13 12:34] #24308 closed, assigned to juncaipeng

[2020-05-13 12:42] juncaipeng commented on #24310
@Archimondecy  请问还有问题吗？

[2020-05-13 12:42] lidanqing-vv opened #24510 "Ernie INT8 accuracy drop on 2.0-alpha"
**System information**
-PaddlePaddle version develop f1c57d648caf103de8e64aa8c2bded1820b50306
-CPU: Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz
-Machine: Shanghai-6271
**To Reproduce**
https://github.com/PaddlePaddle/benchmark/pull/387/files
**Describe your current status**
INT8 Ernie accuracy drop from 0.7964 to  0.794378
**Other info**
Customer want to solve the accuracy drop problem
Please use ba

[2020-05-13 12:43] #22069 closed, assigned to juncaipeng

[2020-05-13 13:50] yaoxuefeng6 commented on #24504
你好 抱歉目前该功能得文档还未合入https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/tensor/search.py 麻烦先看下这两个函数的源码注释吧。应该满足需求 index_sample, index_select。1.7.2版本有index_sample功能，1.8新版本有这俩功能

[2020-05-13 13:55] yaoxuefeng6 commented on #24491
你好 感谢你的建议，我们后续会评估下这几个功能

[2020-05-13 14:13] lidanqing-vv commented on #24373
Hi, @luotao1 , Jacek has verified this issue does not exist after merging #24442 . Maybe Baidu validation verify again on Baidu machines and then we close this issue?

[2020-05-13 14:17] yaoxuefeng6 commented on #24490
你好 请问具体参考的demo地址是哪个？还有self.freq_emb是怎么定义的啊？

[2020-05-13 14:56] yaweisun commented on #24490
修改的文件是这个：
https://github.com/PaddlePaddle/ERNIE/blob/dygraph/ernie/modeling_ernie.py
具体参考的是哪个demo我一时找不到了，不过训练的代码如下：
[code]
self.freq_emb是在我的SciKEBase类的__init__函数中定义的，定义方法如下：
[code]
其中11是我这个特征取值的个数，这个特征取值是1～11的整数。
如果需要的话，我可以把项目公开给您看一下。

[2020-05-13 18:46] lidanqing-vv opened #24523 "What is the condition when padding fc is used in inference"
Intel want to enable fc_mkldnn so here we have some questions about padding.

1. Is padding in fc explicitly enabled somewhere under some condition or GEMM choose padding by default,
2. Can we get some help on what are the conditions for the padding to enable.
3. Intel would like to add a pass which enables padding in FC when the condition are met.

[2020-05-14 01:43] luotao1 commented on #24523
@GaoWei8 Please have answer it.

[2020-05-14 01:45] zhengzihe commented on #24475
好的，我去hub上提了，issue可以关掉了

[2020-05-14 02:59] yaoxuefeng6 commented on #24490
https://github.com/PaddlePaddle/ERNIE/issues 麻烦在这里提一下issue吧 有对接同学会解答这个问题

[2020-05-14 03:48] OliverLPH commented on #24373
Hi, @lidanqing-intel
I have verified this issue has been fixed. This issue will be closed, thx~

[2020-05-14 03:48] #24373 closed, assigned to jczaja

[2020-05-14 05:14] yaweisun commented on #24490
好的，谢啦

[2020-05-14 05:14] #24490 closed, assigned to yaoxuefeng6

[2020-05-14 06:32] Archimondecy commented on #24310
多谢解答，原因后来查到了，是输入的数据有脏数据，导致reshape之后行之间格式错乱报错。

[2020-05-14 06:32] #24310 closed, assigned to juncaipeng

[2020-05-14 06:45] zlsh80826 opened #24543 "Use float constant for tensorrt::plugin::glue_kernel instead of double"
Use 1.0f, 0.5f instead of 1.0, 0.5 in paddle::inference::tensorrt::plugin::glue_kernel
1.0 is double type which will decrease the performance when using trt inference.

[2020-05-14 06:55] lao-xu opened #24545 "直接调用经典模型的问题"
1, 之前版本可以直接调用经典模型如vgg，为什么现在fluid框架不能直接调用了？
2，fluid框架下如何载入预训练的参数和模型
3，如何在代码里实现冻结微调等迁移过程，而不是直接用paddlehub之类的工具

[2020-05-14 09:27] baiyfbupt commented on #24545
1.麻烦贴一下调用的链接，如果有报错信息也贴一下报错信息方便定位问题

2.可以用load_vars 载入预训练的参数https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/load_vars_cn.html#load-vars
可以用load_inference_model 载入训练好的模型结构，但这种方式只能用于预测
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/load_inference_model_cn.html#load-inference-model

3.可以用param_attr指定某一层的参数trainable=False，从而冻结这一层训练其它层

[2020-05-14 10:01] NHZlX commented on #24543
您好 请问您现在是在用trt inference做bert 预测么

[2020-05-14 10:13] NHZlX commented on #24543
The cuda built-in erf is a double operation, it's very slow. So when using Bert fp32 inference, we suggest not to enable TRT. When using fp16 inferenece, it is recommended to turn on TRT.

[2020-05-14 10:13] jeng1220 commented on #24543
@NHZlX ,
No, he was helping me to verify ERNIE performance. @zlsh80826 is a NVIDIA guy too.

[2020-05-14 10:14] NHZlX commented on #24543
Ok, but there is no gelu operation in ernie.

[2020-05-14 10:17] jeng1220 commented on #24543
@zlsh80826 ,
Could you clarify that which model has this problem?

[2020-05-14 10:27] jeng1220 commented on #24543
@NHZlX ,
I check the code. The key line is
[code]
CUDA did provide the single precision version of `erf`, called `erff`. You can refer [here](https://docs.nvidia.com/cuda/cuda-math-api/group__CUDA__MATH__SINGLE.html#group__CUDA__MATH__SINGLE_1g3b8115ff34a107f4608152fd943dbf81).

I think the better way is using template specialization.

[2020-05-14 10:29] zlsh80826 commented on #24543
We are using ERNIE-2.0 model, and the configuration for English dataset in ERNIE involves gelu operation [configuration](https://github.com/PaddlePaddle/ERNIE/blob/0a9ad5114764cbbc31558db5ea34edd10e97a132/script/en_glue/ernie_base/ernie_config.json#L3)
More specifically, we hit this [line](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tensorrt/plugin/gelu_op_plugin.cu#

[2020-05-14 10:39] jeng1220 commented on #24543
@NHZlX ,
zlsh has submitted the PR #24544 . Please take a look.

[2020-05-14 11:17] lao-xu commented on #24545
好的。
原先V2版本可以paddle.v2.networks.vgg_16_network
现在fluid怎么调用，必须自己定义吗

[2020-05-14 23:20] cyanxwh opened #24568 "PointRCNN模型中编译自定义OP时ext_op/src目录下未生成 `pointnet_lib.so`"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    2）CPU：Intel (R) Core (TM) i7-8700 CPU @ 3.20GHz
    3）GPU：NVIDIA GeForce RTX 2070，CUDA 10.1，CUDNN 7.6.5
    4）系统环境：Ubuntu 18.04，Python 3.7.5
- 模型信息
    1）模型名称：PointRCNN 2）使用数据集名称：暂无 3）使用算法名称：暂无 4）模型链接：https://github.com/PaddlePaddle/models/tree/release/1.7/PaddleCV/3d_vision/PointRCNN
- 复现信息：无报错
- 问题描述：
按照模型的readme执行到编译自定义OP的sh make.sh这一步后，ext_op/src下并未生成p

[2020-05-14 23:54] cyanxwh commented on #24568
好吧我傻了，so文件时生成了的，不知道为什么JupyterLab的文件浏览器里看不到，但是用ls能看到。。单测报错应该是因为gcc版本过高，降级到4.8以后所有的单测都能通过。问题解决。。

[2020-05-14 23:54] #24568 closed, assigned to nobody

[2020-05-15 01:09] caijie12138 opened #24569 "实现mutitask的多分类任务报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.2
    2）CPU：
    3）GPU：TITAN Xp ;CUDA Version 10.0.130;
                     #define CUDNN_MAJOR 7
                     #define CUDNN_MINOR 6
                     #define CUDNN_PATCHLEVEL 4
    4）系统环境

[2020-05-15 01:23] txt2txt opened #24570 "不能和lightgbm兼容安装，scipy，和requests的版本要求不同。"
在aistudio上，paddlepaddle 1.7.1，python3.7，同时安装lightgbm不能通过。
提示，scipy的版本不兼容，
然后降档paddlepaddle1.4.1，然后是requests版本2.9.2，不能和tensoboard兼容。
是否可以解决，还是等着lightgbm自己升级。

[2020-05-15 02:54] dashulu opened #24573 "Paddle如何查看一个训练模型的op调用顺序"
定义好一个模型后，paddle进行训练时后端会生成一个graph，如何可视化的看这个graph？

[2020-05-15 02:57] dashulu commented on #24573
比如预测的时候可以看到
![image](https://user-images.githubusercontent.com/4484303/82006648-de7bb280-969a-11ea-8346-9812d39875a6.png)， 有什么工具能一起看到反向的op顺序吗？

[2020-05-15 03:52] #24504 closed, assigned to yaoxuefeng6

[2020-05-15 05:10] baiyfbupt commented on #24545
需要自行定义，可以参考Paddle开源的[模型库](https://github.com/PaddlePaddle)，大部分主流模型的实现都有

[2020-05-15 05:46] iclementine commented on #24573
用 save_inference model 并且把参数的梯度作为 target_var 可以使得网络不被裁剪，这样可以查看网络的结构。

https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#save-inference-model

对于直接将 program_desc 可视化，目前有一个基于 graphviz 的方案但是有些问题。

https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/net_drawer.py

[2020-05-15 05:58] iclementine commented on #24570
Paddle 目前做了 scipy 版本的限制。我问一下负责的同学

<img width="382" alt="图片" src="https://user-images.githubusercontent.com/16222986/82016679-24914000-96b4-11ea-8f8b-1dfdeecb9872.png">

一个可能可行的方案是先装 paddle 再装 lightgbm, lightgbm 可能会重装 scipy 但是，paddle 可能还是可以兼容的。

[2020-05-15 06:00] HaiLongEmb opened #24577 "Paddle Inference API进行预测，如何异步读取数据"
PaddlePaddle版本：1.7.1
在windows上使用GPU进行预测，我想实现DataLoader类似的异步数据读取，请问有什么方法？
目前Paddle Inference中PythonAPI提供的都是同步送数据的方式，我的场景是这样，一个线程一直在通过predictor.zero_copy_run()进行预测，另一个线程一直在获取摄像头数据，并进行图片预处理然后送给检测线程。有什么办法实现异步reader送数据。

[2020-05-15 06:11] JepsonWong commented on #24570
您好，对于scipy等类似包的限制这个估计需要后续梳理下，后续计划要去除这种包的限制。后续可以按照 @iclementine 的方法试试。

[2020-05-15 06:15] iclementine commented on #24569
你是参考这个教程 https://www.paddlepaddle.org.cn/tutorials/projectdetail/445594 吗？
以及是否可以把必要的 python 文件发送给我们用于调试？

[2020-05-15 06:34] caijie12138 commented on #24569
对就是参考的这个教程

[归档.zip](https://github.com/PaddlePaddle/Paddle/files/4632633/default.zip)
代码在这个zip里面

[2020-05-15 06:39] houj04 commented on #24290
更新成了这个包：
https://paddle-wheel.bj.bcebos.com/0.0.0-gpu-cuda10-cudnn7-mkl/paddlepaddle_gpu-0.0.0-cp27-cp27mu-linux_x86_64.whl
我机器上的输出和文档仍有部分不一致。我看到的是：
[code]
但是文档提供的是
[code]

[2020-05-15 06:55] iclementine commented on #24577
Paddle Inference 只要能接受数据就可以，数据异步加载的实行需要用户自己实现。

[2020-05-15 07:07] NULL-JC opened #24578 "'Parameter' object has no attribute 'gradient_clip_attr'"
Traceback (most recent call last):
  File "F:/学习资料/计算机/大二/下/人工智能/Text_Analysis/loadModule.py", line 70, in <module>
    metrics_choices=["f1"])
  File "E:\software\program\Python37\lib\site-packages\paddlehub\finetune\task\classifier_task.py", line 179, in __init__
    metrics_choices=metrics_choices)
  File "E:\software\program\Python37\lib\site-packages\paddlehub\finetune\task\classifier_task.py

[2020-05-15 07:07] NULL-JC commented on #24578
# from myDataset import MyDataset
import paddlehub as hub
from paddlehub.dataset.base_nlp_dataset import BaseNLPDataset

class MyDataset(BaseNLPDataset):
    """DemoDataset"""
    def __init__(self):
        # 数据集存放位置
        self.dataset_dir = "data"
        super(MyDataset, self).__init__(
            base_path=self.dataset_dir,
            train_file="train.txt",
            dev_file="valid.txt

[2020-05-15 07:24] HaiLongEmb commented on #24577
@iclementine 知道了，最后一个问题，如果想把图像预处理也加入模型让GPU处理有什么办法，是在模型的输入层前加np的操作吗？静态图这样不行吧

[2020-05-15 07:27] ViktorAxelsen opened #24579 "PaddlePaddle1.6.x下动态图使用deformable_conv造成显存泄露"
PaddlePaddle版本：1.6.2
GPU：V100，AI Studio上的
系统环境：Python2.7
单卡
16GB / 32GB
deformable_conv

动态图下使用deformable_conv会造成显存泄露。PaddlePaddle的显存分配策略好像是固定分配最大显存的92%，所以在训练前10个epoch左右的时候显存没变，之后显存随step上升。经过消融实验验证后确定deformable_conv导致此问题。

[2020-05-15 07:45] ViktorAxelsen opened #24580 "PaddlePaddle1.6.2下动态图使用warmup报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.2
    2）CPU：AI Studio
    3）GPU：V100，AI Studio上的
    4）系统环境：Python2.7
- 训练信息
    1）单卡
    2）16GB / 32GB
    3）linear_lr_warmup
- 复现信息：环境就是AI Studio，代码为AI识虫比赛官方给的train.py代码
- 问题描述：动态图下，训练时使用linear_lr_warmup报错：
Traceback (most recent call last):
  File "train.py", line 58, in <module>
    decayed_lr = fluid.layers.linear_lr_warmup(learning_rate, 850, 1e-6, 1e-3)

[2020-05-15 07:51] iclementine commented on #24577
1. 如果把图像预处理也加入模型，那应该就需要把那部分写入模型定义里。让模型接受更原始的输入；（一般情况下我们可能不会这么做）
2. 或者如果只是希望用 GPU 处理数据，可以把预处理放在数据处理上而不是模型中。可以参考 使用 DALI 或者 cupy 之类的工具。（不过这样子处理后得到的应该是在 GPU 上的数据，不再是 numpy.ndarray 了）

[2020-05-15 08:02] iclementine commented on #24578
请检查一下 paddlehub 的版本。
目前 paddlehub 还不支持 paddle 1.8 版本，你可以先用 paddle 1.7

paddlehub 1.7 很快就会发布，兼容 paddle 1.8.

[2020-05-15 08:13] iclementine commented on #24579
请问你是如何调用 deformable_conv 呢？

https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/deformable_conv_cn.html#deformable-conv

这个 API 目前只能在静态图下使用，因为这个 API 调用的时候会创建 weight bias 等参数。动态图下如果在模型定义里使用了这个就会每次运行的时候创建新的 weight bias. 所以会造成显存泄漏。

我们目前在动态图下如果使用包含参数的层，它们都在 fluid/dygraoh 目录下，以大写开头的比如 Linear, Conv2D. 这些 Layer 是 class object，只在 `__init__` 的时候创建参数，在 `forward` 中只是计算。动态图下 forward 函数会被多

[2020-05-15 08:18] iclementine commented on #24580
动态图下我们使用的学习率调节方式和静态图有差别

https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/NoamDecay_cn.html#noamdecay

是先创建一个 LearningRateDecay 类的对象，然后把它作为 optimizer 的 learning_rate 参数。

![图片](https://user-images.githubusercontent.com/16222986/82028079-bce4f000-96c7-11ea-9092-1280977a5dd4.png)

您可以参考我们的一些动态图训练模型的例子。比如在  https://github.com/PaddlePaddle/Parakeet 中 examples 下的例子。

[2020-05-15 08:27] ViktorAxelsen commented on #24579
好的，非常感谢。能在文档的其他版本下也加上“仅支持静态图”字样吗？当时我使用的是paddle1.6，在1.6文档下，没有写明我还以为动态图能用deformable_conv

[2020-05-15 08:29] NULL-JC opened #24581 "AssertionError: Not compiled with CUDA"
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 1.7.1 paddleHub 1.6,2
    4）系统环境：win10 python3.7
- 训练信息
    1）单机，单卡

Traceback (most recent call last):
  File "F:/学习资料/计算机/大二/下/人工智能/Text_Analysis/loadModule.py", line 70, in <module>
    metrics_choices=["f1"])
  File "E:\software\program\Python37\lib\site-packages\paddlehub\finetune\task\classifier_task.py", line 179, in __init__
    metrics_choices=

[2020-05-15 08:33] iclementine commented on #24581
出现这个错误是因为所安装的 paddle 不支持 cuda.

可以参考
https://www.paddlepaddle.org.cn/install/quick
选择安装支持 gpu 的版本。

[2020-05-15 09:25] cryoco opened #24585 "1.8.0版本，conv_transpose_eltwiseadd_bn_fuse_pass导致PaddleOCR检测模型CPU预测结果错误"
**System information**
-PaddlePaddle version: `v1.8.0`, `0231f58e592ad9f673ac1832d8c495c8ed65d24f`
-CPU: `Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz`
-GPU: V100
-OS Platform (eg.Mac OS 10.14): Ubuntu1404
-Docker image: `hub.baidubce.com/paddlepaddle/paddle:latest-dev`
-Python version: Python3.7
-Cmake orders
-C++version.txt: used python api
-API information: inference configuration
[code]

**To Repr

[2020-05-15 09:38] senseb commented on #24380
调研中提到："tensorflow用Unified Memory来做测试框架，这个倒是可以参考"
这部分有后续的计划吗？

[2020-05-15 09:54] daniao2017 opened #24587 "关于协同合作的一些问题"
请问一下百度的飞浆支持**协同办公吗**？
很好奇，参加了百度的某个比赛，和队员组好队，
但是数据与代码在AL studio上如何分享啊？？？
请问有权限设置相关设置吗？？？
我这边好像只看到notebook能设置公开与私有两种状态，
这种情况下如何协同办公，有权限准入机制吗？？？
**期望大佬的解答**

[2020-05-15 10:02] luotao1 commented on #24585
@jczaja @lidanqing-intel Could you help see it?

[2020-05-15 10:25] tea321000 opened #24589 "进行fine tune时报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    2）CPU：8核CPU
    3）GPU：v100
    4）系统环境：aistudio高级版
- 模型信息
 1）模型名称：xception71_imagenet预训练模型
 2）使用数据集名称：ADNI

- 复现信息：ADNI读入三维nii文件之后切片生成并保存256x256的二维npy文件，重写ImageClassificationReader的preprocess方法，令其读入256x256的npy文件，将其

[2020-05-15 11:58] lidanqing-vv commented on #24585
Ok, we will investigate this.

[2020-05-15 13:23] NULL-JC opened #24591 "Check failure stack trace"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.2.post107
    2）CPU：i7 7700
    3）GPU：1050ti
    4）系统环境：win10 16g内存
- 训练信息
    1）单机，单卡
    2）显存信息
    3）Operator信息

[2020-05-15 21:19:37,268] [    INFO] - Installing ernie module
[2020-05-15 21:19:37,319] [    INFO] - Module ernie already installed in C:\Users\NULL_JC\.paddl

[2020-05-15 15:06] lao-xu commented on #24545
将来的版本是会支持直接调用，还是只支持自定义了？自定义是发展趋势吗

[2020-05-16 02:43] zhiqiu commented on #24380
目前还未明确安排，后续我们会内部讨论下是否开展。

[2020-05-16 05:59] zhengzihe opened #24597 "Ubuntu18上安装paddlepaddle-gpu报错"
请问一下在Ubuntu18上安装paddlepaddle-gpu真是报上面的错误怎么解决  cuda版本10.0  cudnn7.6.5  LD_LIBRARY_PATH环境变量也设置了

![246563518433956890](https://user-images.githubusercontent.com/58216756/82112239-adc07980-977d-11ea-9bb8-5984c5da25be.png)
![736229024585455196](https://user-images.githubusercontent.com/58216756/82112240-ae591000-977d-11ea-9eb6-b5d53f49f0d6.jpg)

[2020-05-16 11:17] zhao181 opened #24598 "IO 问题"
exe.run不能指定program参数, 指定就报错, 代码如下：

with fluid.program_guard(main_prog, startup_prog):
    data = fluid.layers.data(name="img", shape=[64, 784], append_batch_size=False)
    w= fluid.layers.create_parameter(shape=[784, 200], dtype='float32', name='fc_w')
    b= fluid.layers.create_parameter(shape=[200], dtype='float32', name='fc_b')
    hidden_w = fluid.layers.matmul(x=data, y=w)
    hidden_b = fl

[2020-05-17 02:17] slf12 commented on #24597
可以 ls -l /usr/local/cuda-10.0/lib64 看下有没有libcudnn.so

[2020-05-17 02:21] slf12 commented on #24598
麻烦贴一下报错信息吧。

[2020-05-17 05:34] wzzju opened #24601 "ResNet50混合精度训练test阶段出现core dump问题"
1、环境配置

* PaddlePaddle版本：Paddle develop分支代码。

* CPU/GPU（GPU驱动、CUDA、cuDNN版本）：Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz; Tesla V100; CUDA 10; CUDNN 7.6.4

* 操作系统版本：Ubuntu 14.04

* Python版本：Python 3.7

* 显存信息：16 GB

2、BUG复现步骤（必要时给出截图）：

* 复现代码链接：https://github.com/PaddlePaddle/Fleet/tree/develop/benchmark/collective/resnet

* 脚本运行命令：

[code]

3、期望结果：

* ResNet50混合精度训练可正常进行train和test过程。

4、实际结果（必要时给出截图

[2020-05-17 13:19] duan348733684 opened #24604 "请问如何直接预测自己的录音"
请问如何直接预测自己的录音，将录音转成文本？谢谢解答，有提供相应的脚本吗？

[2020-05-17 13:20] #24604 closed, assigned to nobody

[2020-05-17 13:56] shaunhurryup opened #24605 "情感分析-使用文档错误"
CPU  8
RAM  32GB
GPU  v100
显存  16GB
磁盘  100GB
Python版本  python3.7
框架版本  PaddlePaddle 1.7.1

按照[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/nlp_case/understand_sentiment/README.cn.html)要求运行，最后一段代码出现问题
**ValueError: The fed Variable 'words' should have dimensions = 1, shape = (-1,), but received fed shape [-1, 1] on each device**

[2020-05-17 14:06] shaunhurryup commented on #24605
![image](https://user-images.githubusercontent.com/45918719/82149855-e9e10080-9889-11ea-98bb-a7faba25451e.png)
![image](https://user-images.githubusercontent.com/45918719/82149880-f1080e80-9889-11ea-8dc1-ae06acb05c9e.png)
我在想是不是和word_dict中键的类型为byte而不是str有关

[2020-05-17 20:27] xwen99 commented on #23330
@Shixiaowei02 请问是否有不降级的解决方案呢，我的模型在 1.6.2 版本会有 bug。。。PaddlePaddle 1.7.0 解决了那个问题，但又会出现与本 issue 一样的问题。。。

[2020-05-18 01:40] HaiLongEmb commented on #24577
@iclementine 请教一个问题，使用paddle训练好的模型，直接使用预测模式与Paddle Inference性能上哪个更快，我理解是Paddle Inference应该更快，但我使用eval进行测试帧率比Paddle Inference要高，这是给数据方式不同造成的吗？

[2020-05-18 01:51] Xreki commented on #24290
[device_switching](https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/fluid/advanced_guide/performance_improving/device_switching/device_switching.md)文档中确实存在代码与输出不一致的情况，具体如下：

- 所有示例代码中均没有使用`CompiledProgram.with_data_parallel`编译，但profiling数据都是使用with_data_parallel编译后的
- 文档中的示例结果，最好使用发版的稳定版本测试，不要使用某个中间版本。比如profiling结果中的`ParallelExecutor::Run`，由于一些问题暂时没有很好的解决方法，所以该计时是已经移除了的。

示例代码：
[code]

pro

[2020-05-18 02:16] 3wGTA opened #24608 "想问下lstm api修好没有"
lstm的接口修好没有阿

[2020-05-18 02:18] iclementine commented on #24579
理论上是应该的，但是目前对文档的修改主要是对新版本的修改了。所以也推荐使用最新版本的 paddle.

[2020-05-18 02:54] iclementine commented on #24569
谢谢反馈，我们正在调试。

[2020-05-18 03:40] 1024er commented on #22946
线下已经沟通。如果没有更多的问题，请将卡片close吧。

[2020-05-18 03:43] iclementine commented on #24569
因为代码缺少一些部分，不能直接运行

[code]

所以要不请你打印一下这些变量的  type 以及 shape
<img width="748" alt="图片" src="https://user-images.githubusercontent.com/16222986/82172405-a378b980-98fc-11ea-9d18-eec3c5a4e970.png">

其中的 data 的 type 和 shape. 因为这里显示的是 LooupTableV2 op 没有接收到输入，可能是 `fluid.embedding` 的输入出了什么问题。

[2020-05-18 05:14] luotao1 commented on #24601
目前分析结论：

- 不开DALI，使用 #22839 没有问题
- 开DALI，不使用 #22839 没有问题

DALI使用参数：

- `fill_last_batch=False, last_batch_padded=True`: https://github.com/PaddlePaddle/Fleet/blob/develop/benchmark/collective/resnet/dali.py#L210
    参数说明： https://docs.nvidia.com/deeplearning/dali/user-guide/docs/plugins/paddle_plugin_api.html
- DALI版本：0.20.0

[2020-05-18 05:38] caijie12138 commented on #24569
不好意思 应该是数据没传上来的原因

[goal_multitask.zip](https://github.com/PaddlePaddle/Paddle/files/4642177/goal_multitask.zip)

data的type是：<class 'paddle.fluid.framework.Variable'>
data的shape是：
<img width="968" alt="截屏2020-05-18 13 38 35" src="https://user-images.githubusercontent.com/18359811/82177693-e17dd980-990c-11ea-8d6b-fbd969f1140b.png">

[2020-05-18 05:47] caijie12138 commented on #24569
<img width="419" alt="截屏2020-05-18 13 44 46" src="https://user-images.githubusercontent.com/18359811/82178095-bf388b80-990d-11ea-8035-918696bf4e84.png">
还有一个问题就是 我如果把上图中的fluid.default_main_program()替换为fluid.Program()就会出现 LooupTableV2 op 没有接收到输入这个错误 如果我按照上图的代码来运行的话，报的错是下面这个：
<img width="933" alt="截屏2020-05-18 13 46 46" src="https://user-images.githubusercontent.com/18359811/82178204-06bf1780-990e-1

[2020-05-18 05:57] GT-ZhangAcer commented on #24605
[情感分析reader写法](https://github.com/GT-ZhangAcer/Python3Notes/blob/master/Class_PaddlePaddle/test11_nlp_classify/infer.py)
试试这个

[2020-05-18 06:01] GT-ZhangAcer commented on #24605
-----------
求官方同学在Window下跑跑官方文档情感分析的预测部分示例：
[情感分析-使用文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/user_guides/nlp_case/understand_sentiment/README.cn.html)
这个示例在较新版本的PaddlePaddle文档中使用的是`fluid.data`接口，会对输入的数据类型进行检查。
然而大部分刚入门的开发者并不了解怎样转换数据类型，Window下默认是int32，需要去转换为int64才能正确执行。报错样例如下：
![图片](https://user-images.githubusercontent.com/46156734/82178187-feff7300-990d-11ea-91b1-35a7c4d2

[2020-05-18 06:24] GT-ZhangAcer commented on #24591
显存不足，调低batch size试试。如果到1仍不能运行，可能这个显卡不适合搞DL，需要一块高显存的计算卡

[2020-05-18 06:43] HaiLongEmb opened #24610 "我使用 Paddle-Inference，当VS编译C++预测API中的多线程预测实例时，提示缺少libmklml_intel.dll"
我在build目录下执行的命令是：
cmake .. -G "Visual Studio 14 2015" -A x64 -T host=x64 -DWITH_GPU=ON -DWITH_MKL=ON -DWITH_STATIC_LIB=ON -DCMAKE_BUILD_TYPE=Release -DDEMO_NAME=thread_mobilenet_test -DPADDLE_LIB="E:\deeplearning\fluid_inference_install_dir" -DMSVC_STATIC_CRT=ON -DCUDA_LIB=D:\worktool\CUDA_Development\lib\x64

用VS2015进行生成：
错误	LNK1181	无法打开输入文件“E:\deeplearning\fluid_inference_install_dir\third_party

[2020-05-18 07:02] duanfz2314 opened #24612 "hash函数使用出错"
官方代码：
import paddle.fluid as fluid
import numpy as np
place = fluid.core.CPUPlace()
# 构建网络
x = fluid.layers.data(name="x", shape=[1], dtype="int32", lod_level=1)
res = fluid.layers.hash(name="res",input=x, hash_size=1000, num_hash=4)
# 创建CPU执行器
exe = fluid.Executor(place)
exe.run(fluid.default_startup_program())
in1 = np.array([[1,2],[3,4]]).astype("int32")
print(in1)
x_i = fluid.core.LoDTensor()

[2020-05-18 08:00] iclementine commented on #24569
大概找到了问题：

你目前所使用的代码中：使用了多个 program 也使用了多个 executor。我们一般情况下不会这么做，概念上 program 是一个容器，当调用 fluid.embedding 之类的函数时，它们会往这个容器上写入一些东西，也就是静态计算图。然后我们通过 executor 来执行 program。当我们需要控制不同的功能，比如返回 loss1， 或者 返回 loss2 的时候，我们通过 executor.run() 中的 fetch_list 参数来控制。

所以 Program 是计算图组建和执行上单位，而不是功能上的模块。类似 fluid.embedding 的函数具体往哪个容器上写入计算图呢？它们并没有指定自己的目标容器，而是通过上下文管理器来实现。比如这个函数的定义，调用它，就往目标容器上写入一部分计算图：

<img width="732" alt="图

[2020-05-18 08:37] wfeagle opened #24615 "tdm分开组网预测是报错，使用了program_guard"
- 背景：
预测的时候加入了一些特有的业务逻辑过滤，需要对每一层结果进行处理，因此把整个组网拆开来了，每个组网在一个program下

- 版本、环境信息：
    1）PaddlePaddle版本：1.7.2
    2）CPU：本地cpu预测
    3）系统环境：Python版本2.7

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
InvalidArgumentError: The input tensor X's dimensions of MulOp should be larger than x_num_col_dims. But received X's dimensions = 1, X's shape = [0], x_num_col_dims = 1.
  [Hint: Expected x_dims.size() > x_num_col_d

[2020-05-18 08:55] 1024er commented on #24608
已经在修改了，预期2.0版本修复

[2020-05-18 09:24] baiyfbupt commented on #24545
未来也是只支持自定义了，框架内部不会集成经典模型，如果有模型需求请关注我们的模型库~

[2020-05-18 09:38] #24290 closed, assigned to zhangting2020

[2020-05-18 09:38] luotao1 commented on #24290
已经在 https://github.com/PaddlePaddle/FluidDoc/pull/2129 修复了。

[2020-05-18 09:39] Shixiaowei02 commented on #24610
请确认下 `E:\deeplearning\fluid_inference_install_dir\third_party\install\mklml\lib\libmklml_intel.dll` 文件路径是否的确存在。如果不存在，请告诉我们在您的环境中，`libmklml_intel.dll` 正确的完整路径，以便我们排查问题。谢谢！

[2020-05-18 09:44] HaiLongEmb commented on #24610
@Shixiaowei02 你好，这个路径是有的，但libmklml_intel.dll没有，fluid_inference_install_dir我是从
cuda10.0_cudnn7_avx_mkl | fluid_inference.zip | MSVC 2015 update 3 | CMake v3.16.0 | 7.5.0 | 10.0
这下载的。这个包里确实没有libmklml_intel.dll，你可以确认一下。

[2020-05-18 09:46] HaiLongEmb commented on #24610
而且我按照说明编译 Windows 预测库，生成的fluid_inference_install_dir里面也没有libmklml_intel.dll。

[2020-05-18 11:14] huangjun12 commented on #24612
我这边试了下没问题的，请问你用的paddle是哪个版本啊

[2020-05-18 11:29] iclementine commented on #24587
目前该功能尚未开发。

[2020-05-18 11:31] duanfz2314 commented on #24612
我之前在aistudio上尝试的不能使用，现在可以了。请问一下，hash的gpu版本是没有实现吗，我在源码中也没有查到，使用cpu太慢了，还有其他方式可以使用gpu版本的hash layer吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"huangjun12"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月18日(星期一) 晚上7:15
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"天空的颜色*^_^*"<627354011@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [P

[2020-05-18 11:32] iclementine commented on #24591
请提供更详细的报错信息以及运行出错的代码？

[2020-05-18 11:52] menglei5633 opened #24616 "masked_select 这个方法在layers里找不到，但api文档里却有这个方法。版本为1.7.2.post97"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2020-05-18 12:06] menglei5633 opened #24618 "建议可以添加从Variable里挑选指定行或列的方法"
- 版本、环境信息
1）PaddlePaddle版本：1.7.2.post97
2）CPU/GPU：9.2
3）系统环境：win10
希望能添加这个功能，类似于pytorch里的  torch.nn.functional.embedding
比如 输入 [[2,3], [4,5],[6,7]]  [0,2]   返回 [[2,3],[6,7]]

[2020-05-18 12:23] zhao181 opened #24619 "space_to_depth"
请问这个space_to_depth的API接口怎么理解啊?
有详细的资料吗?

[1] 为啥channel要能整除blocksize的平方?
[2] 和原图对应以后 没有任何规律可言,
[3] 我自己想了几种可能的space_to_depth的方案, 与paddle的结果也完全对应不上

I expect that the "space_to_depth" will be the inverse operation to "pixel_shuffle",  but it is not.
So very puzzled.

data_shape_1=(-1,4,28,28)
data_shape_2=(1,4,28,28)
data=fluid.layers.data(name="data",shape=data_shape_1,dtype="float32")
Vardata1=flui

[2020-05-18 12:40] #24618 closed, assigned to nobody

[2020-05-18 12:44] yaobh opened #24621 "c++前向接口是否支持半精度模型？"
你好，我训练了一个半精度的ernie模型，使用预测的demo加载模型的时候会报错，请问c++前向接口支持半精度吗？
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.2
  

[2020-05-18 12:48] shaunhurryup commented on #24605
在变量word_dict中，键的类型都为bytes，他的输出大概是这样子的
[code]

因此通过 `sample_data = [word_dict.get(word, UNK) for word in sample]` 生成的LodTensor值都是一样的
[code]

我把bytes类型的键转换成str后，sample_data的内容符合原来字典的映射关系
[code]

原来的准确率也存在问题，将word_dict字典的键类型调整后准确率正常，**在文档中的word_dict是不是存在问题呢？**
开始：
Predict probability of  **0.55312973  to be positive** and  0.4468703  to be negative for review ' read the book forget the movie '
Predic

[2020-05-18 13:09] Zhangbeibei1991 opened #24622 "大佬能不能出个dygraph加载bert的demo啊(类似paddleHub那种, 有方案也行)，做NLP有需求"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that there was a similar issue su

[2020-05-18 13:14] xixiaoyao commented on #24605
辛苦 @lfchener  帮忙看一下

[2020-05-18 14:43] lao-xu commented on #24545
好的，支持这么做。就是模型库里静态图比较全，动态图太少

[2020-05-18 15:11] 60999 opened #24623 "- Recommended issue content: all error stack information: unspecified launch failure at (/paddle/paddle/fluid/framework/details/op_handle_base.cc:39)"
python cls_MobileNetV2_train.py
2020-05-18 23:03:03 [INFO]      Starting to read file list from dataset...
2020-05-18 23:03:03 [INFO]      10 samples in file /home/aistudio/work/angle/cls/train_list.txt
2020-05-18 23:03:03 [INFO]      Starting to read file list from dataset...
2020-05-18 23:03:03 [INFO]      10 samples in file /home/aistudio/work/angle/cls/train_list.txt
2020-05-18 23:03:07 [INFO]

[2020-05-18 15:50] zhangting2020 commented on #24601
在代码中添加了一些log，开启dali。
- 在最开始的batch时（testbatch 0），conv op的输入在GPU上，因此并不需要做prepare data，使用#22839 在后续的迭代中将会直接跳过prepare data。
[code]
直到在最后一个batch（testbatch 780），conv的输入变成在CPU上了。这种情况下，实际上是需要做data transform的。但#22839并不会做data transform，从而导致了core dump。
[code]
目前看来是开启dali时，引起了上述状态的变化。开启dali时，为什么最后的batch数据会在CPU上呢？

[2020-05-18 19:07] hwx724221178 opened #24624 "训练ResNet50网络出错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】
- 标题：利用Natural Images fine tune
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu   1.8.0.post107
    3）GPU：gtx950m ，cuda  10.2, V10.2.89
    4）系统环境：py3.7+win10 家庭普通版
- 训练信息
    1）单机，单卡
    2）6169m
- 问题描述：
这个是b站上边别人fine-tune Natural Images  视频的文件（录制时间2018年），视频文件显示运行良好，没有任何bug。自己加载文件目录也是正确的，但是当运行时候就会报错，下边先展示运行moudle代码
[code]

[2020-05-19 00:23] daniao2017 commented on #24587
好的，感谢大佬的回复，期待这一功能的实现

[2020-05-19 00:24] #24587 closed, assigned to nobody

[2020-05-19 03:13] OliverLPH commented on #24610
@HaiLongEmb
看了下您的问题，应该是由于您下载的多线程预测实例是给linux用的，所以在Windows平台上编译会报错。
因为Windows平台和Linux本身有区别，所以在写cmake时需区分平台。

比如您提到的 `libmklml_intel` 这个文件，这个第三方库只在Linux上是这样命名的。但在Windows上，这个库的命名方式是不一样的，Windows上叫 `mklml.lib` 或者 `mklml.dll`。
所以构造CMakeLists.txt时，应该像下图一样改写下。
![image](https://user-images.githubusercontent.com/14963836/82280360-50b50580-99c1-11ea-95e7-6b4992e6e74e.png)

目前Paddle官网上应该是没有现成的 Windows 多线程预测的实例

[2020-05-19 03:17] caijie12138 commented on #24569
感谢耐心回答

[2020-05-19 03:17] #24569 closed, assigned to iclementine

[2020-05-19 03:24] huangjun12 commented on #24624
1.6之前的版本，fc接口有is_test参数
https://github.com/PaddlePaddle/Paddle/blob/a5696153a013552bfaa612ca407eba318e18ba54/python/paddle/fluid/layers/nn.py#L218
1.6之后我们进行了升级，移除了is_test参数
https://github.com/PaddlePaddle/Paddle/blob/28f871d4bd9f239aefb2118bf3a83225630160af/python/paddle/fluid/layers/nn.py#L233
这边建议使用新版paddle，参考fc接口使用文档，修改源码即可
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/

[2020-05-19 03:52] huangjun12 commented on #24622
dygraph下bert的实现请参考 https://github.com/PaddlePaddle/models/tree/develop/dygraph/bert
可以的话请具体描述下需求~

[2020-05-19 04:36] Colorfu1 opened #24629 "cudaFree in free: an illegal memory access was encountered"
模型训练过程中遇到错误，在第三个epoch的时候报错：
![error](https://user-images.githubusercontent.com/30551427/82285116-413bb980-99cd-11ea-921d-357b172a54a9.PNG)
不知道是不是空间不够，但是前两个epoch是可以正常训练的，不应该出现空间不够的情况吧

[2020-05-19 04:51] hwx724221178 commented on #24624
@huangjun12 1.6以前的paddle版本在哪里下载？不太会修改源码，is_test还牵扯到create_network函数

[2020-05-19 05:05] Shixiaowei02 commented on #24621
您好，Paddle 在 1.8.0 版本开始支持混合精度 Ernie 预测

[2020-05-19 05:07] hwx724221178 commented on #24624
@huangjun12 包括class resnet ,create_network 都牵扯到了is_test函数，要修改的话如何修改，把is_test 全部改成act="tanh"吗？

[2020-05-19 05:53] 1024er commented on #24629
您看一下训练时候的显存变化呢？

[2020-05-19 06:02] huangjun12 commented on #24624
可以先阅读官网的安装文档
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/install_Ubuntu.html
pip方式安装的话，可以使用如下命令
pip install paddlepaddle-gpu==1.5.2.post97
(此命令为gpu版的paddle，版本号为1.5.2，使用环境为cuda9,cudnn7)
其它可选版本参考
https://pypi.org/project/paddlepaddle-gpu/#history

[2020-05-19 06:02] huangjun12 commented on #24624
可以先阅读官网的安装文档
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/install_Ubuntu.html
pip方式安装的话，可以使用如下命令
pip install paddlepaddle-gpu==1.5.2.post97
(此命令为gpu版的paddle，版本号为1.5.2，使用环境为cuda9,cudnn7)
其它可选版本参考
https://pypi.org/project/paddlepaddle-gpu/#history