[2020-01-02 02:29] LDOUBLEV commented on #22043
问题已复现，处理中

[2020-01-02 02:33] Aurelius84 commented on #22033
请问使用的是conv2d这个api吗？分组卷积里的参数groups和输出channels须满足整除的关系，即output_channels / groups = 整数。

根据你的报错信息来看，是 512 / 1536，结果为小数，不满足整除关系。

[2020-01-02 02:38] Aurelius84 commented on #22038
感谢您的意见反馈，可以使用下paddle目前最新版本1.6.2。我们也会在api封装、文档教程等方面进一步完善和优化，也非常欢迎您提出更多的用户体验方面的意见和建议。

[2020-01-02 02:44] Aurelius84 commented on #22040
根据报错信息看，是以下代码的输入data和网络权重的shape不一致引起的：
[code]
你输入的data的shape是[800,800]，而实际要求的是784，可否检测一下数据shape是否匹配？

[2020-01-02 02:46] Aurelius84 commented on #22041
目前models里也有用到这个模型，只是没有单独的独立出来。可以参考阅读理解模型的实现，这里有一些Pointer Network的代码实现：https://github.com/PaddlePaddle/models/blob/f13e368145c1f65de995d74bc909f43cd8a3da9d/PaddleNLP/models/reading_comprehension/bidaf_model.py

[2020-01-02 02:52] hllrhpy commented on #22040
我想要使用yolo的模型，给他给了3，608，608 他不行，但是我找的实例是用yolo的啊，怎么会给要求784呢，b站七天入门paddle视频最后一节里跑得实例

[2020-01-02 02:56] #22041 closed, assigned to Aurelius84

[2020-01-02 03:02] leiyahui opened #22045 "去掉最后一层的softmax激活函数后，参数出现大量-nan"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2020-01-02 03:30] parap1uie-s commented on #22045
非官方回复
softmax后面接的是交叉熵吧
交叉熵里有log，如果没有softmax激活，模型输出的值域应该是负无穷到正无穷

log负数出现nan很正常，进而导致梯度nan和参数nan

[2020-01-02 03:41] Aurelius84 commented on #22040
可否提供下链接。

另外，您喂入的数据data的实际shape是多少？预测加载的是预训练的模型是么？可否提供更多预训练模型相关的信息呢？

[2020-01-02 03:41] leiyahui commented on #22045
我这个求交叉熵之前模型输出的值域是0到1~，

[2020-01-02 03:43] lfchener commented on #22045
@leiyahui 方便提供一下运行环境，可复现代码，以及具体的报错信息嘛？

[2020-01-02 04:04] leiyahui commented on #22045
我hi你环境

[2020-01-02 04:07] ForFishes commented on #21986
scatter_nd_add 和scatter_nd一致，只支持float32，文档已经修复，已合入。

[2020-01-02 05:19] mapingshuo commented on #22043
@LDOUBLEV 可以提供一下复现代码，我们一起看下怎么修复

[2020-01-02 05:35] maosengshulei commented on #22034
问题已解决，解决方案如下：

1. paddlecloud 的config.ini里添加:

FLAGS_communicator_send_queue_size=8
FLAGS_communicator_thread_pool_size=8
FLAGS_communicator_max_merge_var_num=8
FLAGS_communicator_is_sgd_optimizer=0

2. 训练代码中优化器需打开lazy_mode:
optimizer = fluid.optimizer.Adam(learning_rate=3e-4, lazy_mode=True)

加入以上改动后，模型可以正常训练。

[2020-01-02 05:43] seiriosPlus commented on #22034
1.7 分布式会加入DistributedStrategy， 自动优化communicator相关配置。

lazy_mode会在后续优化中，作为自动优化。

[2020-01-02 05:43] #22034 closed, assigned to seiriosPlus

[2020-01-02 07:01] Boyan-Liu commented on #22018
感谢您的反馈，我们近期统一修改！

[2020-01-02 08:00] iclementine commented on #21957
第一个问题是和我们目前遇到的 scipy 版本依赖冲突的问题，我来重新跑一遍，看看问题是否已经修复了。

第二个是
[Paddle_PR_CI_python35_50650.log](https://github.com/PaddlePaddle/Paddle/files/4015205/Paddle_PR_CI_python35_50650.log)

[2020-01-02 08:01] zjutlzt commented on #22044
有人可以帮忙回答一下吗   有关模型加密的问题?

[2020-01-02 08:09] LDOUBLEV commented on #22043
复现代码：
[code]

[2020-01-02 08:46] #22004 closed, assigned to mapingshuo

[2020-01-02 09:13] #21987 closed, assigned to slf12

[2020-01-02 09:15] heygrain commented on #21999
可以解决，我认为这算个bug，建议检查下reshape、concat等op的反向传播

[2020-01-02 10:24] mapingshuo commented on #22043
@LDOUBLEV 我把Lookahead相关的代码注释掉了，问题仍然存在，暂时和LookaheadOptimizer没有关系，麻烦你看下其他原因。

如下是注释掉Lookahead后的代码：
[code]

以下为错误：

[code]

[2020-01-02 10:40] hllrhpy commented on #22040
用的是b站七天入门的例子，水果的训练集，opencv
调用摄像头，cv2. set（3，608）cv2.set（4，608）定义的大小，在配置文件里我没找到过于y
的shape，x的shape一直都是3，608，608不知道为什么他一直抱着个错误

[2020-01-02 11:14] Aurelius84 commented on #22040
可复现的代码或者infer2.py里的代码可以提供下吗？

[2020-01-02 11:20] hllrhpy commented on #22040
[code]

就这些，您看看

[2020-01-02 11:32] Aurelius84 commented on #22040
想问下，这个文件的这行代码在哪里呢？
[code]

[2020-01-02 11:46] hllrhpy commented on #22040
[code]

[2020-01-02 12:00] Aurelius84 commented on #22040
这一行报错了？这一行只是max取值操作吧。最上面你贴的报错信息是matmul矩阵相乘的错误提示。
可以按照如下方式排查下问题：
+  fake一个[2, 784, 784]的图片数据，看下能否正常运行

另外，模型重训练的模型还是下载的模型？目前我这边没有模型文件，无法调试运行，是否方面提供下模型文件呢？

[2020-01-02 12:11] Aurelius84 commented on #22040
这里直接load_inference_model，可以通过以下代码确认相关参数shape是否符合预期。
[code]

[2020-01-02 12:23] hllrhpy commented on #22040
能方便提供邮箱吗 我发过去

[2020-01-02 13:58] hllrhpy commented on #22040
那还有其他可以联系您的方式吗？我这个模型压缩了大于可上传大小，所以想着通过其他的方式给您法国去

[2020-01-02 14:39] JepsonWong commented on #21794
您好，这个问题我们在修复中。

[2020-01-03 02:13] Aurelius84 commented on #22040
您方便上传到百度云上，分享给我可下载的链接，也可以的。

[2020-01-03 02:36] juncaipeng commented on #21148
是的，源码是使用itertools.chain将多个reader串联，然后进行迭代读取

[2020-01-03 03:26] guoshengCS commented on #21871
paddle目前支持[py_func](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/development/new_op/new_python_op.html)，也可以试下将一些特殊的search操作由py_func实现。一些定制化的功能，可能短期无法支持。

[2020-01-03 03:51] #21148 closed, assigned to nobody

[2020-01-03 04:15] zyxcambridge opened #22069 "校准数据集 超过200张卡死电脑的问题"
https://github.com/paddlepaddle/paddle/blob/develop/python/paddle/fluid/contrib/slim/quantization/post_training_quantization.py

314行

    def _calculate_scale_factor(self):
        '''
        Calculate the scale factor of quantized variables.
        '''
        # apply channel_wise_abs_max quantization for weights
        for var_name in self._quantized_weight_var_name:
            data = self.

[2020-01-03 05:03] mapingshuo commented on #22004
已修复，详见：https://github.com/PaddlePaddle/Paddle/pull/22028

[2020-01-03 05:48] LDOUBLEV commented on #22043
用户的环境是1.6，你用的应该是基于develop分支下的，最新develop分支下的动态图，optimizer需要指定要优化的参数，你看报错信息里是parameter_list为空。目前关于lookaheadoptimizer的最新结论是：动态图当前不支持lookaheadoptimizer。

[2020-01-03 05:51] LDOUBLEV commented on #22043
@GitLD  Hi，lookaheadoptimizer在动态图下暂时不可用，建议换其他optimizer进行优化算法，我们会尽快支持。

[2020-01-03 06:25] mapingshuo commented on #22043
好的，我试一下用1.6复现用户错误。

[2020-01-03 07:22] iclementine commented on #21973
我们会评估一下的哦～

[2020-01-03 09:33] XDUXK opened #22076 "组网时如何获取并使用模型参数的梯度？"
【paddle版本】：CPU 1.6
【机器环境】：MacOS + Python 3.7
【问题描述】：
请问paddle里面有没有方法能够：
1. 在组网时获取到模型参数梯度的Variable变量
2. 基于1中所述梯度的Variable变量和一个已有的梯度数据，定义二者的平方差作为损失loss
3. 通过更新输入数据x（比如更新一个随机输入的噪声图片），而不是网络模型的参数，来最小化2中所述的loss

谢谢！

[2020-01-03 10:45] qingqing01 commented on #22076
[paddle.fluid.gradients](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/gradients_cn.html#gradients)  可以获取输出对输入的梯度.

[2020-01-03 12:30] juncaipeng commented on #22069
占用空间确实比较大，应该是模型中所有的sampling_data总数据占用会超过100G吧？
建议先使用100~200张图片进行校准，其实不一定太多图片效果就好。
后续我们会对占用空间大的问题进行优化。

[2020-01-03 12:46] hllrhpy commented on #22040
https://pan.baidu.com/s/1cNFP7lrJd6SAJsAxBWxS5A    就这个

[2020-01-03 14:48] lidanqing-vv commented on #14775
If this would be searched again, consider update binutils to 2.28.0 or higher version.
To check: `ar --version`

[2020-01-04 07:27] zhishui3 commented on #20795
如果只有word2vec 词向量文件 要怎么加载呀？

[2020-01-04 08:33] dongfangyixi opened #22083 "sequence_expand 问题"
遇到一个问题是，比如：
x 的 lod = [[0, 1, 2], [0, 5, 10]]
y 的 lod = [[0, 15, 25]]
要把x 的 lod expand成y的在ref level=0
就是 x 的 lod ==> [[0, 15, 25], [0, 5, 10]]
把y的lod expand成 x的 在ref level=1
就是y的lod ==> [[0, 15, 25], [0, 5, 10]]
但是
x = fluid.layers.sequence_expand(x, y, ref_level=0)
报错
x不支持 lod level = 2
y = fluid.layers.sequence_expand(y, x, ref_level=1)
y并没有 expand lod没变。
有什么好办法吗？

[2020-01-04 08:36] zhishui3 commented on #2778
您好，请问
emb_para = paddle.attr.Param(name='emb', initial_std=0., is_static=True)
paddle.layer.embedding(size=word_dim, input=x, param_attr=emb_para)
这个怎么用的，怎么报错
emb_para = paddle.attr.Param(name='emb', initial_std=0., is_static=True)
AttributeError: 'module' object has no attribute 'attr'

[2020-01-04 12:59] herb711 opened #22085 "PaddleGAN中的DCGAN的BUG"

[2020-01-04 13:01] herb711 commented on #22085
class DTrainer():中，已经使用了sigmoid_cross_entropy_with_logits求去loss，但是class DCGAN_model(object):中 def network_D(self, input, name="discriminator"):的最后一层，还是使用了out = linear(o_l1, 1, activation_fn='sigmoid', name=name + '_l2')激活函数。
这里是否是重复了？？？

[2020-01-04 14:04] dongfangyixi commented on #21891
这个问题怎么样了？

[2020-01-04 14:09] gfwm2013 commented on #21891
@dongfangyixi 已经复现，正在解决中

[2020-01-04 14:52] GitLD commented on #22043
好的，期待不久后能支持上

[2020-01-05 23:15] leonleeldc opened #22093 "Propeller"
I am trying to make use of propeller to do the logging for the model training. But my following code return None. Not sure why. I tried to get the original code which is part of ERNIE work. I got None too.

    update_Wall_op = fluid.layers.assign(Wall_clock_time, time_diff)
    loss_summaries = [
        summary.scalar('loss/discriminator', d_loss),
        summary.scalar('loss/g_loss', g_loss),

[2020-01-06 01:59] leesusu commented on #21957
@iclementine 感谢，之前的问题都已经解决了，我重新提了pr #22092 ，看能否review下🙏

[2020-01-06 02:19] luotao1 commented on #22083
1. 第一个问题：x 的 lod expand成y，但报错是x不支持 lod level = 2，sequence_expand确实不支持x的lod level=2。 请见：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/sequence_expand_cn.html#cn-api-fluid-layers-sequence-expand
`x (Variable) - 输入变量，维度为 [M,K] ，lod level至多1的二维Tensor或LoDTensor。数据类型支持int32，int64，float32或float64。`
2. 第二个问题：y的lod expand成 x，y的lod ==> [[0, 15, 25], [0, 5, 10]]，这个lod写法是错的。请问你想转成什么样的

[2020-01-06 03:11] Aurelius84 commented on #22040
我load了你的模型，fake数据测了下，你训练的model要求的image的size必须是784的，这个和你训练模型时喂入image的尺寸有关系。是否可以检查下你训练时image的尺寸是否和你预测resize后的尺寸一致呢？

另外，我找到了一些其他人使用[yolov3的案例](https://aistudio.baidu.com/aistudio/projectdetail/238946)，可以参考下，希望有所有帮助。

以下是我测试的代码：
[code]

[2020-01-06 03:14] ceci3 commented on #22085
嗯嗯，应该是写重复了，我修改一下，感谢~~

[2020-01-06 03:29] #20771 closed, assigned to nobody

[2020-01-06 03:55] LarryLee-BD opened #22096 "softmax_with_cross_entropy计算多分类任务的损失报错"
使用fluid.layers.softmax_with_cross_entropy计算多分类任务的损失，label和logits的shape一样，soft_label=True，报错：
_C++ Callstacks:
Enforce failed. Expected logits_dims[i] == labels_dims[i], but received logits_dims[i]:32 != labels_dims[i]:3200.
Input(Logits) and Input(Label) should in same shape in dimensions except axis. at [/paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cc:134]_

我前置输出label和logit看到shap

[2020-01-06 04:00] GaoWei8 commented on #21637
config->DisablePadding();

[2020-01-06 04:08] GaoWei8 commented on #21637
Add an interface to solve the regression: [#22079 ](https://github.com/PaddlePaddle/Paddle/pull/22097)

[2020-01-06 05:05] iclementine commented on #21957
好的，谢谢！

[2020-01-06 05:21] leesusu commented on #21957
@iclementine 我向你 ijasmine@yeah.net 的邮箱发了封邮件，想交个朋友，望回复～

[2020-01-06 07:04] shdyn opened #22103 "Implement scripts to calculate the number of parameters, GPU memory usage, MAdd and FLOPs"
Hi, I cannot find any scripts to implement the above functions. Can you guys please consider to implement the scripts? Thanks.

[2020-01-06 07:50] guoshengCS commented on #2778
@zhishui3 这个已经是比较老的版本了，新版本使用参考这里 https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/train_cn.html#q-embedding

[2020-01-06 08:06] #22085 closed, assigned to ceci3

[2020-01-06 08:30] zhishui3 commented on #2778
O(∩_∩)O谢谢您！

[2020-01-06 08:37] #21957 closed, assigned to iclementine

[2020-01-06 14:20] hxk11111 opened #22115 "optimizer minimize loss时报错，无具体错误信息"
版本、环境信息：
   1）PaddlePaddle版本：1.6.2
   2）python：3.6.3

训练信息
   1）单机单卡

[code]
在minimize total loss时报错
[code]

[2020-01-06 15:07] wbchief opened #22116 "如何自定义损失函数"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2020-01-06 20:50] sirfuwh opened #22117 "使用 conv2d 方法 在动态图中出现错误"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1
    2）CPU：Intel(R) Core(TM) i5-6300HQ CPU @ 2.30GHz
    3）GPU：未使用
    4）系统环境：windows 7 64Bit，Python 3.7.4
- 模型信息
     主要使用 fluid.layers.conv2d 方法
- 复现信息：使用paddle的 conv2d算法建立一个简单的BN操作程序（程序No.1），在连续使用 conv2d时，动态图模式出现错误。 为了查找问题，我建立一个静态运行模式程序（程序 No.2） ，一模一样的算法，却正确通过。
- 问题描述：问题我都注释在代码文档里面了 , 主要是两个：
      1.同样的算法，为何静态没问题，动态却出错，是我的理解错误导致代码不当，还是 Bug？
      2.报错的信息中脚本位

[2020-01-06 21:18] sirfuwh commented on #22117
哎，我刚刚把No.1 程序改成这样子，即是拆成4个函数定义分别计算，这样就可以了
    conv1 = BN("conv1", 256, 1, 1, 0)
    conv2 = BN("conv2", 512, 3, 1, 1)
    conv3 = BN("conv3", 256, 1, 1, 0)
    conv4 = BN("conv4", 512, 3, 1, 1)

但是！ 我昨天也是这么做的却不行，还是一样的错误。不过昨天好像是所有的名字都是 self.full_name()，就像：
    conv1 = BN(self.full_name(), 256, 1, 1, 0)
    conv2 = BN(self.full_name(), 512, 3, 1, 1)
    conv3 = BN(self.full_name(), 256, 1, 1, 0)

[2020-01-07 01:11] zjutlzt opened #22119 "Paddle Tensorrt 问题"
Paddle Tensorrt 问题

在进行PaddleTensorrt测试得时候
导出模型   FasterRCNNTestFeed.image_shape=[3,800,800]
尺寸800是可以运得

但是 尺寸 任何一边大于800 就会报错  并且没有错误提示

2.是否有模型加密得建议或者方案??

[2020-01-07 01:11] #22044 closed, assigned to nobody

[2020-01-07 03:07] dongfangyixi commented on #22083
@luotao1

[2020-01-07 03:07] dongfangyixi commented on #22083
@luotao1

[2020-01-07 03:17] DDDivano commented on #22117
conv1 = BN("conv1", 256, 1, 1, 0)
conv2 = BN("conv2", 512, 3, 1, 1)
conv3 = BN("conv3", 256, 1, 1, 0)
conv4 = BN("conv4", 512, 3, 1, 1)
应该这么做，你定义网络的时候，每一层都需要定义。然后命名参数namescope可以一样，不影响结果计算。比如都叫conv
conv1 = BN(self.full_name(), 256, 1, 1, 0)
conv2 = BN(self.full_name(), 512, 3, 1, 1)
conv3 = BN(self.full_name(), 256, 1, 1, 0)
conv4 = BN(self.full_name(), 512, 3, 1, 1)
这个明显跑不起来，因为self是哪里定义的？
`不过昨天好像是

[2020-01-07 03:20] dongfangyixi commented on #22083
@luotao1
感谢回复
之前 lod 表述的有问题，抱歉，重新表述一下
是这样的 比如
x 的 lod = [[0, 1, 2], [0, 5, 10]]
y 的 lod = [[0, 2, 5]]
要把x 的 lod expand成y的在ref level=0
就是 x 的 lod ==> [[0, 2, 5], [0, 5, 10, 15, 20, 25]]
把y的lod expand成 x的 在ref level=1
就是y的lod ==> [[0, 2, 5], [0, 5, 10, 15, 20, 25]]
但是
x = fluid.layers.sequence_expand(x, y, ref_level=0)
报错
x不支持 lod level = 2
y = fluid.layers.sequence_expand(y, x, ref_level=1)
y并没有 ex

[2020-01-07 04:43] sirfuwh commented on #22117
原始的删了，现在我复现一下，大概是这样的

import paddle
import paddle.fluid as fluid
from paddle.fluid.param_attr import ParamAttr
from paddle.fluid.dygraph.nn import Conv2D, Pool2D, FC, BatchNorm
from paddle.fluid.regularizer import L2Decay
import numpy as np

class BN(fluid.dygraph.Layer):
    def __init__(self, name_scope,
                num_filters,
                filter_size,
                stride,

[2020-01-07 04:44] yuyy0823 opened #22127 "rank_loss为inf"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2gpu版
    2）GPU：CUDA Version 8.0.44         CUDNN版本号
    3）系统环境：CentOS release 6.3 (Final)，Python2.7.3
- 训练信息
    1）单机多卡
    2）NVIDIA-SMI 384.81                 Driver Version: 384.81

- 问题描述：训练ranknet模型，训练过程中loss出现inf，即使lr设置为1e-5，也会出现loss为inf，有时候前几个epoch出现inf，后面训练又变正常不再出现inf，有时候前几个epoch出现inf，中间几个epoch正常，没有inf，然后再过几个epoch又出现inf，感觉很奇怪，麻烦相关同学帮忙分析下原因。
使用check_nan_i

[2020-01-07 04:56] dxc0ap opened #22128 "多分类focal loss 报错"
PaddlePaddle版本：1.6  
- 训练信息
    1）单机单卡
    2）显存信息
    3）Operator信息
报错信息
Traceback (most recent call last):
  File "run_classifier.py", line 403, in <module>
    main(args)
  File "run_classifier.py", line 114, in main
    is_regression=args.is_regression)
  File "/ssd2/xiangjing/beta/ERNIE_2.0/finetune/classifier.py", line 110, in create_model
    x=logits, label=labels, fg_num=fg_num, gamma=2., a

[2020-01-07 05:32] guoshengCS commented on #22128
`fg_num = fluid.layers.data(name='fg_num', shape=[1], dtype='int32')` 会自动的添加一个batch_size的维度，得到的shape会是`[-1, 1]`，而sigmoid_focal_loss要求fg_num是一维的，可以试下加上`append_batch_size=False`或者新的[`fluid.data`](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/data_cn.html#data)接口

[2020-01-07 05:33] leesusu opened #22131 "新优化器讨论：Group-Sparsity-Regularized FTRL (G-FTRL)"
我们这边初步的需求是：

FTRL的稀疏性是作用在模型的每个权重上的，粒度较细，对于embedding，每一行特征是一个整体，所以希望产生的稀疏解能作用在一整行上。

为此我们调研了近期facebook的论文：
《[Feature Selection for Facebook Feed Ranking System via a Group-Sparsity-Regularized Training Algorithm](https://research.fb.com/publications/feature-selection-for-facebook-feed-ranking-system-via-a-group-sparsity-regularized-training-algorithm/)》

大致的思想如下：
![image](https://user-images.github

[2020-01-07 06:13] guoshengCS commented on #22093
Sorry, I am not so clear with the question. If it means that log can not work correctly, will some logging setting like `logging.getLogger().setLevel(logging.INFO)` help, maybe some dependencies use `logging.basicConfig()`  which would just be called once and ignore your call again.

[2020-01-07 06:13] DDDivano commented on #22117
关于网络层可以这样理解。 您定义的BN是一个类，是一类操作，这个操作可以应用在某一层网络上。但是BN实例化出来的对象，是一个具体的层，有具体参数，这个层不仅有前向也有反向。所以这个对象代表的是一个具体的层，并不是代表BN这个功能。所以不能作为一个通用计算方式使用多次。

namescope作用是对层进行唯一命名，但是即使不加，框架也会对层进行命名，主要作用就是为了方便调试而已。区别在于比如GAN模型，这样的模型可能会一次训练多个网络，里面相同类型的网络比如FC，框架会给命名成FC1,FC2...FCX等等，不好区分这个FC到底是哪个网络下的FC，所以加入了namescope，实际上就是在系统命名钱面加个前缀，类似于namescope+"/"+layer's name。不过这个功能目前在最新版本develop的paddle中已经移除了，所以不用太在意这个概念了。

[2020-01-07 06:24] jiwenfei opened #22133 "不保存模型，如何直接预测"
程序可以正常执行
    train=>保存模型到本地=》从本地读取模型=》进行预测

但是如何执行：
   train=》进行预测

目前模仿保存模型的方法写了以下，报参数未初始化错误。代码如下：

[code]

报错信息如下：
[code]

[2020-01-07 06:36] guoshengCS commented on #22115
可否贴下完整代码或者gather_nd附近的代码呢，看上去是gather_nd附近报错

[2020-01-07 06:46] ccmeteorljh commented on #18029
在最新paddle下验证通过：
paddle_commit_id: ```35ff1568e993d2d4569b94d74820d8717201f903```
验证结果：
[code]

[2020-01-07 06:46] #18029 closed, assigned to seiriosPlus

[2020-01-07 06:46] dxc0ap commented on #22128
多谢 guoshengCS，这个问题解决了，接着又出现一个问题，烦请帮忙解答。

代码：
focal_loss, probs = fluid.layers.sigmoid_focal_loss(x=logits, label=labels, fg_num=fg_num, gamma=2., alpha=0.25)
报错：
valueError: too many values to unpack

由于是多标签问题，这里 logits是一个 26 维的 tensor，如下图所示：
logits
name: "fc_73.tmp_1"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: -1
      dims: 26
    }
    lod_level: 0

[2020-01-07 06:49] leonleeldc commented on #22093
Ok, I just found out this propeller to be quite similar to the tensorflow counterpart. We can simply replace tf with paddle quickly for it. It claims to be working well in paddlepaddle. If not working yet, I can manage to get by with common logging as well. Hope that this propeller will be workable soon.
https://github.com/PaddlePaddle/ERNIE/tree/develop/propeller

Thanks,

[2020-01-07 06:56] hxk11111 commented on #22115
[code]

[code]

[code]

共这三处用到了gather_nd函数

[2020-01-07 06:57] sirfuwh commented on #22117
明白了，谢谢！

[2020-01-07 06:57] #22117 closed, assigned to nobody

[2020-01-07 07:24] guoshengCS commented on #22128
sigmoid_focal_loss的返回值只有一个loss，这里多了一个
`focal_loss, probs = fluid.layers.sigmoid_focal_loss(x=logits, label=labels, fg_num=fg_num, gamma=2., alpha=0.25)`

[2020-01-07 07:37] XDUXK commented on #22076
使用fluid.gradients(mean_diff_loss, dummy_x)在获取关于输入数据dummy_x的梯度（应该是二阶导）时有些问题，报下面的错，不知道是什么原因啊？谢谢
![image](https://user-images.githubusercontent.com/26429100/71877185-86b8c200-3163-11ea-8de9-45c00fb87d6c.png)

[2020-01-07 07:41] leesusu commented on #22131
@iclementine 飞宇要不你来瞅瞅，稀疏更新的ftrl也是你review的🤦‍♂️

[2020-01-07 08:15] Meiyim opened #22138 "topk op 不回传梯度"
dev 版本topk op 不回传梯度:
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L4740

gather/gather_nd目前都可以传梯度了，topk啥时候也更新一下?

[2020-01-07 08:20] guoshengCS commented on #22138
目前topk op没有实现对应的反向OP，所以暂时还不能传梯度

[2020-01-07 08:25] guoshengCS commented on #22116
如果这个自定义的损失函数可以使用其他OP组合试下的话，可以直接组合实现。无法组合实现的话Paddle目前支持下面的在框架外自定义OP的方法，可以参照实现需要的损失函数
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/development/new_op/new_python_op.html#python-op
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/development/new_op/custom_op.html#c-op

[2020-01-07 08:57] Meiyim commented on #22138
给加个TODO呗

[2020-01-07 09:00] guoshengCS commented on #22119
1.  > 尺寸 任何一边大于800 就会报错

咨询了下 @jerrywgz 感谢，现在tensorrt的shape必须和导出模型的shape一致才行，需要tensorrt6才支持变长输入，这个还在支持中

2. 模型加密的话可以看下这种内存load是否满足需求 #14734 ，使用示例见这里 https://github.com/luotao1/Paddle/blob/743cb840f1235911d163eb4927161cbfc0e803b5/paddle/fluid/inference/tests/api/analyzer_ner_tester.cc#L97

[2020-01-07 09:04] guoshengCS commented on #22133
可以试下移除`test_step`中的 `self.inference_scope = fluid.core.Scope()`，这样能够使用训练中的参数，若`self.test_program`不包含参数优化更新的内容，test使用train的scope也不会对train有影响。

[2020-01-07 09:08] guoshengCS commented on #22115
可以试下在以下代码中的`gather_nd`前加上`indexing_tensor.stop_gradient=True`
[code]

[2020-01-07 09:09] dxc0ap commented on #22128
多谢 guoshengCS，还有两个问题想要请教：
1. 因为 sigmoid_focal_loss 不返回预测值，所以我有什么办法能算准确率吗？类似于：
 accuracy = fluid.layers.accuracy(input=probs, label=labels, total=num_seqs)

2.
代码：
fg_num = fluid.data(name='fg_num', shape=[1], dtype='int32')
focal_loss = fluid.layers.sigmoid_focal_loss(x=logits, label=labels, fg_num=fg_num, gamma=2., alpha=0.25)

报错为：
W0107 17:04:44.223543 89860 device_context.cc:236] Please NOTE:

[2020-01-07 10:58] #22115 closed, assigned to nobody

[2020-01-07 12:03] gongweibao commented on #22103
Memory usage:https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/memory_usage_calc.py

Number of  parameters & MAdd & FLOPs: https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/model_stat.py

[2020-01-07 12:05] gongweibao commented on #22127
这里有一个工具：先睹为快：https://github.com/PaddlePaddle/FluidDoc/pull/1658

[2020-01-07 12:07] gongweibao commented on #22096
可能因为数据的问题导致最后shape对不上了。检查一下数据？

[2020-01-07 12:31] guoshengCS commented on #22128
1.  有logits的话应该可以根据自己的需要再使用sigmoid等OP得到需要的probs

2. 可以检查确认下sigmoid_focal_loss的输入是否有未赋值的，可以试下使用[fluid.layers.Print](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print)看下哪个打印不出来。

[2020-01-07 12:35] yuyy0823 commented on #22127
直接运行了下工具，也没有完整打印每个op和block的inf信息
![image](https://user-images.githubusercontent.com/28800753/71895874-2e96b580-318d-11ea-9af9-41e9a777080d.png)

[2020-01-07 12:46] littletomatodonkey opened #22148 "怎样在program中实时获取bn的mean和variance值"
如下所示，我想在bn之后获取当前的moving_mean和moving_variance的值（不是基于fetch list），再基于该值做一些额外的操作，想问下这个怎么实现呢？
[code]

[2020-01-07 13:21] guoshengCS commented on #22148
可以试下根据moving_mean_name和moving_variance_name，使用`fluid.get_default_main_program().blocks[0].var("var_name")`获取到这两个variable，然后就可以像其他内容一样使用了。

[2020-01-07 13:21] ghost opened #22149 "FSAF论文复现"
可以复现下FSAF论文吗，mmdetection复现的不好修改哈哈哈

[2020-01-07 13:53] herb711 opened #22151 "PaddleGAN中的DCGAN的疑惑"
DCGAN.py中使用生成器生成图像用于优化判别器时，使用了如下代码
generate_image = exe.run(g_trainer_program,
                                         feed={'noise': noise_data},
                                         fetch_list=[g_trainer.fake])
疑惑的地方是，该代码运行时，是不是生成器也同时进行了优化？为何不用
g_trainer.infer_program 来替代 g_trainer_program ？？

很抱歉百忙之中到扰，如果能够得到回复，万分感谢。

[2020-01-07 13:56] herb711 commented on #22151
当然，训练的时候，确实是一边优化生成器，一边优化判别器。个人疑惑在于，这里是有意为之，还是无意为之。这里使用g_trainer_program时，是否会优化生成器？可不可以使用g_trainer.infer_program来代替。因为后面161行还有
               for _ in six.moves.xrange(self.cfg.num_generator_time):
                    noise_data = np.random.uniform(
                        low=-1.0,
                        high=1.0,
                        size=[self.cfg.batch_size, self.cfg.noise_size]).astype(

[2020-01-07 14:10] littletomatodonkey commented on #22148
嗯嗯试了下，应该是`fluid.default_main_program().blocks[0].var("var_name")`，多谢啦

[2020-01-07 14:10] #22148 closed, assigned to nobody

[2020-01-07 15:05] zhwesky2010 opened #22153 "训练脚本异常退出时，显存未自动释放"
Paddle在训练时如果因为异常原因退出脚本，比如设置过大的batch size，使得python程序挂掉退出，但分配的显存仍然存在，没有自动回收，GPU-Util是0%，如下图的GPU 6，显存都没有释放。只能通过kill -9杀掉相应进程，这是否是一个bug，或功能不支持的地方？

![image](https://user-images.githubusercontent.com/52485244/71904966-209f5f80-31a2-11ea-9aab-42e1dedcae63.png)

[2020-01-08 01:46] gongweibao commented on #22127
碰到第一个inf的时候就退出了。第一个inf已经打印了吧？

[2020-01-08 02:33] yuyy0823 commented on #22127
还是回归到我的问题本身来吧，日志已经显示` rank_loss output Tensor traintrainrank_loss_0.tmp_0 contains Inf` ，那么rank_loss为inf可能是什么原因造成的呢？有什么解决方法吗？

[2020-01-08 02:35] gongweibao commented on #22127
这一层已经有inf了。再往下看没有啥意义了吧？
![image](https://user-images.githubusercontent.com/10721757/71945740-93402780-3202-11ea-966a-d2523cffb924.png)
打印一下参数值，看看什么造成了Inf

[2020-01-08 02:40] tangbozhang opened #22156 "本地运行训练模块报错"
执行官方例程 【AI Studio 官方课程】第九节：深度学习进阶（计算机视觉）实践-目标检测，aistudio上运行正常，在本地运行时报错如下：
本地运行环境：win10 64位，cuda10，paddle 1.6.1 ，运行其他例程正常。

EnforceNotMet                             Traceback (most recent call last)
<ipython-input-24-34d7849d4356> in <module>
     20
     21 #构造训练用的program
---> 22 train_reader, img, loss, locs, confs, box, box_var = build_train_program_with_async_reader(train_program, start_progra

[2020-01-08 02:56] tago-tech commented on #16029
前辈你好，请问你是如何发现这个问题的？最后怎么解决的？

[2020-01-08 03:19] yuyy0823 commented on #22127
请问应该打印哪些参数值呢？我把output_left和output_right打印出来没有异常值，运行一段时间后还是直接报上面一样的错
[code]

![image](https://user-images.githubusercontent.com/28800753/71947716-b40b7b80-3208-11ea-8068-42c5b52c25cf.png)

[2020-01-08 03:54] Meiyim commented on #22093
hi, @leonleeldc

`propeller` is not part of PaddlePaddle ecosystem, we are working on it though.

`summary.scalar` returns None, so you can't stack the result. also there is no 'summary_op' in Paddle.
if you want to log a tensor(scalar value or historgram), simply mark the tensor with `summary.scalar` or `summary.histogram`.  propeller will record the tensor and do the logging for you.

you can ch

[2020-01-08 05:08] zjutlzt commented on #22119
您好,感谢 回答,  加密的问题看到了  非常感谢

但是 我在 使用PaddleTRT时(用TRT6.0 重新编译了一次)     export 模型   设置FasterRCNNTestFeed.image_shape=[3,800,800]
的时候   模型可以正常运行

但是按照   export 模型   设置FasterRCNNTestFeed.image_shape=[3,800,1600]
的时候 程序 直接闪退
I0108 13:06:21.040693  6417 analysis_predictor.cc:471] ======= optimize end =======
I0108 13:06:21.041179  6417 naive_executor.cc:105] ---  skip [feed], feed -> im_shape
I0108 13:06:2

[2020-01-08 05:10] hxk11111 opened #22159 "transpose操作dimension问题"
- 版本、环境信息：
1）PaddlePaddle版本：1.6.2
2）python：3.6.3

- 训练信息
1）单机单卡

- 问题描述
[code]
打印image的shape为(-1, 512, 512, 1)
但在transpose操作中报错，说 tensor's dimension is 3, axis's size is 4，tensor的dimension不应该是4吗
[code]

[2020-01-08 05:15] wanghaoshuang commented on #22159
建议这样试一下：
[code]

[2020-01-08 05:18] hxk11111 commented on #22159
试了下  还是会报相同的错误

[2020-01-08 05:22] wanghaoshuang commented on #22159
feed data的代码也贴一下？

[2020-01-08 05:26] jiwenfei commented on #22133
![image](https://user-images.githubusercontent.com/14801991/71952605-3fd9d380-321a-11ea-9ce8-21e4f1eeb196.png)
解决问题得关键是，```self.test_program = self.main_program.clone(for_test=True)```这个语句放在程序得位置，这个语句之上得操作，是被认为在test中的，开发中应该注意！！！

[2020-01-08 05:27] jiwenfei commented on #22133
可以了，谢谢

[2020-01-08 05:37] wanghaoshuang commented on #22159
已确认feed数据时少了一维。

[2020-01-08 05:37] #22159 closed, assigned to nobody

[2020-01-08 05:53] AoZhang commented on #21986
请问当前没有支持int 类型的原因是什么，以及是否有计划支持 int 类型？@ForFishes

[2020-01-08 05:57] JoyeeL commented on #21939
fluid.io.load_params(
                    executor=exe, dirname=model_path, main_program=copy_program)
            exe.run(fluid.default_startup_program())
            ret = fluid.global_scope().find_var("emb_b").get_tensor()

返回'NoneType' object has no attribute 'get_tensor'
但是

    input_emb = fluid.layers.embedding(
        input=words[0],
        is_sparse=is_sparse,
        size=[dict_size, e

[2020-01-08 06:32] baiyfbupt commented on #21939
`fluid.global_scope().find_var("emb_b")`返回值为None, 表示fluid没有在当前scope下找到"emb_b"这个var
建议确认下当前scope下的program是否定义了这个var, 可以用下面方法打印出program内所有var，看看是否包含这个"emb_b"
[code]

[2020-01-08 06:58] guoshengCS commented on #22127
如果rank_loss为inf的话可否试下使用下面这样
[code]
然后再用check_nan_inf跑下，看下是否是rank_loss里的exp计算造成的

[2020-01-08 07:06] yuyy0823 commented on #22127
试了一下，确实是rank_loss里的exp计算造成的，这种情况怎么处理呢？
[code]

[2020-01-08 07:08] tangbozhang opened #22162 "打开本地文件失败"
在aistudio中打开本地文件报错
![image](https://user-images.githubusercontent.com/53244607/71957412-a9f97500-3228-11ea-9a45-b1156e855e89.png)

同样代码，在本地运行正常。

[2020-01-08 07:10] tangbozhang commented on #22162
aistudio 中paddle版本为1.4.1，本地安装的paddle版本为1.6.1

[2020-01-08 07:27] guoshengCS commented on #22127
看了下rank_loss的实现  https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/rank_loss_op.h#L39 ，感觉貌似可以使用其他OP组合实现，可以在组合时加入一些clip进行处理。或者改下模型或者损失函数。

[2020-01-08 07:36] tianshuo78520a commented on #22018
我们使用了您的脚本，在执行后的word文件里发现了一些并不属于Paddle代码里的单词，像是多个单词组合起来的。
例如：distributedoptimizer、mkldnnposttrainingquantstrategy、distributedoptimizer
看起来像是在拆分单词时候发生了问题。

[2020-01-08 08:11] DDDivano commented on #22151
这块我看了一下代码，g_trainer.infer_program 来替代 g_trainer_program 是不行的，因为定义infer_program用的program.clone， fortest参数是True。会裁剪反向op，不能用来训练。

[2020-01-08 08:27] herb711 commented on #22151
首先感谢回答，但是并不能完全解答我的疑惑。

用于训练生成器确实不能，如果训练中第一次调用run，主要是想获得一张生成图片generate_image，用这个来训练判别器，而非训练生成器。
如果是上述这种想法，可以用g_trainer.infer_program来代替吗？

生成器的训练代码中后面161行还有
for _ in six.moves.xrange(self.cfg.num_generator_time):
noise_data = np.random.uniform(
low=-1.0,
high=1.0,
size=[self.cfg.batch_size, self.cfg.noise_size]).astype(
'float32')
g_loss = exe.run(g_trainer_program,
feed={'noise': noise_data},
fetc

[2020-01-08 08:30] herb711 commented on #22151
我主要是想知道，代码的作者的想法，他编写的思路是如下吗？
1、训练生成器，同时生成一张图片
2、用真图假图训练判别器
3、通过参数控制生成器再训练，默认是再训练1次

这样的话，其实一次过程中，生成器其实是默认训练了2次。
当然也不是说这个有错。我只是想知道作者是否是这样想的。

[2020-01-08 08:52] ceci3 commented on #22151
是的，生成器默认是训练两次的。
流程应该是：
1. 通过生成器拿到一张生成图片，（代码里的program用错了，直接用infer_program就可以）
2.用真假图训练判别器
3.训练两次生成器（这里是因为GAN的训练不稳定，所以通过这种方式来控制生成判别过程中的平衡）

[2020-01-08 09:06] guoshengCS commented on #22133
如果解决的话这里先行关闭此issue，如有问题可以reopen

[2020-01-08 09:06] #22133 closed, assigned to nobody

[2020-01-08 09:11] guoshengCS commented on #22131
欢迎贡献，可行性还需我们这边确认下，提交PR后，我们这边会及时跟进review。

[2020-01-08 09:15] JoyeeL commented on #21939
all_vars是空的。
代码逻辑如下：

    place = fluid.CUDAPlace(0) if use_cuda else fluid.CPUPlace()
    exe = fluid.Executor(place)
    emb_size = args.emb_size
    batch_size = args.batch_size
    with fluid.scope_guard(fluid.core.Scope()):
        main_program = fluid.Program()
        #with fluid.program_guard(main_program):
        #    copy_program = main_program.clone()
        model_path = model_dir + "

[2020-01-08 09:18] DDDivano commented on #22151
这个写的比较trick。因为一个batch中相当于训练了2次判别器，然后训练生成器那个循环默认是1，可能存在不稳定，应该是训练两次和判别器对抗，所以在开始生成图片的时候训练了一次达到平衡，相当于每个batch训练2次生成器，2次判别器，实际可以第一次直接选择生成图，用inferprogram，不进行训练，然后通过参数调节每一轮生成器训练次数也是可以的（也不一定是说每一轮训练2次就是最佳的）。

[2020-01-08 09:20] baiyfbupt commented on #21939
hi @JoyeeL :
fluid.io.load_params的功能是`从指定的 main_program 中筛选出所有模型参数变量，并根据目录 dirname 或 filename 提供的参数文件对这些模型参数进行赋值。`
而你这里的main_program是一个空的program，没有定义计算图，没有参数变量，所以什么都load不到
我猜你是有一个inference_model需要load？那可以用`paddle.fluid.io.load_inference_model`接口，这样不用定义计算图

[2020-01-08 09:36] JoyeeL commented on #21939
可以通过fluid.io.load_params来获取变量的值吗？

[2020-01-08 09:36] JoyeeL commented on #21939
可以通过fluid.io.load_params来获取变量的值吗？

[2020-01-08 09:41] baiyfbupt commented on #21939
使用fluid.io.load_params需要你的program里有定义var，
可以把训练过程的train_program拿过来，用train_program来load。只要确保这个program里有"emb_b"，模型文件里存了"emb_b"，就能load进来

[2020-01-08 09:59] leesusu commented on #22131
@guoshengCS 👍感谢

[2020-01-08 11:17] hxk11111 opened #22168 "gather_nd函数index tensor梯度回传"
- 版本、环境信息：
1）PaddlePaddle版本：1.6.2
2）python：3.6.3

- 训练信息
1）单机单卡

- 问题描述
[code]
在edge_conv_layer函数中，input_feature为(batch, node_nums, feature_size)。在构造neighbour_space时，希望input_feature各node间计算距离，取距离最近的topk个node的feature共同组成当前node feature，因此用到了gather_nd函数，其中indexing即为最邻近k个node的索引，目前需要梯度能够经过indexing回传，但gather_nd函数貌似不支持index分支回传梯度，不知道是否有好的建议。

[2020-01-08 11:24] #22168 closed, assigned to nobody

[2020-01-08 12:42] wudenggang commented on #22162
aistudio 是Ubuntu系统（非windows），报错内容说找不到对应的文件，更改下目录即可

[2020-01-08 12:43] #19352 closed, assigned to nobody

[2020-01-08 13:11] nealys1049 opened #22178 "cuda9.0 安装后出错"
----------------------
Error Message Summary:
----------------------
Error: Paddle internal Check failed. (Please help us create a new issue, here we need to find the developer to add a user friendly error message)
  [CUBLAS: execution failed.] at (D:/1.6.2/paddle\paddle/fluid/operators/math/blas_impl.cu.h:34)
  [operator < mul > error]

[2020-01-08 14:46] herb711 commented on #22151
OK，感谢大神百忙中还能如此细致的为我解惑。很感谢！
我看到找到模型bug可以得积分，上一次我找到dcgan中sigmoid重复的bug，劳烦加一下积分。
herb_711@sina.com
上面是我百度账号，我用它登录的飞浆。

[2020-01-08 15:15] jczaja opened #22179 "[DNNL] NCHW vs NHWC performance"
Recently DNNL (formerly known as MKL-DNN) integration in PaddlePaddle was updated to support
NHWC PaddlePaddle layout. Functionally it was tested by unit tests. No performance comparison was made NCHW vs NHWC on MKL-DNN and in my opinion it would valuable to have such a comparison on model level (best convolutional one). Hence  there are two options:

1) Please provide two versions of model for C-

[2020-01-08 23:46] wudenggang commented on #22018
大佬，之前拆分单词比较粗糙。代码主要功能是获取所有的docstrings，单词差错功能其实还需要更好的方法。

[2020-01-09 01:08] #22119 closed, assigned to nobody

[2020-01-09 01:13] zjutlzt opened #22182 "Paddle Detection C++ 预测问题"
我在使用 Paddle TRT的时候
Tensorrt 版本为6.0
模型导出都是定长的

第一次 导出 FasterRCNNTestFeed.image_shape=[3,800,800]
检测程序里  也把图片 定死成 800,800 可以运行

第二次 导出FasterRCNNTestFeed.image_shape=[3,800,1312]
检测程序里  也把图片 定死成 800,1312 无法运行

[2020-01-09 01:16] tangbozhang commented on #22162
本地计算机为win10，启动的是anaconda中的基于paddle的notebook
[
![image](https://user-images.githubusercontent.com/53244607/72029381-b8936b00-32c0-11ea-8d4e-240aa0848126.png)
](url)

[2020-01-09 01:17] tangbozhang commented on #22162
![image](https://user-images.githubusercontent.com/53244607/72029437-e4aeec00-32c0-11ea-9ef3-2b0e5590b810.png)

[2020-01-09 01:18] tangbozhang commented on #22162
怎么修改？

[2020-01-09 01:26] zjutlzt commented on #22182
连  auto input_names = predictor->GetInputNames();
这一步 都走不到  直接Segmentation fault (core dumped)

[2020-01-09 01:32] tangbozhang commented on #22162
找到问题了，aistudio 访问本地路径，需要ip的

[2020-01-09 01:32] #22162 closed, assigned to nobody

[2020-01-09 01:35] tangbozhang commented on #22156
在本地anaconda中基于paddle的notebook

[2020-01-09 02:32] #22182 closed, assigned to nobody

[2020-01-09 02:43] adaxiadaxi commented on #22151
@herb711 hi，请问你是在哪里看到找到模型bug可以获得积分的信息呢？可以提供下信息的链接嘛，我这边去确认下~

[2020-01-09 03:04] luotao1 commented on #22179
@zhangting2020 Please see the Intel test requirements.

[2020-01-09 05:30] yang-yq opened #22192 "fleet gpu 多卡训练的一些疑问"
1. 用fleet gpu跑单机多卡，把fleet.worker_index()打出来看发现只显示0号卡的训练日志信息，请问一下这种情况符合预期吗？
2. 跑多机多卡（2机4张卡）时，teset的结果和单机单卡的测试集评估结果对不齐。（其中，单机单卡输出步数为12000，多机多卡的单机上的log输出为1500）

[2020-01-09 05:34] gongweibao commented on #22192
1. 符合预期。

其实都是一个问题。
步数然后*8(加上其他的)就是整体。

[2020-01-09 05:48] yang-yq commented on #22192
1. 那怎么查看别的卡的训练日志呢？用了CompiledProgram的with_data_parallel之后不是一份数据分给多张卡跑吗？

[2020-01-09 06:29] herb711 commented on #22151
链接如下
https://www.paddlepaddle.org.cn/modelbasedetail/stargan

在最后一行
“如何贡献代码

如果你可以修复某个issue或者增加一个新功能，欢迎给我们提交PR。如果对应的PR被接受了，我们将根据贡献的质量和难度进行打分（0-5分，越高越好）。如果你累计获得了10分，可以联系我们获得面试机会或者为你写推荐信。”

[2020-01-09 06:35] wawltor opened #22193 "topk op没有反向kernel, 并且文档中没有提示没有反向的kernel"
![image](https://user-images.githubusercontent.com/16698950/72043800-19d13380-32ed-11ea-96f8-f97bf845138e.png)

因为影响了较多的模型的开发，希望增加topk的反向kernel

[2020-01-09 06:51] gongweibao commented on #22192
能否发下程序，我看你是怎么调用的？以及程序是怎么启动的？

[2020-01-09 16:19] wanghaoshuang opened #22199 "通过scope初始化batch norm的可训练参数"
获取所有parameters:

[code]
观察确定batch_norm op相关的四个参数的名称。
直接通过scope初始化指定变量：
[code]

[2020-01-09 16:19] #22199 closed, assigned to nobody

[2020-01-10 00:54] hllrhpy commented on #22040
抱歉，之前看了，就去了解这些去了，忘了回复了。我要预测（608，608）的摄像头数据，我是不是需要训练尺寸大小为608*608呢？昨天看视频是这样的，但是感觉这个值有点大，在这向您再问一下。还有这个尺寸就是像素大小是吧。我如果用1920*1280的voc数据集是不是需要对这些进行剪裁呢？

[2020-01-10 01:59] Aurelius84 commented on #22040
是的，预测时输入的图片数据尺寸（即像素大小）要和训练时的尺寸一致，也建议这么做。另外一种处理方法是：你可以将你的预测图片先预处理成和训练的时的一样（如resize）。

需要裁剪。

[2020-01-10 02:07] ygren commented on #21775
@chenxiaoyu3 我也遇到这个问题报错，请教一下reader是怎么实现的，谢谢

[2020-01-10 02:49] adaxiadaxi commented on #22151
@herb711 hi，同学，其实你也看到了"如果你可以修复某个issue或者增加一个新功能，欢迎给我们提交PR，如果对应的PR被接受了，我们将根据贡献的质量和难度进行打分"。其实我们更鼓励你这边直接提pr修复这个问题，如果pr被采纳了，才会有对应的积分奖励。不过这次可以先记录你找寻模型bug情况，之后再有提pr修复问题或新增功能的pr，我们会累积这次找模型bug的分数~

[2020-01-10 05:02] Cristhine opened #22205 "RuntimeWarning: Invalid value encountered in median r = func(a, **kwargs)"
训练过程中随机iter中出现报错： RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs) 然后损失会变成nan
2020-01-09 08:29:41,280-INFO: iter: 38900, lr: 0.000500, 'loss': '3.347605', time: 0.938, eta: 2 days, 20:04:31
2020-01-09 08:29:57,997-INFO: iter: 38920, lr: 0.000500, 'loss': '3.927342', time: 0.679, eta: 2 days, 1:18:34
2020-01-09 08:30:16,731-INFO: iter: 38940, lr: 0.000500, 'loss': '3.3201

[2020-01-10 05:14] seiriosPlus commented on #22205
是用的哪个模型？

[2020-01-10 05:54] Cristhine commented on #22205
用的ppdet的 mobilenetssd

[2020-01-10 06:02] qingqing01 commented on #22205
1.  请问使用的paddle版本是？
2.  训练数据是什么？

[2020-01-10 06:06] Cristhine commented on #22205
paddle 版本是1.6.1 训练数据是自己的数据 该数据在ppdet yolo系列正常训练过模型

[2020-01-10 06:38] dxc0ap commented on #22128
代码：
focal_loss = fluid.layers.sigmoid_focal_loss(x=logits, label=labels, fg_num=fg_num, gamma=2., alpha=0.25)

其中 logits 为：
Tensor[fc_73.tmp_1]
	shape: [32,26,]
	dtype: f
	data: 0.73672,0.298391,-0.372229,-0.0389988,0.13084,-0.879335,0.507872,-0.0871518,-0.131122,0.0390038,-0.137695,-0.0973293,-0.235243,-0.0571862,-0.664409,0.960643,0.899028,-0.0418494,0.881592,-1.14847,
labels 为：
tensor[read_file

[2020-01-10 07:47] luotao1 commented on #22083
2 您再辛苦看看，不知道我的意思是否表述清楚。

@xyzhou-puck 请帮忙看下，非常感谢！

[2020-01-10 07:53] miraclebiu commented on #21689
不是该问题导致的，print出来的label是正确的，但是reshape之后会多出来几个数据。请问这个bug什么时候会修复？ @liym27

[2020-01-10 08:02] xyzhou-puck commented on #22083
您好，

1. sequence_expand目前还不支持lod=2的情况，可以通过set_lod（https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/LoDTensor_cn.html#lodtensor）重新设置这个tensor的lod信息，使之变成一个lod=1的lod tensor，只要保证排列是正确的即可。

2.  假如 x = [[[1,1,1,1,1]], [[2,2,2,2,2]]] 希望变成 x = [[[1,1,1,1,1], [1,1,1,1,1]], [[2,2,2,2,2], [2,2,2,2,2], [2,2,2,2,2,2]]] ，目前这个搞不定，因为最后一个是6个2，而不是5个2，如果是5个2，可以把y的lod设置为：[[2, 3]]。

[2020-01-10 09:31] hllrhpy commented on #22040
如果要训练yolov3或者yolov3-tiny模型，配置文件参数（主要在尺寸方面）是不是要和数据集参数一致，还是说配置文件如何训练出来的就是怎么样的。我这1920，1080的数据集能否训练出yolo的模型，如果不能如何才能在现有条件下训练出yolo的模型？求大佬指点迷津

[2020-01-10 09:55] qingqing01 commented on #22205
可以先利用中间的checkpoint恢复训练吧。 出nan得具体问题查看才能确定原因，注意lr和batch size， GPU个数关系。

[2020-01-10 11:32] Aurelius84 commented on #22040
可以修改配置文件里训练数据的尺寸参数，参考[这里](https://aistudio.baidu.com/aistudio/projectdetail/238946)
[code]

### 训练配置
训练YOLOv3模型的配置项，配置里控制以下行为：

+ 可以控制是否启用tiny版本，tiny版本体积小，适合部署在移动设备。本次实验默认使用 tiny
+ 训练轮数
+ 每批次训练图片数量
+ 是否使用GPU训练
+ 学习率调整
+ 训练图片尺寸 & anchors 的尺寸
+ 如果不熟悉，请不要随便更改训练图片的尺寸和anchors的尺寸，两者相互关联

[2020-01-10 12:06] hllrhpy commented on #22040
好的，谢谢您。我先看看，有问题再问您

[2020-01-10 12:14] hllrhpy commented on #22040
<annotation>
    <filename>CUBOTVsNEXT E_BO2_2_47.jpg</filename>
    <version>v3.0</version>
    <review_status>passed</review_status>
    <time_elapsed>139</time_elapsed>
    <img_label/>
    <size>
        <width>1920</width>
        <height>1080</height>
    </size>
    <padding_pxt>
        <padding_x>76</padding_x>
        <padding_y>43</padding_y>
    </padding_pxt>
    <object>
        <nam

[2020-01-10 13:02] guoshengCS commented on #22128
可能是fg_num的数据类型错了，看这里打印的是l(int64)，
[code]
但按照报错说明里看，这里需要是int32的 `Tensor holds the wrong type, it holds int64_t, but desires to be int `

[2020-01-10 13:38] chunyisong commented on #19516
什么时候能加入 Ranger发布新版本啊

[2020-01-10 13:42] chunyisong commented on #21219
Also hoping mish Activation added in new Paddle version！
thanks

[2020-01-10 15:25] OleNet opened #22218 "How to multiply Wx1xD matrix with 1xHxD?"
![image](https://user-images.githubusercontent.com/3206718/72164271-53df2a00-3400-11ea-89a2-f8333b6aad39.png)

[2020-01-10 15:43] #22218 closed, assigned to nobody

[2020-01-10 16:25] OleNet opened #22220 "expand_as return variable without shape"
[code]

[2020-01-10 16:26] OleNet commented on #22220
```    en_cn_inter = paddle.fluid.layers.stack([en_emb_expand, cn_emb_expand, en_cn_emb_elementwise], axis=2)```

这一行会出错
因为paddle认为en_emb_expand, cn_emb_expand两个变量的shape都是 [0,0,0]

[2020-01-11 09:10] fivejjs commented on #22038
感觉还不错啊。 如果抽象太搞， 看不到底层， 心慌慌啊。

[2020-01-11 12:30] phlrain commented on #22220
看起来显示 expand_as 有一些问题，建议试下 expand,  en_emb_expand = fluid.layers.expand_as(x=en_emb_reshape, [1, 2, 1]

[2020-01-11 12:44] OleNet commented on #22220
可以直接运行：

[code]

[2020-01-11 12:44] OleNet commented on #22220
用了expand函数成功了！
Thanks guys!

[2020-01-11 12:44] #22220 closed, assigned to nobody

[2020-01-12 09:11] hllrhpy commented on #22040
大佬，我又来了

Traceback (most recent call last):
  File "train_yolo_test.py", line 916, in <module>
    train()
  File "train_yolo_test.py", line 853, in train
    init_train_parameters()
  File "train_yolo_test.py", line 413, in init_train_parameters
    with codecs.open(label_list, encoding='utf-8') as flist:
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/codecs.py", line 904, in open

[2020-01-12 15:39] zhangting2020 commented on #22179
@jczaja I uploaded two models that support two different data formats. Please see if they meet your requirements.
[MobileNetV1_model_nchw.tar.gz](https://github.com/PaddlePaddle/Paddle/files/4050791/MobileNetV1_model_nchw.tar.gz)
[MobileNetV1_model_nhwc.tar.gz](https://github.com/PaddlePaddle/Paddle/files/4050794/MobileNetV1_model_nhwc.tar.gz)

[2020-01-13 02:04] leesusu commented on #22131
@guoshengCS 帮忙看下这2个CI的问题🙏，具体一些有截图或者log最好，我这边无法登录ci.paddlepaddle.org：

http://ci.paddlepaddle.org/viewLog.html?buildId=268302&buildTypeId=YYTest_PrCiCpuPy2

http://ci.paddlepaddle.org/viewLog.html?buildId=268833&buildTypeId=Paddle_PrCiCoverage

[2020-01-13 03:15] iclementine commented on #22131
谢谢！
[Compile_PR_CI_CPU_Py2_52197.log](https://github.com/PaddlePaddle/Paddle/files/4051957/Compile_PR_CI_CPU_Py2_52197.log)
[Paddle_PR_CI_Coverage_52008.log](https://github.com/PaddlePaddle/Paddle/files/4051956/Paddle_PR_CI_Coverage_52008.log)
这是目前的两个 log ，你先看一下吧。我重新触发测试了。

[2020-01-13 03:22] wanghaoshuang commented on #22178
您好，贴一下您运行的代码？以及paddle的安装方式？

[2020-01-13 03:31] digantamisra98 commented on #21219
@Boyan-Liu @chunyisong Will set up a PR in a couple of days.

[2020-01-13 05:20] leesusu commented on #22131
@iclementine

http://ci.paddlepaddle.org/viewLog.html?buildId=268833&buildTypeId=Paddle_PrCiCoverage

[2020-01-13 05:25] leesusu commented on #22131
@iclementine

http://ci.paddlepaddle.org/viewLog.html?buildId=268833&buildTypeId=Paddle_PrCiCoverage
**覆盖度**的这个，看不出什么来，build和test的信息，test有个lite_resnet50_test出错，应该和我的修改没什么关系。**帮忙再看下有没有其他信息**。

http://ci.paddlepaddle.org/viewLog.html?buildId=268302&buildTypeId=YYTest_PrCiCpuPy2
这个我看到如下信息：

**0.** You must have one RD (XiaoguangHu01 or lanxianghit) and one TPM (saxon-zh or Boyan-Liu or swtkiwi) appro

[2020-01-13 05:52] luotao1 commented on #22131
@leesusu 非常抱歉，我们的CI正在安全检测中，通过检测后，会开放游客模式。

[2020-01-13 06:01] weikangSDU opened #22242 "程序在import paddle.fluid as fluid之后打包无法运行也没有报错"
版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU/GPU：CPU
    3）系统环境：ubuntu16.04、win10
    4）Python版本号3.6
- 复现信息：无报错
- 问题描述：
无论是我自己写的或者官网上快速开始最简单的第一个实例，在引用paddle.fluid之后都无法正常运行，打包命令为pyinstaller -F test.py,如果为pyinstaller test.py会出现进程一直增加，最终内存爆炸的情况。在打包过程中，我已经添加要求补充的ntlk_data文件夹不引用该依赖则无该问题
![image](https://user-images.githubusercontent.com/53069165/72235386-e05e3800-360c-11ea-96e8-163a0adc8fb3.png)

[2020-01-13 06:12] guoshengCS commented on #22131
test有个lite_resnet50_test出错这个正在修复

第2点中提到的问题应该是需要在这里 https://github.com/PaddlePaddle/Paddle/pull/22225/files#diff-f415005dd075a2bddb10bd62a21982fcR146   加上double类型的支持

[2020-01-13 06:17] leesusu commented on #22131
@luotao1 好的，谢谢～

@guoshengCS 感谢，这个好了也说一声

[2020-01-13 06:40] gentelyang opened #22243 "用 paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7镜像训练vgg和resnet，有时可以正常跑有时报如下错误。"
-------------  Configuration Arguments -------------
               batch_size : 32
               checkpoint : None
                class_dim : 1000
                 data_dir : ./data/ILSVRC2012/
                enable_ce : False
                     fp16 : False
              image_shape : 3,224,224
               is_distill : False
                 l2_decay : 0.0001
  label_smoothing_epsilon :

[2020-01-13 06:46] leesusu commented on #22131
@guoshengCS @iclementine
double支持加上还是报错，帮忙看下：http://ci.paddlepaddle.org/viewLog.html?buildId=269658&buildTypeId=YYTest_PrCiCpuPy2

[2020-01-13 07:18] leonleeldc opened #22244 "AttributeError: 'Parameter' object has no attribute '_ivar'"
我在用dygraph写动态图为基础的gan模型，我的generator是这样写的，

class generator(fluid.dygraph.Layer):
    # Network Architecture is exactly same as in infoGAN (https://arxiv.org/abs/1606.03657)
    # Architecture : FC1024_BR-FC7x7x128_BR-(64)4dc2s_BR-(1)4dc2s_S
    # from the main, we can see that input_dim=62, input_size=32 and output_dim=1
    def __init__(self, name_scope, input_dim=62, output_dim=1, input_size=32,

[2020-01-13 07:19] iclementine commented on #22131
http://ci.paddlepaddle.org/viewLog.html?buildId=269658&buildTypeId=YYTest_PrCiCpuPy2 这个 log 在这里。
[Compile_PR_CI_CPU_Py2_52233.log](https://github.com/PaddlePaddle/Paddle/files/4052414/Compile_PR_CI_CPU_Py2_52233.log)

因为修改了（增删改）接口，确实是需要RD和TPM的approval。

[2020-01-13 07:35] leonleeldc commented on #22244
我刚刚发现好像是我既在用dygraph的变量生成方式，又在用static graph的变量生成方式，dygraph的变量好像都有'_ivar'，不知道这是啥。我在相应的W变量从，
        with fluid.scope_guard(self.scope or 'Linear'):
            self.W = fluid.layers.create_parameter(shape=[output_size, input_size], name=self.scope + "/Matrix", default_initializer=create_linear_initializer(input_size, dtype='float32'),
改成：
        with fluid.dygraph.guard():
            self.W = np.r

[2020-01-13 07:56] zhiqiu commented on #22244
建议您升级下最新paddle，可以在[这里](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/beginners_guide/install/Tables.html)下载。

[2020-01-13 08:16] dipthomas opened #22247 "训练过程中出现Error: Tensor holds no memory. Call Tensor::mutable_data first."
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）CPU：
    3）GPU：k-40, CUDA-8.0， cudnn-7
    4）系统环境：centos python2.7
- 训练信息
    1）单机，单卡
    2）显存信息
    3）Operator信息
在windows下cpu训练没有报错（python3+paddle1.6），gpu因为模型太大显卡装不下没有测试。
在Centos下gpu训练报错
错误信息如下：

[code]

[2020-01-13 08:20] Bella-Zhao opened #22248 "调用save_inference_model，pslib模型没有小模型参数情况下，生成了param"
我的model应该没有小模型参数。ftp://yq01-ps-7-m12-wise011.yq01.baidu.com/home/disk2/zhaoyijin/ffm/pslib_v2/check_tool/example/ffm_model/__model__

我画出拓扑图看了，应该没有小模型的参数，也是调用save infernce model的，不知道为啥会生成param

[2020-01-13 08:20] Bella-Zhao opened #22249 "调用save_inference_model，pslib模型没有小模型参数情况下，生成了param"
我的model应该没有小模型参数。
训练链接：http://yq01-hpc-lvliang-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20200112170750-79094
网络配置在model.py 中

保存的xbox地址中出现param：
![image](https://user-images.githubusercontent.com/29970079/72241046-c0d10a80-3620-11ea-85a8-07dd709a5542.png)

我画出拓扑图看了，
应该没有小模型的参数，调用save infernce model保存的，调用代码：
![image](https://user-images.githubusercontent.com/29970079/72241084-d6463480-3

[2020-01-13 08:23] phlrain commented on #22244
动态图相关的 模型的初始化以及相关create_parameter 等操作，都要放在 with fluid.dygraph.guard():
下面， with fluid.dygraph.guard():  会自动记录很多信息，不能定义的时候 with一下，然后forward run的时候 在with 生成一个

[2020-01-13 08:26] LordAaron opened #22250 "py_func输出类别存在问题"
Paddle1.6.1 develop版本
out类型中并不支持list[Variale]，图贴不上来，这个链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/py_func_cn.html#py-func
源码中也确实没有此类型的判断
P.S. 输入X也存在这个问题，不支持list[Variale]

[2020-01-13 08:29] zhengyandan opened #22251 "paddle在save_inference_model中，用fluid.layers.split失败"
paddle在save_inference_model中，用了fluid.layers.split生成的文件不包含split参数失败，反解确认过
1、输入是一个vector，但是一部分vector数据需要data norm，一部分不需要，所有用了split
2、用了1.6版本fluid的python包调用fluid.io.save_inference_model这个接口，产生的描述文件里面没有split参数
3、python版本确认是1.6，测试过，直接fluid.layers.split没有问题

[2020-01-13 08:51] LexiHu opened #22252 "optimizer.minimize(loss) 报错"
#optimizer.minimize(loss) 报错
模型创建成功，到优化报错optimizer.minimize(loss) 显示，某变量未初始化
#报错信息
Traceback (most recent call last):
  File "run_classifier.py", line 365, in <module>
    main(args)
  File "run_classifier.py", line 129, in main
    decr_ratio=args.decr_ratio)
  File "/home/wxy/huzijuan/ERNIE/optimization.py", line 150, in optimization
    _, param_grads = optimizer.minimize(loss)
  File "</disk1/

[2020-01-13 09:15] sneaxiy commented on #22247
能否提供完整的复现代码？

[2020-01-13 09:23] NHZlX commented on #22252
看log是运行的Ernie 模型，有自己修改过什么地方么

[2020-01-13 09:24] NHZlX commented on #22251
可否用1.6.2测试下，如果有问题，可否提供下复现的单测。

[2020-01-13 09:26] NHZlX commented on #22248
The question is the same as this [one](https://github.com/PaddlePaddle/Paddle/issues/22249).

[2020-01-13 09:26] #22248 closed, assigned to nobody

[2020-01-13 09:36] zhengyandan commented on #22251
Hi，请问下有1.6.2版本fluid 的python包吗？
有脚本，可以直接提供测试，见附件

发件人: Zhaolong Xing <notifications@github.com<mailto:notifications@github.com>>
答复: PaddlePaddle/Paddle <reply@reply.github.com<mailto:reply@reply.github.com>>
日期: 2020年1月13日 星期一 下午5:24
至: PaddlePaddle/Paddle <Paddle@noreply.github.com<mailto:Paddle@noreply.github.com>>
抄送: "Zheng,Yandan" <zhengyandan@baidu.com<mailto:zhengyandan@baidu.com>>, Author

[2020-01-13 11:23] LexiHu commented on #22252
我使用的ernie做编码层, 在创建模型部分with fluid.program_guard(train_program, startup_prog)下面没有报错，后边到optimizer.minimize(loss)报错

[code]

[2020-01-13 11:32] Colorfu1 commented on #22247
完整代码我放在集群上了，代码和数据都有点多····请Hi我，wuwenda01

[2020-01-13 11:47] D-DanielYang commented on #22038
非常抱歉给您带来不好的使用体验，请问方便沟通一下具体是什么问题么？可以邮件联系我
grasswolfs@163.com

[2020-01-13 13:24] wbchief opened #22256 "预训练模型"
您好，请问在PaddlePaddle下预训练的VGG16等模型，如何使用这些预训练好的模型来更新自己利用PaddlePaddle构建的动态图模型网络的参数。就如Pytorch中的这段代码：
`mod = models.vgg16(pretrained = True)
fs = self.frontend.state_dict()
ms = mod.state_dict()
for key in fs:
    fs[key] = ms['features.'+key]
    self.frontend.load_state_dict(fs)`

谢谢！在网上没能找到相关资料。

[2020-01-14 00:40] weikangSDU commented on #22242
有没有大佬回一下

[2020-01-14 00:46] lluck42 opened #22258 "请问，CPU 需支持 MKL，具体指什么啊，i5-4460 支持 MKL么？请教"
RT

[2020-01-14 01:54] leesusu commented on #22131
@XiaoguangHu01 @lanxianghit

这个CI：
http://ci.paddlepaddle.org/viewLog.html?buildId=269658&buildTypeId=YYTest_PrCiCpuPy2

报这个：
0. You must have one RD (XiaoguangHu01 or lanxianghit) and one TPM (saxon-zh or Boyan-Liu or swtkiwi) approval for the api change for the management reason of API interface.
1. You must have one TPM (saxon-zh or Boyan-Liu or swtkiwi) approval for the api change for the mana

[2020-01-14 01:54] guoshengCS commented on #22131
这个单测已修复，还请pull最新代码

[2020-01-14 01:58] leesusu commented on #22131
@guoshengCS 👌

[2020-01-14 02:48] leesusu commented on #22131
@XiaoguangHu01 @lanxianghit

#22259 新增了接口，需要RD和TPM的approval，帮忙看下，感谢～
报错信息：http://ci.paddlepaddle.org/viewLog.html?buildId=270178&buildTypeId=YYTest_PrCiCpuPy2

[2020-01-14 03:03] hmmwjs opened #22260 "安装报错CondaVerificationError: The package for cudatoolkit located at**appears to be corrupted. The path 'lib/libcublas.so' specified in the package manifest cannot be found."
显卡 :Tesla T4
环境 :Ubuntu、cudaV10.0.130、cudnn7.5
安装方式：conda
报错信息：
Preparing transaction: done
Verifying transaction: failed

CondaVerificationError: The package for cudatoolkit located at /home/###/.conda/pkgs/cudatoolkit-10.0.130-0
appears to be corrupted. The path '**lib/libcublas.so**'
specified in the package manifest cannot be found.

CondaVerificationError: The package for cudatoolkit located

[2020-01-14 03:10] hmmwjs commented on #22260
![image](https://user-images.githubusercontent.com/25680888/72311052-700fef00-36be-11ea-9c9b-57df7444ad8d.png)

[2020-01-14 03:32] Jinxi2 opened #22261 "lstm训练时，loss变为nan"
版本：paddle 1.5.1
问题：使用fluid.layers.lstm()时，hidden参数设置为128时，模型可以正常训练；其他设置不变，hidden参数设置为512时，训练几十个batch后，loss和准确率都会出现nan。但如果把lstm换成fc层，其他设置不变，则不会出现loss为nan的情况。输入是经过padding后的[seq_len, batch_size, embedding_size]的embedidng。

// 上面部分是embedding，维度为[seq_len, -1, embed_size]
hidden = 128
init_h = fluid.layers.fill_constant([2, self.config.bat_size * 8, self.config.dim_hid], 'float32', 0.0 )
init_c = fluid.

[2020-01-14 05:26] NHZlX commented on #22249
可否把网络发下。我本地测试下

[2020-01-14 05:32] leesusu commented on #22131
@guoshengCS
coverage还是报错，帮忙看下log：http://ci.paddlepaddle.org/viewLog.html?buildId=270177&buildTypeId=Paddle_PrCiCoverage

[2020-01-14 05:40] NHZlX commented on #22256
可以用以下接口：

[code]

[2020-01-14 05:44] jiweibo commented on #22250
可以参考下这个示例哈
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L12528

[2020-01-14 06:09] LordAaron commented on #22250
嗯，那我理解错了输入X支持list[Variale]的意思
但是输出应该怎么理解呢？我看示例里面没有针对out为list[Variale]的情况

[2020-01-14 06:48] dxc0ap commented on #22128
代码中的确定义了 dtype='int32'，

fg_num = fluid.layers.fill_constant(shape=[1], value=26, dtype='int32')
focal_loss = fluid.layers.sigmoid_focal_loss(x=logits, label=labels, fg_num=fg_num, gamma=2., alpha=0.25)

错误还是如上。。。

[2020-01-14 07:20] guoshengCS commented on #22128
可以确认下整个过程中是否fg_num发生了改变，在`fg_num = fluid.layers.fill_constant(shape=[1], value=26, dtype='int32')`后打印下，在`fluid.layers.sigmoid_focal_loss `前打印下

[2020-01-14 07:45] Aurelius84 commented on #22040
报错信息提示 在`init_train_parameters `找不到`data/data19512/label_list`，你看下标签文件配置是否正确。

[2020-01-14 07:58] jiweibo commented on #22250
这个输入输出是针对于op而言的，elementwise_add这个op输入是俩所以用X=[x1,x2] list [variable]来表示。输出也是针对op而言的，比如写的op输出是两个variable，那么就要用到list了

[2020-01-14 09:06] hllrhpy commented on #22040
有啊，为什么他会找不到啊，配置应该是怎么样的，我给的是
car
armor
...

[2020-01-14 09:14] Aurelius84 commented on #22040
可以在如下代码`label_list = os.path.join(train_parameters['data_dir'], "label_list")`断点调试下，看下访问的文件是否是预期的文件路径。

[code]

文件夹的目录是在这里配置的：
[code]

[2020-01-14 09:45] mtchen2016 opened #22270 "调用1.6.2版本fluid自带rnn模块，报tensor未初始化问题"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.2
    2）CPU：本地训练
    3）系统环境：Python2.7
- 训练信息
    1）单机
- 问题描述：
调用fluid自带rnn模块，出现tensor未初始化问题。已经检查过input数据，已经正常初始化。打印过中间变量发现，调用StaticRNN类后，进入recurrent op抛出异常。
----------------------
Error Message Summary:
----------------------
Error: Tensor not initialized yet when Tensor::type() is called.
  [Hint: holder_ should not be null.] at (/paddle/paddle/fluid/framework/

[2020-01-14 10:11] NHZlX commented on #22252
可以把复现代码发我下么

[2020-01-14 10:19] jeng1220 commented on #20870
confirm fix, close issue

[2020-01-14 10:19] #20870 closed, assigned to wzzju, JiabinYang

[2020-01-14 12:59] wzzju commented on #22258
Intel MKL：Intel Math Kernel Library，英特尔数学核心函数库。更多细节，请自行百度`MKL`关键词。MKL是一种数学计算库，i5-4460应该是支持的，具体需要自行安装这个库进行验证。

[2020-01-14 13:01] yc556600 opened #22282 "基于flask搭建预测服务时，采取多进程的方式预测，压测时偶发出core"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle==1.6.2   Flask==1.1.1
    2）利用multiprocessing开启30个进程，每个进程设置CPU_NUM=1
    3）系统环境：CentOS release 6.3 (Final)，Python3.6
-预测信息
  基于https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/PaddleLARK/BERT 这份代码改造的flask预测服务，单条访问预测服务都很正常，但进行服务压测时会偶发出core，日志报错信息如下：
[code]
预测服务代码主要分两步，1.初始化加载模型，2.接收query，按句切分后多进程调用预测方法，如下

[code]

[2020-01-14 13:06] #21760 closed, assigned to JepsonWong

[2020-01-14 13:49] MRXLT commented on #21253
不好意思，之前忘了回复。
以上代码出错的原因，是因为当定义了两个模型后，program中就包含了这两个模型的结构和参数，当加载其中一个模型的参数文件时，找不到另一个模型中的参数对应的参数文件就会报错。
可以尝试在定义模型时为每一层指定name，这样防止两个模型的变量名重复，然后将保存的参数文件复制到同一文件夹，然后使用load_params加载该文件夹

[2020-01-14 16:26] wzzju commented on #22260
根据报错信息可知，不能正确找到cuda的一些库文件，请确认cuda的安装路径是否配置正确。

[2020-01-14 16:29] wzzju commented on #22261
不同的网络模型结构配置必然导致loss值表现不同，而loss为nan说明在对应网络模型结构配置下模型不能收敛，这也是有可能的。

[2020-01-14 16:33] wzzju commented on #22270
[Hint: holder_ should not be null.] at (/paddle/paddle/fluid/framework/tensor.h:139)

请问这个错误是因为打印中间变量这个操作导致的吗？不打印中间变量是不是就不会报错？

[2020-01-14 23:18] leonleeldc opened #22285 "Failed to run resnet dygraph with the following errors"
I tried to run distributed version of resnet dygraph:
Firstly, I did,
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib:/usr/local/cuda/extras/CUPTI/lib64/:/usr/local/cuda-10.0/lib64/:/home/dingcheng/.conda/envs/sac_v1/lib/python3.5/site-packages/torch/lib/

Then, run this command following ReadMe:
dingcheng@DINGCHENGSERVER:/media/data1/dingcheng/software/paddlepaddle/models/dygraph/resnet$ /

[2020-01-15 00:28] lluck42 commented on #22258
明白了，多谢哈

发送自 Windows 10 版邮件应用

发件人: Zhen Wang
发送时间: 2020年1月14日 20:59
收件人: PaddlePaddle/Paddle
抄送: lluck42; Author
主题: Re: [PaddlePaddle/Paddle] 请问，CPU 需支持 MKL，具体指什么啊，i5-4460 支持 MKL么？请教 (#22258)

RT
Intel MKL：Intel Math Kernel Library，英特尔数学核心函数库。更多细节，请自行百度MKL关键词。MKL是一种数学计算库，i5-4460应该是支持的，具体需要自行安装这个库进行验证。
—
You are receiving this because you authored the thread.
Reply to this email directly, view it

[2020-01-15 02:13] leonleeldc opened #22286 "Cityscape dataset"
Hi,
In models/dygraph/cycle_gan/, the model makes use cityscape to do the cycle_gan training and testing. In the readme, it says that the data can be downloaded with download.py. But it turns out that the downloaded data doesn't contain anything useful.

I went to cityscape website to download all data. But I didn't see which script to help to organize the data as following.

data
|-- cityscapes
|

[2020-01-15 02:24] Vimos opened #22289 "[Clion + Conda Virtual Env] 编译sequence_padding_generated_sequence_padding出错 posix_memalign"
- 版本、环境信息：
    1）PaddlePaddle版本：develop
    2）CPU：默认
    3）GPU：
[code]
    4）系统环境：Ubuntu 18.04 + conda
[code]

- 安装方式信息：
本地编译：请提供cmake命令，编译命令
[code]
3）docker编译：请提供docker镜像，编译命令           
  特殊环境请注明：如离线安装等
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

[code]

[2020-01-15 02:49] Colorfu1 commented on #22247
我查了一下，说编译develop分支的paddle会解决这个问题。但是我拉develop分支编译的时候会出错。你还需要复现的代码吗请问

[2020-01-15 02:55] #21496 closed, assigned to zhaoyuchen2018

[2020-01-15 02:57] #16141 closed, assigned to shanyi15

[2020-01-15 02:59] jerrywgz commented on #22289
目前paddle支持gcc 4.8版本的编译安装，7.3版本未经过测试，建议使用4.8版本

[2020-01-15 03:00] jerrywgz commented on #22289
gcc 8.2版本目前正在进行测试

[2020-01-15 03:04] Vimos commented on #22289
好的，好奇原因，解决的时候能不能refer这个issue？学习一下，毕竟耗费了半天时间

[2020-01-15 03:13] Shixiaowei02 commented on #22251
脚本有错误，一般情况下不应该用 `"tmp_0"` 作为自定义变量的名称。这种名称 Fluid 内部保留用作自动命名中间变量。所以请将 `generate_ad_model.py:14` 修改为下列代码
`cvms_all = fluid.layers.data(name='X', shape=[-1,1454], dtype='float32')`
用 Fluid 1.6.1 以上版本再试一遍，谢谢

[2020-01-15 03:14] #22251 closed, assigned to nobody

[2020-01-15 03:17] jerrywgz commented on #22286
Sure we will fix the download.py for cityscape soon . You can use https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleGAN/scripts/prepare_cityscapes_dataset.py to preprocess the orginal dataset for now.

[2020-01-15 03:18] Shixiaowei02 commented on #22286
@tink2123 Please pay attention to this issue.

[2020-01-15 03:20] jerrywgz commented on #22285
Do you export the nccl lib to LD_LIBRARY_PATH correctly? It seems like nccl problem when running in multi-gpu

[2020-01-15 03:36] Vimos commented on #22289
网上能找到的内容
[[13/13] fix incompatible posix_memalign declaration on x86](https://patchwork.ozlabs.org/patch/462889/)

[2020-01-15 06:15] leonleeldc commented on #22286
Thanks a lot! It works although it seems that the name in the script is a little bit inconsistent. Say, val vs test. And the trainA.txt, trainB.txt, testA.txt and testB.txt are not generated by the script either. I simply use command line "find ./ > trainA.txt" to generate them.

[2020-01-15 06:16] bitianchi opened #22298 "Paddle_V1.3源码编译出错"
![image](https://user-images.githubusercontent.com/29396595/72409739-95295e00-37a1-11ea-84f4-ff53e98e0157.png)

在链接的时候出错，并且已经设置了DPYTHON_LIBRARY

[2020-01-15 07:50] wzzju commented on #22282
您好！预测服务有专门的API，不是直接使用训练的前向逻辑。预测服务的Python API见https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/python_infer_cn.html ，预测服务的C++ API见https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/native_infer.html。

[2020-01-15 08:14] luotao1 commented on #22282
和 #15791 类似

[2020-01-15 09:13] dongfangyixi opened #22306 "训练place是 cpu，save_param之后，在GPU上load_param会出错？"
如题
error msg:

----------------------
Error Message Summary:
----------------------
InvalidArgumentError: Cannot parse tensor desc
  [Hint: Expected desc.ParseFromArray(buf.get(), size) == true, but received desc.ParseFromArray(buf.get(), size):0 != true:1.] at (/paddle/paddle/fluid/framework/tensor_util.cu:527)
  [operator < load_combine > error]

[2020-01-15 09:42] #22258 closed, assigned to wzzju

[2020-01-15 10:15] #19134 closed, assigned to NHZlX

[2020-01-15 11:01] chenqiuhui opened #22310 "在T4上paddle分类训练报错CUDNN_STATUS_EXECUTION_FAILED"
- 版本、环境信息：
    1）PaddlePaddle版本：conda install --yes paddlepaddle-gpu=1.6.2=py36_gpu_cuda9.0_many_linux这么安装的

环境host driver是 Driver Version: 418.116.00   CUDA Version: 10.1 T4
镜像是CUDA Version 9.0.176 cudnn7.3.1
- 训练信息
单卡T4 显存15079.69 MB batchsize 1
- 问题描述
在V100上正常训练，T4上训练会有如下报错，毕现的：
/opt/conda/lib/python3.6/site-packages/paddle/fluid/executor.py:779: UserWarning: The following exception is not an E

[2020-01-15 11:21] Meiyim commented on #22193
附议
Duplicate of #22138

[2020-01-15 11:31] qingqing01 commented on #22205
@Cristhine 在使用Mobilenet-SSD时请问是否加了预训练模型？建议先看下中间模型结果可视化是否正常~

[2020-01-15 12:14] chunyisong opened #22313 "子层变量一旦设置为空后在赋值，就会抛出异常"
paddle 1.6,子层变量一旦设置为空后在赋值，就会抛出异常

![QQ截图20200115201713](https://user-images.githubusercontent.com/7147583/72433423-3cbf8400-37d4-11ea-804f-1a8871ebfccf.png)

call last)<ipython-input-45-87611689617e> in <module>
     36     labels = fluid.dygraph.to_variable(np.ones((10,1),dtype='int64'))
     37     for epoch in range(3):
---> 38         out = model(inputs)
     39         loss = fluid.layers.sof

[2020-01-15 13:11] Cristhine commented on #22205
使用了预训练模型的 中间结果取出 可视化看了 结果是正确的 map达到0.42左右了

[2020-01-15 17:41] #22286 closed, assigned to nobody

[2020-01-16 02:16] jerrywgz commented on #22306
可以提供下可复现的save load代码吗？

[2020-01-16 02:19] jerrywgz commented on #22298
需要检查下python2.7 lib路径是否加入到LD_LIBRARY_PATH中，也可参考该链接https://www.cnblogs.com/zhming26/p/6164131.html

[2020-01-16 02:20] jerrywgz commented on #22310
该问题在P40/V100中均未出现过，从报错信息看可能和环境相关，建议在T4上尝试源码编译或使用cuda10的镜像。

[2020-01-16 02:29] jerrywgz commented on #22313
这里self.conv2没有定义？

[2020-01-16 02:55] Bella-Zhao commented on #22249
ftp://yq01-ps-7-m12-wise011.yq01.baidu.com/home/disk2/zhaoyijin/ffm/pslib_v2/model_train_online_final_multiobj/package/my_nets/model.py

[2020-01-16 03:32] littletomatodonkey opened #22320 "fluid.io.DataLoader.from_generator在reset时hang住"
环境：k8s集群环境，paddle1.6.1
reader是自己整理的reader，用from_generator组了batch，在迭代完成之后（不是按照epoch去迭代，是按照minibatch数量去迭代，因此迭代结束时，当前epoch中的数据可能没有请求完），reader中的线程都是daemon的，所以怀疑是fluid reader一直处于join的状态没有退出，pystack打印出的日志信息如下：
[code]

[2020-01-16 06:21] luotao1 commented on #18945
Close due to there are no `dims2str` and `dim2str` functions in develop branch.

[2020-01-16 06:21] #18945 closed, assigned to nobody

[2020-01-16 06:27] luotao1 commented on #18944
@jczaja Could you continue the TLS refactoring?

[2020-01-16 06:34] chunyisong commented on #22313
在26行就出错了，跟conv2没关系

[2020-01-16 07:04] #16948 closed, assigned to nobody

[2020-01-16 07:31] AoZhang opened #22328 "Error: Cannot find original variable with name ifelse_inputifelse_3_7@GRAD"
- 环境
   1）PaddlePaddle版本：1.6.2
   2）CPU：Intel(R) Xeon(R) CPU E5-2620 v2
   3）GPU：no
   4）系统环境：CentOS 6.3 ，Python版本 3.6.5

- 问题描述
程序直接 core 掉了，报了个“Cannot find original variable with name ifelse_inputifelse_3_7@GRAD”的错，哪里梯度传导出了问题？没有显式的打印“Python Call Stacks (More useful to users)”

[code]

[2020-01-16 07:56] #21761 closed, assigned to nobody

[2020-01-16 08:05] YelZhang opened #22331 "dynamic_lstm如何输入高维数据"
想使用dynamic_lstm对不定长序列做预测，序列每个pos是一个高维特征list，形如：
[ [1,2],    [1.2,2.1],   [1.3,2.5], ....]
输入这一段要怎么实现

keras的写法很简单：model_2.add(LSTM(dim, activation='relu',input_shape=(n_steps, n_features)))

[2020-01-16 08:58] NHZlX commented on #22251
update:  构建模型后需要调用exe.run(fluid.default_startup_program()) 初始化参数，然后才能save inference model ，否则会出现 某tensor 未初始化的错误。

[2020-01-16 09:26] NHZlX commented on #22249
1. 模型的存储都是通过save op来进行的。
2. shell下设置export GLOG_v=4
3. 运行save的过程，会打印详细的信息
![image](https://user-images.githubusercontent.com/5595332/72510921-3ccb8c80-3885-11ea-9383-402014af8284.png)

所以可以看到你这边存储的var是什么

[2020-01-16 09:39] webary commented on #22193
附议！调试了好久了

[2020-01-16 10:37] bjjwwang commented on #22138
已经写完代码了 还在测试当中

[2020-01-16 10:50] yc556600 opened #22336 "使用save_inference_model保存后的模型进行预测时，结果与用代码直接预测不一致"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.2
同样一个文本，预测出的概率以及对应标签答案不一致
预测代码如下：
    place = fluid.CUDAPlace(0) if args.use_cuda == True else fluid.CPUPlace()
    exe = fluid.Executor(place)
    exe.run(predict_startup)

    if args.init_checkpoint:
        #init_pretraining_params(exe, args.init_checkpoint, predict_prog, args.use_fp16)
        init_checkpoint(exe,

[2020-01-16 11:16] Meiyim commented on #22193
修复之前我先贡献一个权宜之计
[code]

[2020-01-16 11:20] webary commented on #22193
赞！请教下，L是在哪定义的？

[2020-01-16 11:25] Meiyim commented on #22193
我更新了上面的代码`L = paddle.fluid.layers`

[2020-01-16 14:40] ZHUI commented on #18464
我也遇到这个问题，更新最新的develop版本后，发现是elementwise操作的广播有问题导致的，修改后结果正常。

[2020-01-17 01:30] gxpzy opened #22341 "elementwise_mul ShapeError"
环境
cpu
paddle1.6
python3.7
代码
`import paddle.fluid as fluid
import numpy as np

x = fluid.layers.data(name='x', shape=[1], dtype='float32')
x_s = fluid.layers.shape(x)

y = fluid.layers.create_parameter(name='y', shape=[1], dtype='float32')
y_s = fluid.layers.shape(y)

out_put = fluid.layers.elementwise_mul(y, x)`

错误信息
`line 10, in <module>
    out_put = fluid.layers.elementwise_mul(y, x)
Error:

[2020-01-17 02:09] YelZhang commented on #22331
使用lod tensor后，报错是这样
PaddleCheckError: Expected lods.size() == 1UL, but received lods.size():2 != 1UL:1.
Only support one level sequence now
有什么解决方案吗

[2020-01-17 02:25] frankwhzhang commented on #22328
可以打印program 看是否符合预期

[2020-01-17 02:26] frankwhzhang commented on #22331
方便提供下完整代码吗

[2020-01-17 02:27] frankwhzhang commented on #22331
可以参考官方文档实例https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/dynamic_lstm_cn.html#dynamic-lstm

[2020-01-17 02:39] AoZhang opened #22342 "seq2seq 模型 train 和 inference 的 decoder 不同，参数是如何生效的"
paddle models 中的 seq2seq 模型，decoder 部分有个分支判断是 train 还是 inference(beam_search)，[PaddleNLP/PaddleTextGEN/seq2seq/base_model.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/PaddleTextGEN/seq2seq/base_model.py#L168)
贴一下代码：
[code]

decode 的核心是 `dec_cell` 和 `output_layer`，这两个是在 if/else 前定义的，所以
1. inference 阶段按 `name` 就能找到 train 好的参数了吗？
2. train 中的` rnn()` 和 inference 阶段的 `BeamSearchDec

[2020-01-17 02:55] xyzhou-puck commented on #22342
1. 正常来说按name就能找到对应的参数。

2. BeamSearch本身不包含额外参数。

[2020-01-17 03:09] AoZhang commented on #22342
如果我自己实现 decoder 的话，也要保证 if train 、else inference 中都不能有任何参数吧？否则两个阶段就没法对齐了。@xyzhou-puck

[2020-01-17 03:16] sneaxiy commented on #22247
已私下解决，是batch_norm的is_test属性设成了True导致。

[2020-01-17 03:16] #22247 closed, assigned to sneaxiy

[2020-01-17 03:24] xyzhou-puck commented on #22342
你可以通过name来控制这些过程。

[2020-01-17 04:40] YelZhang commented on #22331
dynamic lstm不支持lodlevel=2

[2020-01-17 08:25] tangbozhang opened #22355 "飞桨轻量级目标检测挑战赛，评分模型时异常"
用coco数据集、shufflenetv2-ssd，也就是轻量级竞赛里的内容，epoch_num =8 或10，训练出的模型，使用score.py评分时报内存异常，提交到百度后台大概半小时左右可以出成绩（之前正常模型十几分钟），异常截图如下。同样代码和数据epoch_num=1训练出的模型评分正常。
aistudio（paddle 1.5.0）和本地（1.6.1）都出。

![QQ图片20200117152008](https://user-images.githubusercontent.com/53244607/72595768-87acd900-3945-11ea-871f-5a1d5be39f5f.jpg)
![image](https://user-images.githubusercontent.com/53244607/72595856-b925a480-3945-11ea-

[2020-01-17 11:40] #18716 closed, assigned to nobody

[2020-01-17 12:41] baiyfbupt commented on #21939
已私下沟通解决了问题，该issue可以close
@JoyeeL 如有需要可随时reopen

[2020-01-17 12:43] #21939 closed, assigned to frankwhzhang

[2020-01-17 13:17] AoZhang opened #22358 "使用 elementwise_mul OP 报 Paddle internal Check failed"
- 环境
   1）PaddlePaddle版本：1.6.2
   2）CPU：Intel(R) Xeon(R) CPU E5-2620 v2
   3）GPU：no
   4）系统环境：CentOS 6.3 ，Python版本 3.6.5

- 问题描述
看报错信息，问题出在了 `true_values = layers.elementwise_mul(value_enc, condition, axis=0)`
打印出来 value_enc, condition 的shape 和 dtype 如下：
[code]
看样子应该没有问题才对啊。具体出错日志如下：

[code]

[2020-01-17 23:38] leonleeldc opened #22361 "Use of Batch Normalization"
Hi,

Not sure why this happens.

I defined a class as following with fluid.dygraph.Layer.

class DeConv2D(fluid.dygraph.Layer):
    def __init__(self,
            name_scope,
            num_filters=64,
            filter_size=7,
            stride=1,
            stddev=0.02,
            padding=[0,0],
            outpadding=[0,0,0,0],
            relu=True,
            norm=True,
            relu

[2020-01-18 02:08] leonleeldc opened #22362 "dygraph"
Hi,

Not sure why this happens.

I defined a class as following with fluid.dygraph.Layer.

[code]

But I got the following error when I called this class with a generator defined as following:

[code]
The error information is as follows.

PaddleCheckError: unsupported type <NULL>, must be Variable, list[Variable] or tuple[Variable] at [/paddle/paddle/fluid/pybind/imperative.cc:143]

The error line

[2020-01-18 02:15] leonleeldc commented on #22362
Sorry,  the error line is not self.bn那一行，而是
x = self.deconv(to_variable(x))

[2020-01-18 04:43] leonleeldc commented on #22361
It turned out that I have to add
with fluid.dygraph.guard():
to the whole component.

[2020-01-18 04:43] #22361 closed, assigned to nobody

[2020-01-18 11:26] Vimos commented on #22289
编译环境的问题，GCC 7.3 编译最后是成功的

[2020-01-18 11:26] #22289 closed, assigned to nobody

[2020-01-19 04:26] zhiqiu commented on #22341
您好，默认情况下，[fluid.layers.data](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/data_cn.html#data)会在shape前面加-1作为batch_size，所以x的shape是[-1, 1]，而y是[1]，详见[fluid.layers.data](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/data_cn.html#data)。
可以设置x = fluid.layers.data(name='x', shape=[1], dtype='float32', append_batch_size=False)，不加-1。

[2020-01-19 05:38] #22341 closed, assigned to nobody

[2020-01-19 05:39] Xreki commented on #22362
I think `x` is already a varibale, can you try change `x = self.deconv(to_variable(x))` to `x = self.deconv(x)`?

[2020-01-19 08:28] wwjjy opened #22368 "dygraph 显存问题"
- 环境信息
    1）PaddlePaddle版本：paddle 1.5
- 训练信息
    1）单机，单卡
    2）显存信息
- 复现信息：模型部分代码大致如下：
[code]

- 问题描述：训练中，每个step后显存都会增加，最后由于显存不够，程序终止
![image](https://user-images.githubusercontent.com/20850734/72677532-51ec2980-3ad8-11ea-8eb6-e5550b229f17.png)

[2020-01-19 10:42] jiweibo commented on #22250
该issue长时间没有更新，可以先关闭了，如要继续讨论请再打开

[2020-01-19 10:42] #22250 closed, assigned to jiweibo

[2020-01-20 03:50] DDDivano commented on #22368
我看了一下代码，在这一段
`for bottleneck_block_list in self.bottleneck_deep_list:
            for bottleneck_block in bottleneck_block_list:
                out = bottleneck_block(out)
            self.feature_map.append(out)`
每执行一次最外层循环就会多一个Variable和一个dict,是不是self.feature_map.append(out) 这个原因？

[2020-01-20 06:03] leonleeldc opened #22377 "No output from gradients"
Hi,  不知道为啥下面这个 gradient出来结果为空。

def G_Jacobian(netG, XVar, cnts, lambdas, z, iter_str='', adding_noise_var=0, diag_Reg_val=0.1):
    interpolates = z
    interpolates.stop_gradient = False
    interpolates.stop_gradient_ = False
    G = netG(interpolates)
    G.stop_gradient = False
    G.stop_gradient_ = False
    V = XVar(interpolates, cnts, lambdas)
    V.stop_gradient = False
    V.stop_gradie

[2020-01-20 06:08] wwjjy commented on #22368
好的 我调试一下看看 @DDDivano

[2020-01-20 06:20] wwjjy commented on #22368
确实是这个问题，感谢感谢

[2020-01-20 06:20] #22368 closed, assigned to nobody

[2020-01-20 16:20] jczaja commented on #22179
@zhangting2020 Could you please share a command how to execute inference of those two models with current develop?

[2020-01-20 17:48] leonleeldc commented on #22362
Thanks, this problem is resolved. But I think that your suggestion is on the right track. Best,

[2020-01-20 17:48] #22362 closed, assigned to nobody

[2020-01-21 00:28] leonleeldc commented on #22377
I found a previous post talking about a similar problem: https://github.com/PaddlePaddle/Paddle/issues/21208.

Then, I changed my function as following,

def G_Jacobian(netG, XVar, cnts, lambdas, z, iter_str='', adding_noise_var=0, diag_Reg_val=0.1):
    interpolates = z
    interpolates.stop_gradient = False
    interpolates.stop_gradient_ = False
    interpolates.persistable = True
    G = netG(

[2020-01-21 01:06] xiangyubo opened #22383 "paddle 1.6.3 fill_constant函数 dtpye 参数文档和实际校验不一致"
paddle 1.6.3版本中，fill_constant函数的参数dtype，类型校验和文档描述的不一致。文档描述的可以是 np.dtype，但实际校验的时候却不认这个类型。

[2020-01-21 02:58] heavengate commented on #22383
感谢反馈，我们确认修复下~

[2020-01-21 09:14] mapingshuo commented on #22355
请联系组委会工作人员，邮箱zhangshuxia01@baidu.com

[2020-01-21 09:14] #22355 closed, assigned to nobody

[2020-01-21 10:07] mapingshuo commented on #22320
1.7 已修复：https://github.com/PaddlePaddle/Paddle/pull/22365
https://github.com/PaddlePaddle/Paddle/pull/22366
关闭issue：

[2020-01-21 10:19] jczaja commented on #22179
@zhangting2020 I have run both models, so my question does not need answer

[2020-01-21 11:38] cryoco commented on #22336
hi 请问使用最新版本预测还存在问题吗

[2020-01-21 14:23] jczaja commented on #22179
@zhangting2020 I have another issue that I would like to be advised on:
I checked that one of models is NCHW and other is NHWC this is correct , but problem is that
both are having the same input dimensions. In other words , when executing model via *test_analyzer_image_classification* then shape is read out of model, as it happens here:
https://github.com/PaddlePaddle/Paddle/blob/6d325a9470fc2079

[2020-01-21 16:58] zhangting2020 commented on #22179
@jczaja Your understanding is correct and thanks for your description. After checking, I found that the shape of the data layer in my code is set to [-1, 224, 224, 3] when data format is NCHW, which is obviously wrong. For NCHW, the shape of input should be [-1, 3, 224, 224]. So I modified it and uploaded a new version of NCHW data format.
[MobileNetV1_model_nchw.tar.gz](https://github.com/PaddleP

[2020-01-22 03:39] ahsdx opened #22392 "激活paddle环境失败"
python版本是3.7.3
因为我想通过conda方式来安装，按照飞桨官网安装教程，是先在anaconda命令行输入，
`conda create -n paddle_env python=3.7`
结果出错，出错信息见下面
`# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    Traceback (most recent call last):
      File "D:\Anaconda3\lib\site-packages\conda\exceptions.py", line 1074, in __call__
        return func(*args, **kwargs)
      File "D:\Anaconda3\lib\site-packages\conda\cli\main.p

[2020-01-22 04:03] SPRCSY opened #22393 "官网没有paddle.utils.plot.Plotter 的文档，希望补一下"
如题

[2020-01-22 07:24] OliverLPH commented on #22392
看起来是在 `conda create -n paddle_env python=3.7` 这一步出错的
这里是在用conda创建python3.7的虚拟环境，所以不是Paddle的问题。

如果Anaconda是安装的可视化版本
![image](https://user-images.githubusercontent.com/14963836/72873574-1bf2b380-3d2b-11ea-9e10-b4bce77d050d.png)
可以先在Anaconda的的界面里试下能不能创建虚拟环境，如果此处也不行，建议重新安装下Anaconda

[2020-01-22 08:49] ahsdx commented on #22392
好的，谢谢

---原始邮件---
发件人: "Peihan"<notifications@github.com&gt;
发送时间: 2020年1月22日(周三) 下午3:24
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"ahsdx"<2589561091@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 激活paddle环境失败 (#22392)

看起来是在 conda create -n paddle_env python=3.7 这一步出错的
 这里是在用conda创建python3.7的虚拟环境，所以不是Paddle的问题。

如果Anaconda是安装的可视化版本

 可以先在Anaco

[2020-01-22 14:10] ahsdx opened #22395 "import paddle出错"
已经通过conda安装paddle成功了（在anaconda prompt已经测试过，我的操作系统是win10家庭版），然后在jupyter notebook配置好paddle的python环境后，输入代码
`import paddle`
报错了，报错信息如下：

  from . import _distributor_init

ImportError                               Traceback (most recent call last)
<ipython-input-1-5b4954d53387> in <module>
----> 1 import paddle

D:\Anaconda3\envs\paddle_env\lib\site-packages\paddle\__init__.py in <module>
     15 from

[2020-01-22 16:28] jczaja commented on #18944
@luotao1 I will work on this task next week

[2020-01-22 17:03] jczaja opened #22396 "[DNNL] Inspect if Passes works fine for NHWC Paddle layout"
Recently NHWC PaddlePaddle layout was introduced. It would be good to check if DNNL (MKL-DNN) passes works properly for NHWC layout (for example mkldnn FC pass)

[2020-01-23 02:47] ahsdx opened #22397 "jupyter notebook导入paddle出错（通过conda进行安装的paddle）"
建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.3.post107
    2）CPU：i5-9300H，CUDA-7.4和CUDNN-10.0
    4）系统环境：win10家庭中文版、Python3.7
- 安装方式信息：
1）conda安装           
- 复现信息：通过conda安装后在jupyter notebook配置好paddle的python环境后，输入代码
`import paddle`，然后报错
- 问题描述：已经通过conda安装paddle成功了（在anaconda prompt已经测试过，我的操作系统是win10家庭版），然后在jupyter notebook配置好paddle的python环境后，输入代码
import paddle
报错了，报错信息如下：

D

[2020-01-23 08:09] rudaoshi opened #22398 "[bug] 在调用 matmul(x,y) 时碰到错误 Input(Y) of MatMulOp should not be null"
x 和 y 的创建方式
x = fluid.layers.data(name=name, shape=shape, dtype=dtype, append_batch_size=False)

y = fluid.layers.create_parameter(shape=value.shape, dtype=dtype,
                          default_initializer=fluid.initializer.NumpyArrayInitializer(value))

但是，x 和 y 不在同一个Python函数中创建。

根据这个错误，看起来是contex 丢失了 input Y 的信息？

在什么情况下会导致这个问题？如何解决？

[2020-01-23 08:18] rudaoshi commented on #22398
从源码看，inferShape 需要从context 来读取input信息？

不太明白为什么需要这样处理。直接传入Input信息不是更加直接？

[2020-01-23 08:28] rudaoshi commented on #22398
x 和 y是同一个block

[2020-01-23 09:06] rudaoshi commented on #22398
复现程序。 改名字就出错。

[code]

[2020-01-23 14:11] luotao1 commented on #22383
close due to #22386

[2020-01-23 14:11] #22383 closed, assigned to wangchaochaohu

[2020-01-24 13:58] rudaoshi commented on #22397
mac下的ipython 一样无法import

[code]

然后整个ipython会退出。

版本号 1.6.3

python shell 无此问题。

[2020-01-24 14:59] rudaoshi opened #22400 "[Feature Request] Scalar Variable"
需要Scalar  Variable。

[2020-01-26 13:08] #22038 closed, assigned to Aurelius84

[2020-01-26 15:50] #18601 closed, assigned to gavin1332

[2020-01-26 18:52] leonleeldc commented on #22377
现在我发现还是有问题的，因为我发现第一次求梯度时，好像出来的值是正常的，但是到了第二次，梯度值全变为0了，
我搜索了其他issues, 发现了两个帖子，其中一个就说多次梯度回传，就是会有梯度为0出现，不知道你们修复了这个问题没有，有没有其他解决办法。
https://github.com/PaddlePaddle/Paddle/issues/21886
https://github.com/PaddlePaddle/Paddle/issues/21965

我这边的多次梯度结果：
g_gradients:
name tmp_4837, dtype: VarType.FP32 shape: [10, 18, 1] 	lod: {}
	dim: 10, 18, 1
	layout: NCHW
	dtype: float
	data: [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

[2020-01-27 15:04] jczaja commented on #22179
Both models were successfully tested . Results are as follows:

Platform | MobileNetV1 NCHW | MobileNetV1 NHWC
---------- | ------------ | -------------
6248 | 86.0684 img/s | 85.0215 img/s
E5-2699 | 73.8635 img/s | 73.8363 img/s

On **6248** NCHW model is slightly faster , this is because two differences in Model execution:
1) NHWC model does require additional reorder operation. This is because

[2020-01-28 11:47] #21253 closed, assigned to MRXLT

[2020-01-29 00:00] leonleeldc opened #22405 "Problems in employing multiple programs"
I am using multiple programs in developing a gan model. But for some reason, the discrminator program and the train program have conflicts. When put them together, I always got nan after a few iterations within one epoch.

I guess this issue is related to the gradient computation. I found a few similar issues in dygraph. Not sure if they are related.

https://github.com/PaddlePaddle/Paddle/issues/

[2020-01-29 06:22] leonleeldc commented on #22405
I think that I have found solutions to this problem. It turned out that it seems that the method of gradient is still not mature yet in both static graph and dygraph of paddlepaddle. The following is not working well for discriminator's optimizer.
[code]
After I switch to
[code]
Things are working better. Meanwhile, it seems that we cannot change all of them to minimize. For example, for generator

[2020-01-29 12:16] liupluswei commented on #22377
你好，咨询了一下相关的同事，这个问题我们暂时还没有修复，我会反馈一下这个问题

[2020-01-29 13:34] #22256 closed, assigned to nobody

[2020-01-29 13:34] wbchief commented on #22256
Thanks.

[2020-01-29 14:41] wbchief opened #22406 "预训练模型参数问题"
您好！我现在需要在自己搭建的动态图模型中用到PaddleHub中的VGG16模型中的模型参数，我应该如何获取到预训练的模型参数并在放到我的模型中使用呢？

现在我使用
import paddlehub as hub
module = hub.Module(name="vgg16_imagenet")
input_dict, output_dict, program = module.context(trainable=True)

import paddle.fluid as fluid
with fluid.program_guard(program):
    param_list = fluid.framework.default_main_program().block(0).all_parameters()
    print(fluid.default_main_program

[2020-01-30 12:20] jczaja opened #22407 "[DNNL] Enable mkldnn_placement pass to work on inner ops of while op"
Currently passes are not working inside of while op. Hence inside of while op all ops are naive  as use_mkldnn is always false.

Goal of this task is to enable use_mkldnn=True for inner ops of while op. Transformer model should benefit from it

[2020-02-01 10:51] jackeytanghk opened #22411 "安装错误"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译

[2020-02-02 03:38] DMWillie opened #22412 "【导入paddle模块错误:DLL load failed:找不到指定的程序】"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译

[2020-02-02 03:50] DMWillie commented on #22412
安装版本及环境：win10-AMD64位/python版本3.6/pip版本：19.3.1/CPU版本
问题：安装paddle成功，但是导入import paddle.fluid报错DLL load failed错误
![导入paddle报错](https://user-images.githubusercontent.com/33515898/73602608-f3cc4580-45b1-11ea-869e-b3b720ea3147.png)
百度按照之前有人遇到类似的问题链接：http://ai.baidu.com/forum/topic/show/943038?&pageNo=1
但我也没有找到core.pyd文件，只有以下这两个pyd文件
![paddle依赖文件缺失](https://user-images.githubusercontent.com/33515898/73602

[2020-02-02 08:02] zhhsplendid commented on #22411
从报错信息上来看，是protobuf的错，可能是以下原因之一：

1.protobuf版本过低
2.protobuf支持py2,需要装py3

能否请您试试安装 protobuf-py3 和 upgrade protobuf ？

[2020-02-03 01:30] Aurelius84 commented on #22405
Thanks your advice sincerely. We will check the problem in `fluid.gradients` and improve it.

[2020-02-03 02:09] hutuxian commented on #22400
您好，感谢使用Paddle。
请您稍微详细点解释下您的需求？

[2020-02-03 03:07] zhhsplendid commented on #22328
已经与 @AoZhang 线下讨论解决此问题，用elementwise * 代替写法。

比如有个bool_tensor来指示一个batch数据哪些要跑，然后这样写：

true_branch = bool_tensor * input
false_branch = (1 - bool_tensor) * input

然后用true_branch，false_branch分别做剩下的运算

true_result = process_true(true_branch)
false_result = process_true(false_branch)

我讲关闭此卡片

[2020-02-03 03:07] #22328 closed, assigned to zhhsplendid, frankwhzhang

[2020-02-03 05:24] AoZhang opened #22416 "Inference 加载模型报错：because it is missing required fields"
- 环境
   1）PaddlePaddle版本：1.6.2
   2）CPU：Intel(R) Xeon(R) CPU E5-2620 v2
   3）GPU：no
   4）系统环境：CentOS 6.3 ，Python版本 3.6.5

- 问题描述
看报错信息像是save model时漏了数据，但是看不出来缺少的什么，“cannot determine missing fields for lite message”。review过代码，所有训练阶段read的变量都在 save_inference_model 阶段保存（feeded_var_names）了，请问这种情况下如何排查问题？

详细错误日志如下：
[code]

[2020-02-03 08:59] jiweibo commented on #22416
请问下能否提供下模型和参数文件，我先复现一下

[2020-02-03 09:41] AoZhang commented on #22416
如下压缩包包括 model 和 params，这些是否ok？
[model.tar.gz](https://github.com/PaddlePaddle/Paddle/files/4147138/model.tar.gz)

[2020-02-03 09:45] jiweibo commented on #22416
model的格式不对吧，我都不能直接可视化，可以先参考下官网保存模型部分代码修改下

[2020-02-03 09:53] AoZhang commented on #22416
这是我的代码，有啥问题？

[code]
我的模型train和inference代码不同，代码中的 target_vars 是 Inference 阶段最终结果的list（1个元素），program 是Inference 的 program。

[2020-02-03 11:25] jiweibo commented on #22416
可以用netron可视化文件，如果能正常可视化，才是正确的模型结构，你这里的模型查看不了。

此外，program经过save_inference_model之后才会得到预测的program，之前应该是训练后得到的program。

save_infernce_model参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#cn-api-fluid-io-save-inference-model

[2020-02-03 12:26] mtchen2016 commented on #22270
不是的，即使不打印中间变量，也是同样的错误。联系paddle同学排查，只能定位到打印的错误是static_rnn_0.tmp_0，但是，中间通过中间过程打印来看，static_rnn_0.tmp_0在前面已经被打印输出过。

[2020-02-03 12:59] mtchen2016 opened #22425 "daynamic_gru训练过程中出现tensor不匹配问题"
dynamic_gru算子要求：
input的形状为[序列长度， D*3]
h_0的形状为[序列个数， D]

但是【  https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/rnn.py   】
里第1839行的dynamic_gru相关代码却要求：序列长度 == 序列个数，这个是不是有问题呢？

[2020-02-04 02:57] MRXLT commented on #22425
input是lodtensor，input.shape[0]代表的是batch size，也就是序列个数

[2020-02-04 03:25] AoZhang commented on #22416
用 netron 查看只报了 `Error loading PaddlePaddle model. File format is not paddle.ProgramDesc (missing required 'data_type') in '__model__'.`
如何知道是哪里缺少了 data_type 呢？

[2020-02-04 03:50] jiweibo commented on #22416
是用到了scatter_nd吗？把模型文件转为txt后发现scatted_nd没有dtype，人工加上dtype可视化发现好像没有用到scatter_nd op. 请确认下。
[model.txt](https://github.com/PaddlePaddle/Paddle/files/4151332/model.txt)

[2020-02-04 04:21] AoZhang commented on #22416
用到 scatter_nd_add 了。
另外问下，模型文件如何转为明文txt的？

[2020-02-04 05:37] jiweibo commented on #22416
步骤比较麻烦，如果是厂内用户可以hi我，Hi账号 JiWilber

[2020-02-04 06:27] Angus07 opened #22437 "_copy_param_info_from should be invoked with two program, with represent the same topology"
train_prog = fluid.default_main_program()
    startup_prog = fluid.default_startup_program()
    with fluid.program_guard(train_prog, startup_prog):
        with fluid.unique_name.guard():
            lm = LanguageModel(config, config.vocab_size)
            src = layers.data(name="src",
                              shape=[-1, config.max_input_length + 2, 1],
                              dtype='

[2020-02-04 07:03] SunGaofeng commented on #22398
这个应该是在python端修改名字之后，c++端创建的变量名字还是以前的，导致按新的名字找不到变量了。不建议手动修改变量的名字

[2020-02-04 07:06] SunGaofeng commented on #22397
Mac下用命令行可以正常使用？可以检查下mac端ipython里面用到的python路径和版本，是否是安装了paddle的

[2020-02-04 07:10] ahsdx commented on #22397
好的，谢谢！

---原始邮件---
发件人: "SunGaofeng"<notifications@github.com&gt;
发送时间: 2020年2月4日(周二) 下午3:06
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"ahsdx"<2589561091@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] jupyter notebook导入paddle出错（通过conda进行安装的paddle） (#22397)

mac下的ipython 一样无法import
 In [1]: import paddle.fluid as fluid ERROR: unknown command lin

[2020-02-04 07:19] SunGaofeng commented on #22397
windows里面的问题看起来像是scipy的问题，能够先检查下scipy是否安装正确吗？

[2020-02-04 07:24] ahsdx commented on #22397
谢谢，我已经解决了，安装成功了。🤗

---原始邮件---
发件人: "SunGaofeng"<notifications@github.com&gt;
发送时间: 2020年2月4日(周二) 下午3:19
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"ahsdx"<2589561091@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] jupyter notebook导入paddle出错（通过conda进行安装的paddle） (#22397)

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：

版本、环境信息：
 &nbsp; &nbsp;1）PaddlePaddle版本：1.6

[2020-02-04 08:00] xk2261 opened #22438 "训练过程loss不规律出现nan，导致训练崩溃"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.2
    2）GPU：V100
    3）系统环境：Red Hat 4.8.5-28, Python 3.7.5
- 训练信息
    1）单卡
    2）显存16GB

在训练过程中，不定期出现loss为nan的情况，训练数据经查看没有问题。在用fluid.layers.Print打印op数据之后发现，是在elementwise_mul过程中出现了问题，相乘的两个op数据都没有问题，但相乘并reduce_sum之后，数值变成了nan，目前猜测是否是因为paddle精度问题导致的这个情况，还请解答。

下面是部分代码及日志信息：

code
[code]

log (只贴出来了出现问题的step中mask，loss_reduce_mean，loss_reduce_sum的日志信息)
[code]

[2020-02-04 08:08] lijianshe02 commented on #22438
请先排除是否是op的输入数据有问题，建议用原生numpy先对数据进行测试

[2020-02-04 09:10] jiweibo commented on #22416
已验证是scatter_nd_add的bug，关联issue https://github.com/PaddlePaddle/Paddle/issues/22000 已修复。

[2020-02-04 09:10] #22416 closed, assigned to jiweibo

[2020-02-04 09:10] #22000 closed, assigned to nobody

[2020-02-04 09:52] xk2261 commented on #22438
输入数据已经排查没有问题，输入是图片，经过前面各种操作之后到计算loss这一步出现了nan/inf的情况。paddle有没有如果这一个step的loss为nan/inf的话，就不进行反向传播的操作？

[2020-02-04 10:03] lijianshe02 commented on #22438
loss出现Nan，说明你的loss已经发散了，可以通过减小学习率、减小batch size、梯度剪裁以及更改参数初始化方式进行调试

[2020-02-04 10:09] xk2261 commented on #22438
我现在的batch size是1，在loss出现nan的前一个step loss还是正常的，但突然loss变为nan/inf，而且这个是不规律出现的，每次重新训练都在不同的step loss发散。可以看我最初始提的issue中的log，两个tensor的数值都是正常的，一个是mask均为0,1，另一个为loss值，但二者elementwise_mul并reduce_sum之后变为了nan

[2020-02-04 10:10] SunGaofeng commented on #22397
好的，请问您具体是怎么解决的？我们想统计下放到FAQ里面

[2020-02-04 10:25] ahsdx commented on #22397
我是通过conda安装的，原来是直接进入jupyter notebook，然后将kernel切换成paddle，但是导入paddle还是错误。后面我就先在anaconda prompt里输入activate paddle_env，先进入虚拟环境，然后再输入jupyter notebook，再将kernel切换成paddle，然后导入paddle就成功了。------------------ 原始邮件 ------------------
发件人: "SunGaofeng"<notifications@github.com>
发送时间: 2020年2月4日(星期二) 晚上6:10
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "ahsdx"<2589561091@qq.com>;"Author"<author@norep

[2020-02-04 11:34] lijianshe02 commented on #22437
请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Program_cn.html#program这个链接检查program使用语法是否有问题

[2020-02-04 11:58] SunGaofeng commented on #22397
这是mac下面的解决方案吧，win10下面安装有问题，后来解决了吗？

[2020-02-04 12:02] ahsdx commented on #22397
我就在win10里装了paddle啊，我没有苹果笔记本电脑呢，提的问题也都是win10的😮

---原始邮件---
发件人: "SunGaofeng"<notifications@github.com&gt;
发送时间: 2020年2月4日(周二) 晚上7:58
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"ahsdx"<2589561091@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] jupyter notebook导入paddle出错（通过conda进行安装的paddle） (#22397)

我是通过conda安装的，原来是直接进入jupyter notebook，然后将kernel切换成

[2020-02-04 12:15] jczaja commented on #21493
I'm working on that one. Very early results are promising e.g. It should be possible to reduce memory usage of MKL-DNN integration quite close to level of Paddle CPU operators.

[2020-02-05 06:57] Angus07 commented on #22437
发现了，是因为剪裁的原因，优化函数要在后面加，已解决

[2020-02-05 10:09] #22437 closed, assigned to lijianshe02

[2020-02-06 01:44] brbheart opened #22467 "PaddleCheckError: cudaGetDeviceCount failed in paddle::platform::GetCUDADeviceCountImpl, error code : 3"
- 版本、环境信息：
    1）**PaddleCloud** paddle-fluid-v1.6.1
    2）GPU：v100
- 训练信息
    1）单机 单卡
- 复现信息：
    在PaddleCloud上同样的代码，
    少量训练数据(2张图片)可以正确训练；
    大量训练数据正式训练时报错。
- 问题描述：

Traceback (most recent call last):
  File "train.py", line 777, in <module>
    train(args)
  File "train.py", line 164, in train
    place = fluid.CUDAPlace(0)
paddle.fluid.core_avx.EnforceNotMet:

------------------------------

[2020-02-06 02:05] hong19860320 commented on #22467
登录到用户的PaddleCloud机器，在比较两次训练任务的日志后发现，两次任务用的不是同一个GPU devices，因此，初步判断是由于GPU的环境问题导致该情况发生，后者可能没有GPU，或者它的CUDA和cudnn环境不满足paddle的CUDA10和CUDNN 7.6的要求，目前PaddleCloud的@任文彬同学正在跟进该问题。

[2020-02-06 09:12] hong19860320 commented on #22467
用户通过增大trainner卡的数量解决该问题。
![image](https://user-images.githubusercontent.com/9973393/73922220-be9e5b00-4903-11ea-9a0c-ce5b043c3109.png)

[2020-02-06 09:19] #22467 closed, assigned to hong19860320

[2020-02-06 09:30] grygielski commented on #21270
Does this problem still exists? If yes, how I can reproduce that, because provided code runs without any problem on my machine.

[2020-02-06 11:23] jczaja opened #22476 "[DNNL] Add fuse of FC + GELU"
DNNL InnerProduct (FC) does support eltwise. We could investigate if FC can be merged with GELU and
then implement pass doing that. It should be helpful to BERT fp32 model.

We should wait till new API for GELU is merged.

[2020-02-06 11:26] luotao1 commented on #21270
@chenwhql will help to confirm it in the physical machine again.

[2020-02-06 11:31] jczaja opened #22477 "[DNNL] Gather shapes of all FC and work with DNNL to have it speeded up"
It would be good to gather shapes of NLP models ERNIE and BERT and report to MKL-DNN to have FC speeded up as FC consumes significant part of execution time.

[2020-02-07 02:43] chenwhql commented on #21270
Thanks. I run this script on the physical machine and it did not have any problems.
![image](https://user-images.githubusercontent.com/22561442/73996294-39b05180-4996-11ea-9352-98f00d08f926.png)

But I run it on our virtual development machine again, I still get this error. It can be determined that there is a problem with the virtual machine's instruction set.
![image](https://user-images.githubu

[2020-02-07 08:04] #21717 closed, assigned to nobody

[2020-02-07 11:16] lp1985621 opened #22500 "Paddle Serving 加载GPU模型时失败"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2 GPU版本
    2）GPU：GPU是 Tesla V100-SXM2；CUDA version: 10.0，CUDNN version: v7
    3）CENTOS7 python3.6，
-预测信息
    1）C++预测：GIT COMMIT ID: bf379fef961319ed213df7193cf7bd3997f0c095
    2）PaddlePaddle/Serving 下 cmake -DWITH_GPU=ON .
CPU模型加载成功，GPU模型加载失败，失败信息如下：
I0207 15:56:19.291407 14554 analysis_predictor.cc:88] Profiler is deactivated, and no profiling report will be

[2020-02-07 11:19] jczaja commented on #22179
@zhangting2020 , @luotao1 I was asked to add some more details on running.

1. Running NHWC model requires model with data_format/data_layout  to be pointed by *infer_model* option. So running any model (NCHW or NHWC) is the same it just  value of *infer_model* does change. For example:

 *test_analyzer_image_classification --infer_model=\<path to NCHW or NHWC model\> --repeat=1000*

2. Provided m

[2020-02-07 11:25] jerryniu520126 opened #22501 "多机分布式运行时报错，ValueError: Operator "send" has not been registered."
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.3
    2）CPU：
![TIM截图20200207191558](https://user-images.githubusercontent.com/46663799/74025165-4eb0d300-49de-11ea-9fd1-45eab8493866.png)

    3）系统环境：Windows 10

- 训练信息
    1）多机，单卡

- 复现信息：
`#!/bin/bash

# start pserver0
python train.py \
    --train_data_path train.txt \
    --is_local 0 \
    --role pserver \
    --endpoints 127.0.0.1:6000,127.0.0.1:6001 \

[2020-02-07 18:48] jczaja commented on #21493
@luotao1 , @willthefrog
It is possible to reduce peak memory consumption of DNNL(mkl-dnn) workloads, by overwritting original
filter's params with DNNL ones.

Before(develop):
![dnnl_memory](https://user-images.githubusercontent.com/15085062/74055432-51acc300-49e0-11ea-8d1e-81a3b096666c.png)

After(#22505):
![dnnl_memory_optimizer](https://user-images.githubusercontent.com/15085062/74055533-790390

[2020-02-08 13:39] wangchaochaohu commented on #22500
显示版本不匹配 某些OP的使用对Paddle 版本是有要求的 建议用官方最新的Paddle 1.6.3版本

[2020-02-08 13:46] wangchaochaohu commented on #22501
看报错信息是使用为注册的OP 请问下你在Windows下运行其他程序正常吗？

[2020-02-09 04:24] jerryniu520126 commented on #22501
正常呀，之前在本地跑过一些paddlepaddle的房价预测和其他的demo都没问题，但是这是第一次跑分布式

[2020-02-09 04:24] jerryniu520126 commented on #22501
正常呀，之前在本地跑过一些paddlepaddle的房价预测和其他的demo都没问题，但是这是第一次跑分布式

[2020-02-10 02:54] wangchaochaohu commented on #22501
请问下设置了http_proxy? 麻烦@wangjiawei04帮忙看下

[2020-02-10 03:07] bjjwwang commented on #22501
需要安装带分布式训练模式的的paddle版本， pip install只有单机版本的。
https://www.paddlepaddle.org.cn/install/doc/tables#%E5%A4%9A%E7%89%88%E6%9C%ACwhl%E5%8C%85%E5%88%97%E8%A1%A8-dev-11
里面的cpu-mkl 下面的python版本选择一个wheel包安装好 ，例如python 27版本就
用pip install -U paddlepaddle-latest-cp27-cp27mu-linux_x86_64.whl

[2020-02-10 03:25] bingyanghuang commented on #22179
[MobileNetV1_model_nchw.tar.gz](https://github.com/PaddlePaddle/Paddle/files/4179193/MobileNetV1_model_nchw.tar.gz)
[MobileNetV1_model_nhwc.tar.gz](https://github.com/PaddlePaddle/Paddle/files/4179194/MobileNetV1_model_nhwc.tar.gz)

[2020-02-10 03:50] yxfGrace opened #22510 "paddle 1.6.3使用fluid.layers.batch_norm报错"
代码：
![image](https://user-images.githubusercontent.com/29363426/74119660-58635200-4bfb-11ea-9ea5-e120f19ca769.png)
报错：
/home/slurm/job/tmp/job-121300/python27-gcc482/lib/python2.7/site-packages/paddle/fluid/executor.py:779: UserWarning: The following exception is not an EOF exception.
"The following exception is not an EOF exception.")
Traceback (most recent call last):
File "trainer.py", line 339

[2020-02-10 07:12] bingyanghuang commented on #22179
| Platform  | MobileNetV1 NCHW  | MobileNetV1 NHWC  |
|:-:|:-:|:-:|
| Xeon 6248  | 86.0684 img/s  | 85.0215 img/s  |
| E5-2699  | 73.8635 img/s  | 73.8363 img/s  |

**ccc**

[2020-02-10 09:24] hexiaoting opened #22516 "Int8模型 用tensorrt推断提示硬件不支持native int8"
# 1. 系统环境：
centos7
GPU：
04:00.0 3D controller: NVIDIA Corporation GK210GL [Tesla K80] (rev a1)
05:00.0 3D controller: NVIDIA Corporation GK210GL [Tesla K80] (rev a1)
08:00.0 3D controller: NVIDIA Corporation GK210GL [Tesla K80] (rev a1)
09:00.0 3D controller: NVIDIA Corporation GK210GL [Tesla K80] (rev a1)

# 2. 执行步骤
按照https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inf

[2020-02-10 09:33] hexiaoting commented on #22516
同时，这个helper.h文件是哪个库哪个目录下的我也没有找到，求指导。

[2020-02-10 10:05] wangchaochaohu opened #22520 "二次梯度OP需求收集"
关于OP二次梯度，如有相关需求，可以在这里添加

[2020-02-10 10:07] wangchaochaohu commented on #22520
目前沟通了解到的是FC层和交叉熵

[2020-02-10 11:26] ceci3 commented on #22510
您好，1.6.1->1.6.3 这个op没有涉及到这个报错的改动，方便贴一下可复现代码嘛？

[2020-02-11 04:13] luotao1 commented on #21270
Close due the lack of instruction set on the virtual machine.

[2020-02-11 04:13] #21270 closed, assigned to nobody

[2020-02-11 07:55] Steffy-zxf opened #22530 "修复elementwise_max、elementwise_pow op数据精度和shape"
将elementwise_max、elementwise_pow升级：
1.数据精度有float32升级float64，并满足前后向误差阈值要求
2.升级输入shape为100以上

[2020-02-11 09:07] jczaja commented on #20173
Implemented by #22426

[2020-02-11 09:07] #20173 closed, assigned to nobody

[2020-02-11 09:13] hexiaoting opened #22534 "Paddle-TRT实际测试数据与官网数据差距较大"
# 环境
操作系统centos
Intel(R) Xeon(R) CPU E5-2640 v4 @ 2.40GHz
NVIDIA Corporation GK210GL [Tesla K80] (rev a1)
测试模型 ResNet50，MobileNet，ResNet101

# Paddle环境
- fluid_inference 直接下载的安装包
GIT COMMIT ID: fa7ace7cf2859f927c26f1970bbc2f5551532df1
WITH_MKL: ON
WITH_MKLDNN: OFF
WITH_GPU: ON
CUDA version: 10.0
CUDNN version: v7
- 下载了PaddlePaddle  model github repo

# 测试说明
* 按照[Paddle-TRT性能测试](https://www.paddlep

[2020-02-11 09:19] NHZlX commented on #22516
应该是k80 这个卡不支持int8的操作。 helper.h 文件是trt的header file 非paddle的文件。

[2020-02-11 09:32] hexiaoting commented on #22516
https://github.com/NVIDIA/TensorRT.git这个下面也没有helper.h呢，
我看了下执行run.sh里设置的CUDA的include目录下也没有helper.h

[2020-02-11 09:34] jczaja opened #22539 "[DNNL] speedup convolution grad ops"
Convolution DNNL is not working fully optimally for training (enforcing of layouts happen). Changes require modifcation of conv FWD op and unit tests for grad.

[2020-02-11 09:40] NHZlX commented on #22516
是trt内部非接口头文件。

[2020-02-11 09:45] hexiaoting commented on #22516
哦，那意思就是cuda的某个动态库里包含了这个文件是吧

[2020-02-11 09:45] #22530 closed, assigned to nobody

[2020-02-11 10:29] jerryniu520126 commented on #22501
在Anaconda Prompt中，按您的指示运行了pip install -U paddlepaddle-latest-cp37-cp37m-linux_x86_64.whl
但是报错了，报错信息如下：

我一直使用的都是Python 3.7, paddlepaddle-latest-cp37-cp37m-linux_x86_64.whl也确实下载到本地了，不知为何说not a supported wheel，望指教

[2020-02-11 10:58] Steffy-zxf opened #22542 "升级elementwise_pow、elementwise_max、elementwise_min、scale、sqrt等op单测精度、shape"
1. 将elementwise_pow、elementwise_max、elementwise_min、scale、sqrt等op单测精度 由float32 升级至float64。
 * 其中sqrt发现目前develop分支已经是float64，并且将sqrt的单测从 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/white_list/op_accuracy_white_list.py 移除，单独跑sqrt的单测没有报错（前后向误差满足要求），故从op_accuracy_white_list.py移除sqrt。
 * 其中elementwise_pow目前develop分支已经是float64，但前后向误差不满足阈值要求。
![image](https://u

[2020-02-11 11:02] grygielski opened #22543 "[DNNL] Add DNNL reshape/reshape2 kernel"
Adding DNNL reshape2 kernel could reduce number of layout changes (along with reorders) and lead to improvement of BERT model performance.

[2020-02-12 02:44] NHZlX commented on #22534
1. 目前paddle-trt还不支持dynamic shape。输入的shape需要和模型定义的shape一致。可以下载Netron 软件，将模型文件`model` 修改成`__model__`查看模型的输入的shape。

2. 标准的resnet50/101都是3*224*224，应该是一致的。

3. 此数据测试的卡是P4，看到你的硬件是Tesla K80，我们之前没有在此硬件上进行过测试。运行和Paddle 预测性能相当的原因可能如下：1） Paddle原生预测有和TRT相似的优化， 包括OP间的融合，内存/显存优化，一个较大的差别在于TRT有内部的优化的OP kernel。 2. 此硬件较旧，可能某些trt优化的kernel不能够支持。

4. inceptionv3 这个模型确实没有发布，此数据后续会考虑更新。

5. Paddle-TRT可能理解为是GPU C++预测一个可

[2020-02-12 03:27] hexiaoting commented on #22534
好的，谢谢

[2020-02-12 03:27] fseasy opened #22550 "在while_op中使用`=`赋值，期望每轮更新结果，但实际只运行一次；期望能够更详细说明while_op的正确用法"
- 标题：
      在while_op中使用`=`赋值，期望每轮更新结果，但实际只运行一次；
      期望能够更详细说明while_op的正确用法
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1
    2）CPU/GPU：CUDA 10.1, cuDNN 7.0
    3）系统环境：CentOS 7.7
    4）Python版本号: 3.7.4
    5）显存信息: 32G
- 复现信息：

[code]

- 问题描述：

1. decode_position一直为100， 而step_idx正常累加
2. 能否给while_op更多的说明，防止踩坑（譬如，是否只能用layers.assign, increment这些来赋值）

[2020-02-12 03:54] chenwhql commented on #22550
您好：

1. 我在develop分支的paddle版本上尝试了您的代码，执行没有问题，所以这应该是1.6.1版本的一个bug，应该目前已经修复了，你也可以用新的版本尝试验证一下，我的结果如下：
[code]
2. 文档方面，我会反馈给相关同学补充更多的示例，感谢反馈意见！

[2020-02-12 03:57] fseasy commented on #22550
啊，原来是bug 😂 ;了解

[2020-02-12 03:57] #22550 closed, assigned to nobody

[2020-02-12 08:02] Colorfu1 opened #22559 "计算loss时，进行softmax操作的先后会影响loss的值。"
在计算loss的时候，当我先做softmax，再做transpose，使用cross_entropy计算损失，得到loss=6.759191
![code2](https://user-images.githubusercontent.com/30551427/74314733-efbdd600-4db0-11ea-827b-6267f8ffb458.PNG)
![loss2](https://user-images.githubusercontent.com/30551427/74314737-f0ef0300-4db0-11ea-9b21-e8d8f9df65d5.PNG)
调整顺序，先transpose，再做softmax，使用cross_entropy计算损失，得到loss=2.243314
![code1](https://user-images.githubuserconten

[2020-02-12 08:32] gfwm2013 opened #22561 "transpose_mkldnn Op中调用了ShareDataWith方法"
Paddle框架的OP开发规范中规定[Op禁止调用ShareDataWith和ShareBufferWith方法](https://github.com/PaddlePaddle/Paddle/wiki/ShareDataWith-and-ShareBufferWith-are-prohibited-in-OP)，但在transpose_mkldnn OP的文件[transpose_mkldnn_op.cc](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/mkldnn/transpose_mkldnn_op.cc)中仍存在对输入和输出调用ShareDateWith方法。想请教一下，这个是否需要根据OP开发规范将其修改为TensorCopy的形式，还是出于什么考量仍需保留ShareDate

[2020-02-12 08:35] chenwhql commented on #22559
您好，我理解这两种计算应该不是等价的吧，softmax是以某一个轴的下标为索引，对这一轴上其他维度的值进行 激活 + 归一化处理。一般来说，这个索引轴都是表示类别的那个维度（也就是最后一个维度）

您可以看下官方文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/softmax_cn.html#paddle.fluid.layers.softmax

softmax里面有一个维度变换操作
![image](https://user-images.githubusercontent.com/22561442/74316915-6230b500-4db5-11ea-9927-763d7b8c9f2a.png)

transpose之前和transpose之后softmax的轴应该是不一样的，所以导致

[2020-02-12 08:38] MrChengmo commented on #22501
- 您下载的包是在Linux环境下安装的`paddlepaddle-latest-cp37-cp37m-linux_x86_64.whl`，您的运行环境是win10？
- 分布式运行推荐在linux下进行，有很多分布式OP不支持在win下运行
- 可以参考文档：https://github.com/PaddlePaddle/Fleet/tree/develop/examples/distribute_ctr

[2020-02-12 10:30] jerryniu520126 commented on #22501
谢谢您的指点

[2020-02-12 12:34] tangbozhang opened #22572 "如何打印出训练过程中的实时学习率"
分段衰减学习率，如何打印出训练过程中的实时学习率？
boundaries =[160,180]
values = [0.001,0.0001,0.0001]
opt = fluid.optimizer.Momentum(learning_rate=fluid.layers.piecewise_decay(boundaries, values), momentum=0.9)

[2020-02-12 12:44] parap1uie-s commented on #22572
貌似global_block中有一个名为“learning_rate”的LoDTensor，
可以试试这个方法，看能不能获取

[code]

[2020-02-12 13:08] snowolfhawk commented on #22534
paddle-trt内部完全没有使用trt的优化算子，还是部分子图直接生成了trt算子部分使用了paddle自己的？

[2020-02-12 13:12] tangbozhang commented on #22572
boundaries =[160,180]
 values = [0.001,0.0001,0.0001]
 opt = fluid.optimizer.Momentum(learning_rate=fluid.layers.piecewise_decay(boundaries, values), momentum=0.9)

for epoch in range(MAX_EPOCH):
            for i, data in enumerate(train_loader()):
                img, gt_boxes, gt_labels, img_scale = data
                gt_scores = np.ones(gt_labels.shape).astype('float32')
                gt_s

[2020-02-13 01:49] casolxia opened #22576 "在aistudio中升级paddlepaddle-gpu-1.6.3.post107 训练报错"
cuda版本9.2
训练情感分析模型
------------------------------------------------
Traceback (most recent call last):
  File "run_ernie_classifier.py", line 389, in <module>
    main(args)
  File "run_ernie_classifier.py", line 154, in main
    place = fluid.CUDAPlace(int(os.getenv('FLAGS_selected_gpus', '0')))
paddle.fluid.core_avx.EnforceNotMet:

--------------------------------------------
C++ Call Stacks (Mo

[2020-02-13 02:01] #22559 closed, assigned to nobody

[2020-02-13 02:10] chenwhql commented on #22561
这是Op规范的存量问题吗？
发这个issue的目的是，需要商讨？还是发给负责人修改的？

[2020-02-13 02:30] gfwm2013 commented on #22561
嗯呢，是Op规范的存量问题。
因我暂未找到这个Op的负责人，所以提这个issue想商讨一下该Op是否可以按照[Op禁止调用ShareDataWith和ShareBufferWith方法](https://github.com/PaddlePaddle/Paddle/wiki/ShareDataWith-and-ShareBufferWith-are-prohibited-in-OP)中的建议进行修改？

[2020-02-13 02:33] chenwhql commented on #22561
好的，了解了

[2020-02-13 02:46] chenwhql commented on #22572
您这个使用的是动态图模式， @parap1uie-s 提供的方法也是可以的，但是是在静态图模式下使用的，不适用于您的场景

您可以尝试用以下方法打印：

[code]

[2020-02-13 03:05] MrChengmo opened #22578 "fluid.save接口的参数命名有歧义，使用不方便"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：1.7
2）CPU/GPU：CPU
3）系统环境：CentOS

在使用fluid.save接口时，该接口的参数为`def save(program, model_path):`，
- 假如传入model_path为`/path/epoch_1`，用户会直观认为模型保存结果如下`/path/epoch_1/model_file`，然而事实上，保存结果为`/path/epoch_1_model_file`。
- 如果训练多个epoch，path下会出现一大堆文件，与paddle其他保存模型的接口表现不一致。
- 为了达到保存为`/path/epoch_1/model_file`的效果，用户除了必须手动创建`/

[2020-02-13 03:06] barry2025 opened #22579 "yolov3 prune预测模型tensorrt 预测报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1
    2）GPU：cuda10.1和cuda9
-预测信息
    1）C++预测：version.txt
         GIT COMMIT ID: 70c073a0019f3405f9074579a8c48a43281dfdea
         WITH_MKL: ON
         WITH_MKLDNN: OFF
         WITH_GPU: ON
         CUDA version: 10.1
         CUDNN version: v7 
- 复现信息：剪枝预测模型地址  https://bj.bcebos.com/v1/mct-imagedb/tangxin-bos/yolov3_r34_prune.tar.gz
- 问题描述：
利用c++ 预测接口，采取fp32预

[2020-02-13 03:18] zhupengyang commented on #22576
根据```error code : 35```查到的错误是```This indicates that the installed NVIDIA CUDA driver is older than the CUDA runtime library. This is not a supported configuration. Users should install an updated NVIDIA display driver to allow the application to run.```。你可以试试升级nvidia的gpu驱动。

[2020-02-13 03:32] zhupengyang commented on #22578
这个确实容易引起理解问题和使用的不方便，我们会评估后进行改进优化，感谢您的建议

[2020-02-13 03:37] luotao1 commented on #22561
请 @bingyanghuang 帮忙看和翻译一下

[2020-02-13 03:43] NHZlX commented on #22579
可以看到输出的channel和参数并不匹配，请确认模型是否有问题：

![image](https://user-images.githubusercontent.com/5595332/74399470-e5a1e300-4e55-11ea-9b4f-ee4e3678a5f8.png)

[2020-02-13 04:47] littletomatodonkey opened #22581 "py_func中在没有对输出类型为list时的情况做处理"
paddle1.7版本，py_func中在输出out为list时，没有做处理，导致out_list未被定义，程序报错

https://github.com/PaddlePaddle/Paddle/blob/e78858f19c9d52d22431b453cb0e776e4c98ef99/python/paddle/fluid/layers/nn.py#L12599

[2020-02-13 05:21] zhupengyang commented on #22581
看上去是个bug，感谢反馈

[2020-02-13 05:28] zhupengyang commented on #22581
@zhouwei25 看上去是 #21687 修复的时候没有处理list的情况，你来修下？

[2020-02-13 05:41] Colorfu1 commented on #22559
恩恩，是的

[2020-02-13 05:53] Colorfu1 opened #22583 "模型在CPU和GPU上训练效果相差较大"
learning_rate = 0.001
使用一个cpu和gpu设备。
在cpu上训练时，前20个epoch的训练结果以及loss下降如下：
Batch 0, loss 2.522635, acc 0.088436
Done epoch: 0
Epoch: 1
Batch 0, loss 2.114787, acc 0.211000
Done epoch: 1
Epoch: 2
Batch 0, loss 2.454542, acc 0.079980
Done epoch: 2
Epoch: 3
Batch 0, loss 1.930440, acc 0.284088
Done epoch: 3
Epoch: 4
Batch 0, loss 1.789533, acc 0.447309
Done epoch: 4
Epoch: 5
Batch 0, loss 1.745031, acc

[2020-02-13 06:01] zhupengyang commented on #22583
1、确定模型中有没有类似dropout之类的概率性的OP
2、能否提供下cpu、gpu的型号信息等

[2020-02-13 06:09] zhupengyang commented on #22583
3、模型参数在开始训练的时候是不是一致，有没有种子不一样的情况
4、每次iter选取的数据是否是一样的

----------------------------------------------------------------

如果没有任何随机性的东西，建议每个iter保存下每个OP的输出和参数，对比CPU和GPU的结果，看看有没有相差特别大的某个OP

[2020-02-13 06:13] Colorfu1 commented on #22583
1. 没有使用dropout
2.cpu是Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz， gpu是k40
3.初始化参数都是用exe.run(inference_startup)的program自动初始化的
4.我选取的数据只有一条数据，来来回回都是同一条数据在训练。

[2020-02-13 06:23] zhwesky2010 commented on #22581
收到

[2020-02-13 09:57] OleNet opened #22592 "fluid.backward.append_backward出错If not, please set stop_gradient to True for its input and output variables using var.stop_gradient=True"
可以直接在本地跑并且复现错误的代码：
[code]

[2020-02-13 09:57] OleNet commented on #22592
错误：
[code]

[2020-02-13 09:59] OleNet commented on #22592
tensorflow 的 cleverhans 包就能跑的通：
https://github.com/tensorflow/cleverhans/blob/master/cleverhans/attacks/virtual_adversarial_method.py#L139

[2020-02-13 10:22] zhupengyang commented on #22592
我跑了下，显示
[code]
看上去是```emb_hat```定义在后面，所以有问题

[2020-02-13 10:33] OleNet commented on #22592
这个问题fix了，可以复现了。
你再复现一下。
我的问题的本质是一个 op 不能在反向中被获得

[2020-02-13 10:53] zhupengyang commented on #22592
新的结果是
[code]
还是和你的不一样。。

看上去是```emb_hat = exe_run(mp, sp, feed={text_model.ids:[[[1], [3]]]}, fetch_list=[emb])```里面```emb```不是字符串

[2020-02-13 10:58] OleNet commented on #22592
我的python是2.7
paddle是1.6.0

[2020-02-14 07:14] LutaoChu opened #22607 "对tensor进行切片，当输入为超长shape的tensor时，输出被截断"
反馈一个bug
y=x[1:]
如果x的维度大于9999999，y的长度最多只有9999999

复现代码
[code]

[2020-02-14 07:28] luotao1 opened #22608 "Does this 6148 virtual machine contain the complete flags?"
### Physical machine
[code]
### Virtual machine
[code]
Does the virtual machine lack some flags, which affects the correctness of CPU computing?

[2020-02-14 07:33] willthefrog commented on #22607
看起来应该是[_pySliceTensor](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/pybind/tensor_py.h#L459)的问题，请 @lanxianghit 安排下相关同学跟进？

[2020-02-14 08:12] willthefrog commented on #22607
暂时先assign @Thunderbrook 跟进

[2020-02-14 08:27] Sand3r- commented on #22608
Virtual machine is missing the following flags:
- avx512dq
- avx512bw
- avx512vl

Some libraries (such as MKL) choose AVX2 Implementation if not all of the AVX512 flags are found.

[2020-02-14 11:24] imistyrain opened #22613 "ERROR: flag 'logtostderr' was defined more than once when running inference"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:无
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.7）或CommitID926227c8a30dcaabd5054c132bf862347b4c7ab3
    2）CPU：普通i5，预测若用CPU，未使用MKL等
    3）GPU：无
    4）系统环境: Mac OS 10.14
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
GIT COMMIT ID: 926227c8a30dcaabd5054c132bf862347b4c7ab3
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: OFF
    2）CMake包含路径的完整命令
cmake

[2020-02-14 11:34] fc500110 commented on #22613
能给一下代码链接么

[2020-02-14 14:04] imistyrain commented on #22613
问题已经解决，系由brew install opencv@3安装的时候依赖了glog，paddle又打包了一个glog，二者冲突了
brew uninstall glog
brew uninstall opencv@3
源码编译opencv并安装

[2020-02-14 14:04] #22613 closed, assigned to fc500110

[2020-02-14 14:33] xlwan1132 opened #22614 "Tensor holds no memory. Call Tensor::mutable_data first."
Traceback (most recent call last):
  File "/home/aistudio/work/resnet50/train_fast.py", line 66, in <module>
    opt.minimize(loss_train)
  File "</opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/decorator.py:decorator-gen-36>", line 2, in minimize
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__

[2020-02-14 14:53] willthefrog commented on #22614
看上去是动态图trace报错, 请 @phlrain 看下？

[2020-02-14 14:54] xlwan1132 commented on #22614
@phlrain 动态图运行报错

[2020-02-14 15:07] phlrain commented on #22614
能方便提供下使用的paddle的版本，和能够复现的代码吗

[2020-02-14 15:34] xlwan1132 commented on #22614
@phlrain              https://aistudio.baidu.com/aistudio/projectdetail/268453

[2020-02-15 11:26] #22542 closed, assigned to nobody

[2020-02-16 07:43] songyuc opened #22625 "请问一下，PaddlePaddle官方是否有实现DeepLabV3+模型呢？"
你好！
请问一下，PaddlePaddle官方是否有实现DeepLabV3+模型呢？
期待你的回复！

[2020-02-16 15:15] tangbozhang commented on #22572
我这个是想在训练中打印每步的实时学习率，图像是静态图，按您说的还是报错
“  lr = opt.current_step_lr()
AttributeError: 'MomentumOptimizer' object has no attribute 'current_step_lr'”
@chenwhql

[2020-02-17 01:21] chenwhql commented on #22572
请问您用的是哪个版本的paddle？
抱歉，opt.current_step_lr()这个接口在develop版本的paddle中才有，您可以试下以下写法：
`lr = opt._global_learning_rate().numpy()`

[2020-02-17 02:31] zhiqiu commented on #22625
您好，有实现，请参考models库中[deeplabv3](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/deeplabv3%2B)和[PaddleSeg库](https://github.com/PaddlePaddle/PaddleSeg)。

[2020-02-17 03:12] linan142857 opened #22633 "fluid.embedding forword-calculation nan"
PaddlePaddle版本：1.6.3
CUDA/CUDNN/GPU：10.2/v7.6/GeForce RTX 2080
系统环境：CenterOS 6.3

单卡训练，输入为lod_level=2的序列，无论以哪种方式初始化embedding matrix，前向计算结果均为nan，确定输入的ids没有问题，字典大小10784，embedding大小128。
代码截图：
![image](https://user-images.githubusercontent.com/3764907/74621038-3a0ad280-5176-11ea-9613-84bab0170259.png)
特征截图：
![image](https://user-images.githubusercontent.com/3764907/74621071-60307280-5176-11ea-88f4-378

[2020-02-17 05:12] linan142857 commented on #22633
发现是在没有训练情况下iteration=0就开始了test_eval导致出现nan。移除eval后在train的过程中正常的

[2020-02-17 05:12] #22633 closed, assigned to nobody

[2020-02-17 05:26] #22579 closed, assigned to nobody

[2020-02-17 05:57] zhangting2020 opened #22636 "【安装错误】Paddle源码编译时设置-DWITH_XBYAK=OFF，安装后import出错"
## 问题描述
docker编译：镜像 hub.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda9.0-cudnn7-dev

- 使用最新的develop分支代码，源码编译，设置-DWITH_XBYAK=OFF，例如：
[code]
- 编译完成后安装，import 出错，如下：
[code]

- 其他：
  - 在GPU物理机和CPU物理机上都测试过，编译时设置-DWITH_XBYAK=OFF时会出现上述错误
  - 但同时设置-DWITH_XBYAK=OFF以及-DWITH_AVX=OFF，则正常

[2020-02-17 06:29] Akeepers opened #22639 "LSTM 输出维度错误"
paddle API文档中关于[fluid.layers.lstm](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/lstm_cn.html#lstm)的说明有误：

* 输出的维度信息和文档不符：rnn_out：LSTM hidden的输出结果的Tensor，数据类型与input一致，维度为 [seq_len,batch_size,hidden_size]，运行示例代码，得到的是[batch_size, seq_len, hidden_size]
* 代码示例有问题：layt_c.shape 应该为last_c.shape

以下是根据API文档中的示例所写的测试代码
[code]

[2020-02-17 07:40] XingWu01 commented on #22639
感谢指出，这个马上修改。

推荐使用 layers.LSTMCell 和 layers.rnn 配合使用，例子可以参照
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/PaddleTextGEN/seq2seq

[2020-02-17 07:41] 1024er commented on #22639
感谢指出，这个马上修改。

推荐使用 layers.LSTMCell 和 layers.rnn 配合使用，例子可以参照
https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/PaddleTextGEN/seq2seq

[2020-02-17 08:46] Angus07 opened #22644 "实现可输入权重的卷积和反卷积"
现在想实现
Z = conv2d(X, W)
和 X = conv2d_transpose(Z, W)
期望conv2d和conv2d_transpose互为逆操作。X, W，Z均可直接从外部输入。

Z = conv2d(X, W)已经实现如下：
 l_type = 'conv2d'
    helper = LayerHelper(l_type, **locals())
    dtype = helper.input_dtype()
    padding =0
    stride=1
    stride = layers.utils.convert_to_list(stride, 2, 'stride')
    padding = layers.utils.convert_to_list(padding, 2, 'padding')
    pre_bias = helper

[2020-02-17 09:10] lvrui-code opened #22645 "conda安装错误"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译

[2020-02-17 10:14] Akeepers opened #22647 "如何用paddle实现类似tensorflow map_fn()的功能"
在用paddle复现一篇论文（提供了TensorFlow代码）的过程中，遇到TensorFlow的API map_fn，无法在paddle中找到类似功能的API。

* [map_fn](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/map_fn)

需复现的tf代码：
[code]
其中x_time是一个3-D tensor, shape为[seq_len, batch_size, hidden_size], _Wm是一个2-D 需学习的参数矩阵。

已知解决方案：利用paddle的动态图机制，这样可以把x_time转化为numpy格式

不清楚的地方在于如何实现，可以使得_Wm仍然是一个可学习的参数矩阵，每次反向的时候会更新？方便的话，可以提供代码demo吗？

如下的paddle代码是否可行：
[code]

[2020-02-17 11:49] GaoWei8 commented on #22647
相当于实现了memory_layer = tf.map_fn(lambda t:tf.matmul(t, self._Wm), x_time)这个OP，只有正向实现，没有反向实现。不能自动更新参数矩阵。建议暂时使用多个OP组合的方式，看是否能实现相似的功能。

[2020-02-17 11:58] LDOUBLEV commented on #22644
@Angus07
我这里实现了一个简单的版本，可以参考下，在最新的Paddle下可以跑出结果。
![image](https://user-images.githubusercontent.com/26592129/74651906-d86f5600-51bf-11ea-90ed-1fe09686d67a.png)

[code]

[2020-02-17 12:58] UniqueAndys opened #22648 "运行paddle时报错，请教原因"
运行时报错信息如下：
Traceback (most recent call last):
File "run_classifier.py", line 287, in <module>
main(args)
File "run_classifier.py", line 187, in main
main_program=train_program)
File "/home/slurm/job/tmp/job-168618/ERNIE/python/lib/python2.7/site-packages/paddle/fluid/parallel_executor.py", line 122, in __init__
self._compiled_program._compile(place=self._place, scope=self._scope)
File "/home/slurm

[2020-02-17 16:34] mengyiliu22 opened #22651 "分布式训练保存的模型，单机预测报错"
   1）PaddlePaddle版本：fluid 1.6.1 paddlecloud cpu多机训练，1.6.2单机预测
     同样的代码1.19号时候单机预测成功过，目前预测报错信息如下：
![image](https://user-images.githubusercontent.com/15141419/74671550-5d6d6600-51e6-11ea-852f-b9a5ff54ec09.png)

[2020-02-18 02:27] luotao1 commented on #22636
@bingyanghuang Could you help see it? XBYAK is a JIT assembler.

[2020-02-18 02:33] GaoWei8 commented on #22645
可以更新具体的平台，系统等信息。

[2020-02-18 02:35] GaoWei8 commented on #22648
请先确认是否是孔明集群的环境问题。

[2020-02-18 06:05] #22648 closed, assigned to nobody

[2020-02-18 07:29] Weigaa opened #22658 "SRCNN超分辨率重建效果极差"
项目参考两个论文的复现：
https://aistudio.baidu.com/aistudio/projectdetail/26965
https://aistudio.baidu.com/aistudio/projectdetail/134147
第一个链接项目项目结果很好但因为框架过老无法fork，只能fork第二个链接，两个复现同一篇论文，但测试结果相差很多，只是分别用了python3和python2实现，但结果差很多的原因是什么？

- 版本、环境信息：
Python版本
Python 3.7
框架版本
PaddlePaddle 1.5.1
硬件信息
当前环境
CPU
8
RAM
32GB
GPU
v100
显存
16GB
磁盘
100GB
- 模型信息
    1）项目算法SRCNN
    2）项目链接：https://aistudio.baidu.com/aistudio/

[2020-02-18 07:32] 18106574249 opened #22659 "调试问题"
![Snipaste_2020-02-18_15-16-54](https://user-images.githubusercontent.com/43194667/74713453-9697eb80-5263-11ea-958d-aa98607b37f4.png)

你好 我想了解一下 ERNIE 里面具体的 py reader 的异步处理机制,想一步一步调试看看
但是 在具体调试的时候却无法进入 IO 模块 代码细节 无法在具体的代码行中停留
请问这是什么原因 windows 系统 pycharm IDE

paddlepaddle 1.5版本
cpu  inter core I7-9700
系统  windows10 专业版
单机

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient M

[2020-02-18 08:17] tangbozhang commented on #22572
已解决，谢谢@chenwhql

[2020-02-18 08:17] #22572 closed, assigned to nobody

[2020-02-18 09:41] grygielski commented on #22636
This error happens because in init.cc (lines 193-197) there is a check if AVX is supported:
[code]
And `platform::MayIUse()` function has 2 implementations depending on PADDLE_WITH_XBYAK flag (cpu_info.cc lines 106-145):
[code]
Xbyak is used here to determine if CPU has specific instruction set (AVX, AVX2, AVX512F ...). Implementation **without** XBYAK is as follows:
[code]
So it returns false eve

[2020-02-18 09:49] GaoWei8 commented on #22648
确认是孔明集群的环境问题，问题已关闭。

[2020-02-18 10:35] lidanqing-vv commented on #22179
Done.

[2020-02-18 10:35] #22179 closed, assigned to luotao1

[2020-02-18 10:58] yiicy commented on #22659
你好，pyreader的部分代码使用c++实现的，无法在python代码中看到具体实现，源码可以参考https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/fluid/operators/reader  这里的实现

[2020-02-18 11:20] sneaxiy commented on #22659
您好，py_reader底层是通过多线程方式往一个C++的数据队列里异步地送入数据，然后C++有个异步的线程读取队列中的数据。C++部分代码是没办法看到的。

[2020-02-18 12:55] 18106574249 opened #22664 "通过pip安装之后目录跟你们在git上公布的目录和文件不一致这是什么原理 都是1.6版本"
通过pip安装之后目录跟你们在git上公布的目录和文件不一致这是什么原理 都是1.6版本
![微信图片_20200218205521](https://user-images.githubusercontent.com/43194667/74738024-05d80480-5291-11ea-8bee-2b28ead1ff79.png)

[2020-02-18 13:03] GaoWei8 commented on #22647
这个例子可以通过while op来搭建。map_fn的功能会后续经过api需求审核和排期解决。

[2020-02-18 13:05] 18106574249 commented on #22659
如果我想对C++代码进行 调试 有什么办法吗

[2020-02-18 14:25] luotao1 commented on #22636
@grygielski We think that all the following 4 scenarios should work successfully.

- `WITH_XBYAK=ON, WITH_AVX=ON`
- `WITH_XBYAK=OFF, WITH_AVX=ON`
- `WITH_XBYAK=ON, WITH_AVX=OFF`: Does this exist? I.e `WITH_XBYAK=ON` must depend on  `WITH_AVX=ON`?
- `WITH_XBYAK=OFF, WITH_AVX=OFF`

[2020-02-18 15:25] grygielski commented on #22636
@luotao1 Main problem here is that without XBYAK we can't check if avx instructions are available during runtime. Many algorithm implementations rely on `MayIUse()` function which returns always `false` if program has been built without XBYAK. This will lead to not executing AVX versions of many algorithms. I still don't know what is the expected outcome of such configuration (`WITH_XBYAK=OFF, WIT

[2020-02-18 16:06] OleNet opened #22666 "【有复现问题的代码片段】为什么经过了softmax_with_cross_entropy之后，针对loss能取梯度，但是针对logits无法取梯度呢？"
[code]

[2020-02-18 16:06] OleNet commented on #22666
输出：
[code]

[2020-02-18 16:07] OleNet commented on #22666
为什么 ```print(fluid.backward.append_backward(logits, parameter_list=[data])``` 得到的是空列表呢？

[2020-02-18 16:16] OleNet commented on #22666
[code]
这样就行

[2020-02-19 00:39] xlwan1132 commented on #22614
@phlrain 找到原因了吗？

[2020-02-19 01:35] Akeepers commented on #22647
方便给个例子吗

[2020-02-19 01:46] gfwm2013 commented on #21891
已由 [PR#22231](https://github.com/PaddlePaddle/Paddle/pull/22231)修复

[2020-02-19 02:22] sneaxiy commented on #22659
@18106574249 您要调试C++代码的话，可能需要您源码编译，然后用gdb等工具debug。

[2020-02-19 03:21] sparrowhole opened #22674 "麻烦为fluid.layers.assign添加对 float16的支持"
标题：

麻烦为fluid.layers.assign支持 float16

版本、环境信息：
   1）PaddlePaddle版本：1.6.1
   2）CPU/GPU：CUDA 10.1, cuDNN 7.0
   3）系统环境：CentOS 7.7
   4）Python版本号: 3.7.4
   5）显存信息: 32G

复现信息：

[code]

问题描述：

TypeError: When the type of 'input' in assign is Variable, the data type of 'input' must be float32, float64, int32, int64 or bool, but received float16.

[2020-02-19 06:03] luotao1 commented on #22636
Got it. I think it is reasonable.

[2020-02-19 06:42] luotao1 commented on #22636
XBYAK is a JIT assembler for x86(IA-32)/x64(AMD64, x86-64) MMX/SSE/SSE2/SSE3/SSSE3/SSE4/FPU/AVX/AVX2/AVX-512 by C++ header, thus, it supports NO_AVX as well.

But  (either ON-ON or OFF-OFF) may be a temporary solution.

[2020-02-19 07:43] 18106574249 opened #22680 "蒸馏的问题"
您好,请问一下  如果我用paddle训练了一个模型，可否自己做蒸馏,你们蒸馏的源码是开源的吗？
是完全可以自己做蒸馏的把，没有什么限制把

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
- 模型信息
    1）模型名称 2）使用数据集名称 3）使用算法名称 4）模型链接
- 复现信息：如为报错，请给出复现环境

[2020-02-19 07:52] yiicy commented on #22664
你好，你看的是paddle的源代码目录，这个和安装后的目录结构确实是不一样的，如果想验证安装成功与否请参考https://www.paddlepaddle.org.cn/install/doc/windows 验证安装小节

[2020-02-19 08:14] yiicy commented on #22658
你好，由于Paddle 版本升级了1.6，部分Ai Studio中的代码升级后正确性还未进行完全测试，对您造成困扰深表遗憾，我们目前正在排查这个问题，如果您有兴趣也可以使用此项目对比下1.6版本的Paddle和老版本Paddle接口使用的一些区别，也有助于您使用Paddle更得心应手

[2020-02-19 08:34] 1224wxwx opened #22681 "【编译错误】ubuntu16.04 编译 paddle/fluid/platform/CMakeFiles/device_tracer.dir/device_tracer.cc.o 出错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.2
    2）CPU：
    3）GPU：Tesla K80, CUDA 10.0, CUDNN 7.6.0
    4）系统环境：ubuntu 16.04、conda虚拟环境python3.7、gcc5.4、Cmake 3.5.1、TensorRT 7

- 安装方式信息：
   本地编译：

        sudo cmake ../ -DFLUID_INFERENCE_INSTALL_DIR=/usr/local/fluid_inference_install_dir/ -DPY_VERSION=3.7 -DCMAKE_BUILD_TYPE=Release -DWITH_PYTHON=OF F -DWITH_MKL=OFF -DWITH_GPU=ON -DON_INFER=ON -DCUDA_ARCH_NA

[2020-02-19 09:26] yiicy commented on #22664
pip安装目录请参考https://github.com/PaddlePaddle/Paddle/tree/develop/python/paddle

[2020-02-19 09:45] wanghaoshuang commented on #22680
可以自己做，没有限制。
我们做的一些实验结论，您可以参考下：https://paddlepaddle.github.io/PaddleSlim/model_zoo
使用PaddleSlim做蒸馏的一个教程：https://paddlepaddle.github.io/PaddleSlim/quick_start/distillation_tutorial.html
使用PaddleSlim+PaddleDetection做蒸馏的一个示例：https://github.com/PaddlePaddle/PaddleDetection/tree/master/slim/distillation

[2020-02-19 09:55] gfwm2013 commented on #22681
@1224wxwx 这个应该是CUpti未安装好，你可以使用命令 nvcc -V查看一下CUDA版本是否正确，CUpti安装是否正确。

[2020-02-19 10:00] 1224wxwx commented on #22681
@gfwm2013 您好，感谢回复；想请问下您说的是nvcc -V这个命令吗？我用命令得到的结果如下，麻烦帮看看有没有问题？

[2020-02-19 10:36] lidanqing-vv commented on #22561
@gfwm2013  Can you please take a look at conv_mkldnn_op.cc? Because there is also ShareDataWith in that op. Should we also remove ShareDataWith in conv_mkldnn_op.cc ?

[2020-02-19 11:19] mtchen2016 opened #22684 "MPI集群大数据训练时failed"
本地小数据集进行调试，一切正常；
MPI集群小数据进行调试，一切正常；
扩大数据集进行训练：出现如下问题，每次可复线：
任务链接：http://yq01-hpc-lvliang-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20200219164222-2520
<img width="879" alt="1222f74e9194d1e13f0ec8b5afffd873" src="https://user-images.githubusercontent.com/59867928/74829691-945d8c00-534c-11ea-8050-c80dfa4ce0f6.png">

[2020-02-19 11:35] sparrowhole commented on #17914
请问现在这个API开发进度如何呢，我也遇到此需求了！

[2020-02-19 13:29] Sand3r- commented on #18729
Acqurie API for requantize is done in #22223

[2020-02-19 13:44] gfwm2013 commented on #22684
@xjqbest 麻烦帮忙看一下

[2020-02-19 16:45] OleNet opened #22687 "fluid.layers.gaussian_random(shape=shape)出错：ValueError: vector::reserve"
运行如下代码的时候，程序会报错：
[code]

[code]

[2020-02-20 00:36] lidanqing-vv commented on #21660
Hi, @OliverLPH @luotao1

We use local avx2 machine: `Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz`, but still **CAN NOT** reproduce the error on avx2 machine. ( Our linux system is `CentOS-7`).

It may because Baidu are using `CentOS-6`, which uses kernel: `Linux 2.6` , and our avx2 machine use kernel: `Linux 3.10.0-957.el7.x86_64`.  (Get kernel info by command `hostnamectl`).

Now we do not have avx

[2020-02-20 01:55] OleNet commented on #22687
[code]

[2020-02-20 03:27] gfwm2013 commented on #22561
@lidanqing-intel  Please remove ShareDataWith in conv_mkldnn_op.cc.

[2020-02-20 04:42] #22647 closed, assigned to nobody

[2020-02-20 05:15] 1224wxwx opened #22689 "【编译错误】ubuntu16.04 编译paddleDetection的C++预测库报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.3.post97
    2）CPU：
    3）GPU：K80、CUDA9.0、CUDNN7.1.4
    4）系统环境：ubuntu16.04，python3.7和python2.7，gcc4.8.5，cmake 3.5.1

- 安装方式信息：
1）pip安装：python3 -m pip install paddlepaddle-gpu==1.6.3.post97 -i https://mirror.baidu.com/pypi/simple

- 复现信息：如为报错，请给出复现环境、复现步骤
根据 _https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.1/inference/docs/linux_build.md_ 教程里面的方法，

[2020-02-20 05:52] txyugood opened #22690 "如何去除张量中的0元素"
请问在paddle 静态图中，有没有去除一些指定的元素的方法？比如我想去除所有的0，然后生成一个新的张量。
tf 中有boolean_mask可以实现，paddle 中有没有什么办法可以实现？

[2020-02-20 06:10] wulipc opened #22691 "parallel_for failed: invalid resource handle"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.0
    2）CPU：
    3）GPU：k40
    4）系统环境：centos, python 2.7
- 训练信息
    1）单机多卡
    2）显存信息： 12GB

问题描述：
由于特殊需求， 要手动分配送给多卡的数据， 参考以下文档进行实现：
https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/howto/prepare_data/feeding_data.html
报错： parallel_for failed: invalid resource handle
报错详细信息：
`
I0220 13:54:39.286427 13237 parallel_executor.cc:421] The number of C

[2020-02-20 06:21] gfwm2013 commented on #22674
@sparrowhole 好的，我会将你的需求反馈至相关负责人处。

[2020-02-20 06:46] jiweibo commented on #22681
建议更换cuda10.1 cudnn7.5试一下。
cuda10.0官方说明好像有些bug

[2020-02-20 07:35] yellmi opened #22694 "memory_usage_calc.py报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.0
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，cudnn_v7.3， cuda 9.0， GPU v100
    4）系统环境：python 3.5.3
- 训练信息
    1）单机  单卡
    2）显存信息：32G
    3）Operator信息
在ernie v2版的基础上修改了classify模型
Traceback (most recent call last):
  File "./src/run_classifier.py", line 411, in <module>
    main(args)
  File "./src/run_classifier.py", line 135, in

[2020-02-20 09:14] lidanqing-vv commented on #22561
Ok

[2020-02-20 12:02] 1224wxwx commented on #22689
试了一下，在ubuntu16的官方docker中按照上述方法编译后，同样会有这个错误，最后链接的时候缺少文件，怀疑是不是文档里给的cmake opencv的命令参数不正确导致？

[2020-02-20 12:42] 1224wxwx commented on #22689
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.1/inference/docs/linux_build.md 文档里cmake opencv的命令应该是写错了，-DCMAKE_INSTALL_LIBDIR=lib64这个参数会导致把libopencv_imgcodes.a这个文件生成到/root/projects/opencv3/lib64文件夹里，而在make预测库的时候，会去/root/projects/opencv3/lib里找，就会导致找不到报错失败

[2020-02-20 13:05] 1224wxwx opened #22700 "【编译错误】官方docker编译paddleDetection的C++预测库报错"
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle版本v1.6.3，PaddleDetection版本0.1
    2）CPU：
    3）GPU：K80，CUDA 9.0，CUDNN7.6.5
    4）系统环境：官方docker ubuntu16.04，使用其中的python3进行paddleDetection的安装，GCC5.4

- 安装方式信息：
3）docker编译：请提供docker镜像，编译命令   
**docker pull hub.baidubce.com/paddlepaddle/paddle:1.6.3-gpu-cuda9.0-cudnn7**       

- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

进入官方docker，下载cudnn-

[2020-02-20 13:14] NanRUN opened #22701 "win10(笔记本GTX1050TI)下安装好cuda10.0和对应的cudnn后检测时报错，更改显卡休眠后重启还是不行"
"D:\Visual Studio\Python36_64\python.exe" D:/pycharm/Health/learning/1.py
Running Verify Fluid Program ...
2020-02-20 21:14:34,561-WARNING: You are using GPU version Paddle Fluid, But Your CUDA Device is not set properly
 Original Error is

--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
Windows not support stac

[2020-02-20 13:55] slf12 commented on #18755
二分类的话，模型的输出维度应该是[bs, 2]吧

[2020-02-20 13:56] slf12 commented on #18755
如果你的问题得到解决，请及时关闭相关issue。

[2020-02-20 16:03] Akeepers opened #22703 "Error: Paddle internal Check failed."
我按照ERNIE [序列标注](https://github.com/PaddlePaddle/ERNIE/blob/develop/ernie/run_sequence_labeling.py)的例子跑代码，有两处改动

* 把数据集替换为同格式自定义数据集
* 修改了reader 函数

但是程序运行时保错，从错误信息无法看出原因，以下是输出：
[code]

[2020-02-20 16:11] 1224wxwx commented on #22700
发现原因是官方docker的gcc是5.4，而提供的其他库使用4.8编译的，因此出错

[2020-02-20 16:11] #22700 closed, assigned to nobody

[2020-02-21 02:11] #22639 closed, assigned to nobody

[2020-02-21 02:20] #22703 closed, assigned to nobody

[2020-02-21 02:54] CheungBH opened #22704 "PaddleSilm安装失败"
您好，我按照
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.3/beginners_guide/install/install_Ubuntu.html
的方法进行PaddleSilm的安装，发现会有ImportError。我的paddlepaddle版本是1.6.3

报错信息如下
root@hkuit164-GX501VIK:/opt/PaddleSlim# python setup.py install
Traceback (most recent call last):
  File "setup.py", line 23, in <module>
    from paddleslim.version import slim_version
  File "/opt/PaddleSlim/paddleslim/__i

[2020-02-21 03:30] gfwm2013 commented on #22687
@OleNet layers.shape返回是个Variable(Tensor)，但是layers.gaussian_random中shape要求是tuple或list，所以你这样直接使用会报错。
<img width="475" alt="a3596788d0611f52a8fb9673edc6c8d4" src="https://user-images.githubusercontent.com/52460041/75001954-db0ecb80-549d-11ea-9079-644dca40687f.png">
<img width="436" alt="9be0f6a11ab8bd5a1edfabd61be0d1b7" src="https://user-images.githubusercontent.com/52460041/75001966-e235d980-549d-11

[2020-02-21 04:02] wanghaoshuang commented on #22704
您好，PaddleSlim develop和PaddleSlim release1.0.0（未正式发布）分支都依赖paddlepaddle1.7（近日会发布安装包）。

在paddle1.6环境下，您可以执行以下命令安装PaddleSlim_v0.1.0:
[code]

PaddleSlim_v0.1.0去掉了对paddle1.7的依赖，除了离线量化功能，其它功能都可正常使用。

[2020-02-21 04:03] wanghaoshuang commented on #22704
如有使用问题，请提issue到：https://github.com/PaddlePaddle/PaddleSlim/issues

[2020-02-21 04:42] zhwesky2010 commented on #22701
请问CUD版本是多少呢

[2020-02-21 05:18] zhwesky2010 commented on #22701
@NanRUN 请问CUD版本是多少呢

[2020-02-21 06:42] sjtubinlong commented on #22689
@1224wxwx hi, 麻烦检查一下是不是opencv的缺失的这个lib在`opencv/lib64`目录下,   如果是需要修改下cmake里面这个路径。

这块的适配我们会优化一下。

[2020-02-21 06:48] NanRUN commented on #22701
10.0

[2020-02-21 06:49] DannyIsFunny commented on #22694
看报错信息是某个op设置了一个以上的-1维度，但是不支持这种操作。

[2020-02-21 06:49] DannyIsFunny commented on #22694
请问有更全的报错log吗

[2020-02-21 06:54] 1224wxwx commented on #22689
@sjtubinlong 对的，是的，发现在cmake的时候去掉-DCMAKE_INSTALL_LIBDIR=lib64这个就好了

[2020-02-21 06:54] #22689 closed, assigned to sjtubinlong

[2020-02-21 06:55] 1224wxwx commented on #22681
换用cuda9.0版本以后没有问题

[2020-02-21 06:55] #22681 closed, assigned to nobody

[2020-02-21 07:14] zhhsplendid commented on #22691
invalid resource handle 一般是cuda某个资源还没合适初始化便被使用。再结合自动分配数据多卡没有问题，手动分配时有问题，请查看是否有什么没初始化好？

[2020-02-21 07:16] DannyIsFunny commented on #22694
因为`memory_usage_calc.py`这个函数不支持两个维度都是-1，所以报错（可以将这个调用给去除）

[2020-02-21 07:48] zhwesky2010 commented on #22701
@NanRUN 麻烦在cmd命令行里run 一下，nvidia-smi看一下。驱动版本多少，安装好了吗

[2020-02-21 07:48] zhwesky2010 commented on #22701
@NanRUN 然后跑一下 import paddle.fluid as fluid  fluid.install_check.run_check() 看一下结果

[2020-02-21 08:07] DannyIsFunny commented on #22690
你好，经查找暂时没有该接口，Python接口中可以用np.array(tensor) 方法将tensor转化为numpy array，修改numpy array的值，再重新赋值给tensor。详情参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Tensor_cn.html#tensor

[2020-02-21 08:15] txyugood commented on #22690
@DannyIsFunny 感谢回复，但是这样在静态图训练过程是不可以的吧。因为  python 的numpy 的操作不会记入图中，只有构建计算图的时候会执行一次。

[2020-02-21 08:32] NanRUN commented on #22701
NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running. This can also be happening if non-NVIDIA GPU is running as primary display, and NVIDIA GPU is in WDDM mode.报错

[2020-02-21 09:00] NanRUN commented on #22701
这是我的显卡的错误：Windows 无法验证此设备所需的驱动程序的数字签名。某软件或硬件最近有所更改，可能安装了签名错误或损毁的文件，或者安装的文件可能是来路不明的恶意软件。 (代码 52)

[2020-02-21 09:01] NanRUN commented on #22701
@zhouwei25

[2020-02-21 09:27] jczaja opened #22712 "[DNNL] Doc on Int8 architecture"
It would be beneficial to write a design document on INT8 DNNL implementation and put it into
FluidDoc next to other Design documents:
https://github.com/PaddlePaddle/FluidDoc/tree/develop/doc/fluid/design/mkldnn

[2020-02-21 10:11] 1224wxwx opened #22715 "【编译错误】官方docker镜像编译paddle带tensorRT失败"
- 版本、环境信息：
    1）PaddlePaddle版本：v1.6.3
    2）CPU：
    3）GPU：K80, CUDA9.0 CUDNN7.6.5
    4）系统环境：nvidia-docker2 安装的官方docker镜像paddle:1.6.3-gpu-cuda9.0-cudnn7，**gcc改为4.8**，ubuntu16.04，tensorRT5.1

- 安装方式信息：
3）docker编译：请提供docker镜像，编译命令           
  官方docker镜像paddle:1.6.3-gpu-cuda9.0-cudnn7

- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

  1. 进入docker交互后，安装gcc4.8与g++4.8并建立软链接
  2. 根据https

[2020-02-21 11:28] jiweibo commented on #22715
请尝试再使用该docker镜像原有gcc编译

[2020-02-21 11:29] #22704 closed, assigned to wanghaoshuang

[2020-02-21 11:31] zhwesky2010 commented on #22701
@NanRUN 1.你这个显卡的驱动没有安装正确，建议通过 GeForce Experience 来自动下载驱动安装。手动可能版本出错http://cn.download.nvidia.com/GFE/GFEClient/3.20.2.34/GeForce_Experience_v3.20.2.34.exe 2. 显卡硬件没有装好。极大可能是第一个的问题

[2020-02-21 13:43] 1224wxwx commented on #22715
@jiweibo 谢谢回复！

我调整回使用该docker镜像原有gcc5.4 编译，依然报错如下，似乎是一样的：

[2020-02-21 15:24] ydchen9 opened #22723 "从优化算法角度看，像layers.elementwise_max, layers.clip这些不可导的op是如何被计算导数，并参与梯度优化过程的？"
比如下面这些代码，来自如下链接代码中的182行：https://github.com/PaddlePaddle/PARL/blob/develop/parl/algorithms/fluid/ppo.py

            pg_ratio = layers.exp(logprob - old_logprob)
            clipped_pg_ratio = layers.clip(pg_ratio, 1 - self.epsilon,
                                           1 + self.epsilon)
            surrogate_loss = layers.elementwise_min(
                advantages * pg_ratio, advantages * cl

[2020-02-21 16:57] 1224wxwx commented on #22715
最后发现是 https://github.com/PaddlePaddle/Paddle/issues/8931#issuecomment-373266724 这里提到的问题，这个文件居然不是软链接，但是我并没有改动过代码，非常奇怪，后面还有一个文件也是这样的问题，在删除并手动建立软链接后成功编译。

[2020-02-21 16:57] #22715 closed, assigned to nobody

[2020-02-22 02:26] jiweibo commented on #22723
可以参考这些op的反向实现。
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/elementwise/elementwise_max_op.h
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/clip_op.h

[2020-02-22 02:36] ydchen9 commented on #22723
谢谢！
&nbsp;

祝您阖家幸福，工作顺利！
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

[2020-02-22 04:31] txyugood opened #22724 "Error: Cannot find fetch variable in scope, fetch_var_name is crop_tensor_0.tmp_0"
代码如下：
[code]
log 如下：
[code]
在循环中使用 fluid.layers.crop_tensor报错，大概是说作用域的问题，但是文档里没有看到 While 作用域相关内容，请问这个需要如何解决？

[2020-02-22 05:21] 1224wxwx commented on #22119
@guoshengCS 请问现在支持用tensorRT6或更高的版本，来支持变长输入了吗

[2020-02-22 05:33] liym27 commented on #22724
出现该问题，是因为，`fetch_list=[crop]`中的`crop`是在while循环体中被赋值的，但是在while外部该变量不可见。这一点与python的情况有差异。

解决该问题需：
step1. 在while外定义一个变量`crop`；
step2. 在while内通过`fluid.layers.assign()`接口修改`crop`的值。
[code]

[2020-02-22 05:36] txyugood commented on #22724
非常感谢，问题已解决。

[2020-02-22 05:36] #22724 closed, assigned to liym27

[2020-02-22 06:53] #22723 closed, assigned to nobody

[2020-02-22 10:26] lixuan1 opened #22727 "如何能拿到fluid. ParamAttr参数，在训练过程中跟另外一个矩阵进行运算，比如layers.matmul()矩阵乘运算"
关于fluid. ParamAttr的参数，如果想拿到该参数在训练过程中进行layers.matmul()运算，总之就是进行运算，有方法可以转成variable类型吗？
<img width="522" alt="屏幕快照 2020-02-22 下午6 18 32" src="https://user-images.githubusercontent.com/9459980/75090712-a899c700-55a0-11ea-8296-ace1eb198534.png">
比如图中这样，我想要拿到这个嵌入的矩阵。因为想要拿到这个嵌入矩阵，去跟一个大数据得来的数据矩阵相乘，相当于又加了个权重分布。请问可以如何处理呢？

[2020-02-22 14:09] liym27 commented on #22727
您好，可以通过param_t = fluid.global_scope().find_var(param_name)获取参数`param_attr`的Variable类型的变量。

[2020-02-22 14:19] lixuan1 commented on #22727
你好，我之前试过该方法，得到的是空值，因为是在模型attention机制定义部分用到，是在训练过程中要用到，还未运行到run部分，所以是空的

---原始邮件---
发件人: "liym27"<notifications@github.com&gt;
发送时间: 2020年2月22日 22:09:46
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "李萱"<463803586@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 如何能拿到fluid. ParamAttr参数，在训练过程中跟另外一个矩阵进行运算，比如layers.matmul()矩阵乘运算 (#22727)

您好，可以通过param_t

[2020-02-23 04:02] liym27 commented on #22727
不好意思，上述方法需要在run之后才能获取到值。
建议您尝试以下方法：
[code]

[2020-02-23 08:48] baiyfbupt opened #22730 "如何用Python 预测 API进行多卡预测？"
预测引擎的配置选项`config.enable_use_gpu(100, 0)`一次只能选择一张GPU卡进行预测，有其他方法配置进行多卡预测吗？
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/advanced_usage/deploy/inference/python_infer_cn.html#paddlepredictor

[2020-02-23 10:32] githubtianya opened #22731 "slim.quant.quant_aware TypeError: __init__() got an unexpected keyword argument 'quantizable_op_type'"
paddlepaddle:1.6.3
paddleslim:0.1.0
cpu
windows
when i do training quantization using official sample code, the error occured.
error:
Traceback (most recent call last):
  File "D:/project/paddleslim/mninst_train.py", line 43, in <module>
    quant_program = slim.quant.quant_aware(train_program, exe.place, for_test=False)
  File "D:\install\python3.7\lib\site-packages\paddleslim\quant\quanter.py",

[2020-02-23 13:49] #21047 closed, assigned to nobody

[2020-02-23 14:40] sidneyz139 opened #22732 "安装成功，运行失败 LENOVO T530, NVIDA NVS5400M, paddle.fluid ImportError: DLL load failed: 找不到指定的模块。"
安装成功，运行失败
第一次安装paddle时曾经有warning错误，后重复安装时，看到的都是already satisfy，无warning/error.
Python3中 import paddle.fluid，报错“ImportError: DLL load failed: 找不到指定的模块。”具体日志见后。
安装指令
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.3
    2）CPU：Intel i7 3720QM ,
    3）GPU：NVIDIA NVS5400M，Intel HD Graphics 4000;
          CUDA  10.2/10.0 + CUDNN 7.6.5
    4）系统环境：Lenovo T530, WIN10 professional 64BIT 、Python 3.7.6、PIP 20.0.2
- 安装方式

[2020-02-23 14:42] sidneyz139 commented on #16784
怎么下载？

[2020-02-23 14:46] FrostML commented on #22730
一个 `predictor` 只支持一个线程，或是一张卡。
如果需要使用多张卡预测，每张卡需要使用不同的 `predictor`。

[2020-02-24 02:37] zhwesky2010 commented on #22701
@NanRUN 请问一下，问题解决了吗

[2020-02-24 02:39] NanRUN commented on #22701
您好 @zhouwei25 ，之前的问题解决了，现在有新问题，晚点给您发

[2020-02-24 03:35] slf12 commented on #22731
Quantization in PaddleSlim depends on Paddle 1.7, because source code in Paddle related to Quantization has some modifications. We have released Paddle 1.7 https://pypi.org/project/paddlepaddle/1.7.0/#files.

If you want use 1.6.3, source code about quantization : https://github.com/PaddlePaddle/Paddle/blob/v1.6.3/python/paddle/fluid/contrib/slim/quantization/quantization_pass.py#L59.  You can edi

[2020-02-24 04:15] #22730 closed, assigned to FrostML

[2020-02-24 05:30] sidneyz139 commented on #22412
I encounter the same. is there any package which associated with AVX need install?
my environment is LENOVO T530, WIN10 64BIT, Visual Stidio 2019, Python3.7.6, with CUDA 10.0/10.2, cuDNN 7.6.3
Intel i7 3720QM, Intel HD graphics 4000, and NVIIDA NVS 5400M

[2020-02-24 05:32] sidneyz139 commented on #22412
我的机器明明是IntelCPU, 但plateform 显示是AMD64, 这个是问题吗？
![image](https://user-images.githubusercontent.com/53903688/75130564-072e8480-570a-11ea-91a1-75de931b3ae5.png)

[2020-02-24 05:32] zhwesky2010 commented on #22732
@sidneyz139 你好，请问cudnn版本是多少呢？环境变量里的CUDA_PATH路径和你的实际路径对上了吗？

[2020-02-24 05:32] zhwesky2010 commented on #22732
@sidneyz139 麻烦再看一下PATH里的路径有没有cuda相关的？

[2020-02-24 05:40] sidneyz139 commented on #22412
Intel i7 3720QM支持AVX, 不支持AVX2；需要安装什么AVX支持吗？怎么安装？
另外，我机器上有GPU，安装的paddle版本也是paddlepaddle-gpu, 怎么运行 import paddle.fluid时，会报 AVX DLL 无法加载？

![image](https://user-images.githubusercontent.com/53903688/75130798-224dc400-570b-11ea-8d35-5e0efb76b428.png)
![image](https://user-images.githubusercontent.com/53903688/75130825-3bef0b80-570b-11ea-9f65-ea4f127fa4e3.png)

[2020-02-24 05:47] sidneyz139 commented on #22732
cudnn 7.6.5
CUDA_PATH是正确的。我 import paddle 可以成功，但import paddle.fluid失败。

![image](https://user-images.githubusercontent.com/53903688/75131008-fd0d8580-570b-11ea-8132-19cc7ba60e75.png)
![image](https://user-images.githubusercontent.com/53903688/75131055-2e865100-570c-11ea-94e4-ddb32583e468.png)

[2020-02-24 06:00] sidneyz139 commented on #15423
我也是import paddle正常，paddle.fluid失败，avx报错，找不到DLL。
CPU Intel i7 3720QM, 有avx, 没有avx2. 有Intel HD graphics 4000, 和NVIDIA NVS 5400M，CUDA 10.0/10.2, cudnn 7.6.5
我现在安装的paddle已经是1.7.0了，安装了mkl.
上文中提到的绑定是什么意思？
我明明安装的是paddlepaddle-gpu的版本，怎么fluid会去试图调用 AVX?
另外，我把paddlepaddle CPU版和GPU版同时安装了，这个问题还是存在。
上文中提到的NOAVX版本，应该怎么获得和安装？

[2020-02-24 06:06] sidneyz139 commented on #15423
@wopeizl @lluck42 @luotao1
openblas 需要安装什么吗？

[2020-02-24 06:43] zhwesky2010 commented on #22732
@sidneyz139  cudnn都拷贝到了 D:\Program Files\NvidiaGPUToolkit\CUDA\V10.0里了吗，电脑一共装了几个python呢

[2020-02-24 06:54] ceci3 commented on #22510
由于在cuda10环境下paddle中1.6.2之后版本提供的whl包是 cudnn7.6的，用户机器环境是cudnn7.3，导致报错，升级cudnn环境为7.6可以解决

[2020-02-24 06:59] #22510 closed, assigned to ceci3

[2020-02-24 08:19] sidneyz139 commented on #22732
电脑上只有2个，PYTHON 3.7.6是我装的，以前机器上就有；微软那个是安装visural studio 2019自带安装的。 我通常启动是用 python3 理论上是在Python的那个，微软那个不知怎么用，没用过。
cudnn已经都拷贝好了，因为机器上有2个版本的CUDA, 先安装了10.2，不能用，后来又安装了10.0.
对应的目录下，都已经拷贝好了正确版本的cudnn。
多个Python有什么隐患吗？
![image](https://user-images.githubusercontent.com/53903688/75136768-a2caef80-5720-11ea-8928-db6b9986780d.png)
![image](https://user-images.githubusercontent.com/53903688/75137026-68ae1d80-57

[2020-02-24 08:29] AoZhang opened #22740 "模型预测设置 disable_gpu 不生效"
- 环境
   1）PaddlePaddle版本：gpu版，1.6.1/1.6.2
   2）CPU：Intel(R) Xeon(R) CPU E5-2620 v2
   3）GPU：NVIDIA K40m
   4）系统环境：CentOS 6.3 ，Python版本 3.6.5

- 问题描述
预测阶段，config设置了 disable_gpu() 和 enable_mkldnn()，但是 `create_paddle_predictor` 时依然使用了 GPU。如果测试对应的 GPU 卡正在被占用且显存不足，则会报如下的错误：

[code]

- 复现代码
操作系统环境变量中 CUDA_VISIBLE_DEVICES=0，且正在被使用

[code]

模型：
[lstm.tar.gz](https://github.com/PaddlePaddle/Paddle/files/42

[2020-02-24 08:39] Angus07 opened #22742 "fluid.io.save_inference_model 报错"
保存模型时报错
Traceback (most recent call last):
  File "./httpserver.py", line 203, in <module>
    main_test()
  File "./httpserver.py", line 145, in main_test
    target_vars=[seg_ids, seg_scores, data_ids], executor=exe)
  File "/run/chenliangyu/title_http/output/python/lib/python2.7/site-packages/paddle/fluid/io.py", line 1187, in save_inference_model
    prepend_feed_ops(main_program, feeded_var_n

[2020-02-24 09:02] DDDivano commented on #22732
显卡驱动版本？

[2020-02-24 09:11] zhwesky2010 commented on #22732
@sidneyz139  建议用一个全新的python环境试下，可能是之前这个python装过某版本的python库，但是和paddle不符合，因为already satisfy表明其实没有新装。
装完之后，记得看PATH里的环境变量，需要改一下

[2020-02-24 09:22] #22731 closed, assigned to slf12

[2020-02-24 09:50] Shixiaowei02 commented on #22742
您好，可能有两个原因导致此问题：
1、变量不存在于 Block 0；
2、变量不在预测模型保存时提供输入输出节点的连通计算图中，在保存模型时被裁剪。

[2020-02-24 09:56] Angus07 commented on #22742
1.怎么确定是由哪个问题导致的？
2.如果不存在于 Block 0, 如何让变量存在于 Block 0?
3.如果变量不在连通计算图中，如何让变量加入到连通计算图中？

[2020-02-24 10:01] liym27 commented on #22724
您好，`fluid.layers.While`接口不建议您继续使用，可以使用新的接口[while_loop](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api_cn/layers_cn/while_loop_cn.html#while-loop)。新接口易用性更强，使用门槛更低。
新接口 可以在Paddle1.7中使用，Paddle1.7版本将在本月发布。

使用新接口后的代码
[code]
更详细使用方法请查看相关文档[while_loop](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api_cn/layers_cn/while_loop_cn.html#while-loop)

[2020-02-24 10:19] sidneyz139 commented on #22732
@DDDivano NVIDIA NVS 5400M,  驱动版本 392.58
![image](https://user-images.githubusercontent.com/53903688/75144541-188b8700-5732-11ea-9bc9-0071b0305b73.png)

[2020-02-24 10:35] Shixiaowei02 commented on #22742
可以将 program 打印出来哈，这是一个 protobuf 形式的数据结构。

我怀疑问题是你保存模型时，并没有将网络所有的输入输出节点加入到 save_inference_model 的参数中，你可以试着将所有叶子变量放到参数列表中，保存完整的计算图，再看下问题是否消失。

我们后续会修改报错消息，的确这个报错不太明确。谢谢。

[2020-02-24 11:11] sidneyz139 commented on #22732
@zhouwei25
where python 显示只有2个python, 我卸载了之前最早的那个，保留了微软vs2019刚刚安装的那个。
现在用where python, 只显示微软的那个目录，如图。
但当我运行起来python 后，竟然是另外一个没显示的目录里的python在运行。
问题是，这个没有出现在 where python的版本，应该如何卸载？ 直接删除目录吗？
![image](https://user-images.githubusercontent.com/53903688/75147775-12e56f80-5739-11ea-8ec3-a74635a0d856.png)
![image](https://user-images.githubusercontent.com/53903688/75147887-50e29380-5739-11ea-961f-bfa54ec

[2020-02-24 11:16] zhwesky2010 commented on #22732
你可以新装一个python，比如装到 c:\Python36里，那就set PATH=c:\Python36;c:\Python36\scripts;%PATH%，这个PATH是根据顺序来的，把它排前面来就会生效

[2020-02-24 11:21] #22358 closed, assigned to gavin1332

[2020-02-24 11:44] hong19860320 commented on #22740
运行前 export CUDA_VISIBLE_DEVICES='' 试试

[2020-02-24 12:10] AoZhang commented on #22740
不设置 CUDA_VISIBLE_DEVICES 是正常的，但是不想在训练、测试间来回修改环境变量。

[2020-02-24 12:16] sidneyz139 commented on #22732
重新安装一个在d:，PATH也修改好了。直接在CMD里运行时，启动的的确是新安装的，新安装的里面也带PIP。
但一旦运行 python3 -m ensurepip，python3 -m pip --version， 就又切换回原来的Python了。
在莫名其妙的目录里 C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.7_3.7.1776.0_x64__qbz5n2kfra8p0
这个目录，根本没有出现在 where python 中，也在安装程序中找不到， PATH中也没有。
这个所谓的foundation下面的python是怎么运行起来的？如何卸载？

![image](https://user-images.githubusercontent.com/53903688/75151427-a327b280-57

[2020-02-24 12:22] sidneyz139 commented on #22732
要么的是，这个目录的上级目录，无法进入，不让删除这个目录。

[2020-02-24 12:25] hong19860320 commented on #22740
不是特别明白你的需求，如果不想用GPU，可以使用cpu版的paddlepaddle哦

[2020-02-24 12:58] zhwesky2010 commented on #22732
因为你的C:/Python37中没有python3.exe，所以python3.exe可能在其他地方。你可以where python3看看。现在你只要使用python（无需python3），默认就是调用C:/Python37/Python.exe，如果是一个纯净的python环境，装paddle试一下。检查下where pip 应该C:/Python37/scripts

[2020-02-24 13:55] sidneyz139 commented on #22732
找到那个莫名其妙目录的来源了，是win10的store的东西，在安装VS2019 python环境是装上的，从store里卸载掉，一切就正常了。
感谢大家的帮助，尤其是 @zhouwei25 提供的检查思路。

[2020-02-24 13:55] #22732 closed, assigned to zhwesky2010

[2020-02-24 13:56] sidneyz139 commented on #15423
已经解决了，重新安装了一个干净的Python3.7.

[2020-02-24 14:13] sidneyz139 opened #22749 "fluid W0224 Compiled with WITH_GPU, but no GPU found in runtime."
C:\Users\SidneyZ>python
Python 3.7.6 (tags/v3.7.6:43364a7ae0, Dec 19 2019, 00:42:30) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

- 标题：
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.0
    2）CPU：Intel i7 3720QM
                     MKL/OpenBlas/MKLDNN/等数学库的使用情况  不知道该怎么检查
    3）GPU：有2个图像卡 Intel HD graphics 4000, NVIDIA NVS 5400M
          CUDA 10

[2020-02-25 01:37] AoZhang commented on #22740
训练用 GPU，预测用 CPU，所以安装了 gpu 版本的 paddle，且设置了 CUDA_VISIBLE_DEVICES 变量。结果预测的时候 config.disable_gpu() 不生效。

[2020-02-25 01:58] txyugood opened #22750 "如何生成随机整数"
遇到一个问题， 在训练过程中，有每次迭代需要生成随机整数的需求，类似 matlab 中 randperm 这种。看了文档和 github 好像没有这种接口，请问有什么办法可以实现吗？

[2020-02-25 02:00] txyugood commented on #22724
好的，非常感谢。

[2020-02-25 02:40] zhwesky2010 commented on #22701
@NanRUN 请问还有问题吗

[2020-02-25 02:45] NanRUN commented on #22701
2020-02-25 10:43:31,239-INFO: Decompressing C:\Users\Dell/.cache/paddle/weights\yolov3_mobilenet_v1.tar...
Traceback (most recent call last):
  File "tools/train.py", line 338, in <module>
    main()
  File "tools/train.py", line 205, in main
    exe, train_prog, cfg.pretrain_weights, ignore_params=ignore_params)
  File "D:\pycharm\Health\learning\PaddleDetection\ppdet\utils\checkpoint.py", line 9

[2020-02-25 02:46] NanRUN commented on #22701
2020-02-25 10:43:31,239-INFO: Decompressing C:\Users\Dell/.cache/paddle/weights\yolov3_mobilenet_v1.tar...
Traceback (most recent call last):
  File "tools/train.py", line 338, in <module>
    main()
  File "tools/train.py", line 205, in main
    exe, train_prog, cfg.pretrain_weights, ignore_params=ignore_params)
  File "D:\pycharm\Health\learning\PaddleDetection\ppdet\utils\checkpoint.py", line 9

[2020-02-25 02:46] NanRUN commented on #22701
这个好像是文件路径有问题，可是不知道从哪改

[2020-02-25 04:16] zhwesky2010 commented on #22749
@sidneyz139  hi，请问是遇到新问题了吗 看昨天的import paddle的DLL load failed的问题解决了。执行下 nvidia-smi 看看

[2020-02-25 04:33] sidneyz139 commented on #22749
是的，新问题。昨天的问题解决了。上个问题我已经关闭，非常感谢帮助。
![image](https://user-images.githubusercontent.com/53903688/75215230-001b7b00-57cb-11ea-91f8-6295945f89c4.png)
看不太懂这个输出的含义

[2020-02-25 04:34] zhwesky2010 commented on #22701
@NanRUN 这个路径检测不到 C:\Users\Dell/.cache/paddle/weights\yolov3_mobilenet_v1，你查下有没有这个文件，看下yolov3_mobilenet_v1有没有下载下来

[2020-02-25 04:34] sidneyz139 commented on #22749
C:\Program Files\NVIDIA Corporation\NVSMI>nvidia-smi
Tue Feb 25 12:00:43 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 392.58                 Driver Version: 392.58                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
|

[2020-02-25 04:52] NanRUN commented on #22701
在运行train的时候是有的，运行完后就没了

[2020-02-25 04:58] sidneyz139 commented on #22749
我的机器上安装过CUDA 10.2, 后来感觉dll import有问题时，就补充安装了10.0，2个版本都增补了对应cudnn. 在昨天重装python3.7,解决了 dll 问题后。我调整了path的设置，只保留了 10.0 CUDA的路径。
显卡驱动曾经重新安装过，没看出什么报错；
唯一可能的问题是，我的机器是T530，有2个显卡，Intel HD graphics 4000, Nvidia NVS 5400M.
paddle 是怎么决定用哪个显卡的？

[2020-02-25 05:05] zhwesky2010 commented on #22749
@sidneyz139 可能是因为有多个卡的原因，设置一下环境变量set FLAGS_selected_gpus=0,1 或者 set CUDA_VISIBLE_DEVICES=0,1试试。

[2020-02-25 05:06] zhwesky2010 commented on #22749
@sidneyz139 跑的时候设置一下 set GLOG_v=5，再看一下有没更完整的报错信息内容，目前这个"but no GPU found in runtime."有点简略

[2020-02-25 05:22] zhwesky2010 commented on #22701
@NanRUN  traine的时候不是失败了吗？看下C:\Users\Dell\.cache 有没有什么文件，有没有下载的这个log, 比如Download failed之类的内容

[2020-02-25 05:35] NanRUN commented on #22701
C:\Users\Dell\.cache\paddle这个路径下有一个weights和yolov3_mobilenet_v1两个文件夹，在刚开始运行train下载数据集的时候显示weights下有yolov3_mobilenet_v1.tar_tmp这个文件，但当他报错的时候就不在了

[2020-02-25 06:18] zhwesky2010 commented on #22701
@NanRUN  `shutil.move(tmp_fullname, fullname)`  yolov3_mobilenet_v1.tar_tmp 这个被改名成了yolov3_mobilenet_v1.tar，你看看这个操作成功了没

[2020-02-25 06:21] NanRUN commented on #22701
没有，这个怎么改呀

[2020-02-25 06:25] zhwesky2010 commented on #22701
那个在 PaddleCV/PaddleDetection/ppdet/utils/download.py的第286行，你搜一下就能看到

[2020-02-25 06:26] NanRUN commented on #22701
如果是这个有问题怎么修改？

[2020-02-25 06:32] sidneyz139 commented on #22749
@zhouwei25 增加了SET环境变量，就好了。应该是2个图像卡的问题。
非常感谢。

[2020-02-25 06:43] zhwesky2010 commented on #22701
@NanRUN 你可以试一下把 tmp_fullname、fullname先print出来，然后自己用python shulti.move试一下，看一下为什么没有改名成功

[2020-02-25 06:56] txyugood commented on #22690
最后使用控制流自己实现，关闭issue.

[2020-02-25 06:56] #22690 closed, assigned to nobody

[2020-02-25 07:22] sucuicong opened #22753 "paddle升级到1.6.2后，对话自动评估模型训练报错，paddle1.5下正常训练"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddle1.6.2
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：v100
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/单卡
    2）显存信息
    3）Operator信息

- 复现信息：如为报错，请给出复现环境、复现步骤
A

[2020-02-25 07:25] sucuicong commented on #22753
AI studio公开项目https://aistudio.baidu.com/aistudio/projectdetail/122301

[2020-02-25 08:19] grygielski commented on #22636
https://github.com/PaddlePaddle/Paddle/pull/22716 should fix this issue for every case that was mentioned. If you could, please confirm that on your machines.

[2020-02-25 08:50] sidneyz139 commented on #22749
高兴太早了，还是有问题。

Running Verify Paddle Program ...
2020-02-25 16:47:51,041-WARNING: You are using GPU version Paddle, But Your CUDA Device is not set properly
 Original Error is

--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
Windows not support stack backtrace yet.

----------------------
Error Message Summary:
-

[2020-02-25 09:39] luotao1 commented on #22636
@zhangting2020 will help to confirm it.

[2020-02-25 10:07] zhangting2020 commented on #22636
I test above four cases, this issue have been fixed. But I have another issue #22757, please help to see it.

[2020-02-25 10:12] juncaipeng commented on #22750
目前查看文档没有提供类似的函数，你可以考虑每次迭代的时候，使用feed或者DataLoader传入随机整数。

[2020-02-25 10:17] zhwesky2010 commented on #22749
@sidneyz139  1.你这个显卡的驱动没有安装正确，建议通过 GeForce Experience 来自动下载驱动安装。手动安装驱动可能版本出错http://cn.download.nvidia.com/GFE/GFEClient/3.20.2.34/GeForce_Experience_v3.20.2.34.exe 2. 显卡硬件没有装好。大概率是第一个的问题。另外set CUDA_VISIBLE_DEVICES=0，Windows下仅支持单卡

[2020-02-25 10:26] zhangting2020 opened #22757 "sgd raises an exception Xbyak::Error, offset is too big"
- Compile Paddle from Source Code
[code]
- When the code below is run，there is an exception:
[code]
[code]
- If I compile Paddle with the command below, the code can run successfully
[code]

[2020-02-25 10:37] HongyuLi2018 opened #22758 "模型代码在V100 32G上运行正常，但在V100 16G出core，原因不明，不是OOM"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.2
    2）GPU:Tesla V100, NVRM version:396.37, CUDA Version 9.2.14, cuDNN Version: 7.3.
    3）系统ubuntu 16.04.3
    4）Python版本号: 3.7
    5）显存16160MiB

- 错误描述
模型代码在V100 32G上运行正常，但在V100 16G出core，原因不明，不是OOM，训练和预测可以完成，减小batch_size还是有同样问题
- 错误日志
[code]
- 复现信息：下载链接代码，并运行
sh train.sh --batch_size 16 --train_file data/dureader_robust-basic/basic.train.json --predict_file d

[2020-02-25 12:07] sidneyz139 commented on #22749
问个事情：
1. 如果我的机器上有多个版本的 CUDA，是否可以和平共存？只需要在PATH中，调整顺序来切换希望激活的版本？
2. 与CUDA10、CUDA9，以及与CPU配合的paddle版本可以共存吗？系统是怎么决定哪个paddle版本会运营呢？
3. 如果系统有多个图像卡，如何指定哪个

[2020-02-25 12:20] sidneyz139 commented on #22749
安装了GeForce Experience后，自动安装的版本是版本392.58，检查CUDA10.0和驱动版本感觉不对应，好像只能支持CUDA9，所以试图回退安装9.0。
CUDA 9.0的前置安装时，安装CUDA9.0+ PATCH1/2/3/4, 自己将驱动的版本又下降到385.54.

我如何判断哪个网卡是0，哪个是1？

[2020-02-25 12:23] #18624 closed, assigned to nobody

[2020-02-25 12:35] sidneyz139 commented on #22749
C:\Users\SidneyZ>python
Python 3.7.6 (tags/v3.7.6:43364a7ae0, Dec 19 2019, 00:42:30) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'paddly'

Running Verify Paddle Program ...
W0225 20:29:53.582741 16840 device_context.cc:237] P

[2020-02-25 12:50] sidneyz139 commented on #22749
1。  SET  CUDA_VISIBLE_DEVICES=1 时，

W0225 20:40:02.858937 15284 init.cc:127] Compiled with WITH_GPU, but no GPU found in runtime.

Running Verify Paddle Program ...
2020-02-25 20:40:32,204-WARNING: You are using GPU version Paddle, But Your CUDA Device is not set properly
----------------------
Error Message Summary:
----------------------
Error: cudaGetDeviceCount failed in paddle::platform::GetC

[2020-02-25 12:54] zhwesky2010 commented on #22749
@sidneyz139  1.多个CUDA可以同时安装，调整CUDA_PATH 和PATH中的环境变量即可。2. 不同版本的paddle不能共同使用，Paddle是装到python里去的，只能装一个。你可以用 pip install -U paddlepaddle-gpu==1.6.3.post97 -i https://pypi.tuna.tsinghua.edu.cn/simple ，重新安装CUDA9的paddle，会卸载之前的paddle

[2020-02-25 13:22] HongyuLi2018 commented on #22758
应该是环境问题，不是paddle的问题

[2020-02-25 13:22] #22758 closed, assigned to nobody

[2020-02-25 13:31] txyugood commented on #22750
感谢回复，我需要根据每次迭代的时候某个 Tensor 的值来生成不同数量的随机数。按您说的这种方式的话，是不是就需要先 fetch，然后生成随机数再 feed 了。这样是不是就需要建立多个 program. 重复执行静态图，速度会慢一些吧，程序也会复杂一些？

[2020-02-25 13:44] juncaipeng commented on #22750
哦哦，目前我已知的是这样，明天问下是否有更好的方法。

[2020-02-25 13:46] juncaipeng commented on #22753
我这里先复现一下

[2020-02-25 14:06] sidneyz139 commented on #22749
1. 再次运行GeForce Experience, 将驱动恢复成了本机最高版本392.58
2. 使用你提供的指令，将paddle从1.7.0，重新安装退到了1.6.3，post97 CUDA9.0
安装时，报错
换用了百度的镜像，现象一样；
重新卸载 pip uninstall paddlepaddle-gpu, 再安装，现象一样。
是我下载的文件出问题了？还是我的解压出问题了？

![image](https://user-images.githubusercontent.com/53903688/75252818-611d7000-5818-11ea-8ca5-697e95c4095d.png)

C:\Program Files\NVIDIA Corporation\NVSMI>python -m pip install -U paddlepaddle-gpu==1.6.3.po

[2020-02-25 21:50] lidanqing-vv commented on #22561
PR #22591 merged

[2020-02-25 21:50] #22561 closed, assigned to bingyanghuang

[2020-02-26 03:48] juncaipeng commented on #22753
我们已经找paddle和ai studio的同学一起着手解决这个问题。

[2020-02-26 05:51] zhwesky2010 commented on #22749
@sidneyz139 你这个是pip安装过程中就已经报错了吗 你先卸载掉原来的吧

[2020-02-26 05:55] zhwesky2010 commented on #22749
@sidneyz139 pip uninstall可以成功卸载吗

[2020-02-26 07:34] fseasy opened #22770 "py_func是不是不支持object member function呢？ 如果func需要外部的资源，该怎么做呢？"
- 标题：使用member function 给py_func的func参数，但是报错； 我的func需要访问tensor外的外部资源，该怎么做呢？
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.3
    2）CPU/GPU：CUDA Capability: 70, Driver API Version: 10.1, Runtime API Version: 10.0
    3）系统环境：CentOS 7
    4）Python版本号 3.7.4
    5）显存信息: 32G
- 复现信息：

[code]

- 问题描述：

报错：
[code]

[2020-02-26 07:36] sidneyz139 commented on #22749
我昨晚用 pip uninstall 将大部分第三方安装包卸载，试图安装paddle，没有成功；
刚刚已经将整个python卸载，并重新安装了。
错误现象还是一样的。

C:\Users\SidneyZ>python --version
Python 3.7.6

C:\Users\SidneyZ>pip list
Package    Version
---------- -------
pip        19.2.3
setuptools 41.2.0
WARNING: You are using pip version 19.2.3, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

C

[2020-02-26 07:44] jiweibo commented on #22770
o.forward函数有两个参数，self和t。但是py_func的输入x只有1个

建议不要使用成员函数作为py_func的参数。

[2020-02-26 07:46] sidneyz139 commented on #22749
从上面的日志中，可以看到Python已经重新安装过了，pip list里面几乎是空的；我也手动删除过Python的目录。
pip的cache目录在python37的目录下吗？还是在windows的什么地方？
我机器的SET 是设置之前设置过CUDA_VISIABLEDEVICE的，现在也删除了，现象还是这个样子。
还有一个可能，我机器上还有之前安装vs2019时，一起安装的python, 我通过windows store给卸载掉了；不过从where python中，还能看到那个目录，目录下面已经没有东西了。这个不会再有影响了吧。

[2020-02-26 07:50] fseasy commented on #22770
那如果func需要访问外部变量怎么做呢？ 只能将其设为全局变量吗，或者闭包可以吗？
——————
背景是这样的， 我想在这个func里面做 一个 id -> token 的转换，但是这需要访问vocab，如果不能访问它，就不好弄了

[2020-02-26 07:55] jiweibo commented on #22770
py_func实际上是通过python来加op的方式，本质上还是op，是不依赖外部变量的，只有输入，输出，属性等。比如有了新的激活函数，paddle c++ op还不支持，用户又不想要写c++ op，此时用py_func。

做一个id->token的转换，建议使用其它的方式。我理解的这个用法并不是一个op，自己写函数来处理会比较好

[2020-02-26 08:00] fseasy commented on #22770
额，我刚刚试了返回闭包函数，报错了；那就是说闭包函数是不行的是吧；
——————
这个其实也算是一个OP；
在 生成任务（特别是摘要）中，在解码是有一个 block duplicated trigram的操作，需要算生成的序列是否包含连续重复trigram；而我们的id是 sub-token的id，需要先转为完整的token，再判断；
所以是需要这个操作的哈；
我刚刚想到了一个绕过的办法…… 我再试试吧；

另外，我记得tf的py_function好像支持访问外部变量呢（如果我没记错的话，我看到人家用这个来包装ROUGE计算）？

[2020-02-26 08:22] songyouwei commented on #22770
id -> token 要访问外部的 vocab，那  id 和 vocab 是可以作为一个 dict 参数给过去的吧

[2020-02-26 08:25] fseasy commented on #22770
嗯嗯，但是我看Paddle不支持 np.str 这种类型？
我其实也不需要完整的 id -> token，其实只需要 `知道这个id对应的token是不是完整token` 就行了，我准备构造一个float的Variable传进去，这样应该可以了吧 = =

[2020-02-26 08:32] jiweibo commented on #22770
对的，目前没有支持str。py_func默认接受的参数现在只能是variable（list、tuple等），tf_py_func本质也是接收list tensor的。

[2020-02-26 08:38] fseasy commented on #22770
额，麻烦看看这个是为什么呀，是我写法错了吗，还是不支持...

[code]

[2020-02-26 08:41] jiweibo commented on #22770
应该是解析输入后，得到输入列表或tuple里的元素还是tuple。
tuple(variable0, variable1)，找到需要的varibale，加下索引应该就可以

[2020-02-26 08:51] fseasy commented on #22770
= =，的确是输入问题，不过应该是已知BUG：
[code]
暂时框架跑起来了，我再写下内容……
感谢

[2020-02-26 08:58] jiweibo commented on #22770
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api_cn/layers_cn/py_func_cn.html

代码示例2中，x=[a,b]和x=(a,b)都没有问题的呀。

[2020-02-26 09:11] fseasy commented on #22770
这个应该是develop分支吧，我这里还只是1.6.3哈，我刚刚是这样的结果哈，把tuple换成list的确就好了

[2020-02-26 09:19] fseasy commented on #22770
从
https://github.com/PaddlePaddle/Paddle/blob/release/1.6/python/paddle/fluid/layers/nn.py#L16277
这里看，py_func是不是应该有可能支持member_function呢，只是现在做了参数限定，导致非Variable传不进去？ 如果可以的话，把参数放开应该更好~

[2020-02-26 10:58] Angus07 commented on #22742
1.根据我的理解，我已经把所有的输入和输入都放到save_inference_model 的参数中。
2.有值班同学怀疑可能是用name获取变量，但是name被自动加了前缀，导致匹配不上导致的，经过我自己排查，已经排除了这种可能性。
3.我已将运行环境整理给值班同学，帮我看了一天，也没有看出问题。

[2020-02-26 12:17] grygielski commented on #22757
I've reproduced this problem on my machine. Does this size of embedding is something that exist in real use-cases (`emb = fluid.embedding(input=data, size=(10000000, 150), dtype='float32')` ? I ask because if you lower the size to for example `1000000` everything works fine. This implementation uses a lot of memory and XBYAK has some limitations set on memory addresses.

[2020-02-26 12:17] NanRUN commented on #22701
我是在window环境下跑的，是不是因为没有7.tar的解压软件，但是我有winrar，打印后python shulti.move找不到文件

[2020-02-26 13:06] zhangting2020 commented on #22757
The size may exists in real use-cases. Some users want to set the embedding layer to run on the CPU when the `size` is too large. Because if embedding runs on GPU, an OOM error will raise. Is there a way to solve this limitation of XBYAK?

[2020-02-26 13:08] juncaipeng commented on #22750
目前没有支持的op实现该功能，另外一种方法是，按照官网文档添加新的op进行实现。

[2020-02-26 13:15] zhwesky2010 commented on #22701
@NanRUN  如果自己查看的话，存在这个文件，但是shutil.move是报找不到，那就挺奇怪了。麻烦再确认下tmp_fullname的变量名和存不存在~

[2020-02-26 13:17] zhwesky2010 commented on #22701
@NanRUN 你可以用Py脚本调试一下

[2020-02-26 13:35] sidneyz139 commented on #22749
卸载了VS2019的PYTHON组件，并重启了机器，但where python 依然返回含有MicrosoftWindowsApp 程序的目录。
怎么能够把VS2019安装的Python删除干净呢？

C:\Users\SidneyZ\AppData\Local\Microsoft\WindowsApps\目录 和 系统的TEMP 目录使用管理员权限也不能删除。

C:\Users\SidneyZ\AppData\Local\Microsoft\WindowsApps>where python
C:\Users\SidneyZ\AppData\Local\Microsoft\WindowsApps\python.exe
D:\Program Files\Python\Python37\python.exe

C:\Users\SidneyZ\AppData\Local\Microsoft\

[2020-02-26 13:38] zhwesky2010 commented on #22749
@sidneyz139 不用一定要强行卸载那个，只要Python37的目录在前面，就会自动生效，是顺着PATH往下找的。我电脑也有那个VS的和Python37两个，也没关系

[2020-02-26 13:57] sidneyz139 commented on #22749
我感觉是昨天夜里下载的时候，应该是网络问题，我本机CACHE的包有什么问题。所以怎么安装都不对。不过按说如果文件损害，应该在安装过程中被CHECKSUM检查出来，重新下载呀。但实际是每次都是use cache.  python -m pip install -U paddlepaddle-gpu==1.6.3.post97 -i https://mirror.baidu.com/pypi/simple 怎么都不行。
我现在用了 python -m pip install -U paddlepaddle-gpu==1.7.0.post97 -i https://mirror.baidu.com/pypi/simple 已经安装成功。
现象回到前天晚上的状态。

[2020-02-26 14:02] sidneyz139 commented on #22749
set CUDA_VISIBLE_DEVICES=0，Error: Failed to create Cudnn handle in DeviceContext

C:\Users\SidneyZ>python
Python 3.7.6 (tags/v3.7.6:43364a7ae0, Dec 19 2019, 00:42:30) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Running Verify Paddle Program ...
W0226 21:51:47.010613 15012 device_context.cc:237] Please NOTE: device: 0, CUDA Capability

[2020-02-26 14:04] sidneyz139 commented on #22749
set CUDA_VISIBLE_DEVICES=1 时，
W0226 22:01:12.924293  6132 init.cc:127] Compiled with WITH_GPU, but no GPU found in runtime.
Error: cudaGetDeviceCount failed in paddle::platform::GetCUDADeviceCountImpl, error code : 38, Please see detail in https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038: no CUDA-capable device is detec

[2020-02-26 14:06] sidneyz139 commented on #22749
C:\Program Files\NVIDIA Corporation\NVSMI>nvidia-smi
Wed Feb 26 22:05:49 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 392.58                 Driver Version: 392.58                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
|

[2020-02-26 14:13] sidneyz139 commented on #22749
正常情况下，红圈里面的数字应该是多少？为什么我前面的GPU是0，可后面的那个显卡NVS 5400M是正确的？红色箭头的地方应该是什么样子的？

![image](https://user-images.githubusercontent.com/53903688/75352632-030a8e80-58e5-11ea-8bec-1bcbd263dc70.png)

[2020-02-26 14:15] sidneyz139 commented on #22749
![image](https://user-images.githubusercontent.com/53903688/75352886-6e546080-58e5-11ea-9df2-607ef1a0356b.png)

[2020-02-26 14:17] zhwesky2010 commented on #22749
@sidneyz139
![image](https://user-images.githubusercontent.com/52485244/75353108-c4290880-58e5-11ea-8212-d9dfe280cefc.png) 这个是我的，似乎你的显卡不支持cudnn?还是cudnn没装好。换CUDA试试吧

[2020-02-26 14:57] NanRUN commented on #22701
应该不是改名的问题，我让其直接写为tar格式后还是出现同样的错误：
2020-02-26 22:54:14,934-INFO: Decompressing C:\Users\Dell/.cache/paddle/weights\yolov3_mobilenet_v1.tar...
Traceback (most recent call last):
  File "tools/train.py", line 338, in <module>
    main()
  File "tools/train.py", line 205, in main
    exe, train_prog, cfg.pretrain_weights, ignore_params=ignore_params)
  File "D:\pycharm\Health\learning\PaddleDetection\

[2020-02-26 15:24] sidneyz139 commented on #22749
之前曾经试过CUDA 10.2, 10.0, 最后换到CUDA9.0的。
我把Intel的显卡禁用，驱动卸载了，错误现象还是一样。
另外，我运行了  nvidia-smi -q，一堆NA，不知是否正常。
显卡的显示功能看上去是正常的，NVIDIA 自己的GPU程序好像也是正常的。

还有别的检查 CUDA ，cudnn 的方法吗？

C:\Program Files\NVIDIA Corporation\NVSMI>nvidia-smi -L
GPU 0: NVS 5400M (UUID: GPU-8f8ab9b2-62a3-92ec-d8c9-e5275bb25861)

C:\Program Files\NVIDIA Corporation\NVSMI>nvidia-smi -q

==============NVSMI LOG==============

Timestamp

[2020-02-26 15:43] NanRUN commented on #22701
前面说错了，打印后python shulti.move运行报错

[2020-02-26 15:49] NanRUN commented on #22701
您好，报错之后我发现这个路径下有这个文件夹生成.cache\paddle\yolov3_mobilenet_v1，里面有241个cnva和yolo开头的文件，但还是报错，是因为找不到文件还是解压到一半失败了呀

[2020-02-26 15:49] NanRUN commented on #22701
2020-02-26 23:46:18,737-INFO: Decompressing C:\Users\Dell/.cache/paddle/weights\yolov3_mobilenet_v1.tar...
Traceback (most recent call last):
  File "tools/train.py", line 338, in <module>
    main()
  File "tools/train.py", line 205, in main
    exe, train_prog, cfg.pretrain_weights, ignore_params=ignore_params)
  File "D:\pycharm\Health\learning\PaddleDetection\ppdet\utils\checkpoint.py", line 9

[2020-02-27 01:54] jiweibo commented on #22770
默认要把python端的variable数据传给c++端，目前c++的py_func op还是只能接收variable的；我们理解非variable的参数可以尽量在调用py_func之前处理完。

[2020-02-27 03:09] sidneyz139 commented on #22749
@zhouwei25 你猜对了。
NVidia回复，只支持CUDA 8.0，那是不是Paddle就只能用CPU版了？

![image](https://user-images.githubusercontent.com/53903688/75407806-de4b0100-594e-11ea-8f02-d5cedb2a3e9a.png)

[2020-02-27 03:30] sidneyz139 commented on #22749
已经安装成功了CPU版，不过这个WARNING是什么意思？我需要做什么吗？
W0227 11:27:05.060984 16664 fuse_all_reduce_op_pass.cc:74] Find all_reduce operators: 2. To make the speed faster, some all_reduce ops are fused during training, after fusion, the number of all_reduce ops is 1.

C:\Users\SidneyZ>python
Python 3.7.6 (tags/v3.7.6:43364a7ae0, Dec 19 2019, 00:42:30) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "c

[2020-02-27 04:31] #22636 closed, assigned to nobody

[2020-02-27 05:07] zhwesky2010 commented on #22749
@sidneyz139 CPU的看来可以正常运行，这是一些OP融合的提示语，不用管。看来是这个显卡因为比较老，只能用CUDA8了，新版的Paddle已经没发布cuda8的pip安装包了。你可以试下pip install paddlepaddle-gpu==1.5.2.post87。是去年9月份最后发布的支持CUDA8的安装包

[2020-02-27 05:13] huangsilai opened #22776 "在自定义数据集上做预训练时报错"
我在aistudio上运行，
!pip install paddlepaddle==1.5
!pip install paddlehub==1.5
!hub install "ernie"

from paddlehub.dataset import InputExample, BaseDataset
import paddlehub as hub
from paddle.fluid.framework import switch_main_program
import paddle.fluid as fluid
import os
import codecs
import csv

class TheFLFG(BaseDataset):

    def __init__(self):
        # thu_news dataset directory
        self.d

[2020-02-27 06:15] sidneyz139 commented on #22749
收到，非常感谢！

[2020-02-27 06:49] JepsonWong commented on #22776
您好，我看是paddlehub那边自定义数据集出现问题，辛苦在paddlehub上提个issue？地址： https://github.com/PaddlePaddle/PaddleHub/issues

[2020-02-27 07:48] Thunderbrook commented on #22607
slice op需显式调用

[2020-02-27 08:21] songyuc commented on #22625
@zhiqiu ，好的，谢谢你的回复！

[2020-02-27 08:21] #22625 closed, assigned to nobody

[2020-02-27 08:24] OliverLPH commented on #21660
Hi, @lidanqing-intel
thanks for your effort.
we have tested this issue in latest develop branch, and it seems alright now.
close this issue since the error is no longer exist.

[2020-02-27 08:24] #21660 closed, assigned to wojtuss

[2020-02-27 08:26] songyuc opened #22781 "请问一下，paddle.fluid.layers.mean_iou()函数支持batch图像的计算吗，还是一次只能计算一张图像呢？"
你好！
请问一下，paddle.fluid.layers.mean_iou()函数支持batch多张图像的计算吗，还是一次只能计算一张图像的mIoU呢？
期待你的回复！

[2020-02-27 08:30] #22750 closed, assigned to juncaipeng

[2020-02-27 08:57] lijingwei opened #22783 "aistudio 训练后模型落地到本地机器报错：Shape not matching"
- 标题：“aistudio 训练后模型落地到本地机器报错：Shape not matching”
- ai studio 训练与预测 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 1.4.1
    2）Python：3.7
    3）GPU：v100 16G、CUDA 9.0 和CUDNN 7.0
ai studio 训练和预测都没有问题。

- 本机 训练与预测 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 1.7.0
    2）Python：3.7
    3）GPU：RTX 1070 TI 8G、CUDA 9.0 和CUDNN 7.6
图片等数据集、模型文件都是下载的ai studio

- 问题描述：
fork https://aistudio.baidu.com/aistudio/projec

[2020-02-27 09:21] JepsonWong commented on #22781
可以支持一个batch的计算，参见官网文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/1.7/api_cn/layers_cn/mean_iou_cn.html#mean-iou

[2020-02-27 09:31] JepsonWong commented on #22783
看起来是导入参数和模型需要的参数shape不一致导致的，要不然输出模型embedding参数shape看看？

[2020-02-27 09:54] xjqbest commented on #22684
solved

[2020-02-27 09:54] #22684 closed, assigned to nobody

[2020-02-27 12:35] ahsdx commented on #8973
请问下这个filename是已存在文件的路径吗？我填写'/home/aistudio/work/programs/program'报错了，我的programs文件夹是存在的，但program不存在。请问怎么解决啊

[2020-02-27 13:00] lidanqing-vv commented on #22608
Hi @luotao1 Can we close this issue ?

[2020-02-27 13:13] fseasy commented on #22770
Variable传给C++是为了获得实际的LodTensor值吗？
能不能这样，把非Variable留在Python侧，Variable给C++，C++调用回来，再组合Python侧的参数，给调用函数；
因为我看真正的函数调用发生在Python侧，如果是这样，那就肯定可以实现支持非Variable参数了；
————
个人理解哈，不一定看懂了代码

[2020-02-27 13:33] jiweibo commented on #22770
感谢建议，是可以的哈，后续需要升级的时候在考虑加一下

[2020-02-27 13:35] fseasy commented on #22770
好的，期待升级

[2020-02-27 13:35] #22770 closed, assigned to nobody

[2020-02-27 13:42] jiweibo commented on #22770
目前这样做主要是为了接口的统一，c++侧的callable 是 py_func中的前向。

调用过程如下
auto ret = (*callable)(*in_args);

in_args就是lits(variable)，没有加入其它python函数，这里就比较简洁，否则要定义python侧的arg，再绑到c++，最后调用，也能做就是不太漂亮，所以目前是交给用户在python中处理了

[2020-02-27 14:00] fseasy commented on #22770
啊，到这个程度我就不能很好的理解了哈 😂
我想py_func的能力上限肯定是支持用户任意的操作，这个也是静态图变“灵活”的关键；现在支持的功能的确已经足够好了哈，如果后续可能再进一步的话当然是更好~
之前我测试，发现在定义的前向函数里可以访问全局变量，不过当时没有很认真的测试，不知是否可以无问题的访问；如果能够无错误地支持全局变量访问，那我想用于py_func的函数也应该可以实现任意的功能，就是不够“简洁” 😂

[2020-02-28 02:02] ahsdx commented on #8973
还有请问一些，恢复训练时，需要start_program = fluid.default_startup_program()操作吗？还是不需要

[2020-02-28 02:19] wawltor commented on #22674
已增加对fp16的支持
https://github.com/PaddlePaddle/Paddle/pull/22744

[2020-02-28 02:32] #22674 closed, assigned to nobody

[2020-02-28 03:18] ahsdx opened #22791 "恢复训练时，损失函数会上升，上升不止一点，有时候是将近5倍"
 Aistudio上进行恢复训练有问题：
下面是恢复训练前的total_loss
2020-02-27 18:09:13,889 - train.py[line:148] - INFO: epoch 35, step 840, total_loss: 0.03663
loss_cls: 0.01022, loss_bbox: 0.02641, fg_num: 103, lr: 0.00133
2020-02-27 18:09:18,844 - train.py[line:148] - INFO: epoch 35, step 845, total_loss: 0.03665
loss_cls: 0.01024, loss_bbox: 0.02641, fg_num: 103, lr: 0.00133
2020-02-27 18:09:22,940 - train.py[line:152]

[2020-02-28 04:06] menghou opened #22792 "训练部分结果后，paddle.fluid.core.EnforceNotMet: Invoke operator concat error."
前面训练产出了一部分auc数据，后面报了这个错误
![image](https://user-images.githubusercontent.com/9972335/75509455-9ac1c700-5a22-11ea-994a-af43d035795d.png)

[2020-02-28 04:40] zhangting2020 commented on #22792
看报错是：concat这个Op的输出Tensor中包含NAN值，可否先检查下concat这个层输入有无问题？

[2020-02-28 04:51] menghou commented on #22792
应该没有问题呢，之前跑过，完整跑完，最后预测后有一个brpc的报错，这次是跑了一部分batch后才出现的问题

[2020-02-28 04:51] menghou commented on #22792
应该没有问题呢，之前跑过，完整跑完，最后预测后有一个brpc的报错，这次是跑了一部分batch后才出现的问题

[2020-02-28 05:38] zhangting2020 commented on #22791
请试试用[save](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_cn.html#save)接口保存模型，用[load](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/load_cn.html#load)加载模型

[2020-02-28 05:46] zhangting2020 commented on #22792
@menghou 的补充描述：之前训练的时候没出问题，只是改了下loss函数以及batch size啥的，结果训练了部分batch后才出现那个问题。

建议先确认下是loss函数还是batch size改了引起的错误

[2020-02-28 06:14] NanRUN commented on #22701
您好，能帮助一下我吗？

[2020-02-28 06:51] ahsdx commented on #22791
我刚刚尝试了下，保存模型后，出现了###.pdparams、###.pdopt、###.pdmodel三个文件，但我加载模型用的是fluid.load(fluid.default_main_program(),  '###', exe)，此时恢复训练时，出现如下报错信息：
Traceback (most recent call last):
  File "recover_train.py", line 170, in <module>
    train()
  File "recover_train.py", line 111, in train
    fluid.load(fluid.default_main_program, '/home/aistudio/work/tools/efficientdet-d4-2', exe)
  File "/opt/conda/envs/py

[2020-02-28 06:52] ahsdx commented on #22791
我刚刚尝试了下，保存模型后，出现了###.pdparams、###.pdopt、###.pdmodel三个文件，但我加载模型用的是fluid.load(fluid.default_main_program(), '###', exe)，此时恢复训练时，出现如下报错信息：Traceback (most recent call last):File "recover_train.py", line 170, intrain()File "recover_train.py", line 111, in trainfluid.load(fluid.default_main_program, '/home/aistudio/work/tools/efficientdet-d4-2', exe)File "/opt/conda/envs/python35-paddle120-env/lib/pytho

[2020-02-28 07:27] xiangyubo opened #22797 "paddle 1.7-CPU版本 windows python3.6.6 安装后 import 出错"
paddle 1.7-CPU版本 windows python3.6.6 安装后 import 出错。使用的是 thinkpad，64位机器。采用 pip 命令安装。MKL数学库不确定是否有使用。pip安装提示安装成功，但是在使用的时候报错。错误提示说加载不到 DLL 动态链接库

Traceback (most recent call last):
  File "D:/python-code/paddle-1.7.0/src/network.py", line 1, in <module>
    import paddle.fluid as fluid
  File "D:\python\lib\site-packages\paddle\fluid\__init__.py", line 35, in <module>
    from . import framework
  Fil

[2020-02-28 07:43] zhangting2020 commented on #22797
请参考下 #22732 这个issue

[2020-02-28 08:07] zhangting2020 commented on #22791
请检查下你的保存语句，看你上面粘贴的是以下语句
[code]
第一个参数是你的main_program，看你issue描述里，是有定义了一个main_program的，如果确认请传入那个main_program。fluid.default_main_program这个是默认的，即使要使用也应该是下面这样，注意default_main_program后的括号。
[code]

[2020-02-28 08:17] ahsdx commented on #22791
谢谢，我就在刚刚已经发现，改回来了。谢谢你了，我还有个问题
，就是这个我用save来保存模型时，需要保存main_program（main_program = fluid.default_main_program）吗？还有恢复训练时，用load接口加载的模型时，需要传进去的Program参数是用fluid.default_startup_program()，还是用fluid.default_main_program()，还是用我保存模型时上面提到的main_program？能不能帮我解答下
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Zhang Ting"<notifications@github.com&gt;;
发送时间:&nbsp;2020年2月28日(星期五) 下午4:07
收件人:&nbsp;"P

[2020-02-28 08:40] xd905 opened #22798 "Ubuntu18.04 python3.5安装paddlepaddle失败"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）系统环境：ubuntu18.04  python3.5
- 安装方式信息：
1）pip安装
  特殊环境请注明：阿里云服务器默认阿里源
- 复现信息：
python3 -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple
ERROR: Could not find a version that satisfies the requirement paddlepaddle (from versions: none)
ERROR: No matching distribu

[2020-02-28 09:08] waaaaaaater opened #22802 "io.batch 报错：'generator' object is not callable"
根据官方的batch的用法，版本是paddle1.6，代码如下：
import paddle.reader as reader
import paddle.fluid as fl
import time

def reader_creator_10(x):
    print(x)
    for i in range(10):
        yield i

def mapper(x):
    return (x + 1)

orders = (True, False)
thread_num = 2# (1, 2, 4, 8, 16)
buffer_size = 2# (1, 2, 4, 8, 16)

user_reader = reader.xmap_readers(mapper,reader_creator_10(5), thread_num, buffer_size, Tru

[2020-02-28 09:21] #22608 closed, assigned to Sand3r-

[2020-02-28 09:26] JepsonWong commented on #22798
想问一下您的python3是自己编译的么？

[2020-02-28 10:15] xd905 commented on #22798
对的，原来自带有python2和python3.6，然后我自己加了个pyhton3.5的

[2020-02-28 10:33] JepsonWong commented on #22798
您好，这个问题是编译python3.5之前需要提前安装好相关依赖：
apt-get install -y zlib1g-dev openssl libssl-dev libsqlite3-dev

[2020-02-28 11:00] grygielski commented on #22757
As far as I analyzed it, this problem occurs inside AVX instructions when offset (data) gets so big that its address exceed 32bit value. It looks like for this implementation of algorithm `size=(10000000, 150)` is too big and it's not possible to get over it (it's over 16 GB of RAM). However, I'm not an expert of assembly language and maybe some changes in instructions would be viable to improve m

[2020-02-28 11:06] zhwesky2010 commented on #22701
@NanRUN 我看一下哈

[2020-02-28 11:07] zhwesky2010 commented on #22749
@sidneyz139 你好，请问还有其他问题吗？没有的话方便关闭一下issue不。

[2020-02-28 11:07] NanRUN commented on #22701
您好，报错之后我发现这个路径下有这个文件夹生成.cache\paddle\yolov3_mobilenet_v1，里面有241个cnva和yolo开头的文件，但还是报错，是因为找不到文件还是解压到一半失败了呀

[2020-02-29 08:51] sidneyz139 commented on #22749
没有了，非常感谢帮助！

[2020-02-29 08:51] #22749 closed, assigned to zhwesky2010

[2020-03-01 09:54] SnowWhite11235 opened #22809 "部署Paddle模型时gcc4.8迁移gcc8.2出现diff"
请问Paddle部署的时，在没有改变业务代码的前提下，gcc482转gcc82的前后，同一张图的预测结果会有大约1%的diff，请问可能是什么原因呢？
目前使用的Paddle版本是1.6.2

P.S. 我尝试关闭ir_optim后，运行的结果依然是错误的。

[2020-03-02 01:49] GaoWei8 commented on #22651
报错看起来是参数读取问题。

[2020-03-02 02:06] MrChengmo commented on #22802
看起来应该是代码问题，我将你的原始代码修改一下以后，如下：
[code]

运行结果符合预期

[2020-03-02 02:47] zhangting2020 commented on #22791
- 使用save接口时，main_program是需要传入的。
- save和load这两个接口是搭配使用的，具体地可以参考load的API说明，可以看到示例代码中的用法.如果你的main_program就是fluid.default_main_program()，也就是说你没有重新定义一个main_program，那么就会使用默认的，save和load就都是传入fluid.default_main_program()。
[code]

[2020-03-02 02:56] ahsdx commented on #22791
好的，谢谢你。如何自己定义main_program？能给个参考吗

---原始邮件---
发件人: "Zhang Ting"<notifications@github.com&gt;
发送时间: 2020年3月2日(周一) 上午10:47
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "State change"<state_change@noreply.github.com&gt;;"ahsdx"<2589561091@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 恢复训练时，损失函数会上升，上升不止一点，有时候是将近5倍 (#22791)

使用save接口时，main_program是需要传入的。

save和load这两个接口是搭配使用的，具体地可以参考load的AP

[2020-03-02 03:11] zhangting2020 commented on #22791
可以参考两个文档看看哈。
- [default_main_program](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/default_main_program_cn.html#default-main-program)
- [program_guard](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/program_guard_cn.html#program-guard)
[code]

[2020-03-02 03:17] ahsdx commented on #22791
好的，谢谢(*°∀°)=3

---原始邮件---
发件人: "Zhang Ting"<notifications@github.com&gt;
发送时间: 2020年3月2日(周一) 中午11:11
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "State change"<state_change@noreply.github.com&gt;;"ahsdx"<2589561091@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 恢复训练时，损失函数会上升，上升不止一点，有时候是将近5倍 (#22791)

可以参考两个文档看看哈。

default_main_program

program_guard

—
You are receiving this because y

[2020-03-02 03:28] leesusu commented on #22131
@luotao1 这个issue对应的pr #22259 麻烦能看下什么进度了吗？感谢🙏

[2020-03-02 03:46] luotao1 commented on #22608
After we use `apt-get install linux-image` to update the kernel, we solve this problem

[2020-03-02 04:21] kinghuin commented on #22776
@huangsilai 您好，感谢反馈。请尝试在主程序config = hub.RunConfig中加入这个参数use_pyreader=False。此外，PaddleHub 1.5已支持更简便的自定义数据集写法：https://github.com/PaddlePaddle/PaddleHub/blob/release/v1.5/docs/tutorial/how_to_load_data.md 欢迎试用新写法

[2020-03-02 04:24] waaaaaaater commented on #22802
非常感谢，学习了

[2020-03-02 04:24] #22802 closed, assigned to zhangting2020

[2020-03-02 05:09] zhangting2020 commented on #22791
请问描述中所提到的问题是否已经解决了呢？如果已解决，还请关闭issue

[2020-03-02 05:38] #22153 closed, assigned to nobody

[2020-03-02 06:41] aiot-tech opened #22812 "【finetune】如何修改最后一层参数？"
【finetune】如果不需要最后一层参数，paddlepaddle该怎么进行这种底层操作呢？有没有相关教程，感觉paddlepaddle的教程很少啊，好多都是高级封装好的了，很难进行定制化操作

[2020-03-02 06:45] xiangyubo commented on #22797
我还要再反馈一下，就是我机器的环境，安装1.6.3非常顺利。但是切换到1.7，怎么都不能用。我甚至卸载了我的 python 环境安装都不行，都是在 import paddle.fluid 的时候报错

[2020-03-02 07:23] mapingshuo commented on #22812
在paddle中可以使用fluid.io.save_inference_model()接口解决你的需求：
https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#save-inference-model
`target_vars`设置成你要裁剪的参数的输入就可以啦

[2020-03-02 07:23] menghou commented on #22792
改用adam优化，已解决

[2020-03-02 07:24] #22792 closed, assigned to zhangting2020

[2020-03-02 08:58] aprilvkuo opened #22816 "fluid.layers.split 的使用方法 && 训练过程中传入list数组"
# 问题一： split使用方法
报错信息：
我想对第一维进行split操作， 将输入向量拆分成几个list。 但是因为第一维是-1， split操作操作报错信息如下。

[code]

# 问题2： 我在训练过程中， 每个step想要传入一个list数组， 不知道paddle是否支持

1. 是否feed必须通过feed方式
2.  feed方式是否支持，数据流程是否为( list ->feed ->variable -> list)

[2020-03-02 09:05] mapingshuo commented on #22816
问题1： 第一维为-1表示这一维度是batch_size, 请问为什么要把不同batch的数据切分开呢？

[2020-03-02 09:06] aiot-tech commented on #22812
你好，我的想法是在加载模型的时候，能不能不将最后一层的参数加载进来，而是随机化的～因为目前有了nextvlad算法的参数了，但是该模型的最后一层输出不是很符合我的需求～

[2020-03-02 09:10] mapingshuo commented on #22816
问题2.1：在Paddle中将list转为Tensor后，通过feed输入是一种常见的方式；但是不必须使用feed方式，还有[pyreader](https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/PyReader_cn.html#pyreader)等方式。

[2020-03-02 09:11] mapingshuo commented on #22816
问题2.2 feed方式支持list -> variable -> Run() -> numpy array的方式，你可以把numpy array最后转成自己的list

[2020-03-02 09:35] aprilvkuo commented on #22816
这是model的实际需要， 而且batch_size还是会变化的。

[2020-03-02 10:03] mapingshuo commented on #22816
问题1：当split_list不固定时，静态图不支持对batch size维度做split，这样会导致输出Tensor的数目不固定，必须要动态图做。

[2020-03-02 10:13] zhwesky2010 commented on #22797
@xiangyubo 排查了Windows相关环境配置、环境变量、各种依赖。且用户1.6.3的paddle可用，1.7.0的paddle不可用，最终排查到mkldnn，初步判断用户机器对mkldnn的支持问题，1.7.0的mkldnn升级可能触发了这个问题。目前先通过1.7.0的openblas版本的paddle来解决需求，用户后面可以通过源码编译 cmake来检测机器是否支持mkl。

[2020-03-02 11:25] xiangyubo commented on #22797
感谢威神的协助，目前能跑了

[2020-03-02 11:25] #22797 closed, assigned to zhwesky2010

[2020-03-02 11:39] mengyiliu22 commented on #22651
设置为is_sparse=True, is_distributed=False；替换__model__文件可解决，但不清楚为什么会有distribute_look_up。

[2020-03-02 11:52] aiot-tech commented on #22812
有没有接口可以直接修改某一层的参数值，或直接将一个随机初始化的矩阵赋给某一个层的呢

[2020-03-02 12:08] wojtuss opened #22819 "Code coverage for MKL-DNN related files in Release build"
With the recent code coverage results from the Paddle Coverage Nightly builds the following two files are failing to reach 90% of line code coverage:
1. `paddle_mkldnn_quantizer_config.h`: 83.3%
2. `lrn_mkldnn_op.cc`: 88.7%

The reason for 1. is that PaddlePaddle is being built in Release mode, and optimizations applied by the compiler prevented `lcov` from a precise code coverage measurement. Run

[2020-03-02 12:10] zhengxiao-yu opened #22820 "生成任务多卡运行时fetch报错：exe.run(fetch_var_names)._move_to_list()"
   1）PaddlePaddle版本：1.6.1
    2）gpu多机多卡

 运行平台：paddle cloud平台
日志链接：http://10.199.229.42:8388/v1/containers/be4b34bea1b8b2b24cec30e954dc4cff43984458e383b32d003776fe5591b1cb/backuplog

报错如下：

[code]

[2020-03-02 12:42] Melonzhou commented on #22820
同样遇到这个问题，求解。

[2020-03-02 13:22] mapingshuo commented on #22820
从错误来看，你在尝试将两个LodTensor merge在一起，但是他俩一个是55维，一个是51维，导致了错误。

[2020-03-02 13:25] mapingshuo commented on #22820
python 这个脚本能共享一下吗：

[code]

[2020-03-02 13:39] Melonzhou commented on #22820
你方便登录到我的机器上看看么？

[2020-03-02 13:51] Shixiaowei02 commented on #22742
<img width="467" alt="8c14b4a0bb65c6598bc905b3d6c7fd75" src="https://user-images.githubusercontent.com/39303645/75682157-ed73db00-5ccf-11ea-907e-db5a88eedb65.png">

看起来是保存预测模型时，图的输入和输出节点试图一致导致的错误。请认真检查程序，确认业务代码原因。谢谢。

[2020-03-02 13:52] #22742 closed, assigned to Shixiaowei02

[2020-03-02 14:11] mapingshuo commented on #22820
目前看来是fetch的时候不同卡产生的LodTensor 维度不同（51 vs 55），merge时失败, @keaiyuzhu 你想一下组网中会不会有什么导致这个问题的原因；我这边也找专业同学来看一下。

[2020-03-02 14:11] mapingshuo commented on #22820
请问你也是1.6.1的版本，多机多卡GPU吗？你俩是一个任务吗？

[2020-03-02 14:23] Melonzhou commented on #22820
是的，同一个任务

[2020-03-02 14:29] mapingshuo commented on #22812
您想修改训练好的模型的某一个参数，当然是可以的。我一般是这样做的, load模型之后：
[code]
修改后可以再save_inference_model, 这样模型的参数就被修改了。

[2020-03-02 16:23] phojl opened #22824 "paddle-lite Mac编译tiny publish动态库出错"
paddle-lite Mac编译tiny publish动态库出错

- 版本、环境信息：
1）系统环境：请说明系统类型、版本（如Mac OS 10.15.3）、Python版本3.7.4
- 安装方式信息：
1）本地编译：请提供cmake命令，编译命令 

       编译tiny publish动态库
Android
./lite/tools/build.sh \
  --arm_os=android \
  --arm_abi=armv8 \
  --build_extra=OFF \
  --arm_lang=gcc \
  --android_stl=c++_static \
  --build_extra=OFF \
  tiny_publish

按提示进行android 进行编译时，一开始 出现 如下错误
+ cmake .. -DWITH_GPU=OFF -DWITH

[2020-03-03 01:30] #22791 closed, assigned to zhangting2020

[2020-03-03 01:31] ahsdx commented on #22791
好的，已经关闭了，谢谢你

---原始邮件---
发件人: "Zhang Ting"<notifications@github.com&gt;
发送时间: 2020年3月2日(周一) 中午1:09
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "State change"<state_change@noreply.github.com&gt;;"ahsdx"<2589561091@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 恢复训练时，损失函数会上升，上升不止一点，有时候是将近5倍 (#22791)

请问描述中所提到的问题是否已经解决了呢？如果已解决，还请关闭issue

—
You are receiving this because you modified the

[2020-03-03 01:44] txyugood commented on #22690
发现更好的方法，结合 where 和gather_nd 可以直接实现，不需要控制流。

[2020-03-03 02:10] Superjomn opened #22825 "[dev] Padele-TRT dynamic Shape支持"
Paddle-TRT支持TRT6.0动态shape输入

https://github.com/PaddlePaddle/Paddle/pull/22173

[2020-03-03 02:17] mapingshuo commented on #22824
你好，请在Lite库下提issue吧：https://github.com/PaddlePaddle/Paddle-Lite/issues

[2020-03-03 02:17] #22824 closed, assigned to nobody

[2020-03-03 02:17] jiweibo opened #22827 "[dev] mkl多线程下存在内存泄露问题"
mkl多线程下存在内存泄露问题。

 测试模型（只包括一个mul）
![image](https://user-images.githubusercontent.com/26377421/76203929-688a4380-6232-11ea-814e-0ed35c9e2691.png)

多线程下重复运行1小时，内存曲线变化
![image](https://user-images.githubusercontent.com/26377421/76203970-7f309a80-6232-11ea-88b2-968221102fc1.png)

尝试将mklml换成 2019.3版本，依旧存在泄露情况，切换成openblas则无问题。

需要intel跟进。

复现文件整理：

复现方法：
unzip mul.zip

cd mul
编译，参考https://www.paddlepadd

[2020-03-03 02:52] jiweibo opened #22828 "[dev] 内显存监测工具。方便检查长时间运行是否存在内显存泄露"

[2020-03-03 02:59] luotao1 commented on #22819
Got it. Thanks very much for your analysis! You can finish the Code coverage update now.

[2020-03-03 03:02] mapingshuo commented on #22820
@keaiyuzhu 对51和55两个数字，你是否敏感，是否在组网时用到了这两个数字？

[2020-03-03 03:02] juncaipeng commented on #22753
已经解决，ai studio的同学测试通过。

[2020-03-03 03:02] #22753 closed, assigned to juncaipeng

[2020-03-03 03:02] mapingshuo commented on #22820
请Hi上找我，我们详细了解一下为什么两张卡上的维度会有diff。

[2020-03-03 03:33] mapingshuo commented on #22820
这里有个类似的issue： https://github.com/PaddlePaddle/Paddle/issues/21860  ，生成任务中好像很常见这一问题

[2020-03-03 03:34] aiot-tech commented on #22812
你的耐心解答让我对paddlepaddle的架构更加的了解，谢谢啦。那假如我想使用paddlepaddle的预训练参数做迁移学习，我就打算修改了最后一层的参数(将输出从3862维改为51维)，我目前的做法是将原先的参数加载进来，到了最后一层，维度不匹配了，paddlepaddle的底层是怎么运作的呢？会不会将先前维度匹配的网络层的参数加载进来呢

    if args.resume:
        # if resume weights is given, load resume weights directly
        assert os.path.exists(args.resume), \
                "Given resume weight dir {} not exist.".format(args.resume)
        fluid.io

[2020-03-03 03:51] Melonzhou commented on #22820
21860的卡片是我年前提的，那种方式实现起来太麻烦了，没成功。出错的原因就是在merge 长度不同的tensor出错了。像序列标注、文本生成这种任务，预测值和标注值不可能是等长的。同一个batch中我可以padding到长度一样，但是多卡的时候就相当于是多个batch要merge到一起，我不知道其每张卡上的数据到底是啥呀。

[2020-03-03 03:53] Melonzhou commented on #22820
hi名字是什么呀？我单hi你。

[2020-03-03 03:58] mapingshuo commented on #22820
和github一样的名字

[2020-03-03 03:59] mapingshuo commented on #22820
文本生成任务中的预测值和label确实很可能不同长度，它们的var的名字也应该不同，为什么会被merge在一起呢？

[2020-03-03 04:08] Melonzhou commented on #22820
不是说预测值和label被merge了，是多个batch的label被merge，多个batch的预测值被merge。

[2020-03-03 04:41] LDOUBLEV commented on #22644
请问，问题是否已解决

[2020-03-03 05:13] mapingshuo commented on #22812
既然是迁移学习，你就要按照迁移后的网络（51维）组网；之后通过load_persistable()来load预训练网络的参数（除了最后一个参数以外的前面所有参数）。

https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/load_persistables_cn.html#load-persistables

[2020-03-03 05:13] #22812 closed, assigned to mapingshuo

[2020-03-03 05:21] mapingshuo commented on #22812
迁移学习在Paddle中最经典的案例之一就是Bert，不妨看一下Paddle中的Bert是怎么做的吧：https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/PaddleLARK/BERT/utils/init.py#L62

[2020-03-03 06:12] zhengzhe97 opened #22833 "关于PaddleDetection中anchor匹配部分的疑惑"
![PSVXN77Z7FP`K7 K}`5(K~S](https://user-images.githubusercontent.com/26462054/75747905-21471300-5d59-11ea-95f3-b54f35ce3f48.png)

请问一下，这里anchor和gt_boxes做匹配有点不太理解。不应该是anchor匹配每一张图的gt_boxes，这里gt_boxes的第一维是G（表示批量内真值框的总数）是怎么做匹配的？

[2020-03-03 06:34] Melonzhou commented on #22820
https://github.com/PaddlePaddle/Paddle/pull/22635

[2020-03-03 06:34] Melonzhou commented on #21860
https://github.com/PaddlePaddle/Paddle/pull/22635

[2020-03-03 07:51] aiot-tech commented on #22812
太棒了,thx a lot ~

[2020-03-03 08:02] chalsliu commented on #22819
Thanks very much!
The task has been modified to run the code coverage test on the Debug build. We will check for changes.

[2020-03-03 08:07] chalsliu commented on #22819
Because of the "WITH_COVERAGE = ON" option, it may already be in debug mode.
We will further confirm.

[2020-03-03 08:32] iclementine commented on #22131
[Paddle_PR_CI_Coverage_53291.log](https://github.com/PaddlePaddle/Paddle/files/4280067/Paddle_PR_CI_Coverage_53291.log)
[Paddle_PR_CI_python35_52521.log](https://github.com/PaddlePaddle/Paddle/files/4280069/Paddle_PR_CI_python35_52521.log)
[PR_CI_CPU_Py2.log](https://github.com/PaddlePaddle/Paddle/files/4280071/PR_CI_CPU_Py2.log)

目前的 PR_CI_CPU_Py2.log 显示的是缺少 approve，这个不是代码的问题；
Paddle_PR_CI_Covera

[2020-03-03 09:05] leesusu commented on #22131
@iclementine 感谢，我再改下 “三行抛异常的覆盖率“

[2020-03-03 09:23] #22816 closed, assigned to mapingshuo

[2020-03-04 07:20] ForFishes commented on #22833
gt_boxes是一个LODtensor 通过LoD level可以得知切取出每张图上真值。

[2020-03-04 08:13] wuyefeilin opened #22852 "从一个tensor中随机获取n个值及相应的索引"
在开发CV分割模型pointrend的过程中发现有这么一个需求：
从一个tensor中随机获取n个值及相应的索引，并能指定哪些位置上的值不会被选中，相同位置的值不能重复选取。

如从a=[1, 2, 3, 4, 5, 6]中选取3个不重复的值，但a[0]不能被选取，从剩下的5个值中不重复的随机选取3个，如返回[3, 5, 6]和相应的索引[2, 4, 5]。

[2020-03-04 13:35] shibufan commented on #21382
同问

[2020-03-05 03:46] TonyKutuya opened #22863 "There is no next data"
Paddle 1.6.1
paddlecloud 单机单卡任务
GPU P40

日志为：
2020-03-05 10:30:15,029-WARNING: consumer[30832] exit abnormally with exitcode[-9]
2020-03-05 10:30:15,029-WARNING: 1 consumers have exited abnormally!!!
2020-03-05 10:30:15,029-WARNING: consumer[30832] exit abnormally with exitcode[-9]
2020-03-05 10:30:15,030-WARNING: 1 consumers have exited abnormally!!!
2020-03-05 10:30:15,030-WARNING: Your reader h

[2020-03-05 07:23] mitsuix opened #22865 "paddle1.6.2GPU预测库编译出错【ubuntu18.04 cuda10 cudnn7.4】"
CPU版本没问题，但是GPU和TensorRT都选择ON时，编译报错。麻烦帮看下，谢谢啦~
 [ 33%] Building NVCC (Device) object paddle/fluid/operators/CMakeFiles/activation_op.dir/activation_op_generated_activation_op.cu.o
/home/paddle/workspace_Bin/paddlepaddle/build/third_party/eigen3/src/extern_eigen3/unsupported/Eigen/CXX11/../../../Eigen/src/Core/MathFunctions.h(919): error: no instance of overloaded function "max" matches the argument

[2020-03-05 07:54] mitsuix commented on #22865
PS:
在此之前编译报了个错，然后就按照提示把paddle/fluid/platform/device_context.cc里面的Eigen::kCudaScratchSize改成了Eigen::kGpuScratchSize

不知道有没有影响，其他源码都未修改。

麻烦各位老师帮忙看下，谢谢！

[2020-03-05 08:26] yaoxuefeng6 commented on #22863
解决了吗

[2020-03-05 08:26] XipengY opened #22870 "paddle 1.7库编译出错"
paddle 1.7编译出错

- 版本、环境信息：
    1）PaddlePaddle版本：release/1.7
    2）CPU/GPU：GPUk40 CUDA-9 cuDNN-7.6
    3）系统环境：docker centos6.3
    4）Python版本号 python3.7
    5）显存信息

环境变量：
export LD_LIBRARY_PATH=/opt/_internal/cpython-3.7.0/lib/:${LD_LIBRARY_PATH}
export PATH=/opt/_internal/cpython-3.7.0/bin/:${PATH}
export PYTHON_FLAGS="-DPYTHON_EXECUTABLE:FILEPATH=/opt/_internal/cpython-3.7.0/bin/python3.7 -DPYTHO

[2020-03-05 08:40] JepsonWong commented on #22870
CUDA_HOME、LIBRARY_PATH、LD_LIBRARY_PATH环境变量输出来看下，看起来像是cuda的一些库没找到。

[2020-03-05 08:50] silingtong123 commented on #22865
具体的commit id能提供一下吗？

[2020-03-05 09:13] chaogehah opened #22874 "在训练时报了CUDNN_STATUS_EXECUTION_FAILED错误"
我用的是ubuntu16.04
显卡是RTX2080Ti
我是在anaconda的虚拟环境下跑的训练，网络为ResNet50_vd
paddle1.7.0.post97 + cuda9.0 + cudnn7.3.1

2020-03-05 14:27:22,808-INFO: ------------- Configuration Arguments -------------
2020-03-05 14:27:22,808-INFO: batch_size : 16
2020-03-05 14:27:22,808-INFO: checkpoint : None
2020-03-05 14:27:22,808-INFO: class_dim : 2
2020-03-05 14:27:22,808-INFO: data_dir : ./data/ILSVRC2012/
2020-03-05

[2020-03-05 09:35] Angus07 commented on #22742
尝试把作为输出节点的输入节点去掉了，然后报一样的错误

[2020-03-05 09:44] XipengY commented on #22870
echo $CUDA_HOME  (CUDA_HOME:是空的)

echo $LIBRARY_PATH
/paddle/apps/cudnn76/cuda/lib64:/paddle/apps/cudnn76/cuda/lib64:/usr/local/cuda/lib64/stubs

echo $LD_LIBRARY_PATH
/paddle/apps/nccl_2.4.7_cuda9.0/lib64:/paddle/cudnn76/cuda/lib64:/usr/local/cuda/lib64:/opt/_internal/cpython-3.7.0/lib/:/paddle/apps/nccl_2.4.7_cuda9.0/lib64:/paddle/cudnn76/cuda/lib64:/opt/_internal/cpython-3.7.0/lib/:/opt/rh/devt

[2020-03-05 09:45] XipengY commented on #22870
echo $CUDA_HOME (CUDA_HOME:是空的)

echo $LIBRARY_PATH
/paddle/apps/cudnn76/cuda/lib64:/paddle/apps/cudnn76/cuda/lib64:/usr/local/cuda/lib64/stubs

echo $LD_LIBRARY_PATH
/paddle/apps/nccl_2.4.7_cuda9.0/lib64:/paddle/cudnn76/cuda/lib64:/usr/local/cuda/lib64:/opt/_internal/cpython-3.7.0/lib/:/paddle/apps/nccl_2.4.7_cuda9.0/lib64:/paddle/cudnn76/cuda/lib64:/opt/_internal/cpython-3.7.0/lib/:/opt/rh/devto

[2020-03-05 09:49] XipengY commented on #22870
另外，我刚尝试q相同的环境下切换到release/1.6分支，能正常编译。

[2020-03-05 12:08] TonyKutuya commented on #22863
目前没收到任何回复，希望尽快帮忙解决

[2020-03-05 13:23] JiabinYang opened #22883 "Ftrl Optimizer 文档描述问题"
官网文档中涉及Ftrl Optimizer的描述中并未见到可以配置momentum的选项，那如果这里momentum为None是什么原因导致呢
![image](https://user-images.githubusercontent.com/22361972/75985256-f5798800-5f26-11ea-904a-7627147c661b.png)

[2020-03-05 14:10] yaoxuefeng6 commented on #22874
https://github.com/PaddlePaddle/Paddle/issues/15140 看看这个有帮助吗

[2020-03-05 14:13] yaoxuefeng6 commented on #22883
好像看不到图片

[2020-03-05 14:15] chaogehah commented on #22874
他这个是因为cuda跟cudnn的问题，可是我的cuda跟cudnn是安装好的，之前就用的这个版本跑过tensorflow框架的网络，都是能跑的，但是这个就报错了

[2020-03-05 15:39] ydchen9 opened #22886 "Program.Clone预测的结果为何不一致？"
代码如下：
（代码文件
[test3.zip](https://github.com/PaddlePaddle/Paddle/files/4293810/test3.zip)
）
`from __future__ import print_function
import paddle.fluid as fluid
import numpy

def model(x):
    f1 = fluid.layers.fc(input=x, size=20, act="tanh")
    x_predict = fluid.layers.fc(input=f1, size=1)
    return x_predict

train_program = fluid.Program()
with fluid.program_guard(train_program):
    x = fluid.

[2020-03-05 16:27] chaogehah commented on #22874
我刚刚试了一下用cuda10.0的版本，但是执行conda install paddle-gpu之后，他安装的是cudnn7.3.1，我再次执行文件这次报错改成了[Hint: CUDNN_STATUS_BAD_PARAM] at (/paddle/paddle/fluid/operators/batch_norm_op.cu:287)
[operator < batch_norm > error]

#15140 里用的是cudnn7.4，但是我在conda里安装了paddle之后就没法安装cudnn7.4了，会一直报错，所以请问有什么其他的解决办法吗？

[2020-03-06 02:10] Colorfu1 opened #22889 "Error: Paddle internal Check failed. (Please help us create a new issue, here we need to find the developer to add a user friendly error message)"
运行程序的时候出错，完整的报错信息如下所示：
![error](https://user-images.githubusercontent.com/30551427/76043330-28a53100-5f92-11ea-9b7d-98046df92681.PNG)
看定位的位置应该是
File "/home/map/wuwenda/Attention_flow_net_Paddle/core/spatial_transformer_net.py", line 206, in bilinear_sampler
    wb = (x1-x) * (y-y0)
此处的代码应该是做一个双线性插值的代码，不需要使用梯度，没有可训练的Variable。代码段如下：
![error1](https://user-images.githubusercontent.com/30551427/760434

[2020-03-06 02:34] zhengrenfeng opened #22890 "使用预测代码提示重新编译并设置ON_INFER为ON"
pip安装paddle1.7，使用预测from paddle.fluid.core import create_paddle_predictor创建的predictor进行预测，出现错误提示：重新编译并设置ON_INFER为ON。
按linux编译预测库的文档操作，cmake -DFLUID_INFERENCE_INSTALL_DIR=/xxx -DCMAKE_BUILD_TYPE=Release -DWITH_PYTHON=ON -DWITH_MKL=OFF -DWITH_GPU=OFF  -DON_INFER=ON -WITH_MKLDNN=OFF -WITH_XBYAK=ON -WITH_NV_JETSON=OFF 。make到最后报错
![image](https://user-images.githubusercontent.com/9197074/76044588-c51d02

[2020-03-06 02:34] baiyfbupt commented on #22889
hi， 这个问题的报错信息不是很清楚，看代码也没什么问题。所以麻烦复制粘贴一下出问题的这段代码，我帮您调试一下看看？

[2020-03-06 02:38] baiyfbupt commented on #22889
@chenwhql 同时辛苦一下weihang关注一下这个报错信息问题~

[2020-03-06 02:42] chenwhql commented on #22889
好的，收到

[2020-03-06 02:47] MyPandaShaoxiang commented on #22890
你好，能提供一下编译时的全部log么

[2020-03-06 03:06] zhengrenfeng commented on #22890
按文档执行步骤：
git clone https://github.com/paddlepaddle/paddle
cd paddle
git checkout v1.7.0
mkdir build
cd build
cmake -DFLUID_INFERENCE_INSTALL_DIR=/xxx -DCMAKE_BUILD_TYPE=Release -DWITH_PYTHON=ON -DWITH_MKL=OFF -DWITH_GPU=OFF  -DON_INFER=ON -WITH_MKLDNN=OFF -WITH_XBYAK=ON -WITH_NV_JETSON=OFF -DWITH_TESTING=OFF
	报错：CMake Error: The source directory "/xxx/paddle/build" does not appear to contain CMake

[2020-03-06 03:34] zhengrenfeng commented on #22890
应该是目录冲突问题，cmake缺少 .. 导致

[2020-03-06 03:34] #22890 closed, assigned to nobody

[2020-03-06 04:56] zhengrenfeng opened #22893 "编译python预测库"
按文档编译后在build目录下得到python目录，在python目录下进行make生成的是python2的paddle,但是我需要的是python3的 要怎么处理？ 直接用python3 setup.py build得到的结果不完整，使用时会报错 so缺少内容

[2020-03-06 05:15] mitsuix commented on #22865
2de10293964e29169d75f7aa732c294bc2b98c01

[2020-03-06 06:05] yaoxuefeng6 commented on #22886
参考这个文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Program_cn.html#program . 当for_test=True时， 会裁剪网络 不会进行优化。

[2020-03-06 06:10] yaoxuefeng6 commented on #22874
可以尝试升级cudnn后 再重新安装paddle试试哈

[2020-03-06 06:14] ydchen9 commented on #22886
那用clone program的是正确的预测结果吗？

[2020-03-06 06:48] xperzy opened #22896 "Error when create GRUCell with ParamAttr"
Basic Info:
PaddlePaddle 1.7.0
GPU, Centos, Python 3.7

Model: **GRUCell**

Issue: Error when create GRUCell with ParamAttr

Locations: https://github.com/PaddlePaddle/Paddle/blob/674aa06114387d4e61d3c622ee7f638b11640c49/python/paddle/fluid/contrib/layers/rnn_impl.py#L106

Details:

When create GRUCell with param_attr, and bias_attr, the source code in Paddle (rnn_impl.py LINE106) creates 2 weight

[2020-03-06 06:58] chaogehah commented on #22874
我安装时报了这个错误，请问是anaconda的问题吗？百度了一下好像是版本问题，没什么特别好的解决办法

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from

[2020-03-06 08:23] baiyfbupt commented on #22893
您可以在cmake时通过`-DPY_VERSION`指定想要编译的Python版本，请参考：
![image](https://user-images.githubusercontent.com/28884066/76065520-c9addf00-5fc6-11ea-833b-9ec3229c2210.png)
https://paddlepaddle.org.cn/documentation/docs/zh/install/compile/compile_Ubuntu.html

[2020-03-06 08:41] yaoxuefeng6 commented on #22886
看起来没什么问题 可以根据文档 先clone 再optimize测试下

[2020-03-06 08:45] ydchen9 commented on #22886
谢谢您的解答，文档我看了。我的疑问主要在于模型预测上。对同一个模型，用不同的program做预测，得到不同的结果，哪个是对的我不懂？我想知道哪个program预测的结果是对的？

[2020-03-06 08:48] yaoxuefeng6 commented on #22886
看代码原始program添加了优化器进行了优化操作。请确认是否第一个结果是训练得到的指标

[2020-03-06 09:05] ydchen9 commented on #22886
是的，第一个结果是训练（的program）得到的指标（y值）。原始program是训练program，它是添加了优化器的。
从原始program中clone一个测试program。在测试时，用这两个program（一个是原始的，一个是clone的）来做预测，这两个program的fetchlist是同一个变量，即y_predict，然而，它们得到不同的预测的y值。
原始program中有优化器，您的意思是因为优化器的缘故而预测值发生偏差吗？
但是我的理解是，在y_test, = exe.run(train_program, feed={"x":x_data_train[7:], "y":y_data_train[7:]}, fetch_list=[y_predict])这个语句中，虽然是做了一次优化，但是在这个优化过程中首先要经过前向计算，获得y_predict，然后再算误差再进行优化，而

[2020-03-06 09:15] 1024er commented on #22896
感谢指出问题，这个问题已经修复，并 merge，您可以用下面的 pr 里面的新文件替换本地的，来解决这个问题。
https://github.com/PaddlePaddle/Paddle/pull/22508

[2020-03-06 09:40] xperzy commented on #22896
Thanks. Now it looks good to me.

[2020-03-06 09:40] #22896 closed, assigned to nobody

[2020-03-06 10:18] JepsonWong commented on #22874
in https://github.com/pytorch/pytorch/issues/17543 ：
CUDA 9 and RTX 2080 Ti simply aren't compatible and dont play well togethere.
An older CuDNN version working is likely a side-effect rather than expectation.
Use CUDA10 and CUDA10 versions of CuDNN etc. for RTX 2080 which is Turing architecture.

Can you try upgrading CUDA to 10.0?

Can you use docker? Can you try the following docker environmen

[2020-03-06 12:56] Shixiaowei02 commented on #22742
将保存模型的参数去掉 "tgt_start_pos", "data_ids"，并设置 ./finetune/seq2seq.py:242 中临时变量的 persistable 为 False 解决当前不能保存的问题。

请后续注意一下 save_inference_model 对参数的必要条件：
1、每个输入都要有与之在图中连通的一个或多个输出节点；
2、节点不能既是输入节点，又是输出节点。
并且注意慎重显式设置变量为 persistable=True。

Paddle 会尽快增强报错信息，将上述警告直接提示给用户。

谢谢

[2020-03-06 13:22] jczaja opened #22904 "[DNNL] Add inplace support to DNNL ops"
DNNL primitives works faster if computation is in-place e.g. Input and output are the same memory
so input is overwritten by outcome of computation. We checked (using external program) that
DNNL's layer norm takes 30% less time to execute when in-place. We hope that other operators
will gain as well.

Following DNNL operators are supporting in place:
- Layer Norm
- Batch Norm
- softmax
- binary

G