[2020-08-17 13:33] scott0o0 opened #26378 "自定义损失函数无法自动求梯度。"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle 1.8
    3）GPU：2080ti   cuda10.0
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本

- 问题描述：

    想对yolov3计算的损失函数loss = fluid.layers.yolov3_loss()进行补充，增加一项损失与原先的损失之和作为总损失函数total_loss = loss + loss

[2020-08-17 13:59] MRXLT commented on #26328
动态图可以使用tensor的numpt接口
http://180.76.141.178/documentation/docs/zh/beginners_guide/dygraph/DyGraph.html#id15
静态图可以使用print api
http://180.76.141.178/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print
对于优化器的一些中间变量可以调用adam.get_opti_var_name_list来获取变量名，然后通过fluid.global_scope().find_var(var_name).get_tensor()获取对应的tensor，然后使用以上方法打印

[2020-08-18 00:02] txyugood commented on #26345
感谢回复，我把这两行注释掉显存就不会暴涨了。还有个细节就是 u1和 u2是在循环内一直被迭代更新的。如果我不更新 u1 u2，把 divergence 的值赋给一个无关的变量，显存也不会涨，这是不是跟动态图有关？

[2020-08-18 00:34] txyugood commented on #26345
我做了个小demo也会发生这种情况显存会一直涨，原因就是输出的结果经过计算会再下一次迭代作为输入。
[code]

而我的程序里也正好是这样的操作，所以我觉得是同一个问题。 p11,p12,p21,p22 -->u1,u2-->u1x,u1y,u2x,u2y-->p11,p12,p21,p22 ... 形成一个循环。有什么小技巧可以避免这种情况吗？
[code]

[2020-08-18 00:49] gbstack commented on #26328
谢谢 get_opti_var_name_list方法可以成功获取变量名

部分结果
000 = {str} 'conv2d_101.w_0_moment1_0'
001 = {str} 'conv2d_101.w_0_moment2_0'
002 = {str} 'conv2d_101.w_0_beta1_pow_acc_0'
003 = {str} 'conv2d_101.w_0_beta2_pow_acc_0'

但是numpy方法试了下，优化器没有这个方法

还有fluid.global_scope().find_var('conv2d_101.w_0_moment1_0').get_tensor()
其中的fluid.global_scope().find_var('conv2d_101.w_0_moment1_0')返回的是None..

[2020-08-18 01:15] xinsuinizhuan commented on #26330
您好，我想问一下，最后您编译成功了吗？我这边还没成功，报很多错：
![图片](https://user-images.githubusercontent.com/40679769/90459246-5262a680-e133-11ea-9e89-c2f063fa791e.png)
您这边遇到过没？

[2020-08-18 01:17] ShawnXsw commented on #26330
我编译正常的，运行动态库有些问题正在排查

[2020-08-18 01:20] ShawnXsw commented on #26336
1、附加测试1：
   1）PaddlePaddle版本：tag1.8.4
   2）CPU：with openblas
   3）GPU：2080TI，CUDA Version 10.1.243，CUDNN 7.6.5
   4）OS: Windows 10、Python version: 3.7.7
   5）编译静态库

仍然复现上述问题。

2、附加测试2：
   1）PaddlePaddle版本：tag1.8.4
   2）CPU：with openblas
   3）GPU：2080TI，CUDA Version 10.0，CUDNN 7.4
   4）OS: Windows 10、Python version: 3.7.7
   5）编译静态库
正常运行。

[2020-08-18 01:35] xinsuinizhuan commented on #26330
我大概看了下，是protobuf库有问题，并且少那些文件，你有遇到过吗？

[2020-08-18 01:54] Life-0-1 opened #26380 "关于自动化的pyreader.start()调用问题"
<img width="743" alt="截屏2020-08-17 下午5 32 35" src="https://user-images.githubusercontent.com/14857750/90461361-a3c16480-e138-11ea-8738-39628e8ab73f.png">
如果所示，当设置 iterable=False，通过loader.start()来载入数据时，必须采用第一种方式才能顺利运行。如果采用第二种，把loader的定义放在后面，数据会无法载入。

[2020-08-18 01:56] Life-0-1 commented on #26380
可以通过设置iterable=True，并手动编写for循环解决这个问题。希望paddle同学能把通过start()，来载入数据这个问题解决，这样可以保持代码的一致性。

[2020-08-18 02:17] AndersonZhangyq opened #26381 "Confusion about using fluid.layers functions in dygraph mode"
In example code, I found that some funcion in fluid.layers is used in dygraph mode, especially activation function like relu, tanh.
And I found some operations are available in `fluid.layers` while no counterpart could be found in `fluid.dygraph.nn`, such as `fluid.layers.pool3d`.
Is it ok **(gradient with be passed correctly as least)** to assume that we can use all funcion in fluid.layers in dyg

[2020-08-18 02:38] lijianshe02 commented on #26339
请详细描述您的问题并提供您的代码

[2020-08-18 02:45] lxk767363331 commented on #26339
问题是torch中的api与paddle中api我这样的对应关系是否正确
torch.mean= fluid.layers.reduce_mean
torch.max=fluid.layers.reduce_max
在飞浆paddlepaddle公众号的文章中给的是这样的api但是我觉得不对
torch.mean = fluid.layers.mean
torch.max = fluid.layers.argmax
文章链接：https://mp.weixin.qq.com/s/wl9T_Go5V7I_SLDO-xBdNw
代码位置：文章最末尾代码的Spatial Attention Module位置

[2020-08-18 02:50] MARD1NO opened #26382 "Paddle"
您好，最近在看Paddle1.8的文档，请问中英文文档是分开维护的吗
![image](https://user-images.githubusercontent.com/42901638/90464818-b8a1f600-e140-11ea-8547-cfde00062aef.png)
![image](https://user-images.githubusercontent.com/42901638/90464825-bb045000-e140-11ea-9788-da2f9fe15528.png)
一个中文版没有问题，但是在英文版里报错了

[2020-08-18 03:08] lijianshe02 commented on #26361
机器网络问题

[2020-08-18 03:17] thinkall commented on #26309
1. 将本机7.6版本的cudnn相关文件压缩上传到AIStudio（分卷150MB以下）
[code]

2. 合并分卷及解压缩
[code]

3. copy AIStudio现有版本到 /home/aistudio下的子目录

4.用上传的7.6版本替换

5. 修改环境变量
vim .bashrc 添加下面两行（根据实际情况修改路径）
[code]

6. 生效
[code]

[2020-08-18 03:38] barry2025 commented on #26354
换用10.1环境以后用 comitid：ea1c05d0e61ddb1bd69b9f7fa82898a9c9859126 这个官方预编译库，使用gpu，有了新的错误：
![image](https://user-images.githubusercontent.com/20043808/90467588-20f3d600-e147-11ea-9a93-07373e97d6c9.png)

[2020-08-18 03:50] yxhpy commented on #26348
ut-2-59b5f3229448> in <module>
      1 model_128 = model.BigGan128()
----> 2 model_128.train()
~/BIGGAN/model.py in train(self)
    197             g = G(name_scope='G', ch=self.ch, z_dim=self.z_dim, use_bais=self.use_bais, is_sn=self.is_sn)
    198             if self.load_param:
--> 199                 d_model, _ = fluid.load_dygraph('d_%s' % self.check_point_name)
    200                 g_mode

[2020-08-18 04:06] xjhcassy commented on #26309
你们不能直接在AIStudio上解决吗

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Li Jiang<mailto:notifications@github.com>
发送时间: 2020年8月18日 11:18
收件人: PaddlePaddle/Paddle<mailto:Paddle@noreply.github.com>
抄送: xjhcassy<mailto:ygscutyg@outlook.com>; Author<mailto:author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] <<论文复现>>paddle-gpu1.8.3版本需要对应cudnn版本为7.6，而aistudio上为7.3，导致无法使用 (#2

[2020-08-18 05:57] xjhcassy opened #26389 "InvalidArgumentError: Python object is not type of St10shared_ptrIN6paddle10imperative7VarBaseEE at (/paddle/paddle/fluid/pybind/imperative.cc:164)"
paddle1.8.0GPU 报错： 看不懂，请说明一下
InvalidArgumentError: Python object is not type of St10shared_ptrIN6paddle10imperative7VarBaseEE at (/paddle/paddle/fluid/pybind/imperative.cc:164)

[2020-08-18 06:06] zxdawn opened #26391 "Linux安装错误 dlopen: cannot load any more object with static TLS"
## Info

Output of `python summary_env.py`:
[code]

## Installation

- installed by pip:

[code]

- outpt of `conda list paddle`:

[code]

## Error
[code]

## Debug

I've tried to compile the `glibc 2.18` with `DTV_SURPLUS=32` according to this [suggestion](https://github.com/PaddlePaddle/Paddle/issues/21760#issuecomment-569213146) and add it to `LD_LIBRARY_PATH`:
`export LD_LIBRARY_PATH=/public/h

[2020-08-18 08:06] baigang666 commented on #26330
@xinsuinizhuan
您好，我在win10 vs2015 编译  想问一下：下面这些输入和输出正常么？我编译总是遇到mkl-dnn 编译出错且找不到cuda_error_ph.h 文件

D:\Paddle-1.8.4\build_2015>cmake .. -G "Visual Studio 14 2015" -A x64 -T host=x64 -DCMAKE_BUILD_TYPE=Release -DWITH_MKL=ON -DWITH_GPU=ON -DON_INFER=ON -DWITH_PYTHON=OFF -DMSVC_STATIC_CRT=OFF
-- Found Paddle host system: win32, version:
-- Found Paddle host system's CPU: 8 cores

[2020-08-18 08:45] MRXLT commented on #26323
可以试一下用recompute op减小显存占用
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/optimizer_cn/RecomputeOptimizer_cn.html#recomputeoptimizer

[2020-08-18 08:47] #26157 closed, assigned to nobody

[2020-08-18 09:29] liu824 commented on #26306
我需要在初始化的时候使用，请问初始化的时候如何加在guard下呢

[2020-08-18 09:35] bjjwwang commented on #26391
暂时可能没什么办法 只能换个版本或者换个python环境看看 我先记录下

[2020-08-18 09:38] bjjwwang commented on #26389
这个paddle是哪里来的 自己编译的 还是 pip安装的

[2020-08-18 09:38] bjjwwang commented on #26382
感谢指出，我记录下，会尽快修复。

[2020-08-18 09:39] xjhcassy commented on #26389
在aistudio上创建的项目，版本是1.8.0

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Jiawei Wang<mailto:notifications@github.com>
发送时间: 2020年8月18日 17:38
收件人: PaddlePaddle/Paddle<mailto:Paddle@noreply.github.com>
抄送: xjhcassy<mailto:ygscutyg@outlook.com>; Author<mailto:author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] InvalidArgumentError: Python object is not type of St10sha

[2020-08-18 09:43] bjjwwang commented on #26380
好的  谢谢 我记录下

[2020-08-18 10:58] zxdawn commented on #26391
@wangjiawei04 你说的换python环境是指换python版本？我试过`3.7.4`，也不行。

另外因为大型机上不能随意更改其他库，只能装到`glibc 2.18`了。

[2020-08-18 11:56] zzz2010 commented on #26166
@ceci3   a.gradient().set_value()  这个方法应该不行， 因为a.gradient()  在backwards 之前是None， 我希望的是类似pytorch 的save_for_backward函数，这样我可以手动硬set 这个variable的gradient 值。  有无办法实现 类似 pytorch 这个例子呢？  https://pytorch.org/tutorials/beginner/examples_autograd/two_layer_net_custom_function.html

谢谢

[2020-08-18 12:23] scott0o0 commented on #26378
补充一下：计算||X-Y||的目的是计算两个矩阵的欧式距离，即假设矩阵T的大小为[M,D]，训练集矩阵P的大小为[N,D]（测试集中共有M个点，每个点为D维特征向量；训练集中共有N个点，每个点为D维特征向量），计算距离dists。
![image](https://user-images.githubusercontent.com/49825779/90511958-e4000180-e18f-11ea-91ab-8853041df1f8.png)

所需的一些其他函数如指数运算可以用paddle.fluid.layers.exp(x, name=None)，试了一下并不会使梯度的记录消失。觉得应该可以直接使用吧。^_^

[2020-08-18 12:25] miojibaiyu opened #26406 "技术咨询，ConvLSTM模型如何在pp上实现？"
技术咨询，ConvLSTM模型如何在pp上实现？，初学者
主要通过lstm思想，做图像时间序列的学习

[2020-08-18 12:54] HN123-123 opened #26408 "Segmentation fault (core dumped)"
TSN测试时，报错“Segmentation fault (core dumped)”，升级版本，还是报同样错误。
![image](https://user-images.githubusercontent.com/54923253/90515277-fc264f80-e194-11ea-80e0-ef1396f30b0f.png)

[2020-08-18 13:19] weiexcelpro opened #26410 "[论文复现] 看不懂的异常消息"
复现时出现以下报错：看不懂，并且百度不到，望指教
Traceback (most recent call last):
  File "main.py", line 129, in <module>
    train_logger, train_batch_logger)
  File "/home/aistudio/train.py", line 32, in train_epoch
    outputs = model(inputs)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/layers.py", line 460, in __call__
    outputs = self.forward(*inputs, **kwargs)

[2020-08-18 13:32] HN123-123 commented on #25315
您好，我在测试模型时也遇到同样的问题，
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/sklearn/externals/joblib/externals/cloudpickle/cloudpickle.py:47: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
W0818 21:20:17.500154  4207 init.cc:216] Warning: PaddlePaddle catches a failure signal, it may not work prop

[2020-08-18 13:34] xjhcassy commented on #26410
同问，我也遇到这个问题

[2020-08-18 15:57] #26299 closed, assigned to nobody

[2020-08-18 16:03] bjjwwang commented on #26408
TSN测试是什么样的

[2020-08-18 17:07] kgkzhiwen opened #26417 "【论文复现】如何快速初始化CNN参数？"
假设我在网络里定义了一堆CNN，现在我需要为它们设定kaiming初始值，我知道我可以在每一行定义中加入类似 params_attr=fluid.initalizer.MSRA() 来实现目的。当CCN层太多的时候，这种方法就很麻烦，而且也不利于后续的改动，比如我要试试xavier初始值，我要一行一行的再改回来。因此我想知道怎么样用代码去跑一个循环来实现设定初始值的目的？

[code]

[2020-08-18 23:35] lidanqing-vv commented on #26256
@ddokupil  Have you verified if this issue still a problem?

[2020-08-18 23:41] lidanqing-vv commented on #26256
@ddokupil  remove -Werror in CMake it will pass. If it is automation process, maybe add some option or script etc?

[2020-08-19 00:37] HN123-123 commented on #26408
是TSN网络的模型，具体代码如下：

[code]

[2020-08-19 00:49] sincerevertigo commented on #26160
谢谢！！！

[2020-08-19 00:49] #26160 closed, assigned to nobody

[2020-08-19 01:10] wadefelix commented on #26330
问题1 下载github上的第三方库的问题，在相应的cmake文件中更好为国内镜像源或本地镜像源即可。
问题2 protobuf问题，换为最新版protobuf代码可以编译通过。
问题3 `TensorCheckerVisitor.apply`就没有针对`::paddle::platform::float16`的类型执行模板实例化，因为这个float16在这个环境下是个struct。`std::is_floating_point`不包含这个float16.

[2020-08-19 02:21] geekhch opened #26421 "paddle1.8是否有AdamW的实现方案？"
+ PaddlePaddle版本：1.8

在微调ernie的过程中，需要使用weight_decay。但传统Adam被证实与L2正则不兼容，请问paddle中的L2Decay是否能在Adam中使用，这里的Adam优化器是经过修正的吗？

[2020-08-19 02:22] #25122 closed, assigned to guoshengCS

[2020-08-19 02:30] geekhch commented on #26421
补上论文地址：[DECOUPLED WEIGHT DECAY REGULARIZATION](https://arxiv.org/pdf/1711.05101.pdf)

[2020-08-19 02:55] ddummkopfer opened #26424 "【Urgent!】paddle.fluid.layers.adaptive_pool2d"
I use  **paddle.fluid.layers.adaptive_pool2d(..., pool_type='max', require_index=True ,...)**
the output index are the index in the global input matrix or the index in the kernel size?

Thank you so much. It is urgent for me.

[2020-08-19 02:56] caikw0602 opened #26425 "【论文复现】程序卡死问题"
通过使用paddle复现论文UGATIT过程中出现的问题：
在执行下面一句代码时，程序一直运行，无报错，但是始终无法执行到下一句代码，卡死在这句指令运行：
![image](https://user-images.githubusercontent.com/45365909/90586954-e81d3500-e20a-11ea-8817-40db5fc38135.png)
程序运行到第一个断点，无法执行到第二个断点处，其中self.gmp_fc()定义为：
![image](https://user-images.githubusercontent.com/45365909/90587049-100c9880-e20b-11ea-80d7-a0edc66fc209.png)

[2020-08-19 03:28] chfhf commented on #26323
此问题已自行解决，UGATIT遇到显存爆掉，基本就是网络中，计算矩阵乘法的问题，需要自行对所有的shape 比对源代码，比较突出的是gmp_weight和gap_weight两处取list(xxx.parameters())[0]此处的shape，paddle和pytorch不一样，注意

[2020-08-19 03:29] #26323 closed, assigned to MRXLT, phlrain

[2020-08-19 03:43] kgkzhiwen opened #26429 "【论文复现】如何载入预训练好的参数"
再这个网址下载来VGG预训练好的模型参数： https://paddle-imagenet-models-name.bj.bcebos.com/VGG19_pretrained.tar

请问要怎么样把这些参数载入到VGG19的动态图中？

[2020-08-19 03:44] #26417 closed, assigned to nobody

[2020-08-19 04:09] a2824256 opened #26430 "win10系统下显存使用率0%，却提示显存不足"
- 标题：win10系统下显存使用率0%，却提示显存不足
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）CPU：intel i7-8700k
    3）GPU：NVIDIA TIAN XP
    4）系统环境：win10, conda, python3.7.7
- 训练信息
    1）单机单卡
    2）显存信息
![image](https://user-images.githubusercontent.com/7108023/90590874-3551d480-e214-11ea-931b-cd7a9773175f.png)
    3）Operator信息
- 复现信息：自己编写的一份代码，用于信号预测
- 问题描述：
报错信息：
[code]
train.py文件代码：
[code]
conda 包版本
[code]
训练文件一个957

[2020-08-19 04:16] sincerevertigo commented on #26156
![image](https://user-images.githubusercontent.com/37995641/90591436-b52c6e80-e215-11ea-8bd3-4692ffe369cb.png)

红框中的实现能否帮忙看一下行不行。

[2020-08-19 05:08] ceci3 commented on #26156
itertools.chain链接的用法在develop的paddle可以，其他版本不行，可以直接用+

[2020-08-19 05:10] luolimingfighting opened #26433 "acc不收敛多个epoch依然很低"
import paddle.fluid as fluid
import paddle
import shutil
import six
import os
import time
import numpy as np
from paddle.fluid import compiler

# define reader
def reader_creator(label_dic, col_dic, max_value, file_list, is_train):
    def reader():
        for file in file_list:
            files = os.listdir(file)
            for data in files:
                with open(file+data, "r") as f:

[2020-08-19 06:08] xinsuinizhuan commented on #26330
36>I:\PaddlePaddle\PaddlePaddle\Paddle-develop\paddle/fluid/platform/errors.h(23,10): fatal error C1083: 无法打开包括文件: “paddle/fluid/platform/error_codes.pb.h”: No such file or directory
39>I:\PaddlePaddle\PaddlePaddle\Paddle-develop\paddle/fluid/platform/errors.h(23,10): fatal error C1083: 无法打开包括文件: “paddle/fluid/platform/error_codes.pb.h”: No such file or directory
38>I:\PaddlePaddle\PaddlePaddle\Pa

[2020-08-19 06:16] hong19860320 commented on #26424
The index in the global input matrix, plz ref to https://github.com/PaddlePaddle/Paddle/blob/e89c16b90d0169a994fbb345ff79067ae7c8295c/paddle/fluid/operators/math/pooling.cu#L1245 for more details.

[2020-08-19 06:20] phlrain commented on #26345
这个问题是这样，动态图在op正向执行的时候，会构建反向图，反向图会hold正向的tensor，导致临时的tensor不被释放。对于训练来说，如果一个step需要使用上一个step的一些返回，需要阻止将tensor添加到计算图中， 可以设置 var.stop_gradient = True

[2020-08-19 06:21] hong19860320 commented on #26425
@caikw0602 能否提供我能简单复现的python脚本吗？

[2020-08-19 06:23] phlrain commented on #26345
如果只是做预测，也是通过  with fluid.dygraph.no_grad(): 这种context manager的方式

[2020-08-19 06:26] caikw0602 commented on #26425
没问题的，能否提供邮箱or微信？我打包发送？

[2020-08-19 06:26] supyer9 opened #26437 "如何拿出Paddle模型中某一层训练好的网络权重？"
如何将 PaddleOCR 中定义的 MobileNet 和 DB 网络单独某一层的训练好的权重 拿出来？

[2020-08-19 06:27] hong19860320 commented on #26425
直接把脚本贴在这里，或者在AI Studio创建个工程，把链接给我？

[2020-08-19 06:35] caikw0602 commented on #26425
好的，我建立了一个Aistudio工程：
https://aistudio.baidu.com/aistudio/clusterprojectdetail/741038

[2020-08-19 06:36] ceci3 commented on #26166
save_for_backward 在上面的示例里是保存前向的input吧？ 相应接口在paddle里是没有的.. 或者可以通过hook试下？

[2020-08-19 06:36] ddummkopfer commented on #26424
Thank you @hong19860320 so much.

[2020-08-19 06:36] #26424 closed, assigned to nobody

[2020-08-19 06:53] hong19860320 commented on #26437
可以参考https://paddlepaddle.org.cn/documentation/docs/zh/faq/train_cn.html#q-numpyfcw 打印出某层的weight变量对应的tensor值。

具体的print(numpy.array(fluid.global_scope().find_var("weight_name").get_tensor()))

[2020-08-19 06:59] supyer9 commented on #26437
好的，谢谢

[2020-08-19 07:06] hong19860320 commented on #26421
1.8版本的AdamW可以参考这个用法https://github.com/PaddlePaddle/Paddle/blob/c4a972c2bf64355b8cfd60ccf5bc9589538871bc/python/paddle/fluid/contrib/extend_optimizer/extend_optimizer_with_weight_decay.py#L121

https://github.com/PaddlePaddle/Paddle/blob/c4a972c2bf64355b8cfd60ccf5bc9589538871bc/python/paddle/fluid/contrib/tests/test_weight_decay_extend.py#L103

[2020-08-19 07:08] hong19860320 commented on #26425
这个工程不完整吧，是否需要dataset和执行脚本呢？

[2020-08-19 07:14] hong19860320 commented on #26429
可以参考 https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleCV/image_classification的步骤 ，里面包含vgg的组网脚本（静态图的）。

[2020-08-19 07:24] chunfeng0301 commented on #26070
有怎么实现上面代码的答案了么？

[2020-08-19 07:24] hong19860320 commented on #26430
可以参考这个issue尝试调小batch_size 试试 https://github.com/PaddlePaddle/Paddle/issues/23867 ，然后建议使用nvidia-smi命令查看GPU内存使用情况

[2020-08-19 07:30] caikw0602 commented on #26425
你好，我新建了一个项目，增加了数据集，运行脚本为'main.py'
https://aistudio.baidu.com/aistudio/projectdetail/741189

[2020-08-19 07:35] sandyhouse commented on #26070
可参考上面的思路实现 @chunfeng0301

[2020-08-19 07:40] yeguang1991 opened #26443 "我安装了nvidia-docker，为什么训练的时候使用的是CPU，怎么使用GPU资源"

[2020-08-19 07:56] hong19860320 commented on #26443
请使用nvidia-smi命令确认GPU是否可用，然后确认是通过pip install paddlepaddle-gpu 安装了gpu版本的paddle。

[2020-08-19 07:57] kgkzhiwen commented on #26429
我需要动态图的例子。

[2020-08-19 08:03] arlesniak commented on #25872
### Update
Because some PR's are already merged, please see the updated info:

 ## Which PRs have to be merged to run Dygraph OneDNN training
 ### Required

- don't clear mkldnn cache in block_op executor dtor #25735

 ## Instructions how to run Dygraph OneDNN training
 ### ResNet

 `FLAGS_use_mkldnn=true python train.py`
 You also have to add `use_mkldnn=True` to ops which are not imported from d

[2020-08-19 08:08] lps683 commented on #25940
类似这样 是否可以 paddle本地跑没问题
求和融合以及concat融合方式
![image](https://user-images.githubusercontent.com/17926197/90609152-3267db80-e236-11ea-96cd-34986f6ae3e1.png)

[2020-08-19 08:19] yeguang1991 commented on #26443
![image](https://user-images.githubusercontent.com/66579493/90610145-9939c480-e237-11ea-8db5-7f7a607dd6f7.png)
![image](https://user-images.githubusercontent.com/66579493/90610169-a0f96900-e237-11ea-815b-d2011db69d3f.png)
都是正常安装的，我宿主机可以使用GPU训练，但是docker不行

[2020-08-19 08:19] yeguang1991 commented on #26443
都是正常安装的，我宿主机可以使用GPU训练，但是docker不行
![image](https://user-images.githubusercontent.com/66579493/90610291-cbe3bd00-e237-11ea-9170-f00ca7a0e091.png)
![image](https://user-images.githubusercontent.com/66579493/90610302-cf774400-e237-11ea-8d8e-24a9c7bb53f1.png)

[2020-08-19 08:32] OleNet opened #26448 "大于等于5维的reduce操作竟然会算错？"
[code]

输出是
numpy 计算的广播之后的reduce是：

[code]

paddle 计算的广播并且reduce_sum 之后是：

[code]

简单测试了下， paddle 的高维reduce_sum 和 reduce_mean 都有问题

1.8.0 和 1.8.2 都能复现

[2020-08-19 08:56] Yelrose commented on #26448
[code]

这里有个简单的reduce 测试代码，CPU和GPU跑分别如下

[code]

[code]

[2020-08-19 09:17] hong19860320 commented on #26448
已经在最新develop版本修复了，可以查看这个commit https://github.com/PaddlePaddle/Paddle/commit/0eb1b0bc0110e8aa16d0d51198701e1885edc009#diff-0841d6a94f457b7d26078df4691b090b

[2020-08-19 09:23] OleNet commented on #26448
所以7维以上还是不太行？

[2020-08-19 09:27] hong19860320 commented on #26448
嗯，可以自己先照着修改试试

[2020-08-19 09:39] luolimingfighting commented on #26433
已解决

[2020-08-19 09:39] #26433 closed, assigned to nobody

[2020-08-19 09:53] shaofeifei11 opened #26456 "执行fluid.optimizer.AdamOptimizer.minimize()函数报错"
PaddlePaddle版本：1.8.1

center_loss = fluid.layers.sigmoid_cross_entropy_with_logits(label=self.center_ness, x=self.predict_center)
self.center_loss = fluid.layers.reduce_mean(center_loss, name="center_loss")

self.opt = fluid.optimizer.AdamOptimizer(learning_rate=0.001, beta1=0.9, beta2=0.999)
self.opt.minimize(self.center_loss)  #  这一段报错

报错信息：
![image](https://user-images.githubusercontent.com/50

[2020-08-19 10:38] hong19860320 commented on #26443
看环境可以使用GPU的，在训练的时候，使用CUDA place就行了

place=paddle.CUDAPlace(0) if core.is_compiled_with_cuda() \
            else paddle.CPUPlace()

[2020-08-19 10:39] hong19860320 commented on #26443
docker里面调用nvidia-smi也正常？

[2020-08-19 10:43] itsallonetome opened #26458 "Language on Releases page"
Could you find a method of either clearing the "English" language tag on the Release page (so browser translators will work) or some other method for people who aren't fluent in Chinese to understand what's been released.

Thanks.

[2020-08-19 10:54] hong19860320 commented on #26456
能把完整的脚本发下吗？

[2020-08-19 10:55] DDDivano commented on #25703
create_graph = False, retain_graph = False

[2020-08-19 11:12] zhangylch commented on #25703
这样不就是不能求二阶导了吗？

[2020-08-19 11:13] chenwhql commented on #26380
采用 iterable=False的话，原理上调用DataLoader会向当前网络中插入数据读取的op，而数据读取的op需要插入到网络头部，所以这个需要在simple_net之前调用，这里的顺序是耦合的，这也是这种用法的特点和局限，这个在原理上就是这样的

如果需要顺序解耦，需要使用iterable=True的方式

[2020-08-19 11:32] #24751 closed, assigned to nobody

[2020-08-19 11:47] bjjwwang commented on #26389
这个是在什么时候触发的 方便share一下aistudio 的 notebook吗

[2020-08-19 11:49] bjjwwang commented on #26381
A certain thing is Paddle 2.0 will make users feel much less confused about apis.
But current version, I am consulting specialists how to check the appropriate apis  for dygraph mode.

[2020-08-19 11:57] bjjwwang commented on #26406
https://github.com/PaddlePaddle/models/search?q=LSTM&unscoped_q=LSTM 可以先参考下models库下关于LSTM相关代码呢。

[2020-08-19 12:22] bjjwwang commented on #26410
好的 我马上复现下

[2020-08-19 12:30] wadefelix commented on #26330
protobuf库没有编译成功。更改那个probobuf的cmake文件https://github.com/wadefelix/Paddle/commit/ecb44dd6078ee738dcff765bd5538901ac142a6d

[2020-08-19 12:47] chunfeng0301 commented on #26070
谢啦 确实可行

[2020-08-19 12:55] sincerevertigo commented on #26156
谢谢！！！

[2020-08-19 12:55] #26156 closed, assigned to nobody

[2020-08-19 13:18] Ryan906k9 opened #26466 "【论文复现】UGATIT 关于spectral_norm：'Conv2D' object has no attribute 'weight'"
[code]
尝试一下这样的写法把

_Originally posted by @LielinJiang in https://github.com/PaddlePaddle/Paddle/issues/26229#issuecomment-674106061_

Traceback (most recent call last):
  File "main.py", line 94, in <module>
    main()
  File "main.py", line 86, in main
    gan.train()
  File "/home/aistudio/UGATIT.py", line 278, in train
    real_GA_logit, real_GA_cam_logit, _ = self.disGA(real_A)
  File "/opt/co

[2020-08-19 13:35] MRXLT commented on #26328
numpy是tensor的方法，动态图下获取adam中的所有tensor值可以用state_dict
示例代码如下
[code]

[2020-08-19 13:47] hong19860320 commented on #26458
Thank you for your advise，we had provided both English and Chinese release note for the main version(1.8.4 and 2.0.alpha) of PaddlePaddle.
plz ref to https://github.com/PaddlePaddle/Paddle/releases for the detail.
![image](https://user-images.githubusercontent.com/9973393/90642820-745c4600-e265-11ea-9f2a-6860cd00312f.png)
![image](https://user-images.githubusercontent.com/9973393/90642948-9a81e600

[2020-08-19 14:36] #23125 closed, assigned to xjqbest, guru4elephant

[2020-08-19 14:48] Costwen opened #26469 "[论文复现] 通过creater_parameter创建的层中参数在反向传播的过程之中没有更新"
`

    class adaILN(fluid.dygraph.Layer):

    def __init__(self, in_channels, eps=1e-5):
        super(adaILN, self).__init__()
        self.eps = eps
        self.rho = fluid.layers.create_parameter((1, in_channels, 1, 1), dtype='float32', is_bias=True,
        default_initializer=fluid.initializer.ConstantInitializer(0.9))

    def var(self, input, dim):
        mean = fluid.layers.reduce_mean(

[2020-08-19 15:00] chunfeng0301 commented on #26070
报如下错误
File "/home/aistudio/model/rep_flow_layer_pp.py", line 142, in forward_grad
    grad_x = stack(temp, axis=3)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/layers/nn.py", line 10979, in stack
    attrs={'axis': axis})
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/layer_helper.py", line 43, in append_op
    ret

[2020-08-19 21:59] oytang commented on #26466
生成网络实例的部分是怎么写的？

[2020-08-19 22:10] dbsxdbsx opened #26471 "paddle是否支持自定义优化器"
如看到一篇新的loss函数论文，可能paddle本身并没有提供其实现，那有没有办法继承某些接口我们自己去写呢？

[2020-08-19 22:21] oytang commented on #26189
建议在1.8版本下进行复现，hapi内的transform模组可以自己实现

[2020-08-20 00:02] LielinJiang commented on #26466
错误像是你把conv的layer先传给SpectralNorm，然后又将layer做了其他的运算，可以检查一下把

[2020-08-20 00:35] Ryan906k9 commented on #26466
谢谢，你是对的！

[2020-08-20 00:35] #26466 closed, assigned to nobody

[2020-08-20 01:31] YanCj opened #26472 "Paddle是否支持计算张量的范数，需要调用哪个API？"
如题，最近在做对抗样本相关的工作，有时需要在损失函数里约束添加张量的p-范数大小，但是找了好久似乎并没有找到相应的API，例如pytorch中的torch.norm()或是TensorFlow中的tf.norm()

[2020-08-20 01:50] wangchaochaohu commented on #26471
如果需要可以参考新增OP的实现 文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/index_cn.html

欢迎贡献代码

[2020-08-20 01:52] wangchaochaohu commented on #26472
Paddle2.0是支持的 可以参考文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-alpha/api_cn/tensor_cn/norm_cn.html

[2020-08-20 01:59] a2824256 commented on #26430
找到问题了，运行的时候C盘要有缓存空间，刚好我C盘没剩余多少空间了，删了一部分没用的东西就可以运行了

[2020-08-20 01:59] #26430 closed, assigned to nobody

[2020-08-20 02:19] chfhf opened #26473 "【论文复现】aistudio问题"
点击文件出现：
Request has been terminated Possible causes: the network is offline, Origin is not allowed by Access-Control-Allow-Origin, the page is being unloaded, etc.
怎么解决？

[2020-08-20 02:25] yeguang1991 commented on #26443
dockers里面不行

[2020-08-20 02:28] trytodoit227 opened #26474 "论文复现（3D ResNets for Action Recognition）"
加载预训练模型参数后，测试集的准确率（达到95%）与验证集的准确率（70%）相差较大，请问这个过拟合的原因大概是什么因素造成的呢？
![image](https://user-images.githubusercontent.com/64091668/90709839-ae623200-e2cf-11ea-8545-5db3feb2079f.png)
test list文件中显示的这个错误会不会是造成过拟合的原因呢？

[2020-08-20 02:42] wangchaochaohu commented on #26473
这边提示应该网络问题

[2020-08-20 02:49] dingsiyu opened #26476 "NotFoundError: No Input(DOut) found for mul operator"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）CPU：
    3）GPU：v100， cuda 10, cudnn 7.2
    4）系统环境：python2
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训练信息
    1）多机多卡

- 复现信息：如

[2020-08-20 02:51] wangchaochaohu commented on #26476
这里应该是double grad 的一个bug  我这边反馈下 进行相应的修复

[2020-08-20 02:59] AddASecond commented on #25882
问题解决了吗？我遇到了相同的问题

[2020-08-20 03:38] shaofeifei11 commented on #26456
谢谢，我已经复现问题了。我简写了一个例子，找到相同问题了。

错误代码：
from paddle import fluid
import numpy as np

x = fluid.layers.data(shape=[-1, 3], dtype='float32', name="x", append_batch_size=False)

w = fluid.layers.create_parameter(shape=[3, 2], dtype="float32", name="w",
                                  attr=fluid.ParamAttr(name="w", regularizer=fluid.regularizer.L2Decay))
                ### 如果 fluid.regularizer.L2Decay

[2020-08-20 03:38] wangchaochaohu commented on #26476
这里应该是一个bug 后续反馈修复下

[2020-08-20 04:02] starsblinking opened #26479 "embedding设is_distributed=True训练报错"
fluid.layers.embedding设is_distributed=True则报错，is_distributed=False则正常跑。本来就是3台机子分布式跑，为啥一开is_distributed就不行了呢。报错信息如下：
Traceback (most recent call last):
  File "train.py", line 166, in <module>
    train(params)
  File "train.py", line 116, in train
    optimizer.minimize(avg_cost)
  File "/XXXXXXX/distribute_ctr/paddle2/lib/python2.7/site-packages/paddle/fluid/incubate/fleet/parameter_server/distri

[2020-08-20 04:45] wangchaochaohu commented on #26474
标出来的并不是的错误 过拟合的可能是网络结构或者训练过程中的一些问题

[2020-08-20 05:01] seiriosPlus commented on #26479
`is_distributed`这个flag在1.6以后的版本会有使用上的问题。

1. 可以使用1.6的版本进行相应的验证。
2. 此功能在目前develop版本上已经进行了修复和重新设计， 可以使用最新的develop版本。

[2020-08-20 05:12] huangjun12 commented on #26474
(1) 不是的，testlist是文本文件，不是代码文件，标红跟错误提示是针对代码文件的，testlist文件标红是属于误标了，问题不在于它；
(2) 加载预训练模型后，需要先在ucf-101数据集上fine-tune，再观察测试集与验证集的准确率；
(3) 如果出现过拟合，可能原因有很多，建议跟源码对齐下超参数，比如学习率、batch_size等。

[2020-08-20 05:25] Springzcf commented on #22242
用的版本是paddlepaddle 1.8.4，CPU版本，需要对工程进行pyinstaller打包，环境是centos7，打包过程没有错误，但是打包成可执行程序，运行的时候，遇到import paddle 就会卡死，没有报错，查询内存 线程使用情况，每隔几秒就会创建一个线程。但是还没有任何反应。然后写了一个很简单的demo，只有几行代码，from paddle.fluid.core import AnalysisConfig, create_paddle_predictor,也会出现类似的问题。应该在paddle初始化的时候有问题。请问有什么解决方案吗？

[2020-08-20 05:53] starsblinking commented on #26479
好的，请问在develop里的修复之后是会引入到1.8.5+还是直接引入到2.0里呢？

[2020-08-20 06:30] QingYuan-L commented on #22153
你好　，这个问题为什么关闭了呢？　我也遇到了这个问题，显存没有自动释放

[2020-08-20 06:39] seiriosPlus commented on #26479
会直接引入2.0

[2020-08-20 06:53] #26471 closed, assigned to nobody

[2020-08-20 07:04] hong19860320 commented on #26469
得用self.create_parameter创建parameter，不能用fluid.layers.create_parameter

https://github.com/PaddlePaddle/Paddle/blob/f79526c21c81a87faf843d2b80d1b6609431b277/python/paddle/fluid/dygraph/rnn.py#L165

[2020-08-20 07:14] txyugood commented on #26345
确实设置p11,p12,p21,p22的stop_gradient为True，可以减少显存占用，但还需要一些修改不影响参数更新，问题解决，非常感谢！

[2020-08-20 07:14] #26345 closed, assigned to lijianshe02

[2020-08-20 07:26] #26479 closed, assigned to nobody

[2020-08-20 07:35] hong19860320 commented on #26429
可以参考这两个issue 提到的方法

https://github.com/PaddlePaddle/Paddle/issues/25883
https://github.com/PaddlePaddle/Paddle/issues/25719

[2020-08-20 07:42] hong19860320 commented on #26443
嗯看样子docker里面没有gpu的环境，你需要通过nvidia-docker run命令启动docker，Paddle已经提供了ubuntu cuda9和cuda10的docker镜像了 https://www.paddlepaddle.org.cn/

![image](https://user-images.githubusercontent.com/9973393/90731064-bd5ed980-e2fb-11ea-9133-18771623f18d.png)

[2020-08-20 07:46] hong19860320 commented on #26456
赞👍🏻 这个错误很隐蔽，看样子fluid.ParamAttr需要加参数check

[2020-08-20 07:51] hong19860320 commented on #26466
lielin大佬V5

[2020-08-20 09:08] yeguang1991 commented on #26443
用paddle提供的cuda10的镜像，输nvidia-smi也不行

[2020-08-20 12:25] Costwen commented on #26469
尝试过还是不行,梯度仍然不更新
同时我也有在用fluid.layers.create_parameter时打印model中的可更新的参数和backward网络的梯度，发现rho都在里面而且梯度并不为0

[2020-08-20 12:33] Ryan906k9 opened #26503 "【论文复现】pytorch 中的 backward 和 step 对应 paddle 中如何改写"
pytorch 代码如下：
[code]

对应paddle 的是只要这么改吗？
[code]

其中`self.G_optim.step()`对应paddle 中的什么呢？

[2020-08-20 12:38] Ryan906k9 opened #26505 "【论文复现】clear_gradients() 报错 TypeError: 'NoneType' object is not iterable"
[code]
请问这个报错可能是什么导致的？

[2020-08-20 12:41] chunfeng0301 commented on #26327
什么时候解决啊
能满足
grad_y[:,:,-1:]=0
temp = unstack(grad_y, axis=2)
temp[-1] = 0
grad_y = stack(temp, axis=2)
还是需要拼接的意思？

[2020-08-20 13:26] saxon-zh commented on #26473
可以看看网络通信恢复后是否正常，如果还有问题可以将问题发邮件至aistudio@baidu.com。

[2020-08-20 13:26] #26473 closed, assigned to nobody

[2020-08-20 13:32] saxon-zh commented on #26503
可以参见这个文档说明查看对应的API：[命令式编程使用教程](https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id7)

[2020-08-20 16:36] wangchaochaohu commented on #26505
如果调用clear_gradients只能在动态图下进行调用 这边把代码贴出来吗

[2020-08-21 02:03] Ryan906k9 commented on #26505
可能是缩进问题，已经修复

[2020-08-21 02:03] #26505 closed, assigned to nobody

[2020-08-21 02:10] #26503 closed, assigned to nobody

[2020-08-21 02:36] Costwen commented on #26469
找到问题了,问题出在itertool.chain（） 组合出的参数
paddle的optimizer并不能使用，导致所有的参数都不能更新..

[2020-08-21 03:00] zky001 commented on #21708
同问

[2020-08-21 03:02] chunfeng0301 opened #26518 "【论文复现】v1[mask1] = (l_t * grad2_x)[mask1]"
v1
mask1 = (rho < -l_t * grad).detach()
v1[mask1] = (l_t * grad2_x)[mask1]

有能实现如上的简洁方法么，不能索引赋值操作

[2020-08-21 03:12] NHZlX commented on #26354
此问题通过log看应该是gcc版本不一致的问题。请check下。

[2020-08-21 03:15] chenwhql commented on #26518
麻烦能具体一点吗？比如有没有完整的示例？这样写不work的话目前报错是什么？

[2020-08-21 03:17] #26296 closed, assigned to ysh329

[2020-08-21 03:35] supyer9 opened #26519 "是否有API可以获取到所有参数权重的name"
是否有api可以获取到所有参数权重的名称，例如返回所有的 ParamAttr(name=name + '_weights') 中的name的name列表。

[2020-08-21 03:46] kelvi opened #26521 "py_reader的layer.read_files出来的var的name塞到save_inference_model的feeded_var_names里面报找不到 ValueError: var read_file_0.tmp_0 not in this block"
py_reader的layer.read_files出来的var的name塞到save_inference_model的feeded_var_names里面报找不到 ValueError: var read_file_0.tmp_0 not in this block
    1）PaddlePaddle版本：1.8.3
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：cuda9
    4）系统环境：centos python2.7（如Mac OS 10.14），Python版本

[2020-08-21 04:12] chenwhql commented on #26521
方便把整个报错栈贴一下吗

[2020-08-21 04:24] chenwhql commented on #26519
没有直接获取名称的api，但有获取参数的，可以先获取参数再处理下就能得到name列表。

请问您使用的是动态图还是静态图

[2020-08-21 06:15] supyer9 commented on #26519
@chenwhql
是静态图。我想把我的问题描述的再具体一些：
1.我有一个paddle训练好的模型，其中包括model和params两个文件，能否单独的用numpy读取出params中的内容。得到权重的名称和值。
2.如果上述方法不可行的话。我知道用fluid.global_scope().find_var("weight_name").get_tensor()可以获取到某一个权重具体的值，那么是否存在调用一个函数，能够直接获取到网络所有权重的值呢？

[2020-08-21 06:19] zhenzi0322 opened #26524 "源码编译安装不了paddlepaddle==0.11.0版本"
windows源码编译不了0.11.0的版本

[2020-08-21 06:42] chenwhql commented on #26519
方法1不可行，因为存的格式numpy不能识别

方法2可行，但得看看您的情况，看您的描述，是所有参数都保存的到一个文件里了吗？你要的是值还是变量名呢？

[2020-08-21 07:14] juncaipeng opened #26528 "Multithread error for quantized model on CPU inference"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that th
If there is no solution,please make sure that this is an inference issue including the following details :
**System information**
-PaddlePaddle version: 1.8.4 inference library
-CPU: MKLDNN
-GPU: None
-OS Platform: Ubuntu 16.04.5 LTS
-Python version: None
-Cmake orders
-C++

[2020-08-21 07:19] supyer9 commented on #26519
谢谢你的回复：
方法1，如果不可行，那有没有什么办法将params中的内容读取出来，进行一系列的转化，将其内容打印到屏幕上，之后保存成其他格式呢？
方法2，目前来看，所有的参数都保存到了params里，我想拿到参数值

[2020-08-21 07:35] kelvi commented on #26521
已查出，这个case中是因为我在构建var的时候自己指定了个main_program，然而save_inference_model的时候没有指定main_program导致save_inference_model从default_main_program中找不到var。

[2020-08-21 07:35] #26521 closed, assigned to nobody

[2020-08-21 07:53] chenwhql commented on #26519
我们有个接口叫load_program_state，在这种情况下如果给定所有的参数名，可以拿到参数的dict，但参数名信息在model里

目前确实还不太方便，没有一个接口就能搞定的，近期会发布的2.0-beta版本里会实现用一个接口做这件事

[2020-08-21 07:53] supyer9 commented on #26437
@hong19860320
您好，您说的fluid.global_scope().find_var("weight_name").get_tensor())这个函数， 是否是 只适用于训练过程中或者加载checkpoint文件继续训练才能使用的函数？
现在我有训练好的模型文件，其中他包括了model和params两个文件，我在读取文件进行预测的时候，用到上述命令 拿权重值，会报错：'NoneType' object has no attribute 'get_tensor'
这样的问题该如何处理呢，谢谢。

[2020-08-21 08:01] supyer9 commented on #26519
谢谢。
还想请教下，paddle.fluid.io.load_program_state(model_path, var_list=None)， 这个model_path参数，是指文件名为‘model’的这个文件的路径吗？

[2020-08-21 08:09] chenwhql commented on #26519
目前的话分两步吧：

1. 拿到所有的存储参数的name
2. 根据name列表拿到所有的参数值

第1步：目前应该没有接口，只能自己写段code了，比如下面这样，当然也可以用别的方法，这段code我试了下，应该是ok的，这段code拿到了所有存储参数的name，就是你标题里的问题
[code]

第2步：用下面这个接口

https://www.paddlepaddle.org.cn/documentation/docs/zh/1.7/api_cn/io_cn/load_program_state_cn.html#load-program-state

这种情况下，model_path应该制定你参数名文件的路径，比如，your_save_path/params

不过这都是临时方案，后续我们会把这里完善下

[2020-08-21 08:12] supyer9 commented on #26519
非常感谢！我尝试一下。

[2020-08-21 08:29] huochf opened #26534 "【论文复现】关于AiStudio脚本任务"
咱AI Studio脚本任务中有没有可以永久保存大量文件的路径呐，就如同Notebook那样？
（1）因为咱提供的数据集都是原始数据，数据处理需要耗费大量的时间，比如在TPN那篇论文中，140G的数据集解压一次需要1.4小时，之后没法做抽帧预处理（这样消耗的时间更大）。Few-shot给出的dance数据集如果仅仅只给出视频数据而没有标注的话，从视频帧抽取人体标注也是一个大工作量的任务，不可能每次训练都提取一次标注吧。
（2）训练过程中需要定时保存一下模型，这些模型输出到那个文件目录中？
我刚刚接触脚本任务，对文件组织管理不太清楚，希望得到相关工作人员的反馈，谢谢！

[2020-08-21 09:15] chenwhql commented on #26524
早期版本还不支持windows，为什么要编译这么早的版本呢

[2020-08-21 10:11] luotao1 commented on #25872
[mobilenet-v1.log](https://github.com/PaddlePaddle/Paddle/files/5108199/mobilenet-v1.log)
[mobilenet-v2.log](https://github.com/PaddlePaddle/Paddle/files/5108200/mobilenet-v2.log)
[resnet50.log](https://github.com/PaddlePaddle/Paddle/files/5108201/resnet50.log)
I download the training log of three models in https://github.com/PaddlePaddle/benchmark/tree/master/dynamic_graph. @sfraczek @lidanqing-i

[2020-08-21 10:54] chenwhql commented on #26534
好的，感谢反馈，我们找AiStudio的同学回复下您

[2020-08-21 12:09] R132 commented on #14793
这个例子失效了呀，有没有更新的

[2020-08-21 12:20] sunjie97 opened #26545 "【论文复现】分布式脚本空间"
复现TPN的时候使用kinetics400数据集，在提取rgb图像的过程中突然提示任务失败:
![](https://s1.ax1x.com/2020/08/21/dNaDUJ.png)
日志中没什么异常，就是正常输出正在提取的视频:
![](https://s1.ax1x.com/2020/08/21/dNdbFJ.png)
是不是文件大小超出了系统限制？分布式脚本的空间限制是多少？

[2020-08-21 12:31] R132 commented on #26133
我出现相同错误的原因是因为：
对输入没有采用to_variable调用，比如to_variable(x)
可以参考

[2020-08-21 13:08] R132 opened #26547 "AttributeError: module 'paddle.fluid.dygraph' has no attribute 'enable_imperative'"
使用AIstudio上的paddlepaddle环境，

Python 3.7.4 (default, Aug 13 2019, 20:35:49)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.
import paddle
 paddle.__version__
'1.8.0'

 import paddle.fluid as fluid
 fluid.dygraph.enable_imperative()
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'paddle.flu

[2020-08-21 14:36] saxon-zh commented on #26534
@weiexcelpro 辛苦解答一下

[2020-08-21 14:36] saxon-zh commented on #26545
@weiexcelpro 辛苦解答一下

[2020-08-22 01:42] 1340896123 opened #26553 "[论文复现] 动态图的API缺失"
在pytorch  许多的api接口,.对应paddle的都是静态图的 paddle.fluid.layer  ,但是在论文复现中,paddle使用动态图的方式更好(毕竟调试方便),但是paddle里面缺少了对应api,比如最常见的relu的都没有,所以论文复现只能使用静态图方式,(静态图和动态图也不知道能不能混用,即使混用了,代码维护也极为不便),比如这段pytorch代码
   self.pyramid_fusion_op = nn.Sequential(
            nn.Conv3d(out_dims * 2, 2048, 1, 1, 0, bias=False),
            nn.BatchNorm3d(2048),
            nn.ReLU(inplace=True)
        )
调用
      out = self.fusio

[2020-08-22 01:42] #26553 closed, assigned to nobody

[2020-08-22 04:40] Costwen opened #26555 "[论文复现] 使用fluid.layers.random_crop 函数处理图像有错误"
![1b09bbc700e340d635e70f03688d035](https://user-images.githubusercontent.com/47916831/90948701-f28e3780-e473-11ea-8887-2b1cbb679881.png)
裁剪之后的图像效果显示有重影

`

    def totensor(imgs, type):

    imgs = fluid.dygraph.to_variable(imgs)
    imgs = imgs / 255.
    imgs = fluid.layers.transpose(imgs, (0,3,1,2))
    if type == 'A':
        imgs = fluid.layers.image_resize(imgs, (256+30,256+30))
        imgs

[2020-08-22 05:23] chfhf opened #26556 "【论文复现】Aistudio问题"
![1](https://user-images.githubusercontent.com/19964528/90949444-91b62d80-e47a-11ea-96fb-745abf7f79f0.png)

项目地址如下
https://aistudio.baidu.com/bdvgpu32g/user/288399/739037/notebooks/739037.ipynb
该问题从昨天开始出现，程序可以正常迭代，但跑到可能上千轮就会内存溢出，反复多次皆是如此，
昨天之前训练上万轮都无错误正常结束，从昨天开始出现问题

[2020-08-22 08:53] weiexcelpro commented on #26545
整体空间是300GB的上限. 单个文件尽可能控制在100GB以内吧.
需要您提供一下任务ID (提交任务之后, 表格最左侧会出现任务编号), 才能继续查看原因.

[2020-08-22 08:54] weiexcelpro commented on #26534
1、可以把标注好的文件作为数据集处理
2、模型输出可以保存在该目录下"/root/paddlejob/workspace/output/"

[2020-08-22 08:55] huochf commented on #26534
好的，好的，谢谢！

[2020-08-22 08:56] huochf commented on #26534
和我想到的解决方案差不多。

[2020-08-22 12:08] sunjie97 commented on #26545
好的，大致知道原因了，数据集解压所占的空间远远超过这个空间限制了。谢谢您的解答

[2020-08-22 12:08] #26545 closed, assigned to saxon-zh

[2020-08-22 14:39] saxon-zh commented on #26556
@weiexcelpro 辛苦看看帮忙定位一下问题

[2020-08-22 15:36] R132 opened #26568 "【论文复现】如何构建一个权重已知的卷积层？"
需要使用到高斯滤波进行卷积操作，
通过输入图像计算高斯滤波器卷积核，
pytorch中的conv2d可以通过指定weight=self.weight来实现，Paddle中要如何处理？

查阅了很多api都有一种似是而非的感觉。
使用其他函数库的卷积操作无法使用GPU可能影响效率。

[2020-08-22 16:58] ARDUJS opened #26571 "模型还原训练问题，修改skpt.meta"
### 环境
- AI Studio
- paddle 1.7.2
- paddlehub 1.6
- python 3.7

### 意图
模型训练到了51000step，我想把模型还原到41000step，然后我修改了skpt.meta文件，修改后报错

![image](https://user-images.githubusercontent.com/20811685/90961416-5ac43400-e4db-11ea-9ab2-3dbe766ee4c1.png)

然后我还原skpt.meta文件，把其中41000更正为51000，依旧报错

### 报错内容
[code]

[2020-08-22 17:04] kgkzhiwen opened #26572 "[论文复现】转换Tensor数据类型"
请问要如何转换LoD Tensor的数据类型，比如从int32 转成float32?

[2020-08-23 02:34] mofengboy opened #26574 "[论文复现] paddle.fluid.core_avx.VarBase如何转换为array"
请问 paddle.fluid.core_avx.VarBase如何转换为array

[2020-08-23 04:43] Yuuuuuuuuuuuuuuuuuummy opened #26575 "关于动态图模型保存问题"
环境:
python3.6
paddlepaddle-gpu v1.8.3

Q1: 当多卡训练的时候，例如单机4卡  为什么每个epoch会保存4个模型。
Q2：在多卡训练的时候，保存模型的步骤会随机出现错误， 保存模型用fluid.dygraph.save_dygraph(model.state_dict(), 'path'), 会随机出现pickle.dump的问题， 报MEMORY ERROR， 我看在paddle实现过程中是用pickle.dump()保存模型，网上有人说是因为数据太大了？可是每一代都保存 有时候训练到40多epoch会报错，有时候一上来就报错， 是为什么呢？希望得到解释。

[2020-08-23 08:01] zhupengyang commented on #26572
数据类型转换：[cast](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/cast_cn.html#cast)

[2020-08-23 08:16] zhupengyang commented on #26574
可以使用 [numpy()方法](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Variable_cn.html#numpy) 转为numpy数组

[2020-08-23 08:21] zhupengyang commented on #26568
- conv2d的参数是个 ParamAttr 对象。
![image](https://user-images.githubusercontent.com/50474132/90974276-470ce200-e55c-11ea-85ad-46df766ec634.png)
- ParamAttr 对象可以通过initializer进行初始化。
![image](https://user-images.githubusercontent.com/50474132/90974288-6146c000-e55c-11ea-8b70-4c844a827954.png)
- [NumpyArrayInitializer](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/initializer_cn/NumpyArrayIn

[2020-08-23 13:09] #26528 closed, assigned to nobody

[2020-08-23 13:35] yongqiangma commented on #26547
这个和paddle 版本有关，需要添加fluid.dygraph.enable_imperative()

[2020-08-23 15:29] lyl120117 opened #26578 "[论文复现] torch.optim.Adam和fluid.optimizer.Adam加上weight_decay后，loss无法对齐"
**自己写了一个简单的网络测试使用Adam看pytorch和paddle的loss能否对齐，torch.optim.Adam有个weight_decay，通过查找相关的文档，fluid.optimizer.Adam也可以设置regularization与之对应，实际测试的结果当都不设置weight_decay这个参数时，loss误差为2e-8，加上weight_decay，loss误差为3.8e-3，为啥加上weight_decay后误差会变这么大？**

**Paddle的实现如下：**
`self.optmizes = fluid.optimizer.AdamOptimizer(learning_rate=0.01,
                                                          parameter_list=self.model.p

[2020-08-23 16:28] linhandev commented on #24713
期待早日上3.8,manjaro都是最新的python，为了paddle还得装个conda

[2020-08-24 01:09] yeyupiaoling opened #26581 "在多卡训练过程中出现cudaStreamSynchronize misaligned address错误"
- 系统：Ubuntu 16.04
 - 显卡：2张 2080ti
 - 版本：PaddlePaddle-GPU 1.8.4.post107

[code]

[2020-08-24 01:22] sincerevertigo commented on #26250
安装1.8.3 gpu,cuda9,cudnn7
!export LD_LIBRARY_PATH=/usr/local/cuda/lib64 &&

如上两个操作，解决问题。

[2020-08-24 01:22] #26250 closed, assigned to nobody

[2020-08-24 01:44] willthefrog commented on #26581
deepspeech 相关问题请先移步 [这里](https://github.com/PaddlePaddle/DeepSpeech/)提问，会有相关开发人员回复。

[2020-08-24 01:59] Steffy-zxf commented on #26571
@ARDUJS 你好！请不要修改ckpt.meta文件。可以通过以下方式加载指定的参数：

[code]

[2020-08-24 02:04] chenwhql commented on #26519
同学，这个问题后来解决了吗

[2020-08-24 02:09] chenwhql commented on #26524
同学，0.11.0当时还不支持windows，麻烦使用新版本尝试下

[2020-08-24 02:09] supyer9 commented on #26519
您好，第一步可以获取到 var_names。第二步用fluid.load_program_state这个接口，第一个参数传的是/inference/ch_det_mv3_db/params，第二个参数传的是 params。会报错。
报错信息：
/inference/ch_det_mv3_db/params.pdparams not found
TypeError: value in var_list must be variable
请问下问题出在哪呢？

[2020-08-24 02:14] chenwhql commented on #26519
噢噢，第二个接口load_program_state要求传入的var_list都是Variable类型，比较麻烦了，第二步不太可行。

目前暂时还是用你说的这个方法吧，fluid.global_scope().find_var("weight_name").get_tensor()

这个我们记个需求尽快完善下，让一个接口可以把这些事做完

[2020-08-24 02:18] chenwhql commented on #26547
可以改成用`fluid.enable_dygraph()`去跑

[2020-08-24 02:34] supyer9 commented on #26519
您好，我刚才试了下 fluid.global_scope().find_var("weight_name").get_tensor() 这个接口
会报如下错误，请问是参数传的不对吗？var_names[0]是第一步取到的参数列表中的第一个字符串
program_state = fluid.global_scope().find_var(var_names[0]).get_tensor()
AttributeError: 'NoneType' object has no attribute 'get_tensor'

[2020-08-24 03:11] cissoidx opened #26587 "book中数字识别的例子，cost最小的不是acc最高的epoch"
直接运行官方示例，多次出现标题中的情况。

Paddle version: 1.8.4
Paddle With CUDA: True

OS: debian buster/sid
Python version: 3.6.8

CUDA version: 10.1.243
cuDNN version: 7.6.5
Nvidia driver version: 440.64

![image](https://user-images.githubusercontent.com/17111388/90999734-f51a9980-e5f9-11ea-9a2a-64d87dfec849.png)

为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立

[2020-08-24 03:11] yongqiangma commented on #26555
check一下RGB和BGR的转换时顺序是否正确

[2020-08-24 03:23] willthefrog commented on #26587
loss function和validation metrics存在gap是非常正常的现象，overfitting就是最典型的例子。

[2020-08-24 03:25] supyer9 commented on #26519
@chenwhql
我下载了模型的checkpoint模型（之前使用的是inference模型），用fluid.io.load_program_state接口拿到了所有的参数名称和值，vallist为none。不过目前只能拿出所有的参数，没有发现怎么只拿出特定的参数

[2020-08-24 04:42] cissoidx commented on #26587
哦，对的。被输出的文字有点误导了。不过，这个跟overfitting关系不大吧。

[2020-08-24 04:42] #26587 closed, assigned to nobody

[2020-08-24 05:10] ARDUJS commented on #26571
[code]

[code]

[2020-08-24 06:10] zhupengyang commented on #26578
你好，与torch的对齐问题 @MRXLT 会进行后续的跟进

[2020-08-24 06:16] zhupengyang commented on #26575
你后，动态图模型保存问题后续由 @phlrain 跟进 ~~

[2020-08-24 06:32] phlrain commented on #26575
动态图是通过多进程的方式启动多卡的，需要没有进行一些判断和设置，建议使用以下方式进行判断和处理
if fluid.dygraph.parallel.Env().local_rank == 0：
    fluid.save_dygraph(mnist.state_dict, “path”)

[2020-08-24 06:56] hai715 opened #26597 "torch.autograd.grad到paddle转换后在训练过程中报错，请问什么原因"
![image](https://user-images.githubusercontent.com/59641309/91013107-c9a7a700-e619-11ea-9d3f-a598ac426419.png)
该函数使用后在运行中报错
![image](https://user-images.githubusercontent.com/59641309/91013178-df1cd100-e619-11ea-8a53-6228c8867212.png)
![image](https://user-images.githubusercontent.com/59641309/91013208-e7750c00-e619-11ea-8357-25df61fd496e.png)

[2020-08-24 07:12] Yuuuuuuuuuuuuuuuuuummy commented on #26575
hi, 谢谢  我现在用int(os.getenv("PADDLE_TRAINER_ID", 0))==x 这种方法判断也可以吧？   还有个问题， 就是每张卡的精度不一样，我如果想保存精度最好的那个模型，我应该怎么比较这多个进程的精度呢？

[2020-08-24 07:28] willthefrog commented on #26597
可能不支持double grad吧。按错误信息把`create_graph`设为false试下？

[2020-08-24 07:33] grygielski commented on #25988
https://github.com/PaddlePaddle/Paddle/pull/26502 introduced mechanism for blocking oneDNN cache clearing. For now it's implemented just for `run_program_op`, but can be easily extended to other operators with local executor.

[2020-08-24 07:41] yeyupiaoling commented on #26581
@willthefrog 我不认为这是模型导致的错误，应该是PaddlePaddle使用CUDA的一下问题

[2020-08-24 08:20] starsblinking opened #26600 "关于fleet.save_inference_model的警告"
其实也就是paddle.fluid.io.save_inference_model的警告。
请问为什么会报"please ensure that you have set the auc states to zeros before saving inference model"呢？有点困惑
请问是否有“set the auc states to zeros”的demo呢？

拿https://github.com/PaddlePaddle/Paddle/blob/v1.8.3/python/paddle/fluid/tests/unittests/test_inference_model_io.py 里的test_save_inference_model_with_auc 举例来说：
是因为auc定义的layer会影响到该layer的输入（predict和y），进而影响到也使用了同样输入

[2020-08-24 08:34] sincerevertigo opened #26602 "【论文复现】UGATIT 关于AIStudio脚本模式"
脚本模式下，可以用动图吗？
还是只能用静态图？

谢谢。

[2020-08-24 08:43] lyl120117 commented on #26578
谢谢

[2020-08-24 08:47] MRXLT commented on #26578
你好，请问使用的paddle和torch的版本是多少

[2020-08-24 08:49] lyl120117 commented on #26578
torch           1.4.0
torchsummary    1.5.1
torchvision     0.5.0

paddlepaddle-gpu    1.8.4.post107

[2020-08-24 09:04] shaofeifei11 opened #26603 "tf.nn.conv2d_transpose用paddle来实现遇到的一些问题"
paddle版本：1.8.1

# tensorflow代码：
a = tf.nn.conv2d_transpose(value=input1, filter=filter1, name="Model_Encoder_Layer_deconv_final3", output_shape=[8, 1, tf.shape(r1)[1], 256], strides=[1, 1, 4, 1], padding='SAME')
 其中 input1.shape = [8, 1, ?, 256], filter1.shape = [1, 3, 256, 256]

# 然后我用 paddle的conv2d_transpose方法实现上述功能
## 方法1：
b = fluid.layers.conv2d_transpose(input=input2, num_filters=256, filter_

[2020-08-24 09:17] supyer9 opened #26604 "关于 paddle.fluid.layers.conv2d 中的 参数问题"
请问 paddle.fluid.layers.conv2d 中的 参数 padding=0 ，是否相当于tf中的 padding='valid'？

[2020-08-24 09:18] yongqiangma commented on #26553
2.0里面已经有相关的功能，在develop分支的文档已经可以查到
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api_cn/nn_cn/ReLU_cn.html#relu

[2020-08-24 09:22] lin1github opened #26605 "paddlle gpu版本与torch同时调用则错误退出"
我安装了paddlepaddle-gpu==1.7.2.post97，pytorch是1.0.1版本，运行下面语句则不会报错，
import paddle
import torch
但是如果是
import paddle.fluid as fluid
import torch
则会出错，退出程序，没有用的报错信息，我个人感觉是cudnn的问题，请指导一下定位问题

[2020-08-24 09:44] #17021 closed, assigned to heavengate

[2020-08-24 09:44] #17977 closed, assigned to nobody

[2020-08-24 09:44] #18618 closed, assigned to nobody

[2020-08-24 09:44] #19241 closed, assigned to Superjomn, ceci3

[2020-08-24 09:44] #19249 closed, assigned to ceci3

[2020-08-24 09:44] #19252 closed, assigned to seiriosPlus

[2020-08-24 09:44] #19257 closed, assigned to SunGaofeng

[2020-08-24 09:44] #19293 closed, assigned to seiriosPlus

[2020-08-24 09:44] #19311 closed, assigned to nobody

[2020-08-24 09:44] #19315 closed, assigned to nobody

[2020-08-24 09:44] #19317 closed, assigned to nobody

[2020-08-24 09:44] #19327 closed, assigned to nobody

[2020-08-24 09:44] #19331 closed, assigned to mapingshuo

[2020-08-24 09:44] #19335 closed, assigned to nobody

[2020-08-24 09:45] #19339 closed, assigned to seiriosPlus

[2020-08-24 09:45] #19357 closed, assigned to zhhsplendid

[2020-08-24 09:45] #19375 closed, assigned to NHZlX

[2020-08-24 09:45] hai715 commented on #26597
那不行，我的网络需要把create_graph设为true

[2020-08-24 09:52] willthefrog commented on #26602
应该都可以吧。

[2020-08-24 09:53] willthefrog commented on #26605
应该是gcc版本问题，如果需要同时使用torch，需要gcc5以上版本的paddle。

[2020-08-24 09:54] willthefrog commented on #26604
不是，0表示不pad。另外paddle padding也支持'VALID'和‘SAME’。

[2020-08-24 10:02] willthefrog commented on #26600
应该是auc会记录一些统计信息，比如正确和错误的个数，这些会存下来，如果你用这个inference model再去跑auc统计，数值会继续累加。

[2020-08-24 10:06] willthefrog commented on #26600
`auc` layer的输出是的最后一个list就是这些状态，见 [这里](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/metric_op.py#L249)， save的时候可以考虑不保存这些，或者assign为0。

[2020-08-24 10:07] willthefrog commented on #26581
请确认`cuda` `nccl`等的版本同安装包兼容。

[2020-08-24 10:09] willthefrog commented on #26597
那你的用法可能现在不支持。

[2020-08-24 10:11] willthefrog commented on #26603
目前不支持output_size为tensor，后续会添加。

[2020-08-24 11:32] starsblinking commented on #26600
噢噢，明白了。那其实我保存的时候不清零这些state，而是在载入model之后先清零这些state再做inference以及统计auc，也是可以的吧～

[2020-08-24 12:34] lin1github commented on #26605
报错信息如下：
W0824 20:32:07.544497 10761 init.cc:209] Warning: PaddlePaddle catches a failure signal, it may not work properly
W0824 20:32:07.544538 10761 init.cc:211] You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle
W0824 20:32:07.544545 10761 init.cc:214] The detail failure signal is:
W0824 20:32:07.544554 10761 init.cc:217] *** Aborted at

[2020-08-24 12:58] luolimingfighting opened #26616 "存储embedding矩阵参数出错"
我的组网是这样的：
sparse_input_feature_idx = fluid.layers.data(name="feature_idx", shape=[1], lod_level=1, dtype="int64")
sparse_input_feature_value_float = fluid.layers.data(name="feature_value", shape=[1], lod_level=1, dtype="float32")
sparse_input_emb_weight = fluid.layers.embedding(
            input=sparse_input_feature_idx,
            is_sparse=True,
            # you need to patch https://github.c

[2020-08-24 13:07] starsblinking opened #26618 "使用InMemoryDataset碰到问题"
运行的就是 https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/ctr/dnn#%E5%BC%95%E5%85%A5dataset 这个例子。
已经能正常跑通了，但是【把“fluid.DatasetFactory().create_dataset()”改成“fluid.DatasetFactory().create_dataset("InMemoryDataset")”，并且在调用exe.train_from_dataset()前加上dataset.load_into_memory()】就出现了很诡异的结果：训练每个epoch时exe.train_from_dataset的耗时变为0秒，并且auc的信息也不打印了（正常结果见上述网页中展示的trainer.0.log）；除此之外，没有任何报错信息，程序正常结束。

请问

[2020-08-24 13:08] saxon-zh commented on #26602
是遇到什么问题了吗？

[2020-08-24 13:09] willthefrog commented on #26616
辛苦 @phlrain  跟进下吧。

[2020-08-24 13:16] willthefrog commented on #26618
这个问题建议提到 fleet的repo，“InMemoryDataset”是fleet的组件，提到那边交流更直接。

[2020-08-24 13:25] linhandev opened #26620 "Aur paddle-gpu一行代码安装"
在arch的arch user respository做了一个paddlepaddle-gpu的包，可以一行代码安装paddle-gpu包括cuda，cudnn等环境。在我的电脑上测试好用
https://aur.archlinux.org/packages/paddlepaddle-gpu/
或许官方可以将这种安装方式放到paddlepaddle.org.cn上，应该是最简洁的安装方法了

[2020-08-24 13:26] starsblinking commented on #26618
1. fleet的repo在哪？感觉好像被删了。
2. 这里用到的create_dataset是1.8版的paddle/fluid/dataset.py里的，而不是develop版里才有的paddle/distributed/fleet/dataset/dataset.py里的。所以不应该算是fleet的组件吧？本地数据的读取方式会和是否分布式训练有关吗?

[2020-08-24 13:36] cgq0816 opened #26622 "【论文复现】UGTIT 训练时g loss一直保持在1500左右，请问一下什么原因导致的？"
[  917/1000000] time: 3815.6953 d_loss: 0.12188511, g_loss: 1448.89843750
[  918/1000000] time: 3819.8836 d_loss: 0.02917238, g_loss: 1459.32421875
[  919/1000000] time: 3824.0383 d_loss: 0.04846196, g_loss: 1647.95532227
[  920/1000000] time: 3828.6340 d_loss: 0.06229257, g_loss: 1470.34814453
[  921/1000000] time: 3832.5813 d_loss: 0.05693095, g_loss: 1545.22729492
[  922/1000000] time: 3837.128

[2020-08-24 13:48] willthefrog commented on #26620
感谢你的支持(虽然arch比较小众😜，如果是deb包意义可能更大些)
几点建议
- paddle源码编译是可以支持cuda11和cudnn8的（目前`[community]`里的版本），不过需要patch才能支持gcc9正常编译。
- python依赖最好使用包管理器安装，直接pip安装依赖不太符合arch的理念。
- 看上去没装nccl，而且默认官方wheel包是不支持distributed的。
- `pkgver`是1.9.7?

[2020-08-24 13:55] willthefrog commented on #26622
建议提到models里请gan相关的同学帮忙解答。

[2020-08-24 13:58] cgq0816 opened #26624 "【论文复现】UGATIT 训练时g_loss一直保持在1500左右，请问一下什么原因导致的？"
[ 1221/1000000] time: 5076.9795 d_loss: 0.03538289, g_loss: 2195.64599609
[ 1222/1000000] time: 5081.4003 d_loss: 0.08947874, g_loss: 3706.99365234
[ 1223/1000000] time: 5085.5388 d_loss: 0.47090200, g_loss: 2510.58862305
[ 1224/1000000] time: 5089.9143 d_loss: 0.14373730, g_loss: 1692.29968262
[ 1225/1000000] time: 5094.2491 d_loss: 0.09135038, g_loss: 7195.31640625
[ 1226/1000000] time: 5098.561

[2020-08-24 13:58] willthefrog commented on #26605
大概率是gcc版本问题。建议尝试使用gcc5以上版本从源码编译paddle。

[2020-08-24 13:58] cgq0816 commented on #26622
已提交到models区，这就关闭啦

[2020-08-24 13:59] #26622 closed, assigned to nobody

[2020-08-24 14:00] willthefrog commented on #26600
可以的，但是inference model估计不太好修改赋值。

[2020-08-24 14:11] willthefrog commented on #26618
辛苦 @yaoxuefeng6 安排跟进下。

[2020-08-24 14:14] willthefrog commented on #26624
辛苦 @LielinJiang  跟进下

[2020-08-24 14:19] #26429 closed, assigned to hong19860320

[2020-08-24 14:20] #26572 closed, assigned to zhupengyang

[2020-08-24 14:26] kgkzhiwen opened #26626 "【论文复现】loss.backward() 造成core dump"
再复现Few Shot Vid2Vid 的时候，运行Generator loss.backward() 造成core dump. 请问能給点建议如何去排查可能的出错原因？loss 本身没有问题：
`
name tmp_3078, dtype: VarType.FP32 shape: [1] 	lod: {}
	dim: 1
	layout: NCHW
	dtype: float
	data: [3.32153]

W0824 22:17:25.338116 10276 init.cc:216] Warning: PaddlePaddle catches a failure signal, it may not work properly
W0824 22:17:25.338174 10276 init.cc:218] You could check whether you killed P

[2020-08-24 14:28] xjhcassy opened #26627 "<<论文复现>>paddle高级API-hapi中hapi.vision.transforms中的Normalize初始化方法中std赋值错误"
![image](https://user-images.githubusercontent.com/38745202/91057128-676e9680-e659-11ea-9c7e-0cbede7d291e.png)

[2020-08-24 16:41] linhandev commented on #26620
这是我第一次写pkgbuild，也没使过ubuntu😂看到有tf的aur感觉可以给paddle也整一个，这几天研究研究大佬提到的功能，尽量搞进去

[2020-08-25 01:32] willthefrog commented on #26627
呃，确实是个bug，会跟进修复，谢谢。

[2020-08-25 01:33] willthefrog commented on #26627
@LielinJiang  可否跟进一下？

[2020-08-25 01:34] willthefrog commented on #26626
GAN相关的问题， @phlrain  可否跟进一下。

[2020-08-25 01:42] LielinJiang commented on #26627
好的，可以先输入list来绕过一下。像这样normalize = Normalize(mean=[0,0,0], std=[1,1,1])

[2020-08-25 02:17] chenwhql commented on #26519
这里要load_inferenece_model之后在inference_program里面搜索

[2020-08-25 02:18] Haijunlv opened #26633 "paddledection训练中hang住"
在使用paddledetecion训练时，因业务需要，将train.py里数据迭代模式改成了for-range的方法循环迭代， 即iterable=True
相应的做了一点点的代码上的适配，具体三处

place = fluid.cuda_places()
exe = fluid.Executor(place[0])
inputs_def["iterable"] = True
train_loader.start() 注释
outs = exe.run(compiled_train_prog, fetch_list=train_values, feed=data)
然后发现在for循环的第129805次执行exe.run()时程序会hang住。
这个问题稳定复现，
但模型训练的效果是Ok的，hang住后杀掉进程重新继续训练还是会在第129805次hang住。
此时gpu利用率100%

p

[2020-08-25 02:18] chenwhql commented on #26519
这里返回的是一个dict吧，前面已经拿到了name，根据名称找到参数？

[2020-08-25 02:20] supyer9 commented on #26519
嗯嗯，是的，根据名称从这个dict里找参数

[2020-08-25 02:20] Haijunlv commented on #26633
训练hang住时 gpu利率率100%
![image](https://user-images.githubusercontent.com/28926237/91115324-923e0680-e6bc-11ea-82d5-d80df1cda47f.png)

[2020-08-25 02:23] Haijunlv commented on #26633
use cudnn 日志
`I0816 22:37:37.355990   940 fast_threaded_ssa_graph_executor.cc:278] 0x7f7f9b2d89c0 buffer_share Done
I0816 22:37:37.355924   959 operator.cc:174] CUDAPlace(6) Op(sum), inputs:{X[tmp_0@GRAD@RENAME@block0@0:float[2, 256, 56, 78]({}), tmp_0@GRAD@RENAME@block0@1:float[2, 256, 56, 78]({})]}, outputs:{Out[tmp_0@GRAD:float[2, 256, 56, 78]({})]}.
I0816 22:37:37.355931   944 fast_threaded_ss

[2020-08-25 02:24] Haijunlv commented on #26633
use_cudnn=false 日志 （更详细日志跟本人联系）
`I0824 12:21:29.516630  1225 fast_threaded_ssa_graph_executor.cc:274] 0x7f57d1412540 buffer_share : buffer_share(name:tmp_1@GRAD@RENAME@block0@0, place:CUDAPlace(4), version:0, scope_idx:4, name:tmp_1@GRAD@RENAME@block0@1, place:CUDAPlace(4), version:0, scope_idx:4, ) --> (__control_var@30661, )
I0824 12:21:29.516546  1223 operator.cc:174] CUDAPlace(0) Op(momentum),

[2020-08-25 02:25] Steffy-zxf commented on #26571
meta文件有备份吗？有的话，可以恢复。没有的话，把meta文件删了，通过上述方式加载参数继续训练。

[2020-08-25 02:37] June-z93 opened #26635 "paddle的动态图部署到flask的会hang住"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
          1.8.3
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
          CPU未使用MKL/OpenBlas/MKLDNN/等数学库
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如M

[2020-08-25 02:38] ARDUJS commented on #26571
好的谢谢，如果我想 只加载预训练部分的参数（比如bert层），不加载搭建在预训练后的网络参数，有办法吗？

---原始邮件---
发件人: "Steffy-zxf"<notifications@github.com&gt;
发送时间: 2020年8月25日 10:25:16
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Mention"<mention@noreply.github.com&gt;;"0_0_0_0__11000"<572915766@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 模型还原训练问题，修改skpt.meta (#26571)

meta文件有备份吗？有的话，可以恢复。没有的话，把meta文件删了，通过上述方式加载参数继续训练。

—
You a

[2020-08-25 02:44] shaofeifei11 commented on #26603
如果fluid.layers.conv2d_transpose不能直接用tensor指定output_siz，那有什么方法，实现类似相同的功能呢？

[2020-08-25 02:51] LielinJiang commented on #26635
如果不部署在flask会有返回值嘛？

[2020-08-25 02:52] June-z93 commented on #26635
会有的

[2020-08-25 02:57] willthefrog commented on #26603
可以后面手动加个pad的操作

[2020-08-25 03:09] Steffy-zxf commented on #26571
为什么你只需要加载预训练（bert）参数，而不要预训练后的网络参数（比如分类任务的最后分类层参数）呢？

PaddleHub加载预训练模型，如`hub.Module(name='bert_uncased_L-12_H-768_A-12')`，就已经是已加载了原生的预训练参数值（不是Finetune之后的参数值）

[2020-08-25 03:13] ARDUJS commented on #26571
我想自己二次训练bert，
再套上分类的网络

---原始邮件---
发件人: "Steffy-zxf"<notifications@github.com&gt;
发送时间: 2020年8月25日 11:09:34
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Mention"<mention@noreply.github.com&gt;;"0_0_0_0__11000"<572915766@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 模型还原训练问题，修改skpt.meta (#26571)

为什么你只需要加载预训练（bert）参数，而不要预训练后的网络参数（比如分类任务的最后分类层参数）呢？

PaddleHub加载预训练模型，如hub.Module(name='b

[2020-08-25 03:15] yaoxuefeng6 commented on #26618
应该需要先set_filelist 然后再load_into_memory 是不是这个顺序反了

[2020-08-25 03:28] xjhcassy opened #26637 "<<论文复现>>如何对齐paddle中随机数种子与pytorch中随机数种子"

[2020-08-25 03:33] starsblinking commented on #26618
没反。load_into_memory就是紧邻在exe.train_from_dataset之前的一行命令。

[2020-08-25 04:01] HsiaChubby opened #26638 "fluid1.8.2 GPU+CPU联合训练"
在使用fluid.1.8.2版本进行GPU与CPU混合训练模型：
![image](https://user-images.githubusercontent.com/24514473/91145093-861b6e80-e6e7-11ea-82b1-18f9d8c830e1.png)

训练过程如下：
![image](https://user-images.githubusercontent.com/24514473/91121568-a5f06980-e6ca-11ea-9a24-65368e36a735.png)

![image](https://user-images.githubusercontent.com/24514473/91121671-e0f29d00-e6ca-11ea-8199-8e8efcac3840.png)

问题描述：
/opt/_internal/cp

[2020-08-25 04:10] HawChang opened #26640 "动态图用tracedlayer转静态图出错"
版本：
1. paddlepaddle-gpu: 1.8.1.post107
2. GPU: P40
3. Driver Version: 440.33.01
4. CUDA Version: 10.2
5. CentOS release 6.3 (Final)
6. Python 2.7.15

问题：
动态图训练好TextCNN模型后，尝试转静态图失败。

模型结构：
![image](https://user-images.githubusercontent.com/7113823/91121914-87d73900-e6cb-11ea-8c7b-45cd36fc95ca.png)
![image](https://user-images.githubusercontent.com/7113823/91121886-7726c300-e6cb-11ea-8208-a80e46639f

[2020-08-25 04:55] sincerevertigo commented on #26602
@saxon-zh
想使用脚本模式进行训练。
但是，代码是用动图实现的，我看脚本的sample好像是静态图的。
有动图的例子吗？
谢谢。

[2020-08-25 05:00] Grant-Tao commented on #26014
@Xreki 可惜你们AISTUDIO的部门升级一个月也没完成升级。 可否请教个问题：
paddle tensor 的shape也是一个tensor，paddle有获得tensor shape的函数layers.shape, 也有获得tensor shape的list 的函数 tensor.shape(), 但如何把一个表示shape的list变成一个表示shape的tensor，没有相关函数，tensorflow 有个TensorShape（），请问 paddle如何实现？

[2020-08-25 05:35] phlrain commented on #26597
这个报错是 batch_norm 没有double grad 的问题

[2020-08-25 05:41] zhhsplendid commented on #26640
嗨，看你的截图，load_model时显示找不到model文件。底下的报错是变量var找不到，结合你这边找不到model文件，是否可能是没有load进参数导致一些参数var没找到？麻烦你那边查看一下load_model?

[2020-08-25 06:44] LielinJiang commented on #26638
您好，这个代码没看出来是如何gpu+cpu联合训练的。这个提示像是没有初始化，请问是否有exe.run(start_up_program)

[2020-08-25 06:54] LielinJiang commented on #26637
当前版本还无法做到。具体是用在什么层中呢？

[2020-08-25 07:11] zhiqiu commented on #26391
hi，请问下你不用conda环境的python是否仍然会出现这个问题呢？

[2020-08-25 07:12] HsiaChubby commented on #26638
这个逻辑是这样子的，整个训练任务是在单机多卡环境中执行的，但是因为其中的user embedding比较大，GPU的显卡装不下，所以，user embedding层的op是制定在CPU上进行处理的：
![image](https://user-images.githubusercontent.com/24514473/91143560-494e7800-e6e5-11ea-903c-58a5f17b76a9.png)
然后，也分别对CUDAPlace和CPUPlace进行了初始化的操作
![image](https://user-images.githubusercontent.com/24514473/91143645-6e42eb00-e6e5-11ea-9e78-c6efeca26e53.png)

[2020-08-25 07:15] xjhcassy commented on #26637
全局的，像torch.manual_seed(opt.manual_seed)这样

[2020-08-25 07:22] zhiqiu commented on #26637
hi，我们正在支持torch类似的manual_seed和generator功能。

[2020-08-25 07:28] HawChang commented on #26640
噢，那个地方是模型地址写错，改对地址后还是会有该问题。经排查，我发现是TextCNN模型的forward返回值的问题，我这里设计forward返回值是固定loss和logits，当label为None时，loss为None。 这样设计模型，就会出错。而如果我在label为None时，只返回一个logits，就不会出错。

麻烦看看这个情况的具体原因。

[2020-08-25 07:53] R132 commented on #26568
感谢！之前没找到NumpyArrayInitializer，用常数初始化发现不是想要的

[2020-08-25 07:53] #26568 closed, assigned to zhupengyang

[2020-08-25 08:30] MRXLT commented on #26578
你好，使用提供的代码进行对比，不设置weight_decay的时候，paddle和torch的diff如下
![image](https://user-images.githubusercontent.com/16594411/91143076-85cda400-e6e4-11ea-8762-4dfa71537079.png)
设置weight的时候，paddle和torch的diff如下
![image](https://user-images.githubusercontent.com/16594411/91143125-9716b080-e6e4-11ea-9cb0-9755eda0553a.png)
并没没有

这么大的区别

实际使用中paddle和torch使用adam训练出的模型效果差的明显吗

[2020-08-25 10:05] thunder95 opened #26662 "【论文复现】关于动态图加载权重的几个问题"
1. 动态图里怎么加载文件夹的权重， 从paddle/models里下载了预训练权重，是个文件夹， 而不是pdparams格式的，所以就用不了这个api了么: paddle.fluid.dygraph.load_dygraph
2. 下载的Resnet50的权重，官网提供的是2d网络结构的， 我需要升到3维（Resnet50的I3D）， 怎么对每一层做这样的升维操作？

我尝试复现的论文是TPN，想加载Resnet50预训练权重，目前网络已经搭好。

[2020-08-25 10:32] marcelotrevisani opened #26663 "Add paddlepaddle to conda-forge"
Could you please add paddlepaddle to conda-forge?
https://github.com/conda-forge/staged-recipes/

[2020-08-25 12:25] jtyoui opened #26668 "有alpine镜像吗？"

[2020-08-25 12:38] ruyijidan commented on #26343
提交代码时，贴过来后，全选代码然后点<>，这样代码看起来会很方便。
`out = fluid.layers.sigmoid(avg_out + max_out)`
平台运算符重载可能有问题，本地运行一般是没问题的，可以将上面的替换成下面的代码试试
`out=fluid.layers.sigmoid(fluid.layers.elementwise_add(avg_out , max_out))`

[2020-08-25 12:38] saxon-zh commented on #26602
@sincerevertigo 可以参照这篇动态图教程做相关代码实现[命令式编程使用教程](https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html)

[2020-08-25 12:45] saxon-zh commented on #26192
可以将版本升级到1.8的最新版本，如果在AIStudio上安装使用报cudnn错误参见这个Issue方案解决，https://github.com/PaddlePaddle/Paddle/issues/26250

[2020-08-25 12:48] ruyijidan commented on #26265
平台运算符重载可能有问题，本地运行一般是没问题的,尝试把-号换成fluid.layers.elementwise_sub,试试看这样改对不对
`out1 = (fluid.layers.elementwise_sub(1,fluid.layers.expand(x=self.rho, expand_times=[input.shape[0], 1, 1, 1]))) * out_ln`

[2020-08-25 12:48] saxon-zh commented on #26168
参见AIStudio的升级公告：
1.	用户自行安装1.8.3 遭遇cuDNN异常问题. 
解决方案已经开发完成, 待上线. 
在解决之前, 您可以手动执行命令来解决该问题.
export LD_LIBRARY_PATH=/usr/local/cuda-9.2/lib64:$LD_LIBRARY_PATH

[2020-08-25 13:11] Yuuuuuuuuuuuuuuuuuummy opened #26670 "关于动态图多卡训练的几个问题"
1.开启同步bn只需要sync_batch_norm=True就可以了是么

2.builder.strategy Allreduce和reduce的区别在于allreduce每个卡独自更新参数  reduce会将梯度均匀分配？ 怎么感觉反了呢。

3.clear_gradients()有两个 optimizer 和model都有这个功能，动态图里应该怎么使用呢？

文档有一些内容过于简单了感觉，希望能出个多卡训练的官方demo  希望能得到解答！ thx！！

[2020-08-25 13:39] lyl120117 commented on #26578
您好，我们对比误差的方式可能不一样，请问您是怎么对比的？

[2020-08-25 14:17] ruyijidan commented on #26578
![L2](https://user-images.githubusercontent.com/40780469/91184572-5a1bdf80-e71f-11ea-90f0-d514d29049b1.png)
个人的一点理解，增加正则后的损失是与每个权重都有关系的，如果每个权重可以保证是在6位有效数字对齐的，那也保证不了权重**之和**也是6位有效数字是对齐的。参数量很大，**求和**之后的误差自然就会变大。可以试验一下，改用L1正则，个人觉得误差会更大。

[2020-08-25 14:39] sfraczek opened #26673 "NaN in CPU training of resnet"
NaNs in training Resnet on CPU from models repo (without MKLDNN)

### Paddle models version
commit 64cde5d16de78181e348abc85fa45cee29512ec6
Author: LiuHao <liuhao19900412@gmail.com>
Date:   Thu Aug 6 18:23:44 2020 +0800

    Update run_ernie_classifier.py (#4790)

### Paddle version
I chcked below two commits and some in between and all don't work
#### This I chcked first
commit 36868e840c58204748

[2020-08-25 15:47] lyl120117 commented on #26578
我用的很简单的网络对比测试的，就一个卷基层，参数量很小哦。

[2020-08-25 16:55] leeacord opened #26677 "【论文复现】部分op不可计算二阶导数"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4post97
    2）CPU：aistudio 1.8.0 py37
    3）GPU：aistudio 1.8.0 py37
    4）系统环境：aistudio 1.8.0 py37
- 复现代码：
[code]
- 错误信息：
[code]
- po上原始版本的实现
[code]

[2020-08-25 21:53] lidanqing-vv opened #26679 "Add support to save INT8 model after mkldnn quantization passes"
Save INT8 model after mkldnn quantization passes:
Currently, models save by quant2_mkldnn_pass.py are float32 models. But for other devices, INT8 models are saved mostly. Please add support to save INT8 type models.

[2020-08-26 01:32] yjmm10 opened #26680 "【安装错误】conda安装环境，编译出现strip问题"
   1）PaddlePaddle版本：paddle1.8.4
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：RTX2070 CUDA=9.0 CUDNN=7.3.1 (cuda、cudnn安装在conda上)
    4）系统环境：ubuntu19.10 python=3.7.7

- 安装方式信息：
1）conda
- 问题描述：按照官方安装教程，使用conda安装paddle,运行时出现
`>>> import paddle.fluid
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/tipray/Software/anaconda3/envs/paddle/lib/python3.7/s

[2020-08-26 01:51] Steffy-zxf commented on #26571
二次训练bert的意思是指，你需要继续预训练bert吗？ 方便说说你的任务背景吗？

如果想要加载继续预训练的bert的参数，需要保证继续预训练后的bert所有参数名字和 hub的bert module，参数名字一致。之后使用`hub show bert_uncased_L-12_H-768_A-12`查看bert_uncased_L-12_H-768_A-12 module所在位置，替换其中参数文件assets/params。

[2020-08-26 02:34] scott0o0 opened #26681 "【论文复现】损失函数的更改"
- 标题：动态图更改损失函数
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    3）GPU：2080ti , cuda10.0
    4）系统环境：windows , python3.7
- 训练信息
    1）单机，单卡

- 复现信息：想更改损失函数进行训练。
- 问题描述：想对yolov3计算的损失函数loss = fluid.layers.yolov3_loss()进行补充，增加一项损失与原先的损失之和作为总损失函数total_loss = loss + loss_add。其中loss_add中有一项是需要计算两个矩阵的欧式距离||X-Y||，如图1：
![image](https://user-images.githubusercontent.com/49825779/90511958-e4000180-e18f-11ea-91ab-885304

[2020-08-26 02:41] Xreki commented on #26014
可以使用[assign](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/assign_cn.html#assign)，assign的input参数可以是一个numpy数组，使用示例：

[code]

[2020-08-26 03:16] FrankCV2048 commented on #26265
依然是不行 难受

[2020-08-26 03:53] zhaotun opened #26685 "centos7 安装报错"
基本环境： centos7   RTX2080TI   cuda10.1  cudnn7.6.5  python3.8.3
在安装paddle时，执行以下命令时报错
[code]
[code]
请问是啥原因？谢谢

[2020-08-26 05:44] FirSightShun opened #26691 "使用paddle预测时，在同一个exe下执行多个program但是每次执行都在执行最后一个model"
[code]
调用的时候每次都是调用最后一个模型

[2020-08-26 06:24] flishwang commented on #25966
基于1.8.3-gpu-cuda10.0-cudnn7这个docker，安装openssh-server、git等ubuntu包后，放到k8s中，仍然随机崩溃，以下是3次崩溃的日志：

W0826 06:06:09.501305  4216 device_context.cc:260] device: 0, cuDNN Version: 7.6.
/usr/local/lib/python3.7/site-packages/paddle/fluid/executor.py:1070: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  Fi

[2020-08-26 06:25] zhiqiu commented on #26680
hi，我提了一个PR修这个问题，你可以按[PR26693](https://github.com/PaddlePaddle/Paddle/pull/26693) 的方式修改下/home/tipray/Software/anaconda3/envs/paddle/lib/python3.7/site-packages/paddle/fluid/core.py文件试试。

[2020-08-26 06:29] LielinJiang commented on #26670
1. 动态图貌似没有sync_batch_norm=True这些选项把
2. builder.strategy指的是？
3. optimizer 的clear gradients是清理优化器中的参数的梯度，model的clear gradients是清理模型的参数。对应使用就好了

好的，我们会补充动态图多卡的demo的

[2020-08-26 06:30] LielinJiang commented on #26668
应该是没有

[2020-08-26 06:30] zhiqiu commented on #26685
hi，paddle目前支持的python3版本是 3.5.1+/3.6/3.7，你可以试着换下python3版本。

[2020-08-26 06:35] LielinJiang commented on #26662
1. 当前版本无法使用动态图直接加载文件夹中的权重。
2. 如果resnet50 3d结构不同的话，无法使用resnet50 2d的权重的。

可以尝试将官方论文release的预训练权重转化的paddle的。load_dygraph所需要的权重是dict的形式就行，用pickle保存下来就能加载。论文复现营中应该有这样的一个教程，可以问问老师。

[2020-08-26 06:43] zhiqiu commented on #26681
hi，我理解你需要将loss_add的逻辑用paddle的接口写，这样在自动求导的时候才能将梯度传过去。否则，paddle是不能将梯度传到numpy数组的。

[2020-08-26 06:53] zhiqiu commented on #26691
hi, 你能把后续执行的代码贴一下吗？

[2020-08-26 07:02] phlrain commented on #26663
We will add paddlepaddle to conda-forge soon.

[2020-08-26 07:19] scott0o0 commented on #26681
谢谢解答，但是我在对应的API文档（fluid.layers）中没有找到求tensor变量的转置矩阵的函数。

另外，我在文档中看到的有新增C++OP的方法，但我并没接触过C++。请问在动态图中有没有**简单的方法**可以定义一个新的求loss的接口呢？还是说，只能使用文档中**现有的API**对tensor变量进行编辑才能将梯度传过去呢？

是不是需要等到2.0版本才能在动态图中简单地自定义loss函数，1.8版本的只支持静态图自定义loss函数（包括自定义前向计算逻辑和梯度计算逻辑的这种）。如果可以的话，能否帮我写一个简单的示例呢？

[2020-08-26 07:34] zhaotun commented on #26685
确实是这样的，python降级成3.6后可以成功安装了，谢谢及时回复

[2020-08-26 07:34] #26685 closed, assigned to nobody

[2020-08-26 08:14] LielinJiang commented on #26638
我看了下device guard的demo，不需要创建两个excutor。按照你的模型定义，你只需要gpu的excutor就行了

[2020-08-26 08:25] ruyijidan commented on #26265
其他的运算符也可以都试着改一下，我之前就是改了+就好了

[2020-08-26 08:51] liu824 opened #26701 "【论文复现】torch.utils.data.DataLoader"
关于下面的语句该如何改为paddle版本的
torch.utils.data.DataLoader(dataseta, batch_size=batch_size, shuffle=True, num_workers=8, pin_memory=True)
我参考了DataLoader如下：
dl=layers.shuffle(fluid.io.DataLoader.from_generator(feed_list=dataseta,capacity=batch_size, use_multiprocess=True))
不知道这样使用是否正确，issue中也有用batch的，但是batch并没有设置线程数num_workers的地方

[2020-08-26 08:56] HaoLiuHust commented on #25135
有复现么

[2020-08-26 09:02] WenmuZhou opened #26703 "mac下编译预测库报libopenblas找不到的错误"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4
    2）CPU：双核Intel Core i5
    3）GPU：无
    4）系统环境：Mac OS 10.15.6，Python: 3.7
描述：编译过程无问题，使用过程报错
报错信息
[code]

1. 编译命令
[code]

编译日志
[code]

~/Desktop/code/opencv3/paddle/inference/third_party/install 路径下文件
![image

[2020-08-26 09:05] supyer9 opened #26704 "关于 paddle.fluid.layers.batch_norm( ) 接口的疑问"
有如下paddle语句：
conv_bn1 = fluid.layers.batch_norm(
            input=conv1,
            param_attr=fluid.initializer.ConstantInitializer(value=1.0),
            bias_attr=fluid.initializer.ConstantInitializer(value=1e-4),
            act="relu")
关于该语句有两个问题：
1.  act='relu' 的作用是进行 BN 后输入到 relu 激活函数中，得出最后的结果吗？
2.  如上语句没有给 param 进行命名，batch_normal将随机命名。 现在我将训练好的模型的参数按顺序取出，得到该语句涉及的
     有四个参数，名称如下：

[2020-08-26 10:03] HaoLiuHust opened #26705 "同一个模型用1.8.4版本跑报错，1.8.1没有问题"
![image](https://user-images.githubusercontent.com/7233091/91290575-57c09080-e7c6-11ea-9b9d-f06d7fdba5e5.png)
1.8.4版本报如上错误，切换成1.8.1后没有问题

[2020-08-26 10:08] aboutmei opened #26706 "您好，怎么样更改loss和yolo_box的代码"
您好，
         我们在使用自己制作的数据集进行开发任务，网络输出为（4+number_class）* num_anchors原始为（5+number_class），我们出于某种原因不能更改网络的输出维度，所以有想法重写loss和yolo_box以适应此种网络的输出形式，请问应该以什么方式实现这样的输出形式，我们尝试使用python实现静态图下两部分中的loss_function和yolo_box但是并没有work，请问应以怎样正确的思路来更改静态图中的loss与yolo_box，实现我们希望的loss和yolo_box功能来适配这种网络特殊的固定输出形式
十分期望得到你们的回复
祝好

[2020-08-26 10:12] MRXLT commented on #26578
不好意思，经过确认，paddle的adam优化器实现与论文的计算公式有一些diff，我们正在修复

[2020-08-26 10:15] lyl120117 commented on #26578
好的，麻烦您了

[2020-08-26 11:48] marcelotrevisani commented on #26663
it is also related to
https://github.com/PaddlePaddle/Paddle/issues/23569

[2020-08-26 12:10] gbeckenkamp commented on #26663
It would be great to have paddlepaddle on conda, I'm also waiting for it.

[2020-08-26 12:18] zhhsplendid commented on #26640
是这样的，TracedLayer的基本原理只是trace，所以无法处理你说的，按输入判断是否为None来运行程序。您是1.8版本，可以试试这里提到的ProgramTranslator：

https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id11

[2020-08-26 12:33] Channingss commented on #25135
@HaoLiuHust 麻烦拉取最新的X2Paddle测试一下ONNX2Paddle的正确性，ONNX2Paddle模块最近修复了一些bug，如果还有问题，辛苦再发一下模型。

[2020-08-26 12:47] DrRyanHuang commented on #26701
我自己写了一个，供参考：
[code]

[2020-08-26 12:48] DrRyanHuang commented on #26677
据说在PP1.8.4解决了该问题

[2020-08-26 12:48] liu824 commented on #26701
谢谢大哥

[2020-08-26 13:08] zhiqiu commented on #26681
转置可以使用fluid.layers.transpose，关于自定义op，如果你对性能没有要求，可以看下自定义python op, [link](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/new_python_op.html)。

[2020-08-26 13:10] zhiqiu commented on #26705
hi，请问下，你的模型中是不是使用了prelu？

[2020-08-26 13:12] zhiqiu commented on #26704
是的，你的理解是对的，四个参数按顺序分布是：scale, bias, mean, varience

[2020-08-26 13:14] zhiqiu commented on #26703
看你的日志，编译时好像出错了？

[2020-08-26 13:31] WenmuZhou commented on #26703
日志上都是warn，不是报错，并且后面编译是完成了的，没有报错

[2020-08-26 13:31] xjhcassy commented on #26670
请进快补充，着急使用

[2020-08-26 13:37] zhiqiu commented on #26706
@still-wait 请看下这个关于yolo_box的问题。

[2020-08-26 13:40] chenwhql commented on #26701
https://www.paddlepaddle.org.cn/documentation/docs/en/api/io/DataLoader.html
其实这个已经有了，官网中文文档缺失，我们反馈一下，这里是英文的，可以先参考下

[2020-08-26 14:21] liu824 commented on #26701
好的

[2020-08-26 14:29] saxon-zh commented on #26192
@liuxianyi @suishicity @zzz2010 这个问题在≥1.8.2版本中已修复，对应PR是https://github.com/PaddlePaddle/Paddle/pull/24869 ，可以将使用的Paddle版本做下升级，当前已发布最新版本是1.8.4。

[2020-08-26 14:31] saxon-zh commented on #26265
broadcast should not into w broadcast 这个问题在≥1.8.2版本中已修复，对应PR是https://github.com/PaddlePaddle/Paddle/pull/24869 ，可以将使用的Paddle版本做下升级，当前已发布最新版本是1.8.4。

[2020-08-26 17:07] nihuizhidao opened #26716 "已安装，但是未发现libcudnn---Can not find library: libcudnn.so"
CentOS 7.6
paddlepaddle-gpu==1.8.2.post107
CUDA: 10.0
cudnn: 7.6.2
以下：

已经添加到~/.bashrc，并且有：

在运行infer的时候出现如下错误（代码没有问题，在其他环境下测试过）：

请问这个怎么解决？
着急。。。。

[2020-08-26 19:47] nihuizhidao commented on #26716
打扰了。。。
原因是我的pycharm的权限问题，使用terminal可以的，或者直接使用sh ./pycharm.sh而不是sudo sh ./pycharm.sh也可以

[2020-08-26 19:47] #26716 closed, assigned to nobody

[2020-08-27 00:25] thrkingd opened #26717 "[论文复现]脚本环境多卡训练报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.2（1.8.2的版本选择不了，系统报错）
    2）系统环境：脚本多卡环境（选的4卡的环境）
运行时报错如下：
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std:

[2020-08-27 01:47] HaoLiuHust commented on #26705
嗯，里面有prelu

[2020-08-27 01:55] zhiqiu commented on #26677
hi, 目前reduce_sum还没有支持二阶导数，我会和相关同学反馈下。

[2020-08-27 01:57] yghstill commented on #26706
@justinmeibi 在https://github.com/PaddlePaddle/PaddleDetection/issues/1288  中继续跟进。

[2020-08-27 03:03] NameLacker opened #26719 "测试和训练都报这个错"
W0827 11:01:05.964001 21363 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.2, Runtime API Version: 10.0
W0827 11:01:05.964174 21363 dynamic_loader.cc:120] Can not find library: libcudnn.so. The process maybe hang. Please try to add the lib path to LD_LIBRARY_PATH.
W0827 11:01:05.964198 21363 dynamic_loader.cc:179] Failed to find dynamic library: libcudnn

[2020-08-27 03:06] NameLacker commented on #26719
这是cuda和cudnn的版本

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.100      Driver Version: 440.100      CUDA Version: 10.2     |
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
GeForce RTX 2080Ti

nvcc: NVIDIA (R) Cuda compiler driver
Copyr

[2020-08-27 03:54] #26680 closed, assigned to nobody

[2020-08-27 04:00] chfhf opened #26721 "【论文复现】UGATIT相关"
paddle已有API：adaptive_pool2d， reshape， ones_like，zeros_like
                            unsqueeze，concat， create_parameter，L1Loss，MSELoss
                            sqrt， expand，reduce_sum，reduce_mean， transpose
自行定义API：ReflectionPad2D， ReLU， LeakyReLU，Tanh，
                         Upsample,，var， spectral_norm，BCEWithLogitsLoss，RhoClipper
所有API均通过随机数据进行了参数对齐测试，复现过程中谨慎地替换掉所有API名称并保证传参一致，
但是训练的Dlos

[2020-08-27 04:09] itslgl opened #26722 "build error of paddle fluid_inference tag:v1.7.2"
编译 Linux 预测库报错，请帮忙看看什么问题，谢谢

   1）PaddlePaddle版本：Paddle tag:v1.7.2
    2）root@file:/data/share/user/eric/paddle# cat fluid/build/version.txt
GIT COMMIT ID: 92cc33c0e48a98c07a6cf686a22f15bf396fe701
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: OFF

 3）bash build.sh

PADDLE_ROOT=/data/share/user/eric/paddle/fluid/build/
cd Paddle
mkdir build
cd build
/data/share/user/eric/paddle/fluid/cmake/cmake-3.17.1-

[2020-08-27 04:35] zhixuzhichang opened #26724 "请问 paddle1.5 中 与 pytorch 中的 API scatter_add 等价的 API 是哪一个？"
有两个和 pytorch中scatter_add类似但又有区别的 API:
paddle.fluid.layers.scatter 的 index 好像只能是1纬。
sequence_scatter 有 input 是3纬的例子吗？文档看的不是太明白。

[2020-08-27 04:58] #26534 closed, assigned to saxon-zh

[2020-08-27 04:59] ceci3 commented on #26262
你好，paddle的instance norm不会计算全局均值和方差，momentum使用来计算全局均值方差时候用到的一个计算动量(参考BatchNorm API计算全局统计量的公式）。你现在是要用instance norm的全局均值方差嘛？如果不是的话，这个参数是没有必要的。 这里的momentum 和momentum优化器不是一个概念~

[2020-08-27 05:05] saxon-zh commented on #26348
我们评估一下您的建议。

[2020-08-27 05:10] saxon-zh commented on #26348
每次存储模型的时候不是增量存储，是基于当前训练得到的参数进行的完整保存，可以每轮训练的时候存储一个独立的文件，避免覆盖破坏，最后可以选择保留一个自己评估后效果最好的参数模型。

[2020-08-27 05:14] #26309 closed, assigned to saxon-zh

[2020-08-27 05:16] #26168 closed, assigned to nobody

[2020-08-27 05:19] #26064 closed, assigned to nobody

[2020-08-27 05:21] #26139 closed, assigned to nobody

[2020-08-27 05:21] #26065 closed, assigned to hutuxian

[2020-08-27 05:22] #26081 closed, assigned to nobody

[2020-08-27 05:35] zhixuzhichang opened #26725 "关于Paddle 文档"
吐槽一下！感觉 Paddle 的文档是给面向开发 Paddle 的人写的！而不是 给 Paddle 的使用者！所以有些地方阅读难度大！再加上使用人群少！找不到其他人的解析进行参考！会降低 Paddle 的使用体验！

[2020-08-27 06:54] chenmingwei00 opened #26728 "模型训练报错"
Traceback (most recent call last):
  File "/root/.pycharm_helpers/pydev/pydevd.py", line 1664, in <module>
    main()
  File "/root/.pycharm_helpers/pydev/pydevd.py", line 1658, in main
    globals = debugger.run(setup['file'], None, None, is_module)
  File "/root/.pycharm_helpers/pydev/pydevd.py", line 1068, in run
    pydev_imports.execfile(file, globals, locals)  # execute the script
  File "/r

[2020-08-27 08:08] GaoWei8 commented on #26717
CUDNN_STATUS_MAPPING_ERROR 报错属于cudnn库的问题。使用的cudnn版本是什么呢？

[2020-08-27 08:12] GaoWei8 commented on #26719
可以看出CUDA的版本信息，可以提供cudnnGetVersion的版本信息吗？

[2020-08-27 08:18] GaoWei8 commented on #26724
厂内用户，已解决。建议更新文档。

[2020-08-27 08:19] GaoWei8 commented on #26725
谢谢建议，会反馈优化文档。

[2020-08-27 08:20] GaoWei8 commented on #26728
报错信息显示reshape_op的反向grad为空。
paddle.fluid.core_avx.EnforceNotMet: Input(Out@GRAD) shouldn't be null. at [/paddle/paddle/fluid/operators/reshape_op.cc:370]

[2020-08-27 08:22] juncaipeng commented on #26722
是否考虑从paddle官网下载paddle预测库。

v1.8.4:https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html

v1.7.2:https://www.paddlepaddle.org.cn/documentation/docs/zh/1.7/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html

[2020-08-27 08:27] NameLacker commented on #26719
#define&nbsp;CUDNN_MAJOR&nbsp;7
#define&nbsp;CUDNN_MINOR&nbsp;6
#define&nbsp;CUDNN_PATCHLEVEL&nbsp;5
--
#define&nbsp;CUDNN_VERSION&nbsp;(CUDNN_MAJOR&nbsp;*&nbsp;1000&nbsp;+&nbsp;CUDNN_MINOR&nbsp;*&nbsp;100&nbsp;+&nbsp;CUDNN_PATCHLEVEL)

请看一下，谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-08-27 08:32] GaoWei8 commented on #26719
抱歉。想问的是cudnn的版本信息。

[2020-08-27 08:36] NameLacker commented on #26719
显示的就是7.6.5呀

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月27日(星期四) 下午4:32
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@n

[2020-08-27 08:42] itslgl commented on #26722
好的，我试试

[2020-08-27 08:51] GaoWei8 commented on #26719
使用export 重新设置到cudnn的位置呢？
或者直接只用官网提供的docker 镜像环境使用paddle

[2020-08-27 08:52] NameLacker commented on #26719
好的，我试试，谢谢您

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月27日(星期四) 下午4:51
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@no

[2020-08-27 09:34] chenmingwei00 commented on #26728
我知道，但是什么原因导致的，
 File "/root/anaconda3/lib/python3.7/site-packages/paddle/fluid/layers/nn.py", line 547, in dynamic_lstm
    'candidate_activation': candidate_activation
  File "/root/comprehension/paddle_seq/src/model/models_lstm.py", line 55, in forward
    forward, cell = fluid.layers.dynamic_lstm(input=forward_proj, size=self.hidden_size * 4, use_peepholes=False)
Enforce failed. Expected lods.s

[2020-08-27 09:54] GaoWei8 commented on #26728
Enforce failed. Expected lods.size() == 1UL, but received lods.size():0 != 1UL:1.

这个报错指输入不是lod的，dynamic_lstm要用lod输入。

[2020-08-27 10:01] zhiqiu commented on #26706
在PaddlePaddle/PaddleDetection#1288 中跟进，暂时关闭此issue。

[2020-08-27 10:01] #26706 closed, assigned to nobody

[2020-08-27 10:04] zhiqiu commented on #26705
hi，这个问题我们已经修复了，会在后续1.8.5发版中更新，你可以暂时先用下1.8.1。

[2020-08-27 10:09] zhiqiu commented on #26703
hi，目前包括Paddle有mkl和openblas两种版本的预测库，推荐使用mkl的预测库。如果下载的预测库是mkl的，编译的时候也需要在设置-DWITH_MKL=ON，[参考链接](https://github.com/PaddlePaddle/PaddleOCR/blob/8a78af26df0dd8f15b734cc8db13e25d2a3656a2/deploy/cpp_infer/tools/build.sh#L12)。此外，使用预测库时，推荐在Linux或者Windows上进行开发，不推荐在MacOS上开发。

[2020-08-27 10:16] lixufang opened #26840 "安装时候出现TypeError: 'NoneType' object is not iterable”错误"
pip2 install paddlepaddle
报错，TypeError: 'NoneType' object is not iterable”错误，不知道是什么问题
![image](https://user-images.githubusercontent.com/7742093/91429960-6627ae80-e891-11ea-966d-9d4fbf3d547e.png)

[2020-08-27 10:20] saxon-zh commented on #26578
@lyl120117 经过模型和框架研发同学评估，这个diff对模型影响不是非常大，建议先不使用weight decay来对齐模型，其他部分全部对齐后再对齐weight decay，如果仍然存在问题再反馈给我们继续跟进 :)

[2020-08-27 10:20] xttian opened #26735 "InvalidArgumentError: Tensor holds the wrong type, it holds double, but desires to be float."
报错信息：
InvalidArgumentError: Tensor holds the wrong type, it holds double, but desires to be float.
  [Hint: Expected valid == true, but received valid:0 != true:1.] at (/paddle/paddle/fluid/framework/tensor_impl.h:33)
  [operator < cross_entropy > error]

关键代码：
pred_tags = fluid.layers.sigmoid(x=bi_lstm_x)
real_tags = fluid.layers.data(name="real_tags", shape=[_TEXT_LEN, _TAG_DIM], dtype="float32"

[2020-08-27 10:21] saxon-zh commented on #26677
@leeacord 这个是在复现哪篇论文

[2020-08-27 10:22] chenmingwei00 commented on #26728
现在锁定了错误的问题在于
  pyreader = fluid.layers.py_reader(
            capacity=50,
            shapes=[[-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1],
                   [-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1],
                   [-1, args.max_seq_len, 1], [-1,args.paragram_conut,args.paragram_max_len, 1],
                    [-1, 1], [-1, 1]],
            dtypes=[
                'int6

[2020-08-27 10:23] chenmingwei00 commented on #26728
更奇怪的是有的数据没问题，有的数据有问题

[2020-08-27 10:24] chenmingwei00 commented on #26728
437,1,1,451,19,1,86,1,1,45,1,13,1,1,401,1,1,50,1,1,1,116,1,1,1,1,13,128,1,1,1,1,193,1,1,6,1,19,1,6,1,38,93,6,1,1,48,1,1,461,1,149,1,1,1,100,13,1,1,92,128,1,6,437,1,1,1,1,1,1,187,327,466,1,4,1,1,6,280,43,2,1,437,1,187,327,466,1,4,1,1,1,1,43,2,1,2,1,4,414,1,1,1,1,43,2,1,1,1,1,1,48,1,1,370,1,48,1,1,401,4,1,1,43,1,38,446,1,47,1,1,1,1,48,7,1,6,1,1,1,1,247,151,366,1,5,138,1,4,4,1,1,2,1,34,1,34,1,4,1,1,1

[2020-08-27 10:30] leeacord commented on #26677
@saxon-zh 您好，是First Order Motion Model for Image Animation.这部分缺少二阶导的op有点多，可能得手动算一阶导了才行。
具体代码在 https://github.com/AliaksandrSiarohin/first-order-model/blob/78079d14396052dea55a1ee6a4432fb13da61c53/modules/model.py#L95-L120

[2020-08-27 10:31] leeacord commented on #26677
感谢您的回复，检查发现reduce_sum只是在梯度计算过程中第一个出问题的op。
经过测试，matmul, squeeze, unsqueeze, expand, log也未支持二阶导数

[2020-08-27 11:36] GaoWei8 commented on #26735
可以看下是不是 real_tags 你定义的类型是float。但是传入的数据的类型是double。

[2020-08-27 11:39] WenmuZhou commented on #26703
mkl也是没有的哈，一样的情况

[2020-08-27 11:41] BeamBin commented on #19704
paddle现在支持einsum了吗，，，numpy，tensorflow，pytorch都有

[2020-08-27 11:42] BeamBin opened #26741 "paddle现在支持einsum了吗，，，numpy，tensorflow，pytorch都有"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2020-08-27 11:54] GaoWei8 commented on #26728
你这里读取的是非定长的数据，为什么lod信息设置的都是0呢

[2020-08-27 11:55] GaoWei8 commented on #26741
暂时不支持，会反馈这个需求。

[2020-08-27 12:15] wozna opened #26744 "PR-CI-Windows fails"
PR-CI-Windows fails on all recent PRs.

Logs:

The following tests FAILED:
- 135 - test_analyzer (Failed)
- 139 - test_api_impl (Failed)
- 140 - test_analysis_predictor (Failed)

Everywhere reports the following error.
[code]

[2020-08-27 12:40] thrkingd commented on #26717
Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.1, Runtime API Version: 9.0
device: 0, cuDNN Version: 7.6.
我把batchsize减小好像就不报这个错误了，这跟batchsize有什么关系吗？

[2020-08-27 12:51] GaoWei8 commented on #26717
有可能是因为cudnn库的对数据的支持问题。

[2020-08-27 13:12] zhwesky2010 commented on #26744
Windows just add the unittest of inference model, there was a problem when first download model, I have fix it by https://github.com/PaddlePaddle/Paddle/pull/26746. Thank you, just rerun a little later.

[2020-08-27 13:20] FL77N commented on #26250
想问一下，

export LD_LIBRARY_PATH=/usr/local/cuda-9.2/lib64:$LD_LIBRARY_PATH
--

这一行到底是加在哪呢，我加在终端了怎么没有用呢

[2020-08-27 14:09] saxon-zh commented on #26677
@leeacord 这个是在复现哪篇论文

[2020-08-27 14:11] saxon-zh commented on #26624
@cgq0816 可以提供下复现的代码和环境信息

[2020-08-27 14:15] #26469 closed, assigned to hong19860320

[2020-08-27 14:16] cgq0816 commented on #26624
paddle1.8.3
python3.6~3.7
各种版本均尝试过
和torch对照改了一下发现dloss下降很快，gloss和原来差不多
gap=fluid.layers.adaptive_pool2d(x, 1) 设置avg之后下降很快
可能是这个导致的，但是不确认。

[2020-08-27 14:42] DrRyanHuang opened #26753 "使用混合精度：AttributeError: 'paddle.fluid.core_avx.VarBase' object has no attribute 'op'"
Paddlepaddle 1.8.0/1.7.2 都试过，在AI Studio平台

按照官方demo, 混合精度训练最佳实践

只添加了一句代码，出现了: AttributeError: 'paddle.fluid.core_avx.VarBase' object has no attribute 'op'
[code]
整体代码在这里(已经公开，可直接打开)：
https://aistudio.baidu.com/aistudio/projectdetail/763655 (update: 2020.08.29 该项目已删除)

[2020-08-27 14:48] wozna opened #26754 "PR-CI-Coverage fails"
Now I found that PR-CI-Coverage failed on 4 PRs with the same building error.

[code]

[2020-08-27 14:55] leeacord commented on #26677
@saxon-zh 是gan方向的First Order Motion Model for Image Animation

[2020-08-27 15:27] BeamBin opened #26755 "请问在paddle中怎么把tensor转换为array或者list"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2020-08-28 00:41] chenmingwei00 commented on #26728
一个batch_size,长度不一致，之前看的ernie  fluid.layers.py_reader(设置的lod_levels=[0, 0, 0, 0, 0, 0,0, 0],是这样的
def pad_batch_data(insts,
                   pad_idx=0,
                   return_pos=False,
                   return_input_mask=False,
                   return_max_len=False,
                   return_num_token=False,
                   return_seq_lens=False):
    """
    Pad the instances to the max

[2020-08-28 00:42] chenmingwei00 commented on #26728
def pad_batch_content_data(insts,
                   paragram_conut=None,
                   pad_idx=0,
                   return_pos=False,
                   return_input_mask=False,
                   return_max_len=False,
                   return_num_token=False,
                   return_seq_lens=False):
    """
    Pad the instances to the max sequence length in batch, and generate the

[2020-08-28 00:46] chenmingwei00 commented on #26728
paddle 1.5.1

[2020-08-28 01:17] chenmingwei00 opened #26756 "模型报错一直没有解决"
Exception: /paddle/paddle/fluid/operators/lookup_table_op.cu:36 Assertion `id < N` failed (received id: 4202603142669781314).
Exception: /paddle/paddle/fluid/operators/lookup_table_op.cu:36 Assertion `id < N` failed (received id: 4202603142669781314).
Exception: /paddle/paddle/fluid/operators/lookup_table_op.cu:36 Assertion `id < N` failed (received id: 4202603142669781314).
Exception: /paddle/pad

[2020-08-28 01:38] Steffy-zxf commented on #26840
你好！关于Paddle 安装问题，请移步 https://github.com/PaddlePaddle/Paddle/issues 提问。另外建议使用python3.6 以上环境运行paddle。

[2020-08-28 02:00] GaoWei8 commented on #26721
可以尝试下固定随机层，用相同的输入，逐层比对输出看看是否哪里有diff。

[2020-08-28 02:09] cgq0816 commented on #26624
@willthefrog @saxon-zh @LielinJiang
问题解决了
首先问一下，不知道ReLU定义是否正确
class ReLU(fluid.dygraph.Layer):
    def __init__(self, inplace=False):
        super(ReLU, self).__init__()
        self.inplace=inplace

    def forward(self, x):
        if self.inplace:
            x.set_value(fluid.layers.relu(x))
            return x
        else:
            y=fluid.layers.relu(x)
            return y
如果正确，在使用pad

[2020-08-28 02:25] luotao1 commented on #26754
`cc_library(attribute SRCS attribute.cc DEPS framework_proto boost)` here lack a depend `enforce`, @lelelelelez will fix it

[2020-08-28 02:27] zhaotun opened #26758 "下载预训练模型时，发生错误 No module named 'ppcls'"
基本环境：centos7   cuda10.1  cudnn7.6.5  python3.6.10   paddle1.8.3
按照 [30分钟玩转PaddleClas](https://paddleclas.readthedocs.io/zh_CN/latest/tutorials/quick_start.html) 这里第二部分，下载预训练模型时执行以下命令
[code]
发生  No module named 'ppcls' 错误，请问如何解决，谢谢！

[2020-08-28 02:29] chfhf commented on #26721
观察了优化器parameter()列表，
发现pytorch的生成器有88个，paddle有132个，其中paddle将instance_norm加入优化器列表
        pytorch的判别器有60个，paddle有144个，其中paddle将spectral_norm加入优化器列表
因此怀疑是instance_norm或spectral_norm部分问题，对spectral_norm进行参数测试，把pytorch的conv2D的权值作为paddle的conv2D的权值输入，并经过各自的spectral_norm，发现输出是一致的，
想问是固定随层Conv和Linear吗？
还有就是自己定义的层加入优化器列表会产生什么影响，因为pytorch对instance_norm和spectral_norm的参数并没有optim操作，这里paddle和pytorch区别在哪？

[2020-08-28 02:42] chenmingwei00 opened #26760 "模型报错，求解决呀"
陈明威:
if is_classify:
    pyreader = fluid.layers.py_reader(
        capacity=50,
        shapes=[[-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1],
               [-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1],
               [-1, args.max_seq_len, 1], [-1,args.paragram_conut,args.paragram_max_len, 1],
                [-1, 1], [-1, 1]],
        dtypes=[            'int64', 'int64', 'int64

[2020-08-28 02:47] chenmingwei00 commented on #26760
参考的是百度观点阅读理解代码更改https://aistudio.baidu.com/aistudio/projectdetail/247636

[2020-08-28 02:59] starsblinking opened #26762 "求解为什么auc是0.5"
两种写法，第一种auc正常，可以训练到0.9+；第二种auc自始自终都是0.5，求解原因啊

第一种(auc正常)：
binary_predict = fluid.layers.fc(
input=fc3,
size=2,
act="softmax",
param_attr=fluid.ParamAttr(initializer=fluid.initializer.Normal(
scale=1 / math.sqrt(fc3.shape[1]))),
)
cost = fluid.layers.cross_entropy(input=binary_predict, label=inputs[1])
avg_cost = fluid.layers.mean(cost)

auc_var, batch_auc_var, auc_stat_list = fluid.layers.auc(inp

[2020-08-28 03:00] Shixiaowei02 commented on #26354
@barry2025 你好，此问题的原因是比较明确的：相同 API（应用程序用户接口）因为编译器的原因产出的 ABI（应用程序二进制接口）不同。这种情况非常大概率是因为前后编译使用的编译器行为不同导致，请在不同环境确认一下。谢谢

[2020-08-28 03:28] willthefrog commented on #26624
是bug，2.0会统一删除inplace设置。

[2020-08-28 03:31] GaoWei8 commented on #26755
动态图直接使用.numpy()。
静态图使用fetch将变量fetch出来是numpy类型。

[2020-08-28 03:46] AWSWXY opened #26765 "internal error in RPCClient"
本地训练无误，集群训练报错如下
![image](https://user-images.githubusercontent.com/18156360/91519058-278f0400-e924-11ea-9604-6288fbdcf14c.png)
任务链接
http://10.87.108.23:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20200828013925-20693/

[2020-08-28 03:56] littletomatodonkey commented on #26758
你好，`python tools/download.py`这个不要使用sudo试下，你export设置的环境变量是在当前用户的目录下设置的

[2020-08-28 04:06] gfwm2013 commented on #26756
@chenmingwei00 我看您在[issue#26760](https://github.com/PaddlePaddle/Paddle/issues/26760)中提出了相同的问题，且已经有了回复，麻烦请参考那个issue中的回复。

[2020-08-28 04:10] gfwm2013 commented on #26756
@chenmingwei00 看到您在[issue#26760](https://github.com/PaddlePaddle/Paddle/issues/26760)提出了相同的问题且描述更为详细，为了后续的沟通方便，我们将会以[issue#26760](https://github.com/PaddlePaddle/Paddle/issues/26760)为主，为您提供解答，请知悉。

[2020-08-28 04:58] chenmingwei00 commented on #26760
没有人回答呀

[2020-08-28 05:50] gfwm2013 commented on #26762
cost = fluid.layers.log_loss(input=predict, label=cast_label)
为什么要用log_loss来组网呢？

[2020-08-28 05:56] gfwm2013 commented on #26760
@chenmingwei00 请问一下，为什么要修改这个shape呢？

[2020-08-28 05:58] chenmingwei00 commented on #26760
您指的是哪个shape

[2020-08-28 06:00] gfwm2013 commented on #26760
@chenmingwei00 就是您自己添加的这个shape。
`这个是官方提供的代码，我就加了 [-1,args.paragram_conut,args.paragram_max_len, 1]倒数第三个`

[2020-08-28 06:04] chenmingwei00 commented on #26760
由于我的句子的shape是多个一个维度，我对应给的数据shape与此保持一致，最后我改成了同样的shape，还是这样

[2020-08-28 06:07] chenmingwei00 commented on #26760
4649,2747,97,494,390,505,193,33,215,379,421,1400,16,52,14,3348,85,7,200,943,12043,943,421,1400,4,1690,155,32,66,21,1289,865,4,3348,85,11,1690,865,5,25,29,86,1124,2082,4,526,566,73,16,505,633,39,12043,421,1400,16,52,14,673,3243,7,200,943,4,943,15,32,21,1595,17963,421,1400,2145,673,3243,6306,9822,9781,10,168,37,7289,9938,9498,88,34,5,4,255,10,277,7289,9938,9498,862,91,92,160,69,15,16,332,4,6306,9822

[2020-08-28 06:11] chenmingwei00 commented on #26760
Tensor[read_file_0.tmp_7]
	shape: [16,256,1,]
	dtype: l
	data: 296,404,139,337,1452,78,374,123,327,1653,856,77,432,195,4,1512,304,777,52,171,709,900,441,108,5,566,399,2831,1199,15,16,332,303,777,8,4,321,65,303,777,8,165,86,91,448,111,41,299,263,806,
fluid.layers.Print(data, message="The content of input layer:")

        emb_out = fluid.layers.embedding(
            input=data,
            size=[s

[2020-08-28 06:14] wgh1989 commented on #26354
@Shixiaowei02 我这边整合了一个非常简单的环境，复现了以上问题
分别使用gcc-485和gcc-82环境运行官网inference demo
https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/yolov3
gcc-485，
![image](https://user-images.githubusercontent.com/35423940/91527476-6d55c780-e938-11ea-8433-d3dd43e9b054.png)
gcc-82，使用厂内aipe基础82镜像
![image](https://user-images.githubusercontent.com/35423940/91527510-7cd51080-e938-11ea-9e1e-14ffaaf

[2020-08-28 06:15] xttian commented on #26735
传入的数据类型指的是numpy数据格式我强制控制一下对吧

[2020-08-28 06:15] gfwm2013 commented on #26760
@chenmingwei00 好的，谢谢，我这边先仔细看一下。

[2020-08-28 06:18] chenmingwei00 commented on #26760
好的您看一下，我再贴一下ernie的代码，这边没报错，但是两个代码应该是一样的

ernie代码：
   # padding id in vocabulary must be set to 0
        fluid.layers.Print(src_ids, message="src_ids The content of input layer:")

        emb_out = fluid.layers.embedding(
            input=src_ids,
            size=[self._voc_size, self._emb_size],
            dtype=self._emb_dtype,
            param_attr=fluid.ParamAttr(
                name=sel

[2020-08-28 06:27] starsblinking commented on #26762
为什么不能用呢？它有什么特别的地方吗？

[2020-08-28 06:31] GaoWei8 commented on #26728
看起来是你修改了load的数据shape格式，所以导致了后面的计算有问题。既然你的计算逻辑没有变，而且是仿照ernie写的。建议到ernie repo下提问issue更有针对性。
https://github.com/PaddlePaddle/ERNIE/issues

[2020-08-28 06:34] chenmingwei00 commented on #26760
我更改了一部代码，增加了一个lstm，下边的是lstm的代码feed

[2020-08-28 06:39] chenmingwei00 commented on #26760
难道emb_out = fluid.layers.embedding(
        input=data,
        size=[self._voc_size, self._emb_size],
        dtype=self._emb_dtype,
        param_attr=fluid.ParamAttr(
            name=self._word_emb_name, initializer=self._param_initializer),
        is_sparse=False)
这个id最后必须加0？？？？

[2020-08-28 06:41] GaoWei8 commented on #26721
Conv, Linear, instance_norm应该是和pyorch对齐的。而且你提到其他人已经解决了这个问题。有没有可能在参数设置，op计算等方向和别的项目对齐一下？

[2020-08-28 06:42] GaoWei8 commented on #26735
是的。

[2020-08-28 06:44] #26735 closed, assigned to nobody

[2020-08-28 06:44] chenmingwei00 commented on #26760
要不我把代码给您您看看

[2020-08-28 06:48] jtyoui opened #26768 "我在alpine镜像里面去编译paddlepaddle，出现一些异常"
alpine: 3.12.0
python3: 3.8
paddlepaddle: 1.8.3

# 一直等待到天荒地老
[code]

[2020-08-28 06:50] jtyoui commented on #12519
修复了吗？我也遇到了相同的情况，现在是2020年了

[2020-08-28 06:52] starsblinking commented on #26762
发现历史上也有人问过相似的问题，而contributors并没有给出解答： https://github.com/PaddlePaddle/Paddle/issues/18552

[2020-08-28 07:16] chenmingwei00 commented on #26760
rnn_out, last_h, last_c = layers.lstm(emb, init_h, init_c, max_len, hidden_size, num_layers, dropout_prob=dropout_prob)
发现应付该试着了的错误，直接只有feed_ding

[2020-08-28 07:28] chfhf commented on #26721
问题已找到，在于自定义Relu以及LeakyRelu的时候inplace设置若为true，set_value造成模型无法收敛，这是paddle的bug，请尽快修复，举例如下：
`class ReLU(Layer):
    def __init__(self, inplace=True):
        super(ReLU, self).__init__()
        self.inplace = inplace

    def forward(self, x):
        if self.inplace:
            x.set_value(relu(x))
            return x
        else:
            y = relu(x)
            return y`
调用ReLU(true)是无法收敛的，L

[2020-08-28 07:32] chenmingwei00 commented on #26760
layers.lstm(ernie.emb_out_paragraph,
    #                                       init_h,
    #                                       init_c,
    #                                       args.max_seq_len,
    #                                       ernie_config['hidden_size'],
    #                                       1,
    #                                       dropout_prob=0.2)
所有的batch_size的s

[2020-08-28 07:39] gfwm2013 commented on #26768
@jtyoui 看起来是网络的问题，可以考虑设置一下代理。

[2020-08-28 07:52] gfwm2013 commented on #26760
@chenmingwei00 看起来像是你的输入数据的shape格式，导致了后面计算的问题。既然你是按照ernie模型的逻辑写的，建议到ernie repo下提issue会得到更加有针对性的回答。当然我这边也会帮你继续看这个问题。

Ernie repo链接：https://github.com/PaddlePaddle/ERNIE/issues

[2020-08-28 07:53] wozna commented on #26754
Thank you very much for the quick response.

[2020-08-28 08:30] qingqing01 commented on #26597
@hai715 完整的batch-norm实现，还不支持double-grad，另一个可替代的方案，可以参考 https://github.com/PaddlePaddle/models/blob/release/1.4/PaddleCV/gan/cycle_gan/layers.py#L22 instance-norm的子op拼接，拼接一个batch-norm，instance-norm用到的子op都支持double-grad.

[2020-08-28 08:58] GaoWei8 commented on #26721
目前op的inplace功能不建议使用，有计划添加功能由框架自动判断是否inplace。

[2020-08-28 09:47] wzzju commented on #26753
Hi，https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/amp/amp.html 这里的混合精度训练最佳实践是针对静态图的，看了您的代码：
![image](https://user-images.githubusercontent.com/17102274/91547362-60e06780-e956-11ea-9348-fa297842b0ef.png)
您使用的是动态图模型，而针对动态图混合精度训练的功能正在开发中。感谢关注～

[2020-08-28 09:54] 45659301 commented on #25454
离线训练的时候也遇到了这个任务，slot都补0了，最终排查发现问题：参数个数 和你 在定义 dataset的时候的 set var 没对上。

[2020-08-28 10:28] MrChengmo commented on #26765
请问Paddle版本是什么？可否分享下PaddleCloud任务，debug一下

[2020-08-28 10:43] AWSWXY commented on #26765
1.6.0   job job-0bb5f48a2168aafb

[2020-08-28 11:23] starsblinking commented on #26600
多谢

[2020-08-28 11:23] #26600 closed, assigned to nobody

[2020-08-28 11:56] MrChengmo commented on #26765
看起来paddle版本有些旧，可以换到最新的1.8.x试一试，另外任务 使用paddlecloud的分享功能 分享给chengmo就可以

[2020-08-28 12:08] saxon-zh commented on #26624
@cgq0816 跟模型研发相关的同学沟通了下，可以先按照您的自定义方案继续优化，没有问题，后续2.0里面我们就统一做这个修复

[2020-08-28 12:31] AWSWXY commented on #26765
已经分享

[2020-08-28 12:49] Dabulv opened #26781 "InvalidArgumentError: seq_len should <= 1024, but received seq_len is"
**Environment**
python 3.6.9
paddlepaddle-gpu 1.8.1.post97

**Problem**
Why limits the max sequence length of bert encoder? I just use 2-layers of transformers and I want deal with longer sequence.

**Traceback**
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString

[2020-08-28 13:23] #25819 closed, assigned to nobody

[2020-08-28 13:23] #25820 closed, assigned to nobody

[2020-08-28 13:26] #25831 closed, assigned to nobody

[2020-08-28 13:26] #25855 closed, assigned to nobody

[2020-08-28 13:28] #25953 closed, assigned to frankwhzhang

[2020-08-28 13:34] #26116 closed, assigned to nobody

[2020-08-28 13:34] #26119 closed, assigned to nobody

[2020-08-28 16:13] jczaja opened #26783 "[oneDNN] Question on adding optional tensors to ops"
I'm trying to  add 'MidOut' **optional** output to pool2d operator. oneDNN BWD needs indices from FWD to to perform GRAD operation (similar like your op: max_pool2d_with_indices).  This 'MidOut' is needed only for oneDNN data , so I do not want PaddlePaddle users to see that Tensor e.g. ideally not to expose this 'MidOut' in API.

Some changes with Disposable 'MidOut': https://github.com/PaddlePad

[2020-08-28 20:11] ARDUJS opened #26784 "动态图的使用"
### 环境
- paddlepaddle 1.7.2
- python 3.7
### 问题

这是在静态图上编写CRF的代码
[code]
我应该如何将其修改为动态图上的代码

[2020-08-29 01:48] zzz2010 opened #26785 "【论文复现】paddle 实现SVD"
请问paddle 有无类似torch.svd() 的方法？ 如果没有的话， 有无实现的思路呢？ 谢谢

[2020-08-29 02:52] chunfeng0301 commented on #26518
import torch
import torch.nn as nn
import torch.nn.functional as F
import math

class FlowLayer(nn.Module):

    def __init__(self, channels=1, bottleneck=32, params=[1,1,1,1,1], n_iter=10):
        super(FlowLayer, self).__init__()
        self.bottleneck = nn.Conv3d(channels, bottleneck, stride=1, padding=0, bias=False, kernel_size=1)
        self.unbottleneck = nn.Conv3d(bottleneck*2, channels,

[2020-08-29 05:03] DrRyanHuang commented on #26753
@wzzju 感谢您的回答，再补充一下，PP2.0中可以有动态图版的吗？

[2020-08-29 05:03] #26753 closed, assigned to nobody

[2020-08-29 07:43] #26378 closed, assigned to lijianshe02

[2020-08-29 08:21] liu824 opened #26788 "【论文复现】DataLoader"
DataLoader的中文文档有残缺，缺失DataLoader的使用，英文是完整的，英文文档附带的代码有错误，应该是from paddle.fluid.io import Dataset, BatchSampler, DataLoader

![image](https://user-images.githubusercontent.com/55372277/91632492-aa42bc80-ea13-11ea-96d0-7fbb93fcc270.png)

[2020-08-29 08:23] liu824 commented on #26788
import numpy as np
import paddle.fluid as fluid
from paddle.io import Dataset, BatchSampler, DataLoader(错误from paddle.fluid.io import Dataset, BatchSampler, DataLoader)

BATCH_NUM = 20
BATCH_SIZE = 16
EPOCH_NUM = 4

IMAGE_SIZE = 784
CLASS_NUM = 10

USE_GPU = False # whether use GPU to run model

# define a random dataset
class RandomDataset(Dataset):
    def __init__(self, num_samples):
        se

[2020-08-29 08:25] ParsonsZeng opened #26789 "[论文复现] 如何构建自己的损失函数"
Paddle: 1.8.0

我想着使用Paddle复现度量学习中的损失函数

其中一个损失函数的操作是

for i in range(batch_size):
            pos_pair_ = sim_mat[i][labels == labels[i]]         <-----这一步出错了
            pos_pair_ = pos_pair_[pos_pair_ < 1 - epsilon]
            neg_pair_ = sim_mat[i][labels != labels[i]]

            neg_pair = neg_pair_[neg_pair_ + self.margin > min(pos_pair_)]
            pos_pair = pos_pair_[pos_pair_ - self.

[2020-08-29 08:53] zhhsplendid commented on #26784
飞桨的静态图代码开启动态图是非常简单的，1.7.2版本只要在paddle代码相关部分添加with fluid.dygraph.guard()。相关教程可见： https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id3

[2020-08-29 12:30] saxon-zh commented on #26788
非常感谢您的反馈，我们跟进修复一下API文档。

[2020-08-29 12:35] liu824 commented on #26788
使用DataLoader这个报错是为什么
2020-08-29 20:33:37,482-ERROR: DataLoader reader thread raised an exception!
Exception in thread Thread-15:
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dataloader/dataloader_iter.py", line 443, in _get_data
    data = self._data_queue.get(timeout=self._timeout)
  File "/opt/conda/envs/python35-paddl

[2020-08-29 12:41] saxon-zh commented on #26789
辛苦 @DannyIsFunny 看下

[2020-08-29 12:45] jeng1220 commented on #26335
@cryoco ,
我剛仔細看log，這問題應是compiler對C++的auto實現問題，vs compiler遇到auto轉型失敗，故問題不在`getPluginRegistry`。

[tensorrt.h#L38](https://github.com/PaddlePaddle/Paddle/blob/release/1.8/paddle/fluid/platform/dynload/tensorrt.h#L38) 回傳為的型別是 `auto`，而[tensorrt.h#L45](https://github.com/PaddlePaddle/Paddle/blob/release/1.8/paddle/fluid/platform/dynload/tensorrt.h#L45) 會一律強制回傳 `nullptr`。

這和我們之前在群上討論的 #26283 是類似的問題，按Pad

[2020-08-29 12:52] jeng1220 commented on #25107
This error is caused by the disabling slice plugin in Paddle v1.8. The workaround is increasing `min_subgraph_size` or enabling slice plugin back.
@zlsh80826 , I think we can close this issue now.

[2020-08-29 12:58] saxon-zh commented on #26788
辛苦 @DannyIsFunny 看下

[2020-08-29 12:58] saxon-zh commented on #26785
辛苦 @DannyIsFunny 看下

[2020-08-29 13:19] gfwm2013 commented on #26781
麻烦@xingzhaolong处理一下，谢谢～

[2020-08-29 13:33] qingqing01 commented on #26677
目前支持二次梯度的op包括:

[code]

sequeeze,unsqueeze可以通过reshape替换。matmul在paddle中是mul，这个支持二次梯度。 但expand和log目前还不支持。

https://github.com/AliaksandrSiarohin/first-order-model/blob/78079d14396052dea55a1ee6a4432fb13da61c53/modules/model.py#L95-L120

这部分代码中好像没看到expand相关代码。

[2020-08-29 13:46] DrRyanHuang opened #26791 "PR没有回复"
RD您好！感谢您在百忙之中看到这个issue!

我是个git的新手，我有一次PR都没有被回复，请问是我的姿势不对吗？
您可以帮忙看看吗？

[https://github.com/PaddlePaddle/Paddle/pull/4793](https://github.com/PaddlePaddle/models/pull/4793)

[2020-08-29 13:53] leeacord commented on #26677
@qingqing01 感谢回复！expand在函数broadcast_v1(x, y)中，当前[5, 1, 2, 2] 与 [1, 65536, 2, 1] 不能直接进行卷积。broadcast_v1用于将二者的除最后二维之外的维度填充到相同数值，在此是分别填充到[5, 65535, 2, 2] 和 [5, 65536, 2, 1]。

[2020-08-29 14:09] qingqing01 commented on #26677
@leeacord  谢谢，明白了。本来还想tps分支去掉会咋样，看来即使去掉，也还是无法满足。 `[5, 1, 2, 2] 与 [1, 65536, 2, 1] ` 需要的是batch的mat-mul，这个确实也还不支持二次梯度。

[2020-08-29 14:57] ctkindle commented on #26721
检查判别器loss，不应该那么低

[2020-08-29 15:01] DrRyanHuang opened #26795 "fluid.dygraph.LayerList 的PR问题"
在 `Paddle1.8` 或者 `Paddle2.0`中，都遇到了这个问题，建立一个空的`LayerList`不可以直接`insert`

原因可能是：
[code]
在该代码中如果当前LayerList 为空，则会抛出 `AssertError`，则需要重新考虑LayerList 为空的情况，
可以加上`len(self._sub_layers) == 0` 的情况，即：
[code]

我push到了1.8 https://github.com/PaddlePaddle/Paddle/pull/26793 和 2.0 https://github.com/PaddlePaddle/Paddle/pull/26790 ，都没有通过

[2020-08-29 15:04] ctkindle commented on #26721
单独检查下判别器各部分的loss和logit

[2020-08-29 15:04] ctkindle commented on #26721
单独检查下判别器各部分的loss和logit

[2020-08-29 15:05] ctkindle commented on #26721
单独检查下判别器各部分的loss和logit

[2020-08-29 15:05] ctkindle commented on #26721
单独检查下判别器各部分的loss和logit

[2020-08-29 15:05] ctkindle commented on #26721
单独检查下判别器各部分的loss和logit

[2020-08-29 17:48] #26721 closed, assigned to nobody

[2020-08-30 02:53] liu824 commented on #26410
我也遇到这个问题

[2020-08-30 05:13] #26556 closed, assigned to yongqiangma

[2020-08-30 05:35] saviord7 opened #26798 "grpc_client.cc:504] SendRPC name:[fc_0.b_0.opti.trainer_0], ep:[127.0.0.1:8181], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details: *** Check failure stack trace: ***"
Hello.
I am trying to run Secure Aggregation strategy in Paddle FL.
I have 1 server and 2 trainers like in example ( paddle_fl >> examples >> sec_agg)
I have my  x.data and when I running training with my dataset (x.data) on two trainers it getting well.
I divided x.data in two parts: 1/2 = y.data , 1/2 = z.data, so x .data = z.data + y.data.
But now I am trying to start my training and get this

[2020-08-30 07:42] LiKangyuLKY commented on #24302
你好，在输入paddle.fluid.install_check.run_check()进行测试时，我遇到了与@qgqinfen 相同的问题，按照你的回复，测试如下：
![image](https://user-images.githubusercontent.com/42792466/91653883-f7d42d80-ead6-11ea-8910-7cf46a97c3bb.png)

该怎么去解决这个问题呢

[2020-08-30 07:52] zhaotun opened #26801 "执行 paddle.fluid.install_check.run_check() 出错 Error: Cannot load cudnn shared library."
基本环境： centos7  RXT2080ti  cuda10.1  cudnn7.6.5 python3.6.10  paddlepaddle-gpu==1.8.3.post107
安装完成后，执行以下命令
[code]
继续执行以下命令，报错
[code]
在 /etc/profile 中已经设置了 cuda 路径
[code]

[2020-08-30 08:05] jiweibo commented on #26801
在环境变量中在显示设置一下LD_LIBRARY_PATH吧，看下是否work

[2020-08-30 08:09] zhaotun commented on #26801
不好意思，新手有点不太明白，能不能详细说下要怎么做的

[2020-08-30 08:16] MrChengmo commented on #26765
好的~已经克隆你的任务开始尝试复现了。

[2020-08-30 08:20] DannyIsFunny commented on #26789
你好，当前我们的bool无法作为提取数组的index。 建议可以 加个cast把bool转化成int，然后作为提取数组的index

[2020-08-30 08:37] LiKangyuLKY commented on #24788
你好，请问修复的具体方式是？

[2020-08-30 08:52] DannyIsFunny commented on #26785
你好，我们当前没有svd的实现方法

[2020-08-30 08:58] DannyIsFunny commented on #26791
你好，已经反馈相关作者，会尽快回复

[2020-08-30 09:02] LiKangyuLKY opened #26803 "Ubuntu18.04下安装paddle报错：Cublas error, CUBLAS_STATUS_EXECUTION_FAILED"
- 标题：Ubuntu18.04下安装paddle报错：Cublas error, CUBLAS_STATUS_EXECUTION_FAILED
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==1.8.0.post107   paddlepaddle-gpu==1.8.4.post107  两个版本都试了
    2）GPU：CUDA和cudnn信息如下图：
![image](https://user-images.githubusercontent.com/42792466/91655129-222ae880-eae1-11ea-86c9-67442a669b77.png)
![image](https://user-images.githubusercontent.com/42792466/91655157-4ab2e280-eae1

[2020-08-30 09:03] DannyIsFunny commented on #26788
你好，已经反馈API作者尽快修复文档

[2020-08-30 09:30] DannyIsFunny commented on #26795
![image](https://user-images.githubusercontent.com/45189361/91655843-78e6f100-eae6-11ea-8bfa-ddf53f90e376.png)
你好报错信息显示是因为有一个单测没有通过

[2020-08-30 10:24] jiweibo commented on #26803
CUDA10.0版本好像是有BUG，linux环境下请尝试切换CUDA10.1版本

[2020-08-30 10:26] jiweibo commented on #26801
试一下

`export LD_LIBRARY=/usr/local/cuda-10.1/lib64:$PATH`

替换成
`export LD_LIBRARY_PATH=/usr/local/cuda-10.1/lib64:$PATH`

[2020-08-30 10:35] zhaotun commented on #26801
修改后，错误变成了
[code]

[2020-08-30 11:43] LiKangyuLKY commented on #26803
是的，更换成CUDA10.1版本正常

[2020-08-30 11:43] #26803 closed, assigned to nobody

[2020-08-30 12:12] yang-collect opened #26804 "功能建议 数据增强"
可否考虑如pytorch那样提供一站式解决的数据读取以及数据增强的api?
如 : torchvision的transform的一系列方法以及torch.datasets下的一系列的数据io的方法
目前在paddlex上能看到类似的数据增强api,可否考虑移植至paddle上

[2020-08-30 12:15] DrRyanHuang commented on #26795
您好，那这个 `LayerList` 为空时，使用`insert`方法会报错，该怎么解决呢？
我将
[code]
改为了
[code]

[2020-08-30 12:22] DannyIsFunny commented on #26788
你先用num_workers=0看下流程有没有问题再开多进程吧，然后/dev/shm下的空间多大，比较小的话把use_shared_memory设成False吧

[2020-08-30 13:41] saxon-zh commented on #26785
@zzz2010 这是在复现哪篇论文

[2020-08-30 13:53] jiweibo commented on #26804
可以考虑直接使用paddlex中的增强api，后续会对此进行考虑，感谢建议

[2020-08-30 14:03] jiweibo commented on #26801
尝试一下把cudnn/lib64 对应的目录也加入到LD_LIBRARY_PATH中，这个错误信息 应该是环境问题，可能是没找到cudnn.so

[2020-08-30 14:09] yang-collect commented on #26804
我是直接pillow读取后copy函数用的,/(ㄒoㄒ)/~~,当然也copy了一部分torchvision的哈( •̀ ω •́ )✧

[2020-08-30 14:17] DrRyanHuang commented on #25703
`paddle 2.0`  依然有这个问题，用1.8.4就可以了吗？？

[code]

[2020-08-30 14:45] leeacord commented on #26677
@qingqing01 一阶导用手算方式解决了，测了几个输入，一阶导数和pytorch的结果没有区别。tps分支现在也能跑通了，先跑半天训练看看结果。

[2020-08-30 16:24] zlsh80826 commented on #25107
Yes, this problem will be solved in the future. I will close this issue.

[2020-08-30 16:24] #25107 closed, assigned to nobody

[2020-08-30 16:35] Rookieaura opened #26805 "【论文复现】paddle中是否有定义好的Sampler类？"
在PyTorch中的 torch.utils.data.sampler 有定义好的 Sampler 类，在自定义 sampler 的时候可以继承。请问在paddle中有这样的类吗？与之类似的，还有Dataset 类 和 DataLoader 类，我在查阅API时其实可以看出来，似乎有预先定义好的这些类，但是似乎在文档中并没有体现。

[2020-08-31 00:54] jeng1220 commented on #26039
@NHZlX, @cryoco,
There are 2 pull requests regarding slice plugin - #25602  and #25276.
商智洲 told me that what Paddle needs is actually as same as `nvinfer1::ISliceLayer`, so we can replace slice plugin with `nvinfer1::ISliceLayer`, then we don't need the 2 pull requests.

[2020-08-31 00:57] saxon-zh commented on #26804
@lemonlife2333 马上发布的2.0 beta版本中会上线所需的数据增强、领域数据集、领域经典模型和模型训练评估等高层API，统一数据加载（dataloader+dataset）方式，欢迎试用哈~

[2020-08-31 01:34] zhangylch commented on #25703
。。。。不可以啊。我就是在1.8.4上测试的，2.0alpha我之前也测试过不行，

ylzustc@mail.ustc.edu.cn

发件人： Ryan_Huang
发送时间： 2020-08-30 22:18
收件人： PaddlePaddle/Paddle
抄送： zyl12138; Author
主题： Re: [PaddlePaddle/Paddle]动态图应用fluid.dygraph.grad 报错 (#25703)
paddle 2.0 依然有这个问题，用1.8.4就可以了吗？？
----------------------
Error Message Summary:
----------------------
PermissionDeniedError: Target var generated_var_0@GRAD should not be nullptr

[2020-08-31 02:27] jiweibo commented on #26805
目前应该是推荐DataLoader的写法
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/DataLoader_cn.html#dataloader

dataset，sampler在DataLoader内部用到了，官网上文档好像还没有更新，可以参考代码注释
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dataloader/sampler.py#L23
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dataloader/dataset.py#L23

[2020-08-31 02:55] ceci3 commented on #26791
已经approve，等CI过完就可以合入了，感谢您的贡献~ @DrRyanHuang

[2020-08-31 03:00] GuoQuanhao commented on #26152
这是什么版本的paddle，我出现了以下错误，告知我没有这些操作
[code]
[code]

我使用的paadle1.8.3

[2020-08-31 03:02] #26701 closed, assigned to nobody

[2020-08-31 03:06] #26704 closed, assigned to nobody

[2020-08-31 03:07] #26705 closed, assigned to nobody

[2020-08-31 03:15] littletomatodonkey commented on #26703
你好，先清除下cmakecache，然后建议将下面的mkl相关的都改为ON哈，`-DWITH_MKL=ON`和    `-DWITH_MKLDNN=ON`

![image](https://user-images.githubusercontent.com/14270174/91679545-302d4780-eb7b-11ea-8a78-e4be72b09aae.png)

[2020-08-31 03:17] JepsonWong commented on #24302
@tianshuo78520a

[2020-08-31 03:18] LiKangyuLKY commented on #24302
CUDA10.0有BUG，更换到10.1版本后正常

[2020-08-31 03:31] GuoQuanhao commented on #26155
这是什么版本的paddle，我出现了以下错误，告知我没有这些操作
[code]
[code]
我使用的paadle1.8.3

[2020-08-31 03:37] zhudibo opened #26807 "【论文复现】复现insightface里面的损失函数arcface"
参考pytorch中的arcface损失，采用paddle进行复现，目前已定义好的类如下，不知这样是否可行?请大佬赐教。

[code]

[2020-08-31 03:43] phlrain commented on #26795
按照python array insert的行为，如果index=0，直接把数据放在数组的最开始的位置，直接取消这个限制可能会导致后续的往数组插入数据存在问题

在空的LayerList下，建议先试用 extend接口， insert接口的问题，我们会提一个pr来修复

[2020-08-31 04:17] liym27 commented on #26807
请问您是想咨询，您实现的这个类，是否可以在Paddle框架下正常组网使用吗？或者说只是想看实现逻辑是否正确？
Paddle里的损失函数，一般是直接定义普通函数，可以参考https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/loss.py

[2020-08-31 04:32] zhudibo commented on #26807
您好，目前paddle官网关于arcfaceloss的复现还没出现，然后我自己对照pytorch版的arc faceloss在paddle框架上复现arcfaceloss. 但不知道自己使用paddle框架复现的insight face中的arcfaceloss是否符合paddle的语法逻辑以及能否在paddle上面正常运行起来？请大佬给点指导，看下我的demo是否有问题，直接调用这个类能否实现arcfaceloss计算损失。

---原始邮件---
发件人: "liym27"<notifications@github.com&gt;
发送时间: 2020年8月31日(周一) 中午12:17
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "zhudibo"<1020286694@qq.com&gt;;"Autho

[2020-08-31 04:32] flishwang opened #26810 "generate_proposals_op网络定义阶段与运行阶段的lod_level不一致"
generate_proposals_op.cc:

[code]

这部分代码，未设置lodlevel，导致输出的LodLevel为0。但计算图执行时，其输出附有lod_level=1的lod info.
因此，网络定义阶段，对RpnRrois及无法使用sequence_pool等lodTensor相关的算子进行处理。

[2020-08-31 04:35] zhudibo commented on #26807
我实现的这个类在paddle框架上正常组网使用和逻辑这块都想咨询一下，请大佬指点，感谢😊

---原始邮件---
发件人: "liym27"<notifications@github.com&gt;
发送时间: 2020年8月31日(周一) 中午12:17
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "zhudibo"<1020286694@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 【论文复现】复现insightface里面的损失函数arcface (#26807)

请问您是想咨询，您实现的这个类，是否可以在Paddle框架下正常组网使用吗？或者说只是想看实现逻辑是否正确？

—
You a

[2020-08-31 04:37] flishwang opened #26811 "add int32/64 support for sequence_pool"
so that I can count the numbers of specific elements in each sample in a lodTensor.

[2020-08-31 04:48] flishwang opened #26812 "add bool support for reshape op"
so that the reshape op can be applied on the results of logical op like <, >, logical_and and logical_or

[2020-08-31 05:22] luotao1 commented on #26703
@zhiqiu @littletomatodonkey Mac下并不支持MKL，MAC下能否编译预测库也没有尝试过。

[2020-08-31 05:24] flishwang opened #26814 "add LodTensor support for where op"
currently, the where op returns a 2-D array without lod info, even if its input's lod level > 0.

I wonder if it's possible to append lod-info to the output, so that we can easily tell which samples the the elements are from?

[2020-08-31 07:08] liym27 commented on #26807
你好，可以参考这2个文件中的代码：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/loss.py，
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/layer/loss.py

您的代码，大体结构是没有问题的，类名、变量名可能需要再规范化。同时，运算逻辑是否可以再精简？forward函数中，调用了较多函数。
另外，可以增加单测，验证新增代码是否有问题，单测代码可以参考这个，交叉熵损失的单测文件
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_cross_en

[2020-08-31 07:21] liym27 commented on #26807
感谢您复现该损失函数，欢迎提PR给PaddlePaddle仓库，流程可参考
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/contribute_code/submit_pr_guide.html
有问题请随时沟通，谢谢

[2020-08-31 07:27] zhudibo commented on #26807
好的，我先验证一下我的demo是否可行，后期再优化一下demo

[2020-08-31 07:28] zhudibo commented on #26807
好的，我先验证一下我的demo是否可行，后期再优化一下demo

[2020-08-31 07:28] zhudibo commented on #26807
好的，我先验证一下我的demo是否可行，后期再优化一下demo

[2020-08-31 07:29] Rookieaura commented on #26805
是的，我也看到了DataLoader内部的定义。不过其中Sampler的定义好像只在develop版本中有，论文复现用的1.8版本并没有定义这个类。我看了下，有定义好的BatchSampler类，在有些情况下似乎也可以替代Sampler类被继承，达到同样效果，不知道我理解的有没有问题？

[2020-08-31 07:33] zhudibo commented on #26807
好的，我先验证一下我的demo是否可行，后期再优化一下。能否成为contributors.&nbsp;

---原始邮件---
发件人: "liym27"<notifications@github.com&gt;
发送时间: 2020年8月31日(周一) 下午3:08
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "zhudibo"<1020286694@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 【论文复现】复现insightface里面的损失函数arcface (#26807)

你好，可以参考这2个文件中的代码：https://github.com/PaddlePaddle/Paddle/b

[2020-08-31 08:05] liym27 commented on #26811
Thank you for your feedback, we will deal with it later.

[2020-08-31 08:07] liym27 commented on #26812
Thank you for your feedback, we will support it later.

[2020-08-31 08:13] liym27 commented on #26814
Thank you for your feedback.
It's possible to append lod-info to the output, we will deal with it later and give you feedback soon.

[2020-08-31 08:33] liym27 commented on #26810
感谢反馈，已经将该问题反馈给相关同事，对该需求我们稍后将进行处理

[2020-08-31 08:39] #23735 closed, assigned to nobody

[2020-08-31 08:40] DrRyanHuang commented on #26082
paddleX中有，大家可以找找

[2020-08-31 08:40] #26082 closed, assigned to nobody

[2020-08-31 09:15] jiweibo commented on #26805
本月14号，github会建立2.0 beta的tag，之后可以在这个tag上开发。

1.8的版本是有Sampler 在 python/paddle/fluid/dataloader/sampler.py，Sampler的多个子类应该也能达到同样效果

[2020-08-31 09:45] #18096 closed, assigned to xsrobin

[2020-08-31 09:45] #19179 closed, assigned to NHZlX, Shixiaowei02

[2020-08-31 09:45] #19354 closed, assigned to nobody

[2020-08-31 09:45] #19394 closed, assigned to lijianshe02

[2020-08-31 09:45] #19427 closed, assigned to nobody

[2020-08-31 09:45] #19439 closed, assigned to seiriosPlus

[2020-08-31 09:45] #19454 closed, assigned to nobody

[2020-08-31 09:46] #19457 closed, assigned to JiabinYang

[2020-08-31 09:46] #19475 closed, assigned to Shixiaowei02

[2020-08-31 09:46] #19479 closed, assigned to nobody

[2020-08-31 09:46] #19482 closed, assigned to nobody

[2020-08-31 09:46] #19490 closed, assigned to nobody

[2020-08-31 09:46] #19492 closed, assigned to nobody

[2020-08-31 09:46] #19496 closed, assigned to nobody

[2020-08-31 09:46] #19499 closed, assigned to nobody

[2020-08-31 09:46] #19514 closed, assigned to nobody

[2020-08-31 09:46] #19523 closed, assigned to nobody

[2020-08-31 09:46] #19530 closed, assigned to NHZlX

[2020-08-31 09:46] #19541 closed, assigned to nobody

[2020-08-31 09:46] #19559 closed, assigned to seiriosPlus

[2020-08-31 09:46] #19561 closed, assigned to seiriosPlus

[2020-08-31 10:12] Rookieaura opened #26830 "【论文复现】LSTM是否有动态图方法？"
请问paddle中是否有LSTM的动态图方法？

[2020-08-31 10:18] lewhy2004 opened #26833 "InvalidArgumentError: The input tensor X's dimensions of MulOp should be larger than x_num_col_dims. But received X's dimensions = 1, X's shape = [1024], x_num_col_dims = 1. [Hint: Expected x_dims.size() > x_num_col_dims, but received x_dims.size():1 <= x_num_col_dims:1.] at (/paddle/paddle/fluid/operators/mul_op.cc:62) [operator < mul > error]"
- 版本、环境信息：
硬件信息
CPU 4
RAM 32GB
GPU v100
显存 16GB
环境配置
Python版本
python3.7
框架版本
PaddlePaddle 1.8.0

![__model__](https://user-images.githubusercontent.com/2845351/91710156-650ac000-ebb6-11ea-86b2-941605a74f61.png)

InvalidArgumentError: The input tensor X's dimensions of MulOp should be larger than x_num_col_dims. But received X's dimensions = 1, X's shape = [1024], x_num_col_dims = 1.
  [Hint: Expec

[2020-08-31 10:23] lewhy2004 opened #26836 "The input tensor X's dimensions of MulOp should be larger than x_num_col_dims."
- 版本、环境信息：
硬件信息
CPU 4
RAM 32GB
GPU v100
显存 16GB
环境配置
Python版本
python3.7
框架版本
PaddlePaddle 1.8.0

训练成功，推理出现如下提示：

/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/executor.py:1070: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
-------------------------------------------------------------------------

[2020-08-31 10:23] #26833 closed, assigned to nobody

[2020-08-31 10:31] Rookieaura commented on #26805
谢谢回复，不过 python/paddle/fluid/dataloader/sampler.py 我在release/1.8的branch下我没有找到。其中的BatchSampler在定义时直接继承的基本Object类。且相关子类仅有BatchSampler一种。

[2020-08-31 10:50] lidanqing-vv commented on #26783
oneDNN 训练的计算过程中需要用到'MidOut'， 但是我们不想把这个Tensor暴露给用户，可以给些建议，如何建立一个内部使用的Tensor吗？

[2020-08-31 11:24] #26836 closed, assigned to nobody

[2020-08-31 12:22] starsblinking commented on #26762
@gfwm2013 同学你好，请问能确定这是不是个bug吗？

[2020-08-31 12:22] liym27 commented on #26830
有的，可以参考这个实现方案
https://github.com/PaddlePaddle/models/blob/release/1.8/dygraph/similarity_net/nets/lstm.py

[2020-08-31 12:58] donproc commented on #26783
可以考虑试试ExecutionContext 内的AllocateTmpTensor方法吗？

[2020-08-31 12:59] #26830 closed, assigned to liym27

[2020-08-31 14:00] luotao1 opened #26848 "paddle/fluid/operators/mkldnn error message improvement"
following error message should be improved, please see https://github.com/PaddlePaddle/Paddle/wiki/Paddle-Error-Message-Writing-Specification-(English-Verison)

- paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc (5 line)
[code]
- paddle/fluid/operators/mkldnn/batch_norm_mkldnn_op.cc （2 line）
[code]
- paddle/fluid/operators/mkldnn/concat_mkldnn_op.cc (3 line)
[code]
- paddle/fluid/operators/mk

[2020-08-31 14:18] jczaja commented on #26783
@donproc If I create tensor in FWD pool2d op using  ExecutionContext::AllocateTmpTensor() how can I reference this Tensor in grad pool2d op?

[2020-08-31 17:07] allarobot opened #26851 "【论文复现】复现UGATIT时，windows系统上训练正常，但是上了AIstudio报了多种错误"
Windows10, CUDA10+18.2GPU模型训练正常
AIstudio 使用paddle 18.0时，提示以下错误
![3](https://user-images.githubusercontent.com/14209812/91747028-1b3ecb80-ebf0-11ea-809d-95e8c0d597b5.PNG)
更新至paddle18.2后，错误提示变成如下：
![aistudio_1](https://user-images.githubusercontent.com/14209812/91747130-3f021180-ebf0-11ea-8462-8c5274ca7a87.PNG)

[2020-09-01 01:28] StudyHou66 commented on #26317
同样的问题，楼主解决了吗

[2020-09-01 01:28] cgq0816 commented on #26851
安装1.8.3 gpu版本

然后执行 export LD_LIBRARY_PATH=/usr/local/cuda/lib64 && python main.py

[2020-09-01 02:02] #26717 closed, assigned to nobody

[2020-09-01 02:13] jiweibo commented on #26805
不好意思，我应该看成develop分支了，v1.8.4 tag下 目前确实只有batch_sampler一种

[2020-09-01 02:21] thrkingd opened #26852 "【论文复现】多卡训练时运行时间变长的问题"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，1.8.2
    2）GPU：aistudio平台的脚步任务环境（选择的4卡环境进行运行测试）
项目连接：https://aistudio.baidu.com/aistudio/clusterprojectdetail/773316（已公开）
现象：每次运行到第二个epoch时发现每次循环的运行时间都变长了一倍，运行时间包括reader读数据的时间，进一步测试发现gpu的运行时间没有变化，主要是reader读数据的时间变长了一倍，不知道是什么原因。具体现象可以看输出的日志文件：
Loss at epoch 0 step 5: [4.3775268], acc: [0.125],period: 16.51509690284729
Loss at epoch 0 step 10: [3.

[2020-09-01 02:26] chenwhql commented on #26519
您好，您的问题应该解决了吧，这个可以关闭了吗

[2020-09-01 02:27] supyer9 commented on #26519
嗯嗯，解决了，谢谢您！

[2020-09-01 02:31] qjing666 commented on #26798
Solved, It is the matter of data division.

[2020-09-01 02:32] #26798 closed, assigned to qjing666

[2020-09-01 04:09] shenyt-sanshui opened #26860 "issue未被回复"
您好，我之前提的一个关于口罩检测在树莓派上实现的issue未被回复，paddlepaddle新手，这几天找了很多资料还是未能解决，可以麻烦您抽空看看吗非常感谢！！https://github.com/PaddlePaddle/Paddle-Lite/issues/4207

[2020-09-01 04:12] shenyt-sanshui opened #26861 "建议paddlepaddle能直接在树莓派上安装"
啊啊树莓派上用paddle的模型真的太不方便了呀，强烈建议能尽快实现树莓派上能直接安装paddlepaddle！！！

[2020-09-01 04:37] shenyt-sanshui opened #26862 "服务器部署中，客户端调用的url中的网站要如何填"
根据paddle官方对服务器部署的教学https://paddlepaddle.org.cn/hubdetail?name=pyramidbox_lite_server_mask&en_category=FaceDetection

我在pc端输入$ hub serving start -m pyramidbox_lite_server_mask

在树莓派端输入
import requests
import json
import cv2
import base64

def cv2_to_base64(image):
    data = cv2.imencode('.jpg', image)[1]
    return base64.b64encode(data.tostring()).decode('utf8')

# 发送HTTP请求
data = {'images':[cv2_

[2020-09-01 04:45] jtyoui opened #26863 "alpine上编译paddlepaddle得到一个奇怪的异常"
paddlepaddle：1.8.3
alpine：1.13.0

[code]

我查看本机上的gcc定义的宏：
[code]
显示是有定义的

[2020-09-01 05:21] shaunhurryup opened #26865 "【Paddle 2.0-alpha】动态图如何指定使用GPU？"
如题。

[2020-09-01 05:22] chenwhql commented on #26852
同学你好，项目链接点进去看不到代码，能否贴一下train_reader实现的代码

[2020-09-01 05:30] chenwhql commented on #26852
同学你好，`paddle.reader.xmap_readers`是一个用多线程加速读取的方法，而在动态图模式下，由于python GIL的限制，多线程加速意义不大，几乎是串行读取数据，在动态图的场景中需要使用多进程加速数据读取才能有比较明显的效果

对于这个现象，我的推测是，第一个epoch的时间短可能是启动的时候训练尚未开始之前，各线程从磁盘上读取了一些数据，但到第二个epoch数据没有准备时间给线程读数据了

`paddle.reader.xmap_readers`将来会逐渐淘汰，有兴趣的建议尝试下Paddle的多进程DataLoader，
http://180.76.141.178/documentation/docs/en/api/io/DataLoader.html

[2020-09-01 05:32] aprilvkuo opened #26866 "Paddle动态图转静态图后的产出， 不同paddle版本预测结果有diff"
使用 2.0 alpha 版本进行模型转化，并作为基线。

Python端：
1. paddle1.8版本加载后，预测结果和基线相同。
2. paddle1.6版本加载后，预测结果和基线有diff，不符合预期。

C++预测端：
1. c-api1.6版本加载后，预测结果和基线有diff，不符合预期。(预测结果和python端1.6的结果一致)

[2020-09-01 05:35] Rayaction opened #26867 "多卡训练问题"
ABORT!!! Out of all 2 trainers, the trainer process with rank=[0, 1] was aborted. Please check its log.

[2020-09-01 05:35] jtyoui commented on #26863
已经被我解决了。

[2020-09-01 05:35] #26863 closed, assigned to nobody

[2020-09-01 05:59] Steffy-zxf commented on #26862
你好！使用你机器的ipv4地址。PaddleHub使用问题欢迎在PaddleHub repo下提问：https://github.com/PaddlePaddle/PaddleHub/issues

[2020-09-01 06:05] DannyIsFunny commented on #26860
你好，issue已经回复
![image](https://user-images.githubusercontent.com/45189361/91800772-30514400-ec5c-11ea-8ae7-0f2197fd6f57.png)

[2020-09-01 06:09] flishwang commented on #26810
在PaddleDetection那边，https://github.com/PaddlePaddle/PaddleDetection/issues/1323 提供的方法：

[code]

[2020-09-01 06:09] #26810 closed, assigned to nobody

[2020-09-01 06:47] thrkingd commented on #26852
1.请问静态图模式下是否还可以用xmap_readers？性能如何，有更好的方法推荐吗？
2.这个任务主要处理视频样本（avi、MP4）格式，有什么比较快的数据读入方法能推荐吗？
3.我把视频抽成帧以jpg格式读入后就不存在这个训练时间变长的问题了，是否还是跟视频读入的方式有关？跟xmap_reader无关

[2020-09-01 06:54] chenwhql commented on #26852
1. 可以用，但不再推荐了，性能无法达到最优，本来就是有缺陷的方法，更好的推荐还是用上面的DataLoader，今后会统一推荐这个
2. 视频样本读取比较慢的话，要提高数据读取的并行度仍然是依赖于多进程的，而新的DataLoader是为了支持多进程而写的，所以仍然推荐这个
3. 拆成图片之后，和原来载入视频是完全等价的吗？我的意思是，比如一个视频有1000张图片，那么会等待这1000张图片完整载入了才算一个样本？还是会拆分开？xmap_reader原理上并不复杂，视频读入的时间消耗没有显著变化的话，应该是无关的

[2020-09-01 07:02] thrkingd commented on #26852
拆成图片以后只需要读取所要的帧，而视频必须先把全部帧解码，所以拆成图片以后整体的运行速度肯定比直接读视频要快。但是没有出现后面的循环比前面的循环耗时长两倍的现象，时间基本是固定的。由于拆成图片以后会占用大量硬盘空间，目前没有那么大的资源，还是只能直接读取视频，我还是需要解决后面的epoch比前面耗时长的问题，还有就是你给的dataloader的链接打不开啊。
Loss at epoch 0 step 5: [4.282148], acc: [0.171875],period: 4.781822443008423
Loss at epoch 0 step 10: [3.6861625], acc: [0.453125],period: 4.744587182998657
Loss at epoch 0 step 15: [2.8119168], acc: [0.546875],period:

[2020-09-01 07:09] chenwhql commented on #26852
哦 sorry，是这个：https://www.paddlepaddle.org.cn/documentation/docs/en/api/io/DataLoader.html

[2020-09-01 07:16] thrkingd commented on #26852
我试过这个函数，就是用的from_generator这个方法，就是在之前的xmap_readers外面又封装了一层，paddle官网的历程也是这样做得，但我测的速度没有什么区别。

[2020-09-01 07:19] chenwhql commented on #26852
不是用from_generator，注意没有from_generator

我理解其实根本的需求还是要降低数据读取开销吧，之所以推荐新的，主要是原理上xmap_reader就不快，如果你确实想搞明白，那可以做以下几个实验：

1. 测试第一个epoch数据读取的速度：看正常情况下，xmap_reader加速后的时间消耗是多少，就是在你的示例代码上，把cur_time放到循环最后读取，然后仅计算for循环取数据的时间，这个时间用DataLoader话能压缩到接近0
2. 加一些日志定位下真正的原因：在reader的实现里，统计一份数据从磁盘加载进来的时间，print一下，看日志是否是第一个epoch执行之前就先load了一些数据进来，然后第二个epoch没有提前load数据了；以及看下第二个epoch和第三个epoch的时间差距，如果第二三个epoch时间一致，说明这就是xmap_reade

[2020-09-01 07:20] chenwhql commented on #26852
这个接口的中文文档，相关开发同学一直没补充，目前仅有英文的

[2020-09-01 07:28] chenwhql commented on #26852
还可以这样，去掉xmap_reader，试下串行情况下，数据读取的耗时是多少

[2020-09-01 07:34] thrkingd commented on #26852
我看了一下这个英文文档，要使用这个api首先要构造一个dataset类，但是你们关于dataset类的说明文档又非常简单，都没有介绍怎么自己构造

[2020-09-01 07:39] JingChunzhen opened #26874 "paddle172 no attribute masked_select"
按照官网的内容
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.7/api_cn/layers_cn/masked_select_cn.html#masked-select
使用 paddle172 版本
提示 module object has no attribute ‘masked _ select’

[2020-09-01 07:40] chenwhql commented on #26852
您说的是，我看DateSet的文档貌似都没公开，不是这几个
![image](https://user-images.githubusercontent.com/22561442/91821509-19651e80-ec69-11ea-94de-2d13dad852b0.png)
我反馈下

只能先委屈下看下代码：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dataloader/dataset.py

非常抱歉

还有xmap_reader变慢的原因，如果您方便的话，可以做一下上面几个实验

[2020-09-01 07:46] FrostML commented on #26867
请问有更多的 log 么？另外是如何实现的多卡训练呢？

[2020-09-01 07:54] chenwhql commented on #26867
这个是launch脚本最后退出时候的提示，麻烦您贴下具体节点的日志

如果您设置了log_dir指定把日志写到磁盘上了，麻烦到磁盘上找下

[2020-09-01 07:56] FrostML commented on #26865
可以使用这个接口 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-alpha/api_cn/dygraph_cn/guard_cn.html ，指定下 place

[2020-09-01 07:58] #26519 closed, assigned to nobody

[2020-09-01 08:00] liym27 commented on #26807
好的

直接提PR即可

[2020-09-01 08:02] shaunhurryup commented on #26865
我用这样的代码
`with fluid.dygraph.guard(fluid.CUDAPlace()):`
在AI Studio只要执行就会重启执行器。另外，使用下面的代码也是会重启执行器
`paddle.enable_imperative(paddle.fluid.CUDAPlace(0))`

[2020-09-01 08:07] liym27 commented on #26836
您好，请问该问题是否已经解决？

[2020-09-01 08:16] FrostML commented on #26861
收到，我们反馈一下，谢谢

[2020-09-01 08:27] eshaoliu opened #26877 "可以多个predictor同时预测吗?"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】
- 标题：用create_paddle_predictor多次创建predictor，在同一个data_generator下run报错
- 版本、环境信息：
    1）PaddlePaddle版本：paddle fluid 1.5.1
    2）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：cuda9，Python版本  python3.6
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
简而言之，由于需要创建2个predictor用

[2020-09-01 08:37] jtyoui opened #26878 "std::move报错"
[code]

[code]

[2020-09-01 08:40] jtyoui commented on #26187
请问你解决了吗？我也遇到这样的问题

[2020-09-01 08:53] lyn1225 opened #26881 "paddlepaddle运行时报错"
ValueError: Variable apc1/weights has been created before. the previous shape is (512, 2048, 1, 1); the new shape is (512, 512, 1, 1). They are not matched.
提示这个错误，调试的时候还没有找出原因，哪位大神能提示一下？

[2020-09-01 09:01] FrostML commented on #26874
可以参考下这个 issue #24882

[2020-09-01 09:12] DannyIsFunny commented on #26877
你好，请问你的问题是指同时创建多个predictor，同时预测出现错误吗
PaddlePaddle可以同时创建多个Predictor，同时预测。 而且Predictor的预测过程线程安全、建议将多个predictor分别放入多个线程内执行以实现同时预测

[2020-09-01 11:08] Talon330 opened #26883 "paddle.io.DataLoader中的参数dataset返回值类型只支持Tensor和numpy数据吗？"
自定义dataset返回值为字典，数值，列表均会报错，但是支持numpy数组和Tensor，是目前只支持这两种数据类型吗？如果是的话，以后会扩展支持其他类型吗？报错内容如下：
[code]

[2020-09-01 13:07] lidanqing-vv commented on #26256
Issue solved

[2020-09-01 13:07] #26256 closed, assigned to luotao1

[2020-09-01 15:45] wszzzx opened #26892 "【论文复现】Out of memory error on GPU 0."
训练环境：默认的论文复现环境。
问题描述：训练过程中提示 GPU 已满，减小 batch size 也无法解决该问题。重启 ai studio 也无法解决该问题。
报错信息：Out of memory error on GPU 0. Cannot allocate 1.531250GB memory on GPU 0, available memory is only
                   416.625000MB.

                   Please check whether there is any other process using GPU 0.
                   1. If yes, please stop them, or start PaddlePaddle on another GPU.

[2020-09-01 16:07] R132 opened #26893 "【2.0 windows】AttributeError: module 'paddle.nn' has no attribute 'functioanl'【文档拼写错误】"
是因为还没集成进去吗？linux版本是否可用？

信息：
Python 3.7.7 (default, May  6 2020, 11:45:54) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'paddle.nn' has no attribute 'functioanl'

'2.0.0-alpha0'

破案了，发现是文档的代码有拼写错误
https://www.paddlepaddle.

[2020-09-01 16:36] wszzzx commented on #26892
补充一下，batch size 设置成16后，程序可以跑起来。

[2020-09-02 00:37] shaunhurryup opened #26894 "2.0-alpha动态图指定GPU就报错"
两种方法指定使用GPU都会出错：自动重启代码执行器
环境：AI Studio高级版

### 第一种
[code]

### 第二种
[code]

[2020-09-02 01:37] fly1642 opened #26895 "【论文复现】module 'paddle' has no attribute 'tensor'"
**运行代码示例：**
import paddle
import paddle.fluid as fluid
import numpy as np
input_3 = np.random.randint(0, 100, [100, ]).astype('int32')
input_4 = np.random.randint(0, 100, [200, ]).astype('int32')
with fluid.dygraph.guard():
    tensor_3 = fluid.dygraph.to_variable(input_3)
    tensor_4 = fluid.dygraph.to_variable(input_4)
    grid_x, grid_y = paddle.tensor.meshgrid([tensor_3, tensor_4])

**报错：**
-

[2020-09-02 01:50] xttian opened #26896 "很神奇，测试过程中，报我训练文件中的类型错误，不知道应该修改哪里"
Paddle 1.7.2

训练文件entity_relation_train.py训练好的模型通过fluid.io.save_inference_model进行存储

测试文件中通过fluid.io.load_inference_model加载模型进行测试，竟然报错信息在我的训练文件中，很神奇，这是paddle的什么机制
![11111](https://user-images.githubusercontent.com/51705668/91922857-90e68c80-ed01-11ea-802c-4a7a4b0777f0.png)

[2020-09-02 01:56] FrostML commented on #26881
名称是 "apc1/weights" 的 Variable 被多次创建，并且多次创建的 shape 不一致

[2020-09-02 02:10] thrkingd commented on #26852
1.我在静态图的框架下面也试了这个问题，现象和动态图的一样，从第二个epoch开始循环时间突然变长
2.我把xmap_reader换成了map_reader,也就是单线程的版本，循环时间确实比多进程的要长，但是各个epoch之间比较稳定没有出现第二个epoch循环时间变长的现象。
3.综合来讲xmap——reader从第二个循环开始似乎就失去了多线程加速的性能，甚至比单线程的速度还要慢，这肯定还有隐藏的问题

[2020-09-02 02:19] chenwhql commented on #26852
前面说过了，之前调试此类问题，这个现象的原因是：第一个epoch的时间短可能是启动的时候训练尚未开始之前，各线程从磁盘上读取了一些数据，但到第二个epoch数据没有准备时间给线程读数据了

这个原因，加日志也很容易看出来，前面也说过了：加一些日志定位下真正的原因：在reader的实现里，统计一份数据从磁盘加载进来的时间，print一下，看日志是否是第一个epoch执行之前就先load了一些数据进来，然后第二个epoch没有提前load数据了；以及看下第二个epoch和第三个epoch的时间差距，如果第二三个epoch时间一致，说明这就是xmap_reader加速能达到的稳定时间

如果您确实不想加日志验证，请问我要如果在您的代码上改动验证？是Fork您公开的项目之后就能够实验吗？

[2020-09-02 02:22] FrostML commented on #26865
"重启执行器" 指的是什么，动态图应该没有执行器的概念了

[2020-09-02 02:23] thrkingd commented on #26852
您可以在我的代码上改动验证，但是如果按照您的解释是后面的epoch没有给xmap_reader加速准备的时间，那也不应该比单线程还要慢吧，这个应该算xmap_reader的bug？

[2020-09-02 02:23] Steffy-zxf opened #26897 "fluid.core.create_paddle_predictor 出core Segmentation fault"
环境：python3.6, Linux, paddle1.8.4, paddlehub1.8.1
复现步骤：
运行文本匹配任务[demo预测](https://github.com/PaddlePaddle/PaddleHub/blob/release/v1.8/demo/pointwise_text_matching/run_ernie_pointwise_matching_predict.sh)时，使用**GPU**预测，并将`matching_task.predict`接口参数**accelerate_mode**改成[**True**](https://github.com/PaddlePaddle/PaddleHub/blob/release/v1.8/demo/pointwise_text_matching/ernie_pointwise_matching_predict.py

[2020-09-02 02:23] Jeffrey98-AI opened #26898 "多卡自检不通过 paddlepaddle-gpu-1.8.4.post107"
系统：Ubuntu 16.04
GPU：4卡 P100
cudatoolkit=10.0.130
cudnn=7.6.5
---------------------------------------------------------------------------------------------------------------
自检报错信息：
Your Paddle Fluid works well on SINGLE GPU or CPU.
W0902 10:14:18.053751 36696 init.cc:226] Warning: PaddlePaddle catches a failure signal, it may not work properly
W0902 10:14:18.053872 36696 init.cc:228] You could che

[2020-09-02 02:26] chenwhql commented on #26852
嗯嗯，我正在修改，多线程操作调度本身是有开销的，等待一个线程载入一份数据给训练程序，和等待多个线程中的某一个线程载入数据然后放入一个队列再取出来给训练程序，会增加一些额外的操作

[2020-09-02 02:32] cryoco commented on #26896
报错是输入应为int64但传入了double，可以检查下输入类型是否正确哈

[2020-09-02 02:39] cryoco commented on #26893
感谢反馈，已反馈相关同学，我们会尽快改正文档

[2020-09-02 02:41] xttian commented on #26896
这个是指的我测试过程中传入的数据是错的吗？

[2020-09-02 02:43] shenyt-sanshui opened #26899 "nano上安装paddlepaddle"
请问Nona上现在支持直接安装paddlepaddle，还是说像树莓派一样都是不支持的

[2020-09-02 02:44] FrostML commented on #26866
我整理下目前的进展情况：
TracedLayer 只是简单的记录，跑过的 op。1.8 和 1.6 版本的数据不一样的话，很可能是 op 层面被改了什么。最好的方式仍是升级 Paddle。

[2020-09-02 02:49] chenwhql commented on #26852
改完了发现我没有算力...o(╥﹏╥)o

[2020-09-02 02:50] chenwhql commented on #26852
我是fork之后改的

[2020-09-02 02:51] chenwhql commented on #26852
不fork的话没有编辑权限，只能看您的代码

[2020-09-02 02:51] cryoco commented on #26896
是的，embedding的输入应为int64类型，可以检查下是否传入了浮点数。

[2020-09-02 02:52] cryoco commented on #26894
您好，可以贴下更详细的报错信息吗

[2020-09-02 02:53] thrkingd commented on #26852
你们内部人员还会缺算力？活久见

[2020-09-02 02:53] chenwhql commented on #26852
![image](https://user-images.githubusercontent.com/22561442/91926672-56cdb880-ed0a-11ea-95d1-c9e16bb333db.png)
![image](https://user-images.githubusercontent.com/22561442/91926728-7369f080-ed0a-11ea-8e4e-68615e769746.png)
就增加了这两处，看看跑完之后的日志序列是怎样的

[2020-09-02 02:54] chenwhql commented on #26852
不能算内部，Paddle和AIStudio是俩部门

[2020-09-02 02:56] thrkingd commented on #26852
我自己改了跑下试试，但是有一点解释不通的就是把数据源换成jpg后就没有异常增大的现象了，如果按照您的解释，不管用什么数据源都会存在这个现象

[2020-09-02 03:01] xttian commented on #26896
relation_results = executor.run(
            r_program,
            feed={r_feed_target[0]: np.array(input_tokens, dtype='int64'),
                  r_feed_target[1]: np.array(input_subject_tags, dtype='int64'),
                  r_feed_target[2]: np.array(input_object_tags, dtype='int64')},
            fetch_list=r_fetch_targets)[0]

我已经通过上述方式做了强制转换，还是报错。。。

[2020-09-02 03:02] chenwhql commented on #26852
这里reader的开销不一样，可能就不一样了，因为reader时间变短的话数据供应速度可能就会好一点

可以看看实验结果，从数据载入的时间序列里，能看出这两种情况的差别

这个xmap_readers是个很简单的装饰器，没有什么高深的逻辑
https://github.com/PaddlePaddle/Paddle/blob/0a29fc85d64dd7c65aee2e4b8d17f2e2b4cbf4b1/python/paddle/reader/decorator.py#L364

这里面有俩队列，如果输入队列空了，就要等待数据载入才能继续训练，你想reader读取数据时间不同的话，队列里剩余的可用数据应该是不一样的

[2020-09-02 03:06] thrkingd commented on #26852
我看是不是先切换到单卡环境测试，多卡的环境打印输出太混乱了

[2020-09-02 03:06] cryoco commented on #26896
麻烦贴下模型和测试代码吧

[2020-09-02 03:08] supyer9 opened #26900 "关于 fluid.layers.conv2d 中的padding参数"
您好，我想请教下，fluid.layers.conv2d 中 padding=0 和 padding = n 对应于 tensorflow 中 tf.nn.conv2d 中的 padding 要怎么设置呢？
我目前的做法是，对于 paddle 中的padding=n 。 在tensorflow中， 先用 tf.pad 在 input 周围 pad 上 n 个0 ，之后设置 tf.nn.conv2d参数padding=VALID, 请问这样的做法是正确的吗？

[2020-09-02 03:09] thrkingd commented on #26852
我在跑另外一个程序，在静态图的框架下发现切换成单卡环境就没有这个现象了，循环时间很稳定
Epoch 0 iter 420 : acc: 0.4375  aux_loss:1.3545786142349243 cls_loss: 2.078500509262085 period:2.212111234664917
Epoch 0 iter 440 : acc: 0.625  aux_loss:1.2028199434280396 cls_loss: 1.6616206169128418 period:2.212972640991211
Epoch 0 iter 460 : acc: 0.5  aux_loss:1.0021114349365234 cls_loss: 1.3724995851516724 period:2.2145843505859375
Epoch 0 iter 480 :

[2020-09-02 03:12] chenwhql commented on #26852
好的，这个日志是？单卡的？

[2020-09-02 03:15] thrkingd commented on #26852
这是我另外一个工程打印的日志，我怀疑跟多卡环境有关，就切换成单卡环境来测试，果然在单卡环境下循环时间就稳定了，之前也存在这个问题，是静态图的框架写的工程

[2020-09-02 03:38] cryoco commented on #26898
您好，可以确认下您正确安装了nccl2，参考文档

[2020-09-02 03:38] cryoco commented on #26898
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/install_Ubuntu.html#cpu-gpu

[2020-09-02 03:43] heavengate commented on #26883
是的，`paddle.io.DataLoader`目前是在python端使用多进程加速，在底层还是走的原来的实现，需求是numpy.array的数据格式，这个我们再规划支持一下~

[2020-09-02 03:52] #25708 closed, assigned to nobody

[2020-09-02 03:53] shaofeifei11 opened #26905 "paddle使用cpu正常，改用gpu时报错 RuntimeError: parallel_for failed: invalid configuration argument"
paddle-gpu: 1.8.4.post107
paddle: 1.8.1

服务器信息：nvidia-smi
![image](https://user-images.githubusercontent.com/50863459/91930076-85e82800-ed12-11ea-87e0-a4f5fa2214e6.png)

部分代码：
    use_cuda = True
    place = fluid.CUDAPlace(0) if use_cuda else fluid.CPUPlace()
    exe = fluid.Executor(place)
    start_program = fluid.default_startup_program()
    exe.run(start_program)  # 一定要在 exe.run(start_progra

[2020-09-02 04:25] FrostML commented on #26878
看到您之前提的 issue，是在 alpine 上编译的么？请教了 @tianshuo78520a ，目前应该是只支持在 centos / ubuntu 上的编译。可以尝试使用官网的镜像。

[2020-09-02 04:32] cryoco commented on #26895
感谢反馈，我们已经反馈对应同学，会对文档进行修正。

[2020-09-02 04:35] cryoco commented on #26899
您好，nano上目前还不支持pip安装，但支持c++预测库的直接安装，可以从[这里](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html#id1)下载jetson的预测库

[2020-09-02 04:43] cryoco commented on #26900
您好，paddle和tf的conv2d都支持通过padding=一个包含4个二元组的list来显式设置padding，您可以通过这种方式来对应到tf。
文档：
[paddle conv2d](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/conv2d_cn.html#conv2d)
[tf conv2d](https://www.tensorflow.org/api_docs/python/tf/nn/conv2d?hl=en)

[2020-09-02 04:45] #26893 closed, assigned to cryoco

[2020-09-02 04:57] cryoco commented on #26905
您好，麻烦提供下完整复现代码，我们这边复现定位下问题，谢谢

[2020-09-02 05:36] eshaoliu commented on #26877
多谢，已经找到问题原因了。

[2020-09-02 05:49] maosengshulei opened #26915 "模型整体结构类似于GAN，模型中的判别器模型已加载预训练好的model，在训练时对相同数据infer时每次执行结果都不一样"
  1）PaddlePaddle版本： 1.8.1
  2）CPU

模型整体结构类似预GAN，模型中的判别器已加载预训练好的参数，已检查最后一层fc的参数 和 预训练好的参数一致。

但是在模型训练时检查判别器infer的结果发现每次重新执行后预测结果都不一样

代码如下：

[code]
训练数据没有shuffle，因而每次重新训练时训练数据都是一致的。
代码中的online_reward对应判别器对训练数据的预测结果，但是每次重新训练的结果都不一致。

[2020-09-02 05:53] eshaoliu opened #26916 "paddle1.5版本 lstm 数据输出的size不对"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

- 标题：lstm输出的size不对
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
- 模型信息
    lstm https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html
   ernie
- 复现信息：
- 问题描述：
代码片段
def seq_from_ernie(
    args,
    src_ids,
    position_ids,
    sentence_ids,
    task_ids,
    input_mask,
    config,
    use_fp16,
):

[2020-09-02 06:20] cryoco commented on #26915
您好，可以用fluid.layers.Print打印看下从哪一层开始结果不一致哈

[2020-09-02 06:29] Steffy-zxf commented on #26897
最小复现代码：
[code]

[2020-09-02 06:58] cryoco commented on #26916
您好，可以升级下paddle版本到1.8.4试试能否解决这个问题

[2020-09-02 07:07] #26848 closed, assigned to jczaja, lidanqing-vv

[2020-09-02 07:41] eshaoliu commented on #26916
![image](https://user-images.githubusercontent.com/2714635/91949386-b049dd80-ed32-11ea-878c-ca32015cc19f.png)

官网的例子,1.8.1仍然有问题。

[2020-09-02 08:02] thrkingd commented on #26852
你改的代码我跑完了，从现象来看好像是线程decode视频的时间变长了。epoch0里面大部分的解码时间都在1s以下，epoch1就上升到了2s
ecode mp4 sample reader_t = 1.0964207649230957
decode mp4 sample reader_t = 1.7234702110290527

decode mp4 sample reader_t = 1.13865065574646

decode mp4 sample reader_t = 0.48386144638061523

decode mp4 sample reader_t = 0.4739949703216553

Loss at epoch 0 step 3: [2.4785604], acc: [0.546875],period: 4.038020849227905,read_t:

[2020-09-02 08:03] thrkingd commented on #26852
方便的话你申请一点算力帮忙调试一下这个问题吧，感谢

[2020-09-02 08:15] supyer9 commented on #26900
感谢您的回复，tensorflow 1.+ 版本中好像并不支持 padding=list 的操作，明确要求padding='str' ，即 ‘SAME’或‘VALID’
在这种限制条件下，我问题中提到的解决方法，是否可行呢？谢谢

[2020-09-02 08:17] shaofeifei11 commented on #26905
不好意思，完整的代码比较复杂。我罗列一下出问题的地方吧。
我通过查找，发现上面的问题与 opt.minimize(self.loss) 这段代码有关。我通过修改self.loss，程序会有所变化。

# 第一种情况：
self.loss = self.center_loss + self.iou_loss + self.cls_loss + 0.1 * self.l1loss
在CPU下，整个程序能运行。在GPU下就报上面的错。
# 第二种情况
self.loss =  self.iou_loss + self.cls_loss + 0.1 * self.l1loss
在GPU下能运行
# 第三种情况
self.loss = self.center_loss +  self.cls_loss
在GPU下能运行
# 第四种情况
self.loss = self.center_loss + s

[2020-09-02 08:27] cryoco commented on #26900
设定same或valid时，输出的HW与stride或dilation有关，相关公式：

[2020-09-02 08:29] cryoco commented on #26900
设定为same或valid时，输出HW与stride或dilation有关，相关公式可以参考
![image](https://user-images.githubusercontent.com/12407750/91957981-53055a80-ed39-11ea-984b-8d05ab76b0ef.png)
可以看下你的使用方式是否可以通过设置stride或dilation对应到这两种情况，如果没有办法对应，可能需要更新tf到2.0+了

[2020-09-02 08:34] cryoco commented on #26916
您好，刚了解到最近lstm有一些更新，9月中旬即将发布的2.0-beta版本应该会修复您遇到的问题。您可以到时更新到2.0-beta版本试下哈

[2020-09-02 08:35] maosengshulei commented on #26915
经检验，发现生成器模型里的参数和 判别器模型参数 部分可能存在同名导致 加载判别器预训练模型的部分参数未加载， 所以有一个新问题， 如何能把预训练模型的参数 名字修改成指定的名字。

[2020-09-02 08:38] cryoco commented on #26915
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/unique_name_cn/guard_cn.html#guard

[2020-09-02 08:39] cryoco commented on #26915
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/unique_name_cn/guard_cn.html#guard
可以通过更改命名空间的方式规避参数重名

[2020-09-02 08:46] maosengshulei commented on #26915
可以修改预训练的模型的参数名吗？

[2020-09-02 08:47] Haijunlv opened #26929 "fluid.load()接口加载失败"
在paddle1.8.3的情况下，训练完成后用fluid.save()保存出一个包含pdmodel, pdopt, pdparms三个文件的checkpoint。
 用这个checkpoint恢复训练时如果自定义好网络结构，再fluid.load(xxx)，加载成功
如果用pdmodel来反序列化出program,再加载fluid.load(xxxx)， 则加载失败。
失败日志:
![image](https://user-images.githubusercontent.com/28926237/91960034-f9525f80-ed3b-11ea-8c6b-04a40f03be2b.png)

单测脚本:

[code]

[2020-09-02 08:50] Haijunlv commented on #26929
单测脚本:

`import paddle.fluid as fluid
m_dir = 'export_model/'
def read_program(filepath):
prog = fluid.Program()
with open(filepath, 'rb') as fin:
prog = prog.parse_from_string(fin.read())
return prog
#train_prog = read_program(f'{m_dir}/train.program')
train_prog = read_program(f'{m_dir}/checkpoint/checkpoint.pdmodel')
exe = fluid.Executor(fluid.CPUPlace())

fluid.io.load(train_prog, f'{m_dir}/che

[2020-09-02 08:50] Haijunlv commented on #26929
`import paddle.fluid as fluid
m_dir = 'work_dirs/hub_objectDet/122129_6_pdparms_ssd/export_model/'
def read_program(filepath):
    prog = fluid.Program()
    with open(filepath, 'rb') as fin:
        prog = prog.parse_from_string(fin.read())
        return prog
train_prog = read_program(f'{m_dir}/checkpoint/checkpoint.pdmodel')
exe = fluid.Executor(fluid.CPUPlace())
fluid.io.load(train_prog, f'{m_

[2020-09-02 08:55] lidanqing-vv commented on #25988
Close since PR merged

[2020-09-02 08:55] #25988 closed, assigned to luotao1, zhhsplendid

[2020-09-02 09:35] supyer9 commented on #26900
好的，谢谢回复

[2020-09-02 09:38] maosengshulei commented on #26915
因为实际使用时存在多个预训练好的模型，这些模型的参数名都一样，如何将这些模型都能加载到整个model中。

[2020-09-02 10:48] xttian commented on #26389
请问这个问题解决了吗，我遇到一个一样的报错是在处理ERNIE的输入的时候，不知道该怎么处理

[2020-09-02 10:58] shippingwang opened #26941 "训练出错 atexit"
最新版paddle编译 训练 遇到这个问题
1.8.4未出现

![c68c03e56bada60a54e013b31](https://user-images.githubusercontent.com/13645332/91973121-450e0480-ed4e-11ea-9397-ba9f1b2ed673.png)

[2020-09-02 11:33] sys1874 commented on #26578
@saxon-zh 请问adam的实现与torch 的adam实现有diff 吗？我现在跑的三个模型，都是用的adam优化器，都比torch实现的代码差0.5%的结果
使用的是静态图1.8 的 adam

[2020-09-02 11:35] LDOUBLEV commented on #26905
@shaofeifei11 你好，实现这个功能有参考哪部分代码吗？
每个loss函数都是没问题的，可以排查下计算loss的方式，centor_loss和l1 loss 是不是有冲突的地方

[2020-09-02 11:41] phlrain commented on #26915
可以是在制定下ParamAttr和BiasAttr的方式来设置参数的名称，如果名称是一样的，他们会指向同一个参数

[2020-09-02 11:44] phlrain commented on #26929
有没有相应的save的code，这个不太符合预期，需要分析下save的program及相应的code

[2020-09-02 11:44] maosengshulei commented on #26915
举个例子，假设有两个不同的预训练模型，模型的参数名和结构都一致，如何将这两个预训练好的模型加载到我的model里来预测

[2020-09-02 12:07] eshaoliu commented on #26916
https://github.com/PaddlePaddle/Paddle/issues/19925 我看其他的issue里面已经提了，不知道修复的版本号是？

[2020-09-02 12:13] eshaoliu commented on #26916
由于其他的一些原因，我现在必须要用1.5.1版，请问有什么途径可以获得修复bug的1.5.1版安装包？

[2020-09-02 12:17] starsblinking opened #26947 "请教如何取出二维Tensor的某一列"
大小为2的全连接层（即size=2的fluid.layers.fc）的返回值应该是个shape为[-1，2]的Tensor吧?(还是lod_tensor?求解答)
我想取出这个2维tensor的第二列作为预测目标放进save_inference_model的target_vars, 请问如何取出这个第二列呢(得到一个shape为[-1，1]的Tensor)？

[2020-09-02 12:32] cryoco commented on #26947
返回的是Tensor或LoDTensor，数据类型与input类型一致。

可以使用slice，参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/slice_cn.html#slice

[2020-09-02 12:38] Haijunlv commented on #26929
用paddledetection的fulid.save和paddleclas的fluild.save 均会报错
![image](https://user-images.githubusercontent.com/28926237/91982280-96bd8b80-ed5c-11ea-9047-fcc5f18aa279.png)

https://github.com/PaddlePaddle/PaddleDetection/blob/8551de92b9c5bd355f1981dc984850fd69caab39/ppdet/utils/checkpoint.py#L200
![image](https://user-images.githubusercontent.com/28926237/91982302-9f15c680-ed5c-11ea-881f-74fd477edd2c.p

[2020-09-02 13:41] shaunhurryup commented on #26865
AI Studio平台里执行，notebook的执行器会重启

[2020-09-02 13:49] shaunhurryup commented on #26894
他不会报错，但只要执行调用GPU的语句，就会重启notebook的执行器

[2020-09-02 14:21] luotao1 opened #26953 "SetCpuMathLibraryNumThreads 咨询"
paddle_api.h里面对这个函数的注释是说"the number of cpu math library threads"。
举个例子：如果我在程序进程中SetCpuMathLibraryNumThreads(8)，然后create了一个predictor, 之后用Clone()函数复制了100个predictor分别放在100个线程里跑，那么此时"the number of cpu math library threads"是8还是800呢？

即MKL线程的设定是否全局？

[2020-09-02 15:40] R132 commented on #14510
squeeze也有同样问题，使用axis=-1的时候尤其需要注意

[2020-09-02 19:15] Rookieaura opened #26954 "【论文复现】cudnn不匹配问题"
框架版本为1.8.3，查本机cudnn版本为7.6.5，但是在运行程序时会被识别为7.3。
通过 export LD_LIBRARY_PATH=/home/aistudio/cuda/cuda-9.2/lib64:$LD_LIBRARY_PATH 命令无法排除问题。

报错信息如下：
WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.3, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version.

ExternalError: Cudnn error, CUDNN_S

[2020-09-03 02:12] qishipengqsp opened #26957 "如何将在GPU上完成预处理的数据的显存地址赋值给zerocopytensor？"
### 如何将在GPU上完成预处理的数据的显存地址赋值给zerocopytensor？

#### 版本、环境信息
    1）PaddlePaddle版本：1.8.4
    2）CPU仅做后处理，GPU完成前处理和推理,T4,cuda10.2 cudnn7
    3）系统：centos 7.6.1810

#### 问题描述：
- 自定义了gpu kernel在gpu上完成了前处理操作如crop resize等，前处理之后如何将数据所在的显存赋值给zerocopytensor?，大概的代码结构如下：
[code]

代码片段中的????应该使用哪个api？我在paddle_api.h中找到另一个api mutable_data()，进行了如下尝试:
[code]
但推理的结果不对。

这里确认gpu前处理的数据是没有问题的，进行了如下测试：将gpu预处理后的数据拷贝回主存之后，将主存

[2020-09-03 02:26] cryoco commented on #26941
您好，develop版本可能不稳定，建议使用release版本进行训练哈

[2020-09-03 02:34] cryoco commented on #26916
您提到的这个issue在2019年7月已经合入了，我确认了1.8.1也包含修复的代码。请问您使用的是cpu还是gpu？

[2020-09-03 02:35] WenmuZhou opened #26960 "dataloader支持返回dict数据吗"
我看调用collate_fn之后，最后把数据当list来遍历的
![image](https://user-images.githubusercontent.com/12406017/92064910-24d35980-edd1-11ea-9a8f-43cbdaf1a6e5.png)

[2020-09-03 02:35] Shixiaowei02 commented on #26354
问题已在用户群解决，关闭卡片。

[2020-09-03 02:35] #26354 closed, assigned to NHZlX

[2020-09-03 03:18] Jeffrey98-AI commented on #26898
发现直接用 anaconda 官方提供的 cuda cudnn 多卡不能正常运行，不用虚拟环境重新装了NVIDIA官方的 cuda cudnn nccl2 之后多卡正常

[2020-09-03 03:19] #26898 closed, assigned to nobody

[2020-09-03 03:19] eshaoliu commented on #26916
https://github.com/PaddlePaddle/Paddle/blob/release/1.5/paddle/fluid/operators/cudnn_lstm_op.cc 的确，我看1.6版本以上都合并了这个bugfix，1.5版本没有合并，但目前由于预测阶段裁剪op的原因1.5版本以上inference阶段跑不下来，不知道1.5版本不合并的原因是出于？

[2020-09-03 03:24] cryoco commented on #26916
这个bug应该是在1.6修复的。
预测阶段裁剪op导致1.5版本以上inference阶段跑不下来的问题，您可以再提一个issue我们看看怎么解决哈，我们这边还是针对当前版本进行迭代哈

[2020-09-03 05:27] Cxywzx opened #26967 "CentOS7-x86_64 Python2.7 安装 CPU 版本失败，安装依赖 opencv-python 时报错"
CentOS7-x86_64 Python2.7 安装 CPU 版本失败，安装依赖 opencv-python 时报错。

[code]

错误信息如下：
[code]
![image](https://user-images.githubusercontent.com/24585538/92081718-19def000-edf6-11ea-8225-2b18b2828239.png)

[2020-09-03 05:30] chenwhql commented on #26929
![image](https://user-images.githubusercontent.com/22561442/92069931-4a666000-eddd-11ea-96cc-a85729912687.png)

这个原理上就不行，模型save的时候，哪些变量是Parameter这个信息会丢失，举个例子

自己写code搭模型，比如有个fc，自己code跑出来的Program里面，fc的weight的类型是Parameter，同时是个persistable变量
但从序列化的program恢复出来的program里，这个fc的weight是个Variable，同时是个persistable变量

然后下面代码中可以看到，一些本来是Parameter但由于转写之后，丢失了这一属性的，会被误识别为optimizer的参数，从而导致这个找不到的问题

![image](https://u

[2020-09-03 06:00] lin1github commented on #26605
我查看了一下，打gcc -v，出的结果是gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04) ，应该是5以上的版本了吧

[2020-09-03 06:15] lin1github commented on #20740
遇到同样的问题，我查了一下服务器的GCC版，gcc -v，输出的是gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0，但还是遇到不能同时import paddle.fluid as fluid 和import torch，没有任何报错信息。

[2020-09-03 06:20] eshaoliu commented on #26916
好，昨天的信息有问题，我这边不是1.8版本的仍是1.5的，是pip显示的问题，我另提一个issue吧

[2020-09-03 06:26] TyrionZK opened #26993 "paddle实现的scaled_dot_product_attention有考虑mask的版本吗"
阅读源码后发现，注意力实现只有scaled_dot_product_attention函数，paddlepaddle官方能不能开发更多的注意力模块，包括：
1）加上mask的scaled_dot_product_attention
2）完整的多头注意力
3）自注意力实现

[2020-09-03 06:50] eshaoliu opened #26974 "save_inference_model >1.5版本ValueError: var read_file_0.tmp_3 not in this block"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】
- 标题：大于1.5版本的时候，会报ValueError: var read_file_0.tmp_3 not in this block
- 版本、环境信息：
    1）PaddlePaddle版本：>1.5
    2）GPU：cuda 0.9 cudnn0.7
    python3
错误代码见：https://github.com/PaddlePaddle/Research/blob/master/KG/DuEL_Baseline/ernie/infer_type_ranker.py
159行，1.5版本不出错，1.6版本以上由于inference阶段op裁剪报如下错误，
2020-09-03 14:17:55 CUDAPlace(0)

[2020-09-03 06:58] ymzlygw commented on #26574
那么麻烦问下如何反向转换呢？如何将numpy数组转为paddle.fluid.core_avx.VarBase，现在刚好用到这个问题，不知道怎么转换回去。

[2020-09-03 07:03] ymzlygw opened #26978 "请问下数据类numpy.ndarray如何转换为paddle.fluid.core_avx.VarBase类呢？"
请问下数据类numpy.ndarray如何转换为paddle.fluid.core_avx.VarBase类呢？

[2020-09-03 07:03] ymzlygw commented on #26211
请问如何reshape呢

[2020-09-03 07:05] ymzlygw commented on #26410
我也遇到这个问题，求解！不过我好像是因为数据类型不符造成这中异常错误，目前还不知道怎么将数据类numpy.ndarray转换为paddle.fluid.core_avx.VarBase类。你也有可能是数据类型不符造成的

[2020-09-03 07:06] ymzlygw commented on #26389
我是因为输入的数据类型不符造成这样的异常

[2020-09-03 07:14] xttian commented on #26896
能够加qq私聊， 1284545491

[2020-09-03 07:27] juncaipeng commented on #26978
举例：
x = np.ones([2, 2], np.float32)
tmp = fluid.core.VarBase(value=x, place=fluid.core.CPUPlace())

VarBase是不对外暴露的。

[2020-09-03 07:28] Haijunlv commented on #26929
![image](https://user-images.githubusercontent.com/28926237/92084540-2107fd00-edfa-11ea-8051-a8ddc84dae9e.png)
![image](https://user-images.githubusercontent.com/28926237/92084549-22392a00-edfa-11ea-9446-807263238058.png)
尝试后还是失败

[2020-09-03 07:36] ymzlygw commented on #26978
那咋办...想更改程序的某一段代码，但是因为数据类型无法转成paddle.fluid.core_avx.VarBase无法实现

[2020-09-03 07:44] eshaoliu commented on #22742
请问这个问题解决了吗？我也遇到了类似的问题

[2020-09-03 07:47] saviord7 opened #26983 "Create reader for image"
Hello everyone!

I made this reader: [click ](https://pastebin.com/9mDaSG96)
It gives me this result:
[code]

When I am trying to feed my model it does not work.
How can I reapair it ? I am sure that I am not right in making reader, but whats wrong?

[2020-09-03 07:48] ymzlygw commented on #26978
谢谢，转换成功了。
能问下fluid.core_avx.VarBase是一种什么数据类型呢？我起初还以为是像pytorch里的tensor那样，但是我看paddlepaddle是直接使用tensor的。关着VarBase的说明文档也没有找到

[2020-09-03 08:11] juncaipeng commented on #26967
参考 #26415

你可以先安装一下opencv-python <=4.2.0.32
再安装paddlepaddle

[2020-09-03 08:19] juncaipeng commented on #26960
可以的，你创建Reader生成训练/预测数据时，可以生成不同类型的数据。
具体请参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/data_preparing/imperative_mode/dataloader_using.html

[2020-09-03 08:33] juncaipeng commented on #26983
I think your reader is fine, and it returns the image and label.
In the train stage, the example code is
[code]

[2020-09-03 08:49] juncaipeng commented on #26957
目前不支持将gpu上的数据地址直接赋给zerocopytensor。

 Paddle 需要管理、调度所有 Tensor 的存储，不支持外部用户直接管理显存。

此前分析，这个操作对效率影响不大。

[2020-09-03 08:58] juncaipeng commented on #26978
VarBase和Variable类似。

[2020-09-03 08:58] #26978 closed, assigned to juncaipeng

[2020-09-03 09:08] juncaipeng commented on #26954
可能存在多个版本的cudnn，建议查找、确定一下，然后删除7.3版本的cudnn。

[2020-09-03 09:08] zhiqiu commented on #26978
直接使用paddle.fluid.dygraph.to_variable(x)即可，参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/to_variable_cn.html#cn-api-fluid-dygraph-to-variable

[2020-09-03 09:18] ymzlygw commented on #26978
谢谢，跟上面方法是同样的效果对么

[2020-09-03 09:32] lidanqing-vv commented on #26953
这种情况下是800 个，Adam做了测试

[2020-09-03 09:36] luotao1 commented on #26953
多谢，可以写以下你们的实验过程么？

[2020-09-03 10:36] chenwhql commented on #26929
那就奇技淫巧吧，先满足当前需求再说

看了下代码，这里的报错是说scope里面没有相关变量，因为正常来讲要跑stratup_program，但这里其实没有startup_program可以跑，所以可以尝试自己创建一个scope，把变量创建进去

例如：

[code]

[2020-09-03 10:53] saviord7 commented on #26983
It says "Epoch 1 starts" and thats all, my code below:

[code]

[code]

[code]

[2020-09-03 10:53] lidanqing-vv commented on #26953
./paddle/fluid/inference/tests/api/test_analyzer_image_classification --gtest_filter=Analyzer_resnet50.profile_mkldnn --batch_size=32 --warmup --repeat=10 --infer_model=./third_party/inference_demo/resnet50/model --cpu_num_threads=4 --num_threads=2

然后观察 `htop`命令的显示

[2020-09-03 11:31] Steffy-zxf commented on #26993
你好！关于scaled_dot_product_attention op问题，请在 https://github.com/paddlepaddle/paddle/issues 提问。

[2020-09-03 11:34] oyxuan-11 opened #26994 "如何使两个 tensor 纬度相等？"
你好，我想让两个tensor 的dim 一致，该如何操作呢？
具体来说，我想让emb_2 的dims 和emb_1 的dims 一致，是[-1, 64] 而不是[-1, -1]，请问改如何实现呢
![image](https://user-images.githubusercontent.com/26322278/92109793-3d1c9600-ee1c-11ea-8564-24c77eb73d31.png)

代码如下+++++++++++++++++++
import numpy as np
import paddle.fluid as fluid
data = fluid.layers.data(name='sequence', shape=[1], dtype='int64', lod_level=1)

emb_1 = fluid.layers.embedding(input

[2020-09-03 11:37] oyxuan-11 commented on #26994
emb_1 的第二个维度不是固定的，这里写64 只是为了方便举例

[2020-09-03 13:18] juncaipeng commented on #26994
reshape都要求输入tensor的维度是固定的，不能存在-1。

[2020-09-03 13:30] juncaipeng commented on #26983
The input of the feeder is a list or tuple, as follows

[code]
Reference:https://www.paddlepaddle.org.cn/documentation/docs/en/api/fluid/DataFeeder.html

[2020-09-03 13:44] yellmi opened #27001 "fluid.io.save_inference_model 报错 ValueError: var read_file_0.tmp_3 not in this block"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

    1）PaddlePaddle版本：1.8.2 ， paddle 1.7版本不会报这个错
    3）GPU：P40   cuda 9   cudnn7.3
    4）系统环境：python 3.7

- 训练信息
    1）单机单卡
    2）显存信息 22G
  fluid.io.save_inference_model(
                        args.model_output,
                        feed_list, target_vars,
                        exe,
                        params_fil

[2020-09-03 15:43] saviord7 commented on #26983
I made test:
[code]

with my custom_reader:
[code]

And it shows me this Error:
[code]

If i make `batch_size=2`:
[code]

[2020-09-04 01:39] zhupengyang commented on #26574
[to_variable()](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/to_variable_cn.html#to-variable) : numpy -> VarBase 的转换

[2020-09-04 01:53] juncaipeng commented on #27001
请补充完整代码，谢谢。

[2020-09-04 01:58] Cxywzx commented on #26967
成功安装！非常感谢！

[2020-09-04 01:58] #26967 closed, assigned to nobody

[2020-09-04 02:01] juncaipeng commented on #26974
暂时看不出来问题，会安排排查一下。

[2020-09-04 02:26] ellinyang opened #27009 "PaddlePaddle catches a failure signal, it may not work properly"
1）PaddlePaddle版本：paddle1.7.1
    2）GPU：V100，CUDA7.0和CUDNN9.0
    3）系统环境：Linux

- 训练信息
    V100, 单机，单卡
[code]
- 复现信息：偶发现象
- 问题描述：
训练结束时报错,请问有哪些可能的原因？
[code]

[2020-09-04 02:27] yellmi commented on #27001
已补充

[2020-09-04 02:46] saviord7 commented on #26983
My reader and training code:
[code]

As you say my image reader is normal. So my problem is in data feed.
I tried many times and options. And not really know how to feed it right..

This is my last try and it throw me this error:

[code]
 In this part of code

[code]

**_How I need to feed my data into net right ?_**

[2020-09-04 02:49] iceriver97 opened #27012 "使用AMD出现错误 paddle.fluid.core_avx.EnforceNotMet: Invoke operator matmul error."
   1）PaddlePaddle版本：paddlepaddle-gpu==1.5.1.post97
    2）CPU：AMD Ryzen 7 3700X 8-Core Processor × 16
    3）GPU：Nvidia 2070 super ; CUDA=9.0 cuDnn = 7.6.5
    4）系统环境：Ubuntu 16.04 python = 3.7

报错信息：
[code]
在使用 Intel 的机器上程序可以正常运行;
除了更换CPU还有别的解决办法嘛？

[2020-09-04 03:00] eshaoliu commented on #27001
感谢帮忙补充，不过我本地1.6版本以上均报错，只有1.5版本不报错，可能是由于裁剪的原因。

[2020-09-04 03:35] kinghuin commented on #11689
需要配置一下CLION的python路径
命令行执行
[code]
然后配置CLION：
Clion -- Preferences -- Build, Execution, Deployment -- CMake -- CMake options --
填入：
-DPYTHON_EXECUTABLE= 刚刚which python显示的路径
最后
File -- Reload CMake Project

[2020-09-04 04:01] eshaoliu commented on #26974
补充下ernie model用的是ERNIE_1.0_max-len-512.tar.gz，我看官网是说要4输入。

[2020-09-04 04:10] IamMegatron2025 opened #27025 "DataParallel模式，单机多卡怎么计算loss或梯度的"
问题1：
数据并行模式，pytorch的单机多卡训练原理是：

假设读入一个 batch 的数据，其大小为 [30, 5, 2]，假设采用三张 GPUs，其运行过程大致为：

[1] - 将模型放到主 GPU 上，一般为 cuda:0;

[2] - 把模型同步到 3 张 GPUs 上;

[3] - 将总输入 batch 的数据平分为 3 份，这里每一份大小为 [10, 5, 2]；

[4] - 依次分别作为每个副本模型的输入；

[5] - 每个副本模型分别独立进行前向计算，假设为 [4, 5, 2];

[6] - 从 3 个 GPUs 中收集分别计算后的结果，并按照次序拼接，即 [12, 5, 2]，计算 loss;

[7] - 更新梯度.

但是我读paddlepaddle的[文档](https://www.paddlepaddle.org.cn/documentation/

[2020-09-04 04:20] zhangting2020 commented on #27009
在上面的log前，还有其他更加详细的信息吗？

[2020-09-04 04:32] eshaoliu commented on #27001
试着将冗余的输入删除，
feed_targets_name.remove('read_file_0.tmp_3')
    feed_targets_name.remove('read_file_0.tmp_8')
    feed_targets_name.remove('read_file_0.tmp_12')

    fluid.io.save_inference_model(
        model_path,
        feed_targets_name,
        [left_score, type_probs],
        #[left_score, right_score, type_probs],
        exe,
        main_program=predict_prog,
    )
之前是这样的
   inputs = [ar

[2020-09-04 04:32] eshaoliu commented on #26974
试着将冗余的输入删除，
feed_targets_name.remove('read_file_0.tmp_3')
    feed_targets_name.remove('read_file_0.tmp_8')
    feed_targets_name.remove('read_file_0.tmp_12')

    fluid.io.save_inference_model(
        model_path,
        feed_targets_name,
        [left_score, type_probs],
        #[left_score, right_score, type_probs],
        exe,
        main_program=predict_prog,
    )
之前是这样的
   inputs = [ar

[2020-09-04 05:16] eshaoliu commented on #26974
2020-09-04 13:15:07 src_ids_1 [[[   1]
2020-09-04 13:15:07   [ 327]
2020-09-04 13:15:07   [ 157]
2020-09-04 13:15:07   ...
2020-09-04 13:15:07   [   0]
2020-09-04 13:15:07   [   0]
2020-09-04 13:15:07   [   0]]
2020-09-04 13:15:07
2020-09-04 13:15:07  [[   1]
2020-09-04 13:15:07   [ 327]
2020-09-04 13:15:07   [ 157]
2020-09-04 13:15:07   ...
2020-09-04 13:15:07   [   0]
2020-09-04 13:15:07   [   0

[2020-09-04 05:21] eshaoliu commented on #26974
2020-09-04 13:15:07
2020-09-04 13:15:07 --------------------------------------------
2020-09-04 13:15:07 C++ Call Stacks (More useful to developers):
2020-09-04 13:15:07 --------------------------------------------
2020-09-04 13:15:07 0   std::string paddle::platform::GetTraceBackString<char const*>(char const*&&, char const*, int)
2020-09-04 13:15:07 1   paddle::platform::EnforceNotMet::EnforceNo

[2020-09-04 05:30] eshaoliu commented on #27001
2020-09-04 13:15:07
2020-09-04 13:15:07 --------------------------------------------
2020-09-04 13:15:07 C++ Call Stacks (More useful to developers):
2020-09-04 13:15:07 --------------------------------------------
2020-09-04 13:15:07 0 std::string paddle::platform::GetTraceBackString<char const*>(char const*&&, char const*, int)
2020-09-04 13:15:07 1 paddle::platform::EnforceNotMet::EnforceNotMet

[2020-09-04 05:32] zhangting2020 commented on #27012
如果是旧版本的bug，在新版本中可能已解决。1.5版本比较低了，方便用1.8版本测试一下吗？

[2020-09-04 06:11] saviord7 commented on #26983
@juncaipeng have you got any ideas or just way to undo the  mistake in feed?

[2020-09-04 06:25] iceriver97 commented on #27012
@zhangting2020 谢谢。但是我之前尝试过将环境升级到 1.8+的版本，有一个函数可能存在差异，我没能解决改写的问题；
函数：`fluid.layers.sequence_unpad`
代码：
[code]
在1.5的版本 labels 的维度(-1, 512, 112) -> (-1, 112)
我没能修改代码在1.8中达到相同的效果，我应该如何修改 shapes呢？您能帮我一下吗？非常感谢

[2020-09-04 06:25] chenwhql commented on #27025
1. 这个文档讲得是另外一套分布式训练方法，主要针对静态图讲的，而你问的DataParallel是动态图的，这两者之间关联不是特别大，动态图多卡目前文档也不是非常完善，可以参考这个https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id10
这个方式在之后的版本中还会更新

2. 是多进程，batch的切分应该由DataLoader去做，并不是DataParallel来完成的，看下这个例子：https://github.com/PaddlePaddle/models/blob/release/1.8/dygraph/mnist/train.py
目前数据的切分是由distributed_batch_reader来做的，loss和梯度的

[2020-09-04 07:09] ymzlygw opened #27031 "关于Numpy类型数据转fluid.core_avx.VarBase数据类型出现的问题"
你好，之前我提了issue问关于Numpy如何转换为fluid.core_avx.VarBase类型，十分感谢你的回答@juncaipeng.
但是实际使用中遇见了另一个问题：

the shape experiment mel:(1, 80, 129), type:<class 'numpy.ndarray'>  这是读入的numpy数据的初始size。

re_shape:<class 'paddle.fluid.core_avx.VarBase'>, size(1, 80, 129)   这是我将numpy数据转为VarBase数据的size。

the shape of mel0:type:<class 'paddle.fluid.core_avx.VarBase'> size:[1, 80, XXX] 这是我想要的数据类型,也是模型中能正常进行处理的数据类型，但是是由圆括号包起来

[2020-09-04 07:11] zhangting2020 commented on #27012
在1.8版本中，sequence_unpad接口的length参数说明为：存储每个样本实际长度信息的1D Tesnor，该Tensor维度的第0维必须与x维度的第0维一致。支持的数据类型：int64。
你的代码中，seq_lens的shape为[-1, 1]，是2D的。需要改为[-1]这样第0维才与labels的第0维相同

[2020-09-04 07:18] TyrionZK opened #27032 "paddlepaddle可以实现对抗训练吗"
你好，我想问一下，paddlepaddle可以实现对抗训练吗？
其中有两步必须的操作：1）获取预训练模型嵌入层；2）获取反向传播后的梯度值，类似pytorch中的loss.backward()。
谢谢。

[2020-09-04 07:30] eshaoliu commented on #27001
2020-09-04 15:27:55 W0904 15:27:55.232426    93 init.cc:218] You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle
2020-09-04 15:27:55 W0904 15:27:55.232430    93 init.cc:221] The detail failure signal is:
2020-09-04 15:27:55
2020-09-04 15:27:55 W0904 15:27:55.232434    93 init.cc:224] *** Aborted at 1599204475 (unix time) try "date -d @1599

[2020-09-04 07:30] eshaoliu commented on #26974
2020-09-04 15:27:55 W0904 15:27:55.232426    93 init.cc:218] You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle
2020-09-04 15:27:55 W0904 15:27:55.232430    93 init.cc:221] The detail failure signal is:
2020-09-04 15:27:55
2020-09-04 15:27:55 W0904 15:27:55.232434    93 init.cc:224] *** Aborted at 1599204475 (unix time) try "date -d @1599

[2020-09-04 07:33] iceriver97 commented on #27012
@zhangting2020  非常感谢，这种改法我尝试过，这会提示seq_lens依旧是2维的；报错信息如下：
[code]

[2020-09-04 07:44] zhangting2020 commented on #27012
上面只是设置了seq_lens的shape，应该还需要检查一下seq_lens的数据维度，可能是2-D的

[2020-09-04 07:49] IamMegatron2025 commented on #27025
@chenwhql 感谢您的回复。

1. paddle的DataParallel默认是动态图的？我看PaddleClas和PaddleDetection的train.py里定义的program都是静态的啊，他们也是DataParallel模式训练吧？怎么解释呢

2. distributed_batch_reader方法是多进程还是多线程呢？ 我看paddle_models/PaddleCV/metric_learning的reader是多线程[xmap_readers](https://github.com/PaddlePaddle/models/blob/release%2F1.8/PaddleCV/metric_learning/reader.py#L191)，还有我看PaddleClas的batch的切分是用多进程[multiprocess_reader](https://git

[2020-09-04 07:54] iceriver97 commented on #27012
@zhangting2020 谢谢。但是我这里是使用py_reader异步读入数据的，我该如何检查数据维度呢？

[2020-09-04 07:57] IamMegatron2025 opened #27037 "有可以可视化feature map的工具吗？"
如题，请问，paddle有可以可视化feature map的工具吗？我现在使用了paddleDetection的gcb(一种attention网络)，想可视化下feature map，看下gcb有没有学到attention的部分。

期待回复，
Thanks

[2020-09-04 08:01] Qdriving opened #27038 "【论文复习】加载训练好的模型训练几个step出现网络参数一直为nan的情况"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.0
    2）CPU：AI Studio
    3）GPU：Tesla V100 16G
    4）系统环境：Ubuntu 16.04.6 LTS , Python3.7
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训

[2020-09-04 08:07] chenwhql commented on #27025
1. 之前paddle都是以静态图为主的，program是静态图的概念，现在paddle默认也是静态图模式，后续2.0会逐渐改成动态图默认，相关的模型才会跟进修改，现在应该还是静态图的模型代码，静态图是支持单进程多线程多卡训练的，不是DataParallel，不是一套

2. distributed_batch_reader本身并没有多线程进程什么的，它只是在当前进程只取对应当前rank的数据，是比较粗放的，之后也会被淘汰，会用DataLoader去做，但1.8上还没有这个特性，另外两个接口只是装饰器，用多线程或多进程去加速一个迭代器的数据读取，建议不要使用，属于历史的低效的实现，现在用了后续切换会不方便，答案是都不够好

3. 单进程是静态图

[2020-09-04 08:08] chenwhql commented on #27025
不太清楚您的需求到底是什么？

[2020-09-04 08:15] R132 opened #27041 "【论文复现】Process finished with exit code -1073741819 (0xC0000005)"
Pycharm Paddle运行和debug时总是报这个错误中断程序。
代码结构为Layer类的嵌套相互引用，run.py调用各个集成的Layer类进行训练。
运行过程中出现上述代码错误（无任何问题描述）
对单个Layer或集成Layer调试可以查找到诸如类型不匹配之类问题。
（已如此解决很多问题）

现在进行反向传播Layer.backward()操作时同样报这个错误终止，使用相同方法调试就更费力了。

请问造成这种异常终止不返回错误信息的原因是什么？和操作系统有关吗？和是否使用显卡有关吗？

    1）PaddlePaddle版本：paddle2.0-alpha-gpu
    2）CPU：
    3）GPU：CUDA10.0和CUDNN7.4
    4）系统环境：Windows10

另外请问造成backward()操作失败的原因可能有哪些？排查了一天没有找到对应问题

[2020-09-04 08:17] R132 commented on #27041
指定CPU运行：place = fluid.CPUPlace()，问题依然存在，Process finished with exit code -1073741819 (0xC0000005)应该与运行设备无关

[2020-09-04 08:22] iceriver97 commented on #27012
@zhangting2020  非常感谢您的帮助;我在修改了reader的设置之后使用1.8的环境在AIStudio上可以正常运行了;
但是当我迁移到本地的时候，还是同样的最初的错误：
[code]
paddle 版本 ：`paddlepaddle-gpu==1.8.3.post107`

[2020-09-04 08:25] zhangting2020 commented on #27012
那这样看来，目前只能考虑换CPU了。我们这边会再看看这个问题如何修复

[2020-09-04 08:40] iceriver97 commented on #27012
@zhangting2020  好的，谢谢。在输入数据较短时不会出错；数据很长时会报错：
`Intel MKL function load error: cpu specific dynamic library is not loaded.`希望这对你们有帮助，能够尽快修复，再次感谢！

[2020-09-04 08:41] yuhangT opened #27043 "paddlepaddle里边类似于 keras这种划分模型的操作怎么实现啊"
subject_model = Model([t1_in, t2_in], [ps1, ps2])
object_model = Model([t1_in, t2_in, k1_in, k2_in], [po1, po2])
train_model = Model([t1_in, t2_in, s1_in, s2_in, k1_in, k2_in, o1_in, o2_in],[ps1, ps2, po1, po2])

比如这样，一个大的模型，和训练过程不太一样，在测试的时候我需要一些中间（ps1,ps2）输出用于推理然后再作为object_model的输入

[2020-09-04 09:08] chenwhql commented on #26929
您好，如果这个后来可用了，麻烦您close下这个问题

[2020-09-04 09:19] iceriver97 commented on #27012
@zhangting2020 在使用 Intel i7 8750h + PP1.8.4 时，一切正常；

[2020-09-04 09:23] zhangting2020 commented on #27031
你是怎么转换的呢？你的需求是要把numpy转tensor吗？

[2020-09-04 09:33] zhangting2020 commented on #27037
这个工具你可以看看是不是能满足你的需求：https://github.com/PaddlePaddle/InterpretDL

[2020-09-04 09:37] ymzlygw commented on #27031
不是，numpy转tensor和tensor转numpy已经没问题了，但是转换完了当我看.shape的时候，输出打印结果还是不一样，一个是（1,80,X),一个是[1，80，X]，这个括号的不同不知道为什么。

[2020-09-04 09:40] MrChengmo commented on #24788
更新到1.8.3以上版本即可

[2020-09-04 09:42] zhangting2020 commented on #27032
是可以的，你可以参考下这个repo的实现，https://github.com/PaddlePaddle/PaddleGAN

[2020-09-04 09:57] zhangting2020 commented on #27038
有尝试下把学习率调小看看吗？

[2020-09-04 10:00] zhangting2020 commented on #27041
从描述中暂时不能解释是什么问题导致的。请提供一份最小可复现此问题的代码吧

[2020-09-04 10:10] #26547 closed, assigned to nobody

[2020-09-04 10:13] zhangting2020 commented on #27031
我这边尝试如下代码：
[code]
结果：
[code]
如果上面的方式没有解决你的问题，可以提供下能复现问题的代码，方便我们解答

[2020-09-04 10:21] snakecy opened #27048 "Paddle 如何对应Keras中的Input, Dense, Model, Lambda？"
如题：

Paddle 如何对应Keras中的Input, Dense, Model, Lambda？

[2020-09-04 10:23] agrichron opened #27049 "【论文复现】模型保存与加载"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

--------

环境
- Python版本：python3.7
- 框架版本：PaddlePaddle 1.8.0

错误：
![image](https://user-images.githubuserco

[2020-09-04 10:25] #27049 closed, assigned to nobody

[2020-09-04 10:28] #26555 closed, assigned to yongqiangma, lijianshe02

[2020-09-04 10:33] Costwen opened #27050 "在flask中使用动态图模式，会卡死"
版本: paddle 1.8.3 cpu

当在flask上将输入转化为tensor 之后 使用 + - * / 等运算会卡死在原地

同时 也不能正常的使用return

`

    @app.route('/selfie2anime',methods = ['POST','GET'])

    def face2anime():

    if request.method == 'POST':

        selfie_file = request.files['selfie_file']
        selfie_file.save("ActivitySelfie2anime/selfie_file.jpg")

           with fluid.dygraph.guard():
        genA2B = ResnetGenerator(in_cha

[2020-09-04 10:46] zhangting2020 commented on #27048
2.0版本中会有高层API：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-alpha/api_cn/index_cn.html#id1，
其中有上述提到的：Input、Model

如果不使用高层API，对应关系如下
Input：可用data接口
Dense：可用fc接口
Model：无对应
Lambda：无对应

[2020-09-04 11:10] zhangting2020 commented on #27043
静态图可以通过exe.run(feed=feed_dict, fetch=fetch_list)拿到中间结果，中间结果设置在fetch_list中，然后可以feed给你所说的object_model。详细[参考文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/executor_cn/Executor_cn.html#run-program-none-feed-none-fetch-list-none-feed-var-name-feed-fetch-var-name-fetch-scope-none-return-numpy-true-use-program-cache-false-use-prune-false)

[2020-09-04 11:29] chenwhql commented on #27025
线下进一步沟通已达成一致，主要需求是了解静态图单机多卡训练的执行原理，和前面说的多卡是类似的

[2020-09-04 12:39] Haijunlv commented on #26929
还在测试中，如果没问题了会及时反馈

[2020-09-04 13:38] R132 opened #27061 "【论文复现】生成器loss无法回传"
kp_source = self.kp_extractor(x['source'])
        kp_driving = self.kp_extractor(x['driving'])
        # kp_source["value"].backward()  # ok on 09042108

        generated = self.generator(x['source'], kp_source=detach_kp(kp_source), kp_driving=detach_kp(kp_driving))
        generated.update({'kp_source': kp_source, 'kp_driving': kp_driving})  # 似乎是dict的操作
        generated["prediction"].backward

[2020-09-04 14:27] liu824 opened #27062 "【论文复现】VIDIOC_REQBUFS: Inappropriate ioctl for device"
训练一段时间后突然报错：VIDIOC_REQBUFS: Inappropriate ioctl for device
![image](https://user-images.githubusercontent.com/55372277/92250259-d2438b80-eefd-11ea-8847-f88bcdf83edc.png)

[2020-09-04 14:47] shenyt-sanshui opened #27063 "tx2上安装编译linux预测库"
我想在tx2上安装编译linux的预测库，看官网的教程有点疑问https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html（官网教程）
![image](https://user-images.githubusercontent.com/59388845/92252243-8cd48d80-ef00-11ea-88f1-d44f8c262655.png)
![image](https://user-images.githubusercontent.com/59388845/92252255-91994180-ef00-11ea-90b4-869e022e7182.png)
请问我在tx2上安装与

[2020-09-04 19:44] nikankind commented on #26339
torch.max()实际实现了多个功能，如：
torch.max(Tensor)求Tensor的最大值
torch.max(Tensor,dim)求Tensor在某维度下的若干个最大值
torch.max(Tensor1,Tensor2)把两个张量相应位置依次比较，并输出每个位置的最大值

fluid.layers.reduce_max()可以实现torch.max()前两个功能

同理，torch.min()对应fluid.layers.reduce_min()

给的两版API对照表格文件在此处有点纰漏

[2020-09-05 06:44] lyj0123 opened #27072 "【论文复现】执行程序总被Killed，有时会还会关掉浏览器出现“内存溢出，请检查相关程序”的提示"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.0
    2）CPU：使用的CPU  基础版，在ResNet3D 作业中执行的代码
    3）GPU：
    4）系统环境：Python 3.7

- 复现信息：复现ResNet3D的论文，出现了  Loss at epoch 0 step 0: [4.912266], acc: [0.]  我认为应该不是网络和数据读取器的问题
- 问题描述：执行程序被  Killed  ，有时会还会关掉浏

[2020-09-05 07:02] tuxming opened #27073 "场景文字识别 里面的sequence label怎么生成的。"
模型： https://www.paddlepaddle.org.cn/modelbasedetail/attention
数据准备里面的sequence label是怎么生成的，

我没有看到具体的关于这个sequence label的说明，搜索结果都是sequence labeling的算法，我想这个sequence label和搜索的哪个应该不是一回事吧，不然，这么复杂的，不应该只提一下。。

有知道的人给解释一下吗

[2020-09-05 08:16] Mryangkaitong opened #27076 "python2.7 安装报错"
pip :20.2.2
python:2.7.5
安装cpu版本

命令
`sudo pip2 install paddlepaddle -i https://mirror.baidu.com/pypi/simple`
报错：
`ERROR: Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/pip/_internal/cli/base_command.py", line 216, in _main
    status = self.run(options, args)
  File "/usr/lib/python2.7/site-packages/pip/_internal/cli/req_command.py", line 182, in wrapper

[2020-09-05 09:30] shaofeifei11 opened #27077 "paddlepaddle-gpu提示版本不对"
使用gpu跑程序时，给出警告：
![image](https://user-images.githubusercontent.com/50863459/92302253-3f5a2e00-ef9d-11ea-88ac-5e513a1539d7.png)

安装的paddle版本：
![image](https://user-images.githubusercontent.com/50863459/92302268-64e73780-ef9d-11ea-97b7-a2e5e8739079.png)

请问，为了去除这个警告，我应该选择哪个版本，谢谢

[2020-09-05 13:12] jordan2013 opened #27081 "论文复现：Nccl error, unhandled system error"
版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）CPU：预测若用CPU，
    3）GPU：AIStudio四卡的脚本环境
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训练信息
    1）单机/多机，单卡/多卡
    2）显存信息
    3）Operator信息
- 复现信息：脚本任务号：23007
- 问题描述：
raceback (most recent call last):
  File "main.py", line 732, in <module>
Traceback (m

[2020-09-05 13:21] MrChengmo commented on #27077
- 这个报错是提示您环境中的cudnn版本不及预期（7.4<7.6），但仅是warning，不影响正常运行

- 上面这个paddle是CPU版本，下面是paddle1.8.4使用Cuda 10， cudnn 7的版本

GPU所需环境可以参考：https://docs.nvidia.com/deeplearning/cudnn/install-guide/#install-linux

[2020-09-05 13:28] nikankind commented on #26518
论文源代码里的这些mask是bool类型张量，在paddle中，可将mask转为float32等类型的张量，然后用fluid.layers.elementwise_mul()等函数，如Tensor[mask1]在paddle中可写为
mask1 = cast(mask1, dtype='float32')
fluid.layers.elementwise_mul(Tensor,mask1)
大概是这样的实现

[2020-09-05 13:28] MrChengmo commented on #27081
请问您任务使用的paddle版本是？

查看源码，报错位置的提示是nccl使用错误，应该检查一下你的卡数是否满足训练设置的要求

<img width="1013" alt="image" src="https://user-images.githubusercontent.com/29789135/92305981-a4724b80-efbe-11ea-9438-6c397d7b05c4.png">

另外在你的报错日志中，也有下面这段
[code]

[2020-09-05 13:38] MrChengmo commented on #27062
这个报错不是来源于PaddlePaddle，可否提供一下打印 `训练集正确率：xxxx，训练集平均：xxxx` 这段文字附近的代码~

[2020-09-05 13:41] MrChengmo commented on #27063
两者相互独立

- 直接下载安装的是基于release版本的预测库，在指定环境下已经编译好直接使用

- 如果有定制化的设备需求 或 修改了预测库代码，则需要重新从源码编译

[2020-09-05 13:44] MrChengmo commented on #27072
请问可以提供复现的代码或者环境吗？也可以提供更详细的报错日志

通常执行程序被kill切没有报错是底层错误，可以先将batchsize以及线程数都调整为最小，逐步加大，看能否复现错误

[2020-09-05 13:48] lyj0123 commented on #27072
谢谢您，已经解决了，在群里也问了，然后有人给出了建议：1. 调小batch_size  2. 删除数据增强。  我采用了调小 batch_size 的方法，现在代码已经可以跑通了。谢谢。

[2020-09-05 13:48] MrChengmo commented on #27072
在运行前使用export GLOG_v=4 ，可以打印更详细的日志

[2020-09-05 13:54] MrChengmo commented on #27073
sequence_label是指这条训练样本中，图片上的各个字符映射到字典的真值，按照从左至右的顺序排列组成的序列化label

在文档中有这样的说明：

<img width="1106" alt="image" src="https://user-images.githubusercontent.com/29789135/92306519-4f383900-efc2-11ea-98e7-ffb1c225361a.png">

[2020-09-05 13:55] jordan2013 commented on #27081
AI Studio Paddlepaddle的脚本环境，多卡设置是在发起脚本任务选择的，这是那段源码：
trainer_count = fluid.dygraph.parallel.Env().nranks
    place = fluid.CUDAPlace(fluid.dygraph.parallel.Env().dev_id) \
        if use_data_parallel else fluid.CUDAPlace(0)

    with fluid.dygraph.guard(place):
        if use_data_parallel:
            strategy = fluid.dygraph.parallel.prepare_context()

[2020-09-05 13:57] jordan2013 commented on #27081
PaddlePaddle版本：1.8

[2020-09-05 13:58] MrChengmo commented on #27076
看起来是在安装paddlepaddle时没有找到依赖库的资源，使用下面这个安装命令尝试一下~

[code]

[2020-09-05 14:04] MrChengmo commented on #27081
在运行的代码里debug一下吧：

[code]

看一下这两个值具体是多少

[2020-09-05 14:05] lyj0123 commented on #27072
群里还有人建议查一下内存占用，我知道在自己笔记本上用任务管理器查看内存的占用情况，请问一下在 aistudio 中的终端中，怎么查看内存占用的情况 ？

[2020-09-05 14:07] jordan2013 commented on #27081
谢谢，我在加上这段代码再看看

[2020-09-05 14:09] tuxming commented on #27073
![image](https://user-images.githubusercontent.com/3365777/92306724-eea9fb80-efc3-11ea-9dda-ec41bb9332a5.png)
就拿这个来说吧： 80=Q, 67=D，是什么依据，为啥不是90=Q,50=D，
我第一时间想到的是ascii，但是Q=81，D=68也对应不上。所以他这个根据什么生成的，我一直搞不懂。

[2020-09-05 14:18] MrChengmo commented on #27073
这个是根据自己的数据集来确定的，可以考虑下面这几种情况：

- 训练过程中，涉及到的字符可能并没有ascii码里那么多，使用ascii表来做字典会浪费内存，降低收敛速度。

- 或者，训练数据中的字符，使用ascii的规则无法覆盖到，比如我们将一个词组作为识别的对象

所以这个字典是根据自己的数据集来确定的

[2020-09-05 14:29] MrChengmo commented on #27072
另外开一个终端，使用 `top` 命令看各个进程占用的内存

[2020-09-06 01:13] Reatris opened #27087 "关于set_value对tensor中单个元素赋值无效问题"
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号：1.8.4 平台gpu
只对整个tensor赋值有效，单个元素无效
 代码如下
[code]
输出结果

运行耗时: 8毫秒
[code]

[2020-09-06 01:23] guru4elephant opened #27088 "实现AdaScale SGD"
ICML 2020 paper
AdaScale SGD: A User-Friendly Algorithm for Distributed Training

在分布式训练场景下，多机多卡同步训练时总batch通常会比较大，并且随着节点数的变化，如果不精细的调整学习率会影响最终的收敛效果，ICML 2020提出的AdaScale SGD针对这个问题有很好的解法，Paddle需要提供给用户一个开箱即用的配置

[2020-09-06 01:47] ARDUJS opened #27089 "推理阶段报错"
大哥，Help !!!
### 环境
- python = 3.75
- paddlepaddle = 1.7.2
### 问题

![image](https://user-images.githubusercontent.com/20811685/92316350-4298fc80-f025-11ea-93e5-3b9f405d8081.png)
![image](https://user-images.githubusercontent.com/20811685/92316352-44fb5680-f025-11ea-99ca-1c3e63ae2c10.png)

### OP操作代码

[code]

t :（batch_size, 256, 128）
k1: (batch_size, 1)
k2: (batch_size, 1)

[2020-09-06 01:58] eshaoliu commented on #26974
模型定义见这里
def create_model(
    args,
    pyreader_name,
    ernie_config,
    is_prediction=False,
    task_name="",
    is_classify=False,
    is_regression=False,
    ernie_version="1.0",
):
    """create_model"""
    if is_classify:
        pyreader = fluid.layers.py_reader(
            capacity=50,
            shapes=[
                [-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1],

[2020-09-06 02:58] eshaoliu commented on #26974
1.6版本的报错是这样的
2020-09-06 10:55:05 Exception: /paddle/paddle/fluid/operators/lookup_table_op.cu:43 Assertion `id < N` failed. Variable value (input) of OP(fluid.layers.embedding) expected >= 0 and < 18000, but got 1073741824. Please check input value.
2020-09-06 10:55:05 Exception: /paddle/paddle/fluid/operators/lookup_table_op.cu:43 Assertion `id < N` failed. Variable value (input) of OP(fluid.laye

[2020-09-06 03:00] eshaoliu commented on #27001
模型定义见这里
def create_model(
args,
pyreader_name,
ernie_config,
is_prediction=False,
task_name="",
is_classify=False,
is_regression=False,
ernie_version="1.0",
):
"""create_model"""
if is_classify:
pyreader = fluid.layers.py_reader(
capacity=50,
shapes=[
[-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1],
[-1, args.max_seq_len, 1],
[-1, args.max_seq_len, 1],
[-1, args.max_seq_len, 1],
[-1, args.max

[2020-09-06 03:14] Qdriving commented on #27038
没作用的，保持学习率，调小学习率都试过不行的。只有重启系统后才能解决

[2020-09-06 03:22] shaofeifei11 commented on #27077
好的，谢谢

[2020-09-06 07:42] jyy0553 opened #27091 "fluid.layers.dynamic_gru()自定义h_0报错"
paddle1.7.2 我把双向gru的输出
![image](https://user-images.githubusercontent.com/31769833/92320821-07afbc80-f057-11ea-9eb1-a5b37457ce3e.png)，作为另一个双向gru的h_0
![image](https://user-images.githubusercontent.com/31769833/92320847-49d8fe00-f057-11ea-9158-65de857bef20.png)
最终执行的时候报错：
![image](https://user-images.githubusercontent.com/31769833/92321026-0b444300-f059-11ea-9cd8-d14ea4df03bd.png)

![image](https://

[2020-09-06 11:23] eshaoliu commented on #26974
2020-09-06 19:16:05 I0906 19:16:05.972730   103 analysis_predictor.cc:833] MODEL VERSION: 1.7.1
2020-09-06 19:16:05 I0906 19:16:05.972748   103 analysis_predictor.cc:835] PREDICTOR VERSION: 1.7.1
2020-09-06 19:16:05 --- Running analysis [ir_graph_build_pass]
2020-09-06 19:16:06 --- Running analysis [ir_graph_clean_pass]
2020-09-06 19:16:06 --- Running analysis [ir_analysis_pass]
2020-09-06 19:16:0

[2020-09-06 11:23] eshaoliu commented on #27001
cuda92020-09-06 19:16:05 I0906 19:16:05.972730 103 analysis_predictor.cc:833] MODEL VERSION: 1.7.1
2020-09-06 19:16:05 I0906 19:16:05.972748 103 analysis_predictor.cc:835] PREDICTOR VERSION: 1.7.1
2020-09-06 19:16:05 --- Running analysis [ir_graph_build_pass]
2020-09-06 19:16:06 --- Running analysis [ir_graph_clean_pass]
2020-09-06 19:16:06 --- Running analysis [ir_analysis_pass]
2020-09-06 19:16:

[2020-09-06 11:41] eshaoliu commented on #26974
2020-09-06 19:40:09 Error: /paddle/paddle/fluid/operators/lookup_table_op.cu:43 Assertion `id < N` failed. Variable value (input) of OP(fluid.layers.embedding) expected >= 0 and < 18000, but got 4875287335277170688. Please check input value.
当有2个predictor预测的时候会有越界的错误

[2020-09-06 11:41] eshaoliu commented on #27001
2020-09-06 19:40:09 Error: /paddle/paddle/fluid/operators/lookup_table_op.cu:43 Assertion `id < N` failed. Variable value (input) of OP(fluid.layers.embedding) expected >= 0 and < 18000, but got 4875287335277170688. Please check input value.
当有2个predictor预测的时候会有越界的错误

[2020-09-06 12:33] ARDUJS opened #27092 "Lodtensor的使用问题"
### 环境
- python 3.7.5
- paddle = 1.7.2
### 问题

- 切分头的时候，需要reshape，Lodtensor如何使用reshap
- 交换维度时，Lodtensor又该如何处理呢
### 现状
我有一t向量shape =  -1， 256， 128
经过
t = fluid.layers.sequence_unpad(t, length=seq_len_used)  转化为lodtensor对象 ， shape = -1， 128
想经过一层attention，该如何处理，谢谢 大佬  help

[2020-09-06 12:38] zhangting2020 commented on #27050
return之前的计算步骤都是正常运行的吗？比如make_response这一步执行正常吗？另外，使用tensor去进行+ - / * 运算也会卡死在相对应处，是任意一段测试代码都会出现这个问题，还是说只是在你的项目中会卡住？

[2020-09-06 12:55] #27025 closed, assigned to nobody

[2020-09-06 12:58] zhangting2020 commented on #27038
重启系统后还会复现这个问题吗？

[2020-09-06 14:42] zhangting2020 commented on #27061
从你上面的描述中，你测试能够正常运行的代码是：调用2次backward，但第二个网络中，将第一个网络的2个输出detach，对吗？

看上去程序出错应该和你调用了2次backward有关，在第一次backward之后，第一个网络的计算图会被释放。但是第一个网络的输出作为另外第二个网络的输入，之后第二次backward会对这两个变量再次求梯度，导致了程序出错。

而使用了detach后，产生了值与kp_source和kp_driving相同的新的变量，并且和第一个网络计算图是分离的，所以能够运行成功。

看你在issue 27041 中使用的版本是paddle2.0-alpha-gpu，这个问题应该可以使用即将发布的2.0beta版本，通过loss.backward(return_graph=True)解决。

[2020-09-06 15:11] Gjiangtao commented on #22572
请问您是怎么解决的呢

[2020-09-06 15:32] saviord7 opened #27095 "Variable value (label) of OP(fluid.layers.cross_entropy) expected >= 0 and < 5, but got 5."
Hello everyone!

I have dataset with 8 features and 1 label column.
My label could be: 1 , 2 , 3 , 4 , 5. So there are 5 different values.

I defined predict layer in my Liner Regression like that:
[code]

So outputs could be only in range of 5 values.

When I am starting training I ger this:
[code]

Why?

[2020-09-06 15:32] Costwen commented on #27050
我有试过输出response 发现是正常的200
之前也试过将处理过程封装为一个函数 发现不管有没有return 只要有了动态图模式的开启 这个函数都不能正常关闭

`

    from flask import Flask,render_template,request,jsonify,make_response
    from PIL import Image
    import base64
    import cv2
    import paddle.fluid as fluid
    import numpy as np
    import matplotlib.pyplot as plt
    app = Flask(__name__)
    @app.route('/',methods = ['GET'])
    def face2anime():

[2020-09-06 15:50] danleifeng commented on #27095
the value of label must be inside [0, D).
You may refer to the document: https://www.paddlepaddle.org.cn/documentation/docs/en/api/layers/cross_entropy.html

[2020-09-06 16:20] HeMancute commented on #23501
请问您解决了吗，我也是遇到这个问题，能指导一下吗？

[2020-09-06 16:23] hubu-wangpei commented on #23501
首先你得定位到你出现这个问题的原因，百度查查，如果都解决不了，尝试多跑几个迭代

---原始邮件---
发件人: "HeMancute"<notifications@github.com&gt;
发送时间: 2020年9月7日(周一) 凌晨0:20
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "State change"<state_change@noreply.github.com&gt;;"hubu-wangpei"<602844523@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 复现改造AlexNet，无法收敛，acc一直是0.5左右，检查了很多方面还是找不出问题 (#23501)

请问您解决了吗，我也是遇到这个问题，能指导一下吗？

—
You are rece

[2020-09-06 16:28] HeMancute commented on #23501
跑了600轮了，还是一样，各种调参都没解决

[2020-09-06 16:29] hubu-wangpei commented on #23501
这就不太知道了，我当时是因为跑的太少了

---原始邮件---
发件人: "HeMancute"<notifications@github.com&gt;
发送时间: 2020年9月7日(周一) 凌晨0:28
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "State change"<state_change@noreply.github.com&gt;;"hubu-wangpei"<602844523@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 复现改造AlexNet，无法收敛，acc一直是0.5左右，检查了很多方面还是找不出问题 (#23501)

跑了600轮了，还是一样，各种调参都没解决

—
You are receiving this because you m

[2020-09-06 16:30] HeMancute commented on #23501
你跑了多少轮

[2020-09-06 16:36] hubu-wangpei commented on #23501
我才跑100个epoch

---原始邮件---
发件人: "HeMancute"<notifications@github.com&gt;
发送时间: 2020年9月7日(周一) 凌晨0:28
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "State change"<state_change@noreply.github.com&gt;;"hubu-wangpei"<602844523@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 复现改造AlexNet，无法收敛，acc一直是0.5左右，检查了很多方面还是找不出问题 (#23501)

跑了600轮了，还是一样，各种调参都没解决

—
You are receiving this because you modified

[2020-09-06 16:39] HeMancute commented on #23501
#img = img / 255.0
    #img = img * 2.0 - 1.0
你注释掉了吗

[2020-09-06 16:40] hubu-wangpei commented on #23501
是的，你也是做隐写分析的吗？加个Q说吧，你加我602844523

[2020-09-06 16:42] HeMancute commented on #23501
有微信吗

[2020-09-06 16:42] HeMancute commented on #23501
嗯

[2020-09-06 16:43] hubu-wangpei commented on #23501
我加你微信吧，你发一下

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "HeMancute"<notifications@github.com&gt;;
发送时间: 2020年9月7日(星期一) 凌晨0:42
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "hubu-wangpei"<602844523@qq.com&gt;; "State change"<state_change@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 复现改造AlexNet，无法收敛，acc一直是0.5左右，检查了很多方面还是找不出问题 (#23501)

有微信吗

—
You are receivin

[2020-09-06 16:44] HeMancute commented on #23501
微信号lfxfcf

[2020-09-06 17:14] saviord7 commented on #27095
If I make predict size = 6 is it ok?
Or I need to modify my dataset labels  like: values [1 , 2 , 3 , 4 , 5] to values [0, 1, 2, 3, 4]

[2020-09-06 23:26] HeMancute opened #27096 "自己设计的网络进行图像分类，无法收敛，loss一直在0.69315，acc一直是0.5左右，检查了很多方面还是找不出问题 #23501"
如题，改造了ReST-Net模型。在训练WOW隐写算法在0.4bpp嵌入率的时候检测效果有80%左右，还是挺不错的。但是在训练WOW隐写算法在0.2bpp嵌入率的时候的时候，最后的全连接层输出的预测值都是比较小的值，在0附近（下面有图），经过sigmoid函数后的值都在0.5左右。导致acc一直在0.5上下，loss在0.69左右，试过很多网上的方法，都不行。训练集里正反例各一半，训练时，随机读取。lr从0.001开始下降。
![image](https://user-images.githubusercontent.com/29950131/92337330-661e7e80-f0db-11ea-999c-5c92a9b9af21.png)

[2020-09-07 00:02] HeMancute commented on #27096
求助，感谢各位大佬帮助

[2020-09-07 02:01] tuxming commented on #27073
意思就是：我可以自己定义： 1=A,2=B,3=C,4=D，是吗？

[2020-09-07 02:38] juncaipeng commented on #27001
这个预测错误，一般是输入数据的类型不匹配，输入类型应该是int32类型。

[2020-09-07 03:12] HerbertArthur opened #27101 "TypeError: slice indices must be integers or None or have an __index__ method"
使用`fleet.split_files(file_list)`时出现TypeError: slice indices must be integers or None or have an __index__ method
报错信息如下：
[code]
我的训练代码如下：
[code]
在paddle cloud以及本地机器上（centos7.6），我尝试了paddlepaddle 1.6和1.8版本，都是相同的错误。

[2020-09-07 03:21] mapingshuo commented on #27101
这是由于Python3中两个整数相除得小数导致， @seiriosPlus 老师修复一下吧

[2020-09-07 03:57] shippingwang commented on #27095
should change to [0,1,2,3,4]

[2020-09-07 04:03] danleifeng commented on #27088
收到，我们评估一下，非常感谢！

[2020-09-07 06:05] MrChengmo commented on #27073
是的

[2020-09-07 06:51] tuxming commented on #27073
谢谢

[2020-09-07 06:53] juncaipeng commented on #26974
这个一般是输入数值类型错误，可以使用netron打开，看下输入类型是int32还是int64，代码中相应修改。

[2020-09-07 07:10] guoshengCS commented on #27092
可以试下在需要做多头自注意力前先使用`sequence_pad`将LoDTensor转换为padding tensor，使用padding数据完成多头自注意力

[2020-09-07 07:32] jiweibo commented on #27089
看报错，感觉像是自定义python func没有注册进去，请问下能提供复现环境吗，我本地测试下。

[2020-09-07 07:33] yeguang1991 opened #27118 "palm"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2020-09-07 07:33] #27118 closed, assigned to nobody

[2020-09-07 07:36] yeguang1991 opened #27119 "请问palm怎么使用已有的模型进行持续训练？"
我使用PALM框架训练了一个模型之后，训练样本增加了，请问怎么做到不用重新训练，在原来的模型基础上只训练增加的样本

[2020-09-07 08:01] ARDUJS commented on #27089
谢谢，已经解决了，需要重新声明一遍网络

[2020-09-07 08:03] ARDUJS commented on #27092
好的，谢谢，在训练过程如果用sequence_pad和unsequence_pad，在Lodtensor和tensor之间频繁相互转化，对训练效果会有影响吗

[2020-09-07 08:16] zhiqiu commented on #27087
目前`a[0,1]`这样的slice操作后得到的是新的tensor，不能对原tensor进行修改。
例如在原代码中，
[code]

[2020-09-07 08:24] guoshengCS commented on #27091
可否提供下完整的复现代码，我用简单的例子试了下直接加h0是可以的

[code]

[2020-09-07 08:49] HUSTLX opened #27123 "正常训练训着训着就崩了，很频繁，之前已经训了很多epoch了，从中间ckpt加载继续训练就很频繁的崩，yolo-v3"
[code]

[2020-09-07 09:01] mapingshuo commented on #27123
请提供从中间ckpt加载的代码

[2020-09-07 09:11] mapingshuo commented on #27119
你好，这个问题和PALM无关。你需要先load训练好的模型到内存，然后继续训练就可以了。
load训练好的模型的方法是：在run完startup_program之后，使用load_params接口加载训练好的模型：

https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/load_params_cn.html#load-params

[2020-09-07 09:12] mapingshuo commented on #27119
请参考：https://github.com/PaddlePaddle/models/blob/d27cfec8f4033fc72890cd051eef52d593af66ba/PaddleNLP/pretrain_language_models/BERT/utils/init.py#L54

[2020-09-07 09:14] mapingshuo commented on #27096
关于具体模型收敛的问题，我们可能帮不了你，非常抱歉。

[2020-09-07 09:44] pmajchrzak opened #27134 "CMAKE ERROR: another target with the same name already exists"
There is an error during CMake work. It appears with commit: https://github.com/PaddlePaddle/Paddle/commit/fab8bbf25bb34d6989a59df4c1b0536051a59344

Run sequence:
[code]

Error:
[code]

[2020-09-07 09:44] #11884 closed, assigned to panyx0718

[2020-09-07 09:44] #19458 closed, assigned to hong19860320, DogHeadMoon

[2020-09-07 09:44] #19558 closed, assigned to nobody

[2020-09-07 09:44] #19569 closed, assigned to nobody

[2020-09-07 09:44] #19584 closed, assigned to gongweibao, sneaxiy

[2020-09-07 09:44] #19592 closed, assigned to sneaxiy

[2020-09-07 09:44] #19593 closed, assigned to nobody

[2020-09-07 09:44] #19594 closed, assigned to nobody

[2020-09-07 09:44] #19595 closed, assigned to nobody

[2020-09-07 09:44] #19598 closed, assigned to NHZlX

[2020-09-07 09:44] #19613 closed, assigned to nobody

[2020-09-07 09:44] #19626 closed, assigned to seiriosPlus

[2020-09-07 09:45] #19639 closed, assigned to qingqing01

[2020-09-07 09:45] #19649 closed, assigned to JiabinYang

[2020-09-07 09:45] #19685 closed, assigned to nobody

[2020-09-07 09:45] #19693 closed, assigned to nobody

[2020-09-07 09:50] phlrain commented on #26994
这个属于reshape op 没有争取的获取到emb_1_shape[1]的值，所以推导出[-1, -1]的shape，这个问题，我们会尝试修复下

[2020-09-07 09:51] eshaoliu commented on #27001
我定义的时候就是int64，这个没有问题。

[2020-09-07 09:55] #27037 closed, assigned to nobody

[2020-09-07 10:01] eshaoliu commented on #27001
2020-09-07 17:56:21 2020-09-07 17:56:21,265-INFO: -------------- prediction results --------------
2020-09-07 17:56:21 [INFO] 2020-09-07 17:56:21,265 [infer_type_ranker.py:  286]:	-------------- prediction results --------------
2020-09-07 17:56:21 2020-09-07 17:56:21,265-INFO: prepare_batch_data
2020-09-07 17:56:21 [INFO] 2020-09-07 17:56:21,265 [type_pairwise_ranker_reader.py:  174]:	prepare_bat

[2020-09-07 10:03] zhangting2020 commented on #27050
这个应该修改为下面的形式，设置zero_copy=False可解决
[code]

[2020-09-07 10:10] pmajchrzak opened #27136 "FP32 latency growth for ERNIE model"
Using application:
[code]
which is get from the repository:
https://github.com/PaddlePaddle/benchmark.git

for measuring latency
it can be observed that latency grows significant (so performance drops) and permanently starting from the commit: f9066e6a6fcfaea2c7bdf19762eb630c7a0a7985

This observation is for *fp32* only

There were more latency growths before but from the mentioned commit this not

[2020-09-07 10:15] eshaoliu commented on #27001
https://github.com/PaddlePaddle/Paddle/issues/20921 和这个issue有关？是不是“和针对transformer引入的一堆优化pass导致的”？

[2020-09-07 10:25] eshaoliu commented on #27001
另一种报错是这样的
2020-09-07 18:24:32 config <paddle.fluid.core_avx.AnalysisConfig object at 0x7fbbc6d9cc70>
2020-09-07 18:24:32 Traceback (most recent call last):
2020-09-07 18:24:32   File "/media/cfs/liuhongru3/Research-master/KG/DuEL_Baseline/ernie/infer_type_ranker.py", line 521, in <module>
2020-09-07 18:24:32     main(args)
2020-09-07 18:24:32   File "/media/cfs/liuhongru3/Research-master/KG/DuEL_B

[2020-09-07 10:46] Costwen commented on #27050
感谢，成功解决了问题

[2020-09-07 10:46] #27050 closed, assigned to nobody

[2020-09-07 10:47] eshaoliu commented on #27001
有时候会报这个错，都是1.7.1版本
Error: cudaMemcpyAsync failed in paddle::platform::GpuMemcpyAsync (0x555b688be580 -> 0x7f97c6000000, length: 96) error code : 4, Please see detail in https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038: unspecified launch failure at (/paddle/paddle/fluid/platform/gpu_info.cc:314)

[2020-09-07 10:58] luotao1 commented on #27134
@Avin0323 Please help see this issue

[2020-09-07 11:36] juncaipeng commented on #26983
The easiest way to run the program is using executor.

The reason of this error is train_reader is decorated by paddle.batch.

[2020-09-07 11:44] jyy0553 commented on #27091
def _bigru_layer(input_feature):
        """
        define the bidirectional gru layer
        """
        pre_gru = fluid.layers.fc(
            input=input_feature,
            size=grnn_hidden_dim * 3,
            param_attr=fluid.ParamAttr(
                initializer=fluid.initializer.Uniform(
                    low=-init_bound, high=init_bound),
                regularizer=fluid.regularize

[2020-09-07 11:59] luotao1 commented on #27136
@pmajchrzak What's your machine?
@OliverLPH Could you help see it, since our benchmark doesn't catch this error.
<img width="895" alt="图片" src="https://user-images.githubusercontent.com/6836917/92385491-90585680-f144-11ea-8367-9b1e6b5b9cca.png">
And what's our machine?

[2020-09-07 11:59] sandyhouse commented on #26074
Closing this issue. Feel free to reopen it if you have any further question.

[2020-09-07 11:59] #26074 closed, assigned to nobody

[2020-09-07 12:13] pmajchrzak commented on #27136
Measured on:
[code]
Seems that on skylake this not appeared

[2020-09-07 12:16] luotao1 commented on #27136
@pmajchrzak Do you run this ernie model every day?

[2020-09-07 12:16] pmajchrzak commented on #27136
yes, for almost each commit

[2020-09-07 12:17] pmajchrzak commented on #27136
Maybe something was changed in benchmark repository

[2020-09-07 12:27] pmajchrzak commented on #27136
This is almost probably true of a change to the benchmark repository that occurred sometime around August 27-30

[2020-09-07 12:41] pmajchrzak commented on #27136
Maybe here?
https://github.com/PaddlePaddle/benchmark/commit/b928a069cbe77a3a0b12706422b63241fcdbfc11

[2020-09-07 12:52] OliverLPH commented on #27136
@luotao1
Our machine's cpu is `Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz`

@pmajchrzak
I will check this issue on my local machine.

[2020-09-07 13:05] juncaipeng opened #27140 "Conv2d(MKLDNN) error: Expected desc->total_size >= size, but received desc->total_size:0 < size:741376"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that th
If there is no solution,please make sure that this is an inference issue including the following details :
**System information**
-PaddlePaddle version: paddle 1.8.4
-CPU: Use MKLDNN
-GPU: -
-OS Platform: Ubuntu 16.04.6 LTS/Windows
-Python version: Python 3.7
-Cmake orders

[2020-09-07 14:41] JZ-LIANG commented on #27088
收到，将排期开发

[2020-09-07 14:46] allarobot opened #27148 "如何在1.8中定制实现ExponentialLR"
你好，aistudio中目前只支持到paddle1.8，目前还没有develop版本中才出现的lr_scheduler，请问如何在1.8中自定义一些lr scheduler,譬如cosineAnnealing,Warmup, ExponentialLR等呢？

[2020-09-08 01:41] Qdriving commented on #27038
重启偶尔有，大多数时候能够正常

[2020-09-08 01:46] levinxo opened #27154 "给1.8.2的gpu镜像新增用户后，通过新用户来启动镜像会报错"
- 版本、环境信息：
    1）PaddlePaddle版本：docker镜像1.8.2-gpu-cuda10.0-cudnn7 以及1.7.1-gpu-cuda10.0-cudnn7
    4）系统环境：centos7的docker环境
- 复现信息：

1. 通过dockerfile或者通过commit方式新增用户并构建新镜像：
`useradd -d /home/newuserxxx -m -g users -s /bin/bash newuserxxx`
2. 通过`docker run -it --rm -u1000:100 new_image bash`进入新镜像实例化的容器，会提示
`bash: /root/.bashrc: Permission denied`。
如下图所示：
![no permission](https://user-images.githubuser

[2020-09-08 02:12] Derek-Kun opened #27156 "PaddleClas如何用预训练模型？ （-m参数老是错误）"
我看有一个10万分类的预训练模型，下载下来以后里面是一个ResNet50_vd_10w_pretrained文件夹，里面都是weights,mean,variance等文件，下载的其它ResNet50_vd_pretrained预训练模型里面也是这样， 看教程说分类预测框架有三种，下载的哪些预训练模型都没有MODEL文件，所以我猜应该是persistable 模型，可是不管是模型转换然后再预测还是直接 “训练引擎 + persistable 模型预测”，都有一个 “--m=模型名称 “参数，我填了ResNet50_vd_10w_pretrained就报错说KEY错误，里面的介绍是”model_file(简写 m)：模型文件路径，如 ./resnet50-vd/model“，可是persistable 模型里面根本就没有MODEL文件，要转换的还还是要输入
python tools/expo

[2020-09-08 02:28] shaofeifei11 commented on #23323
你好，我也碰到了 cast raises an exception thrust::system::system_error, parallel_for failed: invalid configuration argument 这个问题，请问你是怎么解决的 @zhengzhe97

[2020-09-08 02:33] zhengzhe97 commented on #23323
@shaofeifei11 你得先找到出问题的cast，然后我当时是写了一个python op

[2020-09-08 02:37] shaofeifei11 commented on #23323
cast是修改tensor的dtype。出问题的cast 是指 要改变dtype的那个tensor不能使用cast来改变dtype吗？

[2020-09-08 02:39] zhengzhe97 commented on #23323
这个我不太了解，你可以提个issue问问开发

[2020-09-08 02:44] shaofeifei11 commented on #23323
你当初是将一句paddle的 cast操作用python语句代替了，就把问题解决了，是吗？

[2020-09-08 02:47] mapingshuo commented on #27148
这个API满足不了你的需求吗：https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/exponential_decay_cn.html#exponential-decay