[2021-11-12 14:56] fendou20190323 commented on #35940
【队名】：编程错误<br /><br />【序号】：89<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 15:04] biubiux1 commented on #35940
【队名】：算法二年级<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 15:09] Macy-FK commented on #35940
【队名】：踏雪无痕<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 15:16] kwq163 commented on #35940
【队名】：星之海<br /><br />【序号】：88<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 15:24] liuzhe9520 commented on #35940
【队名】：双手离开键盘<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 15:30] shjjiogzhan commented on #35940
【队名】：香蕉<br /><br />【序号】：91<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 15:38] xiaoqingse commented on #35940
【队名】：天才卡题少女<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 15:51] tabitha10 commented on #35940
【队名】：萝莉保护协会<br /><br />【序号】：91<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 15:52] gbstack commented on #35940
【队名】：redino

【序号】：71

【状态】：报名 & 提交

【链接】：https://github.com/PaddlePaddle/PaddleDetection/pull/4564

[2021-11-12 16:01] gbstack commented on #35940
【队名】：redino

【序号】：72

【状态】：报名 & 提交

【链接】：https://github.com/PaddlePaddle/PaddleDetection/pull/4568

[2021-11-12 16:07] daota2 commented on #35940
【队名】：融合<br /><br />【序号】：85<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 16:15] mocovenwitchX commented on #35940
【队名】：头痛眩晕耳聋耳鸣<br /><br />【序号】：90<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 16:22] chuanqidoc commented on #35940
【队名】：HDU-AlohaOe<br /><br />【序号】：85<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 16:37] Mr-Irvine commented on #35940
【队名】：代码强迫症<br /><br />【序号】：91<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 16:50] yyuou commented on #35940
【队名】：我永远喜欢加藤惠.jpg<br /><br />【序号】：89<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-13 01:32] wj-Mcat opened #37165 "Simple Tensor Comparison Error"
## Enviornment

* os info: ubuntu 20.04
* paddle-cpu: 2.2.0
* python: 3.9

## Reproduce

When I'm writing model unit testing code, there is magical error:

[code]

The above code will pass the testing. Is there anything I have missed ?

[2021-11-13 01:49] wj-Mcat commented on #37165
## Get deep into this case
In order to find the reason, I have done some more testing code:

1.  get default tensor value

[code]
the printed info is:
[code]

It seems that the dtype of tensor is correct.

2. set dtype manually when init tensor

[code]

the above code is also can pass the test.

3. set the same dtype

[code]

the above code can't pass the test.

## Summary

I guess that the reason

[2021-11-13 01:50] xingfeng01 commented on #37165
Hi, please specify the data type as float with "dtype" parameter for the moment.
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/to_tensor_cn.html#to-tensor

We will check the comparison mechanism.

[2021-11-13 01:57] wj-Mcat commented on #37165
Ok, after seting the dtype of tensor, the below code can also pass the test.

[code]

[2021-11-13 01:59] xingfeng01 commented on #37165
Please both set as float32 as mentioned in your comments

a = paddle.to_tensor(2, dtype=paddle.float32)
b = paddle.to_tensor([2.1], dtype=paddle.float32)
print(a)
print(b)
assert a == b

[2021-11-13 02:15] wj-Mcat commented on #37165
Oh ~~~~, I think I have found some issues for you:

[code]

It will throw the exception:

[code]

It will throw the exception when the dtype of tensors are different. But the `==` operator will not throw the exception.

[2021-11-13 02:22] xingfeng01 commented on #37165
This should be some issue, we will check, thanks for exploration.

[2021-11-13 03:13] wj-Mcat commented on #37165
You're welcome. It's my pleasure to help you figure it out.

[2021-11-13 11:13] xiaofeixuan opened #37171 "使用模型训练的自定义数据集，导出模型识别度低"
PaddleDetection-release-2.3，静态图片训练，自己的voc数据集，训练使用的模型：\static\configs\yolov3_mobilenet_v1_voc.yml,执行train.py 训练的。
平台识别使用infer.py，效果还可以。然后使用paddle_lite_opt 工具导出nb模型文件：目前有两个问题：
1：怎么减小体积，一共两个labels类型，导出的模型有92M
2：镜头贴近图片识别度达到80% 90%，效果很好，稍微远一点，不是识别不到就是相似度只有3%  10%等等特别低，两张图片放一起，识别度更低。
请教一下，因为一些参数不会设置，麻烦各位知道的解答一下。

[2021-11-13 11:36] developWmark commented on #37132
你们复现好了吗

[2021-11-13 11:48] yangguohao commented on #35940
【队名】：约克逊是个郡

【序号】：78

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/Quantum/pull/30

[2021-11-13 12:19] xingfeng01 commented on #37171
您好，您是希望更多的了解 YOLOv3 模型如何设置参数，从而体积更小以及得到更好的结果是吗？如果方便的话，可以提供一下具体代码和场景吗 ？

[2021-11-14 05:59] ZiJINII opened #37178 "权重初始化self.weight.shape.numpy()[:] = SRM_npy报错，AI Studio 经典版，2.0.2，python3"
![image](https://user-images.githubusercontent.com/92594026/141668889-630b48ad-def4-4040-a605-bc7502460e4f.png)
import os
import sys
import numpy as np

import paddle
import paddle.nn as nn
from paddle.nn import Layer
import paddle.nn.functional as F

SRM_npy = np.load('SRM_Kernels.npy')

#残差网络卷积2D卷积
class Res_conv2d(nn.Layer):
    def __init__(self):
        super(Res_conv2d, self).__init__()

[2021-11-14 06:04] xiaofeixuan commented on #37171
代码就是github下载的PaddleDetection-release-2.3里面的static\configs\yolov3_mobilenet_v1_voc.yml   只更改了max_iters 跟实际的num_classes，以及下面的：
TrainReader:
  dataset:
    !VOCDataSet
    dataset_dir: dataset
    anno_path: trainval.txt
    use_default_label: false
    with_background: false

EvalReader:
  inputs_def:
    fields: ['image', 'im_size', 'im_id', 'gt_bbox', 'gt_class', 'is_difficult']
  dataset:
    !VO

[2021-11-14 06:04] xiaofeixuan commented on #37171
代码就是github下载的PaddleDetection-release-2.3里面的static\configs\yolov3_mobilenet_v1_voc.yml   只更改了max_iters 跟实际的num_classes，以及下面的：
TrainReader:
  dataset:
    !VOCDataSet
    dataset_dir: dataset
    anno_path: trainval.txt
    use_default_label: false
    with_background: false

EvalReader:
  inputs_def:
    fields: ['image', 'im_size', 'im_id', 'gt_bbox', 'gt_class', 'is_difficult']
  dataset:
    !VO

[2021-11-14 06:11] Deo0330 opened #37179 "Paddle2.2 linux 编译报错"
   1）PaddlePaddle版本：2.2
    2）系统环境：aistudio 项目环境 16G GPU Python3.7

1）docker编译
参照官方编译步骤（linux ubuntu Docker GPU编译）
重新按照步骤编译了也还是跳出一样的错误，是gcc 7.5.0 不支持编译吗
报错如下，不知道该如何修改，望回复
[  0%] copy_if_different /home/aistudio/Paddle/build/paddle/fluid/inference/api/paddle_inference_pass.h
[  0%] copy_if_different /home/aistudio/Paddle/build/paddle/fluid/pybind/pybind.h
[  0%] copy_if_different /home/aistudio/Pad

[2021-11-14 06:11] #37058 closed, assigned to nobody

[2021-11-14 11:29] ronny1996 commented on #37178
您好，self.weight.shape是list类型，没有numpy方法

[2021-11-14 13:10] wj-Mcat opened #37183 "there is no Tensor class will reduce the coding experience"
## Description

When I'm writing net with paddle, there is no `Tensor` class which will let the IDE can predict the type of parameters & variables so that it will not output the method & attributes.  Is there any methods to improve the code completion ?

* paddle code

![image](https://user-images.githubusercontent.com/10242208/141682235-e39f6038-3b43-45b0-b53d-e63ea33f834b.png)

* pytorch code

!

[2021-11-14 14:05] ronny1996 commented on #37183
You can use IPython or Jupyter Notebook and use TAB for code completion.

The functions `help` and `dir` can obtain some information about the methods or attributes of an object.

[2021-11-14 14:38] mingrizhuhao opened #37184 "出现以下问题是什么原因呢（我是小白）"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2021-11-14 14:39] #37184 closed, assigned to ronny1996

[2021-11-14 15:16] wangyhnudt opened #37185 "语音识别算法PPASR，预测时softmax返回值为NAN"
1）paddlepaddle2.1.3
2）8G CPU
3）麒麟V10 aarch64 Ubuntu python3.6
模型信息：
1）PPASR语音识别
2）模型链接：[https://github.com/yeyupiaoling/PPASR/tree/%E5%85%A5%E9%97%A8%E7%BA%A7](https://github.com/yeyupiaoling/PPASR/tree/%E5%85%A5%E9%97%A8%E7%BA%A7)
3）问题描述：在进行语音识别预测执行infer.py时，出现识别结果为空，查询时发现，`out = paddle.nn.functional.softmax(out, 1)`将tensor处理为NAN，tensor输出如下图：

<img width="962" alt="5a242072eaa0132e083e2159b3431cf

[2021-11-15 02:03] joey12300 commented on #37132
你好，精度对不齐指的是多出来的参数精度无法对齐torch吗？由于paddle的LSTM支持direction为`backward`的训练，这需要使用LSTMCell，这时会多出蓝框所示的参数。如果`direction`设为`bidirect`或者`forward`的话，不会使用到该部分参数的

[2021-11-15 02:22] GuoQuanhao opened #37188 "_add_param_group"
paddle2.2.0 中的optimizer的_add_param_group应该如何使用

[2021-11-15 02:44] GuoQuanhao commented on #37188
[code]
[code]

[2021-11-15 02:58] Xuanfang1121 commented on #37139
您好，代码是地址为https://github.com/PaddlePaddle/Research/tree/master/NLP/Text2SQL-BASELINE，在conf/text2sql_nl2sql.jsonnet中的use_data_parallel 设置为true,会报上述的错误，环境信息如下：paddle-ernie==0.2.0.dev1，
paddlenlp==2.1.0，paddlepaddle-gpu==2.1.3.post112， python=3.7.9,显卡信息如下：
![gpu](https://user-images.githubusercontent.com/33194029/141715168-f2492f53-276c-4f77-8d67-90835ded133b.jpg)

[2021-11-15 02:58] Xuanfang1121 commented on #37139
您好，代码是地址为https://github.com/PaddlePaddle/Research/tree/master/NLP/Text2SQL-BASELINE，在conf/text2sql_nl2sql.jsonnet中的use_data_parallel 设置为true,会报上述的错误，环境信息如下：paddle-ernie==0.2.0.dev1，
paddlenlp==2.1.0，paddlepaddle-gpu==2.1.3.post112， python=3.7.9,显卡信息如下：
![gpu](https://user-images.githubusercontent.com/33194029/141715238-5bd74e93-65e9-44d5-b59e-a70421091726.jpg)

[2021-11-15 03:03] thisjiang commented on #37188
您好，您可以尝试修改为`optimizer = paddle.optimizer.SGD(learning_rate=0.01, parameters=model.parameters())`，请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/SGD_cn.html#sgd 示例实现。

[2021-11-15 03:05] Xuanfang1121 commented on #37140
好的，谢谢

[2021-11-15 03:05] #37140 closed, assigned to nobody

[2021-11-15 03:06] GuoQuanhao commented on #37188
我就是测试[{'params':model.parameters()}]来的，我看2.2.0更新了optimizer，新增了很多方法，但是GradScaler可能没有同步更新

[2021-11-15 03:25] 9yuess opened #37191 "需要服务器的小伙伴们有福利了！"
良心云， 服务器 2核4g8m，198元/3年
# 传送门：https://curl.qcloud.com/sR6KJoH0
ps：老用户，重新注册qq就可以白嫖了

另外隔壁云也有优惠：https://www.aliyun.com/minisite/goods?taskPkg=1111ydsrwb&pkgSid=5985&recordId=953164&userCode=wbqjs7bw
![image](https://user-images.githubusercontent.com/94332023/141711305-3e869ea5-82c3-41d4-a67c-c0d5e05c4bb4.png)

[2021-11-15 03:29] zhangbo9674 commented on #37139
您好，初步分析可能是PaddlePaddle/Research的使用问题，建议您到“https://github.com/PaddlePaddle/Research/issues”下进行提问。

[2021-11-15 03:52] zhiqiu commented on #37188
试一下用step接口：
scaler.minimize(optimizer, scaled)  # update parameters
->
scaler.step(optimizer)  # update parameters

[2021-11-15 03:55] ShiningZhang commented on #37185
这个链接下是一个代码仓库，并不是单纯的模型下载链接。
麻烦提供一下剥离业务代码的单测供复现，可以参考：https://github.com/PaddlePaddle/Paddle-Inference-Demo
初步推荐问题应该为硬件相关，可以提供下当前硬件环境的详细信息。并检查paddle当前版本是否与硬件环境对应，进行预测时是否有硬件相关参数未开启。
arm平台可参考：https://paddleinference.paddlepaddle.org.cn/user_guides/compile_ARM.html

[2021-11-15 03:58] #37191 closed

[2021-11-15 04:06] developWmark commented on #37132
你好，我试了‘’bidirect'
![image](https://user-images.githubusercontent.com/93702453/141720767-7ecaa63f-3dab-4e12-9807-db4d612a2a5a.png)
但是打印出来的key还是包括cell的，然后我又尝试了模型权重前向对齐，依然提示
![image](https://user-images.githubusercontent.com/93702453/141720919-e995acdf-6c7c-4909-9198-37f4b7dd581d.png)
代码忽略字段包括
![image](https://user-images.githubusercontent.com/93702453/141720962-d8b6ad32-c109-4edd-bc21-4e94694376ea.p

[2021-11-15 04:11] developWmark commented on #37132
这个是paddle使用的版本号
![image](https://user-images.githubusercontent.com/93702453/141721119-6658ffc9-b42f-40d8-b8a7-75a94c0c874f.png)

[2021-11-15 04:49] mingrizhuhao opened #37196 "出现这个问题是什么原因造成的呢？"
paddlepaddle 2.0.2
![image](https://user-images.githubusercontent.com/92719714/141724199-9228b708-4bee-4f14-a80b-25249886e98e.png)

[2021-11-15 05:37] mingrizhuhao opened #37198 "在paddle上复现pytorch代码 pytorch.cuda在paddle上对应的是什么？"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2021-11-15 06:25] thisjiang commented on #37196
您好，从报错信息上看，错误是由于该python脚本不支持`-f`命令行参数导致的，建议按照下图中给定的命令行参数进行设置。如未能解决还请继续反馈，谢谢
![image](https://user-images.githubusercontent.com/31386411/141732479-9f5095f7-eec7-45eb-8c68-0e555e700a89.png)

[2021-11-15 06:32] thisjiang commented on #37198
您好，此功能我们已在2.2版本中实现，可参考链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/device/cuda/current_stream_cn.html#current-stream 。有问题随时提出，谢谢。

[2021-11-15 06:32] Xuanfang1121 commented on #37139
好的，收到，谢谢

[2021-11-15 06:32] #37139 closed, assigned to nobody

[2021-11-15 06:47] GuoQuanhao commented on #37188
运行一次可以，加入循环不行
[code]
[code]

以下可以正常运行
[code]

[2021-11-15 06:50] tsijeodhsjsh commented on #36516
可是怎么实现目的：img1以window（符合高斯分布的随机变量）为卷积核的卷积。用conv2d怎么实现高斯分布

[2021-11-15 06:57] GuoQuanhao commented on #37188
新增update已解决
[code]

[2021-11-15 06:57] #37188 closed, assigned to nobody

[2021-11-15 07:42] ronny1996 commented on #37179
您好，推荐使用paddle官方的docker镜像编译

[2021-11-15 07:56] mingrizhuhao opened #37207 "device = torch.device('cuda')在paddlepaddle中应该改成什么"
这个的功能应该是调用GPU，改成device = paddle.device.cuda.Stream()，出现错误
RuntimeError: (Unavailable) Class CUDAStream can only be initialized on the GPU platform. (at/paddle/paddle/fluid/pybind/cuda_streams_py.cc:281)
应该如何解决

[2021-11-15 07:58] tsijeodhsjsh commented on #36516
def _ssim(img1, img2, window, window_size, channel, size_average=True):

    padding_size = window_size // 2
    mu1 = F.conv2d(img1, window, padding=padding_size, groups=channel)
    mu2 = F.conv2d(img2, window, padding=padding_size, groups=channel)

    mu1_sq = mu1.pow(2)
    mu2_sq = mu2.pow(2)
    mu1_mu2 = mu1 * mu2

    sigma1_sq = F.conv2d(img1 * img1, window, padding=padding_size, groups=

[2021-11-15 07:59] #30635 closed, assigned to JZ-LIANG

[2021-11-15 08:01] thisjiang commented on #37207
您好，可以尝试`place = paddle.CUDAPlace(0)`，请https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/CUDAPlace_cn.html#cudaplace 实现，谢谢。

[2021-11-15 08:04] thisjiang commented on #37207
或者您可以尝试`paddle.device.set_device("gpu")`指定特定的运行设备，请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/device/set_device_cn.html 实现，谢谢。

[2021-11-15 08:08] liutiexing commented on #37059
您好，Label是你调用的op的input，当执行op时，会check label是否符合要求。
const Tensor* labels = context.Input<Tensor>("Label");
检查失败了，所有报错，建议您在模型调试一下，中途print一下tensor。

[2021-11-15 08:11] ponycloud235 opened #37208 "【NPU】ascend 310推理是否适配"
RT，在官网中的文档，未看到已经坐适配，后续是否有适配计划？
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_hardware_support/npu_docs/paddle_install_cn.html
这里提供的是ARM环境，是否支持x86

目前的服务器环境 x86、ascend 310加速卡
![image](https://user-images.githubusercontent.com/2733701/141745121-032ca972-2f27-4e7a-946c-bcd93ad1609d.png)

[2021-11-15 08:24] liutiexing commented on #37058
您好，找不到的文件是编译器（gcc）对SIMD（单指令多数据）指令集（AVX）的封装，这些头文件是gcc的一部分。Paddle使用这些文件支持CPU场景下的算子实现。
Paddle支持4.8.2以上，建议使用8.2.0。但没有用gcc7.5测试过。你可以在本机的gcc目录下使用find搜索这些文件，看能否找到。
另外，因为编译依赖众多，且github还有封锁问题，建议您使用官网的docker，docker已经把环境弄好了。
如果坚持使用源代码编译，建议使用GCC 8.2

[2021-11-15 08:25] zhangyimi opened #37209 "梯度回传报错"
代码如下所示：
start_logits, end_logits = model.forward_interpret(*args)
start_logit = start_logits[:, start_index].sum()
start_logit.backward(retain_graph=False)
embedded_start_grad = embedded.grad
model.clear_gradients()

start_logits, end_logits = model.forward_interpret(*args)
end_logit = end_logits[:, end_index].sum()
end_logit.backward(retain_graph=False)
embedded_end_grad = embedded.grad
model.cle

[2021-11-15 08:25] hong19860320 commented on #37208
目前已通过Paddle Lite 支持x86+atlas 300I/C(3010)、鲲鹏920+atlas 300I/C(3000)，atlas 200DK，具体可以看下Paddle Lite的文档 https://paddle-lite.readthedocs.io/zh/latest/demo_guides/huawei_ascend_npu.html
当然我们也提供了 Paddle Inference+Paddle Lite 支持的方式，具体可以看下 Paddle Inference 的demo https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/ascend310_lite_subgraph/image_classification_demo

推荐直接使用 Paddle Lite 支持

[2021-11-15 08:38] thisjiang commented on #37209
您好，可以尝试修改`start_logit.backward(retain_graph=False)` --> `start_logit.backward(retain_graph=True)`，请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/autograd/backward_cn.html#backward 实现，谢谢

[2021-11-15 08:49] yeyupiaoling commented on #37185
@wangyhnudt 在模型和代码没有变的情况下，使用GPU rtx3090运行是没有问题，只有在使用麒麟V10 aarch64的时候出现问题，是这个意思吗？

[2021-11-15 09:04] ponycloud235 commented on #37208
好的 谢谢，我看看

[2021-11-15 09:11] veyron95 commented on #35844
您好 elementwise_mul op 三阶导数已支持，将在后续版本中发布，或者您可以使用 develop 分支体验此功能

[2021-11-15 09:11] #35844 closed, assigned to yaoxuefeng6

[2021-11-15 09:13] wangyhnudt commented on #37185
@yeyupiaoling 是的，GPU上没问题 麒麟v10上没有显卡和加速卡，仅有CPU

[2021-11-15 09:19] wangyhnudt commented on #37185
@yeyupiaoling 同时在GPU服务器上屏蔽了GPU仅用CPU运行也没有出现这个问题，但是paddle的版本依然是2.1.3的GPU版本

[2021-11-15 09:22] yeyupiaoling commented on #37185
@wangyhnudt `out = paddle.nn.functional.softmax(out, 1)`之前的`out`输出是正常的，在之后`out`就为NAN了，那可以怀疑是`paddle.nn.functional.softmax()`API 的问题。
我看到你的CPU是aarch64，那么你安装的Paddle版本应该也是aarch64，而不是平时的x86的，所有应该是这种版本下的`paddle.nn.functional.softmax()`API 的问题

[2021-11-15 09:23] yeyupiaoling commented on #37185
要不你使用进阶级，或者参考进阶级分支把`paddle.nn.functional.softmax()`导入到模型中，在推理直接使用。

[2021-11-15 09:26] yeyupiaoling commented on #37185
在最终级是使用了Paddle Inference接口，测试过了在aarch64是可以的。但目前不稳定，随时会更新覆盖原来代码和模型。

[2021-11-15 09:40] zhangyimi commented on #37209
感谢，十分高效！

[2021-11-15 09:40] #37209 closed, assigned to nobody

[2021-11-15 09:51] Yywwwwwww commented on #36477
请问什么时候可以解答呢？

-----原始邮件-----
发件人:"叶雅雯" ***@***.***>
发送时间:2021-11-12 17:27:37 (星期五)
收件人: ***@***.***, PaddlePaddle/Paddle ***@***.***>
抄送:
主题: Re: Re: [PaddlePaddle/Paddle] 在使用backward函数时，报错The type of grad_tensot must be paddle.Tensor (#36477)

-----原始邮件-----
发件人:"Bin Lu" ***@***.***>
发送时间:2021-10-16 10:38:33 (星期六)
收件人: PaddlePaddle/Paddle ***@***.***>
抄送: Yywwwwwww ***@***.***>, Author ***@***.**

[2021-11-15 09:53] wangyhnudt commented on #37185
@yeyupiaoling 好的，我去试一试

[2021-11-15 10:58] pmajchrzak commented on #37075
@baoachun , could you please take look at this?

[2021-11-15 11:10] tsijeodhsjsh commented on #36516
已经解决了，谢谢

[2021-11-15 11:12] tsijeodhsjsh opened #37217 "'Tensor' object has no attribute 'long'"
问题：
在运行 stego_2 = (255.0 * (stego_1 + 1.0) / 2.0).long()  时
出现下面的报错
'Tensor' object has no attribute 'long'
这里long应该怎么改

[2021-11-15 11:27] liutiexing commented on #37077
您好，预期的输出shape是否也应该是[0, 19]？当前可以通过判断下是否是空tensor来绕过这个问题。
麻烦提供一下复现代码。
check 条件和实际代码中的判断条件是符合的，可能之前没有考虑到dim为0的情况。我们考虑修复一下。

[2021-11-15 11:36] baoachun commented on #37075
@pmajchrzak, Got it, I will follow up on the problem.

[2021-11-15 11:39] thisjiang commented on #37217
您好，可以尝试`paddle.cast(x, 'int64')`，请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/cast_cn.html#cn-api-fluid-layers-cast 实现，谢谢

[2021-11-15 14:12] tmp-coder commented on #37077
嗯，预期得输出确实是[0,19],你们没有考虑dim为0 得情况，我补充了这一条件暂时绕过了

[2021-11-15 15:35] #37038 closed, assigned to danleifeng

[2021-11-15 20:49] jakpiase commented on #32282
@lidanqing-intel I have done some of these ops for the video detection model a few days ago, but I need a model to check the performance. Please let me know as soon as you will know one

[2021-11-16 02:06] jerrylsu opened #37227 "paddle中如何实现torch的repeat_interleave操作?"
请问paddle中如何实现torch的repeat_interleave操作

[2021-11-16 03:04] ZzSean commented on #37227
@jerrylsu 可以尝试以下方式来实现
paddle.to_tensor(np.repeat(x.numpy(), repeats, axis=axis))

[2021-11-16 03:23] jerrylsu commented on #37227
@ZzSean 多谢解答！这个[https://github.com/PaddlePaddle/Paddle/issues/33210](https://github.com/PaddlePaddle/Paddle/issues/33210)issue提到不可以先转成numpy再转回，因为没有梯度回传。确认一下这样转可以吗？

[2021-11-16 04:08] ZzSean commented on #37227
@jerrylsu 如果需要梯度回传的话确实不能转成numpy，可以按照

[2021-11-16 04:09] ZzSean commented on #37227
@jerrylsu 如果需要梯度回传的话确实不能转成numpy，可以按照上述issue中的建议来处理
Duplicate of #33210

[2021-11-16 05:21] jerrylsu commented on #37227
## pytorch repeat_interleave算子
[code]

## paddle tile算子
[code]
@ZzSean 没理解isse[https://github.com/PaddlePaddle/Paddle/issues/33210](https://github.com/PaddlePaddle/Paddle/issues/33210)如何通过reshape，将**b_paddle** (paddle.tile)转成**b** (torch.repeat_interleave)？

[2021-11-16 06:16] EnHuiPug commented on #35603
好像没有解决啊

[2021-11-16 06:37] #25856 closed, assigned to NHZlX

[2021-11-16 06:37] #28329 closed, assigned to danleifeng

[2021-11-16 06:37] #28473 closed, assigned to LDOUBLEV

[2021-11-16 06:37] #28528 closed, assigned to wangxicoding

[2021-11-16 06:37] #28529 closed, assigned to wangxicoding

[2021-11-16 06:37] #28539 closed, assigned to wangxicoding

[2021-11-16 06:37] #28546 closed, assigned to wangxicoding

[2021-11-16 06:37] #28548 closed, assigned to wangxicoding, LielinJiang

[2021-11-16 06:37] #28593 closed, assigned to nobody

[2021-11-16 06:37] #28614 closed, assigned to nobody

[2021-11-16 06:37] #28626 closed, assigned to nobody

[2021-11-16 06:37] #28627 closed, assigned to nobody

[2021-11-16 06:38] ZzSean commented on #37227
对于上述例子，需要对低维进行复制，先调用tile再调用reshape，完整代码如下：

Tensor(shape=[2, 9], dtype=int64, place=CUDAPlace(0), stop_gradient=True,
       [[1, 2, 3, 1, 2, 3, 1, 2, 3],
        [4, 5, 6, 4, 5, 6, 4, 5, 6]])

Tensor(shape=[6, 3], dtype=int64, place=CUDAPlace(0), stop_gradient=True,
       [[1, 2, 3],
        [1, 2, 3],
        [1, 2, 3],
        [4, 5, 6],
        [4, 5, 6],
        [4, 5, 6]])

[2021-11-16 07:37] tsijeodhsjsh opened #37241 "执行 torch.cuda.empty_cache()，出现一下错误：name 'torch' is not defined"
if paddle.fluid.is_compiled_with_cuda():
            torch.cuda.empty_cache()
        gc.collect()  # 强制进行垃圾回收
问题：在执行上面的语句时，出现这样的错误：name 'torch' is not defined
 torch.cuda.empty_cache()  的作用是释放内存，再paddle中是不是并不需要此语句

[2021-11-16 07:45] EnHuiPug commented on #37241
用paddle怎么会有torch呢。。。你改成 paddle.device.cuda.empty_cache() 试试，
不过好像只有paddle2.2才有empty_cache()

[2021-11-16 07:54] stq054188 opened #37243 "Paddle.sln编译libpaddle_inference.dll Release版本没问题，Debug版本总是报错，是不是不支持Debug编译？"
我使用的环境与版本：
Paddle-release-2.0，CMake 3.16，VS2017
Win10 64bit， NIVDIA GTC1070 8G，CPU i7 8750H

问题描述：
CMake编译Paddle-release-2.0后单独编译paddle.sln，可以生成Release版本libpaddle_inference.dll，并可以正常使用，但是同样的方法，去编译Debug版本一直报如下错误：
----------------------------------------------------------------------------------------------------------------------------
严重性	代码	说明	项目	文件	行	禁止显示状态
错误	LNK2038	检测到“_ITERATOR_DEBUG_LEVEL”的

[2021-11-16 08:00] shangzhizhou commented on #33925
编译选项CUDA_ARCH_NAME=Auto试下呢

[2021-11-16 08:05] jerrylsu commented on #37227
@ZzSean 通过该方法解决，十分感谢！

[2021-11-16 08:20] ZzSean commented on #37241
在paddle2.2中可以使用paddle.device.cuda.empty_cache()来释放内存，具体可以参考API文档https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/device/cuda/empty_cache_cn.html

[2021-11-16 08:39] ZzSean commented on #37243
您好，目前暂不支持debug版本的编译，未来有计划会及时回复，谢谢！

[2021-11-16 08:40] #37227 closed, assigned to ZzSean

[2021-11-16 08:40] #37241 closed, assigned to ZzSean

[2021-11-16 08:41] #37243 closed, assigned to ZzSean

[2021-11-16 08:46] stq054188 commented on #37243
我真的裂开了，三天时间白花了。。。

[2021-11-16 09:13] ouyangshixiong opened #37250 "更换RTX 3090显卡后paddle启动后会卡几分钟"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu 2.2.0.post112
    2）CPU：5950x
    3）GPU：RTX3090
    4）系统环境：Ubuntu 18.04 LTS
- 安装方式信息：
1）pip安装        

paddle环境检查截图
![WechatIMG154](https://user-images.githubusercontent.com/2086862/141956428-892cedc7-a54f-42f8-ac83-87f90b677b35.jpeg)
:

跑PARL的demo中的QMIX算法和我自己写的算法都会卡，至少要卡3-5分钟。之前用N卡的1030都不会卡。
录屏可以微信联系我，谢谢帮忙

[2021-11-16 09:42] WorldEditors commented on #35452
Same problem met here. The two reasons for this error seems rather unreasonable. Any solution?

[2021-11-16 10:34] ForFishes commented on #35452
There are several reasons for this error:
1. There may be complex control flow in the model. If it exists, then you need to set ``find_unused_parameters=True``.
2. Not all the output of the model is used for backward calculation, which is the most common situation. At this time, you need to set ``detach()``/``stop_gradient`` to avoid this output.
3. Some parameters in the model communicate across

[2021-11-16 12:34] ZzSean commented on #37250
您好，请问您安装的cuda和cudnn版本是否匹配呢？据我了解3090应该是只支持CUDA11以上的版本

[2021-11-16 13:43] chenwhql commented on #36115
@Shawn6688 您好，这个问题我在最新的paddle版本上复现了一下，主要通过以下两种方式：

1. objgraph数据结构增长分析

在每个epoch开始前调用`objgraph.show_growth()`，查看新增的Python数据结构

[code]

实验显示，程序仅在第1，2个epoch开始时有Python数据结构的新增（属于预期内行为），后续epoch均没有数据结构新增，这可以说明首先Python端没有导致内存泄漏

2. 内存增长观察

持续执行程序，用top观察指定进程的内存变化情况，30分钟以上内存占用比例无增长，始终稳定

![image](https://user-images.githubusercontent.com/22561442/141996168-5cd2d2a9-a37f-4259-89e0-3174f2e1b467.png)

这里未复现您说

[2021-11-16 14:32] Yywwwwwww opened #37265 "使用d_loss_cov.backward()时报错"
- 标题：d_loss_cov.backward()报错为Cannot find gradient of variable dygraph_tmp_398@GRAD
- 版本、环境信息：
硬件信息
当前环境高级GPU
切换环境
CPU
2
RAM
16GB
GPU
v100
显存
16GB
磁盘
100GB
GPU资源信息
算力卡余额
8.0点(0.5点/小时)
本周可使用
8.0小时
环境配置
Python版本
python 3.7
框架版本
PaddlePaddle 2.1.2

源代码：
#!/usr/bin/env python3
#　超参数准备包
import argparse
import time
import paddle
import abc
import paddle
#　数据集准备包
import os
import paddle.fluid.layers as la

[2021-11-16 15:18] Darki-luo opened #37268 "python pip包找不到"
按照安装说明通过pip源安装paddlelite，但是试了好几次都找不到，ubuntu18.04-x86满足系统要求
python -m pip install paddlelite==2.10rc0 -i https://mirror.baidu.com/pypi/simple
Looking in indexes: https://mirror.baidu.com/pypi/simple
ERROR: Could not find a version that satisfies the requirement paddlelite==2.10rc0 (from versions: none)
ERROR: No matching distribution found for paddlelite==2.10rc0

 python -m pip install paddlelite

[2021-11-16 20:05] elfring opened #37269 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-11-17 01:13] ouyangshixiong commented on #37250
@ZzSean 谢谢你的及时回复。我详细阅读过安装说明。屏幕截图中也有清晰显示。cuda版本11.2 cudnn版本8.1。我读过的文档在如下的截图中：
![企业微信20211117-091143](https://user-images.githubusercontent.com/2086862/142091186-f1959720-cf13-4691-9b9b-e414408e5157.png)
![企业微信20211117-091205](https://user-images.githubusercontent.com/2086862/142091200-15292c2c-51cc-4266-abb5-50dacd54c363.png)
<br/>
另外我修改一下issue的标题，并不是卡死，是会卡几分钟，程序最后还是可以继续运行。坦率的说，这个问题只是比较影响代码调试。

[2021-11-17 02:09] yeyupiaoling opened #37270 "paddle.summary使用input参数时如何制定多输入？"
- PaddlePaddle 2.1.3

例如我模型有三个输入`forward(self, audio, audio_len, init_state)`，请问如果指定输入呢，如果按照下面的输入方式，模型应为只接收到一个参数，它就会报错说`audio_len`参数没有指定数据。
[code]

[2021-11-17 02:18] zmdcs opened #37271 "VisualDL的使用"
VisualDL每次都是指定的一整个文件夹，可是那个文件夹下有很多.log文件呀，它是按照文件夹第一个文件画的loss图吗？那如何指定其他文件呢？

[2021-11-17 02:42] ZzSean commented on #37250
根据您的截图，您的CUDA应该是11.4，建议尝试下降级为11.2的CUDA
使用nvidia-smi指令可以看到具体的CUDA版本和驱动信息

[2021-11-17 02:50] ZzSean commented on #37268
您好，已联系paddle-lite相关负责人查看该问题，会尽快给您回复！

[2021-11-17 02:54] weishengying commented on #37268
请问你用的python版本是多少

[2021-11-17 03:15] Darki-luo commented on #37268
3.8.5

[2021-11-17 04:34] ZzSean commented on #37265
您好，我这边正在尝试复现您的问题，有进展了会及时回复。也请您排查一下代码可能存在的问题，谢谢！

[2021-11-17 07:24] EnHuiPug opened #37286 "Out of memory GPU"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.2
    3）GPU：GPU Compute Capability: 6.1, Driver API Version: 11.0, Runtime API Version: 10.1 cuDNN Version: 7.4
    4）系统环境：Centos 8.0
- 训练信息
    1）单机 单卡
    2）1080Ti  11G 显存
    3）训练数据只有十几M
    4）在3090上

[2021-11-17 08:04] ZzSean commented on #37265
您好，我这边无法运行您上述提供的代码，能否提供一个可以复现的简单demo？

[2021-11-17 08:42] tsijeodhsjsh opened #37291 "'Tensor' object has no attribute 'permute'"
问题：
在执行cover_visual = cover.permute(0, 2, 3, 1).data.cpu().numpy()
出现的如下错误：'Tensor' object has no attribute 'permute'
应如何修改

[2021-11-17 10:08] Sunyingbin opened #37303 "预测分析任务的量化指标都有什么？"
预测分析任务的量化指标都有什么？怎么判断训练的模型可用？满足要求？

[2021-11-17 10:51] JamesLim-sy commented on #37303
请问有没有具体的预测分析任务案例?

[2021-11-17 11:31] JunnYu commented on #36915
+1,感觉收敛速度很慢，2.2版本使用类似pytorch的配置方法收敛速度慢

[2021-11-17 12:08] iclementine opened #37306 "Why sharing data type in ShareBufferWith fixes unittests for mkldnn ops using non-float datatypes?"
@jczaja Hi, I have a question about inplace mechanism in mkldnn ops.

## Description
I was implementing a operator that can view real tensors(dtype: float32 or float64) of shape `(d1, d2, ..., 2)` as complex tensors(dtype: complex64 or complex128, respectively) of shape `(d1, d2, ...)`. This requires that sharing buffer(or storage) between 2 tensors with different data types.  (PR: https://github.

[2021-11-17 15:08] sfraczek commented on #36962
We have found that we need to add dequantization of those matmul_v2 weights in quant2_int8_mkldnn_pass.

Can we assume that matmul_v2 weights are always assigned to input Y? Never to input X? Or should be assume that either X or Y can be weights?

[2021-11-17 15:22] lidanqing-vv commented on #36962
@yghstill Please answer above sfraczek's question, cause we may deliver the model before 20th

[2021-11-17 15:34] ninetailskim commented on #35940
【队名】：玖尾妖熊

【序号】：64

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleVideo/pull/226

[2021-11-17 16:19] jczaja commented on #37306
@iclementine I started to analyze situation and will come back to you soon.

[2021-11-18 01:28] ouyangshixiong commented on #37250
我的cuda安装的是11.2
你看到的11.4是显卡驱动nvidia-driver-470 默认带的。理论上它是向后兼容的。
cuda11.2默认的显卡驱动版本是nvidia-driver-460，遗憾的是在我的PC上是无法正常工作。请看下面截图

[2021-11-18 02:10] weishengying commented on #37268
我们只提供了3.5 3.6 3.7 3.9的python 安转包。 你可以把python版本换一下，建议换成3.7

[2021-11-18 02:18] Sunyingbin commented on #37303
最近做的是能源预测相关项目，预测能源负荷值

[2021-11-18 02:20] wadefelix commented on #37268
我们并没有2.10rc0版本。
可以直接浏览器打开https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html 页面，复制其中具体版本文件的下载地址，然后把它传给`pip install`
3.8.5 python就是被支持的版本，可以使用。

[2021-11-18 06:06] ouyangshixiong commented on #37250
Update: 我成功切换到了Driver 460.91.03 CUDA 11.2，如下图：

![企业微信20211118-140231](https://user-images.githubusercontent.com/2086862/142361253-b36d3313-8766-4258-96c8-b9284698e4ce.png)

paddle的运行环境检查，如下图：

![企业微信20211118-140319](https://user-images.githubusercontent.com/2086862/142361311-f1f0e82c-e8fd-4dbd-9bec-50749bdc7881.png)

程序还是卡在了nn.Sequencial

![企业微信20211118-140412](https://user-images.githubuserconte

[2021-11-18 06:43] lidanqing-vv commented on #36962
@yghstill  We also need a quant_model that is quant-aware trained with `elementwise_add` in the `quantize_op_types` during quant-aware training, This page we will update, we **will add elementwise_add** in the README.md.
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/mkldnn_quant

![image](https://user-images.githubusercontent.com/47151829/142365373-286d9fe2-e798-4477-9443-4fb429a3fe

[2021-11-18 07:33] seemingwang commented on #36868
特别抱歉，由于疏忽遗漏了这个问题。 产生这个问题大概率是 backward连续调用2次产生的。一般调用下一次backward前需要跑一次前向计算，可以检查一下代码里是否有这个逻辑。

[2021-11-18 07:35] seemingwang commented on #36868
如果有特别需要，一定要连续跑2次backward，建议在跑backward的时候加上参数 retain_graph = True

[2021-11-18 08:15] liu1073811240 opened #37327 "paddlepaddle-gpu版本不支持centos8操作系统吗?"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-11-18 08:29] JamesLim-sy commented on #37271
hi，这个问题应该不属于paddle框架的范畴，请提交issue至 https://github.com/PaddlePaddle/VisualDL  Repo中

[2021-11-18 08:31] zmdcs commented on #37271
嗯嗯，提了，谢谢

[2021-11-18 08:31] #37271 closed, assigned to JamesLim-sy

[2021-11-18 08:32] Stave604671 opened #37328 "使用Paddle实现MoViNet模型生成的参数文件大小为什么这么夸张？"
为什么我用paddle实现的参数文件这么大？
- 版本、环境信息：
****************************************
Paddle version: 2.1.0
Paddle With CUDA: True
OS: Ubuntu 20.04
Python version: 3.8.8
CUDA version: 10.0.130
cuDNN version: 7.4.1
Nvidia driver version: 460.91.03
****************************************
- 复现信息：
复现步骤:直接新建python文件执行末尾附上的代码即可，无特别依赖
- 问题描述：
生成过程是顺利的，甚至后面训练的时候精度也可以，但是生成的参数文件pdparams文件的大小比torch版的pt文件大了整整十倍这是为什么？to

[2021-11-18 08:42] lidanqing-vv commented on #36962
@sfraczek
matmul_v2 Y could be weights or output of another op. X is always another op's output

[2021-11-18 08:55] thisjiang commented on #37327
您好！目前Paddle尚只支持CentOS 7、Ubuntu 16.04、Ubuntu 18.04版本，请参考https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html ，谢谢！
![image](https://user-images.githubusercontent.com/31386411/142382713-e39fe23c-d76f-4475-9c71-3fa60e3c3280.png)

[2021-11-18 09:04] CtfGo commented on #37327
建议您安装docker进行使用，可参考官网文档https://www.paddlepaddle.org.cn/documentation/docs/zh/install/docker/linux-docker.html

[2021-11-18 09:13] jakpiase commented on #35307
Hi @juncaipeng, could you please check and confirm if this issue is resolved after merging #37310?

[2021-11-18 09:39] Yywwwwwww commented on #37265
这边有vscode上可以运行的代码，在paddlepaddle平台上没有可复现的，需要提供给你vscode上的代码吗？

-----原始邮件-----
发件人:"Zhang Zheng" ***@***.***>
发送时间:2021-11-17 16:05:09 (星期三)
收件人: PaddlePaddle/Paddle ***@***.***>
抄送: Yywwwwwww ***@***.***>, Author ***@***.***>
主题: Re: [PaddlePaddle/Paddle] 使用d_loss_cov.backward()时报错 (Issue #37265)

您好，我这边无法运行您上述提供的代码，能否提供一个可以复现的简单demo？

—
You are receiving this because you authored the thread.
Reply

[2021-11-18 10:57] lgcy opened #37342 "cudnn_status_internal_error"
pip install paddlepaddle-gpu的v2.0.0, v.2.2.0版本都会出现这样的错误，
![Ir](https://user-images.githubusercontent.com/26407517/142402719-4f8d5457-a454-4290-ad27-6603a50f7084.jpg)

[2021-11-18 11:22] thisjiang commented on #37342
您好，从报错信息上看，错误可能是由于cudnn版本太低导致的，建议参考 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html#old-version-anchor-4-%E4%BA%8C%E3%80%81%E5%BC%80%E5%A7%8B%E5%AE%89%E8%A3%85 ，如未能解决还请继续反馈，谢谢！
![image](https://user-images.githubusercontent.com/31386411/142406300-d453adff-78e4-48b8-bda3-cb18dc1eab8e.png)

[2021-11-18 11:50] Li-Jiajie opened #37346 "PS异步训练模式下server出现core"
当DistributedStrategy的a_sync=True时，server会core dump，a_sync=False时就正常
2server、3worker，CPU模式，Adam和SGD都会在如图位置core，请问是什么问题呢
![image](https://user-images.githubusercontent.com/35255760/142410218-810fafef-0882-4cd7-a099-7839d646d51a.png)

[2021-11-18 11:58] thisjiang commented on #37328
您好，视频网络相关模型问题可以前往[PaddleVideo](https://github.com/PaddlePaddle/PaddleVideo)（https://github.com/PaddlePaddle/PaddleVideo/issues ）处咨询，谢谢！

[2021-11-18 13:03] wikithink opened #37349 "The installed Paddle is compiled with CUDNN 8.2, but CUDNN version in your machine is 8.1"
paddle检查时，出现警告：
The installed Paddle is compiled with CUDNN 8.2, but CUDNN version in your machine is 8.1

我是参照官方推荐的安装方式：
python -m pip install paddlepaddle-gpu==2.2.0.post112 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html
官方推荐CUDA 11.2搭配8.1.1使用，为什么装了8.1.1反而有警告？
![image](https://user-images.githubusercontent.com/18325017/142420205-cdaf2e93-f2f9-417b-a804-d7c2f1318ccd.png)

我尝试安

[2021-11-18 13:09] thisjiang commented on #37349
您好，您的反馈对产品非常有价值，我们会尽快改进，感谢您提出的宝贵意见，谢谢。

[2021-11-18 15:07] jczaja commented on #37306
@iclementine
I'm not sure If I can answer the question. As former colleague of ours was implementing that fix.

So, data type in this situation you are describing is bf16 which 2 bytes per element as oppose to floating point data type which is four bytes per element. Unit test for inplace scenario is using "buffer_share" op that does call "ShareBufferWith(<src bf16_tensor)" . In case of this unit

[2021-11-19 01:37] thisjiang commented on #37346
您好，报错信息需要复现代码，请提供代码和环境信息，我们复现后会尽快回复您～

[2021-11-19 02:20] linuxonly801 opened #37353 "aistudio安装albumentations时，总是停在Building wheel for opencv-python-headless (PEP 517) ... |"
请问，aistudio安装albumentations时，总是停在Building wheel for opencv-python-headless (PEP 517) ... |步骤，是为什么呢？安装其他的库都正常。

[2021-11-19 02:26] linuxonly801 opened #37354 "paddle自带的数据增强添加关键点，bbox，segmentation的增强。"
目前在学习使用paddle进行关键点检测，发现paddle自带的API只能对图像进行增强，但与图像关联的关键点信息无法同时进行增强。希望可以添加相应的API，对关键点，bbox等的支持。

[2021-11-19 03:05] zhangyifei1 opened #37358 "paddle有early_stopping参数吗？"

[2021-11-19 03:05] JamesLim-sy commented on #37303
这个主要看用户对于目标的算法设计的考量，用户可以调用已有的模型库和losss，或者设计定制化模型和loss 实现对于所关注目标的，找到了一篇能源预测任务的相关文章[Deep Learning for Time Series Forecasting: The Electric Load Case](https://arxiv.org/abs/1907.09207)，可供案例参考

[2021-11-19 03:07] #37358 closed, assigned to nobody

[2021-11-19 03:07] zhangyifei1 commented on #37358
a

[2021-11-19 03:07] songyuwen0808 opened #37359 "两个sigmoid后的数字相乘，得到了一个负数"
当前的部分组网如截图：
![image](https://user-images.githubusercontent.com/9607334/142558164-836dcb68-ce59-4d22-9e34-bbeac26d2b67.png)
![image](https://user-images.githubusercontent.com/9607334/142558179-a6d99420-3d35-4bd3-82d4-cc465ff0441c.png)
![image](https://user-images.githubusercontent.com/9607334/142558194-c975048b-15a5-481a-9eca-dc97b744bdb6.png)
在使用第三张图红框中的内容进行计算时，提示出现了负数：
![image](https://user-image

[2021-11-19 03:32] Easonshow opened #37364 "调用GPU进行模型推理时，报了如下的错误，求帮忙解答一下。环境：paddlepaddle-gpu：2.1.3 ，python3.8，cuda10.2，cudnn7.6.5"
Traceback (most recent call last):
  File "angle_rectify_sample_gpu.py", line 265, in <module>
    Angle.RotationRepair(black_border, save_path)
  File "angle_rectify_sample_gpu.py", line 225, in RotationRepair
    angle_list, roate_state = self.text_sys(image_temp)
  File "/HDD/xcd/angle_rectify/tools/infer/predict_system.py", line 113, in __call__
    img_crop_list, angle_list, elapse = self.tex

[2021-11-19 04:10] lgcy commented on #37342
pip install paddlepaddle-gpu==2.2.0.post110 在cuda11.0, cudnn8.0.5上依旧存在问题，完成满足上述要求

[2021-11-19 04:48] lgcy commented on #37342
还有docker pull paddlepaddle/paddle:2.2.0-gpu-cuda10.2-cudnn7 这个镜像，然后docker run之后，会出现 Permission denied:'/root/.cache'

[2021-11-19 06:15] lgcy commented on #37342
paddlepaddle/paddle:2.2.0-gpu-cuda10.2-cudnn7 这个镜像中进行paddle.utils.run_check()，出现同样的错误 @thisjiang

[2021-11-19 06:45] pangyoki commented on #37342
你好，麻烦打印下 nvidia-smi、nvcc -V看看

[2021-11-19 06:51] lgcy commented on #37342
![IMG_20211119_144846](https://user-images.githubusercontent.com/26407517/142578115-dadcaf80-16ea-4923-bc08-ee624f2dc9e1.jpg)
@pangyoki

[2021-11-19 07:06] pangyoki commented on #37349
你好，麻烦使用`paddle.version.cudnn()` API查看一下这个安装包的cudnn版本信息。
windows版本的安装包可能使用的是cudnn8.2，我们这边也在确认。确认完毕后会更新文档。
谢谢反馈。

[2021-11-19 07:30] pangyoki commented on #37342
这个环境看起来没有问题，我刚刚测试了下这个镜像，也能正常使用。
麻烦再把镜像里 `paddle.utils.run_check()` 的报错截图发一下，我再看看。因为镜像里的cudnn版本应该是不会有问题的。

[2021-11-19 07:42] bitterchange opened #37374 "RTX3070上编译 nvcc fatal : Unsupported gpu architecture 'compute_86'"
paddlepaddle 2.0
GPU RTX3070
CUDA 10.2 cudnn 7.6.5
ubuntu 18.04
gcc 7.5
源码编译paddlepaddle
编译时出现，nvcc fatal   : Unsupported gpu architecture 'compute_86'
网上搜索说是 CUDA版本较低导致， pytorch有解决方案， paddlepaddle 有无较好的方案解决这个问题？

[2021-11-19 07:46] gongchenting opened #37375 "paddle1.8 batch_norm用在fc后时需设置data_layout='NHWC'，但训练时会报错Error: Tensor holds no memory. Call Tensor::mutable_data first."
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）GPU：V100

----------------------
Error Message Summary:
----------------------
Error: Tensor holds no memory. Call Tensor::mutable_data first.
  [Hint: holder_ should not be null.] at (/Paddle/paddle/fluid/framework/tensor.cc:23)
  [operator < batch_norm > error]

[2021-11-19 08:08] lgcy commented on #37342
![IMG2](https://user-images.githubusercontent.com/26407517/142587772-e46fef85-5379-4525-8a8b-9f68861b9448.jpg)

[2021-11-19 08:16] huangxu96 commented on #37354
您好，您的反馈非常有价值，我们内部会安排评估，未来有计划会尽快回复您～

[2021-11-19 08:19] huangxu96 commented on #37359
您好，请问方便提供代码和环境信息吗，我们复现后会尽快回复您～

[2021-11-19 08:19] huangxu96 commented on #37364
您好，请问方便提供代码和环境信息吗，我们复现后会尽快回复您～

[2021-11-19 08:22] huangxu96 commented on #37375
您好，请问方便提供代码和环境信息吗，我们复现问题后会尽快回复您～

[2021-11-19 08:29] huangxu96 commented on #37353
您好～这个问题还请咨询aistudio平台的相关负责人哦～

[2021-11-19 08:45] huangxu96 commented on #37374
您好～Paddle里的解决方案同样是降低CUDA算力。具体的方法是：添加环境变量 export CUDA_ARCH_NAME=Ampere 。谢谢～

[2021-11-19 08:52] Li-Jiajie commented on #37346
昨天是我自己实现了一个DLRM发现core，今天下午正巧看到PaddleRec更新，提供了官方的DLRM示例：
https://github.com/PaddlePaddle/PaddleRec/tree/release/2.2.0/models/rank/dlrm

但是我用官方的代码，依然会core。clone PaddleRec之后，先去dataset里下载好数据集，然后运行以下命令：
fleetrun --worker_num=4 --server_num=3 tools/static_ps_trainer.py -m models/rank/dlrm/config_bigdata.yaml

报错和之前一样（我的代码在同步模式可以运行，PaddleRec这份代码在同步异步都会core）
Paddle版本：2.2.0（CPU）
Python: 3.6.8
CentOS Linux

[2021-11-19 08:57] iclementine commented on #37306
@jczaja
I think I have found the reason why not sharing data type would cause inplace elementwise op for mkldnn with non-float data type to fail.

For an operator to enable inplace strategy, the output resues the memory of the input in some way. But the kernel still has to take care of the data type of the output tensor.

When the kernel allocates the memory of the ouput (via `Tesor.mutable_data<T

[2021-11-19 10:20] pangyoki commented on #37342
麻烦再使用`echo $LD_LIBRARY_PATH`打印下环境变量。
使用`find / -name "libcudnn*"`打印下cudnn库所在路径。
确认下cudnn库所在路径是否在环境变量中。

[2021-11-19 10:34] lgcy commented on #37342
找到原因了，是第一块显卡有别人的程序在跑，但是为什么非要是一张空卡，才能成功呢？希望交代一下，省得后面的人踩坑

[2021-11-19 10:36] pangyoki commented on #37342
是的，我刚还准备回复这个。因为run_check里需要跑一个简单的网络来验证安装的正确性，单卡验证默认是在第0号卡上执行。
至少需要预留一些显存来验证网络的执行情况。

[2021-11-19 10:39] lgcy commented on #37342
我也测试了，第一张卡空着，其他卡有程序，还是会出错

[2021-11-19 10:41] pangyoki commented on #37342
这是因为run_check还会检测多卡的执行，所以其他卡被占用会导致多卡执行报错。

run_check的流程是先检测单卡静态图、动态图的执行，然后验证多卡执行。单卡验证默认是0号卡。

平时验证的话就用`export CUDA_VISIBLE_DEVICES=3,4`这种形式来选择空闲卡哈。

[2021-11-19 11:57] jczaja commented on #37306
@iclementine  Ok. If there is not Tensor::set_type() then mutable_data needs to be call. We have analogical constructions in some other ops supporting inplace e.g. softmax, activations..

[2021-11-20 06:40] DabeyHolmes commented on #29395
我也有类似的问题
我运行的是这个代码
https://github.com/PaddlePaddle/Research/tree/master/KG/ACL2021_GRAN
它原本的配置是
## Requirements
This project should work fine with the following environments:
- Python 2.7.15 for data preprocessing
- Python 3.6.5 for training & evaluation with:
    -  PaddlePaddle 1.5.0
    -  numpy 1.16.3
- GPU with CUDA 9.0, CuDNN v7, and NCCL 2.3.7
但是我是使用的最新的paddle2.2 python3.8
我运行这个代码会直接报错，wind

[2021-11-20 07:10] besttrying opened #37393 "aistudio内存溢出"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2021-11-20 13:04] NSL-Wx opened #37395 "【论文复现】torch预训练模型转paddle后出现模型不识别的情况"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.3
    2）CPU：CPU型号：Intel(R) Core(TM) i7-8700
    3）系统环境：虚拟机 Ubuntu 18.04

    1）模型名称 ：resnet18-5c106cde.pth
    2）模型链接 ：'https://download.pytorch.org/models/resnet18-5c106cde.pth'
- 复现信息：第一次：torch parm fc.weight not exist in paddle modle
                                   torch parm fc.bias not exist in paddle modle
- 复现信息：第二次：can't find pretrained model
- 问题描述：第

[2021-11-21 14:38] paddle-lwfx opened #37401 "【飞桨论文复现挑战赛（第五期）】榜单"
hi，大家好，非常高兴的告诉大家，百度飞桨论文复现赛第五期已经开始了，本次**论文复现赛**共将有100篇的经典&前沿论文供大家复现，以及新增了**工程落地赛**，详细信息可以参考[AI Studio](https://aistudio.baidu.com/aistudio/competition/detail/126/0/introduction)，大家是否已经迫不及待了呢~

为了帮助大家更好的了解每篇论文的复现进度，本次复现赛将在本帖中汇总信息。如果你报名/提交结果，需要按格式在进行回复，我们每天会汇总所有的信息，并更新在下表中，你可以通过下面的表格中，了解到每一篇论文的相关信息。

回复的格式为：

【队名】：你队伍的名称

【序号】：你队伍想要复现的论文序号

【论文】：你队伍想要复现的论文名称

【状态】：报名/提交

【repo链接】：repo的链接

如：

【队名】：百度

[2021-11-22 01:57] ouyangshixiong commented on #37250
@ZzSean

[2021-11-22 02:30] robinbg commented on #37401
【队名】：自动AC机

【序号】：84

【论文】：Convolutional Sequence to Sequence Learning

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-ConvSeq2Seq

[2021-11-22 02:30] #37374 closed, assigned to nobody

[2021-11-22 02:34] robinbg commented on #37401
【队名】：自动AC机

【序号】：3

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-MNASNet

[2021-11-22 02:38] ZzSean commented on #37250
您好，能不能提供一下可以复现的简单的demo，我这边复现一下，如有进展会及时回复您～

[2021-11-22 02:40] gongweibao commented on #37393
看一下你的reader部分是不是占用内存太高？

[2021-11-22 02:42] robinbg commented on #37401
【队名】：自动AC机

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-MAE

[2021-11-22 02:46] liyhc opened #37403 "使用API Dataset、DataLoader时的WARNING有误。paddle框架为2.2版本"
   1）PaddlePaddle版本：2.2
    2）CPU：AMD3500U
    3）GPU：无
    4）系统环境：windows10， Python版本3.7

WARNING: Detect dataset only contains single fileds, return format changed since Paddle 2.1. In Paddle <= 2.0, DataLoader add a list surround output data(e.g. return [data]), and in Paddle >= 2.1, DataLoader return the single filed directly (e.g. return data).

paddle已经是2.2版本的， 但是__getitem__返回数据不加 [] 就会WARNIN

[2021-11-22 02:48] jiangjiajun commented on #37395
Hi, @NSL-Wx

目前看起来你是想将PyTorch的预训练权重转为Paddle进行加载，您可以使用X2Paddle，或者是如下文档中的接口，直接使用torch.vision中的resnet
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/pytorch_project_convertor/API_docs/vision/torchvision.models.md

[2021-11-22 02:51] justld commented on #37401
【队名】：dudu

【序号】：27

【论文】：BiSeNet: Bilateral Segmentation Network for Real-time Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/justld/BisNetV1_paddle

[2021-11-22 02:52] #37395 closed, assigned to gongweibao

[2021-11-22 02:59] txyugood commented on #37401
【队名】：txyugood

【序号】：31

【论文】：Learning to Adapt Structured Output Space for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/txyugood/PaddleSeg

[2021-11-22 02:59] byhteng commented on #37401
【队名】：秃样ToSample

【序号】：45

【论文】：RobustScanner: Dynamically Enhancing Positional Clues for Robust Text Recognition

【状态】：报名

【repo链接】：https://github.com/byhteng/RobustScanner-Paddle

[2021-11-22 02:59] byhteng commented on #37401
【队名】：秃样ToSample

【序号】：46

【论文】：From Two to One: A New Scene Text Recognizer with Visual Language Modeling Network

【状态】：报名

【repo链接】：https://github.com/byhteng/VisionLAN-Paddle

[2021-11-22 03:02] wyxogo commented on #37401
【队名】：PaddleViT

【序号】：6

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：报名&提交

【repo链接】：[https://github.com/BR-IDL/PaddleViT/tree/develop/image_classification/CycleMLP](https://github.com/BR-IDL/PaddleViT/tree/develop/image_classification/CycleMLP)

[2021-11-22 03:04] akari0216 commented on #37401
【队名】：若若若月寒

【序号】：92

【论文】：Universal Language Model Fine-tuning for Text Classification

【状态】：报名

【repo链接】：https://github.com/akari0216/Paddle-awdlstm

[2021-11-22 03:10] besttrying commented on #37393
reader部分占的很少，每次epoch只读取八张图片，大小也只是48x48，这种情况往往会在运行了几百个epoch后出现。

[2021-11-22 03:15] byhteng commented on #37401
【队名】：秃样ToSample

【序号】：49

【论文】：	Attention on attention for image captioning

【状态】：报名

【repo链接】：https://github.com/byhteng/AoANet

[2021-11-22 03:16] jyjfjyjf commented on #37401
【队名】：异常数据

【序号】：85

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/jyjfjyjf/DeBERTa.git

[2021-11-22 03:21] simuler commented on #37401
【队名】：simuler

【序号】：104

【论文】： FNet: Mixing Tokens with Fourier Transforms

【状态】：报名

【repo链接】：https://github.com/simuler/Fnet_paddle

[2021-11-22 03:22] iclementine commented on #37306
@jczaja Thank you. I'm going to do the same to other operators.

[2021-11-22 03:37] unseenme commented on #37401
【队名】：UnseenMe

【序号】：3

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：报名

【repo链接】：https://github.com/unseenme/mnasnet-paddle

[2021-11-22 03:57] JixuH opened #37408 "python3如不关闭./paddle/dataset/image.py中的cv2线程导入，编译生成exe后会开一堆.exe进程导致卡死"
PaddlePaddle版本：2.1.3

[2021-11-22 04:34] sunlizhuang commented on #37401
【队名】：白鸟非鸟

【序号】：17

【论文】：Fast RCNN

【状态】：报名

【repo链接】：https://github.com/sunlizhuang/FastRCNN_PaddlePaddle

[2021-11-22 04:40] sunlizhuang commented on #37401
【队名】：白鸟非鸟

【序号】：20

【论文】：You Only Look One-level Feature

【状态】：报名

【repo链接】：https://github.com/sunlizhuang/YOLOF_PaddlePaddle

[2021-11-22 04:46] PlumTao commented on #37401
【队名】：辣椒炒肉

【序号】：75

【论文】：NRPA: Neural Recommendation with Personalized Attention

【状态】：报名

【repo链接】：https://github.com/PlumTao/Paddle-NRPA

[2021-11-22 04:58] PlumTao commented on #37401
【队名】：辣椒炒肉

【序号】：78

【论文】：Training Deep AutoEncoders for Collaborative Filtering

【状态】：报名

【repo链接】：https://github.com/PlumTao/Paddle-DeepRecommender

[2021-11-22 05:27] cgwu1999 commented on #37401
【队名】：pikachu_wcg

【序号】：52

【论文】：Uniter: Learning universal image-text representations

【状态】：报名

【repo链接】：https://github.com/PiKaChu-wcg/uniter

[2021-11-22 05:30] jvzhao commented on #37401
【队名】：jvzhao

【序号】：54

【论文】：Can Spatiotemporal 3D CNNs Retrace the History of 2D CNNs and ImageNet?

【状态】：报名

【repo链接】：https://github.com/jvzhao/3D-ResNets

[2021-11-22 06:13] renmada commented on #37401
【队名】：arbiter

【序号】：74

【论文】：TiSASRec: Time Interval Aware Self-Attention for Sequential Recommendation

【状态】：报名

【repo链接】：https://github.com/renmada/TiSASRec-paddle

[2021-11-22 06:14] pooruss commented on #37401
【队名】：lsh冲冲冲

【序号】：34

【论文】：Category-Level Adversarial Adaptation for Semantic Segmentation using Purified Features

【状态】：报名

【repo链接】：[repo链接](https://github.com/pooruss/CLAN-Paddlepaddle)

[2021-11-22 06:19] cxq1 commented on #37401
【队名】：三鲜面哈哈

【序号】：22

【论文】： YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/cxq1/yolox-paddle

[2021-11-22 06:26] pooruss commented on #37401
【队名】：lsh冲冲冲

【序号】：54

【论文】：Can Spatiotemporal 3D CNNs Retrace the History of 2D CNNs and ImageNet?

【状态】：报名

【repo链接】：[repo链接](https://github.com/pooruss/3D-ResNets-Paddlepaddle)

[2021-11-22 06:35] ouyangshixiong commented on #37250
贵司的PARL库 example目录中的QMIX算法就可以复现此问题。
您也可以联系贵司 睿思，他有我的微信。
@ZzSean

[2021-11-22 06:39] bestzlx commented on #37401
【队名】：开导冲冲冲

【序号】：36

【论文】：Training Generative Adversarial Networks with Limited Data

【状态】：报名

【repo链接】：https://github.com/bestzlx/stylegan2-ada-paddle

[2021-11-22 06:43] lidanqing-vv commented on #35307
Close this issue cause the fix PR has been merged

[2021-11-22 06:43] #35307 closed, assigned to jakpiase

[2021-11-22 07:05] haoyuying commented on #36848
Could you  provide images to reproduce this problem? If you can provide an environment to reproduce this problem on aistudio, we will be easily solve this problem. I can not reproduce this problem  in my environment.  You can provide more information in https://github.com/PaddlePaddle/PaddleHub/ to get professional answer.

[2021-11-22 07:05] renmada commented on #37401
【队名】：arbiter

【序号】：74

【论文】：TiSASRec: Time Interval Aware Self-Attention for Sequential Recommendation

【状态】：提交

【repo链接】：https://github.com/renmada/TiSASRec-paddle

[2021-11-22 07:09] sandyhouse commented on #37408
您好，请问是Window编译吗？能发一下具体的编译选项吗？

[2021-11-22 07:11] sandyhouse commented on #37403
您好，这是个不兼容升级的warning，代码运行没有问题的话不用关注的。

[2021-11-22 07:36] JixuH commented on #37408
我是使用pip直接下载安装的paddlepaddle==2.1.3版本，没有自己编译

[2021-11-22 07:37] liyhc commented on #37403
问题在于，每跑一轮模型我就调用手写的模型测试时，WARNING就输出一次，还得手动设置忽略。并且我的做法在in Paddle >= 2.1, DataLoader return the single filed directly 下，按提示说就不应该出现WARNING的。要么你们可以改一下提示 In Paddle >= 2.1, DataLoader add a list surround output data(e.g. return [data])得了，返回data加 []反而没提示WARNING

[2021-11-22 07:40] cjh3020889729 commented on #37401
【队名】：有空多学习

【序号】：10

【论文】：Recurrent Models of Visual Attention

【状态】：报名

【repo链接】：https://github.com/cjh3020889729/The---Paddle---implement--RAM

[2021-11-22 07:52] #37306 closed, assigned to jczaja

[2021-11-22 07:54] lidanqing-vv commented on #36461
@baoachun Please share some models with broadcasting so that we could test with models

[2021-11-22 07:59] jordan2013 commented on #37401
【队名】：Jordan2020

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：https://github.com/Nullius-2020/MAE-Paddle

[2021-11-22 08:00] xmm1016 commented on #37401
【队名】：牛奶奥利奥

【序号】：13

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/xmm1016/Paddle-CvT

[2021-11-22 08:06] sandyhouse commented on #37408
没太懂这个地方的编译是什么意思？

[2021-11-22 08:08] PhenixZhang commented on #37401
【队名】：晴天有雨

【序号】：101

【论文】：Adapt-and-Distill: Developing Small, Fast and Effective Pretrained Language Models for Domains

【状态】：报名

【repo链接】：https://github.com/PhenixZhang/Adapt-and-Distill

[2021-11-22 08:39] kongdebug commented on #37401
【队名】：KEY.L刘波

【序号】：41

【论文】：Image Super-Resolution Using Very Deep Residual Channel Attention Networks

【状态】：报名

【repo链接】：https://github.com/kongdebug/RCAN-Paddle

[2021-11-22 08:40] baoachun opened #37422 "[Feature] Adaptation of the new quantization method for mkldnn."
1. For output activation of ops, slim will insert QuantizeLinear and DequantizeLinear operation which named after ```quantize_linear``` and ```dequantize_linear```.
<img width="363" alt="图片" src="https://user-images.githubusercontent.com/22114318/142825558-ad164f56-50f0-4cd7-a8ad-509def8a548a.png">

2. For trainable parameters of ops, slim first quantizes and saves the weight in low bits, and then

[2021-11-22 08:41] XieYunshen commented on #37353
升级一下pip应该可以，`pip install --upgrade pip`

[2021-11-22 08:55] Li-Jiajie commented on #37346
@sandyhouse

[2021-11-22 09:06] huangjun12 commented on #37328
pls refer to https://github.com/PaddlePaddle/PaddleVideo/issues/248

[2021-11-22 09:15] tz28 opened #37426 "paddle.optimizer文档问题：1.8版本中的优化器ftrl，2.0+版本中删除了吗？"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2021-11-22 09:22] ZzSean commented on #37265
您好，本地可以复现的代码就可以，V100上可以直接运行的

[2021-11-22 09:24] simuler commented on #37401
【队名】：simuler

【序号】：100

【论文】：RemBERT: Rethinking embedding coupling in pre-trained language models

【状态】：报名

【repo链接】：https://github.com/simuler/RemBert_paddle

[2021-11-22 09:34] jyjfjyjf commented on #37401
【队名】：异常数据

【序号】：85

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/jyjfjyjf/DeBERTa

[2021-11-22 09:35] Stave604671 commented on #37328
那个issue也是我提的，没事已经解决了，我漏了一个参数

[2021-11-22 09:36] #37328 closed, assigned to thisjiang

[2021-11-22 09:36] Stave604671 commented on #37328
已经解决，起因是没有将3D卷积的bias设置为False

[2021-11-22 09:40] winterfell00 commented on #37401
【队名】：winterfell冲冲冲

【序号】：14

【论文】：Rethinking Spatial Dimensions of Vision Transformers

【状态】：报名

【repo链接】：https://github.com/bestzlx/pit-paddle

[2021-11-22 09:42] chm2920 commented on #37401
【队名】：pathfinder

【序号】：36

【论文】：Training Generative Adversarial Networks with Limited Data

【状态】：报名

【repo链接】：https://github.com/chm2920/stylegan2-ada-paddle

[2021-11-22 09:50] voipchina commented on #37401
【队名】：初学者

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：https://github.com/voipchina/PaddleMAE

[2021-11-22 09:56] voipchina commented on #37401
【队名】：初学者

【序号】：27

【论文】：BiSeNet: Bilateral Segmentation Network for Real-time Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/voipchina/PaddleBiSeNet

[2021-11-22 10:17] Junxiao-Ma commented on #37401
【队名】：马骏骁

【序号】：10

【论文】：Recurrent Models of Visual Attention

【状态】：报名

【repo链接】：https://github.com/Junxiao-Ma/Recurrent-Models-of-Visual-Attention

[2021-11-22 10:46] chenjiyan2001 commented on #37401
【队名】：cHEn

【序号】：70

【论文】：DSelect-k: Differentiable Selection in the Mixture of Experts with Applications to Multi-Task Learning

【状态】：报名

【repo链接】：https://github.com/chenjiyan2001/Paddle-DSelect-k

[2021-11-22 11:01] Latalio opened #37436 "grid_sampler 算子丢失 shape 信息"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2
    2）CPU环境
    3）系统环境：Windows 10 , Python 3.9

- 问题：**grid_sampler 或 affine_grid 算子的输出 shape 在编译器应该就可以确定，为何会丢失 H, W 维度的 shape 信息**
- 代码目的：连续对图像进行空间变换（spatial transform）
- 可复现片段
[code]

- 报错信息
[code]

[2021-11-22 11:01] Junxiao-Ma commented on #37401
【队名】：马骏骁

【序号】：11

【论文】：Going deeper with Image Transformers

【状态】：报名

【repo链接】：https://github.com/Junxiao-Ma/Going-deeper-with-Image-Transformers

[2021-11-22 11:03] onecatcn commented on #37358
您好，paddle高层API中提供了这一功能，详情请见：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/callbacks/EarlyStopping_cn.html#earlystopping。
如果还有问题，欢迎继续询问。

[2021-11-22 11:52] sandyhouse commented on #37426
您可以继续使用原来的接口。

[2021-11-22 12:23] Ljwccc commented on #37401
【队名】：ZeroHot

【序号】：72

【论文】：DCN V2: Improved Deep & Cross Network and Practical Lessons for Web-scale Learning to Rank Systems

【状态】：报名

【repo链接】：https://github.com/Ljwccc/Paddle-DCNv2

[2021-11-22 12:26] Darki-luo commented on #37268
好的

[2021-11-22 12:26] #37268 closed, assigned to ZzSean

[2021-11-22 12:37] huangxu96 commented on #37375
这边建议升级到paddle 2.0，您这里提到的功能在2.0版本是已经支持的。

[2021-11-22 12:38] Darki-luo opened #37443 "paddle提供的安装包有误"
ubuntu18.04环境，nvidia 驱动 460 ,conda环境下cudatoolkit=10.2，cudnn=7.6
硬件不支持avx，按照官网介绍安装了gpu版本cuda10.2 noavx版本，但是运行时 还是cuda10.1的
W1122 20:38:10.577867 11608 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 11.2, Runtime API Version: 10.1

python -m pip download paddlepaddle-gpu==2.2.0 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/noavx/stable.html --no-in

[2021-11-22 12:52] defensetongxue commented on #37401
【队名】：PKU-defensetx-CVT

【序号】：13

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/defensetongxue/cvt

[2021-11-22 13:09] PeterJaq commented on #37401
【队名】：上汽帆一ai小伙伴

【序号】：20

【论文】：You Only Look One-level Feature

【状态】：报名

【repo链接】：https://github.com/PeterJaq/igear-yolof-pdpd

[2021-11-22 13:11] PeterJaq commented on #37401
【队名】：上汽帆一ai小伙伴

【序号】：15

【论文】：VoxelNet: End-to-End Learning for Point Cloud Based 3D Object Detection

【状态】：报名

【repo链接】：https://github.com/PeterJaq/igear-voxelnet-pdpd

[2021-11-22 13:47] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：25

【论文】：Context Encoding for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/ETTR123/Paddle-Context-Encoding

[2021-11-22 13:48] xzk-seu commented on #37401
【队名】：PyroJewel

【序号】：99

【论文】：LUKE: Deep Contextualized Entity Representations with Entity-aware Self-attention

【状态】：报名

【repo链接】：[https://github.com/xzk-seu/Paddle-LUKE](https://github.com/xzk-seu/Paddle-LUKE)

[2021-11-22 14:01] Y1YU commented on #37401
【队名】：噫吁嚱

【序号】：13

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/Y1YU/CvT_Paddle

[2021-11-22 14:08] Julyhcw commented on #37401
【队名】：元气森林乳茶赞助

【序号】：105

【论文】：Nyströmformer: A Nyström-Based Algorithm for Approximating Self-Attention

【状态】：报名

【repo链接】：https://github.com/Julyhcw/Paddle-nystrom-attention

[2021-11-23 00:53] #35940 closed, assigned to TCChenlong

[2021-11-23 01:09] Edward1900 commented on #37401
【队名】：随峰飘上天

【序号】：59

【论文】： Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Networks

【状态】：报名

【repo链接】：https://github.com/Edward1900/Paddle-MTCNN

[2021-11-23 01:48] Kazerujoy commented on #37401
【队名】：KazeruJoy

【序号】：78

【论文】：Training Deep AutoEncoders for Collaborative Filtering

【状态】：报名

【repo链接】：https://github.com/Kazerujoy/DAE4CF

[2021-11-23 02:02] snoopy1316 opened #37448 "服务器端安装预编译c++cpu预测库 编译错误"
 PaddlePaddle版本：2.0
下载cpu预测库
cmake .. -G "Visual Studio 16 2019" -A x64 -T host=x64 -DCMAKE_BUILD_TYPE=Release -DWITH_MKL=ON -DWITH_GPU=OFF -DON_INFER=ON -DWITH_PYTHON=OFF 完成，
[再打开paddle.sln文件进行生成时，已选择release  X64出现错误：

![image](https://user-images.githubusercontent.com/94336500/142960916-70885d9f-3e08-40b6-a198-fbcf3cbf67cf.png)

    

[2021-11-23 02:02] Latalio commented on #37436
一种解决方案是使用 paddle.reshape 指明输出 tensor 的 shape

[code]

[2021-11-23 02:02] snoopy1316 commented on #37448
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0/guides/05_inference_deployment/inference/windows_cpp_inference.html

[2021-11-23 02:14] leezhao415 opened #37452 "复选赛报名"
【队名】：东方幻翎

【序号】：3

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：报名

【repo链接】：https://github.com/leezhao415/Paddle_MnasNet

[2021-11-23 02:15] leezhao415 commented on #37401
【队名】：东方幻翎

【序号】：3

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：报名

【repo链接】：https://github.com/leezhao415/Paddle_MnasNet

[2021-11-23 02:21] stunback commented on #37401
【队名】：我要学transformer

【序号】：62

【论文】：Deeper Depth Prediction with Fully Convolutional Residual Networks

【状态】：报名

【repo链接】：https://github.com/stunback/Paddle_FCRN_Depth

[2021-11-23 02:22] stunback commented on #37401
【队名】：我要学transformer

【序号】：63

【论文】：Unsupervised Monocular Depth Estimation with Left-Right Consistency

【状态】：报名

【repo链接】：https://github.com/stunback/Paddle_monodepth

[2021-11-23 02:23] stunback commented on #37401
【队名】：我要学transformer

【序号】：64

【论文】：Digging Into Self-Supervised Monocular Depth Estimation

【状态】：报名

【repo链接】：https://github.com/stunback/Paddle_monodepth2

[2021-11-23 03:11] KHB1698 commented on #37401
【队名】：同路人

【序号】：57

【论文】：Simple Baselines for Human Pose Estimation and Tracking

【状态】：报名

【repo链接】：https://github.com/KHB1698/Baselines

[2021-11-23 03:18] fengxiaoshuai commented on #37448
https://paddleinference.paddlepaddle.org.cn/master/user_guides/download_lib.html#windows
试试这个链接中的下载地址，不需要编译，可以直接使用

[2021-11-23 03:18] KHB1698 commented on #37401
【队名】：同路人

【序号】：17

【论文】：Fast R-CNN

【状态】：报名

【repo链接】：https://github.com/KHB1698/Fast-R-CNN

[2021-11-23 03:19] sandyhouse commented on #37443
这个信息指的是你机器上cuda版本为10.1。paddle自身不会安装cuda，只是获取机器上的信息予以输出。
可以通过nvcc --version确定机器上的cuda版本。（如果使用docker镜像的话，需要在镜像中运行上述命令）。

[2021-11-23 03:30] sandyhouse commented on #37403
您的建议已收到，并反馈给相关开发同学，内部会评估如何优化该输出信息，感谢您的建议。

[2021-11-23 04:14] zjw511 commented on #37401
【队名】：UESTC_IVIPC_ZJW

【序号】：42

【论文】：Conditional Image Generation with PixelCNN Decoders

【状态】：报名

【repo链接】：https://github.com/Mmhmmmmm/pp-PixelCNN

[2021-11-23 04:25] ZiMo-Chen commented on #37401
【队名】：三鲜面哈哈

【序号】：14

【论文】：Rethinking Spatial Dimensions of Vision Transformers

【状态】：报名

【repo链接】：https://github.com/cxq1/paddle-pit

[2021-11-23 04:51] zzpicdeal commented on #37401
【队名】：ABCD

【序号】：30

【论文】：FastFCN: Rethinking Dilated Convolution in the Backbone for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/zzpicdeal/Paddle-FastFCN

[2021-11-23 06:39] Martion-z commented on #37401
【队名】：皮蛋瘦肉周

【序号】：41

【论文】：Image Super-Resolution Using Very Deep Residual Channel Attention Networks

【状态】：报名

【repo链接】：https://github.com/Martion-z/Paddle-RCAN

[2021-11-23 06:40] #22727 closed, assigned to liym27

[2021-11-23 06:40] #22740 closed, assigned to hong19860320, Shixiaowei02

[2021-11-23 06:40] #28385 closed, assigned to yaoxuefeng6

[2021-11-23 06:40] #28493 closed, assigned to lfchener

[2021-11-23 06:40] #28610 closed, assigned to nobody

[2021-11-23 06:40] #28617 closed, assigned to nobody

[2021-11-23 06:40] #28618 closed, assigned to nobody

[2021-11-23 06:40] #28620 closed, assigned to nobody

[2021-11-23 06:40] #28623 closed, assigned to nobody

[2021-11-23 06:40] #28624 closed, assigned to nobody

[2021-11-23 06:40] #28625 closed, assigned to nobody

[2021-11-23 06:40] #28634 closed, assigned to wanghuancoder

[2021-11-23 06:40] #28650 closed, assigned to wanghuancoder

[2021-11-23 06:40] #28671 closed, assigned to nobody

[2021-11-23 06:40] #28675 closed, assigned to nobody

[2021-11-23 06:40] #28719 closed, assigned to jzhang533

[2021-11-23 06:40] #28751 closed, assigned to jiangjiajun, zhwesky2010

[2021-11-23 06:40] #28770 closed, assigned to nobody

[2021-11-23 06:40] #28776 closed, assigned to haozech

[2021-11-23 06:40] #28778 closed, assigned to haozech

[2021-11-23 06:40] #28779 closed, assigned to haozech

[2021-11-23 06:40] #28784 closed, assigned to haozech

[2021-11-23 06:40] #28786 closed, assigned to haozech

[2021-11-23 06:40] #28787 closed, assigned to haozech

[2021-11-23 06:40] #28788 closed, assigned to haozech

[2021-11-23 06:40] #28789 closed, assigned to haozech

[2021-11-23 06:40] #28790 closed, assigned to haozech

[2021-11-23 06:40] #28791 closed, assigned to haozech

[2021-11-23 06:40] #28793 closed, assigned to haozech

[2021-11-23 06:40] #28794 closed, assigned to haozech

[2021-11-23 06:40] #28795 closed, assigned to haozech

[2021-11-23 06:40] #28797 closed, assigned to haozech

[2021-11-23 06:40] #28799 closed, assigned to haozech

[2021-11-23 06:40] #28800 closed, assigned to haozech

[2021-11-23 06:40] #28801 closed, assigned to haozech

[2021-11-23 06:40] #28803 closed, assigned to haozech

[2021-11-23 06:40] #28804 closed, assigned to haozech

[2021-11-23 06:40] #28805 closed, assigned to haozech

[2021-11-23 06:41] #28806 closed, assigned to haozech

[2021-11-23 06:41] #28807 closed, assigned to haozech

[2021-11-23 06:41] #28808 closed, assigned to haozech

[2021-11-23 06:41] #28809 closed, assigned to haozech

[2021-11-23 06:41] #28810 closed, assigned to haozech

[2021-11-23 06:41] #28812 closed, assigned to haozech

[2021-11-23 06:41] #28814 closed, assigned to haozech

[2021-11-23 06:41] #28816 closed, assigned to haozech

[2021-11-23 06:41] #28819 closed, assigned to haozech

[2021-11-23 06:41] #28821 closed, assigned to haozech

[2021-11-23 06:41] #28822 closed, assigned to haozech

[2021-11-23 06:41] #28823 closed, assigned to haozech

[2021-11-23 06:41] #28824 closed, assigned to haozech

[2021-11-23 06:41] #28825 closed, assigned to haozech

[2021-11-23 06:41] #28826 closed, assigned to haozech

[2021-11-23 06:41] #28827 closed, assigned to haozech

[2021-11-23 06:41] #28828 closed, assigned to haozech

[2021-11-23 06:41] #28829 closed, assigned to haozech

[2021-11-23 06:41] #28830 closed, assigned to haozech

[2021-11-23 06:41] #28831 closed, assigned to haozech

[2021-11-23 06:41] #28832 closed, assigned to haozech

[2021-11-23 06:41] #28833 closed, assigned to haozech

[2021-11-23 06:41] #28834 closed, assigned to haozech

[2021-11-23 06:41] #28835 closed, assigned to haozech

[2021-11-23 06:41] #28836 closed, assigned to haozech

[2021-11-23 06:41] #28837 closed, assigned to haozech

[2021-11-23 06:41] #28838 closed, assigned to haozech

[2021-11-23 06:41] #28839 closed, assigned to haozech

[2021-11-23 06:41] #28842 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28843 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28844 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28845 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28846 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28847 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28850 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28851 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28855 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28856 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28858 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28859 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28860 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28861 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28862 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28864 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28865 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28866 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28882 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28883 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28884 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28885 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28886 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28887 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28888 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28889 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28890 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28891 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28892 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28893 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28894 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28896 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28897 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28899 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28901 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28902 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28904 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28905 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28906 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28907 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28908 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28909 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28910 closed, assigned to chenjiaoAngel

[2021-11-23 06:41] #28958 closed, assigned to qili93

[2021-11-23 06:41] #28959 closed, assigned to qili93

[2021-11-23 06:41] #28960 closed, assigned to qili93

[2021-11-23 06:41] #28961 closed, assigned to qili93

[2021-11-23 06:41] #28963 closed, assigned to qili93

[2021-11-23 06:41] dingminhao commented on #37401
【队名】：自信放光芒

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/dingminhao/Paddle_yolox_XDtechnology

[2021-11-23 06:46] Ss-shuang123 commented on #37401
【队名】：自信放光芒

【序号】：20

【论文】：You Only Look One-level Feature

【状态】：报名

【repo链接】：https://github.com/Ss-shuang123/Yolof-paddlepaddle

[2021-11-23 07:19] Darki-luo commented on #37443
我安装的驱动是460，cuda是11.2，conda环境里也配的是10.2 cudnn是7.6.5，就没有10.1，你的包传错了吧，下载noavx的cuda10.2和cuda10.1都显示的是10.1的。

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Oct_23_19:24:38_PDT_2019
Cuda compilation tools, release 10.2, V10.2.89

[2021-11-23 07:57] jiaohuix commented on #37401
【队名】：角灰大帝硬train一发

【序号】：10

【论文】：Recurrent Models of Visual Attention

【状态】：报名+提交

【repo链接】：https://github.com/MiuGod0126/RAM-Paddle

[2021-11-23 08:03] lyuwenyu commented on #36337
目前不支持

[2021-11-23 08:05] yeyupiaoling commented on #36337
哦哦

[2021-11-23 08:05] #36337 closed, assigned to nobody

[2021-11-23 08:20] nku-shengzheliu commented on #37401
【队名】：想去海边
【序号】：2
【论文】：Swin Transformer V2: Scaling Up Capacity and Resolution
【状态】：报名
【repo链接】：
https://github.com/nku-shengzheliu/PaddlePaddle-Swin-Transformer-V2

[2021-11-23 08:29] TCChenlong commented on #37452
开发者你好，报名是在这个ISSUE https://github.com/PaddlePaddle/Paddle/issues/37401 下回复哈~

[2021-11-23 08:40] tianxin1860 commented on #36718
使用 Paddle 2.2.0 最新版本试试呢？会复现同样的问题吗？

[2021-11-23 08:49] dotrywhile-wm commented on #29395
请问您解决了吗

[2021-11-23 08:59] AlexZou14 commented on #37401
【队名】：AlexZou

【序号】：41

【论文】：Image Super-Resolution Using Very Deep Residual Channel Attention Networks

【状态】：报名

【repo链接】：https://github.com/AlexZou14/RCAN_paddle

[2021-11-23 08:59] hatimwen commented on #37401
【队名】：114战队

【序号】：20

【论文】：You Only Look One-level Feature

【状态】：报名

【repo链接】：https://github.com/hatimwen/YOLOF_Paddle

[2021-11-23 09:12] snoopy1316 opened #37475 "win10 c++编译预测demo"
预测库是下载gpu预测库（cuda10.1,cudnn7.6)
使用cmd编译：cmake .. -G "Visual Studio 16 2019" -A x64 -T host=x64 -DWITH_GPU=ON -DWITH_MKL=ON -DWITH_STATIC_LIB=ON ^
-DCMAKE_BUILD_TYPE=Release -DDEMO_NAME=simple_on_word2vec -DPADDLE_LIB=C:\Users\admin\Desktop\paddle_inference -DMSVC_STATIC_CRT=ON -DCUDA_LIB=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\lib\x64
在编译demo部分选择使用脚本编译运行，官方使用的时vs2017，我使用的vs2019出现这

[2021-11-23 09:12] snoopy1316 commented on #37475
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0/guides/05_inference_deployment/inference/windows_cpp_inference.html

[2021-11-23 10:28] sandyhouse commented on #37443
python -m pip install paddlepaddle-gpu==2.2.0 -i https://mirror.baidu.com/pypi/simple
用上面这条安装命令试一下吧。

[2021-11-23 10:34] CuberrChen commented on #37401
【队名】：波波啥也不会

【序号】：28

【论文】：Adversarial Learning for Semi-Supervised Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/CuberrChen/AdvSemiSeg-Paddle

[2021-11-23 10:34] hong19860320 commented on #36934
想问下，你是需要用昇腾310进行推理部署吗？如果是，可以直接用paddle lite方式哈～ https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html#npu-paddle-lite

文档里面提供了预编译的demo，配置好环境后可以直接运行哦

[2021-11-23 10:51] Darki-luo commented on #37443
这条指令安装运行不了，机器的cpu缺少AVX算子，直接安装会报错，就想让你们确认一下，官网提供的2.2 noavx的cuda10.2的whl文件是传错包了，还是没有基于cuda10.2，只有基于cuda10.1了呢，官网文档和你们提供的下载地址应该是有一个出错了。

[2021-11-23 11:04] xl-lian commented on #37401
【队名】：我好像复现错了

【序号】：90

【论文】：Cross-lingual Language Model Pretraining

【状态】：报名

【repo链接】：https://github.com/Fakekid/xlm-paddle

[2021-11-23 11:14] yeyupiaoling opened #37480 "我的电脑不支持AVX指令集，能用装显卡使用GPU吗？"
- PaddlePaddle 2.2.0
 - Windows 10

我的电脑不支持AVX指令集，想买个显卡装上，但不知道能不能使用GPU吗？

[2021-11-23 11:19] sandyhouse commented on #37443
这个网页里面没有10.2的包。

[2021-11-23 11:23] Darki-luo commented on #37443
那你们官方文档安装教程需要更新一下~：[https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html)

“_cpu、mkl版本noavx机器安装：

python -m pip download paddlepaddle==2.2.0 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/noavx/stable.html --no-index --no-deps
cpu、openblas版本noa

[2021-11-23 11:27] pangyoki commented on #37443
你好，请问你的python版本是什么？cuda10.2的noavx包只支持python3.8，可以下载这个包：https://paddle-wheel.bj.bcebos.com/2.2.0/linux/linux-gpu-cuda10.2-cudnn7-mkl-gcc8.2-noavx/paddlepaddle_gpu-2.2.0-cp38-cp38-linux_x86_64.whl 。
另外，你复制的这段安装命令是pip安装，不是conda安装的。

[2021-11-23 11:28] pangyoki commented on #37443
你好，这个网页里https://paddle-wheel.bj.bcebos.com/2.2.0/linux/linux-gpu-cuda10.2-cudnn7-mkl-gcc8.2-noavx/paddlepaddle_gpu-2.2.0-cp38-cp38-linux_x86_64.whl 这个包是cuda10.2的，没有`.post`后缀

[2021-11-23 11:45] nsCosine commented on #37401
【队名】：自动AC机

【序号】：3

【论文】：Exploring Simple Siamese Representation Learning

【状态】：报名

【repo链接】：https://github.com/nsCosine/Paddle-Simsiam

[2021-11-23 11:52] SongWang2017 commented on #37401
【队名】：flyingwheel

【序号】：27

【论文】：BiSeNet: Bilateral Segmentation Network for Real-time Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/SongWang2017/pp-BiSeNet

[2021-11-23 11:52] Asthestarsfalll commented on #37401
【队名】：鹅鹅鹅

【序号】：27

【论文】：BiSeNet: Bilateral Segmentation Network for Real-time Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/Asthestarsfalll/BiSeNet-Paddle

[2021-11-23 11:57] SongWang2017 commented on #37401
【队名】：flyingwheel

【序号】：32

【论文】：Vision Transformers for Dense Prediction

【状态】：报名

【repo链接】：https://github.com/SongWang2017/pp-DPT

[2021-11-23 12:06] Subury commented on #37401
【队名】：何必诗债换酒钱

【序号】：33

【论文】：VoxelNet: End-to-End Learning for Point Cloud Based 3D Object Detection

【状态】：报名

【repo链接】：https://github.com/Subury/VoxelNet_PaddlePaddle

[2021-11-23 12:10] EighteenSprings commented on #37401
【队名】：HONEY

【序号】：22

【论文】： YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/EighteenSprings/YOLOX_Paddle

[2021-11-23 12:18] Darki-luo commented on #37443
因为cpu不支持AVX，所以没法直接用conda和pypi源的安装，显卡驱动和cuda信息，python信息都显示了，用conda配的环境，并且也安装了conda的cudatoolkit和cudnn，paddle采用noavx的whl安装包，经过测试正常运行，但是我发现，搭配cuda10.2的whl包运行的cuda api是10.1，用官网文档和你提供的whl包都是这样。
****************************************
Paddle version: 2.2.0
Paddle With CUDA: True
OS: Ubuntu 18.04
Python version: 3.8.5
CUDA version: 10.2.89
cuDNN version: None.None.None
Nvidia driver version: 460.91.03
**

[2021-11-23 12:19] Subury commented on #37401
【队名】：何必诗债换酒钱

【序号】：35

【论文】：Attention on attention for image captioning

【状态】：报名

【repo链接】：https://github.com/Subury/AoANet_PaddlePaddle

[2021-11-23 12:24] fengxiaoshuai commented on #37475
按着提示使用对应版本的编译器

[2021-11-23 12:30] SongWang2017 commented on #37401
【队名】：flyingwheel

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution

【状态】：报名

【repo链接】：https://github.com/SongWang2017/pp-DetectoRS

[2021-11-23 12:55] ceci3 commented on #37480
可以用，paddle也支持cuda10.1、cuda10.2 GPU版本的noavx包

[2021-11-23 12:59] Shun14 commented on #37401
【队名】：起飞

【序号】：25

【论文】：Context Encoding for Semantic Segmentation

【状态】：报名

【repo链接】： https://github.com/Shun14/ENCNet-paddle

[2021-11-23 13:03] Shun14 commented on #37401
【队名】：起飞

【序号】：21

【论文】：Gradient Harmonized Single-stage Detector

【状态】：报名

【repo链接】： https://github.com/Shun14/GHSD-paddle

[2021-11-23 13:28] Ljwccc commented on #37401
【队名】：ZeroHot

【序号】：83

【论文】：Deep Session Interest Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】： https://github.com/Ljwccc/Paddle-DSIN

[2021-11-23 13:34] Ljwccc commented on #37401
【队名】：ZeroHot

【序号】：82

【论文】：CAN: Revisiting Feature Co-Action for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/Ljwccc/Paddle-CAN

[2021-11-24 00:51] buriedms commented on #37401
【队名】：生活所迫

【序号】：28

【论文】：Adversarial Learning for Semi-Supervised Semantic Segmentation

【状态】：报名

【repo链接】：[repo的链接](https://github.com/buriedms/AdvSemiSeg-Paddle.git)

[2021-11-24 02:16] cqray1990 opened #37491 "infer debug after installing"
cuda 10.2,cudnn 8.0.4,paddle:2.2.

安装完后跑推理代码出错，老是出错，难道paddle不能一次安装成功推理？环境依赖有那么苛刻？搞的XXX

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
No stack trace in paddle, may be caused by external reasons.

----------------------
Error Message Summary:
----------------------
FatalError: `Segmentation fault` is detected by the operating sy

[2021-11-24 02:19] TCChenlong commented on #35940
本次黑客松活动，线上部分已结束，欢迎大家继续认领&完成感兴趣的任务，可以@我review相关PR；此外，欢迎大家参与报名线下的 Coding Party ，报名表见：[2021飞桨黑客松 48H Coding Party 报名表](https://www.wjx.top/vj/e0QwYmQ.aspx?udsid=621460)，感谢大家对飞桨的支持~

[2021-11-24 02:42] yeyupiaoling commented on #37480
@ceci3 能直接使用conda安装吗？

[2021-11-24 03:04] zhaokanghuiasd commented on #37401
【队名】：明镜台

【序号】：97

【论文】：TaPas: Weakly Supervised Table Parsing via Pre-training

【状态】：报名

【repo链接】：[repo链接](https://github.com/zhaokanghuiasd/TaPas-paddle)

[2021-11-24 03:11] TimZhang001 opened #37494 "关于模型的热加载"
我这边期望能够快速的加载和释放模型，但是Paddle里面没有接口来进行模型的释放，除非对这个线程直接进行kill操作。不知道后续是否可以开放这样的模型释放接口，便于用户进行快速的加载和释放，而不需要对程序进行重启操作

[2021-11-24 03:25] FL77N commented on #37401
【队名】：优雅永不过时

【序号】：17

【论文】：Fast-RCNN

【状态】：报名+提交

【repo链接】：[repo的链接](https://github.com/FL77N/Fast-RCNN-on-PPDet)

[2021-11-24 03:30] Master-Luman opened #37495 "单阶段训练中，双塔的 slot 在共享 embedding时，如何只让其中一个塔更新 embedding，另一个塔不更新 embedding？"
如题:

比方模型由双塔组成，其中A塔的slot集合为slots_1，B塔的slot集合为slots_2，slots_2是slots_1的子集，两个塔的slot共享 embedding，那么写的语法就如下：
A塔：
        embs = []
        for data in slots_1:
            emb = fluid.layers.embedding(input=data, size=9, is_sparse = True,
                    is_distributed=True, param_attr=fluid.ParamAttr(name='embedding'))
            bow = fluid.layers.sequence_pool(input=emb, pool_type='sum')

[2021-11-24 03:41] cqray1990 commented on #37491
@LielinJiang @jzhang533 @wanglun @lileding  self.predictor.run() 运行直接挂掉，

C++ Traceback (most recent call last):

No stack trace in paddle, may be caused by external reasons.
Error Message Summary:

FatalError: Segmentation fault is detected by the operating system.
[TimeInfo: *** Aborted at 1637680470 (unix time) try "date -d @1637680470" if you are using GNU date ***]
[SignalInfo: *** SIGSEGV (@

[2021-11-24 03:43] #37286 closed, assigned to JamesLim-sy

[2021-11-24 03:46] chenwhql commented on #36281
您好，这个是paddle的报错信息，但从C++栈来看，并不是paddle内部的错误。

这个跟您解释下，import paddle之后，paddle会注册全局的signal handler，捕获系统的signal错误，导致非paddle导致的错误也会被paddle捕获到，比如说在这样一段Python代码中

[code]

这里是我们主动制造了一个段错误，但因为导入了paddle，也会报这个错误，报错如下

[code]

这样的机制，主要是为了在paddle自己出现此类错误的时候，能够捕获到一些函数栈用于解决paddle自身的问题，但缺点是，这干扰了其他场景的原生报错反馈，或者在其他组件中，这可能是预期内的行为，也被paddle捕获报错了。

为了解决这个问题，我们在2.2版本提供了disable_signal_handler接口，您可以使用这个接口关闭这一处理机制，从而得到更好的体验，

[2021-11-24 04:11] Master-Luman commented on #3306
两个 slot embedding共享之后，其中一个 stop_gradient 设为 True，另一个 还会更新吗？

[2021-11-24 04:31] CuberrChen commented on #37401
【队名】：波波啥也不会

【序号】：28

【论文】：Adversarial Learning for Semi-Supervised Semantic Segmentation

【状态】：提交

【repo链接】：https://github.com/CuberrChen/AdvSemiSeg-Paddle

[2021-11-24 05:04] xihuanafeng commented on #37401
【队名】：xihuanafeng

【序号】：22

【论文】： YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/xihuanafeng/YOLOX-Paddle

[2021-11-24 05:07] hongism commented on #37401
【队名】：QIQ
【序号】：11
【论文】：Going deeper with Image Transformers
【状态】：报名
【repo链接】：https://github.com/oyjhkong/Paddle-DEIT

[2021-11-24 05:31] LielinJiang commented on #37491
麻烦贴一下具体的代码 self.predictor.run()，看不出是啥

[2021-11-24 05:47] txyugood commented on #37401
【队名】：txyugood

【序号】：207

【论文】：Holistically-Nested Edge Detection

【状态】：报名

【repo链接】：https://github.com/txyugood/hed

[2021-11-24 05:47] txyugood commented on #37401
【队名】：txyugood

【序号】：228

【论文】：TabNet: Attentive Interpretable Tabular Learning

【状态】：报名

【repo链接】：https://github.com/txyugood/tabnet

[2021-11-24 05:48] txyugood commented on #37401
【队名】：txyugood

【序号】：217

【论文】：Stacked Hourglass Networks for Human Pose Estimation

【状态】：报名

【repo链接】：https://github.com/txyugood/PaddlePose

[2021-11-24 05:51] CuberrChen commented on #37401
【队名】：波波啥也不会

【序号】：25

【论文】：Context Encoding for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/CuberrChen/EncNet-Paddle

[2021-11-24 06:29] YellowLight021 opened #37502 "【队名】："
【队名】：自动AC机

【序号】：84

【论文】：Convolutional Sequence to Sequence Learning

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-ConvSeq2Seq

_Originally posted by @robinbg in https://github.com/PaddlePaddle/Paddle/issues/37401#issuecomment-975016223_

[2021-11-24 06:37] YellowLight021 opened #37503 "论文复现报名vnet"
【队名】：人工智障，医者仁心

【序号】：24

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/YellowLight021/Vnet

[2021-11-24 06:44] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：206

【论文】：ENet: A Deep Neural Network Architecture for Real-Time Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/ETTR123/enet

[2021-11-24 06:52] lx-cly commented on #37401
【队名】：百度飞桨

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/lx-cly/paddle_yolox

[2021-11-24 06:54] cqray1990 commented on #37491
cuda 10.2,和cudnn 8.0.4是不是两个版本不匹配？官网的安装解释：CUDA 工具包10.1/10.2配合cuDNN 7 (cuDNN版本>=7.6.5, 如需多卡支持，需配合NCCL2.7及更高)，不能超过8吧，我换成7.6.5没有问题
@LielinJiang

[2021-11-24 06:54] icey-zhang commented on #37401
【队名】：科研开小差

【序号】：59

【论文】： Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Networks

【状态】：报名&提交

【repo链接】：https://github.com/icey-zhang/MTCNN_paddle

[2021-11-24 06:59] safehumeng opened #37505 "关于CosineEmbeddingLoss"
请问贵框架是否有实现CosineEmbeddingLoss，在文档里面没有找到
具体公式如下：
![image](https://user-images.githubusercontent.com/16226299/143190140-f4678cbc-b385-4606-ab2c-d6362e70584b.png)

1）PaddlePaddle版本：paddlepaddle-gpu:2.1.3.post112

[2021-11-24 07:06] nsCosine commented on #37401
【队名】：跟紧大佬

【序号】：65

【论文】：Exploring Simple Siamese Representation Learning

【状态】：报名

【repo链接】：https://github.com/nsCosine/Paddle-Simsiam

[2021-11-24 07:07] nsCosine commented on #37401
【队名】：跟紧大佬

【序号】：65

【论文】：Exploring Simple Siamese Representation Learning

【状态】：报名

【repo链接】：https://github.com/nsCosine/Paddle-Simsiam

[2021-11-24 07:15] snoopy1316 opened #37506 "gpu预测库cmake错误"
win10从官网下载的gpu预测库，在vs2019上打开任何使用该预测库的项目的cmake设置进行编译时，都会显示CMake Error at D:\Paddle-Inference-Demo-master\Paddle-Inference-Demo-master\c++\paddle_infer_demo\CMakeLists.txt:27 (message):
  please set PADDLE_LIB with -DPADDLE_LIB=/path/paddle/lib应该怎么解决

[2021-11-24 07:18] YellowLight021 commented on #37401
【队名】：人工智障，医者仁心

【序号】：24

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/YellowLight021/Vnet

[2021-11-24 07:32] sosojust1984 commented on #37401
【队名】：sosojust

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：https://github.com/sosojust1984/Paddle_MAE

[2021-11-24 07:58] tuntuny commented on #37401
【队名】：红糖糍粑

【序号】：42

【论文】：Conditional Image Generation with PixelCNN Decoders

【状态】：报名并且提交

【repo链接】：https://github.com/adreamerof/PixelCNN

[2021-11-24 08:16] tuntuny commented on #37401
【队名】：红糖糍粑

【序号】：43

【论文】：Primitive Representation Learning for Scene Text Recognition

【状态】：报名

【repo链接】：https://github.com/adreamerof/PREN

[2021-11-24 08:19] LielinJiang commented on #37495
对于slot2中的bow，设置bow.stop_gradient=True，试试

[2021-11-24 08:30] lidanqing-vv commented on #37422
https://github.com/onnx/onnx/blob/master/docs/Operators.md#quantizelinear

[2021-11-24 08:34] lidanqing-vv commented on #37422
1. Change the save_quant_model to fit this new quant model
2. Then transform python file to C++ pass.

[2021-11-24 08:53] candence commented on #37401
【队名】：yydsqp
【序号】：44
【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation
【状态】：报名
【repo链接】：https://github.com/candence/V-Net

[2021-11-24 08:58] TCChenlong commented on #37503
开发者你好，报名是在这个ISSUE #37401 下回复哈~

[2021-11-24 08:58] TCChenlong commented on #37502
开发者你好，报名是在这个ISSUE #37401 下回复哈~

[2021-11-24 09:02] baoachun commented on #37506
请参考该路径下的run.sh，cmake命令需要传入-DPADDLE_LIB=你的paddle预测库路径。https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/ab7307fc484da4d77169640e15604441c3a3d72b/c%2B%2B/paddle_infer_demo/run.sh#L19

[2021-11-24 09:04] baoachun commented on #37494
目前paddle inference是不支持的，你可以创建两个predictor来切换

[2021-11-24 09:26] Master-Luman commented on #37495
嗯嗯，是准备这么尝试的，但就是不确定，这样会不会导致另一个塔的 embedding 也不更新了？

[2021-11-24 09:27] LielinJiang commented on #37495
这个是不会的，这样的设置只是slot2中的bow之前相关的变量不再有梯度

[2021-11-24 09:28] LielinJiang commented on #37505
暂时没有，感谢您的反馈。我们评估下是否添加

[2021-11-24 09:29] Master-Luman commented on #37495
好的，多谢！

[2021-11-24 09:55] aishangmaxiaoming opened #37518 "We only support 'to_tensor()' in dynamic graph mode, please call 'paddle.disable_static()' to enter dynamic graph mode."
<img width="1041" alt="8d5c8cd58a71c19a5fd7ef443a8b23a3" src="https://user-images.githubusercontent.com/67897601/143215823-a0191e50-282a-4bd8-a5af-4e8f75548bff.png">

[2021-11-24 10:28] ceci3 commented on #37480
可以的

[2021-11-24 10:35] justld commented on #37401
【队名】：dudu

【序号】：25

【论文】：Context Encoding for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/justld/ENCNet_paddle

[2021-11-24 10:42] lwbmowgli commented on #37401
【队名】：李长安

【序号】：12

【论文】：Tokens-to-Token ViT: Training Vision Transformers from Scratch on ImageNet

【状态】：报名

【repo链接】：https://github.com/lwbmowgli/T2T_ViT_Paddle

[2021-11-24 11:16] Lanqingsong commented on #37401
【队名】：龍襲22的团队

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution

【状态】：报名

【repo链接】：https://github.com/Lanqingsong/paddle_DetectoRS

[2021-11-24 11:32] MaDanting opened #37522 "PaddleFL一轮训练后报错TypeError ‘numpy.float64’ object is not iterable"
你好，我基于paddlepaddle=1.8.0,paddlefl=1.1.2进行训练。
这是load_data：
[code]
这是reader的封装
[code]
这是我的网络结构

[code]
在训练了一轮之后报错：
![image](https://user-images.githubusercontent.com/72608535/143230716-89974863-1772-4675-a4aa-8fab99d49c8a.png)

这是报错部分的相关代码：
[code]

[2021-11-24 12:30] DabeyHolmes commented on #29395
我没解决，不知道楼主解决了没

[2021-11-24 14:12] AIYO-CUP commented on #37401
【队名】：追风筝的猫狗
【序号】：73
【论文】：SDM: Sequential Deep Matching Model for Online Large-scale Recommender System
【状态】：报名
【repo链接】：https://github.com/AIYO-CUP/SDM_Paddle

[2021-11-24 15:08] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：10

【论文】：Recurrent Models of Visual Attention

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Recurrent-Models-of-Visual-Attention-using-paddlepaddle

[2021-11-24 23:48] LielinJiang commented on #37518
可以按照提示，进入到动态图模式中。

[2021-11-25 00:44] #37480 closed, assigned to ceci3

[2021-11-25 01:37] NSL-Wx commented on #37395
你好，我听从你的建议使用X2Paddle进行了模型转换，出现了如下问题：
F:/model\x2paddle_code.py:245: DeprecationWarning: invalid escape sequence \m
  params = paddle.load('F:\model\model.pdparams')
运行程序后，我去查看了用来存放模型的路径，该路径下存在如下文件：
![image](https://user-images.githubusercontent.com/88092471/143347337-89e08ced-da76-4bda-9a78-a6bb503223aa.png)
似乎模型转换已经完成了？是否之前出的warning并不影响模型的转换呢？
在inference_model文件夹下存在如下文件：
![image](https://user-ima

[2021-11-25 02:02] justld opened #37532 "【论文复现赛】paddle.nn.functional.conv2d在转静态图时异常"
版本：PaddlePaddle==2.2.0
环境：aistudio gpu至尊
异常信息：
在paddle.jit.to_static将模型转换为静态时，paddle.nn.functional.conv2d在以下情况会报错：

具体代码如下：

        import paddle
        import paddle.nn.functional as F

        class Model(paddle.nn.Layer):
            def __init__(self):
                super().__init__()
                self.weight = paddle.randn([1024, 1, 3, 3])

            def forward(self ,x):

[2021-11-25 02:08] STWFE commented on #37401
【队名】：三根火柴

【序号】：10

【论文】：Recurrent Models of Visual Attention

【状态】：报名

【repo链接】：https://github.com/STWFE/-RNN-

[2021-11-25 02:14] zifeiYv commented on #37401
【队名】：还有家用电器

【序号】：85

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/zifeiYv/pd-DeBERTa

[2021-11-25 02:20] baoachun commented on #37491
可以先 export GLOG_v=3 并且 删掉 py脚本中的config.disable_glog_info()，然后运行查看打屏日志，会有更详细报错，如果没有请提供下模型和脚本。或者可以加下QQ群：959308808

[2021-11-25 02:26] jiangjiajun commented on #37395
如果是预测使用，用pdiparams，如果是训练使用，用pdparams

[2021-11-25 02:33] NSL-Wx commented on #37395
你好，感谢你的回复。在等待的过程中我已经尝试使用两种文件进行训练。但不幸的是，程序运行后仍然没有识别到预训练模型。
结果如下所示：
No pretrained model for Resnet
源代码中的相关程序如下：
![图片](https://user-images.githubusercontent.com/88092471/143367527-0c700aa4-95dc-4380-bb00-e1ce8e1f573d.png)

[2021-11-25 02:36] NSL-Wx commented on #37395
令我困惑的是，最初在进行模型转换时报出过fc.weight和fc.bias无法对齐。我通过指令删除后，再运行已经可以成功生成.pdparams文件。再进行训练依旧找不到模型。之后，我尝试使用你提供的建议，用X2Paddle进行模型转化，同样也能生成.pdparams的文件，拖入程序进行参数替换，再进行训练，依旧识别不到模型。那么问题究竟出现在哪一个环节？

[2021-11-25 02:40] buriedms commented on #37401
【队名】：生活所迫

【序号】：60

【论文】：AMC: AutoML for Model Compression and Acceleration on Mobile Devices

【状态】：报名

【repo链接】：https://github.com/buriedms/AMC-Paddle

[2021-11-25 02:41] buriedms commented on #37401
【队名】：生活所迫

【序号】：54

【论文】：Can Spatiotemporal 3D CNNs Retrace the History of 2D CNNs and ImageNet?

【状态】：报名

【repo链接】：https://github.com/buriedms/3D-ResNets-Paddle

[2021-11-25 02:43] lemondante commented on #37401
【队名】：白鸟非鸟

【序号】：26

【论文】：Dynamic Multi-Scale Filters for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/lemondante/dmnet_PaddlePaddle

[2021-11-25 02:59] #37502 closed, assigned to LielinJiang

[2021-11-25 03:00] #37503 closed, assigned to LielinJiang

[2021-11-25 03:00] #37452 closed, assigned to ceci3

[2021-11-25 03:09] Shun14 commented on #37401
【队名】：起飞

【序号】：25

【论文】：Context Encoding for Semantic Segmentation

【状态】：提交

【repo链接】： https://github.com/Shun14/ENCNet-paddle

[2021-11-25 03:19] GuMaoHua commented on #37401
【队名】：幼儿园大班

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：https://github.com/GuMaoHua/MAE_PADDLE

[2021-11-25 03:22] jiangjiajun commented on #37395
1. 自己组的Python代码，或者PaddleClas的Python代码能否直接加载PyTorch同模型结构参数

2. X2Paddle转后的参数应该怎么用？

[2021-11-25 04:19] zzpicdeal commented on #37401
【队名】：ABCD

【序号】：32

【论文】：Vision Transformers for Dense Prediction

【状态】：报名

【repo链接】：https://github.com/zzpicdeal/paddle-DPT

[2021-11-25 05:25] justld commented on #37401
【队名】：dudu

【序号】：25

【论文】：Context Encoding for Semantic Segmentation

【状态】: 提交

【repo链接】：https://github.com/justld/ENCNet_paddle

[2021-11-25 05:44] DabeyHolmes opened #37539 "ValueError: (InvalidArgument) Python object is not type of class std::shared_ptr<class paddle::imperative::VarBase> (at ..\paddle\fluid\pybind\imperative.cc:79)"
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.2
    2）GPU：RTX2080Ti，CUDA 11.2
    3）系统环境：WIN11 python3.8，3.7
- 训练信息
    1）单机/单卡
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

我运行的是这个代码
https://github.com/PaddlePaddle/Research/tree/master/KG/ACL2021_GRAN
它原本的配置是
## Requirements
This project should work fine with the following environments:
- Pytho

[2021-11-25 05:51] baoachun commented on #37494
你好，能留个联系方式吗？

[2021-11-25 06:29] BossCrab-jyj opened #37542 "module 'paddle' has no attribute 'bool'"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

- 标题：module 'paddle' has no attribute 'bool'
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2
    2）CPU/GPU： CUDA==10.0
    3）系统环境：jetson nano jetpack2.0.2
    4）Python版本号 3.6
    5）显存信息

- 复现信息：from parakeet.models.lstm_speaker_encoder import LSTMSpeakerEncoder

-                     ~/notebooks/Parakeet/parakeet/modules/fastspeech2_

[2021-11-25 06:37] Ligoml commented on #35519
你好，由于框架设计的原因，pack_padded_sequence暂时不会增加，你可以参考这条 FAQ实现相同的功能：https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/train_cn.html#paddletorch-nn-utils-rnn-pack-padded-sequencetorch-nn-utils-rnn-pad-packed-sequenceapi

[2021-11-25 06:39] BossCrab-jyj commented on #37542
将 def subsequent_mask(size, dtype=paddle.bool): 改为def subsequent_mask(size, dtype=torch.bool): 可以通过，但是不确定会不会有其他问题。

[2021-11-25 06:39] FrostML commented on #37539
您好，Paddle 1.5.0 和 Paddle 2.2 差了好几个版本了，中间甚至可能会有些不兼容升级，用 2.2 直接跑 1.5 的模型大概率是不行的。可以在 PaddlePaddle/Research 这个 repo 下提一个 issue 问问这个作者是否后续有升级到新版 paddle 的计划

[2021-11-25 06:48] yt605155624 commented on #37542
您好，我是 Parakeet 的研发，paddle.bool paddle.float32 这类用法在 paddle 2.1.2 之后可用，或者您直接改成 dtype = "bool", 我们是 paddle 的代码，您把中间的某个模块换成 torch 肯定是不可用的，另外, Parakeet 所有模型已经迁移到  https://github.com/PaddlePaddle/PaddleSpeech, Parakeet 将不再维护，Parakeet 中的 Vocoder 用到了 paddle 2.2.0 新开发的 stft 算子，如果要使用，您需要把 paddle 更新到 2.2.0，谢谢~！

[2021-11-25 06:53] linyangsdu commented on #37401
【队名】：Fitzzzzz

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution

【状态】：报名

【repo链接】：https://github.com/linyangsdu/PaddleDetectoRS

[2021-11-25 06:55] developWmark commented on #37401
【队名】：6个6

【序号】：43

【论文】：Primitive Representation Learning for Scene Text Recognition

【状态】: 报名

【repo链接】：https://github.com/developWmark/paddle_PROCR

[2021-11-25 07:05] DabeyHolmes commented on #37539
我用了1.5.0.post97，cuda9.2，cudnn7.6.5
会报错parallel_for failed: no kernel image is available for execution on the device

[2021-11-25 07:06] DabeyHolmes commented on #37539
您好，我用了paddlepaddle-gpu==1.5.0.post97，cuda9.2，cudnn7.6.5
会报错parallel_for failed: no kernel image is available for execution on the device
![image](https://user-images.githubusercontent.com/49112179/143395416-cf7ba138-6ac2-4ae9-823a-bd5fc8d0e924.png)

[2021-11-25 07:08] JerrycvWork commented on #37401
【队名】：Idolmaster

【序号】：33

【论文】：UNETR: Transformers for 3D Medical Image

【状态】: 报名

【repo链接】：https://github.com/JerrycvWork/BTCV-Challenge

[2021-11-25 07:17] ZubinGou commented on #37401
【队名】：Paddorch

【序号】：74

【论文】：TiSASRec: Time Interval Aware Self-Attention for Sequential Recommendation

【状态】：报名&提交

【repo链接】：https://github.com/paddorch/TiSASRec.paddle

[2021-11-25 07:21] simuler commented on #37401
【队名】：simuler

【序号】：31

【论文】：ESPNet: Efficient Spatial Pyramid of Dilated Convolutions for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/simuler/ESPNet_paddle

[2021-11-25 07:27] HJHGJGHHG commented on #37401
【队名】：手算神经网络

【序号】：88

【论文】：Longformer: The Long-Document Transformer

【状态】: 报名

【repo链接】：https://github.com/HJHGJGHHG/Paddle-Longformer

[2021-11-25 07:38] liu1073811240 opened #37548 "在服务器centos7.9上推理模型时，报如下错。"
OMP: Error #15: Initializing libiomp5.so, but found libiomp5.so already initialized.
OMP: Hint This means that multiple copies of the OpenMP runtime have been linked into the program. That is dangerous, since it can degrade performance or cause incorrect results. The best thing to do is to ensure that only a single OpenMP runtime is linked into the process, e.g. by avoiding static linking of the O

[2021-11-25 07:47] curryliu30 commented on #37401
【队名】：金州勇士队

【序号】：88

【论文】：Longformer: The Long-Document Transformer

【状态】: 报名

【repo链接】：https://github.com/curryliu30/Paddle_Transformer

[2021-11-25 07:52] BossCrab-jyj commented on #37542
目前正在部署Parakeet中语音合成这个demo，上面这个问题已经解决了，还差最后这一步，不知道这个问题能否解决，谢谢！
mel_input: Tensor(shape=[1, 80, 1000], dtype=float32, place=CUDAPlace(0), stop_gradient=True,
       [[[-3.66981173, -1.52852535, -1.50886941, ...,  nan       ,  nan       ,  nan       ],
         [-4.53145790, -2.15945172, -2.15585017, ...,  nan       ,  nan       ,  nan       ],
         [-4.92798853, -2.69236684, -2.59501100, ...,  n

[2021-11-25 07:54] szulm commented on #37401
【队名】：SZU_VCC

【序号】：39

【论文】： StyleCLIP: Text-Driven Manipulation of StyleGAN Imagery

【状态】: 报名

【repo链接】：https://github.com/szulm/Paddle_StyleCLIP

[2021-11-25 07:56] TimZhang001 commented on #37494
什么时候可以考虑支持一下呢？

[2021-11-25 08:11] yt605155624 commented on #37542
你这个是在做动转静的过程中报错的嘛，如果是的话，可以根据官网动转静相关 issue 尝试解决，另外，看起来您像是想要用 ge2e + tacotron2 + waveflow 实现语音克隆？这套代码比较老了，我们也没有针对性的处理动转静问题，不过我们最近开源了 ge2e + fastspeech2 + pwgan 的语音克隆项目，欢迎关注 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell3/vc1

[2021-11-25 08:16] yingjie-jiang commented on #37542
好的，谢谢，不过我使用的是jetson nano jetpack4.3 cuda10.0，官方只提供了paddle2.0.2版本的安装包，看来在这个板子上面应该实现不了了

[2021-11-25 08:24] BossCrab-jyj commented on #37542
好的，谢谢，不过我使用的是jetson nano jetpack4.3 cuda10.0，官方只提供了paddle2.0.2版本的安装包，如果在服务器上部署应该会方便很多

[2021-11-25 08:24] #37542 closed, assigned to yt605155624

[2021-11-25 08:38] candence commented on #37401
【队名】：yydsqp
【序号】：44
【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation
【状态】：报名
【repo链接】：https://github.com/candence/V-Net

[2021-11-25 08:58] buriedms commented on #37401
【队名】：生活所迫

【序号】：29

【论文】： Learning to Adapt Structured Output Space for Semantic Segmentation

【状态】: 报名

【repo链接】：https://github.com/buriedms/AdaptSegNet-Paddle.git

[2021-11-25 09:00] jiaqianjing commented on #37401
【队名】：神仙会

【序号】：104

【论文】： FNet: Mixing Tokens with Fourier Transforms

【状态】：报名

【repo链接】：https://github.com/jiaqianjing/fnet_paddle

[2021-11-25 09:06] zhiqiu commented on #32927
hi, you can try to set DataLoader(persistent_workers=True)

[2021-11-25 10:05] mijjjj opened #37557 "win11的WSL2子系统支持飞桨的GPU运行么？"
因为工作原因，我手头上没有linux机器，然后使用了win11的WSL2 linux子系统，想使用飞桨的11.2 gpu运行模型。官方是否使用过这种方式

[2021-11-25 10:21] 0x00A0 commented on #37401
【队名】：今年还没秃

【序号】：30

【论文】： FastFCN: Rethinking Dilated Convolution in the Backbone for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/0x00A0/FastFCN_Paddle

[2021-11-25 11:22] jinxiqinghuan commented on #37401
【队名】：yyds

【序号】：40

【论文】： Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data

【状态】：报名

【repo链接】：https://github.com/jinxiqinghuan/Real_ESRGAN_Paddle

[2021-11-25 11:28] FrostML commented on #37539
您的显卡是？可能是 paddle 1.5 在硬件层面的不支持。

[2021-11-25 11:30] Icebinge commented on #37401
【队名】：杨枝甘露

【序号】：22

【论文】： YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/Icebinge/Paddle-YOLOX

[2021-11-25 11:34] candence commented on #37401
【队名】：Fly

【序号】：

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/candence/V-net

[2021-11-25 11:42] Icebinge commented on #37401
You may be mistaken. Our team name is "杨枝甘露"， thank you！
our comment is this：

【队名】：杨枝甘露

【序号】：22

【论文】： YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/Icebinge/Paddle-YOLOX

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年11月25日(星期四) 晚上7:34
收件人: ***@***.***&gt;;
抄送: "牵你左手 ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Padd

[2021-11-25 11:48] FrostML commented on #37557
咨询了 @zhouwei25 ，目前没测过 Windows 的 Linux 子系统，理论上可以用，可以先尝试下，如果有问题可以再提 issue。

[2021-11-25 11:49] justld commented on #37401
【队名】：dudu

【序号】：30

【论文】：FastFCN: Rethinking Dilated Convolution in the Backbone for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/justld/FastFCN_paddle

[2021-11-25 11:50] jinxiqinghuan commented on #37401
【队名】：yyds

【序号】：39

【论文】： StyleCLIP: Text-Driven Manipulation of StyleGAN Imagery

【状态】：报名

【repo链接】：https://github.com/jinxiqinghuan/StyleCLIP_Paddle

[2021-11-25 11:55] FrostML commented on #37532
您好，看报错信息是说，`group` 这个参数的输入需要是一个 `int`，但是传入了 `tensor`。动转静的时候，`paddle.shape` 的输出会被当做是 `tensor`，可以看看这里能否使用一个确定的 `int` 来表示。

[2021-11-25 11:58] justld commented on #37532
你好，我的group=batch_size * num_feature,batch_size不能保证每次训练都一样，group需要从输入的shape计算，请问有什么方法解决这个问题吗。

[2021-11-25 12:03] winnnnnnd opened #37562 "【队名】:solo\n"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2021-11-25 12:06] #37562 closed, assigned to FrostML

[2021-11-25 12:08] winnnnnnd opened #37563 "报名"
【队名】：不会啊
【序号】：22
【论文】：YOLOX: Exceeding YOLO Series in 2021
【状态】：报名
【repo链接】：https://github.com/winnnnnnd/PaddlePaddle_Thesis

[2021-11-25 12:13] wangxinxin08 commented on #37532
@justld 直接使用x.shape可以获取batch_size和channel的数值，而且动转静一般不用在训练上，你具体的需求可以说下吗？

[2021-11-25 12:19] Li-fAngyU commented on #37401
【队名】：lfy

【序号】：83

【论文】：Deep Session Interest Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/Li-fAngyU/DSIN

[2021-11-25 12:21] justld commented on #37532
你好，是这样的，我用paddleseg复现了一个模型，下面是前向代码，模型已经训练好了，我需要把他转换成静态模型，在F.conv2d这里我需要得到一个tensor的维度(N,C,H,W)，把N*C作为F.conv2d的group值，因为我不能保证预测的时候batch_size不变，所以我传参的时候不能group固定值，请问有方法可以得到N*C并且把他作为F.conv2d的参数吗。

        def forward(self, x):
                generated_filter = self.filter_gen_conv(F.adaptive_avg_pool2d(x, self.filter_size))
                x = self.input_redu_conv(x)
                b, c, h, w = padd

[2021-11-25 12:29] hxfgit commented on #37401
【队名】：不中CVPR不改名

【序号】：24

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/hxfgit/Repo

[2021-11-25 12:39] baoachun commented on #37494
可以按照我上面说的创建两个predictor来切换。

热加载以后也不会支持的

[2021-11-25 13:00] wangxinxin08 commented on #37532
@justld groups的类型必须为int类型，使用x.shape而非paddle.shape可以获取数值型的batch size和channel，另外，对于你groups设置成batch_size * channel也感觉有点疑惑，可以看下这块是不是实现上有问题

[2021-11-25 13:04] justld commented on #37532
你好，了解了，groups设置没问题，减少参数用的。

[2021-11-25 13:19] leatherking commented on #37401
【队名】：1004-1210

【序号】：12

【论文】：Tokens-to-Token ViT: Training Vision Transformers from Scratch on ImageNet

【状态】：报名

【repo链接】：https://github.com/UTSB1003/Tokens-to-Token-ViT-for-paddlle

[2021-11-25 13:41] se7enXF opened #37567 "如何获取或者编译ARM C++接口库"
查看了安装说明，从源码的例子展示的是编译python包的流程，我现在想用推理的C++接口，但是编译选项中似乎找不到相关设置。
我的编译环境不能访问互联网，看到CMakeList中需要下载若干第三方文件，是否有方法手动下载到目录中进行编译。
我的环境：Arm 64 Ubuntu，支持ascend npu。

[2021-11-25 13:48] candence commented on #37401
【队名】：Fly

【序号】：24

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/candence/V-Net

[2021-11-25 14:20] LinJayan commented on #37401
【队名】：LYyyds

【序号】：76

【论文】：Detecting Beneficial Feature Interactions for Recommender Systems

【状态】：报名

【repo链接】：https://github.com/LinJayan/SIGN-Paddle

[2021-11-25 14:52] DabeyHolmes commented on #37539
您好，我的显卡是3070的，显存8G，是因为这个原因不支持么

[2021-11-25 14:52] zhiqiu commented on #32627
hi，非常抱歉许久后才回复您。@jeffzhengye 经过分析，这个问题最近有了一些新的进展，目前定位到该问题的原因是：您在for loop中定义了不同的model，然后在训练后调用了del model。但是python的gc机制并不是立即回收的，所以这个model在执行del之后可能还未释放显存。

解决方法，在del model之后加入gc.collect()，示例如下：

[code]

[2021-11-25 15:12] hatimwen commented on #37401
【队名】：114战队

【序号】：12

【论文】：Tokens-to-Token ViT: Training Vision Transformers from Scratch on ImageNet

【状态】：报名

【repo链接】：https://github.com/hatimwen/T2T-ViT_Paddle

[2021-11-25 15:16] simuler commented on #37401
【队名】：simuler

【序号】：31

【论文】：ESPNet: Efficient Spatial Pyramid of Dilated Convolutions for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/simuler/ESPNet

[2021-11-25 17:57] chenjiyan2001 commented on #37401
【队名】：cHEn

【序号】：76

【论文】：Detecting Beneficial Feature Interactions for Recommender Systems

【状态】：报名

【repo链接】：https://github.com/chenjiyan2001/Paddle-SIGN

[2021-11-25 19:01] chenjiyan2001 commented on #37401
【队名】：cHEn

【序号】：78

【论文】：Training Deep AutoEncoders for Collaborative Filtering

【状态】：报名

【repo链接】：https://github.com/chenjiyan2001/Paddle-SIGN

ttps://github.com/chenjiyan2001/Paddle-DeepRecommender

[2021-11-26 01:01] FL77N opened #37572 "【论文复现】 关于基础链条测试"
您好，我在做 infer 的时候，一直报一下错误：
test_tipc/test_train_inference_python.sh: line 29: [: =: unary operator expected
python3.7: can't open file 'gpu': [Errno 2] No such file or directory
 Run failed with command - python3.7 gpu|cpu --enable_mkldnn=False --cpu_threads=1 --batch_size=1 --image_dir=./test_tipc/output/norm_train_gpus_0_autocast_amp/fast_rcnn_r50_fpn_1x_coco   --save_log_path=./test_tipc/demo/

[2021-11-26 01:04] TCChenlong commented on #37563
开发者你好，报名是在这个ISSUE #37401 下回复哈~

[2021-11-26 01:04] #37563 closed, assigned to FrostML

[2021-11-26 01:23] LielinJiang commented on #37505
https://docs.qq.com/sheet/DWnhZS3N1WUhMUW5Z?tab=BB08J2，如果您有时间，麻烦填写一下这个需求表格。

[2021-11-26 01:33] shangzhizhou commented on #37548
请问是否您的工程也依赖了OMP呢，可以把工程对OMP的依赖去掉试试？

[2021-11-26 01:34] mijjjj commented on #37557
可以帮忙测试下么，现在有很多用户跟我有一样的需求，我现在按照[NVIDIA的官方驱动](https://docs.nvidia.com/cuda/wsl-user-guide/index.html#abstract)安装了驱动，我是用的显卡是GTX 750TI，wsl2子系统中已经通过Conda安装了CUDA11.2，但是提示python命令提示 parallel_for failed: cudaErrorNoKernelImageForDevice: no kernel image is available for execution on the device

[2021-11-26 01:38] justld commented on #37401
【队名】：dudu

【序号】：27

【论文】：BiSeNet: Bilateral Segmentation Network for Real-time Semantic Segmentation

【状态】：提交

【repo链接】：https://github.com/justld/BisNetV1_paddle

[2021-11-26 01:39] liu1073811240 commented on #37548
谢谢，昨天解决了，推理paddleocr的时候没有将GPU改为True。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Shang ***@***.***&gt;;
发送时间: 2021年11月26日(星期五) 上午9:33
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 在服务器centos7.9上推理模型时，报如下错。 (Issue #37548)

请问是否您的工程也依赖了OMP呢，可以把工程对OMP的依赖去掉试试？

—
You are receiving this because you authored the thread.
Reply to this email dire

[2021-11-26 01:40] shangzhizhou commented on #37548
了解。

[2021-11-26 01:40] #37548 closed, assigned to FrostML

[2021-11-26 01:50] DannyIsFunny commented on #37567
Paddle-Lite 支持ascend npu 端推理
建议使用Paddle Lite ，[华为昇腾 NPU 部署示例](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/huawei_ascend_npu.html)

[2021-11-26 02:00] TCChenlong commented on #37057
嗯嗯 可以的~

[2021-11-26 02:26] S-HuaBomb commented on #37401
【队名】：绝绝子暴风躺平

【序号】：236

【论文】：Learning to Discover Cross-Domain Relations with Generative Adversarial Networks

【状态】：报名

【repo链接】：https://github.com/S-HuaBomb/DiscoGAN-Paddle

[2021-11-26 02:35] fuqianya commented on #37401
【队名】：fuqianya

【序号】：49

【论文】：Attention on Attention for Image Captioning

【状态】：报名&提交

【repo链接】：https://github.com/fuqianya/AoANet-Paddle

[2021-11-26 02:58] FrostML commented on #37539
paddle 1.5 release 的时候，3070 好像还没出。可以在 [PaddlePaddle/Research](https://github.com/PaddlePaddle/Research/issues) 这个 repo 下提一个 issue @ 这个作者是否后续有升级到新版 paddle 上的计划吧

[2021-11-26 03:00] zhangting2020 commented on #37572
请问test_train_inference_python.sh是你自己实现的脚本，还是官方哪个模型库中提供的呢，可以提供下链接？

[2021-11-26 03:00] shiquan-wang commented on #37401
【队名】：mask
【序号】：100
【论文】：RemBERT: Rethinking embedding coupling in pre-trained language models
【状态】： 报名
【repo链接】：https://github.com/shiquan-wang/Paddle-RemBERT

[2021-11-26 03:01] FrostML commented on #37557
麻烦 @zhouwei25 帮忙看看

[2021-11-26 03:12] se7enXF commented on #37567
好的，非常感谢！有问题再沟通。

[2021-11-26 03:12] #37567 closed, assigned to FrostML

[2021-11-26 03:13] zhwesky2010 commented on #37557
您好，这个原因不是WSL的原因，是由于目前CUDA11.2支持的显卡计算能力较高，不支持 5.0计算能力的显卡，可以安装Paddle 10.1或10.2版本的包

![image](https://user-images.githubusercontent.com/52485244/143521121-d1d6a4e0-0df5-4ed8-ace0-7e412f347677.png)

[2021-11-26 03:13] shizhh opened #37577 "固定seed后，固定训练集的顺序，启动两个相同的训练程序，两次的loss值不完全一致，导致无法稳定复现结果"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

- 版本、环境信息：
  Paddle version: 2.1.0
  Paddle With CUDA: True
  OS: CentOS 6.3
  Python version: 3.7.3
  CUDA version: 10.2.89
  cuDNN version: None.None.None
  Nvidia driver version: 440.33.01
- 训练信息
    1）单机单卡
    2）显存信息
    3）Operator信息

- 问题描述：
第一次的输出结果
![image](https://user-images.githubusercontent.com/6856773/143520848-

[2021-11-26 03:16] Y1YU opened #37578 "关于对齐torch.nn.init.constant_方法"
在复现论文时，发现paddle中没有对torch.nn.init.constant_()方法的对齐

torch中，可以直接这么定义 nn.init.constant_(m.bias, 0)，但是paddle中只找到nn.initializer.Constant()方法，并且它的使用是这样的nn.Linear(m.bias = nn.initializer.Constant(value=0))，必须在方法中对参数进行赋值，但我的使用场景是先判断m是不是nn.Layer，如果是就直接赋值，m.bias = nn.initializer.Constant(value=0)，这样就会报错

可以修复一下这个问题吗

[2021-11-26 04:08] jerrywgz commented on #37572
可以是用PaddleDetection下提供的tipc脚本进行测试 https://github.com/PaddlePaddle/PaddleDetection/tree/develop/test_tipc

[2021-11-26 04:15] ppy-hellowd opened #37582 "Tensor not initialized yet when Tensor::place() is called"
Paddle-fluid 1.5.0 / py3.6.4

    def test_train_dygraph(params=Params):

      with D.guard():
          # input
          data_reader = MyDataReader(FLIST)
          # layers defined
          c_embed = StateEmbedding(params, name_scope="c_state_emb")
          actor = Actor(params)
          actor_op = OP.AdagradOptimizer(learning_rate=params['actor_learning_rate'])
          limit = min(3, par

[2021-11-26 04:27] miemie2013 commented on #37401
【队名】：女装大佬咩酱

【序号】：22

【论文】： YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/miemie2013/Paddle-YOLOX

[2021-11-26 04:43] akari0216 commented on #37401
【队名】：若若若月寒

【序号】：100

【论文】：RemBERT: Rethinking embedding coupling in pre-trained language models

【状态】：报名

【repo链接】：https://github.com/akari0216/Paddle-RemBERT

[2021-11-26 04:48] zhangting2020 commented on #37582
您使用的是1.5版本的Paddle，看报错怀疑是旧版本AdagradOptimizer的bug，我们在后来的版本中曾修复过 `Tensor not initialized yet when Tensor::place() is called`这样的问题。建议您使用新版本。

[2021-11-26 04:58] liang1433223 commented on #37401
【队名】：智科小队

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/liang1433223/YOLOX_paddle

[2021-11-26 05:02] 0x00A0 commented on #37401
【队名】：今年还没秃

【序号】：48

【论文】： Fourier Contour Embedding for Arbitrary-Shaped Text Detection

【状态】：报名

【repo链接】：https://github.com/0x00A0/FCEnet_Paddle

[2021-11-26 05:14] Y1YU commented on #32202
老哥们，请问你们是怎么解决的

[2021-11-26 05:17] hebangwen commented on #32202
参考[ppdet的权重初始化](https://github.com/PaddlePaddle/PaddleDetection/blob/release%2F2.3/ppdet/modeling/initializer.py)

[2021-11-26 05:23] zhangting2020 commented on #37578
（1）报错的原因：在Paddle中，m.bias是一个parameter对象，不允许直接用Constant对象赋值，报错本身没问题。

（2）目前我们暂时未提供constant_ 这样的API，这种属于inplace API，可以直接对Tensor赋值。我根据你的需求写了一段示例代码，你可以参考：

[code]

输出
[code]

[2021-11-26 05:28] Y1YU commented on #37578
好的感谢

[2021-11-26 05:28] #37578 closed, assigned to zhangting2020

[2021-11-26 05:34] kian98 commented on #37401
【队名】：encoder

【序号】：98

【论文】：CANINE: Pre-training an Efficient Tokenization-Free Encoder for Language Representation

【状态】：报名

【repo链接】：https://github.com/kian98/Paddle-CANINE

[2021-11-26 05:35] Y1YU commented on #32202
解决了，感谢老哥

[2021-11-26 05:39] HansonSun commented on #37401
【队名】：芝麻开花

【序号】：16

【论文】：RetinaMask: Learning to predict masks improves state-of-the-art single-shot detection for free

【状态】：报名

【repo链接】：https://github.com/HansonSun/RetinaMask_Paddle

[2021-11-26 05:40] HansonSun commented on #37401
【队名】：芝麻开花

【序号】：21

【论文】：Gradient Harmonized Single-stage Detector

【状态】：报名

【repo链接】：https://github.com/HansonSun/GHM_Detection_Paddle

[2021-11-26 05:41] zhangting2020 commented on #37577
是动态图还是静态图呢？

另外可以从2方面确认下：
（1）请确认下代码中有无numpy相关的操作，可以设置下numpy的seed。
（2）尝试FLAGS_cudnn_deterministic=True，这个开关表示选择cuDNN中的确定性函数，但是可能会使性能较慢，可以调试看看是否受这个影响

如果依然没有解决，可以将您的代码整理为一个最小可复现代码，我们进一步排查。

[2021-11-26 05:41] helen88 opened #37587 "模型训练，adam op的输入grad出现nan、inf。"
- 版本、环境信息：
    1）PaddlePaddle版本：develop版本，开启支持xpu编译产出
    2）XPU
- 训练信息
    1）单机,单卡
    
我是在训练推荐的deepfm模型：adam这个op的输入grad出现nan和inf，之前的op输入输出都没有nan和inf。

![image](https://user-images.githubusercontent.com/4593091/143532047-bfeedb9d-818c-4d50-bb9f-4ca4621525ae.png)

另外， 使用PaddleRec下的训练代码 ，log_loss会有nan的情况：
路径在 PaddleRec-release-2.1.0/models/rank/deepfm/dygraph_model.py
![image](https://user-images.gi

[2021-11-26 05:41] HansonSun commented on #37401
【队名】：芝麻开花

【序号】：67

【论文】：Finding Tiny Faces

【状态】：报名

【repo链接】：https://github.com/HansonSun/Tiny_Faces_Paddle

[2021-11-26 05:47] donggoing commented on #37401
【队名】：没有名字

【序号】：7

【论文】：HRFormer: High-Resolution Transformer for Dense Prediction

【状态】：报名

【repo链接】：https://github.com/donggoing/Paddle

[2021-11-26 05:50] helen88 commented on #37587
补充下信息：我是在KL2，昆仑2 上跑的训练，超参都没有做改动。

[2021-11-26 06:01] zhangting2020 commented on #37587
我看了下log，是linear_1.w的梯度出现了nan。你的第二个测试，是说怀疑log_loss这个API导致的吗？

- 我测试了下官网文档的例子log_loss确实出现nan，在GPU/CPU上都出现nan
  - GPU
![image](https://user-images.githubusercontent.com/26615455/143534185-12534fb4-fba9-41ae-8c4e-e477d0995f28.png)
  - CPU
![image](https://user-images.githubusercontent.com/26615455/143534205-81b75626-9506-4851-9926-5b04ea39aeed.png)

- 是否方便换一个loss试试，确认下是不是log_loss引起的，因为XPU上和CPU并不是同一个ke

[2021-11-26 06:02] Y1YU opened #37588 "paddle中没有torch.tensor.erfinv()对应API"
如题，paddle中只有paddle.erf()，而没有paddle.erfinv()对应实现，请问怎么解决呢

[2021-11-26 06:07] helen88 commented on #37587
我已经换成了bce loss，
![image](https://user-images.githubusercontent.com/4593091/143534744-46a1943d-b4ff-4c75-8e5f-70ec2557d6ae.png)
还是有相同的问题。

[2021-11-26 06:11] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：220

【论文】：Context Prior for Scene Segmentation

【状态】：报名

【repo链接】：https://github.com/ETTR123/ContextPrior_Paddle

[2021-11-26 06:14] zhangting2020 commented on #37587
看上去并不一定是loss引起的，能尝试用这个检查nan的工具看看，最开始是在网络哪一层出现的nan吗？另外如果查到可以将输入保存下来，上传到这里。https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/flags/check_nan_inf_cn.html#check-nan-inf

[2021-11-26 06:19] akari0216 commented on #37401
【队名】：若若若月寒

【序号】：99

【论文】：LUKE: Deep Contextualized Entity Representations with Entity-aware Self-attention

【状态】：报名

【repo链接】：https://github.com/akari0216/Paddle-LUKE

[2021-11-26 06:22] ELKYang commented on #37401
【队名】：冲

【序号】：55

【论文】：Learning Spatiotemporal Features with 3D Convolutional Networks

【状态】：报名

【repo链接】：https://github.com/ELKYang/C3D_Paddle

[2021-11-26 06:29] zhangting2020 commented on #37588
您好，目前Paddle暂时没有提供该API。请问是在什么任务中/场景中需要用到？我们会尽快评估，在后续版本中进行添加该API。

[2021-11-26 06:31] shizhh commented on #37577
是动态图，我整理了一下代码，帮忙排查一下
数据样例在demo/data数据集下
直接运行`python train.py `即可开始训练
[demo.tar.gz](https://github.com/PaddlePaddle/Paddle/files/7606727/demo.tar.gz)

[2021-11-26 06:33] Y1YU commented on #37588
论文中使用到trunc_normal()对参数进行初始化，调用的是timm的trunc_normal_()，里面用到torch.tensorerfinv()，但是用paddle复现时paddle没有这个函数。原论文代码像这样`trunc_normal_(m.weight, std=0.02)`

[2021-11-26 06:36] zhangting2020 commented on #37577
具体需要如何配置环境呢？我尝试运行，提示 NoduleNotFoundError: No module named 'ernie'

[2021-11-26 06:37] shizhh commented on #37577
python -m pip install paddle-ernie==0.2.0.dev1

[2021-11-26 06:41] zhangting2020 commented on #37588
好的，另外确认下，这个是在做论文复现任务吗？

[2021-11-26 06:42] Y1YU commented on #37588
对

[2021-11-26 06:59] nuaaceieyty commented on #37401
【队名】：EICAS

【序号】：204

【论文】：YOLOv4: Optimal Speed and Accuracy of Object Detection

【状态】：报名

【repo链接】：https://github.com/nuaaceieyty/Paddle-YOLOv4

[2021-11-26 07:12] zhangting2020 commented on #37577
其他的环境有什么要求吗？会有新的报错，PosixPath' object has no attribute 'tell'

[2021-11-26 07:38] yanqswhu commented on #37401
【队名】：Yan

【序号】：205

【论文】：Deeper Depth Prediction with Fully Convolutional Residual Networks

【状态】：报名

【repo链接】：https://github.com/Yannnnnnnnnnnn/Paddle_FCRN

[2021-11-26 07:39] yanqswhu commented on #37401
【队名】：Yan

【序号】：206

【论文】：Unsupervised Monocular Depth Estimation with Left-Right Consistency
【状态】：报名

【repo链接】：https://github.com/Yannnnnnnnnnnn/Paddle_monodepth

[2021-11-26 07:39] yanqswhu commented on #37401
【队名】：Yan

【序号】：207

【论文】：Digging Into Self-Supervised Monocular Depth Estimation

【状态】：报名

【repo链接】：https://github.com/Yannnnnnnnnnnn/Paddle_monodepth2

[2021-11-26 07:54] shizhh commented on #37577
这个问题可能是ERNIE套件的问题，参考https://github.com/PaddlePaddle/ERNIE#安装
手动安装ERNIE套件试一下。
[code]

[2021-11-26 08:03] NSL-Wx commented on #37395
感谢你的回复，但这并没有解决我的问题。我想知道的是为什么我完成了转换，但程序无法识别我转换的模型，显示没有预训练模型呢？

[2021-11-26 08:06] thugbobby opened #37594 "在RK3399+麒麟操作系统上编译paddle报错"
RK3399+麒麟V4操作系统编译Paddle2.1环境时，执行如下命令报错：
`cmake .. -DPY_VERSION=3 -DPYTHON_EXECUTABLE=`which python` -DWITH_ARM=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_XBYAK=OFF`
报错如下：
`CMake Error at paddle/fluid/operators/controlflow/CMakeLists.txt:6 (register_operators):
  Unknown CMake command "register_operators".

-- Configuring incomplete, errors occurred!
See also "/home/kylin

[2021-11-26 08:12] ranpeng-git commented on #37401
【队名】：AE86

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：https://github.com/ranpeng-git/MAE-paddle

[2021-11-26 08:15] FL77N commented on #37572
链接为 https://github.com/deepinsight/insightface/tree/master/recognition/arcface_paddle/test_tipc

[2021-11-26 08:15] FL77N commented on #37572
好的，谢谢

[2021-11-26 08:21] ELKYang commented on #37401
【队名】：冲

【序号】：54

【论文】：Can Spatiotemporal 3D CNNs Retrace the History of 2D CNNs and ImageNet?

【状态】：报名

【repo链接】：https://github.com/ELKYang/3D_Resnet

[2021-11-26 08:31] FarranYang commented on #37401
【队名】：ssrYYYY

【序号】：14

【论文】：Rethinking Spatial Dimensions of Vision Transformers

【状态】：报名

【repo链接】：https://github.com/FarranYang/pit

[2021-11-26 08:48] zhangting2020 commented on #37587
经用户定位是，是matmul_v2_grad XPU算子的bug，并反馈check-nan-inf工具不支持XPU

[2021-11-26 08:50] zhangting2020 commented on #37594
麻烦查看下编译log，将关键错误内容上传一下

[2021-11-26 08:50] aabbcc2345 commented on #37401
【队名】：潜龙勿用

【序号】：2

【论文】：Swin Transformer V2: Scaling Up Capacity and Resolution

【状态】：报名

【repo链接】：https://github.com/aabbcc2345/swinv2

[2021-11-26 09:03] #37587 closed, assigned to zhangting2020

[2021-11-26 09:03] helen88 commented on #37587
Thank~

[2021-11-26 09:23] jiangjiajun commented on #37395
你这里指的程序是什么呢？ 我理解你说的程序即Python代码，所以你的Python代码是X2Paddle转出来的Python代码，还是你自己用Paddle写的或PaddleClas的代码呢，参考上面的第一点

[2021-11-26 09:23] #37582 closed, assigned to zhangting2020

[2021-11-26 09:29] zhangting2020 commented on #37577
我按照说明尝试了，但是并不能运行成功。辛苦你确认下

分别运行2次，是从第一个step 开始，2次训练的loss就无法对应上吗？还是在一段时间后才出现？
我看你补充了，仅在GPU下出现，有试过FLAGS_cudnn_deterministic=True测试吗？

[2021-11-26 09:37] thugbobby commented on #37594
Source file was:
int main() { return 0; }
Performing C SOURCE FILE Test C_COMPILER_SUPPORT_FLAG__Wno_error_int_in_bool_context failed with the following output:
Change Dir: /home/kylin/Paddle/build/CMakeFiles/CMakeTmp

Run Build Command(s):/usr/bin/make cmTC_dc3ac/fast && /usr/bin/make  -f CMakeFiles/cmTC_dc3ac.dir/build.make CMakeFiles/cmTC_dc3ac.dir/build
make[1]: Entering directory '/home/kylin

[2021-11-26 09:43] shizhh commented on #37577
1. 由于每10个step打印loss，观察到的结果是，第2次或者第3次开始就会在小数点后几位无法对应上
2. 尝试了FLAGS_cudnn_deterministic=True，同样能复现
3. 不能成功运行，如果报错是`ValueError: (InvalidArgument) Tensor holds the wrong type, it holds float, but desires to be double.`，把train.py中第36行，float64改成float32，或者直接改weight=None

[2021-11-26 10:13] Louis8582 opened #37609 "动态转静态中出现数据未初始情况"
操作需求是在模型前面透过 paddle 加上 resize, normalize 等 transform 动作，并且导出成静态模型，在 paddlepaddle 2.1.3 的环境下针对 object detection 的输入(dic) 遇过初始化问题，原先代码如下:
x['image'] = x['image'].astype(paddle.float32)
系统汇报类似于找不到 x['image']的错误，我想应该是无法针对指定好记忆体空间的参数做变化，因此透过重新建构另一個空间就可解决，程式码如下:
outs = {}
outs['image'] = x['image'].astype(paddle.float32)
outs['im_shape'] = x['im_shape']
outs['scale_factor'] = x['scale_factor']

但问题就在于 p

[2021-11-26 11:12] renmada commented on #37401
【队名】：arbiter

【序号】：77

【论文】：Efficient Non-Sampling Factorization Machines for Optimal Context-Aware Recommendation

【状态】：报名

【repo链接】：https://github.com/renmada/ENSFM-paddle

[2021-11-26 11:14] qiceng commented on #37328
您好，我是Video的同学，方便和您取得联系吗？我的邮箱是zhaojun12@baidu.com

[2021-11-26 11:14] qiceng commented on #37328
您好，我是Video的同学，方便和您取得联系吗？我的邮箱是zhaojun12@baidu.com

[2021-11-26 11:21] thgpddl commented on #37401
【队名】：风车村

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：[https://github.com/thgpddl/MaskedAutoencodersAreScalableVisionLearners](https://github.com/thgpddl/MaskedAutoencodersAreScalableVisionLearners)

[2021-11-26 11:22] renmada commented on #37401
【队名】：arbiter

【序号】：77

【论文】：Efficient Non-Sampling Factorization Machines for Optimal Context-Aware Recommendation

【状态】：提交

【repo链接】：https://github.com/renmada/ENSFM-paddle

[2021-11-26 12:03] yt605155624 opened #37615 "大部分的激活函数都在 paddle.nn.functional, 为什么 tanh 可以直接 paddle.tanh"
大部分的激活函数都在 paddle.nn.functional 里面, 比如 sigmoid softmax，但是可以直接通过 paddle.tanh 调用 tanh，感觉这样接口很不统一 。。

[2021-11-26 12:53] Windxy commented on #37401
【队名】：SmallWind

【序号】：207

【论文】：Holistically-Nested Edge Detection

【状态】：报名

【repo链接】：https://github.com/Windxy/hed

[2021-11-26 13:26] winnnnnnd commented on #37401
【队名】：WhiteBlue

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/winnnnnnd/Paddle_YOLOX

[2021-11-26 13:34] ZiJINII opened #37624 "怎么为当前GPU设置随机种子"
torch.cuda.manual_seed(args.seed)找不到对应的paddle平台API文档

[2021-11-26 14:21] pooruss commented on #37401
【队名】：lsh冲冲冲

【序号】：67

【论文】：Finding Tiny Faces

【状态】：报名

【repo链接】：[finding tiny faces](https://github.com/pooruss/Finding-Tiny-Faces-Paddle)

[2021-11-26 15:18] pmajchrzak opened #37628 "DYGRAPH Resnet training runtime fail"
Commit: https://github.com/PaddlePaddle/Paddle/commit/895692e3c56eb9927ed652c1ecb27dc94e1bf297 causes failure of model DYGRAPH Resnet training. It was tested on few machines with different processors - same error on each machine

Training script was taken from: https://github.com/PaddlePaddle/models/tree/develop/dygraph/resnet

#### Run command:
[code]

#### Failure output:
[code]
#### CMAKE flags

[2021-11-26 15:45] honshj commented on #37522
能否贴出你的fl_trainer.py的完整代码？

[2021-11-26 16:33] Jan-jia commented on #37401
【队名】：只想摸鱼

【序号】：41

【论文】：Image Super-Resolution Using Very Deep Residual Channel Attention Networks

【状态】：报名 & 提交

【repo链接】：https://github.com/Jan-jia/Paddle-RCAN

[2021-11-26 18:24] MaDanting commented on #37522
你好，这是fl_trainer的完整代码。
[code]
另外，我在对fl_trainer的代码结构进行调整后，不再报错。但是当一轮训练结束后，一直都没有继续下一轮。也没有任何报错，同样也没有跳出训练。不知道是是第一轮还在eval阶段，test的数据读取仍然有问题。还是第二轮训练的数据读取有问题。

[2021-11-27 01:47] maye1998 opened #37632 "Paddle取出最大特征值对应的特征向量"
对于一个三维矩阵（batch_size, n, n）进行特征值分解

Tensorflow直接进行tf.linalg.eig本身就是排序好的，PyTorch的gather功能更强大一些，可以通过取最大拿到索引后得到。

但是paddle的gather没有那么强大，怎么能得到最大特征值对应的特征向量呢？

[code]

[2021-11-27 02:13] youngAt19 commented on #37401
【队名】：407

【序号】：35

【论文】：A Style-Based Generator Architecture for Generative Adversarial Networks

【状态】：报名

【repo链接】：[repo的链接](https://github.com/youngAt19/paddle-stylegan_v1)

[2021-11-27 02:52] AnnYellow commented on #37401
【队名】：清水摸鱼

【序号】：205

【论文】：Hybrid Task Cascade for Instance Segmentation

【状态】：报名

【repo链接】：[https://github.com/AnnYellow/htc_paddle](https://github.com/AnnYellow/htc_paddle)

[2021-11-27 03:27] youngAt19 commented on #37401
【队名】：407

【序号】：8

【论文】：PVTv2: Improved Baselines with Pyramid Vision Transformer

【状态】：报名

【repo链接】：https://github.com/youngAt19/paddle-pvt-v2

[2021-11-27 04:00] HJHGJGHHG commented on #37401
【队名】：手算神经网络

【序号】：104

【论文】：FNet: Mixing Tokens with Fourier Transforms

【状态】：报名

【repo链接】：https://github.com/HJHGJGHHG/Paddle-FNet

[2021-11-27 06:28] linuxonly801 commented on #37353
你好，升级pip后，就可以正常安装albumentations了。

[2021-11-27 06:28] #37353 closed, assigned to nobody

[2021-11-27 06:30] #37532 closed, assigned to FrostML

[2021-11-27 08:17] zhjdream commented on #37401
【队名】：他们让我报的，我不会啊

【序号】：38

【论文】：Taming Transformers for High-Resolution Image Synthesis

【状态】：报名

【repo链接】：https://github.com/zhjdream/paddle-taming-transformers

[2021-11-27 08:18] NSL-Wx commented on #37395
感谢你的回复，代码是通过开源渠道获得的代码，我是希望通过复现熟悉paddlepaddle这个框架。在代码中原作者通过convert将torch的预训练模型转换为paddle模型，进行权重的转换，再通过paddle进行加载和使用。我就是在加载模型时出现了问题。
以下是原程序中的convert.py
![图片](https://user-images.githubusercontent.com/88092471/143673820-70f2c758-932c-4cfa-9da9-87e47a8d4ba2.png)
以下是原程序中权重转换的部分代码：
![图片](https://user-images.githubusercontent.com/88092471/143673852-9e9f5c82-1cd4-43df-9b70-bb273671f545.png)
其中的两句 del 部分是我为

[2021-11-27 09:00] XiangLingjie commented on #37401
【队名】：516-1

【序号】：23

【论文】：Video-to-Video Synthesis

【状态】：报名

【repo链接】：https://github.com/XiangLingjie/Paddle-vid2vid

[2021-11-27 09:04] zhjdream commented on #37401
【队名】：他们让我报的，我不会啊

【序号】：41

【论文】：Image Super-Resolution Using Very Deep Residual Channel Attention Networks

【状态】：报名

【repo链接】：https://github.com/zhjdream/paddle-RCAN

[2021-11-27 09:53] justld commented on #37401
【队名】：dudu

【序号】：26

【论文】：Dynamic Multi-Scale Filters for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/justld/DMNet_paddle

[2021-11-27 10:00] chencn2020 commented on #37401
【队名】：会飞的明湖烤鸭

【序号】：8

【论文】：PVTv2: Improved Baselines with Pyramid Vision Transformer

【状态】：报名

【repo链接】：https://github.com/chencn2020/PVTv2_paddle

[2021-11-27 10:19] LinJayan commented on #37401
【队名】：LYyyds

【序号】：80

【论文】：FLEN: Leveraging Field for Scalable CTR Prediction

【状态】：报名

【repo链接】：https://github.com/LinJayan/FLEN-Paddle

[2021-11-27 13:47] xuxuxuzy opened #37640 "import paddle失败"
![image](https://user-images.githubusercontent.com/67948611/143684093-2096dd5f-ec14-48b5-a19f-c9c271ca1cc2.png)

[2021-11-28 01:44] jiangjiajun commented on #37395
建议在此开源Repo下咨询下原作者

[2021-11-28 03:35] kongdebug commented on #37401
【队名】：Key.L刘波

【序号】：41

【论文】： Image Super-Resolution Using Very Deep Residual Channel Attention Networks

【状态】：提交

【repo链接】：https://github.com/kongdebug/RCAN-Paddle

[2021-11-28 04:48] Klaus-Chow commented on #37401
【队名】：啥都不会团队

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：[repo的链接](https://github.com/Klaus-Chow/Paddle-YOLOX)

[2021-11-28 05:56] thisisi3 commented on #37401
【队名】：thestone

【序号】：21

【论文】：Gradient Harmonized Single-stage Detector

【状态】：报名

【repo链接】：[repo的链接](https://github.com/thisisi3/Paddle-GHM)

[2021-11-28 06:08] ranpeng-git commented on #37401
【队名】：AE86

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：[repo的链接](https://github.com/ranpeng-git/MAE-paddle)

[2021-11-28 08:40] BADBADBADBOY opened #37646 "【论文复现】 取Linear层的in_features报错，其他类型的层可以"
model = resnet50()
for (i,layer) in enumerate(model.sublayers()):
    if type(layer)==nn.Conv2D:
        print(layer)
        print(layer._stride)
    elif type(layer)==nn.BatchNorm2D:
        print(layer)
        print(layer._num_features)
    elif type(layer)==nn.Linear:
        print(layer)
        print(layer._in_features)

paddle版本：2.2.0

[2021-11-28 08:49] shier1 commented on #37401
【队名】：shier

【序号】：20
【论文】：You Only Look One-level Feature

【状态】：报名

【repo链接】：https://github.com/shier1/paddlepaddle-yolof

[2021-11-28 09:40] danleifeng commented on #37640
请问你在什么环境下安装的什么版本的paddle whl包呢？可以先根据文档自查一下:
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/windows-pip.html
，还遇到什么问题欢迎反馈。

[2021-11-28 12:52] suumos commented on #37401
【队名】：不会不学不练

【序号】：68

【论文】：MVFNet: Multi-View Fusion Network for Efficient Video Recognition

【状态】：报名

【repo链接】：https://github.com/suumos/Paddle

[2021-11-29 01:02] lx-cly commented on #35240
@jesse01 我想问一下，yolox 训练coco数据集要花18天吗？

[2021-11-29 01:06] lx-cly commented on #37401
【队名】：狐臭队
【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/lx-cly/paddle_yolox

[2021-11-29 01:15] huilin16 commented on #37401
【队名】：这道题我不会做呀

【序号】：7

【论文】：HRFormer: High-Resolution Transformer for Dense Prediction

【状态】：报名

【repo链接】：https://github.com/huilin16/HRFormer_paddle

[2021-11-29 02:16] KiritoSSR commented on #37401
【队名】：FairyTail

【顺序】：51

【论文】：From Recognition to Cognition: Visual Commonsense Reasoning

【状态】：注册

【repo链接】：https://github.com/KiritoSSR/r2c_paddle

[2021-11-29 02:48] safehumeng commented on #37505
已经填写到表格中

[2021-11-29 03:10] IcarusWizard commented on #37401
【队名】：SOLO

【序号】：18

【论文】：Deep Predictive Coding Networks for Video Prediction and Unsupervised Learning

【状态】：报名

【repo链接】：https://github.com/IcarusWizard/prednet-paddle

[2021-11-29 03:19] ppy-hellowd opened #37650 "共享的embedding作为下游Layer的输入，动态图模式下如何训练embedding 的权重"
构建了一个输入embedding Layer，作为下游两个 Layer的输入，得到两个loss，再用两个 optimizer 优化。Optimizer 不知道该怎么设置parameter_list，一个 optimizer能同时优化上下游两个layer吗？

    def main(params):
        with D.guard():
            # data batch reader
            data_reader = MyDataReader(FLIST)
            # layers
            c_embed = StateEmbedding(params, name_scope="c_state_emb")
            n_embed = StateEmbedding(params, name_scop

[2021-11-29 03:26] zhangting2020 commented on #37577
我排查了下，应该是GPU上 dropout op有问题，我们后续会进行修复
- GPU上，如果把dropout关掉，2次训练的结果可以保持一致
- CPU上，dropout关闭与否，结果都是一致

[2021-11-29 03:27] zhangting2020 commented on #37572
@FL77N 问题是否已解决呢

[2021-11-29 03:40] ForFishes commented on #37646
您好。``nn.Linear``这个类没有``_in_features``的这个属性。如果要打印权重的shape信息，可以用如下方法：
``
print(layer.weight.shape[0], layer.weight.shape[1])
``

[2021-11-29 03:56] danleifeng commented on #37632
请问您使用gather的报错信息是这个op不支持complex型吗？

[2021-11-29 04:40] swewjk commented on #37401
【队名】：滴滴滴

【序号】：40

【论文】：Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data

【状态】：报名

【repo链接】：https://github.com/swewjk/paddlefuxian

[2021-11-29 05:00] jiaohuix opened #37651 "[论文复现]paddle索引操作有点慢"
- 标题：paddle索引操作慢，影响训练
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.0
    2）CPU：
    3）GPU：3060，CUDA 11.1
    4）系统环境：win19，Python 3.6
 注：您可以运行test_slice.py运行得到torch、paddle、numpy的索引速度
- 模型信息
    1）模型名称 recurrent attention mdoel
    2）使用数据集名称 mnist

- 问题描述：改模型需要按照start和end 的位置对batch的图片进行截取patch，使用的是for循环对每张图片截取。目前看paddle的索引比其他的要慢，是不是我使用错了，或者有没有其他的操作可以完成这个op？谢谢
[test_slice.zip](https://github.com/PaddlePaddle/

[2021-11-29 05:06] FrostML commented on #37542
https://paddleinference.paddlepaddle.org.cn/master/user_guides/download_lib.html#python
新版的安装包可以在这里看到

[2021-11-29 06:25] zhangting2020 commented on #37615
您好，感谢您的建议，Paddle中对于Tensor的基础运算通过paddle.xx进行调用，您反馈的tanh和其他的例如cosh、cos等API被归类为基础的数学操作。尽管它们同时也可以用作激活函数。

[2021-11-29 06:42] FL77N commented on #37572
解决了但没完全解决，已转移至 ppdet 提 issue 解决过程中^v^

[2021-11-29 06:55] zhangting2020 commented on #37624
您好，paddle中统一通过paddle.seed设置。https://www.paddlepaddle.org.cn/documentation/docs/zh/2.1/api/paddle/seed_cn.html#seed

[2021-11-29 06:55] wangxiansheng999 opened #37657 "报名"
【队名】：zzuyjs
【序号】：100
【论文】：RemBERT: Rethinking embedding coupling in pre-trained language models
【状态】：报名
【repo链接】：https://github.com/wangxiansheng999/RemBERT

[2021-11-29 06:56] #37624 closed, assigned to zhangting2020

[2021-11-29 07:14] XXp4ngXX commented on #37401
【队名】：浪费时间

【序号】：84

【论文】：Convolutional Sequence to Sequence Learning

【状态】：报名

【repo链接】：https://github.com/XXp4ngXX/ConvSeq

[2021-11-29 07:15] zhangting2020 commented on #37609
您好，请问是使用paddle.jit.to_static接口进行动转静的过程中，发现assign API报的这个错误吗？另外方便提供下一个最小可复现代码，帮您排查下使用方式有没有问题

[2021-11-29 07:18] #37615 closed, assigned to zhangting2020

[2021-11-29 07:34] kongdebug commented on #37401
【队名】：Key.L刘波

【序号】：41

【论文】： Image Super-Resolution Using Very Deep Residual Channel Attention Networks

【状态】：提交

【repo链接】：https://github.com/kongdebug/RCAN-Paddle

[2021-11-29 07:40] seckers commented on #37401
【队名】：Sousey冲鸭

【序号】：33

【论文】：UNETR: Transformers for 3D Medical Image

【状态】：报名

【repo链接】：https://github.com/seckers/Thesis-retrieval-Sousey

[2021-11-29 07:44] zyfncg commented on #37651
目前PaddlePaddle的索引切片相比于Pytorch和Numpy性能确实要稍低一些，但是常规的索引操作不会出现特别大的性能差异，我们对测试脚本做了简单的调试分析，初步的结果如下图所示：
![image](https://user-images.githubusercontent.com/13048366/143824374-fde09f1e-e4d5-489f-a92d-8410393d8f1e.png)

![image](https://user-images.githubusercontent.com/13048366/143824442-065ac9fb-4bdf-4d6a-a795-6ffc83670bb4.png)

图中红框里索引内部的几个tensor索引对性能影响比较大，如果不是必需的话建议这里的内部切片不用tensor去索引

关于索引性能优化的相关工作我们目前正在

[2021-11-29 07:50] jiaohuix commented on #37651
意思是使用paddle.slice么？还有我训练用numpy，静态图用paddle的切片可以么？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年11月29日(星期一) 下午3:44
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] [论文复现]paddle索引操作有点慢 (Issue #37651)

目前PaddlePaddle的索引切片相比于Pytorch和Numpy性能确实要稍低一些，但是常规的索引操作不会出现特别大的性能差异，我们对测试脚本做了简单的调试分析，初步的结果如下图所示：

图中红框里索引内部的几个tensor索引对性

[2021-11-29 07:59] renmada commented on #37401
【队名】：arbiter

【序号】：101

【论文】：Adapt-and-Distill: Developing Small, Fast and Effective Pretrained Language Models for Domains

【状态】：报名

【repo链接】：https://github.com/renmada/adalm-paddle

[2021-11-29 08:00] zyfncg commented on #37651
上面的例子如果使用paddle.slice可能性能上会比原来要好一些，可以实验对比一下
表示下标信息的索引变量目前可以使用Numpy，动静态图是一样的

[2021-11-29 08:10] Louis8582 commented on #37609
我是在 paddlex 里面做 export_inference_model 遇到这个问题，但我看他底层也是做 jit.to_static 所以应该是一致的，报的错误如下。
![{E86EFB11-E974-4ED0-B9CD-90A82EB50C26} png](https://user-images.githubusercontent.com/23739360/143830063-b6c4764a-ff31-48bb-a5e8-ca1c30771158.jpg)

可复制我想你就如下操作应该就会遇到，只有针对object detection 或 instance 这种输入为字典的模型会有问题，导出的静态模型在实际运作时就会显示出上面截图的错误，或者你可以在转成program去执行有一样的问题。
[code]

[2021-11-29 08:11] renmada commented on #37401
【队名】：arbiter

【序号】：101

【论文】：Adapt-and-Distill: Developing Small, Fast and Effective Pretrained Language Models for Domains

【状态】：提交

【repo链接】：https://github.com/renmada/adalm-paddle

[2021-11-29 08:17] jiaohuix commented on #37651
![1638173821(1)](https://user-images.githubusercontent.com/68314259/143831605-b2c7c93d-f00c-494e-a6d2-6c6319fc026f.jpg)
这是啥原因呀

[2021-11-29 08:32] zyfncg commented on #37651
看上去像是动转静的时候数据有问题，如果动态图代码运行没问题的话可以再提交一个issue咨询一下相关的同学

[2021-11-29 08:35] yt605155624 opened #37662 "ValueError: 'bilinear', 'bicubic' and 'nearest' only support 4-D tensor."
nn.Upsample 输入是 3D 的时候，mode 不可以是 'nearest' ，只可以是 'linear'，pytorch 输入是 3d 的时候，可以是  'nearest'

[2021-11-29 08:37] gsq7474741 opened #37663 "CUDA random op 集体报错"
- 标题：CUDA random op 集体报错
- 版本、环境信息：
    1）PaddlePaddle版本：https://github.com/PaddlePaddle/Paddle/pull/37024
    2）CPU：PR-CI-Windows环境
    3）GPU：PR-CI-Windows环境
    4）系统环境：PR-CI-Windows环境
- 训练信息
    1）PR-CI-Windows环境
- 复现信息：PR-CI-Windows环境，cuda的uniform_random gaussian_random op如图报错，[日志链接](https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/detail/4154107/job/9572187)
-
- <img width="826" alt="ima

[2021-11-29 08:37] pangyoki commented on #37443
你好，我们验证了下，不好意思，原因的确是把cuda10.1的包上传到了cuda10.2的目录下，导致你安装的是cuda10.1的包。
这个问题现在已经修复了，可以正常安装cuda10.2的包了。感谢反馈！

[2021-11-29 08:47] gloria111 opened #37665 "less_than API"
- 标题：“Less_than 文档问题”，”paddle.less_than文档问题“
- 文档版本信息：请提供有问题的文档的版本号2.1；

### 文档问题描述：

#### 文档描述看的懂，知道这个API该怎么用；

#### 其他
在训练模型时前几十个iter通过该语句都正常，但之后突然报错。报错信息如下：

![捕获](https://user-images.githubusercontent.com/26295563/143837722-a30c8bd3-0b8e-4426-b34d-2c498a6d616d.PNG)

现在尝试输出两个tensor的具体数值:
tl:Tensor(shape=[27, 1, 2], dtype=float32, place=CUDAPlace(0), stop_gradient=True,
       [[[131.21775818, 4

[2021-11-29 09:01] Darki-luo commented on #37443
现在正常了。有一个问题，使用conda可以正常安装使用paddlepaddle-gpu 2.0.2 的版本，对avx的算子检测是warning,但是2.1.x版本之后就是error了，需要单独使用pip安装noavx的版本，这个能优化一下吗

[2021-11-29 09:23] mojiayuan commented on #33481
How to solve this bug

[2021-11-29 10:00] lidanqing-vv commented on #37628
@Aganlengzi

[2021-11-29 10:01] Ligoml commented on #37588
你好，请问你复现的赛题是哪一道？是否加入了微信答疑群？这个 api 会阻塞你的论文复现吗？如果阻塞我们会高优增加这个 api 的支持~

[2021-11-29 10:08] #30702 closed, assigned to luotao1, jczaja, wojtuss

[2021-11-29 10:49] gloria111 commented on #37665
标题：“Operator logical_not 文档问题”，”paddle.logical_not文档问题“
偶尔新出现问题如下：
![image](https://user-images.githubusercontent.com/26295563/143860960-f5986c3b-2c8f-4ebd-98c1-505589bacea2.png)

[2021-11-29 10:54] qiuming-93 opened #37671 "使用paddleclas中的PPLCNet模型计算backward时出现报错弹窗"
- 标题：使用paddleclas中的PPLCNet模型计算backward时出现报错弹窗
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-2.1.0,paddleclas-2.3
    2）CPU：intel i5-7500
    4）系统环境：win10，Python3.6

背景：
尝试基于paddleclas中的PPLCNet模型实现grad-cam展示特征热力图
在推理之前将模型的BatchNorm层的training属性设置为False，其它层不动，
然后在推理时参考https://aistudio.baidu.com/aistudio/projectdetail/3145483?forkThirdPart=1中的实现方式计算grap-cam，
推理结果与正常推理结果一致，但是在backward时报错0x00007FFC4821F5

[2021-11-29 11:24] yeliang2258 commented on #37665
用户你好，请提供具体可复现的python脚本，便于我这边快速解决问题，谢谢！

[2021-11-29 11:38] qjing666 commented on #37522
报错应该在这一行：

[2021-11-29 11:42] qjing666 commented on #37522
报错应该在这一行：
[code]
可以看下train_test_reader函数的输出是否为可循环的格式。

报错信息看起来不是第二轮训练报错，而是第一轮测试集上的报错

[2021-11-29 12:11] Darki-luo opened #37677 "关于AVX算子的版本检测建议"
之前反馈了一个关于noavx的paddlepaddle-gpu安装问题，已经得到解决，在反馈这个问题的过程中，我发现paddlepaddle gpu版本在2.0.2的版本对avx算子的检测是waring，但之后的版本一律都是报错error，需要单独使用pip安装noavx的版本，这个能优化一下吗？
——————————————————————————————————————————————————
conda install paddlepaddle-gpu=2.0.2 的运行是正常的,avx算子检测就是warning：
Python 3.8.5 (default, Sep  4 2020, 07:30:14)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" fo

[2021-11-29 12:14] #37443 closed, assigned to sandyhouse, pangyoki

[2021-11-29 13:06] XXp4ngXX commented on #37401
【队名】：浪费时间

【序号】：88

【论文】：Longformer: The Long-Document Transformer

【状态】：报名

【repo链接】：https://github.com/XXp4ngXX/Longformer

[2021-11-29 13:20] txyugood commented on #37401
【队名】：txyugood

【序号】：55

【论文】：Learning Spatiotemporal Features with 3D Convolutional Networks

【状态】：报名&提交

【repo链接】：https://github.com/txyugood/PaddleC3D

[2021-11-29 13:26] Darling-945 opened #37682 "报名"
【队名】：DearPuff
【序号】：22
【论文】：YOLOX: Exceeding YOLO Series in 2021
【状态】：报名
【repo链接】：https://github.com/Darling-945/paddle-yolox_repo

[2021-11-29 15:04] liehu232 opened #37686 "LSTM bias_hh_attr=False 半精度下报错"
LSTM bias_hh_attr=False 半精度下报错，禁用半精度正常
RuntimeError: (NotFound) Operator fill_constant_batch_size_like does not have kernel for data_type[::paddle::platform::float16]:data_layout[ANY_LAYOUT]:place[CUDAPlace(0)]:library_type[PLAIN].
  [Hint: Expected kernel_iter != kernels.end(), but received kernel_iter == kernels.end().] (at /paddle/paddle/fluid/imperative/prepared_operator.cc:159)
  [operator <

[2021-11-29 15:30] lidanqing-vv commented on #34732
@wozna Last time we discussed why skip_quant attribute is added. Is this still an issue?

[2021-11-29 15:56] xiaomin-D commented on #37401
【队名】：掉了钱眼里去了

【序号】：2

【论文】：Swin Transformer V2: Scaling Up Capacity and Resolution

【状态】：报名

【repo链接】：https://github.com/xiaomin-D/SwinTf_V2_Paddle

[2021-11-29 16:07] JackHCC commented on #37401
【队名】：CrashKing

【序号】：2

【论文】：Swin Transformer V2: Scaling Up Capacity and Resolution

【状态】：报名

【repo链接】：https://github.com/CrashKingOrz/Paddle-SwinTransformerV2

[2021-11-29 16:11] buriedms commented on #37401
【队名】：生活所迫

【序号】：29

【论文】：Learning to Adapt Structured Output Space for Semantic Segmentation

【状态】：提交

【repo链接】：https://github.com/buriedms/AdaptSegNet-paddle

[2021-11-29 16:12] buriedms commented on #37401
【队名】：生活所迫

【序号】：29

【论文】：Learning to Adapt Structured Output Space for Semantic Segmentation

【状态】：提交

【repo链接】：https://github.com/buriedms/AdaptSegNet-paddle

[2021-11-29 19:49] leonleeldc opened #37688 "paddle.autograd.grad not working"
Hey, I am working to convert a torch work to paddle. I need to use paddle.autograd.grad to update gradients against some variables. However, it is not working while it is working for another group of vectors.

The code snippet is as following,

                for i in range(option['g_l_steps']):
                    gen_res = model(images, z, depths)
                    g_log_lkhd = 1.0 / (2.0 * o

[2021-11-30 02:23] yangL-H opened #37690 "SegFormer 模型加载错误"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
   #引入包
import os
from google.colab import drive
#挂载函数，挂载方法，挂载到目录，会有一个连接点进去，然后复制一串东西进去

!lsb_release -a
!uname -r
!nvcc -V
!which python
!python --version
!python -m pip --version
!python -c "import platform;print(platform.architecture(

[2021-11-30 02:30] gloria111 commented on #37665
你好，感谢你愿意帮我解决这个问题，具体代码链接已经通过邮件发给你。希望没有什么漏掉的，如果代码有问题请及时和我联系。

[2021-11-30 03:10] pangyoki commented on #37677
你好，请问使用的是linux版本的paddle吗？

第一种情况，只报warning的原因是，你装的包是支持noavx的，所以只是提示noavx性能可能比较差。
第二种情况，报error的原因是，你装的包不支持noavx，但是机器只支持noavx，所以直接报错了。

确实在版本更新过程中，以前版本的linux包avx和noavx是合并成一个包的，所以以前的包支持noavx。但是因为包大小的限制，在更新的版本中，avx和noavx的包分开成了不同的包，所以你需要确定装的是不是noavx的包。

有问题可以再反馈，谢谢！

[2021-11-30 03:25] Darki-luo commented on #37677
是的 检测环境都是ubuntu18.04,cuda10.2 cudnn7.6 conda 配置的环境ptrhon=3.8.5 都是使用conda命令安装的，机器只支持noavx，如果是安装包大小限制的话可以理解，但是希望条件允许的情况尽量打包成一个吧，方便一点

[2021-11-30 03:25] lhjthp opened #37692 "复现报名"
【队名】：我要发CVPR

【序号】：13

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/lhjthp/CVT

[2021-11-30 03:42] jiangjiajun commented on #37671
Hi，你好，BatchNorm确认是训练(training为True)和推理(training为False）不同。

当前如果想在训练过程中固定BatchNorm，可参考PaddleDetection中类似实现，在训练过程中不更新alpha和beta参数  https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/modeling/ops.py#L75

[2021-11-30 04:02] jiaohuix opened #37695 "【论文复现】slice操作截取patch，动态图速度较慢，静态图会报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.0
    2）CPU：i5 10400f
    3）GPU：3060 cuda11.1
    4）系统环境：win10,python3.6.8

- 模型信息
    1）模型名称 recurrent attention mdoel
    2）使用数据集名称 mnsit
    3 ) aistudio地址（slice速度对比见6总结）：https://aistudio.baidu.com/aistudio/projectdetail/2884954
- 复现信息：您可以运行test_extrach后分别查看动态图前向，动转静，和静态图前向。
- 问题描述：模型需要根据输出的坐标信息l[bsz,2]和patch_size=8，从输入x[bsz,1,28,28]图片中截取[bsz,1,8,8]的patch，源码使

[2021-11-30 05:30] caopulan commented on #37401
【队名】：重在参与

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：https://github.com/caopulan/MAE_Paddle

[2021-11-30 05:46] qiuming-93 commented on #37671
freeze_norm参数实现的只是不更新alpha和beta参数吗，计算过程呢？还是使用该批次数据的均值方差进行计算吗？还是使用保存的均值方差进行计算

[2021-11-30 06:22] phlrain commented on #37650
请问下，是期望两个optimize都更新同一个参数么

[2021-11-30 06:39] #22310 closed, assigned to nobody

[2021-11-30 06:39] #24725 closed, assigned to FlyingQianMM

[2021-11-30 06:39] #24930 closed, assigned to Thunderbrook

[2021-11-30 06:39] #25885 closed, assigned to nobody

[2021-11-30 06:39] #28552 closed, assigned to wangxicoding, shangzhizhou

[2021-11-30 06:39] #28781 closed, assigned to haozech

[2021-11-30 06:39] #28782 closed, assigned to haozech

[2021-11-30 06:39] #28798 closed, assigned to haozech

[2021-11-30 06:39] #28898 closed, assigned to chenjiaoAngel

[2021-11-30 06:39] #28900 closed, assigned to chenjiaoAngel

[2021-11-30 06:39] #28903 closed, assigned to chenjiaoAngel

[2021-11-30 06:39] #28967 closed, assigned to qili93

[2021-11-30 06:39] #28969 closed, assigned to qili93

[2021-11-30 06:39] #28973 closed, assigned to qili93

[2021-11-30 06:39] #28976 closed, assigned to qili93

[2021-11-30 06:39] #28977 closed, assigned to qili93

[2021-11-30 06:39] #28978 closed, assigned to qili93

[2021-11-30 06:39] #28982 closed, assigned to qili93

[2021-11-30 06:39] #28984 closed, assigned to qili93

[2021-11-30 06:39] #28985 closed, assigned to qili93

[2021-11-30 06:39] #29001 closed, assigned to qili93

[2021-11-30 06:39] #29002 closed, assigned to qili93

[2021-11-30 06:39] #29004 closed, assigned to T8T9

[2021-11-30 06:39] #29005 closed, assigned to T8T9

[2021-11-30 06:39] #29006 closed, assigned to T8T9

[2021-11-30 06:39] #29007 closed, assigned to T8T9

[2021-11-30 06:39] #29008 closed, assigned to T8T9

[2021-11-30 06:39] #29009 closed, assigned to T8T9

[2021-11-30 06:39] #29010 closed, assigned to T8T9

[2021-11-30 06:39] #29016 closed, assigned to T8T9

[2021-11-30 06:39] #29017 closed, assigned to T8T9

[2021-11-30 06:39] #29022 closed, assigned to T8T9

[2021-11-30 06:39] #29025 closed, assigned to T8T9

[2021-11-30 06:39] #29026 closed, assigned to T8T9

[2021-11-30 06:39] #29028 closed, assigned to T8T9

[2021-11-30 06:39] #29029 closed, assigned to T8T9

[2021-11-30 06:39] #29043 closed, assigned to T8T9

[2021-11-30 06:39] #29046 closed, assigned to T8T9

[2021-11-30 06:39] #29047 closed, assigned to T8T9

[2021-11-30 06:39] #29048 closed, assigned to T8T9

[2021-11-30 06:39] #29050 closed, assigned to T8T9

[2021-11-30 06:39] #29051 closed, assigned to T8T9

[2021-11-30 06:39] #29052 closed, assigned to T8T9

[2021-11-30 06:39] #29053 closed, assigned to T8T9

[2021-11-30 06:39] #29056 closed, assigned to T8T9

[2021-11-30 06:39] #29071 closed, assigned to nobody

[2021-11-30 06:39] #29073 closed, assigned to yinhaofeng

[2021-11-30 06:39] #29075 closed, assigned to yinhaofeng

[2021-11-30 06:39] #29078 closed, assigned to yinhaofeng

[2021-11-30 06:39] #29079 closed, assigned to yinhaofeng

[2021-11-30 06:39] #29083 closed, assigned to yinhaofeng

[2021-11-30 06:39] #29085 closed, assigned to yinhaofeng

[2021-11-30 06:39] #29086 closed, assigned to yinhaofeng

[2021-11-30 06:39] #29152 closed, assigned to chajchaj

[2021-11-30 06:39] #29160 closed, assigned to dyning

[2021-11-30 06:39] #29175 closed, assigned to dyning

[2021-11-30 07:34] jiangjiajun commented on #37671
如果想固定均值和方差，在batch_norm中将use_global_stats设为True

[2021-11-30 08:06] ppy-hellowd commented on #37650
一个共享的 embeddingLayer，和 后面拼接的两个独立的 layer。我现在定义的 optimizer 是只更新了那两个独立的 layer，我怎么根据分别的 loss，更新 embedding layer

[2021-11-30 08:29] zhl98 commented on #37401
【队名】：填空题全队

【序号】：12

【论文】：Tokens-to-Token ViT: Training Vision Transformers from Scratch on ImageNet

【状态】：报名

【repo链接】：https://github.com/zhl98/T2T_Vit_paddle

[2021-11-30 08:30] betterpig commented on #37349
你好，目前在Windows平台 CUDA 11.2对应的cudnn版本为8.2.1，已更新Windows安装文档。

[2021-11-30 08:43] Cursky commented on #37401
【队名】：云天的智能小屋

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：报名

【repo链接】：https://github.com/Cursky/Paddle_MAE

[2021-11-30 09:17] Thunderbrook commented on #37663
CI环境已修复

[2021-11-30 09:19] Thunderbrook commented on #37686
fill_constant_batch_size_like暂时不支持fp16

[2021-11-30 09:25] tink2123 commented on #37662
感谢反馈，在下一个版本会更新3D支持。

[2021-11-30 09:49] pangyoki commented on #37677
好的，感谢反馈，我们正在开展缩小安装包大小的工作，后续也会再评估合并avx和noavx的需求。

[2021-11-30 11:14] qiuming-93 opened #37718 "paddle.nn.layer.conv在训练模式和推理模式下相同权重，参数，输入下输出结果不一致"
- 标题：paddle.nn.layer.conv在训练模式和推理模式下相同权重，参数，输入下输出结果不一致
- 版本、环境信息：
     1）PaddlePaddle版本：paddlepaddle-2.1.0,paddleclas-2.3
     2）CPU：intel i5-7500
     4）系统环境：win10，Python3.6

在模型推理时设置所有层（包含该conv层）的training属性为false和设置为true时相同权重，参数，输入下输出结果不一致。
通过debug查看了输入和权重的均值都是一样的，
但是输出结果的均值在小数点第8位处出现不一致，导致模型最终输出的置信度相差1%-5%。

[2021-11-30 11:36] hong19860320 commented on #37594
如果希望进行部署，建议使用Paddle Lite，可以直接使用 for armlinux armv8的 Paddle Lite 预编译库  https://paddle-lite.readthedocs.io/zh/latest/quick_start/release_lib.html

Paddle Lite repo: https://github.com/PaddlePaddle/Paddle-Lite
Paddle Lite Demo repo: https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-armlinux-demo/image_classification_demo

[2021-11-30 11:59] renmada opened #37721 "【论文复现】静态图f.embedding报错"
paddle2.20， cuda101
![image](https://user-images.githubusercontent.com/43545086/144044199-5059597d-a692-457c-b8fc-8f114404bd03.png)

padding_idx没有传参数，报错提示这个参数有问题

[2021-11-30 12:05] leiqing1 commented on #37594
RK3399使用Paddle Lite部署哈。https://paddle-lite.readthedocs.io/zh/release-v2.10_a/performance/benchmark.html#fp32 该链接下有关于RK3399的benchmark，可以作为参考。

[2021-11-30 12:16] beihehuaiyu commented on #37401
【队名】：被褐怀玉的团队

【序号】：24

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/beihehuaiyu/Paddle_V-Net

[2021-11-30 12:36] Ligoml commented on #37657
参赛选手你好，论文复现赛报名请在这条 issue 下回复https://github.com/PaddlePaddle/Paddle/issues/37401

[2021-11-30 12:36] #37657 closed, assigned to Thunderbrook

[2021-11-30 12:36] Ligoml commented on #37682
参赛选手你好，论文复现赛报名请在这条 issue 下回复https://github.com/PaddlePaddle/Paddle/issues/37401

[2021-11-30 12:36] #37682 closed, assigned to Thunderbrook

[2021-11-30 12:37] Ligoml commented on #37692
参赛选手你好，论文复现赛报名请在这条 issue 下回复https://github.com/PaddlePaddle/Paddle/issues/37401

[2021-11-30 12:37] #37692 closed, assigned to yaoxuefeng6

[2021-11-30 12:40] Darling-945 commented on #37401
【队名】：DearPuff
【序号】：22
【论文】：YOLOX: Exceeding YOLO Series in 2021
【状态】：报名
【repo链接】：https://github.com/Darling-945/paddle-yolox_repo

[2021-11-30 12:41] lhjthp commented on #37401
【队名】：我要发CVPR
【序号】：13
【论文】：CvT: Introducing Convolutions to Vision Transformers
【状态】：报名
【repo链接】：https://github.com/lhjthp/CVT

[2021-11-30 12:54] GYPgalaxy commented on #37401
【队名】：GalaxyGYP

【顺序】：92

【论文】：Universal Language Model Fine-tuning for Text Classification

【状态】：报名

【repo链接】：https://github.com/GYPgalaxy/ThesisRetrieval

[2021-11-30 13:21] lx-cly opened #37733 "【论文复现】张量的bool索引和切片直接赋值问题"
- 版本、环境信息：
    1）PaddlePaddle版本：devlop
    3）系统环境：linux
    4）Python 3.8
    5）显存信息
- 问题描述：我想对bool索引后的tensor 再重新赋值，可是出现了困难，详情请看一下代码。
- 代码：
    import paddle
    data = paddle.to_tensor([[1.0, 2.0, 3.0, 4.0],
                     [5.0, 6.0, 7.0, 8.0],
                     [9.0, 10.0, 11.0, 12.0]])
    index = paddle.to_tensor([1,3,0,1])
    data[2][index > 0] *= 0 #索引后 这样赋值 不行
    print(data[2][ind

[2021-11-30 13:24] yeliang2258 commented on #37665
请问发送的邮箱是？我没有收到哦

[2021-11-30 13:28] CuberrChen commented on #37265
遇到了相似问题。下午运行的时候没报错，晚上再进入AiStudio环境运行程序时就报错了。。。整懵了

[2021-11-30 13:29] huangjun12 commented on #37695
静态图保存不了的报错方便贴一下吗

[2021-11-30 14:08] txx-899 opened #37736 "loss.backward()计算得到反向梯度，opt.step()更新参数报错"
将PaddleDetection里的ppyotiny模型复现出来训练时，loss.backward()能计算出反向梯度，但opt.step()报如下错误：
ValueError: (InvalidArgument) Cannot get attribute (value) by type float, its type is class std::vector<int,class std::allocator<int> >. (at C:\home\workspace\Paddle_release\paddle/fluid/framework/attribute.h:164)
具体如下：
Traceback (most recent call last):
  File "E:/Users/Administrator/PycharmProjects/my_ppyolo/mytrain/tr

[2021-11-30 14:12] txx-899 commented on #37736
采用了最简单的优化器 opt = paddle.optimizer.Adam(learning_rate=0.1,parameters=model.parameters())
用源码的优化器也报同样的错误

[2021-11-30 14:18] jiaohuix commented on #37695
这是用了masked_select的
![GA1I3Y$)VVOH6BH%1CLVU L](https://user-images.githubusercontent.com/68314259/144063891-97921152-8ed5-455a-9224-7fbee177dfa1.png)

[2021-11-30 15:05] MiuGod0126 commented on #37695
![Uploading 8]HQEG}W9A_NOKVTAKHH_LG.png…]()

[2021-11-30 15:06] jiaohuix commented on #37695
等了半天抱内存溢出了qaq
![QMZJ850N@QFFXISPCBWDJZL](https://user-images.githubusercontent.com/68314259/144072441-2e2d2110-ce8f-4bf9-b4fd-19cc1c7de82f.png)

[2021-11-30 15:40] gloria111 commented on #37665
没收到吗？可以看下这个：https://github.com/gloria111/YOLOX_paddle

[2021-11-30 16:00] chenjiyan2001 commented on #36697
同问, 我也需要此功能, 有相应的解决办法吗?

[2021-11-30 16:51] chenjiyan2001 commented on #37108
同问

[2021-11-30 17:32] xu-peng-7 commented on #37401
【队名】：萬事勝意

【序号】：24

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/xu-peng-7/Vnet-paddlepaddle

[2021-12-01 01:51] xiaofeixuan opened #37739 "安卓加载多模型"
使用demo是PaddleLite-android-demo/yolo_detection_demo  ，目标检测功能，目前demo里面是加载单个模型nb文件，现在是想实现加载多个nb模型文件。自己训练的模型再加上自带的模型文件怎么可以同时调用，去检测这两个模型里面存在的所有分类？？

[2021-12-01 02:40] jk-life commented on #37401
【队名】：没事找事干
【序号】：13
【论文】：CvT: Introducing Convolutions to Vision Transformers
【状态】：报名
【repo链接】：https://github.com/jk-life/Paddle-CvT

[2021-12-01 02:41] juncaipeng commented on #37690
请问你使用的paddle版本是？
这里提了一个[PR](https://github.com/PaddlePaddle/PaddleSeg/pull/1579)尝试修复，跑完CI后会尽快合入，你也可以参考PR修改一下你机器上安装的源码，即是/usr/local/lib/python3.7/dist-packages/paddleseg/models/backbones/mix_transformer.py文件中的311行。

[2021-12-01 02:55] wangzhen38 commented on #37721
目前看起来是reader文件和static_model不适配所致，请参考ncf作修改https://github.com/PaddlePaddle/PaddleRec/tree/release/2.2.0/models/recall/ncf

[2021-12-01 02:56] yaoxuefeng6 commented on #37736
看报错像是某个op的输入类型有问题

[2021-12-01 02:58] yaoxuefeng6 commented on #37718
有最小可复现的代码吗 我们进一步排查下

[2021-12-01 03:07] snoopy1316 opened #37743 "C++ API使用示例 ResNet50模型"
在使用c++预测API时使用Linux上的vcsode进行编译，出现paddle_infer没有config和createrpredictor成员

项目参照：
https://www.paddlepaddle.org.cn/tutorials/projectdetail/1550309#anchor-15
![image](https://user-images.githubusercontent.com/94336500/144164745-56e253bd-cb5c-4e76-a05d-4fe8f3712de5.png)

[2021-12-01 03:08] yeliang2258 commented on #37665
你上面的数据我测试是没有问题的，你还是发一个可以复现问题的python脚本给我吧，我的邮箱1047690002@qq.com

[2021-12-01 03:14] iclementine commented on #37739
目标检测模型相关的问题，可以到 https://github.com/PaddlePaddle/PaddleDetection 中提问，会得到更确切的回复哦

[2021-12-01 03:18] iclementine commented on #37743
编译的时候真的遇到了问题吗。你可以查看一下 paddle/fluid/inference/api/paddle_inference_api.h 头文件，里面都是有的。可能是 vscode 的 lint 有什么问题。

<img width="397" alt="图片" src="https://user-images.githubusercontent.com/16222986/144165887-4e36d9ad-ceba-4f08-ba6f-42e265ca643a.png">

<img width="663" alt="图片" src="https://user-images.githubusercontent.com/16222986/144165862-cd477cb5-d102-4558-a9e7-63cdd6ae7788.png">

[2021-12-01 03:20] jiaohuix commented on #37651
大佬你测的速度差不多，我训练时，paddle速度是250steps/s，torch的是900steps/s,然后用numpy替换了paddle索引后速度是1200steps/s。
paddle:
![1](https://user-images.githubusercontent.com/68314259/144165765-b29c4df5-ae12-477d-9ca8-a90386b0de08.png)
torch:
![2](https://user-images.githubusercontent.com/68314259/144165770-ebcccc57-a0bb-4915-873d-d87e5dc9633a.png)

numpy:
![3](https://user-images.githubusercontent.com/68314259/144165776-ddc0c

[2021-12-01 03:36] txx-899 commented on #37736
请问一下，若是输入类型问题，为什么前向计算和梯度计算不受影响呢？谢谢

[2021-12-01 03:41] qiuming-93 commented on #37718
我是在paddleDetection-develop套件中使用的ppyolov2的模型发现的，可以通过注释掉paddleDetection中的ppdet/engine/trainer.py中的predict函数中的 self.model.eval()这行代码再修改bn层使用预训练权重中的均值方差计算实现在训练模式下进行推理。

[2021-12-01 03:49] zyfncg commented on #37651
![image](https://user-images.githubusercontent.com/13048366/144167461-c0d06f32-651a-435c-8a24-ae4b04ddfeb8.png)
这里面的mask用numpy来替换tensor，应该会对性能提升有帮助。因为目前对tensor进行操作会涉及到框架底层Operator调度的开销，在部分场景下（如Tensor不需要计算反向梯度，不会出现GPU与CPU之间数据的频繁同步等）像切片索引这种计算量不大的操作直接用numpy会比较高效

`to_tensor`是动态图的API，如果要支持静态图可以试试用`paddle.assign`

[2021-12-01 03:53] jiaohuix commented on #37651
可我看教程上动转静说不支持numpy呀

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年12月1日(星期三) 中午11:49
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] [论文复现]paddle索引操作有点慢 (Issue #37651)

 这里面的mask用numpy来替换tensor，应该会对性能提升有帮助。因为目前对tensor进行操作会涉及到框架底层Operator调度的开销，在部分场景下（如Tensor不需要计算反向梯度，不会出现GPU与CPU之间数据的频繁同步等）像切片索引这种计算量不大的操作直接用numpy会比较高效

[2021-12-01 04:15] zyfncg commented on #37651
不能用numpy主要是两个原因：
  1. 用了numpy就不能求反向梯度
  2. 静态图编译期只进行组网没有数据，使用numpy的话拿不到数据会报错

这里我理解是在做一些图片预处理操作，不涉及模型的组网和训练，所以不需要计算反向梯度，而且batch_size和img_size是固定的，应该也可以不使用tensor，直接用numpy来把mask生成出来。你可以先用numpy试试，需要保证在numpy处理之前没有经过任何tensor的操作，比如像`paddle.randint`这样的tensor操作可以用numpy里的随机数生成代替

[2021-12-01 05:14] kevinng77 commented on #37401
【队名】：吴先生

【序号】：240

【论文】：Recipes for building an open-domain chatbot

【状态】：报名

【repo链接】：https://github.com/kevinng77/blenderbot_paddle

[2021-12-01 05:18] #32282 closed, assigned to jakpiase

[2021-12-01 06:03] jiaohuix commented on #37651
额，这个模型会根据上一个时刻输出位置信息，截取小patch，然后再计算下一个时刻位置，就一边训练一边获取输入，不好保证numpy之前没有tensor操作呀，这模型确实有部分是不能求梯度的，接下来我该咋整orz

[2021-12-01 06:10] yaoxuefeng6 commented on #37688
Codes looks good. Which groups not work in this case? Could you provide some runnable demo for us.

[2021-12-01 07:32] Qdriving commented on #37401
【队名】：linqin2011

【序号】：2

【论文】：Swin Transformer V2: Scaling Up Capacity and Resolution

【状态】：报名

【repo链接】：https://github.com/Qdriving/Swin-TransformerV2-in-PP

[2021-12-01 07:48] zyfncg commented on #37651
上一时刻输出的位置信息是个Tensor还是普通的numpy变量？

[2021-12-01 07:50] jiaohuix commented on #37651
tensor，就是rnn每个cell输出的state，过个mlp就得到了位置l[bsz,2]

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年12月1日(星期三) 下午3:48
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] [论文复现]paddle索引操作有点慢 (Issue #37651)

上一时刻输出的位置信息是个Tensor还是普通的numpy变量？

—
You are receiving this because you authored the thread.
Reply to this email directly,

[2021-12-01 08:03] zyfncg commented on #37651
那这个情况就不太好处理了，看能不能想办法压缩一些tensor的操作吧，或者试试把`masked_select`用`slice`代替看有没有作用

[2021-12-01 08:09] jiaohuix commented on #37651
由于静态图一开始输入的[-1,1,28,28]进行维度推导，导致拿不到数据，然后不能对每张图片切个patch，然后用stack就会报元素数<0错误。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年12月1日(星期三) 下午4:03
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] [论文复现]paddle索引操作有点慢 (Issue #37651)

tensor，就是rnn每个cell输出的state，过个mlp就得到了位置l[bsz,2]
 …
 ------------------&nbsp;原始邮件&nbsp;---------

[2021-12-01 08:15] luckychay commented on #37401
【队名】：双水冗替

【序号】：17

【论文】：Fast RCNN

【状态】：报名

【repo链接】：https://github.com/luckychay/FastRCNN_PaddlePaddle

[2021-12-01 08:22] zyfncg commented on #37651
这确实是动态图转静态图的一个问题，我觉得这个情况可以简单整理一下再提个issue给负责动转静的同学，看他们有没有好的解决办法
关于性能问题可以试着用profile工具分析一下看主要的性能热点在哪，然后再尝试做进一步的优化 https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/advanced_guide/performance_improving/analysis_tools/cpu_profiling_cn.html

[2021-12-01 08:23] jiaohuix commented on #37651
好的，谢谢大佬，辛苦您了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年12月1日(星期三) 下午4:22
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] [论文复现]paddle索引操作有点慢 (Issue #37651)

由于静态图一开始输入的[-1,1,28,28]进行维度推导，导致拿不到数据，然后不能对每张图片切个patch，然后用stack就会报元素数<0错误。
 …
 ------------------&nbsp;原始邮件&nbsp;------------------ 发件人: @.&gt;; 发送时间: 2021年

[2021-12-01 08:29] zyfncg commented on #37651
希望提供的建议能对您有所帮助，这里面有些问题和框架的机制有关，短时间内不太好解决，可能得想一些办法绕过，像动转静这样的问题还需要时间去完善优化，还望理解

[2021-12-01 08:30] jiaohuix commented on #37651
嗯嗯，好的谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年12月1日(星期三) 下午4:29
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] [论文复现]paddle索引操作有点慢 (Issue #37651)

希望提供的建议能对您有所帮助，这里面有些问题和框架的机制有关，短时间内不太好解决，可能得想一些办法绕过，像动转静这样的问题还需要时间去完善优化，还望理解

—
You are receiving this because you authored the thread.
Reply to this email direc

[2021-12-01 08:50] huangjun12 commented on #37695
试一下paddle2.1.0版本呢

[2021-12-01 09:07] kjf4096 commented on #37401
【队名】：jsdbzcm

【序号】：29

【论文】：Learning to Adapt Structured Output Space for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/kjf4096/AdaptSegNet

[2021-12-01 09:17] lidanqing-vv commented on #36962
1. Should we enable all fuses of mul, matmul_v1, fc for matmul_v2
2. Could we just keep matmul_v2 as the only interface and mapping it into different ops: mul, matmul_v1, fc according to different situations

[2021-12-01 09:21] lidanqing-vv commented on #36962
Those mappings , like matmul_v2->matmul_v1, matmul_v2->mul, matmul_v2->fc, will they be remaining ?
Yes

[2021-12-01 09:25] lidanqing-vv commented on #36962
只需要matmul_v2 只考虑matmul_v1的所有pass，而不去考虑mul之类的。然后mamtul_v1算子不会被废弃。但是matmul_v2->matmul_v1 的 pass 会废弃。
最后solution: 能走matmul_v1的直接走v1，不能走的再走matmul_v2。matmul_v2->matmul_v1 这个 pass 会保留。

[2021-12-01 09:26] #36303 closed, assigned to gongel

[2021-12-01 10:20] renmada commented on #37401
【队名】：arbiter

【序号】：18

【论文】：Deep Predictive Coding Networks for Video Prediction and Unsupervised Learning

【状态】：报名

【repo链接】：https://github.com/renmada/prednet-paddle

[2021-12-01 12:26] 20151001860 commented on #37401
【队名】：勇敢土豆不怕困难！

【序号】：40

【论文】：Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data

【状态】：报名

【repo链接】：https://github.com/20151001860/Real_ESRGAN_paddle

[2021-12-01 12:38] JJYjackson opened #37767 "用Paddle"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2021-12-01 12:39] #37767 closed, assigned to iclementine

[2021-12-01 12:51] ColaFei opened #37769 "动转静保存模型时报错"
paddle 2.1
python 3.7
P.jit.save(model, args.output_path) 报错截图：
![image](https://user-images.githubusercontent.com/37499167/144237464-d544e997-4437-42b6-9850-f11cc06ee05f.png)

为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提

[2021-12-01 13:30] latstars commented on #37401
【队名】：牛牛向前冲

【序号】：16

【论文】：RetinaMask: Learning to predict masks improves state-of-the-art single-shot detection for free

【状态】：报名

【repo链接】：[https://github.com/latstars/Paddle_RetinaMask.git](https://github.com/latstars/Paddle_RetinaMask.git)

[2021-12-01 13:36] latstars commented on #37401
【队名】：牛牛向前冲

【序号】：20

【论文】：You Only Look One-level Feature

【状态】：报名

【repo链接】：[https://github.com/latstars/PaddlePaddle_YOLOF.git](https://github.com/latstars/PaddlePaddle_YOLOF.git)

[2021-12-01 13:36] latstars commented on #37401
【队名】：牛牛向前冲

【序号】：21

【论文】：Gradient Harmonized Single-stage Detector

【状态】：报名

【repo链接】：[https://github.com/latstars/PaddlePaddle_GHSSD.git](https://github.com/latstars/PaddlePaddle_GHSSD.git)

[2021-12-01 13:36] latstars commented on #37401
【队名】：牛牛向前冲

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：[https://github.com/latstars/PaddlePaddle_YOLOX.git](https://github.com/latstars/PaddlePaddle_YOLOX.git)

[2021-12-01 14:06] JJYjackson opened #37775 "用paddle移植强化学习pytorch代码，报Tensor ValueError"
- 标题：用paddle移植强化学习pytorch代码，报Tensor ValueError
- 版本、环境信息：
   Paddle version: 2.2.0
   Paddle With CUDA: False
   OS: Ubuntu 16.04
   Python version: 3.7.4
   CUDA version: None
   cuDNN version: None.None.None
   Nvidia driver version: None

- 复现信息：将强化学习pytorch版本的代码移植成paddle的代码，将网络搭建处调用的Torch API换为了Paddle API。
- 问题描述：将网络搭建处调用的Torch API换为了Paddle API,  torch.Tensor( )改为了paddle.to_tensor( ). 然后运行后报错

[2021-12-01 23:56] leonleeldc commented on #37688
Sure, let me share more details here.

Looks that there are some problems in gen_res = model(images, z, depths).

In the model's forward function, we have the following,

    def forward(self, x, z, depth=None):
        # print(z.size())
        #x = paddle.to_tensor(x.cpu().numpy())

        #x.stop_gradient = True
        #if depth != None:
            #depth = paddle.to_tensor(depth.cpu().numpy

[2021-12-01 23:59] leonleeldc commented on #37688
For the torch code, it looks as following,

                for i in range(option['g_l_steps']):
                    gen_res = model(images, z, depths)
                    g_log_lkhd = 1.0 / (2.0 * option['g_llhd_sigma'] * option['g_llhd_sigma']) * mse_loss(
                        torch.sigmoid(gen_res[0]), gts)
                    en = ebm_model(z)
                    z_grad_g = torch.autograd.g

[2021-12-02 00:45] leonleeldc commented on #37688
Now, I think that it should be related to the pretrained model loading. The following model is loaded from a converted torch model.
        model_state = paddle.load('./Transformer_based/RGBD_SOD_paddle/swin_base_patch4_window12_384.pdparams')
        self.encoder.set_dict(model_state)

But not sure what exact wrong here?
May you have some suggestions on what problems I may encounter here?

[2021-12-02 01:33] beihehuaiyu opened #37778 "(External) CUDNN error(7), CUDNN_STATUS_MAPPING_ERROR."
使用aistudio至尊在con3D出现
OSError: (External) CUDNN error(7), CUDNN_STATUS_MAPPING_ERROR.
  [Hint: 'CUDNN_STATUS_MAPPING_ERROR'.  An access to GPU memory space failed, which is usually caused by a failure to bind a texture.  To correct, prior to the function call, unbind any previously bound textures.  Otherwise, this may indicate an internal error/bug in the library.  ] (at /paddle/paddle/fluid/operat

[2021-12-02 02:27] huangjun12 commented on #37769
报错位置的代码方便贴一下吗

[2021-12-02 02:39] baoachun opened #37780 "Summary of Intel CPU model, architecture and instruction set support for quick searching."
@lidanqing-intel

[2021-12-02 02:41] ColaFei commented on #37769
def main():

    model = ErnieModelForMultiLabel(args)
    state_dict = P.load(args.params_path)
    model.set_dict(state_dict)
    model.eval()

    model = P.jit.to_static(
        model,
        input_spec=[
            P.static.InputSpec(
                shape=[None, None], dtype="int64"),  # input_ids
            P.static.InputSpec(
                shape=[None, None], dtype="int64")  # segmen

[2021-12-02 02:43] huangjun12 commented on #37769
`/tmp/tmp14t88o2i.py`里的50行前后哈

[2021-12-02 02:52] iclementine commented on #37769
这里要求 input_spec  是 Model 的 forward 方法的 tensor 输入，而且除了 tensor 之外的输入都需要有默认值。这个条件满足吗？

[2021-12-02 04:00] iclementine commented on #37775
这个问题是因为 matmul 运算时两个操作数(operands)数据类型不一致导致的。

如果你的代码此前曾经能正常运行，因为改了一个地方而出错，那么请指出是修改了哪里。

如果此前还未曾正常跑通，那么线索就是“matmul 运算时两个操作数(operands)数据类型不一致导致的。” 找到报错的那个 matmul 运算，定位一下它的 operand 的 dtype. 可以用 pdb 进行 debug.

[2021-12-02 04:25] BrilliantYuKaimin commented on #37401
【队名】：为往圣继绝学

【序号】：4

【论文】：XCiT: Cross-Covariance Image Transformers

【状态】：报名

【repo链接】：https://github.com/BrilliantYuKaimin/XCiT-PaddlePaddle

[2021-12-02 06:34] BeyondYourself opened #37793 "预测异常"
在linux的docker环境下，使用的paddle最新稳定版本，在预测服务的时候出现下面异常，这是什么原因，有大佬清楚吗，帮忙解释一下
![image](https://user-images.githubusercontent.com/12640462/144370129-63cc0e1a-3218-4179-87dd-c4a6fb4f174e.png)

[2021-12-02 07:05] baoachun commented on #37075
@pmajchrzak Chould you please give me the most recent inference performance table?

[2021-12-02 07:08] Shixiaowei02 commented on #37743
您好，应该是没有包括正确的头文件导致的问题

[2021-12-02 07:09] PeterJaq opened #37794 "tensor.sum() 对bool量list的结果与torch和numpy不一致"
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如2.1
2）CPU/GPU：CUDA11
3）系统环境：Ubuntu 18.04 Nvidia-docker
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：
问题：paddlepaddle tensor.sum() 对bool量list的结果与 torch和numpy不一致
复现 numpy：
![image](https://user-images.githubusercontent.com/15727924/144374541-abc5df5a-570b-4cc1-bbbf-323da95ca97d.png)

[2021-12-02 08:14] jordan2013 opened #37797 "论文复现：多机多卡训练报错"
- 标题：论文复现：多机多卡训练报错
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.0
    2）CPU：未使用
    3）GPU：请提供GPU型号:Nvidia A100、CUDA版本号:11.1.74 CUDNN版本号:8.1
    4）系统环境：Ubuntu 20.04，Python版本:3.8.12
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训练信息
    1）多机，多卡
    2）显存信息：40M
    3）Operator信息：root
- 复现信息：1.单机多卡训练正常
                     2.多机多卡训练出错
python3 -m padd

[2021-12-02 08:47] yt605155624 opened #37801 "paddle 整数除法结果还是整数"
paddle 整数除法结果还是整数
torch 整数除法结果是浮点数
感觉 paddle 这个逻辑不太合适，希望可以修一下

Tensor(shape=[1], dtype=int64, place=CUDAPlace(0), stop_gradient=True,
       [4])

tensor([4.0875])

Tensor(shape=[1], dtype=int64, place=CUDAPlace(0), stop_gradient=True,
       [327])

Tensor(shape=[1], dtype=int64, place=CUDAPlace(0), stop_gradient=True,
       [80])

tensor([327])

torch.int64

tensor([80])

torch.int64

但是 b = in

[2021-12-02 09:00] ChenggongZhang-TJU commented on #37401
【队名】：下雨不愁

【序号】：41

【论文】：Image Super-Resolution Using Very Deep Residual Channel Attention Networks

【状态】：报名

【repo链接】：https://github.com/ChenggongZhang-TJU/Paddle-RCAN

[2021-12-02 10:39] renmada commented on #37401
【队名】：arbiter

【序号】：18

【论文】：Deep Predictive Coding Networks for Video Prediction and Unsupervised Learning

【状态】：提交

【repo链接】：https://github.com/renmada/prednet-paddle

[2021-12-02 11:27] Aurelius84 commented on #37769
模型中的 `if else` 分支里是否存在 return  string 类型变量的代码？

[2021-12-02 11:38] Aurelius84 commented on #37695
修改为如下试下：
[code]

因为 x.shape 返回的是原生的python list,  静态图下 b = -1， 则for循环将不会被执行。如果使用`b = paddle.shape(x)[0]`，此时b 是一个静态图Tensor变量，会自动转化为静态图下 while_loop

[2021-12-02 11:44] zyfncg commented on #37733
您好，目前PaddlePaddle中可以使用bool索引，但是暂时不支持bool和其他类型的索引同时使用，像`data[2, index > 0]`这样普通integer索引和bool索引同时使用会报错。这个问题我们正在解决中，但正式支持预计还需要一段时间。
另外`data[2][index > 0] = 0`这样的用法属于多级索引赋值，可以理解为`tmp = data[2]`,`tmp[index > 0] = 0`两个语句的执行，`tmp = data[2]`会先执行并返回一个`Tensor`，这时的`Tensor`已经有了自己的独立的内存，再执行`tmp[index > 0] = 0`时便无法修改到最初的`data`。

这里可以暂时先想一些方法绕过这里的问题，比如用`tmp = data[2]`,`tmp[index > 0] = 0`,`data[2] = tmp`这样的方式进行

[2021-12-02 12:07] baoran commented on #37401
【队名】：123123

【序号】：52

【论文】：Uniter: Learning universal image-text representations

【状态】：报名

【repo链接】：https://github.com/baoran/Uniter-Paddle

[2021-12-02 12:35] weyoung0 opened #37803 "docker镜像迁移后报错:unhandled system error"
问题描述：
我基于nvidia镜像制作了paddlepaddle2.2的docker镜像，在制作镜像所用机器上运行paddle.utils.run_check()，提示多卡运行正常。
将该镜像复制到另外的机器上，运行run_check()，提示单卡正常，多卡报错：RuntimeError NCCL Error 2 unhandled system error
两台机器配置是相同的：TiTanxp x 4，cuda10.2, cudnn7
搜索问题发现在启动容器时添加 --ipc=host指令则运行正常。
需求：
该镜像希望在深度学习工作站上使用，启动容器的命令是固定的，无法修改，因此添加--ipc==host的方式无法使用。
目前官方提供的docker镜像需要用nvidia-docker启动，工作站只有普通的docker，所有该镜像也无法使用。
请问我遇到的问题是否有其他解决思路，或者是否

[2021-12-02 14:49] TownWilliam commented on #37401
【队名】：Copy is all you need

【序号】：5

【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search

【状态】：报名

【repo链接】：https://github.com/TownWilliam/plan_reproduce_cream_with_paddle

[2021-12-02 15:17] ChenggongZhang-TJU commented on #37401
1

---- 回复的原邮件 ----
发件人 ***@***.***>日期 2021年12月02日 22:50收件人 ***@***.***>抄送至 ***@***.******@***.***>主题 Re: [PaddlePaddle/Paddle] 【飞桨论文复现挑战赛（第五期）】榜单 (Issue #37401)

【队名】：Copy is all you need
【序号】：5
【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search
【状态】：报名
【repo链接】：https://github.com/TownWilliam/plan_reproduce_cream_with_paddle
—
You are receiving this becau

[2021-12-02 16:28] lixp528 commented on #37401
【队名】：cpdd

【序号】：50

【论文】：VinVL: Revisiting Visual Representations in Vision-Language Models

【状态】：报名

【repo链接】：https://github.com/lixp528/vinvl_review

[2021-12-03 00:02] kft-upc opened #37808 "报错：paddle.sin 函数并没有对应的梯度操作"
在AIStUDIo中运行代码，paddle版本是2.2.0，运行环境是CPU，执行代码是：

inp = paddle.to_tensor([1], dtype='float32', stop_gradient=False)
y = paddle.sin(inp)
y_x = paddle.grad(y, inp, create_graph=True, retain_graph=True)

报错：
 (NotFound) The Op sin_grad doesn't have any grad op. If you don't intend calculating higher order derivatives, please set `create_graph` to False.
  [Hint: double_grad_node should not be null.] (at

[2021-12-03 01:23] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：10

【论文】：Recurrent Models of Visual Attention

【状态】：提交

【repo链接】：https://github.com/SmirnovKol/Recurrent-Models-of-Visual-Attention-using-paddlepaddle

[2021-12-03 02:02] LDOUBLEV commented on #37808
报错提示sin OP没有二阶梯度计算kernel
如果您只需要计算一阶梯度，可以设置create_graph=False
[code]

[2021-12-03 02:35] weyoung0 commented on #37803
找到我的问题了，run_check提示我的nccl版本是2.11.4 cuda11.5，可是我安装的是2.8.3 cuda10.2，不知道为什么调用成了最新版本的，重装也不行。请问这个应该如何解决？

[2021-12-03 02:41] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：11

【论文】：Going deeper with Image Transformers

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Going-deeper-with-Image-Transformers-using-PaddlePaddle

[2021-12-03 02:52] jiaohuix commented on #37695
试过了，这个可以。除此之外静态图还有个问题，normal用了转不了静态图：
![image](https://user-images.githubusercontent.com/68314259/144536798-cbaa2ce4-6b63-4883-8bd1-da7f9dd8ae64.png)

[2021-12-03 03:01] sneaxiy opened #37815 "当前Stream安全的Allocator实现的一些问题"
PR https://github.com/PaddlePaddle/Paddle/pull/37290 实现了一个stream安全的allocator，但仍存在以下几个问题：

- 原先的`const std::shared_ptr<Allocator>& AllocatorFacade::GetAllocator(const platform::Place& place, size_t size)`在`FLAGS_use_stream_safe_cuda_allocator=true`且`CUDAPlace`的情况下完全不走了，导致无法走到https://github.com/PaddlePaddle/Paddle/pull/37290/files#diff-b16c61934558347e2a498c5efd88d0da7245de25d0fd90c48e9e63652b6d40ca

[2021-12-03 03:08] TownWilliam commented on #37401
【队名】：Copy is all you need

【序号】：20

【论文】：You Only Look One-level Feature

【状态】：报名

【repo链接】：https://github.com/TownWilliam/reproduce_yolo_with_paddle

[2021-12-03 03:30] #37663 closed, assigned to Thunderbrook

[2021-12-03 03:49] nku-shengzheliu opened #37817 "【论文复现】单机多卡训练报错"
- 标题：【论文复现】 单机多卡训练报错
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU：Intel Xeon*32
    3）GPU：Tesla V100*4、CUDA version: 10.1.243, cuDNN version: None.None.None, Nvidia driver version: 418.67
    4）系统环境：CentOS 6.10, python 3.7.0
- 训练信息
    1）单机，多卡
    2）显存信息：32480MiB
    3）Operator信息
- 复现信息：
1.单机单卡训练正常
2.单机多卡训练出错：
[code]
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
[code]

[2021-12-03 03:55] Aganlengzi commented on #33168
@baoachun

[2021-12-03 03:56] littletomatodonkey commented on #37817
distributed.launch 启动的话，程序里面不用写spawn了，可以参考这里的说明：https://github.com/PaddlePaddle/models/blob/tipc/docs/lwfx/ArticleReproduction_CV.md#3.12

[2021-12-03 04:10] Fujiaoji opened #37820 "paddle 动态图转静态图报错"
- 版本、环境信息：
    1）
                  Paddle version: 2.1.1
                  Paddle With CUDA: True
                  Python version: 3.7.10
                  CUDA version: 9.0.176
                  cuDNN version: None.None.None-->这个在下面报错那里有版本信息，这个用的注释执行出来的结果
                  Nvidia driver version: 418.39

 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary

[2021-12-03 04:25] Fujiaoji commented on #37820
动态图训练，仅保存静态图参数用于推理

[2021-12-03 06:04] LDOUBLEV commented on #37820
1.  可以安装最新的paddle2.2版本再次运行动转静；
2. 如果完成步骤1后仍报错，请提供您报错的模型组网代码，方便问题定位；（如果能提供最小模型复现函数最好）

[2021-12-03 06:11] FlyingCat-fa commented on #36608
你好，我也遇到这个问题了，请问解决了么

[2021-12-03 06:18] Aurelius84 commented on #37695
看了下 Normal() 的实现，动态图下 block参数可以为None，但静态图下调用此接口似乎需要指定block。

感谢您的反馈，我们这边进一步确认下是否可以移除这个静态图需指定block参数的限制

[2021-12-03 06:20] jiaohuix commented on #37695
好的，我先看别的

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年12月3日(星期五) 下午2:19
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 【论文复现】slice操作截取patch，动态图速度较慢，静态图会报错 (Issue #37695)

看了下 Normal() 的实现，动态图下 block参数可以为None，但静态图下调用此接口似乎需要指定block。

感谢您的反馈，我们这边进一步确认下是否可以移除这个静态图需指定block参数的限制

—
You are receiving this because you aut

[2021-12-03 06:38] Fujiaoji commented on #37820
好的，谢谢，我先试试版本，不行再来

[2021-12-03 06:48] weyoung0 commented on #37803
找到问题了，我使用的是nvidia-docker-cuda10.2镜像，里面自带了最新版的nccl。paddle运行的时候调用的是最新版nccl，和镜像驱动不符，因此报错。
解决方案：先把自带的nccl删除，再重新安装符合cuda版本的nccl即可。

[2021-12-03 06:48] #37803 closed, assigned to huangjun12

[2021-12-03 07:27] 1367043971 commented on #37401
【队名】：峡谷见

【序号】：37

【论文】：GAN Prior Embedded Network for Blind Face Restoration in the Wild

【状态】：报名

【repo链接】: https://github.com/1367043971/GPEN

[2021-12-03 08:03] JIANG-HS commented on #37401
【队名】：HPU-三人成行

【序号】：78

【论文】：Training Deep AutoEncoders for Collaborative Filtering

【状态】：报名

【repo链接】：https://github.com/JIANG-HS/TiSASRec-paddle

[2021-12-03 08:22] THUzyt21 commented on #37401
【队名】：清华深圳SIGS

【序号】：79

【论文】：Training Deep AutoEncoders for Collaborative Filtering

【状态】：报名

【repo链接】：https://github.com/THUzyt21/DeepRecommender_Paddle

[2021-12-03 08:29] THUzyt21 commented on #37401
【队名】：清华深圳SIGS

【序号】：80

【论文】：Feature Generation by Convolutional Neural Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/THUzyt21/Feature-Generation-by-Convolutional-Neural-Network-for-CTR_Paddle

[2021-12-03 08:43] CuberrChen commented on #37265
将版本从2.2切换回2.1.2后可以正常运行了...看来是2.2更新后造成的bug？

[2021-12-03 09:13] XULU42 commented on #37401
【队名】：NoneLand

【序号】：53

【论文】：Drop an Octave: Reducing Spatial Redundancy in Convolutional Neural Networks with Octave Convolution

【状态】：报名

【repo链接】：https://github.com/NoneLand/paddle_octconv

[2021-12-03 09:17] applepieiris commented on #31165
对于cpu版本的去掉-gpu，之后就可以安装了
python3 -m pip install paddlepaddle==2.0.1 -f https://paddlepaddle.org.cn/whl/stable/noavx.html

[2021-12-03 09:26] 771979972 commented on #37401
【队名】：只想摸鱼

【序号】：41

【论文】：Image Super-Resolution Using Very Deep Residual Channel Attention Networks

【状态】：提交

【repo链接】：https://github.com/Jan-jia/Paddle-RCAN

[2021-12-03 09:32] huangjun12 commented on #37797
[code]
报错提示使用的paadle不是gpu版本。使用多机多卡，请chekc下使用的是gpu版本的paddle，同时编译的时候加了`--WITH_DISTRIBUTE`参数，表示编译带有分布式版本的paddle

[2021-12-03 09:36] huangjun12 commented on #37778
是稳定复现的问题吗？ 可以check下使用时GPU显存是否被占满了

[2021-12-03 09:48] huangjun12 commented on #37794
使用paddle 2.2.0，输出结果如下:

[code]

可以更换一下paddle版本

[2021-12-03 10:08] pmajchrzak commented on #37075
## Of course,
I will present the data from only one machine - similar drops can be observed on the others.

The latest measurements show that there have been two consecutive performance drops.
1: https://github.com/PaddlePaddle/Paddle/commit/b9fdd3bc0f4f22af17a81bb8a50a337b563c876b
2: https://github.com/PaddlePaddle/Paddle/commit/b628c316148b072b73b38a6820c5328b4a782c79
3: https://github.com/Paddl

[2021-12-03 10:29] jiweibo commented on #37793
您好，请问下这是自己封装的预测服务吗？能把Paddle相关的报错信息贴出来吗，目前看不到具体的报错

[2021-12-03 10:59] THUzyt21 commented on #37401
【队名】：清华深圳SIGS

【序号】：78

【论文】：Training Deep AutoEncoders for Collaborative Filtering

【状态】：报名

【repo链接】：https://github.com/THUzyt21/DeepRecommender_Paddle

[2021-12-03 11:00] THUzyt21 commented on #37401
【队名】：清华深圳SIGS

【序号】：79

【论文】：Feature Generation by Convolutional Neural Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/THUzyt21/Feature-Generation-by-Convolutional-Neural-Network-for-CTR_Paddle

[2021-12-03 11:36] xl0509 commented on #37401
【队名】：填空题全队

【序号】：20

【论文】：You Only Look One-level Feature

【状态】：报名

【repo链接】：https://github.com/xl0509/YOLOF-Paddle

[2021-12-03 14:36] Eversee22 commented on #37401
【队名】：皮卡丘，12月飞行

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/Eversee22/YOLOX

[2021-12-03 14:49] Eversee22 commented on #37401
【队名】：皮卡丘，12月飞行

【序号】：79

【论文】：Feature Generation by Convolutional Neural Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/hhhhuixh/FGCNN_Studio

[2021-12-04 02:25] txyugood opened #37850 "【论文复现】包含PyLayer自定义算子的模型如何实现动转静导出模型"
PaddlePaddle版本：2.2.0

网络中包含了一个外部自定义算子，代码如下：

[code]

在导出模型使用paddle.jit.save方法保存模型时，出现以下错误

[code]
请问这个应该如何解决？

[2021-12-04 07:22] justld opened #37852 "【论文复现赛】nn.BatchNorm2D 参数数量和torch nn.BatchNorm2d不同"
paddle环境：Aistudio  gpu至尊，paddlepaddle==2.2.0
paddle代码如下：

      import paddle
      from paddle import nn

      model = nn.Sequential(
          nn.BatchNorm2D(64),
          nn.Conv2D(64, 3, 1),
      )
      paddle.summary(model, (4, 64, 256, 256))

打印结果如下：

        ---------------------------------------------------------------------------
         Layer (type)       Input Shape          Outpu

[2021-12-04 08:06] JennyVanessa commented on #37401
【队名】：GAN就完了

【序号】：39

【论文】：StyleCLIP: Text-Driven Manipulation of StyleGAN Imagery

【状态】：报名

【repo链接】：https://github.com/JennyVanessa/StyleCLIP-paddle.git

[2021-12-04 12:07] songxujay opened #37854 "dist.all_gather() can not work on window 10& paddlepaddle-gpu==2.2.1"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\files\anaconda3\envs\paddle\lib\site-packages\paddle\distributed\collective.py", line 636, in all_gather
    out = _C_ops.c_allgather(tensor, 'use_calc_stream', use_calc_stream,
AttributeError: module 'paddle.fluid.core_avx.ops' has no attribute 'c_allgather'

[2021-12-04 16:13] xu98bin commented on #37401
【队名】：MARS

【序号】：14

【论文】：Rethinking Spatial Dimensions of Vision Transformers

【状态】：报名

【repo链接】：https://github.com/xubin-999/PiT

[2021-12-04 23:59] JakobStadlhuber commented on #36685
Please support Apple M1

[2021-12-05 04:11] AI-Mart commented on #37401
【队名】：道不远人55

【序号】：100

【论文】： RemBERT: Rethinking embedding coupling in pre-trained language models

【状态】：报名

【repo链接】：https://github.com/AI-Mart/Paddle--RemBERT

[2021-12-05 06:23] 20151001860 commented on #37401
【队名】：勇敢土豆不怕困难！

【序号】：40

【论文】：Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data

【状态】：提交

【repo链接】：https://github.com/20151001860/Real_ESRGAN_paddle

[2021-12-05 06:51] chenjiyan2001 commented on #37401
【队名】：cHEn

【序号】：78

【论文】：Training Deep AutoEncoders for Collaborative Filtering

【状态】：提交

【repo链接】：https://github.com/chenjiyan2001/Paddle-DeepRecommender/tree/master

[2021-12-05 07:33] IcarusWizard commented on #37401
【队名】：SOLO

【序号】：18

【论文】：Deep Predictive Coding Networks for Video Prediction and Unsupervised Learning

【状态】：提交

【repo链接】：https://github.com/IcarusWizard/prednet-paddle

[2021-12-05 08:00] Fujiaoji commented on #37820
可以了，换了个版本就可以了，谢谢

[2021-12-05 08:00] #37820 closed, assigned to LDOUBLEV

[2021-12-05 08:07] Fujiaoji opened #37855 "关于使用ernie"
当前一句话，已经用tokenizer变成下面的形式，那么在想用预训练的ernie 1.0 的时候，直接from pretrain('ernie 1.0), 然后在forward里输入ID， 输出的就是预训练对应的embedding了吗，已经封装好了是吗；
Tensor(shape=[3, 13], dtype=int64, place=CUDAPinnedPlace, stop_gradient=True)

[2021-12-05 08:15] theMLL opened #37856 "TypeError: `value` should be `numpy.ndarray` or `LoDTensor`, but received <class 'paddle.fluid.framework.Variable'>."
使用    fluid.io.save_inference_model(dirname='./tcn_model', feeded_var_names=['img'],target_vars=[label], executor=exe) 对模型进行保存时，提示添加   paddle.enable_static()，

之后报错 ：

TypeError: `value` should be `numpy.ndarray` or `LoDTensor`, but received <class 'paddle.fluid.framework.Variable'>.

[2021-12-05 08:20] zlsh80826 commented on #36179
Hi @pangyoki @qili93

The problem has been fixed on https://github.com/PaddlePaddle/Paddle/pull/37064.

[2021-12-05 08:20] #36179 closed, assigned to nobody

[2021-12-05 08:32] chenjiyan2001 commented on #37401
【队名】：cHEn

【序号】：80

【论文】：FLEN: Leveraging Field for Scalable CTR Prediction

【状态】：报名

【repo链接】：https://github.com/chenjiyan2001/paddle-FLEN

[2021-12-05 10:57] BeyondYourself commented on #37793
才用的paddleserving服务

[2021-12-05 12:11] lidanqing-vv commented on #37422
Hi, @baoachun I can not download this model, the URL looks not reachable from outside. Could you please try drag the model into comment box?

[2021-12-05 12:20] wangxicoding commented on #37854
Sorry, c_allgather is only supported in linux.

[2021-12-05 12:38] wangxicoding commented on #37852
![image](https://user-images.githubusercontent.com/10208305/144746718-bc17e52f-1fcf-4791-9b61-393801e11b96.png)
1、Paddle里面应该是把mean和variance也给统计进去了，所以是4*64=128。torch应该是用buffer实现的mean和variance
2、直接使用`.trainable`查看weight和bias是可训练的，mean和variance是non-trainable的。 这个可能是`paddle.summary`什么地方有问题，还得再定位一下

[2021-12-05 12:42] justld commented on #37852
感谢解答

[2021-12-05 12:46] vax521 commented on #37401
【队名】：晓飞好队

【序号】：10

【论文】：Recurrent Models of Visual Attention

【状态】：报名

【repo链接】：https://github.com/vax521/recurrent-visual-attention-paddle

[2021-12-05 12:51] wangxicoding commented on #37850
看起来应该是jit.save不兼容PyLayer自定义算子，等上班我再询问下相关同学
另外直接使用paddle.save能保存吗

[2021-12-05 13:07] txyugood commented on #37850
paddle.save是没问题的。

[2021-12-05 13:51] Week0327 opened #37859 "pos_enc_param = fluid.global_scope().find_var(pos_enc_param_name).get_tensor()出错"
#### 出现如下错误：
Traceback (most recent call last):
  File "main.py", line 39, in <module>
    do_train(args)
  File "/home/aistudio/train.py", line 135, in do_train
    pos_enc_param_name).get_tensor()
AttributeError: 'NoneType' object has no attribute 'get_tensor'
#### 代码是：
[code]

[2021-12-05 16:39] MaDanting commented on #37522
解决了，谢谢，是我的数据集封装还是存在一点问题。
还有一个问题想请教一下，在PaddleFL中进行横向联邦学习时，每个trainer必须使用相同的数据量进行训练吗？
我在使用dpsgd时，当4个trainer使用的数据量大小不同时，虽然报错，但是五个小时都没有获得第一轮训练的结果。

[2021-12-06 01:13] songxujay commented on #37854
Thanks for your reply. BTW, dist.all_gather() can just be used on Linux? How about windows?

[2021-12-06 01:32] cqray1990 opened #37861 "中断训练程序，显存从来来没有有自动释放过，一直占用，kill 调进程也一样，真的是难受，每次都要注销"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-12-06 02:28] #37859 closed, assigned to JZ-LIANG

[2021-12-06 02:45] JZ-LIANG commented on #37855
是的，数据预处理都是封装好dataloader 类里实现的， dataloader 输出的都是向量化的 tensor。可以参考https://www.paddlepaddle.org.cn/hubdetail?name=ernie&en_category=SemanticModel

具体tensor shape、dtype 和 place 等 还需要结合具体模型才能判断， 这个是模型侧问题，不是框架侧。 可以在https://github.com/PaddlePaddle/ERNIE 中找到具体模型判断或提问

[2021-12-06 02:46] pangyoki commented on #37861
请问你跑的啥模型？用的什么方法中断程序？

[2021-12-06 02:58] Fujiaoji commented on #37855
ok, 多谢

[2021-12-06 02:58] #37855 closed, assigned to JZ-LIANG

[2021-12-06 02:59] JZ-LIANG commented on #37856
首先，这个api 实际静态图接口，只用使用静态图训练的模型才能使用。
静态图参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/save_inference_model_cn.html#save-inference-model
https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/save_cn.html#savesave-inference-model
动态图参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/save_cn.html#save

[2021-12-06 03:06] wangxicoding commented on #37854
yes, dist.all_gather() is impl by NCCL which only supports Linux, doesn't support Windows.

[2021-12-06 03:07] Fujiaoji opened #37866 "动转静报错"
Paddle version: 2.2.0
Paddle With CUDA: True
Python version: 3.7.10
CUDA version: 9.0.176
cuDNN version: None.None.None
Nvidia driver version: 418.39

动转静报错，用的是直接在save中保存的那种方法，没在forward加to static;
描述：可以正常训练一个epoch 并保存模型，但是到了第二epoch就开始出错；另外为啥会在backward报错呢。。。
INFO:root:Epoch 2 / 300:
Traceback (most recent call last):
  File "run.py", line 703, in <module>
    train(env)
  File "run.py", line 148, i

[2021-12-06 03:24] Fujiaoji commented on #37866
单纯拿了一个数据，只train是没有问题，加上dev就会出错了。。。是不能在train的时候加dev吗

[2021-12-06 03:26] pangyoki commented on #37866
你好，看报错，应该是`sum`这个op不支持`bool`类型导致报错。至于为什么是在backward里报错，因为动态图反向是自动构建的，可能跑前向网络没问题，跑反向op时才出问题。

麻烦使用`GLOG_v=4 python train.py`的形式打印日志，看下执行的op的情况，确定是哪个前向op出问题了，看下类型是否不对。

[2021-12-06 03:27] pangyoki commented on #37866
dev里面加了什么逻辑？

[2021-12-06 03:46] Fujiaoji commented on #37866
不对，去掉dev也是会错，稍等我看下日志

[2021-12-06 03:54] chenwhql commented on #37850
您好，如报错提示所述，pylayer仅支持在动态图模式下使用，不支持在静态图下使用，这个我们后续评估一下，感谢反馈，目前可以使用C++自定义算子，支持动态图、动转静与静态图多种模式

[2021-12-06 04:16] lidanqing-vv commented on #37075
Hi, @pmajchrzak thank you so much for so well marked picture ! The testing machine is CLX right? So that Baidu could reproduce it on CLX machine (Like 6271, 6248)

[2021-12-06 05:45] lidanqing-vv opened #37873 "Accuracy diff of Retinanet int8 and Retinanet FP32"
Add quantization int8 support to speedup following models
- Frcnn-r50-fpn
- Retinanet
- mobilenetv2

[2021-12-06 05:47] lidanqing-vv commented on #37873
Status update: WW49
- Retinanet-fpn:
    - INT8 model generated, int8/fp32 1.5X, but there is gap compared with ideal. Currently working on detection_output to speed it up more.
    - Risk:
        - The quant-aware training one epoch model accuracy is bad -> Received T4 and working on generating retinanet quant model
        - Need to ask Diaorenyan
- Frcnn-r50-fpn:
    - Roi_aling was improved b

[2021-12-06 05:53] lixiangMindSpore opened #37874 "Paddle环境安装问题"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.0rc
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：GeForce RTX 3090，CUDA和cuDNN如下所示
![image](https://user-images.githubusercontent.com/78945582/144794443-7255ffc0-f389-4d2f-a785-837fa67f1c67.png)
![image](http

[2021-12-06 06:02] Aurelius84 commented on #37695
block 的问题，我们已经提PR修复了：https://github.com/PaddlePaddle/Paddle/pull/37827

[2021-12-06 06:11] qiuming-93 opened #37875 "如何实现对结果中的某几个通道进行反向传播"
- 标题：如何实现对结果中的某几个通道进行反向传播
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-cpu 2.1.0
    2）CPU/GPU：cpu
    4）Python3.7
    5）显存信息

最终输出结果为（b, c , h, w），想要实现对结果中的某几个通道进行反向传播，尝试过通过下标索引，类似（:, 0, : , :）这样，但是发现不管选择哪个通道进行反向传播的梯度都是一样的， 也尝试过构建index tensor，通过如下代码的方式，发现不同通道进行反向传播的梯度还是一样的，说明这两种方案其实都是完整输出结果反向传播的梯度，如何实现部分通道的反向传播的梯度
target_out_index = paddle.to_tensor(np.zeros(out.shape, dtype=np.float32))
target_o

[2021-12-06 06:12] zhangting2020 commented on #37594
如果没有新的问题，我们将关闭issue。

[2021-12-06 06:19] #37594 closed, assigned to zhangting2020

[2021-12-06 06:52] pangyoki commented on #37874
看起来你环境里cuda是cuda10.1，但是安装的是cuda10.2的包？麻烦`nvcc -V`看下需要的cuda版本吧。
可使用`python -m pip install paddlepaddle-gpu==2.2.0.post101 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html`安装cuda10.1的包试试

[2021-12-06 06:56] lixiangMindSpore commented on #37874
这个也试过了，一样的错误

[2021-12-06 07:00] lidanqing-vv opened #37877 "Refactor save_quant_model.py to C++ pass"
Refactor save_quant_model.py to C++ pass

[2021-12-06 07:07] pangyoki commented on #37874
建议用docker安装试下吧，因为你的gcc版本太低也用不了paddle。
可以参考下这个文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/docker/linux-docker.html

可以尝试下这两个镜像：
docker pull paddlepaddle/paddle:2.2.0-gpu-cuda10.2-cudnn7
docker pull paddlepaddle/paddle:2.2.0-gpu-cuda11.2-cudnn8

也有3090显卡没法用cuda10.x的可能。

[2021-12-06 07:25] voipchina commented on #37401
【队名】：初学者

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：提交

【repo链接】：https://github.com/voipchina/PaddleMAE

[2021-12-06 07:30] pmajchrzak commented on #37075
The most recent values presented were performed on the CLX machine, but such drop steps are observed on SKX and CPX also.

[2021-12-06 07:32] xandery-geek commented on #36608
没有，最后只用了单卡。
你可以尝试一下@wenming2014 提到的用docker方式使用paddle，我不想折腾了，没试。

[2021-12-06 08:17] lixiangMindSpore commented on #37874
我有一个2080显卡环境，gcc版本是6.5.0，这个能运行，但是3090显卡环境的gcc版本是7.5.0，按理说不应该是gcc版本的而原因吧？

[2021-12-06 08:36] liqitong-a commented on #37401
【队名】：划划水

【序号】：72

【论文】：DCN V2: Improved Deep & Cross Network and Practical Lessons for Web-scale Learning to Rank Systems

【状态】：报名

【repo链接】：https://github.com/liqitong-a/DCNv2-Paddle

[2021-12-06 08:37] jiweibo commented on #37793
请问下可以在serving下帖个issue吗，目前log有限，看不出问题

[2021-12-06 08:50] pangyoki commented on #37874
嗯嗯，这个报错不是gcc版本引起的。我的意思是，即使你上面cuda的这个问题解决了，也还会遇到gcc版本太低的问题，需要再装gcc也比较麻烦。
最好先试下镜像能不能用，排除下CUDA环境的问题。
建议试下11.2的镜像。

[2021-12-06 08:57] BeyondYourself commented on #37793
好的，还是多谢

[2021-12-06 08:58] Ligoml commented on #37852
![image](https://user-images.githubusercontent.com/39876205/144816787-85763db8-de28-41ad-867c-b3ef1e60a53d.png)
关于 torch 模型转换为 paddle 的细节问题，在论文复现指南中有详细的介绍，欢迎参考文档开展论文复现工作：
https://github.com/PaddlePaddle/models/blob/tipc/docs/lwfx/ArticleReproduction_CV.md#42-%E6%A8%A1%E5%9E%8B%E7%BB%93%E6%9E%84%E5%AF%B9%E9%BD%90

[2021-12-06 09:06] Ligoml commented on #37852
相关参考资料：
论文复现指南：https://github.com/PaddlePaddle/models/blob/tipc/docs/lwfx/ArticleReproduction_CV.md
视频教程：https://aistudio.baidu.com/aistudio/education/group/info/24681

[2021-12-06 09:13] cqray1990 commented on #37861
训练的paddleocr的，开始的时候直接ctr+c，然后发现不行，就找到python的进程 kill 掉还是不行，进程虽然kill掉了，但是现存还占着

[2021-12-06 09:14] cqray1990 commented on #37861
@pangyoki ，pytorch多卡训练和单卡训练现存都不会一直占着阿

[2021-12-06 09:27] zhangting2020 commented on #37609
我查看了下_export_inference_model的源码，PaddleX应该只支持给网络1个输入tensor，接口如下，通过image_shape参数指定网络输入tensor的shape。
`_export_inference_model(self, save_dir, image_shape=None)`

你的写法里：
- x['image']是网络输入tensor
- x['im_shape']是什么类型呢，是list？
- x['scale_factor']是tensor还是数值类型比如float？

先确认下你的使用是否正确呢？

[2021-12-06 09:36] kjf4096 commented on #37401
【队名】：jsdbzcm

【序号】：10

【论文】：Recurrent Models of Visual Attention

【状态】：报名

【repo链接】：https://github.com/kjf4096/Recurrent-Models-of-Visual-Attention

[2021-12-06 09:48] lixiangMindSpore commented on #37874
感谢您，按照您发的指导，安装了容器，但是docker内安装nccl失败，我是下载https://gitee.com/devilmaycry812839668/nccl-tests然后make，还用了官网的https://developer.nvidia.com/nccl/nccl-legacy-downloads安装，都失败了，您这面有什么方法吗？谢谢您

![image](https://user-images.githubusercontent.com/78945582/144823657-af0b453e-5bca-401d-893b-b03206b6eb43.png)

[2021-12-06 11:24] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：206

【论文】：ENet: A Deep Neural Network Architecture for Real-Time Semantic Segmentation

【状态】：提交

【repo链接】：https://github.com/PaddlePaddle/PaddleSeg/pull/1573

[2021-12-06 12:40] GodWuzZ commented on #37401
【队名】：雀氏蟀

【序号】：35

【论文】：A Style-Based Generator Architecture for Generative Adversarial Networks

【状态】：报名

【repo链接】：https://github.com/GodWuzZ/Style-Based-GAN

[2021-12-06 12:46] Fujiaoji commented on #37866
还是报错，我没找到这个sum在哪里，决定直接转写静态图了，多谢

[2021-12-06 12:46] #37866 closed, assigned to nobody

[2021-12-06 13:01] pangyoki commented on #37874
docker里不需要重新装nccl，已经装好了，可以设置这两个配置试试：
[code]

[2021-12-06 13:07] pangyoki commented on #37861
有可能是你的进程没删干净，nvidia-smi也可以看到占着卡的进程号，继续杀这个进程吧。

[2021-12-06 14:27] pangyoki commented on #37875
你好，可以尝试slice结束之后，使用`stop_gradient`属性控制slice出来的Tensor是否能够回传梯度。
例如，
[code]

[2021-12-06 16:28] hatimwen commented on #37401
【队名】：114战队

【序号】：9

【论文】：Emerging Properties in Self-Supervised Vision Transformers

【状态】：报名

【repo链接】：https://github.com/hatimwen/dino_paddle

[2021-12-06 16:28] hatimwen commented on #37401
【队名】：114战队

【序号】：9

【论文】：Emerging Properties in Self-Supervised Vision Transformers

【状态】：报名

【repo链接】：https://github.com/hatimwen/dino_paddle

[2021-12-06 17:59] Louis8582 commented on #37609
我相信是没有错误的，因为我转换出来的不管在python 或者 C++都能使用。您可以往下一层去看，往下是呼叫 _get_test_inputs 来完成建构模型所需输入，我上面提供是已经转换完的所需输入，你只看到 Paddlex 层级是不够的。当然前提你可以假定model_path使固定的

[2021-12-07 00:45] lixiangMindSpore commented on #37874
非常感谢

[2021-12-07 03:46] jiaohuix commented on #37695
好的，我看看

[2021-12-07 03:52] Verylight commented on #37874
版本：paddlepaddle 2.2，
-----------------------------------------------------------------------------+
| NVIDIA-SMI 472.42       Driver Version: 472.42       CUDA Version: 11.4     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU

[2021-12-07 04:06] FlyingQianMM commented on #37609
@Louis8582 您好，导出模型时在网络中插入normalize/resize等op，可以参考PaddleDetection目前的代码实现。目前PaddleDetection在导出时指定fuse_normalize即可：https://github.com/PaddlePaddle/PaddleDetection/blob/3167ecb6c58bf94122d5c5a4b65f28d0c6e73a40/configs/keypoint/tiny_pose/README.md

[2021-12-07 06:04] BeyondYourself commented on #37793
@jiweibo
![image](https://user-images.githubusercontent.com/12640462/144975400-2cf70e82-8f4f-467e-bb11-f3bf7e7a7088.png)

这个错误是什么意思，可否解答一下

[2021-12-07 06:08] luotao1 commented on #33005
从发布包侧看，这个优化点已经完成了，C++发布包(tar.gz)已经改成软链方式，发布包降低30M左右，python发布包，由于whl打包方式限制，软链文件会被处理为普通文件，所以优化点无效。

[2021-12-07 06:08] #33005 closed, assigned to Aganlengzi

[2021-12-07 06:09] #37690 closed, assigned to yaoxuefeng6, juncaipeng

[2021-12-07 06:39] #27276 closed, assigned to nobody

[2021-12-07 06:39] #28438 closed, assigned to iclementine

[2021-12-07 06:39] #29082 closed, assigned to yinhaofeng

[2021-12-07 06:39] #29110 closed, assigned to yinhaofeng

[2021-12-07 06:39] #29197 closed, assigned to MissPenguin

[2021-12-07 06:39] #29203 closed, assigned to tink2123

[2021-12-07 06:39] #29237 closed, assigned to ZHUI

[2021-12-07 06:39] #29256 closed, assigned to ZHUI

[2021-12-07 06:39] #29287 closed, assigned to nobody

[2021-12-07 06:39] #29296 closed, assigned to joey12300

[2021-12-07 06:39] #29335 closed, assigned to wawltor

[2021-12-07 06:39] #29398 closed, assigned to luotao1

[2021-12-07 07:21] fanglujie commented on #37401
【队名】：fanglujie

【序号】：107

【论文】：Instances as Queries

【状态】：报名

【repo链接】：https://github.com/fanglujie/flj

[2021-12-07 07:25] liqitong-a commented on #37401
【队名】：划划水

【序号】：83

【论文】：Deep Session Interest Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/liqitong-a/Paddle-DSIN

[2021-12-07 07:37] XYZ-916 opened #37915 "TopKOP failed as could not launch cub::DeviceSegmentedRadixSort::SortPairsDescending to sort input, temp_storage_bytes: 767, status: invalid configuration argument"
版本：paddle-gpu==2.0.1
训练的时候出现错误：
![image](https://user-images.githubusercontent.com/14884056/144986464-2a9f4fc6-cff2-4fd9-9fad-dbdc44c55f89.png)

求解决方案。

[2021-12-07 07:59] ZzSean commented on #37265
您好，请问现在是否已恢复正常？若无请麻烦提供下复现代码

[2021-12-07 09:26] wanghuancoder commented on #37915
这个报错挺底层的。并不是Paddle框架出了问题，而是CUDA API `SortPairsDescending` 返回的错误。
我搜了一下"SortPairsDescending invalid configuration argument"，也有人在用TF时遇到过同样的问题，但没有人回答解决方案。
我怀疑还是在模型上，传入了错误的数据导致的。
我建议你打印一下传入TopK的数据和参数，看看是不是传入的数据有问题。

[2021-12-07 09:27] XYZ-916 commented on #37915
好的，感谢回复。

[2021-12-07 09:29] wanghuancoder commented on #37915
应该的

[2021-12-07 09:40] pangyoki commented on #37874
可以检查下这个dll的路径是否被加到环境变量里？Windows安装的问题麻烦 @zhouwei25 看看。另外，建议重新建一个issue，谢谢。

[2021-12-07 09:40] zhwesky2010 commented on #37874
您好，您的来信我已收到，我会尽快回复的。
——周威

[2021-12-07 12:10] BrilliantYuKaimin commented on #37401
【队名】：为往圣继绝学

【序号】：226

【论文】：Encoding in Style: a StyleGAN Encoder for Image-to-Image Translation

【状态】：报名

【repo链接】：https://github.com/BrilliantYuKaimin/pixel2style2pixel-PaddleGAN

[2021-12-07 12:22] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：250

【论文】：BiSeNet: Bilateral Segmentation Network for Real-time Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/ETTR123/BisNetV1_paddle

[2021-12-07 13:06] baoachun opened #37930 "[Highest priority] FP32 transformer-like model inference acceleration"
ref to https://github.com/oneapi-src/oneDNN/issues/1207

[2021-12-07 17:52] IcarusWizard opened #37932 "layer.to(dtype)不识别paddle.float16及paddle.float64"
- 标题：layer.to(dtype)不识别paddle.float16及paddle.float64
- 版本、环境信息：AI Studio paddlepaddle==2.2.0
复现方法：
[code]

[2021-12-07 20:25] yujiangshui commented on #26389
same issue here

[2021-12-08 01:36] cooler20p commented on #34003
同问题，官方有没有解决啊？

[2021-12-08 01:52] thisisi3 commented on #37401
【队名】：thestone

【序号】：20

【论文】：You Only Look One-level Feature

【状态】：报名

【repo链接】：[Paddle-YOLOF](https://github.com/thisisi3/Paddle-YOLOF)

[2021-12-08 01:55] KiritoSSR opened #37936 "paddle中有mask_LSTM"
我们在进行训练Lstm模型的时候可能会遇到这样的一个问题：特征的长度是不一样的，有的特征长度长，有的特征短，办法是补零同时用mask来告知数据哪里是真实的哪里是补零的，也就是更新LSTM状态时需要用mask来作为补充更新c值和h值，paddle中有对应的实现吗？

[2021-12-08 02:35] jiaohuix commented on #37401
【队名】：角灰大帝硬train一发

【序号】：4

【论文】：XCiT: Cross-Covariance Image Transformers

【状态】：报名

【repo链接】：https://github.com/MiuGod0126/XCiT_Paddle

[2021-12-08 02:39] omar16100 commented on #36801
@esythan Can't seem to get it working after installing gcc8 on Ubuntu21.04

Is there any other option?

[2021-12-08 02:47] #32297 closed, assigned to frankwhzhang

[2021-12-08 02:54] IcarusWizard commented on #37401
【队名】：SOLO

【序号】：53

【论文】：Drop an Octave: Reducing Spatial Redundancy in Convolutional Neural Networks with Octave Convolution

【状态】：报名

【repo链接】：https://github.com/IcarusWizard/octconv-paddle