[2019-10-19 15:32] chengduoZH commented on #20731
@AIpioneer  这个报错是在embeding层的计算有问题，你检查一下模型中`ipt`的名字是什么？，并且输出一下`ipt`的shape信息。

[2019-10-19 15:35] chengduoZH commented on #20732
@Sandwich-China  你检查一下`emb = fluid.layers.embedding(input=data,size=[dict_dim, emb_dim])`中`data`的数据类型是什么，这里应该是`int64`

[2019-10-20 06:14] juncaipeng commented on #20532
Release1.6 Benchmark, 2019/10/20

| Model        | FP32 Throughput(images/s)  | INT8 Throughput(images/s) |
| :-----------:| :------------:             | :------------:            |
| GoogleNet    |    32.7627                 |   67.4343                 |
| MobileNet-V1 |    73.9635                 |   218.8210                |
| MobileNet-V2 |    87.9406                 |   193.7018

[2019-10-20 07:53] luotao1 commented on #20724
`/home/abc/paddle_cpp2/src/paddle_NativePredictor.cpp:7：对‘paddle::AnalysisConfig::SetModel(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&)’未定义的引用
collect2: error: ld returned 1 exit status`这个是缺少了C++ 11的特性。需要加`set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11")`试下。

[2019-10-20 08:07] #18837 closed, assigned to Superjomn

[2019-10-20 08:07] #20019 closed, assigned to phlrain

[2019-10-20 09:31] zuokanmingyuli commented on #20724
...还是报一样的错呀，我把那一句放进了CMakeLists.txt，如下
[CMakeLists.txt](https://github.com/PaddlePaddle/Paddle/files/3747671/CMakeLists.txt)

[2019-10-20 12:47] zhizunbao-m opened #20740 "Paddle Fluid 与 Pytorch冲突问题"
环境：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）GPU：预测若用GPU，Tesla M60 CUDA9.0 CUDNN7.4.2
问题描述：
   由于工程正在从pytorch向paddle迁移，部分代码还需要用到torch的在进行包导入
[code]
时程序会直接退出，请问有没有解决办法？

[2019-10-20 13:29] gongweibao commented on #20725
你看一下卡一的日志是什么。贴一下卡1的日志。

[2019-10-20 15:25] DominicXWang opened #20741 "DynamicRNN中对hidden嵌套循环"
- paddle 1.5, python3.6

seq2seq自定义解码过程遇到问题：
我希望实现如下操作：给定m*n的矩阵X，将X中的m个**独立同质**的n维向量用**共享参数**的方式与DynamicRNN 的 hidden 状态为 S分别进行计算。最后得到m个结果，进而求出m个概率值。
尝试了两种方法：
一是复制hidden，二是DynamicRNN里面嵌套循环，结果都是报错如下
Exception: /paddle/paddle/fluid/memory/detail/meta_cache.cc:33 Assertion `desc->check_guards()` failed.
Traceback (most recent call last):
  File "./train.py", line 187, in <module>
    cli()
  File "/ho

[2019-10-20 15:51] DominicXWang commented on #20741
尝试在DynamicRNN外定义。
[code]
代码可以运行，但是实现不了期望的网络结构。但DynamicRNN里面state做输入则有问题，请问是什么原因？

[2019-10-20 22:10] qq2898 opened #20743 "conda方式安装后测试时报错"
conda虚拟环境，py3.7, cuda 10
通过conda install paddlepaddle-gpu cudatoolkit=10.0安装，完毕后测试
import paddle.fluid
提示 找不到 objgraph模块

[2019-10-21 01:58] zuole commented on #20725
log0的日志，只有sleep 60s
 ./log/job.log.0
[INFO] 2019-10-21 09:55:30,128 [    train.py:  164]:    pretraining start
[INFO] 2019-10-21 09:55:30,128 [ ernie_v1.py:   51]:    attention_probs_dropout_prob: 0.1
[INFO] 2019-10-21 09:55:30,128 [ ernie_v1.py:   51]:    hidden_act: relu
[INFO] 2019-10-21 09:55:30,128 [ ernie_v1.py:   51]:    hidden_dropout_prob: 0.1
[INFO] 2019-10-21 09:55:30,128 [ ernie_v1.py:

[2019-10-21 02:06] gongweibao commented on #20725
1. 设置export GLOG_v=10
2. 然后把卡0，卡1的详细日志Hi上发给我。

[2019-10-21 02:08] baiyfbupt opened #20744 "Block.create_paramter. _is_inited_by is very time-consuming"
Currently, our [Block.create_paramter. _is_inited_by](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/framework.py#L2354]) uses a for loop to find how many ops have initialized a var. However, when the magnitude of block.ops is large, this implementation can be very time-consuming.

For example, in an 8-layer large network, each layer has about 600 + OPS, and the complexity

[2019-10-21 02:51] #20725 closed, assigned to gongweibao

[2019-10-21 03:16] LDOUBLEV opened #20745 "Paddle 动态图模式下，dygraph.Embedding的参数is_sparse只能为False"
##测试代码

import paddle
import paddle.fluid as fluid
import paddle.fluid.dygraph as dygraph
from paddle.fluid.dygraph import FC, Conv2D, Embedding, Pool2D
from scipy.io import loadmat
import numpy as np
import random

with dygraph.guard():
    lr = 0.01
    opt = fluid.optimizer.SGD(learning_rate=lr)
    layer0 = Embedding('e', size=[10, 10], is_sparse=True)
    layer1 = FC('test', 4)
    label = np

[2019-10-21 04:27] NHZlX commented on #20603
https://github.com/PaddlePaddle/Paddle/pull/20726

[2019-10-21 05:29] #20603 closed, assigned to NHZlX

[2019-10-21 05:55] Rayarrow94 opened #20747 "paddle导入genism预训练word2vec"
想问一下paddle fluid怎么导入用genism的word2vec库预训练的embedding模型呢？和导入fluid模型一样么，还是需要转换

[2019-10-21 06:51] zhhsplendid commented on #20638
@dongfangyixi ，我们将会定位问题和修复

[2019-10-21 06:59] DDDivano opened #20749 "paddle.dataset.sentiment 数据集api报错"
linux下
![image](https://user-images.githubusercontent.com/10734244/67183092-35761d80-f413-11e9-836e-3a62dfb9ea00.png)
mac下
![image](https://user-images.githubusercontent.com/10734244/67183121-4cb50b00-f413-11e9-8869-acdbaa936e48.png)

[2019-10-21 07:07] aprilvkuo opened #20750 "gpu单卡效果有diff"
![image](https://user-images.githubusercontent.com/9441675/67183480-22b01880-f414-11e9-8629-b61ac92948ed.png)

![image](https://user-images.githubusercontent.com/9441675/67183505-3196cb00-f414-11e9-8848-17cc53203651.png)

CPU 单核和多核都能够稳定复现。随机数种子已经设定

[code]

[2019-10-21 07:18] luotao1 commented on #20724
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/native_infer.html
![image](https://user-images.githubusercontent.com/6836917/67184244-ed0c2f00-f415-11e9-9068-066896808054.png)
![image](https://user-images.githubusercontent.com/6836917/67184257-f2697980-f415-11e9-8260-1832ac67d2a8.png)
我们已经更新了1.6版本的文档，并把完整的示例上传了，您可以下载示例试下。

[2019-10-21 07:53] DDDivano opened #20752 "imdb api用法问题"
官网的这个dataset api如何使用，可以给出一个示例吗？
![image](https://user-images.githubusercontent.com/10734244/67186252-4c6c3e00-f41a-11e9-811e-7a106c6cfe9d.png)

[2019-10-21 10:55] JiabinYang commented on #20745
我们将会尽快支持

[2019-10-21 10:57] jchua127 commented on #10986
你好，是什么硬件问题呢？有啥办法吗，我也遇到了。

[2019-10-21 10:58] JiabinYang commented on #20745
主要是由于动态图下目前还不支持稀疏矩阵

[2019-10-21 11:21] gongweibao commented on #20725
检查一下是否有代理?
[code]

[2019-10-21 12:31] jchua127 commented on #7804
你好，cudnn升级到7，会和cuda8冲突吗？我看官网上cudnn7是对于cuda10的。

[2019-10-21 13:28] Helenailse commented on #10005
解决了吗

[2019-10-21 13:29] baomengxue commented on #20743
@qq2898 可以pip install objgraph 或者尝试重新安装conda install paddlepaddle-gpu cudatoolkit=10.0试一哈

[2019-10-21 17:56] jczaja commented on #20532
Further reduction of int8 perf regression can be achieved with #20753 .

As for FP32 I was not able to get reproduction on 6248 as well as 6271.

[2019-10-22 02:24] emy-085 commented on #20588
遇到了同样的问题。请问什么是多进程模式？怎样开启？

[2019-10-22 02:31] sandyhouse commented on #20588
简单的说多进程模式是每个卡一个训练进程，可以类比于分布式训练，一般通过paddle.distributed.lanch启动，可参考https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/howto/training/multi_node.html

[2019-10-22 02:37] emy-085 commented on #20588
单机多卡可以用这个模式训练吗？还是必须要多机训练？

[2019-10-22 02:39] sandyhouse commented on #20588
单机多卡就可以。 @emy-085

[2019-10-22 04:03] #20743 closed, assigned to nobody

[2019-10-22 04:07] grizzzzzzzzzzly opened #20765 "编译PaddlePaddle时如何动态链接 libcudart.so (CUDA Runtime Library)"
- 版本、环境信息：
    1）PaddlePaddle版本：release/1.5, git commit 5df0991f2b28e16ba37001022af6976d6161d840
    2）GPU：NVIDIA RTX 2080Ti, CUDA 10.0, Driver 430
    3）系统环境：Ubuntu 16.04, Python 3.5, GCC 5.4

- 安装方式信息：
      本地编译：

       cmake .. -DPY_VERSION=3.5 -DWITH_GPU=ON -DWITH_DSO=ON -DCUDNN_ROOT=/usr/local/cuda-10.0/lib64 -DCMAKE_BUILD_TYPE=Release -DCUDA_ARCH_NAME=Auto

       make -j16

- 现象：

虽然其余的CU

[2019-10-22 04:07] gongweibao commented on #20752
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/book/high-level-api/test_understand_sentiment_conv_new_api.py

看一下这个是否符合要求？

[2019-10-22 04:12] grizzzzzzzzzzly commented on #20765
参考之前的这个issue https://github.com/PaddlePaddle/Paddle/issues/17603

说明至少某个时期，PaddlePaddle编译后是动态链接**libcudart.so**的。

[2019-10-22 04:30] ResearchingDexter opened #20766 "Invoke operator conv2d_grad error"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2
    2）CPU/GPU：CUDA10.0和cuDNN7.4
    3）系统环境：centos 6.3
    4）Python3.6
    5）显存信息 12G
运行下面代码，正向没问题，反向会报错
[code]
报错信息
[code]

[2019-10-22 06:25] jchua127 commented on #10909
你好，问一下，是怎么更新的Paddle capi？哪个so文件？

[2019-10-22 06:32] 123malin commented on #20747
和导入fluid模型不一样，是需要转换的。可以先将其他模型的参数转换成一个numpy矩阵，size=[词表大小, 词向量长度]，其中矩阵的第i行代表词表中第i个单词对应的词向量，然后调用paddle.fluid.NumpyArrayInitializer去初始化paddle的词向量表。

[2019-10-22 06:56] yanyq1990 opened #20767 "压缩后输出模型"
使用Compressor对模型进行量化后输出结果有float、int8、mobile三种，包括model、weights两个文件，这两个文件如何加载使用，与paddle提到的几种，save_vars、save_params、save_persistables 和 save_inference_model的输出结果都不一样。

[2019-10-22 07:25] jchua127 commented on #11195
你好，请问这个头文件如何升级呢？

[2019-10-22 07:56] sandyhouse commented on #20188
已定位，热启动无法回复的原因是reader中没有使用设置seed，导致各个trainer的文件列表是不一致的，进而导致热启动时使用的文件列表和模型保存前的文件列表不一致，出现未训练过的数据。

[2019-10-22 07:57] sandyhouse commented on #20188
Closing this issue. Reopen it if you have any further question.

[2019-10-22 07:57] #20188 closed, assigned to gavin1332, seiriosPlus, sandyhouse

[2019-10-22 08:28] LarryLee-BD opened #20771 "BERT新增一维特征embedding，特征值id size=50，遇到Assertion `id < N` failed (received id: 2).问题"
BERT模型输入新增一维特征，与token，segment，pos特征并列，新增特征向量举例：[2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 3, 0]，该特征的vocab size设为50，新增特征代码：

self._history_marker_types = 50
self._history_marker_emb_name = "history_answer_marker_embedding"
history_marker_emb_out = fluid.layers.embedding(input=history_answer_marker_ids, size=[self._history_marker_types, self._emb_size], dtype=self._dtype,param_attr=fluid.ParamAttr(name

[2019-10-22 08:34] DDDivano commented on #20752
这里没有

这里没有 build_dict这个api呀

[2019-10-22 08:36] yangzhifeng-code opened #20772 "fleet的save_inference_model()方法，内部实现传参个数出错"
fluid 1.5.2
我的代码中调用
fleet.save_inference_model(
                        dirname=pass_dir,
                        feeded_var_names=['sparse_data', 'dense_data'],
                        target_vars=subnet.output,
                        executor=exe,
)

来保存模型，报错信息是:
Traceback (most recent call last):
File "train.py", line 243, in <module>
    share_param=False,
File "train.py", line 120, in train

[2019-10-22 08:46] guoshengCS commented on #20771
这个报错确实是id超过了词表大小，可以在embeding前面使用 `layers.Print(layers.reduce_max(input))`看下最大的id是多少

[2019-10-22 09:01] guoshengCS commented on #20767
model和weights可以使用load_inference_model加载使用

[2019-10-22 09:21] yxfGrace opened #20773 "nccl2训练报错"
nccl2分布式模式，2个节点
可以正常训练，但是0号节点在结束训练时报grpc error
![image](https://user-images.githubusercontent.com/29363426/67273194-9162a400-f4f0-11e9-83bc-5b2f37c88bf3.png)
代码中已经执行了close()
![image](https://user-images.githubusercontent.com/29363426/67273045-48aaeb00-f4f0-11e9-97ce-f15e49ab44c0.png)

[2019-10-22 09:52] LarryLee-BD commented on #20771
好的，我试试

[2019-10-22 10:13] guoshengCS commented on #20766
调整了代码后能够复现
[code]
设置 `offset.stop_gradient = True` 能够运行。

[2019-10-22 10:29] guoshengCS commented on #20765
试下这个呢
`option(WITH_DSO         "Compile PaddlePaddle with dynamic linked CUDA" ON)`
  https://github.com/PaddlePaddle/Paddle/blob/develop/CMakeLists.txt#L61

[2019-10-22 10:45] ResearchingDexter commented on #20766
但是我需要offset的梯度回传啊，设置了True就没办法回传了 啊,我是想要DCNV1的但是paddle目前不支持啊，我该如何实现

[2019-10-22 10:49] grizzzzzzzzzzly commented on #20765
这个选项我在cmake时打开了（默认就是开的）-DWITH_DSO=ON

根据 configure.cmake，这个选项的作用应该就是设置 -DPADDLE_USE_DSO，
从而控制使用 cublas, cudnn, cupti, curand, nccl 和 tensorrt 时通过dlopen动态打开相应的库。

但 cudart 还是静态链接的。

我尝试过在CUDA_NVCC_FLAGS 里加上 **-cudart=shared** , 然而并没有什么变化 。

[2019-10-22 11:07] baiyfbupt commented on #20766
您好，Paddle最新版本已经支持了DCNV1，如果有V1的需求建议使用最新版本，可以参照[API文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api_cn/layers_cn/deformable_conv_cn.html#deformable-conv)使用，与V2用法基本相似，另外设置`mask=None, modulated=False`就可以
[这里](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/beginners_guide/install/Tables.html/#whl-dev)可以下载到develop分支的最新whl安装包，不久将发布的PaddlePaddle 1.6版本也会包含对DCNV1的支持

[2019-10-22 11:11] xjqbest commented on #20772
可以试试
fleet.save_inference_model(exe, dirname= pass_dir)

在init.py中，该函数定义如下
[code]

[2019-10-22 11:21] gongweibao commented on #20773
nccl2模式还是pserver模式？

[2019-10-22 11:22] gongweibao commented on #20773
哦。这里有一个bug。去掉close这一行吧。感谢！

[2019-10-22 11:22] #20773 closed, assigned to nobody

[2019-10-22 11:36] yangzhifeng-code commented on #20772
@xjqbest
这个方法就是我用到的方法吧？有什么不同吗？

[2019-10-22 12:04] ddokupil opened #20778 "BERT use case"
Hi,
We'd like to ask you for your BERT use case (in other words: how to test it to better suite your needs).
How do you use BERT? What batch size? How many threads? In Unit Test by default it is BS=8. Do you confirm that?

[2019-10-22 12:57] chengduoZH commented on #20750
@aprilvkuo 你是GPU计算结果有diff还是CPU？

[2019-10-22 13:06] chengduoZH commented on #20608
@suytingwan  贴一下报错信息。或者贴一下你的模型。

[2019-10-22 15:06] xjqbest commented on #20772
你少传了一个参数，第一个要传executor 或者传个None
fleet.save_inference_model(exe, dirname= pass_dir) 或
fleet.save_inference_model(None, dirname= pass_dir)

[2019-10-23 01:56] banma12956 commented on #17332
You can also try layers.onehot in paddlepaddle. Here is a demo:

onehot = layers.one_hot(positions, dim)
onehot = layers.cast(onehot, dtype='float32')
gather_result = layers.reduce_sum(layers.elementwise_mul(onehot, input_tensor), dim=1)

[2019-10-23 02:10] ResearchingDexter commented on #20766
好的，我下一下

[2019-10-23 02:47] aprilvkuo commented on #20750
CPU多次运行结果无diff，  GPU的计算结果多次运行结果有diff

[2019-10-23 03:23] mapingshuo opened #20784 "Out of memory error when training bert on paddle cloud"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）GPU：Paddle cloud v100, 2机16卡

Hi，
    我在Paddle cloud多机训练bert时，遇到了OOM的错误，而实际上机器有足够的显存，错误信息如下：

[code]
您可以私信我，我可以提供Paddle cloud训练脚本以快速复现错误，谢谢！

[2019-10-23 04:34] jeng1220 opened #20786 "failed to inference resnet50 example on GPU"
- PaddlePaddle version: 1.5.2
- CPU: Intel i7
- GPU: NVIDIA V100, CUDA 10, cuDNN 7.5.0, TensorRT 5.1 GA
- OS Platform: hub.baidubce.com/paddlepaddle/paddle:1.5.2-gpu-cuda10.0-cudnn7 (the docker image was downloaded from [here](https://www.paddlepaddle.org.cn/install/quick))
![paddle_install](https://user-images.githubusercontent.com/5894445/67454820-364ebf80-f65e-11e9-8285-5b9f22e0eabe.png)

[code

[2019-10-23 04:37] NHZlX commented on #20786
使用的是cuda的lib么

[2019-10-23 04:42] jeng1220 commented on #20786
What do you mean? The docker image includes CUDA libraries

[2019-10-23 05:14] liupluswei commented on #20765
可以cmake 的时候加上-DCUDA_USE_STATIC_CUDA_RUNTIME=OFF

[2019-10-23 05:54] zhengkangjie commented on #20638
请问现在这个问题有什么进展了吗？ @zhhsplendid

[2019-10-23 06:13] mozpp opened #20788 "paddle无法在子进程中进行预测"
我想起多个进程，其中一个进程先初始化模型，然后不断预测。发现paddle和python的多进程multiprocessing有冲突
[code]

[code]

TypeError: can't pickle paddle.fluid.core_avx.AnalysisPredictor objects

[2019-10-23 06:18] mozpp commented on #20788
简化：
子进程中：
from paddle.fluid.core import AnalysisConfig
。。。
config = AnalysisConfig(model_path)
会报错
TypeError: can't pickle paddle.fluid.core_avx.AnalysisPredictor objects

[2019-10-23 06:54] grizzzzzzzzzzly commented on #20765
你好，在 release/1.5 这个分支下面，我在整个Paddle目录下搜索不到包含**CUDA_USE_STATIC_CUDA_RUNTIME**的文件。

不知道是不是在更旧/更新的分支里面才有这个选项？

[2019-10-23 07:48] lebronjdw commented on #19951
不好意思，最近忙着项目的东西，这个train_list.txt在我之前提供的百度网盘的链接里面有，500M左右，如果我自己贴也是这么大

[2019-10-23 09:00] zuokanmingyuli commented on #20724
@luotao1 非常不好意思，
我试了下用之前的库和新的打包好的示例，仍然会报错：
`[100%] Linking CXX executable mobilenet_test
CMakeFiles/mobilenet_test.dir/mobilenet_test.o：在函数‘paddle::PrepareTRTConfig(paddle::AnalysisConfig*, int)’中：
/home/abc/paddle_inference_sample_v1.6/sample/inference/mobilenet_test.cc:24：对‘paddle::AnalysisConfig::SetModel(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, st

[2019-10-23 09:09] LDOUBLEV opened #20790 "paddle 计算double grad 报错"
## 本地环境：
cuda 9, cudnn7, python3.6
## 问题描述，希望实现的功能是：
y = f(x)
dydx = fluid.gradient(y, x)
dydxdy = fluid.gradient(dydx*x,  y)
## 代码：
[code]

## 报错截图

![image](https://user-images.githubusercontent.com/26592129/67377207-e4535e80-f5b7-11e9-86ba-e7aabe5f3444.png)

计算第二次梯度的时候len(self.ops)和 len(ops_in_cpp)不相等；这段代码十月之前在paddle上还可以正常运行

[2019-10-23 09:12] zuokanmingyuli commented on #20724
@luotao1 非常不好意思，
我试了下用我上面用的版本的预测库和新的打包好的示例，仍然会报错：

`[100%] Linking CXX executable mobilenet_test CMakeFiles/mobilenet_test.dir/mobilenet_test.o：在函数‘paddle::PrepareTRTConfig(paddle::AnalysisConfig*, int)’中： /home/xxx/paddle_inference_sample_v1.6/sample/inference/mobilenet_test.cc:24：对‘paddle::AnalysisConfig::SetModel(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > co

[2019-10-23 09:18] sitongchen opened #20792 "模型转化报错"
在模型文件convert的时候使用inference_scope.find_var(file).get_tensor()
报错 inference_scope.find_var(file)为NoneType

代码如下：
import os

import math
import paddle
import paddle.fluid as fluid
import sys
import struct
import time
import numpy as np

from paddle.fluid.metrics import Auc

import argparse

def convert(use_cuda, model_dir, dest_model_dir):
    place = fluid.CUDAPlace(0) if use_cuda else fluid.CPUPlac

[2019-10-23 09:30] DDDivano commented on #20750
加上这个试试  FLAGS_cudnn_deterministic=True

[2019-10-23 09:40] wanghaoshuang commented on #20792
V1的parameter名称和fluid的parameter名称不完全一样，所以会找不到

[2019-10-23 10:23] wanghaoshuang commented on #20792
相关issue: https://github.com/PaddlePaddle/Paddle/issues/12819#issuecomment-414556154

[2019-10-23 11:10] sitongchen commented on #20792
这里没有v1的parameter呀

[2019-10-23 11:31] gongweibao commented on #20752
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/dataset/tests/imdb_test.py#L35

[2019-10-23 11:31] #20752 closed, assigned to nobody

[2019-10-23 11:44] stuhailiu opened #20794 "如何实现tf.where(cond, x, y)的等效操作，下面的代码无法运行"
目标：网络计算过程中存在某一个张量需要进行如下的操作，要求将该张量中大于等于0的值设置为c1,小于0的值设置为c2

import numpy as np
import paddle.fluid as fluid

np_inp = np.array([[100, -100], [-100, 100]], dtype=np.float32)
with fluid.dygraph.guard():
    var_inp = fluid.dygraph.to_variable(np_inp)
    if_cond = fluid.layers.greater_equal(c,
                                         fluid.layers.fill_constant(shape=var_inp .shape, dtype='int64', val

[2019-10-23 11:48] sandyhouse commented on #19951
你网盘里面的train.txt格式和要求的格式不一样呀，能转换一下并提供吗？我不太了解你的train.txt什么格式。
paddle模型要求的格式：
![image](https://user-images.githubusercontent.com/6737864/67389814-f8a25600-f5cd-11e9-9add-73b9d33ae2cf.png)
网盘中train.txt的格式
![image](https://user-images.githubusercontent.com/6737864/67389882-153e8e00-f5ce-11e9-954c-f8a78777dff3.png)

[2019-10-23 12:06] Rayarrow94 opened #20795 "如何使用fluid加载genism预训练的word2vec模型，这个需要进行模型文件的转换嘛"
使用genism库训练了word2vec模型，然后想用在fluid的网络中，这个模型参数的加载有没有例子可以参考呢

[2019-10-23 12:16] wanghaoshuang commented on #20795
可以把genism库产出的模型的embedding layer的参数转化为numpy array，然后用加载到fluid模型中的embedding parameter中。
在fluid中：
[code]

查看所有的parameter names:
[code]

[2019-10-23 12:36] wanghaoshuang commented on #10882
https://stackoverflow.com/questions/55693007/error-this-statement-may-fall-through-werror-implicit-fallthrough

这个问题可能需要修复一下。

[2019-10-23 14:14] jczaja opened #20797 "Modify ExternalProject to perform git shallow clone"
ExternalProject Add is used to download needed dependencies. Normally git clone downloads whole history of given repo. More recent cmake can perform git clone shallow to checkout only selected revision without whole history. It would be good to investigate such a possibility as it would save some time during building and save disk space when checking out. Problem is that it require recent cmake.

[2019-10-24 00:59] yanyq1990 commented on #20767
提示错误，IOError: [Errno 2] No such file or directory: 'etc/output/int8/__model__'
我试过其他几个，也都不能成功加载。

[2019-10-24 01:24] April0402 opened #20799 "预测阶段报错 create_double_buffer_reader error"
环境信息：
  PaddlePaddle版本：1.5.0
  GPU信息：P4, CUDA 9.0 CUDNN 7.3
  系统环境：python版本 3.5.3

问题描述：
  paddle使用是fluid版，模型是在ernie基础上finetune的阅读理解模型，模型结构和ernie提供的demo一致。在预测时，以服务的形式提供外部访问，并且需要将两个模型同时加载到内存中。在两个模型并发调用时，会出现这个错误。详细信息如下：
![1](https://user-images.githubusercontent.com/9245641/67445552-e82ac380-f63f-11e9-8825-e7d32a3c4052.png)
![2](https://user-images.githubusercontent.com/9245641/67445556-eb25b400-f63

[2019-10-24 01:31] yanyq1990 commented on #20767
提示错误，IOError: [Errno 2] No such file or directory: 'etc/output/int8/\_\_model\_\_'
最后的那个文件是\_\_model\_\_，没注意，markdown变成加粗了

[2019-10-24 01:55] wanghaoshuang commented on #20794
这样试试？
[code]

[2019-10-24 01:58] wanghaoshuang commented on #20799
看起来像是没有给py_reader设置data_reader:
PyReader:
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/io_cn.html#decorate_sample_list_generator

py_reader: https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/io_cn.html#py-reader

[2019-10-24 02:00] sandyhouse commented on #20749
解决方案可参考：https://www.cnblogs.com/wsygdb/p/7902956.html和https://www.imooc.com/qadetail/89863
后面修复一下。

[2019-10-24 02:32] lebronjdw commented on #19951
我了解你的意思了，paddle是要有宽高，我可以提供我写前缀的代码:
namespace fileaddsuf
{
    class Program
    {
        static void Main(string[] args)
        {

            string[] filelist = File.ReadAllLines(@"train.txt", Encoding.Default);
            for (int linenum = 0; linenum <= filelist.Length - 1; linenum++)
            {
                filelist[linenum] = "280 48 " + filelist[linenum];
            }

[2019-10-24 02:36] sandyhouse commented on #19951
也就是说，所有图片都是固定的宽280高48？

[2019-10-24 02:40] ceci3 commented on #20790
Op实现上没有问题，已经建了卡片给框架，排查近期框架上的改动导致这个问题

[2019-10-24 02:56] liupluswei commented on #20765
这个是Cmake 自带的FindCUDA.cmake里面的flag
https://github.com/Kitware/CMake/blob/master/Modules/FindCUDA.cmake#L144

[2019-10-24 02:58] grizzzzzzzzzzly commented on #20765
谢谢！我去试一下。

[2019-10-24 03:31] lebronjdw commented on #19951
数据集原数据是280*32的

[2019-10-24 05:25] jeng1220 commented on #20786
@NHZlX ,
I changed PaddlePaddle version to `paddlepaddle-gpu 1.6.0.post107` via following instructions
[code]
then it can run `resnet50_infer.py` on GPU now.  I think the root-cause of problem is caused by the prebuilt PaddlePaddle in the docker image. We should update PaddlePaddle official website soon.

However, I encountered another problem after upgraded paddlepaddle-gpu to v1.6. When I tried

[2019-10-24 05:52] mensaochun opened #20810 "给模型加上namespace之后，namespace的名字变成两份的问题"
给模型加上namespace之后
![image](https://user-images.githubusercontent.com/20737237/67457129-60f04680-f665-11e9-8918-321a658e16fa.png)

namespace的名字变成两份：
![image](https://user-images.githubusercontent.com/20737237/67457167-7d8c7e80-f665-11e9-9304-3994889ccb4e.png)

可复现的代码

[code]

[2019-10-24 05:56] yanyq1990 commented on #20767
找到了compressor保存模型的代码，知道原因了

[2019-10-24 06:05] sandyhouse commented on #19951
![image](https://user-images.githubusercontent.com/6737864/67457695-f6400a80-f666-11e9-9b98-2b0f05ef3082.png)
训练脚本要求的label格式是使用','分割的，但是你使用的是空格分割的。

[2019-10-24 06:05] OliverLPH commented on #20786
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/pybind/inference_api.cc#L309

it should be 'Float32' instead of 'kFloat32'

[2019-10-24 07:01] sneaxiy commented on #20810
这是目前底层`LayerHelper`的一个bug，感谢您的反馈。

[2019-10-24 07:08] stuhailiu commented on #20794
@wanghaoshuang fluid.layers.cast(fluid.layers.greater_equal(d, fluid.layers.zeros_like(d)), dtype="int32")
这样可以了，谢谢大佬

[2019-10-24 07:09] xiuechen opened #20813 "预测的时候出core，没有详细信息，不知道问题在哪？"
Exception: /paddle/paddle/fluid/memory/detail/meta_cache.cc:33 Assertion `desc->check_guards()` failed.
terminate called after throwing an instance of 'std::runtime_error'

debug core信息提示：

(gdb) bt
#0  0x00007f81eb3513f7 in raise () from /opt/compiler/gcc-4.8.2/lib/libc.so.6
#1  0x00007f81eb3527d8 in abort () from /opt/compiler/gcc-4.8.2/lib/libc.so.6
#2  0x00007f81ebc41c65 in __gnu_cxx::__verbos

[2019-10-24 07:54] aprilvkuo commented on #20750
@DDDivano
你好， 加上这个之后，效果还是有diff

[2019-10-24 08:07] xiangyubo opened #20814 "好奇动态图里反向传播过程相关"
版本：paddle 1.5.2
想咨询一个问题，在 paddle 的动态图里面，最后 loss 运行 backward 方法，是会计算整个网络所有参数的梯度吗？
还咨询一下哈，是不是所的 Variable 变量，都会存一个 float32的梯度属性？
我是在看源码的时候有个部分，optimizer.backward 函数里会去获取所有参数的梯度参数
[code]

[2019-10-24 08:21] phlrain commented on #20814
backward会计算所有 Variable的梯度，但是只有parameter的梯度属性才会被存储下来，中间变量都是临时的变量，运算完成之后 会被释放。

如果通过设置 stop_gradient  =True，有些反向会计算会被裁剪掉。

[2019-10-24 08:23] yanyq1990 commented on #20767
有个问题，模型卷积参数压缩为int8后，输入的数据仍然为float类型的，在paddle中不同类型的数据不允许直接相乘，会报如下的错误，那压缩后的模型如何使用？

我查过源码，5代表的是FP32，21代表的是INT8

[2019-10-24 08:46] xiangyubo commented on #20814
parameter的梯度属性才会被存储下来。
--------------------------------------------------
针对这句话，我这么理解你看对不对：
对于一个 CNN 结构的模型，绝大部分参数都是parameter，那么都会存储一个梯度。当这网络在训练的时候，所占用的内存/显存，比直观上认为的参数要大一倍，对吗？因为一般认为的参数就是定义的那一部分，没包含存储的梯度。

[2019-10-24 08:52] jeng1220 commented on #20786
@OliverLPH,
I see, thanks for help. I found that there are 2 typos in official PaddlePaddle website ([link](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/advanced_usage/deploy/inference/python_infer_cn.html)):
![config](https://user-images.githubusercontent.com/5894445/67468602-6063aa00-f67d-11e9-9b86-53b1535b0fe2.png)

1. The correct parameter is `Float32` instead of `kFloat32`
2.

[2019-10-24 08:58] MangoLiu commented on #2778
说实话，在NLP文本上，paddle还真不如lego好用。
各种疑惑。
lego和paddle合并，很是不解和苦恼。

[2019-10-24 09:23] moming11 opened #20817 "fluid.io.load_inference_model加载模型时报错paddle.fluid.core_avx.EnforceNotMet: Fail to parse program_desc from binary string"
Paddlepaddle 1.5，CPU环境，python3.5/2.7

python环境下使用fluid.io.load_inference_model加载模型时报错：
[code]

[2019-10-24 09:30] JingChunzhen opened #20818 "加载resnet50 出现Please convert data to LoDTensor directly before feeding the data"
[code]
需要输入的数据都是规整的，没有变长的情况
完整的错误信息为：
[code]

[2019-10-24 09:39] Superjomn commented on #20818
补充下模型信息，和相关配置，把完整的错误也贴出来吧

[2019-10-24 09:51] #20794 closed, assigned to nobody

[2019-10-24 09:53] wanghaoshuang commented on #20788
https://github.com/PaddlePaddle/models/issues/3724

[2019-10-24 09:55] JingChunzhen commented on #20818
* 模型使用了paddle提供的[RESNET50](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/resnet.py)
* 加载的模型使用了paddle提供的[预训练RESNET50](https://github.com/PaddlePaddle/models/blob/c3d2e6c9d8/PaddleCV/image_classification/README.md#%E5%B7%B2%E5%8F%91%E5%B8%83%E6%A8%A1%E5%9E%8B%E5%8F%8A%E5%85%B6%E6%80%A7%E8%83%BD)
* infer的代码如下
[code]
* 加载数据的代码如下
[code]
* 完整的错误信息如下
[code]

[2019-10-24 10:38] mensaochun commented on #20810
请问这个bug大概要在什么时候修复？

[2019-10-24 10:58] Superjomn commented on #20817
看起来是模型格式有问题，解析 protobuf 的模型拓扑出错

[2019-10-24 11:09] moming11 commented on #20817
跟环境配置有关系吗？另一个同学的机器环境上可以加载成功，我自己加载总是报同样的错误

[2019-10-24 11:26] wuhaijun2018 opened #20821 "相同模型，相同数据情况下，单机训练auc可以收敛提升，但是多机训练auc反而逐渐下降"
平台：paddlecloud
单机：auc 0.76
多机：auc 从0.6逐渐下降至0.52左右
optimizer ：adam
embedding：IS_SPARSE

多机配置：
    if is_local:
        train_loop(fluid.default_main_program())
    else:
        port = os.getenv("PADDLE_PORT", "6174")
        pserver_ips = os.getenv("PADDLE_PSERVERS")  # ip,ip...
        eplist = []
        for ip in pserver_ips.split(","):
            eplist.append(':'.join([ip, port]))
        ps

[2019-10-24 12:21] jiweibo commented on #20020
没有参数文件吗？我看了你提供的这么模型比较复杂，希望能一块提供参数文件，我们好复现问题

[2019-10-24 13:25] wanghaoshuang commented on #20792
@sitongchen 抱歉，你的代码是全部的代码么？
[code]
这句声明之后，inference_scope是空的，要用类似于以下的方法初始化：
[code]
关于startup_program可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/fluid_cn.html#cn-api-fluid-default-startup-program

[2019-10-24 13:31] JingChunzhen commented on #20818
传入的数据需要整体是一个np.ndarray或者一个list 该问题已解决

[2019-10-24 13:31] #20818 closed, assigned to nobody

[2019-10-24 15:15] LihangLiu commented on #14640
请问这个issue目前有进展么？

[2019-10-24 17:05] stanchan123 opened #20827 "模型复現CSRNET 出现diff"
我現將 CSRNET 模型完整部署到PADDLE 上並成功運行，但效果與原模型結果相差很遠，我的模型結構及參數跟原模型應是一樣，已經做了很多了，實在求助無問，能幫我看看到底是什麼調參還是其他問題嗎 ?
以及問有一些PADDLE 复現  要注意的地方嗎?
原模型
https://github.com/Neerajj9/CSRNet-keras

[2019-10-24 17:06] stanchan123 commented on #20827
Stan--項目名為 CSRNet-paddle

[2019-10-25 01:49] sneaxiy commented on #20810
@mensaochun 我们评估了下这个bug改动起来可能会引起兼容性问题，不太好修（比如同一份Python训练代码，上一个版本保存的参数，不能在使用下个版本中加载。请问这个对您的使用影响大吗？

[2019-10-25 02:04] seiriosPlus commented on #20817
确认一下版本：
1. 两边机器上paddle的版本是否一致
2. 两边机器上profobuf的版本是否一致

[2019-10-25 02:22] kuke commented on #14640
@yma-admin dynamic rnn 有已知的bug，暂时不建议用，这个bug和编译时的lod传导问题会在下一个版本修复
@LihangLiu sequence pad要求lod level=1是合理的，除了dynamic rnn外，其它大部分op都能在编译时正确传导lod，作为sequence pad的前驱应该没有问题。

[2019-10-25 02:27] xiangyubo opened #20829 "动态图加载模型预测相同数据集结果不固定"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    3）GPU：GPU v100
    4）系统环境：python 3.x，AI Studio

我自己搭建了一个mobile-net的模型，用于分类。训练了70轮之后，训练集的准确率达到85%，然后我把模型通过 fluid.dygraph.save_persistables 保存。
但是在验证的时候，我通过 fluid.dygraph.load_persistables 加载模型去相同的数据集上验证，准确率很低，而且多次运行时候，准确率还不同。

可以直接在 AI Studio 上 fork 这个项目运行，我已经把训练好的参数保存在当前目录下了，可以不用训练。项目地址： https://aistudio.baidu.com/aistudio/projectdetail/155065

[2019-10-25 02:29] LihangLiu commented on #14640
@kuke 下一个版本版本号多少呢？

[2019-10-25 02:29] wuhaijun2018 opened #20830 "c++预测接口，模型调用ZeroCopyRun()出core"
paddle版本：1.52
模型加载正常，但是调用ZeroCopyRun()接口，出core，麻烦看下
![image](https://user-images.githubusercontent.com/37178931/67538632-40ca9100-f712-11e9-9fe8-65e74c9bdfea.png)

代码：
![image](https://user-images.githubusercontent.com/37178931/67538649-4fb14380-f712-11e9-8b60-ad8943c5c7f5.png)

[2019-10-25 02:31] kuke commented on #14640
@LihangLiu 下一个版本是 1.7

[2019-10-25 02:42] moming11 commented on #20817
统一了protobuf版本以后试了一下还是相同的错误，还有什么其它的可能原因吗？

[2019-10-25 02:44] seiriosPlus commented on #20817
__model__这个文件有多大？

[2019-10-25 02:45] moming11 commented on #20817
14KB

[2019-10-25 02:48] phlrain commented on #20829
evaluation的时候 是不是切换到了 eval mode， 如果用到了dropout，要切换到eval mode

[2019-10-25 02:55] HoyTiger opened #20831 "请问PaddlePaddle v1.6什么时候更新"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2019-10-25 03:00] #20810 closed, assigned to nobody

[2019-10-25 03:04] mensaochun commented on #20810
如果没修复的话，只能不使用namescope了。如果需要使用，请问有什么其他可以解决的方法？

[2019-10-25 03:08] Superjomn commented on #20830
paddle 的出错日志有吗，到 core 里面看不出来

[2019-10-25 03:08] xiangyubo commented on #20829
有用到 Layer.eval() 这句话，在load_dict 之后就运行了。模型没有用到 dropout

[2019-10-25 03:09] moming11 commented on #20817
我这边找到原因了，是传模型的时候有点问题，我机器上的模型缺了什么信息导致加载不上。

[2019-10-25 03:09] #20817 closed, assigned to seiriosPlus

[2019-10-25 03:40] sneaxiy commented on #20810
@mensaochun 您可以在调用`fluid.layers`的API的时候加name参数。

[2019-10-25 03:44] mensaochun commented on #20810
这个工程量比较大，也不灵活。能否有办法在定义完模型之后，读取这个模型所有参数和变量，然后统一修改它们的名字？

[2019-10-25 03:49] wuhaijun2018 commented on #20830
没有

[2019-10-25 03:50] wuhaijun2018 commented on #20830
问下 query embeding的输入数据设置 这块有问题吗？会影响会core吗？

[2019-10-25 03:55] sneaxiy commented on #20810
@mensaochun 读取模型所有参数和变量是可以的，但是您如果要区分这些参数变量是对应哪个`fluid.layers`的API的，这比较麻烦，暂时没有特别好的办法。

[2019-10-25 06:20] OliverLPH commented on #20724
@zuokanmingyuli 你这个报错原因我也遇到过类似的问题，应该是gcc版本的问题。

1. 他们预测库编译的gcc版本是4.8.2 所以你如果调整下你环境里的gcc版本再试一下应该可以。
2. snappystream，snappy目前新的预测库中都是没有的，自己编译的预测库也没有，可以在CMakeLists.txt中删除对应的指令
3. 自己编译预测库则可以避免编译报错的问题，但snappystream，snappy仍然是缺失的

如果有需要，你可以使用下面的脚本更改下ubunutu gcc版本到gcc4.8.5（建议在docker里的环境用）
[code]

[2019-10-25 06:37] guoshengCS commented on #20741
请问m*n的矩阵X中m和n分别代表什么呢，看到贴的代码里有`z1 = fluid.layers.elementwise_mul(X, state)` 这个在DynamicRNN中可能会有问题，因为`state`（形状为`[batch_size, hidden_size]`）的batch_size会动态的变小（这个是DynamicRNN针对变长数据的特殊设计，一个batch的不等长样本若某些已经到达其长度，则会去掉），因而将一个固定大小的X和state做elementwise的乘法是可能有问题的

[2019-10-25 06:50] xiangyubo commented on #20829
现在动态图的加载出现一个奇怪的情况，我的网络构建的时候，对 Conv2D的param_attr设置了ParamAttr(initializer=MSRA())。我保存的参数打印出来看，有 Conv2D_0.w_0，但是我加载进来后，再类似打印参数，就没有这个key了
 for k, v in mobilenet.state_dict().items():
            utils.logger.info("key:{}   value:{}".format(k, v.numpy()))

[2019-10-25 07:07] SixGodGG commented on #20687
![image](https://user-images.githubusercontent.com/6395366/67550229-87cb7d00-f738-11e9-8ece-0d5b9adc4d39.png)
你好，我还是想先实现CPU版本，重新下载了预测库，还是不行，你这三个路径怎么写的，方便截图一下吗？另外最开始的paddleseg文件夹我是下载的你那个程序，直接解压。
![image](https://user-images.githubusercontent.com/6395366/67550491-31127300-f739-11e9-8aa3-55384e5fbc6b.png)
CPU的可以吗？   应该不影响吧

[2019-10-25 07:10] SixGodGG commented on #20687
@sjtubinlong

[2019-10-25 07:14] OliverLPH commented on #20786
@jeng1220
From your log, it looks like your paddle doesn't contain TensorRT subgraph.

I notice you instaledl paddle from docker? maybe you need try install from source code
[installation guide](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/build_and_install_lib_cn.html)

And cmake should contain 'DTENSORRT_ROOT'
[code]

[2019-10-25 07:56] joey12300 commented on #20687
@SixGodGG 您好，这是因为CMakeCache.txt缓存了你之前的cmake参数。如果你使用cpu_avx_mkl这个库的话，是不会链接到cuda的。建议你先把整个PaddleSeg目录删了，重新解压，然后按照[vs2019预测库安装教程](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.1.0/inference/docs/windows_vs2019_build.md)执行每一步操作。WITH_GPU, CUDA_LIB的勾去掉。

[2019-10-25 09:01] DDDivano commented on #20829
根据你的描述，排除一切随机因素，可以判断是没有正确load，所以每次infer的时候都是随机权重然后正确率低并且不是固定值。那么需要排查一下 save是否正确save下来全部的参数，可以贴一下你的代码

[2019-10-25 09:11] jeng1220 commented on #18985
Yes, after CUDA9, `__shfl_down` was deprecated due to safety issue. Please read appendix B.16 in CUDA document ([link](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#warp-shuffle-functions))

To fix this issue, we need to upgrade the third party - `warpctc`.

[2019-10-25 09:11] xiangyubo commented on #20829
我把我的网络结构换成 alex-net 就能跑，感觉是我构建 mobile-net 的部分有错。不过我不知道错在哪儿，看着像是缺少 add_sublayer，但是不太看得懂这个函数有什么用

[code]

[2019-10-25 09:31] SixGodGG commented on #20687
@joey12300 @SixGodGG
![image](https://user-images.githubusercontent.com/6395366/67560292-2661d900-f74d-11e9-8801-d2421b7005ff.png)
现在报这个错误，帮我看看，我按照你说的 重新删了以后重新解压了，库也是下载的最新的CPU的。

[2019-10-25 09:33] jeng1220 commented on #18985
@hitwangshuai,
I saw that in `develop` branch of PaddlePaddle, this issue should be fixed ([link](https://github.com/wopeizl/warp-ctc/blob/master/src/reduce.cu#L44)).

[code]
Note: In PaddlePaddle v1.6, this bug was not fixed yet.

[2019-10-25 09:45] joey12300 commented on #20687
@SixGodGG 你看看fluid_install_dir\paddle\fluid\inference目录下还有没有libpaddle_fluid.lib。

[2019-10-25 09:47] xiangyubo opened #20834 "动态图中什么时候应该用 add_subLayer"
add_sublayer这个函数是干嘛的呢？文档没有写的很清湖，不是很理解。我看 resnet 里在 __init__ 的时候就用了，但是在 forward 的时候就没用，看着似乎没什么影响.
在 __init__里面有一段
[code]
但是在 forward 的时候
[code]

[2019-10-25 10:12] DDDivano commented on #20829
这个outs不需要.numpy()，而且你这里没有save呀

[2019-10-25 10:17] menghou opened #20835 "采用稀疏特征emb后训练没有存储稀疏emb层参数，预测报错"
def word_dis_emb(word, dict_size=DICT_SIZE, embed_size=EMBED_SIZE):
    """
    """
    embed = fluid.layers.embedding(
        input=word,
        size=[dict_size, embed_size],
        dtype='float32',
        param_attr=fluid.ParamAttr(
            name="dis_emb",
            learning_rate=5,
            initializer=fluid.initializer.Xavier(fan_in=embed_size, fan_out=embed_size)
            #ini

[2019-10-25 10:57] WangTaoSpace opened #20837 "dice_loss如何进行多值图像分割？"
![image](https://user-images.githubusercontent.com/20881549/67566050-675fea80-f759-11e9-9f2f-4df5a67fe008.png)
上面是我的predict，label的shape，类别为10，为了符合dice_loss的输入我给label加了一个维度。
但是报错
![image](https://user-images.githubusercontent.com/20881549/67566190-c4f43700-f759-11e9-9183-964d843a2026.png)
多谢

[2019-10-25 11:44] willthefrog commented on #20740
用gcc5以上版本编译paddle应该就可以了。

[2019-10-25 12:04] zuokanmingyuli commented on #20724
@OliverLPH 我试一试，非常感谢！

[2019-10-25 14:04] WangTaoSpace commented on #14955
我也遇到一样的错误，但是我本地GPU能跑，ai_studio不能跑，老哥最后如何解决的？

[2019-10-25 15:38] seiriosPlus commented on #20835
1. save使用的是 `save_persistable` 还是 ·save_inerence_model·
2. 如果使用了`save_inerence_model` 拆解的网络中，确认包含 `dis_emb`么？

[2019-10-26 07:02] Yogurt2019 opened #20839 "静态图模式下如何将numpy数组传入层以作为常量使用？"
Hi，我在使用静态图模式时，需要向主程序传入一个常量以供使用，在静态图模式下如何实现传入一个常量呢？
我试过使用Tensor中的set()方法，但是在进行矩阵乘法的时候报错：
- File "/home/ddj2/PycharmProjects/image_classification_tax/build_model.py", line 69, in _tax_model
-     p = fluid.layers.matmul(mask, base_result_sf, transpose_x=False, transpose_y=True)
-   File "/home/ddj2/.conda/envs/paddle/lib/python3.7/site-packages/paddle/fluid/layers/nn.py", line 6777, in matmul
-

[2019-10-26 12:59] phlrain commented on #20839
可以试下 fill_constant

[2019-10-26 14:02] menghou commented on #20835
save使用的是‘save_persistable’

[2019-10-26 14:03] zuokanmingyuli commented on #20724
@OliverLPH 问题解决了，非常感谢！

[2019-10-28 01:14] yanyq1990 opened #20841 "量化后int8模型如何对输入为float类型数据进行预测？"
原模型输入为float（0~1）的RGB图片，模型经过压缩后，卷积核参数量化为int8，在预测时报错，类型不一致，即输入的float类型数据与int8类型卷积核无法计算，这种情况如何处理？

[2019-10-28 01:34] bingyanghuang commented on #20778
@luotao1 Could you help provide us some information about this?

[2019-10-28 01:42] xiangyubo commented on #20829
这个只是网络结构的部分，没包含训练。。。完整的可以看我在 AI Studio 上的项目，是公开的。

[2019-10-28 01:54] seiriosPlus commented on #20835
把`is_distributed`设置为False.

[2019-10-28 01:55] lebronjdw commented on #19951
okay,好的，我再重新写下

[2019-10-28 02:09] SixGodGG commented on #20687
![image](https://user-images.githubusercontent.com/6395366/67646792-a87b1900-f96a-11e9-8722-57b43724a42a.png)
![image](https://user-images.githubusercontent.com/6395366/67646836-d3656d00-f96a-11e9-800d-acec6458b0dc.png)
我这里的paddle目录下没有fluid 文件夹
@joey12300
@sjtubinlong 您帮忙再看看

[2019-10-28 02:18] SixGodGG commented on #20687
![image](https://user-images.githubusercontent.com/6395366/67647179-47544500-f96c-11e9-8b60-f1338451e693.png)
我再重新下载一遍
@joey12300 @sjtubinlong

[2019-10-28 02:20] GaoWei8 opened #20842 "Ernie-large模型MKLDNN库报错"
- PaddlePaddle版本：develop
commit id：
![屏幕快照 2019-10-28 16 10 23](https://user-images.githubusercontent.com/53294385/67661993-7c2cc000-f99d-11e9-8c0c-d81c9428e69a.png)

- CPU型号: Intel(R) Xeon(R) Gold 6148 CPU

-  使用Docker镜像：hub.baidubce.com/paddlepaddle/paddle:latest-dev

- 模型信息
[模型：Ernie-large](https://github.com/PaddlePaddle/ERNIE)

- 错误信息：
打开MKLDNN库，报错。
关掉MKLDNN库，错误消失。

- 错误详细信息：
<img width="698"

[2019-10-28 02:25] joey12300 commented on #20687
@SixGodGG 新版本Windows的预测库路径稍微修改了一下。你可以先用这个https://github.com/joey12300/PaddleSeg/blob/release/v0.1.0/inference/CMakeLists.txt 来替代你使用的CMakeLists.txt。替代完后重新编译一下就行，不用再重新下载。

[2019-10-28 02:25] luotao1 commented on #20842
1. 1.6版本MKLDNN还会出同样问题么？
2. MKL版本会报错么？

[2019-10-28 02:35] SixGodGG commented on #20687
这才是关键，  都对应不上，作为新手，我们哪知道改哪里，怎么改。建议说明文档还是标注一下吧。行，我下载一下试试，
刚才最新的那个我重新下载了，确实还不行。

[2019-10-28 02:53] SixGodGG commented on #20687
[1/14] cmd.exe /C "cd /D D:\DeepLearning\PaddleSolution\PaddleSeg-master\inference\out\build\x64-Release && "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\IDE\CommonExtensions\Microsoft\CMake\CMake\bin\cmake.exe" -E make_directory D:/DeepLearning/PaddleSolution/PaddleSeg-master/inference/out/build/x64-Release/ext/yaml-cpp/src/ext-yaml-cpp && "C:\Program Files (x86)\Microsof

[2019-10-28 02:56] jeng1220 commented on #20786
@OliverLPH,
Thanks for help. I didn't find statement regarding `-DTENSORRT_ROOT=${TensorRT_ROOT_DIR}` in PaddlePaddle document. This is another thing which should be improved.

I tried to build from the source and encountered the bug #18985 so I have no choice to switch to `develop` branch (483d0512cea86609c4e3aa11ca1a8f05108b68e9) instead of v1.6 to build, then it threw:
[code]
How do you handle

[2019-10-28 03:23] joey12300 commented on #20687
谢谢你的反馈，之后会在相关说明文档进行详细说明。欢迎继续使用

[2019-10-28 03:23] #20687 closed, assigned to ZeyuChen

[2019-10-28 03:27] seiriosPlus commented on #20837
这个是说定义的数据类型错误，  one hot 只支持int/int64类型的输入

[2019-10-28 03:27] seiriosPlus commented on #20835
问题已解决，close

[2019-10-28 03:27] #20835 closed, assigned to seiriosPlus

[2019-10-28 03:28] seiriosPlus commented on #20831
本周或者下周，敬请留意

[2019-10-28 03:32] sneaxiy commented on #20784
已在线下沟通，优化了allocator的报错信息后，并与cloud同学协助排查问题。

[2019-10-28 04:18] NHZlX commented on #20830
shell 下设置 `export GLOG_v=4` 可以打印出更多的log。

另外可以贴一下AnalysisConfig设置的代码么

[2019-10-28 05:02] grizzzzzzzzzzly commented on #20765
指定这个flag之后，编译出来的 core_avx.so 的确动态链接到了 libcudart.so，

不过third_party/warpctc编译生成的 **libwarpctc.so** 仍然静态链接了 libcudart_static.a。

我尝试过在 cmake/external/warpctc.cmake 里面的 CMAKE_ARGS 中加上了

    -DCUDA_USE_STATIC_CUDA_RUNTIME=OFF

但从生成的

    build/third_party/warpctc/src/extern_warpctc-build/CMakeCache.txt

中，可以看到 -DCUDA_USE_STATIC_CUDA_RUNTIME=ON。

不知道有没有什么办法可以让编译出来的 **libwarpctc.so** 也动态链接 libcudart.so

[2019-10-28 05:46] OliverLPH commented on #20786
@jeng1220
I tried the following cmake options, but I haven't encounter your problem? I think you should enable DWITH_PYTHON=ON first. And if it still cannot work properly, I thought the problem might due to python environment, my suggestion is you can try to build Paddle by using Anaconda python environment.

[code]

[2019-10-28 06:02] yxfGrace opened #20849 "paddle 1.6.0 训练过程中报错"
使用paddle fluid 1.6.0
k8s cpu 2个trainer 2个pserver
正常训练一段时间后报错
![image](https://user-images.githubusercontent.com/29363426/67654979-33b7d700-f98a-11e9-84b7-46f2e0b46761.png)
![image](https://user-images.githubusercontent.com/29363426/67654998-46321080-f98a-11e9-98e1-73dd98469b3f.png)
如果是1个trainer1个pserver，目前还没有发现会报错

[2019-10-28 06:18] jeng1220 commented on #20786
@OliverLPH ,
In the default setting, `WITH_PYTHON` is ON, so I think it doesn't matter.
https://github.com/PaddlePaddle/Paddle/blob/develop/CMakeLists.txt#L63
[code]
Anyway, I still tried it by following #18976 (looks like he succeeded and he used `-DWITH_PYTHON=ON `) .  However, I still encountered same error, so I tried to do what error message told - add a tag to 483d051 like:
[code]
then I enc

[2019-10-28 06:40] mzchtx opened #20850 "ZeroCopyTensor 支持 int8"
ISSUE(https://github.com/PaddlePaddle/Paddle/pull/19822) 中 `ZeroCopyTensor` 添加了 uint8 的支持，能否把 int8 也加上？

[2019-10-28 06:53] miraclebiu opened #20851 "an illegal memory access was encountered"
模型测试时报错：

`terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  an illegal memory access was encountered at [/paddle/newop/Paddle/paddle/fluid/platform/device_context.cc:102]
PaddlePaddle Call Stacks:
0       0x7feb1b158950p void paddle::platform::EnforceNotMet::Init<char const*>(char const*, char const*, int) + 352
1       0x7feb1b158cc9p paddle::platform::E

[2019-10-28 06:55] miraclebiu commented on #20851
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  an illegal memory access was encountered at [/paddle/newop/Paddle/paddle/fluid/platform/device_context.cc:102]
PaddlePaddle Call Stacks:
0       0x7feb1b158950p void paddle::platform::EnforceNotMet::Init<char const*>(char const*, char const*, int) + 352
1       0x7feb1b158cc9p paddle::platform::EnforceNotMe

[2019-10-28 06:56] wuhaijun2018 commented on #20830
已经解决，主要是lod-tensor输入数据的配置上有问题，导致数据类型异常，出core，thx

[2019-10-28 07:00] tensor-tang commented on #20851
请问是必现的问题还是偶发的，是一开始就挂了，还是跑了几个迭代后的

[2019-10-28 07:42] jeng1220 commented on #20786
@OliverLPH ,
After downgraded to Python 2.7, I still encountered same error:
[code]
but building process didn't stop. It kept going and finally generated `paddlepaddle_gpu-0.0.0-cp27-cp27mu-linux_x86_64.whl`.

I think major issue is Python version because I didn't change other things. This means PaddlePaddle codebase has compatibility issue with Python 3.6+. We supposedly need someone to investiga

[2019-10-28 07:59] jeng1220 commented on #20786
@NHZlX ,

After solved above errors, I tried to run `resnet50_infer.py` on `develop` branch (3b31b74e205dcad70e4c09482dec1ed0eea83d60) again, then encountered segmentation fault. Note, If I only use `config.enable_use_gpu(100, 0)` without `config.enable_tensorrt_engine(...)`, it can run on GPU.

Log:
[code]

[2019-10-28 08:13] GaoWei8 commented on #20842
1. 已用最新develop分支，commit ID已更新
2. MKL版本不会报错。

[2019-10-28 08:26] miraclebiu commented on #20851
稳定出现，一开始就挂了

[2019-10-28 10:26] jeng1220 commented on #20786
@NHZlX ,
After investigated `tensorrt.cmake`, I finally could run `resnet50_infer.py` with TensorRT. I have submitted PR #20858. Please help to review and merge.

[2019-10-28 11:28] xiuechen opened #20859 "预测出core，能帮忙看下啥原因不？paddle训练和预测的版本都是v1.3.0"
[code]

[2019-10-28 11:31] NHZlX commented on #20859
predictor的创建是在线程外创建的么

[2019-10-28 12:02] #20724 closed, assigned to NHZlX

[2019-10-28 12:43] DominicXWang commented on #20741
m是候选（比如字符串）的个数，n是候选的向量表示的维度。需要m个候选的向量表示分别与state做运算，可能是但不限于elementwise_mul。请问有无方法实现单个time step中若干个不同元素与state做运算？

[2019-10-28 13:09] Xreki commented on #14640
PR https://github.com/PaddlePaddle/Paddle/pull/19144 可解决此issue中的问题。已经更新到develop。

[2019-10-28 13:09] MrChengmo commented on #20849
请问具体的错误是什么呢？可以贴一下报错日志，提供一下复现代码吗？

[2019-10-28 14:47] mapingshuo commented on #20784
事实上这是一个超出内存的问题，而不是超出显存，调大内存量后问题消失了，感谢 @xymyeah

[2019-10-28 15:40] tensor-tang commented on #20841
可否贴下具体的报错信息，int8量化应该跟输入类型没有直接关系吧。

[2019-10-29 01:21] #20766 closed, assigned to baiyfbupt

[2019-10-29 02:47] yanyq1990 commented on #20841
Traceback (most recent call last):
  File "test.py", line 101, in <module>
    main()
  File "test.py", line 88, in main
    fetch_list=fetch_targets)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/executor.py", line 657, in run
    use_program_cache=use_program_cache)
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/executor.py", line 755, in _run
    exe.run(program.desc,

[2019-10-29 02:50] yanyq1990 commented on #20841
主要的就是我加粗显示的两行，提示卷积操作的输入和filter类型必须一致，而现在的是input_data_type:5 != filter_data_type:21，paddle源码定义的FP32 = 5，INT8 = 21，而我图片输入是0~1的float数据，量化后卷积参数为int8的

[2019-10-29 03:07] xiuechen commented on #20859
是在线程外创建的，补充一下，调整了brpc的线程数是1的时候，压测都没问题，可以正常预测。但是压测的情况下会出core，信息：

terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  Invoke operator lookup_table error.
Python Callstacks:
  File "/home/work/gongxijun/anaconda2/lib/python2.7/site-packages/paddle/fluid/framework.py", line 1317, in append_op
    attrs=kwargs.get("attrs", None))
  File "/home/work/gongxijun/ana

[2019-10-29 03:33] MangoLiu commented on #13103
本来加载预训练embedding是个很通用的点。
但文档偏偏让参考语义角色标注中的一段代码。
难道抽象一下，写到通用文档里，不好吗？

[2019-10-29 03:41] AIpioneer opened #20864 "paddle的服务器部署相关的问题"
请问一下，现在在进行paddle的服务器部署，官方文档
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/python_infer_cn.html#paddledtype
中Python 预测 API 使用代码：
tensor = PaddleTensor(name="tensor", data=numpy.array([1, 2, 3], dtype="int32"))
提示
tensor = PaddleTensor(name="tensor", data=np.array([1, 2, 3], dtype="int32"))
TypeError: __init__(): incompatible constructor arguments. The followi

[2019-10-29 03:59] Meiyim opened #20866 "Paddle1.6与Multiprocessing冲突"
运行环境： cuda9.0 cudnn7.3 linux
测试代码：
[code]

使用PaddlePaddle1.5运行输出：
[code]
使用PaddlePaddle1.6运行输出：
[code]
请问后面这堆log是什么原因导致的，是不是发生了内存泄露？

[2019-10-29 04:03] Meiyim commented on #20866
当然，把`import paddle`相关代码去掉之后，是可以完美运行的

[2019-10-29 04:06] cjt222 opened #20867 "新添加op,加入到模型中运行一段时间后报如下错"
![image](https://user-images.githubusercontent.com/17508662/67736952-7a6a0780-fa44-11e9-849d-dc6bdf36117e.png)

[2019-10-29 04:26] fc500110 commented on #20864
哪个版本

[2019-10-29 06:26] Superjomn commented on #20813
看起来是模型格式有问题，在 protobuf 加载时出现问题

[2019-10-29 06:26] seiriosPlus commented on #20821
1. 分布式是同步训练还是异步训练
2. 从单机切换到分布式有调整参数
3. 分布式训练的规模、数据有无切分

[2019-10-29 06:38] jeng1220 opened #20870 "failed to build PaddlePaddle based on Python3.6.8"
**System information**

- PaddlePaddle version: 3b31b74
- OS Platform: Ubuntu 18.04.3 LTS
- Python version: 3.6.8
- CMake version: 3.12.1
- GCC version: 7.4.0
- CUDA version: 10.1
- Install method: build from source

**To Reproduce**

[code]

**Describe your current behavior**

It threw error message and stop building process:
[code]

If I change Python version to 2.7.15, it still will print the e

[2019-10-29 06:41] liutaobit opened #20872 "centos 上安装paddle报错"
版本：paddlepaddle-1.5.1-cp27-cp27mu-linux_x86_64.whl
python 版本：2.7.3

[work@yq01-ps-dumi12a29106.yq01.baidu.com script]$ fluid
Python 2.7.13 (default, Mar 29 2018, 12:34:27)
[GCC 4.8.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

/home/work/liutao16/paddle/paddle_release_home/python/lib/python2.7/site-packages/sklearn/externals/joblib/_multiprocessing_helpers.py

[2019-10-29 06:56] jerrywgz commented on #17203
请问你是八卡训练吗，https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleDetection/docs/GETTING_STARTED_cn.md#faq 如果不是八卡的话需要相应调整学习率，可以参考这里

[2019-10-29 07:01] wzzju commented on #20866
谢谢，问题已经复现，正在上报此Bug。

[2019-10-29 07:18] hanlyto opened #20873 "联邦学习包无法导入"
- 标题：paddle1.6无法import 联邦学习的包paddle_fl
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）CPU：Ryzen 5 2500U
    3）GPU：无
    4）系统环境：anaconda, python 3.7
- 安装方式信息：
1）pip安装
2）本地编译：请提供cmake命令，编译命令      
  在线安装等，使用的清华大学的镜像安装的paddle1.6
- 复现信息：运行import paddle_fl的时候，显示没有这个包
- 问题描述：在运行网址https://paddlefl.readthedocs.io/en/latest/instruction.html的代码的时候，可以import paddle.fluid，但是不能import paddle_fl

[2019-10-29 07:22] oyjxer opened #20874 "在hadoop上跑paddle预测程序报OMP问题"
在hadoop上跑paddle预测程序，报这个错，有什么解决办法？
<img width="404" alt="屏幕快照 2019-10-29 下午2 53 33" src="https://user-images.githubusercontent.com/16233945/67745706-e73ecb00-fa5f-11e9-81e8-cdf34cd04e40.png">

[2019-10-29 07:47] wzzju commented on #20872
建议您使用work身份登录且使用work身份安装paddle，您遇到的应该主要是权限问题。

[2019-10-29 08:47] wzzju commented on #20867
您好！新添加op是您自己定制的op吧，根据您的报错信息可以看出，您的op中对tensor的写操作应该越界了，您可以自查一下。

[2019-10-29 08:53] AIpioneer commented on #20864
1.5

[2019-10-29 08:54] JiabinYang commented on #20870
plz show us more log info, since these info is too limited for us to find what goes wrong.

[2019-10-29 09:03] frankwhzhang commented on #20873
https://github.com/PaddlePaddle/PaddleFL/blob/master/docs/source/examples/md/gru4rec_examples.md 需要Python setup.py install

[2019-10-29 09:03] frankwhzhang commented on #20873
git clone paddlefl

[2019-10-29 09:11] jeng1220 commented on #20870
@JiabinYang ,
That was all information I saw. Yes, this issue is really strange. I checked the file - `python/CMakeFiles/paddle_python.dir/build.make` which was generated by system but didn't find useful information either. What else information do you think may be helpful?

[2019-10-29 09:17] jeng1220 commented on #20870
@JiabinYang ,
It supposedly has connection to
https://github.com/PaddlePaddle/Paddle/blob/develop/python/CMakeLists.txt#L90
[code]
Could anyone take a look?

[2019-10-29 10:15] jeng1220 commented on #20870
@JiabinYang ,
I checked remaining file - `build/python/setup.py.log`. It showed that in Python 2.7.15, it threw following error but building process kept going.
[code]
On the other hand, Python 3.6.8 stopped the process. This may be the key.

### More log:

**Python 3.6.8**
[code]

**Python 2.7.15**
[code]

[2019-10-29 11:01] April0402 commented on #20799
已经通过decorate_tensor_provider设置了，而且这个单并发的跑infer可以正常，只有多并发跑才会有问题

[2019-10-29 11:04] April0402 opened #20884 "测试机上安装paddlepaddle 1.5.0版，打包环境后在opera环境import出错"
环境信息：
PaddlePaddle版本：1.5.0
GPU信息：K40m, CUDA 9.0 CUDNN 7.3
系统环境：python版本 3.5.3

问题描述：
测试机上安装paddlepaddle 1.5.0版，打包整个python环境后在opera环境部署，import paddle 出错，具体错误见下图

![屏幕快照 2019-10-29 19 05 16](https://user-images.githubusercontent.com/9245641/67761852-131d7900-fa7f-11e9-8211-1ca7c006e356.png)

[2019-10-29 11:06] April0402 commented on #20884
补充一下，测试机上正常，opera环境出错，GPU卡不一样，系统/GCC版本一样，不确定是否还有其他依赖

[2019-10-29 11:44] wchange commented on #17203
我是8卡训练，同样遇到nan的情况，学习率设置为0.001，在72543轮的时候出现nan，使用的数据集是https://challenge.xviewdataset.org/data-explore

[2019-10-29 11:48] jerrywgz commented on #19744
已支持 https://github.com/PaddlePaddle/Paddle/pull/19228

[2019-10-29 11:48] #19744 closed, assigned to nobody

[2019-10-29 11:50] jerrywgz commented on #17203
nan是稳定复现的吗，可以尝试将warmup factor调至0.1，steps调到1000或2000

[2019-10-29 11:50] jerrywgz commented on #17203
另外学习率是0.01的话很快就会nan吗？

[2019-10-29 11:53] wzzju commented on #20884
您好！看了下，这个好像不是paddle的问题，是您打包后的python环境出错了，是在调用python的sqlite3的系统库时出错了。

[2019-10-29 11:55] wchange commented on #17203
稳定复现，0.01的话15000+轮就出现nan，我试下这俩参数，需要从头训练吗，还是可以load最近的checkpoint

[2019-10-29 11:57] jerrywgz commented on #17203
最好从头训练，另外可以把每轮的数据保存下，看下是不是非法数据导致的

[2019-10-29 11:58] wzzju commented on #20874
您好！你可以在单机上做预测吗？不使用hadoop能正常运行paddle预测程序吗？

[2019-10-29 12:05] wchange commented on #17203
这个具体如何操作？不是说每轮都保存一次模型吧？

[2019-10-29 12:13] jerrywgz commented on #17203
https://github.com/PaddlePaddle/PaddleDetection/blob/master/ppdet/modeling/architectures/faster_rcnn.py#L138 可以在这里加入{‘gt_box’: feed_vars['gt_box']}这样，然后在train.py中每次exe.run得到的结果中就有gt_box的值了

[2019-10-29 12:33] oyjxer commented on #20874
单机运行正常，是不是haddop缺少什么环境变量

[2019-10-30 00:58] April0402 commented on #20884
这个应该怎么解决呢？我需要在厂内的opera容器里面使用paddlepaddle，需要一个准备好的python包，而不能在opera上pip安装

[2019-10-30 01:05] Yogurt2019 commented on #20839
你好，fill_constant只能传入一个都是同样数字的数组，但是我想传一个我自己的numpy数组，这种情况应该怎么办呢？

[2019-10-30 02:33] wchange commented on #17203
我用的是https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/rcnn这份代码，能麻烦告知一下对应修改的地方吗

[2019-10-30 02:35] wzzju commented on #20841
您好！参见这里：https://paddlepaddle.github.io/Paddle-Lite/v2.0.0-rc/model_quantization/#compressor%E5%92%8C%E9%87%8F%E5%8C%96%E9%85%8D%E7%BD%AE%E6%96%87%E4%BB%B6 ， 若想使用fluid运行量化模型请使用`float_model_save_path `指定的文件路径下的模型。
<img width="857" alt="3cddc8a1c1ff2efe0e98f319d" src="https://user-images.githubusercontent.com/17102274/67824305-e611aa80-fb00-11e9-9b66-2fabb30a9334.png">

[2019-10-30 02:51] yanyq1990 commented on #20841
可是我并不是在server端做预测的啊，那int8的模型现在能在什么情况下使用？

[2019-10-30 02:56] ceci3 commented on #20827
模型里并没有别的特殊的op，看原本pytorch代码里有对卷积的weight使用`nn.init.normal_(m.weight, std=0.01)`这种初始化方式，可以把paddle改成相同的试下。另外可以看下是否是一些参数，优化器或者策略没有对上。

[2019-10-30 02:58] jerrywgz commented on #17203
可以在https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/rcnn/models/model_builder.py#L65 这里返回self.gt_box 然后https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/rcnn/train.py#L103 这里将返回值加入fetch_list中。 https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/rcnn/train.py#L189 每次out[-1]即为gt_box的值，另外190行打印log时还需要将outs[:-1] 改为outs[:-2]以保证原始log不变

[2019-10-30 03:13] yzhw9981 opened #20888 "使用多进程来预处理数据，各进程内存持续增长"
paddlecloud平台GPU训练
由于预处理时间较长，GPU利用率低
参考yolov3的例子改造了多进程预处理数据，GPU利用率100%了，但是内存持续上升，迭代1000多个step后内存占用超过100G。

请帮忙看看
核心代码如下
reader:

ClfExample = namedtuple('ClfExample', ['doc', 'label', 'id'])
class PageClfReader(object):
    def __init__(self,
                 max_seq_len=512,
                 is_inference=False,
                 random_seed=None,
                 for_cn=True,
                 task

[2019-10-30 03:23] wchange commented on #17203
十分感谢，我试一下

[2019-10-30 03:30] wchange commented on #17203
还有个问题请教一下，这份代码里面没有看到steps这个参数，只有一个lr_steps，不知道是否对应steps参数？

[2019-10-30 03:34] jerrywgz commented on #17203
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/rcnn/train.py#L96 是这两个参数

[2019-10-30 03:36] wchange commented on #17203
好的，多谢

[2019-10-30 04:14] OleNet opened #20889 "paddle 有办法知道checkpoint哪些参数没有加载吗？"
paddle 有办法知道checkpoint哪些参数没有加载吗？

[2019-10-30 04:59] JiabinYang commented on #20888
您可以算一下worker*queue_size*batch_size是不是超过了您的内存大小

[2019-10-30 05:00] JiabinYang commented on #20889
您使用的是什么接口呢来load的呢

[2019-10-30 05:12] liushanshan07 opened #20890 "warpctc layers 报错"
PaddleCheckError: Expected num_sequences == label_lod.size() - 1, but received num_sequences:4 != label_lod.size() - 1:3.
The number of sequences of Input(Logits) should be equal to that of Input(Label). at [/root/Paddle/paddle/fluid/operators/warpctc_op.h:175]
  [operator < warpctc > error]
W1030 13:04:32.244503  3505 init.cc:205] *** Aborted at 1572411872 (unix time) try "date -d @1572411872" if

[2019-10-30 05:17] DominicXWang commented on #20741
m是候选（比如字符串）的个数，n是候选的向量表示的维度。需要m个候选的向量表示分别与state做运算，可能是但不限于elementwise_mul。请问有无方法实现单个time step中若干个不同元素与state做运算？

[2019-10-30 05:22] AIpioneer commented on #20864
升级版本后解决了，谢谢

[2019-10-30 05:22] #20864 closed, assigned to fc500110

[2019-10-30 05:39] JiabinYang commented on #20890
看起来是这个问题：:` Expected num_sequences == label_lod.size() - 1, but received num_sequences:4 != label_lod.size() - 1:3.`

[2019-10-30 05:42] xiangyubo commented on #20884
这个看起来是 opera 上的 python 缺少一个动态链接库，可能需要你把这个动态链接库也打包进去

[2019-10-30 05:45] xiangyubo commented on #20839
试试这个呢？
[code]

[2019-10-30 06:03] liushanshan07 commented on #20890
嗯，我知道是这个问题。辛苦帮忙解读下，是哪个变量的啥东西没对上。

[2019-10-30 06:08] xiangyubo commented on #20814
比如 y=conv(x)。conv中的参数和参数对应的梯度都会保存，并且是常驻的。但是训练一个batch的时候，更多的是y会作为临时变量保存，因为反向传播计算需要。而这个部分会比参数多得多，5倍以上。在 1.6之后会默认打开显存释放策略，显存占用大的情况会改善。

[2019-10-30 06:08] #20814 closed, assigned to Superjomn

[2019-10-30 06:15] Yogurt2019 commented on #20839
你好，可能我没描述清楚问题，我是想把numpy数组传入一个常量层中，而不是一个Variable中，由于这个数组很大，所以我不想每次feed一个batch数据的时候feed这个数组，这样会把我的内存占满

[2019-10-30 06:15] xiangyubo opened #20891 "shuffleV2的构造函数有个小问题"
我看到 paddle 1.6 和 develop 版本上，shuffleV2的构造函数有个小问题，错误提示不对吧？num_groups这个参数从哪儿来的呢？
···

    class ShuffleNetV2():
        def __init__(self, scale=1.0):
            self.scale = scale

        def net(self, input, class_dim=1000):
            scale = self.scale
            stage_repeats = [4, 8, 4]

            if scale == 0.25:
                stage_out_channels = [-1, 24, 24, 48, 96, 512]

[2019-10-30 06:21] OleNet commented on #20889
`fluid.io.load_vars`

https://github.com/PaddlePaddle/ERNIE/blob/develop/ernie/utils/init.py#L82

[2019-10-30 06:37] JiabinYang commented on #20890
`The number of sequences of Input(Logits) should be equal to that of Input(Label)`

[2019-10-30 06:59] wchange commented on #17203
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/rcnn/models/model_builder.py#L65，这里改成了：
`return rloss, rkeys, self.gt_box`
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/rcnn/train.py#L83，这里改成了：
`losses, keys, gt_box = model.loss()`
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/rcnn/train.py#L103，这里改成了：
`fetch_list = fetch_list + [lr, gt_box]`
然后在https://g

[2019-10-30 07:05] jerrywgz commented on #17203
就按报错信息改，run里面加return_numpy=False

[2019-10-30 07:06] lgone2000 commented on #18560
测试1.6 版本，增加了下面报错信息， 报错有改善。关闭该issue
Maybe the Input variable LearningRate has not been initialized. You may need to confirm if you put exe.run(startup_program) after optimizer.minimize function. at [/paddle/paddle/fluid/operators/optimizers/sgd_op.cc:39]
  [operator < sgd > error]

[2019-10-30 07:06] #18560 closed, assigned to ceci3

[2019-10-30 07:10] lgone2000 commented on #11371
1.6 版本 跑前面的 testpredict1
增量了下面有关 shape的详细信息，因此testpredict1 解决了
ShapeError: The 'shape' in ReshapeOp is invalid. The input tensor X'size must be divisible by known capacity of 'shape'. But received X's shape = [5, 64], X's size = 320, 'shape' is [-1, 128], known capacity of 'shape' is -128. at [/paddle/paddle/fluid/operators/reshape_op.cc:184]
  [operator < reshape2 > error]

[2019-10-30 07:12] lgone2000 commented on #11371
最新版本1.6 跑test_message ， 发现增加下面调试信息，因此test_message  问题也解决了

Maybe the Input variable LearningRate has not been initialized. You may need to confirm if you put exe.run(startup_program) after optimizer.minimize function. at [/paddle/paddle/fluid/operators/optimizers/sgd_op.cc:39]
  [operator < sgd > error]

[2019-10-30 07:21] luotao1 commented on #11371
总结下：该ISSUE里面报了3个调试信息相关问题，
- [test_predict](https://github.com/PaddlePaddle/Paddle/issues/11371#issuecomment-397889817): 没有初始化`default_startup_program`。（1.6未解决）#20906 解决
- [testpredict1](https://github.com/PaddlePaddle/Paddle/issues/11371#issuecomment-397891646): reshape_op中Shape报错信息补全。（1.6已解决）
- [test_message](https://github.com/PaddlePaddle/Paddle/issues/11371#issuecomment-492494423)：optimizer.mi

[2019-10-30 07:32] wchange commented on #17203
正常运行了，多谢
gt_box应该是ground truth的bounding box数据？那是不是构造数据的时候就可以检查是否有非法数据了？
而且我看打印出来的数据应该是把一张图里面的所有bounding bbox拼成一个1维数组了？我用的这个数据集是卫星图像的目标检测数据集，一张图比较大，而且包含目标较多，这样打在日志里面检查数据也挺费劲的。。

[2019-10-30 07:47] jerrywgz commented on #17203
那你这边可以手动过滤一遍数据吗？1. 过滤没有框的样本 2. 过滤有框，但是所有的框is_crowd都为True的样本
之所以想这样看gt_box，是检查是不是每次挂的时候都是同一张图片导致的，如果数量多，可以打印im_id

[2019-10-30 07:49] April0402 commented on #20884
确实是这样，把这个加进去之后已经ok了，感谢

[2019-10-30 07:49] #20884 closed, assigned to wzzju

[2019-10-30 07:53] wchange commented on #17203
了解了，我手动check一下是否存在上述情况

[2019-10-30 08:25] jczaja opened #20898 "[MKL-DNN] Explore if MKLDNN::memory::reshape & subview can be useful"
PaddlePaddle often applies reshape to Tensors for example in Tensor::Reshape or in some ops that do falttening. MKL-DNN code then rearannge data to NCHW layout and continue operation in that not very efficent memory arrangement. MKLDNN 1.0 introduce reshape of memory objects (as well as subview) that probably can be used to remove conversions to NCHW arrangement (and perhaps allow to implement bro

[2019-10-30 08:27] JiabinYang commented on #20889
`load_vars`是没有的，可以使用新的接口`fluid.load()`，https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/load_cn.html#paddle.fluid.io.load
里面会有提示

[2019-10-30 08:27] wchange commented on #17203
check完可以确认所有train image都含有至少1个框，is_crowd是构造数据的时候就全设为0了，所以上述1，2两种情况应该是都没有。。

[2019-10-30 08:44] jczaja commented on #18642
Fixed in #19976

[2019-10-30 08:44] #18642 closed, assigned to jczaja

[2019-10-30 08:45] #20790 closed, assigned to nobody

[2019-10-30 08:57] jerrywgz commented on #17203
那就再check下是不是每次出nan的时候对应的im_id是相同的，另外学习率可以再做下修改训练尝试下

[2019-10-30 09:08] fc500110 commented on #19955
gcc5和gcc4的ABI兼容性问题，添加一个宏-D_GLIBCXX_USE_CXX11_ABI=0，可以参考https://stackoverflow.com/questions/45417707/glibcxx-use-cxx11-abi-gcc-4-8-and-abi-compatibility

[2019-10-30 09:08] #19955 closed, assigned to Superjomn, NHZlX

[2019-10-30 09:41] wzzju commented on #20874
您好！请检查您们的hadoop环境。hadoop主要是为了给paddle训练提供数据或者模型参数吧，是否可以考虑使用nfs等功能将hadoop文件系统映射到本地呢。我们这边也没有使用hadoop运行paddle的先例。从错误日志来看，在加载模型的时侯就挂掉了。请您们再检查一下hadoop的配置吧。

[2019-10-30 11:02] wuhaijun2018 commented on #20821
1. 同步的
2. 没有调整
3. 切分是啥意思，数据都是一样的

[2019-10-30 11:54] mozpp opened #20905 "期待更新Gaussian loss"
https://github.com/PaddlePaddle/models/issues/3826
iccv19的高斯yolo（https://github.com/jwchoi384/Gaussian_YOLOv3 ）

[2019-10-30 13:19] gongel opened #20908 "加载预训练词向量 trainable=False"
word_emb_pretrained = fluid.layers.embedding(
                     input=word,
                     size=[word_dict_len, 32],
                    dtype='float32',
                   is_sparse=IS_SPARSE,
                    param_attr=fluid.ParamAttr(
                        learning_rate=0, name="word_emb_pretrained", initializer=uniform_initializer,
                         trainable=False))

通过以

[2019-10-30 14:29] Yogurt2019 commented on #20839
你好，不好意思之前是我没弄清楚，这个方法是可以的，谢谢!

[2019-10-30 14:29] #20839 closed, assigned to nobody

[2019-10-31 01:42] Ashleychen opened #20914 "模型训练保存成功，并且加载预测模型成功，但是inference过程出错"
模型保存用的是fluid.io.save_inference_model接口，加载预测模型的时候对应用的是fluid.io.load_inference_model接口，这两步都没问题，但是在预测过程中：
[code]
exe.run的时候会报错：
[code]
原先以为是因为没有初始化，但是加上初始化的代码(如下)仍报错
[code]
麻烦帮忙解决一下这个问题，急。

[2019-10-31 01:55] Ashleychen commented on #20914
复现环境我已经打包了，但是GitHub上传不了，麻烦私hi我发过去~多谢

[2019-10-31 02:14] #17818 closed, assigned to guru4elephant

[2019-10-31 02:49] #11371 closed

[2019-10-31 02:57] yanyq1990 opened #20915 "压缩模型Compressor的train_optimizer参数是否需要设置？"
如题，在对模型进行压缩时，train_optimizer参数是否需要设置，文档提到，train program如果带反向operators和优化更新相关的operators, train_optimizer需要设置为None，不是很明白这话的意思，是指的train program设置了优化器optimizer吗？参考示例代码的，哪怕是设置了optimizer，最后Compressor的参数train_optimizer也没有设置为None，并且如果在使用中设置为None，训练过程中的loss不下降，而设置train_optimizer不为None，会报错如下：

[code]

[2019-10-31 03:10] Ezra-Yu commented on #13297
怎么解决啊？这里没说清楚啊

[2019-10-31 03:22] DominicXWang commented on #20741
DynamicRNN的设计是这样，while_op的batch size也会变吗？请问while_op是否有希望实现预期功能？

[2019-10-31 03:28] guoshengCS commented on #20741
如果没有特别的性能要求，可以考虑不用变长数据和DynamicRNN这个接口，改用padding的数据，这样的话seq2seq可以参考这里 https://github.com/PaddlePaddle/book/blob/for_paddle1.6/08.machine_translation/README.cn.md

[2019-10-31 04:00] JiabinYang commented on #20870
it seems not the place where the real error happened, try to search with key words `Error` and check if there are other error occurred before?

[2019-10-31 04:01] JiabinYang commented on #20908
可以在`executor`中传入embedding 参数 作为fetch var，每轮获取出来打印check

[2019-10-31 05:07] CAOYUHUI opened #20921 "1.6C++预测结果错误"
paddle和fluid都更新到1.6，但是C++预测接口的打分不符合预期，请问是什么原因？用1.5的时候预测结果正常，config没改动。config使用analysisconfig：
![image](https://user-images.githubusercontent.com/25171537/67920493-6d355000-fbdf-11e9-92f4-6d59f1a27dac.png)

[2019-10-31 05:13] wanghaoshuang commented on #20915
如果在定义train_porgram时，调用过`optimizer.minimize(loss)`这样的语句的话，在compressor中train_optimizer必须设置为None, 否则就会加两次反向op。

用的是什么压缩策略，把相关脚本贴出来我们看一下？

[2019-10-31 05:43] yanyq1990 commented on #20915
配置文件

[code]

代码

[code]

这边的虽然我没有调用`optimizer.minimize(loss)`，但是最后train_optimizer也只能设置为`None`，不然就报错,设置为None的结果如下:

[code]

[2019-10-31 06:32] gongel commented on #20908
thx

[2019-10-31 06:33] #20908 closed, assigned to JiabinYang

[2019-10-31 06:48] gavin1332 opened #20926 "wrong error message of concat op"
PaddlePaddle版本：1.6 release

we get a confused error message of concat op as follows, in which I find nothing wrong:

after debuging, I found the error reporting is wrong:

https://github.com/PaddlePaddle/Paddle/blob/1948210cf499e945de0afc3aef2c6aba7b719d01/paddle/fluid/operators/concat_op.cc#L77

the parameter list should be
axis, ins[0], i, `ins[i]`, j, i

[2019-10-31 06:51] Ashleychen commented on #20914
原因是save_inference_model的时候没有save label slot，把label slot加上就可以了。多谢值班同学 @jerrywgz 帮忙解决！

[2019-10-31 06:51] #20914 closed, assigned to jerrywgz

[2019-10-31 08:15] maosengshulei opened #20933 "paddlecloud mpi fleet 分布式训练 optimizer报错"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle 1.5.2

   代码：
`
     total_loss, ctr_loss, dura_loss, auc_var, batch_auc_var, accuracy, ctr_predict, dura_predict, data_list = DNN(args, feat_list.features)
    strategy = DistributeTranspilerConfig()
    strategy.sync_mode = False
    optimizer = fluid.optimizer.Adam(learning_rate=1e-4)
    optimizer = fleet.distributed_optimizer(optimizer, strategy)

[2019-10-31 08:20] xiangyubo opened #20934 "动态图搭建 shufflet-net-v2 训练完成后验证准确率低且不稳定，怀疑是参数加载问题"
动态图搭建 shufflet-net-v2 训练完成后验证准确率低且不稳定，怀疑是参数加载问题
使用的是 paddle 1.5.1，shuffle-net 是我自己写的。之前在写其他网络的时候碰到过类似问题，当时是因为有层不在 sublayer 中，这次特别注意了。网络结构见代码：
[code]

[2019-10-31 08:36] seiriosPlus commented on #20933
用1.5.1 或者是直接用1.6.0

[2019-10-31 08:40] JiabinYang commented on #20934
没有看到您save和load的代码，请问下是怀疑save load的问题嘛

[2019-10-31 08:43] xiangyubo commented on #20934
是的，怀疑是没 load 进来参数。但我不是说这两个函数有问题，可能是我的写法没符合某种规范，所以引起没 load 进来。能 hi 上聊么？这样好慢呀。。。我最后把结论写到 git 上就行了吧

[2019-10-31 09:24] yangzhifeng-code opened #20940 "Adam使用fleet.distributed_optimizer后损失完全没有下降，不使用时损失正常下降"
paddle fluid 1.6版本，我的代码使用了fleet的pserver训练方式，在MPI中运行，没有在paddlecloud中运行。提前将所有数据文件平均分给50个节点。训练的时候使用了fleet.distributed_optimizer的Adam优化器，但是每个batch损失不下降。我尝试过调整学习率（1.0~1e-4）、batch_size和gradient clip(10 ~ 0.01)，但是都没有效果。但是，当我不使用fleet.distributed_optimizer，直接用Adam优化时，每个batch损失下降。
所以，我应当怎样调整我的模型，还是fleet.distributed_optimizer这个方法有问题呢。

[2019-10-31 09:36] xiangyubo commented on #20934
我明白我怎么错了，错误在于 _build_once 中初始化参数。我构造函数出来，还没那个参数，这个时候 load 不进来， forward 之后才有这个参数，那个之后 load 才有效。

[2019-10-31 09:36] #20934 closed, assigned to JiabinYang

[2019-10-31 11:42] brandonsj opened #20943 "paddlcloud training error message: meets grpc error, error_code:4 error_message:Deadline Exceeded"
paddlecloud job address:
http://10.73.69.26:8910/fileview.html?type=logsdir&path=/&instance=12.app-user-20191031133613-36638--sunjian15_short_video_a_1_6_1_paddlecloud

error message:
F1031 17:12:03.203630  3683 grpc_client.cc:414] GetRPC name:[fc_0.w_0.block36], ep:[10.73.70.26:62004], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
*** Check failure stac

[2019-10-31 11:45] brandonsj commented on #20943
paddlecloud team suggests me using asynchronous mode rather than synchronous mode.
Does it help? Will it have any impact on the model accurateness?

[2019-10-31 11:55] jerrywgz commented on #20943
这是单机训练还是多机训练？

[2019-10-31 12:06] brandonsj commented on #20943
paddlecloud, 30 nodes

[2019-10-31 12:11] maosengshulei opened #20946 "paddlecloud mpi fleet 训练结束时出core"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle1.5.1
    2）CPU：
  
模型训练完后出core：
`.//paddle/start_trainer.sh: line 162:  2830 Segmentation fault      (core dumped) python -u cluster_dnn_train.py`

mpi日志链接： http://10.76.127.43:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20191031192845-36931--shulei_msd_mmoe_dnn_v1_20191031_paddlecloud

[2019-10-31 12:24] seiriosPlus commented on #20946
用1.6.0

[2019-10-31 13:55] phlrain commented on #20834
跟同学线下沟通已解释清楚

[2019-10-31 13:55] #20834 closed, assigned to seiriosPlus, phlrain

[2019-10-31 15:36] seiriosPlus commented on #20940
本地，小数据集有验证效果么？ 是否能收敛？

[2019-11-01 02:41] wchange commented on #17203
跑了2遍，报nan的轮次不一致了，而且报错轮次里面没有出现相同im_id的图片，麻烦问下还有其他的排查手段吗

[2019-11-01 05:38] jerrywgz commented on #17203
可以将log_window设置为1，然后观察loss为nan前的变化，是逐渐变nan还是突然nan，如果是突然nan的话可以排查下是那个地方最先开始出现异常的，可以将中间层的输出fetch出来观察下。如果是逐渐nan的话可能和模型训练参数有关，首先看还可以调整哪些超参，还可以尝试使用我们训练好的模型做finetune

[2019-11-01 05:38] Exception-star opened #20956 "dygraph.load_persistables的参数数量和model.state_dict()数量不一致"
dygraph.load_persistables的参数数量
与
model.state_dict()的数量不一致

<img width="905" alt="图片" src="https://user-images.githubusercontent.com/53971568/68004395-4c86fc00-fcac-11e9-9c2a-5b613ba69090.png">

问题描述：按理说数量应该是一致的，打印state.dict，发现没有conv的参数，只有bn的参数。conv和BN都在一个类里面。
[code]

[2019-11-01 06:40] yangzhifeng-code commented on #20940
@seiriosPlus 本地小数据集损失会不断下降。

[2019-11-01 06:46] yangzhifeng-stat commented on #20940
@seiriosPlus 之前使用的fleet.distributed_optimizer的Adam，损失不变。我debug看过输出，二分类任务，最后一层的sigmoid输出，要么都在0.5附近，要么都是一个特别小的数，大概是1e-5还是多少这样子。也就是说，连续两个batch的输出在0.5和特别小的数之间交替，我开始考虑过可能是学习率太大或者gradient clip太大，但是后来我有设置过学习率1e-4，gradient clip 0.01都不行。

[2019-11-01 07:16] Exception-star commented on #20956
初始化在前向计算

[2019-11-01 07:16] #20956 closed, assigned to nobody

[2019-11-01 07:33] wchange commented on #17203
按照https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/rcnn/train.py#L186 的写法，log_window这个参数生效了吗？我设置成1以后感觉和之前的日志也没有什么太大的变化，应该都是每轮都打印的吧
之前的实验结果都是上一轮无异常，下一轮loss_bbox, loss, loss_cls都为nan了

[2019-11-01 07:41] jerrywgz commented on #17203
log_window决定了显示loss的平滑程度，设置为1相当于不做平滑
想问下你的数据集类别数是多少呢，你所设置的类别数包含背景类了吗

[2019-11-01 08:39] yangzhifeng-code commented on #20940
@seiriosPlus 二分类任务，使用fleet.distributed_optimizer，打印了最终sigmoid层的输出，发现学习率从0.001改到1.0，每个batch的梯度都是1.9e-5左右，输出都是0.5左右。似乎学习率对学习过程没有影响。

[2019-11-01 08:45] luotao1 opened #20964 "conv、conv_transpose and pool support NHWC and asymmetric padding in MKLDNN"
### 背景
1. Paddle之前仅部分OP支持channel_last(NHWC)格式输入。TensorFlow目前CV模型默认均为channel_last格式输入, 但支持NHWC和NCHW两种格式输入。以`fluid.layers.conv2d_transpose(input, num_filters, filter_size=None, ..., data_format='NCHW')`为例，用户通过设置`data_format`参数指定输入和输出的格式。
2. Padding之前涉及到Paddlnng操作的OP，如conv, pool都只支持对称的Padding方式，不支持两侧Padding size不同。

### 需求
1. conv_mkldnn_op, conv_transpose_mkldnn_op, pool_mkldnn_op需要支持NHWC和非对称padding

[2019-11-01 08:51] luotao1 commented on #20964
@bingyanghuang Please translate it in English, thanks!

[2019-11-01 08:54] bingyanghuang commented on #20964
@lidanqing-intel Please help broadcast in Poland team.

[2019-11-01 09:07] lidanqing-vv commented on #20842
@GaoWei8 Hi! I confirmed that it is because elementwise_mul_op.cc did not support 3 -dimension format `ncw`.
I add this 3-dimension support and drop to naive version. After that, the performance with bs_test_10 can run successfully but slow. Do you have any reference performance?
As it is slow, we are considering not dropping to naive version but:
1.  use MKL-DNN binary primitive
2.  if that does

[2019-11-01 09:28] wchange commented on #17203
类别数62，没包含背景类，需要设置成63吗

[2019-11-01 09:33] GaoWei8 commented on #20842
@lidanqing-intel
Hi, In general, we don’t want performance degradation.
We only have the performance with closing mkldnn.
What is the setting getting performance  (1000 ms/sample)? Is mkldnn open and what is the thread number?

[2019-11-01 09:34] jerrywgz commented on #17203
是的，需要包含背景类

[2019-11-01 09:50] luotao1 commented on #20842
Is `elementwise_mul_op.cc` or `elementwise_mul_mkldnn_op.cc`?

Maybe you could add this 3-dimension support for mkldnn at first.

[2019-11-01 09:51] lidanqing-intel commented on #20842
Sorry  1000 is my own i9 machine. I forgot to switch.on 6148, it is 600 ms/sample

[2019-11-01 09:58] wanghaoshuang commented on #20915
调用optimizer.minimize(loss) + train_optimizer设置为None 也不收敛么？

[2019-11-01 09:59] Shixiaowei02 commented on #20921
hi上沟通具体模型。谢谢

[2019-11-01 09:59] wanghaoshuang commented on #20915
可以先用一张图片，剪裁前后都观察下是否能拟合。

[2019-11-01 10:41] juncaipeng commented on #20532
**INT8V2 Performance on the new 6271**

| Model        | FP32 Throughput(images/s)  | INT8 Throughput(images/s) |
| :----------: | :-------------: | :------------:  |
| MobileNet-V1 |  77.60         |  227.66         |
| MobileNet-V2 |  90.13         |  196.66         |
| GoogleNet |  31.25         |  67.19         |
| ResNet50 |  13.40         |  49.51         |
| ResNet-101   |    7.24

[2019-11-01 10:45] nizihan opened #20971 "fluid.evaluator.EditDistance运行报错Tensor holds no memory. Call Tensor::mutable_data first"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    3）GPU：CUDA9.0 和CUDNN7

运行报错：
error_evaluator = fluid.evaluator.EditDistance(\
                input=maxid, \
                label=label_out,\
                ignored_tokens = [sos, eos, pad])

te

[2019-11-01 11:11] wang001 opened #20973 "请问池化操作如何mask"
假设我存在一个batch为4的矩阵如下：
[[1,2,3,4,5,6,-1e18,-1e18],
[7,8,9,10,-1e18,-1e18,-1e18,-1e18],
[1,2,3,4,5,6,7,8],
[11,12,-1e18,-1e18,-1e18,-1e18,-1e18,-1e18]]
其中-1e18是pad符号，我想对此数据进行均值池化，但是总会碰到pad符号，导致和pad相近的部分池化结果总是不正确。

[2019-11-01 12:47] frankwhzhang commented on #20971
是一开始就报错 还是跑了一会 请详细贴一下代码

[2019-11-01 12:52] frankwhzhang commented on #20973
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/layers/pooling.html#api-guide-pool 可以参考这里的文档

[2019-11-01 13:18] wang001 commented on #20973
谢谢，sequence_pool函数貌似可用

[2019-11-01 13:18] #20973 closed, assigned to nobody

[2019-11-02 03:30] ResearchingDexter opened #20977 "py_func使用问题"
   1）PaddlePaddle版本：1.4.1
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python 3.6
    5）显存信息
运行下面代码
[code]
报错信息如下
[code]

[2019-11-02 08:24] Yogurt2019 opened #20978 "静态图模式下，如何固定Variable在显存中，使得每个Batch不用重新赋值？"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）GPU：Tesla V100 16G*2 32G*1 CUDA10.0 cudnn7.3
    4）系统环境：Ubuntu 18.04
- 训练信息
    1）单机多卡
    2）显存信息 Tesla V100 16G*2 32G*1

目前在训练的过程中，每个batch的训练都会自动给my_variable赋值一次，即每个batch进行时都会进行assign操作，由于my_np_array很大，所以很占内存，而且极大影响了整体训练时间，
我想对my_variable在**整个训练过程中**只赋值一次，请问如何实现？
谢谢！

[2019-11-02 09:46] wangguibao commented on #20977
@liuwei1031 老师，请帮忙看一下，用户代码用到了python 3.5的一个语法叫[function annotation](https://www.python.org/dev/peps/pep-0484/#abstract)

代码是这一行：

[code]

咱们的`PyFuncRegistry`处理这个函数的时候应该是没有兼容这个语法，要改成`getfullargspec()`才行

麻烦您看一下哈

[2019-11-02 10:00] wangguibao commented on #20978
可以试试将my_variable作为参数，在startup_program中创建my_variable，然后用numpy数组初始化一次。

参考这个文档：
https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/howto/training/save_load_variables.html#numpy

[2019-11-02 10:42] ResearchingDexter commented on #20977
我换了一种写法，还是报错
[code]
报错信息
[code]

[2019-11-02 12:13] wangguibao commented on #20977
这个错误比较明显，py_func的2个输入是Tensor，2个Tensor如果要做elementwise减法，可以用paddle提供的数学操作，比如layers.elementwise_sub

参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/layers/math.html

[2019-11-02 16:34] ResearchingDexter commented on #20977
这个函数不是可以支持所有的python操作吗，我只是测试一下，这个都不支持，那这个函数到底支持啥操作啊？官网上的例子太简单了，看不出来到底支持啥操作啊

[2019-11-03 06:19] wangguibao commented on #20977
这个也请 @liuwei1031 老师解答一下？

[2019-11-03 09:45] superwj1990 opened #20980 "把model和params模型文件转成kv格式，嵌入服务时会报如下错误"
![f5a6578cd3d5cdd236d444372](https://user-images.githubusercontent.com/19602974/68084634-44c58400-fe73-11e9-9aa4-4d5c2ffe333e.jpg)
![e1d7cf873faa34fe6a2716c91](https://user-images.githubusercontent.com/19602974/68084636-48f1a180-fe73-11e9-9ba5-9456048fcab9.jpg)

[2019-11-03 11:47] kebinC opened #20981 "fluid.layers.split  对 batch size 这个通道进行split， 因为维度为-1，assert失败了"
[code]

[2019-11-03 12:29] shengyuqing opened #20982 "win10运行yolov3报错，急！"
首先是我的环境配置
1）PaddlePaddle版本：paddlepaddle-gpu，1.6.0.post107
2）使用GPU进行训练，CUDA10，cuDNN,7.3
3）系统环境：WIN10

跑官网下载的yolov3目标检测算法报错，报错信息：
WARNING:root:paddle.fluid.layers.py_reader() may be deprecated in the near future. Please use paddle.fluid.io.DataLoader.from_generator() instead.
Found 2 CUDA devices.
W1103 20:15:19.473218  8236 device_context.cc:235] Please NOTE: device: 0, CUDA Capability: 75, Driver

[2019-11-03 14:13] gavin1332 commented on #20981
I have writen a sample code to test `split` op based on the develop branch:
[code]
but no error message found. Which version of paddle do you use?

[2019-11-03 14:25] liupluswei commented on #20977
py_func的主要思路是基于Paddle的LoDTensor和numpy array可以方便的互转来设计的，使用的主要思路是把传入的LoDTensor转换为numpy array，然后利用numpy的相关接口来进行计算。

[2019-11-03 14:49] kebinC commented on #20981
you should test with `num_or_sections=[2, 2]`
[code]

[2019-11-03 15:01] gavin1332 commented on #20981
reference: https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/split_cn.html#split
if your batch size is fixed as 4=2+2, you would better fix the batch size in `data`

[2019-11-03 15:16] kebinC commented on #20981
i use pyreader to build network. if i fix the batch size in the pyreader, it will produce  tensor with 5 dimension. Because it will append -1 to the shapes.

[2019-11-04 01:17] yanyq1990 commented on #20915
按照`optimizer.minimize(loss) + train_optimizer设置为None`，程序报了一个错，但是能继续执行下去。
[code]

结果不收敛
[code]

[2019-11-04 01:40] bingyanghuang commented on #20532
We can close this issue since performance regression problem has been fixed on Release 1.6.1 .

[2019-11-04 01:40] #20532 closed, assigned to Sand3r-, jczaja

[2019-11-04 01:49] wchange commented on #17203
赞，跑了一个周末没有出现nan问题，应该是解决了，多谢

[2019-11-04 02:04] ResearchingDexter commented on #20977
既然支持numpy的接口，那我那个为什么会报错啊，麻烦您帮忙看一下 @liuwei1031

[2019-11-04 02:36] maosengshulei opened #20984 "paddle mpi fleet分布式训练偶发性出现nan"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle 1.6.0
    2）CPU：
    4）
- 模型信息
 一个普通的MLP 点击率预估模型，使用了fleet接口来分布式训练，训练时最后一层sofamax输出后变为nan，导致计算auc时出core。
`Tensor[fc_3.tmp_2]
	shape: [1024,2,]
	dtype: f
	data: nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'`

`PaddleCheckError: Expected pred

[2019-11-04 03:09] sserdoubleh opened #20985 "Paddle 更新到1.6.0之后，uniform_random接口不符合描述"
代码如下
[code]

输出结果为：
[code]

输出没有在[0.0, 1.0)这一范围内

[2019-11-04 03:36] Lizhengo opened #20986 "训练skip-gram, embedding的不同加权计算方式训练速度差异巨大"
在paddle cloud上多机训练skip-gram时，不同的embedding加权计算方式速度差异很大。例如直接input_emb = input_emb + c2w_emb, 速度大概稳定是180s 一轮，如果input_emb =（ input_emb + c2w_emb）/ 2，速度一下变为90s一轮，如果是input_emb =0.5 * input_emb + 0.5 * c2w_emb, 速度又变为140s一轮。 按理说这种乘除法计算速度应该不会有这么大差异的，另外我试了几次都是这样，不是不稳定的问题
![image](https://user-images.githubusercontent.com/28192236/68098421-84ce4a80-fef7-11e9-89cb-07f4c3efc449.png)

[2019-11-04 03:44] superwj1990 commented on #20980
已解决，是部分版本paddle在保存inference model时会在最后面加上一层scale层，把其注释掉就可以了。

[2019-11-04 03:44] #20980 closed, assigned to nobody

[2019-11-04 03:48] Xreki commented on #20980
这个是`identify_scale_op_clean_pass`有bug，你们是自己从源码编译的Paddle？这个pass在最新的Paddle中已经移除了，即使用最新的Paddle应该不会再出现这个错误。

[2019-11-04 04:01] kebinC commented on #20981
test code：
[code]

[2019-11-04 05:14] gavin1332 commented on #20981
In summary, user need to specify a batch size with pyreader, but the pyreader always appends a dimension if the shape[0] is not -1, which is not as expected

[2019-11-04 05:42] kebinC commented on #20981
right.

[2019-11-04 06:11] gavin1332 commented on #20982
你是跑的单卡GPU吗？

[2019-11-04 06:13] endy-see opened #20990 "PaddleCheckError: out of memory at [/paddle/paddle/fluid/platform/device_context.cc:219]"
错误：`PaddleCheckError: out of memory at [/paddle/paddle/fluid/platform/device_context.cc:219]`
- 版本、环境信息：
    1）PaddlePaddle版本：1.6 release版
    2）GPU：P4、CUDA10和CUDNN7.6
    4）系统环境：centos7,Python版本:3.6
- 训练信息
    1）单机，多卡
    2）ocr recognition训练时出现如下错误：
[code]

[2019-11-04 06:27] gavin1332 commented on #20980
https://github.com/PaddlePaddle/Paddle/blob/394edd8647ece5cb47f0ac78ae2e43117ceed0c0/python/paddle/fluid/io.py#L1140
As user save model with interface `save_inference_model`, a unexpected op `scale` will be inserted into model, which causes failure in some inference phase.

[2019-11-04 06:58] Yogurt2019 commented on #20978
您好，非常感谢您的回复，我试了一下这个方法好像不太行，在日志里这个变量还是每个Batch赋值一次

[2019-11-04 07:09] wangguibao commented on #20978
是不是用的不太对，startup只会run一次，如果是按文档介绍的方法，my_variable只在startup里初始化一次，后面不会再初始化的

每个batch赋值一次，你可能要看一下是哪个位置还在调用

[2019-11-04 07:31] Xreki commented on #20990
1. 请问你GPU显存多大？
2. 另外，报错信息`out of memory`之后，看看有没有别的提示信息？
3. 确认一下GPU是独占的吗？

[2019-11-04 07:37] endy-see commented on #20990
上面的报错是所有错误了了，GPU设置的是1和2
![image](https://user-images.githubusercontent.com/13143336/68105272-f4a0fd00-ff18-11e9-85f8-6e68c73d529b.png)

[2019-11-04 07:38] lxwzju opened #20992 "paddle的matmul计算报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2019-11-04 07:41] lxwzju commented on #20992
代码：
print(enc_output,dec_input)
product1 = layers.matmul(x=dec_input, y=enc_output, transpose_y=True)
print(product1)

运行时提示以下问题：
[code]

[2019-11-04 07:42] ResearchingDexter commented on #20977
[code]
py_func好像是会把输入直接传进去，不会自动把输入变量变成numpy，需要手动转换一下，转换之后就不报错了 @wangguibao

[2019-11-04 08:13] Meiyim opened #20993 "python2.7paddle1.6下，embedding函数的dtype参数若采用unicode会报错。"
测试环境： python2.7 + paddle 1.6.0
embedding函数的dtype参数若采用unicode会报错
复现代码：

[code]

错误log
[code]

[2019-11-04 08:57] kolinwei commented on #20993
你好，可以更新到1.6.1版本试下

[2019-11-04 09:08] Xreki commented on #20992
请问使用的Paddle版本是？另外log是否贴全了啊，这个log里面看不出具体的错误信息啊。
我猜测可能是输入的dims不满足要求。可尝试插入layers.Print来打印运行时实际Tensor的dims。Print的文档见：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print

[2019-11-04 09:10] KeyKy opened #20994 "paddlepaddle 1.5.0 cross_entropy对不齐 其他框架"
这是结论图：softmax+cross_entropy 对不上pytorch的nn.CrossEntropyLoss，而且有明显的特点就是大于64的loss都变为64；图中分别是cross_entropy 和 nn.CrossEntropyLoss的输出
![8741d8d974eb9eb0f28e64fc9](https://user-images.githubusercontent.com/2967075/68109394-6717da00-ff25-11e9-8c35-cfd5e7018966.png)

这是特征的输入100x2：
[score_out_tr_np.npy.zip](https://github.com/PaddlePaddle/Paddle/files/3803212/score_out_tr_np.npy.zip)

这是上面数据通过paddle1.5.0的so

[2019-11-04 09:12] Xreki commented on #20990
你的GPU只有8G的显存，尝试设置小一点的batch_size试下？

[2019-11-04 09:14] #20993 closed, assigned to nobody

[2019-11-04 09:49] endy-see commented on #20990
batch_size=1了，图像也不大

[2019-11-04 09:55] luotao1 commented on #20964
补充一些信息：
1. [conv升级相关情况.pdf](https://github.com/PaddlePaddle/Paddle/files/3803366/conv.pdf)
2. [channel last格式支持涉及Op - AGroup –.pdf](https://github.com/PaddlePaddle/Paddle/files/3803368/channel.last.Op.-.AGroup.pdf)
3. 非对称padding涉及的MKLDNN：conv, pool, conv_transpose

[2019-11-04 10:34] luotao1 commented on #20964
`data_format`参数疑问 @jianhang-liu 提出
1. API输入是什么数据格式，输出也是什么数据格式，因此这里的`data_format`是表示输入格式还是其他？
2. 如果是表示输入格式，那API对应的C++ Op内部其实就是做个格式检查？
3. `tensor`里面是含有`layout_`信息的，为什么API还需要有这个参数，从`tensor`层层往下传递不可以么？
https://github.com/PaddlePaddle/Paddle/blob/d3003a16200ee17f004f4f1877a5547fb77f387b/paddle/fluid/framework/tensor.h#L196

### 解答
1. 这里的`data_format`是表示输入格式。
   - TODO: 针对这块，我们会在文档上明确指出，且指出输出格式是严格和输入格式一

[2019-11-04 10:59] zhangting2020 commented on #20964
这里描述有误差，修改如下：
2. API对应的C++ Op内部确实只做格式检查。我们会根据data_format，去检查输入的shape与其他参数的设置是不是符合要求。比如conv，有一项检查就是根据data_format，去取输入的通道维度大小，判断通道维度的大小与卷积核的channels * groups是否一致。

[2019-11-04 11:26] ceci3 opened #20998 "blazeface使用mkldnn进行预测时报错"
paddle版本：develop

预测脚本数据和模型：

[infer_blazenas_mkldnn.zip](https://github.com/PaddlePaddle/Paddle/files/3803772/infer_blazenas_mkldnn.zip)

报错信息：
![Uploading 屏幕快照 2019-11-04 下午7.35.36.png…]()
<img width="726" alt="屏幕快照 2019-11-04 下午7 35 54" src="https://user-images.githubusercontent.com/29245900/68118208-5d4ca180-ff3a-11e9-8f62-42797607051e.png">
<img width="1437" alt="屏幕快照 2019-11-04 下午7 36 06" sr

[2019-11-04 12:11] XDUXK opened #21000 "修改SSD目标检测模型，训练时报错“AssertionError: Not compiled with data parallel”"
**【版本环境信息】**：paddle版本1.6，环境Mac OS 10.14，python版本3.7.0
**【模型名称】**：SSD模型（原型在https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ssd）
**【数据集】**：没做修改，也是SSD模型的数据集
**【问题描述】**：
我有一个需求，其需要用到目标检测模型ssd，但是其尚无法支持py_reader并且只支持SGD优化器，所以，我将SSD的原有模型（https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ssd） 进行了修改，主要修改点为：
**1**. 在trainer.py中，将优化器改为SGD
**2**. 在trainer.py中，将py_reader改为使用普通reader，然后在

[2019-11-04 12:27] Xreki commented on #21000
你训练时参数`--parallel`的值应该是false，所以走的普通的executor，是单CPU or GPU训练。看出错地方的源码：

https://github.com/PaddlePaddle/Paddle/blob/bf379fef961319ed213df7193cf7bd3997f0c095/python/paddle/fluid/executor.py#L830-L837

你改了feed部分，而且你传的feed是一个list，单CPU or GPU训练时，feed list的长度只能为1，且feed list的每一个成员为一个dict。

这里的报错信息很不合理啊，请@luotao1 @chenwhql 知晓。另外希望Python端的assert也能像PADDLE_ENFORCE一样打印出对比的数据详情。

[2019-11-04 12:29] Xreki commented on #21000
请问这个issue和https://github.com/PaddlePaddle/PaddleFL/issues/7 是同一个问题吗？

[2019-11-04 12:55] luotao1 commented on #20998
@bingyanghuang Could you help see it?

[2019-11-04 13:10] Xreki commented on #20986
请问你使用的Paddle版本是多少？PaddleCloud训练机器不是独占的吧，这个时间能稳定复现吗？

[2019-11-04 13:44] XDUXK commented on #21000
是的，我这里只有一个CPU，--parallel的值是false。那请问下，我应该怎么改feed部分？

差不多是同一个，后面那个issue是在前一个修改的基础上，进一步改成了联邦学习FL的训练方式，看报错信息是一样的，所以感觉应该是相同的原因吧

[2019-11-04 13:59] luotao1 opened #21003 "batch_norm, fuse_with_relu, 与act参数互斥，不能用户同时使用"
### 用户问题
- 请教一下，paddle中的fluid.layers.batch_norm(),函数 中act这个参数有用吗？设置为 act=‘relu’，那么意味着bn层后面接了relu吗
  - 答：是的
- 追问：是不是一定要act设置完之后，在设置这个fuse_with_relu 。。如果不设置fuse_with_relu，那么只设置act，是不是就不起作用。。
  - 答：我理解这个地方如果使用应该是把relu fuse进去了，而直接用act是另外接了了一个relu op
- 追问：意思是 同时使用这两个参数，act=relu,fuse_with_relu=True..那么就是后面接了两次 relu吗？？
  - 答：刚咨询了下相关同学，这个fuse只在预测用，训练的话还是用act，这个接口需要改进下
- 追问：我这有一个疑问，我看nn.py中 batch_norm（）源码，

[2019-11-04 14:36] bingyanghuang commented on #20964
@luotao1 Could you provide us some unit tests you used for checking data_format support?

[2019-11-05 00:26] Xreki commented on #21000
当你传的feed是一个list，单CPU or GPU训练时，feed list的长度只能为1，且feed list的每一个成员为一个dict，例如
[code]

你也可以直接传一个dict，即
[code]

[2019-11-05 01:14] Xreki commented on #20985
已复现该问题。复现代码：

[code]

结果：
[code]

静态图结果是没有问题的，动态图结果不对。

[2019-11-05 01:41] LDOUBLEV opened #21006 "paddle.distribute.lanuch.py中增加一个选择CPU核的超参数"
提个issue， paddle.distribute.launch.py  的超参数中没有选择使用cpu核的，只有选择GPU的参数--selected_gpus，发现无法在CPU上运行

[2019-11-05 02:49] luotao1 commented on #20964
- conv_transpose: #20072
- group_norm: #19614
- interpolate: #19914

[2019-11-05 02:58] luotao1 commented on #19505
@bingyanghuang
- #20041 only temporarily fix `test_slim_int8_googlenet` and `test_analyzer_int8_googlenet`.
- but `test_analyzer_seq_pool1` (see https://github.com/PaddlePaddle/Paddle/issues/19505#issuecomment-526561551, set `MKL_CBWR=AVX2`) and `test_transpose_int8_mkldnn_op` (see https://github.com/PaddlePaddle/Paddle/issues/19505#issuecomment-526601557 #19424) don't be fixed.

[2019-11-05 03:01] XDUXK commented on #21000
那是不是就是说，给feed传递的数据只能是一个“样本+标签”，不能传一个batch的数据？
我这里是不是需要把trainer.py里面的trainer_reader改了？现在输出np.shape(data)结果是（16，4）
[code]

[2019-11-05 03:02] phlrain commented on #20985
这个op在动态图模式下存在bug，我们会尽快提pr修复

[2019-11-05 03:16] sneaxiy commented on #15791
@bingyanghuang The problem raises again, please see the log:
http://ci.paddlepaddle.org/viewLog.html?buildId=212598&buildTypeId=Paddle_PrCiCoverage&tab=buildLog

![08f47815aaa167e8fb8aac3aeaadd274](https://user-images.githubusercontent.com/32832641/68175910-b90c3e80-ffbd-11e9-9936-7d3acbc3c0dd.jpg)

[2019-11-05 03:32] bingyanghuang commented on #15791
@yihuaxu Please help to see this issue.

[2019-11-05 03:33] yihuaxu commented on #15791
Could you provide the core dump files?@bingyanghuang @sneaxiy

[2019-11-05 03:42] CLeafYeah opened #21010 "paddle.1.4.1 split tensor梯度问题"
![image](https://user-images.githubusercontent.com/11695656/68176826-3a190500-ffc1-11e9-9477-d16cead6935e.png)
![image](https://user-images.githubusercontent.com/11695656/68176846-456c3080-ffc1-11e9-9a36-be2219ed9dc2.png)

[2019-11-05 03:46] Meiyim commented on #20921
目前有后续么，目测是针对transformer引入的一堆优化pass导致的。

[2019-11-05 03:47] Xreki commented on #20994
1. loss里面出现的最大值64，是当一个数字很小时，std::log计算得到的值是-64。可以做如下测试：
[code]

会发现两个输出值都是-64。

2. PyTorch的CrossEntropyLoss计算的并不是单纯的cross_entropy，而是softmax+cross_entropy，具体见文档：https://pytorch.org/docs/stable/nn.html?highlight=crossentropyloss#torch.nn.CrossEntropyLoss。softmax计算中对一个数取exp，cross_entropy中再取log，会产生一定的精度损失。Paddle有对应的API softmax_with_cross_entropy，具体见文档：https://www.paddlepaddle.org.cn/documentation/docs

[2019-11-05 03:57] Xreki commented on #21000
这个无论是你在reader里面改，或者是在别的里面改，只要按照给定的格式传入batch数据就行。可以参考这个示例：

https://github.com/PaddlePaddle/models/blob/a4d7a2e4924e20c3fcc5dc87f2faea1530a47d55/PaddleNLP/language_model/train.py#L288-L302

[2019-11-05 04:25] phlrain commented on #20985
#21009  已经提pr修复，等下用最新的develop就行了

[2019-11-05 05:03] Ashleychen opened #21011 "inference的时候无论输出数据怎么变，网络的output都不变"
在本地inference的时候，发现网络的output一直不变，打印网络参数和网络输出均正常。不知道原因，麻烦帮忙解决。inference的具体写法如下：
[code]
环境已经打包好，麻烦私hi我提供。

[2019-11-05 05:20] Xreki commented on #20921
@Meiyim 你跑的什么模型？预测时的输出log能不能贴一下？

[2019-11-05 05:52] sneaxiy commented on #20990
@yanmeizhao 请问您是在使用PaddleCloud训练吗？若是，请您联系PaddleCloud同学，之前遇到这种情况是在机器CPU内存不足的情况下会出现cudaStream创建失败，建议增加机器CPU内存。

[2019-11-05 05:52] chaos-dd opened #21014 "concat行为不符合预期"
对两个tensor分别reduce_sum得到两个新的tensor，把两个新的tensor concat的时候，axis=1的时候直接等于第一个tensor，不符合预期，这里至少应报错。
试了下pytorch这种情况，sum后的tensor是dim=0的，不能concat。

`

import numpy as np
import paddle.fluid as fluid

a=np.ones([2,2])
b=np.ones([2,2]) * 2

with fluid.dygraph.guard():
    asum=fluid.layers.reduce_sum(fluid.dygraph.to_variable(a))
    bsum=fluid.layers.reduce_sum(fluid.dygraph.to_variable(b))
    c = fluid.la

[2019-11-05 06:20] Meiyim commented on #20921
跑的ernie base模型。
我这边使用fluid inference C++ api 打分没有问题。
但是使用pip安装的paddle1.6.1用python接口load_inference_model采用analysisConfig进行预测之后，发现打分相比paddle1.5有diff。
config配置代码:
[code]
运行log:
[code]

[2019-11-05 06:38] gavin1332 commented on #20981
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/DataLoader_cn.html#dataloader
suggest `DataLoader`

[2019-11-05 06:39] Xreki commented on #20921
确认C++预测没有问题的话，那应该不是新增的那些pass引起的，因为C++ Analysis预测也会应用这些pass。估计要请负责预测python API的同学看下。

[2019-11-05 06:56] Xreki commented on #20984
请问确定正常跑的那次是用的全量数据吗？模型有在本地训练过吗？能否捕捉到更多的debug信息呢？

[2019-11-05 07:12] #20981 closed, assigned to gavin1332, sneaxiy

[2019-11-05 07:36] maosengshulei commented on #20984
全量的数据试过几次，都是失败，正常的都是部分数据；
主楼贴的都是两个链接都是相同的部分数据训练。
模型本地训练使用部分数据都是正常完成。

[2019-11-05 07:37] seiriosPlus commented on #20984
用户配置里 加一下 FLAGS_check_nan_inf=1
看看是哪一层出的nan.

[2019-11-05 07:42] maosengshulei commented on #20984
主楼贴的报错日志已经加了FLAGS_check_nan_inf=1，显示就是ctr预测的最后一个fc层softmax后出现nan

[2019-11-05 08:04] zuokanmingyuli opened #21019 "使用C++预测库预测不准"
- 版本、环境信息：
[code]

- 问题描述：
    使用c++预测库（由paddle1.5.2编译），模型使用paddlehub的mobilenet_v2_imagenet，对一张客机的图片进行预测，使用paddlehub的命令行命令预测结果是正确的，而我的预测结果是错误的，我觉得可能是我的数据处理的问题，但不知道怎么改。代码如下：

[code]
   就是在文档样例的基础上，用opencv送入了一幅图片进行预测。(文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/native_infer.html)
输出结果如下：
[code]
根据标签文件，正确结果应该是标签的405，请问是哪里错了呢？

[2019-11-05 08:14] dubhex opened #21020 "模型量化KeyError"
使用1.5.2版本paddle进行模型int8量化，参照官方示例量化代码，运行时报错

  File "src/trainQuant.py", line 127, in <module>
    main()
  File "src/trainQuant.py", line 124, in main
    eval(args)
  File "src/trainQuant.py", line 79, in eval
    freeze_pass.apply(test_graph)
  File "/home/vis/guohanqi/workspace/facelmkQuant_Paddle/env_Paddle1.52/lib/python3.6/site-packages/paddle/fluid/contrib/slim/quantization/quantization_pas

[2019-11-05 08:15] DDDivano opened #21021 "force_init_on_cpu 这个api的作用是什么？"
文档链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/initializer_cn/force_init_on_cpu_cn.html
文档中说：该接口获得一个是否强制在CPU上初始化变量的布尔型标志位。返回：状态，是否应强制在CPU上强制进行变量初始化

第一句话该如何理解？是指我用这个api他就会强制在CPU上初始化变量吗？但是我用的时候他返回的是false。
第二句话是意思是说这个api返回值告诉我是否应该强制在cpu上进行初始化吗？但是他是根据什么判断我是不是应该在cpu上进行初始化的呢？

[2019-11-05 09:45] mozpp commented on #12713
为什么现在bn还有in_place选项呢？

[2019-11-05 09:47] bingyanghuang commented on #21003
首先我们同意这个attribute不应该暴露给客户。其次，这个attribute的加入当初是为了inference transpiler, 现在这个功能已经被弃用了，所以这个attribute需要重新考虑是否需要加，如果加需要我们再提出一个相对应的PASS，总之，我们会尽快提出一个PR把这个attribute从python API移除掉。
PR #21028 已提出。

[2019-11-05 10:00] shippingwang commented on #21010
- 1.4 要set_persistable = true
- 建议升级paddle版本

[2019-11-05 10:00] #21010 closed, assigned to nobody

[2019-11-05 10:11] shippingwang commented on #21021
[code]

[code]
这么做看下

[2019-11-05 10:15] luotao1 commented on #21003
可以先提一个PR把这个attribute从python API移除掉么？PASS功能可以后续考虑。

[2019-11-05 10:36] wojtuss commented on #20998
@ceci3 , could you please provide us with a command for reproducing the error?

[2019-11-05 11:01] slf12 commented on #21020
请问QuantizationTransformPass这个pass可以运行成功吗？方便贴一下代码吗？QuantizationFreezePass 这个对graph只能运行一次，您是不是多次调用了这个pass？

[2019-11-05 11:10] DDDivano commented on #21021
我知道这样是返回True，那问题是我使用`with init_on_cpu():`这个代码后为啥还要用`paddle.fluid.initializer.force_init_on_cpu()`来判断我是不是要用cpu？

[2019-11-05 11:34] dubhex commented on #21020
# parameters from arguments

    place = fluid.CUDAPlace(0) if args.use_gpu else fluid.CPUPlace()
    exe = fluid.Executor(place)

    val_program, feed_names, fetch_targets = fluid.io.load_inference_model(args.model_path,
                                      exe,
                                      model_filename="model",
                                      params_filename="params")
    val_

[2019-11-05 11:42] lxwzju opened #21025 "LodTensorArray如何fetch"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2019-11-05 11:44] slf12 commented on #21020
load的inference model是经过QuantizationTransformPass之后保存的模型吗？IrGraph有个接口draw可以把graph保存在pdf里
def draw(self, save_path, name, marked_nodes=None, remove_ctr_var=True):
        """
        Draw the graph. If `dot` command is installed, the drawn graph
        will be saved as pdf file type, otherwise dot file type is used.

        Args:
            save_path(str): the save path of drawn graph.

[2019-11-05 11:44] lxwzju commented on #21025
程序运行

[2019-11-05 11:44] #21025 closed, assigned to nobody

[2019-11-05 11:49] lxwzju opened #21026 "多个LodTensor如何fetch"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2019-11-05 11:50] lxwzju commented on #21026
程序中间产出M个shape一样的LoDTensor（如下），试图通过LodTensorArray的方式输出，但是fetch的时候报错，有没有其他更好的办法输出这M个shape相同的LoDTensor

LoDTensor描述：
name: "matmul_12.tmp_0"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: -1
      dims: 1
      dims: 100
    }
    lod_level: 0
  }
}
persistable: false

[2019-11-05 11:52] ceci3 commented on #20998
1. change the image_path='0_Parade_Parade_0_102.jpg' and model_path='blazeface_nas'
2. python infer_time.py
@wojtuss

[2019-11-05 11:59] Yogurt2019 commented on #20978
你好，上面是我弄错了，这个办法是对的，谢谢！

[2019-11-05 11:59] #20978 closed, assigned to wangguibao

[2019-11-05 12:20] yangzhifeng-code commented on #20940
@seiriosPlus 请问这个怎么解决呢？

[2019-11-05 12:38] Sand3r- commented on #20309
This issue is still not fixed.

The reason for which the cmake failes on the first  run is caused by mobilenet model being downloaded twice.

1. What is the reason for it?
2. Can't it be checked if the model has already been downloaded to prevent further download attempts?

[2019-11-05 13:09] jczaja commented on #20797
@Sand3r- started work on that one. Once we have some results we will let yo know.

[2019-11-05 13:51] jczaja opened #21029 "[MKL-DNN] Reimplement elementwise_mul using Binary primitive of MKL-DNN"
This issue is to track progress on reimplementation of elementwise_mul_mkldnn op (currently no MKL-DNN is used there , but custom JIT code working on MKL-DNN formats) with MKL-DNN binary primitive (Introduced at DNNL/MKL-DNN version of 1.1)

[2019-11-05 14:48] wojtuss commented on #20998
@ceci3 , I have found a reproducing script in the .zip file. The issue is under investigation now.

[2019-11-06 01:59] bingyanghuang commented on #19505
This is related with issue #16470 .

[2019-11-06 02:03] seiriosPlus commented on #20940
沟通后，发现用户使用的模式错误， 已经参考文档在重新训练

[2019-11-06 02:03] #20940 closed, assigned to seiriosPlus

[2019-11-06 02:08] Xreki commented on #20984
能不能把softmax的输入也打印出来看下？

[2019-11-06 02:19] sneaxiy commented on #21026
不支持fetch LoDTensorArray，建议您可调用`fluid.layers.array_read`读出。

[2019-11-06 02:31] LihangLiu opened #21032 "train_from_dataset throws PyThread_start_new_thread exception."
利用train_from_dataset进行训练的时候，第一个epoch正常，到了第二个epoch就报错了，好像是跟thread有关。
系统信息：centos，fluid1.6 cpu版本。

输出如下：
[code]

[2019-11-06 02:36] LihangLiu commented on #21032
fluid1.6 gpu版本 post97报了一样的错。

[2019-11-06 02:58] bingyanghuang commented on #17157
@baojun-nervana Is this issue fixed or not?

[2019-11-06 03:00] liupluswei commented on #20977
是的,传入的LoDTensor需要主动转换为numpy array，具体的解释可以参考一下这个链接https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/development/new_op/new_python_op.html#py-func
我们的API示例写的的确有些简单，我会找相关同事优化一下

[2019-11-06 03:32] yangzhifeng-code opened #21034 "grpc错误，error_code:13 error_message:Unable to parse request"
fluid 1.6版本，在MPI集群上运行分布式CPU训练，不是paddlecloud那个mpi，50个节点，每个节点两个mpi进程，使用Adam优化器。
简略配置：
import paddle
import paddle.fluid as fluid
from paddle.fluid.incubate.fleet.parameter_server.distribute_transpiler import fleet
from paddle.fluid.transpiler import DistributeTranspilerConfig
from paddle.fluid.incubate.fleet.base import role_maker

role = role_maker.MPISymetricRoleMaker()
fleet.init(role)
config = D

[2019-11-06 03:35] heavengate commented on #21032
是否是从数据集读取数据开启了多线程读取，可以确认一下是否是数据集的数据读取会报错，可以用单进程跑一个epoch看下

[2019-11-06 03:40] heavengate commented on #21034
[code]
日志上来看当前program是空的，如果是train的话请检查一下是否exe.run(startup_program)了，如果是eval的话请检查一下是否正确load weight

[2019-11-06 03:59] DDDivano opened #21035 "XavierInitializer初始化器中 fan_in 和 fan_out如何使用？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/initializer_cn/XavierInitializer_cn.html

文档中说这个参数会从变量中推断，那是否代表这个参数应该是个唯一确定值，自己指定其他的值会出错？
![image](https://user-images.githubusercontent.com/10734244/68267313-f8559080-008c-11ea-8d11-ea6f0d603a2a.png)

[2019-11-06 04:03] yangzhifeng-code commented on #21034
@heavengate             是训练过程。

if fleet.is_server():
    init_path = self.model_conf.get("train", "%s_init_from_model" % network_name)
    if init_path is not None and len(init_path) > 0:
        last_slash = init_path.rfind('/')
        dirname = init_path[:last_slash]
        fleet.init_server(dirname)
    else:
        fleet.init_server()
    fleet.run_server()
elif fleet.is_worker():
    exe

[2019-11-06 05:48] heavengate commented on #21035
可以指定，如果指定了就用指定的值，如果没指定就从变量中推断
![fan](https://user-images.githubusercontent.com/12605721/68271580-f2b37700-009b-11ea-9450-83122b5430b0.png)
![屏幕快照 2019-11-06 下午1 47 43](https://user-images.githubusercontent.com/12605721/68271605-07900a80-009c-11ea-9097-f882161c5b8e.png)

[2019-11-06 05:53] Mryangkaitong opened #21039 "_finalize_strategy_and_create_passes问题"
想使用paddle 1.6的batch merge功能，仿照给的demo (https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_dist_base.py#L285) :
![图片](https://user-images.githubusercontent.com/23132307/68271725-7a998100-009c-11ea-802a-b34c9e7e5e18.png)

写了自己的程序
[图片]

结果报错：
[图片]

请问这个怎么解决？谢谢

[2019-11-06 05:56] Mryangkaitong opened #21040 "_finalize_strategy_and_create_passes 问题"
想使用paddle 1.6的batch merge功能，仿照给的demo (https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_dist_base.py#L285) :
![图片](https://user-images.githubusercontent.com/23132307/68271725-7a998100-009c-11ea-802a-b34c9e7e5e18.png)

写了自己的程序
![图片](https://user-images.githubusercontent.com/23132307/68271944-2ba01b80-009d-11ea-96d2-0e6aad7fbbcc.png)

结果报错：
![图片](https://us

[2019-11-06 05:57] heavengate commented on #21039
和 https://github.com/PaddlePaddle/Paddle/issues/21040 是同一问题，当前issue关闭，由https://github.com/PaddlePaddle/Paddle/issues/21040 跟踪

[2019-11-06 05:57] #21039 closed, assigned to heavengate

[2019-11-06 05:59] heavengate commented on #21040
`_finalize_strategy_and_create_pass`是`BuildStrategy`的接口，需要用`BuildStrategy`对象调用，你的代码中误用了`ExecuteStrategy`

[2019-11-06 06:04] #21035 closed, assigned to nobody

[2019-11-06 06:50] zhangting2020 commented on #20964
[image_classification.tar.gz](https://github.com/PaddlePaddle/Paddle/files/3812856/image_classification.tar.gz)
参考源码：https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification
使用NHWC格式输入，涉及的修改：
参考该[链接](https://github.com/zhangting2020/models-1/commit/4f0b3dd47be713a07805ae8676c5eaeebff82cfe)查看代码diff
- models/mobilenet_v1.py: 网络各层的数据格式设置为NHWC
- reader.py: 231-233行，读取的img为HWC格

[2019-11-06 06:58] bingyanghuang commented on #20964
@jczaja and @grygielski Please follow this issue and update your progress in this issue.

[2019-11-06 06:58] LihangLiu commented on #21032
@heavengate 是指 dataset.set_thread(1) 么？

[2019-11-06 07:01] bingyanghuang commented on #20964
[image_classification.tar.gz](https://github.com/PaddlePaddle/Paddle/files/3812856/image_classification.tar.gz)
 Source code：https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification
Use NHWC as the input，modifications include：

* models/mobilenet_v1.py: data format of each layers are set to be `NHWC`
 * reader.py: line 231-233，load img as `HWC`，don't need to transpose
 * A

[2019-11-06 07:15] heavengate commented on #21032
麻烦提供一下主要代码

[2019-11-06 07:15] LihangLiu commented on #21032
我整理下，晚点发出。

[2019-11-06 07:28] luotao1 opened #21045 "test_fuse_optimizer_pass fails on accuracy"
### Error
[code]
### How to reproduce
- Machine: Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz
   - I test it on CI machine and `Intel(R) Xeon(R) CPU E5-2620 v3`. It works well.
- CMake: `cmake .. -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DCMAKE_BUILD_TYPE=Release -DWITH_TESTING=ON`
- Develop branch, commitid: a710ccc0cb5532e02f7e493aa83a7a8f50cb9b42

[2019-11-06 07:30] luotao1 opened #21046 "test_fuse_all_reduce_pass fails on accuracy"
### Error
[code]
### How to reproduce
- Machine: Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz
   - I test it on CI machine and `Intel(R) Xeon(R) CPU E5-2620 v3`. It works well.
- CMake: `cmake .. -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DCMAKE_BUILD_TYPE=Release -DWITH_TESTING=ON`
- Develop branch, commitid: a710ccc0cb5532e02f7e493aa83a7a8f50cb9b42

[2019-11-06 07:40] baomengxue opened #21047 "麻烦看一下DecayedAdagradOptimizer的参数decay是否没有生效？"
- 版本、环境信息：
    1）PaddlePaddle版本：
安装的whl包为：paddlepaddle-1.6.1-cp37-cp37m-macosx_10_6_intel.whl

- 问题描述：
根据文档描述https://www.paddlepaddle.org.cn/documentation/docs/zh/1.6/api_cn/optimizer_cn/DecayedAdagradOptimizer_cn.html
fluid.optimizer.DecayedAdagradOptimizer的参数decay默认值为0.95
![image](https://user-images.githubusercontent.com/19708914/68277837-05817800-00ab-11ea-9c95-9ed35a982ddd.png)
设置参数decay=0.1后

[2019-11-06 08:14] maosengshulei commented on #20984
重新跑了一次任务，发现softmax之前的输入已经是nan了， 加的FLAGS_check_nan_inf=1应该在哪里显示？
Tensor[batch_norm_1.tmp_3]
	shape: [1024,64,]
	dtype: f
	data: nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,
1573027773		The place is:CPUPlace
Tensor[fc_3.tmp_2]
	shape: [1024,2,]
	dtype: f
	data: nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,
1573027773		The place i

[2019-11-06 09:03] heavengate commented on #21047
多跑几轮看看，moment是记录grad的，第一轮decay不会影响到moment

[2019-11-06 09:39] baomengxue commented on #21047
@heavengate
moment是通过公式（moment_out=decay∗moment+(1−decay)∗grad∗grad）记录grad，对吧
循环5次，每次打印moment的值在decay=0.95和decay=0.1时的值是一样的
![image](https://user-images.githubusercontent.com/19708914/68286428-0cfd4d00-00bc-11ea-8e6b-2da809902fde.png)

![image](https://user-images.githubusercontent.com/19708914/68286438-125a9780-00bc-11ea-99c9-42d054dcd77f.png)

您看一下呐？
还有请问一下：为什么第一轮decay不会影响到moment呐？

[2019-11-06 10:14] luotao1 opened #21053 "test_layers fails on LayerNorm"
### Error
[code]
### How to reproduce
- Machine: `Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz` or `Intel(R) Xeon(R) CPU E5-2620 v3`
   - I test it on CI machine and . It works well.
- CMake: `cmake .. -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DCMAKE_BUILD_TYPE=Release -DWITH_TESTING=ON`
- command: `ctest -R test_layers  -V`
- Develop branch, commitid: a710ccc0cb5532e02f7e493aa83a7a8f50cb9b42

[2019-11-06 10:47] GT-ZhangAcer opened #21054 "使用"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-11-06 11:03] GT-ZhangAcer opened #21055 "V1.6版本中使用 fluid.layers.ssd_loss API报错过于简单"
V1.6.0 post107版本

在该版本中该API的报错信息不如其他的表现好，感觉可以调整一下，因为输入了很多参数但不能给出具体是哪个参数出现的错误。
如果能给出具体的报错信息，或者是计算这个损失函数中哪个环节上出现的问题就可以很好定位了，如果单纯给出下图报错，静态图下调试有点略难ಥ_ಥ。
![图片](https://user-images.githubusercontent.com/46156734/68292186-48047e00-00c6-11ea-866f-a8d3f7a7524f.png)

![图片](https://user-images.githubusercontent.com/46156734/68292227-64081f80-00c6-11ea-99db-e65076c9d309.png)

[2019-11-06 11:03] #21040 closed, assigned to heavengate

[2019-11-06 11:07] LihangLiu commented on #21032
发现自己的python环境里面有两个版本的fluid，卸载重装后目前问题解决，估计是两个fluid冲突了。

[2019-11-06 11:07] #21032 closed, assigned to nobody

[2019-11-06 11:09] MrChengmo commented on #21034
在Trainer 进行 run(startup_program)之前，请加上fleet.init_worker()

[2019-11-06 11:10] #21054 closed, assigned to heavengate

[2019-11-06 11:36] #20985 closed, assigned to nobody

[2019-11-06 11:56] yangzhifeng-code commented on #21034
@MrChengmo  错误日志和之前有微小区别，日志比之前多了下面的，摘一些新增的日志：
Wed Nov  6 19:33:14 2019[1,27]<stderr>:server not ready, wait 3 sec to retry...
Wed Nov  6 19:33:14 2019[1,27]<stderr>:not ready endpoints:['10.182.18.148:61991', '10.182.8.25:61991', '10.182.12.38:61991', '10.182.70.15:61991', '10.182.69.28:61991', '10.182.120.18:61991', '10.182.111.146:61991', '10.182.110.139:61991', '10.182.120.15:61991', '10.182.78

[2019-11-06 12:01] seiriosPlus commented on #21034
elif fleet.is_worker():
  exe = fluid.Executor(place)
  fleet.init_worker()
  exe.run(fleet.startup_program)
  self.train_loop(
  main_program=main_program,
    exe=exe,
    subnet=subnet,
    network_name=network_name,
    place=place)
  fleet.stop_worker()

[2019-11-06 13:32] wojtuss commented on #20998
@ceci3 , @luotao1 , @bingyanghuang
A fix is submitted: https://github.com/PaddlePaddle/Paddle/pull/21059

[2019-11-06 14:23] Superjomn commented on #21019
用 CPU 模式试试，如果与GPU计算一致，那应该是自己的输入数据上准备有问题

[2019-11-06 14:28] Superjomn commented on #21011
可以把存下来的模型可视化看下，拓扑是否有问题，输入是否会影响到输出

还是输入跟输出没有数据依赖

网络正常没有遇到过这样的问题

[2019-11-06 14:29] heavengate commented on #21055
上述报错信息在`softmax_with_cross_entropy`截图上下应该会有具体报错信息和调用栈，可以找一下或者把全量报错的截图贴上

[2019-11-06 14:40] heavengate commented on #21047
可以fetch`fc_0.w_0_moment_1`试下

[2019-11-06 19:37] grygielski commented on #20964
Asymetric padding related PR: https://github.com/PaddlePaddle/Paddle/pull/21062

[2019-11-07 02:40] baomengxue commented on #21047
Cannot find fetch variable in scope, fetch_var_name is fc_0.w_0_moment_1

https://github.com/PaddlePaddle/Paddle/blob/53f1e024d4dcffe76d5b8b7a996eb7ed2ac802cd/python/paddle/fluid/optimizer.py#L1895处decay是否应该作为attrs传入呐？麻烦看下

[2019-11-07 02:55] heavengate commented on #21047
感谢反馈，这里应该有bug，我们马上修复下

[2019-11-07 04:54] Lizhengo commented on #20986
你好，paddle应该是1.6的，时间是稳定可以复现的

[2019-11-07 06:12] yangzhifeng-code commented on #21034
@seiriosPlus 将原来的exe.run(fluid.default_startup_program())改为exe.run(fleet.startup_program)，日志报错信息一样的。

[2019-11-07 06:13] yangzhifeng-code commented on #21034
[code]

[2019-11-07 07:49] JingChunzhen opened #21067 "fluid.io.PyReader单机多卡下出现ValueError"
paddle 版本 1.5.0
cuda 9.0
cudnn 7.0
使用io.Pyreader 在单机多卡情况下出现错误
[code]
报错如下
[code]

[2019-11-07 08:00] zhhsplendid commented on #21067
报错信息说明了情况。多卡情况下，请确保第一个list维度要size跟卡数（places）相同。这样多卡训练时，每个卡会 feed 一份数据。

[2019-11-07 08:03] JingChunzhen commented on #21067
第一个list 是指 ？

[2019-11-07 08:26] zhhsplendid commented on #21067
我的意思是“list的第一个维度”比方你上面的情况，假设你是八卡，应该是feed_list=[ l1, l2, .... l8]

然后 l1 到 l8 每个都包含  [
			instance.input_src_ids,
			instance.input_txt_ids,
			instance.input_pos_ids,
			instance.input_mask,
			instance.input_image,
			instance.input_soft_label ]

即你需要 instance.input_src_ids 等每个都分成8份，分别放进l1，l2，... l8

[2019-11-07 08:44] JingChunzhen commented on #21067
hi 我将feed数据 拷贝到了一个list中，发现还是有问题
[code]
又出现了错误
[code]

[2019-11-07 09:13] JingChunzhen commented on #21067
按照你说的, 我的理解是 如果是四卡的情况，则将feed_list转变为 以下的形式是吗？
[
[src_ids, txt_ids, pos_ids, mask, image, label],
[src_ids, txt_ids, pos_ids, mask, image, label],
[src_ids, txt_ids, pos_ids, mask, image, label],
[src_ids, txt_ids, pos_ids, mask, image, label]
]
这个list中的每一个元素list内容都相同？

[2019-11-07 09:27] maosengshulei commented on #20984
请问FLAGS_check_nan_inf=1 这个在哪里可以看到哪一层先出的nan

[2019-11-07 09:40] #21003 closed, assigned to nobody

[2019-11-07 12:11] baiyfbupt commented on #21067
[code]
这样写试下呢？

[2019-11-07 13:00] Sand3r- commented on #19505
@luotao @bingyanghuang @wojtuss
I have carried out investigation `test_analyzer_seq_pool1` to find out what the problem may be.
If we look at the topology using netron, we see that at the very end it contains a `reduce_sum` operator.

![image](https://user-images.githubusercontent.com/4967505/68390274-30c89d80-0165-11ea-8bde-3356cbf97bd2.png)

I have decided to print what are the inputs and output

[2019-11-07 13:36] JingChunzhen commented on #21067
hi baiyfbupt 使用places = fluid.cuda_places() 之后出现了如下错误
[code]

[2019-11-07 17:33] jczaja commented on #20964
@zhangting2020 , @bingyanghuang I have a problem running provided : image_classification example.

Command: _./train.sh_

Error log:
_TypeError: 'set_shape(): incompatible function arguments. The following argument types are supported:\n
Invoked with: <paddle.fluid.core_avx.VarDesc object at 0x7f714561fc70>, [None, 224, 224, 3]'_

Problem description:
-  `  self.desc.set_shape(shape)` where shape

[2019-11-07 17:53] JingChunzhen opened #21077 "batch_norm 未初始化错误"
paddle 1.5.0
cpu版本

[code]
出现错误
[code]

[2019-11-08 01:40] luotao1 commented on #21055
https://github.com/PaddlePaddle/Paddle/blob/a71d8fdb876038f1d896357068488e3987d0b7ad/paddle/fluid/operators/math/cross_entropy.cc#L56
确实这里没加报错语句，我们会增强下的。

[2019-11-08 01:48] GT-ZhangAcer commented on #21055
Debug了一下，发现是在multi_box_head的API中base_size参数与传入的图像尺寸值相差过大而产生的错误。但报错却只显示是计算loss的API所在行有错。如果能体现出multi_box_head的错误，或者是ssd_loss的某个参数有问题，可能在Debug时候更轻松一些。

[2019-11-08 01:48] GT-ZhangAcer commented on #21055
感谢官方解答，谢谢

[2019-11-08 02:05] #21055 closed, assigned to heavengate

[2019-11-08 02:25] LihangLiu opened #21079 "fluid1.6 fleet 单机模拟多机: 'TRAINING_ROLE' not found"
在fluid1.6上按照 [quickstart](https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/howto/training/cluster_quick_start.html)来跑单机模拟多机
`python -m paddle.distributed.launch_ps --worker_num 2 --server_num 2 train.py
`
出现如下错误：
[code]

系统信息：centos，fluid1.6 cpu版本。

[2019-11-08 02:37] qingqing01 commented on #21077
需要如下方式:

[code]

需要，在feed里同时输入x和y。
上面报错是因为第2个fc没有输入y，计算时出错。

[2019-11-08 02:40] JingChunzhen commented on #21077
感谢解答！

[2019-11-08 02:40] #21077 closed, assigned to nobody

[2019-11-08 03:17] luotao1 commented on #19505
@Sand3r- Thanks for your explanation, and [this diff](https://www.diffchecker.com/2C3eiziW) is easy to use and see the result.

Discussed with @NHZlX, we think:
[code]
Indeed, we should compare the number of significant digits for a floating-point type

[2019-11-08 03:19] baiyfbupt commented on #21067
这个问题出现的原因是executor运行的place和reader feed的place不符，比如你executor是在多卡上运行的，但是reader只按单卡进行了feed，所以会出错

[code]
最开始这个代码出问题大概率是因为用的是多卡的exe, 但是decorate_batch_generator的places设定为了单卡的place，导致输入数据份数不符，所以建议还是在**原始版本**的代码上把`train_reader.decorate_batch_generator(dev_batch_gen, places=place)`这里的place改成`fluid.cuda_places()`试下

[2019-11-08 03:19] guru4elephant commented on #21079
请参考最新的wheel包进行复现，https://paddle-wheel.bj.bcebos.com/0.0.0-cpu-openblas/paddlepaddle-0.0.0-cp27-cp27mu-linux_x86_64.whl

[2019-11-08 03:21] #20994 closed, assigned to nobody

[2019-11-08 03:30] zhangting2020 commented on #20964
@jczaja I tried the following settings but no error occurred. When I enable check_version(), it can also work. I'm not sure if the latest develop made some changes that caused the error.
- use_gpu=False
- disabled check_version()
- used Paddle develop but not most recent

I will try the latest develop. Before I get the conclusion, you can try the following modifications in utils/utility.py:
[code]

[2019-11-08 03:40] 123malin commented on #21079
看报错是环境变量里没有TRAINING_ROLE这个变量，你需要先设置环境变量。linux下，可以直接export TRAINING_ROLE=TRAINER

[2019-11-08 03:50] qivigor commented on #16755
我也遇到同样的情况：屏幕不再打印输出loss值，但是GPU还是满满的，程序也不报错。不过我是用caffe训练另一个网络时遇到的，然后等了一会，屏幕就继续打印了，训练也没中断。

[2019-11-08 04:08] Xreki commented on #20984
运行时设置环境变量：`export FLAGS_check_nan_inf=1`，可以检测到哪一层最先出的nan。

[2019-11-08 05:23] #20998 closed, assigned to luotao1

[2019-11-08 05:40] maosengshulei commented on #20984
1. 我使用的是paddlecloud提交训练，是在config.ini里加上吗
![image](https://user-images.githubusercontent.com/26685090/68452281-fd514600-022c-11ea-8aa3-7f8bb91488da.png)

2. 我在日志中多加了几个Print中间变量操作，我发现是在batchnorm之后出现了第一次出现nan。
`Fri Nov  8 11:07:52 2019[1,1]<stdout>:1573182472		The place is:CPUPlace
Fri Nov  8 11:07:52 2019[1,1]<stdout>:Tensor[fc_0.tmp_1]
Fri Nov  8 11:07:52 2019[1,1]<stdout>:	shape: [1024,512,]
Fri N

[2019-11-08 06:27] JingChunzhen commented on #21067
我的exe是这么设置的
[code]
错误还是一样的
[code]

[2019-11-08 06:29] JingChunzhen commented on #21067
但是如果将place设置成
[code]
就不会有上述问题

[2019-11-08 06:54] JingChunzhen commented on #21067
经过线下沟通，将上述代码改成以下可正常运行
[code]

[2019-11-08 06:54] #21067 closed, assigned to baiyfbupt

[2019-11-08 07:27] maosengshulei opened #21089 "mpi fleet分布式训练 报错：PaddleCheckError: internal error in RPCClient"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 1.6.0
    2）CPU：
       4）系统环境：mpi集群
- 训练信息
    1）多机
   训练中报错
`<stdout>:Error Message Summary:`
`<stdout>:PaddleCheckError: internal error in RPCClient at [/paddle/paddle/fluid/operators/distributed/parameter_prefetch.cc:129]`
`<stdout>:  [operator < distributed_lookup_table > error]`

[2019-11-08 07:32] guru4elephant commented on #21089
请提供完整的可复现信息，方便我们排查

[2019-11-08 07:36] maosengshulei commented on #21089
`Fri Nov  8 14:58:45 2019[1,1]<stdout>:----------------------
Fri Nov  8 14:58:45 2019[1,1]<stdout>:Error Message Summary:
Fri Nov  8 14:58:45 2019[1,1]<stdout>:----------------------
Fri Nov  8 14:58:45 2019[1,1]<stdout>:PaddleCheckError: internal error in RPCClient at [/paddle/paddle/fluid/operators/distributed/parameter_prefetch.cc:129]
Fri Nov  8 14:58:45 2019[1,1]<stdout>:  [operator < distri

[2019-11-08 08:26] zuokanmingyuli commented on #21019
@Superjomn 好的，我试试

[2019-11-08 08:54] nwy2010 commented on #16282
gpu版本训练的时候使用了gpu，推理的时候可以不用gpu么？使用place = fluid.CPUPlace()为啥还是会出现下面的错误：cudaGetDeviceCount failed in paddle::platform::GetCUDADeviceCountImpl, error code : 30，  nvidia-smi显示有一张卡Err了，

[2019-11-08 08:59] nwy2010 commented on #13930
1620573这个是QQ群吗，找不到啊

[2019-11-08 09:17] Xreki commented on #20309
It is because an inference model is downloaded twice. It is caused by https://github.com/PaddlePaddle/Paddle/pull/20092 , @FrostML

https://github.com/PaddlePaddle/Paddle/blob/2f27b103310d08642eb4378dd2708576b5fe61b6/paddle/fluid/inference/tests/api/CMakeLists.txt#L168-L171

https://github.com/PaddlePaddle/Paddle/blob/2f27b103310d08642eb4378dd2708576b5fe61b6/paddle/fluid/inference/tests/api/CMakeL

[2019-11-08 09:31] zhangting2020 commented on #20964
@jczaja I tried the latest Paddle develop and it can work. It doesn't seems that the latest Paddle develop causes the error. Please follow my advice above.

environment used:
- ubuntu 16.04
- gcc 5.4.0
- python 2.7.12

[2019-11-08 11:34] Sand3r- commented on #20144
Implemented by #17641:
https://github.com/PaddlePaddle/Paddle/blob/8fd24021d8ae1bd3807c939258f2124c64928b7c/paddle/fluid/operators/mkldnn/fc_mkldnn_op.cc#L249-L267

[2019-11-08 11:39] Sand3r- commented on #18902
Since #18758 and other PRs introducing changes to hashing have been introduced, can this issue be closed now?

[2019-11-08 11:41] Sand3r- commented on #18893
As of #17819 #18970 and upcoming #21074 the performance and accuracy issues have been resolved.

[2019-11-08 11:41] #18893 closed, assigned to wojtuss

[2019-11-08 11:42] Sand3r- commented on #18531
@jczaja is refactoring finished, and can the issue be closed now?

[2019-11-08 11:45] Sand3r- commented on #18005
Has the issue been resolved and can it be closed? @luotao1

[2019-11-08 19:08] jczaja commented on #20964
@zhangting2020 Thanks for suggestion.

Regarding NHWC  data_format, It seems that Paddle CPU ops were extended to support NHWC data_format e.g. Pooling implementation tailored for NHWC was added and common functions like: InferShape were extended to support data_format.  For MKL-DNN kernels this approach is not suitable. MKL-DNN memory objects are always using NCHW dims description even if format

[2019-11-09 08:40] HoyTiger opened #21098 "PADDLEPADDLE如何搭建一个resnet呢"
我想使用paddlepaddle做一唇语的识别，唇语的视频已经切片，并提取了嘴部，请问我该怎么取搭建这个网络呢？

[2019-11-09 11:10] SunGaofeng commented on #21098
resnet的实现请参考下面这个代码：
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/resnet.py

[2019-11-10 10:56] Weili-NLP opened #21101 "没有支持numpy中的repeat操作的算子"
模型库中缺乏支持numpy中的repeat操作的算子

例如：
x = np.array([[1,2],
                       [3,4]])
y = np.repeat(x, [1, 2], axis=1)
array([[1, 2, 2],
           [3, 4, 4]])

[2019-11-10 13:05] GT-ZhangAcer opened #21102 "在训练SSD模型中，若detection_output没有输出框，则使用metrics.DetectionMAP会报错"
PaddlePaddle V1.6.1
GPU 107环境

在训练SSD模型中，正常情况下则会像下方那样输出
![图片](https://user-images.githubusercontent.com/46156734/68544349-40621380-03fd-11ea-90bb-a4c7401ca4ea.png)

但如果detection_output没有输出框（不知道是不是没有输出框的原因），则输出的数据会变成这样
![图片](https://user-images.githubusercontent.com/46156734/68544348-39d39c00-03fd-11ea-9214-8a72d8130d17.png)

如果出现这种情况，metrics.DetectionMAP则会报维度不一致错误
![图片](https://user-images.githubu

[2019-11-11 02:21] hutuxian commented on #21101
您好，paddle暂时没有提供这个OP，我们会加入需求列表~

[2019-11-11 03:22] jerrywgz commented on #21102
https://github.com/PaddlePaddle/PaddleDetection/blob/master/ppdet/modeling/architectures/mask_rcnn.py#L240 可以参考下这里的代码，使用switch判断detection_output的维度是否符合预期，符合预期则使用DetectionMAP，否则就附值为0或者其他值

[2019-11-11 03:25] GT-ZhangAcer commented on #21102
非常感谢！

[2019-11-11 03:25] #21102 closed, assigned to jerrywgz

[2019-11-11 04:03] #20797 closed, assigned to Sand3r-, luotao1

[2019-11-11 04:12] na-gi opened #21104 "预测时报错Feed operators in program desc do not match 'feed_targets' 但train和test的reader结构一致"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）使用CPU
    3）环境：aistudio基础版环境，python3

- 问题描述：
据了解这个报错是“reader返回的数据与定义的数量不一致”的意思，但我有关reader和feeder的代码结构是一致的，不清楚问题出在哪里？

- 报错信息：
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/executor.py in run(self, program, feed, fetch_list, feed_var_name, fetch_var_name, scope, return_numpy, use_program_cache)
    649                 sc

[2019-11-11 06:48] Jockmx opened #21106 "Windows10下安装CPU版的C++预测库，编译成功，但无结果输出"
参考文档：
1.https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/windows_cpp_inference.html
2.https://github.com/sjtubinlong/PaddleSolution/tree/master/deploy
    1）PaddlePaddle版本：在官网上下载的最新的1.6版本的预测库cpu_avx_mkl
    2）CPU：Ryzen 2500u
    3）Windows10下使用VS2015编译

我在使用官方提供的cpu预测库编译通过，但始终无法输出结果。
编译结果如下：
![image](https://user-images.githubusercontent.com/38597491/68566178-90

[2019-11-11 07:02] OliverLPH commented on #21106
看起来有可能是yaml文件的路径不对。

可以检查下 yaml的路径是否完全正确，也可以试下对路径加引号
[code]

[2019-11-11 07:29] bingyanghuang commented on #19505
@luotao1

- #20041 only temporarily fix test_slim_int8_googlenet and test_analyzer_int8_googlenet.

- test_analyzer_seq_pool1 can be fixed by https://github.com/PaddlePaddle/Paddle/issues/19505#issuecomment-551366848

- test_transpose_int8_mkldnn_op fixed by #19424

We think that new machines' random fails have all been fixed. Could you help try to move the CI to the new machines?

[2019-11-11 07:30] Jockmx commented on #21106
谢谢，我有检测过我的yaml的路径，是没有问题的。
![image](https://user-images.githubusercontent.com/38597491/68569059-26c1da00-0498-11ea-9abb-ee62aa45bc21.png)
![image](https://user-images.githubusercontent.com/38597491/68569086-36d9b980-0498-11ea-9b9f-2da5a174a8c5.png)

[2019-11-11 07:35] lizhiqings opened #21108 "fluid1.5 采用paddlecloud 集群训练后 将模型数据文件下载到本地 用线上c++加载报错"
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  Cannot get attribute height_sections by type std::vector<int, std::allocator<int> >, its type is std::vector<long, std::allocator<long> > at [baidu/paddlepaddle/paddle/paddle/fluid/framework/attribute.h:42]
PaddlePaddle Call Stacks:
0             0xa01c87p
1             0xa03395p
2             0xad740ep
3

[2019-11-11 07:36] luotao1 commented on #19505
I don't see the fixed PR now.

[2019-11-11 07:37] sandyhouse commented on #21108
请参见报错代码

[2019-11-11 07:44] bingyanghuang commented on #19505
@Sand3r- Please a create a PR to fix this.

[2019-11-11 07:54] zhwesky2010 opened #21109 "Windows无法编译paddle的MKLDNN版本32位"
编译问题：
（电脑配置）Windows10 / Visual Studio 2015

在Windows下编译Paddle的32位版本：
1. cmake配置为：
cmake .. -G "Visual Studio 14 2015 Win64" -A Win32 -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DWITH_MKL=ON

2. 编译paddle.sln，发现在编译外部依赖extern_mkldnn时出现error。

3. 单独下载[mkldnn](https://github.com/intel/mkl-dnn.git)项目进行编译
发现在此处报错：

[该文件路径](https://github.com/intel/mkl-dnn/blob/master/CMakeLists.txt) 第69行

[2019-11-11 08:09] Jockmx commented on #21106
我十分确定就是YAML的loadfile这步出了问题，但是不知道怎么解决。：(
前一步都可以正确的输出yaml路径。
![image](https://user-images.githubusercontent.com/38597491/68571175-62ab6e00-049d-11ea-9a19-1bbafe707cdb.png)
这个是我的yaml详细参数，莫非是我参数错了？
![image](https://user-images.githubusercontent.com/38597491/68571281-9b4b4780-049d-11ea-850d-abf0cd7d475d.png)

[2019-11-11 08:12] zhangting2020 commented on #20964
**对于points 2** ：是否可以考虑在[conv_op.cc](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/conv_op.cc) 中覆盖下面的GetKernelTypeForVar方法。
https://github.com/PaddlePaddle/Paddle/blob/35f17ae28f292a602274a93d0398286c3b0f1afb/paddle/fluid/framework/operator.cc#L1199-L1203
覆盖该方法时，可以获取conv_op的data_fromat属性，如果Kernel是MKL-DNN，返回OpKernelType如下，其他情况返回的OpKernelType与默认的GetKernelTypeForVar方法保持一致。

[2019-11-11 08:16] baomengxue opened #21110 "麻烦看一下AdamOptimizer结果与官网公式计算得出的结果不一样？"
版本、环境信息：
   1）PaddlePaddle版本：
安装的whl包为：paddlepaddle-1.6.1-cp37-cp37m-macosx_10_6_intel.whl

AdamOptimizer
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.6/api_cn/optimizer_cn/AdamOptimizer_cn.html

![image](https://user-images.githubusercontent.com/19708914/68571245-866eb400-049d-11ea-8adf-4e74f776bb58.png)

[2019-11-11 08:16] luotao1 commented on #21109
@bingyanghuang Could you help see it?

[2019-11-11 08:30] zhangting2020 commented on #20964
@jczaja Thank you for sharing your points. About what you mentioned,  my consideration is as follows:

For points 2, The following `GetKernelTypeForVar` method can be overridden in [conv_op.cc](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/conv_op.cc)
https://github.com/PaddlePaddle/Paddle/blob/35f17ae28f292a602274a93d0398286c3b0f1afb/paddle/fluid/framework/operator.cc

[2019-11-11 09:21] Ashleychen opened #21113 "range op返回数据的shape有问题"
在用range op的时候发现当start和end之间的间隔很大(我用的是20000263)的时候，返回的数据shape有问题，返回的range的shape为[20000264,]，当start和end之间的间隔较小(如200多)的时候则不会出现这个问题。
我看官网的说明是说：
<img width="751" alt="Screen Shot 2019-11-11 at 5 18 58 PM" src="https://user-images.githubusercontent.com/4193110/68575680-88d60b80-04a7-11ea-9b24-1be9d3759211.png">
但是我的step并不是浮点数。以下给出了一个demo，可直接运行。
[code]
请问为什么会出现这个问题，是不是bug，如果不是bug的话要怎么绕过这个问题？

[2019-11-11 09:34] 597477803 opened #21115 "同一个程序单卡跑没问题，多卡比如export CUDA_VISIBLE_DEVICES=0,1,2，就报断错"
------------------------------------------------
Device count: 3
Num train examples: 96220
Max train steps: 3006
Num warmup steps: 0
memory_optimize is deprecated. Use CompiledProgram and Executor
Theoretical memory usage in training: 5334.724 - 5588.759 MB
W1111 17:19:20.743114 159621 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 9.2, Runtime API Version:

[2019-11-11 09:45] 597477803 commented on #21115
想确认下，centos6支持多卡么？

[2019-11-11 09:51] sandyhouse commented on #21115
有更详细的报错信息吗，可以设置export GLOG_v=3试试。

[2019-11-11 09:56] L-lei opened #21116 "paddle-gpu版load_inference_model加载的模型/create_paddle_predictor在flask启动下程序启动不了,独立运行和cpu版下正常"
W1111 17:50:08.786001  7908 init.cc:132] Compiled with WITH_GPU, but no GPU found in runtime.
/usr/local/lib/python3.5/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib

[2019-11-11 09:58] baomengxue commented on #21110
learning_rate的更新规则源码与官网描述不一致？
源码：
https://github.com/PaddlePaddle/Paddle/blob/35f17ae28f292a602274a93d0398286c3b0f1afb/paddle/fluid/operators/optimizers/adam_op.h#L163

官网公式：
![image](https://user-images.githubusercontent.com/19708914/68578375-d3a65200-04ac-11ea-8a51-c1ebd18dcfc8.png)

[2019-11-11 10:22] 597477803 commented on #21115
上面贴的就是全部错误输出了

[2019-11-11 10:31] 597477803 commented on #21115
I1111 18:28:16.415174 153887 graph.cc:119] deal with var: word_embedding
I1111 18:28:16.415185 153887 graph.cc:119] deal with var: word_embedding_beta1_pow_acc_0
I1111 18:28:16.415191 153887 graph.cc:119] deal with var: word_embedding_beta2_pow_acc_0
I1111 18:28:16.415199 153887 graph.cc:119] deal with var: word_embedding_moment1_0
I1111 18:28:16.415203 153887 graph.cc:119] deal with var: word_emb

[2019-11-11 10:38] Ashleychen commented on #21113
暂时用slice op绕过了，不过还是麻烦解释一下。

[2019-11-11 11:42] sandyhouse commented on #21104
你保存模型的代码是什么？

[2019-11-11 12:03] sandyhouse commented on #21115
能否提供可复现的代码，或者提供相关链接。

[2019-11-11 13:14] slf12 commented on #21113
您好，目前定位到是fill_constant op的问题，range 使用了这个op，具体问题在排查中。

感谢您的反馈。

[2019-11-11 13:55] luotao1 opened #21120 "TestGelu fails on Grad Diff"
### Error
[code]
### How to reproduce
- Machine: `Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz` and `Intel(R) Xeon(R) CPU E5-2620 v3`
   - CI machine works well.
- CMake: `cmake .. -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DCMAKE_BUILD_TYPE=Release -DWITH_TESTING=ON`
- `ctest -R test_activation_op`
- Develop branch, commitid: 826254f664de34eca156c7425a78bb6f2ba28fb3

[2019-11-11 19:14] baojun-nervana commented on #17157
@bingyanghuang We haven't enabled transformer model for nGraph yet. So we can keep the issue open for future enabling or close it as this is not a supported model.

[2019-11-11 19:58] na-gi commented on #21104
![image](https://user-images.githubusercontent.com/32221682/68616766-ac797000-0500-11ea-8f8a-8122b4e25543.png)
是这样的

[2019-11-12 00:59] 597477803 commented on #21115
并没有自己写代码，用的是ernie里的标准程序进行多卡测试；nccl我试了几个版本，发现在目标机器上都不成功，然后但是同样的环境在另外一台机器上跑成功了，所以现在猜测，可能是目标机器的单卡GPU内存不够（只有7.5G），而那台成功的机器的单卡GPU是11G的。

[2019-11-12 01:47] sandyhouse commented on #21115
那可以通过batch size等方法试一试。另外，你的日志重定向到2.log中，里面有什么相关信息吗？ @597477803

[2019-11-12 01:53] Wahaha1314 opened #21122 "op cudnn_lstm does not have kernel for data_type[double]:data_layout[ANY_LAYOUT]:place[CUDAPlace(0)]:library_type[PLAIN] at [D:\1.6.1\paddle\paddle\fluid\framework\operator.cc:1007]"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1
  
    2）GPU：预测若用GPU，CUDA 9.0，cudnn 7.6
    3）系统环境：window 10   python3.6
- 训练信息
    1）单机，单卡
  
- 部分复现信息：（train_X, train_Y就是我自己的数据集，其维度的我有在下面打印出来）
batch_size=60          #迭代次数
max_len=10             #input_dim不能超过该值
dropout_prob=0.2
seq_len=20             #时间序列长度
hidden_size=6          #隐藏层单元
num_layers=1           #叠加LSTM的层数
learning_rate=0.002    #学习率

data1=

[2019-11-12 02:08] 597477803 commented on #21115
batch size已经调到16了，就跟上线的日志一样，没什么有用的信息，就是Segmentation fault 就没了

[2019-11-12 02:08] 597477803 commented on #21115
batch size已经调到16了，就跟上面的日志一样，没什么有用的信息，就是Segmentation fault 就没了

[2019-11-12 02:19] sandyhouse commented on #21115
在11G显存的机器上无法复现吗？如果无法复现的话，可以尝试在有问题的机器上设置GLOG_v=10试试是否有有效信息；如果可以复现的话，请提供可复现的代码，我们具体复现看一下。

[2019-11-12 02:30] 597477803 commented on #21115
11g的机器无法复现，在7.5g的机器上试了，用script/pretrain.sh跑，发现把batch改小后能跑单卡，改成多卡还是报错，所以排除内存不够的原因，应该是其他问题

[2019-11-12 02:38] ceci3 commented on #21122
lstm这个OP现在只支持float32类型的数据，可以把输入数据改成float32试下~

[2019-11-12 02:40] Wahaha1314 commented on #21122
我更改成float32过，但是出现下面的问题
PaddleCheckError: CUDNN_STATUS_BAD_PARAM at [D:\1.6.1\paddle\paddle\fluid\operators\cudnn_lstm_op.cu.cc:113]

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "ceci3"<notifications@github.com&gt;;
发送时间: 2019年11月12日(星期二) 上午10:39
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "无名何许人"<y149167@foxmail.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: R

[2019-11-12 02:49] fc500110 commented on #21116
贴下代码

[2019-11-12 02:55] ceci3 opened #21123 "人脸检测输入为128和320时使用mkldnn进行预测速度比不用要慢"
人脸检测输入为128和320时使用mkldnn进行预测速度比不用要慢
速度：
enable_mkldnn: 110.518ms/image
not mkldnn: 69.955ms/image

复现模型和代码（复现代码输入是320的）：
[blaze-lite320.zip](https://github.com/PaddlePaddle/Paddle/files/3834157/blaze-lite320.zip)

cpu信息：
Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz

[2019-11-12 02:58] luotao1 commented on #21123
补充下：batch_size=1, thread=1. This PR relates #20998.
@bingyanghuang Could you help see it?

[2019-11-12 03:08] sandyhouse commented on #21110
你好，看代码里面的注释已经更新，并且和代码的实现是一致的。可能文档还没来得及修复，我给相关同学反馈修复下，感谢您反馈。
![image](https://user-images.githubusercontent.com/6737864/68638506-ba4ce680-053c-11ea-85de-14fd15501317.png)

[2019-11-12 03:15] sserdoubleh opened #21124 "Dygraph模式下使用LayerNorm，batch_size为1时，会出现nan loss"
- 标题：Dygraph模式下使用LayerNorm，batch_size为1时，会出现nan loss
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.0
    2）GPU：V100、CUDA10.0和CUDNN 7.5
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机单卡
    2）显存信息
    3）Operator信息
- 复现代码
[code]
运行结果出现loss为Nan
[code]

[2019-11-12 03:27] Wahaha1314 commented on #21122
请问目前有解决办法吗？ 因为改了float32报了PaddleCheckError: CUDNN_STATUS_BAD_PARAM at [D:\1.6.1\paddle\paddle\fluid\operators\cudnn_lstm_op.cu.cc:113]错误

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ceci3"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月12日(星期二) 上午10:39
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"无名何许人"<y149167@foxmail.com&gt;;"Author"<author@norepl

[2019-11-12 03:29] zhhsplendid commented on #20866
经debug定位问题原因是1.6会增加对捕捉到的Failure信号进行 LOG(WARNING) 输出相关代码在：

https://github.com/PaddlePaddle/Paddle/blob/e7d5e0ea8c18720a97fc0fa6655619810cb85572/paddle/fluid/platform/init.cc#L220

在 InitGoogleLogging 时，由于pool，teminate，应该把GoogleLogging的process都发送停掉信号了。

相应的抓住FailureSignal和输出warning在release 1.5是没有的。但是并不代表release 1.5没有该停止信号warning错误。经实验，在release 1.5同样加上warning输出后，也会打印出改错。

因此，这个应该不是bug，是process停止，pad

[2019-11-12 03:29] #20866 closed, assigned to zhhsplendid, wzzju

[2019-11-12 03:37] ceci3 commented on #21122
调小batch size试下，还是不行的话麻烦贴下完整的报错信息~

[2019-11-12 03:51] Wahaha1314 commented on #21122
我调小到10后，代码直接报停 没有任何输出？理应有输出的呀

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ceci3"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月12日(星期二) 中午11:38
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"无名何许人"<y149167@foxmail.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] op cudnn_lstm does not have kernel for data_type[doub

[2019-11-12 03:53] Wahaha1314 commented on #21122
那些维度的信息还是可以打印出来，但是就是执行lstm 以及最后的平均误差打印不出来&nbsp; &nbsp;同时是很快报停 大概就10秒

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ceci3"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月12日(星期二) 中午11:38
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"无名何许人"<y149167@foxmail.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] op cudnn_lstm

[2019-11-12 03:54] ceci3 commented on #21124
LayerNorm反向实现有问题，可以先使用小op拼出来这个op

[2019-11-12 04:07] luotao1 commented on #21124
@ceci3 LayerNorm反向实现有问题，和这个单测错误 #21053 有关系么？

[2019-11-12 04:07] Wahaha1314 commented on #21122
您需要我的完整代码和数据集这样方便您调试吗？我研究了两天了，一直没有解决。
&nbsp;
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ceci3"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月12日(星期二) 中午11:38
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"无名何许人"<y149167@foxmail.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] op cudnn_lstm does not have kernel for

[2019-11-12 04:12] sserdoubleh commented on #21124
LayerNorm反向的实现是不是只有在batch_size=1的时候才会有问题？这个能够什么时候fix掉？

[2019-11-12 04:17] Wahaha1314 commented on #21122
刚才忘了附件 尴尬

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ceci3"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月12日(星期二) 中午11:38
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"无名何许人"<y149167@foxmail.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] op cudnn_lstm does not have kernel for data_type[double]:data_layout[ANY_

[2019-11-12 04:43] ceci3 commented on #21122
好的，还是没有看到附件，应该是需要上传上来

[2019-11-12 04:50] Wahaha1314 commented on #21122
刚才发了，可能没发送出去，我去看看&nbsp;没发送成功的话&nbsp;我再发一遍

---Original---
From: &quot;ceci3&quot;<notifications@github.com&gt;
Date: Tue, Nov 12, 2019 12:43 PM
To: &quot;PaddlePaddle/Paddle&quot;<Paddle@noreply.github.com&gt;;
Cc: &quot;Author&quot;<author@noreply.github.com&gt;;&quot;Wahaha1314&quot;<y149167@foxmail.com&gt;;
Subject: Re: [PaddlePaddle/Paddle] op cudnn_lstm does not have kernel for data_type[doub

[2019-11-12 04:50] L-lei commented on #21116
找到原因了,在引入paddle之前加上os.environ["CUDA_VISIBLE_DEVICES"] = "6",在引入paddle后添加就没事;我这只有一块显卡,找不到我的显卡设备号所以报错

[2019-11-12 04:57] Wahaha1314 commented on #21122
上一个回复里面我附了文件&nbsp; 您收到了吧？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ceci3"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月12日(星期二) 中午12:43
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"无名何许人"<y149167@foxmail.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] op cudnn_lstm does not have kernel for data_type[double]:

[2019-11-12 05:03] Wahaha1314 commented on #21122
刚才那个文件发送成功了，不知道您看到没有，为了保险起见，我再给您发一份吧&nbsp; 麻烦您了。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ceci3"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月12日(星期二) 中午12:43
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"无名何许人"<y149167@foxmail.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] op cudnn_lstm does not have kernel

[2019-11-12 05:04] ceci3 commented on #21122
<img width="728" alt="image" src="https://user-images.githubusercontent.com/29245900/68643533-ae692080-054c-11ea-83d4-2d909804d836.png">
还是没有。。这是我能看到你说那个带附件的恢复消息。。

[2019-11-12 05:05] ceci3 commented on #21122
用电脑在这个issue下面comment里直接上传附件是可以的

[2019-11-12 05:12] Wahaha1314 commented on #21122
&nbsp;后面我又发了一个邮件 附件在 （可能是网的原因） 这个邮件我也放了附件&nbsp; &nbsp; 真的麻烦您了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ceci3"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月12日(星期二) 中午1:06
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"无名何许人"<y149167@foxmail.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] op cudnn_lstm does not

[2019-11-12 05:19] Wahaha1314 commented on #21122
[pd_lstm.zip](https://github.com/PaddlePaddle/Paddle/files/3834506/pd_lstm.zip)

对不起，我一直用邮件在回复 放到邮件附件里了，没注意这边上传  我现在上传给您

[2019-11-12 05:29] Wahaha1314 commented on #21122
上条记录里面有附件，您收到了吧？  真的太麻烦您了，第一次在github上提问题，所以有点智商捉急，哈哈哈。

[2019-11-12 06:00] ceci3 commented on #21122
收到~ 😁

[2019-11-12 06:06] ceci3 commented on #21124
@sserdoubleh   LayerNorm反向的实现都有问题，你这份代码应该是seed=13时候的初始化触发了什么边界条件导致的nan，换个种子或者batch size我试了几个不会出nan。已经反馈给负责这个OP的同学了。可以先根据 https://github.com/PaddlePaddle/models/pull/3864/files#diff-91c97b6fe0c203c884d9d2b42ce33fc3R84 这个试下拼出来的layer norm。

[2019-11-12 06:24] sandyhouse commented on #21104
你调用save_inference_model的时候传入的feeded_var_names参数只有一个,但预测时传入的是两个呀（data和label）。

[2019-11-12 06:34] sandyhouse commented on #21108
Closing this issue. Reopen it if you have any further question.

[2019-11-12 06:35] #21108 closed, assigned to nobody

[2019-11-12 06:38] sandyhouse commented on #21115
方便设置GLOG_v=10，然后贴下输出的log吗

[2019-11-12 06:42] sandyhouse commented on #21116
Closing this issue, reopen it if you have any further question.

[2019-11-12 06:42] #21116 closed, assigned to nobody

[2019-11-12 07:11] littletomatodonkey opened #21128 "concat未运行时强制检查报错"
使用resize_bilinear对不同的feature map进行resize之后（actual shape指定实际形状），进行concat，concat编译时提示shape不对，但是在实际运行的时候是可以保证size对齐的，想问下在编译时就得得保证concat的所有feature map的size是一致的吗？

[2019-11-12 07:16] ceci3 commented on #21128
是的，在编译阶段需要保持一致

[2019-11-12 07:29] DDDivano opened #21129 "DetectionMAP这个OP怎么使用？"
能否给个能run起来的样例？
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/metrics_cn/DetectionMAP_cn.html
官方这个代码实例没有构造数据，自己构造之后报维度错误，能否给一份能run的样例？

[2019-11-12 07:30] littletomatodonkey commented on #21128
嗯嗯好的，但是这样就得保证使用resize op的时候，scale和actual shape能够完全对上是吧（比如说编译时shape需要完全是32或者是64的整数倍等）？我看elemwise_add等op没有这样的检查，是否可以去掉concat的编译shape检查呢？

[2019-11-12 07:33] ResearchingDexter opened #21130 "deformable_conv 输出全是0"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号1.6
    2）CPU/GPU：如果您使用GPU训练，请提供GPU1060、CUDA10.0和cuDNN7.4版本号
    3）系统型号：ubuntu18.04
    4）Python3.6
    5）显存信息6GB
[code]
输出全部都是0
[code]

[2019-11-12 07:43] ceci3 commented on #21128
resize_bilinear这个OP,scale和actual shape只要输入一个就可以了，不需要两个都有

[2019-11-12 07:44] jerrywgz commented on #21129
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ssd/train.py#L136 可以参考ssd中的使用方式

[2019-11-12 07:48] ceci3 commented on #21128
resize_bilinear这个op里，使用output_shape指定值是构图时候检查用的，实际运行时生效的是actual shape这个参数。只要指定好output_shape保证构图时候检查通过就行，scale和output_shape指定一个就可以了，out_shape的优先级高于scale。

[2019-11-12 07:51] littletomatodonkey commented on #21128
嗯嗯，我试了一下，是可以的，多谢！有个建议，文档里的表述似乎有点矛盾~https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/resize_bilinear_cn.html#resize-bilinear
![image](https://user-images.githubusercontent.com/14270174/68652312-2858d400-0564-11ea-8c22-d4231025b16d.png)

[2019-11-12 07:55] ceci3 commented on #21128
好的，感谢~ 我反馈给相关同学

[2019-11-12 07:58] #21128 closed, assigned to nobody

[2019-11-12 08:05] aprilvkuo opened #21133 "GPU多卡训练报错"
--------------------------4张卡的机器-------------------
1.两张卡部分可正常训练
01卡能正常进行双卡训练， 23卡能正常进行双卡训练。
13卡无法正常训练。

2.三张卡无法正常训练。

报错信息如下：
[code]

---------------------8张卡的机器----------------------
1、2、3张可以跑，4、5、6、7、8张都有问题

[2019-11-12 08:13] silingtong123 commented on #21106
windows环境下需要将yaml文件中MODLE_PATH里的单反斜杠改为双反斜杠，如下
![image](https://user-images.githubusercontent.com/35439432/68653747-5986d380-0567-11ea-8fb9-d6560a66eec0.png)

[2019-11-12 08:18] #21106 closed, assigned to Superjomn

[2019-11-12 08:22] zhhsplendid commented on #21133
cudaStreamSynchronize an illegal memory access was encountered 经常是显存问题，请问可否确保机器上的GPU卡是被 paddle 独占使用的？试试nvidia-smi命令查看各卡使用情况，ps命令看看是否有该结束的paddle进程没被杀死，还在悄悄占用显存？

[2019-11-12 08:32] jczaja commented on #18531
No, It is work in progress

[2019-11-12 08:33] jczaja commented on #18902
Yes, once we decreased hashing key and introduced std hasher no further ideas are pending to be verified.

[2019-11-12 08:33] #18902 closed, assigned to jczaja

[2019-11-12 08:33] aprilvkuo commented on #21133
@zhhsplendid

显存够用， 而且没有其他程序占用显存

[2019-11-12 09:13] zhhsplendid commented on #21133
GPU 的配置是怎样的？

[2019-11-12 09:42] Wahaha1314 commented on #21122
请问目前有相关的解决方案了吗？还是出现了什么问题？

[2019-11-12 09:42] qindisky opened #21139 "OOM错误异常信息优化"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本:1.6.1
2）CPU/GPU：CPU
3）系统环境：
- 原码&数据集：https://aistudio.baidu.com/aistudio/projectdetail/164023
- 复现信息：下载代码，解压数据集，挂载到docker下的目录（docker的内存限制2G）
docker run --name paddle_test_1.6.1 -it --privileged -v ${数据集和程序的目录}:/paddle hub.baidubce.com/paddlepaddle/paddle:1.6.1 /bin/bash
修改系统参数：sysctl -w vm.overcommit_memor

[2019-11-12 10:06] WorldEditors commented on #20169
@chengduoZH this problem has existed for over a month and it is a serious problem in multi-processing usage of Paddle, looking forward to solving it ASAP.

[2019-11-12 11:03] luotao1 commented on #21120
@yihuaxu @bingyanghuang Please help see this issue.

[2019-11-12 12:04] ceci3 commented on #21122
我这儿运行会报错，暂时还没复现出您上面说的`那些维度的信息还是可以打印出来，但是就是执行lstm 以及最后的平均误差打印不出来&nbsp; &nbsp;同时是很快报停 大概就10秒`这个情况

[2019-11-12 12:05] ceci3 commented on #21122
您可以先在lstm后面和计算平均误差后面使用fluid.layer.Print打印看下能否打印出结果

[2019-11-12 12:13] Wahaha1314 commented on #21122
打印不出任何信息，纠结的很。

[2019-11-12 12:14] Wahaha1314 commented on #21122
我感觉程序很简单，应该不可能是其他的错误呀，感觉执行lstm那条语句就程序死掉了

[2019-11-12 12:16] gavin1332 commented on #20169
it is suggested to use `subprocess.Popen` to create subprocess, since `multiprocess.Process` inherits all environments from its parent which may cause duplicated initialization of GPU devices.
[code]

[2019-11-12 12:28] bingyanghuang commented on #21109
@zhouwei25 我跟我们的工程师确认了一下， MKL-DNN不支持32位的环境，所有MKL-DNN的JIT/汇编的代码都是64位的。

[2019-11-12 13:02] wilsonlsm006 opened #21143 "执行run_ChnSentiCorp.sh脚本是报错module 'paddle.fluid' has no attribute 'cuda_places'"
paddle版本：pip install -U paddlepaddle-gpu==1.3.0.post97 -i "https://pypi.doubanio.com/simple/"
CUDA版本号：CUDA Version 9.2.148
执行分类任务run_ChnSentiCorp.sh脚本的时候报错：
AttributeError: module 'paddle.fluid' has no attribute 'cuda_places'

[2019-11-12 13:08] #21143 closed, assigned to nobody

[2019-11-12 13:13] wq343580510 commented on #20914
我也遇到了这个问题 求问怎么解决的

[2019-11-12 13:39] Ashleychen commented on #20914
我是用1.6以前的fleet mpi训练保存模型之后，在本地inference遇到这个问题的。
我也按照他说的那样查计算图也没问题，后来升级paddle，用了1.6的fleet就没有这个问题了。
你看看是不是跟我类似。

陈雅雪&nbsp;&nbsp;Yaxue Chen
School of Software, Sun Yat-sen University,
Guangzhou&nbsp;510006, China

Email:&nbsp;ashleychenyx@qq.com

Phone: 18022632126

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"trayfour"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月12日(星

[2019-11-12 19:18] grygielski commented on #19505
PR that should fix ```test_analyzer_seq_pool1``` fail: https://github.com/PaddlePaddle/Paddle/pull/21144

[2019-11-13 01:09] Jockmx commented on #21106
谢谢谢谢，我居然忽略了这一点，十分感谢。

[2019-11-13 01:42] xueeinstein commented on #20169
@gavin1332 Thank you for your suggestion and code example. In our project, two **different models** are trained via two processes, and use a handy`multiprocessing.Manager()` to control sync and async training.  For simplicity, the provided testcase removes this communication pipeline.

Anyway, `subprocess.Popen` is a better solution. But I have to rewrite the communication pipeline using `Popen.co

[2019-11-13 01:48] Wahaha1314 commented on #21122
目前您那边目前有大致的解决方向吗？

---Original---
From: &quot;ceci3&quot;<notifications@github.com&gt;
Date: Tue, Nov 12, 2019 20:06 PM
To: &quot;PaddlePaddle/Paddle&quot;<Paddle@noreply.github.com&gt;;
Cc: &quot;Author&quot;<author@noreply.github.com&gt;;&quot;Wahaha1314&quot;<y149167@foxmail.com&gt;;
Subject: Re: [PaddlePaddle/Paddle] op cudnn_lstm does not have kernel for data_type[double]:data_layout[ANY_LAYO

[2019-11-13 03:01] ceci3 commented on #21122
给代码在data1的定义下面加上data1.stop_gradient=False试下

[2019-11-13 03:08] Wahaha1314 commented on #21122
大佬！&nbsp;跑起来了，我想请问下大佬一下&nbsp;这个的原因是为什么?因为网上现在paddlepaddle相关解释太少了，如果您有时间可以点拨一下吗？&nbsp;

---Original---
From: &quot;ceci3&quot;<notifications@github.com&gt;
Date: Wed, Nov 13, 2019 11:02 AM
To: &quot;PaddlePaddle/Paddle&quot;<Paddle@noreply.github.com&gt;;
Cc: &quot;Author&quot;<author@noreply.github.com&gt;;&quot;Wahaha1314&quot;<y149167@foxmail.com&gt;;
Subject: Re: [PaddlePaddle/Paddle] op cudnn_

[2019-11-13 03:11] baiyfbupt commented on #21130
@ResearchingDexter  hi, 这里输出全为0的原因是deformable_conv的参数`im2col_step`默认值为64，在使用中要求输入数据的batch_size应可以被该值整除，这里feed数据的batch_size为1，所以会导致计算上的错误。建议把`im2col_step`指定为1再试试
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/deformable_conv_cn.html#deformable-conv
![image](https://user-images.githubusercontent.com/28884066/68729874-192a6280-0606-11ea-9d77-1411385e6c90.png)

[2019-11-13 03:11] DDDivano opened #21148 "chain API函数到底应该返回什么？"
官网API链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/chain_cn.html

![image](https://user-images.githubusercontent.com/10734244/68729738-bb961600-0605-11ea-9ee3-e7c0b5461dac.png)
按照1部分所说，我理解的是同时读取三个reader的数据合成了一份数据返回，数据结构有更改，按照实际使用情况2部分所说，看起来像是简单的reader的顺序累计成一个reader并逐条返回，数据本身没有更改。所以这个函数到底应该是什么样？（2图里的函数也写错了）

[2019-11-13 03:13] Wahaha1314 commented on #21122
还有我想请问下，这一步的解释是?他是主要起什么作用的?

---Original---
From: &quot;ceci3&quot;<notifications@github.com&gt;
Date: Wed, Nov 13, 2019 11:02 AM
To: &quot;PaddlePaddle/Paddle&quot;<Paddle@noreply.github.com&gt;;
Cc: &quot;Author&quot;<author@noreply.github.com&gt;;&quot;Wahaha1314&quot;<y149167@foxmail.com&gt;;
Subject: Re: [PaddlePaddle/Paddle] op cudnn_lstm does not have kernel for data_type[double]:data_layou

[2019-11-13 03:23] Wahaha1314 opened #21150 "关于对于fc的op关于偏置初始化疑问？"
您好，我有一个疑惑就是用fc接口时候，我看官方文档，他对偏置的初始化是全0？如果全0的化，后面的反向更新那不就不更新了？这偏置不就没有意义了吗？为什么他不采用默认初始化全1   还是我理解错了？还有就是如果要对偏置进行配置为初始化全1，该如何操作。

[2019-11-13 03:29] ceci3 commented on #21122
stop_gradient是为了标明这个参数是不是需要 求梯度，数据输入层一般我们认为是不需要梯度的，所以默认数据输入层的stop_gradient=True，要手动设置为False才标明要计算这个参数的梯度。因为你这个网络输入层直接传给了lstm，lstm的参数都需要梯度回传，所以需要手动添加stop_gradient=False。

[2019-11-13 03:43] Wahaha1314 commented on #21122
感谢！

---Original---
From: &quot;ceci3&quot;<notifications@github.com&gt;
Date: Wed, Nov 13, 2019 11:30 AM
To: &quot;PaddlePaddle/Paddle&quot;<Paddle@noreply.github.com&gt;;
Cc: &quot;Author&quot;<author@noreply.github.com&gt;;&quot;Wahaha1314&quot;<y149167@foxmail.com&gt;;
Subject: Re: [PaddlePaddle/Paddle] op cudnn_lstm does not have kernel for data_type[double]:data_layout[ANY_LAYOUT]:place[CUDA

[2019-11-13 03:58] ceci3 commented on #21122
没有别的问题的话，那我先关掉了这个issue了~

[2019-11-13 04:02] #21122 closed, assigned to ceci3

[2019-11-13 04:09] #21129 closed, assigned to nobody

[2019-11-13 04:09] ceci3 commented on #21129
fluid.layers.data如果第一维不是-1的话会自动添加上一个batch size维度，如果想指定batch size维度的话需要添加一个参数append_batch_size=False或者用fluid.data这个OP，需要修改官网示例代码

[2019-11-13 04:16] wangxicoding opened #21154 "softmax_with_cross_entropy CPU/GPU版本实现不一致"
https://github.com/PaddlePaddle/Paddle/blob/fff270eacd83384ad9a62db1af38d7db65dd2cd3/paddle/fluid/operators/softmax_with_cross_entropy_op.h#L59-L63
GPU版本是按照合并简化后公式（下图）实现的，CPU版本目前还是按照softmax + cross_entropy分开的方式计算，需要按合并简化后的公式计算，提升数值稳定性。
![image](https://user-images.githubusercontent.com/10208305/68732700-3e01e400-05cc-11ea-80f4-b728b9c8a9ac.png)

[2019-11-13 05:26] kexinzhao opened #21155 "V1.6版本distributed.launch模块的参数默认值设置与描述不一致"
1.6版本的distributed.launch模块新增加了一个参数: `use_paddlecloud`
https://github.com/PaddlePaddle/Paddle/blob/release/1.6/python/paddle/distributed/launch.py#L96-L100

这个bool type参数的default="False", 从描述上看是想设置成默认False，但是因为输入是一个"False"的string，所有非空string都会被认为是True. 所以实际的默认值是True。

这个设置导致我在非paddle cloud上训练时，再次提交训练任务时出错。
改成default=False就没问题了。

[2019-11-13 05:48] #21109 closed, assigned to nobody

[2019-11-13 06:36] xiuechen opened #21156 "关于ZeroCopyTensor中的SetLoD问题"
void SetLoD(const std::vector<std::vector<size_t>>& x);
在这个tensor中需要输入一个二维数组const std::vector<std::vector<size_t>>& x

之前在nativeconfig预测的时候，某个输入tensor（batch_size，每个batch column个元素）的lod是这么设置的。能够正常预测：

                std::vector<uint64_t> lods;
                for (uint32_t j=0;j<=batch_size;j++)
                {
                        lods.emplace_back(j*column);
                }

[2019-11-13 07:11] FDInSky commented on #21155
多谢反馈，我们会及时修改

[2019-11-13 07:13] FDInSky commented on #21154
多谢反馈，我们会及时跟进的

[2019-11-13 07:15] FDInSky commented on #21150
![image](https://user-images.githubusercontent.com/48318485/68741339-50aa0680-0628-11ea-9372-451b8aac00c0.png)
初始值为0，但梯度不等于0，也可以更新

[2019-11-13 07:16] FDInSky commented on #21148
这个例子比较简单，你可以试一下读一个多维度的数看看，返回的跟1部分是吻合的。

[2019-11-13 07:23] FDInSky commented on #21156
同样的方式就可以

[2019-11-13 08:12] wangchaochaohu commented on #21113
fill_constant 目前看来对输入较大的数字存在问题
[code]

打印结果是30000264

目前已经查明  30000265和30000264在IEEE 74标准中 float中表示是相同的

![image](https://user-images.githubusercontent.com/13411999/68828386-6da21080-06e0-11ea-9a31-09c8a2eb84c7.png)
Tensorflow 在float32中也有类似的问题，
我们需要解决的是float64的情况下数据表示的正确性

[2019-11-13 08:55] daizh opened #21162 "请问现在paddle是否有办法能实现gradient accumulation呢?"
请问现在paddle是否有办法能实现gradient accumulation呢?
有很多任务需要开比较大的batch, 有gradient accumulation能解决很多训练效率以及资源需求的问题~

[2019-11-13 09:19] kerwinner opened #21167 "用PaddlePaddle和Tensorflow实现经典CNN网络Vgg"
Vgg的优势

与AlexNet相比：

相同点

整体结构分五层；

除softmax层外，最后几层为全连接层；

五层之间通过max pooling连接。

不同点

使用3×3的小卷积核代替7×7大卷积核，网络构建的比较深；

由于LRN太耗费计算资源，性价比不高，所以被去掉；

采用了更多的feature map，能够提取更多的特征，从而能够做更多特征的组合。

[2019-11-13 09:30] danleifeng commented on #21155
已修改  #21168
加入了store_true, 如果不用paddlecloud 就不需要设置`use_paddlecloud`这个参数。

[2019-11-13 11:14] thunder95 opened #21171 "c++预测sample无法运行"
求助，不知道哪里弄错了

环境:
ubuntu：16.04
gcc：5.4
下载的预测库1.6：[预测库压缩包](https://paddle-inference-lib.bj.bcebos.com/1.6.0-gpu-cuda10-cudnn7-avx-mkl-trt5/fluid_inference.tgz)
运行测试的sample: [下载的sample](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/native_infer.html#C++%E9%A2%84%E6%B5%8B%E6%A0%B7%E4%BE%8B%E7%BC%96%E8%AF%91%E6%B5%8B%E8%AF%95)

遇到的问题：
1. 当使用下面的方式就会报错：
`config->Se

[2019-11-13 12:09] lidanqing-vv opened #21173 "Test examples for multi-threading training on [MKLDNN]"
@luotao1 Hi, please attach the links here for testing multi-threading training. @jczaja will look into it soon. Thank you very much!

[2019-11-13 12:14] DDDivano commented on #21148
事实是2部分是正常的，就是简单的把reader串在一起读取了

[2019-11-13 14:16] luotao1 commented on #21173
There are two modes:
- `ParallelExecutor`: https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/ctr/dnn/train.py#L142
[code]
- `exe.train_from_dataset`: see https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/ctr/deepfm/local_train.py#L37
[code]
You can find more cases of these two modes in [models repo](https://github.com/PaddlePaddle/models).

[2019-11-13 14:59] jinjin123 opened #21175 "k8s里面调用模型的时候daemon-kubelet[4173]: W1113 error while getting gpu utilization: nvml: Not Supported"
- 标题：daemon-kubelet[4173]: W1113  error while getting gpu utilization: nvml: Not Supported
- 版本、环境信息：
    1）PaddlePaddle版本：docker镜像paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7
    2）CPU/GPU：如果您使用GPU训练，GPU驱动版本: 418，CUDA: 10.0 ，cuDNN版本号：7
    3）系统环境：宿主机ubuntu 18.04 docker镜像paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7
    4）Python版本号: 2.7.12
    5）显存信息
root@ai:/usr/include# nvidia-smi
Wed Nov 13

[2019-11-14 01:40] FDInSky commented on #21162
目前还不支持

[2019-11-14 01:41] skriser opened #21176 "windows使用样例保存model后，加载模型，预测出错。"
在使用官方提供的demo直接训练预测没有问题。当把训练和预测分开执行，在加载模型预测时报错。
[code]

=报错信息==========================================
[code]

[2019-11-14 01:53] FDInSky commented on #21167
请问你的问题是什么？

[2019-11-14 02:17] joey12300 commented on #21171
应该是编译器的问题。你下载的预测库是用gcc4.8编译的，所以你得使用gcc4.8来编译。建议你将gcc和g++都降级为4.8。可使用下面的命令实现降级。
[code]

[2019-11-14 02:35] thunder95 commented on #21171
非常感谢回复，按照您给的命令实现了降级，但还是同样的问题。
gcc version 4.8.5 (Ubuntu 4.8.5-4ubuntu2)

[2019-11-14 02:43] thunder95 commented on #21171
非常感谢，降级gcc后，这步没有报错了。

[2019-11-14 02:43] #21171 closed, assigned to nobody

[2019-11-14 03:42] DDDivano opened #21177 "multiprocess_reader 使用 use pipe = True参数报错"
multiprocess_reader 使用 use pipe = True参数报错
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/multiprocess_reader_cn.html
代码就是官方示例
----------
import ujson error: No module named 'ujson' use json
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/paddle/fluid/executor.py:790: UserWarning: The current program is empty.
  warnings.warn(error_info)
Process Pr

[2019-11-14 06:00] zhaoyuchen2018 commented on #21177
看起来是multiprocess_reader的问题，麻烦@sneaxiy看下

[2019-11-14 06:29] zhaoyuchen2018 commented on #21176
[code]
run要在infer_scope里面

[2019-11-14 07:08] ff3141044702 opened #21184 "在Windows10测试环境运行C++ inference失败"
使用Windows10专业版+VS2015+cuda9.2+cudnn7.6.1+paddlepaddle 1.5.2的开发环境中，编译运行C++ inference程序，可以使用CPU模式（因为开发环境GPU安装失败）进行预测，但是在Windows10专业版+vc2015(update3)运行时库+.Net 4.5(4.6)运行时库的测试环境中，不管使用CPU还是GPU均报0xc000007b错误。

[2019-11-14 07:26] GaoWei8 commented on #20309
This PR [#21185](https://github.com/PaddlePaddle/Paddle/pull/21185) solve this problem.

[2019-11-14 07:50] Colorfu1 opened #21187 "配置8个cpu训练时候出错，batch_size为512"
使用多个cpu设备进行训练，配置CPU_NUM
`use_cuda = False`
`os.environ['CPU_NUM'] = '8'`
`place = fluid.CUDAPlace(0) if use_cuda else fluid.CPUPlace()`
配置dataloader
`dataloader_place = place if ITERABLE else None`
`train_loader.set_sample_list_generator(fluid.io.shuffle(fluid.io.batch(paddle.dataset.mnist.train(), 512), buf_size=1024), places=dataloader_place)`
`test_loader.set_sample_list_generator(fluid.io.batc

[2019-11-14 08:04] zhaoyuchen2018 commented on #21184
出错的paddle是什么版本，除了这个0xc000007b还有什么信息打印吗

[2019-11-14 09:10] zhaoyuchen2018 commented on #21187
看起来和cpu_num没有什么关系，提示的错误是feed的数据size不一致。你看下官方的mnist是怎么配置的吧

[2019-11-14 09:39] kerwinner commented on #21167
误操作，请忽略。

[2019-11-14 10:47] FDInSky commented on #21154
https://github.com/PaddlePaddle/Paddle/issues/20994 参考这里

[2019-11-14 10:54] Boyan-Liu commented on #21175
@NHZlX 麻烦召龙看下。

[2019-11-14 11:56] daizh commented on #21162
好的, 谢谢

[2019-11-14 11:56] #21162 closed, assigned to nobody

[2019-11-14 12:14] Ashleychen commented on #20943
我也是在paddlecloud跑任务遇到同样的错误，请问解决了没有

[2019-11-14 18:59] jczaja commented on #20964
@zhangting2020 , @luotao1 I apologize for lack of update on this issue for last couple of days.

1. To add _data_format_ NHWC/NDHWC support for conv, conv_transpose, batch_norm and lrn are quite complex hence it would safer is to disable NHWC for mkl-dnn kernels for 1.6 release. Please review PR #21191 for 1.6 with error messages when MKL-DNN kernel that is having data_format set .

2. For current

[2019-11-15 02:33] mzchtx opened #21194 "TensorRT 子图预测是否支持 FP16？"
原生 TensorRT 在很早之前的版本（如 TensorRT 4）中已经支持 FP16 预测，但是由于厂内普遍用的 GPU 不支持 FP16 预测，所以也基本没有应用。然而当前厂内厂外一些新的 GPU 都开始支持 FP16，相比于 INT8，FP16 的损失更小、更可控，是否能够提供对 FP16 预测的支持？

如下为 T4 GPU 的 FP16 算力：
1. T4 的 CUDA Core：
    1. FP32：8.1 TFLOPs
    2. FP16：16.2 TFLOPs
2. T4 的 Tensor Core：
    1. FP16：65 TFLOPs

在 T4 上使用 TensorRT6 + ResNet101 做了简单实验，FP16 的吞吐至少可以达到 FP32 的 4-5 倍。

[2019-11-15 05:24] #20309 closed, assigned to NHZlX

[2019-11-15 06:50] yinghu5 commented on #15791
Hi @yihuaxu  @bingyanghuang

It is random failed and can't reproduce. what i can recommend may to try Intel inspector to see if it can disclose some problems even without reproduce the problem.

Here is https://software.intel.com/en-us/inspector
resolve Memory errors and nondeterministic threading errors, which are difficult to find without the right tool.

[2019-11-15 06:58] NHZlX commented on #21194
fp16是可以支持的。
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/paddle_tensorrt_infer.html#a-name-paddle-trt-paddle-trt-a

直接将precision 改成kHalf， 加载fp32 即可预测。

[2019-11-15 07:09] mzchtx commented on #21194
👍

[2019-11-15 07:17] skriser commented on #21176
谢谢，可以了

[2019-11-15 07:17] #21176 closed, assigned to nobody

[2019-11-15 08:07] luotao1 commented on #19505
Close this issue since the above 4 tests are already fixed now.

[2019-11-15 08:07] #19505 closed, assigned to jczaja

[2019-11-15 08:26] wojtuss commented on #21123
@ceci3 , for some reason a gemm:blas implementation is being chosen instead of a jit one for convolutions with MKL-DNN. I am investigating the problem.

[2019-11-15 10:00] grygielski commented on #21120
Fix: https://github.com/PaddlePaddle/Paddle/pull/21204
@luotao1 Could you confirm that this PR fixes problem on your machine?

[2019-11-15 14:57] zhangting2020 commented on #20964
@jczaja

Yes, the format of input to grad e.g. Out_Grad tensor is consistent with data_format.

No matter what the data_format is, the shape of params does not change. It means the shape of weights will always be [O, C, H, W] and bias [O,1],

[2019-11-15 15:13] jczaja commented on #20964
@zhangting2020 So for input X (output of previously executed op or shape of incoming signal) shape  **does** depend on _data_format_. if we have  _data_format_="NCHW"  and shape is [2,3,7,7] then for same op and _data_format_="NHWC" shape is [2,7,7,3] .  But for param(weights and bias) inputs situation is diffrent eg. for regardless _data_format_="NCHW" or "NHWC" it is always the same shape for ex

[2019-11-15 16:05] lyp2github opened #21208 "dygraph模式下，fluid.gradients 报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：dygraph模式下，fluid.gradients 报错
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1.post97 GPU版本
    3）GPU：Tesla P40 cuDNN Version: 7.0,
    4）系统环境：CentOS release 6.3 (Final)，Python3.6, 2018 x86_64 x86_64 x86_64 GNU/Linux
- 模型信息
 #!/usr/bin/env python
#-*- coding=utf8 -*-
import paddle.fluid as fluid
im

[2019-11-16 02:04] ff3141044702 commented on #21184
paddle是1.6，除了这个没有别的信息

[2019-11-16 02:05] ff3141044702 commented on #21184
paddle1.5.2和1.6都试过，除了0xc000007b外没有别的信息打印

[2019-11-16 07:07] ResearchingDexter commented on #21130
果然，改成1就可以了....

[2019-11-17 06:34] mzchtx opened #21210 "c++ Inference 是否支持输入 Tensor 位于 GPU 显存？"
有些时候会出现 GPU 性能较强或者预处理较复杂的情况，导致 GPU 打不满，CPU 成为瓶颈，希望通过将部分预处理逻辑放在 GPU 来充分发挥 GPU 性能。

通过 GPU 预处理后的数据本身是放在 GPU 显存的，能否直接传到预测接口进行预测？看了下 ZeroCopyTensor 和 PaddleTensor 都无法实现这种需求，是否有其他的方式？

[2019-11-17 08:36] chaoswong1981 opened #21211 "windows下训练卡死"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1
    2）GPU：NVIDIA Geforce GTX 1660 Ti, CUDA 10.0.130, cuDNN 7.6
    4）系统环境：Windows 10, Python 3.7.5 64bit
- 训练信息
    1）单机
    2）显存信息
    3）使用PaddleDetection的Yolov3模型
- 复现信息：
![1](https://user-images.githubusercontent.com/1501860/69005126-448bb500-0958-11ea-98e7-e171a2a1bda0.png)

- 问题描述：
    开始训练后不久就会出现卡死现象，训练步数不定，有时几百步，有时几千就会卡死不动。

Thank you for contributing t

[2019-11-18 01:40] chaoswong1981 commented on #21184
这种错误我感觉像是库不匹配导致的，可以查查先排队这方面的问题

[2019-11-18 02:43] dashulu opened #21214 "CPU&GPU混合训练时，结果不符合预期"
假设一个执行流程为op1->op2->op3->op4，且整个过程在op1，op2，op4在GPU上跑，op3由于没有GPU的实现，在CPU上跑。假设op2的输出为a，op3的输入和输出也均为a（比如scale op）。在framework/operator.cc的OperatorWithKernel::RunImpl函数，先调用PrepareData将a从gpu上转化为cpu上的数据，且换到runtime_ctx的input中，且由于op3的输入输出均为a，transferd_inplace_vars中包含了a的变量。在op3的执行过程中，从Input中获取了转化后的a的变量，从output中获取输出的a的变量（与输入不是同一个变量），output中的a会重新分配内存，op3的计算结果放到了output的3中。
op3执行结束后，调用TransferInplaceVarsBack想把op

[2019-11-18 03:09] liupluswei commented on #21211
你好，我们已经发现cudaStreamSynchronize API在windows平台会出现随机hang的问题，目前已经提交PR #21201

[2019-11-18 03:10] #20152 closed, assigned to MRXLT, chengduoZH

[2019-11-18 03:29] webary opened #21216 "F1115 grpc_serde.cc:107: AppendZeroCopy varname:embedding_w@GRAD, vlen:"
- 版本、环境信息：
    1）PaddlePaddle版本：v1.4.1
- 训练信息
    1）多机
- 复现信息：使用Adagrad优化器，embedding使用稀疏更新is_sparse=True时就报错

Fri Nov 15 18:09:25 2019[1,0]<stdout>:F1115 18:09:25.348170  2010 grpc_serde.cc:107] AppendZeroCopy varname:embedding_w@GRAD, vlen:5213934592
Fri Nov 15 18:09:25 2019[1,0]<stdout>:*** Check failure stack trace: ***
Fri Nov 15 18:09:25 2019[1,0]<stdout>:    @     0x7f0e76ba4c0d  google::Log

[2019-11-18 05:16] Shixiaowei02 commented on #21214
您好！目前官方版本的 Paddle 还不支持使用 XPU 训练。请用标准 Paddle Fluid 版本复现问题后，将问题的复现环境和脚本提供给我们，以便跟进调试。谢谢！

[2019-11-18 05:19] zhhsplendid commented on #21214
补充一下，上面晓伟说的XPU，这个issue问题虽然是CPU&GPU混合训练时，但是看log是在做cpu和xpu之间的切换？因为我们还不支持XPU训练，如果需要某种支持（如将GPU改XPU等），请进一步提供更具体的复现条件或者需求给paddle组？

[2019-11-18 05:29] hong19860320 commented on #21214
我觉得不用纠结于是不是支持XPU，用户现在只是想问PrepareData和TransferInplaceVarsBack机制是怎样的，希望能有熟悉paddle fluid框架的大佬来回复下。

[2019-11-18 05:36] zhhsplendid commented on #21214
PrepareData就是从scope里拿出op run所需的变量

TransferInplaceVarsBack，是为了在做DataTransform后（data transform 是做比如CPU -> GPU, CPU->XPU 一类的，DataTransform会new一个新的scope），把output和input同名的变量assign回父scope里去

[2019-11-18 05:41] zhangting2020 commented on #21214
补充一下，在PrepareData中可能会进行data transform：当输入数据的dtype、所在的设备、layout与期望执行的Kernel不一致时，就会对输入数据做transform。比如输入数据在CPU上，设置执行的place是GPU，那么将会执行Op的GPU实现（如果有），这种场景下需要将数据从CPU拷贝到GPU。从上面的log来看，输入数据在CPU，而要执行的place是XPU。如果要进行data transform，就会new一个新的scope，称之为transfer_scope，在transfer_scope中存放了需要transform的变量。PrepareData会返回这个transfer_scope。

对于支持inplace的Op而言。如果进行了data transform，Op运行时实际使用的输入就在transfer_scope中，地址发生了变化，runtim

[2019-11-18 06:43] songxueXS commented on #6483
解决了吗？我也想知道

[2019-11-18 07:00] dashulu commented on #21214
@zhangting2020 谢谢回复。但是问题出现在`Op计算完，既然是将结果放在输入所在地址，那么也就相当于放在transfer_scope中。`实际上Op计算完，并没有把结果放在输入所在的地址，而是放在输出所在新分配的地址。所以TransferInplaceVarsBack时,把输入的数据放回到原来的scope中了。
比如看SumKernel的实现，out_var是从context.OutputVar中查找，保存计算结果，与transfer_scope中的input没有关系。
![image](https://user-images.githubusercontent.com/4484303/69030974-f805af80-0a13-11ea-8633-d8effd2732b3.png)

[2019-11-18 07:20] digantamisra98 opened #21219 "Feature Request: Add Mish Activation"
Mish is a new novel activation function proposed in this [paper](https://arxiv.org/abs/1908.08681).
It has shown promising results so far and has been adopted in several packages including:

- [TensorFlow-Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/activations)
- [SpaCy (Tok2Vec Layer)](https://github.com/explosion/spaCy)
- [Thinc - SpaCy's official NLP based ML libr

[2019-11-18 07:21] zhangrui-github opened #21220 "【请教】paddle.fluid.core_noavx.EnforceNotMet: grad_op_maker_ should not be null"
- 版本、环境信息：
    1）PaddlePaddle版本：
    2）CPU：paddlepaddle         1.5.0
    3）系统环境：Mac OS 10.14，Python3.7
- 训练信息
    1）单机
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
使用paddle自己搭建了一个模型，在运行到optimizer = fluid.optimizer.Adam(learning_rate=0.001)
optimizer.minimize(avg_loss)
的时候出现了这样一个错误，
![image](https://user-images.githubusercontent.com/52496902/69031969-516ede00-0a16-11ea-9b5e-7b8dc4121b41.png)
模型定义
`
def e

[2019-11-18 08:26] parap1uie-s commented on #21219
Try this:

[code]

[2019-11-18 08:46] songyouwei commented on #21208
`fluid.gradients`这个api不适用于动态图。动态图下要先调`y.backward()`，再通过`Variable.gradient()`获取其梯度值。正确代码示例：

[code]

[2019-11-18 08:50] digantamisra98 commented on #21219
@parap1uie-s Thanks. That's really helpful. Hoping that it can be added to Paddle.

[2019-11-18 08:51] mapingshuo opened #21221 "EOF Exception is not caught when using pyreader"
### 问题描述

我在使用Pyreader做Bert fine-tuning阶段的训练，训练中发现当模型训练到最后，会报如下错误：

[code]
报错内容显示exe.run传入了一个空Tensor, 即shape=[]。

可是PyReader遇到文件尾应该会raise EOFException后退出，不会给空数据去训练。

于是我打印了更多log，log显示程序已经抛出了EOFException，但是没有被catch，这个问题应该解决。log如下：

![image](https://user-images.githubusercontent.com/23031310/69037652-35be0480-0a23-11ea-8d0d-3fbc19206c80.png)

### 如何复现这个问题：

按照这个[repo](https://github.com/mapingshuo/F

[2019-11-18 09:33] linan142857 opened #21224 "save_inference_model ValueError: var {variable_name} not in this block"
**save预测模型如下：**
`
##
    pad_num = 200
    num_classes = args.num_classes
    # prepare environment
    place = fluid.CUDAPlace(0)
    exe = fluid.Executor(place)
    images = fluid.layers.data(name='pixel',
            shape=data_reader.IMAGE_SHAPE[::-1], dtype='float32')
    content = fluid.layers.data(name='word',
            shape=[1], dtype='int32', lod_level=1)
    adjacency = fluid.layers.d

[2019-11-18 10:04] wojtuss commented on #21123
@ceci3, the problem is the following: all the convolutions in the model have enforced NCHW data format, which makes the MKL-DNN unable to use faster jit AVX implementation and it falls back to the slower gemm implementation. As a resolution, please do not enforce the NCHW data format in the model.

[2019-11-18 10:42] linan142857 commented on #21224
![image](https://user-images.githubusercontent.com/3764907/69046071-1a5af580-0a33-11ea-802c-90af95e79e7c.png)
model里对应输入的feature被覆盖导致

[2019-11-18 10:42] #21224 closed, assigned to nobody

[2019-11-18 11:59] zhangting2020 commented on #21214
@dashulu 需要纠正下前面关于的TransferInplaceVarsBack说法，或许描述有些误差。
在PrepareData中如果Op的输入输出变量同名，同时输入需要transform，就会记录在transferd_inplace_vars中。TransferInplaceVarsBack将transferd_inplace_vars放回原来的scope中。

我尝试按照你描述的场景，将sum的输入放在CPU上，设置GPU执行，sum op的输入输出变量并不是同名的，也不会发生TransferInplaceVarsBack。
[code]

从你的log来看，sum op的输入输出变量是同名的，所以才在计算完后发生了TransferInplaceVarsBack，这与预期并不一致。
![image](https://user-images.githubusercontent.co

[2019-11-18 12:07] zhangting2020 commented on #20964
@jczaja Sorry to reply to you so late.

yes, as you described.

[2019-11-18 14:46] Sand3r- opened #21228 "[QAT] BERT Model"
Hello,
as it has been agreed on previously, intel is going to prepare QAT pass for BERT INT8.
Hence, we'd like to find out the following:
1. What flavour (type) of BERT model shall we optimize? There are several ones that I know of, each differs by the ops it is built of.
2. Could you please provide data the reader for us? Two of the QAT BERT models we have received accepted only 2 inputs, while o

[2019-11-19 02:37] maosengshulei opened #21229 "mpi 训练中报错， gradient_clip clip_by_norm算子 的输出含有nan"
模型代码如下
`# !/usr/bin/python
# coding=utf-8

import paddle
import paddle.fluid as fluid
from functools import reduce
from itertools import starmap
import numpy as np
import math

def DNN(args, feat_list):

    dense_feature_dim = reduce(lambda x,y:x+y,[ 1 for _,feat in feat_list.items() if feat.value_type == 0])

    dense_feature = fluid.layers.data(name="dense_input", shape=[dense_feature_dim], dt

[2019-11-19 03:41] #21120 closed, assigned to nobody

[2019-11-19 03:55] dashulu commented on #21214
可以设置data1和output的名字相同吗？
使用paddle v151, paddle model中的resnet50模型，只需要把batchNorm的前向和反向的GPU实现注释了，应该就复现问题

[2019-11-19 04:23] Aurelius84 opened #21232 "【MKL】Different output with different version of libmklml_intel.so"
I'm training a model on CPU machine with paddle, but the precision (`PNR`) can not converge up to the baseline with same train dataset.

I found that the result trained by paddle whl with `2014MKL` is better than  the `2019MKL`.

+ `2019MKL` means to compile paddle with 2019 `libmklml_intel.so`, which is used by default in Paddle.
+ `2014MKL` means to compile paddle with 2014 `libmklml_intel.so`
+

[2019-11-19 05:16] qingqing01 commented on #21123
@wojtuss  Do you mean we need to train a new mode by NHWC format?   Can the format conversion be optimized automatically during the inference by Pass?

[2019-11-19 05:45] zhhsplendid commented on #21216
方便提供更具体的复现情况吗？如简短的复现代码？

[2019-11-19 05:54] yinghu5 commented on #21232
@Aurelius84   If it it convenient, , could you please help to collect the log
export  MKL_VERBOSE=1
run.sh 2>&1 | tee  baseline.log
mkl2019.log and and mkl2014.log respectively?

I recalled, we had discussed the problems. The basic background is explained
https://software.intel.com/en-us/articles/introduction-to-the-conditional-numerical-reproducibility-cnr
thanks
Ying

[2019-11-19 06:04] seiriosPlus commented on #21229
去掉clip试一下？

[2019-11-19 06:07] maosengshulei commented on #21229
加上clip的原因就是之前embedding层出现INF。之前经常因此导致预测值变为nan，报错。

[2019-11-19 06:10] luotao1 commented on #21232
MKL确实存在Conditional Numerical Reproducibility（CNR）问题：

- 现象1：https://software.intel.com/en-us/forums/intel-math-kernel-library/topic/600167
- 现象2：https://software.intel.com/en-us/forums/intel-math-kernel-library/topic/391364

解决办法：设置以下两个环境变量

`export KMP_DETERMINISTIC_REDUCTION=yes`
`export MKL_CBWR=xxx`，具体值参考下面（即匹配机器型号）
![image](https://user-images.githubusercontent.com/6836917/69121046-3794d000-0

[2019-11-19 06:26] Angus07 opened #21235 "map_structure使用问题"
我有两个tensor，分别是
 index: [batch_size ,1600, 1]
update: [batch_size, 1600]
希望能通过scatter_nd变成：
output: [batch_size, 18000]
在tensorflow中可以通过tf.map_fn实现。现在使用paddle中的utils.map_structure（没有相关文档）来复现，
attn_dists_projected = utils.map_structure(lambda y: layers.scatter_nd(y[0], y[1], [18000]),
                                         (index, update))
结果报错了，报错信息如下：

![image](https://user-images.githubusercont

[2019-11-19 06:53] guoshengCS commented on #21235
这里map_structure的正确用法是
`attn_dists_projected = utils.map_structure(lambda x,y: layers.scatter_nd(x, y, [18000]), index, update)` 。但可能不是你那边预期的。
这个map_structure其实不太推荐直接使用，是内部接口，做的事情其实就是做函数映射，只是在能够在做的函数映射到同时保持输入的数据结构（list，dict之类），这样输出会和输入具有相同的数据结构。这个只是一个python层的工具函数，不是一个算子。

[2019-11-19 07:07] webary commented on #21216
hi: wenbo8135

[2019-11-19 07:17] Aurelius84 commented on #21232
@yinghu5 @luotao1  Thanks for your apply.

I followed @luotao1 method and set `KMP_DETERMINISTIC_REDUCTION=yes, MKL_CBWR=COMPATIBLE` to test again for `2014MKL` and `2019MKL`.

The result as follows:

|`layers.fc` |   2014MKL   |  2014MKL(set) |2019MKL | 2019MKL(set) |
|:-----------------:|:------------:|:------------:|:------:|:-----:|
| output        |   A     | B     |  C  | B |

After exportin

[2019-11-19 07:36] seiriosPlus commented on #21229
单机训练是否出inf/nan

[2019-11-19 07:42] maosengshulei commented on #21229
单机正常训练，mpi只用部分数据（30%）偶尔出现nan，全量必出现。

[2019-11-19 07:43] seiriosPlus commented on #21229
单机加上clip后还出nan么

[2019-11-19 07:48] yangzhifeng-code opened #21238 "c++预测时提示输出tensor不可以reshape"
fluid 1.6.0版本，用c++加载模型预测。
[code]

[2019-11-19 08:09] #21208 closed, assigned to nobody

[2019-11-19 08:11] #21167 closed, assigned to nobody

[2019-11-19 08:13] #21211 closed, assigned to nobody

[2019-11-19 08:18] yangzhifeng-code opened #21239 "cpu MPI集群，worker: grpc error, error_code:4 error_message:Deadline Exceeded，server: Tensor holds no memory."
fluid 1.6.0
embedding层设置了sparse为True，这个embedding层连接到两个网络，最后需要将这两个网络的输出elementwise地乘起来，这时报错。这两个输出的形状都是[batch_size,1]。
[code]
是不是设置sparse为True，这个tensor的类型就变成了VarType.SELECTED_ROWS。

[2019-11-19 08:24] wojtuss commented on #21123
@ceci3 , @qingqing01 , I mean for the model to be executed using MKL-DNN it is best to not specify the data format (or set it to `any` or `AnyLayout`). This way MKL-DNN can choose the best data format for the current hardware and environment configuration. The data format settings should not matter for training (done without MKL-DNN, I assume), so you can keep the trained weights and modify the mo

[2019-11-19 08:44] ysh329 commented on #21239
![image](https://user-images.githubusercontent.com/7320657/69130661-d972e780-0aeb-11ea-875a-0232df5226b6.png)
看样子是挂在上面这个位置了
Paddle/listen_and_serv_op.cc at develop · PaddlePaddle/Paddle
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/distributed_ops/listen_and_serv_op.cc#L77

[2019-11-19 08:46] zhhsplendid commented on #21220
线下私聊已解决，是重构loss这里的问题，这个api接口的第二个参数是label，默认是没有梯度输出的。但是你传入的是一个经过fc层输出的decode_x，没有反向梯度，导致后续梯度计算出core。

[2019-11-19 08:46] #21220 closed, assigned to nobody

[2019-11-19 08:48] ysh329 commented on #21238
what():  Can't reshape the output tensor, it is readonly at [/paddle/paddle/fluid/inference/api/details/zero_copy_tensor.cc:28]

[2019-11-19 08:49] ysh329 commented on #21238
cpu?gpu?集群？单机？训练？预测、

[2019-11-19 08:50] zhhsplendid commented on #20984
经私聊，转问paddlecloud

[2019-11-19 08:50] #20984 closed, assigned to nobody

[2019-11-19 08:50] yangzhifeng-code commented on #21239
@ysh329
cpu分布式训练，MPI集群，paddlecloud任务：job-0bb5dd39ddb5be22，第一个节点日志
http://10.182.98.139:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20191119154646-25171/

详细日志:
resource_list: nodes=20,walltime=48:00:00,resource=full

qsubf arguments confirmation:

-N xuzhang_scvr_yangzhifeng01_20191119_paddlecloud

-v PLATFORM=maybach

--conf /home/paddle/cloud/job/job-0bb5dd39ddb5be22/submit/qsu

[2019-11-19 08:52] yangzhifeng-code commented on #21238
本地训练后，写了一个c++测试一下，模型预测是否成功。cpu，单机。
[code]

[2019-11-19 08:55] yangzhifeng-code commented on #21238
模型在这个paddlecloud任务里，

详细日志:

resource_list: nodes=20,walltime=48:00:00,resource=full

qsubf arguments confirmation:

-N xuzhang_scvr_yangzhifeng01_20191119_paddlecloud

-v PLATFORM=maybach

--conf /home/paddle/cloud/job/job-0bb5dd39ddb5be22/submit/qsub_f.conf

--hdfs afs://tianqi.afs.baidu.com:9902

--ugi fcr-tianqi-d,absUPEwUB7nc

--hout /app/ecom/brand/yangzhifeng01/scvr/output/08b5e88a-7b60-5ee

[2019-11-19 09:14] maosengshulei commented on #21229
单机加clip之前也不出现nan，加上之后也正常，但也有可能是数据量少。

[2019-11-19 10:51] zhhsplendid commented on #21219
Hi @digantamisra98 @parap1uie-s , thank you very much for suggesting Mish activation and providing an implementation. We encourage you to contribute to PaddlePaddle and our group will think about adding Mish activation.

[2019-11-19 11:20] qingqing01 commented on #21123
@wojtuss Actually, we don't set the data-fromat in the model, the defalut `data_format="NCHW"` is from the PaddlePaddle API.  We can try 1 at first.

[2019-11-19 12:33] zhhsplendid commented on #21214
@dashulu ，这个同名应该是因为我们在1.5版本里，一些inplace显存优化是通过变量重命名做的。。如果是基于1.6版本改，由于策略不是重命名，应该不会有这个变量被设置相同名的问题。。。

[2019-11-19 13:49] dashulu commented on #21214
@zhhsplendid 所以这个是1.5的bug？只要同名就会出现问题？如果1.6的策略是变量不重命名，那这个transfer的机制有什么用？

[2019-11-19 14:41] Sand3r- commented on #21228
So far we've attempted optimisation on float_model of BERT using QATv1 mechanism, these are the profiling results:
FP32 QAT BERT
[code]
QATv1 INT8 model
[code]

According to the final benchmark result we have managed to achieve ~3.8x speedup, however since fp32 and int8 versions had a lot of outliers in its results (a typical result was ~100.712 ms, while some outliers where much larger, i.e. 705.

[2019-11-19 14:54] bingyanghuang commented on #21228
@Sand3r- Thanks for your results. To answer your questions:
1. The QAT INT8 model which has two inputs.
2. UT and input data has sent to you by slack
3. Accuracy can be calculated by comparing the results and label (sent to you by slack)
4. performance should be the average latency with `batch_size=1` and `max_seqlen=128`

[2019-11-19 16:08] zhangting2020 commented on #21214
@dashulu TransferInplaceVarsBack的场景是：输入和输出是同名的，也就是说op的输入输出是同一个Variable。我在前面的回复中有写过：如果对输入做了data transform，Op运行时的真正的输入就会在transfer_scope中，Op计算完，它的输出放在输入的Variable中，就需要将它transfer到原来的scope。

sum op在1.6版本中，输入和输出是不同名的，也就是说它们是不同的Variable，只是复用了更加底层的数据域。如果sum op的输入发生了data transform，但Op的输出放在原来的数据域，也就是放在了原始的scope中。sum op输入和输出变量不同名，计算完不会发生TransferInplaceVarsBack，因此就不会导致输出数据丢失。

关于是否是1.5版本的bug，我们需要进一步确认。同时也期望你能使

[2019-11-19 16:31] digantamisra98 commented on #21219
@parap1uie-s Would you like to collaborate on the PR? Kind of occupied now until 5th December. Let me know. Thanks!

[2019-11-20 01:56] dashulu commented on #21214
@zhangting2020 我之前也回复过，我看到的是输入输出是同名，但是它们不是同一个Variable，对输入做了data transform后，Op运行时的真正输入确实是在transfer_scope中，但是结果放在了输出的Variable（尽管与输入同名，但确实是不同的variable），这时候由于输入输出同名，触发了TransferInplaceVarsBack, 用输入的variable覆盖了实际的输出。

[2019-11-20 03:15] Angus07 opened #21249 "模型训练报错"
错误信息如下：
![image](https://user-images.githubusercontent.com/4252318/69205952-65395200-0b86-11ea-80da-c8c6c848a4cc.png)
我通过print打印了log，在
                scheduled_lr, loss_scaling = optimization(
                    loss=graph_vars["loss"],
                    warmup_steps=warmup_steps,
                    num_train_steps=max_train_steps,
                    learning_rate=args.learning_rate,

[2019-11-20 03:40] Angus07 opened #21251 "使用scatter_nd, scatter_nd_add报错"
我输入的tensor分别是index , update, ref ，
实际结构为：
index [3200, 1600, 2]
update[3200, 1600 ]
ref [3200, 18000]
打印结果如下
index name: "stack_2.tmp_0"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: INT32
      dims: -1
      dims: 1600
      dims: 2
    }
    lod_level: 0
  }
}

update name: "reshape2_51.tmp_0"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32

[2019-11-20 03:44] sserdoubleh opened #21252 "Paddle1.6.1 load_dygraph接口出core"
复现代码：
[code]

PaddlePaddle1.6.1 运行结果&报错：
[code]

Paddle1.6.0没有问题：
[code]

[2019-11-20 03:49] GitLD opened #21253 "如何同时读取两个模型权重做加权？"
- 版本、环境信息：
    1）PaddlePaddle 1.5.1
    2）GPU V100
    3）AI Studio线上环境
    4）python 3.7
    5）显存16G
- 复现信息：
    代码baseline(https://aistudio.baidu.com/aistudio/datasetdetail/15365)
    待读取两个模型(https://aistudio.baidu.com/aistudio/datasetdetail/15366)
    修改如下：
        attack_example/attack_code/attack_fsgm.py

报错信息：
![image](https://user-images.githubusercontent.com/30947306/69207639-7df83680-0b8b-1

[2019-11-20 06:50] DDDivano opened #21259 "one_hot api参数失效"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/one_hot_cn.html
 allow_out_of_range这个参数不生效

[2019-11-20 06:58] DDDivano commented on #21252
静态图save动态图不能load，因为文件格式不一样

[2019-11-20 07:05] DDDivano commented on #21252
1.6.0不报错的原因是1.6.0静态图save的文件格式和动态图save的是一样的，所以使用load_dygraph没有报错。但是这并不能代表能正常使用，因为动态图将load的权重set到图中的时候，由于静态图和动态图layer命名不同，也不能正常set成功，会报错。
现在暂不支持静态图save的权重文件直接用动态图load起来使用。

[2019-11-20 07:16] sserdoubleh commented on #21252
明白了，多谢回复

[2019-11-20 07:16] #21252 closed, assigned to nobody

[2019-11-20 07:21] Colorfu1 commented on #21187
研究之后发现，os.environ['CPU_NUM'] = '8'只影响exe配置的cpu个数，不影响data_loader配置的cpu个数，所以需要单独对data_loader进行配置。

[2019-11-20 07:27] Colorfu1 opened #21260 "请教一下fluid.layers.gather的用法"
我现在得到了一个(B, N, K)大小的索引index，想从(B, N, C)的数据D中取出索引指向的那一行的向量。
请问该怎么使用fluid.layers.gather这个函数进行提取？
在torch中直接D(index, :)就可以，在tensorflow中使用tf.gather(D, index)就可以。
B的维度一直都是-1。目前尝试过把index进行reshape，变成(B, ) , (B, N*K)和(B, 1, N*K)的大小，都没有办法进行索引，请问我要怎么做才能正确进行操作。
或者有其他的函数可以这么做吗？
谢谢

[2019-11-20 07:28] Angus07 opened #21261 "stack使用报错"
在运行阶段：
![image](https://user-images.githubusercontent.com/4252318/69217259-308ac200-0ba9-11ea-800d-ff3cc284d4ec.png)
注意到这一行，好像是这里错误，但是看输入的形状应该是正确的：
I1120 15:16:47.257516 65396 operator.cc:152] CUDAPlace(0) Op(stack), inputs:{X[reshape2_52.tmp_0:int[3200, 1600]({}), squeeze_0.tmp_0:int64_t[3200, 1600]({})]}, outputs:{Y[stack_2.tmp_0:[0]({})]}.

 相关代码：
new_src_ids = layers.stack([dec, src_ids], axis

[2019-11-20 07:28] thunder95 opened #21262 "Paddle TRT 运行stnet失败"
   1）PaddlePaddle版本：1.5
    2）CPU：i7
    3）GPU：RTX2070
    4）系统环境：ubuntu 16.04

使用官网提供的paddle trt的c++预测代码，能够顺利运行。[下载地址](https://paddle-inference-dist.cdn.bcebos.com/tensorrt_test/paddle_trt_samples_v1.5.tar.gz)

使用paddle c++预测自己训练的stnet模型，若不用trt也能顺利运行，但是一旦开启trt加速之后，就会报错。可能是输入的shape超过4维的原因，请问有什么解决办法？

报错内容：
I1120 14:09:05.386106 12849 tensorrt_subgraph_pass.cc:270] Prepare TRT engine (Optimize mode

[2019-11-20 08:02] zhangting2020 commented on #21214
@dashulu 理解你的意思，从log上看的确是发生了TransferInplaceVarsBack。能确认的是1.6版本不会有这个问题。另外看log是做了CPU->XPU的data transform，我这边只能构造CPU->GPU的data transform场景。所以你可以先用1.6版本试试吗

[2019-11-20 08:35] dashulu commented on #21214
1.6的版本改动起来工作量太大了，短期内比较难构造出来。GPU的话跑resnet50，把batchNorm的gpu实现注释了，应该就能复现问题。
另外，从之前的讨论中，1.6是保证了sum op的输入输出name不一样，其他op也有同样的保证吗？如果能保证输入输出的name不同，是不是inplace根本不会触发，那inplace的机制是否还有留着的必要？

[2019-11-20 09:04] maosengshulei commented on #21229
补充说明：
mpi训练 embedding层不加gradient_clip 报错：Operator adam output Tensor match&seccate#bayes_ctr_table_moment2_0 contains Inf at [/paddle/paddle/fluid/framework/operator.cc:846]

添加gradient_clip后 报错：Operator clip_by_norm output Tensor clip_by_norm_52.tmp_0 contains NAN at [/paddle/paddle/fluid/framework/operator.cc:848]

[2019-11-20 09:13] zhangting2020 commented on #21214
@dashulu sum这一类Op中，你看到的inplace与TransferInplaceVarsBack是没有关系的。会有一些Op输入输出是同名的，例如sgd。

另外我尝试用我上面贴出的代码测试了1.5版本的sum op，也没有发生TransferInplaceVarsBack。目前我这边得到的结论：应该不是Paddle源码实现的Bug。

[2019-11-20 09:43] zhaoyuchen2018 commented on #21261
从log看input的data type不一致，一个是int，一个是int64，有可能造成memory访问越界，建议使用同样的数据类型。

[2019-11-20 11:32] dashulu commented on #21214
@zhangting2020  resnet50打印出来的program， sum op中就有输入输出是一样的名字。
![image](https://user-images.githubusercontent.com/4484303/69235458-6c834e80-0bcc-11ea-99f5-cc86c10b4ae6.png)

[2019-11-20 11:36] OliverLPH opened #21266 "[CPU预测]chinese_ner预测性能下降"
- 标题：[CPU预测]chinese_ner预测性能下降40%
- 版本、环境信息：
    1）PaddlePaddle版本：eec9c9cbe7e8
    2）CPU：Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz，使用MKL，未使用MKLDNN
    3）GPU：无
    4）系统环境：Ubuntu1604
    5）docker镜像：hub.baidubce.com/paddlepaddle/paddle:latest-dev
-预测信息
    1）C++预测：eec9c9cbe7e8
    2）CMake包含路径的完整命令
    3）API信息（如调用请提供）
    4）预测库来源：自行编译

[code]
- 复现信息：如为报错，请给出复现环境、复现步骤

直接执行`python chinese_ner_ce.py`即可得到

[2019-11-20 11:51] luotao1 commented on #21266
@yihuaxu @bingyanghuang  https://github.com/PaddlePaddle/Paddle/commit/eec9c9cbe7e841a9b3fef301d8dc9518d6db2452 会导致chinese_ner性能下降，请帮忙看下

[2019-11-20 12:09] zhiqiu commented on #21253
"Cannot open file models_parameters/ResNeXt50_32x4d/res_conv1_weights for load op"
根据这条log，可能是没有对应的models文件？

[2019-11-20 12:13] GitLD commented on #21253
有模型文件的，两个模型单独导入均没有问题

[2019-11-20 12:57] MRXLT commented on #21251
相关bug已修复，代码等待合入

[2019-11-20 13:00] Aurelius84 commented on #21216
根据分享的任务，进行了一下排查：
+ 将优化器由`Adagrad `改为`sgd`，网络跑起来是正常的
+ clone任务后，改为`Adagrad`, 目前跑也是正常的

任务已经通过cloud平台分享给你。想确认下这期间是修改了代码？

我是用`pserver`模式单节点测试的。

从上述的报错信息来看，是`grpc_serde.cc`这里报错，`embedding`在多机下是貌似通过`grpc`进行通信的，梯度的sparse更新在多机下可能需要多机同学看下。

[2019-11-20 13:05] wanghaoshuang commented on #20795
emb.set_data(np.array, place)

应该将set_data改为set

[2019-11-20 13:08] wanghaoshuang commented on #20795
关于place的概念可以参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/CPUPlace_cn.html#cpuplace
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/CUDAPlace_cn.html#cudaplace

[2019-11-20 13:54] chenwhql opened #21269 "SGD Op更新fuse之后的parameter和单独更新parameter存在diff"
实验代码如下
- 对比的执行器：Executor和（ParallelExecutor + fuse_all_optimizer_ops = True）

[code]

build_strategy.fuse_all_optimizer_ops设为False，实验结果一致
build_strategy.fuse_all_optimizer_ops设为True，会出现类似下面的diff

[code]

### fuse_all_optimizer_ops设置与否的区别

**build_strategy.fuse_all_optimizer_ops设为True**

会将两个sgd将要计算的fc_0.b_0和fc_0.w_0连接到一块内存中，将这块内存整体作为SGD Op的输入和输出去计算，通过VLOG日志，可以看到这一过程：

[code]
这里连接起来的内存长度是9216，进行了一些内

[2019-11-20 15:10] chenwhql opened #21270 "SGD Op更新fuse之后的parameter和单独更新parameter存在diff"
实验代码如下
(Test code)
- 对比的执行器：Executor和（ParallelExecutor + fuse_all_optimizer_ops = True）
- (Compare test：Executor & (ParallelExecutor + fuse_all_optimizer_ops = True))
- 该实验的diff仅在CPU下出现，GPU环境是正常的
- (The diff of this experiment only appears under the CPU, the GPU environment is normal)

[fuse_test_diff.txt](https://github.com/PaddlePaddle/Paddle/files/3872405/fuse_test_diff.txt)

[code]

build_stra

[2019-11-20 17:16] MRXLT commented on #21260
import paddle.fluid as fluid
x = fluid.layers.data(name='x', shape=[-1, 5], dtype='float32')
index = fluid.layers.data(name='index', shape=[-1, 1], dtype='int32')
output = fluid.layers.gather(x, index)
你好，可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/gather_cn.html#gather

[2019-11-21 01:55] #21269 closed, assigned to nobody

[2019-11-21 02:31] Colorfu1 commented on #21260
这个示例我看过。在gather计算过程中会忽略掉-1的维度吗？gather中的index只支持一维的矩阵，怎么算是一维的矩阵呢？(-1, N)算一维还是(-1, )算是一维，还是只有(-1, 1)算是一维的？那么具体的(B, N, K)大小的index矩阵是要变成(-1, B*N*K)来进行索引呢，还是需要变成(B, N*K)的大小来进行索引呢？具体应该如何操作可以讲一下吗，这个例子太过于模糊了，不太看得懂······谢谢

[2019-11-21 02:38] lizhiqings opened #21273 "使用fluid1.5在paddlecloud上做增量训练 加载参数出错"
报错信息如下
![image](https://user-images.githubusercontent.com/47736115/69299138-c4f93100-0c4a-11ea-96dc-72e75aeb07d7.png)

我是参考的这个链接写的https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/training/save_load_variables.html

下面是我的 脚本
![image](https://user-images.githubusercontent.com/47736115/69299827-8795a300-0c4c-11ea-8474-f0ecc28f50df.png)

![image](https://user-images.githubuse

[2019-11-21 02:48] OliverLPH commented on #21238
看你的脚本里面`reshape`都是在input上进行的操作，但在output上并没有`reshape`这一步

<img width="649" alt="image" src="https://user-images.githubusercontent.com/14963836/69293741-c9225000-0c44-11ea-85bb-50b2c4af4ee8.png">

我用其他多输入的模型(yolov3, faster_rcnn)验证了下1.6.1的gpu，cpu都没遇到这个问题。
能麻烦你试下报错模型在1.6.1 gpu和cpu下是否仍存在该问题吗？

[2019-11-21 03:19] xueeinstein commented on #16133
Paddle 1.6版本，遇到了类似的问题，但我是训练几个batch后出现问题，非常奇怪。
![image](https://user-images.githubusercontent.com/3424201/69301243-8a929280-0c50-11ea-86d4-50e5472bdcef.png)

![屏幕快照 2019-11-21 上午11 17 16](https://user-images.githubusercontent.com/3424201/69301261-967e5480-0c50-11ea-8476-dc6c0cc63017.png)

[2019-11-21 03:24] MRXLT commented on #21259
你好，可以描述一下遇到的问题吗，具体是什么现象，希望能提供使用的paddle版本、环境、代码等信息

[2019-11-21 03:26] yangzhifeng-code commented on #21238
解决了，上面你指出的第二个reshape最后一维应该是1才行。然后其他有问题的地方，代码里边用了fluid.layer.embedding层，没有用更新的fluid.embedding层。还有需要用cmake编译，直接用gcc编译出来有问题。

[2019-11-21 03:26] #21238 closed, assigned to NHZlX

[2019-11-21 03:29] yangzhifeng-code commented on #21239
后来我在本地使用paddle.distributed.launch_ps --worker_num 2 --server_num 2模拟分布式环境，报错信息是，用了https://www.paddlepaddle.org.cn/install/doc/tables 的latest Python包。
worker端
[code]
server端
[code]
我看其他issue里边，grpc error, error_code:4 error_message:Deadline Exceeded这个问题挺多的，还没有一个比较好的解决方案。

[2019-11-21 03:44] yangzhifeng-code commented on #21239
如果不用fleet分布式，代码在本地是正常运行的，网络结构输入输出应该都没有什么问题。

[code]

[2019-11-21 03:47] luotao1 commented on #21053
@bingyanghuang @yihuaxu 能不能帮忙看下？是否和LayerNorm的优化有关系

[2019-11-21 04:00] DDDivano opened #21275 "program clone问题"
clone函数中的 fortest参数设置为True后，打印出来的program和 main_program相同，那我如何知道它是否正确的裁剪了一些反向op?
![image](https://user-images.githubusercontent.com/10734244/69303022-6e91ef80-0c56-11ea-88fb-63c56b921c54.png)

[2019-11-21 04:12] luotao1 commented on #21270
1. 是否和 #21045 单测挂在精度上是同样的问题？

这个是否和fc padding有关系呢？

是否和jit kernel有关系，之前也出现`fused_embedding_seq_pool_op`用jit写有精度问题，换成调用MKL就没有精度问题了。

@bingyanghuang 能不能帮忙看下

[2019-11-21 04:48] MRXLT commented on #21249
你好，可以贴一下所使用的paddle版本和相关代码吗，有没有其他的错误信息呢

[2019-11-21 04:52] yihuaxu commented on #21053
从log上来看，可能是由于LayerNormKernel::Compute()会调用Tensor::numel()函数出的错。

[code]

`int64_t Tensor::numel() const { return product(dims_); }`

    PADDLE_ENFORCE_EQ(mean->numel(), left);
    PADDLE_ENFORCE_EQ(var->numel(), left);
    PADDLE_ENFORCE_EQ(scale->numel(), right);
    PADDLE_ENFORCE_EQ(bias->numel(), right);

Debug后发现当scale或是bias为空时会出现问题

[code]

[2019-11-21 04:55] DDDivano commented on #21259
![image](https://user-images.githubusercontent.com/10734244/69305219-1959dc00-0c5e-11ea-8abb-fdc9032fc761.png)
这个实例2会报错，后端可能没有传递过去那个allow_out_of_range参数

[2019-11-21 05:14] ellinyang opened #21277 "NCCL WARN Error : mixing different streams within a group call is not supported"
分布式训练yolov3模型时报错
- 版本、环境信息：
    1）PaddlePaddle版本：Fluid1.5.1
    2）GPU：p4, cuda9.0, cudnn7
    4）系统环境：python2.7   dockr :paddlepaddle/paddle:1.5.1-gpu-cuda9.0-cudnn7
- 训练信息
    1）单机多卡
    2）batch_size =6; input_size=608
- 复现信息：单机训练正常，开启分布式时错误报错
- 问题描述：
[code]

[2019-11-21 05:23] DDDivano commented on #21259
train_program = fluid.Program()
    startup_program = fluid.Program()
    with fluid.unique_name.guard():
        with fluid.program_guard(train_program, startup_program):
            label = fluid.layers.data(name="label", shape=[4], append_batch_size=False, dtype="int64")
            one_hot_label = fluid.one_hot(input=label, depth=4, allow_out_of_range=True)
            exe = fluid.Executor(flu

[2019-11-21 05:23] DDDivano commented on #21259
[code]

[2019-11-21 05:25] MRXLT commented on #21253
![image](https://user-images.githubusercontent.com/16594411/69306286-e6b1e280-0c61-11ea-9faf-d0da77f40511.png)
从代码来看，两个模型的参数都被读到同一个program中去了，会导致第一个模型的参数被覆盖。
还有，可以说明一下两个模型做加权具体是指的什么样的操作吗

[2019-11-21 06:18] DDDivano commented on #21275
[code]

[2019-11-21 06:22] gongweibao commented on #21277
你是怎么由单机转成分布式的？贴一下代码段。

[2019-11-21 06:51] MRXLT commented on #21259
请问paddle版本是多少呢

[2019-11-21 06:52] gongweibao commented on #21277
你可以试试fleet : https://github.com/paddlePaddle/fleet
可以用单机多进程调试，单机多进程也是(算)分布式。

[2019-11-21 07:00] NHZlX commented on #21262
你好，目前paddle-trt不支持5个channel的输入。请问你的模型的结构__model__ 给个下载链接么，我看一下模型的结构。

[2019-11-21 07:09] DDDivano commented on #21259
1.6.1

[2019-11-21 07:11] jeromeJT opened #21282 "visualDL官方教程例子跑不起来"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）CPU
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.15.1
    4）Python版本号: 2.7.15
- 复现信息：
安装完毕visualDL尝试跑例子：
https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/howto/evaluation_and_debugging/debug/visualdl_usage.html#7
直接就报错了：
visualdl --logdir ./log --host 0.0.0.0 --port 8080 --model_pb paddle_lenet_5_model

[ERROR 2019-11-21 14:57:30,267 app.py:1761] Ex

[2019-11-21 07:32] gavin1332 commented on #21259
确认后端支持`allow_out_of_range`功能，但前端没有将该参数传进去，已提PR修复
https://github.com/PaddlePaddle/Paddle/pull/21287

[2019-11-21 07:45] ellinyang commented on #21277
分布式代码应该是对的，之前分布式训练mobilenetssd正常；
有哪些参数设定会出现这个问题：NCCL WARN Error : mixing different streams within a group call is not supported.
 我可以自查一下。

[2019-11-21 07:47] ellinyang commented on #21277
paddle1.5.1 改用fleet还有某些不兼容，还是希望原生ncll能调通。

[2019-11-21 07:49] gongweibao commented on #21277
[code]
之前没有遇到过这个问题。在NCCL的源代码中好像是nccl的stream改变了。这个应该是不正常的的。

[2019-11-21 07:49] gongweibao commented on #21277
[code]
1.6已经发布，可以用一下1.6试试。

[2019-11-21 07:53] ellinyang commented on #21277
我们开发版上目前只支持1.5.1；能留个hi联系吗？

[2019-11-21 08:17] MRXLT commented on #21260
(-1,1)代表一维
如果是对单个维度的B * N * K个index进行索引，index矩阵要变成(B * N * K,1)的shape
如果是想要对多个维度进行索引，可以使用gather_nd
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/gather_nd_cn.html#gather-nd

[2019-11-21 08:34] Colorfu1 commented on #21260
了解了，谢谢~

[2019-11-21 08:46] gongweibao commented on #21277
gongweibao

[2019-11-21 08:53] guru4elephant commented on #21239
exe.run(fluid.default_startup_program()) -> exe.run(fleet.startup_program)

[2019-11-21 09:18] yangzhifeng-code commented on #21239
@guru4elephant
更改为 exe.run(fleet.startup_program)，错误没变但是日志变了，还是本地模拟分布式。我打开了GLOG_vmodule=operator=4 , GLOG_logtostderr=1。
当我使用exe.run(fluid.default_startup_program())时，在server端日志好像很多变量初始化就有问题，我grep了elementwise_mul，变量shape不对：
`I1120 21:23:39.505406  9450 operator.cc:152] CPUPlace Op(elementwise_mul), inputs:{X[fc_1.w_0@GRAD:float[128, 64]({})], Y[elementwise_div_0:[0]({})]}, outputs:{Out[elementwise

[2019-11-21 09:36] Colorfu1 opened #21291 "optimizer.minimize()的时候出错"
在计算knn的时候，算出loss，optimizer反向传播的时候报错。
dgcnn模型需要在模型计算过程中动态计算每条数据的knn数据都是哪些，所以需要使用fluid.layers中的操作来计算knn。错误定位在高亮的那一行
![2](https://user-images.githubusercontent.com/30551427/69393810-2ab1ef80-0d15-11ea-91e7-2285527770e8.PNG)
具体的报错信息为：
![112](https://user-images.githubusercontent.com/30551427/69325480-305ff480-0c85-11ea-8519-5fd9b7db8ada.PNG)
![113](https://user-images.githubusercontent.com/30551427/69

[2019-11-21 09:40] yangzhifeng-code commented on #21239
我的输入是两个，一个是稀疏输入通过embedding层，另一个是稠密输入通过fc层，在以上用exe.run(fluid.default_startup_program())和exe.run(fleet.startup_program)时，server端日志都出现了embedding层和fc层的梯度的维度错误，如下，
[code]

[2019-11-21 10:28] jianjianGJ opened #21293 "为什么自建的parameter和目标函数不优化？要加什么操作吗"
import paddle.fluid as fluid
import paddle.fluid.layers as layers
place = fluid.CPUPlace()
exe = fluid.Executor(place)
W = layers.create_parameter(shape=[1], dtype='float32')
y = 2*W;
adam = fluid.optimizer.Adam(learning_rate=0.1)
adam.minimize(y,parameter_list=[W])
exe.run(fluid.default_startup_program())
for i in range(3):
    result,w = exe.run(fluid.default_main_program(),

[2019-11-21 10:33] #21293 closed, assigned to nobody

[2019-11-21 10:44] jianjianGJ opened #21295 "自己创建的parameter和函数为什么不优化？需要加什么操作吗？？比如这个例子"
[code]
输出：
[code]

[2019-11-21 11:20] jczaja opened #21297 "[MKL-DNN] Demo_CI should not link to mkl-dnn directly"
Demo CI as any other project build on top of Paddle should link to PaddlePaddle only and not link directly to mkl-dnn (unless mkl-dnn is used directly in demo ci or other customer project).

[2019-11-21 12:09] jczaja commented on #21173
@ddokupil Please have someone from validation look at this one e.g. on testing and integrating this test for purpose muli-threading based training of paddle models.

[2019-11-21 13:46] jczaja commented on #20964
Some update:

1) Still trying to pass CI with PR implementing error meesages for NHWC request to MKL-DNN ops
2) Currently implementing conv FWD mkl-dnn NHWC support. Once conv FWD NHWC works, I will update #21192 to have pool, LRN and conv FWD all together.

[2019-11-21 14:08] ddokupil commented on #21173
I can see it requires models repo to accompany traning the way you stated it. Actually we're removing models repo from execution process to simplify it. Is there a chance to run trainings using unit tests like we run inference?

[2019-11-21 19:15] dongfangyixi commented on #21295
use W.name instead of W when passing parameter list may help:
[code]

[2019-11-22 01:59] thunder95 commented on #21262
HI, 感谢回复！ 您可以参考下官方stnet模型和预训练参数的[下载](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleVideo/models/stnet/README.md)。

我也上传了一份在我的github里，请[下载](https://github.com/thunder95/paddle_tmp)。

[2019-11-22 02:12] gavin1332 commented on #21259
pr已合入，会在1.6.2版发布。若着急使用可以先仿造pr直接修改python脚本

[2019-11-22 02:43] #21260 closed, assigned to nobody

[2019-11-22 02:56] Renwb1991 opened #21303 "[问题请教] 关于安装和模型的一些问题请教"
请教两个问题：
1. 如何 paddle.so 判断其需要的cadu和cadnn版本？
2. 定义了一个网络，在加载预训练模型的时候如何知道最后一层fc的名称？

[2019-11-22 03:29] newdimitri opened #21308 "【黄埔学院学员遇到的问题】运行ernie样例代码报错"
今天我在做上次课程的课后练习的时候，遇到一个错误：
按照教程https://aistudio.baidu.com/aistudio/projectDetail/147006 的步骤，我在Notebook中加入了1-7步的代码，代码如下：

#=====================================================================================================================
#详细说明参考https://aistudio.baidu.com/aistudio/projectDetail/147006
# -*- coding: utf8 -*-
!pip install paddlehub==1.2.1
#!pip install --upgrade paddlehub
import pad

[2019-11-22 04:53] #21053 closed, assigned to nobody

[2019-11-22 04:54] Angus07 opened #21313 "layers.lod_reset报错"
topk_indices = layers.lod_reset(topk_indices, pre_ids)
其中输入的topk_indices, pre_ids都是int64类型，报错信息如下：

![image](https://user-images.githubusercontent.com/4252318/69399066-acab1400-0d27-11ea-9704-6622af26f0d5.png)

[2019-11-22 05:26] bjjwwang commented on #20638
@zhhsplendid  看看能否跟进下

[2019-11-22 06:40] newdimitri opened #21316 "【黄埔学院学员遇到问题】PaddleHub运行报错"
今天跑PaddleHub的Finetune例子（https://github.com/PaddlePaddle/PaddleHub/blob/release/v1.2/tutorial/autofinetune.md）的时候，遇到另一个问题。

运行autofinetune的时候报警：
PaddleHub Autofinetune starts round at 0.
WARNING: Program which was ran with hyperparameters as learning_rate=0.0007392373713034229 batch_size=16 was crashed!

查看log里面有错误信息
----------------------
Error Message Summary:
----------------------
PaddleCheckEr

[2019-11-22 06:57] Aurelius84 commented on #21232
@yinghu5 上述我在设置`KMP_DETERMINISTIC_REDUCTION=yes, MKL_CBWR=COMPATIBLE`下，对比了`layers.fc`对`blas.MatMul`的输出结果，是`完全一致`的，即：

|`blas.MatMul` |   2014MKL   |  2014MKL(set) |2019MKL | 2019MKL(set) |
|:-----------------:|:------------:|:------------:|:------:|:-----:|
| output        |   A     | B     |  C  | B |

在我的`model`中，除了`blas.MatMul`，还多次用到了`blas.GEMM`。在排查时发现，均设置环境`KMP_DETERMINISTIC_REDUCTION=yes, MKL

[2019-11-22 07:12] GitLD commented on #21253
字面意思降两个模型的输出加权也就是code里的out_logits = 0.5*(out_logits1+out_logits2)操作

[2019-11-22 07:58] AWSWXY opened #21320 "预测时想要输出 记录字段"
想要在预测时输出 输入的内容，请假下使用方式

[2019-11-22 07:59] AWSWXY commented on #21320
请教下使用方式

[2019-11-22 08:00] bjjwwang commented on #21320
@Superjomn 求帮忙看下 谢谢

[2019-11-22 08:17] WorldEditors commented on #20169
This seems more like a temporary solution, and the bug is left unsolved. "subprocess" is less commonly used compared with "multiprocess". Also "subprocess" has great difficulty in communication between processes.  We are looking forward to fixing this bug.

[2019-11-22 08:24] mapingshuo commented on #21320
Python端方法1: 添加fetch_list试试@AWSWXY
[code]

[2019-11-22 09:45] luotao1 commented on #21232
@Aurelius84 @yinghu5 建议能否尝试`MKL_CBWR=AVX`或者`AVX2`，看看能不能性能提上去，并且结果在可以接受的范围之内

[2019-11-22 10:44] maosengshulei commented on #21229
补充：mpi单节点训练正常，多节点训练必现以上报错。

[2019-11-22 11:34] mapingshuo commented on #21275
@DDDivano 你好，你的网络好像没有定义反向op，所以没裁剪反向op

[2019-11-22 12:35] jczaja commented on #20964
One thing that popped up when implementing conv MKL-DNN op NHWC support: *data_format* attribute was present in conv_mkldnn for a long time and its meaning is different to what is expected from this task (introducing NHWC support) which is to enforce which MKL-DNN implementation is to be chosen. So if *data_format* is "NHWC" then MKL-DNN instead of using its efficient NCHW16C implementation will c

[2019-11-22 13:13] sneaxiy commented on #20169
We are dedicated to solve this issue. Please have a wait.

[2019-11-22 13:44] dipthomas opened #21327 "利用K40四卡（device id = 3）进行预测时，出现cudaSetDevice failed in paddle::platform::SetDeviceId: initialization error的问题，代码在windows上正常运行"
- 标题：在利用deeplabv3p模型进行图像分割时，报cudaSetDevice failed in paddle::platform::SetDeviceId: initialization error at [/paddle/paddle/fluid/platform/gpu_info.cc:210]
- 版本、环境信息：
    1）PaddlePaddle版本：release/1.5
    2）GPU：K40 四卡、CUDA8.0、CUDNN-7.1.3
    3）系统环境：python-2.7.11
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

[code]

预测代码：
[code]

[2019-11-22 17:53] jczaja commented on #20964
@luotao1 , @zhangting2020 I have encounter a problem and would like you to advice me on possible solution:

When MKL-DNN op is followed by non MKL-DNN op then based on stored information of *data_format* we do conversion from MKL-DNN to NCHW or NHWC . This happens  in DataTransform & Fetch Op.
Problem is in unit tests of grad op where to compute numeric grad number of FWD ops on perturbed input is

[2019-11-23 02:38] GT-ZhangAcer commented on #21327
可以检查一下这个设备的CUDA、CUDNN安装情况，以及显卡当前状态(是否休眠)，上方错误非代码原因引起，而是设备调用失败。
此外，建议您使用高版本的CUDNN(7.3+)，也可以使用更高版本的CUDA进行尝试。

[2019-11-23 03:20] GT-ZhangAcer commented on #21295
可以试试通过喂数据的方法，传递一个确切的数据喂给该网络

[2019-11-23 03:23] GT-ZhangAcer commented on #21150
插眼，看看有没有其它回答

[2019-11-23 03:27] jianjianGJ commented on #21295
我用了`paddle.fluid.backward.append_backward(loss, parameter_list=None, no_grad_set=None, callbacks=None)`这个API后可以了

[2019-11-23 03:27] #21295 closed, assigned to nobody

[2019-11-23 10:23] cs-y opened #21328 "[operator < lookup_table_v2 > error]"
   1）PaddlePaddle版本：1.6
    2）CPU/GPU：cpu
    3）系统环境：ubuntu18.04
    4）Python版本号:3.7.4
python代码：

import math
import sys
import numpy as np
import paddle
import paddle.fluid as fluid
import paddle.fluid.layers as layers
import paddle.fluid.nets as nets

IS_SPARSE = True
BATCH_SIZE = 256
PASS_NUM = 20

def get_usr_combined_features():
    """network definition for user part"""
    USR_DICT_SIZE = p