[2019-11-23 10:24] cs-y commented on #21328
我想同时执行
test()
inference_program()
应该怎么做

[2019-11-23 12:11] hong19860320 commented on #21328
从你的代码看是想在test()和inference_program()创建两个网络对吧？但代码里两个网络都默认创建在fluid.default_main_program()这个program里面，这就有问题了，所以解决办法就是在test()函数里面新创建一个program，然后进行组网和运行，可以改成这样：
def test():
    main_program = fluid.Program()
    startup_program = fluid.Program()
    with fluid.program_guard(main_program=main_program, startup_program=startup_program):
        a = np.array([[1,2,3],[4,5,6],[7,8,9]], dtype="float32")

[2019-11-23 17:20] runningwa opened #21329 "PaddleCheckError: Expected t->IsInitialized() == true, but received t->IsInitialized():0 != true:1. The Tensor in the mul Op's Input Variable X(image) is not initialized. at [/paddle/paddle/fluid/framework/operator.cc:1166"
-PaddlePaddle 1.6.1
-CPU: i-8700k
-GPU: 1070
-OS ubuntu 16.04

运行下面打代码:
# 在百度云中都可以运行，本地无法运行
import paddle.fluid as fluid

# 定义两个张量
x1 = fluid.layers.fill_constant(shape=[2, 2], value=1, dtype='int64')
x2 = fluid.layers.fill_constant(shape=[2, 2], value=1, dtype='int64')

# 将两个张量求和
y1 = fluid.layers.sum(x=[x1, x2])

# 创建一个使用CPU的解释器
place = fluid.CPUPlace()
exe = fluid.executor.Executor(place)
# 进行参

[2019-11-23 20:48] residentx10 opened #21330 "Change https://www.paddlepaddle.org to https://www.paddlepaddle.org.cn/"
Change https:// www.paddlepaddle.org to https://www.paddlepaddle.org.cn/

Stop with the redirect please....just tell people were the repo really is. Practice truthfulness...

[2019-11-24 00:09] GT-ZhangAcer commented on #21328
上方错误与这个比较类似，可以参考这篇文章https://www.jianshu.com/p/bb823f5a935a

[2019-11-24 00:15] GT-ZhangAcer commented on #21329
请尝试将 `exe= fluid.executor.Executor(place)` 改为 `exe= fluid.Executor(place)` 试试

[2019-11-24 06:43] wangchaochaohu commented on #21330
You can visit https://www.paddlepaddle.org.cn/ for more information about PaddlePaddle. Thanks

[2019-11-24 07:10] wangchaochaohu commented on #21316
可能是版本不兼容的原因 尝试下之前的版本看看是否可以？

[2019-11-24 07:11] wangchaochaohu commented on #21308
看报错信息是slice 这个OP缺少输入 可以检查下输入是否正确

[2019-11-24 11:29] dipthomas commented on #21327
@GT-ZhangAcer 目前我的使用方式是在一个python Process里边创建分割模型，如：
`segment_process = multiprocessing.Process(target=segment, args=(batched_data_queue, segment_data_queue, status_queue, ))`
正常的调用流程都没有问题，是不是paddle本身的机制决定其不支持Process.

[2019-11-25 00:59] bjjwwang commented on #21313
目前看起来不能支持lod_reset op 在C++端不能支持int64，会反馈下

[2019-11-25 01:00] bjjwwang commented on #21303
@sandyhouse  有时间看下第一题 谢谢
可以打印ProgramDesc
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/design_idea/fluid_design_idea.html#blockdesc-and-programdesc
参考这里

[2019-11-25 01:01] bjjwwang commented on #21291
@chenwhql 求解答 谢谢

[2019-11-25 02:02] sandyhouse commented on #21303
可以通过ldd查看依赖的版本。

[2019-11-25 02:43] chenwhql commented on #21291
1. 前面的报错解释
- 报错是说reshape的反向Op的输入梯度为空，反向计算过程中，梯度根据链式法则逐级往回更新，这里应该是某处的配置导致reshape_grad这个反向op的输入没有被计算出来
2. stop_gradient
- 将k_index设置为stop_gradient的话，这个变量的梯度就不再计算了，下面的reshape的反向op reshape_grad就不再执行了，所以也不会出错，计算图中位于它前面的那些运算的梯度也不再计算，就是梯度传递到这里，在这个图分支上，不会再往回传播了
- 这里k_index的梯度应该本来就是没必要计算的，适当的设置变量的stop_gradient属性，可以剪枝不必要的梯度计算逻辑

[2019-11-25 02:44] zhhsplendid commented on #20638
在内部线下沟通过，现也将我们的进展复制到github上

math_op_patch.py 中 var 的 current block 返回是错误的，应该改为

https://github.com/PaddlePaddle/Paddle/pull/21189

如果不改，会导致控制流内使用 + - * / 运算符号的问题。

但是改了，理论上是正确的。却不知何原因，模型ce精度会挂，相关ce链接在

相关ce 链接 http://ce.paddlepaddle.org:8080/viewLog.html?buildId=67704&tab=buildResultsDiv&buildTypeId=PaddleModesl_ModelDebug_Model11Build

需要修复该block bug，并且找出模型为什么精度不对，进行修复。两个错误都修复好后，同时merge进paddle，保

[2019-11-25 03:18] NHZlX commented on #21273
看起来是使用问题。请check一下自己的模型。

[2019-11-25 03:19] ceci3 opened #21333 "conv_transpose 相同的输入得到的输出不同"
conv_transpose gpu版本filter_size>3的条件下固定输入和参数，多次运行得到的结果不同。（在Kernel里调试发现： 在cudnnConvolutionBackwardData之前打印的input和filter相同，经过cudnnConvolutionBackwardData计算之后的output不同）
paddle环境:1.5.2和1.6.1都会出现。

测试代码：
`import paddle.fluid as fluid

def test(place, data):
    input = fluid.layers.data(dtype='float32', shape=[None, 128, 8, 8], name='data')
    param_attr = fluid.ParamAttr(name='tc_w', initializer=flui

[2019-11-25 03:22] ceci3 opened #21334 "conv_transpose 相同输入和相同参数得到的输出不同"
conv_transpose gpu版本filter_size>3的条件下固定输入和参数，多次运行得到的结果不同。（在Kernel里调试发现： 在cudnnConvolutionBackwardData之前打印的input和filter相同，经过cudnnConvolutionBackwardData计算之后的output不同）
paddle环境:1.5.2和1.6.1都会出现。
cuda：9.0
cudnn：7.5

测试代码：
[code]

结果对比：
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/29245900/69509783-3996dd00-0f75-11ea-82f1-5d349e108fb2.png">

[2019-11-25 03:22] #21333 closed, assigned to nobody

[2019-11-25 03:27] #20784 closed, assigned to sneaxiy

[2019-11-25 03:28] #20299 closed, assigned to Superjomn, mapingshuo

[2019-11-25 03:30] cs-y commented on #21328
感谢，这个问题已解决。

BTW，其实我想拿到usr_combined_features的特征向量数据，也就是说把variable转为list：

import math
import sys
import numpy as np
import paddle
import paddle.fluid as fluid
import paddle.fluid.layers as layers
import paddle.fluid.nets as nets

IS_SPARSE = True
BATCH_SIZE = 256
PASS_NUM = 20

def get_usr_combined_features():
    """network definition for user part"""
    USR_DICT_SIZE = paddle.dataset.movielens.

[2019-11-25 03:31] cs-y commented on #21328
感谢，这个问题已解决。

BTW，其实我想拿到usr_combined_features的特征向量数据，也就是说把variable转为list：

import math
import sys
import numpy as np
import paddle
import paddle.fluid as fluid
import paddle.fluid.layers as layers
import paddle.fluid.nets as nets

IS_SPARSE = True
BATCH_SIZE = 256
PASS_NUM = 20

def get_usr_combined_features():
    """network definition for user part"""
    USR_DICT_SIZE = paddle.dataset.movielens.

[2019-11-25 03:43] NHZlX commented on #21334
cuda10.1 cudnnv7.5也有此问题

[2019-11-25 03:49] luotao1 commented on #20964
@jianhang-liu Could you help see this problem?

[2019-11-25 04:21] zhangting2020 commented on #20964
@jczaja I think I am a bit confused. After the calculation is completed, the result needs to be converted from MKL-DNN format to NCHW. Does this mean that the input is in NCHW format?  For the existing NCHW format support, the numerical grad computation for mkl-dnn Unit tests should be correct.

[2019-11-25 04:36] DDDivano opened #21338 "ErrorClipByValue该如何使用？"
[code]
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/clip_cn/ErrorClipByValue_cn.html
根据官网上的解释，是不是X的值中的元素应该是在0.1 ~ 0.5 之间？ 但是输出结果并不是这样。

[2019-11-25 05:05] sneaxiy commented on #20169
@xueeinstein It seems that it is a bug of CUDA. PyTorch has also the same issue (see https://pytorch.org/docs/stable/notes/multiprocessing.html#cuda-in-multiprocessing). Run the following codes using PyTorch 1.1 in CUDA 9.0:
[code]

No matter `import multiprocess` is before `import torch` or not, the error still raises:
[code]

We also check that whether it is the problem of CUDA or deep learning

[2019-11-25 05:34] xueeinstein commented on #20169
@sneaxiy Thank you for your feedback! As you cited, https://pytorch.org/docs/stable/notes/multiprocessing.html#cuda-in-multiprocessing, you should test Pytorch with python3, **not python2.7**.  All my testcases use python 3.6.

Moreover, I wonder if there is a typo `multiprocessing` instead of `multiprocess`. Because `multiprocess` is another third-part [implementation](https://github.com/uqfounda

[2019-11-25 06:41] littlepan0413 opened #21343 "启动模型遇到paddle.fluid.core_avx.EnforceNotMet: Invoke operator fill_constant error."
启动模型报错
paddle.fluid.core_avx.EnforceNotMet: Invoke operator fill_constant error.
查看之前类似的问题并尝试调整bach_size并没有解决，也无其他程序占用gpu

cuda版本 10
paddle版本1.5+
gpu 信息
![image](https://user-images.githubusercontent.com/6512760/69517999-5fca7600-0f91-11ea-820d-e8efbfc91b13.png)

报错信息
![image](https://user-images.githubusercontent.com/6512760/69518047-8be5f700-0f91-11ea-8474-d997f4e4e2ed.png)
![image](https://user

[2019-11-25 07:27] wangchaochaohu commented on #21343
能贴下具体的代码吗？

[2019-11-25 07:39] littlepan0413 commented on #21343
这是执行start的时候出错，我贴哪部分代码？

[2019-11-25 08:04] imistyrain opened #21348 "Building error on Mac: inference_lib_dist source numbers are not equal to destination numbers"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:无

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：building error on Mac: inference_lib_dist source numbers are not equal to destination numbers
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号1.6
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：No
    4）系统环境：Mac OS 10.14、Python2.7
- 安装方式信息：
本地编译：请提供cmake命令，编译命令

- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的

[2019-11-25 08:07] cs-y commented on #21328
我通过修改https://github.com/PaddlePaddle/book/blob/develop/05.recommender_system/train.py，将该代码中的model输出添加了两个参数，usr_combined_features 和 mov_combined_features ，最后模型运用是用Executor得到了用户特征向量和电影特征向量。

[2019-11-25 08:16] hong19860320 commented on #21328
也是同样的问题哈，注释掉mov_combined_features = get_mov_combined_features()这段代码，然后设置好feed tensor就行了。
[issue_21328_2.py.zip](https://github.com/PaddlePaddle/Paddle/files/3885427/issue_21328_2.py.zip)

[2019-11-25 08:20] hong19860320 commented on #21328
嗯嗯，原来如此，我还以为你的usr_combined_features 和 mov_combined_features是两个网络呢。你参照那个链接做没问题的哦。

[2019-11-25 09:10] Steffy-zxf commented on #21308
@newdimitri 感谢反馈！你的paddle版本是多少呢？另外关于PaddleHub的问题，欢迎在PaddleHub repo下提问，https://github.com/paddlepaddle/paddlehub/issues

[2019-11-25 09:19] Steffy-zxf commented on #21316
@newdimitri 感谢反馈！想问下，你运行PaddleHub AutoDL Finetuner是在ai studio 上运行 还是 自己的机器上呢？
https://aistudio.baidu.com/bdvgpu/user/109785/186345/notebooks/186345.ipynb?redirects=1
你的项目是私密状态，我访问不了，方便公开吗？我试试复现错误。
另外关于PaddleHub的问题，欢迎在PaddleHub repo下提问，https://github.com/paddlepaddle/paddlehub/issues

[2019-11-25 09:37] jczaja commented on #20964
@zhangting2020 Ok, I try to clarify. Setting *data_format=NHWC* to op that is having MKL-DNN kernel does not mean (according my current implementation) that MKL-DNN kernel will operate (compute) using tensor's data stored in NHWC. Reason is that performance of this solution would be slow as computation on MKL-DNN blocked format (NCHW16C, NCHW8C) are much faster. So Part of implemention :
- After M

[2019-11-25 09:59] #21328 closed, assigned to hong19860320

[2019-11-25 10:08] cs-y opened #21351 "个性化推荐-测试数据生成"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）CPU：cpu
    3）系统环境：ubuntu18.04

-预测信息
https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basics/recommender_system/index.html#id18

在运行个性化推荐教程时，对测试数据生成部分不理解：
category_id = fluid.create_lod_tensor(np.array([10, 8, 9], dtype='int64'), [[3]], place) # Animation, Children's, Musical
movie_title = fluid.create_lod_tensor(np.array([1069, 4140,

[2019-11-25 11:19] zhangting2020 commented on #20964
@jczaja Thank you for your explanation. Please try the `user_defined_grads` to get the correct numerical grad computation, which can refer to
https://github.com/PaddlePaddle/Paddle/blob/08c19c585d8ad366a56af9ea97669ed6f164cc3d/python/paddle/fluid/tests/unittests/test_cvm_op.py#L82-L88

You can write the `user_defined_grads` method based on the existing `get_numeric_gradient`, in which the op is ru

[2019-11-25 11:58] guoshengCS commented on #15975
链接失效，更新如下：
一方面需要在定义网络结构前设置下网络所用program的random_seed用于固定初始化中的随机性，可以参考这里  https://github.com/PaddlePaddle/models/blob/release/1.6/PaddleNLP/PaddleMT/transformer/train.py#L167 ；
另一方面网络中如用到存在随机性的OP，如dropout、sampling_id，可以再设置下相应的seed。

[2019-11-25 12:06] sangoly commented on #21348
麻烦提供一个报错截图

[2019-11-25 12:06] ysh329 commented on #21338
@DDDivano

ErrorClipByValue-API文档-PaddlePaddle深度学习平台
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/clip_cn/ErrorClipByValue_cn.html#errorclipbyvalue

发下完整代码吧，我们复现下

[2019-11-25 12:13] zhwesky2010 commented on #21348
请问PADDLE_ROOT设置了初值吗？初值是多少？比如设置 PADDLE_ROOT=$pwd/fluid_inference_install_dir

[2019-11-25 12:30] imistyrain commented on #21348
<img width="1011" alt="image" src="https://user-images.githubusercontent.com/3972356/69540739-5dccdb00-0fc2-11ea-8718-3831ee3748ae.png">

[2019-11-25 12:31] imistyrain commented on #21348
文档上没说让设PADDLE_ROOT这东西呀

[2019-11-25 12:39] hutuxian commented on #21351
感谢使用PaddlePaddle。
```比如为什么把Animation, Children's, Musical表述为array[10, 8, 9]的呢？```
这是将类别信息通过离散的类别id进行表示的一种方法。
```然后'hunchback','of','notre','dame','the'又表示为np.array([1069, 4140, 2923, 710, 988]？```
这是将标题使用其中每个单词在词表中的id进行离散化表示的方法。均为自然语言处理领域的通用做法。
您可以重复阅读一下前文“模型配置”这一小节的内容：https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basics/recommender_system/index.html#id10

[2019-11-25 13:22] Menevagol opened #21356 "量化模型训练报错"
PaddleCheckError: Expected t->IsInitialized() == true, but received t->IsInitialized():0 != true

[2019-11-25 13:22] Menevagol opened #21357 "量化模型训练报错"
PaddleCheckError: Expected t->IsInitialized() == true, but received t->IsInitialized():0 != true
The Tensor in the coalesce_tensor Op's Input Variable Input(conv2d_65.w_0.quantized.dequantized) is not initialized. at [/home/omni/Paddle/paddle/fluid/framework/operator.cc:1155]

paddle是两周前拉取的develop最新的分支编译的，量化模型用的是paddle slim底层api

[2019-11-25 13:41] zhwesky2010 commented on #21348
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/build_and_install_lib_cn.html 这个PADDLE_ROOT需要提前设置的，或者你可以删掉-DFLUID_INFERENCE_INSTALL_DIR=$PADDLE_ROOT，使用默认的路径

[2019-11-25 16:06] zhwesky2010 commented on #21348
hi，请问是这个原因吗？可以关闭issue了不

[2019-11-26 02:05] #20842 closed, assigned to nobody

[2019-11-26 02:10] sneaxiy commented on #20169
@xueeinstein I am sorry that `multiprocess` is a typo. Actually I am using `multiprocessing` to test the codes above. I also try to use PyTorch with Python 3.6 with the same code, but error still raises. This is not the bug of PyTorch or Paddle, but the bug of CUDA when forking. I would try to use the suggestions in PyTorch and test whether it works in Paddle.

[2019-11-26 02:19] imistyrain commented on #21348
能给个默认值么，每次输不费劲么？

[2019-11-26 02:20] imistyrain commented on #21348
而且提示也没说时那个值没设置呀

[2019-11-26 02:22] #21348 closed, assigned to zhwesky2010

[2019-11-26 02:26] DDDivano commented on #21338
上面的代码就是完整代码

[2019-11-26 02:30] juncaipeng commented on #21357
请问是使用paddleslim中哪个量化api啊？能给出更多你调用的核心代码吗？

[2019-11-26 02:36] CodesFarmer commented on #21357
`

    transform_pass = QuantizationTransformPass(
        scope=fluid.global_scope(),
        place=place,
        activation_quantize_type="range_abs_max",
        weight_quantize_type="abs_max")

    transform_pass.apply(main_graph)
    transform_pass.apply(test_graph)
    build_strategy = fluid.BuildStrategy()
    build_strategy.memory_optimize = False
    build_strategy.enable_inplace = False

[2019-11-26 02:37] Menevagol commented on #21357
`

    transform_pass = QuantizationTransformPass(
        scope=fluid.global_scope(),
        place=place,
        activation_quantize_type="range_abs_max",
        weight_quantize_type="abs_max")

    transform_pass.apply(main_graph)
    transform_pass.apply(test_graph)
    build_strategy = fluid.BuildStrategy()
    build_strategy.memory_optimize = False
    build_strategy.enable_inplace = False

[2019-11-26 02:37] sneaxiy commented on #20169
@xueeinstein Please try the following codes.  Paddle works well too after calling `multiprocessing.set_start_method('spawn')`. I am testing on Python 3.6. PyTorch would fail if not setting 'spawn' for multiprocessing module.

Moreover, `multiprocessing.set_start_method('spawn')` must be called inside `if __name__ == '__main__'` directly or indirectly. See the relative issue in PyTorch https://gith

[2019-11-26 02:38] dipthomas commented on #21327
通过查看先前issue，目前问题已经解决。

[2019-11-26 02:38] #21327 closed, assigned to bjjwwang

[2019-11-26 02:39] juncaipeng commented on #21357
是不是使用多卡训练会出现这个问题？可以尝试添加build_strategy.fuse_all_reduce_ops = False试下。

[2019-11-26 02:47] Menevagol commented on #21357
谢谢，是多卡训练，添加这个属性后已经可以正常训练了

[2019-11-26 02:47] #21357 closed, assigned to juncaipeng

[2019-11-26 02:50] sneaxiy commented on #20169
@xueeinstein https://github.com/PaddlePaddle/Paddle/issues/20169#issuecomment-539525206 In this codes above, after the following revision:

[code]

Paddle would work well too.

[2019-11-26 03:06] jiangjiajun commented on #21327
请问你是查看的哪个issue，可否贴一下链接，我也遇到了这个问题

[2019-11-26 05:04] Melonzhou opened #21363 "operator < linear_chain_crf > error ： Expected static_cast<size_t>(*std::max_element(lbl, lbl + seq_length)) < tag_num, but received static_cast<size_t>(*std::max_element(lbl, lbl + seq_length)):22 >= tag_num:7. An invalid tag label that execesses the largest tag number. at [/home/teamcity/work/ef54dc8a5b211854/paddle/fluid/operators/linear_chain_crf_op.h:207]"
paddle-cpu-1.6.0
组网部分：
`def create_net(slots, is_inference=False):
    """create net"""
    text_a = slots[0]
    text_a_mask = slots[1]
    text_a_lens = slots[2]
    label_a = slots[3]
    label_a_mask = slots[4]
    label_a_lens = slots[5]

    unpad_words_emb  = fluid.layers.sequence_unpad(text_a, length=text_a_lens)
    unpad_labels = fluid.layers.sequence_unpad(label_a, length=label_a_lens)

[2019-11-26 06:36] Melonzhou commented on #21363
问题找到了，是linear_chain_crf 的input=emission参数的维度报错了，不应该是7，应该是52才对。

[2019-11-26 06:36] #21363 closed, assigned to nobody

[2019-11-26 06:54] jeng1220 commented on #20786
Because  #20858 was merged, close this issue

[2019-11-26 06:54] #20786 closed, assigned to nobody

[2019-11-26 07:11] dtg2010 opened #21368 "训练模型出错"
#源代码：https://github.com/dtg2010/MYPROJECT
#!/usr/bin/env python
# coding: utf-8

# In[1]:

import pandas as pd
import numpy as np
import paddle
import paddle.fluid as fluid
import matplotlib.pyplot as plt
from paddle.utils.plot import Ploter
import os

get_ipython().run_line_magic('matplotlib', 'inline')

# In[4]:

global data,train_data,test_data,maximums,minimums,averages

#train_data_path = "da

[2019-11-26 07:24] LordAaron opened #21369 "Gather_nd op里面增加对LoD信息的保留"
1）PaddlePaddle版本：例如1.6.1
2）CPU/GPU：CUDA9.0，cudnn7
3）系统环境：centos6.3

- 建议描述：在已有对gather_nd上做一些修改，现在gather_nd的op只支持Tensor的输入，现在希望能扩展到支持LoDTensor的输入，即输出能保留原本输入LoDTensor的LoD信息，现有op在LoDTensor输入之后，输出只有Tensor，没有保留LoD信息。

P.S：Gather_nd的api文档里面 index的变量类型标注错了，不应该是int，而是Variable才对
   https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/gather_nd_cn.html#gather-nd

[2019-11-26 07:32] lizhiqings opened #21370 "fluid1.5训好模型预测时，关于cvm特征的问题"
首先确认下下图应该就是 infer时候 做前向计算时cvm的api
![image](https://user-images.githubusercontent.com/47736115/69607793-fdd94180-1060-11ea-9469-7edee4313173.png)

但是没有看明白，按照这个写法 输出y的维度不是少了2维么 因为x是加2后copy的？
而且在训练的时候输入是有 show和click的，但是在infer的时候 不知道show和 infer 的 这个还怎么计算？

[2019-11-26 07:45] ff3141044702 commented on #21184
缺少msvcp140.dll、opencv-world346.dll等文件，添加这些文件后CPU模式可用；但是GPU模式报错，跟踪发现问题出在：
im-tensor->copy_from_cpu(input_buffer.data());

[2019-11-26 08:30] jeng1220 commented on #19842
@tianjie491
I suggest you to clone latest PaddlePaddle code and build it by yourself. The key flag is `-DTENSORRT_ROOT=<the path to TensorRT>`.

If you want to use Paddle-TensorRT with Python, you need to enable Python feature of PaddlePaddle `-DWITH_PYTHON=ON` (see my case: #20786)

[2019-11-26 08:36] jeng1220 commented on #19647
@yxnal ,
Now, the workaround is to build ARM version of NCCL by yourself. Follow [README.md](https://github.com/NVIDIA/nccl) can solve this issue temporally

[2019-11-26 08:54] jeng1220 commented on #18810
@NHZlX , @mzchtx
Latest TensorRT supports TopK layer, or you need to call `nvinfer1::ITensor::setDimensions` to reshape tensor dimension

[2019-11-26 08:55] juncaipeng commented on #21356
请参考这个issue，#21357。

[2019-11-26 08:59] juncaipeng commented on #21356
重复的issue，问题已经解决，可以close。

[2019-11-26 08:59] #21356 closed, assigned to juncaipeng

[2019-11-26 09:37] jeng1220 commented on #18976
@OliverLPH ,
After merged #20858 , Cmake will threw a warning - `TensorRT is NOT found` if it fail to find TensorRT, or show the version and path of TensorRT if it find TensorRT.

[2019-11-26 10:58] jczaja commented on #20964
@zhangting2020 , @luotao1 I have implemented NHWC support to FWD ops: LRN, pool, conv2d and conv2d_transpose . It was tested only on provided unit tests. It is available at: #21192.

1) If you have an **inference** NHWC workload then please test against #21192. Please report problems if any.

[2019-11-26 11:15] cs-y commented on #21351
通过对数据集的字典数据进行查看，我得到：

12

10

8
但教程中的 Animation, Children's, Musical表述为array[10, 8, 9]

若按照数据集中的字典则表示为[12, 10, 8 ]，所以我应该根据哪一个呢？是否可以直接使用paddle.dataset.movielens.movie_categories()查看对应的数据转换呢？

同时paddle.dataset.movielens.get_movie_title_dict()也会对应文章标题，参考哪一个呢？

[2019-11-26 11:29] DDDivano commented on #21275
反向op不是框架自动生成的吗？

[2019-11-26 11:30] #21259 closed, assigned to gavin1332, sandyhouse

[2019-11-26 11:31] sucuicong opened #21376 "AI studio项目文字识别，在paddle1.4和paddle1.5环境下能够正常训练，但在paddle1.6环境下无法正常训练，表现为输出loss一直为nan."
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

项目地址：AI studio项目文字识别https://aistudio.baidu.com/aistudio/projectdetail/72574，
可通过fork后运行，paddle1.6环境下loss输出

[2019-11-26 11:42] mapingshuo commented on #21275
@DDDivano 反向是自动生成的，但是要在optimizer.minimize()这一步生成。例程：https://github.com/PaddlePaddle/examples/blob/master/community_examples/recompute/demo.py

[2019-11-26 12:16] jczaja commented on #20964
Subset of #21192 was reformed as PR #21375 (to fit into limit of modified files per PR). Please review.
Conv and conv_transpose will be set up as PR once LRN and pool are reviewed and merged.
On development side, I will start to enable grad ops.

[2019-11-26 12:40] DDDivano commented on #21275
加上这段代码 ，clone之后还是一样的。其实我就是想知道那个for test参数有没有生效。
[code]

[2019-11-26 12:55] mapingshuo commented on #21275
我这里看到clone_z和main_program是不一样的了，clone_z里面没有反向，所以            assert operator.eq(x["blocks"].sort(), clone_z.__dict__["blocks"].sort())不成立

[2019-11-26 12:59] gongel opened #21380 "使用GPU训练出错，CPU没问题"
下面是报错信息图片，烦劳解答一下。
![bug pic](https://github.com/gongel/DemoWeb/blob/master/bug.png)

[2019-11-26 13:18] DDDivano commented on #21275
为啥我这里运行是一样的呢。。。。

[2019-11-26 15:07] runningwa opened #21382 "UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure. plt.show()"
有没有人遇到这个问题呢，没法画图，试了好几种方法都不行
下面是我的代码 ，报错是draw_infer_result这个方法里
[code]

[2019-11-27 01:12] bingyanghuang commented on #21228
New benchmark follow-up is in https://github.com/PaddlePaddle/benchmark/issues/275

[2019-11-27 01:12] #21228 closed, assigned to luotao1, wzzju

[2019-11-27 01:24] cyj1986 commented on #21368
请问您用的是paddle什么版本？

[2019-11-27 01:32] cyj1986 commented on #21380
这个应该是map find的时候没找到报的错误，光看bug信息无法定位问题

[2019-11-27 02:35] mapingshuo commented on #21275
我直接print的，你可以试试：
[code]

[2019-11-27 02:54] PointCloudNiphon opened #21385 "batch_norm添加is_test参数后报错，（原先正常运行）"
**System information**
-PaddlePaddle version 1.6.1
-CPU: Inter(R) Xeon(R) E-2176M
-GPU:  Quadro P3200, CUDA Version: 10.1,cuDNN Version: 7.6.
-OS Platform (eg.Mac OS 10.14) win10
-Python version:3.7

all happens afer I add is_test=True to fluid.layers.batch_norm.........
logs likes this:

EnforceNotMet                             Traceback (most recent call last)
<ipython-input-15-7ddfb036d181> in

[2019-11-27 03:07] DDDivano commented on #21275
明白了 ，之前比较的方式有问题，多谢解答~

[2019-11-27 03:07] #21275 closed, assigned to nobody

[2019-11-27 03:16] yinghu5 commented on #21232
@Aurelius84  关于在乱序执行的CPU 上 浮点计算不能保证计算结果bit wise 一致性，这个应是CPU固有的问题。比如
(2-63 + 1) + (-1) ≈ 1 + (-1) = 0
versus
2-63 + (1 + (-1)) ≈ 2-63 + 0 = 2-63

象MKL 这样现代基于CPU优化的浮动计算型代码， 尤其在深度学习training 经常有极小数的情况下， 这个问题尤其突出。 所幸MKL提供了结果 一致性 和高性能  trade-off  的方案 MKL_CBWR 。 具体请参考 ： MKL user guide
https://software.intel.com/en-us/onemkl-linux-developer-guide-setting-the-environment-variable-for-conditional-numerical-

[2019-11-27 03:19] tangbozhang opened #21386 "Window 10 家庭版 conda安装 测试报错"
Python 3.7.4 paddle 1.6.1 CPUi7-8750H GPU GeForce GTX 1050TI 4G CUDA 10.0 CUDNN 7.6.4  pip 19.3.1 Window 10 家庭版

Running Verify Fluid Program ...
D:\softwareinstall\deeplearn\anaconda3\envs\paddle\lib\site-packages\paddle\fluid\executor.py:774: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  Fi

[2019-11-27 03:26] luotao1 commented on #21232
@yinghu5 请问如果更新到2019 update5后，还需要设置`export MKL_CBWR=AVX2`么？

[2019-11-27 03:30] yinghu5 commented on #21232
@luotao1  如果不设置 能获得期望的结果 是最理性的情况。 不能的话，需要这些设置来保证结果一致性。

[2019-11-27 03:30] luotao1 commented on #21232
@yinghu5 @jianhang-liu @yihuaxu 我们使用的是打入Erf和csrmm2的mkl版本，请问2019 update5已经支持这两个函数了么？如果没有的话，还需要请 @yinghu5 帮忙再打一下。
https://github.com/PaddlePaddle/Paddle/blob/341dee065763953fdeeb0a450864e92fbcef1658/cmake/external/mklml.cmake#L34-L36

[2019-11-27 03:31] #17335 closed, assigned to Sand3r-

[2019-11-27 03:32] JingChunzhen opened #21388 "模型训练内存占用较高"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.0
    2）CPU：
    3）GPU：tesla v100
- 训练信息
    1）单机 单卡
    2）显存信息
模型为双塔模型 左侧 resnet 50 右侧 BOW 顶部 两层FC
目前的情况是训练过程中内存占用率较高，大概占用84G内存
模型在训练过程中使用了io.PyReader, 显存策略如下

[code]
[code]

[2019-11-27 03:32] yinghu5 commented on #21232
目前的测试如果不涉及这两个函数， 请下载 https://github.com/intel/mkl-dnn/releases/download/v0.21/mklml_lnx_2019.0.5.20190502.tgz。  不用编译，直接替换动态库 先试试？

[2019-11-27 03:32] nuptxxp opened #21389 "f1 score loss 实现问题"
在paddle上实现了一个f1 loss函数：
`def _compute_loss(self, dec_output):
        tp = fluid.layers.sum(fluid.layers.cast(self.label * dec_output, dtype="float32"))
        tn = fluid.layers.sum(fluid.layers.cast((1 -self.label) * (1 - dec_output), dtype="float32"))
        fp = fluid.layers.sum(fluid.layers.cast((1 -self.label) * dec_output, dtype="float32"))
        fn = fluid.layers.sum(fluid.layers.cast(s

[2019-11-27 03:38] nuptxxp commented on #21389
重新贴下代码：
![image](https://user-images.githubusercontent.com/4417228/69691557-629ca680-110a-11ea-802e-80e5156d59a8.png)

[2019-11-27 03:41] gongel commented on #21380
有没有可能是CUDA版本不对？

[2019-11-27 03:48] xyoungli commented on #21385
请问原先运行正常是指在早先的版本设置is_test=True运行正常，还是指在1.6.1版本设置不设置is_test=True运行正常？

[2019-11-27 03:49] JingChunzhen commented on #21388
同时我在数据处理时 对image数据使用了以下的处理方式，猜测可能是这样的处理方式导致了内存泄露问题
[code]

[2019-11-27 04:00] xyoungli commented on #21386
您好，请检查一下安装的fluid cuda版本和安装的驱动版本.[17009](https://github.com/PaddlePaddle/Paddle/issues/17009)

[2019-11-27 04:08] PointCloudNiphon commented on #21385
尴尬，我标题搞错了，是添加之后不能运行

[2019-11-27 04:09] #20125 closed, assigned to Shixiaowei02

[2019-11-27 04:22] xyoungli commented on #21385
请问是训练过程还是预测过程？

[2019-11-27 04:26] xyoungli commented on #21385
true只能用于inference模式

[2019-11-27 04:29] cyj1986 commented on #21380
你的报错信息里提示了cudnn版本是不对的

[2019-11-27 04:34] xyoungli commented on #21389
请问， label和dec_out的shape是什么?数值是0，1？

[2019-11-27 04:39] cyj1986 commented on #21382
我先复现一下，稍后回复

[2019-11-27 04:40] PointCloudNiphon commented on #21385
我不太明白，参数设置是在模型的时候，推断时无需重新定义模型，那个这个参数的存在意义在何？难道有什么操作可以做推断时重新定义模型？那样的话，模型训练的意思又在哪呢

发自我的小米手机
在 Xiaoyang LI <notifications@github.com>，2019年11月27日 下午12:26写道：

true只能用于inference模式

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/PaddlePaddle/Paddle/issues/21385?email_source=notifications&email_token=AI2M6S77EPLNX3VXQXB5DNLQVX

[2019-11-27 04:52] wanghaoshuang commented on #21376
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/attention_model.py#L191

需要添加gradient clipping

[2019-11-27 06:12] xjqbest commented on #21370
如果infer时候不需要cvm特征，infer时候可以直接去掉这个layer。
或者 设置use_cvm=False

[2019-11-27 06:17] xjqbest commented on #21370
already contact with user.  problem solved

[2019-11-27 06:18] #21370 closed, assigned to hutuxian

[2019-11-27 06:24] ForFishes commented on #21369
这个数据类型是说variable里的 `dtype` 。

[2019-11-27 06:27] nuptxxp commented on #21389
label_out 的shape是(-1L, -1L, 3L)
dec_out的shape是
name: "transpose_3.tmp_0"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: -1
      dims: -1
      dims: 3
    }
  }
}
persistable: false

[2019-11-27 06:33] xyoungli commented on #21385
需要分别构建训练和预测的program，预测program的model可以把这个参数设置成True

[2019-11-27 06:47] nuptxxp commented on #21389
label数值是3分类的one-hot，
dec_output是经过softmax处理的三个概率值，（LSTM seq2seq的loss函数）

[2019-11-27 07:33] gavin1332 commented on #21369
但括号里要求填写的是数据类型而非dtype

[2019-11-27 08:19] tangbozhang commented on #21386
谢谢，重新安装显卡驱动好了

[2019-11-27 08:19] #21386 closed, assigned to nobody

[2019-11-27 08:55] xyoungli commented on #21389
sum op没有做reduce，请使用reduce_sum试试，设置需要做reduce的dim

[2019-11-27 09:36] mzchtx opened #21405 "打开 profiler 后出现 CUPTI_ERROR_INVALID_PARAMETER 错误"
### 环境

系统：CentOS6.3
python 版本：2.7.14（gcc482 编译）
paddle 版本：1.6.1.post107
NVIDIA Driver 版本：418.39
CUDA 版本：10.0
CUDNN：7.5.1 && 7.6.0
NCCL：2.3.7

已设置 CUPTI 环境变量等，运行[官网示例](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/development/profiling/timeline_cn.html)，报以下错误：

![image](https://user-images.githubusercontent.com/37564754/69711403-f89cf500-113b-11ea-847a-a6fa097df3a8.png)

使用

[2019-11-27 10:29] AIpioneer commented on #21343
线下沟通中

[2019-11-27 10:33] qingqing01 commented on #21343
<img width="584" alt="图片" src="https://user-images.githubusercontent.com/7845005/69716029-37cf4400-1144-11ea-9969-679d7ab99ddc.png">

看截图错误，可能和CUDA环境没有设置正确有关，可以看下是否要将CUDA版本是否对应、以及是否要设置lib到LD_LIBRARY_PATH里

[2019-11-27 11:31] xyoungli commented on #21405
请参考[#3124](https://github.com/PaddlePaddle/models/issues/3124)

[2019-11-27 11:45] WorldEditors opened #21409 "Layers.gaussian_random/Layers.gaussian_random_batch_size_like当std参数是一个variable时，会产生很奇怪的报错"
Fluid 1.6版本， CPU/GPU均可稳定复现
gaussian_random/gaussian_random_batch_size_like两个函数中，如果std是一个variable，会产生如下错误。

Traceback (most recent call last):
  File "test.py", line 9, in <module>
    out = fluid.layers.gaussian_random_batch_size_like(x, shape=[-1,2], mean=0.0, std=y, seed=0, dtype='float32')
  File "/home/yobobobo/tools/miniconda2/envs/wf_env/lib/python3.5/site-packages/paddle/fluid/layers/nn.py"

[2019-11-27 11:53] JingChunzhen commented on #21388
经观察，在训练过程中，内存占比不断升高，怀疑是内存泄露问题

一个可能的原因是使用了pyreader

[code]

如上所示，当移除上述test_reader相关的代码，内存占比不会逐渐升高
在上述test_reader被多次调用时，是否会发生内存泄漏问题呢？

[2019-11-27 12:26] sneaxiy commented on #21388
1. 您不使用PyReader是否会发现泄漏？
2. 您试试test_reader中不break，等待所有test batch都跑完，是否会发现泄漏？（1.5版本提前break可能会有问题）。

[2019-11-27 12:30] xyoungli commented on #21409
好的，没有做类型检查，我们会跟进这个问题

[2019-11-27 12:38] ysh329 commented on #21338
[code]

已经复现，执行结果如下：

[code]

[2019-11-27 12:45] hutuxian commented on #21351
我这边运行了一下，输出结果就是[10,8,9]，与文档一致。请确认您使用的paddle版本是否为最新版本？

[2019-11-27 13:40] zhong0033 opened #21411 "使用fluid.io.load_inference_model 加载训练好的模型用于预测时报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    4）系统环境：macbook pro 10.15.1
- 问题描述：在ai_studio 上训练好了一个模型，使用save_inference_model 保存后，将model文件夹全部下载，使用fluid.io.load_inference_model 加载模型，在exe.run()时报错，报错如下：
![image](https://user-images.githubusercontent.com/22142705/69728039-a7eac380-115e-11ea-8f09-091ce8fd1ce9.png)

![image](https://user-images.githubuser

[2019-11-27 13:54] mzchtx commented on #21405
安装 nccl 了，也设置 cupti 的环境变量了。

[2019-11-27 14:20] ceci3 commented on #21123
in paddle python file about conv2d layer, (https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L1261 ) I need to get num_channels according to data_format, and use num_channels to create filter parameter, so it seems I cannot  set data_format to any..  @wojtuss

[2019-11-27 16:34] #21385 closed, assigned to xyoungli

[2019-11-27 16:35] PointCloudNiphon commented on #21385
在clone  default_main_program加上for_test来实现同样的功能即可

[2019-11-27 16:46] JepsonWong opened #21412 "AdamOptimizer don't support input data of float64"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1
    2）CPU：CPU
    3）GPU：无
    4）系统环境：Ubuntu16.04，python2.7.15
- 复现信息：如为报错，请给出复现环境、复现步骤
复现代码：

            import paddle
            import paddle.fluid as fluid
            place = fluid.CPUPlace()
            main = fluid.Program()
            with fluid.program_guard(main):
                x = fluid.data(name='x', shape=[None, 13], dtype='float64')

[2019-11-28 02:00] cs-y commented on #21351
我用pip install -U paddlepaddle安装的1.6.1，请问您说的最新版本是哪个版本？

[2019-11-28 02:07] cs-y commented on #21351
可能在每台机器上的运行结果不一致，您可以试一下，我安装了paddle0.6.0后又装回0.6.1，发现结果又不一样了，这是什么问题呢？

[2019-11-28 02:25] OliverLPH commented on #21411
通过log看起来可能是传入数据的格式不对，
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/14963836/69771894-57f51680-11c9-11ea-9cf8-386d737402b8.png">
可以尝试把height_sections 的类型改成`int64`再试下

[2019-11-28 02:29] JingChunzhen commented on #21388
不使用PyReader的情况下 不会发现泄露问题，这个问题是在使用了Pyreader之后产生的。
单独测试了PIL的image api 内存占比稳定 应该不是PIL的问题。

第二个问题还没有测试，但如果只使用train_reader，不使用上述代码中的test_reader 也不会发生内存泄露问题，想问下，1.5版本pyreader提前break的话会发生什么呢？

[2019-11-28 02:37] Exception-star opened #21413 "希望动态图加入syncBN的策略"
希望动态图加入syncBN的策略，没有syncBN，训练可能达不到精度

[2019-11-28 04:13] thunder95 commented on #21262
op conv2d_fusion does not have kernel for data_type[float]:data_layout[NCHW]:place[CUDAPlace(0)]:library_type[PLAIN]

[2019-11-28 05:46] runningwa commented on #21382
谢谢，这个是paddle 的教程代码，同样在aistudio中也报错

[2019-11-28 06:49] #20046 closed, assigned to zhaoyuchen2018

[2019-11-28 06:49] #19628 closed, assigned to zhaoyuchen2018

[2019-11-28 07:04] Meiyim opened #21421 "依赖rarfile导致在某些Linux机器上部署不方便"
Paddle代码中有部分代码依赖了rarfile包，并且直接`import paddle`就会触发，如：https://github.com/PaddlePaddle/Paddle/blob/c0aa13672edf484b280988f3400636b1a3aff050/python/paddle/dataset/mq2007.py#L30

linux中使用rar作为解压方案比较奇怪。会导致一些问题：
rarfile包有一些系统依赖(需要系统安装unrar)，因此会降低了python环境的在不同系统上的迁移性。

一个简单的解决方案是延迟`paddle.dataset`的引入，从而使rarfile作为非必要依赖。

[2019-11-28 07:31] sneaxiy commented on #21412
@JepsonWong 这是Adam的bug，我们正在积极修复，感谢反馈。

[2019-11-28 08:28] #15422 closed, assigned to qingqing01

[2019-11-28 09:00] Aurelius84 opened #21425 "【MKL】2014MKL下使用layers.matmul，输入3D shape会报段错误"
使用2014版本的`libmklml_intel.so`编译develop分支的whl包，在输入为3D shape时，调用`layers.matmul`会出现`Segmentation fault`

**Note:** 目前paddle-dev是没有问题的，只是替换mkl为2014的，会出错。

### 1. 复现环境
+ Python版本：`2.7.15`
+ 操作系统：CentOS release 6.3 (Final)

### 2. 复现代码
[code]

**错误日志：**
[code]

[2019-11-28 09:03] Aurelius84 commented on #21232
我尝试了方法①和方法②，分别对比了上述`blas.GEMM`的输出，如下：

|`blas.GEMM` |    2019_default.so  | 2019 update 5 |   2014 MKL|
|:-----------------:|:------:|:-----:|:-----:|
| MKL_CBWR=  |  A   | A    | C |
| MKL_CBWR=`AVX2`  |  A   | A    | C |
| MKL_CBWR=`COMPATIBL`  |  B   | B    |  D|
| MKL_CBWR=`AVX2,STRICT`  |  A   | A    | C |

即：
+ 不论是2014还是2019、2019 update 5的so文件下，只有设置MKL_CBWR=`COMPATIBL`才会有不同输出
+ 2014的mkl.so下，

[2019-11-28 09:24] luotao1 commented on #21425
@yinghu5 @LeoZhao-Intel Could you help see it?

[2019-11-28 09:42] LeoZhao-BJ commented on #21425
not sure 2014 mkl version, from https://software.intel.com/en-us/articles/introduction-to-the-conditional-numerical-reproducibility-cnr

There is requirement before 11.1:

In MKL versions before 11.1, there was one more limitation: Input and output arrays in function calls must be aligned on 16, 32, or 64 byte boundaries on systems with SSE / AVX1 / AVX2 instructions support (resp.). MKL 11.1 has

[2019-11-28 09:46] Aurelius84 commented on #21425
shape改为`[16, 32, 64]`也会`Segmentation fault`

[2019-11-28 09:59] yinghu5 commented on #21425
@Aurelius84  在早期我们用MKL 11. x  等 命名版本， 后来才改成 MKL 2017/2018/2019 ，   请问 2014 MKL  version, 是从哪里下载的，  具体安装时的文件名是什么？

另外  在跑的时候 export MKL_VERBOSE=1 能打印出信息吗？ 我们是 11.2 时引进MKL verbose 功能的。
https://software.intel.com/en-us/articles/verbose-mode-supported-in-intel-mkl-112

[2019-11-28 10:12] #21389 closed, assigned to xyoungli

[2019-11-28 11:12] Aurelius84 commented on #21425
确认了下，这个版本的so文件应该不是完整的（相对于2019版），是单独编译的，年初1月份的时候intel这边同学提供的。

所以，这个段错误，应该是so不是官方导致的（只打包了部分函数）。

[2019-11-28 17:02] jczaja commented on #20964
@zhangting2020 , @luotao1  I have a question regarding GRAD ops.

I'm working on enabling pool grad unit tests. Sequence of ops in executor is:
feed -> pool2d -> mean -> fill_constant -> mean_grad -> pool2d_grad
Output from pool2d is named "Out" and One of inputs to pool2d_grad is named "Out@GRAD".
Question:
1) How and Where (in code) is "Out@Grad" created (in particulat setting its shape) ?

[2019-11-29 02:49] Meiyim commented on #20921
#21311 是否修复了此问题？ @CAOYUHUI

[2019-11-29 04:03] yinghu5 commented on #21425
@Aurelius84  @luotao1  share the 2014 information to us, I got them :). thank you!
 [yhu5@snb04 baidu_sgemm]$ ./a.out
Major version: 11
Minor version: 1
Update version: 2
Product status: Product
Build: 20140122

It reminder me that the version 11.1. 2  (2014.01,22)  don't support sgemm_batch, which are used in the  3D shape test code.

could you please check the 2014_mklml.lib , for example enter

[2019-11-29 04:36] Aurelius84 commented on #21425
感谢@yinghu5 的回复，我尝试了你提供的命令查看了下，结果如下。好像2014MKL的so文件确实没有sgemm_batch的实现？

运行：`nm 2014_libmklml_intel.so| grep sgemm_batch`
输出：
[code]

运行：`nm 2019_libmklml_intel.so| grep sgemm_batch`
输出：
[code]

[2019-11-29 05:21] zhiAung commented on #19055
您的意思是，把损失求和之后，在回传时，不同的分支只会使用损失和里面各自的损失进行优化，然后共享部分才会使用损失的总和进行优化吗？那这样的话，对不同的损失设置不同的权重是怎么影响网络的呢

[2019-11-29 05:54] HCMY opened #21446 "随着程序运行时间增加，速度变慢，怀疑是每一次都新增了op，导致内存泄漏，如何删除新增的op呢？"

[2019-11-29 06:10] zhangting2020 commented on #20964
@jczaja Here `get_grad_op_desc ` is called
https://github.com/PaddlePaddle/Paddle/blob/add62acfd1d7e8f14ceba22b1c049c25027e760e/python/paddle/fluid/backward.py#L797-L798
Then `GradOpMaker` returns grad_op_maker_ of the pool2d_grad
https://github.com/PaddlePaddle/Paddle/blob/630be31952f2216009851a31b55a3243c2b57f77/paddle/fluid/pybind/pybind.cc#L1035-L1043
pool2d_grad uses the `DefaultGradOpMaker`,

[2019-11-29 07:01] MyPandaShaoxiang commented on #21446
你好，麻烦具体描述下具体环境和情况

[2019-11-29 08:21] AIpioneer commented on #21413
好的，我们会放入计划之内，感谢建议

[2019-11-29 09:18] Junphy-Jan opened #21457 "使用pip安装完后 import paddle出错"
- 标题：安装错误：使用pip install 成功，但是进入python导入 paddle.fluid 时出错
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-1.6.1
    2）CPU：Intel(R) Xeon(R) Platinum 8163 CPU @ 2.50GHz
    3）GPU：无
    4）系统环境：CentOS 7 python3.5.7  pip19.3.1
- 安装方式信息：
1）pip安装     

- 问题描述：
![安装成功](https://user-images.githubusercontent.com/14165820/69858016-14cf9c00-12cc-11ea-98c6-25919f377d96.png)
通过pip安装成功；
![python导入失败](https://user-im

[2019-11-29 10:04] MyPandaShaoxiang commented on #21457
你好，图片无法查看

[2019-11-29 10:07] JanJF commented on #21457
[cid:image002.png@01D5A6DF.C5570530]
[cid:image006.png@01D5A6DF.C5570530]

可能挂个代理能看到
原图：
[cid:image011.png@01D5A6DF.C5570530][cid:image012.png@01D5A6DF.C5570530]

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: TianXiaogang<mailto:notifications@github.com>
发送时间: 2019年11月29日 18:04
收件人: PaddlePaddle/Paddle<mailto:Paddle@noreply.github.com>
抄送: JanJF<mailto:microjan@outlook

[2019-11-29 10:09] Junphy-Jan commented on #21457
![python导入失败](https://user-images.githubusercontent.com/14165820/69861435-53b52000-12d3-11ea-99a6-29ed45edc981.png)
![安装成功](https://user-images.githubusercontent.com/14165820/69861438-544db680-12d3-11ea-839d-9dd2d61e2c82.png)

[2019-11-29 10:16] AIpioneer commented on #21363
👍

[2019-11-29 10:29] AIpioneer commented on #21382
你好，请问是哪一篇教程？

[2019-11-29 11:29] MyPandaShaoxiang commented on #21457
你的python3是自己编的么？

[2019-11-29 11:43] Junphy-Jan commented on #21457
是通过 make & make install 安装的

[2019-11-29 12:21] LeoZhao-BJ commented on #21232
[libmkl2014.zip](https://github.com/PaddlePaddle/Paddle/files/3905136/libmkl2014.zip)
huying的新libmkl2014.so

[2019-11-29 12:21] LeoZhao-BJ commented on #21232
Paddle patch
[code]

[2019-11-29 12:24] LeoZhao-BJ commented on #21232
执行时需要加LD_PRELOAD=libmkl2014.so的绝对文件path:libiomp5.so的绝对文件path python xxx.py, 比如：

LD_PRELOAD=/home/yinghu/libmkl2014.so:/home/leozhao/Paddle/build/python/paddle/libs/libiomp5.so python /home/yinghu/test_gemm.py

[2019-11-29 14:29] liangyz23 opened #21464 "旧版本的API"
您好，我这边有一个旧的模型是用老版本的Paddle实现的，我想看下旧版本的API，在哪儿可以找到呢？是fluid之前的版本。
多谢！

[2019-11-29 15:20] zhiqiu commented on #21464
您好，官方是可以选择旧版本的。
![image](https://user-images.githubusercontent.com/6888866/69878057-c2f43980-12fe-11ea-9fb9-169186ba1cd1.png)

[2019-11-29 15:31] reddancer commented on #21464
多谢，选择框换位置了，之前找了一圈没找到。

[2019-11-29 15:40] liangyz23 commented on #21464
谢谢回复，但点开0.12之后，只有很少的内容，关于paddle.layer和paddle.pooling说明都没有

[2019-11-29 18:01] jczaja commented on #18944
I have proposed some encapsulation of those global objects , but mostly they are  thread local storage objects , so It does not seem proper to put them into MKLDNNDeviceContext. Modification is part of
#21466. Feel free to comment

[2019-12-01 01:58] MyPandaShaoxiang commented on #21457
你好，可以参考paddle_installation仓库下的编译脚本 http://icode.baidu.com/repos/baidu/paddle/paddle-installation/blob/master:env/centos_7_cpu_py35.dockerfile

[2019-12-01 02:01] MyPandaShaoxiang commented on #21457
centos需要安装sqlite-devel，然后重新编一下python3

[2019-12-01 09:47] ustcxiexk opened #21468 "使用transpiler模式的fleet在MPI上训练，不能正常退出（paddle1.4.0，1.6.0，1.6.1），模型出core"
在MPI上训练模型，使用的是fleet的transpiler模式，设置运行五个epoch，每次结束时，模型成功保存，但总是不能正常退出，然后出core，MPI任务显示失败。paddle 1.4.0，1.6.0，1.6.1尝试过，都不行。
MPI训练日志：
 http://10.76.118.34:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20191201165831-6668--xiexiaokang_hourly_deepwalk_ins_graph_cf_test_3_paddlecloud
错误结果：
[INFO] 2019-12-01 17:18:30,278 [    train.py:  125]:	step 1197: loss 0.54263 speed: 0.19838 s/step
I1201

[2019-12-01 15:51] tsaizehua opened #21469 "关于 fluid.layers.data 更改 lod_level 的一点疑惑"
Fluid 1.6，本例无其它特殊环境。

console 调试代码时无意中更改了数据层的 lod_level，报错：
[code]
并仔细看了*fluid.layers.data*以及*name*相关的文档，并未找到合理的答案。
“name 用于网络层输出的前缀标识，name值_数字.tmp_数字中的数字会递增。” 一方面常规理解后者定义应该可以正常覆盖前者；另一方面，Fluid 内部的命名也是自增以作区分。

而报错是针对 lod_tensor，难道是 paddle 静态图对网络定义上的某种限制？

谢谢。

[2019-12-02 01:34] Junphy-Jan commented on #21457
安装之后导入成功，谢谢

[2019-12-02 01:34] #21457 closed, assigned to nobody

[2019-12-02 01:45] willthefrog commented on #21469
data是网络的输入，命名需要唯一，, 后面会根据命名创建feed dict，所以内部实现没有使用unique_name generator来设置名称。

[2019-12-02 01:47] dtg2010 commented on #21368
直接在aistudio上测试

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "cyj1986"<notifications@github.com&gt;;
发送时间: 2019年11月27日(星期三) 上午9:24
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "●大头鬼"<24440799@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 训练模型出错 (#21368)

请问您用的是paddle什么版本？

—
You are receiving this because you authored the thread.
Re

[2019-12-02 01:48] willthefrog commented on #21469
另外，1.6以后加入了`fluid.data`，`fluid.layers.data`已经不再推荐使用。

[2019-12-02 03:02] LeoZhao-BJ commented on #21232
[libmkl2014.zip](https://github.com/PaddlePaddle/Paddle/files/3909256/libmkl2014.zip)

update libmkl2014.so, add dependency on libiomp5.so, and to run test, need PR#21471, cmd is changed to :
LD_PRELOAD=/home/yinghu/libmkl2014.so python /home/yinghu/test_gemm.py

[2019-12-02 03:03] Menevagol commented on #18464
@heavengate 问一下这个问题最后解决了吗？

[2019-12-02 03:26] lost-little-lamb opened #21472 "训练好的模型，c++预测接口出core"
模型训练使用paddle fluid:  1.5.1 GPU版本
C++预测依赖的版本(cpu预测）: CONFIGS("baidu/lib/paddlepaddle@v1.5.2-avx-mkl-map_PD_BL@git_tag")
在线预测场景：
      利用AnalysisConfig创建predictor，多线程预测（每个线程的predictor尝试过在主线程创建和子线程创建，创建没有问题，最后都会出core），每次最多预测50个（batch_size=50)
出core现象：
       同一批预测集，并不是每次跑都会出core，线程数越少概率会小一些，debug了多次出core的信息，每次出core的预测样本都不一样（所以应该不是特定输入触发的core），但是出core的地方是一致的，出core的信息如下
Using host libthread_db library

[2019-12-02 03:46] FrostML commented on #21472
请问您的多线程是怎么设置的呢？预测是一个线程只能起一个preditor

[2019-12-02 04:39] lost-little-lamb commented on #21472
主线程中调用CreatePaddlePredictor创建main_predictor, 预测线程（work线程）的predictor是从根据main_predictor clone的

int init_thread_databuf(conf_info_t &g_conf, thread_data_buf* data_buf) {
    paddle::AnalysisConfig config;
    config.SetModel(g_conf.semantics_model_path);
    config.DisableGpu();
    config.SwitchIrOptim();
    auto main_predictor = paddle::CreatePaddlePredictor(config);
    if (main_predictor == nul

[2019-12-02 05:50] FrostML commented on #21472
“线程数越少概率会小一些”，如果是直接使用main_predictor单线程预测是否也会core呢？

[2019-12-02 08:13] ff3141044702 commented on #21184
后来改用CUDA 9.0的版本就没有问题了，按照官方的说法，小版本兼容性会有问题。

[2019-12-02 08:13] #21184 closed, assigned to nobody

[2019-12-02 08:41] barry2025 opened #21479 "paddleubuntu14.04_cuda10.0_cudnn7_avx_mkl_trt5 使用报错"
PaddleDetection c++ inference库，使用paddleubuntu14.04_cuda10.0_cudnn7_avx_mkl_trt5 fluid_inference报错：
![image](https://user-images.githubusercontent.com/20043808/69944475-5fe2ec80-1522-11ea-8b75-67c1514db5eb.png)
用的基础镜像环境是：
![image](https://user-images.githubusercontent.com/20043808/69944512-7721da00-1522-11ea-89da-0e04c0fdf8dc.png)
请问下这个fluid_inference库编译的时候基础环境是什么？

[2019-12-02 09:08] fc500110 commented on #21479
你的gcc版本是啥

[2019-12-02 09:08] fc500110 commented on #21479
你的gcc版本是啥

[2019-12-02 09:28] barry2025 commented on #21479
gcc-version:
![image](https://user-images.githubusercontent.com/20043808/69947655-0fbb5880-1529-11ea-828a-28d18f09c633.png)
采用的nvidia/cuda:10.1-cudnn7-devel-centos7中自带的gcc，没有装别的

[2019-12-02 09:45] FrostML commented on #21479
untu14.04_cuda10.0_cudnn7_avx_mkl_trt5编译时使用的是gcc482

[2019-12-02 09:50] barry2025 commented on #21479
麻烦再请问下基础镜像用的是哪个环境？nvidia提供的cuda10默认的gcc版本都是gcc4.8.5了

[2019-12-02 09:58] tsaizehua commented on #21469
正因为是同命名，不应该覆盖之前的定义吗？内部实现时数据结构定下来，上层的引用指向就不能动了？因为这个 case 仅仅只是更改了 lod_level 参数，fluid.data也如此。

[2019-12-02 10:11] willthefrog commented on #21469
weight sharing是按变量名实现的，所以变量不能根据名称随意覆盖。

[2019-12-02 10:23] zhupengyang commented on #21468
已经assign给 @seiriosPlus 跟进

[2019-12-02 11:27] barry2025 commented on #21479
应该不是gcc版本的问题。
![image](https://user-images.githubusercontent.com/20043808/69956020-ed7e0680-1539-11ea-9885-9659b8d53ff2.png)
在nvidia/cuda:9.0-cudnn7-devel-centos7下可以使用
![image](https://user-images.githubusercontent.com/20043808/69955934-ba3b7780-1539-11ea-906f-a11ec93bcca3.png)
vidia/cuda:10.1-cudnn7-devel-centos7下不能使用
这两个基础镜像中的gcc版本是一致的，都是gcc4.8.5

[2019-12-02 12:36] #21334 closed, assigned to NHZlX

[2019-12-02 12:55] jczaja commented on #20964
Thanks to @luotao1 I realised that NHWC support (merged and in PRs) is not implemented to batch_norm of mkl-dnn this is my mistake as attribute is named *data_layout* not *data_format* as in other ops, so I missed this when grepping through the code. I will implement NHWC batch norm before continuing work on grad support.

[2019-12-02 13:02] ddokupil opened #21489 ""cc1plus: all warnings being treated as errors" problem brakes our validation process"
**System information**
-PaddlePaddle version: Latest Develop branch
-CPU: MKLDNN, CLX
-GPU: Irrelevant/not used
-OS Platform: Ubuntu 18.04
-Python version: 2.7.12
-Install method: building from source, gcc (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
**To Reproduce**
Steps to reproduce the behavior:
cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DWITH_TESTING=ON -DWITH_PRO

[2019-12-02 13:36] y72428026 opened #21490 "请问如何同时获得两个模型的梯度信息"
1. 使用的框架是 :PaddlePaddle 1.5.1(python 3.7)
2. 具体的需求就是，载入resnet模型以及mobilenet模型，对输入照片进行分类，然后分别求输入的梯度然后加权相加，利用梯度信息产生对抗样本；
3. 目前遇到的问题是，我单独载入两个模型之一，然后对图像进行分类、对输入求梯度是没问题的。但没法同时使用两个模型。举个例子，后载入的mobilenet, clone的预测模型可以正确分类输入图片的类别，但前载入的resnet clone的预测模型的输出会是和类别完全没关系的值。梯度信息也是如此。
4. 查阅了一些资料后，我猜测是后载入的模型的参数覆盖了前一个模型的name相同的参数。但我不知道怎么样才能分开他们的参数，最终使得两个模型能够同时正确预测图片的类别，同时对输入图片求梯度。麻烦各位大佬解答一下orz

[2019-12-02 13:45] luotao1 commented on #21489
It is reverted by #21437, and will be fixed by #21434 and #21485

[2019-12-02 13:45] #21489 closed, assigned to nobody

[2019-12-02 14:42] Sand3r- opened #21492 "Malformed graph of ernie when ran with benchmark application"
## Current behaviour
The error has been discovered thanks to level 3 logging enabled by GLOG_v environmental variable.
GLOG has reported, that:

Some operators use the same variables for reading/writing output. For example, when the `fp32_model` has been ran, one could observe that `scale_op` as well `transpose2_op` accept `transpose_4.tmp_0` as their input to the operator (while according to the

[2019-12-02 15:15] jczaja opened #21493 "[MKL-DNN] Analyze if it is possible to keep one copy of params not two"
MKL-DNN is often keeping params (weights, bias) in its own blocked format. Essentaily it means that  each operators that is having params is keeping two sets of weights (one paddle Tensors and then converted(reordered) weights into MKL-DNN format). This may lead to increased memory cosnumption. Goal of this is task is to analyze if it is possible to keep only one set of weights&biases not two. For

[2019-12-02 17:25] Tanzichang opened #21494 "错误：paddle.fluid.core_avx.EnforceNotMet: Axis should be in range [0, x_dims)"
在使用pytorch转paddle模型是，elementwise_multiplication操作报错。具体是自己将pytorch先转为onnx, onnx转为paddle, 在预测阶段使用 fluid.Executor( fluid.CPUPlace() ).run( *** )函数做预测的时候就会报错。

版本信息：PaddlePaddle version:  1.5.1， Python version: 3.6.7

还麻烦帮忙解决一下。谢谢。

报错具体信息如下：
Traceback (most recent call last):
  File "paddle_predict.py", line 74, in <module>
    fetch_list=fetch_targets)
  File "/usr/local/lib/python3.6/dist-packages/

[2019-12-03 02:11] sneaxiy commented on #21388
@JingChunzhen 提前break在1.5版本中可能会造成上一轮的异步读取线程还在读取数据。相当于您跑了N次test，就会有N个线程残留（假设线程均没结束），可能会导致您说的内存泄漏问题。此问题已在1.6修复。

[2019-12-03 02:13] JingChunzhen commented on #21388
感谢解答~

[2019-12-03 02:13] #21388 closed, assigned to sneaxiy

[2019-12-03 02:19] #21412 closed, assigned to sneaxiy

[2019-12-03 02:28] tzl1 opened #21495 "安装完成后导入paddle.fluid没问题,paddle.fluid.install_check.run_check()时报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu                   1.6.1.post97
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：RTX 2060，CUDA9.0.176和CUDNN版本号
    4）系统环境：win7、旗舰版、anaconda虚拟环境python3.6.4
- 安装方式信息：
1）pip安装：pip install paddlepaddle-

[2019-12-03 02:37] 425776024 opened #21496 "方法fluid.layers.Print无法在个人jupyter及百度AIStudio中打印信息"
我在自己的juptery-lab（Version 1.1.4、Python 3）、和百度提供的aistudio上这样测试时，不能打印Print信息，**但是在控制台运行相应py脚本可以成功**：
[code]

[2019-12-03 02:43] tzl1 commented on #21495
已解决，报错原因可能是cuda，下载cuda9.0的补丁搞定！！！[点击此处下载补丁](https://developer.nvidia.com/cuda-90-download-archive?target_os=Windows&target_arch=x86_64&target_version=7&target_type=exelocal)

[2019-12-03 02:43] #21495 closed, assigned to nobody

[2019-12-03 02:52] #21194 closed, assigned to NHZlX

[2019-12-03 03:09] leiyahui opened #21497 "predict 值出现nan，引起cost为nan"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-12-03 04:04] zhangting2020 opened #21502 "group_norm op 计算结果精度存在问题"
# 问题描述：
group_norm的单测脚本中，Python API的测试继承了OpTest。
https://github.com/PaddlePaddle/Paddle/blob/3706ea67f87a291896ca2a85b834af64fca09489/python/paddle/fluid/tests/unittests/test_group_norm_op.py#L196-L222
由于是对Python API的测试，并不会用到OpTest类的方法，因此无需继承OpTest。
当修改为继承unittest.TestCase后，该case会失败。下图显示了失败的是NCHW格式输入的计算：
![image](https://user-images.githubusercontent.com/26615455/70018128-11842b00-15c0-11ea-941a-3

[2019-12-03 06:36] luotao1 opened #21507 "profiler的代码示例跑不通"
### 问题来源
@lanxianghit
### 问题描述
运行[profiler的代码示例]( https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/profiler_cn/profiler_cn.html#profiler)，出现
![image](https://user-images.githubusercontent.com/6836917/70026114-e3abe000-15d9-11ea-912d-a28d67de64ca.png)
版本号：1.6.1，即使用`pip install paddlepaddle-gpu` 安装的。
### 目前现象
使用develop分支编译后，可以正确运行
![image](https://user-images.githubusercontent.com/683691

[2019-12-03 06:37] barry2025 commented on #21479
centos的libstdc++.so.6 最高只到19：
![image](https://user-images.githubusercontent.com/20043808/70025931-5f595d00-15d9-11ea-8158-affb8aba8977.png)

后来换用nvidia/cuda:.v10.1-cudnn7-devel-ubuntu16.04基础环境后，使用时出现：
![image](https://user-images.githubusercontent.com/20043808/70025860-3042eb80-15d9-11ea-93ff-09d1ca5b3a63.png)

请问下如下fluid_inference库的编译环境是什么？
![Uploading image.png…]()

[2019-12-03 06:54] luotao1 opened #21509 "density_prior_box 代码示例错误"
http://ci.paddlepaddle.org/viewLog.html?buildId=231487&tab=buildLog&buildTypeId=YYTest_PrCiCpuPy2&logTab=tree&filter=all&_focus=13387#_state=112
![image](https://user-images.githubusercontent.com/6836917/70027314-d512f800-15dc-11ea-8d6c-ec6a65441bf4.png)

CI没有拦截住。

[2019-12-03 06:55] DDDivano commented on #21507
这个问题在同一代码文件运行完cuda_profiler case后运行profiler会复现，直接运行issue中代码未能复现。
![image](https://user-images.githubusercontent.com/10734244/70027252-adbc2b00-15dc-11ea-86f8-35efc5bfb736.png)

[2019-12-03 07:14] tianshuo78520a commented on #21509
[21467](https://github.com/PaddlePaddle/Paddle/pull/21467) 这个PR是修复这个问题，需要先把有问题的代码示例先修改好才能修复这个问题

[2019-12-03 07:23] sjtubinlong commented on #21479
@barry2025 我们会测试一下两个不同镜像的问题，尽快确认问题。

[2019-12-03 08:47] Aurelius84 commented on #21232
@LeoZhao-Intel
之前问到过跑实验的机器cpu型号，如下：

[code]

[2019-12-03 09:55] LielinJiang commented on #21497
您好！能否根据上述指引，贴下您的代码，并详细描述下您的问题

[2019-12-03 11:35] Aurelius84 commented on #21232
@LeoZhao-Intel
我按照这种方式尝试了下，在cloud上会报如下错误：
[code]

同样的代码在测试机上，可以运行。看了下测试机的glibc版本是`2.12`，想问下，提供的so文件依赖的glibc的版本是多少？是否是版本过高的问题？？

[2019-12-03 11:38] LeoZhao-BJ commented on #21232
这个是libiomp5.so的问题吧，这个文件是来自于paddle whl里面的吗？应该用paddle whl里面自带的libiomp5.so.

@yinghu5

[2019-12-03 11:46] Aurelius84 commented on #21232
单独指定`LD_PRELOAD=~/libmkl2014.so python test_gemm.py`，默认是找不到libiomp5.so。会报错：
[code]
所以，我从paddle的编译目录下copy出libiomp5.so。
在开发机测 `LD_PRELOAD=~/libmkl2014.so:./libiomp5.so python test_gemm.py` 可以正常run。
在cloud上就有问题了。

[2019-12-03 12:05] LeoZhao-BJ commented on #21232
估计是cloud上的libiomp5.so和本地的不一样，这个得问问 @yinghu5

另外，怎么会找不到libiomp5.so呢？你在paddle whl里面发现这个file吗？

[2019-12-03 13:09] sandyhouse commented on #20749
fixed by pr #20942

[2019-12-03 13:09] #20749 closed, assigned to gavin1332, sandyhouse

[2019-12-04 03:15] Aurelius84 commented on #21232
cloud上的libiomp5.so文件是我上传上去的，和本地开发机测试是一样的。

@yinghu5 想问下，这里添加依赖的libiomp5.so是与paddle 依赖的一致的么？

因为目前在cloud上用这种方法跑不了实验，没有办法做进一步验证。

[2019-12-04 04:36] luzm3 opened #21529 "chunk_eval num_infer数量大于实际数量"
hi，我在使用chunk_eval的时候发现，num_infer总会大于实际的值，num_label和num_correct是相等的。
![image](https://user-images.githubusercontent.com/45001329/70112970-452f8580-1692-11ea-82ee-785c706695ab.png)
比如说这个序列，把5555555这个序列也识别成一个chunk，所以在这个序列中识别出两个chunk，但是事实上它只有一个，请问这是怎么回事额，感谢感谢

[2019-12-04 06:29] zhiqiu commented on #21529
您好，请提供一下详细的问题描述，包括：版本、环境，代码等。

[2019-12-04 06:30] lost-little-lamb commented on #21472
没有直接使用main_predictor预测, 而是在多线程的环境下，发送请求是串行，请求随机分配到不同线程中去预测，相同时间应该只有一个线程在执行预测，这种情况没有出core

[2019-12-04 06:52] webary opened #21533 "如何屏蔽WARN: After a series of passes, the current graph can be quite different from OriginProgram"
- 版本、环境信息：
    1）PaddlePaddle版本：v1.4.1
- 训练信息
    1）多机
- 问题描述：没有使用OriginProgram，但是每轮训练都会输出如下报错，请问如何屏蔽该输出，使其更简洁

W1204 14:37:13.829596 40218 graph.h:204] WARN: After a series of passes, the current graph can be quite different from OriginProgram. So, please avoid using the `OriginProgram()` method!
Wed Dec  4 14:37:13 2019[1,12]<stdout>:2019-12-04 14:37:13,830-WARNING:
Wed Dec  4 14:37:13 2019[1,12

[2019-12-04 06:55] webary opened #21534 "node0结束后其他节点不会自动结束"
- 版本、环境信息：
    1）PaddlePaddle版本：v1.4.1
- 训练信息
    1）多机
- 复现信息：train_loop中每一轮评估后检查是否早停了（看test-acc是否n轮未提升），如果早停就跳出循环，并执行self.exe.close()。然后其他节点仍然继续跑着，不会主动停止。
- 问题描述：其他节点仍然执行，资源一直不释放，达不到早停效果。

[2019-12-04 07:08] jiangjiajun commented on #21494
可能跟X2Paddle的版本相关，卸载一下x2paddle，并安装最新版本X2Paddle重新试下
[code]

[2019-12-04 07:11] #21494 closed, assigned to nobody

[2019-12-04 07:39] welfred opened #21539 "Unknown CMake command "cc_library""
1）PaddlePaddle版本：1.6
    2）操作系统：windows10
    3）cmake版本：cmake version 3.15.5
    4）生成Demo_ci的solution文件,  执行：cmake .. -G "Visual Studio 14 2015" -A x64 -DWITH_GPU=ON -DWITH_MKL=ON -DWITH_STATIC_LIB=ON -DCMAKE_BUILD_TYPE=Release -DDEMO_NAME=simple_on_word2vec -DPADDLE_LIB=D:\codes\fluid_inference_install_dir

     会报错：
     -- Selecting Windows SDK version  to target Windows 10.0.18362.
CMake Error

[2019-12-04 09:34] luzm3 commented on #21529
版本1.5.1post97
环境是Linux？
![image](https://user-images.githubusercontent.com/45001329/70130872-555c5a80-16bc-11ea-8130-f3e9f80c6d3b.png)

![image](https://user-images.githubusercontent.com/45001329/70130801-2ba33380-16bc-11ea-8b58-9362c1d03dd3.png)

[2019-12-04 09:40] luzm3 commented on #21529
![image](https://user-images.githubusercontent.com/45001329/70131370-285c7780-16bd-11ea-9e60-419b61b45c56.png)
这个是我的字典

[2019-12-04 10:27] yinghu5 commented on #21232
@Aurelius84 , 云上或者其他机器上有装MKL 2014吗。如果有，在它的目录里面有个libiomp5.so　用这个试试？
还有这个 路径： ./libiomp5.so  是和这个一样的吗/home/disk1/normandy/maybach/app-user-20191203185711-11915/workspace/env_run/thirdparty/libiomp5.so  目前错误信息是这个libiomp5 是高版本。

[2019-12-04 11:12] bingyanghuang commented on #21492
图中variable混乱问题：
用benchmark repo跑ernie的时候无论是fp32模型还是int模型，都会出现variable连接到错误的op上的情况，这个可能会影响ernie 精度的输出。如下图所示，左图为正确的输出，右图为apply pass前保存下来的图：
![image](https://user-images.githubusercontent.com/33643817/70137600-3fa16200-16c9-11ea-824d-70a377332690.png)
混乱的variable如下图所示：
![image](https://user-images.githubusercontent.com/33643817/70137881-fac9fb00-16c9-11ea-96be-d3199a1b3817.png)

[2019-12-04 11:34] zhiqiu commented on #21539
@silingtong123 请看下这个windows编译问题。

[2019-12-04 11:42] silingtong123 commented on #21539
请给出具体复现环境，包括但不限于预测库版本，demo文件地址，CPU信息，GPU信息，CUDA， CUDNN版本等等

[2019-12-04 11:42] silingtong123 commented on #21539
请给出具体复现环境，包括但不限于预测库版本，demo文件地址，CPU信息，GPU信息，CUDA， CUDNN版本等等

你应该在cmake命令指定CUDA的库目录，例如-DCUDA_LIB=“D:\\cuda\\lib\\x64”

[2019-12-04 12:26] zhiqiu commented on #21533
你好，您可以升级到Paddle 1.6，新版本中没有这些WARN。

[2019-12-04 12:36] zhiqiu commented on #21534
您好，多机训练建议使用下fleet接口。[使用FleetAPI进行分布式训练](https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/howto/training/fleet_api_howto_cn.html)

[2019-12-04 21:09] #21155 closed, assigned to nobody

[2019-12-05 02:19] zhhezhhe commented on #20870
same problem!
[code]

[2019-12-05 03:06] barry2025 opened #21557 "自己编译Release1.6分支之后Int8无法自动加载calibration参数"
采用如下官方fluid_inference库：
![image](https://user-images.githubusercontent.com/20043808/70200182-98ffa480-174e-11ea-89fa-c3542c6f616f.png)
使用如下设置方式：
![image](https://user-images.githubusercontent.com/20043808/70200257-c3e9f880-174e-11ea-836d-56e985e890d0.png)
运行一次生成校准表后，再运行一次之后infer时间明显加快

自己编译cuda10版本的fluid_inference库，同样的代码，每次运行都在生成校准表。编译version如下：
![image](https://user-images.githubusercontent.com/2

[2019-12-05 03:15] welfred commented on #21539
@silingtong123
指定CUDA库目录后问题依旧。
操作系统：win10 家庭中文版
CPU：i5-9400F @2.90G
预测库版本：GIT COMMIT ID: 53f1e024d4dcffe76d5b8b7a996eb7ed2ac802cd
demo文件路径：D:\Paddle\paddle\fluid\inference\api\demo_ci
CUDA:cuda_10.1.243_426.00_win10
GPU: GTX1660
CUDNN:windows10-x64-v7.6.5.32

[2019-12-05 03:25] cryoco commented on #21557
请问是否有将生成的校准表拷贝至模型目录下呢？参考[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/paddle_tensorrt_infer.html#a-name-paddle-trt-int8-paddle-trt-int8-a)第二步，
确认下第二次及之后运行时模型文件夹下存在_opt_cache目录

[2019-12-05 03:28] barry2025 commented on #21557
![image](https://user-images.githubusercontent.com/20043808/70201633-2f819500-1752-11ea-8e5d-c275a4515cfc.png)
模型路径指定为这个就行了是吧，确认是有的。同样的模型地址和代码，采用官方提供的fluid_inference是没有问题的，我自己编译之后有问题，想确认下是代码更新的问题还是我编译的开关问题

[2019-12-05 03:38] gentelyang opened #21559 "分布式exe.train_from_dataset()中新加的fetch_handler应用不方便"
fetch_handler中的每60秒输出一次是否可以改为按照每多少个batch_id输出一次？

[2019-12-05 03:42] JepsonWong commented on #20870
In order to reduce the log, paddle redirects unnecessary logs to the file, but this will cause problems in some minor versions of Python. **("ValueError: underlying buffer has been detached")**
This can be solved by deleting the code of the redirect part.
**Solution:**
1. Delete the redirection code in the **source directory** **python/setup.py.in** file.
**Remove the following code:**
![image](ht

[2019-12-05 04:07] cryoco commented on #21557
能否贴一下第一次运行之后的运行还在生成校准表的log

[2019-12-05 04:14] barry2025 commented on #21557
![image](https://user-images.githubusercontent.com/20043808/70203649-90ac6700-1758-11ea-9df0-3f0573a962db.png)
这是运行万一次之后显示的保存cali文件，然后第二次运行的时候infer速度和第一次生成的时候一致，特别慢

[2019-12-05 05:29] NHZlX commented on #21557
_opt_cache下是否有art_calib_* 这些文件，贴一下吧

[2019-12-05 05:58] barry2025 commented on #21557
![image](https://user-images.githubusercontent.com/20043808/70207417-b12eee00-1765-11ea-947d-b0ad2d98a39d.png)
确实是有的，重新运行一次，模型地址指向带有_opt_cache的模型，运行到最后还会出现Generating TRT Calibration data。发现第二次之后，第三次再运行又可以加载了，cali文件如下：
![image](https://user-images.githubusercontent.com/20043808/70207950-349d0f00-1767-11ea-828d-478320b6b3d3.png)
所以这个跟生成的校准文件会有关系吗？

[2019-12-05 06:04] guoshengCS commented on #21529
使用以下代码能够复现问题
[code]

原因的话还在排查中，我们看下是否有bug

[2019-12-05 06:15] luzm3 commented on #21529
👌，谢谢！

[2019-12-05 06:16] kolinwei commented on #21559
可以考虑下灵活的配置

[2019-12-05 06:28] silingtong123 commented on #21539
你使用的预测库是自己编译的还是官方下载的预测库？官方下载地址https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/windows_cpp_inference.html

[2019-12-05 06:29] silingtong123 commented on #21539
你使用的预测库是自己编译的还是官方下载的预测库？官方下载地址https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/windows_cpp_inference.html

[2019-12-05 06:31] welfred commented on #21539
下载的是官方的，没有自己编译，下载的是这个cuda10.0_cudnn7_avx_mkl

[2019-12-05 06:48] silingtong123 commented on #21539
你执行cmake命令的目录是D:\Paddle\paddle\fluid\inference\api\demo_ci\build吗？看起来你在D:\Paddle\paddle\fluid\inference\api\build下执行的CMAKE命令，你确认一下？正常情况下不会使用到details/CMakeLists.txt文件，只会使用到demo_ci\CMakeLists.txt文件

[2019-12-05 07:06] barry2025 commented on #21557
我自己也无法复现，重新删除_opt_cache，再跑两次也不行了，跑了很多次，生成了一堆calib文件：
![image](https://user-images.githubusercontent.com/20043808/70211502-3a4b2280-1770-11ea-86ef-ff90b8454630.png)
成功运行一次int8 inference后又开始生成calib了：
![image](https://user-images.githubusercontent.com/20043808/70211569-69619400-1770-11ea-9886-e91c866df87c.png)
如果找不到，应该每次都会重新运行calib，但是这个是成功运行一次之后又开始calib了，实在搞不懂是有啥问题

[2019-12-05 07:16] welfred commented on #21539
完全按照官方步骤，在D:\Paddle\paddle\fluid\inference\api\demo_ci下建立了build目录，然后在这个目录里面执行cmake

[2019-12-05 07:21] silingtong123 commented on #21539
有完整的log截图吗？包括目录的
类似
![image](https://user-images.githubusercontent.com/35439432/70212766-e130be00-1772-11ea-8fd2-26257fa6d34e.png)
我在D:\Paddle\paddle\fluid\inference\api\build下执行CMAKE命令，能复现你的问题，你在D:\Paddle\paddle\fluid\inference\api\demo_ci\build下使用CMAKE命令只会使用到demo_ci\CMakeLists.txt，还可能使用到demo_ci子目录下的CMakeLists.txt文件，但此处demo_ci没有除build外的子目录，除非你修改了CMAKE文件

你的paddle源码中最新的commit id信息是？

[2019-12-05 07:40] welfred commented on #21539
没有修改过CMAKE文件，原始代码中demo_ci目录下也没有子目录，build是自己建立的。
commit id：6ce49eea79b11ff258514b5847e8089b6ab12ef7

[2019-12-05 07:44] barry2025 commented on #21557
![image](https://user-images.githubusercontent.com/20043808/70214182-ed6a4a80-1775-11ea-8052-9d38a6157570.png)

![image](https://user-images.githubusercontent.com/20043808/70214057-b136ea00-1775-11ea-84a1-05b47d9b84bb.png)

这是连续跑的两次，前面一次还显示RUN Paddle TRT int8 calibration mode...，然后再跑一次就出现This process is generating calibration table for Paddle TRT int8...，

[2019-12-05 07:45] silingtong123 commented on #21539
希望您能提供完整的log信息

[2019-12-05 07:52] welfred commented on #21539
详见附件
[CMakeOutput.log](https://github.com/PaddlePaddle/Paddle/files/3925640/CMakeOutput.log)

[2019-12-05 07:58] xixiaoyao opened #21568 "如何释放一个建好的计算图（program）"
如题，一个program建好后，不需要了，那么如何将这个program以及里面的vars都销毁呢？（目的是为了销毁旧的vars，建立新的同名vars）

Thanks

[2019-12-05 08:06] silingtong123 commented on #21539
你有CMAKE命令执行时的完整信息吗
类似于这样的截图
![image](https://user-images.githubusercontent.com/35439432/70215340-391df380-1778-11ea-99e0-90436943549d.png)
或者使用重定向方式生成的log文件
在build目录下执行重定向的CMAKE命令：
cmake .. -G "Visual Studio 14 2015" -A x64 -DWITH_GPU=ON -DWITH_MKL=ON -DWITH_STATIC_LIB=ON -DCMAKE_BUILD_TYPE=Release -DDEMO_NAME=simple_on_word2vec -DPADDLE_LIB=D:\Download\inference_lib\fluid_inference_install_dir_16

[2019-12-05 08:12] Weili-NLP opened #21570 "模型预测过程报错PaddleCheckError: Cannot find fetched variable (concat_25.tmp_0) (Perhaps the main_program is not set to ParallelExecutor)"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1
    2）GPU：Tesla V100、CUDA 9.2, CUDNN 7.6
    4）系统环境：Centos 7, Python 3.6.9

- 错误信息：

![d1d0ada4dc9de3159ffabe2ed](https://user-images.githubusercontent.com/25901705/70216264-2a384080-177a-11ea-9e05-4e2d58b8a966.png)

复现信息：
`main_prog = fluid.default_main_program()
 startup_prog = fluid.default_startup_program()

with fluid.program_guard(main_prog, startup_prog

[2019-12-05 08:20] Weili-NLP opened #21572 "Paddle-gpu 1.6.1 中label_smooth有bug，使用label_smooth时模型loss很大而且不断上升，去掉后loss正常下降"
   1）PaddlePaddle版本：1.6.1
    2）GPU：Tesla V100, CUDA 9.2, CuDNN 7.6
    3）系统环境：CentOS 7, Python 3.6.9
- 训练信息
    1）单机多卡
    2）正常
    3）Operator信息
- 复现信息：
`label = layers.label_smooth(label=layers.one_hot(input=label, depth=vocab_size),
                                    epsilon=label_smooth_eps)`
`cost = layers.softmax_with_cross_entropy(
        logits=predict,
        label=label,
        soft_

[2019-12-05 08:41] welfred commented on #21539
我是按照你们帮助文档中的目录建立build，跟你的例子差了一级目录。
我的目录是：D:/Paddle/paddle/fluid/inference/api/demo_ci/build
你的目录是：D:/Paddle/paddle/fluid/inference/api/build
[mylog.txt](https://github.com/PaddlePaddle/Paddle/files/3925775/mylog.txt)

[2019-12-05 08:46] yinghu5 commented on #21232
[libmkl2014.zip](https://github.com/PaddlePaddle/Paddle/files/3925829/libmkl2014.zip)

@Aurelius84  我打了一个不带openmp 的包。 先在线下试试， 然后上线。

[2019-12-05 08:54] pmajchrzak opened #21574 "tests analysers stops display values of fps and accuracy"
The most probably this commit:
https://github.com/PaddlePaddle/Paddle/commit/122b37ce62b0192dab18a228dc8ad42c8d4b8229
causes test analysers:
test_analyzer_image_classification, test_analyzer_int8_image_classification, etc.
stops to display pieces of information about test results: accuracy and fps.

now is:
[code]
but should be:
[code]

[2019-12-05 08:58] silingtong123 commented on #21539
根据你的log信息，你并没有在build目录里执行cmake命令，而是在D:\Paddle\paddle\fluid\inference\api\demo_ci目录下执行的，如你log图中所示
![image](https://user-images.githubusercontent.com/35439432/70219297-8b164780-177f-11ea-982d-ddb6fa22e263.png)
正常情况下，你的CMakeFiles文件夹，应该在
D:\Paddle\paddle\fluid\inference\api\demo_ci\build
![image](https://user-images.githubusercontent.com/35439432/70219611-14c61500-1780-11ea-8da7-7dae05d7a143.png)
而不是D

[2019-12-05 09:01] NHZlX commented on #21557
可能是bug，branch是develop的代码么，另外方便发一下模型么

[2019-12-05 09:41] barry2025 commented on #21557
branch采用的是release/1.6 采用develop分支编译后，trt_fp32没问题，int8报错：
![image](https://user-images.githubusercontent.com/20043808/70223136-23afc600-1786-11ea-85d9-caef41ebb976.png)

模型链接，里面包含_opt_cache文件：https://bj.bcebos.com/v1/mct-imagedb/tangxin-bos/yolov3_r34_voc.tar.gz

[2019-12-05 09:43] welfred commented on #21539
我确定是在D:\Paddle\paddle\fluid\inference\api\demo_ci\build目录里执行cmake命令的，如图所示：
![baidu1](https://user-images.githubusercontent.com/4965297/70223271-65407100-1786-11ea-92c5-d50bc2a605b8.jpg)
build目录是空的，没有CMakeList.txt文件，“cmake..“中的“点点”的意思是到上一层目录去找CMakeList.txt文件？
我的目录结构如图所示：
![baidu2](https://user-images.githubusercontent.com/4965297/70223396-a20c6800-1786-11ea-8300-849200049cfd.jpg)

[2019-12-05 10:13] silingtong123 commented on #21539
你应该保持你demo_ci下的目录干净，删除demo_ci目录下CMakeFiles和CMakeCachE.txt文件 ,然后在清空build目录重新运行CMAKE命令

或者你可以重新下载paddle源码，重新执行一次命令

cmake .. 会到上一层目录中找cmakelist.txt文件,但外部的错误文件会影响在build中cmake命令的执行，经验证在外部demo_ci有错误文件的情况下，会出现该这样的情况，删除文件后可正常构建

[2019-12-05 10:18] welfred commented on #21539
都清空过无数次了，没用。所以你跟我纠结这么久，其实并不是路径错误的问题，而是可能别的原因。
你验证的过程中，demo_ci 删除了哪个错误文件可正常构建？

[2019-12-05 10:21] silingtong123 commented on #21539
我这边删除demo_ci目录下的CMakeFiles文件夹和CMakeCache.txt文件，在空的build目录中可正常构建

正常情况下demo_ci目录下不应该存在CMakeFiles文件夹和CMakeCache.txt文件

[2019-12-05 10:47] GaoWei8 commented on #21570
可以复查一下这个变量(cancat25.temp_0)是否使用到。打印所有varible看一下。

[2019-12-05 11:29] cryoco commented on #21574
Does this happen in local env or Paddle CI? I ran these analyzer tests locally(e.g. by `./test_analyzer_image_classification --infer_model=/Paddle/build/third_party/inference_demo/resnet50/model/`), and the accuracy and fps info is still printed on screen.
![image](https://user-images.githubusercontent.com/12407750/70231330-16e69e80-1795-11ea-9a99-af711cbb210c.png)
The commit only provides a confi

[2019-12-05 11:35] pmajchrzak commented on #21574
This lack of results was revealed to us last night during automated nightly tests. Our investigation showed that the perpetrator may be just this commit.

[2019-12-05 11:38] pmajchrzak commented on #21574
sample run command:
[code]

[2019-12-05 12:05] wojtuss commented on #21123
@ceci3 , @qingqing01
After the latest changes by @jczaja (NHWC support, already merged to the `develop` branch), your problem seems to be resolved. Now, when I run the script with the latest `develop` Paddle branch, a `jit:avx512` implementation is being used for convolution, and on my machine the test shows that with MKL-DNN enabled the performance is 2x better then with MKL-DNN disabled. Please,

[2019-12-05 12:11] cryoco commented on #21574
It is likely to be fixed in [PR#21573](https://github.com/PaddlePaddle/Paddle/pull/21573).
You can build with the latest develop branch and let us know if it still happens.

[2019-12-05 12:17] Weili-NLP commented on #21570
通过下面得函数打印test_prog，里面包含变量(cancat25.temp_0)
def print_prog(prog):

    fw = open('program.txt', 'w')
    for name, value in sorted(six.iteritems(prog.block(0).vars)):
        fw.write('name={} value={}'.format(name, value))
    for op in prog.block(0).ops:
        fw.write("op type is {}".format(op.type))
        fw.write("op inputs are {}".format(op.input_arg_names))
        fw.write("op outputs a

[2019-12-05 12:19] luotao1 commented on #21509
close due to #21506 and #21467

[2019-12-05 12:19] #21509 closed, assigned to shippingwang, Boyan-Liu

[2019-12-05 12:27] GaoWei8 commented on #21570
可以复查一下这个变量(cancat25.temp_0)是否使用到。打印所有varible看一下。
组完网络，在run之前print，可以找到这个变量吗？

[2019-12-05 12:30] Weili-NLP commented on #21570
就是在run之前打印的，打印出来有那个变量。只是compiled_test_prog 无法打印，没有block属性。

[2019-12-05 12:47] GaoWei8 commented on #21570
fluid.CompiledProgram(）这个接口会进行优化，使用普通接口paddle.fluid.Program试一下呢？

[2019-12-05 13:43] wanghaoshuang commented on #21572
请问您的模型和数据是？

[2019-12-05 14:25] Weili-NLP commented on #21572
基于transformer结构的文本生成模型，数据是文本摘要数据集

[2019-12-06 02:31] littlepan0413 opened #21591 "同一个进程启动两个模型报错，已加入scope"
1、按照教程修改如下，加入scope
![image](https://user-images.githubusercontent.com/6512760/70290552-3b815b80-1813-11ea-9fff-dcfc50bc34ae.png)
启动会报错
![image](https://user-images.githubusercontent.com/6512760/70290584-56ec6680-1813-11ea-972d-af025b83231b.png)

2、把后面的run也加入到scope范围内，运行没问题，预测报错
![image](https://user-images.githubusercontent.com/6512760/70290613-72f00800-1813-11ea-9d20-f3e60d682b9a.png)
预测报错信息
![im

[2019-12-06 03:06] GaoWei8 commented on #21568
使用的是Python代码吗？可以不引用定义好的program或者var或设置为0

[2019-12-06 03:11] luotao1 opened #21594 "int8 unit-test fails on 6148 machine"
The PR_CI_Coverage is 5117 machine, and we add 6148 machine for nightly jobs.
### PR_CI_Manylinux_Coverage
This job use `cmake .. -DWITH_GPU=ON`.

http://ci.paddlepaddle.org/viewLog.html?buildId=238851&buildTypeId=Paddle_PaddleManylinux_PrCiManylinuxCoverage
- test_analyzer_int8_vgg16 (OTHER_FAULT)
[code]
- test_qat_int8_vgg19_mkldnn(Failed)
[code]
- test_analyzer_qat_performance_benchmark(OTHER_F

[2019-12-06 03:20] luotao1 opened #21595 "ngraph unit-test fails on 6148 machine"
The PR_CI_Coverage is 5117 machine, and we add 6148 machine for nightly jobs.
### PR_CI_Manylinux_Coverage
This job use `cmake .. -DWITH_GPU=ON`.

http://ci.paddlepaddle.org/viewLog.html?buildId=238851&buildTypeId=Paddle_PaddleManylinux_PrCiManylinuxCoverage
- test_batch_norm_ngraph_op
[code]
- test_mean_ngraph_op
[code]

[2019-12-06 05:14] xygaoyuan opened #21597 "sequence_pool op 的相关疑问~"
使用paddle版本：v1.6.1

问题：
一个2-level lod-tensor经过 sequence-pool 处理按道理应该变成 1-level lod-tensor，但是输出变量的lod-level = 0

sequence_pool op 代码：
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/sequence_ops/sequence_pool_op.cc
这个代码中好像没看到 SetLoDLevel 操作，是否忘记设置输出变量的lod-level?

盼回复，谢谢

[2019-12-06 05:23] yiicy commented on #21591
https://github.com/PaddlePaddle/Paddle/issues/16661 请参考这个链接试试，应该使用fluid.core.Scope()而不是fluid.Scope()

[2019-12-06 05:39] xixiaoyao commented on #21568
是python。哪怕不引用旧的program，也会报错，因为创建新的program的时候一些新创建的var在旧的program里面已经存在了，会提示已经存在。你说的设置为0是怎么做呢？意思是释放旧的vars吗？

[2019-12-06 05:41] chalsliu opened #21598 "打开EnableMemoryOptim开关，如果EnableMKLDNN预测，terminate called after throwing an instance of 'mkldnn::error'"
在打开EnableMemoryOptim开关的情况下，如果EnableMKLDNN预测
有错误
terminate called after throwing an instance of 'mkldnn::error'
  what():  std::exception

[2019-12-06 06:01] baojun-nervana commented on #21595
@LeoZhao-Intel Do you have a 6148 system to test this out? We don't have this system around.

[2019-12-06 06:17] LeoZhao-BJ commented on #21595
@baojun-nervana is NGRAPH enabled by default? I saw ngraph is not in cmake, why it is enabled?
I will get a chance to run this.

[2019-12-06 06:21] luotao1 commented on #21595
We open `cmake .. -DWITH_NGRAPH=ON` in our CI to ensure the continuous correctness of Ngraph related codes.

[2019-12-06 06:38] whiker92 opened #21601 "训练模型，跑过几轮后报错paddle.fluid.core.EnforceNotMet或进程killed"
linux虚拟机环境，内存8G

报错信息：
![报错](https://user-images.githubusercontent.com/13618283/70301681-04707180-1836-11ea-88b6-a539334c6546.JPG)

[2019-12-06 06:39] littlepan0413 commented on #21591
报错
![image](https://user-images.githubusercontent.com/6512760/70301725-20741300-1836-11ea-85d5-3e0c0374982f.png)

[2019-12-06 06:40] itmajing opened #21602 "yolov3模型训练过程中卡住不动"
- 标题：yolov3模型训练过程中卡住不动
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1.post107
    2）CPU：i7 7700k
    3）GPU：1080ti
    4）系统环境：win10 conda4.7.12 python3.7.5
- 训练信息
    1）单机单卡
    2）显存信息
    3）Operator信息
- 复现信息：使用PaddleDetection中的yolov3模型训练
- 问题描述：
        使用yolov3_r50vd_dcn模型, 自定义coco数据集, 训练到20000多轮时, 卡住不动;
        使用yolov3_darknet模型, 自定义coco数据集, 训练到9000多轮时, 卡住不动;
![image](https://user-images.githubuserconte

[2019-12-06 06:49] wwjjy opened #21603 "动态图代码在paddle 1.5中可以正常训练，在paddle 1.6中经过一个step会抛出梯度维度不一致的异常"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 1.5、paddle 1.6
    2）系统环境：Python 3.7
- 训练信息
    1）单机
    2）显存信息
    3）Operator信息
- 复现信息：该问题详细代码以及复现方式可在aistudio中查看，项目地址为：https://aistudio.baidu.com/aistudio/projectdetail/201493       （目前为1.5版本，可fork后切换到1.6）
- 问题描述：上述项目在paddle 1.5的环境下可以正常训练，但是在paddle 1.6环境中经过一个step后会抛出异常

[2019-12-06 07:03] littlepan0413 commented on #21591
paddle版本1.5

[2019-12-06 07:07] yiicy commented on #21597
请问这个问题是在组网阶段报的错吗

[2019-12-06 07:08] xygaoyuan commented on #21597
是的

[2019-12-06 07:08] xygaoyuan commented on #21597
是的，组网阶段报的错误

[2019-12-06 07:21] LeoZhao-BJ commented on #21595
I can't reproduce, since on my local 6148, there is no GPU, so I disabled GPU.
and from error log, seems it is related with CUDA.

[2019-12-06 07:25] dtg2010 commented on #21368
我用的是&nbsp;草稿2019-11-26

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "cyj1986"<notifications@github.com&gt;;
发送时间: 2019年11月27日(星期三) 上午9:24
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "●大头鬼"<24440799@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 训练模型出错 (#21368)

请问您用的是paddle什么版本？

—
You are receiving this because you authored the th

[2019-12-06 07:30] GaoWei8 commented on #21568
组网的时候，定义自己的Program就行，不要写到默认的program里面，可以参考https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/language_model/train.py#L123
![b4487d9341e2a0be1c44e8c31](https://user-images.githubusercontent.com/53294385/70304690-75675780-183d-11ea-95fb-aa09c178a620.png)

[2019-12-06 07:37] pmajchrzak commented on #21574
Thank you (:
Now all works

[2019-12-06 07:52] OleNet opened #21605 "构造对抗样本时，stop_gradient to True for its input and output variables using var.stop_gradient=True."
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）CPU：-
    3）GPU：P40 / CUDA 9.0 / CUDNN 7.3
    4）系统环境：centos 6.3/ python 2.7
- 训练信息
    1）单机，单卡: 都有
    2）显存信息: 22GB
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码

[2019-12-06 07:53] OleNet commented on #21605
![image](https://user-images.githubusercontent.com/3206718/70305900-751c8b80-1840-11ea-8906-c408b88ba044.png)

给定如上代码，运行时会出现如图中的错误

[2019-12-06 07:57] luotao1 commented on #21594
This error occurs when we add `pyramid_hash_op` in #20822. There are a lot of unit-tests fails on `Child killed`, see http://ci.paddlepaddle.org/viewLog.html?buildId=203802&tab=buildLog&buildTypeId=Paddle_PrCiCoverage&logTab=tree&filter=all, but we don't find the reason.

We skip the error by compile `pyramid_hash_op` only on `WITH_COVERAGE=OFF`.
https://github.com/PaddlePaddle/Paddle/blob/8996652

[2019-12-06 08:01] LeoZhao-BJ commented on #21595
@baojun-nervana  why ngraph has cuda test case?

[2019-12-06 08:03] #21574 closed, assigned to nobody

[2019-12-06 08:59] #20021 closed, assigned to tensor-tang, zhaoyuchen2018

[2019-12-06 09:00] zhaoyuchen2018 commented on #20021
FIxed, merged to develop and 1.6.2

[2019-12-06 09:38] OleNet commented on #21605
或者换个问题， 使用pyreader(异步读数据)，有什么好的推荐实践构造对抗样本呢

[2019-12-06 09:39] barry2025 commented on #21557
今天早上重新切换release/1.6 分支， commit: 0a4002f，运行官方sample例子fluid_generate_calib_test 对mobilenet进行校准 mobilenetv1出现以下问题，但是校准集可以生成：
![image](https://user-images.githubusercontent.com/20043808/70312737-2fb38a80-184f-11ea-9266-f74646e81d7d.png)

运行yolov3 int8出现如下问题，trt_fp32和trt_fp16没有问题
![image](https://user-images.githubusercontent.com/20043808/70311535-caf73080-184c-11ea-85eb-ec6a09eef24e.png)
这是采用的config参数

[2019-12-06 09:42] NHZlX commented on #21557
此问题已经复现，正在看

问题已修复。请拉取最新的release/1.6进行测试。

https://github.com/PaddlePaddle/Paddle/pull/21622
https://github.com/PaddlePaddle/Paddle/pull/21619

[2019-12-06 09:48] yiicy commented on #21602
可否提供下显存的信息

[2019-12-06 10:05] parap1uie-s commented on #21572
label_smooth本来就是一个抗过拟合的方法吧，参数给得过高也会无法正常拟合？

[2019-12-06 10:13] yiicy commented on #21605
ai stuidio上有个公开项目可以参考一下https://aistudio.baidu.com/aistudio/projectdetail/29156

[2019-12-06 10:39] yiicy commented on #21601
可否在训练过程中实时查看一下内存占用，查看一下是不是内存不足造成的问题

[2019-12-06 10:48] OleNet commented on #21605
我理解这份代码用的是非异步的reader, 虽然可以很方便的实现infogan，
但是不满足我的需求。

假设infogan这份代码可以简化成如下流程：
[code]

但是我们的项目中用的都是
https://github.com/PaddlePaddle/ERNIE/blob/develop/ernie/run_classifier.py#L244
基于异步机制的pyreader
而且我是要对上面伪代码中的**data**进行操作，获得 data_adv (即adversarial样本，可以参考基于loader的paddle adv构造[方法](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/adversarial/advbox/attacks/gradient_method.py#L108) )

类似于
[c

[2019-12-06 11:01] jczaja commented on #20964
Current status: All requested FWD ops should have NHWC support now e.g. conv, conv_transpose, LRN, pool2d, batch_norm. I working on enabling GRAD ops for NHWC .

[2019-12-06 11:07] zhwesky2010 opened #21612 "建议：Paddle中存在四个与官方仓库不一致的第三方依赖"
建议：Paddle中存在四个与官方仓库不一致的第三方依赖，需要进行修改后才能编译。

- 当前使用了多种方法来修改，使用的方法存在争议。

分别是：
1. eigen [官方Repo](https://github.com/eigenteam/eigen-git-mirror)
  改动了1个文件
2. warpctc [官方Repo](https://github.com/baidu-research/warp-ctc)，属于百度的官方repo，提PR的可能性最大，对patch_command的负面影响（新增额外代码）也最大。
  改动了11个文件
3. cares [官方Repo](https://github.com/c-ares/c-ares.git)
  改动了1个文件
4. grpc [CDN URL](http://paddlepaddledeps.bj.bcebos.com

[2019-12-06 17:06] leiyahui commented on #17502
有了什么方法呢，求教

[2019-12-06 18:44] baojun-nervana commented on #21595
We should not run cuda test case. We force tests to run on CPU place if it is ngraph enabled

[2019-12-08 07:12] Anikily opened #21618 "paddle有conv1d层吗"
查找了doc发现没有Conv1d，是没有找到吗，还是暂时没有，或者有其他的方式来代替。

[2019-12-08 10:13] gfwm2013 commented on #21618
目前没有这个API，如果想实现conv1d的功能，可按如下顺序进行操作：先进行unsqueeze，再conv2d，最后进行squeeze操作即可。

[2019-12-09 01:02] aiyouwoqu123 opened #21627 "预训练网络为什么不能当作中间模块使用？"
paddlepaddle 1.5.1
在训练过程中，需要加载自己预训练好的模型，来当作当前任务中的一个inference模块，但是出现了以下问题
<img width="711" alt="截屏2019-12-09上午8 59 17" src="https://user-images.githubusercontent.com/35164433/70399828-3534ee80-1a62-11ea-999c-054495fe89fd.png">
<img width="1299" alt="截屏2019-12-09上午8 59 10" src="https://user-images.githubusercontent.com/35164433/70399830-38c87580-1a62-11ea-8afd-0b7293b36d33.png">

[code]
[code]

[2019-12-09 01:45] bingyanghuang commented on #16949
This task is pending will create the new issue when we need to do this.

[2019-12-09 01:45] #16949 closed, assigned to nobody

[2019-12-09 01:51] bingyanghuang commented on #17157
Close this issue because n-graph doesn't support transformer not yet. This issue will be automatically solved when n-graph enable transformer.

[2019-12-09 01:51] #17157 closed, assigned to nobody

[2019-12-09 01:53] bingyanghuang commented on #17003
This issue exists long time no solved. If there is any new tasks related to this issue, will open an new issue to track this.

[2019-12-09 01:53] #17003 closed, assigned to luotao1

[2019-12-09 01:55] bingyanghuang commented on #18005
We have proposed the solution to this issue, I think we can close this issue from Intel side.

[2019-12-09 01:55] #18005 closed, assigned to Sand3r-, zhhsplendid, kbinias

[2019-12-09 01:56] #18708 closed, assigned to luotao1, jczaja

[2019-12-09 02:35] willthefrog commented on #21493
please take a look @luotao1

[2019-12-09 03:04] willthefrog commented on #21490
可以尝试用两套startup和main program分别加载两个模型, 然后手动进行`optimizer.backward`获得gradient。注意Input variable 需要指定`stop_gradient=False` 保证梯度传导。

[2019-12-09 03:09] itmajing commented on #21602
@yiicy
![image](https://user-images.githubusercontent.com/24891592/70404253-64545b80-1a74-11ea-8818-7fd93d368874.png)

[2019-12-09 03:21] whiker92 commented on #21601
确实是内存不足导致的。节点开的比较多，降低节点可正常运行。
不单是节点多的问题，而是embedding维度太高导致。

[2019-12-09 03:21] #21601 closed, assigned to nobody

[2019-12-09 03:25] zhaoyuchen2018 commented on #21496
Print函数是打印到std::cout，notebook是一个python环境，一般会打印到sys.stdout，这两个不是同一个东西，sys.stdout没有访问标准stream的权限，所以在notebook里面看不到std::cout的输出。不过你可以切换到console执行python xxx.py来打印。

[2019-12-09 03:26] bingyanghuang commented on #19059
Based on the [QAT 1.0 doc](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/slim/tests/QAT_mkldnn_int8_readme.md) , final accuracy diff for Mobilnet-v1 is acceptable and besides we are transferring to use QAT 2.0 for users. This issue can be closed.

[2019-12-09 03:26] #19059 closed, assigned to nobody

[2019-12-09 03:28] luotao1 commented on #21594
### PR_CI_Manylinux_Coverage
This job use `cmake .. -DWITH_GPU=ON`.
- test_qat_int8_vgg19_mkldnn
   - Dec 7th: http://ci.paddlepaddle.org/viewLog.html?buildId=239921&buildTypeId=Paddle_PaddleManylinux_PrCiManylinuxCoverage&tab=buildLog&_focus=13080
[code]
- test_analyzer_qat_performance_benchmark
   - Dec 7th: http://ci.paddlepaddle.org/viewLog.html?buildId=239921&buildTypeId=Paddle_PaddleManylinu

[2019-12-09 03:29] bingyanghuang commented on #18915
No resources for this issue yet, will create the new issue when this problem needs to be solved.

[2019-12-09 03:29] #18915 closed, assigned to nobody

[2019-12-09 04:43] zhhezhhe opened #21630 "动态图搭网络，参数名字不断叠加"
model define:
[code]
print name of parameters:
[code]
results:
[code]
I want it be:
[code]
But it is
[code]

[2019-12-09 05:19] banma12956 opened #21632 "PaddleCheckError: Cannot find fetch variable in scope"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1
    2）CPU：Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
    4）系统环境：Mac OS 10.14.6，Python 3.6.9
- 训练信息
    1）单机
- 复现信息：如为报错，请给出复现环境、复现步骤

[code]

- 问题描述：报错信息

[code]

[2019-12-09 05:49] bingyanghuang commented on #20505
Close this issue since no update for a long time, if needs, will re-open this issue.

[2019-12-09 05:49] #20505 closed, assigned to luotao1, jczaja

[2019-12-09 05:56] bingyanghuang commented on #21594
@ddokupil Can you reproduce this random fails in local machine?

[2019-12-09 05:58] bingyanghuang commented on #19555
@baojun-nervana Hi, baojun. Do you have any updates on this issue? Can I close this issue?

[2019-12-09 06:13] bingyanghuang commented on #20778
Bert configuration we can use default one in the UT. Since we are working on ERNIE, will suspect ERNIE in our CE system. And Baidu will give us their CE script when it's ready.

[2019-12-09 06:13] #20778 closed, assigned to nobody

[2019-12-09 06:24] bingyanghuang commented on #21173
Hi, darek. Baidu uses python script for training model CE.

[2019-12-09 07:07] DDDivano commented on #21630
用的是什么版本的paddle？可以贴一下完整代码吗？我使用1.6.1和develop分支代码没有出现参数名字嵌套的情况。

[2019-12-09 07:15] banma12956 commented on #21632
moving alpha inside test_program can solve the problem

[2019-12-09 07:16] #21632 closed, assigned to nobody

[2019-12-09 08:13] jeng1220 commented on #20870
@JepsonWong,
Thanks for the workaround.

@JiabinYang, @wzzju,
Could you fix this problem by robust way?

[2019-12-09 08:47] xixiaoyao opened #21636 "paddle中如何实现批量的参数复用？"
手里有三个transformer（设为A，B，C)希望一起训练，其中希望B和C共享参数，A自己一份参数。但是我看到paddle的transformer实现里都是用param_attr来命名了每个参数的名字的，因此直接建好3个transformer后这3份参数是共享的，现在希望A不跟它们共享，该怎么做呢？

（在Tensorflow中可以通过tf.variable_scope轻松实现这个操作，但是paddle中没找到相关的API

[2019-12-09 08:58] ddokupil opened #21637 "Found regression on BERT inference"
**System information**
- PaddlePaddle version: 234060f / develop branch
- CPU: including CLX with MKLDNN
- OS Platform Ubuntu 16.04
- Python version: 2.7.12
- Cmake orders
[code]
- C++version: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
- API information

**To Reproduce**
Build with above cmake and execute with:
[code]
**Describe your current behavior**
- Performance on 234060f is 3-4% low

[2019-12-09 09:23] ddokupil commented on #21594
They are passing on my configuration (8180 + GPU)

[2019-12-09 09:46] luotao1 commented on #21637
@GaoWei8 Please see it.

[2019-12-09 09:49] kunde122 opened #21638 "GPU版编译错误，"
运行ernie中的脚本报错。
 1）PaddlePaddle版本：gpu版本1.5.1.post107
    2）GPU:Tesla P4，CUDA Version: 9.0，cudnn:7501
    3）系统环境：CentOS Linux release 7.5.1804 (Core)  python3.7
- 安装方式信息：
1）pip安装
2）本地编译,执行sh script/zh_task/ernie_base/run_msra_ner.sh
错误提示：
W1209 17:28:31.056532 232107 init.cc:128] Compiled with WITH_GPU, but no GPU found in runtime.

paddle.fluid.core_avx.EnforceNotMet: cudaGetDeviceCount failed in p

[2019-12-09 10:07] guoshengCS commented on #21529
这个在代码实现上确实是对`8, 8, 3, 3, 3`这种有相应的处理，如下 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/chunk_eval_op.h#L99
[code]
第一个3时，会执行`if (prev_type == other_chunk_type) return type != other_chunk_type;`，会算作chunk的开始，应该也不算是bug，可以先根据需要统计方式对进行下过滤

[2019-12-09 11:33] yiicy commented on #21602
你好，windows训练卡住不动的问题我们已经在https://github.com/PaddlePaddle/Paddle/pull/21201/files 这个pr中进行了修复

[2019-12-09 12:03] luzm3 commented on #21529
好的

[2019-12-09 12:03] luzm3 commented on #21529
多谢！

[2019-12-09 12:05] #21529 closed, assigned to nobody

[2019-12-09 12:19] xuzhm opened #21644 "无法动态调整训练过程中的学习率"
试图在训练过程中动态的调整学习率， 但是失败了，实验方式如下：

lr_layer = fluid.layers.piecewise_decay(boundaries=bd, values=lr)
optimizer = fluid.optimizer.Momentum(
           learning_rate=lr_layer,
           momentum=0.9,
            regularization=fluid.regularizer.L2Decay(1e-4))

#通过find_var(lr_name).get_tensor 获取到学习率变量并重置
lr_tensor = fluid.global_scope().find_var(lr_name).get_tensor()
print 'before', np.array(lr_tensor

[2019-12-09 12:29] lllemma opened #21646 "paddle v1.6.1 -DWITH_DSO=OFF gcc482下编译错误"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle v1.6.1
    2）CPU：Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz，-DWITH_MKL=ON，-DWITH_MKLDNN=OFF
    3）GPU：Tesla V100-SXM2，CUDA 10.0.130，CUDNN 7.4.2
    4）系统环境：CentOS release 6.10、Python 2.7.16
- 安装方式信息：
1）本地编译：编译命令       
  cmake .. \
-DWITH_CONTRIB=OFF \
-DWITH_MKL=ON  \
-DWITH_MKLDNN=OFF \
-DWITH_TESTING=ON \
-DCMAKE_BUILD_TYPE=Release \
-DWITH_INFERENCE_API_TEST

[2019-12-09 13:01] phlrain commented on #21644
lr_tensor = fluid.global_scope().find_var(lr_name).get_tensor() 这种是静态图获取lr的办法，
你可以通过 lr_layer.step() 来获取到lr的值

[2019-12-09 14:13] OleNet opened #21649 "Paddle 有 summary 功能吗？"
Paddle 有summary 功能吗？
类似于
https://towardsdatascience.com/model-summary-in-pytorch-b5a1e4b64d25
[code]

[2019-12-09 14:32] jczaja commented on #20964
@zhangting2020 , I would like you advise me on following problem. Below are two pictures showing
simple training procedure (a bit extended unit test). Problem is that **MeanGrad** operator is inferring
its output based on output from pool2d operator:
https://github.com/PaddlePaddle/Paddle/blob/9a4dd1bc25c9a023e2dd5f4b6f5a415b22ed488a/paddle/fluid/operators/mean_op.cc#L61

Output of pool2d is MKL-D

[2019-12-09 17:21] baojun-nervana commented on #19555
This is an expansion of broadcast we don't support yet. It is not needed for current model, but we can support it as later effort. You may close it, I will add Jira to scrum.

[2019-12-09 22:42] lidanqing-vv commented on #19008
This issue has been fixed by #19062

[2019-12-09 22:42] #19008 closed, assigned to wangguibao

[2019-12-09 22:44] lidanqing-vv commented on #18913
This has been fixed.

[2019-12-09 22:44] #18913 closed, assigned to nobody

[2019-12-09 22:48] lidanqing-vv commented on #19467
These are not bugs but new features and will be developed when needed.
I also close following which has similar situations.
#19471
#19467
#19464
#19460
#18841

[2019-12-09 22:48] #19467 closed, assigned to nobody

[2019-12-09 22:49] #19471 closed, assigned to nobody

[2019-12-09 22:49] #19464 closed, assigned to nobody

[2019-12-09 22:49] #18841 closed, assigned to nobody

[2019-12-09 22:50] #19460 closed, assigned to nobody

[2019-12-10 02:08] xiangyubo commented on #21603
我尝试了一下paddle1.6，确实会报错，报错信息如下：
[code]

[2019-12-10 02:26] OleNet opened #21651 "executor.py中的报错信息建议优化"
这行报错信息，未免过于模糊和随意了。
作为用户，看到『The following exception is not an EOF exception.』感到很奇怪，完全不知道这条信息在提示我哪里出错了
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/executor.py#L773

[2019-12-10 02:34] xuzhm commented on #21644
对，我是想在静态图中训练过程中去设置 lr, 而不是训练开始就预设好整个训练流程的 lr

[2019-12-10 02:47] DannyIsFunny commented on #21646
@JepsonWong
镜像：paddlepaddle/paddle:latest-gpu-cuda9.0-cudnn7-dev
执行步骤：cmake过程错误
[code]

[2019-12-10 02:57] #19555 closed, assigned to baojun-nervana

[2019-12-10 03:12] NHZlX opened #21653 "编译错误： error: cannot deduce "auto" type"
cmake 命令如下：

[code]
错误如下：

[code]

[2019-12-10 03:26] JepsonWong commented on #21638
为什么CUDA9.0安装CUDA10.0的paddle？

![image](https://user-images.githubusercontent.com/16509038/70492590-e3fb2c80-1b3f-11ea-9a19-8590cd19fcc2.png)

[2019-12-10 03:48] #19842 closed, assigned to nobody

[2019-12-10 04:57] DannyIsFunny commented on #21627
请问最新的v1.6.1可以复现问题吗

[2019-12-10 05:05] DannyIsFunny commented on #21649
你好，暂时还没有这个功能

[2019-12-10 05:11] sneaxiy commented on #21636
您在运行网络的时候，可以加上`scope_guard`:
[code]

[2019-12-10 06:07] sneaxiy commented on #21644
您的设置方法应该是没有问题的，您可以在每步训练后`exe.run(fetch_list=[lr_name, ...])`把学习率fetch出来看，应该是设置成功的。

[2019-12-10 06:13] littletomatodonkey opened #21659 "获取lod level信息"
想问下在编译时怎么获取Variable的lod level的信息呢？我使用`bbox_pred.lod_level`，获得的值是0，但是在运行时使用`fluid.layers.Print( bbox_pred, summarize=0 )`，打印出的变量的tensor为`[0,512,1024]`。
[code]

[2019-12-10 06:22] jiweibo commented on #21659
lod信息是可以直接获取的，前提是该variable有效。 根据你的描述信息我理解你的bbox_pred必须等到exe run之后才有效，此时可以直接打印出其lod。 lod的具体信息可以查看https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/howto/basic_concept/lod_tensor.html#id3

[2019-12-10 06:24] littletomatodonkey commented on #21659
好吧，那就是说无法在编译时获取这个Variable的lod level信息，我再试试别的办法

[2019-12-10 06:25] #21659 closed, assigned to nobody

[2019-12-10 06:28] Boyan-Liu commented on #21605
@sneaxiy 麻烦看下，谢谢

[2019-12-10 06:30] OliverLPH opened #21660 "mkldnn预测text_classification结果有误"
- 标题：mkldnn预测text_classification结果精度下降
- 版本、环境信息：
    1）PaddlePaddle版本：2de10293964e
    2）CPU：Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz, MKLDNN AVX
    3）GPU：无
    4）系统环境：Python2.7, Centos6
-预测信息
    1）C++预测：2de10293964e
    2）CMake包含路径的完整命令
    3）API信息（如调用请提供）
[code]
    4）预测库来源：自行编译
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

[code]

[code]

复现脚本
[compare_res.txt](https://githu

[2019-12-10 06:34] luotao1 commented on #21660
@bingyanghuang Please help see it.

[2019-12-10 09:29] GaoWei8 commented on #21637
Fix this issue by #21650.

[2019-12-10 09:41] xuzhm commented on #21644
@sneaxiy   事实上并没有起作用， fetch出来的结果还是设置之前的值
![image](https://user-images.githubusercontent.com/6814767/70517652-d9f32100-1b73-11ea-83e9-585f177c8e27.png)

[2019-12-10 10:26] jczaja commented on #18852
Support for MKL-DNN 1.0 was introduced with #20162 . Next part of changes (Tensor specific modifications: format -> mem_desc) will come next

[2019-12-10 10:26] #18852 closed, assigned to jczaja

[2019-12-10 10:52] sneaxiy commented on #21644
@xuzhm 您的代码里为什么要写 `fluid.layers.piecewise_decay()`？这个LR Decay会覆盖你设置的学习率。您尝试使用以下代码试试：
[code]

[2019-12-10 11:41] kunde122 commented on #21638
感谢找到原因了，版本不对

[2019-12-10 12:06] xuzhm commented on #21644
@sneaxiy  ok ,  现在正常了，tks.

[2019-12-10 12:06] #21644 closed, assigned to nobody

[2019-12-10 13:51] xixiaoyao commented on #21636
这种方法试过，多个program的时候会显存溢出，所以把三个transformer写进了同一个program里。。在同一个prog内部，有办法完成A的参数跟BC隔离吗

[2019-12-10 14:57] JepsonWong commented on #21646
已本地复现，正在定位原因。

[2019-12-10 15:50] zhangting2020 commented on #20964
@jczaja  For the execution process of mean grad op, my understanding is：
When layout of the input that is the output of pool2d  is different from the layout of the kernel type, data layout transform will occur first. Then mean grad op infers shape according to the transformed input. I have a question: Why does the input of mean grad op come directly from the untransformed output of pool2d?

[2019-12-11 06:11] jiweibo commented on #21651
感谢反馈，目前我们针对报错信息优化开展了相关工作，已经初步完成了以下几点：
1. 对Paddle的报错信息栈进行了整理与简化，提高可读性
2. 丰富了Paddle的报错类型，并封装了指明报错类型的系列接口
3. 添加了CI监控
后续会继续这方面的工作！

[2019-12-11 07:18] wwjjy opened #21683 "deformable_conv的使用问题"
我想将目标检测网络中的普通卷积替换为deformable_conv，请教一下offset应该如何生成，求一个可以运行的demo代码参考一下

[2019-12-11 07:58] lidanqing-vv commented on #21594
I notice in the building configuration, `FLAGS_fraction_of_gpu_memory_to_use=0.15`. Usually GPU use bigger memory allocation. Like in this issue https://github.com/PaddlePaddle/Paddle/pull/6268

What about setting to 0.92 and go through CI and see if there is failure difference

[2019-12-11 08:17] #21653 closed, assigned to nobody

[2019-12-11 08:30] zhhezhhe opened #21685 "Out of memory error on GPU"
paddle version: develop
[code]
some code
[code]

when running after some batch, memory error occurs
[code]

[2019-12-11 08:45] zhhezhhe commented on #21685
[code]
I also tried another reader
[code]
same error

[2019-12-11 08:46] liym27 commented on #21685
报错中显示用到CUDNNConvOpKernel，在modle中用到了conv2d 或 conv3d 吗？
另外能否用GLOG看一下 log信息

[2019-12-11 08:48] baiyfbupt commented on #21683
hi~ 在[PaddleDetection](https://github.com/PaddlePaddle/PaddleDetection)检测库中使用了deformable_conv，可以参考[PaddleDetection的例子](https://github.com/PaddlePaddle/PaddleDetection/blob/0b965c92685f865e901eda686a19f3850a6a4432/ppdet/modeling/backbones/resnet.py#L153-L182)，用一个卷积层生成offset~

[2019-12-11 10:12] xuzhm opened #21688 "无法实现在构建网络时取出 create_global_var 的值参与 loss 计算"
paddlepaddle 1.5.1 版本

loss 类 __init__ 时，使用 fluid.layers.tensor.create_global_var  创建一个var 变量，
![image](https://user-images.githubusercontent.com/6814767/70611476-39b6fe00-1c40-11ea-9d1d-ef5721846708.png)

然后在构建 loss 时， 希望取出 var 的值var_val ,  计算loss ，其中涉及到  fluid.layers.cast(x=(target> var_val), dtype='float32')  的操作， 但是这个时候是在构建网络， 还没有执行到 run(fluid.default_startup_program())       无法使用    fluid.glo

[2019-12-11 10:21] miraclebiu opened #21689 "reshape跑一段时间之后出现错误"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-12-11 10:28] tangxuvis opened #21690 "paddlecloud训练运行的时候报错，但是本地能够跑通。"
报错信息如下：
I1211 17:55:12.311203   622 operator.cc:172] CUDAPlace(3) Op(fill_constant), inputs:{ShapeTensor[], ShapeTensorList[]}, outputs:{Out[fill_constant_5.tmp_0:float[1]({})]}.
I1211 17:55:12.311429   622 operator.cc:992] expected_kernel_key:data_type[float]:data_layout[ANY_LAYOUT]:place[CUDAPlace(0)]:library_type[PLAIN]
I1211 17:55:12.311679   622 operator.cc:172] CUDAPlace(0) Op(scale), inputs

[2019-12-11 10:29] tangxuvis commented on #21690
希望有同学回答下。

[2019-12-11 10:42] tangxuvis commented on #21690
不同集群上偶尔可以跑通，但是大概率跑不起来。哭了。。

[2019-12-11 10:42] tangxuvis commented on #21690
不同集群上偶尔可以跑通，但是大概率跑不起来。哭了。。

[2019-12-11 10:48] tangxuvis commented on #21690
嗯嫩，突然爆出这个错误，无力。。。
WARNING:root:Caution! paddle.fluid.memory_optimize() is deprecated and not maintained any more, since it is not stable!
This API would not take any memory optimizations on your Program now, since we have provided default strategies for you.
The newest and stable memory optimization strategies (they are all enabled by default) are as follows:
1. Garbage collection strategy, which

[2019-12-11 11:14] zhiqiu commented on #21685
Please show your model code.

[2019-12-11 11:20] jeromeJT opened #21691 "训练启动报错PaddleCheckError: CUBLAS: not initialized, at [/paddle/paddle/fluid/platform/cuda_helper.h:32]"
- 标题：训练启动报错PaddleCheckError: CUBLAS: not initialized, CPU训练无问题
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1
    2）CPU：
    3）GPU：CUDA9.2和CUDNN7.3
    4）系统环境：linux
- 训练信息
    1）单机单卡
EnforceNotMet:

--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<char const*>(char cons

[2019-12-11 11:36] rensilin opened #21692 "编译错误： ld: cannot find -lpybind"
develop分支， #21569

cmake参数 `--WITH_PYTHON=OFF`, 不会引入pybind11依赖

[2019-12-11 12:11] LinAurora commented on #19799
您好，请问这些天您有发现问题吗？我在这期间检查了许多次，也重新运行了许多次，也尝试更新过paddle使用最新版本,但还是没有找到问题所在。

[2019-12-11 12:13] ddokupil commented on #21173
Ok,

Does this support Bert and Resnet50? In here it says about DeepFM

[2019-12-11 12:14] LinAurora commented on #19799
如果您实在没有空，能不能简单说下您是如何调试反向传播过程的呢？我在网上寻找很久但没有找到相关资料，这个网络模型确实困扰我许久，真心希望能尽早解决。

[2019-12-11 12:38] ceci3 commented on #19799
抱歉抱歉，最近实在太忙.. 我简单讲下paddle怎么调试反向吧，通过print(str(train_program))打印出program，然后从打印出来的program里type: "*_grad"一般代表反向op，op的outputs里arguments就是反向输出的名字，把这个名字加入到exe.run 的fetch_list里就可以打出来经过反向op的值了

[2019-12-11 12:41] miraclebiu commented on #21689
paddle 1.6.1 k40,3卡，py-reader方式

[2019-12-11 12:41] miraclebiu commented on #21689
![image](https://user-images.githubusercontent.com/16793970/70622314-9f15e980-1c56-11ea-9724-639bc58fb533.png)

[2019-12-11 12:42] LinAurora commented on #19799
我这段时间也是被各种事情忙的没法专心弄这个，非常理解您，您能顺便说下TensorFlow该怎么调试反向呢？我也没找到这方面的资料。。麻烦您了

[2019-12-11 12:45] ceci3 commented on #19799
tf好像是需要利用tf.gradient来打印，具体的我也没有调试过

[2019-12-11 12:46] LinAurora commented on #19799
好的非常感谢您的指导。

[2019-12-11 13:34] #20144 closed, assigned to Sand3r-

[2019-12-11 13:41] ddokupil commented on #21637
I can confirm not only it helps with BERT but even produces better results than before regression.

[2019-12-11 14:12] JepsonWong commented on #21692
您好，想问下您是说 #21569 这个PR导致的问题么？

[2019-12-11 14:14] JepsonWong commented on #21692
是cmake参数 --WITH_PYTHON=OFF 会导致编译失败么？

[2019-12-11 14:23] zhiqiu commented on #21692
Thanks, fixed in [PR21681](https://github.com/PaddlePaddle/Paddle/pull/21681).

[2019-12-11 14:38] paulpaul91 opened #21694 "lstm raises an exception paddle::memory::allocation::BadAlloc"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：lstm raises an exception paddle::memory::allocation::BadAlloc
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    3）GPU：V100, CUDA10.0
    4）系统环境：centos, Python3.6.9
- 训练信息
    1）单机,多卡
- 问题描述：
3500w数据，跑lstm分类模型，跑了几个epoch后报错lstm raises an exception paddle::memory::allocation::BadAlloc

Padd

[2019-12-11 14:56] ddokupil commented on #21594
We tried several ways to build it with following cmake:
`cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_DSO=ON -DWITH_GPU=ON -DWITH_AMD_GPU=OFF -DWITH_DISTRIBUTE=OFF -DWITH_MKL=ON -DWITH_NGRAPH=ON -DWITH_AVX=ON -DNOAVX_CORE_FILE= -DWITH_GOLANG=OFF -DCUDA_ARCH_NAME=All -DCUDA_ARCH_BIN= -DWITH_PYTHON=ON -DCUDNN_ROOT=/usr/ -DWITH_TESTING=ON -DWITH_COVERAGE=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DWITH_CON

[2019-12-11 14:57] ddokupil commented on #21594
Just been thinking, what does GPU have to do with int8 UT?

[2019-12-11 14:58] lidanqing-vv commented on #21594
If we disable GPU, build with `-DWITH_GPU=OFF -DWITH_COVERAGE=ON  -DWITH_NGRAPH=ON`, all int8 UT tests passed on our local machine. So we can not reproduce the test_qat_int8_resnet101_mkldnn failure when GPU OFF. Could we somehow run on baidu's machine?

[2019-12-11 17:36] liym27 commented on #21694
能否给出更详细的报错，包括python和c++报错栈信息？

建议尝试 减小batch_size大小，或者增大FLAGS_fraction_of_gpu_memory_to_use。

另外，请问是使用动态图还是会静态图？

[2019-12-11 22:51] wojtuss commented on #21492
The graph is malformed when the `memory_optimize_pass` is enabled (e.g. via `EnableMemoryOptim()` method). With the pass being disabled, the graph of the model looks fine.

[2019-12-12 02:30] zhhsplendid commented on #20866
其实是1.5和1.6都有这个错，但是1.6增加报错信息，所以显示出来这个warning。

当前已经把1.6的报错信息更完备，使得上面log更友好

[2019-12-12 02:31] zhhsplendid commented on #20866
该issue应该算已解决，close it

[2019-12-12 02:32] zhhsplendid commented on #20638
嗨，该bug我们已经修复并merge进develop分支，我将关闭此卡片

[2019-12-12 02:32] #20638 closed, assigned to NHZlX, zhhsplendid, phlrain

[2019-12-12 02:35] zhhsplendid commented on #20301
这个已经修复并合入develop，相关PR

https://github.com/PaddlePaddle/Paddle/pull/21189

[2019-12-12 02:35] #20301 closed, assigned to zhhsplendid, cyj1986

[2019-12-12 02:38] baomengxue opened #21697 "DGCMomentumOptimizer在cpu上报错AttributeError: module 'paddle.fluid.core_avx' has no attribute 'dgc'，gpu没有报错信息"
CPU：paddlepaddle  1.6.1
![image](https://user-images.githubusercontent.com/19708914/70677851-4d5b7680-1ccb-11ea-8c42-23271291acc4.png)

GPU：paddlepaddle  1.6.1
![image](https://user-images.githubusercontent.com/19708914/70677830-3cab0080-1ccb-11ea-8118-faf925318039.png)

[2019-12-12 02:42] joshuia opened #21698 "paddle GPU 显存分配问题"
![image](https://user-images.githubusercontent.com/7981476/70678012-c22eb080-1ccb-11ea-9b1e-506d7b40d35a.png)
如图设置了比例为0.48，分配方式为auto_growth，但是实际跑任务的时候，GPU还是占了绝大多数显存。有没有一种方法控制显存占用呢？
![image](https://user-images.githubusercontent.com/7981476/70678116-19cd1c00-1ccc-11ea-86ff-341f7b284754.png)

[2019-12-12 02:46] FrostML commented on #21698
可以参见文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/flags/memory_cn.html#flags-fraction-of-gpu-memory-to-use
FLAGS_fraction_of_gpu_memory_to_use表示分配的显存块占GPU总可用显存大小的比例。将来的显存使用将从该显存块分配。 如果显存块没有足够的gpu显存，将从gpu请求分配与显存块同样大小的新的显存块，直到gpu没有足够的显存为止。
你是要强制限制显存无论如何只占用48%么？

[2019-12-12 02:53] joshuia commented on #21698
FLAGS_fraction_of_gpu_memory_to_use，

这个含义是理解的，想限制显存占用，因为GPU有多人使用，想在一卡上跑多个任务。『你是要强制限制显存无论如何只占用48%么』可以这么理解

[2019-12-12 02:54] joshuia commented on #21698
现在是在跑的任务显存占用太多，导致其他人提交不了任务。但是任务实际使用只有2G左右的显存，没必要全占满

[2019-12-12 02:56] juncaipeng opened #21700 "The ci error of QAT INT8"
**Linux_Python27**
* test_qat_int8_vgg19_mkldnn

http://ci.paddlepaddle.org/viewLog.html?buildId=243540&buildTypeId=Paddle_PrCiNight

[code]

* test_qat_int8_vgg16_mkldnn

http://ci.paddlepaddle.org/viewLog.html?buildId=243543&buildTypeId=Paddle_PrCiNight&tab=buildLog

[code]

* test_qat_int8_resnet101_mkldnn

http://ci.paddlepaddle.org/viewLog.html?buildId=243542&buildTypeId=Paddle_PrCiNight

[co

[2019-12-12 03:15] liym27 commented on #21688
静态图中，在run之前，是没有办法取到Tensor的实际值的。使用动态图的话，可以知道实际值。
经了解，您的模型中有条件判断，如果要进行条件判断，可以使用paddle的控制流。

[2019-12-12 03:18] FrostML commented on #21698
试试加上export FLAGS_eager_delete_tensor_gb=0.0看看呢，当显存一旦出现垃圾则马上释放。
或者结合export FLAGS_fast_eager_deletion_mode=True，则是gpu显存将在CUDA内核尚未结束的情况下被释放。垃圾回收策略加快。
利于节省显存使用量。

[2019-12-12 03:18] LordAaron opened #21701 "训练时在deformable conv报错"
paddle官方api文档里面写了deformable conv的两种用法，一种可以用mask，一种可以不用mask；但是我将mask设置为None会报错：
代码：
offset = fluid.layers.conv2d(input=wh_pred,
         num_filters=2*9*n_anchors, groups=n_anchors,
         filter_size=1, stride=1, padding=0)
offset.stop_gradient = True
out = fluid.layers.deformable_conv(input=input,
         offset=offset, mask=None, num_filters=out_ch, filter_size=3, stride=1,
          padding=

[2019-12-12 03:43] liym27 commented on #21691
与用户交流后，本地无法复现该错误。
后续发现是cuda版本有问题，推荐安装正确版本的cuda.

[2019-12-12 03:43] #21691 closed, assigned to liym27

[2019-12-12 03:50] luotao1 commented on #21700
Maybe timeout is the same problem in https://github.com/PaddlePaddle/Paddle/pull/20162#issuecomment-554262103

[2019-12-12 04:10] gongweibao commented on #19425
Batchsize:256
DataLayout:NHWC
one V100 Cards:820
8 V100 Cards:6072

[2019-12-12 04:10] #19425 closed, assigned to nobody

[2019-12-12 04:46] juncaipeng commented on #21700
The cpu information of the test machine obtained by lscpu:
[code]

[2019-12-12 05:10] Xreki commented on #21637
Can you paste the detail performance data here?

[2019-12-12 05:12] joshuia commented on #21698
DONE，有其他任务占用

[2019-12-12 05:12] #21698 closed, assigned to nobody

[2019-12-12 05:25] liym27 commented on #21689
您好，报错信息中显示：

ShapeError: The 'shape' in ReshapeOp is invalid. The input tensor X'size must be equal to the capacity of 'shape'. But received X's shape = [3808, 1], X's size = 3808, 'shape' is [64, 60], the capacity of 'shape' is 3840. at [/paddle/paddle/fluid/operators/reshape_op.cc:197]
[operator < reshape2 > error]

即使用reshape接口的时候，输入X的形状与参数’shape‘指定的形状不匹配。请确认是否是该问题。

[2019-12-12 05:26] zhiqiu commented on #21685
Please call `model.eval()` in dygraph guard if your model does not run `loss.backward`, refer to [Dygraph guide](https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/howto/dygraph/DyGraph.html#id7).

[2019-12-12 05:27] zhhezhhe commented on #21685
That works! Thanks!

[2019-12-12 05:27] #21685 closed, assigned to zhiqiu

[2019-12-12 05:57] baiyfbupt commented on #21701
hi~ 如果不需要使用mask那就应该对应的是deformable_conv v1，请参考[官网deformable_conv文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/deformable_conv_cn.html#deformable-conv)，需要设置`modulated=True`：
[code]

[2019-12-12 06:05] luotao1 commented on #21594
@ddokupil @lidanqing-intel Our CI runs test in parallel, i.e. `-e CTEST_PARALLEL_LEVEL=4`
http://ci.paddlepaddle.org/viewLog.html?buildId=243741&tab=buildLog&buildTypeId=Paddle_PrCiCoverage&logTab=tree&filter=all

[2019-12-12 06:06] bingyanghuang commented on #21594
@ddokupil you can refer this issue https://github.com/PaddlePaddle/Paddle/issues/14775 and this issue https://github.com/PaddlePaddle/Paddle/issues/17832

[2019-12-12 06:07] LordAaron commented on #21701
没有用，加上modulated=True 还是报跟之前一样的错误

[2019-12-12 06:08] baiyfbupt commented on #21701
@LordAaron v1应该是加modulated=False, 刚才手误打错了，改过来再试试吧~

[2019-12-12 06:16] LordAaron commented on #21701
嗯，这个问题解决了，但是用v1也是有一样的deformable conv问题，就是最开始说的第二个引起显存超了的问题

[2019-12-12 06:28] LordAaron commented on #21701
第二个问题也找到了，确实就是deformable conv操作导致显存爆了，是这个操作很占显存吗？
out = fluid.layers.deformable_conv(input=input,
offset=offset, mask=mask, num_filters=out_ch, filter_size=3, stride=1,
padding=1, deformable_groups=n_anchors)
原本num_filters是1024，现在砍半到512就可以了
我的模型是检测模型，分别在3个layer后面有接deformable conv操作，分别是1024，512，256
现在改为512，256，128可以训练起来
但我在backbone部分加deformable conv前后，好像不会出现这么大的显存占用

[2019-12-12 06:35] baiyfbupt commented on #21701
这个op本身应该不会特别耗显存，在我们的[PaddleDetection](https://github.com/PaddlePaddle/PaddleDetection/blob/0b965c92685f865e901eda686a19f3850a6a4432/ppdet/modeling/backbones/resnet.py#L153-L182)检测库里很多模型上也验证过。如果确定是显存问题，可以尝试减少batch_size数量或者使用[显存优化策略](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/best_practice/memory_optimize.html#best-practice)看看是否能正常训练

[2019-12-12 06:47] wwjjy opened #21707 "关于deformable_conv的预测问题"
训练阶段deformabel_conv的im2col_step参数设置的为4，是否在freeze之后的预测阶段batch_size大小也得>=4且能被4整除，目前尝试了batch_size为1和batch_size为4的情况，当batch_size为1时，预测的结果很诡异，不符合预期，当batch_size为4时，我送入4幅同样的图像，有时检测结果并不相同，请问这是什么问题。

[2019-12-12 07:01] kexinzhao opened #21708 "CUDNN auto-tuner 提速"
https://discuss.pytorch.org/t/what-does-torch-backends-cudnn-benchmark-do/5936/2

PyTorch中提供下面的flag来调用cudnn auto-tuner来根据当前输入选定最优算法。
`torch.backends.cudnn.benchmark = True`

这个在我的模型实际测试中，带来了高于2倍的模型训练加速 (相比于default=False的情况)。

我想问一下, Fluid (dygraph) 中提供类似的功能吗？

[2019-12-12 08:46] bingyanghuang commented on #21700
@grygielski It seems that this machine doesn't have the right AVX512 flages needed for mkldnn 1.0 int8. could you help confirm this?

[2019-12-12 09:02] FrostML commented on #21697
您好，DGCMomentumOptimizer目前只支持在GPU上使用。只支持GPU的多卡或分布式模型。

[2019-12-12 09:03] baiyfbupt commented on #21707
hi， 请问有测试过batch_size=1时在验证集上的指标吗，是否符合预期？`batch_size为4时，我送入4幅同样的图像，有时检测结果并不相同`是指检测得到bounding box会有差异吗？

[2019-12-12 09:18] #21688 closed, assigned to liym27

[2019-12-12 09:19] grygielski commented on #21700
It definitely doesn't have VNNI flags so best implementations won't be chosen. However, there are avx512 flags so it shouldn't timeout so easily. It can be a problem similar to earlier ones with not propagating these flags. Is it virtual machine? Verbose logs would help here. @juncaipeng Could you run one of these tests with MKLDNN_VERBOSE=2 env. variable? If you are using bash just type this befo

[2019-12-12 09:19] wwjjy commented on #21707
@baiyfbupt  我是通过load_inference_model的方式来测试的batch_size=1时，不管输入的顺序是什么，输出的结果貌似都是两种结果循环出现，然后如果batch_size为4时，我送入四幅同样的图片结果的lod信息会出现类似[0, 0, 0, 1, 1]的情况，我在训练时把im2col_step参数改为1，测试的时候好像一次预测一张就没有问题了

[2019-12-12 09:30] baiyfbupt commented on #21707
@wwjjy 这里建议用im2col_step=1的方式进行训练，后续我们也会对deformable_conv im2col_step的使用方式进行一次优化，避免现在这种问题

[2019-12-12 11:10] lidanqing-vv commented on #21594
When GPU ON, We partly reproduced some failures (all qat_int8 passed, all test_analyzer_int8_modelname failed, because of same error). We suspect that the UT used some common libraries or file where GPU settings there. Now we are trying to fix.
[code]

[2019-12-12 11:11] #21692 closed, assigned to zhiqiu

[2019-12-12 11:36] Anikily commented on #21618
@gfwm2013 具体在哪一维度上呢？

[2019-12-12 12:30] Anikily opened #21717 "如何初始化fluid.dygraph.BatchNorm层的权重和偏置为0？"

[2019-12-12 13:40] xx674967 opened #21721 "eval的时候paddle.fluid.core_avx.EnforceNotMet: Enforce failed."
版本、环境信息：
   1）PaddlePaddle版本：paddle v1.6.1
   2）CPU：Intel(R) Xeon(R) Gold 5117 CPU @ 2.00GHz，-DWITH_MKL=ON，-DWITH_MKLDNN=OFF
   3）GPU：Tesla P4，CUDA 9，CUDNN 7
   4）系统环境：CentOS Linux release 7.6.1810 (Core)、Python 3.7

问题描述：
ppdet 训好的yolov3模型，batchsize为1 eval的时候会报错，每次都在1500 iter报错，进去看data_feed读进来的图片是正常的，请问这是啥原因？
<img width="1410" alt="1e5bf28a9641bf4b39ce5224f" src="https://user-images.githubusercon

[2019-12-13 02:08] #21697 closed, assigned to wangxicoding

[2019-12-13 03:04] shizhh opened #21726 "用ernie做multi label 任务时预测结果全部偏向于第一维"
利用ernie做finetune任务，修改分类任务的loss为sigmoid_cross_entropy_with_logits，如下图所示
![image](https://user-images.githubusercontent.com/6856773/70765856-ffac4000-1d96-11ea-97a8-8d60b3fc79c0.png)
其中labels是one_hot形式
在训练过程中看到loss逐渐下降，但是预测时输出值不正常
![image](https://user-images.githubusercontent.com/6856773/70766016-78ab9780-1d97-11ea-8240-30ae64dd216e.png)
可以看到，预测结果全部偏向于第一维

有个类似的问题，https://github.com/PaddlePaddle/Pa

[2019-12-13 03:40] DDDivano commented on #21717
参考这个 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/initializer_cn/ConstantInitializer_cn.html

把param 和 bias 参数传入了就行了

[2019-12-13 04:31] cisco08 opened #21727 "fluid.layers.resize_bilinear得到的不是放大两倍的原图"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle1.6
    2）CPU/GPU：CPU
    3）系统环境：Mac OS 10.14
    4）Python版本号 Python3.7
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：
x = plt.imread("微信图片_20191207203405.jpg")
with fluid.dygraph.guard():
    xx = x.reshape((1,C,H,W))
    d = fluid.dygraph.base.to_variable(xx.astype('float32'))
    H, W = d.shape[2:]
    H,W = H*2,W*2
    upsample = fluid.layers.resize_bilinear(

[2019-12-13 04:57] suytingwan opened #21728 "fluid.layers.data_norm 使用报错"
在静态图中对variable矩阵使用fluid.layers.data_norm归一化，报如下问题

Error Message Summary:
----------------------
PaddleCheckError: op data_norm does not have kernel for data_type[float]:data_layout[ANY_LAYOUT]:place[CUDAPlace(0)]:library_type[PLAIN] at [/paddle/paddle/fluid/framework/operator.cc:1010]
  [operator < data_norm > error]

定义语句为：
        weight = fluid.layers.create_parameter(shape=[self.in_dim, self.

[2019-12-13 05:29] hutuxian commented on #21728
请您提供一下所使用的paddle版本？
data_norm op在1.6.1之前是没有CUDA版本的。预计会在下一个major版本提供CUDA实现。

[2019-12-13 06:25] wangxicoding commented on #21697
@woshini555 再补充一下，DGC在1.6.2版本修复了一个正则化流程的问题，1.6.1版本在正则化使用上可能有些精度问题，目前1.6.2版本已发布。这里有一个简单的example，可以参考下 https://github.com/PaddlePaddle/Fleet/tree/develop/examples/dgc_example

[2019-12-13 06:54] geniusSDNexplorer opened #21730 "如何让reader输出str类型的数据？"
64     data_reader = RelevanceReader()
 65
 66     image = fluid.layers.data(name='image', shape=[3, 224, 224], dtype='float32')
 67     sign = fluid.layers.data(name='segment_sign', shape=[1], dtype='str')
 68     feed_list = [sign, image]
 69     multiprocessing_batch_gen = data_reader.multiprocessing_wrapper(
 70             file_names=input_file_names,
 71             data_sizes=input_data_siz

[2019-12-13 06:57] luotao1 commented on #21492
related #21598, how about disabling this pass when using MKLDNN?

[2019-12-13 07:34] cryoco commented on #21730
data层只接受数据类型的输入，可以根据需求将str转为int，或使用word2vec或者embedding等技术把string转为数字

[2019-12-13 08:32] heavengate commented on #21721
你好，请问使用的PaddleDetection是哪个版本

[2019-12-13 08:48] baomengxue commented on #21697
好的 感谢回复～

感谢回复～

[2019-12-13 08:49] jczaja opened #21737 "[MKL-DNN] Implement pass fusing FC and LayerNorm"
Should benefit FP32/int8 NLP models

[2019-12-13 09:08] jczaja commented on #21737
1. Analyze which NLP models may benefit from it
2. Implement Fuse

[2019-12-13 09:20] shizhh commented on #21726
通过打印出训练阶段的logits发现问题所在，是读入数据标签的时候，计算标签的one_hot时，索引错位导致的。

[2019-12-13 09:20] #21726 closed, assigned to cryoco

[2019-12-13 11:06] liym27 commented on #21690
您好，请问该问题paddleCloud是否已解决呢？

[2019-12-13 16:28] jczaja commented on #20964
@zhangting2020 I investigated why wrong Tensor/Variable is taken to Mean Grad Op. Reason is that
MeanGrad is declaring "X" input as not needing buffer:
https://github.com/PaddlePaddle/Paddle/blob/d528ffaa040e9d64f1b97662e9ff297756921b88/paddle/fluid/operators/mean_op.cc#L89

This cause that Data Transform will not Analysis of This input before Mean Grad Op:
https://github.com/PaddlePaddle/Paddle/b

[2019-12-13 16:29] jczaja commented on #20964
@zhangting2020 I investigated why wrong Tensor/Variable is taken to Mean Grad Op. Reason is that
MeanGrad is declaring "X" input as not needing buffer:
https://github.com/PaddlePaddle/Paddle/blob/d528ffaa040e9d64f1b97662e9ff297756921b88/paddle/fluid/operators/mean_op.cc#L89

This cause that Data Transform will not Analysis of This input before Mean Grad Op:
https://github.com/PaddlePaddle/Paddle/b

[2019-12-13 17:04] ph2537089017 opened #21748 "paddle1.5 c++预测出错"
   
    1）PaddlePaddle版本：1.5
    2）CPU：预测若用CPU，i5-7200u，MKL=off
    4）系统环境：ubuntu16.04，Python版本3.7
-预测信息
    1）C++预测：1.5，的version.txt：
GIT COMMIT ID: a5696153a013552bfaa612ca407eba318e18ba54
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: OFF
    2）CMake包含路径的完整命令，在qt5.13下编译的
    3）API信息     auto predictor =paddle::CreatePaddlePredictor<paddle::NativeConfig>(config); 出错，且无法使用CHECK（）
    4）预测库来源：官网下载
运行报错：

[2019-12-14 03:55] juncaipeng opened #21750 "CI unittest fail for test_kldiv_loss_op"
disable test_kldiv_loss_op for now, and the log as follows:
[code]

[2019-12-14 13:43] juncaipeng commented on #21748
从你的信息来看，编译的预测库是没有编译gpu的，‘ fraction_of_gpu_memory_to_use’是设置gpu使用率，是这个导致的问题吗？

[2019-12-15 05:57] ZhaoLiang-GitHub opened #21752 "安装错误，在服务器安装paddle1.5.0.post 安装出错"
在v100机器上安装paddleGPU版本1.5.0.post97,安装完成后，在测试中提醒cudnn版本错误，cuda9需要7.3的cudnn，我本机上是7.1,按照教程https://blog.csdn.net/htt789/article/details/79627015 将我这个环境下的cudnn 修改成了7.3（work账户下是有7.3的），在此测试仍然报错
![image](https://user-images.githubusercontent.com/33596293/70858743-cadcec00-1f42-11ea-87fe-ea48a5258aad.png)

[2019-12-15 06:11] JepsonWong commented on #21752
应该是cudnn没有升级好。

1. 输入 cat /usr/local/cuda/include/cudnn.h | grep CUDNN_MAJOR -A 2 查看一下cudnn结果。
2. 找到cuda目录，例如 /usr/local/cuda/lib64/ ，然后 cd /usr/local/cuda/lib64/ ，ls | grep libcudnn.so 查看一下结果。

[2019-12-15 06:23] ph2537089017 commented on #21748
尝试带gpu的c++预测库后，这个问题没有了，但在执行 auto predictor =CreatePaddlePredictor(config);时程序依然崩溃，不知道什么问题。有没有完整的可以跑通的例程呀？

[2019-12-15 11:53] ph2537089017 commented on #21748
是gcc版本的问题，改成4.8就可以了
但CHECK函数无法使用

[2019-12-16 02:03] juncaipeng commented on #21748
paddle1.5的c++预测样例，可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/native_infer.html

paddle1.6的c++预测样例，可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/native_infer.html。

[2019-12-16 02:06] juncaipeng commented on #21748
现在预测的时候CHECK函数报错吗？可以贴上错误信息吗？

[2019-12-16 02:46] #21728 closed, assigned to cryoco

[2019-12-16 04:01] ph2537089017 commented on #21748
CHECK(predictor->ZeroCopyRun());
提示显示：CHECK 未定义，无法编译通过

[2019-12-16 04:57] juncaipeng commented on #21748
你应该是使用NativePredictor，所以报错没有定义，不是说check未定义，是ZeroCopyRun未定义。ZeroCopyTensor的使用可避免预测时候准备输入以及获取输出时多余的数据copy，提高预测性能。只可用于AnalysisPredictor。
请再次参考1.5的c++预测文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/native_infer.html

[2019-12-16 05:36] Boyan-Liu commented on #21219
Thanks for your attention to PaddlePaddle. zhhsplendid has relayed your information to us. If you want to contribute a new PR, please see the information in the link: https://github.com/PaddlePaddle/FluidDoc/tree/develop/doc/fluid/advanced_usage/development/contribute_to_paddle

[2019-12-16 05:38] OliverLPH opened #21760 "import paddle出现ImportError：dlopen：cannot load any more object with static TLS"
- 标题：import paddle.fluid 时报错dlopen：cannot load any more object with static TLS
- 版本、环境信息：
    1）PaddlePaddle版本：develop：a6e935f4243e52
    2）CPU：MKL/openblas
    3）GPU：CUDA9/CUDA10
    4）系统环境：paddlepaddle/paddle_manylinux_devel:cuda10.0_cudnn7，centos6.1，gcc482
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：
3）docker编译：paddlepaddle/paddle_manylinux_devel:cuda10.0_cudnn7 
  特殊环境请注明：需升级镜像中的glibc版本
- 复现信息：

由于镜像中的g

[2019-12-16 05:59] banma12956 opened #21761 "typo in error message"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle1.6.1
- 问题描述：
应该是关于fluid.layers.equal的一个报错，如下图。应该是must have
<img width="829" alt="image" src="https://user-images.githubusercontent.com/39279048/70882874-1a3b1f00-200c-11ea-8528-20540be19b7a.png">

[2019-12-16 06:09] luotao1 commented on #21761
感谢您的发现，我们会修复一下

[2019-12-16 07:11] JepsonWong commented on #21760
收到，已建卡片跟进。

[2019-12-16 07:12] ph2537089017 commented on #21748
NativePredictor 使用样例正常.AnalysisPredictor 使用样例编译报错:

In file included from ../Downloads/fluid_inference/paddle/include/paddle_analysis_config.h:28:0,
                 from ../Downloads/fluid_inference/paddle/include/paddle_inference_api.h:29,
                 from ../untitled/main.cpp:3:
../Downloads/fluid_inference/paddle/include/paddle_api.h:235:43: warning: unused parameter ‘name’ [-Wunused-para

[2019-12-16 07:35] juncaipeng commented on #21748
请问再次确认是使用1.5的预测样例加载1.5的预测库进行预测。

‘CHECK’ was not declared in this scope，这个报错应该是没有链接到glog库，你可以尝试将third_party/install/glog加入库环境变量中。

如果你没有特殊需求，建议使用1.6的预测库。

[2019-12-16 08:20] ph2537089017 commented on #21748
使用1.5的预测样例加载1.5的预测库进行预测。
使用1.6的预测样例加载1.6的预测库进行预测。都有&lsquo;CHECK&rsquo;&nbsp;was&nbsp;not&nbsp;declared&nbsp;in&nbsp;this&nbsp;scope这个错误。已经加了glog库。CHECK函数起什么作用的？如果不重要能不能直接预测？

---原始邮件---
发件人: &quot;juncaipeng&quot;<notifications@github.com&gt;
发送时间: 2019年12月16日(周一) 下午3:35
收件人: &quot;PaddlePaddle/Paddle&quot;<Paddle@noreply.github.com&gt;;
抄送: &quot;ph2537089017&quot;<2537089017@qq.com&gt;;&quot;Aut

[2019-12-16 08:27] kuke commented on #15067
BERT on Paddle 的实现开源在这里，敬请关注 https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/PaddleLARK/BERT

[2019-12-16 08:53] banma12956 commented on #21761
好像在其他地方也见过。。。。应该不止这一处

[2019-12-16 09:07] Anikily commented on #21618
@gfwm2013 大哥，理我一下啊

[2019-12-16 09:08] linshufei opened #21767 "如何使bn既能for_test模式预测，又能backward获取梯度？"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）CPU：CPU
    3）GPU：无
    4）系统环境：Linux python2.7
- 复现信息：如为报错，请给出复现环境、复现步骤
复现代码如下：
[code]
当debug为False时无报错；
当debug为True时报错信息如下：
Traceback (most recent call last):
  File "test.py", line 22, in <module>
    test_program = main_program.clone(for_test=True)
  File "<decorator-gen-15>", line 2, in clone
  File "/home/disk1/vis/linshufei/paddle-release/python-gcc4

[2019-12-16 09:13] juncaipeng commented on #21748
报错确实是CHECK没有找到，要不先把这个CHECK去掉，再试下，看模型预测输出是否正确。

[2019-12-16 09:14] luotao1 commented on #21761
嗯，排查了下，共有30处
- C++ 28处
[code]
- python两处
[code]

[2019-12-16 09:37] sserdoubleh opened #21768 "paddle 1.6.2多卡dygraph模式backward报错"
paddle版本1.6.2多卡报错，单卡无异常
paddle版本1.6.1，单卡多卡都没有异常
Edit: 不仅仅是Embedding，FC也一样报错，这应该是普遍存在的
复现代码如下
多卡运行脚本
[code]

模型训练脚本
[code]

报错信息
[code]

[2019-12-16 09:49] chenwhql commented on #21768
是个bug，已经在develop中修复了，见https://github.com/PaddlePaddle/Paddle/pull/21374

但是1.6.2已经发布了，这个没有cherry-pick到1.6.2里面，可以试下develop的包

[2019-12-16 10:00] chenwhql commented on #21768
Develop whl包链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/install/Tables.html#whl-dev

[2019-12-16 10:32] gzu-hmjiang opened #21770 "paddle 版本1.6 cpu 多核无法同时处理任务，只能单个核跑。"
程序代码中已设置os.environ['CPU_NUM'] = str(2)
def main(use_cuda, is_local):
    """
    main: train and infer
    """
    if use_cuda and not fluid.core.is_compiled_with_cuda():
        return
    os.environ['CPU_NUM'] = str(2)
    # Directory for saving the inference model
    save_dirname = "./output/model/"
    if not os.path.isdir(save_dirname):
        os.makedirs(save_dirname)
    train(use_cuda, s

[2019-12-16 10:38] gfwm2013 commented on #21618
@Anikily 不好意思，回复慢了…请问你的数据是几维的？如果是3维的，那你可以在第3维或是第4维进行上述操作

[2019-12-16 11:44] sserdoubleh commented on #21768
安装paddlepaddle_gpu-latest-cp37-cp37m-linux_x86_64.whl，出现
[code]

[2019-12-16 12:01] wojtuss commented on #21594
@luotao1 ,
In the logs there are entries saying that there are problems with memory allocation, e.g.
[code]
or
[code]
To investigate the issue further please send us the output of the `dmesg` command after the build with failing tests.
Also, could you please run reproduction using only a single thread (probably with `CTEST_PARALLEL_LEVEL=1`)? That would limit the possibility of interfering memory

[2019-12-16 12:05] Angus07 opened #21772 "tensor array 赋值错误"
我用fluid.layers.create_array(dtype='float32')建立了一个array
在 with while_op.block() 循环中赋值：
layers.array_write(weights, i=step_idx, array=weights_array)
并且这时候确保是有数据的（打印出来看过了）
但是在循环结束后，我尝试读取或操作这个array，比如
step_idx = layers.fill_constant(
            shape=[1], dtype=tgt_ids.dtype, value=0, force_cpu=True)
    weight_debug =   layers.array_read(weights_array, i=step_idx)
    layers.Print(weight_debug, mess

[2019-12-16 12:07] Anikily commented on #21618
@gfwm2013 数据是三维的，我操作了一下，但是提示我squeeze layer is not supported in dygraph mode yet.这可咋办。。
如果现在不能在动态图里实现squeeze的话，那还有别的办法实现conv1d吗？

[2019-12-16 12:16] luotao1 commented on #21594
Sorry, we could not use single thread(`CTEST_PARALLEL_LEVEL`=1), since it will cause the CI elapsed time longer.

Sorry, we have disable these unit-tests in #21696, and our nightly tests are on develop branch.

[2019-12-16 12:17] Anikily opened #21773 "运行出错"
W1216 20:15:13.219652 109084 init.cc:212] *** Aborted at 1576498513 (unix time) try "date -d @1576498513" if you are using GNU date ***
W1216 20:15:13.220960 109084 init.cc:212] PC: @                0x0 (unknown)
W1216 20:15:13.221151 109084 init.cc:212] *** SIGFPE (@0x7fa7bee8e778) received by PID 109084 (TID 0x7fa8b289d740) from PID 18446744072617518968; stack trace: ***
W1216 20:15:13.222162 10

[2019-12-16 12:44] JepsonWong commented on #21773
请问您的GPU、GCC、Paddle环境，程序的完整错误LOG是什么？

[2019-12-16 13:02] JepsonWong commented on #21767
for_test=True的情况下无法获取梯度。

请看相关文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Program_cn.html

![image](https://user-images.githubusercontent.com/16509038/70908852-2c867e80-2047-11ea-9ab6-ff58f3f0cc1d.png)

[2019-12-16 13:11] JepsonWong commented on #21768
您好，麻烦提供一下您的CUDA环境、Paddle环境、GCC环境。

[2019-12-16 13:14] JepsonWong commented on #21770
方便贴一下您的相关代码么，我本地复现一下。

[2019-12-16 13:19] linshufei commented on #21767
目标是要获取对输入数据x的梯度，而同时确保batch normalization和dropout等op在前向计算时使用test模式，目的是生成对抗样本，所以会有这种非常规的需求。

[2019-12-16 13:28] gfwm2013 commented on #21618
@Anikily 那可以将unsqueeze和squeeze更换成reshape操作，重新试一下

[2019-12-16 13:29] JepsonWong commented on #21767
目前不支持这种需求，这种需求我可以帮忙反馈一下。

[2019-12-16 13:43] luotao1 commented on #20964
@sneaxiy Could we remove declaration of mean grad op that "X" does not need buffer?

[2019-12-16 13:55] chenxiaoyu3 opened #21775 "PaddleSlim 训练后 量化yolov3报错"
- 版本、环境信息：
    1）PaddlePaddle版本：a5a8d14414213fadcfcd7dc60c794d1a515a390e  20191216 develop最新(因为1.6.2 release里没有包含 PostTrainingQuantization 类)
    2）系统环境：paddle 提供的docker:latest, python3.5

使用同样的代码，mobilenetv1 和 resnet已经跑通，模型换成yoloV3后报错
[code]

运行代码
[code]

模型来自 paddle models 官方voc 训练的，在这里我也传了一份 可供验证：
链接: https://pan.baidu.com/s/1-_lksetEE6rxZIxXVGQwFQ 提取码: y9y7

[2019-12-16 14:16] Anikily commented on #21773
@JepsonWong GPU:Tesla V100
GCC:4.8.2
Paddle:1.6.0
CUDA:9.0

[2019-12-16 14:17] JepsonWong commented on #21772
您好，我本地测试while op是可以为tensor array进行赋值的。您可以检查下您对tensor array的赋值过程。

[code]

[2019-12-16 14:23] Anikily commented on #21618
@gfwm2013 如果是B, C, N的话，那我是
fluid.layers.reshape(x, shape=[B, C, N, 1])
Conv2d
x = fluid.layers.reshape(x, shape=[B, C, N])吗？

[2019-12-16 14:54] JepsonWong commented on #21773
麻烦提供一下程序的完整LOG和复现代码。谢谢

[2019-12-17 01:59] juncaipeng commented on #21748
请问问题解决了吗？

[2019-12-17 02:08] juncaipeng commented on #21775
你好。
从你的log信息看是输入的维度不对，尺寸ImgSize和图像X必须对应，第一维必须相等。你查一下，可能ImgSize添加一个维度即可。
另外，建议使用最新的develop编译的whl包，这个接口比较老。目前最新的api接口如下：
![image](https://user-images.githubusercontent.com/52520497/70958710-1911fc80-20b5-11ea-9238-4515501c74d9.png)

[2019-12-17 02:18] sneaxiy commented on #20964
@jczaja @luotao1 I do not think that the second option is a common solution. If we remove `DECLARE_NO_NEED_BUFFER_VARS_INFERENCE` of mean_grad op in this case, we would remove all `DECLARE_NO_NEED_BUFFER_VARS_INFERENCE` of all ops in the future once the similar situation occurs. **`DECLARE_NO_NEED_BUFFER_VARS_INFERENCE` is designed to save memory consumption of models, and it is a very important f

[2019-12-17 03:11] rotc opened #21779 "paddle1.6.1通过save_inference_model保存的二进制词向量转换成文本报错"
参考[语义角色标注](https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basics/label_semantic_roles/index.html)的代码
[code]
解析通过`fluid.io.save_inference_model(save_dirname, test_feed_order, [scale_infer], exe)`保存的词向量`term_table`
[code]
报错，看起来是header的大小不对，其中a是保存的二进制term_table路径，看起来`f.read(28)`就可以成功
[code]

[2019-12-17 03:15] gfwm2013 commented on #21618
@Anikily 应该是这样的，关于reahspe操作具体可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/reshape_cn.html#reshape

[2019-12-17 03:33] aixier opened #21781 "取消"

[2019-12-17 03:35] zhangting2020 commented on #21779
请问是直接使用了语义角色标注的代码，paddle1.6版本，报错的吗？自己有做什么改动吗？

[2019-12-17 03:36] linshufei commented on #21767
好的辛苦反馈一下；
目前我在model定义文件里的batch_norm和dropout layer 里手动将is_test设置为True，代码已跑通，请问该方法是否正确？
如果正确，使用y = network(x)，能否用批量的操作将network里的bn和drop层的is_test参数设置为True，这样可以不改变model定义文件而直接在外部代码中进行批量操作。

[2019-12-17 03:41] rotc commented on #21779
不是用语义角色标注代码训练的，是自己的模型训出来，然后save_inference_model保存的

[2019-12-17 03:41] aixier commented on #21781
@zhangting2020

[2019-12-17 03:42] rotc commented on #21779
不是的，用的是自己的模型训练，然后save_inference_model保存的词向量结果

[2019-12-17 03:46] #21781 closed, assigned to nobody

[2019-12-17 03:55] JepsonWong commented on #21767
您好，您这种行为是可以的。但是目前没有批量改变is_test参数的接口。

[2019-12-17 03:56] zhangting2020 commented on #21779
能否提供一个可以复现问题的脚本，以方便相关同学排查

[2019-12-17 03:57] aixier opened #21782 "paddle.fluid.embedding 出错"
CPU 2
RAM 8GB
Python 3.7
PaddlePaddle 1.6.0
输入数据：
![1](https://user-images.githubusercontent.com/7700464/70963674-34383880-20c4-11ea-8945-b23db9c964af.png)
[code]
出错信息：
![2](https://user-images.githubusercontent.com/7700464/70963723-5631bb00-20c4-11ea-962f-facb7632e9cc.png)
@zhangting2020
[data.txt](https://github.com/PaddlePaddle/Paddle/files/3971391/data.txt)

[2019-12-17 05:16] gzu-hmjiang commented on #21770
上面写的就是本地代码，数据你随便找一个就可以撒。

[2019-12-17 05:17] gzu-hmjiang commented on #21770
train 的接口实现的就是训练的过程。

[2019-12-17 05:26] zhangting2020 commented on #21782
看了下报错内容：embedding的输入(input)的值要在0～10000之间，但是输入的值中存在-1。
可以参考该API的说明，关于输入有提到：input中的id必须满足 0 =< id < size[0] 。https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/embedding_cn.html#embedding
请检查embedding的输入。

[2019-12-17 05:38] #21772 closed, assigned to nobody

[2019-12-17 05:46] rotc commented on #21779
已提供

[2019-12-17 06:10] luotao1 commented on #21767
@JepsonWong 是否考虑增加一个`FLAGS_is_test=true`的接口，类似目前的`FLAGS_use_mkldnn=true`，批量打开mkldnn kernel的接口。

[2019-12-17 06:27] #21618 closed, assigned to nobody

[2019-12-17 06:47] sserdoubleh commented on #21768
CUDA: 10.0
Paddle: dev版本
Python: 3.7.3
GCC: 4.8.2
@JepsonWong

[2019-12-17 06:47] Colorfu1 commented on #19766
可以试着先进行unsqueeze操作，比如在后面增加一个维度，得到一个(-1, 1)的tensor，其实就是(width, 1)维度的tensor，应该可以直接使用了。

[2019-12-17 06:57] ph2537089017 commented on #21748
十分感谢您的耐心解答，这个问题解决了。希望paddle越来越完善，越来越易用。

---原始邮件---
发件人: "juncaipeng"<notifications@github.com&gt;
发送时间: 2019年12月17日(周二) 上午9:59
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "ph2537089017"<2537089017@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] paddle1.5 c++预测出错 (#21748)

使用1.5的预测样例加载1.5的预测库进行预测。 使用1.6的预测样例加载1.6的预测库进行预测。都有‘CHECK’&nbsp;was&nbsp;no

[2019-12-17 07:04] gzu-hmjiang commented on #13824
param = inference_scope.var(var_name).get_tensor()这个inference_scope是什么呢？

[2019-12-17 07:09] JepsonWong commented on #21767
好的，这个我在issue例会上提一下。

[2019-12-17 07:11] JepsonWong commented on #21770
我想问的是train里面代码是如何实现的，使用的ParallelExecutor还是Executor。

[2019-12-17 07:16] JepsonWong commented on #21768
操作系统版本是什么？是否升级过系统的一些库，比如glibc等？应该安装的paddle也是cuda10版本的吧？

[2019-12-17 07:20] sserdoubleh commented on #21768
操作系统是Cent-OS 6.3
paddle版本是cuda10版本的

[2019-12-17 07:24] sserdoubleh commented on #21768
可能是python的问题，我用anaconda安装的python没有问题

[2019-12-17 07:24] JepsonWong commented on #21768
是否对系统库如glibc库进行过升级呢？然后输出glibc版本看看

[2019-12-17 07:25] sserdoubleh commented on #21768
是这个吗？
[code]

[2019-12-17 07:28] JepsonWong commented on #21768
/lib64/libc.so.6 --version 看看

[2019-12-17 07:35] sserdoubleh commented on #21768
[code]

[2019-12-17 07:41] bingyanghuang commented on #21123
@qingqing01 @luotao1 Can this issue be closed?

[2019-12-17 07:42] JepsonWong commented on #21768
这个问题我记录一下，我复现一下。请您关注issue的回复。如果有docker的话考虑使用预装paddle的docker环境么？里面已经安装好了develop分支的paddle。

[2019-12-17 08:33] zhangting2020 commented on #21779
建议通过保存下来的网络描述，拿到embedding的参数名字。根据参数名，获取参数可以参考链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/train_cn.html#q-numpyfcw

[2019-12-17 09:12] LMXKO opened #21792 "运行官网线性回归例子出错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）CPU：Intel(R) Xeon(R) Silver 4110 CPU @ 2.10GHz
    3）GPU：无GPU
    4）系统环境：Centos，Python3
- 模型信息
    1）线性回归 链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basics/fit_a_line/README.cn.html
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：
[==================================================]ing/housing.data not found, downloading http://paddlemodels.b

[2019-12-17 09:24] juncaipeng commented on #21748
好的。不客气。

[2019-12-17 09:24] #21748 closed, assigned to juncaipeng

[2019-12-17 09:52] liushanshan07 opened #21794 "Tensor holds no memory. Call Tensor::mutable_data first"
------------------------------------------
Python Call Stacks (More useful to users):
------------------------------------------
  File "/home/vis/liushanshan/common_env/anaconda2_cuda90_fix_dev/lib/python2.7/site-packages/paddle/fluid/framework.py", line 2423, in append_op
    attrs=kwargs.get("attrs", None))
  File "/home/vis/liushanshan/common_env/anaconda2_cuda90_fix_dev/lib/python2.7/site-pac

[2019-12-17 09:58] luotao1 commented on #21232
由于业务只需要对齐6位小数点，因此关闭本issue。

[2019-12-17 09:58] #21232 closed, assigned to bingyanghuang

[2019-12-17 09:58] luotao1 commented on #21425
由于业务只需要对齐6位小数点，因此关闭本issue。

[2019-12-17 09:58] #21425 closed, assigned to bingyanghuang

[2019-12-17 10:21] XiaoheYou opened #21795 "save_vars报错‘Getting 'tensor_desc' is not supported by the type of var _generated_var_0. at [/paddle/paddle/fluid/framework/var_desc.cc:207]’"
   1）PaddlePaddle版本：1.4.1
    2）GPU：P4
    3）系统环境：centos6
    4）单卡

- 问题描述：fluid.io.save_vars 报错：
[ERROR 12-17 09:24:35.453 mask_rcnn_workflow_local.py:164] Getting 'tensor_desc' is not supported by the type of var _generated_var_0. at [/paddle/paddle/fluid/framework/var_desc.cc:207]
PaddlePaddle Call Stacks:
0       0x7f315d4e0ff8p void paddle::platform::EnforceNotMet::Init<std::string>(std::stri

[2019-12-17 10:26] zhangting2020 commented on #21795
从上面的log难以确定问题。能提供一个复现问题的脚本吗？

[2019-12-17 10:26] zhangting2020 commented on #21794
该问题是由于Tensor未被初始化。麻烦检查一下softmax_with_cross_entropy的输入是否有数据呢？

[2019-12-17 11:17] XiaoheYou commented on #21795
你们自带的demo，保存模型的时候，把save_persistables改成save_vars就能复现。

[2019-12-17 11:37] zlinker opened #21796 "lstm operator only gpu devices supported"
**System information**
-PaddlePaddle version: 1.6

I tried to use **fluid.layers.lstm** in a sequential encoding task on cpu mpi cluster, and was surprised to found it unsupported for cpu devices since [version 1.2](https://github.com/PaddlePaddle/Paddle/blob/release/1.2/python/paddle/fluid/layers/nn.py#L492), wondering why it was still incompleted in the [latest version](https://github.com/Paddle

[2019-12-17 12:01] #20977 closed, assigned to wangguibao, liupluswei

[2019-12-17 12:02] liushanshan07 commented on #21794
loss = fluid.layers.ssd_loss(locs, confs, gt_box, gt_label, box, box_var)
你好，程序是挂在这句话。我check输入都是有值的，在python2.7/site-packages/paddle/fluid/layers/detection.py的ssd_loss内挂的，如何check？

[2019-12-17 12:12] Anikily opened #21797 "安装错误:Error: Failed to create Cudnn handle in DeviceContext"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.2
    3）GPU：Tesla V100, CUAD=9.0, cudnn=7.0
    4）系统环境：CentOS, python=3.6
- 安装方式信息：
conda install paddlepaddle-gpu cudatoolkit=9.0        

命令行输入python，然后import paddle.fluid 然后paddle.fluid.install_check.run_check()
报错如下：
 paddle.fluid.install_check.run_check()
Running Verify Fluid Program ...
W1217 20:12:12.456184 62242 device_context.cc:236] Please NOTE: device

[2019-12-17 13:08] zhangting2020 commented on #21795
请问有试过1.6版本吗？可以使用1.6看看会不会出现这个错误

[2019-12-17 13:44] JepsonWong commented on #21797
您好，cuda9.0下paddle要求cudnn版本7.3以上，请升级cudnn版本。

[2019-12-17 14:19] JepsonWong commented on #21772
解决结果：
tensor array的赋值过程有误，循环里首先对step_idx自增，然后给tensor array赋值，这样导致tensor array index为0时没有数据。

[2019-12-17 14:32] wudenggang opened #21799 "image_util.py 内flip函数修正"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlle 1.6及之前版本有此问题
![flip函数修正](https://user-images.githubusercontent.com/3587832/71004521-fca9aa80-211c-11ea-9f1b-c6c831d41488.png)

[2019-12-17 16:30] zhangting2020 commented on #21792
你好，我使用`pip install paddlepaddle==1.6.0`安装了paddle，下载官方book，使用`python train.py`执行fit a line这个demo的脚本，可以正常运行，未复现错误。

[2019-12-18 00:51] aixier commented on #21782
查到了谢谢

[2019-12-18 00:51] #21782 closed, assigned to zhangting2020

[2019-12-18 00:54] hustluy opened #21803 "paddle::CreatePaddlePredictor函数出core"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1
    2）GPU：GPU型号：P4，CUDA：10.1，CUDNN：7.5
    3）系统环境：CentOS release 6.3
-预测信息
    1）C++预测：paddlepaddle@v1.6.1-gcc82-cuda10.1-cudnn7.5_PD_BL
    2）API信息：
        paddle::AnalysisConfig config(model_dir);
        config.EnableUseGpu(gpu_memory_size, device);
        if (multi_input == 1) {
            config.SwitchSpecifyInputNames(true);
            config.SwitchU

[2019-12-18 02:20] MrChengmo commented on #21803
已经转交给预测的同学跟进。

[2019-12-18 02:25] Anikily commented on #21797
@JepsonWong CUDA换为9.2，cudnn7.5之后依然报错

paddle.fluid.install_check.run_check()
Running Verify Fluid Program ...
W1218 10:22:45.979878 55823 device_context.cc:236] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.1, Runtime API Version: 9.0
W1218 10:22:45.985112 55823 device_context.cc:244] device: 0, cuDNN Version: 7.5.
/home/yulu/anaconda3/envs/paddle/lib/python3.6/site-packages/

[2019-12-18 02:28] LMXKO commented on #21792
代码如下：
# coding=utf-8
from __future__ import print_function
import paddle
import paddle.fluid as fluid
import numpy as np
import math
import sys

BATCH_SIZE = 32

# 数据集定义
train_reader = paddle.batch(paddle.reader.shuffle(paddle.dataset.uci_housing.train(), buf_size=500), batch_size=BATCH_SIZE)
test_reader = paddle.batch(paddle.reader.shuffle(paddle.dataset.uci_housing.test(), buf_size=500), batch_s

[2019-12-18 02:30] LMXKO commented on #21792
代码如下：
`# coding=utf-8
from __future__ import print_function
import paddle
import paddle.fluid as fluid
import numpy as np
import math
import sys

BATCH_SIZE = 32

# 数据集定义
train_reader = paddle.batch(paddle.reader.shuffle(paddle.dataset.uci_housing.train(), buf_size=500), batch_size=BATCH_SIZE)
test_reader = paddle.batch(paddle.reader.shuffle(paddle.dataset.uci_housing.test(), buf_size=500), batch_

[2019-12-18 02:42] juncaipeng commented on #21775
请问是否还有问题？

[2019-12-18 02:55] zhangting2020 commented on #21796
cpu support  of lstm op is currently planned.

[2019-12-18 03:22] wangxicoding opened #21804 "batch_norm_grad输出的Output为0，导致后续出错"
### 现象

![image](https://user-images.githubusercontent.com/10208305/71050952-90d83980-213e-11ea-913c-aed407406575.png)

1. fleet多机运行出现allreduce中tensor未初始化现象
![image](https://user-images.githubusercontent.com/10208305/71051228-81a5bb80-213f-11ea-8db9-1130ada3114b.png)

2. nccl2的log中，conv1_bn_offset@GRAD应该初始化了的，不过size仍然为0。且在之后的L2Decay正则化过程中，shape被_generated_var_0给重新扭回去了
![image](https://user-images.

[2019-12-18 03:23] wangxicoding commented on #21804
https://github.com/PaddlePaddle/Paddle/pull/21801
这个PR解决了前两个问题。
1. batch_norm_grad的Infer Shape逻辑加上了要么scale和bias都训练，要么都不训练。
2. allreduce加上shape需>0的判断。

[2019-12-18 03:31] chenwhql commented on #21794
你好，有没有C++栈信息，能贴出来一下吗

[2019-12-18 03:35] liushanshan07 commented on #21794
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::string const&, char const*, int)
2   paddle::framework::Tensor::check_memory_size() const
3   paddle::operators::math::SetConstant<paddle::plat

[2019-12-18 03:42] zhangting2020 commented on #21792
我试着调整了下你的代码，需要在for i in range(epoch_num):之前加一句
[code]
这样应该可以正常运行。

[2019-12-18 03:45] zhangting2020 commented on #21792
建议使用下面链接中的fit_a_line教程代码
教程的代码：https://github.com/PaddlePaddle/book/tree/develop/01.fit_a_line

[2019-12-18 04:10] jinxuan777 opened #21807 "如何修改训练好的网络参数"
已经训练好的imagenet的（VGG）weight中的fc7，想要修改一些位置的weight然后重新保存，有相应的例子不

[2019-12-18 05:04] MrChengmo commented on #21807
没有一步到位的方法可以实现这个功能，但是可以按照以下步骤尝试一下：

1. load训练好的模型
2. 从scope中取到对应的参数，并转换为nparray的格式，示例

3. 用该array修改指定位置的weight
4. 保存该weight
5. 利用该weight初始化模型，并正常保存即可，参考该api:https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/initializer_cn/NumpyArrayInitializer_cn.html#numpyarrayinitializer

[2019-12-18 05:08] zhangting2020 commented on #21779
用户反馈上面给出的方法已解决问题。

[2019-12-18 05:08] #21779 closed, assigned to Shixiaowei02

[2019-12-18 05:32] zhangting2020 commented on #21795
建议使用1.6版本。
save接口，请参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_cn.html#save
load接口，请参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/load_cn.html#load

[2019-12-18 06:04] Junphy-Jan commented on #16759
请问下是否可以查询一下内存里有没有对应name的py_reader

[2019-12-18 06:46] chenwhql commented on #21794
感谢提供，看了下代码，发现这是个bug，在PR https://github.com/PaddlePaddle/Paddle/pull/21810 修复

[2019-12-18 06:50] liushanshan07 commented on #21794
辛苦。我拿官网ssd model训了下也遇到了同样问题。求问这个bug是啥意思？通俗点帮忙解释下？

[2019-12-18 06:55] chenwhql commented on #21794
就是当属性axis所在的数据dim为1 的话，会先将输出变量softmax全部初始化为1，loss全部初始化为0，但这属于对tensor的操作，应该在tensor调用mutable_data申请内存之后进行，原程序里设置初值的操作在申请内存之前进行的，所以错了。之前的单测没有测试axis_dim为1的情况

这是程序错误的逻辑，至于为什么要设置1和0，可能得问下写这块代码的人

[2019-12-18 06:59] Anikily commented on #21797
@JepsonWong 大佬来看看呀

[2019-12-18 07:26] wwjjy opened #21812 "使用executor和使用predictor的预测结果有差异"
1）PaddlePaddle版本：paddle 1.6
2）Python版本：3.7
现象：同样的数据使用load_inference_model加载，并使用executor进行预测输出的结果是正常的。将输入数据转为PaddleTensor，并使用AnalysisConfig、create_paddle_predictor加载模型，进行预测，预测结果不对。加载以及预测部分的代码如下：
# 加载部分
model_dir = 'model/freeze-model-1127'
predictor_config = AnalysisConfig(model_dir)
predictor_config.disable_gpu()
predictor = create_paddle_predictor(predictor_config)
# 数据部分
tensor_img = PaddleTenso

[2019-12-18 08:58] zhangting2020 commented on #21795
与用户沟通后，目前确认应该是1.4版本存在的bug。用户使用save_vars文档说明中的示例代码，在1.4版本中发现无法跑通。我用1.6.0版本测试，运行无问题。用户将升级paddle版本。

[2019-12-18 08:58] #21795 closed, assigned to zhangting2020

[2019-12-18 10:03] ddokupil commented on #21637
At first I said it helped but cannot prove it anymore, so my previous mesage is invalid. Here are the results:
CPU CLX 6248:
70c073a (release/1.6) fps: 134.699
234060f (regression introduced) fps: 129.938
Current develop fps: 130.187

CPU CLX 8280:
6cfcbe0 (pre regression) fps: 143.462
70c073a (release/1.6) fps: 144.5
234060f (regression introduced) fps: 139.224
Fix #21650: fps: 139.194
Current De

[2019-12-18 10:25] huangyunhua opened #21820 "linux环境下的离线安装有像windows这样的教程吗"
https://paddle-wheel.bj.bcebos.com/1.5.2-win-offline/paddle_windows%E7%A6%BB%E7%BA%BF%E5%AE%89%E8%A3%85%E5%8C%85%E8%AF%B4%E6%98%8E%E6%96%87%E6%A1%A3.pdf

[2019-12-18 10:50] zhangting2020 commented on #21799
你好，这个应该不是一个bug，是flip函数注释存在问题。可以看在crop_img中调用了该函数，传进flip的输入图像实际是K x H x W的：
https://github.com/PaddlePaddle/Paddle/blob/04909137f52a0c6d495c4d882f9ef853a2fcd24d/python/paddle/utils/image_util.py#L45-L49

[2019-12-18 11:42] DDDivano commented on #21727
老铁我觉得这段代码 `res = res.reshape((res.shape[1],res.shape[2],res.shape[0]))`是不是应该换成transpose？

[2019-12-18 11:43] MrChengmo commented on #21820
linux环境下需要机器安装有docker，然后可以离线的安装含有paddle的docker镜像，以此完成paddle离线的安装。

- 离线安装教程：https://paddle-docker-tar.bj.bcebos.com/%E3%80%8APaddlePaddle%E4%BC%81%E4%B8%9A%E7%A6%BB%E7%BA%BF%E5%AE%89%E8%A3%85%E5%8C%85%E8%AF%B4%E6%98%8E%E6%96%87%E6%A1%A3%E3%80%8B.pdf

- 最新的docker环境：

https://paddle-docker-tar.bj.bcebos.com/1.6.2/paddle-fluid-1.6.2-offline.zip  

[2019-12-18 11:48] DDDivano commented on #21727
你可以看一下 reshape 和transpose的区别 ，你读数据用reshape当转置肯定是错的

[2019-12-18 11:55] JepsonWong commented on #21797
抱歉下午有点事没来得及看。
您是centos6还是centos7？
1.麻烦贴一下CUDA_HOME、LD_LIBRARY_PATH、LIBRARY_PATH环境变量的值。
2.麻烦贴一下nvidia-smi、nvcc -V命令的输出结果。

还有，能说明一下您怎么切换cuda、cudnn的么？

[2019-12-18 12:53] wangxicoding commented on #21804
第5个问题：
用户的代码中在使用nccl2接口时设置build_strategy.memory_optimize为True，fleet接口未设置。 设置为True时，shape={0}的tensor会初始化，未设置时shape={0}的tensor不初始化。
### 具体原因
 因为显存复用策略可能会让它初始化

同时这个策略不推荐使用了，没必要设置这个。

[2019-12-18 13:01] suytingwan opened #21824 "paddle1.6.2 fluid.layers.mul训练的时候报错"
该问题搜索过https://github.com/PaddlePaddle/Paddle/issues/17955
https://github.com/PaddlePaddle/Paddle/issues/8283
目前paddle版本1.6.2，因为其他的函数依赖需要用这个版本，静态图矩阵乘法出现如下问题，求解决方案

Python Call Stacks (More useful to users):
------------------------------------------
  File "/home/disk2/suying02/paddle-release/python-gcc482-paddle/lib/python2.7/site-packages/paddle/fluid/framework.py", line 2488, in append_op
    at

[2019-12-18 13:11] huangyunhua commented on #21820
非常感谢，我已经下载了paddle-fluid-1.6.2-offline.tar，可是为什么会有12G这么大呢？

[2019-12-18 13:13] MrChengmo commented on #21824
在反向mul_grad时报错，已经联系相关开发者跟进这个问题。
请问可否提供可以复现的代码或环境？

[2019-12-18 13:21] MrChengmo commented on #21820
包含了linux下常用工具，方便在docker中进行开发：
![image](https://user-images.githubusercontent.com/29789135/71089657-4b6a4980-21dc-11ea-8304-9b9d2384aaf1.png)

[2019-12-18 14:36] Sand3r- commented on #21492
We can surely do that. I've opened up a PR implementing this: #21826

[2019-12-19 02:07] suytingwan commented on #21824
可以

[2019-12-19 02:13] wawltor commented on #21824
麻烦提供一下环境或者代码，我这边复现一下再看看问题

[2019-12-19 02:26] Meiyim opened #21828 "squeeze_op 在inference模式下导致产生错误"
测试环境：cuda 9, cudnn 7.0.3
采用C++代码对inference_model进行前向预测。
相关config配置如下：

[code]
若采用fluid_inference 1.6.0 则直接出core没有信息
若菜用fluid_inference develop，版本信息如下：
[code]

运行log如下：
[code]

截取部分组网代码，贴在下面：
[code]

[2019-12-19 02:48] gongweibao opened #21830 "对外宣讲碰到的问题"
1、其它框架模型权重向pp的权重转换支持与否，同时也看到过跨框架的模型转换的，但相对比较简单模型可以转换，不知道pp这块对这个有么有支持？
2、pp自定义算子构建针对部署的规范，是不是只要是C++的一定都支持后续部署？目前了解就是其它平台的算子也有采用C++的，但是都是需要CUDA相关背景知识，不知道pp这块是不是一样？
3、部署后的模型性能对比有么有？包括准确率和运行时间性能，另外部署支持的具体平台有么有列表？（cpu型号等）

[2019-12-19 03:06] xcwei opened #21831 "paddle怎么创建一个常量矩阵，矩阵里每个元素的值不同，类似于TF的tf.constant([11,22,33])"
paddle怎么创建一个常量矩阵，矩阵里每个元素的值不同，类似于TF的tf.constant([11,22,33])

[2019-12-19 03:30] #21502 closed, assigned to lijianshe02

[2019-12-19 03:44] huangyunhua opened #21832 "编译错误：模型在windows环境下可成功预测，但是在linux上报错"
PaddlePaddle版本：1.6.1
系统环境：linux,python 3.6

windows上的安装时用pip
linux安装是先下载各项依赖包，然后用pip install --no-index --find-links=/usr/packages/download/ paddlepaddle安装的（已经用install_check_run测试显示安装成功）

报错信息如下
/opt/rh/rh-python36/root/usr/lib64/python3.6/site-packages/paddle/fluid/executor.py:774: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")

[2019-12-19 03:46] #21820 closed, assigned to nobody

[2019-12-19 03:56] taoziliu commented on #21830
展区开发者反馈：ngc.nvidia.com上的paddle没法正常启动

[2019-12-19 05:57] danleifeng commented on #21831
可以使用fluid.layers.assign 接口，比如：
`result3 = fluid.layers.assign(np.array([[2.5, 2.5], [2.5, 2.5], [2.5, 2.5]], dtype='float32'))`
更多assign信息可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/assign_cn.html#cn-api-fluid-layers-assign

[2019-12-19 06:06] danleifeng commented on #21830
感谢您的反馈，已告知相关负责人。

[2019-12-19 06:10] danleifeng commented on #21828
已转给预测的同学跟进。

[2019-12-19 06:22] danleifeng commented on #21832
你好，已转给预测的同学跟进。

[2019-12-19 06:24] jiweibo commented on #21828
请问能否提供下测试环境（代码和模型），先尝试复现以下问题

[2019-12-19 06:27] jiweibo commented on #21832
请问能否提供下测试环境（代码和模型），先尝试复现以下问题

[2019-12-19 06:30] huangyunhua commented on #21832
好的，请问我如何给你我的代码和模型呢？

[2019-12-19 06:31] jiweibo commented on #21832
可以压缩后直接贴在评论里

[2019-12-19 06:38] FrostML commented on #21812
经验证C++的API可以得出结果。
使用Python的预测API，需要在创建PaddleTensor的时候加上copy()，可以正常执行。示例如下：
[code]

[2019-12-19 06:39] huangyunhua commented on #21832
进入解压目录后运行python ./Senta-master/sentiment_classify.py --test_data_path ./WeSn
iiveContent/2019121913472229225253.txt --word_dict_path ./Senta-master/C-API/fluid-senti-classify_config/config/train.v
ocab --mode infer --model_path ./Senta-master/C-API/fluid-senti-classify_config/config/Senta/

[2019-12-19 06:40] huangyunhua commented on #21832
文件太大了不能上传

[2019-12-19 06:42] huangyunhua commented on #21832
要不我发你邮箱吧

[2019-12-19 06:44] jiweibo commented on #21832
存百度云，然后给个分享吧，复现后同步进展

[2019-12-19 07:06] #21812 closed, assigned to FrostML

[2019-12-19 07:21] huangyunhua commented on #21832
链接：https://pan.baidu.com/s/1iLUYJlQjRpQW5SFaUFD-Zg
提取码：7axg

[2019-12-19 07:49] huangyunhua commented on #21832
应该可以排除环境安装问题，我刚刚试了试用pip在线安装PaddlePaddle，运行模型后还是报同样的错

[2019-12-19 08:34] huangyunhua commented on #21832
可以先运行python3 SentimentSentence.py  再运行其输出的命令，比如：python3 ./Senta-master/sentiment_classify.py --test_data_path /usr/local/bin/web_security/SensitiveSentimentScore2.0/WebSensitiveContent/2019121916301941663254.txt --word_dict_path ./Senta-master/C-API/fluid-senti-classify_config/config/train.vocab --mode infer --model_path ./Senta-master/C-API/fluid-senti-classify_config/config/Senta/

[2019-12-19 11:16] Sand3r- commented on #21660
Couldn't reproduce this on my SkyLake machine despite of forcing avx2 implementations of all MKL-DNN layers:
[code]
The test passed just fine without yielding any inconsistencies.

[2019-12-19 12:03] jiweibo commented on #21832
是不是环境的问题？我在mac下和Linux下都没出错？
![image](https://user-images.githubusercontent.com/26377421/71172236-a793a300-229a-11ea-82b1-0beb2ca14427.png)

[2019-12-19 12:23] luotao1 commented on #21660
@Sand3r- @bingyanghuang Could you use `Intel(R) Xeon(R) CPU E5-2650 v4` or any other AVX2 machine?

[2019-12-19 14:59] Hsoms opened #21852 "线性回归例子组网报错"
[code]

报错：
[code]

[2019-12-20 02:28] luotao1 commented on #21598
#21826 disable memory optimization pass when mkldnn is on

[2019-12-20 02:28] #21598 closed, assigned to nobody

[2019-12-20 02:29] luotao1 commented on #21492
#21826 disable memory optimization pass when mkldnn is on

[2019-12-20 02:29] #21492 closed, assigned to luotao1

[2019-12-20 02:31] mapingshuo commented on #21852
@Hsoms  请提供更多报错信息，包括C++ callstacks 和 Python callstacks

[2019-12-20 02:32] mapingshuo commented on #21852
I got no error with the following code:

[code]

[2019-12-20 02:34] mapingshuo commented on #21852
Where does this demo come from?

[2019-12-20 02:55] bingyanghuang commented on #21637
@Xreki We have verified that Gaowei's PR has fixed Bert regression problem. Can this issue be closed?

[2019-12-20 03:13] luotao1 commented on #20831
https://github.com/PaddlePaddle/Paddle/releases Release1.6, 1.6.1, 1.6.2 都已经发布了。

[2019-12-20 03:13] #20831 closed, assigned to seiriosPlus

[2019-12-20 03:17] Xreki commented on #21637
@ddokupil @bingyanghuang It seems the BERT regression problem is still not fixed yet?

[2019-12-20 03:22] bingyanghuang commented on #21637
Sorry for the confusion, you are right. I will double check again to give the clear status now.

[2019-12-20 04:01] huangyunhua commented on #21495
感谢各位工程师的帮助，我在新环境下试了两次都是可以运行的，真是环境问题。太感谢啦

[2019-12-20 04:04] huangyunhua commented on #21832
我测试了一下新环境，确实可以。估计是之前我自己把环境搞崩了，谢谢各位工程师的帮助！

[2019-12-20 04:04] #21832 closed, assigned to nobody

[2019-12-20 04:55] NHZlX commented on #21830
1. 可以使用x2paddle https://github.com/PaddlePaddle/X2Paddle
2. PP自定义算子构建针对部署还在支持中。
3. Paddle原生预测引擎的支持x86 cpu， nvidia gpu server， nvidia jetson。
PaddleLite支持ARM CPU, Mali GPU, Adreno GPU, Huawei NPU.

另外后续遇到预测相关问题，紧急情况可直接联系相关同学，这样回复会快一些。

[2019-12-20 06:43] liushanshan07 commented on #21794
求问该bug目前pr合入了吗。拉最新的lastest可以训练吗。

[2019-12-20 06:47] zhangting2020 commented on #21794
bug修复的PR已合入，拉取最新的develop代码即可

[2019-12-20 07:00] Melonzhou opened #21860 "文本生成任务训练过程中，fetch预测结果和标注label的时候MergeLoDTensor出错"
1.6.1 CPU版本
CPU_NUM = 1 和4时正常训练，不会出错。当CPU_NUM设置成2时，MergeLoDTensor出错
报错信息
INFO: 12-20 13:55:16 trainer.py [train_log:283][5073] train log: steps 5, loss 56.21187973022461, metrics: {'acc': 0.0}
INFO: 12-20 13:55:24 trainer.py [train_log:283][5073] train log: steps 10, loss 18.280614852905273, metrics: {'acc': 0.0}
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/paddle/

[2019-12-20 07:03] Meiyim commented on #21860
目测是多卡训练中，被fetch量含有除了batch维外其他变长维度。导致不同卡的shape不一样。因此返回时无法 将多卡结果merge到一起。
解决方案是不要在多卡运行下fetch这个量。

[2019-12-20 07:05] Melonzhou commented on #21860
是的，decode_output和label的长度本身就是不一样的，这种情况有办法fetch么？

[2019-12-20 07:08] Meiyim commented on #21860
一个比较取巧的方案是，你可以把batch和seqlen维度揉在一起。从而变成[batch* seq, dim]。 fetch回来之后再自行还原回来。

[2019-12-20 07:13] Melonzhou commented on #21860
OK ，感谢感谢，我试一下

[2019-12-20 07:45] AltenLi opened #21863 "DCN预测时5%概率会有core出现"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）CPU
    4）系统环境：python3.6.7
复现信息：以下是在hadoop上运行时的报错，本地运行时能看到很多core文件生成。
Namespace(batch_size=512, cat_feat_num='./data/poi_all/cat_feature_num.txt', clip_by_norm=100.0, cross_num=6, dnn_hidden_units=[1024, 1024], infer_by_user=True, infer_thre=0.9, is_sparse=False, l2_reg_cross=1e-05, lr=0.0001, model_output_dir='./cluster_model', num_epoch=2, num_thread=20,

[2019-12-20 10:00] #18798 closed, assigned to fc500110

[2019-12-20 11:14] AoZhang opened #21871 "Seq2Seq 模型解码端支持动态词表"
需要实现一个解码端有语法约束的 seq2seq 模型，解码端通过语法知识限制解码词表空间，并解码为树结构。想问一下如何实现不同时间步下的动态词表。

[2019-12-20 11:17] huangyunhua commented on #21820
https://blog.csdn.net/m0_37872090/article/details/103626734  这是我写的离线安装Paddle的教程，这样安装安装包只有200M，希可以帮到需要的人。

[2019-12-20 12:18] guoshengCS commented on #21871
是否可以按照需要对在限制词表之外的词的score进行修改（比如设置为-INF）来达到目的呢

[2019-12-20 12:23] AoZhang commented on #21871
我也是想到了类似的方法：在完整词表上计算后，只在我想限定的词表范围内找答案。不过是感觉比较trick啊。paddle 原生有支持类似功能的方法吗。

[2019-12-20 13:26] #18317 closed, assigned to jerrywgz

[2019-12-20 13:27] #17203 closed, assigned to jerrywgz

[2019-12-20 13:29] #16209 closed, assigned to NHZlX, jerrywgz

[2019-12-21 03:17] Hsoms commented on #21852
it comes from the CSDN blogs，which was written by yeyupiaoling

[2019-12-22 14:26] wilhelmzh commented on #21863
已和用户联系正在沟通，目前在python3.6.7尝试pip 1.6.1和1.6.2版本，都出现上述问题。但本地使用用户环境未复现上述错误。

可能是机器不支持mkl，建议尝试不带mkl的版本，或关闭mkl编译paddle。

[2019-12-23 02:17] zjutlzt opened #21877 "Paddle-TensorrT"
官网上的 Paddle-Tensorrt 只有 mobilenet 的 classification  Demo， 请问是目前还不支持Detectrion吗？  或者有Detection的demo code 可以学习吗？   我用 PaddleDetection  export_model 在Paddle-Tensorrt 里运行  遇到问题

[2019-12-23 03:14] GaoWei8 commented on #21637
Intel(R)   Xeon(R) Gold 6148:
#21341 (before regression) fps: 114.662
#20972  (regression introduced) fps: 111.629
#21650 fps: 111.36

[2019-12-23 03:14] zds9204 opened #21880 "推荐模型使用MKLDNN加速后，预测速度变慢"
我搭建了一个embedding+三层fc+relu的推荐系统模型。依赖厂内的预编译库baidu/lib/paddlepaddle@v1.6.1-gcc82-avx-mkl-mkldnn_PD_BL做预测。遇到如下问题：

1. 打开优化config->SwitchIrOptim(true)后，打开MKLDNN（config->EnableMKLDNN()），网络预测速度在个人开发机上测试为0.7ms左右。关闭MKLDNN，网络预测速度在个人开发机上测试为0.4ms左右；
2. 关闭优化后，无论是否打开MKLDNN，网络预测速度为0.5ms左右

请问这种情况是否正常？为何会出现这种情况？

由于模型和特征涉及到公司业务，不方便把它放在git上，相关人员可以和本人私聊提供可复现代码

[2019-12-23 03:42] webary opened #21881 "训练一轮后任务失败status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded"
多分类（68类）简单全连接分类任务训练一轮后任务失败，失败提示信息：
F1222 19:03:46.287559 19021 grpc_client.cc:414] SendRPC name:[softmax_b@GRAD.trainer_0], ep:[10.90.145.38:62004], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
*** Check failure stack trace: ***
    @     0x7fca1817efbd  google::LogMessage::Fail()
    @     0x7fca18182a6c  google::LogMessage::SendToLog()
    @     0x7fc

[2019-12-23 03:47] webary commented on #21881
多机CPU，MPI集群训练；
paddle fluid v1.5.2；
已训练完一轮train，测试了一轮test

[2019-12-23 04:25] zjutlzt commented on #21877
W1223 11:59:43.711913 20079 device_context.cc:236] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 10.1, Runtime API Version: 9.0
W1223 11:59:43.712009 20079 device_context.cc:244] device: 0, cuDNN Version: 7.6.
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():

--------------------------------------------
C++ Call Stacks (More useful to de

[2019-12-23 04:28] zjutlzt commented on #21877
用的是  官方的PaddleDetection   模型 cascade_rcnn_r50_fpn_1x
exportmodel
固定了 输入 3，640 ，640

[2019-12-23 04:28] zjutlzt commented on #21877
namespace paddle {
using paddle::AnalysisConfig;
DEFINE_string(dirname, "./cascade_rcnn_r50_fpn_1x", "Directory of the inference model.");
using Time = decltype(std::chrono::high_resolution_clock::now());
Time time() { return std::chrono::high_resolution_clock::now(); };
double time_diff(Time t1, Time t2) {
  typedef std::chrono::microseconds ms;
  auto diff = t2 - t1;
  ms counter = std::chrono::

[2019-12-23 05:11] wilhelmzh commented on #21877
你好：
可以参考下这个，https://github.com/PaddlePaddle/PaddleDetection/tree/release/0.1/inference

如果是python里的tensorrt，可以参考下这个pull request
https://github.com/PaddlePaddle/models/pull/3091/files

[2019-12-23 05:21] Angus07 opened #21882 "预测阶段内存持续增长"
使用paddle 1.6.1
在预测压测，发现内存持续增长。

代码如下， 首先是建立一个全局的网络，包括reader
[code]
在回调函数中实现主体预测程序。
[code]
其中Infer_test封装的代码如下：
[code]
补充代码：
[code]

[2019-12-23 05:57] wilhelmzh commented on #21882
你好，
https://github.com/PaddlePaddle/ERNIE/issues/207
可以参考下这个，和你的问题是一样的吗

[2019-12-23 06:14] wilhelmzh commented on #21880
你好，内部用户，可以统一发到预测服务群里提问

[2019-12-23 06:30] zjutlzt commented on #21877
https://github.com/PaddlePaddle/PaddleDetection/tree/release/0.1/inference
 你好，这个文档得已经 跑通了  ， 但是 这里只是  分类得文档  并没有  检测得demo 请问有检测得demo吗
C++ 得  Paddle-Tensorrt得

[2019-12-23 06:49] wilhelmzh commented on #21877
https://github.com/PaddlePaddle/PaddleDetection/tree/release/0.1/inference

- 支持多种常见的图像检测模型，如YOLOv3, Faster-RCNN, Faster-RCNN+FPN，用户通过少量配置即可加载模型完成常见检测任务

我看这里README的描述支持检测的吧

[2019-12-23 06:55] zds9204 commented on #21880
之前发过，应相关的同学要求，在这里提了issue

[2019-12-23 07:11] zjutlzt commented on #21877
你好   这个文档只是  C++的 推理 ， 但是 没有使用到Tensorrt加速呢   请问有相关 Tensorrt Detection 的 文档吗

[2019-12-23 07:24] wilhelmzh commented on #21877
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.1/inference/predictor/detection_predictor.cpp#L151
这里可以设置

[2019-12-23 07:27] wilhelmzh commented on #21880
额，我刚问的预测相关的同学，内部用户现在不需要在github issue上提了，统一发到预测服务群。看群里有同学能帮忙解决下么

[2019-12-23 07:32] Liuhan703 opened #21884 "paddle预测阶段内存释放问题"
请问paddle在预测时的内存如何手动释放掉？
在预测阶段，每次infer后占用内存一直在升高（即使下一批数据比上一批数据更少），请问该如何手动释放？

[2019-12-23 07:51] zjutlzt commented on #21877
非常感谢   您的 耐心 回答，是我太没耐心看了，非常感谢

[2019-12-23 07:53] #21877 closed, assigned to nobody

[2019-12-23 08:34] AoZhang commented on #21796
Can I use layers.LSTMCell + layers.rnn instead? Like:
[code]
And what's the difference with `layers.lstm(inputs, ...)`

[2019-12-23 08:45] MrChengmo commented on #21881
先尝试一下以下几个解决方法：1、确保相同代码，单机运行没有问题；2、切换到1.6.2版本，排除已修复的bug的因素；3、先注释掉reader reset后的测试的代码；4、换用fleet api，排除transpiler使用不当的问题。

[2019-12-23 09:09] sserdoubleh opened #21886 "dygraph使用多次backward问题"
代码大概是要这样：
第一次forward：
x -> fc1 -> hidden -> fc2 -> pred
之后中断hidden、pred回传梯度
给hidden添加噪音，得到adv_hidden
继续forward：
adv_hidden -> fc2 -> adv_pred
计算第一个loss = mse(pred, adv_pred)
接着backward计算adv_hidden的梯度
根据adv_hidden的梯度更新adv_hidden
进而更新adv_pred的值
取消对hidden、pred回传梯度的中断
最后计算最终的loss = mse(pred, y) + mse(pred, adv_pred)
进行第二次backward
相关代码：
[code]
运行报错：
[code]
这应该是缺少fc1参数梯度的报错

[2019-12-23 09:19] Angus07 commented on #21882
不太一样，我是用gpu预测的，但是内存一直在增加。export FLAGS_eager_delete_tensor_gb=0.0 的时候也增加。

[2019-12-23 09:29] #21799 closed, assigned to zhangting2020

[2019-12-23 09:35] wilhelmzh commented on #21884
你好，
请问有具体的infer代码吗？使用的pyreader还是什么别的数据读取方式

[2019-12-23 10:13] zjutlzt opened #21889 "Padlle-Tensorrt"
Tensorrt
我在 使用 Paddle_TensorRT  运行 Detection 模型的时候：
batch size 已经是1了
[1,3,640,640]
莫名其妙 说我设置了 1000bitchsize   我整个项目里面吗都没有1000这个出现

I1223 18:11:28.561244 27333 analysis_predictor.cc:470] ======= optimize end =======
I1223 18:11:28.561568 27333 naive_executor.cc:105] ---  skip [feed], feed -> im_shape
I1223 18:11:28.561578 27333 naive_executor.cc:105] ---  skip [feed], feed -> im_info
I1223 18:11:28

[2019-12-23 10:19] zjutlzt commented on #21889
这里是代码

auto predictor = CreatePaddlePredictor(config);
  int channels = 3;
  int height = 640;
  int width = 640;
  float input[1 * channels * height * width] = {0};
  //float inm_info[3]={640,640,1.0};
  std::vector<float> image_infos;
  image_infos.push_back(640);
  image_infos.push_back(640);
  image_infos.push_back(1.0);
  auto input_names = predictor->GetInputNames();
  auto input_t = predict

[2019-12-23 10:27] zjutlzt commented on #21889
config->SetModel(FLAGS_dirname + "/__model__",
                     FLAGS_dirname + "/__params__");
  config->EnableUseGpu(100, 0);
  //We use ZeroCopyTensor here, so we set config->SwitchUseFeedFetchOps(false)
  config->SwitchUseFeedFetchOps(false);
  config->EnableTensorRtEngine(1<<20, 1, 30, AnalysisConfig::Precision::kFloat32, false,false);

[2019-12-23 10:27] zjutlzt commented on #21889
请问哪里有问题吗

[2019-12-23 10:32] wilhelmzh commented on #21889
EnableTensorRtEngine

[2019-12-23 10:41] zjutlzt commented on #21889
config->EnableTensorRtEngine(1<<20, 1, 30, AnalysisConfig::Precision::kFloat32, false,false);
我已经开启了

[2019-12-23 10:42] wilhelmzh commented on #21889
将这行的30改成 40，试一试

[2019-12-23 10:45] phlrain commented on #21886
你的fc1 只被call 了一次，结果的Variable 还设置了 stop gradient = True，是没有梯度回传的

[2019-12-23 10:51] zjutlzt commented on #21889
您好  可以解释一下 为什么吗？  是玄学吗

[2019-12-23 10:52] sserdoubleh commented on #21886
后面重新把Variable的stop gradient设置成False了

[2019-12-23 10:53] phlrain commented on #21886
你要不更新下code，我们来看下

[2019-12-23 10:54] sserdoubleh commented on #21886
上面的code已经是最新的了。。。我是一开始不需要更新这部分的梯度；然后需要这部分的梯度的时候再把stop_gradient给关掉

[2019-12-23 10:56] sserdoubleh commented on #21886
其实这个类似于pytorch里面 grad = torch.autograd.grad(loss, [x])[0]
即动态地求不同loss对不同的x进行求梯度

[2019-12-23 10:57] wilhelmzh commented on #21889
这个参数控制跑在tensorrt上最少graph的个数。

是两阶段模型，在rcnn部分，conv的第一维度不是batch-size，调大min_subgraph_size，让rcnn那部分不跑在tensorrt上。

[2019-12-23 10:57] sserdoubleh commented on #21886
多次进行backward，paddle似乎会把最后一次backward得到的梯度覆盖之前的梯度？

[2019-12-23 11:04] zjutlzt commented on #21889
感谢指导，学到了  设计的真好 ，  是不是 trt 加速最耗时的 backbone部分，  老哥 二阶的模型 可以int8 加速吗，

[2019-12-23 11:05] hp-cuiwb opened #21890 "ImportError: cannot import name 'PostTrainingQuantization'"
- 标题：ImportError: cannot import name 'PostTrainingQuantization'
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu 1.6.0.post97
    2）CPU/GPU：2080TI
    3）系统环境：Ubuntu16.04
    4）Python版本号  python3.7

[2019-12-23 11:24] dongfangyixi opened #21891 "rnn block 没有梯度的问题"
rnn block中，如果rnn out 不是block中最后的op结果的时候，会报没有梯度的错误。
测试代码如下
paddle版本为dev
paddlepaddle_gpu-latest-cp36-cp36m-linux_x86_64.whl

[code]
模型可以build，可以打印出"model build successful!"，但是在exe run的时候运行报错：
[code]
可以只关注rnn block中的逻辑：
[code]
第五行 state = pre_state * rnn_out , 每个step中更新的state，需要 rnn_out 来计算，这样rnn.output添加的tensor不是block中最后一个op计算出来的结果，就会报上述没有梯度的错误
如果改成
[code]
第五行不乘rnn_out，运行没有问题。但是我们的模型逻辑是新的state 需要rn

[2019-12-23 11:45] zzcgithub opened #21893 "修改预测模型的输入和输出node"
paddleslim保存的分类模型的inference model （model && params），默认的feed_target_name是["image", "label"], 默认的fetch_targets是top1的准确率， 如何根据model && params修改feed_target_name是["image"] 和 fetch_targets是分类概率呢？

[2019-12-23 12:50] luotao1 commented on #21595
Following ngraph tests fails again: @baojun-nervana @LeoZhao-Intel @bingyanghuang
- test_mean_ngraph_op
http://ci.paddlepaddle.org/viewLog.html?buildId=251509&tab=buildLog&buildTypeId=Paddle_PaddleManylinux_PrCiManylinuxCoverage&logTab=tree&filter=all&_focus=11384
[code]
- test_top_k_ngraph_op
http://ci.paddlepaddle.org/viewLog.html?buildId=251509&tab=buildLog&buildTypeId=Paddle_PaddleManylinux_Pr

[2019-12-23 15:29] aslily1234 opened #21900 "自定义图片训练集，2万张图片可以正常运行，但是4万张图片就会报OOM错误，求提供自定义数据集的官方demo"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）CPU：
    3）GPU：NVIDIA Tesla P100 16GB
    4）系统环境：Centos7.6，Python 3.6.6
- 训练信息
    1）单机单卡
    2）显存信息
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
我们研发用2万张图片作为训

[2019-12-24 01:25] #21889 closed, assigned to nobody

[2019-12-24 01:36] zjutlzt opened #21903 "Deformable CNN"
请问  Deformable  卷积支持 Tensorrt  int8 加速吗

[2019-12-24 02:04] mapingshuo commented on #21852
@Hsoms 你好，请问问题解决了吗？我上面那段代码您能跑通吗？

[2019-12-24 02:10] LeoZhao-BJ commented on #21595
from error log, seems it is related with system issue, suspect it is out of memory, I find oom-killer log in errror message.
I checked test cases of ngraph, these tests are done after mkldnn tests, so they are mixed together.

@luotao1  are unit tests done in parallel?

[2019-12-24 02:15] demeiyan opened #21905 "paddlepaddle 能否提供一下l2_loss"
你好！请问一下，paddlepaddle现在发布的版本里面有l2_loss函数吗？如果没有，有没有推荐的在paddlepaddle里面手写l2_loss的方式？

[2019-12-24 02:16] luotao1 commented on #21595
Yes, it is. The parallel num is 4 in our CI tests, i.e. we run 4 tests in parallel.

[2019-12-24 02:22] iclementine opened #21906 "layers.reverse gets unexpected behavior with negative axis"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that there was a similar issue submitted or resolved before.
If there is no solution,please provide us with the following details :
**System information**
-PaddlePaddle version 2019/12/19 develop
-GPU: cuda 10.1 / cudnn 7.5
-OS Platform and DistributionL ubuntu 16.04LTS
-Python ver

[2019-12-24 02:24] LeoZhao-BJ commented on #21595
@lidanqing-intel  be aware of paralleling execution on CI tests, which may impact memory usage much if system DDR memory is not big enough.

[2019-12-24 02:36] liushanshan07 commented on #21794
上周五运行了下latest，出现这个问题。dlopen: cannot load any more object with static TLS

[2019-12-24 02:43] mapingshuo commented on #21906
静态图也出现了同样的问题：

[code]

[code]
我看下。

[2019-12-24 03:31] sserdoubleh commented on #21886
新写了个测试多次backward的代码，目前应该paddle不支持多次进行backward
[code]

输出：
[code]
第二次pass完全没有梯度

[2019-12-24 03:38] wilhelmzh commented on #21900
你好，
return paddle.reader.xmap_readers(train_mapper, reader, cpu_count(), 102400)
这里102400的buffer_size是否设置太大了呢，这样无论是2w还是4w图片都需要全部装入内存。
建议尝试减小buffer_size，比如设置1000

[2019-12-24 03:59] wilhelmzh commented on #21893
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/io.py#L1123

上面的可以参考下，可以去掉program里面的feed和fetch的op，然后你直接在exe.run里feed和fetch你想要feed和fetch的var，会自动添加对应的feed和fetch op

[2019-12-24 05:21] Angus07 opened #21908 "RuntimeError: Some of your feed data hold LoD information. They can not be completely cast from a list of Python ndarray to LoDTensor. Please convert data to LoDTensor directly before feeding the data."
我为了debug，要把pyreader去掉。
原来的代码是这样的，可以跑通：
pyreader = fluid.layers.py_reader(
    capacity=50,
    shapes=[[-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1],
            [-1, args.max_seq_len, 1], [-1, args.max_seq_len, args.max_seq_len],
            [-1, args.max_seq_len, args.max_seq_len],
            [-1, args.max_seq_len, 1], [-1, 1], [-1],
            [-1, 1, args.max_seq_len], [-1, 1], [-1, -

[2019-12-24 05:57] wilhelmzh commented on #21890
你好，
1.6.0版本是没PostTrainingQuantization的，建议升级1.6.2或最新的develop版本

[2019-12-24 06:46] #21649 closed, assigned to nobody

[2019-12-24 06:47] #21651 closed, assigned to nobody

[2019-12-24 06:49] yaoxuefeng6 commented on #21905
可以试试这么组 l2 loss
l2_loss = fluid.layers.reduce_mean(fluid.layers.square(fluid.layers.elementwise_mul(x, y)))

[2019-12-24 06:53] hp-cuiwb opened #21911 "请问我如何可视化模型压缩后的模型结构？"
有什么方式吗？

[2019-12-24 07:04] yaoxuefeng6 commented on #21903
暂时不支持

[2019-12-24 07:06] NHZlX commented on #21903
其他的类型，如fp32也不支持。

[2019-12-24 07:14] yaoxuefeng6 commented on #21911
请参考下这个：https://github.com/PaddlePaddle/PaddleDetection/tree/release/0.1/slim/prune

[2019-12-24 07:37] 18314452550 opened #21913 "急：Windows10安装，按照官网一步一步操作，CUDD10和cuDNN7.6.5(7.3.1也装过）等组件我都装了，python和pip版本也装了对应版本，安装过程很顺利没弹红字和错误，可在验证时总是没提示安装成功。"
1.	我遇到的问题：
Windows10安装，按照官网一步一步操作，CUDD10和cuDNN7.6.5(7.3.1也装过）等组件我都装了，python和pip版本也装了对应版本，安装过程很顺利没弹红字和错误，可在验证时总是没提示安装成功。
2.	版本、环境信息：
   1）windows10专业版，已经激活
   2)  PaddlePaddle版本：1.1
  3）GPU：CUDD10和cuDNN7.6.5（7.3.1装过，但是还是同样的问题，验证没安装成功）
  4）pip：10.0.1
   5）系统环境：神舟，i5-4210双核处理器  GTX950M  4GB DDR3内存；Python3.7
-pip10.0.1：
6）pip安装：
验证提示代码如下：

Running Verify Fluid Program ...
2019-12-24 15:11:55,514-WARNI

[2019-12-24 07:44] hp-cuiwb commented on #21911
十分感谢，请问只有通道剪裁的可以可视化吗，量化的可以吗？

[2019-12-24 07:56] aslily1234 commented on #21900
已经解决了，谢谢

[2019-12-24 07:56] #21900 closed, assigned to wilhelmzh

[2019-12-24 08:28] JepsonWong commented on #20870
I have fixed it on develop branch.

[2019-12-24 08:44] DDDivano commented on #21913
看看 cmd下的 nvcc -V 显示什么？

[2019-12-24 08:48] 18314452550 commented on #21913
C:\Users\89420>nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Sat_Aug_25_21:08:04_Central_Daylight_Time_2018
Cuda compilation tools, release 10.0, V10.0.130

C:\Users\89420>python -V
Python 3.7.0

C:\Users\89420>pip -V
pip 10.0.1 from d:\python3.7\lib\site-packages\pip (python 3.7)

C:\Users\89420>

[2019-12-24 08:48] wilhelmzh commented on #21891
辛苦 @gfwm2013 帮忙看下

[2019-12-24 08:55] DDDivano commented on #21913
nvidia driver 版本号是？

[2019-12-24 08:56] chenxiaoyu3 commented on #21775
修改了reader之后，报错
[code]

[2019-12-24 08:58] 18314452550 commented on #21913
可以的话，你可以直接通过QQ：894202593远控我电脑看一下。

C:\Users\89420&gt;nvcc -V
 nvcc: NVIDIA (R) Cuda compiler driver
 Copyright (c) 2005-2018 NVIDIA Corporation
 Built on Sat_Aug_25_21:08:04_Central_Daylight_Time_2018
 Cuda compilation tools, release 10.0, V10.0.130

C:\Users\89420&gt;python -V
 Python 3.7.0

C:\Users\89420&gt;pip -V
 pip 10.0.1 from d:\python3.7\lib\site-packages\pip (python 3.7)

---------------

[2019-12-24 09:01] 18314452550 commented on #21913
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Divano"<notifications@github.com&gt;;
发送时间:&nbsp;2019年12月24日(星期二) 下午4:55
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送:&nbsp;"李泽立"<894202593@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] 急：Windows10安装，按照官网一步一步操作，CUDD10和cuDNN7.6.5(7.3.1也装过）等组件我都装了，python和pip版本也装了对应版本，安装过程很顺利没弹

[2019-12-24 09:02] iclementine opened #21915 "layers.slice gets unexpected behavior in dygraph mode"
**System information**
-PaddlePaddle version:  1.6.2
-GPU: cuda 10.1 / cudnn 7.5
-OS Platform and Distribution: ubuntu 16.04 LTS
-Python version: 3.7.4
**To Reproduce**

I adapted the example code in [layers.slice](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/slice_cn.html#slice)
[code]

case 0 is okay, case 1 and case 2 raise bugs.

case 1 got errors here

[code]

case 2

[2019-12-24 09:23] phlrain commented on #21915
动态图不支持 start end 为 variable的情况，因为是动态图，slice的start end 是可以获取到具体的值得，不需要支持variable 这个在新版本中会报错提示，

[2019-12-24 09:26] suntxy opened #21917 "[安装错误]paddle按照文档步骤安装，自检报错cudnn无法初始化"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.2 GPU版本
    2）CPU：intel E5, 未使用CPU版本，没有其它库
    3）GPU：RTX2080ti，CUDA10.0和CUDNN7.6
    4）系统环境：Centos7.4, Python 3.6.3
- 补充:
CUDA_HOME: 环境变量为空
LD_LIBRARY_PATH: 环境变量为空
LIBRARY_PATH:
/usr/lib/oracle/12.2/client64/lib:/usr/lib/oracle/12.2/client64/lib::/usr/local/cuda/lib64

- nvidia-smi

+-----------------------------------------------------------------------------+

[2019-12-24 09:58] OliverLPH opened #21918 "[CPU预测]qat2 int8预测性能下降"
- 标题：[CPU预测]qat2 int8预测性能下降
- 版本、环境信息：
    1）PaddlePaddle版本：52a61edaad7
    2）CPU：Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz，MKLDNN
    3）GPU：无
    4）系统环境：hub.baidubce.com/paddlepaddle/paddle:latest-dev， Ubuntu1604
-预测信息
    1）C++预测：52a61edaad
    2）CMake命令
[code]

    3）API信息
    4）预测库来源：本地编译
- 复现信息：
测试脚本：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/slim/tests/qa

[2019-12-24 11:19] DDDivano commented on #21913
经远程发现用户显卡驱动版本过低。

[2019-12-24 12:16] lidanqing-vv commented on #21918
好的，我现在看下

[2019-12-24 12:20] yaoxuefeng6 commented on #21917
@JepsonWong

[2019-12-24 12:37] phlrain commented on #21886
目前我们对于这种多次调用 backward 支持上 确实有一些不太好，我们会把这个需求记下来，在下个版本中优化

[2019-12-24 13:32] JepsonWong commented on #21917
export LD_LIBRARY_PATH=/usr/local/cuda/lib64:LD_LIBRARY_PATH
试着设置一下环境变量试试

[2019-12-24 14:28] Hsoms commented on #21852
已经可以了

[2019-12-24 14:37] iclementine commented on #21915
但是如果需要用程序中的中间变量作为 index 去 slice 林谷一个变量，那么推荐的写法是先把 index 变量 numpy() 取出值之后再 slice 吗？虽然这样做会需要 gpu-> cpu 之间的一次数据 copy。

[2019-12-24 15:22] lidanqing-vv commented on #21918
@OliverLPH  qat2 performance 现在用c++ 测试测，因为原先的python测试有overhead，小模型性能慢。
c++ 的代码测出来是 mobilenetv1 227.73, mobilenetv2 206.74。
测试command, 请参考https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/slim/tests/QAT_mkldnn_int8_readme.md
[code]
提到的两个commit 我在上海6271验证了，mobilenetv1没有下降，mobilenetv2有一点下降，但是不稳定，因为模型小。我再确认一下mobilenetv2

[2019-12-25 01:05] #21903 closed, assigned to NHZlX

[2019-12-25 02:07] mapingshuo commented on #21852
感谢你的反馈，我关闭issue了。

[2019-12-25 02:07] #21852 closed, assigned to mapingshuo

[2019-12-25 02:20] phlrain commented on #21915
这种需求， 我们来跟下

[2019-12-25 02:40] chenxiaoyu3 commented on #21775
修改reader后可以了，原因是 reader yield的数据必须与inference model一致，且数量好像不能太少？

[2019-12-25 02:40] #21775 closed, assigned to juncaipeng

[2019-12-25 03:03] OliverLPH commented on #21918
@lidanqing-intel
我这边看主要就是mobilenetv1和mobilenetv2有明显下降。其他比如resnet和vgg用Python的测试仅看得出来有下降的趋势，但变化很小。（e.g. resent101从 19.69 下降到 19.22）

因为之前自动化测试用的是Python的脚本，现在还没更新到C++的脚本。
虽然Python测试小模型会慢一些，但Python预测性能下降和C++预测性能下降应该是一致的吧。

[2019-12-25 05:00] #21905 closed, assigned to nobody

[2019-12-25 05:27] paulpaul91 commented on #16989
input 变量在global_block 已被移除，导致var input not in this block 错误, 请问这个问题怎么解决

[2019-12-25 06:31] suntxy commented on #21917
not working for me.
the error message is: failed to create cudnn handle in deviceContext.
跟环境变量应该没有关系, tensorflow-gpu 和pytorch-gpu 都正常，只有paddle不行。

[2019-12-25 06:44] Angus07 commented on #21882
目前定位到问题出在pyreader中，移出pyreader的代码，使用dict feed的方式，就好了

[2019-12-25 06:45] Angus07 commented on #21908
RuntimeError: Some of your feed data hold LoD information. They can not be completely cast from a list of Python ndarray to LoDTensor. Please convert data to LoDTensor directly before feeding the data. 这是一个误导错误信息，其实根本和lod tensor没有关系，是传入的数据中有一个是python list，不是numpy array。 请paddle同学关注。

[2019-12-25 07:52] webary commented on #21881
感谢回复。
目前1单机运行没问题；
2.切换后测试目前正常跑到第二轮了
3.没必要做了（1成功确定代码没问题）
4.后期再尝试

[2019-12-25 08:15] #21881 closed, assigned to MrChengmo

[2019-12-25 09:09] parap1uie-s opened #21935 "BUG: fluid.layers.accuracy not work correctly"
现在accuracy的实现方法，是对input沿行方向取argmax后，取得最大概率下标，与稠密的label进行比对。

但当input的类别维度为1时，argmax结果显然恒为0。因此accuracy的取值将由label中0的占比来决定，而不是真正的“正确率”

可见[目前的实现](https://github.com/PaddlePaddle/Paddle/blob/release/1.6/python/paddle/fluid/layers/metric_op.py#L87):

[code]

如果输入的`input`是一个形如(bs, 1)的二分类模型输出时，显然topk输出结果恒为0，导致之后的准确率计算逻辑无意义

建议修复方案：

增加逻辑判断
[code]

[2019-12-25 09:10] parap1uie-s commented on #21935
Duplicate of #18755

[2019-12-25 09:40] baiyfbupt commented on #21935
我理解`fliud.layers.accuracy`的输入input最后一维是m，就表示的是m分类问题
例如一个10分类问题的预测值predict应该是一个形状为`[batch_size, 10]`的Tensor
所以如果是2分类模型，是否可以让predict的形状为`[batch_size, 2]`而非`[batch_size, 1]`, 这样就可以正常计算了

[2019-12-25 09:49] parap1uie-s commented on #21935
是的，设置二分类模型输出形状为(bs, 2)可以解决问题

但一方面，这依然是一个潜在风险，文档里也没有相关说明。
可以增加assert，要求输入tensor形状不为1

另一方面，理论上2维输出+softmax激活，因为最后fc层是交替获得梯度，模型收敛速度可能会有影响

详见：[link](https://stats.stackexchange.com/a/207067)

[2019-12-25 10:07] AIpioneer commented on #21908
收到，我们后续会改进

[2019-12-25 10:13] yaoxuefeng6 commented on #21911
这个文档中的可视化可以作为一个通用的工具 量化的应该也可以的

[2019-12-25 10:19] littletomatodonkey opened #21937 "deformable_roi_pooling问题"
在deformable_psroi_pooling_op里面，添加了编译shape的assertion，但是我得到的tensor的shape在编译时可能是-1，想问下这个shape检查的assertion是否可以删去呢？（大部分tensor在reshape之后，都会是-1）

https://github.com/PaddlePaddle/Paddle/blob/70c073a0019f3405f9074579a8c48a43281dfdea/paddle/fluid/operators/deformable_psroi_pooling_op.cc#L184

[2019-12-25 10:42] littletomatodonkey commented on #21937
此外，shape强制指定之后，运行时会报错(1-2个minibatch后)，麻烦也帮忙看下~是用的cuda9，paddle1.6.1，官网提供的docker环境，将该op替换成roialign是可以正常运行的
代码如下：
[code]
报错信息如下：
[code]

[2019-12-25 10:47] cjt222 commented on #21937
![image](https://user-images.githubusercontent.com/17508662/71443585-b53ba380-2746-11ea-95b4-18988183c9db.png)
这个assert在编译时可以删去，但是设定part_height的值时一定要小于等于trans_dims[2]，不然会发生越界

[2019-12-25 10:53] baiyfbupt commented on #21935
可以增加assert，要求输入tensor形状不为1

paddle这个accuracy接口默认是softmax_accuracy, 但是代码没有对输入的shape进行限制，文档也没有对input形状的数学意义进行解释，我也感觉这里可以改进一下，感谢反馈~

如果现在的用法可以满足需求可以先用，如果不能可以再提需求，paddle可能可以增加一个类似于TF的[BinaryAccuracy](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/BinaryAccuracy?hl=en&version=stable)解决问题

[2019-12-25 10:54] cjt222 commented on #21937
在zhen

trans的输入应该时接的fc层吧，维度应该是batch_size x num

[2019-12-25 11:23] littletomatodonkey commented on #21937
我看demo上写的是tran是[N,C,H,W]的tensor，是我的理解有问题嘛？
[code]

[2019-12-25 11:53] JoyeeL opened #21939 "fluid-1.4 word2vec训练完成后，如何拿到获取词向量"
word2vec，fluid.io.save_params里保存了emb， emb-w, emb_b,要如何获取每个词的词向量

[2019-12-25 12:01] baiyfbupt commented on #21939
@JoyeeL 您好，请问用的是哪个word2vec的代码，麻烦贴下链接

[2019-12-25 12:05] JoyeeL commented on #21939
https://github.com/PaddlePaddle/models/blob/develop/PaddleRec/word2vec/cluster_train.py,
https://paddlepaddle-modles.bj.bcebos.com/models-1.4.tar.gz,

[2019-12-25 12:28] cjt222 commented on #21937
没有理解错，格式是[N，C，H，W]的，您可以看看每次rois_input是否会存在，因为fpn不是每个layers都会有roi，不确定是不是因为rois_input为空造成的问题

[2019-12-25 13:00] littletomatodonkey commented on #21937
看了下，在报错前，roi没有空的情况，我看trans的描述，H和W为pooled height以及pooled width，但是在下面的demo里，写的是和feature的H和W相同，所以不知道这一块是不是文档或者demo表述有冲突嘛？
[code]

定义代码
[code]

[2019-12-25 15:17] littletomatodonkey commented on #21937
我修改了使用方式，在fpn中，roi为空时，的确会报错，但是roi align不会，我在标准的faster rcnn r50的结构中使用dpooling，迭代100个minbatch，没有出现问题（标准frcnn中，roi不会为空），感觉也是验证了前面的结论，想问下这个是否方便修复呢？还有那个assertion的问题，感觉可以去掉，不然用户shape为-1的话，必须自己编译paddle，成本感觉有点高~
fpn中使用dpooling的时候，报错信息如下：

[code]

[2019-12-26 02:02] lidanqing-intel commented on #21918
@OliverLPH
I found [013225bb68fc117b9e63efa41c329da76d1294e4] fix Execution order of ci_check_unittest, and add it to Linux_py35 (#21640)
caused mobilenetv2 drop from 85.16 to 80.62 [shanghai 6271]

[2019-12-26 02:35] frankwhzhang commented on #21939
可以参考这个issue https://github.com/PaddlePaddle/Paddle/issues/20795

[2019-12-26 03:23] hp-cuiwb opened #21954 "请问能提供下剪枝的darknet-yolov3的yml配置文件吗？"
修改了给的mobilenet yolov3的配置文件的pruned_params，一直报错，请问能提供下剪枝的darknet-yolov3的yml配置文件吗？

[2019-12-26 05:43] FDInSky commented on #21954
可以参考这个https://github.com/wanghaoshuang/PaddleDetection/tree/prune_yolo/slim/prune_coco

[2019-12-26 06:45] leesusu opened #21957 "请问提交PR时，各种CI报错是为啥？"
FTRL with sparse update.

[2019-12-26 06:51] wanghaoshuang commented on #21954
hi， 建议您使用新的剪裁API，新的API用起来更灵活些。这里是一个使用示例：
https://github.com/wanghaoshuang/PaddleDetection/blob/prune_yolo/slim/prune_coco/train.py#L204-L251

建议先用这个分支，在1月初我们会发正式版本：https://github.com/wanghaoshuang/PaddleSlim/tree/prune

[2019-12-26 07:12] thelongestmovie opened #21959 "paddle.fluid.core.EnforceNotMet: Enforce failed. Expected x_dims[i + axis] == y_dims[i], but received x_dims[i + axis]:1 != y_dims[i]:72."
pytorch模型能够转paddle，paddle运行的时候遇到错误。网络用到了SENet的
x * sigmoid(x_squeeze).其中：
x.shape=(1,128,72,128)
x_squeeze.shape=(1,128,1,1)
在pytorch当中能够运行，paddle当中报如下错误
报错完整信息：
  File "/usr/local/lib/python2.7/dist-packages/paddle/fluid/executor.py", line 591, in _run
    exe.run(program.desc, scope, 0, True, True)
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected x_dims[i + axis] == y_dims[i], but recei

[2019-12-26 07:31] JoyeeL commented on #21939
不是，我是想直接dump这份词向量，不是在其他模型里加载这个参数。

[2019-12-26 07:33] frankwhzhang commented on #21939
加载后转成numpy可以保存成自己的格式

[2019-12-26 08:15] heygrain opened #21963 "请问怎么设置全局的随机种子（random seed）保证模型100%可复现？"
如题，这个应该不太涉及开发环境和硬件配置

[2019-12-26 08:32] OleNet opened #21965 "有没有办法只获得某一个变量的梯度，但是不进行optimizer.step()操作呢"
有没有办法只获得某一个变量的梯度，类似于model.forward(); loss.backward(); 得到 model.input.gradient 但是不进行optimizer.step()操作呢

[2019-12-26 09:00] DDDivano commented on #21963
设置 program的 random seed https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Program_cn.html#random_seed ；
可能你还需要设置 numpy 的 numpy.random.seed()；
python 自带的random.seed()；
cudnn使用确定性算法 https://www.paddlepaddle.org.cn/documentation/docs/zh/flags/cudnn_cn.html#flags-cudnn-deterministic；
剩下的可能需要根据具体模型来分析，比如模型中本身带随机性的操作，例如dropout，reader shuffle， 梯度回传累加时候是否是原子加操作等等。

[2019-12-26 09:00] iclementine commented on #21965
静态图或者动态图？

如果是动态图的话，我们现在可以对一个 Variable 对象使用 grdient() 方法。这个方法在 loss.backward 之后， optimizer.minimize() 和 mode.clear_gradients() 之前使用。会返回 numpy array。
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/framework.py#L1077

如果是静态图，你可以在一个 Variable 的名字后面加上 `@GRAD`，然后把这个名字添加进 fetch_list 里面去把它 fetch 出来查看。以及你也可以使用 gradients
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/b

[2019-12-26 09:08] iclementine commented on #21959
请问使用的 paddle 版本是？更新到 1.6.1 或者 1.6.2 应该就可以了。因为 paddle 的 broadcast 规则和 pytorch 有点不同，具体可以参考这个。

http://wiki.baidu.com/pages/viewpage.action?pageId=1006176252

不过更新到 1.6 之后就支持这种 broadcast 了。

[2019-12-26 09:26] thelongestmovie commented on #21959
你好，确实是因为版本过低了，另外老哥你怎么看出我也是baidu的哈哈

[2019-12-26 09:26] #21959 closed, assigned to nobody

[2019-12-26 09:27] thelongestmovie commented on #21959
你好，确实是因为版本过低了，另外老哥你怎么看出我也是baidu的哈哈

[2019-12-26 09:37] #21804 closed, assigned to nobody

[2019-12-26 12:12] heygrain commented on #21963
好的，非常感谢，请问环境变量FLAGS_cudnn_deterministic是在每次运行前通过export命令设置吗，就
export FLAGS_cudnn_deterministic=True ?

[2019-12-26 12:22] iclementine commented on #21963
可以把 FLAGS_cudnn_deterministic=True 和训练命令写在一行，比如说
[code]
这样就只对这个命令有效。

也可以单独写一句 `export FLAGS_cudnn_deterministic=True` 然后运行训练的命令，这样就对当前这个 shell 有效。

[2019-12-26 12:37] leesusu commented on #21957
![image](https://user-images.githubusercontent.com/2424688/71476334-7d545f00-281f-11ea-9ff2-713b37ab8941.png)

想问下，这个是什么原因？是要在编译的时候，跑通ctest吗？

[2019-12-26 12:44] heygrain commented on #21963
ok，非常感谢仔细解答，我没有别的问题了，可以close了

[2019-12-26 14:03] heygrain opened #21973 "请问fluid.layers.data是否支持稀疏矩阵传入"
请问fluid.layers.data是否支持稀疏矩阵传入，比如
`A = fluid.layers.data(name='A', [None, None], dtype='float32')`
然后在feed的时候给A输入一个numpy/scipy的coo/csr形式的稀疏矩阵
`{'A': mat}`
这个支持吗？
然后如果支持上述稀疏矩阵输入的话，是否支持稀疏矩阵乘法，像pytorch里面的`spmm()`运算，或者tensorlow中的`sparse_tensor_dense_matmul()`运算。

如果不支持，有什么相关建议吗？是只能先用numpy的`toarray()`方法在cpu中将稀疏矩阵转换为普通矩阵再传给A吗？

[2019-12-26 14:06] luotao1 commented on #21760
[code]
排查了一下出现`thread_local`的地方，1.6.2后有两处：
- #21086 11月15日 merge
[code]
对应上面的
[code]
- #21169 11月29日merge
[code]
对应上面的
[code]

[2019-12-26 14:27] baiyfbupt commented on #21939
@JoyeeL 先load_params读取模型参数二进制文件，然后可以通过当前的scope(默认是`fluid.global_scope()`)拿到需要的参数，例如`VAR_X`，并转为numpy array，用法参考：
[code]
得到需要参数的numpy array `var_x`后就可以根据需求任意dump了

[2019-12-26 14:34] iclementine commented on #21957
看不到这个图片，以及是需要跑通几个 CI 的 test。以及部分修改需要 approve。

[2019-12-26 14:39] #21963 closed, assigned to iclementine

[2019-12-26 14:58] leesusu commented on #21957
就是这个pr：
https://github.com/PaddlePaddle/Paddle/pull/21967

[2019-12-26 15:04] iclementine commented on #21957
你可以查看 build_log.

<img width="749" alt="图片" src="https://user-images.githubusercontent.com/16222986/71480408-dd550080-2833-11ea-9589-e92fae9d01af.png">

可以看到错误的类型。
其中有一个和 PaddleEnforce 的写法升级有关，可以参考 https://github.com/PaddlePaddle/Paddle/wiki/Paddle-Error-Message-Writing-Specification，
其他的具体看 build_log.

[2019-12-26 15:05] #21683 closed, assigned to baiyfbupt

[2019-12-26 15:09] iclementine commented on #21973
目前应该不支持的，可以使用 array.todense() 方法转换为 dense 再传。

https://docs.scipy.org/doc/scipy-0.19.0/reference/generated/scipy.sparse.csr_matrix.todense.html

[2019-12-26 15:18] leesusu commented on #21957
build log在哪里看呢？那个是 ci.paddlepaddle.org 的后台吧？我应该看不到
我这边改动只有PADDLE_THROW，文案也是照着其他的op写的，看不出问题来。
@iclementine

[2019-12-26 15:30] heygrain commented on #21973
那可以考虑以后支持一下噢，挺常用的运算……torch和tf都有的

[2019-12-26 17:05] lidanqing-vv commented on #21918
@OliverLPH
1. 这个结果是重复几次得到的？mobilenet小，需要多重复几次。另外batch_num是1000 还是 50000？
2. Python test  --batch_num=5000:
**mobilenetv1 qat2**
从 b976ba3e 到 52a61edaad7 没有差别
**mobilenetv2 qat2**
before 25e765a4fece809874f5ab35ab44954739c7bdf9, fps 84.93 - 86.87
after 25e765a4fece809874f5ab35ab44954739c7bdf9, fps 80.04 - 83.45

3. C++ test: batch_num 50000
**mobilenetv1 qat2**
从 b976ba3e到52a61edaad7 没有差别
**mobilen

[2019-12-27 02:29] OliverLPH commented on #21918
@lidanqing-intel
1. batch_num是5000，重复一次得到的数据。

好的，那我就还是改成C++的进行测试吧，C++的script是 [SLIM Quantization-aware training (QAT) on INT8 MKL-DNN](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/slim/tests/QAT_mkldnn_int8_readme.md) 吗？

[2019-12-27 05:45] Anikily opened #21977 "训练报错"
   1）PaddlePaddle版本：1.62
    3）GPU：V100, CUDA9.2, cudnn7.5
    4）系统环境：CentOS, python3.69
- 训练信息
    1）单机多卡
    2）显存
  本来上午还能训练，吃了个饭啥也没动就报错了
/home/yulu/anaconda3/envs/paddle/lib/python3.6/site-packages/paddle/fluid/executor.py:779: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  File "train.py",

[2019-12-27 05:55] slf12 commented on #21977
看报错信息是cuda环境初始化有问题，可以先检查下gpu显存是否正确释放

[2019-12-27 06:15] littletomatodonkey opened #21979 "关于batch_norm的问题"
我在刷特征时，bn想使用train mode刷（mean和var通过测试样本计算得到，而非保存的变量），program定义方式如下：
[code]
bn调用方式如下，

[code]
但是我刷出来的特征和bn中
[code]
刷出来的特征是完全一样的（如果正常的话，一个加载的是固定参数，一个是动态变化的，特征应是不一样的），是我的使用方式有问题嘛？

[2019-12-27 06:22] ceci3 commented on #21979
您好，我不是太明白您的意思，可以稍微解释一下嘛？

[2019-12-27 06:28] Anikily commented on #21977
@slf12 ok, 换了张有显存的卡就不报错了。

[2019-12-27 06:28] #21977 closed, assigned to slf12

[2019-12-27 07:32] ceci3 commented on #21979
在使用过程中测试program是通过训练program 克隆过来的，克隆的时候设置了for_test=True，导致了bn里设置的`is_test=False,
use_global_stats=False, `无效， 修改为program.clone(for_test=False)已经解决

[2019-12-27 07:33] #21979 closed, assigned to ceci3

[2019-12-27 07:44] zhiqiu commented on #21760
@OliverLPH @JepsonWong @luotao1
Would you please try to upgrade glibc to higher version, such as 2.22 or higher ? Here are some information.

This error message is reported in [elf/dl-open.c](https://sourceware.org/git/?p=glibc.git;a=blob;f=elf/dl-open.c;h=7adf66b221fdbb748b909fdfc436be099801b192;hb=eefa3be8e4c2c721a9f277d8ea2e11180231829f), line 541.

![image](https://user-images.githubuserconten

[2019-12-27 08:24] mapingshuo commented on #21906
I have fixed it, @iclementine.
PR: https://github.com/PaddlePaddle/Paddle/pull/21925

[2019-12-27 08:24] #21906 closed, assigned to mapingshuo

[2019-12-27 08:26] AoZhang opened #21986 "scatter_nd_add 在数据 dtype = int32/int64 时报错"
- 环境
    1）PaddlePaddle版本：1.6.2
    2）CPU：Intel(R) Xeon(R) CPU E5-2620 v2
    3）GPU：no
    4）系统环境：CentOS 6.3 ，Python版本 3.6.5

- 复现信息：
[code]

- 问题描述：
`x` 和 `update` 数据类型为 float32 时可以正常运行，改成int32、int64 都会报错。错误信息如下

[code]

[2019-12-27 08:28] heygrain opened #21987 "关于模型中的不可训练参数的问题"
我设计了一个图卷积网络（Graph ConvNet），这个模型需要输入一个图的结构，用图的邻接矩阵表示，然后由于paddle不支持稀疏矩阵，所以这个邻接矩阵很大（4个G）。
现在问题是这样的，这个**邻接矩阵是固定的，不需要反向传播更新**，所以我设想了两种方案：
1.用`layers.data`作为一个模型输入载入这个矩阵，问题是在mini batch训练的时候，是不是每个batch都要输入一下这个4G大小的矩阵，会不会很慢？paddle支不支持feed的时候只feed一部分，其余的保持不变？
2.将这个矩阵设为模型的一个`trainable=False`的参数，这样不用每次batch输入训练数据的时候都带上它，但是这样一来，保存模型参数的时候，又要把这4G的矩阵写在硬盘上？但这个矩阵是固定的，用numpy的稀疏矩阵保存了，我现在不需要paddle再保存它一遍。
所以，有什么可行的解决方

[2019-12-27 08:30] heygrain commented on #21987
补充：那个图的邻接矩阵其实非常稀疏，numpy保存到硬盘上的稀疏矩阵只有几兆……所以paddle不支持稀疏矩阵真的很不方便，希望今后加上，torch和tf都有稀疏tensor和稀疏矩阵乘法的支持。

[2019-12-27 08:30] AoZhang commented on #21986
API 文档写的，[`scatter_nd_add`](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/scatter_nd_add_cn.html) 和 `scatter_nd` 是支持int32，int64，float32，float64的，而 [`scatter`](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/scatter_cn.html) 仅支持 float32。

[2019-12-27 08:41] LiangYongAI opened #21988 "训练时异常退出显存不释放"
1、	paddle在训练时如果因为异常原因退出，比如设置过大的batch size程序挂掉退出，但分配的显存然后存在，没有自动回收，用nvidia-smi查看显存信息，GPU-Util是0%，但显存没有释放，这个现象在linux下可以找到进程杀掉，但在windows下只能重启电脑。
![image](https://user-images.githubusercontent.com/15886620/71509856-bf38e000-28c7-11ea-9106-89fa2048304d.png)

[2019-12-27 08:57] luotao1 commented on #21760
Thanks for @zhiqiu

Is 2.23 too higher? Both @wanghaoshuang and I prefer to solve it in codes, not operating system

I find a similar issue in pytorch.
- `I added these compile flags -fPIC -ftls-model=global-dynamic in setup.py, and recompiled pytorch, and it seems to have resolved my issue`. https://github.com/pytorch/pytorch/issues/2083#issuecomment-345330173
- https://github.com/pytorch/pytorch

[2019-12-27 08:58] slf12 commented on #21987
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_vars_cn.html#save-vars  save_vars可指定参数保存，应该可以解决你的第二种方案

[2019-12-27 09:06] slf12 commented on #21988
现在这个问题还没有很好的办法解决。在windows上可以使用任务管理器杀掉进程，释放显存。

[2019-12-27 09:16] heygrain commented on #21987
好的，谢谢

[2019-12-27 09:20] linshufei opened #21989 "如何在训练过程中使得参数通过计算进行自适应更新？"
版本、环境信息：
   1）PaddlePaddle版本：1.5
   2）CPU：CPU
   3）GPU：无
   4）系统环境：Linux python2.7
复现信息：如为报错，请给出复现环境、复现步骤
复现代码如下：

[code]

[code]

[code]

[code]

用python代码实现的lmbda的输出会根据以上一次计算的结果进行更新，而paddle实现时每一次lmbda都为1.0,再做一次运算lmbda = lmbda / (1 + (1 - 2 * cond) * 0.1)变成1.1111112。
需求：

paddle有没有python接口可以使得lmdba也能根据上一次计算的结果进行更新，就像是模型参数会依据上一次forward和backward的结果进行更新？

[2019-12-27 09:23] zhiqiu commented on #21760
@luotao1 We have tried to set `DTV_SURPLUS ` to `32` and recompile `glibc 2.18`,  it works.
And I checked, `glibc 2.22` is sufficient to fix this problem.

[2019-12-27 10:00] slf12 commented on #21989
lmbda = lmbda / (1 + (1 - 2 * cond) * 0.1) 这种写法是不会更新到 lmbda = fluid.layers.fill_constant(shape=[1], value=1.0, dtype='float32')这个变量的，虽然在python中变量名字是相同的，但是在program中名字是不同的

[2019-12-27 12:04] chenwhql opened #21996 "Missing error message in file cuda_helper.h"
![image](https://user-images.githubusercontent.com/22561442/71516436-f2896800-28e3-11ea-8793-9b5def840697.png)

[2019-12-27 13:51] leesusu commented on #21957
呼叫大佬，帮我看下 #21976 的2个CI的问题，我这里看不到细节，感谢 @iclementine

[2019-12-27 14:58] luotao1 commented on #21996
需要完整的错误日志、运行环境说明以及必要的上下文信息，不然分析不出错误。

[2019-12-27 15:43] lidanqing-vv commented on #21918
是的，是那个文档。注意模型转化时，下载的是QAT2.0 的模型，不是1.0的模型。为了更清晰，如下
[code]
你可以在微信群里找我

[2019-12-28 02:40] iclementine commented on #21957
好的。

其中一个和 Paddle Throw 的写法有关。
![Screenshot_2019-12-28 PaddlePRCI Compile PR_CI_CPU_Py2](https://user-images.githubusercontent.com/16222986/71538639-5c982080-2969-11ea-823a-3d583a26e8e8.png)

其中一个是单测的覆盖率不够。
![Screenshot_2019-12-28 Paddle PR_CI_Coverage #51224 (27 Dec 19 08 11) Diff Coverage — TeamCity](https://user-images.githubusercontent.com/16222986/71538644-60c43e00-2969-11ea-93de-f6027ba8a16c

[2019-12-28 03:38] onfireisme opened #21998 "新旧paddle sequence_conv_pool计算细节对比"
1 新版本paddle
         接口——https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/nets_cn/sequence_conv_pool_cn.html#sequence-conv-pool
        这个参数跟论文中的text-cnn就一致了。
         text input [A B C D E F G]  是个6 * embeding_size的矩阵
         假定filter为3，卷积核矩阵就为3 * embeding_size，那么跟卷积核点乘就变成[ 0AB ABC BCD CDE DEF EFG FG0 ]，是个7 * 1的矩阵。
         有N个卷积，就变成7 * N的矩阵，最后做个max pooling变成1 * N的矩阵。

2 老版paddle

[2019-12-28 05:36] heygrain opened #21999 "对fluid.data的输入先进行concat、reshape等预处理再进行embedding时，反向传播报错"
1）PaddlePaddle版本：1.6
2）GPU：GTX1070单卡

错误信息：
[code]

可供调试的代码：
[code]

## 问题所在：
优化器那行，即：
`optimizer.minimize(model.loss)`
注释掉之后，可以跑通得到model.loss，
**但是：**
有optimizer，产生反向传播就不行。
应该是对输入`self.users`、`self.pos_item`、`self.neg_item`进行concat、reshape等操作时导致了梯度计算的异常，请问应该怎么处理？

**换句话说：**
在自然语言处理(或者推荐系统)等场景，假设我的输入是词的id(或者用户和商品id)，这时候我要先对fluid.data接受的id矩阵（dtype='int64'）做一些concat和reshape的操作，然后再拿预处理完的id矩阵去做嵌入，也就是f

[2019-12-28 06:54] AoZhang opened #22000 "scatter_nd_add 返回 tensor 的 dtype 错误"
- 环境
   1）PaddlePaddle版本：1.6.2
   2）CPU：Intel(R) Xeon(R) CPU E5-2620 v2
   3）GPU：no
   4）系统环境：CentOS 6.3 ，Python版本 3.6.5

- 复现信息：
[code]

- 问题描述
print 输出的是 VarType.BOOL，正常不应该是 FP32 吗？但是我打印 output 的值发现是符合预期的。

[2019-12-28 11:48] xixiaoyao commented on #22000
@ForFishes 麻烦看一下，谢谢~

[2019-12-28 11:49] xixiaoyao commented on #21998
@xyzhou-puck 辛苦帮忙回答一下~

[2019-12-28 21:33] shippingwang opened #22002 "动态图报错"
nightly build paddle
cuda9 cudnn7

我们最新的动态图Con2D要求必须有num_channels么？

[2019-12-28 21:57] shippingwang commented on #22002
好吧...dev是的...

[2019-12-28 21:57] #22002 closed, assigned to nobody

[2019-12-29 10:53] huangguanMayday opened #22004 "生成一个动态大小的range数组"
正常的生成固定大小的range 数组的方法：
labels = fluid.layers.range(0, crmm_config.batch_size, 1, 'int64')

如果想生成动态大小的，如下代码执行有错（其中logits是n*n大小的二维数组，n是动态的）：
shape_logits = fluid.layers.shape(logits)
labels = fluid.layers.range(0, shape_logits[0], 1, 'int64')

请问具体怎么用呢？

[2019-12-29 10:58] huangjun12 commented on #22004
可以贴一下具体的报错信息吗

[2019-12-29 11:26] shippingwang commented on #22004
shape_logits[0] 这块操作报的错么？用一下shape之后用slice取？

[2019-12-29 12:52] runningwa commented on #21382
新手入门第四课——PaddlePaddle快速入门

[2019-12-29 13:11] huangjun12 commented on #22004
按用户反馈的报错信息，为shape_logits[0]数据类型错误，使用cast op将其转成int64的数据类型即可正常运行。

[2019-12-29 13:36] linshufei commented on #21989
所以有解决办法吗？

[2019-12-30 00:03] xyzhou-puck commented on #21998
您好，问题已经为您线下解答。

[2019-12-30 00:03] #21998 closed, assigned to nobody

[2019-12-30 02:01] #21996 closed, assigned to nobody

[2019-12-30 02:41] slf12 commented on #21989
先获得你要更新的var_name
拿到tensor = fluid.global_scope().find_var(var_name).get_tensor()
然后获得现在的值 num_before = np.array(tensor)
计算获得你想更新的值 num_after = ....
更新program的var
 tensor.set(num_after, place)

[2019-12-30 03:16] luzm3 opened #22007 "LAC"
![image](https://user-images.githubusercontent.com/45001329/71566788-5fc01780-2af5-11ea-8d04-26a8d9be8aa5.png)
上图是在lac版本为1.1.1的时候，在python编译器中跑的结果
![image](https://user-images.githubusercontent.com/45001329/71566793-723a5100-2af5-11ea-9b88-53ce6966618b.png)
上图是在lac版本为1.1.1的时候，用hub run跑出的结果
看到你们在2.0.0版本的时候，已经修复了这个问题。
![image](https://user-images.githubusercontent.com/45001329/71566809-99911e00-2af5-

[2019-12-30 03:19] #22007 closed, assigned to nobody

[2019-12-30 03:22] #21750 closed, assigned to heavengate

[2019-12-30 03:41] OliverLPH commented on #21918
@lidanqing-intel
好的，感谢

[2019-12-30 03:41] #21918 closed, assigned to bingyanghuang, lidanqing-vv

[2019-12-30 03:58] ForFishes commented on #22000
paddle1.6.2 没有cherry-pick 该pr：https://github.com/PaddlePaddle/Paddle/pull/21257
该问题之前已修复，请使用最新的develop分支。

[2019-12-30 04:50] AoZhang commented on #22000
请问这个修复会在那个版本 release，有预期的时间吗？

[2019-12-30 07:03] linshufei commented on #21989
试了，还是没有变化

[2019-12-30 10:01] #19275 closed, assigned to Xreki, zhaoyuchen2018

[2019-12-30 10:02] slf12 commented on #21989
把改过的代码贴一下看看

[2019-12-30 10:20] xixiaoyao commented on #22000
预期1.7版本会修复，大约2月下旬发布哈~

[2019-12-30 11:54] slf12 commented on #21989
如果您是处于学习深度学习的阶段，可学习我们的动态图教程，更容易上手，https://aistudio.baidu.com/aistudio/projectdetail/78958， 如果您是使用这个方式来实现特殊功能（这个用法在深度学习中比较特殊，不是正常用法），可贴出代码继续解决这个问题。

[2019-12-30 12:18] #18845 closed, assigned to nobody

[2019-12-30 13:53] wudenggang opened #22018 "docstrings太多单词拼写错误"
编写小代码检查paddle docstring太多拼写错误，至少超过200个，估计大佬比较忙。
![image](https://user-images.githubusercontent.com/3587832/71584671-b148c080-2b4e-11ea-9b67-6889c5c20665.png)

[2019-12-30 14:27] luotao1 commented on #22018
感谢您的指出，请问您的代码能贡献出来么？

[2019-12-30 14:59] Boyan-Liu commented on #22018
您好，感谢您的反馈，我们最近会集中解决，请问您的代码能贡献吗？

[2019-12-30 23:54] wudenggang commented on #22018
半手工python docstrings单词拼写工具——吴登刚，wudenggang@outlook.com
1、获取某个目录下所有以.py结尾的文件，通过ast解析语法树，获取docstrings。保存在records里(格式：文件名，docstrings开始行号，结尾行号，docstrings)，保存为records.pkl。并将docstrings里的标点去除拆分成字典保存，保存为word_freq.pkl。
2、针对字典每个词，确认是否拼写正常（有大量算法可用）。我采用最简单的，将字典里的单词复制到word文档中自动检查，获取可能拼写错误的单词，保存在（单词.txt）里。
3、反查相关单词在docstrings里的位置，这部分代码不在此电脑上，后续补上（代码也比较简单），保存到rst.pkl中（格式：单词，在docstrings里的位置，docstrings开始行号，结尾行号，do

[2019-12-31 01:51] mapingshuo commented on #22004
@huangguanMayday 我们要对这个问题进行跟进，请协助提供报错信息截图，谢谢。

[2019-12-31 02:32] slf12 commented on #21988
请问具体的异常情景是怎样的？方便我们对问题进行跟踪处理。

[2019-12-31 02:34] slf12 commented on #21987
如果您的问题得到解决，请关闭issue，感谢～

[2019-12-31 03:09] mapingshuo commented on #22004
问题已复现：

[code]

[code]

[2019-12-31 07:03] Anikily opened #22033 "分组卷积报错"
输入shape是(B, 1536, 60, 60)
卷积核3*3， 输出512
设置groups参数为1536，报错如下：
The number of output channels should be divided by groups.But received: the output channels is [512], the shape of filter is [512, 1, 3, 3](the first dimension of filter is output channel), the groups is [1536]

[2019-12-31 07:22] maosengshulei opened #22034 "fleet transpiler模式 mpi分布式训练ctr模型 embedding极易出现梯度爆炸"
   1）PaddlePaddle版本：paddle 1.6.1

- 训练信息
    1 ）多机，cpu
    
- 问题描述：数据使用criteo challenge 的数据集，mpi训练，使用fleet transpiler分布式训练，使用的data_reader 是paddle官方models里paddleRec的DCN的reader代码。mpi训练报错：
Pserver log报错日志：Error Message Summary:
Tue Dec 31 14:58:11 2019[1,0]<stdout>:----------------------
Tue Dec 31 14:58:11 2019[1,0]<stdout>:PaddleCheckError: Operator adam output Tensor C3_C7_moment2_0 contains Inf a

[2019-12-31 07:32] littletomatodonkey opened #22035 "Scope的问题"
目前paddle能否实现，在同一个program内，通过设置不同的scope，即使相同的参数名，也可以是不同的参数呢？（保存时是保存在不同的文件夹内），我自己使用with scope("tesst1")这种方式目前好像对于相同参数名，不同shape的参数会报错。

[2019-12-31 07:57] mrright2019 commented on #10397
连接不能用了,麻烦再发一遍可行

[2019-12-31 08:14] Aurelius84 commented on #22035
paddle可以通过scope_guard来管理作用域，不同的scope可以拥有相同的参数名。
如：
[code]

[2019-12-31 08:26] littletomatodonkey commented on #22035
网络定义如下，最终会报错，应该还是不同scope中即使名字相同，也会有冲突
[code]
错误信息：
[code]

[2019-12-31 08:37] Aurelius84 commented on #22035
我简单组了个网络，如下：
[code]

[2019-12-31 08:46] littletomatodonkey commented on #22035
这个跟我组的网其实是一样的呀，你这个是因为不同scope内，相同名字参数的的shape相同，所以才没有报错，这也验证了不同scope内的参数其实共享的？
或者说要实现scope内不同参数的管理，必须要保证相同名字的参数的shape完全一致？

[2019-12-31 08:49] Aurelius84 commented on #22035
应该是没有这个限制的。我把上述fc层的shape改为不一致，也是可以的。想问下你的网络有什么特殊之处么？

或者提供一下简单的可复现代码也可以的

[2019-12-31 08:51] littletomatodonkey commented on #22035
ResNet_vd调用的就是模型库里的ResNet50vd代码
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/resnet_vd.py

[2019-12-31 08:53] littletomatodonkey commented on #22035
整个网络的定义为
[code]

[2019-12-31 09:05] aixier opened #22038 "可以吐槽下paddlepaddle么"
1、代码里面嵌套太复杂。导致水平一般的人只能运行demo本身，代码几乎无法修改。
2、实现功能涉及到的知识点太多，一般人很难上手。
归纳起来就是这个一个高手用的东西，不适合推广普及。
 但是高手做项目也不用paddlepaddle这就是矛盾

[2019-12-31 09:11] xixiaoyao commented on #21999
可以尝试手动设置停止梯度，在embedding操作之前加如下两行
[code]
看一下是否可以解决您的问题？如果可以，麻烦进一步反馈一下，或许是个bug，我们会持续跟进这个问题

[2019-12-31 09:53] yma-admin commented on #22038
可以试试PaddleHub，看看能否满足需求。

[2019-12-31 10:22] hllrhpy opened #22040 "摄像头进行预测yolo"
- 版本、环境信息：
    1）PaddlePaddle版本：16.2
    2）CPU：
    3）GPU：1060 cuda9.2+cudnn7.4.2
    4）系统环境：ubuntu16.04 python3.7

  File "/home/rm/.local/lib/python3.7/site-packages/paddle/fluid/framework.py", line 2459, in append_op
    attrs=kwargs.get("attrs", None))
  File "/home/rm/.local/lib/python3.7/site-packages/paddle/fluid/layer_helper.py", line 43, in append_op
    return self.main_program.current_b

[2019-12-31 11:17] Aurelius84 commented on #22035
建议在resNet网络里添加一个prefix的name参数，以区分参数名称

[2019-12-31 12:00] AoZhang commented on #21986
@ForFishes 求解答

[2019-12-31 12:07] littletomatodonkey commented on #22035
好的，多谢

[2019-12-31 12:07] #22035 closed, assigned to Aurelius84

[2019-12-31 12:58] AoZhang opened #22041 "Does PaddlePaddle have a demo of Pointer Network"
Do you have a demo of Pointer Network(like mentioned in [paper](https://arxiv.org/abs/1506.03134)). I can't find any similar ones in PaddleNLP models.

A similar issue is  #10851

[2020-01-01 05:48] GitLD opened #22043 "LookAhead优化器动态图下使用报错"
Paddle：1.6
GPU：V100
AIStudio线上环境
训练信息：
单机单卡
复现信息：
sgd = fluid.optimizer.AdamOptimizer(learning_rate=0.01)
optimizer = fluid.optimizer.LookaheadOptimizer(sgd,alpha=0.5,k=5)
替换房价预测案例optimizer
报错信息：

---------------------------------------------------------------------------TypeError                                 Traceback (most recent call last)<ipython-input-14-80791b37c7d8> in <module>
      5 #

[2020-01-01 06:58] leesusu commented on #21957
@iclementine 帮忙再看下这2个啥问题，谢啦：

http://ci.paddlepaddle.org/viewLog.html?buildId=259284&buildTypeId=PaddleMac_MacPrCiPython35

http://ci.paddlepaddle.org/viewLog.html?buildId=259287&buildTypeId=Paddle_PrCiPython35

[2020-01-01 13:13] zjutlzt opened #22044 "C++ PaddleTRT problem"
C++ Paddle problem
When we use PaddleTRT C++ infer，
will use config->SetModel("./model_dir/model", "./model_dir/params");
But with this plan , our "model" and “params”  will  divulge or stolen by some bad guys.

Does Baidu（Paddle） have a good project deployment plan to protect our model and configuration files?

[2020-01-01 13:14] zjutlzt commented on #22044
or int8 calib files