[2021-06-25 00:34] hrdwsong commented on #33765
解决了。是找不到paddle的下载源，我在requirements文件里加入了链接，就可以了。

opencv_python==4.5.1.48
--find-links https://paddlepaddle.org.cn/whl/mkl/stable.html
paddlepaddle-gpu==2.1.0.post101
PyYAML==5.4.1

[2021-06-25 00:34] #33765 closed, assigned to danleifeng

[2021-06-25 01:00] DeepGeGe commented on #33657
没人管，算了。

[2021-06-25 01:38] ClassmateXiaoyu commented on #32357
遇到同样的问题，请问这个问题解决了吗？

[2021-06-25 02:18] yeyupiaoling opened #33772 "在训练过程中突然出现未知错误"
- PaddlePaddle 2.1.0
 - Python 3.7
 - Ubuntu 18.04
 - 双卡 2080ti

错误信息如下：
[code]

 没挂掉之前的显卡使用情况：
![image](https://user-images.githubusercontent.com/26297768/123361174-2a3ca300-d5a1-11eb-8b4a-b0184e304a7c.png)

[2021-06-25 02:19] yeyupiaoling commented on #33703
@cryoco 请问这个问题如何解决呢？

[2021-06-25 02:26] Darki-luo commented on #32357
没有

[2021-06-25 02:30] Steffy-zxf commented on #33657
@DeepGeGe  你好！如之前所说你可以在最后分类层，设置`output_feature =num_classes`，然后使用CrossEntropyLoss计算顺势函数值，使用paddle.nn.Accuracy计算准确率。

或者如果你想要BCELoss，最后分类层`output_feature =1`，但此时需要自己定义准确率acc的实现。

[2021-06-25 02:33] jucaowei commented on #19358
确实

[2021-06-25 02:42] helen88 opened #33773 "使用paddlehub微调分类任务，多分类任务，怎么增加一个“其他”类别让模型没见过的数据都分到其他类别上去呢"
我现在使用paddlehub 进行finetune，因为需要很高的召回和分类准确率，由于收集没见过的数据很难，于是想把未来没见过的数据分类到“其他”类别。想请问hub上有相关实现吗，或者paddle有相关的参考吗。谢谢~

[2021-06-25 02:53] DeepGeGe commented on #33657
了解了解，我是觉得这个应该是个BUG或者说可以进一步完善的地方，不应该这样情况下acc计算就会不支持，返回错误的结果。不过，还是非常感谢您的回复。

[2021-06-25 02:54] #33657 closed, assigned to nobody

[2021-06-25 03:28] ForFishes commented on #33772
您好，请问这个是静态图还是动态图呢？还有这里能看到其他卡的日志。

[2021-06-25 04:03] yeyupiaoling commented on #33772
看不到，这个是动态图。
就只有这些日志

[2021-06-25 06:59] xmy0916 commented on #33674
没人了吗😢

[2021-06-25 07:01] douzaikongcheng commented on #33746
这个是静态图的吧，动态图支持吗

[2021-06-25 07:01] douzaikongcheng commented on #33746
这个是静态图的吧，动态图支持吗

[2021-06-25 08:14] ForFishes commented on #33772
这里可能是数据读取出了问题，要具体分析，需要提供最小可复现的代码。报错信息有限呢。

[2021-06-25 08:34] jiweibo commented on #33767
1、首先可以看下input handle的输入 在for循环内部是不是符合预期
2、如果排除输入的影响，可以测试下关闭mkldnn后，结果是否正确
3、最后可以测试下，关闭所有优化，config.SwitchIrOptim(false)，看下有没有可能是由于pass优化导致的
4、如果以上均未解决问题，请看下能否提供测试模型和demo

[2021-06-25 10:39] cumtqiangqiang commented on #32183
hi 你怎么解决的啊，我也遇到了同样的问题

[2021-06-25 11:06] douzaikongcheng opened #33785 "动态图如何进行单进程多卡训练和测试"
动态图如何进行单进程多卡训练和测试

[2021-06-25 11:47] ForFishes commented on #33785
您好，动态图不支持单进程多卡训练，只支持多进程多卡训练。可以参考https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/collective/collective_quick_start.html#collective

[2021-06-26 00:53] Yelin1506 opened #33787 "交叉验证"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7
    2）CPU/GPU：GPU驱动版本：GTX 960M、CUDA:11.2.66
    3）系统环境：Win10
    4）Python版本号:3.8
 问题：在进行二分类的时候，由于数据样本少，如何进行交叉验证。

[2021-06-26 02:06] wjj871125 opened #33788 "段错误"
- 安装方式信息：
pip安装
- 问题描述：安装完之后，执行：

段错误

补充：
开始的gcc版本：4.8.5
后升级为：gcc 版本 9.1.0

[2021-06-26 05:02] lamhoangtung commented on #771
If this is impossible. How can Pytorch have something like: `torch.cuda.is_available()` @wangkuiyi ? cc @gangliao  @hedaoyuan

[2021-06-26 09:55] ZKBL commented on #33767
@jiweibo 多谢，问题解决了，经过测试，同时开启`mkldnn`跟`switch_ir_optim`会导致结果不正常，只开启一个就没有问题，

[2021-06-26 12:12] gangliao commented on #771
I don't recall the details since it has been 5 years, but I think the context mentioned here is different.

Of course, Pytorch can explicitly approach the GPU driver to detect whether a GPU is present in the environment.

https://pytorch.org/docs/stable/_modules/torch/cuda.html#is_available

[2021-06-26 13:01] yeyupiaoling commented on #33772
小的代码没有，是这个项目：https://github.com/yeyupiaoling/VoiceprintRecognition-PaddlePaddle

如果是读取数据的问题，那么前面也成功训练了好几个epoch呢。

[2021-06-26 13:30] lamhoangtung commented on #771
Hi @gangliao. Thanks for the response. I forget to look at the time of this issue. BTW, I'm looking for the equivalent of `torch.cuda.is_available()` in PaddlePaddle. I've been searching the web but yet to find it. Can you help me out here ?

[2021-06-26 14:00] DongChenwei2000 opened #33789 "打包paddle项目后进行预测"
在打包paddle项目后进行预测，出现了一个错误：
![HCCSNO(IMA5}D}9{EKA5)}7](https://user-images.githubusercontent.com/71364549/123515334-987c8500-d6c9-11eb-954b-7e77f50ce207.jpg)
出错的函数是paddle.inference.create_predictor,输入参数加载模型预测器失败。打包前是可以正常使用的。

[2021-06-27 03:18] yuandanfei opened #33790 "训练内存泄漏问题"
1）PaddlePaddle版本：2.1.0
   2）系统环境：aistudio
描述：训练过程中内存一直增加

[code]

[2021-06-27 07:18] yuandanfei commented on #33790
PaddlePaddle版本降为版本：2.0.2后内存泄漏问题消失

[2021-06-27 07:49] OleNet opened #33791 "吐槽分布式文档示例"
我仅仅是想跑一个分布式示例而已，为什么又要装opencv，又要联网，又要手动下载 resnet_static.py.
可不可以再简单一点，给个hello world级别的，不要有那么多外部依赖。

https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/06_distributed_training/cluster_quick_start_cn.html#jingtaituwanzhengdaima

[2021-06-27 16:29] jackiezzq opened #33794 "tensorRT预测错误"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.1
    2）CPU：ii9 10900k
    3）GPU：3090
    4）系统环境：paddlepaddle/paddle:2.1.1-gpu-cuda11.2-cudnn8 docker镜像

- 安装方式信息：
1）docker安装
2）docker编译：paddlepaddle/paddle:2.1.1-gpu-cuda11.2-cudnn8 ，编译命令     
cmake .. -DPY_VERSION=3.7  -DWITH_GPU=ON -DWITH_AVX=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DWITH_AVX=ON  -DWITH_PYTHON=ON \
-DWITH_TENSORRT=ON -DTENSORRT_ROOT=

[2021-06-28 01:24] williamlzw opened #33795 "paddle2.1.0 windows cpu 无法训练paddleocr项目的dbnet网络"
paddle2.1.0 windows cpu 无法训练paddleocr项目的dbnet网络.
builddataloader卡住了，不知道是不是速度慢卡住了还是什么原因。

[2021-06-28 02:24] rs-lsl commented on #33790
感谢感谢感谢感谢感谢

[2021-06-28 05:48] OliverLPH commented on #33794
`paddlepaddle/paddle:2.1.1-gpu-cuda11.2-cudnn8` 这个镜像中的 trt so 和 paddle 链接会失败，建议更换一个低版本cuda的镜像试下，比如 `paddlepaddle/paddle:latest-dev-cuda10.1-cudnn7-gcc82`

@cryoco @pangyoki 麻烦看下这个问题，是否要移除这个镜像中的 trt 依赖

[2021-06-28 06:34] jackiezzq commented on #33794
30系显卡需要cuda11以上，这个除了换镜像有办法解决嘛

[2021-06-28 07:00] PhilCuriosity opened #33807 "FatalError: `Segmentation fault` is detected by the operating system."
在Jetson AGX板卡运行paddlehub 中的ocr识别模型上会出现这种问题。
- 版本、环境信息：
    1）PaddlePaddle版本： 2.0.0  PaddleHub版本：2.0.0
    2）GPU： CUDA10.2
    3）系统环境：JetPack 4.4

-预测信息
    1）预测库来源：[https://paddle-inference-lib.bj.bcebos.com/2.0.2-nv-jetson-jetpack4.4-all/paddlepaddle_gpu-2.0.2-cp36-cp36m-linux_aarch64.whl]( https://paddle-inference-lib.bj.bcebos.com/2.0.2-nv-jetson-jetpack4.4-all/paddlepaddle_gpu-2.0.2-cp36-cp36m

[2021-06-28 07:05] zhwesky2010 commented on #33341
@yeyupiaoling 请问显卡类型、CUDA、Python版本是多少

[2021-06-28 07:07] yeyupiaoling commented on #33341
@zhouwei25 显卡2080ti，CUDA 10.2， Python 3.7

[2021-06-28 08:21] immense8342 opened #33813 "dataloader 报错 maximum recursion depth exceeded while calling a Python object"
https://aistudio.baidu.com/aistudio/projectdetail/2116085?shared=1

训练的是paddle OCR
[code]

[2021-06-28 08:39] ForFishes commented on #33772
您好，这里先把 find_unused_parameters=True，然后再训练看看是否还是报错？

[2021-06-28 08:42] yeyupiaoling commented on #33772
@ForFishes 请问find_unused_parameters=True这个参数在哪里设置呢？

[2021-06-28 09:19] yaoxuefeng6 commented on #33791
感谢反馈 我们会评估下这个需求

[2021-06-28 09:25] Thunderbrook commented on #33787
辛苦再完善下背景信息吧

[2021-06-28 09:27] skywalk163 commented on #33791
呵呵，我当时看的时候也是一头雾水，吐槽+1

[2021-06-28 09:40] pangyoki commented on #33788
报错信息可以截图看下吗？
麻烦提供下cuda版本、安装指令。
paddle使用的gcc版本一般是gcc8.2

[2021-06-28 09:57] wjj871125 commented on #33788
安装paddle提示成功了，在python3交互模式执行：import paddle，回车出现：段错误，退出交互模式，就结束了。

[2021-06-28 10:01] skywalk163 commented on #33791
呵呵，我当时看的时候也是一头雾水，吐槽+1

[2021-06-28 11:33] pmajchrzak commented on #33541
seems to me that issue is solved so can be closed

[2021-06-28 11:33] #33541 closed, assigned to luotao1, jczaja, Shixiaowei02, lidanqing-vv

[2021-06-28 11:33] pangyoki commented on #33788
看你的描述判断不出来是什么问题。
操作系统、gpu显卡型号，cuda版本，cudnn版本，安装包版本与安装方式，麻烦提供下吧

[2021-06-28 11:54] pangyoki commented on #33794
`paddlepaddle/paddle:2.1.1-gpu-cuda11.2-cudnn8`这个镜像是预装好paddle的发版镜像，不做trt支持，后续会删掉trt依赖，谢谢

[2021-06-28 12:35] jiweibo commented on #33789
您好，请确保使用的模型是预测格式的模型。

可以参考下这篇文档：https://paddleinference.paddlepaddle.org.cn/introduction/training_to_deployment.html

[2021-06-28 12:36] skywalk163 opened #33816 "AIStudio下飞桨2.1版本训练异常"
环境为AIstudio notebook 飞桨2.1版本
高级版
运行手册中的例程，出现异常，表现为：
1 执行组网这句指令耗时过长，在mac本机为133ms，而在aistudio下耗时3-13秒不等。

`mnist = paddle.nn.Sequential(
    paddle.nn.Flatten(),
    paddle.nn.Linear(784, 512),
    paddle.nn.ReLU(),
    paddle.nn.Dropout(0.2),
    paddle.nn.Linear(512, 10)
)

`

2 整个程序执行，在notebook下输出 `Epoch 1/5` 后程序就异常终止，但没有任何报错信息。
使用python xx.py执行，有报错信息：

`W0628 19:57:30.066193  2828 device_context.

[2021-06-28 12:39] Shawn6688 opened #33817 "pow计算问题"
官方文档中写：
pow
paddle.pow(x, y, name=None)[源代码]
该OP是指数算子，逐元素计算 x 的 y 次幂。
out=x^y
参数
x （Tensor）- 多维 Tensor，数据类型为 float32 、 float64 、 int32 或 int64 。
y （float|int|Tensor）- 如果类型是多维 Tensor，其数据类型应该和 x 相同。
name （str, 可选）- 操作的名称(可选，默认值为None）。更多信息请参见 Name。
返回
Tensor, 维度和数据类型都和 x 相同。

但当输入为多维tensor时，交换x，y的位置计算结果是相同的，并不是element-wise的out=x^y。示例代码如下：
import paddle

x = paddle.to_tensor([[1, 2, 3], [1, 2, 3]], dt

[2021-06-28 14:03] skywalk163 opened #33822 "AIStudio飞桨2.1单机多卡以及多机多卡并行计算报错"
在将AIStudio项目升级到2.1版本后，发现以前2.02版本下运行正常的项目无法正常运行。项目地址：https://aistudio.baidu.com/aistudio/projectdetail/1222066

具体表现为3点：

- 1 普通的程序就无法正常运行

，已报issue https://github.com/PaddlePaddle/Paddle/issues/33816

- 2 spawn多卡时，有如下报错：

`W0628 21:36:07.498749  6173 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime API Version: 10.1
W0628 21:36:07.502328

[2021-06-29 01:30] #33767 closed, assigned to danleifeng

[2021-06-29 01:46] HansenLYX0708 opened #33823 "使用paddle inference部署window 64位 C++ 灰度图 output和python端不符"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.5
    2）CPU：MKL
    3）Paddle inference：见下图，所有配置按照下图所示
    4）系统环境：windows 10 64 bit，Python3.6

![image](https://user-images.githubusercontent.com/38058900/123723634-6895d300-d8bd-11eb-87a3-02ce63f5badd.png)

- 模型信息
    1）模型名称  CNN
    2）使用数据集名称 分类数据集
    3）使用算法名称
    4）模型链接
- 复现信息：
    1）Python端训练模型
    2）生成推理模型
    3）下载并准备好C++端推理环境
- 问题描述：
    1）对于单通道灰度图C++端推理结果

[2021-06-29 03:15] #24116 closed, assigned to nobody

[2021-06-29 03:15] #24621 closed, assigned to nobody

[2021-06-29 03:15] #25151 closed, assigned to nobody

[2021-06-29 03:15] #25153 closed, assigned to hong19860320

[2021-06-29 03:15] #25159 closed, assigned to hong19860320

[2021-06-29 03:15] #25164 closed, assigned to NHZlX, Shixiaowei02

[2021-06-29 03:15] #25220 closed, assigned to nobody

[2021-06-29 03:15] #25224 closed, assigned to wawltor

[2021-06-29 03:15] #25232 closed, assigned to nobody

[2021-06-29 03:50] gongel commented on #31649
You can try: paddle.where

[2021-06-29 04:07] gongel opened #33827 "[Q] 如何通过布尔值进行slice？"
Hi，

  a 是shape为3x4的tensor，类型为bool，值为True或者False；
  b是shape为3x4x128的tensor，类型为float32，目前想通过a去slice b，取出b中前两维是True的元素；
  请问有啥方法可以完成吗？masked_select由于shape不一致无法完成。

感谢

[2021-06-29 06:08] lidanqing-vv commented on #29471
hard_swish has been merged. hard_sigmoid is not critical op that influence a lot the perf

[2021-06-29 06:08] #29471 closed, assigned to wanghaoshuang

[2021-06-29 06:46] #33240 closed, assigned to wzzju, lidanqing-vv

[2021-06-29 06:46] TCChenlong commented on #33816
您好，这个问题是由于加载数据集时，调用了ToTensor这个导致的，即如下这部分代码：
[code]
您可以换一种处理的方式，使用如下的方式来加载；
[code]

这个问题是由于 `ToTensor` 这个API在GPU环境下有些问题，我们已经修复了这个问题，在下一个版本(2.1.1)就会解决；
我们也会尽快更新文档到正确的版本，感谢您的反馈

[2021-06-29 06:55] lidanqing-vv commented on #33282
@juncaipeng @OliverLPH  Could you please verify if this error is solved and I will close this issue.

[2021-06-29 06:59] JayFu opened #33830 "如何为gru网络自定义激活函数"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：2.1
2）CPU/GPU：CPU
3）系统环境：osx 11.4

使用动态图搭建了一个简单的LSTM网络完成训练任务后，将LSTM层改为GRU层，训练出现Loss nan问题。
想把激活函数修改为relu6，如何修改？

另：在DCU环境安装paddle2.1时，包版本标明miopen2.11，运行时提示miopen版本为3.1。是否2.11=3.1？
`WARNING: device: 0. The installed Paddle is compiled with MIOPEN 3.1, but MIOPEN version in your machine is 2.9, which may cau

[2021-06-29 07:14] LDOUBLEV opened #33831 "[OCR flask deployment] When using flask to deploy the OCR model with enable mkldnn, an error occurred in the second prediction."
Env:
- linux + python3.7
- paddlepaddle 2.1.1    pip3 install   paddlepaddle-gpu==2.1.1
- paddleocr  2.0.6   pip3 install   paddleocr==2.0.6

I expect to deploy PaddleOCR on my machine using Flask. And I want to speed up the prediction using Mkldnn.  However, an error occurred in the second prediction When using flask to deploy the OCR model with enable mkldnn.

However, the third prediction will

[2021-06-29 07:22] crispyberry opened #33833 "Paddle Fluid 开发者指南 5多设备支持问题"
在根据文档模拟在相应位置添加一个新硬件后，重新编译后调用core.newPlace()，显示没有这个attribute。后续更改了pybind的部分内容后依然前端识别不出来新加的硬件。请问怎么解决？

[2021-06-29 08:21] kaixin-bai opened #33836 "paddle安装速度过慢"
在德国安装paddlepaddle下载速度约为300kb/s，速度过慢。安装方式为：
[code]

[2021-06-29 08:43] iclementine commented on #33817
预期应该是 ？
<img width="1439" alt="图片" src="https://user-images.githubusercontent.com/16222986/123766237-18d4fd00-d8f9-11eb-9761-08574219de1e.png">

我目前在用的开发版已经修复了这个问题。你目前使用的版本是？

[2021-06-29 08:48] kaixin-bai opened #33837 "paddle英文版主页"
paddlepaddle是否有英文版主页？

[2021-06-29 08:58] QQ39272490 commented on #26099
我也是这样错误

[2021-06-29 09:01] iclementine commented on #33822
能否给一下你的 paddle 版本号，甚至 commit 号。因为我查找 spawn 那一行的报错的时候发现和 2.0 分支的不同，和 2.1 分支的也不同。

这里看起来应该是设备的字符串检查机制发生了变化，比如说由 "gpu" 变成了  "gpu:0" 之类的，你可能需要报一下 commit id 才能定位问题。如果确实出现了不兼容，那么可能代码需要升级。

通过这个方式可以得到 commit id
<img width="556" alt="图片" src="https://user-images.githubusercontent.com/16222986/123768768-35723480-d8fb-11eb-8055-2acf96225a59.png">

第二个问题应该也和 ToTensor 的使用有关。可以尝试把 ToTensor 去掉。目前 dataset 出来的数据可

[2021-06-29 09:27] iclementine commented on #33795
这个能给一些具体的信息吗？运行的是什么文件？我请 OCR 的同学来回答一下

[2021-06-29 09:37] Shawn6688 commented on #33817
我用的最新稳定版2.1.1是有问题的，输出
W0629 17:33:13.157128 58136 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 11.3, Runtime API Version: 11.2
W0629 17:33:13.163112 58136 device_context.cc:422] device: 0, cuDNN Version: 8.1.
Tensor(shape=[2, 3], dtype=float32, place=CUDAPlace(0), stop_gradient=True,
       [[1., 4., 9.],
        [1., 4., 9.]])
Tensor(shape=[2, 3]

[2021-06-29 09:42] WenmuZhou commented on #33813
这个一般是标注出错了，建议检查下文件是否是\t分割，文件路径对不对

[2021-06-29 09:45] LDOUBLEV commented on #33795
不建议CPU训练，可以在AiStudio上用免费的V100GPU

另外，dbnet网络用的是resnet模型还是mobile net 模型，CPU计算能力有限，尝试
- 更轻量backbone的网络
- 减小batchsize
- use_shared_memory 设置为False， window上num_workers需要设置为0
- 减小输入图像大小

看能否训练起来

[2021-06-29 09:45] iclementine commented on #33817
我查找一下最近的 PR

[2021-06-29 09:53] Shawn6688 commented on #33817
试了下nightly是没问题的

[2021-06-29 09:55] lidanqing-vv commented on #32282
**Note:**
- fusion_rnn_mkldnn_op.cc exists, but it is only for code refactoring of GRU and LSTM. real vanillia rnn is not supported yet.
- fc_mkldnn_op is implemented but by default disabled in pass. Since fc oneDNN for some models caused perf drop. Need to enable it by adding AppendPass("fc_mkldnn_pass")

[2021-06-29 12:00] iclementine commented on #33817
okay, 那么请先用 nightly 或者自编译。等下一个正式版 2.1.2 出来就好了。

[2021-06-29 12:41] immense8342 commented on #33813
诶 都尝试过了   文件按路径可以打开，报错的地方的文件也可以打开，分割也看了没得问题
没辙了。

[code]

尝试打印所有读取文件，还是没发现问题所在。

就是有个疑惑，为啥读取文件的时候顺序不固定的？？整个列表的顺序很乱

[2021-06-29 12:49] immense8342 commented on #33813
文件读取不出来是另一种提示，这个应该是读取到了。
555 大佬有其他联系方式吗，可以付费咨询吗？  帮我仔细看一下

[2021-06-29 12:54] #33627 closed, assigned to DannyIsFunny

[2021-06-29 13:00] skywalk163 commented on #33822
使用的AIStudio里面默认的2.1版本
commit号为：4ccd9a0a86ad550a861c954d70e28ef15741b310
经比对commit号，跟官网这条安装命令装上的版本一样
python -m pip install paddlepaddle-gpu==2.1.0.post101 -f https://paddlepaddle.org.cn/whl/mkl/stable.html

升级到最新的2.1.1版本，报错问题`deviceshould be a string ofcpu, 'gpu' or 'xpu', but got gpu:0`解决
python -m pip install paddlepaddle-gpu==2.1.1.post101 -f https://paddlepaddle.org.cn/whl/mkl/stable.html

[2021-06-29 14:26] skywalk163 commented on #33816
确实换到2.1.1就好了，真棒！

[2021-06-29 14:26] #33816 closed, assigned to iclementine

[2021-06-30 00:29] #32649 closed, assigned to gfwm2013

[2021-06-30 01:06] TCChenlong commented on #33833
请问您参考的文档具体是哪一篇呢？

[2021-06-30 02:10] crispyberry commented on #33833
您好！
参考的是：
https://github.com/PaddlePaddle/docs/blob/release/1.2/doc/fluid/getstarted/Developer%27s_Guide_to_Paddle_Fluid.md
第五部分

Chen Long ***@***.***> 于2021年6月30日周三 上午9:06写道：

[2021-06-30 02:12] skywalk163 commented on #33816
确实换到2.1.1就好了，真棒！

[2021-06-30 02:12] skywalk163 commented on #33822
升级到2.1.1版本，前面3个问题解决！

[2021-06-30 02:12] #33822 closed, assigned to iclementine

[2021-06-30 04:01] huangjun12 commented on #33837
https://www.paddlepaddle.org.cn/documentation/docs/en/guides/index_en.html 目前文档页面有英文版

[2021-06-30 04:04] huangjun12 commented on #33836
建议使用镜像

[code]

[2021-06-30 04:18] huangjun12 commented on #33830
改一下源码吧 https://github.com/PaddlePaddle/Paddle/blob/89fdd6c8f569fe20b7699ca20488f603ca2636ba/python/paddle/nn/layer/rnn.py#L653

[2021-06-30 04:31] huangjun12 commented on #33827
试下先expand_as再masked_select

[2021-06-30 06:30] shingstone-lu opened #33854 "Cuda error(700), an illegal memory access was encountered"
paddle的版本是2.1.0 win10操作系统
程序如下：
import numpy as np
import paddle
#程序段1
x=np.random.uniform(high=20,size=(2,1,500,500))
x = paddle.to_tensor(x,dtype='int32')
result1 = paddle.max(x)
print(result1)
#程序段2
x=np.random.uniform(high=20,size=(2,1,500,500))
x = paddle.to_tensor(x,dtype='int64')
result1 = paddle.max(x)
print(result1)

程序段1可以正常执行，但是将程序段1改为程序段2('int32'->'int64')就会出现下面的错误：
Traceback (most rec

[2021-06-30 06:37] jiweibo commented on #33823
1、您好，可以使用netron可视化下模型文件，看下模型的输入输出名称等。

2、当使用灰度图时，输出报错，请问下模型就是单通道输入的吗？正常来说应该是和python输出对齐的。

3、inference实际不包含通道的处理，只是op by op的调度

[2021-06-30 06:38] minghaoBD opened #33855 "fleet分布式训练中，如何全局同步某个variable"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==2.1.1
    2）CPU：-
    3）GPU：V100, CUDA10.1
    4）系统环境：-

- 训练信息
    1）单机，多卡
    2）显存信息 -
    3）Operator信息 -

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

在静态图中，我在参照fleet的[教程](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/06_distributed_training/cluster_quick

[2021-06-30 06:41] Thewindrisers opened #33856 "profiler计算op工具报错：error: function dynload::cuptiActivityEnable(CUPTI_ACTIVITY_KIND_MEMCPY) failed with error CUPTI_ERROR_INSUFFICIENT_PRIVILEGES"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.0
    2）CPU
    3）系统环境：ubuntu（18和20都试过）

开发人员您好，今天我在使用profiler计算paddlefl训练各op所占时间时，遇到如下报错：
![图片](https://user-images.githubusercontent.com/50702353/123913610-fe5e5a80-d9b0-11eb-824e-62c6d292b14a.png)
我发现使用timeline profiler文档中所带的test测试文件也产生同样错误。然而今天之前我从未出现该错误，一直是可以跑的。请问是什么原因呢

[2021-06-30 06:54] qili93 commented on #33833
@ssslvky 根据这个文档，添加一个新的硬件需要执行三步，其中：

第一步：要在Paddle源码中添加新的设备

文档这里只是一个简单描述，实际需要在paddle/fluid/platform下修改大量代码来接入新硬件的driver/runtime api，不仅仅是devicecontext，还有包括设备的stream/event/memory等管理，使得新的硬件能作为一个计算资源被Paddle进行识别和调度，以CUDA为例，Paddle需要CUDA的dirver/runtime API来对训练作业进行调度，仅在API层面添加一个新的newPlace是无法实现Paddle支持一个新的硬件设备的。

第二步 & 第三步：开发对应硬件的算子Kernel

这里也需要针对新的硬件开发对应的算子kernel，例如通过CUDA Kernel写GPU的算子，才能运行在CUDAPlace上。否则就会

[2021-06-30 07:11] HansenLYX0708 commented on #33823
看过模型的输入输出，最后一层应该是fc_0.tmp2, 但是使用GetOutputNames没有拿到这层的名字，
模型就是单通道输入。
网络就是个简单CNN分类网络，输入是灰度图，官网下载的inference，应该可以复现
![image](https://user-images.githubusercontent.com/38058900/123917060-f0aad400-d9b4-11eb-99b5-ce9b1d88d139.png)

[2021-06-30 07:22] yushu9 commented on #32953
我也遇到类似的崩溃，使用 aistudio 的 notebook 或者终端，用 GPU 版本运行使用教程的中的 模型开发--》训练与预测中的例子。
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/05_train_eval_predict_cn.html
使用 CPU 版本则没有问题。

[2021-06-30 07:39] #33734 closed, assigned to juncaipeng

[2021-06-30 07:42] #32739 closed, assigned to wanghaoshuang, juncaipeng

[2021-06-30 07:59] gongel commented on #33827
expand_as扩展的维度必须为1，不可以。最终通过 先tile后masked_select解决了，感谢提供思路～

[2021-06-30 07:59] #33827 closed, assigned to huangjun12

[2021-06-30 08:24] Aurelius84 commented on #33854
你好，请问你的显存有多大？

[2021-06-30 08:28] Aurelius84 commented on #33856
你好，“今天之前我从未出现该错误”，想问下上次执行到现在有什么其他的变动么？

比如机器环境是否有变化？

[2021-06-30 08:30] Aurelius84 commented on #33855
可以参考这里的文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/distributed/broadcast_cn.html#broadcast

[2021-06-30 08:31] Thewindrisers commented on #33856
您好，感谢回复！没有任何变化，为了排除我今日在一台新机器上是安装了环境进行测试，出现了同样的错误。为了排除代码问题，我同样跑了官方文档给的timeline的demo，也是一样的错误。但这个错误目前只在ubuntu上出现，window10上没有问题。

[2021-06-30 08:32] shingstone-lu commented on #33854
8192MB

[2021-06-30 08:40] zhwesky2010 commented on #33854
@shingstone-lu 你好，我在Windows 2080Ti显卡上目前没有复现这个问题，显存是11G，CUDA10.2

[2021-06-30 08:52] minghaoBD commented on #33855
谢谢。我调用后，报错如下：
![image](https://user-images.githubusercontent.com/79566150/123931935-8c434100-d9c3-11eb-8c65-398192ebd513.png)
请问要做什么转换吗？

[2021-06-30 08:57] kaixin-bai opened #33861 "Cublas error, `CUBLAS_STATUS_INVALID_VALUE`."
[code]
[code]

cuda和cudnn是用的conan安装：cuda/10.0.130@xx/stable, cudnn/7.6.4@xx/stable。我只能使用这两个，不可以换别的方式。
在我自己的电脑上可以正常运行，但是部署在同事电脑上的时候出现问题。试了不同的安装方式(cu101)，报错是一样的：
[code]

[2021-06-30 09:03] #33836 closed, assigned to huangjun12

[2021-06-30 09:03] shingstone-lu commented on #33854
我的是1080显卡，CUDA11.1，我把CUDA降到10.2再试试。

[2021-06-30 09:12] zhwesky2010 commented on #33854
@shingstone-lu Paddle目前还没有发布CUDA11.1的版本，请问你安装的paddle是哪个版本呢，这个需要对应

[2021-06-30 09:13] shingstone-lu commented on #33854
2.1.0

[2021-06-30 09:18] zhwesky2010 commented on #33854
@shingstone-lu 安装的CUDA版本，因为目前官方没有发布CUDA11.1，默认会下载CUDA10.2，可以通过==2.1.0.post110 指定其他版本

[2021-06-30 09:19] minghaoBD commented on #33855
我现在用program.global_block().var(var_name)拿到了framework.Variable。但是broadcast没有起作用，这个variable依然没有同步。请问还有其他方法吗？

[2021-06-30 09:33] shingstone-lu commented on #33854
我刚才确认了，通过nvcc -V可以查到10.2版本的Runtime API，但是通过nvidia-smi可以查到11.1版本的Driver API。
10.2版本是我安装的。
paddle2.1.0是需要Runtime的版本还是Driver的版本？

[2021-06-30 10:03] kaixin-bai commented on #33861
在出问题的这台电脑上最开始是可以跑的，但是会随机报另一个错，中途paddle安装错了一个版本(cu11.1)然后卸载重装后就不行了

[2021-06-30 10:06] kaixin-bai commented on #33837
不会中文的人打开主页找不到英文文档的入口，同时希望官网主页上提供英文的介绍视频，要不在公司里推广paddle的时候我好难哦呜呜

[2021-06-30 10:57] kaixin-bai commented on #33861
问题解决，因为同事电脑上python的默认环境是3.9，把安装方式换掉让它安装在python3.6里就好了。

[2021-06-30 10:57] #33861 closed, assigned to Aurelius84

[2021-06-30 11:14] jzhang533 commented on #33421
@heavengate 英文的也有这个问题。

[2021-06-30 11:38] shingstone-lu commented on #33854
我重装了CUDA的Runtime API和Driver API，现在两者都是10.2了，另外cuDNN的版本是cudnn-10.2-windows10-x64-v7.6.5.32，重新运行程序还是报上面的错误。

[2021-06-30 13:04] psile opened #33873 "关于文档的小建议"
可不可以提供收藏相关API文档的功能，方便复习与查阅

[2021-06-30 13:59] williamlzw commented on #33795
应该是cpu太慢了，以为卡死

[2021-07-01 00:36] zsffuture opened #33880 "使用 config.enable_tensorrt_engine接口量化失败"
发生异常: ValueError
(InvalidArgument) Pass tensorrt_subgraph_pass has not been registered. Please use the paddle inference library compiled with tensorrt or disable the tensorrt engine in inference configuration!
  [Hint: Expected Has(pass_type) == true, but received Has(pass_type):0 != true:1.] (at C:\home\workspace\Paddle_release\paddle/fluid/framework/ir/pass.h:216)
  File "D:\paddle_envtest\Paddl

[2021-07-01 02:16] LDOUBLEV commented on #33880
报错提示你的预测库不支持TRT：
[code]

建议使用支持TRT版本的预测库，https://paddle-inference.readthedocs.io/en/latest/user_guides/download_lib.html#linux

[2021-07-01 02:41] Aurelius84 commented on #33873
非常感谢您的建议，我们会尽快支持此功能。

[2021-07-01 02:55] sandyhouse commented on #33855
没起作用是什么意思，调用没有效果？请贴一下相关代码吧，谢谢。

[2021-07-01 03:58] Melon-Zhou opened #33888 "OSError: (External) Cuda error(700), an illegal memory access was encountered exe.run(fetch_var_names, return_merged)._move_to_list()"
- 标题：CNN网络静态图训练过程出现Cuda error(700)
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu-2.1.0.post101
    2）GPU：Tesla V100 ， 16G显存，NVIDIA-SMI 418.67 ， Driver Version: 418.67，CUDA Version: 10.1
  
    3）系统环境
![image](https://user-images.githubusercontent.com/16741165/124062420-4dfd5e80-da63-11eb-8e2a-6921410dd7cd.png)

- 训练信息
    1）单机单卡：复现环境可私聊。
同样的代码，cpu下可以正常运行，gpu则会运行失败。如果当设定了export GLOG_v=4，则gpu也能正常

[2021-07-01 04:17] jeremyevith opened #33889 "nvidia/cuda:11.2.0 container paddlepaddle 報錯"
我先透過以下方式產生Docker映像

[code]

並在映像內安裝 PaddleOCR 以及 PaddlePaddle cuda 11.2 版本

[code]

PaddleOCR進行推理時會報錯

**(PreconditionNotMet) Cannot load cudnn shared library. Cannot invoke method cudnnGetVersion.
  [Hint: cudnn_dso_handle should not be null.] (at /paddle/paddle/fluid/platform/dynload/cudnn.cc:59)**

研究了三天了都還沒解決... 有人可以幫忙的嗎?

[2021-07-01 04:34] Melon-Zhou commented on #33888
![image](https://user-images.githubusercontent.com/16741165/124065045-8ce1e300-da68-11eb-8a11-b3b76b197f7c.png)
![image](https://user-images.githubusercontent.com/16741165/124065086-9a976880-da68-11eb-98f2-210e260bccd4.png)

[2021-07-01 05:33] Melon-Zhou commented on #33888
报错信息中的文档链接：
https://docs.nvidia.com/cuda/archive/10.0/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038

[2021-07-01 05:40] weiluonika commented on #33545
我和你遇到一样的问题了，请问你 解决了吗？

[2021-07-01 05:42] jucaowei commented on #33545
没有

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2021年7月1日(周四) 中午1:41
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] docker镜像中，使用执行paddle.fluid.install_check.run_check()时，出现错误 (#33545)

我和你遇到一样的问题了，请问你 解决了吗？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-01 06:21] LDOUBLEV commented on #33889
看报错是找不到cudnn 库

推荐用Paddle官方镜像
registry.baidubce.com/paddlepaddle/paddle:2.1.0-gpu-cuda11.2-cudnn8

[2021-07-01 06:21] gglin001 opened #33892 "Does Paddle support Ninja for building?"
Error raised when using Ninja as cmake generator. Using make is ok. Is my configuration wrong?

[2021-07-01 06:25] #33732 closed, assigned to juncaipeng

[2021-07-01 06:26] gglin001 commented on #33892
I am using `release/2.1` branch

[2021-07-01 06:27] heavengate commented on #33790
你好，你的数据集用的是哪个数据集呢

[2021-07-01 07:09] shingstone-lu opened #33899 "paddle.optimizer.Adam和paddle.paddle.nn.optimizer.Adam"
paddle版本2.1.0
win10操作系统

看了很多2.1.0的例程，发现我这边没有paddle.optimizer.Adam，只能通过paddle.paddle.nn.optimizer.Adam访问，不知道有什么区别？

[2021-07-01 07:22] holyseven opened #33900 "paddle.jit.load()加载的模型，如何得到中间层的输出"
仿照[代码示例](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/jit/load_cn.html#cn-api-paddle-jit-load)，我用以下代码保存了一个`paddle.jit.save`的模型。

[code]

然后用`paddle.jit.load`加载：

[code]

我想得到加载模型的中间层的输出：

[code]

原模型（`layer`）能访问到，但是jit加载后的模型（`loaded_layer`）就没有了。这个有办法可以解决吗？

[2021-07-01 08:18] hi-bigcat opened #33904 "win10安装paddle2.1.0后无法正常import paddle"

[2021-07-01 08:25] hi-bigcat commented on #33904
环境：64位win10系统，GPU 1060 6G，python3.6.5，CUDA 10.1
安装命令 python -m pip install paddlepaddle-gpu==2.1.0.post101 -f https://paddlepaddle.org.cn/whl/mkl/stable.html
安装过程无异常，安装后import paddle出现以下错误：
from six.moves import collections_abc ImportError cannot import name 'collections_abc'，详细错误信息如下
![paddle_import](https://user-images.githubusercontent.com/46183033/124091697-aeeb5d80-da88-11eb-8e80-02745f73dbe2

[2021-07-01 09:02] sys1874 opened #33907 "assign 操作巨大bug!!!!!!!!!!!!"
paddle版本：paddlepaddle-gpu    2.1.0
问题：使用assign操作后，被赋值的tensor 直接丢失grad!!!!!!
[code]
结果：ori_a的grad = None了。
![image](https://user-images.githubusercontent.com/19858774/124096865-93368600-da8d-11eb-843a-0faf4a5d1ecf.png)

[code]
结果：ori_a 的grad 依然存在。
![image](https://user-images.githubusercontent.com/19858774/124097205-ea3c5b00-da8d-11eb-99c9-6387be2c38b8.png)

请fix！！！！！！！！！！

[2021-07-01 09:27] hi-bigcat commented on #33904
全部重新安装了cuda和cudnn，卸载并重新安装了paddle，升级了pip，six，重启shell后，paddle安装和调试成功，已经解决

[2021-07-01 09:29] jhcgt4869 opened #33908 "自述文件"
![image](https://user-images.githubusercontent.com/61859193/124101146-a51a2800-da91-11eb-8688-aade8ee87ece.png)
关于自述文件不符的内容，自述文件中最新版本2.0,5月就已经发布了2.1，就在1小时前发布了2.1.1.第二5月就已经修改了AIstudio算力模式，为8算力卡，8-16小时模式，但是文章还是处于滞后状态，希望及时修改，你们也辛苦了~~~

[2021-07-01 09:44] QQ39272490 opened #33910 "jetson nano部署CPU推理正常 GPU推理报错"
问题类型：模型部署
问题描述
部署环境：Jetson nano，Jetpack 4.5 python3.6+nv_jetson-cuda10.2-cudnn8-trt7
安装官方提供的库 paddlepaddle_gpu-2.1.0-cp36-cp36m-linux_aarch64.whl
代码步骤如：https://paddleinference.paddlepaddle.org.cn/demo_tutorial/cuda_jetson_demo.html
config.EnableUseGpu(500, 0);
[使用GPU报错，停用GPU正常。报错代码如下图
![QQ图片20210701173757](https://user-images.githubusercontent.com/2766645/124103552-f88d7580-da93-11eb-83f2-53de9313

[2021-07-01 09:48] LDOUBLEV commented on #33899
API本身没有区别，主要是方便管理和维护，optimizer API移动到了统一的目录下，可以放心使用

[2021-07-01 09:51] LDOUBLEV commented on #33910
关闭TensorRT 是否能正常预测，你的模型是哪个

[2021-07-01 09:52] QQ39272490 commented on #33910
用的mobileNetV1 关闭TensorRT也一样

[2021-07-01 09:54] LDOUBLEV commented on #33908
感谢反馈，可以发一下这个文章链接吗

[2021-07-01 09:54] hjZhouGitHub opened #33911 "paddle2.1 detection/seg训练loss一开始就是nan"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.0
    2）GPU：RTX3090
    3）系统环境：centos7.1 / python3.6 / cuda11.2 / cudnn8.1.0

- 训练信息
    1）单机，单卡
- 复现信息：PaddleDetection2.1.0 / PaddleSeg2.1.0等反复出现
- 问题描述：使用PaddleDetection2.1.0 / PaddleSeg2.1.0多个模型（ppyolo/ppyolov2/bisenet）训练时，loss一开始就是nan，此后一直无变化。

ppyolov_tiny:
[07/01 17:29:40] ppdet.engine INFO: Epoch: [0] [  0/200] learning_rate: 0.000000 loss_xy: nan loss_wh

[2021-07-01 09:57] LDOUBLEV commented on #33904
大佬牛皮，问题应该是six版本问题，以后遇到类似问题可以先调整第三方库的版本，这个问题和cuda cudnn关系不大

[2021-07-01 09:57] GT-ZhangAcer commented on #33908
https://github.com/PaddlePaddle/Paddle/blob/develop/README_cn.md

链接应该是这个了 哈哈哈

[2021-07-01 10:36] LDOUBLEV commented on #33911
先按照repo里的教程走一遍，看是否出Nan，发布的模型一般都是经过验证的，不太可能出现那么多模型训练出nan的问题

如果按照repo里的教程运行没问题，再检查下代码修改

[2021-07-01 10:39] jhcgt4869 commented on #33908
https://github.com/PaddlePaddle/Paddle/blob/develop/README_cn.md
这个还要地址有点惊讶，嘎嘎嘎嘎

[2021-07-01 10:48] LDOUBLEV commented on #33892
It is supported to build paddle using Ninja.
Try:
[code]
We will provide documents about build Paddle using Ninja in the future.

[2021-07-01 10:50] zhwesky2010 commented on #33892
please run  ```pip install ninja```    ```cmake .. -GNinja```    ```ninja``` ,
and now Linux system may have bug, Windows system must be fine.
If there is a bug on linux, we will fixed it later.

[2021-07-01 10:51] LDOUBLEV commented on #33908
好的，收到

[2021-07-01 11:01] LDOUBLEV commented on #33907
感谢反馈，问题已复现，会尽快修复

[2021-07-01 11:04] LDOUBLEV commented on #33900
jit.save保存模型时，会对模型做一些优化，比如OP融合等，保存的模型结构是固化后的网络结构，无法获得中间层的输出；
如果要获得中间层的输入，建议原模型输出中间层特征，重新导出模型，保证jit.save后的模型的输出名字，这样才能获得中间层输出

[2021-07-01 12:09] xiegegege opened #33918 "MKLDNN error for ppyolov2 model"
Paddle Test Environment
****************************************
Paddle version: 0.0.0
Paddle With CUDA: True

OS: Ubuntu 16.04
Python version: 3.7.0

CUDA version: 10.1.243
cuDNN version: 7.6
Nvidia driver version: None
CPU: Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz
****************************************

install paddle develop (commit id:1e62c239d323354eccfc974d4e2e6496f93d848e)
[code]

<img wi

[2021-07-01 12:15] shingstone-lu commented on #33899
paddle版本什么的也都一致，为什么我这边不能通过paddle直接访问到optimizer呢，是有什么专门的设置吗？

[2021-07-01 12:20] LDOUBLEV commented on #33899
我这边测试 paddle2.1.0 可以直接找到paddle.optimizer，你重新安装paddle 试下，或者检查下paddle版本
![image](https://user-images.githubusercontent.com/26592129/124123174-8fb0f800-daa9-11eb-892e-efbe7b967658.png)

[2021-07-01 12:27] shingstone-lu commented on #33899
![捕获](https://user-images.githubusercontent.com/84372742/124124016-85432e00-daaa-11eb-80ff-03d4b62b119c.PNG)
我使用命令行也可以向你展示的一样。平常编辑代码我使用的是VS Code，可能是VS Code的原因吧。
非常感谢您的回复。

[2021-07-01 12:32] LDOUBLEV commented on #33910
我在Nano上测试了一下，可以运行GPU版本的预测

Nano 环境：
![image](https://user-images.githubusercontent.com/26592129/124124695-57aab480-daab-11eb-9b5f-b0e2f6f68d72.png)

使用的模型是：
[MobileNetV1_infer.tar.zip](https://github.com/PaddlePaddle/Paddle/files/6748060/MobileNetV1_infer.tar.zip)

执行预测的逻辑是：python3 infer.py --model_file ./MobileNetV1_infer/inference.pdmodel  --params_file ./MobileNetV1_infer/inference.pdiparams
代码

[2021-07-01 12:33] LDOUBLEV commented on #33910
[MobileNetV1_infer.tar.zip](https://github.com/PaddlePaddle/Paddle/files/6748060/MobileNetV1_infer.tar.zip)

[2021-07-01 13:01] sys1874 commented on #33907
同学，这个bug 导致这个assign op之前的所有模型的参数的grad全没了。  :)

[2021-07-01 13:28] hjZhouGitHub commented on #33911
运行paddleseg的quick start还是一样，啥也没改。
请问什么样的情况会导致这样的问题呢？还有什么尝试手段吗？谢谢

[2021-07-01 13:44] jeremyevith commented on #33889
我是用nvidia官方的，cudnn是有安裝的但Paddle找不到

https://gitlab.com/nvidia/container-images/cuda/blob/master/dist/11.2.0/ubuntu20.04-x86_64/runtime/cudnn8/Dockerfile

[2021-07-01 13:49] LDOUBLEV commented on #33911
稍等，我找Seg的同学帮忙排查下

[2021-07-01 13:53] LDOUBLEV commented on #33889
设置下CUDNN的环境变量，paddle的docker，cudnn默认安装在
/usr/lib/x86_64-linux-gnu/

可以对比下你cudnn的安装目录，

[2021-07-01 14:42] gglin001 commented on #33892
thanks for replying!

but I still can't successfully build using Ninja

following

I got error

[code]

after replacing `$` with `$$` in `build/build.ninja`

start to build

got error

[code]

I tested under a docker environment

[code]

[2021-07-01 14:45] gglin001 commented on #33892
I also test ninja under a Mac, still got error like

[2021-07-02 00:50] #33899 closed, assigned to LDOUBLEV

[2021-07-02 01:39] QQ39272490 commented on #33910
我手中版本是nano 2G版本，运行至这个地方一直没动静了
![image](https://user-images.githubusercontent.com/2766645/124207900-0802d200-db19-11eb-8728-59d44e1a9f87.png)

[2021-07-02 01:40] QQ39272490 commented on #33910
![image](https://user-images.githubusercontent.com/2766645/124208106-76e02b00-db19-11eb-9c78-025c11cace19.png)

[2021-07-02 01:41] QQ39272490 commented on #33910
![image](https://user-images.githubusercontent.com/2766645/124208182-9c6d3480-db19-11eb-8490-8491904b0782.png)

[2021-07-02 02:00] LDOUBLEV commented on #33910
你关闭TRT预测吧，把这一行屏蔽掉

[code]

[2021-07-02 02:10] QQ39272490 commented on #33910
![QQ图片20210701173629](https://user-images.githubusercontent.com/2766645/124210246-ab55e600-db1d-11eb-883f-2a3f52f45ee2.png)
还是一样没动静。。。

[2021-07-02 03:02] weixing19 opened #33925 "WITH_GPU编译后的paddle_inference.dll文件过大，并且开启GPU时不能识别出图片中的文字"
运行summary_env.py获取到环境信息如下：
****************************************
Paddle version: 2.1.0
Paddle With CUDA: False   实际我在CMakeUI中已设置WITH_CUDA

OS: Windows 10
Python version: 3.7.9

CUDA version: 11.0.194
Build cuda_11.0_bu.relgpu_drvr445TC445_37.28540450_0
cuDNN version: None.None.None
Nvidia driver version: None
****************************************
机器为MSI GE602QE笔记本，CPUi7-4720HQ 、内存16G、显卡GTX96

[2021-07-02 03:36] xliu79 opened #33926 "部署python端infer 推断时候显示out of memory"
分割任务中:
部署python端infer 推断时测试了三张图片 ，其中有一张显示out of memory

Paddle 2.0.0 版本

![1](https://user-images.githubusercontent.com/31554245/124216692-646ded80-db29-11eb-9e38-cd70655def6f.png)
驱动信息：
![image](https://user-images.githubusercontent.com/31554245/124216774-8c5d5100-db29-11eb-94d6-68bab0d209f3.png)
相关代码:

![image](https://user-images.githubusercontent.com/31554245/124216852-b747a500-db29-11eb-939a-

[2021-07-02 03:39] wangye707 commented on #33926
@xliu79 麻烦提供一下图片

[2021-07-02 03:45] xliu79 commented on #33926
链接：https://pan.baidu.com/s/1wcoqld7qNHG5DDXr-gwORg
提取码：0b7v
放网盘了

[2021-07-02 03:55] xliu79 commented on #33926
链接：https://pan.baidu.com/s/110Yy8s4AfvlqnmAev8yAvQ
提取码：kjjz
模型地址

[2021-07-02 04:39] QQ39272490 commented on #33910
关闭GPU就正常了

[2021-07-02 04:40] QQ39272490 commented on #33910
![image](https://user-images.githubusercontent.com/2766645/124221602-abacac00-db32-11eb-8b33-d9862b224a91.png)

[2021-07-02 05:15] LDOUBLEV commented on #33910
测试其他模型是否能GPU预测，如果也不行，那应该是环境问题，可以尝试
- 检查cuda、cudnn是否都安装好了
- 更换其他paddle版本

[2021-07-02 05:22] #33908 closed, assigned to LDOUBLEV

[2021-07-02 05:50] gongweibao commented on #33791
感谢指出，我们尽快修正
谢谢！

[2021-07-02 05:58] #33270 closed, assigned to joey12300

[2021-07-02 06:03] h3clikejava opened #33930 "训练完的分割模型无法实现预测，执行指令报错"
- 标题：训练完的分割模型无法实现预测，执行指令报错
- 版本、环境信息：
    1）PaddlePaddle版本：2.1
    2）CPU：Apple M1
    3）GPU：无
    4）系统环境：MacOS 11.2.3 (20D91) python3.6

-预测信息
执行PaddleSeg/legacy/deploy/python/infer.py

[code]

yaml如下

[code]

模型来源:
https://aistudio.baidu.com/aistudio/projectdetail/1217054

执行后报错：

Traceback (most recent call last):
  File "infer.py", line 324, in <module>
    run(gflags.FLAGS.conf, gflags.FLAGS.i

[2021-07-02 06:04] XieYunshen commented on #33540
是不是在镜像中装的cuda10.2的包呢？换成`python -m pip install paddlepaddle-gpu==2.1.1.post101 -f https://paddlepaddle.org.cn/whl/mkl/stable.html`试试？

[2021-07-02 06:14] QQ39272490 commented on #33910
![image](https://user-images.githubusercontent.com/2766645/124228939-7bb7d580-db3f-11eb-8fff-d56edd2c39c5.png)
![image](https://user-images.githubusercontent.com/2766645/124229023-92f6c300-db3f-11eb-90d0-e87bcfb83413.png)
cuda cudnn 都没问题
paddle发布了2.1.1在哪可下载适合的whl库文件？

[2021-07-02 07:07] LutaoChu commented on #33911
一开始就出现nan还是后来出现的？可否给一下完整的日志
你可以尝试一下搜索网络的输入、输出、loss看有没有nan，以及最先是什么时候在那里出现nan的？

[2021-07-02 07:18] hjZhouGitHub commented on #33911
paddleseg：python train.py        --config configs/quick_start/bisenet_optic_disc_512x512_1k.yml        --do_eval        --use_vdl        --save_interval 500        --save_dir output  完整日志

which: no nvcc in (/data/miniconda3/envs/py3.6/bin:/data/miniconda3/condabin:/root/.jupyter/jupyter_notebook_config.py:/data/miniconda3/condabin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/root/bin:/root/

[2021-07-02 07:28] hjZhouGitHub commented on #33911
问题应该找到了，是输入的问题，但我不太清楚为什么图片输入会变成这样，请问有先例嘛？
输入如下
[[[[-1., -1., -1., ..., -1., -1., -1.],
          [-1., -1., -1., ..., -1., -1., -1.],
          [-1., -1., -1., ..., -1., -1., -1.],
          ...,
          [-1., -1., -1., ..., -1., -1., -1.],
          [-1., -1., -1., ..., -1., -1., -1.],
          [-1., -1., -1., ..., -1., -1., -1.]],

         [[-1., -1., -1., ..., -1., -1., -1.],
          [-1.

[2021-07-02 07:57] LDOUBLEV commented on #33910
下载链接：
预测库：
https://paddle-inference-lib.bj.bcebos.com/2.1.1-nv-jetson-jetpack4.4-nano/paddle_inference_install_dir.tgz
whl包
https://paddle-inference-lib.bj.bcebos.com/2.1.1-nv-jetson-jetpack4.4-nano/paddlepaddle_gpu-2.1.1-cp36-cp36m-linux_aarch64.whl

[2021-07-02 07:59] QQ39272490 commented on #33910
我看到桌面出现System throttled due to over-current，会不会是过流受限制了？

[2021-07-02 08:00] LDOUBLEV commented on #33888
排查发现和环境有关系，可能和环境缺少一些依赖库有关系，测试发现在cuda10.2 + cudnn7.6 + paddle2.1上可以正常运行

[2021-07-02 08:15] hjZhouGitHub commented on #33911
是**一开始就出现nan**，完整日志如下：
**Paddle Detection:**
python tools/train.py -c configs/ppyolo/ppyolov2_r50vd_dcn_365e_coco.yml --eval
W0702 15:57:53.354641 28819 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.3, Runtime API Version: 11.2
W0702 15:57:53.358647 28819 device_context.cc:422] device: 0, cuDNN Version: 8.1.
loading annotations into memory...
Do

[2021-07-02 09:34] yuandanfei opened #33939 "使用paddle.jit.save时，报错~/anaconda3/lib/python3.7/site-packages/gast/gast.py"
   1）PaddlePaddle版本：2.0.2
    3）GPU：1060，CUDA：10.1和CUDNN：7.6.5
    4）系统环境：Ubuntu18.04、Python3.7
1.使用python -m pip install paddlepaddle-gpu==2.0.2.post101 -f https://paddlepaddle.org.cn/whl/mkl/stable.html时，提示
[code]
2.在使用paddle.jit.save时，报错~/anaconda3/lib/python3.7/site-packages/gast/gast.py，AssertionError: Bad argument number for Assign: 2, expecting 3

3.卸载gast 0.5.0，然后安装gast 0.3.3后恢复paddle.jit.

[2021-07-02 09:37] lonelydancer opened #33940 "paddle serving 构造输入如果有lod变量，应该如何构造。"
背景是plato model，如下：
https://github.com/PaddlePaddle/Serving/issues/1202

其中有几个输入是lod tensor，比如tgt_pos、init_score。
我想咨询的是，构造这个输入的时候，直接用np.array还是要构造一个tgt_pos.lod的东西。跟以下例子类似。
https://hub.fastgit.org/PaddlePaddle/Serving/blob/05373909e109a38f37b3654e8872b2791c80b0be/python/examples/lac/lac_client.py

[2021-07-02 09:50] wangxicoding commented on #33939
感谢反馈，这个问题在最新的develop已经修复了，见PR: https://github.com/PaddlePaddle/Paddle/pull/33850

[2021-07-02 09:52] bjjwwang commented on #33940
可以在训练那一测看一下有没有lod，如果有的话 是需要组件 lod的， 列表就可以

[2021-07-02 10:19] lonelydancer commented on #33940
训练测是有lod的

[2021-07-02 10:19] bjjwwang commented on #33940
可以直接搬过来

[2021-07-02 14:33] zchengquan opened #33943 "ctc_greedy_decoder输入为tensor模式训练报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    3）GPU：CUDA 10.2, cundnn 7.6
    4）系统环境：Linux python 3.7

- 训练信息
    1）单机单卡
    2）12G
    3）Operator信息

- 复现信息：
采用fluid.layer.ctc_greedy_decoder的tensor输入模式，模型能够顺利setup，但是只要开始run就会爆异常；若改为lodtensor的输入方式则是顺利的，现在业务需要tensor模式的输入。

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
code配置：
161         predict_pad = fluid.layers.ctc_greedy_decoder(input=decoder_feats, blank=self

[2021-07-02 14:48] jeremyevith commented on #33889
ln -s /usr/lib/x86_64-linux-gnu/libcudnn.so.8 libcudnn.so
ln -s /usr/local/cuda-11.2/targets/x86_64-linux/lib/libcublas.so.11 libcublas.so
ln -s /usr/local/cuda-11.2/targets/x86_64-linux/lib/libcusolver.so.11 libcusolver.so

添加這三行解決了 謝謝

[2021-07-02 15:20] hjZhouGitHub commented on #33911
我详细看了下，应该还是输入的问题，输入data有nan值，但是paddle seg用的是官方示例的OpticDiscSeg数据集，我用opencv读取了图片，也没有问题
数据集读取也是默认的，参数如下：
train_dataset:
  type: OpticDiscSeg
  dataset_root: data/optic_disc_seg
  transforms:
    - type: Resize
      target_size: [512, 512]
    - type: RandomHorizontalFlip
    - type: Normalize
  mode: train

我各去掉Resize、RandomHorizontalFlip、Normalize其中一个，还是发现data有nan值，请问是什么原因呢？我看不了paddle seg读取数据以及数据处理

[2021-07-03 06:04] PhilCuriosity commented on #33807
在 `~/.bashrc`文件中加入了：`export CUDA_VISIBLE_DEVICES=0 和 export OPENBLAS_CORETYPE=ARMV8`

[2021-07-03 11:36] rancheng commented on #32187
装好了之后试试重启一下kernel

[2021-07-03 11:47] shengkelong opened #33947 "如何实现pytorch 中的fold"
在复现模型的时候遇到torch.nn.functional.fold函数不知道在paddle中如何实现

[2021-07-03 11:55] Yelin1506 commented on #33787
那个已经解决了，我想问一下怎么查看训练的具体结果而不是准确率呢？

[2021-07-03 12:09] q178 commented on #33495
mt中引入预训练bert，为什么需要的是.pdparams文件，而我下载到的中文bert根本没有，是接口问题吗？

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: ceci3 ***@***.***&gt;
发送时间: 2021年6月10日 16:14
收件人: PaddlePaddle/Paddle ***@***.***&gt;
抄送: q178 ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/Paddle] 最新预测库的API文档 (#33495)

https://paddle-inference.readthedocs.io/en/latest/index.html 预测库文档在这里~

—
You are receiving this

[2021-07-04 02:19] lonelydancer commented on #33940
https://hub.fastgit.org/PaddlePaddle/Serving/blob/05373909e109a38f37b3654e8872b2791c80b0be/python/examples/lac/lac_client.py
这个我是看不到训练代码的，我只能从下载的model生成的client的config看出来inference的输入是有lod的。

而我在处理的问题，plato的代码，只是在训练的时候定义了几个feed是LOD类型的。目前我在serving的输入的feed_dict补充了几个.lod的变量，不知道这个方向对不对。

目前报这个错误。
![image](https://user-images.githubusercontent.com/548443/124371136-737fa780-dcb1-11eb-8d22-9e067218156c.png

[2021-07-04 06:10] lonelydancer commented on #33940
![image](https://user-images.githubusercontent.com/548443/124374894-6bcffb00-dcd1-11eb-8085-d273157be9e6.png)
训练端的lod 是level-2的，我看文档中说serving只支持lod是level-1的。是不是意味着这个问题暂时无解了。
或者说plato实现就不能用level-2的LOD了。

[2021-07-04 07:41] SevenPLF opened #33950 "optim优化器模型，提高优化效率"
在优化器Adam的基础上，做出修改。可以提升优化效率。

参数更新公式 W = W + lr * g。其中lr学习率是人工设定的。在一些新建模型中lr的设定直接影响到了模型训练效率。lr过大会使模型训练结果发散，lr过小又会使模型训练速度过慢。 通过每次梯度更新时，引入loss。由自动化控制理论中的PID调节法，对lr实现动态调整，能使模型训练速度加快。
该方法通过传入的loss，对lr进行评判，从而增加或者减少本次梯度更新的参数。同g共同作用。

![lr-0_001](https://user-images.githubusercontent.com/50135313/124377385-4695b980-dcde-11eb-891a-321114d0a938.png)

[2021-07-04 08:59] LDOUBLEV commented on #33892
It is supported that build paddle using cmake.  The way ninja compiles paddle is still in the testing phase.
We will support the use of ninja to compile paddle soonly.

[2021-07-04 09:01] LDOUBLEV commented on #33910
没有限制的，检查下网络吧

[2021-07-04 12:59] paniclp opened #33952 "fluid的基础命令run运行出错"
import paddle.fluid as fluid
import numpy as np
# 定义两个张量的常量x1和x2
# 定义两个张量
x1 = fluid.layers.fill_constant(shape=[1], value=1, dtype='int64')
x2 = fluid.layers.fill_constant(shape=[1], value=1, dtype='int64')

# 接着定义一个操作，该计算是将上面两个张量进行加法计算，并返回一个求和的算子。PaddlePaddle提供了大量的操作，比如加减乘除、三角函数等，读者可以在fluid.layers找到。
# 将两个张量求和
y1 = x1+x2

# 然后创建一个解释器，可以在这里指定计算使用CPU或GPU。
# 当使用CPUPlace()时使用的是CPU，
# 如果是CUDAPlace()使

[2021-07-04 14:32] QQ39272490 commented on #33910
网络肯定是没有问题，我烧了4.4没出现System throttled due to over-current，也下载了2.0的paddle-gpu版本，还是一样的问题，没有解决

[2021-07-04 14:34] QQ39272490 commented on #31767
楼上的你的问题解决了吗？我也一直卡在这里用不了GPU

[2021-07-04 14:37] wangye707 commented on #31767
@Irvingao @QQ39272490 最新的V2.1.1版本已经修复了此问题。

[2021-07-04 14:40] QQ39272490 commented on #30064
楼上的你们的问题解决了吗？

[2021-07-04 14:57] pangyoki commented on #33952
你好，请问你用的paddle版本是什么？
看报错，是因为你用的是动态图环境，但是运行的代码是静态图的执行方式。
paddle 2.0以后默认使用动态图，如果你想使用静态图功能，可以使用`paddle.enable_static()`切换到静态图模式。
（by the way，paddle.fluid是paddle 1.x版本使用的方法，paddle 2.0以后不推荐用fluid下的方法了）

[2021-07-05 01:02] QQ39272490 commented on #31767
@Irvingao 方便加你个QQ或微信吗？

[2021-07-05 01:08] QQ39272490 commented on #31767
@wangye707 有试过mobileNet吗？我用的MobileNewV1跟你以上的情况一样
https://github.com/PaddlePaddle/Paddle/issues/33910

[2021-07-05 01:53] LDOUBLEV commented on #33910
https://paddle-inference-lib.bj.bcebos.com/2.1.1-nv-jetson-jetpack4.4-nano/paddlepaddle_gpu-2.1.1-cp36-cp36m-linux_aarch64.whl

尝试下提供的这个paddle  whl包，我的机器上测试是可以的。

[2021-07-05 01:56] QQ39272490 commented on #33910
@LDOUBLEV 方便加个微信或QQ吗？我是nano 2G版本，你是测试的哪种模型呢？

[2021-07-05 02:17] gglin001 commented on #33892
还有一个 build 相关的问题, 在构建 debug 项目时, 有一些库 linking 很慢(rebuild 时也会消耗很多时间), 请问有什么办法改进吗? 我注意到 cmake 函数 [`cc_library`](https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/generic.cmake#L296) 默认是创建静态库, 改成默认动态库会遇到一些错误, 请问有对动态库的支持计划吗?

[2021-07-05 02:34] Aurelius84 commented on #33856
使用 1.8.5 版本试下呢？

[2021-07-05 02:39] Thewindrisers commented on #33856
您好老师 请问目前1.8.5支持paddlefl吗，之前我在paddlefl那边的 issue里好像表示只支持1.8.0

[2021-07-05 02:48] pangyoki commented on #33950
你好，请问是希望paddle提供的Adam API实现这种PID方法吗？能提供相关的论文链接吗？

[2021-07-05 02:58] wangye707 commented on #31767
@QQ39272490  我这边复现了一下，MobileNetV1、MobileNetV2、MobileNetV3系列均可以正常推理。jetson nano因为性能原因，可能需要swap内存。我这边swap了10G，官网链接：https://paddleinference.paddlepaddle.org.cn/user_guides/source_compile.html
![image](https://user-images.githubusercontent.com/39162106/124411756-bb6d0000-dd7f-11eb-985c-8c3043185d18.png)

[2021-07-05 03:01] QQ39272490 commented on #31767
@wangye707 感谢解答，可能是内存原因，一执行GPU我的GUI界面就提示内存低。

[2021-07-05 03:01] QQ39272490 commented on #31767
我用的是nano 2G 版本

[2021-07-05 03:12] wangye707 commented on #33910
https://github.com/PaddlePaddle/Paddle/issues/31767

[2021-07-05 03:13] wangye707 commented on #33910
这里回复了问题，https://github.com/PaddlePaddle/Paddle/issues/31767

[2021-07-05 03:14] QQ39272490 commented on #33910
@wangye707 方便回你个QQ吗？

[2021-07-05 03:54] Aurelius84 commented on #33856
这个我不是确定 PaddleFL的依赖，我去其仓库看了下，是推荐在docker里使用的，可以用 pip list | grep paddle 看下版本。

另外，我查了一下，如果你是在docker 容器里使用的，可能和你创建容器的选项有关系：
[code]
可以加上 `-privileged=true`

如不是，可以尝试：

Adding options nvidia "NVreg_RestrictProfilingToAdminUsers=0" to /etc/modprobe.d/nvidia-kernel-common.conf
and reboot should resolve the permision issue.

[2021-07-05 04:11] camelliasummer opened #33956 "验证paddle-GPU安装是否成功，输入paddle.utils.run_check()时，长时间无结果返回，求解！！"
**问题描述：**
        在系统是ubuntu16.04的电脑上安装paddle-2.1 gpu版本时，在命令行输入paddle.utils.run_check(）验证时，除了出现一些如cuda10.2这样的版本外，基于没有别的东西了，一天都不会出来success这样的字样，也不报错，求解答呀，命令行如下：

Running verify PaddlePaddle program ...
W0705 11:57:56.118161  1936 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 10.2, Runtime API Version: 10.2
W0705 11:57:56.120558  1936 device_context.

[2021-07-05 04:28] zhwesky2010 commented on #33854
@shingstone-lu 需要的都是Runtime的版本，Driver的版本不用管。看来可能是显存的问题

[2021-07-05 04:29] zhwesky2010 commented on #33892
@gglin001 ninja编译在Windows上支持，Linux、Mac还未支持。

[2021-07-05 06:01] Thewindrisers commented on #33856
您好老师！我刚刚装了个1.8.5的环境，应该无法支持paddlefl，我是直接装在实体机上的，通过查看您给的目录/etc/modprobe.d/，发现没有找到nvidia-kernel-common.conf文件，请问是修改下图中的某个文件吗
![图片](https://user-images.githubusercontent.com/50702353/124424369-7fdf2f80-dd99-11eb-907b-249f2d3ee69c.png)

[2021-07-05 06:27] pangyoki commented on #33956
你好，麻烦使用 “GLOG_v=10 python” 执行，看看运行日志有没有信息。

不使用run_check检测安装，在单卡上跑个简单的网络，或者在GPU上创建个变量可以成功吗？

[2021-07-05 07:32] Aurelius84 commented on #33856
没有的话，可能不是这个原因，因为你之前是可以跑的。你确认下 `LD_LIBRARY_PATH`环境变量是否设置正确。

如下是我在谷歌上看到的其他解决办法，你可以尝试下：

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda-10.1/extras/CUPTI/lib64 to ~/.bashrc

你可以google `failed with error CUPTI_ERROR_INSUFFICIENT_PRIVILEGES` 在其他github repo中找到上述类似解答。

[2021-07-05 07:35] zhiqiu commented on #33676
推测与eval阶段没有使用no_grad有关，我找相关同学check下模型代码写法。

[2021-07-05 07:45] btobab commented on #33676
好的，谢谢哥哥

[2021-07-05 07:47] camelliasummer commented on #33956
**import   paddle 出现的log如下：**

WARNING: Logging before InitGoogleLogging() is written to STDERR
I0705 15:34:54.543409  5247 pybind.cc:443] conditional_block has no kernels, skip
I0705 15:34:54.543469  5247 pybind.cc:443] while has no kernels, skip
I0705 15:34:54.543538  5247 pybind.cc:443] recurrent has no kernels, skip
I0705 15:34:54.543572  5247 pybind.cc:443] py_func has no kernels, skip
I0705

[2021-07-05 07:47] #33939 closed, assigned to wangxicoding

[2021-07-05 08:02] Thewindrisers commented on #33856
谢谢老师解答！我用了您的方法好像还是不太行，个人感觉还是paddle版本的问题，1.8.5完全没有问题，1.8.0一直不行，我在多台新机器上都重装了环境测试过了，除了windows10上的1.8.0环境还能跑之外，所有的ubuntu环境都变成了这个错误。

[2021-07-05 08:04] eadst opened #33965 "如何打印inference网络结构?"
请问如何打印inference的网络结构?

[2021-07-05 08:45] 670133189 opened #33967 "请教关于paddle版的YOLOv3+DarkNet53训练后的误识别：比如将黄色系的东西识别成火苗。请教如何解决？"
3千张火苗训练图，400张验证图，1000张其它黄色系图（用于检验误识别），epoch=50，batch_size=8，learning rate=0.0001，最终loss约等于2。
请教如何解决？

[2021-07-05 08:46] pangyoki commented on #33956
看log的最后 Tracer 里用的是CPUPlace，一般GPU可用的情况应该显示CUDAPlace。

执行run_check的log可以看下吗？

[2021-07-05 08:52] zhiqiu commented on #33676
看了下，这个模型是你在AIstudio写的吗？

[2021-07-05 08:53] btobab commented on #33676
是的

[2021-07-05 09:07] LDOUBLEV commented on #33943
输入为tensor的时候，可以把输入的长度信息给input_length参数，
参考文档中：
https://www.paddlepaddle.org.cn/documentation/docs/en/1.8/api/layers/ctc_greedy_decoder.html

![image](https://user-images.githubusercontent.com/26592129/124446867-677c0e80-ddb3-11eb-8d2f-7b15f718ff87.png)

[2021-07-05 09:17] zhiqiu commented on #33676
你可以试下将eval阶段的代码单独拿出来，然后在eval中除了设置model.eval()外，再加上no_grad()：

<img width="664" alt="6c2244e3698c8162ae9b9d776f976957" src="https://user-images.githubusercontent.com/6888866/124448248-ce4df780-ddb4-11eb-9514-9863c91c780f.png">

[2021-07-05 09:18] wanghuancoder commented on #33967
你好，您的这个问题请到PaddleDetection repo下的issue中提问吧~https://github.com/PaddlePaddle/PaddleDetection/issues

[2021-07-05 09:18] #33967 closed, assigned to wanghuancoder

[2021-07-05 09:19] Aurelius84 commented on #33856
这个好奇怪，感觉是哪些环境的问题。从最初你描述说“然而今天之前我从未出现该错误，一直是可以跑的”，你可以根据这个线索看下是哪里环境有变更。

[2021-07-05 09:21] btobab commented on #33676
好的，我试一下

[2021-07-05 11:55] zchengquan commented on #33943
点赞，尝试了下能work了，tensor模式下的length信息是必须配套使用的！

[2021-07-05 11:55] #33943 closed, assigned to wangxicoding, LDOUBLEV

[2021-07-05 11:58] b3602sss commented on #33965
inference没有提供这种接口，请使用训练相关的接口。可视化的话可以使用visualdl 或则netron

[2021-07-05 12:12] loujie0822 opened #33971 "paddle2.0+ 如何修改参数值，例如 torch中是通过 param.data 改变"
paddle2.0+ 如何修改参数值，例如 torch中是通过 param.data 改变

[2021-07-05 12:31] zhwesky2010 commented on #33971
@loujie0822 如果想inplace改变该Tensor的值，可以通过切片进行，例如  ```x=paddle.to_tensor(1.)``` 、```x[:]=2.``` 可以改变Tensor的值

[2021-07-05 12:36] loujie0822 commented on #33971
不是，现在是想尝试对抗训练，参数类型是ParamBase，如何改变这个ParamBase的值呢？但它的梯度grad仍然不变。

[2021-07-05 12:43] loujie0822 commented on #33971
@zhouwei25 还有，ParamBase值和梯度能不能改变呢？怎么改变？

[2021-07-05 13:10] wofeichangaiwoai opened #33972 "如何对静态图Tensor进行切片"
想要对logits进行切片操作，但是说logits是lod_Tensor，于是把lod_Tensor转成Tensor，报错
AttributeError: 'Variable' object has no attribute 'lod()'，怎么解决？或者说怎么对logits进行切片操作获取奇数列和偶数列？

代码如下：

        def LodTensor_to_Tensor(logits):
            # 获取 LoD-Tensor 的 lod 信息
            lod = logits.lod()
            # 转换成 array
            array = np.array(logits)
            new_array = []
            # 依照原LoD-Tensor的层级信息，转换成Tens

[2021-07-05 13:23] JZ-LIANG commented on #33947
paddle 目前只有 unfold op 没有对应 的flod op, 可以在issue 上提需求
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/Unfold_cn.html#unfold

[2021-07-05 13:24] zhwesky2010 commented on #33971
ParamBase就是Tensor，可训练的Tensor，继承了Tensor所有方法。你可以试试 可能有报错

[2021-07-05 14:02] loujie0822 commented on #32317
这个问题还是没有解决，执行param.add(x)后，ParamBase的参数并没有改变

[2021-07-05 14:09] loujie0822 commented on #33971
那这就涉及到一个很现实的问题，在做对抗训练时需要改变参数的值或者grad。可训练的参数无法进行inplace操作，唯一的办法就是到ernie内部去改变，而ernie内部已经封装好了，改动十分麻烦。

对抗训练需要能够改变参数值或grad，这种功能在torch中很常见，就是用param.data进行。
希望paddle能够实现该功能，类似的issue已经提了很多了：

- https://github.com/PaddlePaddle/Paddle/issues/32500
- https://github.com/PaddlePaddle/Paddle/issues/32317
- https://github.com/PaddlePaddle/Paddle/issues/27032

[2021-07-05 15:03] gaogaoxingxing2010 opened #33974 "chinese_ocr_db_crnn_server需要连网吗？"
chinese_ocr_db_crnn_server运行报错如附件图片，目前我是离线状态下，不可上网，是否可用呢？一定需要联网吗？
![IMG_20210705_200615](https://user-images.githubusercontent.com/62227361/124490822-269ced80-dde5-11eb-8464-db8d55a756ef.jpg)

[2021-07-05 15:10] 827346462 opened #33975 "安装paddle出现问题"
ubuntu18.04安装paddle=2.1.0 cpu版本

![QQ图片20210705230745](https://user-images.githubusercontent.com/50097546/124491614-0de10780-dde6-11eb-9c20-1b03dfb17d12.png)
出现

[2021-07-05 15:10] 827346462 commented on #33975
按照解决方法操作没效果

[2021-07-05 18:05] eadst commented on #33965
谢谢！

[2021-07-05 18:05] #33965 closed, assigned to wanghuancoder

[2021-07-06 01:28] wanghuancoder commented on #33974
您好！OCR的问题可以直接到PaddleOCR repo 的issue中提问。
https://github.com/PaddlePaddle/PaddleOCR/issues

[2021-07-06 02:18] 827346462 opened #33979 "ubuntu18.0.4 安装错误"
   1）PaddlePaddle版本：2.1.0 cpu版本
    2）CPU：

    4）系统环境：ubuntu 18.04  64位
- 安装方式信息：
anconda 安装     
![QQ图片20210706101717](https://user-images.githubusercontent.com/50097546/124532548-5c70bf00-de43-11eb-8bbc-359d7feb812f.png)
 通过下图命令再次安装
![QQ图片20210706101803](https://user-images.githubusercontent.com/50097546/124532622-80340500-de43-11eb-96eb-adb983cb848b.png)
问题还是没有解决

[2021-07-06 02:35] Qdriving commented on #33517
hello，hello

[2021-07-06 03:14] #24332 closed, assigned to MrChengmo

[2021-07-06 03:14] #24878 closed, assigned to phlrain

[2021-07-06 03:14] #25166 closed, assigned to nobody

[2021-07-06 03:14] #25203 closed, assigned to nobody

[2021-07-06 03:14] #25210 closed

[2021-07-06 03:14] #25275 closed, assigned to nobody

[2021-07-06 03:14] #25299 closed, assigned to nobody

[2021-07-06 03:14] #25303 closed, assigned to nobody

[2021-07-06 03:14] #25353 closed, assigned to nobody

[2021-07-06 03:14] #25362 closed, assigned to nobody

[2021-07-06 03:14] #25377 closed, assigned to nobody

[2021-07-06 03:31] pangyoki commented on #33975
你好，麻烦确认下重装noavx paddle时，下载链接里显示的是noavx的包。避免安装的仍然是avx的包。

可以尝试添加`--no-index`试试，例如`python -m pip install --force-reinstall paddlepaddle==2.1.1 -f https://www.paddlepaddle.org.cn/whl/mkl/stable/noavx.html --no-index`

[2021-07-06 05:24] SevenPLF commented on #33950
我是自动化专业的，PID调节是自动化领域中对稳态调节的常用的方法，对于不同系统的扰动，通过系统的比例、积分、微分环节的调节，来使得系统快速达到稳态。   我把PID的离散模式应用到了训练的调节器，对学习率使用PID做出评定。在回归方面的预测结果表现的不错。 但是我没有具体的论文。
`
    pidd = LR * 7.07
    pidi = 0.04 / LR
    opt_PID = torch.optim.PID(net_PID.parameters(), k=LR, pidd=pidd, pidi=pidi, piddFlag=True, pidiFlag=True)

    def __init__(self, params, rate_decay=0.01, pidd=0, pidi=0.0, piddFlag=False, pidiFlag=False, k = 0.

[2021-07-06 06:31] pangyoki commented on #33975
如果安装paddle时遇到依赖包报错的问题，可以自己手动安装依赖包，安装命令中加上`--no-deps`。
例如 `python -m pip install --force-reinstall paddlepaddle==2.1.1 -f https://www.paddlepaddle.org.cn/whl/mkl/stable/noavx.html --no-index --no-deps`

[2021-07-06 06:55] SevenPLF commented on #33950
因为是刚开始学习深度学习方面的内容，所以自己手里能验证的模型不多，也没有太多的资源验证。 目前发现在损失函数是MSELoss的回归任务中表现不错。但是限于资源有限，所以想在这里提出自己的想法，希望大家一起来看看。

我做这个是对学习率做出评价。所以不只是adam。对于其他的优化器也应该有提升效率。

[2021-07-06 07:23] #33900 closed, assigned to LDOUBLEV

[2021-07-06 07:43] GuoQuanhao opened #33988 "数据集读取API傻傻搞不清"
[code]
[code]
其中train_dataset是Paddle.io.Dataset，前两行都能正确运行，且可以从中所以数据，第三行就报错了，我难以从文档中的信息获取如何组合使用这几个API

[2021-07-06 08:04] TeslaZhao commented on #33979
您好，先卸载paddlepaddle

再下载whl包安装
https://www.paddlepaddle.org.cn/documentation/docs/en/install/Tables_en.html#multi-version-whl-package-list-release

![image](https://user-images.githubusercontent.com/6309021/124564573-c7d28500-de73-11eb-8006-ecdee9cbb8fa.png)

[2021-07-06 08:14] TeslaZhao commented on #33988
您好，RandomSampler中未对train_dataset类型做强制检查，而DataLoader中做了强制检查。因此，建议您需要check一下train_dataset类型和名称是否正确（为None也会报错）

[2021-07-06 08:29] holyseven opened #33989 "paddle.grad for large models is very slow"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.1
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：CUDA 10.2.89, CUDNN7.6.5
    4）系统环境：Ubuntu18.04，Python 3.7.0

---

简单来说，用Vision Transformer的模型时，我想用`paddle.grad`计算输出对于输入图片的gradient，耗时25s左右；即使是计算 输出 对于 下述代码中`out`的 gradient，耗时依然在23-25s左右。
同样的代码，模型换成resnet50，耗时0.1s。

麻烦看一下是什么原因~

[code]

[2021-07-06 08:52] camelliasummer commented on #33956
**>>> import paddle.fluid as fluid

Running Verify Fluid Program ...
I0706 15:27:31.271517  1681 op_desc.cc:677] begin to check attribute of fill_constant
I0706 15:27:31.271708  1681 op_desc.cc:683] CompileTime infer shape on fill_constant
I0706 15:27:31.271742  1681 op_desc.cc:699]  From [] to [linear_0.w_0, ]
I0706 15:27:31.272056  1681 op_desc.cc:677] begin to check attribute of fill_constant
I

[2021-07-06 09:18] GuoQuanhao commented on #33988
train_dataset里面的每个数据都是一个三元元组，分别包含图像，标签和图像名，是图像名这个str类型造成的吗

[2021-07-06 10:51] zhwesky2010 commented on #33971
请问目前的报错信息截图看一下

[2021-07-06 10:56] hustliweizeng commented on #32377
你芯片是arm64的，官网安装文档也说明不支持了，你贴的图片下载的版本是x86_64架构的，请问你这2个图片是一个电脑么。。

[2021-07-06 11:36] zhwesky2010 commented on #33971
麻烦看下这里的inplace是符合预期吗，能改吗 @pangyoki

[2021-07-06 12:25] kk125678 commented on #33605
xy = paddle.stack([x1,y1],axis=-1)
F1 = paddle.transpose(F0,[1,2,0])
F2 = paddle.gather_nd(F1,xy)
F3 = paddle.transpose(F2,[1,0])
感觉可以这样写

[2021-07-06 12:55] lidanqing-vv commented on #33918
1. 6148 is capable with AVX512, You had this issue because you used some virtual machine ? @xiegegege

[2021-07-06 13:05] xiegegege commented on #33918
@lidanqing-intel Yes, it's a virtual machine. I tested in some other physical machine, and it works well.

[2021-07-06 13:11] jakpiase commented on #33918
Hi @xiegegege
#33944 will fix your issue. Your virtual machine probably uses AVX2 and we recommend switching to AVX512, because our performance improvements with oneDNN library are made mainly for that instruction set.

[2021-07-06 13:15] xiegegege commented on #33918
@jakpiase OK, got it, thank you.

[2021-07-06 15:54] littletomatodonkey commented on #33989
你好，可能有2个原因
1. vit的模型有278M，而resnet50只有98M，vit的网络结构比较零散，resnet50则比较整洁，所以vit要快一些
2. 在使用gpu的时候，前几次的耗时非常不准，gpu需要warmup，可以试着先跑10个iter，然后再统计后面10个iter的平均耗时，对比看下

[2021-07-06 16:36] lidanqing-vv commented on #33918
@xiegegege
#33944 will solve this error on AVX2 (your virtual machine). But if you test this model on AVX2 environment, it may not be speedup as well as on AVX512 (6148 itself suppots AVX512). Because oneDNN improve well on AVX512.  But in AVX2, some oneDNN op will call reference version (slower).

Anyway, to achieve expected performance, please use avx512. This fix will only guarantee no error on

[2021-07-07 00:59] geoyee commented on #33605
感谢，空下来后试一试！

[2021-07-07 01:44] wxf764571829 opened #33995 "win10下cmake编译出错"
F:\code\Paddle\build>cmake .. -G "Visual Studio 14 2015 Win64" -A x64 -DWITH_TESTING=OFF -DON_INFER=ON -DCMAKE_BUILD_TYPE=Release -DPY_VERSION=3
-- Found Paddle host system: win32, version:
-- Found Paddle host system's CPU: 8 cores
-- Selecting Windows SDK version  to target Windows 10.0.19042.
CMake Error at CMakeLists.txt:23 (project):
  Generator

    Visual Studio 14 2015 Win64
  does not sup

[2021-07-07 02:36] QQ39272490 commented on #33910
感谢百度的兄弟回复，我是用的2G版本内存有点少，估计内存问题 用GPU时 config.enable_use_gpu(0, 0) 可以了

[2021-07-07 02:58] ntuyt commented on #19704
2.0rc还没有einsum

[2021-07-07 03:03] QQ39272490 commented on #33910
用GPU时 config.enable_use_gpu(0)最大显存

[2021-07-07 03:18] QQ39272490 commented on #33910
还有2G版本最好别连接VNC内存资源不够用

[2021-07-07 03:19] QQ39272490 commented on #33910
还有2G版本最好别连接VNC内存资源不够用

[2021-07-07 03:42] holyseven commented on #33989
嗯，好像的确不是vit的问题。我试了一下resnet101，resnet152，也很慢，几分钟了都没跑出来。小模型（包括mobilenet_v2, vgg13, vgg19）基本都是0.1s以内出结果。可以查一下具体是什么原因吗？

时间没有变化，还是25s vs 0.1s。

除了上述问题，**即使是计算 输出 `target` 对于 下述代码中`out`的 gradient，耗时依然很长，这太不正常了。** `target`和`out`之间就一个加法的操作。

[code]

相比torch，完全没有这个问题，以下为torch代码：
[code]

[2021-07-07 03:55] TeslaZhao commented on #33988
有可能

[2021-07-07 05:02] xiegegege commented on #33918
@lidanqing-intel OK，I will use avx512 in subsequent test.

[2021-07-07 05:03] tink2123 commented on #33995
请问有更多的报错信息吗？

[2021-07-07 05:05] tink2123 commented on #33995
可以参考这篇编译文档的步骤再试一下：https://paddle-inference.readthedocs.io/en/latest/user_guides/source_compile.html#windows-10

[2021-07-07 05:12] wxf764571829 commented on #33995
没有更多报错信息了 这就是全部信息，我参照的就是这篇文档步骤编译的

[2021-07-07 05:12] wxf764571829 commented on #33995
![image](https://user-images.githubusercontent.com/46362180/124703493-01af9400-df25-11eb-8f47-3c2839e07991.png)

[2021-07-07 05:37] GuoQuanhao commented on #33988
已解决，不是str类型造成的，是我自己从object继承一个类，再从这个类继承出一个子类来用getitem获取数据，把object改成Dataset就好了

[2021-07-07 05:37] #33988 closed, assigned to TeslaZhao

[2021-07-07 05:54] lidanqing-vv commented on #33918
@xiegegege @OliverLPH Since the PR has been merged, if you have have verified ok, let me know, I will close this issue.

[2021-07-07 06:16] littletomatodonkey commented on #33989
你好，我复现了你的问题，目前在paddle.grad这块可以通过下面的方式去计算

[code]

另外， 关于paddle和torch的关于grad api的速度差异问题，我也反馈下，感谢你的反馈~

[2021-07-07 06:34] zhwesky2010 commented on #33995
@wxf764571829 你好，上面这篇预测的编译文档有错，请参看Paddle官网文档编译，https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/windows-compile.html#windows ``cmake .. -G "Visual Studio 14 2015 Win64" -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release``  你这边需要删除 -A x64

[2021-07-07 06:43] wxf764571829 commented on #33995
非常感谢

[2021-07-07 06:56] DDDivano commented on #32377
M1 支持运行x86的程序

[2021-07-07 07:34] #33685 closed, assigned to lidanqing-vv, jakpiase

[2021-07-07 07:44] #33854 closed, assigned to Aurelius84

[2021-07-07 07:45] shingstone-lu opened #34002 "找不到“paddle_inference.dll”"
系统配置：
win10+VS2015
paddle2.1.0

从https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows
下载了cuda10.2_cudnn7_avx_mkl_trt7对应的paddle_inference.zip
并将其解压拷贝到C:\Program Files\
参考https://aistudio.baidu.com/aistudio/education/group/info/19084
我新建了一个C++ Windows控制台应用程序。
其中，VC++目录的包含目录增加了：C:\Program Files\paddle_inference\paddle\include
          VC++目录的库目录增加了：C:\Program Files\paddl

[2021-07-07 07:55] youngstu opened #34003 "使用load_inference_model 加载两个不同模型进行推理会crash"
1、问题描述
使用load_inference_model 加载两个不同的模型进行推理会crash，分别进行推理运行正常。错误log观察好像加载两个模型会混淆

版本：paddlepaddle           2.1.1
CPU：Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz

说明：
两个模型都是用x2paddle 转到paddle的。

错误日志：
[code]

[2021-07-07 09:01] zhangjun commented on #34002
您好，可以尝试把paddle_inference.dll放置在可执行程序exe目录。

[2021-07-07 09:17] shingstone-lu commented on #34002
我把mkldnn.dll和paddle_inference.dll拷贝到exe目录后，这个错误没有了。
之前的配置按说我将所需要的的目录都配置好了但就是找不到dll，不知道什么原因。

[2021-07-07 09:29] markmaomao opened #34010 "paddle里如何修改Variable(Tensor)某行或几行的赋值"
我现在想对tensor部分的值修改，就是修改某些行的值
目前有已训练好的模型，在预测中enc_out_pos = ernie_pos.get_sequence_output()得到一个Tensor(Variable类型)，就是一个（-1，128，768）的tensor。
如果用fluid.global_scope().var("print_dropout_19.tmp_0_0.tmp_0").get_tensor().set(xxx, fluid.CPUPlace())的话如何修改这个tensor的第三维度的值而不是全部赋值？我想修改这个tensor的768维的1到64维的值为0
我写了一个 a = fluid.layers.zeros([-1, 128, 64], 'float32')这样一个矩阵，但是怎么部分替换enc_out_pos的768维度里从1-64维的值呢？
name: "p

[2021-07-07 09:57] zhangjun commented on #34002
windows程序一般会在system目录或者可执行程序目录中查找，否则就会找不到。

[2021-07-07 10:09] zhwesky2010 commented on #33341
@yeyupiaoling 您好，这个问题可能和 https://github.com/PaddlePaddle/PaddleDetection/issues/3558 类似，在最后一个batch退出，目前定位到问题是：``在某些Windows机器上，Dataloader在C++端，抛出任何类型的异常，都会直接退出，无法被pybind捕获并处理。这个问题只在部分Windows机器上出现，而且必须是dataloader这个地方，其他地方抛出的异常，可以被正常处理，这个问题 在我们内部的机器无法测出来，因此推测是环境上某些差异的问题。``

[2021-07-07 10:21] yeyupiaoling commented on #33341
哦哦，好的。

[2021-07-07 10:21] #33341 closed, assigned to Superjomn

[2021-07-07 10:35] shingstone-lu commented on #34002
非常感谢。

[2021-07-07 10:40] OliverLPH commented on #33282
@lidanqing-intel @jczaja
thanks for your effort~
we have verified this issue has been solved by https://github.com/PaddlePaddle/Paddle/pull/33845, and won't cause this error https://github.com/PaddlePaddle/Paddle/issues/33918.
@juncaipeng please help merge https://github.com/PaddlePaddle/Paddle/pull/33845 into release/2.1

[2021-07-07 10:44] OliverLPH commented on #33918
@lidanqing-intel @jakpiase
@xiegegege verified https://github.com/PaddlePaddle/Paddle/pull/33944 can solve the bug, so this issue will be close, thx~

[2021-07-07 10:44] #33918 closed, assigned to lidanqing-vv, jakpiase

[2021-07-07 11:08] ctaok opened #34011 "梯度反传怎么样才能自动和手动混合计算"
实现了一个网络层，梯度反传需要特殊处理，所以要在梯度自动反传的过程中，插入某层梯度手动计算，怎么实现？

[2021-07-07 11:45] lytning98 opened #34013 "Fatal error during training: cudaFreeHost failed"
在正常训练一段时间后报错退出，错误信息如下，搜索了一下目前没有相关 issue，请问这有可能是什么原因？
[code]

#### 环境信息
ubuntu 16.04
单卡训练
来自 conda 的环境信息：
[code]
Paddle says,
[code]

[2021-07-07 12:02] tink2123 commented on #34013
请问你是跑什么模型遇到的这个报错呢

[2021-07-07 12:06] tink2123 commented on #34010
当前变量是variable类型，不能直接取index来赋值
可以先把需要修改值的维度通过paddle.fluid.layers.slice切片出来，进行赋值之后再concat回去

[2021-07-07 12:07] holyseven commented on #33989
上述代码很好地解决了耗时问题。虽然单张图片耗时上都是0.1s以内，但这样，想只计算中间层的gradient效率肯定是打折扣的。如果之后有反馈结果，也请告知，谢谢~

[2021-07-07 12:07] #33989 closed, assigned to TeslaZhao

[2021-07-07 12:14] tink2123 commented on #34003
方便提供一下load部分，和run部分的代码吗

[2021-07-07 12:17] youngstu commented on #34003
![image](https://user-images.githubusercontent.com/26452514/124757646-63412400-df60-11eb-929b-422ebfd98303.png)

[2021-07-07 12:28] lytning98 commented on #34013
是自行编写的的VQ-VAE论文模型复现，直观感觉上除了这个gradient操作的[trick](https://github.com/lytning98/taming-paddle/blob/e56b30fab880650829e7b12a8d522d7f431e916c/models/vqvae_models.py#L75)之外应该没有特殊的操作了，都是常规的op，具体可以查阅链接指向的repo

[2021-07-07 12:29] tink2123 commented on #34013
应该是在训练过程中进程中止了，请问这个情况稳定复现吗？加载checkpoint继续训练还会报错吗？https://github.com/PaddlePaddle/Paddle/blob/77a5b8b031c9c0b27ced9e5398faa75a709bf1d5/paddle/fluid/memory/detail/system_allocator.cc#L239

[2021-07-07 12:30] LutaoChu commented on #33911
paddleseg数据集的源码在这  https://github.com/PaddlePaddle/PaddleSeg/blob/develop/paddleseg/datasets/optic_disc_seg.py
optic_disc_seg继承自Dataset，数据处理的代码在这  https://github.com/PaddlePaddle/PaddleSeg/blob/1eb006a6658563a5ba775b41a812ea25230d4ea0/paddleseg/datasets/dataset.py#L155
可以打印处理后的数据看看

[2021-07-07 12:32] lytning98 commented on #34013
复现比较稳定，目前来看每训练一段时间后就会crash，无论是加载checkpoint还是重新训练，不过没有留意过是不是每次crash前的时间长度都是相同的

[2021-07-07 12:33] markmaomao commented on #34010
我现在做了个split, 平均分成了12份，然后写了一个数值均为0的numpy数组a, 将x0用a数组重新赋值，但是打印出来x0前后的值是一样的，赋值后的数组并不是一个均为0的数组，就是d_和e_是一模一样的，请问是什么原因？以下是代码：

x0, x1, x2, x3, x4, x5, x6, x7, x8, x9, x10, x11 = fluid.layers.split(enc_out_pos, num_or_sections=12, dim=2)
d_ = fluid.layers.Print(x0)
print(d_)
print(type(d_))
paddle.fluid.layers.Print(d_,summarize=-1, message="The content of some_layer: ")
a = np.zeros([128, 64], 'float32'

[2021-07-07 12:34] markmaomao commented on #34010
我现在做了个split, 平均分成了12份，然后写了一个数值均为0的numpy数组a, 将x0用a数组重新赋值，但是打印出来x0前后的值是1之前的，并不是一个均为0的数组，就是赋值前后d_和e_是一模一样的，但是打印print(fluid.global_scope().var("print_split_0.tmp_0_0.tmp_0").get_tensor()) 却显示是0矩阵，请问是什么原因？后面再concat的时候x0是还是赋值以前的，并没有变化。
如果concat的时候如果我建立一个b = fluid.global_scope().var("print_split_0.tmp_0_0.tmp_0").get_tensor()
然后用b去concat的其他的x，会报错TypeError: The type of 'input[0]' in concat must be (<class

[2021-07-07 12:41] btobab opened #34018 "反向传播时梯度出问题"
![image](https://user-images.githubusercontent.com/66876429/124760323-36424080-df63-11eb-8805-7456c79e63e9.png)
这是一个简单的VAE，之前我是直接使用了L2范数计算损失，但效果不太好。尝试换成BCE，却出现了类似于梯度截断的问题

[2021-07-07 12:43] tink2123 commented on #34011
Paddle暂时不支持这种操作

[2021-07-07 13:03] minghaoBD opened #34020 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0x86 in position 147: invalid start byte"
动态图，加载分布式训练保存的模型 报错：UnicodeDecodeError: 'utf-8' codec can't decode byte 0x86 in position 147: invalid start byte

- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==2.1.0.post101
    3）GPU：CUDA10.1
    4）系统环境：python3.7

- 训练信息
    1）单机 多卡

- 复现信息：
训练代码：
[code]
训练启动命令：
[code]

模型导入文件
[code]

- 问题描述：报错截图如下：
![image](https://user-images.githubusercontent.com/79566150/124763359-71923e80-df66-11eb-8233-

[2021-07-08 02:03] tink2123 commented on #34018
dygraph_tmp_453 这个变量没有梯度节点，建议找到这个变量，看下前后是不是有设置了stop_gradient=True

[2021-07-08 02:25] LutaoChu commented on #33817
这个问题跟broadcast机制有关，在nightly中已修复，由于影响面太大，计划在2.2版本中发布，着急的话请先用nightly

[2021-07-08 02:38] youngstu commented on #34003
![image](https://user-images.githubusercontent.com/26452514/124853511-91fae100-dfd8-11eb-98a8-62c8ad6ec316.png)

[2021-07-08 02:53] tink2123 commented on #34010
这样去修改x0的值就可以了：

[code]

[2021-07-08 03:02] Thewindrisers commented on #33856
您好老师，我这边已经解决了该问题，应该是权限问题，用sudo软连接python解释器没有出现这个问题

[2021-07-08 07:31] btobab commented on #34018
但是我尝试把这个变量打印出来，但显示变量没定义，我感觉是反向传播时才会定义

[2021-07-08 08:41] guoxixiao opened #34031 "paddle 训练的模型，怎么保存成非combined？"
paddlex1.1.7，cpu训练的目标检测模型，想要在rknpu上跑。好像是需要使用非combined才能转成rknpu。
paddlex好像只能生成combined形式，请问怎么生成非combined？
谢谢

[2021-07-08 13:07] a29813287 opened #34036 "Mac編譯universal binary沒有包含arm64"
- 版本、环境信息：
    PaddlePaddle版本：2.1
    系统环境：Mac OS 11.2

- 安装方式信息：
    cmake \\
      -DCMAKE_OSX_ARCHITECTURES='x86_64;arm64' \\
      -DWITH_GPU=OFF \\
      -DWITH_MKL=OFF \\
      -DCMAKE_BUILD_TYPE=Release \\
      '..'
    make -j
    make inference_lib_dist

- 问题描述：
    可以編譯成功，但用lipo libpaddle_inference.dylib -archs，只有x86_64，要怎麼修改才好？

[2021-07-08 15:10] btobab opened #34037 "Mac M1芯片 本地训练不适配"
环境：本地IDE
配置：Mac OS 11.4 M1
运行报错，但在AI Studio上可以运行
![image](https://user-images.githubusercontent.com/66876429/124946481-a32c0800-e041-11eb-9da6-11eda27ac9c8.png)

[2021-07-09 01:00] 15162162323 opened #34038 "启动训练时提示Warn Detect dataset only contains single fileds"
WARNING: Detect dataset only contains single fileds, return format changed since Paddle 2.1. In Paddle <= 2.0, DataLoader add a list surround output data(e.g. return [data]), and in Paddle >= 2.1, DataLoader return the single filed directly (e.g. return data). For example, in following code:

import numpy as np
from paddle.io import DataLoader, Dataset

class RandomDataset(Dataset):
    def __geti

[2021-07-09 03:00] haozech commented on #34031
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.7/api_cn/io_cn/save_inference_model_cn.html
将params_filename参数设为None，可以生成单独的参数文件

[2021-07-09 03:09] haozech commented on #34036
mac上的源码编译可以参考官网教程 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/compile/macos-compile.html

[2021-07-09 03:11] CheQiXiao opened #34042 "go (C API)调用paddleocr，nvidia TU104GL T4 gpu计算结果错误"
环境: linux ubuntu 18.04

gpu : nvidia TU104GL T4  腾讯云上买的gpu服务器

识别模型: 官网下载的ch_ppocr_server_v2.0_rec  通用模型，支持中英文、数字识别  rec_chinese_common_train_v2.0.yml  94.8M

paddle Inference : 2.0

使用的NVIDIA-Linux-x86_64-450.119.04.run驱动,cuda 10.0

在使用cpu处理时，识别结果正确,换成gpu后结果异常.

不清楚是检测模型检测错误,还是识别模型识别错误。

如果有幸让相关技术团队看到，希望可以去测试一下。

希望paddle做的越来越好

论坛帖子链接：https://ai.baidu.com/forum/topic/show/989192

[2021-07-09 03:28] chenjiaoAngel commented on #34038
这个是warning不会影响正常使用，如果想去掉可以这个提示，用develop 的whl包或者等2.1.2新版本哦～

[2021-07-09 05:25] a29813287 commented on #34036
看到了，目前不支持arm64

[2021-07-09 05:43] jiweibo commented on #34042
收到，后续复现并且在 https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/go 增加这个OCR对应的DEMO

[2021-07-09 05:50] suntao2015005848 opened #34049 "paddlepaddle-gpu的版本问题"
为什么pip install paddlepaddle-gpu==2.1.0post101安装不上，
报错  ERROR: Could not find a version that satisfies the requirement paddlepaddle-gpu==2.1.0.post101
而aistudio的里的环境是2.1.0post101
只能安装paddlepaddle-gpu==2.1.0，这两版本一样吗？

[2021-07-09 06:05] haozech commented on #34037
你好，从报错上看似乎是paddle版本不一致导致的错误

[2021-07-09 06:25] shanliang1992 opened #34051 "paddle.dynamic_lstm文档问题"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；
文档版本为1.8
### 文档问题描述：

文档中描述参数为
gate_activation (str，可选) – 应用于input gate，forget gate， output gate 的激活函数。默认值为sigmoid。
cell_activation (str，可选) – 用于cell输入的激活函数。默认值为tanh。
candidate_activation (str，可选) – 用于cell输出的激活函数。默认值为tanh。

实际搜索源代

[2021-07-09 06:30] pangyoki commented on #34036
paddle暂不支持arm64，不过Mac M1芯片可能能用，应该是apple做了兼容

[2021-07-09 06:34] dingjiaweiww commented on #34036
请问你是Mac M1 芯片吗，M1 是arm64 架构的，Mac 进行了适配：”Rosetta 2动态二进制转译技术使得搭载M1芯片的设备仍然能够运行原有为x86架构处理器设计的软件”，所以如果你是M1 芯片也可以用paddle 2.1的安装包

[2021-07-09 06:39] haozech commented on #34037
Mac对M1芯片做进行了适配：”Rosetta 2动态二进制转译技术使得搭载M1芯片的设备仍然能够运行原有为x86架构处理器设计的软件”，所以如果你是M1 芯片也可以用paddle 2.1的安装包

[2021-07-09 06:42] paniclp commented on #33952
你好，我都是按照网上的官方教程操作的，搞了半天也没弄明白，能不能加你个qq，后面跟你请教一下
QQ64924930

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月4日(星期天) 晚上10:57
***@***.

[2021-07-09 07:17] pangyoki commented on #34049
你好，paddlepaddle-gpu==2.1.0 与 paddlepaddle-gpu==2.1.0.post101 不一样，paddlepaddle-gpu==2.1.0 是cuda10.2版本的。

你的安装命令是 `python -m pip install paddlepaddle-gpu==2.1.0.post101 -f https://paddlepaddle.org.cn/whl/mkl/stable.html` 吗？需要用 -f 指定下载链接。

[2021-07-09 07:47] jackiezzq commented on #33794
https://www.paddlepaddle.org.cn/whl/stable/tensorrt.html
这个网址能编译一份cuda11.2的带tensorRT的paddle whl嘛，自己编译很多次了，预测一直出问题

[2021-07-09 08:50] markmaomao opened #34061 "打印大维度Variable(tensor)完全的问题"
我有一个list叫at_all，其中at_all[0][0]是一个(41，768)的tensor，我想打印出这个tensor的数据
当我用paddle.fluid.layers.Print(at_all[0][0],summarize=-1, message="The content of some_layer: ")打印时，有数据但并不能打印全，而且数据是连续的不能体现每行的分隔（维度）
尝试转换成numpy打印
t = fluid.global_scope().var(at_all[0][0].name).get_tensor()
t_np = np.array(t)
print(t_np.shape)
但体现出的结果是(0,)
请问如何解决？谢谢

[2021-07-09 09:16] lcdisme commented on #34013
你好，我在训练OCR识别模型的时候也遇到这个问题，遇到好几次了，自动中断。

`eval model::   0% 1/200 [00:11<36:44, 11.08s/it]

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::imperative::Tracer::TraceOp(std::string const&, paddle::imperative::NameVarBaseMap const&, paddle::imperative::NameVarBaseMap const&, paddle::framework::AttributeMap, std::map<std::

[2021-07-09 09:21] Irvingao commented on #31767
我在安装成功了paddlepaddle2.1.1版本的whl后，
python3`import paddle`报错：

![image](https://user-images.githubusercontent.com/58903762/125055589-f356a900-e0d9-11eb-8595-289304e20a3f.png)

[2021-07-09 09:23] QQ39272490 commented on #31767
你这安装的版本是不是不对呀

[2021-07-09 09:24] QQ39272490 commented on #31767
我用mobileNetV1跑起来了，GPU比CPU差不多提速6倍

[2021-07-09 09:25] jackiezzq opened #34062 "提供2.1.1 cuda11.2 带tensorRT的编译whl包或者docker镜像"
#33794
自己用paddlepaddle/paddle:2.1.1-gpu-cuda11.2-cudnn8 docker镜像 编译的带trt的paddle在预测时报错
希望官方能提供编译好的whl包

[2021-07-09 09:25] Irvingao commented on #31767
这是我安装的版本：
请问有什么问题呢？
![image](https://user-images.githubusercontent.com/58903762/125056251-a0c9bc80-e0da-11eb-952c-81a88801618c.png)

[2021-07-09 09:26] Irvingao commented on #31767
@QQ39272490
我的nano 版本型号如下：
![image](https://user-images.githubusercontent.com/58903762/125056397-c656c600-e0da-11eb-87d5-dd1a2934ba84.png)

[2021-07-09 09:27] QQ39272490 commented on #31767
这版本也应该 没有问题，我后面装的maxwell

[2021-07-09 09:40] tianshuo78520a commented on #34037
v2.7.16, v3.8.2, and v3.9 开始支持M1的，以前的python版本在获取Mac框架时，会获取到x86架构

[2021-07-09 10:35] btobab commented on #34037
好的，谢谢大佬们的解答，俺试一下

[2021-07-09 11:35] chenjiaoAngel commented on #34061
这个API的输出是类似这个样子的，数据就是一个连续内存的数据，不会根据shape换行的，这个是API的设置；
<img width="1123" alt="image" src="https://user-images.githubusercontent.com/38650344/125072184-d4addd80-e0ec-11eb-890a-50bc04913604.png">

打印不全的话，应该是数据量太大，会导致后续数据自动折叠的
如果想换行看数据/显示所有数据，需要自行书写打印方法

[2021-07-09 12:14] tianshuo78520a commented on #34037
有一个网址，可以查看M1支持的软件版本：https://doesitarm.com/

[2021-07-09 12:19] btobab commented on #34037
好的，谢谢大佬

[2021-07-09 13:04] LISIJIA0629 opened #34072 "显示：ABORT!!! Out of all 1 trainers, the trainer process with rank=[0] was aborted. Please check its log.terminate all the procs"
[work@jupyter-3a4484a84599fe0d-0 dygraph]$ python -m paddle.distributed.launch --log_dir faster_rcnn_r101 --gpus 0 tools/train.py -c configs/faster_rcnn/faster_rcnn_r101_vd_fpn_2x_coco.yml
-----------  Configuration Arguments -----------
gpus: 0
heter_worker_num: None
heter_workers:
http_port: None
ips: 127.0.0.1
log_dir: faster_rcnn_r101
nproc_per_node: None
run_mode: None
server_num: None
server

[2021-07-09 14:12] Irvingao commented on #31767
@wangye707

### Jetson nano环境配置和whl如上，请问这是什么问题呢？
![image](https://user-images.githubusercontent.com/58903762/125091092-b18e2880-e102-11eb-8270-e059ee48f4e9.png)

[2021-07-09 14:25] Topdu commented on #17438
可以如下实现

x = torch.randn(1, 3,5)
print(x,x.shape)
x = x.repeat(1, repeat_num,1)
print(x,x.shape)

x = paddle.randn([1, 3,5])
print(x.shape)
print(x)
x = paddle.concat([x for i in range(repeat_num)],axis=repeat_dim)
print(x)

[2021-07-09 14:42] Irvingao commented on #31767
上述问题已解决，同时完整部署流程和问题解决方式已记录为博客：https://blog.csdn.net/qq_45779334/article/details/118611953

[2021-07-09 15:04] whjdark opened #34073 "训练时内存泄漏"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.0
    2）aistudio V100 32G

训练时内存占用线性增长，BATCHSIZE无论大小都会发生，直到aistudio报错终止，初识paddle很多东西不太了解。
![242I2$PB$8@F110B6{A)C8](https://user-images.githubusercontent.com/44253501/125098621-c15d3b00-e109-11eb-9eaf-cb915c0bc4b6.png)

https://aistudio.baidu.com/studio/project/partial/verify/2158525/0bcf29c39eba4acba469a42eeb9cf57e

[2021-07-10 07:26] qqsuhao commented on #26741
现在这个问题解决了吗？

[2021-07-10 09:28] lcdisme commented on #33547
你好，你的问题解决了吗？我也遇到这个情况，请问是怎么解决的，谢谢！

[2021-07-10 13:40] ZeqiangWangAI commented on #32500
您好，关于这个对抗训练的部分您有相关代码吗，我最近正在想复现对抗训练，感谢！

[2021-07-11 08:49] 827346462 opened #34080 "paddle安装问题"
![image](https://user-images.githubusercontent.com/50097546/125188815-cfc16900-e267-11eb-8c69-327565c0f284.png)
这是我重现安装paddle,当我进行验证的时候会卡在这个地方。。需要很久才能验证成功。甚至一直卡住

[2021-07-11 10:36] qili93 commented on #34080
@827346462 run_check() 会简单跑一些OP的验证，因此是需要花一点时间的，但正常不会超过2-3分钟，如果卡很久都不动，可能是环境问题。请问您的测试环境是什么？请提供以下信息供分析复现，谢谢！

- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本

- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译：请提供docker镜像，编译命令           

同时提供一下

[2021-07-11 11:45] 827346462 commented on #34080
版本、环境信息：
   1）PaddlePaddle版本：2.1.1 paddlepaddle-gpu
   2）CPU： i7-11800H
   3）GPU：rtx3060 cuda 10.2 cudnn 7.6.5
   4）系统环境：win10 pyhon=3.6

安装方式信息：
pip安装
![image](https://user-images.githubusercontent.com/50097546/125193705-66018900-e280-11eb-82d2-3f9e2967525d.png)
之前我安装过paddle-gpu是使用十分好的。但是再次安装就出现这次的问题

[2021-07-11 12:18] qili93 commented on #34080
@827346462 看你的GPU的nvidia-smi的输出，环境下已经有运行的GPU进程了？如果可以的话杀掉这个进程再跑试试看？

[2021-07-11 14:00] 827346462 commented on #34080
![image](https://user-images.githubusercontent.com/50097546/125198130-38720b00-e293-11eb-83c2-b6087ba58e3b.png)
我将其他的进程杀死后重新启动 他还是卡在这个地方。它好像根本没有启动我的gpu进行计算

[2021-07-11 14:12] 827346462 commented on #34080
![image](https://user-images.githubusercontent.com/50097546/125198573-efbb5180-e294-11eb-9f78-a8f409ea2492.png)
我pip安装出了问题 所以我在安装一些库是用conda进行安装的。会是这个原因么？

[2021-07-12 03:24] 827346462 opened #34087 "win10 paddlepaddle-gpu 安装成功后验证结果一直显示不出来（十几分钟后显示成功）"
   1）PaddlePaddle版本：paddlepaddle-gpu2.1.1 py3.6
    2）CPU：i7-11800H
    3）GPU：RTX3060 CUDA = 10.2 CUDNN = 7.6.5
    4）系统环境：win 10

- 安装方式信息：
1）pip安装
     
![image](https://user-images.githubusercontent.com/50097546/125226302-6858f700-e303-11eb-91e9-e7785ddd596a.png)

过了十几分钟才显示出来
![image](https://user-images.githubusercontent.com/50097546/125226423-a48c5780-e303-11eb-94d2-350a71f148b2.png)

杀死全部进程也

[2021-07-12 03:25] 827346462 commented on #34087
好像已经解决了 ，重启后

[2021-07-12 06:19] qili93 commented on #34080
@827346462 应该问题不大呢，都能在python site-packages下面找到的话。不过最好都是统一安装方式。另一个debug的方法是，你输出`export GLOG_v=10`的环境变量，然后重跑一次，会输出一堆debug日志，把日志记录一下，日志上会有执行时间，看下时间差异特别大的2条log，看具体是卡在哪里了。

[2021-07-12 06:37] btobab commented on #34018
唔，就是L2运行没问题，但是换成BCE就出现了上述问题

[2021-07-12 06:40] btobab commented on #34018
然后报错也很难懂

[2021-07-12 07:08] chenjiaoAngel commented on #34072
<img width="793" alt="image" src="https://user-images.githubusercontent.com/38650344/125245345-08724880-e323-11eb-822c-ac6a84ed5800.png">
这个看起来是dataset 不太正确，错误如上

[2021-07-12 07:12] hbwx24 commented on #34020
感谢您的意见，在您提供的版本和环境下复现了此问题。最新版本的paddle测试不会出现加载报错，辛苦您更新paddle版本以避免这个问题。

[2021-07-12 07:27] zhiqiu commented on #34073
hi，在AIstudio运行lan链接中的代码失败了，报错如下：

请问您是否有本地可运行的代码呢？

[2021-07-12 08:36] yuanquan123 opened #34099 "Docker镜像编译过程中，已经安装了protobuf，但是打包完镜像之后，pull下来跑的时候显示："
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-07-12 08:38] 15162162323 commented on #34038
多谢了

[2021-07-12 08:39] yuanquan123 opened #34100 "Docker镜像编译时候import paddle报错"
Docker镜像编译过程中，已经安装了protobuf，但是打包完镜像之后，pull下来跑的时候报错显示：

ImportError: No module named google.protobuf.internal
#34099

[2021-07-12 08:41] #34038 closed, assigned to chenjiaoAngel

[2021-07-12 08:54] chenjiaoAngel commented on #34062
cuda11.2没有带trt的，因为nv官方提供的trt库，不支持cuda11.2， 只有cuda11.1的
https://paddle-inference.readthedocs.io/en/latest/user_guides/download_lib.html#python

[2021-07-12 08:56] Steffy-zxf commented on #34018
@IamDestiny 你好，是否方便给出最小复现代码及环境（paddle版本，Linux or windows) ？

[2021-07-12 09:02] btobab commented on #34018
好的，环境为AI Studio，paddle版本2.0.2及2.1.0都试过了，但是都报同样的错
[项目链接](https://aistudio.baidu.com/aistudio/projectdetail/1950873)

[2021-07-12 09:35] #33794 closed, assigned to cryoco, pangyoki

[2021-07-12 09:35] #34062 closed, assigned to nobody

[2021-07-12 09:36] wyuzyf commented on #33772
你好，请问解决了么，我的环境
paddlepaddle-gpu       2.1.0.post101
Python 3.6
Ubuntu 18.04
双卡 2080ti

[2021-07-12 09:48] yeyupiaoling commented on #33772
@wyuzyf 没有。不过这个问题没有出现了，我也不知道改了啥。可能偶尔出现吧。

[2021-07-12 09:51] zenghsh3 opened #34105 "Notebook环境下用cloudpickle序列化Paddle 2.0模型，不能在其他进程被反序列化"
- Paddle静态图和Torch都支持该使用场景
- 可复现的AIStudio环境：
  - paddle 2.0 + cloudpickle: https://aistudio.baidu.com/aistudio/projectdetail/2181066?shared=1
  - paddle 2.0 + PARL: https://aistudio.baidu.com/aistudio/projectdetail/2178599?shared=1

[2021-07-12 10:34] chenjiaoAngel commented on #34061
最新的paddle 2.0 版本已解决此类问题，请更新下版本～

[2021-07-12 12:00] T8T9 commented on #34105
这个问题报错是"metaclass conflict", 没有发生在paddle中, 看起来是parl 或 cloudpickle 或 其他环境导致的, 您可以继续深入定位一下问题.

[2021-07-12 12:11] #33282 closed, assigned to jczaja, wawltor, lidanqing-vv

[2021-07-12 12:44] lytning98 commented on #33404
@heavengate  所以这些 gflags 的值能否手动设定呢？我在源码中发现了为数不少的类似定义的 flags，如果无法手动设置那么存在的意义是什么呢。。

[2021-07-12 13:29] whjdark commented on #34073
第二段添加了解压数据集的代码
项目“pcb缺陷”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/2158525/6bea9bcdb9f942a8804f066a9c2de37d

[2021-07-12 14:16] btobab commented on #34037
![image](https://user-images.githubusercontent.com/66876429/125302697-c4049e00-e35e-11eb-85ca-9a22941f9120.png)
我不明白版本不一致什么意思，我的IDE显示版本是2.1.1

[2021-07-12 15:18] 670133189 opened #34111 "请教关于save_inference_model()"
我计划导出一个DarkNet53+YOLOv3的已完成训练的模型，使用了以下代码：

[code]
虽然能成功导出【xx.pdiparams】、【xx.pdmodel】，但无法得到正确的预测结果，感觉权重没有被导出。
请教如何解决？感激！

[2021-07-13 05:02] deadkany opened #34117 "只是安装在annaconda虚拟环境中的cudnn能支持paddle的安装吗"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2021-07-13 06:34] yinhaofeng commented on #34117
您的物理机上是有显卡的吗？

[2021-07-13 06:37] deadkany commented on #34117
有的，但是只装了cuda，没有安装cudnn，由于权限原因无法安装cudnn，所以想在conda的虚拟环境中安装cudnn，但是paddle.utils.run_check()会报错

[2021-07-13 06:44] yinhaofeng commented on #34117
conda环境里应该是可以安装paddle的，但是注意安装的版本要和cudnn对应。如果已经是对应的，可以把报错内容贴一下

[2021-07-13 06:54] T8T9 commented on #34111
权重没有被导出, 应该不太可能的.
麻烦提供一下 load_inference_model 以及相关的预测代码

[2021-07-13 06:55] deadkany commented on #34117
已经是对应的
Running verify PaddlePaddle program ...
W0713 14:52:58.419963 34071 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 10.1, Runtime API Version: 10.1
W0713 14:52:58.420265 34071 dynamic_loader.cc:267] The third-party dynamic library (libcudnn.so) that Paddle depends on is not configured correctly. (error code is libcudnn.so: cannot open shared o

[2021-07-13 06:55] T8T9 commented on #34100
麻烦用paddle提供的docker试下, 自己搞的docker可能有环境问题

[2021-07-13 06:57] T8T9 commented on #34099
这个问题应该是您在打包docker容器的时候除了问题.

[2021-07-13 06:58] T8T9 commented on #34087
👍🏻

[2021-07-13 07:36] deadkany commented on #34117
设置了变量路径到anaconda里就好了，问题已解决

[2021-07-13 07:36] #34117 closed, assigned to yinhaofeng

[2021-07-13 07:37] buptxiaofeng opened #34125 "Compiling error on RedHat"
**System information**
-PaddlePaddle version:  2.1.1
-CPU: including CPUMKL/OpenBlas/MKLDNN version: openblas/0.3.15
-GPU: including CUDA/CUDNN version : cudnn/8.0.5 gcc/8.5.0 nccl/2.9.9 cuda-11.0.3
-OS Platform (eg. Mac OS 10.14)

ppc64le
NAME="Red Hat Enterprise Linux"
VERSION="8.2 (Ootpa)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="8.2"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Red Hat Enterprise Lin

[2021-07-13 07:49] #34087 closed, assigned to T8T9

[2021-07-13 07:51] #34099 closed, assigned to T8T9

[2021-07-13 07:57] entropyfeng commented on #30635
您好，我在官网上看到对Paddle对Lite昇腾310源码编译即将提供，这个即将，预计要多久？

[2021-07-13 08:28] PhilCuriosity opened #34131 "请问有没有在Jetson平台编译好的paddle-1.8的.whl包"
系统环境：jetpack4.4或者jetpack4.5
目前使用的paddle-2.0存在一些问题，如[#33807](https://github.com/PaddlePaddle/Paddle/issues/33807)

[2021-07-13 09:22] 670133189 commented on #34111
嗯嗯，你发我邮箱地址，我打包源码发过去。

[2021-07-13 09:32] yinhaofeng commented on #34131
你好，Jeston版本我们推荐直接使用2.1的，新版本有较多的同学维护，bug也更少。可以根据您的需要在这里找到对应的版本：https://paddleinference.paddlepaddle.org.cn/master/user_guides/download_lib.html
1.8的版本比较老，官网上已经没有了，如果需要只能参考官网jeston的编译流程自行编译
如果遇到兼容问题也欢迎反馈

[2021-07-13 09:49] will-jl944 opened #34133 "逻辑运算op仅支持bool数据类型"
逻辑运算操作`paddle.logical_not`, `paddle.logical_and`, `paddle.logical_or`, `paddle.logical_xor`仅支持bool类型的输入。
![截屏2021-07-13 下午5 48 23](https://user-images.githubusercontent.com/68210528/125430989-94ae44bc-2189-4ae3-9acf-5455e22ea7f2.png)

[2021-07-13 09:50] 670133189 commented on #34111
我发现应该是我导出的配置错误，下面第一个是正确的模型输出，第二个是导出后的输出。
我是用 **paddle-inference** 预测导出后的模型。
如果我的理解没错的话，接下来该如何导出模型？
[code]
第二个：
[code]

[2021-07-13 10:23] gglin001 opened #34135 "Does Paddle has a Dockerfile or guide on how to build using Clang"

[2021-07-13 11:46] pangyoki commented on #34135
Paddle use `gcc` to compile under linux and use `clang` to compile under mac. what scenario do you want to build using clang？

[2021-07-13 11:52] OliverLPH commented on #33807
看日志是直接core了，请问下 numpy 是如何安装的？
如果是用 pip 安装的，建议卸载掉，重新安装试试会不会core
[code]

[2021-07-13 12:05] yslion opened #34139 "单机rtx3060 跑ERNIE，paddl和cuda换好多版本 都不行"
https://aistudio.baidu.com/aistudio/projectdetail/1049443?channelType=0&channel=0

paddlepaddle-gpu==2.1.1.post110  cuda=11.0

fluid.install_check.run_check()
能过得去 ，但是执行具体代码

[code]

报这个： ValueError: (InvalidArgument) Tensor holds the wrong type, it holds int, but desires to be int64_t.

[code]

换成
paddlepaddle-gpu==2.1.1.post101   cuda=10.1

fluid.install_check.run_check()
就一直卡在这  几十分钟不动
[code]

[2021-07-13 14:30] gglin001 commented on #34135
I compiled paddle under mac using clang-12, run a simple model but got following error randomly

[code]

but everything works under linux using gcc

Is there anything that needs attention using Apple Clang?

[2021-07-13 15:06] gglin001 commented on #34135
test case ranomly error
[code]

[2021-07-13 15:09] gglin001 commented on #34135
backtrace

[code]

[2021-07-13 15:33] #34111 closed, assigned to T8T9

[2021-07-14 00:25] PhilCuriosity commented on #34131
好的，谢谢

[2021-07-14 00:25] #34131 closed, assigned to yinhaofeng

[2021-07-14 02:36] pangyoki commented on #34135
Please refer to this document for compiling on mac ：https://www.paddlepaddle.org.cn/documentation/docs/en/install/compile/macos-compile_en.html

[2021-07-14 02:41] PhilCuriosity opened #34144 "PaddleOCR训练启动时直接停止，无报错"
问题：如标题
- 版本、环境信息：
    1）PaddlePaddle版本：paddle-gpu2.1.1
    2）GPU：单卡NVIDIA Quadro T1000(4GB)   CUDA10.2 CUDNN7.6.5
    3）系统环境：Win10 Py38
训练启动时GPU占用会逐渐增加到80%左右，然后程序就停止了，没有报过`OOM`的错误：
![image](https://user-images.githubusercontent.com/52873355/125552256-149e4807-6ff9-4d27-8693-f6a11187c896.png)
下为打印信息：

D:\SoftwareWork\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded mor

[2021-07-14 03:47] MissPenguin commented on #34144
您好，建议从以下几个方面排查一下：
1. 是否使用的官方docker环境
2. 用官方源码和数据集测试是否同样报错
3. Paddle2.1.0是否同样报错
4. 加一些log排查看看具体是执行到哪一步时程序崩溃

[2021-07-14 06:50] PhilCuriosity commented on #34144
谢谢您的回复。
1. 没有使用官方Docker环境
2. 未使用官方数据集`icdar`进行测试
3. paddle2.1.0同样出错
4. 通过加log 发现至模型预测时直接停止
![image](https://user-images.githubusercontent.com/52873355/125576388-da666abe-a7d2-4dc1-a050-fdbf123ffb71.png)

[2021-07-14 06:58] PhilCuriosity commented on #34144
**数据目录结构：**
![image](https://user-images.githubusercontent.com/52873355/125577265-1cc15dbe-f468-4eab-94f4-b0b6319d8906.png)

**启动训练命令：**
python tools/train.py -c configs/det/ch_ppocr_v2.0/ch_det_mv3_db_v2.0.yml

**ch_det_mv3_db_v2.0.yml相关配置**
Global:
  use_gpu: true
  epoch_num: 1200
  log_smooth_window: 20
  print_batch_step: 2
  save_model_dir: ./output/ch_db_mv3/
  save_epoch_step: 1200
  eval_

[2021-07-14 08:29] MissPenguin commented on #34144
如果代码没做过多改动的话，问题应该要么出在数据读取有问题，要么是win系统环境问题。有linux环境可以验证下吗

[2021-07-14 08:41] PhilCuriosity commented on #34144
好的，我去谷歌云盘试试看。

[2021-07-14 08:42] PhilCuriosity commented on #33807
谢谢，这边按照您的方法安装之后，测试l了几次已经可以正常运行了。

[2021-07-14 08:42] #33807 closed, assigned to iclementine

[2021-07-14 09:02] PhilCuriosity commented on #34144
感谢，我去谷歌云盘下进行了测试，是可以运行的。

[2021-07-14 09:25] #34049 closed, assigned to chenjiaoAngel

[2021-07-14 10:15] yinhaofeng commented on #34125
您的环境是x86架构的吗？
目前我们还没有验证过在redhat上的编译，建议您可以再我们paddle的官网上直接使用docker安装。

[2021-07-14 10:23] buptxiaofeng commented on #34125
不是x86, 是PPC

[2021-07-14 12:26] PhilCuriosity commented on #34144
您好，我把Win10环境重装之后，还是有这个问题，什么时候能修复一下这个bug呢？

[2021-07-14 13:41] carol510 opened #34163 "windows 找不到libyaml-cppmt.lib"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号 ppdet 2.1
<img width="266" alt="f1dec08e4ae15d58e179e6292249d8ae" src="https://user-images.githubusercontent.com/22268236/125631409-5654279b-e6dc-4a83-94d7-6a9e023273b6.png">
https://paddleinference.padd

[2021-07-14 13:56] harsh-curl opened #34164 "Error on trying to verify installation"
**System information**
- PaddlePaddle 2.1.0
- CPU: Intel(R) Xeon(R) Platinum 8259CL CPU @ 2.50GHz(6 cores)
- Redhat Distro
- Python 3.7
- Install method: pip install
- GCC version 8.3

**To Reproduce**

**import paddle.fluid** in a python interpreter

**Describe your current behavior**

It throws the following error:

**Error: Can not import avx core while this file exists: /home/ec2-user/.local/s

[2021-07-14 14:15] wj51 opened #34166 "ExternalError: Cudnn error, CUDNN_STATUS_BAD_PARAM at (/paddle/paddle/fluid/operators/batch_norm_op.cu:198)"
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu   1.8.4.post107
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA：10.0和CUDNN7.4
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 安装方式信息：
1） CUDA_VISIBLE_DEVICES=0 python tools/infer.py

[2021-07-14 15:14] whjdark commented on #34073
`
epoch in range(EPOCHS):
        #train stage
        pcbNet.train()
        for batch_id, data in enumerate(train_loader()):
            start_time = time.time()
            # 先转成paddle tensor
            img = paddle.to_tensor(data[0]) # 训练images
            labels = paddle.to_tensor(data[1]) # 训练数据标签
            preds = pcbNet(img)    # 预测结果

            # 计算损失 等价于 prepare 中loss的设置

[2021-07-15 02:03] weixing19 commented on #33925
更换为CUDA10.1后识别正常，但是编译后1.8G，也就是问题1文件太大了，如何**缩小**呢？
_1）paddle_inference.dll过大，我第一次编译是1.5G，后来我改了几个参数再次编译为1.2G，仍然太大（我不使用GPU编译出的才41M），怎么能优化变小？_

[2021-07-15 02:08] entropyfeng opened #34167 "paddle 对昇腾310支持的文档问题"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：
您好，我在[官网](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_hardware_support/hardware_info_cn.h)上看到对Paddle Lite昇腾310源码编译即将提供，这个即将，预计要多久？
paddle文档2.1

[2021-07-15 02:42] MissPenguin commented on #34144
win环境确实不太友好，坑比较多，建议安装docker使用哈

[2021-07-15 03:00] MissPenguin commented on #34166
您好，看样子是CUDNN7.4版本过低，建议换CUDNN7.6哈

[2021-07-15 03:02] MissPenguin commented on #34164
看着是GCC版本过低导致的，建议升级GCC版本到8.4

[2021-07-15 03:11] MissPenguin commented on #34163
你的cudnn版本是8.0，但是安装包是7.6，版本不匹配，可以把本地换成cudnn7.6试试

[2021-07-15 03:12] carol510 commented on #34163
我写错了 cundnn 确实是7.6

[2021-07-15 06:46] ZZHHogan opened #34180 "安装paddle报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0
    2）CPU：---
    3）GPU：3090显卡 GPU版本11.2
    4）系统环境：centos、Python版本 3.8

- 安装方式信息：
1）pip安装  pip install paddlepaddle-gpu==2.0.0 -i https://mirror.baidu.com/pypi/simple
安装paddle gpu版本后运行paddle.utils.run_check()命令报错

报错日

[2021-07-15 07:43] Peng-ss commented on #34117
你好，请问如何设置变量路径到anaconda?

[2021-07-15 07:48] deadkany commented on #34117
export LD_LIBRARY_PATH='你的虚拟环境位置/lib'

[2021-07-15 07:58] DDDivano commented on #34080
30系列的显卡应该是用不了cuda10.2，可以升级cuda库用cuda11+试试？

[2021-07-15 08:06] Peng-ss commented on #34117
感激大佬

[2021-07-15 09:11] lacoboi commented on #32172
在 RTX2060 + win10 + paddle 2.0.2 + cuda10.0 + cuda7.6.5 上遇到同样的问题, 请问有解决方案么 ?

[2021-07-15 09:21] harsh-curl commented on #34164
Hi @MissPenguin, is it okay if we try with gcc 9?

[2021-07-15 12:37] littletomatodonkey commented on #34180
试下升级paddle呢？pip install -U paddlepaddle-gpu==2.0.2

[2021-07-15 12:40] littletomatodonkey commented on #34167
你好，要不看下这个是否符合你的要求呢？https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_hardware_support/npu_docs/paddle_install_cn.html

[2021-07-15 12:40] PhilCuriosity commented on #34144
好的，谢谢

[2021-07-15 12:40] #34144 closed, assigned to littletomatodonkey

[2021-07-15 12:43] ZZHHogan commented on #34180
可以的，我通过更改版本就能成功安装和测试了

[2021-07-15 12:57] littletomatodonkey commented on #34180
嗯嗯好的~

[2021-07-15 13:00] entropyfeng commented on #34167
您好昇腾310是针对边缘设备的而不是服务器吧？这个链接是paddle编译，我们需要的是paddleLite，谢谢！

[2021-07-15 13:06] littletomatodonkey commented on #34167
哦哦，看这个PaddleLite的文档，应该是已经支持了哈

https://paddle-lite.readthedocs.io/zh/latest/introduction/support_hardware.html

![image](https://user-images.githubusercontent.com/14270174/125793087-43a10f4a-d98b-4ab8-8774-684fee4c2bc5.png)

[2021-07-15 13:10] entropyfeng commented on #34167
但是PaddleLite的部署文档和源码编译文档中仍没有对昇腾310的描述？Android和ARM Linux都没有。。

[2021-07-15 20:54] harsh-curl commented on #34164
@MissPenguin  even after updating the gcc version to 9.2.0. I am getting the same error.

[2021-07-16 02:13] OleNet opened #34201 "as stride op 比 torch 慢了700倍"
我这里测了一下 as_strided op， 发现paddle的op速度和pytorch的速度差的比较多
可否帮忙看一下我的用法是否正确？
这个op是否可以优化一下？

| seconds / slice op            | cpu        | gpu        |
| ----------------------------- | ---------- | ---------- |
| paddle静态图 loop(exe.run()   | 0.00308440 | 0.00219843 |
| paddle静态图 exe.run(loop()?) | 0.00297328 | 0.00014069 |
| paddle动态图                  | 0.00164805 | 0.00013993 |
| torch

[2021-07-16 02:28] Steffy-zxf commented on #34018
@IamDestiny 麻烦给一个最小的复现代码，运行项目发现在展示图片时出现错误，与以上提及错误无关。麻烦给出最小复现代码，方便排查问题。
![image](https://user-images.githubusercontent.com/48793257/125882383-3c0ee54d-2e0f-4f5e-b422-00aa9d53b47b.png)

[2021-07-16 04:06] hjx3325 opened #34203 "paddle 源码安装报错 Segmentation fault"
系统环境：Centos 7.9 + cuda10.2

按照官方流程用源码方式安装

https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/compile/linux-compile.html#anchor-5

最后 cmake 后执行 make -j$(nproc) 编译，到最后报错，如下：

[ 99%] Built target paddle_inference_c
[ 99%] Generating .check_symbol
[ 99%] Building CXX object paddle/fluid/pybind/CMakeFiles/paddle_pybind.dir/pybind.cc.o
[ 99%] Built target check_symbol
c

[2021-07-16 04:37] btobab commented on #34018
好哒好哒
[layer.py.zip](https://github.com/PaddlePaddle/Paddle/files/6827836/layer.py.zip)
[code]

[2021-07-16 04:55] littletomatodonkey commented on #34167
你好，刚才问了下，最近正在做，预计两周内会把代码和文档提交到develop分支哈，到时候可以用develop分支进行开发哈

[2021-07-16 04:57] entropyfeng commented on #34167
好的，非常感谢！

[2021-07-16 04:58] littletomatodonkey commented on #34167
这个是针对atlas300的，如果是atlas200dk或者其他硬件的话，可能还要再等等哈

[2021-07-16 04:59] entropyfeng commented on #34167
预计要等多久啊？

[2021-07-16 05:38] littletomatodonkey commented on #34167
这个最早可能得下个月

[2021-07-16 05:39] entropyfeng commented on #34167
好的谢谢！

[2021-07-16 08:41] ziyaxuanyi opened #34211 "手动修改梯度"
请问如何修改一个model在训练过程中训练参数tensor的梯度grad？
因为要消除loss权重的影响，需要手动修改grad，但是报错can't set attribute

[2021-07-16 08:54] zhwesky2010 commented on #34203
@hjx3325 你好，请问是否内存被其他地方占用了呢，paddle我们每天都在进行集成编译，编译是没有语法问题的，可能是内存不够的原因，建议make -j1降低并发编译

[2021-07-16 09:06] #34180 closed, assigned to MissPenguin

[2021-07-16 09:39] zhwesky2010 commented on #34201
@OleNet 感谢反馈，我们后续测一下

[2021-07-16 09:53] zhwesky2010 commented on #34211
@ziyaxuanyi tensor.grad只是会返回tensor的梯度，只有get_attr，没有写set_attr。如果要inplace修改Tensor，可以试试 `x[:]=1`

[2021-07-16 15:07] lytning98 opened #34215 "【单机多卡训练】Fail to open /proc/self/io: Permission denied"
单机多卡训练时出现 warning
[code]
随后程序卡死不再有任何运行进展。
**复现情况**：一段时间以来一直可以正常训练，某次训练时突然报错，自此之后每次运行都会复现，**大部分情况下重启机器也无法恢复正常**，单卡训练无此问题
请问这会是什么原因导致的？在本 repo 的源码中没有找到这个cpp文件（似乎是 CUDA 相关的源文件），也没有查询到相关资料。
训练代码中与单机多卡训练有关的[代码](https://github.com/lytning98/taming-paddle/blob/3f40f57b36fec56501127fec5c2c4a0aaa439636/train.py#L218-L219)

#### 附：环境信息
ubuntu 16.04
单卡训练
来自 conda 的环境信息：
[code]
Paddle says,
[code]

[2021-07-16 15:23] lytning98 commented on #34215
`GLOG_v=3` 时的 [stderr log](https://gist.github.com/lytning98/2231433c39f68b9a1e1570c3e92f5b13)

[2021-07-16 15:55] lytning98 commented on #34215
UPDATE: 再重启一次机器就恢复正常了，但估计还是会偶尔复现

[2021-07-17 00:39] SevenPLF commented on #33950
麻烦看下我的回复

[2021-07-17 11:10] luckysheep861 commented on #33971
请问这个问题解决了吗？我也需要实现paddle版本的FGM

[2021-07-17 11:54] #34125 closed, assigned to phlrain, yinhaofeng

[2021-07-17 19:31] #32109 closed, assigned to tink2123

[2021-07-17 23:34] arogozhnikov opened #34220 "Segfault on trivial transpose"
**System information**
-PaddlePaddle version 2.1.1
-CPU: including CPUMKL/OpenBlas/MKLDNN version
-GPU: not used
-OS Platform and Distribution: Mac OS 10.15
-Python version: 3.9.0
Note: You can get most of the information by running [summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py).

**To Reproduce**
See code below. Paddlepaddle doesn't handle zero-dimensio

[2021-07-18 03:34] lytning98 commented on #34215
似乎是由于其他原因导致进程崩溃，暂时关闭issue

[2021-07-18 03:34] #34215 closed, assigned to zhwesky2010

[2021-07-18 03:43] lytning98 opened #34221 "单机多卡训练时如何实现多遍backward？"
由于模型设计，在 forward 过程中需要对几个 tensor 关于某参数求偏导获得梯度值（以计算适应性参数）。
由于已知的在最新 release 中还未修复的问题（参考 #33989 ）无法使用 `paddle.grad` 求偏导，根据该 issue 中的开发人员的指引只能使用先 `backward()` 再 `tensor.grad` 获取偏导梯度的方法。
但在单机多卡并行训练中，在 forward 过程中似乎不能进行多次 backward 操作，提示
[code]
其中提到的 `find_unused_parameters` 参数已经设置为了 `True`。
在单卡训练中一切正常。
请问如何在单机多卡训练中正确实现这一功能？

相关代码如下，使用的是 paddlepaddle 2.1
[code]

[2021-07-18 05:20] Duanexiao opened #34223 "centos7 armV8 源码编译成功,import paddle报错ImportError: /root/paddle/build/python/paddle/fluid/core_noavx.so: ELF load command alignment not page-aligned(使用源码编译的patchelf可成功编译并安装)"
源码编译paddle后pip install 编译生成的paddle whl文件，在校验是否安装成功的时候报错
Can not import noavx core while this file exists: /root/paddle/build/python/paddle/fluid/core_noavx.so
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/root/paddle/build/python/paddle/__init__.py", line 25, in <module>
    from .fluid import monkey_patch_variable
  File "/root/paddle/build/python/paddle/fluid/

[2021-07-18 08:51] w5688414 opened #34226 "TypeError: forward() takes 2 positional arguments but 24 were given"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 2.0
    2）CPU/GPU：cpu
    3）系统环境：Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出

[2021-07-19 01:48] #34073 closed, assigned to chenjiaoAngel

[2021-07-19 01:56] Duanexiao commented on #34223
搞定了，不能使用系统yum install 的patchelf,我直接源码编译的patchelf，然后按照源码编译paddle就ok了

[2021-07-19 02:35] MissPenguin commented on #34164
This kind of error message is an environmental problem. If it is not feasible to try different versions of GCC, you can try to solve it in the following ways:

Check whether libstdc++.so.6 is installed in the current directory by command "strings /usr/lib64/libstdc++.so.6|grep CXXABI".  If yes, migrate the relevant so to the current directory. More details：https://blog.csdn.net/zerow__/article/det

[2021-07-19 03:10] GT-ZhangAcer commented on #34018
## 补充一份容易复现的代码
[code]

[2021-07-19 03:17] zhwesky2010 commented on #32833
@1205469665 这个不是cmake配置问题，是最后加载编译成的 so动态库文件时，报``无法页面对齐``，应该是CPU问题，https://github.com/JuliaLang/julia/issues/33293 这里也是一样的问题

[2021-07-19 03:20] MissPenguin commented on #34163
您好，libyaml-cppmt.lib编译问题可以网上找下有没有解决方案哈，另外，win系统下使用Paddle建议先安装docker，不然win系统确实比较容易出环境问题，也不太好查。

[2021-07-19 03:26] joey12300 commented on #34226
您好，paddle.summary目前不支持输入是个list的参数。https://github.com/PaddlePaddle/PaddleRec/blob/release/2.1.0/models/multitask/esmm/net.py#L79 我理解inputs是个list，装着多个shape一致的tensor。可以尝试把inputs中所有tensor concat起来，使得inputs是个tensor。

[2021-07-19 03:38] joey12300 commented on #34220
@arogozhnikov thanks for providing details about processing zero-dimensional tensor in transpose (reshape). We will upgrade the ability of processing zero-dimensional tensor in future. :)

[2021-07-19 03:58] wawltor commented on #32317
https://github.com/PaddlePaddle/PaddleNLP/blob/147a943383efe23593c20d1d104a6c3591bd628b/paddlenlp/transformers/bert/modeling.py#L310  通过set_value方式来进行parameter的赋值，具体使用方式可以见链接

[2021-07-19 03:59] wawltor commented on #33971
https://github.com/PaddlePaddle/PaddleNLP/blob/147a943383efe23593c20d1d104a6c3591bd628b/paddlenlp/transformers/bert/modeling.py#L310 通过set_value方式来进行parameter的赋值，具体使用方式可以见链接

[2021-07-19 06:46] Steffy-zxf commented on #34018
@IamDestiny 你好！看了你的测试代码，发现是你的用法用问题，`paddle.nn.BCELoss()`的输入第一参数是经过模型网络的输出预测值，第二参数是label。你上面的代码正好相反了

应该为

参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/BCELoss_cn.html#bceloss

[2021-07-19 07:31] gaogaoxingxing2010 opened #34233 "您好，工厂零件计算机视觉质检，一般是现场布置摄像头做图像分类，在图像分类前需要先进行目标检测吗？计算机视觉做质检是什么流程呢？"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-07-19 08:21] zhwesky2010 commented on #34215
@lytning98 看起来是操作系统的问题，无法打开这个文件 /proc/self/io，应该是没有管理员权限，sudo试下

[2021-07-19 10:35] chenwhql commented on #34221
您好，forward过程中求反向需要使用paddle.grad，backward是不能在前向过程中多次调用的，接口的使用场景就是这样的设计的，所以麻烦用paddle.grad试一下

至于前面提到issue里grad的速度差异，修复会在下个版本中发布，但这个应该是不影响正确性的

[2021-07-19 12:27] TimZhang001 opened #34244 "TensorRT+多batch+非对称分辨率下的推断问题"
我这边在测试的时候发现一个问题，针对TensorRT版本的infer，在输入网络尺寸宽度不等于高度的时候，存在一些问题
1. 不开启TenorRT ，多batch下一切正常
2. 开启TensorRT，提示长度和宽度设置错误。按照提示进行宽度高度互换，所有的推断结果异常

![image](https://user-images.githubusercontent.com/7878012/126159627-eed0315e-eeee-4e94-8db6-b7a77b8247c2.png)

[2021-07-19 12:40] #34221 closed, assigned to joey12300, chenwhql

[2021-07-19 12:45] lytning98 commented on #34221
`paddle.grad` 每次调用耗时是分钟级，完全处于不可用状态。
用把一次 forward 拆分为多次 forward 然后每次只 backward 一个 loss 项的hack办法解决了问题，但极大的牺牲了效率，只能希望下一个版本尽快发布吧

[2021-07-19 13:11] btobab commented on #34018
好哒好哒，谢谢姐姐

[2021-07-19 13:47] quyingqi opened #34250 "升级paddle 2.0版本后报错 Cuda error(9)"
1）PaddlePaddle版本：2.0.0 / 2.1.0
2）GPU：V100、CUDA 10.1，显存32g
3）系统环境：paddlecloud V100集群，默认环境

训练信息：单机多卡，代码中使用了fleet、recompute、amp
问题描述：基于ERNIE2.0代码训练双塔模型（静态图），在同样的代码下和环境下，使用paddle1.8 batch size可以开到256，使用paddle2.0+后同样的batch size会报错（Cuda error(9)，如下图），batch size降至128才能正常运行（观察运行时显存占用约16g）。
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/6824077/126169830-15efffa8-56cf-4582-ab

[2021-07-19 14:15] btobab opened #34253 "nn.NLLLoss使用报错信息看不懂"
paddle版本：2.1.1
环境：mac11.4 本地CPU
![本地代码](https://user-images.githubusercontent.com/66876429/126174373-ce99eef2-7d8f-4cf1-a98b-5bc467df0a54.png)
![image](https://user-images.githubusercontent.com/66876429/126174277-7407dfbd-755e-4ce7-99cc-ffc4ee7f422e.png)

[2021-07-19 14:47] Cppowboy commented on #25440
我也遇到同样的问题，我把ids打印出来，发现没有超出范围的数。
我很好奇-4647714812233515008这种超级大的值是怎么来的？
另外吐槽一下，paddle的报错实在是太不直观了，重复打印了一大堆相似的东西，也没有其他信息，具体是哪个embedding，对应的op的name，啥信息也没有

[2021-07-19 14:56] Cppowboy commented on #26760
我也遇到类似的问题，请问后来解决了吗？

[2021-07-20 01:58] #34020 closed, assigned to zhwesky2010

[2021-07-20 02:47] wawltor commented on #34250
您好，看结果是显存溢出了。在2.0的时候我们对很多op操作进行了加速操作，部分Op的显存占用有升高，因此出现了这个问题。

[2021-07-20 03:03] shangzhizhou commented on #34244
1.使用TensorRT推理需要实际推理输入的shape和模型结构定义时使用的输入shape一致（可视化看到的模型输入shape）。
2.如果需要改变输入shape，可以使用config.SetTRTDynamicShapeInfo设置动态shape, api参考 https://paddleinference.paddlepaddle.org.cn/api_reference/cxx_api_doc/Config/GPUConfig.html#tensorrt
3.实际使用示例可参考https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/release/v2.1/c%2B%2B/ernie-varlen/ernie_varlen_test.cc#L37

[2021-07-20 03:05] wawltor commented on #34253
这里的意思是说label的范围应该小于class的数目，所以报错。不过看报错确实不太清晰，我反馈一下。

[2021-07-20 03:11] heavengate commented on #34233
主要看你的需求场景，一般情况下如果只是需要知道是否有缺陷或者缺陷类别的话，不需要加目标检测。工业质检流程可以参考 https://aistudio.baidu.com/aistudio/education/group/info/15903

[2021-07-20 03:47] #30739 closed, assigned to zhwesky2010

[2021-07-20 06:25] davidten0921 commented on #31795
請問一下該怎安裝TensorRT呢?

[2021-07-20 06:38] btobab commented on #34253
好哒好哒，谢谢大佬

[2021-07-20 06:46] TimZhang001 commented on #34244
你好，我这边有确认的，网络的设置的时候就是1*78*110的，shape是一致的。我这边用summary也确认了的。我这边测试了宽度=高度的情况，是没有问题的，但是宽度~=高度的时候存在问题，但是我这边由于应用不希望增加resize的时间

[2021-07-20 06:57] Bazenr commented on #31795
直接搜索引擎里搜TensorRT安装，就有教程，然后TensorRT需要去NVIDIA官网注册账号然后下载，注意下载的TensorRT要对应自己的CUDA和CUDNN版本

[2021-07-20 06:57] Bazenr commented on #31795
直接搜索引擎里搜TensorRT安装，就有教程，然后TensorRT需要去NVIDIA官网注册账号然后下载，注意下载的TensorRT要对应自己的CUDA和CUDNN版本

[2021-07-20 07:22] dongfangyixi commented on #33547
@lcdisme 解决了，我之前nvcc版本和cuda不一致，paddle 也需要nvcc版本和cuda一致。（虽然pytorch 和 tf 都不需要）

[2021-07-20 07:32] chenwhql commented on #34105
有两个问题确认下：
1. 您给出的两个例子之间有关联吗？如果有的话是什么，PARL内部使用的是cloudpickle吗？
2. Paddle静态图在这个场景下pickle的是什么对象？Program？

[2021-07-20 07:33] Fly-hub opened #34268 "使用pip和conda安装paddle2.1版本报错，报错信息如下："
W0720 15:10:57.600003 10080 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 5.0, Driver API Version: 11.3, Runtime API Version: 10.2
W0720 15:10:57.650135 10080 dynamic_loader.cc:238] Note: [Recommend] copy cudnn into CUDA installation directory.
 For instance, download cudnn-10.0-windows10-x64-v7.6.5.32.zip from NVIDIA's official website,
then, unzip it and copy it into C:\

[2021-07-20 07:52] shangzhizhou commented on #34244
从报错日志看，网络定义是1 x 78 x 110，但是您推理输入的shape是1 x 110 x 78，请检查输入数据是否正常
如果输入shape不对，除了改shape，数据的排布也需要做对应的改动

[2021-07-20 07:59] zenghsh3 commented on #34105
1. PARL内部使用的是cloudpickle，第一个例子是为了不引入PARL的情况下复现这个问题
2. Paddle静态图或者动态图在这个场景下都只是pickle了继承nn.Layers的类（不是实例化后的对象），具体可以参考cloudpickle[文档](https://github.com/cloudpipe/cloudpickle)

[2021-07-20 08:07] gongweibao commented on #34268
`cudnn64_7.dll`这个文件所在的路径在不在PATH中？

[2021-07-20 08:40] Yikunzhang commented on #34215
请问这个问题解决了吗，我也碰到同样的问题

[2021-07-20 09:13] chenwhql commented on #34105
关于2，没太明白，意思是静态图这么写就可以吗？好像我试了下也没过，能否给个demo

[2021-07-20 09:19] xiao9284 commented on #34268
配置了依旧不行

[2021-07-20 09:28] xiao9284 commented on #34268
由于我的工作特殊性，数据不能出现在网上，我必须使用win10单机版。。所以必须得在内网中搭建环境。这边我显卡用了个GTX 850M ，驱动用的466版本，cuda11+cudnn11 和cuda10.2+cudnn10.2都组合过了，VS也两个版本都安过了，使用pip下载了11.0和10.2的paddle都试过，报错都是爆同样的错。实在不知道怎么搞了
![1](https://user-images.githubusercontent.com/23395456/126297744-dcb3feaf-2dea-4ea6-8bd8-bdaf55ca40ca.png)
![2](https://user-images.githubusercontent.com/23395456/126297757-688e95d0-b0fc-4125-8f96-8b0b4199b754.png)
![3](ht

[2021-07-20 09:32] xiao9284 commented on #34268
由于我的工作特殊性，数据不能出现在网上，我必须使用win10单机版，python3.8.8。。所以必须得在内网中搭建环境。这边我显卡用了个GTX 850M ，驱动用的466版本，cuda11+cudnn11 和cuda10.2+cudnn10.2都组合过了，VS也两个版本都安过了，使用pip下载了11.0和10.2的paddle都试过，报错都是报同样的错。实在不知道怎么搞了
![1](https://user-images.githubusercontent.com/23395456/126298651-d1ae270c-1b20-42e4-bc6e-5675aba06081.png)
![2](https://user-images.githubusercontent.com/23395456/126298652-0d790fcd-74b8-4e2b-8e9b-2b207590216e.

[2021-07-20 09:33] xiao9284 commented on #34268
由于我的工作特殊性，数据不能出现在网上，我必须使用win10单机版，python3.8.8。。所以必须得在内网中搭建环境。这边我显卡用了个GTX 850M ，驱动用的466版本，cuda11+cudnn11 和cuda10.2+cudnn10.2都组合过了，VS也两个版本都安过了，使用pip下载了11.0和10.2的paddle都试过，报错都是报同样的错。实在不知道怎么搞了
![1](https://user-images.githubusercontent.com/23395456/126298883-7ee7e219-c3f5-4a5e-b44b-e5521140c862.png)
![2](https://user-images.githubusercontent.com/23395456/126298886-92238741-42fe-479a-ae22-8fcf55580f1e.

[2021-07-20 09:45] zhwesky2010 commented on #34268
@Fly-hub 你好，cudnn安装有些问题，需要解压后是把三个子文件夹直接拷贝到v10.2下面，这里拷贝多了一层v10.2/cuda，所以没有加载到动态库。麻烦重装下cudnn

[2021-07-20 09:52] lytning98 commented on #34215
解决了，出现这个问题是因为训练程序由于 exception 或者其他问题导致某个进程 crash 掉了，crash 之后自然没法读写 `/proc/self` 目录。但在多卡多进程训练的情况下 paddle 没有输出任何错误信息，让我误以为这行 warning 是报错信息。
可以先尝试单卡训练看是否报错，如果错误仅能在多卡的时候复现的话可以尝试使用 debug 工具调试，我是用 vscode 在 debug 状态下找到的问题，vscode 的 debugger 可以正确展示真正的报错信息。

@zhouwei25 FYI，感觉没有报错信息应该是 bug，有时间我详细看下再提新的 issue

[2021-07-20 09:57] zenghsh3 commented on #34105
表述可能有点问题，静态图下+parl/cloudpickle是可以正常进行的，但静态图下用法不是继承nn.Layers的类；
torch下类似的继承nn.Module也是可以正常运行的

[2021-07-20 10:00] chenwhql commented on #34105
现在比较困惑的是，Layer并没有metaclass，不知道为啥会报这个，以及这个报错栈里也没有paddle，这个您还有什么线索吗

[2021-07-20 10:28] dongfangyixi commented on #33547
主要是nvcc版本 link的 和 系统的不一样，所以需要重装 一下cuda 11.2

[2021-07-20 10:28] #33547 closed, assigned to hong19860320

[2021-07-20 10:31] Fly-hub commented on #34268
确实是这个问题，重装cudnn去掉多的那层文件夹就可以了。

[2021-07-20 10:36] xiao9284 commented on #34268
您好，谢谢您的答疑，我这边按照您的方法重装了cudnn，问题已经解决了，非常感谢您的帮助

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月20日(星期二) 晚上6:31
***@***.***&gt;;
***@

[2021-07-20 10:36] zenghsh3 commented on #34105
我在types.py文件里加入了打印引起异常的base class，https://aistudio.baidu.com/aistudio/projectdetail/2206966?shared=1
![image](https://user-images.githubusercontent.com/5762635/126310192-0b5e249c-a4d3-45e9-963f-b9fe0a0587c0.png)
我猜测可能跟这个类（paddle.fluid.dygraph.layers.Layer）的父类（core.Layer）相关：
https://github.com/PaddlePaddle/Paddle/blob/b5aab4f0dde82c0d6290f1708cc4bf402c15d103/python/paddle/fluid/dygraph/layers.py#L8

[2021-07-20 10:37] #34268 closed, assigned to gongweibao

[2021-07-20 11:15] #34253 closed, assigned to wawltor

[2021-07-20 11:16] #34233 closed, assigned to heavengate, wawltor

[2021-07-20 11:16] #34226 closed, assigned to joey12300

[2021-07-20 11:16] #34223 closed, assigned to joey12300

[2021-07-20 12:41] xingjing1 commented on #32797
infer 的 handle，我reshape的时候出了一些差错。  也报了同样错误，供参考

[2021-07-20 12:42] FeixLiu commented on #34250
2.0升级后recompute的config关键字有变化，参考[link](https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/distributed_cn.html#distributedstrategy)

[2021-07-20 15:01] yuandongbo123 opened #34282 "paddleSeg 训练时 Images: 200 mIoU: 0.5000 Acc: 1.0000 Kappa: nan 一直是这样也不更新 .. 如下 求大佬指点"
[code]

[2021-07-21 03:09] chenwhql commented on #34105
好，我查下pybind在这块有没有什么坑

[2021-07-21 03:39] lwb69 opened #34290 "模型训练时损失值出来后上下徘徊，不下降，球球了0.0"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu    2.0.1.post101
    3）GPU：v100,cuDNN Version: 7.6
    4）系统环境： Ubuntu 18.04 ,python3.6.9
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
模型是根据pytorch模型改的paddle模型，做的图像生成文本，损失函数用的CrossEntropyLoss，优化器Adam，

torch和paddle两个模型结构基本一模一样，两边同时运行，第一轮的loss值也接近，但是再训练torch模型的损失马上下降了，而paddle的一直上下徘徊，麻烦看看吧球球了
这是训练过程

[code]

下面是模型

[code]

[2021-07-21 03:45] lvyaoyu opened #34291 "windows系统pthon3.8安装不了paddlelite"
ERROR: Could not find a version that satisfies the requirement paddlelite (from versions: none)

[2021-07-21 04:47] holyseven opened #34293 "Dropout has no gradient in eval mode"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.1
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：10.2
    4）系统环境：Ubuntu

---

有时在eval模式下也想得到gradient。

好像大部分operations都可以，但是`dropout`不行。以下是一个MWE，可以正常运行。但是加上`y = self.dropout(y)`就会报错：

  [Hint: Expected ctx->

[2021-07-21 06:53] zhwesky2010 commented on #33404
@lytning98 https://github.com/PaddlePaddle/Paddle/pull/33722 已修复搜索路径的问题

[2021-07-21 06:54] zhwesky2010 commented on #33208
@yang20085936 @lytning98 https://github.com/PaddlePaddle/Paddle/pull/33722 已修复搜索路径的问题

[2021-07-21 06:55] DrugD opened #34297 "One small bug?"
部分日志：
[07/21 14:40:44] ppdet.engine INFO: Epoch: [0] [  0/200] learning_rate: 0.000000 loss_xy: 6.467412 loss_wh: 22.083004 loss_iou: 25.574692 loss_obj: 5243.871582 loss_cls: 33.527027 loss: 5331.523438 eta: 27 days, 22:18:02 batch_cost: 18.5622 data_cost: 17.9648 ips: 1.7239 images/s
[07/21 14:43:00] ppdet.engine INFO: Epoch: [0] [ 20/200] learning_rate: 0.000025 loss_xy: 7.020596 loss_wh: 23.81

[2021-07-21 07:10] Chenfei-Kang commented on #32500
这个网上一大堆，你搜搜FGM的pytorch咋写的，这个是最简单的，其他的复杂的可能paddle没有对应的接口，我记得当时就只用了这个。

[2021-07-21 08:03] lcdisme commented on #33547
好的，谢谢。我的是由于cudnn版本不兼容，所以退回cuda10.2就可以了。看来安装异常主要还是要排查环境。

[2021-07-21 12:59] phlrain commented on #34290
请问下，能否提供详细的复现环境
你说的第二轮loss不下降，是第二个epoch不收敛，这个是不是第一个epoch结束之后做了evaluation，把mode从train切换到了eval，需要调用下model.train()

[2021-07-21 13:01] Superjomn commented on #34297
你好，请问这个是 paddle detection 吗？

麻烦帮提供下， paddlepaddle 和对应组件的 版本信息可以吗？

[2021-07-21 13:15] huangjun12 commented on #34293
paddle 2.1跑示例代码，不开dropout也会报错的，目前不允许eval时跑反向

[code]

[2021-07-21 14:17] lwb69 commented on #34290
感谢回答，我这边还在第一个epoch，model确定是train状态，每一个batch训练后的loss都不下降。
请问要怎么将所有代码向您提交，直接评论给吗？

[2021-07-21 14:32] lwb69 commented on #34290
将代码和数据一起压缩包发您邮箱行吗

[2021-07-22 01:00] gaogaoxingxing2010 opened #34321 "您好，材料图片按照颜色分类中，材料形状种类特别多，外表颜色一共两类。 1，多形状会影响预测吗？ 2，准备材料图片数据集应该注意什么呢？ 3，图片最少准备多少呢？越多越好吗？ 感谢感谢"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-07-22 02:45] tianshuo78520a commented on #32894
这个[PR](https://github.com/PaddlePaddle/Paddle/pull/34309)解决了问题

[2021-07-22 02:52] holyseven commented on #34293
这是为什么呢？之后的版本是所有的层eval时都不允许反向吗？`paddle.grad`也是同样的道理吗？

[2021-07-22 03:10] qingqing01 commented on #33790
Fixed in https://github.com/PaddlePaddle/Paddle/pull/34140

[2021-07-22 03:10] #33790 closed, assigned to yaoxuefeng6

[2021-07-22 05:48] LinXin04 commented on #28360
同样的问题，请问有解决吗？

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Sun_Jul_28_19:07:16_PDT_2019
Cuda compilation tools, release 10.1, V10.1.243

[2021-07-22 07:14] jerrywgz commented on #34321
请问最终的任务是希望对输入图片的颜色进行二分类吗？这样的话不同形状的样本应该对分类精度影响不大，数据集量是越多越好的

[2021-07-22 08:38] #32894 closed, assigned to Aurelius84

[2021-07-22 08:48] miraclebiu opened #34325 "gather没有修改lod信息"
<img width="804" alt="49782386ca6e7b42b36934563a3cb16b" src="https://user-images.githubusercontent.com/16793970/126612641-52bdeb35-bb3a-40cf-a4bc-35652da9db03.png">

我有4张图，原来有378个bbox，通过score进行对bbox进行了过滤，然后gather之后只有130个了，但是lod信息不对，没有对应修改

[2021-07-22 09:02] jerrywgz commented on #34325
目前gather操作对lod不支持，我这边先记个需求，看后续怎么处理

[2021-07-22 09:07] miraclebiu commented on #34325
那目前有什么方式能够处理这样的行为？我需要处理lod信息过roi-align

[2021-07-22 09:47] aerialvis opened #34326 "ValueError: (InvalidArgument) The input of Op(Conv) should be a 4-D or 5-D Tensor. But received: input's dimension is 1, input's shape is [0]."
import paddle
import cv2
import paddlehub as hub

model = hub.Module(name='unet_cityscapes')
img = cv2.imread("path/to/image")
model.predict(images=[img], visualization=True)

简单使用预训练模型做预测，出现了这个错误
ValueError: (InvalidArgument) The input of Op(Conv) should be a 4-D or 5-D Tensor. But received: input's dimension is 1, input's shape is [0].
  [Hint: Expected in_dims.size() == 4 || in_dims.size() == 5

[2021-07-22 09:50] #34326 closed, assigned to seiriosPlus

[2021-07-22 10:27] jerrywgz commented on #34325
这个目前确实还不支持，可以先使用batch_size=1来训练吗

[2021-07-22 11:28] 670133189 opened #34327 "如何在paddle实现 SGD + Momentum？"
请教如何在paddle实现 SGD + Momentum？

[2021-07-22 11:46] gaogaoxingxing2010 commented on #34321
是的，进行材料颜色的二分类或者三分类。您有推荐的相思案例demo吗？感谢感谢！

[2021-07-22 11:47] gaogaoxingxing2010 commented on #34321
是的，进行材料颜色的二分类或者三分类。您有推荐的相似颜色分类案例demo吗？感谢感谢！

[2021-07-22 13:42] Stave604671 opened #34331 "删除这个贼没用的warning"
D:\Anaconda\envs\book-develop\Lib\site-packages\paddle\fluid\dataloader\dataloader_iter.py
AIStudio跑的
paddle2.1的这个库，第198行，这个warning删了吧，啥用也没有净占控制台地方，影响孩子debug了。要么解释清楚错误在哪儿，要么别解释。筛了半天才发现数据集里面的某张图片有问题。下次遇上这个问题要不代替我们解决一下，把问题图片删了？

[2021-07-22 18:54] lidanqing-vv commented on #33005
![image](https://user-images.githubusercontent.com/47151829/126693443-fc0bdfad-c259-44cc-b8e8-9230454916dc.png)

![image](https://user-images.githubusercontent.com/47151829/126693547-f9fa84b6-365c-4162-8a6b-125281cced27.png)

@wzzju

[2021-07-23 00:55] zmdcs opened #34333 "PaddleDetection剪枝前的敏感度分析"
- 模型信息
    1）模型名称
yolo3-mobilev1
 2）使用数据集名称
fire

如何对自己的模型进行敏感度分析，实例中只有自己随手建立的手写数字识别的模型

[2021-07-23 02:41] betterpig opened #34335 "关于使用paddle教程和用法的一些疑问、建议和意见"
### 以下文档和运行代码均是基于paddle release/2.1版本
1. 位置：飞桨paddlepaddle.org.cn/文档/使用教程/模型开发/训练与预测/3.2拆解model.evaluate()
评估模型应该是评价模型在测试集上的整体性能，在paddle中是每一个batch数据输出该次数据的损失和精度，感觉挺别扭的，是否有整体算，不需要再自己做平均的方法？
2. 位置：飞桨paddlepaddle.org.cn/教程/零基础/第二章上/3手写数字识别之数据处理/异步数据获取
把一长串dataset都打印出来，占了网页大部分篇幅，影响阅读，建议只列出前几行就行，打个省略号或者说明一下没有全部展示。其他有一大串打印的亦是如此。
3. 建议所有教程中的较长一段的代码都加上行号显示和隐藏功能，代码复制功能
4. 位置：飞桨paddlepaddle.org.cn/
教程栏和文档栏中

[2021-07-23 03:11] ceci3 commented on #34333
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/slim/sensitive/README.md 可以参考这个~

[2021-07-23 03:37] BuLuoPiaoYu opened #34336 "2021年7月23日 VS2019编译错误"
**VS2019生成解决方案失败，如下图所示错误**

![image](https://user-images.githubusercontent.com/54087448/126734681-1794799f-4d72-4521-98a0-f3999bb36a47.png)
=============================================================================

**以下为CMake编译过程**

=============================================================================
PS D:\Training_Project\PaddleX Source\Paddle\build>  cmake .. -G "Visual Studio 16 20

[2021-07-23 05:43] jerrywgz commented on #34327
paddle的momentum就相当于torch的SGD + Momentum

[2021-07-23 05:45] jerrywgz commented on #34331
这个warning目前已经在最新的develop版本中去除了，后续发布的paddle版本中将不会再出现

[2021-07-23 06:07] tim20112017 opened #34339 "paddle 序列标注任务的训练高级API model.fit 和 评价指标ChunkEvaluator报错，跟踪源码，疑似是paddle的bug"
代码：
    metric = ChunkEvaluator(label_list=label_vocab.keys(), suffix=True)
    input_ids = InputSpec((-1, -1), dtype="int64", name="input_ids")
    input_token_type = InputSpec((-1, -1), dtype="int64", name="input_token_type")
    # seq_len = InputSpec((-1, -1), dtype="int64", name="seq_len")
    labels = InputSpec((-1, -1), dtype="int64", name="labels")
    model = paddle.Model(pre_model, [input

[2021-07-23 06:09] betterpig opened #34340 "accuracy函数报错"
- 版本、环境信息：
    1）PaddlePaddle版本：release/2.1
    2）CPU：Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz
    3）GPU：Tesla K40m ,CUDA10.2 ,CUDNN7.6
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
- 训练信息
    1）单机，单卡
    2）Operator信息：paddle.metric.accuracy()
- 复现信息：直接运行

- 问题描述：同样的参数，能够计算loss，但是计算acc时报错，按照报错信息修改格式后，又报错
修改前说不支持float
![image](https://user-images.githubusercontent.com/51314274/126735025-4f6a89a4-4

[2021-07-23 06:13] betterpig commented on #34340
环境：docker-ubuntu16.04; python3.6;

[2021-07-23 06:38] ceci3 commented on #34336
You can add -DNOAVX_CORE_FILE=/path/to/your/core_noavx.*  请问下试了这个指令了嘛？

[2021-07-23 06:44] ceci3 commented on #34339
可以先确认一下是否输入了label，报错显示没有传入，可能是把outputs整个当成了lengths参数，labels当成了
predictions参数传到接口里面了

[2021-07-23 06:44] LihangLiu opened #34342 "索引不支持多维tensor indexing"
paddle2.1目前还不支持多维的tensor indexing吗？比如下面这个例子

    import numpy as np
    import paddle

    t = paddle.to_tensor(np.arange(0, 12).reshape(3, 4))
    i = paddle.to_tensor([0, 0, 1, 2])
    j = paddle.to_tensor([0, 0, 3, 3])

    print('t[i]:')
    print(t[i])
    print('t[i, j]:')
    print(t[i, j])

报错信息如下：

    t[i]:
    W0723 14:43:26.482378  6014 device_context.cc:404] Please NOTE: device: 0, GP

[2021-07-23 06:46] ceci3 commented on #34340
您好，y_data需要是int64_t类型的，可以看下文档里写的参数类型说明。https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/metric/accuracy_cn.html#accuracy

[2021-07-23 06:59] zhude233 opened #34343 "在Tensor中无法使用Tensor.bool类型进行布尔索引"
PaddlePaddle版本：2.1

如题所示
![WOIUO_IG5HAWNX_864LD9S2](https://user-images.githubusercontent.com/60126992/126747488-8825e051-108c-480d-864e-22432950f221.png)

[2021-07-23 06:59] zhude233 commented on #34343
如何在tensor下进行布尔索引

[2021-07-23 07:02] ceci3 commented on #34342
您好，目前还不支持

[2021-07-23 07:26] tim20112017 commented on #34339
labels 确定是输入了，但是metric.compute ，这要去的是三个参数，def compute(self, lengths, predictions, labels, dummy=None):。

而之前paddle框架里-metric_outs = metric.compute(*(to_list(outputs) + labels)) 这里只有两个参数，所以系统误认为 labels没有输入。

关键是api里也没有输入computer要求的 length 参数，所以我觉得框架应该根据 metric 的类型判断下，如果是 ChunkEvaluator，需要输入一个 length。

[2021-07-23 07:32] DannyIsFunny commented on #34291
你好、当前Lite 在pip源上发布的库 支持 python版本为2.7 \3.5\3.6\3.7

我们 将尽快提供一个 3.8 installer

[2021-07-23 07:32] tim20112017 commented on #34339
labels 确定是输入了。代码也debug到了。
就像您说的，应该是把outputs整个当成了lengths参数，labels当成了predictions参数传到接口里面了。但是怎么解决这个问题？

[2021-07-23 07:35] tim20112017 commented on #34339
labels 确定是输入了。代码也debug到了。
就像您说的，应该是把outputs整个当成了lengths参数，labels当成了predictions参数传到接口里面了。但是怎么解决这个问题？

是不是paddle 框架应该判断，如果是  ChunkEvaluator 类型，需要传入一个length参数，这个length参数，在
model = paddle.Model(pre_model, [input_ids, input_token_type], [labels])，这里试了好多次，不知道怎么传入进去，也报了好多错。

[2021-07-23 08:07] Reatris opened #34345 "使用jit.save报错：paddleValueError: No valid transformed program for function: forward(input,label), input_spec: None"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.0.post101
    2）CPU：None
    3）GPU：V100
    4）系统环境：AIStudio
- 训练信息
    1）单机
    2）显存信息
    3）paddle.jit.save
- 问题描述：自组网后训练，（动态图）保存模型op保存，以下为报错信息

[code]

如上是我保存模型的方法，inputs 是我输入网络的数据

[code]

报错：

[code]

完整报错：

[code]

[2021-07-23 08:07] visualDust commented on #34343
do consider using `paddle.mask_select`.
example:
[code]
doc at https://www.paddlepaddle.org.cn/documentation/docs/en/api/paddle/masked_select_en.html

[2021-07-23 10:40] #26391 closed, assigned to bjjwwang

[2021-07-23 10:41] bjjwwang commented on #26391
推荐使用新版本的docker容器，需要升级gcc版本到8.2使用paddle 2.0+

[2021-07-23 12:28] DannyIsFunny commented on #34291
你好，我们提供了以3.8版本的离线安装包：
[下载链接](https://bj.bcebos.com/v1/xly-paddle-whl-online/d7653424-ab8a-4260-809c-374f1f18d322/paddlelite-2.9-cp38-cp38-win_amd64.whl?authorization=bce-auth-v1%2F8ee0f5987f634992a1cb9257ff1c8413%2F2021-07-23T12%3A27%3A41Z%2F3600%2F%2F1b81b8686814877c9cf0a33ac0c8c671545cdbd7aba535c8ed0693cf93545da1)

[2021-07-23 21:30] zhuimeng2080 opened #34360 "VS2019 编译 paddle 2.1.1 cuda11.3 出现 elementwise_add_to”: 未找到匹配的重载函数"
D:\Paddle-2.1.1\paddle\fluid\operators\math\selected_rows_functor.cc(430,26): error C2672: “paddle::operators::math::scatter::elementwise_add_to”: 未找到匹配的重载函数
21>D:\Paddle-2.1.1\paddle\fluid\operators\math\selected_rows_functor.cc(337): message : 在编译 类 模板 成员函数“void paddle::operators::math::scatter::MergeAdd<paddle::platform::CPUDeviceContext,paddle::platform::bfloat16>::operator ()(const paddle::pl

[2021-07-24 01:57] zmdcs opened #34361 "下载paddleslim成功但文件列表中没有显示slim文件夹"
下载paddleslim成功但文件列表中没有显示slim文件夹，并且使用paddleDetection中的PaddleDetection/static/slim/sensitive/sensitive.py这个分析敏感度的文件时，报错ImportError: cannot import name 'create_reader' from 'ppdet.data.reader' 该如何解决呢？

[2021-07-24 07:07] gaogaoxingxing2010 opened #34362 "进行材料颜色的二分类或者三分类，但是材料形状多种多样。您有推荐的相似颜色分类案例demo吗？感谢感谢！"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-07-24 08:41] jinchen-chuyang opened #34363 "centos 预测库编译出错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2021-07-24 08:45] jinchen-chuyang commented on #34363
[root@hecs-x-large-2-linux-20210723100922 cpp_infer]# lscpu
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              2
On-line CPU(s) list: 0,1
Thread(s) per core:  2
Core(s) per socket:  1
Socket(s):           1
NUMA node(s):        1
Vendor ID:           GenuineIntel
BIOS Vendor ID:      QEMU
CPU family:          6
Model:

[2021-07-24 08:49] jinchen-chuyang commented on #34363
[root@hecs-x-large-2-linux-20210723100922 cpp_infer]# ll
total 64
drwxr-xr-x 3 root root 4096 Jul 24 16:46 __build
-rwxr-xr-x 1 root root  444 Jul 24 16:46 build.sh
-rw-r--r-- 1 root root 8708 Jul 24 16:33 CMakeLists.txt
drwxr-xr-x 2 root root 4096 Jul 24 14:05 docs
drwxr-xr-x 2 root root 4096 Jul 24 14:05 imgs
drwxr-xr-x 2 root root 4096 Jul 24 14:05 include
-rw-r--r-- 1 root root 9243 Jul 24 14:

[2021-07-24 13:00] zhl1bug opened #34364 "飞桨平台个人信息编辑，有个错别字"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！

飞桨平台个人信息编辑，有个错别字如下帖子，
AI studio 首席技术馆cto 字打错问题反馈
https://aistudio.baidu.com/paddle/forum/topic/show/989460

[2021-07-25 02:37] ceci3 commented on #34345
这个保存接口是保存成静态图模型，保存动态图参数的话可以直接调用paddle.save接口，保存成静态图模型的话，需要先调用paddle.jit.to_static接口转成静态图模型，再调用paddle.jit.save保存

[2021-07-25 02:40] ceci3 commented on #34339
compute接口传输入的时候不要把outputs当成整个list传进去，分开传进去。
paddle.Model(pre_model, [input_ids, input_token_type], [labels]) 这里把list符号去掉

[2021-07-25 02:55] Reatris commented on #34345
@ceci3 我是想保存推理模型的，paddle.save是可以正常保存的，
我正在尝试的是文档里  **3.1.1.2 动态图训练 + 模型&参数保存**
我想的是保存推理模型，但是用了文档里的方法不能保存[https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/08_model_save_load_cn.html](url)

[2021-07-25 03:51] gongweibao commented on #34282
你用的是哪里的例子？自己组网？能否把上下文说的稍微清楚些？

[2021-07-25 05:41] heavengate commented on #34361
你好，下载paddleslim的话文件夹名称是PaddleSlim，另外如果你使用PaddleDetection静态图代码的话需要`cd static`到静态图里运行

[2021-07-25 05:43] heavengate commented on #34362
如果你只想区分颜色的话，可以在做目标检测的时候把类别标注为颜色而不是形状，或者可以通过目标检测把材料检测出来，然后统计检测框里的颜色分布或者检测框中心区域的颜色等方法来区分颜色

[2021-07-25 05:44] heavengate commented on #34363
你好，看你报错信息使用的是PaddleOCR的预测部署的demo代码，可以到PaddleOCR库里问一下https://github.com/PaddlePaddle/PaddleOCR/issues

[2021-07-25 05:46] heavengate commented on #34364
收到，感谢反馈，我们修复一下~

[2021-07-25 11:59] btobab opened #34366 "特定情况下，张量的值无法通过索引改变"
paddle版本：2.1.1
环境：AI Studio,本地CPU
[code]
以上代码在执行过程中，张量x的值无法改变

[2021-07-25 12:02] btobab commented on #34366
另外，tensor的通过索引查找条目的执行速度也比ndarray慢几个数量级

[2021-07-25 15:45] lytning98 commented on #34343
What if I want to combine mask indexing with assignment, i.e. `masked_fill` a tensor like what in PyTorch?
E.g., how to implement a numpy-or-pytorch style statement `x[mask]=0.0` with Paddle?

[2021-07-26 01:23] gglin001 commented on #34135
append: mac下编译debug版本会出现上面的问题, release版本没有此问题

[2021-07-26 01:23] #34135 closed, assigned to pangyoki, yinhaofeng

[2021-07-26 01:49] tim20112017 commented on #34339
大神，您好。

paddle.Model 类的 init 方法，系统定义只支持三个参数，分别是 network，inputs，labels ，源码如下：
def __init__(self, network, inputs=None, labels=None):

如果把list 符号去掉，init 方法，只能接收 pre_model , input_ids 和  input_toke_type 三个参数，labels参数接收不到，系统报错。
TypeError: __init__() takes from 2 to 4 positional arguments but 5 were given。

在 padele.hapi.modey.py 文件中 734行调用了compute 方法，大概如下：

metric_outs = metric.compute(*(to_list(outpu

[2021-07-26 02:27] betterpig commented on #34340
问题已解决，感谢！是我看错了参数说明，第一个是y_predict，可以是float；第二个是y_data，要求是int64。

[2021-07-26 02:29] #34340 closed, assigned to frankwhzhang

[2021-07-26 03:26] ceci3 commented on #34345
@Reatris   哦哦，我看文档里面模型的forward函数上面有  @paddle.jit.to_static 这个上下文管理，你的模型里面加了嘛？

[2021-07-26 03:31] ceci3 commented on #34343
@lytning98 可以尝试用paddle.where 来实现masked_fill 功能哈

[2021-07-26 03:41] hailong23-jin opened #34370 "导入paddle报错"
环境：

Ubuntu 20.04 64位操作系统

安装的是CPU版本

安装命令：

python -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple

conda install paddlepaddle --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/

两个都试过了，均能够安装成功且不报错。

安装成功测试：

[code]

但是导入之后还是报错了。

报错如下：

[code]

[2021-07-26 03:48] Reatris commented on #34345
@ceci3 您仔细看了3.1.1.2 动态图训练 + 模型&参数保存 后面的注意点，特别说明了  `相比动转静训练，Layer对象的forward方法不需要额外装饰，保持原实现即可`

[2021-07-26 04:02] Reatris commented on #34345
@ceci3 再给你贴下文档链接[3.1.1.2 动态图训练 + 模型&参数保存](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/08_model_save_load_cn.html)

[2021-07-26 05:20] Superjomn commented on #32998
这个版本只能一点一点人工对齐。

我们预计下个版本会有自动推导动态 shape 的功能进去，到时候只需要用数据离线 tune 下，相关信息会自动加进去。

[2021-07-26 05:51] visualDust commented on #34343
@lytning98
Boolean array indexing is a feature from NumPy. indexing with a list of booleans performs masking. I can't figure out how is indexing with a boolean array is implemented in PyTorch using the indexing operator, but many issues under the PyTorch repo showed there must be some difference from NumPy.
In Tensorflow we have `boolean_mask` and `masked_select` in PyTorch. I haven't seen another

[2021-07-26 06:09] #34343 closed, assigned to frankwhzhang

[2021-07-26 06:15] huilin16 opened #34380 "请问paddle有没有image caption相关任务的工具包"
请问paddle有没有image caption相关任务的工具包，类似于目标检测的PaddleDetection一样

[2021-07-26 06:16] huangjun12 commented on #34293
model.eval主要对网络中的batch norm和dropout层起作用

[2021-07-26 07:17] zmdcs opened #34382 "PaddleDetection敏感度分析存下来的demo.data文件有什么用？"
官方文件中说，可以使用python画图，是通过输出的数据，自己一条条取下来，画出剪枝比例和acc loss的关系图吗？还是demo.data中有储存呢？剪枝是剪掉对mAP值影响不大的卷积层，还是所有的卷积层按比例剪呢？许多官方文档中的链接都已经访问不到了，希望你们能恢复，比如sensitive里的那些方法的教程，谢谢。
主要是想问demo.data文件有什么用？

[2021-07-26 07:43] holyseven commented on #34293
为什么不允许呢？之后会允许吗？2.0允许bn反向、2.1就不允许了。

我明白这两个层training和eval的时候是不一样的，但是也是可以在不同模式下计算梯度。除了这俩，其它层允许eval跑反向吗？有些特定的场景下，对模型进行分析的时候，是需要在eval下得到梯度。

[2021-07-26 07:51] guantongpeng opened #34385 "安装报错OSError: (External) Cublas error, `CUBLAS_STATUS_INVALID_VALUE`."
- 版本、环境信息：
    1）PaddlePaddle版本：2.1
    2）CPU：Intel(R) Xeon(R) Gold 6242 CPU @ 2.80GHz
    3）GPU：GPU3090 CUDA11.2 CUDNN8.1
    4）系统环境：Ubuntu18、Python3.7

- 安装方式信息：
新创建了一个conda环境，然后在环境中使用pip安装:python -m pip install paddlepaddle-gpu==2.1.1.post112 -f

安装完成之后测试：
import paddle
paddle.utils.run_check()
报错：
![image](https://user-images.githubusercontent.com/52579652/126952843-c79d3b74-c195-4496-9879-f21

[2021-07-26 09:26] Aurelius84 commented on #34345
这里的BACKBONE 是类，还是类实例？

[2021-07-26 09:28] Reatris commented on #34345
@Aurelius84  BACKBONE是paddle.nn.Layer的类实例

[2021-07-26 09:34] Aurelius84 commented on #34345
这里的 inputs 是 `paddle.static.InputSpec` 类型么

[2021-07-26 09:34] CheQiXiao opened #34390 "PP-YOLO模型，用C++推理的时候，CreatePredictor 出错"
PP-YOLO模型，使用C++推理，CreatePredictor 报如下错，哪位大神帮忙看一下什么原因

WARNING: Logging before InitGoogleLogging() is written to STDERR
E0723 23:02:00.150832 19976 helper.h:84] reshape (Output: reshape2_8.tmp_01204): volume mismatch. Input dimensions [150061202,1,1] have volume 150061202 and output dimensions [1,1,38] have volume 38.
E0723 23:02:00.151834 19976 helper.h:84] Could not compute dimensions for reshape

[2021-07-26 09:37] Reatris commented on #34345
不是，这是Tensor类，paddle.static.InputSpec照文档里的写依然报错，刚才我通过另一种保存方法保存了
https://github.com/PaddlePaddle/Paddle/issues/31222#issuecomment-785816448

[2021-07-26 09:40] Aurelius84 commented on #34345
可否简化下逻辑，提供一下这段paddle.jit.save调用时的核心代码，我们复现下这个问题。另外请问下你这里的 inputs 是 list[Tensor] 还是？

[2021-07-26 09:43] Reatris commented on #34345
好的，那我去简化一下

[2021-07-26 09:54] Reatris opened #34391 "动态图转静态图保存op报错TypeError: The data type of 'x' in sum must be ['float32', 'float64', 'int32', 'int64'], but received bool."
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.0.post101
    2）CPU：None
    3）GPU：V100
    4）系统环境：AIStudio
- 训练信息
    1）单机
    2）显存信息
    3）paddle.jit.save
- 问题描述：自组网后训练，（动态图转静态图）保存模型op保存，以下为报错信息

[code]

有关于这个op在Layer里面的写法是这样的
[code]

如下是我保存模型的方法

[code]

完整报错：

[code]

[2021-07-26 09:55] Reatris commented on #34345
@Aurelius84 您可以帮我看看这个吗 https://github.com/PaddlePaddle/Paddle/issues/34391#issue-952720312

[2021-07-26 10:01] LinXin04 opened #34392 "AIStudio上安装paddlepaddle-gpu报错"
在使用paddleOCR的时候遇到下面问题：

环境：cuDNN Version: 7.6 cuda: 10.1
安装指令：
python -m pip install paddlepaddle-gpu==2.1.1.post101 -f https://paddlepaddle.org.cn/whl/mkl/stable.html

AIStudio上安装paddlepaddle-gpu报错。运行paddle.utils.run_check()提示：

W0726 09:49:03.588065 739 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 6.0, Driver API Version: 10.1, Runtime API Version: 10.1
W0726 09:49:03.6

[2021-07-26 10:02] Reatris commented on #34345
我把inputs放list里面了报错如下

[code]

[2021-07-26 10:05] Reatris commented on #34391
我把API换成paddle.fluid.layers.reduce_sum 还是这样

[code]

[2021-07-26 11:04] zengzheng1 commented on #33433
Your environment variable is are set incorrectly. Please print "os.environ['PATH']",  "/usr/bin" should be in the output.
环境变量PATH被设置错误，"/usr/bin" 应该被包含在 "os.environ['PATH']"的执行结果中。

[2021-07-26 13:04] #34391 closed, assigned to ceci3

[2021-07-26 13:04] #34345 closed, assigned to frankwhzhang

[2021-07-26 13:11] chenwhql commented on #34105
![image](https://user-images.githubusercontent.com/22561442/126993884-ae1654d9-87da-4043-847a-b4aab1c49ba1.png)
pybind官网这里有个注意事项，我们Layer竟然没有这个调用init，但加上了也还是这个错

[2021-07-26 13:37] chenwhql commented on #34105
我们再接着看看

[2021-07-27 01:00] jtyoui commented on #31165
我也遇到这个问题，我的电脑只有CPU。安装的是CPU版本
`python -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple`
报错情况：
[code]

[2021-07-27 02:16] SevenPLF opened #34405 "基于PID控制理论的优化器优化，提升训练效率与准确率。"
参数更新公式 W = W + lr * g。其中lr学习率是人工设定的。在一些新建模型中lr的设定直接影响到了模型训练效率。lr过大会使模型训练结果发散，lr过小又会使模型训练速度过慢。 通过每次梯度更新时，引入loss。由自动化控制理论中的PID调节法，对lr实现动态调整，能使模型训练速度加快。
该方法通过传入的loss，对lr进行评判，从而增加或者减少本次梯度更新的参数。同g共同作用。

![lr-0_001](https://user-images.githubusercontent.com/50135313/127084954-bdf0858f-3038-49d9-a084-f3ebf0e5c668.png)

[code]

我是自动化专业的，PID调节是自动化领域中对稳态调节的常用的方法，对于不同系统的扰动，通过系统的比例、积分、微分环节的调节，来使得系统快速达到稳态。 我把P

[2021-07-27 04:18] xiao9284 opened #34412 "Cuda error(98), invalid device function"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu2.1.1
    2）CPU：---
    3）GPU：GTX850m,6G显存、CUDA11.0和CUDNN8.0.4.30版本号
    4）系统环境：win 10，Python3.8

使用enrnie-2.0做训练时，报错Cuda error(98), invalid device function

[2021-07-27 05:45] lidanqing-vv opened #34414 "[QA] oneDNN BF16 training Test doc"
BF16 word2vec training memory consumption test
[paddlerec_bf16_benchmark_reproduction - public.md](https://github.com/PaddlePaddle/Paddle/files/6882981/paddlerec_bf16_benchmark_reproduction.-.public.md)

[2021-07-27 06:46] baoachun opened #34415 "When MKLDNN is turned on, frcnn predicts the same picture multiple times, and the prediction results are inconsistent before and after."
When MKLDNN is turned on, frcnn predicts the same picture multiple times, and the prediction results are inconsistent before and after.
- Version and environmental information:
     1) PaddlePaddle version: 1.8.5
     2) CPU: Intel(R) Xeon(R) Gold 6271C CPU, 6148 CPU
     3) Linux Ubuntu 16.04, Python2.7
- In the same process, after using different pictures to predict for a period of time, the sam

[2021-07-27 07:03] FrankWhh commented on #31842
请问解决了吗？

[2021-07-27 07:04] FrankWhh commented on #31842
请问解决了吗？

[2021-07-27 07:48] LinXin04 commented on #34392
torch版本： 1.9.0+cu102
cuda版本： 10.2
cudnn版本： 7605

[2021-07-27 08:07] QingquanBao opened #34419 "反传梯度部分消失"
Ubuntu 16.04.7
python == 3.7.9
paddle== 2.1.0

Paddle相关代码见 https://github.com/QingquanBao/PCA-GM/blob/thinkmatch/utils_pdl/sinkhorn.py
Torch 版本的对照代码： https://github.com/QingquanBao/PCA-GM/blob/thinkmatch/utils/sinkhorn_new.py

## 算法简介
正在实现的是Sinkhorn算法，简单来说就是对矩阵进行_行归一化_和_列归一化_的处理。
由于原来的模型是在 Graph上跑的，所以每个Batch里会有一些dummy node， 我们在归一化时将 非dummy挑选出来。(在具体例子中没有使用dummy，故而可以忽略本行和相关代码）

## 问题描述
目前也和torch版本的做

[2021-07-27 09:57] hbwx24 commented on #34105
把PaddleObject单独定义在一个模块里面，然后在包含test_cloudpickle的文件中import这个类。

model2021.py 内容：
[code]

main.py 内容：
[code]
这样可以吗？

[2021-07-27 09:59] lihui669 opened #34428 "用python ppdet/modeling/tests/test_architectures.py测试时报错，RuntimeError: (PreconditionNotMet) The third-party dynamic library (cudnn64_7.dll) that Paddle depends on is not configured correctly. (error code is 126)"
![image](https://user-images.githubusercontent.com/40649829/127135108-0a6c31c0-2bfa-425d-ac73-9df11cb7dd73.png)
我使用的时cuda10.2 ，cudnn64_7.dll已经在lib下，但是还是报错，请问是什么原因呢

[2021-07-27 11:26] zenghsh3 commented on #34105
还是希望可以支持Notebook环境哈

[2021-07-27 14:17] kaixin-bai opened #34434 "工业PC部署无法在GPU上做推理"
## 测试环境
python版本：python3.6
CPU：AMD Ryzen 5 5600X 6-Core Processor
GPU：RTX3070Ti

paddle安装方式：
[code]

## 问题：
无论是上面两个版本中的哪个，问题都是一样的。
1. 在运行下面命令时，在打印完`device: 0, cuDNN Version: 7.6`后就卡住了。
[code]
2.在进行推理时，会卡在`input_tensor.copy_from_cpu(inputs[input_names[i]])`这一行

## 补充说明：
不使用GPU，只使用CPU是可以完成推理的。

[2021-07-27 14:19] kaixin-bai commented on #34434
@baoyufuyou issue我发在这了

[2021-07-28 02:06] LinXin04 commented on #34392
@ceci3 可以帮忙看一下吗？整好久了都没解决

[2021-07-28 02:37] Shixiaowei02 commented on #34412
您好！从错误信息来看，可能是运行时库和环境不匹配造成。请您提供更完整的复现环境以便我们排查问题，谢谢！

[2021-07-28 02:57] hbwx24 commented on #34105
我们再接着看看

[2021-07-28 03:07] liam1985 opened #34437 "申威平台编译错误"
- 版本、环境信息：
    1）PaddlePaddle版本：v2.1.1
    2）CPU：申威SW6A，
    3）GPU：无
    4）系统环境：Uniontech OS Server 20 Enterprise 20、Python版本 3.7.3

- 安装方式信息：
本地编译：请提供cmake命令，编译命令
cmake .. -DPY_VERSION=3 -DPYTHON_EXECUTABLE=`which python3` -DWITH_MKL=OFF -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_PYTHON=ON -DREFERENCE_CBLAS_ROOT=${CBLAS_ROOT} -DWITH_CRYPTO=OFF -DWITH_XBYAK=OFF -DWITH_SW=ON

[2021-07-28 03:11] yt123123 opened #34438 "fluid.layers.py_reader请问这个用什么可以代替"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2021-07-28 03:55] upenggod opened #34440 "paddle2.1中paddle.argsort疑问"
在用paddle2.1时候，遇到paddle.argsort的一些问题。
x = paddle.to_tensor([[5,8,9,5],
                                   [0,0,1,7],
                                   [6,9,2,4]],
                  dtype='float32')
out2 = paddle.argsort(x=x, axis=0)
print(out2)

结果：
Tensor(shape=[3, 4], dtype=int64, place=CPUPlace, stop_gradient=True,
       [[1, 1, 1, 2],
        [0, 0, 2, 0],
        [2, 2, 0, 1]])

感觉前两列没有问题，后面

[2021-07-28 05:35] LinXin04 opened #34444 "import paddle时出错"
AIstudio上用GPU训练模型时
Error: Can not import avx core while this file exists: /root/miniconda3/lib/python3.6/site-packages/paddle/fluid/core_avx.so
--
torch版本： 1.9.0+cu102
cuda版本： 10.2
cudnn版本： 7605
[code]

[2021-07-28 05:39] Shixiaowei02 commented on #34434
您好，请先运行 nvidia-driver 和 cuda 的自验证程序，确认问题是单纯由 cuda 还是 paddle 引起。谢谢

[2021-07-28 05:40] Shixiaowei02 commented on #34428
您好，此报错可能因为 cuda/cudnn 版本不对应引起，请下载对应的 gpu 库进行测试。谢谢

[2021-07-28 05:52] Shixiaowei02 commented on #34415
您好，请提供更详细的代码环境以便问题复现，谢谢

[2021-07-28 06:02] Shixiaowei02 commented on #34405
您好，感谢您对 Paddle 的支持。您后续可以回复此 issue 提出具体的疑问，我们找对应的开发人员进行解答

[2021-07-28 06:21] qili93 commented on #34437
@liam1985 需要同时打开 WITH_SYSTEM_BLAS，参考
https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/cblas.cmake#L91

确保最后cmake可以成功输出
https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/cblas.cmake#L118
message(STATUS "Found reference-cblas (include: ${CBLAS_INC_DIR}, library: ${CBLAS_LIBRARIES})")

如果以上步骤不成功才会去编译 external/openblas
https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/cblas.cm

[2021-07-28 06:25] lidanqing-vv commented on #34415
Hi, @jczaja Same picture prediction results are different in same run different iteration, maybe something in cache?  I m still asking for models if possible.

[2021-07-28 06:54] xiao9284 commented on #34412
您好：
&nbsp; &nbsp; 这边根据群友回答，说是不兼容11.0版本的cuda，我这边重新装了11.2cuda以及配套的cudnn，结果依旧不正确，但报错信息变了。我将环境截图以及报错信息截图通过邮件附件发给您，请查收。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    **

[2021-07-28 07:23] Stave604671 opened #34451 "use_shared_memory=False报错"
   1）PaddlePaddle版本：Paddle2.1.0
    2）CPU：AIStudio
    3）GPU：AIStudio提供的V100
    4）Python：3.7
    1）单机，单卡
[code]

[2021-07-28 07:38] sandyhouse commented on #34366
请使用x[i,j]的方式使用。

[2021-07-28 08:07] btobab commented on #34366
明白了，谢谢哥哥

[2021-07-28 08:28] #34440 closed, assigned to nobody

[2021-07-28 09:04] baoyufuyou commented on #34434
cuda test
![image](https://user-images.githubusercontent.com/39621208/127295326-268544fd-1fee-4870-bb8a-62f72b0a3c82.png)
cudnn version
![image](https://user-images.githubusercontent.com/39621208/127295365-cb6cf525-0b52-4309-a116-b9359973edf4.png)
installed pytorch and tested.
![image](https://user-images.githubusercontent.com/39621208/127295266-30652d8e-1c88-4a2f-8dfe-cdf9ff3d1d33.png)

[2021-07-28 09:04] baoyufuyou commented on #34434
![image](https://user-images.githubusercontent.com/39621208/127295498-50592c4b-8f6e-4ed5-b281-e93dffc78e27.png)
nvidia-smi

[2021-07-28 09:08] baoyufuyou commented on #34434
![image](https://user-images.githubusercontent.com/39621208/127295980-db9f9aa6-3b2e-4aea-8bd6-f5a87f9fd84c.png)
test paddlepaddle:
卡住了的截图

[2021-07-28 09:27] SevenPLF commented on #34405
代码是pytorch里改的 修改了Adam优化器中step方法。

[2021-07-28 09:52] zhwesky2010 commented on #31459
@snuabar @srforever https://github.com/PaddlePaddle/Paddle/pull/34312 已经修复了这个问题

[2021-07-28 09:58] pmajchrzak opened #34458 "Performance drop in models GoogleNetV1, Demark, Feature, VGG16 and VGG19"
Along with the cf3ddd3b29314cb50953b231a6de7eb82563bcab commit (22.06.2021), a performance drop was noticed on the develop branch for several of the analyzed models:

- GoogleNetV1
- Demark
- Feature
- VGG16
- VGG19

### The tests were carried out on 3 independent machines:
#### SKX:
[code]

#### CLX:
[code]

#### CPX:
[code]
## The system on which the measurements were made:
UBUNTU 18.04

## CMAK

[2021-07-28 10:18] bjjwwang commented on #34458
Thanks for sharing. We will try to find a conclusion in one day or two.

[2021-07-28 10:19] bjjwwang commented on #34451
方便分享一下AIStudio的notebook吗

[2021-07-28 10:20] bjjwwang commented on #34444
gcc版本不够高，我估计你下载的是gcc8.2编译的包，可以在这里
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-release 这里找到一个gcc 5.4的

[2021-07-28 10:21] bjjwwang commented on #34438
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/Dataset_cn.html#dataset 我理解是这个吗

[2021-07-28 10:25] Stave604671 commented on #34451
这个是训练的部分和dataset对象的部分，模型用的paddlehub的efficientnet，数据集是普通的分类数据集，这个代码在本地windows的paddle2.1GPU版可以跑，就是在云端不行。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt

[2021-07-28 10:34] baoyufuyou commented on #34434
fixed after updating the cuda10 to cuda11 and cudnn8

[2021-07-28 10:55] #34434 closed, assigned to Shixiaowei02

[2021-07-28 12:19] OliverLPH commented on #34414
we will start testing this week.

[2021-07-28 12:56] yt123123 commented on #34438
应该不是吧

[2021-07-28 12:57] yt123123 commented on #34438
应该不是吧

[2021-07-28 13:20] bjjwwang commented on #34438
好 那方便说下 fluid.layers.py_reader 代替这个 是为了实现什么功能。

[2021-07-28 13:44] ghost opened #34469 "paddle在MNIST数据集上损失一直没有下降"
PaddlePaddle版本：2.1.1
Python版本： 3.8.0
系统：Windows 10

[code]

结果（一直停留在2.3左右，而官方文档https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/01_quick_start_cn.html 按照paddle.Model的方式却没事）：
![image](https://user-images.githubusercontent.com/53207383/127332643-73e4d493-839e-4d01-af93-97ef021064c0.png)

[2021-07-28 14:17] ghost commented on #34469
已经解决，将`transforms = T.Compose([T.ToTensor(), T.Normalize(mean=[127.5], std=[127.5])])`改为`transforms = T.Compose([T.Normalize(mean=[127.5], std=[127.5])])`即可

[2021-07-28 14:17] #34469 closed, assigned to nobody

[2021-07-29 01:10] nbh2021 opened #34471 "paddledetection2.0训练的pp_yolo_tiny部署在paddlelite2.8,2.9报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.0
    4）系统环境：python3.7
- 模型信息
    1）pp_yolo_yiny

[/root/Paddle-Lite/lite/api/light_api.cc CheckInputValid:312]  Error input tensor
precision type . Input index(1) Tensor name{image} Require Precision type(float) Input Precision type (int32_t).
[/root/Paddle-Lite/lite/core/program.cc Run:619] Check failed: op_->CheckShape():
./run.sh: line19 :3341 Aborted    (co

[2021-07-29 01:51] ZZHHogan opened #34472 "请问如何进行冻结层的训练呢？"
目前我使用的是paddleocr，想通过冻结层进行少数据集的训练，但是设置冻结后好像没有生效，不知是哪里设置错误了？
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu        2.1.1.post112
    3）GPU：预测若用GPU，rtx3090，cuda11.2
    4）系统环境：centos、python3.8

- 训练信息
    1）单机，单卡
    2）显存信息
    3）Operator：使用冻结训练，可是发现好像没有生效，不清楚应该如何正确设置？
![image](https://user-images.githubusercontent.com/40531744/127419043-e78d2f15-9a46-4b88-9667-cd88e0591a02.png)

[2021-07-29 03:11] hong19860320 commented on #34471
在写yolo的paddlelite demo时需要注意yolo模型不同于ssd，它有两个输入，其中一个输入是图像的尺寸，是一个int32的数据类型，在mutable_data的时候记得mutable_data<int32_t>
建议在部署前把paddle模型中的__mode__文件拖到https://netron.app查看下输入个数以及相应的数据类型。

[2021-07-29 03:22] xiao9284 commented on #34412
您好，你还在么？我昨天给您发送的邮件有收到么？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月28日(星期三) 上午10:38
***@***.***&gt;;
***@***.******@***.***&g

[2021-07-29 03:30] ceci3 commented on #34293
最新的paddle的bn已经支持了 eval模式下得到grad，可以安装最新版试下~

[2021-07-29 03:40] LDOUBLEV commented on #34472
冻结参数不训练的方法参考：
[code]

[2021-07-29 05:09] holyseven commented on #34293
棒！测试了一下，发现dropout貌似还是不行。请问之后开发的趋势是尽量都支持eval模式下可以得到grad，还是禁止eval得到grad？

[2021-07-29 06:03] LinXin04 commented on #34444
你好，我按照你的建议装了下面这个：
![image](https://user-images.githubusercontent.com/25193686/127439877-4926ef5d-9ec1-4149-a765-f7d822b7c78c.png)

还是报同样的错误。

@bjjwwang

[2021-07-29 06:21] youngstu opened #34479 "Yolov5模型后处理层不支持"
问题描述：
1、pytorch训练模型，导出onnx，再转到paddle，paddle模型没有实现yolov5后处理部分（解码+nms），请问怎么实现呢？

[2021-07-29 06:28] bjjwwang commented on #34444
你那边GCC版本是多少
`gcc --version`
然后执行一个
`strings /lib64/libstdc++.so.6 | grep GLIBCXX`

[2021-07-29 06:46] b3602sss commented on #34479
可以尝试自己增加op https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/index_cn.html

[2021-07-29 07:08] zhwesky2010 commented on #31459
@srforever @snuabar 你好，请问一下 通过这种应用场景，是用于Paddle的训练还是预测功能呢，如果只是纯预测的话 也可以使用我们的C++预测库哈

[2021-07-29 07:21] meii11 opened #34481 "paddle 2.1版本快速上手文档描述错误"
https://www.paddlepaddle.org.cn/documentation/docs/zh/tutorial/quick_start/high_level_api/high_level_api.html
快速上手文档中的高层API使用指南部分，5.4部分中最后的描述：“这里面有一个注意的点，有些读者可能会疑惑为什么要传递(1, 28, 28)这个input_size参数，因为在动态图中，网络定义阶段是还没有得到输入数据的形状信息，想要做网络结构的呈现就无从下手，那么通过告知接口网络结构的输入数据形状，这样网络可以通过逐层的计算推导得到完整的网络结构信息进行呈现。如果是动态图运行模式，那么就不需要给summary接口传递输入数据形状这个值了，因为在Model封装的时候已经定义好了InputSpec，其中包含了输入数据的形状格式。”
最后一句我认为应该是“如果是**静态图**运

[2021-07-29 07:21] Stave604671 commented on #34451
https://aistudio.baidu.com/aistudio/projectdetail/2136219?shared=1
就是这个项目，然后跑第一个cell解压数据集，然后启动train_one.py开始出现了以下问题,希望帮忙把这个问题解决一下

当batchsize为32时报错shm溢出
然后我设置use_shared_memory=False以后的报错是这个：
2021-07-29 15:13:56,626 INFO     ('epoch:', 1, 'begin_train')
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated a

[2021-07-29 07:28] CheQiXiao opened #34482 "Win10+VS2019编译PaddleOCR错误"
部署环境：

按教程 https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.1/deploy/cpp_infer操作。

win10家庭版、    VS2019企业版

源码：PaddleOCR-release-2.1

预测库：https://paddle-wheel.bj.bcebos.com/2.0.2/win-infer/mkl/cpu/paddle_inference.zip

推理模型：轻量版

问题：

按官方教程操作老是报错【'/paddle/lib/paddle_inference.lib', needed by 'ocr_system.exe', missing and no known rule to】，再参考其他教程增加了尝试调整opencv和预测库的版本和路径，还是报同样错误

报错：
![image](

[2021-07-29 07:43] jiangjiajun commented on #34479
Duplicate of https://github.com/PaddlePaddle/X2Paddle/issues/651

[2021-07-29 07:49] hong19860320 commented on #34482
看起来是路径设置问题，估计/paddle/lib/paddle_inference.lib是linux docker下的路径，看起来是PADDLE_LIB这个参数没有传到cmake脚本
你修改下cmake脚本强制把D:\projects\paddle_inference_install_dir路径设置到PADDLE_LIB变量试试，就和你设置OpenCV_DIR一样

[2021-07-29 07:55] frankwhzhang commented on #34370
看起来是numpy的包版本问题

[2021-07-29 07:57] frankwhzhang commented on #34380
目前官方应该是没有的

[2021-07-29 08:32] heavengate commented on #34382
https://paddleslim.readthedocs.io/zh_CN/latest/tutorials/pruning/static/image_classification_sensitivity_analysis_tutorial.html
静态图剪裁的敏感度分析可以参考这个，demo.data主要存储各卷积层不同裁剪率对精度影响的数据，用于分析得出各个卷积层的裁剪率。
PaddleDetection文档网站我们正在修复，可以先参考下`slim`目录下的README  https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/static/slim

[2021-07-29 08:36] heavengate commented on #34390
看报错信息你是使用TensorRT预测，TensorRT预测需要安装的Paddle版本是带TensorRT编译的，目前默认发布的whl包是不带TensorRT的，如果想用TensorRT预测需要编译一下Paddle，编译时使用`-DTENSORRT_ROOT`指定一下TensorRT路径，编译方法参考  https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/fromsource.html

[2021-07-29 08:51] LinXin04 commented on #34444
嗯嗯，这个报错好了～ 把5.4的换成了8.2的就解决了。
![image](https://user-images.githubusercontent.com/25193686/127459966-f90da9b0-43bf-41cb-9c90-73f0186754ba.png)
[code]

@bjjwwang
[code]

torch版本： 1.9.0+cu102
cuda版本： 10.2
cudnn版本： 7605

[2021-07-29 08:59] LinXin04 commented on #34444
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-4)

Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions. There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 
GLIBCXX_3.4
GLIBCXX_3.4.1
GLIBCXX_3.4.2
GLIBCXX_3.4.3
GLIBCXX_3.4.4
GLIBCXX_3.4.5
GLIBCXX_3.4.6
GLIBCXX_3.4.7
GLIBCXX_3.4.8
GLIBCXX_3.4.9
GLIBCXX_3.4.10
G

[2021-07-29 09:02] phlrain commented on #34290
方便把内容放到你个人的github中， 然后给我们一个链接么

[2021-07-29 09:02] bjjwwang commented on #34444
好的
可以再搜一下
find / -name libcudnn.so.*
看看cudnn的so有没有

[2021-07-29 09:12] LinXin04 commented on #34444
/usr/local/cuda-10.1/targets/x86_64-linux/lib/libcudnn.so.7.6.5
/usr/local/cuda-10.1/targets/x86_64-linux/lib/libcudnn.so.7
You are using Paddle compiled with TensorRT, but TensorRT dynamic library is not found. Ignore this if TensorRT is not needed.

@bjjwwang

[2021-07-29 09:13] bjjwwang commented on #34444
需要 export LD_LIBRARY_PATH=/usr/local/cuda-10.1/targets/x86_64-linux/lib/:$LD_LIBRARY_PATH
然后再运行一遍看看

[2021-07-29 09:30] LinXin04 commented on #34444
Cudnn error, CUDNN_STATUS_NOT_INITIALIZED 这个解决了，还有这个问题：

OSError:
C++ Traceback (most recent call last):

0 paddle::imperative::Tracer::TraceOp(std::string const&, paddle::imperative::NameVarBaseMap const&, paddle::imperative::NameVarBaseMap const&, paddle::framework::AttributeMap, paddle::platform::Place const&, bool, std::map<std::string, std::string, std::less<std::string >, std::allocator<std:

[2021-07-29 09:32] LinXin04 commented on #34444
我现在训练的是paddleOCR，只用CPU是没问题的，就是用GPU就报错。
[code]

[2021-07-29 09:40] lidanqing-vv commented on #34415
@baoachun  display log with `DNNL_VEBOSE=1` such as
[code]

[2021-07-29 09:56] TCChenlong commented on #34481
好的，是有这个问题，我们改一下，感谢反馈~

[2021-07-29 11:06] zhujiebing opened #34484 "gpu机器pip方式安装无法成功"
[code]
import paddle命令后出现error

[code]
[code]

[code]

[code]

[code]

[code]

[2021-07-29 11:13] #29847 closed, assigned to sandyhouse, gongweibao

[2021-07-29 11:37] hong19860320 commented on #34484
无法查询到cuda设备，驱动存在问题。可以尝试安装cuda11.2版本的paddle python -m pip install paddlepaddle-gpu==2.1.1.post112 -f https://paddlepaddle.org.cn/whl/mkl/stable.html

[2021-07-29 11:56] #34451 closed, assigned to nobody

[2021-07-29 11:58] Stave604671 commented on #34451
问题已经解决，好家伙，paddle2.x禁用了paddle.fluid，这个禁用在电脑本地没生效，在aistudio生效了。
然后paddle.io.dataloader调用了paddle.fluid，换成自定义的dataloader就能在aistudio跑了。

[2021-07-29 12:55] youngstu opened #34490 "新增支持yolov5_box op？"
问题描述：

yolov3和yolov5 解码公式是不同的，paddle 已有op yolo_box 只适配yolov3系列网络，需要新增yolov5_box op层以支持yolov5系列网络.

[2021-07-29 13:09] ceci3 commented on #34293
趋势是尽量都支持eval模式下拿到grad～ 现在也只有dropout不支持了，计划应该是2.2dropout会支持

发自我的iPhone

------------------ Original ------------------
From: LI Xuhong ***@***.***&gt;
Date: Thu,Jul 29,2021 1:09 PM
To: PaddlePaddle/Paddle ***@***.***&gt;
Cc: ceci3 ***@***.***&gt;, Comment ***@***.***&gt;
Subject: Re: [PaddlePaddle/Paddle] Dropout has no gradient in eval mode (#34293)

棒！测试了一下，发现dropout貌似还是不行。请问之后开发的趋势是尽量都支持eval模式下

[2021-07-29 14:03] dwSun opened #34492 "paddlex.deploy.Predictor multithreading execute unet will cause RuntimeError: could not execute a primitive"
[code]

as above，loading deeplabv3p model does not report error，but loading unet will report error：
[code]

[2021-07-29 14:04] dwSun commented on #34492
我注意到有个 log

2021-07-29 21:54:47 [WARNING]	HRNet/DeepLabv3p/PPYOLO are not supported for the use of mkldnn

是否跟 mkldnn 有关？

[2021-07-29 14:06] dwSun commented on #34492
补充环境:
'''
paddle2onnx       0.7
paddlehub         2.1.0
paddlenlp         2.0.6
paddlepaddle      2.1.1
paddleslim        1.1.1
paddlex           1.3.11
'''

$ python summary_env.py
****************************************
Paddle version: 2.1.1
Paddle With CUDA: False

OS: Ubuntu 20.04
Python version: 3.8.10

CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: None
************

[2021-07-29 14:07] heavengate commented on #34490
你好，yolov5这个我们再调研确认一下，另外我们PaddleDetection里开源的PP-YOLOv2模型精度速度是由于YOLOv5的，可以尝试下PP-YOLOv2模型

[2021-07-29 14:27] hong19860320 commented on #34492
你在调用Predictor的时候disable mkldnn试试
model = pdx.deploy.Predictor("path/to/model", use_gpu=False, use_mkl=False)

[2021-07-30 00:53] TCChenlong commented on #34335
1、整体算可以看同文档中的2.3部分，直接用model.evaluate()就是整体算；
2、收到，我们优化一下这部分的输出；
3、收到，我们评估一下这个需求；
4、我们正在考虑优化文档部分的内容；
5、收到，我们补充一下文档的内容
感谢您的反馈，6-8的内容会有其他的同学来进行回复~

[2021-07-30 01:11] QQ39272490 opened #34493 "jetson nano 预测报错"
问题类型：模型部署
问题描述: 我用paddlex 1.8训练模型 mobile v2，时间久了就报错
部署环境：Jetson nano，Jetpack 4.5 python3.6+nv_jetson-cuda10.2-cudnn8-trt7
安装官方提供的库 paddlepaddle_gpu-2.1.1-cp36-cp36m-linux_aarch64.whl

![infer](https://user-images.githubusercontent.com/2766645/127584735-46de5417-c9d2-4be9-bd2c-1e85e1dca610.jpg)

[2021-07-30 01:20] davidwkx opened #34494 "paddle2.1.1安装后出现Illegal instruction"
环境：centos7  python3.8.11 gcc8.2.0 安装paddlepaddle2.1.1 cpu版  机器支持 avx2指令集

问题：

1、根据官网指导: python -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple 安装后：

运行python，import paddle出现：Illegal instruction 错误

2、改安装no-avx版本，
安装说明中的python -m pip install paddlepaddle==2.1.1 -f https://www.paddlepaddle.org.cn/whl/mkl/stable/noavx.html --no-index直接用报错，改用：
wget https://paddle-wheel.bj.bcebos.c

[2021-07-30 01:46] dwSun commented on #34492
确实，关掉 mkl 就没再出问题，但是这个速度实在是无法接受。

[2021-07-30 02:02] LinXin04 commented on #34444
@bjjwwang 麻烦大佬再帮忙看看这个错误～～

[2021-07-30 02:05] hong19860320 commented on #34492
嗯嗯，看样子是mkl的问题，我找同学跟进下

[2021-07-30 02:12] hong19860320 commented on #34492
@baoachun 跟下这个问题吧，谢谢~

[2021-07-30 02:26] hailong23-jin commented on #34370
升级到numpy 1.21.1 之后，paddle可以正常用了。

[2021-07-30 03:04] Liwb5 opened #34496 "fleet ps 模式 inference 问题"
https://github.com/PaddlePaddle/Paddle/blob/423ea9782ab7ae76501e6acc7ec92b2cecd8633e/python/paddle/distributed/fleet/utils/ps_util.py#L53

代码这个地方直接写SGD作为fake optimizer，但是如果用户的保存的模型是用其它优化器（如adam），那么这里就会报错。建议这里留个接口给用户指定优化器。

[2021-07-30 03:06] baoachun commented on #34492
@will-jl944 麻烦帮忙确认下是模型不支持开启mkldnn，还是mkldnn本身有问题呢

[2021-07-30 03:07] ydtincle opened #34497 "paddle对高通snpe支持情况"
https://developer.qualcomm.com/docs/snpe/introduction.html

想了解下paddle对高通的SNPE支持情况如何，看高通提供的sdk，每列出来是否支持paddle，有人了解吗？

[2021-07-30 03:13] mengzhaofeng2016 commented on #34390
使用C++预测也需要重新编译paddle吗

[2021-07-30 03:13] FlyingQianMM commented on #34492
@dwSun 问题收到，我们先复现一下

[2021-07-30 03:33] baoachun commented on #34415
@lidanqing-intel  You can get the result by running this two lines code, where the number 1 indicates enable to use mkldnn and the number 10 indicates running 10 round inferences.
[code]

[2021-07-30 03:49] zhupengyang commented on #34497
目前还不支持

可以尝试通过paddle2onnx跑起来

[2021-07-30 04:12] pangyoki commented on #34494
你好，是装avx的包会报`Illegal instruction`的问题？装no-avx的包`import paddle`没问题，跑模型有问题？

麻烦试下在docker里装paddle试试？排除下环境问题。

可以装这个镜像：`docker pull paddlepaddle/paddle:latest-gpu-cuda10.2-cudnn7-dev`

[2021-07-30 05:19] fengxiaoshuai commented on #34493
时间久了出问题，一般都是资源不够用，jetson-nano的显存和内存共用4G,  建议增加swap后再尝试，此外可以试试Paddle训练的mobilenet模型看看会不会出现同样问题。

[2021-07-30 05:41] davidwkx commented on #34494
我这个机器暂时不支持GPU，只能用 CPU版本的。
装avx的包，import paddle时，直接就是错误退出：Illegal instruction
装no-avx的包，import paddle时出现警告错误：
WARNING: AVX is supported on local machine, but you have installed paddlepaddle without avx core. Hence, no_avx core which has worse preformance will be imported. You could reinstall paddlepaddle by 'python -m pip install --force-reinstall paddlepaddle-gpu[==version]' or rebuild paddlepaddl

[2021-07-30 06:21] pangyoki commented on #34494
你可以先用 no-avx 的包吧，no-avx那个只是warning，不影响使用的。
avx包的问题有点奇怪，也没有报错提示，麻烦提供下你机器的配置，cpu的信息等。

下docker时的报错，是因为磁盘空间不够吧。机器不支持gpu也可以使用cuda镜像，装cpu版的paddle就可以。
不过你已经尝试过 registry.baidubce.com/paddlepaddle/paddle:2.1.1 这个镜像报错了，还报错的话应该还是机器的基础配置有问题。

[2021-07-30 06:28] wxf764571829 opened #34504 "2.1.1版本安装后import出错 ImportError: /lib64/libstdc++.so.6: version `CXXABI_1.3.8' not found"
服务器centos7下
python3.8 使用pip安装 因为服务器不支持AVX 所以采用cpu、mkl版本noavx机器安装：
安装命令为 ：pip3 install paddlepaddle==2.1.1 -f https://www.paddlepaddle.org.cn/whl/mkl/stable/noavx.html --no-index

WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core.
Error: Can not import noavx core while this file exists: /home/ai_zfsw/Python-3.8/lib/python3.

[2021-07-30 07:03] davidwkx commented on #34494
用docker版本运行出错信息如下：
(ve3.8) [root@localhost paddle]# docker run --name paddle -it -v $PWD:/paddle registry.baidubce.com/paddlepaddle/paddle:2.1.1 /bin/bash
λ 158387b7d698 /home python
Python 3.7.0 (default, May  9 2021, 21:14:18)
[GCC 8.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
Illeg

[2021-07-30 07:55] davidwkx commented on #34494
用docker pull registry.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda10.2-cudnn7-dev 安装运行后，执行过程及错误信息如下：
[root@localhost paddle]# docker ps -a
CONTAINER ID        IMAGE                                                                      COMMAND                  CREATED             STATUS              PORTS               NAMES
d90c64a6f8a5        registry.baidubce.com/paddlepaddle/paddle:latest-gp

[2021-07-30 09:15] FlyingQianMM commented on #34492
[code]
使用上述代码测试unet可以正常加载并完成预测。辛苦 @baoachun 看下是否是用户用多个线程里面同时执行self.predictor.zero_copy_run()导致的问题。https://github.com/PaddlePaddle/PaddleX/blob/a58bd177cde63a078b02cf0afe6f52cba0393186/paddlex/deploy.py#L277

[2021-07-30 09:21] nsCosine opened #34514 "After updated to 2.1.1,this method dose not support any more."
In AIStudio platform, pp version is 2.1.0，
this method is fine，
[code]
after updated to 2.1.1，this method would raise an error
`
ValueError: (InvalidArgument) Leaf Tensor (dygraph_tmp_19) that doesn't stop gradient can't use inplace strategy.
  [Hint: Expected self->IsLeaf() && !self->OverridedStopGradient() == false, but received self->IsLeaf() && !self->OverridedStopGradient():1 != false:0.] (at

[2021-07-30 10:18] QQ39272490 commented on #34493
swap本身设置的8G

[2021-07-30 10:19] FlyingQianMM commented on #34492
这个日志打印出来的原因是：paddlex 1.3.x之前适配的是paddle 1.8.4/5，此版本下这三个模型还不支持开启mkdnn。当前使用paddle 2.1.1的话，已经可以支持开启mkldnn了，可以参考 https://github.com/PaddlePaddle/PaddleX/pull/1006 https://github.com/PaddlePaddle/PaddleX/pull/1005  直接修改paddlex安装路径下的deploy.py来开启mkdlnn。

[2021-07-30 10:28] baoachun commented on #34492
好的，我复现看下

[2021-07-30 11:50] yanmeng1019 commented on #34414
The paddle.fluid.tests function is no longer included in the whl package of paddlepaddle
So the code in https://github.com/PaddlePaddle/PaddleRec/blob/master/tools/static_ps_trainer.py
https://github.com/PaddlePaddle/PaddleRec/blob/master/tools/static_ps_trainer.py#L202
https://github.com/PaddlePaddle/PaddleRec/blob/master/tools/static_ps_trainer.py#L250
will trigger an error:
[code]

[2021-07-31 02:25] Shixiaowei02 commented on #34412
您好，我没有收到邮件，您可以直接贴到 issue 回复中，谢谢

[2021-08-01 01:52] LinXin04 commented on #34392
@frankwhzhang 麻烦大佬给看看～

[2021-08-01 23:39] fengxiaoshuai commented on #33276
1.8版本的问题应该：https://github.com/PaddlePaddle/Paddle/blob/75efc0ace116ca2ad2ed3b5ac5d16bcec01e2004/paddle/fluid/inference/analysis/helper.h#L246这里，自己编译的话可以修改为std::ofstream outfile(trt_serialized_path, std::ios::binary)尝试

[2021-08-01 23:52] fengxiaoshuai commented on #33276
设置应该掉个顺序，DeletePass应该放在所有配置的最后面
config.EnableMemoryOptim();
config.pass_builder()->DeletePass("conv_bn_fuse_pass");

[2021-08-02 02:20] VantastyChen commented on #33276
谢谢，用了这个方法，貌似已经解决了这个问题。

[2021-08-02 02:48] pangyoki commented on #34504
你好，看起来是gcc版本太低的问题，需要是用gcc8.2，请确认下

[2021-08-02 02:49] pangyoki commented on #34504
你好，看起来是gcc版本太低的问题，需要使用gcc8.2，请确认下

[2021-08-02 02:52] pangyoki commented on #34494
这个docker里没有预装paddle，需要手动安装下paddle

[2021-08-02 02:54] pangyoki commented on #34494
这些报错是用noavx包，执行PaddleClas时的报错吗？用noavx包，执行`paddle.utils.run_check()`会报错吗？

[2021-08-02 03:22] TCChenlong opened #34526 "【飞桨论文复现挑战赛（第四期）】榜单"
hi，大家好，非常高兴的告诉大家，百度飞桨论文复现赛第四期已经开始了，本次共将有100篇的经典&前沿论文供大家复现，详细信息可以参考[AI Studio](https://aistudio.baidu.com/aistudio/competition/detail/106)，大家是否已经迫不及待了呢~

**注意：** 本次部分赛题与[人工智能创新应用大赛](https://aistudio.baidu.com/aistudio/competition/detail/113)重合，如果获奖，会有额外奖励，详情请看[这里](https://aistudio.baidu.com/aistudio/competition/detail/113)。

**注意：** 本次部分赛题与[中国软件开源创新大赛](https://aistudio.baidu.com/aistudio/competitio

[2021-08-02 03:25] LinXin04 opened #34527 "飞浆AIstudio上使用GPU至尊环境跑paddleOCR出错"
飞浆AIstudio上使用GPU至尊环境跑paddleOCR出错，batch设置到了15，num_work设置为0还是报下面的错，迭代到20几次的时候会报错

ERROR: Unexpected BUS error encountered in DataLoader worker. This might be caused by insufficient shared memory (shm), please check whether use_shared_memory is set and storage space in /dev/shm is enough
ERROR:root:DataLoader reader thread raised an exception!
Traceback (most recent call last):
  File "tools/train.py

[2021-08-02 05:53] Utopialjp opened #34532 "pycharm为apple M1芯片适配的版本上无法安装paddlepaddle，求助如何解决"
公司发的macbook pro，是苹果m1的芯片。
在pycharm intel版本下，环境信息如下，该环境下能正常安装
`python -c "import platform;print(platform.architecture()[0]);print(platform.machine())"`
`64bit`
`x86_64`

但是在pycharm专门为m1芯片适配的pycharm Apple Silicon版本下，无法安装，提示错误ERROR: Could not find a version that satisfies the requirement paddlepaddle (from versions: none)。环境信息如下：
`python -c "import platform;print(platform.architecture()[0]);print(pla

[2021-08-02 06:02] xinyi-code opened #34533 "AssertionError can’t find your local ip {127.0.0.1} in args.servers and args.workers ips: {[‘192.168.xx.xx,192.168.xx.xx ’]}"
Sorry to bother, I feeled confused when I tried to run my code on multi-cpus on different machines, but it occurred the problem.
my launch command is followed the file python/paddle/distributed/fleet/launch.py Same as below
fleetrun --servers="192.168.0.16:6170,192.168.0.17:6170" \
                --workers="192.168.0.16,192.168.0.17,192.168.0.16,192.168.0.17" \
                your_training_py (a

[2021-08-02 06:08] GraceGay opened #34534 "输入变量未初始化问题"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.5
    2）CPU/GPU：CPU
    3）系统环境：CentOS release 4.3 (Final)
    4）Python版本号： Python 2.7.13
    5）显存信息

- 复现信息：

[code]

报错：
/home/disk6/hjz/gru4rec_single/python/lib/python2.7/site-packages/paddle/fluid/executor.py:1070: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call l

[2021-08-02 08:05] rs-lsl commented on #26469
你好，请问最后怎么解决的

[2021-08-02 08:20] weiexcelpro commented on #34527
首先是 飞桨 哈.
请问这个报错的项目有公开网址吗?

[2021-08-02 08:22] pmajchrzak opened #34544 "DYGRAPH + OneDNN runtime error"
### Dygraph training application stopped working properly starting from commit 5d2eb678f68a1a9e5611bbe0f4a41c28b0c99aa7

#### CMAKE flags
[code]

#### Run command line
[code]

#### ERROR message
[code]

[2021-08-02 08:46] PhilCuriosity commented on #33807
[code]

[2021-08-02 08:54] DannyIsFunny commented on #34532
你好。mac M1 上通过 pip 直接安装是验证过没有问题，建议使用pip 直接在macOS M1 机型上安装paddlePaddle

[2021-08-02 08:55] DannyIsFunny commented on #34532
关于pycharm上有更详细的错误信息吗

[2021-08-02 09:05] yeyupiaoling opened #34549 "在使用paddle.static训练时，数据读取报错"
- PaddlePaddle 2.1.1

关键代码：
[code]

其中`feed_list`和`padding_batch()`输出都是4个的，不知道为啥提示不相等。是不是静态图还有什么特别的做法？

错误日志：
[code]

[2021-08-02 09:07] yeyupiaoling opened #34550 "从paddle.fluid迁移到paddle.static有什么教程文档吗？"
- PaddlePaddle 2.1.1

从paddle.fluid迁移到paddle.static有什么教程文档吗？

[2021-08-02 09:27] zhupengyang commented on #34496
感谢您的建议，后续会进行修复

[2021-08-02 09:34] yeyupiaoling opened #34551 "在使用static创建模型是出现错误 Unsqueeze operator should not be null."
- PaddlePaddle 2.1.1

关键代码片段，audio_data是输入层，
[code]

在创建模型的时候就出这个错误。
[code]

[2021-08-02 09:41] hbwx24 commented on #34514
When a leaf tensor(`param`) is the input of inplace op, its `stop_gradient` must be `True,` otherwise it may cause gradient calculation errors. `param[:] = xxx` is inplace, so `param.stop_gradient` should be `True` . This mechanism was updated in a recent version.

[2021-08-02 09:53] kuizhiqing commented on #34533
It seems that your local ip did not auto detect correctly, to fix it,

1. run with
`fleetrun --servers="192.168.0.16:6170,192.168.0.17:6170"
--workers="192.168.0.16,192.168.0.17,192.168.0.16,192.168.0.17"  --host=192.168.0.16`
at machine 192.168.0.16 and similar for 192.168.0.17.

2. `export POD_IP=192.168.0.16` before command, the same for 192.168.0.17.

To understand why, please run the followin

[2021-08-02 10:23] june12536 opened #34553 "ros中使用paddle"
就是那个我要是想在ros系统里面用paddle，以节点的形式启动paddleOCR文字识别的话，请问有什么推荐方案嘛
ros自带python版本为python2.7.12

[2021-08-02 11:00] OliverLPH opened #34554 "Deploying models with multi-thread will raise MKLDNN error"
**System information**
-PaddlePaddle version: develop(393a0b166a380e85550a639e603a7ff44c0a440e) or release/2.1
-CPU: MKLDNN v2.2.1
-GPU: None
-OS Platform: ubuntu1604
-Python version: None
-Cmake orders
-C++version.txt
-API information
Note: You can get most of the information by running [summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py).
**To Reproduce**
re

[2021-08-02 11:14] DannyIsFunny commented on #34550
你好，是有教学文档的
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0/guides/01_paddle2.0_introduction/migration_cn.html#banbenqianyigongju

[2021-08-02 11:55] DannyIsFunny commented on #34551
你好，我们使用以下代码测试，未测试出现 所述问题 (paddle版本 2.1.1 , docker 环境）
[code]

[2021-08-02 12:10] LinXin04 opened #34557 "OSError: (External) Cudnn error, CUDNN_STATUS_NOT_INITIALIZED (at /paddle/paddle/fluid/platform/device_context.h:370)"
GPU训练出错

cuda: 10.1
cudnn:7.6
python3.6

python -m pip install paddlepaddle-gpu==2.1.0.post101 -f https://paddlepaddle.org.cn/whl/mkl/stable.html

[2021-08-02 12:33] DannyIsFunny commented on #34534
你好，`layer_helper ` 接口不是我们对外开放的正式接口、该API属于内部DEBUG接口、主要用于 OP注册时的信息调试
如果只是想组一个网络并执行前向推理，可以参考以下DEMO：
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/layers_cn/elementwise_add_cn.html#daimashili-1

[2021-08-02 12:39] btobab commented on #34526
【队名】：没人比我更懂划水

【序号】：38

【论文】：R-Drop

【状态】：报名

【repo链接】：https://github.com/btobab/R-Drop

[2021-08-02 12:40] jm12138 commented on #34526
【队名】：网抑云

【序号】：37

【论文】：XCiT: Cross-Covariance Image Transformers

【状态】：报名

【repo链接】：https://github.com/jm12138/XCiT-Paddle

[2021-08-02 12:43] jm12138 commented on #34526
【队名】：网抑云

【序号】：35

【论文】：MLP-Mixer: An all-MLP Architecture for Vision

【状态】：报名

【repo链接】：https://github.com/jm12138/MLP-Mixer-Paddle

[2021-08-02 12:49] nuaaceieyty commented on #34526
【队名】：EICAS

【序号】：4

【论文】：EfficientDet: Scalable and Efficient Object Detection

【状态】：报名

【repo链接】：https://github.com/nuaaceieyty/Paddle-EfficientDet

[2021-08-02 12:49] robinbg commented on #34526
【队名】: 自动ac机

【序号】：32

【论文】：Wide Residual Networks

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-Wide-ResNet

[2021-08-02 12:50] nuaaceieyty commented on #34526
【队名】：EICAS

【序号】：12

【论文】：YOLOv4: Optimal Speed and Accuracy of Object Detection

【状态】：报名

【repo链接】：https://github.com/nuaaceieyty/Paddle-YOLOv4

[2021-08-02 12:51] txyugood commented on #34526
【队名】：txyugood

【序号】：18

【论文】：Holistically-Nested Edge Detection

【状态】：报名

【repo链接】：https://github.com/txyugood/hed

[2021-08-02 12:52] nuaaceieyty commented on #34526
【队名】：EICAS

【序号】：9

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/nuaaceieyty/Paddle-YOLOX

[2021-08-02 12:52] jm12138 commented on #34526
【队名】：网抑云

【序号】：36

【论文】：Deep Networks with Stochastic Depth

【状态】：报名

【repo链接】：https://github.com/jm12138/DropBlock-Paddle

[2021-08-02 12:53] robinbg commented on #34526
【队名】: 自动ac机

【序号】：36

【论文】：Deep Networks with Stochastic Depth

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-StochasticNet

[2021-08-02 12:54] jm12138 commented on #34526
【队名】：网抑云

【序号】：32

【论文】：Wide Residual Networks

【状态】：报名

【repo链接】：https://github.com/jm12138/WideResNet-Paddle

[2021-08-02 12:55] nuaaceieyty commented on #34526
【队名】：EICAS

【序号】：1

【论文】：YOLO9000: Better, Faster, Stronger

【状态】：报名

【repo链接】：https://github.com/nuaaceieyty/Paddle-YOLOv2

[2021-08-02 12:56] robinbg commented on #34526
【队名】: 自动ac机

【序号】：34

【论文】：Prototypical Networks for Few-shot Learning

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-PrototypicalNet

[2021-08-02 12:59] robinbg commented on #34526
【队名】: 自动ac机

【序号】：73

【论文】：ConvBERT: Improving BERT with Span-based Dynamic Convolution

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-ConvBERT

[2021-08-02 12:59] jm12138 commented on #34526
【队名】：网抑云

【序号】：34

【论文】： Prototypical Networks for Few-shot Learning

【状态】：报名

【repo链接】：https://github.com/jm12138/PrototypicalNetworks-Paddle

[2021-08-02 13:01] jm12138 commented on #34526
【队名】：网抑云

【序号】：38

【论文】：R-Drop: Regularized Dropout for Neural Networks

【状态】：报名

【repo链接】：https://github.com/jm12138/RDrop-Paddle

[2021-08-02 13:03] robinbg commented on #34526
【队名】: 自动ac机

【序号】：90

【论文】：ChineseBERT: Chinese Pretraining Enhanced by Glyph and Pinyin Information

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-ChineseBERT

[2021-08-02 13:05] zhangpu1211 opened #34561 "(External) Cuda error(9), invalid configuration argument."
版本、环境信息：
官方ai studio kernel
Python版本:python 3.7
框架版本:PaddlePaddle 2.1.0
看报错是mean op的时候报错了，cpu运行正常，gpu运行报错，调整batch_size也没有用。
代码地址：https://aistudio.baidu.com/aistudio/projectdetail/2246354
**报错日志如下：**
      6 args = parser.parse_args(args=[])
      7 log.info(args)
----> 8 pred = main(args)
<ipython-input-9-aa603221d727> in main(args)
     23                     train_loss, train_acc = train(train_i

[2021-08-02 13:09] nuaaceieyty commented on #34526
【队名】：EICAS

【序号】：14

【论文】：End to End Learning for Self-Driving Cars

【状态】：报名

【repo链接】：https://github.com/nuaaceieyty/Paddle-self-driving-car

[2021-08-02 13:27] Utopialjp commented on #34532
![image](https://user-images.githubusercontent.com/23400855/127869104-6af23359-4ae3-4535-b941-85f8191031a4.png)
pycharm里就是pip安装的，错误信息如上。

[2021-08-02 16:23] Xingyu-Romantic commented on #34526
【队名】：involute

【序号】：52

【论文】：Realtime Multi-Person 2D Pose Estimation using Part Affinity Fields

【状态】：报名

【repo链接】：https://github.com/Xingyu-Romantic/RMPose_PAF

[2021-08-03 00:58] #34551 closed, assigned to DannyIsFunny

[2021-08-03 00:58] #33703 closed, assigned to cryoco

[2021-08-03 00:58] #33772 closed, assigned to ForFishes

[2021-08-03 01:17] yeyupiaoling opened #34564 "fluid版本迁移到static版本，dynamic_gru要如何修改？"
- PaddlePaddle 2.1.1

Fluid的代码如下，fluid版本迁移到static版本，dynamic_gru要如何修改？
[code]

[2021-08-03 01:18] yeyupiaoling commented on #34550
谢谢

[2021-08-03 01:18] #34550 closed, assigned to DannyIsFunny

[2021-08-03 01:30] yeyupiaoling opened #34565 "有没有DataLoader在static的相关例子"
- PaddlePaddle 2.1.1

有没有DataLoader在static的相关例子，我在static上使用DataLoader报错，关键代码：
[code]

其中`feed_list`和`padding_batch()`输出都是4个的，不知道为啥提示不相等。是不是静态图还有什么特别的做法？

错误日志：
[code]

[2021-08-03 01:45] lizhipeng-bit opened #34566 "安装时出现RuntimeError"
RuntimeError: (PreconditionNotMet) The third-party dynamic library (cudnn64_7.dll) that Paddle depends on is not configured correctly. (error code is 126)
  Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configure third-party dynamic library environment variables as follows:
  - L

[2021-08-03 01:59] wanghuancoder commented on #34544
thx！
We will fix it in https://github.com/PaddlePaddle/Paddle/pull/34567

[2021-08-03 02:40] JunnYu commented on #34526
【队名】: 我们的名字刚好十个字

【序号】：73

【论文】：ConvBERT: Improving BERT with Span-based Dynamic Convolution

【状态】：报名

【repo链接】：https://github.com/JunnYu/paddle_convbert

[2021-08-03 03:06] jonny4929 commented on #34526
【队名】：jonny4929的团队

【序号】：17

【论文】：ENet: A Deep Neural Network Architecture for Real-Time Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/jonny4929/ENet-paddle

[2021-08-03 03:20] betterpig opened #34571 "代码问题请教"
- 文件路径：Paddle/paddle/fluid/operators/assign_value_op.h
- 函数：template <typename T>
              typename std::enable_if<std::is_same<T, bool>::value>::type CopyVecotorToTensor
- 问题描述：
我在学习assign_value算子的代码时，发现CopyVecotorToTensor函数中，下方标出的语句似乎不是必须的，并使用ctest验证了删掉该语句也通过了测试。猜测是原作者多加了这一行，故提出issue。
[code]

[2021-08-03 03:25] xinyi-code commented on #34533
thank You for your reply. It helped a lot.
The output of the script is showed as blow

import socket
socket.gethostbyname(socket.getfqdn(socket.gethostname()))
127.0.0.1

[2021-08-03 03:32] BADBADBADBOY commented on #34526
【队名】：fxwispig

【序号】：63

【论文】：Detecting Text in Natural Image with Connectionist Text Proposal Network

【状态】：报名

【repo链接】：https://github.com/BADBADBADBOY/paddle.ctpn

[2021-08-03 03:42] awsssix commented on #34526
【队名】：八月与安生
【序号】：39
【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search
【状态】：报名
【repo链接】：https://github.com/awsssix/Cream-Paddle

[2021-08-03 03:48] guochengzhen commented on #34526
【队名】：开心复现666

【序号】：24

【论文】：YOLACT: Real-time Instance Segmentation

【状态】：报名

【repo链接】：https://github.com/guochengzhen/YOLACT.paddle

[2021-08-03 03:51] yt123123 commented on #34526
【队名】：niu

【序号】：64

【论文】：Real-time Convolutional Neural Networks for Emotion and Gender Classification

【状态】：报名

【repo链接】：https://github.com/yt123123/com.git

[2021-08-03 04:03] guochengzhen commented on #34526
【队名】：开心复现666

【序号】：26

【论文】：YOLACT++: Better Real-time Instance Segmentation

【状态】：报名

【repo链接】：https://github.com/guochengzhen/YOLACT2.paddle

[2021-08-03 04:16] libertatis commented on #34526
【队名】：我爱志方小姐

【序号】：75

【论文】：Dense Passage Retrieval for Open-Domain Question Answering

【状态】：报名

【repo链接】：https://github.com/libertatis/DPR-Paddle

[2021-08-03 04:18] hrdwsong commented on #34526
【队名】：深智源

【序号】：32

【论文】：Wide Residual Networks

【状态】：报名

【repo链接】：https://github.com/hrdwsong/WideResnet

[2021-08-03 04:38] libertatis commented on #34526
【队名】：我爱志方小姐

【序号】：69

【论文】：End-To-End Memory Networks

【状态】：报名

【repo链接】：https://github.com/libertatis/MemNN-Paddle

[2021-08-03 05:35] jiweibo commented on #34566
您好，您的环境中需要安装cudnn哈，请从nvidia官网下载对应的cudnn版本， 并将其解压到cuda安装的目录哈

[2021-08-03 05:38] kuizhiqing commented on #34533
Well, that's the problem, please use solution 1 or 2 above to fix it.

Further, please provide more information for us to fix it internally,
1. your os/platform version: ubuntu/centos or others
2. the result of *ifconfig*
3. the result of script below
 `import socket`
 `host_name = socket.gethostname()`
 `host_ip = socket.gethostbyname(host_name)`
 `host_name, host_ip`

thx

[2021-08-03 05:39] jiweibo commented on #34564
您好，如果是切换到动态图的话， 请直接使用GRU API https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/GRU_cn.html#gru

如果您依然是使用静态图的话，2.1.1的这个版本您还是能够使用fluid.layers.dynamic_gru的
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/layers/dynamic_gru_cn.html

[2021-08-03 05:49] jiweibo commented on #34571
您好，看了下相关代码，确实不是必须的，感谢您的反馈！后续反馈API负责人修改哈

[2021-08-03 05:58] Callifrey commented on #34526
【队名】：Doctor Who

【序号】：46

【论文】：Semantic Image Synthesis with Spatially-Adaptive Normalization

【状态】：报名

【repo链接】：https://github.com/Callifrey/SPADE-Paddle

[2021-08-03 06:02] maruru-hub commented on #34526
【队名】：蜜雪冰城甜蜜蜜

【序号】：41

【论文】：Image Inpainting for Irregular Holes Using Partial Convolutions

【状态】：报名

【repo链接】：https://github.com/maruru-hub/PartialConv-paddle

[2021-08-03 06:12] yeyupiaoling commented on #34564
@jiweibo 我用的是静态图，不是说fluid接口之后会删除吗。我想全部修改了为其他的API接口。

[2021-08-03 06:14] juncaipeng opened #34574 "quantized segmentation model raises relu error"
Download the demo(url:https://pan.baidu.com/s/1NW7L4-fggH-nnJE9SNu63g  passwd:kf1l) and refer to the readme.

Error as follows:
[code]

[2021-08-03 06:19] jonny4929 commented on #34526
【队名】：jonny4929的团队

【序号】：23

【论文】：SegNet: A Deep Convolutional Encoder-Decoder Architecture for Image Segmentation

【状态】：报名

【repo链接】：https://github.com/jonny4929/segnet

[2021-08-03 06:20] heavengate commented on #34565
静态图没有什么额外的做法，看报错信息应该就是feed_list规定了4个字段，但是输入只有3个字段，你可以在padding_batch里把输出打印一下，是不是有的sample只有3个字段之类的

[2021-08-03 06:22] yeyupiaoling commented on #34565
@heavengate padding_batch 输出是4个，正常的。

[code]

[2021-08-03 06:24] lizhipeng-bit commented on #34566
按照官网   python -m pip install paddlepaddle-gpu -i https://mirror.baidu.com/pypi/simple    这种方式安装的；下载了cudnn，应该解压到哪里，没有找到对应的cuda的安装目录；环境变量要怎么配置。

[2021-08-03 06:25] heavengate commented on #34565
可以打印一下排查一下个数和shape对不对得上

[2021-08-03 06:26] yeyupiaoling commented on #34565
@heavengate 对得上的。

[code]

[2021-08-03 06:27] yeyupiaoling commented on #34565
@heavengate 源码可以在这里看：https://github.com/yeyupiaoling/PaddlePaddle-DeepSpeech/blob/3db0033e206f20d4046992955f23cc96e8338165/train.py#L58-L63

[2021-08-03 06:29] heavengate commented on #34565
text需要用list of numpy array的格式，lod tensor是blocking queue里组的

[2021-08-03 06:38] xiao9284 commented on #34412
------------------ 原始邮件 ------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月28日(星期三) 上午10:38
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [PaddlePaddle/Padd

[2021-08-03 06:45] xiao9284 commented on #34412
![850M显卡](https://user-images.githubusercontent.com/23395456/127970155-2f05af62-0635-4a63-8edd-15bd1b629de2.png)
![cuda11 2](https://user-images.githubusercontent.com/23395456/127970158-50788df3-1265-407b-bb51-b05e8c652fe9.png)
![cudnn](https://user-images.githubusercontent.com/23395456/127970161-97f79943-51c9-47ae-b120-c64ce50f5725.png)
![paddle版本](https://user-images.githubusercontent.com/233954

[2021-08-03 07:19] fclearner commented on #34526
【队名】：写代码的咕噜

【序号】：91

【论文】：Listen, Attend and Spell

【状态】：报名

【repo链接】：https://github.com/fclearner/Listen_and_spell_paper_paddle.git

[2021-08-03 07:46] LinXin04 commented on #34557
@DannyIsFunny 麻烦大佬帮忙看看～

[2021-08-03 07:55] yingyibiao commented on #34412
mark

[2021-08-03 07:59] zhangpu1211 commented on #34561
没人回应么

[2021-08-03 08:14] Martion-z commented on #34526
【队名】：皮蛋瘦肉周

【序号】：65

【论文】：PULSE: Self-Supervised Photo Upsampling via Latent Space Exploration of Generative Models

【状态】：报名

【repo链接】：https://github.com/Martion-z/Paddle-PULSE.git

[2021-08-03 08:15] Caimthefool commented on #34526
【队名】：愚者

【序号】：43

【论文】：Generative Adversarial Text to Image Synthesis

【状态】：报名

【repo链接】：https://github.com/Caimthefool/Paddle_T2I

[2021-08-03 08:19] DannyIsFunny commented on #34561
请问是aiStudio 上的使用问题吗

[2021-08-03 08:20] jiaohuix commented on #34526
【队名】：角灰大帝硬train一发
【序号】：35

【论文】： MLP-Mixer: An all-MLP Architecture for Vision

【状态】：报名

【repo链接】：https://github.com/MiuGod0126/my-mlp-mixer

[2021-08-03 08:20] BaorongLiu commented on #34526
【队名】：对不队

【序号】：12

【论文】：YOLOv4: Optimal Speed and Accuracy of Object Detection

【状态】：报名

【repo链接】：https://github.com/BaorongLiu/Paddle_YOLOV4

[2021-08-03 08:25] BaorongLiu commented on #34526
【队名】：对不队

【序号】：11

【论文】：Bottom-Up and Top-Down Attention for Image Captioning and Visual Question Answering

【状态】：报名

【repo链接】：https://github.com/BaorongLiu/Paddle_Bottom-Up-and-Top-Down-Attention-for-Image-Captioning-and-Visual-Question-Answering

[2021-08-03 08:25] #31459 closed, assigned to zhwesky2010

[2021-08-03 08:25] jiaohuix commented on #34526
【队名】：角灰大帝硬train一发

【序号】：91

【论文】：Listen, Attend and Spell

【状态】：报名

【repo链接】：https://github.com/MiuGod0126/LAS-paddle

[2021-08-03 08:30] baoachun commented on #34492
能分享下你的模型吗？我这边没有合适的模型复现

[2021-08-03 08:31] baoachun commented on #34492
@dwSun 请问能分享下你的模型吗？我这边没有合适的模型复现问题

[2021-08-03 08:34] zhwesky2010 commented on #31251
@thunder95 您好，我这边进行了一些尝试：

![infoflow 2021-08-03 16-31-57](https://user-images.githubusercontent.com/52485244/127984515-95dcf320-19ab-42c7-bff4-9a1a3f2fec96.png)

通过pythonw运行上述脚本，没有复现您说的问题，日志可以正常打印：

![infoflow 2021-08-03 16-32-18](https://user-images.githubusercontent.com/52485244/127984631-b61490af-50c9-4461-9825-07cc29c5e27a.png)

[2021-08-03 08:36] #31251 closed, assigned to zhwesky2010

[2021-08-03 08:36] dwSun commented on #34492
抱歉，项目内模型，不太好分享 @FlyingQianMM 那边似乎有一个可用的模型， 已经测试过 unet 单线程的运行

[2021-08-03 08:43] zhangpu1211 commented on #34561
应该是paddle的问题

[2021-08-03 08:51] DannyIsFunny commented on #34557
Objective
This issue may be caused by incorrect GPU driver (insufficient driver version). The old GPU driver should be removed as the new version GPU driver needs to be installed.

Steps
To reinstall GPU driver:
1. Download the required GPU driver via the below link:
    https://www.nvidia.com/Download/index.aspx
2. Remove the old version GPU driver:
    apt purge nvidia*
3. Restart the host.
4. I

[2021-08-03 08:52] DannyIsFunny commented on #34557
或者可以检查一下：环境的cuda driver版本和cudnn版本是否匹配

[2021-08-03 08:53] JunnYu commented on #34526
【队名】：我们的名字刚好十个字

【序号】：75

【论文】：Dense Passage Retrieval for Open-Domain Question Answering

【状态】：报名

【repo链接】：https://github.com/junnyu/dpr_paddle

[2021-08-03 08:54] DannyIsFunny commented on #34553
https://github.com/PaddlePaddle/PaddleOCR/blob/release%2F2.2/doc/doc_ch/whl.md
如果是ros python的话可以直接安装whl包，使用paddleocr

[2021-08-03 08:58] ccl-private opened #34578 "rotate rectangle not surport?"
rotate rectangle not support?

[2021-08-03 08:58] #33789 closed, assigned to Thunderbrook

[2021-08-03 09:02] JunnYu commented on #34526
【队名】：我们的名字刚好十个字

【序号】：75

【论文】：Dense Passage Retrieval for Open-Domain Question Answering

【状态】：提交

【repo链接】：https://github.com/junnyu/dpr_paddle

[2021-08-03 09:15] DannyIsFunny commented on #34549
可以参考这个解决：
https://github.com/PaddlePaddle/Paddle/issues/34565

[2021-08-03 09:17] yeyupiaoling commented on #34565
嗯嗯，是这个问题。谢谢

[2021-08-03 09:17] #34565 closed, assigned to heavengate

[2021-08-03 09:17] #34549 closed, assigned to heavengate, DannyIsFunny

[2021-08-03 09:26] LinXin04 commented on #34557
运行别的tensorflow代码GPU是可以的，paddle，paddlepaddle-gpu也可以安装成功。但是运行paddleOCR的时候还是有初始化问题，不知道怎么定位
import torch
print(torch.__version__)
print(torch.version.cuda)
print(torch.backends.cudnn.version())

1.4.0
10.1
7603

[2021-08-03 09:28] Xreki commented on #34527
这个错误是因为AIStudio容器shared memory只有64M，无法设置成更大的。可以将DataLoader的use_shared_memory设置成False试下。

[2021-08-03 09:33] jiweibo commented on #34578
Hello, what operation does rotate rectangle refer to?

[2021-08-03 09:46] ctkindle commented on #34526
【队名】：FutureSI

【序号】：46

【论文】：Semantic Image Synthesis with Spatially-Adaptive Normalization

【状态】：报名/提交

【repo链接】：https://github.com/NVlabs/SPADE

[2021-08-03 09:59] wshaow commented on #34526
【队名】：YOLM

【序号】：6

【论文】： Scaled-YOLOv4: Scaling Cross Stage Partial Network

【状态】：报名

【repo链接】：https://github.com/wshaow/ScaledYOLOv4

[2021-08-03 10:10] dingsiyu commented on #34412
paddle的版本与当前机器上的基础环境（例如cuda、cudnn、gcc等）不适配，如果更新了底层的基础环境，建议把paddle也同步更新

[2021-08-03 10:14] GT-ZhangAcer commented on #34412
850M显卡是一款移动端显卡，由于架构过久，对新版本的CUDA支持也有很多问题，建议10系以上N卡进行深度学习。
同样，该显卡在显存和算力等方面也落后很多，即使使用了合适CUDA版本，也未必见得可以跑基础的深度学习模型，建议更换显卡或在AI Studio等平台完成训练。

[2021-08-03 10:18] hrdwsong opened #34581 "[论文复现赛-第四期]windows下进行dataloader调用时，报错退出"
- 版本、环境信息：
Paddle version: 2.1.0
Paddle With CUDA: True
OS: Windows 10
Python version: 3.7.10
CUDA version: 11.1.74
Build cuda_11.1.relgpu_drvr455TC455_06.29069683_0
cuDNN version: None.None.None
Nvidia driver version: 461.72
- 训练信息
    1）单机，单卡
    2）显存信息 8GB
    3）Operator信息
使用CIFAR数据集，用dataloader调用时，报以下错误：
W0803 18:14:36.035079 16012 device_context.cc:404] Please NOTE: device: 0, GPU Compute Cap

[2021-08-03 10:33] dwSun commented on #34492
我们这边测试，如果在一个进程里面加载多个模型，顺序执行，多执行几遍的时候，也会出现这个问题。

还是 use_mkl = False 的时候就没有问题。

[code]

[2021-08-03 10:54] zhwesky2010 commented on #32510
@xiayouran 您好，请问是否是环境问题呢，这个只是将GPU上的Tensor拷贝到CPU上，是深度学习十分普遍的操作。推测是显卡可能目前被占用了

[2021-08-03 11:17] littletomatodonkey commented on #33974
你好使用hub调用的话，是需要联网下载模型的

[2021-08-03 11:21] pangyoki commented on #34532
你好，直接下载whl包到本地安装可以吗？
https://paddle-wheel.bj.bcebos.com/2.1.2/macos/macos-cpu-openblas/paddlepaddle-2.1.2-cp38-cp38-macosx_10_14_x86_64.whl

[2021-08-03 11:46] Atmosphere-art commented on #34526
【队名】：不是吧不是吧难道单押也算押

【序号】：42

【论文】：Self-Attention Generative Adversarial Networks

【状态】：报名

【repo链接】：https://github.com/Atmosphere-art/Self-Attention-GAN

[2021-08-03 12:07] xmy0916 commented on #34526
【队名】：不是吧不是吧难道专家也算家

【序号】：32

【论文】：Wide Residual Networks

【状态】：报名

【repo链接】：https://github.com/xmy0916/wide_resnet_paddle

[2021-08-03 12:57] zhangpu1211 commented on #33063
您好，我也遇到这个问题了，https://github.com/PaddlePaddle/Paddle/issues/34561，请问这个问题现在解决了么

[2021-08-03 12:57] fuqianya commented on #34526
【队名】：fuqianya

【序号】：10

【论文】：Show, Attend and Tell: Neural Image Caption Generation with Visual Attention

【状态】：报名

【repo链接】：https://github.com/fuqianya/show-attend-and-tell-paddle

[2021-08-03 12:58] fuqianya commented on #34526
【队名】：fuqianya

【序号】：11

【论文】：Bottom-Up and Top-Down Attention for Image Captioning and Visual Question Answering

【状态】：报名

【repo链接】：https://github.com/fuqianya/bottom-up-attention-paddle

[2021-08-03 13:01] zhangpu1211 commented on #30947
我也遇到了这个问题，但是不知道怎么改，https://github.com/PaddlePaddle/Paddle/issues/34561，请问什么时候可以修复呢

[2021-08-03 13:23] GuoQuanhao opened #34589 "squeeze bug?"
platform: AIStudio
version: 2.1.0
[code]
[code]
[code]
[code]
但改变了维度
[code]
[code]

[2021-08-03 13:23] #33681 closed, assigned to vslyu

[2021-08-03 13:24] #33362 closed, assigned to jerrywgz

[2021-08-03 13:40] yangcedrus commented on #34526
【队名】：没有服务器

【序号】：34

【论文】：Prototypical Networks for Few-shot Learning

【状态】：报名

【repo链接】：https://github.com/yangcedrus/ProtoNet

[2021-08-03 13:52] jiweibo commented on #34589
看起来是一个bug，squeeze()和squeeze_()的行为不统一。

我们API负责人会修复该问题，感谢您的反馈哈！

[2021-08-03 13:59] heavengate commented on #34581
看你日志里并没有报错，有详细日志么

[2021-08-03 14:06] xxxlil commented on #34526
【队名】：今晚杀不杀

【序号】：70

【论文】：Convolutional Sequence to Sequence Learning

【状态】：报名

【repo链接】：https://github.com/xxxlil/PaddlePaddle

[2021-08-03 14:12] Andy1314Chen commented on #34526
【队名】：A3

【序号】：93

【论文】：Deep Learning Recommendation Model for Personalization and Recommendation Systems

【状态】：报名

【repo链接】：https://github.com/Andy1314Chen/DLRM-Paddle

[2021-08-03 15:52] btobab commented on #34526
【队名】：没人比我更懂划水

【序号】：38

【论文】：R-Drop

【状态】：提交

【repo链接】：https://github.com/btobab/R-Drop

[2021-08-03 15:57] Xingyu-Romantic opened #34590 "[论文复现赛-第四期]在Aistudio环境下，生成网络结构报错，Cuda error(2), out of memory"
在本机是可以的，但是在AI studio上不可以
本机环境如下:
 device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.4, Runtime API Version: 10.1 CUDNN  7.6
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 2.1.0
    3）GPU：GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime API Version: 10.1  CUDNN 7.6
    4）AI studio
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_e

[2021-08-03 16:08] renmada commented on #34526
【队名】: arbiter

【序号】：73

【论文】：ConvBERT: Improving BERT with Span-based Dynamic Convolution

【状态】：报名

【repo链接】：https://github.com/renmada/convbert

[2021-08-03 16:18] yeyupiaoling opened #34591 "导入paddle报‘No module named 'paddle.fluid.core_noavx’错误"
- PaddlePaddle CPU 2.1.1
 - Python 3.7
 - Windows 10

错误日志：
[code]

[2021-08-04 00:44] PluteW commented on #34526
【队名】: 成都今天也好热

【序号】：7

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：报名

【repo链接】：https://github.com/PluteW/MnasNet-Paddle

[2021-08-04 01:24] thinkall commented on #34526
【队名】：bnujli的团队

【序号】：92

【论文】：Field-Embedded Factorization Machines for Click-through rate prediction

【状态】：报名

【repo链接】：https://github.com/thinkall/deepfefm

[2021-08-04 02:01] DannyIsFunny commented on #34561
这个错误可能是因为AIStudio容器shared memory只有64M，无法设置成更大的。可以将DataLoader的use_shared_memory设置成False试下

[2021-08-04 02:02] DannyIsFunny commented on #34557
![78060b6c202babb9935163cf9b9c0869](https://user-images.githubusercontent.com/45189361/128109958-b12600e4-9ee5-4b29-8604-2d7dc451904c.png)
你好可以参照这个表比对一下CUDA和driver版本是否匹配

[2021-08-04 02:05] jiweibo commented on #34590
您好，看报错信息，好像是out of memory，请问可能是显卡被多人占用了吗？

`OSError: (External) Cuda error(2), out of memory. [Advise: The API call failed because it was unable to allocate enough memory to perform the requested operation. ] (at /paddle/paddle/fluid/platform/stream/cuda_stream.cc:49)`

另外本地能跑，AI Studio上跑不了，这两个环境有什么样的diff吗

[2021-08-04 02:07] tt8000 commented on #34526
【队名】：咸鱼翻身

【序号】：28

【论文】：Context Prior for Scene Segmentation

【状态】：报名

【repo链接】：https://github.com/2U-maker/Paddle-ContextPrior

[2021-08-04 02:12] Attackzzw commented on #34526
【队名】：秃鸡队

【序号】：56

【论文】：Learning to See in the Dark

【状态】：报名

【repo链接】：https://github.com/Attackzzw/Paddle-Learning-to-See-in-the-Dark

[2021-08-04 02:52] dongyourbb commented on #34526
【队名】：黑眼圈

【序号】：23

【论文】：SegNet: A Deep Convolutional Encoder-Decoder Architecture for Image Segmentation

【状态】：提交

【repo链接】：https://github.com/dongyourbb/Paddle_SegNet

[2021-08-04 02:52] #34589 closed, assigned to jiweibo

[2021-08-04 03:00] GuoQuanhao opened #34593 "data reader"
[code]
我在读取数据的时候，由于batchsize=32并不能被整除，最后会剩一个16的mini-batch，如何在读取时丢掉mini-batch呢，我尝试了drop_last，但并不起作用

[2021-08-04 03:42] phlrain commented on #34419
经过我们得分析，这种写法 ret_log_s[b, row_slice, col_slice] = log_s，会导致梯度回传中断，这个问题，我们在高优修复中

[2021-08-04 03:54] Evezerest commented on #34335
8.由于数据来源比较多，配置文件中的‘train_list.txt’是一个示例名，需要用户手动修改名称，我们稍后会对文档进行补充。

[2021-08-04 04:48] xmy0916 commented on #34526
【队名】：不是吧不是吧难道专家也算家

【序号】：36

【论文】：Deep Networks with Stochastic Depth

【状态】：报名

【repo链接】：https://github.com/xmy0916/Paddle_StochasticNet

[2021-08-04 05:12] xinyi-code commented on #34533
1. ubuntu 18.04.1  LTS
2.ifconfig
eth0: inet 192.168.130.xxx. netmask 255.255.248.xxx, broadcast:182.168.135.xxx
3. hostname:vm192-168-130-xxx.cloud.local. hostip:127.0.0.1
The machine is a server machine applied from jinshanyun, this information may be of some help.

[2021-08-04 05:26] melyseengit opened #34597 "do not use awk grep etc. to get env infomation"
paddlepaddle 2.1.1
$PYTHON_HOME/lib/python3.6/site-packages/paddle/fluid/core.py

[code]

[code]

sometimes python itself is linked with higher glibc (not using the system glibc), so use subprocess to call these elf (eg. awk/grep) may not work properly, it might cause segv fault so paddle would complain that avx is not supported when it did support in cpu.

[2021-08-04 05:39] kuizhiqing commented on #34533
Thank you, we will take it into consideration.

[2021-08-04 05:51] jiweibo commented on #34566
windows环境下，您首先需要安装nvidia driver（默认您应该已经装了的），之后需要安装cuda。

cuda安装完后，需要安装cudnn。 cudnn默认是安装到cuda的目录下的，您可以去NV官网看下安装教程

[2021-08-04 06:03] laihuihui commented on #34526
【队名】：划水

【序号】：13

【论文】：Hybrid Task Cascade for Instance Segmentation

【状态】：报名

【repo链接】：https://github.com/laihuihui/htc

[2021-08-04 06:59] Callifrey commented on #34526
【队名】：Doctor Who

【序号】：44

【论文】：Conditional Image Synthesis With Auxiliary Classifier GANs

【状态】：报名

【repo链接】：https://github.com/Callifrey/ACGAN-Paddle

[2021-08-04 07:02] ccl-private commented on #34578
I want to detect text in any shape, more than rectangles.
I have some custom data.
how can I train with data in rotate-rectangle-labels or other shapes in the future?

[2021-08-04 07:30] zhangpu1211 commented on #34561
我没有用DataLoader，那我该怎么设置呢？

[2021-08-04 07:31] zhwesky2010 commented on #34591
@yeyupiaoling 您好，请问有其他报错信息吗？这里的报错内容是加载core_noavx失败了，可能是机器的CPU不支持avx指令集，但需要更多的报错内容才能详细定位

[2021-08-04 07:32] yeyupiaoling commented on #34591
@zhouwei25 没有了，导入paddle的是就报这个错误了，有2.1.1，Python 3.7 的noavx安装包吗？

[2021-08-04 07:43] zhwesky2010 commented on #34591
@yeyupiaoling conda的没拆分avx，PIP的有no avx的介绍，https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/windows-pip.html

[2021-08-04 07:44] lidanqing-vv commented on #34458
@bjjwwang Are you able to reproduce it, do you need any support ?

[2021-08-04 07:44] yeyupiaoling commented on #34591
@zhouwei25 我的就是anaconda的，这么也会这样呢？

[2021-08-04 07:46] zhwesky2010 commented on #34591
可以看看 `C:\Anaconda3\envs\PaddlePaddle\lib\site-packages\paddle\fluid\` 里面是不是没有core_noavx这个文件，或者重新安装下

[2021-08-04 07:46] yeyupiaoling commented on #34591
好的。我试试

[2021-08-04 07:51] zhwesky2010 commented on #34591
conda的包里只有core_avx，编译时没有发布no avx版本，所以只能用PIP的版本

[2021-08-04 07:52] yeyupiaoling commented on #34591
原来是这样，好的，谢谢。

[2021-08-04 07:52] #34591 closed, assigned to nobody

[2021-08-04 07:57] zhangpu1211 commented on #34561
本地GPU可以跑，但是结果和CPU差很多，https://github.com/PaddlePaddle/PGL/issues/303

[2021-08-04 08:06] jm12138 commented on #34526
【队名】：网抑云

【序号】：14

【论文】：End to End Learning for Self-Driving Cars

【状态】：报名

【repo链接】：https://github.com/jm12138/car-behavioral-cloning-paddle

[2021-08-04 08:06] jm12138 commented on #34526
【队名】：网抑云

【序号】：14

【论文】：End to End Learning for Self-Driving Cars

【状态】：提交

【repo链接】：https://github.com/jm12138/car-behavioral-cloning-paddle

[2021-08-04 08:14] QQ39272490 opened #34604 "jetsno nano 多进程预测 copy_from_cpu报错"
jetson nano 2G 版本，想把预测独立进程。写了一个TPaddlex 进程类，我把全部代码放出来了直接运行python multipro.py
[program.zip](https://github.com/PaddlePaddle/Paddle/files/6929688/program.zip)

![5JQ}9FBM_ ~R~YYK~$HF71V](https://user-images.githubusercontent.com/2766645/128146322-4aab56c0-cbc1-4fd9-b79f-86c9bebba67d.png)
![@06{Q3IT}$OS N_J91%WNR2](https://user-images.githubusercontent.com/2766645/128146353-43dd6fb2-77af-471e-bc8a-2b

[2021-08-04 08:16] Zeldalina commented on #34526
【队名】：l蓝鲸鱼

【序号】：44

【论文】：基于辅助分类器GANs的条件图像合成

【状态】：注册

【repo链接】：https://github.com/Zeldalina/My-Repository

[2021-08-04 08:16] Zeldalina commented on #34526
【队名】：蓝鲸鱼

【序号】：44

【论文】：基于辅助分类器GANs的条件合成

【状态】：注册

【repo链接】：https://github.com/Zeldalina/My-Repository

[2021-08-04 08:20] Utopialjp commented on #34532
![image](https://user-images.githubusercontent.com/23400855/128147311-6b5908ef-8510-47c2-a212-b4b36d0d2763.png)
无法安装呢

[2021-08-04 08:35] hjZhouGitHub commented on #33911
已查找出问题，原因出在GPU，数据to(device)时莫名一部分变为nan。
找到的一个解决方法是放在CPUPlace，然后再to(device)

[2021-08-04 08:35] #33911 closed, assigned to LDOUBLEV

[2021-08-04 08:42] weiexcelpro commented on #34561
AIStudio容器shared memory只有64MB, 近期AIStudio将会对此扩容. 大概需要1个月左右吧. 预计提升到512MB或1GB左右.

[2021-08-04 10:04] Wolkenwandler commented on #34526
【队名】：一起向前冲

【序号】：7

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：报名

【repo链接】：https://github.com/Cloud-Rambler/MnasNet

[2021-08-04 10:12] jiweibo commented on #34564
2.0您可以使用动态图API接口哈！

[2021-08-04 11:37] JunnYu commented on #34526
【队名】: 我们的名字刚好十个字

【序号】：73

【论文】：ConvBERT: Improving BERT with Span-based Dynamic Convolution

【状态】：提交

【repo链接】：https://github.com/JunnYu/paddle_convbert

[2021-08-04 11:44] ABAPPLO opened #34614 "NPU编译后执行加载预训练模型(ernie)报错：'PosixPath' object has no attribute 'tell'"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2 在昇腾编译后安装
          编译doc：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_hardware_support/npu_docs/paddle_install_cn.html
    2）处理器：鲲鹏920
    3）NPU：ascent 310
    4）系统环境：
          操作系统：：4.14.0-115.el7a.0.1.aarch64
          python： 3.7.5
          CANN： 20.3（3.3.0）
- 训练信息
    1）单机多卡
    2）显存信息： 2703 / 8192 *4
- 复现信息：
   编译后的paddle用于ernie的文本编码

[2021-08-04 12:24] GuoQuanhao commented on #34526
【队名】: 陈书记的小跟班

【序号】：61

【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild

【状态】：报名

【repo链接】：https://github.com/GuoQuanhao/RetinaFace-Paddle

[2021-08-04 12:38] dagongji10 commented on #34526
【队名】: 别动我变身器

【序号】：35

【论文】：MLP-Mixer: An all-MLP Architecture for Vision

【状态】：报名

【repo链接】：https://github.com/dagongji10/PaddlePaddle-MLPMixer

[2021-08-04 13:25] Evezerest commented on #34590
手动在AI Studio上装一下2.1.1 的paddle可以解决吗