[2021-10-14 12:03] ceci3 commented on #36425
您好，我这里用上面您提供的代码没有复现出参数不更新的问题，可以提供下你那边的整体代码吗？

[2021-10-14 12:34] huangwan-jiayi commented on #36436
不好意思，不太明白你的意思。
![image](https://user-images.githubusercontent.com/71338215/137318062-2a13203b-564e-4cca-a13c-b7ca7c65557d.png)

[2021-10-14 12:42] zhiboniu commented on #36436
![image](https://user-images.githubusercontent.com/31800336/137319214-bb23a06e-40cb-456e-a445-9cf5bdae2d3a.png)
这段log里显示跑到这个位置出错了，在这个位置之前打印肯定可以运行到。
请问后面几次测试为什么没有再出现这个log啊？复现这个log就可以看到打印的值了

[2021-10-14 13:18] huangwan-jiayi commented on #36436
我太笨了，还是不太明白你的意思，不过我之前裁剪的时候我还没有停止训练，不知道是不是和这个有关系。我现在把之前的裁剪好的文件删除了，再重新裁剪试一试。

[2021-10-14 13:26] jwmneu commented on #36245
anybody knows？

[2021-10-14 14:21] Lnstree opened #36451 "paddle.io.DataLoade crash"
****************************************
Paddle version: 2.1.3
Paddle With CUDA: True
OS: Windows 10
Python version: 3.7.10
CUDA version: 10.0.130
cuDNN version: 7.6.5
Nvidia driver version: 466.27
****************************************

遍历DataLoade对象结束时，程序闪退，无任何提示信息输出。

[code]

[2021-10-15 02:13] huangwan-jiayi commented on #36436
![image](https://user-images.githubusercontent.com/71338215/137421319-2dacbb65-9ae7-43c2-8ad8-8c2bedef3806.png)
![image](https://user-images.githubusercontent.com/71338215/137421387-8c8df93c-6c41-46bd-9c1e-130e1c201dd3.png)
说输入的标签的值不对？

[2021-10-15 02:32] zhiboniu commented on #36451
你好，请问使用的是什么数据集？哪个repo和分支的程序，或者能否提供一些完整的程序，以便我们可以复现问题

[2021-10-15 02:37] zhiboniu commented on #36436
是的，看起来实际用的标签值超出了网络中softmax实际范围，请确认网络配置或者标签与实际预期的差别吧，把错误的改了再试试

[2021-10-15 02:48] huangwan-jiayi commented on #36436
我不太明白怎么修改，是配置文件里的num_classes不对吗？还是要改哪里呢？

[2021-10-15 02:51] zhiboniu commented on #36436
如果有num_classes配置一般是这个，对的。另外确认一下softmax前面的fc层输出数量是否跟num_classes一致。
关键是要确保实际label值的范围不能大于这个num_classes。

[2021-10-15 02:52] Lnstree commented on #36451
环境使用conda命令安装， 版本如下：
![企业微信截图_16342657552338](https://user-images.githubusercontent.com/2936886/137424012-249f5faa-c545-4c51-a0f0-9034f3f16748.png)

[bert_bug.zip](https://github.com/PaddlePaddle/Paddle/files/7350544/bert_bug.zip)

昨天跟了下代码，可能是_DataLoaderIterSingleProcess read_next_var_list() 最后一次迭代时，越界了。

[2021-10-15 02:53] zhiboniu commented on #36451
好的，我们会安排相关同学进行排查，有结果了会及时回复在这里，期间请耐心等待一下

[2021-10-15 02:57] Lnstree commented on #36451
[code]
[bert_test_bug.zip](https://github.com/PaddlePaddle/Paddle/files/7350567/bert_test_bug.zip)
重先上传下测试代码

[2021-10-15 03:13] zhiboniu commented on #36437
现在对nhwc的开关就是在API参数中设置的，还没有全局设置方式

[2021-10-15 03:22] heavengate commented on #36451
你好，请问是有报错么，遍历结束的话DataLoader退出，是没有log提示的

[2021-10-15 03:28] Lnstree commented on #36451
没有任何log输出， 迭代到最后一次的时候，直接闪退。
测试例程中 print("End") 没有执行。

[2021-10-15 03:33] spacegrass opened #36455 "[模型输入信息] 无法获取模型输入shape信息"
问题描述：
- PaddlePaddle训练的 动态图模型
- 导出为静态图模型，导出名字没有自定义，使用的PaddlePaddle默认值：

 model.pdmodel
model.pdiparams

- 发现导出的模型只能使用 paddle_inference_api.h里的函数创建 Predictor类进行预测
- 无法使用paddle_api.h里的 PaddlePredictor类，创建时会报错
- 但   Predictor类里无法获取到模型的输入shape信息，但 通过netron是可以获取到的
- 请问这个模型我们怎么获取输入和输出的shape信息？

[2021-10-15 03:34] tonylin52 commented on #36425
十分感谢及时回复，我这面解决了，cuda安装10就可以了（conda安装）

我之前安装的是cuda11，改成cuda10就可以更新了。但是很奇怪，我用pytorch试验bn_3d就是cuda11也没问题。

[2021-10-15 03:35] tonylin52 commented on #36425
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.84       Driver Version: 460.84       CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |

[2021-10-15 03:40] TimZhang001 opened #36456 "无监督和自监督的repo增加"
目前自监督和无监督发展非常快，其中一些方法我们已经在产品中应用，比如一些anormaly detection的方法。是否有考虑将该类问题增加一个repo呢？

[2021-10-15 04:06] hhxdestiny opened #36458 "Matting(MODNet模型)导出报错: 'Valid index accept int or slice or ellipsis, but received img. '"
- 版本、环境信息：
1）Platform: AI Studio
2）PaddlePaddle版本：2.1.1
3）GPU：32G
- 模型信息
1）模型名称: MODNet
2）模型链接: [MODNet](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/contrib/Matting/model/modnet.py)
- 复现信息：
1）拷贝[exprot.py](PaddleSeg/export.py)到PaddleSeg/contrib/Matting下
2）修改line:141
[code]
3)  执行
[code]
- 问题描述：
[code]

[2021-10-15 04:39] yingyibiao commented on #36456
您好，非常感谢您的咨询，我们想进一步和您沟通下需求背景以及使用场景。自监督和无监督是一个非常宽泛的概念，想问一下您期望的产品形态以及相对应的使用场景（除了anormaly detection还有哪些），以便我们内部进行更好的评估。另外，如果有类似的开源repo，也欢迎列出来供我们参考～

[2021-10-15 04:53] baoachun opened #36461 "Matmul_v2 broadcasting mkldnn fuse passes"
Hi @lidanqing-intel @jczaja, this AR has a higher priority, and ends on the 29th. Thank you very much!

[2021-10-15 05:26] jiweibo commented on #36455
您好，关于导出模型name问题，可以参考文档https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/04_dygraph_to_static/export_model/case_analysis_cn.html#jit-save

目前预测推荐使用的就是paddle_inference_api.h中的Predictor，PaddlePredictor已不建议使用，会在某一版本中去除。

此外关于模型输入shape的问题，因为netron可视化查看到的shape都是标称shape，该值无法保证正确，所以您需要根据模型的训练信息，去设置输入的shape，也就是说输入shape是您在代码中设置的。

输出shape的获取，predictor.run() 运行完毕后，可以取得 out_handle = predictor.get_o

[2021-10-15 05:45] ZHANG-GuiGui commented on #36411
通过更新CUDA为11.2版本解决

[2021-10-15 05:45] #36411 closed, assigned to zh794390558

[2021-10-15 06:07] wuyefeilin commented on #36458
@hhxdestiny 你好，matting里模型的输入是个字典，跟paddleseg里模型略有不同，你可以在模型的forward的函数里改一下暂时先进行导出。我们后续会跟进导出这一块的功能。

有相关问题可以提到https://github.com/PaddlePaddle/PaddleSeg里，方便我们进行回答哈

[2021-10-15 07:09] gbstack commented on #35940
【队名】：redino

【序号】：66

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/PaddleDetection/pull/4317

[2021-10-15 07:44] iverxin commented on #35940
【队名】：Sesame Street

【序号】：35

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/246

[2021-10-15 08:27] betterpig commented on #36364
您好，安装检测失败的原因为没有找到需要的动态库。请您进行以下操作：

1. 确保CUDA的动态库文件夹中存在 cublas64_10.dll 与 cublasLt64_10.dll 文件，它们一般位于 `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin`（CUDA10.2）。
2. 检查Python的获取渠道，若是从Microsoft store安装的Python，则会出现该问题（已本地验证）。请尝试从[官网](https://www.python.org/)安装Python，再通过pip安装paddle。
3. 若仍出现该问题，将cublas64_10.dll 与 cublasLt64_10.dll 文件复制到 `C:\Windows\System32` 中，再运行 `paddle.utils.run_check()

[2021-10-15 09:34] uniyushu opened #36468 "[CMakeFiles/extern_cryptopp.dir/build.make:128: third_party/cryptopp/src/extern_cryptopp-stamp/extern_cryptopp-update] Error 1"
我在尝试[源码编译](https://www.paddlepaddle.org.cn/tutorials/projectdetail/1499138)tensorrt版paddle-gpu没有成功，遇到了extern_cryptopp的BUG，有人能帮我看下么
![image](https://user-images.githubusercontent.com/20262193/137464435-ac274fb5-91ef-435a-8adb-feac60a25c83.png)

环境采用的是nvidia的官方镜像：nvcr.io/nvidia/tensorrt:21.02-py3
![image](https://user-images.githubusercontent.com/20262193/137466021-1586d9a4-c4a9-4b04-b313-b0ca3a9139

[2021-10-15 09:47] Sunyingbin opened #36470 "deformable_conv在2.1版本中如何实现"
1.8版本的可变性卷积deformable_conv，在2.1的版本中是如何实现的？我看了paddleocr中搭建DBFPN的model，里面就是用传统的卷积核来实现的

[2021-10-15 09:51] tsijeodhsjsh opened #36471 "pytorch转paddle 遇到'Tensor' object has no attribute 'is_cuda'和module 'paddle.nn' has no attribute 'conv2D'的问题"
def _ssim_(img1, img2, window_size=11, size_average=True):
    #img1=img1.numpy()
    #(_, channel, _, _) = img1_size()
    channel=img1.shape[2]
    window = create_window(window_size, channel)

    if img1.is_cuda:
        window = window.cuda(img1.get_device())
    window = window.type_as(img1)

    return _ssim(img1, img2, window, window_size, channel, size_average)

问题1：
  File "/home/aistudi

[2021-10-15 09:56] yank666 opened #36472 "请问paddle-lite android armv7的编译库 set_threads 没有速度提升？（多核cpu的 使用率一直是100%或者如何开启openmp）"
paddle-lite 版本v2.9.1  , android armv7的多核cpu执行推理过程
我编译paddle-lite 库使用下面的命令
./lite/tools/build_android.sh --arch=armv7 --toolchain=clang --android_stl=c++_shared --with_java=OFF --build_extra=ON --android_api_level=28
在cpu上跑时 设置多线程为4 和多线程设置为1 推理速度一样，没有性能的提升，cpu使用率最高也是100%（多核cpu），
请问如何提升推理速度，（如何开启openmp 或者多线程等手段加速推理）

[2021-10-15 10:30] thunder95 commented on #36319
@minghaoBD 请问老师有检查到哪里出问题了么， 这个挺奇怪的，矩阵里面忽然就数值变得很怪异 甚至达到e207， 始终不明白为啥会这样

[2021-10-15 10:37] Stave604671 opened #36473 "VisualDL工具对UNIMO-text模型结构进行可视化报错"
环境信息
****************************************
Paddle version: 2.1.0
Paddle With CUDA: True
OS: Windows 10
Python version: 3.8.11
CUDA version: 10.1.243
cuDNN version: 7.6.5
Nvidia driver version: 462.30
****************************************
- 问题描述：VisualDL可视化UNIMO-text模型，报错以下内容
![Uploading image.png…]()
使用以下代码，将model.pdmodel拖入visualdl界面中后报错，
from paddlenlp.transformers import UNIMOLMHeadModel,U

[2021-10-15 10:38] #36473 closed, assigned to yingyibiao

[2021-10-15 11:32] yingyibiao commented on #36472
您好，看到您在Paddle-Lite的issue区也提问了，Paddle-Lite的相关问题在相应的issue区提问就OK了～

[2021-10-15 11:38] yingyibiao commented on #36471
在Paddle框架中，可以使用 tensor.place 来查看一个tensor的设备，见 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Tensor_cn.html#place
二维卷积对应的API是 paddle.nn.Conv2D ，见https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Conv2D_cn.html#conv2d

[2021-10-15 11:43] yingyibiao commented on #36470
您好，2.1版本中deformable_convAPI可以参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/ops/DeformConv2D_cn.html

[2021-10-15 12:05] jiweibo commented on #36468
您好，首先您可以尝试使用最新的tag 2.2rc源码编译哈

如果还遇到crypto的问题，可以cmake的时候把它给关掉，-DWITH_CRYPTO=OFF

CMAKE_BUILD_TYPE设置为Release会快一些哈

[2021-10-15 14:49] Yywwwwwww opened #36476 "paddlepaddle与python的算子映射"
tensor.enable_grad在paddlepaddle中的对应函数

[2021-10-15 15:04] Yywwwwwww opened #36477 "在使用backward函数时，报错The type of grad_tensot must be paddle.Tensor"
源代码：
for cover in tqdm(train):
        #for cover, _ in train:
            #cover = cover.to(device)
            batch_size = args.train_batch_size
            Critic.train()
            Encode.train()
            Decode.train()
            #gc.collect()
            with paddle.set_grad_enabled(True):  （此处存疑？？？？？？？？？？？？？）

                # ---------------- Train the discriminator ----------------

[2021-10-15 15:50] ZiJINII opened #36478 "paddle.Tensor参数问题"
<ipython-input-2-d771b26d09d8> in <module>
     79 # 准备网络 MSSNet
     80 print("Generate model")
---> 81 net = MSSNet()#?
     82 print(net)
     83
~/work/MSSN.py in __init__(self, with_bn, threshold)
    197         super(MSSNet, self).__init__()
    198         self.with_bn = with_bn
--> 199         self.preprocessing = SRM_conv2d(1, 0)
    200         self.preprocessing = Res_conv2d()
    201

[2021-10-16 02:27] Intsigstephon commented on #36476
paddle.set_grad_enabled
具体用法可以参考： https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/set_grad_enabled_cn.html#set-grad-enabled

[2021-10-16 02:38] Intsigstephon commented on #36477
您好，报错信息需要复现代码，请提供代码和环境信息，我们复现后会尽快回复您~

[2021-10-16 04:41] huangwan-jiayi commented on #36436
您好我不太明白怎么确认softmax、前面的fc层输出数量是否跟num_calsses一致，另外label值就是标签里的颜色种类数吧，也就是num_classes的值吧？.

[2021-10-16 06:26] Yywwwwwww commented on #36477
源代码如下：
# -*- coding: utf-8 -*-

from math import exp
import paddle
from paddle.nn.functional import conv2d
import numpy as np
from paddle.static import InputSpec

def gaussian(window_size, sigma):
    """Gaussian window.

    https://en.wikipedia.org/wiki/Window_function#Gaussian_window
    """
    _exp = [exp(-(x - window_size // 2) ** 2 / float(2 * sigma ** 2)) for x in range(window_size)]
    g

[2021-10-17 14:59] yeyupiaoling opened #36491 "请问PaddlePaddle如何实现Gram-CTC"
是这篇论文[《Gram-CTC: Automatic Unit Selection and Target Decomposition for Sequence Labelling》](https://arxiv.org/abs/1703.00096)

[2021-10-17 15:25] 007cod commented on #34493
我也遇到了相同的问题， 请问解决了吗？

[2021-10-18 00:56] minghaoBD commented on #36319
抱歉，这两天比较忙，没来及的尝试。如果着急的话，可以先按照comment里面的描述，打印中间变量看看，narrow down一下问题。

[2021-10-18 02:32] spacegrass commented on #36455
谢谢回答，看了DOC文档的内容，还无法得到我想要的答案。
- 我们动态图训练的模型，在导出时会做 动 -> 静 的转换，并且设置模型的shape信息，也就是我们的推断的时候，会使用固定的shape
- 所以我们想在解析Paddle模型时获取到模型的shape信息，这个使用新的paddle_inference_api.h中的Predictor怎么获取到这些信息呢？

[2021-10-18 02:36] zhiboniu commented on #36425
好的，感谢反馈问题，我们会在cuda11上再测试看看

[2021-10-18 02:36] huangwan-jiayi commented on #36436
hallo？

[2021-10-18 02:37] zhiboniu commented on #36436
num_classes可以认为是颜色种类数，label值需要不大于这个种类数量，你先确认看看两者各是多少

[2021-10-18 02:40] huangwan-jiayi commented on #36436
那label值在哪个地方确认以及修改呢，是label.txt吗？
![image](https://user-images.githubusercontent.com/71338215/137661136-41074f8b-6254-455c-a19d-beb8f786076b.png)

[2021-10-18 02:49] zhiboniu commented on #36436
因为你是用自己的数据集训练的，所以你先确认一下你的数据集跟label之间是否正确对应，如果是label的问题为什么训练过程中没有报错，会不会训练和裁剪用的是不同的label

[2021-10-18 02:53] dingjiaweiww commented on #32066
您可以联系下我嘛，想和您讨论下稀疏训练的一些应用，wx：xwzbj0808

[2021-10-18 02:54] dingjiaweiww commented on #32066
@BlackHorseQ 您可以联系下我嘛，想和您讨论下稀疏训练的一些应用，wx：xwzbj0808

[2021-10-18 03:46] huangwan-jiayi commented on #36436
![image](https://user-images.githubusercontent.com/71338215/137666175-34474537-b034-4bbe-bfbf-cf2c1020b807.png)
我在原先的命令前加了这句话 ，  export PYTHONPATH=‘
就好了。。。。 这是啥原因，难道我路径有问题。。。

[2021-10-18 03:53] zhiboniu commented on #36436
那可能是python版本兼容性的问题，可能数据解析时不同版本解析结果有些区别。

[2021-10-18 03:54] zhiboniu commented on #36436
如果好了的话，issue就关闭吧

[2021-10-18 04:41] 007cod opened #36496 "jetson nano 预测报错"
设备信息：
**CUDA 10.2
TensorRT 8.0.1
cuDNN 8.2.1**
报错信息：
--------------------------------------

C++ Traceback (most recent call last):

--------------------------------------

0   paddle::framework::SignalHandle(char const*, int)

1   paddle::platform::GetCurrentTraceBackString[abi:cxx11]()

----------------------

Error Message Summary:

----------------------

FatalError: `Process abort signal` is

[2021-10-18 05:19] smallv0221 commented on #36491
您可以参考这篇指南对论文内容进行复现
https://github.com/PaddlePaddle/models/blob/develop/docs/ThesisReproduction_CV.md

[2021-10-18 05:33] huangwan-jiayi commented on #36436
又出现新问题了。。我把裁剪后重新训练的模型，部署到jetson nx上想看看预测速度是否有提示时，报错了，
![image](https://user-images.githubusercontent.com/71338215/137674136-a11b2ae5-1810-4757-aab8-5ec1d431e567.png)
部署是根据c++inference的，没有裁剪的模型可以正常部署。是不是数据的输入也要做相应的修改呢？
![image](https://user-images.githubusercontent.com/71338215/137674322-48f3c064-ecc1-491e-9c0f-70685b32f51f.png)

[2021-10-18 05:45] zhiboniu commented on #36436
应该不需要修改输入吧，可能还是裁剪有点问题，可以根据原因排查，我帮你找相关同事问问这个错误的原因

[2021-10-18 05:46] huangwan-jiayi commented on #36436
麻烦您了

麻烦您了

[2021-10-18 06:08] weisy11 commented on #36496
你好，可以给出更详细的信息吗？比如你是在运行什么脚本的时候报错？在你的nano设备上有成功运行过paddle的程序吗？

[2021-10-18 06:09] yeyupiaoling commented on #36491
PaddlePaddle没有现成的吗？

[2021-10-18 06:40] zhiboniu commented on #36436
你好，跟推理同事讨论了这个问题，推理程序里应该没有调用opencv，所以这部分可能是前、后处理部分的问题，你可以把输入、输出打印看看，还有dtype类型，看看有没有什么异常，也可以跟裁剪前结果做一下对比

[2021-10-18 06:48] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：41

【状态】：提交

【链接】：[PaddleTest#224](https://github.com/PaddlePaddle/PaddleTest/pull/224)

[2021-10-18 07:04] mjp9527 commented on #36472
您好，--toolchain=gcc，clang armv7目前不支持openmp

[2021-10-18 07:31] yingyibiao commented on #36478
您好，报错信息需要复现代码，请提供代码和环境信息，我们复现后会尽快回复您~

[2021-10-18 08:02] smallv0221 commented on #36491
这边暂时是没有的哈，推荐您参考指南进行复现

[2021-10-18 08:04] yeyupiaoling commented on #36491
OK！OK！

[2021-10-18 08:04] #36491 closed, assigned to smallv0221

[2021-10-18 08:18] 007cod commented on #36496
def predict_config(model_file, params_file):
    config = Config()
    config.set_prog_file(model_file)
    config.set_params_file(params_file)
    config.enable_use_gpu(500, 0)
    config.switch_ir_optim()
    config.enable_memory_optim()
    config.enable_tensorrt_engine(workspace_size=1 << 30, precision_mode=PrecisionType.Float32, max_batch_size=1,
                                  min_subgraph

[2021-10-18 08:19] 007cod commented on #36496
paddlepaddle_gpu的测试也是正常的

[2021-10-18 08:35] weisy11 commented on #36496
这段程序看不出具体的问题。配置是你自己写的吗？还是基于paddle的开源脚本改的呢？在其他设备上可以正常运行吗？

[2021-10-18 08:36] weisy11 commented on #36496
建议提供一个最小可复现问题的脚本

[2021-10-18 08:49] 007cod commented on #36496
以下是从借鉴一篇博客的预测代码（mypredict.py）
[code]
以下是自己写的主程序调用了上述预测代码（import mypredict）
[code]
在运行到mypredict.py中predict_config函数中的predictor = create_predictor(config)语句时出现上述错误

[2021-10-18 09:37] LihangLiu commented on #36202
工程比较复杂，不好抽取，且跟组网方式有关，有些会卡有些不会。

[2021-10-18 10:01] 007cod commented on #36496
这个代码在windows上面是跑起来了，只不过在运行到predictor部分的时候会有警告

[2021-10-18 11:24] gxqnba opened #36515 "opencv dnn模块调用paddlepaddle模型进行预测问题"
刚在opencv官网上看到了opencv dnn模块可以直接调用paddle训练的模型（转换为onnx），相关连接如下，https://github.com/opencv/opencv/tree/master/samples/dnn/dnn_model_runner/dnn_conversion/paddlepaddle
请问opencv dnn模块是支持所有的paddle模型，还是只支持链接案例给的两种

[2021-10-18 11:56] tsijeodhsjsh opened #36516 "python平台的图像卷积搬移到paddle paddle平台"
python源代码：
# -*- coding: utf-8 -*-

from math import exp
import torch
from torch.nn.functional import conv2d
from torch.optim.adam import Adam

def gaussian(window_size, sigma):
    """Gaussian window.

    https://en.wikipedia.org/wiki/Window_function#Gaussian_window
    """
    _exp = [exp(-(x - window_size // 2) ** 2 / float(2 * sigma ** 2)) for x in range(window_size)]
    gauss = torch.Tensor

[2021-10-18 12:19] weisy11 commented on #36496
好的，我复现一下这个问题

[2021-10-18 12:21] weisy11 commented on #36515
理论上，可以转成onnx的模型都是可以的，不过并非所有模型都可以转成onnx

[2021-10-18 12:23] gxqnba commented on #36515
好的，谢谢！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月18日(星期一) 晚上8:21
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re:

[2021-10-18 12:23] weisy11 commented on #36516
是的，paddle.nn.Conv2D主要用于深度学习。如果不需要训练，只需要做卷积运算，建议使用paddle.nn.functional.conv2d，参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/functional/conv2d_cn.html#conv2d

[2021-10-19 02:16] qdd1234 opened #36523 "增加频域操作的算子"
您好，我发现很多paddle的算子例如paddle.stack等对频域（复数）都无法操作，而这些torch好像都可以，建议一下是否可以考虑增加一下复数的操作，谢谢

[2021-10-19 03:15] TimZhang001 commented on #36456
https://paperswithcode.com/sota/anomaly-detection-on-mvtec-ad
可以参考这些。

[2021-10-19 03:24] weisy11 commented on #36496
这个代码有针对gpu做设置，这部分代码你了解吗？在迁移到jetson nano的时候是否有根据设备情况修改？
另外，如果需要使用目标检测算法，推荐你看看paddle官方的项目[PaddleDetection](https://github.com/PaddlePaddle/PaddleDetection)，也支持[python预测部署](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.2/deploy/python)
遇到问题可以更高效解决

[2021-10-19 03:28] wangxinxin08 commented on #36523
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。

[2021-10-19 03:46] huangwan-jiayi commented on #36436
#include <chrono>
#include <iostream>
#include <fstream>
#include <numeric>
#include <time.h>
#include <gflags/gflags.h>
#include <glog/logging.h>
#include <opencv2/opencv.hpp>
#include <opencv2/core/core.hpp>
#include <opencv2/highgui/highgui.hpp>
#include <opencv2/imgproc/imgproc.hpp>

#include "paddle/include/paddle_inference_api.h"
#include "yaml-cpp/yaml.h"
#include <stdio.h>
#include <stdlib

[2021-10-19 03:46] huangwan-jiayi commented on #36436
#include <chrono>
#include <iostream>
#include <fstream>
#include <numeric>
#include <time.h>
#include <gflags/gflags.h>
#include <glog/logging.h>
#include <opencv2/opencv.hpp>
#include <opencv2/core/core.hpp>
#include <opencv2/highgui/highgui.hpp>
#include <opencv2/imgproc/imgproc.hpp>

#include "paddle/include/paddle_inference_api.h"
#include "yaml-cpp/yaml.h"
#include <stdio.h>
#include <stdlib

[2021-10-19 03:49] 007cod commented on #36496
你好，这段代码部署在我的设备上应该是不会起冲突的。
我用的是paddlex2.0训练好的并导出的部署模型，并没有使用PaddleDetection
我们用的jetpack版本是4.6不知道官方有没有在这方面对jetson nano进行过测试

[2021-10-19 03:56] yiyixhjiang opened #36528 "paddle可以搭建树模型吗？"
RT paddle可以搭建树模型吗？例如：gbdt树

[2021-10-19 04:53] wangye707 commented on #36496
@007cod 你好，飞桨在2.2.0-rc版本开始正式支持jetapck4.6(cuda10.2+cudnn8.2.1+trt8),你的版本是否正确？2.2.0-rc0下载链接：https://paddle-inference-lib.bj.bcebos.com/2.2.0-rc0/python/Jetson/jetpack4.6_gcc7.5/all/paddlepaddle_gpu-2.2.0rc0-cp36-cp36m-linux_aarch64.whl

[2021-10-19 05:50] wangxinxin08 commented on #36528
您好，Paddle目前暂不支持树模型，我们内部会安排评估，未来有计划尽快回复。

[2021-10-19 06:45] zhiboniu commented on #36436
看你的输入是float，std::vector<float> input_data(1 * 3 * 270 *480, 0.0f);
但是输出同时用了int64盒uint8，
std::vector<int64_t> out_data(out_num);
output_t->CopyToCpu(out_data.data());

// Get pseudo image
std::vector<uint8_t> out_data_u8(out_num);
for (int i = 0; i < out_num; i++) {
  out_data_u8[i] = static_cast<uint8_t>(out_data[i]);
}

应该是你的数据类型用乱了，这个错误应该是错误的数据类型引起的，好好梳理一下吧

[2021-10-19 07:24] anliyuan opened #36533 "AssertionError: When Variable is used as the condition of if/while , Variable can only contain one element."
救命
self.double_conv = nn.Sequential(
            nn.Conv2D(in_channels, out_channels, kernel_size=3, padding=1),
            nn.BatchNorm2D(out_channels),
            nn.ReLU(),
            nn.Conv2D(out_channels, out_channels, kernel_size=3, padding=1),
            nn.BatchNorm2D(out_channels),
            nn.ReLU()
        )

Traceback (most recent call last):
  File "model.py", line 99, in <mod

[2021-10-19 07:27] yt605155624 opened #36534 "paddle 有没有 实现 conv_transpose1d？"
paddle 是有实现 F.conv1d 的，请问有没有相应实现 conv_transpose1d？貌似 paddle.nn.functional 里面是没有的

[2021-10-19 07:30] yt605155624 commented on #36534
close, 找到了 conv1d_transpose，谢谢

[2021-10-19 07:30] #36534 closed, assigned to nobody

[2021-10-19 07:35] yingyibiao commented on #36456
好的，我们内部进行一下调研。

[2021-10-19 07:43] wangxinxin08 commented on #36533
您好，可以先检查下`DoubleConv(self.n_channels, ch[0])`这里的self.n_channels和ch[0]是否是一个数值

[2021-10-19 07:45] #36127 closed, assigned to nobody

[2021-10-19 07:49] anliyuan commented on #36533
检查了一下，self.n_channels 和ch[0]都是是整型的数值，但是当我把self.n_channels直接改成一个数的时候就不会报这个错了

[2021-10-19 07:52] huangwan-jiayi commented on #36436
如果是数据类型的问题，那为什么我没有裁剪的模型可以正常使用呢？

[2021-10-19 07:57] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：46

【状态】：重新提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/259

[2021-10-19 08:08] wangxinxin08 commented on #36533
您可以参考Conv2D的API，https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Conv2D_cn.html#conv2d, in_channels和out_channels 都需要是一个整数

[2021-10-19 08:11] FleetCommander004 commented on #36323
谢谢朋友，我最近安装好gpu版本的paddlepaddle了。

[2021-10-19 09:52] yingyibiao commented on #36478
看了一下，可能是create_parameter接口使用有误，可以修改为self.weight = self.create_parameter([30,1,5,5])
接口具体文档可以参考： https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Layer_cn.html#create_parameter

[2021-10-19 10:05] yingyibiao commented on #36477
看了一下上述代码，这一行有误：
d_loss_cov.backward(True) -> d_loss_cov.backward()

[2021-10-19 13:36] ethelgriffin opened #36560 "复现 parambase没有‘data’属性"
self.weight = fluid.layers.create_parameter(shape=[30, 1, 5, 5],
                                 dtype='float32')
        self.bias = fluid.layers.create_parameter(shape=(30),
                              dtype='float32')
        self.reset_parameters()

    def reset_parameters(self):
        self.weight.data.numpy()[:] = SRM_npy
        self.bias.data.zero_()

报错
---> 59         self.weight.da

[2021-10-19 13:52] dongfangyixi commented on #25198
请问现在添加这个功能了吗？

[2021-10-19 14:01] dongfangyixi opened #36563 "paddle.linalg.expm API"
请问paddle 预期什么时候实现 paddle.linalg.expm 这个api
等同于
scipy.linalg.expm
以及：
torch.matrix_exp
https://pytorch.org/docs/stable/generated/torch.matrix_exp.html

e的矩阵次方

或者动态图开放类似于 torch.autograd.Function 的功能，可以自己python定义op，不用写c再编译。

[2021-10-19 14:31] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：49

【状态】：重新提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/251

[2021-10-19 14:41] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：40

【状态】：提交

【链接】：[PaddleTest#261](https://github.com/PaddlePaddle/PaddleTest/pull/261)

[2021-10-19 16:00] unseenme commented on #35940
【队名】：UnseenMe

【序号】：92

【状态】：报名

【链接】：https://github.com/unseenme/openvino

[2021-10-19 16:05] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：48

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/262

[2021-10-19 16:35] gsq7474741 commented on #35940
【队名】：PeachML

【序号】：46

【状态】：成功合入

【链接】：PaddlePaddle/PaddleTest#223

[2021-10-19 16:47] yangguohao commented on #35940
【队名】：约克逊是个郡

【序号】：80

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/Quantum/pull/26

[2021-10-20 02:26] RainFrost1 commented on #36276
label 一般来说是不需要标准化的。你这边的分类输出，是不是之间输出的label？分类的时候，是保证最后一层的输出，label对应的index位置元素最大。

[2021-10-20 02:29] ninetailskim commented on #35940
【队名】：玖尾妖熊

【序号】：64

【状态】报名

【链接】：https://github.com/ninetailskim/PaddleVideo

[2021-10-20 02:55] wangxinxin08 commented on #36563
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。目前Paddle2.1及以上的动态图支持`paddle.autograd.PyLayer`你参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/autograd/PyLayer_cn.html#paddle.autograd.PyLayer 看下是否能实现`torch.autograd.Function`的功能。

[2021-10-20 03:09] braid123 commented on #34534
你好，我也遇到类似的问题。模型其余地方没问题，我没有使用到layer_helper，只是用paddle.fluid.layers进行reshape操作时候显示`InvalidArgumentError: The Tensor in the reshape2 Op's Input Variable X(label) is not initialized`
而我根据已有方案，进行了exe = fluid.Executor(fluid.default_startup_program())操作，但还是报同样的错误消息，请问现在官方有解决方案了吗？

[2021-10-20 03:11] WenmuZhou commented on #36560
你好，paddle的Tensor没有data这个属性，可以使用default_initializer来对tensor进行初始化，参考下面的代码
weight = paddle.create_parameter(shape=[30],dtype='float32',default_initializer=paddle.nn.initializer.Assign(SRM_npy))
bias = paddle.create_parameter(shape=[30],dtype='float32',default_initializer=paddle.nn.initializer.Constant(0))

[2021-10-20 03:42] 007cod commented on #36496
太感谢了， 问题已经解决了

[2021-10-20 03:48] miziha-zp commented on #35940
【队名】：miziha

【序号】：90

【状态】报名

【链接】：[miziha-zp/Paddle](https://github.com/miziha-zp/Paddle)

[2021-10-20 04:47] whzzju commented on #35940
【队名】：sunnyzhi
【序号】：50
【状态】：报名
【链接】：https://github.com/whzzju/Paddle

[2021-10-20 05:08] agnJason commented on #35940
【队名】：agnjason
【序号】：82
【状态】：报名
【链接】：https://github.com/agnJason/Paddle

[2021-10-20 05:23] gsq7474741 commented on #35940
【队名】：PeachML

【序号】：4

【状态】：报名

【链接】：https://github.com/gsq7474741/Paddle

[2021-10-20 05:47] luyvlei commented on #35940
【队名】：LYL

【序号】：82

【状态】：报名

【链接】：https://github.com/luyvlei/Paddle

[2021-10-20 05:50] yux1ng commented on #35940
【队名】：moyuy1hao

【序号】：64

【状态】：报名

【链接】：https://github.com/yux1ng/Paddle

[2021-10-20 06:03] 1055447806 commented on #35940
【队名】：wugy

【序号】：23

【状态】：报名

【链接】：https://github.com/1055447806/Paddle

[2021-10-20 06:04] #36560 closed, assigned to nobody

[2021-10-20 06:07] ethelgriffin opened #36572 "复现 遍历模块初始化问题"
class MSSNet(fluid.dygraph.Layer):
    ……
    def reset_parameters(self):
         for m in self.modules():
             if isinstance(m, SRM_conv2d):
                 m.reset_parameters()
             elif isinstance(m, Res_conv2d):
                 m.reset_parameters()
报错
--> 269         for m in self.modules():
    270             if isinstance(m, SRM_conv2d):
    271                 m.reset_pa

[2021-10-20 06:13] scd158 commented on #35940
【队名】：呜呼呜呼呜
【序号】：92
【状态】：报名
【链接】：https://github.com/scd158/openvino

[2021-10-20 06:19] xxx08796 commented on #35940
【队名】：yangguangxiaozhi
【序号】：23
【状态】：报名
【链接】：https://github.com/xxx08796/Paddle

[2021-10-20 06:20] ycy921 commented on #35940
【队名】：sunnyyu
【序号】：90
【状态】：报名
【链接】：https://github.com/godyuyu/openvino

[2021-10-20 06:29] jaywit commented on #35940
【队名】：Jerry

【序号】：27

【状态】：报名

【链接】：https://github.com/jaywit/Paddle

[2021-10-20 06:31] WenmuZhou commented on #36572
改为self.sublayers()即可

[2021-10-20 06:39] Somnus-Yishan commented on #35940
【队名】：sunnyao
【序号】：88
【状态】：报名
【链接】：https://github.com/Somnus-Yishan/openvino

[2021-10-20 06:56] Stave604671 commented on #34451
后来查清了，也不是版本的错，paddle.io没有考虑数据集未经过清洗的情况，数据集中有空值的时候就会报这个错。

[2021-10-20 07:17] ccaong commented on #35940
【队名】：不起名
【序号】：91
【状态】：报名
【链接】：https://github.com/ccaong/openvino

[2021-10-20 07:24] echo-YK commented on #35940
【队名】：我要吃栗子

【序号】：87

【状态】：报名

【链接】：https://github.com/echo-YK/openvino

[2021-10-20 07:52] whzzju commented on #35940
【队名】：sunnyzhi
【序号】：50
【状态】：报名
【链接】：https://github.com/whzzju/PaddleNLP

[2021-10-20 08:30] caoyuncang commented on #35940
【队名】：Caomucc
【序号】：89

【状态】：报名

【链接】：https://github.com/caoyuncang/openvino

[2021-10-20 10:43] 1fisherma commented on #35940
【队名】：frgft
【序号】：89

【状态】：报名
【链接】：https://github.com/1fisherma/openvino

[2021-10-20 10:45] kefuya commented on #35940
【队名】：随便
【序号】：91
【状态】：报名
【链接】：https://github.com/kefuya/openvino

[2021-10-20 10:49] Phil-sun commented on #35940
【队名】：sdt
【序号】：85

【状态】：报名
【链接】：https://github.com/Phil-sun/openvino

[2021-10-20 10:54] Wangsong95 commented on #35940
【队名】：隔壁老王
【序号】：86

【状态】：报名
【链接】：https://github.com/Phil-sun/openvino

[2021-10-20 10:57] ChiangE commented on #35940
【队名】：ChiangE
【序号】：89
【状态】：报名
【链接】：https://github.com/ChiangE/openvino

[2021-10-20 10:59] zhwesky2010 commented on #35397
优先级的顺序是 1. param_attr中的initializer参数 -> 2.set_global_initializer -> 3. creat_parameter的default_initializer参数 -> 4. 如上面都没有设置，则会执行Xavier初始化和Constant初始化  上面写错了点，后面我们会对初始化进行整体调研设计，看看有什么建议

[2021-10-20 10:59] zhwesky2010 commented on #35397
后面会对初始化进行再次调研，看看有什么建议

[2021-10-20 11:04] LiZitao111 commented on #35940
【队名】：111111
【序号】：87
【状态】：报名
【链接】：https://github.com/LiZitao111/openvino

[2021-10-20 11:27] BananaAres commented on #35940
【队名】：这是一个队名
【序号】：85
【状态】：报名
【链接】：https://github.com/BananaAres/openvino

[2021-10-20 11:29] ysy112233 commented on #35940
【队名】：这也是一个队名
【序号】：90
【状态】：报名
【链接】：https://github.com/ysy112233/openvino

[2021-10-20 11:45] #36572 closed, assigned to nobody

[2021-10-20 11:49] ethelgriffin opened #36585 "复现 优化器接口问题"
import paddle.optimizer as optim
optimizer = optim.Adadelta(learning_rate=args.learning_rate,epsilon=1e-8,rho=0.95,parameters=net.parameters(), weight_decay=5e-4)

报错
AttributeError: 'Namespace' object has no attribute 'learning_rate'

pytorch代码
optimizer = optim.Adadelta(net.parameters(), lr=args.lr, rho=0.95, eps=1e-8, weight_decay=5e-4)

请问要怎样修改呀，谢谢

[2021-10-20 11:58] Cppowboy opened #36586 "crf_decoding不支持返回预测的概率"
目前paddle.nn.static.crf_decoding只返回CRF的预测结果，不支持返回对应的概率，希望支持一下这个功能

[2021-10-20 12:05] 626334313 commented on #35940
【队名】：这都不是事
【序号】：90
【状态】：报名
【链接】：https://github.com/ysy112233/openvino

[2021-10-20 12:25] howard-sun commented on #35940
【队名】：sqx
【序号】：85
【状态】：报名
【链接】：https://github.com/sqxlove/openvino

[2021-10-20 12:28] FTanghu commented on #35940
【队名】：demaxiya
【序号】：89
【状态】：报名
【链接】：https://github.com/qutgitstudent201707153/openvino

[2021-10-20 12:29] songw-zju commented on #35940
【队名】：thekey
【序号】：92
【状态】：报名
【链接】：https://github.com/songw-zju/openvino

[2021-10-20 12:37] kz1021 commented on #35940
【队名】：smallZe
【序号】：90
【状态】：报名
【链接】：https://github.com/kz1021/openvino

[2021-10-20 12:42] zhiboniu commented on #36436
这样吧，你把程序注释掉再一块一块放开测试，直到出现报错。然后对这块程序再同样分块放开测试，看看具体是哪一行代码引起的，就可以明确问题了

[2021-10-20 12:54] LoveNingBo opened #36589 "optimizer.step() Error"
Traceback (most recent call last):
  File "model.py", line 479, in <module>
    optimizer.step()
  File "<decorator-gen-198>", line 2, in step
  File "/mnt/huiyanfei/conda_env/hyf_py3/lib/python3.6/site-packages/paddle/fluid/dygraph/base.py", line 260, in __impl__
    return func(*args, **kwargs)
  File "<decorator-gen-196>", line 2, in step
  File "/mnt/huiyanfei/conda_env/hyf_py3/lib/python3.6/s

[2021-10-20 13:01] LoveNingBo commented on #36589
'''
    @Author: your name
    @Date: 2021-10-20 16:35:31
    @LastEditTime: 2021-10-20 20:04:39
    @LastEditors: Please set LastEditors
    @Description: In User Settings Edit
    @FilePath: /huiyanfei/work/re2_paddle_all/model.py
    '''
    import numpy
    from typing import Collection
    import math
    import paddle
    import paddle.nn as nn
    from paddle import fluid
    import paddle.

[2021-10-20 13:04] LoveNingBo commented on #36589
这个代码是根据 torch 版本阿里RE2模型进行的复现，源代码地址：https://github.com/alibaba-edu/simple-effective-text-matching-pytorch

[2021-10-20 13:21] WenmuZhou commented on #36585
传入的参数改为和torch一致看看，下面这样optim.Adadelta(learning_rate=args.lr,epsilon=1e-8,rho=0.95,parameters=net.parameters(), weight_decay=5e-4)

[2021-10-20 13:22] WenmuZhou commented on #36586
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。

[2021-10-20 14:01] chenyanlann commented on #35940
【队名】：yyds
【序号】：31
【状态】：报名
【链接】：https://github.com/chenyanlann/Paddle

[2021-10-20 14:42] Lieberk commented on #35940
【队名】：风

【序号】：2

【状态】：报名

【链接】：https://github.com/chenlizhi-1013/Paddle

[2021-10-21 01:46] chereyk commented on #36364
您好，将cublas64_10.dll 与 cublasLt64_10.dll 文件复制到 C:\Windows\System32 中，再运行 paddle.utils.run_check()后又出现了原来的问题，即在运行paddle.fluid.install_check.run_check()时会卡住很久，最后崩溃退出，如下
D:\ProgramData\Anaconda3\python.exe F:/project/paddleocr/test.py
D:\ProgramData\Anaconda3\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documenta

[2021-10-21 01:51] gbstack commented on #35940
【队名】：redino

【序号】：72

【状态】：报名

【链接】：https://github.com/PaddlePaddle/PaddleDetection/pull/4347

[2021-10-21 01:56] WenmuZhou commented on #36589
你好，优化器的weight_decay需要传float进去，改成这样就好了
[code]

[2021-10-21 02:18] #31423 closed, assigned to gfwm2013

[2021-10-21 03:29] Ramlinbird opened #36597 "paddle.distributed.launch 是可以中途增加资源？？？"
您好！我用```python -m paddle.distributed.launch --gpus "0"  xxx.py```启动了一个训练任务，后来修改了某些东西，然后执行命令```python -m paddle.distributed.launch --gpus "1"  xxx.py```，发现好像任务很快就run起来，而且损失是和先前0卡上正在执行的任务一致的？不太清楚paddle.distributed.launch的执行原理，我是再单击多卡上执行的，这个是自动和先前的训练一起进行训练吗？

[2021-10-21 05:05] jiafuzeng commented on #35059
官网下载已经编译好的好用

[2021-10-21 05:07] wangye707 commented on #35059
好的~

[2021-10-21 05:48] LoveNingBo commented on #36589
十分感谢！问题已解决

[2021-10-21 05:49] #36589 closed, assigned to nobody

[2021-10-21 06:10] huangwan-jiayi commented on #36436
我还是没有解决，我把这个issue关了，重新开一个issue，把代码和模型文件，以及环境信息都提供一下，看您们可以帮忙复现一下吗

[2021-10-21 06:33] luyunfighting opened #36602 "AttributeError: 'Tensor' object has no attribute 'register_hook'"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2021-10-21 06:36] huangwan-jiayi opened #36603 "按照paddleseg官方文档下的剪枝说明，对自己训练的bisenetV2模型进行了剪枝和重新训练重新训练后的模型部署用c++部署在jetsonnx上时便报错"
c++ inference库信息：
![image](https://user-images.githubusercontent.com/71338215/138222016-80d41236-31d8-424c-90fb-1131b41601a5.png)
jetson nx环境信息：
![image](https://user-images.githubusercontent.com/71338215/138224272-cbb4a060-0399-4d5b-ae31-eeceae954890.png)

预测全部代码：

// #include <algorithm>
#include <chrono>
#include <iostream>
#include <fstream>
#include <numeric>
#include <time.h>
#include <gflag

[2021-10-21 06:48] lansehuo opened #36606 "PaddlePaddle/2.1 源码编译安装时paddle.tensor问题"
平台：FT
Paddle版本：release/2.1

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/kylin/.local/lib/python3.5/site-packages/paddle/__init__.py", line 27, in <module>
    monkey_patch_variable()
  File "/home/kylin/.local/lib/python3.5/site-packages/paddle/fluid/layers/math_op_patch.py", line 401, in monkey_patch_variable
    variabel_methods = paddle.tensor.tensor_m

[2021-10-21 07:08] xandery-geek opened #36608 "单机多卡训练出错，ABORT!!! Out of all 2 trainers, the trainer process with rank=[1] was aborted."
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：单机多卡训练出错，ABORT!!! Out of all 2 trainers, the trainer process with rank=[1] was aborted.
- 版本、环境信息：
    1）PaddlePaddle版本：conda虚拟环境下cudatoolkit=10.1.243, cudnn=7.6.5, paddlepaddle-gpu=2.1.3
    2）CPU：Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz  48核
    3）GPU：Tesla M40, 2个GPU， 24GB,

[2021-10-21 07:36] pangyoki commented on #36179
目前没有ubuntu20.04的官方镜像。你可以尝试使用g++9进行编译，可能会有些小问题需要设置下编译选项，不过可以编译成功。

[2021-10-21 08:11] LoveNingBo opened #36613 "paddle inference C++ API 报错 [operator < not_equal > error]"
PaddlePaddle版本：paddle2.0.0
PaddleInference版本：v2.0.1

paddle动态图模型训练后利用paddle.jit.save进行了模型保存，然后C++服务部署时出现算子异常问题

报错信息：

`    --------------------------------------
    C++ Traceback (most recent call last):
    --------------------------------------
    0   paddle::AnalysisPredictor::ZeroCopyRun()
    1   paddle::framework::NaiveExecutor::Run()
    2   paddle::framework::OperatorBase::Run(paddle::f

[2021-10-21 08:21] LoveNingBo commented on #36613
[code]

[2021-10-21 09:23] liushanshan07 opened #36619 "2.0训练NAN问题:初步定位前向第二个batch存在NAN，第一个batch反向存在梯度异常"
- 训练信息
    1）单机单卡
    2）显存信息：P40
- 问题描述：前向定位第二个batch时conv层后第一次出现NAN，说明第一个batch反向存在异常
- 复现代码：ppocr2.3框架rec任务，backbone为SwinTransformer
`
__all__ = ['SwinTransformer']

class Mlp(nn.Layer):
    def __init__(self,
                 in_features,
                 hidden_features=None,
                 out_features=None,
                 act_layer=nn.GELU,
                 drop=0.):
        super().__init

[2021-10-21 10:29] miaochenegshou commented on #35940
【队名】：miaochnegshou

【序号】：87

【状态】：报名

【链接】：https://github.com/miaochenegshou/openvino

[2021-10-21 10:35] jiaweituigai703 commented on #35940
【队名】：家老规矩

【序号】：88

【状态】：报名

【链接】：https://github.com/jiaweituigai703/openvino

[2021-10-21 10:50] sldkjlsa commented on #35940
【队名】：i can

【序号】：90

【状态】：报名

【链接】：https://github.com/sldkjlsa/openvino

[2021-10-21 11:17] LoveNingBo opened #36621 "[ValueError] function decorated by @declarative ..."
## 报错信息
[code]

## 环境
paddle:2.0.0

## 源码
[code]

[2021-10-21 11:45] hermitgreen commented on #30012
I found same problem and I solved it by change compiler to gcc8.2.0

[2021-10-21 14:15] ahfaiuoh commented on #35940
【队名】：peng bow

【序号】：89

【状态】：报名

【链接】：https://github.com/ahfaiuoh/openvino

[2021-10-21 14:40] fG1hT1 commented on #35940
【队名】：ARDU

【序号】：86

【状态】：报名

【链接】：https://github.com/fG1hT1/openvino

[2021-10-21 14:43] lvfeiming21 commented on #35940
【队名】：我是007队

【序号】：91

【状态】：报名

【链接】：https://github.com/lvfeiming21/openvino

[2021-10-21 15:02] gtrasdqaz commented on #35940
【队名】：aicheng

【序号】：85

【状态】：报名

【链接】：https://github.com/gtrasdqaz/openvino

[2021-10-21 15:32] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：37

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/267

[2021-10-21 15:37] Lieberk commented on #35940
【队名】：风

【序号】：14

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36626

[2021-10-21 15:54] ijbop369 commented on #35940
【队名】：diga aotomens

【序号】：87

【状态】：报名

【链接】：https://github.com/ijbop369/openvino

[2021-10-21 16:00] Dick152021 commented on #35940
【队名】：门当户队

【序号】：88

【状态】：报名

【链接】：https://github.com/Dick152021/openvino

[2021-10-21 23:29] Michaelia2021 commented on #35940
【队名】：hoodbellys

【序号】：92

【状态】：报名

【链接】：https://github.com/Michaelia2021/openvino

[2021-10-21 23:35] Athena202103 commented on #35940
【队名】：Athena

【序号】：87

【状态】：报名

【链接】：https://github.com/Athena202103/openvino

[2021-10-21 23:43] georgia202103 commented on #35940
【队名】：geogra

【序号】：91

【状态】：报名

【链接】：https://github.com/georgia202103/openvino

[2021-10-22 00:11] vito1234562021 commented on #35940
【队名】：vivo user

【序号】：87

【状态】：报名

【链接】：https://github.com/vito1234562021/openvino

[2021-10-22 02:23] betterpig commented on #35028
您好，根据已给出的信息，可以确定cublas64_10.dll 与 cublasLt64_10.dll 文件是存在于C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin（CUDA10.2）中的。按照报错截图，Python是Python software foundation版本的，我推测是该渠道安装的Python无法查找到上述dll文件。请进行以下操作：
1. 从[官网](https://www.python.org/downloads/)安装Python，再通过pip安装paddle，运行 paddle.utils.run_check()验证。
2. 如果仍出现该问题，将cublas64_10.dll 与 cublasLt64_10.dll 文件复制到 C:\Windows\System32 中，再运行 paddle.u

[2021-10-22 02:41] baoachun commented on #36461
Hi @lidanqing-intel @jakpiase , I am wondering whether we can add a new pass to map matmul_v2 to v1 to reduce the modification?

[2021-10-22 03:10] conan-7 opened #36629 "请问paddlepaddle如何读取tfrecord？"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-10-22 03:17] ZRSlayee opened #36630 "paddlehub finetune时遇到OSError: (External) Cublas error, `CUBLAS_STATUS_EXECUTION_FAILED`. The GPU program failed to execute."
在使用paddlehub finetune Ernie-GEN模型时，训练几个step会报如下错误：

Traceback (most recent call last):
  File "test.py", line 46, in <module>
    save_interval = 500)
  File "/home/gpu_user/zmh/virenv/paddle/lib/python3.7/site-packages/paddlehub/compat/paddle_utils.py", line 220, in runner
    return func(*args, **kwargs)
  File "/home/gpu_user/.paddlehub/modules/ernie_gen/module.py", line 185, in finetune
    lo

[2021-10-22 03:19] LiuChiachi commented on #36629
您好～PaddlePaddle还没有这样的工具，建议使用其他工具把tfrecord转成普通文件再读

[2021-10-22 04:21] songwenzai7773 commented on #35940
【队名】：songwenzai

【序号】：89

【状态】：报名

【链接】：https://github.com/songwenzai7773/openvino

[2021-10-22 05:42] linjieccc commented on #36630
您好，能否提供最小复现代码，我们复现后会尽快回复，谢谢！

[2021-10-22 05:58] ZRSlayee commented on #36630
您好，代码和数据已上传至百度网盘，下载后可直接运行，谢谢！
链接：https://pan.baidu.com/s/1iNbIlczq8bUrMwgBuRAbnA
提取码：ys35

[2021-10-22 06:28] linjieccc commented on #36630
缺少train.txt

[2021-10-22 06:50] betterpig commented on #36364
您好，3060显卡需要安装CUDA11.x。建议安装CUDA11.0 + cudnn8.0.2 for CUDA 11.0 。

[2021-10-22 06:59] #36613 closed, assigned to nobody

[2021-10-22 07:00] jaychen1996-byte commented on #31879
一样的错误和烦恼，编译不过去啊！

[2021-10-22 07:13] wenming2014 commented on #36602
您好，可以提供下具体的用法和报错吗？register_hook的用法可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Tensor_cn.html#register-hook-hook

[2021-10-22 07:25] wenming2014 commented on #36597
您好，卡的配置和更换对loss和训练的结果不会有影响的，可以在原来的基础上继续训练。分布式的原理都是类似的

[2021-10-22 07:30] liushanshan07 commented on #36619
今天发现加上LayerNorm会出现NAN，去掉正常

[2021-10-22 07:33] ZRSlayee commented on #36630
您好，train.txt和test.txt都在nlpcc_data文件夹下，运行test.py即可

[2021-10-22 07:36] wenming2014 commented on #36606
您好，看问题应该没正确编译源码。我这边没有复现问题。pip安装方式
python3 -m pip install paddlepaddle==2.1.3 -i https://mirror.baidu.com/pypi/simple
源码编译参考https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/fromsource.html#congyuanmabianyi

[2021-10-22 07:39] wenming2014 commented on #36619
您好，LayerNorm之前修复过精度问题，建议换个版本试试，比如registry.baidubce.com/paddlepaddle/paddle:2.1.3-gpu-cuda10.2-cudnn7

[2021-10-22 07:48] wenming2014 commented on #36621
您好，layer参数不支持通过@declarative定义，建议改成在__init_函数下定义

[2021-10-22 07:58] wenming2014 commented on #36608
您好，看着cuda的环境有点问题，尝试使用docker使用镜像的方式来使用paddle

[2021-10-22 08:05] wenming2014 commented on #36603
您好，看着报类型问题，建议再check下

[2021-10-22 08:11] #36436 closed, assigned to zhiboniu

[2021-10-22 08:11] linjieccc commented on #36630
经排查是`max_encode_len`设置过大导致的问题，我这边尝试将`max_encode_len`改为400，模型可以正常收敛。

[2021-10-22 08:27] LoveNingBo commented on #36621
您好，请问可以举例的说明一下是哪些模块的定义方式有误吗？类似 GeLU 模块这种只有forward没有__init__ 函数这种形式就会报这个错误吗？

[2021-10-22 08:43] chereyk commented on #36364
您好，安装完CUDA11.0 + cudnn8.0.2 for CUDA 11.0 之后依然报错。如下：

RuntimeError: (PreconditionNotMet) The third-party dynamic library (cudnn64_8.dll) that Paddle depends on is not configured correctly. (error code is 126)
  Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configure third-party d

[2021-10-22 08:56] D-DanielYang opened #36635 "【论文复现赛】关于PyTorch中可以对tensor灵活索引的需求，Paddle预计什么时候可以支持？"
同 issue https://github.com/PaddlePaddle/Paddle/issues/35242
索引非常不灵活

[2021-10-22 09:23] JiabenLi opened #36638 "【菁英计划】稀疏矩阵的一些相关内容在飞桨中有没有提供？"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2021-10-22 10:12] ZRSlayee commented on #36630
能正常运行了，谢谢。我想请问一下，ernie-gen的最大输入是否有设置上限？

[2021-10-22 11:06] LiuChiachi commented on #36638
您好，目前稀疏矩阵的一些相关内容应该还不支持，可以介绍下您的使用场景吗，我们评估一下～
谢谢。

[2021-10-22 12:27] laughingpyu commented on #35940
【队名】：wow

【序号】：45

【状态】：报名

【链接】：https://github.com/laughingpyu/PaddleTest

[2021-10-22 12:36] Sugar74 commented on #35940
【队名】：Great

【序号】：48

【状态】：报名

【链接】：https://github.com/Sugar74/PaddleTest

[2021-10-22 13:12] yinpu opened #36650 "基础API和高层API问题"
1.高层API中，fit中使用EarlyStopping的callback，如果只想保存最好的模型，不保存其他模型，该怎么做？
2.基础API训练中（不使用fit，采用loss.backward()+optimizer.step()方式训练），如果在某些layer的ParamAttr设置了regularizer，怎么在loss中添加对应的regularizer？如果不能，ParamAttr只能在fit方式有用吗？

[2021-10-22 13:25] LiuChiachi commented on #36650
您好！
1.fit的参数`save_freq`设大一点，超过原本的step数即可，EarlyStopping里`save_best_model`默认选True就可以了；
2. @chenwhql 可以帮忙看一下基础API下ParamAttr的使用吗～感谢

[2021-10-22 13:26] LiuChiachi commented on #36635
您好，我们内部评估后会尽快回复，感谢支持！

[2021-10-22 16:25] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：40

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/274

[2021-10-22 23:24] jakpiase commented on #36461
Hi, @baoachun, do mean adding a pass that will convert "matmul_v1" into "matmul_v2"? If yes, then I think that it can be done, but only if alpha(output scale) parameter would be equal to 1.0, otherwise matmul_v2 may not be compatible since it does not have that parameter. This additional pass will be added by your team, or it should be added by mine? Does it have the same deadline as adding other

[2021-10-23 01:09] spencedj commented on #35940
【队名】：Spencedj

【序号】：92

【状态】：报名

【链接】：https://github.com/spencedj/openvino

[2021-10-23 01:16] linfanhua001 commented on #35940
【队名】：Lin FanHua

【序号】：85

【状态】：报名

【链接】：https://github.com/linfanhua001/openvino

[2021-10-23 01:27] jiaoxi1 commented on #35940
【队名】：JIo Sein yi

【序号】：90

【状态】：报名

【链接】：https://github.com/jiaoxi1/openvino

[2021-10-23 02:05] baoachun commented on #36461
Hi, @jakpiase,  my colleague will submit the pass of v2 mapping v1 today, but it only supports scenes without broadcast. Scenes that cannot be mapped by broadcast are not necessary to be resolved before the deadline. We need to ensure that the model in this mapping scenario can be inferred successfully and the related passes can work normally. In addition, yesterday PMO requested that cherry-pick

[2021-10-23 05:23] qimukakax commented on #35940
【队名】：jiqixi
【序号】：88
【状态】：报名
【链接】：https://github.com/qimukakax/openvino

[2021-10-23 05:25] huangwan-jiayi commented on #36603
您好，可以说得详细一点吗？我的推理程序可以推理未做剪枝的模型，剪枝后重训练的模型，为什么会报类型问题呢？

[2021-10-23 05:26] qimukakax commented on #35940
【队名】：eibici
【序号】：87
【状态】：报名
【链接】：https://github.com/qimukakax/openvino

[2021-10-23 05:27] qimukakax commented on #35940
【队名】：aaani
【序号】：91
【状态】：报名
【链接】：https://github.com/qimukakax/openvino

[2021-10-23 05:36] linjieccc commented on #36630
这里module使用到的预训练模型是ernie-1.0，支持max length 512的输入，可以参考module代码：
https://github.com/PaddlePaddle/PaddleHub/blob/d4298260b1a35cd23cc85514ebaaf1975697c479/modules/text/text_generation/ernie_gen/module.py#L58

[2021-10-23 05:54] 626334313 commented on #35940
【队名】：abc
【序号】：87
【状态】：报名
【链接】：https://github.com/626334313/openvino

[2021-10-23 05:55] ycy921 commented on #35940
【队名】：abcc
【序号】：86
【状态】：报名
【链接】：https://github.com/godyuyu/openvino

[2021-10-23 05:56] 626334313 commented on #35940
【队名】：abcdefg
【序号】：92
【状态】：报名
【链接】：https://github.com/626334313/openvino

[2021-10-23 05:56] ycy921 commented on #35940
【队名】：abcc
【序号】：92
【状态】：报名
【链接】：https://github.com/godyuyu/openvino

[2021-10-23 06:33] rockyliqihaha commented on #35940
【队名】：rocky
【序号】：92
【状态】：报名
【链接】：https://github.com/rockyliqihaha/openvino

[2021-10-23 06:35] rockyliqihaha commented on #35940
【队名】：rocky
【序号】：91
【状态】：报名
【链接】：https://github.com/rockyliqihaha/openvino

[2021-10-23 06:35] rockyliqihaha commented on #35940
【队名】：rocky
【序号】：85
【状态】：报名
【链接】：https://github.com/rockyliqihaha/openvino

[2021-10-23 06:42] River-Cold commented on #35940
【队名】：test
【序号】：88
【状态】：报名
【链接】：https://github.com/River-Cold/openvino

[2021-10-23 06:47] River-Cold commented on #35940
【队名】：test
【序号】：86
【状态】：报名
【链接】：https://github.com/River-Cold/openvino

[2021-10-23 06:49] miziha-zp commented on #35940
【队名】：peng
【序号】：89
【状态】：报名
【链接】：https://github.com/miziha-zp/openvino

[2021-10-23 06:49] River-Cold commented on #35940
【队名】：test
【序号】：92
【状态】：报名
【链接】：https://github.com/River-Cold/openvino

[2021-10-23 06:50] miziha-zp commented on #35940
【队名】：peng
【序号】：92
【状态】：报名
【链接】：https://github.com/miziha-zp/openvino

[2021-10-23 07:10] xxx08796 commented on #35940
【队名】：121
【序号】：85
【状态】：报名
【链接】：https://github.com/xxx08796/openvino

[2021-10-23 07:19] xxx08796 commented on #35940
【队名】：121
【序号】：89
【状态】：报名
【链接】：https://github.com/xxx08796/openvino

[2021-10-23 07:24] echo-YK commented on #35940
【队名】：我要吃栗子
【序号】：86

【状态】：报名

【链接】：https://github.com/echo-YK/openvino

[2021-10-23 07:24] echo-YK commented on #35940
【队名】：我要吃栗子
【序号】：89

【状态】：报名

【链接】：https://github.com/echo-YK/openvino

[2021-10-23 07:37] songw-zju commented on #35940
【队名】：thekey
【序号】：86
【状态】：报名
【链接】：https://github.com/songw-zju/openvino

[2021-10-23 07:38] songw-zju commented on #35940
【队名】：thekey
【序号】：91
【状态】：报名
【链接】：https://github.com/songw-zju/openvino

[2021-10-23 07:51] luyvlei commented on #35940
【队名】：Lyc
【序号】：87

【状态】：报名

【链接】：https://github.com/luyvlei/openvino

[2021-10-23 07:53] luyvlei commented on #35940
【队名】：BYDYYDS

【序号】：86

【状态】：报名

【链接】：https://github.com/luyvlei/openvino

[2021-10-23 07:58] Somnus-Yishan commented on #35940
【队名】：LETSGOWHZ

【序号】：91

【状态】：报名

【链接】：https://github.com/Somnus-Yishan/openvino

[2021-10-23 07:58] Somnus-Yishan commented on #35940
【队名】：WHZchampion

【序号】：92

【状态】：报名

【链接】：https://github.com/Somnus-Yishan/openvino

[2021-10-23 08:12] ChiangE commented on #35940
【队名】：ChiangE

【序号】：92

【状态】：报名

【链接】：https://github.com/ChiangE/openvino

[2021-10-23 08:12] ChiangE commented on #35940
【队名】：ChiangE

【序号】：86

【状态】：报名

【链接】：https://github.com/ChiangE/openvino

[2021-10-23 08:18] zhoucz97 opened #36665 "[飞桨复现论文]batch=1时出现nan"
情况：数据量按照batch_size切分后还剩余的一个数据，或者直接把batch_size设为1

问题：在把这一个数据送入模型后，得到loss，并计算梯度反向传播后，整个模型出现问题。具体问题是模型权重全部变为nan，后续梯度也都变为nan。

**在送入模型的数据量不是1的情况下不会出现此问题。
即使数据量为1，但在CPU上也不会出现此问题。**
**只有在送入模型的数据量为1且在GPU上，才会出现此问题。**

[2021-10-23 09:04] yghstill commented on #36665
@zhoucz97 Paddle版本是多少？是GPU单卡训练出现这个问题吗？是什么类型的模型，可否提供下最小可复现代码，以便我们定位问题并解决?

[2021-10-23 09:22] zhoucz97 commented on #36665
ai studio地址和一些说明放在文件中了，谢谢回复~~

周长智
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月23日(星期六) 下午5:04
***@***.**

[2021-10-23 09:44] BananaAres commented on #35940
【队名】：这是一个队名

【序号】：87

【状态】：报名

【链接】：https://github.com/BananaAres/openvino

[2021-10-23 09:45] BananaAres commented on #35940
【队名】：这是一个队名

【序号】：91

【状态】：报名

【链接】：https://github.com/BananaAres/openvino

[2021-10-23 10:01] yghstill commented on #36665
@zhoucz97 issue里好像看不到链接和文件，或者将ai studio链接重发下？

[2021-10-23 10:06] zhoucz97 commented on #36665
在ai studio上运行的
paddle.__version__=2.1.2
GPU单卡
Splinter 问答BERT类模型
论文：https://paperswithcode.com/paper/few-shot-question-answering-by-pretraining

我的ai studio项目链接如下：
项目“splinter-paddle”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/2503997/e225be8238c14b97b9ed123dfbc364cb

您只需关注splinter-paddle/finetuning中的train.py和run.py文件

2503997.ipynb可直接运行项目，因为是few-shot，训练速度很快，一两分钟就可以训一次。

t

[2021-10-23 10:39] agnJason commented on #35940
【队名】：agnJason

【序号】：90

【状态】：报名

【链接】：https://github.com/agnJason/openvino

[2021-10-23 10:40] agnJason commented on #35940
【队名】：agnJason

【序号】：87

【状态】：报名

【链接】：https://github.com/agnJason/openvino

[2021-10-23 10:55] jakpiase commented on #36461
@baoachun So should I create a cherry-pick PR of matmul_v2+transpose+reshape fuse pass now([#36481](https://github.com/PaddlePaddle/Paddle/pull/36481) )?

[2021-10-23 11:36] baoachun commented on #36461
@jakpiase  I will ask the leader’s opinion and reply to you on Monday.
In addition, according to my colleague's pr, v2 has been mapped to v1, but ernie inference will have an inconsistent dimension error, when mkldnn is turned on. Can you help me see where the problem might be? The link to pr is: https://github.com/PaddlePaddle/Paddle/pull/36652/files
![图片](https://user-images.githubusercontent.co

[2021-10-23 12:10] jakpiase commented on #36461
@baoachun Ok, I'll try to find out why is it crashing in that PR

[2021-10-23 12:20] baoachun commented on #36461
Hi @jakpiase , I really appreciate it!
I have figured out the problem, only need to pass in the use_mkldnn attribute when mapping. But I don't quite understand why this method can avoid this problem. Do you have any insights?
![图片](https://user-images.githubusercontent.com/22114318/138555773-e3042608-05dd-4821-88b4-8d94c259ed2e.png)

[2021-10-23 12:40] jakpiase commented on #36461
[code]
Maybe you can use something like that instead of using GetAttrIfExists() method, since GetAttrIfExists() will return uninitialized bool if there is no "use_mkldnn" attribute in matmul_v2 op

[2021-10-23 12:54] baoachun commented on #36461
Got it, we have made changes.

[2021-10-23 14:10] jaywit commented on #35940
【队名】：Jerry

【序号】：88

【状态】：报名

【链接】：https://github.com/jaywit/openvino

[2021-10-23 14:11] jaywit commented on #35940
【队名】：Jerry

【序号】：91

【状态】：报名

【链接】：https://github.com/jaywit/openvino

[2021-10-23 15:11] ccaong commented on #35940
【队名】：鲁能泰山
【序号】：89
【状态】：报名
【链接】：https://github.com/ccaong/openvino

[2021-10-23 15:15] ccaong commented on #35940
【队名】：山东高速男篮
【状态】：85
【状态】：报名
【链接】：https://github.com/ccaong/openvino

[2021-10-23 16:09] zh794390558 opened #36668 "Layer.to 的打印信息"
Layer.to后打印
in ParamBase copy_to func
这个打印是从哪儿来的？

[2021-10-23 20:35] jakpiase commented on #36461
Hi @baoachun, CI-Framework still has some errors. X tensor batch size = "-1", but Y tensor has batch size = "1", and that's matmul_v1, so there can't be any broadcasting, so probably setting proper X tensor dims should fix that
![image](https://user-images.githubusercontent.com/62569058/138570664-4ab423c1-cb96-4233-ad46-a3bd3c7880d5.png)

[2021-10-24 01:47] FTanghu commented on #35940
【队名】：777
【状态】：91
【状态】：报名
【链接】：https://github.com/qutgitstudent201707153/openvino

[2021-10-24 02:28] FTanghu commented on #35940
【队名】：777
【状态】：85
【状态】：报名
【链接】：https://github.com/qutgitstudent201707153/openvino

[2021-10-24 02:56] zhangxuan-csu commented on #35940
【队名】：不知道取什么名
【状态】：84
【状态】：报名
【链接】：https://github.com/zhangxuan-csu/PaddleHelix.git

[2021-10-24 03:05] zx0509 commented on #35940
【队名】：不知道取什么名
【序号】：86
【状态】：报名
【链接】：https://github.com/zhangxuan-csu/openvino

[2021-10-24 03:14] zx0509 commented on #35940
【队名】：不知道取什么名
【序号】：87
【状态】：报名
【链接】：https://github.com/zhangxuan-csu/openvino

[2021-10-24 03:14] zx0509 commented on #35940
【队名】：不知道取什么名
【序号】：89
【状态】：报名
【链接】：https://github.com/zhangxuan-csu/openvino

[2021-10-24 03:14] zx0509 commented on #35940
【队名】：不知道取什么名
【序号】：91
【状态】：报名
【链接】：https://github.com/zhangxuan-csu/openvino

[2021-10-24 03:24] bishuixiu commented on #35940
【队名】：就这样
【序号】：85
【状态】：报名
【链接】：https://github.com/bishuixiu/openvino.git

[2021-10-24 03:25] bishuixiu commented on #35940
【队名】：就这样
【序号】：89
【状态】：报名
【链接】：https://github.com/bishuixiu/openvino.git

[2021-10-24 03:25] bishuixiu commented on #35940
【队名】：就这样
【序号】：87
【状态】：报名
【链接】：https://github.com/bishuixiu/openvino.git

[2021-10-24 03:25] bishuixiu commented on #35940
【队名】：就这样
【序号】：92
【状态】：报名
【链接】：https://github.com/bishuixiu/openvino.git

[2021-10-24 04:11] chenqianhe opened #36670 "Optimizer文档示例代码问题（版本号2.1）"
## 示例代码
![Snipaste_2021-10-24_12-05-26](https://user-images.githubusercontent.com/54462604/138580374-520ed6d8-53e0-4828-84d1-2aa936715a3c.png)
## 问题
Optimizer示例代码中有
[code]
是否应为
[code]
## 文档链接
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/Optimizer_cn.html#optimizer

[2021-10-24 04:22] wenming2014 commented on #36621
是的，最好每个都有一个__init__ 函数定义参数。

从报错信息看，你应该是这个地方报错了

[2021-10-24 04:32] wenming2014 commented on #36603
您好，看着是opencv报错了，应该不是推理的问题，建议再check下哪里用的不对或者改变了类型

[2021-10-24 08:47] yghstill commented on #36668
@zh794390558 感谢反馈，这是内部的debug信息，我们看下能否去除这个log打印。

[2021-10-24 10:49] nazimii commented on #35940
【队名】：sunnyzhi
【序号】：85
【状态】：报名
【链接】：https://github.com/1173161983/openvino.git

[2021-10-24 10:51] nazimii commented on #35940
【队名】：sunnyzhi
【序号】：90
【状态】：报名
【链接】：https://github.com/1173161983/openvino.git

[2021-10-24 10:56] nazimii commented on #35940
【队名】：sunnyzhi
【序号】：91
【状态】：报名
【链接】：https://github.com/1173161983/openvino.git

[2021-10-24 12:16] cuicheng01 commented on #36670
这里确实应该用`loss.backward()`，感谢反馈，我们会尽快修复～

[2021-10-24 12:16] baoachun commented on #36461
Hi @jakpiase, I have figured out the problem, but there has been ouput diff after I modified the matmul v1 op. Chould you please help me see where the problem might be? Thanks a lot.
My pr link https://github.com/PaddlePaddle/Paddle/pull/36669/files#, the  `paddle/fluid/operators/matmul_op.cc` file. I couldn’t open the github link with my computer, so I just reply to you with my phone.

[2021-10-24 13:07] Cyc-will commented on #35940
【队名】: aaassss
【序号】：88
【状态】：报名
【链接】：https://github.com/Cyc-will/openvino

[2021-10-24 13:08] Cyc-will commented on #35940
【队名】: aaassss
【序号】：85
【状态】：报名
【链接】：https://github.com/Cyc-will/openvino

[2021-10-24 13:08] Cyc-will commented on #35940
【队名】: aaassss
【序号】：91
【状态】：报名
【链接】：https://github.com/Cyc-will/openvino

[2021-10-24 14:46] 1fisherma commented on #35940
【队名】: kily miat
【序号】：91
【状态】：报名
【链接】：https://github.com/1fisherma/openvino

[2021-10-24 14:47] 1fisherma commented on #35940
【队名】: kily miat
【序号】：89
【状态】：报名
【链接】：https://github.com/1fisherma/openvino

[2021-10-24 14:47] 1fisherma commented on #35940
【队名】: kily miat
【序号】：86
【状态】：报名
【链接】：https://github.com/1fisherma/openvino

[2021-10-24 14:47] 1fisherma commented on #35940
【队名】: kily miat
【序号】：87
【状态】：报名
【链接】：https://github.com/1fisherma/openvino

[2021-10-24 14:57] caoyuncang commented on #35940
【队名】：Caomucc
【序号】：85
【状态】：报名
【链接】：https://github.com/caoyuncang/openvino

[2021-10-24 14:57] caoyuncang commented on #35940
【队名】：Caomucc
【序号】：86
【状态】：报名
【链接】：https://github.com/caoyuncang/openvino

[2021-10-24 14:58] caoyuncang commented on #35940
【队名】：Caomucc
【序号】：88
【状态】：报名
【链接】：https://github.com/caoyuncang/openvino

[2021-10-24 14:58] caoyuncang commented on #35940
【队名】：Caomucc
【序号】：90
【状态】：报名
【链接】：https://github.com/caoyuncang/openvino

[2021-10-24 15:10] yux1ng commented on #35940
【队名】：helloWorld
【序号】：88
【状态】：报名
【链接】：https://github.com/yux1ng/Paddle

[2021-10-24 15:56] 1055447806 commented on #35940
【队名】：wugy
【序号】：88
【状态】：报名
【链接】：https://github.com/1055447806/openvino

[2021-10-24 15:57] 1055447806 commented on #35940
【队名】：wugy
【序号】：89
【状态】：报名
【链接】：https://github.com/1055447806/openvino

[2021-10-24 15:57] 1055447806 commented on #35940
【队名】：wugy
【序号】：90
【状态】：报名
【链接】：https://github.com/1055447806/openvino

[2021-10-25 01:37] echo-YK commented on #35940
拒收

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月24日(星期天) 中午11:25
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [Pa

[2021-10-25 01:55] gaogaoxingxing2010 opened #36675 "数据挖掘数据量级偏少，有什么解决方式呢？感谢感谢"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-10-25 02:46] WenmuZhou commented on #36586
你好，crf_decoding 的概率支持在这个pr里已经支持了哈，会在2.2正式版里支持，目前可以先试一下最新的dev版本PaddlePaddle，https://github.com/PaddlePaddle/Paddle/pull/35778

[2021-10-25 03:31] chereyk opened #36681 "安装错误：测试通过，推理出错"
   1）PaddlePaddle版本：2.1.3，来源于官网安装
    2）GPU：GPU型号：RTX3060，CUDA：11.0和CUDNN版本号：8.0.2
    3）系统环境：win10专业版、Python3.7。
- 安装方式信息：
1）pip安装
- 问题描述：安装完成之后使用cpu推理正常运行，调用paddle.utils.run_check()正常通过，但使用gpu推理时出现报错如下：
Traceback (most recent call last):
  File "F:/project/paddleocr/tools/infer/predict_system.py", line 192, in <module>
    main(args)
  File "F:/project/paddleocr/tools/infer/predict_system.py", l

[2021-10-25 03:42] LiuChiachi commented on #36650
2.可以参考`ParamAttr` 文档中`regularizer`的释义：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/ParamAttr_cn.html#paramattr

[2021-10-25 04:22] codecookinging commented on #28248
so,how to fix this problem in code?

[2021-10-25 04:25] codecookinging commented on #25494
#13860 can't resolve this problem, how to resolve it ?

[2021-10-25 05:13] pollyyan commented on #36681
您执行的具体指令是什么呀～

[2021-10-25 05:28] kulame opened #36683 "现在paddle支持cuda11.04吗"
paddle什么时候可以支持最新的cuda11.04?

[2021-10-25 06:03] chereyk commented on #36681
直接在pycharm中run tools/infer/predict_system.py

[2021-10-25 06:25] chenjy012 opened #36685 "paddlepaddle是否支持在centos7 arm架构机器上编译，目前官网没有改环境下的轮子包"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-10-25 06:47] henryccl opened #36687 "dataloader不能返回dict类型的数据"
我在将torch项目转换为paddle时，发现在paddle中dataloader不能返回dict类型的数据，我该如何解决这个问题呢？

[2021-10-25 06:51] henryccl commented on #36687
![image](https://user-images.githubusercontent.com/44051761/138647954-0a405ee4-8ce0-4982-b078-a7af79e43a05.png)

[2021-10-25 06:53] LoveNingBo commented on #36621
同学你好，我按照你的提示全部修改重写后还是会报类似的错误，麻烦你帮忙看一下

## 报错信息
[code]

## 源码

[code]

[2021-10-25 07:15] betterpig commented on #36364
在解压cudnn后，需要将bin、include、lib文件夹内的文件分别复制到CUDA安装路径对应文件夹下，如bin中文件复制到`C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin`。

[2021-10-25 07:16] chereyk commented on #36364
已经是复制了的呢

[2021-10-25 07:18] pollyyan commented on #36681
您好，我这边在windows中paddlepaddle-gpu=2.1.3.post112、CUDA11.2 py37运行是正常的：
![image](https://user-images.githubusercontent.com/38637686/138651149-92f7e892-2821-4d61-9a5a-cb27b6a4a8f8.png)

[2021-10-25 07:25] betterpig commented on #36364
请set GLOG_v=10，截图错误的地方，方便分析失败原因。

[2021-10-25 07:30] cxxly commented on #36687
您好，自定义dataset不需要返回字典，继承Dataset基类，实现__getitem__， __len__方法，__getitem__返回指定索引的样本即可，参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/Dataset_cn.html  。 dataset由dataloader加载并进行迭代，参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DataLoader_cn.html

[2021-10-25 07:37] chereyk commented on #36364
I1025 15:33:10.178448  6668 op_call_stack.cc:61] ExternalError:  Cudnn error, CUDNN_STATUS_EXECUTION_FAILED  (at C:/home/workspace/Paddle_release/paddle/fluid/operators/fused/conv_fusion_op.cu:306)
Traceback (most recent call last):
  File "predict_system.py", line 193, in <module>
    main(args)
  File "predict_system.py", line 126, in main
    res = text_sys(img)
  File "predict_system.py", line

[2021-10-25 07:42] yinpu commented on #36650
比如model中某些层已经设置好了ParamAttr，训练的代码如下：

pred = model(x)
loss = loss_fn(pred, y)   #此处loss_fn为mse_loss或者ce_loss损失函数
loss.backward()
optimizer.step()

这样optimizer优化的是loss，还是loss+regularizer loss(L1 loss或者L2 loss)

[2021-10-25 07:48] chereyk commented on #36681
请问您使用的gpu是什么型号的呢，cudnn是哪个版本？

[2021-10-25 07:56] pollyyan commented on #36681
GPU型号：GeForce RTX 3080，cudnn版本：8.1.0

[2021-10-25 08:21] LiuChiachi commented on #36650
会在参数上加正则项，和loss没有直接关系。
比如之前优化的是参数w，加上正则之后会优化w + regularizer(w)

[2021-10-25 08:26] justld commented on #35940
【队名】：dudu
【序号】：42
【状态】：提交
【链接】：https://github.com/justld/PaddleTest

[2021-10-25 08:27] justld commented on #35940
【队名】：dudu
【序号】：43
【状态】：提交
【链接】：https://github.com/justld/PaddleTest

[2021-10-25 08:28] chereyk commented on #36681
非常感谢，按您的配置重新安装之后可以正常训练了

[2021-10-25 08:30] chereyk commented on #36364
非常感谢您的帮助，在使用cuda11.2+cudnn8.1.0之后可以正常训练了

[2021-10-25 08:30] #36364 closed, assigned to nobody

[2021-10-25 08:55] betterpig commented on #36364
不客气。环境适配是比较麻烦。

[2021-10-25 08:58] Ziyiiii opened #36697 "【菁英计划】构建稀疏张量(sparse)"
请问paddle中如何构建稀疏张量？类似于torch.sparse.FloatTensor

[2021-10-25 09:01] yghstill commented on #36665
@zhoucz97 小样本场景下出 nan 的频率会相对较高，小样本场景对超参数很敏感，可以更改一下其它超参数看看是否会出 nan，例如 lr、max_seq_len 等

[2021-10-25 09:02] scd158 commented on #35940
【队名】：呜呼呜呼呜
【序号】：89
【状态】：报名
【链接】：https://github.com/scd158/openvino

[2021-10-25 09:03] scd158 commented on #35940
【队名】：呜呼呜呼呜
【序号】：86
【状态】：报名
【链接】：https://github.com/scd158/openvino

[2021-10-25 09:19] LoveNingBo commented on #36621
感谢paddle同学的解答，报错主要还是由于组网方式不规范造成，修改方案为：

[code]
替换为
[code]

[2021-10-25 09:19] #36621 closed, assigned to nobody

[2021-10-25 09:47] ZRSlayee commented on #36630
已解决，谢谢！

[2021-10-25 09:47] #36630 closed, assigned to LiuChiachi

[2021-10-25 10:19] cxxly commented on #36683
您好，11.0Paddle目前是支持的，参考 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/compile/linux-compile.html , 您是不是想问11.4版本？

[2021-10-25 12:08] huangwan-jiayi opened #36705 "Paddleseg 导出预测量化模型时报错。AttributeError: 'NoneType' object has no attribute 'state_dict'"
paddlpaddle版本：paddlepaddle-gpu的nightly build版本
![image](https://user-images.githubusercontent.com/71338215/138692172-a82bb90b-500e-49cb-bbaa-35347f7eea2f.png)

报错：
![image](https://user-images.githubusercontent.com/71338215/138692267-a1a5d17a-b652-443d-9a7f-83ea19d4e436.png)

[2021-10-25 12:24] sljlp commented on #36608
你好，请提供一下workerlog.1的日志

[2021-10-25 12:49] cxxly commented on #36705
您好，看异常栈像是在执行 `utils.load_entire_model`失败，导致model为NoneType，请检查model_path是否正确。另外，如果无法自行解决，建议用PDB或IDE Debuger工具初步定位错误代码位置后，提供个最小复现代码以方便我们调试。

[2021-10-25 12:58] henryccl commented on #34342
现在换成paddle2.2可以解决这个问题了

[2021-10-25 13:18] xandery-geek commented on #36608
**log/workerlog.1 的输出**
[code]

[2021-10-25 13:28] huangwan-jiayi commented on #36705
![image](https://user-images.githubusercontent.com/71338215/138703212-8ca1d4fa-394f-4c94-aa79-0c4b52054cfe.png)
模型路径没问题，
报错的utils.py

import contextlib
import filelock
import os
import tempfile
import numpy as np
import random
from urllib.parse import urlparse, unquote

import paddle

from paddleseg.utils import logger, seg_env
from paddleseg.utils.download import download_file_and_uncompress

@co

[2021-10-25 13:29] huangwan-jiayi commented on #36705
另外 我测试量化模型的时候 python slim/quant/qat_val.py   报一样的错

[2021-10-25 14:13] sljlp commented on #36608
请确认下是不是GPU版本的paddle
确认命令：
python3 -c 'import paddle, print(paddle.is_compiled_with_cuda())'
如果输出是True，表示是GPU版本；输出是False，则不是GPU版本。
如果不是GPU版本，请更换为GPU版本的apddle
如果是True， 请在启动任务前执行export GLOG_v=3 ,执行任务后提供一下全量日志

[2021-10-25 15:24] yingyibiao opened #36712 "Paddle中的Adamax优化器和PyTorch中对应的Adamax优化器计算逻辑有diff"
Paddle 2.2rc版本，Pytorch 1.10.0版本
![image](https://user-images.githubusercontent.com/52000032/138723816-95b06f2c-c00b-4ae9-a8f5-b9ae55f0e262.png)
![image](https://user-images.githubusercontent.com/52000032/138723933-f5d76af0-2612-4b89-bf58-bf45517265d7.png)
主要的diff是epsilon加的地方不一致（BTW，原始论文中没有epsilon参数）

[2021-10-25 17:45] zhoucz97 opened #36717 "[菁英计划] KaiMIngUniform初始化"
Kaiming初始化公式与pytorch的Kaiming初始化不一样，比如KaiMingUniform，pytorch版支持很多非线性函数操作，而paddle的一些参数都写死了。如paddle的KaiMingUniform初始化公式是$\sqrt(6) / fan_in$，对应torch的ReLU，而torch的KaiMingUniform初始化默认使用LeakyReLU。

paddle KaimingUniform: https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/initializer/KaimingUniform_cn.html#kaiminguniform

torch KaimingUniform: https://pytorch.org/docs/stable/nn.init.html?h

[2021-10-26 00:08] morgan-bc opened #36718 "使用CPU进行模型训练，如何利用多处理器进行加速"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.3
    2）CPU：预测若用CPU，Intel(R) Xeon(R) Platinum
    3）GPU：预测若用GPU，无
    4）系统环境：Ubuntu 20.04

目前服务器环境为 Intel Xeon 48 核 96线程，没有GPU。使用 cpu训练时只能使用一个线程计算，请问在 2.1 动态图版本如何使用多核并行加速训练，比如使用 cpu 全部 48核

[2021-10-26 02:07] ranpeng-git opened #36720 "训练输入与filter精度不对应"
ValueError: (InvalidArgument) input and filter data type should be consistent, but received input data type is double and filter type is float

[2021-10-26 03:08] cxxly commented on #36697
您好，目前还不支持。目前已经在调研中了，支持后会尽快给您回复！

[2021-10-26 03:12] dingjiaweiww commented on #36697
飞桨有计划支持稀疏运算，请问您的邮箱是什么呀，想和您交流一下具体使用场景～

[2021-10-26 03:45] tianxin1860 commented on #36720
您好，错误原因是由于输入数据类型和 Filter 数据类型不一致导致，请提供报错代码片段方便进一步定位问题。

[2021-10-26 04:01] juncaipeng commented on #36603
和下面issue重复，关闭该issue。
https://github.com/PaddlePaddle/PaddleSeg/issues/1460

[2021-10-26 04:01] #36603 closed, assigned to nobody

[2021-10-26 04:09] ranpeng-git commented on #36720
问题是这样：我们需要输入的数据类型保持为float64，我们如何让模型在flaot64下训练，如果直接运行默认模型为float32的则直接报这个错误

[2021-10-26 04:36] cxxly commented on #36685
您好，paddle目前不支持arm架构下的编译（除了mac m1），我们会内部评估，有计划后会尽快回复您！

[2021-10-26 05:20] jiweibo commented on #36455
目前不能获取输入的shape哈，只能通过Reshape接口哈

[2021-10-26 05:31] ranpeng-git commented on #36720
用model.to(dtype = 'falot64')解决该问题

[2021-10-26 06:22] #36685 closed, assigned to nobody

[2021-10-26 07:04] LoveNingBo opened #36738 "打开 MKLDNN 后预测报错"
## 版本、环境信息：
[code]

## 报错信息
[code]

## 相关代码
[code]

[2021-10-26 07:18] baoachun commented on #36738
请问有尝试最新版本的paddle吗？

[2021-10-26 07:48] odidev opened #36742 "Add support to release Linux aarch64 wheels"
On aarch64, ‘pip install paddlepaddle-gpu’ gives the following error:

[code]

Please let me know your interest in releasing Linux aarch64 wheels. I can help with this.

[2021-10-26 07:53] ranpeng-git opened #36743 "[飞桨菁英]paddle.scatter"
**如何解决scatter api在两个框架传参不一致的问题。**
paddle.scatter中的参数必须为tensor，其中x和updates的shape必须完全一致并且index的维度只能为1，我们要如何实现torch.scatter中那样updats用标量输入且index维度可以不为1的问题。

[2021-10-26 08:33] armijo1122 opened #36746 "【菁英计划】反向对齐过程中使用Adamax优化器对不齐"
版本、环境信息：
1)  PaddlePaddle-gpu==2.2.0rc0
2)  torch == 1.9.1
3)  Cuda == 10.2
4)  cudnn==7.6.5

8号文章《Unified Language Model Pre-training for Natural Language Understanding and Generation》，反向对齐时torch和paddle同时使用了内置的Adamax，第一次Loss在1e-5数量级，往后每一次反向传播后误差都会增加一个数量级

[2021-10-26 08:54] cxxly commented on #36675
您好，感谢信任Paddle，不过这个问题过于宽泛，需要结合具体应用场景，数据类型，以及使用的模型考虑，建议优先咨询领域内身边有经验的开发者。如果还有疑问，可以进一步细化应用场景，数据规模，模型以及预期指标等，进一步讨论

[2021-10-26 09:01] zhanbaohnag commented on #31769
请问，我在paddleocr1.1.1，paddlepaddle1.8.5也遇到内存泄漏的问题，现在有解决办法了吗

[2021-10-26 09:44] cxxly commented on #36712
@frankwhzhang ，辛苦协助跟进

[2021-10-26 10:16] tianxin1860 commented on #36746
您好，请先确保网络结构、训练超参等是否完全对齐；前向是否已经对齐？

[2021-10-26 10:33] armijo1122 commented on #36746
您好，训练超参和前向已经对齐了，损失函数也已经对齐了，只是后续反向传播后无法对齐

[2021-10-26 12:17] zbp-xxxp opened #36754 "关于paddle.nn.Conv2DTranspose的参数'output_size'的问题"
PaddlePaddle版本是2.1.2

文档'output_size'参数错误；这个output_size应该是可以指定的，但是文档里没有显示出来：
![](https://ai-studio-static-online.cdn.bcebos.com/7879aee408e444dda182be8dfdfb6ff916ac41e5e3084b32b0a6df10cf5fc155)

并且调用的时候出现了报错：
![](https://ai-studio-static-online.cdn.bcebos.com/3c0ed671f55a466782d8cd7d4dee15af8e376d3d851145fe8be90512293c7afa)

![](https://ai-studio-static-online.cdn.bcebos.com/f08385ef37a1473e81b6e0

[2021-10-26 12:19] tianxin1860 commented on #36746
您好，已经收到反馈，Paddle Adamax 和 Pytorch Adamax 在实现上目前有 diff,  可以参见 #36712，我们会排期修复，请关注~

[2021-10-26 12:20] GT-ZhangAcer commented on #36754
提一下两个个人的建议给相关负责同学：
1. 对于class的文档，感觉还是要列出method要好一些，至少要呈现出主要的参数使用方式。
2. Demo如果是只能跑最简的案例，那这个Demo意义并不大，大家想看的是特殊的用法而并非是大家都懂的用法。

[2021-10-26 13:31] LoveNingBo commented on #36738
初始环境paddle.2.0.0(对应oneDNN v1.6.0)会报错，按照paddle同学的提示升级paddle.2.1.2(对应oneDNN v2.2.1)后使用mkldnn可以得到结果，十分感谢！

[2021-10-26 13:31] #36738 closed, assigned to tianxin1860

[2021-10-26 13:57] tianxin1860 commented on #36718
您好, 在2.0版本动态图模式下，CPU训练加速可以从以下两点进行配置：

使用多进程DataLoader加速数据读取：训练数据较多时，数据处理往往会成为训练速度的瓶颈，paddle提供了异步数据读取接口DataLoader，可以使用多进程进行数据加载，充分利用多处理器的优势，具体使用方法及示例请参考API文档：paddle.io.DataLoader。

推荐使用支持MKL（英特尔数学核心函数库）的paddle安装包，MKL相比Openblas等通用计算库在计算速度上有显著的优势，能够提升您的训练效率。

[2021-10-26 14:57] nfmmm opened #36760 "哪位大神能告诉我为啥2.0以后的版本要放弃lod_tensor"
![image](https://user-images.githubusercontent.com/66106874/138905416-7b6d59b2-a8bc-4b12-a9e6-d5c30a4b91e0.png)

为啥框架整体转为动态图后，要放弃lod_tensor，能给我一个让我不再纠结的答案吗。

[2021-10-27 00:56] morgan-bc commented on #36718
我用的是 MKL 版的 paddle，问题是训练的时候查看 cpu 占用，显示只有一个核在做计算，环境变量中已经设置了 `export CPU_NUM=48`，但是没有什么效果。我看到文档中静态图有设置 `CPU_NUM` 的说明 (https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/BuildStrategy_cn.html) ，请问动态图有没有相同的功能

[2021-10-27 02:33] huangwan-jiayi commented on #36705
hallo？

[2021-10-27 03:10] WangChen0902 opened #36766 "【菁英计划】paddle.nn.LSTM和torch中的无法对齐"
建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：paddle.nn.LSTM和torch中的无法对齐
- PaddlePaddle版本：2.1.2

在复现论文AttnGAN- Fine-Grained Text to Image Generation with Attentional Generative Adversarial Networks时候，用到了LSTM层，但是torch和paddle的这两个实现有差别，请问如何实现网络结构对齐？

[2021-10-27 03:11] WangChen0902 commented on #36766
<img width="500" alt="image" src="https://user-images.githubusercontent.com/22705546/138993617-e5b85de4-846d-4751-ab7d-650155930534.png">

[2021-10-27 03:21] Amanda-Barbara commented on #29845
@WenmuZhou 在pycharm使用paddlex运行程序，终止运行后，pycharm还是会闪退

[2021-10-27 03:29] #36766 closed, assigned to nobody

[2021-10-27 03:29] WangChen0902 commented on #36766
已解决

[2021-10-27 03:35] HighCWu commented on #35210
为什么关闭issue，paddle目前并没有make_grid的操作

[2021-10-27 04:04] tianxin1860 commented on #36754
非常感谢您的积极反馈，我们会不断优化文档和案例，欢迎关注~

[2021-10-27 04:06] 978326187 commented on #35210
我在那个AI studio的论坛上交了个反馈，所以就关了

[2021-10-27 04:12] tianxin1860 commented on #36743
您好，对于 index 维度不为1 的情况支持，目前我们正在评估 paddle.scatter 进行兼容性功能升级的方案，欢迎关注~

[2021-10-27 04:30] ttjygbtj opened #36770 "【菁英计划】11篇：请问飞桨如何实现类似于optimizer.param_groups的功能呢？"
【菁英计划】请问飞桨如何实现类似于optimizer.param_groups的功能呢？

想要实现这种功能

[code]

[2021-10-27 05:02] tianxin1860 commented on #36717
您好，感谢您的积极反馈，KaiMIngUniform 的实现我们正在进行兼容性升级评估，欢迎关注~

[2021-10-27 05:08] tianxin1860 commented on #36760
个人理解部分原因是由于 LodTensor 的概念和用法相对 Tensor 更复杂，会增加用户的学习成本和使用成本。

[2021-10-27 05:09] yghstill commented on #36705
@huangwan-jiayi 安装的PaddleSlim版本正确吗：https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.3/docs/slim/quant/quant.md#31-%E7%8E%AF%E5%A2%83%E5%87%86%E5%A4%87

[2021-10-27 05:19] HighCWu commented on #35210
明白了。不过一般是等到问题解决了才关闭issue，我建议再次打开。我在搜索issue时看到关闭了以为问题已经解决了。

[2021-10-27 06:28] huangwan-jiayi commented on #36705
![image](https://user-images.githubusercontent.com/71338215/139011199-ca735898-9594-470a-9af6-4b81b54634f1.png)
![image](https://user-images.githubusercontent.com/71338215/139011312-0a90fe38-f91e-4aac-a9b3-b691bff9df53.png)
![image](https://user-images.githubusercontent.com/71338215/139011351-7f74bc4f-216f-4d05-b788-744380cefe51.png)
![image](https://user-images.githubusercontent.com/71338215/1390

[2021-10-27 06:33] #19601 closed, assigned to nobody

[2021-10-27 06:33] #22948 closed, assigned to nobody

[2021-10-27 06:33] #23778 closed, assigned to nobody

[2021-10-27 06:33] #24289 closed, assigned to nobody

[2021-10-27 06:33] #24320 closed, assigned to nobody

[2021-10-27 06:33] #24735 closed, assigned to qingqing01

[2021-10-27 06:33] #26578 closed, assigned to MRXLT

[2021-10-27 06:33] #26722 closed, assigned to Shixiaowei02

[2021-10-27 06:33] #27361 closed, assigned to phlrain, zhwesky2010

[2021-10-27 06:33] #27564 closed, assigned to nobody

[2021-10-27 06:33] #27726 closed, assigned to nobody

[2021-10-27 06:33] #27751 closed, assigned to nobody

[2021-10-27 06:33] #27752 closed, assigned to nobody

[2021-10-27 06:33] #27753 closed, assigned to nobody

[2021-10-27 06:33] #27794 closed, assigned to nobody

[2021-10-27 06:33] #27821 closed, assigned to nobody

[2021-10-27 06:33] #27823 closed, assigned to nobody

[2021-10-27 06:33] #27825 closed, assigned to bjjwwang

[2021-10-27 06:33] #27894 closed, assigned to nobody

[2021-10-27 06:33] #27922 closed, assigned to zhwesky2010

[2021-10-27 06:33] #27949 closed, assigned to nobody

[2021-10-27 06:33] #27977 closed, assigned to nobody

[2021-10-27 06:33] #27984 closed, assigned to MRXLT

[2021-10-27 06:34] #27986 closed, assigned to nobody

[2021-10-27 06:34] #28013 closed, assigned to nobody

[2021-10-27 06:34] #28038 closed, assigned to nobody

[2021-10-27 06:34] #28066 closed, assigned to nobody

[2021-10-27 06:34] #28099 closed, assigned to nobody

[2021-10-27 06:34] #28156 closed, assigned to nobody

[2021-10-27 06:34] #28170 closed, assigned to gfwm2013

[2021-10-27 06:34] #28187 closed, assigned to gfwm2013

[2021-10-27 06:34] #28188 closed, assigned to gfwm2013

[2021-10-27 06:34] #28189 closed, assigned to gfwm2013

[2021-10-27 06:34] #28190 closed, assigned to gfwm2013

[2021-10-27 06:34] #28238 closed, assigned to FrostML

[2021-10-27 06:34] #28253 closed, assigned to wanghaoshuang, dyning, cryoco, LDOUBLEV

[2021-10-27 06:34] #28255 closed, assigned to cryoco

[2021-10-27 06:34] geekhch opened #36774 "paddle源码建议增加类型提示"
在使用paddle编程时，发现paddle2.1版本的函数没有类型提式（type hint），开发起来需要不断的查阅文档，无法利用IDE的索引支持。官网文档也不全面，导致开发效率很低。
建议利用Python3的类型提示，对paddle源码进行优化。

[2021-10-27 08:34] littletomatodonkey opened #36781 "【菁英计划】反向对齐过程中使用Adadelta优化器对不齐"
paddle 2.2.0rc  Adadelta优化器训练，前向和torch对齐完成， 反向无法对齐，完全相同的代码，更换为adam优化器，反向可以对齐

[2021-10-27 09:21] juncaipeng commented on #36705
请尝试一下，将`PaddleSeg/slim/quant/qat_val.py`中的 `quant_model = quantizer.quantize(model)`修改为`quant_model = quantizer.quantize(model, inplace=False)`。
`PaddleSeg/slim/quant/qat_export.py`文件类似。

[2021-10-27 09:33] guguguzi opened #36785 "【菁英计划】反向传播backword出现段错误"
- 版本、环境信息：
    PaddlePaddle版本：2.1.2

- 模型信息（题号46）
    1）模型名称：AttnGAN: Fine-Grained Text to Image Generation with Attentional Generative Adversarial Networks
    2）使用数据集名称：COCO2014
    3）使用算法名称：AttnGAN
    4）模型链接：https://github.com/taoxugit/AttnGAN
代码部分：github链接https://github.com/Paddle-Team-7/AttnGAN-Paddle
![image](https://user-images.githubusercontent.com/48168743/139039786-baccd750-618c-4742-bf

[2021-10-27 09:34] ttjygbtj opened #36786 "【菁英计划】11篇：dataloader遍历出错TypeError: 'int' object is not iterable"
报错代码：
[code]
出错如下：
[code]

[2021-10-27 09:45] yanchunyu71 opened #36787 "【菁英计划】论文42-图卷积任务中无法使用稀疏张量"
复现论文：Modeling Relational Data with Graph Convolutional Networks

在构建稀疏张量时
PyTorch的实现：torch.sparse.FloatTensor()
paddle无对应实现

尝试：
使用scipy.sparce构建稀疏矩阵代替稀疏张量
在稀疏张量的paddle.concat()计算过程中，出现内存溢出错误（已占用32G，尝试分配16+G）

pytorch的稀疏张量集成格式：
![91635327819_ pic](https://user-images.githubusercontent.com/62750472/139041789-67f6bb2d-e34b-47aa-bccd-3a0987985256.jpg)

[2021-10-27 09:46] huangjun12 commented on #36786
方便贴一下，train_loader以及对应Dataset的实现代码吗

[2021-10-27 09:58] ttjygbtj commented on #36786
**dataset**
[code]
**dataloader**
[code]
** train_loader**
[code]

[2021-10-27 09:59] huangwan-jiayi commented on #36705
![image](https://user-images.githubusercontent.com/71338215/139043799-da57a222-362f-4fb2-b847-b77fb0747823.png)
![image](https://user-images.githubusercontent.com/71338215/139043840-d0ddcdb9-1363-421c-b162-d161ce4c722f.png)
![image](https://user-images.githubusercontent.com/71338215/139044192-57fe3bc2-3f0d-4568-964c-5ecd62e2d94b.png)
val.py改了报错，另外export.py文件中无quant_model = quantizer.quantize(model

[2021-10-27 10:11] Ligoml commented on #36787
您好，感谢反馈，稀疏张量的需求我们已在调研，相关 pm 同学随后会联系您了解下具体情况 ~
同 #36697

[2021-10-27 10:14] pooruss opened #36788 "【菁英计划】论文45-无法下载作者提供的resnet50预训练文件"
老师您好，请问论文45参考代码中使用了resnet50预训练[https://hangzh.s3.amazonaws.com/encoding/models/resnet50-25c4b509.zip](url)但无法下载，github上也有人提了issue尚未解决。使用torch官方提供的r50预训练权重转成paddle已完成各个步骤对齐（前向、损失函数、学习率、优化器、反向）。
      后进行训练，对比原代码的训练log中，第十个epoch的loss已经0.5，m IoU为0.561，我们的loss是0.9，mIoU为0.40。往后训练发现精度停在50。请问这个有可能是因为预训练不一样的关系吗？

[2021-10-27 10:28] pokemonjs opened #36789 "Paddle2.0 Dataset构建数据集 建议补充图像分割的数据增强方式示例"
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如2.1.1
2）CPU/GPU：GPU
3）系统环境：Studio Notebook

用Paddle2.0 DataSet API构建数据集的时候，数据增强这块官方只给出了分类的示例，仅对图像进行增强，如果在分割任务中，需要对标签同步增强应该怎么做呢？（比如和图片同步水平竖直翻转），使用了
`self.transform=Compose([RandomVerticalFlip(0.25),RandomHorizontalFlip(0.25)])
image=self.transform(image)
label=self.transform(label).astype(np.int64)`
这种形式，发现有时候图像和标签的增强没有同步，即一个进行了翻转另一个没有翻转，能否补充这块的示例？谢谢！

[2021-10-27 10:53] wangna11BD commented on #36785
给一下BUG复现步骤吧

[2021-10-27 11:13] xiaomujiang opened #36792 "安装paddlepaddle后，预测报错"
ubuntu18  T4显卡 cuda10.2 cudnn 7.6  python3.6.9
python -m pip install paddlepaddle-gpu -i https://mirror.baidu.com/pypi/simple 安装后显示成功
paddlehub                              2.1.1
paddlenlp                               2.1.1
paddlepaddle-gpu                  2.1.3
使用paddlehub 进行预测
 object_detector = hub.Module(name="yolov3_darknet53_coco2017")
frame_start= cv2.imread('real_see.jpg')
 results = obj

[2021-10-27 11:45] juncaipeng commented on #36705
这个问题本机没有复现，估计还是安装没正确。
PaddleSlim reset到那个commit id后，可以看到PaddleSlim/paddleslim/dygraph/quant/qat.py文件中的QAT如下，quantize函数有inplace参数。
![image](https://user-images.githubusercontent.com/52520497/139058860-8bb6b570-0ecb-4ea0-9230-2723660d452c.png)

你先卸载PaddleSlim，删掉PaddleSlim目录下的build 和dist目录，再次执行 python setup.py install，估计是安装了原先版本。

[2021-10-27 12:53] huangwan-jiayi commented on #36705
重新按着
![image](https://user-images.githubusercontent.com/71338215/139069257-1c6a2458-ccf5-4252-9b5a-e6a17bfabd7d.png)
安装了一下，还是报一样的错，会不会是paddleseg版本的问题？

[2021-10-27 13:02] mgoutelle opened #36801 "Compiled version of Paddle doesn't work with Ubuntu 21.10"
**System information**
- PaddlePaddle version : 2.1.3
- CPU: Intel(R) Core(TM) i5-10500H
- GPU: not relevant
- OS Platform : Ubuntu 21.10
- Python version : 3.9
- Install method: pip install

Paddle doesn't work anymore in the last stable version of Ubuntu (21.10). I didn't have any issue with the previous version (21.04). It seems the compiled version out of pypi misses a link to a dynamic librar

[2021-10-27 14:43] yghstill commented on #36705
@huangwan-jiayi 再试下直接设置PaddleSlim路径即可，不用安装：
[code]

[2021-10-27 15:04] huangwan-jiayi commented on #36705
![image](https://user-images.githubusercontent.com/71338215/139092817-1984cda1-74ad-4b3c-903b-98c68e03e731.png)
还是不行，另外我可以用pip uninstall 来删除已安装的paddleslim吗，或者我怎么删除，我直接去paddleslim文件夹下把build 和dist 删除了 就算我把环境中的paddleslim删除了？

[2021-10-27 15:23] yghstill commented on #36705
@huangwan-jiayi /path/to/PaddleSlim/ 是你PaddleSlim的存放路径，需要改成真实的路径哈，不要直接粘贴过去

[2021-10-27 16:37] pooruss opened #36806 "【菁英计划】torch.masked_fill函数"
老师您好，请问paddle有对应torch.masked_fill函数api吗，还是需要自己实现

[2021-10-28 00:06] wuyunxiangwyx opened #36810 "How to train model with bf16 data type"
I want to train ocr model with bf16 data type in Intel Xeon Server, now paddle can support it?

[2021-10-28 02:03] feelMySelfIsLouB opened #36811 "有没有判断两个人体动作相似度的方法呢？"
判断出关键点计算欧式距离或者余弦相似度什么的。paddle有没有相关功能呢

[2021-10-28 02:27] huangjun12 commented on #36770
https://github.com/PaddlePaddle/Paddle/blob/9516108a852dcc0f14fe787045cf0eb388f41b80/python/paddle/optimizer/optimizer.py#L107  可以参考这里

[2021-10-28 02:36] YLyeliang commented on #36718
我这也是相同的情况，用pytorch的话就能支持多核训练，你解决了吗这个问题。

[2021-10-28 02:43] huangwan-jiayi commented on #36705
谢谢，成功导出了量化后的模型，可是量化后的模型C++部署在jetson nx上 推理速度反而慢了一点，之前试了裁剪，速度也是慢了

[2021-10-28 02:48] zhoucz97 opened #36815 "[菁英计划] 索引取值及gather函数"
-

[code]

pytorch可通过bool类型实现直接取值，如第二行，会把slot_logits中所有为True的位置的向量取出来，False的扔掉。

但是如果`active_loss`不是布尔类型，而是int类型，如`[1,0,0,1,1,1]`，则会按顺序取下标为1的向量、下标为0的向量两次、下标为1的向量三次。

paddle可实现第二种情况，但不支持第一种bool取值的情况。我们只能用如下代码实现相同的功能：

[code]

同时，paddle和pytorch都没有numpy的argwhere功能。

paddle.gather中的参数index，不支持秩>1，我们在网上找到了代码实现，可以实现pytorch中的gather功能，代码如下：

[code]

[2021-10-28 03:00] oldpiao opened #36817 "【FT-2500编译错误】ARM架构编译安装时，make TARGET=ARMV8 -j$(nproc)步骤报错"
FT-2500编译错误，在执行make TARGET=ARMV8 -j$(nproc)步骤时，报错，报错原因貌似是访问GitHub连接超时，这样的问题该如何解决？
根据该连接提供的方法，在第9步时报错：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/compile/arm-compile.html

报错信息：
“”“
Scanning dependencies of target extern_gflags
Scanning dependencies of target copy_pybind_command
Scanning dependencies of target copy_paddle_inference_pass_command
Scanning depen

[2021-10-28 03:10] ttjygbtj opened #36819 "【菁英计划】训练后报库文件错误，一直刷屏，没有抛出异常终止"
训练后一直报错如下，都是库文件的错误，没显示源文件的错误，不知道要改什么，并且一直刷屏，没有抛出异常终止
[code]

[2021-10-28 04:01] JennyVanessa opened #36823 "【菁英计划】torchvision.utils.save_image&paddle.utils.save_image"
GAN训练时可视化图片会方便一些。
paddle.utils.save_image没有，还是有点麻烦的。
但是在ppgan里实现啦

[2021-10-28 04:10] liushanshan07 commented on #32921
求问这个问题最后解决了吗。可以分享下解决方法吗。我也遇到了相同问题。

[2021-10-28 04:22] S-HuaBomb opened #36824 "【菁英计划】AI Studio 能否选择 python3.8 及以上版本"
- 标题：论文复现第 11 篇，COOT: Cooperative Hierarchical Transformer for Video-Text Representation Learning
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.0rc
    4）Python版本号：3.7

- 复现信息：在 AI Studio 上运行 paddle 版代码：[https://github.com/ImportPaddle/coot-vieotext-paddle](https://github.com/ImportPaddle/coot-vieotext-paddle)
- 问题描述：需要 python 3.8 及以上，但是 AI Studio 只能选择 python 3.7，会出现语法错误如下：

[code]

[2021-10-28 05:20] Lnstree commented on #36451
重新测试下， 如果测试文件引入paddlehub， loader就不能正常结束。 注释掉import paddlehub就没问题。
paddlehub 版本 2.1.1
paddlepaddle 2.1.3

[code]

[2021-10-28 05:37] esythan commented on #36774
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。

[2021-10-28 06:06] morgan-bc commented on #36718
@YLyeliang 没有

[2021-10-28 06:43] wupaopao123 opened #36828 "安装最新版paddlepaddle-gpu2.1.3报错：module 'paddle' has no attribute 'enable_static'"
安装的paddle版本：addlepaddle-gpu2.1.3
服务器： NVIDIA-SMI 470.57.02    Driver Version: 470.57.02    CUDA Version: 11.4
安装命令：python -m pip install paddlepaddle-gpu==2.1.3.post112 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html

**最开始报错：**

Traceback (most recent call last):
  File "/raid/ly2/programming/project1/02_bilstm_crf/process_data.py", line 79, in <module>
    _test_jieba_dl_cut()

[2021-10-28 07:06] WenmuZhou commented on #36806
目前没有这个api，可以使用a[mask==1] = 1这种形式来实现

[2021-10-28 07:08] Ligoml commented on #36806
同学你好，建议用paddle.where替代哈，暂时不会列入我们的新增计划中~

[2021-10-28 07:24] ttjygbtj commented on #36786
新的报错
[code]

[2021-10-28 09:05] huangjun12 commented on #36786
[code]

不组RetrievalDataBatchTuple对象，直接return可以

[2021-10-28 09:06] huangjun12 commented on #36819
num_works设为0之后，可以查看具体报错信息

[2021-10-28 09:06] huangjun12 commented on #36824
将个别语法转成Python3.7的写法即可

[2021-10-28 09:09] #36824 closed, assigned to nobody

[2021-10-28 09:23] jelly2187 commented on #35940
【队名】：Rob_paddle

【序号】：45

【状态】：报名

【链接】：https://github.com/ZS-Yan/PaddleTest

[2021-10-28 09:24] weekstudy opened #36832 "请问paddle支持m1pro芯片安装吗？"
![image](https://user-images.githubusercontent.com/39413303/139227663-8142b3ae-9fd1-4f6b-862c-f3c9cdc6e1be.png)
在使用mini-forge 下的Python安装时，安装成功但是无法导入，请问这是为什么？请问有什么解决方法吗

[2021-10-28 09:31] rainyBJ opened #36833 "loss反向传播时网络最后一层的偏置梯度一直保持不变"
https://github.com/rainyBJ/fast-transformer-paddle 问题部分

[2021-10-28 09:41] pangyoki commented on #35658
你好，这个PR已经解决了该问题：PR https://github.com/PaddlePaddle/Paddle/pull/34309
可以使用最新的paddle试试。

[2021-10-28 10:11] #36832 closed, assigned to nobody

[2021-10-28 10:58] helen88 opened #36840 "有没有 LoDTensor和SelectedRows 相互转换的接口吗"
场景：
    需要在自己的芯片上开发一个能支持sparse矩阵的adam。当grad_var是SelectedRows的时候，需要对param（传入是LoDTensor类型）进行转化，方便拿到里面的value，SelectedRows里的value是tensor的，然后转换下shape，就能复用我原来的算子。

想问下 paddle有提供了这样的api接口吗

[2021-10-28 11:27] zmdcs opened #36841 "为什么明明设置了gpu可是运行时GPU的占用率为0？"
![image](https://user-images.githubusercontent.com/40875421/139247028-a2a63cc0-0cd3-4617-8efb-319a4c7ff6d4.png)

[2021-10-28 12:42] gsq7474741 commented on #35940
【队名】：PeachML

【序号】：4

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36843

[2021-10-28 13:03] esythan commented on #36801
Paddle currently only supported Ubuntu16.04 and Ubuntu18.04
Refer to for more details：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/compile/linux-compile.html

[2021-10-28 13:48] iverxin commented on #35940
【队名】：Sesame Street
【序号】：34
【状态】：提交
【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/288

[2021-10-28 18:12] TJJTJJTJJ commented on #33404
所以现在还是没有办法解决cudnn的搜索路径问题吗？

[2021-10-28 18:13] TJJTJJTJJ commented on #33404
@lytning98  通过conda install的方法，paddlepaddle-gpu 哪个版本修复了呢

[2021-10-29 02:19] Brandonnogithub opened #36848 "FLAGS_gpu_memory_limit_mb not work"
I am using paddleocr. Even if I set FLAGS_gpu_memory_limit_mb as 8000, the model will still use more than 8000 memory.

If I don't limit the memory, your model will cover more and more memory when doing predicting

I really hope you can provide a pytorch version. Paddle is hard to use.

[2021-10-29 03:21] lytning98 commented on #33404
请参考社区开发者的回复，我只是普通用户目前已不再使用 paddlepaddle

[2021-10-29 03:21] #33404 closed, assigned to heavengate

[2021-10-29 06:40] cxxly commented on #36687
您好，请问问题是否解决，解决辛苦close issue

[2021-10-29 07:05] renmada commented on #36303
我也遇到也batchnorm没梯度的问题

[2021-10-29 07:11] zmdcs commented on #35666
我使用的是PaddleDetection的最新版本。然后用的是AIStudio都是单卡环境，一千三百张图片系统就会溢出崩溃，我觉得运行速度已经很慢了，为什么呢，还得调低batch size吗？

[2021-10-29 07:12] #35444 closed, assigned to wanghaoshuang, gongweibao

[2021-10-29 07:12] #34793 closed, assigned to yaoxuefeng6

[2021-10-29 07:13] #34361 closed, assigned to heavengate

[2021-10-29 07:33] wangxinxin08 commented on #35666
可以发下溢出崩溃的截图，是显存溢出还是其他？

[2021-10-29 08:05] zmdcs commented on #35666
你好，是显存溢出，而且重启项目后CPU和GPU占用率仍然为100%，请问有办法解决吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月29日(星期五) 下午3:33
***@***.***&gt;;
***@

[2021-10-29 08:08] zmdcs commented on #35666
不好意思，崩溃之后我叉掉了，之后再崩溃，我再截图给您吧，最近我在issue里的提问没人回答了，请问是你们内部有什么调整吗？关于训练的问题，应该是在这边提问吧？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月2

[2021-10-29 08:13] wangxinxin08 commented on #35666
PaddleDetection的问题可以到PaddleDetectionde issue下提问，重启后显存没有释放的话，可以联系AI studio解决

[2021-10-29 08:14] zmdcs commented on #35666
AIStudio如何联系呢？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月29日(星期五) 下午4:13
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&n

[2021-10-29 08:16] #36681 closed, assigned to nobody

[2021-10-29 08:18] wangxinxin08 commented on #35666
可以加入通过QQ群580959619 与AI studio联系，如果QQ群应答不及时，你可以发送邮件到 aistudio@baidu.com反馈你的问题

[2021-10-29 08:27] zmdcs commented on #35666
好的，谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月29日(星期五) 下午4:19
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [

[2021-10-29 09:58] peachlcy commented on #35940
【队名】：treetree
【序号】：86
【状态】：报名
【链接】：https://github.com/peachlcy/openvino

[2021-10-29 09:59] peachlcy commented on #35940
【队名】：treetree
【序号】：87
【状态】：报名
【链接】：https://github.com/peachlcy/openvino

[2021-10-29 12:03] mgoutelle commented on #36801
Hello,
That's unfortunate. I didn't notice that when I installed Paddle on 20.04 and even when I switched to 21.04. Only recently I have to face this issue.
Do you have any long-term calendar on the upcoming versions of Ubuntu ?

[2021-10-29 12:09] gsq7474741 commented on #35940
【队名】：PeachML

【序号】：88

【状态】：报名

【链接】：https://github.com/7474741/openvino

[2021-10-29 12:09] gsq7474741 commented on #35940
【队名】：PeachML

【序号】：89

【状态】：报名

【链接】：https://github.com/7474741/openvino

[2021-10-29 15:37] jelly2187 commented on #35940
【队名】：Rob_paddle

【序号】：45

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/291

[2021-10-29 16:24] qdd1234 opened #36868 "loss反向传播出错"
您好，可以帮忙看一下报错吗，反向传播的时候出错了，这是什么原因导致的？
![$8%`T_}469((G3R_ONQIGBP](https://user-images.githubusercontent.com/68497831/139469588-fcb3d25e-c9b5-46f9-886f-29dbc774d133.png)

[2021-10-30 01:39] guguguzi opened #36870 "【菁英计划】paddle有类似MultiplicativeLR的api吗？"
版本、环境信息：
   PaddlePaddle版本：2.1.2

paddle内没有找到torch.optim.lr_scheduler.MultiplicativeLR()功能api

[2021-10-30 03:12] 27182812 opened #36872 "[菁英计划]PyTorch-PaddlePaddle API映射表文档问题-所有版本"
### 文档问题描述：
paddle.split和torch.split功能不一致
torch.split第二个参数split_size_or_sections为int时，指的是单个块的大小
paddle.split第二个参数num_or_sections 为int时，指的是Tensor平均划分为相同大小子Tensor的数量
功能并不一致，文档描述具有误导性质。

![image](https://user-images.githubusercontent.com/33630730/139518310-2da0e4e4-8b94-4ecc-bdea-51c78261f3c0.png)

[2021-10-30 03:28] outman2008 opened #36873 "同样的模型(静态图)在cpu下第一次预测很慢(10秒以上)"
代码段：
with paddle.no_grad():
print('speedyspeech_inference begin', datetime.datetime.now())
mel = speedyspeech_inference(part_phone_ids, part_tone_ids)
print('pwg_inference begin', datetime.datetime.now())
temp_wav = pwg_inference(mel)
print('pwg_inference end', datetime.datetime.now())

输出：
phone_ids [Tensor(shape=[33], dtype=int64, place=CPUPlace, stop_gradient=True,
[47, 3 , 49, 51, 58, 73, 5 ,

[2021-10-30 04:03] S-HuaBomb opened #36874 "【菁英计划】paddle2.2.0rc 版的优化器 Adam optimizer 如何使用 param_groups"
- 标题：第 11 篇 COOT: Cooperative Hierarchical Transformer for Video-Text Representation Learning
- 版本、环境信息：
    1）PaddlePaddle版本：paddle2.2rc

- 训练信息
    1）notebook 单机

- 复现信息：repo：https://github.com/ImportPaddle/coot-vieotext-paddle
- 问题描述：查看paddle optimizer源码，似乎可以调用 `optimizer._param_groups`  来设置 param_groups 优化方案，相应的优化器初始化的parameters参数也可以接收 [dict,...] 类型的模型参数，但是parameters参数报错了：

  - 报错paddle 代码位置：

[2021-10-30 10:12] kuizhiqing commented on #36873
感谢反馈，正常情况下第一次调用预测接口时会有一些初始化流程，后续调用无初始化流程会快很多，这种情况是符合预期的。如果不符合这样的情况请提供详细对比条件和期望的结果以进一步分析。

[2021-10-30 10:40] HaitaoWuTJU opened #36875 "【菁英计划】ai studio 安装不了paddleseg"
pip install paddleseg -t /home/aistudio/external-libraries
一直卡住，很久之后，提示不支持第三方torch
只能pip install paddleseg

Building wheel for opencv-python (PEP 517) ... |

[2021-10-30 13:46] skywalk163 opened #36876 "鲲鹏920编译安装飞桨2.1报错：‘kDLBfloat’ was not declared in this scope"
- 版本、环境信息：
    1）PaddlePaddle版本：飞桨2.1 develop 版本
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
鹏城实验室的鲲鹏920
lscpu
Architecture:        aarch64
Byte Order:          Little Endian
CPU(s):              2
On-line CPU(s) list: 0,1
Thread(s) per core:  1
Core(s) per socket:  2
Socket(s):           1
NUMA node(s):        1
Vendor ID:           0x48
Model:               0
Stepping:            0x1
BogoMI

[2021-10-30 18:43] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：39

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/292

[2021-10-31 02:40] ttjygbtj opened #36877 "【菁英计划】11篇paddle2.2用不了paddle.ones([1,2])导致环境崩了重装连2.1也用不了paddle.ones([1,2])了心累了"
Python 3.8.0 (default, Nov  6 2019, 21:49:08)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

p>>> paddle.__version__
'2.1.3'

W1031 10:37:13.557996 24823 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.2, Runtime API Version: 10.2
W1031 10:37:13.558190 24823 dynamic_loader.cc:267] The

[2021-10-31 02:54] ttjygbtj commented on #36877
要记得安装这个cudatoolkit，官网用pip的安装方式是没有安装这个的，要注意

[2021-10-31 03:15] 632652101 opened #36878 "【菁英计划】Maxpool 层影响复现精度问题。"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.3
- 训练信息
    1）CPU环境
- 复现信息：详细代码在repo https://github.com/632652101/MaxpoolReprodIssue  下。
- 问题描述：
第27篇文章，Deep Inside Convolutional Networks: Visualising Image Classification Models and Saliency Maps 提

[2021-10-31 03:40] skywalk163 commented on #36876
同一台机器，使用python3.6.9编译是ok的。

[2021-10-31 07:24] S-HuaBomb opened #36879 "【菁英计划】paddle 中有没有 torch.nn.HingeEmbeddingLoss 的实现或者替代品"
- 标题：第 55 篇 Learning to Discover Cross-Domain Relations with Generative Adversarial Networks
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2

- 复现信息：repo：https://github.com/ImportPaddle/DiscoGAN-Paddle
- 问题描述：paddle 没有 HingeEmbeddingLoss

torch 代码位置：[feat_criterion = nn.HingeEmbeddingLoss()](https://github.com/SKTBrain/DiscoGAN/blob/f0441787752c566dcc32642468f44d5e2f30b0a6/discogan/image_translation.py#L167

[2021-10-31 09:54] Ligoml commented on #36872
感谢指出，文档团队会重新检查映射表并及时修改可能会引起误导的内容~

[2021-10-31 10:11] yanchunyu71 opened #36881 "【菁英计划】论文58复现中的Embedding问题"
# 论文题目：K-BERT: Enabling Language Representation with Knowledge Graph
error位置：

## 在step2的对齐中，真实数据src经过embedding层后，torch和paddle的输出不同

## 在step1的模型对齐中，使用假数据fake_data输入embedding层后，torch和paddle的输出相同

已经载入embedding权重，并打印权重显示相同

在paddle中的embedding层定义
<img width="914" alt="截屏2021-10-31 下午6 00 58" src="https://user-images.githubusercontent.com/62750472/139577405-d903ce67-cd32-4049-9ead-5bb47cfb5d15.png">

[2021-10-31 10:16] JennyVanessa opened #36882 "【菁英计划】pack_padded_sequence&pad_packed_sequence"
在复现nlp相关任务时，这两个基础算子pack_padded_sequence&pad_packed_sequence没有实现。

[2021-10-31 10:18] JennyVanessa opened #36883 "【菁英计划】Paddle的Tensor"
paddle的tensor不支持复杂的切片操作，什么时候优化呀，转成numpy操作后再转回paddle容易炸显存QAQ

[2021-10-31 11:05] buriedms opened #36884 "【菁英计划】aistudio上传脚本任务显示不能够传递训练参数"
在单机四卡是训练显示传递不了参数，但是在notebook终端当中可以正常运行，显示如下日志。
![image](https://user-images.githubusercontent.com/55041393/139579848-42951ff0-1aab-4061-845c-23e6e53d8cee.png)

[2021-10-31 12:22] skywalk163 commented on #36876
现在用python3.8编译也过了。
关闭。

[2021-10-31 12:22] #36876 closed, assigned to kuizhiqing

[2021-10-31 15:18] buriedms opened #36885 "【菁英计划】脚本任务unzip指令不能解压数据集显示con't find or open"
日志显示问题：
unzip:  cannot find or open /root/paddlejob/workspace/train_data/datasets/data114496/old2life.zip
, /root/paddlejob/workspace/train_data/datasets/data114496/old2life.zip
.zip or /root/paddlejob/workspace/train_data/datasets/data114496/old2life.zip
.ZIP.

以下为我的代码指令：
SRC_DIR=/root/paddlejob/workspace/train_data/datasets/data114496/old2life.zip
TO_DIR=/root/paddlejob/workspace/train_data/data

[2021-11-01 01:39] huilin16 opened #36886 "请问如何进行值批量映射"
我想修改onehot的编码方式，比如class=5时，将1编码为 1,0.5,0,0,0；将2编码为0.5,1,0.5,0,0。

我定义了从1到n的修改后的编码结果的字典，请问应该如何实现类似于paddle.nn.functional.one_hot一样的批量映射。我只会for循环，但这样太慢了，请问是否有快一些的方法，比如像np.vectorize之类

[2021-11-01 02:49] ttjygbtj opened #36887 "【菁英计划】论文11：循环遍历多个h5进行读取，加break后变为静态图"
dataloader循环遍历多个h5进行读取，加break后变为静态图?
报错1：
[code]
报错2：
[code]

[code]

[2021-11-01 02:56] limited-sky-3Q3q opened #36889 "使用matmul()引发segment fault"
- 版本、环境信息：
    Paddle version: 2.0.2
    Paddle With CUDA: True
    OS: Ubuntu 18.04
    Python version: 3.6.9
    CUDA version: 0.2.1221(nvidia-smi cuda: 11.4)
    cuDNN version: None.None.None
    Nvidia driver version: 470.63.01

运行paddle.matmul()文档中的演示代码，发现tensor维度变化时可能会引发segment fault，测试时发现，当两个tensor维度都大于2的情况下会发生错误。

报错代码：
[code]

输出和报错信息：
[code]

[2021-11-01 03:19] zlwangustc opened #36893 "【菁英计划】 论文61 飞桨是否有类似pytorch的数据封装 _ntuple()"
### Describe the problem：
飞桨是否有类似pytorch的数据封装 _ntuple()
_single = _ntuple(1)
_pair = _ntuple(2)
_triple = _ntuple(3)
_quadruple = _ntuple(4)

def _ntuple(n):
    def parse(x):
        if isinstance(x, container_abcs.Iterable):
            return x
        return tuple(repeat(x, n))
    return parse

[2021-11-01 03:59] WangChen0902 opened #36895 "【菁英计划】单机多卡训练时backward出错"
在进行多卡训练的时候，出现如下问题：

Traceback (most recent call last):
  File "/opt/_internal/cpython-3.7.0/lib/python3.7/site-packages/paddle/distributed/spawn.py", line 261, in _func_wrapper
    result = func(*args)
  File "/root/paddlejob/workspace/code/code/main.py", line 73, in mul_train
    algo.train(dataloader, cfg.STAGE)
  File "/mnt/code_20211101090203/code/trainer.py", line 186, in train
    errD.backw

[2021-11-01 04:00] WangChen0902 commented on #36895
经过排查，有变量有时会参与反向传播，有时不会参与反向传播，这种情况下需要设置DataParallel的find_unused_parameters = True，问题解决

[2021-11-01 04:29] yingyibiao commented on #36881
如微信沟通，该问题为代码里权重加载逻辑不一致而导致～

[2021-11-01 05:05] Essence9999 opened #36896 "背景占比大，导致银行卡检测识别；手动裁剪出单独的银行卡图片，识别成功"
自己Finetune的卡号检测模型，因为背景占比大，导致银行卡检测识别；手动裁剪出单独的银行卡图片，识别成功
剪裁前
![image](https://user-images.githubusercontent.com/66725845/139618943-b7e2f41b-0a64-4cd2-ae87-7bf0f966f3de.png)
剪裁后
![2](https://user-images.githubusercontent.com/66725845/139619444-45aca964-89dd-4128-b4db-47641819abe9.png)

有什么办法可以识别剪裁前的图片吗

[2021-11-01 05:06] Essence9999 opened #36897 "图片尺寸小于736，但图片清晰，卡号识别失败"
![image](https://user-images.githubusercontent.com/66725845/139615886-93026ada-2112-40f3-8bbc-035af5a813ea.png)
268*201
自己finetune的检测模型，正常大小的图片是可以的
有没有类似det_max_side_len这样的参数，图片小于736，会自动同比例放大到736

[2021-11-01 05:12] vcowwy opened #36898 "【菁英计划】实现库einops的类Rearrange报错"
论文复现，第62篇论文《CvT: Introducing Convolutions to Vision Transformers》

参考的github repo在models/cls_cvt.py中引入了einops库，使用了该库的函数rearrang进行数据重排，在模型的层里面使用了类Rearrange。使用paddle实现该类，前向报错。

![WechatIMG53](https://user-images.githubusercontent.com/38393385/139624573-a818a877-2deb-43f9-a009-8e08e193a006.png)

github项目链接：https://github.com/vcowwy/CvT_paddle

[2021-11-01 05:31] littletomatodonkey commented on #36898
看着不是rearrange模块的报错，可以再看下具体的python栈信息报错

[code]

[2021-11-01 05:40] outman2008 commented on #36873
10多秒也是符合预期的哦？

[2021-11-01 05:40] sljlp commented on #36897
你好，不太清楚你的意思
据我理解，你可以使用图片的预处理接口，对图像进行缩放

[2021-11-01 05:42] sljlp commented on #36896
建议你设计一个更为鲁棒的算法，准备相应的数据集，训练一个更为鲁棒的模型

[2021-11-01 05:53] kuizhiqing commented on #36873
符合预期的，具体可能还会随模型不同、机器资源空闲有差异。
具体使用过程中建议使用预加载的方式优化正常流程中的时间占用。

[2021-11-01 06:02] peachlcy commented on #35940
【队名】：Ppp

【序号】：90

【状态】：报名

【链接】：https://github.com/peachlcy/openvino

[2021-11-01 06:03] gsq7474742 commented on #35940
【队名】：rm-rf -a

【序号】：90

【状态】：报名

【链接】：https://github.com/gsq7474742/openvino

[2021-11-01 06:03] gsq7474742 commented on #35940
【队名】：rm-rf -a

【序号】：91

【状态】：报名

【链接】：https://github.com/gsq7474742/openvino

[2021-11-01 06:03] gsq7474742 commented on #35940
【队名】：rm-rf -a

【序号】：92

【状态】：报名

【链接】：https://github.com/gsq7474742/openvino

[2021-11-01 06:19] wangye707 commented on #36289
TensorRT的动态shape没打开，参考https://paddleinference.paddlepaddle.org.cn/api_reference/python_api_doc/Config/GPUConfig.html#tensorrt。或者采用ocr官方案例:https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.3/deploy/cpp_infer。

[2021-11-01 06:20] Essence9999 commented on #36897
你好，能定位paddleocr那个程序吗？新手，谢谢大佬

[2021-11-01 06:35] wangye707 commented on #36742
@odidev arm的paddlepaddle-gpu版本是指jetson系统的吗？在这里下载：https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/docs/user_guides/download_lib.md

[2021-11-01 06:35] zhoucz97 opened #36901 "【菁英计划76篇】傅里叶转换相关函数"
paddle是否有torch.fft.fft， torch.fft.fftn等变速傅里叶变换相关的函数，不用这些函数无法复现论文模型结构。

[2021-11-01 06:38] zhoucz97 commented on #36901
找到啦

[2021-11-01 06:52] heavengate commented on #36887
你好，变成静态图是什么意思呢，你有设置`paddle.enable_static`之类的么，没有设置的话默认应该是动态图的

[2021-11-01 06:56] WangChen0902 commented on #36895
论文号68，设置find_unused_parameters = True后，又复现了这个问题，问题还没有解决

[2021-11-01 07:11] rainyBJ opened #36902 "多维Tensor梯度属性无法传播【菁英计划 Relaxed Transformer Decoder】"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2021-11-01 07:23] pollyyan commented on #36848
您好，请问您使用的是ocr的哪个模型，使用的具体指令和配置文件可以贴一下吗～

[2021-11-01 07:25] pollyyan commented on #36848
Hello, which model of ocr are you using, can you post the specific instructions and configuration files used~

[2021-11-01 07:30] odidev commented on #36742
Is there any plan for releasing AArch64 wheels on PyPI. It will be visible to pip then.

[2021-11-01 07:45] XieYunshen commented on #36875
升级pip试一下？
`pip install --upgrade pip`

[2021-11-01 07:51] #36901 closed, assigned to nobody

[2021-11-01 07:59] #36898 closed, assigned to nobody

[2021-11-01 07:59] wjj19950828 commented on #36872
感谢您的反馈～目前PaddlePaddle API映射表文档关于split相关问题已经更新，相关PR:https://github.com/PaddlePaddle/X2Paddle/pull/694

[2021-11-01 08:09] yingyibiao commented on #36882
关于pack_padded_sequence 和 pad_packed_sequence这两个算子缺失的问题，大家可以直接在rnn或者lstm的输入中传入sequence_length实现等价的功能。

[2021-11-01 08:10] wangna11BD commented on #36895
建议对模型内的子网络循环设置find_unused_parameters = True

[2021-11-01 08:12] wangna11BD commented on #36885
更换文件名，重新启动AIstudio脚本任务后解决

[2021-11-01 08:13] jerrywgz commented on #36893
这个属于torch内部使用的函数，作用是将输入转换成指定长度的tuple，paddle中有类似的函数封装可以参考 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/utils.py#L26，也可以自己通过python进行封装～

[2021-11-01 08:14] wangna11BD commented on #36884
将run.sh中模型的相关参数放到一行后解决

[2021-11-01 08:16] wangna11BD commented on #36879
paddle 中暂时没有nn.HingeEmbeddingLoss

[2021-11-01 08:23] #36872 closed, assigned to kuizhiqing

[2021-11-01 08:30] huangjun12 commented on #36887
使用的paddle版本是？建议升级下paddle版本

[2021-11-01 08:36] heavengate commented on #36786
[code]

第二个参数传错了，第二个参数是feed_list，不是batch_size

[2021-11-01 08:53] baoachun opened #36905 "The performance of the quantized model is worse than that of the fp32 model, and the performance is worse after opening mkldnn"
|  model       | mkldnn  | ir_optim  |  time(5117)  | time(6271)  |
|  ----  | ----  | ----  | ----  | ----  |
| raw_fp32  | on | on | 6.9  | 6.3 |
| raw_fp32  | off | on | 4.8  | 2.7 |
| raw_fp32  | on | off | 4.9 | 3.2 |
| raw_fp32  | off | off | 4.8 | 2.6 |
|                   |      |       |   |       |
| ding_fp32  | on | on | 6.7 | 4.1 |
| ding_fp32  | off | on | 4.8 | 2.6 |
| ding_fp32  |

[2021-11-01 08:58] Brandonnogithub commented on #36848
@pollyyan Hi, thanks for your reply.

This is my system info:

Paddle version: 2.1.3
Paddle With CUDA: True
OS: CentOS Linux 7
Python version: 3.8.10
CUDA version: 10.1.105
cuDNN version: None.None.None
Nvidia driver version: 440.95.01
****************************************

I am using V100-16G card.
The config is like:

[code]
****************************

The code is like:

[code]
************

[2021-11-01 09:10] huangjun12 commented on #36874
https://github.com/ImportPaddle/coot-vieotext-paddle/blob/0c8211825b4d1812ab6ddd8cd593e0f7a87d0668/pd-coot/nntrainer/models/model_manager_base.py#L154  这一行看起来多余了，上一行已经传入value值了。

param_groups的用法可以参考这里 https://github.com/PaddlePaddle/Paddle/blob/9516108a852dcc0f14fe787045cf0eb388f41b80/python/paddle/optimizer/optimizer.py#L107

[2021-11-01 09:13] Brandonnogithub commented on #36848
Actually I want to run two ocr instances in one card, so I limit the memory to 8000mb.

The problem is if I don't limit the memory, the memory usage of one instance will keep increasing. Finally it will take up all the memory. It seems that existing code will cause memory leak. In this case I can't initail another instance on this card.

I also tried to predict a batch of imgas in recognize_text f

[2021-11-01 09:47] esythan commented on #36801
At present, Paddle is not supported Ubuntu20.04 and above because gcc9 in the OS.
Now, Paddle needs gcc8, so you can install gcc8 yourself and Paddle should work normally.

[2021-11-01 10:14] oldfeecn commented on #36289
谢谢,我试试!
动态形状有开启,我最后在ocr_det.cpp 中开启 修改一下代码if (this->use_tensorrt_) config.SwitchIrOptim(false);开闭这个加速才可以正常运行

[2021-11-01 10:53] rainyfly commented on #36792
您好，这个Warning会出现这条信息的原因是该模型是早期PaddleHub版本下的实现，当时使用_initialize方法初始化模块，现在的模块一般使用init()方法初始化模块。该信息的出现并不影响模型的使用。
您使用了use_gpu=True, 请确保设置了环境变量CUDA_VISIBLE_DEVICES环境变量，如CUDA_VISIBLE_DEVICES=0 python test.py。
如果还有报错，请继续提供详细的报错栈消息。

[2021-11-01 11:05] lansehuo opened #36908 "飞腾S2500平台+K100加速卡编译paddlepaddle报错（cmake报错）"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】
    1）PaddlePaddle版本：2.1
    2）CPU：S2500
    3）XPU：K100
    4）系统环境：银河麒麟服务器版操作系统，版本信息——release V10（U1）/(Tercel)-arm64-Build02/20210729-GFB
                                                                         内核——4.19.90-25.2.v2101.gfb01.ky10.aarch64。
进行本地编译paddlepaddle(release/2.1)，在cmake时，报错信息如下：
$cmake .. -DPY_VERSION=3.

[2021-11-01 11:42] #36770 closed, assigned to nobody

[2021-11-01 11:43] #36819 closed, assigned to nobody

[2021-11-01 12:36] huangjun12 commented on #36877
如果遇到较多的环境问题，可以使用docker安装，里面的环境依赖均已配置好
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[2021-11-01 12:36] yingyibiao commented on #36870
可以参考这里：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/ops/optimizer/adamwdl.py

[2021-11-01 13:00] huangjun12 commented on #36902
[code]

输出日志：
[code]

paddle与pytorch行为不一致，stop_gradient属性不会传递

[2021-11-01 13:15] zhoucz97 opened #36915 "[菁英计划47题]优化器问题"
给模型的每一层都设置不同的学习率，这个功能需要手动设置模型参数列表，然后将参数列表传入优化器，paddle2.1貌似不支持，paddle2.2支持，但是我们用了之后模型收敛速度极慢，且效果不好。
比如下面这样的设置：
[code]

[2021-11-01 14:44] HaitaoWuTJU opened #36919 "param.requires_grad = False"
for param in self.feature_network.parameters():
            # print('----------------')
            # param.requires_grad = False 不报错
            param.trainable = False

[2021-11-01 14:47] HaitaoWuTJU opened #36920 "AvgPool2D"
paadle的AvgPool2D的exclusive参数默认与torch相反，对齐模型的坑
nn.AvgPool2D(exclusive=False,kernel_size=3, stride=2, padding=1)

[2021-11-01 14:49] HaitaoWuTJU opened #36921 "内存不断增大，爆掉显存"
def extract_features(self,
                         input,
                         feature_layers=None):

        if feature_layers is None:
            feature_layers = ['14', '24', '34', '43']
        features = []
        result = input
        for (key, module) in self.feature_network.features._sub_layers.items():  # todo  _modules>_sub_layers
            result = module(result)
            i

[2021-11-01 18:03] kaminotesf commented on #35940
【队名】：咬了薛定谔的猫

【序号】：81

【状态】：报名

【链接】：https://github.com/kaminotesf/Quantum

[2021-11-02 01:14] FeixLiu commented on #36919
您好，麻烦您能提供一下更详细的问题描述么？

[2021-11-02 01:21] FeixLiu commented on #36920
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。

[2021-11-02 01:21] FeixLiu commented on #36921
您好，麻烦您能提供一下更详细的问题描述么？

[2021-11-02 02:17] TCChenlong commented on #36789
好的，非常感谢你的反馈，我们会尽快评估下需求~

[2021-11-02 02:42] anthonyyuan opened #36924 "GPU内存管理，我在用的时候确实有问题，而且也发现很多开发者也发现这个问题，你们的开发者应该用1000%的力量处理这个平台的GPU 管理"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2021-11-02 02:51] anthonyyuan commented on #36924
内存管理不可控制！！！！   PADDLE 2.1.3 。  用户无法控制预测循环后，内存的清除，内存一直缓慢上涨，

[2021-11-02 02:53] WorgenZhang commented on #36841
您好，报错信息需要复现代码，请您提供AIStudio的项目链接，我们复现后会尽快回复您～

[2021-11-02 02:55] sljlp commented on #36897
抱歉我对paddleocr不熟悉，你可以找一下检测程序的输入在哪里，在输入之前对图像进行缩放应该就可以

[2021-11-02 02:56] sljlp commented on #36889
请更新到最新版paddle，这个问题在新版paddle应该已经解决

[2021-11-02 03:03] FeixLiu commented on #36924
您好，可以先搜索一下之前的issue，出现过相关的问题。比如 https://github.com/PaddlePaddle/Paddle/issues/26345 这个issue，您可以参考里面的解决办法。
如果还是无法解决，方便提供一下复现的代码环境吗

[2021-11-02 03:11] WorgenZhang commented on #36840
您好，根据你提出的新需求，我们会进一步和您沟通下需求背景以及使用场景

[2021-11-02 03:19] zxxxxxxxin commented on #35164
请问这个加载了文档哪部分

[2021-11-02 03:43] WorgenZhang commented on #36828
您好，尝试将paddle.enable_static()放在import paddle的下面，而不是最下面

[2021-11-02 03:51] WorgenZhang commented on #36811
您好，余弦相似度计算请参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/functional/cosine_similarity_cn.html#cosine-similarity；

关于计算人体动作相似度请您提供更详细的说明，谢谢

[2021-11-02 03:59] chenwhql commented on #36883
2.2刚支持了一批切片操作，这里具体是什么操作呢？可以给个demo吗？

[2021-11-02 04:03] WorgenZhang commented on #36817
您好，有两个排查思路，1) 请确认您的cmake版本，较低cmake版本可能会导致github无法访问的问题  2) 请确认网络环境是否能顺畅访问github

[2021-11-02 05:37] feelMySelfIsLouB commented on #36811
好得 ，谢谢

[2021-11-02 06:18] Intsigstephon commented on #36810
Yes, Paddle provide amp function which can speed up the train process.  And in PaddleOCR, we also provide amp train. The document below may help you:  https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/01_paddle2.0_introduction/basic_concept/amp_cn.html

[2021-11-02 06:42] limited-sky-3Q3q commented on #36889
更新到最新版paddle后问题依然存在，之后再检查发现是cuda版本过低，更新cuda后即可正常使用

[2021-11-02 06:43] yanchunyu71 opened #36927 "【菁英计划】关于x2paddle中的预训练模型加载问题"
报错位置：
使用x2paddle加载resnet18的预训练模型出现错误
![WechatIMG15](https://user-images.githubusercontent.com/62750472/139798466-f1a9a841-3e00-4bdd-858c-de9822a8c2df.png)

[2021-11-02 06:51] yanchunyu71 opened #36928 "【菁英计划】paddle组合实现ToPILImage API的问题"
环境信息：paddlepaddle2.1.2
# 出错位置：super()函数
<img width="741" alt="截屏2021-11-02 下午2 48 17" src="https://user-images.githubusercontent.com/62750472/139799052-b4a82702-eb30-4cef-a58e-677fc43b8397.png">

[2021-11-02 06:57] #36882 closed, assigned to nobody

[2021-11-02 06:57] littletomatodonkey commented on #36928
你好，感谢反馈，该问题已经在该pr中修复：https://github.com/PaddlePaddle/X2Paddle/pull/690

[2021-11-02 06:57] #36928 closed, assigned to FeixLiu

[2021-11-02 06:58] littletomatodonkey commented on #36927
你好，感谢反馈，该问题已经在这个pr中修复：https://github.com/PaddlePaddle/X2Paddle/pull/684

[2021-11-02 06:58] #36927 closed, assigned to FeixLiu

[2021-11-02 06:59] JennyVanessa commented on #36883
和索引相关的，e.g. a[a>0]=1

[2021-11-02 06:59] #36883 closed, assigned to zyfncg, chenwhql

[2021-11-02 06:59] JennyVanessa commented on #36883
我们看看2.2 用的是2.0:)

[2021-11-02 07:00] #36823 closed, assigned to nobody

[2021-11-02 07:01] unseenme commented on #35940
【队名】：UnseenMe

【序号】：92

【状态】：提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/10

[2021-11-02 07:07] yanchunyu71 opened #36929 "【菁英计划】论文58复现，使用优化器参数列表传参的问题"
环境信息：paddlepaddle2.1.2

在torch的优化器初始化中，支持向优化器中传入参数列表，paddle2.1不支持此种传参方式

构建优化器参数列表

<img width="898" alt="截屏2021-11-02 下午3 04 25" src="https://user-images.githubusercontent.com/62750472/139800842-21f095d1-9797-4a26-9513-7e4544a03c8a.png">

初始化优化器

<img width="807" alt="截屏2021-11-02 下午3 05 13" src="https://user-images.githubusercontent.com/62750472/139800915-e55b5056-f23b-43d7-b9fa-93b09cb288df.png

[2021-11-02 07:44] zmh523262937 opened #36934 "昇腾环境编译PaddlePaddle报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：ascendrelease
    2）系统环境：昇腾 Centos7.4 , python 3.7

- 安装方式信息：
1）本地编译：
    cmake:cmake .. -DPY_VERSION=3 -DWITH_ASCEND=OFF -DPYTHON_EXECUTABLE=`which python3`  -DPYTHON_INCLUDE_DIR=`python3 -c "from distutils.sysconfig import

[2021-11-02 07:47] FeixLiu commented on #36934
您好，方便提供一下报错信息么？

[2021-11-02 07:56] FeixLiu commented on #36934
您好，您可以尝试一下关闭编译选项中的`DWITH_ASCEND_CXX11`: `-DWITH_ASCEND_CXX11=OFF`。如未能解决还请继续反馈，谢谢。

[2021-11-02 08:17] #36806 closed, assigned to nobody

[2021-11-02 09:26] jelly2187 commented on #35940
【队名】：Rob_paddle

【序号】：47

【状态】：报名

【链接】：https://github.com/ZS-Yan/PaddleTest

[2021-11-02 10:14] tianxin1860 commented on #36718
两个方法可以开启动态图CPU单机多进程DataParallel训练：

1. 首先如果是PaddlePaddle-CPU版本，那么 python -m paddle.distributed.launch --nproc_per_node=4 train.py 方式启动默认是 CPU 并行。也可以与2类似使用backend参数。

2. 如果是PaddlePaddle-GPU版本，那么 python -m paddle.distributed.launch --backend=gloo --nproc_per_node=4 train.py 就可以开启CPU并行训练。

更加具体的描述可以见PR：https://github.com/PaddlePaddle/Paddle/pull/35745

[2021-11-02 10:17] ttjygbtj opened #36939 "【菁英计划】lmdbDataset.__getitem__报错：Blocking queue is killed because the data reader raises an exception."
报错如下：
[code]
源代码：
[code]

[2021-11-02 10:32] morgan-bc commented on #36718
请问你这是哪个版本的 paddle . 在 PaddlePaddle-CPU(2.1.3) 中使用 `python -m paddle.distributed.launch --nproc_per_node=4 train.py` ，报错信息信息如下
[code]

如果使用 ` python -m paddle.distributed.launch --backend=gloo --nproc_per_node=4 train.py` 指定后端，结果也报错
[code]

[2021-11-02 10:38] sljlp commented on #36896
请尝试下PaddleDetection 先对银行卡区域进行识别，然后将区域裁剪，最后再进行文字识别

[2021-11-02 10:40] sljlp commented on #36921
你好，方便提供一下可复现问题的程序吗，我们排查一下问题

[2021-11-02 10:40] yt605155624 opened #36940 "长度为 1 的 Tensor 无法用 bool 取值"
[code]

[2021-11-02 10:41] sljlp commented on #36919
你好，请再详细描述下你的问题吧

[2021-11-02 10:42] sljlp commented on #36920
抱歉，这里的确是有所不同，我们正在调整

[2021-11-02 11:23] FeixLiu commented on #36940
对于temp的shape为[1]的时候，框架认为该variable是int/scalar，走了与shape不为1时不同的代码逻辑。是否会更新该逻辑使之支持您列出的问题，我们内部会安排评估，未来有计划尽快回复。

[2021-11-02 14:03] zlwangustc opened #36949 "【菁英计划】（第一组）关于paddle与pytorch矩阵相乘求和的误差问题"
进行如下计算
[code]
输入与输出的变量精度差距如下：
[code]
可以看出输出会在输入误差的基础上提升2个数量级，即便初始输入误差很小，经过多次迭代之后，输出误差会越来越大，造成两个框架的结果超出误差阈值。

[2021-11-02 16:27] gsq7474741 commented on #35940
【队名】：Rob_paddle

【序号】：36

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/301

[2021-11-02 16:28] gsq7474741 commented on #35940
【队名】：TreeML

【序号】：36

【状态】：报名&提交

【链接】：PaddlePaddle/PaddleTest#301

[2021-11-02 16:44] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：16

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36952

[2021-11-02 17:23] SmirnovKol commented on #35940
【队名】：yolo_20210310

【序号】：16

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36931

[2021-11-02 20:48] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：16

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36954

[2021-11-03 00:13] ttjygbtj opened #36955 "【菁英计划】#80 paddle2.2 python3.8 import reprod_log报错Can not import avx core while this file exists"
[code]
[code]

[2021-11-03 02:36] ftgreat opened #36956 "Paddle可以异步ps方式cpu使用么？"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2021-11-03 04:36] yghstill opened #36962 "Bert模型在Intel CPU上量化预测精度异常"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz
    3）GPU：-
    4）系统环境：ubuntu 16，Python 3.7

- 复现信息：如为报错，请给出复现环境、复现步骤
（1）得到离线量化后的模型后，使用附件中save_quant_model.py对量化模型进行转换和优化操作导出Intel CPU上可以使用的量化模型
（2）使用PaddleInference 部署量化模型：运行cpu_infer.py执行预测 （注意修改代码中设置的模型等路径），预测精度如下图，正确acc应该0.5以上，不符预期：
- 问题描述：我们在PaddlePaddle中适配支持Bert模型时，模型动转静后，再离

[2021-11-03 05:16] sljlp commented on #36886
你好，请看下embedding或者gather是否符合你的需求，如果还不行，那么目前还没有很好的解决办法

[2021-11-03 05:25] lidanqing-vv commented on #36962
@yghstill  收到

[2021-11-03 05:44] sljlp commented on #36908
你好，请把build目录删掉重新执行cmake
如果还不行，请升级paddle到最新版本

[2021-11-03 06:01] Ligoml commented on #36902
paddle 和 pytorch 在设计上并不完全一致，例如 demo 中的 paddle stop_gradient 和 torch requires_grad 含义就是相反的，因此这样的输出是符合期望的~

[2021-11-03 07:18] zhoucz97 commented on #36915
收敛速度很慢：不用的话100steps之内loss就降到0.几，用了之后1000steps以后loss还降不到1以内。并且最后的实验结果要比不用的版本低好几个点。
用了paddlenlp里的Adamwdl解决的。

[2021-11-03 07:43] henryccl opened #36963 "同样的代码win10可以运行（GPU版），AIstudio运行报错"
我在根据
https://aistudio.baidu.com/aistudio/projectdetail/1938423
![image](https://user-images.githubusercontent.com/44051761/140023513-6a5d85e8-8a83-49cf-8946-4cf470f1696f.png)
里面的流程，在不同的平台上调用swin transformer出了错。
一开始我在自己的win10笔记本上写好代码微调ppdet文件后运行，发现可以运行没有问题。
![image](https://user-images.githubusercontent.com/44051761/140023880-31da95e3-64f4-4ded-aca1-021363ca8d19.png)

随后我要把写好的代码放到AIstudio上运行时，却报出了如

[2021-11-03 07:54] henryccl commented on #36963
在这个问题中，我只是调用了ppdet中的SwinTranformer模型，然后使用一个tensor测试前向传播。在win10中可以运行，但是AIstudio不行，怎么会这样，我该怎么解决呢？
from ppdet.modeling.backbones import SwinTransformer

在官方发布的PaddleDetection中的ppdet模块中是没有这个swin transformer的backbone的实现的，该模块是aistudio中的一个用户写的， 但是调用该模块的目标检测项目是可以直接运行的（亲测可用，win10和aistudio都能运行，代码应该没问题）。

当我想把swin迁移到其他项目（语义分割）上时，这样写报错了，是我调用的姿势不对吗？？？
![image](https://user-images.githubusercontent.com/44051761

[2021-11-03 07:57] holyseven commented on #34293
[code]

  [Hint: Expected !context.Attr<bool>("is_test") == true, but received !context.Attr<bool>("is_test"):0 != true:1.] (at /paddle/paddle/fluid/operators/dropout_op.cu:63)

`Dropout` still has no gradients in `2.2.0-rc0`. When will this feature be supported?

[2021-11-03 08:07] henryccl commented on #36963
emmm   应该是我自己搞错了  在win10上有修改源码jiang将swin transformer中的forward中的x = x["image"]注释掉即可
![image](https://user-images.githubusercontent.com/44051761/140026481-e4a55266-5bb1-4c94-adb2-6e2803628750.png)

[2021-11-03 08:07] #36963 closed, assigned to nobody

[2021-11-03 09:48] spacegrass commented on #36455
OK

[2021-11-03 09:48] #36455 closed, assigned to yingyibiao

[2021-11-03 12:00] outman2008 commented on #36873
@kuizhiqing  你说的预加载是指？

[2021-11-03 12:18] zhaocaibei123 commented on #36956
可以的，详情可以参考fleetx文档
https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/parameter_server/ps_quick_start.html

\# 定义异步训练
dist_strategy = fleet.DistributedStrategy()
dist_strategy.a_sync = True

[2021-11-03 14:12] qdd1234 opened #36976 "scatter"
torch中Tensor.scatter 和 paddle中的scatter功能是不是一样呢，我看二者参数不一样
![image](https://user-images.githubusercontent.com/68497831/140076457-f8b8960e-e165-4772-9b1d-46fae6af264e.png)
![image](https://user-images.githubusercontent.com/68497831/140076510-3b9ac3b9-4d7f-414d-8317-386d1d2a374d.png)

[2021-11-03 14:36] Ainavo commented on #35940
【队名】：Cattidea
【序号】：98
【状态】：报名
【链接】：https://github.com/cattidea/PaTTA

[2021-11-03 15:58] wozna commented on #36962
@yghstill In the _cpu_infer.py_ file, the module `task_distill_zh` is called, which is not available. Where can I find it?

[2021-11-04 00:05] #25049 closed, assigned to zhiqiu

[2021-11-04 00:05] #27490 closed, assigned to nobody

[2021-11-04 00:05] #28240 closed, assigned to FrostML, zhwesky2010

[2021-11-04 00:05] #28256 closed, assigned to cryoco

[2021-11-04 00:05] #28282 closed, assigned to zhangting2020

[2021-11-04 00:05] #28304 closed, assigned to MrChengmo

[2021-11-04 00:05] #28321 closed, assigned to danleifeng

[2021-11-04 00:05] #28322 closed, assigned to danleifeng

[2021-11-04 00:05] #28324 closed, assigned to danleifeng

[2021-11-04 00:05] #28335 closed, assigned to ForFishes

[2021-11-04 00:05] #28375 closed, assigned to yaoxuefeng6

[2021-11-04 02:03] henryccl opened #36983 "Aistudio中的BML Codelab项目打包文件夹下载不下来"
Aistudio中的BML Codelab模式创建的项目，在下载文件时，文件大于100M时就下载不下来了，总是下载失败，有什么办法可以解决吗？
![image](https://user-images.githubusercontent.com/44051761/140244955-0198c610-f9c4-43ff-9c61-348caf833174.png)
![image](https://user-images.githubusercontent.com/44051761/140245000-1c2e307a-0431-4e77-872b-1f4905cd366f.png)

[2021-11-04 03:23] zhaocaibei123 commented on #36976
功能类似，但实现不一样，参数也不一样，建议参考文档使用：
paddle：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/scatter_cn.html
pytorch：https://pytorch.org/docs/stable/generated/torch.Tensor.scatter_.html#torch.Tensor.scatter_

[2021-11-04 03:58] wgwang opened #36986 "RSGD 的实现，但好像没有生效"
参考pytorch 版本的 rsgd： https://github.com/ibalazevic/multirelational-poincare/blob/master/rsgd.py
实现了paddle 版的 rsgd，但貌似没有生效
下面是代码

[code]

测试中，模型的所有参数都没有改变

[2021-11-04 06:18] lidanqing-vv commented on #36962
@wanghaoshuang
We can not reproduce the issue, error: ModuleNotFoundError: No module named 'task_distill_zh', could you please help? Thanks !

[code]

[2021-11-04 06:26] ZHUI commented on #36986
我这边尝试，看起来是可以的。
![image](https://user-images.githubusercontent.com/16911935/140267662-f6a5a739-b9f0-4f2a-a147-8d1a3c4a768e.png)
[code]

[2021-11-04 06:34] kuizhiqing commented on #36873
@outman2008

如果在业务流程中，可以考虑并行地加载模型，预先调用一次，相当于避免冷启动过程。

[2021-11-04 08:13] zmh523262937 commented on #36934
您好，谢谢答复，是需要重新cmake来指定选项吗

[2021-11-04 08:26] FeixLiu commented on #36934
是的

[2021-11-04 08:37] yghstill commented on #36962
@lidanqing-intel @wozna Please clone code from: https://github.com/LiuChiachi/PaddleNLP/tree/add-task-distill-zh

And enter the following directory and run cpu_infer.py: https://github.com/LiuChiachi/PaddleNLP/tree/add-task-distill-zh/examples/model_compression/test_chinese_distillation

[2021-11-04 08:40] wgwang opened #36992 "paddle.where 与 torch.where, numpy.where 行为不一致"
[code]

不知道 paddle 能够有什么办法可以实现类似 torch.where 的效果？
另外，建议在下一个版本中，升级一下 where 函数，是的其行为与 numpy、torch 等一致。

[2021-11-04 08:43] wgwang commented on #36992
另外，paddle 的 tensor 不支持 bool tensor 的索引
比如：

[code]

建议增加类似的 boolean tensor 索引的特性，以和 torch、numpy 相一致。
另：不知道 paddle 是否有类似的使用 boolean tensor 来索引的方法。

[2021-11-04 08:52] Ligoml commented on #36929
问题类似 https://github.com/PaddlePaddle/Paddle/issues/36915 后面在#36915沟通，此 issue 关闭

[2021-11-04 08:53] #36929 closed, assigned to FeixLiu

[2021-11-04 08:55] lidanqing-vv commented on #36962
@yghstill
I followed LiuChiachi's repo, but still, following link is not accessible for us from outside Baidu. `https://paddlenlp.bj.bcebos.com/models/transformers/community/./quant_models/vocab.txt`
[code]
wget also could not download it.
[code]
but wget could download this link
[code]
Any suggestion? Maybe consult paddlepaddle framework team, we had more conversation with them maybe they know ho

[2021-11-04 09:03] Ligoml commented on #36924
预测的时候，可以在预测代码前，加上 `with paddle.no_grad():` 然后进行预测试一下

[2021-11-04 09:15] yghstill commented on #36962
@lidanqing-intel Please modify `quant_models` to `tnewst_quant_models` in cpu_infer.py
![image](https://user-images.githubusercontent.com/15628872/140287982-d5d847c6-ecda-4bfe-9abd-dbcfa6fe92d0.png)

[2021-11-04 10:40] Ainavo commented on #35940
【队名】：Cattidea
【序号】：97
【状态】：报名
【链接】：https://github.com/cattidea/PaTTA

[2021-11-04 10:42] dwSun commented on #32067
我也碰到了这个问题，只在windows上出现了，同样的代码，在 linux/mac 下面没有出现。
我用的 unet，试了gpu/cpu 打开或者关闭mkl，都会出现这个问题，unet的模型是用 paddlex客户端训练的

[2021-11-04 10:51] wuhuachaocoding commented on #36983
您好，辛苦提供一下Aistudio的链接。

[2021-11-04 11:12] hxc24726 opened #36998 "operator.cc:187] elementwise_max raises an exception thrust::system::system_error, parallel_for failed: invalid configuration argument"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4 gpu
    3）GPU：2080Ti, cuda10.1, cudnn7.6
    4）系统环境：Ubuntu 16.04.4,  python3.7.5
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训练信息： 单卡训练
-
-报错信息：
W1104 19:03:37.945456 29266 operator.cc:187] elementwise_max raises an exception thrust::system::system_error, parallel_for failed: invalid configurati

[2021-11-04 12:11] hxc24726 commented on #36998
用gpu跑的时候报了上面这个错，换了用cpu跑之后报的错就能够看明白了，是reshape_op的时候前后容量不一致导致的

[2021-11-04 12:11] #36998 closed, assigned to wuhuachaocoding

[2021-11-04 14:37] heliqi commented on #32067
paddlepaddle 使用2.0+， 对应paddlex 需要升级到2.0。 如果paddlex 想使用1.x版本， paddle版本需要降到1.x(比如1.8.5)

[2021-11-05 01:24] anthonyyuan opened #37003 "OSError: (External) CUDA error(719), unspecified launch failure. [Hint: 'cudaErrorLaunchFailure'. An exception occurred on the device while executing a kernel. Common causes include dereferencing an invalid device pointerand accessing out of bounds shared memory. Less common cases can be system specific - more information about these cases canbe found in the system specific user guide. This leaves the process in an inconsistent state and any further CUDA work willreturn the same error. To continue using CUDA, the process must be terminated and relaunched.] (at /paddle/paddle/fluid/platform/gpu_info.cc:441)"
detector.get_detections_for_batch(
  File "/home/anthony/miniconda3/lib/python3.8/site-packages/ppgan-2.0.0-py3.8.egg/ppgan/faceutils/face_detection/api.py", line 73, in get_detections_for_batch
    detected_faces = self.face_detector.detect_from_batch(images.copy())
  File "/home/anthony/miniconda3/lib/python3.8/site-packages/ppgan-2.0.0-py3.8.egg/ppgan/faceutils/face_detection/detection/blazefac

[2021-11-05 01:44] outman2008 commented on #36873
你这是一个解决办法，但是最好还是能排查下是哪里的问题，
我提供的信息很全，还是希望尽量能把原因找到优化掉
在AI Studio 上同样的代码GPU秒过，CPU第一次执行等10多秒，第二次就很快了，
你看性能分析图主要是conv2d这一块耗时比较多

[2021-11-05 02:09] dwSun commented on #32067
我的问题，通过安装1.8.5 版本的 paddlepaddle 可以解决。

我的 paddlex 版本为 1.3.10

我使用的是 windows 的 GPU 版本

[2021-11-05 02:26] windstamp commented on #36992
这个需求在 develop 分支和 2.2-rc 版本中已经支持了，可以参考 [PaddlePaddle 2.2.0-rc0 Release Note](https://github.com/PaddlePaddle/Paddle/releases/tag/v2.2.0-rc0)。

同时，2.2 正式版本将于近期发布，敬请关注。

本地基于 develop 分支复测了是可以的
<img width="707" alt="a7db43211dc91dfa2cff7163b8572eda" src="https://user-images.githubusercontent.com/34057289/140448025-82f2f18e-9a3c-4dbb-8a95-0793b8481f5a.png">

[2021-11-05 02:27] windstamp commented on #36992
同上，这个需求在 develop 分支和 2.2-rc 版本中也已经支持了。

下列代码在 Paddle 上述版本和 Pytorch 功能一致
[code]

[2021-11-05 02:29] zmh523262937 commented on #36934
重新cmake之后，再重新make 依然提示这个报错

[2021-11-05 02:45] gsq7474741 commented on #35940
【队名】：TreeML

【序号】：1

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/Paddle/issues/36009

[2021-11-05 02:46] gsq7474741 commented on #35940
【队名】：TreeML

【序号】：1

【状态】：报名

【链接】：#36009

[2021-11-05 03:09] lidanqing-vv commented on #36962
@yghstill  Reproduced the issue.
@wozna
[code]
In the ir passes, only this is fused, error could only be here.
[code]
Inference results
[code]
Maybe
1. scales are collected and calculated wrongly
2. [Check first] original model with mkldnn ON also had same wrong accuracy. Then fuse pass is wrong.
3. matmu_v2 is also quantized, but we haven't really verify its accuracy.
![image](https://user-images

[2021-11-05 05:35] MrTsien commented on #32797
刚开始不会报错，连续预测，过一段时间就这个错误了，我也是cpu正常，gpu问题

[2021-11-05 05:37] lidanqing-vv commented on #33583
@jakpiase  Can I close this issue ?

[2021-11-05 05:37] #33583 closed, assigned to liym27, LielinJiang, Thunderbrook

[2021-11-05 05:40] lidanqing-vv opened #37005 "[Feature High priority] SPR 2+2+8 models AMX enabling and deployment"
**Newest high priority model list from ligang, Green is highest priority.**

![image](https://user-images.githubusercontent.com/25713588/145352337-0f82036c-a5b3-45fc-96e9-27f349912656.png)

How to get the models：
**Detection model: Retinanet, faster-rcnn-r50-fpn**

#Clas
wget https://paddle-imagenet-models-name.bj.bcebos.com/dygraph/inference/PPLCNet_x1_0_infer.tar
wget https://paddle-imagenet-mod

[2021-11-05 06:43] w5688414 commented on #32317
我尝试对BERT使用对抗训练，但是报错了

![2f9fd472f8b34ecb6f20404fbbdf47d2](https://user-images.githubusercontent.com/12107462/140469361-5988f3ad-2344-4b2c-990c-42ba572923a8.png)

[2021-11-05 06:44] w5688414 commented on #32317
代码是：

[code]

[2021-11-05 06:48] lidanqing-vv commented on #37005
Related with https://github.com/PaddlePaddle/Paddle/issues/32282

[2021-11-05 06:49] lidanqing-vv commented on #32282
Moved to new issue "oneDNN int8 ops generation" #37005

[2021-11-05 06:49] w5688414 opened #37006 "对BERT使用对抗训练报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2021-11-05 07:55] yangguohao commented on #35940
【队名】：约克逊是个郡

【序号】：81

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/Quantum/pull/28

[2021-11-05 10:15] wangxinxin08 commented on #36533
您好，由于你长时间未回复，我们关闭了该issue，如果你还有问题，可以重新打开

[2021-11-05 10:48] #37003 closed, assigned to nobody

[2021-11-05 10:51] #36924 closed, assigned to nobody

[2021-11-05 10:55] bogdan-evtushenko opened #37010 "Partially initialized module 'paddle' has no attribute 'tensor' (most likely due to a circular import)"
**System information**
Version: ```paddlepaddle-gpu-2.1.3```
GPU: ```CUDA Version: 11.2```
OS: ```Linux```
Python version: ```Python 3.8.5```
Install method: ```python3 -m pip install paddlepaddle-gpu==2.1.3 -i https://mirror.baidu.com/pypi/simple
Looking in indexes: https://mirror.baidu.com/pypi/simple``` (Source: https://www.paddlepaddle.org.cn/)

**Code to reproduce the issue**
```import paddle

[2021-11-05 11:03] liuicheng123 commented on #33275
尊敬的作者您好，请问您最终解决了这个问题没有，我也遇到了相同的问题。感谢您的关注和解答
![111111111111111111111111](https://user-images.githubusercontent.com/36021763/140500822-2edc9cd6-0d05-4157-9280-ab4a283768d5.png)

[2021-11-06 03:00] henryccl commented on #36983
emmm  是我自己写的项目，训练完后 想下载保存的权重（好几个模型一起打包下载），总是下载不下来，  也许是我的网路问题？ 我回头再试试，谢谢！

[2021-11-06 03:00] #36983 closed, assigned to wuhuachaocoding

[2021-11-06 05:40] firestonelib commented on #37006
您好，报错信息需要复现代码，请提供代码和环境信息，我们复现后会尽快回复您～

[2021-11-06 08:00] w5688414 commented on #37006
[code]

aistudio的环境paddle-gpu 2.0.2

[2021-11-06 08:20] w5688414 commented on #37006
paddlehub              2.0.4
paddlenlp              2.0.7
paddlepaddle-gpu       2.1.2.post101

[2021-11-06 09:19] 670133189 opened #37014 "关于 yolov3 loss 的实现"
我参考了官方文档：https://www.paddlepaddle.org.cn/tutorials/projectdetail/2412195#anchor-31，文档建议我们使用【飞桨 paddle.vision.ops.yolo_loss API】，请教能否给全 yolov3 loss 的实现？因为文档提示【目前我们计算损失函数是在特征图 P0 的基础上进行的】、【因为有多尺度的检测，所以需要对上面的代码进行较大的修改，而且实现过程也略显繁琐，所以推荐大家直接使用飞桨 paddle.vision.ops.yolo_loss API】

[2021-11-06 09:32] youth123 commented on #37014
您好，我帮您问下具体相关人员。

[2021-11-06 09:41] youth123 commented on #37014
具体源码位置在paddle/fluid/operators/detection/yolov3_loss_op.h，这个文件实现了yolov3_loss的主体逻辑。

[2021-11-06 11:27] kkoren commented on #32595
！你好，我也遇到了这个问题，想请教一下你是什么样的问题才出现这个啊

[2021-11-06 11:28] 670133189 commented on #37014
有 python 版吗？paddle库yolov_loss函数**paddle/vision/ops.py**使用【helper.append_op】实现的，看不懂。

[2021-11-06 11:59] youth123 commented on #37014
python端只是实现了调用逻辑，具体算法逻辑还是由那个c++文件实现的。

[2021-11-06 12:00] 670133189 opened #37015 "关于yolo_loss官方文档的 stop_gradient=True"
官方文档：https://www.paddlepaddle.org.cn/tutorials/projectdetail/2412195
`label_objectness.stop_gradient=True
label_location.stop_gradient=True
label_classification.stop_gradient=True
scales.stop_gradient=True`
请教为何要设置 stop_gradient=True ？这样得到的 loss 就无法反向传播计算梯度：loss.backward()

[2021-11-06 13:19] zlsh80826 opened #37016 "Boost library dependency issue for distributed"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
          -> develop branch (1653f99fe29e8e2dc7a6276b46c6e9d26091ee4c)
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
         -> AMD Ryzen 9 3900X/Intel(R) Xeon(R) CPU E5-2698 v4
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
         -> V100
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
        -> 官方 docker image

- 複現步驟
   1 ) 新增 Dockerfil

[2021-11-06 15:26] #37015 closed, assigned to nobody

[2021-11-07 04:21] dang-nh opened #37018 "FatalError: Segmentation fault"
[code]
[code]
I don't know where the problem is, and I searched a lot of solutions above, but they couldn't solve it. Can you help me take a look?

[2021-11-07 07:59] henryccl opened #37021 "使用AMP出现Found inf or nan, current scale is: 32768.0, decrease to: 32768.0*0.5的问题"
当我使用自己魔改的Unet版本进行训练时出现了如下问题
Found inf or nan, current scale is: 32768.0, decrease to: 32768.0*0.5
![image](https://user-images.githubusercontent.com/44051761/140636875-31aba5cc-4d1d-4324-ab47-dc8db5f35517.png)

我检查之后发现，这句话不是我的代码打印的，我想这应该是我使用了AMP（自动混合精度）产生的打印结果。
同样的代码，当我使用正常的U-Net进行训练时，可以正常训练。
那么我想，这应该是由于我网络结构设计的不当导致的。
但是我想知道Found inf or nan, current scale is: 32768.0, decrease to: 32768.0*0.5这句话，到

[2021-11-07 09:00] henryccl commented on #37021
出现了Found inf or nan, current scale is: 32768.0, decrease to: 32768.0*0.5后，损失也不下降

[2021-11-07 09:06] henryccl commented on #37021
调用方式 如下
![image](https://user-images.githubusercontent.com/44051761/140637245-53fc8d2f-e80a-48dc-92e0-19055e294e76.png)

![image](https://user-images.githubusercontent.com/44051761/140637234-24d430be-48cc-4d61-8ec2-7fce17431ed1.png)

`

for i, batch in enumerate(data_loader):
    # measure data loading time
    data_time.update(time.perf_counter() - end)
    targets = batch["label"].cuda()
    inp

[2021-11-07 09:18] henryccl commented on #37021
还是说paddle.amp.GradScaler的 init_loss_scaling 参数的设置有什么讲究吗？
![image](https://user-images.githubusercontent.com/44051761/140637615-4a3a6d5a-2cb4-473b-a567-5fd1fa618e95.png)

[2021-11-07 09:55] sayoko17 opened #37022 "【小白】paddle2.0/2.1 想要分别输出Conv2D的in_channel,out_channel应该怎么写呢"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2021-11-07 11:01] youth123 commented on #37016
您好，谢谢您的意见，此问题反映了产品性能需进一步优化，我们会尽快排期，感谢您提出的宝贵意见，谢谢。

[2021-11-07 12:47] GuoxiaWang commented on #37018
@dang-nh194423

Please use the VLOG to get more info:
[code]

And you can put your code below.

[2021-11-07 12:49] dang-nh commented on #37018
@GuoxiaWang Yes, I'm here

[2021-11-07 13:00] GuoxiaWang commented on #37021
@henryccl

『Found inf or nan, current scale is: 32768.0, decrease to: 32768.00.5』

出现这个打印信息是因为使用了动态图 AMP 导致的，AMP的执行逻辑如下：
1）首先前向得到loss
2）对这个 loss 使用 scaler.scale(loss)，这在反向传播时会将梯度乘上一个 loss_scaling 的值
3）梯度做 allreduce 通信同步
4）梯度做 unscale and check nan/inf，具体是调用了 check_finite_and_unscale 函数
5）参数更新

出现打印信息，是因为在做 check_finite_and_unscale 时发现有 nan 或者 inf，此时说明当前的 loss_scaling 过大，然后会乘上预设的 decr_ratio，降低 loss

[2021-11-07 13:09] GuoxiaWang commented on #37022
@sayoko17

我不太明白提的问题是要在哪里输出 Conv2D 的 in_channel, out_channel

我尝试给出一个解决方案：
[code]

[2021-11-07 13:25] GuoxiaWang commented on #37018
@dang-nh194423

Please use the VLOG to get more info:

export GLOG_v=3
export FLAGS_call_stack_level=2
And you can put your code below.

[2021-11-07 14:25] dang-nh commented on #37018
@GuoxiaWang
Excuse me,
Can you explain more clearer. I'm using Google Colab for training the pretrained model of PPOCR.
[code]
This is the code? I tried to paste this code into my notebook. But it didn't display anything!
Thank you.

[2021-11-07 15:38] GuoxiaWang commented on #37018
It is to export environment variable in linux terminal.

You  also can set by python
[code]

[2021-11-07 16:45] gsq7474741 commented on #35940
【队名】：TreeML

【序号】：1

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/37024

[2021-11-07 17:55] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：97

【状态】：提交

【链接】：https://github.com/AgentMaker/PaTTA/pull/9

[2021-11-08 00:22] dang-nh commented on #37018
@GuoxiaWang
I pasted this code and I tried to run again. But it still display this code below and I don't know what happened 
[code]
Can you help me?
Thank you. 

[2021-11-08 01:54] GuoxiaWang commented on #37018
@dang-nh194423

The log shows C++ runtime log.

Can you attach the full log file?

[2021-11-08 02:50] 670133189 opened #37026 "关于yolov3损失函数的接口"
参考官方 yolov3 的实现【https://www.paddlepaddle.org.cn/tutorials/projectdetail/2412195#anchor-30】
里面使用的损失函数是`binary_cross_entropy_with_logits()`，即 **logits二值交叉熵损失值**
但根据官方的 yolo_loss 接口【https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/ops/yolo_loss_cn.html#yolo-loss】
提示是 **sigmoid交叉熵损失**，即先将 x 值进行 sigmoid，再进行`binary_cross_entropy()`

与官方`paddle.vision.ops.yolo_loss()`结果对比：
使用`binar

[2021-11-08 02:54] dang-nh commented on #37018
@GuoxiaWang
Is this the log?
[eval.log](https://github.com/PaddlePaddle/Paddle/files/7493952/eval.log)

[2021-11-08 02:59] GuoxiaWang commented on #37018
@dang-nh194423

Yes, but please open GLOG_v and C++ call stack.

[code]

[2021-11-08 03:15] dang-nh commented on #37018
@GuoxiaWang
I'm so sorry but I pasted this code on Google Colab but it didn't display anything.
Thank you so much.

[2021-11-08 03:27] GuoxiaWang commented on #37018
So, how do you get this log. I need the full log, but you just paste the tail of log file.

[2021-11-08 03:36] dang-nh commented on #37018
![image](https://user-images.githubusercontent.com/72534869/140680244-17527efc-9d37-44c3-a4cd-fbf1950da8d9.png)
I can't find the log file of evaluation. This folder has only train.log, I read train.log and I think the eval log file will be the same.
Because I got this error when I run evaluation the model

[2021-11-08 03:41] #36902 closed, assigned to nobody

[2021-11-08 03:43] #37026 closed, assigned to nobody

[2021-11-08 04:03] GuoxiaWang commented on #37018
@dang-nh194423

[code]

I can not find anything useful debug info. So, I need to debug what op and where raise the exception.

[2021-11-08 04:09] GuoxiaWang commented on #37018
@dang-nh194423

![image](https://user-images.githubusercontent.com/16953187/140682963-9b96bb6c-a125-45b7-bbc9-beaa68c8541f.png)

What error it is?

[2021-11-08 04:28] dang-nh commented on #37018
@GuoxiaWang
I think it is not error, because when I evaluate with another model (Detection by MobileNet), no error happened. But when I use ResNet18, this error happened 

[2021-11-08 04:29] WenmuZhou commented on #36955
https://blog.csdn.net/qq_30653631/article/details/107620137  看一下这篇博客

[2021-11-08 05:13] GuoxiaWang commented on #37018
@dang-nh194423

![image](https://user-images.githubusercontent.com/16953187/140687504-d0be94ea-efe8-41cf-952f-4a06bb24ca7a.png)

indicates the error is happened when GPU memory alloc in Conv layer

[2021-11-08 05:17] dang-nh commented on #37018
@GuoxiaWang
Yes, thank you. But what should I do now?

[2021-11-08 06:24] GuoxiaWang commented on #37018
@dang-nh194423

Can you paste your code ?

[2021-11-08 06:28] dang-nh commented on #37018
@GuoxiaWang
I only use 1 line below 😊
[code]

[2021-11-08 06:29] GuoxiaWang commented on #37018
@dang-nh194423

What's Repo?

[2021-11-08 06:32] dang-nh commented on #37018
@GuoxiaWang
I use Google Colab so I don't push it to github.
Because I want to train the pretrained model. But I found only one page on how to do it. Did you need it, I will share to you

[2021-11-08 06:32] FeixLiu commented on #36934
您好，您可以尝试以下的编译选项：
[code]

[2021-11-08 06:35] FeixLiu commented on #36934
另外，能麻烦提供一下具体的机器型号么。例如Ascend 的驱动版本，cann的版本，是x86的还是arm的，是centos的还是欧拉的系统？我们具体在定位一下问题。

[2021-11-08 07:04] GuoxiaWang commented on #37018
@dang-nh194423

[code]

maybe it is an illegal attempt to access not initialized tensor

[2021-11-08 07:19] SOVLOOKUP commented on #35940
【队名】：灵犀开源

【序号】：100

【状态】：提交

【链接】：https://github.com/AgentMaker/AgentOCR/pull/7

[2021-11-08 07:39] dang-nh commented on #37018
So, there is no solution for this error 😢

[2021-11-08 07:41] GuoxiaWang commented on #37018
@dang-nh194423

There are no more debug info，I have no idea to find the real reason.

[2021-11-08 07:42] dang-nh commented on #37018
Thank you so much for your help! Nice to meet you!

[2021-11-08 08:01] helen88 opened #37032 "编译paddle成功后，import paddle报错 Error: Can not import avx core while this file exists:/usr/local/python3.7.0/lib/python3.7/site-packages/paddle/fluid/core_avx.so"
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
Error: Can not import avx core while this file exists: /usr/local/python3.7.0/lib/python3.7/site-packages/paddle/fluid/core_avx.so
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/python3.7.0/lib/python3.7/site-packages/paddle/__init__.py", line 25, in <module>
    from .fluid import

[2021-11-08 08:08] yeguang1991 opened #37033 "使用CPU训练时报错"
![image](https://user-images.githubusercontent.com/66579493/140705842-e4e88a41-dfb5-4140-ae7a-4d1b72827179.png)
![image](https://user-images.githubusercontent.com/66579493/140705893-cd674e5b-3e38-42e7-a5d3-906799fa0d19.png)

[2021-11-08 08:09] yeguang1991 commented on #37033
CPU训练中途报错
Error: Tensor holds no memory. Call Tensor::mutable_data first.

[2021-11-08 08:35] helen88 commented on #37032
我的编译：
cmake .. -DPY_VERSION=3.7 \
         -DCMAKE_BUILD_TYPE=Release \
         -DWITH_GPU=OFF \
         -DWITH_XPU=ON \
         -DON_INFER=ON \
         -DWITH_PYTHON=ON \
         -DWITH_MKL=OFF \
         -DWITH_XPU_BKCL=ON \
         -DWITH_TESTING=ON
make -j40

[2021-11-08 08:40] firestonelib commented on #37006
你好，aistudio 推荐使用paddle 2.2.0rc，该版本可以解决该问题；

[2021-11-08 08:45] helen88 commented on #37032
![image](https://user-images.githubusercontent.com/4593091/140710998-dff18044-c1bc-44a2-90a9-86944cd33b8b.png)
nm -D -C /usr/local/python3.7.0/lib/python3.7/site-packages/paddle/fluid/core_avx.so  | grep " U " | grep sparse --col

[2021-11-08 09:07] parap1uie-s commented on #37022
[code]

应该是这个意思

https://github.com/PaddlePaddle/Paddle/blob/06d47ff7e2dff1d2daa96eaff525d81ef7c013eb/python/paddle/nn/layer/conv.py#L66-L67

[2021-11-08 10:42] nrailg opened #37038 "paddle 是否支持 gpu + 同步训练 + 分布式的 embedding？"
`paddle.fluid.layers.embedding` 可以分布式存储，但是支持 cpu：*is_distributed (bool) - 是否使用分布式的方式存储embedding矩阵，仅在多机分布式cpu训练中使用。*，而且这个 api 已经 deprecated。
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/layers/embedding_cn.html

而 paddle 2 的 api `paddle.nn.embedding` 文档没 `is_distributed` 这个参数。请问是砍掉了这个 feature 么？
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Embedding_

[2021-11-08 10:46] sayoko17 commented on #37022
谢谢您的解答~~在文档里找半天不知道在哪里看，再次谢谢指明出处

[2021-11-08 10:46] #37022 closed, assigned to nobody

[2021-11-08 11:10] lidanqing-vv commented on #36962
Update:
Have tested fp32 w oneDNN ON work with good accuracy and perf, it is collecting and propogating int8 scales for matmul_v2 step get wrong.
Note: tuen oneDNN on need to turn on ir_pass, otherwise fuse will not be executed, the demo config set if false, which should not be.

[2021-11-08 11:35] firestonelib commented on #37010
Please recheck if the paddle was installed correctly, you can try this `python3 -m pip install paddlepaddle-gpu==2.1.3.post112 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html`

[2021-11-08 11:39] MaDFolking opened #37039 "paddlenlp用flask部署时predict报错"
1. 配置:
cpu推理。
mac系统,docker部署,python的flask服务部署。
paddle版本：2.1.1 。 paddlenlp版本: 2.0.0。 python:3.6。
模型参考地址: https://aistudio.baidu.com/aistudio/projectdetail/2579580?forkThirdPart=1

2. 报错信息:
     outputs, lens, decodes = model.predict(test_data=test_loader)
     #ValueError: underlying buffer has been detached

3. 详细日志:
     [08/Nov/2021 11:09:12] "GET /predict?img_path=/PaddleOCR/data/ HTTP/1.1" 500

[2021-11-08 11:55] MaDFolking commented on #37039
好的，谢谢。

[2021-11-08 12:03] qqquuuu commented on #35940
【队名】：pppuu

【序号】：1

【状态】：报名

【链接】：https://github.com/qqquuuu/Paddle

[2021-11-08 12:03] qqquuuu commented on #35940
【队名】：pppuu

【序号】：15

【状态】：报名

【链接】：https://github.com/qqquuuu/Paddle

[2021-11-08 12:04] qqquuuu commented on #35940
【队名】：pppuu

【序号】：33

【状态】：报名

【链接】：https://github.com/qqquuuu/Paddle

[2021-11-08 12:07] AndPuQing commented on #35940
【队名】：就挺秃然的

【序号】：62

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/Paddle2ONNX/pull/392

[2021-11-08 12:24] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：87

【状态】：报名&&提交

【链接】：https://github.com/openvinotoolkit/openvino/pull/8446

[2021-11-08 12:54] sayoko17 opened #37041 "【小白提问】请问初始化中class paddle.nn.initializer.KaimingNormal(fan_in=None)，只有fan_in，如果想要fan_out是怎么个写法呢"
因为之前pytorch的代码里，写的是mode=fan_out，有点不知道怎么改。

[2021-11-08 13:02] S-HuaBomb commented on #36879
菁英计划中，我成功复现了第 55 篇 Learning to Discover Cross-Domain Relations with Generative Adversarial Networks。并且损失函数对齐成功。

repo：https://github.com/ImportPaddle/DiscoGAN-Paddle

调用地址：[feat_criterion = HingeEmbeddingLoss()](https://github.com/ImportPaddle/DiscoGAN-Paddle/blob/b494bfe2731c213a3e10e50d736da02aba80c3da/discogan/image_translation.py#L234)

paddle 实现：[class HingeEmbeddingLoss(nn.Layer)](https://gi

[2021-11-08 13:06] MaDFolking commented on #37039
今晚能给回复吗，我比较急

[2021-11-08 13:08] unseenme commented on #35940
【队名】：UnseenMe

【序号】：88

【状态】：报名

【链接】：https://github.com/unseenme/openvino

[2021-11-08 13:14] tongxin commented on #37041
你可以试试override _compute_fans()
[code]

[2021-11-08 14:17] applezjm opened #37045 "单机多卡训练 相同代码相同batch-size，卡数增加以后速度反而变慢了"
使用 paddle.distributed.launch 跑单机多卡的任务，都正常跑没问题。
但是在双卡时候，训练速度是1.6steps/sec，在8卡时，训练速度是0.3-0.4steps/sec
我理解同一套代码单机时候，速度应该一致啊，是什么导致了diff呢？

[2021-11-08 14:44] OreoAoAo commented on #35940
【队名】：杨奥

【序号】：85

【状态】：报名

【链接】：https://github.com/OreoAoAo/openvino

[2021-11-08 14:45] OreoAoAo commented on #35940
【队名】：杨奥

【序号】：7

【状态】：报名

【链接】：https://github.com/OreoAoAo/Paddle

[2021-11-08 14:46] OreoAoAo commented on #35940
【队名】：杨奥

【序号】：32

【状态】：报名

【链接】：https://github.com/OreoAoAo/Paddle-Lite

[2021-11-08 14:47] OreoAoAo commented on #35940
【队名】：杨奥

【序号】：96

【状态】：报名

【链接】：https://github.com/OreoAoAo/PaTTA

[2021-11-08 14:55] kl6666 commented on #35940
【队名】：杨奥

【序号】：7

【状态】：报名

【链接】：https://github.com/kl6666/Paddle

[2021-11-08 14:55] kl6666 commented on #35940
【队名】：L_star

【序号】：7

【状态】：报名

【链接】：https://github.com/kl6666/Paddle

[2021-11-08 14:56] kl6666 commented on #35940
【队名】：L_star

【序号】：50

【状态】：报名

【链接】：https://github.com/kl6666/PaddleNLP

[2021-11-08 14:59] kl6666 commented on #35940
【队名】：L_star

【序号】：62

【状态】：报名

【链接】：https://github.com/kl6666/Paddle2ONNX

[2021-11-08 15:00] kl6666 commented on #35940
【队名】：L_star

【序号】：73

【状态】：报名

【链接】：https://github.com/kl6666/PaddleClas

[2021-11-08 15:00] 222019335210090 commented on #35940
【队名】：系统

【序号】：16

【状态】：报名

【链接】：https://github.com/222019335210090/Paddle

[2021-11-08 15:02] 222019335210090 commented on #35940
【队名】：系统

【序号】：67

【状态】：报名

【链接】：https://github.com/PaddlePaddle/PaddleDetection/issues/4224

[2021-11-08 15:02] 222019335210090 commented on #35940
【队名】：系统

【序号】：73

【状态】：报名

【链接】：https://github.com/kl6666/PaddleClas

[2021-11-08 15:03] 222019335210090 commented on #35940
【队名】：系统

【序号】：86

【状态】：报名

【链接】：https://github.com/openvinotoolkit/openvino/issues/7617

[2021-11-08 15:22] tongxin commented on #37039
请试一下升级到paddlenlp 2.1，2.0可能有bug。

[2021-11-08 15:23] unseenme commented on #35940
【队名】：UnseenMe

【序号】：88

【状态】：提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/11

[2021-11-08 15:23] tongxin commented on #37045
请提供复现的代码和环境，谢谢。

[2021-11-08 15:28] bjx856 commented on #35940
【队名】：Un

【序号】：8

【状态】：报名

【链接】：https://github.com/bjx856/Paddle

[2021-11-08 15:30] bjx856 commented on #35940
【队名】：Un

【序号】：90

【状态】：报名

【链接】：https://github.com/bjx856/openvino

[2021-11-08 15:31] bjx856 commented on #35940
【队名】：seenMe

【序号】：74

【状态】：提交

【链接】：https://github.com/bjx856/VisualDL

[2021-11-08 15:57] tongxin commented on #37032
你这个可能是 xpu 相关 shared libraries 没有安装好，请参考下https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_hardware_support/xpu_docs/paddle_install_cn.html

[2021-11-08 15:59] tongxin commented on #37032
先卸载一下安装的 paddlepaddle，再重新安装。

[2021-11-08 16:04] tongxin commented on #37033
请提供复现方法，谢谢。

[2021-11-08 16:08] danleifeng commented on #37038
paddle 2 的 api `paddle.static.nn.embedding` 中还包含 `is_distributed `这个参数哦，https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/nn/embedding_cn.html#embedding
你可以理解为`paddle.static.nn.embedding` 等价于`paddle.fluid.layers.embedding`这个旧接口。

[2021-11-08 16:14] applezjm commented on #37045
双卡：job-0bb617fae13b89a6
8卡：job-0bb61864febe02e9

<br class="Apple-interchange-newline">

<br class="Apple-interchange-newline">

[2021-11-08 17:15] gsq7474741 commented on #35940
【队名】：PeachML

【序号】：4

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/37047

[2021-11-08 18:55] gsq7474741 commented on #35940
【队名】：PeachML

【序号】：78

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/Quantum/pull/29

[2021-11-09 00:26] Yuxiao-Liang commented on #18201
我也遇到这个问题了，请问楼主怎么解决的

[2021-11-09 01:08] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：86

【状态】：报名&&提交

【链接】：https://github.com/openvinotoolkit/openvino/pull/8464

[2021-11-09 01:29] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：16

【状态】：重新提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/37050

[2021-11-09 01:32] zmh523262937 commented on #36934
依然存在相同问题，运行脚本后输出的配置如下图
![image](https://user-images.githubusercontent.com/31687521/140845307-49a3fac8-395a-4156-a061-18ae227c6333.png)
是x86 centos7的机子  Ascend的驱动版本是21.0.2  cann版本是 5.0.2，机子用的是昇腾310

[2021-11-09 01:43] zmh523262937 commented on #36934
方便加个微信实时通讯吗

[2021-11-09 01:47] MaDFolking commented on #37039
paddlenlp如果升级到2.1，我原来训练的模型还需要重新训练吗？

[2021-11-09 02:33] GuoQuanhao opened #37051 "Upsample疑似bug"
Version 2.1.2
Platform AIStudio

我存在如下代码段：
[code]
终端打印信息：
[code]
维度为[1, 256, 1, 1] 经过`Upsample`维度为[1]
但如下代码段又是正确的
[code]
我无法最小复现
aistudio仓库：项目“YOLOv5”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/2580805/cc2529334d874e1ca7423ddadf5a3d43

运行`python modeltest.py`可以得到报错信息

[2021-11-09 02:44] yeguang1991 commented on #37033
我用的官方的PALM框架，跑的中文联合训练
https://github.com/PaddlePaddle/PALM/tree/master/examples/multi-task

[2021-11-09 02:50] tongxin commented on #37039
建议再重新训练一下，谢谢

[2021-11-09 03:03] tongxin commented on #37033
你好，我把问题转给负责的同学帮你看看。

[2021-11-09 03:06] youth123 commented on #37016
您好，我们这边没有复现出这个问题，怀疑可能是镜像里面没有设置代理，导致boost的包下载有问题。

[2021-11-09 03:18] w5688414 commented on #37006
好的，刚试了下，现在可以了

[2021-11-09 03:21] YuuuW commented on #35940
【队名】：今天天气很好

【序号】：86

【状态】：报名

【链接】：https://github.com/openvinotoolkit/openvino/issues/7617

[2021-11-09 03:22] YuuuW commented on #35940
【队名】：今天天气很好

【序号】：85

【状态】：报名&提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/15

[2021-11-09 03:38] Specialized123 commented on #35940
【队名】：justme

【序号】：16

【状态】：报名

【链接】：https://github.com/Specialized123/Paddle

[2021-11-09 03:39] Specialized123 commented on #35940
【队名】：justme

【序号】：81

【状态】：报名

【链接】：https://github.com/Specialized123/Quantum

[2021-11-09 03:44] mohoho commented on #35940
【队名】：fishboy

【序号】：87

【状态】：报名

【链接】：https://github.com/openvinotoolkit/openvino

[2021-11-09 03:44] XiangQinYu commented on #35940
【队名】：华强买瓜

【序号】：85

【状态】：报名

【链接】：https://github.com/openvinotoolkit/openvino

[2021-11-09 03:47] jzyxn commented on #35940
【队名】：华

【序号】：4

【状态】：报名

【链接】：https://github.com/jzyxn/Paddle

[2021-11-09 03:52] skpig opened #37057 "建议Paddle.metric添加对于多标签分类的指标"
我注意到现在的Paddle.metric中Precision & Recall指标都只能进行二分类。多标签分类问题是相当普遍的，具体的接口样例可见sklearn（https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html#sklearn.metrics.precision_score ）。
社区是否有打算进行实现？如果有意愿的话，我愿意尝试提交PR实现该API。

[2021-11-09 03:55] glare-ni commented on #35940
【队名】：自学c++

【序号】：87

【状态】：报名

【链接】：https://github.com/openvinotoolkit/openvino

[2021-11-09 04:07] danleifeng commented on #37038
如果需要分布式的 embedding + 同步训练 + gpu ，有两种场景：
1. 类似ernie/transformer模型中使用到的embedding，可参考https://github.com/PaddlePaddle/ERNIE/blob/ff89c2a6baef9fd662a5b847224ca39e67d6ad11/ernie/modeling_ernie.py#L327
2. 如果embedding的参数比较大，需要多卡存储，可以参考fleetx中的示例:https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/parameter_server/performance/heterps.html#id6

[2021-11-09 04:18] Deo0330 opened #37058 "ubuntu 编译Paddle2.2错误"
   1）编译的PaddlePaddle版本：2.2
    2 ) 环境使用ai stuidio 项目提供的环境（PaddlePaddle 2.2.0rc, 32G V100GPU, ubuntu16.04, gcc 7.5.0, Python 3.7.4）
    参照官方提供的linux编译Paddle中的docker编译方法
    首先在第三方库的git clone时出现克隆失败，无法连接到github.com问题，通过更换githun源为gitee，不再跳出克隆失败的错误，但接着跳出了如下错误，编译停止。新手，请教可能是哪里出了问题？

`[ 15%] Building CUDA object paddle/fluid/operators/math/CMakeFiles/gru_compute.dir/gru_compute.cu.o
[ 15%] Built target s

[2021-11-09 04:47] Wenchuan-Yang commented on #35940
【队名】：AcwyangI

【序号】：50

【状态】：注册

【链接】：https://github.com/cwyangwc/PaddleNLP

[2021-11-09 05:02] thomas-yanxin commented on #35940
【队名】：E校之光

【序号】：73

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/PaddleClas/pull/1420

[2021-11-09 06:15] poetryben88 opened #37059 "跑分布式训练示例train_fleet_static.py出错：Error: /paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cu:536 Assertion `labels_[idx_lbl] >= 0 && labels_[idx_lbl] < d_ || labels_[idx_lbl] == ignore_idx_` failed. The value of label[21] expected >= 0 and < 10, or == -100,but got 74. Please check input value."
跑分布式训练示例train_fleet_static.py出错
    1）PaddlePaddle版本：2.1.3
    2）CPU：
    3）GPU：GeForce RTX 2080 Ti *4
    4）系统环境：ubuntu18.04.5
- 训练信息
    1）单机/多卡
    2）显存信息:GeForce RTX 2080 Ti 11019MiB*4
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：paddle分布式训练示例运行出错https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/06_distributed_training/cluster_quick_start_cn.html
- train_fleet_static.py

xubaish

[2021-11-09 07:37] nrailg commented on #37038
感谢回复。

[2021-11-09 07:40] nrailg commented on #37038
抱歉之前写错了，应该是 paddle.nn.embedding 没有 `is_distributed` 。
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Embedding_cn.html

[2021-11-09 08:35] yeguang1991 commented on #37033
她现在好像不负责这个了，我之前跟她联系过

[2021-11-09 08:42] MaDFolking commented on #37039
您好，paddlenlp更新到2.1.0，模型重新训练后，本地推理测试成功，部署到docker后又报了同样的错误，我现在怀疑是不是paddlenlp有什么关联的包需要安装，但官网除了Paddle外没写什么关联的包，因为每次部署到docker后才报错。

[2021-11-09 09:00] WenmuZhou commented on #36939
你好，我这边在aistudio上面测试了没问题，你那边可以再确认一下哈

[2021-11-09 09:57] tongxin commented on #37041
我们不支持这个参数，如果没有其他需求我们关闭这个issue了，谢谢。

[2021-11-09 10:08] liutiexing commented on #37057
我们收到了您的建议，我们内部评估一下，再给您回复

[2021-11-09 10:09] tongxin commented on #37038
paddle.nn.embedding 的确没有 is_distributed 参数，请正确使用；）

[2021-11-09 10:13] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：4

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/37067

[2021-11-09 11:55] mohoho commented on #35940
【队名】：fishboy

【序号】：87

【状态】：提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/16

[2021-11-09 12:14] jelly2187 commented on #35940
【队名】：Rob_paddle

【序号】：47

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/330

[2021-11-09 12:28] pmajchrzak opened #37075 "BERT performance drop"
Commit https://github.com/PaddlePaddle/Paddle/commit/b9fdd3bc0f4f22af17a81bb8a50a337b563c876b seems to be responsible for the decline in the BERT's performance. Depending on the machine on which the tests were performed, the decrease ranges from 2.66% to 3.21%. Below are the screenshots of the sheets with the results of consecutive commits together with the fps results for three processors
### CLX

[2021-11-09 12:31] MaDFolking commented on #37039
有没有用flask部署paddlenlp中ner模型成功的案例呀

[2021-11-09 12:43] Arthur-ZY commented on #35940
【队名】：我超勇的

【序号】：86

【状态】：报名

【链接】：https://github.com/openvinotoolkit/openvino

[2021-11-09 13:13] joey12300 commented on #37039
你好，请问你的操作系统环境是怎样的，以及如何启动flask服务的？

[2021-11-09 13:30] MaDFolking commented on #37039
配置:
cpu推理。
mac系统,docker部署,python的flask服务部署。
paddle版本：2.1.1 。 paddlenlp版本: 2.1.0  python:3.6。
在mac本地部署到docker,然后启动flask，里面模型包括ocr和ner, ocr是直接用百度的模型加载使用,ner是根据gru+crf来写的，服务器推理是没问题都能跑通。就是启动docker后，在ner的predict出的错，具体错误在上面写了哈。

[2021-11-09 13:38] tmp-coder opened #37077 "elementwise_op broadcast 当x.dim[i]=y.dim[i]=0的时候会出现bug，输出z.dim[i]=-1"
![3ed3b901c3c829b31c7a1284a86a23ba](https://user-images.githubusercontent.com/93904570/140933607-f923f92c-89fb-4feb-951b-0728ed85a454.png)

code https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/elementwise/elementwise_op_function.h

code 232-246

[code]

你们自己写的**check 条件和实际代码中的判断条件完全不符合**

[2021-11-09 14:15] YuuuW commented on #35940
【队名】：今天天气很好

【序号】：86

【状态】：提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/17

[2021-11-09 16:03] XiangQinYu commented on #35940
【队名】：华强买瓜

【序号】：85

【状态】：提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/18

[2021-11-10 02:00] thomas-yanxin commented on #35940
【队名】：E校之光

【序号】：87

【状态】：报名&&提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/19

[2021-11-10 03:23] #36323 closed, assigned to nobody

[2021-11-10 05:25] guantongpeng commented on #34385
试着使用conda安装看看行不行

[2021-11-10 05:26] guantongpeng commented on #34385
使用conda安装试试

[2021-11-10 05:42] burakpols commented on #29428
ı had cudnn64_7.dll error. ı found cudnn64_8.dll on my cuda directory then renamed  it cudnn64_7.dll and fixed. Also  if you try it backup cudnn64_8.dll file.

[2021-11-10 07:56] GuoQuanhao opened #37092 "Tensor形参传递，出现Cuda Error"
Platform: AIStudio
Version: 2.1.2

仓库https://aistudio.baidu.com/aistudio/projectdetail/2580805

运行前执行如下命令
[code]

运行命令
[code]

发现`train.py`332行计算损失传入pred在`utils/loss.py中183行出现显存泄露
[code]

[2021-11-10 08:31] #37021 closed, assigned to nobody

[2021-11-10 08:31] #36687 closed, assigned to nobody

[2021-11-10 08:35] gongel commented on #36303
Hello, 已经定位到问题哈，你输入的数据`images`是没有梯度的，需要做个增加梯度的操作：
[code]

[2021-11-10 08:57] henryccl opened #37095 "OSError: (External) Cudnn error, CUDNN_STATUS_MAPPING_ERROR"
我在使用aistiaistudio运行自己的项目时出现了如下问题（我事先是在win10上的环境测试过的， 前向传播没问题）
`!python -m src.train --devices 0 --width 48 --arch Unet_bicebce`
![image](https://user-images.githubusercontent.com/44051761/141081370-ff98090b-6231-450b-a663-ad5ef5c66152.png)
然后我把网络结构这部分代码单独拿出来跑 ， 发现也没问题， 可以正常运行
`!python -m src.test`
![image](https://user-images.githubusercontent.com/44051761/141081184-9630fd92-b8cd-4c33-8bc3-2135c66

[2021-11-10 08:58] henryccl commented on #37095
aistudio链接如下：
`项目“test”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/2604597/02f15b1544454d5498d109cf52337259`

[2021-11-10 09:12] gongel commented on #36305
Hi all，更新一下进展，针对ResNet，这边给出以下解决方法，其他的网络还在排查中。
1、export FLAGS_cudnn_deterministic=True
2、dataloader的number worker 设为0，并关掉shuffle
3、设置 numpy、paddle、random的seed

[2021-11-10 09:24] mmmmay commented on #35940
【队名】：五月你好

【序号】：85

【状态】：报名&提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/22

[2021-11-10 10:07] applezjm commented on #37045
辛苦看下呢~

[2021-11-10 11:55] sandyhouse commented on #37045
如果分布式的话，本身会引入额外的通信开销（比如梯度同步），所以按照steps/s的速度计算，速度通常会小于单卡。但具体比当卡低多少是和通信/计算比相关的。

[2021-11-10 11:59] Arthur-ZY commented on #35940
【队名】：我超勇的

【序号】：86

【状态】：提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/20

[2021-11-10 13:06] ethelgriffin opened #37105 "复现 cuda问题"
torch原代码：
args.cuda = not args.no_cuda and torch.cuda.is_available()
torch.manual_seed(args.seed)
if args.cuda:
    torch.cuda.manual_seed(args.seed)
    torch.cuda.set_device(args.gpu)
else:
    args.gpu = None
kwargs = {'num_workers': 0, 'pin_memory': True} if args.cuda else {}

paddle复现：
paddle.seed(args.seed)
use_gpu = True
if use_gpu:
    paddle.seed(args.seed)
    paddle.set_device(use_gpu)

[2021-11-10 13:11] shybooy commented on #35940
【队名】：DLMU_3<br /><br />【序号】：28<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 13:19] togetherPeter commented on #35940
【队名】：蒟蒻炒辣鸡<br /><br />【序号】：32<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 13:22] sneaxiy commented on #37045
@applezjm 能否提供下复现代码呢？我们这边测下。

[2021-11-10 13:31] Mzswds commented on #35940
【队名】：欧拉欧拉欧拉欧拉<br /><br />【序号】：20<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 13:38] #36585 closed, assigned to nobody

[2021-11-10 13:43] thomas-yanxin commented on #35940
【队名】：E校之光

【序号】：86

【状态】：报名&&提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/24

[2021-11-10 13:49] cla1998 commented on #35940
【队名】：让我康康

【序号】：87

【状态】：报名&&提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/23

[2021-11-10 13:52] duolemi commented on #35940
【队名】：Aha!<br /><br />【序号】：2<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 13:58] glare-ni commented on #35940
【队名】：自学c++

【序号】：87

【状态】：提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/21

[2021-11-10 14:12] KatrinaCA commented on #35940
【队名】：黑框眼镜<br /><br />【序号】：86<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-10 14:12] ethelgriffin opened #37108 "复现 接口问题"
from torch.autograd import Variable
求问torch中的 torch.autograd.variable的paddle接口。

    images, labels = Variable(data[0]), Variable(data[1])

[2021-11-10 14:18] ethelgriffin commented on #37108
如果直接用 tensor代替Variable

 images, labels = Variable(data[0]), Variable(data[1])
就会出现报错
/tmp/ipykernel_607/3071374129.py in train(epoch)
    111     for batch_idx, data in enumerate(train_loader):
    112
--> 113         images, labels = Variable(data[0]), Variable(data[1])
    114         if args.cuda:
    115             images, labels = images.cuda(), labels.cuda()
TypeError: 'module' object is n

[2021-11-10 14:23] VieDiego commented on #35940
【队名】：杰尼龟<br /><br />【序号】：8<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 14:56] unseenme commented on #35940
【队名】：UnseenMe

【序号】：91

【状态】：报名

【链接】：https://github.com/unseenme/openvino

[2021-11-10 15:00] water-melon2020 commented on #35940
【队名】：杰哥让我们来打酱油<br /><br />【序号】：87<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-10 15:04] GuoQuanhao commented on #37051
[code]
我重写Upsample，使用新的Upsample修复了这个问题，但是对比与Paddle的源码，我感觉没有本质的差异，这很疑惑，如果这个issue有新的进展或跟进可以联系我

[2021-11-10 15:04] #37051 closed, assigned to nobody

[2021-11-10 15:11] soso-Susan commented on #35940
【队名】：Denominator<br /><br />【序号】：26<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 15:27] maotouyingz commented on #35940
【队名】：追梦路上没有鞋<br /><br />【序号】：78<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-10 15:47] SipeGreemHwnd commented on #35940
【队名】：好好学习<br /><br />【序号】：28<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 16:18] xuxian2020 commented on #35940
【队名】：露娜来拿蓝<br /><br />【序号】：88<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-10 16:42] ternenceyan commented on #35940
【队名】：友情参加<br /><br />【序号】：50<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-10 16:52] Soul-songs commented on #35940
【队名】：贡嘎雪山<br /><br />【序号】：81<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-10 17:06] sandybox-git commented on #35940
【队名】：TJU_Happy_For_Cutting_Classes<br /><br />【序号】：31<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 17:25] wtoStudio commented on #35940
【队名】：ACM再爱我一次<br /><br />【序号】：47<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 17:32] sukhsfuQ commented on #35940
【队名】：风清气正<br /><br />【序号】：93<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-10 17:50] younger2021 commented on #35940
【队名】：Viva La Vida<br /><br />【序号】：6<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 17:57] zongze1026 commented on #35940
【队名】：乌鸦坐飞机<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-10 18:04] biaoqianye commented on #35940
【队名】：失落者<br /><br />【序号】：91<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-10 18:11] woshihezuobangzhu commented on #35940
【队名】：嗯嗯嗯<br /><br />【序号】：28<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 18:25] AZ-androidr commented on #35940
【队名】：电子设计<br /><br />【序号】：85<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-10 18:32] u-s-e-r-s commented on #35940
【队名】：花之舞<br /><br />【序号】：7<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 18:41] 994206011533266y commented on #35940
【队名】：风清气正<br /><br />【序号】：85<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-10 18:48] xiaoaapple commented on #35940
【队名】：好多好多栗子<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-10 18:55] qianjinfang commented on #35940
【队名】：正义联盟<br /><br />【序号】：47<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 19:16] jhyesmkths commented on #35940
【队名】：林湾村搬砖队<br /><br />【序号】：27<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 19:25] MoooonTina commented on #35940
【队名】：量子鸭嘴笔<br /><br />【序号】：81<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-10 19:44] painxnnet commented on #35940
【队名】：大吉大利，一起吃鸡<br /><br />【序号】：71<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-10 20:02] PastafTime commented on #35940
【队名】：好好学习<br /><br />【序号】：20<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 20:25] qqcookie commented on #35940
【队名】：达拉斯<br /><br />【序号】：31<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 20:41] g-Alma commented on #35940
【队名】：祝大家生日快乐<br /><br />【序号】：19<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 20:54] DeanMemory commented on #35940
【队名】：Timer<br /><br />【序号】：29<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 21:10] 2k-50k commented on #35940
【队名】：黑框眼镜<br /><br />【序号】：33<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 21:22] lulululbjF commented on #35940
【队名】：为中华崛起而AC<br /><br />【序号】：23<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 21:42] Yvonmnnne commented on #35940
【队名】：老哥稳<br /><br />【序号】：30<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 21:57] yiliaoPro commented on #35940
【队名】：乌鸦坐飞机<br /><br />【序号】：47<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 22:03] lll-Tim commented on #35940
【队名】：抓狗大队<br /><br />【序号】：90<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-10 22:11] liulong2 commented on #35940
【队名】：风之彩<br /><br />【序号】：32<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 22:22] 0itb commented on #35940
【队名】：打铁不报销<br /><br />【序号】：2<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 22:32] ChengCaiNie commented on #35940
【队名】：Three Heads<br /><br />【序号】：64<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-10 22:49] 1249895652476822 commented on #35940
【队名】：那么问题来了<br /><br />【序号】：85<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-10 22:58] TECrave commented on #35940
【队名】：三大队一组<br /><br />【序号】：90<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-10 23:07] KillerNoMercy commented on #35940
【队名】：风之彩<br /><br />【序号】：25<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 23:21] zhangjq-sss commented on #35940
【队名】：我很生气<br /><br />【序号】：6<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-10 23:40] MohamedE610K commented on #35940
【队名】：风铃草<br /><br />【序号】：71<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-10 23:55] SnYBesire commented on #35940
【队名】：加拉隆<br /><br />【序号】：4<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 00:20] make20201112 commented on #35940
【队名】：她的传承<br /><br />【序号】：100<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-11 00:27] OmoooJ commented on #35940
【队名】：None<br /><br />【序号】：29<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 00:44] caocaocar commented on #35940
【队名】：中工振琦<br /><br />【序号】：93<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-11 01:02] LiqeUorx commented on #35940
【队名】：核动力滚筒AC机<br /><br />【序号】：88<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-11 01:08] luuns1216062 commented on #35940
【队名】：打铁不报销<br /><br />【序号】：88<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-11 01:19] see-no commented on #35940
【队名】：快乐的池塘里面有只小青蛙<br /><br />【序号】：23<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 01:39] top-500 commented on #35940
【队名】：怎么读都读不队<br /><br />【序号】：8<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 01:46] gbstack commented on #35940
【队名】：redino

【序号】：70

【状态】：报名 & 提交

【链接】：https://github.com/PaddlePaddle/PaddleDetection/pull/4546

[2021-11-11 01:57] jiefangla commented on #35940
【队名】：韦天魔术棒<br /><br />【序号】：90<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-11 01:59] XiangQinYu commented on #35940
【队名】：华强买瓜

【序号】：86

【状态】：报名 & 提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/25

[2021-11-11 02:10] zhengkai02 commented on #35940
【队名】：HDU-AlohaOe<br /><br />【序号】：50<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-11 02:17] BadBadBad-Bad commented on #35940
【队名】：这一切都是Steins Gate的选择<br /><br />【序号】：91<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-11 02:28] afsms8 commented on #35940
【队名】：会喵喵的汪<br /><br />【序号】：64<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-11 02:50] yinshansoft commented on #35940
【队名】：小红帽烤冷面<br /><br />【序号】：96<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-11 03:10] Epromise commented on #35940
【队名】：阿比斯<br /><br />【序号】：24<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 03:17] Darki-luo opened #37115 "多卡训练支持Windows吗"
如题，现在多卡训练支持Windows吗

[2021-11-11 03:20] CCCx3c commented on #35940
【队名】：花之舞<br /><br />【序号】：90<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-11 03:25] chenruhai commented on #33816
我是在2.1.2下运行的，也报错了。看了日志，一样的错误。

[2021-11-11 03:28] 145465703216910632 commented on #35940
【队名】：破晓<br /><br />【序号】：20<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 03:47] poetryben88 opened #37116 "多机多卡无法运行任务，报错：AssertionError: Can't find your local ip {127.0.0.1} in node_ips: {['192.168.50.191', '192.168.50.190']}"
- 标题：2机4卡，运行示例程序train_fleet_static.py，报错。
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.0
    2）CPU：
    3）GPU：RTX2080 *4*2
    4）系统环境：ubuntu 18.04，python 3.6
- 训练信息
    1）多机，多卡
    2）显存信息 12GB*4*2
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：运行示例程序train_fleet_static.py，报错。

$ **python3 -m paddle.distributed.launch --ips="192.168.50.191,192.168.50.190" --gpus=0,1,2,3,4,5,6,7  train_fleet_static.py**
---

[2021-11-11 03:49] docorx commented on #35940
【队名】：打铁不报销<br /><br />【序号】：29<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 04:05] killbier commented on #35940
【队名】：一二三<br /><br />【序号】：25<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 04:28] chenchenshi commented on #35940
【队名】：手持两把锟斤拷，烫烫烫烫烫<br /><br />【序号】：29<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 04:45] thomas-yanxin commented on #35940
【队名】：E校之光

【序号】：73

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleClas/pull/1430

[2021-11-11 04:47] DepartureA commented on #35940
【队名】：代码强迫症<br /><br />【序号】：62<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-11 05:01] AnywayZhang commented on #35940
【队名】：小姐姐我们走<br /><br />【序号】：30<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 05:12] JunctionL commented on #35940
【队名】：天天向上<br /><br />【序号】：50<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-11 05:19] zhangbo9674 commented on #37115
你好，多卡训练尚不支持windows训练，gpu支持多卡训练，可见官网使用方法：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/02_paddle2.0_develop/06_device_cn.html。

[2021-11-11 05:24] zhangbo9674 commented on #37116
问题已经收到，正在分析。

[2021-11-11 05:24] MlssiYsf commented on #35940
【队名】：热核火箭<br /><br />【序号】：26<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 05:35] Soorry404 commented on #35940
【队名】：三大队三组<br /><br />【序号】：7<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 05:37] zhangbo9674 commented on #37116
您好，报错信息需要复现代码，麻烦提供一下复现代码。
脚本参数--gpus换成”--gpus=0,1,2,3,4”尝试一下可以运行么？

[2021-11-11 05:49] cn-Dora commented on #35940
【队名】：我的表弟不会快速傅里叶变换<br /><br />【序号】：93<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-11 06:10] Summ41 commented on #35940
【队名】：香港记者<br /><br />【序号】：70<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940<br /><br />

[2021-11-11 06:21] #35473 closed, assigned to jerrywgz

[2021-11-11 06:28] poetryben88 commented on #37116
INFO 2021-11-11 14:28:03,192 launch_utils.py:531] details abouts PADDLE_TRAINER_ENDPOINTS can be found in log/endpoints.log, and detail running logs maybe found in log/workerlog.0
launch proc_id:32410 idx:0
launch proc_id:32415 idx:1
launch proc_id:32420 idx:2
launch proc_id:32428 idx:3
launch proc_id:32433 idx:4
Start collective training example:
Run on CUDAPlace(0).
server not ready, wait 3 sec

[2021-11-11 06:29] psavms commented on #35940
【队名】：莫名我就喜欢你<br /><br />【序号】：18<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 06:36] heyy-boy commented on #35940
【队名】：黑色守望<br /><br />【序号】：47<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-11 06:47] zhangbo9674 commented on #37116
您好，感谢反馈，需要麻烦提供一下对应卡的日志，比如workerlog.4[5,6,7]

[2021-11-11 06:53] poetryben88 commented on #37116
launch proc_id:2411 idx:0
launch proc_id:2416 idx:1
launch proc_id:2421 idx:2
launch proc_id:2426 idx:3
Start collective training example:
Run on CUDAPlace(0).
server not ready, wait 3 sec to retry...
not ready endpoints:['127.0.0.1:40365', '127.0.0.1:59789', '127.0.0.1:55695']
Execute startup program.
W1111 14:29:25.490671  2411 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capabilit

[2021-11-11 06:55] zhangbo9674 commented on #37116
如果只有4张卡，那应该--gpus=0,1,2,3

[2021-11-11 06:58] poetryben88 commented on #37116
1、我有两台机器，每台都有4张RTX2080卡，现在想要把飞浆的示例跑满这8张卡。
2、直接在其中一台上敲：python3 -m paddle.distributed.launch --ips="192.168.50.191,192.168.50.190" --gpus=0,1,2,3,4,5,6,7  train_fleet_static.py
会报错：AssertionError: Can't find your local ip {127.0.0.1} in node_ips: {['192.168.50.191', '192.168.50.190']}

3、直接在其中一台上敲：python3 -m paddle.distributed.launch --ips="127.0.0.1,192.168.50.190" --gpus=0,1,2,3,4,5,6,7  train_fle

[2021-11-11 07:02] poetryben88 commented on #37116
![image](https://user-images.githubusercontent.com/15098245/141252815-932d5db6-5f2f-4a20-90f8-8fe54381210c.png)

https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/06_distributed_training/cluster_quick_start_cn.html
飞浆使用教程的上的示例是这么写的。不知道漏了哪里配置。

[2021-11-11 07:04] zhangbo9674 commented on #37116
看日志，是因为只有4张卡，所以卡号只能是0123，现在执行`python3 -m paddle.distributed.launch --ips="127.0.0.1,192.168.50.190" --gpus=0,1,2,3 train_fleet_static.py`可以正常训练么？

[2021-11-11 07:06] GuoQuanhao commented on #37092
这个issue迟迟无回应，由于build_targets没有梯度，我将build_targets全被改为numpy运算，这算是解决了我的问题

[2021-11-11 07:06] #37092 closed, assigned to nobody

[2021-11-11 07:07] poetryben88 commented on #37116
NFO 2021-11-11 15:06:14,626 launch_utils.py:531] details abouts PADDLE_TRAINER_ENDPOINTS can be found in log/endpoints.log, and detail running logs maybe found in log/workerlog.0
launch proc_id:3854 idx:0
launch proc_id:3859 idx:1
launch proc_id:3864 idx:2
launch proc_id:3870 idx:3
Start collective training example:
Run on CUDAPlace(0).
server not ready, wait 3 sec to retry...
not ready endpoints:

[2021-11-11 07:10] poetryben88 commented on #37116
python3 -m paddle.distributed.launch  --gpus=0,1,2,3 train_fleet_static.py
只能这么跑。

[2021-11-11 07:17] zhangbo9674 commented on #37116
麻烦问一下，能看到not ready endpoints对应的日志么？

[2021-11-11 07:20] poetryben88 commented on #37116
cat endpoints.log
PADDLE_TRAINER_ENDPOINTS:
127.0.0.1:6070
127.0.0.1:6071
127.0.0.1:6072
127.0.0.1:6073
192.168.50.190:6070
192.168.50.190:6071
192.168.50.190:6072
192.168.50.190:6073

endpoints.log日志就这么多。

[2021-11-11 07:39] zhangbo9674 commented on #37116
workerlog.xx的日志可以提供一下么？

[2021-11-11 09:11] developWmark opened #37132 "torch和paddle模型对齐，paddle的lstm多了几个权重，但是torch里面未出现这个，"
![Y2Y@5M) 4N6F`AOR$HLC% F](https://user-images.githubusercontent.com/93702453/141270350-729fac56-7881-4035-8660-81fd5554f47d.jpg)
转换的时候忽略了UserWarning: Skip loading for rnn.0.rnn.0.cell_bw.bias_hh. rnn.0.rnn.0.cell_bw.bias_hh is not found ，
但是模型对齐预测时，精度差别很大

[2021-11-11 09:34] #26051 closed, assigned to nobody

[2021-11-11 09:34] #27964 closed, assigned to nobody

[2021-11-11 09:34] #28343 closed, assigned to Thunderbrook, shangzhizhou

[2021-11-11 09:34] #28352 closed, assigned to zhhsplendid, Thunderbrook

[2021-11-11 09:34] #28399 closed, assigned to baiyfbupt

[2021-11-11 09:34] #28434 closed, assigned to iclementine

[2021-11-11 09:34] #28447 closed, assigned to iclementine

[2021-11-11 09:34] #28478 closed, assigned to lfchener

[2021-11-11 09:34] #28487 closed, assigned to lfchener

[2021-11-11 09:34] #28491 closed, assigned to lfchener

[2021-11-11 09:34] #28501 closed, assigned to lfchener

[2021-11-11 09:37] lidanqing-vv commented on #32282
Need to add bicubic_interp , etc fp32 oneDNN support oneDNN support. Not necessarily in Q4, long term work.
For video detection model (I haven't get model yet), only op lists
- [ ]   bicubic_interp
- [ ]   pixel_shuffle
- [ ]   fill_constant
- [ ]   while_loop
- [ ]   range
- [ ]   grid_sampler
- [ ]   zeros_like

[2021-11-11 09:47] zhangbo9674 commented on #37132
你好，请问是用的paddle.nn.LSTM么？

[2021-11-11 09:53] zhangbo9674 commented on #37132
您好，请提供代码和环境信息，我们复现后会尽快回复您

[2021-11-11 09:55] ZZHHogan opened #37134 "运行 PaddleSpeech 报错，cudaErrorNoKernelImageForDevice: no kernel image is available for execution on the device."
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu                  2.2.0
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：3090显卡，cuda版本cuda11.1
    4）系统环境：centos、Python版本：3.8.1
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 安装方式信息：
按照 https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/install/install_Cent

[2021-11-11 09:57] jim19930609 commented on #37095
目前已基本锁定问题来源于Conv3DTranspose在特定输入形状下会报错。
之前src.test能通过的原因是因为输入形状为[2, 128, 64, 64, 64]，改成和训练一致的[4, 128, 64, 64, 64]会出错。已联系相关同事跟进

Bug复现代码：

import paddle

x= paddle.randn([4, 128, 64, 64, 64])
layer = paddle.nn.Conv3DTranspose(128, 128, 2, 2, 0, 0, bias_attr=False)
out = layer(x)

[2021-11-11 09:57] MaDFolking commented on #37039
这个问题目前解决了，我还想问个问题，为什么我有时候用docker重新部署paddlenlp==2.1.0版本时，它会跑的特别慢，我用的是清华同源，有什么其他方法可以加速吗？

[2021-11-11 10:08] developWmark commented on #37132
是用的paddle.nn.LSTM，代码我是直接贴出来吗还是加微信发给你

[2021-11-11 10:18] jim19930609 commented on #37105
主要原因出在paddle.set_device()接口，需要传入字符串。可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/device/set_device_cn.html#set-device

按照你的思路修改了一下Paddle部分，亲测可以跑通。看能不能解决你的问题：

import paddle
import numpy as np

class Args:
    def __init__(self):
        self.use_gpu = True
        self.seed = 2022

args = Args()

if __name__ == "__main__":
    paddle.seed(args.seed)
    use_gpu = True

[2021-11-11 10:19] developWmark commented on #37132
import torch.nn as nn
import torch.nn.functional as F
from opt_einsum.backends import torch
import torch
class BidirectionalLSTM(nn.Module):
    # Inputs hidden units Out
    def __init__(self, nIn, nHidden, nOut):
        super(BidirectionalLSTM, self).__init__()

        self.rnn = nn.LSTM(nIn, nHidden, bidirectional=True)
        self.embedding = nn.Linear(nHidden * 2, nOut)

    def forward(se

[2021-11-11 10:52] zhangbo9674 commented on #37134
您好，我了解到paddle2.2版本刚刚发布，确定安装的是2.2版本的paddle么？

[2021-11-11 11:05] yt605155624 commented on #37134
看报错信息是 2.0.0

[2021-11-11 11:35] Xyj2020 opened #37137 "jetson上源码编译paddle"
在jetson上源码编译paddle，make的时候需要连网下一些依赖，但是直接下载github会失败，请问要到哪里能将https://github.com修改为https://hub.fastgit.org/？

[2021-11-11 11:39] poetryben88 commented on #37116
![image](https://user-images.githubusercontent.com/15098245/141291850-d84f2998-1312-43af-ad6e-71a06a843ecd.png)
![image](https://user-images.githubusercontent.com/15098245/141291876-225fab7f-a9fc-4235-9141-fb6847ace433.png)

GPU 4，5，6，7 错误都一样，GPU 0，1，2，3 正常。

[2021-11-11 11:56] Xuanfang1121 opened #37139 "多卡训练报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==2.1.3.post112
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：3080Ti，2080Ti，CUDA==11.2
    4）系统环境：Ubuntu 16.04.7 ，python==3.7
 注：您可以通过执行[summary_env.py](https://github.

[2021-11-11 12:03] Xuanfang1121 opened #37140 "多卡模型训练选择显卡"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==2.1.3.post112
    2）CPU：
    3）GPU：2080Ti，3080Ti，cuda==11.2
    4）系统环境：Ubuntu 16.04.7， python==3.7
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/su

[2021-11-11 12:28] zhangbo9674 commented on #37134
你好，2.0.0应该还不支持CUDA11.1。

[2021-11-11 12:43] zhangbo9674 commented on #37137
你好，这种问题通常是网络问题，如果一定要修改，在/cmake/externel/路径下的camke文件中有很多指定GIT_URL，建议考虑换一下网络。

[2021-11-11 13:06] Xyj2020 commented on #37137
你好，感谢回答，我在CMakeLists.txt里面更换了，已经开始编译了，但是现在又遇到这个错误，请问应该怎么解决？感觉这个网络一直是个问题，或者你们有没有下载好的第三方库可以发我一份吗？我是编译的paddle2.0.0，错误如下：

CMakeFiles/extern_eigen3.dir/build.make:90: recipe for target 'third_party/eigen3/src/extern_eigen3-stamp/extern_eigen3-download' failed
make[2]: *** [third_party/eigen3/src/extern_eigen3-stamp/extern_eigen3-download] Error 1
CMakeFiles/Makefile2:309: recipe for target 'CMakeFiles

[2021-11-11 13:08] zhangbo9674 commented on #37139
您好，报错信息需要复现代码，请提供代码和环境信息，我们复现后会尽快回复您

[2021-11-11 13:27] zhangbo9674 commented on #37137
您好，很抱歉，我们这没有下载好的第三方库，还是建议调试一下网络环境。此外，paddle提供了jetson各个版本的预测库，希望有所帮助：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_hardware_support/hardware_info_cn.html#paddle-inference

[2021-11-11 13:31] zhangbo9674 commented on #37140
您好，需要确定2080Ti显卡的卡号，而后通过paddle.set_device(device)指定：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/device/set_device_cn.html#set-device

[2021-11-11 13:36] Xyj2020 commented on #37137
你好，我的jetson现在不能科学上网，我想请问你们在编译的时候是如何调整网络环境的？我已经改了GIT_URL，可是在编译的时候还是会有一些地方需要连外网，比如说这个网址：https://gitlab.com/libeigen/eigen.git，就一直卡在这里报错，请问你们遇到这种问题是怎样解决的。（paddle提供的预测库我用不上，需要自己编译，不好意思我太菜了）

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"

[2021-11-11 13:52] zhangbo9674 commented on #37116
麻烦尝试设置python3 -m paddle.distributed.launch --ips="127.0.0.1,192.168.50.190" --gpus=0,1,2,3 train_fleet_static.py

[2021-11-11 14:25] tongxin commented on #37039
可能还需要明确一下复现的条件。

[2021-11-12 01:00] poetryben88 commented on #37116
(paddle_env) pai-worker1: python3 -m paddle.distributed.launch --ips="127.0.0.1,192.168.50.190" --gpus=0,1,2,3 train_fleet_static.py
-----------  Configuration Arguments -----------
backend: auto
elastic_server: None
force: False
gpus: 0,1,2,3
heter_worker_num: None
heter_workers:
host: None
http_port: None
ips: 127.0.0.1,192.168.50.190
job_id: None
log_dir: log
np: None
nproc_per_node: None
run_m

[2021-11-12 01:07] TCChenlong commented on #37057
你好，我们非常欢迎你提相关的功能PR，期间有任何问题都可以联系我~

[2021-11-12 01:48] skpig commented on #37057
@TCChenlong 您好，我现在考虑的是在metric中实现一个新类，维护一个混淆矩阵，根据用户的需要，在`compute()`中返回对应的指标或者返回全部的指标。过去的precision, recall的类相当于是分别维护混淆矩阵。至于具体的multi-labels的参数，我会基本按照sklearn中参数来写。您看这样可以吗？

[2021-11-12 02:16] gsq7474741 commented on #35940
【队名】：PeachML

【序号】：6

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/37151

[2021-11-12 02:39] joey12300 commented on #37039
@MaDFolking 特别慢是指比单机部署的时候要慢很多吗？

[2021-11-12 03:11] zhangbo9674 commented on #37116
麻烦在环境中执行：
import socket
socket.gethostbyname(socket.getfqdn(socket.gethostname()))
看一下返回的是什么结果。
此外，麻烦辛苦确认一下，python脚本是否是官网的train_fleet_static.py

[2021-11-12 03:23] kuizhiqing commented on #37116
解决方法参考 https://github.com/PaddlePaddle/Paddle/issues/34533，
能分享下你的网络配置看下为什么环境里面
`socket.gethostbyname(socket.getfqdn(socket.gethostname())) `
解析不到对应的 ip 吗？

[2021-11-12 05:39] poetryben88 commented on #37116
![image](https://user-images.githubusercontent.com/15098245/141415839-d07fa35d-2b47-4ab2-a42f-5becc9085ae9.png)

[2021-11-12 05:40] poetryben88 commented on #37116
我的环境网络是anaconda 创建的，train_fleet_static.py 脚本是官网的，未做改动。

[2021-11-12 06:32] zhangbo9674 commented on #37116
您好，请尝试使用下面1或2的方法：（相似问题issue：https://github.com/PaddlePaddle/Paddle/issues/34533）
<img width="653" alt="图片" src="https://user-images.githubusercontent.com/82555433/141420997-cfdb4441-71b7-4a2a-abf9-4adb55306fe4.png">

[2021-11-12 06:43] poetryben88 commented on #37116
![image](https://user-images.githubusercontent.com/15098245/141422258-5e599592-dcd8-4108-858a-9997fbe5eafd.png)
![image](https://user-images.githubusercontent.com/15098245/141422292-8b7764a0-27ff-4dc8-8148-2d5f19344c9e.png)
还是不行啊

[2021-11-12 06:53] zhangbo9674 commented on #37116
lanch使用示例可见：https://github.com/PaddlePaddle/Paddle/blob/742378f47f71083291dafd414c33e5b69d775f8b/python/paddle/distributed/fleet/launch.py#L456
![图片](https://user-images.githubusercontent.com/82555433/141423426-b155fdd1-e817-4834-8e10-d0b7716b7f3b.png)

[2021-11-12 07:19] poetryben88 commented on #37116
![image](https://user-images.githubusercontent.com/15098245/141426321-4db385c0-a6f7-4c59-b5e9-c3a208fea159.png)

![image](https://user-images.githubusercontent.com/15098245/141426335-7787a9e5-6b0b-4427-8879-a280912a00b4.png)

兄弟们，不行啊。。

[2021-11-12 07:44] poetryben88 commented on #37116
python3 -m paddle.distributed.launch --ips=192.168.50.191,192.168.50.190 --gpus=0,1,2,3  train_fleet_static.py
![image](https://user-images.githubusercontent.com/15098245/141428809-d6a30cd3-bb48-45c6-a941-179402fd289e.png)
python3 -m paddle.distributed.launch --ips="192.168.50.191,192.168.50.190" --gpus=0,1,2,3  train_fleet_static.py
![image](https://user-images.githubusercontent.com/15098245/1414

[2021-11-12 08:01] zhangbo9674 commented on #37116
建议检查cuda版本及cudnn版本。

[2021-11-12 08:32] vim-key commented on #35940
【队名】：螺旋上天<br /><br />【序号】：86<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 08:37] Alone-win7 commented on #35940
【队名】：电子设计<br /><br />【序号】：91<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 08:41] Acolalalasia commented on #35940
【队名】：暗黑杂鱼<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 08:41] poetryben88 commented on #37116
NVIDIA-SMI 470.57.02    Driver Version: 470.57.02    CUDA Version: 11.4
cuDNN Version: 7.6.1

[2021-11-12 08:49] ex-shunfeng commented on #35940
【队名】：微光<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 08:49] ex-shunfeng commented on #35940
【队名】：微光<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 09:07] fengwang2 commented on #35940
【队名】：上邪<br /><br />【序号】：90<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 09:07] fengwang2 commented on #35940
【队名】：上邪<br /><br />【序号】：90<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 09:14] justwork3K commented on #35940
【队名】：复苏<br /><br />【序号】：91<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 09:21] Killcmd2 commented on #35940
【队名】：我为大佬续一秒<br /><br />【序号】：86<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 09:29] golpeace commented on #35940
【队名】：喂自己袋烟<br /><br />【序号】：88<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 09:35] irlgdnd commented on #35940
【队名】：jony j 很酷<br /><br />【序号】：85<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 09:43] SagarFade commented on #35940
【队名】：夜幕<br /><br />【序号】：91<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 09:51] zhangbo9674 commented on #37116
你好，我了解到cuda和cudnn版本是存在对应关系的：
<img width="677" alt="图片" src="https://user-images.githubusercontent.com/82555433/141447288-bbf14542-717a-43a3-bd49-83b6dd2ecc5a.png">

[2021-11-12 09:54] zhangbo9674 commented on #37116
https://developer.nvidia.com/rdp/cudnn-archive

[2021-11-12 09:58] yaorange2019 commented on #35940
【队名】：达拉斯<br /><br />【序号】：89<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 10:12] xiao2qing commented on #35940
【队名】：打完这场比赛就回家种田<br /><br />【序号】：89<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 10:21] fletcherjiang commented on #35940
【队名】：该不该绿<br /><br />【序号】：89<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 10:31] AngleBing commented on #35940
【队名】：没有中文名<br /><br />【序号】：87<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 10:38] coastline0 commented on #35940
【队名】：行吧<br /><br />【序号】：88<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 10:44] look-house commented on #35940
【队名】：金色传说！<br /><br />【序号】：87<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 10:51] z1131321467 commented on #35940
【队名】：一百七十转二进制后一的个数开根号队<br /><br />【序号】：89<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 10:57] 927601463487572 commented on #35940
【队名】：盐鱼<br /><br />【序号】：91<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 11:05] esirena commented on #35940
【队名】：可爱多_香芋味队<br /><br />【序号】：89<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 11:16] Hello-abxc commented on #35940
【队名】：白<br /><br />【序号】：22<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/PaddlePaddle/Paddle<br /><br />

[2021-11-12 11:21] mha90i commented on #35940
【队名】：深白<br /><br />【序号】：85<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 11:27] AllmeMute commented on #35940
【队名】：南天王<br /><br />【序号】：90<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 11:33] zhewodeshijie commented on #35940
【队名】：喂自己袋烟<br /><br />【序号】：89<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 11:46] T-shiirt commented on #35940
【队名】：三大队三组<br /><br />【序号】：88<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 11:58] jiweibo commented on #37137
您好，可以试下在https://gitee.com 上克隆下github的仓库哈，这个访问是不需要代理的。

[2021-11-12 11:59] githubskying commented on #35940
【队名】：彩虹岛挖矿队<br /><br />【序号】：91<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 12:09] xslza commented on #35940
【队名】：三大队二组<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 12:22] Blurlik commented on #35940
【队名】：无惧号<br /><br />【序号】：86<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 12:35] poetryben88 commented on #37116
![image](https://user-images.githubusercontent.com/15098245/141468120-db65025d-7ff4-4756-8f08-21bb1dd38fa6.png)

NVIDIA-SMI 470.57.02    Driver Version: 470.57.02    CUDA Version: 11.4
cuDNN Version: 8.2.2

我现在换成对应的版本也不行啊

[2021-11-12 12:38] fupunet commented on #35940
【队名】：微光<br /><br />【序号】：86<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 12:43] jlkyl commented on #35940
【队名】：先天下之忧而忧<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 12:52] xiaocunPic commented on #35940
【队名】：我的表弟不会快速傅里叶变换<br /><br />【序号】：88<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 12:56] SolidBase commented on #35940
【队名】：米库米库<br /><br />【序号】：88<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 13:05] wangdaxiannb commented on #35940
【队名】：上邪<br /><br />【序号】：88<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 13:19] wuliangx3 commented on #35940
【队名】：TJU_firstonlinecasino<br /><br />【序号】：92<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 13:34] zvjiwnhua commented on #35940
【队名】：黑人问号.jpg<br /><br />【序号】：89<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 13:45] unseenme commented on #35940
【队名】：UnseenMe

【序号】：91

【状态】：提交

【链接】：https://github.com/Openvino-dev-contest/openvino/pull/26

[2021-11-12 13:50] 8baxian commented on #35940
【队名】：蒟蒻炒辣鸡<br /><br />【序号】：87<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 13:57] stop-tear commented on #35940
【队名】：好好训练别水群<br /><br />【序号】：90<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 14:02] qiafgzp-beijing821 commented on #35940
【队名】：八阿哥缔造者<br /><br />【序号】：88<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 14:16] xulijun137 commented on #35940
【队名】：江逐八卦水月乱洒<br /><br />【序号】：86<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 14:29] 825126369X commented on #35940
【队名】：我的貂蝉在哪里<br /><br />【序号】：87<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />

[2021-11-12 14:42] Arrowofficial commented on #35940
【队名】：暗中观察<br /><br />【序号】：87<br /><br />【状态】：报名<br /><br />【链接】：https://github.com/openvinotoolkit/openvino<br /><br />