[2021-09-16 10:50] lidanqing-vv commented on #35756
@zhuguiqian  https://github.com/PaddlePaddle/docs/blob/develop/doc/fluid/design/mkldnn/bfloat16/bfloat16.md
Please refer to bottom of this page.

[2021-09-16 10:58] baoachun commented on #34723
@jakpiase
Hi, now the model can reason normally, but the prediction result of solov2 is incorrect.
expect：
![图片](https://user-images.githubusercontent.com/22114318/133600416-2c35760e-2f72-4be4-9b33-6649ffe9302b.png)

wrong：
![图片](https://user-images.githubusercontent.com/22114318/133600476-dabdc50a-b69b-4e44-9ded-94b796d0413c.png)

[2021-09-16 11:51] rayleoyoung commented on #29172
请问问题解决了吗

[2021-09-16 12:37] jakpiase commented on #35574
@baoachun I couldn't find a way how to download "..inference/ShuffleNetV2" model, but I have found

And I have ran this model. It gives same result with and without oneDNN enabled. If I have tested wrong model could you please tell me how to download the correct one?
And pcpvt_base model will be fixed by: #35781(disabling reshape and squeeze ops)

[2021-09-16 12:41] jakpiase commented on #34723
Solov2 model should give proper results after #35781 will be merged

[2021-09-16 13:14] baoachun commented on #35574
@jakpiase
Hi, the model that you used is correct, and the prediction result is wrong compare with CPU.
![图片](https://user-images.githubusercontent.com/22114318/133618624-6d512c54-8d92-4c53-8d30-3b026070088e.png)

[2021-09-16 13:22] Buptguozijun opened #35810 "scale_sparse_gradient_with_batch_size_"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】
麻烦问下，训练更新梯度的代码里https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/fleet/fleet_wrapper.cc#L283
这一行的代码含义为：所有的梯度都会和batchsize相乘，请问下这样做的含义是什么呢？

[2021-09-16 13:23] jakpiase commented on #35574
Hi, @baoachun, sorry for my mistake, you are right. These results are incorrect now, but I have checked and they will be fixed after #35781 is merged

[2021-09-16 13:34] liyun-lu commented on #34526
【队名】：绝绝子

【序号】：114

【论文】：Comprehensive Semi-Supervised Multi-Modal Learning

【状态】：报名

【repo链接】：https://github.com/GXU-GMU-MICCAI/CMML-Paddle

[2021-09-16 13:41] Thunderbrook commented on #35810
这是一个相对定制化的功能，可以通过config关闭

[2021-09-16 13:48] CuberrChen commented on #35749
@heavengate 好的 我换下版本试下

[2021-09-16 14:13] zhiqiu commented on #35555
Hi, @JanuszL Please refer to: https://github.com/PaddlePaddle/Paddle/pull/35813

[2021-09-16 15:05] Sunyingbin opened #35816 "如何保存参数和model，在没有用paddle自带的model和loss时"
   1）PaddlePaddle版本：2.1
    2）系统环境：window10， python3.7

你好，我使用自己搜集的数据做预测，由于想用一个新的loss function，好像paddle没有这个function，相当于目前只用numpy写了一层的模型和一个loss，用了paddle的metric.Accuracy()来计算准确率，但是想用paddle保存参数的方式，把我训练得到的权重w存起来，该怎么存呢，paddle.jit.save、paddle.save都封装了参数，我现在只有参数w。

[2021-09-16 15:21] JanuszL commented on #35555
Hi @zhiqiu,

That should do. I will check the nightly build as soon as it is merged. Thanks a lot.

[2021-09-17 01:09] Essence9999 commented on #35564
cuda11.2
这个跟版本，驱动应该没有关系吧~
单进程跑，没有问题
多进程跑，也会提示这个问题

难道是高版本的cuda支持多进程？

[2021-09-17 01:14] my777777 commented on #35731
thx

[2021-09-17 01:14] #35731 closed, assigned to nobody

[2021-09-17 01:25] tughv commented on #35749
我的就是2.1.2，还是使用的官方mnist数据集
`import paddle
from paddle.vision.models import LeNet
from paddle.vision.transforms import Compose,Normalize,Grayscale,Resize
from paddle.metric import Accuracy
import paddle.nn.functional as F
#使用transform对数据集做归一化
transform = Compose([Normalize(mean=(127.5),std=[127.5],data_format="CHW"),Grayscale(num_output_channels=1),Resize(28)])
train_dataset = paddle.vision.datasets

[2021-09-17 01:29] JunnYu opened #35819 "【论文复现】 paddle.matmul 与 torch.matmul在不同环境下误差不一样。"
- 版本、环境信息：
- 环境1
    1）RTX3090     PaddlePaddle版本：2.1.2+cu11.2       Pytorch版本1.9.0+cu11.1
- 环境2
    2）V100-32G     PaddlePaddle版本：2.1.2+cu10.2       Pytorch版本1.9.0+cu10.2

# paddle.matmul 与 torch.matmul在上述环境下，对于`特定的输入`产生误差！
代码链接：链接：https://pan.baidu.com/s/1dIKVz2DIIEOzeeOH4QL1AQ
提取码：1iex
## compare1.ipynb 例子（从模型1中抽取到的特定输入和权重）
[code]
## compare2.ipynb 例子（从模型2中抽取到的特定输入和权重）
[code]
# 问题：
- 对于compare1

[2021-09-17 02:10] zhuguiqian commented on #35756
thanks

[2021-09-17 02:10] #35756 closed, assigned to nobody

[2021-09-17 02:11] sandyhouse commented on #35564
按照nvidia官方推荐的驱动版本配置吧。版本不匹配的话很容易出现各种兼容性问题。

[2021-09-17 02:15] Essence9999 commented on #35564
用的是百度官方的paddlepaddle/paddle:2.1.2-gpu-cuda11.2-cudnn8部署的，而且单任务gpu执行没问题啊，不应该是配置的问题啊

[2021-09-17 02:27] sandyhouse commented on #35564
驱动是依赖于物理机的驱动版本的。docker里面只是固定了cuda和cudnn版本。

[2021-09-17 02:34] Essence9999 commented on #35564
同环境，我之前已训练了检测模型，GPU利用率90%，而且单任务预测，gpu使用没问题，怎么可能还是驱动版本问题呢？
（GeForce RTX 3070；NVIDIA-SMI 460.39       Driver Version: 460.39       CUDA Version: 11.2   ）

[2021-09-17 02:38] Essence9999 commented on #35564
刚查了最新的驱动版本是470.63.01，有必要更新到最新版本驱动吗？

[2021-09-17 02:39] sandyhouse commented on #35564
你的问题不是这个问题？那麻烦把你的报错信息贴下吧。我一直以为你问的还是这个问题。

[2021-09-17 02:44] Essence9999 commented on #35564
![image](https://user-images.githubusercontent.com/66725845/133715787-67fddb7d-3bdc-41f5-bc33-9b7a4d44d8d9.png)
开一个进程，没错
开了两个进程，报如下的错：
ERROR:predict_system_flask:Exception on / [POST]
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/flask/app.py", line 2070, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python3.7/dist-packages/flask

[2021-09-17 02:48] CuberrChen commented on #35749
我用的就是2.1.2 。还是找不到问题所在。我检查了数据预处理代码，全是numpy的数据处理。

[2021-09-17 02:56] Reneea1 commented on #35747
我理解conv2d是用矩阵乘实现的，那这里为啥amp对矩阵乘有加速，但是对conv2d加速不明显呢？

[2021-09-17 03:01] Shawn6688 commented on #35749
我也是2.1.2

[2021-09-17 03:11] WenmuZhou commented on #35564
麻烦提供一个可复现的脚本

[2021-09-17 03:38] Essence9999 commented on #35564
#! -*- coding: utf-8 -*-
from tornado.wsgi import WSGIContainer
from tornado.httpserver import HTTPServer
from tornado.ioloop import IOLoop

import os
import sys
import subprocess

__dir__ = os.path.dirname(os.path.abspath(__file__))
sys.path.append(__dir__)
sys.path.append(os.path.abspath(os.path.join(__dir__, '../..')))

os.environ["FLAGS_allocator_strategy"] = 'auto_growth'
os.environ["KMP_DUPL

[2021-09-17 03:39] Essence9999 commented on #35564
`#! -*- coding: utf-8 -*-
from tornado.wsgi import WSGIContainer
from tornado.httpserver import HTTPServer
from tornado.ioloop import IOLoop

import os
import sys
import subprocess

__dir__ = os.path.dirname(os.path.abspath(__file__))
sys.path.append(__dir__)
sys.path.append(os.path.abspath(os.path.join(__dir__, '../..')))

os.environ["FLAGS_allocator_strategy"] = 'auto_growth'
os.environ["KMP_DUP

[2021-09-17 03:39] Essence9999 commented on #35564
#! -*- coding: utf-8 -*-
from tornado.wsgi import WSGIContainer
from tornado.httpserver import HTTPServer
from tornado.ioloop import IOLoop

import os
import sys
import subprocess

__dir__ = os.path.dirname(os.path.abspath(__file__))
sys.path.append(__dir__)
sys.path.append(os.path.abspath(os.path.join(__dir__, '../..')))

os.environ["FLAGS_allocator_strategy"] = 'auto_growth'
os.environ["KMP_DUPL

[2021-09-17 04:18] MarginGitHub commented on #35749
我也是，每次训练10个小时左右必然耗尽内存，然后导致训练被killed，我的训练机器内存是128G的，paddle版本是2.1.2

[2021-09-17 04:26] tughv commented on #35749
我启动就报错，一轮训练都没有开始，使用torch去实现一样的就没有问题

[2021-09-17 06:08] OliverLPH commented on #34554
@lidanqing-intel the problem I met is segmentation fault
you log looks like test data were corrupts?
<img width="933" alt="3bef61accb796cd063a33c88b3126cd2" src="https://user-images.githubusercontent.com/14963836/133732988-c56ae231-c460-47d5-9bde-cb783570a0dc.png">

[2021-09-17 07:17] tt8000 commented on #34526
【队名】：咸鱼翻身

【序号】：106

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：报名&提交

【repo链接】：https://github.com/2U-maker/Paddle-CycleMLP

[2021-09-17 08:57] one-matrix commented on #35766
我想知道 -lrt 这个简写的包是什么

[2021-09-17 09:06] huangshenneng commented on #34526
【队名】：联通软件研究院新客服AI团队

【序号】：61

【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild

【状态】：报名

【repo链接】：https://github.com/huangshenneng/padd_retinaface

[2021-09-17 09:41] ShiningZhang commented on #35786
您好，可以参考示例进行预测部署，有多种形式可供选择
https://paddle-inference.readthedocs.io/en/latest/quick_start/cpp_demo.html

[2021-09-17 09:46] ShiningZhang commented on #35796
您好，请参考windows预测部署示例进行设置，文档如下
https://paddle-inference.readthedocs.io/en/latest/demo_tutorial/x86_windows_demo.html
另可以检查下载文档：https://paddle-inference.readthedocs.io/en/latest/user_guides/download_lib.html#windows
查看下载库版本与下载的transformer c++ demo代码版本是否一致

[2021-09-17 09:52] hcwei13 commented on #34526
【队名】：4056

【序号】：114

【论文】：Comprehensive Semi-Supervised Multi-Modal Learning

【状态】：提交

【repo链接】：https://github.com/whongchen/CMML-Paddle

[2021-09-17 10:06] Samue1Xu commented on #34526
【队名】：Samue11

【序号】：70

【论文】：Convolutional Sequence to Sequence Learning

【状态】：报名

【repo链接】：https://github.com/Samue1Xu/Paddle_conv_seq2seq

[2021-09-17 10:16] jakpiase commented on #35794
Hi @baoachun, I have downloaded ch_PP-OCRv2_rec_infer.tar, I have also changed filenames from "inference..pdiparams" to "params" and from "inference.pdmodel" to "model" and I am getting "list index out of range" error when I run
 `python tools/infer/predict_rec.py --image_dir=doc/imgs_words/ch/word_1.jpg --rec_model_dir=./rec_models_ch/ch_PP-OCRv2_rec_infer --rec_image_shape="3, 32, 100" --rec_cha

[2021-09-17 10:56] jakpiase commented on #35794
Hi @baoachun, @JiaXiao243 sent a screenshot in #35781 that disabling reshape and squeeze ops fixes both ch_PP-OCRv2_rec_infer and shufflenetv2, can I close these two issues?

[2021-09-17 11:01] jczaja commented on #34554
@OliverLPH Using SHA you gave I was able to reproduce a problem (occasionally) and it is Segmentation Fault. So I'm trying to fix it

[2021-09-17 11:05] baoachun commented on #35794
@jakpiase
Yep，thank you.

[2021-09-17 11:05] #35794 closed, assigned to jakpiase

[2021-09-17 11:05] #35574 closed, assigned to jakpiase

[2021-09-17 11:06] jakpiase commented on #34723
@baoachun #35781 has been merged. Could you please test and confirm if solov2 is giving proper results?

[2021-09-17 11:11] baoachun commented on #34723
@jakpiase
OK，I'm working on it, please wait a while.

[2021-09-17 11:24] Robert23333 commented on #34526
【队名】：小小萝卜

【序号】：38

【论文】：R-Drop: Regularized Dropout for Neural Networks

【状态】：报名

【repo链接】：https://github.com/Robert23333/Paddle_R-Drop

[2021-09-17 11:30] jakpiase commented on #32282
Flatten op is doable and will be done when reshape and squeeze will be re-enabled(after adding memory descriptor to tensor)

[2021-09-17 12:38] ZhangFengshun opened #35844 "paddle.grad求三阶导报错"
代码如下：
<img width="838" alt="屏幕截图 2021-09-17 203007" src="https://user-images.githubusercontent.com/89072581/133783616-59222de0-6ab0-4ed7-935c-33e076b887bd.png">
报错信息如下：
<img width="842" alt="屏幕截图 2021-09-17 203108" src="https://user-images.githubusercontent.com/89072581/133783653-57a71d48-9218-4f8b-8d7a-02089ace0094.png">
相似代码用torch不报错，如何使用paddle的自动微分求解三阶导数？

[2021-09-17 13:20] Mwy98 commented on #34526
【队名】：BUPT-ANT

【序号】：22

【论文】：Real-Time-High-Resolution-Background-Matting

【状态】：报名

【repo链接】：https://github.com/Mwy98/Real-Time-High-Resolution-Background-Matting_paddle

[2021-09-17 14:25] 1023280072 commented on #34526
【队名】：冲鸭鸭鸭鸭
【序号】：9
【论文】：YOLOX: Exceeding YOLO Series in 2021
【状态】：报名
【repo链接】：https://github.com/1023280072/yolox

[2021-09-17 14:44] munanfan commented on #34526
【队名】：茉莉花茶

【序号】：37

【论文】：XCiT: Cross-Covariance Image Transformers

【状态】：报名

【repo链接】：https://github.com/munanfan/XCiT_Paddle

[2021-09-17 15:51] KinvenW opened #35850 "RuntimeError: (NotFound) No grad node corresponding to grad Tensor"
你好，我在训练模型时遇到以下这样的问题，是在执行loss.backward()时时报错。
loss打印出来是这样的：
Tensor(shape=[1], dtype=float32, place=CUDAPlace(0), stop_gradient=False,
       [0.06518131])
可能是哪些原因呢？

- 版本、环境信息：
    1）PaddlePaddle版本：2.1
    2）CPU：-
    3）GPU：P40

File "/root/paddlejob/workspace/env_run/anaconda/lib/python3.7/site-packages/paddle/distributed/spawn.py", line 261, in _func_wrapper
    result = func(*args)
File "/root/p

[2021-09-17 16:11] jakpiase commented on #35307
This issue was associated with wrong memory tag format deduction. It will be fixed as soon as fixing PR will be merged

[2021-09-18 01:47] morgan-bc opened #35855 "建议增加 paddle.transpose 对 bool 类型数据的支持"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：2.1.2
2）CPU/GPU：
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：目前 paddle.transpose 不持支对 bool 类型数据操作，例如
[code]
上面的代码会出现如下错误
[code]

- 建议描述：建议增加 paddle.transpose 对 bool 类型数据的支持

[2021-09-18 02:07] gujingxiao commented on #33404
看起来好像这个commit并没有被merge进去，所以这个问题在2.1.2版本中依然存在。如果使用conda存在这个问题的话，经过我个人实测有效的方法：
1  conda activate 自己的环境
2  vim ~/.bashrc
3. 把里面的系统cuda环境注掉
4. source ~/.bashrc
5. 再重新conda activate 自己的环境

然后就可以正常使用了。我这边系统里默认的是cuda11.1和cudnn8.0。conda里面装的是cuda11.2和cudnn8.1。使用了上述方法，就可以使用，不会再报cudnn mismatch的问题了。

[2021-09-18 02:07] gujingxiao commented on #33208
看起来好像这个commit并没有被merge进去，所以这个问题在2.1.2版本中依然存在。如果使用conda存在这个问题的话，经过我个人实测有效的方法：
1  conda activate 自己的环境
2  vim ~/.bashrc
3. 把里面的系统cuda环境注掉
4. source ~/.bashrc
5. 再重新conda activate 自己的环境

然后就可以正常使用了。我这边系统里默认的是cuda11.1和cudnn8.0。conda里面装的是cuda11.2和cudnn8.1。使用了上述方法，就可以使用，不会再报cudnn mismatch的问题了。

[2021-09-18 02:47] KinvenW commented on #35850
补充：
model的调用代码如下，这样是会报以上的错误的：
`
loss = model(
input_ids_pos=ernie_pos_src_ids.index_select(index=selected),
              position_ids_pos=ernie_pos_position_ids.index_select(index=selected),
              token_type_ids_pos=ernie_pos_sent_ids.index_select(index=selected),
              pos_labels=pos_labels.index_select(index=selected),
          )
`
但是，如果不使用index_select进行按行选取样本，那就不会报错：
`
loss =

[2021-09-18 03:31] yaoxuefeng6 commented on #35844
你好 这个错误是因为使用的elementwise_mul op没有对应的三阶导数op，paddle暂时还没有实现， 我们评估下这个需求哈

[2021-09-18 03:44] namephil commented on #34526
【队名】：HOOK

【序号】：100

【论文】：Deep Session Interest Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/namephil/PaddleRec_DSIN

[2021-09-18 04:00] yt605155624 opened #35857 "CUPTI_ERROR_INSUFFICIENT_PRIVILEGES."
添加 profiler 的时候报错如下：
/paddle/paddle/fluid/platform/device_tracer.cc:131: error: function dynload::cuptiActivityEnable(CUPTI_ACTIVITY_KIND_MEMCPY) failed with error CUPTI_ERROR_INSUFFICIENT_PRIVILEGES.
profiler 用的是这个  https://github.com/PaddlePaddle/PaddleClas/pull/729

[2021-09-18 05:35] Yanxing-Shi commented on #34739
@thinkall
 hi，我用最新的develop版本的paddle环境尝试复现，但是没有发现该问题。请用最新的paddle版本尝试一下，如果仍然有问题，请及时反馈，谢谢～

[2021-09-18 06:03] homalozoa commented on #26620
可以可以，能帮忙更新下AUR吗兄弟 @linhandev ,Out-of-Date 了。

[2021-09-18 06:19] FesianXu opened #35860 "如何动量更新模型参数"
paddle 2.0 中的静态图是否可以动量更新参数，比如假设时刻t时的网络A的参数为W_{t}，网络B的参数为C_{t}, 那么下一个时刻的参数更新为：  W_{t+1} = mC_{t} + (1-m)W_{t}。

[2021-09-18 06:54] thinkall commented on #34739
谢谢。我是用的2.1.0版本。不过在实际使用中我是把 sparse 改成 False 规避这个问题的。
看来develop版本已经完整支持了，👍

[2021-09-18 06:54] #34739 closed, assigned to ForFishes

[2021-09-18 06:58] yt605155624 commented on #35857
问题解决了，docker 不需要 --privileged ，--cap-add SYS_ADMIN 就可以，但是 docker 里面的要是 root 用户才可以，我刚开始用的是自己的账户虽然有 root 权限也不行

[2021-09-18 07:16] #35857 closed, assigned to iclementine

[2021-09-18 07:27] zhwesky2010 commented on #35397
【**Paddle参数初始化的特别说明**】目前的优先级顺序是：
---
1. param_attr中的initializer参数 ->
2. set_global_initializer ->
3. creat_parameter的default_initializer参数 ->
4. 如上面都没有设置，则会对weight进行Xavier初始化，对bias进行Constant(0.0)初始化

改动可能会造成一些其他模型的不兼容现象。

[2021-09-18 07:34] DejaYang opened #35865 "安装完成后，执行paddle.utils.run_check()一直无反应"

[2021-09-18 07:57] zhwesky2010 commented on #34428
@lihui669 需要检查下CUDA安装路径是否在环境变量中，否则无法找到正确的dll

[2021-09-18 08:50] yg2015 commented on #34526
【队名】：黄河

【序号】：4

【论文】：EfficientDet: Scalable and Efficient Object Detection

【状态】：报名

【repo链接】：https://github.com/yg2015/paddle_efficient_net

[2021-09-18 09:22] yt605155624 commented on #35397
我们认为这样的优先级的顺序应该是不对的，至少用户已经明确指定了初始化方式的不应该被 set_global_initializer 覆盖掉，set_global_initializer 更应该是对 4 的补充，默认的是 Xavier 和 Constant，set_global_initializer 改变了默认的方式，所以优先级 应该是 2->3->1->4, set_global_initializer(None) 从使用上来说非常不灵活，目前的优先级感觉也不太符合使用习惯，关于优先级的确定，在我们提出 issue 和 icafe 卡片之后是否有相应的讨论，可以发出如此设计优先级的文档嘛？

[2021-09-18 09:32] #35816 closed, assigned to Thunderbrook

[2021-09-18 09:34] yingyibiao commented on #35397
mark

[2021-09-18 10:40] baoachun commented on #34723
@jakpiase
Hi, all problems have been resolved.

[2021-09-18 10:42] jakpiase commented on #34723
Awesome, thank you for fruitful collaboration

[2021-09-18 10:42] #34723 closed, assigned to lidanqing-vv, jakpiase

[2021-09-18 11:22] yingyibiao commented on #35819
mark

[2021-09-18 11:44] yingyibiao commented on #35819
@ZeyuChen 这个matmul我们需要彻底理清楚到底有哪些问题

[2021-09-18 13:01] CuberrChen commented on #35749
问题未解决，使用了另外一种训练方法：收集内存信息，大于一定阈值终止训练等到内存释放后再继续resume。太难了..
无论最后比赛结束是否达到题目验收标准，都会开源项目，希望到时感兴趣的大佬/飞浆工作人员看下哪里有问题。

[2021-09-18 13:42] Shawn6688 commented on #35749
我自己写了dataloader，发现并不是官方的dataloader导致的内存泄漏。进行了一些实验目前追踪到是paddle.jit.save()保存模型和保存loss.numpy()都会引起内存泄露。怀疑是tensor没有从计算图分离导致的。如果有新结果再反馈。

[2021-09-18 17:56] chenkangyang commented on #35749
追更~ 同样遇到内存泄漏的问题~ 不仅dataloader，模型推理算loss也泄漏了；

[2021-09-18 18:08] chenkangyang commented on #35749
相邻两个batch，都不需要算loss，推理一次，内存就会增加一点
[code]

[2021-09-19 02:30] RabbitBoiling opened #35880 "Paddle中预测accuracy的计算中是否有类似于keras中的categorical_accuracy函数API的功能可以直接进行标签为独热编码的计算"
目前我在使用Paddle的低阶API进行模型训练时，训练过程中需要计算accuracy，但是我的数据标签是独热编码形式的，而paddle提供的paddle.metric.accuracy要求数据标签为具体值（input的shape为 [sample_number,class_dim]，label的shape为[sample_number, 1] ），我无法直接计算accuracy，在keras中提供了categorical_accuracy函数可以直接对数据标签为独热编码形式的计算accuracy，此外还提供了sparse_categorical_accuracy，top_k_categorical_accuracy，sparse_top_k_categorical_accuracy等大量计算accuracy的函数，我在Paddle的API中均未找到。
请帮忙看下是我未找到的原因还是Pad

[2021-09-19 02:37] Shawn6688 commented on #35749
你这个outputs =
model(**inputs)后边还有代码吗？你可以尝试把后边的注释掉只保留到这样一行，看会不会泄露。我注释掉model()后的代码就没有泄露了。
他确实在batch这一行内存增加，但是根源可能在其他地方产生的计算图依赖。

On Sun, Sep 19, 2021 at 2:08 AM Kangyang Chen ***@***.***>
wrote:

[2021-09-19 04:46] CuberrChen commented on #35749
@Shawn6688 实验过了。只dataloader这一行，下面空循环也会内存增长。早知道不如自己写个loader了。查半天错。不过暂时没有余力改了，先这样吧。谢谢～

[2021-09-19 08:48] baoachun commented on #34554
@jczaja
Hi, this issue requires to be fixed until 21th evening, all the PRs since 22th will not be able to merge to the 2.2 branch.

[2021-09-20 04:05] Guangjun-A commented on #28191
确实是梯度的问题....

[2021-09-20 04:27] wjjln commented on #34526
【队名】：LinYi

【序号】：97

【论文】：BERT4Rec：Sequential Recommendation with Bidirectional Encoder Representations from Transformer

【状态】：报名

【repo链接】：https://github.com/wjjln/BERT4REC_LinYi

[2021-09-20 05:09] Guangjun-A commented on #29172
问题解决了吗

[2021-09-20 05:48] Guangjun-A commented on #35054
paddle.device.set_device("gpu") 正解！！！

[2021-09-20 05:48] chenkangyang commented on #34526
【队名】：INTP

【序号】：88

【论文】：VisualBERT: A Simple and Performant Baseline for Vision and Language

【状态】：提交

【repo链接】：https://github.com/chenkangyang/paddle_visual_bert

[2021-09-20 07:27] alao556 opened #35883 "【BUG反馈】IterableDataset一律丢弃最后无法组成完成个数为batch_size的mini-batch"
[code]

以上代码提供BUG复现。而DataLoader中的参数dataset=MyDataset()，则不会发生一律丢弃不完整的mini-batch问题

[2021-09-21 08:54] #22193 closed, assigned to bjjwwang

[2021-09-21 08:54] #24170 closed, assigned to zhiqiu

[2021-09-21 08:54] #25872 closed, assigned to nobody

[2021-09-21 08:54] #27184 closed, assigned to nobody

[2021-09-21 08:54] #27199 closed, assigned to nobody

[2021-09-21 08:54] #27210 closed, assigned to nobody

[2021-09-21 08:54] #27214 closed, assigned to luotao1

[2021-09-21 08:54] #27226 closed, assigned to yaoxuefeng6

[2021-09-21 08:54] #27243 closed, assigned to ceci3

[2021-09-21 08:54] #27253 closed, assigned to zhwesky2010

[2021-09-21 08:54] #27275 closed, assigned to nobody

[2021-09-21 08:54] #27373 closed, assigned to nobody

[2021-09-21 08:54] #27374 closed, assigned to nobody

[2021-09-21 08:54] #27387 closed, assigned to jiweibo

[2021-09-21 08:54] #27390 closed, assigned to nobody

[2021-09-21 10:42] SigureMo opened #35891 "使用 shape 为 (1, ) 的 Tensor 进行索引时会使结果少一根轴"
## 版本、环境信息：

- AIStudio GPU 版
- PaddlePaddle 版本号：2.1.2
- Python 版本号：3.7.4

## 问题描述

使用 shape 为 (1, ) 的 Tensor 对另一个 Tensor 进行索引时，结果会减少一根轴（见下面代码）

[code]

作为对比，我使用 numpy 和 pytorch 都进行了测试，结果是和预期一致的，即便索引（b）的 shape 为 (1, )，结果也不会少一根轴

[code]

我不太清楚这在 paddle 中是否是一个预期的效果，我并没有在文档中找到关于该特殊用例的详细说明，但至少它与 numpy 和 pytorch 的表现是不一致的

另外，为了防止数据在 n == 1 时丢失一根轴，目前我暂时使用的解决方案是

[code]

[2021-09-21 17:03] jczaja commented on #34554
@baoachun Just want to write that I'm still working on this issue so it is not solved yet.

[2021-09-22 02:22] LDOUBLEV commented on #35891
你好，复现了你说的情况，问题表现为，使用b = tensor[index]操作时，如果index的shape为1，则索引的结果b的维度比tensor的维度少一维。

这个并不算是bug，属于正常情况，假设tensor是二维的（h,w），index是一个整数（shape为[1]），此时结果b应该是tensor的某一行,shape为(w)，如果index为一个list，shape为[c]，结果b是tensor的某几行，shape为[c，w]。

也感谢指出，会反馈给相关同学，讨论是否修改这个逻辑。

[2021-09-22 02:42] WillisXue commented on #33187
![image](https://user-images.githubusercontent.com/9125768/134275056-0aeda76b-b04b-46fa-814c-344741b8d8cd.png)debug模式下把基本运行时检查改为默认值就不会报错了

[2021-09-22 02:56] iclementine commented on #35865
是使用最新的版本吗？

正常执行的话会检测单卡和多卡上的运行是否正常，输出结果类似如此。
<img width="1000" alt="图片" src="https://user-images.githubusercontent.com/16222986/134276248-7ad5c239-8357-4c0c-aa67-c370f5a3e0f2.png">

可以试试先观察一下本地 cuda 版本和所安装的 paddle 对应的 cuda 版本是否一致。

[2021-09-22 02:59] iclementine commented on #35855
已经收到反馈，我们近期就加一下。谢谢！

[2021-09-22 03:29] yt605155624 opened #35899 "visualdl 多个 log 文件如何合成一个展示"
训练中途断掉了，重新训练之后生成了新的 visualdl log , 之前的 log 和新生成的 log 还是在一个文件夹里面的，运行 visualdl 之后只展示后半段的 loss，请问如何同时展示多个 log，把曲线接起来呢？（是现在训练 log 已经写完的前提下，不是重新训练的时候指定 logfile）

[2021-09-22 03:47] Aurelius84 commented on #35883
非常感谢您的反馈。此问题已在develop分支修复，后续也在2.2rc版本中修复了此问题。

见修复PR：https://github.com/PaddlePaddle/Paddle/pull/34801

[2021-09-22 03:47] SigureMo commented on #35891
感谢你的回答，不过这里我有点不同的想法

`index.shape == [1]` 时（如 `index = [2]`），index 还是一个 1D-Array，也就是你所说的 list，只不过恰巧这个 list 中只有一个元素，我认为此时应当仍然按照处理 list 的方式来进行索引元素。

相对的，index 是整数的情况应当是 `index.shape == []`（如 `index = 2`），此时 index 是一个标量，使用标量进行索引自然是会少一根轴这毫无疑问，但我认为这种情况与前一种情况是有所不同的。

我认为，在使用 list 进行索引时，无论该 list 中有多少个元素，最终结果都不应该使 shape 发生改变，因为这会使得在完全相同（tensor 与 index 的阶数一致）的操作下获得了不同的结果，最终导致如我问题描述中所示，需要额外考虑 n == 1 的情况进行处理

[2021-09-22 03:49] huangwan-jiayi opened #35901 "在jetson nx上部署paddleseg下的用自己的数据集训练好的bisenetV2模型，部署后预测一张图需要几秒，怎么提高预测速度。"
我最近成功把我自己训练的paddleseg框架下的模型 用paddle inference c++ 部署到了jetson nx 上了 可是预测的时间需要几秒，完全达不到实时的要求 ，请问一下，你有部署这方面的经验吗，是我需要修改一下代码的什么部分，预测速度才会达到网上说的那么高呢？开启tensorrt后预测速度还会更慢。
![image](https://user-images.githubusercontent.com/71338215/134280613-fcabe162-3350-4420-abb8-4e9ca65285c6.png)
![image](https://user-images.githubusercontent.com/71338215/134280614-f902d254-b3d1-4073-89ee-eebdbed0fced.png)
![image](https

[2021-09-22 04:45] Sunyingbin opened #35902 "acc预测时报错"
   1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：paddle2.1 python 3.7
    3）系统环境：mac os
    预测模型，输入为[1, 72] 输出[1, 24] batchsize：10
        for batch_id, data in enumerate(test_loader()):
            x_data = data[0]
            y_data = data[1]
            predicts = model(x_data)
            # 获取acc
            acc = paddle.metric.accuracy(predicts, y_data)

报错如下：
ValueError: (In

[2021-09-22 04:57] #18572 closed, assigned to NHZlX

[2021-09-22 04:57] #18597 closed, assigned to nobody

[2021-09-22 04:57] #18637 closed, assigned to nobody

[2021-09-22 06:39] LDOUBLEV commented on #35891
@SigureMo 你好，咨询了负责同学，结论如下：
- Paddle的tensor索引不够严谨，导致使用上存在了一些问题
- 问题修复可能会导致其他问题，或者引入不兼容升级，所以，暂定保持现状，后续会讨论进一步优化

另外，感谢您的反馈，我们会持续优化，有任何建议都可以提出来

[2021-09-22 06:52] sukibean163 commented on #34526
【队名】：showtime

【序号】：61

【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild

【状态】：报名

【repo链接】：https://github.com/sukibean163/RetinaFace_Paddle

[2021-09-22 08:26] wym888 opened #35911 "为什么我进去文本分类时模型 1个epoch 的最后一个BATCH就 异常结束了"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.1
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，3080 cudn 8.1
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle

[2021-09-22 08:58] huangjun12 commented on #35880
目前还没有类似API，建议可以根据index将独热标签转换为具体标签值。

[2021-09-22 09:17] yaoxuefeng6 commented on #35850
我们看下index_select可能的问题

[2021-09-22 09:39] zackzhao1 commented on #34526
【队名】：人类高质量男娃

【序号】：22

【论文】：Real-Time High-Resolution Background Matting

【状态】：报名

【repo链接】：https://github.com/zackzhao1/BackgroundMattingV2-paddle

[2021-09-22 10:33] Karenlyw opened #35921 "使用gpu训练报错Compiled with WITH_GPU, but no GPU found in runtime."
   1）PaddlePaddle版本：1.8.5.post107
paddlehub：1.6.2
    2）GPU：
 NVIDIA-SMI 418.87.00    Driver Version: 418.87.00    CUDA Version: 10.1  cudnn：7.6

    4）系统环境：linux
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训练信息
    1）单机单卡

报错：
ExternalError:  Cuda error(30), unknown error.
  [Advise: This indicates that an unknown internal error ha

[2021-09-22 12:22] JZ-LIANG commented on #35899
这种情况只能自己写个parser 读取每个log 中的loss 成多个 numpy array，再把narray concate起来了。。。。。

[2021-09-22 12:24] JZ-LIANG commented on #35902
输入数据格式是根据用户业务变的，框架侧无法提前预知并做假设，需要用户根据自身数据先处理好

[2021-09-22 12:27] JZ-LIANG commented on #35911
请提供复现代码，但感觉大概率是数据读取完了但reader 没有按预期抛出异常。。。。建议检查一下reader 实现

[2021-09-22 12:28] JZ-LIANG commented on #35921
可以用一下命令验证安装，
import paddle.fluid as fluid
fluid.install_check.run_check()
看一下是否有 Multiple gpu check successful 字样

另外建议检查：
编译时的环境和当前运行环境是否一致？
编译时 nccl 的路径是否被成功找到（在 LD_LIBRARY_PATH中）？

[2021-09-22 12:31] Lieberk commented on #34526
【队名】：小丑不丑

【序号】：50

【论文】：Attention on attention for image captioning

【状态】：报名

【repo链接】：https://github.com/chenlizhi-1013/Paddle-AoANet-Captioning

[2021-09-22 13:32] DLoveS1314 commented on #35777
您好，没有特殊需求。有其他替代方式，但是我在pytorch的一些代码中看到使用了这个库，在矩阵维度变换上非常直观。因为我现在在使用用paddle。所以询问一下paddle是否支持这个库

[2021-09-22 14:26] QingquanBao commented on #34633
您好，请问这个bug修复的如何了？ 非常感谢！！
同时请问另一个[bug](https://github.com/PaddlePaddle/Paddle/issues/34419) 是否同时修复了,谢谢 ！

[2021-09-22 14:26] QingquanBao commented on #34419
您好，请问这个bug修复的如何了？ 非常感谢！！
同时请问另一个[bug](https://github.com/PaddlePaddle/Paddle/issues/34633) 是否同时修复了,谢谢 ！

[2021-09-22 15:13] x745667479 opened #35929 "为什么一直不支持cuda11.1啊"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2021-09-22 17:18] fanfq commented on #31165
插眼，可用！！！

[2021-09-22 18:18] lvliris commented on #34526
【队名】：单人旅途

【序号】：4

【论文】：EfficientDet: Scalable and Efficient Object Detection

【状态】：报名

【repo链接】：https://github.com/lvliris/EfficientDet-Paddle

[2021-09-23 02:18] huangwan-jiayi commented on #35901
这是我的环境信息，
![image](https://user-images.githubusercontent.com/71338215/134445560-3883d0e9-b4b1-4d70-9e78-3132e1694b6d.png)
![image](https://user-images.githubusercontent.com/71338215/134445766-7aa9af44-435f-4959-aaa4-bcde7d34276f.png)

[2021-09-23 03:43] TCChenlong opened #35940 "【PaddlePaddle Hackathon】任务总览"
# 【PaddlePaddle Hackathon】任务总览

- **NEWS：** 本次黑客松活动，线上部分已结束，欢迎大家继续认领&完成感兴趣的任务，可以@TCChenlong review相关PR；此外，欢迎大家参与报名线下的 Coding Party ，报名表见：[2021飞桨黑客松 48H Coding Party 报名表](https://www.wjx.top/vj/e0QwYmQ.aspx?udsid=621460)，感谢大家对飞桨的支持~

## 任务目录
- <a href='#paddlepaddle'>PaddlePaddle</a>
- <a href='#paddlefamily'>Paddle Family</a>
- <a href='#paddlefriends'>Paddle Friends</a>
- <a href='#paddleanything

[2021-09-23 04:03] iclementine commented on #35860
静态图需要实现这个功能有点麻烦。

因为参数只是对 optimizer 而言 mutable 的，而且参数更新是自动操作的。torch 实现这个功能的时候，也是直接对参数的 data 进行操作。

如果需要实现这样的功能，你或许可以构建一个独立的 program， 在其中产生一个 loss, 使得其更新公式是如上所述的方式

[2021-09-23 06:11] TCChenlong opened #35944 "【PaddlePaddle Hackathon】1、在 Paddle 中新增 AdaptiveLogSoftmaxWithLoss"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增 AdaptiveLogSoftmaxWithLoss

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述：AdaptiveLogSoftmaxWithLoss来源于[Efficient softmax approximation for GPUs](https://arxiv.org/abs/1609.04309)，提出一种高效地训练大词汇量时的神经网络语言模型的方法。请在 Paddle 中实现该API，并进行不同情况下的测试验证。
- 调用路径

[2021-09-23 06:13] TCChenlong opened #35945 "【PaddlePaddle Hackathon】2、 在 Paddle 中新增 fold"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  fold

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述：fold 操作是 paddle.nn.Unfold 的逆操作，将滑动窗口局部区域的块组合成一个新的Tensor。
- 调用路径：paddle.nn.functional.fold

【提交内容】

- 任务 PR 到 [Paddle](https://github.com/PaddlePaddle/Paddle)

- 相关技术文档

- 任务单测文件

【技术要求】

- 了解 P

[2021-09-23 06:16] TCChenlong opened #35946 "【PaddlePaddle Hackathon】3、在 Paddle 中新增 CELU"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  CELU

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述：CELU来源于 [Continuously Differentiable Exponential Linear Units](https://arxiv.org/abs/1704.07483)，是ELU的一个变体。请在 Paddle 中实现该激活函数算子，并能与行业主流实现方法效果对齐，并进行不同情况下的验证。
- 调用路径：paddle.nn.functional.celu

【提

[2021-09-23 06:16] TCChenlong opened #35947 "【PaddlePaddle Hackathon】4、在 Paddle 中新增 RReLU"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  RReLU

- 技术标签：深度学习框架，python，C++

- 任务难度：中等

- 详细描述：RReLU来源于[Empirical Evaluation of Rectified Activations in Convolutional Network](https://arxiv.org/abs/1505.00853)，是Leaky ReLU的一个变体。请在paddle中实现该激活函数算子，并能与行业主流实现方法效果对齐，并进行不同情况下的验证。
- 调用路径：p

[2021-09-23 06:17] TCChenlong opened #35948 "【PaddlePaddle Hackathon】5、在 Paddle 中新增 randint_like"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  randint_like

- 技术标签：深度学习框架，python，C++

- 任务难度：中等

- 详细描述： 生成一个新的Tensor，该Tensor维度与输入Tensor相同，同时元素随机采样于[low, high]之间的整数。请在paddle中实现该算子，并能与行业主流实现方法效果对齐，并进行不同情况下的验证。
- 调用路径：paddle.randint_like

【提交内容】

- 任务 PR 到 [Paddle](https://github.com/Pa

[2021-09-23 06:18] TCChenlong opened #35949 "【PaddlePaddle Hackathon】6、在 Paddle 中新增 ZeroPad2d"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  ZeroPad2d

- 技术标签：深度学习框架，python，C++

- 任务难度：中等

- 详细描述：使用0元素对输入Tensor进行扩边填充。请在 Paddle 中实现该算子，并能与行业主流实现方法效果对齐，并进行不同情况下的验证。
- 调用路径：paddle.zeropad2d

【提交内容】

- 任务 PR 到 [Paddle](https://github.com/PaddlePaddle/Paddle)

- 相关技术文档

- 任务单测文件

【技术要

[2021-09-23 06:19] TCChenlong opened #35950 "【PaddlePaddle Hackathon】7、在 Paddle 中新增 Rprop"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  Rprop

- 技术标签：深度学习框架，C++，优化算法

- 任务难度：中等

- 详细描述：Rprop优化器是在A direct adaptive method for faster backpropagation learning : The RPROP algorithm中提出的一种优化方法，该方法考虑到不同权值参数的梯度的数量级可能相差很大，因此很难找到一个全局的学习步长。因此创新性地提出靠参数梯度的符号，动态的调节学习步长以加速优化过程的方法。此任务的目标是在

[2021-09-23 06:19] TCChenlong opened #35951 "【PaddlePaddle Hackathon】8、在 Paddle 中新增 LBFGS"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  LBFGS

- 技术标签：深度学习框架，C++，优化算法

- 任务难度：中等

- 详细描述： LBFGS是Limited-memory BFGS的缩写，顾名思义是一种限制内存的BFGS方法。BFGS法是一种拟牛顿法，指用BFGS矩阵作为拟牛顿法中的对称正定迭代矩阵的方法，BFGS法对一维搜索的精度要求不高，并且由迭代产生的BFGS矩阵不易变为奇异矩阵，具有更好的数值稳定性。此任务的目标是在 Paddle 中，实现 LBFGS 优化器。
- 调用路径：paddle.op

[2021-09-23 06:25] MyOnlyCat opened #35952 "make TARGET=ARMV8 -j12 报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：2.2
    2）CPU：Huawei Kunpeng 920
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：CentOS Linux 7
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 安装方式信息：
本地编译：请提供cmake命令

[2021-09-23 06:29] TCChenlong opened #35953 "【PaddlePaddle Hackathon】9、在 Paddle 中新增 AlexNet"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  AlexNet

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述： 为了简化深度学习学习过程，提升深度学习模型的开发效率，飞桨框架通过不断的对API进行优化，并针对开发者的使用场景进行封装，在飞桨框架的2.0版本提供了高层API的功能，旨在帮助开发者更好更快的完成深度学习模型的学习和开发。本任务的目的是为Paddle 新增 AlexNet。注意，该模型结构需要与 PaddleClas 中的结构一致，预训练模型采用PaddleClas 中的预训

[2021-09-23 06:30] TCChenlong opened #35954 "【PaddlePaddle Hackathon】10、在 Paddle 中新增 SqueezeNet"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  SqueezeNet

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述： 为了简化深度学习学习过程，提升深度学习模型的开发效率，飞桨框架通过不断的对API进行优化，并针对开发者的使用场景进行封装，在飞桨框架的2.0版本提供了高层API的功能，旨在帮助开发者更好更快的完成深度学习模型的学习和开发。本任务的目的是为Paddle 新增 SqueezeNet。注意，该模型结构需要与 PaddleClas 中的结构一致，预训练模型采用PaddleCla

[2021-09-23 06:38] TCChenlong opened #35956 "【PaddlePaddle Hackathon】49、在 Paddle 中新增 paddle.nn.functional.conv2d_transpose 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.functional.conv2d_transpose 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：paddle.nn.functional.conv2d_transpose是飞桨提供的二维转置卷积层。需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/PaddlePaddle/PaddleTest

[2021-09-23 06:39] TCChenlong opened #35957 "【PaddlePaddle Hackathon】48、在 Paddle 中新增 paddle.nn.functional.conv1d_transpose 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.functional.conv1d_transpose 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：paddle.nn.functional.conv1d_transpose 是飞桨提供的一维转置卷积层。需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/PaddlePaddle/PaddleTes

[2021-09-23 06:41] TCChenlong opened #35958 "【PaddlePaddle Hackathon】47、在 Paddle 中新增 paddle.nn.dynamic_decode 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.dynamic_decode 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：paddle.nn.dynamic_decode是飞桨提供的动态解码器API，该接口重复执行 `decoder.step()` 直到 其返回的表示完成状态的Tensor中的值全部为True或解码步骤达到 `max_step_num`。需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [P

[2021-09-23 06:42] TCChenlong opened #35959 "【PaddlePaddle Hackathon】46、在 Paddle 中新增 paddle.nn.CosineSimilarity 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.CosineSimilarity 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：paddle.nn.CosineSimilarity是飞桨提供的余弦相似度API。需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/PaddlePaddle/PaddleTest)

- 任务单测文件

- 提交到目录f

[2021-09-23 06:43] TCChenlong opened #35960 "【PaddlePaddle Hackathon】45、在 Paddle 中新增 paddle.nn.BeamSearchDecoder 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.BeamSearchDecoder 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：paddle.nn.BeamSearchDecoder是飞桨提供的带beam search解码策略的解码器。需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/PaddlePaddle/PaddleTest)

- 任务

[2021-09-23 06:44] TCChenlong opened #35961 "【PaddlePaddle Hackathon】44、在 Paddle 中新增 paddle.nn.ClipGradByValue 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.ClipGradByValue 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/PaddlePaddle/PaddleTest)

- 任务单测文件

- 提交到目录framework/api

【技术要求】

- 了解 Paddle API的使用方式

[2021-09-23 06:45] TCChenlong opened #35962 "【PaddlePaddle Hackathon】43、在 Paddle 中新增 paddle.nn.ClipGradByNorm 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.ClipGradByNorm 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/PaddlePaddle/PaddleTest)

- 任务单测文件

- 提交到目录framework/api

【技术要求】

- 了解 Paddle API的使用方式，

[2021-09-23 06:46] TCChenlong opened #35963 "【PaddlePaddle Hackathon】42、在 Paddle 中新增 paddle.nn.ClipGradByGlobalNorm 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.ClipGradByGlobalNorm 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/PaddlePaddle/PaddleTest)

- 任务单测文件

- 提交到目录framework/api

【技术要求】

- 了解 Paddle API

[2021-09-23 06:47] TCChenlong opened #35964 "【PaddlePaddle Hackathon】41、在 Paddle 中新增 paddle.nn.UpsamplingNearest2D 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.UpsamplingNearest2D 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/PaddlePaddle/PaddleTest)

- 任务单测文件

- 提交到目录framework/api

【技术要求】

- 了解 Paddle API的

[2021-09-23 06:49] TCChenlong opened #35965 "【PaddlePaddle Hackathon】40、在 Paddle 中新增 paddle.nn.UpsamplingBilinear2D 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.UpsamplingBilinear2D 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/PaddlePaddle/PaddleTest)

- 任务单测文件

- 提交到目录framework/api

【技术要求】

- 了解 Paddle API

[2021-09-23 06:50] TCChenlong opened #35966 "【PaddlePaddle Hackathon】39、在 Paddle 中新增 paddle.nn.Upsample 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.Upsample 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/PaddlePaddle/PaddleTest)

- 任务单测文件

- 提交到目录framework/api

【技术要求】

- 了解 Paddle API的使用方式，该API的基

[2021-09-23 06:50] wangxicoding commented on #35952
前面还有啥编译报错的信息吗，可能是前面啥地方报错了

[2021-09-23 06:50] TCChenlong opened #35967 "【PaddlePaddle Hackathon】38、在 Paddle 中新增 paddle.nn.PixelShuffle 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.PixelShuffle 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/PaddlePaddle/PaddleTest)

- 任务单测文件

- 提交到目录framework/api

【技术要求】

- 了解 Paddle API的使用方式，该A

[2021-09-23 06:52] TCChenlong opened #35968 "【PaddlePaddle Hackathon】37、在 Paddle 中新增 paddle.nn.AlphaDropout 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.AlphaDropout 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：paddle.nn.AlphaDropout是飞桨提供的一种具有自归一化性质的dropout。均值为0，方差为1的输入，经过AlphaDropout计算之后，输出的均值和方差与输入保持一致。AlphaDropout通常与SELU激活函数组合使用。需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR

[2021-09-23 06:53] wangxicoding commented on #35929
支持的呀，11.2都支持的呢，安装可以参考 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

[2021-09-23 06:53] TCChenlong opened #35969 "【PaddlePaddle Hackathon】36、在 Paddle 中新增 paddle.nn.RNNCellBase 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.RNNCellBase 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述： paddle.nn.RNNCellBase 是飞桨提供的循环神经网络单元基类，是一个抽象表示根据输入和隐藏状态来计算输出和新状态的基本类，最适合也最常用于循环神经网络。需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/Paddl

[2021-09-23 06:54] TCChenlong opened #35970 "【PaddlePaddle Hackathon】35、在 Paddle 中新增 paddle.nn.RNN 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增 paddle.nn.RNN 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：paddle.nn.RNN 是飞桨提供的循环神经网络，将输入的Cell封装为一个循环神经网络。它能够重复执行 `cell.forward()` 直到遍历完input中的所有Tensor。需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://github.com/Paddl

[2021-09-23 06:55] MyOnlyCat commented on #35952
我重新切换分支试试吧先

[2021-09-23 06:55] TCChenlong opened #35971 "【PaddlePaddle Hackathon】34、在 Paddle 中新增 paddle.nn.BiRNN 的测试用例"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增 paddle.nn.BiRNN 的测试用例

- 技术标签：深度学习框架，python, 质量

- 任务难度：简单

- 详细描述：paddle.nn.BiRNN 是 Paddle 提供的双向循环神经网络，功能是将输入的前向cell和后向cell封装为一个双向循环神经网络。该网络单独执行前向和后向cell的计算并将输出拼接。需要从参数覆盖、正确性验证、数据类型覆盖、异常输入等方面添加测试用例.

【提交内容】

- 任务 PR 到 [PaddleTest](https://

[2021-09-23 06:57] tizhou86 opened #35973 "【PaddlePaddle Hackathon】95 实现兼容 SageMaker 平台的 PaddlePaddle 训练容器"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddleHackathon)）

【任务说明】

- 任务标题：实现兼容 SageMaker 平台的 PaddlePaddle训练容器

- 技术标签：框架，C++，Python，Docker

- 任务难度：中等

- 详细描述：  Amazon SageMaker 是一项全托管端到端机器学习服务，可帮助数据科学家、开发人员以及机器学习专家快速构建、训练并托管规模化机器学习模型。PaddlePaddle 框架可以通过自带容器（BYOC,Bring Your Own Container）的方式在 Amazon SageMaker 中进行训练。在本项目中，你需要实现兼容 Sag

[2021-09-23 06:57] x745667479 commented on #35929
似乎没有11.1的选项，只有11.2和11.0？请问具体选择哪一个？

[2021-09-23 07:00] wangxicoding commented on #35929
可以先试试使用11.0

[2021-09-23 07:16] wym888 commented on #35911
报错语句
File "F:\conda\envs\paddle\lib\site-packages\paddlenlp\datasets\dataset.py", line 110, in load_dataset
    return reader_instance.read(**custom_kwargs)
  File "F:\conda\envs\paddle\lib\site-packages\paddlenlp\datasets\dataset.py", line 715, in read
    return MapDataset(list(examples))
  File "F:/text_classification/rnn/mydataload.py", line 8, in read
    words, label = line.split('\t')
Value

[2021-09-23 07:19] WeizXy opened #35976 "报名"
【队       名】：初学小白

【序       号】：9

【论文名称】：YOLOX: Exceeding YOLO Series in 2021

【状       态】：报名

【repo链接】：https://github.com/842318337/YoloX-with-PaddlePaddle

[2021-09-23 07:21] WeizXy commented on #34526
【队名】：初学小白

【序号】：9

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/842318337/YoloX-with-PaddlePaddle

[2021-09-23 07:22] #35976 closed, assigned to JZ-LIANG

[2021-09-23 07:23] #35952 closed, assigned to JZ-LIANG

[2021-09-23 07:23] MyOnlyCat commented on #35952
切换分支解决

[2021-09-23 07:31] TCChenlong opened #35977 "【PaddlePaddle Hackathon】31、为 Paddle Inference 添加新的前端语言"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：为 Paddle Inference 添加新的前端语言

- 技术标签：Paddle Inference，Java

- 任务难度：困难

- *详细描述：Paddle Inference 当前支持五种编译语言 C++/Python/C/Go/R。Paddle Inference有 良好的解耦设计，使得我们可以较容易的支持 多种语言作为用户接口，自然也可以支持更多的语言作为用户接口。不管是 Java、Javascript、Swift、Ruby…… 只要你感兴趣，都可以完成这个任务。

【提交内容】

[2021-09-23 07:35] TCChenlong opened #35979 "【PaddlePaddle Hackathon】28、Paddle TensorRT 增加gru的支持"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：Paddle TensorRT 增加gru的支持

- 技术标签：预测，C++，TensorRT

- 任务难度：中等

- 详细描述：Paddle Inference通过子图接入的方式，在SimpleOpTypeSetTeller里判断一个OP是否可以运行到TensorRT中，支持的OP经过对应的OpConverter转变成TensorRT的原生Layer或者Plugin。通过增加该OP的支持，可以助于熟悉Paddle Inference、TensorRT等深度学习推理框架的典型执行流程。加入方式可

[2021-09-23 07:36] TCChenlong opened #35980 "【PaddlePaddle Hackathon】27、Paddle 分布式训练支持不均分数据输入"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：Paddle 分布式训练支持不均分数据输入

- 技术标签：分布式，C++，GPU，NCCL，图优化

- 任务难度：困难

- 详细描述：在GPU集合通信分布式训练模式下，若各卡上的输入数据不均等，会导致训练过程hang住的问题，即读取到数据的GPU卡发起集合通信操作（ncclAllReduce），但未读取到数据的GPU卡进程停掉，从而导致训练过程hang住。本任务的目的是探寻通用策略解决不均分输入数据条件下分布式训练过程hang住的问题，提高PaddlePaddle分布式训练框架的易用性。

【提

[2021-09-23 07:36] TCChenlong opened #35981 "【PaddlePaddle Hackathon】26、在 Paddle 中实现基于 HDRM 拓扑的 AllReduce"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中实现基于 HDRM 拓扑的 AllReduce

- 技术标签：深度学习框架，C++，通信拓扑

- 任务难度：困难

- 详细描述：HDRM 主要思想是基于两阶段全连接 BiGraph 的 rank 映射扩展了传统的 halving doubling 算法，以避免网络拥塞。此任务的目标是在 Paddle 分布式训练框架中，实现 HDRM 拓扑结构的 AllReduce，如果目标结点不支持拓扑所需硬件结构，可尝试软件模拟；除使用 GPU 进行训练外，最好也能支持其他异构硬件。

【

[2021-09-23 07:47] Sunyingbin opened #35983 "ValueError: Input(perm) is the permutation of dimensions of Input(x), its length should be equal to dimensions of Input(x), but received dimension of Input(x) is 2, the length of Input(perm) is 3."
paddlepaddle 2.1 负荷预测任务，新建一个lstm模型，在读取数据时报错如下：
ValueError: Input(perm) is the permutation of dimensions of Input(x), its length should be equal to dimensions of Input(x), but received dimension of Input(x) is 2, the length of Input(perm) is 3.

模型如下：
class MyLSTM(paddle.nn.Layer):
    def __init__(self, input_size=72, hidden_size=24 * 3):
        super().__init__()
        self.linear1 = paddle.nn

[2021-09-23 07:49] TCChenlong opened #35984 "【PaddlePaddle Hackathon】25、在 Paddle 中实现基于 2D Mesh 拓扑的 AllReduce"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中实现基于 2D Mesh 拓扑的 AllReduce

- 技术标签：深度学习框架，C++，通信拓扑

- 任务难度：困难

- 详细描述：2D Mesh 主要思想也是分层，区别于 2D Torus 结构之处在于 2D Mesh 结构支持水平和垂直方向上同时进行集合操作。这种结构理论上将网络通信次数从传统 Ring 的 O(N2) 降低到了 O(N)，关键原因在于 TPU 结点支持两路的收发。此任务的目标是在 Paddle 分布式训练框架中，实现 2D Mesh 结构的 AllRe

[2021-09-23 07:50] Sunyingbin commented on #35983
x_data.shape为[10, 72]
y_data.shape为[10]

[2021-09-23 07:50] TCChenlong opened #35986 "【PaddlePaddle Hackathon】24、在 Paddle 中实现基于 2D Torus 拓扑的 AllReduce"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中实现基于 2D Torus 拓扑的 AllReduce

- 技术标签：深度学习框架，C++，通信拓扑

- 任务难度：困难

- 详细描述：2D Torus 主要思想是分层，先是在组内水平方向做 Scatter-Reduce 操作，然后在组间垂直方向做 AllReduce 操作， 最后在组内做 AllGather 操作。此任务的目标是在 Paddle 分布式训练框架中，实现 2D Torus 结构的 AllReduce，除使用 GPU 进行训练外，最好也能支持其他异构硬件。

【

[2021-09-23 07:51] x745667479 commented on #35929
11.0并不能用.......

[2021-09-23 07:51] TCChenlong opened #35987 "【PaddlePaddle Hackathon】23、在 Paddle 中实现1-bit Lamb 优化器"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中实现1-bit Lamb 优化器

- 技术标签：深度学习框架，C++，优化算法

- 任务难度：困难

- 详细描述： LAMB 是NLP 任务中常用的大batch 训练优化器，目前Paddle 中已经 有 LAMB的实现。 论文 <1-bit LAMB: Communication Efficient Large-Scale Large-Batch Training with LAMB's Convergence Speed> 提出了对已有LAMB 优化器的改进，减少LAMB

[2021-09-23 07:52] TCChenlong opened #35988 "【PaddlePaddle Hackathon】22、在 Paddle 中实现1-bit Adam 优化器"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中实现1-bit Adam 优化器

- 技术标签：深度学习框架，C++，优化算法

- 任务难度：困难

- 详细描述： Adam 是NLP 任务中常用的优化器，目前Paddle 中已经 有Adam的实现。 论文 <Communication Efficient Large-Scale Training with Adam's Convergence Speed> 提出了对已有Adam 优化器的改进，减少Adam 优化器在大规模分布式训练下时的通信量。此任务的目标是实现Paddle

[2021-09-23 07:53] wangxicoding commented on #35929
报啥错了吗，cudnn环境的问题？

[2021-09-23 07:53] TCChenlong opened #35989 "【PaddlePaddle Hackathon】21、在 Paddle 中实现基于 DBTree 拓扑的 AllReduce"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中实现基于 DBTree 拓扑的 AllReduce

- 技术标签：深度学习框架，C++，通信拓扑

- 任务难度：困难

- 详细描述： DBTree 主要思想是利用二叉树中大约一半节点是叶子节点的特性，通过将叶子节点变换为非叶子节点，得到两颗二叉树，每个节点在其中一颗二叉树上是叶子节点，在另一颗二叉树上是非叶子节点。这种方法理论上是能够提供比 Ring 算法更低的延迟。此任务的目标是在 Paddle 分布式训练框架中，实现 DBTree 结构的 AllReduce，除使用 GP

[2021-09-23 07:54] TCChenlong opened #35990 "【PaddlePaddle Hackathon】20、在 Paddle 中新增 LARC"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增 LARC

- 技术标签：深度学习框架，C++，优化算法

- 任务难度：中等

- 详细描述： LARC 优化器是 OpenSeq2Seq 框架中提出的一种优化器。相对于每层都使用相同学习率的 SGD 优化器，该 LARC 优化器考虑到在某些场景下，较大的学习率带来的大幅度参数更新，会导致训练出现分化。为使得训练更稳定，LARC 优化器引入了 trust 系数用来裁剪每一层的学习率。此任务的目标是在 Paddle 框架中，在已实现的 SGD 算法基础上，结合 OpenSeq

[2021-09-23 07:54] TCChenlong opened #35991 "【PaddlePaddle Hackathon】19、在 Paddle 中新增 AdaScaleSGD"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  AdaScale SGD

- 技术标签：深度学习框架，python，优化算法

- 任务难度：中等

- 详细描述： AdaScale SGD 一种大规模分布式训练中的LR schedule 策略， 被用来加速大batch 训练时的收敛速度，目前Paddle 中并没有实现。 本任务的目标是基于 Paddle.optimize.SGD 和 Paddle.distributed 等 Paddle 基础框架实现 Paddle 中的 AdaScale SGD 优化策略，收敛最大b

[2021-09-23 07:55] TCChenlong opened #35992 "【PaddlePaddle Hackathon】18、在 Paddle 中使用 CUDA Graph 加速训练"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中使用 CUDA Graph 加速训练

- 技术标签：深度学习框架，CUDA Graph

- 任务难度：困难

- 详细描述： CUDA Graph 可以通过预定义静态子图的方式加速 Kernel 调度，进而加速模型训练。独立的性能测试显示其对 Kernel 调度有显著加速。这个任务的目标是把 CUDA Graph 引入 Paddle，加速 Kernel 调度，进而加速模型训练。可以分为两个子目标：

  (1) 定义并实现 CUDA Graph Python 层 api，用户可

[2021-09-23 07:55] TCChenlong opened #35993 "【PaddlePaddle Hackathon】17、在 Paddle 中实现 Common Subexpression Elimination（公共子表达式删除）的图优化 pass"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中实现 Common Subexpression Elimination（公共子表达式删除）的图优化 pass

- 技术标签：深度学习框架，C++，图优化

- 任务难度：困难

- 详细描述： 在深度学习相关的计算图中，会存在一些公共的子串，例如 h = a + b + c，f = b + a+ e，那么在整个计算图中，根据加法算子的交换律，a + b = b + a，那么我们可以将上面公式化简为 n = a + b, h = n + c ，f = n + e，这样可以减少一次

[2021-09-23 07:56] TCChenlong opened #35994 "【PaddlePaddle Hackathon】16、在 Paddle 中新增 WideResNet"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  WideResNet

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述： 为了简化深度学习学习过程，提升深度学习模型的开发效率，飞桨框架通过不断的对API进行优化，并针对开发者的使用场景进行封装，在飞桨框架的2.0版本提供了高层API的功能，旨在帮助开发者更好更快的完成深度学习模型的学习和开发。本任务的目的是为Paddle 新增 WideResNet。注意，该模型的预训练模型可以从 [wide_resnet_paddle](https://g

[2021-09-23 07:56] TCChenlong opened #35995 "【PaddlePaddle Hackathon】15、在 Paddle 中新增 ResNeXt"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  ResNeXt

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述： 为了简化深度学习学习过程，提升深度学习模型的开发效率，飞桨框架通过不断的对API进行优化，并针对开发者的使用场景进行封装，在飞桨框架的2.0版本提供了高层API的功能，旨在帮助开发者更好更快的完成深度学习模型的学习和开发。本任务的目的是为Paddle 新增 ResNeXt。注意，该模型结构需要与 PaddleClas 中的结构一致，预训练模型采用PaddleClas 中的预训

[2021-09-23 07:57] x745667479 commented on #35929
Running verify PaddlePaddle program ...
W0923 12:10:50.246201    62 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.1, Runtime API Version: 11.0
W0923 12:10:50.246647    62 dynamic_loader.cc:267] The third-party dynamic library (libcudnn.so) that Paddle depends on is not configured correctly. (error code is libcudnn.so: cannot open shared object f

[2021-09-23 07:57] TCChenlong opened #35996 "【PaddlePaddle Hackathon】14、在 Paddle 中新增 ShuffleNetV2"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  ShuffleNetV2

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述： 为了简化深度学习学习过程，提升深度学习模型的开发效率，飞桨框架通过不断的对API进行优化，并针对开发者的使用场景进行封装，在飞桨框架的2.0版本提供了高层API的功能，旨在帮助开发者更好更快的完成深度学习模型的学习和开发。本任务的目的是为Paddle 新增 ShuffleNetV2。注意，该模型结构需要与 PaddleClas 中的结构一致，预训练模型采用Paddl

[2021-09-23 07:58] TCChenlong opened #35997 "【PaddlePaddle Hackathon】13、在 Paddle 中新增 GoogleNet"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  GoogleNet

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述： 为了简化深度学习学习过程，提升深度学习模型的开发效率，飞桨框架通过不断的对API进行优化，并针对开发者的使用场景进行封装，在飞桨框架的2.0版本提供了高层API的功能，旨在帮助开发者更好更快的完成深度学习模型的学习和开发。本任务的目的是为Paddle 新增 GoogleNet。注意，该模型结构需要与 PaddleClas 中的结构一致，预训练模型采用PaddleClas

[2021-09-23 07:58] TCChenlong opened #35998 "【PaddlePaddle Hackathon】12、在 Paddle 中新增 InceptionV3"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  InceptionV3

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述： 为了简化深度学习学习过程，提升深度学习模型的开发效率，飞桨框架通过不断的对API进行优化，并针对开发者的使用场景进行封装，在飞桨框架的2.0版本提供了高层API的功能，旨在帮助开发者更好更快的完成深度学习模型的学习和开发。本任务的目的是为Paddle 新增 InceptionV3。注意，该模型结构需要与 PaddleClas 中的结构一致，预训练模型采用PaddleC

[2021-09-23 07:59] TCChenlong opened #35999 "【PaddlePaddle Hackathon】11、在 Paddle 中新增 DenseNet"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  DenseNet

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述： 为了简化深度学习学习过程，提升深度学习模型的开发效率，飞桨框架通过不断的对API进行优化，并针对开发者的使用场景进行封装，在飞桨框架的2.0版本提供了高层API的功能，旨在帮助开发者更好更快的完成深度学习模型的学习和开发。本任务的目的是为Paddle 新增 DenseNet。注意，该模型结构需要与 PaddleClas 中的结构一致，预训练模型采用PaddleClas 中的

[2021-09-23 08:00] TCChenlong opened #36000 "【PaddlePaddle Hackathon】10、在 Paddle 中新增 SqueezeNet"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  SqueezeNet

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述： 为了简化深度学习学习过程，提升深度学习模型的开发效率，飞桨框架通过不断的对API进行优化，并针对开发者的使用场景进行封装，在飞桨框架的2.0版本提供了高层API的功能，旨在帮助开发者更好更快的完成深度学习模型的学习和开发。本任务的目的是为Paddle 新增 SqueezeNet。注意，该模型结构需要与 PaddleClas 中的结构一致，预训练模型采用PaddleCla

[2021-09-23 08:01] TCChenlong opened #36001 "【PaddlePaddle Hackathon】9、在 Paddle 中新增 AlexNet"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  AlexNet

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述： 为了简化深度学习学习过程，提升深度学习模型的开发效率，飞桨框架通过不断的对API进行优化，并针对开发者的使用场景进行封装，在飞桨框架的2.0版本提供了高层API的功能，旨在帮助开发者更好更快的完成深度学习模型的学习和开发。本任务的目的是为Paddle 新增 AlexNet。注意，该模型结构需要与 PaddleClas 中的结构一致，预训练模型采用PaddleClas 中的预训

[2021-09-23 08:01] TCChenlong opened #36002 "【PaddlePaddle Hackathon】8、在 Paddle 中新增 LBFGS"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  LBFGS

- 技术标签：深度学习框架，C++，优化算法

- 任务难度：中等

- 详细描述： LBFGS是Limited-memory BFGS的缩写，顾名思义是一种限制内存的BFGS方法。BFGS法是一种拟牛顿法，指用BFGS矩阵作为拟牛顿法中的对称正定迭代矩阵的方法，BFGS法对一维搜索的精度要求不高，并且由迭代产生的BFGS矩阵不易变为奇异矩阵，具有更好的数值稳定性。此任务的目标是在 Paddle 中，实现 LBFGS 优化器。
- 调用路径：paddle.op

[2021-09-23 08:02] TCChenlong opened #36003 "【PaddlePaddle Hackathon】7、在 Paddle 中新增 Rprop"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  Rprop

- 技术标签：深度学习框架，C++，优化算法

- 任务难度：中等

- 详细描述：Rprop优化器是在A direct adaptive method for faster backpropagation learning : The RPROP algorithm中提出的一种优化方法，该方法考虑到不同权值参数的梯度的数量级可能相差很大，因此很难找到一个全局的学习步长。因此创新性地提出靠参数梯度的符号，动态的调节学习步长以加速优化过程的方法。此任务的目标是在

[2021-09-23 08:03] TCChenlong opened #36004 "【PaddlePaddle Hackathon】6、在 Paddle 中新增 ZeroPad2d"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  ZeroPad2d

- 技术标签：深度学习框架，python，C++

- 任务难度：中等

- 详细描述：使用0元素对输入Tensor进行扩边填充。请在 Paddle 中实现该算子，并能与行业主流实现方法效果对齐，并进行不同情况下的验证。
- 调用路径：paddle.zeropad2d

【提交内容】

- 任务 PR 到 [Paddle](https://github.com/PaddlePaddle/Paddle)

- 相关技术文档

- 任务单测文件

【技术要

[2021-09-23 08:03] wangxicoding commented on #35929
![image](https://user-images.githubusercontent.com/10208305/134473219-6e326fa4-258b-47ae-8dc9-71c04e4481f2.png)
cudnn没有安装，或者路径不太对，可以参考这里面把cudnn安装一下~
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

[2021-09-23 08:03] MyOnlyCat commented on #35952
切换分支未解决,我这边问题的原因是 check_symbol.sh脚本编码有问题,解决方案是 `vi check_symbol.sh`然后冒号 输入 `set ff=unix`

[2021-09-23 08:04] wangxicoding commented on #35929
或者使用docker可能会更方便些 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[2021-09-23 08:05] TCChenlong opened #36005 "【PaddlePaddle Hackathon】5、在 Paddle 中新增 randint_like"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  randint_like

- 技术标签：深度学习框架，python，C++

- 任务难度：中等

- 详细描述： 生成一个新的Tensor，该Tensor维度与输入Tensor相同，同时元素随机采样于[low, high]之间的整数。请在paddle中实现该算子，并能与行业主流实现方法效果对齐，并进行不同情况下的验证。
- 调用路径：paddle.randint_like

【提交内容】

- 任务 PR 到 [Paddle](https://github.com/Pa

[2021-09-23 08:07] TCChenlong opened #36006 "【PaddlePaddle Hackathon】4、在 Paddle 中新增 RReLU"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  RReLU

- 技术标签：深度学习框架，python，C++

- 任务难度：中等

- 详细描述：RReLU来源于[Empirical Evaluation of Rectified Activations in Convolutional Network](https://arxiv.org/abs/1505.00853)，是Leaky ReLU的一个变体。请在paddle中实现该激活函数算子，并能与行业主流实现方法效果对齐，并进行不同情况下的验证。
- 调用路径：p

[2021-09-23 08:10] TCChenlong opened #36007 "【PaddlePaddle Hackathon】3、在 Paddle 中新增 CELU"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  CELU

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述：CELU来源于 [Continuously Differentiable Exponential Linear Units](https://arxiv.org/abs/1704.07483)，是ELU的一个变体。请在 Paddle 中实现该激活函数算子，并能与行业主流实现方法效果对齐，并进行不同情况下的验证。
- 调用路径：paddle.nn.functional.celu

【提

[2021-09-23 08:11] TCChenlong opened #36008 "【PaddlePaddle Hackathon】2、 在 Paddle 中新增 fold"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增  fold

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述：fold 操作是 paddle.nn.Unfold 的逆操作，将滑动窗口局部区域的块组合成一个新的Tensor。
- 调用路径：paddle.nn.functional.fold

【提交内容】

- 任务 PR 到 [Paddle](https://github.com/PaddlePaddle/Paddle)

- 相关技术文档

- 任务单测文件

【技术要求】

- 了解 P

[2021-09-23 08:12] TCChenlong opened #36009 "【PaddlePaddle Hackathon】1、在 Paddle 中新增 AdaptiveLogSoftmaxWithLoss"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：在 Paddle 中新增 AdaptiveLogSoftmaxWithLoss

- 技术标签：深度学习框架，python

- 任务难度：中等

- 详细描述：AdaptiveLogSoftmaxWithLoss来源于[Efficient softmax approximation for GPUs](https://arxiv.org/abs/1609.04309)，提出一种高效地训练大词汇量时的神经网络语言模型的方法。请在 Paddle 中实现该API，并进行不同情况下的测试验证。
- 调用路径

[2021-09-23 08:15] #35944 closed, assigned to JZ-LIANG

[2021-09-23 08:15] #35945 closed, assigned to JZ-LIANG

[2021-09-23 08:15] #35946 closed, assigned to JZ-LIANG

[2021-09-23 08:15] #35947 closed, assigned to JZ-LIANG

[2021-09-23 08:15] #35948 closed, assigned to JZ-LIANG

[2021-09-23 08:16] #35949 closed, assigned to JZ-LIANG

[2021-09-23 08:16] #35950 closed, assigned to JZ-LIANG

[2021-09-23 08:16] #35954 closed, assigned to JZ-LIANG

[2021-09-23 08:16] #35953 closed, assigned to JZ-LIANG

[2021-09-23 08:17] #35951 closed, assigned to JZ-LIANG

[2021-09-23 08:21] #35855 closed, assigned to iclementine

[2021-09-23 08:42] 27182812 commented on #34526
【队名】：佛系小队

【序号】：90

【论文】：ChineseBERT: Chinese Pretraining Enhanced by Glyph and Pinyin Information

【状态】：提交

【repo链接】：https://github.com/27182812/ChineseBERT_paddle

[2021-09-23 09:12] RabbitBoiling commented on #35880
我目前计算独热码标签的accuracy，采用的方法为：返回预测值、数据标签值得独热码的向量中的最大元素的索引值，以此来确定类别，并计算accuracy，虽然也能实现计算accuracy的效果，但使用起来不是很方便，希望Paddle能够在后续的版本中多加入一些相关的accuracy计算函数API。

[2021-09-23 09:23] baoachun commented on #34554
@jczaja @lidanqing-intel
Hi, this problem may be left to version 2.2,  is there an approximate time that this issue could be solved?

[2021-09-23 09:36] huangwan-jiayi opened #36022 "jetson nx上部署paddleseg框架下biesenetV2算法训练自己的数据集产生的模型，推理速度太慢.预测程序用的是paddleseg中的C++部署示例"
这是我参考的例程：
![image](https://user-images.githubusercontent.com/71338215/134485561-06967654-2871-466f-8e38-7ecb2dfee17c.png)

这是我的推理时间：
![image](https://user-images.githubusercontent.com/71338215/134485581-5580467b-93dd-4d82-a4d3-42465a9037e8.png)

以下是全部代码：

#include <algorithm>
#include <chrono>
#include <iostream>
#include <fstream>
#include <numeric>
#include <time.h>
#include <gflags/gflags.h>
#i

[2021-09-23 09:50] wangxicoding commented on #35952
是有windows的换行符吗😂

[2021-09-23 09:55] MyOnlyCat commented on #35952
不确定是不是换行符,反正是编码的锅😂

[2021-09-23 10:36] jczaja commented on #34554
@baoachun No estimation known (I'm discovering new problems and fixing them one by one).

[2021-09-23 11:06] wangxicoding commented on #36022
预期速度是有多少。另外可以统计一下图像处理，预测，保存结果的时间吗，瓶颈瓶颈可能在图像处理和保存结果上

[2021-09-23 11:07] JZ-LIANG commented on #35911
words, label = line.split('\t')
ValueError: too many values to unpack (expected 2)

这两句很明显是输入数据和reader 不匹配造成的，paddlenlp 的dataset reader 要求每行只有两个元素（words, label ）， 你的dataset 不符合。
 请查看你的mydataload.py的实现。

[2021-09-23 11:08] wangxicoding commented on #36022
github 支持markdown格式，c++代码可以用` ``` c++ ``` `给括起来，排版好看点。

[2021-09-23 11:10] huangwan-jiayi commented on #36022
预期速度几十ms，我不清楚我这个时间到底是不是预测一张图的时间，输出可视化就一张图。
![image](https://user-images.githubusercontent.com/71338215/134497241-a75b6a9a-ca0d-4c73-8fbd-ba8ecb422f54.png)

[2021-09-23 11:13] ForFishes commented on #35777
您好，抱歉目前paddle不支持这个库，也没有计划支持。

[2021-09-23 11:26] 1180300528 commented on #34526
【队名】：小白

【序号】：66

【论文】： Universal Language Model Fine-tuning for Text Classification

【状态】：报名

【repo链接】：https://github.com/1180300528/AIstudio_66

[2021-09-23 11:26] 1180300528 commented on #34526
【队名】：小白

【序号】：66

【论文】： Universal Language Model Fine-tuning for Text Classification

【状态】：报名

【repo链接】：https://github.com/1180300528/AIstudio_66

[2021-09-23 11:37] wangye707 commented on #35901
@huangwan-jiayi  trt精度改为fp16模式(PrecisionType::kHalf)，然后最好加上warm up预热。

[2021-09-23 11:45] huangwan-jiayi commented on #36022
![image](https://user-images.githubusercontent.com/71338215/134501085-7cd7c4a7-595d-48d0-b822-54ae23e84e18.png)
jing精度改为fp16之后时间没有发生变化，另外您说的warm up 是怎么加呢？
![image](https://user-images.githubusercontent.com/71338215/134501252-71ca2215-d729-466c-b8ec-ce49a1a60bb6.png)

[2021-09-23 11:51] wangxicoding commented on #36022
for循环跑个大概25步，前面5步当warmup，后面20步求个平均？

[2021-09-23 12:23] wangxicoding commented on #35983
rnn的inputs输入的shape应该是3，https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/RNN_cn.html#rnn
![image](https://user-images.githubusercontent.com/10208305/134506144-dc4cfe9e-c967-4280-8309-03a98d1fe42f.png)

[2021-09-23 12:24] JZ-LIANG commented on #35902
可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DataLoader_cn.html#dataloader

[2021-09-23 12:49] huangwan-jiayi commented on #36022
![image](https://user-images.githubusercontent.com/71338215/134508886-8c9b90e4-ff7c-4779-ba4e-df45d1c403f8.png)
![image](https://user-images.githubusercontent.com/71338215/134508941-f9764b3d-e028-4ab5-b276-0d0bc02569ea.png)
这是5次花的时间，
![image](https://user-images.githubusercontent.com/71338215/134509498-0b73fe5d-5c98-4a08-bb4a-d386668ed1ac.png)
![image](https://user-images.githubusercontent.com/713

[2021-09-23 12:54] huangwan-jiayi commented on #36022
![image](https://user-images.githubusercontent.com/71338215/134510156-f77f4915-bcf8-48e6-b251-ed01b258e462.png)
每次编译的时候会有这个警告，会不会跟这个有关系呢？

[2021-09-23 13:01] wangxicoding commented on #36022
编译警告是手工设置的cudnn_lib这个变量没有使用到，你编译使用到了cudnn了吧。
另外性能可以用nvprof或者nsys给profile一下，看下瓶颈在哪儿

[2021-09-23 13:05] huangwan-jiayi commented on #36022
我在complie里修改了cudnn的路径为我自己的路径，所以是我没有用到cudnn吗。。。 还有您说的nvpro，nsys给profile一下我不太明白是啥意思。
这是我的路径：
![image](https://user-images.githubusercontent.com/71338215/134512165-97984e29-9abd-4aee-afe5-b221f2114bdf.png)

[2021-09-23 13:11] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：52

【状态】：报名

【链接】：https://github.com/JunnYu/PaddleNLP/tree/develop

[2021-09-23 13:13] wangxicoding commented on #36022
看下编译log里面有没有找到cudnn路径之类的。
nvprof和nsys是nvidia提供的profile工具，可以查看https://docs.nvidia.com/nsight-systems/UserGuide/index.html
inference也提供了profile的接口，https://paddle-inference.readthedocs.io/en/latest/api_reference/cxx_api_doc/Config/OtherFunction.html#profile

[2021-09-23 13:15] wangxicoding commented on #36022
另外再试试把IR优化打开？
https://paddle-inference.readthedocs.io/en/latest/api_reference/go_api_doc/Config/OptimConfig.html?highlight=SwitchIrOptim#id1

[2021-09-23 13:21] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：9

【状态】：报名

【链接】：https://github.com/cattidea/Paddle

[2021-09-23 13:22] jczaja commented on #34554
@baoachun  I just got fix that fixes this issue (tested on my local set up) . Please test if this resolved this issue : https://github.com/PaddlePaddle/Paddle/pull/35884/

[2021-09-23 13:30] huilin16 opened #36029 "如何固定随机种子，保证网络训练过程可以复现"
请问，应该如何固定随机种子，保证网络训练过程可以复现

我使用代码`paddle seed，似乎并没有作用

import paddle
paddle.seed(102)`

[2021-09-23 13:38] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：10

【状态】：报名

【链接】：https://github.com/cattidea/Paddle

[2021-09-23 13:39] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：11

【状态】：报名

【链接】：https://github.com/cattidea/Paddle

[2021-09-23 13:39] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：12

【状态】：报名

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36064

[2021-09-23 13:39] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：13

【状态】：报名

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36034

[2021-09-23 13:39] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：14

【状态】：报名

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36067

[2021-09-23 13:40] huangwan-jiayi commented on #36022
您说的是这个吗，我看不太懂。...
![image](https://user-images.githubusercontent.com/71338215/134517048-6e7bb9f2-891c-418d-9d60-38e5f3e85137.png)
![image](https://user-images.githubusercontent.com/71338215/134517206-996aeeb3-23d5-49ff-a65c-0827712c103c.png)
![image](https://user-images.githubusercontent.com/71338215/134517265-34078806-7de4-471f-b337-c85735033792.png)
![image](https://user-images.githubusercontent

[2021-09-23 13:40] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：15

【状态】：报名

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36070

[2021-09-23 14:01] wangxicoding commented on #36022
是的。

min和max的时间差距很大，试试从5个warmup之后在加上profile。里面都是一些具体cuda kernel的耗时及占比。可能还是用nsys profile然后可视化出来看起来明了一些

[2021-09-23 14:03] huangwan-jiayi commented on #36022
好的，我明天再看看，谢谢您的耐心解答，辛苦啦！

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: WangXi ***@***.***&gt;
发送时间: 2021年9月23日 22:01
收件人: PaddlePaddle/Paddle ***@***.***&gt;
抄送: huangwan-jiayi ***@***.***&gt;, State change ***@***.***&gt;
主题: 回复：[PaddlePaddle/Paddle] jetson nx上部署paddleseg框架下biesenetV2算法训练自己的数据集产生的模型，推理速度太慢.预测程序用的是paddleseg中的C++部署示例 (#36022)

[2021-09-23 14:10] wangxicoding commented on #36029
是不是什么地方用到了numpy，把numpy的随机种子也固定一下
paddle.seed(123)
np.random.seed(2021)

[2021-09-23 14:17] DOGEwbx commented on #35940
【队名】：1234

【序号】：16

【状态】：报名

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36032

[2021-09-23 14:18] DOGEwbx commented on #35940
【队名】：1234

【序号】：9

【状态】：报名

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36031

[2021-09-23 15:57] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：52

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1085

[2021-09-23 17:25] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：54

【状态】：报名

【链接】：https://github.com/JunnYu/PaddleNLP/tree/develop

[2021-09-24 00:28] fuqianya commented on #35940
【队名】：fuqianya

【序号】：9

【状态】：报名

【链接】：https://github.com/fuqianya/Paddle

[2021-09-24 01:36] 656163832 commented on #34526
【队名】：黑夜里的光cf

【序号】：61

【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild

【状态】：报名

【repo链接】：https://github.com/656163832/-

[2021-09-24 02:01] fuqianya commented on #35940
【队名】：fuqianya

【序号】：9

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36035

[2021-09-24 02:02] baoachun commented on #34554
@OliverLPH  沛含，能帮忙测下吗？

[2021-09-24 02:23] FengSuSky commented on #35940
【队名】：让我们荡起双桨

【序号】：3

【状态】：报名

【链接】：#36007

[2021-09-24 02:46] FengSuSky commented on #35940
【队名】：让我们荡起双桨

【序号】：4

【状态】：报名

【链接】：#36006

[2021-09-24 02:56] jinweiluo commented on #34526
【队名】：VVIP队伍

【序号】：97

【论文】：BERT4Rec: Sequential Recommendation with Bidirectional Encoder Representations from Transformer

【状态】：报名

【repo链接】：https://github.com/jinweiluo/BERT4Rec_AC

[2021-09-24 03:09] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：54

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1086

[2021-09-24 03:11] 20130353 opened #36037 "paddle fleet 如何根据ins label 设置不进行某些塔的更新？"
paddle fleet 在训练多目标时，需要根据label 设置更新哪些塔，不更新哪些塔，具体的写法是什么？

[2021-09-24 03:27] RyanCCC opened #36039 "使用paddleOCR训练时候报错，在paddleOCR上提了issue，答复说paddle没有安装好"
请问训练的时候执行以下命令，报错了如下截图所示：

paddle.utils.run_check()
![](https://user-images.githubusercontent.com/27406337/134468916-e9fbb7b3-fffa-4a5a-b4cb-5678c0c6196a.png)

cuda版本：
![image](https://user-images.githubusercontent.com/27406337/134613547-d1e82f1e-d92b-407e-b78e-2bcbfac692db.png)

操作系统：
Linux Debain

[2021-09-24 03:33] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：56

【状态】：报名

【链接】：https://github.com/JunnYu/PaddleNLP/tree/develop

[2021-09-24 03:35] huangwan-jiayi commented on #36022
你好，这是我用paddle官方的profile设置，run了10次，
![image](https://user-images.githubusercontent.com/71338215/134613962-04993216-6764-4be6-a47c-d87b5e38ceba.png)
![image](https://user-images.githubusercontent.com/71338215/134613981-87413a97-4eb0-43a2-a4fa-c79ff69570a3.png)
为啥GPU time是0呢？
![image](https://user-images.githubusercontent.com/71338215/134614008-1ee17adf-6f0d-4cc1-86cd-7568bccf1239.png)
还有您说的从5个warmup

[2021-09-24 03:47] starrella commented on #35940
【队名】：A-SOUL

【序号】：57

【状态】：报名

【链接】：#36007

[2021-09-24 04:03] CuberrChen commented on #34526
【队名】：波波啥也不会

【序号】：3

【论文】：VoxelNet: End-to-End Learning for Point Cloud Based 3D Object Detection

【状态】：报名

【repo链接】：https://github.com/CuberrChen/Voxelnet-Paddle

[2021-09-24 04:05] CuberrChen commented on #34526
【队名】：波波啥也不会

【序号】：4

【论文】：EfficientDet: Scalable and Efficient Object Detection

【状态】：报名

【repo链接】：https://github.com/CuberrChen/efficientdet-paddle

[2021-09-24 04:21] wangxicoding commented on #36022
好像不太行。。新建一个predictor不知道可不可以🤣

不太清楚，里面都有cpu<-->gpu的拷贝，理论应该是有GPU的time的。
要不还是试试nv的nsys profile工具。
[code]
在运行目录中会得到两个文件：report1.sqlite以及report1.qdrep。其中report1.qdrep是我们需要的文件。Nsight System打开report1.qdrep就可以了。
通过profile可以进行性能分析，举个栗子，如下图中间的gap可能就是前后处理的时间过长导致的。
![image](https://user-images.githubusercontent.com/10208305/134617461-64e796a8-c913-4a23-b7c0-8b6eb23cc01d.png)
https://developer.nvidia.com/gamew

[2021-09-24 05:11] wym888 commented on #35911
请帮忙看看 13个epoch 就挂了
在2021年9月23日 ***@***.***> 写道：

words, label = line.split('\t')

ValueError: too many values to unpack (expected 2)

这两句很明显是输入数据和reader 不匹配造成的，paddlenlp 的dataset reader 要求每行只有两个元素（words, label ）， 你的dataset 不符合。
请查看你的mydataload.py的实现。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on t

[2021-09-24 05:26] huilin16 commented on #36029
您好，好像并不起作用，

而且我的模型用的是何凯明初始化，
我的输入是固定的1张图片
用了paddle。seed每次输出的结果并不相同

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年9月23日(星期四) 晚上10:

[2021-09-24 05:42] Sunyingbin commented on #35983
x_data.shape 我转成了[10, 72, 1]可以了，10：batch_size  72：入参个数 这样对吗

[2021-09-24 05:52] wangxicoding commented on #35983
![image](https://user-images.githubusercontent.com/10208305/134624785-9774ee8c-306c-4ba6-8aac-65cf742cfc8e.png)
根据文档[10, 72, 1]，10为batch_size，72为time_steps，1为input_size。

[2021-09-24 05:53] laidunping commented on #34526
【队名】：laidunping

【序号】：59

【论文】：Uniter: Learning universal image-text representations

【状态】：报名

【repo链接】：https://github.com/laidunping/Paddle-uniter

[2021-09-24 05:55] Sunyingbin commented on #35983
我用上一天的数据共72条，预测第二天某个时间点的负荷，所以在lstm中入参是1维，是这样吗？

[2021-09-24 06:01] wangxicoding commented on #36029
跑的静态图还是动态图，再试试`paddle.static.default_main_program().random_seed = 102`

[2021-09-24 06:02] jinweiluo commented on #34526
【队名】：VVIP队伍

【序号】：97

【论文】：BERT4Rec: Sequential Recommendation with Bidirectional Encoder Representations from Transformer

【状态】：提交

【repo链接】：https://github.com/jinweiluo/BERT4Rec_AC

[2021-09-24 06:04] huilin16 commented on #36029
是在aistudio&nbsp; &nbsp;paddle2.1.2中跑的动态图

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年9月24日(星期五) 下午2:01
***@***.***&gt;;
***@***.

[2021-09-24 06:07] Karenlyw commented on #35921
验证安装报错：root:You are using GPU version Paddle Fluid, But Your CUDA Device is not set properly

[2021-09-24 06:07] ForthTurn commented on #35940
【队名】：千层NTR到底对不队

【序号】：31

【状态】：报名

【链接】：https://github.com/ATP-Tests-Paddle/Paddle

[2021-09-24 06:08] huangwan-jiayi commented on #36022
nsys profile 还是没看懂怎么操作，
![image](https://user-images.githubusercontent.com/71338215/134626233-844500cf-4ddb-4ff6-9153-8deedd3cbbc6.png)这个命令是直接在命令行里使用吗，我显示找不到该命令。

GPU时间为0，是不是和这个有关系啊，
![image](https://user-images.githubusercontent.com/71338215/134625537-16020929-c8f4-4891-bbd1-443babed51bb.png)
是不是每run一次都应该有预处理的过程吧？我现在都不清楚到底那个时间是预测一张图片的时间了
![24EA2B68](https://user-images.githubusercontent.com/71338

[2021-09-24 06:17] ForthTurn commented on #35940
【队名】：千层NTR到底对不队

【序号】：10

【状态】：报名

【链接】：https://github.com/ATP-Tests-Paddle/Paddle

[2021-09-24 06:17] ForthTurn commented on #35940
【队名】：千层NTR到底对不队

【序号】：11

【状态】：报名

【链接】：https://github.com/ATP-Tests-Paddle/Paddle

[2021-09-24 06:17] ForthTurn commented on #35940
【队名】：千层NTR到底对不队

【序号】：12

【状态】：报名

【链接】：https://github.com/ATP-Tests-Paddle/Paddle

[2021-09-24 06:19] ForthTurn commented on #35940
【队名】：千层NTR到底对不队

【序号】：97

【状态】：报名

【链接】：https://github.com/ATP-Tests-Paddle/PaTTA

[2021-09-24 06:30] wangxicoding commented on #35983
上面好像发成rnn的文档了，你代码里用的应该是LSTM，https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/LSTM_cn.html#lstm

这样是可以的。另外time_steps应该是一个超参，可以根据需要进行调节。72条，time_steps可以为72，一个特征、记忆传递72次；也可以是time_steps=24，三个特征、记忆传递24次。

[2021-09-24 06:32] wangxicoding commented on #35983
可以参考下知乎或者网络上其它关于LSTM time_steps的文章，https://www.zhihu.com/question/271774530

[2021-09-24 07:02] ForthTurn commented on #35940
【队名】：千层NTR到底对不队

【序号】：83

【状态】：报名

【链接】：https://github.com/ATP-Tests-Paddle/PaddleHelix

[2021-09-24 07:08] OliverLPH commented on #34554
@jczaja
Hi, I have verified https://github.com/PaddlePaddle/Paddle/pull/35884 pr with develop branch, the issue still exists.
But I found some new situation:

for model group 4, when enable mkldnn, multi-thread and multi-instance, if you change `line  188`
![image](https://user-images.githubusercontent.com/14963836/134631756-96bebd47-f003-4326-88a3-ba3901937460.png)

1. if one sample only predict

[2021-09-24 08:15] Novebula commented on #35940
【队名】：枝江

【序号】：78

【状态】：报名

【链接】：https://github.com/StarringJgw/Quantum

[2021-09-24 08:17] SamDM opened #36049 "Persistable buffers are not persistent"
Registering a buffer to `paddle.nn.Layer` does not make it fully persistable, even with `persistable=True`.

This causes the conversion to `onnx` to fail, because the data of the buffer is not exported to the `onnx` graph.
(note that conversion to a static model with `paddle.jit.save` is still working fine)

You can see that non persitable data is skipped in the `paddle2onnx` code [here](https://g

[2021-09-24 08:20] NSL-Wx opened #36050 "Warning: PaddlePaddle catches a failure signal, it may not work properly"
第一次运行程序出现问题，重启后再次运行问题还是一样。
版本、环境信息：
1）	PaddlePaddle版本：1.7.2 （cpu）
2）	CPU：Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz   3.19 GHz
3）	系统环境：Ubuntu18.04（虚拟机）
4）	Python版本号 3.6.13
5）	问题描述：
W0923 16:54:47.450151  3006 init.cc:209] Warning: PaddlePaddle catches a failure signal, it may not work properly
W0923 16:54:47.452323  3006 init.cc:211] You could check whether you killed PaddlePaddle thread/process acci

[2021-09-24 08:29] nosaydomore commented on #34526
【队名】: 再也不想调参了

【序号】：58

【论文】：VinVL: Revisiting Visual Representations in Vision-Language Models
【状态】：报名

【repo链接】：https://github.com/nosaydomore/Oscar_paddle

[2021-09-24 08:50] Novebula commented on #35940
【队名】：枝江

【序号】：78

【状态】：提交

【链接】： https://github.com/PaddlePaddle/Quantum/pull/20

[2021-09-24 09:16] pangyoki commented on #36039
你好，cuda11.2应该需要使用cudnn8，应该是你的cudnn版本太低了。建议使用docker，这个镜像：
docker pull paddlepaddle/paddle:latest-dev-cuda11.2-cudnn8-gcc82

[2021-09-24 09:22] pangyoki commented on #36050
你好，请问这是在哪个阶段报错的？`import paddle`就报错吗？

[2021-09-24 09:30] pangyoki commented on #36049
Thank you for your contribution :)

[2021-09-24 10:00] Karenlyw commented on #35921
另外请问单卡也需要nccl吗

[2021-09-24 10:14] fuqianya commented on #35940
【队名】：fuqianya

【序号】：9

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36058

[2021-09-24 10:25] livingbody commented on #35940
【队名】：livingbody

【序号】：29

【状态】：报名

【链接】：[https://github.com/livingbody/Paddle-Lite](https://github.com/livingbody/Paddle-Lite)

[2021-09-24 10:27] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：56

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1088

[2021-09-24 10:38] Beichen-Ma opened #36060 "单机多卡报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2021-09-24 11:34] fuqianya commented on #35940
【队名】：fuqianya

【序号】：10

【状态】：报名

【链接】：https://github.com/fuqianya/Paddle

[2021-09-24 11:42] jczaja commented on #34554
@OliverLPH  I wasn't able to reproduce you new findings **so** far. I'm using 485b387d0db2b7f4592a2b13f9c68acba5fe7a60 (Merged PR mentioned earlier). So Please write:
1) What is the platform (CPU) you are using where issue occurs?
2) Please attach your model_test.cc file , so I can compare if no differences is there.

[2021-09-24 11:51] wangxicoding commented on #36029
是不是还有python的random随机种子需要固定`random.seed(123)`

[2021-09-24 11:57] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：13

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36034

[2021-09-24 12:15] wangxicoding commented on #36022
嗯，命令行里，需要先安装好nsys。nsys安装在前面的链接里给了，或者apt-get也可以，可以`apt-cache search cuda-nsight`搜一下，大概`apt-get install cuda-nsight-systems-11-2`

CUDA CUPTI is not enable这个吗

不太清楚。。是不是网络里有相关的预处理op

没cudnn理论会编译报错的呢🤣

[2021-09-24 12:36] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：49

【状态】：报名

【链接】：https://github.com/GeYuYao-hub/paddle

[2021-09-24 12:36] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：48

【状态】：报名

【链接】：https://github.com/GeYuYao-hub/paddle

[2021-09-24 12:36] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：39

【状态】：报名

【链接】：https://github.com/GeYuYao-hub/paddle

[2021-09-24 12:36] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：40

【状态】：报名

【链接】：https://github.com/GeYuYao-hub/paddle

[2021-09-24 12:36] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：41

【状态】：报名

【链接】：https://github.com/GeYuYao-hub/paddle

[2021-09-24 12:44] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：49

【状态】：报名

【链接】：https://github.com/GeYuYao-hub/Paddle-1

[2021-09-24 12:44] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：48

【状态】：报名

【链接】：https://github.com/GeYuYao-hub/Paddle-1

[2021-09-24 12:44] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：39

【状态】：报名

【链接】：https://github.com/GeYuYao-hub/Paddle-1

[2021-09-24 12:44] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：40

【状态】：报名

【链接】：https://github.com/GeYuYao-hub/Paddle-1

[2021-09-24 12:44] GeYuYao-hub commented on #35940
【队名】：NCUT飞桨领航团

【序号】：41

【状态】：提交

【链接】：[#36271](https://github.com/PaddlePaddle/Paddle/pull/36271)

[2021-09-24 13:41] mamo0202 commented on #35940
【队名】：GOGOGO

【序号】：65

【状态】：报名

【链接】：https://github.com/chunjiangwong/PaddleVideo

[2021-09-24 14:14] fuqianya commented on #35940
【队名】：fuqianya

【序号】：10

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36066

[2021-09-24 14:14] fuqianya commented on #35940
【队名】：fuqianya

【序号】：11

【状态】：报名

【链接】：https://github.com/fuqianya/Paddle

[2021-09-24 15:09] FileCrasher commented on #35940
【队名】：项目咕咕队

【序号】：66

【状态】：报名

【链接】：https://github.com/FileCrasher/PaddleDetection

[2021-09-24 15:37] Deep-learning999 commented on #35940
【队名】：设计是空

【序号】：12

【状态】：报名

【链接】：[#35998](https://github.com/PaddlePaddle/Paddle/issues/35998)

[2021-09-24 15:40] Deep-learning999 commented on #35940
【队名】：设计是空

【序号】：15

【状态】：报名

【链接】：[#35995](https://github.com/PaddlePaddle/Paddle/issues/35995)

[2021-09-24 16:14] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：12

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36064

[2021-09-24 17:35] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：15

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36070

[2021-09-24 18:39] trK54Ylmz commented on #34036
Here `.whl` files Apple Silicon (m1) devices,

[paddlepaddle-0.0.0-cp39-cp39-macosx_11_0_arm64.whl](https://github.com/trK54Ylmz/Paddle/releases/download/v2.1.3/paddlepaddle-0.0.0-cp39-cp39-macosx_11_0_arm64.whl)
[paddleocr-2.2.1-py3-none-any.whl](https://github.com/trK54Ylmz/Paddle/releases/download/v2.1.3/paddleocr-2.2.1-py3-none-any.whl)

[2021-09-24 20:08] wzj-sudo commented on #34526
【队名】：LwangzhjN的团队

【序号】：3

【论文】：VoxelNet: End-to-End Learning for Point Cloud Based 3D Object Detection

【状态】：报名

【repo链接】：https://github.com/11tini11/pdfx3

[2021-09-25 00:13] NSL-Wx commented on #36050
import paddle.fluid as fluid 时报错。

[2021-09-25 01:28] Ainavo commented on #35940
【队名】：Cattidea

【序号】：48

【状态】：报名

【链接】：https://github.com/PaddlePaddle/Paddle/issues/35957

[2021-09-25 01:36] fuqianya commented on #35940
【队名】：fuqianya

【序号】：11

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36069

[2021-09-25 02:48] huilin16 commented on #36029
并没有效果

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年9月24日(星期五) 晚上7:52
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [P

[2021-09-25 04:46] nku-shengzheliu commented on #34526
【队名】：森林海
【序号】：33
【论文】：Colorful Image Colorization
【状态】：报名
【repo链接】：https://github.com/nku-shengzheliu/PaddlePaddle-Colorful-Image-Colorization

[2021-09-25 05:28] SigureMo commented on #35940
【队名】：[Cattidea](https://github.com/cattidea)

【序号】：14

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36067

[2021-09-25 05:36] pokemonjs commented on #35940
【队名】：学习小分队

【序号】：11

【状态】：报名

【链接】：https://github.com/pokemonjs/Paddle

[2021-09-25 05:37] pokemonjs commented on #35940
【队名】：学习小分队

【序号】：11

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36072

[2021-09-25 06:09] wenjiett opened #36073 "C++预测报错"
我在使用C++进行预测时，程序出现报错：0x00007FFA0C5C8A9B (nvcuda64.dll)处(位于 VS2017_paddle.exe 中)引发的异常: 0xC0000005: 读取位置 0x0000023E9CFFA000 时发生访问冲突。

我使用的版本环境信息：
-C++预测库版本：cuda10.2_cudnn7.6_avx_mkl_trt7
-Cuda:10.2
-Cudnn:7.6.5
-VS2017

代码如下：
#include "paddle/include/paddle_inference_api.h"
#include <chrono>
#include <iostream>
#include <memory>
#include <numeric>

using paddle_infer::Config;
using paddle_infer::Pred

[2021-09-25 06:31] yg2015 commented on #34526
【队名】：黄河

【序号】：100

【论文】：YOLOv4: Optimal Speed and Accuracy of Object Detection

【状态】：报名

【repo链接】：https://github.com/yg2015/yolov4

[2021-09-25 06:41] ForZYX opened #36074 "怎么会出现ReLU导入错误呢"
我在aistudio运行时发现的错误
ModuleNotFoundError: No module named 'paddle.nn.ReLU'
![图片](https://user-images.githubusercontent.com/62179813/134761617-72bc36a9-320b-4dbc-a676-d422c3fa47f6.png)

[2021-09-25 07:06] jiaqianjing commented on #35940
【队名】：神仙会

【序号】：57

【状态】：报名

【链接】：https://github.com/jiaqianjing/PaddleNLP/tree/develop

[2021-09-25 07:26] huangwan-jiayi commented on #36022
![image](https://user-images.githubusercontent.com/71338215/134762645-77ab9de1-6d3a-4e4f-9d6e-1b8a4a3b1804.png)
用apt安装不上。
下载了arm版本的deb，安装后还是不行。
![image](https://user-images.githubusercontent.com/71338215/134762895-41600e20-0cb2-408b-8366-f3c47cfd5f2b.png)
![image](https://user-images.githubusercontent.com/71338215/134762913-fa6bbf29-4dc9-479c-9edc-ea4531c7f6a5.png)

![image](https://user-images.gi

[2021-09-25 08:12] zssty2010 commented on #35564
不纠结，我发完贴给服务器升了cuda_11.1.1_455.32.00_linux.run和驱动，然后各版paddle均畅通。不过值的一掉的是，我升级paddle的原因是1.8版本有内存泄露问题，在2.0.0以上没有了。

[2021-09-25 08:12] #35564 closed, assigned to sandyhouse

[2021-09-25 08:54] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：3

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36076

[2021-09-25 08:59] wanghuancoder commented on #36074
你好，你的paddle是什么版本呢？
能否尝试一下import paddle是否会报错？

[2021-09-25 09:01] ForZYX commented on #36074
paddle不会出错，版本是2.1.2

[2021-09-25 10:35] Callifrey commented on #34526
【队名】：Doctor Who

【序号】：33

【论文】：Colorful Image Colorization

【状态】：提交

【repo链接】：https://github.com/Callifrey/Paddle-CIC

[2021-09-25 10:48] ForthTurn commented on #35940
【队名】：千层NTR到底对不队

【序号】：11

【状态】：提交

【链接】:    https://github.com/PaddlePaddle/Paddle/pull/36077

[2021-09-25 12:20] DeepGeGe opened #36078 "在多线程程序中使用PaddlePaddle梯度计算有问题。"
在【用一个线程生成训练数据，另一个线程计算损失并更新模型参数】情况下，模型参数梯度计算存在问题：
1. 在几个循环后，所有参数梯度均会变为0；
2. 同样的程序有时候出现1中情况，有时候显示参数梯度为None。
多线程代码如下：
[code]
显示梯度为None的报错信息：
[code]
梯度变为0的打印信息：
[code]
【同一段程序多次运行会出现不同结果。】

但是将程序更改为单线程程序，则可正常运行。
单线程代码如下：
[code]
单线程运行情况下，打印结果：
[code]

[2021-09-25 13:25] Liyulingyue commented on #35940
【队名】：一根腿毛

【序号】：35

【状态】：报名

【链接】：#35970

[2021-09-25 13:47] GuoQuanhao commented on #34526
【队名】：陈书记的小跟班

【序号】：61

【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild

【状态】：提交

【repo链接】：https://github.com/GuoQuanhao/RetinaFace-Paddle

[2021-09-25 14:13] AP-Kai commented on #35940
【队名】：一边PR一边脱单队

【序号】：97

【状态】：报名

【链接】：https://github.com/AP-Kai/PaTTA

[2021-09-25 23:48] Liyulingyue commented on #35940
【队名】：一根腿毛

【序号】：46

【状态】：报名

【链接】：https://github.com/Liyulingyue/Paddle

[2021-09-26 01:05] sosan-nian opened #36081 "win10 paddle2.1编译报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：2.1
    2）CPU：Intel(R) Xeon(R) W-2245 CPU @ 3.90GHz   3.91 GHz
    3）GPU：RTX3070，CUDA 10.2和CUDNN8.1.0
    4）系统环境：WIN10专业版、Python3.7
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_

[2021-09-26 02:11] pangyoki commented on #36050
麻烦设置GLOG环境变量打印log看看，使用 `GLOG_v=10`来执行。

[2021-09-26 02:31] fengxiaoshuai commented on #36073
看样子是数据导入时候的问题，考虑im_shape_handle->CopyFromCpu(input_im.data())三个输入都是同样的是不是写法有问题？建议参考inference-demo或者paddle官网提供的教学步骤进行操作。

[2021-09-26 02:46] #36081 closed, assigned to zhwesky2010

[2021-09-26 02:47] Liyulingyue commented on #35940
【队名】：一根腿毛

【序号】：46

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36084

[2021-09-26 02:58] wanghuancoder commented on #36074
from paddle.nn import ReLU
改成这么写吧

[2021-09-26 03:09] wanghuancoder commented on #36078
你好，通过阅读你的代码，感觉你遇到的问题与paddle框架无关，更多的考虑是数据生成线程和使用线程的数据传递出了问题。因为Paddle只运行在第二个线程中（即collect_self_play_data中没有使用Paddle）。所以Paddle不涉及多线程逻辑。 建议打印data_buffer的数据，对比多线程和单线程的差别。

[2021-09-26 05:18] #36060 closed, assigned to pangyoki

[2021-09-26 06:13] Phimos commented on #34526
【队名】：不对不队
【序号】：33
【论文】：Colorful Image Colorization
【状态】：提交
【repo链接】：https://github.com/Phimos/Paddle-Colorization

[2021-09-26 06:15] OliverLPH commented on #34554
@jczaja
Hi, I will also try https://github.com/PaddlePaddle/Paddle/commit/485b387d0db2b7f4592a2b13f9c68acba5fe7a60 on my environment, since my last test is by merge https://github.com/PaddlePaddle/Paddle/pull/35884 locally.
1. cpu info: Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz
2. here is the model_test.cc [model_test.txt](https://github.com/PaddlePaddle/Paddle/files/7230837/model_test.txt) I used

[2021-09-26 06:21] DeepGeGe commented on #36078
您好，这也是我不解的地方。最开始是将网络、优化器初始化和参数更新放在了不同的线程，后面全部置于同一个线程下，发现问题仍然存在。
但是好像不是您说的数据问题，因为查看多线程情况下打印结构可以发现，能够正常打印出LOSS。

[2021-09-26 06:28] wanghuancoder commented on #36078
“因为查看多线程情况下打印结构可以发现，能够正常打印出LOSS。”这句话是啥意思？是说，在多线程情况下，如果打印数据，运行就正常了吗？

[2021-09-26 06:36] DeepGeGe commented on #36078
[code]
不是啊，梯度变成了0，但是LOSS是存在的。所以应该不是数据有问题呀。

[2021-09-26 06:43] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：3

【状态】：重新提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36088

[2021-09-26 06:51] GT-ZhangAcer commented on #36078
之前QQ群也有用户反馈，飞桨使用多线程时参数更新会出现问题

[2021-09-26 06:55] DeepGeGe commented on #36078
比如在我刚刚运行的结果，其中，输入的一个数据为：
[code]
输入的一个标签数据为：
[code]
输入的一个mse_loss标签数据为：
[code]
前向计算的一个结果为：
[code]
两个loss也都正常：
[code]
但是运行下面的代码报错了:
[code]
![image](https://user-images.githubusercontent.com/51083814/134797067-34abc17c-8bf8-4f20-bc92-e38e41c0aeca.png)

也就是说执行loss.backward()之后，各参数的grad还是None。

[2021-09-26 06:57] wanghuancoder commented on #36078
1. 我看你的日志，单线程正常的loss值，和多线程异常的loss值差别还是比较大的。
2. 你的data_buffer有一个maxlen=BUFFER_SIZE，会不会是你生成的数据太快了，而消费数据太慢了？

[2021-09-26 06:57] DeepGeGe commented on #36078
![~0VWI~ %H0R2E2@}U)7Q_ZM](https://user-images.githubusercontent.com/51083814/134797150-42f145f1-9870-4e31-8946-902dca48215c.jpg)

[2021-09-26 06:58] wanghuancoder commented on #36078
目前，你所使用的Paddle代码都在1个线程内，我建议暂时不往Paddle多线程存在问题考虑。而更多的往两个线程之间存在交集的地方考虑。我之所以怀疑data_buffer，是因为data_buffer在2个线程内均有使用。

[2021-09-26 07:01] DeepGeGe commented on #36078
好吧，不过麻烦您看一下我刚刚用debug一步步打印的结果。其中loss都是正常的，但是使用loss.backward()没计算出梯度。

[2021-09-26 07:02] wanghuancoder commented on #36078
嗯嗯，我们好好剖析剖析，万一是Paddle存在问题，那这个issue会非常有价值！

[2021-09-26 07:03] wanghuancoder commented on #36078
另外，您也可以考虑，适当简化你的代码。如果在非常简单的代码中仍然能够复现问题。那么是非常有利于调试的。

[2021-09-26 07:07] DeepGeGe commented on #36078
嗯嗯，我这边也会自己再进一步分析一下程序，同时会写一个简化版的程序来对这个问题进行验证。

[2021-09-26 07:10] GT-ZhangAcer commented on #36078
感觉有简化版本的程序是最好的，多线程这块也挺缺一个Demo，不管是不是框架存在的问题，这个Demo都很有意义

[2021-09-26 07:20] ForZYX commented on #36074
你敢信？昨天在aistudio导入不了的，今天又能导入了（原封不动的代码）

[2021-09-26 07:21] ForZYX commented on #36074
不过还是要感谢您的回复，谢谢！

[2021-09-26 07:46] Beichen-Ma opened #36104 "单机多卡启动时报错ABORT!!! Out of all 4 trainers, the trainer process with rank=[1, 2, 3] was aborted. Please check its log."
这是log：
Traceback (most recent call last):
  File "main.py", line 24, in <module>
    p.apply_async(globals()[Job[config["group"]][0]](config))
  File "/home/mabeichen/MJFL-Simulation/core/Job.py", line 144, in Image_CnnEm
    model = CnnNIID()
  File "/home/mabeichen/MJFL-Simulation/core/model.py", line 120, in __init__
    Conv2D(in_channels=1, out_channels=32, kernel_size=3),
  File "/home/mabei

[2021-09-26 07:55] chensusu11 commented on #20765
Hi, 我也遇到相同的问题，请问您最后有解决的思路吗？还有您是本机编译还是用的paddle 提供的docker哇？ 谢谢

[2021-09-26 07:58] NSL-Wx commented on #36050
请问如何设置GLOG环境变量？

[2021-09-26 08:23] wangxicoding commented on #36022
忘了说，用apt的话得把cuda源给加上(注意修改ubuntu对应的版本和架构，https://developer.download.nvidia.cn/compute/cuda/repos/)，https://www.jianshu.com/p/31b00ec5bc74
![image](https://user-images.githubusercontent.com/10208305/134799843-a7158974-141c-4758-95d0-3734d5ee9d8a.png)

arm版本的deb是咋用不了

[2021-09-26 08:26] Liyulingyue commented on #35940
【队名】：一根腿毛

【序号】：46

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36105

[2021-09-26 08:39] xingha commented on #34526
【队名】：联通软件研究院新客服AI团队
【序号】：22
【论文】：Real-Time High-Resolution Background Matting
【状态】：报名
【repo链接】：https://github.com/xingha/background-paddle.git

[2021-09-26 08:41] saicoco commented on #33364
今天依旧存在这样的问题

[2021-09-26 09:31] ForthTurn commented on #35940
【队名】：千层NTR到底对不队

【序号】：16

【状态】：报名

【链接】：https://github.com/ATP-Tests-Paddle/Paddle

[2021-09-26 09:32] ForthTurn commented on #35940
【队名】：千层NTR到底对不队

【序号】：16

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36109

[2021-09-26 09:52] DeepGeGe commented on #36078
简化程序，用一个线程生成数据存入data_buffer，另一个线程从data_buffer中取数据，然后更新网络参数，实测没问题。

但是目前还是不清楚这个问题的原因。应该不是data_buffer的原因，从data_buffer中深拷贝出一些数据，送入网络计算求loss，再使用loss.backward()有时会所有参数梯度均为None，有时会全为0。

[2021-09-26 09:52] #36078 closed, assigned to wanghuancoder

[2021-09-26 10:33] zhwesky2010 commented on #36104
@bizzzzzy 您好，这个问题是由于你使用的不是CUDA版本的Paddle，麻烦执行下 `paddle.is_compiled_with_cuda` 和 `nvidia-smi` 看看。

[2021-09-26 10:58] bizzzzzy commented on #36104
@zhouwei25
![image](https://user-images.githubusercontent.com/90386322/134804878-1d2fe179-93e5-41c5-b097-59580ea4ab56.png)
![image](https://user-images.githubusercontent.com/90386322/134804907-d05417e1-2e0d-4943-90d0-d6db32fde882.png)

[2021-09-26 10:59] Beichen-Ma commented on #36104
![image](https://user-images.githubusercontent.com/90386322/134804939-c6b70a87-856b-4eff-8642-c6c746b14ab1.png)

![image](https://user-images.githubusercontent.com/90386322/134804941-8d83af9f-1bf3-4acc-a11e-a0a2d4a6c1fe.png)

[2021-09-26 11:09] Beichen-Ma commented on #36104
是cuda版本的Paddle应该
单独使用0号卡可以启动 多卡不能启动 单独使用1/2/3号卡也不能启动

[2021-09-26 11:25] Shawn6688 opened #36115 "paddle.jit.save()内存泄漏"
- 标题：paddle.jit.save()内存泄漏
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    3）GPU：v100, cuda11.2, cuDNN Version: 8.1
    4）系统环境：ubuntu16.04, python 3.9.6
官方示例代码，每个epoch save()一次模型，内存持续增长直到爆掉，将save()注释掉则内存占用维持稳定。为了使内存泄漏更明显，将数据维度设的比较高，并且并行跑了10个程序。

![image](https://user-images.githubusercontent.com/3920920/134805652-90785b77-78e2-437b-9e20-6825b4a6dae4.png)

[code]

[2021-09-26 11:35] AndPuQing commented on #35940
【队名】：就挺秃然的

【序号】：58

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/Paddle2ONNX/pull/357

[2021-09-26 11:38] ForFishes commented on #36029
能提供复现代码吗？是否代码里有修改随机状态。

[2021-09-26 12:08] huangwan-jiayi commented on #36022
![image](https://user-images.githubusercontent.com/71338215/134807206-bb9cbb88-9393-4841-a4d8-711539328802.png)
下图 x86的
![image](https://user-images.githubusercontent.com/71338215/134807259-0dae2c42-5817-492e-9ae9-59529340cf1b.png)
arm版本没有nsys，不知道我可以在jetson nx上下x86的不？

[2021-09-26 12:14] wangxicoding commented on #36022
https://developer.download.nvidia.cn/compute/cuda/repos/ubuntu1804/sbsa/
这里是arm的

[2021-09-26 12:23] wenjiett commented on #36073
我就是跑的c++版yolov3的inference-demo，只是自己添加了模型路径，batch_size设为了1

[2021-09-26 12:24] huangwan-jiayi commented on #36022
安装好了，谢谢。
![image](https://user-images.githubusercontent.com/71338215/134807883-1e120e53-c4fd-4a29-ae96-e7168c685a04.png)

可是我这个是一个run.shhi脚本文件，怎么使用呢？
![image](https://user-images.githubusercontent.com/71338215/134807876-943a8206-9a56-4911-8e12-07d0c9fab9ec.png)

[2021-09-26 12:50] zhwesky2010 commented on #36104
@bizzzzzy 跑一下 `paddle.is_compiled_with_cuda()` ，另外这个代码多吗，代码能给我先复现一下吗

[2021-09-27 01:19] yeyupiaoling opened #36127 "使用小模型时，在训练小模型占用的显存反而更大"
一下是我所使用的模型，第一个模型是比较大的，但是在训练中占用显存反而比第二个模型要小，而且训练速度也快。这是为啥呢？

普通卷积的参数情况：
[code]

MobileNet结构的模型参数情况：
[code]

[2021-09-27 01:58] chensusu11 opened #36128 "core_avx.so 不能动态链接 libcudart.so的问题"
   1）PaddlePaddle版本：2.0
    2）GPU：RTX3070，CUDA 11.2
    3）系统环境：ubuntu18.04、Python3.6

- 安装方式信息：
1）docker安装
2）docker编译：cmake .. -DPY_VERSION=3.6 -DWITH_GPU=ON -DWITH_DSO=ON
                           -DCUDA_USE_STATIC_CUDA_RUNTIME=OFF -DCMAKE_BUILD_TYPE=Release -DCUDA_ARCH_NAME=Auto

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
core_avx.so 不能动态链接 libcudart.so,如下图：
![Uploading image.png…]()

但是按照前辈的方法：https:

[2021-09-27 02:00] chensusu11 commented on #36128
ms002-System-Product-Name /paddle {release/2.0} ldd ./build/python/build/lib.linux-x86_64-3.6/paddle/fluid/core_avx.so
        linux-vdso.so.1 (0x00007ffc44dde000)
        libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007f42fa66b000)
        librt.so.1 => /lib/x86_64-linux-gnu/librt.so.1 (0x00007f42fa463000)
        libiomp5.so => /paddle/./build/python/build/lib.linux-x86_64-3.6/p

[2021-09-27 02:02] KhantiInNaraka opened #36129 "将abs算子保存为模型文件时报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1
    2）CPU：Intel(R) Core(TM) i5-6600 CPU @ 3.30GHz
    4）系统环境：ubuntu16.04，Python3.8
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
只是把一个abs运算存储为模型文件，代码如下：

import paddle
import numpy as np

paddle.enable_static()

main_program = paddle.static.default_main_program()
startup_program = paddle.static.defaul

[2021-09-27 02:03] chensusu11 commented on #36128
CMakeList中这两个选项，不知道需不需要修改呢？
 option(MSVC_STATIC_CRT "use static C Runtime library by default" ON)
 set(CMAKE_SUPPRESS_REGENERATION ON)

[2021-09-27 02:11] Magic-Fy commented on #35940
【队名】：xiaop

【序号】：35

【状态】：报名

【链接】：[repo](https://github.com/Magic-Fy/Paddle) [#35970](https://github.com/PaddlePaddle/Paddle/issues/35970)

[2021-09-27 02:13] Magic-Fy commented on #35940
【队名】：xiaop

【序号】：55

【状态】：报名

【链接】：[repo](https://github.com/Magic-Fy/Paddle) [#1075](https://github.com/PaddlePaddle/PaddleNLP/issues/1075)

[2021-09-27 02:38] terminator314 opened #36130 "训练错误信息 Aborted at 1632644219 (unix time) try date -d @1632644219"
- 版本、环境信息：
PaddlePaddle版本：paddlepaddle-gpu==1.8.5.post107
GPU：Tesla T4
Driver Version: 418.211
CUDA Version: 10.1
cuDNN version: 8.0.5
python version: 3.6.8 (GCC 4.8.5)
CentOS Linux release 7.9.2009 (Core)

**但是通过执行**[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
[root@ecs-baidu-x-gpu-test Downloads]# python3 summary_env.py
TensorRT dynamic librar

[2021-09-27 02:39] chensusu11 commented on #36128
``CUDA_SEPARABLE_COMPILATION`` (Default: ``OFF``)
  If set this will enable separable compilation for all CUDA runtime object
  files.  If used outside of ``cuda_add_executable()`` and ``cuda_add_library()``
  (e.g. calling ``cuda_wrap_srcs()`` directly),
  ``cuda_compute_separable_compilation_object_file_name()`` and
  ``cuda_link_separable_compilation_objects()`` should be called.

这个编译选项到底是设置为

[2021-09-27 03:20] Beichen-Ma commented on #36104
![image](https://user-images.githubusercontent.com/90386322/134840700-cfd88564-1041-45e1-95f1-cfed564a76cd.png)
还挺多的 可以

[2021-09-27 03:26] Niki173 commented on #35940
【队名】AI蒸有趣

【序号】73

【状态】报名

【链接】https://github.com/Niki173/PaddleClas

[2021-09-27 03:26] sosan-nian opened #36137 "使用预测库C#部署后，多线程调用对预测速度影响"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU：
    3）GPU：请提供GPU型号3070、CUDA 11.0和CUDNN 8.1版本号
    4）系统环境：win10
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
-预测信息
    1）C#预测：请您提供预测库安装包的

[2021-09-27 03:30] wangxicoding commented on #36022
`bash run.sh`
nsys profile --stats=true -t cuda bash run.sh

[2021-09-27 03:33] zhwesky2010 commented on #36104
@bizzzzzy 代码可以发邮箱 zhouwei25@baidu.com吗，还有复现方式

[2021-09-27 03:57] huangwan-jiayi commented on #36022
![image](https://user-images.githubusercontent.com/71338215/134842831-743fe882-6164-42ab-ad01-830a1cf04e87.png)。生成了这个文件，可是不知道怎么用nsys打开这个文件。
另外我准备尝试用python端部署这个模型，按错官网步骤来，发现报错，
![image](https://user-images.githubusercontent.com/71338215/134842948-ef70e4f1-570a-4b86-9d46-3a94e465e1aa.png)
我自己编译的paddle 预测库，也手动pip安装写明的whl文件。
![image](https://user-images.githubusercontent.com/71338215/134843293-b1b773e

[2021-09-27 03:59] zhwesky2010 commented on #36104
@bizzzzzy 请问是安装的paddle还是自行编译的paddle呢，什么操作系统

[2021-09-27 04:01] Beichen-Ma commented on #36104
安装的paddle， Centos7

[2021-09-27 04:08] wangxicoding commented on #36022
nsight system直接打开文件就行~
![image](https://user-images.githubusercontent.com/10208305/134843833-f993fad9-ede8-4977-82f8-bb9c81b6af2c.png)

是不是python用错了，python3? 先`import paddle`试下？

[2021-09-27 04:18] huangwan-jiayi commented on #36022
确实是应该用python3。。。。， 不过它又爆了一个错，
![image](https://user-images.githubusercontent.com/71338215/134844406-5a700d9a-affc-49e1-b3fe-fc98e90dcfab.png)
我现在的问题是，找不到NVIDIA Nsight Systems 的可执行文件，不知道怎么打开
![image](https://user-images.githubusercontent.com/71338215/134844640-f94720b4-d760-41cf-970b-a6b4c19ee5e1.png)
![image](https://user-images.githubusercontent.com/71338215/134844816-b0100ab1-fd25-48a9-ab99-3ff5

[2021-09-27 04:30] guxuhong commented on #35940
【队名】：go

【序号】：42

【状态】：报名

【链接】：https://github.com/guxuhong/Paddle

[2021-09-27 04:30] guxuhong commented on #35940
【队名】：go

【序号】：43

【状态】：报名

【链接】：https://github.com/guxuhong/Paddle

[2021-09-27 05:25] wangxicoding commented on #36022
看报错，需要把trt的动态shape模式打开？

https://docs.nvidia.com/nsight-systems/InstallationGuide/index.html
![image](https://user-images.githubusercontent.com/10208305/134849674-792eb6d5-aee9-41f7-b8a6-def53a25a2be.png)

[2021-09-27 06:07] pangyoki commented on #36050
`export GLOG_v=10` 或者 在执行python时带上GLOG：`GLOG_v=10 python`

[2021-09-27 06:24] chensusu11 commented on #17603
Hi，请问您这个是怎么设置动态链接的哇？谢谢了

[2021-09-27 06:49] #35739 closed, assigned to danleifeng

[2021-09-27 06:51] #35721 closed, assigned to danleifeng

[2021-09-27 06:53] danleifeng commented on #35705
如果还有任何问题，欢迎issue区提问

[2021-09-27 06:53] zhwesky2010 commented on #36115
@Shawn6688 您好，你的forward函数里没有加上 `@paddle.jit.to_static` 装饰器

[2021-09-27 06:53] #35705 closed, assigned to nobody

[2021-09-27 06:54] huangwan-jiayi commented on #36022
![image](https://user-images.githubusercontent.com/71338215/134857993-ee33ea92-3d8b-4c66-a045-179827143947.png)
只在这个目录下有nsys的相关文件，并没有
![image](https://user-images.githubusercontent.com/71338215/134858909-e44d80c8-1ec9-486d-9f5e-a95b1efe1288.png)

![image](https://user-images.githubusercontent.com/71338215/134858033-7dccd3d6-c4be-49c5-8e93-5813b3e84a05.png)
![image](https://user-images.githubuserco

[2021-09-27 07:03] Liyulingyue commented on #35940
【队名】：一根腿毛

【序号】：46

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36155

[2021-09-27 07:06] wangxicoding commented on #36022
![image](https://user-images.githubusercontent.com/10208305/134860072-dbe777f9-9eca-4570-b532-d72e71e0de14.png)
https://docs.nvidia.com/nsight-systems/InstallationGuide/index.html#finding-right-package
额，arm不支持host GUI。。。看看有没有x86的电脑，专门拿来可视化。。

TRT相关的问题不了解🤣，要不再提个issue，会有值班同学跟进

[2021-09-27 07:14] huangwan-jiayi commented on #36022
好的，真的很感谢你了。

[2021-09-27 07:19] huangwan-jiayi opened #36156 "用padddleseg自己训练的模型，用python部署在jetson nx 上失败 ，显示需要打开trt动态模式，预测代码中已打开还是报错。"
报错信息：
![image](https://user-images.githubusercontent.com/71338215/134861898-e11a0249-403e-414f-a583-2f01f8ac6ff1.png)
预测代码：
![image](https://user-images.githubusercontent.com/71338215/134862031-f12cb877-e500-41ce-a777-924f09125567.png)
自己在jetson nx上编译的预测库：
![image](https://user-images.githubusercontent.com/71338215/134862238-e5c46025-9c5a-4d58-ba24-32ad0bf458d6.png)

[2021-09-27 07:23] kuizhiqing commented on #35632
done, thx

[2021-09-27 07:23] #35632 closed, assigned to Shixiaowei02

[2021-09-27 07:39] NSL-Wx commented on #36050
$ python convert.py GLOG_v=10
W0927 15:34:38.893525  4598 init.cc:209] Warning: PaddlePaddle catches a failure signal, it may not work properly
W0927 15:34:38.894294  4598 init.cc:211] You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle
W0927 15:34:38.894704  4598 init.cc:214] The detail failure signal is:

W0927 15:34:38.898312  4598 init

[2021-09-27 07:41] #35899 closed, assigned to wangxicoding

[2021-09-27 07:41] pangyoki commented on #36050
GLOG_v=10 放在python前试试呢？

[2021-09-27 07:44] pangyoki commented on #36050
你是怎么安装的呢？安装命令发给我下，我安装看下有没有问题？

[2021-09-27 08:18] ForFishes commented on #35747
conv2d用的是cuda的库计算出来，实测amp对卷基层加速并不明显。

[2021-09-27 08:22] zhwesky2010 commented on #36104
@bizzzzzy 经排查 用户代码在高层API中未添加 `paddle.set_device('gpu')` ，不加的话 执行器place默认成0号，执行OP时去找0号，但是--selected_gpus='1'初始化时指定只初始化1号，因此会报找不到place 0号的错误。

[2021-09-27 08:28] NSL-Wx commented on #36050
$ GLOG_v=10 python convert.py
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0927 16:24:20.862963  4800 pybind.cc:299] py_func has no kernels, skip
I0927 16:24:20.866158  4800 pybind.cc:299] recurrent has no kernels, skip
I0927 16:24:20.866176  4800 pybind.cc:299] while has no kernels, skip
I0927 16:24:20.866185  4800 pybind.cc:299] conditional_block has no kernels, skip
I0927 1

[2021-09-27 08:28] NSL-Wx commented on #36050
PaddlePaddle安装指令：
python3 -m pip install paddlepaddle==1.7.2 -i https://mirror.baidu.com/pypi/simple

[2021-09-27 08:29] huangwan-jiayi opened #36159 "请问有人知道怎么将自己在paddleseg下训练的语义分割模型bisenetV2用paddle inference的c++库部署到jetson nx上后，部署代码预测图片修改为预测一段视频呢？"
小弟，已将自己训练的模型部署到了jetson nx开发板上，也得到了预测的效果，但是预测代码基本上是copy的官网上的例程，官网例程的预测接口只能是一张图。我想修改成预测一段视频，不知道可不可以通过修改预测代码实现，希望有大佬给我指点指点：
以下是全部预测c++代码：

#include <algorithm>
#include <chrono>
#include <iostream>
#include <fstream>
#include <numeric>
#include <time.h>
#include <gflags/gflags.h>
#include <glog/logging.h>
using namespace std;

#include "paddle/include/paddle_inference_api.h"
#include "yaml-cpp/yaml.h

[2021-09-27 08:38] pangyoki commented on #36050
我先看看这个错误信息哈。
如果你方便的话，可以尝试下docker行不行，docker里的软件环境都没问题。
可以用这个镜像：docker pull paddlepaddle/paddle:latest-gpu-cuda10.2-cudnn7-dev
在镜像里装cpu版的paddle即可。

[2021-09-27 08:39] fengxiaoshuai commented on #36073
10.2的cuda有问题，需要打补丁，你可以看看自己的系统环境选择相应的补丁， 下面是官网链接：https://developer.nvidia.com/cuda-10.2-download-archive?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=1604&target_type=runfilelocal

[2021-09-27 08:45] #36074 closed, assigned to wanghuancoder

[2021-09-27 08:52] zhwesky2010 commented on #36115
@Shawn6688 您好，我目前加上了 `@paddle.jit.to_static` ，内存占用比较稳定，怀疑是这个问题。

[2021-09-27 09:01] NSL-Wx commented on #36050
好的

[2021-09-27 09:08] lidanqing-vv commented on #34554
@baoachun Hi since reproducing it once take a lot of time, there is no timeline for this issue dicided now.

[2021-09-27 09:14] bzhang5 commented on #35940
【队名】：一根腿毛

【序号】：59

【状态】：报名

【链接】：https://github.com/bzhang5/Paddle

[2021-09-27 09:14] bzhang5 commented on #35940
【队名】：一根腿毛

【序号】：60

【状态】：报名

【链接】：https://github.com/bzhang5/Paddle

[2021-09-27 09:35] ShiningZhang commented on #35801
您好，可否提供一下详细信息，包括原始模型、转换后的paddle模型；另外该模型是否为原生pytorch模型，实现方式是怎样？

[2021-09-27 10:20] jczaja commented on #34554
@baoachun , @lidanqing-intel  To be on the same page. I do not have reproduction on my setups after 485b387 (fixes done so far for this issue) , so timeline will be provided once I reproduce a problem.

[2021-09-27 11:01] Shawn6688 commented on #36115
![image](https://user-images.githubusercontent.com/3920920/134896167-8df92561-bb80-40ee-ae33-96ca40f07961.png)
我加上之后还是泄漏。

[2021-09-27 12:29] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：60

【状态】：报名

【链接】：https://github.com/stunback/Paddle2ONNX.git

[2021-09-27 12:29] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：61

【状态】：报名

【链接】：https://github.com/stunback/Paddle2ONNX.git

[2021-09-27 12:29] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：59

【状态】：报名

【链接】：https://github.com/stunback/Paddle2ONNX.git

[2021-09-27 12:52] NSL-Wx commented on #36050
使用Docker进行安装需要将原本下载好的版本卸载掉么？

[2021-09-27 13:12] haozech commented on #36127
可以尝试save出最终的inference模型对比下看看。训练速度还与其他训练参数有关

[2021-09-27 13:18] haozech commented on #36128
您的问题已收到，可以尝试下更简单的https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/linux-pip.html pip安装。core_avx.so的动态链接问题在处理哈

[2021-09-27 13:34] haozech commented on #36129
你好，如果想这样做需要用之前的组网方式进行组网，请参考
`import paddle
import paddle.fluid as fluid

paddle.enable_static()

path = "./infer_model"

image = fluid.layers.data(name='img', shape=[1, 28, 28], dtype='float32')
label = fluid.layers.data(name='label', shape=[1], dtype='int64')
feeder = fluid.DataFeeder(feed_list=[image, label], place=fluid.CPUPlace())
predict = paddle.abs(image)

exe = fluid.Executor(fluid.CPUPlac

[2021-09-27 13:39] haozech commented on #36130
你好，从下面这个报错来看无法确定是否是paddle的问题，但从上面的信息来看，你的环境中TRT没有正确设置，建议检查下：
`
Check if TensorRT is installed correctly and its version is matched with paddlepaddle you installed.
Configure TensorRT dynamic library environment variables as follows:
Linux: set LD_LIBRARY_PATH by export LD_LIBRARY_PATH=...
`

[2021-09-27 13:44] terminator314 commented on #36130
TensorRT是推理加速的，我是在云服务器上跑，跟这个没多大关系吧

[2021-09-27 13:45] jiweibo commented on #36137
您好，如果是多个线程在一个GPU上预测的话，性能是会比较差的，因为多线程launch的开销以及launch到gpu stream上也要排队，可以考虑每个线程/进程选择一张卡去跑。

[2021-09-27 13:46] yeyupiaoling commented on #36127
@haozech  inference是没有问题的，模型又小又快，我只是不明白训练的请是这样的。

[2021-09-27 13:46] haozech commented on #36156
如果不需要int8离线量化的话可以关店use_calib_mode，然后用这个开trt动态shape
`
config.SetTRTDynamicShapeInfo(min_input_shape, max_input_shape,
                                opt_input_shape);
`

[2021-09-27 13:48] haozech commented on #36159
可以加个前后处理，将视频的一帧导出为图像，再作为输入进行预测，重复此操作，可以得到对视频进行预测的效果

[2021-09-27 13:53] terminator314 commented on #36130
TensorRT是推理加速的，我是在云服务器上跑，跟这个没多大关系吧

[2021-09-27 14:16] jj551 commented on #35940
【队名】：小鸡调度器

【序号】：7

【状态】：提交

【链接】：https://github.com/MarcaWitt/Paddle.git

[2021-09-27 14:16] jj551 commented on #35940
【队名】：小鸡调度器

【序号】：8

【状态】：报名

【链接】：https://github.com/MarcaWitt/Paddle.git

[2021-09-27 15:15] Channingss commented on #35940
【队名】：Channingss

【序号】：62

【状态】：报名

【链接】：https://github.com/channingss/Paddle2ONNX/

[2021-09-27 15:21] Channingss commented on #35940
【队名】：Channingss

【序号】：65

【状态】：报名

【链接】：https://github.com/Channingss/PaddleVideo

[2021-09-27 17:44] jczaja commented on #34554
@OliverLPH I understand that you use mainly Release build of PaddlePaddle. Do you have issue reproduced when using Debug build?

[2021-09-27 22:05] nihirv opened #36170 "`paddle` doesn't respect `DATA_HOME` from `HUB_HOME` environment variable."
The issue is that `paddle` doesn't respect `DATA_HOME` from the `HUB_HOME` environment variable.

That is, if I write code like this:
[code]

Then I get a local folder `paddlehome` which has some folders in it (this is used by the `paddlehub` library). Inside `paddlehub`, we use `DATA_HOME = HUB_HOME + "dataset"` (see `paddlehub.env` line 64)

However, in `paddle.dataset.common`, DATA_HOME is alwa

[2021-09-28 01:44] chensusu11 commented on #36128
hi，pip安装默认都是静态链接 libcudart文件，我的需求是动态链接 libcudart.so文件，谢谢！

[2021-09-28 02:04] terminator314 commented on #36130
问题已经定位解决，是环境问题

[2021-09-28 02:04] #36130 closed, assigned to nobody

[2021-09-28 02:35] Liyulingyue commented on #35940
【队名】：一根腿毛

【序号】：46

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36167

[2021-09-28 02:38] qili93 commented on #36170
Hi @nihirv ,

Yes, Paddle and PaddleHub as two individual repos, defined their own `DATA_HOME` in code. And this is expected, as other repos such as PaddleNLP, PaddleDetection will also defined their own `DATA_HOME` in their code. And we expect user to only use the datasets defined in specific repo when using the corresponding models in the repo.

That is, ideally if you use PaddleHub models, then

[2021-09-28 02:58] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：5

【状态】：报名和提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36169

[2021-09-28 03:23] simuler commented on #35940
【队名】：simuler

【序号】：44

【状态】：报名

【链接】：https://github.com/simuler/Paddle

[2021-09-28 03:26] pangyoki commented on #36050
不需要。Docker是独立的环境。
另外，除了docker安装外，你也可以先下载新版本的paddle试试，应该更方便一点。有可能最新版的paddle可以使用。

[2021-09-28 05:26] smartfridgeIoT commented on #35940
【队名】：hackphi

【序号】：81

【状态】：报名

【链接】：https://github.com/smartfridgeIoT/Quantum

[2021-09-28 06:40] zlsh80826 opened #36179 "device_worker_test 编译错误"
- 版本、环境信息：
1) PaddlePaddle版本： develop branch or fbbc339428cda9c4120dc9b8bd75a955aaa84c59 之後的 commit
2) CPU: all
3) GPU: all
4) 系統環境:
[code]
- 安装方式信息：
1）docker安装
2）docker编译：
[code]
- 复现信息：執行上述 Dockerfile
[code]
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
1. 錯誤訊息
[code]
2. 問題原因
``device_worker_test`` 在 ``WITH_DISTRIBUTED=ON`` 時會動態連接 brpc, 同時 brpc 會需要 ssl 和 crypto, 但 [dependency](https://github.com/PaddlePad

[2021-09-28 06:45] syyxsxx commented on #35940
【队名】：大佬救命

【序号】：63

【状态】：报名

【链接】：https://github.com/syyxsxx/PaddleX

[2021-09-28 06:52] OliverLPH commented on #34554
@jczaja
I think Paddle didn't support debug mode before? I will try build it on debug and reproduce this issue

[2021-09-28 06:58] Sunyingbin opened #36182 "导入inference model时报错"
paddlepaddle 2.1.0 python 3.7

我从网上爬取的数据做预测任务，部分代码如下：
    # list转成numpy array
    numpy_data_tmp = np.array(data)
    # 上下翻转
    numpy_data = np.flipud(numpy_data_tmp)
    pred = loaded_layer(numpy_data)

报错如下：
Traceback (most recent call last):
  File "/Users/sunyingbin/Documents/workspace/loadforecast/ssq/ssq.py", line 69, in <module>
    inference_predict(inference_path, 21110, test_x)
  File "

[2021-09-28 07:02] syyxsxx commented on #35940
【队名】：大佬救命

【序号】：63

【状态】：报名

【链接】：https://github.com/syyxsxx/PaddleX

[2021-09-28 07:26] 1765251858 commented on #31165
太感谢了

太感谢了，问题已解决

[2021-09-28 07:48] ZHANG-GuiGui commented on #26724
请问 @guobayang 解决了吗？同问scatter_add_在paddle中的实现。

[2021-09-28 08:03] JunnYu commented on #35940
【队名】：我们的名字刚好十个字

【序号】：85

【状态】：报名和提交

【链接】：https://github.com/openvinotoolkit/openvino/pull/7695

[2021-09-28 08:04] docoter opened #36184 "在使用ProgramTranslator进行动态转静态时OSError: could not get source code报错"
使用的是官方文档的案例：
### 以下是代码：
[code]

### 以下是报错信息：
W0928 15:34:39.342442 32433 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.4, Runtime API Version: 11.2
W0928 15:34:39.344497 32433 device_context.cc:422] device: 0, cuDNN Version: 8.1.
/home/cr/miniconda3/lib/python3.9/site-packages/paddle/fluid/layers/utils.py:77: DeprecationWarning: Using or importi

[2021-09-28 08:28] NSL-Wx commented on #36050
更新paddlepaddle为最新版本后，运行原程序出现如下问题：
torch parm fc.weight not exist in paddle modle
torch parm fc.bias not exist in paddle modle

[2021-09-28 08:29] NSL-Wx commented on #36050
更新paddlepaddle为最新版本后，运行程序出现如下问题：
torch parm fc.weight not exist in paddle modle
torch parm fc.bias not exist in paddle modle

[2021-09-28 08:40] kongzx commented on #29172
感觉内存不够 我两张p4卡 128g内存 100g虚拟内存 训练到700多次内存爆了 总共200多g 的内存

[2021-09-28 08:41] jczaja commented on #34554
@OliverLPH  By debug mode I mean -DCMAKE_BUILD_TYPE=Debug in cmake command line and **removed** -DWITH_STRIP=ON

[2021-09-28 08:43] yyang9887 commented on #24788
paddle 2.1.3也有同样的问题

[2021-09-28 08:47] OliverLPH commented on #34554
OK, I will try this cmake command

[2021-09-28 08:54] #27297 closed, assigned to nobody

[2021-09-28 08:54] #27416 closed, assigned to guoshengCS

[2021-09-28 08:54] #27419 closed, assigned to guoshengCS

[2021-09-28 08:54] #27494 closed, assigned to nobody

[2021-09-28 08:54] #27499 closed, assigned to nobody

[2021-09-28 08:54] #27507 closed, assigned to nobody

[2021-09-28 08:54] #27508 closed, assigned to nobody

[2021-09-28 08:54] #27509 closed, assigned to nobody

[2021-09-28 08:54] #27533 closed, assigned to nobody

[2021-09-28 08:54] #27552 closed, assigned to nobody

[2021-09-28 08:54] #27558 closed, assigned to nobody

[2021-09-28 08:54] #27563 closed, assigned to nobody

[2021-09-28 08:54] #27582 closed, assigned to nobody

[2021-09-28 08:54] #27583 closed, assigned to nobody

[2021-09-28 08:55] #35561 closed, assigned to wanghaoshuang, winter-wang

[2021-09-28 09:06] #26783 closed, assigned to luotao1, donproc

[2021-09-28 09:07] lidanqing-vv commented on #26679
Close it for now. New SOW will be soon.

[2021-09-28 09:07] #26679 closed, assigned to wojtuss

[2021-09-28 09:13] zbp-xxxp commented on #34526
【队名】：Mr.郑先生_的团队

【序号】：38

【论文】：R-Drop: Regularized Dropout for Neural Networks

【状态】：提交

【repo链接】：https://github.com/zbp-xxxp/R-Drop-Paddle

[2021-09-28 09:16] haozech commented on #36128
您好，我们目前是动态链接的libcudart，只是没有通过ldd做，而是通过动态加载的方式进行的，所以ldd命令看不到动态库。

[2021-09-28 09:37] Sunyingbin commented on #35983
想问一下time_steps应该是一个超参这个意思是不是我自己定这个值，比如根据过去5天数据去预测第六天的某一个值，这个5是我想定多少就是多少。

[2021-09-28 10:08] haozech commented on #36127
因为第二个模型在训练时计算量更大，这个是正常现象哈

[2021-09-28 10:13] yeyupiaoling commented on #36127
请问大在哪里呢？我不懂

[2021-09-28 11:19] wangxicoding commented on #35983
是的，不过也跟数据相关了

[2021-09-28 11:25] nihirv commented on #36170
Thanks for the response!

I understand they're different repos, hence it would make sense for them to have their own different `DATA_HOME`. However, across the Paddle ecosystem, `HUB_HOME` seems to be the only way I can change a caching location. It could be worth allowing to change caching locations for the other paddle repos too.

Saying this, one of your points is interesting... I'm actually no

[2021-09-28 11:37] CuberrChen commented on #34526
【队名】：波波啥也不会

【序号】：3

【论文】：VoxelNet: End-to-End Learning for Point Cloud Based 3D Object Detection

【状态】：提交

【repo链接】：https://github.com/CuberrChen/Voxelnet-Paddle

[2021-09-28 11:52] wyq977 commented on #34532
@huangbin2005 好像这个[build](https://paddle-wheel.bj.bcebos.com/2.1.2/macos/macos-cpu-openblas/paddlepaddle-2.1.2-cp38-cp38-macosx_10_14_x86_64.whl) 无法支持mac M1

我猜你说的支持 “arm芯片的 mac M1” 是指paddle在rostta帮助下可以跑 但是还没有native build (for os-arm64), 想numpy就有https://anaconda.org/conda-forge/numpy/1.21.2/download/osx-arm64/numpy-1.21.2-py38hbf7bb01_0.tar.bz2

[2021-09-28 12:09] qili93 commented on #36179
@zlsh80826 您好，推荐使用paddle官方的开发镜像环境

[code]

如果您需要自己构建镜像环境，请参考这个dockerfile进行相关依赖库的安装，例如您这提示缺少的libssl-dev等库

https://github.com/PaddlePaddle/Paddle/blob/develop/tools/dockerfile/Dockerfile.ubuntu18

[2021-09-28 12:19] sdl415 opened #36195 "自行训练的 PPYOLOV2-ResNet50_vd_dcn的模型，执行预测时报错，Server崩溃了，什么原因？"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.3
    2）CPU：
    3）GPU：GTX TITAN X（4块卡） cuda 10.2 cudnn 8.2
    4）系统环境：ubuntu 18.04
    5）python 3.7

用paddleX训练模型，
模型选择：PPYOLOV2
Backbone选择:ResNet50_vd_dcn
其它参数全部是paddleX默认
训练完成后，在paddlex中评估预测的效果不错，发布后开始用命令开启server
python -m paddle_serving_server.serve --model serving_server --port 9494 --gpu_ids 1
启动信息如下，之后执行预测程序如下：

`
from paddle_serving_client import Client

[2021-09-28 12:23] qili93 commented on #36182
您好，根据这个错误提示，是由于您这里转化之后的numpy的数据格式为int64_t

[code]

但是目前Paddle的matmul算子不支持int64_t的数据类似，您可以用以下代码跑一下能看到每个算子具体支持的数据类型，比如matmul的输出是：

[code]

建议您这里将numpy转化而来的数据改一下数据类型，比如 np.float32之类的是matmul可以支持的数据类型就可以。

[2021-09-28 12:29] chenkangyang commented on #34526
【队名】：INTP

【序号】：88

【论文】：VisualBERT: A Simple and Performant Baseline for Vision and Language

【状态】：提交

【repo链接】：https://github.com/chenkangyang/paddle_visual_bert

[2021-09-28 12:34] qili93 commented on #36184
@docoter 首先建议您这里使用Paddle官方的镜像环境来跑可以避免很多环境问题 paddlepaddle/paddle:latest-dev-cuda11.2-cudnn8-gcc82。

同时您这里的代码貌似和官网稍有区别，可以用这个最新代码试一下 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/04_dygraph_to_static/input_spec_cn.html#to-static

如果以上方法都不适用，帮忙确认下你安装的Paddle的whl包的链接或者你安装paddle的命令行，谢谢！

[2021-09-28 12:34] yifwahaha commented on #34526
【队名】：猪公山扛把子

【序号】：103

【论文】：ClassSR: A General Framework to Accelerate Super-Resolution Networks by Data Characteristic

【状态】：提交

【repo链接】：https://github.com/Scallions/ClassSR_paddle

[2021-09-28 12:35] CuberrChen commented on #35749
已经公开项目：https://github.com/CuberrChen/Voxelnet-Paddle
AiStudio链接：https://aistudio.baidu.com/aistudio/projectdetail/2312826?contributionType=1
希望大佬可以看下哪里有问题。

[2021-09-28 12:39] luckykang commented on #35940
【队名】：01战队

【序号】：85

【状态】：报名

【链接】：https://github.com/PaddlePaddle/Paddle/pull/35904

[2021-09-28 12:42] luckykang commented on #35940
【队名】：01战队

【序号】：86

【状态】：报名
【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940

[2021-09-28 12:43] luckykang commented on #35940
【队名】：01战队

【序号】：87

【状态】：报名

【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940

[2021-09-28 12:46] qili93 commented on #36170
Thanks @nihirv for your response, understand the scenario.

And I think this maybe a problem in PaddleHub, as your code here is just an inference job and should not need to download datasets of Paddle. Let me try to reproduce your issue in my local environment and I will double confirm with our developers of PaddleHub and try to provide a solution/fix ASAP.

[2021-09-28 12:59] tsijeodhsjsh opened #36196 "'Tensor' object has no attribute 'to'"
1、执行这一句指令cover = cover.to(device)# 将cover上传到Place时，遇到了这样的问题  “'Tensor' object has no attribute 'to'"
2、执行N, _, H, W = cover.size()，遇到了 'numpy.int64' object is not callable 这样的错误
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle 2.1.2
    2）CPU：cpu
    3）系统环境：python 3.7

 代码如下：
#　超参数准备包
import argparse
import time
import paddle
#　数据集准备包
import os
import gzip
import zipfile
from loader import TrainDatase

[2021-09-28 13:03] TeslaZhao commented on #36195
您好，从报错信息上看是concat op计算过程中输入参数input[0]和input[1]参数不符合concat的计算条件。我猜测input[0]中512和 input[1]中1024已经是batch维度了，最前面的增加了额外的1维导致的。因此我判断是在client请求参数predict函数中的batch参数需要修改：

原代码：
fetch_map = client.predict(
feed={
"image": im,
"im_shape": np.array(list(im.shape[1:])).reshape(-1),
"scale_factor": np.array([1.0,1.0]).reshape(-1),
},
fetch=["save_infer_model/scale_0.tmp_1"],
batch=False)

修改为：
fetch_map = clien

[2021-09-28 13:09] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：85

【状态】：报名

【链接】：https://github.com/stunback/openvino.git

[2021-09-28 13:10] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：86

【状态】：报名

【链接】：https://github.com/stunback/openvino.git

[2021-09-28 13:10] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：87

【状态】：报名

【链接】：https://github.com/stunback/openvino.git

[2021-09-28 13:10] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：88

【状态】：报名

【链接】：https://github.com/stunback/openvino.git

[2021-09-28 13:10] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：88

【状态】：报名

【链接】：https://github.com/stunback/openvino.git

[2021-09-28 13:10] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：89

【状态】：报名

【链接】：https://github.com/stunback/openvino.git

[2021-09-28 13:10] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：90

【状态】：报名

【链接】：https://github.com/stunback/openvino.git

[2021-09-28 13:10] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：91

【状态】：报名

【链接】：https://github.com/stunback/openvino.git

[2021-09-28 13:10] stunback commented on #35940
【队名】：我不想再调参了队

【序号】：92

【状态】：报名

【链接】：https://github.com/stunback/openvino.git

[2021-09-28 14:37] pangay commented on #35940
【队名】：PangAY

【序号】：34

【状态】：报名

【链接】：https://github.com/pangay/PaddlePaddle-Hackathon

[2021-09-28 14:37] pangay commented on #35940
【队名】：PangAY

【序号】：36

【状态】：报名

【链接】：https://github.com/pangay/PaddlePaddle-Hackathon

[2021-09-28 14:37] pangay commented on #35940
【队名】：PangAY

【序号】：79

【状态】：报名

【链接】：https://github.com/pangay/PaddlePaddle-Hackathon

[2021-09-28 14:39] pangay commented on #35940
【队名】：PangAY

【序号】：73

【状态】：报名

【链接】：https://github.com/pangay/PaddlePaddle-Hackathon

[2021-09-28 14:45] AndPuQing commented on #35940
【队名】：就挺秃然的

【序号】：59

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/Paddle2ONNX/pull/357

[2021-09-29 00:44] iverxin commented on #35940
【队名】：Sesame Street

【序号】：51

【状态】：报名

【链接】：https://github.com/pangay/PaddlePaddle-Hackathon

[2021-09-29 00:45] iverxin commented on #35940
【队名】：Sesame Street

【序号】：53

【状态】：报名

【链接】：https://github.com/pangay/PaddlePaddle-Hackathon

[2021-09-29 00:57] #32252 closed, assigned to seiriosPlus, MrChengmo

[2021-09-29 02:10] LihangLiu opened #36202 "单机多卡动转静 SyncBatchNorm op在训练中卡住"
利用from paddle.distributed import fleet进行进行单机单卡训练，采取动转静的模式，在加入SyncBatchNorm2D op的时候，就会导致训练卡住，GPU利用100%。用BatchNorm2D op就可以正常训练。

- 版本、环境信息：
    1）PaddlePaddle版本：2.1.3
    2）GPU：P40 cuda10.1 nccl2.7.8
    3）系统环境：centos7
- 训练信息
    1）单机多卡

[2021-09-29 02:11] LihangLiu commented on #36202
麻烦看一下，感谢~

[2021-09-29 02:54] LibrarristShalinward commented on #34526
【队名】：while True: 卷

【序号】：39

【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search

【状态】：提交2

【repo链接】：https://github.com/LibrarristShalinward/while_true_involute-Cream_of_the_Crop.git

[2021-09-29 02:54] rayleoyoung commented on #29172
我分析下来也是相同的情况，减小batch可能可以缓解。

发自我的iPhone

在 2021年9月28日，下午4:41，我是孔生 ***@***.***> 写道：

﻿

感觉内存不够 我两张p4卡 128g内存 100g虚拟内存 训练到700多次内存爆了 总共200多g 的内存

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/PaddlePaddle/Paddle/issues/29172#issuecomment-928981475>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AMUBOKFFOZFCUWN2O2J

[2021-09-29 03:08] sserdoubleh commented on #29172
batch size 都设置多大，是按 token 计算 batch size 的吗？
因为组 batch 是动态的（padding 是动态的），每个 batch 的样本数和最大长度都有不同，可以发下最后报错？

[2021-09-29 03:33] zlsh80826 commented on #36179
Hi @qili93,

請你測試以下 dockerfile, 使用 ``paddlepaddle/paddle:latest-dev-cuda11.2-cudnn8-gcc82`` 一樣有同樣問題, ``libssl-dev`` 在我提供的 dockerfile 也有安裝, 沒有安裝的話在 cmake configure 階段就會報錯

workaround solution 在 PR #36181, 麻煩請相關同學複現跟進下這個問題

[code]

[2021-09-29 04:02] qili93 commented on #36196
@tsijeodhsjsh

1. “cover = cover.to(device)#” 问题

Paddle的使用方式和Torch不同，不需要使用tensor.to(device)的API来选择设备，如果是动态图只需要设置 paddle.set_device("cpu")就可以设置你想要运行的设备了。

2.  'numpy.int64' object is not callable 问题

你这里的cover如果是一个tensor类型，需要通过 paddle.shape(input) 来获取形状，或者通过 cover = cover.numpy() 转化为numpy格式之后再调用size获取形状

[2021-09-29 04:21] yt605155624 opened #36206 "请问有实现 masked_fill 的计划吗？"
模型中需要用到 masked_fill，目前训练时是用 python 调用 numpy 实现的，但是动转静的时候就不行，导致模型不能部署，请问有实现 masked_fill 的计划吗？

[2021-09-29 05:14] qili93 commented on #36179
hi, 您好，我在官网11.2的镜像上确认了，是可以编译成功的，猜测您这里再官网镜像上编译失败，可能是由于你这里的cmake选项导致的，请参考以下步骤中的cmake命令

[code]

[2021-09-29 05:29] qili93 commented on #36179
另外您可以参考一下，用这个dockerfile也可以编译成功

[code]

运行命令是

[code]

[2021-09-29 05:58] JunnYu commented on #36206
我之前用paddle.where或者用mask矩阵乘输入都可以实现这个操作

[2021-09-29 06:00] yt605155624 commented on #36206
你这种实现是可以动转静的嘛？

[2021-09-29 06:00] smartfridgeIoT commented on #35940
【队名】：hackphi

【序号】：82

【状态】：报名

【链接】：https://github.com/smartfridgeIoT/Quantum

[2021-09-29 06:07] JunnYu commented on #36206
个人感觉应该可以的，之前我看过有人用乘法这样做过

[2021-09-29 06:12] luckykang commented on #35940
队名】：01战队
【序号】：88
【状态】：报名
【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940

[2021-09-29 06:12] luckykang commented on #35940
队名】：01战队
【序号】：89
【状态】：报名
【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940

[2021-09-29 06:12] luckykang commented on #35940
队名】：01战队
【序号】：90
【状态】：报名
【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940

[2021-09-29 06:12] luckykang commented on #35940
队名】：01战队
【序号】：91
【状态】：报名
【链接】：https://github.com/PaddlePaddle/Paddle/issues/35940

[2021-09-29 06:31] Sunyingbin commented on #36182
好的，收到

[2021-09-29 06:34] Sunyingbin commented on #36182
float64应该也不支持，我之前转成float64来着

[2021-09-29 06:35] yinhaofeng commented on #36206
https://github.com/PaddlePaddle/Paddle/issues/28238

[2021-09-29 06:37] yinhaofeng commented on #36206
https://github.com/PaddlePaddle/Paddle/issues/31214
感谢您的建议，我们已经注意到了这个问题，正在评审是否需要新增这个api。

[2021-09-29 07:44] chensusu11 commented on #36128
您好，没太理解这个动态加载，但是我这边还是静态去找 libcudart了，您可以参考一下问题#20765 吗？我就是遇到和他相同的问题。 还有core_avx.so和 libwarpctc.so 不太一样，libwarpctc.so 通过ldd 就可以看到去找 libcudart.so 文件了，但是core_avx.so没有，谢谢了！

[2021-09-29 07:46] yeyupiaoling opened #36213 "使用paddle.summary()打印模型时，模型初始化的结果是0，导致模型崩溃"
- PaddlePaddle 2.1.3
 - Python 3.7
 - Windows 10

使用paddle.summary()打印模型时，模型初始化的结果是0，导致模型崩溃。
有什么办法可手动设置输入实际的数据让模型正常打印出来吗？

[2021-09-29 07:50] zlsh80826 commented on #36179
Hi @qili93,

我這邊逐一測試每一條 cmake command, 發現是指定 g++ 版本造成的, 會需要指定 g++ 版本是因為需要在 ubuntu20.04 上編譯, 且 paddle 目前不支持 g++ 9 的編譯, 而在指定 g++-8 之後就會遇到上面所述的錯誤, 請問有 ubuntu20.04 的官方鏡像嗎?

[2021-09-29 07:56] Essence9999 opened #36216 "背景不同，识别结果有差异，如何提高识别模型的鲁棒性？"
![image](https://user-images.githubusercontent.com/66725845/135226789-3326032f-7db0-4a01-8a5a-cb94409517f5.png)
![image](https://user-images.githubusercontent.com/66725845/135226827-3670a1cc-6842-43bd-9ccd-63036e3ccd8c.png)

[2021-09-29 07:57] yinhaofeng commented on #36213
1. paddle.summary()的作用是获取和打印网络的基础结构和参数信息，一般来说并不会导致模型崩溃
2. 关于模型初始化的问题，可以在定义layer的时候，使用create_parameter或者使用ParamAttr指定初始化结果
3. 如果需要直接生成一个固定的tensor来进行计算，也可以使用paddle.to_tensor()来构造

[2021-09-29 07:59] yeyupiaoling commented on #36213
@yinhaofeng 我模型中forward输入的一个值不能小于等于0，但paddle.summary()给模型输入的就是0。
你说的`paddle.to_tensor()来构造`，要怎么处理？

[2021-09-29 08:04] baoachun opened #36217 "Deploy alt_gvt_base model will raise matmul_v2 error by using mkldnn."
![图片](https://user-images.githubusercontent.com/22114318/135226845-40719ede-de58-451d-94f6-8b88bb8abc7a.png)

[code]

[2021-09-29 08:40] lazyn1997 commented on #34526
【队名】：人工智障

【序号】：9

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：提交

【repo链接】：https://github.com/lazyn1997/YOLOX

[2021-09-29 08:58] yinhaofeng commented on #36213
paddle.to_tensor()来直接生成一个值给模型：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/to_tensor_cn.html#to-tensor
另：paddle.summary()用于打印模型的信息，并非用于给模型输入数据。

[2021-09-29 08:58] yinhaofeng commented on #36213
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/summary_cn.html#summary
可以参考这里的用法

[2021-09-29 09:05] yinhaofeng commented on #36216
您这里展示的是模型训练出来的结果。影响结果的因素可能有很多。比如模型的组网结构，收敛程度等等
在组网中添加一些dropout可能会有帮助

[2021-09-29 09:07] jiaohuix commented on #34856
问题描述：将预训练torch权重转为paddle权重后（patchembed），相同输入输出不同。在1e-4时候不等，1e-3相等，不知道是操作系统还是cuda11的问题

[2021-09-29 09:16] xliu79 commented on #35940
【队名】：能打胜仗

【序号】：1

【状态】：报名

【链接】：#36009

[2021-09-29 09:36] yeyupiaoling commented on #36213
@yinhaofeng 调用这个API的时候的确是会自己生成数据并执行一遍的，它自己生成的数据有个值是0，就是这个导致了`paddle.summary()`失败。

[2021-09-29 09:41] yinhaofeng commented on #36217
感谢反馈，我们已经注意到了这个问题，正在全力修复。

[2021-09-29 10:24] qili93 commented on #36170
Hi @nihirv,

I tried to reproduce your case, while failed. What I observed is this line of code not take effect `os.environ["HUB_HOME"] = "paddlehome"`, which result in downloading UNet models to `~/.paddlehub/tmp/` always.

The following is my reproduce steps:

1. install

[code]

2. remove all existing folders under home foler

[code]

3. edit env.py in your install environment

[code]

[code]

[2021-09-29 10:39] nihirv commented on #36170
Hey man, thanks for the lengthy look into this.

I'll check this out on my laptop shortly and report back. Out of curiosity, where did you run the python command from?

If you ran it from your home dir (e.g. in `~` you ran `python /workspace/tempcode/paddle/demo.py` it'll create the .paddlehome folder in your `~` dir. But if you ran `python demo.py` from `/workspace/tempcode/paddle` then it should

[2021-09-29 11:23] MissPenguin commented on #36216
如果只是做银行卡这个垂类的识别，最好用充足的银行卡数据进行finetune，见的数据多了，模型自然就鲁棒了。

[2021-09-29 12:06] yt605155624 opened #36223 "paddle 切片长度不能为 0"
numpy 和 pytorch 切片都可以为 0 ，而 paddle 不可以，希望可以修一下

W0929 12:05:22.337487 37759 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 10.2, Runtime API Version: 10.2
W0929 12:05:22.346271 37759 device_context.cc:465] device: 0, cuDNN Version: 7.6.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/yuantian01/.local/lib/pytho

[2021-09-29 12:29] yinhaofeng commented on #36223
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划修复会尽快回复

[2021-09-29 12:32] rayleoyoung commented on #29172
我就是调小到4，现在已经休假了

发自我的iPhone

在 2021年9月29日，上午11:08，sserdoubleh ***@***.***> 写道：

﻿

我分析下来也是相同的情况，减小batch可能可以缓解。

batch size 都设置多大，是按 token 计算 batch size 的吗？
因为组 batch 是动态的（padding 是动态的），每个 batch 的样本数和最大长度都有不同，可以发下最后报错？

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/PaddlePaddle/Paddle/issues/29172#issuecomment-929788817>, or unsub

[2021-09-29 13:13] CuberrChen commented on #34526
【队名】：波波啥也不会

【序号】：4

【论文】：EfficientDet: Scalable and Efficient Object Detection

【状态】：提交

【repo链接】：https://github.com/CuberrChen/efficientdet-paddle

[2021-09-29 13:13] hebangwen commented on #35801
你好，具体可以参考该[repo](https://github.com/BangwenHe/PaddleTorchParameterTransferer)，复现步骤如下：

- 下载InterHand的权重到根目录的`weights`文件夹中，[下载链接](https://drive.google.com/drive/folders/143sqUHLq3stQTvJdV1YdBivnkM1bfAJE?usp=sharing)
- 运行`main.py`，会在`weights`文件夹下生成`interhand.pdparams`权重文件
- 分别运行`demo.py`和`demo2.py`，会生成四个npy文件，里面分别保存了torch和paddlepaddle推断得到的heatmap和最后的关键点坐标
- 运行`heatmap_compare.py`，会生成两个结果，第一个是heatmap

[2021-09-29 13:55] thomas-yanxin commented on #35940
【队名】：E校之光
【序号】：73
【状态】：报名
【链接】：https://github.com/thomas-yanxin/PaddlePaddle-Hackathon

[2021-09-29 14:15] jczaja commented on #34554
@OliverLPH  I just want to let you know that I got stable reproduction of issue when test_groups="4" , so I can investigate the problem. Thanks for hints

[2021-09-29 14:34] Callifrey commented on #34526
【队名】：Doctor Who

【序号】：33

【论文】：Colorful Image Colorization

【状态】：提交

【repo链接】：https://github.com/Callifrey/Paddle-CIC

[2021-09-29 15:03] lmk123568 commented on #35940
【队名】：康康要发顶会
【序号】：2
【状态】：报名
【链接】：https://github.com/lmk123568/Paddle

[2021-09-29 16:38] unseenme commented on #34526
【队名】：UnseenMe的团队

【序号】：7

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：提交

【repo链接】：https://github.com/unseenme/mnasnet-paddle

[2021-09-29 18:22] cleanerleon commented on #34526
【队名】：F1

【序号】：12

【论文】：YOLOv4: Optimal Speed and Accuracy of Object Detection

【状态】：报名

【repo链接】：https://github.com/cleanerleon/yolo4_on_ppdet

[2021-09-30 02:21] zhangxin-xd commented on #34526
【队名】：chuchu和副本

【序号】：113

【论文】：Category-Level Adversarial Adaptation for Semantic Segmentation using Purified Features

【状态】：提交

【repo链接】：https://github.com/zhangxin-xd/CLAN-paddle

[2021-09-30 02:41] KhantiInNaraka commented on #36129
谢谢，但我试过，新的组网方式组一个加法是没问题的，z=a+b这样。

[2021-09-30 02:56] icey-zhang commented on #34526
【队名】：科研开小差

【序号】：61

【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild

【状态】：提交

【repo链接】：https://github.com/icey-zhang/RetinaFace_paddle

[2021-09-30 02:59] icey-zhang commented on #34526
【队名】：科研开小差

【序号】：103
【论文】：ClassSR: A General Framework to Accelerate Super-Resolution Networks by Data Characteristic
【状态】：提交
【repo链接】：https://github.com/icey-zhang/ClassSR_paddle

[2021-09-30 03:00] fuqianya commented on #34526
【队名】：fuqianya

【序号】：50

【论文】：Attention on Attention for Image Captioning

【状态】：提交

【repo链接】：https://github.com/fuqianya/AoANet-Paddle

[2021-09-30 03:09] huangshenneng commented on #34526
【队名】：联通软件研究院新客服AI团队

【序号】：61

【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild

【状态】：提交

【repo链接】：https://github.com/huangshenneng/padd_retinaface

[2021-09-30 03:18] 1084667371 opened #36230 "分布式保存模型教程（符号中英文问题）"
地址：https://www.paddlepaddle.org.cn/tutorials/projectdetail/2350263
问题描述：直接复制还要改，刚在脚本中跑报错了，可以改为英文的
![123](https://user-images.githubusercontent.com/50902619/135380409-af5557b4-75d3-47f9-a39a-d4899a337dff.png)

[2021-09-30 03:48] icey-zhang commented on #34526
【队名】：科研开小差
【序号】：62
【论文】：Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Networks
【状态】：提交
【repo链接】：https://github.com/icey-zhang/MTCNN_paddle

[2021-09-30 04:42] baoachun commented on #36217
@lidanqing-intel

[2021-09-30 06:56] HuStanding opened #36238 "RuntimeError: (PreconditionNotMet) Cannot load cudnn shared library. Cannot invoke method cudnnGetVersion."
Runtime environment:
  -PaddlePaddle version    2.0.2
  -GPU: including CUDA10.0
  -OS Platform Ubuntu 16.04.6 LTS
  -Python version 3.6

The following error occurred when I used the Paddle-GPU version of the prediction：
`RuntimeError: (PreconditionNotMet) Cannot load cudnn shared library. Cannot invoke method cudnnGetVersion.
  [Hint: cudnn_dso_handle should not be null.] (at /paddle/paddle/fluid

[2021-09-30 07:02] LinJayan commented on #34526
【队名】：LaLaLa

【序号】：95

【论文】：CAN: Revisiting Feature Co-Action for Click-Through Rate Prediction

【状态】：提交

【repo链接】：https://github.com/LinJayan/CAN_Paddle

[2021-09-30 07:44] LielinJiang commented on #36213
可以直接使用input参数输入你想要的tensor

[2021-09-30 07:55] rs-lsl opened #36242 "报错原因不清晰"
在对Unet网络训练时，池化层会减小patchsize，但是在输入的patchsize较小时，过多的池化操作最后会使得patchsize变为1*1后仍进行池化，这时就会报错，但是并不是提示patchsize过小，而是提示OSERROR: (Externel) cudnn error， CUDNN_STATUS_BAD_PARAM, 很难找到bug所在，希望能改进一下
![)ECW_FH HCK3X( `QP9O`7](https://user-images.githubusercontent.com/66960705/135411183-45c73a25-7ae2-48c0-af56-90df6c89878d.png)

[2021-09-30 07:56] rs-lsl commented on #36242
![)ECW_FH HCK3X( `QP9O`7](https://user-images.githubusercontent.com/66960705/135411358-8bf15987-a14d-4dc2-a355-5e94350b515a.png)

[2021-09-30 08:07] rs-lsl commented on #36242
池化是通过步长为2的卷积实现的

[2021-09-30 08:28] yeyupiaoling commented on #36213
@LielinJiang 你说的这个`input`参数哦
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/summary_cn.html#summary

[2021-09-30 08:28] gloria111 commented on #34526
【队名】：渔夫

【序号】：9

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：提交

【repo链接】：https://github.com/gloria111/YOLOX_paddle

[2021-09-30 08:43] LielinJiang commented on #36213
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/hapi/model_summary.py#L28 可以先试一下develop版本，我们会在2.2RC版本发布这个功能

[2021-09-30 08:45] yeyupiaoling commented on #36213
@LielinJiang 好的，谢谢！

[2021-09-30 08:45] #36213 closed, assigned to yinhaofeng

[2021-09-30 09:00] unseenme opened #36244 "【论文复现】内存占用有差异，导致训练时无法达到参考实现同样的batch_size"
### 环境
AI Stuido 脚本任务 单机四卡
PaddleClas v2.2.0
paddle v2.1.2
GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime API Version: 10.1
cuDNN Version: 7.6
python3.7

### 问题概要
PaddleClas内存占用高于参考项目。

### 问题详情
在复现No.7 MnasNet的过程中发现：
在参考项目`https://github.com/1e100/mnasnet_trainer`中提到，
训练用的硬件为4x NVIDIA GTX 1080ti。
而我用同样的参数在4x V100上训练时，提示内存不足。
之后把BatchSize从740降低到692后，就可以正常训练了。

### 建议
增加内存优化选项。
比如，增

[2021-09-30 09:06] littletomatodonkey commented on #36238
你好，看着是cudnn so没找到导致的，可以尝试将cudnn lib添加到系统环境变量中试下，此外，paddle官网文档中目前推荐cuda10.1，cuda10.2，cuda11.x，不建议使用cuda10.0了哈

[2021-09-30 09:09] littletomatodonkey commented on #36242
你好，图像大小和batch size是多少呢？感觉像是输入不合规导致的，或者方便提供一个可复现的单测吗？

[2021-09-30 09:11] littletomatodonkey commented on #36244
你好，二者训练都使用fp16训练了吗？可以排查下其他的训练策略是否有差异哈，此外在某些场景下，paddle由于一些加速策略，可能确实会消耗更多的额外显存哈，感谢你的反馈~

[2021-09-30 09:12] littletomatodonkey commented on #36230
好的，感谢反馈，我们修复下~

[2021-09-30 09:17] zackzhao1 commented on #34526
【队名】：人类高质量男娃

【序号】：22

【论文】：Real-Time High-Resolution Background Matting

【状态】：提交

【repo链接】：https://github.com/zackzhao1/BackgroundMattingV2-paddle

[2021-09-30 09:22] rs-lsl commented on #36242
这是网络定义：
`        self.conv1 = nn.Conv2D(input_nc, d, 4, 2, 1)#input 3channels，output d channels,kernel size=4,stride=2,padding=1
        self.conv2 = nn.Conv2D(d, d * 2, 4, 2, 1)
        self.conv3 = nn.Conv2D(d * 2, d * 4, 4, 2, 1)
        self.conv4 = nn.Conv2D(d * 4, d * 8, 4, 2, 1)
        self.conv5 = nn.Conv2D(d * 8, d * 8, 4, 2, 1)
        self.conv6 = nn.Conv2D(d * 8, d * 8, 4, 2, 1)

[2021-09-30 09:28] rs-lsl commented on #36242
这是网络定义部分：

`
        self.conv1 = nn.Conv2D(input_nc, d, 4, 2, 1)#input 3channels，output d channels,kernel size=4,stride=2,padding=1

        self.conv2 = nn.Conv2D(d, d * 2, 4, 2, 1)

        self.conv3 = nn.Conv2D(d * 2, d * 4, 4, 2, 1)

        self.conv4 = nn.Conv2D(d * 4, d * 8, 4, 2, 1)

        self.conv5 = nn.Conv2D(d * 8, d * 8, 4, 2, 1)

        self.conv6 = nn.Conv2D(d * 8, d * 8, 4, 2,

[2021-09-30 09:39] jwmneu opened #36245 "Momentum 构造函数里 _add_accumulator这一段注释 原因是什么？"
https://github.com/PaddlePaddle/Paddle/blob/c12176e88566a97ca0f3efec071eaaebade9cd9a/python/paddle/optimizer/momentum.py#L173

源码里注释了这么一小段，会导致 另外一个工程
https://github.com/PaddlePaddle/PLSC/blob/bd3f2ee722d692d5e3338ed59502801fa3081ed1/dynamic/classifiers/lsc.py#L79

这一段报错。

我的问题是，如果把这段注释拿掉，会有什么副作用吗？

[2021-09-30 09:53] sukibean163 commented on #34526
【队名】：showtime

【序号】：61

【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild

【状态】：提交

【repo链接】：https://github.com/sukibean163/RetinaFace_Paddle

[2021-09-30 12:53] AA1HSHH commented on #35940
【队名】：AA1HSHH

【序号】：100

【状态】：报名

【链接】：https://github.com/AA1HSHH/PluginwithDL

[2021-09-30 14:42] wzj-sudo commented on #34526
【队名】：LwangzhjN的团队

【序号】：112

【论文】：Topic-Aware Neural Keyphrase Generation for Social Media Language

【状态】：报名

【repo链接】：https://github.com/11tini11/pptakg

[2021-09-30 14:42] wzj-sudo commented on #34526
【队名】：LwangzhjN的团队

【序号】：112

【论文】：Topic-Aware Neural Keyphrase Generation for Social Media Language

【状态】：提交

【repo链接】：https://github.com/11tini11/pptakg

[2021-09-30 14:42] zhangliu55 commented on #34526
【队名】：逐光

【序号】：84

【论文】：ProphetNet: Predicting Future N-gram for Sequence-to-Sequence Pre-training

【状态】：提交

【repo链接】：https://github.com/zhangliu55/ProphetNet-paddle

[2021-09-30 14:44] zhangliu55 commented on #34526
【队名】：逐光

【序号】：84

【论文】：ProphetNet: Predicting Future N-gram for Sequence-to-Sequence Pre-training

【状态】：提交

【repo链接】：https://github.com/zhangliu55/ProphetNet-paddle

[2021-09-30 15:05] zpc-666 commented on #34526
【队名】：8月冲冲冲

【序号】：38

【论文】：R-Drop: Regularized Dropout for Neural Networks

【状态】：报名&提交

【repo链接】：https://github.com/zpc-666/Paddle-R-Drop

[2021-09-30 15:12] WangChen0902 commented on #34526
【队名】：真不错

【序号】：61

【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild

【状态】：提交

【repo链接】：https://github.com/WangChen0902/RetinaFace-Paddle

[2021-09-30 15:28] jiaohuix commented on #34526
【队名】：角灰大帝硬train一发

【序号】：70

【论文】：Convolutional Sequence to Sequence Learning

【状态】：提交

【repo链接】：https://github.com/MiuGod0126/ConvS2S

[2021-09-30 15:31] WangChen0902 commented on #34526
【队名】：真不错

【序号】：62

【论文】：Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Networks

【状态】：提交

【repo链接】：https://github.com/WangChen0902/MTCNN-Paddle

[2021-09-30 15:46] akari0216 commented on #34526
【队名】：若若若月寒

【序号】：66

【论文】：Universal Language Model Fine-tuning for Text Classification

【状态】：提交

【repo链接】：https://github.com/akari0216/Paddle-awdlstm

[2021-09-30 15:54] Atmosphere-art commented on #34526
【队名】：不是吧不是吧难道单押也算押

【序号】：42

【论文】：Self-Attention Generative Adversarial Networks

【状态】：提交

【repo链接】：https://github.com/Atmosphere-art/Self-Attention-GAN

[2021-09-30 15:58] lvliris commented on #34526
【队名】：单人旅途

【序号】：4

【论文】：EfficientDet: Scalable and Efficient Object Detection

【状态】：提交

【repo链接】：https://github.com/lvliris/EfficientDet-Paddle

[2021-09-30 19:44] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：9

【状态】：报名

【链接】：https://github.com/SmirnovKol/Paddle

[2021-09-30 19:46] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：10

【状态】：报名

【链接】：https://github.com/SmirnovKol/Paddle

[2021-09-30 19:47] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：11

【状态】：报名

【链接】：https://github.com/SmirnovKol/Paddle

[2021-09-30 19:48] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：12

【状态】：报名

【链接】：https://github.com/SmirnovKol/Paddle

[2021-09-30 19:48] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：13

【状态】：报名

【链接】：https://github.com/SmirnovKol/Paddle

[2021-09-30 19:49] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：14

【状态】：报名

【链接】：https://github.com/SmirnovKol/Paddle

[2021-09-30 19:49] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：15

【状态】：报名

【链接】：https://github.com/SmirnovKol/Paddle

[2021-09-30 19:50] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：16

【状态】：报名

【链接】：https://github.com/SmirnovKol/Paddle

[2021-10-01 03:16] cleanerleon commented on #34526
【队名】：F1

【序号】：12

【论文】：YOLOv4: Optimal Speed and Accuracy of Object Detection

【状态】：提交

【repo链接】：https://github.com/cleanerleon/yolo4_on_ppdet.git

[2021-10-01 09:54] ElieenAndBella opened #36251 "paddle.addmm存在bug"
out = alpha ∗ x ∗ y + beta ∗ input 此公式错误

应为 2 * alpha * x * y + beta * input

![image](https://user-images.githubusercontent.com/54427695/135601240-b2f71b9a-3476-4d56-818a-794eba89e0ab.png)

[2021-10-02 06:30] nuaaceieyty commented on #34526
【队名】：EICAS

【序号】：12

【论文】：YOLOv4: Optimal Speed and Accuracy of Object Detection

【状态】：提交

【repo链接】：https://github.com/nuaaceieyty/Paddle-YOLOv4

[2021-10-03 09:33] AndPuQing commented on #35940
【队名】：就挺秃然的

【序号】：60

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/Paddle2ONNX/pull/362

[2021-10-03 15:21] iverxin commented on #35940
【队名】：Sesame Street

【序号】：53

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1114

[2021-10-03 16:13] iverxin commented on #35940
【队名】：Sesame Street

【序号】：34

【状态】：报名

【链接】：https://github.com/iverxin/Paddle

[2021-10-03 16:26] AndPuQing commented on #35940
【队名】：就挺秃然的

【序号】：61

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/Paddle2ONNX/pull/363

[2021-10-03 22:37] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：9

【状态】：提交

【链接】：#36255

[2021-10-04 04:16] MissPenguin commented on #36251
没有吧，有参考来源吗？

[2021-10-04 04:20] ElieenAndBella commented on #36251
看截图呀

[2021-10-04 07:40] robinbg commented on #35940
【队名】：自动ac机

【序号】：11

【状态】：报名

【链接】：https://github.com/robinbg/Paddle

[2021-10-04 07:40] robinbg commented on #35940
【队名】：自动ac机

【序号】：14

【状态】：报名

【链接】：https://github.com/robinbg/Paddle

[2021-10-04 09:10] iverxin commented on #35940
【队名】：Sesame Street

【序号】：51

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1115

[2021-10-04 10:46] littletomatodonkey commented on #36242
方便的话 可以传一个可以复现问题的python文件上来嘛？这样直接粘贴代码，格式是乱的~另外，我这边基于paddle2.1.3测试，似乎没有出现您说的问题

[code]

[2021-10-04 11:41] imheng opened #36259 "paddle.vision.models.vgg19 (pretrained=True) 报错“vgg19 model do not have a pretrained model now, ...”"
调用paddle.vision.models.vgg19 (pretrained=True)  时，系统报错“vgg19 model do not have a pretrained model now, you should set pretrained=False”
    1）PaddlePaddle版本：2.1.2
    2）系统环境：aistudio.baidu.com,GPU环境
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。

代码：
model = paddle.vision.models.vgg19 (pretrained=True)

[2021-10-04 13:47] MissPenguin commented on #36251
截图里的结果是对的啊，有什么问题吗。

out = alpha ∗ x ∗ y + beta ∗ input 这个公式在paddle和torch的api文档中定义都是一致的哈，可以自己查阅下：
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0/api/paddle/tensor/math/addmm_cn.html#cn-api-tensor-addmm
https://pytorch.org/docs/master/generated/torch.addmm.html

[2021-10-04 15:55] iverxin commented on #35940
【队名】：Sesame Street

【序号】：55

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1116

[2021-10-04 17:55] yangguohao commented on #35940
【队名】：约克逊是个郡

【序号】：76

【状态】：报名

【链接】：https://github.com/yangguohao/Quantum-1/

[2021-10-04 18:51] jiafuzeng commented on #28047
![image](https://user-images.githubusercontent.com/39875080/135907583-54997704-8775-4a13-a039-de1924108df1.png)

[2021-10-04 19:27] nihirv commented on #36170
Hi @qili93. I'm not entirely sure what's going on in your setting. when I run your step 4, I get the `HUB_HOME` in the appropriate directory:

[code]

My above message from a few days ago isn't correct because even if you ran it from `~`, I'd expect to see `/root/.paddlehome`, not `/root/.paddlehub`

[2021-10-05 03:17] ElieenAndBella commented on #36251
哦哦 我傻了。。。对不起对不起

[2021-10-05 03:17] #36251 closed, assigned to MissPenguin

[2021-10-05 08:54] #24950 closed, assigned to Xreki

[2021-10-05 08:54] #27497 closed, assigned to nobody

[2021-10-05 08:54] #27525 closed, assigned to nobody

[2021-10-05 08:54] #27527 closed, assigned to nobody

[2021-10-05 08:54] #27542 closed, assigned to nobody

[2021-10-05 08:54] #27574 closed, assigned to nobody

[2021-10-05 08:54] #27597 closed, assigned to nobody

[2021-10-05 08:54] #27633 closed, assigned to nobody

[2021-10-05 08:54] #27645 closed, assigned to nobody

[2021-10-05 08:54] #27648 closed, assigned to nobody

[2021-10-05 08:55] #27659 closed, assigned to shangzhizhou

[2021-10-05 12:17] yangguohao commented on #35940
【队名】：约克逊是个郡

【序号】：76

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Quantum/pull/27

[2021-10-05 12:52] iverxin commented on #35940
【队名】：Sesame Street

【序号】：37

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36261

[2021-10-05 12:55] iverxin commented on #35940
【队名】：Sesame Street

【序号】：34

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36257

[2021-10-05 13:15] robinbg commented on #35940
【队名】：自动ac机

【序号】：11

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36262

[2021-10-06 06:48] gsq7474741 commented on #35940
【队名】：PeachML

【序号】：46

【状态】：报名

【链接】：https://github.com/gsq7474741/PaddleTest/tree/develop/framework/api/nn

[2021-10-06 07:47] jieli-matrix commented on #35940
【队名】：Anordi

【序号】：19

【状态】：报名

【链接】：https://github.com/jieli-matrix/Paddle

[2021-10-06 12:55] LayBrick commented on #33547
如何退回cuda10.2

[2021-10-06 20:00] leonleeldc commented on #21708
I have the same question as well.

[2021-10-07 03:25] LayBrick commented on #34385
我也遇到了这个问腿
版本
cuda11.2
pip 运行
python3.7
cudnn 8.2

![image](https://user-images.githubusercontent.com/91247260/136315594-174b962a-fa89-47ff-8118-fda1d3aed04f.png)

[2021-10-07 06:00] gaorui999 opened #36269 "【论文复现】ECANet正常打印网络结构，但训练时报错"
   1）PaddlePaddle版本：2.1.2
    2）系统环境：aistudio GPU：V100

- 模型信息
    1）模型名称   ECANET
    2）使用数据集名称 10 animals
    3）使用算法名称  ECANet 注意力机制
    4）模型链接 https://aistudio.baidu.com/aistudio/projectdetail/1545743
code/eca_module.py
- 复现信息：报错代码如下所示

[code]

- 问题描述：训练后开始报错，报错内容如下
[code]

[2021-10-07 07:14] qdd1234 opened #36270 "傅里叶变换算子"
您好，目前的paddle是没有提供快速傅里叶变换这个算子是吗

[2021-10-07 13:35] robinbg commented on #35940
【队名】：自动ac机

【序号】：1

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36267

[2021-10-07 16:37] nemonameless commented on #36269
您好，从报错信息上看，错误可能是由于loss计算过程维度不匹配，建议检查此过程的输入输出tensor等的维度，例如batch size维度。如未能解决还请继续反馈。

[2021-10-07 21:41] GuoQuanhao commented on #34526
【队名】：陈书记的小跟班
【序号】：4
【论文】：EfficientDet: Scalable and Efficient Object Detection
【状态】：报名&提交
【repo链接】：https://aistudio.baidu.com/aistudio/projectdetail/2444051?shared=1和https://github.com/GuoQuanhao/EfficientDet-Paddle

[2021-10-08 01:43] gaorui999 commented on #36269
您好，我通过逐项print计算tensor维度，检查过程无异常，但训练仍提示相同错误

[2021-10-08 01:45] docoter commented on #36184
现在行了，不知道为什么。。。

[2021-10-08 02:07] LielinJiang commented on #36259
已经添加了该预训练权重，会在2.2rc版本发布。

[2021-10-08 02:29] #36182 closed, assigned to nobody

[2021-10-08 02:29] #35983 closed, assigned to JZ-LIANG

[2021-10-08 02:32] Sunyingbin opened #36275 "如何导入已训练好的模型继续训练？"
我将best_accuracy.pdparams保存下来了，想继续导入这个文件继续调参训练，应该如何做？另外这时候可以修改优化器吗？有没有相关的说明文档。

[2021-10-08 02:43] Sunyingbin opened #36276 "给数据集标准化时，label什么情况下需要做标准化"
我在做预测任务时，对于一些任务当我给label做标准化后，loss会很快收敛，不做标准化loss大的离谱，权重初始化的值太小了？应该如何修改。理论上我觉得不应该给label做标准化啊

[2021-10-08 03:32] felixhao28 opened #36277 "AnalysisConfig 中有些field没有被初始化"
于是，在调用AnalysisConfig::AnalysisConfig(const std::string &prog_file, const std::string &params_file) 时，AnalysisConfig::Update->AnalysisConfig::SerializeInfoCache 会引用未初始化的变量，从而使得有些分析工具报错。

没有被初始化的field有四个：

[code]

https://github.com/PaddlePaddle/Paddle/blob/10e5304403703b7d42a6aa076c8b4965fb0ca8c3/paddle/fluid/inference/api/paddle_analysis_config.h#L826-L831

[2021-10-08 05:43] ceci3 commented on #36202
请问下有可复现代码吗？

[2021-10-08 06:44] nemonameless commented on #36269
您好，报错信息需要复现代码，请提供代码和环境信息，我们复现后会尽快回复您。把您的ai studio项目分享下，或者把你所有的改动点全部体现下谢谢。

[2021-10-08 06:51] robinbg commented on #35940
【队名】：自动ac机

【序号】：14

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/36278

[2021-10-08 07:12] nemonameless commented on #36270
你好，此功能我们已在develop版本中实现，可参考https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/tensor/fft.py#L154
官网API文档暂时未更新。

[2021-10-08 07:17] qdd1234 commented on #36270
具体会用的话 develop版本如何在正式版本中使用？

[2021-10-08 07:22] #36270 closed, assigned to nobody

[2021-10-08 08:26] yt605155624 opened #36281 "请问 FatalError: `Segmentation fault` is detected by the operating system. 是不是 paddle 的报错信息"
流水线上数据预处理的时候遇到下列问题
![image](https://user-images.githubusercontent.com/24568452/136523341-6191109f-a1e8-4dff-a28b-2e726df01d43.png)
预处理的时候没有用到 paddle，看起来像是 numpy 的问题，同时数据预处理的时候是用 Python 的 from concurrent.futures import ThreadPoolExecutor，但是在网上搜索 “FatalError: `Segmentation fault` is detected by the operating system.” 字样的时候都是指路到 paddle，想问问这样字样的报错是不是 paddle 独有的。。https://github.com/PaddlePaddle/Paddle/

[2021-10-08 08:40] jczaja commented on #34554
@OliverLPH Just to let you know where We are with this. Problem was diagnosed and I'm implementing solution(WIP). To temporarily avoid problem you can increase PaddlePaddle cache capacity by adding(inside CreatePredictor, ~110):
config.SetMkldnnCacheCapacity(10);

[2021-10-08 08:53] yeyupiaoling opened #36282 "PaddlePaddle有没有类似这样的as_strided"
- PaddlePaddle 2.1.3

在Pytroch有这个`torch.as_strided`。请问PaddlePaddle有没有这个接口呢？如果没有，有什么办法实现这个接口吗？

如果用纯Python这样实现，但是这个在`nn.Layer`子类用不了
[code]

[2021-10-08 09:29] huangwan-jiayi commented on #36137
大佬，你这个20ms，是在PC上自己训练的模型然后用C++部署在PC上吗？
是哪个分割模型呢？是训练的自己的数据集吗？为啥我在PC上用自己的数据集训练了BisenetV2模型C++部署在jetson nx上 run一次下来平均要100多ms呢？大佬我们可以交流交流吗？方便的话可以加个联系方式吗？

[2021-10-08 11:11] yt605155624 opened #36286 "python3.7 adamw 引入的 warning"
~/.local/lib/python3.7/site-packages/paddle/optimizer/adamw.py:21: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Callable

建议修改 from collections import Callable -> from collections.abc import Callable
之前用 paddle 2.1.2 没遇到过，用 develop 后开始见到这个 warning

[2021-10-08 11:15] RainFrost1 commented on #36275
您好，此功能我们已经支持，可[参考链接](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/08_model_save_load_cn.html)中`2.1.2`参数载入部分。有问题随时提出，谢谢

[2021-10-08 11:16] JunnYu commented on #36282
感觉你可以试一下`F.unfold`，下面是我在实现过程中碰到的例子。
[code]

[code]

[2021-10-08 11:17] RainFrost1 commented on #36276
您好，请问做的什么任务？能否提供一下最小复现代码及环境信息，我们复现后会尽快给您回复

[2021-10-08 11:18] RainFrost1 commented on #36277
您好，此问题反映了产品性能需进一步优化，我们会尽快排期，感谢您提出的宝贵意见，谢谢。

[2021-10-08 11:22] RainFrost1 commented on #36286
您好，此问题反映了产品兼容性需进一步优化，我们会尽快排期，感谢您提出的宝贵意见，谢谢。

[2021-10-08 12:50] SOVLOOKUP commented on #35940
【队名】：灵犀开源

【序号】：99

【状态】：报名

【链接】：https://github.com/SOVLOOKUP/AgentOCR

[2021-10-08 12:51] SOVLOOKUP commented on #35940
【队名】：灵犀开源

【序号】：100

【状态】：报名

【链接】：https://github.com/SOVLOOKUP/AgentOCR

[2021-10-08 13:09] yeyupiaoling commented on #36282
@JunnYu 谢谢，我试一下

[2021-10-08 14:06] jakpiase opened #36288 "Is there need for log_softmax and shuffle_channel oneDNN kernels?"
Hi, I am from oneDNN integration team. I was curious if there is a need of implementing log_softmax and shuffle_channel oneDNN ops? If you could give me some model which uses these operators I can implement oneDNN kernel for them

[2021-10-08 14:57] oldfeecn opened #36289 "编译预测库出错,使用官方版本预测库时开启tensorRt出错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1
    2）CPU：8700K
    3）GPU：3060 CUDA 11.0 CUDNN 81077 tensorRt 7234
    4）系统环境：win10，Python 3.8.8 cmake 3.20.1 vs2019
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
         GIT COMMIT ID: 1e62c239d323354eccfc974d4e2e6496f93d848e
          WITH_MKL: ON
          WITH_MKLDNN: ON
          WITH_GPU: ON
          WITH_ROCM: OFF
          CUDA version: 11.0

[2021-10-08 15:16] oldfeecn commented on #36081
问题解决了吗,碰到3060需要重新编译的问题

[2021-10-08 16:14] gsq7474741 commented on #35940
【队名】：PeachML

【序号】：46

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/223

[2021-10-09 02:36] gongel commented on #36281
@yt605155624 你好，麻烦提供一下code和报错完整截图哈

[2021-10-09 02:40] yt605155624 commented on #36281
https://github.com/PaddlePaddle/Parakeet/blob/develop/examples/transformer_tts/ljspeech/preprocess.sh 中调用 https://github.com/PaddlePaddle/Parakeet/blob/develop/examples/transformer_tts/ljspeech/preprocess.py 的时候报错的，但是不是稳定复现，在实验机器上不报错，但是在 QA 的 CE 流水线上有时候会报错 , 完整截图
![image](https://user-images.githubusercontent.com/24568452/136641189-e4d39f4f-2040-4ff4-8c28-a6a01b9ffdc4.png)

[2021-10-09 02:40] zhongweidi993 opened #36293 "编译生成exe后运行出现应用程序无法正常运行（0xc0000142）"
编译生成exe后运行出现应用程序无法正常运行（0xc0000142）
![image](https://user-images.githubusercontent.com/84389111/136641192-d059d3c5-899e-4c0b-ac82-e5f54166c56e.png)

[2021-10-09 02:51] gongel commented on #36293
你好，已看到您在PaddleOCR提过issue了：https://github.com/PaddlePaddle/PaddleOCR/issues/4269
麻烦等待PaddleOCR那边的回复哈。

[2021-10-09 03:50] yeyupiaoling opened #36300 "Paddle乘法精度问题"
- PaddlePaddle 2.1.3

下面分别是使用Paddle和Numpy实现的hanning，但是计算结果不正确，主要是`pi*n`有问题。

[code]

输出结果：
[code]

[2021-10-09 05:45] whjdark opened #36303 "BatchNorm反向传播时报错"
1）PaddlePaddle版本：2.0+
   2）CPU & GPU
   3）系统环境：Aistudio

模型结构如下
[code]

RuntimeError: (NotFound) No Output(X@GRAD) found for BatchNormGrad operator.
  [Hint: Expected ctx->HasOutput(framework::GradVarName("X")) == true, but received ctx->HasOutput(framework::GradVarName("X")):0 != true:1.] (at /paddle/paddle/fluid/operators/batch_norm_op.cc:467)

注释BatchNorm2D后正常，前向传播正常，反向传播梯度不存在

[2021-10-09 06:00] Sunyingbin commented on #36276
回归任务，简单的全连接模型，数据时公司搜集的楼宇能源信息，根据AOH、AOT和负荷值预测第二天的负荷值，这样的
paddle2.1
python3.7
windows10
def normalization_zscore(train_x):
    print(train_x)
    print('--------------------------------')
    mean = np.mean(train_x, axis=0)
    std = np.std(train_x, axis=0)
    train_x = (train_x - mean) / std
    # 处理异常情况
    train_x[np.isnan(train_x)] = 0
    train_x[np.isinf(train_x)] = 0
    print(train_x)
    r

[2021-10-09 06:00] gongel commented on #36303
您好，可以给个输入的单测样本吗？

[2021-10-09 06:04] OliverLPH commented on #34554
@jczaja
Many thanks for your suggestions.
I tried to set `config.SetMkldnnCacheCapacity(110)` and it works fine in all models with no core dumped.
looking forward to your new solution

[2021-10-09 06:09] crj1998 opened #36305 "reproducibility of paddle2.1.2"
The reproducibility of Paddle2x is ambiguous. The result is various even for fixed seed(random, numpy, paddle).
[code]

[2021-10-09 06:09] songyuwen0808 opened #36306 "编译裁剪"
现在编译产出一次gpu版本的paddle的whl包大概需要30 ~ 40分钟左右
但是其实大量的op并没有用到，所以想问下如何对编译进行裁剪呢，想将不需要的op不进行编译，加快编译速度

[2021-10-09 06:11] Sunyingbin commented on #36275
我已经将loss最小时候的模型和优化器参数保存了，下一次再训练的时候也导入了之前保存的参数，改小了学习率继续训练，但是第一次计算loss还是很大，是为什么，感觉就好像没导入一样，不应该基于之前最小loss开始吗？大致代码如下：

model = MyModel()
# optim = paddle.optimizer.Adagrad(learning_rate=learning_rate, parameters=model.parameters())
optim = paddle.optimizer.Adam(learning_rate=learning_rate, parameters=model.parameters())
# 如果有best_accuracy.pdopt就加载训练好的，不需要重头训练，此时我就不加载优化器了，我想尝试用不同的优化器来训练模型，得到最优
if if_be

[2021-10-09 06:15] GT-ZhangAcer commented on #36305
## 由QQ群补充的信息
<img width="452" alt="图片" src="https://user-images.githubusercontent.com/46156734/136646541-fe80ca80-6620-4d65-8e9e-2a51105af77c.png">

[2021-10-09 06:19] songsh opened #36307 "在安装lac 时，报错"
windows 2008,
安装lac,报错
 File "C:\python\lib\site-packages\LAC\__init__.py", line 23, in <module>
    from .lac import LAC
  File "C:\python\lib\site-packages\LAC\lac.py", line 28, in <module>
    import paddle.fluid as fluid
  File "C:\python\lib\site-packages\paddle\__init__.py", line 39, in <module>
    from . import incubate
  File "C:\python\lib\site-packages\paddle\incubate\__init__.py", line

[2021-10-09 06:26] gongel commented on #36305
你好，已收到问题反馈。可以先尝试设置环境变量：`FLAGS_cudnn_deterministic=True`来进行固定。

[2021-10-09 06:30] GT-ZhangAcer commented on #36305
我也试了一下，在本地的MAC和AI Studio上进行尝试，本地可以锁死，AI Studio的CPU出现了不能锁死的情况。

[2021-10-09 06:36] crj1998 commented on #36305
Yeah, I have tried use `FLAGS_cudnn_deterministic=True python main.py` on AI studio, but the result is still  unrepeatable.

[2021-10-09 06:39] Sunyingbin opened #36308 "请教预测任务的学习率衰减策略"
我在做回归任务，对能源信息进行预测，learing_rate取一个定值觉得不太好，想用一个学习率衰减方式，请问应该用哪个合适？求帮忙！
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/Overview_cn.html#about-lr

[2021-10-09 07:03] yeyupiaoling opened #36309 "paddle.fft.rfft的计算结果跟numpy的不一样"
- PaddlePaddle develop（pip）

使用`paddle.fft.rfft`计算的结果跟numpy的`np.fft.rfft`计算结果输出的shape都不一样的，应该是作用axis不一样，但是改了axis也不起效果。
[code]

[code]

[2021-10-09 07:05] gongel commented on #36307
你好，可尝试更换`opencv-python`的版本、下载更换动态库，同时升级到`PaddlePaddle`的最新版本。

[2021-10-09 07:06] gongel commented on #36305
好的，可以尝试在别的GPU机器上测试。

[2021-10-09 07:07] gongel commented on #36305
一般情况下，CPU机器是可以固定的，GPU可能存在不固定的情况。AI studio待排查。

[2021-10-09 07:07] gongel commented on #36308
你好，常用的有`LinearWarmup`和`NoamDecay`。

[2021-10-09 07:18] Sunyingbin commented on #36308
learning_rate=0.001
scheduler = paddle.optimizer.lr.LinearWarmup(
        learning_rate=learning_rate, warmup_steps=5, start_lr=0, end_lr=0.000001, verbose=True)

训练中，控制台一直打出Epoch 116615: LinearWarmup set learning rate to 0.001.这样
learing rate并没有递减，一直是初始值，这是怎么回事请问

[2021-10-09 07:19] whjdark opened #36310 "您好，可以给个输入的单测样本吗？"
您好，可以给个输入的单测样本吗？

[code]

https://www.paddlepaddle.org.cn/tutorials/projectdetail/2178928
根据教程改的

_Originally posted by @gongel in https://github.com/PaddlePaddle/Paddle/issues/36303#issuecomment-939234932_

[2021-10-09 07:21] GT-ZhangAcer commented on #36305
这个我看QQ群里面对这个需求的人还挺多，这个大概什么时候可以给个结论呢，我也好和用户去讲这个情况

[2021-10-09 07:23] #36310 closed, assigned to gongel

[2021-10-09 07:23] whjdark commented on #36303
[code]

[2021-10-09 07:27] gongel commented on #36308
你好，scheduler需要放在优化器中哈。

[2021-10-09 07:29] Sunyingbin commented on #36308
放了，好像是linearWarmup这个好像是把学习率递增的？

[2021-10-09 07:36] Sunyingbin commented on #36308
scheduler = paddle.optimizer.lr.NoamDecay(d_model=0.01, warmup_steps=100, verbose=True)
试了NoamDecay，d_model是什么意思

[2021-10-09 07:36] gaorui999 commented on #36269
https://aistudio.baidu.com/aistudio/projectdetail/1545743

[2021-10-09 07:36] gaorui999 commented on #36269
code/eca_module.py

[2021-10-09 08:05] gongel commented on #36306
你好，经反馈，暂时是不支持的。

[2021-10-09 08:40] gongel commented on #36309
你好，你方便给一下你的硬件环境吗？

[2021-10-09 08:47] gongel commented on #36309
你好，已确认是bug，麻烦耐心等待后续的修复，感谢反馈。

[2021-10-09 09:00] firestonelib commented on #33907
最新develop和2.2分支已经修复了 @sys1874

[2021-10-09 09:07] gongel commented on #36306
你好，可以通过修改一下文件来移除不需要的OP：https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/CMakeLists.txt 和 https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/operators.cmake

[2021-10-09 09:09] tt8000 commented on #35940
【队名】：一只咸鱼

【序号】：14

【状态】：报名

【链接】：[https://github.com/PaddlePaddle/Paddle/pull/36313](https://github.com/PaddlePaddle/Paddle/pull/36313)

[2021-10-09 09:16] GT-ZhangAcer commented on #36300
插个眼

[2021-10-09 12:37] qdd1234 opened #36316 "Fold"
您好，paddle中有没有类似nn.Fold和torch.view_as_complex这个两个API？

[2021-10-09 14:40] renmada commented on #35940
【队名】：antikill

【序号】：57

【状态】：报名

【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1128

[2021-10-09 14:40] renmada commented on #35940
【队名】：antikill

【序号】：57

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1128

[2021-10-09 15:39] qdd1234 opened #36318 "帮忙解决一下报错"
您好，下图中报错如何解决？
![image](https://user-images.githubusercontent.com/68497831/136665052-f1024de0-2ca7-499a-8e73-9704d3231b15.png)
![image](https://user-images.githubusercontent.com/68497831/136665062-31f3d93e-7ad5-4a45-8cde-22c547d41b71.png)

[2021-10-10 02:24] simuler commented on #35940
【队名】：simuler

【序号】：38

【状态】：报名

【链接】：https://github.com/simuler/Paddle

[2021-10-10 03:10] MAGICSCIENTIST commented on #35028
有解决了的么？同样的情况，同样的问题已经卡了很久了

[2021-10-10 06:54] thunder95 opened #36319 "docker编译安装make test无法通过"
按照最新教程在docker环境下编译安装：  https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/compile/linux-compile.html#anchor-0

1. 出现问题， 翻阅了其他issue， 也没有解决，编译过程没有发现报错
fatal: no tag exactly matches 'f9591bb172e7274a77bfdcb6493579824aec8b47'
package init file '/paddle/build/python/paddle/libs/__init__.py' not found (or not a regular file)

2. make test时，部分算子始终不通过，例如test_unfold_op.py,

[2021-10-10 07:34] minghaoBD commented on #36319
谢谢您提出的问题。
请问您用到的docker镜像和编译的paddle版本是什么？我这边先复现一下。

另外，针对问题3，可以用这个命令只test某一个op：make test ARGS="-R test_unfold_op -V"

[2021-10-10 07:41] thunder95 commented on #36319
@minghaoBD 感谢这么快回复。希望尝试下hackson上的任务fold， 我完全按照官方教程，只是分支不一样， 我从develop分支新建的一个分支my_test。

命令如下：
nvidia-docker run --name paddle-test -v $PWD:/paddle --network=host -it registry.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda10.2-cudnn7-dev /bin/bash

cmake .. -DPY_VERSION=3.7 -DWITH_GPU=ON -DWITH_TESTING=ON -DCMAKE_BUILD_TYPE=Release

[2021-10-10 07:43] S-HuaBomb commented on #36206
我使用 `paddle.where` 实现 masked_fill 的一个例子：
[code]

[2021-10-10 07:44] thunder95 commented on #36319
@minghaoBD 按照您给的方式 只测试那一项是可以测试通过的， 暂不清楚为什么之前无法通过。单独运行python脚本，还是不行。

1/1 Test #247: test_unfold_op ...................   Passed    7.74 sec

The following tests passed:
	test_unfold_op

[2021-10-10 08:27] minghaoBD commented on #36319
现在支持make test的命令，python不行哈。
具体可以查看这个教程介绍，里面详细介绍了原生算子的开发和单测流程。https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/new_op_cn.html

[2021-10-10 08:39] justld commented on #35940
【队名】：dudu

【序号】：38

【状态】：报名&提交

【链接】：https://github.com/justld/PaddleTest

[2021-10-10 13:47] justld commented on #35940
【队名】：dudu

【序号】：42

【状态】：报名&提交

【链接】：https://github.com/justld/PaddleTest

[2021-10-10 14:16] thunder95 commented on #36319
@minghaoBD 老师， 我把fold的op写了， 用pip安装测试前向没有问题，跟torch输出一致。但是用命令测试，始终都报段错误，检查了很久也不知道什么原因，根据排查是在完成前向之后反向之前出现的。希望能给一些提示，应该怎么去debug。

580: --------------------------------------
580: C++ Traceback (most recent call last):
580: --------------------------------------
580: 0   paddle::framework::Executor::Run(paddle::framework::ProgramDesc const&, paddle::framework::Scope*, int, bool, bool, std::vector<std::

[2021-10-10 15:32] thunder95 commented on #36319
@minghaoBD 执行这一步报段错误 (*kernel_func_)(
        ExecutionContext(*this, exec_scope, *dev_ctx, *runtime_ctx));， 但是并么有进入到compute函数里面去

[2021-10-10 15:34] yangguohao commented on #35940
【队名】：约克逊是个郡

【序号】：77

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/Quantum/pull/25

[2021-10-10 16:13] goomega commented on #35940
【队名】：goomega

【序号】：67

【状态】：报名

【链接】：https://github.com/goomega/PaddleDetection

[2021-10-10 18:59] nosaydomore commented on #35940
【队名】：来给大家整个活

【序号】：55

【状态】：报名&&提交

【链接】： https://github.com/PaddlePaddle/PaddleNLP/pull/1133

[2021-10-11 00:21] songsh commented on #36307
更新了还报错：
Error: Your machine doesn't support AVX, but the installed PaddlePaddle is avx core, you should reinstall paddlepaddle with no-avx core.

[2021-10-11 00:40] justld commented on #35940
【队名】：dudu

【序号】：43

【状态】：报名&提交

【链接】：https://github.com/justld/PaddleTest

[2021-10-11 01:01] yeyupiaoling commented on #36300
看来是float32和float64之间的精度问题

[2021-10-11 01:04] songsh commented on #36307
我在centos 7.6 中安装，也报错：
Error: Can not import avx core while this file exists: /usr/local/python3/lib/python3.7/site-packages/paddle/fluid/core_avx.so

[2021-10-11 01:05] simuler commented on #35940
【队名】：simuler

【序号】：44

【状态】：提交

【链接】：https://github.com/simuler/PaddleTest

[2021-10-11 01:17] yeyupiaoling commented on #36300
如果把Paddle里面所使用的都转成float64，误差就非常小了。但是放在预测模型中，会不会强制转换为float32.
[code]

输出：
[code]

[2021-10-11 01:50] yeyupiaoling commented on #36282
@JunnYu 我看来一下unfold，它的输入是[N, C, H, W]，但我的输入[L]，不符合它的输入shape.

我按照下面的这样写，在直接调用没有问题，但是在导出模型的时候，就卡死了，也行是使用了循环。
[code]

[2021-10-11 02:15] GuoQuanhao commented on #35940
【队名】：不是浩浩

【序号】：1

【状态】：报名/提交

【链接】：https://github.com/GuoQuanhao/Paddle [#36267](https://github.com/PaddlePaddle/Paddle/pull/36326)

[2021-10-11 02:19] JunnYu commented on #36282
你可以unsqueeze维度成nchw啊

[2021-10-11 02:43] FleetCommander004 opened #36323 "试图安装paddlepaddle的gpu版，出了问题。"
我最近在试图安装gpu版的paddle paddle。我安装的是最新的2.1.3版。我已经把cuda11.2和cuDNN8.1.1.33都下载下来了。
但是当我试图 import paddle的时候，系统确报出了如下错误：
C:\Users\karlf\Anaconda3\envs\paddle_env\lib\site-packages\paddle\fluid\framework.py:300: UserWarning: You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default.
  warnings.warn(

所以我的环境设置出了哪些问题呢？
我运行conda install paddlepaddle-gpu的时候系统

[2021-10-11 02:51] minghaoBD commented on #36319
明白。seg-fault很可能是访问内存相关的错误。可以结合断点+参照其他op代码，具体看下是否有代码细节错误，指针引用、数据访问、存储之类的。

[2021-10-11 02:54] leezhao415 opened #36324 "AssertionError: the type of architecture(None) should be dict报错"
问题出现过程描述：
https://aistudio.baidu.com/aistudio/projectdetail/2300718?channelType=0&channel=0
该项目按步骤执行到模型训练过程出现该问题
python tools/train.py -c ./ppcls/configs/quick_start/ResNet50_vd.yaml -o Arch.pretrained=True

系统环境：
****************************************
Paddle version: 2.1.3
Paddle With CUDA: True

OS: ubuntu 18.04
Python version: 3.6.13

CUDA version: 11.0.194
Build cuda_11.0_bu.TC445_37.2854045

[2021-10-11 02:54] minghaoBD commented on #36319
这里也遇到了和1一样的问题，https://github.com/PaddlePaddle/Paddle/issues/19717 ，可以参照。

[2021-10-11 02:57] lyuwenyu commented on #36324
看报错信息是报在了paddle cls库里

paddle cls repo的问题建议在提问 https://github.com/PaddlePaddle/PaddleClas/issues

[2021-10-11 03:03] lyuwenyu commented on #36323
确保你这边cuda安装并配置正确

可以在终端`ncnn -V `可以check一下

[2021-10-11 03:14] FleetCommander004 commented on #36323
您好，我试了一下。话说ncnn -V的命令是在terminal里面打开吗？我在terminal里面打出这个命令，说‘ncnn' 不是内部或外部命令，也不是可运行的程序或批处理文件。

[2021-10-11 03:29] yeyupiaoling commented on #36282
谢谢，我修改成这样可以了
[code]

[2021-10-11 03:29] #36282 closed, assigned to nobody

[2021-10-11 03:37] thunder95 commented on #36319
@minghaoBD 编译了多次 也没解决，参考其他类似issue也不行，貌似不影响程序运行，暂且没关注这个问题了。

[2021-10-11 04:14] lyuwenyu commented on #36323
是的 也就是你cuda没配置对  建议按照教程再检查一下环境变量设置对没

[2021-10-11 04:17] lidanqing-vv commented on #36288
@baoachun

[2021-10-11 04:20] lidanqing-vv commented on #36217
Hi, @jakpiase Please fix this issue as high priority than new kernels. Thank you very much !

[2021-10-11 04:55] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：46

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/231

[2021-10-11 05:02] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：49

【状态】：报名

【链接】：https://github.com/SmirnovKol/PaddleTest

[2021-10-11 05:20] minghaoBD commented on #36319
关于问题2，我这边测试了下。直接make test确实有一部分会fail，原因主要是需要手动安装python依赖，例如：
1. test_callback_visualdl requires visualdl
2. test_erf_op requires scipy,
3. etc.

此外，如果要make test所有的单测，也请确保有足够的硬盘空间，且paddle-GPU安装好（有些单测要求 GPU）、等等个性原因。但其实，对于op开发，我们无需运行所有单测，指定测试您开发的那一个即可。希望对您有帮助。

[2021-10-11 05:42] lidanqing-vv commented on #32282
Paddle model zoo FP32/BF16/INT8 MKLDNN Generalization
Need Baidu's input: models priority, business value, real business
Intel execution: Intel do Feasibility Analysis, planed delivery date and then Implementation.

### PaddleClas
* Download link (static picture + dynamic and static) ：https://sys-p0.bj.bcebos.com/Paddle-UnitTestModel/PaddleClas.tgz
* Static+dygraph models including following model

[2021-10-11 05:59] lleesg commented on #34038
2.1.1还报这个warning，2.1.2就解决了

[2021-10-11 06:35] iclementine commented on #36309
在 develop 中已经 fix https://github.com/PaddlePaddle/Paddle/pull/36321

[2021-10-11 06:36] yeyupiaoling commented on #36309
@iclementine 好的，那么是不是今晚更新pip（develop）的安装，听过这个是每晚更新的
![image](https://user-images.githubusercontent.com/26297768/136743584-97b86d58-60a0-49b3-a17c-9756e9bbcc69.png)

[2021-10-11 06:44] #27935 closed, assigned to nobody

[2021-10-11 07:09] lidanqing-vv commented on #35211
@baoachun Please check this.

[2021-10-11 07:15] zackzhao1 commented on #35940
【队名】：人类高质量男娃

【序号】：97

【状态】：报名

【链接】：https://github.com/zackzhao1/opencv_by_paddle_tensor

[2021-10-11 07:33] iclementine commented on #36309
一般情况下是的。不过安装之后也可以看看 commit 信息以确保更新了。

`paddle.__git_commit__` 即可查看。

[2021-10-11 07:34] yeyupiaoling commented on #36309
好的，谢谢

[2021-10-11 07:34] #36309 closed, assigned to iclementine, gongel

[2021-10-11 08:15] No-9527149 opened #36335 "模型训练 DataLoader 报错问题"
# 模型训练 DataLoader 问题

在使用 paddlepaddle 进行简单的模型训练过程中，以下代码能够成功地下载数据集，但是不能进行模型训练，主要报错为 DataLoader reader thread raised an exception.

具体报错情况如下：

[code]

具体代码如下所示：

[code]

首先考虑了VSCode不具备读取数据集的权限，但经过检查后发现并没有问题。更换PyCharm也是一样的报错结果。

然后更换了官方文档中的样例，来测试 paddlepaddle 是否安装成功且能正常使用：

[code]

以上代码可以成功地完成一次简单的模型训练。

考虑是 DataLoader 存在问题，老师说去年的课程中前者可以正常使用，今年报错。期望得到回复，谢谢！

[2021-10-11 08:22] ZhangYulongg commented on #36195
把Resize(640, 640)改为Resize((640, 640))试试？
https://github.com/PaddlePaddle/Serving/blob/v0.6.3/python/paddle_serving_app/reader/image_reader.py#L706
Resize(640, 640)是指定了int类型size=640，max_size=640，如果要将图片Resize为640x640，应指定size=(640, 640)
如果还是不对，应该是im_shape和模型规定的shape没有对上？需要Resize为规定的shape

[2021-10-11 08:30] yeyupiaoling opened #36337 "在导出预测模型的是出现输入数据维度为负数的错误"
- PaddlePaddle develop （pip）

代码：
[code]

错误如下：
[code]

[2021-10-11 08:31] #33995 closed, assigned to zhwesky2010

[2021-10-11 09:34] jakpiase commented on #36217
This problem will be fixed as soon as fix PR(mentioned above) will be merged

[2021-10-11 09:35] RainFrost1 commented on #36276
可以参考[此文档](https://www.zhihu.com/question/37069477/answer/132387124)

[2021-10-11 09:39] gaorui999 opened #36343 "张量经过squeeze和unsqueeze_操作后打印模型没问题，训练时报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2
    2）CPU：aistudio平台
    3）GPU：aistudio平台  V100
    4）系统环境：aistudio平台，Python.37

- 报错信息：
张量经过以下操作后打印结构没问题，但一训练就会提示以下报错信息。全部代码在最下方，复现项目链接为：https://aistudio.baidu.com/aistudio/projectdetail/1545743

        y = paddle.squeeze(y, axis=-1)
        y = paddle.unsqueeze_(y, axis=-1)

[code]
- 问题描述：
- 可复现的代码片段

[code]

[2021-10-11 09:41] lyuwenyu commented on #36335
不是dataloader的问题   MNIST数据出来的是PIL.Image类型 你需要把他转成Tensor 才能送进网络

按照下边的方式 （或者 你上边的第二个例子）
[code]

[2021-10-11 09:45] gongel commented on #36318
你好，能给个简单的输入吗？我来进行复现和排查。

[2021-10-11 09:55] RainFrost1 commented on #36275
'如果有best_accuracy.pdopt就加载训练好的，不需要重头训练，此时我就不加载优化器了，我想尝试用不同的优化器来训练模型，得到最优'，没太理解具体意思。加载中断训练的模型参数（.pdparams)，其实就是相当于加载了预训练模型。加载优化器参数（.pdopt)，就是从中间继续训练。如果只是加载中断的模型参数，但是新建了一个优化器，相当于完全不同的训练了，此时loss的大小会跟中断之前，确实会出现不一样的情况

[2021-10-11 09:57] hhxdestiny commented on #25118
请问是否定位到了此问题？

[2021-10-11 10:03] gongel commented on #36303
好的，收到，这边复现下。

[2021-10-11 10:04] lyuwenyu commented on #36337
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/jit/save_cn.html

加个   `@paddle.jit.to_static` 试一下？

[2021-10-11 10:04] lyuwenyu commented on #36343
建议安装下边试一下
[code]
改成
[code]

[2021-10-11 10:11] gongel commented on #36316
你好，暂时是没有的，我这边进行反馈，内部会安排评估，未来有计划尽快回复。

[2021-10-11 10:27] gongel commented on #36307
你好，你的机器不支持avx，需要安装noavx的版本哈：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/linux-pip.html
![image](https://user-images.githubusercontent.com/24390500/136775346-1c791d96-6961-403a-9244-f808cf3e1472.png)

[2021-10-11 11:30] tsijeodhsjsh opened #36346 "paddle中ssim中有关create window的问题"
def create_window(window_size, channel):
    _1D_window = gaussian(window_size, 1.5).unsqueeze(1)
    _2D_window = _1D_window.mm(_1D_window.t()).float().unsqueeze(0).unsqueeze(0)
    window = _2D_window.expand(channel, 1, window_size, window_size).contiguous()
return window

def _ssim_(img1, img2, window_size=11, size_average=True):
    #img1=img1.numpy()
    #(_, channel, _, _) = img1_size()
    

[2021-10-11 11:35] yingyibiao commented on #36300
mark

[2021-10-11 11:38] songsh commented on #36307
请问，mkl,  openblas, 要如何选 ？

[2021-10-11 11:47] yeyupiaoling commented on #36337
@lyuwenyu 还是一样的错误

[2021-10-11 11:58] gongel commented on #36307
都可以安装的。

[2021-10-11 12:12] jakpiase commented on #36217
Hi @baoachun fix PR has been merged, could you please confirm if it issue is fixed now?

[2021-10-11 12:21] lyuwenyu commented on #36346
1.  `.float()` 改成  `.astype('float32')`
2. `expand` 参数出入的方式不对  参考 [expand](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/expand_cn.html#cn-api-tensor-expand)

[2021-10-11 12:25] lyuwenyu commented on #36337
导出时候那个 `shape` 先写成一个固定的  不用动态shape -1 试一下呢

建议 采用消融的方式 把报错的地方去掉试一下 还能不能导出

[2021-10-11 12:32] yeyupiaoling commented on #36337
@lyuwenyu 试过了，可以的

[2021-10-11 12:37] #35749 closed, assigned to ForFishes

[2021-10-11 12:42] lyuwenyu commented on #36337
[code]
这块 如果是动态输入-1的话  truncate_size就不对了

[2021-10-11 12:43] yeyupiaoling commented on #36337
但是报错的地方是这个OP
[code]

[2021-10-11 12:49] baoachun commented on #36217
@jakpiase  Hi, the problem has been solved.

[2021-10-11 12:59] justld commented on #35940
【队名】：dudu

【序号】：40

【状态】：报名&提交

【链接】：https://github.com/justld/PaddleTest

[2021-10-11 13:04] #36217 closed, assigned to jakpiase, yinhaofeng

[2021-10-11 13:39] gaorui999 commented on #36343
已解决

[2021-10-11 13:39] #36343 closed, assigned to nobody

[2021-10-11 13:40] #36269 closed, assigned to nobody

[2021-10-11 13:51] lyuwenyu commented on #36337
这个op单独测会报错嘛  ， 因为前面不对 导致输入不对吧

[2021-10-11 13:52] lidanqing-vv commented on #35565
Will not be in Q4 deliverable plan

[2021-10-11 13:52] #35565 closed, assigned to sandyhouse, wzzju

[2021-10-11 13:55] lidanqing-vv commented on #30560
继续开发，不随版

[2021-10-11 13:55] #30560 closed, assigned to nobody

[2021-10-11 14:44] Shirakaw commented on #35940
【队名】：摸鱼摸摸看

【序号】：78

【状态】：报名

【链接】：https://github.com/Shirakaw/Quantum

[2021-10-11 15:34] thunder95 commented on #36319
@minghaoBD 麻烦老师讲一下，怎么debug和断点这种make test命令。 您一般是有用什么IDE么比如clion调试paddle源码么？或者这种make test也能用gdb调试么， 以前没调试过这种程序，clion加载CMakelist.txt会出现一大堆子模块。

[2021-10-11 15:34] Darki-luo opened #36352 "在paddle2.1中冻结部分层的参数？"
请问paddle2.1中有没有固定部分层参数的接口？

[2021-10-12 00:52] songsh commented on #36307
我在centos 7.6 中安装，也报错：
Error: Can not import avx core while this file exists: /usr/local/python3/lib/python3.7/site-packages/paddle/fluid/core_avx.so,
ImportError: /lib64/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by /usr/local/python3.8/lib/python3.8/site-packages/paddle/fluid/core_avx.so)
这问题，好象没回答，
有avx , 没有avx 两个版本，我都装了，都这个bug .

[2021-10-12 00:57] yeyupiaoling commented on #36337
那这个导出模型咋处理才行呢?

[2021-10-12 01:18] yeyupiaoling commented on #36300
我发现两个小数点比较多的float64的张量相乘，更numpy的也会有误差，大概是1e-8左右。

[2021-10-12 02:06] minghaoBD commented on #36319
gdb也可以用，但不是很友好。还是建议打log直接看，更方便些。

[2021-10-12 02:39] lyuwenyu commented on #36337
那就把那块shape推断的地方写成固定的形式

[2021-10-12 02:41] lyuwenyu commented on #36352
可以设置stop_gradient属性为true
例如
[code]

[2021-10-12 02:42] yeyupiaoling commented on #36337
@lyuwenyu 我输入是变长的，固定了就不符合我的输入了。

[2021-10-12 03:00] baoachun commented on #35211
@lidanqing-intel  The dft related functions no longer need to be introduced.

[2021-10-12 03:16] Sunyingbin commented on #36276
我的意思是label是不是不需要做标准化？

[2021-10-12 03:54] gongel commented on #36300
对于最终结果来说，绝对误差最大为7.740332319539078e-08，这应该是可以接受的。具体测试看下图
[code]
对于中间结果来说，绝对误差最大为5.4415823115050443e-05，稍微有点大（其实也还好），可能会影响部分任务。具体测试看下图
[code]
综上，如果要取最终结果的话，那这个误差应该是可以接受的。

[2021-10-12 03:59] gongel commented on #36305
Hi all，已确认这是个已知的问题，我们会尽快改进，感谢您提出的宝贵意见。

[2021-10-12 04:09] #34526 closed, assigned to TCChenlong

[2021-10-12 04:10] TCChenlong commented on #34526
飞桨论文复现挑战赛（第四期）已结束，请大家期待下一期吧，预计会在11月初和大家见面~~

[2021-10-12 04:30] Atmosphere-art commented on #34526
！

[2021-10-12 05:11] crj1998 opened #36357 "There is a bug in `paddle.grad`"
I want to get gradient of loss w.r.t. input x rather than network weights, so I use `paddle.grad` function, however when i set `create_graph =True` there is a error
[code]

sorce code @ AI studio V100 with paddle 2.1.2

[code]

[2021-10-12 05:24] crj1998 opened #36359 "There is a flaw in Paddle Tensor Indexing"
Indexing is a  common operation in practice. but i found that the boolean indexing in paddle is blurry.
Firstly, I wan to show how pytorch works. I have a vector `x` and a boolean flag `y`, and use `y` as index for 'x'. The operation in pytorch is simple and nature.
[code]
However, for paddle, it is stupid. When i use boolean index to get value, it is error. But if i use boolean index to set value

[2021-10-12 05:33] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：49

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/236

[2021-10-12 05:36] OccupyMars2030 commented on #35940
【队名】：yolo_20210310

【序号】：48

【状态】：报名

【链接】：https://github.com/SmirnovKol/PaddleTest

[2021-10-12 06:11] gongel commented on #36308
你好，可以看下官方文档哈
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/lr/LinearWarmup_cn.html#linearwarmup
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/lr/NoamDecay_cn.html#noamdecay

[2021-10-12 06:12] yeyupiaoling commented on #36300
好的

[2021-10-12 06:12] #36300 closed, assigned to gongel

[2021-10-12 07:21] chereyk opened #36364 "gpu 运行会卡住"
cuda版本是10.2，cudnn版本是7.6.5，系统是windows10专业版，显卡是3060，paddlepaddle是2.1.3，来源于官网pip安装，python是3.8（也在3.7上尝试过），pip是21.0.1
现象是在运行paddle.fluid.install_check.run_check()时会卡住很久，最后崩溃退出，在训练模型时，会卡住半个小时左右然后开始正常训练
我以为是版本适配问题，所以尝试过10.1，10.0，11.0，11.2，最后发现都有这个问题，重装系统还是有这个问题。在paddlepaddle官方论坛和其他地方查了很久发现也有其他同学遇到这个问题，但都没有解决办法，所以只能麻烦官方大佬可以查看一下。

[2021-10-12 07:30] lzzyzlbb commented on #36364
您好，请问有具体的日志吗？可以使用： GLOG_v=10 python 命令， 看看c++的日志，具体卡在哪里了

[2021-10-12 07:40] songsh commented on #36307
在window 2008 下，安装noavx,  报没合适版本
python -m pip download paddlepaddle==2.1.3 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/noavx/stable.html --no-index --no-deps

<img width="641" alt="屏幕快照 2021-10-12 下午3 40 39" src="https://user-images.githubusercontent.com/2272252/136913082-78db8dd5-77d6-4718-9de1-a5bebea02e1f.png">

[2021-10-12 07:54] baoachun commented on #32282
**PaddleDetection models are sorted by priority from high to low as follows:**

- ppyolov2_r50vd_dcn_365e_coco,
- yolov3_darknet,
- faster_rcnn_r50_fpn_1x_coco,
- mask_rcnn_r50_fpn_1x_coco,
- ssd_mobilenet_v1_300_120e_voc,
- solov2_r50_fpn_1x_coco,

[2021-10-12 07:58] lidanqing-vv commented on #32282
Hi, @baoachun  Thank you very much!
@jczaja @wozna @jakpiase

[2021-10-12 08:18] No-9527149 commented on #36335
明白了，感谢！

[2021-10-12 08:22] lzzyzlbb commented on #36359
您好，这边复现啦您的问题，已交由内部工程师进行修改，希望您多多提问，祝您生活愉快！

[2021-10-12 08:39] gbstack commented on #35940
【队名】：redino (或gbstack, linkstack，因为当时答卷的队名几天前写的，忘记了)

【序号】：67

【状态】：报名&提交

【链接】：https://github.com/PaddlePaddle/PaddleDetection/pull/4297

[2021-10-12 08:40] chereyk commented on #36364
非常感谢您的回复！我不太明白该在哪输入这条命令
刚刚把cpu版的卸载重装了一下gpu版的，卡了十分钟左右出现了报错信息，出现了与这位同学https://github.com/PaddlePaddle/Paddle/issues/35028     一样的错误，根据下面同学的回复，设置了path = cublas64_10.dll,可能是因为我cuda中没有cublas64_102.dll，所以没有设置这个的路径，所以还是出现了与没有设置一模一样的错误
错误信息如下：
Running Verify Fluid Program ...
W1012 16:24:43.127553  3024 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.4, R

[2021-10-12 08:50] lzzyzlbb commented on #36357
您好，我们目前不支持mean的二次梯度，如果您不需要后面计算高阶梯度的话，可以置为False

[2021-10-12 08:54] #26994 closed, assigned to phlrain

[2021-10-12 08:54] #27580 closed, assigned to nobody

[2021-10-12 08:54] #27710 closed, assigned to nobody

[2021-10-12 08:54] #27733 closed, assigned to Xreki

[2021-10-12 08:54] #27737 closed, assigned to Xreki

[2021-10-12 08:54] #27782 closed, assigned to MRXLT

[2021-10-12 08:54] #27783 closed, assigned to MRXLT

[2021-10-12 09:03] qdd1234 opened #36367 "复数域进行softmax"
您好，我对图像使用快速傅里叶变换后，想要在频域(数据类型为复数)进行softmax操作，有什么API可以实现或者代码实现？谢谢

[2021-10-12 09:10] lidanqing-vv commented on #36288
Hi @jakpiase , ops priority depends on models priority that Baoachun already sent today. I close this issue now. If the priority models have these ops, we need to do it in Q4. Thanks !

[2021-10-12 09:10] #36288 closed, assigned to nobody

[2021-10-12 09:11] lidanqing-vv commented on #35247
This is developing task and has been created in Intel jira. Will be done in Q4

[2021-10-12 09:11] #35247 closed, assigned to wozna, lidanqing-vv

[2021-10-12 09:48] lidanqing-vv commented on #35211
我们在使用MKL优化Dropout OP时发现当前Paddle中的MKL库不够完整，需要依赖MKL附加库才能实现MKL随机数生成函数，因此在优化过程中额外引入了如下文件。其中主要依赖的是libmkl_rt.so，但在需要引入下表中其他MKL库才能保证运行时不会报错。

Customer work on Dropout Op and found MKL lib is not complete, and need to add extra lib to implement MKL random generator. The extra lib is as follows:
[code]
Question: If there is any other way to avoide such introducing extra libs
Answer:
- PaddlePaddle used a s

[2021-10-12 09:58] XieYunshen commented on #36324
这里的路径有问题
![image](https://user-images.githubusercontent.com/32428676/136935250-39b9670c-2be6-4a71-8922-4bcbefdf5195.png)
改成下面的路径试试吧
![image](https://user-images.githubusercontent.com/32428676/136934995-e1ec7e02-174c-412c-9ad9-65ea4b979259.png)

[2021-10-12 12:34] lzzyzlbb commented on #36367
您好，这个当前只支持float16,float和double，没有复数的吖

[2021-10-12 13:01] tonylin52 opened #36378 "OSError: (External) Cudnn error, CUDNN_STATUS_EXECUTION_FAILED"
自己搭建模型时候用到了lstm就出现问题了。现有cuda版本与paddle版本一致，利用官网给的安装命令完成的。
cudatoolkit               11.2.2               he111cf0_8    conda-forge
paddlepaddle-gpu          2.1.3           py36_gpu_cuda11.2_many_linux

====================================
报错如下：
File "train.py", line 87, in forward
    x, (hidden, cell) = self.lstm(lstm_input, (previous_hidden, previous_cell))
  File "/root/anaconda3/envs/paddle/li

[2021-10-12 13:01] tonylin52 commented on #36378
求解答 环境没有问题 我训练其他的模型可以。但是自己搭lstm模型就有问题

[2021-10-12 15:40] handyzeng opened #36381 "Mac下用docker从源码编译PaddlePaddle报错"
按照[官方教程](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html)在docker中从源码编译cpu版本PaddlePaddle, 编译到一定阶段后卡住很久，然后就报出如下错误。重试多次，都是同样错误。

[ 17%] Built target scale_matmul_fuse_pass
[ 17%] Built target conv_elementwise_add_mkldnn_fuse_pass
[ 17%] Built target conv_concat_relu_mkldnn_fuse_pass
[ 17%] Built target conv_activation_mkldnn_fuse_pass
[ 18%] Built target conv_

[2021-10-12 23:12] #36381 closed, assigned to nobody

[2021-10-13 01:32] justld commented on #35940
【队名】：dudu

【序号】：6

【状态】：报名

【链接】：https://github.com/justld/Paddle

[2021-10-13 01:58] thunder95 commented on #36319
@minghaoBD 我直接用单独的脚本运行前向， cuda和cpu都能通过allclose， 但是用make test， 只有cuda能过， cpu不能过， 打印出来如下，发现cpu输出的数据虽然正确但是格式不对，请老师看下这是咋回事呢：

**cpu输出:**
[code]

**cuda输出:**
[code]
**torch的输出:**

[code]

[2021-10-13 02:22] minghaoBD commented on #36319
@thunder95 感觉您的问题比较细节，而且我这边之前也没有遇到过。
方便提一个pull request吗？我这边跟进看下代码

[2021-10-13 02:43] gongchenting opened #36387 "在k40上基于paddle2.1编译生成的服务部署包，可以在k40上起服务并进行推理预测，但把包拷在t4机器上后，可起服务但无法推理预测，报错信息如下：terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'"
paddle版本：2.1
k40：cuda10.1 cudnn7.6
t4：cuda10.1 cudnn7.6

[2021-10-13 02:49] gbstack opened #36389 "合并代码时，TeamCity CI的日志无法访问"
你好，

在这个PR（https://github.com/PaddlePaddle/PaddleDetection/pull/4297）中的TeamCity CI的build日志链接无法打开
http://10.87.145.41:8111/viewLog.html?buildId=494445&buildTypeId=Paddle_PaddleModels_PaddleDetectionCi_release

现在无法进一步修改代码

如果修复比较麻烦的话，能否将build log直接发给我呢

谢谢

[2021-10-13 02:50] pangyoki commented on #36050
import paddle没问题了是吧？现在这个问题看起来是模型load参数的问题，麻烦另外开个issue看下这个问题。

[2021-10-13 02:50] qili93 commented on #36170
Hi @nihirv ,

Sorry for my late response, seems that I cannot reproduce your problem in my environment. And I think we need to figure out why some common datasets are downloaded into your  "~/.cache/paddle/dataset/".

Please help try to add some lines of code to your paddle code:
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/dataset/common.py#L63

The same way to find the commo

[2021-10-13 03:21] gongchenting commented on #36387
gdb调试信息如下
![image](https://user-images.githubusercontent.com/89002176/137061609-858e469b-df84-4284-8601-285a9f64d9fc.png)

[2021-10-13 03:31] gongchenting commented on #36387
![image](https://user-images.githubusercontent.com/89002176/137062503-4d7061f2-c3a4-4c64-baa3-c650fad7f0de.png)

[2021-10-13 03:43] OliverLPH commented on #36387
https://github.com/PaddlePaddle/Paddle/blob/d7858c997b88c73c4fb0bb94db378578fd7e7f07/cmake/cuda.cmake#L84
Paddle 编译的时候，如果不指定GPU架构，会编译当前自动检测的GPU架构
如果需要在K40上编译，T4上运行，需要手动指定 `-DCUDA_ARCH_NAME=All`
https://github.com/PaddlePaddle/Paddle/blob/d7858c997b88c73c4fb0bb94db378578fd7e7f07/cmake/cuda.cmake#L83

[2021-10-13 03:53] gongchenting commented on #36387
但是相同的代码下，我只将paddle2.1换成paddle1.8的话，k40上编译的包在k40和t4上是都可以起服务且预测的。

[2021-10-13 06:21] zh794390558 commented on #36387
按 @OliverLPH 的方法可以work吗？

[2021-10-13 06:25] gongchenting commented on #36387
现在已经解决了，但是是因为在t4上需要cuda额外的几个so文件，拷过去后就可以了，谢谢～

[2021-10-13 06:25] zh794390558 commented on #36389
建议之后此类问题可以到 paddleDetection repo下提。

[code]

[2021-10-13 06:49] Sunyingbin opened #36395 "增加batch_normalization报错"
paddle 2.1 python 3.7
预测任务，都是全连接层，在原来的model上加上batchnormalization报错如下：
Epoch 0/8000
step 0[==============================] - loss: 1177250955264.0 - 0.18ms/step
Traceback (most recent call last):
  File "/Users/sunyingbin/Documents/workspace/loadforecast/task.py", line 228, in <module>
    high_base(trainer_dataset, EPOCH_NUM, BATCH_SIZE, learning_rate, vdl_writer, inference_path, True)
  File "/Us

[2021-10-13 06:56] zh794390558 commented on #36395
AssertionError: Optimizer set error, batch_norm_1.w_0_moment_0 should in state dict

上面是报错讯息，麻烦确认下。model是否在eval模式下做推理。

[2021-10-13 07:02] gongel commented on #36307
可能是gcc的问题，参考#4969 和#34504

[2021-10-13 07:03] Sunyingbin commented on #36395
我知道了，是我之前保存了best.opt和param然后现在是load原来的model训练，但是model我已经修改了，所以会有问题，对吧，我不load之前训练的model之后就好了

[2021-10-13 07:04] gongel commented on #36307
windows参考这个哈：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/windows-pip.html

[2021-10-13 07:14] thunder95 commented on #35940
【队名】：thunder95

【序号】：2

【状态】：报名

【链接】：https://github.com/thunder95/Paddle

[2021-10-13 07:15] zh794390558 commented on #36395
是的，如果没有问题了，麻烦close下，谢谢。

[2021-10-13 07:25] Sunyingbin commented on #36395
我这里还有一个问题，当我自己手动实现bn时候
def batch_norm(X, gamma, beta, moving_mean, moving_var, eps, momentum, is_training=True):
    print('X.shape--->>>>', X.shape)
    # 训练模式还与预测模式的BN处理不同
    if not is_training:
        # 如果是在预测模式下，直接使用传入的移动平均所得的均值和方差
        X_hat = (X - moving_mean) / (moving_var + eps) ** 0.5
    else:
        # assert len(X.shape) in (2, 4)
        if len(X.shape) == 2:
            # 使用全连接层

[2021-10-13 07:38] lzzyzlbb commented on #36378
您好，请问能否提供一下复现代码呢？方便我们这边复现一下

[2021-10-13 07:42] destroy314 opened #36401 "从Categorical中采样时报错"
使用AIStudio的至尊版GPU环境：
PaddlePaddle版本：2.1.2，GPU：V100，cuDNN Version: 7.6

从神经网络输出的Tensor在转化为类别分布后采样：
[code]
此时报错：
[code]
网络输出尺寸取其它值，如100，1000，3000，5000时不会出现这一错误

[2021-10-13 07:48] destroy314 opened #36403 "训练时出现cudaErrorIllegalAddress"
使用AIStudio的至尊版GPU环境：
PaddlePaddle版本：2.1.2，GPU：V100，cuDNN Version: 7.6

见此项目：[强化学习兵棋游戏](https://aistudio.baidu.com/aistudio/projectdetail/2408931)
项目使用PPO算法训练强化学习智能体，environment.py是类似[将军棋](https://generals.io/)的小游戏环境，运行`python com.py`进行训练。
训练几个epoch后报错：
[code]

[2021-10-13 07:52] #36275 closed, assigned to nobody

[2021-10-13 09:42] FleetCommander004 commented on #36323
最近我试图在阿里云gpu处理器上面安装paddlepaddle 的gpu版，结果还是说：
WARNING:root:You are using GPU version PaddlePaddle, but there is no GPU detected on your machine. Maybe CUDA devices is not set properly.
但是我已经配置好cuda相关的内容了。
我的机器上面是怎么写的：
[root@iZbp1iuo7tqytcq2z582p2Z ~]# ls
 2021实习资料  '=3.8'   auto_install   paddle_env
[root@iZbp1iuo7tqytcq2z582p2Z ~]# cd auto_install
[root@iZbp1iuo7tqytcq2z582p2Z auto_install]# ls
au

[2021-10-13 09:51] yt605155624 opened #36410 "预测时，把已经加载的模型用 paddle. jit.to_static() 转换为静态图，之前的动态图占用的显存没有被释放"
导致测试时显存占用率激增，如果不加 paddle. jit.to_static() 这一句，显存占用率就不会那么高

[2021-10-13 10:09] zh794390558 commented on #36395
[code]
查下readuce_mean的调用吧

[2021-10-13 10:12] zh794390558 commented on #36401
[code]

输入数据有负数

[2021-10-13 10:20] zh794390558 commented on #36403
需要打开 export CUDA_LAUNCH_BLOCKING=1 这个标志，这个拦截在elementwise这里主要是thrust库的拦截的问题，但是不一定真正的错误在这块 . export FLAGS_benchmak=1 后再测试下具体位置。

[2021-10-13 10:21] zh794390558 commented on #36410
已知问题，2.2.0RC 已修复。

[2021-10-13 10:29] ZHANG-GuiGui opened #36411 "RNN Module Cudnn Error CUDNN_STATUS_VERSION_MISMATCH"
- 版本、环境信息：
Paddle version: 2.1.2
Paddle With CUDA: True
OS: Ubuntu 18.04
Python version: 3.8.11
CUDA version: 11.1.74
Build cuda_11.1.TC455_06.29069683_0
cuDNN version: None.None.None
Nvidia driver version: 465.31

- 问题描述：
[code]
在调用rnn的时候提示cudnn version mismatch，但是没有指明错误的版本和正确的版本。通过（summary_env.py）得到的版本信息中cudnn为None，而通过`conda list`和`paddle.utils.run_check()`得到的cudnn版本均为8.1。并且`paddle.utils.run_che

[2021-10-13 10:53] zh794390558 commented on #36411
CUDA 工具包10.1/10.2配合cuDNN v7.6+(如需多卡支持，需配合NCCL2.7及更高)

CUDA 工具包11.2配合cuDNN v8.1.1(如需多卡支持，需配合NCCL2.7及更高)

应该是cudnn的版本过高了，7.6 应该是可以的。

[2021-10-13 11:00] zh794390558 commented on #36403
可以试下develop最新版本，看是否有此问题。

[2021-10-13 11:08] destroy314 commented on #36401
输入是取指数后的结果logits.exp()，而且调用它的.min()方法得到的也是正数

[2021-10-13 11:37] thunder95 commented on #36319
@minghaoBD make test命令后，仔细看cpu的输出确实不太一样，有的值非常夸张。问题只出在cpuplace时候，

`580: AssertionError: 1.8207115622550432e+101 not less than or equal to 1e-07 : Operator fold error, Gradient Check On CPUPlace variable X (shape: (2, 12, 12), dtype: float64) max gradient diff 1.820712e+101 over limit 1.000000e-07, the first error element is 0, expected 0.000000e+00, but got 8.333333e-03.
`

已经提交[PR链接](https://gith

[2021-10-13 12:27] songsh commented on #36307
你好，我就是按文档来的，没合适版本，是在window 2008 下无法安装吗？

[2021-10-13 12:52] ZHANG-GuiGui commented on #36411
请问如何更改cudnn版本呢？它引用的应该是conda虚拟环境中的cudnn，而不是/usr/local中的cudnn。是需要conda重新install一下指定版本的cudnn吗？ @zh794390558
不过这个cudnn版本应该是install的时候它自动安装的匹配的版本吧，为什么会出错呢？

[2021-10-13 14:26] jakpiase commented on #32282
Hi @baoachun, there are multiple "yolov3_darknet" models in PaddleDetection. Could you please tell me which one should we focus on?
- PaddleDetection/configs/yolov3/yolov3_darknet53_270e_coco.yml
- PaddleDetection/configs/yolov3/yolov3_darknet53_270e_voc.yml
- PaddleDetection/configs/yolov3/yolov3_darknet53_original_270e_coco.yml

[2021-10-14 00:28] unseenme commented on #34526
【队名】：UnseenMe的团队

【序号】：7

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：提交

【repo链接】：https://github.com/unseenme/mnasnet-paddle

[2021-10-14 01:26] iverxin commented on #35940
【队名】：Sesame Street

【序号】：37

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleTest/pull/232

[2021-10-14 02:22] heavengate commented on #35518
这种情况要么是学习率过大训飞了，要么是梯度过大把权重更新成nan了，可以调小学习率，配合加上grad clip试下，grad clip参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/ParamAttr_cn.html#paramattr
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/ClipGradByGlobalNorm_cn.html#clipgradbyglobalnorm
  这个在optimizer里设置

[2021-10-14 02:40] zh794390558 commented on #36411
确认 CUDA version: 11.1.74版本吧，官方说的是CUDA 工具包11.2配合cuDNN v8.1.1。具体conda的环境安装还请baidu下。
![image](https://user-images.githubusercontent.com/3038472/137241620-f3fdd706-c426-4c78-9a4c-300b49c9084c.png)
建议尝试使用对应的docker image

[2021-10-14 03:09] tonylin52 opened #36425 "急！！！！！！batchnorm3d权重不更新"
环境：使用paddle建议的安装方式安装的

cudnn                     8.1.0.77             h90431f1_0
paddlepaddle-gpu          2.1.3           py36_gpu_cuda11.2_many_linux
以下是代码：batchnorm3d 权重与偏置不更新，换成batchnorm2d就更新了
======================================
import numpy as np
import math

import paddle
import paddle.nn as nn
from paddle.nn import (Conv2D, BatchNorm2D, Linear, Dropout, MaxPool2D,

[2021-10-14 03:14] tonylin52 commented on #36425
着急！！！！！

[2021-10-14 03:16] zhiboniu commented on #36425
您好，问题已收到，请提供环境信息，另外请重新整理一下代码，方便我们进行复现，谢谢

[2021-10-14 04:54] lidanqing-vv commented on #32282
@jakpiase coco and voc are two different dataset for object detection tasks, that means the data loader will differ. From the name it does not show real difference of model, maybe check model graph or do profiling ?

[2021-10-14 05:29] pangyoki commented on #36037
你好，可以参考一下这个API：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/layers/filter_by_instag_cn.html

[2021-10-14 07:36] zh794390558 commented on #36401
已确认是底层cuda kernel计算时显存访问问题，已经排期修复。

[2021-10-14 08:35] huangwan-jiayi opened #36436 "求助，我在paddleseg下用自己数据集训练好的bisenetV2模型，想通过模型裁剪，来提升在jetson nx C++部署预测的速度，在，模型裁剪时遇到下面的问题。的速度，"
问题如下，我在执行到第三步时报错。我在命令行中运行的指令是：
![image](https://user-images.githubusercontent.com/71338215/137281613-a9405590-1117-47ee-9c37-60e5e4752c0f.png)

![image](https://user-images.githubusercontent.com/71338215/137281470-5a4547b8-3b3e-48fb-8223-96dee123c6f7.png)

![image](https://user-images.githubusercontent.com/71338215/137281369-ba479bb1-f3a4-481c-abc7-466614656b1a.png)

[2021-10-14 08:43] zhiboniu commented on #36436
您好，麻烦打印一下这几个变量看看
![image](https://user-images.githubusercontent.com/31800336/137282946-ef7957a7-6853-4e3b-9e53-eb2526bcf39e.png)

[2021-10-14 08:51] huangwan-jiayi commented on #36436
咋打印呢？这样吗？
![image](https://user-images.githubusercontent.com/71338215/137284123-45832735-86db-4fbd-8223-951a82b5dd33.png)
我运行没什么显示
![image](https://user-images.githubusercontent.com/71338215/137284202-d7a02730-fbdd-4aea-b9d4-244e55992f4b.png)

[2021-10-14 08:55] zhiboniu commented on #36436
在进入if判断前面打印

[2021-10-14 08:58] huangwan-jiayi commented on #36436
结果一样
![image](https://user-images.githubusercontent.com/71338215/137285318-17d9bbcf-741e-4c54-82bf-ac02773f5d6e.png)
![Uploading image.png…]()

[2021-10-14 08:58] huangwan-jiayi commented on #36436
结果一样
![image](https://user-images.githubusercontent.com/71338215/137285318-17d9bbcf-741e-4c54-82bf-ac02773f5d6e.png)
![Uploading image.png…]()

[2021-10-14 08:58] huangwan-jiayi commented on #36436
结果一样
![image](https://user-images.githubusercontent.com/71338215/137285318-17d9bbcf-741e-4c54-82bf-ac02773f5d6e.png)
![image](https://user-images.githubusercontent.com/71338215/137285324-c40d7ab2-ab91-40c3-abdc-cea95a02790f.png)

[2021-10-14 09:00] zhiboniu commented on #36436
print("logits:", logits)
print("labels:", labels)
像这样加上字符串，看看是没有执行还是值为空

[2021-10-14 09:05] huangwan-jiayi commented on #36436
看来是没有执行
![image](https://user-images.githubusercontent.com/71338215/137286383-4e90b60e-f3b1-4a6f-8eac-07e7a40911bb.png)
![image](https://user-images.githubusercontent.com/71338215/137286443-13af0141-7340-419c-8a43-7ff5273f46d7.png)

[2021-10-14 09:10] Zhiy-Zhang opened #36437 "使用半精度训练时如何便捷转换 data_format"
我看到这里使用amp的例子：
https://github.com/PaddlePaddle/models/blob/58f2127380bce2cc29f7896ce8c2f18de36e4b7d/PaddleCV/image_classification/build_model.py#L46
是通过args传入data_format 进行手动的转换

是否有更加便捷方式来进行格式转换那？比如像pytorch一样：model.to(memory_format=torch.channels_last)
这样比较便捷的方式，或者是我们这边已经有相应的api接口了，但是在文档中没有说明嘛？

[2021-10-14 09:18] zhiboniu commented on #36436
看起来最早的log是跑到了这里的，而且你最新的执行跟开始的log不一样啊，确认一下吧，把最早的log复现出来。

[2021-10-14 09:32] zhiboniu commented on #36437
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。
目前看暂时还不支持这样的功能。

[2021-10-14 09:33] yeyupiaoling commented on #36337
@lyuwenyu 这个问题要怎么解决呢？

[2021-10-14 09:40] Zhiy-Zhang commented on #36437
那就是其实还没有便捷开关nhwc的api接口是吧

[2021-10-14 10:09] zhangtiegang2014 opened #36440 "请问paddle1.8.5是否可以支持cuda11？"
最近在使用paddleFL的过程中，发现paddleFL最新只支持到paddle1.8.5，而看安装说明paddle1.8.5只支持cuda9、cuda10，而我们的rtx3060显卡只支持cuda11以上。请问这种情况有办法解决吗？

[2021-10-14 10:35] yangguohao commented on #35940
【队名】：约克逊是个郡

【序号】：79

【状态】：报名&&提交

【链接】：https://github.com/PaddlePaddle/Quantum/pull/24

[2021-10-14 10:40] zhiboniu commented on #36440
您好，1.8.5版本最高支持到cuda10，不能支持cuda11。参考：https://github.com/PaddlePaddle/Paddle/issues/27530
建议您咨询一下PaddleFL对paddle最新版本支持的计划。