[2019-07-05 08:43] gongweibao opened #18521 "Change reduce/broadcast to reducescatter/allgather"

[2019-07-05 08:55] liupluswei commented on #18519
The places of matrices must be same
从最后一行log来看，是因为sequence_conv op的参数一部分在CPUPlace，一部分在CUDAPlace导致，您可以检查一下代码排查一下是否有相关错误

[2019-07-05 11:57] 1145520074 opened #18530 "tensorRT加速报错"
错误如下，请问是什么原因？？
--- Running analysis [ir_graph_build_pass]
--- Running analysis [ir_analysis_pass]
--- Running IR pass [infer_clean_graph_pass]
--- Running IR pass [conv_affine_channel_fuse_pass]
--- Running IR pass [conv_eltwiseadd_affine_channel_fuse_pass]
--- Running IR pass [tensorrt_subgraph_pass]
---  detect a sub-graph with 7 nodes
I0705 18:12:22.623015 19561 tensorrt_subgraph_pass.cc:252] P

[2019-07-05 12:19] liupluswei commented on #18510
hi, 我查看了一下，当前的实现，我们的静态图并不支持这种语法：
![image](https://user-images.githubusercontent.com/46661762/60720965-f654b700-9f5e-11e9-9bf0-ac0493399ab3.png)
swtich 中创建的Variable是在subblock中，这种写法是会有问题的。您可能得尝试一下使用其他方式来实现相应逻辑，或者尝试一下我们1.5版本开始的动态图功能

[2019-07-05 12:19] #18510 closed, assigned to nobody

[2019-07-05 13:08] wojtuss commented on #13878
Closed, due to INT8v1 having been removed.

[2019-07-05 13:08] #13878 closed, assigned to nobody

[2019-07-05 13:20] wojtuss commented on #16047
Closed, due to INT8v1 having been removed.

[2019-07-05 13:20] #16047 closed, assigned to sfraczek, wojtuss, kbinias

[2019-07-05 13:20] wojtuss commented on #16754
Closed, due to INT8v1 having been removed.

[2019-07-05 13:20] #16754 closed, assigned to luotao1

[2019-07-05 13:20] wojtuss commented on #17150
Closed, due to INT8v1 having been removed.

[2019-07-05 13:20] #17150 closed, assigned to nobody

[2019-07-05 13:22] wojtuss commented on #15009
Building debug version works fine now.

[2019-07-05 13:22] #15009 closed, assigned to Sand3r-, wojtuss, kbinias, mozga-intel

[2019-07-05 13:23] #15054 closed, assigned to Yancey0623, jacquesqiao

[2019-07-05 13:24] wojtuss commented on #15055
Closed, due to INT8v1 having been removed.

[2019-07-05 13:24] #15055 closed, assigned to panyx0718

[2019-07-05 13:31] #15305 closed, assigned to nobody

[2019-07-05 15:59] jczaja opened #18531 "[MKL-DNN] Refactor Acquire API of mkl-dnn integration"
It would be good to refactor Acquire API of mkl-dnn:
- Handler should have forward_pd and backward_pd  not like it is now that all inheriting Handler Types are defining its own attributes.
- Store PD of Fwd and BWD not to rely on PD given by argument of Acquire API
- All AcquireXXXPrimitiveDesc should be called internally by Handler ,as there is no need to have it exposed to op
- descriptors shoul

[2019-07-06 08:16] heavengate commented on #18464
初步确认是1.5使用cudnn7里新增接口的问题，可以尝试下使用1.4版本，或者在fluid.layers.conv2d中指定use_cudnn=False试下

[2019-07-06 23:44] NHZlX commented on #18530
您好 请问模型是哪个模型，并且输入的shape， batchsize 是多少

[2019-07-07 03:43] ghost commented on #17960
Actually "X" and "Out" share same variable since activation OP is in-place edit operation.

Here is what I got from a simple "recognize_digit" model (python/paddle/fluid/tests/book/test_recognize_digit.py):
"Relu" in forward:
  ops {
    inputs {
      parameter: "X"
      arguments: "conv2d_1.tmp_1"
    }
    outputs {
      parameter: "Out"
      arguments: "conv2d_1.tmp_1"
    }
    type: "relu

[2019-07-07 10:00] sherylwang opened #18534 "paddle集群训练报错an illegal memory access was encountered"
paddle版本：自行编译的paddle1.3版本。
![image](https://user-images.githubusercontent.com/10609885/60766761-144a2500-a0e1-11e9-8f93-6b897fff8026.png)

[2019-07-08 02:13] wangguibao commented on #18412
issue已超过一星期，用户未再反馈，先关闭。如有需要可随时重新打开

[2019-07-08 02:13] #18412 closed, assigned to wangguibao

[2019-07-08 02:14] wangguibao commented on #18410
issue已超过一星期，用户未反馈，先关闭了。如有需要可随时重新open

[2019-07-08 02:14] #18410 closed, assigned to wangguibao

[2019-07-08 03:00] kh2se2013 opened #18540 "Many Segmentation Fault raised WITH_COVERAGE = ON"
http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&buildTypeId=Paddle_PrCiTestCoverage&buildId=124325

[2019-07-08 03:30] qnikev commented on #18508
这个问题解决了吗

[2019-07-08 03:31] luotao1 commented on #18540
Some lacks of the download file
[code]
Some maybe the code problem in debug mode.

[2019-07-08 03:57] qnikev opened #18543 "fluid在MPI集群上训练发现GRPC error，core dump后Pserver挂掉"
fluid 1.3版本
本地能够运行，没问题

集群报错如下：
:F0707 22:12:46.674666 27072 grpc_client.cc:418] SendRPC name:[video_fid_his_embedding@GRAD.block9.trainer_3], ep:[10.76.84.50:62001], status:[-1] meets grpc error, error_code:14 error_message:OS Error error_details:
Sun Jul  7 22:12:46 2019[1,3]<stdout>:*** Check failure stack trace: ***
Sun Jul  7 22:12:46 2019[1,3]<stdout>:    @     0x7faffc9bbc0d  google::LogMes

[2019-07-08 04:36] kh2se2013 commented on #18540
最近在进行覆盖率测试时，都发现了大量segmentation fault相关的错误。
WITH_COVERAGE = ON时，会强制 set CMAKE_BUILD_TYPE = Debug，结果会导致编译时大部分插桩失败。
以build #124325 为例，共运行了 653个测试，失败了73个，其中与segmentation fault相关的有58个。
关闭debug后，segmentation fault错误基本消失，同时构建速度也会提高不少

[2019-07-08 04:46] luotao1 commented on #18540
@kolinwei debug模式下单测跑不过，应该是需要推动单测负责人进行修复的。

@kh2se2013 请问单测覆盖率能在非Debug模式下测么？

[2019-07-08 05:46] kolinwei commented on #18540
@luotao1 这个问题跟WITH_COVERAGE = ON没关系，单测覆盖率可以在非debug模式下测

[2019-07-08 06:50] Bond-H opened #18544 "paddle的models示例中的lexical_analysis模型在单机多卡情况下运行报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    3）GPU：K40m，Cuda8.0，cuDNN6.2
    4）系统环境：CentOS6.3， Python2.7
- 训练信息
    1）单机单卡模型能正常训练，单机多卡模型出现异常。

- 问题描述：参照文档示例将原模型中的Executor修改为ParallelExecutor，http://www.paddlepaddle.org.cn/documentation/docs/zh/1.4/api_cn/layers_cn.html#py-reader

**主要代码修改部分如下：**

原代码 https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/lexical_analysis/run_sequence_labeling.p

[2019-07-08 06:53] Yukizzz opened #18545 "使用ifelse结构报错"
使用ifelse结构，true和false block里面网络结构相同，都是简单的3层fc+bn。
报错在下面的代码上
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/controlflow/conditional_block_op.cc#L234
去掉bn只留3层fc之后，报了如下新的错误。fc分别是256-128-64维，256是第一层fc的维度。
![image](https://user-images.githubusercontent.com/9652571/60788800-17501e80-a190-11e9-91e1-5125d8f1cf4a.png)

[2019-07-08 07:01] NHZlX commented on #18405
https://github.com/PaddlePaddle/Paddle/pull/18532

[2019-07-08 07:10] qingwuzhu opened #18546 "程序异常"
   3）GPU：无
    4）系统环境：centos 7 CPU环境
-预测信息
    1）C++预测：fluid_inference_cpu_avx_mkl_1.5
    version文件：
GIT COMMIT ID: 401c03fc20478f5cc067440422fc3a7b306d0e32
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: OFF

下面这个函数单独运行一二次不会出错，但是连接调用运行异常
调用方法：
for(int i = 0; i < 1000; i++)
    int result = OcrFrCellOrientation(false,"/usr/local/dataset",data,2,300,32);
异常堆：

[code]

函数如下：

[code]

[2019-07-08 07:24] lexy0093 commented on #18473
由于embeding后需要乘以权重，不知道lod-tensor这块怎么处理的

[2019-07-08 07:37] sandyhouse commented on #18473
可以将LoD-Tensor转为普通Tensor后计算，转换方法可以参考：http://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/basic_concept/lod_tensor.html

[2019-07-08 07:56] sherylwang commented on #18534
问题已解决，最终问题是由预训练模型存在应删除变量导致的

[2019-07-08 07:59] qnikev commented on #18543
感谢paddle组的解答，是rpc超时的问题，需在config.ini中配置
FLAGS_rpc_deadline=3000000即可

[2019-07-08 08:30] sandyhouse commented on #18473
可以尝试下下面两种方案，看看是否可以解决内存超限的问题：1. 降低batch_size大小；2. 对index排序，减少padding的数量。

[2019-07-08 08:34] sandyhouse commented on #18544
是修改为单机多卡分布式吗？

[2019-07-08 08:36] DDDivano opened #18548 "GPU下，embedding对训练结果影响较大。"
使用models下的sentiment模型测试。
https://github.com/PaddlePaddle/models/tree/develop/dygraph/sentiment
将所有的随机量固定，shuffle置为False。cudnn使用确定性算法
CPU两次训练结果。
![image](https://user-images.githubusercontent.com/10734244/60795249-e840a980-a19d-11e9-9047-4a58df692ff2.png)
![image](https://user-images.githubusercontent.com/10734244/60795257-ee368a80-a19d-11e9-852c-53800d9e7015.png)
GPU两次训练结果
![image](https://user-im

[2019-07-08 08:41] sandyhouse commented on #18544
ParallelExecutor和Executor执行时run函数的参数不一样，该用ParallelExecutor后，参考文档修改下run函数的参数吧。

[2019-07-08 08:49] sandyhouse commented on #18545
看报错信息是参数和梯度的纬度信息不匹配导致的。排查下相关代码吧。

[2019-07-08 08:51] sandyhouse commented on #18543
Closing this issue. Reopen it if you have any further question.

[2019-07-08 08:51] #18543 closed, assigned to nobody

[2019-07-08 09:04] jczaja commented on #17960
@jianhang-liu That is an interesting observation. Yes sometimes activations are inplace ops, but currently I'm guessing that not always, as inplace op is overwritting X and we may need X for grad op in its original form (for some other activations than Relu). If we include X as input to grad then
even if X and Out are pointing to the same var then no harm will be done to graph and it will work for

[2019-07-08 09:22] sandyhouse commented on #18546
auto input_size = static_cast<size_t>(batchsize* img_height * img_width * sizeof(float)); input_size不用乘以channel的数量吗？

[2019-07-08 09:27] qingwuzhu commented on #18546
channel为1通道图像，所以没有乖以1，如果单独每次运行这个函数没问题，如果用一个for循环调用，就过一会就异常了

[2019-07-08 09:36] hxjcarrie commented on #18418
实验后发现导致区别的原因在于：
keras的recurrent_activation默认使用hard_sigmoid；paddle默认使用sigmoid。

[2019-07-08 09:36] #18418 closed, assigned to gavin1332, phlrain

[2019-07-08 10:56] Superjomn commented on #18546
模型创建放到外面试试，一般会复用单个predictor。 不然性能很差

[2019-07-08 10:56] #18546 closed, assigned to nobody

[2019-07-08 11:14] a6802739 opened #18552 "LR模型使用sigmoid激活函数和log_loss损失函数后auc为0.5"
模型定义如下：
[code]
打印y_predict的结果，得到如下值：
[code]
auc的结果基本在0.5左右：
[code]

[2019-07-08 11:28] LukeALee opened #18553 "AttributeError: 'tuple' object has no attribute 'persistable'"
paddle 踩坑：
fluid.layers.auc(input=probs, label=labels)官方文档说该函数返回的是一个标量（scalar），但实际返回的是一个tuple, 所以如果不关心tuple里除了auc之外其他字段的话正确的用法是
auc,\_,\_=fluid.layers.auc(input=probs, label=labels)，
如果关心的话，返回的tuple内容是
（auc,batch_auc,[batch_stat_pos,batch_stat_neg,stat_pos,stat_neg]）
希望官方能够及时更新文档，要不然怎么用呢。。。

[2019-07-08 11:49] LaoYang1994 opened #18554 "Is meshgrid supported？"
Is meshgrid supported？

[2019-07-08 12:31] sandyhouse commented on #18552
您的问题是？

[2019-07-08 12:32] sandyhouse commented on #18553
感谢您的反馈，我们已记录该问题，并会及时更新文档。

[2019-07-08 12:33] a6802739 commented on #18552
问题是，模型的定义有没有问题？

[2019-07-08 12:36] sandyhouse commented on #18553
Closing this issue. Reopen it if you have any further question.

[2019-07-08 12:46] sandyhouse commented on #18554
Does not support by PaddlePaddle Now, but you can use numpy.

[2019-07-08 12:48] sandyhouse commented on #18554
Closing this issue. Reopen it if you have any further question.

[2019-07-08 12:48] sandyhouse commented on #18554
Closing this issue. Reopen it if you have any further question.

[2019-07-08 12:48] #18554 closed, assigned to nobody

[2019-07-08 12:50] sandyhouse commented on #18544
Closing this issue. Reopen it if you have any further question.

[2019-07-08 12:50] #18544 closed, assigned to sandyhouse

[2019-07-08 13:11] LaoYang1994 opened #18555 "关于一些函数的参数名的问题"
为什么有的函数的参数名是dim， 有的函数的参数名是axis， 可不可以统一一下..

[2019-07-08 13:14] DDDivano opened #18556 "windows下flower数据集报错找不到data（key）字段"
data下的key是二进制表示的，另一台win机器没有这个问题，很奇怪。
![image](https://user-images.githubusercontent.com/10734244/60812992-5056b600-a1c5-11e9-9026-8a2ac871041f.png)

[2019-07-08 13:17] Bond-H commented on #18544
这个error确实是run函数的参数接口不一致导致的，Executor的run函数的fetch_list参数同时支持变量或变量名，而ParallelExecutor的run函数的fetch_list参数只支持变量名，不能输入变量，这种不一致性极容易导致迁移的过程中的出错，并且难以察觉，真心建议对此类问题进行规范化

[2019-07-08 13:21] sandyhouse commented on #18555
感谢您的反馈，您的建议已记录，我们会在后续版本迭代中综合考量。

[2019-07-08 15:04] primejava commented on #11997
所以这个bug就放了一年多??

[2019-07-08 16:17] sandyhouse commented on #18555
Closing this issue. Reopen it if you have any further question.

[2019-07-09 00:33] sneaxiy commented on #18519
已解决，不是py_reader的问题。问题原因是ParallelExexcutor必须在run startup之后创建，因为ParallelExexcutor创建时会从0卡往其他卡broadcast参数，所以若在run startup之前创建会导致其他卡上没有参数，从而运行出错。

[2019-07-09 00:33] #18519 closed, assigned to sneaxiy

[2019-07-09 01:58] sandyhouse commented on #18552
请问上述模型是什么经典模型吗？还是自定义的模型？

[2019-07-09 02:28] zhhsplendid commented on #18378
查看了EnforceNotMet 在 2**31 的时候显示Variable的维度出现负数，看起来是 2**31， 2**32时维度在哪里被转为c++ int时数据溢出导致的负数，继续定位问题和修复中。

[2019-07-09 02:42] shiyazhou121 opened #18557 "如何将本地数据传入embedding的参数矩阵中"
我有个本地词典数据，比如
id  col1 col2 col3
0   0       0      0
1    1        1      1
2   2       2      2
3   3       3      3

我想将数据作为embedding的参数

[2019-07-09 02:47] ceci3 commented on #18557
你好，可以把本地词典保存为numpy格式，然后用 fluid.initializer.NumpyArrayInitializer 这个op来初始化embedding的参数

[2019-07-09 03:31] junjun315 commented on #18556
数据集不完整，重新下后应该就好了。侧面反映了这个数据集完整性校验可能有问题

[2019-07-09 03:31] #18556 closed, assigned to nobody

[2019-07-09 05:56] lgone2000 commented on #17407
经验证，最新的dev版本（2019-7-9) 可以在非损失的叶子节点自动添加stop-gradient.
下面代码在注释掉 neg.stop_gradient = True 可以正常跑

[code]

感谢paddle 修复这个问题

[2019-07-09 06:04] lgone2000 commented on #17407
另外issue中提到的 关于 default_startup_program的报错信息，仍然让人看不懂，目前没有修复。我单开一个issue吧

[2019-07-09 06:07] lgone2000 opened #18560 "训练代码报错信息需要优化"
如下面测试程序所示， default_startup_program 调用顺序不对，而报的错误比较乱，估计这种错误困扰了很多人， 希望paddle能改一下。

[code]

[2019-07-09 06:12] ceci3 commented on #18560
收到，感谢您的反馈~

[2019-07-09 07:18] #18540 closed, assigned to nobody

[2019-07-09 08:16] #17832 closed, assigned to luotao1

[2019-07-09 08:30] qnikev opened #18562 "fluid训练过程中出现Expected predict_data <= 1, but received predict_data:-nan > 1:1."
fluid1.3版本
本地训练无问题
paddlecloud训练一段时间后报错
Tue Jul  9 15:04:47 2019[1,4]<stdout>:Traceback (most recent call last):
Tue Jul  9 15:04:47 2019[1,4]<stdout>:  File "train.py", line 81, in <module>
Tue Jul  9 15:04:47 2019[1,4]<stdout>:    train(option.is_mpi, option.use_cuda, option.lr, option.weight_decay)
Tue Jul  9 15:04:47 2019[1,4]<stdout>:  File "train.py", line 70, in train
Tue Jul  9 15:04:47 20

[2019-07-09 09:46] irukawang opened #18564 "c++预测相关"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及

[2019-07-09 09:58] ceci3 commented on #18562
用户按照 https://github.com/PaddlePaddle/Paddle/issues/16366 替换op之后依然是同样的错误，应该是别的op里出现了nan，需要排除一下网络中的非法运算

[2019-07-09 13:32] luotao1 opened #18566 "compiler error on int8 mul op"
[code]
http://ce.paddlepaddle.org:8080/viewLog.html?buildId=52102&buildTypeId=PaddleModesl_BuildModels&tab=buildLog&_focus=7102

[2019-07-09 13:34] luotao1 commented on #18566
@bingyanghuang @Minghui-Intel

[2019-07-10 00:41] bingyanghuang commented on #17336
@jianhang-liu PR #17834 has been merged. I think we can close this milestone.

[2019-07-10 01:05] #13402 closed, assigned to Superjomn, luotao1

[2019-07-10 01:11] yeyupiaoling opened #18569 "在训练的时候一定要BGR格式吗？"
CV2读取图像是BGR的，PIL读取图片是RGB的，这两中顺序都可以进行训练吧。不需要一定转换为BGR吧？

[2019-07-10 01:54] #18566 closed, assigned to nobody

[2019-07-10 02:23] luotao1 commented on #15032
http://ci.paddlepaddle.org/viewLog.html?buildId=126022&buildTypeId=Paddle_PrCiNight&tab=buildLog&_focus=20439
http://ci.paddlepaddle.org/viewLog.html?buildId=126027&buildTypeId=Paddle_PrCiNight&tab=buildLog&_focus=20449
http://ci.paddlepaddle.org/viewLog.html?buildId=125989&buildTypeId=Paddle_PrCiNight&tab=buildLog&_focus=20433
[code]
hang on `Analyzer_MM_DNN.mkldnn_cache_clear` currently. (three

[2019-07-10 02:29] NHZlX commented on #18564
您好， 请问你使用的mac 来编译样例么

[2019-07-10 02:30] LeoZhao-BJ commented on #15032
do we have any conclusion why it hangs with TryCreateTransferScope()? are there any race conditions or multi-instances case?

[2019-07-10 02:45] irukawang commented on #18564
不是，是在gpu服务器上，centos

[2019-07-10 02:59] AWSWXY opened #18571 "训练过程报错Check failed: len >= 0 peer=: Connection reset by peer[104]"
训练过程中报错，稳定复现
任务链接
http://10.87.109.18:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190710010204-9732/

[2019-07-10 03:01] LukeALee commented on #18499
可以调小一点点batch_size试试

[2019-07-10 03:06] OliverLPH opened #18572 "设置 FLAGS_fraction_of_gpu_memory_to_use=0.0 报错 cudaMemcpyAsync failed in GpuMemcpyAsync"
- 标题：设置 FLAGS_fraction_of_gpu_memory_to_use=0.0 预测报错 cudaMemcpyAsync failed in GpuMemcpyAsync
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 1.5
    3）GPU：P4, CUDA 8.0, cuDNN 7.2
    4）系统环境：Ubuntu1604，Python 2.7
-预测信息
    1）Python预测：TensorRT-4.0.1.6
    2）CMake包含路径的完整命令
[code]
编译的时候，编入了TRT，但是验证了一下有无TRT问题是一致的。

    3）API信息（如调用请提供）
    4）预测库来源：ubuntu1604 gcc5.4 compile
- 复现信息：

理论上设置 export FLAGS_frac

[2019-07-10 03:37] #18557 closed, assigned to ceci3

[2019-07-10 04:29] lgone2000 commented on #18560
这个解决了吗？ 为啥close， 能给个解释吗？

[2019-07-10 04:37] ceci3 commented on #18560
我们已经收到您的反馈，在之后的版本中，优化报错信息，您如果还有其他需要，也可以reopen

[2019-07-10 04:39] luotao1 commented on #18560
没有优化完，不应该close吧

[2019-07-10 04:41] ceci3 commented on #18560
好的，抱歉，我重新打开这个issue

[2019-07-10 05:15] FDInSky commented on #18569
这个都可以训练，但最好看下你的预处理方式，对应起来

[2019-07-10 05:16] FDInSky commented on #18571
看了log，没发现Paddle的明确报错信息，建议再排查一下其他方面

[2019-07-10 05:16] luotao1 commented on #18555
@sandyhouse @kagome112 用户问题没解决前，issue不能关闭。

这个回答对用户来说信息不够。

[2019-07-10 05:17] luotao1 commented on #18560
@kagome112

这个回答对用户来说信息不够。

[2019-07-10 05:35] luotao1 commented on #18553
@sandyhouse @kagome112 用户问题没解决前，不能先关闭。

用户不知道什么时候会更新文档。麻烦等更新文档后，写上PR号，再关闭。

[2019-07-10 05:38] Lizhengo opened #18574 "paddle版transformer进行infer的时候报错"
运行paddle版本transformer infer的时候出core
<img width="1242" alt="76843939150570b346937fe26088f07e" src="https://user-images.githubusercontent.com/28192236/60943189-c10de780-a317-11e9-862f-17a8aeed5727.png">
其中模型我做了一些改动，layer减少到3，在decoder那块又加了一个特征层。
<img width="577" alt="image" src="https://user-images.githubusercontent.com/28192236/60943255-f9152a80-a317-11e9-8eb5-ddf6b838fa8d.png">

训练的时候是正常的

[2019-07-10 05:46] guoshengCS commented on #18574
预测的时候有能够正常预测的case吗

[2019-07-10 05:49] guoshengCS commented on #18574
另外如果是使用Paddle 1.5版本的话，可以另外确认下这个修改 https://github.com/PaddlePaddle/models/pull/2485/files#diff-9deda6138e836033dde12e71dd637fadR284

[2019-07-10 05:55] yangjing14 opened #18575 "Pserver: Port conflict has not been solved!"
   1）PaddlePaddle版本：Fluid 1.3
    2）CPU：
    3）GPU：无
    4）系统环境：MPI集群
- 训练信息
    1）MPI集群

- 问题描述：
从Paddle Cloud在MPI集群上启动任务，发现Pserver在启动过程中总是检测到端口冲突，最后所有的候选port都重试后还是没有解决。导致后续train的过程中包grpc错误

- 任务链接：http://10.90.104.41:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190710110816-2163/

- 相关日志：
job.err.log
++ echo '[pserver port] Port 62004 conflict!'
++ echo '[pserver port] Port 62

[2019-07-10 05:58] Lizhengo commented on #18574
目前用的是paddle1.3的。
预测的时候没有正常预测的case，但我把一些id信息打出来了
<img width="1255" alt="image" src="https://user-images.githubusercontent.com/28192236/60944155-9cffd580-a31a-11e9-817d-0f7f23dab490.png">
只有这些信息，之后就报错了

[2019-07-10 06:01] Lizhengo commented on #18574
另外因为一些策略，我的Eos id 和 bos id是一样的

[2019-07-10 06:12] guoshengCS commented on #18574
这个可能会有问题，目前beam_search_op里面对eos的处理是：当pre_id是eos时会强制后续只产生eos，若一个query有beam_size个eos后这个query就结束了，如果Eos id 和 bos id是一样的话，那直接就结束了。不过core掉确实不够好，但即便没有这个core，目前beam_search_op是无法支持这种策略的。

[2019-07-10 06:14] Lizhengo commented on #18574
我尝试过，bos id和Eos id不一致，也还是报错，说明还是得解决下core这个问题

[2019-07-10 06:16] yxfGrace commented on #18575
mpi作业中pserver和trainer通信的端口是paddlecloud分配的，可以提一个paddlecloud的icafe卡片，我们后面来跟进下，卡片提交地址 http://newicafe.baidu.com/issues/space/paddle-cloud-user

[2019-07-10 06:19] xiegegege opened #18576 "训练过程中报unhandled cuda error"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：Paddle1.5
    2）GPU：P40, Cuda9 ,Cudnn7
    4）系统环境：CentOS, python2.7
- 训练信息
    1）单机，多卡
- 问题描述：运行检测库模型yolov3，运行命令为：python ppdet/train.py --cfg_file=configs/yolov3_ResNet34_1x_syncbn.yml ，在正常运行很多天后报错异常退出，运行

[2019-07-10 06:23] guoshengCS commented on #18574
麻烦在这种情况下将batch_size改为1，并将max_out_len减小到几步，在beam_search后使用layers.Print打印出selected_id，把打印出的内容贴下吧

[2019-07-10 06:23] yangjing14 commented on #18575
你好，icafe卡片以提交，麻烦跟进，谢谢
http://newicafe.baidu.com/issue/paddle-cloud-user-875/show?from=page

[2019-07-10 06:30] heavengate commented on #18576
Paddle develop分支么？

[2019-07-10 06:32] heavengate commented on #18576
看报错信息应该是nccl的问题，之前其他模型也报出来过，更新nccl后解决，麻烦nccl更新2.4.7试下

[2019-07-10 06:37] xiegegege commented on #18576
好的，我更新下试下

[2019-07-10 06:44] Lizhengo commented on #18574
bug解决了，就是Eos和bos一致的问题，因为我没有改infer脚本里的eos和bos的tag，所以eos和bos还是一致的，把tag改成不一致的就不出core 了

[2019-07-10 06:48] TheodoreG opened #18577 "Mask rcnn cpu infer up to 20s per image"
I used official docker image paddle:1.4.1-gpu-cuda9.0-cudnn7 to do cpu infer. The model is official Mask RCNN model. Is there any solution to do some optimization?

[2019-07-10 08:13] luotao1 commented on #15032
### English Description
Discussed with @LeoZhao-Intel and @jianhang-liu, we have some common views:
1. `TryCreateTransferScope()` is added for fixing GPU inference memory leak problem, which is not required for CPU inference. See the notes by @Superjomn
https://github.com/PaddlePaddle/Paddle/blob/e9c7e218f208d29b53284afd1a4c425f93acc4de/paddle/fluid/framework/operator.cc#L1106-L1107
2. remove `Try

[2019-07-10 08:46] #18574 closed, assigned to nobody

[2019-07-10 11:50] xuzhenglei1991 commented on #18502
我看了这个 里面我看到了一些把lodtensor中数据的扩充，没有如何把lodtensor中数据维度扩展的操作诶？我现在的需求是需要把128维的embedding输出 和 另一个26维的数组拼接在一起，组成一个新的输出，也就是154维的向量

[2019-07-10 11:51] luotao1 commented on #18448
@heavengate @kagome112 没修复完的issue，先不要关闭，谢谢

[2019-07-10 11:52] luotao1 commented on #18448
@lgone2000 该issue已经在#18447 中修复了。

[2019-07-10 11:52] #18448 closed, assigned to heavengate

[2019-07-11 02:07] mzchtx commented on #18576
遇到类似问题，nccl更新到2.4.7依旧不work，最后 nccl 升级到 2.2.13，cudnn 升级到 7.6 正常。

[2019-07-11 02:58] OliverLPH opened #18586 "TensorRT文档建议"
- 版本、环境信息
1）PaddlePaddle版本：Paddle1.5
2）CPU/GPU：CUDA8，cuDNN7 ， P4
3）系统环境：Ubuntu1604

- 建议描述：

[ISSUE10129](https://github.com/PaddlePaddle/Paddle/issues/10129) 就像这个issue里提到的，官方的TensorRT lib，在编进Paddle的时候需要手动添加 ~IPluginFactory()。

所以我觉得应该可以在官网提供Paddle适配好的TRT的lib吧，这样感觉对用户也比较友好。

或者就像在Docker file里注明的一样，在文档里注明也可以。
![image](https://user-images.githubusercontent.com/14963836/61018563-d5122180-a3c9-11e9-8e

[2019-07-11 02:59] CruiseSun opened #18587 "Infer输出id"
比如有一条要进行预估的样本。1234567890 feature1 feature2 ... featureN，进行infer后我需要能保留1234567890，最终得到1234567890 predict_score。这个1234567890该怎么处理？

[2019-07-11 03:01] shiyazhou121 opened #18588 "GPU单机训练报错，GpuMemcpySync"
paddle版本为: gpu_1.4.1
place使用CUDAPlace(0)会报以下错误，使用CPUPlace正常训练
报错如下：

`W0711 10:59:06.681474 47540 device_context.cc:261] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 8.0, Runtime API Version: 8.0
W0711 10:59:06.684422 47540 device_context.cc:269] device: 0, cuDNN Version: 5.0.
W0711 10:59:06.684448 47540 device_context.cc:293] WARNING: device: 0. The installed Paddle is compile

[2019-07-11 03:03] wlxy opened #18589 "dssm多分类，想计算两两类别之间的auc,求实现方法"
用dssm做多分类（点击，展现，未展现），想计算（点击-展现），（点击-未展现），两两类别的auc,求助实现方法。

为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤

[2019-07-11 03:20] wzgwzg commented on #18464
我也遇到同样问题了，paddle 1.5 post97
在v100上能正常跑通，在p40上不行

[2019-07-11 03:21] lps683 opened #18590 "关于大规模稀疏id特征embedding的使用问题"
目前embedding是否支持int64的id类特征的embedding？
从官网的教程可以get到以下信息
![image](https://user-images.githubusercontent.com/17926197/61019661-8cf4fe00-a3cd-11e9-834d-46db94d83fe0.png)
这个意思是说，id的value是可以大于dictsize的，只是所有id的数量小于dictsize就可以啦
实际操作如下：（fluid1.4）
![image](https://user-images.githubusercontent.com/17926197/61019750-dc3b2e80-a3cd-11e9-86c2-51065ba65397.png)
现在训练集中有一个uid=55796870，这时候报错
![image](https://user-i

[2019-07-11 03:25] zhaoyuchen2018 commented on #18587
这种case需要在预测前先处理下数据，把id保存在另外的地方，结束后然后再把id加回去

[2019-07-11 03:33] zhaoyuchen2018 commented on #18588
WARNING: device: 0. The installed Paddle is compiled with CUDNN 5.1, but CUDNN version in your machine is 5.0, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version.

warning的信息提示paddle编译的cudnn版本和运行的cudnn版本不一致，请升级本地的cudnn版本尝试下

[2019-07-11 03:36] shiyazhou121 commented on #18588
这个警告一直都有，paddlecloud上运行也会提示，，想问下报错的具体原因是什么？

[2019-07-11 03:51] zhaoyuchen2018 commented on #18590
代码中是限制id < dict size，https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/lookup_table_op.h#L88，能贴一下文档的具体地址吗？

[2019-07-11 03:51] wawltor opened #18591 "MPI分布式训练过程有core，没有core信息 ，同时线下发现不了"
在训练过程中训练任务还没有开始，就有core，线下开启多端口的ps模式复现不了

日志地址：http://10.104.149.24:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190711105415-3124/

日志信息：
.//paddle/start_trainer.sh: line 112: 21797 Segmentation fault      (core dumped) FLAGS_rpc_deadline=3000000 CPU_NUM=2 python cluster_train.py --is_sparse --is_distributed --sample_workers 2

错误码：139

[2019-07-11 04:01] zhaoyuchen2018 commented on #18589
dssm paddle之前有一个实现，您可以参考下：

https://github.com/PaddlePaddle/models/blob/8bca0e4311b444a61024c2a5dd755a22b47487da/legacy/dssm/README.md

[2019-07-11 04:06] zhaoyuchen2018 commented on #18588
从你运行的代码看是在fetch 变量的时候，需要从GPU往CPU同步memory，指针有可能发生了越界：

paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::exception_ptr, char const*, int) + 137 2 0x7f37e9b9dfecp paddle::platform::GpuMemcpySync(void*, void const*, unsigned long, cudaMemcpyKind) + 188 3 0x7f37e7e91601p

[2019-07-11 04:12] zhaoyuchen2018 commented on #18591
能贴一下完整日志信息吗，下图中貌似看不到日志

![image](https://user-images.githubusercontent.com/45989343/61021652-f4627c00-a3d4-11e9-89af-0c44214741b4.png)

[2019-07-11 04:50] AWSWXY opened #18592 "优化函数加正则报错"
优化函数加正则报错
  File "</home/disk6/xinyu/.jumbo/lib/python2.7/site-packages/decorator.pyc:decorator-gen-20>", line 2, in minimize
  File "/home/disk6/xinyu/.jumbo/lib/python2.7/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__
    return wrapped_func(*args, **kwargs)
  File "/home/disk6/xinyu/.jumbo/lib/python2.7/site-packages/paddle/fluid/dygraph/base.py", line 88, in __impl__

[2019-07-11 06:01] zhaoyuchen2018 commented on #18592
ValueError: Variable _generated_var_0 has been created before. the previous shape is (1L, 4096L); the new shape is (256L,). They are not matched.
请贴一下完整的代码，看起来是参数的shape不匹配

[2019-07-11 06:04] YingjingLu opened #18593 "Residual 结构的Con2D在flatten的时候出现gradient shape mismatch"
Enforce failed. Expected x_dims[i + axis] == y_dims[i], but received x_dims[i + axis]:32768 != y_dims[i]:512.
Broadcast dimension mismatch. at [/paddle/paddle/fluid/operators/elementwise/elementwise_op_function.h:63]

    1）PPaddle 1.5
    2）i7 5820k
    3）Titan XP + Gtx 1080ti, Cuda 9 CUDNN 7.3.1
    4）Python36 Ubuntu 18.04
- 训练信息
    1）单卡/多卡
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：Sphere_Lfw.py  第213行如果

[2019-07-11 06:14] YingjingLu commented on #16097
请问这个问题解决了吗，我在Paddle 1.5 Ubuntu Cuda 9 CUDNN 7.3上面依然有这个问题

[2019-07-11 06:35] CruiseSun commented on #18587
好的，多谢！！

[2019-07-11 07:18] OliverLPH commented on #18586
补充一下错误截图
<img width="1401" alt="image" src="https://user-images.githubusercontent.com/14963836/61030068-254faa80-a3ef-11e9-8dab-ffdde179c5e7.png">

[2019-07-11 07:46] wlxy opened #18595 "模型infer时报错"
这个是正在训练的模型：
http://10.156.77.32:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190710160106-2401/

我选用了一个中间模型本地infer，结果报如下错误：
![image](https://user-images.githubusercontent.com/22311242/61031803-cc821100-a3f2-11e9-8ca4-2ea0840348b2.png)

如需复现问题：需替换util.py
ftp://yq01-mco-rd00.yq01.baidu.com/home/disk1/longxiuyun/git_lxy/baidu-2/mbd-stgy/push-ir/paddle_train/src-dense-code-applist-f

[2019-07-11 07:53] zhaoyuchen2018 commented on #18593
从报错信息看是在做elementwise的grad的时候两个参数x和y的dim不匹配造成的，一般来说x和y的参数要满足重axis开始往后的dim要相等，具体参考：https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/elementwise/elementwise_op_function.h#L44

可以打下log看看下面语句的的dim是不是有问题
self.out + self.conv_4_3_obj( self.conv_4_2_obj( self.out ) )

[2019-07-11 08:03] OliverLPH opened #18597 "DockerFile里面下载的文件可能有误"
- 标题：DockerFile里 提供的TRT lib文件可能有误
- 版本、环境信息：
    1）PaddlePaddle版本：
    2）CPU：
    3）GPU：CUDA8, cuDNN 7
    4）系统环境：ubuntu1604
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译：请提供docker镜像，编译命令           
  特殊环境请注明：如离线安装等
- 复现信息：
- 问题描述：TensorRT 库文件

在bce里提供的下载文件 https://paddlepaddledeps.bj.bcebos.com/TensorRT-4.0.1.6-ubuntu14.04.x86_64-gnu.cuda.8.0.cudnn7.0.tar.gz 中 NvInfer.h 貌似有变动。

以前

[2019-07-11 08:18] NHZlX commented on #18597
应该是IPluginFactory class。Padlde有类继承了此class，但是此IPluginFactory没有对应实现虚析构函数。此问题已跟nvidia相关同学反映，目前还没有得到反馈。

[2019-07-11 08:29] NHZlX commented on #18586
后续会在官网文档提示一下。

[2019-07-11 08:31] OliverLPH commented on #18597
在bce里面的 IPluginFactory class这个是改了的哈，这个 [ISSUE](https://github.com/PaddlePaddle/Paddle/issues/10129) 里面有提到。

但是bce里面目前提供的 lib对应的 NvInfer.h 包含了 IPluginFactory的虚析构函数，但不包含 IGpuAllocator 对应的虚析构函数的。

[2019-07-11 11:29] xuzhenglei1991 opened #18600 "C++ 创建lodtensor并赋值相关api"
当前依赖的paddle版本为baidu/paddlepaddle/paddle@v1.3.0_pb32，
一个300长，lod为{0，300}的26维向量存在一个vector<vector<float>>中，想要将这个转为对应的lodtensor数据，应该如何操作呢？有没有相应的demo供参考一下？

[2019-07-11 11:39] OliverLPH commented on #18600
我理解你的需求是不是

[code]

[2019-07-11 12:43] superwj1990 opened #18601 "prelu这个op没有gpu反向实现"
prelu这个op只实现了gpu前向，没有gpu反向，导致训练迭代速度降为原来的五分之一到六分之一。

[2019-07-11 12:48] xuzhenglei1991 commented on #18600
这段代码里面哪个是表示dim的呢，我看当前的一维的创建方法是
paddle::framework::DDim dims = {(long)input_count, 1};
int64_t *input_ptr_word = tensor_word.mutable_data<int64_t>(dims, paddle::platform::CPUPlace());
for (int i = 0; i < tensor_word.numel(); ++i) {
        input_ptr_word[i] = input_vector[i];
}
这个有没对应的方法呢

[2019-07-11 13:38] zhaoyuchen2018 commented on #18600
shape里面保存的就是dim的信息

[2019-07-11 13:43] zhaoyuchen2018 commented on #18595
无法复现，还需要再提供下infer的文件

[2019-07-11 20:21] YingjingLu commented on #18593
语句的dim没有问题，都是（-1,512,8,8）而且两个加起来后面接reshape，conv，pool就没有这个问题，只有flatten时有这个问题

[2019-07-12 01:30] OliverLPH commented on #18600
噢噢，你把二维向量拼接起来传入应该就可以了，dim用shape表示。

输入数据貌似只能传入flatten数据。

[2019-07-12 01:59] aslily1234 opened #18602 "【paddlepaddle_gpu-1.5.0.post107】Compiled with WITH_GPU, but no GPU found in runtime"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
在官网上查找对应版本【pip3 install paddlepaddle-gpu==1.5.0.post107】，然后下载paddlepaddle_gpu-1.5.0.post107-cp37-cp37m-manylinux1_x86_64.whl 到服务器，再使用pip install paddlepaddle_gpu-1.5.0.post107-cp37-cp37m-m

[2019-07-12 02:17] wopeizl commented on #17785
1.5.0已经支持

[2019-07-12 02:27] chfguo commented on #18602
cuda和运行时的驱动不一致，如果是cuda10的话，nvidia-smi显示的信息，Driver Version >=410
NVIDIA-SMI 410.104      Driver Version: 410.104      CUDA Version: 10.0
如果不一致可以升级显卡驱动，也可以降低cuda的版本，有一个驱动和cuda的对应表，查一下看看

[2019-07-12 02:37] chfguo opened #18603 "paddle1.5版本，官方文档在手写字识别的例子有一个错误，导致EnforceNotMet: Invoke operator batch_norm_grad error."
版本、环境信息
1）PaddlePaddle版本：1.5
2）CPU/GPU：CPU训练正常，GPU出现错误
3）系统环境：Ubuntu 18.04, GPU TX1060Ti, CUDA10
- 官方文档在这个例子中中先定义了
optimizer = fluid.optimizer.Adam(learning_rate=0.001)
optimizer.minimize(avg_loss)
然后设置：
main_program = fluid.default_main_program()
test_program = fluid.default_main_program().clone(for_test=True)
这个地方会导致训练过程中
    avg_loss_val, acc_val = train_test(train_test_program=test_program,

[2019-07-12 02:37] chengduoZH commented on #18464
@miraclebiu @wzgwzg  你本地使用cudnn版本是什么？

[2019-07-12 03:07] wawltor opened #18604 "MPI训练过程中出core"
训练过程：在训练过程中出现core，core信息不好定位
参考信息:如果是本地采样在训练过程中不会出core（将训练数据load在trainer上），如果使用redis集群实时采样会出core
日志地址：http://10.104.151.23:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190711110449-3132/

[2019-07-12 03:08] zhaoyuchen2018 commented on #18601
目前paddle正在添加GPU kernel

[2019-07-12 03:09] baidadechawan opened #18605 "paddle有doc2vec吗"
paddle可以实现doc2vec或者word2vec吗，想实现文档的查重，paddle适合吗

[2019-07-12 03:16] phlrain commented on #18592
能贴下添加正则和decay的代码么。我们查看下添加的方式是否正确

[2019-07-12 03:27] #18587 closed, assigned to nobody

[2019-07-12 03:35] kolinwei opened #18608 "ctr训练中出现Invoke operator create_double_buffer_reader error."
[13:15:25]W:	 [Step 3/3] 2019-07-11 13:15:25,286 - INFO - run local training
[13:15:25]W:	 [Step 3/3] I0711 13:15:25.293337 26634 parallel_executor.cc:355] The number of CPUPlace, which is used in ParallelExecutor, is 8. And the Program will be copied 8 copies
[13:15:31]W:	 [Step 3/3] Traceback (most recent call last):
[13:15:31]W:	 [Step 3/3]   File "train.py", line 262, in <module>
[13:15:31]W:

[2019-07-12 03:39] zhaoyuchen2018 commented on #18593
展开后变成了维度变成了32768，和elememntwise的维度不match

[2019-07-12 04:37] YingjingLu commented on #18593
您好，展开以后32768=512 * 8 * 8的展开数量的，按照doc我理解flatten 就应该把( -1, 512, 8, 8 )在axis=1时的维度展成( -1, 32768 )同样的位置将flatten换为reshape就没有报错

[2019-07-12 05:21] aslily1234 commented on #18602
我用yum info cuda命令，看到的cuda版本确实已经是 10.0.130版本了，您说的驱动和cuda的对应表方便发一下么？

[2019-07-12 05:29] AWSWXY opened #18609 "增量训练加载初始化参数不起作用"
采用增量训练的方式，加载参数，看起来没有起到效果
参数加载在参数初始化之后。
exe.run(startup_prog)
if args.init_model is not None:
        print("load model from: %s" % args.init_model)
        sys.stdout.flush()
        fluid.io.load_params(exe, args.init_model)

[2019-07-12 06:07] YingjingLu opened #18610 "Elementwise_mul 前项 shape mismatch"
   1）PaddlePaddle版本：1.5  CUDA 9, CuDNN 7.3.1
    2）CPU：i7 5820k
    3）GPU：Titan XP + GTX 1080ti
    4）Ubuntu 18.04, Py36
- 训练信息
    1）单机/单卡
- 复现信息：如为报错，请给出复现环境、复现步骤
复现代码(直接运行即可)：
[code]

报错：
[code]

[2019-07-12 06:08] aslily1234 commented on #18602
驱动和cuda的对应表 : https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#abstract

重新运行了一遍驱动安装程序， sh NVIDIA-Linux-x86_64-410.104.run

然后执行nvidia-smi命令：（可以正常显示【NVIDIA-SMI 410.104      Driver Version: 410.104      CUDA Version: 10.0  】了），然后就可以了
Fri Jul 12 14:05:01 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 410.104      Driver Version: 41

[2019-07-12 06:08] #18602 closed, assigned to nobody

[2019-07-12 06:08] aslily1234 commented on #18602
谢谢提示~

[2019-07-12 06:14] kolinwei commented on #18608
commit id:1c10dac4f2903524f801061ef4eb684c4ad636d3 是好的
commit id: 076f83311094e073eb2a60b495fa48ae25793a5e 出现改问题

[2019-07-12 06:16] kolinwei commented on #18608
怀疑PR17911/PR18255

[2019-07-12 06:21] wopeizl commented on #18609
分布式环境下用load_persistables替代load_params

[2019-07-12 06:21] wopeizl commented on #18603
好的，非常感谢

[2019-07-12 07:07] ididhmc opened #18615 "关于window和ubuntu下numpy中int不同类型的问题"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：PaddlePaddle 1.5
2）CPU/GPU：CPU
3）系统环境：WIN10

- 复现信息：由于window下numpy默认int的数据类型是int32，所以在喂入数据的时候，出现了
paddle.fluid.core_avx.EnforceNotMet: Invoke operator lookup_table error.
原先数据：
![image](https://user-images.githubusercontent.com/41049893/61109119-b0e03e80-a4b6-11e9-9d04-f1e1a83a551f.png)
运行后报错
![image](http

[2019-07-12 07:48] githubutilities opened #18616 "paddle v1.5 动态图下scatter函数会被清零"
### scatter函数bug复现
[code]
### 输出 - CPU和GPU都能复现这个问题
[code]

### 正确输出

`
[[4. 6.]
 [8. 10.]]
`

### bug代码定位如下：

- CPU版代码 - https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/scatter.h#L134
- GPU版代码 - https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/scatter.cu.h#L99

[2019-07-12 07:54] wopeizl commented on #18609
http://10.87.108.33:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190710173646-9925/

[2019-07-12 07:56] wopeizl commented on #18609
![image](https://user-images.githubusercontent.com/23548796/61111993-7037f380-a4bd-11e9-9f2a-1b29d0672dcc.png)

[2019-07-12 08:01] 1160301024 opened #18617 "lstm如何更改激励向量计算方法"
使用cpu和在paddle文档中下载的情感分析lstm的实例，应该如何更改lstm的激励向量的计算方法？

[2019-07-12 08:13] carychai commented on #18501
同一个问题，用resnet训练，cost始终为nan，设置BN的use_global_stats=True 依旧还是，不知什么原因

[2019-07-12 08:59] 1286667673 opened #18618 "holder_ should not be null"
您好：我用训练好的模型预测的时候报这样的错误，是为什么呢？
  38                             feed={feed_target_names[0]: test_im},  #喂入要预测的img
     39
---> 40                             fetch_list=fetch_targets)          #得到推测结果
     41
     42
/opt/conda/lib/python3.6/site-packages/paddle/fluid/executor.py in run(self, program, feed, fetch_list, feed_var_name, fetch_var_name, scope, return_numpy, use_program_cache)
    563

[2019-07-12 09:48] zhaoyuchen2018 commented on #18593
那你看看reshape和flat之后的dim相同吗，看你报错的信息是在elementwise，从报错信息推断是flat之后的dim有问题

[2019-07-12 10:08] #17430 closed, assigned to velconia, seiriosPlus

[2019-07-12 10:53] gilbert1989 opened #18619 "PaddleDetection retinanet50、101训练好的模型，预测时显存溢出"
- 版本、环境信息：
    1）PaddlePaddle版本：v1.5
    2）GPU：p4
    3）系统环境：官方docker

- 复现信息：python tools/infer.py --config=configs/retinanet_r50_fpn_1x.yml --infer_dir=dataset/coco/test/
- 问题描述：batch_size=1,训练和eval没有问题，infer.py进行预测时，提示显存问题。

W0712 10:46:53.930126  6443 system_allocator.cc:121] Cannot malloc 6647.97 MB GPU memory. Please shrink FLAGS_fraction_of_gpu_memory_to_use or FLAGS_initial_gpu_memory_in_m

[2019-07-12 11:04] wopeizl commented on #18619
检查一下显卡是不是被其它程序占用了

[2019-07-12 11:05] wopeizl commented on #18618
能把程序贴一下吗？

[2019-07-12 11:21] #15032 closed, assigned to jczaja

[2019-07-12 11:31] wopeizl commented on #18617
你是想换activation函数吗？

[2019-07-12 11:31] wopeizl commented on #18617
![image](https://user-images.githubusercontent.com/23548796/61125165-a97f5c00-a4db-11e9-9c99-83741d6831a4.png)

[2019-07-12 11:32] wopeizl commented on #18617
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html#dynamic-lstm

[2019-07-12 11:32] wopeizl commented on #18616
感谢指出，我们修复一下

[2019-07-12 11:43] gongweibao opened #18621 "Add multi_batch_merge_pass to c++ space."
[code]

[2019-07-12 12:32] 1160301024 commented on #18617
不是activation函数，是peephole连接中c的计算公式

[2019-07-12 17:06] zhwesky2010 opened #18624 "Typing out the specific error types of calling CUDA API"
Error log is currently only prompting the call to the CUDA API to fail. You can't see the detailed error information. It's not good for debug. Optimize it as follows:
Typing out the specific error types of calling CUDA API and prompting users to go to nvidia's official website to see the error value explanation.

[2019-07-13 03:06] Hsoms opened #18627 "CUDNN_STATUS_EXECUTION_FAILED"
   1）PaddlePaddle版本：1.5.0post 107
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，cuda10.2、cudnn7.6
    4）系统环境：linux      python3.6.3
- 安装方式信息：
1）pip安装
2）本地编译：请提供cmake命令，编译命令

发现 通过nvcc -V验证cuda版本为10.1
        通过nvidia-smi显示cuda版本为10.2
        

[2019-07-13 03:47] PHizing commented on #18602
我按照网页提示查了对应表，Cuda compilation tools, release 9.0, V9.0.176，NVIDIA-SMI 396.26                 Driver Version: 396.26 。应该是合适的。
仍然报“Compiled with WITH_GPU, but no GPU found in runtime”错误，而且我在这个环境的另一个GPU程序可以正常运行。

[2019-07-13 12:11] lps683 commented on #18590
问题搞清楚了 单机下限制id < dict size，分布式可以支持大规模的id特征
文档https://www.paddlepaddle.org.cn/documentation/docs/zh/1.4/api_guides/low_level/distributed/large_scale_sparse_feature_training.html

[2019-07-13 12:11] #18590 closed, assigned to nobody

[2019-07-13 13:40] #18603 closed, assigned to wopeizl

[2019-07-13 14:08] wopeizl commented on #18615
文档有问题，需要修复，
user_id = fluid.create_lod_tensor([[np.int64(1)]], [[1]], place)
gender_id = fluid.create_lod_tensor([[np.int64(1)]], [[1]], place)
age_id = fluid.create_lod_tensor([[np.int64(0)]], [[1]], place)
job_id = fluid.create_lod_tensor([[np.int64(10)]], [[1]], place)
movie_id = fluid.create_lod_tensor([[np.int64(783)]], [[1]], place)
category_id = fluid.create_lod_tensor(
    [np.array(

[2019-07-14 04:56] Bond-H opened #18629 "一机多卡模型训练hang住【复现】"
- 版本、环境信息：
 1）PaddlePaddle版本：1.4.1
 3）GPU：K40m，Cuda8.0，cuDNN6.2, nccl_2.0.5
 4）系统环境：CentOS6.3， Python2.7
- 问题描述
 单机单卡模型能正常训练，单机多卡模式在训练迭代多个batch后会hang住，同时没有报错信息。

上述情况的复现代码如下所示：
[code]

[2019-07-14 07:12] hellodhd commented on #11884
same error

[2019-07-14 08:33] singlinhaha opened #18630 "关于conv2d函数中自定义卷积核疑问"
你好,我想请问一下,怎么往conv2d函数传进去自定义的卷积核,而不是采用随机初始化,传进去的卷积核是计算过程某一中间变量,类型是Tensor

[2019-07-14 14:05] singlinhaha commented on #18630
在复现SiameseRPN的时候遇到这个问题，需要将一个中间的tensor变量作为卷积核，和另外一个tensor变量进行卷积计算，但是发现paddlepaddle好像没办法自定义卷积核

[2019-07-14 20:51] #18337 closed, assigned to nobody

[2019-07-15 00:05] YingjingLu commented on #18610
如log所示，在class ArcLoss里我打印了elementwise mul的两个tensor形状，分别是diff和index
index shape (-1, 10575)
diff shape (-1, 10575)
从形状上是match的，我怀疑是数据类型不match还特意在之前将diff和index做了cast变成了float32

[2019-07-15 00:51] maosengshulei opened #18631 "fill_constant_batch_size_like 这个op 返回的输出tensor 和输入tensor batch_size不匹配"
   1）PaddlePaddle版本: 支持fleet的paddle版本，版本不太确定
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）mpi多机训练
    2）显存信息
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
使用fill_constant_batch_size_like的代码部分如下：
[code]
在concat拼接生成show_clk这一步报错
mpi日志显示如下：
[code]
日志显示输入的ba

[2019-07-15 02:15] Shixiaowei02 commented on #18630
请问你是在预测还是训练遇到的问题，是使用c++还是python呢？

[2019-07-15 02:16] Shixiaowei02 commented on #18629
如hi回复，已由 paddle cloud 同学对接。

[2019-07-15 02:31] singlinhaha commented on #18630
你好,我是在训练的时候遇到这个问题,在搭建网络的时候找不到对应的api实现将一个tensor变量作为卷积核，和另外一个tensor变量进行卷积计算,我用的是python

[2019-07-15 02:33] singlinhaha commented on #18630
你好,我是在训练的时候遇到这个问题,在搭建网络的时候找不到对应的api实现将一个tensor变量作为卷积核，和另外一个tensor变量进行卷积计算,我用的是python

[2019-07-15 02:54] Shixiaowei02 commented on #18630
是的，的确没有现成的api，需要更新模型文件实现这个功能。

[2019-07-15 03:01] lexy0093 opened #18632 "embeding使用is_distributed参数core dump"
网络结构：
        label = fluid.layers.data(name='label', shape=[1], dtype='int64', lod_level=0)
        index = fluid.layers.data(name='index', shape=[1], dtype='int64', lod_level=1)
        feature = fluid.layers.data(name='feature', shape=[1], dtype='float32', lod_level=1)

        droped = fluid.layers.dropout(x=feature, dropout_prob=self.dropout_prob)
        emb = fluid.layers.embedding(input=in

[2019-07-15 03:16] singlinhaha commented on #18630
是不是说在1.5版本下没法实现这个功能,只能等以后版本更新?

[2019-07-15 03:16] seiriosPlus commented on #18632
看你的网络配置没有使用 `is_distributed=True`

[2019-07-15 03:17] lexy0093 commented on #18632
使用参数is_distributed的原因是：在paddle-cloud上运行时总是在一轮训练结束时，更新参数到pserver上出现以下错误：
F0715 03:05:32.021452 25078 grpc_client.cc:408] GetRPC name:[fc_0.b_0], ep:[10.73.182.22:62000], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
*** Check failure stack trace: ***
    @     0x7f610fefac0d  google::LogMessage::Fail()
    @     0x7f610fefe6bc  google::LogMessage::SendToL

[2019-07-15 03:17] lexy0093 commented on #18632
网络实际配置是使用了的，只是这边摘出来说而已

[2019-07-15 03:19] seiriosPlus commented on #18632
是在第一轮训练结束以后进行了评估么？

[2019-07-15 03:22] lexy0093 commented on #18632
第一轮训练结束后，未看到对Test data的数据评估就出现了问题。并且已设置FLAGS_rpc_deadline=6000000 超时时间，怀疑由于参数过大造成

[2019-07-15 03:23] seiriosPlus commented on #18632
参数过大不是这个错误

[2019-07-15 03:24] seiriosPlus commented on #18632
你把test关掉试试， 如果确认问题了再说后续的解决方法。

[2019-07-15 03:25] chengduoZH commented on #18629
你装的是什么版本的1.4.1.post85 or 1.4.1.post87 ?
nccl版本是什么？

[2019-07-15 03:29] zhhsplendid commented on #18631
当前我在本地按用户提供的代码写了类似代码，并用随机数据feed，本地没有出现这种情况。无法复现。沟通了用户，看到用户提供的log和代码，使用代码看上去没问题，但log确实出现了batch size从8变32的情况。打算进一步排查错误来自哪里。

额外信息
了解到用户使用的paddle 版本commit-id：75cda4d9df83615a196866fa76cbe58a17d40990

[2019-07-15 03:29] Shixiaowei02 commented on #18630
是的。

[2019-07-15 03:30] Shixiaowei02 commented on #18630
您的这个动态更新权重需求我们内部核对确认一下。

[2019-07-15 03:35] Bond-H commented on #18629
从新安装paddle1.5.0.post97的环境，问题已解决

[2019-07-15 03:41] singlinhaha commented on #18630
好的,感谢你的回答!

[2019-07-15 05:26] lexy0093 commented on #18632
为什么本地模拟分布式时，使用is_distributed会报上述错误呢？

[2019-07-15 05:47] zhhsplendid commented on #18631
进一步发现log里可能是使用了输入lod tensor的size作为batch size导致变成32. 可能与paddle这行代码有关，将进一步与开发者核对该问题。

https://github.com/PaddlePaddle/Paddle/blob/ab57d3893ea2cfe8b002ed4a82e88a0d40b2f1e8/paddle/fluid/operators/fill_constant_batch_size_like_op.h#L32

[2019-07-15 06:09] wawltor commented on #18591
日志在workspace的log目录下面

[2019-07-15 06:11] lexy0093 commented on #18632
这个找到原因了，本地运行的脚本中pserver和trainer网络都应该添加上参数is_distributed，而我只添加了trainer导致

[2019-07-15 06:25] seiriosPlus commented on #18604
开一下LOG吧
export GLOG_v=4

[2019-07-15 06:25] wopeizl commented on #18605
https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/word2vec

[2019-07-15 06:25] wopeizl commented on #18605
可以参考一下这个

[2019-07-15 06:32] wopeizl commented on #18617
这种情况下需要自己去改c代码，paddle/paddle/fluid/operators/math/detail/lstm_kernel.h，
![image](https://user-images.githubusercontent.com/23548796/61198612-54c32780-a70d-11e9-893a-537bf590f613.png)

[2019-07-15 06:42] wopeizl commented on #18624
感谢建议，我们会在易用性中加以改进

[2019-07-15 06:49] qingqing01 commented on #18631
请问这个打印后对应的shape是怎么样的？ batch size这里正常应该是多少？

[2019-07-15 07:21] xjqbest commented on #18627
请尽可能提供我们这边可以复现的详细信息（比如运行的python文件、数据、其他脚本等）

[2019-07-15 07:26] zhhsplendid commented on #18631
@qingqing01 我查看了用户log里print的信息，确实LoD被设置了，导致走了LoD那个if：
但是看上去，这更像用户 LoD 被设置的错误。我将和用户沟通一下，看他们能否通过去掉奇怪的LoD信息来解决他们的问题。

Mon Jul 15 08:24:49 2019[1,5]<stdout>:1563150289	cast label element: 	The place is:CPUPlace
Mon Jul 15 08:24:49 2019[1,5]<stdout>:Tensor[cast_0.tmp_0]
Mon Jul 15 08:24:49 2019[1,5]<stdout>:	shape: [8,1,]
Mon Jul 15 08:24:49 2019[1,5]<stdout>:	dtype: f
Mon Jul 15 08:24:49 2019[1,5]<std

[2019-07-15 07:32] zq19 opened #18636 "data与feed_list不匹配"
这是出错信息：
 Traceback (most recent call last)<ipython-input-33-06c35278f4ac> in <module>
      1 if __name__ == '__main__':
      2     init_log_config()
----> 3     train()
<ipython-input-32-d79348923423> in train()
     52             print(data['image'][0])
     53             loss, acc1, pred_ot = exe.run(train_program,
---> 54                                           feed=feeder.feed(data),

[2019-07-15 08:38] OliverLPH opened #18637 "关于paddle_analysis_config.h里的fraction_of_gpu_memory_for_pool的问题"
- 标题：关于paddle_analysis_config.h里的fraction_of_gpu_memory_for_pool()的问题
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）CPU：
    3）GPU：P4，7611MB * 4

- 问题描述：

主要是想问下 fraction_of_gpu_memory_for_pool() 的含义，[代码链接](https://github.com/PaddlePaddle/Paddle/blob/995d7d860022ba3537e9a088ccb26b65888eee6d/paddle/fluid/inference/api/paddle_analysis_config.h#L99)
因为注释里面说的是初始化memory pool的大小所占device的比例。
![image](https:/

[2019-07-15 08:48] zhhsplendid commented on #18636
嗨，zq，我们看了你更多的代码，可能不是数据feed的问题，你可以尝试恢复原来的feed方式。有可能是program设置问题：

<img width="974" alt="1a60d86495b7edcf6d0779afd1b860b1" src="https://user-images.githubusercontent.com/7913861/61201743-07988300-a718-11e9-83fd-4b19b772a436.png">

在resnet.context()里返回了一个resnet_program，从你的代码看上去这个program是个main program，因此没初始化startup_program会导致一些resnet里的参数没被初始化。

解决方法：不知道你是不是把整个resnet和你后面增加的fc层弄成一个网络跑。如果那是你的意图的话，那么删除开头红

[2019-07-15 09:12] sitongchen opened #18639 "增量train的时候怀疑没有成功初始化init的模型"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

job_version="paddle-fluid-v1.2.0"
config.ini中定义：
init_model_path=/app/ecom/fcr/chensitong0/fluid/cross_domain/output/model_/997a2568-e8aa-5519-84fb-247a0c0aac49/job-0bb5d2ac6a4d85ff/output/rank-00000/batch-3500
这里batch-3500文件夹就是上次任务train到auc:0.71的output
然后加载再次训练的时候auc又从0.5开始训，包括auc上涨的速度和上次训都一样
怀疑没有成功初始化，不知道咋排查这个

[2019-07-15 09:14] sitongchen commented on #18639
第一次任务：
http://10.182.78.16:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190712173920-4503/
第二次任务（怀疑第一次任务的output没有初始化成功）：
http://10.182.17.141:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190714140743-5642/

[2019-07-15 09:35] zhhsplendid commented on #18639
增量训练时，你是用什么load，save api呢？

相关文档：
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/training/save_load_variables.html#id8

能否先确认一下使用了正确的存储/载入模型api？

[2019-07-15 10:25] wopeizl commented on #18610
可以用printop打一下看看

[2019-07-15 12:04] zq19 commented on #18636
您好，非常感谢花时间帮助我来解决问题，按照您说的方法改了之后，还是没效果
def train():
    logger.info("create prog success")
    logger.info("build input custom reader and data feeder")

    place = fluid.CUDAPlace(0)
     # 选取不同的网络
    logger.info("build newwork")

    input_dict, output_dict, resnet_program = resnet.context()

    train_program = resnet_program
    startup_program = fluid.default_startup_program()
    with fluid.p

[2019-07-15 12:11] jczaja opened #18642 "[MKL-DNN] pool2d op does not support exclusive attribute"
pool2d op is having an attribute "exclusive" that indicates how average pooling is computer
when pooling window is partially out of Feature Map eg. whether to divide by pooling window size (KH*KW) or just by amount of valid feature map values pooling window is sharing with.

MKL-DNN as well as PaddlePaddle can operate in either way , so it is just lack of consideration of this atribute is a proble

[2019-07-15 12:17] shuluoshu commented on #18464
我也本地遇到这个问题， cudnn用的是7.3  + cuda 9.0

[2019-07-15 12:25] wawltor commented on #18604
打开 GLOG_v=4日志：http://10.104.149.13:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190715193524-6733/
麻烦看看啊

[2019-07-15 12:32] seiriosPlus commented on #18604
看不出来，hi上复现一下吧

[2019-07-15 13:38] heavengate commented on #18464
用的是paddle1.5 post97么，nvidia驱动什么版本，方便给一下nvidia-smi信息和日志信息么

[2019-07-15 15:20] #18629 closed, assigned to nobody

[2019-07-15 16:31] kkkkkkkk94 commented on #18319
出现一模一样的问题，报的错误也是一模一样。手动将缺少文件拷贝到$PADDLE_LIB路径下，就会编译通过，但是会出现连接错误。希望可以解决这个问题。谢谢。。

[2019-07-16 01:41] hutuxian commented on #18615
Fixed: https://github.com/PaddlePaddle/book/pull/773

[2019-07-16 01:41] #18615 closed, assigned to wopeizl

[2019-07-16 01:42] wanghaoshuang commented on #17056
这个错误是因为你load进来的parameter的shape和当前网络里parameter的shape不一致。

你可以在load parameters时，检查下shape, 如下：

[code]

[2019-07-16 01:47] #17457 closed, assigned to sneaxiy

[2019-07-16 01:58] shuluoshu commented on #18464
1.5.0 post87 ，显卡驱动 NVIDIA-SMI 396.26                 Driver Version: 396.26   k40
报错信息见图。

![3](https://user-images.githubusercontent.com/17999845/61260252-0155e580-a7b0-11e9-854f-a44136c335b8.png)

[2019-07-16 04:49] chengduoZH commented on #16282
如果使用PaddlePaddle-gpu安装包，但是设备上没有GPU，可以通过设置`CUDA_VISIBLE_DEVICES`环境变量，以避免对GPU卡进行初始化，即`export CUDA_VISIBLE_DEVICES=""`.

[2019-07-16 05:17] #16286 closed, assigned to nobody

[2019-07-16 05:40] heavengate commented on #18464
cudnn7和cuda8可能存在兼容问题，建议安装1.5.0.post97，更换cuda9.0版本试下

[2019-07-16 05:50] zhhsplendid commented on #18636
错误一样吗？还是报tensor holder_为空错误？

[2019-07-16 05:51] #18632 closed, assigned to seiriosPlus, zhhsplendid

[2019-07-16 06:31] shuluoshu commented on #18464
我本来就是用的paddle1.5 post97 ， cuda 9.0， cudnn7， 还要换啥呢？

[2019-07-16 06:33] heavengate commented on #18464
nccl版本是多少，可以试下2.4.7

[2019-07-16 07:33] YingjingLu commented on #18501
同问这个问题，设置use_global_stats=True绕不过去，版本是1.5.

[2019-07-16 07:34] zq19 opened #18647 "关于验证的时候dropout层的梯度问题"
出错点：
[code]

网络dropout层：
[code]

[2019-07-16 07:35] AWSWXY commented on #18639
我这里遇到了相同的问题。已经参照api 存储 载入模型。
版本：fluid1.4.1
任务运行日志：http://10.87.106.23:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20190716103121-11570/
说明：init路径下auc为0.69 训练时第一个batch auc从0.5开始。
代码线下提供。

[2019-07-16 07:40] cuicheng01 opened #18648 "pytorch代码转paddle后batch_size维度对不上"
pytorch代码：

[code]

paddle代码：
[code]

单卡batch_size = 32，
报错信息：
`Enforce failed. Expected x_dims[i + axis] == y_dims[i], but received x_dims[i + axis]:32 != y_dims[i]:1.
Broadcast dimension mismatch. at [/paddle/paddle/fluid/operators/elementwise/elementwise_op_function.h:63]`

[2019-07-16 07:42] zq19 commented on #18647
训练：
for step_id, data in enumerate(train_reader()):
            t1 = time.time()
            loss, acc1 = exe.run(program=fluid.default_main_program(),
                                          feed=feeder.feed(data),
                                          fetch_list=[avg_cost, acc_top1])

验证：
for step_id, data in enumerate(validation_reader()):
            t1 = time.time()
            loss, ac

[2019-07-16 08:16] cuicheng01 commented on #18648
补充：numpy模拟此过程不存在维度对不上的问题

[2019-07-16 09:23] ysh329 commented on #18648
@cuicheng01 观察到问题出现在`elementwise_op_function.h:63`，且是维度问题，你能打印出`x_dims`与`y_dims`的维度嘛

[2019-07-16 10:02] lexy0093 opened #18651 "第一轮训练快结束时，时延变大"
组网：

[code]

特征维度：80w， batch_size=1024，每轮训练包括：train data 和test data，训练开始每个batch执行大概稳定25s，快结束时batch运行时延增加，并且在test结束后，第二轮batch时延也加大，严重影响运行效率。
日志：
http://10.73.173.35:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20190716103040-38241--mcdnn-fluid_paddlecloud

[2019-07-16 10:24] ysh329 commented on #18648
@cuicheng01
你的问题是出在` t = t*weight + bias`这里吗？能定位出嘛？
我想的是单独计算 `t*weight` 并输出维度，另外在输出`bias`的维度

[2019-07-16 10:39] cuicheng01 commented on #18648
维度无法打印，目前不能定位错误在哪里

[2019-07-16 10:53] ceci3 commented on #18501
出现nan不一定是BN的问题，需要检查一下其他的非法运算，可以使用这个flag https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/flags_cn.html#check-nan-inf 帮助快速定位出nan的op

[2019-07-16 11:17] ysh329 commented on #18651
有可能存在慢节点，或者是在每轮快结束的会同步等待

[2019-07-16 11:33] lexy0093 commented on #18651
1、慢节点是怎么造成的？
2、每轮快结束的时候所有快节点会等待慢节点？

[2019-07-16 11:34] ysh329 commented on #18651
这个问题可能比较复杂，我正在问组内同学

[2019-07-16 12:16] DDDivano opened #18653 "normalinitializer随机种子的作用是什么？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/initializer_cn.html#normalinitializer
固定随机种子之后，在不同的环境，maccpu，linux cpu gpu下跑得到的权重结果也是不同的。
这个是符合预期的吗？
linux cpu
![image](https://user-images.githubusercontent.com/10734244/61293528-7c49eb00-a806-11e9-99b1-4e182aa50930.png)
linux gpu
![image](https://user-images.githubusercontent.com/10734244/61293536-823fcc00-a806-11e9-9e7d-b060ba554f

[2019-07-16 12:40] ysh329 commented on #18648
我的建议是可以通过动态图的方式，打印中间值的维度信息来确定，动态图的用法参考：
http://paddlepaddle.org/documentation/docs/zh/1.4/user_guides/howto/dygraph/DyGraph.html

[2019-07-16 13:07] lps683 opened #18657 "id类特征进行embedding"
求问一下，我现在有一些id类特征，id为int64类型
我相对这些特征进行embedding，需要指定dict_size
那我是否只需要获得id的最大值+1（不超过int64）设置为dictsize即可？
还是需要将id映射成0-n的连续数值么？
如果不做映射是否会影响模型性能，有没有什么推荐的做法呢？
谢谢

[2019-07-16 13:49] jczaja opened #18658 "[MKL-DNN] Failure to run face model (demark)"
Hi,

We have just tested that internal face model of yours (demark) stopped to work with mkl-dnn (it is fine when paddle naive ops are used).

commit tested:
fd6631ef2fb8c896f89ddaa94a5112c08665f35b

commandline used:
`
./paddle/fluid/inference/tests/api/test_analyzer_image_classification  --infer_model=/home/jczaja/models/demark/demark/ --gtest_filter=*profile_mkldnn --batch_size=1
`
Output:
`
Ex

[2019-07-16 15:48] ysh329 commented on #18653
请问一下，同一台机器上的同一个Device（如CPU、GPU）下，固定随机数种子，你的结果一样嘛

[2019-07-16 16:21] guru4elephant commented on #18319
我们会清理依赖，把demo修好

[2019-07-17 02:12] luotao1 commented on #18658
I will confirm it ASAP.

[2019-07-17 02:23] DDDivano commented on #18653
不一样

[2019-07-17 02:24] DDDivano commented on #18653
同一台机器上同一个硬件是一样的

[2019-07-17 02:31] luotao1 commented on #14837
@bingyanghuang

[2019-07-17 02:47] cuicheng01 commented on #18648
好的，不过现在pytorch的动态图也是没有问题的

[2019-07-17 03:26] ysh329 commented on #18657
您好，可以参考咱们[paddlepaddle/models](https://github.com/PaddlePaddle/models)下相关的embedding模型的使用

[2019-07-17 03:45] githubutilities opened #18660 "scatter_max支持"
Paddle平台缺少了scatter_max操作，tf里面已经有[相关实现](https://www.tensorflow.org/api_docs/python/tf/scatter_max)：

[code]

[2019-07-17 03:50] githubutilities opened #18661 "unique_count支持"
Paddle平台缺少了unique_with_counts操作，tf里面已经有[实现](https://www.tensorflow.org/api_docs/python/tf/unique_with_counts)

[code]

[2019-07-17 04:29] zq19 opened #18662 "关于公开项目中测试与训练用的同一个main_program的问题"
项目地址：https://aistudio.baidu.com/aistudio/projectdetail/44338
![image](https://user-images.githubusercontent.com/50872563/61347148-5f58fa80-a88e-11e9-9ad2-f884be847aad.png)
按理来说测试程序应该为训练程序的clone.(for_test=True),请问这是怎么回事呢

[2019-07-17 05:18] TomorrowIsAnOtherDay commented on #18601
咨询下现在有进展吗？

[2019-07-17 05:34] TomorrowIsAnOtherDay opened #18665 "Fluid gets poor performance when training in CPU, compared with TF."
Code for reproducing the performance could be found [here](
http://gitlab.baidu.com/zhoubo01/paddle-tensorflow), with TF and Paddle version.
As we have observed in our machine, TF runs twice faster than Fluid.

[2019-07-17 06:45] sshilei opened #18666 "训练过程中持续有warning"
Please re-compile on local machine

[2019-07-17 06:45] sshilei opened #18667 "训练过程中持续有warning"
W0717 14:40:15.249956 54863 init.cc:161] AVX is available, Please re-compile on local machine

![image](https://user-images.githubusercontent.com/18701471/61353095-81a84380-a8a1-11e9-87c7-a11f044ffcbe.png)

[2019-07-17 06:51] ysh329 commented on #18653
同一台机器上同一个硬件是一样的，符合预期。

额，如果说作用的话，说明里写了：随机正态（高斯）分布初始化器

[2019-07-17 06:52] #18653 closed, assigned to nobody

[2019-07-17 06:56] ysh329 commented on #18647
您好，我看了下您的问题：
[code]
这里dropout_op的参数检查失败了，怀疑是op的参数填写不对，建议您先检查`is_test`的值是否正确，预期是`0`，但是给出的是`1`

[2019-07-17 06:56] zhaoyuchen2018 commented on #18591
INFO] 2019-07-11 11:11:37,241 [cluster_train.py:  565]:	Namespace(batch_size=128, cache_path='./tmp', data_path='', digraph=False, epoch=2, hidden_size=128, is_distributed=True, is_sparse=True, layer_type='graphsage_mean', lr=0.01, num_layers=2, sample_workers=2, samples=[10, 10], single_usr_embed=False, use_cuda=False, use_pyreader=False, valid=False)
I0711 11:11:37.401131 21797 communicator.cc:6

[2019-07-17 07:39] zhwesky2010 opened #18668 "优化报错信息内容，增加安装流程的体验度"
报错信息建议为：
cudaGetDeviceProperties failed in paddle::platform::GetCUDAComputeCapability!
Error Type ID = 1, Please see detail in https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038

[2019-07-17 07:49] luotao1 commented on #18665
1. 请问使用什么型号的CPU？用`cat /proc/cpuinfo`看下。
2. 请问使用什么版本的paddle，调用了MKL库么？
3. `exec_strategy.num_threads = 48`，从代码看，使用了48个线程。如果CPU core没有超过48个，建议减少该数值。
4. 运行时，查看下`top`利用率，看下paddle和tf对应的CPU利用率分别是多少？

[2019-07-17 07:53] luotao1 commented on #18665
可以贴一下，目前TF和Fluid的运行时间么？以及您怎么测时间的命令，方便我们复现。

[2019-07-17 08:01] TomorrowIsAnOtherDay commented on #18665
感谢答复。
1. Intel(R) Xeon(R) Gold 5117 CPU @ 2.00GHz
2. paddle版本1.50，通过命令`pip install paddlepaddle-gpu` 安装的。不清楚是否使用的mkl库。
3. 尝试过更少数量的cpu，但是效果没有提升。
4. 建议开发者运行我们提供的代码自行查看。

Q：可以贴一下，目前TF和Fluid的运行时间么？以及您怎么测时间的命令，方便我们复现。
A：根据tqdm里面显示的时间来看的，跑1000个batch的训练耗时。

[2019-07-17 08:10] MRXLT commented on #18667
你好，可以提供一下训练的环境吗

[2019-07-17 08:14] sshilei commented on #18667
单独hi上提供，谢谢

[2019-07-17 08:42] kolinwei commented on #18608
已修复

[2019-07-17 08:42] #18608 closed, assigned to sneaxiy

[2019-07-17 13:06] TomorrowIsAnOtherDay commented on #18665
在这里贴一下我们本地的性能指标：
fluid: 40 batch/秒
tensorflow: 80 batch / 秒
tensorflow 版本：1.13.1
安装途径： `pip install tensorflow==1.13.1`

[2019-07-17 13:36] D0m021ng opened #18677 "Paddle fluid v1.5.0 NCCL模式多机训练失败"
使用Paddle fluid v1.5.0版本进行NCCL2模式多机训练，demo使用Paddlecloud的nccl2 demo，其中python2版本训练成功，python3版本训练失败，已经修改了兼容性。

- 版本、环境信息：
    1）PaddlePaddle版本：Paddle fluid v1.5.0
    2)  Python版本： python3.6.2
    3)  cuda版本： cuda10.0
    4)  nccl2版本： nccl2.4.7
    5）已经设置的环境变量：FLAGS_rpc_deadline=3000000、NCCL_IB_DISABLE=1

- 错误信息：
('commit:', '401c03fc20478f5cc067440422fc3a7b306d0e32')
START_CMD is not empty: python3 t

[2019-07-17 14:43] weiexcelpro commented on #18662
您说的很对, 刚才已经修复了.

[2019-07-17 15:00] guru4elephant commented on #18319
it works now @vincentXiyu @kkkkkkkk94

[2019-07-17 15:00] #18319 closed, assigned to mapingshuo, guru4elephant

[2019-07-18 02:23] sandyhouse commented on #18677
参考https://github.com/PaddlePaddle/Paddle/issues/16216，请查看IP地址是否正确，端口是否被占用。

[2019-07-18 03:20] TomorrowIsAnOtherDay opened #18679 "pyreader使用问题"
在pyreader中，我的generator以batch的方式yield出来的，这种情况下怎么处理呢？

我看文档里面只有生成一条样本然后调用函数`decorate_batch_generator`来提供batch的数据的。

[2019-07-18 03:49] dancingpipi commented on #18586
mark下，同样遇到这个问题。。我还以为是我的tensorRT有问题。
添加:
virtual ~IPluginFactory(){}
virtual ~IGpuAllocator() {}

[2019-07-18 03:58] Meiyim commented on #18679
pyreader有3个decorate*  函数，确保找到你想用的方法

[2019-07-18 04:28] TomorrowIsAnOtherDay commented on #18679
看了源代码才找到，文档里面怎么没有提示这个，希望能修一下文档@Paddle同学
https://github.com/PaddlePaddle/Paddle/blob/41ab76e55baad03af2e57a160137b555b366812e/python/paddle/fluid/reader.py#L619

[2019-07-18 06:13] dancingpipi opened #18680 "fluid1.4 inference使用tensorrt找不到libnvinfer.so"
系统：centos 7.5
gcc : 4.8.5
fluid版本：1.4

首先在官网上下载了TensorRT4.0的tar包，解压。
然后clone fluid1.4的源码，编译fluid1.4 inference库。

可以看到tensorrt是已经有了的。
![image](https://user-images.githubusercontent.com/20511825/61433363-abc33980-a965-11e9-821d-c992e890d707.png)

但是执行自己程序时，就报错：
![image](https://user-images.githubusercontent.com/20511825/61433419-c9909e80-a965-11e9-91c1-7e3357ae38e3.png)

LD_LIBRARY_PATH已经添加了：
![imag

[2019-07-18 07:06] SunChao3555 opened #18682 "EnforceNotMet: LoDTensorBlockingQueueHolder::InitOnce() can only be called once at [/paddle/paddle/fluid/operators/reader/lod_tensor_blocking_queue.h:73]"
- 版本、环境信息：
    GPU:v100
显存:16GB
CPU:8
RAM:32GB
环境配置:
Python版本:python 3.5
框架版本:PaddlePaddle-v1.4.1
- 训练信息
    1）单机，单卡
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
运行aistudio 课程9-深度学习进阶CV-目标检测 https://aistudio.baidu.com/aistudio/projectdetail/78972 项目，使用paddleCV/ssd进行coco数据集训练报错：

**错误如下：**
---------------------------------------------------------------------------EnforceNotMet

[2019-07-18 07:56] #18682 closed, assigned to nobody

[2019-07-18 07:56] MRXLT commented on #18660
感谢您的反馈，我们会跟进的

[2019-07-18 07:56] MRXLT commented on #18661
感谢您的反馈，我们会跟进的

[2019-07-18 07:57] MRXLT commented on #18666
重复issue将进行关闭，问题讨论可以在
https://github.com/PaddlePaddle/Paddle/issues/18667

[2019-07-18 07:57] #18666 closed, assigned to nobody

[2019-07-18 09:20] #18668 closed, assigned to nobody

[2019-07-18 09:32] #16717 closed, assigned to nobody

[2019-07-18 09:32] #16842 closed, assigned to gongweibao

[2019-07-18 09:33] #15644 closed, assigned to panyx0718, chengduoZH, sneaxiy

[2019-07-18 09:33] #17121 closed, assigned to chengduoZH

[2019-07-18 09:33] #15441 closed, assigned to chengduoZH

[2019-07-18 09:34] #15021 closed, assigned to Yancey0623, gongweibao, typhoonzero

[2019-07-18 09:34] #14587 closed, assigned to gongweibao

[2019-07-18 09:34] #14313 closed, assigned to gongweibao

[2019-07-18 09:48] jasonlbx13 commented on #18619
paddlepaddle默认预占用92%的显存
建议在运行程序前
在shell中进行如下配置:
export FLAGS_eager_delete_tensor_gb=0.0
export FLAGS_fast_eager_deletion_mode=1
export FLAGS_sync_nccl_allreduce=1
export FLAGS_selected_gpus=0        # which GPU to use
export CUDA_VISIBLE_DEVICES=0
export FLAGS_fraction_of_gpu_memory_to_use=0.5

[2019-07-18 09:55] jasonlbx13 commented on #17977
出现了同样的错误,已解决
目前paddlepaddle尚不支持在conda自环境中进行安装
需要在base环境下使用pip3安装paddlepaddle,并安装cudnn(cudnn要从网上下载安装包,不能使用conda安装)
之后在基础环境下进行测试即可发现check不再报错

[2019-07-18 10:44] OliverLPH commented on #18680
是做C++预测吗？那还需要再把 tensorrt的库文件跟预测代码联编一下

[2019-07-18 11:00] zhhsplendid commented on #18679
Hi, decorate_batch_generator是有文档的，链接在这

https://paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/io_cn.html#decorate_sample_generator

抱歉，可能文档没让您容易找到，我们后面想办法优化文档。

[2019-07-18 11:00] #18679 closed, assigned to nobody

[2019-07-18 18:27] #18680 closed, assigned to nobody

[2019-07-18 18:46] dancingpipi opened #18689 "使用c++接口的多线程，报segment fault"
[code]
报这个错误：
![image](https://user-images.githubusercontent.com/20511825/61483313-25dbd880-a9cf-11e9-82f3-40a0c1679151.png)

这是什么原因啊，无论是CPU还是GPU都不行。
当multi_threads值为1时，可以正常预测

[2019-07-19 02:12] sucuicong opened #18691 "Paddle github上model里的所有NLP模型的代码的run.sh文件里，export CUDA_VISIBLE_DEVICES=3，这行代码指定了可见GPU的编号，在自己的GPU环境下训练需要修改该行代码，不然会报错提示无法找到GPU。"
Paddle github上model里的所有NLP模型的代码的run.sh文件里，export CUDA_VISIBLE_DEVICES=3，这行代码指定了可见GPU的编号，在自己的GPU环境下训练需要修改该行代码，不然会报错提示无法找到GPU。

[2019-07-19 02:40] Superjomn commented on #18689
确认下，Clone 是线程不安全的，比如在多线程启动前，predictors单线程创建完毕。

另外，把 core 的信息打出来看下，不排除内存啥是否超了

[2019-07-19 02:41] Shixiaowei02 commented on #18689
@z13974509906 请把完整的代码发出来，说明依赖的 Paddle 版本，我们复现一下这个问题。

[2019-07-19 03:21] Shixiaowei02 commented on #18689
非常抱歉，我们的文档给您带来了困扰。我们会尽快修复错误的使用示例。谢谢！

[2019-07-19 03:28] frogcjn opened #18692 "安装错误：PaddlePaddle 在 Windows 安装出现 Import Error: DLL not found: from ._sparetools import (csr_tocsc, csr_robsr, csr_count_blocks"
用户使用发现的问题

- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU：Intel Core i7-2670QM CPU @ 2.20 GHz
    3）GPU：安装CPU版本，没有使用GPU
    4）系统环境：Windows 10 家庭版，Python 使用官方安装包下载的Python 3.7.4（64位）
- 安装方式信息：
1）pip安装：pip install paddlepaddle

check的时候
import scipy.sparetools 会直接报错

直接使用Python的时候
import scipy.sparetools 也会报同样错误

![image](https://user-images.githubusercontent.com/1777562/61507198-60696380-aa17-11e9-

[2019-07-19 03:38] Shixiaowei02 commented on #18689
问题解决，请参考 https://github.com/PaddlePaddle/FluidDoc/pull/1018 ，谢谢！

[2019-07-19 03:38] #18689 closed, assigned to Shixiaowei02

[2019-07-19 04:58] luotao1 commented on #18658
I could run successfully with the latest develop branch on demark model.
please check the md5sum for it.
[code]
command:
[code]

[2019-07-19 07:14] githubutilities opened #18694 "稀疏矩阵乘法求支持"
paddle现阶段的矩阵乘法只能够支持稠密矩阵运算，求支持稀疏矩阵的乘法。

[2019-07-19 08:10] OliverLPH opened #18697 "Paddle官方文档 环境变量FLAGS页面 整理建议"
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：

[1.5版本环境变量FLAGS](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/flags_cn.html) 这个页面里面的环境变量太多了，且分类不太清楚，不熟悉的人用起来非常麻烦。新用户过来一看页面这么多变量就劝退了。

[v2版本参数设置](https://www.paddlepaddle.org.cn/documentation/docs/zh/0.12.0/howto/cmd_para

[2019-07-19 08:27] qingqing01 commented on #18694
@githubutilities 收到需求，感谢关注~

[2019-07-19 08:28] grygielski commented on #18658
@luotao1 it keeps failing for me, md5sums are fine. Could you provide me build command you used?

[2019-07-19 08:34] bingyanghuang opened #18698 "INT8 MKL-DNN performance regression problem"
Paddle develop branch INT8 performance regression problem has not been solved yet. This regression is caused by merged PR #17965 , commit number is 84bb45c054e34f53c290b63d1defd76ac5ab2f94 by @jczaja . Regression data is shown in the following table:
![image](https://user-images.githubusercontent.com/33643817/61521281-717b9a00-aa42-11e9-86db-4dfb8b9b5dec.png)
 Testing command line is `./paddle/flu

[2019-07-19 08:35] bingyanghuang commented on #18698
@wojtuss Please help add label `intel`. @jczaja Please investigate this problem. Thanks

[2019-07-19 08:39] OliverLPH commented on #18572
C++ API预测时，貌似外部环境变量本来就失效了。还没尝试设置 config->fraction_of_gpu_memory_to_use=0.0

[2019-07-19 08:44] xsrobin commented on #18697
多谢反馈，我们会参考您的建议进行优化。

[2019-07-19 08:50] luotao1 commented on #18697
同求优化。

[2019-07-19 08:54] luotao1 commented on #18658
Which mkldnn version do you use?
The build command is in https://github.com/PaddlePaddle/Paddle/issues/18658#issuecomment-513090602

[2019-07-19 09:14] grygielski commented on #18658
I meant cmake command you used to build PaddlePaddle. I just cloned current develop branch so mkldnn version is 0.18

[2019-07-19 09:36] luotao1 commented on #18658
How about give your CMake command at first?

[2019-07-19 09:43] DDDivano opened #18703 "动态图Conv2DTranspose bias_attr, act参数不生效"
https://www.paddlepaddle.org.cn/documentation/docs/en/1.5/api/dygraph.html#conv2dtranspose

data = np.ones(shape=(1, 1, 2, 2), dtype=np.float32)
data = to_variable(data)
conv2dtrans = fluid.dygraph.Conv2DTranspose("conv2dtrans", 1, filter_size=2,
                                                    param_attr=fluid.initializer.ConstantInitializer(value=1),

[2019-07-19 10:00] luotao1 commented on #18658
My cmake command is
[code]
@grygielski

[2019-07-19 10:08] HUSTLX opened #18704 "pytorch的这段代码fluid怎么实现"
![image](https://user-images.githubusercontent.com/12711390/61527867-fde08980-aa4f-11e9-9630-5c36bada2d07.png)
如题，pytorch的这段代码fluid怎么实现，输入input和inst可以认为是大小相同的图像，inst是图像的mask

[2019-07-19 11:16] grygielski commented on #18658
I've been using same command for building. We'll have to take look at it.

[2019-07-19 11:23] jczaja commented on #17654
Executed by #18656 and merged

[2019-07-19 11:23] #17654 closed, assigned to nobody

[2019-07-19 12:17] qingqing01 commented on #18704
@HUSTLX 目前看起来在静态图中，没有直接对应的实现，这段代码是比如插入网络接口中间的吗？ 如果是网络末端，是可以在Python里实现的

[2019-07-19 12:31] sneaxiy opened #18707 "PR #18656 add unnecessary input in leaky_relu_grad op"
PR #18656 adds unnecessary input in leaky_relu_grad op. Grad ops of activation ops would never need forward input `X` and forward output `Out` as their inputs, because `Out` can be always calculated by `X` in backward pass.

This changing would make the existing GPU memory reuse strategy not work. Please fix it asap. @grygielski .

[2019-07-19 12:31] sneaxiy opened #18708 "PR #18656 add unnecessary input in leaky_relu_grad op"
PR #18656 adds unnecessary input in leaky_relu_grad op. Grad ops of activation ops would never need both forward input `X` and forward output `Out` as their inputs, because `Out` can be always calculated by `X` in backward pass.

This changing would make the existing GPU memory optimization strategy not work. Please fix it asap. @grygielski .

related #18707

[2019-07-19 14:46] grygielski commented on #18707
Could you explain to us why this change is causing a problems as it is only empty input label added without any parameters or so? We use it in MKL-DNN backend for hashing forward calculations to reuse it for grad computing. For that we need common factor to identify corresponding forward/backward pairs and we use Output("Out") as forward key part and Input("Out") as grad key part. This is why we n

[2019-07-19 15:09] sneaxiy commented on #18707
@grygielski The memory optimization strategy of Paddle during training relies on graph dependency analysis. If an op has additional unnecessary inputs, the strategy would think that the memory of these inputs cannot be reused or released before running this op. Thus, the additional unnecessary inputs would increase the GPU memory consumption.

[2019-07-19 15:13] sneaxiy commented on #18707
@grygielski If you only need a mapping between forward/backward pair, please use a better way to store this mapping, instead of adding unnecessary inputs in op.

[2019-07-19 15:17] grygielski commented on #18707
Would it be enough for you if we add #ifdef to check for PADDLE_WITH_MKLDNN flag and then based on that add or not additional Input? I guess that will work as long as you don't want to build paddle with both gpu and mkldnn.

[2019-07-19 15:22] sneaxiy commented on #18707
But the GPU whl package we release to users is often compiled with MKL. This method may not work.

[2019-07-19 15:22] sneaxiy commented on #18707
But the GPU whl package we release to users is often compiled with MKL. This method may not work.

[2019-07-19 15:24] luotao1 commented on #18707
Maybe you can use `bool use_mkldnn = ctx.Attr<bool>("use_mkldnn");` to check it runtime?

[2019-07-19 15:25] grygielski commented on #18707
Ok, I will try to work it out during next work week

[2019-07-19 15:33] bingyanghuang commented on #18708
@jczaja Please solve this issue with high priority.

[2019-07-19 15:34] sneaxiy commented on #18707
@grygielski Thanks a lot! We should keep the protobuf description of op consistent in different compiling conditions, so that users can use the saved program either in Paddle compiled with MKL or not. In this way, using `#ifdef PADDLE_WITH_MKLDNN` may not be a good way to solve this problem.

[2019-07-19 15:53] grygielski commented on #18707
I agree with you but i also wanted to keep mkldnn functor and grad_functor as generic as possible. This is why i tried to avoid conditional cases for specific operators as it adds complexity for further mkldnn activation ops support. Hopefully I can find another, common, unique attribute that connects operator and its grad. Such thing will solve all problems for existing and future mkldnn activati

[2019-07-19 17:22] Gaffey opened #18710 "动态图下depthwise conv速度过慢"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）CPU：
    3）GPU：p40，cudnn 7.1
    4）系统环境：python 2.7
- 训练信息
    1）单机，单卡
    2）22G

- 问题描述：
训练带depthwise conv的网络发现速度极慢，测试结果如下（实验中stride=1，kernel_size=3）
[code]

[code]
随着channel加深，feature map减小，depthwise conv的速度越来越慢，理论上depthwise conv计算量应该远小于1x1 的pointwise conv

[2019-07-21 03:45] achao2013 opened #18712 "numpy array multiply tensor"
i have a numpy array "mask" ,  a tensor  involve gradient back propagation. their shape is the same.
 i want to know how to multiply them.
my code is as follows:
cost = fluid.layers.reduce_mean(fluid.layers.abs(label - out)*mask)
it's ok in tensorflow, but it fails in paddle:

  File "/home/work/.jumbo/lib/python2.7/site-packages/paddle/fluid/layers/math_op_patch.py", line 123, in __impl__
    sel

[2019-07-21 04:52] chengduoZH commented on #18712
@achao2013  Can you post the complete code?

[2019-07-21 06:42] zhangqianjin opened #18714 "怎么使用resnet50和ernie模型训练图文相关性模型？"
我想用resnet50处理图片，抽取图片特征；用ernie抽取文本特征，把这两部分特征合并进入全连接层计算相关性，求例子？

[2019-07-21 07:44] chengduoZH commented on #18714
@zhangqianjin 你可以查看Paddle/book中推荐系统章节 ： https://github.com/PaddlePaddle/book/blob/develop/05.recommender_system/README.cn.md

[2019-07-21 08:07] achao2013 commented on #18712
it is modified based on the code of models/image_classification/train.py
@chengduoZH
[code]

[2019-07-21 13:37] chengduoZH commented on #18712
@achao2013
发生错误的地方是这里 `fluid.layers.abs(label - out)*vis_weight`
因为`fluid.layers.abs(label - out)`返回的是一个Variable，目前Variable只能与标量进行加减乘除，所以这里会报错。
另外，对于静态图，一旦计算图构建完成之后，每次迭代时，计算图都是一样的，但是对于每次迭代，batch_size是可以不同的，所以你这种构建模型的方式是有问题的。

[2019-07-21 15:10] achao2013 commented on #18712
我试了下tensor：
vis_mask = imread('data/uv_vis_mask.png')/255.
                weight_mask = imread('data/uv_weight_mask.png')/255.

                vis_weight = np.tile(vis_mask[np.newaxis,np.newaxis, :,:], [batch_size, 3, 1,1])
                fluid.global_scope().var("vis_weight").get_tensor().set(vis_weight, fluid.CPUPlace())
                weight = np.tile(weight_mask[np.newaxis,np.newaxis, :,:]

[2019-07-22 02:11] chengduoZH commented on #18712
@achao2013 你还是把你的完整模型发一下吧。

[2019-07-22 02:20] qingqing01 commented on #18710
@Gaffey  默认conv使用cuDNN的conv，但cuDNN v7.1的group conv的速度较慢，Paddle自身有优化过depthwise conv，需要设置use_cudnn=False。

[2019-07-22 03:25] Gaffey commented on #18710
@qingqing01  在group conv的layer上加了use_cudnn=False，看上去比之前更慢了，请问还需要调整其他配置吗

[2019-07-22 03:56] maosengshulei opened #18716 "fluid mpi训练好的模型 离线预测时 报错Input Y(0)is not initialized"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及

[2019-07-22 04:51] sitongchen opened #18717 "已train好的模型再次加载增量训练的时候报错"
报错日志如下：
psever.log:
get_pserver_program() is deprecated, call get_pserver_programs() to get pserver main and startup in a single call.
Traceback (most recent call last):
  File "train.py", line 670, in <module>
    use_parallel_executor=bool(args.use_parallel_exe)
  File "train.py", line 611, in train
    fluid.io.load_persistables(exe, "./init_model", pserver_prog)
  File "/home/disk1/normandy/ma

[2019-07-22 04:54] qingqing01 commented on #18710
@Gaffey 您是group = 输入channel = 输出channel吗？ 我们MobileNet里都采用的是use_cudnn=False配置的。 能个完整的可测试的代码吗？

[2019-07-22 04:57] guru4elephant commented on #17840
@tz28 可以直接用embedding将多个离散特征放到一个slot里面进行查找，embedding layer可以看做multi-hot的一个超集，当embedding dim为1时，并且参数都为1.0，那么就是multi-hot

[2019-07-22 05:52] kuke commented on #18716
应该是保存inference model的时候保存了某个输入，但预测的时候没有feed，例如说label，请注意检查下

[2019-07-22 05:56] kuke commented on #18717
参数是否重命名过，或者有新增参数？报错原因是初始化参数时有参数找不到

[2019-07-22 06:05] sitongchen commented on #18717
脚本都没有改动过 就是同样的脚本跑出来的output 再重新init增量train报这个错

[2019-07-22 06:05] maosengshulei commented on #18716
我check了存model的代码
`names = [x.name for x in words[:-1]]
            print(names)
            fluid.io.save_inference_model(
                dirname=infer_model_dir, feeded_var_names=names, target_vars=[ctr_predict,dura_predict], executor=executor)`
确实多存了一个label
但是离线infer时feedlist中加入了label也还是报相同的错

[2019-07-22 06:24] kuke commented on #18717
init_model这个文件夹下面有这个参数吗

[2019-07-22 06:27] maosengshulei commented on #18716
而且我之前的另外一个model也是相同的保存方法（也是多存了label），但是离线infer的时候feed_list里不带label这一项，却可以正常infer。

[2019-07-22 06:29] zhaoyang1708 opened #18719 "训练到第一轮就没有输出了，看日志可能是有问题，但不清楚是为什么"
使用mpi训练到第一轮就没有输出了，看日志可能是有问题，但不清楚是为什么。求帮助

Mon Jul 22 10:23:43 2019[1,16]<stdout>:Traceback (most recent call last):
Mon Jul 22 10:23:43 2019[1,16]<stdout>:  File "train.py", line 726, in <module>
Mon Jul 22 10:23:43 2019[1,24]<stdout>:use_parallel_executor=bool(args.use_parallel_exe)
Mon Jul 22 10:23:43 2019[1,14]<stdout>:Traceback (most recent call last):
Mon Jul 22 10:23:43 2019[1,16]<stdout>:

[2019-07-22 07:02] Gaffey commented on #18710
我在hi上联系您

[2019-07-22 07:11] sunhf opened #18721 "安装paddle后，import paddle.fluid出现undefined symbol错误"
错误信息 python2.7/site-packages/paddle/fluid/../libs/libmkldnn.so.0: undefined symbol: cblas_gemm_s8u8s32_pack_get_size

python版本2.7.3
paddle 版本1.5.1 CPU机器

[2019-07-22 07:35] kuke commented on #18719
这个日志没什么信息量，最后部分的输出是什么?

[2019-07-22 07:39] zhaoyang1708 commented on #18719
F0722 15:23:48.747640  3220 grpc_client.cc:408] GetRPC name:[fc1.w_0.block2], ep:[10.182.5.158:62004], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
*** Check failure stack trace: ***
    @     0x7f838e732c0d  google::LogMessage::Fail()
    @     0x7f838e7366bc  google::LogMessage::SendToLog()
    @     0x7f838e732733  google::LogMessage::Flush()
    @

[2019-07-22 08:28] luotao1 commented on #18721
- 请问是什么CPU机器型号呢？`cat /proc/cpuinfo`看下。
- 安装前有先卸载后安装么？
- 请问系统中有多个python环境么？即运行的paddle是在`python2.7/site-packages/paddle/`路径下么？

[2019-07-22 08:40] kuke commented on #18716
需要执行exe.run(fluid.default_startup_program())

[2019-07-22 08:49] sshilei opened #18724 "训练出core"
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  Invoke operator lookup_table error.
Python Callstacks:
  File "/home/map/program/paddlepaddle/bin/incubator/cpu/1.4.1/paddle_release_home/python/lib/python2.7/site-packages/paddle/fluid/framework.py", line 1654, in append_op
    attrs=kwargs.get("attrs", None))
  File "/home/map/program/paddlepaddle/bin/inc

[2019-07-22 09:23] seiriosPlus commented on #18719
可以尝试把infer先去掉， 看一下是不是由于infer时间过长导致超时

[2019-07-22 09:25] zhaoyang1708 commented on #18719
那这个不是训练脚本写错的原因是吧

[2019-07-22 09:36] jczaja commented on #18434
Fixed by #18370

[2019-07-22 09:36] #18434 closed, assigned to jczaja

[2019-07-22 10:06] #18707 closed, assigned to jczaja

[2019-07-22 10:46] #18320 closed, assigned to sneaxiy

[2019-07-22 11:15] seiriosPlus commented on #18719
不是脚本原因， fluid分布式这块机制需要优化

[2019-07-22 11:17] zhaoyang1708 commented on #18719
好的，十分感谢

[2019-07-22 11:24] Rayarrow94 opened #18726 "paddlecloud上传python3后无法使用"
Fluid-v1.5，python3.6.5，CPU集群

mpi集群默认采用python2，自己上传的python3.6，存放于集群thirdparty目录下，before_hook.sh里面source end_hook.sh，end_hook.sh有下面四条命令，设置环境变量：
chmod a+x ./thirdparty/python36/bin/python3
export PATH=./thirdparty/python36/bin:$PATH
export LD_LIBRARY_PATH=./thirdparty/python36/lib:$LD_LIBRARY_PATH
export PYTHONHOME=./thirdparty/python36/

run.mpi.sh执行：
python3 -u train.py --use_parallel_exe 1 --batc

[2019-07-22 12:00] #18724 closed, assigned to nobody

[2019-07-22 12:04] jczaja opened #18729 "[MKL-DNN] Add acquire API reusing for quantize , dequantize & requantize ops"
- Reimplement reusing of quantize and dequantize  to be consistent with Acquire API
- Implement reusing using Acquire API for requantize. This should give speedup for INt8 models like googlenet_int8

[2019-07-22 12:38] sunhf commented on #18721
cpu 信息：
processor       : 0
vendor_id       : GenuineIntel
cpu family      : 6
model           : 45
model name      : Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GHz
stepping        : 7
cpu MHz         : 2001.000
cache size      : 15360 KB
physical id     : 0
siblings        : 6
core id         : 0
cpu cores       : 6
apicid          : 0
initial apicid  : 0
fpu             : yes
fpu_exception   : yes
cpu

[2019-07-22 12:44] luotao1 commented on #18665
我在E5-2620 v3机器上复现如下。

- 直接运行 http://gitlab.baidu.com/zhoubo01/paddle-tensorflow。

|   | TF  | Paddle  |
|---|---|---|
| 速度（iteraion/s）  | 62.98  | 25.23  |
| CPU利用率  |  670% | 109%  |

由于TF的默认CPU利用率是超过Paddle的，所以速度快。Paddle默认`CPU_NUM=1`。

- 如果增大Paddle的CPU利用率，如`export CPU_NUM=6`

|   | TF  | Paddle  |
|---|---|---|
| 速度（iteraion/s）  | 62.98  | 62.69  |
| CPU利用率  |  670% | 404%  |

在Paddle的CPU利用率小于TF的

[2019-07-22 12:47] TomorrowIsAnOtherDay commented on #18665
感谢回复：）
我们这边等明天腾出5117机器之后会根据你的建议，重跑下指标

[2019-07-22 12:58] luotao1 commented on #18665
根据https://www.tensorflow.org/guide/performance/overview#tuning_mkl_for_the_best_performance
![image](https://user-images.githubusercontent.com/6836917/61634084-1f957700-acc3-11e9-99be-9cfd573d0175.png)
可知TF 默认是全部打满的，类似Issue：https://github.com/tensorflow/tensorflow/issues/7521

因此，将TF的CPU利用率也设成1.
[code]
结果如下：

|   | TF  | Paddle  |
|---|---|---|
| 速度（iteraion/s）  | 14.81  | 25.23  |
| CPU利用率  |  10

[2019-07-22 13:40] luotao1 commented on #18721
[code]
这是import出错吧？

这个是默认的python环境么？

[2019-07-22 15:29] jczaja commented on #18698
I found potential problem of performance regression eg. ConvInt8 is not prepared for Multi-threading and reusing stopped to work for int8 convolution. Problem will go away when conv fp32 and conv int8
are unified. Meantime I will prepare fast fix (Wendsday EOD) to restore performance for int8.

[2019-07-22 22:22] YingjingLu opened #18732 "建议添加tf.eye等价功能的层"
如果有现有等同功能请关闭这个问题。谢谢

[2019-07-23 01:30] seiriosPlus commented on #18719
先clouse了，后续优化会关联相应pr过来

[2019-07-23 01:30] #18719 closed, assigned to seiriosPlus

[2019-07-23 01:54] guru4elephant opened #18734 "实现Lookahead Optimizer"
实现Lookahead Optimizer，https://arxiv.org/pdf/1907.08610v1.pdf
并在经典模型resnet32-cifar10上进行验证；后续在文本类任务上进行收敛性验证。

[2019-07-23 02:52] superwj1990 opened #18737 "选择prelu的element模式会出错"
File "**/resnet_arcface_test.py", line 61, in net
    conv = fluid.layers.prelu(conv, mode='element')
  File "**/python/lib/python2.7/site-packages/paddle/fluid/layers/nn.py", line     9044, in prelu
    default_initializer=Constant(1.0))
  File "**/python/lib/python2.7/site-packages/paddle/fluid/layer_helper_base.py",  line 316, in create_parameter
    **attr._to_kwargs(with_initializer=True))

[2019-07-23 03:47] littletomatodonkey opened #18740 "正常训练一段时间后报错 cuda error"
正常训练1000多个minibatch之后，报错
[code]
想问下是什么原因~

[2019-07-23 03:49] littletomatodonkey commented on #18740
这是使用ppdet在训练fpn的任务

[2019-07-23 03:49] #18740 closed, assigned to nobody

[2019-07-23 04:11] sunhf commented on #18721
import paddle成功了，paddle.fluid不成功。是默认的python环境，并且我用conda安装一份也是如此，在其他机器上用conda环境安装就很容易。

[2019-07-23 04:28] luotao1 commented on #18721
你能看下其他环境下还有`libmkldnn.so.0`么？

是说在其他机器上用conda装paddle是成功的？

[2019-07-23 04:32] YingjingLu commented on #18610
请问如何prontop

[2019-07-23 05:15] sunhf commented on #18721
当前这个是cpu机器，其他的是gpu机器，gpu是ok的

[2019-07-23 05:22] #17275 closed, assigned to qingqing01

[2019-07-23 05:44] TomorrowIsAnOtherDay commented on #18665
关于性能问题：
- 添加了CPU的设定之后性能是打平TF的
 `export CPU_NUM=6`
- TF是默认打开多线程的，paddle为什么默认只开了单线程呢？

[2019-07-23 05:47] TomorrowIsAnOtherDay commented on #18665
再次**感谢**@luotao1 协助，对我们的调研帮助太大了。我们之前只能通过并行的优势和其他框架速度打平，现在底层计算框架的性能也优化了，在速度上就可以全方位战胜他们了。
也希望paddle的同学可以认真**考虑下**默认打开多线程计算，从用户的角度而言，我暂时没想到默认开启多CPU运算的坏处。

[2019-07-23 06:15] sitongchen opened #18745 "模型train没有开始就挂掉了，没有发现挂掉的具体原因是啥"
选择fluid版本：1.4.1

训练出core，在train.log中报错如下：
Traceback (most recent call last):
  File "train.py", line 649, in <module>
    use_parallel_executor=bool(args.use_parallel_exe)
  File "train.py", line 620, in train
    train_loop(main_program, trainer_id)
  File "train.py", line 525, in train_loop
    exec_strategy=exec_strategy)
  File "/home/disk1/normandy/maybach/app-user-20190723010551-13209/worksp

[2019-07-23 06:25] gongweibao commented on #18745
paddle没有装成功。
![image](https://user-images.githubusercontent.com/10721757/61687731-b14dc480-ad55-11e9-9740-cde275705cfd.png)

[2019-07-23 06:38] sitongchen commented on #18745
在起任务的 paddlecloud job --job-version "paddle-fluid-v1.4.1"
在before_hook.sh 里写的是
mv ./thirdparty/paddlepaddle-0.0.0-cp27-cp27mu-linux_x86_64.whl.new ./thirdparty/paddlepaddle-0.0.0-cp27-cp27mu-linux_x86_64.whl

../python27-gcc482/bin/python ../python27-gcc482/bin/pip install --upgrade ./thirdparty/paddlepaddle-0.15.0-cp27-cp27mu-linux_x86_64.whl --index-url=http://pip.baidu.com/pypi/simple --trusted

[2019-07-23 06:52] gongweibao commented on #18745
Hi上已经解决。close。

[2019-07-23 06:52] #18745 closed, assigned to nobody

[2019-07-23 07:17] wlxy opened #18747 "求多模型bagging的demo"
RT

[2019-07-23 07:41] kgdev opened #18748 "编译错误 ubuntu 18.04. error: identifier "DmcnIm2colBilinear" is undefined"
- 版本、环境信息：
    1）PaddlePaddle版本：release/1.5
    2）CPU：Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz
    3）GPU：Nvidia GeForce 2070 ，CUDA 10, CUDNN 7
    4）系统环境：Ubuntu 18.04
- 安装方式信息：
2）本地编译
cmake .. -DPY_VERSION=3.6 -DWITH_GPU=OFF -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release

[code]

[2019-07-23 07:59] SunChao3555 opened #18749 "EnforceNotMet: Invoke operator elementwise_add error."
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）aistudio 环境

- 问题描述：
**我使用RetinaNet利用aistudio进行训练时，FPN中的纵向横向拼接出现维度不一致无法对应相加，**
FPN部分代码如下
class FPN(object):
    """
    Feature Pyramid Network, see https://arxiv.org/abs/1612.03144

    Args:
        num_chan (int): number of feature channels
        min_level (int): lowest level of the backbone feature map to use
        max_level (int): highest level of

[2019-07-23 08:20] SunChao3555 commented on #18749
希望能提供一下解决方案，感谢感谢！！

[2019-07-23 08:36] xiegegege opened #18753 "建议官方文档使用docker安装部分添加nvidia-docker run"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：paddle1.5
2）CPU/GPU：cuda9 cudnn7
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：
[使用Docker安装](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/install/install_Docker.html)页面里的构建、进入Docker容器部分只写了docker run，没写使用gpu的话用nvidia-docker run，新手很容易使用docker run进入容器，然后运行程序报CU

[2019-07-23 09:18] parap1uie-s opened #18755 "BUG: fluid.layers.accuracy not work correctly"
**System information**
-PaddlePaddle version: 1.5.1, GPU
-GPU: including CUDA 9.0 /cuDNN 7.6
-OS Platform and Distribution Ubuntu 16.04
-Python version: 3.6.5

fluid.layers.accuracy() gives a wrong answer when model output shape is [bs, 1].

When the binary classification model with fc(size=1) and activated by sigmoid, the accuracy() op will gives a wrong answer:

![image](https://user-images.gith

[2019-07-23 09:31] #18714 closed, assigned to chengduoZH

[2019-07-23 09:50] #18749 closed, assigned to nobody

[2019-07-23 09:52] wlxy commented on #18747
我不是指在train模型的时候bagging,我是指在infer的时候，用两个模型同时对同一个样本打分，然后做bagging

[2019-07-24 02:06] #17336 closed, assigned to nobody

[2019-07-24 02:08] #18712 closed, assigned to chengduoZH

[2019-07-24 02:13] #17267 closed, assigned to nobody

[2019-07-24 02:23] bingyanghuang commented on #17003
@luotao1 Did we have any updates for this issue from your side?

[2019-07-24 02:45] yuanzfy opened #18764 "打印日志发现pyreader输出的seq length变长，请问是怎么实现的？"
我在测试paddlepaddle/ernie，发现pyreader输出的seq是变长的，seq_length是128，但是每个batch的seq length都是动态变化的，请问这个是怎么实现的？
![image](https://user-images.githubusercontent.com/4515954/61761028-05ad7e80-ae00-11e9-9da1-a24ad55e92b5.png)

[2019-07-24 03:07] guoshengCS commented on #18764
128是构建网络时使用的大小，实际运行时是可以动态变化的，运行时会根据实际数据的重新获取，对于变化的seq_length不影响fc等操作，还是可以正常运行的

[2019-07-24 03:19] luotao1 commented on #17003
Our side doesn't have any update now. @bingyanghuang

[2019-07-24 04:03] gongweibao commented on #18737
你用的那个版本？
1.5.1是最新的，只不过prelu反向实现有bug.
主干现在的是可以用的。

[2019-07-24 04:03] #18737 closed, assigned to nobody

[2019-07-24 04:06] gongweibao commented on #18753
非常感谢呀！

[2019-07-24 04:42] #18764 closed, assigned to nobody

[2019-07-24 05:46] Skyeyue commented on #662
请问问题解决了吗？我遇到的问题是sqlite依赖于py2.6，但是我折腾了很久一直无法升级到2.7

[2019-07-24 06:48] DDDivano opened #18774 "动态图API BilinearTensorProduct bias/act 参数不生效"
https://www.paddlepaddle.org.cn/documentation/docs/en/1.5/api/dygraph.html#bilineartensorproduct
输入值均是
data = np.ones(shape=(10, 2), dtype=np.float32)
data = to_variable(data)

act = sigmoid
值应该是 sigmoid（4），但是没有生效
![image](https://user-images.githubusercontent.com/10734244/61771243-e6bfe400-ae21-11e9-98e1-ac72f0ad0b0b.png)

bias = 1 情况
输出值应该是5 ，输出4。
![image](https://user-images.githubusercontent.c

[2019-07-24 07:32] sshilei opened #18778 "fluid1.5 PyReader设置了iterable=True，TypeError: object of type 'generator' has no len()"
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/home/map/program/paddlepaddle/bin/incubator/cpu/1.5.0/paddle_release_home/python/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/home/map/program/paddlepaddle/bin/incubator/cpu/1.5.0/paddle_release_home/python/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **

[2019-07-24 08:07] renhui19931001 opened #18779 "训练过程中出现 paddle.fluid.core.EnforceNotMet: Enforce failed. Expected framework::product(new_dim) / new_dim[0] == framework::product(t->dims()) / t->dims()[0], but received framework::product(new_dim) / new_dim[0]:324 != framework::product(t->dims()) / t->dims()[0]:576."
本地训练resnet50的网络，在训练的时候每个batchsize的image size都不一致，训练过程中会随机位置出现错误，环境如下http://yq01-sys-hic-k40-box-0004.yq01.baidu.com:8388/v1/slurmjobs/39729/workspace

[2019-07-24 08:07] renhui19931001 opened #18780 "训练过程中出现 paddle.fluid.core.EnforceNotMet: Enforce failed. Expected framework::product(new_dim) / new_dim[0] == framework::product(t->dims()) / t->dims()[0], but received framework::product(new_dim) / new_dim[0]:324 != framework::product(t->dims()) / t->dims()[0]:576."
本地训练resnet50的网络，在训练的时候每个batchsize的image size都不一致，训练过程中会随机位置出现错误，环境如下http://yq01-sys-hic-k40-box-0004.yq01.baidu.com:8388/v1/slurmjobs/39729/workspace

[2019-07-24 08:10] renhui19931001 commented on #18780
训练环境paddle 1.3 gpu, k40, p40, v100训练能稳定复现问题
具体的错误代码是:
File "./run_train_scripts/local_train/same_4w5_delf.py", line 58, in <module>
trainmain()
File "./run_train_scripts/local_train/same_4w5_delf.py", line 55, in trainmain
train.main()
File "thirdparty/paddlemodels/deep_local/trainfast_aiflow_local.py", line 347, in main
train_async(args)
File "thirdparty/paddlemodels/deep_local/trainfast_aiflow_l

[2019-07-24 08:11] renhui19931001 commented on #18780
reader:
        """used to train normal softmax """
        reader = create_rawdatareader(settings, which, "./cached/")
        loss_name = settings.loss_name
        batchsize = settings.train_batch_size
        showiter = settings.display_iter_step
        random_max_size = settings.random_max_size
        random_min_size = settings.random_min_size

        if which != "train":
            for i

[2019-07-24 08:11] renhui19931001 commented on #18780
reader:
        """used to train normal softmax """
        reader = create_rawdatareader(settings, which, "./cached/")
        loss_name = settings.loss_name
        batchsize = settings.train_batch_size
        showiter = settings.display_iter_step
        random_max_size = settings.random_max_size
        random_min_size = settings.random_min_size

        if which != "train":
            for i

[2019-07-24 08:30] sshilei commented on #18778
通过， yield SamplePyReader.generate_sample(dataset_instance, line) 生成样本就会报上面的错误，把generate_sample函数展开到调用的地方就没问题

![image](https://user-images.githubusercontent.com/18701471/61777869-4624f080-ae30-11e9-9cb4-a3814ea8ebde.png)

[2019-07-24 08:31] sshilei commented on #18778
辛苦帮忙确认一下原因

[2019-07-24 08:31] bipedalBit opened #18782 "op lookup_table does not have kernel for data_type[::paddle::platform::float16]"
- PaddlePaddle版本：1.5
- CPU
- 系统环境：Ubuntu1604
- Python版本号: 3.7
- 复现信息：把paddle官方的ERNIE模型cast成半精度的版本（加-fp16选项）然后保存inference_model
- 问题描述：
虽然我也不知道哪里用到了lookup_table，请问lookup_table op目前不支持fp16吗？我把paddle官方的ERNIE模型存成半精度的inference_model时报了下面的错：
```op lookup_table does not have kernel for data_type[::paddle::platform::float16]...```

[2019-07-24 08:43] kjkttt commented on #17888
尝试设置wait_port为False
`config = fluid.DistributeTranspilerConfig()
config.wait_port = False
`

[2019-07-24 08:46] Cristhine opened #18783 "ValueError: Data Type mismatch: 2 to 5"
概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）CPU
    3）GPU：GPU，cuda0.8
    4）系统环境：python2.7
Traceback (most recent call last):
  File "train.py", line 198, in <module>
    train()
  File "train.py", line 46, in train
    model.build_model()
  File "/home/*/code/yolov3_drive/models/yolov3.py", line 222, in build_model
    combine_lbls = fluid.layers.concat(input=[s

[2019-07-24 08:50] #15283 closed, assigned to nobody

[2019-07-24 09:11] guoshengCS commented on #18782
这个目前不支持，可能也不是特别有必要，lookup_table作为查表操作可能fp16收益不大

[2019-07-24 09:15] #18782 closed, assigned to nobody

[2019-07-24 09:18] jiaqianjing opened #18785 "本地安装 1.5.1 whl 包 报错（Pillow：The headers or library files could not be found for jpeg）"
本地安装 1.5.1 whl 包，报如下错误：
![image](https://user-images.githubusercontent.com/16071449/61781610-41b00600-ae37-11e9-8b50-9e1bd6107ce9.png)

![image](https://user-images.githubusercontent.com/16071449/61781411-debe6f00-ae36-11e9-9109-c9eb2c46085e.png)
whl 链接：
https://paddle-wheel.bj.bcebos.com/1.5.1-cpu-mkl/paddlepaddle-1.5.1-cp27-cp27mu-linux_x86_64.whl

[2019-07-24 09:20] QsJack opened #18786 "tensorRT子图预测在高并发的时候，相比原生 paddle 预测速度下降很多"
RT

[2019-07-24 09:20] QsJack opened #18787 "tensorRT子图预测在高并发的时候，相比原生 paddle 预测速度下降很多"
RT

单并发执行没问题，但是并发数上来后，tensorRT 子图预测的速度下降非常多。主干网络是 resnet50，任务是检测。

从测试的 qps 上来看，6个并发，tensorRT的 qps=1.1+，原始 fluid 的预测 qps=3+。

[2019-07-24 09:21] #18753 closed, assigned to xsrobin

[2019-07-24 09:32] grygielski opened #18788 "[MKL-DNN] Add Leaky-relu support and conv+leaky_relu fuse pass"
Add LeakyReLU mkldnn support and Conv+LeakyReLU mkldnn pass to improve performance of Face model. This is reopening of #17654 due to PR reversion.

Scope of task:
1. Add mkl-dnn leaky_relu support
2. Add Pass: conv + leaky_relu -> conv_leaky_relu_mkldnn_fuse_pass

[2019-07-24 09:39] guoshengCS commented on #18785
麻烦先试下手动单独安装下Pillow吧

[2019-07-24 09:42] grygielski commented on #18788
I created PR that adds leaky_relu mkldnn support but uses additional attribute added to activation op grad (pointer to corresponding forward activation op): https://github.com/PaddlePaddle/Paddle/pull/18762. Let me know if you accept this universal solution. If not I will just add conditional cases to check for specific operators whose grads takes only X as input. This solution does not add any mo

[2019-07-24 09:43] grygielski commented on #18788
#18762

[2019-07-24 10:16] guoshengCS commented on #18780
这个报错的原因是fetch的时候多卡的内容没办法merge起来，请问fetch的内容中有各个卡上除了batch_size以外的维度shape不一样的吗

[2019-07-24 10:40] guoshengCS commented on #18778
` 通过， yield SamplePyReader.generate_sample(dataset_instance, line) 生成样本就会报上面的错误，把generate_sample函数展开到调用的地方就没问题`
这两个是有差别的，红框中那行调用`SampleReader.generate_sample(dataset_instance, line)`是一个generator，这个应该不是期望的，期望的应该是yield数据，就像展开到调用的地方那种

[2019-07-24 10:42] luotao1 commented on #18788
I agree with `Adding attributes seems too strange` from @sneaxiy  in https://github.com/PaddlePaddle/Paddle/pull/18762#pullrequestreview-265794216.

Could you easily describe how to do this check? And `more complicated development` will add a lot of codes?

@jczaja How do you see about it?

[2019-07-24 10:47] JiabinYang commented on #18748
您的gcc版本是多少

[2019-07-24 10:58] kgdev commented on #18748
7.4.0

把DmcnIm2colBilinear 往前挪一下 可以修掉这个error

[2019-07-24 11:23] grygielski commented on #18788
To solve this issue for now I would just use something like this in eltwise_forward() and similar one in eltwise_grad() in activation_mkldnn_op.cc
[code]
In spite of it fixes things for now, it requires from developer who will implement further mkldnn operators to know exactly what it is dependent on and put its name in there what makes whole thing kinda hardcoded instead of generic. But the bigge

[2019-07-24 11:29] #18778 closed, assigned to nobody

[2019-07-24 11:32] jczaja commented on #17655
Once we have leaky relu , execution of this issue (fuses for conv_transpose) will speed up Face Model eg. conv_transpose + batch_norm , conv_transpose+leky_relu etc.

[2019-07-24 11:48] jczaja commented on #18788
@luotao1 If possible I would like to try approach describe by @grygielski  eg. Add additional input to grad based on the fact if this op (or paddle instance)  is to be executed using GPU or MKL-DNN. I assume that we do not support mixed execution of model eg. some ops on GPU some ops on MKL-DNN. So if possible in grad maker we check for use_mkldnn==True , if this is not possible then
We perhaps we

[2019-07-24 12:00] seiriosPlus commented on #17900
fixed by #18606

[2019-07-24 12:00] #17900 closed, assigned to jacquesqiao

[2019-07-24 12:44] JiabinYang commented on #18748
是的

[2019-07-24 12:54] liangpj opened #18792 "在PSERVER 下使用l2正则会导致 grpc error"
使用 L2正则的时候在分布式环境下训练会导致 grbc error， 如果将节点数设置为1将会没有问题。
![image](https://user-images.githubusercontent.com/11581801/61795057-22c06c80-ae55-11e9-945e-c4d6c8a6144d.png)
错误信息
![image](https://user-images.githubusercontent.com/11581801/61795097-2fdd5b80-ae55-11e9-896c-8ac528057637.png)
如果将regularization参数去掉可以正常运行。

[2019-07-24 13:31] kgdev commented on #18748
你们修一下吗

[2019-07-24 13:34] baiyfbupt commented on #18748
@kgdev 这个问题我们会尽快在develop分支中修复，感谢反馈

[2019-07-24 14:11] jiaqianjing commented on #18785
好，但是这样 whl 岂不是没有意义，还要手动安装 pillow 才能安装 paddle 的 whl 包

[2019-07-24 17:52] YingjingLu opened #18794 "gaussian_random 没有GradOpMaker无法反向"
版本paddle 1.5 CUDA 97

复现代码：https://github.com/YingjingLu/Paddle-Issues/blob/master/Issue2.py
去掉gaussian_normal可以正确反向
[code]

[2019-07-25 01:43] wanghaoshuang opened #18796 "PSERVER 模式下l2正则触发grpc error"
来自用户反馈：
分布式训练在 PSERVER 模式下使用 l2正则会出现  status:[-1] meets grpc error, error_code:14 error_message:Socket closed error_details:
*** Check failure stack trace: ***  这个错误。

稳定复现两次，只要把 l2正则给去了就好了。

[2019-07-25 02:10] wanghaoshuang opened #18797 "Change args of optimizer in training"
[code]

[2019-07-25 02:29] jiaqianjing commented on #18785
yum install -y zlib-devel libjpeg-turbo-devel && \
    pip install Pillow
解决安装 Pillow 失败的问题

[2019-07-25 02:29] #18785 closed, assigned to nobody

[2019-07-25 02:34] NHZlX commented on #18787
问题我这边先记录一下，稍后会进行复现。

[2019-07-25 02:55] wanghaoshuang commented on #18792
#18796

[2019-07-25 03:01] tianjie491 opened #18798 "使用with_inference_optimize时报错"
- 版本、环境信息：paddlepaddle1.5.0
    1）PaddlePaddle版本：paddlepaddle1.5.0
    2）CPU：i5-7500_CPU_@_3.40GHz
    3）GPU：v100
    4）系统环境：win10，Python版本：3.5
-预测信息
用CPU或GPU进行预测，使用with_inference_optimize时都会报错，去除下面的代码段则正常
        prog_file = "{}/__model__".format(args.init_checkpoints_type + "/inference_model")
        params_file = "{}/__params__".format(args.init_checkpoints_type + "/inference_model")
        c

[2019-07-25 03:18] DDDivano opened #18799 "learningRateDecay无法取到lr值，因为是局部变量"
![image](https://user-images.githubusercontent.com/10734244/61843264-a4ec7780-aecd-11e9-89f1-41ab2e87a16c.png)
直接取_learning_rate.numpy()会调用call方法导致衰减计数不准。
![image](https://user-images.githubusercontent.com/10734244/61843337-d2d1bc00-aecd-11e9-8d3d-ccebc9bb1642.png)

[2019-07-25 03:19] seiriosPlus commented on #18792
请提供一下复现代码，感谢

[2019-07-25 03:25] kjkttt opened #18801 "nccl2文档错误"
1. 多进程训练文档错误
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/training/cluster_howto.html
![image](https://user-images.githubusercontent.com/53156455/61843494-758a3a80-aece-11e9-829f-b52509866e8b.png)

2. transpile参数错误
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/fluid_cn.html#distributetranspiler
![image](https://user-images.githubusercontent.com/531

[2019-07-25 03:36] minhozhou opened #18802 "fluid 支持稀疏输入吗"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU/GPU：CPU
    3）系统环境：Centos
    4）Python版本号：2.7

- 问题
fluid1.4.1支持稀疏输入以及fc的稀疏更新吗，v2版本里面是支持的类似于下面这个代码。
[code]

[2019-07-25 03:43] zhaoyuchen2018 opened #18803 "StaticRNN中recurrent op梯度没有正确传递"
使用下面的test case测试StaticRNN，发现w1的梯度没有正确的传递出去。

import sys
import io
import numpy as np

import paddle
import paddle.fluid as fluid
import paddle.fluid.core as core
import paddle.fluid.framework as framework
from paddle.fluid.executor import Executor

import paddle.fluid.layers as layers
from paddle.fluid.layers.control_flow import StaticRNN

batch_size = 1
seq_len = 1
hidden_size = 10

x = layers.da

[2019-07-25 03:53] Dabulv opened #18804 "1.5.0.post87-gpu scatter 函数 overwrite=False，没有累加 input 的值"
**input:**
[[1. 2. 3.]
 [4. 5. 6.]
 [7. 8. 9.]]

**index:**
[0 0 0]

**updates:**
[[11. 12. 13.]
 [14. 15. 16.]
 [17. 18. 19.]]

**用法**
paddle.fluid.layers.scatter(input, index, updates, overwrite=False)

**output:**
[[42. 45. 48.]
 [ 4.  5.  6.]
 [ 7.  8.  9.]]

**问题 1**
output[1] 和 output[2] 都保留了 input[1] 和 input[2] 的值，但是 output[0] 却是 updates[0] + updates[1] + updates[2]，没有加 input[0]。

**问题2**
i

[2019-07-25 04:10] wawltor commented on #18804
嗯嗯 是有这个问题的，我这边会尽快修复。

[2019-07-25 04:16] Dabulv commented on #18804
修复是两个问题都修复还是修复某一个问题？

[2019-07-25 04:20] #18254 closed, assigned to luotao1

[2019-07-25 04:21] kgdev opened #18805 "编译错误 mkldnn/mul_mkldnn_op.cc:84:5"
/home/kgdev/Paddle/paddle/fluid/operators/mkldnn/mul_mkldnn_op.cc:84:5: error: operation on ‘dst_fmt’ may be undefined [-Werror=sequence-point]

dst_fmt != (dst_fmt = memory::format::ncdhw)) should it be src_fmt != (dst_fmt = memory::format::ncdhw)) ???

[2019-07-25 04:31] renhui19931001 commented on #18780
应该没有吧，主要是多个训练任务都出现这个问题，后来我把size改成固定224了，还是报这个问题，我贴上我后面的处理代码:
    def net(self, input):
        input.stop_gradient = True

        #add param in feature reduce
        if self.fea_reduce == 0:
            feature = self.conv_bn_layer(input, self.mid_len, 1, name="delf_conv1")
        elif self.fea_reduce == 1:
            # add multi down
            feature_st1 = conv_reduce(input, "delf_down_r1"

[2019-07-25 04:33] renhui19931001 commented on #18780
单scale训练报错的日志为：http://yq01-sys-hic-k40-box-0004.yq01.baidu.com:8388/v1/slurmjobs/41217/workspace
http://yq01-sys-hic-k40-box-0022.yq01.baidu.com:8388/v1/slurmjobs/41212/workspace

paddle环境 gpu 1.3, 在p40, k40, v100上都随机出现，可能有时候训练完了都不挂，大部分会随机挂掉

[2019-07-25 05:08] wanghaoshuang commented on #18794
https://github.com/YingjingLu/Paddle-Issues/blob/master/Issue2.py#L407

[code]

你这里的flatten.shape是不需要梯度的，所以不需要对gaussian_random计算反向，可以改写如下：

[code]

[2019-07-25 05:17] wanghaoshuang commented on #18802
支持的，可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/io_cn.html#data

将type设置为：VarType.SELECTED_ROWS

稍后给你贴个例子。

[2019-07-25 05:20] jinyuKING commented on #18618
遇到同样的报错信息，请问你的问题解决了吗？

[2019-07-25 05:29] wanghaoshuang commented on #18802
@seiriosPlus

[2019-07-25 05:33] minhozhou commented on #18802
好的，谢谢，我就是想用稀疏输入的方式实现一个LR模型，输入是大量的离散型特征(如id、tags这些)

[2019-07-25 05:39] Superjomn commented on #18798
@fc500110 帮看下吧

[2019-07-25 05:40] luotao1 commented on #18805
请问能提供更详细的信息么
1. 源码编译的commitid 或版本号？
2. 查看下mkldnn版本号：
[code]
这是目前develop分支对应的：`commit aef88b7c233f48f8b945da310f1b973da31ad033 (HEAD, tag: v0.20.1, origin/rls-v0.20)`

[2019-07-25 05:43] luotao1 commented on #18805
麻烦再提供以下信息：
- gcc 版本号多少
- 是使用什么镜像编译呢？
- cmake命令是什么？

[2019-07-25 05:45] seiriosPlus commented on #18802
参考model下的ctr模型， 里面有dnn/deepFM等。

https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/ctr

[2019-07-25 05:46] fc500110 commented on #18798
是在做预测吗

[2019-07-25 05:49] tianjie491 commented on #18798
@fc500110
是的，模型已经训练完了。预测时耗时太长，想通过with_inference_optimize优化下，但是一直实现不了。

[2019-07-25 05:55] guoshengCS commented on #18780
看了下给的链接，那个报错确实是因为fetch的时候多卡的内容没办法merge，如果出现的频率很高的话，可否试下run的时候不进行fetch看是否会有问题。
另外可否说下fetch的具体内容有哪些呢，都是什么shape的呢

[2019-07-25 06:04] renhui19931001 commented on #18780
fetch的内容有train_fetch_list = [global_lr.name, train_cost.name, train_acc1.name, train_acc5.name, score.name]，最后一个是featuremap,在训练空间中./thirdparty/paddlemodels/deep_local/trainfast_aiflow_local.py

[2019-07-25 06:07] renhui19931001 commented on #18780
是不是最后的featuremap score（1, 64, size, size）的内容在训练的过程中不能fetch出来呢

[2019-07-25 06:08] achao2013 commented on #18797
我在训练一个epoch后添加代码：
        if pass_id in [2,4,6]:
            rate = math.pow(0.1, pass_id/2)
            print('rate:',rate)
            train_program = train_prog.clone()
            with fluid.program_guard(main_program=train_program):
                loss = train_program.global_block().var(train_cost.name)
                optimizer = fluid.optimizer.Adam(learning_rate=params["lr"]*rate)

[2019-07-25 06:11] guoshengCS commented on #18780
如果每个batchsize的image size都不一致，因为每张卡上都对应了一个batch的数据（使用pyreader的话会是这种情况），那每张卡上的featuremap是否会大小不同呢，这样的话确实没办法fetch，如果要fetch这个`featuremap score（1, 64, size, size)`需要保证每张卡上的size都是相同的。可以试下先不fetch这个featuremap看下

[2019-07-25 06:14] minhozhou commented on #18802
看了一下是用embedding的权重来作为LR模型W是吧，请问下面这样等价于LR吗？
[code]

[2019-07-25 06:15] renhui19931001 commented on #18780
我实现的时候，reader里面，利用了keep_order=True，保证整体顺序，然后再每个batchsize的图片内size一致，但是每个batchsize训练不一致
def createreader(settings, which):
    def normal_reader():
        """used to train normal softmax """
        reader = create_rawdatareader(settings, which, "./cached/")
        loss_name = settings.loss_name
        batchsize = settings.train_batch_size
        showiter = settings.display_iter_step
        ran

[2019-07-25 06:21] guoshengCS commented on #18780
如果你的reader产生的是一张卡上的数据，那八卡训练你会产生八次数据，要看下这八份数据的image size是否一样

[2019-07-25 06:55] renhui19931001 commented on #18780
八分数据的image size是一样的，不然启动训练都起不了，我训练分类过程中，设置batchsize是256，平均8卡，每张卡上使用1,32,size,size的feature map，现在问题不在于起不起来，而是在于训练到某个epoch之后，随机可能会挂掉了。

[2019-07-25 07:00] wanghaoshuang commented on #18797
你怎么fetch的lr?

[2019-07-25 07:10] wanghaoshuang commented on #18797
通过以下方式更新下scope中lr variable对应的data试试？
[code]

[2019-07-25 07:11] guoshengCS commented on #18780
麻烦还是先试下不fetch featuremap看下吧，这个是目前定位的问题所在，先验证下是否是这个问题

[2019-07-25 07:13] Cristhine opened #18807 "C++ Callstacks: Enforce failed."
W0725 15:08:35.269969 28685 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 35, Driver API Version: 9.0, Runtime API Version: 8.0
W0725 15:08:35.272292 28685 device_context.cc:267] device: 0, cuDNN Version: 5.0.
W0725 15:08:35.272333 28685 device_context.cc:293] WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.0, but CUDNN version in your machine is 5.0, which may

[2019-07-25 07:16] wanghaoshuang commented on #18807
显存超限
1. 请确认下你用的显卡是否被别人占用了。
2. 确认batch size是否过大

[2019-07-25 07:21] Cristhine commented on #18807
显卡是空的，batch_size为1也是一样的错误

[2019-07-25 07:25] prozhuchen opened #18808 "预测一段时间报错：what(): unspecified launch failure at"
- 版本、环境信息：
    1）PaddlePaddle版本：1.3.1
    2）CPU：
    3）GPU：gpu Tesla P40, cuda9.0 cudnn7
    4）系统环境：centos python2.7

- 问题描述：

使用paddle版本enrie模型预测一段时间后就会报如下错误，看不出来是哪一行的问题，请问是为什么？
[code]

[2019-07-25 07:31] TomorrowIsAnOtherDay opened #18809 "CPU_NUM 设置为10训练一个batch_size = 500的样本报错"
![image](https://user-images.githubusercontent.com/25046619/61854639-1984dd80-aef1-11e9-82be-0aee2829a47c.png)
使用PE的CPU版本进行训练，通过环境变量设置：`export CPU_NUM=10`，训练一个batch_size为500的batch时报错。
如果设置`CPU_NUM = 1`则不会出现问题。
报错信息如上，使用paddle版本为1.5.1

[2019-07-25 07:33] wanghaoshuang commented on #18807
你的显存是多少？log显示可用的只有1G

[2019-07-25 07:34] mzchtx opened #18810 "带 Topk 层的模型使用 TensorRT 预测 Softmax 输出 shape 改变，导致 Topk 校验失败"
# 问题

模型中在 softmax layer 后接了 Topk layer（如下图），使用 TensorRT 子图预测会导致 softmax 的 shape 变化，触发 Topk layer 的校验失败。

![image](https://user-images.githubusercontent.com/37564754/61854246-4258a300-aef0-11e9-9485-a9c0d1095715.png)

错误信息如下图：

![image](https://user-images.githubusercontent.com/37564754/61854353-7af87c80-aef0-11e9-938a-aa9ebe151161.png)

调试发现如果不使用 TensorRT 子图，则 softmax layer 的输出 shape 为[?, 3073]，而

[2019-07-25 07:36] achao2013 commented on #18797
fetch方式见最新image_classfication里面的train.py：
                global_lr = optimizer._global_learning_rate()
                global_lr.persistable=True
                lr_name=optimizer._global_learning_rate().name
                build_program_out.append(global_lr)

我在此获得lr_name全局变量，
修改代码后fetch出来的lr依旧不变
@wanghaoshuang

[2019-07-25 07:52] Gaffey opened #18812 "动态图中调用minimize 如果有op没有反向过 会报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5post97
    3）GPU：cuda 9.0 cudnn 7.1

- 训练信息
    1）单机/单卡

- 复现信息：
一段可复现的简单代码
[code]
- 问题描述：
该代码会报错
[code]
如果注释掉x1则错误消失。猜测原因是x1实际上没有连接到最终的loss上，所以没有进行反向。在minimize中没有判断grad是否为空，所以出现了未初始化的错误。建议**修改错误提示**或者**在minimize时判断该op是否需要update**。在进行网络结构的动态调整时可能会出现类似的需求。

[2019-07-25 07:59] NHZlX commented on #18810
trt的输出都是四个纬度的，这个案例我这边先记录一下，后续会进行调整。

[2019-07-25 08:02] kgdev commented on #18805
就是感觉这一行是写错了. 你们看一下呢

[2019-07-25 08:09] wanghaoshuang commented on #18797
如果只修改lr的话，我issue里说的方法就比较trick。

更好的办法是参考这个链接，实现lr scheduler
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/learning_rate_scheduler.py

[2019-07-25 08:31] wanghaoshuang commented on #18809
你好，麻烦贴下代码？log里提示batch size是1. 训练时，feed的数据真的是batch size为500么？可以通过fluid.layers.Print(intput, summarize=10, message="input")看一下。

[2019-07-25 08:35] wanghaoshuang commented on #18802
embedding的权重不是LR的Weight, 你这段代码不等价于lr

[2019-07-25 08:40] minhozhou commented on #18802
好吧，那有没有对应下面这个代码的fluid实现LR的例子呢？输入特征包括单值离散【user id】、多值离散【tags】
[code]

[2019-07-25 08:43] TomorrowIsAnOtherDay commented on #18809
感谢答复！
我这边发现了问题所在：
在训练的时候我需要传入一个超参数给模型（类似学习率这种性质的参数）
所以我在feed每个batch的时候需要传入一个数值，这就导致了检查不通过呢。

[code]
如果我将后面的两个超参数去掉的话，则可以正常训练。
在这种情况下有什么建议吗？我既想传入超参数，也想使用PE。

[2019-07-25 08:49] luotao1 commented on #18805
@Minghui-Intel @bingyanghuang 帮忙看下？

[2019-07-25 08:53] bingyanghuang commented on #18805
好的，我们来看一下。

[2019-07-25 09:06] Minghui-Intel commented on #18805
PR has been created. #18816

[2019-07-25 09:13] rayliu3798 opened #18818 "迁移学习，加载部分模型参数问题"
想要只加载部分模型参数，然后看到Issue#12428中的这个例子，
[SE_ResNeXt50的例子](https://github.com/oraoto/learn_ml/blob/master/paddle/pretrained.ipynb)

但是里面有一段不能理解：
在函数 network(image, train_base_model=False) 中，
[code]
然后加载参数的时候是加载在这个克隆出来的base_model_program中，
[code]

但是训练的时候是训练的另一个添加了fc层的program。

查了API说clone()是“创建一个新的、相同的Program”，说明这个clone的program应该是一个独立的program。那这个参数是怎么加载到模型里的呢？

[2019-07-25 09:15] sshilei opened #18819 "1.5.1GPU版本训练出core，GPU显存分配问题，调整FLAGS_fraction_of_gpu_memory_to_use不起作用"
调整FLAGS_fraction_of_gpu_memory_to_use不起作用。

不设置FLAGS_fraction_of_gpu_memory_to_use时，报错如下：

W0725 17:02:17.091418 60643 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 9.2, Runtime API Version: 9.0
W0725 17:02:17.096510 60643 device_context.cc:267] device: 0, cuDNN Version: 7.3.
Traceback (most recent call last):
  File "/home/map/rd/wushilei/code/paddle-fram

[2019-07-25 09:17] sshilei commented on #18819
将FLAGS_fraction_of_gpu_memory_to_use调整到很小，已经是0.003，报错如下：
W0725 17:13:25.508072 175955 device_context.cc:259] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 9.2, Runtime API Version: 9.0
W0725 17:13:25.513144 175955 device_context.cc:267] device: 0, cuDNN Version: 7.3.
W0725 17:13:27.698426 175955 system_allocator.cc:121] Cannot malloc 195.801 MB GPU memory. Please shrink FLAGS_fr

[2019-07-25 09:18] tianxin1860 commented on #18808
请问 run 哪个脚本报这个错误？

[2019-07-25 09:20] wanghaoshuang commented on #18819
你用的显卡被其它进程占了吧，log显示可用显存只有几十MB

[2019-07-25 09:24] wanghaoshuang commented on #18819
注意要通过设置环境变量CUDA_VISIBLE_DEVICES指定使用的显卡

[2019-07-25 09:27] sshilei commented on #18819
那为什么调小了也不行呢，另外最少多少显存才能启动paddle呢？

[2019-07-25 09:33] wanghaoshuang commented on #18819
这个取决于模型，但是你这个log明显是显存被其它进程占了，你可以用nvidia-smi命令看下。

[2019-07-25 09:53] gongweibao commented on #18747
现在暂时还没有。有了告诉你。

[2019-07-25 09:57] #18748 closed, assigned to JiabinYang, baiyfbupt

[2019-07-25 10:56] wanghaoshuang commented on #18819
通过设置CUDA_VISIBLE_DEVICES解决了该问题

[2019-07-25 10:56] #18819 closed, assigned to wanghaoshuang

[2019-07-25 11:10] prozhuchen commented on #18808
我自己重写了一下预测的脚本，主要是想询问下这种错误会不会是显卡的问题？因为我换一张卡同样的代码就可以。

[2019-07-25 11:36] dagongji10 commented on #18254
@ddayzzz 请问你解决了这个问题吗？
根据 @luotao1 说的，我移除了`/usr/local/ib64/`里面的库，但是仍然会报错？

[2019-07-25 11:52] wanghaoshuang commented on #18818
program只是网络结构的定义，不包含真实数据。

program_a = program_b.clone()

上述语句相当于对program_b做了deepcopy, 但是program_a和program_b内部variables的名称是一样的。

`load_pretrained_params(exe, program_a)`会去遍历`program_a`中所有Parameter (注：Parameter是Variable的子类)的name，然后将权重文件中的data 加载进来，并放在[fluid.global_scope()](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/executor_cn.html#global-scope)中.
而Scope是一个dict结构，key是variable

[2019-07-25 11:55] renhui19931001 commented on #18780
问题应该解决了，谢啦，起了6个任务5小时无core，应该就是在训练过程中，fetch部分的featuremap在paddle中不支持，不知道算不算bug。

[2019-07-25 11:55] #18780 closed, assigned to nobody

[2019-07-25 12:47] wanghaoshuang commented on #18809
你要传入的超参来自哪儿呢？数据文件？根据当前batch id计算出来的？

- 数据文件： 把超参repeat成[batch_size]
- 根据当前batch计算：可以将超参放入一个Variable中，具体可参考：[lr scheduler](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/learning_rate_scheduler.py)的实现

[2019-07-25 12:52] silingtong123 opened #18822 "运行某些单元测试会卡住,没有报错信息，不方便Debug"
经过测试在paddlepaddle-gpu的1.4.1和1.5.1版本中，运行的单元测试test_mean_op.py,test_mean_op.py会卡住，而且没有任何报错信息
<img width="665" alt="753277d9f2abd933c183bcf43c9ea47f" src="https://user-images.githubusercontent.com/35439432/61875747-eb69c280-af1d-11e9-8e86-f5bce74ab8ac.png">

[2019-07-25 12:57] wanghaoshuang commented on #18822
某些情况下，在运行单测前，设置下CUDA_VISIBLE_DEVICES为单卡，会有明显加速。

[2019-07-25 13:26] TomorrowIsAnOtherDay commented on #18809
了解了，谢谢解答。

[2019-07-25 13:26] #18809 closed, assigned to wanghaoshuang

[2019-07-25 14:08] Rayarrow94 opened #18824 "pyreader返回数据size错误"
GPU训练报错：

Traceback (most recent call last):
  File "train.py", line 734, in <module>
    train(args)
  File "train.py", line 685, in train
    train_exe.run(fetch_list=[])
  File "/home/disk2/chenjian11/tools/python36/lib/python3.6/site-packages/paddle/fluid/parallel_executor.py", line 303, in run
    self.executor.run(fetch_list, fetch_var_name)
paddle.fluid.core.EnforceNotMet: Invoke operator r

[2019-07-25 15:08] NHZlX commented on #18747
您好，可以用python分别获取到每个模型的输出，然后手动的实现bagging的逻辑.

[2019-07-26 02:28] #18805 closed, assigned to luotao1

[2019-07-26 03:15] minhozhou opened #18826 "在infer的时候，metrics.Auc和layers.auc得出的auc值相差10个百分点"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU
    3）系统环境：centos
-预测信息
    1）使用`fluid.io.load_persistables`进行加载预测
- 问题描述：**在infer的时候，metrics.Auc比layers.auc得出的auc值低10个百分点**
1. auc预测代码：
在网络中的auc定义为
```auc_var, batch_auc_var, auc_states = layers.auc(input=fc, label=self.datas[-1])```
[code]
2.Auc预测代码
[code]

[2019-07-26 03:29] Superjomn commented on #18826
意思是预测结果一致吗？

还是只有两种AUC 计算指标不一致？

[2019-07-26 03:51] sshilei opened #18828 "fluid1.5 fleet.init 调用失败"
按照这个wiki写的程序， http://wiki.baidu.com/pages/viewpage.action?pageId=730430867

 import paddle.fluid.incubate.fleet.collective as fleet
fleet.init()

Traceback (most recent call last):
  File "/home/map/rd/wushilei/code/paddle-frame/baidu/mapsearch/paddle-frame/frame/scheduler/../..//frame/core/gpu_dataset_trainer.py", line 33, in <module>
    fleet.init()
AttributeError: 'module' object has no attrib

[2019-07-26 03:54] irukawang commented on #15326
也遇到相同问题，请问如何解决的。

[2019-07-26 04:09] Superjomn commented on #18828
@wangguibao 找同学看下吧

[2019-07-26 04:45] guru4elephant commented on #18828
参考https://github.com/PaddlePaddle/Fleet给出的quick start示例，另外请使用最新的develop，我们会在1.5.2发布一些新feature

[2019-07-26 04:45] sandyhouse commented on #18828
import部分该用下面的语句：
from paddle.fluid.incubate.fleet.collective import fleet
具体可参考：http://wiki.baidu.com/display/PDLPDL/ResNet50+on+ImageNet
@sshilei

[2019-07-26 05:09] Cristhine opened #18829 "Segmentation fault"
代码运行到：exe.run时候不往下运行
print('before run')
            tmp = [v.name for v in fetch_list]
            print("tmp",tmp)
            losses, yolo_losses, smoke_losses, phone_losses, safe_losses, hand_losses, forward_losses, rcnn_cls_loss, rcnn_box_loss, reid_accs = exe.run(compile_program,
                             fetch_list=[v.name for v in fetch_list])
            print('after run ')
然后内部往数据层rea

[2019-07-26 05:14] chengduoZH commented on #18829
@Cristhine  你这是什么模型？用什么版本的paddle跑的？
在`/tmp/`路径下有`paddle.xxx`文件吗？可以贴一下吗？

[2019-07-26 05:17] Cristhine commented on #18829
用的版本是paddle1.5.1 cuda8 在/tmp/下没有paddle.xxx文件

[2019-07-26 05:19] sshilei commented on #18828
谢谢各位。

请问1.5.2的新feature有wiki或者参考文档吗？ develop版从哪里下载？谢谢

[2019-07-26 05:19] sshilei commented on #18828
@guru4elephant

[2019-07-26 05:21] Cristhine commented on #18829
模型的话是一个改进版的yolov3 模型

[2019-07-26 05:33] sshilei commented on #18828
https://github.com/PaddlePaddle/Fleet/blob/develop/examples/quick-start/collective_train.py

[2019-07-26 05:37] sshilei commented on #18828
单机多卡的role_maker应该怎么写呢？wiki上的也不太适合。暂时没有找到。谢谢

[2019-07-26 05:40] sandyhouse commented on #18828
develop版下载路径可参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/install/Tables.html/#ciwhls。
另外你用的哪个版本的paddle @sshilei

[2019-07-26 05:43] sshilei commented on #18828
我用的是fluid 1.5.1     cuda9-cudnn7-mkl
--

[2019-07-26 06:11] minhozhou commented on #18826
预测结果一致，两种AUC计算指标不一致，在下面这段代码进行测试【**预测的时候同一个batch里，用同样的预测值和label去update AUC和直接auc_var返回的值不同，同时，我把preds和label保存到本地用scikitlearn进行预测，发现scikit的结果和metrics.Auc的结果是一致的，和layers.auc不同**】
[code]

这是结果图
![image](https://user-images.githubusercontent.com/46623470/61930011-236d1600-afaf-11e9-8189-8b0f0430321b.png)

[2019-07-26 06:21] Cristhine commented on #18829
辛苦定位问题，最终问题定位在cudnn版本问题，paddle编译使用的cudnn7.0我使用过程中使用了cudnn6.0

[2019-07-26 06:21] #18829 closed, assigned to chengduoZH

[2019-07-26 06:26] fc500110 commented on #18798
建议直接使用[python 预测API](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/python_infer_cn.html)

[2019-07-26 09:04] YingjingLu commented on #18794
我这边是举一个可以复现的例子，所以强行乘了一下，实际适用于Variational Autoencoder训练的时候采样用，项目原因不能公开代码

[2019-07-26 09:05] YingjingLu commented on #18593
已解决。谢谢

[2019-07-26 09:05] #18593 closed, assigned to nobody

[2019-07-26 09:11] sandyhouse commented on #18828
建议通过launch.py 启动多进程模式。

[2019-07-26 09:14] #16644 closed, assigned to nobody

[2019-07-26 09:15] #18435 closed, assigned to nobody

[2019-07-26 09:15] #18569 closed, assigned to nobody

[2019-07-26 09:15] #18427 closed, assigned to shippingwang

[2019-07-26 09:18] yeyupiaoling opened #18837 "请教一些使用问题？"
# 环境
 - PaddlePaddle  dev 版本

# 问题
话不多少，上一个demo，
[code]

错误信息为
[code]

[2019-07-26 09:25] Gaffey opened #18838 "动态图中没有前向的层会因为L2Reg被更新"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle1.5 post97
    3）GPU：cuda 9.0 cudnn 7.1

- 训练信息
    1）单机，单卡

- 复现信息：
一段简单的复现代码
[code]
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

只有第一个batch对conv1进行前向（为了初始化），其他batch只前向conv2，发现conv1一直有梯度；关掉L2Decay之后梯度消失

某些场景下不是很合理，google的文章中提到了这个问题，在做nas的时候需要避免不训练的时候一直reg其他层的情况，可以考虑加个判断开关，不对grad为0的做更新

[2019-07-26 09:28] guoshengCS commented on #18779
与 #18780 重复，这里先行close

[2019-07-26 09:28] #18779 closed, assigned to nobody

[2019-07-26 09:29] airlsyn opened #18839 "能否支持 java 进行 infer"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：1,5,1
2）CPU/GPU：CPU
3）系统环境：Mac OS 10.13
- 复现信息：
- 建议描述：能否支持 java 进行 infer

[2019-07-26 09:35] lidanqing-vv opened #18841 "[MKL-DNN] Clean up group conv transpose implementation in conv_transpose_mkldnn_op.cc"
1. The `conv transpose` with `groups>1` could not pass python UT. Because there are no models using the `group conv transpose` till now, it was not tested.

2. As disscussed with @jczaja  the original implementation is done in 2017 and back then there is no mkldnn reorder provided. Now mkldnn support the reorder and group conv transpose. We should find time to rewrite this part.

3. As there is no

[2019-07-26 10:02] jczaja commented on #17960
#18762 discuss in depth things I wanted to know and lay foundation for future manipulation of inputs for mkl-dnn activations. Hence closing.

[2019-07-26 10:02] #17960 closed, assigned to reyoung, luotao1, tensor-tang

[2019-07-26 10:23] guoshengCS commented on #18783
这个是因为concat的`self.gt_attrib_smoke_labels, self.gt_attrib_phone_labels, self.gt_attrib_safe_labels, self.gt_attrib_hand_labels, self.gt_attrib_forward_labels`这些输入中存在数据类型不同的，还请确认下

[2019-07-26 10:30] jczaja opened #18842 "[MKL-DNN] Replace manually implemented reorder iohw->oihw with mkl-dnn one"
At the time implementing conv_transpose mkl-dnn mkl-dnn did not recognize iohw format hence
custom reorder was implemeted on paddle side. Later on mkl-dnn added iohw format and now we could remove custom reorder.

This is cleanup task. For inference this custom reorder is called only at the beginning.

[2019-07-26 10:32] JiabinYang commented on #18838
1. 如果选择了两个层的话会在对应的轮次更新参数，参数是在init里面确定好的，如果某一轮没使用那个参数，他就不会在当轮被更新
2. 动态图中没有静态图中block的概念，您是指Layer么

[2019-07-26 11:20] wudenggang opened #18845 "Paddle/python/paddle/reader/decorator.py中shuffle函数建议使用numpy.random.shuffle，毕竟numpy使用c实现"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
timeit测试1百万行数据，random.shuffle明显比numpy.random.shuffle慢，建议改进
1）PaddlePaddle版本：1.5
2）CPU/GPU：CPU
3）系统环境：win10 18362.1005

[2019-07-26 11:41] wopeizl opened #18846 "editdistance API文档示例错误"
官网editdisance API输入错误， distances_evaluator 应该为 distance_evaluator

![image](https://user-images.githubusercontent.com/23548796/61949398-5d551100-afdd-11e9-9d7b-2e685a51b76e.png)

[2019-07-26 11:52] Jhon714-cooler opened #18847 "安装失败"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译

[2019-07-26 11:56] Jhon714-cooler commented on #18847
![微信截图_20190726195742](https://user-images.githubusercontent.com/51886349/61950052-59c28980-afdf-11e9-8d56-e11abac4158e.png)
为什么会出现这种情况？

[2019-07-26 11:56] #18847 closed, assigned to nobody

[2019-07-26 12:25] Gaffey commented on #18838
这两个问题我最后搞明白了，现在发现主要就是没使用的参数也会因为L2Decay被更新，感觉不是很合理

[2019-07-26 12:28] ddayzzz commented on #18254
可以, 我把系统自带的 MKL路径从`LD_LIBRARY_PATH`移除，再开一个终端，然后paddle可以加载自己的MKL库，这个库好像在编译的时候会自动下载，应该在 paddle的安装目录下。

[2019-07-26 12:55] grygielski commented on #18788
@luotao1 Could you please check if current commit accelerated face model as old one did? I want to be sure if all works as it should before I post fuse PR. Unfortunately we still didn't manage to run model on our systems.

[2019-07-26 13:48] Yelrose opened #18850 "GPU training with CPU Embedding support"
是否可以有像tensorflow一样的设置训练的流程有一部分在cpu中执行，一部分在gpu中执行。目前embedding可以在内存放的下，但是在显存放不下，除了使用fleet模式，是否有别的办法替代。

[2019-07-26 13:49] Yelrose commented on #18850
paddle文档的 force_init_on_cpu等均无效

[2019-07-26 13:50] kelvict opened #18851 "如何动态获取lod_level=1 shape=[fea_size] data的batch_size，以动态构造一个[batch_size, fea_size]的0矩阵"
如何动态获取lod_level=1 shape=[fea_size] data的batch_size，以动态构造一个[batch_size, fea_size]的0矩阵

[2019-07-26 14:36] luotao1 commented on #18788
I check it, the result almost the same in https://github.com/PaddlePaddle/Paddle/pull/18656#issuecomment-513091523. Thanks very much!

[2019-07-26 15:58] chengduoZH commented on #18809
@TomorrowIsAnOtherDay 可以贴一下你的模型吗？从报错信息上有点奇怪，你上面介绍已经设置了`export CPU_NUM=10`，但是现实的错误还是CPU_NUM为1.

[2019-07-26 17:45] jczaja opened #18852 "[MKL-DNN] upgrade used mkl-dnn to 1.0"
This issue is to track & discuss process of modify integration to mkl-dnn 1.0 usage.

Justification
- Take adventage of bug fixes and new features eg. activations (GELU, SWISH) ongoing support to layer normalization
- Flexible scratchpad controled by user (promise to reduce memory footprint of mkl-dnn workloads)
- to sync with Ngraph which is to use mkl-dnn 1.0 soon

[2019-07-26 18:16] grygielski commented on #18788
Great! I have conv + leaky_relu mkldnn fuse pass almost ready to push. I will do it during next WW. Hopefully it will speed up inference even more.

[2019-07-27 00:57] Superjomn commented on #18851
带 lod 与否 tensor 的 batch_size 应该是不变的，直接获取应该就可以了

[2019-07-27 06:53] xjqbest opened #18855 "参数说明跟实际参数不一致"
# **如下实际并没有这个参数，这种错误很严重啊！**

https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/io_cn.html

![image](https://user-images.githubusercontent.com/12492564/61991097-02272b00-b07e-11e9-8054-47db50b403d0.png)

![image](https://user-images.githubusercontent.com/12492564/61991104-0e12ed00-b07e-11e9-9db0-d1919ee41889.png)

[2019-07-27 07:51] tianjie491 commented on #18798
@fc500110 反馈下使用效果：
1、没用python 预测API时，预测100条数据，用时400s，用了之后用时300s，提升25%，提升还是比较大的。
2、config.enable_tensorrt_engine()打开后会报paddle.fluid.core_avx.EnforceNotMet: Pass tensorrt_subgraph_pass has not been registered at [/paddle/paddle/fluid/framework/ir/pass.h:160]这样的错误config.enable_tensorrt_engine(1 << 20, 1,use_static=False, use_calib_mode=True,precision_mode=fluid.core.AnalysisConfig.Precision.Int8)也是一样

[2019-07-27 07:59] tianjie491 commented on #18798
大佬看看能不能再优化下，最好能在python里完成。

[2019-07-27 07:59] kelvict commented on #18851
下面的demo是利用lod_level=1的tensor **key**来获取一个[batch_size, fea_size]的0 tensor，但我用的是fluid 1.4.1，不能通过变换key来获得[batch_size, fea_size]的tensor，然后再用zeros_like。
下面的程序会报错。
[code]

[code]

[2019-07-27 08:07] Superjomn commented on #18851
@phlrain 是不是需要runtime shape 推导的支持？

[2019-07-27 09:03] Yelrose commented on #17119
请问一下，这里说的速度包括GPU速度的提升吗？还是lazy_adam目前只实现了CPU版

[2019-07-27 09:59] die1100 opened #18858 "能否给出GPU的使用率？"
使用notebook的时候，每次都是运行一个单元格，上一个训练的单元格未训练完成，下个也不能执行，但是需要看下显存和GPU使用率是否充分利用，这个时候如果正在执行训练程序，没法看到GPU的使用率。

[2019-07-27 14:12] kelvict commented on #18851
[code]

[2019-07-27 14:12] #18851 closed, assigned to phlrain

[2019-07-27 15:09] seiriosPlus commented on #17119
lazy_adam目前只有CPU实现

[2019-07-27 16:06] Yelrose commented on #17119
这部分的GPU实现能否支持吗？大Embedding GPU训练对比SGD速度差的太多了，但是收敛速度比SGD要快很多。

[2019-07-28 11:08] kelvict opened #18859 "同一个进程中，执行多个Executor Program、构图，多次inference，他们之间会相互干扰吗？在ut中，一个进程构建多个case每个case构建Program Executor、并构图进行inference，发现只有第一次执行的case才能正确输出，其他case正常输出但输出结果不符合预期。"
同一个进程中，执行多个Executor Program、构图，多次inference，他们之间会相互干扰吗？在ut中，一个进程构建多个case每个case构建Program Executor、并构图进行inference，发现只有第一次执行的case才能正确输出，其他case正常输出但输出结果不符合预期。

[2019-07-28 14:47] fire717 commented on #18829
我也遇到这个问题了 也是自定义模型 但是我是cpu跑的 use_gpu=False  应该和cudnn无关吧 还是报这个错

[2019-07-28 15:46] fire717 opened #18862 "GPU：SeqOnlyAllReduceOps，CPU：Segmentation fault"
AI-STUDIO GPU环境上跑vgg报错：
--------------------------------------------------------------------------------
[code]
——————————————————————————
环境：
GPU:
v100
显存:
16GB
CPU:
8
RAM:
32GB
Python版本:
python 3.5
框架版本:
PaddlePaddle-v1.5.0

同样的代码，用CPU跑：
在exe.run()的时候就报一行错如下
`Segmentation fault: 11
`

[2019-07-28 16:51] TomorrowIsAnOtherDay commented on #18809
实际的使用代码是这里的，我们目前为了避免这个问题，限定了CPU_NUM=1：
https://github.com/PaddlePaddle/PARL/tree/develop/examples/A2C
你可以先尝试用这份代码跑一下看下能否复现问题。
如果没法复现的话请联系我，我会重新写一份更精简的代码来描述当前问题。

[2019-07-29 01:04] yeyupiaoling commented on #18858
@die1100 这是用命令：nvidia-smi  就可以查看了。

[2019-07-29 01:06] yeyupiaoling commented on #18855
是啊，vars这个参数只有fluid.io.save_vars() 才有。

[2019-07-29 01:09] yeyupiaoling commented on #18839
如果要Java的话，可以使用Android的jni接口，具体请查看 https://github.com/PaddlePaddle/paddle-mobile

[2019-07-29 01:24] fire717 commented on #18862
问题解决了，是因为在处理序列转换的时候最后使用了flatten没有用im2sequence。

[2019-07-29 01:24] #18862 closed, assigned to nobody

[2019-07-29 01:51] chengduoZH commented on #18809
收到，谢谢

[2019-07-29 02:16] airlsyn commented on #18839
谢谢，我先试试，有问题再来请教。

[2019-07-29 03:08] OliverLPH commented on #18858
notebook里可以用
[code]

[2019-07-29 03:27] sshilei opened #18866 "单机多卡， lauch多进程， not ready endpoints:['127.0.0.1:6172']"
![image](https://user-images.githubusercontent.com/18701471/62019995-c01ff580-b1f3-11e9-9395-32b55562f1f3.png)

[2019-07-29 03:27] sshilei commented on #18866
训练启动命令：

${fluid_bin} -m paddle.distributed.launch --selected_gpus="1,2,3" ${root_dir}/frame/core/gpu_dataset_trainer.py --conf_file ${config_conf}

[2019-07-29 04:13] saberSabersaber opened #18868 "attention 模型预测库cpu下测试内存增长，gpu下显存增长"
attention 模型预测库cpu下测试内存增长，gpu下显存增长

[2019-07-29 04:35] sandyhouse commented on #18866
--selected_gpus="1,2,3" 应该设置成“0,1,2"

[2019-07-29 04:42] guru4elephant opened #18870 "基于collective operator支持dataset + executor训练多机多卡的示例"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-07-29 07:12] tianyu94 opened #18874 "paddle.fluid.core_avx.EnforceNotMet: Invoke operator edit_distance error."
- 版本、环境信息：
1) paddlepaddle-gpu 1.5.x
2) 百度AI Studio的在线环境（GPU版 V100）

代码来自**场景文字识别**的**OCR Attention**：

https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition

attention model

在运行 `env CUDA_VISIBLE_DEVICES=0 python ./example/train.py --use_gpu=True --skip_test=True --save_model_dir="./models_attention" --model="attention"` 出现错误

[code]

[2019-07-29 07:33] sneaxiy commented on #18868
请您提供完整的复现环境，方便我们排查原因。

[2019-07-29 07:43] #14841 closed, assigned to Xreki

[2019-07-29 07:49] kolinwei opened #18876 "yolov3报错"
![image](https://user-images.githubusercontent.com/22165420/62030772-654cc500-b218-11e9-8c71-21c64a775507.png)

[2019-07-29 07:50] kolinwei commented on #18876
commit a5c986301c1bdea37caba082de14c701df245d69正常
commit 9a8a7a1ddc286b6093ce955573c571d83891cd82 出现问题

[2019-07-29 08:16] luzm3 opened #18877 "对张量取相反数"
<img width="583" alt="image" src="https://user-images.githubusercontent.com/45001329/62032266-d80b6f80-b21b-11e9-8fbb-34022f4999a8.png">
1.在这里我想对CRF得出的loss做reduce_mean操作之后再取个相反数，想知道要怎么做？
2.reduce_mean之后是一个shape为一的loss，如果没有取反的op的话，我需要乘一个等于1的张量，请问这个张量怎么实现？

[2019-07-29 08:17] #18877 closed, assigned to nobody

[2019-07-29 08:21] luzm3 opened #18878 "怎么取相反数"
`
outputs = fluid.layers.dropout(outputs, 0.5)
 emission = fluid.layers.fc(size=num_label, input=outputs)
 crf_cost = fluid.layers.linear_chain_crf(
		input=emission,
		label=tags,
		param_attr=fluid.ParamAttr(name="crfw", ))
 avg_cost = fluid.layers.mean(x=crf_cost)
`
1.在这里我想对CRF得出的loss做reduce_mean操作之后再取个相反数，想知道要怎么做？ 2.reduce_mean之后是一个shape为一的loss，如果没有取反的op的话，我需要乘一个等于-1的张量，请问这个张量怎么实现？

[2019-07-29 08:29] tianyu94 commented on #18874
我再补充下程序部分：

我只修改了 `NUM_CLASSES = 95` 为 `NUM_CLASSES = 3920`

`DATA_SHAPE = [1, 48, 512]` 为 `DATA_SHAPE = [1, 48, 2560]`

数据集换了一下（官方的中文数据集，height和crnn_ctc的默认数据集一样都是48）

train.list的数据我也改成了原先程序需要的数字序列格式（字符映射为数字）

[2019-07-29 08:31] phlrain commented on #18812
不要调用 forward ，调用__call__函数

[2019-07-29 08:31] phlrain commented on #18859
同用户线下解决

[2019-07-29 08:31] #18859 closed, assigned to phlrain

[2019-07-29 08:46] Superjomn commented on #18850
目前应该没法支持。  CPU 模式则占显存，GPU 模式，则所有参数会在 GPU 上放一份

[2019-07-29 08:46] #18850 closed, assigned to nobody

[2019-07-29 08:47] Superjomn commented on #18846
好的，多谢反馈！

[2019-07-29 08:47] #18846 closed, assigned to xsrobin

[2019-07-29 08:50] Superjomn commented on #18839
Paddle 的应该是不支持 java 预测的，mobile 支持.

目前支持 C++ API；计划支持 C API

[2019-07-29 08:50] #18839 closed, assigned to nobody

[2019-07-29 08:54] Superjomn commented on #18837
有更全的 stack 信息吗？

[2019-07-29 09:01] airlsyn commented on #18839
那看样子应该可以通过[javacpp-presets](https://github.com/bytedeco/javacpp-presets)来做个 bind

[2019-07-29 09:27] luzm3 commented on #18878
<img width="470" alt="image" src="https://user-images.githubusercontent.com/45001329/62037206-f1191e00-b225-11e9-8304-c55c54cc0420.png">
第一问已解决，第二问帮忙解决下呗

[2019-07-29 09:32] MrChengmo opened #18880 "在first_trainer进行fleet.save_persistables之后，直接使用fluid.io.load_persistables报错。"
- 标题：在0号Trainer执行fleet.save_persistables后，不关闭进程，直接使用fluid.io.load_persistables报错。
- 版本、环境信息：
    1）PaddlePaddle版本：v1.5.0
    2）CPU：开发机
    3）GPU：无
    4）系统环境：Centos，Python 2.7
- 复现信息：0号Trainer先执行：
`if is_first_trainer:
fleet.save_persistables(executor=exe, dirname=model_path,main_program=fluid.default_main_program())
logger.info("Train Success!")
fleet.stop_worker()`

再执行：
`fluid.io.load_persistab

[2019-07-29 09:32] luzm3 opened #18881 "因为paddle和tf实现模型效果相差较大，因此想了解一下embedding层的矩阵初始化的具体实现"
我最近用paddle和tensorflow分别实现了一下NER模型，超参数据集保持一致，但是paddle却比tensorflow低了4个点，因此想了解一下embedding层和fc层的矩阵初始化方法。

[2019-07-29 09:36] cqu-ls opened #18882 "EnforceNotMet: the provided recursive_sequence_lengths info is invalid"
使用时序数据的时候发现，当样本特征维度是1的时候，可以正常运行。但是特征维度大于1的时候会报错（使用reader_creator 产生随机训练样本），请问应该怎样设置reader_creator（）中输入数据的维度，以及fluid.layers.data中的shape应该怎样设置？假如我要输入到LSTM中的数据：时间步是4，batch是4，样本特征是5，应该如何设置？
import paddle.fluid as fluid
import numpy as np
#import random
import paddle

BATCH_SIZE = 4
MAX_TIME = 2

def reader_creator():
    def reader():
        while True:
            yield np.random.randint(100,size=**

[2019-07-29 10:21] seiriosPlus commented on #18826
[code]

这个set_zero的操作，这么写没有清理掉global_scope中的auc_state, 换成fluid.global_scope().

[2019-07-29 10:59] cqu-ls commented on #18882
已经解决

[2019-07-29 11:17] Gaffey opened #18883 "BUG: cifar data reader开启cycle参数存在死循环且效率低下"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 1.5 post97

- 复现信息：
在使用`paddle.dataset.cifar.train10()`时添加cycle=True参数，程序会卡死，ctrl+c中断发现卡死在reader中
断点调试发现如下
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/7568594/62044377-650ef280-b235-11e9-8fa3-e17c098acdf6.png">
一个epoch迭代结束后，迭代器没有重置，无法继续迭代，程序不停的在while True内空跑。

另外，建议reader进行修改，每次都做extractfile感觉效率太低

[2019-07-29 11:21] sneaxiy commented on #18883
cycle这个参数本身应该就是while True死循环的。如果您想cache数据，您可以尝试用`paddle.reader.cache`把数据cache在内存中。

[2019-07-29 11:24] Gaffey commented on #18883
@sneaxiy 本身死循环不是问题，问题是他没有在取数据

[2019-07-29 11:28] sneaxiy commented on #18883
感谢您的反馈，这应该是个bug。

[2019-07-29 11:37] adaxi123 commented on #18881
@luzm3  随机初始化，可以指定随机分布种类，如果没有指定，默认应该是Xavier

[2019-07-29 11:40] Gaffey commented on #18812
@phlrain  model.forward(img) 改为 model(img) 后，报错没有发生变化

[2019-07-29 11:43] luzm3 opened #18884 "paddle在NER上精度明显低于tensorflow"
![image](https://user-images.githubusercontent.com/45001329/62046168-d3ee4a80-b239-11e9-8269-040ef192c3fe.png)

[2019-07-29 11:46] luzm3 commented on #18884
![image](https://user-images.githubusercontent.com/45001329/62046056-8ffb4580-b239-11e9-84ea-c0053cf72e1c.png)
这是paddle的模型结构

[2019-07-29 12:10] yangninghua opened #18885 "您好，关于CUDNN_STATUS_INTERNAL_ERROR at [/paddle/paddle/fluid/platform/device_context.cc:217]"
您好，paddle1.4.1  python3.6  cuda9.0  cudnn7.5.1可以，
paddle1.5.1  python2.7  cuda9.0 cuddn7.5就不行了
[code]

[2019-07-29 12:20] phlrain commented on #18812
我看下是什么bug导致的

[2019-07-29 12:29] phlrain commented on #18812
你这个是在梯度计算完成之后，正则化出现了bug，我们尽快解决下

[2019-07-29 15:10] Jhon714-cooler opened #18886 "为什么会出现这个问题，帮我看一下（是打完pip3 install paddlepaddle之后）"
/s eta 0:00:08ERROR: Exception:
Traceback (most recent call last):
  File "c:\users\administrator\appdata\local\programs\python\python37\lib\site-p
ackages\pip\_vendor\urllib3\response.py", line 397, in _error_catcher
    yield
  File "c:\users\administrator\appdata\local\programs\python\python37\lib\site-p
ackages\pip\_vendor\urllib3\response.py", line 479, in read
    data = self._fp.read(amt)

[2019-07-29 22:35] wanghaoshuang commented on #18874
log显示您label设置的lod不对，你可以在[这句](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/attention_model.py#L186)之前添加如下语句：

[code]
[Print op](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/control_flow_cn.html#print)
麻烦您将添加上述语句后执行打印的log贴到这里？

[2019-07-30 00:47] yeyupiaoling commented on #18837
@Superjomn
全部错误信息，上面是完整的代码，你可以测试一下
[code]

[2019-07-30 01:23] tianyu94 commented on #18874
[code]

[2019-07-30 01:47] luzm3 commented on #18881
好的，谢谢！

------------------ 原始邮件 ------------------
发件人: "adaxi123"<notifications@github.com>;
发送时间: 2019年7月29日(星期一) 晚上7:38
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "非洲人的美国梦"<2805829069@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 因为paddle和tf实现模型效果相差较大，因此想了解一下embedding层的矩阵初始化的具体实现 (#18881)

@luzm3  随机初始化，可以指定随机分布种类，如果没有指定，默认应该是Xavier

—
You are rec

[2019-07-30 02:11] heavengate commented on #18885
您好，请问报什么错呢，方便把错误信息张贴一下么

[2019-07-30 02:12] heavengate commented on #18886
看报错信息是无法连接到pip源，可以确认一下是不是网络的问题，或者修改一下pip源的配置到你能连接到的pip源

[2019-07-30 02:49] Gaffey commented on #18812
非常感谢！另外之前debug的时候我尝试去掉reg，似乎仍然会出错，错误路径不同
[code]
麻烦您也帮忙看一下吧

[2019-07-30 03:18] fc500110 commented on #18798
2. 编译Python安装包的时候没有打开TensorRT
3. 不影响
4. 显存设置太大，建议enable_use_gpu的时候设置小一些
5. 由于Python API第一次发布，难免会有一些问题，我们会在后续发版和文档中持续优化

[2019-07-30 03:32] luzm3 commented on #18884
![image](https://user-images.githubusercontent.com/45001329/62098609-a64ae500-b2bd-11e9-93e7-2f958e0b77b2.png)

[2019-07-30 03:33] luzm3 commented on #18884
![image](https://user-images.githubusercontent.com/45001329/62098639-cc708500-b2bd-11e9-8717-00f432ac5cd3.png)

[2019-07-30 03:39] luzm3 commented on #18884
上面是tensorflow的模型架构，self.CRF = True，optimizer=Adam(lr=0.001),但是paddle的结果却比tensorflow差4%左右，经过实验发现，paddle在学习率相同的情况下，在该实验中的拟合能力比tensorflow要差很多，下面贴图，想问问大家觉得会是什么原因呢？

[2019-07-30 03:40] luzm3 commented on #18884
下图是在开发集上的评价指标F1的对比
![image](https://user-images.githubusercontent.com/45001329/62098855-c038f780-b2be-11e9-8484-edbdbd8e8c17.png)

[2019-07-30 03:47] luzm3 commented on #18884
环境配置：
GPU:NVIDIA Telsa K80
tensorflow-gpu：1.14
paddlepaddle-gpu:：1.51
实验设置：
1.基于字的Bilstm + CRF

2.字向量均随机初始化为300维

3.前向和后向lstm细胞单元数均为300

4.batch_size为256

4.评价方式为F1

5.训练集45592个句子，验证集5066个句子，测试集4631个句子

[2019-07-30 04:00] heavengate commented on #18884
请排查一下方面：
1. 使用相同的输入相同的权重看网络输出是否一致，确认网络结构对齐
2. 确认其他操作是否一致，optimizer等参数是否一致

[2019-07-30 04:06] dingsiyu opened #18891 "layers.concat() 报错 AttributeError: 'NoneType' object has no attribute 'dtype'"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）CPU/GPU：CUDA 10和cuDNN 7.4
    3）系统环境：centos 6
    4）Python版本号 python3
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

def boolean_mask_(tensor, mask, name="boolean_mask", axis=None):

    mask_int = layers.cast(mask, dtype='int32')
    shape_mask = layers.shape(mask_int)
    ndims_mask = shape_mask.shape[0]
    shape_tensor = layer

[2019-07-30 04:09] heavengate commented on #18891
麻烦贴一下详细报错信息

[2019-07-30 04:16] heavengate commented on #18891
[code]
concat里面`[leading_size]`是个list，`layers.shape(tensor)[axis + ndims_mask:]`是个variable，不能这么concat

[2019-07-30 04:34] dingsiyu commented on #18891
![image](https://user-images.githubusercontent.com/21340925/62100968-4ad12500-b2c6-11e9-83ea-0a91f6fb2c46.png)

[2019-07-30 04:53] Superjomn commented on #18837
![image](https://user-images.githubusercontent.com/328693/62101733-08f5ae00-b2c9-11e9-9091-681ff9ee70a0.png)

看起来，cond 必须返回 bool 型

[2019-07-30 05:07] heavengate commented on #18891
这个不是concat报的错，是reshape报的错，reshape传入的shape应该是python list/tuple，上面没有必要用fluid.layer.shape获取shape，直接tensor.shape获取一个python list型的shape组合就可以了

[2019-07-30 05:08] wojtuss opened #18893 "QAT&INT8 performance improvement"
Currently we have two new QAT trained models of ResNet50 (from Baidu) at our disposal:
I.	with conv2d and mul’s weigths in FP32 full range (Model1),
II.	with conv2d and mul’s weights in FP32 but (fake) quantized (Model2).
Model2 has the advantage that it can be used directly in inference (fake INT8).
Model1 cannot be used directly, it has to be modified first (either weights have to be fake-quanti

[2019-07-30 05:15] LZZhideonbush commented on #18319
fatal error: paddle/fluid/framework/data_feed.pb.h: 没有那个文件或目录
 #include "paddle/fluid/framework/data_feed.pb.h"

[2019-07-30 05:27] dingsiyu commented on #18891
Traceback (most recent call last):
  File "test.py", line 110, in <module>
    c_, res = test_bool()
  File "test.py", line 80, in test_bool
    re = boolean_mask(b_2, c_)
  File "test.py", line 50, in boolean_mask
    layers.concat([leading_size, tensor.shape[axis + ndims_mask:]], 0))
  File "/home/dingsiyu/bin/anaconda3/lib/python3.6/site-packages/paddle/fluid/layers/tensor.py", line 200, in con

[2019-07-30 05:30] wojtuss commented on #18893
The following table collects TOP1 accuracy values (on SKX) for the two models:

  | Original* | After steps 1-3 | After steps 1-4
-- | -- | -- | --
Model1 | 0.7612 | 0.7612 | -
Model2 | 0.7635 | 0.7638 | 0.7614

As Model1 cannot be used directly, the 'Original' accuracy is measured after removing all fake quantize/dequantize operators.

[2019-07-30 05:40] bingyanghuang commented on #18893
@luotao1 @wzzju Here is our plan for QAT and the latest status.

[2019-07-30 06:02] XipengY opened #18898 "网络构建后和预测维度不一致"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.0
    2）GPU：GPU：k40， cuda：9.0 cudnn：7.0
    4）系统环境：centos6.3，Python2.7

- 问题描述：
构建网络时，网络维度：
name: "relu_12.tmp_0"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: -1
      dims: 256
      dims: 48
      dims: 90
    }
    lod_level: 0
  }
}
persistable: false

(Pdb) feat_hi
name: "relu_18.tmp_0"
type {
  type: LOD_TENSOR

[2019-07-30 06:03] heavengate commented on #18891
用`tensor.shape`替换`layers.shape(tensor`得到一个python list类型的shape，然后用python list操作就可以，不需要用concat

[2019-07-30 06:05] heavengate commented on #18898
运行时的维度和你feed数据的维度有关，应该是你feed数据维度不一致导致的

[2019-07-30 06:09] #18891 closed, assigned to nobody

[2019-07-30 06:15] TheodoreG opened #18899 "Mask RCNN batch size大于1 infer问题"
Hi，I use the code in https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/rcnn
to do infer.
My code looks like that:
[code]
But I got following error:
![image](https://user-images.githubusercontent.com/13977118/62105157-2b40f900-b2d4-11e9-90bf-0b55e7ec60b9.png)
It seems when processing `sequence_expand` function in https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/rcnn/models/mo

[2019-07-30 06:24] XipengY commented on #18898
(Pdb) batch_data[0][0].shape
(3, 768, 1440)
feed的数据维度好像没有问题

[2019-07-30 06:43] jerrywgz commented on #18899
在rcnn这个目录下的reader现在只是支持单张图片的infer https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/rcnn/reader.py#L181 这里每次只会返回一张图片，所以batch size大于1的话就会报维度不匹配

[2019-07-30 06:49] jerrywgz commented on #18899
如果batch size大于1，需要对reader做适配，返回一个batch的数据即可

[2019-07-30 06:56] Jhon714-cooler commented on #18886
那怎么修改piP源配置

[2019-07-30 06:57] Jhon714-cooler commented on #18886
@heavengate

[2019-07-30 07:00] heavengate commented on #18886
https://blog.csdn.net/lwgkzl/article/details/80935453  网络上有很多教程都可以参考下~

[2019-07-30 07:28] christianahui opened #18901 "安装paddle报错"
安装时命令为：pip install paddlepaddle-gpu==1.5.0.post97
Python 2.7.14
GPU：00:0d.0 3D controller: NVIDIA Corporation Device 1b38 (rev a1)
cuda：CUDA Version 9.0.176
cudnn：7003
`Looking in indexes: http://pip.baidu.com/pypi/simple
Collecting paddlepaddle-gpu==1.5.0.post97
  Downloading http://pypi.baidu.com/packages/40/37/81e897f785a22b67a5a2aa448a8aaf106b201e85fe605ed29f8870f78a39/paddlepaddle_gpu-1.5.0.p

[2019-07-30 07:31] heavengate commented on #18901
看报错是jpeg相关的lib没有正确安装，pillow安装不上，可以试下
[code]
参考 https://stackoverflow.com/questions/44043906/the-headers-or-library-files-could-not-be-found-for-jpeg-installing-pillow-on

[2019-07-30 07:33] jczaja opened #18902 "[MKL-DNN] Improve performance of hashing Key genration using TID"
As disscussed in #18758 Key generation using TID is quite slow and cost upto ~5 FPS on mobilenet v1 model. This issue is to try to speed it up :
- Limit TID usage if possible
- cache , std::hasher or std::stringstream if possible

[2019-07-30 08:05] qindisky opened #18904 "GPU环境下paddle.reader.multiprocess_reader多进程读取数据显存溢出后，不释放资源"
GPU环境下paddle.reader.multiprocess_reader多进程读取数据显存溢出后，不释放资源
- 版本、环境信息：
    1）PaddlePaddle版本：Paddle 1.5.0, ptyhon 2.7
    3）GPU：V100,  CUDA Version 9.2.148m
    4）AI Studio https://aistudio.baidu.com/aistudio/projectdetail/91696
- 训练信息
    1）单机，单卡
    2）16GB显存，单卡，8 CORECPU、32G内存

- 复现信息：如为报错，请给出复现环境、复现步骤
    1) 在AI Studio https://aistudio.baidu.com/aistudio/projectdetail/91696 fork项目后，开始训练
    2）后台查看

[2019-07-30 08:13] heavengate commented on #18904
您好，确认为多进程reader异常退出时reader子进程没法退出，可以通过命令
[code]
手动kill一下子进程，该问题已记录，我们尽快修复~

[2019-07-30 08:40] sneaxiy commented on #18878
您可以使用`fluid.layers.fill_constant(shape=[1], dtype='float32', value=-1)`来解决第二个问题。

[2019-07-30 08:40] sneaxiy commented on #18878
第一个问题也可以用类似方法解决，fill_constant后跟您的tensor相乘即可。

[2019-07-30 09:00] #18882 closed, assigned to nobody

[2019-07-30 09:01] cqu-ls commented on #18882
已解决

[2019-07-30 09:09] die1100 commented on #18858
先谢谢两位，我知道这个命令，但是我可能提问错地方了。

我是想给百度的aistudio提建议，因为在线的notebook，运行某些代码单元时会长时间的执行，不会执行其他单元格的代码，但是我想看下显存和使用率是否有充分利用，这个时候在其他的单元格内执行 nvidia-smi 是会等待上个单元格执行完成。

如果是自己本地，可以在命令行执行nvidia-smi看显存，线上的感觉好像没地方看。

[2019-07-30 09:09] #18858 closed, assigned to nobody

[2019-07-30 09:17] heavengate commented on #18885
错误原因是 CUDNN_STATUS_INTERNAL_ERROR
请尝试
[code]

https://blog.csdn.net/u014176855/article/details/80994991

[2019-07-30 09:23] nlp4whp commented on #10018
这样只能获取ParamAttr类型参数吧，Variable的值获取不了呀，fc1是Variable类型，可以用fluid.global_scope().find_var(fc1.name).get_tensor()获取参数值么？

[2019-07-30 10:17] sands321 opened #18907 "paddle.dataset.common.download函数末尾有一条sys.stderr.write("\n")，导致训练时打印出一堆回车"
- 版本、环境信息
1）PaddlePaddle版本: 1.5.1
2）CPU/GPU：CPU
3）系统环境：Mac OS 10.14

- 建议描述：paddle.dataset.common.download函数末尾有一条sys.stderr.write("\n")，导致
训练时，日志中莫名其妙输出一堆回车。比如paddle.dataset.uci_housing.train()等执行时日志中就会出现回车。

[2019-07-30 10:28] nlp4whp opened #18909 "如何获取Variable类型(非ParamAttr类型)参数的值？"
我从其他issue中看到了这种方法 (https://github.com/PaddlePaddle/Paddle/issues/10018)
```fluid.global_scope().find_var(var.name).get_tensor()```

但似乎只对ParamAttr类型的变量有效, Variable类型的参数的name是找不到的(返回None)

那比如我创建一个词向量矩阵, 有没有办法可以直接返回它的值呢？
[code]
非常感谢

[2019-07-30 10:58] heavengate commented on #18909
Variable都有name的，你可以直接print(word_embedding),可以看到name

[2019-07-30 10:59] heavengate commented on #18909
或者你直接使用fluid.layers.Print(word_embedding), exe.run之后这个值也会打印出来

[2019-07-30 11:06] nlp4whp commented on #18909
感谢

Variable是有名字的，只是fluid.global_scope().find_var(word_embedding.name)会返回None，所以我猜是scope里找不到变量的name

另外exe.run(fluid.default_startup_program())之后也没有任何显示结果 = = 您了解这种情况么

[2019-07-30 11:13] heavengate commented on #18909
不是exe.run(fluid.default_startup_program()), 而是实际feed数据的那个exe.run,只有网络跑起来之后才会有数据

[2019-07-30 11:17] heavengate commented on #18907
paddle.dataset.common.download  只会在下载数据集的时候会调用到，只会调用到一次，而且这个sys.stderr.write("\n")只用于结束下载的进度条显示，应该不会输出回车的

[2019-07-30 11:23] nlp4whp commented on #18909
多谢我试试看

[2019-07-30 11:58] XipengY commented on #18898
构建网络虽然正常，但是并不能保证构建的是对的，因为不是每一步都检查了正确性。问题在构建网络中参数设置不对，多padding了一次

[2019-07-30 12:02] #18898 closed, assigned to heavengate

[2019-07-30 12:18] luzm3 commented on #18884
已解决，是因为cell_activation的原因,lstm中cell_activation要用tanh，而我却用了sigmoid

[2019-07-30 12:18] #18884 closed, assigned to nobody

[2019-07-30 12:18] luzm3 commented on #18878
好的 谢谢

[2019-07-30 12:18] #18878 closed, assigned to sneaxiy

[2019-07-30 12:29] #18901 closed, assigned to heavengate

[2019-07-30 12:33] heavengate commented on #18899
鉴于问题已解决，本issue关闭，如果还有问题请reopen此issue，感谢对PaddlePaddle的支持~

[2019-07-30 12:33] #18899 closed, assigned to jerrywgz

[2019-07-30 13:00] Jhon714-cooler commented on #18886
Microsoft Windows [版本 6.1.7601]
版权所有 (c) 2009 Microsoft Corporation。保留所有权利。

C:\Users\Administrator>pip3 install paddlepaddle
Requirement already satisfied: paddlepaddle in c:\users\administrator\appdata\lo
cal\programs\python\python37\lib\site-packages (1.5.1)
Requirement already satisfied: scipy; python_version >= "3.5" in c:\users\admini
strator\appdata\local\programs\python\python37\lib\site-p

[2019-07-30 13:05] heavengate commented on #18886
pip3 list 看下

[2019-07-30 13:13] Jhon714-cooler commented on #18886
Microsoft Windows [版本 6.1.7601]
版权所有 (c) 2009 Microsoft Corporation。保留所有权利。

C:\Users\Administrator>pip freeze
alabaster==0.7.11
anaconda-client==1.7.2
anaconda-navigator==1.9.2
anaconda-project==0.8.2
appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.0.4
astropy==3.0.4
atomicwrites==1.2.1
attrs==18.2.0
Automat==0.7.0
Babel==2.6.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4

[2019-07-30 13:26] heavengate commented on #18886
pip3 list 里面没有paddle，paddle没有安上，重新安装试下

[2019-07-30 13:31] heavengate commented on #18904
已记录paddle.reader.multiprocess_reader优化需求

[2019-07-30 13:31] #18904 closed, assigned to heavengate

[2019-07-30 13:33] heavengate commented on #18909
鉴于问题已解决，本issue关闭，如果还有问题请reopen此issue，感谢对PaddlePaddle的支持~

[2019-07-30 13:33] #18909 closed, assigned to heavengate

[2019-07-30 13:35] Jhon714-cooler commented on #18886
还是这样呢

[2019-07-30 13:48] Cristhine opened #18912 "训练到某个batch 在reader中陷入死循环"
训练网络的过程中,可以正常训练部分batch
结果如下：
Loaded 59468 images
after run
Iter 0, lr 0.000000, smoke_acc 0.0488, phone_acc 0.0413, safe_acc 0.0919, hand_acc 0.0653, forward_acc 0.0428, average loss 1047.4664,                 smooth_loss 10474.6641, cur_loss 10474.6641, yolo_loss 1047.2461, rcnn_cls_loss 0.1949, rcnn_box_loss 0.0251,                 smoke_loss 0.0000, phone_loss 0.0000, safe_loss 0.0003, hand_los

[2019-07-30 13:55] heavengate commented on #18912
应该是reader有问题，python train.py --use_multiprocess_reader=False看下报什么错

[2019-07-30 13:58] Cristhine commented on #18912
就是这么运行的，设置的--use_multiprocess_reader=False，batchsize很小是1

[2019-07-30 14:11] Cristhine commented on #18912
paddle读数据是异步的嘛？明明有yield 为何会打印出很多batch的数据 但是就是不运行exe.run

[2019-07-30 19:01] lidanqing-vv opened #18913 "Accuracy issue with int8_mobilenet_ssd tester"
In the mobilenetssd INT8 unit test `test_analyzer_int8_object_detection.cc`, to compare the result, the test used `CompareQuantizeAndAnalysisResult` in `test_helper.cc` used `ComputeTopAccuracy` function while mAP should be read out through second element of the result vector.

There is accuracy drop after changing to mAP comparison. We are investigating it @wojtuss .

[2019-07-30 20:57] wojtuss commented on #18893
@luotao1 @wzzju
We applied the quantization passes to the FP32 inference model obtained from the Model2 and achieved top1 accuracy of 0.7614 (on SKX). I have updated the table above.
Performance to be measured very soon.
After grooming the code we will submit a PR.

[2019-07-31 01:28] bingyanghuang opened #18915 "fused_embedding_seq_pool op NAN error analysis"
Reported from Baidu that when tested with the large dataset, fused_embedding_seq_pool will cause the NAN error.  @Sand3r- helped review the JIT code and he has some questions on this issue and comments in this code.
 Questions regarding this issue:
1.	Does the related JIT code regard forward or backward passes?
2.	On what CPU does this code produce crash?
3.	Is the code responsible for issue locat

[2019-07-31 01:29] bingyanghuang commented on #18915
He has briefly ran through the code and ran into several conclusions for now:
1.	The nans aren’t produced by performing any illegal mathematical operations (such as division by zero, having a square root of negative number or etc.)
2.	It seems to him that NaNs come from either:
- Nan values that come from input
- Performing addition of such a large magnitudes that would result in infinities (still

[2019-07-31 02:08] XipengY opened #18916 "data loader 部分多进程训练失败"
版本、环境信息：
   1）PaddlePaddle版本：1.5.0
   2）GPU：GPU：k40， cuda：9.0 cudnn：7.0
   4）系统环境：centos6.3，Python2.7

问题描述：
data reader部分，如果use_multiprocess = False,能正常train；设置use_multiprocess = True，train报错，错误信息如下：
Exception in thread Thread-1:
Traceback (most recent call last):
  File "python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "python2.7/threading.py", line 754, in run
    s

[2019-07-31 02:16] #18866 closed, assigned to seiriosPlus

[2019-07-31 02:18] NHZlX commented on #18916
把reader的代码贴上来吧

[code]

看起来是reader中没有读出东西来，检查一下reader是否有写错

[2019-07-31 02:31] XipengY commented on #18916
应该没问题，同样的reader，但进程能正常train

[2019-07-31 03:02] dingsiyu opened #18918 "请问，训练方式如下：单机多卡，每个卡都是独立的数据，如何为每份数据指定对应的GPU呢"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）CPU：
    3）GPU：P40, CUDA:10.0 CUDDN:7.4
    4）系统环境：centos6, python 3.6

[2019-07-31 03:19] niuox opened #18920 "freeze部分parameter，tensorflow的batch_size比paddle"
Resenet50的网络，输入tensor大小是(batch_size, 30,3,224,224)用于做视频分类，表示帧数是30，image大小是3 * 224 * 224。

freeze全部参数（freeze部分参数情况相同），单卡情况下paddle能支持的batch_size最大为4，而tensorflow能支持的batch_size可以达到32；如果finetune所有参数，两者能支持的最大batch_size相同。

paddle fluid版本是1.5.0，freeze部分参数或者全部参数的写法如下，试过parameter.stop_grdient=True和parameter.trinable=False两种写法，情况相同

[code]

tensorflow部分，使用的是keras框架，tf后端，tf版本是1.11.0，代码片段如下：

[code]

看到有pytor

[2019-07-31 03:20] #18920 closed, assigned to nobody

[2019-07-31 03:26] zhaoyang1708 opened #18921 "分布式训练模型初始化问题"
用paddle cloud提交任务训练模型，没有用初始化时可以正常训练，用下面初始化模型的时候都会报错
init_model_path=/app/ecom/native-ad/zhaoyang29/reward_video_nnq/xcxxs/fluidmodel/output/ab28ea5e-cb8b-50b6-9503-b447b99aabed/job-0bb5d31881d04ac9/output/rank-00000/pass-9/
报错：F0731 03:18:58.043956 37734 grpc_client.cc:418] GetRPC name:[sequence_conv_4.b_0], ep:[10.182.76.151:62004], status:[-1] meets grpc error, error_code:14 error_message:Socket

[2019-07-31 03:33] Renwb1991 opened #18922 "保存了inference model，预测时希望使用ParallelExecutor，应该怎么操作？"
保存了inference model，预测时希望使用ParallelExecutor，应该怎么操作？

[2019-07-31 03:39] NHZlX commented on #18922
您好，请问用parallel Executor是为了模型加速么？

[2019-07-31 03:41] Renwb1991 commented on #18922
这边有很多图片，需要进行预测。使用多卡ParallelExecutor应该会快些吧。

[2019-07-31 03:41] chengduoZH commented on #18918
@dingsiyu 你是怎么输入数据的，feed还是py_reader
如果是feed，在执行的时候，会将数据进行split，比如batch_size=32，用4卡训练，每个张卡训练数据的batch_size为8.
如果是py_reader（异步数据读取），在Python端会通过一个线程从用户提供的数据Reader中读取数据，并将数据放到一个queue中，C++端，每个GPU异步的从queue中取出数据，所以从reader中读取数据在哪个GPU上计算是不确定。

[2019-07-31 03:42] Renwb1991 commented on #18922
现在是这样写的，直接使用parallel_predict进行预测，会出错。
[code]
错误信息如下：
[code]

[2019-07-31 03:44] dingsiyu commented on #18918
py_reader ，读取一个batch的数据后，按照单机的卡数，将数据再进行切分，每份数据再单独的GPU上运行，每个GPU上布置的网络是一样的

[2019-07-31 03:47] niuox opened #18923 "freeze部分parameter，paddle的batch_size比tf小很多"
Resenet50的网络，输入tensor大小是(batch_size, 30,3,224,224)用于做视频分类，表示帧数是30，image大小是3 * 224 * 224。

freeze全部参数（freeze部分参数情况相同），单卡情况下paddle能支持的batch_size最大为4，而tensorflow能支持的batch_size可以达到32；如果finetune所有参数，两者能支持的最大batch_size相同。

paddle fluid版本是1.5.0，freeze部分参数或者全部参数的写法如下，试过parameter.stop_grdient=True和parameter.trinable=False两种写法，情况相同

[code]

tensorflow部分，使用的是keras框架，tf后端，tf版本是1.11.0，代码片段如下：

[code]

看到有pytor

[2019-07-31 03:47] dingsiyu commented on #18918
py_reader, 每读取一个batch的数据后，将数据按照单机卡数再次切分，每份数据在单独的GPU上训练，每个GPU上部署的网络相同

[2019-07-31 03:53] dingsiyu commented on #18918
我这边网络训练有个特殊要求：
比如读取了第一个batch的数据，并切分成了4份，编号分别为1，2，3，4。4个GPU的编号分别为a,b,c,d。对应关系为1-a, 2-b, 3-c, 4-d。当读取了第二个batch后，同样切割成4份，与GPU的对应关系不能变

[2019-07-31 03:55] dingsiyu commented on #18918
所以这种情况只能用feed吗

[2019-07-31 03:55] chengduoZH commented on #18918
目前是的

[2019-07-31 03:57] NHZlX commented on #18922
确认一下读取 batch_data的reader是否有把数据正确读出

[2019-07-31 04:02] Renwb1991 commented on #18922
有的，相同的batch_data数据，使用predict方法进行预测，是能够正常产出的。

[2019-07-31 04:04] Renwb1991 commented on #18922
而使用 parallel_predict 方法进行预测，则提示出错。

如果先使用 predict 方法进行预测，然后再使用 parallel_predict 方法预测，那么parallel_predict 方法就不会出错了。是不是中间漏了些什么步骤？

[2019-07-31 04:13] NHZlX commented on #18921
![image](https://user-images.githubusercontent.com/5595332/62183363-6c94df80-b38c-11e9-8484-bf1c8b77ed42.png)

具体的问题的原因：加载预训练模型，如果新的模型结构（很多时候修改最后一层的输出的维度）有变化， 需要将对应层的参数的名字修改一下

[2019-07-31 04:16] NHZlX commented on #18922
把所有的log信息贴出来把

[2019-07-31 04:38] dingsiyu commented on #18918
那github上公开的模型中有示例代码吗

[2019-07-31 05:34] dingsiyu commented on #18918
import numpy.random as random
import paddle
import paddle.fluid as fluid

def reader(limit=5):
    for i in range(limit):
        yield (random.random([784]).astype('float32'), random.random([1]).astype('int64')),

place=fluid.CUDAPlace(0)
data = fluid.layers.data(name='data', shape=[1, 28, 28], dtype='float32')
label = fluid.layers.data(name='label', shape=[1], dtype='int64')

feeder = fluid.Data

[2019-07-31 05:44] sshilei opened #18926 "1.5.1 fleet使用，quick start有两个问题"
Quick Start中
https://github.com/PaddlePaddle/Fleet/tree/develop/examples/quick-start

（1） Collective Training中，执行报错
role = role_maker.PaddleCloudRoleMaker(is_collective=True)
fleet.init(role)
报错
File "/home/map/rd/wushilei/code/paddle-frame/baidu/mapsearch/paddle-frame/frame/scheduler/../..//frame/core/gpu_dataset_trainer.py", line 163, in
ret = trainer.start(sys.argv)
File "/home/map/rd/wushilei/

[2019-07-31 05:58] wojtuss commented on #18913
The `ComputeTopAccuracy` method used in the test compares the second output elements which are current mAP values. A fix will be to compare the third output elements: cumulative mAP.
After this fix, the warmup batch size has to be modified. With the current value of 100 the test fails with big accuracy difference. The best accuracy is obtained (on SKX) with warmup batch size 9:
FP32: avg top1 accu

[2019-07-31 05:59] sandyhouse commented on #18926
你用的是那个版本的paddle？ @sshilei
paddle.distributed.lanuch_ps目前在develop分支里面才有。
PaddleCloudRoleMaker的is_collective参数也是在develop分支里面才有的。

[2019-07-31 06:04] heavengate commented on #18912
使用multiprocess reader的时候读取数据是异步的，会起多个reader进程读到一个队列里面，训练时从对齐去取，不使用multiprocess reader的时候是同步的，读一个batch的数据跑一个iter

[2019-07-31 06:04] sneaxiy commented on #18923
您是先调用的optimizer.minimize再freeze参数，还是先freeze参数再调用的optimizer.minimize？ 需要先freeze再调用optimizer.minimize。

[2019-07-31 06:06] luotao1 commented on #16870
close due to #16806 merged

[2019-07-31 06:06] #16870 closed, assigned to baojun-nervana

[2019-07-31 06:14] Renwb1991 commented on #18922
[code]

[2019-07-31 06:24] niuox commented on #18923
两种都试了，都不可以

[2019-07-31 06:24] sshilei commented on #18926
我用的是fluid 1.5.1 cuda9-cudnn7-mkl

[2019-07-31 06:26] sshilei commented on #18926
paddlepaddle_gpu-1.5.1-cp27-cp27mu-linux_x86_64.whl

https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/install/Tables.html/#ciwhls%E3%80%82

[2019-07-31 06:28] sandyhouse commented on #18926
如果按照上面的用法，无法直接在1.5版本使用，建议使用develop分支。

[2019-07-31 06:39] yangninghua commented on #18885
恩恩，解决了，是按照你说的意思，
export CUDA_VISIBLE_DEVICES=0
或者
CUDA_VISIBLE_DEVICES=0 python test.py

[2019-07-31 06:39] #18885 closed, assigned to heavengate

[2019-07-31 07:46] nizihan opened #18929 "attention模型tensorrt子图模型加载出错"
# padlle_fluid_predictor
baidu/vis-open/paddle@stable
baidu/vis-open/paddle-lib@stable

recog_model.conf文件：
gpu_memory_mb : 1024
enable_ir_optim : 1
infer_engine : tensorrt
use_tensorrt : 1
tensorrt_workspace_size : 10240000

服务中使用tensorrt子图加速，在create_cnnpredict(model_path, "dl_attention_");处出错返回。若不使用tensorrt子图则正常加载模型。

[2019-07-31 08:49] saberSabersaber opened #18930 "paddle 1.5.0 训练ocr_ctc dlopen: cannot load any more object with static TLS"
![image](https://user-images.githubusercontent.com/26018086/62197795-14250880-b3b3-11e9-8a1a-3d7f234e6634.png)

[2019-07-31 08:53] NHZlX commented on #18930
find / -name   {该lib名}

然后把路径加入到 LD_LIBRARY_PATH中试试

[2019-07-31 08:56] saberSabersaber commented on #18930
这个已经试过了

[2019-07-31 09:00] MRXLT commented on #18667
重新编译paddle或者使用1.5版本的paddle可以解决

[2019-07-31 09:00] #18667 closed, assigned to nobody

[2019-07-31 09:39] jiangbojian opened #18936 "paddle1.5 layers.range op不能接收layers.shape()[i] 做为输入"
环境：使用paddlepaddle1.5版本，V100GPU，单卡，CUDA9.0，CUDNN7.1 python2.7
当调用layers.range(start, end, step, dtype)时，如果end传入一个tensor的shape的某一个维度，运行过程中出core,如果把end改为定值，则可以运行通过。

[2019-07-31 11:12] saberSabersaber commented on #18930
![image](https://user-images.githubusercontent.com/26018086/62207340-7b988380-b3c6-11e9-96f8-47bc5b8fa375.png)
![Uploading image.png…]()

[2019-07-31 11:15] saberSabersaber commented on #18930
![image](https://user-images.githubusercontent.com/26018086/62207702-65d78e00-b3c7-11e9-8964-914d7e1fb86e.png)
![image](https://user-images.githubusercontent.com/26018086/62207719-74be4080-b3c7-11e9-9880-25773b5ca2ba.png)

[2019-07-31 11:49] jiangjiajun opened #18939 "depthwise conv2d在实现时，GPU上和CPU上的存在较大diff"
[code]
上面是我的测试代码，当把CPUPlace换成CUDAPlace后，两者同样的模型结果存在1e-03级的diff，目前测得CPU上跟TensorFlow对齐，但GPU没有对齐（TensorFlow测得CPU与GPU结果一致）

[2019-07-31 12:41] baiyfbupt commented on #18936
初步判断是因为range()现不支持int64的dytpe引起的core dump，如果需要paddle支持range的int64实现您可以继续在该issue中反馈 @jiangbojian

[2019-07-31 13:04] grygielski commented on #18788
I'm closing this one since newer version of code is submitted in PR https://github.com/PaddlePaddle/Paddle/pull/18942

[2019-07-31 13:04] #18788 closed, assigned to nobody

[2019-07-31 13:25] luotao1 opened #18944 "MKLDNNDeviceContext Global Variables and Functions Code Clean"
There are several global variables and functions：
https://github.com/PaddlePaddle/Paddle/blob/fe32879d2abf9efeb2839eba27e8a419852635fc/paddle/fluid/platform/device_context.h#L380-L399
Could they move into `MKLDNNDeviceContext` class? @jczaja @LeoZhao-Intel

[2019-07-31 13:30] luotao1 opened #18945 "MKLDNN dims2str & dim2str Code Clean"
There are similar `dims2str` and `dim2str` functions in each `xxx_mkldnn_op.cc`:
[code]
[code]
Could you unify them? @jczaja @bingyanghuang

[2019-07-31 13:58] prozhuchen opened #18947 "paddle接口预测报错"
- 版本、环境信息：
    1）PaddlePaddle版本：v1.4.1
    2）CPU：
    3）GPU：cuda9.0,cudnn7.0
    4）系统环境：centos, python3.6

我用python接口来预测的时候，使用config.enable_use_gpu(2000, 10)，即使10卡空闲，仍然会报错如下：
`paddle.fluid.core.EnforceNotMet: Enforce failed. Expected allocating <= available, but received allocating:10484135660 > available:7445282560.
Insufficient GPU memory to allocation. at [/paddle/paddle/fluid/platform/gpu_info

[2019-07-31 21:51] dongfangyixi opened #18948 "Why paddle fluid layers use function instead of class?"
I notice that in paddle/fluid/layers/nn.py layers are  defined as functions
take fc as example:

[code]

it create weights in the function. however, people may reuse weights in their model, in this case, one can not reuse the layer just call it when they want.
Current, i call helper to create weights in my own class, and maintain it for further use.
It's there any solutions for sharing the weights

[2019-08-01 02:24] 18628271760 opened #18949 "关于文档缺失问题"
PaddlePaddle相关负责人：
我司在对智能智能平台进行对比预研过程中，发现贵方的文档有较大缺失。API接口文档局限于fluid子类，其它子类未覆盖。实例程序中引用了其它子类下的函数，如batch，reader, compat等子类函数在实列中出现也未有参考资料。这给评估，学习，工程带来了极大麻烦。希望贵方早日完善文档。
![fyi](https://user-images.githubusercontent.com/38900261/62260963-5d726800-b446-11e9-84b5-115921a974de.jpg)

<img width="157" alt="fyi2" src="https://user-images.githubusercontent.com/38900261/62261012-8135ae00-b446-11e9-83f6-1c5374c0

[2019-08-01 02:25] JiabinYang commented on #18948
You are right, in our early design make layers as function because they can reuse some global method like `LayerHelper`, However, we are trying to do what you are talking about. And in our dygraph mode which u can find in `paddle/fluid/dygraph/layers/nn.py`, we actually make our layers  with parameters as class. Util now we cannot use these layers since it will cause some compatibility issue with

[2019-08-01 02:28] JiabinYang commented on #18949
感谢您的关注，我们正在全力调整相关文档，将在短期内实现改善，敬请关注

[2019-08-01 02:54] NHZlX commented on #18947
将 FLAGS_fraction_of_gpu_memory_to_use设置小一些。

paddle在 import paddle.fluid 时候会获取全局变量 ‘FLAGS_fraction_of_gpu_memory_to_use’（默认值为0.95） 并进行分配显存，目前这个默认设置没有好的解决方案。在运行预测脚本前，需要将此值设置小一些。

[2019-08-01 03:11] Superjomn commented on #17704
可以忽略，里面有个误报。

[2019-08-01 04:03] yangyu16 opened #18951 "内存"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及

[2019-08-01 04:03] #18951 closed, assigned to nobody

[2019-08-01 06:09] zhaoyang1708 commented on #18921
Wed Jul 31 03:18:58 2019[1,27]<stdout>:Enforce failed. Expected param_dims == ctx->GetInputDim("Moment1"), but received param_dims:424, 64 != ctx->GetInputDim("Moment1"):21199, 64.
Wed Jul 31 03:18:58 2019[1,27]<stdout>:Param and Moment1 input of AdamOp should have same dimension at [/paddle/paddle/fluid/operators/optimizers/adam_op.cc:67]
看日志上面的问题可能是初始化模型和训练时候用的优化方法不一致，所以再次提交任务，模型和优化方法都一致，但还有问题
T

[2019-08-01 06:17] chengduoZH commented on #17254
感谢您的反馈。

如果不传入program，程序将会使用`fluid.default_main_program()`。所以对于您的模型，如果不传入program是会有问题的。

[2019-08-01 06:31] jczaja commented on #18945
We will do cleanup of it once we upgrade mkl-dnn to 1.0 . Many of this functions will be modified
so there is no reason to clean them up now, rather than after mkl-dnn 1.0 is integrated.

[2019-08-01 06:33] Rayarrow94 opened #18958 "GPU训练速度异常"
GPU单机多卡训练，发现速度比CPU单核快1/5,但是GPU占用率为100%。请问是不是GPU单机多卡的写法有问题呢：

570      def train_loop(main_program, trainer_id=None):
571         """train loop
572         """
573         # prepare data
574         print_log("batch_size=" + str(batch_size))
575         train_data = paddle.batch(
576             paddle.reader.shuffle(
577                 ctr.train(get_file_list(is_local=is_local, is_train=True)), b

[2019-08-01 06:40] luotao1 commented on #18945
Got it.

[2019-08-01 06:53] minhozhou opened #18959 "使用ParallelExecutor进行infer,CPU利用率较低"
- 版本、环境信息：
    1）PaddlePaddle版本：1.4.1
    2）CPU：CPU
    3）系统环境：centos
- 问题描述：**使用ParallelExecutor进行infer，CPU利用率较低，和直接使用Executor的利用率差不多，速度没有明显提升，主要是想用ParallelExecutor数据并行提升预测速度**
预测代码如下：
[code]

**之前提的issue主题是运行出错发现是我自己代码写错了**

[2019-08-01 08:12] wopeizl commented on #16804
第一张图错误为显存不足，请检查显存占用情况。
第二张图请使用1.5.1版本，1.3.2不支持Parallel_executor。

[2019-08-01 08:29] fengchun1213 opened #18961 "lstm_unit使用报错"
paddle版本1.5.1，使用lstm_unit报错，代码如下：
import paddle.fluid as fluid

input = fluid.layers.ones(shape=[1, 256], dtype='float32')
output = fluid.layers.ones(shape=[1, 256], dtype='float32')

prev_hidden = fluid.layers.ones(shape=[1, 256], dtype='float32')
prev_cell = fluid.layers.ones(shape=[1, 256], dtype='float32')

hidden = fluid.layers.lstm_unit(x_t=input,
                                hidden_t_pre

[2019-08-01 08:31] DDDivano opened #18962 "动态图Transformer报错"
版本： linux python3.6  develop分支
![image](https://user-images.githubusercontent.com/10734244/62277241-56fce400-b478-11e9-9f59-e7d104fa885b.png)
这里设置成数字才不报错。1.5.1版本无此问题
![image](https://user-images.githubusercontent.com/10734244/62277887-a2fc5880-b479-11e9-8f4b-037331eab327.png)

[2019-08-01 09:02] liulihupan opened #18963 "win10 MFC paddle 我想在windows下的MFC中使用paddle调用训练好的模型进行预测，但是我没有找到具体的方法，因为我看官网上安装例子中都是python调用。不知道，各位大神能否指点一下？（我理解的应该向opencv一样，下载后配置库文件可头文件的路径即可调用）"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译

[2019-08-01 09:07] 18628271760 commented on #18949
谢谢

[2019-08-01 09:08] #18949 closed, assigned to xsrobin

[2019-08-01 09:09] liulihupan commented on #18963
我想在windows下的MFC中使用paddle调用训练好的模型进行预测，但是我没有找到具体的方法，因为我看官网上安装例子中都是python调用。不知道，各位大神能否指点一下？（我理解的应该向opencv一样，下载后配置库文件可头文件的路径即可调用）

[2019-08-01 09:12] phlrain commented on #18961
input prev_hidden  prev_cell  这三个参数由于stop_gradient = true 所以检查失败了，你可以强制把这三个参数的stop_gradient 设置为false

input.stop_gradient = False

[2019-08-01 09:13] 18628271760 opened #18964 "关于Program的自定义问题"
PaddlePaddle团队，
Fluid版本的Paddle中使用Program的形式描述计算过程，但如果用户需要按自己业务需求定义多个program，不使用fluid.default_startup_program()可否？
如果可以使用custom program，应该如何定义使用？有例子，参考链接为宜。

[2019-08-01 09:21] fengchun1213 commented on #18961
您好，感谢您的回复，我按照您说的加了这三行代码还是出现了刚才那个问题
input.stop_gradient = False
prev_hidden.stop_gradient = False
prev_cell.stop_gradient = False

[2019-08-01 09:29] JiabinYang commented on #18964
可以的，您可以参考文档https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/fluid_cn.html#program
在执行时传入自定义的program即可

[2019-08-01 09:30] liupluswei commented on #18963
你好，我们暂时还未对windows提供官方的预测库支持，这项工作正在进行中，预计在8月中下旬会在官网上线正式的文档说明。

[2019-08-01 09:30] #18963 closed, assigned to liupluswei

[2019-08-01 09:32] JiabinYang commented on #18962
this is because of PR #18813 , and @ceci3 will fix in small change, and I will change model to avoid these problems

[2019-08-01 09:51] cqu-ls opened #18967 "网络输出tensor如何取出某一维度"
有一层网络的输出output的dims是-1，747，15，如何取出某一维度，例如取出output的第410行，output[410]，并且保证取出值得dims应该是-1*15，而不是15
name: "relu_0.tmp_0"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: -1
      dims: 747
      dims: 15
    }
    lod_level: 0
  }
}

[2019-08-01 10:27] JiabinYang commented on #18967
可以试试output[,410,]

[2019-08-01 11:03] cqu-ls commented on #18967
这样取不出来，这是我的代码，或者您可以自己调试一下取出某个网络输出的某一个维度的值

import paddle.fluid as fluid
from networkx import karate_club_graph, to_numpy_matrix
#准备GCN 网络配置
import numpy as np
zkc = karate_club_graph()
order = sorted(list(zkc.nodes()))
N = len(order)
M = 2

adjacency = fluid.layers.data(name="adjacency",shape=[N,N],dtype='float')
features = fluid.layers.data(name="features",shape=[N,M],dtype='float')
degree = flui

[2019-08-01 11:57] JiabinYang commented on #18967
可以试试out[:,410,:]

[2019-08-01 12:57] liulihupan commented on #18963
非常感谢您得帮助！

[2019-08-01 13:51] Meiyim opened #18969 "expand_op 报dtype推断错误。"
运行错误log:
[code]

这行是不是有问题？

https://github.com/PaddlePaddle/Paddle/blob/768059b3a024d8cd04067389b9cbb183ef80b343/python/paddle/fluid/layers/nn.py#L9693
建议修改为` temp_out = helper.create_variable_for_type_inference('int32')`

[2019-08-01 13:58] wojtuss commented on #18893
@luotao1 @wzzju @bingyanghuang
A preliminary PR is submitted: https://github.com/PaddlePaddle/Paddle/pull/18970

[2019-08-01 14:05] JiabinYang commented on #18969
This PR will fix it #18932

[2019-08-02 01:39] cqu-ls commented on #18967
这样的方法在执行器run之后是没问题的，但是在网络搭建过程中还是有问题，比如在上面的代码中最后的print(out[:,20,:])放在out之后，而不是放在run之后，就会出现问题

[2019-08-02 01:40] cqu-ls commented on #18967
还有想问一下有没有这种取出来网络某一层输出中的一维作为下一层网络的输入的Demo？

[2019-08-02 02:08] 18628271760 commented on #18964
tks

[2019-08-02 02:08] #18964 closed, assigned to JiabinYang

[2019-08-02 02:08] 18628271760 commented on #18964
tks

[2019-08-02 02:08] 18628271760 commented on #18964
tks

[2019-08-02 02:08] 18628271760 commented on #18964
tks

[2019-08-02 02:09] #18443 closed, assigned to heavengate

[2019-08-02 02:09] #18442 closed, assigned to shippingwang

[2019-08-02 02:52] JiabinYang commented on #18967
可以参考这段代码：

        import paddle.fluid as fluid
        # from networkx import karate_club_graph, to_numpy_matrix
        #准备GCN 网络配置
        import numpy as np
        N = 20
        M = 2

        adjacency = fluid.layers.data(name="adjacency",shape=[N,N],dtype='float')
        features = fluid.layers.data(name="features",shape=[N,M],dtype='float')
        degree = fluid.layers.data(name='degree

[2019-08-02 03:10] OliverLPH opened #18976 "TensorRT报错信息需要优化"
- 标题：TensorRT报错信息需要优化
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）CPU：
    3）GPU：P4, cuda10,  cudnn7.4, Nvidia-smi:410.79
    4）系统环境：Ubuntu1604，Python2.7，
    5）TRT：TensorRT-5.1.5.0.Ubuntu-16.04.5.x86_64-gnu.cuda-10.0.cudnn7.5.tar
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
    2）CMake包含路径的完整命令

[code]

    3）API信息（如调用请提供）

[code]

    4）预测库来源：源码编译
- 复现信息：
配置里面使用了 trt float或者trt int8就会挂掉

-

[2019-08-02 03:43] Gaffey opened #18977 "动态图forward内存泄露"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 1.5 post 97
    3）GPU：CUDA 9.0 CUDNN 7.1

- 训练信息
    1）单机，单卡

- 复现信息：
复现代码
[code]
- 问题描述：
在训练时发现占用内存不断增长，从一开始的0.9%逐步提升到40%，会导致无法正常提交集群训练。用objgraph查看，发现dict类型数量不断增长。上述代码运行过程中（稳定后），每经过一次前向，dict增长5个，到下一次前向之前，会释放3个，净增长2个。且增长的dict数量和conv，fc数量相关（fc和conv增3释放1，pool增2释放2）。怀疑存在内存泄露问题。

[2019-08-02 05:04] chengduoZH commented on #18918
如果是feed的方式，`feeder = fluid.DataFeeder(place=place, feed_list=[data, label])`中的place应该是单个Place，比如`place=fluid.CUDAPlace(0)`，在多卡训练时，会将数据split，然后将GPU0上的拷贝到其他GPU上。

[2019-08-02 05:04] NHZlX commented on #18916
重新rerun后，目前没有问题。

[2019-08-02 05:04] #18916 closed, assigned to chengduoZH

[2019-08-02 05:55] mzchtx commented on #18977
同遇到动态图内存泄漏，到最后 OOM。

[2019-08-02 06:04] sneaxiy commented on #18923
与用户线下讨论，通过`stop_gradient = True`的方式满足了用户需求。

[2019-08-02 06:04] #18923 closed, assigned to sneaxiy

[2019-08-02 06:06] mzchtx opened #18978 "FP16 训练过程中出现 "an illegal memory access was encountered""
## 环境

+ paddlepaddle-gpu: 1.5.0.post97
+ python: 2.7.9
+ Driver Version: 396.26

## 错误信息

如下：

![image](https://user-images.githubusercontent.com/37564754/62347936-0051e180-b52e-11e9-8586-31558863cb91.png)

[2019-08-02 06:27] #18967 closed, assigned to JiabinYang

[2019-08-02 06:38] seiriosPlus commented on #18488
如有问题可以继续提问，暂时关闭了

[2019-08-02 06:39] #18488 closed, assigned to nobody

[2019-08-02 08:15] sandyhouse commented on #18978
方便提供下如何复现该问题的信息吗（模型，训练脚本和配置等信息）？ @mzchtx

[2019-08-02 10:16] #18969 closed, assigned to phlrain

[2019-08-02 10:23] Renwb1991 commented on #18922
给出一个简单的demo, 在单卡的情况下，使用 parallel_exe 进行预测，总是出错。而使用 exe 预测则没有问题。
[code]

[2019-08-02 10:56] hitwangshuai opened #18985 "编译安装出现error: identifier "__shfl_down" is undefined"
![image](https://user-images.githubusercontent.com/22500910/62365596-11631880-b557-11e9-9c2b-98fc126c32a5.png)
求助编译安装出现上述问题是什么原因

[2019-08-02 11:28] dingsiyu opened #18986 "Tensor 转 LoD-Tensor 示例，为什么输入的是list"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5
    2）CPU/GPU：cuda 10, cudnn 7.4
    3）系统环境：centos 6
    4）Python版本号 3

这是官方代码：

**LoD-Tensor 转 Tensor**

import paddle.fluid as fluid
import numpy as np
# 创建一个 LoD-Tensor
a = fluid.create_lod_tensor(np.array([[1.1], [2.2],[3.3],[4.4]]).astype('float32'), [[1,3]], fluid.CPUPlace())
def LodTensor_to_Tensor(lod_tensor):
  # 获取 LoD-Tensor 的 lod 信息
  lod = lod_tenso

[2019-08-02 11:33] dingsiyu commented on #18986
如何将tensor转为lod_tensor

[2019-08-02 11:36] NHZlX commented on #18922
这个问题现在怀疑是个bug， 已经进行反馈

[2019-08-02 12:37] LeoZhao-BJ commented on #17611
fixed by PR #17965

[2019-08-02 12:37] #17611 closed, assigned to jczaja

[2019-08-02 14:41] wzzju commented on #18986
您好！在Paddle中所有的Tensor都是LoDTensor，文章标题中所谓的“ tensor”指的是nparray的list，您阅读一下`to_lodtensor `代码实现即可明白。

[2019-08-02 14:47] wzzju commented on #18986
首先，您使用`fluid.layers.create_tensor`创建的b是一个Variable类型，需要通过Executor运行才能得到Tensor结果，这点从报错信息`'Variable' has no len()`即可知道。其次，就算您使用了Executor运行得到的也是LoDTensor，并非Tensor。当然若您不设置LoD信息也可认为得到的就是Tensor，但是这个所谓的Tensor转LoDTensor是不能使用`to_lodtensor`（因为其定义需要的输入是ndarray list，这个list每个元素的长度指明了lod信息），您可以想一下，`to_lodtensor`只有一个输入，如果lod信息不在这个输入中，它便不能将输入转成LoDTensor。如果只是一个Tensor的话，其想要转为LoDTensor也很容易，示例代码如下：
[code]

[2019-08-02 15:01] wzzju commented on #18986
再送您一段代码，帮助您理解，示例如下：

[code]

[2019-08-02 17:36] jczaja commented on #18658
Status:
Problem root caused. Mkl-dnn activation op for getting y tensor allocated is using:
`T *y_data = y->mutable_data<T>(ctx.GetPlace());`
This is wrong, for out of place computation as when blocked formats (NCHW16C) are used
allocation may be a bit bigger that N\*C\*H\*W\*sizeof(data_type), as implicit padding may be present.

Proper allocation should be:
` T *y_data = y->mutable_data<T>(ctx.G

[2019-08-03 07:55] #18876 closed, assigned to chengduoZH

[2019-08-03 14:40] luotao1 commented on #18658
What's the meaning of BDW? I still don't know why I could run OK on this model but you got fails. What's the reason of it, different machine?

[2019-08-03 16:13] Hsintao opened #18991 "int8量化 ssd模型后 load_inference_model加载模型后 exe.run报错"
报错信息如下
paddle.fluid.core_avx.EnforceNotMet: Invoke operator conv2d error.
C++ Callstacks:
Enforce failed. Expected input_data_type == filter_data_type, but received input_data_type:5 != filter_data_type:21.
input and filter data type should be consistent at [/paddle/paddle/fluid/operators/conv_op.cc:117]

输入image 的type我设置的float32
请问怎么解决

[2019-08-03 16:16] Hsintao commented on #18991
报错信息如下
paddle.fluid.core_avx.EnforceNotMet: Invoke operator conv2d error.
C++ Callstacks:
Enforce failed. Expected input_data_type == filter_data_type, but received input_data_type:5 != filter_data_type:21.
input and filter data type should be consistent at [/paddle/paddle/fluid/operators/conv_op.cc:117]

输入image 的type我设置的float32
请问怎么解决

[2019-08-04 05:26] zhao1425493031 opened #18992 "训练时 发生错误AttributeError: module 'paddle.fluid.framework' has no attribute 'cpu_places'"
安装没问题，执行classifier.py训练时，发生错误AttributeError: module 'paddle.fluid.framework' has no attribute 'cpu_places'

![image](https://user-images.githubusercontent.com/46149054/62419794-c61a4880-b6c3-11e9-8933-496f275f8abf.png)

[2019-08-04 10:28] weiexcelpro commented on #18904
Hi, 有没有修复ETA?

[2019-08-04 10:30] frankwhzhang commented on #18992
请贴一下paddle的版本以及运行程序的代码 有可能是代码API和版本没有对应

[2019-08-04 15:11] #18991 closed, assigned to nobody

[2019-08-04 15:16] Hsintao opened #18993 "请问怎么实现mobilenetV3的hswish激活函数 需要自己写op吗"
请问怎么实现mobilenetV3的hswish激活函数 需要自己写op吗

[2019-08-05 00:16] kolinwei opened #18994 "dialogue_general_understanding 报Invoke operator lookup_table error"
18:23:55]W:	 [Step 3/3] I0803 18:23:55.831578 27089 build_strategy.cc:308] SeqOnlyAllReduceOps:0, num_trainers:1
[18:23:55]W:	 [Step 3/3] I0803 18:23:55.935079 27089 parallel_executor.cc:331] Garbage collection strategy is enabled, when FLAGS_eager_delete_tensor_gb = 0
[18:24:25]W:	 [Step 3/3] Traceback (most recent call last):
[18:24:25]W:	 [Step 3/3]   File "train.py", line 444, in <module>
[18:

[2019-08-05 00:16] kolinwei commented on #18994
怀疑 PR18836

[2019-08-05 02:31] chengduoZH commented on #18959
@minhozhou 利用率低是多少，可以给一下数字吗

[2019-08-05 04:04] Xreki opened #18995 "Add the check of lod in sequence_softmax's kernel"
该问题来自用户。用户尝试训练[PaddlePaddle/book](https://github.com/PaddlePaddle/book)中的[08.machine_translation](https://github.com/PaddlePaddle/book/blob/develop/08.machine_translation)模型，在手动交换配置中一个`elementwise_add`两个输入的顺序后，即将L62的

[code]

改成

[code]

后，训练出现

[code]

[2019-08-05 04:20] Xreki commented on #18995
该错误，很容易让人误会，训练是在`elementwise_add`中出的错。但实际出错位置并不是该op，这里分享下我判定出错位置的方法。

因为该模型，默认是使用CPU训练，所以直接在运行时设置`export GLOG_v=4`（实际训练时，请不要设置该变量），执行`python train.py`，我们将会看到Paddle中一些详细信息的输出：

[code]

一个Op如果执行完成，则会出现两次`CPUPlace Op(elementwise_add), inputs: ...`这样的打印信息，`Run`进去是打印一次，离开时打印一次。

从log中，我们可以看到，`elementwise_add`有两行打印信息，可见出错的地方并不是`elementwise_add`，而是最后的`sequence_softmax`。

被调换了两个输入顺序的`elementwise_add`，他的输入

[2019-08-05 04:26] Xreki commented on #18995
#18996 在`sequence_softmax`中添加了`lod`信息的检查之后，错误信息将变成

[code]

[2019-08-05 04:57] sneaxiy commented on #18994
该错误是挂在了BERT模型4卡处，在训练阶段第2个epoch的第70个step后报lookup_table op错。

CE运行脚本在[此处](https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/dialogue_model_toolkit/dialogue_general_understanding/.run_ce.sh)，报错信息为：
[code]

这个[PR#18836](https://github.com/PaddlePaddle/Paddle/pull/18836)将GC默认打开。但我发现BERT这个模型可能有问题，表现在：
1. 单卡运行不会报错。
2. 关闭GC后，用原CE脚本（`exec_strategy.num_iteration_per_drop_scope = 10`）不会报错；但如果将`ex

[2019-08-05 05:11] wanghaoshuang commented on #18985
@hitwangshuai 请问您的系统版本和CUDA，CUDNN版本分别是？

[2019-08-05 05:11] wanghaoshuang commented on #18985
https://github.com/xmfbit/warpctc-caffe/issues/10

[2019-08-05 05:12] wanghaoshuang commented on #18985
https://github.com/apache/incubator-mxnet/issues/9632

[2019-08-05 05:13] wanghaoshuang commented on #18985
https://github.com/SeanNaren/deepspeech.pytorch/issues/397

[2019-08-05 05:13] wanghaoshuang commented on #18985
看起来是CUDA版本的问题。

[2019-08-05 05:31] mzchtx commented on #18978
目前没有稳定复现，只有一个任务出现了这种情况，后续再出现同步给你们

[2019-08-05 06:03] lexy0093 opened #18999 "单机infer时出现grpc error"
预测代码：
place = fluid.CPUPlace()
exe = fluid.Executor(place)
[inference_program, feed_target_names, fetch_targets] = fluid.io.load_inference_model(model_path, exe)

def infer(index, feature):

    idx_data = [int(i) for i in index.split(' ')]
    fea_data = [float(i) for i in feature.split(' ')]

    idx_data = np.array(idx_data).astype('int64').reshape([1, -1, 1])
    fea_data = np.array(fea_data).

[2019-08-05 06:08] lexy0093 commented on #18999
#15224 未能解决该问题

[2019-08-05 06:30] yma-admin commented on #14640
dynamic rnn会丢掉lod信息

[2019-08-05 06:31] wangguibao commented on #18999
请参考 #15552
可能是保存模型的时候将transpiled program直接保存下来了，其中带了grpc通信OP。#15552的comments提供了一个保存模型program和参数的方法

[2019-08-05 06:39] wangguibao commented on #18993
现在还没有支持hswitch激活函数，如果着急用的话，可以自己写OP

[2019-08-05 06:45] dingsiyu opened #19002 "X2Paddle可以转换tf的NLP预训练模型至fluid版本吗，看官方示例只提供了CV的"

[2019-08-05 06:51] dingsiyu commented on #19002
![image](https://user-images.githubusercontent.com/21340925/62444590-7f465480-b790-11e9-8f48-d0bf8527af62.png)
如果tf的模型是以这种格式保存的，那是不是只需要运行这个函数就行了
python tf2fluid/convert.py --meta_file checkpoint/model.meta --ckpt_dir checkpoint \
                           --in_nodes inputs --input_shape None,224,224,3 \
                           --output_nodes vgg_16/fc8/squeezed --use_cuda True \

[2019-08-05 06:54] dingsiyu commented on #19002
https://github.com/PaddlePaddle/X2Paddle/blob/master/tensorflow2fluid/vgg_translate_tutorial.ipynb
这个是官方示例

[2019-08-05 06:58] lexy0093 commented on #18999
paddle版本：paddle-fluid-v1.4.1

网络结构：

        label = fluid.layers.data(name='label', shape=[1], dtype='int64', lod_level=0)
        index = fluid.layers.data(name='index', shape=[1], dtype='int64', lod_level=1)
        feature = fluid.layers.data(name='feature', shape=[1], dtype='float32', lod_level=1)
        droped = fluid.layers.dropout(x=feature, dropout_prob=self.dropout_prob)
        emb = f

[2019-08-05 06:59] frankwhzhang commented on #18993
这个正在合入 着急的话可以先组一个
<img width="449" alt="acef407589019d9ede8a4ac3fb06f7cc" src="https://user-images.githubusercontent.com/20274488/62444962-9cc7ee00-b791-11e9-822e-36812d510f4d.png">

[2019-08-05 07:00] frankwhzhang commented on #18993
x * fluid.layers.relu6(x+3.) / 6.

[2019-08-05 07:02] wangguibao commented on #18995
@Xreki 老师已提PR解决

[2019-08-05 07:02] jiangjiajun commented on #19002
是的，可跳过前面的步骤，直接进行转换

[2019-08-05 07:10] Hsintao commented on #18993
谢谢回复 这个是动态图的写法吗 原来paddle也可以像pytorch那样写自定义层呀

[2019-08-05 07:13] jiangjiajun commented on #19002
此外目前tf2fluid暂只支持CV类的模型，NLP模型不支持

[2019-08-05 07:24] wzzju commented on #18939
貌似 5*5下的depthwise 一直有问题。貌似之前有同学在修复，需要进一步了解。

[2019-08-05 08:10] lexy0093 commented on #18999
分布式训练，embeding加了is_sparse=True，都会在transpile时加上grpc OP，所以会出现grpc的相关错误信息

[2019-08-05 08:13] JiabinYang commented on #18977
This Problem will be fixed in #18998

[2019-08-05 08:28] wawltor opened #19006 "Paddle和caffe2，onnxruntime import冲突导致core"
![image](https://user-images.githubusercontent.com/16698950/62450003-0b12ad80-b79e-11e9-8238-228eb2aabe2c.png)

[2019-08-05 08:33] lexy0093 commented on #18999
贴一下解决办法：

这个是可以用的，只是分布式训练保存的program有问题，不能直接用于load_inference_model

我刚问了一下分布式的同学，一般用法是：
1) 分布式训练训模型并保存参数
2) 单机训练保存一份单机的main_program + 参数
3) 第1步保存的参数+第2步保存的main_program配合，用于预测

有问题指的是由于设置了is_sparse=True，增加了grpc OP，所以就不能直接用于单机预测

单机保存的program另存为__model__，放到模型参数文件夹，会替换掉分布式训练出来的__model__

[2019-08-05 09:02] CAOYUHUI commented on #17352
已解决，是paddle版本的问题，更新paddle后就没有问题了。

[2019-08-05 09:02] #17352 closed, assigned to chengduoZH

[2019-08-05 09:03] lidanqing-vv opened #19008 "Bug of `__asser_close()` function in test_batch_norm_op.py"
Paddle version: develop e53f517a449eb9eb2e9e7fd828ba4a1c8c14dfe8

In file `python/paddle/fluid/tests/unittests/test_batch_norm_op.py `, line 324
`np.allclose(np.array(tensor), np_array, atol=atol)` is not enough for checking close values. Because it  will always pass.
Should it be `self.assertTrue(np.allclose(np.array(tensor), np_array, atol=atol), msg)` ?

[2019-08-05 10:26] #17254 closed, assigned to nobody

[2019-08-05 11:35] minhozhou commented on #18959
设置cpu_num=16，batch_size=512；设置buf_size如下
[code]
cpu实际使用率在100%～200%之间，大部分时间都是100%，相当于单核在跑

[2019-08-05 11:36] lexy0093 opened #19013 "分布式pserver模式增量训练load参数错误"
按照官方文档进行增量训练：
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/training/save_load_variables.html
pserver load模型参数，trainer不用load

错误信息：

get_pserver_program() is deprecated, call get_pserver_programs() to get pserver main and startup in a single call.
Traceback (most recent call last):
  File "train_online_20190805_pserver.py", line 329, in <module>
    mcdnn_op.train()

[2019-08-05 11:47] ChenPen1 commented on #17286
请问这个问题最后是怎么解决的了？

[2019-08-05 14:10] wangguibao commented on #19013
用户pserver端load参数代码：
![3](https://user-images.githubusercontent.com/1445888/62470790-c3a41580-b7cd-11e9-8e8d-e236d6ac6ab2.PNG)

[2019-08-05 14:11] wangguibao commented on #19013
向 @seiriosPlus 老师请教，用户的load参数代码修改2个地方：
1
[code]
这里增加一个current_endpoint = current_endpoint参数
2.
[code]
最后一个参数是pserver_prog不是pserver_startup (官网文档有误，已经在修)

[2019-08-05 14:30] #18962 closed, assigned to JiabinYang, ceci3

[2019-08-05 15:59] Hsintao opened #19019 "模型压缩时 传入Compressor,运行到eval_program报告显存溢出"
train_program跑完进行eval  又分配一倍的显存
报错信息如下：
2019-08-05 11:41:41,732-INFO: Running evaluation
INFO:paddle.fluid.contrib.slim.core.compressor:Running evaluation
W0805 11:41:45.252403 28074 system_allocator.cc:121] Cannot malloc 9604.77 MB GPU memory. Please shrink FLAGS_fraction_of_gpu_memory_to_use or FLAGS_initial_gpu_memory_in_mb or FLAGS_reallocate_gpu_memory_in_mbenvironment variable to a lower val

[2019-08-06 02:24] atranitell opened #19021 "Encounter type error when running lstm()"
Python Code:
[code]

Error Hint:
[code]

-PaddlePaddle version: 1.5
-GPU: including CUDA 10.2, cudnn 7.6
-OS Platform: CentOS 7.0

[2019-08-06 02:28] sshilei opened #19022 "fluid 1.5.1 提交paddlecloud作业， PaddleCloudRoleMaker | UserDefinedRoleMaker失败"
![image](https://user-images.githubusercontent.com/18701471/62506866-daca1e00-b834-11e9-8de1-f3c7ade583c3.png)

PaddleCloudRoleMaker() endpoints: 10.104.66.32:30000

Traceback (most recent call last):

  File "frame/core/paddlecloud_cpu_trainer.py", line 142, in <module>

    ret = trainer.start(sys.argv)

  File "/root/paddlejob/workspace/env_run/frame/core/base_trainer.py", line 367, in start

[2019-08-06 02:31] wangguibao commented on #18992
看截图好像是在执行paddleHub时遇到的问题？

[2019-08-06 02:36] kebinC opened #19023 "模型结构里面出现“常数乘以op”的情况导致训练速度变慢"
version1:
[code]
version2:
[code]

version1速度要比version2 慢很多

[2019-08-06 02:36] Shixiaowei02 commented on #18868
如hi沟通，问题已修复。

[2019-08-06 02:36] wangguibao commented on #18993
Paddle fluid从1.4开始支持动态图机制，请参考这个页面：
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.4/user_guides/howto/dygraph/DyGraph.html

[2019-08-06 02:42] #18881 closed, assigned to nobody

[2019-08-06 02:43] gavin1332 commented on #19022
is it a CPU or GPU task?
could you share your submit script?

[2019-08-06 02:44] wangguibao commented on #18999
用户反馈上述方式可以解决分布式训练，单机infer的问题。该issue关闭

[2019-08-06 02:44] #18999 closed, assigned to wangguibao

[2019-08-06 02:45] Cristhine opened #19024 "paddle.fluid.core_avx.LoDTensor' object has no attribute 'name'"
预测时候出现的，预测多张图片时第二张图片出现问题；
Traceback (most recent call last):
  File "infer.py", line 155, in <module>
    infer()
  File "infer.py", line 110, in infer
    fetch_list=[outputs[0].name,outputs[1].name],
AttributeError: 'paddle.fluid.core_avx.LoDTensor' object has no attribute 'name'

代码如下：
with open('./output/test_sample_100_preprocess_data.txt', 'w') as f:
 94         for idx, image_name in enumer

[2019-08-06 02:47] #18993 closed, assigned to wangguibao

[2019-08-06 02:47] wangguibao commented on #19013
用户反馈，用上述方式修改pserver load参数的代码，可以正常工作。
该issue关闭

[2019-08-06 02:47] #19013 closed, assigned to wangguibao

[2019-08-06 02:52] phlrain commented on #19021
动态图 和静态图的api 不能混用
lstm 是静态图的api，在动态图模式下不可用，下个版本 我们会有一个error的提示

[2019-08-06 02:59] sshilei commented on #19022
CPU, 集群 。 能帮忙提供一下提交paddlecloud分布式任务的例子吗？最好提供一个1.5.1可用的，我找到一些都是基于开发版的，谢谢。

[2019-08-06 02:59] sshilei commented on #19022
@gavin1332

[2019-08-06 03:03] atranitell commented on #19021
@phlrain 好的, 想问一下动态图有支持LSTM相关的组件吗?

[2019-08-06 03:11] luzm3 opened #19026 "关于paddlehub中ernie和bert中文模型无缝切换的问题"
先贴上官方README的代码
`# 更换name参数即可无缝切换BERT中文模型, 代码示例如下
  module = hub.Module(name="bert_chinese_L-12_H-768_A-12")`
按README的说法，只需要切换那么即可，但是我在ernie能跑通的情况下，把name更换为中文的bert，却遭遇了错误。

[2019-08-06 03:13] luzm3 commented on #19026
[https://github.com/PaddlePaddle/PaddleHub/tree/release/v1.0.0/demo/sequence-labeling](url)
这是README的链接

[2019-08-06 03:20] zzchust commented on #15426
怎么通过设置FLAGS_fraction_of_gpu_memory_to_use知道单卡我可以设置的最大batchsize呢？

[2019-08-06 03:28] luzm3 commented on #19026
补个错误图
![image](https://user-images.githubusercontent.com/45001329/62509320-562fcd80-b83d-11e9-99ed-5294504a41a1.png)

[2019-08-06 03:29] luzm3 commented on #19026
这是我的代码
![image](https://user-images.githubusercontent.com/45001329/62509366-795a7d00-b83d-11e9-833b-585e78654840.png)

[2019-08-06 03:34] wanghaoshuang opened #19028 "seq2seq failed after merging PR17710"
[code]

[2019-08-06 04:12] Steffy-zxf commented on #19026
感谢反馈，这是由于 bert module 创建时和当前运行时paddle版本不一致的问题导致的。你可以尝试将paddle降级至 1.4.1。这个bug，我们正在修复。

[2019-08-06 04:40] chengduoZH commented on #18922
该问题正在修复中。

[2019-08-06 05:14] gavin1332 commented on #15426
在独占显存情况下，建议将FLAGS_fraction_of_gpu_memory_to_use设置为0.99，这样可以配置尽可能大的batch size

[2019-08-06 05:14] gavin1332 commented on #15426
在独占显存情况下，建议将FLAGS_fraction_of_gpu_memory_to_use设置为0.99，这样可以配置尽可能大的batch size

[2019-08-06 05:47] zzchust commented on #15426
已解决。

将FLAGS_fraction_of_gpu_memory_to_use设0，然后watch -n1 nvidia-smi，找到当前batch size对应的最大值，然后计算支持的最大batch size， 再将FLAGS_fraction_of_gpu_memory_to_use设为0.99

[2019-08-06 05:51] gavin1332 commented on #19024
`outputs[0]` 是Variable还是LodTensor

[2019-08-06 06:05] luzm3 commented on #19026
好的，感谢！！

[2019-08-06 06:06] sshilei commented on #19022
改成UserDefinedRoleMaker会报另外一个错误
![image](https://user-images.githubusercontent.com/18701471/62514954-75d1f080-b853-11e9-975f-6204f5658d1d.png)

[2019-08-06 06:08] sshilei commented on #19022
80         sgd_optimizer = fluid.optimizer.SGD(learning_rate=FLAGS.base_lr)
 81
 82         role = os.getenv("TRAINING_ROLE")
 83         trainer_id = int(os.getenv("PADDLE_TRAINER_ID"))
 84         num_trainers = int(os.getenv("PADDLE_TRAINERS_NUM"))
 85         #trainer_endpoints = os.getenv("PADDLE_TRAINER_ENDPOINTS")
 86         #trainer_endpoints = trainer_endpoints.split(',')
 87         por

[2019-08-06 06:09] sshilei commented on #19022
` 80         sgd_optimizer = fluid.optimizer.SGD(learning_rate=FLAGS.base_lr)
 81
 82         role = os.getenv("TRAINING_ROLE")
 83         trainer_id = int(os.getenv("PADDLE_TRAINER_ID"))
 84         num_trainers = int(os.getenv("PADDLE_TRAINERS_NUM"))
 85         #trainer_endpoints = os.getenv("PADDLE_TRAINER_ENDPOINTS")
 86         #trainer_endpoints = trainer_endpoints.split(',')
 87         p

[2019-08-06 06:09] cuicheng01 opened #19031 "改进resnet的bottleneck结构，但是总是会报illegal memory错误"
原bottleneck代码：
`    def bottleneck_block(self, input, num_filters, stride, name):
        conv0 = self.conv_bn_layer(
            input=input, num_filters=num_filters, filter_size=1, stride=1, act='relu',name=name+"_branch2a")
        conv1 = self.conv_bn_layer(
            input=conv0,
            num_filters=num_filters,
            filter_size=3,
            stride=stride,
            act='relu

[2019-08-06 06:11] sshilei commented on #19022
![image](https://user-images.githubusercontent.com/18701471/62515156-08728f80-b854-11e9-988b-8498e1f1484d.png)

[2019-08-06 06:44] #19026 closed, assigned to nobody

[2019-08-06 07:00] luzm3 commented on #19026
把版本换至1.4.1，问题已解决

[2019-08-06 07:12] Steffy-zxf commented on #18992
感谢反馈，看错误截图，发现paddle 版本为1.2。 出现这个错误的原因是paddle 1.2下没有cpu_place这个接口。可以将paddle升级至1.4以上的版本。另外有关PaddleHub的问题，欢迎在PaddleHub仓库下提issue （https://github.com/PaddlePaddle/PaddleHub）。

[2019-08-06 07:35] Xreki opened #19034 ""use_fast_math" makes our GPU precision of some op, such as sin, lower than TensorFlow"
Paddle的CUDA代码编译默认使用了`--use_fast_math`，这个选项会导致一些计算的精度偏低。

https://github.com/PaddlePaddle/Paddle/blob/de975be1ece292537b7b2f650dc58de5bf500583/cmake/cuda.cmake#L189-L192

我们对比了Paddle、TensorFlow和numpy计算结果的diff，使用如下代码：
[code]

使用Paddle develop代码（commit：81fe02c3fec82c5249bd143f96d0f4c98bf247ce）运行结果如下：
- Paddle GPU：
[code]

- Paddle CPU：
[code]

- TensorFlow GPU：
[code]

Paddle CPU、TensorFlow GPU与numpy

[2019-08-06 07:36] Xreki commented on #19034
- 去掉CUDA的`--use_fast_math`编译参数之后，Paddle GPU的运行结果：
[code]

[2019-08-06 07:42] gavin1332 commented on #19031
1. 不要使用显存优化，使用export FLAGS_eager_delete_tensor_gb=0.0

[2019-08-06 07:44] gavin1332 commented on #19031
2. 能否增量调整网络？在正确的运行的基础上一层一层地修改，确保每次修改模型都能正常运行？

[2019-08-06 07:45] gavin1332 commented on #19031
从你提供的代码里没有看到明显的问题，希望能通过上述建议先检查一下。

[2019-08-06 07:47] Xreki commented on #19034
一些跟`use_fast_math`相关的已知问题：
- 当x为负数时，pow op出现NaN，修复的PR https://github.com/PaddlePaddle/Paddle/pull/14715 https://github.com/PaddlePaddle/Paddle/pull/13807 @chengduoZH
- `use_fast_math`的精度对比，https://github.com/PaddlePaddle/Paddle/issues/13847 @luotao1
- 去掉`use_fast_math`导致CE中若干模型fail，https://github.com/PaddlePaddle/Paddle/issues/13771 @luotao1

[2019-08-06 07:49] gavin1332 commented on #19023
how about
[code]

[2019-08-06 08:42] Gaffey commented on #18812
您好，请问这个问题目前有初步结论了吗

[2019-08-06 08:44] phlrain commented on #19021
https://github.com/PaddlePaddle/models/tree/develop/dygraph/ptb_lm
请参考这个模型的实现方式

[2019-08-06 08:58] #18995 closed, assigned to nobody

[2019-08-06 09:00] Cristhine commented on #19024
是LodTensor  打印了一下到第二张图就是这样显示('outputs', [<paddle.fluid.core_avx.LoDTensor object at 0x7fd7abcad3e8>, <paddle.fluid.core_avx.LoDTensor object at 0x7fd7abcad308>])
第一张图显示很正常，是这样的('outputs', [name: "multiclass_nms.tmp_0"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: 22743
      dims: 6
    }
  }
}
persistable: false
, name: "softmax_0.tmp_0"
type {
  type: LO

[2019-08-06 09:03] #19024 closed, assigned to nobody

[2019-08-06 09:15] cuicheng01 commented on #19031
您说export FLAGS_eager_delete_tensor_gb=0.0我使用过了，忘记在备注里说明了，关于您说的第二代呢，现在的情况是可以运行，但是不知道会在什么时候突然断掉，也许刚开始，也许训练几天。

[2019-08-06 09:15] cuicheng01 commented on #19031
您说export FLAGS_eager_delete_tensor_gb=0.0我使用过了，忘记在备注里说明了，关于您说的第二点呢，现在的情况是可以运行，但是不知道会在什么时候突然断掉，也许刚开始，也许训练几天。

[2019-08-06 09:18] blinkblinkhl opened #19037 "Mac OS capi编译错误"
- 版本、环境信息：
    1）PaddlePaddle版本：release/1.5
    2）CPU：Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
    3）GPU：无
    4）系统环境：Mac OS 10.14
- 安装方式信息：

2）本地编译：
PADDLE_ROOT=/path/of/capi
git clone https://github.com/PaddlePaddle/Paddle.git
cd Paddle
mkdir build
cd build
cmake -DFLUID_INFERENCE_INSTALL_DIR=$PADDLE_ROOT \
      -DCMAKE_BUILD_TYPE=Release \
      -DWITH_PYTHON=OFF \
      -DWITH_MKL=OFF \

[2019-08-06 09:20] yuanquan123 opened #19038 "文本分类，指定文本长度之后如何进行lstm编码"
cc = fluid.layers.data(name='cc', shape=[-1, 64, 1], dtype='int64', lod_level=1)
cc_emb = fluid.layers.embedding(
            size=[word_dict_len, 96],
            input=cc,
            param_attr=fluid.ParamAttr(name='w_emb', trainable=True))
forward_hidden_state = fluid.layers.dynamic_gru(input=cc_emb, size=32)
如上代码，我将文本数据padding的固定长度，然后进行embedding，这时的shape是[-1, 64, 96]，然后通过gru编码后直接变成[-1, 32]。

[2019-08-06 09:37] 18628271760 opened #19039 "关于提供C#接口的建议"
paddle团队 你好，
我是paddlepaddle学习者，对paddlepaddle平台很看好。但是在对公司领导和其它业务部门推荐时，大家反馈paddlepaddle平台文档不全，并且对其它语言的接口较少。我公司涉及对视频图像处理的业务较多，对C#/C++接口有强烈需求。建议在1.6版本推出C#/C++接口，以便加快项目落地。

[2019-08-06 09:52] OleNet opened #19041 "paddlepaddle如何实现在指定维度选择数据的功能"
pytorch有一个指定维度选择数据的功能，如：
https://discuss.pytorch.org/t/selecting-over-dimension-by-indices/14595
paddle怎么实现呢

[2019-08-06 10:10] gavin1332 commented on #19038
不用显示指定长度，输入数据保障就行，dynamic_gru操作的是lodtensor，这个数据结构在表示时是二维向量而不是三维向量

[2019-08-06 10:20] Yukizzz opened #19042 "分布式设置参数trainable=False，训练结束参数内容发生改变"
设置了某个参数trainable=False，但是load init_model之后，训练完保存下来的参数和我load的那个init_model里面的参数不一样，

od -j 28 -f init_model/fc_5.w_0  | head -10
0000034      0.58095753      0.39794534       1.0153178     -0.80564636
0000054       0.8599262       0.2186901    -0.029506208       -1.250106
0000074       -2.276074      -1.8533763      0.43813547      -1.8273996
0000114       0.7638257      0.83346057      -3.1954935

[2019-08-06 10:41] yuanquan123 commented on #19038
可是如果我不指定长度，我想将gru编码过后的向量进行self-attention的计算的话，应该怎么实现呢。

[2019-08-06 11:14] imistyrain opened #19043 "如何比较两个__model__文件"
从别的框架转过来一个模型，是fluid那种合成两个文件存储的，有1M左右。将其转换成每个参数单独存的文件，一共有300多个文件，大小总共有2M。而在此基础上再转回至两个文件的模型时大小变成了1.6M，经过对比发现，params文件大小是一致的，只是__model__文件由原来的100多K变成了600多K，有什么方法能对__model__的结构进行解析吗？

[2019-08-06 11:16] kebinC commented on #19023
shape为 1x1 ， 没办法做broadcast，node[i]的shape（-1， C，scale， scale）

[2019-08-06 11:21] jiangbojian opened #19044 "调用fluid.io.save_inference_model时，保存目录只有__model__文件，__params__文件不存在，并报段错误。"
paddle1.5  +  python2.7  +  GPU(v100 16G)
有过同学提出过类似的问题
https://github.com/PaddlePaddle/Paddle/issues/18250
解决方法是paddle从1.3.0升级至1.3.1就可以解决。

我使用的paddle版本是1.5，也出了这个问题，是什么原因呢？

[2019-08-06 11:55] Yukizzz commented on #19042
只load参数不训练直接保存的话，设置trainable=False的，参数会变。但是走默认配置，也就是 trainable=True的，参数不会变，
 od -j 28 -f output/pass-2/fc_8.w_0 | head -10
0000034     -0.67836773     -0.09785643      0.28790843      0.29802382
0000054       0.9142786       1.1055115       2.4652376       -1.459549
0000074       0.5780221       0.7414768       1.5961243       1.2324945
0000114       1.2719272       1.0017662    -0.071284086

[2019-08-06 13:01] liuguolian opened #19045 "相同参数多次save模型后infrence的结果不一样"
跑ernie开源的那个模型代码，代码里train的时候是用的save_persistables保存模型训练变量，inference的时候先load的训练保存的params后，执行save_inference_model保存模型再执行load_inference_model做预测，发现每次save_inference_model的模型用来预测结果都不一样，现在不知道哪次是对的哪次是错的。。

[2019-08-06 15:16] grygielski commented on #18658
I guess Jacek meant that You are running models on Broadwell (BDW) architecture: https://en.wikipedia.org/wiki/Broadwell_(microarchitecture). It doesn't support AVX-512 processor operations (https://en.wikipedia.org/wiki/Advanced_Vector_Extensions) so it uses older ones which have different data formats (e.g. NCHW instead of NCHW16C). @luotao1

[2019-08-06 16:03] Hsintao opened #19047 "一处小BUG？"
paddle/fluid/contrib/slim/core/compressor.py中
142 行 with open(file_name) as context_file:
改为 with open(file_name,'rb') as context_file:

不改我这边会报错UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0
无法加载checkpoint

[2019-08-06 17:30] fire717 opened #19048 "win10 2070super 安装完GPU版本后，检测安装是否完好时出错"
   1）PaddlePaddle版本：paddlepaddle-gpu==1.5.1.post97
    2）CPU：i7-9700kf
    3）GPU：2070super，CUDA9.0, CUDNN7.6.1
    4）系统环境：win10、Python3.7
- 安装方式信息：pip安装
     
- 问题描述：在win10上安装时参考官网，https://www.paddlepaddle.org.cn/start。报错。

[code]

[2019-08-07 01:02] gavin1332 commented on #19048
已反馈，请等待答复

[2019-08-07 01:12] gavin1332 commented on #19047
感谢反馈

[2019-08-07 01:46] kk12333 opened #19049 "使用PaddleSlim进行uniform剪裁mobilenet v2模型，训练loss出现nan"
   1）PaddlePaddle版本：paddle-fluid-v1.4.1
    2）CPU：无
    3）GPU：cuda8.0，cudnn7.5
    4）系统环境：CentOS release 6.10
- 训练信息
    1）单机4卡 P40
    2）显存：单P40卡显存16G左右
    3）op情况：官网mobilenet v2结构涉及的op
- 问题描述：用PaddleSlim官网uniform pruning的demo，修改为mobilenet v2模型，并修改对应的.yaml配置，直接启动剪裁，finetune出现loss nan

剪裁配置如下：
![image](https://user-images.githubusercontent.com/17851313/62588380-21348100-b8f8-11e9-9c4c-57962f9b29b4

[2019-08-07 02:02] luotao1 commented on #18658
Got it. We use E5-2650 v4 CPU, which only support AVX2.

[2019-08-07 02:11] gavin1332 commented on #19047
https://github.com/PaddlePaddle/Paddle/blob/e5b9753a1895e7221a05e4d15787dd8b720eaad0/python/paddle/fluid/contrib/slim/core/compressor.py#L142

[2019-08-07 02:13] gavin1332 commented on #19047
@wanghaoshuang 辛苦确认一下这个地方是否有问题

[2019-08-07 02:18] wanghaoshuang commented on #19047
是的，在某些编码环境下确实是个bug，我们会尽快修复。多谢反馈。

[2019-08-07 02:21] seiriosPlus commented on #19022
1. 使用的是 transpiler模式还是pslib模式
2. 可以基于develop进行测试和效果验证

[2019-08-07 02:28] SunlerZRY commented on #7820
How do you fix the problem?