[2022-11-11 02:58] wangzihe1996 opened #47873 "bug：paddle.Tensor的阶数最大不能超过9"
### bug描述 Describe the Bug

paddle.Tensor的最大阶数不能超过9。而NumPy、PyTorch、TensorFlow均支持。

测试代码如下：

[code]

环境版本：

- paddle：2.3.0
- numpy：1.21.3
- torch：1.8.0
- tensorflow：2.10.0

该功能对于量桨来说特别重要。量桨中的量子态本质上是一个高阶的tensor，而tensor阶数无法超过9会使量桨无法计算大规模的问题，望尽快修复。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-11 02:59] mandylyin opened #47874 "2.4.0-rc0.post111，paddle.utils.run_check()说正常，但是跑paddlespeech说CUDA error(100), no CUDA-capable device is detected"
环境：ubuntu18.04， paddlepaddle==2.4.0-rc0.post111，PaddleSpeech开发版。

1、paddle安装成功

Running verify PaddlePaddle program ...
W1111 09:50:22.246316 29321 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.2, Runtime API Version: 11.1
W1111 09:50:22.251258 29321 gpu_resources.cc:91] device: 0, cuDNN Version: 8.2.
PaddlePaddle works well on 1 GPU.
/home/zkyd/a

[2022-11-11 03:37] ZhuoranLyu opened #47877 "paddle.jit.load can not load a model saved by paddle.jit.save"
### bug描述 Describe the Bug

Cannot load a model saved by paddle.jit.save using paddle.jit.load

[code]
backtrace:
[code]

### 其他补充信息 Additional Supplementary Information

Python version:  3.10.6
Paddlepaddle version: 2.3.1

[2022-11-11 04:47] DLlearn opened #47880 "paddle.create_parameter 使用时shape 可以与 paddle.nn.initializer.Assign里数据shape完全不同"
### bug描述 Describe the Bug

我看了一段Pytorch reparameter中的代码，需要修改某一层的参数，然后就找paddle中的实现，发现 paddle.create_parameter中shape与paddle.ParamAttr(initializer=pnn.initializer.Assign(init))同时使用时，shape就无用了，还不能不指定。看一下是否有问题。
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-11 05:49] zhwesky2010 commented on #47880
@DLlearn 你好，Assign这个initializer会使用传入的numpy的shpae重新设置一遍Tensor的shape。目前就是前面的shape和后面的shape不一致时，确实没有做这个匹配检测报错。会以后面的Assign的shape为准

[2022-11-11 06:28] fanxiaochen456 commented on #47694
@iclementine 您好，使用自带的opencv出现了以下错误：
![图片](https://user-images.githubusercontent.com/101849755/201277252-eac62c36-4db0-4fe1-bd57-9373adc6287f.png)
我使用的是ARM32的linux平台，这是我使用的build.sh
![图片](https://user-images.githubusercontent.com/101849755/201277343-5c6b30c0-6758-416c-b2b4-fba0aa069918.png)
这是我的CMakeLists.txt
![图片](https://user-images.githubusercontent.com/101849755/201277423-f6fdf3f8-21e0-4185-860e

[2022-11-11 06:44] DLlearn commented on #47880
@zhouwei25 你好，像我的代码中，想要修改 卷积层中的参数，只能使用paddle.create_parameter这个api吗？有没有类似torch nn.Parameter这种能少写点参数的api? 我了解tensorflow中更简单，直接“=“，赋值。

[2022-11-11 08:02] YuanRisheng commented on #47877
从上边已经贴出来的代码中，我本地没有复现问题，可以正常save和load，或许你需要检查一下其他地方的代码，提供一下更详细的信息

[2022-11-11 08:32] #47788 closed, assigned to pangyoki

[2022-11-11 08:56] SigureMo commented on #47871
应该是中文文档缺失，点击侧边栏内容后没有更新 @Ligoml

<img width="275" alt="image" src="https://user-images.githubusercontent.com/38436475/201302744-55b12d00-58ab-4bb8-a072-451f7decd59d.png">

中文文档里没有发现这个文件

可以先参考英文文档 https://www.paddlepaddle.org.cn/documentation/docs/en/api/paddle/create_parameter_en.html

[2022-11-11 09:06] zhwesky2010 commented on #47819
@masamimayu  我用 `os.system("{} -m pip install paddlepaddle-gpu==2.3.2.post116 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html".format(sys.executable))` 跑通了

![infoflow 2022-11-11 17-05-46](https://user-images.githubusercontent.com/52485244/201305626-95297490-a39a-4b62-bdb3-225a03226b20.png)

[2022-11-11 09:10] hong19860320 commented on #47694
我看了下 Paddle-Lite-Demo 没有提供 armlinux 版本的human_segementation 的 demo ，只提供了 Android 和 ios的，你是准备自己迁移到 armlinux 时遇到问题了吗?

[2022-11-11 09:22] fanxiaochen456 commented on #47694
@hong19860320 是的，现在那个问题没有了，他出来了一个新的错误，
![图片](https://user-images.githubusercontent.com/101849755/201308630-66866283-61fe-4501-9776-51da2faf925e.png)
这是要指定他的device吗？

[2022-11-11 09:23] fanxiaochen456 commented on #47694
@hong19860320 我的实际应用平台是选用的linux平台，然后使用的算法是paddle-seg，就想使用paddle-lite在linux平台的开发板上部署paddleseg

[2022-11-11 09:28] hong19860320 commented on #47694
你要改下 run.sh 脚本，它是为 android 准备的，建议看看 fastdeploy https://github.com/PaddlePaddle/FastDeploy

[2022-11-11 09:39] fanxiaochen456 commented on #47694
@hong19860320 您好，请问可以提供一个fastdeploy具体的参考案例吗，就是run.sh

[2022-11-11 10:01] #47819 closed, assigned to pangyoki

[2022-11-11 11:00] bujianyiwang opened #47903 "temporal_shift有C++底层实现代码吗？"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

### 替代实现 Alternatives

_No response_

[2022-11-11 13:59] SalvoPisciotta commented on #46233
Same problem, did you manage to solve it?

[2022-11-11 15:28] violetweir opened #47905 "关于自建激活函数训练速度过低的问题"
### 请提出你的问题 Please ask your question

我想用StarRELU 替换GELU但是 paddle库中没有starrelu所有我就自己写的一个starrelu，理论上starrelu的操作复杂度是低于GELU的但是现在的情况是当我把Starrelu替换成GELU之后，训练速度大幅降低，但是在eval阶段速度又正常了。
![image](https://user-images.githubusercontent.com/78856426/201371933-23df3bba-67ea-4ff6-bfcc-d51bec6f0760.png)
这个是我写的starrelu的类，麻烦·问一下如果才能让他的速度提升

[2022-11-12 04:51] Genlk opened #47906 "调用quanter.save_quantized_model报错，求助----"
### 请提出你的问题 Please ask your question

使用nn.Layer 自己组网之后
构建网络net = Mynet()
插入量化算子
quanter = QAT(config=quant_config)
quanter.quantize(net)
----------------------------------------------------------------------------
启动训练，经过1个epoch可以正常保存模型（paddle.save(net.state_dict(), "./best_model"）
![image](https://user-images.githubusercontent.com/24912927/201457484-00ace0aa-3c1a-4833-ac7b-1fc61b953449.png)
如上图，

[2022-11-13 13:05] minutes1999 commented on #47832
一样出来了问题，roberta base分类模型，3090TI 24G现存，前100step 显存占用20G，但是下一个step就爆显存了。试着把batchsize减小到原来一半，前100step占用13G现存，下一个step还是飙升到24G 然后爆显存

[2022-11-14 00:54] sxl1007 opened #47912 "2.4推断库是否有支持CUDA11.0的版本？"
### 请提出你的问题 Please ask your question

看到源码已经更新到2.4.0，但是可以下载的推断库版本没有支持CUDA11.0的，请问2.4.0是否支持CUDA11.0，如果支持，是不是只能自己源码编译了？还是有可以下载的地方？
![image](https://user-images.githubusercontent.com/42663550/201554417-81ed5308-9327-472e-b6cf-b9715c8a2689.png)

[2022-11-14 01:37] 670133189 opened #47913 "无法执行 predictor.run()，报错 zsh: segmentation fault"
### bug描述 Describe the Bug

MacOS Ventura 13.0
paddlepaddle==2.3.2

无法执行 predictor.run()，报错 zsh: segmentation fault

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-14 01:37] 670133189 commented on #47913
北京马拉松选手微纪录片已开放下载，下载方式请查看北京马拉松官方公众号进行下载视频。完赛辛苦！北京马拉松官方公众号推文：https://mp.weixin.qq.com/s/UTnub4DadfrlorDGHLIQlQ轲影像

[2022-11-14 01:42] parap1uie-s commented on #47828
不是量化模型，在一些情况下模型的label是uint8类型的数据，当然可以写astype去做类型转换。

但就API的行为而言，不支持uint8是一个挺奇怪的事情，因为numpy侧是支持的。

[2022-11-14 02:06] ZhuoranLyu commented on #47877
没事了 这个是因为计算图没有参数需要保存，Python3.8会在保存时候正常报错，Python3.10可能有点问题保存时候不报错

[2022-11-14 02:06] #47877 closed, assigned to zhwesky2010

[2022-11-14 02:14] cxy229 opened #47915 "数据并行是否支持 IterableDataset"
### 请提出你的问题 Please ask your question

https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/06_distributed_training/data_parallel/principle_and_demo_cn.html

你好，文档上数据并行，需要用 DistributedBatchSampler，只支持 paddle.io.Dataset
数据量很大，无法用Dataset全部读入，请问 IterableDataset 要怎么数据并行呢？

[2022-11-14 03:08] haozech commented on #47906
您好，报错信息看起来是数据类型错误，可以修改您设置的'float32'为其他您期望量化到的数据类型再试试。

[2022-11-14 03:35] littletomatodonkey commented on #47912
你好，这边应该没有现成的，需要自己编译下

https://www.paddlepaddle.org.cn/inference/v2.3/user_guides/download_lib.html

[2022-11-14 03:35] littletomatodonkey commented on #47913
你好，麻烦提供下可以复现的最小脚本，我们这边复现看下

[2022-11-14 03:57] littletomatodonkey commented on #47915
你好，可以用num_workers加速，但是每个子进程都会维护一个完成iterabledataset，一个epoch数据会重复num_workers份

另外就是也可以参考这里的内容进行数据划分

https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/io/IterableDataset_cn.html#iterabledataset

[2022-11-14 04:30] zhwesky2010 commented on #47880
@DLlearn 只有这个API可以创建参数。另外如果 修改初始化方式可以吗？你可以指定paddle.nn.Conv2D的weight_attr

[2022-11-14 04:39] zhwesky2010 commented on #47905
@violetweir 你好，原来gelu只有一个op，是在c++层运算。你这个在python层实现的，需要调用三个op：mul、square、add，速度是可能比原来慢一些的。如果在C++层实现OP 就会快一些

[2022-11-14 04:40] zhwesky2010 commented on #47903
@bujianyiwang 请问是指这个 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/phi/kernels/cpu/temporal_shift_kernel.cc 吗

[2022-11-14 04:52] zhwesky2010 commented on #47874
@mandylyin 这个问题一般需要排查下环境问题，是不是不同的环境、或不同的python；另外如果直接跑 `paddle.ones([0, 0, 0], dtype=paddle.bool)` 会报这样的错吗

[2022-11-14 05:03] 670133189 commented on #47913
https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.5/doc/doc_ch/quickstart.md
执行：`paddleocr --image_dir ./imgs/11.jpg --use_angle_cls true --use_gpu false`

https://paddledetection.readthedocs.io/tutorials/QUICK_STARTED_cn.html
执行：`python tools/infer.py -c configs/ppyolo/ppyolo.yml -o use_gpu=true weights=https://paddlemodels.bj.bcebos.com/object_detection/ppyolo.pdparams --infer_img=demo/00

[2022-11-14 05:19] cxy229 commented on #47915
感谢，请问有没有一个用 iterabledataset 的分布式多级多卡的demo呢? 这个文档上看着只提供了单卡多进程加载数据的写法。

[2022-11-14 05:19] cxy229 commented on #47915
感谢，请问有没有一个用 iterabledataset 的分布式多级多卡的demo呢? 这个文档上看着只提供了单卡多进程加载数据的写法。

[2022-11-14 05:47] ainndejj11 opened #47924 "PaddleDetection和PaddleOCR C++代码打包镜像后推理报错"
### 请提出你的问题 Please ask your question

PaddleDetection+PaddleOCR 调用C++代码时，在镜像外测试没问题，使用Tensorrt也能跑通，然后相同的代码和paddle_inference推理库打包镜像后运行，就报错，用CPU或者GPU/Tensort都是这个错误，请问这是什么原因？

错误信息如下：
I1114 02:11:43.964516    37 analysis_config.cc:1044] In CollectShapeInfo mode, we will disable optimizations and collect the shape information of all intermediate tensors in the compute graph and calculate the min_shape,

[2022-11-14 06:02] #47871 closed, assigned to zhwesky2010

[2022-11-14 06:30] xianyu211 opened #47928 "在部署ser多输入模型时，推理阶段，auto input_names = predictor_->GetInputNames(); 报错；"
### bug描述 Describe the Bug

部署的ser模型有五个输入，定义了：std::vector<std::string> input_name_ = {"x_0", "x_1", "x_2", "x_3", "x_4"};
将五个输入依次通过：inputs->push_back(std::move(x_0))；...inputs->push_back(std::move(x_4))，送入inputs中
再进行模型推理时，执行到  auto input_names = predictor_->GetInputNames(); 报错；
显示Segmentation fault.
0x00007fffa840d9bf in paddle_infer::Predictor::GetInputNames[abi:cxx11]() () from /mnt/ssd1/lideyin

[2022-11-14 08:01] Shrinco commented on #45924
我在Windows下使用 paddle 2.3.2 cuda11.6训练时同样出现了这个错误，请问目前解决了吗

[2022-11-14 08:02] yeyupiaoling commented on #45924
我安装cuda 10.2版本就可以了

[2022-11-14 08:03] fanxiaochen456 commented on #47694
@hong19860320 您好，加载模型出现了以下错误：model.nb不可识别的文件格式

[2022-11-14 08:47] wangzihe1996 opened #47943 "protobuf版本问题"
### 请提出你的问题 Please ask your question

目前paddle对protobuf的版本要求是`protobuf>=3.1.0, <=3.20.0`，但是自从2022年5月28日发布4.21.1以来，已经更新至了最新的4.21.9。目前paddle是否有对protobuf4版本的支持计划。protobuf版本限制在3.x，对于和其它包的并存产生了很大的影响，对于量桨（Paddle Quantum）的安装也造成了很大的问题。望解决，感谢。

[2022-11-14 08:57] littletomatodonkey commented on #47913
先执行下`paddle.utils.run_check()`看下是否为环境问题吧

[2022-11-14 08:57] littletomatodonkey commented on #47913
上面的脚本我本地执行没有问题，建议mac用conda虚拟环境，环境会方便管理一些

[2022-11-14 08:58] littletomatodonkey commented on #47928
你用netron看下是否需要5个输入呢？我记得vi-layoutxlm的话，只需要4个输入，不需要个图像信息了

[2022-11-14 09:01] #47873 closed, assigned to zhwesky2010

[2022-11-14 09:01] littletomatodonkey commented on #47915
目前应该还没有，多卡的话，需要根据get_rank()去判断当前的card id，再去做数据切分~

[2022-11-14 09:13] shiyutang opened #47947 "paddle.gather 返回uninitialize Tensor"
### 请提出你的问题 Please ask your question

输入x 为[100, 151], axis=1, index=Tensor([2,4,16])
期望返回:
Tensor(xxx, shape=[100, 3])
实际返回：
unintialized tensor
操作如下：
<img width="501" alt="image" src="https://user-images.githubusercontent.com/34859558/201620848-3307a7c4-c717-4558-a5ad-3f40fd5157d0.png">
但在python中使用没有报错：
<img width="518" alt="image" src="https://user-images.githubusercontent.com/34859558/20162102

[2022-11-14 09:45] shiyutang commented on #47947
已经解决，实际index类型不应为float tensor 应该为int tensor，建议是否应当加上dtype判断，否则debug过程会很漫长。

[2022-11-14 09:45] jyjy007 opened #47950 "安装paddle-gpu无法识别gpu"
### 问题描述 Issue Description

paddle团队你们好。我最近购置一台新电脑，win10系统，配置了3070ti独立显卡。在python pip安装paddlepaddle==2.3.2和paddlepaddle-gpu==2.3.2后，使用rocketqa等开源项目均无法使用gpu。
print(paddle.device.get_device())，始终返回结果为cpu。
我在网上查了不少资料，把cuda版本切换过11.2/11.0/10.2，并更新对应cudnn版本，python版本试了3.9和3.8，也配置了环境变量，均没有成功。
今天试了安装cuda11.0对应的tensorflow2.4，可以识别出gpu。
之前用公司配置好的环境，cuda10和11，均没有问题，可以使用paddlenlp等项目。
不知道还有什么遗漏，请官方大佬们给个回应？

### 版

[2022-11-14 10:28] littletomatodonkey commented on #47924
C++打包镜像，这块之前没有尝试过，建议在镜像里直接编译试下哈

[2022-11-14 10:33] littletomatodonkey commented on #47943
收到，我们看下~

[2022-11-14 10:47] littletomatodonkey commented on #47950
你好，可以先把paddlepaddle与paddlepaddle-gpu都卸载掉，然后重新安装paddlepaddle-gpu就好

[2022-11-14 11:06] pangyoki commented on #47943
你好，具体有什么影响可以给一个例子或者报错出来吗？量桨支持protobuf 4.x版本了吗？
我们会结合这些影响面评估这个需求，谢谢。

[2022-11-14 11:16] wangzihe1996 commented on #47943
[量桨](https://github.com/PaddlePaddle/Quantum)目前支持通过[量易伏](https://github.com/baidu/QCompute)来连接到量子计算机，量易伏是目前量桨所必须依赖的一个包。但是，[量易伏的protobuf的要求](https://github.com/baidu/QCompute/blob/master/setup.py)是protobuf4。因此希望飞桨也提供对protobuf4的支持。

量桨本身是基于飞桨的一个量子机器学习平台，因此本身没有对protobuf的要求。

[2022-11-14 11:29] tandangzuoren opened #47957 "paddle功能对应torch_geometric问题"
### 请提出你的问题 Please ask your question

from torch_geometric.data import Batch
from torch_geometric.data import Data
from torch_geometric.nn.conv import MessagePassing
from torch_geometric.typing import Adj
from torch_geometric.typing import OptTensor
from torch_geometric.typing import Size
from torch_geometric.utils import softmax
from torch_geometric.utils import subgraph

您好，请问torch程序中用到图结构相关包，pa

[2022-11-14 12:30] pangyoki commented on #47943
好的，了解了，我们会尽快进行protobuf升级的评估，谢谢。
另外想问下，如果把量易伏的protobuf版本限制到3.x版本，使用会报错吗？

[2022-11-14 15:18] littletomatodonkey commented on #47957
你好，可以参考PGL以及里面的相关issue哈
https://github.com/PaddlePaddle/PGL/issues/447

[2022-11-15 02:12] jyjy007 commented on #47950
你好，已经解决了。。。

[2022-11-15 02:22] wuyefeilin commented on #47565
除了'area'模式其它可以正常使用

[2022-11-15 02:22] #47950 closed, assigned to littletomatodonkey

[2022-11-15 02:26] littletomatodonkey commented on #47924
或者可以直接新建一个基于paddle的docker，在里面去做部署

[2022-11-15 03:09] Birdylx opened #47982 "matmul operator is much much slower than torch and numpy"
### bug描述 Describe the Bug

paddle.matmul在文档说明中表示和numpy行为一致，但是在高维（7维）tensor计算的时候速度比numpy计算慢很多，matmul应该是最常用的op，这个速度上为什么会这么慢呢？
![8d60e00a059b54e5d40f3a2cdf16025d](https://user-images.githubusercontent.com/29754889/201816907-fc6d18a1-1e12-4b49-87bd-d3d1a85d5b32.png)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-15 03:46] jyjy007 opened #47987 "paddlepaddle-gpu对应cuda版本问题"
### 问题描述 Issue Description

我的显卡是3070ti，切换了很多次的cuda版本，10.2/11.0/11.2都试过，但是一直有问题。

cuda10.2：
运行某模块后报错：
[code]
网上搜了一下，可能是cuda10.2不匹配目前的3070ti的gpu

cuda11.0/11.2：
运行某模块后报错：
[code]
看起来识别cuda版本没识别到？
但是nvcc -V查看版本是对的:
[code]
cudnn我也下载了8.1.1，并拷贝了相关文件到cuda的对应目录。
环境变量应该也是对的：
[code]

请帮忙看看这是什么问题？

### 版本&环境信息 Version & Environment Information

paddlepadle-gpu==2.3.2
cuda==11.2.0
cudnn==8.1.1
gpu==3070ti
os=

[2022-11-15 04:40] DrRyanHuang opened #47991 "paddle Tensor alternative API about `record_stream`"
### 请提出你的问题 Please ask your question

Hi, could you please tell me where an alternative `Tensor.record_stream` API is, which just like `torch.Tensor.record_stream`?

I need control the corrent Stream just like this:

[code]

`samples` is a Paddle Tensor

[2022-11-15 05:51] ainndejj11 opened #47994 "运行PaddleOCR C++代码时，显存占用很高。"
### 请提出你的问题 Please ask your question

运行PaddleOCR  C++代码时，将gpu_mem参数设置成=500
1.使用GPU进行运行推理，加载图片时候，显存先占大约1.3G，然后涨到1.9个G (无论gpu_mem设置多少，都是稳定显存占用1.9G)
2.然后使用Tensorrt运行推理，显存占用大约3.6G。

请问：为什么使用Tensorrt后，显存会占用这么高？      有什么方法能降低显存占用么？

[2022-11-15 06:00] DrRyanHuang opened #47995 "[BUG] bool Tensor cat not support flatten in version `2.4.0-rc0`"
### bug描述 Describe the Bug

It seems that  Tensor can't handle bool flatten in Paddle 2.4.0-rc0.

Paddle Version: '2.4.0-rc0'

CPU version:
[code]
[code]

GPU version:
[code]
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-15 06:37] #36939 closed, assigned to FeixLiu

[2022-11-15 06:37] #36955 closed, assigned to nobody

[2022-11-15 06:37] #37010 closed, assigned to nobody

[2022-11-15 06:37] #37105 closed, assigned to nobody

[2022-11-15 06:37] #37115 closed, assigned to nobody

[2022-11-15 06:37] #37116 closed, assigned to nobody

[2022-11-15 06:37] #37134 closed, assigned to nobody

[2022-11-15 06:37] #37137 closed, assigned to nobody

[2022-11-15 06:37] #37178 closed, assigned to ronny1996

[2022-11-15 07:01] #47912 closed, assigned to littletomatodonkey

[2022-11-15 07:17] wangzihe1996 commented on #47943
我们跟量易伏团队沟通过，他们如果降低版本会遇到不兼容问题，因此无法降低。不知飞桨是否可以提供对更高版本的支持。

[2022-11-15 07:57] hong19860320 commented on #47694
可以先看下 Paddle Lite 文档 https://www.paddlepaddle.org.cn/lite/develop/guide/introduction.html，model.nb 是paddle lite的模型，你把详细的错误log和代码发一下，建议在 Paddle Lite repo 提下 issue

[2022-11-15 09:27] wawltor commented on #47982
好的，我们排查一下

[2022-11-15 09:47] jingsongliujing commented on #47994
建议进行模型剪枝，蒸馏，或者参考paddle的推理框架：https://github.com/PaddlePaddle/FastDeploy

[2022-11-15 09:49] xianyu211 opened #48009 "ser c++ 推理时输入报错 Variable value (input) of OP(fluid.layers.embedding) expected >= 0 and < 1024, but got 116748592. Please check input value； Expected ids[i] < row_number, but received ids[i]"
### bug描述 Describe the Bug

在进行serc++推理时，五个输入都定义成了模型输入类型要求的int64，然后传入ser模型输入，在推理时报错
'''
InvalidArgumentError: Variable value (input) of OP(fluid.layers.embedding) expected >= 0 and < 1024, but got 116748592. Please check input value.
  [Hint: Expected ids[i] < row_number, but received ids[i]:116748592 >= row_number:1024.] (at /paddle/paddle/phi/kernels/cpu/embedding_kernel.cc:63)
  [operator < loo

[2022-11-15 09:51] leeleolay commented on #47357
I upload float32 model in this repo , please check it https://github.com/leeleolay/deep_md_test/tree/main/modelfp32.ckpt
the result of running LAMMPS looks like normal, but the lammps is terminated after running 10 steps. the error info is listed following link and it looks that relates to paddle op.
[error.txt](https://github.com/PaddlePaddle/Paddle/files/10011572/error.txt)

[2022-11-15 09:54] jingsongliujing commented on #47994
量化加速参考：https://github.com/PaddlePaddle/FastDeploy/blob/develop/docs/cn/quantize.md

[2022-11-15 11:36] seemingwang commented on #47995
yes. bool is not supported in flatten, why not try int type instead?(0 for false and 1 for true)

[2022-11-15 12:24] Ligoml opened #48019 "🎁飞桨快乐开源活动表单"
### 公告
1. 非常欢迎你对飞桨框架做贡献，我们正在运营一个组织——飞桨框架贡献者俱乐部（[Paddle Framework Contributor Club, PFCC](https://github.com/PaddlePaddle/community/tree/master/pfcc)），会通过定期分享技术知识与发布开发者主导任务的形式持续为飞桨框架做贡献。如果你有意向加入 PFCC，可以提交 PR 至 [Paddle](https://github.com/PaddlePaddle/Paddle)，代码合入后，我们会邀请你加入，如果你对某期技术分享的内容感兴趣，也可以通过邮件（ext_paddle_oss@baidu.com）联系我们旁听例会。更多详情见 https://github.com/luotao1 主页说明。
2. 如果你是在校的学生，并且有兴趣参加飞桨社区的框架护航

[2022-11-15 12:38] JimmyLyods commented on #47765
您好,目前測試起來使用最好的結果,
是用paddle.Model的fit訓練模型,並利用save_dir的屬性把模型儲存下來的狀態最好,
其他目前都試不出來,
如果有更好的方法,
再請各位不吝賜教,謝謝

[2022-11-15 12:39] Silv3S commented on #47615
52 - `paddle/fluid/operators/mkldnn/axpy_handler.h` was removed in https://github.com/PaddlePaddle/Paddle/pull/47779

[2022-11-15 12:57] #47947 closed, assigned to littletomatodonkey

[2022-11-15 13:06] tink2123 commented on #47991
Sorry, paddle does not have an alternative API for `Tensor.record_stream` now, we will make a note of this requirement.

[2022-11-15 13:07] Ligoml opened #48022 "黑客松挑战性任务列表"
| 序号 | 难度 | 任务 ISSUE                                                   | 设计文档                                                     | 完成队伍 |
| ---- | ---- | ------------------------------------------------------------ | ------------------------------------------------------------ | -------- |
| 1    | ⭐️    | [为 Paddle 新增 finfo API](https://github.com/PaddlePaddle/Paddle/issues/44073#task1) | [commu

[2022-11-15 13:09] tink2123 commented on #47987
尝试参考以下命令安装paddle：
[code]

如果依然不行，建议使用docker，避免复杂的环境配置问题

[2022-11-15 14:02] GreatV commented on #48022
认领 [No.3：为 Paddle 新增 cdist API](https://github.com/PaddlePaddle/Paddle/issues/44073#task3)
上上次完成的 rfc [【Hackathon No.7】add rfc: api design for cdist](https://github.com/PaddlePaddle/community/pull/37)

[2022-11-15 14:57] smartleizi opened #48024 "为什么Linear(in_features=1, out_features=1, dtype=float32)默认的输入数据类型是float32？和numpy默认的float64不同？"
### 请提出你的问题 Please ask your question

为什么Linear(in_features=1, out_features=1, dtype=float32)默认的输入数据类型是float32？和numpy默认的float64不同？
1用numpy生成的数据x_data = np.arange(1,60,3.0).reshape(20,1)训练的时候报
ValueError: (InvalidArgument) The type of data we are trying to retrieve does not match the type of data currently contained in the container.
[Hint: Expected dtype() == paddle::experimental::CppTypeToDataTyp

[2022-11-15 15:01] smartleizi commented on #48024
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Linear_cn.html#linear
查看文档的时候根本没有数据类型的说明，
导入paddle，打印的时才能查看数据类型的要求
linear = paddle.nn.Linear(in_features=1, out_features=1)
print(linear)#Linear(in_features=1, out_features=1, dtype=float32)

[2022-11-15 23:23] JiaPai12138 commented on #45112
原因：
![image](https://user-images.githubusercontent.com/72233260/202045495-3ec364e4-81c2-4dc2-b943-f833dea5f01f.png)
解决办法：
![image](https://user-images.githubusercontent.com/72233260/202045528-e5c29ce2-90fd-4e4c-8199-81e3ecd975f2.png)
[文件](http://www.winimage.com/zLibDll/zlib123dllx64.zip)

不谢

[2022-11-16 02:30] DrRyanHuang commented on #47995
It's a good idea! Thx! @seemingwang

[2022-11-16 02:33] DrRyanHuang commented on #47995
By the way, why is it not supported? @seemingwang

[2022-11-16 02:43] jyjy007 commented on #47987
解决了，非常感谢！

[2022-11-16 02:43] #47987 closed, assigned to tink2123

[2022-11-16 03:03] tink2123 commented on #48009
input 的 id 必须满足 0 =< id < num_embeddings， 建议再检查一下输入。也可以提供一个可复现的代码单元，我们一起看看。

[2022-11-16 03:05] tink2123 commented on #48024
感谢反馈，会在文档中添加数据类型的说明。

[2022-11-16 07:46] ykx123-hub opened #48038 "CrossEntropyLoss使用问题"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/74460795/202118568-6f526c63-a6f0-4f99-9c3a-f1dfa519723d.png)
使用CrossEntropyLoss时遇到这个问题，该如何解决？

[2022-11-16 08:34] #48038 closed, assigned to ZHUI

[2022-11-16 09:11] Ligoml opened #48047 "[Docs]飞桨 API 文档体验提升计划"
用于跟踪 [Call-for-Contributions: API文档体验优化](https://github.com/PaddlePaddle/community/blob/master/pfcc/call-for-contributions/docs_optim_for_API.md) 各个任务的计划和进度

## 路线一：API文档问题修复

| 任务名称                                                     | 任务说明                                                     | 认领人      | PR情况                                                       |
| ------------------------------

[2022-11-16 09:16] hw446 opened #48048 "不同显卡上，卷积的结果不同"
### 不同显卡上，卷积的结果不同

[code]

### 其他补充信息 Additional Supplementary Information

1. 一开始在ubuntu20.4 + cuda11.0 + cudnn8.5 + paddle2.2.1.post110上测试，发现3090和1080ti两种卡上，不管dims = [32, 64, 128, 256, 512] 或 dims = [32, 32, 32, 32, 32] ，结果都不同，以下只展示后者的结果：
[code]
[code]
可以看到第13行的结果开始不同。

2. 于是paddlepaddle-gpu换成2.3.2 或者 cuda换成11.2，结果都和上述情况一致。  （2.4.0rc的版本比较诡异，第0行就不一样，似乎有bug，所以后续测试没用这个）

3. 刚好cudnn最近有更新，将环境换成了ubunt

[2022-11-16 09:20] hw446 commented on #48048
补充:
1. 把bn和relu注释掉，上述现象依旧
2. 同种型号的卡上，结果完全一致

[2022-11-16 10:02] #47906 closed, assigned to haozech

[2022-11-16 11:41] PommesPeter opened #48054 "【开放任务讨论】PyTorch 与 Paddle 2.0 API 映射表文档补全"
### 需求描述 Feature Description

任务目标：
完善 PyTorch 1.8 与 Paddle 2.0 API 映射表，补全新增 API

需求场景：
- 论文复现营
- paddle 框架使用
- 代码迁移
- ....

功能描述：
- 补全 paddle 新增的 API 对应 PyTorch 的映射
- 检查之前的文档是否有误

### 替代实现 Alternatives

_No response_

[2022-11-16 11:48] Aganlengzi commented on #48024
@smartleizi 感谢反馈，develop PR 已经更改合入，官网的develop分支上明日可看到更新：
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/Linear_cn.html

[2022-11-16 14:02] Liyulingyue commented on #47064
【列表选题】
编号：31
题目：MNIST数据集下用Paddle框架的动态图模式玩耍经典对抗生成网络（GAN）
认领人：笠雨聆月

[2022-11-17 01:43] PunchOvO opened #48067 "Paddle关于exe.run中的 fetch_list=target_var问题"
### bug描述 Describe the Bug

本人在复现一个文本分类，目前卡在最后一步
'''
D:\conda\lib\site-packages\socks.py:58: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Callable
C:\Users\xxx\AppData\Roaming\Python\Python37\site-packages\paddle\fluid\executor.py:1520: UserWarning: There are no operator

[2022-11-17 03:44] yeyupiaoling commented on #47557
@ForFishes 有没有方便的做法，当使用单卡训练的时候使用`paddle.nn.BatchNorm`，多卡的时候自动使用`paddle.nn.SyncBatchNorm`

[2022-11-17 03:48] hw446 commented on #48048
问题解决了：
是因为3090默认是开启TF32，而不是FP32，关掉就一致了。
export NVIDIA_TF32_OVERRIDE=0
注意：cudnn8.5仍然是不一致的，同时，我在更多层的网络中发现cudnn8.6仍然有细微的精度差异，但还可以接受。

[2022-11-17 04:09] joey12300 commented on #48067
您好，这个应该是输入的数据类型有问题，将输入数据转为int64即可。

针对文本分类任务，可以参考这个示例：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_classification

[2022-11-17 05:31] PunchOvO commented on #48067
# 定义输入数据， lod_level不为0指定输入数据为序列数据
words = fluid.layers.data(name='words', shape=[1], dtype='int64', lod_level=1)
label = fluid.layers.data(name='label', shape=[1], dtype='int64')
 这里训练 输入数据都是 int64 呀

[2022-11-17 05:35] ainndejj11 opened #48079 "关于paddle_inference库中，MKL相关的问题"
### 请提出你的问题 Please ask your question

下载百度编译好的paddle_inference库存，默认编译是打开了MKL的。
在PaddleOCR C++代码中，不想链接MKL的库，编译文件中tools/build.sh 设置-DWITH_MKL=OFF 。然后编译会报错：

请问编译要和paddle_inference的设置相同么，如果不想链接mkl的库，是否需要自己编译一个paddle_inference库？？

报错信息如下：
-- Build files have been written to: /media/alex/e815e6bf-29c6-44df-a535-184ead5b3f96/PaddleOCR-release-2.5/deploy/cpp_infer/build
Scanning dependencies of target pp

[2022-11-17 05:52] RuthlessMan commented on #47064
【列表选题】
编号：12
题目：PeMSD7 真实交通速度数据集上利用 图神经网络 和 LSTM 进行交通预测。
认领人：无情道人

[2022-11-17 06:05] qlogcn opened #48784 "【2022】CINN基础算子开发任务跟踪"

[2022-11-17 06:08] joey12300 commented on #48079
您好，https://www.paddlepaddle.org.cn/inference/v2.4/guides/install/download_lib.html#linux 可以按照需要选择预编译好的paddle_inference。比如不希望使用mkl作为数学库，就使用openblas版本的paddle_inference

[2022-11-17 06:11] ainndejj11 commented on #48079
C++的推理库，使用OpenBLAS的都是 CPU设备的呀。    GPU的都是MKL

[2022-11-17 06:11] FrankWhh opened #48081 "Paddle Model load pdparams文件，predict结果无效"
### bug描述 Describe the Bug

项目地址参见：
https://aistudio.baidu.com/bd-gpu-03/user/689918/5051984/lab

问题：
训练时，predict 结果OK
重启，直接在最后一个cell加载保存的final.params文件，预测结果全是O,同时发现每次预测结果不一样。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-17 06:15] FrankWhh commented on #48081
https://aistudio.baidu.com/aistudio/projectdetail/5051984。 最新的V1版

[2022-11-17 06:15] FrankWhh commented on #48081
https://aistudio.baidu.com/aistudio/projectdetail/5051984    最新的V1版

[2022-11-17 06:23] yeyupiaoling commented on #47196
@zhangbo9674 没有按时发布

[2022-11-17 06:44] seemingwang commented on #44565
初始化不同可能会有影响最终的收敛结果的，这个和数据有关，具体的影响难以提前判断。

[2022-11-17 07:00] ZHUI commented on #48048
赞，解决了就好

[2022-11-17 07:09] ainndejj11 opened #48089 "源码编译paddle_inference库错误"
### 请提出你的问题 Please ask your question

源码编译paddle_inference库的时候，执行命令
cmake  .. \
    -DWITH_CONTRIB=OFF \
    -DWITH_MKL=OFF \
    -DWITH_MKLDNN=OFF  \
    -DWITH_TESTING=OFF \
    -DCMAKE_BUILD_TYPE=Release \
    -DWITH_INFERENCE_API_TEST=OFF \
    -DON_INFER=ON \
    -DWITH_PYTHON=OFF \
    -DWITH_TENSORRT=ON \

编译过程结束后，没有CmakeFile文件，无法 make   .请问是什么原因

错误信息：
generate /media/alex/e815e6bf-29c6-44

[2022-11-17 07:33] amocken opened #48091 "请问飞桨支持arm吗？"
我想在倚天710服务器上运行飞桨

[2022-11-17 08:06] Birdylx opened #48093 "cumsum op get wrong answer when input huge shape tensor"
### bug描述 Describe the Bug

cusum在计算大shape tensor时结果错误，如下图，指定`axis=0`，第一行的累加结果应该不变，但是输出结果错误
在2.3.2和develop版本的paddle下测试均会有这个问题。
![image](https://user-images.githubusercontent.com/29754889/202390816-f2228cc4-c15c-4242-8e35-f72a0ddfe661.png)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-17 08:11] joey12300 commented on #48091
您好，请问你是要部署模型吗？PaddleInference是支持ARM架构的芯片的，详情可见以下的链接https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/hardware_support/hardware_info_cn.html

[2022-11-17 09:01] #48024 closed, assigned to tink2123

[2022-11-17 09:18] Farewell-CK opened #48098 "paddle.max()"
### bug描述 Describe the Bug

import paddle # paddlepaddle = 2.3.2
执行：
      paddle.max((paddle.to_tensor(1), paddle.to_tensor(6)))
结果：Tensor(shape=[1], dtype=int64, place=Place(cpu), stop_gradient=True,
       [1])
执行：
    b = paddle.to_tensor(1)
    a = paddle.to_tensor(6)
    paddle.max((a,b))
结果：
    Tensor(shape=[1], dtype=int64, place=Place(cpu), stop_gradient=True,
       [6])

### 其他补充信息 Add

[2022-11-17 09:19] Farewell-CK commented on #48098
python版本3.7.13

[2022-11-17 09:39] peiwenYe opened #48101 "paddle.full()算子动静态图行为不一致"
### 请提出你的问题 Please ask your question

在静态图中，当shape参数不为Varible时，会检查shape中的元素个数：
![image](https://user-images.githubusercontent.com/37332773/202409834-b49b3f4e-a56c-4659-9895-648ee5309cf9.png)
因此静态图中，shape不为Variable时，shape=[]会报错。
动态图中没有这样的检查
![image](https://user-images.githubusercontent.com/37332773/202410419-2e5937b3-35f9-4731-8f12-22d75097f8da.png)
导致动静态图对shape不为Variable的情况行为不一致。
静态图中只有在shape参数为V

[2022-11-17 11:35] AlphaMind123 opened #48104 "aistudio上传不了zip文件"
### 请提出你的问题 Please ask your question

![zip上传不了](https://user-images.githubusercontent.com/108966996/202435881-c5084668-faa0-4a39-aa38-75090c684185.png)
文件上传不了到aistudio

[2022-11-17 13:11] yeliang2258 opened #48109 "MKLDNN is slower than native CPU"
### 问题描述 Please describe your issue

In my model, the speed of MKLDNN is slower than that of native CPU. After profile, it is found that it is caused by the following three operators: split, concat and sub. Please help me to optimize.

Profile results of MKLDNN
![image](https://user-images.githubusercontent.com/30516196/202454056-3eef51ca-e6aa-4844-9076-7308f94d136f.png)

Profile results of Native

[2022-11-18 02:00] aiwenzhu opened #48120 "在VS2019新建工程测试peddleseg的demo testseg.cc出现程序无法启动的情况"
### 请提出你的问题 Please ask your question

在VS2019新建工程测试peddleseg的demo  testseg.cc出现程序无法启动的情况:
配置了paddleinference的lib，opencv，yaml并将所有相关dll放下了工程目录下，项目生成没问题；
 auto predictor = create_predictor(yaml_config)但是加上这句代码，程序就无法调试和运行，会报
程序无法正常启动0xc000007b的错误

[2022-11-18 02:06] joey12300 commented on #48089
您好，看起来是执行git出错，试试 `export GIT_DISCOVERY_ACROSS_FILESYSTEM=1`。

参考：[git-discovery-across-filesystem-not-set](https://stackoverflow.com/questions/16853624/git-discovery-across-filesystem-not-set)

[2022-11-18 02:21] joey12300 commented on #48079
那应该要自己编译。可以参考官方的[编译教程](https://www.paddlepaddle.org.cn/inference/v2.4/guides/install/compile/source_compile_under_Linux.html#benjibianyi)，并且将ON_INFER参数设为ON

[2022-11-18 02:24] joey12300 commented on #48098
你好，paddle.max接受的输入是一个tensor，而你传入一个tuple后，会取tuple第一个tensor作为输入。如果想比较两个tensor，可以这么做：

[code]

paddle.max使用：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/max_cn.html#max

[2022-11-18 02:41] joey12300 commented on #48067
是的，但这是定义输入数据，在喂入数据的时候也要保证数据是int64的。比如红框部分，需要确保data也是int64
![image](https://user-images.githubusercontent.com/10826371/202604490-9844aa9f-4a01-4c7b-a10b-c96084ac2dc8.png)

[2022-11-18 03:22] peiwenYe opened #48123 "算子对动静态图对0D数据的不同行为"
### 请提出你的问题 Please ask your question

您好，我发现paddle部分算子（如 full、assign）动态图支持0D，但静态图不支持0维。请问这个设计有什么特殊考虑吗？

[2022-11-18 03:32] ghostxsl commented on #48120
你好，请去PaddleSeg下进行issue的提问：https://github.com/PaddlePaddle/PaddleSeg/issues

[2022-11-18 03:33] ghostxsl commented on #48123
请问你使用的paddle版本是多少？

[2022-11-18 03:43] zhwesky2010 commented on #48054
@PommesPeter 你好，非常欢迎参与这项工作。我们近期也正在梳理这项工作所涉及的全量表，目标是产生Pytorch与Paddle的全量API映射关系数据，预计下一两周会和你讨论你这边需要负责的数据补齐，期待后续合作愉快。

[2022-11-18 03:49] momozi1996 commented on #47064
## 11/18日 活动进展⏰
- 任务认领——认领率：25份/36份
- 任务完成&提交AIstudio ——完成/认领率：6份/22份
- 任务完成&提交PR ——完成/认领率：6份/22份

## github-参与人：（14位）
@RedContritio、@lwbmowgli、@WangXi2016、@Rayman96、@edencfc、@kjf4096、@npuyzr、@2017040264、@lzzzzzm、@yangguohao、@wuhuachaocoding、@dasenCoding 、@Liyulingyue 、@RuthlessMan

## github-PR提交人-进展：（4位）
@WangXi2016、@lzzzzzm、@edencfc、@2017040264

### 已提交的6个PR：
https://github.com/PaddlePaddle/doc

[2022-11-18 03:51] shiyutang opened #48125 "使用paddle.nn.ClipGradByGlobalNorm报错 OSError: (External) CUDA error(9), invalid configuration argument."
### bug描述 Describe the Bug

使用paddle.nn.ClipGradByGlobalNorm(clip_norm=0.01)

GPU训练200个iters后报错如下：
<img width="755" alt="image" src="https://user-images.githubusercontent.com/34859558/202612583-a51049f4-9e93-454b-8d77-f4496077323b.png">

并且使用paddle.nn.ClipGradByNorm就不会报错。但是论文对齐中是使用的torch.nn.utils.clip_grad_norm_对应ClipGradByGlobalNorm.

根据其他issue关闭shared_memory后
<img width="377" alt="image" src="ht

[2022-11-18 03:59] Ligoml commented on #48054
很好的提议！事实上我们最近也在讨论API转换的事情，前置条件就是要梳理清楚当前的API映射情况，并进行查漏补缺。官网上之前发布过一版 [映射表](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/model_convert/pytorch_api_mapping_cn.html#pytorch-1-8-paddle-2-0-api)，正如你所说，我们需要：
- 补全 paddle 新增的 API 对应 PyTorch 的映射
- 检查之前的文档是否有误

后面会考虑开发一些自动转换工具，也很欢迎你和我们一起做这件事~

其他社区开发者的工作参考：https://github.com/zzz2010/paddorch

[2022-11-18 04:06] ghostxsl commented on #48125
可以清理一下你的shm看看

[2022-11-18 05:35] LitLeo opened #48130 "如何读取静态图的权重的值和名字？"
### 请提出你的问题 Please ask your question

有一个静态图模型，两个文件，__model__和__params__，如何获得其中权重的值和名字呢？

类似onnx model.graph.initializer 的功能？

[2022-11-18 05:42] lightconelab opened #48131 "在 Jetpack 使用GPU进行文字识别训练得到 warp-ctc [version 2] Error in get_workspace_size: execution failed"
### bug描述 Describe the Bug

在 Jetpack 使用GPU 对PaddleOCR进行文字识别训练得到 warp-ctc [version 2] Error in get_workspace_size: execution failed。

如果使用CPU（Global.use_gpu=false）可以正常训练，但是使用GPU（Global.use_gpu=true）就不行

- 系统环境
[code]
- 版本信息：

1. Paddle： paddlepaddle-gpu 2.3.2

[code]
2. PaddleOCR：2.6.1.0

- 运行指令
[code]
- 完整报错
[code]

### 其他补充信息 Additional Supplementary Information

 paddlepaddle-gpu 采用的是这个：[paddle

[2022-11-18 06:08] shiyutang commented on #48125
那设置use-shared memory =false不可以么，设置后的报错怎么处理呢？

[2022-11-18 06:14] shiyutang commented on #48125
并且使用paddle.nn.ClipGradByNorm就不会报错。但是论文对齐中是使用的torch.nn.utils.clip_grad_norm_对应ClipGradByGlobalNorm

[2022-11-18 06:41] ghostxsl commented on #48130
可以参考：https://github.com/PaddlePaddle/Paddle/issues/26519

[2022-11-18 06:43] peiwenYe commented on #48123
paddlepaddle2.2.2

[2022-11-18 06:52] LitLeo commented on #48130
翻了一圈代码摸索出来了
[code]

[2022-11-18 06:52] ghostxsl commented on #48125
看报错信息是资源不够，能换个环境跑一下么？

[2022-11-18 06:55] ghostxsl commented on #48123
可以试一下paddle2.4.0看看呢

[2022-11-18 07:47] danielvandenberg95 opened #48138 "Min(3,2,1) gives 0"
### bug描述 Describe the Bug

Python 3.8.10 (default, Jun 22 2022, 20:18:18)
[GCC 9.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

full_version: 2.3.1
major: 2
minor: 3
patch: 1
rc: 0
cuda: 11.4
cudnn: 8.4.1

W1104 13:01:20.953553   866 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 7.2, Driver API Version: 11.4, Runtime API Version: 11.4

[2022-11-18 07:52] popova-2 opened #48139 "visualdl日志文件命名失效"
visualdl日志文件命名失效

脚本文件代码如下 通过`python -m paddle.distributed.launch /root/paddlejob/workspace/code/run.py `运行
日志文件最后是按默认的时间戳命名的，而不是我设置的
`log_writer = LogWriter(output_path +'/'+ net_name, file_name='vdlrecords.' + f'{lr}_{bs}_{tf}_{sz}' + '_' + strftime("%m%d_%H_%M"))`。
希望能够得到解答

[code]

[2022-11-18 08:00] ghostxsl commented on #48139
具体什么报错？

[2022-11-18 08:01] popova-2 commented on #48139
没报错，只是命名没有实现预期效果

[2022-11-18 08:07] hsdjkfnsfc opened #48143 "TRT-paddleinference whl 包安装后paddle自查失败"
### 问题描述 Please describe your issue

cuda11.2,cudnn8.2,trt8,gcc8.4
安装python trt 推理库
https://www.paddlepaddle.org.cn/inference/v2.4/guides/install/download_lib.html#python
在python自查的时候报错，显卡为4090

RUN:
paddle.fluid.install_check.run_check()

报错
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ps/miniconda3/envs/paddle-trt/lib/python3.7/site-packages/paddle/fluid

[2022-11-18 08:18] joey12300 commented on #48081
@FrankWhh 是否保证所有参数正确加载了？我看你的代码好像加载的路径有问题，final后面有两个点：

[code]

如果路径错误，是会随机初始化所有参数，导致每次预测结果都不一致。

[2022-11-18 08:27] joey12300 commented on #48104
你好，zip文件应该是可以上传的。你这个zip文件是不是太大呢？大概有多少GB呢？

[2022-11-18 08:30] ghostxsl commented on #48143
看报错信息，可能是你的环境有问题，检查一下自己的驱动CUDA版本之类的，如果实在不行，可以尝试源码编译安装

[2022-11-18 08:32] ghostxsl commented on #48138
请问你这个case在CPU下运行是正常的嘛？

[2022-11-18 08:33] ghostxsl commented on #48131
可以去PaddleOCR下提issue：https://github.com/PaddlePaddle/PaddleOCR/issues

[2022-11-18 08:34] Farewell-CK commented on #48098
好的，感谢

[2022-11-18 08:36] hsdjkfnsfc commented on #48143
事实上，编译也会存在问题,但是刚才尝试了3.9的whl包，问题解决了，编译的时候会提示:
target extern_mkldnn recipe for target 'all' failed

[2022-11-18 08:38] lightconelab commented on #48131
PaddleOCR 让我来你们这边提的。“看样子是CTCloss的kernel在jetson的gpu上不能正常使用” 麻烦帮忙看看这个问题哈~

https://github.com/PaddlePaddle/PaddleOCR/issues/8357#issuecomment-1318455748

[2022-11-18 08:59] joey12300 commented on #48101
你好，请问你这个代码具体是在那个api里呢？我在full api里没看到这段代码哈？是哪一个版本的paddle

[2022-11-18 09:00] FrankWhh commented on #48081
两个点是我设置保存路径的时候多了个点，之前是model.fit设置了正常保存路径，也是预测有问题。
路径错误，会报错的吧？我这边看到是这样，让检查路径。
您可以epoch设为1，简单跑一下，重启内核后加载参数预测
1. 不重启，但仍执行加载参数
![image](https://user-images.githubusercontent.com/48537650/202661450-e47418bf-db5a-419f-b14d-1a09cde57c5b.png)

3. 重启，执行加载参数
![image](https://user-images.githubusercontent.com/48537650/202661855-93062899-ffb0-42b9-a14f-b93505539248.png)

[2022-11-18 09:03] ZzSean commented on #48101
develop中这里并没有描述中的那段代码，https://github.com/PaddlePaddle/Paddle/blob/7f92e27efd72998102cff1ef524dc24ec7288ed2/python/paddle/fluid/layers/utils.py#L413
![image](https://user-images.githubusercontent.com/32410583/202663581-b9b9a123-fab7-4352-b092-c0afcfde68de.png)

[2022-11-18 09:30] ghostxsl commented on #48131
好的，已反馈给API负责人～

[2022-11-18 09:31] danielvandenberg95 commented on #48138
What do you mean? As far as I'm aware it's running on GPU.

[2022-11-18 09:38] ghostxsl commented on #48138
The problem has been fed back to the API director. The following exhibitions will be synchronized with you here~

[2022-11-18 09:44] AlphaMind123 commented on #48104
872mb，包含了预训练模型参数和配置文件

| |
hfqemail
|
|
***@***.***
|
---- 回复的原邮件 ----
| 发件人 | Jack ***@***.***> |
| 发送日期 | 2022年11月18日 16:28 |
| 收件人 | ***@***.***> |
| 抄送人 | ***@***.***> ,
***@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] aistudio上传不了zip文件 (Issue #48104) |

你好，zip文件应该是可以上传的。你这个zip文件是不是太大呢？大概有多少GB呢？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because y

[2022-11-18 09:50] seemingwang commented on #47995
I'm not the author of this op, but I guess it's sensible to do so. Since bool type isn't differentiable, it's use in deep-network is quite limited, it's seldom used as inputs for deep-network. In case you want to use bool type, it's often suffice to use int as an alternative(just as the replied above), so supporting this bool type could only adds to complexity of maintenance, a lot of ops just avo

[2022-11-18 12:46] Li-fAngyU opened #48159 "Tensor.any() [operator < reduce_any > error]"
### bug描述 Describe the Bug

请问，是reduce_any算子里的kernel还没实现吗？有什么替代方案吗？
[code]
报错信息：
W1118 20:43:02.138398   399 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.2, Runtime API Version: 11.2
W1118 20:43:02.143416   399 gpu_resources.cc:91] device: 0, cuDNN Version: 8.2.
---------------------------------------------------------------------------
RuntimeEr

[2022-11-18 13:21] littletomatodonkey commented on #48131
你好，可以参考这个博客，降级下paddle版本试下：https://blog.csdn.net/qq_36038453/article/details/125844765

[2022-11-18 15:08] smartleizi commented on #48024
谢谢回复，文档修改已经看到了。
可是若代码没有修改，如果和numpy都无法兼容，那么怎么吸引更多的人来学这个框架呢？
上来修改一点代码都报错了，而且数据类型的错误。

[2022-11-18 16:32] Liyulingyue commented on #47064
【列表选题】
编号：33
题目：城市街景分割数据集下使用对抗网络Pix2Pix生成分割掩码，并使用掩码生成街景
认领人：笠雨聆月

[2022-11-19 05:50] tianxingxia-cn commented on #45347
windows下 实现类似linux下 ”time 命令“ 显示命令执行时间，可使用以下脚本保存为timecmd.bat ，例如：timecmd.bat dir /a

[code]

[2022-11-19 07:41] sellinaxmj commented on #34591
@PaddlePM
paddlepaddle 2.3.0 python3.6.2 windows7环境下
运行没有问题，请问各位用pyinstaller打包后运行打包后的exe,也是类似的错误关于paddle.fluid.core_noavx’错误

paddle\fluid\core.py 365
paddle\fluid\core.py 313
ImportError:cannot import name core_noavx

[2022-11-19 12:10] zlsh80826 opened #48166 "[Targeting on 2024 Q1] Inappropriate cuda arch flags for the third-party libraries"
### 问题描述 Issue Description

I see there are many nvcc warnings reporting `The 'compute_35', 'compute_37', 'sm_35', and 'sm_37' architectures are deprecated` even when I explict configure the `SM_80` flag (`-DCUDA_ARCH_NAME=Manual  -DCUDA_ARCH_BIN="80"`).

Paddle should pass the configured `NVCC_FLAGS_EXTRA` or `CMAKE_CUDA_FLAGS` to those third-party libraries to avoid redundant arch compilation.

[2022-11-19 15:12] DrRyanHuang opened #48167 "`Process abort signal` is detected by the operating system."
### 请提出你的问题 Please ask your question

Hi, I met this error which has  noooooo  python traceback, my terminal just raise this C++ Traceback and some irrelevant dtype warning.

I've been stepping through this bug for an hour but got no clue about which line it raise from.

Could you please give some advice about this?
[code]

[code]

Source code link:
https://github.com/DrRyanHuang/OBJ2SEQ_PD

[2022-11-20 01:22] AlphaMind123 commented on #48104
872mb，包含了预训练模型参数和配置文件

[2022-11-20 07:33] jack-gits opened #48171 "CUBLAS_STATUS_INVALID_VALUE"
### bug描述 Describe the Bug

**在服务启动的时候paddle.utils.run_check()报错，下面是报错信息**

**但登陆到docker镜像用命令行再运行paddle.utils.run_check()，确check成功了。**

**_1. 启动是的错误信息_**
[code]

**_2，命令行check成功_**

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-20 09:29] jack-gits commented on #48171
paddlepaddle_gpu=2.3.2.post111

[2022-11-20 10:09] jack-gits commented on #48171
paddlepaddle-gpu==2.3.2.post116 也同样问题

[2022-11-20 10:38] Liyulingyue commented on #48047
认领task
完整示例

[2022-11-20 13:13] YvoCup commented on #46837
@SigureMo 您好，我想做任务2.2移除super()函数中不必要的参数

[2022-11-20 13:21] SigureMo commented on #46837
emmm，这个的话其实已经基本上做完了，上面的 comment 记录了详情（不是最上面那个），剩下几个在示例代码中的在 #47643 修改了还没合入，此外就只有几个增量了～

感兴趣可以移除下增量，以及 Markdown 里还有一些没有移除的，「清理显式继承 object」也有一些可以一起完成（剩余的很少，总计估计也就 10～20 个吧）

[2022-11-20 13:47] YvoCup commented on #46837
哦好的，那我看看其他合适些的代码

[2022-11-21 01:27] lightconelab commented on #48131
您好，试过了，还是一样的结果。

[code]
运行结果：
[code]

[2022-11-21 02:53] peiwenYe commented on #48123
好的 谢谢

[2022-11-21 02:55] nemonameless commented on #48167
Hello, please carefully check all the logs from `python main.py`.  Don't ignore the error messages among those `irrelevant dtype warning`.  There should be errors reported by Python.

[2022-11-21 02:57] nemonameless commented on #48166
Thanks for your suggestions. We will seriously consider them.

[2022-11-21 03:19] 2050airobert opened #48181 "NCCL Error -- paddle training bug！"
### bug描述 Describe the Bug

hi，
     训练模型的时候出现了异常，猜测是环境问题，具体log如下，麻烦大佬看下具体哪里问题，该如何简单的修复这个bug呢？
[code]

[2022-11-21 03:19] RainFrost1 commented on #48171
可以使用`nvcc --version`看看机器运行的cuda版本，安装对应版本的paddle试一下。或者直接使用paddle官方提供的docker镜像试一下，详见[官网](https://www.paddlepaddle.org.cn/)

[2022-11-21 03:47] peiwenYe opened #48183 "搜索包含某个算子的模型"
### 请提出你的问题 Please ask your question

您好，请教一下有什么方法可以比较快速的找到包含某个特定算子的模型吗？

[2022-11-21 03:50] tianxingxia-cn commented on #46820
https://github.com/PaddlePaddle/Paddle/issues/41875 有解决办法，cmake加上联合编译 -DWITH_UNITY_BUILD=ON 。我在最新的develop代码中编译通过了。
编译环境：
- 操作系统：win10专业版
- Python版本： 3.9.12
- CUDA：11.6.2_511.65
- cudnn：8.6.0.163
- 显卡：NVIDIA GeForce RTX 3060
- 处理器：12th Gen Intel Core i5-12490F 六核
- 主板：技嘉 B660M GAMING AC DDR4（英特尔 PCI 标准主机 CPU 桥）
- 内存：32 GB ( 镁光 DDR4 3200MHz 16GB x 2 )

命令：cmake .. -GNinja -DWITH_GPU=ON -DWITH_UNITY_

[2022-11-21 04:50] Fragile-hue opened #48187 "MQuadE开源代码"
### 请提出你的问题 Please ask your question

近期看到一篇使用paddle框架的知识图谱嵌入论文MQuadE，文中提到相关代码在paddle官网找得到，请问在哪里可以找到开源代码呢

[2022-11-21 05:11] Yang-Changhui opened #48188 "paddlde的BatchNorm2D如何设置只计算'weight' and 'bias',"
### 请提出你的问题 Please ask your question

paddlde的BatchNorm2D如何只计算'weight' and 'bias',不计算the non-trainable parameters 'mean' and 'variance'

[2022-11-21 05:13] zlsh80826 commented on #48166
Hi @nemonameless,
There are two third-party libs are critial to the cuda 12.0 build, dgc and warp-ctc. Both of them always apply arch35 in the build flag currently, but cuda 12.0 (not-released, but we are on the internal test) doesn't support arch35.

[2022-11-21 05:26] jack-gits commented on #48171
要看机器的cuda版本还是 docker里的cuda版本？

[2022-11-21 06:01] gongel commented on #48183
你好，可以尝试去模型库搜索算子名

[2022-11-21 06:11] RainFrost1 commented on #48171
在docker里安装的话，就看docker的cuda版本。建议使用官方的docker环境，环境问题有时候比较难以定位

[2022-11-21 06:46] #48188 closed, assigned to gongel

[2022-11-21 06:50] #48101 closed, assigned to joey12300, ZzSean

[2022-11-21 07:25] luotao1 commented on #46820
@zhouwei25 麻烦看下

[2022-11-21 07:42] luotao1 commented on #46820
@tianxingxia-cn @perfyperfect https://github.com/PaddlePaddle/docs/pull/5436 文档中已添加说明

[2022-11-21 08:55] #46820 closed, assigned to levi131

[2022-11-21 09:01] ghostxsl commented on #48159
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/any_cn.html#any
参考官方文档，输入的tensor必须得是bool类型

[2022-11-21 09:01] #48143 closed, assigned to ghostxsl

[2022-11-21 09:01] #48139 closed, assigned to ghostxsl

[2022-11-21 09:01] #48130 closed, assigned to ghostxsl

[2022-11-21 09:01] #48120 closed, assigned to ghostxsl

[2022-11-21 09:02] wangyexiang opened #48200 "支持python3.11问题"
### 请提出你的问题 Please ask your question

请问一下，什么时候才能在python3.11上跑代码呢？

[2022-11-21 09:02] pmajchrzak opened #48201 "ERNIE 3.0 int8 performance drop"
### 问题描述 Please describe your issue

Commit: https://github.com/PaddlePaddle/Paddle/commit/c3a69111c571edbca0dad313d58a31baf2eb5d69
causes performance drop in ERNIE 3.0 int8 model.
It is connected with memory consumption increasing
![image](https://user-images.githubusercontent.com/10847947/203008662-2da39942-b083-4a6a-9113-5d65d529cfaa.png)

---
### CMAKE parameters:
[code]
### Test run command:

[2022-11-21 09:11] jack-gits commented on #48171
![image](https://user-images.githubusercontent.com/30545972/203010812-99327175-20c4-4f44-b15c-3e38f4b21fe7.png)

这个是docker里的版本

[2022-11-21 09:25] jczaja opened #48204 "Passes can only be applied to block 0. Please make it applied to inner blocks as well"
### 需求描述 Feature Description

We noticed that IR passes are only applied to block 0 e.g. conditional_block_infer inner operators are not a subject to IR passes.
[More](https://github.com/zh794390558/paddle_build/issues/5#issuecomment-1314197418) and [more](https://github.com/PaddlePaddle/Paddle/issues/48109) transformer based models  are using conditional_block_infer so It would be good to have IR

[2022-11-21 10:03] yaomichael commented on #48204
this is related to https://github.com/zh794390558/paddle_build/issues/5#issuecomment-1314197418

[2022-11-21 10:05] gongel commented on #48201
Thank you for your feedback, we have received your question. @zhoutianzi666 Please pay attention to this issue. Thx.

[2022-11-21 10:07] gongel commented on #48200
你好，感谢你的反馈，3.11已在支持中。请等待我们的发布，感谢。

[2022-11-21 10:08] gongel commented on #48187
你好，这个论文能否提出来看看呢？

[2022-11-21 10:15] gongel commented on #48181
你好，可参考这里解决该问题：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/faq/train_cn.html#nvidia-paddle-nccl-error
如果还不行，可以考虑Docker搭建环境：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[2022-11-21 10:53] RainFrost1 commented on #48171
用nvidia-smi的方式是不准的，运行时的cuda版本用nvcc --version查看

[2022-11-21 10:59] Fragile-hue commented on #48187
论文是发表在WWW21年上的《MQuadE：a Unified Model for Knowledge Fact Embedding》

向西而安
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&

[2022-11-21 16:04] zlsh80826 commented on #47384
Hi @lileding
這個錯誤是因為 Paddle 在 cuda11.8 安裝了 external cub, 但是跟系統內的 thrust 產生衝突，在 11.8 需要更改 cmake 來避免安裝 cub
https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/third_party.cmake#L320-L321

[2022-11-21 17:11] jack-gits commented on #48171
torch.version.cuda 11.6

[2022-11-21 18:35] jakpiase commented on #48109
Hi @yeliang2258. I have tried to reproduce the performance of this model, but when I am running your test file, the following error occurs:
![image](https://user-images.githubusercontent.com/62569058/203132950-2ca3bc94-b525-4f45-a65d-9029befab0dd.png)
In the .`zip` file that you have send us there is only `model.pdmodel` and `test.cpp`. What about a `model.pdparams` file? Isn't it missing?

[2022-11-21 23:19] bin1guo commented on #47357
@tsocha can you help check whether this float32 model is okay in LAMMPS? thanks. BTW, are there any updates about mkldnn_placement_pass?

[2022-11-22 02:26] engineer1109 commented on #47786
@jiweibo https://github.com/PaddlePaddle/Paddle/pull/48221  PR Fix

[2022-11-22 02:30] yeliang2258 commented on #48109
Hi @jakpiase  Sorry, the weight parameters of this model cannot be provided. I remember that it can be optimized by only providing the model structure before ?

[2022-11-22 03:46] #47880 closed, assigned to zhwesky2010

[2022-11-22 03:49] Ethan1X opened #48224 "paddle对于复数的处理功能还没有么？"
### 需求描述 Feature Description

因为现在任务是在频域上面构建一些网络操作，paddle可以使用fft.rfft之类的操作，但是正常linear（），create_parameter（）和tanh（）等都不可以使用复数，这是paddle的应用受到了限制。

### 替代实现 Alternatives

建议加入对于复数的支持。

[2022-11-22 03:59] xurning opened #48225 "飞腾d2000编译安装paddlepaddle，cmake报错"
### 问题描述 Issue Description

cmake .. -DPY_VERSION=3 -DPYTHON_EXECUTABLE=`which python3` -DWITH_ARM=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_XBYAK=OFF报错：
Could NOT find PY_pip (missing: PY_PIP)
CMake Error at cmake/python_module.cmake:29(message):
 python module pip is not found

### 版本&环境信息 Version & Environment Information

/usr/lib/python3/dist-packages/requests/__in

[2022-11-22 04:24] qili93 commented on #48225
根据错误提示，是您的环境中没有安装 pip

[code]

[2022-11-22 04:48] minghaoBD commented on #48224
感谢反馈。我们会评估下该功能，如有进展会更新在这里。

[2022-11-22 04:55] nizhaoqiao commented on #48091
是单独在710上跑训练or推理？还是会加上GPU或者其他AI加速卡？

[2022-11-22 04:58] nizhaoqiao commented on #48225
是在这个组合上面跑吗：https://www.kylinos.cn/about/news/1189.html

[2022-11-22 05:15] minghaoBD commented on #48225
对的，运行cmake之前，安装好pip就行了。

[2022-11-22 05:49] xurning commented on #48225
有pip，而且是pip3
pip -V
pip 20.0.2 from /usr/lib/python3/dist-packages/pip (python 3.8)
pip3 -V
pip 20.0.2 from /usr/lib/python3/dist-packages/pip (python 3.8)

[2022-11-22 05:57] ccLemonTree commented on #42358
请问一下编译成功了嘛？

[2022-11-22 06:03] xurning commented on #48225
我的环境里有pip

[2022-11-22 06:04] minghaoBD commented on #48225
-DPYTHON_EXECUTABLE=which python3 这个命令找到的python3是上述python吗？是不是有虚拟环境之类的其他python bin

[2022-11-22 06:06] xurning commented on #48225
which python3
/usr/bin/python3 是正确的路径

[2022-11-22 06:30] xurning commented on #48225
有pip，而且是pip3
pip -V
pip 20.0.2 from /usr/lib/python3/dist-packages/pip (python 3.8)
pip3 -V
pip 20.0.2 from /usr/lib/python3/dist-packages/pip (python 3.8)

[2022-11-22 06:38] #33925 closed, assigned to wangxicoding, Shixiaowei02

[2022-11-22 06:38] #36868 closed, assigned to nobody

[2022-11-22 06:38] #36915 closed, assigned to nobody

[2022-11-22 06:38] #37059 closed, assigned to nobody

[2022-11-22 06:38] #37179 closed, assigned to nobody

[2022-11-22 06:38] #37196 closed, assigned to nobody

[2022-11-22 06:38] #37198 closed, assigned to nobody

[2022-11-22 06:38] #37207 closed, assigned to nobody

[2022-11-22 06:38] #37217 closed, assigned to nobody

[2022-11-22 06:38] #37269 closed, assigned to JamesLim-sy

[2022-11-22 06:38] #37303 closed, assigned to JamesLim-sy

[2022-11-22 06:38] #37327 closed, assigned to thisjiang

[2022-11-22 06:38] #37342 closed, assigned to thisjiang

[2022-11-22 06:38] #37354 closed, assigned to nobody

[2022-11-22 06:38] #37359 closed, assigned to nobody

[2022-11-22 06:38] #37364 closed, assigned to nobody

[2022-11-22 06:39] minghaoBD commented on #48225
加下这个吧 cmake .. -DPY_PIP=path of your pip installed

[2022-11-22 06:42] amocken commented on #48091
单独跑

[2022-11-22 06:45] amocken commented on #48091
单独在710上跑

[2022-11-22 06:47] amocken commented on #48091
希望PaddlePaddle也能在Linux甚至Windows平台上原生支持ARM芯片

[2022-11-22 06:54] xurning commented on #48225
cmake . -DPY_VERSION=3.8 -DPYTHON_EXECUTABLE='which python3' -DWITH_ARM=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_XBYAK=OFF -DPY_PIP=/usr/lib/pytho3/dist-packages/pip -DPY_NUMPY=/usr/local/lib/python3.8/dist-packages/numpy -DPY_WHEEL=/usr/local/lib/python3.8/dist-packages/wheel  -DPY_GOOGLE.PROTOBUF=/usr/local/lib/python3.8/dist-packages/protobuf -DPYTHON_NUMPY_INCLUDE_

[2022-11-22 07:01] elfring commented on #37269
:thought_balloon: I find that [the rationale of the Python enhancement proposal 203](https://www.python.org/dev/peps/pep-0203/#rationale "Proposal for augmented assignments") (from 2000-07-13) can indicate also motivation for another bit of collateral evolution.

[2022-11-22 07:07] erbbbb commented on #48139
所以是什么原因呢

[2022-11-22 07:12] keetsky commented on #41748
怎么解决的

[2022-11-22 07:15] minghaoBD commented on #48225
protobuf按照报错信息，安装符合要求的版本即可。

[2022-11-22 07:17] xurning commented on #48225
pip install -U 了，版本是3.1.0，但是还是报这个错

[2022-11-22 07:39] RainFrost1 commented on #48171
这个是torch支持的cuda版本，不是运行安装的cuda版本。建议还是使用官网的docker镜像吧

[2022-11-22 07:47] dowdyboy opened #48231 "paddle tensor 索引为负数情况下输出nan"
### bug描述 Describe the Bug

# paddlepaddle-gpu   2.3.0.post112    Windows11

# paddle 负索引nan bug
    tb = paddle.rand((361, 6))
    i = paddle.to_tensor(np.array([-1+361, 160]))
    ii = paddle.to_tensor(np.array([-1, 160]))
    print(tb[ii])
    print(tb[i])

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-22 08:15] minghaoBD commented on #48231
经验证，tb[-1] == tb[360] != tb[-1, 160][0]

感谢您的问题。可以暂时通过tb[-1]取值，再做concate处理。tb[-1, 160]的问题我们定位修复下。

[2022-11-22 08:29] zhao-sy opened #48237 "paddle可以与pybind配合生成自定义算子吗"
### 请提出你的问题 Please ask your question

看到官网写的自定义算子生成方式是使用PD_BUILD_OP和PD_BUILD_GRAD_OP接口进行，我试了发现无法导出带函数的类，像采用pybind11方法，想请问一下飞桨框架可以与pybind11配合使用吗？

[2022-11-22 08:33] whisky-12 commented on #48047
路线一：API文档问题修复 怎么填写认领信息？

[2022-11-22 08:49] evi-Genius opened #48239 "请问现在还是不支持cummax吗"
### 请提出你的问题 Please ask your question

找了一圈issures，似乎现在还是不支持cummax

[2022-11-22 08:52] minghaoBD commented on #48237
https://github.com/PaddlePaddle/Paddle/blob/940d8f253239a74e0812faf9a80f60d5c39ebedd/paddle/fluid/pybind/io.cc 可以参照这里的例子，还有一些。可以在paddle框架搜索 pybind11 关键字

[2022-11-22 08:55] minghaoBD commented on #48239
对的，现在还不支持。

[2022-11-22 09:06] minghaoBD commented on #48225
1. 报【这个】错是什么呢？可以贴一下吗？
2. 我看下来，大方向上感觉还是python package哪里没链接上，就是整个package在编译时候找不到。可以尝试export python路径试下

[2022-11-22 09:32] wj-Mcat opened #48243 "Can not import paddle core while this file exists: /path/to/libpaddle.so"
### 问题描述 Issue Description

在 python3.8/3.7环境下安装完paddlepaddle==2.4.0之后，不能导入libpaddle.so文件。

可是我从 pypi server 上面下载了对应版本的whl包解压之后发现里面还是有对应的libpaddle.so文件，就感觉到很奇怪。

我在paddlenlp 的一个 pr 里面尝试解决此问题：https://github.com/PaddlePaddle/PaddleNLP/pull/3859。

详细的编译信息请看：https://readthedocs.org/api/v2/build/18703479.txt

### 版本&环境信息 Version & Environment Information

具体环境请看：
PaddlePaddle == 2.4.0
python 3.7
centos

[2022-11-22 09:36] ainndejj11 opened #48244 "调用paddle_inference库，并发多线程会报错"
### 请提出你的问题 Please ask your question

当前使用单线程推理没问题的，但是如果放到线上设备上，有多线程的请求时，并发到4以上就会报错，请问什么原因该如何解决？
多线程请求时，难道不能等上一线程结束在执行么？

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::AnalysisPredictor::ZeroCopyRun()
1   paddle::framework::NaiveExecutor::Run()
2   paddle::framework::OperatorBase::Run(paddle::framework::Scope const&

[2022-11-22 09:41] Currf opened #48246 "The pretrained xxx not in model请求解答"
### 请提出你的问题 Please ask your question

我使用PPOCR的文本方向检测功能，模型一直给我报ppocr WARNING: The pretrained params conv12_expand_bn_scale not in model的提示，检测完后的acc也为0。但我已经下载了ch_ppocr_mobile_v1.1_cls_train并正确导入路径了。不知道是什么原因，请求解答 谢谢

[2022-11-22 10:01] Currf commented on #48246
``2022/11/22 17:53:59] ppocr WARNING: The pretrained params conv3_linear_bn_scale not in model
[2022/11/22 17:53:59] ppocr WARNING: The pretrained params conv3_depthwise_bn_scale not in model
[2022/11/22 17:53:59] ppocr WARNING: The pretrained params conv10_expand_bn_variance not in model
[2022/11/22 17:53:59] ppocr WARNING: The pretrained params conv12_expand_bn_offset not in model
[2022/11/22 17

[2022-11-22 10:13] tsocha commented on #47357
@leeleolay
I have checked the error logs. I looks like a new shape calculated in a graph is invalid:
[code]
At first glance the main suspect is a numerical problem after scaling a dimension.

Do LAMMPS crash when oneDNN is disabled as well?

@bin1guo
mkldnn_placement_pass << @wozna work on that, she could give you more information soon.

It's hard for me to help with checking the LAMMPS currently

[2022-11-22 10:28] minghaoBD commented on #48243
可以暂时使用2.3.x版本。我这边测试2.4尚不稳定，正在联系相关同学确定问题。

[2022-11-22 10:35] minghaoBD commented on #48246
看起来是模型的组网和参数名没对上，可能原因比较多。

1. 可以自己debug下，方法包括：

也可以去ocr的repo提问题看下：https://github.com/PaddlePaddle/PaddleOCR/issues

[2022-11-22 10:45] minghaoBD commented on #48244
看起来描述和报错不太相关，可能是某些内部逻辑导致的。可以整理一份复现代码吗？

另外，可以明确下线上设备是什么吗？

[2022-11-22 10:58] Currf commented on #48246
谢谢，我知道原因了，是因为Paddle版本 我使用的是2.6版本，可以直接训练，现在不需要导入ch_ppocr_mobile_v1.1_cls_train模型了

[2022-11-22 11:04] #48246 closed, assigned to minghaoBD

[2022-11-22 11:12] Aliceyins-dev opened #48252 "paddle.fluid.layers.reduce_sum的cpu计算误差较大"
### bug描述 Describe the Bug

输入某一种分布的数据，paddle cpu计算结果和numpy计算结果误差较大：
[code]

![image](https://user-images.githubusercontent.com/53935495/203299316-d966dfa2-e102-413d-84f9-b9a1d245c257.png)

### 其他补充信息 Additional Supplementary Information

test.npy的数据大致分布：
![image](https://user-images.githubusercontent.com/53935495/203299980-ddb8d7ed-4832-4bc8-9aa9-5d1b92207748.png)

[2022-11-22 11:39] wj-Mcat commented on #48243
好的，感谢回复。

[2022-11-22 13:13] minghaoBD commented on #48252
您好，paddle这边的op单测一般都是小于1e-5的绝对误差。我验证了input-data是全0.001和全0.0001的情况。都是符合这个要求的。另外，gpu的计算误差会更和numpy接近。这是因为不同的backend在实现顺序、进制使用上可能都有一定的diff，numpy也没有做到百分百的准确。

[code]

针对您的问题，您可以描述下这个问题的影响面吗？

[2022-11-22 13:24] zhao-sy commented on #46870
抛出这个错误之后程序可以继续运行吗

[2022-11-22 13:34] Aliceyins-dev commented on #47131
交叉熵计算数据容易溢出：
`import numpy as np
import paddle
import pytest
import paddle.fluid as fluid
from paddle.fluid import compiler

paddle.enable_static()
np.random.seed(33)
main_program = paddle.static.Program()
startup_program = paddle.static.Program()
main_program.random_seed = 33
startup_program.random_seed = 33

def test_cross_entropy():
    with paddle.utils.unique_name.guard():
        with paddle

[2022-11-22 13:36] Aliceyins-dev commented on #47131
reduce_sum的误差问题：[https://github.com/PaddlePaddle/Paddle/issues/48252](url)

[2022-11-22 13:43] zhangyimi opened #48257 "paddle2.4版本调用grad返回None"
### bug描述 Describe the Bug

升级paddle 2.4.0rc或2.4.0版本后，已有功能出错，用户提了相关issue。https://github.com/PaddlePaddle/PaddleNLP/issues/3686

分析后发现是下列代码中`gradients = target_feature_map[0].grad `中`gradients`为None导致。（target_feature_map[0].stop_gradients=False）

这段代码在paddle2.4之前的版本功能正常，而2.4rc和2.4版本稳定复现，辛苦paddle同学看下是2.4存在不兼容升级还是存在bug。

[code]

paddle同学可以使用下列代码在2.4版本稳定复现错误(需要安装PaddlePaddle/PaddleNLP，PaddlePaddle/Tru

[2022-11-22 16:47] yeliang2258 commented on #48109
Hi @jakpiase params file:
[model.pdiparams.zip](https://github.com/PaddlePaddle/Paddle/files/10069390/model.pdiparams.zip)

[2022-11-22 17:37] wozna commented on #47357
Yes, that's right, I'm working on a task to add checks for registered kernels with a specific data type. A draft is here https://github.com/PaddlePaddle/Paddle/pull/48150. I'm still consulting some things, but soon this change should be ready.

[2022-11-23 01:01] onecatcn commented on #47131
@Aliceyins-dev Alice，辛苦将这个问题提交一个新的issue，方便值班同学安排对应负责同学处理，谢谢

[2022-11-23 01:45] minghaoBD commented on #48257
谢谢反馈。

2.4正式版将于近期发布，现在正在做稳定版本的工作。（https://github.com/PaddlePaddle/Paddle/issues/46069 ）建议优先使用2.3.x版本的paddle。2.4的问题我们需要拉相关同学一起看下，有进展了会进行反馈。

[2022-11-23 01:46] zhao-sy commented on #48237
那么paddle框架在使用pybind的时候，和普通框架一样通过.so编译调用就可以吗？我用gcc对pybind11进行.so编译一直不通过

[2022-11-23 01:46] jiguanglu commented on #42358
已经编译成功，而且官方也编译好了。
https://www.paddlepaddle.org.cn/inference/v2.4/guides/install/download_lib.html#c

[2022-11-23 01:48] minghaoBD commented on #48237
报错是什么呢？编译指令也方便提供下吗？

[2022-11-23 02:12] zhao-sy commented on #48237
本项目是将基于pytorch的神经网络进行框架迁移，尝试采用原框架的bash run.sh方法编译，其中pybind模块写法如图（文件shift_cuda.cpp）：
PYBIND11_MODULE(shift_cuda, m) {
  m.def("forward", &shift_forward, "shift forward (CUDA)");
  m.def("backward", &shift_backward, "shift backward (CUDA)");
}
setup.py内容如下
from paddle.utils.cpp_extension import CppExtension, CUDAExtension, setup

setup(
    name='shift_cuda_linear_cpp',
    ext_modules=[
        CUD

[2022-11-23 03:43] Ligoml commented on #48047
回复issue就可以啦

[2022-11-23 04:45] zyfncg commented on #48237
这个错误看上去是编译时没有将相应的头文件链接进来，可以再编译配置里加上试试

[2022-11-23 04:48] zyfncg commented on #48237
请问下这里为什么需要写pybind接自定义算子？Paddle提供的自定义算子功能是不能满足什么需求吗？

[2022-11-23 05:30] zhao-sy commented on #48237
因为我想要导出shift_cuda类之后可以引用其forward和backward函数，在paddle的文档中没有找到类似的接口
大概这种引用：
class ShiftFunction(PyLayer):

    @staticmethod
    def forward(ctx, input,xpos,ypos,stride=1):
        if stride==1:
            xpos = xpos
            ypos = ypos
        else:
            ypos = ypos + 0.5
            # ypos = ypos + 0.5
        output = shift_cuda.forward(input,xpos,ypos,stride)
        ctx.save_for_bac

[2022-11-23 06:22] #47991 closed, assigned to tink2123

[2022-11-23 06:28] DrRyanHuang commented on #47995
Thanks for your helpful reply, however I still think it is important for developer to keep the API of all type tensor the same, just like torch.

[2022-11-23 06:28] #47995 closed, assigned to tink2123

[2022-11-23 06:29] leeleolay commented on #47357
The LAMMPS works well when oneDNN is disabled.

[2022-11-23 06:33] LetmeSay opened #48264 "在Jetson xavier nx 编译时报错 Segmentation fault (program cc1plus)"
### 问题描述 Issue Description

环境：
Ubuntu      v18.04
TensorRT    v8.0.1.6
CUDA         v10.2.300
CUDNN      v8.2.1.32
Paddle        v2.1
（链接https://gitee.com/jiaopan/Paddle/tree/build_cn/ 因为官方的第三方引用都是从github上下载的，老是中断，所以用的该链接）

执行以下命令时
cd Paddle
mkdir build
cd build
cmake .. \
  -DWITH_CONTRIB=OFF \
  -DWITH_MKL=OFF  \
  -DWITH_MKLDNN=OFF \
  -DWITH_TESTING=OFF \
  -DCMAKE_BUILD_TYPE=Release \
  -DON

[2022-11-23 06:35] yaomichael commented on #47357
Hi Joanna

How does this comment relate to deepmd? I did not see a matched keyword. 😊

From: joanna.wozna.intel ***@***.***>
Sent: Wednesday, November 23, 2022 1:38 AM
To: PaddlePaddle/Paddle ***@***.***>
Cc: Yao, Michael ***@***.***>; Mention ***@***.***>
Subject: Re: [PaddlePaddle/Paddle] Accuracy is wrong when inference deepmd with oneDNN (Issue #47357)

Yes, that's right, I'm working on a task

[2022-11-23 06:52] zyfncg commented on #48237
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/custom_op/new_cpp_op_cn.html#setuptools
自定义算子可以封装成一个python接口，编译方面可以参考这里面的一些实现细节。

backward执行一般是框架内部自动调用，导出为python函数后可能还需要关注下是否有被框架执行到

[2022-11-23 06:58] zhao-sy commented on #48237
嗯，您发的链接我之前看过了，因为是现有代码做框架迁移所以希望尽可能少改动代码内容，想问一下paddle自带的自定义算子功能可以实现我想要的forward和backward函数封装吗?如果可以的话应该怎么做？
附：我编译出来的shift_cuda.py，并不含有以上功能。
#
def shift_cuda(input,xpos,ypos,stride):
    # prepare inputs and outputs
    ins = {'input' : input,'xpos' : xpos,'ypos' : ypos,'stride' : stride}
    attrs = {}
    outs = {}
    out_names = ['Out']

    # The output variable's dtype use default value 'float32'

[2022-11-23 07:06] zyfncg commented on #48237
导出backward函数的作用是什么？如果只是引入一个`shift_cuda`算子用于组网训练的话，我理解按照自定义C++算子的格式写好算子实现后再调用编译封装好的python接口就可以了

[2022-11-23 07:30] BrilliantYuKaimin commented on #44470
我遇到了相同的问题，能否详细说说这一步是如何做的？

[2022-11-23 07:43] enkilee commented on #48047
修复broadcasting说明的超链接失效问题：
https://github.com/PaddlePaddle/docs/pull/5441

[2022-11-23 08:05] Lemon-er opened #48273 "API文档问题修复任务认领"
### 问题描述 Please describe your issue

路线一：API文档问题修复,认领部分  [DenseTensor 概念统一]任务。

[2022-11-23 08:27] WorldEditors opened #48277 "对LSTM的Cell State进行Bound"
### 需求描述 Feature Description

发现Paddle LSTM的Cell State的更新是以经典的方式: $c_t=c_{t-1} * f_t + i_t * g_t$
但这种方式存在$c_t$爆炸的风险。
在一些长序列任务的调研中，我遭遇了该现象。
后来查资料，近来LSTM的实现方式开始对cell state进行Bound，即 （见 https://stackoverflow.com/questions/44184403/exploding-cell-state-in-lstm ）
$c_t=\sigma(c_{t-1} * f_t + i_t * g_t)$
建议Paddle增加这种类型的LSTM支持

### 替代实现 Alternatives
上面式子可以进一步改进为
$c_t=K \sigma(1/K *(c_{t-1} * f_t + i_t * g_

[2022-11-23 09:03] lyuwenyu commented on #48277
收到 感谢建议

[2022-11-23 09:04] lyuwenyu commented on #48264
编译好的包能安装上嘛？

[2022-11-23 09:06] lyuwenyu commented on #48264
依赖包提前下载好  另外还是建议从官方的拉代码  可以使用gitee

[2022-11-23 09:17] Ligoml commented on #48273
认领在这个issue里回复哈：https://github.com/PaddlePaddle/Paddle/issues/48047

[2022-11-23 09:17] #48273 closed, assigned to lyuwenyu

[2022-11-23 09:38] enkilee commented on #48047
修复broadcasting说明的超链接失效问题（英文文档）：
https://github.com/PaddlePaddle/Paddle/pull/48283

[2022-11-23 09:54] shiyutang commented on #48125
减少shm后没有这个报错，但是精度对比torch的global就差很多，clipbynorm没差这么多。

[2022-11-23 10:19] tianxingxia-cn commented on #47064
【列表选题】
编号：35
题目：XFUND数据集下基于多模态(OCR+文档视觉问答)技术实现金融表单识别
认领人：tianxingxia

[2022-11-23 10:31] Lemon-er commented on #48047
路线一：API文档问题修复
题目：使用Grad-CAM 类激活可视化深度学习网络性能的可解释性
认领人：Lemon-er

[2022-11-23 10:32] Lemon-er commented on #48047
路线一：API文档问题修复
题目：[DenseTensor 概念统一]
认领人：Lemon-er

[2022-11-23 11:00] #48257 closed, assigned to minghaoBD

[2022-11-23 11:17] GlennLoveZhen0124 commented on #47052
请问复杂索引性能问题现在解决了吗？我们现在训练也遇到了这个问题

[2022-11-23 11:32] GodfatherPacino commented on #42924
请问解决了吗？我也遇到了相同的问题

[2022-11-23 12:03] parap1uie-s opened #48290 "Recently modification of `kernel_factory` cause lots of redundant log"
### bug描述 Describe the Bug

See https://github.com/PaddlePaddle/Paddle/pull/48245,

When we train EfficientNet-B5 (w/ some depthwise_conv2d operations), massive logs fill the screen.

![image](https://user-images.githubusercontent.com/23453851/203542256-4e2299dd-c604-4442-a11a-298d5249121a.png)

### 其他补充信息 Additional Supplementary Information

Any suggestions? Thanks.

[2022-11-23 12:11] jiahy0825 commented on #48290
Actually, https://github.com/PaddlePaddle/Paddle/pull/48245 has solved this problem.
Try the latest paddlepaddle package please~

[2022-11-23 12:23] wa-na-sa commented on #44470
我在重新编译 Paddle 和 OpenCV 后问题得到解决。

[2022-11-23 12:24] BrilliantYuKaimin commented on #44470
我在重新编译 Paddle 和 OpenCV 后问题得到解决。

[2022-11-23 12:27] Wong4j commented on #45669
2.4.0已经解决。关掉这个issue

[2022-11-23 12:27] #45669 closed, assigned to cxxly

[2022-11-23 12:41] DrRyanHuang opened #48292 "[tracking issue] Paddle-TensorRT 算子开发"
## 任务描述

TensorRT 是一个针对 NVIDIA GPU 及 Jetson 系列硬件的高性能机器学习推理 SDK，可以使得深度学习模型在这些硬件上的部署获得更好的性能。Paddle Inference 以子图方式集成了 TensorRT，保留 PaddlePaddle 即训即推的能力。目标：完成 Paddle-TensorRT 算子开发及映射工作；通过通用plugin机制基于Phi算子库，完成对 Paddle-TensorRT 不支持的算子添加。

## ⏰Remind
认领≠占坑，以合入pr的时间为准。任务在issue上被认领后不代表别的同学不可以做了，我们最后还是以【最终的PR合入时间】为准进行【奖励发放】。认领主要是为了防止撞车，但是认领了没看到提pr的话就可以自己做哦～

## 任务进展（4/6）

|算子名称|类型|难度|API定义|OP定义| 领取人 | PR |

[2022-11-23 13:10] insider-charlie commented on #38004
执行`nvcc --version`可以查看cuda版本
在安装对应版本的cudnn后, 可以通过官网https://www.paddlepaddle.org.cn/ 安装正确版本的paddlepaddle-gpu

[2022-11-23 14:34] zhao-sy commented on #48237
好的，我再看看，谢谢您

[2022-11-23 17:20] wns-purushottamsah commented on #46377
I uninstalled paddlepaddle-gpu==2.4 and installed paddlepaddle-gpu==2.3.2.

[2022-11-23 19:56] emilygong-zhuying opened #48302 "Exception not handled"
### bug描述 Describe the Bug

[My Jupyter Notebook](https://github.com/emilygong-zhuying/Weibo-Network-Analysis/blob/main/paddle_training.ipynb)

可以进入上面的链接Ctrl + F “mytest(model, metric, actual_test_data_loader)” 查看报错的cell。我用同样的mytest function evaluate过我的dev data，是没有问题的。parameters也都有对应换过，所以照理来说不应该有问题。。。我看了我的dataloader，感觉是正常的，每一个tensor也都在max_length之下。

[code]

### 其他补充信息 Additional Supplementary Info

[2022-11-24 02:06] zh794390558 commented on #48302
`IndexError: list index out of range` check下吧。还有num workers 设置成0试试。

[2022-11-24 02:16] xprincehf opened #48305 "A30显卡预测遇到cudaErrorNoKernelImageForDevice，cuda版本是11.2"
### 请提出你的问题 Please ask your question

使用官方的docker（paddlepaddle/paddle:2.3.2-gpu-cuda11.2-cudnn8）
在A30环境遇到cudaErrorNoKernelImageForDevice
机器的驱动如下

<img width="556" alt="image" src="https://user-images.githubusercontent.com/9077041/203679037-5899356d-284a-495c-8de4-08fef715fc39.png">
cuda环境如下：
<img width="530" alt="image" src="https://user-images.githubusercontent.com/9077041/203679211-38fe1b05-c021

[2022-11-24 03:04] zh794390558 commented on #48305
cuda 11.4 目前应该不支持。

[2022-11-24 03:09] xprincehf commented on #48305
drive是11.4的，但是docker的runtime环境是11.2的，应该默认是先用runtime的环境吧？

[2022-11-24 03:53] violetweir commented on #47905
麻烦问一下是否有相关教程或者类似实现样例

[2022-11-24 06:20] LetmeSay commented on #48264
现在是编译的问题过不去，感觉不像是依赖包的问题

[2022-11-24 06:37] phlrain commented on #48277
建议通过继承paddle.nn.LSTMCell，自定义NewLSTMCell，重载forward函数（重新定义公式），然后通过 paddle.nn.RNN这个接口将NewLSTMCell组装为一个RNN网络来使用，详见：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/nn/RNN_cn.html#rnn

[2022-11-24 07:39] yeyupiaoling opened #48321 "使用自动混合精度训练，速度不增反降"
### 请提出你的问题 Please ask your question

 - PaddlePaddle 2.4.0rc0
 - Ubuntu 18.04

参考的文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/performance_improving/amp_cn.html
使用的模型包括deepspeech2、conformer结合transformer的u2，这两个模型都没有增加速度，conformer速度反而慢了近一倍。

没有使用自动混合精度训练：
[code]

开启了amp：
[code]

[2022-11-24 08:29] Caozhou1995 commented on #48321
自动混合精度不一定能够提速，可以先参考适用场景说明进行排查：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/performance_improving/amp_cn.html#shiyongchangjingshuoming

[2022-11-24 09:03] yeyupiaoling commented on #48321
@Caozhou1995 有挺多的 matmul、conv 了，应该有较大的提升才对。就算速度增加，也不至于降这么多。

[code]

[2022-11-24 09:05] JunnYu opened #48328 "paddle.logsumexp对于大矩阵存在bug"
### bug描述 Describe the Bug
- paddle版本develop。

在jupyter notebook中初始化一下这个tensor！矩阵太大了需要分配一段时间。
[code]

下面的代码在jupyter notebook中循环点击运行N次，发现结果正常。
![image](https://user-images.githubusercontent.com/50394665/203740863-0561624c-a04e-434a-a4ac-f420d0744fd8.png)

[code]

下面的代码在jupyter notebook中循环点击运行N次，发现程序卡住了？感觉好像卡在显存分配上？？？？前几步训练还正常，但是你循环运行N次后代码就挂了。
![image](https://user-images.githubusercontent.com/50394

[2022-11-24 09:08] shiyutang opened #48329 "新增对含0维的Tensor的输入支持"
### 需求描述 Feature Description

在和Pytorch 进行MaskFormer的对齐复现过程中发现torch对含0维tensor的支持很好，基本用户没有感知，但是paddle不支持，在进行interpolate、einsum、tensor索引、损失函数等。

比如输入x的shape为[0,512,512]是一种需要支持的情形。

### 替代实现 Alternatives
需要在代码逻辑中加入对于0维tensor的判断，并做特殊处理，过程中需要查看每处差异位置pytorch对0纬tensor的处理，因此处理过程十分复杂。

[2022-11-24 09:28] shiyutang opened #48333 "paddle2.3.2 存在Tensor的数值问题"
### bug描述 Describe the Bug

在使用如下代码进行评估时，出现mIOU等指标出现负数，究其原因发现训练500 iters之后，输入image tensor存在数值问题，导致后续一系列错误，具体数值问题表现为转换为numpy之后的平均值和tensor的平均值不一致。
<img width="489" alt="7167be0cefafdbd28d1fd8ccacb2c03c" src="https://user-images.githubusercontent.com/34859558/203747461-15425c85-c500-45c5-8c6a-8cca2de426a7.png">

代码：https://github.com/shiyutang/PaddleSeg/tree/Maskformer
复现步骤：
1. 在paddle2.3.2上，执行下面指令，训

[2022-11-24 09:34] yeyupiaoling commented on #48321
@Caozhou1995 这白名单`custom_white_list`不需要设置也行的吧，可以自动获取支持float16的op吧？

[2022-11-24 09:44] jczaja commented on #42980
@jiangjiajun Hi, I have run experiments according to provided instructions and I did not observe lower performance of oneDNN solution relatively to CPU . Here are results:

**CPU(disabled mkldnn):**         generation speed: 19445.28208386203Hz, RTF: 1.2342325452772942
**oneDNN(enabled mkldnn):** generation speed: 25044.155138941118Hz, RTF: 0.9583074320875148

### Details:
**PaddlePaddle:** commit

[2022-11-24 09:46] SigureMo opened #48334 "[Dy2St] Dygraph to Static function extension tracking issue"
## 项目说明

用于跟踪 Call-for-Contributions: [动转静功能扩展和旧接口退场](https://github.com/PaddlePaddle/community/blob/master/pfcc/call-for-contributions/Dy2St/to_static_function_extension.md) 各个任务的计划和进度

## 成果总结（整体进展 9/9）

| 子任务 | 具体内容和完成时间|相关 PR | 作者 |
|-|-|-|-|
| 1. 旧接口退场| ✅ 1.1 移除 ProgramTranslator（2023/01/11） |#49628 | @DrRyanHuang
|| ✅ 1.2 移除 declarative 接口[^1] (2022/12/19) | #49145 | @Tomoko-hjf |
|| ✅ 1.3 i

[2022-11-24 10:01] #48277 closed, assigned to lyuwenyu

[2022-11-24 10:04] zh794390558 commented on #48328
已反馈给相关同学。

[2022-11-24 10:10] zh794390558 commented on #48329
已反馈给相关同学。

[2022-11-24 10:15] zh794390558 commented on #48333
已反馈给相关同学。

[2022-11-24 12:15] KangChou commented on #42924
https://blog.csdn.net/weixin_41194129/article/details/120102509

[2022-11-24 12:15] KangChou commented on #42924
https://blog.csdn.net/weixin_41194129/article/details/120102509

[2022-11-24 12:15] KangChou commented on #42924
https://blog.csdn.net/weixin_41194129/article/details/120102509

[2022-11-24 12:21] Caozhou1995 commented on #48321
可以的。可以看amp fp16和fp32的使用说明：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/performance_improving/amp_cn.html#id2

[2022-11-24 12:23] Caozhou1995 commented on #48321
summary信息是开启amp后的吗？没在里面看到fp16

[2022-11-24 12:24] yeyupiaoling commented on #48321
这个是没有用混合精度的

[2022-11-24 12:24] Caozhou1995 commented on #48321
麻烦再提供一下使用混合精度的summary信息

[2022-11-24 12:25] yeyupiaoling commented on #48321
好的，明天发下

[2022-11-24 13:10] Ethan1X commented on #48224
好的，谢谢！

[2022-11-24 14:40] jczaja commented on #42980
@jiangjiajun
From oneDNN point of view , to have extra speedup it would be good to get rid of  excessive operations of squeeze and unsqueeze e.g.  squeeze->leaky_relu->unsqueeze     should be turned into leaky_relu (see red box on picture)
![42980](https://user-images.githubusercontent.com/15085062/203810467-2373aad8-1e74-4755-821d-b079274aad6b.png)

[2022-11-24 23:50] mandylyin commented on #47874
@zhouwei25 直接跑paddle.ones([0, 0, 0], dtype=paddle.bool)不会报错，是正常的。我又重新建了环境，倒腾了几遍，目前正常了，可能是环境问题吧。多谢啦！

[2022-11-25 01:07] yeyupiaoling commented on #48321
@Caozhou1995 这个是开启了混合精度的。
[code]

[2022-11-25 01:54] David-19940718 commented on #47832
请问下能指派个工程师帮忙解决下吗？

[2022-11-25 03:16] tjdster opened #48366 "paddleX 实力分割模型 推理报错 Cuda error(700), an illegal memory access was encountered"
### 请提出你的问题 Please ask your question

同样大小的图片有的测试就报错

[2022-11-25 04:03] zhiboniu commented on #48366
你好，上面的信息太简洁了无法帮助解决问题，能否提供一下完整的报错log，以及执行的命令或模型

[2022-11-25 04:40] tjdster commented on #48366
paddleX 客户端 测试 错误日志 Cuda error(700), an illegal memory access was encountered 。The device encountered a load or store instruction on an invalid memory address. This leaves the process in an inconsistentstate and any further CUDA work will return the same error. To continue using CUDA, the process must be terminated and relaunch

[2022-11-25 04:54] tjdster commented on #48366
![Uploading 微信图片_20221125125050.png…]()

[2022-11-25 05:05] tjdster commented on #48366
报错代码
for (int i = 0; i < inputs.size(); i++) {
    auto in_tensor = predictor_->GetInputHandle(input_names[i]);
    in_tensor->Reshape(inputs[i].shape);
    if (inputs[i].dtype == FLOAT32) {
      float* im_tensor_data;
      im_tensor_data = (float*)(inputs[i].data.data());  // NOLINT
      in_tensor->CopyFromCpu(im_tensor_data);
    } else if (inputs[i].dtype == INT64) {
      int64_t* im_tensor

[2022-11-25 05:37] tjdster commented on #48366
cpu运行正常

[2022-11-25 05:52] tjdster commented on #48366
paddleX 客户端 测试 错误日志 Cuda error(700), an illegal memory access was encountered 。The device encountered a load or store instruction on an invalid memory address. This leaves the process in an inconsistentstate and any further CUDA work will return the same error. To continue using CUDA, the process must be terminated and relaunch

[2022-11-25 05:53] tjdster commented on #48366
报错代码
for (int i = 0; i < inputs.size(); i++) {
auto in_tensor = predictor_->GetInputHandle(input_names[i]);
in_tensor->Reshape(inputs[i].shape);
if (inputs[i].dtype == FLOAT32) {
float* im_tensor_data;
im_tensor_data = (float*)(inputs[i].data.data()); // NOLINT
in_tensor->CopyFromCpu(im_tensor_data);
} else if (inputs[i].dtype == INT64) {
int64_t* im_tensor_data;
im_tensor_data = (int64_t*)(inputs

[2022-11-25 07:12] zhangyubo0722 opened #48372 "Paddle中tensor的索引取值问题"
### 请提出你的问题 Please ask your question

假如给一个tensor，x=[[1., 2., 3.],[2., 3., 4.]]，shape为(2,3)   和一个索引index=[[0, 1, 2],   [1, 2, 0,], [2, 1, 0]]，shape为(3,3),当运行y=x[:,index]时报错"IndexError: Valid index accept int or slice or ellipsis or list, but received [slice(None, None, None), Tensor(shape=[49, 49], dtype=int64, place=Place(gpu:0), stop_gradient=True,"而使用pytroch进行索引取值时可以正常运行，y=x[:,index]得到y=[[[1.,

[2022-11-25 07:36] zhangyubo0722 commented on #48372
`import paddle
import torch

index=[[0, 1, 2],
       [1, 2, 0],
       [2, 1, 0]]

x_paddle = paddle.to_tensor([[1., 2., 3.],
                             [2., 3., 4.]])
y_paddle = paddle.to_tensor(index, dtype="int64")
result_paddle = x_paddle[:, y_paddle]
print(result_paddle)

x_torch = torch.tensor([[1., 2., 3.],
                       [2., 3., 4.]])
y_torch = torch.LongTensor(index)
result_to

[2022-11-25 08:02] #48237 closed, assigned to minghaoBD

[2022-11-25 08:03] zhiboniu commented on #48372
你好，该种情况可以使用paddle.index_select

[2022-11-25 08:08] zhiboniu commented on #48366
你好，看起来像是拷贝的内存范围大于in_tensor在gpu上分配的空间，请确认in_tensor数据类型，将inputs[i].data数据类型转换成和in_tensor一样后拷贝。如果后者数据类型占用空间大于前者，则拷贝会超出范围。

[2022-11-25 08:16] sunzhongkai588 commented on #47480
🎉第七期体验评测活动圆满结束🎉

第七期获奖名单🏅️：

  * 使用指南文档评测：【一等奖】Anoxia、讷言敏行（小组长）、胡萝卜炒西红柿（小组长）、笠雨聆月 ｜ 【二等奖】暖阳、魔术师（小组长）、无情道人、Fisher
  * Pytorch模型动转静验证：【一等奖】 UnseenMe、魔术师（小组长）、朱子英（小组长）、胡萝卜炒西红柿（小组长）、川川（小组长）

感谢以上同学的付出，以及小组长们的配合工作，请各位期待第八期的活动～

[2022-11-25 08:16] #47480 closed, assigned to zhangting2020

[2022-11-25 08:31] tjdster commented on #48366
数据类型都是float吧，上面代码已经做了判断， 但是拷贝出错，有的图测试没有问题，大小一致

[2022-11-25 08:37] zhangyubo0722 commented on #48372
好的非常感谢

[2022-11-25 09:21] shiyutang opened #48378 "Tensor.numpy() 在静态图转换成numpy array 失败"
### bug描述 Describe the Bug

最小可复现代码：
[code]
报错信息：
<img width="572" alt="image" src="https://user-images.githubusercontent.com/34859558/203945287-41b6ae07-a625-457b-a885-3985e54ad351.png">

打印img_arr 也可以发现其为lod tensor，而不是numpy array，但是不能转换为numpy array 的话，会出现cv2算子报错。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-25 09:35] #48290 closed, assigned to lyuwenyu

[2022-11-25 09:59] Yang-Changhui opened #48381 "torch中的transforms.GaussianBlur如何用paddle实现"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

### 替代实现 Alternatives

请问，有人将torch中的transforms.GaussianBlur用paddle实现吗

[2022-11-25 10:00] TimeYWL opened #48382 "在6600xt上编译paddle时，Subprocess aborted！"
### 请提出你的问题 Please ask your question

os: ubuntu 20.04
device: 6600xt
rocm: 5.2.0
编译指令：`cmake .. -DPY_VERSION=3.8 -DWITH_ROCM=ON -DWITH_TESTING=OFF -DWITH_DISTRIBUTE=OFF -DWITH_MKL=ON -DCMAKE_BUILD_TYPE=Release -DWITH_RCCL=OFF`
`make`
错误：
[ 90%] Linking CXX executable eager_generator
[ 90%] Built target eager_generator
free(): invalid pointer
Subprocess aborted
make[2]: *** [paddle/fluid/eager/aut

[2022-11-25 10:18] mike-egg123 opened #48385 "paddle2.4.0rc tensor索引问题"
### bug描述 Describe the Bug

在paddle2.4.0rc版本中，使用paddle.to_tensor函数将一个numpy的array类型转成paddle的tensor类型后，出现了奇怪的现象，如图：
<img width="1058" alt="image" src="https://user-images.githubusercontent.com/59782185/203959847-dfae7c6b-3a83-4181-85dc-b264c7a13bfc.png">
`X_tensor`索引为0的地方明明是有非零值的，但用`X_tensor[0]`取这个元素的时候，不知道怎么回事全变成0了，试过将place改成cpu，可以解决这问题，但还是很奇怪。同时这个现象不会在paddle2.3.2中出现。

### 其他补充信息 Additional Supplem

[2022-11-25 10:26] momozi1996 commented on #47064
## 11/25日 活动进展⏰
- 任务认领——认领率：26份/36份
- 任务完成&提交AIstudio ——完成/认领率：8份/26份
- 任务完成&提交PR ——完成/认领率：8份/26份

## github-参与人：（14位）
@RedContritio、@lwbmowgli、@WangXi2016、@Rayman96、@edencfc、@kjf4096、@npuyzr、@2017040264、@lzzzzzm、@yangguohao、@wuhuachaocoding、@dasenCoding 、@Liyulingyue 、@RuthlessMan、@tianxingxia-cn

## github-PR提交人-进展：（5位）
@WangXi2016、@lzzzzzm、@edencfc、@2017040264、@Liyulingyue

### 已提交的8个PR：
https:

[2022-11-25 11:01] #48305 closed, assigned to zh794390558

[2022-11-25 11:19] sfraczek opened #48389 "humanseg_v2 to use shuffle_channel op instead of reshape+transpose+reshape"
### 需求描述 Feature Description

Hi,
I it seems to me that this block of operators is performing the same operation as `shuffle_channel` operator with `groups=2`. Have this been considered to replace it?
![image](https://user-images.githubusercontent.com/17185347/203974016-e3d6ea2c-6dfd-43f7-9283-90bb9e191079.png)
The test of shuffle channel is comparing against exactly the same set of operations in

[2022-11-25 11:33] zhiboniu commented on #48378
你好，numpy和cv2的工作模式是动态执行的方式，静态图是先建图后执行的方式，两者不能兼容。所以tensor.numpy()也只在动态图下使用。

[2022-11-25 11:36] zhiboniu commented on #48381
你好，数据增强中的GaussianBlur可以调用cv2实现

[2022-11-25 11:38] zhiboniu commented on #48382
你好，上面信息有限，能否补充一下完整的log，包含具体error行的部分。

[2022-11-25 11:45] zhiboniu commented on #48385
你好，我这里无法复现这个问题。辛苦提供一下更详细的信息，方便定位，包括系统、cuda版本、paddle commit版本。谢谢

[2022-11-25 11:47] zhiboniu commented on #48385
另外，可以确认一下
x_tensor=paddle.randn(())
print(x_tensor)
print(x_tensor[0])
这种最小测试单元能否复现

[2022-11-25 12:06] zhiboniu commented on #48389
Thanks for your suggestion, we will consider it.

[2022-11-25 12:11] mike-egg123 commented on #48385
系统版本：
[code]
cuda版本：
[code]
paddle commit 版本：未知，但我是用这个指令使用docker的方法安装的：`nvidia-docker pull paddlepaddle/paddle:2.4.0rc-gpu-cuda11.7-cudnn8.4-trt8.4`，时间为11月1日。
最小测试单元可以复现：
![image](https://user-images.githubusercontent.com/59782185/203983377-3e3e9609-d975-4754-8616-b951b8b21b09.png)

[2022-11-25 12:13] zhiboniu commented on #48366
能否抓一下错误看看图片有什么区别呢，这样看来出错有可能是图片差异的原因。

[2022-11-25 12:18] zhiboniu commented on #48385
好的，感谢，我们找到问题后会及时回复，请留意后续消息。
当前使用可以先在其他环境下使用。

[2022-11-25 13:13] myjlyjly opened #48398 "Paddle 二维矩阵按行赋值有错误"
### bug描述 Describe the Bug

给 Paddle 二维矩阵按行赋值, 和预期的不一样, 自动变成负数了
Paddle 版本 2.3.2

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-25 14:47] zhiboniu commented on #48398
你好，为方便复现，辛苦提供一下详细的部署环境、系统版本、cuda版本、paddle commitid信息，谢谢

[2022-11-25 15:17] codecookinging commented on #48292
算子名称：reduce_prod/reduce_min/reduce_max/reduce_any
认领人：codecookinging

[2022-11-26 00:49] tjdster commented on #48366
换个模型或者图片就可以，但是其他图又会出问题，用cpu没问题

[2022-11-26 00:50] tjdster commented on #48366
![微信图片_20221125125050](https://user-images.githubusercontent.com/61610666/204066196-f3b501ba-b442-4697-a519-bace753a29c2.png)

[2022-11-26 00:52] tjdster commented on #48366
![488574e32dcb57bfc5265ae204d52e3](https://user-images.githubusercontent.com/61610666/204066260-0ec57075-f3c6-4386-9d8a-b3e0164c4eb9.png)

[2022-11-26 02:01] bigbosskai opened #48405 "源码编译paddle2.4报错"
### bug描述 Describe the Bug

docker run --name paddle-test -v $PWD:/paddle --network=host -it registry.baidubce.com/paddlepaddle/paddle:latest-dev /bin/bash

cmake .. -DPY_VERSION=3.7 -DWITH_GPU=OFF
make -j$(nproc)

Scanning dependencies of target event_node
[ 10%] Building CXX object paddle/fluid/platform/profiler/CMakeFiles/event_node.dir/event_node.cc.o
[ 10%] Linking CXX static library libevent

[2022-11-26 02:13] Aran-Guo commented on #48334
任务名称：移除 ProgramTranslator
认领人：Aran-Guo

[2022-11-26 02:26] tjdster commented on #48366
我改变模型的- ResizeByShort:由
    max_size: 2000
    short_size: 200
改为
    max_size: 2500
    short_size: 200
测试可以通，不知道这是什么原因引起的

[2022-11-26 02:39] tjdster commented on #48366
更改图片输入尺寸测试通过，但是之后其他图片还是出现

[2022-11-26 02:42] tjdster commented on #48366
输入图像尺寸长度在3500-5500，宽度在200-300不等

[2022-11-26 02:48] Aran-Guo commented on #48292
算子名称：range
认领人：Aran-Guo

[2022-11-26 03:28] wangxinxin08 commented on #48405
可以发一下具体的报错位置的截图，一般在前面会有error的信息，猜测这里可能是没有代理导致一些repo没有下载下来导致编译失败

[2022-11-26 03:45] Farewell-CK opened #48406 "加载训练数据时报错"
### bug描述 Describe the Bug

模型保存
paddle.save(model.state_dict(), 'modelweight{}.pdparams'.format(epoch))
paddle.save(Opt.state_dict(), 'SGDepoch:{}.pdpot'.format(epoch))
模型加载
model = Facenet(num_classes=10)
model.load_dict('modelweight6.pdparams')
在加载预测的时候报错
d:\anaconda3\envs\paddle_env\lib\site-packages\paddle\fluid\dygraph\layers.py:1492: UserWarning: Skip loading for satge1.0.0.weight. satge1.0

[2022-11-26 04:01] wangxinxin08 commented on #48406
这个是warning，表示你保存的权重文件中缺失了某一个权重satge1.0.0.weight.，可以检查下组网等代码

[2022-11-26 04:04] ZhangzrJerry opened #48407 "paddle2.4在jupyter的import报错"
### bug描述 Describe the Bug

系统win10
python3.9.1

<img width="820" alt="image" src="https://user-images.githubusercontent.com/87751816/204071657-061095c0-4909-41ae-aa69-d5bf81f53bd4.png">
如图，终端中完成安装后进入python能够正常引入paddle并输出版本号，在jupyter下运行`import paddle`就会报错，在2.3.2版本下也会有如图问题，同目录下python文件则可以正常引入
<img width="813" alt="image" src="https://user-images.githubusercontent.com/87751816/204071749-da9c8255-b88

[2022-11-26 04:30] wangxinxin08 commented on #48407
这种一般不是paddle的问题，猜测可能没安装到同一python环境或者python环境有问题，建议直接在jupyter的notebook中安装，比如
[code]

[2022-11-26 05:46] mywordwin commented on #37291
你好，我也遇到了同样的问题，请问解决了吗

[2022-11-26 05:46] mywordwin commented on #37291
你好，我也遇到了同样的问题，请问解决了吗

[2022-11-26 05:53] tjdster commented on #48366
![image](https://user-images.githubusercontent.com/61610666/204074448-1a8bfa19-d2d6-4b5f-8bd9-109b8a76400b.png)
![image](https://user-images.githubusercontent.com/61610666/204074464-bf90f39b-ff5f-45c9-a9c8-47d42e4fb003.png)
应该跟图片有关，将图片这样处理可以通过

[2022-11-26 06:42] ZhangzrJerry commented on #48407
主要的我项目昨晚还能跑，今天跑的时候告诉我import paddle有问题一下子给我整不会了，我重启了内核解决了问题

[2022-11-26 06:42] #48407 closed, assigned to wangxinxin08

[2022-11-26 06:44] tjdster commented on #48366
![image](https://user-images.githubusercontent.com/61610666/204076025-531d1b06-1197-44f9-9dce-7979aa6b8b84.png)
在图片上画个缺陷检测可以通过，不画就报错，

[2022-11-26 07:02] TimeYWL commented on #48382
以下是更为详细的编译输出，但并没有详细的错误信息

/opt/rocm/include/hip/amd_detail/amd_hip_complex.h:105:22: warning: implicitly-declared ‘constexpr hip_impl::Scalar_accessor<double, double [2], 1>::Scalar_accessor(const hip_impl::Scalar_accessor<double, double [2], 1>&)’ is deprecated [-Wdeprecated-copy]
  105 |         lhs.y -= rhs.y;                                                                            \
      |

[2022-11-26 07:21] bigbosskai commented on #48405
需要科学上网吗？

[2022-11-26 08:25] wangxinxin08 commented on #48405
需要拉取一些github的repo

[2022-11-26 10:43] ZhangYuef commented on #48047
- 路线一：API文档问题修复
- 题目：对inplace api增加介绍信息
- 认领人：ZhangYuef
----
PR: https://github.com/PaddlePaddle/docs/pull/5469

[2022-11-26 13:45] PommesPeter commented on #48054
好的

[2022-11-26 13:46] PommesPeter commented on #48054
那我现在可以针对目前有的一些问题进行补充吗

[2022-11-26 14:02] yuwoyizhan commented on #46069
@jzhang533  @Ligoml 飞桨2.4,gpu版本,python3.10.8,cuda10.2,windows10 64位,使用pip uninstall paddleclas报错,跟fassi_cpu有关

see discussion in #48414

[2022-11-26 14:03] yuwoyizhan opened #48414 "飞桨2.4,gpu版本,python3.10.8,cuda10.2,windows10 64位,使用pip uninstall paddleclas报错,跟fassi_cpu有关"
### bug描述 Describe the Bug

飞桨2.4,gpu版本,python3.10.8,cuda10.2,windows10 64位,使用pip uninstall paddleclas报错,跟fassi_cpu有关

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-26 14:03] yuwoyizhan commented on #48414
970显卡

[2022-11-26 14:05] yuwoyizhan commented on #48414
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.5/docs/tutorials/INSTALL_cn.md
这个链接,export CUDA_VISIBLE_DEVICES=0报错,这个报错是所有飞桨版本都会报的.
python tools/infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=true weights=https://paddledet.bj.bcebos.com/models/ppyolo_r50vd_dcn_1x_coco.pdparams --infer_img=demo/000000014439.jpg
这个代码报错,只有飞桨2.4报错,我肯定原来的2.3.2不会报错.

[2022-11-26 14:06] yuwoyizhan commented on #48414
不知道是昨天还是前天,飞桨官网上线了2.4版本,我就安装了,然后初步试了一下,就报了3个错误了,真是无语.2个半月的测试,怎么还会有这么低级的报错?

[2022-11-27 01:41] wangxinxin08 commented on #48414
发一下报错截图看看呢？我这边运行以下命令没有报错，另外fassi是paddleclass引入的向量检索库，和PaddlePaddle无关
[code]

[2022-11-27 13:41] ZhangJingweiYa opened #48421 "多卡报错Retry to connect to 0.1.68.146:63314 while the server is not yet listening."
### bug描述 Describe the Bug

安装的paddle是支持多卡的，但是在多卡的时候一直报错不往下进行

`python -m paddle.distributed.launch train.py \
       --config configs/segformer/segformer_b5_cityscapes_1024x1024_160k.yml \
       --do_eval \
       --use_vdl \
       --save_interval 500 \
       --save_dir output `

2022-11-27 21:31:55 [INFO]      There are 1052/1067 variables loaded into SegFormer.
I1127 21:31:55.544849 3935673

[2022-11-27 16:20] Giszy commented on #43411
@fmscole
问题分析：
paddle.utils.run_check()运行的时候会搜索libcuda.so，但在WSL2下，该文件是Windows的路径"C:\Windows\System32\lxss\lib\libcuda.so"。所以，出现FatalError: Segmentation fault is detected by the operating system，就是因为在WSL2的Ubuntu系统中缺少libcuda.so所致。

解决方案：将libcuda.so拷贝到/usr/local/cuda/lib64/下即可。测试通过。

[2022-11-27 21:32] jakpiase commented on #48109
Hi @yeliang2258. I have reproduced the performance of oneDNN in this model, but unfortunately we can't do much with that because the operations that are in this model are too small to make oneDNN efficient. OneDNN is designed for medium/large tensor operations while in this model there are a lot of 1x1(scalar) tensor operations. In these scenarios the overhead of creating oneDNN objects is taking

[2022-11-28 01:39] jingsongliujing commented on #48414
这个估计是paddledetection套件版本没跟上paddle的新版本，建议就是还是用2.3，估计官方还要一段时间和套件进行适配

[2022-11-28 01:54] jzhang533 commented on #46069
[v2.4.0](https://github.com/PaddlePaddle/Paddle/releases/tag/v2.4.0) is released, I will close this issue.

[2022-11-28 01:54] #46069 closed, assigned to nobody

[2022-11-28 02:10] shengzhe8688 commented on #19361
我也碰到这个错误，我是C++的，不知道楼上解决没有

[2022-11-28 02:34] yeyupiaoling opened #48428 "Paddle 2.4.0版本的缺少 libpython3.8.so.1.0"
### bug描述 Describe the Bug

 - PaddlePaddle 2.4.0
 - Ubuntu 18.04
 - Python 3.8
 - Anaconda 3

如果安装的是 2.4.0rc0是没有任何问题的，安装这个稳定版本就这样了。安装命令：
[code]

报错信息：
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-28 02:46] lunlu opened #48430 "paddle的Layer模块没有register_backward_hook函数可以使用，有替代的函数吗"
### 问题描述 Please describe your issue

paddle的Layer模块没有看到类似torch这种在Module模块可以调用register_backward_hook，请问有替代的方法吗。

[2022-11-28 03:03] yuwoyizhan opened #48433 "期待飞桨全面支持C++,目前飞桨对C++的支持只限于推理"
### 需求描述 Feature Description

pytorch几年前就支持C++和java了,目前飞桨对于C++的支持,仅仅限于推理.
安装飞桨和飞桨套件,组网,训练,评估等步骤功能,全部不支持C++,顶多算是在推理步骤支持C++.
我提了几个支持C++的issue,飞桨官方找了个人加了我微信,聊了几句,最后他告诉我,支持C++用处不大,难度很大,甚至他还说,支持C++得由更高层的人拍板决定.说白了支持C++就是费力不讨好.
不知道各位飞桨大佬什么想法,反正我希望,有一天可以整个工作流程都可以用C++语言,包括安装,训练,评估,推理等步骤,而不是用python语言.天生厌恶python语言.
飞桨6个月左右更新一次,一年更新2次.pytorch3个月更新一次,而且pytorch对于新技术,新东西的支持速度,比飞桨快多了,比如pytorch比飞桨更快支持3090显卡,更快支持py

[2022-11-28 03:09] #47839 closed, assigned to qili93, pangyoki, wanghuancoder

[2022-11-28 03:10] #47832 closed, assigned to littletomatodonkey, wanghuancoder

[2022-11-28 03:10] #47826 closed, assigned to wanghuancoder

[2022-11-28 03:10] #47824 closed, assigned to heavengate, wanghuancoder

[2022-11-28 03:25] enkilee commented on #48047
#48283 关了无法打开了。重修了英文的boardcasting：https://github.com/PaddlePaddle/Paddle/pull/48434

[2022-11-28 03:30] XieYunshen commented on #48428
可以把Anaconda的python路径中的lib加入到LD_LIBRARY_PATH中，方法如下
[code]

[2022-11-28 03:46] wanghuancoder commented on #48430
Paddle暂时没有支持这个API。但Paddle支持tensor.register_hook。可以实现类似的功能。

[2022-11-28 04:15] TimeYWL commented on #48382
并没有具体的错误行，这就是头疼的地方，我在输出记录中搜索error都无法搜到。
还想请问一下，我的这个平台和cmake指令有问题吗？

[2022-11-28 05:12] zrr1999 commented on #48292
算子名称：one_hot_v2
认领人：zrr1999

[2022-11-28 07:14] zhwesky2010 commented on #48054
@PommesPeter https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/model_convert/pytorch_api_mapping_cn.html#pytorch-1-8-paddle-2-0-api 你好，现在可以先把这168个映射关系检查一遍，然后按这个方式重新标注下：
- 功能一致，参数一致（包含默认参数），也就是torch参数是paddle的相等或子集，可被paddle完全覆盖
- 功能一致，torch参数更多（torch多出来的参数，默认下是否一致）
- 功能一致，但两者参数不一致（不一致的参数及转换关系，默认下是否一致）
- 功能不一致，写不一致的用法
- torch独有的API，填paddle无

内容可以提PR到https://github.com/PaddlePaddle/docs里面去

[2022-11-28 07:32] Fordacre opened #48442 "OSError: (External) CUDA error(716), misaligned address."
### 请提出你的问题 Please ask your question

使用paddle程序运行时报错OSError: (External) CUDA error(716), misaligned address. 使用paddle版本2.2.2。找不到解决问题的头绪。麻烦帮忙看一下。
![image](https://user-images.githubusercontent.com/12699033/204219020-e77484cb-efa9-43ef-85c1-66d4431c11d0.png)

[2022-11-28 07:36] zh794390558 opened #48444 "DenseTensor::rank()"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

支持 phi::DenseTensor::rank() 接口。

### 替代实现 Alternatives

_No response_

[2022-11-28 07:53] turkeymz opened #48445 "2.4.0版本的缺少 libpython3.8.so.1.0"
### bug描述 Describe the Bug

BUG描述
更新Paddle 2.4.0后版本在import paddle时缺少 libpython3.8.so.1.0。参考BUG[48428](https://github.com/PaddlePaddle/Paddle/issues/48428)，全局搜索了一下该文件，也没有找到。

环境
PaddlePaddle 2.4.0
CentOS
Python 3.8

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-28 07:57] WenmuZhou commented on #48421
paddle.run.check()显示多卡ok的吗

[2022-11-28 08:20] yghstill commented on #48442
@Fordacre 可能是CUDA环境的问题，请问是使用Paddle框架还是Paddle Inference预测呢？如果是Paddle，那运行`paddle.utils.run_check()`看下是否运行正常呢？

[2022-11-28 09:19] zhiboniu commented on #48366
这样有可能跟图像处理有关系，可以先在模型代码对应的repo里去问问，看看图像处理上是不是有什么bug

[2022-11-28 10:32] tandangzuoren opened #48459 "scatter_add_, scatter_max"
### 请提出你的问题 Please ask your question

请问scatter_add_   scatter_max paddle有好的平替吗 这个put_along_axis 和scatter_nd_add 都会让输入和输出的维度是一致的。torch的scatter是按照index选择后生成的 这个有什么方法嘛 如果写for循环 可能比较慢<img width="640" alt="image" src="https://user-images.githubusercontent.com/44334128/204255912-1dc16fa8-b064-4e87-b09f-6b66c3e6ffeb.png">

[2022-11-28 10:55] jackyang122 opened #48463 "ImportError: libpython3.8.so.1.0: cannot open shared object file: No such file or directory"
### bug描述 Describe the Bug

    import paddle
  File "/home/yangjie/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/__init__.py", line 25, in <module>
    from .framework import monkey_patch_variable
  File "/home/yangjie/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/framework/__init__.py", line 17, in <module>
    from . import random  # noqa: F401
  File "/home/yangjie/anacon

[2022-11-28 10:56] MarginGitHub commented on #47384
那请问在cuda11.8上是不是不需要编译这个external cub库？

[2022-11-28 10:58] jackyang122 commented on #48463
已经看到其他多人也遇到这个bug 了,已经尝试export 修改环境变量.发现conda 创建新环境时,确实不存在这个依赖lib,目前paddle==2.4.0 或许麻烦告知下paddle 之前的版本可以通过使用,或者python 除了3.8还有哪些可以支持的.感谢

[2022-11-28 11:10] gouzil opened #48468 "英特尔mac版本编译develop后需要修改文件名才能正确安装"
### bug描述 Describe the Bug

修改前:
![截屏2022-11-26 上午9 06 29](https://user-images.githubusercontent.com/66515297/204262806-cbe7c8b0-22dd-45b8-905b-4dc46c5201a1.png)
修改后:
![截屏2022-11-26 上午9 47 04](https://user-images.githubusercontent.com/66515297/204263292-70ae76c8-b2cb-4dc8-ab7d-8e18158c83c2.png)

### 其他补充信息 Additional Supplementary Information

编译命令:
[code]

设备信息
![截屏2022-11-25 下午4 40 20](https://u

[2022-11-28 11:12] XieYunshen commented on #48463
创建conda环境的命令和conda版本可以发一下么？

[2022-11-28 11:17] Fordacre commented on #48442
@yghstill 看起来不太像，因为在Inference过程中有些程序能运行成功，有些不能（主要在于输入数据区别）。是否是因为paddle在处理一些特殊字符的时候产生了越界问题呢？而且比较奇怪的是将batch size调整为1，便没有报错了。
下图为`paddle.utils.run_check()`命令运行结果，看起来是正常的。
![image](https://user-images.githubusercontent.com/12699033/204264856-40bd554c-8a72-4a9b-a92d-96c8a1c003ed.png)

[2022-11-28 11:53] jackyang122 commented on #48463
创建命令:conda create -n paddle python=3.8

版本:conda 4.13.0

[2022-11-28 11:54] XieYunshen commented on #48463
我本地使用Linux安装anaconda后，创建环境，或者使用默认环境都是可以找到这个so文件的
<img width="841" alt="image" src="https://user-images.githubusercontent.com/32428676/204271481-b8345378-9d90-46c0-891d-ead46d5a4ffe.png">

[2022-11-28 11:58] jackyang122 commented on #48463
你好,我也是能找到的.找到一堆
/home/yangjie/anaconda3/envs/bbt/lib/libpython3.8.so
/home/yangjie/anaconda3/envs/bbt/lib/libpython3.8.so.1.0
/home/yangjie/anaconda3/envs/bbt/lib/libpython3.so
/home/yangjie/anaconda3/envs/digo/lib/libpython3.8.so
/home/yangjie/anaconda3/envs/digo/lib/libpython3.8.so.1.0
/home/yangjie/anaconda3/envs/digo/lib/libpython3.so
/home/yangjie/anaconda3/envs/paddle/lib/libpython3.8.so
/ho

[2022-11-28 11:59] jackyang122 commented on #48463
代码就一行
![企业微信截图_1669636730734](https://user-images.githubusercontent.com/31682914/204272417-4c6b8bda-22cd-49ba-a74f-4d951d609c64.png)

[2022-11-28 11:59] jackyang122 commented on #48463
![企业微信截图_1669636730734](https://user-images.githubusercontent.com/31682914/204272440-291e8b71-d51e-4e3a-af76-3d8a3ccfe632.png)

[2022-11-28 12:02] Fordacre commented on #48442
初步定位是paddle.text.ViterbiDecoder的问题。因为在此op之前的数据可以打印，之后的便无法打印了。

[2022-11-28 12:03] XieYunshen commented on #48463
你先这样操作一下,然后再执行import 命令
`
export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/home/yangjie/anaconda3/envs/paddle/lib/
`
参考这个ISSUE：https://github.com/PaddlePaddle/Paddle/issues/48428

[2022-11-28 12:05] jackyang122 commented on #48463
感谢,已经解决

[2022-11-28 12:05] #48463 closed, assigned to yghstill

[2022-11-28 12:15] kangguangli opened #48474 "[MKLDNN] MemoryError Problem about `MatmulOneDNNHandler`"
### bug描述 Describe the Bug

### Background
I' m cleaning dependencies of old api `fluid.layers.matmul`(https://github.com/PaddlePaddle/Paddle/pull/47988). When i replace all `fluid.layers.matmul` in `python/paddle/fluid/tests/unittests/test_static_save_load.py` with `paddle.matmul`, which will lead the op changes to `matmul_v2` from `matmul`, another test `test_static_save_load_bf16.py` failed whi

[2022-11-28 20:19] danielvandenberg95 commented on #48138
Is there any progress that can be reported, or anything of information I can provide to help?

[2022-11-29 01:41] turkeymz commented on #48445
进一步的，我跟着paddlenlp关于Triton Server部署文档来做
发现官方triton容器也会出现同样的问题

[2022-11-29 02:18] zh794390558 commented on #48445
参考 https://github.com/PaddlePaddle/Paddle/issues/48428 的解决方法试试。

[2022-11-29 02:33] jackyang122 opened #48486 "paddle2.4 多卡警告"
### bug描述 Describe the Bug

目前信息存在如下,请问会影响后续什么吗?还是已经正常安装了?
![企业微信截图_16696892262330](https://user-images.githubusercontent.com/31682914/204424552-29ccca81-0277-4e86-a0c7-f1bbe2e1305e.png)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-29 03:09] kulongwei opened #48489 "AttributeError: module 'paddle.fluid.core_avx' has no attribute 'save_op_compatible_info'"
### 请提出你的问题 Please ask your question

不知道是不是版本的问题，在运行这行代码时会报错：

File "PaddleSeg/pdseg/train.py", line 403, in train
    save_infer_program(test_prog, ckpt_dir)
  File "PaddleSeg/pdseg/train.py", line 167, in save_infer_program
    paddle.fluid.core.save_op_compatible_info(_test_program.desc)
AttributeError: module 'paddle.fluid.core_avx' has no attribute 'save_op_compatible_info'

请大佬帮忙看一下，如何解决！！！

[2022-11-29 03:14] ABC1234-gitup opened #48491 "运行paddleseg里面的STDC时，出现错误：Error: C:\home\workspace\Paddle\paddle\phi\kernels\gpu\one_hot_kernel.cu:38 Assertion `p_in_data[idx] >= 0 && p_in_data[idx] < depth` failed. Illegal index value, Input(input) value should be greater than or equal to 0, and less than depth [1], but received [6]."
### 问题描述 Please describe your issue

运行paddleseg里面的STDC时，出现错误：Error: C:\home\workspace\Paddle\paddle\phi\kernels\gpu\one_hot_kernel.cu:38 Assertion `p_in_data[idx] >= 0 && p_in_data[idx] < depth` failed. Illegal index value, Input(input) value should be greater than or equal to 0, and less than depth [1], but received [6].

[2022-11-29 03:28] jackyang122 commented on #48486
参考别人,建议大家在2022.11.29 前后还是用2.3.2版本,2.4.0 兼容性太差

[2022-11-29 03:28] #48486 closed, assigned to LiuChiachi

[2022-11-29 03:31] LiuChiachi commented on #48486
看日志您已经正常安装了。
请问您遇到了什么兼容性问题？

[2022-11-29 03:46] jackyang122 commented on #48486
2.4.0版本会报warning ,可以参考下上图信息,cant enable P2P access 可能是英伟达底层的坑, 目前不影响使用

[2022-11-29 03:48] jackyang122 commented on #48486
麻烦有空讲述下, 这个的含义 cant enable P2P access , 谢谢

[2022-11-29 03:52] DDDivano commented on #48468
需要使用`pip debug --verbose` 命令查看当前python环境支持的pip版本，如果版本号不在里面，会报上述错误。需要手动修改编译出来的包后缀即可使用。后续我们会调研下看看如何从paddle编译层面去规避这个问题。

[2022-11-29 03:54] LiuChiachi commented on #48489
应该是环境问题～
你使用的paddle版本是？如何安装的呢？机器环境是？
如果跑的代码是seg的原本的代码可以附上链接，我们可以找同学确认下对paddle要求的版本

[2022-11-29 03:58] PommesPeter commented on #48054
好滴没问题

[2022-11-29 05:28] Aliceyins-dev commented on #48252
我只是在单算子测试的时候发现精度有差异，暂时对整网训练影响不大。

[2022-11-29 05:28] #48252 closed, assigned to minghaoBD

[2022-11-29 05:30] Aliceyins-dev commented on #47131
已在issue list中找到交叉熵计算容易溢出的相关解答。

[2022-11-29 06:20] ghazalli commented on #47408
Hi, I'm following this and the error still there, any advice?

[2022-11-29 06:38] #36281 closed, assigned to nobody

[2022-11-29 06:38] #36848 closed, assigned to nobody

[2022-11-29 06:38] #36934 closed, assigned to FeixLiu

[2022-11-29 06:38] #37057 closed, assigned to TCChenlong

[2022-11-29 06:38] #37375 closed, assigned to nobody

[2022-11-29 06:38] #37403 closed, assigned to sandyhouse

[2022-11-29 06:38] #37426 closed, assigned to sandyhouse

[2022-11-29 06:38] #37448 closed, assigned to ceci3

[2022-11-29 06:38] #37475 closed, assigned to ceci3

[2022-11-29 06:38] #37491 closed, assigned to LielinJiang

[2022-11-29 06:38] #37494 closed, assigned to LielinJiang

[2022-11-29 06:38] #37506 closed, assigned to LielinJiang

[2022-11-29 06:38] #37557 closed, assigned to FrostML

[2022-11-29 06:38] #37640 closed, assigned to danleifeng

[2022-11-29 06:46] TideQin opened #48497 "官网显示的BUG：https://www.paddlepaddle.org.cn/tutorials/projectdetail/3473063"
### bug描述 Describe the Bug

前端显示异常，案例“通过如下代码读取任意一个数据内容，观察打印结果”中的代码部分显示异常，挤在一起。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-29 08:23] zhangyubo0722 opened #48508 "论文复现时多卡训练报错"
### 请提出你的问题 Please ask your question

单卡训练时可以跑通，多卡训练时报这个错误`RuntimeError: (PreconditionNotMet) A serious error has occurred here. Please set find_unused_parameters=True to trav
erse backward graph in each step to prepare reduce in advance. If you have set, There may be several reasons for thi
s error: 1) Please note that all forward outputs derived from the module parameters must participate in the

[2022-11-29 08:57] turkeymz commented on #48445
这个方案不能满足。主要原因是服务器以及paddle推荐的Triton Server安装是官方python，不是anaconda。
我全盘搜索过，系统本身就缺少这些文件

[2022-11-29 09:09] sdcb opened #48514 "Paddle Inference 2.4 compilation failed - C1083 sys/ioctl.h not found"
### bug描述 Describe the Bug

date: 2022/11/29
environment: Windows Server 2019, Visual Studio 2019

pull command:
[code]

Compilation command:
[code]

error message:
[code]

Whole error message:
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-29 09:15] phlrain commented on #48445
如果系统本身没有这个so文件，是怎么运行起来的呢

[2022-11-29 09:22] sdcb commented on #48514
it seems related to VS2019

[2022-11-29 10:34] MarginGitHub opened #48518 "cuda11.8,cudnn8.6下编译paddle2.4.0的问题"
如题，目前我使用的是在python3.9,cuda11.8,cudnn8.6环境下编译了paddle2.4.0，去掉了第三方库中的cub库，然后可以正常编译成功，但是在运行paddle过程中dynload::cudnnGetVersion()函数获取到的cudnn版本是8.4(我的系统中没有其他版本的cudnn库)，我更换过最新的cudnn8.7重新编译也是输出这个版本，然后目前测试跑了一个模型训练，暂时没有问题，但是性能跟我使用的NVIDIA提供的NGC中的paddle2.3.1差不多，我看paddle2.4.0的发布信息应该有一个比较大的性能提升才对，所以目前不知道是因为去掉了cub这个第三方库导致的性能下降还是因为cudnn版本不匹配导致的性能损失？望求解答

[2022-11-29 10:40] nemonameless commented on #47408
Hi, you can report your bug in [https://github.com/PaddlePaddle/PaddleYOLO/issues](https://github.com/PaddlePaddle/PaddleYOLO/issues).
Please follow this template:
https://github.com/PaddlePaddle/PaddleYOLO/issues/new?assignees=&labels=type%2Fbug-report%2Cstatus%2Fnew-issue&template=1_bug-report.yml

[2022-11-29 13:42] awsssix opened #48530 "学习策略"
### 请提出你的问题 Please ask your question

请问按OneCycleLR学习策略，在700 iters达到最大学习率，是这样设置配置文件吗
        "lr_scheduler":{
            "name":"OneCycleLR",
            "max_learning_rate": 0.0001,
            "total_steps": 500000,
            "warmup_steps": 700

[2022-11-29 13:52] LiuChiachi commented on #48530
我查看文档，找到这个参数`phase_pct`。https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/optimizer/lr/OneCycleLR_cn.html#onecyclelr

你可以在日志中打印出 `learning_rate` 以确保你的修改

[2022-11-29 13:55] LiuChiachi commented on #48497
感谢您的关注，我们会安排同学修复

[2022-11-29 13:56] LiuChiachi commented on #48491
您好，您跑的是原本的代码吗，可以把链接发出来，或者是直接提供最小可复现代码，这样我们可以更好定位问题~

[2022-11-29 13:58] LiuChiachi commented on #48508
您好，是否可以 提供最小可复现代码呢，我们可以 更快的帮您定位问题

[2022-11-29 14:00] LiuChiachi commented on #48518
感谢关注，这个问题我找相关技术同学帮忙一起看看:)

[2022-11-30 01:16] sdcb opened #48542 "windows下paddle 2.4、cuda 11.6源码编译失败"
### bug描述 Describe the Bug

分支：release/2.4

cmake configure命令：
[code]

报错内容：
[code]

报错截图：
![image](https://user-images.githubusercontent.com/1317141/204683050-8595338c-83cc-4d7f-9dd9-9478c7b18731.png)

详细完整日志：
[code]

### 其他补充信息 Additional Supplementary Information

似乎每次ninja all报错的***.cu文件都不同，这次是logcumsumexp_grad_kernel.cu，上次是elementwise_subtract_grad_kernel.cu

[2022-11-30 02:00] wangyexiang opened #48544 "建议在计算loss的时候，增加两个tensor维度是否一致进行检测。"
### 需求描述 Feature Description

在阅读官方文档的时候，在房价预测的例子中，敲代码的时候：
[code]
不小心写成了：
[code]
结果在计算的过程没任何警告，导致计算出错。

### 替代实现 Alternatives

因此，建议在计算loss的时候，给出一个维度不一致的警告信息，方便bug的查找。

[2022-11-30 02:35] yudan12 opened #48547 "静态图下nonezero算子结果shape不对"
### bug描述 Describe the Bug

静态图下nonezero算子结果shape不对

环境：paddle2.4
代码：
import paddle
import paddle.fluid.layers as layers
import numpy as np
import paddle.fluid as fluid

paddle.enable_static()
x1 = paddle.to_tensor([[1.0, 0.0, 0.0],
                       [0.0, 2.0, 0.0],
                       [0.0, 0.0, 3.0]])
x2 = paddle.to_tensor([0.0, 1.0, 0.0, 3.0])
out_z1 = paddle.nonzero(x1)
layers.Print(o

[2022-11-30 02:39] jc-zju commented on #48428
你好，我也遇到了类似的问题，最后发现是paddle只装了gpu版本的原因，把cpu版本装上就可以了

[2022-11-30 02:44] Fordacre commented on #48442
@yghstill 请问这个问题有什么解决方案嘛。

[2022-11-30 02:56] cuicheng01 commented on #48547
您好，fluid这块暂时是维护状态，您切换到2.2之后的paddlepaddle试下呢？

[2022-11-30 02:58] cuicheng01 commented on #48544
您好，请问这里的loss是什么loss呢？或者麻烦给出一下这个demo的链接～

[2022-11-30 03:12] ccrrong commented on #48514
when CUDA<11.2, please use VS2017

[2022-11-30 03:24] liuyuemaicha opened #48552 "ModuleNotFoundError: No module named 'paddle._C_ops'"
### bug描述 Describe the Bug

调用“paddle._C_ops”错误

python3.7/site-packages/backports/configparser/__init__.py:130: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  from collections import MutableMapping
python3.7/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.i

[2022-11-30 03:25] turkeymz commented on #48445
不知道，可以根据官方提供Triton方案尝试一下。容器中安装2.4以后去import paddle根本不起来

[2022-11-30 03:25] turkeymz commented on #48445
不知道，可以根据官方提供Triton方案尝试一下。容器中安装2.4以后去import paddle根本不起来

[2022-11-30 03:30] cuicheng01 commented on #48552
你好，我这边不能复现这个问题，麻烦提供一下paddle版本号

[2022-11-30 03:33] cuicheng01 commented on #48542
您的问题已收到，我们看下问题哈～

[2022-11-30 03:39] awsssix commented on #48530
需要paddle2.4，CUDA10.1，安装`pip install --upgrade paddlepaddle-gpu==2.4.0 -i https://pypi.tuna.tsinghua.edu.cn/simple`，执行`import paddle`报错
![图片](https://user-images.githubusercontent.com/46213799/204701850-20e244fd-bf88-4b1c-83eb-985d6a133ca2.png)

然后安装`pip install --upgrade paddlepaddle-gpu==2.4.0post101 -i https://pypi.tuna.tsinghua.edu.cn/simple`显示没有这个版本，在CUDA10.1如何安装paddle2.4版本

[2022-11-30 03:54] zhwesky2010 commented on #48542
@sdcb 你好，看起来是VS的访问权限不足，是否是管理员账户

[2022-11-30 04:32] liuyuemaicha commented on #48552
你好，我出错版本是2.0.1，是系统默认自带的。我升级到2.3.2就没问题了。谢谢

[2022-11-30 04:32] #48552 closed, assigned to cuicheng01

[2022-11-30 05:50] jc-zju commented on #48428
我也遇到类似问题，参考这篇博客解决了
https://blog.csdn.net/w5688414/article/details/128070172

[2022-11-30 05:53] yeyupiaoling commented on #48428
这个的根源是paddlepaddle的问题，应该从根本上解决问题。

[2022-11-30 05:59] wangyexiang commented on #48544
您好，这个loss是`loss = MSELoss()`，原demo的地址：[https://www.paddlepaddle.org.cn/tutorials/projectdetail/4309126](url)。

[2022-11-30 06:46] ainndejj11 opened #48562 "关于PaddleOCR 文字检测模型finetune的问题"
### 请提出你的问题 Please ask your question

自己训练过了一个特定场景的文字检测的模型，效果也还不错，现在想继续优化该模型

1. 原先数据+新增数据，使用官方提供的预训练模型，finetune进行训练
2. 只使用新增数据，使用自己上一个训练的模型作为预训练模型进行finetune
3. 原先数据+新增数据，使用自己上一个训练的模型作为预训练模型进行finetune

请问：上面三种方法哪个对检测模型优化效果会更好些呢（由于数据量较大，没有时间逐一训练尝试比对）

[2022-11-30 06:59] cuicheng01 commented on #48562
您好，关于PaddleOCR的问题建议在https://github.com/PaddlePaddle/PaddleOCR/issues 提问呢

[2022-11-30 07:07] kangguangli commented on #48474
@yeliang2258 @jakpiase any progress? Do I need to provide additional information?

[2022-11-30 07:51] thutran292 opened #48567 "Docker Image returning error "Built target extern_mkldnn Makefile:129: recipe for target 'all' failed""
### bug描述 Describe the Bug

I followed the instructions: https://www.paddlepaddle.org.cn/documentation/docs/en/install/compile/linux-compile_en.html
Convenient steps up to the command line: "**make -j$(nproc)**"
The program kept running until I noticed the following display:
<img src="https://img.upanh.tv/2022/11/30/Screenshot-from-2022-11-30-14-40-20.png" alt="Screenshot-from-2022-11-30-14-40-20.

[2022-11-30 07:52] lizechng commented on #48047
路线一：API文档问题修复
题目：在英文API文档中统一静态图模式与动态图模式的英文翻译
认领人：lizechng

[2022-11-30 08:17] luotao1 commented on #48239
@evi-Genius 如果有兴趣，可以帮忙添加下 cummax，目前已经有RFC文档了，但代码还没实现
- https://github.com/PaddlePaddle/Paddle/issues/40313
- draft:
  - https://github.com/PaddlePaddle/Paddle/pull/42480
  - https://github.com/PaddlePaddle/Paddle/pull/45073
  - RFC：https://github.com/PaddlePaddle/community/blob/master/rfcs/APIs/20220316_api_design_for_cummax.md

[2022-11-30 08:53] yier2333 commented on #48428
确实，我也报这个错误，感觉需要改系统文件什么的就很不合理

[2022-11-30 09:01] LiuChiachi commented on #48530
可以升级cuda版本，现在cuda版本已经支持到11.7了。
或者是你可以查看之前版本的API文档，确保传入的参数正确

[2022-11-30 09:42] awsssix commented on #48530
release2.3文档没有这个API，2.4新增加的吧，CUDA10.1不能安装2.4.0吗

[2022-11-30 09:43] ZHUI opened #48574 "请求CastNumpy2Scalar支持fp16、bf16等常见数据类型"
### 需求描述 Feature Description

https://github.com/PaddlePaddle/Paddle/blob/bcf7513270f125112497dccdfa19c5a56ad4cc79/paddle/fluid/pybind/eager_utils.cc#L1318-L1359

测试样例:

[code]

### 替代实现 Alternatives

_No response_

[2022-11-30 09:48] ZHUI opened #48575 "请求完善`paddle.to_tensor`对numpy scalar类型支持"
### 需求描述 Feature Description

请求完善`paddle.to_tensor`对numpy scalar类型支持。可以看到scalar类型出来的tensor变成了float32类型，不符合预期。
[code]

### 替代实现 Alternatives

_No response_

[2022-11-30 10:25] kuizhiqing commented on #48421
It seems the machine network is not configured properly, which get a wrong IP `0.1.68.146`.

Please check network configuration and try it again.

[2022-11-30 10:54] gouzil commented on #48468
要不先在文档中给个提示，我看这次开源活动打卡linux下编译也有出现这样的情况

[2022-11-30 10:58] zhiboniu commented on #48382
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/index_cn.html
可以按这里的文档详细对照排查一下吧，
另外可以试试直接安装编译好的paddle是否可行，如果可行那肯定是支持的

[2022-11-30 11:48] LiuChiachi commented on #48530
您好，咨询过安装同学，PaddlePaddle从2.4.0开始不再支持cuda10.1了，您可以使用cuda10.1环境自行编译，但是可能会遇到问题。如果可以的话，建议还是直接升级cuda版本比较方便，可能训练性能也会更好～

[2022-11-30 11:49] cuicheng01 commented on #48567
Hi, your question has been received, we will debug in the near future.

[2022-11-30 11:58] cuicheng01 commented on #48574
请问您现在的paddle版本是多少呢，最新的paddle已支持。

[2022-11-30 11:58] LiuChiachi commented on #48518
cub这个第三方库去掉之后可以编译成功吗，以及你是否可以确保编译时使用的是cudnn8.6？
如果可以的话，你说的这2点原因都有可能导致训练性能变慢，但是可能和你之前使用的paddle还有别的地方的差别。如果你想知道确切的原因，可能需要再在现在的环境下编译一个paddle2.3.1，或者编译2.4.0的时候把cub再加上，来定位原因

[2022-11-30 12:01] #48497 closed, assigned to LiuChiachi

[2022-11-30 12:05] cuicheng01 commented on #48575
您的问题我可以复现，我找相关同学帮忙看下。

[2022-11-30 12:07] ZHUI commented on #48574
我就是拿的develop，你试试？
报错的代码大概位置也给了。

[2022-11-30 12:10] Atlantisming commented on #48047
路线一：API文档问题修复
题目：在中文API文档中统一 Tensor 的描述
认领人：Atlantisming

[2022-11-30 12:28] TimeYWL opened #48583 "在编译到eager_generator时出现的错误"
### 请提出你的问题 Please ask your question

平台：rocm
cmake：cmake .. -DWITH_ROCM=ON -DWITH_MKL=ON -DWITH_DISTRIBUTE=ON _DWITH_BUILD_TYPE=Release
make

详细的错误内容：

[ 92%] Linking CXX executable eager_generator
[ 92%] Built target eager_generator
free(): invalid pointer
Subprocess aborted
paddle/fluid/eager/auto_code_generator/CMakeFiles/legacy_eager_codegen.dir/build.make:70: recipe for target 'paddle/fluid/

[2022-11-30 12:31] MarginGitHub commented on #48518
是的，只有去掉cub这个库才能编译成功，然后编译时所用的cudnn确实是8.6版本的，因为在make之前的cmake配置阶段检测到的cudnn就是8.6版本的，我的系统中也没有其他版本的cudnn，我回头重新编译一下paddle2.3.1试试看，谢谢你的回复，我感觉可能是cub这个库去掉的原因，因为我简单了解过这个库，好像是提供实现优化后的算子的作用的？

[2022-11-30 13:53] zkyseu opened #48587 "nonzero 存在bug"
### bug描述 Describe the Bug

如图所示，所有参数均非None
![image](https://user-images.githubusercontent.com/118790294/204813841-a23705c4-c290-401a-aea0-10f4b225ac33.png)
![image](https://user-images.githubusercontent.com/118790294/204813988-6cb4d160-c6a3-4c4a-8a3b-74aa7c049362.png)
![image](https://user-images.githubusercontent.com/118790294/204814022-69fc132a-62cc-49de-9925-f4e6aae4f12b.png)

### 其他补充信息 Addit

[2022-11-30 14:51] frankxyy opened #48590 "Paddle Inference对于amd gpu是否支持dynamic shape？"
### 问题描述 Please describe your issue

RT

[2022-11-30 15:30] emilygong-zhuying commented on #48302
在DataLoader里面把num_workers=0之后出现一个不同的error，
<img width="1038" alt="Screen Shot 2022-11-30 at 7 28 24 AM" src="https://user-images.githubusercontent.com/74880355/204839439-d369e1f5-6872-45da-93a6-1d0e05e25001.png">

[2022-11-30 16:16] emilygong-zhuying commented on #48302
找到问题了，是我自己设置test_batch_sampler时设置错了

[2022-11-30 16:16] #48302 closed, assigned to zh794390558

[2022-11-30 16:40] DrRyanHuang commented on #48167
我遇到的该问题已解决

我的环境是 mig GPU

[code]

`nvidia-smi` 中无法显示占用显存的 Processes，就很尴尬，算是目前 mig GPU 功能的一个缺陷吧

我当时在 VScode 中调试，可能存在显存无法正常释放的情况，导致多次运行之后显存怼满，但是离谱的是 Paddle 并未报显存已满的问题，而是直接
[code]
遇到这样的问题就是 kill 掉占用显存的那些进程就行
比如我的 Python 环境是 `/home/xxxx/.conda/envs/pp/bin/python`
[code]

[2022-11-30 16:44] DrRyanHuang commented on #48167
@nemonameless Thx! 💯

[2022-11-30 16:44] #48167 closed, assigned to nemonameless

[2022-11-30 17:36] jakpiase commented on #48474
Hi @kangguangli, #48593 should fix this issue