[2018-10-18 07:57] #12234 closed, assigned to nobody

[2018-10-18 08:13] lucywsq commented on #12402
Excuse me ,could you please describe more details of  your problem, by some screenshots or something else?

[2018-10-18 08:33] lucywsq commented on #12026
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-18 08:33] #12026 closed, assigned to JiabinYang

[2018-10-18 08:44] wojtuss commented on #13731
It turned out that reading data was not the performance bottleneck, but the "zero copy" approach could also help. Thanks!

[2018-10-18 08:44] #13731 closed, assigned to Superjomn, panyx0718, luotao1

[2018-10-18 10:39] Naruto-Sasuke commented on #12234
Ok, never mind, since paddle tends to be engineering preference, not scientistic preference. I don't think you guys have time to extend paddle to support second-order gradient which has been supported in pytorch more than one year ago!  Since, wgan-gp seems to perform no better than spectralNorm or relativelistic GAN,  I am free to let this closed.

[2018-10-18 11:47] gongweibao opened #13979 "CI timeout."
http://ci.paddlepaddle.org/viewLog.html?buildId=23524&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all
[code]

[2018-10-18 11:59] oshixiaoxiliu commented on #13810
官网申请一下队列权限

[2018-10-18 12:24] Emma-Ding opened #13980 "paddle V1 如何获得数据的数值"
想要获得的label具体数值，如何获得? 如下，通过代码
https://github.com/PaddlePaddle/Paddle/blob/e26f51ce74e998c4119fc2c3145aa7c1224c2170/python/paddle/trainer_config_helpers/layers.py
找到了可以获得size信息，想问怎么获得具体的数值?
![2018-10-18 8 23 16](https://user-images.githubusercontent.com/22070158/47153996-afad2700-d313-11e8-86e3-ebfb1e34bbd3.png)

[2018-10-18 12:31] JiayiFeng commented on #13908
可以用环境变量 `CUDA_VISIBLE_DEVICES` 指定要使用的GPU
[code]

[2018-10-18 12:33] NHZlX commented on #13805
因为v2已经停止开发，建议大家使用fluid， 那样遇到问题都可以得到快速的解决。先关闭此issue，如果有问题可以重新打开。

[2018-10-18 12:33] #13805 closed, assigned to nobody

[2018-10-18 12:37] #13810 closed, assigned to nobody

[2018-10-18 12:43] NHZlX commented on #13798
请问这个问题解决了么 @lyp2github

[2018-10-18 12:43] NHZlX commented on #13799
请问这个问题解决了么

[2018-10-18 12:45] #13806 closed, assigned to nobody

[2018-10-18 13:04] chengduoZH opened #13981 "Add unit test for regularization"
Add unit test for https://github.com/PaddlePaddle/Paddle/pull/13881.

[2018-10-18 15:55] chengduoZH commented on #13809
@zzhzz  您这是迭代几轮之后报错的还是第一次迭代就报错？

[2018-10-19 00:55] zzhzz commented on #13809
@chengduoZH 第一次训练过程中报错

[2018-10-19 01:22] 930083287 opened #13984 "训练开始出现Cuda Error: out of memory"
I1019 09:20:42.064462 82681 Util.cpp:166] commandline:  --use_gpu=True --trainer_count=1
[INFO 2018-10-19 09:20:44,765 layers.py:2714] output for __conv_0__: c = 64, h = 500, w = 500, size = 16000000
[INFO 2018-10-19 09:20:44,767 layers.py:2714] output for __conv_1__: c = 64, h = 500, w = 500, size = 16000000
[INFO 2018-10-19 09:20:44,767 layers.py:2856] output for __pool_0__: c = 64, h = 250, w =

[2018-10-19 01:57] chengduoZH commented on #13809
@zzhzz 如果不适用RecordIO是没有问题的  是吗？

[2018-10-19 02:04] molly00ecla commented on #13908
感谢！试了下这个方法好用的。
补充一下，例如我要用第2块GPU，CUDA_VISIBLE_DEVICES=2，代码中要使用fluid.CUDAPlace(0)，因为只给代码看到了第2块GPU。

[2018-10-19 02:04] #13908 closed, assigned to nobody

[2018-10-19 02:12] zzhzz commented on #13809
@chengduoZH 这个没有测试。但是如果同时不使用ParallelExecutor和RecordIO是可以运行的

[2018-10-19 02:25] chengduoZH commented on #13809
您先验证一下  如果不用RecordIO会不会有问题

[2018-10-19 02:54] lyp2github commented on #13799
没解决啊，目前改用paddlecloud试了

[2018-10-19 03:28] luotao1 commented on #13725
fixed by #13958

[2018-10-19 03:28] #13725 closed, assigned to Superjomn, luotao1

[2018-10-19 03:28] #13646 closed, assigned to jczaja, sfraczek, kbinias, tpatejko

[2018-10-19 04:08] wangguibao commented on #13911
@shibing624 请问能帖一下您调用时的代码吗？如果可以，请把截图里文字也拷贝一下帖一下，方便我们跟进，谢谢

[2018-10-19 04:11] wangguibao commented on #13920
Hi, 请参考https://github.com/PaddlePaddle/Paddle/issues/13925 ，确认一下是否是指令集不支持

[2018-10-19 04:15] qingqing01 commented on #13984
请问您使用的是什么环境？可否贴下 nvidia-smi信息

[2018-10-19 04:17] qingqing01 commented on #13980
看您使用的Paddle v2 API， 因为数据是从Python端输入，可以在Python的reader里打印label具体的值，另外，推荐使用Paddle Fluid.

[2018-10-19 06:18] shibing624 commented on #13911
内存问题导致的，已经解决了，谢谢。

[2018-10-19 06:18] #13911 closed, assigned to wangguibao

[2018-10-19 06:19] wangguibao commented on #13921
下面函数 `get_infer_program` 用来从main_program生成用于预测的program。你可以看到该函数除了clone原main_program之外，还进行了prune和inferene_optimize等操作。

[code]

以下是演示如何调用 (在文本分类train.py基础上修改而来)：
[code]

注意调用`get_infer_program`时`fetch_targets`只有`prediction`。这样program经过prune才会把不需要的`label`去掉

[2018-10-19 06:26] yeyupiaoling commented on #13921
@wangguibao 嗯嗯，也就是要我们手动去修改。

[2018-10-19 06:26] #13921 closed, assigned to wangguibao

[2018-10-19 06:28] zzhzz commented on #13809
@chengduoZH 就是使用py_reader那个接口吧，我试试

[2018-10-19 06:30] wangguibao commented on #13921
是的，目前没有暴露出来上面接口

[2018-10-19 06:31] yeyupiaoling commented on #13921
@wangguibao 明白，谢谢回答。

[2018-10-19 06:49] Shixiaowei02 commented on #10782
@zzhzz 我去安装 nccl2 了。貌似是 nccl1 会出现这样的错误。

[2018-10-19 06:50] chengduoZH commented on #13809
您也可以直接用feed的方式

[2018-10-19 06:59] typhoonzero commented on #10782
请参考：https://docs.nvidia.com/deeplearning/sdk/nccl-install-guide/index.html#down 安装nccl2并尝试重新编译～

[2018-10-19 07:00] jacquesqiao commented on #10782
看起来是因为nccl1造成的问题，请按照上面所述的文档重新安装测试。

[2018-10-19 07:00] #10782 closed

[2018-10-19 07:19] wanghaoshuang opened #13987 "Fix code style of muti-point nms"
fix code style of https://github.com/PaddlePaddle/Paddle/pull/13889

[2018-10-19 07:36] qingqing01 commented on #13963
[code]
看这个是mul(或fc)输入shape不一致，可以分析下mul/fc相关输入shape是否正确。

[2018-10-19 07:50] fengshuting commented on #13963
(-1L, 32L)
(-1L, 16L)
(-1L, 16L)
(-1L, 32L)
(-1L, 32L)
(-1L, 32L)
concat:
(-1L, 200L)
code：
CLASS_DIM = 2
EMB_DIM = 128
HID_DIM = 200
def fc_net(case, class_dim, hid_dim):
    # 第一个全连接层，激活函数为ReLU
    hidden = fluid.layers.fc(input=case, size=hid_dim, act='relu')
    # 第二个全连接层，激活函数为ReLU
    hidden = fluid.layers.fc(input=hidden, size=hid_dim, act='relu')
    prediction = fluid.layers.fc(input=hidde

[2018-10-19 08:19] qingqing01 commented on #13963
在程序运行时可以通过fluid.layers.Print()来辅助定位，在可能出现128的fc附近，打印运行时的shape信息，比如：

[code]

[2018-10-19 10:05] ShadowSkyLiu opened #13993 "paddlecloud fluid-1.5.0单机训练没有问题，多机训练报错"
![image](https://user-images.githubusercontent.com/10361649/47211870-412aa080-d3c9-11e8-8cf6-5c3619393004.png)

[code]

[2018-10-19 10:17] seiriosPlus commented on #13993
能把pserver端的proto打印出来么

[2018-10-19 12:30] Bella-Zhao commented on #13993
@seiriosPlus  不是特别理解？
“pserver端的proto” 指的是在paddle fluid源码中pserver相关的接口proto？请问从哪里可以查得到？以及和这个报错有什么关系呢？

[2018-10-19 12:58] BryceLuminary opened #13996 "c++ 和 python 结果个数不同的疑问"
我使用 c++ 和 python 对同一个模型进行预测，c++ api 遇到了2个疑问：
1、请问 PaddleBuf 接口第二个参数的单位是字节吗？
2、为什么同一个模型两种接口预测的输出个数不同？

代码如下，谢谢！
[code]

[2018-10-19 13:07] Bella-Zhao commented on #12054
@jacquesqiao 请问下，这个issue最后的结论是什么？

[2018-10-19 14:24] qingqing01 commented on #13996
这里的size单位是bytes，你这里是`IN_SIZE * sizeof(float)`

[2018-10-20 01:06] zzhzz commented on #13809
@chengduoZH 使用py_reader  + ParallelExecutor不会出问题

[2018-10-20 03:10] #13893 closed, assigned to nobody

[2018-10-20 10:45] Albelt opened #13999 "I find a bug in"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-10-20 10:57] Albelt opened #14000 "I find a bug in 'fluid.layers.softmax()' on version 0.15."
Hi, I think there is a bug in *verion 0.15's softmax function*.
* I'm training a vgg16 network on my own image data, when I debug my code, I find that the network's output  list is abnormal. Since fully-connected layer with softmax activation should output a list of probabilites which could impossible be negative numbers, however the results are as follow:
![image](https://user-images.githubuserco

[2018-10-20 11:37] #13980 closed, assigned to nobody

[2018-10-20 12:01] zzhzz opened #14001 "运行单测报错"
Test project /mnt/paddle/Paddle/build
    Start 369: test_mul_op
1/1 Test #369: test_mul_op ......................***Exception: Other  1.27 sec

0% tests passed, 1 tests failed out of 1

Total Test time (real) =   1.31 sec

The following tests FAILED:
        369 - test_mul_op (OTHER_FAULT)
Errors while running CTest

[2018-10-20 12:02] zzhzz commented on #14001
UpdateCTestConfiguration  from :/mnt/paddle/Paddle/build/DartConfiguration.tcl
UpdateCTestConfiguration  from :/mnt/paddle/Paddle/build/DartConfiguration.tcl
Test project /mnt/paddle/Paddle/build
Constructing a list of tests
Done constructing a list of tests
Checking test dependency graph...
Checking test dependency graph end
test 369
    Start 369: test_mul_op

369: Test command: /usr/bin/env "PY

[2018-10-20 16:27] Albelt opened #14002 "'float64' datatype overflow when take computation"
* Hi, I'm training a VGG16 network on image data, at first I set the image datatype to 'float32' and it's OK.
 But when I want to get a more accurate result and  set the image datatype ot 'float64' , it calls back:
[code]
paddle version is 0.14.0 (cpu)

[2018-10-21 01:26] #13999 closed, assigned to nobody

[2018-10-21 04:29] Yancey0623 commented on #14001
请问paddle版本以及编译和运行的环境是什么呢？另外可以把错误栈以及运行日志打出来看一下：

[code]

[2018-10-21 04:33] Yancey0623 commented on #14002
I think we have supported mixed-precision training, maybe @dzhwinter is working on this feature, can you confirm this, please?

[2018-10-21 04:37] Yancey0623 commented on #14000
Thanks @Albelt , can you try the latest version: `v1.0.1`? we have many bug fix on this version. If the problem persists, please update this issue.

[2018-10-21 13:37] zzhzz commented on #14001
@Yancey1989 paddle是1.0.1版本，运行环境是centos 6.9

[2018-10-21 13:38] zzhzz commented on #14001
@Yancey1989 运行你的命令的结果
[code]

[2018-10-22 02:38] shanyi15 commented on #13939
您好，文档中链接已修复http://paddlepaddle.org/documentation/docs/zh/1.0/advanced_usage/development/new_op.html

[2018-10-22 02:54] yeyupiaoling commented on #13972
我也奇怪，为什么不同步呢？这样很麻烦，百度云服务器使用的是国内镜像源，所以安装比较麻烦。没有办法同步吗？

[2018-10-22 02:58] LihangLiu opened #14004 "sequence_argmax op needed"
普通的tensor可以通过layers.argmax来得到最大值的下标，但是找了下文档，貌似对于lod tensor并没有类似于sequence_argmax的操作？

[2018-10-22 02:59] kolinwei opened #14005 "optimize operations cannot be depended by forward or backward node momentum -> elementwise_mul"
开启内存优化后，OCR报如下错误
  File "/work/weike/svn/baidu/paddle/test/cts_test/test_ocr_recognition.py", line 180, in test_train_ocr_recognition_crnn_ctc_multi_gpu
    train_info = executor_network(memory_optimize=True)
  File "/work/weike/svn/baidu/paddle/test/cts_test/test_ocr_recognition.py", line 97, in executor_network
    build_strategy=build_strategy)
  File "/usr/local/lib/python2.7/dist-packages/pad

[2018-10-22 03:15] Shixiaowei02 commented on #13996
@qingqing01 您好，我一开始是使用的 `IN_SIZE * sizeof(float)`，但这样做中间某一层会因为尺寸错误而 core。只有像上面这样的代码，才可以运行完程序；但是结果貌似有问题。

[2018-10-22 03:17] BryceLuminary commented on #13996
@qingqing01 您好！我看过文档说明，一开始照做 `IN_SIZE * sizeof(float)`，但是中间有一层的尺寸强制检查会报错导致 core。只有改成 `IN_SIZE` 程序才能完整运行，但是输出多一个；其它输出结果和 python 输出是一致的。

[2018-10-22 03:20] phlrain opened #14006 "softmax_with_cross_entropy soft_label=False, loss=10^20"
我写一个语言模型的网络，
当 softmax_with_cross_entropy，soft_label=False的时候，有些情况下 loss 等于10^20，导致训练出现inf
如果我手动把label做成one hot的形式，同样用这个函数，soft_label=True的情况下，loss就会表现得正常

[2018-10-22 03:23] luotao1 commented on #13996
请问你用的是什么版本的paddle呢？能否用1.0.1来试下

[2018-10-22 03:26] luotao1 commented on #13979
#13966 set default timeout to avoiding blocking CI

[2018-10-22 03:26] #13979 closed, assigned to nobody

[2018-10-22 03:26] luotao1 commented on #13979
#13966 set default timeout to avoiding blocking CI

[2018-10-22 04:32] 333caowei opened #14008 "fluid版本nce使用的疑惑"
参考了v2的nce用法，https://github.com/PaddlePaddle/models/blob/develop/legacy/youtube_recall/network_conf.py

使用fluid训练nce：
[code]

使用fluid.io.save_inference_model保存模型，但是nce的返回值只是个cost，在save_inference_model时候如何保存softmax预测值呢，另外fluid也没有v2中的paddle.layer.trans_full_matrix_projection，请问如何处理source_semantic_vec向量

[2018-10-22 04:44] shiyazhou121 opened #14010 "fluid gpu 安装问题 undefined symbol: mkldnn_softmax_backward_desc_init"
在安装fluid 1.0.1时报错。paddlepaddle_gpu-1.0.1.post85-cp27-cp27mu-manylinux1_x86_64.whl
![image](https://user-images.githubusercontent.com/15082798/47278000-fe024480-d5f7-11e8-8874-702a212b61ed.png)
安装fluid 0.15也报错。paddlepaddle_gpu-0.15.0.post85-cp27-cp27mu-manylinux1_x86_64.whl
![image](https://user-images.githubusercontent.com/15082798/47278010-12464180-d5f8-11e8-8412-13f04f42b5ac.png)
安装fluid 0.14就没问

[2018-10-22 07:04] BryceLuminary commented on #13996
预测使用的版本：
commit c3b70aece93d61759d5266e9f0112d0804fdf057
这个提交是上周五的，应该晚于版本 1.0.1。

但训练用的是较早的 Paddle Fluid，应该是 0.13.0。

[2018-10-22 07:05] typhoonzero commented on #14010
可以先看下`core.so`是否能正确链接到mkl，在我的环境下：

[code]

[2018-10-22 07:06] luotao1 commented on #13979
close due to #13966 set default timeout to avoiding blocking CI

[2018-10-22 07:21] luotao1 commented on #13996
请贴出core相关错误信息，是要用`IN_SIZE * sizeof(float)`的

[2018-10-22 09:33] #14001 closed, assigned to Yancey0623

[2018-10-22 09:43] shiyazhou121 commented on #14010
@typhoonzero 请问，怎么确定mkl是正确的。。
![image](https://user-images.githubusercontent.com/15082798/47286608-02435780-d622-11e8-90be-f3d45a7a0e5f.png)

[2018-10-22 09:43] duanlin0505 opened #14013 "models"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-10-22 10:43] typhoonzero commented on #14010
是否安装了多个版本的paddle，是否单独安装过mkl，看下`paddle安装路径/libs`下是否也存在mkl.so？

[2018-10-22 12:15] typhoonzero opened #14015 "should have method to fetch pserver side vars for debugging"
Like in trainer side, we sometimes need to fetch some variables to look into the real value of the tensors for debugging, need some way to fetch them out in several steps.

[2018-10-22 12:54] wojtuss opened #14016 "How do you measure the ResNet50 inference accuracy in C-API?"
The `test_anlyzer_resnet50` test uses fake data and a model without accuracy layer. When developing fuse passes we need to verify the accuracy. How do you measure the accuracy of the ResNet50 model?

[2018-10-22 12:57] #13939 closed, assigned to shanyi15

[2018-10-22 13:02] luotao1 commented on #14004
参考：http://paddlepaddle.org/documentation/api/zh/1.0/layers.html#sequence-pool
`fluid.layers.sequence_pool(input=x, pool_type='max')`

[2018-10-22 13:03] luotao1 commented on #14004
参考 http://paddlepaddle.org/documentation/api/zh/1.0/layers.html#sequence-pool
`fluid.layers.sequence_pool(input=x, pool_type='max')`

[2018-10-22 13:05] #13761 closed, assigned to nobody

[2018-10-22 14:34] dzhwinter commented on #14002
mixed precision training is use float16 to training models, has nothing to do with this.
Back to this issue, it's just because sign op doesn't register a double kernel.

[2018-10-22 14:35] dzhwinter commented on #14002
By the way, float32 is enough for VGG model. trust me.

[2018-10-22 15:49] 333caowei opened #14021 "mpi训练得到的模型在本地infer却报meets grpc error:OS Error"
[code]

代码上面所示，很简单，载入模型后输入数据进行预测，但是却提示grpc错误，模型是mpi训练得到的，但是我现在这是本地预测，和集群毫无关系：
[code]

[2018-10-23 01:38] LihangLiu commented on #14004
sequence_pool(input=x, pool_type='max') 得到的是最大的值，但是我想得到的是最大值的**下标**。也就是想得到argmax，而不是max。

[2018-10-23 01:50] typhoonzero commented on #14008
fluid暂时没有对应的`trans_full_matrix_projection`layer实现，可以使用下面的代码计算：

[code]

[2018-10-23 02:14] typhoonzero commented on #14021
应该是save_inference_model的时候，把分布式的program直接save下来了，然后`load_inference_model`会覆盖掉program。

因为你infer代码前面会再定义一次模型，可以试试用`load_params`替换load_inference_model

[2018-10-23 03:10] wzzju commented on #13839
您好！您这是不是模型训练时配置存在问题。您既然使用的是CPU集群做训练，如果配置正确的话，是不会运行到GPU CUDA检测这个条件分支代码上的。

[2018-10-23 03:22] Superjomn commented on #13861
应该算是吧

[2018-10-23 03:22] #13861 closed, assigned to Superjomn

[2018-10-23 03:24] yeyupiaoling commented on #13855
好的。

[2018-10-23 03:24] #13855 closed, assigned to guru4elephant

[2018-10-23 03:24] yeyupiaoling commented on #13854
可以这样写：
[code]

[2018-10-23 03:24] #13854 closed, assigned to wzzju

[2018-10-23 03:30] luotao1 commented on #14016
We compare the inference result by
https://github.com/PaddlePaddle/Paddle/blob/5d6783f8ca9ee8205057d75b659e25f3b09a5281/paddle/fluid/inference/tests/api/analyzer_resnet50_tester.cc#L101-L104

[2018-10-23 03:31] wzzju commented on #13854
赞👍

[2018-10-23 03:38] wzzju commented on #13857
Please refer to the issue #12679 .

[2018-10-23 05:03] wangguibao commented on #13920
@shippingwang 辛苦看一下是否是CPU指令集不支持；如果是的话，我们已经在跟进类似的case

[2018-10-23 06:15] 333caowei commented on #13857
将保存模型的方法替换成：
save_model_name = save_dirname + 'model3.pass' + str(pass_id)
fluid.io.save_persistables(
    executor=exe,
    dirname=save_model_name)

加载模型使用下面的方法可以正常使用：
def infer(use_cuda, model_path=None):
    if model_path is None:
        print(str(model_path) + " cannot be found")
        return

    place = fluid.CUDAPlace(0) if use_cuda else fluid.CPUPlace()
    exe = fluid.Executor(place)

[2018-10-23 06:15] #13857 closed, assigned to wzzju

[2018-10-23 06:20] 333caowei commented on #14021
将保存模型的方法替换成：
save_model_name = save_dirname + 'model3.pass' + str(pass_id)
fluid.io.save_persistables(
executor=exe,
dirname=save_model_name)

加载模型使用下面的方法可以正常使用：
def infer(use_cuda, model_path=None):
if model_path is None:
print(str(model_path) + " cannot be found")
return

place = fluid.CUDAPlace(0) if use_cuda else fluid.CPUPlace()
exe = fluid.Executor(place)

main = fluid.Program()
startup = fl

[2018-10-23 06:20] #14021 closed, assigned to seiriosPlus, typhoonzero

[2018-10-23 08:30] LoveGarden opened #14030 "meets grpc error:OS Error"
mpi上fluid 0.15在训练过程报错如下
Tue Oct 23 11:15:31 2018[1,132]<stdout>:INFO[2018-10-23 11:15:31][train.py][441] -  pass_id=0 batch_id=140 cost=1009.5504 auc=[0.64529329] py_reader.queue.size: 100 acc=0.9277344 read_data_time=9.53674316406e-07 train_batch_time=10.4956641197 sample_per_second=390.256390951
Tue Oct 23 11:18:40 2018[1,128]<stdout>:F1023 11:18:40.494853  9754 grpc_client.cc:295] Get name:[fc_

[2018-10-23 09:07] jacquesqiao commented on #14030
1. 建议先用少量节点测试看能否复现
2. 看能不能拿到core文件，方便我们分析。

[2018-10-23 09:08] typhoonzero commented on #14030
补充：用户pserver的error 日志：

[code]

[2018-10-23 09:21] #14008 closed, assigned to typhoonzero

[2018-10-23 09:21] #13753 closed, assigned to typhoonzero

[2018-10-23 10:25] dzhwinter commented on #13892
Update. I had tested on @qingqing01 's machine, I turn off the io buffer of python "python -u train.py".  This issue cannot reproduce inside docker and out of docker.

[2018-10-23 10:48] TheodoreG opened #14035 "Inference model, cudnn 7 is ok, but cudnn 6 doesn't work"
I saved a inference model using resnet50 from paddle model. But when I run following inference code:
[code]
but I find that when LD_LIBRARY_PATH include only cudnn v6 library, it shows
[code]
When LD_LIBRARY_PATH  include cudnn v7, it acts normal.
Could anyone explain that to me?

[2018-10-23 12:26] chengduoZH commented on #14035
Can you display the version of the paddle that you use?

[2018-10-23 12:43] LoveGarden commented on #14030
在10个结点上跑小量数据是能跑成功的

mpi结点上core文件暂时还不知道获取方法

[2018-10-24 01:18] 930083287 opened #14039 "GPU下，预测阶段出错，Check failed: cudaSuccess == err (0 vs. 9)"
训练时，类别分为3类，图片尺寸为256*256＊2；
预测阶段，图片尺寸为128的话，不会报错，但是仅仅分为一类；当图片尺寸为256时，出错。
F1024 09:13:15.036841 100191 hl_gpu_matrix_kernel.cuh:181] Check failed: cudaSuccess == err (0 vs. 9) [hl_gpu_apply_unary_op failed] CUDA error: invalid configuration argument
*** Check failure stack trace: ***
    @     0x7f6922255bcd  google::LogMessage::Fail()
    @     0x7f692225967c  google::LogMessage::SendToLog()
    @

[2018-10-24 02:13] luotao1 commented on #14004
@kagome112 请看下这个新需求

[2018-10-24 03:44] tensor-tang opened #14040 "AVX512f 判断错误"
https://github.com/PaddlePaddle/Paddle/blob/8837669782c73742e0eaba769342f76fa81f3160/cmake/simd.cmake#L90-L94

这段验证在5117的机器上并不能通过，应该是需要avx512的其他指令支持的。

所以在CI上目前没有一台机器验证了avx512的正确性。

查了下这个机器是5117的支持avx512f，如下的log是gcc54编译，但是判断的avx512f flag是failed。
http://ci.paddlepaddle.org/viewLog.html?buildId=24130&buildTypeId=Paddle_PrCi&tab=buildLog

http://ci.paddlepaddle.org/viewLog.html?buildId=24130&buildTyp

[2018-10-24 05:46] TheodoreG commented on #14035
paddlepaddle-gpu                   1.0.1.post97

[2018-10-24 06:27] #13932 closed, assigned to NHZlX

[2018-10-24 10:16] 930083287 opened #14052 "pip安装paddlepaddle失败"
利用pip安装paddlepaddle，显示是paddlepaddle (1.0.2)，安装过程没有出错，但是验证是否安装成功时，发现import paddle.v2正常，而import paddle.fluid，失败

*** Aborted at 1540375982 (unix time) try "date -d @1540375982" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x50) received by PID 119914 (TID 0x7f8291d13700) from PID 80; stack trace: ***
    @     0x7f8291512390 (unknown)
    @     0x7f8291b0873c (unkno

[2018-10-24 12:36] kuke commented on #14052
See https://github.com/PaddlePaddle/Paddle/issues/12610

[2018-10-24 12:40] kuke commented on #14039
See https://github.com/PaddlePaddle/Paddle/issues/4439

[2018-10-25 02:14] 930083287 commented on #14052
目前已经按照cuda版本和cudnn版本安装完毕，import paddle.fluid不报错，但是训练时报错。
其中执行：train_exe = fluid.ParallelExecutor(main_program=train_prog,
            use_cuda=use_gpu, loss_name=loss.name)出错

-----------  Configuration Arguments -----------
ap_version: 11point
batch_size: 64
data_dir: data/pascalvoc
dataset: pascalvoc
enable_ce: False
epoc_num: 120
image_shape: 3,300,300
learning_rate: 0.001
mean_BGR: 127.5,127.5

[2018-10-25 03:34] gongweibao opened #14058 "找不到对应的文档"
[code]

[2018-10-25 03:37] Menevagol opened #14059 "error: ‘__m256’ does not name a type"
I compile the paddle on Centos6.10 with kernel 3.10.0_3-0-0-22
The version of g++/gcc is 4.8.2
I compile the paddle for generating a docker image, below is the configuration for compiling the paddle.
The process was broken after 12% percent of progress finished, and the error is

/paddle/paddle/legacy/cuda/src/avx_mathfun.h:52:9: error: ‘__m256’ does not name a type

    Configuring cmake in /padd

[2018-10-25 03:58] yuzhichang commented on #13827
我基于fluid重写了[legacy/deep_fm/network_conf.py](https://github.com/yuzhichang/models/blob/develop/legacy/deep_fm/network_conf.py)。

[code]

遇到的问题是：
[code]

我的疑问是：
1. 为什么ParamAttr没有初始化？
2. 是否需要设置ParamAttr的shape？我期望它的shape是N*F。

[2018-10-25 06:34] luotao1 commented on #14059
You can use `-DWITH_FLUID_ONLY=ON` to try again.

[2018-10-25 07:13] shanyi15 commented on #14058
hi 这两个api，由于是high-level-api，放在了contrib目录下，目前应该是还没有正式暴露给用户（除了在book的前几章有出现过），需要暴露给用户吗？
http://paddlepaddle.org/documentation/docs/zh/1.0/api_guides/high_low_level_api.html

[2018-10-25 11:57] barrierye opened #14070 "Add similarity focus op"
Add similarity_focus_op in order to reproduce this paper：PairwiseWord Interaction Modeling with Deep Neural Networks for Semantic Similarity Measurement. And this model will be merged into the PaddlePaddle/models.
written by yebaiwei

[2018-10-25 13:24] wojtuss opened #14074 "Request for MobileNet model and weights for image classification"
Could you please provide us with a trained model and weights for MobileNet (image classification)? That would help us proceed faster with model optimizations.

[2018-10-25 16:02] procr opened #14077 "在v100的机器上，用docker编译成功，但执行出现“invalid device function”"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-10-25 16:03] procr commented on #14077
使用的docker镜像是：
hub.baidubce.com/paddlepaddle/paddle：latest-dev

[2018-10-25 16:04] procr commented on #14077
跑resnet50，出现

λ 6dbb0ffcf63b /paddle {master} python resnet50.py
----------- resnet Configuration Arguments -----------
batch_size: 32
data_format: NCHW
data_set: flowers
device: GPU
infer_only: False
iterations: 80
model: resnet_imagenet
pass_num: 100
skip_batch_num: 5
use_cprof: False
use_fake_data: False
use_nvprof: False
with_test: False
------------------------------------------------
Traceba

[2018-10-25 16:05] procr commented on #14077
安装的产出是：
pip install Paddle/build/python/dist/paddlepaddle_gpu-0.13.0-cp27-cp27mu-linux_x86_64.whl

[2018-10-25 16:26] procr commented on #12610
请问显卡驱动和CUDA版本应该要怎么匹配？

[2018-10-25 16:35] jaegerstar opened #14078 "fluid在执行 exe.run(fluid.default_startup_program())报错"
PC: @                0x0 (unknown)
*** SIGILL (@0x7fb6d7b16732) received by PID 12701 (TID 0x7fb73b920700) from PID 18446744073033312050; stack trace: ***
    @       0x318b20f500 (unknown)
    @     0x7fb6d7b16732 paddle::framework::VisitDataType<>()
    @     0x7fb6d7afe66f paddle::operators::math::set_constant_with_place<>()
    @     0x7fb6d73d46b1 paddle::operators::FillConstantOp::RunImpl()

[2018-10-25 16:52] jaegerstar commented on #14078
参考了#13925 不知道是不是同样的原因，该服务器支持AVX指令集，不支持AVX2

[2018-10-26 02:51] procr commented on #12284
请问有cuda9的docker dev环境么？  我找了一圈都只有runtime环境。

[2018-10-26 03:07] lucywsq commented on #11957
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours.
We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-26 03:07] #11957 closed, assigned to kuke

[2018-10-26 03:10] lucywsq commented on #11975
您好，目前V2版本已不进行维护，此任务在Fluid中可跑通，建议将代码迁移~
此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 03:10] #11975 closed, assigned to nobody

[2018-10-26 03:16] lucywsq commented on #12007
@wuyan08 您好，请问此issue的回复已经解决了您的问题吗？若已解决我们将于三日内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 03:24] tensor-tang commented on #14040
现在改为正确的avx512判断之后(#14041)，发现有很有单元测试精度是对不齐的，具体可以查看 #14041 的[log1](http://ci.paddlepaddle.org/viewLog.html?buildId=24340&buildTypeId=Paddle_PrCi&tab=buildLog)，[log2](http://ci.paddlepaddle.org/viewLog.html?buildId=24220&buildTypeId=Paddle_PrCi&tab=buildLog)

其中包括如下等：
[code]

[2018-10-26 03:26] lucywsq commented on #12209
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 03:26] #12209 closed, assigned to luotao1

[2018-10-26 03:35] tensor-tang commented on #14040
另外一个问题，[intrinsic guide](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm512_undefined_epi32&expand=5949)上写的他是AVX512F的指令为什么在5117和6148上check是失败的？
[code]

[2018-10-26 03:37] lucywsq commented on #12311
Thanks for your suggestion!
This issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours.
We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePad

[2018-10-26 03:37] #12311 closed, assigned to jacquesqiao

[2018-10-26 03:48] yihuaxu commented on #14040
上次修改好了，还没有合进去。 下面是改好的链接。https://github.com/PaddlePaddle/Paddle/commit/d8502b36cb4f12a84bd04975ae8cbeecdda17322
intrinsic function不是严格意义上的汇编指令，_mm512_undefined_epi32的具体实现没用到AVX512F的指令。

[2018-10-26 03:52] lucywsq commented on #12338
您好，此问题应该是和代码书写格式相关，建议您用值班同学的解决方案再次尝试~
此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 03:52] #12338 closed, assigned to dzhwinter

[2018-10-26 03:59] lucywsq commented on #12345
Thanks for your suggestion  and we would concentrate on that.
As this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours.
We apologize for the inconvenience caused by the closure and thank you

[2018-10-26 03:59] #12345 closed, assigned to shanyi15

[2018-10-26 04:03] tensor-tang commented on #14040
你修改的还是flag的问题，这个已经在 #14041 解决了，目前问题是正确 enable AVX512之后单测不过的问题。

[2018-10-26 04:04] lucywsq commented on #12402
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours.
We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-26 04:04] #12402 closed, assigned to nobody

[2018-10-26 04:06] lucywsq commented on #12429
您好，建议您将返回numpy array后报错信息再行贴出，以便精准定位问题，谢谢~
此issue在近一个月内暂无更新，我们将于三天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 04:09] lucywsq commented on #12510
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 04:09] #12510 closed, assigned to gongweibao

[2018-10-26 04:13] lucywsq commented on #12525
您好，V2版本后续将不作维护，建议您后续将代码迁移至Fluid~
此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 04:13] #12525 closed, assigned to gongweibao

[2018-10-26 04:22] kuke commented on #12363
到目前为止没有这样的layer，应该可以用fc和乘法拼出来

[2018-10-26 04:22] lucywsq commented on #12530
Hello, this issue has not been updated in the past month. We will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours.
We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-26 04:22] #12530 closed, assigned to gongweibao

[2018-10-26 04:28] lucywsq commented on #12568
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 04:28] #12568 closed, assigned to JiayiFeng

[2018-10-26 04:29] lucywsq commented on #12599
Hello, this issue has not been updated in the past month. We will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours.
We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-26 04:29] #12599 closed, assigned to nobody

[2018-10-26 04:36] lucywsq commented on #12601
C中为new/delete函数，C++语言的标准内存分配函数：malloc，calloc，realloc，free等，malloc和calloc的区别是1块与n块的区别，realloc调用形式为(类型*)realloc(*ptr，size)：将ptr内存大小增大到size，可以重新修改一下。
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 04:36] #12601 closed, assigned to dzhwinter

[2018-10-26 04:37] lucywsq commented on #12609
感谢您的建议，此issue已经被记录~鉴于此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 04:37] #12609 closed, assigned to nobody

[2018-10-26 05:08] gongweibao opened #14082 "test_recognize_digits_mlp meets error!"
http://ci.paddlepaddle.org/viewLog.html?buildId=24623&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all&_focus=21473
[code]

[2018-10-26 05:26] lucywsq commented on #12712
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 05:26] #12712 closed, assigned to qingqing01

[2018-10-26 05:38] Yancey0623 commented on #12732
@ccmeteorljh 尝试调大 pserver 的内存并用最新 release 的版本是否还能复现这个问题呢？

[2018-10-26 05:39] zhanliqing opened #14083 "embeding后concat跟没有concat网络结构的区别"
请教一下，我有3个特征,a,b,c ，分别做了embeding，一种是我把3个embeding后的值放到一个list, [a,b,c] ，还有一种是我把这3个embeding后的值做concat,
分别接fc，请问这两个网络结构是一样的吗，不过不一样，有什么区别

[2018-10-26 05:43] lucywsq commented on #12819
您好，此issue目前若已经解决您的问题，我们将于三天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 05:46] guoshengCS commented on #14083
这两种效果是一样的

[2018-10-26 05:53] lucywsq commented on #12849
您好，此issue若已经解决，我们将于三天内关闭。若在关闭后您仍需跟进 提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 05:53] lucywsq commented on #12855
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 05:53] #12855 closed, assigned to reyoung

[2018-10-26 05:54] jacquesqiao opened #14084 "L2DecayRegularizer and sparse embedding is conflict"

[2018-10-26 05:58] lucywsq commented on #12948
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 05:58] #12948 closed, assigned to jacquesqiao

[2018-10-26 05:59] lucywsq commented on #12951
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 05:59] #12951 closed, assigned to dzhwinter

[2018-10-26 06:01] lucywsq commented on #12956
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 06:01] #12956 closed, assigned to Superjomn

[2018-10-26 06:06] shanyi15 commented on #12345
http://paddlepaddle.org/documentation/docs/zh/1.0/beginners_guide/programming_guide/programming_guide.html
http://paddlepaddle.org/documentation/docs/zh/1.0/user_guides/design_idea/fluid_design_idea.html
hi，您看这两篇文档是否能帮到您呢？

[2018-10-26 06:08] lucywsq commented on #12976
Thanks for your suggestion! We would concentrate on that as soon as possible.
Since this issue has not been updated in the past month. We will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours.
We apologize for the inconvenience caused by the clo

[2018-10-26 06:08] #12976 closed, assigned to lucywsq

[2018-10-26 06:12] zhanliqing commented on #14083
感觉不一样，实例代码如下

input_a = paddle.layer.data('input_a', paddle.data_type.integer_value_sequence(10000))
emb_a = paddle.layer.embedding('emb_a', input=input_a , size = 16, param_attr = paddle.attr.Param(initial_max = 1.0, initial_min = -1.0))

input_b = paddle.layer.data('input_b', paddle.data_type.integer_value_sequence(10000))
emb_b = paddle.layer.embedding('emb_b', input=input_b , size = 16, param_

[2018-10-26 06:13] lucywsq commented on #13034
您好，后续V2版本将不进行维护，建议您迁移至Fluid。
此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 06:13] #13034 closed, assigned to velconia

[2018-10-26 06:15] lucywsq commented on #13038
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 06:15] #13038 closed, assigned to velconia

[2018-10-26 06:16] lucywsq commented on #13054
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 06:16] #13054 closed, assigned to nobody

[2018-10-26 06:19] lucywsq commented on #13288
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 06:19] #13288 closed, assigned to kuke

[2018-10-26 06:20] lucywsq commented on #13294
Hello, this issue has not been updated in the past month. We will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours.
We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-26 06:20] #13294 closed, assigned to kuke

[2018-10-26 06:21] lucywsq commented on #13300
感谢您的建议~我们已经记录并关注。同时建议您将代码迁移至Fluid，未来V2版本将不进行后续维护。
此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 06:21] #13300 closed, assigned to nobody

[2018-10-26 06:23] lucywsq commented on #13312
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 06:23] #13312 closed, assigned to wanghaoshuang, shanyi15

[2018-10-26 06:40] lucywsq commented on #13370
您好，您的问题我们已经收到，并会尽快反馈您

[2018-10-26 06:47] lucywsq commented on #13391
您好，此issue若已经解决，我们将于三天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 06:47] chengduoZH commented on #13336
@joodo 你这样改一下试试
[code]

[2018-10-26 06:51] lucywsq commented on #13395
Hello, this issue has not been updated in the past month. We will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours.
We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-10-26 06:51] #13395 closed, assigned to velconia, jacquesqiao

[2018-10-26 06:55] lucywsq commented on #13448
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 06:55] #13448 closed, assigned to xuezhong

[2018-10-26 06:55] lucywsq commented on #13452
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 06:55] #13452 closed, assigned to xuezhong

[2018-10-26 06:58] lucywsq commented on #13471
您好，请您截图详细的报错代码，以便定位和解决问题~
此issue若已经解决，我们将于三天内关闭。若在关闭后您仍需跟进 提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 07:01] lucywsq commented on #13478
您好，想麻烦问一下您使用的V2版本还是Fluid？如果是V2建议您后续迁移至Fluid
此问题我们已经收到，将尽快回复您解决办法~

[2018-10-26 07:02] lucywsq commented on #13519
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 07:02] #13519 closed, assigned to typhoonzero

[2018-10-26 07:05] lucywsq commented on #13558
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 07:05] #13558 closed, assigned to nobody

[2018-10-26 07:07] lucywsq commented on #13612
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 07:07] #13612 closed, assigned to gongweibao

[2018-10-26 07:08] lucywsq commented on #13616
您好，此issue若已经解决，我们将于三天内关闭。若在关闭后您仍需跟进 提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 07:09] lucywsq commented on #13642
您好，此issue若已经解决，我们将于三天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 07:10] lucywsq commented on #13665
您好，此issue若已经解决，我们将于三天内关闭。若在关闭后您仍需跟进 提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 07:11] lucywsq commented on #13676
您好，此issue若已经解决，我们将于三天内关闭。若在关闭后您仍需跟进 提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 07:12] #13665 closed, assigned to nobody

[2018-10-26 07:12] lucywsq commented on #13680
您好，此issue若已经解决，我们将于三天内关闭。若在关闭后您仍需跟进 提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 07:12] lucywsq commented on #13681
您好，此issue若已经解决，我们将于三天内关闭。若在关闭后您仍需跟进 提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-10-26 07:16] lucywsq commented on #13716
您好，问题已经收到，我们将尽快反馈~

[2018-10-26 07:44] yuzhichang opened #14088 "fluid.layers.elementwise_mul 不支持多个维度的broadcasting"
[code]
我期望embeddings.shape是(-1， 13， 10)。

Numpy, Mxnet 和Tensorflow的element-wise 乘法都支持在多个维度上的broadcasting。例如下面的乘法操作，在维度0和2上都做了broadcasting。
[code]

[Numpy相关文档](https://docs.scipy.org/doc/numpy-1.15.1/reference/ufuncs.html#broadcasting)：
[code]

[2018-10-26 08:34] typhoonzero commented on #13478
@sinoautom 抱歉回复晚了，才看到，请问现在还有能复现的场景么？

[2018-10-26 08:48] clhne commented on #12040
@velconia
Now, only support [python3.5](https://pypi.org/project/paddlepaddle/#files)
But, when to support python3.6 ?

[2018-10-26 11:10] velconia commented on #13370
你好，是的，v2版本训练出来的模型对应的是v2版本的CAPI

[2018-10-26 11:13] velconia commented on #12040
@clhne

Change from python2.7 to python3.5 need a lot of work, so we have spent about 2 months on it.

Howerver, change from python3.5 to python3.6 and python3.7 will NOT be that tough, so python3.6 and python3.7 will be supported soon.

[2018-10-26 12:22] sfraczek opened #14092 "why does depthwise convolution has condition num_filters % num_channels instead of ==?"
Hi,

Regarding this:
https://github.com/PaddlePaddle/Paddle/blob/a3efba176c65fed4553cdccdb1b0d9f57f9b97ab/python/paddle/fluid/layers/nn.py#L1594
I would like to know why is this condition not `num_filters == num_channels`?

[2018-10-27 04:14] zzhzz opened #14097 "自己写operator，Check_Grad出现问题，希望帮忙解决一下"
给自己的operator做unittest，得到错误信息如下：

63707 357: ======================================================================
63708 357: ERROR: test_check_grad (test_tree_conv_op.TestTreeConvOp)
63709 357: ----------------------------------------------------------------------
63710 357: Traceback (most recent call last):
63711 357:   File "/mnt/Paddle/build/python/paddle/fluid/tests/unittests/test_tree_conv_

[2018-10-27 04:18] wanghaoshuang commented on #14097
你提个pr，我先来review下你代码？
相关教程：https://telegra.ph/Git-%E5%BC%80%E5%8F%91%E6%8C%87%E5%8D%97-04-25

[2018-10-27 04:24] wanghaoshuang commented on #14097
`ValueError: Invalid index` 看起来像是op注册有问题，我需要看下你的代码才能确定。

[2018-10-29 02:09] #13735 closed, assigned to sneaxiy

[2018-10-29 02:22] shiyazhou121 opened #14105 "fluid 1.0的paddle.fluid.metrics.CompositeMetric报错"
在训练里加入compsite，准备得到准召率。
![image](https://user-images.githubusercontent.com/15082798/47626071-2c39d400-db64-11e8-8c15-16df74f16e1b.png)
然后报错，
![image](https://user-images.githubusercontent.com/15082798/47626085-3cea4a00-db64-11e8-85c4-2d7b2dd45ead.png)
求解决下。。程序是在mpi-paddle集群跑的。

[2018-10-29 02:39] Yancey0623 commented on #13798
如果是使用 `qsub_f` 提交任务需要在提交时设置参数
[code]

如果是 paddlecloud 提交，请在 paddlecloud 群里联系管理员，其他方式可以在内网先联系 yanxu05 具体看下，先关闭这个 issue了。

[2018-10-29 02:39] #13798 closed, assigned to Yancey0623

[2018-10-29 02:42] Yancey0623 commented on #12139
Close this inactive issue.

[2018-10-29 02:42] #12139 closed, assigned to Yancey0623

[2018-10-29 02:44] Yancey0623 commented on #12344
由于此 issue 超过两周没有更新的消息所以先关闭它了，如果有进一步的疑问可以随时打开它。

[2018-10-29 02:44] #12344 closed, assigned to Yancey0623, velconia

[2018-10-29 02:48] Yancey0623 commented on #13290
Fixed by https://github.com/PaddlePaddle/Paddle/pull/13360 .

[2018-10-29 02:48] #13290 closed, assigned to Yancey0623

[2018-10-29 02:51] Yancey0623 commented on #12381
Already fixed by https://github.com/PaddlePaddle/Paddle/pull/12369/commits/47ab0792d88615b5553daf47a0140784d6189b76 , will close this issue.

[2018-10-29 02:51] #12381 closed, assigned to Yancey0623

[2018-10-29 03:06] typhoonzero commented on #13745
Dup: https://github.com/PaddlePaddle/Paddle/issues/13762

[2018-10-29 03:09] #13386 closed, assigned to velconia, typhoonzero

[2018-10-29 03:10] #13114 closed, assigned to Yancey0623, typhoonzero

[2018-10-29 03:10] typhoonzero commented on #13114
Done

[2018-10-29 03:11] typhoonzero commented on #12732
暂时关闭此issue了，如果仍有复现的case，请reopen, 谢谢。

[2018-10-29 03:11] #12732 closed, assigned to Yancey0623, jacquesqiao, typhoonzero

[2018-10-29 03:15] luotao1 commented on #14074
Following script can download the MobileNet (both model and weight)
https://github.com/PaddlePaddle/Paddle/blob/aa6b2bda2c4e11db847cabbded5fbf227e03a81a/paddle/fluid/inference/api/demo_ci/run.sh#L46-L49
You can `wget http://paddlemodels.cdn.bcebos.com/inference-vis-demos%2F/mobilenet.tar.gz`

[2018-10-29 03:26] luotao1 commented on #14092
@NHZlX Could you help answer this question, since this condition is added by you in https://github.com/PaddlePaddle/Paddle/commit/6e17babe49a7fdeb4f345c83d347f217d05e7e77?

[2018-10-29 03:28] #13588 closed, assigned to Superjomn, luotao1

[2018-10-29 03:28] #13281 closed, assigned to panyx0718, luotao1

[2018-10-29 03:30] luotao1 commented on #12980
It is fixed now.

[2018-10-29 03:30] #12980 closed, assigned to velconia, luotao1, guochaorong

[2018-10-29 03:38] luotao1 commented on #12840
close due to `inference_transpiler` is replaced by `PASS`, and would not be maintained later.

[2018-10-29 03:38] #12840 closed, assigned to luotao1

[2018-10-29 03:42] luotao1 commented on #12486
http://paddlepaddle.org/documentation/docs/zh/0.14.0/new_docs/beginners_guide/install/install_doc.html#permalink-2-ubuntu-paddlepaddle 这个链接里面都可以下载，但下载的不是0.14.0，而是develop @JiabinYang @shanyi15

[2018-10-29 03:51] NHZlX commented on #14092
@sfraczek <del>`num_channels` here represents the num of the input channels. `num_filters ` represents the num of the output channels. There are two type depthwise conv in mobilenet. 1). The input shape equals output shape, the depthwise_separable  contains a 1 * 1 conv and 3 *3 conv(kernel size: 3, stride: 1), the output channels num equals to the input channels num.  2) The size of the output is

[2018-10-29 04:58] jacquesqiao commented on #14078
GPU还是CPU，把startup program打出来看看

[2018-10-29 05:37] ccmeteorljh opened #14109 "nccl2 多机多卡下出错"
模型：resnet
paddle_version: 1.0.2.post85
**多机单卡下运行正常**
运行命令：
[code]
报错如下:
[code]

[2018-10-29 05:39] jaegerstar commented on #14078
@jacquesqiao 是CPU。
如下代码是根据model库里fluid的
[model库里fluid的text_matching_on_quora](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleNLP/text_matching_on_quora)修改的，做文本分类用。
[code]

[2018-10-29 06:38] kolinwei opened #14110 "optimize operations cannot be depended by forward or backward node less_than -> fill_constant"
打开内存优化后出现该问题。
EnforceNotMet: optimize operations cannot be depended by forward or backward node less_than -> fill_constant at [/paddle/paddle/fluid/framework/details/multi_devices_graph_pass.cc:273]

[2018-10-29 06:39] lyp2github opened #14111 "cpu训练报错：CUDA driver version is insufficient for CUDA runtime"
平台：使用paddlecloud训练
cpu版本的模型训练出现以上错误，paddlecloud反馈
“我们排查后认为比较可能是由paddle v2代码中产生的问题。因为你使用的是cpu集群运行的任务，应该不存在cuda版本不对的问题……”
模型开放模型:dssm https://github.com/PaddlePaddle/models/tree/8bca0e4311b444a61024c2a5dd755a22b47487da/legacy/dssm
并已指定CPU运行use_gpu=False
    "--use_gpu",
    type=distutils.util.strtobool,
    default=False,

[2018-10-29 06:47] ascotdudu commented on #11324
您好，您给的链接，打不开

[2018-10-29 08:02] frankwhzhang opened #14113 "训练网络和预测网络略有不同 如何加载模型"
训练网络是有正例tag和负例tag ，训练过程中利用两者相减 求得loss， 但是在预测网络中，只有无属性的tag。主要的网络结构是相同的 ，如何利用训练好的模型参数进行预测 。有没有相关的样例。

[2018-10-29 08:03] jacquesqiao commented on #14113
save_inference_model保存的时候，只保存你需要的target，会自动裁剪网络

[2018-10-29 08:31] frankwhzhang commented on #14113
是不是我可以把预测的网络也写到训练网络中，不feed ,预测的时候再feed数据

[2018-10-29 08:45] shiyazhou121 opened #14114 "fluid C++预测问题"
在官方文档里，paddle_inference_api.h是在inference下的，但demo里是#include "paddle/include/paddle_inference_api.h"
![image](https://user-images.githubusercontent.com/15082798/47638503-b05a7e80-db99-11e8-92a5-b92914677b0f.png)
另外，在编译时遇到一堆错误，不知道是缺了什么，想问下依赖的文件都是啥？以下是完整报错。
/home/shiyazhou/icode_systems/systems/urlv2/modules/engines/mpx/fluid_infer/fluid/paddle/fluid/inference/paddle_inference_api.h:83: error: expecte

[2018-10-29 08:46] ccmeteorljh commented on #14109
#13599

[2018-10-29 08:56] Superjomn commented on #14114
这个是那个commit？

另外，lib是从我们发布的下过来吗
http://www.paddlepaddle.org/documentation/docs/zh/1.0/user_guides/howto/inference/build_and_install_lib_cn.html#id1

[2018-10-29 08:56] luotao1 commented on #14114
https://github.com/PaddlePaddle/FluidDoc/pull/215/files 文档已更新

[2018-10-29 09:10] shiyazhou121 commented on #14114
@Superjomn 是在这个link下下来的，
![image](https://user-images.githubusercontent.com/15082798/47640026-a0dd3480-db9d-11e8-9465-2cfc81c9c739.png)
![image](https://user-images.githubusercontent.com/15082798/47640041-aa669c80-db9d-11e8-9db5-aa7dd84f4a90.png)

[2018-10-29 09:14] shiyazhou121 commented on #14114
@luotao1 所以我下载用的是旧版本的？你给的这个是新的？下载新的应该就可以用了吧？

[2018-10-29 09:22] luotao1 commented on #14114
可以使用文档里的新版本

[2018-10-29 09:32] shiyazhou121 commented on #14114
@luotao1 我已经改成新版本了，这个问题解决了，但编译的时候还是报错很多，能不能帮我看下是哪里出现问题。文件结构如下：
![image](https://user-images.githubusercontent.com/15082798/47641144-40032b80-dba0-11e8-8cb0-30f98b4e7a3e.png)
aaa.cpp
![image](https://user-images.githubusercontent.com/15082798/47641162-4d201a80-dba0-11e8-81ec-974d00217722.png)
CMakeLists.txt 配置如下：
cmake_minimum_required(VERSION 3.0)
project(cpp_inference_demo CXX C)
option(WITH_MKL

[2018-10-29 09:44] Superjomn commented on #14114
编译器有设置 c++11 ?  `-std=c++11`

[2018-10-29 09:50] lyp2github opened #14120 "任务运行失败，Check failed: len > 0"
平台：paddlecloud
jobid= job-e6c5bd6b88eb7964
历史类似问题说是因为超时被kill, 但任务明显没有超时
作业提交时间：2018-10-29 15:37:03
作业开始时间：2018-10-29 15:37:40
作业结束时间：2018-10-29 17:12:46
已经执行的时间：01 hour 35 min 01 sec

报错信息：
F1029 17:07:19.030912 20059 SocketChannel.cpp:101] Check failed: len > 0  peer=10.75.68.23 curIov=23 iovCnt=117 iovs[curIov].base=0x7f5a0ec8a99d iovs[curIov].iov_len=34467
*** Check failure stack trace: ***

[2018-10-29 09:55] luotao1 commented on #14114
请提供cmake完整命令，包括所在路径

[2018-10-29 09:57] jacquesqiao commented on #14111
找一个纯CPU版本的paddle试试？

[2018-10-29 09:57] jacquesqiao commented on #14111
看起来这个问题需要paddle cloud的人跟进一下，确认下环境

[2018-10-29 10:56] sfraczek commented on #14092
Thank you for replying!

Are you sure? I can't find the **2)** case. Is it in other mobilenet architectures?
In this mobilenet paper: https://arxiv.org/abs/1704.04861 I found this table:
![image](https://user-images.githubusercontent.com/17185347/47644749-504ee280-db6f-11e8-91cd-01606bb96891.png)
And there seems to be always (for depthwise conv) `num_filters == num_channels`.

Looking at PaddlePad

[2018-10-29 11:19] shiyazhou121 commented on #14114
@Superjomn @luotao1 问题找到了，确实是没有加C++11，现在已经解决了，非常感谢两位的帮助。^_^

[2018-10-29 11:19] #14114 closed, assigned to Superjomn

[2018-10-29 11:33] wojtuss commented on #14074
@luotao1 , the model you gave us a link to seems to be MobileNet-SSD model, it contains `prior_box` primitives:
![image](https://user-images.githubusercontent.com/19307410/47647265-bc811480-db76-11e8-8c7d-b40542d4deaa.png)
Do you have a MobileNet-v1 (for image classification) model and weights?

[2018-10-29 11:56] luotao1 commented on #14074
@wojtuss You can try :

Random initialized one:
`wget http://paddle-inference-dist.bj.bcebos.com/tensorrt_test/mobilenet.tar.gz`

[2018-10-29 12:03] NHZlX commented on #14092
Sorry about the last reply. It seems that i have forgotten the structure of mobilenet. `num_filters % num_channels == 0 ` might  for flexibility.  Tensorflow use `channel_multiplier` to control this, which can be infer from [here](https://www.tensorflow.org/api_docs/python/tf/nn/separable_conv2d?hl=zh-cn).

[2018-10-29 12:08] NHZlX commented on #14074
The model offered by @luotao1 is Initialized of random parameters, i will offer an `imagenet trained` one.

Imagenet trained one:
`http://paddle-inference-dist.cdn.bcebos.com/mobilenet_imagenet_pretrained.tar.gz`

[2018-10-29 12:18] kolinwei opened #14130 "language model使用fluid.BuildStrategy.ReduceStrategy.Reduce报错"
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected ir::GraphNum(*graph) == 1, but received ir::GraphNum(*graph):2 != 1:1.

[2018-10-29 13:05] #13892 closed, assigned to reyoung, panyx0718, dzhwinter, ccmeteorljh

[2018-10-29 14:34] sfraczek commented on #14092
Thank you for answers! I had to know if there is something I need to worry about. So I think I don't have to worry about this. MKL-DNN should handle both cases (= and %) even if mkl-dnn developers say that depthwise conv is the case where they are all equal.

[2018-10-29 14:34] #14092 closed, assigned to nobody

[2018-10-29 15:20] JingY0604 opened #14132 "SIGSEGV (@0x50) received by PID 105250 (TID 0x7f22ef08b700) from PID 80; stack trace"
paddle训练的时候报如下异常：
*** Aborted at 1540824797 (unix time) try "date -d @1540824797" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x50) received by PID 105250 (TID 0x7f22ef08b700) from PID 80; stack trace: ***
    @     0x7f22ee85d7e0 (unknown)
    @     0x7f1feb010e13 (unknown)
    @     0x7f1feb014aed ncclCommInitAll
    @     0x7f228c9da0be paddle::platform::NCCLC

[2018-10-29 15:55] ZEllison opened #14133 "paddle init Fatal Python error: PyThreadState_Get: no current thread"
mac预装的python是2.7.10
mac系统版本是10.13.2
下载了Python 2.7.15后安装paddle成功，但是运行时执行paddle.init时报错，已经定位到出错行。

报错命令和输出如下：
import py_paddle.swig_paddle as api
Fatal Python error: PyThreadState_Get: no current thread
Abort trap: 6

按照https://github.com/PaddlePaddle/Paddle/issues/5401 的方法尝试了，但是并未解决

[2018-10-30 02:13] shiyazhou121 opened #14135 "v2和fluid 1.0训练速度差别问题"
我在集群上分别用V2和fluid 1.0实现训练，V2版本的跑10个epoch需要10个小时左右，但fluid版本的已经跑了24个小时了，才跑到第7个epoch，想问下是我代码写的逻辑问题还是其他的，应该怎么优化？
以下是fluid版的部分代码：
 emb = fluid.layers.embedding(
        input=feature,
        size=[input_dim, emb_dim],
        is_sparse=True)
    conv_1 = fluid.nets.sequence_conv_pool(
        input=emb,
        num_filters=hid_dim,
        filter_size=1,
        act="tanh",
        pool_type="average")

[2018-10-30 02:43] jacquesqiao commented on #14135
这个exe是单线程的，改成parallel_exe吧

[2018-10-30 02:45] dzhwinter commented on #14135
参考一下models里的使用方式，用parallel_executor吧

[2018-10-30 02:49] typhoonzero commented on #14109
此问题原因和 #13599 应该是一样的，大概率是环境原因

[2018-10-30 02:50] CruiseSun opened #14138 "用Paddle V2进行预测生成图像向量时，如何加快图像处理的速度？如开启多线程等等。"
paddle.image.load_and_transform('./images/' + path, 256, 224, False).flatten().astype('float32')
            vec = paddle.infer(output_layer=fc12, parameters=parameters,
                               input=[(paddle.image.load_and_transform('./images/'+path, 256, 224, False).flatten().astype('float32'), )])

[2018-10-30 02:54] typhoonzero commented on #14120
您好，v2版本可以先参考http://www.paddlepaddle.org/documentation/docs/zh/0.12.0/faq/cluster/index_cn.html 找到最早报错日志排查。如果最早日志均为网络通信错误，请检查是否存在端口混用，端口冲突等问题。

[2018-10-30 02:58] guru4elephant commented on #14132
export LD_LIBRARY_PATH=nccl2的路径看看

[2018-10-30 02:59] dzhwinter commented on #14132
+1

[2018-10-30 02:59] CruiseSun commented on #14138
用的是paddle.v2.infer这个函数测试每张图像生成向量

[2018-10-30 03:00] CruiseSun commented on #14138
是不是需要把图像搞成batch批量，然后在init时增加trainer.count的数量可以实现？

[2018-10-30 03:38] JingY0604 commented on #14132
加这个也没有用，它本来就会找本地的.so吧

[2018-10-30 04:16] dzhwinter commented on #14132
1. 需要指定nccl2的路径。
2. 确认一下cuda版本和nccl2能对上吗

[2018-10-30 04:18] dzhwinter commented on #14138
infer直接一次预测多个样本可以吗？ 搞成batch 批量预测也是支持的。

[2018-10-30 04:18] dzhwinter commented on #14138
单个线程支持一个batch内有多个样本

[2018-10-30 04:27] #13680 closed, assigned to sneaxiy

[2018-10-30 04:31] sneaxiy commented on #13744
您好，请问您用的是哪个Paddle版本，麻烦您提供完整的问题描述，如网络配置、GPU还是CPU等，以便我们帮助解决。
另外，您可以升级至paddle 1.0，这个问题可能是数值稳定性引起的，近期代码里可能修复了一些数值稳定性的bug。

[2018-10-30 04:47] JingY0604 commented on #14132
指定了我本地的nccl2路径， cuda8.0

[2018-10-30 05:12] sneaxiy commented on #13746
非常感谢您的问题，这个bug已修复完毕。

[2018-10-30 05:19] shiyazhou121 commented on #14135
@dzhwinter 是在mpi-paddle集群上跑的程序，也需要改成parallel吗？

[2018-10-30 06:22] lucywsq opened #14146 "中文分词的实验卡住"
您好！我最近准备上那个baidu AI中的中文分词的实验，可是原来能运行的项目，我什么都没改动现在却不能运行了，问题是卡在第一步
#请先运行此代码块获得代码
!DATA_PATH=data/data840/ && NEW_NAME=$(find -name *[0-9].ipynb) && NEW_NAME=${NEW_NAME%.*} && NEW_NAME=${NEW_NAME#./} && unzip -o ${DATA_PATH}中文分词fluid.zip  && cp -rf 中文分词fluid/. . && mv jieba_practice_complete.ipynb ${NEW_NAME}"_complete.ipynb"
单击运行后一直是运行中的状态[*],请帮忙分析是什么原因导致的？谢谢了

[2018-10-30 07:50] dzhwinter commented on #14133
https://github.com/PaddlePaddle/Paddle/issues/5401#issuecomment-352370732
用评论中的方法验证替换后的Python会链接到哪里

另外，mac推荐用fluid。

[2018-10-30 08:20] gmcather opened #14150 "error in sequence_pad op example"
errors happened as following:
[code]
the example in https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L3019
should be changed to
`fluid.layers.assign(input=numpy.array([0.0], dtype=numpy.float32))`

[2018-10-30 09:30] CruiseSun commented on #14138
请问增大trainer_count是否可以加快infer的速度呢？

[2018-10-30 09:31] CruiseSun commented on #14138
还是只能采用多线程的方式呢？

[2018-10-30 10:12] dzhwinter commented on #14138
增大trainer_count就是多线程

[2018-10-30 10:32] jacquesqiao commented on #14084
fixed by https://github.com/PaddlePaddle/Paddle/pull/13941

[2018-10-30 10:32] #14084 closed, assigned to nobody

[2018-10-30 10:50] wojtuss commented on #14074
@luotao1, @NHZlX, thank you! Do you have also a pretrained model with `top_k`, `cross_entropy` and `accuracy` layers?

[2018-10-31 01:53] #12788 closed, assigned to kuke

[2018-10-31 02:01] yeyupiaoling commented on #13972
目前已经知道阿里镜像源已经更新了。

[2018-10-31 02:15] luotao1 commented on #13789
因为是对API目录分类，将移到FluidDoc repo下讨论，先关闭此issue。

[2018-10-31 02:15] #13789 closed, assigned to luotao1, qingqing01

[2018-10-31 02:31] 1727536969 opened #14161 "关于BPTT的案例或者是RNN的案例做预测"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-10-31 02:31] 1727536969 commented on #14161
想问一下在哪找

[2018-10-31 02:31] #14161 closed, assigned to nobody

[2018-10-31 02:33] 1727536969 opened #14162 "在哪里查找BPTT的案例或者是RNN的？"
在做一个预测模型，需要用到这个

[2018-10-31 02:58] dzhwinter commented on #14135
parallel executor是多线程，多卡的，executor是单线程的。看你的应用场景

[2018-10-31 03:03] dzhwinter commented on #14132
那打开VLOG = 10 检查一下是否load进去正确的nccl包。

[2018-10-31 03:11] LihangLiu opened #14164 "fluid1.0 sequence_pad cpu和cuda版本的结果不一致"
以下是我在fluid1.0上跑sequence_pad的结果，cpu和cuda跑出来的output不一样，如下
case1: 一致

    Input:
    x is 1-level lod tensor
    x.lod = [[0, 8,]]
    x.dims = [8, 1]

    Output:
    CPU version: y.dims = [1, 8, 1]
    CUDA version: y.dims = [8, 1]
case2: 不一致

    Input:
    x is 1-level lod tensor
    x.lod = [[0, 8, 12]]
    x.dims = [12, 1]

    Output:
    CPU version: y.dims = [2, 8, 1]
    CUDA version: y.dim

[2018-10-31 04:16] JingY0604 commented on #14132
我开始可以训练，中间报的这个异常，应该跟nccl没有关系吧

[2018-10-31 05:57] shiyazhou121 opened #14168 "fluid预测，序列数据如何输入"
训练的是序列模型，输入层的定义是feature = fluid.layers.data(name='feature', shape=[1], dtype='int64', lod_level=1)
在写fluid C++的预测时，发现没有序列输入的例子。请问该如何写？

[2018-10-31 06:38] beacandler opened #14170 "DynamicRNN输出多个变量时出错"
![image](https://user-images.githubusercontent.com/33446789/47770381-28e84900-dd1a-11e8-8dc9-e019db06796f.png)
如图，我想在每个step输出两个变量，(h, output)，但是在调用方会出现如下错误：

![image](https://user-images.githubusercontent.com/33446789/47770513-a318cd80-dd1a-11e8-9932-875207c453fe.png)

[2018-10-31 07:19] toddwyl opened #14172 "grad_op_maker_ should not be null and GradOpMaker has not been registered??"
[code]
![_20181031151443](https://user-images.githubusercontent.com/20945688/47771829-b9755800-dd1f-11e8-92f5-1141d63ba2a7.png)

ones and zeros is written as :
[code]
and the get_params functions is:
[code]

Anyone has point on this problem?

[2018-10-31 07:32] Superjomn commented on #14168
序列是一维的，如果长度为 1,3,4,5,1,2,3
训练时的配置是    feature = fluid.layers.data(name='feature', shape=[1], dtype='int64', lod_level=1)

对应的lod

{{0, 1, 4, 8, 13, 14, 16, 19}}

[2018-10-31 07:37] guoshengCS commented on #14170
麻烦贴下完整的代码，输出一个变量的时候是可以的吗

[2018-10-31 07:39] Superjomn commented on #13899
有一些 op 只能支持指定格式，比如lookup_table, 只能支持 int64_t

[2018-10-31 07:48] cserken commented on #13899
为什么gather这个op只能支持特定的数据类型呢?

[2018-10-31 07:59] luotao1 opened #14174 "test_analyzer_resnet50 random fails on MKLDNN"
There are two different random fails on `Analyzer_resnet50.compare_mkldnn` in our CI machine (Intel(R) Xeon(R) Gold 5117 CPU @ 2.00GHz)
- http://ci.paddlepaddle.org/viewLog.html?buildId=25538&tab=buildLog&buildTypeId=Paddle_PrCiNight&logTab=tree&filter=all&_focus=25632
[code]
- http://ci.paddlepaddle.org/viewLog.html?buildId=25394&buildTypeId=Paddle_PrCi&tab=buildLog&consoleStyle=true&_focus=12660

[2018-10-31 08:11] beacandler commented on #14170
一个变量可以打印出来，两个也可以打印出来，就是报错

[2018-10-31 08:38] bBobxx commented on #14172
Have you used `fluid.layers.resize_bilinear` in your code?I had used it , and I set `scale `arg with 1, it reported this error.

[2018-10-31 08:45] bBobxx commented on #14172
Have you used `fluid.layers.resize_bilinear`? I had set the arg `scale` with 1, and it reported this error.

[2018-10-31 08:57] toddwyl commented on #14172
I had not used it, but i think there is some problem with my params define in conv2d.

[2018-10-31 09:15] toddwyl opened #14177 "构建模型时使用了WeightNormParamAttr，当第二次调用到时，shape不一致"
问题报错：
![_deepin-terminal_20181031170247](https://user-images.githubusercontent.com/20945688/47777344-82a73e00-dd2f-11e8-9e5b-838a1d3b4507.png)

这个是我定义的判别器的部分代码。
[code]

[code]
调用D模型的program：
[code]
在实现TripleGAN的时候遇到这个问题，其中已经检查过inputs和G_train的shape是一致的，因为我需要对conv2d中的权重参数进行初始化，发现可以用WeightNormParamAttr，但是第当第二次调用即：```D_fake, D_fake_logits, _ = self.D(G_train, self.y, is_test=False, reuse=True)```这里一直报

[2018-10-31 09:52] wojtuss commented on #14174
@luotao1 , it seems to be related to https://github.com/PaddlePaddle/Paddle/pull/14045. Due to the low quality of the `UniquePatterns()` method the number of conv+bias patterns fused in these logs is 52 and should be 53. Similarly for conv+relu (32 vs. 33). The number of Conv+elementwise_add fuses is larger than it should be (17 vs. 16). This potentially causes a mess in the graph. Some time ago w

[2018-10-31 09:57] Sand3r- commented on #14174
@luotao1
Basically what happens is that:
1. `UniquePatterns()` causes graph detector to miss a few conv + bias patterns.
2. Because of that there are scenarios with unmerged conv and elementwise_adds
3. Then the conv + elementwise_add is ran, which mistakenly fuses convs and elementwise_add, where the elementwise_add represents an unmerged bias and no the data coming from the skip connection.

Thi

[2018-10-31 11:07] luotao1 commented on #14174
@wojtuss @Sand3r-

Thanks for your analysis! I have one question:
- Each pass should be independent with other passes. That's to say, if we remove one of pass or adjust their order, the inference result acurracy is not affected, only the inference speed would be slower. Thus, we can remove any of passes or adjust the order.
- However, `conv_elementwise_add_mkldnn_fuse_pass` must be run after `conv

[2018-10-31 11:11] wojtuss commented on #14174
@luotao1 , the `conv_elementwise_add_mkldnn_fuse_pass` should also be independent of other fuses, and it is a bug in it that causes the problem. It should be fixed and we will take care of it asap.

[2018-10-31 11:49] aturbofly opened #14179 "macOs 怎么安装paddlepaddle 0.15.0?"
![image](https://user-images.githubusercontent.com/16451716/47786225-13891400-dd46-11e8-885f-64713fc2aed3.png)

[2018-10-31 12:09] Angus07 opened #14180 "dropout的使用问题"
在训练中设置dropout，在dev数据集和test数据集上测试的时候，应该是不dropout的。请问
1.如何在dev 数据集上evaluate的时候设置dropout为0呢？
2.保存的模型是否默认会去掉dropout层呢？

[2018-10-31 12:16] Superjomn commented on #14180
保存模型不会默认去掉dropout，dropout应该有test模式

详细文档： http://www.paddlepaddle.org/documentation/api/zh/1.0/layers.html#dropout

[2018-10-31 12:17] wojtuss commented on #14074
@luotao1 , @NHZlX , or is there a way to add those layers to your model?

[2018-10-31 12:26] luotao1 commented on #14074
CRNN-CTC https://github.com/PaddlePaddle/Paddle/issues/13574#issuecomment-424652591 has the `top-k` layer.  But `cross_entropy` and `accuracy` are not in any inference models, `save_inference_model` will clip these layers since they are not used in inference.

[2018-10-31 12:30] wojtuss commented on #14074
@luotao1 , is there a way to add `cross_entropy` and `accuracy` layers to a model saved using `save_inference_model`?

[2018-10-31 12:36] velconia opened #14183 "Unit tests in Mac will random fail"
Mac Python3环境下， ```test_image_classification_vgg``` 和 ```test_image_classification_resnet``` 这两个单测经常会 random fail 掉；

现在已经先把这两个单测禁用掉；

辛苦@panyx0718 将这个issue assgin给对应负责同学修复；

[2018-10-31 12:39] luotao1 commented on #14074
You can try to insert these two layer like
https://github.com/PaddlePaddle/Paddle/blob/90d9e5aee891c3ebf576ceb58cde459799cfa13d/python/paddle/fluid/transpiler/inference_transpiler.py#L347-L353

[2018-10-31 12:43] luotao1 commented on #13574
I close this issue since we are not working on any CRNN-CTC application recently. @tpatejko If you have further questions, please feel free to reopen it.

[2018-10-31 12:43] #13574 closed, assigned to luotao1

[2018-10-31 12:59] #13746 closed, assigned to sneaxiy

[2018-10-31 13:27] guoshengCS commented on #14177
你好，如果是需要对conv2d中的权重参数进行初始化可以使用`param_attr=ParamAttr(initializer=fluid.initializer.Normal(0.,1))`这种，WeightNormParamAttr不是做初始化使用的

[2018-10-31 13:45] toddwyl commented on #14177
我是按照论文说的需要接个weight norm，需要用到权值归一化，请问调用这个接口的正确方式是怎样呢？第二次被调用到了就shape不一致了

[2018-10-31 14:18] jaegerstar opened #14184 "Enforce failed,输入和输出shape不一致"
错误信息如下：
[code]
网络代码如下：
[code]

[2018-10-31 14:23] jaegerstar commented on #14078
问题已搞定，确实是处理器指令集问题

[2018-10-31 14:34] wojtuss commented on #14074
@luotao1 , thanks for the idea, though I'm not sure how to apply it yet.
@NHZlX , the model you shared does not contain the `top-k` layer, do you have a model that contains the `top-k`?
I'm looking for a trained model we could use to verify the accuracy.

[2018-10-31 15:01] #13899 closed, assigned to chengduoZH

[2018-11-01 01:42] reyoung commented on #14172
It is because `ones` and `zeros` does not have gradient method, and you do not need to compute gradients of them actually.

Try to set

[code]

could resolve this problem

[2018-11-01 02:17] aturbofly opened #14187 "关于官方文档的问题"
提两个关于文档的问题：
  1.版本选择0.14.0的时候。点击模型库，显示页面不存在。
￼
![image](https://user-images.githubusercontent.com/16451716/47828723-44595f80-ddbf-11e8-9fd3-a199ab08ad66.png)

如果只从0.15.0开始才有，也应该处理下。
2.版本选择0.14.0，英文版下面有models，中文版没有。 比如我要找Learning to rank / 排序学习。我中文版里完全找不到入口。 但实际是提供了[中文版](http://www.paddlepaddle.org/documentation/models/en/0.14.0/ltr/README.html)的。并且英文版中models下面的learning to rank 很简单。此外。点击选择了Learning

[2018-11-01 02:23] lyp2github opened #14188 "paddle.fluid.core.EnforceNotMet: Enforce failed. Expected y_dims.size() > y_num_col_dims"
from utils import logger
import paddle.fluid as fluid

main = fluid.Program()
startup = fluid.Program()
with fluid.program_guard(main, startup):
    left = fluid.layers.data(
         name="left",
         shape=[2],
         dtype='float32', lod_level=0)
    right = fluid.layers.data(
         name="right",
         shape=[2],
         dtype='float32', lod_level=0)
    label = fluid.layers.data(

[2018-11-01 02:53] seiriosPlus commented on #14188
检查一下定义的数据的Shape和feed的数据是否匹配

[2018-11-01 03:04] Angus07 commented on #14180
1.不明白，这个网络在初始化都定型了，只能传feed_dict进去，怎么把is_test这个参数传进去？
2.如果不是默认去掉，那么读取模型预测预测的时候还会有dropout的操作？为什么要这么设计？难道还有人在预测的时候保留dropout吗？

[2018-11-01 03:05] lyp2github commented on #14188
left = fluid.layers.data(
         name="left",
         shape=[1],
         dtype='float32')
    right = fluid.layers.data(
         name="right",
         shape=[1],
         dtype='float32')
    label = fluid.layers.data(
        name="label",
        shape=[1],
        dtype='int32')

[2018-11-01 03:06] kuke commented on #14164
这可能是个bug，我修复一下，然后加个单测

[2018-11-01 03:06] lyp2github commented on #14188
feeder = fluid.DataFeeder(feed_list=[left, right, label], place=place)
score_list = exe.run(main,
                feed=feeder.feed([[[0.5, 0.3], [0.4, 0.2], [1]],[[0.2, 0.6], [0.6, 0.9], [0]]]),
                fetch_list=[left, right, cos],
                return_numpy = True,
                )
[array([[0.5, 0.3],
       [0.2, 0.6]], dtype=float32), array([[0.4, 0.2],
       [0.6, 0.9]], dtype=fl

[2018-11-01 03:27] shanyi15 commented on #14187
please check this problem @jetfuel @varunarora ,thanks

[2018-11-01 03:30] Superjomn commented on #14180
@dzhwinter @qingqing01 可以帮回答下吗

[2018-11-01 03:52] seiriosPlus commented on #14188
在执行run main_program之前需要先执行初始化， exe.run(startup)

[2018-11-01 03:54] luotao1 commented on #13011
@shiyazhou121 C++中的顺序和python中的是一样的。不一样的情况，是由于python中调整了顺序，但没有重新使用merge_v2_model来保存。所以，如果您调整python顺序后，要重新用merge_v2_model来保存一下，再调整C++顺序即可。

[2018-11-01 05:18] shanyi15 commented on #14187
版本选择0.14.0，英文版下面有models，中文版没有。 比如我要找Learning to rank / 排序学习。我中文版里完全找不到入口。 但实际是提供了中文版的。并且英文版中models下面的learning to rank 很简单。此外。点击选择了Learning to rank ，然后再点击又上角的

-----------
您好，@aturbofly 0.14.0的英文版文档的结构和中文版的不一致，中文版的models是有的，只是位置调整到了“使用指南”中，请见：
http://paddlepaddle.org/documentation/docs/zh/0.14.0/new_docs/user_guides/models/index.html
![image](https://user-images.githubusercontent.com/35982308/47833

[2018-11-01 06:40] yeyupiaoling opened #14191 "在SSD网络中如何使用save_inference_model接口保存模型"
在这个目标检测例子：https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/object_detection
我想使用使用save_inference_model接口来保存模型，但有一个参数我搞不懂
[code]
就是第三个参数`target_vars`的值应该是什么呢？搞不懂。

[2018-11-01 06:40] wfeagle opened #14192 "hsigmoid预测问题"
我用hsigmoid作为cost function训练了一个模型(query-->主题)，输出层label是6600个主题，我想将这6600个主题对应的概率**降序排列**取top5对应的主题明文，现在遇到的问题是所有输入query的输出概率都完全一样的，我的方法有什么不对吗？请问应该怎么取?
hsigmoid的结果是：后面是top5的概率完全一样
从万州到深圳的飞机票  0.999997735023	0.999997735023	0.999997735023	0.999997735023	0.999997735023
国家 采购师 0.999997735023	0.999997735023	0.999997735023	0.999997735023	0.999997735023
养森瘦瘦包怎么用 0.999997735023	0.999997735023	0.999997735023	0

[2018-11-01 07:06] aturbofly commented on #14187
但这个下面还是找不到排序学习的入口：http://www.paddlepaddle.org/documentation/models/en/0.14.0/ltr/README.html

[2018-11-01 07:09] aturbofly opened #14193 "python实现的RankNet, 用C++ 加载预测"
这个是我python实现的RankNet 模型训练：
    `from __future__ import print_function
import os
import logging
import paddle
import paddle.fluid as fluid
import numpy as np
from dataset import popin_samples
import math
import gzip

import sys

try:
    from paddle.fluid.contrib.trainer import *
    from paddle.fluid.contrib.inferencer import *
except ImportError:
    print(
        "In the fluid 1.0, the trainer

[2018-11-01 07:26] shippingwang commented on #13920
更改为latest-gpu版本运行了：）

[2018-11-01 07:27] #13920 closed, assigned to wangguibao

[2018-11-01 07:36] Superjomn commented on #14184
这个感觉是，你的

[code]

里面的 prediction, label shape 不一致

[2018-11-01 07:37] #14184 closed, assigned to Superjomn

[2018-11-01 07:40] seiriosPlus commented on #14180
你保存模型的时候指定一下test=true试试呢，
比如 ```inference_program = fluid.default_main_program().clone(for_test=True)```

[2018-11-01 07:45] shiyazhou121 commented on #14105
@dzhwinter 问下，修复了吗。。

[2018-11-01 07:53] jaegerstar commented on #14184
又看了一下fluid.layers.cross_entropy的api文档，我的shape都没问题，而且二者在api里定义在默认soft_label=False时是不相等的。如下：
[code]

[2018-11-01 07:54] Superjomn commented on #14184
:487 != framework::slice_ddim(label_dims, 0, rank - 1):128

487 和 128 这两个 dim 能对应到数据里 tensor 的某一维度吗，就是那一维度不一致

[2018-11-01 08:00] lyp2github opened #14198 "paddle.fluid.core.EnforceNotMet: Enforce failed. Expected ids_dims[ids_rank - 1] == 1,"
from utils import logger
import paddle.fluid as fluid
from paddle.fluid.initializer import NormalInitializer
import math

main = fluid.Program()
startup = fluid.Program()
with fluid.program_guard(main, startup):
    left = fluid.layers.data(
         name="left",
         shape=[1],
         dtype='int32',  lod_level=1)
    fc_left = fluid.layers.embedding(input=left, size=[10, 1])
place = fluid.C

[2018-11-01 08:07] seiriosPlus commented on #14198
embedding加一个is_sparse=False的参数看看？

[2018-11-01 08:53] chizhizhen opened #14200 "sequence model reshape error."
I read sequence data with "lod_level", where the model_input is a sequence: [frame_nums, feat_dim].
For example, input feature dims are fixed [300, 20], when I send inputs to the model file, the feature dims are changed to [-1, 20].
If I want to reshape model_input to [1, 600], how can I operate on it, since input dims are[-1, 20].

[2018-11-01 09:32] Superjomn commented on #14193
你这个，左右是两个不同的FC？ 也就是左右两半是不同的模型，所以不一样

[2018-11-01 09:57] JiabinYang commented on #14192
请问您使用的是paddle v2么

[2018-11-01 10:18] aturbofly commented on #14193
我输入了很多对（left, right) 样本进去.得到的结果都是第一个result 有值。第二个result 都是0 。这个是什么原因呢？ 模型训练不好吗？
顺便问一下：我这个RankNet 的模型训练没有问题吧？？

[2018-11-01 10:23] seiriosPlus commented on #14200
这里的-1是根据batch_size动态调整的

[2018-11-01 10:51] aturbofly opened #14204 "关于paddlepaddle 的rank_loss"
请问下：
![image](https://user-images.githubusercontent.com/16451716/47847716-0f70fb00-de07-11e8-8ce4-d2c06ad390d5.png)
![image](https://user-images.githubusercontent.com/16451716/47847731-1992f980-de07-11e8-803c-146850080598.png)
训练一段时间后，我打印出来的avg_loss_value有很多负值：
![image](https://user-images.githubusercontent.com/16451716/47847751-2d3e6000-de07-11e8-91ef-070d53d81788.png)
我想请问下，我的这种情况可能会是什么原因呢？

[2018-11-01 10:54] chizhizhen commented on #14200
那我想reshape到固定尺寸，就像上面说的，这个怎么操作呢？

[2018-11-01 10:56] qingqing01 commented on #14180
@Angus07  如 @seiriosPlus 所说
[code]
这个操作中`for_test=True`会将dropout接口参数is_test设置True，做预测时该op存在，但内部实现在is_test=True时的操作和训练不同：

[code]

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/dropout_op.h#L72-L

[2018-11-01 10:58] Yancey0623 commented on #12532
支持的， 参考：https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/deep_attention_matching_net/model.py#L87

[code]

并且在模型中指定 embedding table 的名字:

[code]

我理解这种需要支持 sparse 的 input data type 才行，Fluid 中暂时不支持，但也请 @reyoung 帮确认一下？

[2018-11-01 10:59] wfeagle commented on #14192
是的，paddle0.11.0 版本

[2018-11-01 11:27] #13370 closed, assigned to velconia

[2018-11-01 11:37] lyp2github commented on #14198
解决了，left = fluid.layers.data(
name="left",
shape=[1],
dtype='int64', lod_level=1)

[2018-11-01 11:37] luotao1 commented on #12526
请先尝试1.1版本的fluid：http://www.paddlepaddle.org/documentation/docs/zh/1.1/beginners_guide/basics/image_classification/index.html

[2018-11-01 12:26] dzhwinter commented on #14180
用clone接口，可以实现自动转换

[2018-11-01 12:29] wanghaoshuang commented on #13681
该用户应该已经在线下沟通解决了该问题。。

[2018-11-01 12:29] #13681 closed, assigned to wanghaoshuang

[2018-11-01 13:32] qingqing01 commented on #14191
@yeyupiaoling It should be the output of [`fluid.layers.detection_output`](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/train.py#L118) .

[2018-11-01 13:49] JiabinYang commented on #14179
mac下我们不支持0.15.0版本paddlepaddle的pip安装，具体安装方式请参见：http://paddlepaddle.org/documentation/docs/zh/0.15.0/beginners_guide/install/install_doc.html#paddlepaddle
您可以pip安装0.15.0以上版本，推荐使用最新版本的paddlepaddle

[2018-11-01 14:03] seiriosPlus commented on #14200
可以去PaddlePaddle Models的REPO里面看一下其他人的模型：
https://github.com/PaddlePaddle/models/search?q=reshape&unscoped_q=reshape

[2018-11-01 17:40] jetfuel commented on #14187
@aturbofly 感謝你的回饋，我們會下一個更新中，把0.14.0 之前版本的導覽行中，把`模型库`隱藏起來。好避免混淆。

[2018-11-02 01:26] Superjomn commented on #14174
I've fixed this issue in https://github.com/PaddlePaddle/Paddle/pull/14186, you can have a try.

[2018-11-02 01:33] luotao1 commented on #14174
Thanks for @Superjomn, @wojtuss we hope your fix on `conv_elementwise_add_mkldnn_fuse_pass` as well.

[2018-11-02 02:02] yeyupiaoling commented on #14191
@qingqing01
嗯嗯，我修改了一下，
我把：https://github.com/PaddlePaddle/models/blob/a8dc7ed3d95cf83d7ae0f7988628e6910f018a49/fluid/PaddleCV/object_detection/train.py#L165-L169
修改成：
[code]

在这一行https://github.com/PaddlePaddle/models/blob/a8dc7ed3d95cf83d7ae0f7988628e6910f018a49/fluid/PaddleCV/object_detection/train.py#L254 之后加上
[code]

这里https://github.com/PaddlePaddle/models/blob/a8dc7ed3d95cf83d7ae0f7988628e69

[2018-11-02 02:12] qingqing01 commented on #14191
@yeyupiaoling

Feed var的name写错了，因为用了py_reader，对应的输入的name不在是 ‘image’，是img.name。

[code]

我们在量化训练中的使用方式：

https://github.com/PaddlePaddle/models/blob/a8dc7ed3d95cf83d7ae0f7988628e6910f018a49/fluid/PaddleCV/object_detection/main_quant.py#L214

[2018-11-02 02:13] yeyupiaoling commented on #14191
@qingqing01 好的，我试试看。

[2018-11-02 02:16] LihangLiu opened #14207 "train的时候，cuda比cpu还慢"
fluid1.0，模型**inference的时候gpu比cpu快很多**，但是模型**train的时候gpu反而比cpu慢很多**。不知道是什么原因，怎么查？
几个可能有用的信息：
1. 我的fluid1.0是用paddlepaddle/paddle_manylinux_devel:cuda8.0_cudnn5 加上source code成wheel在用pip安装的。
2. inference和train的差别在于train多了back propagation。
3. 跑gpu的时候，nvidia-smi确实打满了。

[2018-11-02 02:21] shanyi15 commented on #14187
@jetfuel 整理了一下，用户困惑的原因在于：能搜索到0.14.0“排序学习”这篇文档，但在左侧导航栏找不到相应的入口。
    这是因为，对于0.13.0及其以前版本的模型文档，采取了把“模型库”单独成块，例如，在这一页，http://paddlepaddle.org/documentation/models/zh/0.13.0/README.html 点击每一个模型，跳到每个模型的详情页，例如http://paddlepaddle.org/documentation/models/zh/0.13.0/hsigmoid/README.html 。这可能是沿用了之前“模型库”是独立模块的做法，但左侧导航栏并没有展示每一篇文档，用户难免困惑。
    由于这个逻辑其实依然作用于0.14.0及其以后的版本（只是0.14.0及其以后的左侧导航栏中不再展示单独成块的“模型库”），所以其实0.1

[2018-11-02 02:35] jacquesqiao commented on #12918
支持cpu并行，请使用最新版本，另外，请不要使用trainer接口，目前缺乏维护。

[2018-11-02 02:35] #12918 closed, assigned to jacquesqiao

[2018-11-02 02:35] seiriosPlus commented on #14204
在打印时候，把输入给rank_loss的left, right, label的值都打印出来吧。

[2018-11-02 02:37] jacquesqiao commented on #12912
请不要使用inferencer接口，目前缺乏维护，建议使用官方支持的api。

[2018-11-02 02:37] #12912 closed, assigned to jacquesqiao

[2018-11-02 02:40] jacquesqiao commented on #12499
已支持。请参考文档
http://paddlepaddle.org/documentation/docs/zh/1.1/user_guides/howto/training/cluster_howto.html

http://paddlepaddle.org/documentation/docs/zh/1.1/user_guides/howto/training/cluster_howto.html#embedding
和模型
https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleRec/ctr

[2018-11-02 02:45] jacquesqiao commented on #13827
请参考https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleRec/ctr

[2018-11-02 03:00] aturbofly commented on #14204
我先对loss 求mean。然后增加更多样本后，训练好像正常了。谢谢。

[2018-11-02 03:12] mengyiliu22 opened #14211 "paddle训练进入睡眠状态"
训练中途，不再打印日志信息，进程状态变成Sl+，请问paddle方面有什么解决方法吗？

[2018-11-02 03:21] typhoonzero commented on #13774
先关闭此issue了，如果您还没有解决此问题可以reopen此issue。谢谢～

[2018-11-02 03:21] #13774 closed, assigned to typhoonzero

[2018-11-02 03:25] Damcy commented on #12499
@jacquesqiao 好赞，马上试用一波

[2018-11-02 03:35] #14078 closed, assigned to jacquesqiao

[2018-11-02 03:44] #12621 closed, assigned to Superjomn

[2018-11-02 03:46] Superjomn commented on #13729
[code]

这是 Python PIL 库的报错，应该是你的文件路径没设对

[2018-11-02 03:47] #12007 closed, assigned to Superjomn, panyx0718, daming-lu, JiayiFeng

[2018-11-02 03:47] #13550 closed, assigned to Superjomn, luotao1, tensor-tang

[2018-11-02 03:58] Superjomn commented on #14162
可以看下 https://github.com/PaddlePaddle/models/tree/develop/fluid

这里有所有的案例

[2018-11-02 03:58] #14162 closed, assigned to Superjomn

[2018-11-02 04:03] gongweibao commented on #14077
这个是cuda驱动没有绑定到docker中。

[2018-11-02 04:04] gongweibao commented on #14077
https://github.com/gongweibao/paddlepaddleutils/tree/develop/build#%E5%90%AF%E5%8A%A8%E9%95%9C%E5%83%8F

[2018-11-02 04:07] gongweibao commented on #14059
Close it since no activity.

[2018-11-02 04:07] #14059 closed, assigned to gongweibao

[2018-11-02 04:21] #12429 closed, assigned to qingqing01

[2018-11-02 04:24] #12819 closed, assigned to wanghaoshuang

[2018-11-02 04:27] lyp2github opened #14212 "fluid.io.save_inference_model The target variable must have an associated operator that generates it."
cost, prediction  = network.rank_model()

        left_score = fluid.layers.fc(input=fc_pos_hid1, size=1, act="sigmoid", param_attr=hid_para_attr, bias_attr=hid_bias_attr)
        # The cosine similarity score of source and right target.
        fc_neg_hid1 = fluid.layers.concat(input=[fc_img] +fc_hid0[5:8], axis=1)
        right_score = fluid.layers.fc(input=fc_neg_hid1, size=1, act="sigmoid", pa

[2018-11-02 04:30] #13676 closed, assigned to seiriosPlus

[2018-11-02 05:32] 930083287 opened #14213 "SSD模型训练不能后台执行"
利用paddlepaddle开源的v2版SSD模型，直接利用python train.py正常执行，如果利用nohup python train.py置于后台,就不再运行了，不知道为什么？

[2018-11-02 05:50] dzhwinter commented on #14146
看起来和paddle没关系，检查一下自己的code？

[2018-11-02 05:53] dzhwinter commented on #14150
thanks for the reporting. will fixed.

[2018-11-02 06:03] toddwyl commented on #14177
@guoshengCS 你好能再为我解答一下吗？我需要用到weight norm，并不是仅仅初始化，调用这个接口的正确方式是如何？为什么这里并不会权重共享？

[2018-11-02 06:06] toddwyl opened #14214 "paddlepaddle是自动判断权重共享的吗？我需要像tensorflow那样传reuse参数吗？"
paddlepaddle是自动判断权重共享的吗？我需要像tensorflow那样传reuse参数吗？
[code]
类似GAN中我需要重复使用D模型，paddle是直接判断shape然后判断是否reuse吗？

[2018-11-02 06:18] #14146 closed, assigned to nobody

[2018-11-02 06:26] yeyupiaoling commented on #14191
@qingqing01 可以了，谢谢青青姐。女神出手，bug快走。

[2018-11-02 06:26] #14191 closed, assigned to qingqing01

[2018-11-02 06:29] phlrain commented on #14214
paddle 是根据 parameter的name 来进行判断是否是同一个参数，不要指定reuse参数

[2018-11-02 06:39] strawsuper commented on #14172
it could not work,I have no idea about this

[2018-11-02 06:40] 333caowei opened #14216 "集群训练了几轮，突然挂掉了"
mpi训练，训练到了第四轮，然后突然就挂了，错误如下：
train.log
[code]

server.log:
[code]

[2018-11-02 06:41] jacquesqiao commented on #13073
fixed

[2018-11-02 06:41] #13073 closed, assigned to jacquesqiao

[2018-11-02 06:42] #14188 closed, assigned to seiriosPlus

[2018-11-02 06:42] #14204 closed, assigned to seiriosPlus

[2018-11-02 06:43] #14200 closed, assigned to seiriosPlus

[2018-11-02 06:43] #14198 closed, assigned to seiriosPlus

[2018-11-02 06:45] toddwyl commented on #14172
not work, my paddlepaddle is 1.1.0,and it is not the version problem.

[2018-11-02 06:52] toddwyl commented on #14214
我现在遇到了这个问题：
[code]
但是我给他的input是一样的，第二次调用就自动判断shape是否一致，然而不一致，所以我在想哪里出了问题

[2018-11-02 07:08] 930083287 commented on #14213
1、查看nvidia-smi是否运行；
2、如果正在运行，可以采用python -u train.py

[2018-11-02 07:08] #14213 closed, assigned to nobody

[2018-11-02 07:10] phlrain commented on #14213
python 有些log是有缓存的，如果用nohup 不会立马打印出来，可以用python -u 启动程序，禁用缓存

[2018-11-02 07:20] bingyanghuang commented on #14074
@wojtuss  if I do understand correctly, this request is for the following INT8 work, right?

[2018-11-02 07:23] JiabinYang commented on #14192
不好意思，因为paddle.v2现在已经没有在维护了，所以请迁移到paddle fluid

[2018-11-02 07:58] phlrain commented on #14207
某些op 在用adam更新的时候 速度特别慢，我们定位下问题

[2018-11-02 08:31] phlrain commented on #14207
目前在某些特殊的op的时候 adam 比 sgd 慢5倍
![image](https://user-images.githubusercontent.com/43953930/47902316-c8ddd800-debc-11e8-9a43-1da1d246e2ca.png)

[2018-11-02 08:42] wanghaoshuang commented on #14214
你是给某些conv layer新加了regularizer么？
这应该是regularizer的命名的一个bug, 我们会马上修复一下。

[2018-11-02 08:50] toddwyl commented on #14214
对，我给conv加了WeightNormParamAttr，做权值归一化，不做归一化就可以正常运行

[2018-11-02 09:05] phlrain commented on #14207
post85 会出现这个问题，cuda9，cudnn7 表现正常

[2018-11-02 09:14] strawsuper commented on #14172
I find the problem. When I use concat method, I call the fluid.layers.ones function.
But the problem is here, I replace it by
[code]
then I reslove it.

Thank @reyoung a lot

[2018-11-02 09:14] wanghaoshuang commented on #14214
你可以先通过自己指定WeightNormParamAttr的[name](https://github.com/PaddlePaddle/Paddle/blob/bc1fa4fd6f9da945c39226dc37110016f9b16cfc/python/paddle/fluid/param_attr.py#L188)来避免这个问题，这个问题不一定能很快从根本上修复。

[2018-11-02 09:16] wanghaoshuang commented on #14214
你可以贴下你的代码么？或者给个链接。

[2018-11-02 09:18] wfeagle opened #14217 "预测时softmax激活函数速度较慢，请问如何加速"
神经网络的最后一层softmax，用于预测时速度比较慢，能否复用训练的模型参数，然后将最后一层softmax换成线性的，其实就是想去除softmax的归一化因子。
尝试过，发现最后一层的参数不认，报如下错误：
Traceback (most recent call last):
  File "infer.py", line 186, in <module>
    main(args)
  File "infer.py", line 177, in main
    args.model_path)
  File "infer.py", line 112, in infer_net
    output_layer=pred_layer, parameters=parameters)
  File "/home/disk1/wangfang20/software/python27-gcc

[2018-11-02 09:31] oshixiaoxiliu commented on #12679
请问这个问题是怎么解决的呢？

[2018-11-02 09:32] toddwyl commented on #14172
@reyoung @Superjomn When I use fluid.layers.concat([x, y], axis=1), I have this problem.
If this function does not have gradient method?
[code]
This is my D model, and I note the concat op, it can run successfully.

[2018-11-02 09:32] oshixiaoxiliu commented on #13057
请问这个问题是怎么解决呢

[2018-11-02 09:40] Superjomn commented on #14193
训练到拟合后，可以把左右fetch 下，打印出来看下吗，可能是过拟合了

[2018-11-02 09:45] oshixiaoxiliu opened #14218 "fluid 集群训练报错 meets grpc error:OS Error"
Fri Nov  2 15:37:12 2018[1,133]<stdout>:F1102 15:37:12.763226 49369 grpc_client.cc:295] Get name:[embedding_5.w_0.block70], ep:[10.182.108.31:8000] meets grpc error:OS Error
Fri Nov  2 15:37:12 2018[1,133]<stdout>:*** Check failure stack trace: ***
Fri Nov  2 15:37:12 2018[1,133]<stdout>:    @     0x7f2e104e1bed  google::LogMessage::Fail()
Fri Nov  2 15:37:12 2018[1,133]<stdout>:    @     0x7f2e10

[2018-11-02 09:47] guoshengCS commented on #14177
这个接口和ParamAttr的用法是一样的，权重共享的话用两个WeightNormParamAttr设置同样的name应该就可以

[2018-11-02 10:29] zhengyandan opened #14219 "求看这个是什么问题"
Fri Nov  2 12:34:28 2018[1,0]<stdout>:Node 0, Pass 0, Batch 91600, Train Cost 0.121742330492, {'__auc_evaluator_0__': 0.8770161271095276}
mpirun: killing job...

[yq01-ecom-nova0980-2b0da.yq01.baidu.com:47830] getpeername() failed: Transport endpoint is not connected (107)
[yq01-ecom-nova0980-2b0da.yq01.baidu.com:47830] [[10189,0],0]-[[10189,0],78] mca_oob_tcp_msg_recv: readv from (null) failed: T

[2018-11-02 10:30] phlrain commented on #14217
可以将softmax 激活因子改成linear

[2018-11-02 10:31] chengduoZH opened #14221 "Disable test_dist_save_load"

[2018-11-02 11:02] toddwyl commented on #14214
https://github.com/strawsuper/Triple-GAN-paddlepaddle/tree/3a01427b3eeeac6e2539896b621fcc8ae742e276

这个就是我用paddlepaddle实现的TripleGAN，现在遇到两个问题，一个就是这个weight norm层我指定了name了但是还是说shape不一致，第二个问题就是目前看起来像是`fluid.layers.concat`出现问题遇到`GradOpMaker has not been registered`的问题

[2018-11-02 11:03] toddwyl commented on #14177
https://github.com/strawsuper/Triple-GAN-paddlepaddle/tree/3a01427b3eeeac6e2539896b621fcc8ae742e276

这个就是我用paddlepaddle实现的TripleGAN，现在遇到两个问题，一个就是这个weight norm层我指定了name了但是还是说shape不一致，第二个问题就是目前看起来像是fluid.layers.concat出现问题遇到GradOpMaker has not been registered的问题

[2018-11-02 16:14] yeyupiaoling opened #14225 "输入数据的张量的类型的问题"
在做线性回归的时候，出现这个错误，应该是输入数据类型的问题吧，但是我数据和定义fluid.layers.data()时和读取数据都做了相同处理，实在不知道哪里出来问题。
[code]
[code]

错误信息
[code]

[2018-11-03 02:47] LihangLiu opened #14228 "illegal instruction"
请问用安装了paddlepaddle_gpu_1.1.0.post97，from paddle import fluid最后会报illegal instruction的错误是什么原因：
￼
[code]

1. 机器是centos 6.3,
2. cuda 9.0, cudnn7,
3. if cat /proc/cpuinfo | grep -i avx; then echo Yes; else echo No; fi 输出yes
4. paddlepaddle非gpu版本是可以运行的。

[2018-11-03 03:32] oshixiaoxiliu commented on #14218
集群训练还有这个问题，第一次碰到
http://10.182.80.31:8900/filetree?action=cat&path=/home/disk1/normandy/maybach/app-user-20181102225539-144/workspace/log/user/trainer.log

F1103 03:19:01.741590 43142 grpc_client.cc:348] FetchBarrierRPC name:[FETCH_BARRIER@RECV], ep:[10.182.8.32:8000], status:[-1] meets grpc error, error_code:14 error_message:OS Error error_details:
*** Check failure stack trace: ***
    @     0x7

[2018-11-03 04:59] panyx0718 commented on #14198
type改成int64就行了? @seiriosPlus 这个报错信息看看能不能改的更直观一些？

[2018-11-03 04:59] panyx0718 commented on #14198
比如embedding的python入口check一下类型

[2018-11-03 08:53] LihangLiu commented on #14228
发现是cpu需要avx2。
纠正下上个帖子，paddlepaddle的cpu版本不带noavx的才能跑，带avx的跑了也是illegal instruction。

[2018-11-03 09:32] velconia commented on #14225
请问方便发全部的代码我用于复现吗？ 或者你 print 一下 ```yield np.array(data_X[i]).astype('float32'), data_y[i]``` 的结果；

[2018-11-03 09:33] velconia commented on #14228
你好，```WITH_AVX=OFF``` 的版本正在[这里](http://ci.paddlepaddle.org/viewType.html?buildTypeId=Manylinux1_Cuda90cudnn7avxMkl&tab=buildTypeStatusDiv&branch_Manylinux1=__all_branches__)进行编译；

[2018-11-03 10:38] maxy0524 opened #14229 "raspberry编译paddlepaddle，出现错误fatal error: cpuid.h: No such file or directory"
有点搞不懂ARM处理器的机器怎么编译paddlepaddle。并最终生成whl的python安装文件。
具体错误如下：
[  6%] Building CXX object paddle/fluid/platform/CMakeFiles/cpu_info.dir/cpu_info.cc.o
In file included from /home/pi/ma/Paddle/paddle/fluid/platform/cpu_info.cc:19:0:
/home/pi/ma/Paddle/build/third_party/install/xbyak/include/xbyak/xbyak_util.h:39:21: fatal error: cpuid.h: No such file or directory
   #include <cpuid.h>

[2018-11-03 19:33] velconia commented on #14228
http://ci.paddlepaddle.org/repository/download/Manylinux1_Cuda90cudnn7avxMkl/26347:id/paddlepaddle_gpu-latest-cp27-cp27m-linux_x86_64.whl

[2018-11-04 02:06] LihangLiu commented on #14228
不会报错了已经，谢谢！

[2018-11-04 02:39] gongweibao commented on #12679
1.现在trainer已经可以等待pserver启动以后再启动
2.网络长时间异常现在还不能做到fault tollerance.

[2018-11-04 03:38] #12526 closed, assigned to gongweibao

[2018-11-04 07:46] seiriosPlus commented on #14198
@panyx0718 可以的，这块我优化一下.

[2018-11-05 02:06] typhoonzero commented on #13057
@oshixiaoxiliu 最新版本已加入自动检查pserver端口机制，使用新版本即可

[2018-11-05 04:22] velconia commented on #14229
https://github.com/PaddlePaddle/paddle-mobile 树莓派上编译可以使用这个 repo 的代码；

[2018-11-05 05:00] #14002 closed, assigned to Yancey0623, dzhwinter

[2018-11-05 05:10] luotao1 commented on #14074
@wojtuss Please contact @hshen14 at first. We send some models to him.

[2018-11-05 06:29] hshen14 commented on #14074
You may try this one: http://paddle-inference-dist.cdn.bcebos.com/mobilenet_imagenet_pretrained.tar.gz

I used the one shared by internal channel, but I believe they are the same.

[2018-11-05 06:41] liushanshan07 commented on #13935
无奈再次遇到类似问题。请问如果再次报这个错，上面的python路径下又找不到libwarpctc.so，应该咋处理呢？

[2018-11-05 06:47] luotao1 commented on #13935
可以从报错信息，推断libwarpctc.so在哪个路径下。
[code]

[2018-11-05 06:47] hshen14 commented on #14074
BTW, I used the below command "FLAGS_use_mkldnn=true OMP_NUM_THREADS=28 KMP_AFFINITY=compact,granularity=fine taskset -c 0-27 numactl -l python eval.py  --model=MobileNet  --batch_size=50  --class_dim=1000  --image_shape=3,224,224  --with_mem_opt=True  --use_gpu=False --pretrained_model=fluid_mobilenet_v1". Latest public Paddle and models.

[2018-11-05 06:49] liushanshan07 commented on #13935
![default](https://user-images.githubusercontent.com/31281000/47982237-f9668180-e109-11e8-8277-fbb038d68130.png)
已经export你之前给的建议。还是报这个错误。

[2018-11-05 07:01] luotao1 commented on #13935
是不是该so不小心被删了？可以拷贝一个到相同的位置即可。

[2018-11-05 07:12] #13721 closed, assigned to nobody

[2018-11-05 07:14] liushanshan07 commented on #13935
拷贝到指定目录还是报相同错误。/usr/local/lib/python2.7/site-packages/paddle路径下只有libs这个目录，是不是镜像的问题呢？

[2018-11-05 07:19] velconia commented on #14229
@allonli 请问关于在树莓派上编译Paddle Fluid, 你可以提供更多的信息吗？

[2018-11-05 07:22] JiabinYang commented on #13529
您需要在docker下分配至少30G的磁盘空间来保证编译：
![2018-11-05 3 21 49](https://user-images.githubusercontent.com/22361972/47983518-8a3f5c00-e10e-11e8-9cd4-5f299ec78570.png)

[2018-11-05 07:22] #12486 closed, assigned to luotao1

[2018-11-05 07:29] MaybeShewill-CV commented on #13529
@JiabinYang I have successfully compiled the new paddle fluid release 1.0:) Thanks a lot~

[2018-11-05 07:29] #13529 closed, assigned to qingqing01

[2018-11-05 07:33] #14228 closed, assigned to velconia

[2018-11-05 08:04] xiebaiyuan commented on #14229
[paddlemobile树莓派的编译文档](https://github.com/PaddlePaddle/paddle-mobile/blob/develop/doc/development_arm_linux.md)

[2018-11-05 08:06] velconia commented on #14229
请问还有别的问题吗？

[2018-11-05 08:06] velconia commented on #14229
请问还有别的问题吗？

[2018-11-05 08:08] luotao1 commented on #13935
能重新安装一份么？我的paddle路径下有
[code]

[2018-11-05 08:12] liushanshan07 commented on #13935
好的。我重新编译一个，在安装下。建议安装release的哪个版本呢。在v100上运行。

[2018-11-05 08:19] luotao1 commented on #13935
http://www.paddlepaddle.org/documentation/docs/zh/1.1/beginners_guide/install/Tables.html/#whls 可以安装1.1版本了

[2018-11-05 08:46] Bella-Zhao opened #14242 "paddle v2在P40 gpu上跑报错"
错误信息：
[code]

日志地址链接http://yq01-sys-hic-p40-0124.yq01.baidu.com:8880/output/list/59364
，上述信息在log/train.log中

提交命令：
[code]

相关代码片段：
[code]
在cpu集群上正常运行，模型参数的大小大概1G左右

[2018-11-05 09:31] reyoung commented on #14242
Paddle之前的版本中不支持GPU稀疏，请将稀疏关闭再跑训练。

[2018-11-05 09:42] ShadowSkyLiu opened #14245 "fluid网络训练最后一层nce，CAPI预测的时候，怎么取出nce前面一层输出"
[code]

——————————————————————-
请问使用CAPI预测的时候，怎样能取出 fc 的输出

[2018-11-05 09:49] Bella-Zhao commented on #14242
@reyoung 关闭sparse后，上述错误没有出现了。

但是出现新的错误
[code]

相关network片段：
[code]

[2018-11-05 09:53] reyoung commented on #14242
`NCELayer` 确实不支持GPU实现。请切换到最新版的Paddle Fluid进行训练。

[2018-11-05 09:54] luotao1 commented on #14245
使用`fluid.io.save_inference_model`来保存模型，会裁剪掉cost。请参考[预测引擎](http://www.paddlepaddle.org/documentation/api/zh/1.1/api_guides/low_level/inference.html)文档。

[2018-11-05 10:00] shiyazhou121 opened #14246 "fluid infer"
求问：fluid的python预测，data是序列数据，结果报错。
![image](https://user-images.githubusercontent.com/15082798/47991217-86b6cf80-e124-11e8-8685-c86bb1846379.png)
![image](https://user-images.githubusercontent.com/15082798/47991268-a3530780-e124-11e8-94aa-108a9b004c86.png)

[2018-11-05 10:04] jacquesqiao commented on #14219
看起来像网络出问题了

[2018-11-05 10:07] sneaxiy commented on #14246
embedding参数保存错误，建议检查下embedding table是否保存成功

[2018-11-05 10:14] ShadowSkyLiu commented on #14245
1. save_inference_model会裁剪掉cost，但是我最后nce那层的参数(nce_w、nce_b)是需要的？所以不能使用save_inference_model？
2.问一下CAPI怎么加载模型，并取出fc那一层的输出呢？

[2018-11-05 10:19] luotao1 commented on #14245
看配置，是在`is_train=True`的时候才需要。预测的时候本身就没走这步，为什么还需要呢？

用`save_inference_model`保存后，参考http://www.paddlepaddle.org/documentation/docs/zh/1.1/user_guides/howto/inference/native_infer.html

[2018-11-05 10:38] ShadowSkyLiu commented on #14245
is_train=True的时候会训练nce_w，线上预测的时候：1. 首先会离线取出nce_w和nce_b当成输入数据的高维编码，这里的nce参数是有含义的；2. 然后线上输入预测的数据，得到fc这一层的输出，再跟nce_w和nce_b做内积，取出nce_w对应内积较大的列

[2018-11-05 10:47] luotao1 commented on #14245
是否可以：
1. 用save_inference_model存下来的模型，可以在C++预测的时候得到fc输出
2. 把fc输出，和离线存下来的nce_w/b再做内积。

[2018-11-05 10:48] ShadowSkyLiu commented on #14245
save_inference_model不是只能到fc这一层么？怎么能保存nce_w/b呢

[2018-11-05 10:51] luotao1 commented on #14245
nce_w/b是python端离线存下来的，用`fluid.io.save_params`:http://www.paddlepaddle.org/documentation/api/zh/1.1/api_guides/low_level/model_save_reader.html

[2018-11-05 11:02] yxfGrace opened #14247 "Paddle多机作业的端口问题"
在paddle的多机作业中，遇到过端口相关的两类报错，麻烦paddle同学帮忙看看分别是什么原因
1. check for SO_REUSEPORT报错
![1](https://user-images.githubusercontent.com/29363426/47994290-d4373a80-e12c-11e8-9c78-8e8db677ac75.jpg)

2. 端口占用问题
![2](https://user-images.githubusercontent.com/29363426/47994321-e31ded00-e12c-11e8-842c-d20ee685b0ba.jpg)
对于这种端口占用问题，能否后续在日志中打印一下冲突的端口，方便问题排查呢？

[2018-11-05 11:30] shiyazhou121 commented on #14246
@sneaxiy 这个写法有问题吗。。因为我用c++库预测没有报类似的问题，所以我觉得可能是我的代码有问题。。

[2018-11-05 11:38] ShadowSkyLiu commented on #14245
也就是我既要save_inference_model，又有save_params?

[2018-11-05 11:45] luotao1 commented on #14245
是的。因为nce_w/b是你额外要计算的一步。

[2018-11-05 11:54] ShadowSkyLiu commented on #14245
这不算额外的计算吧，save_params的时候已经把所有的params保存下来了，为什么不能按照网络重新走一遍得到fc呢？

[2018-11-05 11:56] sneaxiy commented on #14246
@shiyazhou121 是scope未指定的问题。您加载inference_model时用的是一个新建的scope，在run的时候也需要指定该scope。

[2018-11-05 11:57] luotao1 commented on #14245
预测模型里是没有cost的，因此只能获得fc的值。所以fc和nce的计算是额外的一步。

[2018-11-05 11:58] ShadowSkyLiu commented on #14245
那我如果做pre_train，要固定上面fc1那一层呢？只训练fc和nce后面两层呢，需要保存三次？

[2018-11-05 12:03] wojtuss commented on #14074
@hshen14 , thank you for the model you have shared by internal channel! It works great! And it is different from the one you shared above.

[2018-11-05 12:25] shiyazhou121 commented on #14246
@sneaxiy 确实是这个原因，谢谢了。另外想问下，如果我想定义一个全局的scope，应该怎么在函数里获得，比如下面的场景，应该怎么让scope一致?
exe = fluid.Executor(place)
with fluid.scope_guard(inference_scope):
    [inference_program, feed_target_names, fetch_targets] = fluid.io.load_inference_model(save_dirname, exe)

def a():
    results = exe.run(inference_program,
            feed={feed_target_names[0]: x},
            fetch_list=fetch_targets,

[2018-11-05 12:43] wojtuss commented on #14074
@luotao1 , using the model from @hshen14 we get top1 accuracy 70.43 % (with and without optimizations) on the full validation ImageNet dataset. Is it acceptable for Baidu?

[2018-11-05 12:46] wojtuss opened #14249 "MobileNet-v1 accuracy on ImageNet"
@luotao1 , using the model from @hshen14 (https://github.com/PaddlePaddle/Paddle/issues/14074) we get top1 accuracy 70.43 % (on CPU, batchsize 50, without optimizations as well as with MKL-DNN and optimizations) on the full validation ImageNet dataset. Is it acceptable for Baidu?

[2018-11-05 13:09] hshen14 commented on #14249
looks good，mine are 70.87% with transpiler fusion enabled，batchsize 50

[2018-11-05 15:09] sneaxiy commented on #14246
将inference_scope记录下来，在调用`exe.run()`时加上`with fluid.scope_guard(inference_scope):`。即：

[code]

[2018-11-06 01:06] #12663 closed, assigned to typhoonzero

[2018-11-06 01:40] typhoonzero commented on #13699
Current result: train on 4 V100 with in 9h, using batch merge.

[2018-11-06 01:42] #13699 closed, assigned to nobody

[2018-11-06 01:50] zzhzz opened #14253 "单机单卡可以使用ParallelExecutor加速训练吗"
在GPU环境下，只有单机单卡的话可以使用ParallelExecutor加速训练模型吗？例如设置num_trainers = 4之类的

[2018-11-06 02:05] chengduoZH commented on #14253
相比于Executor，ParallelExecutor在执行策略上做一些改动，比如operator是乱序执行，即如果多个Op的输入互不依赖，这些op在ParallelExecutor里面可以并发执行，所以单机单卡下ParallelExecutor是否能够加速模型训练与模型的结构相关。

ParallelExecutor是为多卡设计的，所以如果只有一个卡，那么num_trainers就只能是1.

[2018-11-06 02:14] typhoonzero commented on #11956
Reviewed the code, the initialized parameters will be broadcasted to all nodes when initializing `ParallelExecutor`, this should not be a problem.

[2018-11-06 02:14] #11956 closed, assigned to typhoonzero

[2018-11-06 02:14] typhoonzero commented on #12717
Closing, lack detailed information.

[2018-11-06 02:14] #12717 closed, assigned to gongweibao

[2018-11-06 02:16] typhoonzero commented on #13035
This is already fixed before.

[2018-11-06 02:16] #13035 closed, assigned to gongweibao, typhoonzero

[2018-11-06 02:16] #13308 closed, assigned to panyx0718, guochaorong

[2018-11-06 02:18] yeyupiaoling commented on #14225
@velconia 谢谢您，我解决了。是使用错误的损失函数。

[2018-11-06 02:18] #14225 closed, assigned to velconia

[2018-11-06 02:36] Superjomn opened #14256 "save_inference_model 如果fetch activation 的output，会丢掉 activation op"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/prune.cc#L93

[2018-11-06 03:11] luotao1 opened #14258 "compiler error in develop branch on CPU-ONLY environment"
env: gcc48, `WITH_GPU=OFF`
[code]

[2018-11-06 03:33] shiyazhou121 commented on #14246
@sneaxiy 多谢解答

[2018-11-06 03:33] #14246 closed, assigned to nobody

[2018-11-06 03:37] oshixiaoxiliu commented on #14218
http://10.182.94.156:8900/filetree?action=cat&path=/home/disk1/normandy/maybach/app-user-20181106110625-5091/workspace/log/user/trainer.log

1.1.0 版本 还是grpc的问题

F1106 11:21:26.066817 45262 grpc_client.cc:348] GetRPC name:[sequence_conv_1.w_0.block1], ep:[10.182.85.30:8074], status:[-1] meets grpc error, error_code:14 error_message:OS Error error_details:
*** Check failure stack trace: ***
    @

[2018-11-06 03:54] 930083287 opened #14261 "v2版SSD模型在CPU时预测报错"
报错信息：Check failed: useGpu_ CudnnPoolLayer only support gpu

[2018-11-06 04:04] tensor-tang commented on #14261
从报错信息上看，你是走到了Cudnn的Pool实现，但是由于这个是只支持gpu的，在cpu上应该是没开启GPU。如果是纯CPU跑，那么应该是哪里配置错误导致进入了CudnnPool这个layer。

[2018-11-06 04:16] 930083287 commented on #14261
paddle.inference.Inference() 经查是这个函数出错的，我应该如何去更改不进入CudnnPool的layer？

[2018-11-06 05:17] tensor-tang commented on #14261
可否提供完整的log信息，以及相应的配置。
在这个paddle.inference.Inference() 函数出错，不一定是这个函数里面有问题，也有可能是使用不当。
或者您可以参考下使用流程 http://paddlepaddle.org/documentation/docs/zh/0.12.0/howto/capi/workflow_of_capi_cn.html

[2018-11-06 05:19] tensor-tang commented on #14261
在这个paddle.inference.Inference() 函数出错，不一定是这个函数里面有问题，也有可能是使用不当

[2018-11-06 05:59] shiyazhou121 opened #14266 "fluid c++预测与python api预测结果不一样。"
模型是文本的一维序列数据，但两个预测结果不一样，不确定是哪个有问题。
以下是python的配置
![image](https://user-images.githubusercontent.com/15082798/48045502-8c1b2500-e1cb-11e8-862d-bd37d4fdf4e1.png)
以下是c++的预测配置
![image](https://user-images.githubusercontent.com/15082798/48045530-a81ec680-e1cb-11e8-8de9-df785d1df11a.png)
输入数据均是1, 2, 3, 4
python预测结果
![image](https://user-images.githubusercontent.com/15082798/48045668-40b54680-e1cc-11e8-83

[2018-11-06 06:05] tensor-tang commented on #14261
经过线下沟通发现是 https://github.com/PaddlePaddle/models/blob/develop/legacy/ssd/vgg_ssd_net.py#L65 这里显示指定使用cudnnlayer，所以在cpu上跑会出错。

[2018-11-06 06:06] tensor-tang commented on #14261
@qingqing01 请问下我们SSD这个模型在v2上支持CPU only上跑吗

[2018-11-06 06:15] tensor-tang commented on #14261
经过沟通，去掉pool_type即可解决问题。

建议迁移到新版本Fluid。

[2018-11-06 06:34] #14258 closed, assigned to typhoonzero

[2018-11-06 06:36] tensor-tang commented on #14266
首先感谢您做了如此细致的对比。
几个小问题：
1. 可否在适当的位置在打印出输入数据，以保证输入确实一样。
2. C++预测端可以尝试用`TensorAssignData`试下。可以参考

https://github.com/PaddlePaddle/Paddle/blob/8fc05e0373bb481e36b53c650f2dc00acf1b32a5/paddle/fluid/inference/tests/api/analyzer_lac_tester.cc#L99-L106

[2018-11-06 06:40] #14261 closed, assigned to nobody

[2018-11-06 06:52] shiyazhou121 commented on #14266
@tensor-tang 确实是输入数据的问题，在C++预测时，我使用\t切分数据，，应该用空格切分，改变后输出就一致了，谢谢了。

[2018-11-06 06:52] #14266 closed, assigned to nobody

[2018-11-06 07:39] clhne commented on #12176
现在支持了吗？

[2018-11-06 07:42] clhne commented on #12040
@velconia
Ok.
But is it supported Python3.6 now?

[2018-11-06 07:43] tensor-tang opened #14271 "jit在mac上编译问题"
![image](https://user-images.githubusercontent.com/21351065/48049766-ab6d7e80-e1da-11e8-892c-422ee5c50e39.png)

[2018-11-06 08:02] 352174109 opened #14272 "本地编译Paddle 1.0.0失败"
报错为
[  8%] Built target memory Scanning dependencies of target profiler_py_proto_init
[  8%] Built target profiler_py_proto_init paddle/fluid/platform/CMakeFiles/profiler_py_proto.dir/build.make:60: *** target attern contains no `%'.  Stop.
make[1]: *** [paddle/fluid/platform/CMakeFiles/profiler_py_proto.dir/all] Error

[2018-11-06 08:02] seiriosPlus opened #14273 "Training Net Use Distributed Lookup Table Get Exception"
PC: @                0x0 (unknown)
*** SIGFPE (@0x7ff1bc93c864) received by PID 41377 (TID 0x7ff159353700) from PID 18446744072578386020; stack trace: ***
    @     0x7ff1d816a160 (unknown)
    @     0x7ff1bc93c864 paddle::framework::SelectedRows::Get()
    @     0x7ff1bc397cfc paddle::operators::LookupSparseTableOp::RunImpl()
    @     0x7ff1bc910008 paddle::framework::OperatorBase::Run()
    @

[2018-11-06 08:13] LoveGarden opened #14275 "paddle由0.15.0升级为1.1.0后，同一脚本在本地训练读取数据报core"
错误信息：
INFO:get the reader function obj
INFO:read data from [/home/users/luojianhui/paddle/script/data.0]
INFO:start train
*** Aborted at 1541491850 (unix time) try "date -d @1541491850" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGILL (@0x7fcde3d374e9) received by PID 23768 (TID 0x7fce09f16700) from PID 18446744073236870377; stack trace: ***
INFO:read data from [/home/us

[2018-11-06 08:18] tensor-tang commented on #14275
这是因为您的机器不支持AVX2导致的，在最新的develop当中已经解决该问题，但是发版还有段时间。

目前的解决办法是在您本地的机器上源码编译paddle并安装即可。

给你造成了不便深表歉意。

 [这里](http://paddlepaddle.org/documentation/docs/zh/1.1/beginners_guide/install/compile/compile_Ubuntu.html)有源码编译的doc。

[2018-11-06 09:34] #14271 closed, assigned to tensor-tang

[2018-11-06 11:46] zenghsh3 opened #14279 "fluid 1.1.0 的unifrom_random op存在异常"
fluid.layers.uniform_random(shape=[1])执行抛出异常：

for name in locals_var:
RuntimeError: dictionary changed size during iteration

[2018-11-06 11:53] 333caowei commented on #14253
```ParallelExecutor是为多卡设计的```
请问如果是mpi cpu训练的的话，ParallelExecutor有意义吗？
@chengduoZH

[2018-11-06 11:54] tensor-tang commented on #14279
麻烦您提供稍微详细点的log吧。

抛出异常肯定是有原因的。

我本地试了下 `y=fluid.layers.uniform_random(shape=[1])` 这样是可以的

[2018-11-06 11:55] #14216 closed, assigned to phlrain

[2018-11-06 12:02] zenghsh3 commented on #14279
修改源码paddle/fluid/layers/ops.py中67行代码为下面即可：
for name in list(locals_var):

[2018-11-06 12:02] #14279 closed, assigned to nobody

[2018-11-06 12:19] tensor-tang commented on #14279
我在1.1.0上面也试了下：
![image](https://user-images.githubusercontent.com/21351065/48063796-0ca84880-e201-11e8-82e7-5b6820423f69.png)

[2018-11-06 12:23] zenghsh3 commented on #14279
不过我是在python3.5环境下的fluid，有可能是python3版本的有问题？

[2018-11-06 12:50] tensor-tang commented on #14279
哦，有可能，我是在Python27下。

[2018-11-06 14:14] toddwyl opened #14282 "Which method in paddle is similar to SubpixelConv2d in tensorlayer?"
When I reimplement SRGAN, I want a method like SubpixelConv2d?
Can the BilinearInitializer help?
Or what can help me to implement this layers?
[tensorlayer]https://tensorlayer.readthedocs.io/en/stable/_modules/tensorlayer/layers/convolution/super_resolution.html#SubpixelConv2d

[2018-11-06 14:56] #14275 closed, assigned to nobody

[2018-11-06 15:08] tensor-tang commented on #14272
请问您的cmake 选项是什么，gcc， cmake 等版本是什么，能否提供稍微完整的出错信息。

或者您可以参考编译文档 http://paddlepaddle.org/documentation/docs/zh/1.1/beginners_guide/install/compile/fromsource.html

推荐在docker下编译，可以保证环境配置的一致性。

[2018-11-06 16:39] PengboLiu commented on #12040
looking forward to supporting py3.6

[2018-11-07 01:47] 352174109 commented on #14272
cmake -DCMAKE_BUILD_TYPE=Release -DWITH_MKLDNN=OFF -DWITH_GPU=OFF -DWITH_FLUID_ONLY=ON ..
cmake版本3.13.0
gcc版本4.8.5
docker下也编译不过去
操作系统centos7.5

[2018-11-07 02:44] 352174109 commented on #14272
[nohup.txt](https://github.com/PaddlePaddle/Paddle/files/2555853/nohup.txt)

[2018-11-07 03:08] tensor-tang commented on #14272
您可以在最新的develop编译吗，我们没法复现您的问题。但是猜测还是环境问题。

您用的是paddlepaddle/paddle:latest-dev这个docker镜像吗。

[2018-11-07 03:11] 352174109 commented on #14272
好吧 我试试这个镜像

[2018-11-07 03:32] jacquesqiao opened #14288 "paddle should cache the kill signal it recived and log it out for debugging"
最近出现一些集群上任务挂掉，日志里边只能看到double free的问题，费了很多时间定位paddle自己是不是有问题，后来定位到是被集群的优先级管理系统给kill掉了，所以paddle 如果被外部kill 应该抛个日志抱怨一下，方便定位问题。

[2018-11-07 03:37] typhoonzero commented on #14288
如果能复现pserver 被kill的时候报double free，可以处理下这个signal，使其graceful shutdown，并记录收到了这个signal的日志，减少用户的费解

[2018-11-07 04:20] tcwm1 opened #14290 "fluid.io.load_params后loss升高"
基于models下的icnet进行训练，训练3个epoch后任务被杀掉，新起了任务通过fluid.io.load_params将之前保存的参数加载继续训练，但是加载后重训头几轮 loss很大，跟不加载 直接重训的效果一样，感觉load没有生效， 以下是第一次训练的代码， 第二次训练传入了init_model参数，同时将global_step = _decay_step_counter() 调整为 global_step = _decay_step_counter(19000)，其中19000为第一次训练的迭代数

[code]

[2018-11-07 04:49] jacquesqiao opened #14291 "support large scale ctr model with distributed lookup table[三期]"
一期: https://github.com/PaddlePaddle/Paddle/issues/12008
二期: https://github.com/PaddlePaddle/Paddle/issues/13205

### table save/load/infer:
   - [x] Fix mkdir conflict in save_inference_model https://github.com/PaddlePaddle/Paddle/pull/14285 @seiriosPlus
   - [ ] selected_rows save/load 目前把完整的tensor存下来了，就算没有对应的id，load也是一样，应该改改成只save有对应id的tensor，load也只load这部分数据。

### 速度优化
 - [ ] 参数更新也是用sparse的方法 @j

[2018-11-07 04:52] jacquesqiao commented on #14218
碰到这种问题一般是看节点0 app目录下的汇总的日志，可以看到最早报错的地方，上述日志都不是问题所在地。

[2018-11-07 04:54] jacquesqiao commented on #14216
问题已定位，任务被平台杀了。我们会优化下报错信息。https://github.com/PaddlePaddle/Paddle/issues/14288

[2018-11-07 05:32] NHZlX commented on #14290
[code]
https://github.com/PaddlePaddle/Paddle/blob/e564eb341ff0b79d8ffeb89f6380538113ba2387/python/paddle/fluid/io.py#L428

[2018-11-07 05:46] 352174109 commented on #14272
多谢 使用这个docker镜像编译通过了

[2018-11-07 06:36] liushanshan07 opened #14296 "v100训练：terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'"
paddlecloud v100训练ctc ocr识别模型。出现如下错误。

[code]

[2018-11-07 06:58] tensor-tang commented on #14272
好的，那我close了

[2018-11-07 06:58] #14272 closed, assigned to nobody

[2018-11-07 07:15] jacquesqiao opened #14297 "mac run error"
![image](https://user-images.githubusercontent.com/3048612/48116100-fb624900-e29f-11e8-8761-8cbc58876b65.png)

[2018-11-07 07:20] JiabinYang commented on #14297
seems has the same problem occurred on MAC CI system, pls help to fix this @tensor-tang

[2018-11-07 07:21] tensor-tang commented on #14297
WIP, sorry for the inconvenience.

[2018-11-07 08:26] tcwm1 commented on #14290
@NHZlX 将load_params这行调整为 fluid.io.load_persistables(exe, args.init_model)， 但问题仍在

[2018-11-07 09:41] wanghaoshuang commented on #14290
非常感谢反馈问题。
你可以在`fluid.io.load_params(exe, args.init_model)` 之后不做任何优化，调用`fluid.io.save_params(exe, dirname)`保存下模型, 然后对比两次保存的模型文件的md5值是否一致。
我们也会同时跟进排查这个问题。
多谢。

[2018-11-07 09:42] wanghaoshuang commented on #14290
这个问题也可能是输入图片数据处理过成中的随机因素导致的，所以对比过程中还要固定随机因素。

[2018-11-07 10:03] tink2123 opened #14302 "[API reference] add some examples to help user understand"
**背景：**
阅读API reference时，发现有部分内容较简略，仅阅读文档并不清楚这个 API 的作用。因此希望可以为它们增加示例，帮助使用者理解。

修改如下：

1. stack
文字描述较为抽象，且没有说明不接受 int 数据
![default](https://user-images.githubusercontent.com/31891223/48123647-6bc79500-e2b5-11e8-9f93-d96febf45ba7.png)

增加例子：
[code]

2. multiplex

文字描述较为抽象

![default](https://user-images.githubusercontent.com/31891223/48124274-d9c08c00-e2b6-11e8-80a2-b6c0c9584389.png)

增加例子：

[code]

[2018-11-07 11:05] sfraczek commented on #14074
@hshen14 and @NHZIX do I see right that the model you referenced http://paddle-inference-dist.cdn.bcebos.com/mobilenet_imagenet_pretrained.tar.gz has no depthwise_conv layers but conv layers instead?

[2018-11-07 11:49] #14297 closed, assigned to tensor-tang

[2018-11-07 12:35] Angus07 opened #14303 "paddle.fluid.core.EnforceNotMet: CUDNN_STATUS_NOT_SUPPORTED at [/paddle/paddle/fluid/operators/batch_norm_op.cu.cc:143]"
和https://github.com/PaddlePaddle/Paddle/issues/929描述的问题非常相似
训练没问题，预测的时候报错
paddle.fluid.core.EnforceNotMet: CUDNN_STATUS_NOT_SUPPORTED at [/paddle/paddle/fluid/operators/batch_norm_op.cu.cc:143]

之前的网络里面也有batch norm，跑得很正常。
现在调整了一下网络，增加了一个Batchnorm。

   inception1 = fluid.layers.sequence_conv(
        input=emb1,
        num_filters=hid_dim,
        filter_size=1)
    inception2 = fluid.layers.batch

[2018-11-07 13:07] typhoonzero commented on #14296
看到有类似的问题：https://github.com/PaddlePaddle/Paddle/issues/11755 可否重启下呢？

[2018-11-07 13:10] liushanshan07 commented on #14296
非常忧伤，我已经重启过很多次了。都是同样的错误。

[2018-11-07 13:12] typhoonzero commented on #14296
不太确定啊，可否share下 job看下呢，本地能否复现呢？

[2018-11-07 13:15] liushanshan07 commented on #11755
同学，请教下，这个问题你最终是怎么解决的？我重启也是报相同的错误

[2018-11-07 13:17] liushanshan07 commented on #14296
http://10.90.251.16:8001/webssh/ai00/9cc06588-7aba-5871-bc06-1ea5aa1c7ceb/10.255.124.20/1022649795.job-e6c5be26213d1db0-trainer_20181107_115939/9cc93a16-0c63-5615-a9ae-a9fc487c4988/stopped/
这个是网页终端，可以看见job的配置的。本地无法复现这个问题，因为咱本地没有v100卡。
具体路径是：/root/paddlejob/workspace/env_run/train.py

[2018-11-07 15:11] alexqdh commented on #11755
之前是有gpu卡被占用了导致的

[2018-11-07 15:36] 333caowei commented on #14207
遇到同样的问题

[2018-11-07 15:59] sfraczek commented on #14074
While this one http://paddle-inference-dist.bj.bcebos.com/tensorrt_test/mobilenet.tar.gz has weights in separate files (not in one params file) and I can't load it in my test_analyzer_mobilenet.

[2018-11-08 01:55] #13724 closed, assigned to JiabinYang

[2018-11-08 03:23] flyhighzy opened #14311 "paddle 1.1版本docker镜像没有python3"
使用镜像：paddlepaddle/paddle:1.10-gpu-cuda8.0-cudnn7
镜像中未发现python3可执行文件和相关依赖包，希望能添加一下

[2018-11-08 03:25] JiabinYang commented on #14311
感谢反馈，请在下个版本中添加相关解决方案 @velconia

[2018-11-08 03:47] luotao1 commented on #14074
@sfraczek To combine separate files into one param file, you can:
[code]

[2018-11-08 04:08] cserken opened #14312 "使用memory_optimize后，loss计算异常"
如题，在训练模型时，增加了memory_optimize后，loss经过几轮计算后，看似溢出了：
Pass 0, trainbatch 0, loss 3.623, acc1 0.08333, acc5 0.4271 time 1.11 sec, batch 96
Pass 0, trainbatch 50, loss 4.479, acc1 0.1146, acc5 0.6458 time 0.80 sec, batch 96
Pass 0, trainbatch 100, loss 6.513, acc1 0.1146, acc5 0.6458 time 0.79 sec, batch 96
Pass 0, trainbatch 150, loss 3.125e+18, acc1 0.1875, acc5 0.6667 time 0.78 sec, batch 96
Pass 0, t

[2018-11-08 04:53] tensor-tang commented on #14272
@352174109 我在mac上源码编译复现你的问题了，原因是protobuf的版本问题，需要换为3.1。

[2018-11-08 04:59] gongweibao opened #14313 "Distributed training using nccl2 hangs on transformer model."
Two trainers should use ncclallreduce in same order!

[2018-11-08 06:08] fangchao3652 opened #14315 "支持增量学习吗"
paddle支持像abacus那样对CNN以及RNN进行增量训练吗，每天都会有新的样本进来，该怎么保持模型的天级乃至小时级别的更新呢

[2018-11-08 06:50] luotao1 opened #14317 "test_analysis_predictor fails on MAC"
- 报错信息：
[code]
http://ci.paddlepaddle.org/viewLog.html?buildId=27264&tab=buildLog&buildTypeId=PaddleMac_MacRelease100test&logTab=tree&filter=all&_focus=11939
- 原因：`test_analysis_predictor`依赖`test_word2vec`生成的模型文件。但`test_analysis_predictor`却比`test_word2vec`早执行，因此报错。
[code]
- 解决方法：使用下载的word2vec模型即可。

[2018-11-08 07:03] #14150 closed, assigned to dzhwinter

[2018-11-08 07:08] TheodoreG opened #14318 "Any example code related to distributed training using ParallelExecutor()?"
Is there any example code related to distributed training using ParallelExecutor()?
I found an example using normal exe in  http://www.paddlepaddle.org/documentation/docs/zh/1.0/user_guides/howto/training/cluster_quick_start.html

[2018-11-08 07:17] lyp2github opened #14319 "paddle.fluid.core.EnforceNotMet: internal error in RPCClient at [/paddle/paddle/fluid/operators/send_barrier_op.cc:47"
cloud平台提交：job-e6c5be28ea3cce79&flag=jobs&groupName=off_smart
paddle-fluid-v1.0.0版本
E1108 02:44:05.118659 25384 grpc_client.cc:280] Send name:[fc_1.b_0@GRAD.trainer_0], ep:[10.75.68.37:8000], status:[-1] meets grpc error:Deadline Exceeded
E1108 02:44:05.119359 25384 grpc_client.cc:280] Send name:[fc_1.w_0@GRAD.block1.trainer_0], ep:[10.73.91.52:8000], status:[-1] meets grpc error:Deadline Exceeded

[2018-11-08 07:17] JiabinYang commented on #14318
请参见：https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/dist_train/dist_train.py

[2018-11-08 07:30] #14318 closed, assigned to typhoonzero, JiabinYang

[2018-11-08 07:36] xuzhenglei1991 opened #14322 "Failed to download conll05 dataset"
Failed to download conll05 dataset. After checking paddle source code, I find that the url given in the source codes are failed to open. The detail source codes are as follows：

dir：/usr/local/lib/python2.7/dist-packages/paddle/dataset/conll05.py

DATA_URL = 'http://www.cs.upc.edu/~srlconll/conll05st-tests.tar.gz'
DATA_MD5 = '387719152ae52d60422c016e92a742fc'
WORDDICT_URL = 'http://paddlepaddle.bj

[2018-11-08 07:40] JiabinYang commented on #14322
我看了下，0.14.0的这个dataset的link确实失效了，请使用最新版本的paddlepaddle，最新版本中的地址在[这里](https://github.com/PaddlePaddle/Paddle/blob/release/1.1/python/paddle/dataset/conll05.py)

[2018-11-08 07:44] #14322 closed, assigned to JiabinYang

[2018-11-08 07:46] JiabinYang opened #14323 "值班列表中FAQ的link失效"
麻烦骆涛老师修复[值班列表](http://zhiban.baidu.com/duty/get?id=592f95247eae83d3291cbfa2)中FAQ的link失效的问题 @luotao1

[2018-11-08 07:57] JiabinYang commented on #14315
是支持的，只需要把modelload之后在fine tune就可以了

[2018-11-08 08:02] #14323 closed, assigned to luotao1

[2018-11-08 08:04] 352174109 commented on #14272
好的 多谢

[2018-11-08 08:04] JiabinYang commented on #14317
这个是不是调整下顺序比较好，因为这样的新的机器添加进来还是会出问题 @luotao1

[2018-11-08 08:07] #14315 closed, assigned to JiabinYang

[2018-11-08 08:11] luotao1 commented on #14317
@JiabinYang 正在修复，直接使用下载的word2vec模型，就不会有顺序问题了。

[2018-11-08 08:15] JiabinYang commented on #12078
感谢 @wzzju 的记录，这里的问题我们已经在新版本中基本解决，欢迎大家使用[最新版本](http://paddlepaddle.org)的paddlepaddle

[2018-11-08 08:15] #12078 closed, assigned to wzzju

[2018-11-08 08:16] Xreki commented on #14245
@ShadowSkyLiu

`save_inference_model`并不是只能到`fc`这一层，`target_vars`可以设定为`nce`的输出，也可以同时将`fc`和`nce`的输出都设置为`target_vars`。只是你使用`save_inference_model`保存下来的模型时，明确地知道这个模型的配置。

https://github.com/PaddlePaddle/Paddle/blob/1f4a4343022c97fa813dc051f53298912bda520a/python/paddle/fluid/io.py#L544-L551

[2018-11-08 08:17] #12079 closed, assigned to wzzju

[2018-11-08 08:32] #14179 closed, assigned to JiabinYang

[2018-11-08 08:54] dzhwinter commented on #14312
可以提供下模型和复现环境么

[2018-11-08 09:02] toddwyl opened #14329 "paddle有已经训练好的VGG19模型吗？"
paddle有已经训练好的VGG19模型吗？
找了一下并没有发现有VGG的

[2018-11-08 09:05] sfraczek commented on #14074
I'm sorry, I see I didn't mention this, but I need to do this in CAPI, not python, specifically in the test `test_analyzer_mobilenet`. Is there api for that?

[2018-11-08 09:15] luotao1 commented on #14074
@sfraczek You can combine separate files into one param file by python at first, and then use the one param file for CAPI.

[2018-11-08 09:19] sfraczek commented on #14074
Ok, then I should send it to you for uploading?

[2018-11-08 09:24] luotao1 commented on #14074
Yes, you can send to me. The new model:
- has `model` and `params` file
- has `depthwise_conv` op

[2018-11-08 10:37] #14317 closed, assigned to luotao1

[2018-11-08 12:15] typhoonzero commented on #14247
@yxfGrace 您好，应该线下聊过了，1: `SO_REUSEPORT`为linux内核并不支持端口复用，但并不影响pserver启动。此问题会在最近的版本增加开关，后续版本用户可以指定默认关闭端口复用。2: 冲突的端口可以从日志中的环境变量查看，用户也可以从python程序中打印os.environ查看

[2018-11-08 12:28] NHZlX commented on #14282
@wanghaoshuang Does paddle support the SubpixelConv2d op?

[2018-11-08 12:30] #13972 closed, assigned to JiabinYang

[2018-11-08 13:48] JiabinYang commented on #14329
您好，PaddlePaddle目前没有提供训练好的VGG19的模型，[这里](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/models/vgg.py)有VGG的模型实现代码，您可以根据自己的需求训练

[2018-11-08 14:00] velconia commented on #14311
这是生产环境的镜像，不是开发环境的镜像，我们会为生产环境单独 generate 出一套新的镜像

[2018-11-08 14:02] velconia commented on #13943
This problem has been fixed in paddle 1.1 version

[2018-11-08 14:04] #13391 closed, assigned to velconia

[2018-11-08 14:09] velconia commented on #13734
[code]

这应该是正确的写法，文档不够严谨，没有根据代码及时更新

@wanghaoshuang 辛苦更新下对应文档

[2018-11-08 14:27] toddwyl commented on #14329
那可以从caffe的预训练模型转成fluid吗？这样可行吗？

[2018-11-09 02:06] jacquesqiao opened #14338 "support large scale word2vec"
### nce_op:
- Make nce support more distribution https://github.com/PaddlePaddle/Paddle/pull/13549
- support sparse update https://github.com/PaddlePaddle/Paddle/pull/14469
### hsigmoid_op:
- Enhance hierarchical sigmoid op https://github.com/PaddlePaddle/Paddle/pull/14352
- support sparse udpate

### models
skip-gram word2vec models https://github.com/PaddlePaddle/models/pull/1448

[2018-11-09 02:41] JiabinYang commented on #14329
您可以参考这个使用https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification/caffe2fluid

[2018-11-09 03:18] qingqing01 commented on #13895
@songfish  请问问题是否已经解决？

[2018-11-09 03:20] qingqing01 commented on #13984
@930083287 不知道您的用得是虚拟机还是啥？机器显存多大？ 需要提供更多信息才能解决。

[2018-11-09 03:22] #13895 closed, assigned to qingqing01

[2018-11-09 04:00] #12193 closed, assigned to seiriosPlus

[2018-11-09 04:01] #12248 closed, assigned to seiriosPlus

[2018-11-09 04:25] hshen14 opened #14342 "No feed/fetch op in CRNN-CTC program"
Per my understanding, the program should have feed and fetch op for inference program. However, in CRNN-CTC, looks like those ops are missing. Probably I misunderstood or made mistakes on generating the __model__ using save_inference_model. Attach the script to reproduce the issue (replace .txt to .py) and please follow the instruction: FLAGS_use_mkldnn=true python eval.py --model_path="models/par

[2018-11-09 04:46] chenguoliang1990 opened #14343 "主模块PB版本与paddlepaddle的PB版本冲突问题"
1.主模块需要依赖CONFIGS('third-64/protobuf@protobuf_3-2-0-6274_PD_BL') 版本
2.主模块依赖了CONFIGS('baidu/paddlepaddle/paddle@release_prebuilt_cpu_avx_mkl@git_branch')
3.主模块编译的时候报了PB相关的错误：
  framework.pb.cc:(.text+0x1d0c): undefined reference to `google::protobuf::io::CodedOutputStream::VarintSize32Fallback(unsigned int)'
framework.pb.cc:(.text+0x1d21): undefined reference to `google::protobuf::io::CodedOutputStr

[2018-11-09 04:47] #13447 closed, assigned to seiriosPlus, gongweibao

[2018-11-09 04:53] seiriosPlus commented on #13993
请问现在问题解决了么

[2018-11-09 05:09] wanghaoshuang commented on #13315
方便给个可以完整复现的脚本和数据么？

[2018-11-09 05:11] #13616 closed, assigned to wanghaoshuang

[2018-11-09 05:12] #12849 closed, assigned to wanghaoshuang

[2018-11-09 05:13] wanghaoshuang commented on #13329
您好，此issue若已经解决，我们将于三天内关闭。若在关闭后您仍需跟进 提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-09 05:14] heavengate opened #14344 "Win compile error"
operator* overload of EigenTenor and float is not supported in Win compiler, following code in grid_sampler_op.h cannot be compiled in Win
![image](https://user-images.githubusercontent.com/12605721/48244561-5ec7b480-e421-11e8-8d21-5bf58196580c.png)

[2018-11-09 05:17] wanghaoshuang commented on #12511
类似的问题：https://github.com/PaddlePaddle/Paddle/issues/13315

[2018-11-09 05:20] wanghaoshuang commented on #12511
failed case 是指load的参数为空么？

[2018-11-09 05:57] Angus07 commented on #14303
升级到了paddle 1.1  cudnn7 （之前用的cudnn6）。报错变成了paddle.fluid.core.EnforceNotMet: CUDNN_STATUS_NOT_INITIALIZED at [/paddle/paddle/fluid/platform/device_context.cc:162]。其他网络都可以正常运行，就是加了这个结构跑不了。

[2018-11-09 06:09] luotao1 opened #14346 "GoogleNet on MKLDNN"
Model URL: http://paddle-inference-dist.bj.bcebos.com/googlenet.tar.gz
command:  likes `test_analyzer_resnet50`, only change the context of `--infer_model`
### Diff
There is diff when use MKLDNN on googlenet.
[code]
### Performance
The performance on MKLDNN (193ms) is almost the same as MKL (206ms).
Machine: Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
- Profile on MKL
[code]
- Profile on MKLDNN, see

[2018-11-09 06:09] mengyiliu22 opened #14347 "paddle单机训练报错Aborted (core dumped)"
F1109 12:18:23.650521  4435 Vector.h:131] Check failed: start < src.size_ (48 vs. 48)
*** Check failure stack trace: ***
    @     0x7f0cdb721f2d  google::LogMessage::Fail()
    @     0x7f0cdb7259dc  google::LogMessage::SendToLog()
    @     0x7f0cdb721a53  google::LogMessage::Flush()
    @     0x7f0cdb726eee  google::LogMessageFatal::~LogMessageFatal()
F1109 12:18:23.652926  4434 Vector.h:131] Ch

[2018-11-09 06:24] #14311 closed, assigned to velconia

[2018-11-09 06:28] wzzju commented on #14347
您好！Label要从0开始，比如10分类，label是 0-9。

[2018-11-09 06:30] wzzju commented on #14343
您好！请问您主机安装的protobuf的版本是3.1吗？请在主机安装3.1版本的protobuf。

[2018-11-09 06:33] JiabinYang commented on #14343
现在paddle只能支持protobuf 3.1.0，请问您在单独安装编译paddle的时候会有这个问题么

[2018-11-09 06:52] mengyiliu22 commented on #14347
字典编码我检查了一下，是从0开始的。

[2018-11-09 07:34] wzzju commented on #13839
用户长时间没有回复，问题可能已经解决。因此，关闭此issue。

[2018-11-09 07:34] #13839 closed, assigned to wzzju

[2018-11-09 07:35] wzzju commented on #14347
用户本打算重新训练，字典都是新的，与加载的老模型字典没有对上，现在问题已经解决。

[2018-11-09 07:35] #14347 closed, assigned to wzzju

[2018-11-09 07:55] wzzju commented on #14343
用户将`libpaddle_fluid.a`换成`libpaddle_fluid.so`后可以集成到自己的主模块中。特此记录。

[2018-11-09 07:55] wzzju commented on #14343
用户将`libpaddle_fluid.a`换成`libpaddle_fluid.so`后可以集成到自己到主模块中。特此记录。

[2018-11-09 07:55] #14343 closed, assigned to wzzju, JiabinYang

[2018-11-09 08:02] oshixiaoxiliu commented on #14218
http://10.182.5.31:8900/filetree?action=cat&path=/home/disk1/normandy/maybach/app-user-20181109101754-1530/workspace/log/user/trainer.log
http://10.182.5.31:8900/filetree?action=cat&path=/home/disk1/normandy/maybach/app-user-20181109101754-1530/workspace/log/app/train.log

[2018-11-09 08:21] wanghaoshuang commented on #14282
`SubpixelConv2d` is not supported in paddle currently.

[2018-11-09 08:55] #14344 closed, assigned to heavengate

[2018-11-09 09:17] toddwyl commented on #14329
OK，已经成功转换过来了，在此处放下链接
https://github.com/strawsuper/vgg19_paddlepaddle
方便以后的同学直接使用！:+1:

[2018-11-09 10:52] #14070 closed, assigned to barrierye

[2018-11-09 11:51] lucywsq commented on #13478
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-09 11:51] #13478 closed, assigned to typhoonzero

[2018-11-09 12:09] lucywsq commented on #13935
您好，此issue若已经解决，我们将于三天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-09 12:18] lucywsq commented on #14013
您好，请详细描述您的问题，以便问题得到快速解决，谢谢

[2018-11-09 14:01] JiabinYang commented on #14329
非常感谢！

[2018-11-09 14:01] #14329 closed, assigned to NHZlX

[2018-11-10 04:23] kuke commented on #13825
@Angus07 https://github.com/PaddlePaddle/Paddle/blob/f90c7865f0ababccd89332604e7e181c85cf9b60/benchmark/fluid/models/machine_translation.py#L83

请检查一下embedding的size是不是这么给的

[2018-11-12 02:50] cserken commented on #14312
模型是直接提供代码吗？还是提供用save_persistables接口保存的模型？

[2018-11-12 03:07] NHZlX commented on #14303
![c668e69936d36a0aaac8b4b441d7fb23](https://user-images.githubusercontent.com/5595332/48324236-ee13d880-e66a-11e8-90a0-e0c4f83337b2.jpg)
目前定位到的问题是，当模型进行测试时，并且运行到 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/batch_norm_op.cu.cc#L143 就会出现上图的问题。麻烦 @qingqing01  @jacquesqiao 看一下

[2018-11-12 03:12] jacquesqiao commented on #14303
以前v5遇到过test在batch维度超过1024时cudnn有bug，清先减少batch_size试试

[2018-11-12 03:36] Angus07 commented on #14303
我batch_size很小，远小于1024，是做了卷积之后导致tensor的第一维变得非常大。
我尝试减少了batch_size，还是一样报错。
https://github.com/PaddlePaddle/Paddle/issues/929 这个描述里面说用了cudnn6.0以上就没有这个问题。为什么我用的是cudnn7，还是出这个错？

[2018-11-12 03:39] Angus07 commented on #14303
Batch size设成1都报错。

[2018-11-12 04:08] linan142857 opened #14357 "Has fluid-recordio supported varied image-size and sequence-label？"

[2018-11-12 04:56] reyoung commented on #14357
The image size and sequence label must be the same in one training batch/iteration. However, it can be varied in whole epoch/pass.
RecordIO files just store `vector<Tensor>` and the input shape does not check in runtime

[2018-11-12 04:58] reyoung commented on #14357
However, RecordIO is not recommended during it is hard to use. Please consider using `PyReader` instead. The `PyReader` is fully cached in memory and GPU. If the time consumption of reading one mini-batch is less than training one mini-batch, the data-reading part should not be the bottleneck of the system.

[2018-11-12 05:17] frankwhzhang commented on #14357
This problem has solved  and close this issue .

[2018-11-12 05:17] #14357 closed, assigned to reyoung, frankwhzhang

[2018-11-12 05:23] liushanshan07 opened #14360 "训练一段时候后挂掉。像是训练正常，预测出现问题。报错PyEval_EvalFrameEx相关。"
Saved model to: ./output/models/model_186000.

Time: 1541876304.23; Iter[187000]; Avg Warp-CTC loss: 1.017; Avg seq err: 0.138

Time: 1541876684.59; Iter[188000]; Avg Warp-CTC loss: 0.914; Avg seq err: 0.131
*** Aborted at 1541876972 (unix time) try "date -d @1541876972" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x22) received by PID 802 (TID 0x7fd87e73b700) fr

[2018-11-12 05:46] oshixiaoxiliu commented on #14218
http://10.182.85.161:8900/filetree?action=cat&path=/home/disk1/normandy/maybach/app-user-20181112112801-8267/workspace/log/user/trainer.log

[2018-11-12 05:53] jacquesqiao commented on #14360
请问您使用的是v2还是fluid？模型配置方便贴一下么

[2018-11-12 06:03] liushanshan07 commented on #14360
fluid。
--------tran.py
import paddle.fluid as fluid
from thirdparty.utility import add_arguments, print_arguments, to_lodtensor, get_feeder_data
from thirdparty.crnn_ctc_model_senet_5555_346_222_tf import ctc_train_net
import thirdparty.ctc_reader_2w as ctc_reader
import argparse
import functools
import sys
import time
import os
import numpy as np

parser = argparse.ArgumentParser(description=__do

[2018-11-12 06:40] jacquesqiao commented on #14360
方便整理一下贴出来的代码的格式么，现在看着有点乱

[2018-11-12 06:46] liushanshan07 commented on #14360
我在paddlecloud上训练的，给你个作业链接吧。
作业详情链接：http://paddlecloud.baidu-int.com/paddle/jobInfo?jobId=job-e6c5be4f68768fc2&flag=jobs&groupName=k8s_gpu_demo&groupId=c0a1f165-6279-5320-b9e7-e0218c7a87f5&currentPage=1&currentKey=1
log链接：http://10.255.121.15:8388/?path=/home/work/containers_backup/369611898.job-e6c5be4f68768fc2-trainer_20181111_031050/home/crim/

[2018-11-12 06:46] likeqinqin opened #14363 "libpaddle_capi_shared.so不维护了吗？https://paddleci.ngrok.io/overview.html不能下载了？"
在线业务使用的libpaddle_capi_shared.so，依赖的cudnn v5，希望能下载个依赖cudnn v7的。非常感谢！

[2018-11-12 07:26] Superjomn commented on #14363
v2 已经停止维护，相关的lib我找人问下

[2018-11-12 07:30] luotao1 commented on #14363
@likeqinqin http://www.paddlepaddle.org/documentation/docs/zh/0.12.0/howto/capi/compile_paddle_lib_cn.html 可以下载cuda8.0_cudnn7_avx_mkl版本

[2018-11-12 07:38] #14363 closed, assigned to luotao1

[2018-11-12 08:37] NHZlX commented on #14303
batch 设置小一点没有问题，因为是序列数据，所以数据的第一维度也会超过1024，建议先使用小维度的数据进行测试。 麻烦 @qingqing01 看一下这个问题，根据序列的数据第一维度的情况来考虑是否使用cudnn跑test。

[2018-11-12 08:51] chuanqi129 opened #14366 "ResNet50 latency test based on CAPI is very slow"
Hi, I used the below cmake command to build paddle:
`cmake3 .. -DWITH_DOC=OFF -DWITH_GPU=OFF -DWITH_DISTRIBUTE=OFF -DWITH_MKLDNN=ON -DWITH_GOLANG=OFF -DWITH_SWIG_PY=ON -DWITH_TESTING=ON -DWITH_INFERENCE_API_TEST=ON -DCMAKE_BUILD_TYPE=Release -DWITH_TIMER=OFF -DWITH_PROFILER=OFF -DWITH_FLUID_ONLY=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=ON`
and run below command for ResNet50 latency test based on CAPI:
`

[2018-11-12 09:15] luotao1 commented on #14366
please do not use `OMP_NUM_THREADS=40`
`export MKL_NUM_THREADS=1` and `export OMP_NUM_THREADS=1`

[2018-11-12 11:34] wchange opened #14369 "有单机多GPU任务的demo吗"
看fluid的api文档里面有feed_parallel、decorate_reader等接口，但是还是不知道具体应该怎么用，另外官网所述的版本似乎找不到
`pip install paddlepaddle-gpu==1.1.0.post85`

[2018-11-12 11:46] frankwhzhang commented on #14369
https://github.com/PaddlePaddle/models/blob/75594b98b27cfb793832064f2b43be4086311a41/fluid/PaddleRec/gru4rec/train.py#L115
单机多卡的情况 可以参考

[2018-11-12 11:55] #14369 closed, assigned to frankwhzhang

[2018-11-12 12:56] colin1988 opened #14370 "确定DecayRegularizer 用于 SelectedRow数据的实际效果？"
将L1DecayRegularizer用于大规模稀疏表，是否能自动去掉作用较小的id特征，更确切的说是在id对应embedding的每个维度做L1正则还是在整个id对应的embedding向量上作分组L1正则？

另外，求简要介绍大规模稀疏表的正则化实现策略。

[2018-11-12 14:06] MellonGuan opened #14373 "执行demo报错"
系统ubuntu16.04
python3.5
已安装的是paddleGPU

paddle 官方安装：http://www.paddlepaddle.org/documentation/docs/zh/1.1/beginners_guide/install/install_Ubuntu.html
paddle model官方文档：https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/README_cn.md

`python -u train.py --batch_size=64 --dataset='pascalvoc' --pretrained_model='pretrained/ssd_mobilenet_v1_coco/'`

![default](https://u

[2018-11-12 18:12] colin1988 opened #14375 "调用 calling transpile是发生" Operator "send" has not been registered. " 错误"
use_parallel_executor=1
  File "/home/disk6/liushengbing/model_train/paddle/title/sparse_model/wide_model/no_query/wide.py", line 549, in train
    trainers=trainer_num)
  File "/home/work/liushengbing/liushengbing/model_train/paddle/paddlecloud/python/mms-hpc-devel/lib/python2.7/site-packages/paddle/fluid/transpiler/distribute_transpiler.py", line 369, in transpile
    "sync_mode": not self.sync_

[2018-11-12 23:34] hshen14 commented on #14366
Does ResNet-50 CAPI here support both MKL-based and MKLDNN-based optimziation?

[2018-11-12 23:34] hshen14 commented on #14342
Any feedback?

[2018-11-13 00:57] jthestness commented on #12040
+1

It doesn't look like there is a pip build for Python 3.6. Would love to have Python 3.6 support, so we can install with our other frameworks! Thanks!

[2018-11-13 02:29] wangguibao commented on #14373
看报错像是GPU memory不足，能否贴一下系统配置，例如显卡型号、显存大小等等

[2018-11-13 02:59] chengduoZH commented on #14370
目前Paddle是不支持在L1中指定id的。

您是要做分布式吗？

[2018-11-13 03:02] TheodoreG opened #14377 "Two questions about image classification distributed training."
I have used the distributed training code for image classification in [https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/dist_train/dist_train.py](url) and got some questions.
1. It seems that variable nccl_id_var keeps None in the whole program, and doesn't change even after the append_nccl2_prepare() function is called. Buy the way, function append_nccl2_pre

[2018-11-13 03:13] colwater123 opened #14378 "fluid GPU模式下使用 nce报错"
word2vec在gpu模式下，使用nce报错：
paddle.fluid.core.EnforceNotMet: op nce does not have kernel for data_type[float]:data_layout[ANY_LAYOUT]:place[CUDAPlace(1)]:library_type[PLAIN] at [/paddle/paddle/fluid/framework/operator.cc:678]
使用cpu是可以成功执行。
我看到 #12255 也提到了这个问题，请问现在有修正后的版本了么？

[2018-11-13 03:32] colin1988 commented on #14370
@chengduoZH 对。大规模稀疏特征的embedding，期望能通过正则化过滤掉某些低频id特征对应的整个embedding。或者说对pserver支持weight decay。develop分支两天前对SelectedRow是有特化的，刚刚去掉吧

        if grad.type == core.VarDesc.VarType.SELECTED_ROWS:
            idx = block.create_var(
                dtype="int64",
                shape=param.shape,
                type=core.VarDesc.VarType.LOD_TENSOR)
            decay = block.create_var(
                d

[2018-11-13 03:40] chengduoZH commented on #14370
是的，之前的实现方式是有问题的，~~正确的正则化方法应该是对整个参数，这是符合数学表达的。~~ 根据正则化的数学公式，正确的正则化方法应该是对整个参数做正则。

[2018-11-13 03:47] typhoonzero commented on #14377
Thanks for reporting. These two are very good questions.

1. for nccl2 mode, I've updated `append_nccl2_prepare` to use latest transpiler API to simplify the code. Actually, you should not care about `nccl_id_var`, will remove this in next commit.
2. data partition is done by the reader: https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/reader.py#L139. Yet the

[2018-11-13 04:05] colin1988 commented on #14370
@chengduoZH 最新的develop分支里正则化针对pserver是什么效果啊？另外，"正确的正则化方法"预计什么时候可用啊

[2018-11-13 04:53] chengduoZH commented on #14370
根据数学公式，正确的正则化方法应该是对整个参数，现在的develop分支就是这么做的。

[2018-11-13 06:11] frankwhzhang commented on #14369
http://paddlepaddle.org/documentation/docs/zh/1.1/beginners_guide/install/Start.html
最新的gpu版本可以从这个网页查找

[2018-11-13 06:20] TheodoreG commented on #14377
Ok, thanks a lot for your nice explanation.

[2018-11-13 06:44] JiabinYang commented on #14312
能提供一下模型的代码么

[2018-11-13 06:46] zzhzz opened #14383 "some error with pre-commit"
尝试使用git commit时报错如下：

[INFO] Initializing environment for https://github.com/Lucas-C/pre-commit-hooks.git
An unexpected error has occurred: CalledProcessError: Command: ('/usr/libexec/git-core/git', '-C', '/root/.cache/pre-commit/repoE8NYe8', 'clone', '--no-checkout', 'https://github.com/Lucas-C/pre-commit-hooks.git', '.')
Return code: 129
Expected return code: 0
Output: (none)
Errors:
    Unknown

[2018-11-13 06:47] zzhzz commented on #14383
Log中的TraceBack如下：
Traceback (most recent call last):
 14   File "/opt/_internal/cpython-2.7.11-ucs4/lib/python2.7/site-packages/pre_commit/error_handler.py", line 47, in error_hand    ler
 15     yield
 16   File "/opt/_internal/cpython-2.7.11-ucs4/lib/python2.7/site-packages/pre_commit/main.py", line 260, in main
 17     return run(runner, args)
 18   File "/opt/_internal/cpython-2.7.11-ucs4/lib/

[2018-11-13 07:24] MellonGuan commented on #14373
今天试了一下，把batch_size调小了，但还是不行。
显卡: geforce gtx 1070
CPU: i7-7700k
CPU核心数: 8
硬盘: 50 G
内存: 32 G
带宽: 100 M
显存: 8 G
显存带宽: 256 GB/s
运行情况如下：
[screencapture-fw-trinicloud-cn-52566-terminals-1-2018-11-13-15_20_35.pdf](https://github.com/PaddlePaddle/Paddle/files/2575015/screencapture-fw-trinicloud-cn-52566-terminals-1-2018-11-13-15_20_35.pdf)

[2018-11-13 07:34] #14383 closed, assigned to wangguibao

[2018-11-13 07:41] wojtuss commented on #14249
@hshen14 , thanks!

[2018-11-13 07:41] #14249 closed, assigned to luotao1

[2018-11-13 07:48] MellonGuan commented on #14373
另一个情况是 python2 环境下的安装和执行同上。运行还可以，自己勉强能应对
情况如下：
![screencapture-fw-trinicloud-cn-57106-terminals-5-2018-11-13-15_45_13](https://user-images.githubusercontent.com/19337606/48398283-4f1ad980-e75b-11e8-9772-ee007b49761c.png)

[2018-11-13 07:50] #14373 closed, assigned to wangguibao

[2018-11-13 08:02] #13734 closed, assigned to velconia, wanghaoshuang, shanyi15

[2018-11-13 08:21] wchange commented on #14369
这个例子里面用了Executor，但看book 03.image classification里面用的是Trainer，不知道是怎么对应的啊

[2018-11-13 08:37] jacquesqiao commented on #14378
fixed by https://github.com/PaddlePaddle/Paddle/pull/14385

[2018-11-13 08:52] jacquesqiao commented on #12255
fixed by https://github.com/PaddlePaddle/Paddle/pull/14385

[2018-11-13 09:30] shiyazhou121 commented on #13947
@qingqing01 hi，我用你给的例子时报错了。这个应该怎么改下？
Traceback (most recent call last):
  File "train.py", line 404, in <module>
    main()
  File "train.py", line 401, in main
    save_dirname=save_dirname)
  File "train.py", line 246, in train
    loss1_ce = own_loss(pred, label, CLASS_DIM, gama)
  File "train.py", line 209, in own_loss
    loss = -1 * fluid.layers.pow(1 - fc, gama) * fluid.layers.log(fc) * lab

[2018-11-13 09:38] sonofaeolus opened #14391 "paddle.fluid.core.EnforceNotMet: Enforce failed. Expected x_dims.size() > x_num_col_dims, but received x_dims.size():1 <= x_num_col_dims:1. The input tensor X's rank of MulOp should be larger than x_num_col_dims. at [/paddle/paddle/fluid/operators/mul_op.cc:48]"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-11-13 10:00] #12255 closed, assigned to guoshengCS

[2018-11-13 10:15] colin1988 opened #14392 "build 错误 grpc: execvp: /bin/sh: Argument list too long"
非docker环境，build错误
ldconfig: /home/work/.jumbo/lib/libleveldb.so.1 is not a symbolic link

ldconfig: Can't create temporary cache file /etc/ld.so.cache~: Permission denied
[INSTALL] Installing public C++ headers
make[3]: execvp: /bin/sh: Argument list too long
make[3]: *** [install-headers_cxx] Error 127
make[2]: *** [third_party/grpc/src/extern_grpc-stamp/extern_grpc-install] Error 2
make[1]: ***

[2018-11-13 10:56] Superjomn opened #14394 "预测多 instance 多 stream 方案讨论"
预测时候，需要能够控制单个 executor 内op执行的 stream。

目前，stream为进程级单例，导致一个process内所有的 thread instance 都跑在一个stream上。下面介绍一个初步方案：

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/feed_op.cc#L33

这里，类似给 `Instance().Get(Place)` 加一个默认参数，变成 `Instance().Get(Place, OpBase*)，如果给定 `OpBase*` 参数，则获取 `opbase->stream()` 并返回；
否则，默认返回 `thread_local stream = Create stream from default stream`.

暂时，这个只能加

[2018-11-13 12:33] zzhzz opened #14396 "Add Tree-Based Convolution Operator"
The paper of Tree-Based Convolutioin Operator is here:
https://arxiv.org/abs/1409.5718v1

[2018-11-13 13:31] wangguibao commented on #14375
告知用户打开-WITH_DISTRIBUTE=ON
已解决

[2018-11-13 13:31] #14375 closed, assigned to wangguibao

[2018-11-13 13:35] wangguibao commented on #14378
@colwater123 代码已修复，请用主干代码重新跑一下试试

[2018-11-13 13:38] tcwm1 commented on #14290
fluid.io.load_persistables 后 执行了 fluid.io.save_persistables(exe, dirname=dir_name)
对比了保存文件夹内的所有子文件，所有文件的md5均相等
@wanghaoshuang

[2018-11-13 14:15] zzhzz commented on #13947
改成1.0-fc试试？

[2018-11-13 14:20] wangguibao commented on #14391
用户提供的日志和代码截图：
![9dd3a93f12e4104059320ab480947056](https://user-images.githubusercontent.com/1445888/48419233-5f9a7680-e792-11e8-8182-7a2fb3278fc9.JPG)
![797d2726dba3d5418dc0fa9b55140a16](https://user-images.githubusercontent.com/1445888/48419234-5f9a7680-e792-11e8-9da9-5fdabb9aceeb.JPG)

[2018-11-13 14:21] wangguibao commented on #14391
出错是因为fc里头有有个mul，(input x w)；如果input多于2维，会把它先压平成2维；现在发现input的dim只有1

已建议用户检查input

[2018-11-13 15:49] sfraczek commented on #14074
I'm trying to do it how you showed but I can't get it to work.
[code]
The error is:
[code]

[2018-11-13 16:03] phonism opened #14402 "fluid c++预测接口如何批量预测"
现在模型是simnet，有query和title两个sequence输入，请问如何使用batch_size进行批量预测。
[code]
这个函数看了下实现，第三个参数batch_size似乎是没有用到。

[2018-11-14 02:13] #13930 closed, assigned to nobody

[2018-11-14 02:14] #13935 closed, assigned to nobody

[2018-11-14 02:18] colourful-tree commented on #13952
建议再看一下相应日志或者代码，先保证case_table存在。

[2018-11-14 02:34] wangguibao commented on #14392
用户环境centos 4.3，非docker。
网上有很多类似问题（不是编译Paddle时遇到），建议用户先尝试自行解决环境问题

等待反馈中

[2018-11-14 02:35] chuanqi129 commented on #14366
Thanks @luotao1. I'm clear about it.

[2018-11-14 02:35] #14366 closed, assigned to luotao1

[2018-11-14 02:43] #14342 closed, assigned to luotao1, hshen14

[2018-11-14 02:43] Xreki commented on #14394
曾经做过一点尝试，虽然并没有加速效果，仅供参考一下吧。

https://github.com/Xreki/Paddle/blob/e641da260d98dd870ad420d40f137ea47d8da58f/paddle/fluid/platform/device_context.h#L206-L210

[2018-11-14 03:23] phonism commented on #14402
找到了相关issue，知道如何构造输入了。。 https://github.com/PaddlePaddle/Paddle/issues/10855

[2018-11-14 03:23] #14402 closed, assigned to nobody

[2018-11-14 04:07] luotao1 commented on #14074
This is my script, you can refer to it. It can merge several parameters into one, and for `__model__`, just rename it. @sfraczek
[code]

[2018-11-14 05:02] hshen14 commented on #14342
We worked out a solution internally and need to confirm with Brian whether the solution is general enough. Let's close it first.

[2018-11-14 06:34] wangguibao commented on #14392
用户编译命令：

[code]

[2018-11-14 07:39] TheodoreG opened #14407 "How can I feed data into a middle layer?"
Hi, everyone I have a question about feed data.
1. Is the fluid.layers.data() only way for feeding data? Can I feed data into any tensor in the program?
2. I want to train a ResNet model from a middle layer like 'pool6', and I want to feed this 2048-dim feature into the network, how can I achieve this?

[2018-11-14 08:03] NHZlX commented on #12986
为模型添加新的fetch list
[code]

预测：
[code]

[2018-11-14 08:04] TomorrowIsAnOtherDay commented on #8072
Hi, any news about the development of "SELU" activation function?

[2018-11-14 08:17] wojtuss opened #14408 "PaddlePaddle build fails"
When running PaddlePaddle build on commit 83ddafb with cmake options:
[code]
the `make` command fails with:
[code]

[2018-11-14 09:08] luotao1 commented on #14408
It builds successfully on both CI and my local machine. Maybe you can `rm -rf build` and `make` again.

[2018-11-14 09:12] wojtuss commented on #14408
@luotao1 , I have removed the `build` directory and issued `make` several times.

[2018-11-14 09:15] wojtuss commented on #14408
@luotao1, could you check my `cmake` options? maybe I miss something important?

[2018-11-14 09:21] luotao1 commented on #14408
You can use `-DCMAKE_BUILD_TYPE=Release -DWITH_FLUID_ONLY=ON`

[2018-11-14 09:29] wojtuss commented on #14408
@luotao1 , with the `-DWITH_FLUID_ONLY=ON` option the build passes

[2018-11-14 09:51] sfraczek commented on #14074
Please upload the model from this link: https://www.dropbox.com/s/boqe6v7l1ygosim/mobilenet_model.tar.gz?dl=0
(change dl=0 to dl=1 if you want to download it right away)
I converted it from:
http://paddle-inference-dist.bj.bcebos.com/tensorrt_test/mobilenet.tar.gz

[2018-11-14 10:14] tpatejko commented on #14408
@luotao1 Could you share a command that you used for building PaddlePaddle with CAPI?

[2018-11-14 10:21] sfraczek commented on #14074
Also, thank you for the script. It helped a lot.

[2018-11-14 10:21] luotao1 commented on #14408
@tpatejko please see the cmake command in http://www.paddlepaddle.org/documentation/docs/zh/1.1/user_guides/howto/inference/build_and_install_lib_cn.html#id8

[2018-11-14 10:25] luotao1 commented on #14074
@sfraczek I upload, and the url is http://paddle-inference-dist.bj.bcebos.com/mobilenet_model.tar.gz

[2018-11-14 10:32] tpatejko commented on #14408
I'm checking the command right now. Thanks!

Just one more question: does this command build CAPI testing apps?

[2018-11-14 10:40] luotao1 commented on #14408
This command is used to build inference library without testing.
If you want to build CAPI testing apps, just add `-DWITH_TESTING=ON -DWITH_INFERENCE_API_TEST=ON`.

[2018-11-14 10:40] zzhzz opened #14411 "Paddle Build Failed"
报错信息如下：

/mnt/paddle/Paddle/paddle/fluid/operators/conv_cudnn_op.cu.cc:56:5: error: ‘CUDNN_CONVOLUTION_BWD_FILTER_ALGO_C    OUNT’ was not declared in this scope
 23      CUDNN_CONVOLUTION_BWD_FILTER_ALGO_COUNT;
 24      ^
 25 /mnt/paddle/Paddle/paddle/fluid/operators/conv_cudnn_op.cu.cc:58:5: error: ‘CUDNN_CONVOLUTION_BWD_DATA_ALGO_COU    NT’ was not declared in this scope
 26      CUDNN_CONVOLUTI

[2018-11-14 10:45] #14411 closed, assigned to nobody

[2018-11-14 11:22] tpatejko commented on #14408
@luotao1 I run the following command:
``` cmake .. -DFLUID_INFERENCE_INSTALL_DIR=/home/tpatejko/_paddlepaddle/paddle-install/ -DCMAKE_BUILD_TYPE=Debug -DWITH_FLUID_ONLY=ON -DWITH_SWIG_PY=OFF -DWITH_PYTHON=OFF -DWITH_MKLDNN=ON -DWITH_GPU=OFF -DON_INFER=ON -DWITH_TESTING=ON -DWITH_INFERENCE_API_TEST=ON```

and the build failed with the error mentioned by @wojtuss:

[code]

[2018-11-14 12:24] luotao1 commented on #14408
How about using `-DCMAKE_BUILD_TYPE=Release`?

[2018-11-14 12:28] tpatejko commented on #14408
I will try this one. Thanks!

However, I would like to be able to build Paddle with `Debug` build type because it makes debugging much easier. How can I do?

[2018-11-14 12:31] luotao1 commented on #14408
We will fix this problem ASAP.

[2018-11-14 12:33] tpatejko commented on #14408
Thanks a lot!

[2018-11-14 13:10] colourful-tree commented on #14407
已在hi群里回答，可以参考 https://github.com/PaddlePaddle/Paddle/issues/11030

[2018-11-14 13:10] #14407 closed, assigned to nobody

[2018-11-14 13:12] tpatejko commented on #14408
I checked with `-DCMAKE_BUILD_TYPE=Release` and it works.

These two commands give different results:

1. ```cmake .. -DFLUID_INFERENCE_INSTALL_DIR=<dir> -DCMAKE_BUILD_TYPE=Debug -DWITH_FLUID_ONLY=ON -DWITH_SWIG_PY=OFF -DWITH_PYTHON=OFF -DWITH_MKLDNN=ON -DWITH_GPU=OFF -DON_INFER=ON -DWITH_TESTING=ON```
2. ``` cmake .. -DFLUID_INFERENCE_INSTALL_DIR=<dir> -DCMAKE_BUILD_TYPE=Release -DWITH_FLUID_ONLY

[2018-11-15 02:21] mapingshuo commented on #8072
Hi, @TomorrowIsAnOtherDay, I am developing the "selu" activation op, soon it will be release.

[2018-11-15 02:23] TomorrowIsAnOtherDay commented on #8072
Thanks a lot for your reply!
It's really a very helpful activation function in many models.
Looking forward to having this op in fluid.

[2018-11-15 02:28] TomorrowIsAnOtherDay opened #14416 "[Enhancement] multi_thread training / prediction is unfriendly to user."
In reinforcement learning algorithm, having training and prediction at the same time is necessary.
But it's hard to implement our parallel algorithm using current API of Fluid.
Also, it's very easy to get into trouble when you try to use multi-thread training in your algorithm.
Here is an example to show how to use multi-thread safely in Fluid.
[code]
To use multi-thread in your algorithm, there a

[2018-11-15 02:29] mapingshuo commented on #8072
Thanks for your interest in this issue :)

[2018-11-15 02:32] tensor-tang commented on #14408
I encounter the same issue only on DEBUG version

[code]

[code]

[2018-11-15 03:18] CruiseSun opened #14418 "Paddle fluid版本如何构建fm layer？"
参考DeepFM的配置文档：http://www.paddlepaddle.org/documentation/models/zh/1.1/legacy/deep_fm/README.html
在Paddle V2里面，是通过如下方式构建fm layer的：
def fm_layer(input, factor_size):
    first_order = paddle.layer.fc(input=input, size=1, act=paddle.activation.Linear())
    second_order = paddle.layer.factorization_machine(input=input, factor_size=factor_size)
    fm = paddle.layer.addto(input=[first_order, second_or

[2018-11-15 03:22] 930083287 opened #14419 "SSD训练阶段加载初始model失败"
![image](https://user-images.githubusercontent.com/15224527/48528074-64f9dd00-e8c8-11e8-9149-408e0300885d.png)

Traceback (most recent call last):
  File "train_add.py", line 87, in <module>
    init_model_path=model_path)
  File "train_add.py", line 25, in train
    parameters.init_from_tar(gzip.open(init_model_path))
  File "/home/users/zhaohui15/miniconda2/lib/python2.7/site-packages/paddle/v2/

[2018-11-15 03:23] lighthearts opened #14420 "embedding，reduce_mean之后，怎样再处理与lodtensor concate"
[code]
#----------------下面报错，因为第一个dim不一样------------------
Traceback (most recent call last):
  File "test_emb_lod.py", line 45, in <module>
    concated = fluid.layers.concat([se3, dense_input], axis=1)
  File "/home/work/anaconda2/lib/python2.7/site-packages/paddle/fluid/layers/tensor.py", line 192, in concat
    attrs={'axis': axis})
  File "/home/work/anaconda2/lib/python2.7/site-packages/padd

[2018-11-15 03:40] gavin1332 commented on #14418
当前fluid还不支持fm模型。

[2018-11-15 03:41] gavin1332 commented on #14418
想了解一下你使用fm目的是为了复现实验，还是做技术调研？
如果是后者的话，建议使用效果更好的DNN模型

[2018-11-15 03:42] dashulu opened #14421 "跑NCCL demo时，programDesc中没有reduce和broadcast的op"
我打算尝试通过nccl进行paddle的多机多卡训练，程序执行后打印出main_program时，并不像文档所说的有broadcast和reduce的op，只在startup_program中看到gen_nccl_id。
![image](https://user-images.githubusercontent.com/4484303/48528817-83150c80-e8cb-11e8-8d8f-ee0acdcbcc58.png)
这个是为什么？

[2018-11-15 03:43] CruiseSun commented on #14418
主要是为了做技术调研，改进DNN网络结构，提高模型特征抽取能力，考虑到deepFM可以自动结合低阶和高阶的特征，应该会有更好的效果。

[2018-11-15 03:49] gavin1332 commented on #14419
网络配置能贴一下吗

[2018-11-15 03:51] 930083287 commented on #14419
from easydict import EasyDict as edict
import numpy as np

__C = edict()
cfg = __C

__C.TRAIN = edict()

__C.IMG_WIDTH = 300
__C.IMG_HEIGHT = 300
__C.IMG_CHANNEL = 3
__C.CLASS_NUM = 38
__C.BACKGROUND_ID = 0

# training settings
__C.TRAIN.LEARNING_RATE = 0.001 / 4
__C.TRAIN.MOMENTUM = 0.9
__C.TRAIN.BATCH_SIZE = 64
__C.TRAIN.NUM_PASS = 200
__C.TRAIN.L2REGULARIZATION = 0.0005 * 4
__C.TRAIN.LEARNING_R

[2018-11-15 03:54] gavin1332 commented on #14418
之前我们有（使用其他工具）做过fm，deepfm，DNN模型的调研，发现从性能和效果综合表现看，DNN模型明显占优。
原因在于DNN本身有高阶建模特性，且matmul计算易于加速。而fm的交叉内积运算很难加速，性能较差，效果也不理想。
更优的模型可以考虑DCN

[2018-11-15 04:36] zenghsh3 opened #14422 "没有给定program情况下，如何通过param_attr的name在global_scope中找到该parameter variable"
global_scope().find_var(name)目前返回的是core.Variable，有类似接口可以返回framewark.Variable吗？（需求是：可以通过param_attr名字在global_scope中找到该参数varialbe，在不指定program情况下)

[2018-11-15 04:58] gavin1332 commented on #14419
建议使用fluid版本SSD，里边给出了包括训练和预测在内的工具套件，且有专人持续维护：
https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/object_detection

[2018-11-15 05:05] velconia commented on #14422
为什么需要获取 ```framework.Variable``` 而不是 ```core.Variable``` 呢？至于framework.Variable可以通过在Program里面通过查找名字找到；

[2018-11-15 05:13] zenghsh3 commented on #14422
在做variable之间的参数同步时（强化学习算法很多需要周期性地将一个model参数同步到另一个model（target model）中），assign op目前只支持framework.Variable

如果是通过np.array(core.Variable().get_tensor())这种方法的话需要将参数从GPU中拷贝到CUP中，再拷贝回GPU，效率会低点，所以想通过assign op放在program里run

[2018-11-15 05:16] TomorrowIsAnOtherDay commented on #14422
直觉上看哈
我觉得返回C++ 的core.Variable 给python API的用户其实有点怪.返回python端的`framework.Variable`这个看着合理点

[2018-11-15 05:20] velconia commented on #14422
这是因为 framework.Variable 和 assign op 是compile time时的方法和变量，只有 dim 和 desc 这些东西；
而 core.Variable 是真正具体数值的 runtime 变量；

所以你从scope里获取到的只能是包含真正runtime数值的core.Variable；

而且经过了Pass之后也。。。不一定能和framework.Variable对应起来。。。

[2018-11-15 05:21] velconia commented on #14422
我还是没能完全理解这个需求，如果方便的话可以电话我，

但是如果真的要找到 ```framework.Variable``` 的话，建议直接用param_attr里传入的name查找就好，因为这是个compile time的静态变量

[2018-11-15 05:32] zenghsh3 commented on #14422
https://github.com/PaddlePaddle/Paddle/blob/2354409601c9878f076461042ed915a7e3bed85d/python/paddle/fluid/framework.py#L2173
类似于上面的_get_var方法，能在不给定program的情况下去查找吗？（我们需要在所有的program中去查找，不仅仅是default_main_program）

[2018-11-15 06:04] zenghsh3 commented on #14422
经讨论，目前在不同program之间同步参数(src_variable->target_variable)的方法：
  - 需要给定src_variable和target_variable分别所在的program，通过_get_var(name, program=None)找到对应的variable，然后构建新的program进行assign（不需要将数据从GPU拷贝到CPU）
  - 通过create_parameter的形式来创建src_variable和target_variable分别对应的两个参数重用的variable，然后构建新的program进行assign（不需要将数据从GPU拷贝到CPU）
  -  通过np.array(global_scope().find_var(name))得到src_variable的数据，然后直接set到target_variable（需要将数

[2018-11-15 06:04] #14422 closed, assigned to velconia

[2018-11-15 06:14] CruiseSun commented on #14418
好的。请问DCN网络Paddle是否有支持的模型配置供参考呢？

[2018-11-15 06:42] jacquesqiao commented on #14418
fm和dcn目前都能配出来，但是还没暴露出接口和提供样例，我们后续会逐步补充道models下，请关注
https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleRec/ctr

[2018-11-15 06:44] gavin1332 commented on #14418
fm和dcn应该都放在PaddleRec目录下吧？

[2018-11-15 06:45] gavin1332 commented on #14418
Rec模型大都是ctr预估任务

[2018-11-15 06:48] gavin1332 commented on #14419
关于v2 SSD模型问题，我assign给 @qingqing01  帮忙解答一下

[2018-11-15 06:49] CruiseSun commented on #14418
没有找到呢，现在fm和dcn是不是都还没有呢？

[2018-11-15 06:51] gavin1332 commented on #14418
@CruiseSun Sorry，我的意思是未来示例建设好以后应该放在该目录下。

[2018-11-15 06:51] CruiseSun commented on #14418
请问 @jacquesqiao fm和dcn要什么时候才能在fluid使用上呢？

[2018-11-15 06:54] CruiseSun commented on #14418
@gavin1332 欧欧~

[2018-11-15 07:05] lighthearts commented on #14420
代码片段是这几行，上面加的注释是例子
[code]

[2018-11-15 07:06] luotao1 opened #14425 "CRF Decoding fails on AVX machine"
![image](https://user-images.githubusercontent.com/6836917/48533154-4acaf980-e8de-11e8-9825-5d145c9f263d.png)
TAG: Paddle v1.1.0
AVX machine
- Sucess:
   - Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz （AVX+AVX2）
   - Intel Core Processor (Haswell) （ONLY has AVX）
[code]
- Fail:
   - Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GHz （ONLY has AVX）
[code]

[2018-11-15 07:08] luotao1 commented on #14425
@yihuaxu Could you help to solve this problem?

[2018-11-15 07:10] typhoonzero commented on #14421
感谢您的反馈。

allreduce相关的op目前是作为`ParallelExecutor`内部的ophandle使用，在program中还看不到，如果需要看到实际执行的graph，可以用下面方法，生成执行graph的图：

[code]
获得到`mygraph`之后，执行：`dot -Tpnt -o mygraph.png mygraph` 即可生成包含allreduce的执行graph。注意如果模型很大，这个图片生成的也回很大，建议用简单的模型debug。

[2018-11-15 07:26] wangguibao commented on #14391
用户代码：[ptr_multi.zip](https://github.com/PaddlePaddle/Paddle/files/2584067/ptr_multi.zip)

@chengduoZH 帮看了一下用户的代码，定位原因如下：
用户用了Trainer这个高层API，在Trainer内部会用program_guard创建一个新的program；而程序开头的一些layer是定义在default_main_program里的；这样在train_loss函数里，实际是看不到gru_last_proj这些变量的

已经给用户解释，等待反馈

[2018-11-15 07:39] tensor-tang commented on #14425
在 failed的机器flag里面我没有看到 fma， crf里面有没有用fma的相关指令 @yihuaxu

[2018-11-15 07:46] ghost commented on #14425
@tensor-tang @luotao1 我们这边可能一下子找不到类似的老机器来复现。可以用gdb确认一下是否是跑到AVX的对应jit kernel后crash的么？https://github.com/PaddlePaddle/Paddle/blob/2354409601c9878f076461042ed915a7e3bed85d/paddle/fluid/operators/math/jit_kernel_crf_decode.cc#L38

[2018-11-15 08:12] dashulu commented on #14421
我看文档中all-reduce是用reduce（grad） + broadcast(para)来实现的，这边我看profile的结果是直接用了all-reduce。这个为什么？reduce + broadcast应该会比all-reduce少传输数据吧。

[2018-11-15 08:20] zenghsh3 opened #14427 "expand op 对第0维（size=-1）expand时，编译存在问题"
[code]
异常输出：
[code]

[2018-11-15 08:22] zenghsh3 commented on #14427
感觉在编译过程中，对size为-1的维度做expand之后应该还是-1，但这里是-3

[2018-11-15 08:31] typhoonzero commented on #14421
默认是AllReduce，文档图中Reduce是统称 Reduce类OP

[2018-11-15 08:31] typhoonzero commented on #14421
但文档的确可以完善一下

[2018-11-15 08:57] qingqing01 commented on #14419
@930083287 请问您加在的初始化模型是什么？CLASS_NUM改变后，计算conf、loc的conv的num_filter数会改变，这几层是不需要初始化的。看错误是加载的参数shape不匹配，确保初始化模型是没用错吧。

[2018-11-15 08:59] #13984 closed, assigned to qingqing01

[2018-11-15 09:00] CruiseSun opened #14428 "Paddle V2在做电影评分预测时，scale_infer的范围是不是[-5, 5]？可是label是[0,5]"
http://www.paddlepaddle.org/documentation/docs/zh/1.1/beginners_guide/basics/recommender_system/index.html

[2018-11-15 09:00] CruiseSun commented on #14428
![image](https://user-images.githubusercontent.com/20597775/48541614-f765a500-e8f7-11e8-804f-7ce912fd396c.png)

[2018-11-15 09:01] velconia commented on #14427
我觉得expand为-3是合理的，因为[128, 1]应该被expand为[384, 1], 所以在做sum等操作时，维度是无法和和[128, 1]对齐的

[2018-11-15 09:05] zenghsh3 commented on #14427
size为正数是合理的，但是如果size为-1时，编译时不应该为-3吧（-3没有实际含义？）

[2018-11-15 09:07] frankwhzhang opened #14429 "expand op 文档示例有误"
http://paddlepaddle.org/documentation/api/zh/1.1/layers.html#permalink-62-expand
官方文档api中的expand 给出的样例如下
x = fluid.layers.data(name='x', shape=[10], dtype='float32')
out = fluid.layers.expand(x=x, expand_times=[1, 2, 2])

但是x其实是[batchsize,10] dims是2 ，不能与[1,2,2] dims=3 扩展

会出现报错信息
x_dims.size()) == expand_times.size(), but received static_cast<size_t>(x_dims.size()):2 != expand_times.size():3.

[2018-11-15 09:12] gavin1332 commented on #14428
此处确认有误，应该是 2.5*(inference+1)，稍后更新一下wiki

[2018-11-15 09:15] gavin1332 commented on #14427
这个op确实有问题，变成-3后可能导致后续shape匹配不通过

[2018-11-15 09:22] CruiseSun commented on #14428
可以对layer对象，直接操作+或者*的运算么？

[2018-11-15 09:27] #14418 closed, assigned to gavin1332

[2018-11-15 09:32] gavin1332 commented on #14428
目前不支持，不过乘法和加法运算可以直接通过elementwise_xxx方法操作，功能一样，只是写起来麻烦点儿。
另外，全1向量可以通过layers.ones生成

[2018-11-15 09:37] shanyi15 commented on #14429
find https://github.com/PaddlePaddle/Paddle/blame/develop/python/paddle/fluid/layers/nn.py#L7198 please have a look, thanks @wanghaoshuang

[2018-11-15 09:37] CruiseSun commented on #14428
我有一个需要是，要计算二分类的auc，不过Paddle V2好像只支持二维向量，而sigmoid只会输出一个值y，我就需要组合出一个[y, 1-y]这种形式的输出，我该怎么做呢？

[2018-11-15 09:43] velconia commented on #14427
确实，我和op的开发同学了解了一下，似乎在compile time确实有问题, -1 应该代表待推理值，我之前的解释有误， @wanghaoshuang 请问你方便看一下吗？

[2018-11-15 09:54] tensor-tang commented on #14425
我看到出错的指令是：

[code]

[2018-11-15 09:56] TheodoreG commented on #14407
I check this program but I can't see how the lib rllab is related to paddle? I download the rllab but still can't figure out how this code works.
Is there any code about variables copying between programs using pure paddle lib?

[2018-11-15 10:11] cszhou commented on #14428
@gavin1332
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/dataset/movielens.py
```rating = float(rating) * 2 - 5.0```
所以wiki没错。

[2018-11-15 10:51] gavin1332 commented on #14427
嗯，需要再infer_shape期间区分编译时和运行时

[2018-11-15 11:23] jacquesqiao commented on #14218
![image](https://user-images.githubusercontent.com/3048612/48549832-da3ad180-e90b-11e8-9ead-f3af9aada219.png)

端口冲突了，这个问题找paddlecloud的同学定位下。

http://10.182.5.31:8900/filetree?action=cat&path=/home/disk1/normandy/maybach/app-user-20181109101754-1530/workspace/log/app/pserver.log

[2018-11-15 11:56] sonofaeolus opened #14433 "Traceback (most recent call last): File "ptr_multi.py", line 91, in <module> loss_val = exe.run(main_program, feed = feeder.feed(data), fetch_list=[all_loss.name]) File "/home/wangxiaoyu/python27_fluid/lib/python2.7/site-packages/paddle/fluid/executor.py", line 470, in run self.executor.run(program.desc, scope, 0, True, True) IndexError: vector::_M_range_check"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-11-15 11:57] sonofaeolus commented on #14391
是这个愿意

[2018-11-15 12:06] #14391 closed, assigned to wangguibao

[2018-11-15 12:31] tcwm1 opened #14434 "运行gpu版本paddle提示EnforceNotMet: cudaGetDeviceCount failed in paddle::platform::GetCUDADeviceCount: unknown error at [/paddle/paddle/fluid/platform/gpu_info.cc:33]"
运行`        exe.run(fluid.default_startup_program())` 出现以下错误：
[code]

运行环境：docker:17.03.2-ce
执行代码:
[code]

[2018-11-15 12:36] tcwm1 commented on #14434
运行`        exe.run(fluid.default_startup_program())` 出现以下错误：
[code]

运行环境：docker:17.03.2-ce
执行代码:
[code]

[2018-11-15 12:42] #13471 closed, assigned to seiriosPlus

[2018-11-15 12:42] #13642 closed, assigned to guoshengCS

[2018-11-15 12:46] gavin1332 commented on #14407
没太明白这样做的目的，如果你直接把数据灌入pool6，那pool6还有其他输入吗？

[2018-11-15 12:49] gavin1332 commented on #14433
可以把组网发一下吗？

[2018-11-15 12:51] lucywsq commented on #12499
您好，如您的问题已经解决，我们将在今天内关闭。如您后续有其他问题，可重新开启此issue。感谢您对PaddlePaddle的支持！

[2018-11-15 12:51] #12499 closed, assigned to jacquesqiao

[2018-11-15 12:53] 930083287 commented on #14419
初始会模型使用的是vgg_model.tar.gz,这个没有问题，与修改CLASS_NUM之前一致，请问ssd模型，修改CLASS_NUM非21时，是否还有对应的其他参数需要改？应该怎么改？ @qingqing01

[2018-11-15 12:56] gavin1332 commented on #14434
看着像是GPU没识别，nvidia-smi显示什么？

[2018-11-15 13:04] iclementine opened #14435 "编译报错"
我在一个 openSUSE 42.3 docker 下编译 paddlepaddle 的 CPU 版本，使用的编译器是 gcc 4.8.5.
遇到的错误信息如下：

[code]

请问有没有一些 hint 是什么问题啊？

[2018-11-15 13:08] gavin1332 commented on #14419
初始model应该是指定了具体类别数的，你更改了类别数，新的网络跟模型对不上，必然没法成功加载。

[2018-11-15 13:09] sonofaeolus commented on #14433
可以

[2018-11-15 13:09] gavin1332 commented on #14419
要么冷启动训练，要么跟初始model保持类别数一致。
先关闭此issue，如有疑问可重新开启。

[2018-11-15 13:09] #14419 closed, assigned to gavin1332, qingqing01

[2018-11-15 13:10] sonofaeolus commented on #14433
#-*-coding:utf8-*-
import paddle
import paddle.fluid as fluid
import gen_train_vec
from paddle.fluid.contrib.trainer import *
import paddle.fluid.framework as framework

#超参数定义
dict_size = 30000
emb_size = 64
hidden_size = 128
batch_size = 10
dict_size = 30000

#word input
src_word_id = fluid.layers.data(name = 'src_word_id', shape = [1], dtype = 'int64', lod_level = 1)
biz_label = fluid.layers.da

[2018-11-15 13:12] #14421 closed, assigned to gavin1332, typhoonzero

[2018-11-15 13:12] sonofaeolus commented on #14433
Traceback (most recent call last):
  File "ptr_multi.py", line 92, in <module>
    loss_val = exe.run(main_program, feed = feeder.feed(data), fetch_list=[all_loss])
  File "/home/wangxiaoyu/python27_fluid/lib/python2.7/site-packages/paddle/fluid/executor.py", line 470, in run
    self.executor.run(program.desc, scope, 0, True, True)
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected lod.siz

[2018-11-15 13:19] yangjingyuan opened #14436 "能否支持LoD Tensor的遍历呢"
import numpy as np
import paddle.fluid as fluid

x = fluid.layers.data("x", shape=[2, 3, 3], dtype='float32')
output = fluid.layers.im2sequence(
           input=x, stride=[1, 1], filter_size=[1, 1])

counter = fluid.layers.zeros(shape=[1], dtype='int64', force_cpu=True)
array_len = fluid.layers.fill_constant(
    shape=[1], dtype='int64', value = 4096)

cond = fluid.layers.less_than(x=counter, y=

[2018-11-15 13:20] sonofaeolus commented on #14433
已发 https://github.com/PaddlePaddle/Paddle/issues/14433

[2018-11-15 13:20] chengduoZH commented on #14006
This PR https://github.com/PaddlePaddle/Paddle/pull/14087 has fixed it.

[2018-11-15 13:20] #14006 closed, assigned to chengduoZH

[2018-11-15 13:25] gavin1332 commented on #14428
@cszhou 多谢解答，这个细节被隐藏起来了，wiki上缺乏相关说明

[2018-11-15 13:26] gavin1332 commented on #14428
@CruiseSun 可以用log_loss，不过这个问题已经与此topic无关了。
暂时close了，如有需要，可新开issue解答。

[2018-11-15 13:26] #14428 closed, assigned to gavin1332

[2018-11-15 13:38] gavin1332 commented on #14433
模型比较复杂，我裸眼看的话初步定为在下边的代码：
sum_layer = fluid.layers.sequence_pool(input = att_layer, pool_type = 'sum')
att_layer需要是个sequence而非vector，跟错误信息一值：
Expected lod.size() == 1UL, but received lod.size():0 != 1UL:1.
建议跟踪打印lod信息再debug一下

[2018-11-15 13:39] gavin1332 commented on #14433
暂时close此问题，如有异议，可重新打开。

[2018-11-15 13:39] #14433 closed, assigned to nobody

[2018-11-15 13:40] tcwm1 commented on #14434
![Image](https://i.imgur.com/7CIBNnL.jpg)

[2018-11-15 13:48] sonofaeolus commented on #14433
att_layer的shape是(-1,30000) 并且接收的输入是一个gru的output

[2018-11-15 14:23] frankwhzhang commented on #14436
复杂的逻辑可以通过实现一个op来解决。

[2018-11-15 14:24] frankwhzhang commented on #14436
经与用户沟通，暂时关闭这个issue，如有问题可以重开。

[2018-11-15 14:24] #14436 closed, assigned to frankwhzhang

[2018-11-15 14:47] ghost commented on #14425
@tensor-tang 这句出错不太合理啊。上面log显示的是"Illegal Instruction"。这是add, 顶多是寻址异常，应该不可能是"Illegal Instruction"

[2018-11-16 01:10] 930083287 commented on #14419
@gavin1332 我尝试采用冷启动的方式，出现float异常，
![image](https://user-images.githubusercontent.com/15224527/48591552-60443000-e97f-11e8-96ab-0aa57295f8a3.png)

[2018-11-16 01:25] 930083287 commented on #14419
修改初始化模型与类别相关的部分，
![image](https://user-images.githubusercontent.com/15224527/48592022-7521c300-e981-11e8-8810-afaf193f9095.png)
参考：https://github.com/PaddlePaddle/Paddle/issues/8530

[2018-11-16 01:55] iclementine commented on #14435
啊，了解了，内存不足。

[2018-11-16 01:55] #14435 closed, assigned to Xreki

[2018-11-16 01:57] chengduoZH commented on #14035
@TheodoreG Do you have resolved this question?

[2018-11-16 02:04] chengduoZH commented on #13809
@zzhzz 您找到这个问题的原因了吗

[2018-11-16 02:06] #14420 closed, assigned to nobody

[2018-11-16 02:12] gavin1332 commented on #14434
https://github.com/PaddlePaddle/Paddle/issues/8700
请现根据上述issue排查问题，如果未能解决，可以继续在用户组里提问

[2018-11-16 02:15] chengduoZH commented on #14434
您先试一下如果不用Paddle是否可以获取GPU信息，
[code]
编译：`nvcc -arch sm_30 test_cuda.cu   -std=c++11`

[2018-11-16 02:20] zzhzz commented on #13809
还没有，我目前的GPU需要跑训练任务，暂时没有闲置资源用来debug

[2018-11-16 02:24] tensor-tang commented on #14425
是的我也觉得比较奇怪，但是core文件看到的就是这句，报的错也是Illegal Instruction。

感觉应该更像是越界什么的。

[2018-11-16 02:32] tcwm1 commented on #8700
docker增加privileged相关参数问题得到解决

[2018-11-16 02:33] chengduoZH commented on #13809
好的，我跟进一下

[2018-11-16 02:34] tcwm1 commented on #14434
docker 增加 privileged相关参数问题得到解决

[2018-11-16 02:55] CruiseSun opened #14442 "我有一个需要是，要计算二分类的auc，不过Paddle V2好像只支持二维向量，而sigmoid只会输出一个值y，我就需要组合出一个[y, 1-y]这种形式的输出，我该怎么做呢？"
_Originally posted by @CruiseSun in https://github.com/PaddlePaddle/Paddle/issues/14428#issuecomment-438977834_

[2018-11-16 02:57] TheodoreG opened #14443 "Is there any example code about copy variable parameters between two Program?"
Hey guys here I have an question, how to copy parameters between Programs?
Suppose that I have defined two Programs and they have same structure in the last few layers,  for example they both have two FC layers. While I print the variables I got:

For program A:
[u'fc1.b_0', u'fc1.tmp_0', u'fc1.tmp_1', u'fc1.w_0', u'fc2.b_0', u'fc2.tmp_0', u'fc2.tmp_1', u'fc2.tmp_2', u'fc2.w_0', u'feature', u'labe

[2018-11-16 02:57] CruiseSun commented on #14442
请问怎么用log_loss？ https://github.com/PaddlePaddle/Paddle/issues/14428#issuecomment-439039294

[2018-11-16 02:58] TheodoreG commented on #14407
现在这条路已经放弃了，选用了将两个program参数copy的策略，见 https://github.com/PaddlePaddle/Paddle/issues/14443

[2018-11-16 03:00] gavin1332 commented on #14434
赞

[2018-11-16 03:00] #14434 closed, assigned to gavin1332

[2018-11-16 03:08] gavin1332 commented on #14442
现在log_loss在最新主干上可用了，不过还没有加入到release版本，未来1.2版本应该可以用。
在log_loss不可用的情况下，可以考虑用softmax接cross_entropy做二分类任务，样例如下：

    if hasattr(fluid.layers, "log_loss"):
        mul = fluid.layers.elementwise_mul(user_net, news_net)
        dot = fluid.layers.reduce_sum(input=mul, dim=1, keep_dim=True)
        dot = fluid.layers.sigmoid(dot, inplace=True)
        cost = fluid.layers.log_loss(input=dot, label=label_f

[2018-11-16 03:15] TheodoreG commented on #14035
Now I use  paddlepaddle/paddle:1.1.0-gpu-cuda9.0-cudnn7, and it seems this bug doesn't happen any more. Thanks a lot.

[2018-11-16 03:17] lucywsq opened #14444 "本地部署Paddle后使用报错"
项目为HousePredict0

运行环境：
1.	Python解释器：

![image](https://user-images.githubusercontent.com/38712162/48595649-9f2eb180-e990-11e8-9377-c1fb1ff9efe2.png)

2.	系统
Mac Os high Sierra version 10.13.6
其他：本机同时装有python2和python3，如图解释器已经调整为python2。当运行house_price_predict.py时，出现如下报错：

![image](https://user-images.githubusercontent.com/38712162/48595709-db621200-e990-11e8-983e-4d14403d8177.png)

已经参考网上系列博客，依然无法解决

[2018-11-16 04:09] luotao1 opened #14446 "conv_elementwise_add_mkldnn_fuse_pass Segment Fault"
https://github.com/PaddlePaddle/Paddle/issues/14174#issuecomment-434648082 say that there is a bug in `conv_elementwise_add_mkldnn_fuse_pass`. Is this bug solved now?

We encounter `Segment Fault` with this pass in another model. And if we remove this pass, predictor runs successfully.
The log is [feature.log](https://github.com/PaddlePaddle/Paddle/files/2587935/feature.log)

[2018-11-16 04:55] Xreki commented on #14444
系统环境太复杂，建议使用docker。

[2018-11-16 05:03] chengduoZH commented on #14035
Sorry, I can't reproduce this error. It is a strange error, because `infer_mode` doesn't store any cudnn info about the version, so there should be no error.

[2018-11-16 05:09] #14442 closed, assigned to gavin1332

[2018-11-16 05:23] Xreki commented on #14443
To share parameters between two programs, the simplest way is sharing the parameters' name. You can use `param_attr` to specify the parameters' name of those operators. For example,

[code]

With the same names, and running in the same scope, the parameters will be automated shared.

[2018-11-16 05:55] #14427 closed, assigned to velconia, wanghaoshuang

[2018-11-16 06:22] #13336 closed, assigned to reyoung

[2018-11-16 06:22] #12363 closed, assigned to reyoung

[2018-11-16 06:23] TheodoreG commented on #14443
Thank you, I still have two questions.
1. I used following function to check if the parameters in two programs are the same.
[code]
`fc1_shared_w_test = fluid.io.get_parameter_value_by_name(u'fc1_shared_w', exe, test_program)`
`fc1_shared_w_infer = fluid.io.get_parameter_value_by_name(u'fc1_shared_w', exe, infer_program)`
But I got some errors:

  fc1_shared_w_test = fluid.io.get_parameter_value_b

[2018-11-16 06:24] reyoung commented on #14172
@strawsuper

Can you paste the whole configuration?

[2018-11-16 06:28] LoveGarden opened #14447 "MPI集群上第一轮训练结束后，报grpc error"
采用fluid v1.1在 cpu集群上训练，在第一轮训练结束时报错，错误如下，并固定复现
[code]

[2018-11-16 06:31] chengduoZH commented on #13809
目前Paddle这边不再继续维护RecordIO，建议大家使用py_reader读取数据。因为使用RecordIO需要用户将数据转成RecordIO格式，并且在大部分模型中用RecordIO的收益并不大。

[2018-11-16 06:31] #13809 closed, assigned to chengduoZH

[2018-11-16 06:33] ghost commented on #14425
![image](https://user-images.githubusercontent.com/35804429/48601561-3e60a280-e9ab-11e8-8be8-2b9a18a3e3b0.png)
Crash地址：07ee2cf

反汇编lac二进制文件后，该地址对应的汇编指令为：vpand
![image](https://user-images.githubusercontent.com/35804429/48601670-91d2f080-e9ab-11e8-975c-03dcda6e56e6.png)

而使用vpand指令的唯一intrinsic function是__m256i _mm256_and_si256 (__m256i a, __m256i b)。
见这个链接（https://software.intel.com/sites/landingpa

[2018-11-16 06:34] xuzhenglei1991 opened #14448 "fluid.io.get_inference_program 接口报错"
当前版本为v1.1.0.
使用如https://github.com/baidu/lac中的步骤安装paddle、python 编译fluid、拉取lac代码，编译LAC，最后执行train.py的时候fluid.io.get_inference_program 接口报错

[2018-11-16 06:35] xuzhenglei1991 commented on #14448
python/paddle/fluid/io.py 文件中也没有对该函数的定义

[2018-11-16 06:48] Xreki commented on #14448
`get_inference_program`这个接口在develop分支上已经删掉了。建议用户直接用api定义自己的inference program。

[2018-11-16 06:52] tensor-tang commented on #14425
赞，思路非常清楚。

`_mm256_and_si256((__m256i)mask, _mm256_set1_epi32(i))); ` 这个函数被使用的地方是在AVX2的宏下，所以还是说明在编译的时候打开的avx2

https://github.com/PaddlePaddle/Paddle/blob/d971d5b875e793c44e3f3b37565a91145b000a97/paddle/fluid/operators/math/jit_kernel_crf_decode.cc#L272-L276

[2018-11-16 06:56] yma-admin commented on #14448
建议@kuke 看看，用户按照LAC的安装文档跑，跑不通。需要优化文档。

[2018-11-16 06:57] kuke commented on #14448
好的 我给NLP的同学反馈下

[2018-11-16 07:06] toddwyl commented on #14172
@reyoung
This is my Repositories [triple_gan_paddle](https://github.com/strawsuper/Triple-GAN-paddlepaddle)
I think there are some wrong in the gaussian_noise_layer of C model.
[code]
I have no idea where is the issue.
Thanks a lot:+1:

[2018-11-16 07:45] JingY0604 opened #14451 "安装了标准的paddle镜像，在镜像中编译paddle报异常"
[code]

/paddle/build/CMakeFiles/CMakeError.log 中的error：
[code]

[2018-11-16 08:06] Xreki commented on #14451
`CMakeError.log`中的内容与你的错误无关。能否贴下详细的命令？

[2018-11-16 08:18] jaegerstar opened #14453 "EnforceNotMet错误"
在做推断时候发生错误，前面样本推断得都没问题，到了中间某个样本就出现了这个，把那个样本删除掉还是同样的错误。
[code]

[2018-11-16 08:49] Xreki commented on #14443
1. Did you run the program? Memory will not be allocated until you run the program.

2. A default scope will be used if no user-defined scope is specified. If you run under `with fluid.scope_guard(some_scope)`, then `some_scope` is the default scope. Just ensure `exe.run` is called under the same scope.

[2018-11-16 08:51] JingY0604 commented on #14451
[CMakeError.log](https://github.com/PaddlePaddle/Paddle/files/2588548/CMakeError.log)

[2018-11-16 08:52] tpatejko commented on #14446
@luotao1 I'm working on this issue.

If you want, I can share my branch with you, so you can test whether the new version on the pass works with your models.

[2018-11-16 08:55] JingY0604 commented on #14451
bash -x /paddle/paddle/scripts/paddle_build.sh build

[2018-11-16 08:55] Xreki commented on #14453
直接拿那一个样本做推断会出错吗？

[2018-11-16 09:06] Xreki commented on #14451
再贴一下完整的输出信息吧。另外，你有修改Paddle源码或者CMakeLists.txt文件吗？

[2018-11-16 09:07] jaegerstar commented on #14453
@Xreki 不出错，基本可以排除是样本的问题

[2018-11-16 09:24] Xreki commented on #14451
https://github.com/PaddlePaddle/Paddle/blob/1722678258fab032676bbd63aa3f95e6e925d1e4/paddle/fluid/operators/CMakeLists.txt#L335-L340

CMakeLists.txt重复添加了warpctc_op。

[2018-11-16 09:25] JingY0604 commented on #14451
都没有改过，需要怎么修改呢？

[2018-11-16 09:27] Xreki commented on #14451
可暂时注释`paddle/fluid/operators/CMakeLists.txt`文件中第335-339行，我们会尽快修复这个问题。

[2018-11-16 09:46] jshower commented on #14448
已对train.py进行了修改，可以在paddlev.1.1版本下运行。

[2018-11-16 10:53] luotao1 commented on #14446
@tpatejko OK, or you can create a PR for us.

[2018-11-16 11:23] tpatejko commented on #14446
@luotao1 I created a PR with the implementation:
https://github.com/PaddlePaddle/Paddle/pull/14458

Please take into account that this is still work in progress. I need to add unit tests for projection connection, and probably refactor the code. However, I think you could try to use it and check whether it solves your problem.

I checked it with Resnet50 and with SE-Resnext. I also checked it with

[2018-11-16 13:06] xiaolv3366 opened #14462 "paddle可以自定义损失函数吗？"
paddle 自定义损失函数

Keras可以自定义损失函数，其他框架也是可以的，paddle可以自定义损失函数吗？

着急。

[2018-11-16 14:30] wangguibao commented on #14392
登录到用户提供机器环境上编译调试，发现原因是由于第三方库grpc在make install阶段，install public C++ files时候，将所有C++ header通过Makefile的foreach展开后写到一行命令了:
build/third_party/grpc/src/extern_grpc/Makefile:
[code]

展开以后的命令行，加上环境变量等参数，超出了系统execve能接受的命令行参数大小：
[code]

解决办法：将工作目录和安装目录尽量放在系统较浅的路径，例如放到/home/xxx/Paddle，再用下面cmake命令：
[code]

[2018-11-17 00:06] hshen14 opened #14466 "Overhead of weight variable creation during inference"
In current implementation, each iteration for inference will re-create weight variables. I ran the CAPI on ResNet-50 with BS=1 and found the overhead of variable creation is 2% (most are malloc).

Could you please explain whether it is a known issue or there are some usage issues at my side? Thanks. @luotao1 @Superjomn @panyx0718

Variable* Scope::VarInternal(const std::string& name) {
  auto* v =

[2018-11-17 08:51] zhengzhe97 opened #14470 "Enforce failed."
EnforceNotMet: Enforce failed. Expected param_dim == ctx->GetInputDim("Velocity"), but received param_dim:19 != ctx->GetInputDim("Velocity"):35.
Param and Velocity of MomentumOp should have the same dimension. at [/paddle/paddle/fluid/operators/momentum_op.cc:48]
PaddlePaddle Call Stacks:
0       0x7fb054c76426p paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::exception_ptr, ch

[2018-11-17 12:21] #14470 closed, assigned to nobody

[2018-11-18 13:57] Ouyangtengfang opened #14476 "我在运行物体检测（SSD模型）的demo时候报错"
错误信息如下，请帮忙解决，谢谢！

[code]

[2018-11-18 15:06] cjld opened #14477 "ParallelExecutor stucks when fetch large array"
Here is an example shows how ParallelExecutor gets stuck.
[code]
ParallelExecutor will stuck at the about 10th to 500th step, It seems that the fetch operation and nccl function have deadlock.

When I set the 'strategy.num_threads = 1', It ran without any problem.

my runtime environment:
paddle version: latest(develop)
nccl version: 2.3.7
cuda version: 9.0
cudnn version: 7.0
GPU driver version: 3

[2018-11-19 02:07] qingqing01 commented on #14476
[code]

从错误来看是数据没有读取正确，返回的是None的。 可以在`reader.py`里下面两处，打印检查下数据：

数据产生的地方：https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/reader.py#L221
Python多进程加速的地方：https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/reader.py#L322

[2018-11-19 02:57] tink2123 opened #14478 "Python API注释优化需求"
### 背景：

  PM文档方向于近期走查了Paddle API Reference文档（基于v1.1），总结共计78个python api注释中存在以下问题：

  1） 文字描述较少、抽象，很难理解
  2） 参数说明错误或不齐全
  3） 代码示例错误或不齐全
  4） 格式混乱

其中代码示例错误和格式混乱的问题共计42个，将由PM进行修复
剩余问题总结如下，辛苦研发老师支持修复

**由于API文档对用户使用体验影响较大，我们将提升此项工作的优先级，期望在v1.2前修复，并随v1.2上线**

## 需要研发老师支持修复的API注释

###  一、文字描述较少、抽象，很难理解

1. [_switch_scope](https://github.com/PaddlePaddle/Paddle/blob/0abfbd1c41e6d558f76252854d4d78bef581b

[2018-11-19 07:28] CruiseSun opened #14482 "请问这里为什么要加一个fc层？"
https://github.com/PaddlePaddle/models/blob/7852d0604d9c4d82778ef1c705dbcfd904eecadf/fluid/PaddleRec/gru4rec/train.py#L47

[2018-11-19 07:57] frankwhzhang commented on #14482
http://paddlepaddle.org/documentation/api/zh/1.0/layers.html#permalink-34-dynamic_gru
这是dynamic_gru的文档说明，根据这个op的设计 需要在dynamic_gru op之前加一层fc ，可以理解为一个逻辑单步分成了两步实现的

[2018-11-19 12:24] #14446 closed, assigned to tpatejko

[2018-11-19 13:53] zenghsh3 commented on #12176
请问现在支持docker编译python3.6版本（最新Paddle源码）？

[2018-11-19 14:54] pango99 opened #14494 "PaddlePaddle平台有提供C++语言的API吗？"
如题，有提供吗？

[2018-11-20 02:23] sonofaeolus opened #14495 "sequence_pool出错"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-11-20 02:24] sonofaeolus commented on #14495
1 import paddle.fluid as fluid
  2 import paddle
  3 import numpy as np
  4
  5 data = fluid.layers.data(name = 'X', shape = [1], dtype = 'float32', lod_level = 1)
  6 data_tmp = fluid.layers.data(name = 'Y', shape = [10,10], dtype = 'float32', lod_level = 1)
  7 #hidden = fluid.layers.fc(input=data, size=10, act = 'softmax')
  8 #out = fluid.layers.sequence_expand(x = data, y = data_tmp)
  9 sum

[2018-11-20 02:24] frankwhzhang commented on #14482
经与用户沟通，问题已解决，先关闭这个issue，如有问题可以重开。

[2018-11-20 02:24] #14482 closed, assigned to frankwhzhang

[2018-11-20 02:25] sonofaeolus commented on #14495
Traceback (most recent call last):
  File "test.py", line 18, in <module>
    outs = exe.run(feed={'X': x, 'Y' : y}, fetch_list=[sum])
  File "/home/wangxiaoyu/python27_fluid/lib/python2.7/site-packages/paddle/fluid/executor.py", line 470, in run
    self.executor.run(program.desc, scope, 0, True, True)
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected lod.size() == 1UL, but received lod.s

[2018-11-20 02:36] yuanzfy opened #14496 "paddlecloud执行训练任务卡住"
使用paddlecloud提交任务，任务会出现假死状态，有某一个或多个训练节点CPU利用率很高，但是看不到任何日志，已经找paddlecloud同学排查过，没有发现异常日志，求关注下：
任务链接：http://paddlecloud.baidu-int.com/paddle/jobRunInfo?jobId=job-e6c5bf2a1c5c1e30&flag=jobs&groupName=k8s_cpu_demo&groupId=4dddb21c-8b8b-4b61-a8a3-b184d17887d&currentPage=1&currentKey=1
异常节点：￼
![de5c5cd57ee8407d9347e5bed](https://user-images.githubusercontent.com/4515954/48747885-f5149980-ecaf-11e8-9d71-f

[2018-11-20 03:06] TomorrowIsAnOtherDay opened #14498 "[feature request] support for python 3.6+"
Fluid support currently python2.7 and python3.5, but some benchmarks in RL request python3.6,
I tried to install fluid with python3.6 in `pip`, but it showed `no package found`.

Could developers provide package for python3.6 in `pip` so that it could be installed in python3.6 environment.

[2018-11-20 03:08] luotao1 commented on #14494
请参考 [预测部署](http://www.paddlepaddle.org/documentation/docs/zh/1.1/user_guides/howto/inference/index.html)

[2018-11-20 03:10] TomorrowIsAnOtherDay commented on #14416
We found the top2 rules are unnecessary in multi-thread, which means that following the 3rd rule we could make our multi-thread code work, even in the complicated network.

@velconia Hope this information will be helpful for you.

[2018-11-20 04:25] lovetimil commented on #12499
大规模稀疏id只能embedding吗，有支持sparse LR处理方式吗？不过把emb当成LR的W也能曲线救国。

[2018-11-20 04:31] seiriosPlus commented on #14495
data do not have```LoD```,  refer: http://paddlepaddle.org/documentation/docs/zh/1.1/user_guides/howto/prepare_data/lod_tensor.html

[2018-11-20 05:06] #14174 closed, assigned to nobody

[2018-11-20 05:34] lucywsq opened #14501 "求助,怎么把原始数据灌入到模型里去?"
![1](https://user-images.githubusercontent.com/38712162/48753398-c6ef8380-ecc8-11e8-9995-f74affb31a77.png)

![2](https://user-images.githubusercontent.com/38712162/48753249-4466c400-ecc8-11e8-9133-2a760905d663.png)

每个文件的数据内容:我有很多这种csv格式的文件,我想借用cnn对图片分类识别的方法来分类识别这些文件,每个文件可以理解成为一张图片,用cnn对每个文件的数据进行卷积运算,但是现在不知道怎么把这个源数据灌进去,哪位能指导一下吗?下面是我找的个cnn识别手写数据的代码,最好能帮我改一下代码,将图片数据替换成我的csv数据,谢谢!

##################

[2018-11-20 05:49] wangguibao commented on #14378
代码已修复，issue回复和内部分别通知用户去用最新版本复现。用户一周无回复，issue先关闭了。

[2018-11-20 05:49] #14378 closed, assigned to wangguibao

[2018-11-20 07:15] 930083287 opened #14504 "Vgg预测多进程超时"
问题描述：
内存中有两个进程，当A进程初始化paddle，并使其常驻内存；用B进程初始化paddle，当才用vgg网络预测阶段出现hold的情况，请帮忙解决？

[2018-11-20 07:19] seiriosPlus commented on #14504
A进程在做什么工作呢，是B进程进行VGG网络预测的时候出现HOLD？

[2018-11-20 07:23] 930083287 commented on #14504
我们采用uwsgi的方式，生成多个进程任务，比如A和B两个进程，首先利用A进程初始化paddle，并完成预测操作，但是A进程保持长驻进程；然后利用B进程初始化Paddle，并预测分类操作，在预测阶段会hold住，很长时间没有结果

[2018-11-20 07:25] seiriosPlus commented on #14504
能不能开一下日志级别， 看看进程B hold在了哪里

[2018-11-20 07:25] seiriosPlus commented on #14504
export GLOG_v=4
    export GLOG_logtostderr=1

[2018-11-20 07:41] yeyupiaoling commented on #14501
@lucywsq 可以参考这个：https://github.com/yeyupiaoling/LearnPaddle/blob/master/note4/code/MyReader.py

[2018-11-20 07:44] jacquesqiao opened #14505 "使用reduce_sum作为loss的时候，parallel_exe不能对loss 除以CPU_NUM"
目前parallel_executor多cpu_num的模式下，默认对每一个loss都除以CPU_NUM，这个做法在使用reduce_mean作为loss layer的时候是没问题的:
例如，如果batch_size = 6，每个cpu分到的batch_size = 2,
如果只有一个cpu，那么loss为  loss / 6， 当 CPU_NUM = 3的时候，三个loss都为  loss1 / 2, loss2/ 2, loss3/ 2, 这时候如果想和CPU_NUM = 1等价，应该对每个loss再除以3，

但是当使用reduce_sum作为loss的时候，直接把loss加起来就行了，不需要除以CPU_NUM!

### 临时方案
可以在reduce_sum得到的loss scale一下cpu_num

[2018-11-20 08:05] yeyupiaoling opened #14506 "在写强化学习例子时出现错误"
我写了这个程序：https://github.com/yeyupiaoling/LearnPaddle2/blob/master/note7/DQNetwork.ipynb

参考这里：https://github.com/PaddlePaddle/models/tree/develop/fluid/DeepQNetwork 写的

报错：
[code]

请老师指导一下，我该如何修改。谢谢

[2018-11-20 09:20] wojtuss commented on #14016
@luotao1 , thank you!

[2018-11-20 09:20] #14016 closed, assigned to luotao1

[2018-11-20 09:23] TheodoreG opened #14509 "How to get variable value from an inference model?"
I use following code to get inference model and parameters from a saved model and I know here is a Variable called 'conv2d_9.w_0':
[code]
How can I  get the exact numpy array value from this variable?

[2018-11-20 09:27] seiriosPlus commented on #14509
You can try this:
[code]

[2018-11-20 10:04] #14074 closed, assigned to luotao1

[2018-11-20 10:41] 930083287 commented on #14504
因为我们要考虑多进程并发，reset_parser()这个函数不是很明白，简单尝试下，好像并不能解决我的问题

[2018-11-20 10:51] TheodoreG commented on #14509
Thanks I lot. Now I got another problem.
[code]
First I got above outputs[0] value as which seems normal:
[code]
But when I try to load the inference model and use the same input value:
[code]
I got:
[code]
 which seems very wired. But I can find that the Variable values of 'conv2d_9.w_0' in above two cases are the same.
What kind of wrong should I have made?

[2018-11-20 11:02] zenghsh3 commented on #14506
https://github.com/PaddlePaddle/models/tree/develop/fluid/DeepQNetwork 这里有DQN例子，可以看下有没帮助

[2018-11-20 11:04] zenghsh3 opened #14510 "unsqueeze op 不支持int32类型"
[code]

异常信息如下：
[code]

[2018-11-20 11:17] yeyupiaoling commented on #14506
@zenghsh3 我就是参考这个例子写的

[2018-11-20 11:21] TheodoreG commented on #14509
Or Is there any way to print every output of each operator which could help me find the difference?

[2018-11-20 11:29] zenghsh3 commented on #14506
不好意思==，应该是one_hot这个op的输入需要是2维的，而你的batch_action的size是(32,)，应该expand成（32, 1）

[2018-11-20 11:40] yeyupiaoling commented on #14506
@zenghsh3 我修改了一下，错变成这样了。您可以看更新后的代码

[code]

[2018-11-20 11:44] zenghsh3 commented on #14506
错误信息显示elementwise_op的两个输入维度不匹配：EnforceNotMet: Enforce failed. Expected x_dims[i + axis] == y_dims[i], but received x_dims[i + axis]:4 != y_dims[i]:2.

你要学会自己看错误信息，然后分析是哪里有问题==

[2018-11-20 11:47] zenghsh3 commented on #14506
fluid.layers.elementwise_mul(action_onehot, model)
这里的action_onehot应该是（32，4）,model 应该是（32，2）,这两个variable应该不能直接elementwise操作吧

[2018-11-20 11:47] yeyupiaoling commented on #14506
@zenghsh3  我很努力看错误信息了，我看了一下午。看了官方的例子，感觉没错啊

[2018-11-20 11:52] zenghsh3 commented on #14506
你的Q网络（model）输出按理说应该也是action_dim=4吧，而不应该输出是2
[code]

[2018-11-20 11:55] yeyupiaoling commented on #14506
@zenghsh3 因为action只有0和1，所以应该是2。还有我刚才打印了一下，fluid.layers.elementwise_mul(action_onehot, model)里面的action_onehot和model的shape都是（-1， 4）

[2018-11-20 11:58] yeyupiaoling commented on #14506
@zenghsh3 好像不是，model我刚刚修改了

[2018-11-20 11:59] zenghsh3 commented on #14506
如果action_dim=2，one_hot这里应该是2
[code]

[2018-11-20 12:00] yeyupiaoling commented on #14506
@zenghsh3 对，我修改了

[2018-11-20 12:03] yeyupiaoling commented on #14506
@zenghsh3 好像可以训练了，但还有个小问题，我先看看

[2018-11-20 13:41] cjld commented on #14477
After I upgrade the driver to 415, this issue still exists.

Test on 2 Titan Xp, one gpu is 100% and the other is 0%:

![image](https://user-images.githubusercontent.com/4838354/48776868-f4a9ec00-ed0b-11e8-86f5-fc3c647327b9.png)

partial trace back of gdb:
It is strange that thread 15 has infinit loop in `clock_gettime`, this thread is runing fetch operations. It seems that the deadlock happend be

[2018-11-20 13:48] cjld opened #14514 "Support CUDA 10"
Currently, the paddle is compiled by cuda9. It causes RTX series ran slowly(40% slower).
We have to support CUDA 10 for Mining the performance of RTX series.

[2018-11-21 02:09] SoonNOON commented on #14514
I hope we see full support for CUDA 10 very soon.

[2018-11-21 02:29] reyoung commented on #14496
如果CPU占用率很高的话，那其实并没有死锁，说明还在计算。

[2018-11-21 02:33] Kayven opened #14516 "询问几个模型接口问题，谢谢"
1、paddle中如何生成一个随机初始化的embedding（用来自学习一个中间向量）

2、mpi集群上paddle.v2 layer和networks中都没有dot_prod（本地测试有），请问有什么替代接口吗
https://github.com/PaddlePaddle/Paddle/issues/9362 （前面有人问过，说是networks有，但仍然没有
）

3、paddle layer接口中看到有seqreshape，但是执行中提示没有
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/trainer_config_helpers/layers.py#L1865 （本地机器源码中也有这个接口）

[2018-11-21 02:54] #8072 closed

[2018-11-21 03:08] mapingshuo commented on #14510
HongSheng你好，将 axes=0 改为 axes=[0]试试。

[code]

[2018-11-21 03:22] zenghsh3 commented on #14510
不好意思==没注意到axes只支持list，谢谢

[2018-11-21 03:22] #14510 closed, assigned to mapingshuo

[2018-11-21 05:53] mapingshuo commented on #14495
@sonofaeolus I recommend using the fluid.DataFeeder, it will convert a numpy tensor to lod tensor automatically：

[code]

[2018-11-21 06:01] TheodoreG opened #14521 "What is the best way to read Program desc?"
Now I know that a Program in Fluid has a description file which contains information about the whole network structure. But when I print this Program  I got the description on screen which is too long to be read.  I'm not pointing to the model file such as __model__ because this is the serialized string format. What is the easiest way to make this file into human readable format?

[2018-11-21 06:09] sonofaeolus commented on #14495
thank u

[2018-11-21 06:09] #14495 closed, assigned to nobody

[2018-11-21 06:17] mapingshuo commented on #14462
你好，我觉得直接使用其他layer组出来一个loss即可，但我也没有实践过 :) 你的loss是什么公式？

[2018-11-21 06:22] gongweibao commented on #14521
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_program_code.py

[2018-11-21 06:35] #14521 closed, assigned to nobody

[2018-11-21 06:52] guoshengCS commented on #14516
V2中随机初始化可以通过param_att设置，可以参考这里 https://github.com/PaddlePaddle/models/blob/develop/legacy/sequence_tagging_for_ner/network_conf.py#L19
dot_prod和seqreshape应该都是由于集群中Paddle版本的问题，替代的接口应该还没有

推荐使用Fluid版本，v2支持的模型Fluid中应该都能够更方便的支持

[2018-11-21 06:58] Kayven commented on #14516
多谢 @guoshengCS
第一个问题，我其实是想实现类似tensorflow这样的
u_omega = tf.Variable(tf.random_normal([atten_size], stddev=0.1, dtype=tf.float32))

但是paddle里需要指定input，我并没有input；我只需要一个随机向量，而且这个向量可以训练，需要与另外一个embedding做运算
word = paddle.layer.data(
        name="word",
        type=paddle.data_type.integer_value_sequence(word_dict_len))
    word_embedding = paddle.layer.embedding(
        input=word,
        size=word_d

[2018-11-21 07:50] yeyupiaoling commented on #14506
@zenghsh3 请问一下[这个行代码](https://github.com/PaddlePaddle/models/blob/b3a769f5befc300321be67c29a7a7c35434d5a06/fluid/DeepQNetwork/DQN_agent.py#L56)作用是什么？
[code]

[2018-11-21 08:09] AIRedWood opened #14525 "关于数据集.zip格式的访问问题"
请问一下，我的数据集是.zip格式的文件，请问在代码中应该如何读取，还是需要先解压？

[2018-11-21 08:16] #14113 closed, assigned to nobody

[2018-11-21 08:39] zenghsh3 commented on #14506
回传梯度过程中，到best_v这个节点时停止回传梯度

[2018-11-21 08:41] yeyupiaoling commented on #14506
@zenghsh3 好像取消也没有关系吧？我取消好像影响不大

[2018-11-21 08:58] zenghsh3 commented on #14506
DQN算法中，target Q网络是不做梯度更新（学习）的

[2018-11-21 08:59] yeyupiaoling commented on #14506
@zenghsh3 好的。明白了。谢谢老师的耐心解答。

[2018-11-21 08:59] #14506 closed, assigned to nobody

[2018-11-21 11:24] jaegerstar commented on #14453
@Xreki 之前样本定位错误，准确的样本单独跑确实出问题，样本如下：
[code]
能帮忙看看原因吗

[2018-11-21 12:47] cjld commented on #14477
Interest, Cuda 8 works fine.

[2018-11-21 13:17] toddwyl opened #14528 "How to use multiple item data reader creator?"
When I yield multiple item, and wrapper for batch, I can not get multiple item by using **next(reader)**.
I got this **issue**:
[code]
This is my code:
[code]

I find the [doc](http://www.paddlepaddle.org/documentation/docs/zh/1.1/api/data/data_reader.html#id1) of paddlepaddle which yield multiple item data.
[code]
So **How is the correct way using yield for multiple item?**

[2018-11-22 02:25] yeyupiaoling commented on #14525
@AIRedWood 可以试试使用`zipfile`库来打开

[2018-11-22 02:33] yeyupiaoling opened #14531 "使用强化学习训练小车游戏分数一直上不去"
我使用强化学习训练一个小游戏，如下：
![image](https://user-images.githubusercontent.com/26297768/48878268-b6aee400-ee41-11e8-82dd-79d01a305cf7.png)

jupyter代码：https://github.com/yeyupiaoling/LearnPaddle2/blob/master/note7/DQNetwork.ipynb

训练时，分数一直上不去。使用同样的tensorflow代码，可以有400多分，而且分数相对稳定一些。
请问老师，这是什么原因呢？

[2018-11-22 02:43] zhouhoukui opened #14532 "SRCNN网络-超分辨率重建，项目运行错误，怎么解决？"
aistudio里面的经典论文重现项目-SRCNN网络-超分辨率重建，在aistudio里面运行正常，在自己的电脑里面运行出现如下错误：（电脑配置16GB内存，ubuntu14.04系统，安装的paddlepaddle-gpu版，程序中没有使用GPU）
出错代码
model = SRCNN(0.01, 0.001, 50, 15)
model.train()
错误信息：
[code]

[2018-11-22 02:45] LihangLiu opened #14533 "ValueError: Operator "gen_nccl_id" has not been registered."
我在跑多机多卡的时候碰到了 ValueError: Operator "gen_nccl_id" has not been registered 的错误，

    config = fluid.DistributeTranspilerConfig()
    config.mode = "nccl2"
    t = fluid.DistributeTranspiler(config=config)
    t.transpile(trainer_id, trainers=trainers, current_endpoint=current_endpoint)

具体错误如下：

    Traceback (most recent call last):
      File "train.py", line 442, in <module>
        main(args, co

[2018-11-22 02:49] LihangLiu commented on #14533
版本是fluid1.1

[2018-11-22 03:07] zyz282994112 opened #14534 "v2版本使用factorization_machine出错"
数据输入为sparse_binary_vector时，代码可以正常运行，将多个sparse_binary_vector concat后，运行时会出“F1122 11:02:32.585233  6142 BaseMatrix.cu:91] Check failed: !b.isSparse() Sparse Matrix/Vector is not supported.F1122 11:02:32.591529  6143 BaseMatrix.cu:91] Check failed: !b.isSparse() Sparse Matrix/Vector is not supported.F1122 11:02:32.596053  6144 BaseMatrix.cu:91] Check failed: !b.isSparse() Sparse Matrix/Vector is not

[2018-11-22 03:42] #14525 closed, assigned to nobody

[2018-11-22 03:47] gongweibao commented on #14528
![image](https://user-images.githubusercontent.com/10721757/48880666-68531280-ee4c-11e8-8c5a-223d34fa4cd0.png)

[2018-11-22 04:11] guoshengCS commented on #14516
V2中貌似没有暴露创建可训练参数的接口，可训练的参数好像都是在layer内部创建的，可能没办法实现，Fluid是支持的

[2018-11-22 04:31] Yancey0623 commented on #14477
Great! Glad to hear that. I will close this issue, please feel free to reopen it if any update.

[2018-11-22 04:31] #14477 closed, assigned to reyoung, Yancey0623, chengduoZH, sneaxiy

[2018-11-22 05:02] LihangLiu commented on #14109
我也碰到了Check failed: dynload::ncclGroupEnd() == ncclSuccess (1 vs. 0) 的问题，因为按照[#13599](https://github.com/PaddlePaddle/Paddle/issues/13599) 将num_thread=1。

    F1122 12:57:04.196161 22202 nccl_helper.h:62] Check failed: dynload::ncclGroupEnd() == ncclSuccess (1 vs. 0)
    *** Check failure stack trace: ***
        @     0x7fd3677641ed  google::LogMessage::Fail()
        @     0x7fd367767c9c  google:

[2018-11-22 06:10] cjld commented on #14477
Thanks to @sneaxiy , He found that `unset NCCL_LAUNCH_MODE` can fix this issue.

[2018-11-22 06:18] linan142857 opened #14539 "Throw the `Aborted at 1542866570 (unix time) try "date -d @1542866570" ` while executing sequence_softmax"
**error**

*** Aborted at 1542866570 (unix time) try "date -d @1542866570" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0xfffffffffffffff0) received by PID 19008 (TID 0x7f2b1dcf2740) from PID 18446744073709551600; stack trace: ***
    @     0x7f2b1d4ed130 (unknown)
    @     0x7f2adba24e87 paddle::operators::SequenceSoftmaxKernel<>::Compute()
    @     0x7f2adba25

[2018-11-22 06:56] kuke commented on #14539
The usage of `sequence_slice` seems fine. Maybe the error results from reading empty data in while loop, please have a try to check the boundary condition.

[2018-11-22 07:00] kuke commented on #14533
Solved by `-DWITH_DISTRIBUTE=ON` in cmake

[2018-11-22 07:00] #14533 closed, assigned to kuke

[2018-11-22 07:04] kuke commented on #14528
This is because the return of `next(THR_reader)` is a list with length 16, and each element is a tuple yield by the reader. Try these code:

[code]

[2018-11-22 07:17] kuke commented on #13825
Closed due to inactivity

[2018-11-22 07:17] #13825 closed, assigned to kuke

[2018-11-22 07:18] kuke commented on #14039
Closed due to inactivity

[2018-11-22 07:21] kuke commented on #14052
看起来是nccl的报错，请问nccl是怎么安装的呢

[2018-11-22 07:29] kuke commented on #14170
@beacandler 请问这个问题最后是否解决，如果还有问题的话还请贴一下完整代码

[2018-11-22 07:31] kuke commented on #14532
应该是paddle环境的问题，请问本地的Fluid版本是多少？

[2018-11-22 07:32] linan142857 commented on #14539
**The batch_size is set to 2 and the slice-length is set as 3.**
_fluid.layers.Print(attention_weights)
attention_weights = fluid.layers.sequence_softmax(input=attention_weights)_

The attention_weights is printed, which seems fine.

=============================
 % (self.__class__.__name__, self.__class__.__name__), Warning)
**1542871432		Tensor[fc_6.tmp_0]
	shape: [6,1,]
	dtype: f
	data: -0.1029

[2018-11-22 07:47] lucywsq commented on #14501
好的感谢~

[2018-11-22 07:47] #14501 closed, assigned to nobody

[2018-11-22 08:02] kuke commented on #14531
@yeyupiaoling  没有在你的配置里面看出什么问题，这个网络相对简单，可以把初始化设置为tensorflow完全一样，然后对比一下中间结果

[2018-11-22 08:05] yeyupiaoling commented on #14531
@kuke 都不一样。请问我的网络是否正确？我根据tensorflow和PaddlePaddle下的models下的强化学习修改的，不支持整个网络是否正确，比如损坏函数那一块。

[2018-11-22 08:07] kuke commented on #14531
比如你可以只比较前向，将fc的参数都初始化为某个常数，损失函数也可以换成一样的

[2018-11-22 08:09] kuke commented on #14534
https://github.com/PaddlePaddle/Paddle/blob/e26f51ce74e998c4119fc2c3145aa7c1224c2170/doc/v2/faq/local/index_cn.rst#加速训练速度

请参考这里，把fc的参数更新方式设成`sparse_update=True`试试

[2018-11-22 08:11] yeyupiaoling commented on #14531
@kuke

这是什么意思？

损失函数我按照tensorflow的，这是在求平均损失时，我使用的是`fluid.layers.reduce_mean(cost)`
以前在其他任务上，我使用的是`fluid.layers.mean(cost)`
这有影响吗？我看PaddlePaddle的demo是使用`fluid.layers.reduce_mean(cost)`的

[2018-11-22 08:15] yeyupiaoling commented on #14531
@kuke 关于在这个任务上，有比较好的处理方法了，可以稳定训练结果，还提高训练分数。

[2018-11-22 08:18] kuke commented on #14531
比较前向指的是网络forward逐层的计算结果

可用print layer

https://github.com/PaddlePaddle/Paddle/blob/8965cee89f83f2d2d4d403e0908232a2810e3149/python/paddle/fluid/tests/unittests/test_print_op.py#L38

cost的计算方式是正确的

[2018-11-22 08:29] yeyupiaoling commented on #14531
@kuke 除了加深网络深度和增加每个全连接层的单元数量，还有其他什么办法提高网络的性能吗？

[2018-11-22 10:06] linan142857 commented on #14539
The core is located. the LoDtensor will lost its lod after passing fc-layer. I remove the fc and it runs ok.

[2018-11-22 10:07] #14539 closed, assigned to kuke

[2018-11-22 11:22] sonofaeolus opened #14544 "holder_ should not be null"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-11-22 11:23] sonofaeolus commented on #14544
Traceback (most recent call last):
  File "0.ptr_multi.py", line 114, in <module>
    loss_val = exe.run(main_program, feed = feeder.feed(data), fetch_list = [all_loss])
  File "/home/wangxiaoyu/python27_fluid/lib/python2.7/site-packages/paddle/fluid/executor.py", line 470, in run
    self.executor.run(program.desc, scope, 0, True, True)
paddle.fluid.core.EnforceNotMet: holder_ should not be null

[2018-11-22 11:26] sonofaeolus commented on #14544
前向计算 使用fluid.layers.Print 可以完成 但是之后报这个bug

[2018-11-22 11:30] kuke commented on #14544
可以把你的配置贴一个么

[2018-11-22 11:31] sonofaeolus commented on #14544
好的 稍等下

[2018-11-22 11:31] kuke commented on #14531
学习率，优化方法等等，都可以试试

[2018-11-22 11:33] sonofaeolus commented on #14544
[code]

[2018-11-22 11:34] sonofaeolus commented on #14544
已经贴了

[2018-11-22 13:30] kuke commented on #14544
@sonofaeolus 可能的原因是在RNN里面`state_now`没有接输出，导致最后一个时间步`state_now`悬空了，不能传回梯度，导致ReLU的反向出错。

有个办法可能可以绕过这个问题，即在RNN里面只计算`state_now`并作为输出，`att_weight`可以放在RNN外面计算

[2018-11-22 14:30] yeyupiaoling commented on #14531
@kuke 好的，谢谢老师耐心解答。

[2018-11-22 14:30] #14531 closed, assigned to kuke

[2018-11-22 14:38] #14448 closed, assigned to kuke

[2018-11-23 02:09] Xreki commented on #14453
网络是什么样的？先检查一下该样本数据有没有问题吧？

[2018-11-23 02:31] Xreki commented on #14447
线下由@Yancey1989 老师帮忙解答。
问题详情：
1. 任务使用fluid v1.1，用paddlecloud提交。
2. train一个pass跑完挂了，没有save，没有test

经分析，原因应为：psever没有报错，trainer get超时了。不是端口冲突问题。任务没有hang住，有的节点跑完退出了，而0号节点一直在等待。通过调用`exe.close()`解决。

多谢@Yancey1989 @jacquesqiao @seiriosPlus 三位老师的悉心解答。

[2018-11-23 02:33] #14447 closed, assigned to nobody

[2018-11-23 02:37] #14494 closed, assigned to luotao1

[2018-11-23 02:37] Xreki commented on #14451
Fixed in #14413

[2018-11-23 02:37] #14451 closed, assigned to nobody

[2018-11-23 03:33] shijiaxin opened #14554 "请问Paddle如何添加fusion的op"
现在我们在Paddle里新增一种Place，实现了相应的Kernel。
现在希望能提高inference时候的性能，比如将conv和bn的kernel做kernel fusion，用一个kernel实现。
请问paddle是否支持？如果支持的话，需要如何新增代码？

[2018-11-23 03:40] chengduoZH commented on #14554
为什么要新增Place呢？ 在Fluid的设计中，Place和内存地址有关，所以对于GPU和CPU分别有CPUPlace和GPUPlace，您新加的这个Place是什么含义呢？

将这两个Op融合之后就变成了新的Op，而不是新的Op Kernel

[2018-11-23 03:44] luotao1 commented on #14554
conv+bn的fuse，现在已经实现了，请参考https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/ir/conv_bn_fuse_pass.cc

[2018-11-23 03:50] shijiaxin commented on #14554
新的Place是对应新的设备，区别与GPU和CPU的某种特殊硬件。
是的，我们就想要有个新的Op。

[2018-11-23 03:54] shijiaxin commented on #14554
好的谢谢。这个是如何实现的，那假如我想要试着跑跑看这个已经实现的版本，该如何修改python脚本呢？能大致说一下吗？以Resnet50为例：https://github.com/dzhwinter/benchmark/blob/master/fluid/resnet50.py

[2018-11-23 04:54] luotao1 commented on #14554
这个是用于C++预测。
python预测请见`inference_transpiler.py`（该接口已不再维护，后续会重新发布）：https://github.com/PaddlePaddle/Paddle/blob/dd6fd4c747df9ad5ffdf0f6eef8ef3683df871cb/python/paddle/fluid/transpiler/inference_transpiler.py#L300

使用方式见：
https://github.com/PaddlePaddle/Paddle/blob/dd6fd4c747df9ad5ffdf0f6eef8ef3683df871cb/python/paddle/fluid/tests/book/test_image_classification.py#L224-L227

[2018-11-23 05:08] qingqing01 commented on #14554
@shijiaxin

一般分2步：

1. 写fusion的op及kernel:

例如： conv+bias+act的fusion: https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/conv_fusion_op.cc
例如： 其他op的fusion:  https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/fluid/operators/fused

2. 写IR Pass做自动融合：

https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/fluid/framework/ir