[2021-04-05 15:45] songsong-L opened #32075 "梯度处理"
能否实现这样一个功能：
现在是这样的：
backward()计算出梯度=>minimize() / step()更新参数
上面这个过程没有提供对梯度的处理api
希望可以这样：
backward()计算出梯度=>处理梯度的api=>minimize(grad_param) / step(grad_param)更新参数可以接受梯度参数，默认可以是backward()计算的梯度，如果有参数传入，则用自己处理过的梯度来更新参数。
您们写框架可能主要考虑自动微分、方便，但是上面所说的功能对于学术人员还是很有用的。
我试图用自定义op实现上述功能，动态图模式下，没有apply_grad()把处理过的梯度放进去。静态图模式下总是报错，还没解决。

[2021-04-05 15:50] littletomatodonkey commented on #32073
你好，
1. 可以先看下num worker=0的时候 是否可以正常运行
2. 如果第一步有问题，可以再检查下数据路径、解析等过程是否存在问题，可以参考这里：https://github.com/PaddlePaddle/PaddleClas/blob/b0fa8dcea9605aa10e8492b6d1245a8b068f0438/ppcls/data/reader.py#L185 使用·try except·的方式 去看下具体有什么报错

[2021-04-05 16:00] littletomatodonkey commented on #32066
你好，以embedding为例，可以使用sparse这个参数，实现稀疏更新

https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/functional/input/embedding_cn.html#embedding

[2021-04-05 16:01] littletomatodonkey commented on #32067
你好，看着是im_info这个var没有被获取到，可以先查看下该变量是否被正确创建并赋值

[2021-04-05 16:11] littletomatodonkey commented on #32069
你好，静态图中可以使用paddle.static.Print() 打印tensor的值( 文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/fluid/layers/control_flow/Print_cn.html#print )；
动态图中，在forward函数中可以直接打印的，也可以使用xx.numpy()，将tensor转为numpy变量。

[2021-04-05 16:12] littletomatodonkey commented on #32068
你好，你的paddle版本是什么呢？我这边用的是2.0.1 没有复现该问题

![image](https://user-images.githubusercontent.com/14270174/113596340-c1622080-966c-11eb-9905-0d569f88d1fc.png)

[2021-04-05 16:13] lixiangjie01 commented on #32069
收到了！谢谢这么晚还在回复！明天试试，辛苦啦，谢谢！

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: littletomatodonkey ***@***.***&gt;
发送时间: 2021年4月6日 00:11
收件人: PaddlePaddle/Paddle ***@***.***&gt;
抄送: lixiangjie01 ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/Paddle] 输出q (#32069)

你好，静态图中可以使用paddle.static.Print() 打印tensor的值( 文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/

[2021-04-05 16:20] littletomatodonkey commented on #32070
你好，在jetson_nano平台上，建议下载安装官网提供的预测库：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_inference_deployment/inference/build_and_install_lib_cn.html

此外，建议在该平台上使用c++进行inference，如果希望使用python，需要自己重新基于该平台编译paddle

[2021-04-05 16:35] littletomatodonkey commented on #32071
你好，该函数在paddle-dev中有，没有包含进paddle2.0，我们也记录更新下文档，感谢反馈，可以参考下面的链接 安装devlop的paddle～

https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2021-04-05 19:07] YueWang1996 opened #32076 "PaddlePaddle是否支持TLS connection between parameter servers and workers"
- 标题：PaddlePaddle是否支持TLS connection between parameter servers and workers
- PaddlePaddle版本：2.0

在官网上没有找到关于TLS连接的相关文档介绍，想问PaddlePaddle是否支持TLS connection between parameter servers and workers。如果支持，是否有官方文档和API介绍？有的话方便贴一下链接吗，谢谢！

[2021-04-06 01:20] lixiangjie01 opened #32077 "你好，静态图中可以使用paddle.static.Print() 打印tensor的值( 文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/fluid/layers/control_flow/Print_cn.html#print )；"
您好！q是作为神经网络的输出，代码如下，打印数组的Q值
～～～
    def _actor_learn(self, obs):
        action = self.model.policy(obs)
        Q = self.model.value(obs, action)
        cost = layers.reduce_mean(-1.0 * Q)
        optimizer = fluid.optimizer.AdamOptimizer(self.actor_lr)
        optimizer.minimize(cost, parameter_list=self.model.get_actor_params())
        return cost
～～～
我想将其作为数组打印，使用paddle.static.Print需要将paddle

[2021-04-06 01:29] lixiangjie01 commented on #32077
我的原有paddlepaddle版本是1.6.3，能不能在1.6.3来将Q转为Numpy输出呢？

[2021-04-06 02:00] yinhaofeng commented on #32058
aistudio上应该是不支持自定义op的，自定义op需要在op编写完成后重新编译，安装paddle才能生效。但是在aistudio中我们没有给您sudo权限，您是无法编译的，所以会找不到so文件。

[2021-04-06 02:03] yinhaofeng commented on #32063
你好，paddle的框架会自动进行inplace的操作，不需要用户进行额外的设置

[2021-04-06 02:09] ljayx commented on #32002
@Leonardo-Ding 你好，`export GLOG_v=10`后也还是没有更多log。

[2021-04-06 02:11] yinhaofeng commented on #32057
1. 在aistudio中可以尝试直接使用高级版，并不需要付费只要完成一些简单的新手任务，即可每天登录获得时长。高级版拥有更大的内存供您使用。
2. 开启以下三个选项：
#一旦不再使用即释放内存垃圾，=1.0 垃圾占用内存大小达到10G时，释放内存垃圾
export FLAGS_eager_delete_tensor_gb=0.0
#启用快速垃圾回收策略，不等待cuda kernel 结束，直接释放显存
export FLAGS_fast_eager_deletion_mode=1
#该环境变量设置只占用0%的显存
export FLAGS_fraction_of_gpu_memory_to_use=0
3. 尝试减小batchsize以减少显存的使用
4. 详细可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/advanc

[2021-04-06 02:34] ljayx commented on #32002
@Leonardo-Ding 你好，`export GLOG_v=10`后，跑官方的预测库有log，但是我自己编译的预测库没有，编译paddle预测库的时候需要开启什么选项吗？

[2021-04-06 02:34] LiuChiachi commented on #32072
GLUE中的MNLI是个三分类数据集，可以参考PaddleNLP这个[GLUE](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/benchmark/glue)的例子。这里损失函数用的是`CrossEntropyLoss`，可以支持多分类。我理解你问的mlogloss应该就是Paddle里的`CrossEntropyLoss`或者`NLLLoss`吧，可以看下官方文档，[NLLLoss](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/layer/loss/NLLLoss_cn.html#nllloss), [CrossEntropyLoss](https://www.paddlepaddle.org.cn/

[2021-04-06 02:44] songsong-L commented on #32058
不是，我用的是外部定义。
1.8的版本的开发文档里
**_# custom_op.py
import paddle.fluid as fluid
# 调用load_op_library加载动态库
fluid.load_op_library('relu2_op.so')_**
确实加载不了so文件
==============================
2.0给的文档可以加载so文件，
**_# custom_op.py
import paddle.incubate as incubate
# 调用load_op_library加载动态库
incubate.load_op_library('relu2_op.so')_**
单个测试时能用，用在自己项目时又报错：
![image](https://user-images.githubusercontent.com/54927708/11

[2021-04-06 03:03] Aurelius84 commented on #32058
您好，若使用自定义op的旧方案，推荐您使用1.8.5稳定版本；若使用自定义op新的方案，从上面您描述的自定义OP的报错信息来看，应该是gcc/g++未正确配置，可以通过如下命令查看下配置信息：
[code]

[2021-04-06 03:10] #19276 closed, assigned to guoshengCS

[2021-04-06 03:10] #23023 closed, assigned to nobody

[2021-04-06 03:10] #23065 closed, assigned to nobody

[2021-04-06 03:10] #23110 closed, assigned to seiriosPlus

[2021-04-06 03:10] #23129 closed, assigned to nepeplwu, Steffy-zxf

[2021-04-06 03:10] #23132 closed, assigned to wanghaoshuang

[2021-04-06 03:10] #23136 closed, assigned to Steffy-zxf

[2021-04-06 03:10] #23140 closed, assigned to nobody

[2021-04-06 03:10] #23144 closed, assigned to nobody

[2021-04-06 03:10] #23182 closed, assigned to jerrywgz

[2021-04-06 03:10] #23184 closed, assigned to nobody

[2021-04-06 03:10] #23186 closed, assigned to nobody

[2021-04-06 03:10] #23208 closed, assigned to nobody

[2021-04-06 03:10] #23219 closed, assigned to nobody

[2021-04-06 03:10] #23226 closed, assigned to nobody

[2021-04-06 03:10] #23229 closed, assigned to nobody

[2021-04-06 03:10] #23237 closed, assigned to nobody

[2021-04-06 03:10] #23268 closed, assigned to wzzju

[2021-04-06 03:10] #23270 closed, assigned to kolinwei

[2021-04-06 03:10] #23278 closed, assigned to qingqing01

[2021-04-06 03:10] #23283 closed, assigned to phlrain

[2021-04-06 03:10] #23288 closed, assigned to nobody

[2021-04-06 03:10] #23291 closed, assigned to Steffy-zxf

[2021-04-06 03:11] #23307 closed, assigned to nobody

[2021-04-06 03:11] #23311 closed, assigned to nobody

[2021-04-06 03:11] #23342 closed, assigned to nobody

[2021-04-06 03:11] #23349 closed, assigned to xyzhou-puck

[2021-04-06 03:11] #23366 closed, assigned to LDOUBLEV

[2021-04-06 03:11] #23368 closed, assigned to nobody

[2021-04-06 03:11] #23391 closed, assigned to nobody

[2021-04-06 03:13] FlyingQianMM commented on #32067
分割网络里面没有im_info这个输入tensor，请问您是直接使用的paddlex c++部署代码进行预测的吗？是否有做一些修改呢？

[2021-04-06 03:14] #32058 closed, assigned to T8T9

[2021-04-06 03:28] yinhaofeng commented on #32060
看报错是glog的符号没有定义，您是不是没有链接glog？

[2021-04-06 03:28] phlrain commented on #32075
有一种办法可以尝试下，就是参考下 paddle.nn.ClipGradByNorm(clip_norm=1.0) 的实现，把对于梯度的处理 参考 [ClipByGloablNorm](https://github.com/PaddlePaddle/Paddle/blob/release/2.0/python/paddle/fluid/clip.py#L345)的实现 , norm clip 会在backward之后，在step(grad_param)中自动调用

[2021-04-06 04:22] #32075 closed, assigned to littletomatodonkey

[2021-04-06 04:52] wanghaotian233 opened #32085 "加载模型报错：OSError: [operator < uniform_random > error]"
from paddlenlp.transformers import UnifiedTransformerLMHeadModel, UnifiedTransformerTokenizer
model_name_or_path = 'unified_transformer-12L-cn'

model = UnifiedTransformerLMHeadModel.from_pretrained(model_name_or_path)
tokenizer = UnifiedTransformerTokenizer.from_pretrained(model_name_or_path)

报错：OSError:   [operator < uniform_random > error]

环境：
paddle：2.0.1
CUDA：11.0
CUDNN：10.0.130

[2021-04-06 05:09] qili93 commented on #32054
可以尝试一下在环境变量中输出

[code]

[2021-04-06 05:11] gaorui999 commented on #32073
num_worker=0可以正常运行，这个时候GPU显存一共32G(占用4G)，应该也不是爆显存的问题

[2021-04-06 05:13] qili93 commented on #32056
@ronaldpan 请问能发一下“ build_dataloader”的具体定义代码吗？

[2021-04-06 05:13] gaorui999 commented on #32068
Paddle版本是2.0.1,我是在刚完成划分数据集后，加载模型报错

[2021-04-06 05:28] MissPenguin commented on #32076
请问是想做服务部署吗

[2021-04-06 05:29] MissPenguin commented on #32077
用paddle.fluid.layers.Print呢：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.6/api_cn/layers_cn/Print_cn.html#print

[2021-04-06 05:52] ljayx commented on #31997
@jiweibo 你好，请问有进展吗？

[2021-04-06 06:03] lidanqing-vv commented on #31914
@pmajchrzak  Could you please verify if the issue still exist ? Thanks !

[2021-04-06 06:04] #31559 closed, assigned to nobody

[2021-04-06 07:03] lidanqing-vv opened #32087 "Improve Multi-threading, multi-instance UT"
There are not enough UTs for many threading tests and many instance cases.

@juncaipeng Please help figure out all use cases for multi-threading and multi-instances, about how users will start these scenarios, and through which functions.

After figuring out all scenarios, we could discuss and prepare UTs together

[2021-04-06 07:15] lidanqing-vv commented on #31928
1. Customer give new fp32 or quant model (scales NAN)
2. oneDNN team will deal with NAN case
3. add DNNL_PRIMITIVE_CACHE_CAPACITY=0

[2021-04-06 07:21] lidanqing-vv commented on #31825
@juncaipeng Hi, Please help check this issue

[2021-04-06 08:12] littletomatodonkey commented on #32073
你的dataset处理中是否包含paddle tensor的操作呢？包含的话，需要使用paddle-dev版本进行训练哈，

[2021-04-06 08:13] T8T9 commented on #32060
请确认 LD_LIBRARY_PATH 设置正确，参考： https://paddleinference.paddlepaddle.org.cn/quick_start/cpp_demo.html#id5

[2021-04-06 08:14] LielinJiang commented on #32068
试试调用paddle.rand这个函数会不会出错。看着像环境安装的问题

[2021-04-06 08:34] YueWang1996 commented on #32076
对，可能需要，想了解一下

[2021-04-06 08:45] codeWang-J commented on #32070
解决了  原来是numpy版本不对

[2021-04-06 08:46] codeWang-J commented on #32070
解决了 原来是numpy版本不对   不管怎么说谢谢大佬！！

[2021-04-06 09:01] MissPenguin commented on #32076
服务部署的话，可以看下Paddle Serving：https://github.com/PaddlePaddle/Serving/blob/develop/README_CN.md

[2021-04-06 09:01] gaorui999 commented on #32073
paddle-dev这个版本什么意思，我的transform是这样写的，应该怎么改
transform_train =T.Compose([T.Resize((256,256)),
                            T.RandomRotation(10),
                            T.Transpose(),
                            T.Normalize(mean=[0, 0, 0],                           # 像素值归一化
                                        std =[255, 255, 255]),                    # transforms.ToTensor(), # transpose操作 + (i

[2021-04-06 09:21] littletomatodonkey commented on #32065
你好，看着像是环境问题，可以提供下你的运行环境吗？也可以先检查下：

1. 先确认下paddle版本是否为2.0.1版本
2. 重装下paddle试下
3. conda中的cuda、cudnn等版本与物理机一致吗？建议保持一致，或者使用docker开发

[2021-04-06 09:23] littletomatodonkey commented on #32073
这种建议使用paddle-dev进行训练哈，或者调整num worker为0进行训练~

paddle dev的安装方法如下

[code]

也可以参考该文档：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

![image](https://user-images.githubusercontent.com/14270174/113697352-a7c0e780-9705-11eb-94c9-8a8d1c817e2e.png)

[2021-04-06 09:32] duohappy commented on #31881
我打算关闭这个issue，应该不会有人跟踪这个问题了。如果实在觉得困扰，可以重提一个issue吧，引起重视。

[2021-04-06 09:32] #31881 closed, assigned to iclementine, wanghuancoder

[2021-04-06 09:33] duohappy commented on #31683
长时间无人回复这个问题，关闭这个issue，如果有人遇到同样的问题，建议重新开一个issue

[2021-04-06 09:33] #31683 closed, assigned to iclementine

[2021-04-06 09:33] #31880 closed, assigned to wanghuancoder

[2021-04-06 09:34] #31907 closed, assigned to TCChenlong, zhwesky2010

[2021-04-06 09:34] #31955 closed, assigned to haozech

[2021-04-06 09:35] #31909 closed, assigned to OliverLPH, jiweibo, zhwesky2010

[2021-04-06 09:41] AWSWXY opened #32094 "paddle fintune 实现方式"
咨询paddle fintune实现方式，有无参考

[2021-04-06 10:10] ronaldpan commented on #32056
代码来自PaddleOCR.

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals

import os
import sys
import numpy as np
import paddle
import signal
import random

__dir__ = os.path.dirname(os.path.abspath(__file__))
sys.path.append(os.path.abspath(os.path.join(__dir__, '../..')))

import copy
from paddle.io impor

[2021-04-06 11:08] MissPenguin commented on #32094
您好，可以具体描述下您的问题吗

[2021-04-06 11:54] shengzhang90 opened #32099 "var x2paddle_0 not in this block"
During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/envs/py36/bin/x2paddle", line 8, in <module>
    sys.exit(main())
  File "/opt/conda/envs/py36/lib/python3.6/site-packages/x2paddle/convert.py", line 269, in main
    onnx2paddle(args.model, args.save_dir, params_merge)
  File "/opt/conda/envs/py36/lib/python3.6/site-packages/

[2021-04-06 12:00] songsong-L opened #32100 "梯度裁剪"
想要实现一个类似梯度裁剪的功能，只是梯度处理办法不一样。
看了一下源码，总的来说是这样：

`params_grads=>clip这个op=>return  params_grads`

不过没整明白params_grads怎么传进去的，以及怎么被应用到step()的。
之前就尝试过自定义op来实现，发现没有什么api把处理过的梯度放进去，突然想起来梯度裁剪的思路，请教一下！

[2021-04-06 13:15] lixiangjie01 commented on #32077
成功啦！谢谢！辛苦啦！

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: MissPenguin ***@***.***&gt;
发送时间: 2021年4月6日 13:29
收件人: PaddlePaddle/Paddle ***@***.***&gt;
抄送: lixiangjie01 ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/Paddle] 你好，静态图中可以使用paddle.static.Print() 打印tensor的值( 文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/fluid/layers/control_flow/Pri

[2021-04-06 13:17] littletomatodonkey commented on #32070
好的~替你开心！感谢使用paddle！

[2021-04-06 13:21] QingquanBao opened #32104 "Dataloader exception 报错不详细"
## 版本、环境信息
- paddlepaddle           2.0.1
- paddlepaddle-gpu       2.0.1
- GPU：cuda 10.2
- python 3.7.9
- Ubuntu 16.04.7 LTS (GNU/Linux 4.15.0-129-generic x86_64)

## 描述
https://github.com/QingquanBao/PCA-GM/tree/torch2paddle
正在将原来是作为torch的项目改用paddlepaddle复现（torch版可以正常运行。跑`python3 train_eval_pdl.py --cfg experiments/vgg16_pca_voc.yaml`时，抛出关于**dataloader**的异常。由于这个报错简直太短，根本不知道从何找起bug，求教,谢谢

试过https:

[2021-04-06 14:07] lixiangjie01 commented on #32077
您好，请问32*18的张量中的data显示只有1*20，是因为输出不完全吗？怎么样才能全部显示呀，用的是paddle.fluid.layers.Print

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: MissPenguin ***@***.***&gt;
发送时间: 2021年4月6日 13:29
收件人: PaddlePaddle/Paddle ***@***.***&gt;
抄送: lixiangjie01 ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/Paddle] 你好，静态图中可以使用paddle.static.Print() 打印tensor的值( 文档：https://www.paddlepaddle.org.cn/docu

[2021-04-06 14:56] Game-Li opened #32106 "读取不同size图像数据读取器报错"
- 标题：读取不同size图像数据读取器报错
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0
    2）CPU：
    3）GPU：CUDA 10  CUDNN 7.6.5
    4）系统环境：Python3.7

- 问题描述：使用paddle.io.DataLoader读取不同size图像数据读取器时报错如下，（是我操作的问题还是paddle数据读取器不支持变化的size图片数据呢？）：

WARNING:root:DataLoader reader thread raised an exception.
Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "G:\Pycharm\PyCharm 2020.1\plugins\python\hel

[2021-04-06 17:34] BlackHorseQ opened #32107 "无"
无

[2021-04-06 18:29] YueWang1996 commented on #32076
你好，顺便想问下，https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/paddle/design/dist_train/distributed_architecture.md 这个分布式架构文档介绍同样适用于PaddlePaddle2.0版本吗？

[2021-04-06 22:34] zzz2010 opened #32108 "paddle.scatter_ 的grad 问题在v2.0.1 修复了吗？"
你好， 我看到这个PR，
https://github.com/PaddlePaddle/Paddle/pull/30604

我发现paddle.scatter_ 好像在v2.0.1  也存在这个问题， 所以想确认下是否v2.0.1 不能用paddle.scatter_
如果是的话， 有其他替代的方法吗？ 我不想用scatter_nd_add ，因为我希望是in-place 的

谢谢

[2021-04-07 00:55] zzz2010 opened #32109 "Cuda error(702), the launch timed out and was terminated."
Paddle version: 2.0.1
Paddle With CUDA: True

OS: ubuntu 20
Python version: 3.8.5

CUDA version: 11.3
cuDNN version:8.1
Nvidia driver version: 470.14

- 训练信息
    1）单机，单卡 ：GTX-TITANX 12G

CPU 情况下运行无问题， 但在GPU运行就有下面错误，请问有可能是什么原因呢？ 谢谢

    paddle_loss=paddle_out.sum().backward( )
  File "/home/ubuntu/miniconda3/lib/python3.8/site-packages/decorator.py", line 232, in fun
    return caller(func, *(extra

[2021-04-07 02:02] MissPenguin commented on #32106
训练时输入size需要固定的哈

[2021-04-07 02:21] littletomatodonkey commented on #32071
你好，感谢反馈，该api已经cherry-pick到2.0分支，[PR链接](https://github.com/PaddlePaddle/Paddle/pull/32090)，我们在4月中旬会发布Paddle2.0.2，届时会包含该api~

[2021-04-07 02:30] #32071 closed, assigned to littletomatodonkey

[2021-04-07 02:38] wenjiett commented on #32060
我在包含目录里有添加glog的目录，后来我在附加依赖项里添加了paddle_inference.dll文件后，又出现了新的错误，dll文件无效或损坏
报错信息：
严重性	代码	说明	项目	文件	行	禁止显示状态
警告	C4251	“paddle::AnalysisConfig::bfloat16_enabled_op_types_”: class“std::unordered_set<std::string,std::hash<std::string>,std::equal_to<std::string>,std::allocator<std::string>>”需要有 dll 接口由 struct“paddle::AnalysisConfig”的客户端使用	paddle_test	G:\paddle_inference_install_dir\paddle\include\paddle_

[2021-04-07 02:49] Joejiong commented on #31898
默认DataLoader是读到CUDAPinnedMemory。

[2021-04-07 02:52] ShaneTian commented on #31898
那如何把 Dataset 读取到 CPU 中呢？因为数据集本身还蛮大的

[2021-04-07 03:03] AWSWXY commented on #32094
想初始化底层embedding，但是不想初始化整个模型的所有param

[2021-04-07 03:07] parap1uie-s commented on #32104
相同的问题

[2021-04-07 03:23] MissPenguin commented on #32076
适用的

[2021-04-07 03:25] MissPenguin commented on #32077
默认只打印20个，可以加上summarize参数自定义打印输出长度，summarize=-1表示打印全部：
![image](https://user-images.githubusercontent.com/25809855/113805857-de454380-9793-11eb-9da1-2365b83cee41.png)

[2021-04-07 03:32] MissPenguin commented on #32094
如果是冻结某些层，可以将变量的stop_gradient属性设置为True，这样计算这个变量之前的所有参数都不会更新了，参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/faq/train_cn.html#id4

[2021-04-07 03:37] heavengate commented on #32104
`num_workers=0`看下具体报什么错呢，另外如果`/dev/shm`下的共享内存不够的话建议设置`use_shared_memory=True`

[2021-04-07 03:39] tink2123 commented on #32109
paddle暂时还没有支持 cuda11.3 , 目前支持的环境可以在官网查看：
https://www.paddlepaddle.org.cn/
cuda 11.0 10.2 10.1 10.0 9.0

[2021-04-07 03:53] Game-Li commented on #32106
我使用的是全卷积网络，请问怎么输入动态变化的size图像呢？有相应的API吗？

[2021-04-07 04:19] gaorui999 commented on #32104
我也遇到了

[2021-04-07 04:26] gaorui999 opened #32115 "高层API单机多卡环境下添加transform报错"
单机多卡不加transform前正常训练，加了transform后报错

`import paddle
from paddle.vision.transforms import ToTensor
import paddle.distributed as dist
from paddle.vision import transforms as T
paddle.seed(8888)
import numpy as np
from visualdl import LogWriter
#数据增强
transform_train =T.Compose([T.Resize((256,256)),
                            T.RandomRotation(10),
                            T.Transpose(),

[2021-04-07 05:00] tink2123 commented on #32115
看报错是显存不足导致的，请检查当前0号卡是否有其他程序占用，或者换一张卡运行。

[2021-04-07 05:10] tink2123 commented on #32107
您代码里的方式就可以索引，请问遇到什么报错了吗？
运行您提供的代码，out_z1 和 out_z2 的输出如下：
![image](https://user-images.githubusercontent.com/31891223/113813485-937ef800-97a2-11eb-9cdf-b37d563eb1f4.png)

[2021-04-07 06:16] gaorui999 commented on #32115
1、减小了batchsize(64→32)之后可以正常运行了
2、修改了使用全部卡
if __name__ == '__main__':
        dist.spawn(train, nprocs=4)

不过我有疑问，我这是使用的Cifar100数据集，我在aistudio notebook里用单卡，batch都可以设置为256，而不会显存不足。
为什么在单机多卡的情况下就会有这个问题，我用的是脚本文件里的单机4V100卡

[2021-04-07 06:19] gaorui999 commented on #32073
paddle-dev版本是属于开发者版本吗？

[2021-04-07 06:20] gaorui999 commented on #32068
划分完数据集之后怎么去把CPU里的内存给释放掉呢？

[2021-04-07 06:26] AWSWXY commented on #32094
不是冻结某些层，是初始化只想初始化某一个param

[2021-04-07 06:27] tink2123 commented on #32115
gpu 型号不同，显存大小也不同。您本地单卡bs=256能跑吗？是只有多卡会报显存不足吗？
看您的报错，当前可用显存只有 41.8MB，可以动态观察一下显存变化情况。

[2021-04-07 06:28] pmajchrzak commented on #31914
That issue doesn’t exist any more. It was repaired by pull: 0fa6c8a35c61fdcff79d42ec509ff683e8ad9f78
Thanks!
Piotr

From: lidanqing ***@***.***>
Sent: Tuesday, April 6, 2021 8:03 AM
To: PaddlePaddle/Paddle ***@***.***>
Cc: Majchrzak, Piotr ***@***.***>; Mention ***@***.***>
Subject: Re: [PaddlePaddle/Paddle] Build error in lite_mul_model_test.cc (#31914)

@pmajchrzak<https://github.com/pmajchrzak>

[2021-04-07 06:52] #31914 closed, assigned to luotao1, Shixiaowei02, zhwesky2010

[2021-04-07 07:36] ForFishes commented on #32108
您好，这里查了一下v2.0.1，这个版本确实没有修复这个bug。建议使用最新的develop分支修复过后的代码。

[2021-04-07 07:53] jiamingming-004 commented on #31974
你好，我试了试你的建议，但还是同样的问题，预测输出为空。

你好，我试了你的建议，但还是同样的错误输出为空，希望你可以帮我解答一下

[2021-04-07 07:54] lmk123568 commented on #32028
已解决，需要加一个'_'，谢谢

[2021-04-07 08:01] songsong-L opened #32122 "自定义op"
这样可以运行，自定义op正常：
[code]

为什么这样就不可以运行？？？？加了个模型怎么还影响了op呢？
只要导入from custom_op import relu2，就报下面的错。
[code]

![image](https://user-images.githubusercontent.com/54927708/113831192-ec0dbf80-97b9-11eb-9a0d-7ff721d2a12c.png)

[2021-04-07 08:28] gaorui999 commented on #32115
我在aistudio notebook里用V100单卡的可以正常跑，bs=1024都能正常跑，只有多卡会显示显存不够

[2021-04-07 08:51] tink2123 commented on #32122
将 `fluid.layers.conv2d(input=xx, xx, act="relu")` 修改成 `fluid.layers.conv2d(input=xx, xx, act="None")`
把自定义的 relu2 接在conv的后面尝试下呢？

[2021-04-07 09:11] QingquanBao commented on #32104
设置num_workers:  0 之后，也开了共享内存，报错一样，没有区别QAQ

[2021-04-07 09:12] songsong-L commented on #32122
错误变了，按理说不会有矛盾呀。
![image](https://user-images.githubusercontent.com/54927708/113841473-5297db00-97c4-11eb-992d-1a4be96ef182.png)

[2021-04-07 09:13] ForFishes opened #32124 "Dataloader 使用出SystemError。"
[code]
这里有个简单的demo，使用dataloader，会直接报错。
![image](https://user-images.githubusercontent.com/19485646/113842748-90e1ca00-97c5-11eb-9d42-e426c7afe5b4.png)

环境：
paddle的最新的develop分支。python2和python3环境都试过了。

[2021-04-07 09:20] DDDivano commented on #32122
这个fluid.layers.conv2d(input=xx, xx, act="relu") act传的是string类型的数据，内部处理不一样。 act=None应该是不需要加引号

[2021-04-07 09:22] MissPenguin commented on #32100
可以贴一下源码的位置吗

[2021-04-07 09:26] songsong-L commented on #32122
不行，还是最开始那个报错，应该不是冲突的问题。

[2021-04-07 09:26] ForFishes commented on #32124
<img width="422" alt="700faad5d3f07cba8cd792f61" src="https://user-images.githubusercontent.com/19485646/113843744-70663f80-97c6-11eb-82f6-80055a52fc77.png">
抱歉，这里发现是由于没有添加transform。谢谢。

[2021-04-07 09:26] #32124 closed, assigned to nobody

[2021-04-07 09:28] BlackHorseQ commented on #32066
你好，paddle。只有这一个函数里有sparse，其他都没有怎么办。

[2021-04-07 09:29] BlackHorseQ commented on #32107
已经解决了，请问什么时候可以增加下面这个功能
`A = tensor([1,2,3,4])
B = A[[2,3,1]]`

[2021-04-07 09:31] DDDivano commented on #32122
fluid.layers.conv2d(input=xx, xx, act="relu")  这个act去掉，不输入，后面接一层relu会报错么？

[2021-04-07 09:39] songsong-L commented on #32122
[code]
我一句一句注释跑，到这就出现最开始的报错

[2021-04-07 09:44] songsong-L commented on #32122
[code]

‘’’

[2021-04-07 09:55] songsong-L commented on #32100
源码就是梯度裁剪的源码

https://github.com/PaddlePaddle/Paddle/blob/release/2.0/python/paddle/fluid/clip.py#L152

[2021-04-07 10:01] tink2123 commented on #32115
可能是 aistudio 资源分配有误，创建一个新的项目试下呢？

[2021-04-07 10:05] tink2123 commented on #32107
暂时还不支持这样索引，可以先使用 index_select 的操作，或者转成 numpy 索引之后再转换回tensor

[2021-04-07 10:05] songsong-L commented on #32100
后面又研究了一下，optimizer优化器有个属性是存clip的，会判断这个属性，如果要裁剪，然后调用梯度裁剪的op，然后apply_minimize()。还是回归到了自定义op的问题上去了。

[2021-04-07 11:10] MissPenguin commented on #32099
solved.

[2021-04-07 11:12] heavengate commented on #32104
`num_worker=0`的话前面应该有python段的报错信息的

[2021-04-07 11:21] MissPenguin commented on #32106
确定是全卷积没有fc的话，batchsize=1应该就没问题。不支持batchsize>1时变长输入。

[2021-04-07 11:25] MissPenguin commented on #32094
一般加载预训练模型的操作：
param_state_dict = paddle.load(path + ".pdparams")
model.set_dict(param_state_dict)
预训练模型其实是个dict（可以load模型然后打印出来看看），如果想指定初始化部分param，可以把不想初始化的keys过滤掉，只保留需要的，然后再执行load操作。

[2021-04-07 11:26] tink2123 commented on #32122
自定义的 relu2 是怎么写的呢？麻烦提供一下可复现的代码吧。

[2021-04-07 11:33] songsong-L commented on #32122
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/custom_op.html

本来写了个自己的op,结果有问题,然后就用官方的测试，relu的op就是这个开发文档。

环境是AIstudio+paddle2.0.1+python3.7

[2021-04-07 13:45] Wongziseoi commented on #30979
来催一催

[2021-04-07 16:44] jczaja commented on #31992
@lidanqing-intel , @juncaipeng  We are investigating that issue. Currently We reproduced it on develop branch. Candidate fix was made (#32136) and we are testing it now.

[2021-04-08 01:48] gongweibao commented on #30979
^_^

[2021-04-08 01:56] BlackHorseQ commented on #32107
转成numpy之后再索引梯度传不过来，我最开始这样做的但是梯度传不过来，找了很久才发现可以index_select操作

[2021-04-08 02:42] paulpaul91 opened #32139 "recompute 功能对于resnet101 如何设置checkpoints"
https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/collective/collective_mp/recomputation.html?highlight=checkpoints#recomputation
参看链接中的resnet50,对于resnet101 也是采用同样的值吗

[2021-04-08 03:07] ZHUI commented on #32139
应该是采用相似的策略，即：以两个子模块中间的变量作为切分点就是一个很好的选择

[2021-04-08 03:31] JZ-LIANG commented on #32139
是的，50 和 101 对于recompute只是层数不同，checkpoint选取策略是一样。 对应resnet-like 网络，每个 repeat block 的output 即可。

[2021-04-08 03:35] RyanPeking opened #32140 "paddle.summary中参数forward/backward pass size在AI studio上和本机结果差距很大"
paddle版本：2.0.1
代码如下：
[code]

在本机结果如下：
![QQ图片20210408111806](https://user-images.githubusercontent.com/46998598/113964395-fed9d000-985d-11eb-95fb-77170e6a5cb1.jpg)
在百度平台ai studio运行结果如下：
![QQ图片20210408111822](https://user-images.githubusercontent.com/46998598/113964529-406a7b00-985e-11eb-84a9-18238e8c30c5.png)

ai studio上结果不对，怎么会占到那么大内存呢
后来又放到colab上，发现结果和ai studio一样，所以很疑惑这是什么问题导致的，求解答

[2021-04-08 03:54] tink2123 commented on #32122
不修改C++端，自定义python端实现，运行您上面的代码是可以跑通的，可以试下：
[code]

您的报错可能出现在编译过程中，可以再check下文档

[2021-04-08 04:52] Game-Li commented on #32106
ok，懂了，谢谢啦

[2021-04-08 04:52] #32106 closed, assigned to MissPenguin

[2021-04-08 06:06] ZHUI commented on #32140
我这边复现的结果，跟ai studio一样。paddle 2.0.1 版本。辛苦 @LielinJiang 帮忙看一下。

[2021-04-08 06:34] QingquanBao commented on #32104
试过了，也是一样的报错。一点都没有变

[2021-04-08 06:57] tink2123 commented on #32122
或者您也可以尝试一下，用最新的自定义op方法：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/new_custom_op.html

[2021-04-08 08:37] chicleee commented on #32122
最新的自定义op方法在AiStudio上报错`gcc: error trying to exec 'cc1plus': execvp: No such file or directory
error: command 'gcc' failed with exit status 1`

[2021-04-08 09:20] melisa81 opened #32154 "GPU跑DeOldify跑不出结果"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu-2.0.0rc1.post110
    2）GPU：Nivdia Quadro P3200，CUDA 11.0,cudnn 8.0.4
    4）系统环境：Windows10 ,python36

问题：
跑下面代码，CPU正常出结果，GPU的话就不出结果，跑不出上色图。pycharm报Process finished with exit code -1073741819 (0xC0000005)，这如何处理？
from ppgan.apps import DeOldifyPredictor
deoldify = DeOldifyPredictor()
deoldify.run("docs/imgs/test_old.jpg")

[2021-04-08 09:29] lijzeng commented on #31724
借楼问一下楼主， 我在申威下编译始终都跳转到下载 https://github.com/xianyi/OpenBLAS.git 呢？ 你那里有这个问题么

[2021-04-08 11:42] LielinJiang commented on #32154
请问有什么提示嘛

[2021-04-08 11:49] ZHUI commented on #32104
试试 `export FLAGS_call_stack_level=2`，看看会不会有多一些错误日志？

[2021-04-08 13:11] jczaja commented on #31992
@juncaipeng
1. Could you please test this PR https://github.com/PaddlePaddle/Paddle/pull/32136 (develop) if this solves problem for you?
2.  We miss some multi-instance unit tests (#32087) , would it be possible to turn this issue's test into UT ?

[2021-04-08 13:38] juncaipeng commented on #31992
@jczaja
For the latest develop branch, the demo still raises error when run the following command:
`./build/model_test --test_groups="0 1" --single_instance=false`
Sometimes,  the demo also raises error when run the following command:
`./build/model_test --test_groups="0" --single_instance=false`
`./build/model_test --test_groups="1" --single_instance=false`

Should I use the inference library of

[2021-04-08 15:28] lidanqing-vv commented on #32087
Hi @juncaipeng After finishing current 2 issues, we may work on this together. Jacek and Adam could join discussion too.

[2021-04-08 15:30] lidanqing-vv commented on #31928
@juncaipeng  oneDNN made a fix dealing with the NAN case, now they are preparing a public oneDNN patch that contains this fix. It will be public in 1 or 2 days. We could use it after we receive it.

[2021-04-08 23:52] ronaldpan commented on #32056
找到一种解决方法：
[code]

[2021-04-09 01:41] zhiyongLiu1114 opened #32164 "docker 启动paddlepaddle-GPU报错， /bin/sh: 1: source: not found"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：启动容器错误
- 版本、环境信息：
  
- 安装方式信息：
1）docker安装

- 复现信息：使用docker 拉取镜像，启动容器时报错，拉取的镜像如下图
-
![image](https://user-images.githubusercontent.com/47651345/114116672-ab2bbd00-9917-11eb-9b0c-106f6fe44512.png)

- 问题描述：docker run 启动容器报错，错误内容为 /bin/sh: 1: source: not found。用docker inspect 看这个镜像，里面有这个cmd，

[2021-04-09 01:42] zhiyongLiu1114 commented on #32164
第二张图贴错了，是这个
![image](https://user-images.githubusercontent.com/47651345/114116792-e3330000-9917-11eb-89ab-2b0ce8f81824.png)

[2021-04-09 02:16] TTian-vivo opened #32165 "paddle Pyreader 能否配置kafka"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-04-09 04:06] lixueling-gh opened #32167 "在用c++ 版本的Paddle Inference 做部署，能否给一个由opencv的mat转到你们input_tensor结构的示例？"
在用c++ 版本的Paddle Inference 做部署，能否给一个由opencv的mat转到你们input_tensor结构的示例？

[2021-04-09 05:01] hlzonWang opened #32168 "请问PaddlePaddle有没有类似tf sample softmax loss这样的函数"
fluid.layer里面有个名字类似的，但输入输出都不一样

[2021-04-09 06:55] wawltor commented on #32168
抱歉，查找了一下paddle的api，看起来没有这样的API，我们会记录下这个需求。

[2021-04-09 07:19] wawltor commented on #32164
您好，想问一下，是否安装了docker了了？

[2021-04-09 07:20] thunder95 commented on #28757
遇到同样的问题， 使用宿主机和docker镜像都出现了， 重装过NCCL好多次， NCCL_SHM_DISABLE和NCCL_P2P_LEVEL变量设置过了， 也还行不行. @tianshuo78520a

[2021-04-09 07:28] wawltor commented on #32167
您好，你可以参考一下这块的代码 https://github.com/PaddlePaddle/PaddleX/blob/bc1e6a09af7eeb48b2ac7d0b6f73926b85a5c5da/deploy/cpp/src/paddlex.cpp#L244

[2021-04-09 07:54] aaferrero opened #32172 "批量图片预测时operator < rnn > error"
环境：python3.7 cuda10.0 nvidia geforce1080 8G，paddlepaddle-gpu 2,0,0 windows 10
批量图片预测时候，经常会报这个错误，这个有什么办法解决么，环境是paddle-paddle-gpu 2.0.0
报错信息：
Traceback (most recent call last):
File "E:/fanxi_wu/programs/wrapper_drink_ocr_v3/pp_ocr/tools/infer/classify_modules.py", line 2302, in
classify_modules.get_ksf_detect_areas(ori_img, image_name, module_name=module_name)
File "E:/fanxi_wu/programs/wrapper_dri

[2021-04-09 08:08] lidanqing-vv commented on #32087
[code]

[code]

https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/release/v2.0/c%2B%2B/test/shrink_memory/multi_thread_test.cc

[2021-04-09 08:22] wawltor commented on #32168
您好， sample softmax loss这个api可能是没有对齐tensorflow，我们找一下相应的同学来跟进一下，谢谢反馈该问题！

[2021-04-09 08:26] wawltor commented on #32172
您好，上面的问题看起来是本地的cuda版本和paddle版本不适配的问题，您可以尝试用法conda的方式来安装paddlepaddle，因conda可以自动适配paddle版本和本地cuda版本，具体的安装方式可以看 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/conda/windows-conda.html，谢谢！

[2021-04-09 08:55] zhiyongLiu1114 commented on #32164
安装了，没有docker 镜像都没法pull。。。

[2021-04-09 08:59] jczaja commented on #31992
@juncaipeng This is cherry-pick for release/2.0 https://github.com/PaddlePaddle/Paddle/pull/32163 . It works fine on my setup but @lidanqing-intel that every other run there is some crash on her setup so I will test it further.

[2021-04-09 09:30] GT-ZhangAcer commented on #32140
我猜是在Notebook中已经执行过一次Emb+GRU的代码了，但执行完毕之后没有重启执行器就立即执行了新的组网代码，旧的网络仍在内存当中而且造成了冲突。
图中显示的Emb应该是从1开始的，而这个是3，正常情况下仍应从1开始
<img width="918" alt="图片" src="https://user-images.githubusercontent.com/46156734/114160104-22ce0c00-9959-11eb-8ecd-1e40851f5dcd.png">

[2021-04-09 10:18] duaneya commented on #28757
用新版动态图的那个版本吧，我用着没啥问题

[2021-04-09 10:19] melisa81 commented on #32154
就是跑不出上色图。pycharm报Process finished with exit code -1073741819 (0xC0000005)

[2021-04-09 10:22] thunder95 commented on #28757
@duaneya 动态度的哪个版本? 我用的应该是最新版本 2.0.1， 这个问题直接把我搞崩溃了，怎么调都不对 不知道可能啥原因 cudnn版本和nccl版本也换了

[2021-04-09 10:24] melisa81 opened #32175 "运行first-order-demo.py 报找不到face_detector参数？"
版本、环境信息：
   1）PaddlePaddle版本：paddlepaddle-gpu-2.0.0rc1.post110
   2）GPU：Nivdia Quadro P3200，CUDA 11.0,cudnn 8.0.4
   4）系统环境：Windows10 ,python36
问题：
运行first-order-demo.py 代码的时候，报TypeError: __init__() got an unexpected keyword argument 'face_detector'，请问如何处理啊？

[2021-04-09 11:41] zzz2010 opened #32178 "The Variable type must be class paddle::framework::LoDTensor, but the type it holds is class paddle::framework::SelectedRows."
你好， 我训练的时候backward 出现了下面错误，可否知道是什么问题？

我的paddle 版本是2.0.1

我用了 paddle.nn.functional.embedding(x,weight, sparse=True)

谢谢

‘’‘

 File "E:\anaconda3\envs\pytorch\lib\site-packages\paddle\fluid\wrapped_decorator.py", line 25, in __impl__
    return wrapped_func(*args, **kwargs)
  File "E:\anaconda3\envs\pytorch\lib\site-packages\paddle\fluid\framework.py", line 225, in __impl__
    return func(*args,

[2021-04-09 11:42] thunder95 commented on #31673
@yaoxuefeng6 我使用的是RTX2080TI， 尝试过重装各种版本的NCCL， CUDNN， PADDLE， 也参照其他issue, export了一些参数，仍旧无法解决多卡使用的问题。网上有说这种显卡不支持p2p access, 麻烦请看一下:

(paddle) server@server:/d/pd_match$ nvidia-smi topo -p2p n
 	GPU0	GPU1	GPU2	GPU3
 GPU0	X	NS	NS	NS
 GPU1	NS	X	NS	NS
 GPU2	NS	NS	X	NS
 GPU3	NS	NS	NS	X

Legend:

  X    = Self
  OK   = Status Ok
  CNS  = Chipset not supported
  GNS  = GPU not supported
  TNS  = Topology no

[2021-04-09 12:50] thunder95 commented on #31337
@yeyupiaoling 请问夜雨飘零大神， 我用的4卡2080Ti， 但总是各卡间无法相互通信，您用的什么版本NCCL， CUDA,  CUDNN？
我之前提的issue在这里： https://github.com/PaddlePaddle/Paddle/issues/31673

[2021-04-09 14:25] JJYjackson opened #32179 "model.summary()后出现KeyError: 'output_shape'错误"
- 标题：自主搭建resnet模型报错
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.1
    2）系统环境：Paddle version: 2.0.1
        Paddle With CUDA: False
        OS: debian stretch/sid
        Python version: 3.7.4
        CUDA version: None
        cuDNN version: None.None.None
         Nvidia driver version: None
- 模型信息
    1）模型名称    图一
![image](https://user-images.githubusercontent.com/65533171/114192591-40629c00-9980-11eb-9

[2021-04-09 15:15] yeyupiaoling commented on #31337
@thunder95 我的nccl版本是2.7.5，CUDA 10.0， cudnn是7.5

[2021-04-10 03:24] littletomatodonkey commented on #32073
是的，

[2021-04-10 03:30] littletomatodonkey commented on #32068
你好，你说的是释放哪一块的cpu内存呢？
如果划分数据集造成的内存消耗太大，可以试下离线划分，分别加载

[2021-04-10 04:17] joey12300 commented on #32175
@keyi 您好，可以提供一下源码

[2021-04-10 04:18] joey12300 commented on #32178
@zzz2010 你好，可以提供一下源码吗？

[2021-04-10 04:26] joey12300 commented on #32179
@JJYjackson 你好，方便把paddle版本调用summary的详细代码贴出来吗？

[2021-04-10 08:05] wht0948 opened #32182 "安装报错：ERROR: No matching distribution found for paddlepaddle-gpu==2.0.1.post101"
![image](https://user-images.githubusercontent.com/32132519/114263137-6c306100-9a16-11eb-85b5-e970ca320cbc.png)

cuda版本10.1

[2021-04-10 09:37] gaogaoxingxing2010 opened #32183 "服务器离线部署报错"
服务器离线anaconda安装paddle后输入import paddle.fluid as fluid报错：
OSError: [WinError 127] 找不到指定的程序      d:\\ProgramData\\Anaconda3\\Lib\\site-packages\\numpy\\.libs
以上路径是真实存在的，路径下也有dll文件
可是我笔记本上同为win7系统离线就没出问题啊，请帮忙看下？
附图安装paddle包时报错，尽管报错笔记本上import paddle.fluid as
![IMG_20210409_192509](https://user-images.githubusercontent.com/62227361/114265444-60976700-9a23-11eb-8eee-534670f3a84f.jpg)

[2021-04-10 09:49] JJYjackson commented on #32179
您好，这样可以吗？

在 2021-04-10 12:26:48，"Jack Zhou" ***@***.***> 写道：

@JJYjackson 你好，方便把paddle版本调用summary的详细代码贴出来吗？

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-10 09:51] JJYjackson commented on #32179
![image](https://user-images.githubusercontent.com/65533171/114265773-48c0e280-9a25-11eb-8e27-3a885b6f89b3.png)
![image](https://user-images.githubusercontent.com/65533171/114265783-51b1b400-9a25-11eb-8504-3afdc1085cfd.png)
您好，这样可以吗？

[2021-04-10 10:06] xmy0916 opened #32184 "bug-打印空tensor报错"
[code]
报错：
[code]

[2021-04-10 10:56] melisa81 commented on #32175
就是运行https://github.com/PaddlePaddle/PaddleGAN/tree/develop/applications/tools 下面的first-order-demo.py，里面的代码报无法初始化：
parser.add_argument(
    "--face_detector",
    dest="face_detector",
    type=str,
    default='sfd',
    help="face detector to be used, can choose s3fd or blazeface")

[2021-04-10 11:39] melisa81 commented on #32175
我把face_detector=args.face_detector删掉就可以运行了。
但目前报  input image is not divisible by macro_block_size=16, resizing from (500, 375) to (512, 384) to ensure video compatibility with most codecs and players. To prevent resizing, make your input image divisible by the macro_block_size or set the macro_block_size to 1 (risking incompatibility)

动作迁移视频脸型失真了…………

[2021-04-10 12:10] #32175 closed, assigned to joey12300

[2021-04-10 12:19] joey12300 commented on #32182
您好，请试试是否能`ping https://paddlepaddle.org.cn/whl/mkl/stable.html`，可能是网络原因无法下载。

[2021-04-10 12:22] joey12300 commented on #32183
您好，请试试重新安装 `numpy`。

[2021-04-10 12:24] wht0948 commented on #32182
我如果不加post101，直接用pip3 install paddlepaddle-gpu==2.0.1 -f https://paddlepaddle.org.cn/whl/mkl/stable.html安装是可以的，但是我的cuda是10.1而且不太好改，所以有没有别的办法

[2021-04-10 12:28] joey12300 commented on #32182
@wanghaotian233 可以试试用wget下载，再用pip install（可以根据你的python版本修改下面的37）。 https://paddle-wheel.bj.bcebos.com/2.0.1-gpu-cuda10.1-cudnn7-mkl_gcc8.2/paddlepaddle_gpu-2.0.1.post101-cp37-cp37m-linux_x86_64.whl

[2021-04-10 12:47] joey12300 commented on #32179
@JJYjackson MaxPool2D返回的是一个可调用对象，并不是一个Tensor。 所以你代码中引用`MaxPool2D`可以改为：
[code]
可参考MaxPool2D的官方示例。
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/layer/pooling/MaxPool2D_cn.html#daimashili

[2021-04-10 19:54] gaogaoxingxing2010 commented on #32183
感谢回复，尝试过卸载原anaconda自带numpy，再装paddle中适配的numpy，报winerror127；尝试过保留anaconda自带numpy，paddlepaddle就winerror127错误；重新安装需要先卸载吧？我再试试
另外，服务器是win7，外网我用win10生成requirement.txt并下载离线安装包拷贝至离线服务器，anaconda版本相同。不同操作系统会有问题吗？

[2021-04-11 02:45] FL77N opened #32186 "关于多重继承 Layer 没有 parameters"
问题如下

[code]
然后出现错误：
AttributeError: 'Convlist' object has no attribute 'paramerters'

但是调用 conv.f() 就能打印参数，请问是为什么？

[2021-04-11 03:17] thepolarex opened #32187 "安装paddlepaddle成功但导入报错：name 'batch' is not defined ,请问怎么解决？"
建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 安装方式信息：
1）pip安装/docker安装

[2021-04-11 08:05] Bazenr commented on #31795
我的问题解决了，装好对应的TensorRT就可以预测了

[2021-04-11 08:15] joey12300 commented on #32183
应该问题不大，对numpy版本有一定要求，windows的numpy版本>=1.13, <=1.19.3，看看是否满足版本要求

[2021-04-11 08:16] joey12300 commented on #32184
您好，经测试确实存在无法打印空tensor的bug，感谢提供bug反馈 : )

[2021-04-11 09:23] bluestinger opened #32189 "Ernie 1.0模型 inference cpu切换gpu 报错"
环境是paddle 提供的docker的环境
hub.baidubce.com/paddlepaddle/paddle:1.8.0-gpu-cuda10.0-cudnn7-trt6
官方的Paddle-Inference-Demo可以正常使用

我自己训练的模型 Ernie 1.0 的pretrain模型，cpu下能正确输出结果。切换gpu后，报错如下

grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
E0411 03:34:51.655264    84 analysis_config.cc:180] Please compile with MKLDNN first to use MKLDNN
I0411 03:34:52.433706    84 analysis_predictor.cc

[2021-04-11 13:09] gaogaoxingxing2010 commented on #32183
感谢回复！paddlepaddle在win系统的版本范围是？

[2021-04-12 01:13] gongweibao commented on #32187
能否贴一下详细点的日志？

[2021-04-12 01:51] RyanPeking commented on #32140
和这个没有关系，即使是1也是同样情况
<img width="301" alt="Snipaste_2021-04-12_09-50-51" src="https://user-images.githubusercontent.com/46998598/114330630-b4659580-9b74-11eb-882a-cb15dd0b7d79.png">

[2021-04-12 02:18] Superjomn commented on #32183
总的大概率是 pip 安装包的版本不对应

两个方面：

1. 上图
![image](https://user-images.githubusercontent.com/328693/114331668-14f5d200-9b77-11eb-8103-36d93501c5c1.png) 可以试试，是不是pip匹配包的逻辑策略失败

2. 尝试用 virtualenv 来从零安装 paddle 需要的包；因为直接在全局python里安装，已安装的包的版本可能版本更高，从而让paddle的依赖变乱；注意 python3 之后调用安装包的方式： `python3 -m virtualenv <env_name>`

参考 https://pythonbasics.org/virtualenv/

[2021-04-12 02:24] thepolarex commented on #32187
![Uploading IMG_20210412_102342.jpg…]()

[2021-04-12 02:24] thepolarex commented on #32187
![Uploading IMG_20210412_102342.jpg…]()

[2021-04-12 02:28] thepolarex commented on #32187
你好 能看到我上传的图片吗

[2021-04-12 02:41] shangzhizhou commented on #32189
您好，请附一下单测代码和模型（模型结构一致即可，可以是随机初始化参数），方便定位问题。

[2021-04-12 02:48] Leonardo-Ding commented on #32002
你自己编译的预测库确定编译GLOG了吗，paddle预测库编译默认是编译GLOG的

[2021-04-12 02:51] thepolarex commented on #32187
![IMG_20210412_102342](https://user-images.githubusercontent.com/82299502/114334367-027e9700-9b7d-11eb-8408-7f889d265686.jpg)

[2021-04-12 02:56] thepolarex commented on #32187
![IMG_20210412_105333](https://user-images.githubusercontent.com/82299502/114334580-6bfea580-9b7d-11eb-8662-2cf7357d2285.jpg)
这个是按照paddle首页指令安装后导入报错，然后按框出来的指令重新安装后继续报错'batch'的那个

[2021-04-12 03:54] bluestinger commented on #32189
[
[Demo_pre5.py.txt](https://github.com/PaddlePaddle/Paddle/files/6293740/Demo_pre5.py.txt)
[input.txt](https://github.com/PaddlePaddle/Paddle/files/6293742/input.txt)

](url)模型400M太大了，怎么传？

[2021-04-12 06:00] RenyanDiao opened #32195 "创造predictor后连续预测[Error] terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'"
create predictor后连续喂图单张预测，都是在第36张图的时候报错，但这张图单拎出来预测结果正确，也没报错退出 paddle版本2.0

[2021-04-12 06:11] shangzhizhou commented on #32189
1, 动态shape配置请修改一下
config.set_trt_dynamic_shape_info(
      {
       names[0]:min_input_shape,
       names[1]:min_input_shape,
       names[2]:min_input_shape,
       names[3]:min_input_shape,
       names[4]:[-1,1], #minshape不能有-1，这个改成1试试？
      },
      {
       names[0]:max_input_shape,
       names[1]:max_input_shape,
       names[2]:max_input_shape,
       names[3]:max_input_shape,
       nam

[2021-04-12 06:14] LielinJiang commented on #32140
这个问题已经在最新的develop修复哈，如果急需的话，可以试一下develop 版本的paddle：
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

![image](https://user-images.githubusercontent.com/50691816/114348655-67e08100-9b99-11eb-97c0-fdb504e6b2de.png)

[2021-04-12 06:43] bluestinger commented on #32189
试过1，还是不行
[__model__.txt](https://github.com/PaddlePaddle/Paddle/files/6294454/__model__.txt)

[2021-04-12 07:18] FL77N commented on #32186
抱歉，已解决

[2021-04-12 07:18] #32186 closed, assigned to gongweibao

[2021-04-12 08:01] hotbaby opened #32199 "GPU环境加载ernie-1.0预训练模型报错"
环境：
操作系统：ubuntu 18.04
NVIDIA-SMI 460.39
Driver Version: 460.39
CUDA Version: 11.2

paddlepaddle-gpu: 2.0.1
paddlenlp: 2.0.0rc16

Code

[code]

错误栈帧
[code]

[2021-04-12 08:19] hotbaby commented on #32199
是现在paddlepaddle-gpu 2.0.1 还不支持cuda 11吗

[2021-04-12 08:38] hotbaby commented on #32199
[code]
升级`paddlepaddle-gpu`版本能解决此问题。

[2021-04-12 08:38] #32199 closed, assigned to Superjomn

[2021-04-12 08:43] chenwhql commented on #32165
首先，PyReader是要废弃的接口，建议您直接使用2.0的DataLoader接口，文档见：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/reader/DataLoader_cn.html#dataloader

然后，paddle没有提供直接使用kafka数据的方式，您需要结合DataLoader的文档，将kafka的数据处理一下然后接入DataLoader使用

[2021-04-12 08:46] GuoQuanhao opened #32202 "【论文复现】权重初始化"
[code]
[code]
`nn.init.constant_`方法如何通过paddle实现

[2021-04-12 09:32] GuoQuanhao commented on #32202
已解决

[2021-04-12 09:32] #32202 closed, assigned to Superjomn

[2021-04-12 09:51] ljayx commented on #31997
any update?

[2021-04-12 10:03] Superjomn commented on #32195
你好， `paddle::platform::EnforceNotMet` 里面一般都会一并输出错误信息，可以给完整错误信息截个图吗

[2021-04-12 10:24] PhilCuriosity opened #32210 "core_noavx.so:cannot read file data"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2
    2）硬件：Nvidia Xavier AGX
    3）系统环境：Ubuntu 18.04 Python36
使用的是源码编译处理出来的.whl包安装的:
    cmake 3.10.2
    gcc 7.5.0
   jetpack 4.4
导入paddle出错：
`ImportError:/home/even/.local/lib/python3.6/site-package/paddle/fluid/core_noavx.so:cannot read file data`
查看路径下core_noavx.so 的文件权限为 -rw-rw-r--
期间因为中间报错将numpy 从1.19 退回了1.18.5
请问这是怎么导致的？

[2021-04-12 11:01] shangzhizhou commented on #32189
I0411 03:34:52.446473 84 analysis_predictor.cc:872] MODEL VERSION: 1.8.3
I0411 03:34:52.446512 84 analysis_predictor.cc:874] PREDICTOR VERSION: 1.8.0
从日志看，训练的版本更高一些。
推理是否可以测试下1.8.3之后的版本，比如1.8.5和2.0.1

[2021-04-12 11:27] bluestinger commented on #32189
1.8.5试了一下，还是报错。我是用1.8训练的，2.0.1的还需要陪环境，不方便试。
我看我的报错和下面这个一样，有其他解决的方式吗
https://github.com/PaddlePaddle/Paddle/issues/25107

[2021-04-12 11:28] RenyanDiao commented on #32195
如流给你。。

[2021-04-12 11:40] shangzhizhou commented on #32189
1.8.5之后也升级了ernie相关的不少功能，如果环境不方便，可以提供一下完整的模型我们这边安排在新版本复现一下。模型文件可以提供网盘链接

[2021-04-12 11:56] QingquanBao commented on #32104
多了C++ 的报错信息，不过python段依然没有什么报错信息

W0412 19:42:07.862713 36149 device_context.cc:362] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.0, Runtime API Version: 10.2
W0412 19:42:07.920146 36149 device_context.cc:372] device: 0, cuDNN Version: 7.6.
2021-04-12 19:42:14,360 - WARNING - DataLoader reader thread raised an exception.
[WARNING 2021-04-12 19:42:14,360 dataloader_ite

[2021-04-12 12:05] #25609 closed, assigned to nobody

[2021-04-12 12:05] gongweibao commented on #32187
看这个能否帮到你？https://github.com/PaddlePaddle/Paddle/issues/25609
如果还不行，请帖一下你的安装命令。

[2021-04-12 13:14] illcat commented on #23881
现在可以了吗

[2021-04-12 13:54] jiamingming-004 commented on #28651
你好，可以留个联系方式不？

[2021-04-13 01:23] PhilCuriosity commented on #32210
CMakeError.log :
[code]

[2021-04-13 01:31] PhilCuriosity commented on #32210
[code]

[2021-04-13 02:09] bluestinger commented on #32189
链接: https://pan.baidu.com/s/1p8Ph5OLvZvz42b-yf_G5-Q  密码: jv77

[2021-04-13 03:09] #22576 closed, assigned to nobody

[2021-04-13 03:09] #23341 closed, assigned to nobody

[2021-04-13 03:09] #23489 closed, assigned to hutuxian

[2021-04-13 03:09] #23495 closed, assigned to nobody

[2021-04-13 03:09] #23564 closed, assigned to ceci3

[2021-04-13 03:09] #23604 closed, assigned to nobody

[2021-04-13 03:09] #23668 closed, assigned to nobody

[2021-04-13 03:09] #23689 closed, assigned to nobody

[2021-04-13 03:09] #23693 closed, assigned to nobody

[2021-04-13 03:09] #23697 closed, assigned to nobody

[2021-04-13 03:09] #23725 closed, assigned to nobody

[2021-04-13 04:57] JJYjackson opened #32229 "Dropout 输入维度编号报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
   Paddle version: 2.0.1
Paddle With CUDA: True
OS: debian buster/sid
Python version: 3.7.10
CUDA version: 10.0.130
cuDNN version: 7.4.2
Nvidia driver version: 440.95.01

- 模型信息
    1）模型名称 ：cnn
![2021-04-13 12-48-23 的屏幕截图](https://user-images.g

[2021-04-13 06:54] ShaneTian opened #32234 "训练过程中有时会突增显存，一定步之后 OOM"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.1
    2）CPU：N/A
    3）GPU：V100 32G 4 cards
    4）系统环境：Python 3.7
- 训练信息
    1）单机，4卡
    2）32G 每卡
- 问题描述：如图，在训练到第  300 步到 400 步的过程中，其中一张卡 OOM。但是在任务最开始，显存是完全够用的，而且在监控显存的过程中，没有发现显存的连续增长，而是隔一段时间突增的，没有明显规律。考虑是否为某个地方出现了泄露？
![image](https://user-images.githubusercontent.com/42370681/114509391-05a28180-9c68-11eb-9080-a4555d237b92.png)

[2021-04-13 08:04] GZHUZhao opened #32237 "编译出错：jetson nano编译带有tensorrt的paddle-gpu"
cmake命令：
sudo cmake ..  \
-DWITH_CONTRIB=OFF \
 -DWITH_MKL=OFF \
 -DWITH_MKLDNN=OFF \
 -DWITH_TESTING=OFF \
 -DCMAKE_BUILD_TYPE=Release  \
 -DON_INFER=ON  \
-DWITH_PYTHON=ON \
 -DWITH_XBYAK=OFF \
 -DWITH_NV_JETSON=ON \
 -DPY_VERSION=3.6 \
-DCUDA_ARCH_NAME=Auto \
-TENSORRT_ROOT=/usr/src/tensorrt

硬件：jetson nano jetpack4.3
paddlepaddle-gpu2.0-rc1

![trt](https://user-images.githubusercontent.com/784

[2021-04-13 09:16] thunder95 commented on #31337
@yeyupiaoling 不知道我问题出在哪， 环境跟你的弄成一样 nccl-test也跑通了，torch多gpu也没问题， 就是paddle出了问题， 不知道大佬还有没有其他提示？

[2021-04-13 10:35] bluestinger commented on #32189
我用1.8.3报错如下
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<char const*>(char const*&&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::exception_ptr, char const*, int)
2   paddle::framework::ir::PassRegistry::Get(std

[2021-04-13 10:38] Superjomn commented on #32210
请问是编译失败了吗？

另外， `/home/even/.local/lib/python3.6/site-packages/paddle/fluid/core_noavx.so` 这个错误是编译完毕直接安装失败了吗？

[2021-04-13 11:00] shangzhizhou commented on #32189
您好，报这个错是因为编译的时候没有开启GPU或者没有找到TensorRT，辛苦检查一下重新试下。
1.8.5测试的时候报错是什么，也是这个么

[2021-04-13 12:07] bluestinger commented on #32189
1.8.5的是

[2021-04-13 12:07] bluestinger commented on #32189
InvalidArgumentError: TensorRT's tensor input requires at least 2 dimensions, but input 1 has 1 dims.
[Hint: Expected shape.size() > 1UL, but received shape.size():1 <= 1UL:1.] at (/paddle /trt_refine_int8/paddle/fluid/inference/tensorrt/engine.h:67)

[2021-04-13 12:40] #31928 closed, assigned to wozna, lidanqing-vv

[2021-04-13 12:56] lidanqing-vv commented on #31825
Hi @juncaipeng , Andrea的意思是

**文档描述的L1Decay公式和实现不一样。** 代码实现的L1Decay是简单的计算，没有square和reduce_mean。**现在他的regularizer需要square和reduce_mean，他不知道是要自己实现新op还是怎么样。**

**1. Paddle文档中描述了L1Decay 会实现公式如下：**

![image](https://user-images.githubusercontent.com/47151829/114554884-75fcd300-9c67-11eb-9ac2-1b77f63d2247.png)

**2. 而代码中的实际计算是**
![image](https://user-images.githubusercontent.com/47151829/114647158-eabe24

[2021-04-13 13:51] #32107 closed, assigned to tink2123

[2021-04-13 14:45] iclementine opened #32251 "paddle 会修改 logging 库的全局设定"
paddle 的导入会污染 logging 库，产生多余的 log, paddle 内部对 logging 库的设置应该可以限制在自己的 Logger 内部，不应该污染所有用户对 Logging 库的使用。

<img width="628" alt="图片" src="https://user-images.githubusercontent.com/16222986/114571992-aebd9c00-9ca9-11eb-9632-9f135990b5a6.png">

产生的杂讯实在太多了

[2021-04-13 15:40] wozna opened #32252 "Crash when training Word2Vec using Debug build"
I found that when running the Word2Vec model training if the Paddle was built as Debug, there is an error. It works fine with the Release build of PaddlePaddle.

Engine: Training on CPU with MKL-DNN (not checked without MKLDNN)
Operating System: Ubuntu 18.04
PaddlePaddle version: develop branch (tested commit 6e946e9de7735cd38437ce4b08141f7a9573ab21) , but issue occurs on older revisions as well.

[2021-04-14 03:11] wangye707 commented on #32237
那个是-DTENSORRT_ROOT，你少个D，你改成这样cmake ..   -DWITH_CONTRIB=OFF   -DWITH_MKL=OFF    -DWITH_MKLDNN=OFF   -DWITH_TESTING=OFF   -DCMAKE_BUILD_TYPE=Release   -DON_INFER=ON   -DWITH_PYTHON=ON -DPY_VERSION=3.6  -DWITH_XBYAK=OFF  -DWITH_NV_JETSON=ON -DWITH_TENSORRT=ON -DTENSORRT_ROOT=/usr -DCMAKE_CUDA_COMPILER=/usr/local/cuda-10.0/bin/nvcc  -DWITH_NCCL=OFF -DCUDA_ARCH_NAME=All

[2021-04-14 03:34] GuoQuanhao opened #32256 "【论文复现】torch的SGD中的momentum_buffer参数对应关系"
paltform : AIStudio
version: 2.0.1
[code]
torch中的SGD具有momentum参数，并且其具有momentum_buffer，paddle优化器只有Momentum具有momentum参数，paddle中利用`dir(opt_pfc)`查询如下：
[code]
[code]
我想知道`_accumulators`的作用，它对应于torch中的`momentum_buffer`吗

[2021-04-14 07:51] qiaofeiw opened #32268 "Lod-tensor有按照shape的reduce_sum方法吗"
例如
lod = [0.2,0.4,0.6,0.1,0.4,0.3]
shape = [[3,1,2]]
reduce_sum = [1.2, 0.1, 0.7]

[2021-04-14 08:15] zcswdt opened #32269 "您好，我从官网拉取了1.85的镜像，创建完docker以后，运行检查GPU会卡死。"
![image](https://user-images.githubusercontent.com/43515926/114677029-7c10b380-9d3c-11eb-9751-c93cd4ddf3a3.png)

[2021-04-14 08:28] jerrywgz commented on #32268
如果是reduce sum的话可以尝试先使用sequence_pad https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/layers/sequence_pad_cn.html  将每个batch pad到相同纬度，然后可以做reshape + reduce_sum

[2021-04-14 08:30] jerrywgz commented on #32269
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/install/docker/docker.html#anzhuangbuzhou 可以确认下docker镜像是否是从上面的文档中下载的

[2021-04-14 08:36] zcswdt commented on #32269
我的镜像下载命令是`docker pull hub.baidubce.com/paddlepaddle/paddle:1.8.5-gpu-cuda10.0-cudnn7`，和您提供的文档下载别无二致。请问这是什么原因造成的嗯？

[2021-04-14 09:05] pangyoki commented on #32269
请使用`nvidia-smi`看下相关信息。目前paddle还不支持3090等显卡，请问下您的显卡型号？

[2021-04-14 09:14] zcswdt commented on #32269
谢谢回复，我的显卡是T4的，很纳闷
![image](https://user-images.githubusercontent.com/43515926/114685837-cb5ae200-9d44-11eb-94c0-b7604912f0f5.png)

[2021-04-14 09:45] seiriosPlus commented on #32251
收到，已经开始排查并修复，感谢.

[2021-04-14 10:03] jerrywgz commented on #32269
看你这边是cuda10.2的版本，可以拉下cuda10.2的镜像看看

[2021-04-14 10:15] PhilCuriosity commented on #32210
编译成功了，安装也没问题，导入的时候出错了

[2021-04-14 10:34] shangzhizhou commented on #32210
请使用我们官方编译的版本试试，链接后面会更新到官网上
https://paddle-inference-lib.bj.bcebos.com/2.0.2-nv-jetson-jetpack4.4-all/paddlepaddle_gpu-2.0.2-cp36-cp36m-linux_aarch64.whl

[2021-04-14 11:07] qiaofeiw commented on #32268
nice

[2021-04-14 11:10] jianxieb commented on #29428
你好，我遇到了同样的问题，请问你解决了吗？

[2021-04-14 11:33] thepolarex commented on #32187
一开始是：python -m pip install paddlepaddle==2.0.1 -i https://mirror.baidu.com/pypi/simple
然后改成：    python -m pip install -U paddlepaddle==2.0.1 -f https://paddlepaddle.org.cn/whl/stable_noavx.html

原来两个指令都是出现同样的以下错误：

首先import paddle报错： ModuleNotFoundError: No module named 'paddle.fluid.core_noavx'
不关闭编译器再尝试import paddle就会报错： NameError: name 'batch' is not defined

请问你发的链接 缺的三个包要怎样安装？ win10系统的，直接用pip

[2021-04-14 11:34] qiaofeiw commented on #32268
![image](https://user-images.githubusercontent.com/2361236/114703759-4974b400-9d58-11eb-8ab7-630da9da1c83.png)
![image](https://user-images.githubusercontent.com/2361236/114703803-5d201a80-9d58-11eb-8a05-dfc0926cc73e.png)

[2021-04-14 11:46] #30967 closed, assigned to nobody

[2021-04-14 12:14] lidanqing-vv opened #32282 "[oneDNN] More ops need oneDNN enabling"
**Will the performance be influenced or not depends on if the blocked format are used. If there is no blocked format used, then there should not be reorder, the performance drop maybe other reasons.**

**We need to check the models first to decide if there is benefit to enable these ops.**

# 说明

由于模型中有op支持mkldnn，有的op不支持mkldnn，导致需要数据reorder转换，影响模型性能。

下面统计了一些常见模型中不支持mkldnn的op，统计方法比较简单，是基于未优化fuse的模

[2021-04-14 12:36] juncaipeng commented on #31825
@lidanqing-intel @andreazanetti

我理解是：

L2正则的损失函数是
![image](https://user-images.githubusercontent.com/52520497/114710005-d3744b00-9d5f-11eb-9bfc-cfbc0acc6e08.png)

对损失函数求导后
![image](https://user-images.githubusercontent.com/52520497/114710065-e424c100-9d5f-11eb-8ce7-43bee28608fa.png)

梯度更新是
![image](https://user-images.githubusercontent.com/52520497/114710108-edae2900-9d5f-11eb-9ff2-883c9e891819.p

[2021-04-14 12:49] qiaofeiw opened #32284 "使用sequence_pad遇到问题"
传入sequence_pad的lodtensor是这样定义的：
data = fluid.data(name="words", shape=[None, 1], dtype="int64", lod_level=1)
pad_value = fluid.layers.assign(input=np.array([0], dtype=np.int64))
outs = fluid.layers.sequence_pad(data, pad_value)
报错：
InvalidArgumentError: The rank of SequencePadOp Input(X) can't be less than 2. But the rank we received is 1

![image](https://user-images.githubusercontent.com/2361236

[2021-04-14 13:35] #32284 closed, assigned to jerrywgz

[2021-04-14 13:36] #32268 closed, assigned to jerrywgz

[2021-04-14 13:55] PhilCuriosity commented on #32210
好的，谢谢！！

[2021-04-14 14:02] PhilCuriosity commented on #32210
容我再厚颜问一句，现在jetpack4.5版本有没有相关的包？

[2021-04-14 15:35] GZHUZhao commented on #32237
谢谢您的解答！

[2021-04-14 15:46] spiderpigpig opened #32286 "windows安装错误:验证安装时报RuntimeError找不到cudnn64_7.dll"
# 环境:
  系统windows10
  显卡NVIDIA GeForce GTX 1650
  paddle 2.0.1
  cuda 10.2
  cudnn 7.6.5
  python3.8.9

# nvidia-smi
  Wed Apr 14 23:28:00 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 461.72       Driver Version: 461.72       CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name

[2021-04-15 01:25] tangxw1983 opened #32287 "concat参数都是空tensor时报错：All Inputs of Concat OP are Empty"
[code]

[code]

[2021-04-15 01:45] seiriosPlus commented on #32234
你好，能提供下复现的demo吗？ 目前这些信息无法定位到具体问题.

[2021-04-15 02:17] JJYjackson opened #32289 "搭建CNN模型，dropout层报错"
- 标题：搭建CNN模型，dropout层报错
- 版本、环境信息：
Paddle version: 2.0.1
Paddle With CUDA: True
OS: debian buster/sid
Python version: 3.7.10
CUDA version: 10.0.130
cuDNN version: 7.4.2
Nvidia driver version: 440.95.01
- 模型信息
    1）模型名称 cnn1
2）使用数据集名称
 RADIOML 2016.04C
https://aistudio.baidu.com/aistudio/datasetdetail/80514
- 问题描述：使用SubClass 组网方式搭建cnn1，运行model_CNN1.summary((None, 1, 2, 128))时，dropout层处报错，看不懂原因请大佬指

[2021-04-15 02:38] MrChengmo commented on #32256
_accumulators 与 momentum_buffer 没有关系，_accumulators是用于训练加速的配置选项，与FP16训练相关，在源码中，是这样提现的：

[code]

[2021-04-15 03:06] #32237 closed, assigned to seiriosPlus

[2021-04-15 03:37] shangzhizhou commented on #32210
客气了，jetpack4.4和4.5因为cuda、cudnn、trt的版本都一致，一个包可以在两个版本下使用的。

[2021-04-15 04:59] GuoQuanhao commented on #32256
那有与momentum_buffer对应的参数吗

[2021-04-15 05:07] juncaipeng opened #32293 "Enabling MKLDNN causes performance degradation"
For some models, the inference time becomes longer after enabling  MKLDNN.

Download the demo and refer to the readme.

DuBox ((Link:https://dubox.com/s/15Vx1tNuKjFe-JpmeSZ_O5g Password:ndji))
百度云(链接:https://pan.baidu.com/s/1H0oetp4ACU5ITsVgrcsx7g  密码:4ldz)

[2021-04-15 06:08] spiderpigpig commented on #32286
已解决，卸载python3，重新使用anaconda安装python3后，使用正常，仍未明白具体问题在哪

[2021-04-15 06:08] #32286 closed, assigned to jerrywgz

[2021-04-15 07:16] gaogaoxingxing2010 opened #32295 "图像捕捉设备部署安装问题"
您好！
图像分类中，针对厂房视频捕捉设备安装部署有以下疑问
顶棚高度4米，作业范围面积11*10米，范围面积内三个长方形工作台，其长11*宽1.5*高1.2米。识别目标不超出工作台。目前仅支持usb摄像头设备。

采用屋顶部署摄像头采集和支架（高2米）部署摄像头采集图像两种方案，如果采用支架采集图像对后期会造成影响吗？是否可行呢？感谢！

[2021-04-15 07:31] #32183 closed, assigned to wawltor

[2021-04-15 07:31] gaogaoxingxing2010 commented on #32183
已解决，感谢！

[2021-04-15 07:34] lzzyzlbb opened #32297 "Add paddle.nn.Unfold API"
Add paddle.nn.Unfold API

[2021-04-15 07:40] frankwhzhang commented on #32287
建议使用2.0版本的 对应的是Paddle.concat

[2021-04-15 07:42] frankwhzhang commented on #32289
请问这是自己的代码还是官方提供的

[2021-04-15 07:44] frankwhzhang commented on #32297
您好 这是问题咨询还是？

[2021-04-15 08:17] hgrhgy opened #32303 "都用python了，能不能不要使用OS.SYSTEM命令执行系统命令，增加系统的适用性"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：2.0.2
2）CPU/GPU：GPU
3）系统环境：WIN10

- 复现信息：
-

- 建议描述：请您详细描述，您认为需优化的功能

[2021-04-15 08:24] zhijiejia commented on #29609
我也是这样做的，同时每个optimizer 还有一个scheduler, 但是我发现有一个学习率不改变？

[2021-04-15 08:41] parap1uie-s commented on #32297
nn.functional.unfold了解一下？

[2021-04-15 09:42] weisy11 commented on #32295
具体生产场景中的问题，我们恐怕没法做特别精准的回答，很多问题受限于现场的实际条件和您选择的设备情况，仅提供一些建议供参考。如果您的支架架在工作区域的一侧，并且摄像头不能转动和调焦，那么距离近的物体与距离较远的，大小会相差很多，也会由于透视效应产生变形，效果可能不如顶棚架设。如果有条件，您可以在固定架设设备之前尝试拍摄一些样张图片，进行初步的测试。

[2021-04-15 10:11] gaogaoxingxing2010 commented on #32295
![mmexport1618480978818](https://user-images.githubusercontent.com/62227361/114851936-e5fc8c00-9e14-11eb-9b8a-6a23a41dc1ab.jpg)
补充下信息，我想识别下上图中场景中材料是否已揭膜(材料只有一种颜色，膜有有限几种颜色），也就是确定下该识别是图像分类的范畴吗？
最后还是那个问题，支架采集图像会对后续有影响吗？

[2021-04-15 11:49] PhilCuriosity commented on #32210
好的，谢谢。

麻烦了，我去查了下文档，是没有配置CUDA设备的问题

[2021-04-15 12:50] thzyyx opened #32307 "YOLOv3 ResNet50_vd DCN模型C++服务端测试数据异常"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.1发布板
    2）CPU：使用https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/05_inference_deployment/inference/build_and_install_lib_cn.html链接中下载的ubuntu14.04_cuda11_cudnn8_avx_mkl_trt7_gcc82（预测库(2.0.2版本)）自带的数学库
    3）GPU：P4卡，cudnn-8.0, cuda11, TensorRT7.2.2.3
    4）系统环境：gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)
-预测信息
    1）C++预测：使用已经编译好的离线包
     https://w

[2021-04-15 12:50] wangyexiang opened #32308 "请问fit方法中第一个参数必须是Dataset或者Dataloader吗？"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.1
    2）CPU：i7
    3）系统环境：win10

请问一下，fit方法中，第一个参数必须是Dataset或者Dataloader吗？
是这样的，假如要做多元非线性回归问题(实际上，也不一定是回归问题，其他小数据集也一样)，数据来自csv或者txt等文件中，数据量不大，如果直接从文件中读取数据，然后喂入模型中，不用转换为Dataset或者Dataloader，这样不是更简单吗？
[我记得之前用tensorflow的时候，它的fit方法中可以喂入多维np数组也可以直接喂入generator可迭代对象[https://tensorflow.google.cn/api_docs/python/tf/keras/Sequential?hl=zh_cn](url)。我在网上搜索了一下，好像paddle的fit方法不

[2021-04-15 12:56] dickobe opened #32310 "propeller的作用和功能是什么,有propeller的参考资料吗？"
1、propeller的作用和功能是什么样的?有相关的使用说明吗
2、ernie动态图训练保存模型保存的是.pbparams的格式，这个和checkpoint模型有什么区别，或者说动态图如何保存称为checkpoint格式的模型？

[2021-04-15 13:08] andreazanetti commented on #31825
Thank you Juncai, this is what I imagined but I could not found confirmation. Apologies for not seeing the comment [here](https://github.com/PaddlePaddle/Paddle/blob/87852616aaf2517567a68d6b7dd5a61ab3857380/python/paddle/fluid/regularizer.py#L113) which actually explains this well. My bad.
All this, however, also implies that any reguliarzier that is more complex than L1/L2, and for which the deri

[2021-04-15 13:08] #31825 closed, assigned to juncaipeng

[2021-04-15 14:02] seiriosPlus commented on #32229
我会在aistudio上验证后给您回复， 稍等.

[2021-04-15 14:06] JJYjackson commented on #32229
感谢感谢！

在 2021-04-15 22:02:33，"tangwei12" ***@***.***> 写道：

我会在aistudio上验证后给您回复， 稍等.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-15 15:45] lidanqing-vv opened #32311 "Paddle 2.0.1 to Paddle 2.0.2 oneDNN inference performance drop"
Some models in continuous_integrations Test performance drop due to oneDNN upgraded to oneDNN v2.2
DPN68 -8.51%,
MobilenetV2 -6.47%,
ssdlite_mobilenet_v3_large -14.06%

[2021-04-15 16:55] #19031 closed, assigned to nobody

[2021-04-16 01:26] thzyyx commented on #32307
补充：增加--run_mode=trt_fp32参数后，测试数据为28.6ms，虽然初步达到预期，但是与P4平台上的加速比差别较大，请分析下这组数据是否合理：
P4平台：原始数据/tensorRT-FP32    74.4/35.2 = 2.11
T4平台：原始数据/tensorRT-FP32    39.5/28.6 = 1.38

[2021-04-16 01:28] #32210 closed, assigned to Superjomn, shangzhizhou

[2021-04-16 02:56] MrChengmo commented on #32256
目前还没有与momentum_buffer对应的可配参数

[2021-04-16 05:09] shangzhizhou commented on #32189
您好，您的模型我在2.0.1下测试是可以推理的，辛苦更新下版本测试下。

[2021-04-16 05:24] wangyexiang opened #32315 "不能从paddle.callbacks 导入EarlyStopping。"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2
    2）CPU：i7-cpu
    3）系统环境：win10
    4)python版本：python3.8.6
 执行下面代码：
`from paddle.callbacks import EarlyStopping`
报错：
`ModuleNotFoundError: No module named 'paddle.callbacks'`

但是能够这样使用：
[code]
请问一下，这是什么原因？

[2021-04-16 06:32] frankwhzhang commented on #32307
可以在https://github.com/PaddlePaddle/PaddleDetection 这里提问

[2021-04-16 06:33] Meiyim commented on #32310
propeller主要是辅助ERNIE完成训练的一个高级训练框架，主要是服务于paddle静态图组网模型的，类似tensorlfow.estimator。相关的文档建设不是很充分，目前只能依赖代码中的注释。

[2021-04-16 06:34] thzyyx commented on #32307
好的

[2021-04-16 06:34] #32307 closed, assigned to frankwhzhang

[2021-04-16 08:17] wuzhiye7 opened #32317 "paddle模型参数对象ParamBase的值获取及赋值/加法问题"
嗨，我想实现paddle版的对模型某一层的参数进行FGM对抗训练，
遇到的问题是遍历模型的named_parameters()后，拿到ParamBase对象实例param，如何像torch一样获取param.data.clone()的值呢，然后在经过扰度处理后，再添加和赋值于这个ParamBase对象呢，如torch的实现param.data.add_(r_at)，param.data = xx，麻烦解答下 谢谢！

[2021-04-16 09:33] heavengate commented on #32315
需要先`import paddle` 之后再做`from paddle.callbacks import EarlyStopping`

[2021-04-16 09:51] heavengate commented on #32308
是的，多维数据支持我们评估一下

[2021-04-16 10:10] jiamingming-004 commented on #31222
你出来没

[2021-04-16 10:12] yunchangxiaoguan opened #32321 "飞腾麒麟v10源码编译安装paddle为什么结果是安装了paddlepaddle-0.0.0"
Package         Version
--------------- ---------
astor           0.8.1
certifi         2020.12.5
chardet         4.0.0
decorator       4.4.2
fros            1.1
gast            0.4.0
gpg             1.13.1
idna            2.10
iniparse        0.4
numpy           1.20.2
paddlepaddle    0.0.0
Pillow          6.2.0
pip             18.0
protobuf        3.15.8
pycairo         1.18.2
PyGObject       3.

[2021-04-16 10:22] geekChinaMaster commented on #31222
出来了，后来是我推理的时候自己没有把输入的维度搞对，所以出现了错误

[2021-04-16 10:44] heavengate commented on #32321
看报错信息是OpenSSL的问题，更新一下OpenSSL试下呢，或者是不是你的网络连不到`https://github.com/noloader/cryptopp-cmake/` 这个库
[code]

[2021-04-16 10:46] heavengate commented on #32317
直接`param.add(x)`就可以了

[2021-04-16 10:57] yunchangxiaoguan commented on #32321
好的，谢谢了，我后来改了个地址就好了，现在安装成功了但是版本居然是0.0.0

[2021-04-16 11:15] yzl19940819 commented on #32295
@gaogaoxingxing2010 您好，我这边是PaddleClas的产品经理：余志良。方便加一下微信，我们具体看一下这个问题场景  17854262968

[2021-04-16 12:27] wht0948 commented on #32182
您好，我现在想在一台cuda11的机器上用安装包，请问下载链接是什么呀？感谢🙏

[2021-04-16 13:04] heavengate commented on #32321
develop编译安装的版本都是0.0.0，如果问题解决当前issue就先关闭了~

[2021-04-16 13:04] #32321 closed, assigned to heavengate

[2021-04-16 13:48] lidanqing-vv commented on #32311
**DPN68 fp32: bs 1, thread 1**
**Release 2.0.1**
[code]

**Release 2.0.2**
[code]

[2021-04-16 15:50] zh794390558 commented on #32073
num_worker=0 可以正常工作， num_worker！=0就报错SystemError,就没有一次成功过。

[code]

https://github.com/PaddlePaddle/DeepSpeech/blob/transformer/deepspeech/frontend/normalizer.py

[2021-04-17 03:16] ma-tao12345 opened #32324 "最大索引反池化"
请问 paddle怎么实现最大索引反池化 像pytorch中nn.MaxUnpool2d()一样可以传进最大索引呢？

[2021-04-17 03:37] jiamingming-004 opened #32326 "yolov3 使用自己的训练模型预测输出为0"
在Jeston TX2 中部署yolov3,使用自己训练的模型，版本为1.8，在AIstudio中用训练的模型预测，有结果。将其放到Jeston TX2中进行部署，调用模型进行预测的时候（版本为2.02），并没有结果，输出为0的一些矩阵，请问可能会是哪里的原因，这中错误，与版本有没有关系。

[2021-04-17 03:59] yunchangxiaoguan opened #32327 "飞腾麒麟V10安装后，ImportError: libopenblas.so.0: cannot open shared object file: No such file or directory"
python3 tools/infer/predict_system.py --image_dir="./doc/imgs/11.jpg" --det_model_dir="./inference/ch_ppocr_server_v1.1_det_infer/"  --rec_model_dir="./inference/ch_ppocr_server_v1.1_rec_infer_new/" --use_space_char=True
Traceback (most recent call last):
  File "tools/infer/predict_system.py", line 21, in <module>
    import tools.infer.utility as utility
  File "/root/PaddleOCR-develop/tools/inf

[2021-04-17 04:04] #32327 closed, assigned to hutuxian

[2021-04-17 05:00] jeffzhengye opened #32328 "为什么paddle 加载训练好的模型，每次做predict，结果不一样呢？"
特意设置只有一个输入，# model.eval() 这个开关都试过。模型中有droptou，但是predict 接口设计的时候肯定考虑了这个问题啊。神奇啊

`def eval_integration():
    best_model = 'best_model.pdopt'
    best_model_paras = 'best_model.pdparams'
    if use_erine:
        model = ErnieForSequenceClassificationQ4.from_pretrained(MODEL_NAME_ERINE)
    else:
        model = BertForSequenceClassificationQ4.from_pretrained(MODEL_NAME)
    test_set = MyDataset(tes

[2021-04-17 05:01] jeffzhengye commented on #32328
在线等，谢谢。

[2021-04-17 05:55] wangyexiang commented on #32308
哦，感觉还是挺有必要的。祝paddle越来越好。

[2021-04-17 05:56] wangyexiang commented on #32315
明白了，好像其他有几个模块也是这样的。感谢解答。

[2021-04-17 06:28] yunchangxiaoguan opened #32329 "飞腾麒麟V10 ImportError: skimage/restoration/_nl_means_denoising.cpython-37m-aarch64-linux-gnu.so: undefined symbol: fast_exp"
python3 tools/infer/predict_system.py --image_dir="./doc/imgs/11.jpg" --det_model_dir="./inference/ch_ppocr_server_v1.1_det_infer/"  --rec_model_dir="./inference/ch_ppocr_server_v1.1_rec_infer_new/" --use_space_char=True
WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core.
/usr/lib/python3.7/site-packages/setuptools/depends.

[2021-04-17 07:11] #32256 closed, assigned to jerrywgz, MrChengmo

[2021-04-17 07:47] GuoQuanhao opened #32330 "CUDA ERROR"
platform AIStudio
version 2.0.1
[code]

[2021-04-17 08:15] GuoQuanhao commented on #32330
已查明显存不足

[2021-04-17 08:15] #32330 closed, assigned to hutuxian

[2021-04-17 08:31] GuoQuanhao opened #32331 "反向传播出错"
platform: AIStudio
version: 2.0.1
[code]

[2021-04-17 08:55] GuoQuanhao opened #32332 "Scatter方法"
如何使用paddle的scatter实现torch的scatter方法？paddle的scatter没有维度这一个变量

[2021-04-17 09:59] semal opened #32333 "使用 paddle2.0.2 trt 的推理功能预测通过 paddle1.8.5 训练模型报错"
PaddlePaddle版本：paddlepaddle-gpu==2.0.2.post100 -f https://paddlepaddle.org.cn/whl/stable/tensorrt.html
GPU：GeForce RTX 2080ti cuda10.0 cudnn7.6
系统环境：centos7 Python3.6.0
预测库来源：https://paddlepaddle.org.cn/whl/stable/tensorrt.html
模型训练：paddlehub1.8.3 paddlepaddle-gpu==1.8.5.post107，利用 save_inference_model 接口输出的模型及参数文件到一个文件夹。
TensorRT: 版本为 6.0.1.5

## 代码
[code]

## 报错信息
[code]

[2021-04-17 10:05] jeffzhengye commented on #32328
问题点找到了，但是真心不明白为什么会出现这样的问题。

save的模型中参数，跟重新初始化模型中参数名全部都不一样。

以下是载入模型报的warning：

`/home/user/anaconda3/lib/python3.7/site-packages/paddle/fluid/dygraph/layers.py:1303:` UserWarning: Skip loading for ernie.pooler.dense.bias. ernie.pooler.dense.bias is
not found in the provided dict.`

模型save的代码如下：
`
        if use_erine:
            model = ErnieForSequenceClassificationQ4.from_pretrained(MODEL_NAME_

[2021-04-17 13:13] yolearn opened #32334 "IOError"
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：1.1
    2）CPU/GPU：CPU
    3）系统环境：LINUX
    4）Python 2.7
    5）显存信息

/workspace/python/lib/python2.7/site-packages/paddle/fluid/incubate/data_generator/__init__.py", line 135, in run_from_stdin
sys.stdout.write(self._gen_str(sample))
sys.stdout.write(self._gen_str(sample))
sys.stdout.write(self._gen_str(sample))
sys.stdout.write(self._gen_str(sample)

[2021-04-18 01:59] hutuxian commented on #32334
请提供一个可复现的最小代码，我们复现一下看看？

[2021-04-18 02:26] hutuxian commented on #32331
请确认一下网络中batch norm op里面的scale和bias是否同时存在或者同时不存在？

[2021-04-18 02:48] HandsomeAIccx opened #32335 "关于paddle.summary"
文档中说   input_size,如果模型有多个输入。那么该值需要设定为list[tuple|InputSpec]，包含每个输入的shape。
文档中只有单输入的示例，能否增加一个多输入的示例。
我自己的网络是多输入，想用summary看看，但是一直失败。

[2021-04-18 02:57] yolearn commented on #32334
我用如流发你可以？你如流 id 多少？

[2021-04-18 15:47] sandyhouse commented on #32335
问题已收到，我们会尽快完善文档。另外，多输入时只需要传入一个list结构即可，例如list[(1, 28, 28, 28), (1, 256, 256, 256)],表明每个输入的shape。

[2021-04-19 02:34] hutuxian commented on #32324
您好，飞桨暂时没有提供可用的API，我们会作为一个需求尽快进行开发。请保持关注。

[2021-04-19 02:38] shangzhizhou commented on #32326
请提供模型及单元测试的代码、测试的输入，我们同学看下。

[2021-04-19 02:45] NoError404 opened #32337 "零基础实现深度学习教程提供的Lenet实现，创建model=Lenet(10)时，出现operator < gaussian_random > error"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】
![test](https://user-images.githubusercontent.com/32030695/115174503-f4d88c80-a0fb-11eb-8f73-1af5a93bee59.png)
![test](https://user-images.githubusercontent.com/32030695/115174592-16d20f00-a0fc-11eb-8307-2f9032b9e69d.png)
![test](https://user-images.githubusercontent.com/32030695/115174633-2d786600-a0fc-11eb-909d-0ef6896da214

[2021-04-19 02:45] jiweibo commented on #32329
您好，目前国产化环境对Python的依赖包的安装不太友好，可以尝试源码安装的方式装skimg。

[2021-04-19 02:46] hutuxian commented on #32334
内部用户的话请在用户群里先提问吧，我看到会联系你

[2021-04-19 02:49] HandsomeAIccx commented on #32335
这个问题您知道是什么情况吗：
我输入如下代码
paddle.summary(atten_decoder, [(10, 1), (10, 1, 256), (10, 11, 256), (10, 11,256)], dtypes='int64')
atten_decoder是[教程](https://www.paddlepaddle.org.cn/documentation/docs/zh/tutorial/nlp_case/seq2seq_with_attention/seq2seq_with_attention.html)中所定义的AttentionDecoder,我也print了forward中输入的shape，确实应该是(10, 1), (10, 1, 256), (10, 11, 256), (10, 11,256)，不知道是为什么summary会报这个错误。
![image](h

[2021-04-19 02:55] wuzhiye7 commented on #32317
问题已解决了 感谢

[2021-04-19 03:56] diandian11 commented on #31222
这个输入的维度怎么确定？哪儿可以看，还有如果输入多个值怎么用？

[2021-04-19 05:09] XianrenYty opened #32341 "paddle.sum()函数能不能支持对bool变量的求和呀"
paddle.sum()函数能不能支持对bool变量的求和呀 paddle版本2.0.2

[2021-04-19 06:00] ceci3 commented on #32337
您好，请问下您的paddle版本是什么？可以把参考的代码链接发我看下吗？

[2021-04-19 06:04] ceci3 commented on #32341
您好，sum不支持对bool变量求和

[2021-04-19 06:45] jiamingming-004 commented on #32326
项目“Jeston预测部署”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/1827046/9145ffb784004dafb2dad18218b9ff29

完整内容在里面，您可以看看，如果打不开，请联系我，谢谢

[2021-04-19 07:04] hutuxian commented on #32332
试一下scatter_nd呢，一般通过构造index，可以实现torch里dim的功能。如果您觉得无法实现，可以贴一下具体代码我们再一起讨论。

[2021-04-19 07:17] GuoQuanhao commented on #32331
已解决，问题在于复现代码时我设置了对weight不求梯度，只对bia求。这种操作目前paddle并不支持

[2021-04-19 07:17] #32331 closed, assigned to hutuxian

[2021-04-19 07:18] GuoQuanhao commented on #32332
已解决，原始代码的目的是使用torch.scatter转成onehot，我使用了paddle.nn.functional.one_hot完美替代

[2021-04-19 07:18] #32332 closed, assigned to hutuxian

[2021-04-19 07:22] jiamingming-004 commented on #28651
你好，可以留个邮箱，请教一些部署的细节不？

[2021-04-19 07:25] jiamingming-004 commented on #30866
请问你解决了嘛？

[2021-04-19 07:54] zcswdt commented on #32269
已经解决，是要启容器的加上--shm这个参数，好奇怪

[2021-04-19 08:12] shangzhizhou commented on #32326
您好，内部问了一下，这个是已知问题，目前yolov3在nano和tx2上使用GPU推理结果不正确，CPU上可以。
另外，在NX和AGX是可以正常推理的。
此问题我们会在后续的版本迭代中，视人力情况进行排查和修复。

[2021-04-19 08:17] Darki-luo opened #32357 "OSError: 找不到指定的程序"
运行错误：OSError: [WinError 127] 找不到指定的程序。: 'D:\\miniconda3\\envs\\paddle\\lib\\site-packages\\paddle\\fluid\\..\\libs'

- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle2.0.2cpu
    2）CPU：Xeon X5670
    4）系统环境：win2008 server、 Python3.8.5
1）pip安装/docker安装 miniconda4.9.2

Python 3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits"

[2021-04-19 08:39] mikeshi80 opened #32359 "添加AWS Elastic Inference Accelerator支持"
PaddlePaddle2中，部署到AWS时，与MXNet、Tensorflow及PyTorch相比，缺少了对AWS Elastic Inference Accelerator（ https://aws.amazon.com/cn/machine-learning/elastic-inference/ ）的支持，该功能对于最后部署在AWS环境中时，对于平衡性价比有至关重要的影响。

希望官方能考虑加入该功能的支持。

[2021-04-19 08:54] jiamingming-004 commented on #32326
你好，本次的问题，我目前在AIstudio 中运行，出现这种情况，希望你可以给点解答

[2021-04-19 09:01] dickobe commented on #32310
@Meiyim  再帮看下这个问题：
ernie动态图训练保存模型保存的是.pbparams的格式，这个和checkpoint模型有什么区别，或者说动态图如何保存称为checkpoint格式的模型？

[2021-04-19 09:03] dickobe opened #32361 "paddle函数问题"
paddle中padded_batch这个函数的作用是什么，在哪里可以查到函数说明？

[2021-04-19 09:05] yunchangxiaoguan commented on #32329
好的谢谢，我把那个引用注释了就好了，没用到那块

[2021-04-19 09:05] #32329 closed, assigned to hutuxian, jiweibo

[2021-04-19 09:26] shangzhizhou commented on #32326
看您的问题，是在aistudio的环境可以正常运行，但是在tx2上无法正常运行，对么？

[2021-04-19 09:33] sandyhouse commented on #32335
从报错信息看是数据类型不匹配，没有正确设置数据类型。

[2021-04-19 09:34] jiamingming-004 commented on #32326
我的问题在于，在aistudio中，预测是可以的，但在Aistudio 中使用部署预测代码预测时，预测为0的数组，

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Shang ***@***.***&gt;;
发送时间: 2021年4月19日(星期一) 下午5:26
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] yolov3 使用自己的训练模型预测输出为0 (#32326)

看您的问题，是在aistudio的环境可以正常运行，但是在tx2上无法正常运行，对么？

—
You are receiving this because you authored the thread.
Repl

[2021-04-19 09:41] jiamingming-004 commented on #32326
我想将它在Aistudio中做出来之后，在放入JestonTx2上运行文件，
目前，使用官方给的yolov3模型,在Aistudio中也是可以运行出结果的，但换了自己的模型就不可以了。找不到原因，希望可以给些建议 。

[2021-04-19 09:42] jiamingming-004 commented on #32326
可以留个联系方式嘛，方便请教一下

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Shang ***@***.***&gt;;
发送时间: 2021年4月19日(星期一) 下午5:26
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] yolov3 使用自己的训练模型预测输出为0 (#32326)

看您的问题，是在aistudio的环境可以正常运行，但是在tx2上无法正常运行，对么？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitH

[2021-04-19 10:21] JJYjackson commented on #32289
您好这是我自己的代码，希望大佬能帮我看看是什么问题？

[2021-04-19 11:17] Meiyim commented on #32310
checkpoint 为老式paddle的存储格式，目前动态图无法存储为checkpoint

[2021-04-19 11:25] JJYjackson commented on #32229
您好，请问能分享下您在aisudio上的验证结果吗？因为我在aistudio上也是报同样的错

[2021-04-19 12:05] yolearn commented on #32334
我在 Paddle用户2群 | Paddle Users 好像没人联系我

[2021-04-19 13:33] semal commented on #32333
已解决，可以关闭..

[2021-04-19 14:34] ceci3 commented on #32361
这好像不是paddle的官方函数，请问您在哪里看到的这个函数

[2021-04-19 14:34] thomas-yanxin opened #32370 "请问支持cuda11.2的.whl啥时候发布呀"

[2021-04-19 15:08] A-Pai opened #32371 "飞桨有没有“注意力机制”方面的网络实现"
飞桨有没有“注意力机制”方面的网络实现，是哪些？

[2021-04-20 01:25] thomas-yanxin opened #32372 "源码编译问题报错"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle2.0.2-gpu
    2）CPU：AMD5800H
    3）GPU：NVIDIA 3060
    4）系统环境：windows   python3.7.9
- 安装方式信息：
本地编译：cmake .. -G "Visual Studio 15 2017 Win64" -T host=x64 -DCMAKE_BUILD_TYPE=Release -DWITH_GPU=ON -DWITH_TESTING=OFF -DPYTHON_EXECUTABLE=D:\\programme\\Anaconda\\envs\\paddle\\python.exe -DCUDA_TOOLKIT_ROOT_DIR="C:\\Program Files\\NVIDIA GPU Computing Toolkit\

[2021-04-20 01:53] TCChenlong commented on #32371
hi，关于注意力机制方面的网络实现，目前飞桨官网文档中有这篇案例：
[使用注意力机制的LSTM的机器翻译](https://www.paddlepaddle.org.cn/documentation/docs/zh/tutorial/nlp_case/seq2seq_with_attention/seq2seq_with_attention.html)
此外，在AI Studio 中，也有 PaddleNLP 官方账号提供的案例：
[『NLP经典项目集』05：新年到，飞桨带你对对联](https://aistudio.baidu.com/aistudio/projectdetail/1321118)
如果想了解更多关于Paddle NLP的案例，可以参考：
[自然语言处理](https://www.paddlepaddle.org.cn/documentation/docs/zh/tuto

[2021-04-20 02:33] mikeshi80 commented on #32370
据飞桨内部人员说是计划在5月中上旬发布的2.1版本全面支持CUDA 11系列。我也在等待，现在只能靠自己编译，具体可以参考 https://my.oschina.net/mikeshi/blog/4981664

[2021-04-20 02:36] thomas-yanxin commented on #32370
哈哈哈懒得自己编译（其实是嫌麻烦……）还是等几天吧，反正也没多久了
| |
左右
|
|
***@***.***
|
签名由网易邮箱大师定制
在2021年4月20日 10:33，Mike ***@***.***> 写道：

据飞桨内部人员说是计划在5月中上旬发布的2.1版本全面支持CUDA 11系列。我也在等待，现在只能靠自己编译，具体可以参考 https://my.oschina.net/mikeshi/blog/4981664

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-20 02:43] #31770 closed, assigned to wangxicoding, joey12300

[2021-04-20 03:09] #21219 closed, assigned to zhhsplendid

[2021-04-20 03:09] #23168 closed, assigned to nobody

[2021-04-20 03:09] #23612 closed, assigned to nobody

[2021-04-20 03:09] #23833 closed, assigned to nobody

[2021-04-20 03:09] #23850 closed, assigned to nobody

[2021-04-20 03:09] #23853 closed, assigned to nobody

[2021-04-20 03:09] #23863 closed, assigned to nobody

[2021-04-20 03:09] #23865 closed, assigned to nobody

[2021-04-20 03:09] #23887 closed, assigned to nobody

[2021-04-20 03:09] #23903 closed, assigned to nobody

[2021-04-20 03:10] #23914 closed, assigned to nobody

[2021-04-20 03:10] #23936 closed, assigned to nobody

[2021-04-20 03:10] #23959 closed, assigned to hong19860320

[2021-04-20 04:14] GuoQuanhao opened #32376 "paddle.vision.transforms.Normalize"
paddle.vision.transforms.Normalize会将所有输出变成3通道，我不知道是这样设计的还是一个bug
![image](https://user-images.githubusercontent.com/49911294/115336422-cb8a3000-a1d1-11eb-9b78-adfce05b183c.png)
这花费了很多时间寻找维度报错信息，发现这种问题

[2021-04-20 04:40] TouyaAkira opened #32377 "新版MacbookAir M1芯片无法安装paddlepaddle怎么办?"
苹果M1芯片的macbook air,实际上GPU还是很强的,tensorflow已经做了适配,paddle会跟进吗?
pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple
Looking in indexes: https://mirror.baidu.com/pypi/simple
ERROR: Could not find a version that satisfies the requirement paddlepaddle
ERROR: No matching distribution found for paddlepaddle

为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速

[2021-04-20 06:25] aaferrero opened #32382 "checkpoints和pretrained_model区别"
模型微调中的这两个方法具体区别在哪里，是不是都可以用这两个进行finetune

[2021-04-20 08:24] bluestinger commented on #32189
没有修改config.set_trt_dynamic_shape_info，就能直接运行吗？
我用2.0.2，报错

[2021-04-20 08:25] bluestinger commented on #32189
E0420 08:23:30.523020  9505 paddle_pass_builder.cc:159] GPU not support MKLDNN yet
W0420 08:23:30.523105  9505 analysis_predictor.cc:1145] Deprecated. Please use CreatePredictor instead.
W0420 08:23:32.316156  9505 analysis_predictor.cc:677] The one-time configuration of analysis predictor failed, which may be due to native predictor called first and its configurations taken effect.
E0420 08:23:32

[2021-04-20 10:16] JJYjackson opened #32391 "用paddle复现经典CNN报错"
- 标题：“用paddle复现经典CNN报错 ”
- 版本、环境信息：
    Paddle version: 2.0.2
Paddle With CUDA: False
OS: debian stretch/sid
Python version: 3.7.4
CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: None
- 模型信息
    1）模型名称   :cnn1
2）使用数据集名称:
RML2016.10a-调制识别数据集
https://aistudio.baidu.com/aistudio/datasetdetail/80473
- 复现信息：
![微信截图_20210420173241](https://user-images.githubusercontent.com/655331

[2021-04-20 11:31] makaspacex commented on #32372
官网提供的编译版本3060下无法通过编译，Centos7试了好多个cuda版本 都不太行

[2021-04-20 12:06] bluestinger commented on #32189
config.set_trt_dynamic_shape_info

[2021-04-20 12:08] bluestinger commented on #32189
config.set_trt_dynamic_shape_info 设置的输入name，shape是怎么确定的，__model__里吗？

[2021-04-20 12:45] zhijiejia opened #32394 "模型训练网络在Paddle上不收敛，但是在Pytorch可以收敛"
我将Pytorch的变化检测网络迁移到Paddle上，发现在Paddle上不收敛，或者不如Pytorch上收敛的快。不知道有没有人有相似的情况，我也不好公开我的代码，因为我还在毕设。

[2021-04-20 12:52] zhijiejia commented on #32394
像GCNet、CBAM中的这类图像的注意力机制，好像收敛的不如Pytorch好

[2021-04-20 13:35] lidanqing-intel commented on #32252
@MrChengmo  The `2.0benchmark/ps/static/word2vec` mentioned in description is uploaded https://github.com/lidanqing-intel/Fleet

I tried to use newer version PaddleRec but failed since the files and readme are not matching. And our team members started BF16 training long time ago and already have a lot of work basing on `2.0benchmark/ps/static/word2vec`, so you could follow old version to reproduc

[2021-04-20 13:58] thomas-yanxin commented on #32372
听说五月上旬出支持cuda11.2的版本，要不耐心等等趴……这源码编译也挺麻烦的（主要是懒）
| |
颜鑫
|
|
***@***.***
|
签名由网易邮箱大师定制
在2021年4月20日 19:32，百变魔君 ***@***.***> 写道：

官网提供的编译版本3060下无法通过编译，Centos7试了好多个cuda版本 都不太行

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-20 13:59] thomas-yanxin commented on #32372
30系显卡好像只支持>=cuda11.1

| |
颜鑫
|
|
***@***.***
|
签名由网易邮箱大师定制
在2021年4月20日 19:32，百变魔君 ***@***.***> 写道：

官网提供的编译版本3060下无法通过编译，Centos7试了好多个cuda版本 都不太行

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-20 14:12] makaspacex commented on #32372
30系 显卡使用cuda11.1的话 虽然不`nvcc fatal   : Unsupported gpu architecture 'compute_86'`，但也编译不通过

[2021-04-20 17:51] DUT-LiMing opened #32398 "paddle.nn.functional.dice_loss 计算出的值有点不对"
- 标题： paddle.nn.functional.dice_loss 计算出的值有点不对
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2
    2）CPU：i7-8750H
    3）GPU：GTX1050TI
    4）系统环境：windows10

      我在做一个分割任务时，用一张分割的不是很好的预测图和标签做dice计算，结果得到的指标很高，然后我自己按照公式写了一个计算dice的函数，得到的结果符合我的实际情况，下图第一个print 输出的是 用paddle.nn.functional.dice_loss 函数计算得到的结果，后两个print输出的都是我自己写的dice的结果。
![JJVT6X`WFY3FSN}DS3J{761](https://user-images.githubusercontent.com/59254360/11

[2021-04-20 18:14] WhiteFireFox opened #32399 "如何在model.eval的情况下进行梯度回传backward"
如何在model.eval的情况下进行梯度回传backward

[2021-04-21 01:21] wadefelix commented on #32341
从布尔语义上来讲，直接支持数学运算不甚合理。
您可以使用  `paddle.to_tensor`做个类型转换后使用 [to_tensor-API文档-PaddlePaddle深度学习平台](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/tensor/creation/to_tensor_cn.html)

[2021-04-21 01:24] github4529 opened #32400 "TX2编译报错reduce_sum_op.cu.o failed"
   1）PaddlePaddle版本：release2.0
    2）CPU：Jeston TX2
    3）GPU：CUDA 9.0.252 和CUDNN 7.1.5
    4）系统环境：Jeston TX2  版本Ubuntu16.04、Python 3.5.2

- 安装方式信息：
本地编译：cmake .. -DWITH_CONTRIB=OFF -DWITH_MKL=OFF -DWITH_MKLDNN=OFF -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_PYTHON=OFF -DWITH_XBYAK=OFF -DWITH_NV_JETSON=ON
make -j 4

- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片

[2021-04-21 01:44] wadefelix commented on #32164
您好，这条`CMD`已被后续的`CMD`覆盖了，此镜像中的`sh`版本没有内置`source`指令。
不需要执行这个`source ~/.bashrc`的，您本意是想做？
另，能从`docker history`翻出来这些指令👍🏻。

这个镜像是ubuntu 16.04的，有bash，请使用bash这个shell。

[2021-04-21 02:01] XianrenYty commented on #32341
我是把torch代码移植过来的时候发现。torch支持paddle不行

---原始邮件---
发件人: "Ren Wei ***@***.***&gt;
发送时间: 2021年4月21日(周三) 上午9:22
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] paddle.sum()函数能不能支持对bool变量的求和呀 (#32341)

从布尔语义上来讲，直接支持数学运算不甚合理。
 您可以使用  paddle.to_tensor做个类型转换后使用 to_tensor-API文档-PaddlePaddle深度学习平台

—
You are receiving this because you authored the thread.
Reply to this emai

[2021-04-21 02:03] zhiyongLiu1114 commented on #32164
您好，我的问题是我pull下来这个镜像后，用docker run 起容器起不来，报错信息是 /bin/sh: 1: source: not found
看了一下我的系统是Centos，是因为这个原因吗？

[2021-04-21 02:04] zhiyongLiu1114 commented on #32164
您好，我的问题是我pull下来这个镜像后，用docker run 起容器起不来，报错信息是 /bin/sh: 1: source: not found
看了一下我的系统是Centos，是因为这个原因吗？

[2021-04-21 02:40] lonelydancer opened #32402 "paddle2.0 tracedLayer.save_inference_model保存的是旧格式的文件，非*pdiparams、*pdmodel。"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2
    2）GPU：GPU T4、CUDA10.1 和CUDNN  7.6.
    4）系统环境：Ubuntu 16.04.7 LTS，Python版本 3.6

-预测信息
    1）python3.6 test_tracelayer.py
   https://github.com/lonelydancer/algorithm/blob/master/test_tracelayer.py

- 复现信息：

   报错
   No such file or directory: '/home/infer_demo/Paddle-Inference-Demo/python/paddle_trt/saved_infer_model2.pdmodel

   out_dygraph, static_layer =

[2021-04-21 03:06] thzyyx opened #32403 "paddle_inference关于int8推理的部分疑惑"
版本：paddle-2.0.1
模型：YOLOv3 ResNet50_vd DCN
环境：T4显卡  cudnn-8.0, cuda11, TensorRT7.2.2.3
问题描述：测试yolov3模型在paddle-TensorRT下的性能，在paddle-2.0的文档描述中未描述如何进行int8的推理，阅读1.8.0的文档，对于paddle-TensorRT有如下说明：
`precision，类型：enum class Precision {kFloat32 = 0, kHalf, kInt8,};, 默认值为AnalysisConfig::Precision::kFloat32。指定使用TRT的精度，支持FP32（kFloat32），FP16（kHalf），Int8（kInt8）。若需要使用Paddle-TRT int8离线量化校准，需设定precision为 AnalysisCon

[2021-04-21 05:49] shangzhizhou commented on #32189
name如果配置错了，日志中会有提示。shape是实际运行时输入的shape范围，不能有负数。

[2021-04-21 06:14] shangzhizhou commented on #32326
目前的阶段是跟tx2没关系，在aistudio里换了模型就结果不正确对么
可以加入paddle推理部署QQ群959308808，方便沟通。

[2021-04-21 06:15] makaspacex commented on #32370
编译3060 cuda11.1 已经疯了

[2021-04-21 06:38] jiamingming-004 commented on #32326
对，是这样的，我在训练时数据集用的是VOC类型的，这个有没有影响？  好的，我添加群。

[2021-04-21 06:40] wadefelix commented on #32164
您启动容器的命令是什么呢？
![image](https://user-images.githubusercontent.com/1306724/115507773-2180d580-a2af-11eb-835a-c7df4b6f82bf.png)

是使用类似这样的命令么？
[code]

[2021-04-21 07:12] FeixLiu opened #32411 "got attribute error for this line"
https://github.com/PaddlePaddle/Paddle/blob/2194ad1566464eb7bc8eb4d5bf6b791379a3a145/tools/timeline.py#L243
在nvidia gpu开发机上获得profile文件后运行 `python timeline.py --profile_path=profile --timeline_path=timeline` 时在这一行会报Attribute Error。注释该行后可正常运行并获得timeline文件。

[2021-04-21 07:12] geekChinaMaster opened #32412 "使用paddle inference推理时候开启GPU支持，分配了1000m显存，但是实际使用了大量的显存"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu2.0.0
    2）GPU：nvidia T4，CUDA10.2和CUDNN7.6.5
    4）系统环境：centos7.9，Python3.7
具体描述：
在推理时候，设置使用GPU进行推理，显存分配1000m，共一块GPU：nvidia T4，显存共16G，功率70w
具体设置为：
<img width="853" alt="8B0DE940-48EB-41ED-A0AE-6FB758008100" src="https://user-images.githubusercontent.com/44657953/115514988-411bfc00-a2b7-11eb-8d97-c5a54c55f629.png">
我们将推理程序封装成api接口，开启了4个进程4个线程以供调用，在有程

[2021-04-21 07:40] bluestinger commented on #32189
没有修改config.set_trt_dynamic_shape_info，就能直接运行吗？
我用2.0.2报错,这个错误呢？

[2021-04-21 08:23] shangzhizhou commented on #32189
这个报错应该因为您的动态shape设置了负数
names[4]:[-1,1], #minshape不能有-1，这个改成1试试？

[2021-04-21 08:29] zhiyongLiu1114 commented on #32164
您好，启动镜像命令如下：
docker run \
-itd \
-p 33070-33075:33070-33075 \
--name xxx\
-v /xxx:/xxx \
--gpus all 282b0317c261(这个是镜像id)

我在最后加上/bin/bash 后启动成功了，谢谢

[2021-04-21 09:14] 312shan opened #32422 "官网的这段 beam_search 代码示例报错"
开发环境是官方百度云，版本一致的，代码在下方链接里面
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.7/api_cn/layers_cn/beam_search_cn.html

错误信息如下：
[code]

[2021-04-21 09:20] haoyuying commented on #32398
您好同学，可否将上述两张计算dice_loss的图保存成png的0，1格式方便我们排查问题？感谢您的配合

[2021-04-21 09:24] A-Pai opened #32423 "飞桨有没有关于NLP语音方面的"
飞桨有没有关于NLP语音方面的，比如数据集、API、网络等

[2021-04-21 10:18] DUT-LiMing commented on #32398
好的，图片在附件中，是用PIL保存的 0，1 的 图片 ，麻烦您了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年4月21日(星期三) 下午5:20
***@***.***&gt;;
***@***.******@

[2021-04-21 11:35] DTDXG opened #32425 "多目标任务不同任务loss对应权重更新"
在使用torch的时候 可以通过model.parameters的方法来获取模型的参数并把子任务loss的权重参数添加进去，这样模型就能够优化子任务loss的权重参数
使用paddle的话 是否也有同样的方法获取所有参数然后把loss的权重参数添加进去呢，好像没有找到这样的方法

[2021-04-21 13:04] aishangmaxiaoming opened #32429 "使用paddle 2.0.0报错. Cublas error, `CUBLAS_STATUS_EXECUTION_FAILED`"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-04-21 15:50] GuoQuanhao opened #32433 "paddle2.0.2多卡训练报错"
环境如下
[code]
运行报错如下，使用`spawn`机制
[code]
这种报错总是出现，不定时在训练期间出现，报错运行结束后有时还存在显存占用
[code]

[2021-04-21 16:42] Costwen opened #32434 "使用多卡训练的时候报错"
如果使用dist.spawn(train)则会报如下错误

![image](https://user-images.githubusercontent.com/47916831/115590353-70f0f100-a303-11eb-8670-6b8aaaa9461c.png)

如果shi'y使用 fleetrun train.py 则在第二张卡的log中输出

![image](https://user-images.githubusercontent.com/47916831/115590448-8cf49280-a303-11eb-9f97-a3aab1f94f10.png)

是因为我在处理图片的时候在compose中使用了to_tensor 吗， 如果是那么to_tensor应该如何写呢？

似乎是只能检测到一块gpu的问题？ 两个进程中的device id 都是 0

[2021-04-21 17:46] jczaja commented on #31992
@juncaipeng  I have made some more changes (develop PR: #32309). Could you please test them and report problems if any?

[2021-04-22 02:17] bluestinger commented on #32189
确实能运行了，谢谢～

[2021-04-22 02:17] #32189 closed, assigned to shangzhizhou

[2021-04-22 02:20] mikeshi80 commented on #32370
你试试我编译的版本，是python 3.7 + CUDA 11.2 + cuDNN 8+Win10环境下编译的，如果你也是用Win10，那么还可能可以就救你

链接：https://pan.baidu.com/s/1uvSuq_SO2cM-6OXaS4ULSg
提取码：o7yf

[2021-04-22 02:44] gp1322719830 opened #32442 "有些模型多线程预测存在内存泄露"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.6 C++
    3）GPU：cuda10.1，cudnn7.5
    4）系统环境：
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
#include <iostream>
#include <paddle_inference_api.h>

[2021-04-22 02:45] makaspacex commented on #32370
@mikeshi80 谢谢🙏 我是Centos7

[2021-04-22 03:15] Shixiaowei02 commented on #32372
请在win10环境下，把python和cuda路径里的`/`改为`\`

[2021-04-22 03:20] Shixiaowei02 commented on #32382
checkpoints 存储的是模型的参数信息，而不是完整模型。pretrained_model 指的是完整模型。

[2021-04-22 03:22] Shixiaowei02 commented on #32377
我们测试是可以pip install安装的，请检查pip源是否可用；如果还有问题，请提供给我们具体不能安装的wheel包链接，谢谢

[2021-04-22 04:02] saxon-zh commented on #31487
您好，最近在评估增加相关数据集的需求，这些列表里面有哪些是比较想要高优提供的吗

[2021-04-22 04:19] kevinxhgao commented on #25673
请问中文普通话的何时可完成？

[2021-04-22 04:41] TouyaAkira commented on #27295
已经解决了,Paddle没问题,实际上我已经安装了CUDA11的驱动,然后在安装paddle的时候,仍可以用cudatookkit10.2的版本
nvidia-smi
Thu Apr 22 12:40:28 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Dis

[2021-04-22 04:46] TouyaAkira commented on #32377
conda activate py38
python -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple
Looking in indexes: https://mirror.baidu.com/pypi/simple
ERROR: Could not find a version that satisfies the requirement paddlepaddle
ERROR: No matching distribution found for paddlepaddle

用pip安装,用百度自己的源,直接报错,怎么破?

[2021-04-22 04:47] TouyaAkira commented on #32377
安装了mini-conda,在python3.8.8下运行pip install,直接找不到合适的版本

[2021-04-22 05:15] bjjwwang commented on #32433
https://docs.nvidia.com/cuda/cuda-memcheck/index.html
可以参照这个跑一下cuda memcheck看看是哪一块非法访问了

[2021-04-22 06:32] Shixiaowei02 commented on #32376
请检查 `data_format` 参数的配置：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/normalize_cn.html

[2021-04-22 06:36] Shixiaowei02 commented on #32391
看起来是 `Linear-1` 层的尺寸出错了，请检查一下

[2021-04-22 06:41] xxxpsyduck commented on #32377
Try docker?

[2021-04-22 07:01] Shixiaowei02 commented on #32394
请 @littletomatodonkey 回答一下这个问题，谢谢

[2021-04-22 07:04] yinyimoshushi opened #32453 "飞桨2.0API文档中Sequential示例代码运行报错"
在aistudio中运行API文档中paddle.nn.Sequential下面的示例代码报错

代码如下：
import paddle
import numpy as np
data = np.random.uniform(-1, 1, [30, 10]).astype('float32')
data = paddle.to_tensor(data)
# create Sequential with iterable Layers
model1 = paddle.nn.Sequential(
    paddle.nn.Linear(10, 1), paddle.nn.Linear(1, 2)
)
model1[0]  # access the first layer
res1 = model1(data)  # sequential execution
# create Sequent

[2021-04-22 07:13] littletomatodonkey commented on #32394
你好，可以看下两者的初始化是否完全一致，此外，关于和torch的对比，可以先使用同一份权重进行初始化，使用相同的输入，看下forward的输出是否一致，确保二者前向和结构完全可以对上再进行实验

[2021-04-22 07:27] JJYjackson commented on #32391
您说的这个我之前改过，矛盾的是Linear-1层的尺寸按照报错改为"nn.Linear(2097152, 128)"然后运行下图中的代码就又会报Linear-1层的错。
![微信截图_20210422](https://user-images.githubusercontent.com/65533171/115670683-455e1d00-a37c-11eb-804b-e1e472d9ca69.png)
然后我将model_cnn1.summary((None, 1, 2, 128)) 注释掉，再运行训练段的代码又会报如下图的错误：
希望大佬看一下。
![微信截图_202104221](https://user-images.githubusercontent.com/65533171/115673027-bdc5dd80-a37e-11eb-94cf-575a0a5c53ed.png)

[2021-04-22 07:28] sjhsjn1017 opened #32454 "Dataloader加载缓慢问题"
- 版本、环境信息：
    1）PaddlePaddle版本：2.02paddle_gpu
    3）GPU：GPU:Tesla T4 ，CUDA Version 11.0.2  CUDNN版本号:7.6
    4）系统环境：ubuntu18.04
- 模型信息
- 问题描述：在使用paddle进行论文复现时发现训练速度比pytorch版本代码慢了2倍左右,
                    通过对问题的分析和定位,发现原因极可是paddle的**Dataloader**这里对数据集的处理很慢,
                    请问有什么办法能使Dataloader的速度快一些吗?
                    下面给出在相同的环境(google colab的虚拟环境)下, 相同的数据集处理操作的速度对比:

paddle版本代码:

[code]
paddl

[2021-04-22 08:36] JJYjackson opened #32455 "用paddle复现经典CNN训练报错"
- 标题：“用paddle复现经典CNN训练报错  ”
- 版本、环境信息：
Paddle version: 2.0.2
Paddle With CUDA: False
OS: debian stretch/sid
Python version: 3.7.4
CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: None
- 训练信息： AIstudio-notebook
硬件信息
当前环境  基础版
CPU  2
RAM  8GB
磁盘 100GB
环境配置
Python版本 python 3.7
框架版本 PaddlePaddle 2.0.2
- 复现信息：
1）模型名称 :cnn1
2）使用数据集名称:
RML2016.10a-调制识别数据集
https://aistudio.baidu.com

[2021-04-22 08:40] ronaldpan commented on #32056
修改后的program.py
# Copyright (c) 2020 PaddlePaddle Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under t

[2021-04-22 08:48] 11Boss opened #32457 "(PreconditionNotMet) The third-party dynamic library (libcublas.so) that Paddle depends on is not configured correctly. (error code is libcublas.so: cannot open shared object file: No such file or directory)"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2021-04-22 09:00] GuoQuanhao commented on #32376
已使用paddle自带的灰度转换解决

[2021-04-22 09:00] #32376 closed, assigned to Shixiaowei02

[2021-04-22 09:11] mikeshi80 commented on #32370
Linux的话，官方就有非正式安装包的，不过在一个微信群里，他们今天刚发了最新版的，我把原文贴出来

[2021-04-22 09:11] makaspacex commented on #25609
![image](https://user-images.githubusercontent.com/16874796/115688296-9de9e600-a38d-11eb-9ac1-084f09e5e2cc.png)

这是我的解决办法

[2021-04-22 09:45] A-Pai opened #32461 "“词向量Word Embedding”教程中未讲二种算法是怎样训练的？"
“词向量Word Embedding”教程中未讲二种算法是怎样训练的？
https://www.paddlepaddle.org.cn/tutorials/projectdetail/1516149
如下，没有讲训练的过程？是无指导的学习？训练到怎样算是训练好了？判别的标准是？

![QQ截图20210422174143](https://user-images.githubusercontent.com/5112397/115693407-79443d00-a392-11eb-9f1a-faefcba381f3.jpg)
![QQ截图20210422174224](https://user-images.githubusercontent.com/5112397/115693415-7b0e0080-a392-11eb-92d3-fa65d9faf2b6.jpg)

[2021-04-22 09:49] lonelydancer opened #32462 "paddle 1.8 ernie生成文本分类模型后，使用paddle inference tensorRT库报错 #646"
同
https://github.com/PaddlePaddle/ERNIE/issues/646

[2021-04-22 10:11] Yelrose opened #32464 "SyncBatchNorm在多卡，每个卡BatchSize不一致时候，统计值有问题"
我看代码实现上，sync_batch_norm_op里面是会每台机，算局部均值，然后最终在机器之间取均值。如果每张卡BatchSize不同，统计量应该是有问题的。
https://github.com/PaddlePaddle/Paddle/blob/c48157075bb392661d9e1539ec8d37ec423efe95/paddle/fluid/operators/sync_batch_norm_op.cu.h#L93

附上Pytorch的SyncBatchNorm
https://github.com/pytorch/pytorch/blob/75024e228ca441290b6a1c2e564300ad507d7af6/torch/nn/modules/_functions.py#L38

Pytorch的实现会按照每张卡的BatchSize来统计真实的均值

[2021-04-22 10:46] shangzhizhou commented on #32442
您好，PaddlePredictor不是线程安全的，不能同时被多个线程调用

[2021-04-22 11:08] A-Pai opened #32467 "Word Embedding这个工作应该是某种语言共同的基础工作"
Word Embedding这个工作应该是某种语言共同的基础工作，比如汉语，应该是用非常广泛、丰富的语料做出来的，形成一个库来共同使用，每个项目都来做Word Embedding，有意义吗？

[2021-04-22 11:20] gp1322719830 commented on #32442
我这边是一个线程反复调用，不是多个线程同时调用。demo中mobilenetv1是不存在内存泄露的，我这边遇到了内存泄露很严重的模型。

[2021-04-22 12:22] A-Pai opened #32471 "“词向量Word Embedding”教程的图3怎么体现了把Embedding Lookup的过程转换为张量计算？"
“词向量Word Embedding”教程的图3怎么体现了把Embedding Lookup的过程转换为张量计算？与图2比较
https://www.paddlepaddle.org.cn/tutorials/projectdetail/1516149
![QQ截图20210422201938](https://user-images.githubusercontent.com/5112397/115713156-46a53f00-a3a8-11eb-9f55-11528ffd5ead.jpg)
/projectdetail/1516149

[2021-04-22 12:25] gp1322719830 commented on #32442
图片流场景，循环处理图片数据，循环中模型A对应的PaddlePredictorA被线程A调用，模型B对应的PaddlePredictorB被线程B调用，完全按照官方demo来的，循环中内存不断增长，出现严重泄露

[2021-04-22 12:35] A-Pai opened #32473 "“词向量Word Embedding”教程中“稠密张量”从何而来？"
“词向量Word Embedding”教程中“稠密张量”从何而来？
![QQ截图20210422203335](https://user-images.githubusercontent.com/5112397/115714896-342c0500-a3aa-11eb-9755-123bbea6ed8b.jpg)
https://www.paddlepaddle.org.cn/tutorials/projectdetail/1516149

[2021-04-22 12:42] A-Pai opened #32475 "“词向量Word Embedding”教程中这句话是不是前后矛盾"
https://www.paddlepaddle.org.cn/tutorials/projectdetail/1516149
![QQ截图20210422204010](https://user-images.githubusercontent.com/5112397/115715708-ff6c7d80-a3aa-11eb-82c1-67694c29a6c1.jpg)

[2021-04-22 13:01] GuoQuanhao opened #32479 "如何实现numpy中的bool切片"
[code]
[code]

我需要在paddle中实现numpy的类似操作，并且需要保留梯度。如果我将tensor转成numpy则会造成梯度截断。我想知道是否有相应的解决方案

[2021-04-22 13:14] Darki-luo opened #32481 "Paddle.summary()报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2
    2）aistudio 在线gpu环境

打印swin transform 分割模型报错
[code]

[2021-04-22 13:40] #32057 closed, assigned to T8T9

[2021-04-22 13:41] #32072 closed, assigned to littletomatodonkey

[2021-04-22 14:34] RoseSakurai opened #32483 "用spawn单机多卡 TypeError: cannot pickle 'paddle.fluid.core_avx.Place' object"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2
    2）GPU型号：1080Ti
         CUDA版本：10.2
         CUDNN版本号： 76
    3）系统环境：
          Ubuntu 18.04
          gcc 7.5.0
          python 3.8.8

- 训练信息
   1） 单机/多卡
   2） 通过paddle.utils.run_check(), 验证可以在4卡上跑，但是运行代码时UserWarning: The program will return to single-card o
peration. Please check 1, whether you use spawn or fleetrun to start the program. 2, Whether it i

[2021-04-23 03:08] Leonardo-Ding commented on #32399
同学你好，model.eval只做前向计算，不会进行梯度回传

[2021-04-23 03:14] Leonardo-Ding commented on #32400
同学你好，能否把TX2上编译reduce_sum_op.cu.o报错具体信息发一下，从你发的报错信息片段来看，暂时看不出具体的原因

[2021-04-23 03:15] songsong-L opened #32489 "参数相关"
源码中梯度裁剪是这样的：
根据**self._grad_clip(params_grads)**
然后用**layers.clip**这个**op**完成裁剪
这些操作都是封装在优化器内部的。

那么问题来了，现在实现一个类似梯度裁剪的功能（**op**），处理后的数据我怎么放到优化器里面去完成后续的操作？

[2021-04-23 03:18] Leonardo-Ding commented on #32429
你好，出现这个报错最有可能是CUDA_VISIBLE_DEVICE设置的gpu设备故障导致检测不到了，建议使用CUDA_VISIBLE_DEVICE设置其他gpu试一试

[2021-04-23 03:20] Shixiaowei02 commented on #32391
您好，怀疑模型组网有问题，请问能提供原始文献我们看下吗

[2021-04-23 03:22] Leonardo-Ding commented on #32423
同学你好，https://www.paddlepaddle.org.cn/modelbase里面有paddle_speech的介绍

[2021-04-23 03:24] JJYjackson commented on #32391
[Convolutional Radio Modulation Recognition Networks.pdf](https://github.com/PaddlePaddle/Paddle/files/6362487/Convolutional.Radio.Modulation.Recognition.Networks.pdf)
您好，这是复现的原始文献。

[2021-04-23 03:58] Leonardo-Ding commented on #32412
同学你好，paddle inference里面有设计的显存池，你代码里只是把显存池的空间初始化为1000M，实际inference时cuda程序运行占用的显存可能不止1000M，这时会通过cudaMalloc()重新申请额外的显存，所以你看到的是2000M～3000M之间，多进程占用gpu的情况比较复杂，需要具体情况具体分析。

[2021-04-23 04:00] Leonardo-Ding commented on #32411
同学你好，paddle的timeline工具现在还有一些问题，相关同学还在完善修复一些功能，不太建议现在使用，谢谢

[2021-04-23 05:12] shangzhizhou commented on #32403
use_calib_mode = True只有在精度设置为int8时才会生效，此时走的是trt的离线量化。
当其他精度下，会忽略该配置项。

[2021-04-23 05:26] Shixiaowei02 commented on #32402
您好，我们检查一下这个问题。您生成的这个模型依然可以正常加载，请您先暂时使用这种格式。

[2021-04-23 05:28] zhhsplendid commented on #32402
嗨，您好，您的反馈是对的，这个问题我们内部也发现了，并且在develop上已经修复，将随2.1发布该修复。如果您来不及等待新版本，当下需要该功能，使用旧版载入接口？或者使用ProgramTranslator也能做动转静功能。

[2021-04-23 05:31] FrostML commented on #32422
我这里使用 Paddle 1.7.2 跑官网这段示例代码没有问题。
这段代码具体是怎么用的？
具体模型中使用方法可以参考 [transformer 1.7](https://github.com/PaddlePaddle/models/blob/release/1.7/PaddleNLP/machine_translation/transformer/transformer.py#L831)

[2021-04-23 06:06] adverse-voyage opened #32495 "No accurate error hint!"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.0
    3）GPU：2.0.2
    4）系统环境：Win10， Python 3.7
请教各位，我在运行VGG的时候总是报错，并且错误是 no accurate error hint。

**VGG网络结构代码：**
[code]

**训练模型的代码**
[code]

**报错：**

[code]

谢谢各位的帮助！问题有点急！感激不尽！

[2021-04-23 06:16] littletomatodonkey commented on #32391
维度需要对应上

[code]

改为

[code]

[2021-04-23 06:26] adverse-voyage commented on #32495
No nice day until you reply to me. 谢谢！

[2021-04-23 06:30] bjjwwang commented on #32483
Place对象无法序列化 能简单说下这段代码是参考哪些资料编写的吗
这通常是Python多进程传对象的时候会报这种错误

[2021-04-23 06:50] nbcc commented on #29990
<img width="1335" alt="图片" src="https://user-images.githubusercontent.com/864331/115830594-1bbbf900-a443-11eb-864e-a4bad1d92642.png">

@zhouwei25 这个已经指定 PY_google.protobuf 包地址了，包版本是 3.15.8 为什么还是会报错？

[2021-04-23 06:51] bjjwwang commented on #32481
收到

[2021-04-23 06:51] RoseSakurai commented on #32483
1）https://github.com/whai362/PSENet/blob/python3/train.py
2）paddle官方文档

请问是不能用json序列化的意思吗？

[2021-04-23 06:52] LielinJiang commented on #32481
麻烦提供下复现代码

[2021-04-23 06:52] bjjwwang commented on #32483
好的，我例会的时候问下能不能这么操作以及有没有替代方案。 如果传入对象不能序列化 确实会有这种错。

[2021-04-23 07:03] bjjwwang commented on #32479
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/tensor/logic/greater_equal_cn.html#greater-equal
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/tensor/logic/greater_than_cn.html
不知道这种类似的是否满足要求

[2021-04-23 07:05] Lanme commented on #30933
paddlepaddle-gpu=2.0.2，cuda=10.1同报错，不知是否有像tensorflow-gpu那样可以看paddle版本号和cuda版本号的对应？

[2021-04-23 07:10] bjjwwang commented on #32475
好 谢谢指导 我询问下相关开发者

[2021-04-23 07:12] bjjwwang commented on #32473
这个就是模型的权重

[2021-04-23 07:18] Leonardo-Ding commented on #32425
同学你好，我们动态图应该也可以用model.parameters()来获取参数的。

[2021-04-23 07:21] bjjwwang commented on #32471
可以认为每个词 都映射到了一个数字， 每个数字又对应着一组向量（就是Embedding Lookup里面每个横排），所以 我 爱 人工 等词语最终都对应着 一组向量。 为了让这个过程翻译成一个数学计算过程，就发明了onehot 也就是第二个矩阵。然后和第三个lookup就可以变成矩阵乘法。

[2021-04-23 08:24] WenmuZhou commented on #29845
插眼

[2021-04-23 08:28] Frozenmad commented on #26166
我也遇到了相似的需求，请问楼主解决了吗，怎么硬设置gradient？

[2021-04-23 08:29] bjjwwang commented on #32434
好的 收到 我请教下专业开发者

[2021-04-23 08:31] bjjwwang commented on #32467
这个可能要请教模型团队了。
我问问看他们的意见

[2021-04-23 08:35] bjjwwang commented on #32453
好的 收到

[2021-04-23 08:36] bjjwwang commented on #32454
收到

[2021-04-23 08:39] bjjwwang commented on #32457
搜搜看 libcublas.so.* 在什么路径，有没有在LD_LIBRARY_PATH的路径下

[2021-04-23 08:41] bjjwwang commented on #32461
收到 我会请教模型团队看看

[2021-04-23 08:41] lonelydancer commented on #32402
@Shixiaowei02 @Shixiaowei02  paddle inference demo 中paddle_trt的例子是不是也要同步升级。我看他们用的还是1.8格式的ernie model..

[2021-04-23 08:45] bjjwwang commented on #32462
收到 我们请教下预测团队

[2021-04-23 08:45] bjjwwang commented on #32464
收到 谢谢 我们讨论下

[2021-04-23 08:55] Frozenmad opened #32500 "set gradient manually for parameters"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0
    4）系统环境：Linux

请问怎么手动设置parameters的gradient，我想完成以下功能：
[code]

目前会报错说不能设置attribute

[2021-04-23 09:01] hong19860320 commented on #32500
你指的不是设置梯度，而是如何设置参数'a'的初始值吧？

[2021-04-23 09:14] Frozenmad commented on #32500
您好，谢谢回复！我是要手动设定a的梯度，并非初始值，提供的例子只是快速展示我要完成的功能的example（实际上我是要在训练模型中在回传的梯度上做点修改，但没找到方法）。

[2021-04-23 09:32] TCChenlong commented on #32461
hi，使用飞桨训练Skip-gram的方法在这里有描述的：[网络训练](https://www.paddlepaddle.org.cn/tutorials/projectdetail/1516149#anchor-8)

[2021-04-23 09:53] geekChinaMaster commented on #32412
ok那我明白了，那么就是说我不能给他们分配实际使用的显存是吗，本来是计算资源有限，如果能控制一点就好了

[2021-04-23 10:14] sjhsjn1017 commented on #32454
大佬您好,
今天我折腾了半天, 对比了下paddle和pytorch的在Dataloader这块的源码,  当然并不是所有的代码都看懂了, 但是我自己尝试把dataloader组装成batch的主要代码给扣了出来测试分析了一下, 我在同样的环境下把抽出来的dataloader的代码(这里抽出来的只涉及组装batch的操作,不涉及转换成Tensor)
1.  首先我只用numpy生成了数据,  不做tensor的操作, 这个时候速度当然是一样的
2.  然后我在dataloder里分别加上了转换为Tensor的操作,  这个时候paddle就比pytorch慢很多了, 于是我大胆假设, 影响速度的就是Tensor, 不管是做什么操作,然后我做了下面的简单实验
![image](https://user-images.githubusercontent.com/50991400/1158566

[2021-04-23 10:16] sjhsjn1017 commented on #32454
@bjjwwang

大佬您好,
今天我折腾了半天, 对比了下paddle和pytorch的在Dataloader这块的源码, 当然并不是所有的代码都看懂了, 但是我自己尝试把dataloader组装成batch的主要代码给扣了出来测试分析了一下, 我在同样的环境下把抽出来的dataloader的代码(这里抽出来的只涉及组装batch的操作,不涉及转换成Tensor)

首先我只用numpy生成了数据, 不做tensor的操作, 这个时候速度当然是一样的
然后我在dataloder里分别加上了转换为Tensor的操作, 这个时候paddle就比pytorch慢很多了, 于是我大胆假设, 影响速度的就是Tensor, 不管是做什么操作,然后我做了下面的简单实验
image
同样功能的操作, 速度居然差这么多....
这应该是框架实现的问题吧...
麻烦大佬给我指点迷津, 最近在准备做小论文的

[2021-04-23 10:27] A-Pai commented on #32461
没有讲清楚

[2021-04-23 10:31] hong19860320 commented on #32495
你这个代码是参考我们文档哪个示例的啊？能提供下完整能跑的脚本吗？

[2021-04-23 10:55] hong19860320 commented on #32500
目前没有提供手动设置梯度的方法哦，为什么要手动设置梯度啊，背景能说下吗？

[2021-04-23 11:16] Frozenmad commented on #32500
目前在尝试SGLD相关实践：[Bayesian learning via stochastic gradient langevin dynamics](https://www.ics.uci.edu/~welling/publications/papers/stoclangevin_v6.pdf)，如果能改梯度的话好像会方便点。或者有没有办法写自己的optimizer？

[2021-04-23 11:24] Frozenmad commented on #32500
对了，还有一个场景是accumulative的更新梯度，目前我得解决办法是对loss除以accumulate step。但最好的实现方式感觉是积累后对梯度除以一个accumulate step。

[2021-04-23 11:24] www516717402 opened #32502 "Issue"
Issue里面结束的问题能关闭不？稍微管理一下

[2021-04-23 13:00] bjjwwang commented on #32454
好的 我问到相关开发者的解释是  可以调大num_of_workers试下，不过根源问题是numpy转tensor慢，会先内部讨论是否作为需求。

[2021-04-23 14:57] Fzldq commented on #32054
你好，改了之后cpu利用率还是只有140%。
一楼更新了一下系统信息。

[2021-04-24 01:09] www516717402 commented on #32500
1. paddle修改梯度不清楚，torch里面轻松修改。
2. loss除以accumulate step，这个可以使用loss = loss * accumulate step替代每次backward

[2021-04-24 02:45] A-Pai opened #32508 "“THUNews文本分类比赛”是不是没写完？"
“THUNews文本分类比赛”是不是没写完？不能运行 啊
https://www.paddlepaddle.org.cn/tutorials/projectdetail/1515749

[2021-04-24 03:51] Frozenmad commented on #32500
请问后续paddle会支持手动设置梯度吗？

[2021-04-24 05:21] sjhsjn1017 commented on #32454
感谢大佬!!!
       num_workers我之前就已经试过了,  调大了之后反而更慢了, 这块没有看源码分析是什么原因,目前来看num_workers=0的时候最快而且不会出问题(我记得之前我测试过num_worker>0时如果Dataloader加载的Dataset数据预处理部分已经有了Tensor相关的操作, 就会报错, 好像有人也提了类似的issue, devleop版本好像也解决了这个问题),  不过我估计就像你说的, 根源问题还是numpy转tensor太慢了,  我觉得这是一个亟待解决的问题呀, 希望后续版本能有所优化,  不然浪费了Telsa V100这么好的显卡呀,哈哈

[2021-04-24 05:46] adverse-voyage commented on #32495
谢谢谢谢！昨晚突然无法登上github，已解决！

[2021-04-24 06:57] GuoQuanhao opened #32509 "反向传播出错"
platform: AIStudio
Version: 2.0.2
在程序中我是用`logits.backward(grad)`出错，其中`logits`的`stop_gradient=False`, `grad`的`stop_gradient=True`，即`logits`有梯度信息，`grad`没有，我想知道这个报错信息代表什么意思
[code]

[2021-04-24 07:02] GuoQuanhao commented on #32509
在torch中这样运行没有错误
[code]
但在paddle中，我收到以下错误
[code]
[code]
我想知道paddle如何实现torch这样的机制？这对我很重要

[2021-04-24 09:12] GuoQuanhao commented on #32509
已解决，利用multiply可以获得相同的结果

[2021-04-24 09:28] xiayouran opened #32510 "OSError: (External) Cuda error(719), unspecified launch failure."
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==2.0.2.post101
    2）GPU：CUDA=10.1 CUDNN=7.6.5    
    4）系统环境：Windows 10 专业版（版本号：20H2）Python=3.7.10

- 训练信息
    ----------------------------------------------
Process 0 terminated with the following error:
----------------------------------------------

Traceback (most recent call last):
  File "D:\ProgramData\Anaconda3\envs\BaiDu\lib\site-packages\

[2021-04-24 09:55] #32509 closed, assigned to yongqiangma

[2021-04-24 11:56] Costwen commented on #32434
看起来感觉像是 数据都被丢到了第一张卡上面 没有使用第二张卡

[2021-04-24 12:55] hong19860320 commented on #32502
一般是用户完全没有问题后自己关闭的，或者对于用户长时间没有回复的issue也会定期自动关闭的哈~

[2021-04-25 02:04] hong19860320 commented on #32495
感谢~ 能麻烦说下解决办法吗？也好让其他同学参考哦。

[2021-04-25 02:08] hong19860320 commented on #32500
我们记下这个需求，后续统一的排期开发哈~

[2021-04-25 02:49] #32184 closed, assigned to wawltor

[2021-04-25 02:51] juncaipeng commented on #31992
@jczaja  I have tested all the models in the demo and don't have problems. The customer will use the new inference library to test in their project. If there's any news, I'll give it back.

[2021-04-25 02:52] HUI587 opened #32514 "报错Cannot open .\model_dir/steps1_133.ckpt to write at (D:\1.6.3\paddle\paddle/fluid/operators/save_combine_op.h:51) [operator < save_combine > error]"
paddlepaddle 1.6.3
CPU
python版本：anaconda3（python3.7）
问题说明：《世界冠军带你从零实践强化学习》课程中实现四轴飞行器悬停控制中使用pycharm运行代码报错。
**代码：**
import os
import numpy as np

import parl
from parl import layers
from paddle import fluid
from parl.utils import logger
from parl.utils import action_mapping # 将神经网络输出映射到对应的 实际动作取值范围 内
from parl.utils import ReplayMemory # 经验回放

from rlschool import make_env  # 使用 RLSchool 创建飞行器环境

##

[2021-04-25 03:06] Frozenmad commented on #32500
感谢，感觉这个场景需求越来越多了，continual learning里面的ogd方法也需要对gradient进行投影变换之后再更新。

p.s. 给后续有这个需求的开发者：可以使用下面的方法来暂时重设梯度（但可能效率不高）：
[code]

[2021-04-25 03:06] #32500 closed, assigned to hong19860320

[2021-04-25 03:46] hong19860320 commented on #32489
是不是可以参照https://github.com/PaddlePaddle/Paddle/blob/78eff52136ec9d840fc015f41534915fadeb5349/python/paddle/fluid/clip.py#L152  设计自定义的clip，然后设置到optimizer里面？

[2021-04-25 04:09] cole-dda opened #32518 "无法运行，libstdc++错误"
最新版本安装后，无法运行。

ubuntu14.04

<img width="1213" alt="screenshot_4234" src="https://user-images.githubusercontent.com/1077830/115980354-bbea5d00-a5be-11eb-9c7f-3f6e52c6af5e.png">

但是机器上是安装有的
<img width="489" alt="screenshot_4235" src="https://user-images.githubusercontent.com/1077830/115980383-e3412a00-a5be-11eb-936c-36884f393b37.png">

[2021-04-25 05:29] zhupengyang commented on #32514
保存前请删除原来的文件

[2021-04-25 05:39] zhupengyang commented on #32518
尝试下修改 LD_LIBRARY_PATH 指向正确的库路径。

或者按照[文档](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/compile/linux-compile.html)在机器上直接编译paddle。

[2021-04-25 06:37] zhwesky2010 commented on #32510
@xiayouran AI Studio是Windows系统吗？Windows没有分布式，这个训练启动命令麻烦发一下

[2021-04-25 06:40] HUI587 commented on #32514
您好，可以具体点吗（保存前删除原来的文件），我第一次运行的时候也是这样的错误

[2021-04-25 06:45] wulei123456789 commented on #32508
同学您好，感谢您学习《零基础实践》深度学习，您看到的THUnews文本分类是本课程的一节比赛，需要开发者基于已经学习到的内容自行补全代码，因为无法直接跑通。

[2021-04-25 07:56] www516717402 commented on #32502
个人只是建议，采不采纳看你们。2017年的issue（BUG）居然还open，不像一个大的repo.

[2021-04-25 07:56] #32502 closed, assigned to hong19860320

[2021-04-25 07:59] wulei123456789 commented on #32475
您好，感谢您学习本课程。关于

您好，感谢您使用本教程。关于您反馈的问题回复如下：

原文中：“使用上下文的词向量推理中心词，这样中心词的语义就被传递到上下文的词向量中。”这句话是不矛盾的， 以这句话为例：Pineapples are spiked and yellow.

中心词为spiked， 上下文就是：Pineapples、 are、 and、 yellow这4个词。
CBOW是使用上下文的这4个词去预测中心词，但是起初预测的时候很可能是错误的，比如使用上下文这4个单词预测出了split这个单词，这个时候肯定是预测错了的，但是后边会通过使用正确的词Spiked和split这个单词计算损失，然后反向迭代，期望后续能预测出正确的单词spiked。
计算完这个损失（损失的计算有spiked的参与）后，然后根据这个损失进行反向迭代，在这个过程中相当于是将spiked的信息传递到了上下文的词

[2021-04-25 08:12] wulei123456789 commented on #32473
您好，感谢您使用本教程。

稠密向量就是Embedding lookup table， 教程中图3，每个单词对应一行，每一行有若干元素。

稠密向量通常有两种方式获取：
	0.	使用word2vec等词向量训练算法，提前训练出来词表中对应的所有词的词向量，然后用这训练后的结果，组装出词表对应的词向量矩阵，就是这个稠密矩阵。
	0.	假设在模型训练之前，你有n个单词，每个单词你想设定为d维度，那你可以自行初始化一个shape为[n, d]的矩阵，这个矩阵是一个可学习的参数，随着你训练过程进行，这个矩阵会不断更新。

[2021-04-25 08:15] zhupengyang commented on #32514
```.\model_dir``` 这个路径确认是存在的么

[2021-04-25 08:16] songsong-L commented on #32489
这不是废话吗，问的就是怎么放到里面去？

[2021-04-25 08:18] HUI587 commented on #32514
这个路径不存在的，找不到这个路径

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年4月25日(星期天) 下午4:15
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&

[2021-04-25 08:22] zhupengyang commented on #32514
请提前创建该路径

[2021-04-25 08:25] HUI587 commented on #32514
是在Anaconda3\Lib\site-packages\paddle\fluid这个文件夹里面创建.\model_dir吗

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年4月25日(星期天) 下午4:22
**

[2021-04-25 08:48] wulei123456789 commented on #32471
您好，感谢您使用本教程。关于您的问题回复如下：

这里是将语句中的词先进行one-hot编码表示，这样可以将这个词编码成一个向量，然后将这个向量和Embedding矩阵相乘，便可提取出该词对应的词向量。
举个例子，假设根据语料库生成的词典就是【我,  爱，人工，智能】，这4个词对应的id 依次是【0，1，2，3】。  以单词”人工”为例，他的one-hot编码可以表示成[0,0,1,0]，因为one-hot编码这个向量中的除了”人工”这个单词的对应位置为1，其余全为0。

另外，假设我们的Embedding矩阵如下所示，其中每一行对应一个单词，每个单词的词向量对应有5个数值，例如”我”对应的是[0,0,0,0,0], 人工对应是[2,2,2,2,2]。
[
[0,0,0,0,0],
[1,1,1,1,1],
[2,2,2,2,2],
[3,3,3,3,3]
]

当使用上边的”人工”的on

[2021-04-25 08:53] RoseSakurai commented on #32483
请问有结果了吗

[2021-04-25 08:55] xiayouran commented on #32510
AI Studio是Linux系统，具体为Ubuntu 16.04
在Windows系统上，我是用的是Pycharm，训练启动命 python train.py，使用单卡训练也是这个错误

[2021-04-25 08:57] xiayouran commented on #32510
train.py 源代码如下：
[code]

[2021-04-25 09:12] WhiteFireFox commented on #32399
您好，很高兴收到了您的回复，刚刚实验了下发现是加了bn情况下会导致model.eval下不能backward，要是全卷积是可以backward的

[2021-04-25 09:14] WhiteFireFox commented on #32399
<img width="602" alt="594c013c810082584386a4d54d57812" src="https://user-images.githubusercontent.com/57762833/115987897-a4749980-a5e9-11eb-8d30-43a9c6c55cee.png">
也就是这个情况下是可以eval下back的

[2021-04-25 09:14] WhiteFireFox commented on #32399
<img width="454" alt="f196276637ddda1801b2ba1af052eae" src="https://user-images.githubusercontent.com/57762833/115987916-bc4c1d80-a5e9-11eb-8f0d-a1841bf2df9e.png">

这样加了bn后就不行

[2021-04-25 09:15] WhiteFireFox commented on #32399
报错信息是：
<img width="828" alt="d0a099276f899a04f8d2bd83987d76f" src="https://user-images.githubusercontent.com/57762833/115987919-c66e1c00-a5e9-11eb-90d5-1d4ce875a889.png">

[2021-04-25 09:19] WhiteFireFox commented on #32399
感觉bn是eval下不能back的内鬼（狗头保命）

[2021-04-25 09:31] Brin333 opened #32534 "运行单机多卡demo报错"
运行
 https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/06_device_cn.html
中的demo
![image](https://user-images.githubusercontent.com/77146304/115992169-d6dcc180-a5fe-11eb-8057-cad4028589dc.png)
----------------------------------
![image](https://user-images.githubusercontent.com/77146304/115992177-dfcd9300-a5fe-11eb-860b-361c3742789c.png)

[2021-04-25 10:10] hong19860320 commented on #32489
你需要的是这个吗？https://github.com/PaddlePaddle/Paddle/blob/78eff52136ec9d840fc015f41534915fadeb5349/python/paddle/fluid/clip.py#L214
https://github.com/PaddlePaddle/Paddle/blob/78eff52136ec9d840fc015f41534915fadeb5349/python/paddle/fluid/clip.py#L231

在optimizer的grad_clip参数设置 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/optimizer/Optimizer_cn.html#optimizer
https://github.c

[2021-04-25 11:44] zhupengyang commented on #32514
这个需要看你代码是怎么写的了，应该是你代码里面指定的

[2021-04-25 12:05] seiriosPlus commented on #32252
Hi! We've received your issue and had an internal meeting. we are analyzing this case now, thanks your wait patiently.

[2021-04-25 14:24] #32495 closed, assigned to hong19860320

[2021-04-25 15:38] A-Pai opened #32552 "教程中没有讲指针网络（pointer network）的？"
教程中没有讲指针网络（pointer network）的？

[2021-04-26 02:09] Darki-luo commented on #32481
https://aistudio.baidu.com/aistudio/projectdetail/1863364?shared=1

[2021-04-26 02:10] Darki-luo commented on #32481
代码地址 https://aistudio.baidu.com/aistudio/projectdetail/1863364?shared=1

[2021-04-26 02:28] juncaipeng commented on #31992
@jczaja  The customers reported that there is no problem with the new inference library  (develop PR: #32309) for now.

[2021-04-26 02:33] zhupengyang commented on #32552
目前正在准备相关的代码和文档，可以查看[相关PR](https://github.com/PaddlePaddle/PaddleNLP/pull/235/files)

[2021-04-26 06:08] Frozenmad opened #32562 "如何禁掉W0426的device信息提示？"
每次运行GPU代码就会有类似如下的GPU信息提示：

[code]

这个怎么禁止它输出？

[2021-04-26 06:17] littletomatodonkey commented on #32073
你的共享内存是多大呢？开启多进程的话，需要保证共享内存至少大于1G，可以用`df -h`查看下`/dev/shm`的可用内存

[2021-04-26 06:51] sandyhouse commented on #32534
请贴一下各个卡的日志吧，类似/log/workerlog.0

[2021-04-26 08:09] #32425 closed, assigned to ysh329

[2021-04-26 08:43] jczaja commented on #31992
@juncaipeng I have implemented alternative fix : https://github.com/PaddlePaddle/Paddle/pull/32499 . That is the one I would like to merge. Could you please test it against this issue

[2021-04-26 11:41] dibaozhongwei opened #32586 "编译版本始终为0.0.0"
我已经在windows和Unbutu按照文档所述步骤进行编译，但编译后Paddle版本始终为0.0.0是怎么回事？

[2021-04-26 12:04] LielinJiang commented on #32586
develop的paddle的版本就是0.0.0

[2021-04-26 12:04] LielinJiang commented on #32562
这个目前还无法做到，我们会考虑您的建议

[2021-04-26 13:10] dibaozhongwei commented on #32586
release/2.0版本
我只有第一次2.0rc1编译成功了，develop，2.0都是0.0.0
cmake ..后提示的版本号就是0.0.0
paddle自己无所谓，使用上是正常的，但使用paddlehub的时候提示paddle必须是2.0以上版本

[2021-04-26 13:38] wht0948 opened #32595 "训练报错Cuda error(700), an illegal memory access was encountered."

[2021-04-26 14:21] LielinJiang commented on #32595
请问使用的是哪个模型？

[2021-04-26 14:22] wht0948 commented on #32595
unified_transformer-12L-cn

[2021-04-26 15:41] wht0948 commented on #32595
已解决，代码有bug

[2021-04-26 15:42] #32595 closed, assigned to LielinJiang

[2021-04-27 01:26] A-Pai commented on #32461
训练到怎样算是训练好了？判别的标准是？

[2021-04-27 01:30] A-Pai commented on #32467
---还没有回复，一直关注中

[2021-04-27 02:55] yeyupiaoling opened #32601 "模型参数在windows加载 正常，在Ubuntu加载失败"
windows的PaddlePaddle版本：2.0.1
Ubuntu是我自己编译的，分支：release/2.0

Ubuntu加载模型参数报错：
[code]

[2021-04-27 03:00] xinsuinizhuan opened #32602 "GPU，EnforceNotMet崩溃问题，麻烦给解决一下呢，一直没法使用gpu做推理，很严重的问题，没法gpu部署。"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2和2.0.1 cuda10.1_cudnn7_avx_mkl_trt6官网预测库
    2）GPU：cuda_10.1.243_426.00_win10 cudnn-10.1-windows10-x64-v7.6.2.24
    3）系统环境：window10专业版
-预测信息
    1）C++预测：2.0.2和2.0.1 cuda10.1_cudnn7_avx_mkl_trt6官网预测库

[2021-04-27 03:09] #18189 closed, assigned to qingqing01

[2021-04-27 03:09] #23201 closed, assigned to xjqbest, MrChengmo

[2021-04-27 03:09] #23475 closed, assigned to Boyan-Liu

[2021-04-27 03:09] #23869 closed, assigned to nobody

[2021-04-27 03:09] #24027 closed, assigned to guoshengCS

[2021-04-27 03:09] #24050 closed, assigned to yongqiangma

[2021-04-27 03:09] #24057 closed, assigned to nobody

[2021-04-27 03:09] #24064 closed, assigned to seiriosPlus

[2021-04-27 03:09] #24088 closed, assigned to nobody

[2021-04-27 03:09] #24107 closed, assigned to NHZlX

[2021-04-27 03:09] #24108 closed, assigned to NHZlX

[2021-04-27 03:09] #24122 closed, assigned to nobody

[2021-04-27 03:21] jiweibo commented on #32602
预测API文档可以在这里查看：https://paddle-inference.readthedocs.io/en/latest/api_reference/cxx_api_index.html

windows上的报错，目前没有给出具体哪句话挂掉了，排查方法

1、cpu版本正常，gpu挂掉，确认下不是gpu环境问题。
2、确认下环境的cuda cudnn trt版本和下载预测库对应的依赖版本一致。
3、调试下demo，看下挂到了哪句话上，是不是因为输入设置等问题导致。
4、demo bin文件运行的时候需要相关dll的依赖，可以把需要的dll都拷贝到demo bin文件的当前目录

如果还有问题，请随时留言

[2021-04-27 03:23] GuoQuanhao opened #32603 "参数的双倍差距"
Torch resnet18
[code]
[code]
Paddle resnet18
[code]
[code]

[2021-04-27 03:23] GuoQuanhao commented on #32603
我认为这是torchsummary的错误

[2021-04-27 03:28] Shixiaowei02 commented on #32402
请 @winter-wang 关注一下吧。

[2021-04-27 03:49] zhiqiu commented on #32603
我看torch的sumary有两个[1, 64, 112, 112]的conv2d，这个在resnet18中是是存在的吗？
[code]

[2021-04-27 03:50] juncaipeng commented on #31992
@jczaja  The inference library (develop PR: #32499)  also passed all tests.

[2021-04-27 03:51] MrChengmo commented on #32252
- We reproduce this problem with similar error messages

[code]

- We are analyzing this problem and will let you know as soon as possible

[2021-04-27 04:08] hbwx24 commented on #32601
您好～方便上传模型链接吗？

[2021-04-27 06:28] xinsuinizhuan opened #32607 "可以windows下面，使用vs2019编译的教程来一波不？"
实在没办法了，想使用debug版本，和gpu版本，但是现在debug版本和gpu版本一直崩溃，使用官网下载的预测库。自己编译了很多次了，一直编译不成功。环境是windows10, vs2019, Cuda compilation tools, release 10.1, V10.1.243

[2021-04-27 06:44] LielinJiang commented on #32586
export PADDLE_VERSION=你想要的版本号 试试。
或者修改https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/version.cmake 这个文件试试

[2021-04-27 06:47] yeyupiaoling commented on #32601
@hbwx24 是一个字典来的，但是windows可以读取，Ubuntu就不行，这就奇怪了。我现在的处理方式是把他们分开存储了，不使用字典的方式。

链接：https://pan.baidu.com/s/1gNe5XAUqaldbWrj11CGWCQ
提取码：uurq

[2021-04-27 07:02] winter-wang commented on #32402
已升级

[2021-04-27 07:26] jiweibo commented on #32607
不好意思，目前应该是不支持windows上debug版本的源码编译。

如果使用预测库有问题，可以在贴下相关信息。

[2021-04-27 07:26] #32411 closed, assigned to ysh329

[2021-04-27 07:27] lonelydancer opened #32609 "paddle1.8训练的模型 2.0如何加载 ?"
1.8的格式和2.0的格式不一样，看了api没有发现便捷的转换方式。

[2021-04-27 07:30] lonelydancer commented on #32402
@winter-wang 对应的ernie Classification paddle 2.0的model在哪里发布呢?

[2021-04-27 08:27] hbwx24 commented on #32601
@yeyupiaoling

[2021-04-27 08:31] hbwx24 commented on #32601
@yeyupiaoling
在release/2.0里没有找到这行代码，使用develop分支编译加载了一下也是可以，所以想和您确定一下版本，或者最后一次commit号。
![image](https://user-images.githubusercontent.com/22128369/116210737-bbe08d80-a775-11eb-947e-c23652cf0522.png)

[2021-04-27 08:40] hbwx24 commented on #32609
您好，请问1.8使用了哪个API，怎么保存的呢，方便的话可以提供一下保存模型的代码吗？

[2021-04-27 08:40] zhhsplendid commented on #31098
嗨，现在paddle.jit.save可以支持第一个参数为Layer了。在您的样例里，请指定input_spec就可以了

[2021-04-27 08:42] hbwx24 commented on #32609
您好，请问1.8使用了哪个API，怎么保存的呢，方便的话可以提供一下保存模型的代码吗？

[2021-04-27 08:58] A-Pai commented on #31098
可否给个完整的例子？

[2021-04-27 10:27] zcswdt opened #32618 "关于torch的安装"
您好，我拉取了官方1.85版本的镜像，在容器里面安装torch安装报错，请问这个怎么解决呢？
报错如下
![image](https://user-images.githubusercontent.com/43515926/116227042-44672a00-a786-11eb-875c-fe60f4fe0de3.png)
报错信息
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/python3.5.1/lib/python3.5/site-packages/torch/__init__.py", line 136, in <module>
    from torch._C import *
ImportError: /usr/local/pytho

[2021-04-27 11:51] lonelydancer commented on #32609
1.8使用的paddle.fluid.io.save_inference_model，保存格式是__model__,很多参数文件格式的；
2.0对应的是paddle.static.load_inference_model，要求model结构是*.pdmodel和*.pdiparams

[2021-04-27 11:52] sean0xiao opened #32623 "使用单机多卡训练时 多卡的显存占用比单卡还高 调大batch size会超显存"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 版本、环境信息：
    1）PaddlePaddle版本：2.0
    2）CPU：
    3）GPU：cuda10+cudnn7+nccl2.7.8
    4）系统环境：python3.7

- 训练信息
    1）单机，多卡
    2）显存信息
    3）Operator信息

- 问题描述：
   使用单机多卡训练时，增大卡数，在batchsize不变的情况下，每张卡上的显存占用反而比之前高
   是参照demo/finetune_classifier_distributed.py用法写的 求帮忙看看
   具体表现与 http://ai.baidu.com/forum/topic/show/983415一样，但是按照demo里的写法batch_sampler需要设置为None 请问

[2021-04-27 12:41] zhiqiu commented on #32623
我看你给的链接里面是说 https://ai.baidu.com/forum/topic/show/983415 用DistributedBatchSampler可以解决，请问你用的是这个吗？

[2021-04-27 12:45] hbwx24 commented on #32609
这里有个教程：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/08_model_save_load_cn.html#paddle-fluid-io-save-inference-model
如果不能解决的话，不知道是否方便上传模型，或者保存模型的示例代码，我这边可以写一个加载模型的示例代码。

[2021-04-27 13:21] jeffzhengye opened #32627 "为什么在一个for 循环中依次训练多个模型，每loop 一次GPU内存都会增加几百M直到oom？"
所有模型定义都在for 循环体内，GPU内存增加是什么原因？

代码如下

`def train_high_level():
    if is_test_run:
        global train_df, epochs
        train_df = train_df.iloc[:50]
        epochs = 1
    folds = StratifiedKFold(n_splits=CFG['fold_num'], shuffle=True, random_state=CFG['seed']) \
        .split(np.arange(train_df.shape[0]), train_df.label.values)  # 五折交叉验证
    only_folds = global_config['only_folds']

    best

[2021-04-27 13:23] Frozenmad commented on #32562
好的 : | 期待

[2021-04-27 13:35] zhaop-l commented on #32602
mark 一下，我也是这个问题。同样的环境，同样的cuda10.1。
![image](https://user-images.githubusercontent.com/50993924/116250552-65d50f80-a7a0-11eb-98ab-fbafd2799346.png)

[2021-04-27 13:42] zhhsplendid commented on #31098
关键代码类似：
model = LeNet(num_classes=10)
input_var = paddle.zeros(shape=xxx) # 指定您需要的输入shape
paddle.jit.save(model, path, input_spec=[input_var])

具体完整的例子见：
https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/paddle/guides/04_dygraph_to_static/basic_usage_cn.rst

里面这段代码：
[code]

[2021-04-27 14:29] zhiqiu commented on #32627
hi，我们怀疑是某些model占用的显存没有被释放，请问有复现方法吗？

[2021-04-27 14:58] liuxianyi opened #32630 "导入paddle-gpus时有警告，如何解决"
版本：
paddlepaddle-gpu == 2.0.2
Numpy==1.20.1
cuda==10.0

[code]

[2021-04-27 16:23] jeffzhengye commented on #32627
code 全部在这个for 循环里面啊。现在是没有理由不释放啊？
其它code 就没有跟paddle 训练相关的，
如果你们要有经验，应该一眼可以看出code问题在哪里啊，不然估计就是paddle 本身bug了

[2021-04-28 02:58] zhiqiu commented on #32630
hi，感谢反馈，我们已经修复了这个warning：https://github.com/PaddlePaddle/Paddle/pull/31221。
暂时先close，如有问题，可重新open哈。

[2021-04-28 03:01] zhiqiu commented on #32618
hi，可能是python-3.5版本过低，你可以试下python3.6。参考pytroch的issue：https://github.com/pytorch/pytorch/issues/24883

[2021-04-28 03:06] lonelydancer commented on #32609
好的，谢谢。我研究一下。

[2021-04-28 03:12] zcswdt commented on #32618
好的，谢谢，我安装了torch1.4版本的，可以了。

[2021-04-28 03:12] #32618 closed, assigned to zhiqiu

[2021-04-28 03:25] daixiangzi opened #32636 "paddle支持pytorch模型转paddle吗"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-04-28 03:28] LielinJiang commented on #32603
这个明显是torchsummary 重复了，似乎把所有模块都重复了一遍

[2021-04-28 04:20] A-Pai commented on #31098
还是需要开膛破肚地到网络定义的地方加上“@paddle.jit.to_static”，如果使用的是框架提供的已有网络，这样做好吗？
![QQ截图20210428121655](https://user-images.githubusercontent.com/5112397/116346005-dec57d00-a81b-11eb-9afc-ea2b7cdd5463.jpg)

[2021-04-28 05:16] zhiqiu commented on #32627
不好意思，可能从现在的代码还不能确定问题的原因。您方便提供下如何跑的方法吗，我们可能需要用您这份代码运行和调试一下才方便定位具体原因。

[2021-04-28 05:34] Costwen commented on #31673
想问问题主解决了吗？ 我也遇到了同样的问题

[2021-04-28 06:55] honshj opened #32645 "paddle:2.0.2-gpu-cuda10.1-cudnn7 GPU训练报错：llegal memory access was encountered"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
       paddle:2.0.2-gpu-cuda10.1-cudnn7

    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
NVIDIA-SMI 418.67       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
|===============================+======================+======================|
|   0  Tesla

[2021-04-28 08:41] vulyon opened #32646 "ValueError: not enough values to unpack (expected 2, got 1)"
模型预测遇到得问题
 python tools/infer.py -c configs/ppyolo/ppyolov2_r101vd_dcn_365e_coco.yml    --infer_img=/home/wuliang/data/color/VOC2007/JPEGImages/DJI_20200820103516_0003_WIDE.jpg   --output_dir=infer_output/  --draw_threshold=0.5   -o /home/wuliang/PaddleDetection/output/ppyolov2_r101vd_dcn_365e_coco/model_final.pdparams  --use_vdl=Ture

/home/wuliang/anaconda3/envs/paddle_env/lib/python3.7/site-pac

[2021-04-28 09:48] #30290 closed, assigned to ForFishes

[2021-04-28 09:51] lleesg commented on #30866
将enable_use_gpu(1000, 0)改为enable_use_gpu(500, 0)问题解决

[2021-04-28 09:51] #30866 closed, assigned to yinhaofeng

[2021-04-28 10:12] TCChenlong commented on #32623
你好，请问可以提供一下全部的代码，方便我们进行问题的定位么？谢谢~

[2021-04-28 10:33] hrdwsong opened #32649 "关于paddle中的Tensor在GPU和CPU之间相互拷贝的API"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：2.0.2
2）CPU/GPU：是，CUDA版本号11.1，CUDNN版本号8.1.0
3）系统环境：WIN10 20H2版
- 复现信息：无
- 建议描述：根据我的项目需要，模型参数会在计算过程中产生若干个更新梯度，这些梯度不会立刻用于更新模型，而是等待其他计算过程完成后才对这若干个梯度求和，再完成模型更新。这样就会有相当多的模型参数滞留在显存中，导致显存溢出。我希望有API能够将这些暂时不用的Tensor拷贝回CPU内存，但查阅了API文档，没找到有类似功能的函数。建议像pytorch一样，能够增加API实现tensor在CPU内存和GPU显存之间的高效拷贝，从而使算法能够更灵活地进行实现。

[2021-04-28 11:07] hbwx24 commented on #32601
如果是自定义的结构，建议改成paddle.load(path,return_numpy=True)试一下

[2021-04-28 11:07] zhijiejia commented on #32394
感谢您的建议，确实是我在实现上有点问题，权重文件也有问题，现在两者实验结果已经没有区别了。

[2021-04-28 11:55] GuoQuanhao commented on #32603
我认为这来源于torchsummary的bug

[2021-04-28 11:55] #32603 closed, assigned to zhiqiu

[2021-04-28 12:10] GuoQuanhao opened #32656 "Conv2DTranspose未知bug触发"
`class paddle.nn.Conv2DTranspose(in_channels, out_channels, kernel_size, stride=1, padding=0, output_padding=0, groups=1, dilation=1, weight_attr=None, bias_attr=None, data_format='NCHW')`
`Conv2DTranspose`的输出通道数应与`out_channels`相同
例如如下两块代码我可以得到正确的输出，其参数只有`groups`不同
[code]
[code]
[code]
[code]
但是在复现`PortraitNet`论文【飞桨论文复现挑战赛（第三期）14赛道】时，我具有如下代码块，我用`—>`标出了重点部分
[code]
并具有如下维度输出
[code]
从打印来看`self.transi

[2021-04-28 12:11] #32433 closed, assigned to ysh329

[2021-04-29 01:16] Liudyan commented on #31033
我是将对应的TensorRT-6.0.1.5.Windows10.x86_64.cuda-10.1.cudnn7.6配置好，也就是手动在vs里面配置lib,include,将lib中的dll放到项目文件中，或者放到环境变量中，提示缺少动态库TensorRT中的dll,在lib中。

[2021-04-29 01:41] pokemonjs opened #32665 "组网时报错 assert isinstance(sublayer, core.Layer)"
Paddle版本:2.0
硬件环境：AI Studio GPU版
在模型组网中，
model=paddle.nn.Sequential([
    paddle.nn.Conv2D(3,32,5,2),
    paddle.nn.Conv2D(32,32,5,2),
    paddle.nn.Conv2D(32,64,5,2),
    paddle.nn.Conv2D(64,64,3,2),
    paddle.nn.Conv2D(64,128,3,1),
    paddle.nn.Dropout(0.1),
    paddle.nn.Linear(128,128),
    paddle.nn.LeakyReLU(),
    paddle.nn.Linear(128,32),
    paddle.nn.LeakyReLU(),
    paddle.nn.Dropout(

[2021-04-29 03:32] #32645 closed, assigned to gfwm2013

[2021-04-29 03:55] lleesg commented on #30387
顶一下，为什么PPYOLO开启TensorRT后预测结果就错误呢？

看TRT官方文档：https://paddle-inference.readthedocs.io/en/latest/optimize/paddle_trt.html中的支持表格，意思是TRT不支持PPYOLO？

[2021-04-29 04:27] littletomatodonkey commented on #32394
好的，感谢使用Paddle，有什么问题咱们再随时交流~

[2021-04-29 04:58] #32394 closed, assigned to littletomatodonkey, Shixiaowei02

[2021-04-29 05:27] iclementine commented on #32251
See https://github.com/PaddlePaddle/Paddle/pull/32673

[2021-04-29 05:45] Reatris opened #32675 "将parameters list放入Momentum 提示list没有shape的异常"
我在给优化器配置parameters的时候如果使用将parameters list放入Momentum
就会提示list没有shape的异常，如果使用Adam就不会
   1）PaddlePaddle版本：paddlepaddle-gpu 2.0.2

* 异常代码段

`OPTIMIZER = optim.Momentum(parameters=[backbone_paras_wo_bn + head_paras_wo_bn,backbone_paras_only_bn],
                               learning_rate=LR)`

* 异常提示
`shape = param.shape
AttributeError: 'list' object has no attribute 'shape'`

[2021-04-29 07:08] KyrieHee commented on #30978
system:

ubuntu 20.04 server
NV T4 * 4
paddlepaddle-gpu  2.0.2.post110

after download  nccl_2.7.8-1+cuda11.0_x86_64.txz

just run it:
[code]

It works!

[2021-04-29 07:24] jeffzhengye commented on #32627
具体可以看工程源码：https://github.com/jeffzhengye/mmrc/tree/main

具体是在训练的时候出问题，运行下面的命令观察gpu内存就可以复现：
·CUDA_VISIBLE_DEVICES=0 python main.py -c configs/haihua.yml -o Global.additional_tag='cosine_aug_norandom' Global.only_folds="[0,1]" Global.num_workers=10 Global.train_bs=20 Global.top_k=5 Global.max_len=256 Global.fold_num=10 Global.epochs=10 Global.support_sen_type=0 Global.random_concat=false Global.is_t

[2021-04-29 08:14] #32630 closed, assigned to zhiqiu

[2021-04-29 08:30] DDDivano commented on #32675
这里面传入的parameter的内容本身是不是包括list？

[2021-04-29 08:32] Reatris commented on #32675
包括了

[2021-04-29 09:19] GuoQuanhao commented on #32656
已解决，我在最后改变了初始化权重

[2021-04-29 09:19] #32656 closed, assigned to gfwm2013

[2021-04-29 11:49] geekChinaMaster opened #32690 "使用paddle模型推理时开启了TensorRT，但是提示：You tried to enable the lite subgraph but did not have the option -DWITH_LITE compiled，并且效果没有提升"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu2.0.0
    2）GPU：Nvidia 的3090
    3）系统环境：centos7
在使用paddleinference进行推理时候，开启了TensorRT，但是没有发现速度的提升，麻烦看下，谢谢~
代码配置和日志如下：
![图片](https://user-images.githubusercontent.com/44657953/116545581-34d11800-a923-11eb-859a-211a3f9202e6.png)
![图片](https://user-images.githubusercontent.com/44657953/116546230-f425ce80-a923-11eb-9e17-ba2349e17ec2.png)

W0429 07:36:49.1

[2021-04-29 12:08] RoseSakurai commented on #32483
需要这么慢吗？

[2021-04-29 13:05] Brin333 commented on #32534
已经解决，dist.init_parallel_env放在网络定义前面。
谢谢

[2021-04-29 13:35] RoseSakurai opened #32693 "spawn 单机多卡训练 segment fault"
版本、环境信息：
   1）PaddlePaddle版本：develop
   2）GPU型号：1080Ti
CUDA版本：10.2
CUDNN版本号： 76
   3）系统环境：
Ubuntu 18.04
gcc 7.5.0
python 3.8.8

训练信息
  1） 单机/多卡

报错
![image](https://user-images.githubusercontent.com/30227024/116558895-7d440200-a932-11eb-869d-81b6dc9891f0.png)

[2021-04-29 14:01] RoseSakurai opened #32694 "单机多卡训练失败"
版本、环境信息：
   1）PaddlePaddle版本：2.0.2
   2）GPU型号：1080Ti
CUDA版本：10.2
CUDNN版本号： 7.6
   3）系统环境：
Ubuntu 18.04
gcc 7.5.0
python 3.8.8

训练命令
[code]
报错信息
![image](https://user-images.githubusercontent.com/30227024/116563312-7e772e00-a936-11eb-9608-d25280ea831b.png)

日志报错信息
![image](https://user-images.githubusercontent.com/30227024/116562959-3526de80-a936-11eb-8de6-4725bae1edce.png)

[2021-04-30 00:50] xinsuinizhuan commented on #32602
更换了，cuda11.0版本的库和cudnn版本库，同样更换了预测库版本为11.0，问题依然存在。应该是依赖问题，但是，我已经把预测库下面的所有dll，放到了我的可执行目录下面了，还是崩溃，因为我的程序貌似还没启动就出问题了，在程序入口处打了断点，直接不进，就崩溃。 楼上这位同学也出现了同样的问题。
![图片](https://user-images.githubusercontent.com/40679769/116635299-fd995000-a990-11eb-9243-9757acc444de.png)

[2021-04-30 01:35] xinsuinizhuan commented on #32602
感觉是gpu库内存分配的问题，我使用方式是：
typedef struct _XXXTask {
	DBDetector*						pOcrDetect;					//ocr检测网络
	Classifier*						pangleclassifier;			//方向检测
	CRNNRecognizer*					pOcrRecog;					//ocr识别网络
	_PPDypraghOcrTask() {
		pOcrDetect = NULL;
		pangleclassifier = NULL;
		pOcrRecog = NULL;
	}
}XXXTask;
OCR三个检测类，申明了类指针，然后new的每个类，初始化的模型。

[2021-04-30 01:45] xinsuinizhuan commented on #32602
![图片](https://user-images.githubusercontent.com/40679769/116638334-bb740c80-a998-11eb-8bef-14d3e1872460.png)
这些事例运行，都是正常的

[2021-04-30 02:42] xinsuinizhuan commented on #32602
同样的，我使用gpu的预测库，只是简单的demo测试，同样的问题（cpu版本没有问题）：
![图片](https://user-images.githubusercontent.com/40679769/116642143-c0d55500-a9a0-11eb-900c-d637010eb38c.png)
![图片](https://user-images.githubusercontent.com/40679769/116642223-e4989b00-a9a0-11eb-8a94-88e5d518c0a8.png)

[2021-04-30 02:45] xinsuinizhuan commented on #32607
那有没有windows下面 vs2019的编译教程吗，一直编译不成功，官网是2015的

[2021-04-30 02:46] zhaop-l commented on #32602
我安装了TensorRT 解决了问题

[2021-04-30 02:48] Liys0558 commented on #32694
同样的问题

[2021-04-30 03:50] xinsuinizhuan commented on #32602
怎么安装的？我怎么安装后，推理的时候，还报错？
![图片](https://user-images.githubusercontent.com/40679769/116646297-46113780-a9aa-11eb-8941-92770db8117d.png)

[2021-04-30 03:52] jeffzhengye commented on #32627
@zhiqiu 忘记上传一些问题，现在应该可以直接运行了

[2021-04-30 04:21] xinsuinizhuan commented on #32602
我也是安装后，启动没问题，但是推理的时候，有崩溃，您那边有这问题吗？可否加个微信，xinsuinizhuan

[2021-04-30 04:39] RoseSakurai commented on #32693
已解决，dataloader不能返回tensor

[2021-04-30 04:39] #32693 closed, assigned to DannyIsFunny

[2021-04-30 04:40] RoseSakurai commented on #32694
#32693

[2021-04-30 04:40] #32694 closed, assigned to DannyIsFunny

[2021-04-30 06:10] wadefelix commented on #32607
使用VS 2017
[code]
使用VS 2019 (**但这个不一定能编译通过啊**)
[code]
**在VS界面，一定要使用Release配置编译。Debug配置不支持的**

[2021-04-30 06:44] chaoyu0804 commented on #29845
出现相同问题
paddlepaddle-cpu==2.0.2
python=3.7

[2021-04-30 07:20] myailab commented on #32187
我也遇到相同的问题了，不过我只在使用jupyter时报这个错误，但使用Pycharm里远程调试时，没有报错。jupyter和pycharm连接的都是同一个服务器。
下面是我的服务器信息：
****************************************
Paddle version: 2.0.1
Paddle With CUDA: False
OS: CentOS Linux 7.6.1810
Python version: 3.6.8
CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: None
****************************************

这个是jupyter里的报错信息：
![微信图片_20210430151420](https://use

[2021-04-30 08:10] zhiqiu commented on #32627
用这个代码运行，报错了：[Errno 2] No such file or directory: 'train.json_cosine.csv'

[2021-04-30 08:31] Reatris opened #32710 "optimizer.setp() Cannot set gradient op twice unless using Inplace Strategy."
paddle.regularizer 异常

我想通过对指定层自定义ParamAttr 添加regularizer 但是使用paddle.regularizer却提示了异常

后来我查看了官方API文档，按照示例代码运行，也提示了同样的异常
[paddle.regularizer](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/regularizer/L1Decay_cn.html)

    1）PaddlePaddle版本：paddlepaddle-gpu==2.0.2
    3）GPU：v100
    4）系统环境：Linux ，win10

执行的代码

[code]

提示的异常

` momentum.step()`

`Cannot set gradient op twice unless

[2021-04-30 08:50] Reatris opened #32711 "文档的示例代码运行异常哦 paddle.regularizer"
paddle.regularizer 异常

官方API文档，按照示例代码运行，也提示了同样的异常
[paddle.regularizer](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/regularizer/L1Decay_cn.html)

    1）PaddlePaddle版本：paddlepaddle-gpu==2.0.2
    3）GPU：v100
    4）系统环境：Linux ，win10

执行的代码

[code]

提示的异常

` momentum.step()`

`Cannot set gradient op twice unless using Inplace Strategy.`

[code]

[2021-04-30 08:52] jiweibo commented on #32711
感谢您的反馈，我们会最高优修复。

同一个问题：https://github.com/PaddlePaddle/Paddle/issues/32710

[2021-04-30 10:10] jeffzhengye commented on #32627
要先解压数据 data.tgz @zhiqiu

[2021-04-30 10:11] ForFishes opened #32714 "动态图运行GAN报错"
复现代码
[code]
如上所示，在单卡下会报错，报错信息如下：
这个环境在最新的develop下也会复现。
![image](https://user-images.githubusercontent.com/19485646/116681406-863edd00-a9df-11eb-9e12-211c38541035.png)

[2021-04-30 10:33] #32675 closed, assigned to MrChengmo, DannyIsFunny

[2021-04-30 10:54] jiweibo commented on #32714
您好，本地已复现，会高优跟进！

[2021-04-30 15:29] crazyxiaoj opened #32719 "paddle.fluid.layers.exponential_decay 文档问题 2.0版本"
示例代码跑不通，错误：
TypeError: learning rate should be float or LRScheduler, got <class 'paddle.fluid.dygraph.learning_rate_scheduler.ExponentialDecay'> here

[2021-04-30 17:12] #32719 closed, assigned to jiweibo

[2021-04-30 17:37] littletomatodonkey commented on #32710
你好，感谢反馈，已经在PR中修复了哈~

[2021-05-01 00:33] Reatris commented on #32710
嗯，运行正常了~

[2021-05-01 00:33] #32710 closed, assigned to jiweibo

[2021-05-01 01:41] ForFishes commented on #32714
你好，这边发现是由于第一次前向-反向计算的时候，没有retain-graph，导致input/output被释放。这里已经解决，谢谢。

[2021-05-01 01:41] #32714 closed, assigned to jiweibo

[2021-05-03 01:26] MrWcy opened #32724 "ubuntu离线安装Paddle后，导入paddle报错"
Paddle版本：2.0.2
GPU：Tesla V100
cuda:：10.2
cudnn：7605

离线安装paddle（离线安装pytorch已成功）导入paddle时报错，报错信息：
![image](https://user-images.githubusercontent.com/30768980/116834609-7ac30000-abf1-11eb-8040-91253a1bd542.png)

[2021-05-03 02:15] DannyIsFunny commented on #32636
支持的，可以使用x2paddle工具将第三方模型转化为paddle模型，可以参考x2paddle文档说明：
[pytorch预测模型转换教程](https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/demo/pytorch2paddle.ipynb)

[2021-05-03 03:17] DannyIsFunny commented on #32690
你好，你的推理代码中使用了Lite子图

Lite 子图的作用，是将部分图结构使用子图的形式使用Lite加载，可以降低推理耗时
但是使用Lite子图加载TensorRt模型必须使用带有编译时带有子图库的推理库
综上所述：
需要更换推理库或者手动编译（打开`-DWITH_LITE`编译选项）带有子图功能的tui推理库

[2021-05-03 06:45] LikforD opened #32725 "在使用paddle模型推理时出现AssertionError: Variable Shape not match"
版本、环境信息：
    1）PaddlePaddle版本：1.8.4
    2）CPU/GPU：CPU
    3）系统环境：Windows 10
    4）Python版本号: 3.7.9

语句：
# 加载推理模型
        with fluid.dygraph.guard():
            # 加载状态推断引擎
            self.model = ResNet('resnet', 50)
            #加载模型参数
            model_state_dict, _ = fluid.load_dygraph("arknights")
            self.model.load_dict(model_state_dict)
            self.model.eval()
在执行上面语句中的self.m

[2021-05-03 07:50] DannyIsFunny commented on #32694
你好，从报错信息看。
你的训练代码中使用GPU进行模型训练，但是使用的Paddle 版本是CPU版本的库，通过Paddle调用GPU需要使用GPU版本的库，
![image](https://user-images.githubusercontent.com/45189361/116852637-436f4600-ac27-11eb-8193-0215fd6ae7d1.png)
建议安装GPU版本的Paddle库，重新训练

[2021-05-03 07:59] #32711 closed, assigned to jiweibo

[2021-05-03 08:16] RoseSakurai commented on #32694
你们能用心写api，好好回复issue解决问题吗？我装的就是gpu版本的。------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年5月3日(星期一) 下午3:50
***@***.***&gt;;
***@***.***&gt;;&quot;State ***@***.***&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] 单机多卡训练失败 (#32694)

[2021-05-03 08:37] DannyIsFunny commented on #32649
copy_from_cpu和copy_to_cpu
相关文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/05_inference_deployment/inference/python_infer_cn.html#zhichifangfaliebiao

[2021-05-04 03:09] #19351 closed, assigned to JiabinYang

[2021-05-04 03:09] #22520 closed, assigned to nobody

[2021-05-04 03:09] #23719 closed, assigned to shippingwang

[2021-05-04 03:09] #24142 closed, assigned to bjjwwang

[2021-05-04 03:09] #24153 closed, assigned to LielinJiang

[2021-05-04 03:09] #24165 closed, assigned to zhiqiu

[2021-05-04 03:09] #24216 closed, assigned to wawltor

[2021-05-04 03:09] #24230 closed, assigned to nobody

[2021-05-04 03:09] #24232 closed, assigned to zhhsplendid

[2021-05-04 03:09] #24233 closed, assigned to jerrywgz

[2021-05-04 03:09] #24235 closed, assigned to yiicy

[2021-05-04 03:09] #24236 closed, assigned to nobody

[2021-05-04 03:10] #24237 closed, assigned to Steffy-zxf

[2021-05-04 03:10] #24242 closed, assigned to nobody

[2021-05-04 03:10] #24255 closed, assigned to Steffy-zxf

[2021-05-04 03:10] #24258 closed, assigned to fc500110

[2021-05-04 03:10] #24262 closed, assigned to gfwm2013

[2021-05-04 03:10] #24275 closed, assigned to nobody

[2021-05-04 03:10] #24276 closed, assigned to nobody

[2021-05-04 03:10] #24291 closed, assigned to yaoxuefeng6

[2021-05-04 03:10] #24298 closed, assigned to nobody

[2021-05-04 05:22] chfhf opened #32733 "【aistudio】GPU环境下conda安装RDkit报错，CPU环境无报错"
Collecting package metadata (current_repodata.json): failed

# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    Traceback (most recent call last):
      File "/opt/conda/lib/python3.6/site-packages/conda/gateways/connection/session.py", line 60, in __call__
        return cls._thread_local.session
    AttributeError: '_thread._local' object has no attribute 'session'

    During han

[2021-05-04 06:42] xxxpsyduck opened #32734 "Prevent Paddle from using all cuda cores"
My GPU has 24GB of memory. When training I rarely used all the memory but cuda cores were all busy so I couldn't do another job on gpu. Do you have a solution for this?

[2021-05-04 06:43] #30181 closed, assigned to cryoco

[2021-05-04 09:33] crazyxiaoj opened #32738 "载入模型、优化器报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0
    2）系统环境：AIstudio 高级版
- 模型信息
1）模型名称：all_CNN_C(自定义)
    2）cifar-10
    3）paddle.optimizer.Adagrad(learning_rate=schedular,parameters=model.parameters(),weight_decay=0.001)
- 复现信息：解压后的py文件，代码完全复制即可
[issue.zip](https://github.com/PaddlePaddle/Paddle/files/6420136/issue.zip)
- 问题描述：储存模型后，读取模型时优化器报错AssertionError: optimizer Tensor conv2d_0.w_0_velocity_0 not found

[2021-05-04 10:03] wzy-99 opened #32739 "动态图如何加载裁枝模型？"
在动态图模式下，我通过paddleslim对模型进行裁枝，并通过Paddle.Model.save()接口保存模型参数；但是在部署加载模型参数的时候，会出现裁枝后卷积的shape与模型定义卷积的shape不匹配的问题。如下：

blocks.0.conv_bn1.conv.weight receives a shape [31, 3, 3, 3], but the expected shape is [64, 3, 3, 3].

# [31, 3, 3, 3] 是裁枝后的shape，[64, 3, 3, 3]是原shape。

请问有什么方法可以加载裁枝模型参数？（不用skip_mismatch ）

[2021-05-04 16:08] juncaipeng commented on #32733
我理解rdkit不是paddle提供的，估计是环境问题，建议联系aistudio （aistudio@baidu.com）。

[2021-05-04 16:13] juncaipeng commented on #32734
Use `export CUDA_VISIBLE_DEVICES=**` to set the GPU.

What is the version of the Paddle?
If you use paddle 1.6 ~ 1.8, please use [FLAGS_fraction_of_cpu_memory_to_use](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/advanced_guide/flags/memory_cn.html#flags-fraction-of-cpu-memory-to-use) to set the memory.

[2021-05-04 16:14] juncaipeng commented on #32738
收到，我们复现一下问题。

[2021-05-04 16:15] juncaipeng commented on #32739
我理解你裁剪通道后，需要修改组网代码，再加载裁剪后的权重。

[2021-05-04 16:18] cryoco commented on #32724
cannot allocate memory看起来是系统报错，您可以看下是否是内存不足等问题

[2021-05-04 16:22] cryoco commented on #32725
您好，您可以提供下导出的推理模型我们定位下问题

[2021-05-04 16:52] wzy-99 commented on #32739
我现在是通过先加载一个完整的模型参数，然后根据灵敏度文件剪枝，再重新加载剪枝后的模型实现。
但这种方法比较麻烦。
我之前尝试过先剪枝，再加载模型，但是由于剪枝时模型缺少参数导致报错。
因此，我想问一下有没有什么API可以用于初始化paddle.Model模型参数？
另外，我发现通过paddle. Model. save保存剪枝后的模型的参数，文件体积并没有变小，100MB，但是通过summay查看网络，模型的大小只有3MB

[2021-05-04 17:06] cole-dda commented on #32518
不行，直接使用ubuntu18.04了。paddle的安装确实太耗费时间了，是否可以在多一些环境下测试，每次部署都非常头疼。

[2021-05-04 19:33] GuoQuanhao commented on #32479
paddle.masked_select这个能够帮助到我

[2021-05-04 19:33] #32479 closed, assigned to nobody

[2021-05-05 03:05] LikforD commented on #32725
这是我的保存的推理模型：
链接：https://pan.baidu.com/s/1txr9qO75GuVj36J9RpjFig
提取码：4gxo

[2021-05-05 03:07] LikforD commented on #32725
@cryoco
这是我保存的推理模型：
链接：https://pan.baidu.com/s/1txr9qO75GuVj36J9RpjFig
提取码：4gxo

[2021-05-05 08:34] molyswu opened #32741 "请问PaddleSeg 的模型deeplabv3，是否支持CUDA-11.0推理？"
我想问一下PaddleSeg 的模型deeplabv3 的推理问题，在CUDA-11.0环境下推理deeplabv3，目的是win10在RTX3070,RTX3080上使用。
 如果deeplabv3 支持CUDA-11.0，我搭建模型推理，编译的时候出现很多错误？deeplabv3 支持CUDA-11.0的指引吗？
deeplabv3 支持CUDA-10.2，我搭建模型推理，编译是OK的。

[2021-05-06 00:24] Frozenmad commented on #26166
我展示了一个方法在issue #32500, 仅供参考！

[2021-05-06 01:21] jiamingming-004 opened #32743 "训练错误"
环境： AI studio  python3.7  paddle1.8
运行中： 以下代码片段的最后一行提示出现错误。
for pass_id in range(EPOCH_NUM):
        # 进行训练
        for batch_id, data in enumerate(train_loader()):  # 遍历train_reader
            feed_data= []
            for i in range(len(data[0])):
                feed_gtscores = np.ones([50]).astype("float32")
                feed_data.append([data[0][i], data[1][i], data[2][i], data[3][i], fee

[2021-05-06 02:24] #24818 closed, assigned to nobody

[2021-05-06 02:33] juncaipeng commented on #32739
通过[set_dict](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/dygraph_cn/Layer_cn.html#set-dict-stat-dict-include-sublayers-true)可以实现。

这个问题需要裁剪同学 @wanghaoshuang  看下

[2021-05-06 02:38] juncaipeng commented on #32741
window上，可以下载cuda11的paddle预测库：https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows

你这个编译是预测库编译错误，还是编译应用程序时错误？

[2021-05-06 02:40] molyswu commented on #32741
编译是预测库编译错误

[2021-05-06 02:40] #32741 closed, assigned to juncaipeng

[2021-05-06 06:39] Liushuaixin opened #32746 "UserWarning: The following exception is not an EOF exception"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：paddle-fluid-v1.6.1、python3
- 问题描述
I0429 14:24:48.579789  1108 parallel_executor.cc:421] The number of CUDAPlace, which is used in ParallelExecutor, is 4. And the Program will be copied 4 copies
W0429 14:24:54.821188  1108 fus

[2021-05-06 07:21] juncaipeng commented on #32738
看了你的训练代码，逻辑是组网、训练、保存、加载、再训练，会出错。

但是一般重训练的用法是：组网、训练、保存，重新组网、加载、再训练。这样修改后，你的代码就不会出错，具体如下。

![image](https://user-images.githubusercontent.com/52520497/117257300-516ad400-ae7e-11eb-9346-74b9043d78ff.png)

第一次执行脚本时，应该只执行`start_train(model)`，训练保存。第二次执行脚本时，应该只执行`start_train2(model)`，加载训练的权重，再训练。

[2021-05-06 07:53] yasohasakii opened #32751 "AttributeError: 'Model' object has no attribute 'training'"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2
    2）CPU：i7-10750H
    3）GPU：Rtx 2060, 11.0, 7.6.5
    4）系统环境：win10，Python版本: 3.6.12
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 模型信息
`class FaceNet(p

[2021-05-06 08:09] geekChinaMaster commented on #32690
是需要重新安装TensorRT吗，这里说的推理库和带有子图功能的推理库是指哪个
如何更换推理库呢
之前安装的是tensorrt7.2.3和8.0

[2021-05-06 09:18] geekChinaMaster commented on #32690
之前使用

[2021-05-06 09:19] geekChinaMaster commented on #32690
之前使用的是7.2.3和8.0都试了不行

[2021-05-06 09:20] geekChinaMaster commented on #32690
麻烦您解答一下

[2021-05-06 09:29] TCChenlong commented on #32467
并不是每个场景都需要做word embedding。一些场景用广泛、丰富的语料训练出来的word embedding就可以了；但是对于一些特定的场景（医学、经济学等场景）来说，单独做word embedding，是有意义的，可以提升效果；因为这些特定场景包含了大量的专业词汇，而那份语料很可能覆盖不到，那么word embedding就不会很准确，从而影响到最终的效果；因此，针对这部分场景，做word embedding是有意义的。

[2021-05-06 09:49] #32751 closed, assigned to juncaipeng

[2021-05-06 11:45] iclementine commented on #32743
形状不对。concat 的两个 Tensor 在指定的维度的 size 不等。

[2021-05-06 14:24] crazyxiaoj commented on #32738
我该如何在AIStudio中实现重新组网？我以前尝试过关闭再重新打开项目，就不会报错；但是我现在发现关闭再重新打开项目也会报错了

[2021-05-07 01:21] #32403 closed, assigned to ysh329

[2021-05-07 02:20] molyswu commented on #32741
uilding Custom Rule D:/projects/PaddleSeg/legacy/deploy/cpp/CMakeLists.txt
4>demo.cpp
4>D:\projects\PaddleSeg\legacy\deploy\cpp\utils/utils.h(106): warning C4244: “=”: 从“double”转换到“float”，可能丢失数据
4>d:\projects\fluid_inference\paddle\include\paddle_api.h(157): warning C4251: “paddle::PaddleTensor::name”: class“std::basic_string<char,std::char_traits<char>,std::allocator<char>>”需要有 dll 接口由 struct“pad

[2021-05-07 02:28] #32178 closed, assigned to joey12300

[2021-05-07 02:31] zzz2010 opened #32765 "如何 把VarBase 转换为LodTensor"
你好， 我想直接在GPU上把VarBase转换为LodTensor，而不是先转cpu numpy 再create_lod_tensor. 请问有方法吗？ 谢谢

[2021-05-07 02:45] molyswu opened #32767 "用cuda11.0推理模型,在win10环境，cuda11.0_cudnn8_avx_mkl_trt7，如下问题。"
用cuda11.0推理模型,在win10环境下RTX3070 gpu，cuda11.0_cudnn8_avx_mkl_trt7，如下问题。
用cuda11.0_cudnn8_avx_mkl_trt7   https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows
如下错误：
uilding Custom Rule D:/projects/PaddleSeg/legacy/deploy/cpp/CMakeLists.txt
4>demo.cpp
4>D:\projects\PaddleSeg\legacy\deploy\cpp\utils/utils.h(106): warning C4244: “=”: 从“double”转换到“float”，可能丢失数据
4>d:\projects\f

[2021-05-07 02:53] seiriosPlus commented on #32229
你好， 我暂时没复现此问题， 我正在切版本尝试.

[2021-05-07 03:51] zhiqiu commented on #32627
我在16G的V100机器上，bs=20第一个batch的时候就挂了。调成bs=10后，能够正常训练完。

[2021-05-07 04:11] zhaoyang-star commented on #32767
请提供使用的Paddle分支和commit id、编译命令，我们先尝试复现下。
从上面log中暂时看不到有效定位错误的信息。

[2021-05-07 05:29] molyswu commented on #32767
Paddle2.0分支的legacy编译C++命令是与readme是相同的：https://github.com/PaddlePaddle/PaddleSeg/tree/release/v2.0/legacy/deploy/cpp
只是将cuda10.0换成cuda11.0
cuda10.0或cuda10.2是ok的,用cuda11.0_cudnn8_avx_mkl_trt7 https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows，cuda11.0就有错误。

[2021-05-07 07:27] Cppowboy commented on #27265
我也遇到同样的问题，请问后来解决了吗？

[2021-05-07 07:35] danleifeng commented on #32765
您好，可以试试这种方法，得到的是一个lodtensor
`a.value().get_tensor()`

[2021-05-07 09:05] Annie-mm opened #32783 "飞浆平台有RBF接口吗？在平台怎么实现RBF和其他网络的融合"
我想做一个LSTM和RBF网络融合。飞浆平台上找不到RBF接口。不知道可以在paddle上实现这种网络融合，希望得到帮助，谢谢。

[2021-05-07 09:08] cnjack commented on #30247
find some message here: https://github.com/protocolbuffers/protobuf/pull/4172

[2021-05-07 09:11] cnjack commented on #30247
upgrade protobuf version: https://github.com/PaddlePaddle/Paddle/pull/27798

[2021-05-07 09:36] lonelydancer opened #32786 "使用paddle serving 0.3.1跑plato模型出core报错"
同
https://github.com/PaddlePaddle/Serving/issues/1202

[2021-05-07 09:37] #32108 closed, assigned to tink2123

[2021-05-07 10:12] Wall-ee commented on #32031
您好？请问这个问题如何跟进一下？

[2021-05-07 11:20] jeffzhengye commented on #32627
我的问题是每训练一个fold（for loop中），GPU内存都要增大几百M大概。
可能需要你观察下内存，

一般我们会让batch_size 尽可能大。
如果bs=10的话，应该每次训练GPU内存还是会增，但是还不到OOV的程度。

[2021-05-07 11:20] danleifeng commented on #32783
您好，目前飞桨没有RBF网络实现，您可以借助paddle的api复现，有任何问题欢迎联系我们。

[2021-05-07 12:30] cristicmf opened #32795 "关于动态图的senet"
1. 什么时候出动态图的senet，很期待你们这个功能
2. 如果最近没有出的计划，那如果我写好了senet模块，然后要怎么去调用静态图训练好的权重

[2021-05-07 13:07] zzz2010 commented on #32765
@danleifeng  谢谢。 想追加一个问题， 如何 把 paddle.fluid.core_avx.Tensor  转回Varbase？
我用fluid.core.from_dlpack(dlpack) 得到 paddle.fluid.core_avx.Tensor ，希望变回Varbase

[2021-05-07 13:56] Annie-mm commented on #32783
@danleifeng 如果只是把RBF的隐藏层当成激活函数进行复现不知道是否可行，如果用高级API 优化和训练是否能对这个激活函数进行训练？复现好难，没有一点头绪。

[2021-05-07 14:03] Annie-mm commented on #32783
@danleifeng 有没有复现API的文档可以参考？

[2021-05-08 00:37] yeyupiaoling opened #32796 "多卡训练中随机出现疑似显存不足？"
- PaddlePaddle 2.0.2
 - Ubuntu 18.04
 - Python 3.7
 - CUDA 10.2

在训练过程中，已经训练了好几轮了，突然就出现这个。我的显存是11G，一开始我的显存只占用3.8G，很明显是够用的。不知道为啥这样。
[code]

[2021-05-08 01:20] jeffzhengye commented on #32627
@zhiqiu 看出问题了没有？

[2021-05-08 01:47] yeyupiaoling commented on #32601
好的，谢谢。

[2021-05-08 01:47] #32601 closed, assigned to zhiqiu

[2021-05-08 02:19] #32725 closed, assigned to cryoco

[2021-05-08 03:10] shawnLang opened #32797 "GPU预测 Cuda error(700), an illegal memory access was encountered.使用CPU正常"
  1）PaddlePaddle版本：paddlepaddle-gpu:2.0.2
    2）CPU：预测正常
    3）GPU：cuda：10.2 cudnn：7.6.5
    4）系统环境：centos7 python3.7.9
![QQ截图20210508110937](https://user-images.githubusercontent.com/22512533/117523990-eb9d5a00-afed-11eb-95e6-820059cdd319.png)

[2021-05-08 03:23] danleifeng commented on #32795
您好，在PaddleClas repo里有SENET的动态图训练，不知道是否是您需要的，可参考：
https://github.com/PaddlePaddle/PaddleClas
https://github.com/PaddlePaddle/PaddleClas/tree/release/2.1/configs/SENet

[2021-05-08 03:27] ForFishes commented on #32796
您好，这个不一定是显存出现的问题，可以提供简单复现的代码吗？还有这个是动态图吗？以及单卡跑会有问题吗？

[2021-05-08 03:29] danleifeng commented on #32783
您好，可参考API文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/index_cn.html
如果需要实现激活函数，可以参考下已有激活函数的实现：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/layer/activation.py

[2021-05-08 03:33] danleifeng commented on #32765
可以使用`paddle.to_variable(a)`接口

[2021-05-08 04:53] hlzonWang opened #32799 "OSError: (External) Cuda error(700), an illegal memory access was encountered."
使用以下代码读入数据不报错：
class DataIterator:

    def __init__(self, source, batch_size=256, max_batch_size=20):
        self.source = open(source, 'r')
        self.source_dicts = []
        self.batch_size = batch_size
        self.source_buffer = []
        self.k = batch_size * max_batch_size
        self.end_of_data = False

    def __iter__(self):
        return self

    def reset(self):
        self

[2021-05-08 04:55] hlzonWang commented on #32799
Traceback (most recent call last):
  File "train.py", line 121, in <module>
    train()
  File "train.py", line 55, in train
    loss.backward()
  File "</opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/decorator.py:decorator-gen-114>", line 2, in backward
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __

[2021-05-08 06:46] ForFishes commented on #32797
您好，这个可以提供提供简单可复现的代码吗，这边复现一下。

[2021-05-08 07:24] yeyupiaoling commented on #32796
@ForFishes 代码这这里：https://github.com/yeyupiaoling/PaddlePaddle-MobileFaceNets/blob/master/train.py
是动态图的。单卡好像也会出现问题。出现是时间是随机的，有时候训练到70多个epoch才出现

[2021-05-08 07:29] shawnLang commented on #32797
链接：https://pan.baidu.com/s/1sONXcM_4D7vf-pgNHetQ3A
提取码：owdf
使用paddleServing 部署这个模型
python3 -m paddle_serving_server_gpu.serve --model serving_server --port 9601 --gpu_ids 0 --use_multilang
多测试图片后就报这个错

import os

from paddle_serving_app.reader import *
from paddle_serving_client import MultiLangClient as Client

import numpy as np

preprocess = Sequential([
    File2Image(), BGR2RGB(), Div(255.0),

[2021-05-08 08:03] TeslaZhao commented on #32797
您好，你使用paddle Serving的版本是？
看您帖的代码中path = r'E:\Model\1'，这个路径是正确的吗，看起来像windows系统上路径名称？

[2021-05-08 09:08] wkzqn opened #32802 "请问以下ai studio平台的在线部署功能无法使用了吗"
![image](https://user-images.githubusercontent.com/44158381/117533540-f7097900-b01f-11eb-84fd-e27a9aefc0c4.png)

[2021-05-08 10:54] daixiangzi opened #32803 "1.1版本静态图模型如何转成2.0动态图模型保存下来"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2021-05-08 11:36] zzz2010 commented on #32765
@danleifeng  我尝试了 fluid.dygraph.to_variable() , 和paddle.to_tensor() 都不支持paddle.fluid.core_avx.Tensor

测试代码
[code]
错误：
[code]

[2021-05-08 12:09] chccc1994 commented on #32607
VS2019 编译不能通过是编译器的问题吗？

[2021-05-08 12:22] ForFishes commented on #32803
您好，应该没有直接转换的方法。是否看一下直接静态图保存模型，然后2.0动态图加载这个模型，看是否可以成功加载。

[2021-05-08 12:44] chccc1994 commented on #32586
能不能出个编译博客，编译一直出问题。

[2021-05-08 13:19] crazyxiaoj commented on #32738
![image](https://user-images.githubusercontent.com/50630515/117540701-fb935900-b042-11eb-9b16-3a3088b4ada9.png)
我在重启项目后仍旧出现该问题！
我应该如何进行重新组网？？
期待大家的回复！

[2021-05-08 13:52] chccc1994 commented on #31243
什么意思？什么斜杠问题？？求教

[2021-05-09 00:27] chccc1994 opened #32805 "win10 源码编译错误"
-PaddlePaddle 版本:2.0
-GPU版本:显卡3080 CUDA 11.0 CUDNN 8.0.5
-Python版本 : 3.7.10方式信息：
本地编译：请提供cmake命令，编译命令
[code]
cmake 后在VS2019 生成解决方法时，一直提示 `无法打开包括文件: “paddle/fluid/framework/framework.pb.h”: No such file or directory`,` 无法打开包括文件: “paddle/fluid/platform/cuda_error.pb.h”: No such file or directory ` 等源码中都不包含这几个文件，怎么解决？？？？

![image](https://user-images.githubusercontent.com/68001817/117556839-bea97f80-

[2021-05-09 00:43] chccc1994 commented on #30909
请问win10  3080 cuda 11.0 cudnn8.0.5 有编译的吗？或者教程？

[2021-05-09 03:21] qing-1999 opened #32806 "安装错误:执行脚本安装PaddlePaddle但是下载失败"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：未安装
    2）CPU：请提供CPU型号: AMD Ryzen 7 4800H with Radeon Graphics，MKL/OpenBlas/MKLDNN/等数学库未安装
    3）GPU：请提供GPU型号: 00:0f.0 VGA compatible controller: VMware SVGA II Adapter  ，CUDA和CUDNN未安装
    4）系统环境：liunx系统: Linux centos7 3.10.

[2021-05-09 09:13] molyswu commented on #32767
Paddle2.0推理deeplabv3还是不兼容cuda11

[2021-05-10 00:49] molyswu commented on #32767
只有自己问自己答。

[2021-05-10 00:58] xinsuinizhuan commented on #32607
同问，是啥问题？并且，希望可以支持debug

[2021-05-10 01:03] yasohasakii opened #32809 "validation dataset visualization"
你好，请问训练过程中如何将每个epoch的验证集的推理结果保存至log呢，或者是如何按照验证集来定义callbacks，没有招到这方面的demo，最好补一个吧，谢谢

[2021-05-10 01:37] GuoQuanhao opened #32810 "BatchNorm迷惑的参数设置"
![image](https://user-images.githubusercontent.com/49911294/117595113-6ee7b880-b172-11eb-89dd-be0c59c39393.png)
![image](https://user-images.githubusercontent.com/49911294/117595122-76a75d00-b172-11eb-91f5-d996d37c11fe.png)
通过文档可以发现两者的momentum默认值是不一样的，但是
![image](https://user-images.githubusercontent.com/49911294/117595192-bbcb8f00-b172-11eb-9a66-b6782abfe6c3.png)
![image](https://user-images.gith

[2021-05-10 02:28] GuoQuanhao opened #32811 "Identity"
【论文复现】请问paddle有类似于torch的identity操作吗

[2021-05-10 03:27] yeyupiaoling opened #32814 "可以使用to_tensor创建一个张量作为模型的参数训练吗？"
- PaddlePaddle 2.0.2

参照Pytorch可以这样创建一个模型参数：
https://github.com/yeyupiaoling/PaddlePaddle-MobileFaceNets/blob/88ff4dc69f24e6482fb15b27e312ec42b0448136/utils/mobilefacenet.py#L115

使用PaddlePaddle可以这样创建吗：
https://github.com/yeyupiaoling/PaddlePaddle-MobileFaceNets/blob/88ff4dc69f24e6482fb15b27e312ec42b0448136/utils/mobilefacenet.py#L116

[2021-05-10 03:35] yaoxuefeng6 commented on #32809
可以设置executor.run方法里面的fetch_list相关参数拿到预测结果。

[2021-05-10 03:37] yaoxuefeng6 commented on #32811
你好 目前没有哈

[2021-05-10 03:38] shawnLang commented on #32797
抱歉，现在才看到
使用的是 paddle-serving-server-gpu: 0.5.0, 在centos7上面部署运行的 这个代码是在本地windows下面运行 ，这个路径下面放的图片

[2021-05-10 03:55] pangyoki commented on #32806
请问这个安装包的链接是哪儿来的呢？看起来的确访问不到安装包。
你需要安装哪个版本的paddle呢？可以帮你找下相应的包。

[2021-05-10 04:02] yaoxuefeng6 commented on #32814
你好 目前看起来这样是不行的 XavierUniform可以参考这个文档的用法：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/initializer/xavier/XavierUniform_cn.html#xavieruniform

[2021-05-10 06:48] yeyupiaoling commented on #32814
@yaoxuefeng6 如果不考虑XavierUniform初始化，我随机初始化，像下面这样，模型能训练的吗？
https://github.com/yeyupiaoling/PaddlePaddle-MobileFaceNets/blob/c88b7a9a55dbe064fe2f753bc7cb4984091f9f85/utils/mobilefacenet.py#L112

[2021-05-10 06:56] GuoQuanhao commented on #32811
我从nn.Layer继承而来自己写了一个，已解决

[2021-05-10 06:56] #32811 closed, assigned to yaoxuefeng6

[2021-05-10 06:56] GuoQuanhao commented on #32810
已解决

[2021-05-10 06:56] #32810 closed, assigned to yaoxuefeng6

[2021-05-10 07:37] 1205469665 opened #32819 "在银河麒麟v10 上编译安装飞浆 安装到第八步命令 执行cmake： Python3 不能成功执行"
Determining if the pthread_create exist failed with the following output:
Change Dir: /root/Paddle/build/CMakeFiles/CMakeTmp

Run Build Command:"/usr/bin/gmake" "cmTC_f6dbc/fast"
/usr/bin/gmake -f CMakeFiles/cmTC_f6dbc.dir/build.make CMakeFiles/cmTC_f6dbc.dir/build
gmake[1]: 进入目录“/root/Paddle/build/CMakeFiles/CMakeTmp”
Building C object CMakeFiles/cmTC_f6dbc.dir/CheckSymbolExists.c.o
/usr/bin/cc -

[2021-05-10 07:42] 1205469665 commented on #32819
1）PaddlePaddle版本：2.0.0
   2）CPU/GPU：CPU Kunpeng 920
   3）系统环境：银河麒麟v10
   4）Python版本号: 3.6.9
   5.） 执行到第八步 执行cmake： python3
   cmake .. -DPY_VERSION=3 -DPYTHON_EXECUTABLE=`which python3` -DWITH_ARM=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_XBYAK=OFF

[2021-05-10 08:08] suiyi1420 commented on #30064
一样遇到这种问题，CPU模式下识别正常，使用GPU识别结果都是错的，或者根本识别不到

[https://github.com/PaddlePaddle/PaddleOCR/issues/2749](url)

[2021-05-10 08:16] zhoulei163 opened #32822 "添加gru及crf层后，训练过程中出现异常"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2021-05-10 08:50] ForFishes commented on #32802
是服务问题。教程可以临时参考，https://ai.baidu.com/ai-doc/AISTUDIO/bk3e382cq#%E5%88%9B%E5%BB%BA%E4%B8%80%E4%B8%AA%E5%9C%A8%E7%BA%BF%E6%9C%8D%E5%8A%A1

[2021-05-10 08:51] iclementine commented on #32746
https://github.com/PaddlePaddle/Paddle/blob/89daf8e645a490763b52a260845197e7c8d7680d/paddle/fluid/framework/details/op_handle_base.cc#L51 有关

那么是 cuda 初始化失败了

看起来是环境的问题，可以给详细的环境配置以便诊断？

[2021-05-10 08:53] ForFishes commented on #32799
您好，我这里帮你看下。Paddle的训练和Dataset应该是兼容的。能否提供具体的使用Dataset的训练代码呢？

[2021-05-10 08:56] ForFishes commented on #32796
提供一下有数据的可复现的代码？这里看报错，不是显存的问题，可能是数据访问越界了。如果你尝试用fake数据训练呢，看看是否出现同样的问题。

[2021-05-10 08:58] zhoulei163 commented on #32822
`
class Model_ernie(ErnieForTokenClassification):
    def __init__(self, ernie, num_classes, dropout=None, gru_hidden_size=128):
        super(Model_ernie, self).__init__(ernie, num_classes)
        self.num_classes = num_classes
        self.ernie = ernie
        self.dropout = nn.Dropout(dropout if dropout is not None else
                                  self.ernie.config["hidden_dropout_prob"

[2021-05-10 08:59] yeyupiaoling commented on #32796
@ForFishes 数据访问越界？出现这种情况的原因是什么？为啥前面好几个epoch都没有问题？
项目文档中有提供数据集了：
https://github.com/yeyupiaoling/PaddlePaddle-MobileFaceNets

[2021-05-10 09:13] ForFishes commented on #32796
嗯嗯，好的。我这边复现一下，你这边可以先用fake的数据+ 单卡测试一下。这个报错信息非常少，难以判断问题。

[2021-05-10 10:17] zhwesky2010 commented on #32765
@zzz2010 构造这里有个问题，不支持core.Tensor，只支持core.LoDTensor，后面我们修复一下

[2021-05-10 11:37] zhwesky2010 commented on #32805
@chccc5 您好，应该是前面编的时候挂了，这个pb.h是编译时生成的，生成失败了。cmake .. -G "Visual Studio 16 2019" -A x64 -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DPY_VERSION=3.7，用这个试一下

[2021-05-10 11:49] yaoxuefeng6 commented on #32814
应该是可以的

[2021-05-10 15:49] htw2012 opened #32828 "ERROR: No matching distribution found for paddlepaddle==2.0.2"
ERROR: No matching distribution found for paddlepaddle==2.0.2

安装方式以及机器信息如下：

my9095@my9095:$ python -m pip install paddlepaddle==2.0.2 -i https://mirror.baidu.com/pypi/simple
Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://mirror.baidu.com/pypi/simple
ERROR: Could not find a version that satisfies the requirement paddlepaddle==2.0.2 (from

[2021-05-10 18:48] YueWang1996 commented on #30247
问题已解决

[2021-05-10 20:12] arlesniak commented on #30560
With recent changes to initializers, SGD, some operations in fwd and bkwd (already in develop/release 2.1 branches) you can use **pure BF16** mode. It allows to convert a model operations, tensors and parameters to BF16.

Pure mode is part of AMP concept used in **paddle.static.amp.bf16** module for mixed precision training. We followed the concept with changes as close to the AMP API as can be an

[2021-05-11 03:09] #24278 closed, assigned to zhwesky2010

[2021-05-11 03:09] #24294 closed, assigned to nobody

[2021-05-11 03:09] #24301 closed, assigned to phlrain

[2021-05-11 03:09] #24313 closed, assigned to nobody

[2021-05-11 03:09] #24316 closed, assigned to nobody

[2021-05-11 03:09] #24324 closed, assigned to sandyhouse

[2021-05-11 03:09] #24343 closed, assigned to nobody

[2021-05-11 03:09] #24355 closed, assigned to Superjomn

[2021-05-11 03:10] #24358 closed, assigned to nobody

[2021-05-11 03:10] #24364 closed, assigned to zhiqiu

[2021-05-11 05:37] 1205469665 opened #32833 "国产化麒麟V10 操作系统 安装编译验证报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0r1
    2）CPU：Kunpeng 920
    3）系统环境：请麒麟v10/
    4)  python3.6.9
- 安装方式信息：
1）源码编译
目前已经成功完成编译,已经成功完成安装,但是在验证安装的时候报错了

python3
import paddle
报错
[root@localhost dist]# python3
Python 3.6.9 (default, May  8 2021, 15:46:09)
[

[2021-05-11 05:47] #32819 closed, assigned to yaoxuefeng6

[2021-05-11 06:35] ketra21 commented on #1200
类似问题可以设置超时时间`--default-timeout=100`解决，如下是例子：
pip install --no-cache-dir -i https://pypi.tuna.tsinghua.edu.cn/simple --default-timeout=100 paddlepaddle-gpu -U

[2021-05-11 06:56] 1205469665 commented on #32833
@iclementine    您好,请问这个问题是我哪里弄得不对吗？

[2021-05-11 06:59] lidanqing-vv commented on #31992
@juncaipeng  Could this issue be closed

[2021-05-11 07:12] yaoxuefeng6 commented on #32828
可以试下清华源： python3 -m pip install paddlepaddle-gpu==[版本号] -i https://pypi.tuna.tsinghua.edu.cn/simple
或者尝试升级下pip

[2021-05-11 07:23] jeffzhengye commented on #32627
@zhiqiu

[2021-05-11 08:25] yeyupiaoling commented on #32814
@yaoxuefeng6 好像不行，因为这个模型好像没参数

这样打印没有参数，参数为空。按设计想的，应该有一个参数weight的。
[code]

pytorch 可以这样创建一个参数
[code]

[2021-05-11 08:43] jiweibo commented on #32833
您好，我怀疑是cmake编译的时候指定的python（获其依赖库）与您使用的python不一致。

能否检查下cmake的输出log，看下其使用的Python路径等信息

[2021-05-11 08:52] 1205469665 commented on #32833
@jiweibo  你好有没有可能是 官网的cmake 命令有问题 里面的 gpu 是自动开启的 我是cpu 需要给他关着 我真在尝试是不是这个问题 ,  python 路径是对的

[2021-05-11 08:56] cristicmf commented on #32795
@danleifeng  感谢你的回复，paddledetection的senet权重怎么调用？

[2021-05-11 13:32] johnhansheng opened #32849 "Error: cannot import name 'build_slim_model'"
执行命令：python infers/infer.py -c configs/blazeface_1000e.yml  -o weights=weights/blazeface_1000e.pdparams  --infer_img=test/16pic_8594349_b.jpg --save_txt=True
报错，from ppdet.slim import build_slim_model ImportError: cannot import name 'build_slim_model'。

[2021-05-12 02:45] #32734 closed, assigned to juncaipeng

[2021-05-12 02:58] SunNy820828449 opened #32852 "paddle中的单维度roll操作在nvdia-gpu上比pytorch慢,而且出现额外cudaMemcpyDeviceToDevice操作。"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：

标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
版本、环境信息：
   1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
   2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
   3）GPU：请提供GPU型号，CUDA和CUDNN版本号
   4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
注：您可以通过执行summary_env.py获取以上信息。
模型信息
   1）模型名称 2）使用数据集名称 3）使用算法名称 4）

[2021-05-12 03:15] yghstill commented on #32849
@johnhansheng PaddleDetection版本是多少？使用release/2.0版本再试下呢？https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0

[2021-05-12 03:36] #31992 closed, assigned to jczaja, lidanqing-vv

[2021-05-12 05:36] wadefelix commented on #32828
arm机器

[2021-05-12 07:26] chlg3321 commented on #29172
问题解决了吗？

[2021-05-12 07:53] tangzhiyi11 opened #32862 "动态图训练出现loss inf"
动态图训练出现loss inf，静态图是有个  FLAGS_check_nan_inf 的环境变量来辅助调试，动态图貌似给去掉了？请问动态图有类似的调试方法么？

[2021-05-12 08:00] huangjun12 commented on #32862
动态图调试更加简单，可以直接打印各层的输出，定位出loss为Inf的原因

[2021-05-12 08:06] tangzhiyi11 commented on #32862
@huangjun12 每层打印还是有点不方便吧，因为我大多数使用的是套件里的训练脚本，已经封装好了模型，是否可以提供类似之前的环境变量，来方便定位具体出现inf的算子

[2021-05-12 08:12] yeyupiaoling commented on #32796
@ForFishes 我在AI Studio单卡好像没有问题，训练了一个晚上也没有出现这个问题。

[2021-05-12 08:26] yeyupiaoling commented on #32814
@yaoxuefeng6 我主要是参考了Pytorch这个写法，
[code]

这里是我用PaddlePaddle实现的，主要是`self.weight`这个参数的问题。
[code]

[2021-05-12 09:04] #32809 closed, assigned to yaoxuefeng6

[2021-05-12 09:13] minhozhou commented on #32024
同出现，是啥原因呢，数据问题吗，我发现小数据没问题，提交集群训练一会儿就会出现，但又没定位

[2021-05-12 09:46] zhwesky2010 commented on #28360
CUDA驱动是什么，nvidia-smi看下

[2021-05-12 10:56] sxd-max opened #32871 "ValueError: (InvalidArgument) Python object is not type of St10shared_ptrIN6paddle10imperative7VarBaseEE (at /paddle/paddle/fluid/pybind/imperative.cc:221)"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：官网cpu默认版本
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、开发机 contos Python3.7.6

[2021-05-12 10:58] huangjun12 commented on #32871
补充一下paddle版本、用到的模型套件以及代码吧

[2021-05-12 11:27] zyl112334 opened #32873 "paddle2.0支持华为昇腾910加速吗？"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0+
    2）GPU：昇腾910
    3）系统环境：Linux version 4.14.0-115.el7a.0.1.aarch64
    
请问，目前paddle能否支持在华为的昇腾910上加速推理运算呢？

[2021-05-13 02:42] HXia-XXL opened #32882 "加权BCELoss()如何实现"
`class paddle.nn.BCELoss(weight=None, reduction='mean', name=None)`

BCELoss函数没有axis参数，在底层调用 elementwise_mul() 默认按axis=-1

`out = core.ops.elementwise_mul(out, weight, 'axis', -1)`

但是，Input数据一般为 [B,C,H,W]格式。请问如何指定 axis = 1 呢？

还有一个疑问，BCELoss() 函数需要 weight 和 channel 相同维度，Input的channel通常为1。

现在设 weight = [ 0.3, 0.7 ]，维度是2，无法对 Input计算加权损失。

请问，如何只用 1 维的weight 对 二分类进行加权？

感谢您的帮助！

[2021-05-13 02:43] HXia-XXL commented on #32882
![image](https://user-images.githubusercontent.com/44633898/118070192-0863d400-b3d8-11eb-8e81-09a8176e5c40.png)

[2021-05-13 03:20] #32636 closed, assigned to gfwm2013

[2021-05-13 03:21] TeslaZhao commented on #32797
您好，在您指定的环境下，使用您的代码并没有复现Bug。运行结果打印fetch_map，没有报错。

fetch_map : {'save_infer_model/scale_0.tmp_1': array([[2.70000000e+01, 7.69133270e-01, 2.14062469e+02, 4.35239624e+02,
        2.60595398e+02, 6.29475464e+02],
       [2.70000000e+01, 5.70183158e-01, 4.05497681e+02, 4.64471985e+02,
        4.45250061e+02, 6.39000000e+02],
       [2.70000000e+01, 5.60365498e-01, 2.60222168e+02, 4.56239410e+02,

[2021-05-13 03:57] kuizhiqing opened #32886 "RuntimeError: Unable to cast Python instance of type <class 'paddle.VarBase'> to C++ type 'std::shared_ptr<paddle::imperative::VarBase>'"
Paddle version 2.0.1

Error:
[code]

文件 beat.cpp
[code]

编译命令
[code]

错误复现
[code]

[2021-05-13 06:13] lleesg commented on #31687
遇到同样问题，请问更新解决了么？

[2021-05-13 06:13] yeyupiaoling opened #32888 "训练一轮之后执行评估，显存增加一倍？"
- PaddlePaddle 2.0.2
 - Ubuntu 18.04
 - Python 3.7

以前的Fluid版本无论是训练还是训练完之后评估，前后的显存都差别不大。
但是2.0版本的，执行评估是，显存会增加一倍，而且评估结束之后并没有释放。
例如：在训练时只占3.8G，之后执行执行评估后就占用了6.0G，这种情况怎么解决
![image](https://user-images.githubusercontent.com/26297768/118085693-60f59a00-b3f5-11eb-90e1-cf7748653a21.png)

[2021-05-13 07:31] yeyupiaoling commented on #32814
这样可以创建一个参数了
[code]

[2021-05-13 07:31] #32814 closed, assigned to yaoxuefeng6

[2021-05-13 08:23] rphao1995 opened #32893 "dynamic_lstm 迁移到 tensorflow"
PaddlePaddle 版本 1.8.5
tensorflow 版本 1.8
使用的是 paddle.fluid.layers.dynamic_lstm。文档中说，在使用dynamic_lstm前需要进行 线性映射(fc)。
这样涉及到4个权重，分别是，lstm_kernel, lstm_bias, fc_kernel, fc_bias(我需要迁移的模型的fc使用了偏置)
假设 输入特征维度是 8 ，输出维度是 128，则这四个权重的 shape 分别为 lstm_kernel（128, 512）、lstm_bias(512)、fc_kernel(8, 512)、fc_bias(512)

tensorflow 里，BasicLSTM的只有两个权重 lstm_kernel(136, 512)，lstm_bias(512)
我应该怎么操作 PaddlePaddle 里的权重使得它和 ten

[2021-05-13 08:25] DDDivano opened #32894 "Mac M1芯片在这个位置会有一个错误提示，需要修改成兼容的"
https://github.com/PaddlePaddle/Paddle/blob/7610c2b4aaa2addccc100728794c5f00078f687f/python/paddle/fluid/core.py#L96
import paddle就可以复现，不影响正常使用，m1芯片没有这个命令。
![image](https://user-images.githubusercontent.com/10734244/118098737-d9188b80-b406-11eb-997b-5827f08b0d38.png)

[2021-05-13 09:33] rphao1995 commented on #32893
# i = input_gate, j = new_input, f = forget_gate, o = output_gate

[2021-05-13 09:49] 1205469665 commented on #32833
@jiweibo  不行我把 cmake 里面的gpu 关了还是不行

cmake .. -DPY_VERSION=3 -DPYTHON_EXECUTABLE=`which python3` -DWITH_ARM=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_XBYAK=OFF -DWITH_GPU=OFF -DWITH_AVX=OFF

python 路径也是一样的
![image](https://user-images.githubusercontent.com/16591941/117793986-5c0eda00-b27f-11eb-8517-cd44dc35e1c7.png)

那台电脑不行我又重新找了一台电脑基本的环境都是一样的 但是在
第九步编译的时候
make TARGET=AR

[2021-05-13 09:57] rphao1995 commented on #32893
Tensorflow 的 BasicLSTMCell
https://github.com/tensorflow/tensorflow/blob/23c218785eac5bfe737eec4f8081fd0ef8e0684d/tensorflow/python/ops/rnn_cell_impl.py#L519
在内部矩阵乘后，把 136,512 的矩阵分为了四份，分别是 输入门，状态更新，遗忘门，输出门。
怀疑和这个有关，把权重的顺序换成 输入门，遗忘门，输出门，状态更新 的顺序，但没用。paddle的顺序是怎样的？

[2021-05-13 10:33] zhiqiu commented on #32873
目前Paddle+Ascend910正在适配中，我们会在2.1版本发布一个experimental版本的支持。

[2021-05-13 10:36] Aurelius84 commented on #32886
你python端`print(beat.pd2(x))`中的x是个VarBase类型，但C++端函数要求的是`shared_ptr<VarBase>`函数签名不一致吧

[2021-05-13 10:39] Aurelius84 commented on #32888
方便问下之前使用的paddle版本是哪个？也是动态图下训练么？

另外，执行评估时显存占用上升到6G，评估函数执行完，显存会回落到3.8G么？

[2021-05-13 10:44] Aurelius84 commented on #32893
Paddle中dynamic_lstm接口会自动进行门接口相关的权重设置，只需要输入hidden_size即可。

参考接口样例：
[code]

[2021-05-13 10:52] yeyupiaoling commented on #32888
说就是举个例，不是同一个项目。全部的Fluid版本的显存在训练阶段基本不会变的。

不会，反而慢慢增加。

[2021-05-13 11:04] rphao1995 commented on #32893
Paddle 的 lstm 实现确实是这样，但这不符合我的需求。
我需要把  paddle 的lstm权重迁移到tensorflow里。我应该对 Paddle 的权重做怎样的变换，使得它和 tensorflow 的等效呢？

[2021-05-13 11:06] rphao1995 commented on #32893
或者 paddle 的 dynamic_lstm 源码在哪呢？
https://github.com/PaddlePaddle/Paddle/blob/af5bb2a3d98cba4733e98b57c5bd34a7edce9767/python/paddle/fluid/layers/nn.py#L691
从这份代码里，我完全看不出  dynamic_lstm  是如何计算的

[2021-05-13 11:31] Aurelius84 commented on #32894
非常感谢您的反馈，我们会优化一下。另外，Mac M1芯片的会逐步适配。

[2021-05-13 11:37] zhangjia3 opened #32895 "PaddlePaddle是否支持rocm"
PaddlePaddle是否支持AMD显卡？

[2021-05-13 11:42] Aurelius84 commented on #32888
咨询了下组内同学，eval时上升是符合预期的，如果你eval阶段不需要计算反向，可以在评估的函数上加上`@paddle.no_grad`

[2021-05-13 11:44] Aurelius84 commented on #32895
您好，已经支持了。

[2021-05-13 11:48] yeyupiaoling commented on #32888
@好的，谢谢。我先试试。

[2021-05-13 14:57] zhangjia3 commented on #32895
非常感谢您的回复！请问如何在AMD显卡上安装paddlepaddle，是否有相关教程或者镜像。

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2021年5月13日(周四) 晚上7:45
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] PaddlePaddle是否支持rocm (#32895)

您好，已经支持了。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-14 01:39] lleesg commented on #30387
把jetson更新到paddle inference 2.0.2，paddle detection 2.0，利用deploy/python/infer.py进行检测，发现只要开了GPU就检测不到结果（用CPU正常），用config.switch_ir_optim(False)也不行。

请各位老师看看呢？

[2021-05-14 01:45] Aurelius84 commented on #32895
支持ROCM的whl 包将随2.1.0版本发布，安装教程参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/rocm_docs/index_cn.html

[2021-05-14 01:53] thunder95 opened #32898 "dilation显存泄露"
evaluate或训练时有显存泄露， 然后就OOM了, 定位到dilation=2时出现
AIstudio上， paddle 2.0

[2021-05-14 02:17] kuizhiqing commented on #32886
请问函数签名为什么不一致，或者说怎么修改才能使签名一致呢

[2021-05-14 03:34] LDOUBLEV commented on #32898
提供下具体信息方便定位问题，
- 训练的什么算法，
- 项目链接
- 具体报错信息
- dilation=2的 上下文代码

[2021-05-14 04:00] rphao1995 commented on #32893
我试出来了，Paddle 的 dynamic_lstm 的顺序是  状态更新，输入门，遗忘门，输出门，把权重的变换顺序后可以复现BasicLSTM的结果。如果输入特征维度是 8 ，输出维度是 128的话，具体操作是这样：
tf_lstm_kernel = concat(paddle_fc_kernel, paddle_lstm_kernel)
tf_lstm_kernel = concat(tf_lstm_kernel[:, 128:256], tf_lstm_kernel[:, :128],  tf_lstm_kernel[:, 256:512], axis=-1)

tf_lstm_bias = add(paddle_fc_bias, paddle_lstm_bias)
tf_lstm_bias = concat(tf_lstm_bias[128:256], tf_lstm_bias[

[2021-05-14 04:22] thunder95 commented on #32898
可能不是dilation的问题，我搭建了一个resnet50+dc5， evaluate的时候无论如何显存都会一直上涨，然后就OOM.
特别是make_layer那里是明显增长，稳步增长显存，每运行一个batch， 并没有把显存降下来
训练是显存占用时候也有3，4个G的波动
放在本地也是这样的。 代码如下， 请帮忙看看 @LDOUBLEV

[resnet_bk.txt](https://github.com/PaddlePaddle/Paddle/files/6476502/resnet_bk.txt)

[2021-05-14 05:17] GuoQuanhao opened #32901 "Cifar10与Cifar10不能指定下载路径"
paddle: 2.0.2
platform: AIStudio
[code]
[code]

[2021-05-14 05:22] GuoQuanhao commented on #32901
这个API写的很迷惑。从报错来看，竟然是直接打开`self.data_file`，文档显示`data_file`是一个指定下载路径
[code]

[2021-05-14 05:27] LDOUBLEV commented on #32901
这个API没有提供修改下载路径的参数，默认下载到~/.cache/paddle/dataset/cifar

![image](https://user-images.githubusercontent.com/26592129/118225669-20ab2000-b4b8-11eb-8ac5-535bc12838ff.png)

data_file可以是下载好的数据集路径或者None，不是指定下载路径

[2021-05-14 05:31] LDOUBLEV commented on #32898
make_layer这里在搭建网络，肯定会增加显存占用，eval的时候加上这个环境变量试试：export FLAGS_allocator_strategy='auto_growth'

训练没有显存溢出的话，eval一般也没问题，可以再检查下代码，或者贴一下具体报错信息？

[2021-05-14 07:01] GuoQuanhao commented on #32901
那这个API设计的不太合理，建议修改，或增加指定路劲的功能

[2021-05-14 07:05] #32901 closed, assigned to LDOUBLEV

[2021-05-14 07:14] BlackHorseQ opened #32905 "模型太大，单卡放不下，paddle有好的解决方案嘛"
就是模型太大，怎么办啊？
主要是6个embedding太大了，现在只能放下五个，剩余一个放不下，放在另一个卡会报错

[2021-05-14 07:25] thunder95 commented on #32898
@LDOUBLEV 设置上面的环境变量没有任何帮助， 在torch上尝试同样的模型，显存非常稳定，而且占用显存远小于paddle， 应该是我哪里没弄对，琢磨了好久都没想明白，batch_size已经是最小的1了， 每次batch推理玩似乎显存没有回收，而且AIStudio是32G的显存。 错误信息如下：

/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/framework.py:687: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modif

[2021-05-14 07:34] lightbordwin opened #32907 "安装不完整 使用离线安装包安装的paddle不包括paddle.nn怎么解决?"
使用如下链接
https://paddle-wheel.bj.bcebos.com/1.5.2-win-offline/paddle_windows%E7%A6%BB%E7%BA%BF%E5%AE%89%E8%A3%85%E5%8C%85%E8%AF%B4%E6%98%8E%E6%96%87%E6%A1%A3.pdf
在windows7中安装成功
但是离线安装以后能使用paddle但是不能使用paddle.nn

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    

[2021-05-14 07:53] jiweibo commented on #31997
您好，析构问题已经部分修复了，在析构过程中去除了针对权重的显存池释放部分，已合入2.1哈

[2021-05-14 08:18] LDOUBLEV commented on #32907
你安装的是1.5.2版本的paddle，paddle.nn是paddle 2.0才有的功能

可以先把2.0的whl包下载到本地，传到你的机器上去安装

[2021-05-14 08:21] LDOUBLEV commented on #32898
是否是你每次评估的时候重新定义模型了，评估的代码发一下？

[2021-05-14 08:26] BlackHorseQ opened #32909 "index_select改变元素的cpu的device"
x = paddle.to_tensor([[1.0, 2.0, 3.0, 4.0],
                     [5.0, 6.0, 7.0, 8.0],
                     [9.0, 10.0, 11.0, 12.0]], place='cpu')
print(x.place)
index = paddle.to_tensor([0, 1, 1], dtype='int32', place='cpu')
print(index.place)
paddle.index_select(x=x, index=index)
print(x.place)
![image](https://user-images.githubusercontent.com/71745501/118243431-07629d80-b4d1-11eb-90ca-79836cbf

[2021-05-14 08:40] LDOUBLEV commented on #32909
在代码开始之前，加一行代码： paddle.set_device("cpu")，设置代码运行在CPU上

https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/device/set_device_cn.html#set-device

[2021-05-14 08:44] LDOUBLEV commented on #32905
主要是减少显存占用，试试这个方法：https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/train_cn.html#wenti-xunlianshibaocuotishixiancunbuzu-ruhejiejue

[2021-05-14 08:47] thunder95 commented on #32898
@LDOUBLEV 没有的哈，大概代码是这样的, 就是很普通的评估

[code]

[2021-05-14 09:38] LDOUBLEV commented on #32898
你的项目方便公开不，没有你的环境不好确定问题，

你先把程序kill掉，让显存清空，不训练只评估也会显存不够用吗？

[2021-05-14 10:06] thunder95 commented on #32898
重启项目之后莫名的变好了， 虽然显存仍然占用较大，但至少没报错了 @LDOUBLEV

[2021-05-14 10:06] #32898 closed, assigned to LDOUBLEV

[2021-05-14 10:57] Aurelius84 commented on #32886
这里是不是要改为：`VarBase`？
[code]

[2021-05-14 12:07] DDDivano opened #32919 "这个代码在部分操作系统下会报乱码"
https://github.com/PaddlePaddle/Paddle/blob/51b39a94e436d5c09b26efce38da81391c184e46/python/paddle/utils/deprecated.py#L101
不影响使用，需要修改兼容性。
![image](https://user-images.githubusercontent.com/10734244/118268501-09882480-b4f0-11eb-997a-10f6474c9231.png)
![image](https://user-images.githubusercontent.com/10734244/118268576-1d338b00-b4f0-11eb-9781-2b0ab7ef876a.png)

非bash都可能报乱码

[2021-05-14 14:23] HAOCHENYE opened #32921 "复现TransFormer发现LayerNorm出现Nan的问题"
你好，目前我正打算尝试移植ViT,复现过程中我发现了以下问题，还望能够解惑：
[code]

我在本地运行这段代码，发现res_pd出现了很多的NaN，经过调试nan是在layernorm层中出现的，但是据我观察，我认为layernorm不应该出现nan才对，生成的随机数方差不至于是0，至于eps也是默认的1e-5，咋能出现nan呢。我尝试在AI Studio中运行这部分代码，发现cpu服务器情况下结果并未出现nan(代码是从pytorch移植，torch也未出现nan)。我一开始以为可能是数据不同步造成的，使用paddlepaddle gpu版，在cpu端和gpu端进行测试，仍然出现了Nan，请问这是怎么回事呢？希望能解答

[2021-05-14 17:29] cisco08 opened #32923 "【论文复现】DataLoader RuntimeError"
   1）PaddlePaddle版本：2.0.2
    2）系统环境： AIstudio
    3）报错如下: 动态图的dataloader  调用next时queue变成空的时候会异常
 RuntimeError: DataLoader 1 workers exit unexpectedly, pids: 2149

---------------------------------------------------------------------------SystemError                               Traceback (most recent call last)<ipython-input-155-da60038f3a63> in <module>
      1 # 读取数据
      2 reader = paddle.io

[2021-05-14 18:44] baixiaoming555 commented on #29320
同样遇到这个问题，解决了么

[2021-05-15 08:57] yanxiaod123 commented on #30503
问题解决了嘛？我用mask rcnn测试的时候遇到同样问问题。
 File "/root/PaddleDetection-2.0.0/ppdet/modeling/architectures/mask_rcnn.py", line 119, in _forward
    bbox_num, origin_shape)
  File "/root/PaddleDetection-2.0.0/ppdet/modeling/post_process.py", line 198, in __call__
    pred_mask = paddle.cast(pred_mask, 'int8')
  File "/usr/python3/lib/python3.7/site-packages/paddle/fluid/layers/tensor.py", line 243, in cast

[2021-05-15 13:02] htw2012 commented on #32828
没有解决

[2021-05-15 13:04] htw2012 opened #32925 "ModuleNotFoundError: No module named 'paddle.fluid.dataloader.collate'"
mac机器：
执行 python -c "import paddle; print(paddle.__version__)"
输出 2.0.0

执行
python infers/infer.py -c configs/blazeface_1000e.yml  -o weights=weights/blazeface_1000e.pdparams  --infer_img=test/16pic_8594349_b.jpg --save_txt=True

Traceback (most recent call last):
  File "infers/infer.py", line 29, in <module>
    from ppdet.core.workspace import load_config, merge_config
  File "/Users/towan/envs

[2021-05-16 05:27] crazyxiaoj commented on #32738
可能由于上传代码、操作说明不完整，致使问题分析错误，我将会关闭这个issue，重新进行提问

[2021-05-16 05:27] #32738 closed, assigned to juncaipeng

[2021-05-16 06:23] crazyxiaoj opened #32926 "AssertionError: optimizer Tensor conv2d_53.w_0_velocity_0 not found"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0
    2）系统环境：AIStudio 高级版
- 训练信息
    1）单机，单卡
- 复现信息：

[issue.md](https://github.com/PaddlePaddle/Paddle/files/6488768/issue.md)

按文件中的代码运行后，把最后一个cell的代码修改一下：
![image](https://user-images.githubusercontent.com/50630515/118387639-1f155f80-b652-11eb-9ae9-1bcd4a238019.png)
把框中的代码取消注释，即可复现问题

- 问题描述：

报错信息：
Epoch 0: PiecewiseDecay set learning rate to 0.1.
------------

[2021-05-16 06:51] HAOCHENYE commented on #32921
FFN和MultiAttentionHead都是正常的，只有到了layer encoder中layernorm，才出现了nan。这部分的代码我是和pth版本的一一对应，前半部分的结果完全一致，只有到了layernorm除了问题(通道顺序我也调整过了的)

[2021-05-16 12:24] YukSing12 opened #32927 "疑似DataLoader内存泄漏问题"
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle2.0.2
    2）环境：AIStudio
- 问题描述：
当只采用部分数据集进行训练时，break后疑似内存没有释放，导致在较大循环中，内存不断增加，最终内存溢出。当采用全部数据集进行训练时（即不设定max_iter进行break），内存情况正常。部分代码如下，
[code]

[2021-05-16 14:07] Chenfei-Kang commented on #32500
啊，找了一个晚上终于有答案了。修改梯度的情形还是有的，比如NLP的对抗训练，需要先储存原有的梯度，把噪声的梯度反向传播一下，再把原有的梯度还原回去，要是改不了的话就不能写了。

[2021-05-17 02:16] LDOUBLEV commented on #32919
确实，非bash的可能出现乱码，感谢反馈

[2021-05-17 02:20] JZ-LIANG commented on #32926
报错原因是：load 模型时， 指定目录下没有找到对应var 的文件 （conv2d_53.w_0_velocity_0）
请确认按注释修改后的目录中有完整的 模型训练文件（param + opt state）:

- 对于 Layer.state_dict ，推荐使用后缀 .pdparams ；
- 对于 Optimizer.state_dict ，推荐使用后缀 .pdopt

并需要确认模型save 时是 save for training：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model/Model_cn.html#save-path-training-true

[2021-05-17 02:26] JZ-LIANG commented on #32927
请附上完整代码 （特别是 dataloader 创建和实例化的部分）， 我们需要尝试本地复现

[2021-05-17 02:42] crazyxiaoj commented on #32926
好的，我看了您提供的链接，同时注意到，您所给链接中的paddle.save方法是应用于静态图的，那么有没有适用于动态图的解决方案呢？
此外：
![image](https://user-images.githubusercontent.com/50630515/118425705-4e80a680-b6fc-11eb-91ec-f7905b8ffbb6.png)
指定目录下含有.pdparams和.pdopt两个文件，您可以通过运行“复现代码”来再次进行验证。

[2021-05-17 02:50] LDOUBLEV commented on #32921
问题复现了，你可以尝试对特征的后两个维度做layernorm，这样不会出现Nan
[code]

[2021-05-17 03:03] wangxicoding commented on #32925
看了下源码，需要升级一下Paddle，使用2.1版本的paddle，或者用最新的develop版本

[2021-05-17 03:05] wangxicoding commented on #32923
看起来是数据读取出问题了，每次运行都会复现吗

[2021-05-17 03:17] #32797 closed, assigned to ForFishes

[2021-05-17 03:38] YukSing12 commented on #32927
这里采用[PaddlePaddle文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/reader/DataLoader_cn.html#dataloader)中的代码加做修改：
[code]
将EPOCH_NUM设为100后，每隔10个iterbreak，然后就会出现内存泄漏的情况，内存增长图如下
![image](https://user-images.githubusercontent.com/39983134/118429308-f9489300-b703-11eb-858c-59eec2c3426d.png)

同时报错，部分错误如下：
[code]

[2021-05-17 08:04] wadefelix commented on #32607
cpp标准升级、编译器优化升级等等。。
protobuf和eigen第三方库也要是较新的代码才可以。

我试着胡乱改了下 https://github.com/wadefelix/Paddle/tree/vs2019 还是有问题未解决。去年我改它编译通过来着，现在又不行了。

[2021-05-17 08:05] YanFuHai06 commented on #30909
请问Ubuntu20.04_64位 RTX3060TI cuda 11.1 cudnn8 有编译的或者教程吗？

[2021-05-17 08:20] JZ-LIANG commented on #32927
本地已经复现， GPU 和 CPU 训练都会出现该问题， 动图loader 进程在break 后没有被正确结束， 导致Host CPU 内存泄露。

[2021-05-17 08:52] Steffy-zxf commented on #32882
@HXia-XXL  你好！如果你想对输入`input`的channel进行加权平均的话，可以在BCELoss运算之前直接对`input`进行channel加权。[BCELoss](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/layer/loss/BCELoss_cn.html#bceloss)参数`weight`是对batch中的每个sample进行加权，所以`weight`的shape应该是(batch_size)。

[2021-05-17 11:44] 360AIVul opened #32942 "算子split存在安全问题/bug"
- 标题：算子split存在安全问题/bug
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2
    2）CPU/GPU：CPU
    3）系统环境: ubuntu 20.04
    4）Python版本号: 3.8.5

[code]

问题一：可能存在double free or corruption (out)
fluid.layers.split(x, num_or_sections = 1, dim = -2)

[code]

问题二：可能存在越界读
fluid.layers.split(x, num_or_sections = 1, dim = 0x1337)

[code]
获取[axis](https://github.com/PaddlePaddle/Paddle/blob/69d8027471f82d9f73234a7df9a9396d

[2021-05-17 11:46] heavengate commented on #32927
你好，请问下你这边是什么场景需要迭代到中间break出来呢

[2021-05-17 12:10] OleNet opened #32943 "请问，如何在 enable_static() 模式下，在组网阶段，用numpy array 去初始化一个变量呢？"
请问，如何在 enable_static() 模式下，在组网阶段，用numpy array 去初始化一个变量呢？ 我写了如下的函数，但是var_t变量的值仍然是随机值

[code]

[2021-05-17 12:13] JZ-LIANG commented on #32926
我运行了你.md 文件里的代码， 注释前 和注释后都能跑通。 不能复现你遇到的bug。
教程里 save load 的接口使用应该没有问题。

感觉像是opt state 没有保存成功？ 我checkpoint 路径下的文件和大小如下， 你可以核对一下

[code]

[2021-05-17 12:13] YukSing12 commented on #32927
复现论文EagleEye: Fast Sub-net Evaluation for Efficient Neural Network Pruning [[pdf]](https://arxiv.org/abs/2007.02491)[[code]](https://github.com/anonymous47823493/EagleEye)

[2021-05-17 12:15] vslyu commented on #32943
paddle.assign()不知是否符合你的需求～ https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/tensor/creation/assign_cn.html#assign

[2021-05-17 12:17] crazyxiaoj commented on #32926
您好，您再尝试使用AIStudio，notebook环境试一下？我觉得可能与notebook有关

[2021-05-17 12:19] JZ-LIANG commented on #32926
我们本地没有 AIstudio 环境 lol， 你是说网页端吗？ 能不能发一个链接

[2021-05-17 12:46] crazyxiaoj commented on #32926
项目“issue”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/1925918/c637cce11c8347359fcb8e2f6c82ca4d

[2021-05-17 14:22] vslyu commented on #32942
收到，反馈的问题确实存在，已请op负责人帮忙跟进。

[2021-05-17 21:48] johnhansheng opened #32944 "fatal: unable to access 'https://gitlab.com/libeigen/eigen.git/': gnutls_handshake() failed: Error in the pull function."
jetson nano（系统参数：Linux my9095 4.9.140-tegra #1 SMP PREEMPT Tue Oct 27 21:02:37 PDT 2020 aarch64 aarch64 aarch64 GNU/Linux），编译paddle v2.0.2版本，出现了这个问题，请问怎么解决
![WechatIMG25](https://user-images.githubusercontent.com/26408135/118560697-7a536900-b79c-11eb-94c5-72a5c25d9616.png)

[2021-05-18 01:21] xinsuinizhuan commented on #32607
期待您再给解决一下，想着自己编译一遍。但是，现在貌似怎么没有了，inference_lib_dist了？

[2021-05-18 01:40] #32733 closed, assigned to juncaipeng

[2021-05-18 02:41] thunder95 opened #32945 "尝试自定义算子，怎么得到头文件？"
参考： https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/new_custom_op.html
"paddle/extension.h" 这样的头文件哪里获得

必须要源码编译安装paddlepaddle吗，能否不安装? 我只是python安装了paddle

文档中没有提及到前面如何操作，建议补上。

[2021-05-18 03:10] #21908 closed, assigned to sneaxiy

[2021-05-18 03:10] #23824 closed, assigned to nobody

[2021-05-18 03:10] #23867 closed, assigned to nobody

[2021-05-18 03:10] #24374 closed, assigned to guoshengCS

[2021-05-18 03:10] #24380 closed, assigned to nobody

[2021-05-18 03:10] #24491 closed, assigned to yaoxuefeng6

[2021-05-18 03:10] #24573 closed, assigned to iclementine

[2021-05-18 03:10] #24578 closed, assigned to kinghuin

[2021-05-18 03:10] #24580 closed, assigned to iclementine

[2021-05-18 03:10] #24597 closed, assigned to nobody

[2021-05-18 04:08] pughua opened #32950 "应用实践-使用序列到序列模型完成数字加法 2.0示例代码运行不了"
在飞桨 2.0 应用实践中示例 “使用序列到序列模型完成数字加法” 中的示例代码在 2.0.2 和 2.1 运行错误

在 aistudio 上的错误信息：
paddle version: 2.1.0
generating datas..
making the dataset...
finish
train epoch:0 step: 0 loss:2.492597 acc:0.052083
eval epoch:0 step: 0 loss:2.492597 acc:0.052083
saving the best_model...
---------------------------------------------------------------------------RuntimeError                              Traceback (m

[2021-05-18 05:00] jm12138 opened #32951 "Paddle.hub 通过 Gitee 加载会报 BadZipFile 错误"
1. Paddle 2.1.0 版本
2. 环境为 AIStudio
3. 报错如下：
[code]

[2021-05-18 05:04] jm12138 opened #32952 "Paddle.hub 第二次加载模型时会报 ValueError 错误"
1. Paddle 2.1.0 版本
2. 环境：AIStuido
3. 代码如下：
[code]
3. 具体报错如下：
[code]

[2021-05-18 05:10] jm12138 opened #32953 "Paddle 2.1.0 GPU 版本使用高层 API 训练模型会崩溃"
1. Paddle 2.1.0.post101
2. 环境：AIStuido
3. AIStudio 测试项目：[链接](https://aistudio.baidu.com/aistudio/projectdetail/524018)
4. 报错如下：
[code]

[2021-05-18 06:16] lyuwenyu commented on #32951
这是由于gitee网站在下载zip包时候需要人工验证 requests下载不了原始数据,  建议使用github source。gitee出现的问题后期会增加其他下载方式

[2021-05-18 07:07] lyuwenyu commented on #32952
- 第二次模型实例化时候 确实会报错
- 但是这个不是paddle.hub加载本身的问题
- paddleClas在构建模型时候 参数指定了显示的名字 在同一个进程中实例化第二次 会导致上边名字冲突的问题
- paddleClas 后续会优化一下

[2021-05-18 07:36] shingstone-lu opened #32956 "如何屏蔽训练过程中间信息的输出"
win10操作系统
python3.7.0-amd64
cuda_10.2.89_441.22_win10
cudnn-10.2-windows10-x64-v8.0.2.39
paddlepaddle_gpu-2.0.2-cp37-cp37m-win_amd64
以上是软件配置。程序代码如下：
import paddle
import numpy as np
data = np.random.uniform(-1, 1, [2, 2]).astype('float32')
print('data:')
print(data)
data = paddle.to_tensor(data)
# create Sequential with iterable Layers
model1 = paddle.nn.Sequential( paddle.nn.Linear(2, 1), paddle.

[2021-05-18 07:44] shingstone-lu commented on #32956
非常抱歉，源码搞错了。是下面这段：

import paddle
import paddle.vision.transforms as T
import paddle.nn.functional as F

paddle.set_device('gpu') # or 'cpu'
trainsform=T.Compose(
    [
        T.Normalize(
            mean=[127.5],
            std=[127.5],
            data_format='CHW'
        )
    ]
)
#加载数据集
train_dataset=paddle.vision.datasets.FashionMNIST(
    mode='train',transform=trainsform
)
test_dataset=p

[2021-05-18 07:57] liucw2012 opened #32958 "ps保存模型期间，worker pull sparse embedding error。"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 2.1.0.dev0
    2）CPU： Intel(R) Xeon(R) CPU E5-2680 v4 @ 2.40GHz
    3）系统环境：k8s环境，分布式训练，容器基础镜像：Ubuntu 18.04.2 LTS 宿主机：debian9

- 训练信息
    1）分布式训练，20个ps ，40个worker
- 复现信息：
  ps在保存模型期间，worker报pull sparse embedding error；等模型正常保存后，worker 的loss为nan；初步还以是embedding为nan导致；日志如下：
[code]
相关信息可供参考：
在调试阶段，ps保持打开状态，我手动重启worker，会出现loss 为nan现象，当时打印出的sparse embedding返回值全为nan；和

[2021-05-18 08:07] pangyoki commented on #32944
你好，这个看起来是网络问题，你这边可以访问到gitlab吗？

[2021-05-18 08:15] pangyoki commented on #32950
你好，2.1的文档在更新中哈，马上会上线，麻烦上线后再尝试。

[2021-05-18 08:15] Darki-luo opened #32959 "2.1.0 没有cuda11的Linux的whl文件"
paddle2.1.0没有找到cuda11.0对应的linux版本的whl文件
https://www.paddlepaddle.org.cn/whl/mkl/stable.html cuda 11.0相关的安装包只有下面四个，全是win下的
paddlepaddle_gpu-2.1.0.post110-cp39-cp39-win_amd64.whl
paddlepaddle_gpu-2.1.0.post110-cp38-cp38-win_amd64.whl
paddlepaddle_gpu-2.1.0.post110-cp37-cp37m-win_amd64.whl
paddlepaddle_gpu-2.1.0.post110-cp36-cp36m-win_amd64.whl

[2021-05-18 08:20] pangyoki commented on #32956
你好，应该是默认开启了GLOG，可以使用 `export GLOG_v=0`来关掉GLOG。

[2021-05-18 08:22] chenwhql commented on #32945
不需要，python安装paddle之后，头文件会在python库目录下，直接include使用即可，这个头文件基本没什么内容，需要看的话到python安装目录下的paddle/include中查看

头文件目录也有说明
![image](https://user-images.githubusercontent.com/22561442/118617744-80296880-b7f5-11eb-9206-093094699211.png)

至于是否需要编译安装paddle，文档里面写的已经很清楚了
![image](https://user-images.githubusercontent.com/22561442/118617489-45273500-b7f5-11eb-9023-96dcb38dd279.png)

[2021-05-18 08:29] pangyoki commented on #32959
收到，感谢反馈。这个下载链接确实没有cuda110版本的，目前2.1.0的安装方式正在更新中，马上官方文档会正式上线，上线后会给出正确的下载链接。

[2021-05-18 08:34] shingstone-lu commented on #32956
我用VScode编辑的python文件，请问怎么关掉GLOG？

[2021-05-18 08:39] HXia-XXL commented on #32882
好的，感谢解答

[2021-05-18 08:39] #32882 closed, assigned to Aurelius84, Steffy-zxf

[2021-05-18 09:03] shingstone-lu commented on #32956
我在系统环境变量中找到了GLOG_v这个变量，值为10，我将其改为0然后重启系统之后没有上述大量中间信息的输出了！
非常感谢！

[2021-05-18 09:03] #32956 closed, assigned to pangyoki

[2021-05-18 09:07] thunder95 commented on #32945
ok, 谢谢

[2021-05-18 09:07] #32945 closed, assigned to pangyoki

[2021-05-18 09:24] spiderpigpig opened #32963 "希望可以出针对win32环境的部署服务"
当前很多工业场景用的是老电脑windows 32位系统，软件也都是32位软件，希望能在保证运行稳定不重装系统的前提下，使用paddle，所以希望能出一版支持win32的部署库

[2021-05-18 09:43] TigerDeng opened #32965 "paddle2onnx model (ocr) 转换后，predict()精度损失"
Paddle版本： paddlepaddle>=2.0.0rc1

[2021-05-18 09:47] zhwesky2010 commented on #32963
@jiweibo Windows预测库32位能编过吗

[2021-05-18 09:53] jiangjiajun commented on #32965
你好，请说明具体的精度损失表现

[2021-05-18 09:58] pangyoki commented on #32953
请问具体跑什么模型出现这个问题呢？

[2021-05-18 11:37] johnhansheng commented on #32944
仓库地址改变了，导致无法clone

[2021-05-18 11:49] #32888 closed, assigned to Aurelius84

[2021-05-18 12:07] pangyoki commented on #32944
好的

[2021-05-18 12:08] yeyupiaoling opened #32970 "多个模型训练时优化方法如何指定参数"
- PaddlePaddle 2.0.2
 - Python 3.7

Pytroch是这样做的
[code]

PaddlePaddle是这样的吗？感觉模型不收敛
[code]

[2021-05-18 12:11] johnhansheng commented on #32944
怎么修改仓库地址，继续编译？？

[2021-05-18 12:13] johnhansheng commented on #32944
我尝试修改了仓库地址，出现了新的错误
![WX20210518-201314](https://user-images.githubusercontent.com/26408135/118648894-74e63500-b815-11eb-910c-3c672cb418ba.png)

[2021-05-18 12:15] johnhansheng commented on #32849
v2.0.2版本，目前我们的模型只支持v2.0.2版本

[2021-05-18 13:53] severous opened #32973 "设置cuda和paddle的随机种子"
pytorch中有如下的代码，用于论文可复现，paddle2.0中是否有类似操作

[code]

[2021-05-18 15:18] pangyoki commented on #32944
有尝试`git clone https://gitlab.com/libeigen/eigen.git`吗？我这编clone这个库是没问题的

[2021-05-19 02:08] johnhansheng commented on #32944
我用的是 nano的主板，你用的是什么主板？

[2021-05-19 02:23] ghost opened #32976 "Paddle2在使用时如何强制占用全部显存？"

[2021-05-19 02:32] crazyxiaoj commented on #32926
您好，距离我提供临时链接已经过去两天了，我注意到这个链接的有效期仅有3天，如果您已经fork代码或发现链接已经失效及其他问题，请回复我，我将试着解决

[2021-05-19 02:37] FL77N opened #32977 "关于2.0.1 中的 roi_align"
文档的 ReleaseNote 写到“为提高性能，roi_align 新增 aligned 参数”，可是为什么使用 aligned 参数依然会报错？

[2021-05-19 02:52] wanghuancoder commented on #32976
export FLAGS_allocator_strategy=naive_best_fit
export FLAGS_fraction_of_gpu_memory_to_use=0.92
这样强制占用了92%的显存。一般不建议强制占用100%的显存，因为需要留给一部分，给CUDA驱动底层机制使用。
请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/singlenode_training_improving/memory_optimize.html

[2021-05-19 02:58] jerrywgz commented on #32977
请问具体是什么报错呢

[2021-05-19 03:13] sjhsjn1017 opened #32980 "paddle和numpy之间转换慢的性能问题"
- 标题：paddle和numpy之间转换慢的性能问题
- 问题描述：
之前提的issue的链接：https://github.com/PaddlePaddle/Paddle/issues/32454#issue-864634432
之前提了一个dataloader加载缓慢的问题，大佬定位到根源性问题是tensor和numpy之间转换慢，
试了下新发布的paddle2.1版本，发现还是存在这个问题，同样的环境，同样的操作下，paddle还是比pytorch慢很多，
因此我在用paddle复现论文的代码依然比原版pytorch慢很多，请问这个性能问题会在后续版本解决吗？

[2021-05-19 03:39] pangyoki commented on #32944
这个感觉跟nano主板没关系，看着还是网络问题，国内网络git clone比较困难。
建议使用我们官方发的包哈。

https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html
![图片](https://user-images.githubusercontent.com/26408901/118753107-d8647700-b896-11eb-90d0-b39f98d5d8f3.png)

预测库
https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html

![图片](https://user-images.githubusercontent.com/26408901/118753120-e2867580-b89

[2021-05-19 03:43] swag1ong opened #32982 "Gather axis=1 问题"
Paddle version: 2.0.2
Paddle With CUDA: True
OS: CentOS 6.3
Python version: 3.6.1
CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: 440.33.01

您好，
我在复现论文时发现当使用 paddle.gather(axis=1)并无法获取axis=1上对应的数值 例子：

![image](https://user-images.githubusercontent.com/68997378/118753304-4872fd00-b897-11eb-9641-c58396afe8c5.png)

请问有什么解决方案吗？

[2021-05-19 03:46] pangyoki commented on #32973
你好。

`torch.manual_seed`、`torch.cuda.manual_seed`、`torch.cuda.manual_seed_all`都可以使用`paddle.seed()`实现，可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/seed_cn.html#seed

`torch.backends.cudnn.deterministic = True`可使用`export FLAGS_cudnn_deterministic=True`实现。
`torch.backends.cudnn.benchmark = False`没有对应的操作。

`random.seed`、`np.random.seed`、`os.environ['PYTHONHASHSEED']`与paddle操作无关

[2021-05-19 03:58] HAOCHENYE commented on #32921
但是从ViT的原理上来说，应该只是对最后一个维度做layernorm吧？还是我理解错误，望指教。另外从layernorm的原理出发，layernorm的操作不应该出现NaN吧，毕竟我的数据的方差不为0，也设置了eps？

[2021-05-19 03:59] pangyoki commented on #32970
你好，把Momentum换成SGD模型可以收敛吗？

[2021-05-19 04:23] sjhsjn1017 commented on #30967
transpose+gather怎么实现上面pytorch的gather那样的操作？

[2021-05-19 04:43] wanghuancoder commented on #32980
你好，这个问题是会解决的。但具体放到哪个小版本中还不确定。

[2021-05-19 04:57] sjhsjn1017 commented on #32980
好的，谢谢，支持paddle，支持国产框架！

[2021-05-19 05:17] l976308589 opened #32983 "模型加载报错：AttributeError: 'Model' object has no attribute '_place'"
- 标题：模型加载报错：AttributeError: 'Model' object has no attribute '_place'
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle-gpu 2.1.0-post110
    2）系统环境：win10+python3.7.6

- 模型信息
    1）模型名称
class TimeSeriesNetwork(nn.Layer):

    def __init__(self, input_size, next_k=1, num_channels=[64, 128, 256]):
        super(TimeSeriesNetwork, self).__init__()

        self.last_num_channel = num_channels[-1]

[2021-05-19 05:40] ghost commented on #32976
tks.

[2021-05-19 05:54] wanghuancoder commented on #32983
您好，您issue标题中的问题，和正文中提供的报错对不上。您遇到的是哪个问题：？
A): AttributeError: 'Model' object has no attribute '_place'
B): AssertionError: Failed to load parameters, please check path.

[2021-05-19 06:44] ForFishes commented on #32982
您好，这里看gather的输出维度是正确的，请问您是要实现什么功能吗还是？

[2021-05-19 06:56] severous commented on #32973
好的，感谢您的解答

[2021-05-19 06:58] #32976 closed, assigned to wanghuancoder

[2021-05-19 06:59] wanghuancoder commented on #32980
嗯嗯！咱们共同努力做好！谢谢支持！

[2021-05-19 07:00] #32980 closed, assigned to wanghuancoder

[2021-05-19 07:23] zhwesky2010 commented on #32454
@sjhsjn1017 您好，请问做的简单实验是什么例子呢，图片这里显示没加载出来

[2021-05-19 07:26] wadefelix commented on #32963
纯32位的老电脑 性能一般也比较捉急了吧。
个人建议，可以考虑部署单独的服务器，然后由这些工控电脑转发请求由服务器来统一处理。

[2021-05-19 07:39] yeyupiaoling commented on #32970
@pangyoki 结果都差不多，所以我觉得是不是参数设置错误了

[2021-05-19 07:51] #22946 closed, assigned to nobody

[2021-05-19 07:51] #24579 closed, assigned to iclementine

[2021-05-19 07:51] #24581 closed, assigned to iclementine

[2021-05-19 07:51] #24591 closed, assigned to iclementine

[2021-05-19 07:51] #24608 closed, assigned to nobody

[2021-05-19 07:56] l976308589 commented on #32983
不好意思老师，我贴错了，是AttributeError: 'Model' object has no attribute '_place'

[2021-05-19 08:21] johnhansheng commented on #32944
![WX20210519-162038](https://user-images.githubusercontent.com/26408135/118779882-13c66c00-b8be-11eb-82de-ba8a246595cc.png)
系统配置如下，安装官方推荐的2.1.0whl文件想，显示不支持该机器。

[2021-05-19 08:23] pangyoki commented on #32944
用的是上面链接里jetpack的包吗？

[2021-05-19 08:24] johnhansheng commented on #32944
是的  安装这个paddlepaddle_gpu-2.1.0-cp36-cp36m-linux_aarch64.whl

[2021-05-19 08:29] johnhansheng commented on #32944
![3](https://user-images.githubusercontent.com/26408135/118781194-5d638680-b8bf-11eb-84de-0ae8a08ac635.png)
安装后的结果如下：