[2022-01-09 07:06] AlisaChen98 commented on #38780
您好，还是不可以呢
![image](https://user-images.githubusercontent.com/45112983/148672711-3ff2c64f-3d75-4d4e-919f-dc7000d3aecf.png)

[2022-01-09 09:48] LinJayan commented on #37401
【队名】：LYyyds

【序号】：72

【论文】：DCN V2: Improved Deep & Cross Network and Practical Lessons for Web-scale Learning to Rank Systems

【状态】：报名

【repo链接】：https://github.com/LinJayan/DCN_V2_Paddle

[2022-01-09 11:35] BeyondYourself commented on #37401
【队名】：beyond

【序号】：24

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/BeyondYourself/paddle-Vnet

[2022-01-09 11:49] Lieberk commented on #38813
老师，就只实现上述的one-hot编码功能，在pytorch的scatter_()用法里第二张图的label是第一张图的label，有没有组合方式或者api实现上述的功能啊，困扰好久了。

[2022-01-09 11:49] Lieberk commented on #38813
老师，就只实现上述的one-hot编码功能，在pytorch的scatter_()用法里第二张图的label是第一张图的label，有没有组合方式或者api实现上述的功能啊，困扰好久了。

[2022-01-10 01:22] CPones commented on #38791
已解决，在网络模型构建时，所有的forward前都应该添加@paddle.jit.to_static。

[2022-01-10 02:30] FlyingQianMM commented on #38809
该问题与PaddleX Issue https://github.com/PaddlePaddle/PaddleX/issues/1344 相同，后续答疑直接至PaddleX进行，故先关闭该issue。

[2022-01-10 02:30] #38809 closed, assigned to zhaocaibei123

[2022-01-10 02:42] esythan commented on #38780
看下pip的版本，要求pip 或 pip3 版本 20.2.2或更高版本 (64 bit)

[2022-01-10 02:50] AlisaChen98 commented on #38780
在安装前先升级了pip版本的～

| |
AlisaChen
|
|
***@***.***
|
签名由网易邮箱大师定制

在2022年01月10日 ***@***.***> 写道：

看下pip的版本，要求pip 或 pip3 版本 20.2.2或更高版本 (64 bit)

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-01-10 03:07] esythan commented on #38790
一般使用create_parameter()创建参数，可以参考一下

[2022-01-10 03:14] Li-Jiajie opened #38829 "sparse_embedding的注释说明是否有错误"
paddle.static.nn.sparse_embedding中的注释是上图，但是C++中OP的操作又校验了最后一维是否等于1，这里的注释是否有误？
我实际运行起来，传入一个[-1, 100]的tensor至sparse_embedding也会报错
版本2.2.1-CPU
![image](https://user-images.githubusercontent.com/35255760/148714320-e2c06bc9-ed65-4d43-b0ff-2dd9d777bd34.png)
![image](https://user-images.githubusercontent.com/35255760/148714346-f861a3e3-e7ec-4d2e-8f2e-9b6f7d25efb9.png)

[2022-01-10 03:16] dingjiaweiww commented on #38780
您换用python3 试试：python3 -m pip install paddlepaddle==2.2.1 -i https://mirror.baidu.com/pypi/simple

[2022-01-10 03:39] Li-Jiajie commented on #38829
代码（按照注释里，是可以传入shpae=[3,2]的tensor的）：
import paddle
paddle.enable_static()
input = paddle.static.data(name='ins', shape=[3, 2], dtype='int64')
emb = paddle.static.nn.sparse_embedding(input=input, size=[1024, 64])

报错：
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib64/python3.6/site-packages/paddle/fluid/contrib/layers/nn.py", line 1130, in sparse_embed

[2022-01-10 04:35] LinJayan commented on #37401
【队名】：LYyyds

【序号】：82

【论文】：CAN: Revisiting Feature Co-Action for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/LinJayan/CAN-Paddle

[2022-01-10 04:41] zhwesky2010 commented on #38668
@yangrisheng 你好，因为官方发布的cudnn是8.2.1的，与你本机不匹配。所以打出了warning，如果需要消除warning 需要安装CUDNN 8.2.1+CUDA11.2

[2022-01-10 04:48] yangrisheng commented on #38668
你好。我专门去下载过8.2.1.上面写的是cudnn-11.3-windows-x64-v8.2.1.32.zip  这样的包。官网写的是给11.x的。但是下载的包上面写的是11.3.没影响是吗？

[2022-01-10 04:50] yangrisheng commented on #38668
如果是这样的话。官网上的话是不是改一改好一点。

CUDA 工具包10.1/10.2 配合 cuDNN 7 (cuDNN版本>=7.6.5）

CUDA 工具包11.0配合cuDNN v8.0.4

CUDA 工具包11.1配合cuDNN v8.1.1

CUDA 工具包11.2配合cuDNN v8.1.1

[2022-01-10 05:04] zhwesky2010 commented on #38668
@yangrisheng 下载这一个  https://developer.nvidia.com/compute/machine-learning/cudnn/secure/8.2.1.32/11.3_06072021/cudnn-11.3-windows-x64-v8.2.1.32.zip
![infoflow 2022-01-10 13-04-02](https://user-images.githubusercontent.com/52485244/148720417-3dffe76f-a954-434d-bf13-2f855f1462ce.png)

[2022-01-10 05:05] yangrisheng commented on #38668
是的是的。下载的是这一个。但是下载下来的包名字是cudnn-11.3-windows-x64-v8.2.1.32.zip这样子。所以来咨询下

[2022-01-10 05:45] #38802 closed, assigned to nobody

[2022-01-10 07:16] AlisaChen98 commented on #38780
您好还是不行诶
![image](https://user-images.githubusercontent.com/45112983/148729744-0ec7c425-6192-4584-ab26-97834241f784.png)

[2022-01-10 07:21] weisy11 commented on #38551
不好意思漏了消息。这个项目的代码太多了，能不能麻烦你提供一个最小可复现的代码？

[2022-01-10 08:56] zhaocaibei123 commented on #38813
paddle已在12月底新增了paddle.put_along_axis_ API对齐torch的scatter_算子，可以拉下develop分支，编译最新的代码来使用
put_along_axis_文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/put_along_axis__cn.html#put-along-axis

[2022-01-10 10:12] MiShiDeHaiLuo commented on #30064
一样的问题·····不过现在GPU可以推理但是无法开启cudnn和tensor加速

[2022-01-10 10:24] MiShiDeHaiLuo opened #38841 "JetsonNano使用paddleinferce预测时无法开启TensorRT进行加速，开启Cuadn后推理结果错误"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1
    2）GPU：PaddleNano
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：Jetpack4.6  系统18.04
-预测信息
    1）C++预测库（paddleinferce）：https://paddle-inference-lib.bj.bcebos.com/2.2.1/cxx_c/Jetson/jetpack4.6_gcc7.5/nano/paddle_inference_install_dir.tgz
    4）预测库来源：官网下载
- 复现信息：随时可以复现
- 问题描述：在C++环境下，使用CPU和GPU能够正常预测，且预测结果正确。
                    1，开启CUDNN加速之后。预测结果不准确。

[2022-01-10 10:55] MiShiDeHaiLuo commented on #38841
问题第一次没编辑好，已修改。

[2022-01-10 11:05] #38797 closed, assigned to nobody

[2022-01-10 11:21] d2623587501 commented on #38790
回大佬，create_parameter()这个创建参数是否可以自定义初始化，我打算把mask的数值传入这个新添的参数，我查了api只有初始化shape的

[2022-01-10 12:05] d2623587501 commented on #38790
回大佬，我找到解决办法了
将self.weight = self.weight * self.mask
替换成self.weight.set_value(self.weight * self.mask)
就可以修改weight了，感谢大佬这几天的解答

[2022-01-10 12:05] #38790 closed, assigned to nobody

[2022-01-10 12:10] WhiteFireFox opened #38845 "关于c++扩展算子的一些问题"
例如我在使用torch写扩展算子的时候（以ncrelu为例），可以这样写：
torch::Tensor ncrelu_forward(torch::Tensor input) {
    auto pos = input.clamp_min(0);
    auto neg = input.clamp_max(0);
    return torch::cat({pos, neg}, 1);
}
也就是说我有用到torch::cat，这种math_op的复用使得代码简洁且开发高效

在paddle中是否有类似的用法呢，我之前看文档用std::会比较多（比如std::clamp之类的），想问下是否有paddle::之类可以复用paddle里面的op使得开发效率更高呢

[2022-01-10 12:15] Li-Jiajie commented on #38829
@kuizhiqing @paddle-bot

[2022-01-10 12:24] wozna commented on #38687
@baoachun Was the error fixed thanks to PR https://github.com/PaddlePaddle/Paddle/pull/38702? Can this issue be considered as resolved?

[2022-01-10 12:30] Wangzheee commented on #38841
这个报错信息有些缺失，可以在执行命令前加上 GLOG_v=5 ，会打出更多log，请将完整log附上，方便定位，谢谢~

[2022-01-10 12:50] dickobe opened #38852 "paddlepaddle有没有ernie +crf的demo例子， 不要paddleNlp和paddlehub的"
不要paddleNlp和paddlehub的

[2022-01-10 12:58] MiShiDeHaiLuo commented on #38841
I0110 20:55:32.825292 11106 fuse_pass_base.cc:57] ---  detected 1 subgraphs
--- Running IR pass [conv_elementwise_add_fuse_pass]
--- Running IR pass [tensorrt_subgraph_pass]
I0110 20:55:32.902678 11106 tensorrt_subgraph_pass.cc:138] ---  detect a sub-graph with 117 nodes
I0110 20:55:33.191356 11106 tensorrt_subgraph_pass.cc:395] Prepare TRT engine (Optimize model structure, Select OP kernel etc).

[2022-01-10 12:59] MiShiDeHaiLuo commented on #38841
I0110 20:55:32.825292 11106 fuse_pass_base.cc:57] ---  detected 1 subgraphs
--- Running IR pass [conv_elementwise_add_fuse_pass]
--- Running IR pass [tensorrt_subgraph_pass]
I0110 20:55:32.902678 11106 tensorrt_subgraph_pass.cc:138] ---  detect a sub-graph with 117 nodes
I0110 20:55:33.191356 11106 tensorrt_subgraph_pass.cc:395] Prepare TRT engine (Optimize model structure, Select OP kernel etc).

[2022-01-10 13:18] jczaja commented on #38126
@baoachun Thanks for more information. I'm planning to work on this issue right after I finish current issue so I will start work on NHWC next week.

[2022-01-10 13:27] lidanqing-vv opened #38856 "[Feature] Add passes that add mkldnn related attributes instead of changing native ops"
Use passes to add mkldnn related attributes instead of changing native ops
@tsocha

[2022-01-10 13:35] alao556 opened #38857 "CUDA 11.4，什么时候才支持？"
CUDA 11.2 的 Paddle 在 CUDA11.4 环境下运行会报错。

[2022-01-10 17:14] jakpiase commented on #38856
Is there any example on how can we add attributes in inference stage?

[2022-01-11 01:30] sdcb commented on #38857
最好不用支持了，因为现在已经11.5了

[2022-01-11 01:37] alao556 commented on #38857
那也不见得有 CUDA 11.5 的包放出来

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Zhou ***@***.***>
Sent: 2022年1月11日 9:30
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [PaddlePaddle/Paddle] CUDA 11.4，什么时候才支持？ (Issue #38857)

最好不用支持了，因为现在已经11.5了

―
Reply to this email directly, view it on GitHub<https://github.com/PaddlePaddle/Paddle/issues/38857#issuecomment-

[2022-01-11 01:40] SEU-zxj commented on #38377
我也遇到这样的问题了，请问题主大大解决了吗？😭

[2022-01-11 02:22] #38810 closed, assigned to zhaocaibei123

[2022-01-11 02:34] lidanqing-vv commented on #38856
@tsocha is working on the design you can discuss with him. We need to get more info from Baidu about compatibility requirements.

[2022-01-11 02:43] #38787 closed, assigned to nobody

[2022-01-11 02:48] kuizhiqing commented on #38845
感谢你的问题，由于底层设计的不同，目前 paddle op 复用和 torch 确实不太一致。我们在后续可能的升级中将会考虑你的建议。

[2022-01-11 02:50] MiShiDeHaiLuo commented on #38841
I0110 20:55:32.825292 11106 fuse_pass_base.cc:57] --- detected 1 subgraphs
--- Running IR pass [conv_elementwise_add_fuse_pass]
--- Running IR pass [tensorrt_subgraph_pass]
I0110 20:55:32.902678 11106 tensorrt_subgraph_pass.cc:138] --- detect a sub-graph with 117 nodes
I0110 20:55:33.191356 11106 tensorrt_subgraph_pass.cc:395] Prepare TRT engine (Optimize model structure, Select OP kernel etc). Th

[2022-01-11 02:52] GT-ZhangAcer commented on #38845
是目前就没有吗？那有其他的临时解决方案吗？

[2022-01-11 02:55] Wangzheee commented on #38841
这个错误信息是因为网络的输入是动态的，需要设置动态shape，可以参照paddle的demo设置一下https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/c%2B%2B/paddle-trt/trt_dynamic_shape_test.cc
需要设置输入的一个范围，再开启动态shape（config.SetTRTDynamicShapeInfo）

[2022-01-11 02:57] MiShiDeHaiLuo commented on #38841
好的，麻烦您了，还有咨询一下开启CUDNN和不开启的预测结果差异比较大是为什么？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月11日(星期二) 上午10:55
***@***.***&gt;;
***@***

[2022-01-11 03:06] Wangzheee commented on #38841
建议不使用EnableCUDNN()这个接口，目前它有些问题会导致一些未知错误。使用EnableUseGpu()就足够了，它会默认使用cudnn的加速库。另外还是建议开启trt来推理，性能是最优的

[2022-01-11 03:06] MiShiDeHaiLuo commented on #38841
收到，麻烦您了！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月11日(星期二) 中午11:06
***@***.***&gt;;
***@***.***&gt;;"State ***@***.***&gt;;

[2022-01-11 03:08] kuizhiqing commented on #38845
你指的没有是具体什么操作无法实现吗？目前差异的是开发的方式确实不太一样，具体的算子如果暂时未实现的也可以提出需求纳入我们的开发计划中。

[2022-01-11 03:09] Yanxing-Shi commented on #38829
@Li-Jiajie sparse_embedding文档部分有误，embedding Op中check最后一维是否为1

[2022-01-11 03:10] Wangzheee commented on #38841
感谢提出的问题~
另外nano这个硬件自身资源比较少，在gpu的底层计算上会比服务端要多很多bug，这个我们和NV一直在解决，欢迎继续提出问题

[2022-01-11 03:22] Ligoml commented on #36870
感谢开发者 @guguguzi 的贡献，为 paddle 补齐了 MultiplicativeDecay  的 API：https://github.com/PaddlePaddle/Paddle/pull/38250 欢迎更多的开发者为 paddle 提出 new features，欢迎为 paddle 直接贡献 PR~让我们共建国产第一深度学习框架！

[2022-01-11 03:22] #36870 closed, assigned to nobody

[2022-01-11 03:23] kuizhiqing commented on #38852
你好，经过确认，paddleapddle 暂时没有这样的开源 demo，感谢你的关注。

[2022-01-11 03:27] liuTINA0907 opened #38865 "【飞桨体验评测任务第一期】"
### **一、背景介绍**
2022年飞桨将重点开展开发者生态贡献机制，建立开发者与飞桨的多样化联动，共同打造优秀的开源生态。为了进一步提升飞桨框架的使用体验，我们诚挚的邀请你参与飞桨API文档及目录、安装模块的体验评测工作，并且和我们一起共建飞桨框架，后续会陆续安排其他产品模块的体验评测，希望大家持续关注。

### **二、参与流程**
![image](https://user-images.githubusercontent.com/65896652/148876284-0744c7ea-788f-42b2-a4c0-5d9f34a42d3f.png)

### **三、具体任务：**
**1、API文档与目录大纲评测任务**
- 任务名称：API文档体验评测 + API目录大纲合理性评测    负责人：陈龙（微信昵称：TC.Long）& 丁佳维（微信昵称：冬眠的鱼子酱）
- 任

[2022-01-11 03:54] wenming2014 commented on #38656
相同问题，https://github.com/PaddlePaddle/PaddleOCR/issues/5099 跟踪，该issue关闭

[2022-01-11 04:00] WhiteFireFox commented on #38845
那想问下，例如在paddle中复用concat这个api，在c++里面应该怎么写呢

[2022-01-11 04:00] kuizhiqing commented on #38857
你好，飞桨集成cuda新版本需要根据NV 发布新版本的roadmap以及外部用户使用量等情况综合考虑，并综合各版本新特性来决定支持的cuda新版本。

具体发布时间还没有确定，你可以持续关注飞桨的新版本发布，感谢对飞桨的支持！

[2022-01-11 04:09] esythan commented on #38780
可能是requirements.txt中的某些包和paddle发生了冲突
建议排查方式：直接拉取base镜像升级pip后单独安装paddle尝试一下，或者修改一下dockerfile，不要用requirements.txt，直接单独安装paddle

[2022-01-11 04:44] JunnYu commented on #38808
感觉你可以暂时用一下，我这里面改的`einops`  https://github.com/JunnYu/x-transformers-paddle/tree/main/einops 。

[2022-01-11 05:27] kuizhiqing commented on #38845
可以使用 functor，参考 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/unique_op.h#L293-L302

[2022-01-11 05:45] BohnSix commented on #37401
【队名】：中国人不卷中国人

【序号】：22

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/BohnSix/yoloxByPaddlePaddle

[2022-01-11 06:30] adaxiadaxi commented on #38784
@onecatcn 同学您好，应该是在支持范围的，Intel的CPU大部分都在支持范围，但是您说的这款我们没有验证过。同学您这边可以基于上方的安装文档，尝试安装paddle，如果有问题可以在该issue下继续贴图提问。

[2022-01-11 06:46] CuberrChen commented on #35244
请问怎么解决的呢？用什么替代这个操作，可以直接赋值吗？

[2022-01-11 06:48] #30059 closed, assigned to gfwm2013

[2022-01-11 06:48] #30067 closed, assigned to liym27

[2022-01-11 06:48] #30080 closed, assigned to liym27

[2022-01-11 06:48] #30082 closed, assigned to liym27, LielinJiang

[2022-01-11 06:48] #30088 closed, assigned to liym27

[2022-01-11 06:48] #30091 closed, assigned to jerrywgz, liym27

[2022-01-11 06:48] #30092 closed, assigned to liym27

[2022-01-11 06:48] #30107 closed, assigned to FrostML

[2022-01-11 06:49] #30162 closed, assigned to cryoco

[2022-01-11 07:56] suntao2015005848 commented on #30513
请问这个问题解决了吗

[2022-01-11 08:07] huilin16 commented on #38808
多谢大佬，有时间实验下

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月11日(星期二) 中午12:44
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp

[2022-01-11 09:52] dickobe opened #38879 "ernie训练出错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.1
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/sum

[2022-01-11 12:52] Baibaifan commented on #38879
从报错信息看是var crfw 并没有在当前block中声明，方便贴一下相关的全量报错信息。

[2022-01-11 13:56] shier1 commented on #37401
【队名】：十一

【序号】：4

【论文】：XCiT: Cross-Covariance Image Transformers

【状态】：报名

【repo链接】：https://github.com/shier1/XCit-paddle/tree/main

[2022-01-12 01:38] Andy1314Chen commented on #37401
【队名】：A3

【序号】：71

【论文】：Self-Supervised Multi-Channel Hypergraph Convolutional Network for Social Recommendation

【状态】：报名 & 提交

【repo链接】：https://github.com/Andy1314Chen/PaddleRec/tree/recall-mhcn

[2022-01-12 02:21] dcckAyou opened #38892 "编译paddle出错"
Paddle版本2.0，CPU为I7-11800H， 显卡RTX3060 Laptop,系统为windows10，Python3.9， cuda版本为10.2，cudnn版本7.6，cmake版本3.20.6，使用vs2019编译debug版，在尝试编译profiler工程时报错：
 10>C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\VC\v160\BuildCustomizations\CUDA 10.2.targets(764,9): error MSB3721: 命令“"C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin\nvcc.exe" -gencode=arch=compute_35,code=

[2022-01-12 02:30] shier1 commented on #37401
【队名】：十一

【序号】：6

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：报名

【repo链接】：https://github.com/shier1/CycleMLP-paddle

[2022-01-12 02:49] Agino-ltp opened #38893 "AI studio脚本pip问题"
![image](https://user-images.githubusercontent.com/73732417/149054737-91727c0c-0f54-4a78-a8e3-0e32f7c7812e.png)
使用P40脚本训练时这种问题怎么解决
pip install --user --upgrade pip
pip install --user -r requirements.txt
使用pip安装之后包压根就没装上，import也无法调用
![image](https://user-images.githubusercontent.com/73732417/149054927-a909b2ff-df5b-4bf7-841d-91556a6480bf.png)

![image](https://user-images.githubusercontent.com/7373

[2022-01-12 03:27] renmada commented on #37401
【队名】：arbiter

【序号】：3

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：报名&提交

【repo链接】：https://github.com/renmada/MnasNet-paddle

[2022-01-12 03:38] livehl opened #38894 "模型保存及其不便"
PaddlePaddle版本  2.2

曾经用过keras。
如今想换成paddle，快速文档看完之后，一切都很赞，除了模型保存/加载。

在keras中，模型可以整体保存，连带模型、参数、优化器等等一起打包。
只需要把文件传输走，再另外一个地方加载后直接就可以用(训练)。

paddle 没法保存模型，保存加载必须要保证模型代码先写好。

期望：希望能有和keras类似的模型保存加载方式。而不是模型参数保存，恢复的时候还要写一大堆的配置、拷贝原来的模型代码。

[2022-01-12 03:55] sljlp commented on #38894
你好，非常感谢你的宝贵意见。我们会尽力让paddle框架更加完美。期待您继续支持国产框架，支持飞桨。

[2022-01-12 04:05] hohdiy commented on #38893
能否提供一个任务ID？
另外，能否提供一下你的requirements.txt?

[2022-01-12 04:12] LinJayan commented on #37401
【队名】：LYyyds

【序号】：72

【论文】：DCN V2: Improved Deep & Cross Network and Practical Lessons for Web-scale Learning to Rank Systems

【状态】：提交

【repo链接】：https://github.com/LinJayan/DCN_V2_Paddle

[2022-01-12 04:28] hohdiy commented on #38893
![image](https://user-images.githubusercontent.com/20314800/149063880-5f1a1391-4b5a-4fb8-9f3e-4835453d619f.png)
从这个截图可以看出，这些库是安装成功的，请问你是发现哪个库没有安装成功？

[2022-01-12 04:35] Agino-ltp commented on #38893
这些是安装成功的，用的是PaddleOCR，但是python在脚本上没法调用，而在AI Studio Notebook终端是正常的。
脚本编号：116503

[2022-01-12 05:56] zeke-xie opened #38895 "如何实现loss.backward(create_graph=True)或神经网络梯度二次求导？"
Hessian的分析在深度学习里越来越重要，但目前Paddle还没有开源的求神经网络的Hessian的库。

### Hessian有很重要的一步是梯度对模型参数二次求导。

### PyTorch的实现
可参考比如https://github.com/amirgholami/PyHessian/blob/master/pyhessian/hessian.py的 Line 92-96：
loss.backward(create_graph=True)
params, gradsH = get_params_grad(self.model)
self.model.zero_grad()
Hv = torch.autograd.grad(gradsH, params, grad_outputs=v,only_inputs=True,retain_graph=False)

上述代码中loss.

[2022-01-12 06:22] ZeyuChen commented on #38852
@dickobe 能了解下是为了更好的学习组网结构吗？还是有其他目的不用paddlenlp和paddlehub的？

[2022-01-12 06:29] dickobe commented on #38879
@Baibaifan  麻烦帮看下，训练的时候报错
loss, logits = model(ids, sids, labels=aligned_label, loss_weights=L.cast(ids > self.tokenizer.mask_id,
                                                                                              'float32'))  # [MASK] is the largest special token

![image](https://user-images.githubusercontent.com/9254170/149075630-12a8150d-36fd-40ec-9e5d-9f3d45f048f7.png)

[2022-01-12 06:57] zhwesky2010 commented on #38892
@dcckAyou 您好，请问是否有其他的报错内容，这里的信息 只有执行编译命令时退出，另外目前debug编译没有维护，可能存在问题，可以改成release x64配置试下

[2022-01-12 07:03] dcckAyou commented on #38892
抱歉，我忘记记录其它信息了。我记得是nvcc.exe不认"2019"这个符号。 nvcc fatal   : Value '2019' is not defined for option 'cl-version'

[2022-01-12 07:03] Ligoml commented on #38305
这个问题建议更新最新版 paddle 解决哈~在2.1 2.2中均不会出现这个问题了

[2022-01-12 07:19] hohdiy commented on #38893
经过排查，脚本任务pp2.2.1和notebook pp2.2.1使用的环境存在差异。更加具体的还得排查和回归，python库哪里冲突了。
建议使用后台任务，在notebook中可以直接提交，这种方式提交的环境和notebook一致。

[2022-01-12 08:02] IcarusWizard opened #38900 "【论文复现】grid_sample反向传播出错"
- 标题：grid_sample反向传播出错
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.1
    2）系统环境：AI Studio

[code]

[2022-01-12 08:41] zhwesky2010 commented on #38892
@dcckAyou 可以拉下最新的paddle包，最近改了些VS2019的编译bug，在我们本机上测试编译是没问题的

[2022-01-12 08:58] Ligoml commented on #38193
用户你好，显存优化相关 api 我们已有研发计划，敬请关注~

[2022-01-12 09:15] Baibaifan commented on #38879
从已上报错截图看，还是crfw没有在main_program中创建，引发的问题，可以确定下组网是否正确。

[2022-01-12 09:19] dickobe commented on #38879
怎么确认是在同一个main_program里呢？ @Baibaifan

[2022-01-12 09:36] simuler commented on #37401
【队名】：simuler

【序号】：72

【论文】：DCN V2: Improved Deep & Cross Network and Practical Lessons for Web-scale Learning to Rank Systems

【状态】：报名&提交

【repo链接】：https://github.com/simuler/DCN-V2

[2022-01-12 09:52] pangay commented on #37401
【队名】：PangAY

【序号】：16

【论文】：RetinaMask: Learning to predict masks improves state-of-the-art single-shot detection for free

【状态】：报名

【repo链接】：https://github.com/pangay/RetinaMask

[2022-01-12 09:55] pangay commented on #37401
【队名】：PangAY

【序号】：24

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation
【状态】：报名

【repo链接】：https://github.com/pangay/V-Net

[2022-01-12 09:56] pangay commented on #37401
【队名】：PangAY

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution
【状态】：报名

【repo链接】：https://github.com/pangay/DetectoRS

[2022-01-12 09:59] hohdiy commented on #38893
现在可以使用p40脚本任务了，只需要：
在import paddle之前import skimage就行了

[2022-01-12 10:01] littletomatodonkey commented on #38893
https://github.com/PaddlePaddle/PaddleOCR/pull/5244/files
可以参考这个pr哈

[2022-01-12 11:10] lidanqing-vv commented on #37422
Tobe refined:
Concerns:
1. Ask issue about Scale propagation

2. zero-point issue, it is fine，dnnl::reorder support it.
[code]
3. GRU does not support signed int8. We need to recalculate. Is it true that the quant model input is always singed int8. Even it is unsigned, it will be noted through zero-point. What if we get some value different from 128. That will only mean quant model is wrong, hence

[2022-01-12 11:31] Agino-ltp commented on #38893
好的，谢谢您。

[2022-01-12 12:56] Baibaifan commented on #38879
是这样，从你的报错看你应该是调用了crf_decoding这个api，这个api会调用helper.get_parameter(param_attr.name)方法，动态图有一个全局的program，这时候发现这里有一个parameter并不在这个program里边。

[2022-01-12 13:55] deeplearning666 opened #38909 "paddle.fluid.core_avx.Layer.__init__() must be called when overriding __init__"
Hello! I have compiled Paddle correctly with according to your instructions. But I have met two questions.First of all, I have run the code:
**_git checkout release/2.0_**
However, the version of paddle I get is "0.0.0", the file is like this
**_python/dist/paddlepaddle-0.0.0-cp37-cp37-win_amd64.whl__**
The next question is that I install paddlepaddle under the following code:
**_pip install pytho

[2022-01-12 15:03] dickobe commented on #38879
那如何解决这个呢？ @Baibaifan

[2022-01-12 16:09] lvyc1234 commented on #38149
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0\bin

在bin路径下将cublas64_100.dll重命名为cublas64_10.dll
在bin路径下将cusolver64_100.dll重命名为cusolver64_102.dll

[2022-01-12 22:50] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：11

【论文】：Going deeper with Image Transformers

【状态】：提交

【repo链接】：https://github.com/SmirnovKol/Going-deeper-with-Image-Transformers-using-PaddlePaddle

[2022-01-12 23:21] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：24

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/V-Net-PaddlePaddle

[2022-01-13 02:04] Spratumn opened #38913 "建议paddle添加对bool张量的索引切片、赋值等操作"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：2.2
2）CPU/GPU：Driver API Version: 11.4, Runtime API Version: 10.2, cuDNN Version: 7.6.
3）系统环境：ubuntu20.04

- 复现信息：
   yolox-yolo_head.py 中dynamic_k_matching()处报错
 `fg_mask[fg_mask.clone()] = fg_mask_inboxes`

   报错提示：TypeError: Only support float and double tensor for bool index, but received paddle.bool.

[2022-01-13 02:09] FeixLiu commented on #38913
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。

[2022-01-13 02:57] ZHUI commented on #38149
你本地的cuda是10.0的，所以造成了这个问题。

[2022-01-13 03:03] sljlp commented on #38909
Hi! The first question is not a problem.When compiling by yourself rather than directly using the released package downloaded from the official website, the version will be always 0.0.0. So don't worry about it.
As for the second question, could you please provide a screenshot or a log file with the error?

[2022-01-13 03:21] chenwhql commented on #38894
之前用keras的话，不知道您有没有了解下paddle的high level api，麻烦您看下这里Model的save load能否满足您的需求呢？https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Model_cn.html#save-path-training-true

[2022-01-13 03:21] Baibaifan commented on #38879
你需要检查下报错的crfw 有没有这个parameter，换句话说你用了一个没有声明或者初始化的parameter。

[2022-01-13 03:33] chenwhql commented on #38894
另外，还有一个区别是，目前paddle主推的是动态图模式，这一点和keras有区别：动态图和静态图不同，是即时执行的，没有模型描述，所以没有提供模型的存储，推荐仅存储参数。

使用静态图的话，是可以存储模型的，但是静态图训练不方便调试，所以目前我们并不主要推荐。

[2022-01-13 03:33] zyfncg commented on #38913
感谢您的反馈~这里的问题我们在最新的develop代码分支里已经支持[PR37761](https://github.com/PaddlePaddle/Paddle/pull/37761)，预计在后续的正式版本中发布。
如果赶时间的话可以直接拉取最新的develop分支代码编译进行使用，编译流程可以参考这里https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html

[2022-01-13 03:38] #38913 closed, assigned to FeixLiu

[2022-01-13 04:05] jiaohuix opened #38917 "【论文复现】F.embedding有diff，0.0003"
- 标题：cpu上进行embed，有diff
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.0
    2）CPU：i5
    3）GPU：3060 cuda 11.2
    4）系统环境：windows10，Python 3.6

- 模型信息
    1）模型名称 convs2s

- 复现信息：
解压后运行test_embed.py
[test.zip](https://github.com/PaddlePaddle/Paddle/files/7859840/test.zip)

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
![image](https://user-images.githubusercontent.com/68314259/149263908-fb8a4aaa-6f0e-436f-845e-872a85ac1

[2022-01-13 04:38] CUI-XUAN commented on #34482
我也遇到这个问题，请问如何解决了？

[2022-01-13 04:59] FeixLiu commented on #38917
您好，感谢您的反馈。您提到的有diff，是谁与谁比之间有diff呢？能麻烦您提供一下详细的问题描述么？

[2022-01-13 05:10] jiaohuix commented on #38917
paddle和torch的F.embedding

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Yuang ***@***.***&gt;;
发送时间: 2022年1月13日(星期四) 中午12:59
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 【论文复现】F.embedding有diff，0.0003 (Issue #38917)

您好，感谢您的反馈。您提到的有diff，是谁与谁比之间有diff呢？能麻烦您提供一下详细的问题描述么？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage

[2022-01-13 05:14] jiaohuix commented on #38917
make_position根据token来生成position，然后相同的position作为输入，相同的权重，输出的pos_embed不同，我在wind10和ubuntu18.04的cpu上都试过，差0.0003
![image](https://user-images.githubusercontent.com/68314259/149269921-56966c91-4d8d-45ec-87b9-22a91aca18ed.png)

[2022-01-13 05:16] jiaohuix commented on #38917
代码在test.zip里面

[2022-01-13 05:28] FeixLiu commented on #38917
好的，感谢您的反馈，我们会内部评估这个事情，会尽快给您反馈。

[2022-01-13 05:39] jiaohuix commented on #38917
好的，感谢！

[2022-01-13 06:00] XYZ-916 commented on #37915
请问有什么办法不显示这些log吗

[2022-01-13 07:37] betterpig commented on #35333
已经针对paddle使用VS2019编译时存在的问题进行了修复，目前paddle的最新develop分支已经支持VS2019编译。

[2022-01-13 07:52] pmajchrzak opened #38921 "Faster RCNN latency raised after blocking "unknown option""
After this commit: https://github.com/PaddlePaddle/Paddle/commit/adb54eb0bb8b44e8a29c1eabadaf7933e44beff8 the big one latency rising of inference of faster RCNN COCO was observed.

It seems that despite the fact that it is unknown, it was an important option that conditioned the quick operation of the faster_RCNN model. Perhaps this is true of other models that have used these flags.

It was obser

[2022-01-13 08:06] jiaohuix commented on #38917
已经解决了，paddle embeding设置了padding_idx后对应参数都是0，而torch的embedding设置了padding_idx后初始为0，且可以被覆盖。因此或者用weight[padding_idx,:]=0.0将torch中pad的嵌入置为0，或者删掉paddle的Embedding中的padding_idx,使paddle和torch的pad嵌入都不为0。我使用了后一种，对齐了，感谢！！！
https://github.com/PaddlePaddle/Paddle/issues/38189

![9%F27ZCNF~{`ECI@WL%}6YW](https://user-images.githubusercontent.com/68314259/149290311-79ee2c2a-4567-4cfe-932d-888810190e73.png)

[2022-01-13 08:11] FeixLiu commented on #38917
好的，感谢您对paddle的支持。感谢您提出的宝贵意见，谢谢。

[2022-01-13 08:12] pmajchrzak opened #38923 "Drop of inference performance of model demark"
After commit: https://github.com/PaddlePaddle/Paddle/commit/ac6969412c07a32e7ab5e6a48f66844f4e7b9d43 big drop of inference performance of model demark was observed

---
### CLX
[code]
![image](https://user-images.githubusercontent.com/10847947/149290751-820c30cc-940b-43a9-9f13-db0e56ab7685.png)
---
### SKX
[code]
![image](https://user-images.githubusercontent.com/10847947/149290870-dfff956e-890f-4

[2022-01-13 08:28] springsprite opened #38924 "所实现的一种新的模型结构优化策略的paddle代码运行得很慢"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2022-01-13 08:35] springsprite commented on #38924
[code]
forward 函数里面有多个for循环，而且有2个循环嵌套。在训练过程中，gpu利用率很低，大概率是这些for循环拖慢了前向计算速度，请问如何使用paddle的op来消除这写for循环呢？

[2022-01-13 09:10] betterpig commented on #38921
Hello, I'm sorry that Faster RCNN's performance turned to worse. According to the picture, the problem seems to be caused by my commit. But theoretically speaking, my modification only change windows platform's variable definition and has nothing to do with linux platform such as Unbuntu.

Could you please check carefully if Faster RCNN's performance is affected by my commit, just discard my modif

[2022-01-13 10:29] pmajchrzak commented on #38921
@tsocha : Could you pls check this?

[2022-01-13 10:29] deeplearning666 commented on #38909
![Screenshot from 2022-01-13 18-23-05](https://user-images.githubusercontent.com/19500563/149313070-c74cad7f-9250-405a-a843-a95a8044a81a.png)
![Screenshot from 2022-01-13 18-20-46](https://user-images.githubusercontent.com/19500563/149313183-352eb392-c5f7-4b7c-ab31-5dd82ec8a8fb.png)

[2022-01-13 11:07] tsocha commented on #38921
I think it could be related to your change because:
![image](https://user-images.githubusercontent.com/24435886/149318679-e02590d4-e4ab-4482-af09-544b8af77744.png)
I drew lines to show scope of ifs.
As you can see before your change both `-DPADDLE_WITH_AVX` and `-DPADDLE_WITH_SSE3` were set.
Now we set only `-DPADDLE_WITH_AVX` if AVX is detected.

[2022-01-13 11:15] betterpig commented on #38921
I see. It indeed will cause `-DPADDLE_WITH_SSE3` not set whhen WITH_AVX AND AVX_FOUND. I will make a fix soon.

[2022-01-13 11:29] FL77N opened #38929 "【论文复现】paddle.masked_select 在训练的时候报错"
File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/tensor/search.py", line 665, in masked_select
    return _C_ops.masked_select(x, mask)
SystemError: (Fatal) Operator masked_select raises an thrust::system::system_error exception.
The exception content is
:parallel_for failed: cudaErrorInvalidConfiguration: invalid configuration argument. (at /paddle/paddle/fluid/impe

[2022-01-13 11:42] FeixLiu commented on #38929
您好，看报错信息应该是组网的时候有些配置没有设置对。能麻烦提供一下问题的具体复现方法么？

[2022-01-13 12:05] FL77N commented on #38929
您好，报错处于 target 的处理阶段
[code]

[2022-01-13 12:33] FeixLiu commented on #38929
请问您的paddle版本是多少呢？运行环境是什么样的呢？

[2022-01-13 12:40] FL77N commented on #38929
paddle 2.2.1 环境就是 Aistudio 32G tesla v100

[2022-01-13 12:53] FeixLiu commented on #38929
这个问题是每次都会必复现么？尝试调小一下is_pos的大小会解决这个问题么？

[2022-01-13 12:57] HongShiKuan opened #38934 "安装Paddle2.2.1-gpu自测时一直无法通过？"
系统版本：Ubuntu **18.04.5 LTS**
显卡版本：**NVIDIA-SMI 470.57.02    Driver Version: 470.57.02    CUDA Version: 11.4**
显卡：**RTX3090**
安装Paddle-gpu通过anaconda安装：
![image](https://user-images.githubusercontent.com/45912889/149334146-2d279339-78f2-4ed2-9a5e-6f003b88a095.png)
但是在运行paddle.utils.run_check()自测时，一直卡住，如下图所示，而且显存一直在涨，请问这是什么问题呀？
![image](https://user-images.githubusercontent.com/45912889/149334363-e295

[2022-01-13 13:03] FeixLiu commented on #38934
这个运行大概需要一分钟左右～您可以稍微再等一会～

[2022-01-13 13:06] FL77N commented on #38929
对，每次跑必出现，用 np 实现就不会出现

[2022-01-13 13:08] HongShiKuan commented on #38934
目前测试等了10min左右，还是在卡住。是我的显卡驱动版本 或者 paddle版本不适配3090显卡吗？
还有就是这个机器有多卡，还没有安装nccl，是更这个有关系吗？

[2022-01-13 16:02] HongShiKuan commented on #38934
更新一下，换到**conda install paddlepaddle-gpu==2.2.1 cudatoolkit=11.2 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge**此指令，可以通过自测！！！

[2022-01-13 17:10] HongShiKuan commented on #38934
发现最终问题了，30系列的显卡不支持CUDA10了，以后xdm有这种情况注意一下啦！！！

[2022-01-13 23:56] FeixLiu commented on #38934
感谢您的反馈，也感谢您对paddle的支持。

[2022-01-13 23:57] FeixLiu commented on #38929
用np的意思是，`is_pos = paddle.logical_and(is_pos, is_in_gts)`这句话使用numpy生成is_pos么？具体的代码是什么呢？还是说用np来实现masked select？

[2022-01-14 00:47] chiehpower opened #38940 "如果ARM设备不接萤幕的情况下，则会出错"
请提供下述完整信息以便快速定位问题/Please provide the following information to quickly locate the problem

## 版本、环境信息：
1）PaddlePaddle版本：release/2.0
2）ARM设备: NVIDIA Jetson AGX Xavier
  Test in docker container, and the image is `nvcr.io/nvidia/l4t-ml:r32.5.0-py3` from NGC
3）系统环境：JetPack 4.5, Python版本 3.8
4.) GCC `v7.5`

## 安装方式信息：
1. 于docker内做编译 docker image: nvcr.io/nvidia/l4t-ml:r32.5.0-py3
2. Python 3.8
3. 操作流程参

[2022-01-14 01:33] FL77N commented on #38929
把上面那段代码用 np 全部重写了，然后就可以正常跑了

[2022-01-14 01:44] FeixLiu commented on #38929
使用np可以的原因应该是np使用的cpu，但是那个错误是gpu的错误。具体原因我们会进行内部排查，会尽快给您回复。

[2022-01-14 02:32] FL77N commented on #38929
嗯嗯，麻烦了

[2022-01-14 02:50] #38934 closed, assigned to FeixLiu

[2022-01-14 03:18] WorgenZhang commented on #38940
您好，请您提供萤幕的型号，并再次确认报错是否跟萤幕是否连接有关，谢谢！

[2022-01-14 03:23] WorgenZhang commented on #38940
如果确认是萤幕的问题，我会帮助您找PaddleOCR团队的RD一起解决

[2022-01-14 03:33] betterpig commented on #38921
[fix](https://github.com/PaddlePaddle/Paddle/pull/38931) has been merged, the problem should be solved. Please make a check.

[2022-01-14 05:45] chiehpower commented on #38940
hi, 感谢回覆。

萤幕可以拿随意一台，这问题诡异，我这有另一台AGX但是是安装JetPackv4.6版本，则无遇到此问题，拔除萤幕并重新开机也运作正常。所以不确定是否是特定JetPackv4.5 才遇到此问题。

如果运作正常，则会print出三次 warning (about nvidia-smi)，如果运作失败(拔除萤幕，重开机），则print一次warning而已就报错了。
`root WARNING: GPU is not found in current device by nvidia-smi. Please check your device or ignore it if run on jeston.`

以下为跑正常的显示结果：
[code]
已测试build from Paddle branch: release/2.0, 安装paddleocr `v2.3.0.2

[2022-01-14 05:57] chenweiyj commented on #38379
![image](https://user-images.githubusercontent.com/1733948/149458970-9f4baa6f-b4be-4645-82e0-dc48c507674e.png)
文档说不支持python 3.9，那mac m1要安装哪个版本？ @dingjiaweiww

[2022-01-14 06:18] jiaohuix opened #38943 "【论文复现】Momentum优化器的rescale_grad和grad_clip参数没生效"
- 标题：Momentum优化器的rescale_grad和grad_clip参数没生效
- 版本、环境信息：
   1）PaddlePaddle版本：2.2.0
   2）CPU：i5
   3）GPU：3060 cuda 11.2
   4）系统环境：windows10，Python 3.6

- 模型信息
         convs2s
- 复现信息：运行下面的代码，分别修改clip_norm和rescale_grad，比较前后的参数、梯度、梯度范数。
- 问题描述：没有报错，我发现加和不加该参数，最后得到的参数和梯度没发生改变。他们在哪里起作用了呢？
`
import paddle
import numpy as np
import random
from paddle.fluid.dygraph.parallel import ParallelEnv
nranks = Para

[2022-01-14 07:15] FL77N commented on #38929
找到了一个 is_pos 里面全为 False 的情况，单独处理后就可以了，可能会引起后面这两行代码出错
[code]

[2022-01-14 07:18] FeixLiu commented on #38929
是如果is_pos中全是False的话，会导致masked select raise这个cudaErrorInvalidConfiguration错误么？

[2022-01-14 07:38] WorgenZhang commented on #38943
您好，可以看一下python/paddle/fluid/clip.py的ClipGradByGlobalNorm实现，clip_norm参数设置不一样但最终梯度的一样有可能就是算出来的global_norm太小，小于clip_norm，导致need_clip=False；当然还可能有其它可能，欢迎继续讨论

[2022-01-14 08:08] ZZHHogan opened #38949 "请问哪里有离线的安装包whl文件？"
请问哪里有离线的安装包whl文件？
在线安装一直无法连接：
Looking in indexes: https://mirrors.aliyun.com/pypi/simple/
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f0fa2f3dc40>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /pypi/sim

[2022-01-14 08:26] jiaohuix commented on #38943
的确，我在加深了网络、减小了clip_norm后发现确实有微小改变了，不过我用自己写道calc_global_norm算的global_norm还是很大。除此之外，rescale_grad在什么时候生效呢？

[2022-01-14 08:32] baoachun commented on #38687
Hi @wozna , the problem has been solved, thanks a lot.

[2022-01-14 08:32] #38687 closed, assigned to sfraczek, wozna, cuicheng01

[2022-01-14 08:33] lidanqing-vv commented on #38856
Meeting notes
1. Not removing any attributes that already exist in native op
2. Serilizartion: If you follow register_op steps, it will be serilizaed
3. About naming conv_oneDNN_op.cc

Question1: GPU training. CPU mkldnn training is working now. If adding this new mkldnn custom op, will it work on GPU training.This custom op is through passes, and training doesn't have such passes, so it should no

[2022-01-14 08:55] WorgenZhang commented on #38943
您好，rescale_grad在优化器梯度更新前生效，具体看见paddle/fluid/operators/optimizers/momentum_op.h里的实现

[2022-01-14 08:58] Beacontownfc commented on #37401
【队名】：灯塔镇

【序号】：99

【论文】：LUKE: Deep Contextualized Entity Representations with Entity-aware Self-attention

【状态】：提交

【repo链接】：https://github.com/Beacontownfc/paddle_luke

[2022-01-14 09:11] WorgenZhang commented on #38949
您好，linux: https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html   windows: https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html

[2022-01-14 09:14] jiaohuix commented on #38943
噢我看了https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/optimizers/dgc_momentum_op.h

，不过就看见➗nrank的 (1.0 / nranks) * g_e;，没有看见乘rescale_grad。
我的训练代码里需要实现梯度乘c，
![image](https://user-images.githubusercontent.com/68314259/149490094-9d5774a3-770f-4d58-830b-acaaafc159c0.png)
于是我使用了rescale_grad参数，不知道行不行
![image](https://user-images.githubusercontent.com/68314259/149490170-de884d38-

[2022-01-14 10:26] yt605155624 opened #38957 "Paddle 的取值赋值操作巨慢无比，是 numpy 的 1000 倍，torch 的 50 倍"
复现代码
[code]

结果
[code]

我把对于 numpy 的操作换成对于 paddle.Tensor 的操作之后，导致我模型的 ips 变为原来的 1/2

[2022-01-14 11:37] yt605155624 opened #38958 "tile 输入的 repeat_times 列表的长度为什么不能大于 6？"
参照 https://github.com/PaddlePaddle/Paddle/issues/37227 实现 repeat_interleave 的过程中用到了 paddle.tile, 但是遇到如下错误：
[code]
https://www.paddlepaddle.org.cn/documentation/docs/en/api/paddle/tile_en.html#tile
想知道为啥 tile 输入的 repeat_times 列表的长度为什么不能大于 6？可以取消这个限制不

[2022-01-14 13:15] FL77N commented on #38929
对，单独处理这种情况就不会报错了

[2022-01-14 13:36] johnyanccer opened #38963 "动态图正常训练，转静态图报错"
动态图正常训练，forward @paddle.jit.to_static后出现如下错误，查询文档无相关内容，怀疑是否与paddlenlp有关
UnboundLocalError: In transformed code:

    File "/tmp/ipykernel_101/3422880272.py", line 15, in forward
        inputs = [[1]+x+[2] for x in input_i]
        inputs = paddlenlp.data.Pad()(inputs)
[code]

[2022-01-14 14:24] #38845 closed, assigned to kuizhiqing

[2022-01-14 15:28] WhiteFireFox opened #38967 "c++算子中赋值问题"
如题，例如我在c++中想对一个tensor进行赋值，请问应该怎么赋值呢

auto output = paddle::Tensor(paddle::PlaceType::kCPU, std::vector<int64_t> {1});
auto* out_data = output.mutable_data<int>(points_tensor.place());
out_data[0] = 1;

以这个例子为例，我想对output进行赋值，可以看到这个output的shape为（1，），那么我想通过这种方法对它进行赋值，好像不行，想问下怎么样可以进行赋值呢，非常感谢。

[2022-01-14 15:51] WhiteFireFox commented on #38967
不好意思，更新为下面这个代码QAQ：

auto output = paddle::Tensor(paddle::PlaceType::kCPU, std::vector<int64_t> {1});
auto* out_data = output.mutable_data<int>(points_tensor.place());
out_data[0] = 1;

[2022-01-14 15:51] WhiteFireFox commented on #38967
不好意思，更新为下面这个代码QAQ：

auto output = paddle::Tensor(paddle::PlaceType::kCPU, std::vector<int64_t> {1});
auto* out_data = output.mutable_data<int>(points_tensor.place());
out_data[0] = 1;

[2022-01-14 15:52] WhiteFireFox commented on #38967
不好意思，更新为下面这个代码QAQ：
[code]

[2022-01-14 17:44] Krystalyyyyyy opened #38970 "加载不同模型时，推理报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle==2.2.1
    2）CPU：AMD Ryzen 5 3600X 6-Core Processor
    3）系统环境：win10，python3.8

- 复现信息：
import paddlex as pdx

def infer(model_path,img_path):
    model = pdx.load_model(model_path)
    result = model.p

[2022-01-14 19:00] OneYearIsEnough commented on #37401
【队名】：Adream

【序号】：43

【论文】：Primitive Representation Learning for Scene Text Recognition

【状态】：报名

【repo链接】：https://github.com/OneYearIsEnough/PaddleOCR/tree/pren_juanbudong

[2022-01-15 02:46] deeplearning666 commented on #38909
Hello! Can you give me some advice for the question? I can't understand how to solve it.

[2022-01-15 03:09] czstudio commented on #37401
【队名】：小鱼儿和喵

【序号】：58

【论文】：DensePose: Dense Human Pose Estimation In The Wild

【状态】：报名

【repo链接】：https://github.com/czkyx/DensePose-Paddle

[2022-01-15 06:40] hcx1chzh opened #38975 "fc.cu::InplaceAddReluKernel中存在整型溢出"
- 环境信息：
    1）PaddlePaddle：2.2.1
    2）GPU：Tesla V100+CUDA10.2+cudnn7.6.5
    3）系统：CentOS 7
- 复现信息：
    1）PoC：
[code]
2）崩溃信息：
[code]
3）分析：
fc.cu::InplaceAddReluKernel中：
[code]
offset和i均为int，offset+i的最大值为FC层Output Tensor的size，这个值由模型定义，且是可以比MaxInt大的。

[2022-01-15 07:07] sljlp commented on #38909
it looks like a bug of ppdet/run_check().
I suggest you jump to the place where the error raise and add a line calling the init function, core_avx.Layer.__init__(), as the error meesage says.Meanwhile，we will fix the bug assoon as possible.

[2022-01-15 10:46] wzyforgit opened #38978 "如何裁剪C++预测库？"
- 标题：如何裁剪C++预测库？
- 版本、环境信息：
    1）PaddlePaddle版本：2.0以后任意版本
    2）CPU：任意CPU，使用OpenBLAS
    3）GPU：不使用GPU
    4）系统环境：UOS 1041
本地编译：只打开ON_INFER，其余option全部OFF

现象：C++预测库的动态库体积在Release模式下达到111MB，即便使用工具去除符号表并用UPX进行压缩，依然有超过90MB的体积
期望：能尽可能地裁剪预测库，因为我只在桌面环境进行部署然后只使用CPU进行预测，并不需要其它各种牛逼的高级功能，就是希望能在这种比较特殊的定制化环境下能最大化裁剪这个预测库，能省一点空间是一点
PS：我知道隔壁Paddle Lite的体积小，但有些国产平台它不支持，比如龙芯什么的。而且x86下它还强依赖MKL，导致我们直接放弃使用
PPS：使用系统自带

[2022-01-15 14:00] deeplearning666 commented on #38909
Hello! I may understand your advice. However, it seems some hard for me to modify. First of all, "core_avx" might be a module name which just be changed and not be defined, just like the following picture
![Screenshot from 2022-01-15 20-48-49](https://user-images.githubusercontent.com/19500563/149622265-23194d02-f334-4017-b8e5-8d0e586c3102.png)
So I don't know where to add, in Paddle writed by C++

[2022-01-15 15:29] WhiteFireFox commented on #38967
刚刚解决了这个问题，因为实验环境是在GPU环境下，所以涉及CUDA运算得写在__global__下的函数里，所以赋值运算要想写在外函数里，改成在CPU下就好。
`auto output = paddle::Tensor(paddle::PlaceType::kCPU, std::vector<int64_t> {1});

  int* out = output.mutable_data<int>(paddle::PlaceType::kCPU);

  out[0] = 1;

  return {output};`

[2022-01-15 15:31] WhiteFireFox commented on #38967
刚刚解决了这个问题，因为实验环境是在GPU环境下，所以涉及CUDA运算得写在__global__下的函数里，所以赋值运算要想写在外函数里，改成在CPU下就好。
[code]

[2022-01-15 15:32] #38967 closed, assigned to WorgenZhang

[2022-01-16 04:06] xu-peng-7 opened #38983 "一个拼写错误"
![image](https://user-images.githubusercontent.com/49851465/149646891-f0e78e19-408a-4199-871b-11f520bcd80f.png)

mdoe应该为mode

[2022-01-16 05:03] wzyforgit commented on #38978
好了，加了一坨编译参数，还有70.8MB......还是有点大

[2022-01-16 12:38] JingyangXiang commented on #37401
【队名】：辉辉的战斗鸡

【序号】：8

【论文】：PVTv2: Improved Baselines with Pyramid Vision Transformer

【状态】：报名

【repo链接】：https://github.com/Holidays1999/Paddle-PVT-V2

[2022-01-16 12:57] WorgenZhang commented on #38963
您好，请您提供更完整的代码及描述，并提供paddle版本与系统信息，谢谢

[2022-01-16 16:58] friendan opened #38987 "Paddle Release2.2 VS2017 编译报错 LINK : fatal error LNK1248"
我的环境： WIN7 X64 + VS2017
编译 Paddle Release2.2 解决方案中的预测库：
项目：paddle_inference_shared 选择的是release版本，报错如下：
LINK : fatal error LNK1248: 映像大小(8085D000)超过允许的最大大小(80000000)
怎么解决呢？

[2022-01-17 00:30] #38515 closed, assigned to smallv0221

[2022-01-17 02:10] jiaohuix commented on #37401
【队名】：角灰大帝硬train一发

【序号】：84

【论文】：Convolutional Sequence to Sequence Learning

【状态】：报名

【repo链接】：https://github.com/MiuGod0126/ConvS2S

[2022-01-17 03:54] WorgenZhang commented on #38940
您好，根据您的描述可能跟JetPack版本有关，这问题确实诡异，这几天还有遇到过吗？

[2022-01-17 03:59] chiehpower commented on #38940
有，试着在不同环境编译也一样。
把环境从第一台AGX (jetpack4.5)设备，移到第二台AGX(Jetpack4.5)设备也一样，没有萤幕就会出错。

但我发现在JetPack v4.6上安装PaddleOCR 2.4的版本运行之后，是不会显示有关nvidia-smi这个warning的
[code]
但当然 2.3 or 2.4在JetPack v4.6机器上不接萤幕是都没问题的。

[2022-01-17 04:02] WorgenZhang commented on #38940
好的，那您对JetPack的版本目前有硬性要求吗，比如说必须要使用JetPack v4.5版本的，如果有，我再协助找人看下这个问题。

[2022-01-17 04:19] WorgenZhang commented on #38943
您好，在dgc_momentum里应该没有rescale_grad，只有在momentum里有rescale_grad的实现

[2022-01-17 04:25] WorgenZhang commented on #38958
您好，已找负责此api的同事看这个问题，麻烦稍等

[2022-01-17 05:35] chiehpower commented on #38940
是的，我的v4.6是内部自行开发测试机器，目前因为厂商出产都是v4.5版本，所以没办法自行升级换版本，必须使用这个版本。
再麻烦您们了！谢谢！

[2022-01-17 06:37] wuhuachaocoding commented on #38970
你好，这个问题是因为你的图片输入的维度不对，assert len(inputs) == len(self.in_channels)， 请调整输入图片的维度符合网络输入的维度。

[2022-01-17 07:16] wxzylforever opened #38994 "为了提高混合精度训练的效率，如何配置模型结构？"
paddle大佬您们好，求帮助。我搭建了一个卷积网络，想例如 混合精度训练（float32和float16）提高训练速度，我应该如何配置模型的结构，比如 输入输出feature map的形状什么的，还有激活函数什么的，请问有这方面的资料吗？

[2022-01-17 07:28] lidanqing-vv commented on #37930
@lidanqing-intel Use Paddle new executor for multithreading performance benchmark.

[2022-01-17 07:37] jyjfjyjf commented on #37401
【队名】：异常数据

【序号】：85

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：提交

【repo链接】：https://github.com/jyjfjyjf/DeBERTa

[2022-01-17 07:39] jiaohuix commented on #38943
哦哦，好的，看到啦

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Fan ***@***.***&gt;;
发送时间: 2022年1月17日(星期一) 中午12:19
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 【论文复现】Momentum优化器的rescale_grad和grad_clip参数没生效 (Issue #38943)

您好，在dgc_momentum里应该没有rescale_grad，只有在momentum里有rescale_grad的实现

—
Reply to this email directly, view it on GitHub, or unsubscri

[2022-01-17 07:48] youth123 commented on #38994
可以看这个文档https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/01_paddle2.0_introduction/basic_concept/amp_cn.html#amp

[2022-01-17 07:59] jiweibo commented on #38978
您好，如果只是预测部署场景还可以试下反向op的裁剪。

[code]

[2022-01-17 08:22] Andy1314Chen commented on #37401
【队名】：A3

【序号】：271

【论文】：DSelect-k: Differentiable Selection in the Mixture of Experts with Applications to Multi-Task Learning

【状态】：报名 & 提交

【repo链接】：[mtl-dselect-k](https://github.com/Andy1314Chen/PaddleRec/tree/mtl-dselect-k)

[2022-01-17 09:17] wuhuachaocoding commented on #38975
您好，尝试将FC的输入，输出维度调小点。

[2022-01-17 09:25] #38949 closed, assigned to WorgenZhang

[2022-01-17 09:33] luomusky opened #39000 "使用gpu内存暴涨"
用的是Nvidia Jetson Nano
CUDA 10.2
cuDNN 8.2
Paddle 2.2

这边就是当开启gpu检测识别的时候，内存直接暴涨有多少用多少

[2022-01-17 11:31] wawltor commented on #38963
您好，目前框架的动转静的能力是基于PaddlePaddle Op层面的，paddlenlp.data.Pad()这个API是基于Numpy操作的，所以没有办法进行动转静的操作。目前PaddleNLP部分的模型的Tokenizer部分(文本处理，Pad、组batch功能)在最新的版本可以直接导入到模型中进行训推一体，具体的功能可以查看 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/faster

[2022-01-17 11:49] Fallinloverain opened #39001 "使用官方推理模型进行预测时报错：缺少（cudnn64_7.dll）"
- 标题：使用官方推理模型进行预测时报错：缺少（cudnn64_7.dll）
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：
    3）GPU：3080，CUDA 11.5和CUDNN 8.3.1
    4）系统环境：win11，Python 3.8.12
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
    2）CMake包含路径的完整命令
    3）API信息（如调用请提供）
    4）预测库来源：官网

[2022-01-17 12:04] lujiang001108 opened #39003 "百度2021多形态事件抽取基线之前代码没问题，过了一个月自己就报错了？？难道是paddlepaddle-gpu版本自动不适配了？而且官方给的aistudio版本也报错"
(py36env) lj@tesla-server:/data/newspace/jiang/DUEE$ bash run_duee_fin.sh trigger_train
check and create directory
dir ./ckpt exist
dir ./ckpt/DuEE-Fin exist
dir ./submit exist

start DuEE-Fin trigger train
-----------  Configuration Arguments -----------
backend: auto
elastic_server: None
force: False
gpus: 1
heter_worker_num: None
heter_workers:
host: None
http_port: None
ips: 127.0.0.1
job_id:

[2022-01-17 12:07] lujiang001108 opened #39004 "2021百度多形态事件抽取官方的aistudio版本现在跑不通了？是什么原因呢"
aistudio@jupyter-756224-3421635:~$ bash run_duee_fin.sh trigger_train
check and create directory
dir ./ckpt exist
dir ./ckpt/DuEE-Fin exist
dir ./submit exist

start DuEE-Fin trigger train
W0117 20:06:12.927531 19293 init.cc:143] Compiled with WITH_GPU, but no GPU found in runtime.
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/framework.py:312: UserWarning: You ar

[2022-01-17 12:14] wzyforgit commented on #38978
非常感谢指导！虽然只是少了10MB左右，但也算是个很大的进步吧（捂脸
这调试了几天，我感觉还是只能尽量把没用到的OP删了，能少1MB是1MB，实在是没有裁主框架的实力233333333

[2022-01-17 12:14] #38978 closed, assigned to wuhuachaocoding

[2022-01-17 12:20] ForFishes opened #39005 "[Feature] Add Adam-CPU operator to support offload calculation"
When training a large model and using the adam optimizer, the optimizer parameters/status are often offloaded to the cpu memory, and then used to update the parameters on the cpu. At present, the Adam-CPU implemented by Paddle has poor performance, and I hope to provide higher performance. The Adam-CPU implementation improves the overall computing speed.

reference: Section 5.1 in the paper
https:

[2022-01-17 12:24] hcx1chzh commented on #38975
您好，这里是给出了一个实际可能导致框架报错的例子，实际使用Paddle运行其他模型时因为大多数时候BatchSize可变，所以很容易导致FC层的Size超出限制，从而导致模型输出出错/框架Crash。

[2022-01-18 01:16] Fallinloverain commented on #39001
已解决，解决方法：下载cuda 11.1版本和 cudnn 8.1.1，有且只有这版本可以同时兼容windows11和30系列显卡，安装指令用的是python -m pip install paddlepaddle-gpu==2.2.1.post111 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html

[2022-01-18 01:16] #39001 closed, assigned to nobody

[2022-01-18 01:39] Andy1314Chen commented on #38768
好的,  支持国产深度学习框架

[2022-01-18 01:39] #38768 closed, assigned to tianxin1860

[2022-01-18 03:05] #38983 closed, assigned to firestonelib

[2022-01-18 03:12] youth123 commented on #39000
能不能提供具体最小用例和现象呢

[2022-01-18 03:12] youth123 commented on #39003
我们会安排具体人查看

[2022-01-18 03:13] youth123 commented on #39004
我们会安排具体人员查看

[2022-01-18 03:51] wxzylforever commented on #38994
感谢大佬。是这样，我写了一个amp的模型（只有卷积、BN、激活函数，最后有一个Linear），但是训练速度反而比正常的还慢，我怀疑是不是卷积的in_channels,out_channels,kernel size等一些参数对速度有影响。我想配置一些参数尽可能发挥amp的速度优势，这方面有可以借鉴的资料吗？

[2022-01-18 06:03] lidanqing-vv commented on #37005
Hi, I have important update. Recently we (mainly Tobin Guo) are asking baidu to list the priority levels of the models in the picture and we just got information from **Baidu PM Zihan that all these listed models in the picture and very high priority models** and Baidu would like to see performance boost of them on any Intel machines like SPR.

To deploy int8 models, here are quant models link
**p

[2022-01-18 06:46] #25711 closed, assigned to iclementine

[2022-01-18 06:46] #30093 closed, assigned to heavengate, liym27

[2022-01-18 06:47] #30228 closed, assigned to jiweibo, zhangting2020

[2022-01-18 06:47] #30245 closed, assigned to MrChengmo

[2022-01-18 06:47] #30253 closed, assigned to danleifeng

[2022-01-18 06:47] #30320 closed, assigned to nobody

[2022-01-18 06:47] #30365 closed, assigned to yaoxuefeng6

[2022-01-18 06:47] #30367 closed, assigned to yaoxuefeng6

[2022-01-18 06:47] #30368 closed, assigned to yaoxuefeng6

[2022-01-18 06:47] #30369 closed, assigned to yaoxuefeng6

[2022-01-18 06:47] #30370 closed, assigned to yaoxuefeng6

[2022-01-18 06:47] #30379 closed, assigned to yaoxuefeng6

[2022-01-18 06:47] #30385 closed, assigned to yaoxuefeng6

[2022-01-18 06:47] #30396 closed, assigned to yaoxuefeng6

[2022-01-18 06:47] #30446 closed, assigned to baiyfbupt

[2022-01-18 06:47] #30511 closed, assigned to nobody

[2022-01-18 08:34] Beacontownfc commented on #37401
【队名】：灯塔镇

【序号】：100

【论文】：RemBERT: Rethinking embedding coupling in pre-trained language models

【状态】：报名

【repo链接】：https://github.com/Beacontownfc/rembert_paddle

[2022-01-18 09:25] BrilliantYuKaimin commented on #37401
【队名】：为往圣继绝学

【序号】：224

【论文】：SinGAN: Learning a Generative Model from a Single Natural Image

【状态】：报名

【repo链接】：https://github.com/BrilliantYuKaimin/PaddleGAN

[2022-01-18 10:30] wezard1995 opened #39027 "同样结构的模型加载两次出错，如何解决"
paddle版本:2.3
GPU:Tesla v100, cuda11.0
系统环境：Linux python版本3.7

用不同的数据训了两版相同结构的动态图模型，在动态图模式下inferance时出现以下情况：
model1 = net()
model2 = net()

if a:
    model1.infer_img(img)
else:
    model2.infer_img(img)

Traceback (most recent call last):
  File "lanetest.py", line 200, in <module>
    r = lanerec.infer_img_file('./1_000183_0_bi0_i78,i74,i75.jpg')
  File "lanetest.py", line 127, in infer_img_file

[2022-01-18 11:28] cg1937 commented on #37401
【队名】：云图计划天下第一

【序号】：75

【论文】：NRPA: Neural Recommendation with Personalized Attention

【状态】：报名

【repo链接】：https://github.com/cg1937/Paddle-NRPA

[2022-01-18 11:32] cg1937 commented on #37401
【队名】：云图计划天下第一

【序号】：76

【论文】：Detecting Beneficial Feature Interactions for Recommender Systems

【状态】：报名

【repo链接】：https://github.com/cg1937/Paddle-SIGN

[2022-01-18 13:28] GuoxiaWang commented on #39027
@wezard1995

在 import paddle 后添加

paddle.disable_static()

[2022-01-18 14:00] zzcgithub opened #39031 "如何根据修改已有inference模型的输入为“动态shape”"
目前已有一些导出的模型参数（__model__/__params）, 可以通过paddle框架进行正常的推理，但是因为输入的shape已经固定，导致无法进行动态推理/无法使用tensorrt。具体问题如下，模型的输入输出截图截图均由netron可视化得出。

**问题1**
通过x2paddle将onnx模型转为paddle的模型参数，paddle版本2.1。

 如何将输入的shape从1x3x224x224，修改为？x3x224x224  ， 将输出(1x69)改为shape ？x69。

![image](https://user-images.githubusercontent.com/13117136/149948892-046d5b99-b74e-4b63-9277-dc17961c6176.png)

**问题2**
 使用paddledetection导出的faster-r

[2022-01-18 15:23] Fleming-Sung commented on #37401
【队名】：Ming Sung
【序号】：64
【论文】：Digging Into Self-Supervised Monocular Depth Estimation
【状态】：报名
【repo链接】：https://github.com/MeaningSung/paddle_monoDepth2

[2022-01-18 17:53] jczaja commented on #38126
@baoachun Just to let You know that I started to investigate this issue. Reproduction was achieved. Problem seems to be that oneDNN elementwise_add (X,Y)  kernel with Y being broadcasted , does not work properly for NHWC situation. I will write some more when I get more details.

[2022-01-19 02:34] wezard1995 commented on #39027
@GuoxiaWang 试过了不行，用的是paddleocr的basemodel, build srn的时候create_parameter 没给name参数

[2022-01-19 02:37] wezard1995 commented on #39027
@GuoxiaWang 主要是这个问题
ValueError: parameter name [loc_conv0_weights] have be been used. In dygraph mode, the name of parameter can't be same.Please check the parameter attr value passed to self.create_parameter or constructor of dygraph Layers

[2022-01-19 02:43] wezard1995 commented on #39027
enable_static后出现的是这个信息
 File "lanetest.py", line 145, in infer_img
    paddle.to_tensor(encoder_word_pos_list),
  File "<decorator-gen-127>", line 2, in to_tensor
  File "/home/hll_root/.local/lib/python3.6/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__
    return wrapped_func(*args, **kwargs)
 "We only support '%s()' in dynamic graph mode, please call 'paddle.disable_stati

[2022-01-19 02:49] GuoxiaWang commented on #39027
@wezard1995 以前你有做过类似的推理？两个模型一模一样，然后，就是参数不一样，就像你这样加载？

[2022-01-19 02:54] wezard1995 commented on #39027
@GuoxiaWang backbone可以改啊，有name参数，换掉就行了，比如两个resnet是ok的，但是transfomer embedding 和 self-attention的部分没给name 参数，只能用默认的name，所以报错了

[2022-01-19 02:55] xperzy opened #39033 "能否增加optimzier 设置 weight decay 方法"
目前optimizer中有set_lr方法可以手动设置lr，
能否增加set_weight_decay方法，用于手动设置weight decay coef，需求是在每个iteration的时候可以手动更改weight decay的coef值

[2022-01-19 03:31] JZZ-NOTE commented on #29812
你好，根据报错信息无法定位具体问题，请问可以提供模型和单测吗？另外，可以尝试 paddle 的最新 2.2 版本，1.8 的版本比较老了

[2022-01-19 06:16] GuoxiaWang commented on #39027
@wezard1995 给整个模型加个前缀呢？
例如
[code]

参考 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dygraph/layers.py#L101

[2022-01-19 06:54] wezard1995 commented on #39027
@GuoxiaWang 两个model分别是两个class，model1 = class1(), model2 = class2()，内部结构是相同的，另外都是基于paddleocr的base model 构建的，有点难改。。

[2022-01-19 08:10] pymumu commented on #9845
@likeqinqin 问一下，我们当前遇到一个类似的cuda卡住问题。
你说的这个Stream是进程全局变量，要进程级别的锁，这个能具体说明一下吗？

[2022-01-19 08:35] simuler opened #39042 "ubuntu18.04下编译报错"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle/release2.2
    2）CPU：AMD
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：ubuntu18.04

- 安装方式信息：
1）pip安装
2）本地编译：make -j4
使用make编译报如下错误
simuler@ubuntu:~/Paddle/build_cuda$ make -j4
[ 24%] copy_if_different /home/simuler/Paddle/build_cuda/paddle/fluid/operators/jit/kernels.h
[ 24%] copy_if_different /home/simuler/Paddle/build_cuda/paddle/fluid/inference/api/paddle_i

[2022-01-19 08:44] youth123 commented on #38994
速度变慢的原因可能是模型太小，amp主要就是将一些输入cast成fp16，如果模型过小，cast带来的开销可能会造成训练变慢。你可以试试将模型变大，或者先按照文档的示例来操作看看是否在自己的模型amp的操作有误。

[2022-01-19 08:47] lidanqing-vv commented on #37422
Confirmed: oneDNN does support asymetric quantization. https://oneapi-src.github.io/oneDNN/dev_guide_convolution.html
Now adding zero-points into Paddle conv mkldnn op
https://github.com/oneapi-src/oneDNN/blob/master/tests/benchdnn/doc/knobs_attr.md

We should just reuse GPU GPU passes:
[code]

[2022-01-19 08:48] youth123 commented on #39003
那个请问是ai studio的哪一个用例呢

[2022-01-19 08:53] youth123 commented on #39004
那个请问是ai studio的哪一个具体用例呢

[2022-01-19 09:02] xperzy commented on #39033
请问使用 `optimizer.regularization = paddle.regularizer.L2Decay(wd)` 直接赋值是否可行？

例如：
[code]

[2022-01-19 09:09] LinJayan commented on #37401
【队名】：LYyyds

【序号】：277

【论文】：DCN V2: Improved Deep & Cross Network and Practical Lessons for Web-scale Learning to Rank Systems

【状态】：报名&提交

【repo链接】：<a href="https://github.com/LinJayan/PaddleRec/tree/master/">dcn_v2_Paddle</a>

[2022-01-19 09:40] GuoxiaWang commented on #39027
@wezard1995 能提供一个最小的测试代码吗？我复现一下，用于排查问题

[2022-01-19 09:42] wezard1995 commented on #39027
@GuoxiaWang 可以的，需要ppocr
``
from ppocr.modeling.transforms import tps, tps_ocr
from ppocr.modeling.backbones import rec_resnet_fpn
from ppocr.modeling.heads import  rec_srn_head, self_attention
import paddle
import paddle.nn as nn
class basemodelarrow(nn.Layer):
    def __init__(self):
        super(basemodelarrow, self).__init__(name_scope='bbb')
        self.transform = tps.TPS(in_channels=1, num

[2022-01-19 09:45] liutiexing commented on #39042
您好，您这个报错信息没有error关键字，只显示了CMAKE在编译proto文件的python版本时fail了，现有信息我无法判断发生了什么。
请您重试一下，或者详细完整描述一下你的过程。比如时docker还是源代码编译，什么操作系统等信息。如果可稳定复现，我们会自己复现一下。谢谢

[2022-01-19 09:57] GuoxiaWang commented on #39027
@wezard1995 麻烦再用代码模式编辑一下代码吧？我复制过来就可以跑了

[2022-01-19 09:59] wezard1995 commented on #39027
`from ppocr.modeling.transforms import tps, tps_ocr
from ppocr.modeling.backbones import rec_resnet_fpn
from ppocr.modeling.heads import  rec_srn_head, self_attention
import paddle
import paddle.nn as nn
class basemodelarrow(nn.Layer):
    def __init__(self):
        super(basemodelarrow, self).__init__(name_scope='bbb')
        self.transform = tps.TPS(in_channels=1, num_fiducial=10, loc_lr=0.01,

[2022-01-19 10:02] wezard1995 commented on #39027
`
from ppocr.modeling.transforms import tps, tps_ocr
from ppocr.modeling.backbones import rec_resnet_fpn
from ppocr.modeling.heads import  rec_srn_head, self_attention
import paddle
import paddle.nn as nn
class basemodelarrow(nn.Layer):
    def __init__(self):
        super(basemodelarrow, self).__init__(name_scope='bbb')
        self.transform = tps.TPS(in_channels=1, num_fiducial=10, loc_lr=0.01

[2022-01-19 10:05] wezard1995 commented on #39027
``

from ppocr.modeling.transforms import tps, tps_ocr
from ppocr.modeling.backbones import rec_resnet_fpn
from ppocr.modeling.heads import  rec_srn_head, self_attention
import paddle
import paddle.nn as nn
class basemodelarrow(nn.Layer):
    def __init__(self):
        super(basemodelarrow, self).__init__(name_scope='bbb')
        self.transform = tps.TPS(in_channels=1, num_fiducial=10, loc_lr=0.

[2022-01-19 10:07] wezard1995 commented on #39027
[code]

[2022-01-19 10:16] liutiexing commented on #39033
您好，这个应该可以满足您的需求

[2022-01-19 10:27] aiXia121 commented on #38348
libstdc++.so.6: version `GLIBCXX_3.4.22' not found
ImportError: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.22' not found (required by /usr/local/lib/python3.6/site-packages/paddle/fluid/core_avx.so)

mac 下面的docker 环境安装报错

[2022-01-19 10:51] sneaxiy opened #39050 "静态图AMP O2策略load checkpoint有bug"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：develop
    2）CPU：无
    3）GPU：无
    4）系统环境：无
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训练信息
    1）单机/多机，单卡/多卡
    2）显存信息
    3）Operator信

[2022-01-19 11:21] simuler commented on #39042
您好，我使用的是ubuntu18.04的系统，没有GPU，gcc版本是7.5，Paddle切换到了release2.2分支，下载的是manylinux_cpu_noavx_openblas_gcc8.2版本的Paddle Inference C++预测库，按照这个网址https://paddleinference.paddlepaddle.org.cn/user_guides/source_compile.html#ubuntu-18-04步骤进行编译的
按照步骤进行编译，并做了如下修改：
1、cmake .. -DPY_VERSION=3 \
        -DWITH_TESTING=OFF \
        -DWITH_MKL=OFF \
        -DWITH_GPU=OFF\
        -DON_INFER=ON \
        ..
2、把third-pa

[2022-01-19 11:43] GuoxiaWang commented on #39027
@wezard1995 ppocr 就是 paddleorc?

我通过 `pip install "paddleocr>=2.0.1"` 安装也找不到 `No module named 'ppocr'`

[2022-01-19 12:08] wezard1995 commented on #39027
@GuoxiaWang 是的，paddleocr里面的一个包（文件夹），我是直接git clone在paddleocr的root下运行的

[2022-01-19 12:22] GuoxiaWang commented on #39027
@wezard1995 我已经下载下来了，我放在 `PaddleOCR` 目录下，然后 python test.py 报 `ImportError: cannot import name 'tps_ocr' from 'ppocr.modeling.transforms'`

为了快速定位关心的问题，你是否能告知我如何跑起你的代码

[2022-01-19 12:23] wezard1995 commented on #39027
@GuoxiaWang 你重新复制一下，我已经修改了。。tps_ocr是我自己后加的

[2022-01-19 12:45] GuoxiaWang commented on #39027
@wezard1995 因为 paddlleorc 定义模型的时候，把名字固定死了 [L47](https://github.com/PaddlePaddle/PaddleOCR/blob/22b1fb3181a2e8e1a86776ab9aa10fb6abe1c896/ppocr/modeling/transforms/tps.py#L47)，所以冲突了，如果不固定会自动命名

你可以修改命名规则来达到你的需求，例如 [L79](https://github.com/PaddlePaddle/PaddleOCR/blob/22b1fb3181a2e8e1a86776ab9aa10fb6abe1c896/ppocr/modeling/transforms/tps.py#L79)

[code]

[2022-01-20 01:18] bofang98 opened #39059 "paddle.fluid.layers.fc算子出现部分值为nan问题"
在训练网络（有梯度回传）和测试网络（无梯度）时，我们定位到其中一层的fluid.layers.fc的输出的前600维值为nan，导致后面的所有计算值包括loss都为nan，但是其输出的维度没有问题。
请问该算子会存在这样的bug吗，出现nan值是由于什么情况导致的呢？如果不使用fluid.layers.fc，有什么类似于torch中的1dConv来替代fluid.layers.fc的呢？
![image](https://user-images.githubusercontent.com/42595629/150244773-d6dfae14-1389-4bd7-901f-74445af128a6.png)

[2022-01-20 01:36] xinsuinizhuan commented on #38691
啥时候出啊？这都半个月了，依然没动静？

[2022-01-20 01:58] magicly commented on #34797
测试这个不对的， 因为gpu推理是异步的， 你应该发现这个时间非常短吧， 因为只是发送了“gpu，你给我推理吧“的命令， gpu并没有完成真的工作。 你把get output也放进去一起测试， 就会发现tensorrt快了。

[2022-01-20 02:38] liu1073811240 opened #39061 "paddleocr中关键信息提取部分，推理预测后的结果为空是什么情况？"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2022-01-20 03:37] shangzhizhou commented on #39031
您好，
1. 问题一，看描述是只用修改batchsize，修改这个可以通过推理开启TensorRT的配置时指定max_batch_size
` config.EnableTensorRtEngine(1 << 30, max_batch_size, 5,
                              PrecisionType::kFloat32, false, false);`
2.问题二，如果模型组网时使用了动态shape([?,3,?,?])，使用tensorRT推理也需要开启动态shape，示例如下(文档链接：https://paddleinference.paddlepaddle.org.cn/api_reference/cxx_api_doc/Config/GPUConfig.html#tensorrt)：
[code]
参考如上示例设置TensorRT子图的每个

[2022-01-20 05:20] wxzylforever commented on #38994
不知道你们的amp是不是完全调的nvidia的接口实现的，如果是的话我自己去看NVIDIA的文档就好了

[2022-01-20 06:33] yt605155624 commented on #38958
框架  develop 已经实现了 repeat_interleave https://github.com/PaddlePaddle/Paddle/pull/37981/files ，不需要用 tile 去实现 repeat_interleave 了，谢谢

[2022-01-20 06:33] #38958 closed, assigned to WorgenZhang

[2022-01-20 07:21] akari0216 commented on #38189
感谢，按此方法已经对齐

[2022-01-20 07:30] akari0216 opened #39074 "论文复现：LSTM修改属性名后无法前向对齐"
paddlepaddle版本：2.2.1
pytorch版本：1.10.0+cu113
**torch.nn.lstm和paddle.nn.lstm在经过相同的修改属性名操作后，前向会有diff**
代码如下：

[code]

[2022-01-20 07:38] baoachun commented on #38921
Hi @pmajchrzak , chould you please verify that the issue is resolved? Thanks

[2022-01-20 07:39] baoachun commented on #38923
Got it, I'm working on it.

[2022-01-20 07:42] akari0216 commented on #39074
[code]

[2022-01-20 07:44] pmajchrzak commented on #38921
Yes :)
Now is going so fast, we can feel the wind in the hair. Thank you!
![image](https://user-images.githubusercontent.com/10847947/150294860-68871670-c126-4885-9170-94cca0a3856c.png)

[2022-01-20 07:57] wezard1995 commented on #39027
@GuoxiaWang 实例化之后可以了，谢谢指导！

[2022-01-20 07:58] baoachun commented on #38923
Hi @pmajchrzak, according to the reproduction steps you gave, I didn't find the demark folder in the model directory. Could you please give me some advice?
![图片](https://user-images.githubusercontent.com/22114318/150296937-6ea983cd-48ac-40c6-bd39-d2ad6f352401.png)

[2022-01-20 08:04] GuoxiaWang commented on #39027
@wezard1995 好的，客气。

[2022-01-20 08:27] pmajchrzak commented on #38923
We are using our internal trained model. @jczaja is the owner.

[2022-01-20 08:41] jczaja commented on #38923
@baoachun This demark model was also referenced as Face model (https://github.com/PaddlePaddle/Paddle/issues/17535) and we got it from our colleagues from Baidu. So you should have it . If you for some reason do not have it then please advice how can we send it to you.

[2022-01-20 09:17] #38656 closed, assigned to nobody

[2022-01-20 09:43] #38994 closed, assigned to nobody

[2022-01-20 11:57] futureflsl opened #39090 "paddle.utils.run_check()的runtime api version和bvcc --version不一样"
环境：
ubuntu18.04
RTX3090
cuda11.1+cudnn8.2.1
我在终端输入
nvcc --version显示：

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Mon_Oct_12_20:09:46_PDT_2020
Cuda compilation tools, release 11.1, V11.1.105
Build cuda_11.1.TC455_06.29190527_0

安装paddlpaddle-gpu==2.2.1或者2.2.0均有下面错误，仔细对比发现paddle.utils.run_check()的Runtime API Version: 10.2不知道是什么问题呢

pa>>> paddle.utils.ru

[2022-01-20 13:32] pmajchrzak opened #39093 "Performance drop (among others: BERT, LSTM_fp32, MobileNET V1 and V2, GRU, ERNIE)"
After this commit: https://github.com/PaddlePaddle/Paddle/commit/5c73a6eaa2be74eaed7e974b433a4c44f6da58b6
a performance drop of several modelas (among others: BERT, LSTM_fp32, MobileNET V1 and V2, GRU, ERNIE) was observed.

It was observed on three different processors: CLX, SKX and CPX.

### CLX
![image](https://user-images.githubusercontent.com/10847947/150348075-7767de8f-b1b0-4ba3-9f4d-772e44b4

[2022-01-20 18:04] jczaja commented on #38126
@baoachun Situation is as follows. There are two problems encountered:
1) broadcasting  in oneDNN's elementwise kernels for NHWC is not working properly. Candidate fix is here : #38126 .
2) batch norm of NHWC in oneDNN's kernel does not work properly for 3D data. Status: under investigaton

[2022-01-21 03:32] ziyuwzf opened #39102 "paddle.get_cudnn_version()报错：code is /usr/local/cuda/lib64/libcudnn.so: cannot open shared object file: No such file or directory"
- 标题：paddle.get_cudnn_version()报错：code is /usr/local/cuda/lib64/libcudnn.so: cannot open shared object file: No such file or directory
- 版本、环境信息：
    1）PaddlePaddle版本：2.2
    2）CPU：请提供CPU型号，
    3）GPU：2080，裸机CUDA11.2和CUDNN7.6.1，
    4）系统环境：请docker容器内
- 安装方式信息：
1）非paddle官方docker容器内通过pip安装
- 问题信息：
描述：
在docker市场中，找到tensorflow的镜像，通过镜像启动容器，进入容器后通过pip安装paddlepaddle-gpu==2.2。进入python终端，import paddle正常。在此

[2022-01-21 03:42] IcarusWizard commented on #37401
【队名】：SOLO

【序号】：64

【论文】：Digging Into Self-Supervised Monocular Depth Estimation

【状态】：提交

【repo链接】：https://github.com/IcarusWizard/monodepth2-paddle

[2022-01-21 03:52] liutiexing commented on #39042
您好，Paddle使用的是GCC8.2，建议您使用这个版本。
<img width="709" alt="image" src="https://user-images.githubusercontent.com/74819124/150462723-0d69357b-1534-475b-ba24-5bfa1897c470.png">

另外，能否考虑使用docker环境，因为依赖软件众多，docker有利于解决环境问题

[2022-01-21 04:55] zzcgithub commented on #39031
内部使用版本so不支持tensorrt的动态shape。

问题1: x2paddle已解决

问题2:  能否加载model/params，进行input/output的修改，重新生成新的model/params，使得输入的shape从（[?,3,?,?]）转化为（?x3x512x512)

[2022-01-21 05:24] shangzhizhou commented on #39031
如果有组网代码，可以尝试将输入变量的shape中的-1改为具体的数值

[2022-01-21 06:21] jim19930609 commented on #39102
应该是LD_LIBRARY_PATH路径设置问题，或者libcudnn.so没有安装在默认路径。可以麻烦您运行：find / -name libcudnn.so，看一下系统内libcudnn.so的路径吗？
如果该指令没有返回结果则意味着您的机器上没有安装CUDNN，需要重新安装。
如果有返回结果请设置：export LD_LIBRARY_PATH={找到的libcudnn.so路径}:${LD_LIBRARY_PATH}

[2022-01-21 06:32] syyxtl opened #39107 "PaddleClas export model -> deploy"
<img width="919" alt="image" src="https://user-images.githubusercontent.com/66545456/150477865-8e476a16-87ee-4a8f-b09f-65f887921ad9.png">
直接下载paddleClas预训练模型，看导出的模型有很多broadcast，然后直接运行deploy报错

[2022-01-21 07:39] zhiqiu commented on #39050
paddle静态图AMP O2训练产生的checkpoint，目前已支持save master weight，可以使用如下方法：
[code]
动态图目前尚未支持save master weight，已有计划支持。https://github.com/PaddlePaddle/Paddle/pull/39121

[2022-01-21 08:37] jim19930609 commented on #39107
您好，请问能否提供较小的可以复现问题的代码，以及复现的操作方法，方便同事进行排查？感谢！

[2022-01-21 09:37] jim19930609 commented on #39093
Hi pmajchrzak,
Thanks for this well-formed and detailed feedback. This was a known issue to us and also triggered our internal performance CI.

We merged a PR yesterday (https://github.com/PaddlePaddle/Paddle/pull/38926) to fix this issue. Can you retry this performance check with develop tip, and see if it still persist? Thanks.

[2022-01-21 09:46] usm12138 commented on #37401
【队名】：USMyyds

【序号】：75

【论文】：NRPA: Neural Recommendation with Personalized Attention

【状态】：提交

【repo链接】：https://github.com/usm12138/Paddle-NRPA

[2022-01-21 10:16] sfraczek opened #39125 "[Feature] request for deformable_conv+batch_norm fuse for cpu inference"
Hi,
For forward inference PaddlePaddle has conv+batch_norm fuse.
**Could you add deformable_conv+batch_norm fuse?**
I saw deformable_convolution->batch_norm in ppyolov2_resnet50_vd_dcn.

[2022-01-21 10:47] skywalk163 opened #39126 "在双卡环境下，to_tensor无法通过palce参数指定数据所在的卡"
在双卡环境下，无法通过palce参数指定数据所在的卡
[code]

好像是place不管用了
[code]

再这样试试，还是不行呢：
[code]

[2022-01-21 15:19] MOONSky1996 commented on #14572
ERROR: Could not find a version that satisfies the requirement paddlepaddle==1.6.1 (from versions: 1.8.5, 2.0.0rc0, 2.0.0rc1, 2.0.0, 2.0.1, 2.0.2, 2.1.0, 2.1.1, 2.1.2, 2.1.3, 2.2.0rc0, 2.2.0, 2.2.1, 2.2.2)
ERROR: No matching distribution found for paddlepaddle==1.6.1
旧版本现在不提供了，用pip3 install paddlepaddle -i https://pypi.doubanio.com/simple/ --trusted-host pypi.doubanio.com不限制版本亲测可行

[2022-01-21 16:00] arlesniak opened #39133 "dist_hapi_mnist_static fails with newest develop"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2022-01-22 06:06] skywalk163 opened #39136 "单机双卡训练报错"
在矩池云双NVIDIA Tesla K80 下，执行单机多卡训练，无法正常跑通。
使用的notebook 文档为这个项目里的ipynb文件：https://aistudio.baidu.com/aistudio/projectdetail/1222066
进入项目后，选择导出为ipynb文件，并上传到矩池云jupyter项目中，一键执行：

执行结果：

[code]

飞桨版本为2.2.1
GPU信息：
[code]

[2022-01-22 07:45] zhangbo9674 commented on #39136
您好，对于hapitrain，麻烦提供一下workerlog.0&1信息，以便于帮助您具体定位问题；对于normaltrain，同样麻烦提供一下workerlog及程序源码。

[2022-01-22 08:07] zhijiejia opened #39139 "CosineAnnealingDecayWarmRestart API 缺失"
PaddlePaddle 的 余弦退火API中没有T_mul 参数，没法像Pytorch的CosineAnnealingDecayWarmRestart API那样？ 有计划加吗？？？
![image](https://user-images.githubusercontent.com/43838913/150630357-90e73d41-9cf5-4491-b17f-430fa574d163.png)

[2022-01-22 08:31] zhangbo9674 commented on #39139
您好，您的反馈的问题对产品非常有价值，我们内部会安排评估，并尽快给您回复，感谢！

[2022-01-22 15:38] liddalidd opened #39147 "paddle实现交叉验证"
您好，请问如何使用paddle实现交叉验证呢？我在文档里好像没有找到对应的API

[2022-01-23 02:05] jim19930609 commented on #39126
您好，目前该问题定位到"to_tensor()"接口中的下述代码：

<img width="1019" alt="df9cb5efd016c01a01e6b37f69c3668e" src="https://user-images.githubusercontent.com/22334008/150661623-b352335c-c974-4f53-8dc0-863bb9838b7e.png">

目前来看Paddle暂时不支持分配内存到用户指定的卡上，需求已经反馈给相关同事了，未来的Paddle版本中会提高相关接口

[2022-01-23 02:37] johnyanccer commented on #38963
修改程序流程后，动转静出现warning提示，目测能正常运行，关闭此issuse
感谢回复各位

[2022-01-23 02:37] #38963 closed, assigned to wawltor

[2022-01-23 03:52] zhangbo9674 commented on #39147
您好，这里指的是如何实现用于交叉验证的数据集还是模型层面如何实现交叉验证？如果是数据集，目前应该是还为提供对应API，您可以在如下链接中填写您所需API的需求信息：https://docs.qq.com/sheet/DWnhZS3N1WUhMUW5Z

[2022-01-23 05:46] ziyuwzf commented on #39102
物理机的cuda和cudnn环境都是好的，文件都有，正常使用。在tensorflow的镜像生成的容器里面，手动安装paddlepaddle-gpu>=2.0就出现了这种错误。低版本的paddlepaddle-gpu没试过，担心版本过低。

[2022-01-23 07:41] ziyuwzf commented on #39102
通过cat /usr/local/cuda/include/cudnn.h | grep CUDNN_MAJOR -A 2命令，物理机执行成功，但是在tensorflow的容器内和paddle官方的容器内执行均不成功，没有cudnn.h相关文件

[2022-01-23 08:19] BamLubi commented on #37401
【队名】：BamTeam

【序号】：76

【论文】：Detecting Beneficial Feature Interactions for Recommender Systems

【状态】：报名

【repo链接】：https://github.com/BamLubi/Paddle-SIGN

[2022-01-23 08:38] skywalk163 commented on #39136
感觉有点乱，先把以前的发上去，后面再重新运行拿下log。

ps，在notebokk里面用!运行，应该跟控制台里命令执行一样吧？
# hapitrain.py

## 代码：
[code]
## workerlog 0信息
[code]
## workerlog1信息
[code]

# normaltrain.py训练
## 代码

[code]
## worker0.log
[code]

## worker1.log
[code]

[2022-01-23 08:46] sukibean163 commented on #37401
【队名】：just4fun

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution

【状态】：报名

【repo链接】：https://github.com/sukibean163/Paddle_DetectoRS

[2022-01-23 08:47] sukibean163 commented on #37401
【队名】：just4fun

【序号】：107

【论文】：Instances as Queries

【状态】：报名

【repo链接】：https://github.com/sukibean163/Paddle_QueryInst

[2022-01-23 08:49] sukibean163 commented on #37401
【队名】：just4fun

【序号】：16

【论文】：RetinaMask: Learning to predict masks improves state-of-the-art single-shot detection for free

【状态】：报名

【repo链接】：https://github.com/sukibean163/Paddle_RetinaMask

[2022-01-23 09:15] skywalk163 commented on #39136
重新运行了一下

## hapitrain.py多卡训练
执行命令`python -m paddle.distributed.launch hapitrain.py`
## 代码
[code]
## worker0.log
[code]
## worker1.log

[code]

# 基础api 多卡训练normaltrain.py
执行完上面的训练后，再执行普通api的多卡训练程序就会卡住。大约等了4分钟再手工ctrl—c终止了程序。
执行`python -m paddle.distributed.launch normaltrain.py`
## 代码
[code]
## worker0.log
[code]
## worker1.log
[code]

[2022-01-23 11:02] justld commented on #37401
【队名】：dudu

【序号】：8

【论文】：PVTv2: Improved Baselines with Pyramid Vision Transformer

【状态】：报名&提交

【repo链接】：https://github.com/justld/PVTV2_paddle

[2022-01-23 13:39] zhuangh7 opened #39154 "Paddle 运行卡死"
机器学习萌新，
照着这个在学习 https://www.paddlepaddle.org.cn/tutorials/projectdetail/2223654

系统 windows10， gpu 3060ti
在本地安装了paddle 2.2 cuda 10.2 cudnn 7.6之后
运行样例代码。
发现程序在
[code]
这行卡死
,观察任务管理器，发现python占用30%左右cpu，但未调用gpu。
然后跑python的terminal毫无反应。

求解。

By the way，作为一个机器学习的萌新，想靠着国产paddle 学习机器学习（主要发现paddle提供了丰富的教程），
但是在过程中遇到了非常多的困难，资料放置不合理，ui不合理，等等。
希望Paddle越做越好吧

[2022-01-23 15:48] zhuangh7 commented on #39154
![image](https://user-images.githubusercontent.com/16149477/150686643-b66ecea8-74f5-46be-ba6c-38c03f5df8ec.png)
运行安装验证程序paddle.utils.run_check()
卡在这里。

[2022-01-23 16:10] Beacontownfc commented on #37401
【队名】：灯塔镇

【序号】：99

【论文】：LUKE: Deep Contextualized Entity Representations with Entity-aware Self-attention

【状态】：报名&提交

【repo链接】：https://github.com/Beacontownfc/paddle_luke_stable

[2022-01-24 00:25] AnnaTrainingG commented on #39154
你好非常感谢您的反馈，后续会不断进行优化的，感谢您对paddle的支持。关于您提供的该问题可以通过升级cuda版本解决：更新一下，换到conda install paddlepaddle-gpu==2.2.1 cudatoolkit=11.2 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge此指令，可以通过自测。（原因是30系列的显卡不支持CUDA10了）

[2022-01-24 01:10] jim19930609 commented on #39102
从这个描述来看，应该是物理机内安装了cudnn，但是容器内cudnn没有安装或者不是在/usr/local/cuda/路径下。如果是Paddle官方容器的话请选择带有cuda镜像的类似：2.0.2-gpu-cuda11.0-cudnn8

另外从报错信息看和cudnn.h无关，应该是找不到动态库libcudnn.so。简单的检查容器内是否有安装cudnn支持的方法是运行：find / -name libcudnn.so，看是否有返回

[2022-01-24 02:09] zhangbo9674 commented on #39133
Hello, please follow the following prompts to check whether the paddle is successfully installed：
[code]
If the installation is successful, the following prompt will appear：
`PaddlePaddle is installed successfully! Let's start deep learning with PaddlePaddle now.`

[2022-01-24 02:22] zhangbo9674 commented on #39136
您好，请确认下是不是GPU版本的paddle
确认命令：
python3 -c 'import paddle, print(paddle.is_compiled_with_cuda())'
如果输出是True，表示是GPU版本；输出是False，则不是GPU版本。
如果不是GPU版本，请更换为GPU版本的apddle
如果是True， 请在启动任务前执行export GLOG_v=3 ,执行任务后提供一下全量日志

[2022-01-24 03:21] Gmgge opened #39161 "新手问题，如何设置可编译出自动适应avx的python包呢？像2.0.0版本那样"
你好，请问下，如何设置可以从源码编译出像2.0.0版本一样可以自动切换是否支持avx的python版本呢，想使用更新的版本，但是存在缺失avx指令集的机器。

[2022-01-24 03:32] Gmgge commented on #39161
如何同时生成paddle/fluid/core_noavx.so与paddle/fluid/core_avx.so呢？

[2022-01-24 03:58] xingfeng01 commented on #39161
WITH_AVX 环境变量用来控制是否使用 AVX
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/Tables.html#Compile

[2022-01-24 06:41] lidanqing-vv commented on #33069
The fix PR https://github.com/PaddlePaddle/Paddle/pull/38331 has been merged hence I close this issue.

[2022-01-24 06:41] #33069 closed, assigned to baoachun

[2022-01-24 06:42] #34732 closed, assigned to wozna

[2022-01-24 06:43] #35211 closed, assigned to lidanqing-vv

[2022-01-24 08:23] OneYearIsEnough commented on #37401
【队名】：Adream

【序号】：43

【论文】：Primitive Representation Learning for Scene Text Recognition

【状态】：提交

【repo链接】：https://github.com/OneYearIsEnough/PaddleOCR/tree/pren_juanbudong

[2022-01-24 08:54] jim19930609 commented on #39125
Reported this feature request to the developers in charge. Implementations expected in future Paddle releases.

[2022-01-24 09:05] arlesniak commented on #39133
Hi, the run_check() is successful, however I'm compiling Paddle from source and run specific tests i.e. `dist_hapi_mnist_static.py` , I did it a couple of days before and it was working, now it does not.

[2022-01-24 09:13] BeyondYourself commented on #37401
【队名】：beyond

【序号】：33

【论文】：UNETR: Transformers for 3D Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/BeyondYourself/paddle_UNETR

[2022-01-24 09:22] BeyondYourself commented on #37401
【队名】：beyond

【序号】：45

【论文】：RobustScanner: Dynamically Enhancing Positional Clues for Robust Text Recognition
【状态】：报名
【repo链接】：https://github.com/BeyondYourself/PP_RobustScanner

[2022-01-24 09:23] WhiteFireFox opened #39173 "关于自定义c++算子的运算结果不一致问题"
问题描述在这个仓库的readme里面，真的非常辛苦大佬了，在这里给各位大佬磕头了：

https://github.com/WhiteFireFox/rnnt

[2022-01-24 09:24] GT-ZhangAcer commented on #39173
Mark

[2022-01-24 09:31] BeyondYourself commented on #37401
【队名】：beyond

【序号】：47
【论文】：LGPMA: Complicated Table Structure Recognition with Local and Global Pyramid Mask Alignment
【状态】：报名
【repo链接】：https://github.com/BeyondYourself/pp_LGPMA

[2022-01-24 09:33] xingfeng01 commented on #39173
https://github.com/WhiteFireFox/rnnt/tree/main/paddle 这里好像少了 setup.py 文件

[2022-01-24 09:42] WhiteFireFox commented on #39173
不好意思，打包的时候忘了，已经更新上去了，辛苦您们再查收一遍

[2022-01-24 09:51] WhiteFireFox commented on #39173
刚刚更新了paddle/binding.cc文件，与aistudio上面的对应上了，辛苦您们查收，给大佬磕头了

[2022-01-24 10:17] #36597 closed, assigned to nobody

[2022-01-24 12:03] tongxin commented on #39061
你好，有没有详细的复现方式？

[2022-01-24 12:35] Gmgge commented on #39161
是否可以编译两次，通过开启与关闭获取两个paddle/fluid/core_noavx.so与paddle/fluid/core_avx.so，然后放在一个安装后的包中，达到2.0.0一样的效果？

[2022-01-24 13:43] markluofd opened #39187 "海光DCU编paddle-rocm linux gcc5.4版本失败"
背景：编译海光DCU用paddle-rocm库，用paddlepaddle/paddle:latest-dev-rocm4.0-miopen2.11镜像能够编译成功，但是该镜像内gcc版本为4.8版本，so在gcc高于4.8的linux环境内链接会出现ABI兼容性问题(gcc 4.8和gcc5.1之后版本ABI不兼容)，为了编译gcc5.4版本so，升级了paddlepaddle/paddle:latest-dev-rocm4.0-miopen2.11镜像内gcc版本到5.4，但是编译报错如下：
![image](https://user-images.githubusercontent.com/94596925/150792826-ecc30487-c434-4dc1-b86a-804222cf232e.png)

Paddle版本：release/2.1
CPU: 16核x86 cpu

[2022-01-24 14:00] jczaja commented on #38126
@baoachun I just rebased https://github.com/PaddlePaddle/Paddle/pull/39097 and it does make this issue to go away. So please test it if this PR #39097 works for you.

[2022-01-24 14:42] cloudy-sfu commented on #28205
我在使用pyinstaller打包依赖paddlepaddle的程序时出现了相同问题. 在普通*.py脚本运行时, paddlepaddle会在 `C:\Users\username\AppData\Local\` 位置创建一个以 `_MEI` 开头的随机文件夹, 并且里面包含依赖库, 例如 paddle 文件夹, 但是缺少 `paddle/libs`.

[2022-01-25 02:33] XYZ-916 opened #39195 "output_tensor.copy_to_cpu() ValueError: (InvalidArgument) The Variable type must be N6paddle9framework9LoDTensorE, but the type it holds is St6vectorIN6paddle9framework9LoDTensorESaIS2_EE."
Paddle版本2.2.1
利用静态图模型进行推理的时候，在output_tensor.copy_to_cpu()时出现了错误：
ValueError: (InvalidArgument) The Variable type must be N6paddle9framework9LoDTensorE, but the type it holds is St6vectorIN6paddle9framework9LoDTensorESaIS2_EE.
  [Hint: Expected holder_->Type() == VarTypeTrait<T>::kId, but received holder_->Type():13 != VarTypeTrait<T>::kId:7.] (at /paddle/paddle/fluid/framework/variable.h:54)

请问有什

[2022-01-25 02:43] ronny1996 commented on #39195
请问是使用的paddle inference吗？

[2022-01-25 02:45] XYZ-916 commented on #39195
是的。之前是可以的，后来不行了。我不清楚我的什么改动引起了这个错误。

[2022-01-25 02:49] xingfeng01 commented on #39187
已将问题发给 rocm 负责人

[2022-01-25 03:15] 133dzs opened #39196 "AlexNet前向传播速度慢"
   1）PaddlePaddle版本：2.2.0
    2）CPU：R5-4600h
    3）系统环境：win10，python3.8
使用paddle写的alexnet前向传播速度很慢
网络结构：带batchnorm的5层alexnet
输入：[3,3,255,255]
测试每一层的运行时间，paddle版的时间是pytorch版的10倍左右。
paddle版时间：[0.173, 0.615, 0.743, 0.901, 0.951]
pytorch版时间：[0.026, 0.068, 0.082, 0.093, 0.096]
附代码：
self.conv1 = nn.Sequential(
    nn.Conv2D(3, 96, 11, 2),
    nn.BatchNorm2D(96),
    nn.ReLU(),
    nn.MaxPool2D(3, 2))
sel

[2022-01-25 03:19] zhangbo9674 commented on #39139
您好，感谢您的反馈，目前Paddle尚未支持CosineAnnealingDecayWarmRestart，辛苦您在如下链接中填写您的需求，我们会尽快排期支持：https://docs.qq.com/sheet/DWnhZS3N1WUhMUW5Z?tab=BB08J2

[2022-01-25 03:33] ronny1996 commented on #39196
hi，请问是使用CPU跑的吗？

[2022-01-25 03:34] 133dzs commented on #39196
对，都是在笔记本的CPU上的测试结果，在服务器上的GPU环境速度没问题

[2022-01-25 05:18] ronny1996 commented on #39196
你好，我在Intel(R) Xeon(R) Gold 6148 CPU上测试10次平均，paddle和torch没有10倍的差距，是否是数据io造成的？

[code]

[2022-01-25 06:41] kangna-qi opened #39203 "[MLU] support distributed backend on mlu"
PR types
New features

PR changes
Others

Describe
this pr suport distributed backend on mlu, add cnclCommContext, add c_comm_init_op/c_gen_cncl_id_op/c_sync_comm_stream_op/c_broadcast_op,add c_broadcast_op pytest/gtest

[2022-01-25 06:43] #39203 closed, assigned to ronny1996

[2022-01-25 07:00] 133dzs commented on #39196
非常感谢帮忙测试，我换了一台电脑测试，发现速度差距变小了一些，之后会再调试。

[2022-01-25 07:00] #39196 closed, assigned to ronny1996

[2022-01-25 07:38] zhl98 commented on #37401
【队名】：PCALab-NNDM小组

【序号】：13

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/zhl98/Paddle_cvt

[2022-01-25 07:39] zhl98 commented on #37401
【队名】：PCALab-NNDM小组

【序号】：11

【论文】：Going deeper with Image Transformers

【状态】：报名

【repo链接】：https://github.com/zhl98/Paddle_gdiT

[2022-01-25 09:27] tangzhiyi11 opened #39217 "编译时候如何把paddle operators的单测打包到安装的whl包里？"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果我想把paddle op的python单测打包到 whl包里，编译的时候需要加什么参数可以呢？以前好像加了 with testing 之后whl包里是包含单测的，但是在某个版本之后好像移出了

[2022-01-25 09:54] YellowLight021 opened #39219 "分布式训练模型保存问题"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2022-01-25 10:04] ronny1996 commented on #39217
你好，目前没有参数可以打包paddle op的python单测

[2022-01-25 10:14] ronny1996 commented on #39219
您好，可以提供一下最小可复现代码吗？

不同环境的框架版本一样吗？

[2022-01-25 10:16] anliyuan opened #39220 "遍历 paddle.nn.Sequential()时候有bug"
import paddle
layers = paddle.nn.Sequential()
for i in range(10):
    layers.add_sublayer('block'+str(i), paddle.nn.Linear(10, 10))
for layer in layers:
    print(layer)

这里会报一个KeyError，但是如果add_sublayer时候不写'block'就不会报错。bug

[2022-01-25 10:26] FeixLiu commented on #39219
您遇到的情况是以下两种的那种呢？
1. 单卡情况下aistudio与notebook都正常，分布式情况下aistudio与notebook都不正常。
2. 无论单卡多卡，notebook都正常，而aistudio都不正常。

[2022-01-25 10:38] ronny1996 commented on #39220
您好，验证确实存在这个问题，正在进行反馈，如果需要遍历的话，可以先不加'block'

[2022-01-25 11:15] pmajchrzak commented on #39093
@jim19930609 @baoachun:

![image](https://user-images.githubusercontent.com/10847947/150966109-fb23dbdd-7cea-46a5-986f-9aab422f1ff0.png)

As you can see in the picture above, there is indeed some increase after the mentioned commit, but basically it only applies to the Bert model. Other models unchanged (see the red, dashed line on the charts - it marks the occurrence of the aforementioned commit

[2022-01-25 11:17] qili93 commented on #39187
hi, @markluofd ,

paddlepaddle/paddle:latest-dev-rocm4.0-miopen2.11 这个镜像里面的GCC/G++版本是 7.3.1-5，即devtoolset-7的版本。

原因是ROCM4.0软件栈官方的release notes里面只能支持devtoolset-7，这个是硬件SDK的要求。

![image](https://user-images.githubusercontent.com/16605440/150967193-aa4ad8a4-93e0-49e5-b688-8f1629098fbe.png)

详细信息可以参考 https://github.com/RadeonOpenCompute/ROCm/releases/tag/rocm-4.0.1

因此目前在海光DCU上暂时无法支持其他版本的GCC。

另外：关于镜像里

[2022-01-25 15:30] OneYearIsEnough commented on #37401
【队名】：Adream

【序号】：45

【论文】：RobustScanner: Dynamically Enhancing Positional Clues for Robust Text Recognition

【状态】：报名

【repo链接】：https://github.com/OneYearIsEnough/PaddleOCR/tree/rs_juanbudong

[2022-01-25 15:31] OneYearIsEnough commented on #37401
【队名】：Adream

【序号】：46

【论文】：From Two to One: A New Scene Text Recognizer with Visual Language Modeling Network

【状态】：报名

【repo链接】：https://github.com/OneYearIsEnough/PaddleOCR/tree/vlan_juanbudong

[2022-01-25 16:14] zhuangh7 commented on #39154
感谢，但是我查了3060ti好像不是安倍架构。跟着安装指南将cuda退回到了10.2，没想到居然不行啊。

[2022-01-25 19:54] shier1 commented on #37401
【队名】：十一

【序号】：6

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：提交

【repo链接】：https://github.com/shier1/CycleMLP-paddle

[2022-01-26 02:30] #38253 closed, assigned to ghostxsl

[2022-01-26 03:13] markluofd commented on #39187
感谢解答
有看到镜像里面使能了 devtoolset-7，但不确实是因为libstdc++.so版本低还是代码里有什么编译选项，镜像编出来的libpaddle_inference.so查看编译器是能看到gcc4.8.5的
![image](https://user-images.githubusercontent.com/94596925/151097783-1b5eca43-b188-4e0c-b929-252135f1895d.png)
而且，在一个高gcc版本的环境下链接libpaddle_inference.so也会报gcc 4.8的string带来的abi不兼容问题

[2022-01-26 03:14] markluofd commented on #39187
接上面

[2022-01-26 03:14] markluofd commented on #39187
![image](https://user-images.githubusercontent.com/94596925/151097984-5a9d08b9-12f5-432d-81ef-745df7b3cc25.png)

[2022-01-26 03:17] markluofd commented on #39187
想说有没有办法能解决当前镜像编译出的so在高gcc版本(gcc大于等于5.1)下面链接libpaddle_inference.so报abi不兼容的问题

[2022-01-26 08:12] Lieberk commented on #37401
【队名】：小丑不丑

【序号】：33

【论文】：UNETR: Transformers for 3D Medical Image Segmentation

【状态】：报名/提交

【repo链接】：https://github.com/Lieberk/Paddle-UNETR

[2022-01-26 09:00] Windyskys commented on #37401
【队名】：原魔玩家

【序号】：16

【论文】：RetinaMask: Learning to predict masks improves state-of-the-art single-shot detection for free

【状态】：报名

【repo链接】：https://github.com/Windyskys/paddle_retinamask

[2022-01-26 09:06] ronny1996 commented on #39217
你好，请问什么需求需要讲单测打包进whl包呢？

[2022-01-26 09:20] tangzhiyi11 commented on #39217
我这边主要是在xpu上适配不同的算子，我们在开发测试完成之后，会希望到不同的真卡机器上跑下看看，如果能把单测打包到whl包里的话，本地测试起来会比较方便

[2022-01-26 09:32] ronny1996 commented on #39217
是需要增加什么新的API吗？还是说为了避免再次编译？

[2022-01-26 09:36] tangzhiyi11 commented on #39217
避免单测脚本的拷贝吧，因为现在python单测依赖的很多文件并不包含在whl包中，导致如果要测一个新增的op必须要把所有依赖的文件拷贝过去，比较麻烦，期望是加一个编译选项，能够带单测，而且我感觉编译的时候加` -DWITH_TESTING `这个参数就应该实现这种功能才对。。

[2022-01-26 09:42] ronny1996 commented on #39217
paddle的单测很多，直接打包进去会导致包体积巨大，这个问题不能直接通过git clone代码解决吗？

我会向内部反馈这个需求，感谢您的建议

[2022-01-26 09:47] tangzhiyi11 commented on #39217
只是增加一种调试的whl包，实际线上用肯定不会加上的，感觉应该还好

这种方式不太友好。。

[2022-01-26 10:07] GamePlayerScript opened #39249 "c++ 使用opencv的cvtColor 转为灰度图再进行识别，predictor->run运行崩溃"
这个问题咋解决

[2022-01-26 10:49] xingfeng01 commented on #39173
已经分配到相关同学

[2022-01-26 10:50] WhiteFireFox commented on #39173
非常感谢您的帮助

[2022-01-26 10:58] qili93 commented on #39187
hi, @markluofd

你这里编译的是Paddle Inference的C++库对吗？这个库建议编译的时候带上 “-D_GLIBCXX_USE_CXX11_ABI=0” 的编译选项来保证GCC > 5.x 版本下的ABI兼容性。

如果加了以上编译选项之后，你的Inference C++ Lib库还是有问题，请发一下你编译Inference C++ lib库的CMake命令，谢谢！

[2022-01-26 11:02] zhangjun commented on #39249
您好，能提供下完整信息吗 包括复现代码、环境&版本、报错信息

[2022-01-26 11:11] chenwhql commented on #39173
请问这个算子，在C++代码实现中有随机数相关的逻辑吗

[2022-01-26 12:36] WhiteFireFox commented on #39173
C++代码实现中没有随机数相关，随机数是在python里已经取到了，paddle/pytorch都是用的numpy取的后再转Tensor，最后进的C++算子中进行运算

[2022-01-26 15:11] skywalk163 commented on #39136
是gpu版本的飞桨哦，输入命令：
python -c 'import paddle;print(paddle.is_compiled_with_cuda())' 输出是True 。

其实这个矩池云双GPU的环境，本身就是为了测试飞桨的分布式运行才使用的。运行fleet手册里的这个动态图程序是没问题的：https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/collective/collective_quick_start.html

我疑惑的是运行最简单的高层API程序没通过。

[2022-01-26 15:30] gyg123456 opened #39256 "Windows下安装GPU版本的paddlepaddle，paddle.utils.run_check()验证失败"
- 版本、环境信息
    1）PaddlePaddle版本：paddlepaddle-gpu：2.2.2
    2）CUDA版本：10.2
    3）CUDNN版本：cuDNN v7.6.5 (November 18th, 2019), for CUDA 10.2
    4）CPU：AMD Ryzen 7 5800H with Radeon Graphics
    5）GPU：NVIDIA GeForce RTX 3060 Laptop GPU
    6）操作系统：Windows 10 家庭中文版 + Python 3.6.15

- 安装方式信息
    python -m pip install paddlepaddle-gpu==2.2.2 -i https://mirror.baidu.com/pypi/simple

- 复现信息：命令行下import paddle成

[2022-01-26 20:48] Water2style opened #39258 "请问paddle现在有整合ImageNet数据集（ILSVRC2012）吗？"
训练和测试acc的时候会用上 ImageNet数据集.

自己找了半天好像没看到Paddle有支持ImageNet的预处理和使用.

请问有相关教程 或者 相似的开源使用代码推荐参考一下吗？ 谢谢！

[2022-01-27 00:17] skywalk163 commented on #39136
最简高层api代码，全量日志
## worker0.log
[code]
## worker1.log
[code]

[2022-01-27 01:51] zhangbo9674 commented on #39136
您好，如果单卡可以训练的话，尝试如下操作：
（1）代码加入paddle.device.set_device("gpu")；
（2）运行paddle.distribtuted.launch --gpus 0,1 train.py

[2022-01-27 01:56] chenwhql commented on #39173
好的，我复现一下再和您沟通

[2022-01-27 03:29] GamePlayerScript commented on #39249
//创建
    config = new OCRConfig("config.txt");
    config->PrintConfigInfo();

    det = new DBDetector(config->det_model_dir, config->use_gpu, config->gpu_id,
        config->gpu_mem, config->cpu_math_library_num_threads,
        config->use_mkldnn, config->max_side_len, config->det_db_thresh,
        config->det_db_box_thresh, config->det_db_unclip_ratio,
        config->visualize, config->use_t

[2022-01-27 03:46] pangyoki commented on #39161
你好，可以参考这个脚本：https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/scripts/paddle_build.sh
其中`combine_avx_noavx`脚本是把avx和noavx包合并到一起编包的。

[2022-01-27 05:05] fuqianya commented on #37401
【队名】：fuqianya

【序号】：50

【论文】：VinVL: Revisiting Visual Representations in Vision-Language Models

【状态】：提交

【repo链接】：https://github.com/cattidea/Oscar-Paddle

[2022-01-27 08:41] AnnYellow commented on #37401
【队名】：清水摸鱼

【序号】：41

【论文】：Image Super-Resolution Using Very Deep Residual Channel Attention Networks

【状态】：报名

【repo链接】：[https://github.com/AnnYellow/RCAN_Paddle](https://github.com/AnnYellow/RCAN_Paddle)

[2022-01-27 08:45] AnnYellow commented on #37401
【队名】：清水摸鱼

【序号】：201

【论文】：EfficientDet: Scalable and Efficient Object Detection

【状态】：报名

【repo链接】：[https://github.com/AnnYellow/EfficientDet_Paddle](https://github.com/AnnYellow/EfficientDet_Paddle)

[2022-01-27 08:51] ZzSean commented on #39258
你好，收到您的问题，有进展的话我这边会及时回复您

[2022-01-27 09:00] ZzSean commented on #39258
你好，在PaddleClas的配置文件中是有对ImageNet数据集的预处理的，如https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/ppcls/configs/ImageNet/MobileNetV1/MobileNetV1.yaml#L54 这里transform_ops就是对数据集的预处理过程

[2022-01-27 09:00] ZzSean commented on #39258
关于ImageNet的更多的使用可以参考PaddlePaddle的分类模型套件https://github.com/PaddlePaddle/PaddleClas

[2022-01-27 09:01] #39258 closed, assigned to ZzSean

[2022-01-27 09:09] tongxin commented on #39059
你好，请问paddle用的哪个版本？

[2022-01-27 09:43] Karenlyw opened #39284 "报错nExternalError: CUDNN error(3), CUDNN_STATUS_BAD_PARAM."
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.0 post101 paddlehub:2.0.0
    2）GPU：单机双卡Tesla M60、CUDA10.1 CUDNN7.6.5
    3）linux，Python版本3.7
使用hubserving启动ocr服务 hub serving start -m chinese_ocr_db_crnn_server -p 8866
服务器端不报错，客户端调接口报错：
{'msg': '\n\n  Compile Traceback (most recent call last):\n    File "tools/export_model.py", line 75, in <module>\n      main()\n    File "tools/export_model.py", line 51, in m

[2022-01-27 09:56] xinsuinizhuan commented on #38691
安排更新了没？现在啥进展？

[2022-01-27 09:59] tongxin commented on #39074
你好，我们会有相关开发同学回应，请耐心等待，谢谢。

[2022-01-27 10:00] chenwhql commented on #39173
同步一下进展，在测试脚本中，我看paddle和torch的写法不太一样，就把paddle的对应更新了一下，单测就没有diff了，麻烦您确认下是不是这样，更改如下

![image](https://user-images.githubusercontent.com/22561442/151334176-521bdbf4-311b-4fa2-b0fd-d91a6dd7387a.png)

但是我把torch的改成和之前paddle一样的写法，这里也是能过的，更改如下

![image](https://user-images.githubusercontent.com/22561442/151335569-acb8274b-6425-453e-a305-d1541a84f3e8.png)

这说明paddle这里可能存在什么隐性的bug，我还需要继续追查，如果您比较着急，可以先试试按上图更新

[2022-01-27 10:01] pangyoki commented on #39256
你好，麻烦打印下`nvidia-smi`和`nvcc -V`看看输出结果。

[2022-01-27 10:04] gyg123456 commented on #39256
[code]

[2022-01-27 10:05] gyg123456 commented on #39256
[code]

[2022-01-27 11:04] ZzSean commented on #39284
你好，根据报错信息应该是batchnorm中的参数传递出错了，由于该算子底层调用的是CUDNN，因此可以用CUDNN LOG 来打印信息，看log中报错接口的参数要求和实际的参数哪里出错，该LOG功能使用参考https://docs.nvidia.com/deeplearning/cudnn/developer-guide/index.html#api-logging
export CUDNN_LOGINFO_DBG=1
export CUDNN_LOGDEST_DBG=<log_file_name>

[2022-01-27 12:17] pangyoki commented on #39256
看起来cuda环境没啥问题，不过我们没有验证过 cuda driver version 11.6的情况。建议使用docker试一下吧：paddlepaddle/paddle:2.2.2-gpu-cuda10.2-cudnn7

docker安装文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/docker/linux-docker.html

[2022-01-27 12:46] gyg123456 commented on #39256
是不是将nvidia-smi命令下的CUDA VERSION降低到10.2就可以解决问题了呢？

[2022-01-27 13:16] WhiteFireFox commented on #39173
![X S6Y N4%OPLR% V { 5IZF](https://user-images.githubusercontent.com/57762833/151364263-10417e8c-d110-4fe8-a08d-662629b5b5f1.png)

有点奇怪，我这边test不过去，附上项目链接，可以帮忙看一下吗：https://aistudio.baidu.com/aistudio/projectdetail/3448565

[2022-01-27 13:28] LeronQ commented on #37401
【队名】：逗比小孩

【序号】：35

【论文】：A Style-Based Generator Architecture for Generative Adversarial Networks

【状态】：报名

【repo链接】：https://github.com/LeronQ/Paddle_Image_Generation

[2022-01-27 13:30] joey12300 commented on #39074
@akari0216 你好，可以看看有没有给新名称正确地赋值？把 两个版本的’weight_hh_l0‘和’ weight_hh_l0_raw‘都打印一下吧

[2022-01-27 13:46] lujiang001108 commented on #39004
老师好，就是2021LIC多形态信息抽取中的事件抽取代码。网址：https://aistudio.baidu.com/aistudio/projectdetail/1639964

在 2022-01-19 16:53:51，"李季" ***@***.***> 写道：

那个请问是ai studio的哪一个具体用例呢

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-01-27 13:50] chenwhql commented on #39173
好的，我明天在2.2上分析一下再回复您，可能是我这边用的是develop版本导致的

[2022-01-27 13:52] WhiteFireFox commented on #39173
好，那我尝试下develop版本后再给您回复，太感谢您了

[2022-01-27 13:55] LeronQ commented on #37401
【队名】：逗比小孩

【序号】：35

【论文】：A Style-Based Generator Architecture for Generative Adversarial Networks

【状态】：报名

【repo链接】：https://github.com/LeronQ/Paddle_Image_Generation

[2022-01-27 14:18] DYANYYY opened #39303 "windows下anaconda安装，验证报错"
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle2.2
    2）CPU：Core(TM) i9-8950HK
    3）GPU：NVIDIA GeForce GTX 1080
    4）系统环境：Windows 10 Home，64-bit，python3.9

- 安装方式信息：
Anaconda安装conda install paddlepaddle-gpu==2.2.2 cudatoolkit=11.2 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge
        
- 复现信息：(PreconditionNotMet) The third-party dynamic library (cudnn64_8.dll) that P

[2022-01-27 14:25] tongxin commented on #39042
请问问题是否已经解决？

[2022-01-27 14:27] #37045 closed, assigned to tongxin

[2022-01-27 14:29] #37039 closed, assigned to tongxin

[2022-01-27 14:29] #37041 closed, assigned to tongxin

[2022-01-27 14:30] #37032 closed, assigned to tongxin

[2022-01-27 14:30] #39033 closed, assigned to tongxin

[2022-01-27 14:51] tongxin commented on #39090
你好，你的本地环境可能安装了多个版本的 Cuda，可以看下 nvidia-smi 的输出。
另外稍加澄清两点：
1，同一台机器安装的 Cuda driver 和 Cuda runtime 版本号不同是正常的，无须多虑，nvidia-smi 命令显示的是 driver version。
2，nvcc 的 version 是 nvcc 识别的 Cuda version，是构建 nvcc 的时候就确定的，所以本地安装的时候要注意安装合适的 Cuda toolkit。
针对你的情况，可以考虑按官方说明重新安装 Cuda toolkit

[2022-01-27 14:56] ZzSean commented on #39303
你好，根据报错信息来看，应该是依赖的cudnn没有正确安装，麻烦确认下cudnn的版本和安装信息

[2022-01-27 15:02] DYANYYY commented on #39303
好的

[2022-01-27 15:50] WhiteFireFox commented on #39173
是的，在develop版本上面没有问题了，谢谢你了，确实2.2和develop有区别。

[2022-01-27 15:57] sfraczek commented on #37005
Why do they have to be skipped?

[2022-01-27 17:12] WhiteFireFox commented on #39173
在c++的实现中，rnnt这个算子在并行运算中需要取某个位置的数出来运算，取数的index是根据同一时刻载入gpu中推算得到的，会不会是这个问题导致的？

[2022-01-28 02:01] JamesLim-sy commented on #37270
请@LielinJiang 协助回答下

[2022-01-28 02:02] yeyupiaoling commented on #37270
终于有回复了

[2022-01-28 02:31] JamesLim-sy commented on #37291
[code]
需要注意的是: paddle.reshape(x, shape=[....]) api中只接受 shape值，而不接收axis值.
api具体用法见：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/reshape_cn.html#reshape

[2022-01-28 02:44] Gmgge commented on #39161
@pangyoki  好的，非常感谢

[2022-01-28 02:44] #39161 closed, assigned to xingfeng01

[2022-01-28 03:13] pangyoki commented on #39256
可以尝试下这种方法，但是不确定是否一定能解决。
docker里是标准环境，建议先用docker看能不能正常跑起来。

[2022-01-28 03:34] jiaohuix commented on #37401
【队名】：角灰大帝硬train一发

【序号】：255

【论文】：Recurrent Models of Visual Attention

【状态】：报名

【repo链接】：https://github.com/MiuGod0126/RAM-Paddle

[2022-01-28 03:35] jiaohuix commented on #37401
【队名】：角灰大帝硬train一发

【序号】：239

【论文】：MLP-Mixer: An all-MLP Architecture for Vision

【状态】：报名

【repo链接】：https://github.com/MiuGod0126/Mlp-Mixer-Paddle

[2022-01-28 03:37] jiaohuix commented on #37401
【队名】：角灰大帝硬train一发

【序号】：91

【论文】：FSMT: Facebook FAIR's WMT19 News Translation Task Submission

【状态】：报名

【repo链接】：https://github.com/MiuGod0126/FSMT_Paddle

[2022-01-28 03:42] gyg123456 commented on #39256
好像并不支持windows系统下的docker呢。

[2022-01-28 03:44] gyg123456 commented on #39256
我是Window 10操作系统，paddle好像并不支持windows系统下docker的安装。

[2022-01-28 06:32] LielinJiang commented on #37270
可以参考这种方式
[code]

[2022-01-28 06:34] yeyupiaoling commented on #37270
这样不行，因为它生成的数据小于1，导致模型出错。

[2022-01-28 06:34] yeyupiaoling commented on #37270
这个原因：https://github.com/PaddlePaddle/Paddle/issues/36213

[2022-01-28 06:35] yeyupiaoling commented on #37270
所以需要手动输入，但是手动输入，出现无法输入多个参数问题

[2022-01-28 06:37] LielinJiang commented on #37270
那可以改下你的网络就行，比如
[code]
这样就可以用inputs去构造了

[2022-01-28 06:39] yeyupiaoling commented on #37270
那算了，我不可能为了这个打印paddle.summary，修改整个项目，而且init_state这个参数有默认值None的。

[2022-01-28 07:19] chenwhql commented on #39173
2.2.2会报那个错误是由于在执行rnnt_loss之前，没有切换会gpu device导致的，2.2.2中tensor的stream是在当前全局place为gpu place时才会设置，而develop近期在自定义算子上有比较大的重构，取stream这里改为直接取全局默认stream了，所以develop不会报错

所以，在2.2要避免上面那个报错的话，需要把place改回来
![image](https://user-images.githubusercontent.com/22561442/151503731-6da11502-e251-4211-ac94-fcc89cc10e95.png)

[2022-01-28 07:21] Wuxiao85 commented on #37401
【队名】：小屋今天运动了吗

【序号】：56

【论文】：DeeperCut: A Deeper, Stronger, and Faster Multi-Person Pose Estimation Model

【状态】：报名

【repo链接】：https://github.com/Wuxiao85/Deeper-Pose-Estimation-Model

[2022-01-28 07:22] Wuxiao85 commented on #37401
【队名】：小吴今天运动了吗

【序号】：56

【论文】：DeeperCut: A Deeper, Stronger, and Faster Multi-Person Pose Estimation Model

【状态】：报名

【repo链接】：https://github.com/Wuxiao85/Deeper-Pose-Estimation-Model

[2022-01-28 07:25] chenwhql commented on #39173
develop近期对自定义算子的改动主要是，支持在自定义算子中调用C++ API，提升易用程度，目前基于develop版本，也可以使用`paddle::experimental::empty`, `paddle::experimental::zeros_like`等接口（因为API还不太稳定，暂时加experimental），参数基本和Python一致，目前接口还在不断补充中，预计2.3版本体系会比较完善，有兴趣您也可以试用

![image](https://user-images.githubusercontent.com/22561442/151504744-1bd1be63-ce7e-4a04-9b34-f3ec096658c1.png)

[2022-01-28 08:01] lidanqing-vv commented on #37005
@sfraczek maybe I did not make it clear. Cause I thought training quant model with GPU and understand those changing instructions sometimes took a lot of time for us. Hence I feel if Baidu could provide us quant models directly, we can skip generating quant model ourselves that will save us a lot of time. But now it seems we need quant model with elementwise_mul or add quantized, so we may have to

[2022-01-28 09:19] jyjfjyjf opened #39315 "计算误差问题（论文复现）"
- 标题：计算误差问题
- 版本、环境信息：
    1）PaddlePaddle版本：2.21
    3）GPU：RTX3090 24G cudnn8.2 cuda 11.6
    4）系统环境：win11，Python3.7

- 训练信息
    1）单机，单卡
    2）24G
    3）Operator信息
- 复现信息：误差变大
- 问题描述：
    pytorch的self.query_proj.weight与paddle的self.query_proj.weight比较

        from reprod_log import ReprodLogger
        reprod_logger = ReprodLogger()
        reprod_logger.add("logits", self.query_proj.weight.cpu().

[2022-01-28 09:45] Shun14 commented on #37401
【队名】：起飞

【序号】：16

【论文】：RetinaMask: Learning to predict masks improves state-of-the-art single-shot detection for free

【状态】：报名

【repo链接】：https://github.com/Shun14/RetinaMask-paddle

[2022-01-28 09:47] Shun14 commented on #37401
【队名】：起飞

【序号】：107

【论文】：Instances as Queries

【状态】：报名

【repo链接】：https://github.com/Shun14/QueryInst-paddle

[2022-01-28 09:57] WhiteFireFox commented on #39173
好的，这个C++ API期待已久了，期待您们的更新，但是有没有办法不用再在前面加set_device("cpu")这种操作呢，也想知道为啥先set_device("cpu")再.cuda就正常了。

[2022-01-28 10:31] chenwhql commented on #39173
嗯嗯，这个我还会继续追查，有进展再和您同步

[2022-01-28 10:42] wangzhanwei666 commented on #27842
paddlepaddle==2.2.2
paddleocr==2.4
scipy==1.5.0
numpy=1.19.1
亲测可用，主要是numpy的版本得升以下，原来1.18.5不行，报上面的错误

[2022-01-28 11:07] GT-ZhangAcer commented on #39173
非常感谢@chenwhql @xingfeng01 两位大佬这近些天的支持

[2022-01-28 13:13] gyg123456 commented on #39256
具体如何操作呢，docker里需要安装cuda 11.6吗

[2022-01-28 13:34] gyg123456 commented on #39256
可否加一下微信聊下呢

[2022-01-28 13:37] jyjfjyjf opened #39322 "Embedding问题"
code：
[code]
paddle：2.2.1

我embedding的大小只有100
为什么输入10000， 900， 800000却不会报错

[2022-01-28 14:05] JamesLim-sy commented on #39322
请@Yanxing-Shi  协助回答下

[2022-01-28 14:33] jyjfjyjf commented on #39322
@Yanxing-Shi

[2022-01-28 15:25] gsq7474741 commented on #37401
【队名】：PeachML

【序号】：46

【论文】：From Two to One: A New Scene Text Recognizer with Visual Language Modeling Network

【状态】：报名

【repo链接】：https://github.com/gsq7474741/VisionLAN.git

[2022-01-28 15:39] skywalk163 commented on #39136
哇，太棒了！
经过测试，在不使用--gpus 0,1 参数的情况，加入这句代码paddle.set_device("gpu") ，paddle.distribtuted.launch类型的几个程序（普通api程序和高层api程序）都可以运行成功了。

希望在相关手册里加上这句。

[2022-01-28 15:39] #39136 closed, assigned to zhangbo9674

[2022-01-28 15:42] lizn2016 commented on #37401
【队名】：桂小太郎
【序号】：37
【论文】：GAN Prior Embedded Network for Blind Face Restoration in the Wild
【状态】：报名
【repo链接】：[https://github.com/lizn2016/GPEN__lizn](url)

[2022-01-28 15:49] lizn2016 commented on #37401
【队名】：桂小太郎

【序号】：24

【论文】：V-Net: Fully Convolutional Neural Networks for Volumetric Medical Image Segmentation

【状态】：报名

【repo链接】：[https://github.com/lizn2016/Vnet_lizn](url)

[2022-01-28 15:55] lizn2016 commented on #37401
【队名】：桂小太郎

【序号】：42

【论文】：Conditional Image Generation with PixelCNN Decoders

【状态】：报名

【repo链接】： [https://github.com/lizn2016/PixelCNN_lizn](url)

[2022-01-28 15:59] lizn2016 commented on #37401
【队名】：桂小太郎

【序号】：13

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：[https://github.com/lizn2016/CvT_lizn.git](url)

[2022-01-28 16:10] skywalk163 opened #39323 "单机多卡spawn方式卡住"
在矩池云双NVIDIA Tesla K80 下，执行单机多卡训练，spawn方式无法正常跑通，表现为卡住。
使用的notebook 文档为这个项目里的ipynb文件：https://aistudio.baidu.com/aistudio/projectdetail/1222066
进入项目后，选择导出为ipynb文件，并上传到矩池云jupyter项目中，一键执行。

paddle.distributed.launch已经调通，现在spawn方式会卡住。
卡住的详细log信息：
[code]

使用官网文档，也会卡住。官网地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/06_device_cn.html#spawn
第二部分：spawn启动 章节的代码。
[code]

[2022-01-28 16:13] skywalk163 commented on #39323
因为卡住，再次运行可能会报显存不够而退出。第二段报错大约就是显存不够导致的。

[2022-01-29 01:32] jacobunderlinebenseal opened #39325 "怎么创建一个xpu的tensor?"
使用to_tensor创建，place只能是cpuplace和cudaplace，xpuplace就抱错。
paddlepaddle 2.1.1
python3.7.10
使用的kunlun的卡

[2022-01-29 06:35] guot23 commented on #37401
【队名】：云

【序号】：41

【论文】：Image Super-Resolution Using Very Deep Residual Channel Attention Networks

【状态】：报名

【repo链接】：https://github.com/guot23/Paddle-RCAN

[2022-01-29 07:52] thisjiang commented on #39325
您好！XPU是有专属Place的：`paddle.device.XPUPlace`， 参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/device/XPUPlace_cn.html#xpuplace

[2022-01-29 07:54] thisjiang commented on #39325
您可以使用`pd.to_tensor(x, dtype='float32', place=pd.device.XPUPlace(0))`来创建新tensor

[2022-01-30 00:12] OccupyMars2030 commented on #37401
【队名】：SmirnovKol

【序号】：13

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：提交

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-CvT

[2022-01-30 08:20] mmma-mua commented on #37401
【队名】：mmma-mua

【序号】：56

【论文】：DeeperCut: A Deeper, Stronger, and Faster Multi-Person Pose Estimation Model

【状态】：报名

【repo链接】：https://github.com/mmma-mua/DeeperCut-Paddle

[2022-01-30 08:35] skywalk163 commented on #39126
这个功能在李沐《动手学深度学习》飞桨版本中的第12章节会用到，希望以后会支持该功能。

[2022-01-30 08:35] #39126 closed, assigned to jim19930609

[2022-01-30 09:40] thisjiang commented on #39323
您好！您的反馈对产品非常有价值，我们复现后会尽快回复您～

[2022-01-30 10:16] WhiteFireFox commented on #39173
好的，感谢大佬们这些天的支持，期待您们的进展，使得python那边的coding更加简洁高效~

[2022-01-30 10:28] ETTR123 opened #39339 "【论文复现】模型导出时错误"
2022-01-30 18:11:11 [INFO]	Loaded trained params of model successfully.
/home/aistudio/.data/webide/pip/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:77: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  return (isinstance(seq, collections.Sequence) and
/home/aistudio/.data/webide/pip/lib

[2022-01-30 10:30] ETTR123 commented on #39339
#38253

[2022-01-30 12:04] Water2style commented on #37518
可是我需求就是在 静态图模式啊。。。

[2022-01-31 14:07] Beacontownfc commented on #37401
【队名】：灯塔镇

【序号】：100

【论文】：RemBERT: Rethinking embedding coupling in pre-trained language models

【状态】：报名&提交

【repo链接】：https://github.com/Beacontownfc/rembert_paddle

[2022-02-01 06:42] #28173 closed, assigned to guoshengCS

[2022-02-01 06:42] #28279 closed, assigned to jiweibo

[2022-02-01 06:42] #28502 closed, assigned to 123malin

[2022-02-01 06:43] #29201 closed, assigned to tink2123

[2022-02-01 06:43] #30377 closed, assigned to yaoxuefeng6

[2022-02-01 06:43] #30486 closed, assigned to nobody

[2022-02-01 06:43] #30491 closed, assigned to nobody

[2022-02-01 06:43] #30504 closed, assigned to huangjun12

[2022-02-01 06:43] #30534 closed, assigned to LDOUBLEV

[2022-02-01 06:43] #30552 closed, assigned to LDOUBLEV

[2022-02-01 06:43] #30575 closed, assigned to lfchener, Shixiaowei02

[2022-02-01 06:43] #30591 closed, assigned to wangxicoding

[2022-02-01 06:43] #30613 closed, assigned to wangxicoding

[2022-02-01 06:43] #30621 closed, assigned to jiweibo

[2022-02-01 06:43] #30652 closed, assigned to 123malin

[2022-02-01 06:43] #30653 closed, assigned to 123malin

[2022-02-01 06:43] #30662 closed, assigned to 123malin

[2022-02-01 06:43] #30663 closed, assigned to vslyu

[2022-02-01 06:43] #30670 closed, assigned to vslyu

[2022-02-01 06:43] #30688 closed, assigned to TCChenlong, wanghuancoder, YixinKristy

[2022-02-01 06:43] #30742 closed, assigned to zhwesky2010

[2022-02-01 06:43] #30699 closed, assigned to Joejiong

[2022-02-01 06:43] #30737 closed, assigned to zhwesky2010

[2022-02-01 06:43] #30759 closed, assigned to zhwesky2010

[2022-02-01 06:43] #30762 closed, assigned to nobody

[2022-02-01 06:43] #30764 closed, assigned to haozech

[2022-02-01 13:34] BrilliantYuKaimin commented on #37401
【队名】：为往生继绝学

【序号】：224

【论文】：Learning a Generative Model from a Single Natural Image

【状态】：提交

【repo链接】：https://github.com/PaddlePaddle/PaddleGAN/pull/576

[2022-02-02 18:05] Akhilesh64 opened #39345 "No allocator found for the place, CUDAPlace(0)"
Hi, I am trying to perform text detection using the DB model present in the paddleOCR repo as shown [here](https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.4/doc/doc_en/inference_ppocr_en.md#text-detection-model-inference). The inference runs fine locally but when i try to run it as a service in a docker container it throws the traceback shown in the image below. I am using the predict_det

[2022-02-04 03:38] ceci3 commented on #39345
you install paddlepaddle with cpu version，but use gpu to predict

[2022-02-04 03:43] Akhilesh64 commented on #39345
@ceci3  I am using use_gpu=False argument in the script. Can you tell me what to do.

[2022-02-04 08:31] Beacontownfc commented on #37401
【队名】：灯塔镇

【序号】：92

【论文】：Universal Language Model Fine-tuning for Text Classification

【状态】：报名

【repo链接】：https://github.com/Beacontownfc/adwlstm_paddle

[2022-02-04 13:10] xu-peng-7 opened #39348 "LSTM运行报错"
AISTUDIO32G 至尊版在线环境
paddle2.2

运行rnn时，第二个iter报错

rnn = paddle.nn.LSTM(input_size=embedding_dim,
                                hidden_size=hidden_size,
                                num_layers=num_layers)

OSError: (External) CUDNN error(3), CUDNN_STATUS_BAD_PARAM.
  [Hint: 'CUDNN_STATUS_BAD_PARAM'.  An incorrect value or parameter was passed to the function. To correct, ensure that all the par

[2022-02-04 13:24] LielinJiang commented on #39348
能否公开一下可复现的ai studio项目链接？

[2022-02-04 13:51] xu-peng-7 commented on #39348
项目“『IMAGE-CAPTION』基于CNN-RNN的医疗文本生成”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/3388563/ad5b1c0978eb4a54a1c6680deb5fa398

您一键运行就可以了

[2022-02-04 13:52] xu-peng-7 commented on #39348
应该是数据的格式错误，但是不知道怎么定位是shape还是type错误，麻烦您帮忙看一下

[2022-02-04 14:15] xu-peng-7 commented on #39348
定位到了：paddle.nn.LSTM使用的时候有个sequence_length参数，用于控制输入的有效数据长度，该参数必须小于输入数据长度。 在进行文本任务时，经常需要对数据进行截断，加上start和end后，会超出预设的长度。因此要特别关注这个参数的取值。

[2022-02-04 14:15] #39348 closed, assigned to LielinJiang

[2022-02-04 18:27] Akhilesh64 commented on #39345
I had to build the library from source on python3.7 to make this work. There seems to be some problem with the CPU version of the current release as I wasn't able to run any paddle module on an AWS EC2 instance(c5) container. For anyone in the future with this problem build the library from source by following [this](https://www.paddlepaddle.org.cn/documentation/docs/en/1.6/beginners_guide/install

[2022-02-04 18:27] #39345 closed, assigned to ceci3

[2022-02-05 03:14] wy1996-hub opened #39350 "飞桨官方您好，请问飞桨目前有三维点云配准相关的仓库，包括网络模型或者课程的内容么？谢谢！"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2022-02-05 14:14] OneYearIsEnough commented on #37401
【队名】：Adream

【序号】：43

【论文】：Primitive Representation Learning for Scene Text Recognition

【状态】：提交

【repo链接】：https://github.com/OneYearIsEnough/PaddleOCR/tree/pren_juanbudong

[2022-02-07 01:33] jacobunderlinebenseal commented on #39325
您好，这样会报错，提示place只能是cpuplace和cudaplace或cudpinnedplace

[2022-02-07 02:21] wadefelix commented on #28502
补充：
https://hub.docker.com/r/paddlepaddle/paddle
2.1和2.2均发布了相应的jupyter镜像，如最新版本的镜像是`paddlepaddle/paddle:2.2.2-jupyter`

[2022-02-07 02:26] wadefelix commented on #33178
`git submodule` 对新手其实不友好，克隆和更新子模块时需要使用`git submodule` 相关命令，一般新手可能不熟悉这些git指令。较好的方法就是使用便捷的方法能指定这些依赖库的mirror仓库地址，若能自行本地建mirror则更佳。

[2022-02-07 05:51] xinsuinizhuan commented on #33178
22>fatal: unable to access 'https://github.com/protocolbuffers/protobuf.git/': Failed to connect to github.com port 443: Timed out
22>Cloning into 'extern_protobuf'...
23>fatal: unable to access 'https://github.com/google/glog.git/': Failed to connect to github.com port 443: Timed out
23>Cloning into 'extern_glog'...
22>fatal: unable to access 'https://github.com/protocolbuffers/protobuf.git/': Fa

[2022-02-07 06:05] xinsuinizhuan commented on #33178
就是我这些库都手动下载下载了，怎么放到对应目录下？
![图片](https://user-images.githubusercontent.com/40679769/152733488-b8882f28-73cf-4132-91a3-fe2370228c9c.png)

[2022-02-07 06:40] ghost commented on #28502
好的，谢谢贡献，我之前用的1.x的版本，没有找到jupyter功能，需要自己去搭建，现在2.x的已经有了

[2022-02-07 06:46] zlsh80826 commented on #37016
It seems the bug has been fixed on the latest develope branch.

[2022-02-07 06:46] #37016 closed, assigned to nobody

[2022-02-07 07:25] zlsh80826 opened #39363 "test_static_save_load error"
- 版本、环境信息：
    1）PaddlePaddle版本：v2.2.2, develop branch
    2）CPU/GPU：CPU
    3）系统环境： [paddlepaddle/paddle:2.2.2](https://hub.docker.com/layers/paddlepaddle/paddle/2.2.2/images/sha256-8b08aec5a3898c1478bcfd3c30fdbdb118eb53d75b7f585fc910d5173dca9c50?context=explore)
    4）Python版本号: 無
    5）显存信息
[code]

- 复现信息：如为报错，请给出复现环境、复现步骤: 提供以下 Dockerfile
[code]
接著照以下指令复现
[code]
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码

[2022-02-07 08:32] graczhual opened #39367 "不支持多进程读取数据"
- “自定义数据集，设置num_workers后警告不支持多进程”
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.2
    2）芯片：M1
    3）系统环境：macOS 12.1，Python 3.9.4

- 问题描述：随意自定义数据集，定义dataloader时设置num_workers>0，运行警告且不起作用。是不支持该功能吗，但文档中没有任何地方提示了该功能暂时无法使用。
<img width="749" alt="image" src="https://user-images.githubusercontent.com/87636820/152751922-52a9f68b-6dc7-4bd3-a4c5-42cee8f6a9d7.png">

[2022-02-07 09:26] #39005 closed, assigned to jakpiase

[2022-02-07 09:27] lidanqing-vv commented on #38856
related to #36541

[2022-02-07 10:58] jczaja commented on #28555
@jiangjiajun Can you provide openvino (single thread) and PaddlePaddle (single thread) execution times?

[2022-02-07 11:14] jyjfjyjf commented on #37401
【队名】：异常数据

【序号】：85

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：提交

【repo链接】：https://github.com/jyjfjyjf/DeBERTa

[2022-02-07 11:26] Water2style opened #39373 "ImageNet的分类模型，剪枝后的re-train相关问题."
分类模型剪枝后，需要re-train.
我是准备做基于ImageNet数据集的剪枝后评估,我想问一下, 是否需要在140GB版本的完整训练集上re-train?

自己有一个小的ImageNet-train数据集,就100张图片，re-train很快能恢复acc.（基于PaddleClas的预训练模型）
但是使用大一些的ImageNet-train数据集(1000类，每类100个图) , loss就降低得很慢，acc很低很低.
并且存在一个问题，剪枝后，eval一下，acc1还有一些数，大概30%，到了re-train，这acc1直接降低到1%，然后更小....这为什么会直接降低到1%....

所以想问一下，是否需要在140GB版本的完整训练集上re-train? 或者开发人员是否有相关的建议呢~谢谢！

[2022-02-08 01:05] FrostML commented on #39350
您好，目前还没有点云配准的模型和 repo。

[2022-02-08 01:35] ziyuwzf commented on #39102
给镜像重新安装cudnn后，问题解决。是tensorflow的官方镜像缺失cudnn文件出了问题。

[2022-02-08 02:01] wadefelix commented on #33178
参考我的这个方法 https://github.com/wadefelix/Paddle/commit/12175221b29dee64e92b562340908e2896054214

我的地址是 在自己的nas上建立了这些仓库的mirror的，自动定期同步的。
对于只在自己的一台电脑上工作的， 你可以把仓库克隆到另外一个文件夹，git url是可以写本地文件系统路径的。 比如你把pybind11给克隆到了 `/Project/github.com/pybind11` 目录了，那么在这个cmake文件里就把地址改为`/Project/github.com/pybind11`即可，git会从那个目录再clone到这个cmake系统指定的目录。
这样只用改地址，而不需要更改别的代码脚本。

[2022-02-08 02:02] Beacontownfc commented on #37401
【队名】：灯塔镇

【序号】：95

【论文】：Megatron-LM: Training Multi-Billion Parameter Language Models Using Model Parallelism

【状态】：报名&提交

【repo链接】：https://github.com/Beacontownfc/MegatronBert_paddle

[2022-02-08 02:27] FlyingQianMM commented on #39350
@wy1996-hub 官方目前还没开放点云配准的模型和repo，我们正在调研和初步实验点云的相关应用和模型开发，包括用2D/3D卷积/GNN之类的网络结构。方便问下您三维点云配准的需求具体是面向什么应用场景，是用于渲染还是？另外也想向您了解下解决点云配准现在是用传统算法多些还是基于深度学习的算法多些，可以的话能告知下您目前使用的方法吗？非常感谢！

[2022-02-08 02:41] thisjiang commented on #39325
那请问您是否有安装XPU版本的Paddle呢？如若没有，您可以尝试通过` pip install paddlepaddle-xpu`命令来进行安装，或参考如下教程：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/09_hardware_support/xpu_docs/paddle_install_cn.html

[2022-02-08 03:19] ZzSean commented on #39284
你好，请问问题是否已经解决，该issue能否close？

[2022-02-08 03:19] ZzSean commented on #39303
你好，请问问题是否已经解决，该issue能否close？

[2022-02-08 03:29] zlsh80826 commented on #39256
請試一下 [2.2.2-gpu-cuda11.2-cudnn8](https://hub.docker.com/layers/paddlepaddle/paddle/2.2.2-gpu-cuda11.2-cudnn8/images/sha256-09603d35054766f0d328ab4368a5eb8dbf92d0802041308992df1db41601e817?context=explore), 30系的顯卡需要 cuda 11 才能支援

對應 cmake 編譯代碼: https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/cuda.cmake#L197

[2022-02-08 03:59] danleifeng commented on #39367
您好，目前多进程是只支持linux环境，暂不支持mac和windows。我们将会在文档中补充说明，非常感谢~

[2022-02-08 04:04] wanghaoshuang commented on #39373
剪枝是优先剪掉l1norm比较小的通道，所以能保留部分精度(acc)；

应该是初始学习率比较大，相当于重新初始化了剪枝后的模型权重；这种情况下，剪枝所起的作用本质上是“模型结构搜索”。
可以降低re-train的初始学习率，观察下精度(acc)损失情况。

需要在完整的训练集上re-train.

另外，也可以尝试用蒸馏方法提升剪枝之后的模型acc。

[2022-02-08 04:06] xushouyan2022 commented on #37401
【队名】：xushouyan88的团队

【序号】：5

【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search

【状态】：报名

【repo链接】：https://github.com/xushouyan2022/cream

[2022-02-08 04:41] thisjiang commented on #39323
您好！我这边在本地Tesla V100-SXM2-32GB双卡环境下复现链接（https://aistudio.baidu.com/aistudio/projectdetail/1222066 ）中的3种spawn启动代码（基础API未改动、改动三处、高层api）均能正常运行，未能成功复现您说的问题。您可以检查下paddlepaddle版本是否大于等于2.1.1？

[2022-02-08 05:07] zlsh80826 opened #39382 "單測 random seed 未固定導致單測不穩定"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID: develop
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号:
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
[code]
問題描述:
``test_linalg_cond``, ``test_custom_conj``, ``test_linalg_pinv_op`` 這幾個單測生成測試輸入的 random seed(or reg) 沒有固定, 導致單測會隨機錯誤

[2022-02-08 05:24] d294270681 commented on #37401
【队名】：paddle_as_torch

【序号】：89

【论文】：ProphetNet: Predicting Future N-gram for Sequence-to-Sequence Pre-training

【状态】：提交

【repo链接】：https://github.com/d294270681/ProphetNet-paddle

[2022-02-08 05:25] d294270681 commented on #37401
【队名】：paddle_as_torch

【序号】：89

【论文】：ProphetNet: Predicting Future N-gram for Sequence-to-Sequence Pre-training

【状态】：报名&提交

【repo链接】：https://github.com/d294270681/ProphetNet-paddle

[2022-02-08 05:33] ForFishes commented on #39382
您好，这个几个单侧会随机挂吗？有些单测的随机性是不需要固定的，这个几个单侧在ci也没有出现随机挂的情形。

[2022-02-08 06:10] xinsuinizhuan commented on #33178
![图片](https://user-images.githubusercontent.com/40679769/152928487-0c674a42-25fb-4808-b440-f49822099382.png)
我都指定了，它还是去下载。

[2022-02-08 06:54] Water2style commented on #39373
谢谢haoshuang大佬!
我们准备对多个模型剪枝，多个剪枝比例...然后多个re-train, 现在看起来，在imagenet上的话，可能花的时间有点多了 2333333

[2022-02-08 08:16] gyg123456 commented on #39256
好的，谢谢你

[2022-02-08 08:16] gyg123456 commented on #39256
好的，谢谢你

[2022-02-08 09:07] #39373 closed, assigned to wanghaoshuang, danleifeng

[2022-02-08 09:07] Aganlengzi commented on #39133
@arlesniak hi, I cannot reproduce it with both CommitID 814e5ab4e83 and the newest develop branch CommitID 0fee00442a on my environment, would you please check this with newest commit in develop branch?

[2022-02-08 09:28] NatLee opened #39398 "如何使用CPU多線程進行預測"
Paddle 官方您好

我使用ERNIE模型在CPU上對中文情緒進行預測，發現預測只用了單線程

想請問Paddle是否能夠使用多線程預測？

像是Tensorflow的CPU版本可以透過Config來設定使用的線程數量，Paddle是否也有類似的設定？

謝謝！

[code]

[2022-02-08 09:29] graczhual commented on #39367
好的，感谢回复

[2022-02-08 09:30] #39367 closed, assigned to danleifeng

[2022-02-08 09:44] Hi-mawari opened #39399 "paddlepaddle使用pip安装没有报错 但是也没正常安装"
$ python -m pip install --no-index --find-links=/opt/paddle/ paddlepaddle
Looking in links: /opt/paddle/
Processing ./paddlepaddle-2.2.2-cp36-cp36m-manylinux1_x86_64.whl
Processing ./decorator-5.1.0-py3-none-any.whl
Processing ./Pillow-8.2.0-cp36-cp36m-manylinux1_x86_64.whl
Processing ./astor-0.8.1-py2.py3-none-any.whl
Processing ./requests-2.24.0-py2.py3-none-any.whl
Processing ./six-1.16.0-py2.p

[2022-02-08 09:55] jczaja commented on #38693
@pawelpiotrowicz will investigate a problem

[2022-02-08 10:05] wadefelix commented on #33178
做个cmake clean呢

[2022-02-08 13:31] DYANYYY commented on #39303
已解决，感谢，可以close

[2022-02-08 13:31] #39303 closed, assigned to ZzSean

[2022-02-08 13:51] ForFishes commented on #39399
您好，请问这个不正常安装是指什么想象？直接安装报了什么错误？

[2022-02-08 14:03] 154912369 commented on #39398
感觉你应该写清楚paddle版本，预测的语言等等信息。

[2022-02-08 14:51] 0xC4FED6C7CCCE opened #39407 "Mac下载成功 导入失败"
- 版本、环境信息：
    1）PaddlePaddle版本: 2.2
    4）系统环境：Mac OS 10.15.7、Python3.8

- 安装方式信息：
1）pip安装          
- 复现信息：
![截屏2022-02-08 下午11 19 07](https://user-images.githubusercontent.com/49481572/153017603-09b0b161-a1ae-4dc6-8795-866e177783e9.png)

- 问题描述：

[2022-02-08 17:28] NatLee commented on #39398
感謝，我已補上！

[2022-02-08 21:09] lnc007lnc opened #39410 "有关模型参数加载和设置的API"
我尝试对于模型存储参数文件进行压缩优化时候遇到了一些问题。
1. 如果我同时加载.pdmodel和.pdiparam文件，对于得到的program进行set_program_state()是可以成功设置的。但是如果我对只加载.pdmodel文件得到的program进行相同的set_program_state()时却无法设置成功，提示scope找不到对应名称的变量。
所以是我的api用错了吗？如果我想只载入一个空的模型框架program，然后手动设置该program的每层参数我该怎么办？用什么API？

2. 另一个问题是如果当我只加载一个.pdmodel获得program时，我怎样通过layer名称找到里面的信息？
例如，如果我直接print program时，我可以看到如下信息：
...
persist var conv3_weights : LOD_TENSOR.shape(384,

[2022-02-09 00:38] Hi-mawari commented on #39399
无报错。pip安装命令输入以后第一个打印不应该是collecting paddlepaddle嘛?我是Looking in links:/opt/paddle/。而且打印结束以后应该有个successfully installed paddlepaddle-版本号输出，我也没有。我输入打印命令以及接下来控制台日志都在上面。
包括最后去python执行import也是不行。

[2022-02-09 02:06] jiangjiajun commented on #28555
Hi, @jczaja There's a report that shows the performance comparison between OpenVINO and PaddlePaddle-MKLDNN

Under batch=1, thread=1, CPU: Intel(R) Xeon(R) Gold 5117 CPU @ 2.00GHz (12核)
ShffuleNetV2_x1 with PaddlePaddle-MKLDNN is about 5ms
ShuffleNetV2_x1 with OpenVINO is about 3ms

[2022-02-09 02:58] wang-kangkang opened #39412 "path_prefix参数不允许加最后一个/"
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/static/io.py#L74   这个设定好鸡肋啊，既然是路径前缀，加不加最后一个/有什么区别呢。
def _normalize_path_prefix(path_prefix):
    """
    convert path_prefix to absolute path.
    """
    if not isinstance(path_prefix, six.string_types):
        raise ValueError("'path_prefix' should be a string.")
    if path_prefix.endswith("/"):
        raise ValueError("'path_p

[2022-02-09 03:26] Hi-mawari commented on #39399
已解决  非常感谢

[2022-02-09 03:34] Hi-mawari commented on #39399
另外有个问题希望能回答一下，非常感谢
在我本地下载好模型后 hub命令有离线安装的功能吗？

[2022-02-09 03:53] pangyoki commented on #39407
你好，麻烦加上sudo权限安装试一下

[2022-02-09 04:19] odidev commented on #36742
@wangye707, is there any plan for releasing AArch64 wheels on PyPI.

[2022-02-09 06:18] baoachun commented on #39398
@NatLee 您好
您可以参考该C++多线程例子进行改写：https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/c%2B%2B/test/shrink_memory/multi_thread_test.cc 。

Python接口的具体用法可参考：https://paddleinference.paddlepaddle.org.cn/api_reference/python_api_doc/Predictor.html 或 https://paddleinference.paddlepaddle.org.cn/api_reference/python_api_doc/PredictorPool.html 。

[2022-02-09 07:26] wangye707 commented on #36742
@odidev 这个季度应该有计划，@ZihanDong

[2022-02-09 07:48] ForFishes commented on #39399
您好，请问说的是paddlehub吗？如果是paddlehub的问题，麻烦移步到paddlehub的repo下提issue，thx。

[2022-02-09 08:19] Hi-mawari commented on #39399
确实   那这串就关闭了   感谢

[2022-02-09 08:20] #39399 closed, assigned to ForFishes

[2022-02-09 08:38] ZihanDong commented on #36742
我们预计会在下个正式版本(一个季度后)的官方文档中加入针对AArch64平台的wheel安装包下载链接，但是暂时不会发布到PyPI中

We are planning to add the download link of the wheel installation package for AArch64 in the official documentation in our next release (about 3 months later), but it will not be available on PyPI

[2022-02-09 09:30] johnson7788 commented on #38379
## 没搜到对应的版本
python -c "import platform;print(platform.architecture()[0]);print(platform.machine())"
64bit
arm64

python -m pip install paddlepaddle==2.2.1 -i https://mirror.baidu.com/pypi/simple
Looking in indexes: https://mirror.baidu.com/pypi/simple
ERROR: Could not find a version that satisfies the requirement paddlepaddle==2.2.1
ERROR: No matching distribution found for paddlepaddle==2.2.1

py

[2022-02-09 10:18] odidev commented on #36742
@ZihanDong, May I know the reason for not uploading the wheels on PyPI? Are you facing any issues while uploading? Can I contribute in uploading the wheels on PyPI?

[2022-02-09 11:20] AnnaTrainingG commented on #39154
非常感谢您的反馈，后续我们会不断更新安装指南的。

[2022-02-09 11:20] #39154 closed, assigned to AnnaTrainingG

[2022-02-09 13:29] yaoxuefeng6 commented on #39410
你好，根据API的设计，set_program_state需要加载完整的program 包括网络描述(.pdmodel)和模型参数(.pdparams)文件，目前不支持仅加载.pdmodel文件后配置参数。 可以参考这个文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/static/Program_cn.html#program 来获取program内参数等操作

[2022-02-09 13:30] yaoxuefeng6 commented on #39412
多谢反馈。

[2022-02-09 13:31] lnc007lnc commented on #39410
但是如果我想仅加载.pdmodel文件后配置参数，有这样的api吗？

[2022-02-09 13:31] yaoxuefeng6 commented on #39410
暂时没有

[2022-02-09 13:40] jianengli commented on #12880
请问你解决了这个问题吗？

[2022-02-09 14:02] pawelpiotrowicz commented on #38693
I can't reproduce the issue , I used latest code . I tested Release & Debug version.
[code]

![errok](https://user-images.githubusercontent.com/48519735/153216129-10890a7c-23f4-45c5-beb9-dd82a7608964.png)

[2022-02-09 14:56] lnc007lnc commented on #39410
那我如果想自己开发的话，大概提前需要设置哪些东西？

我看源码似乎是因为单独加载.pdmodel文件没有给scope赋值，导致scope中没有对应的layer名称的变量，所以设置失败。或许我可以先生成对应名称的变量加载到scope中，然后set_program_state？

[2022-02-09 16:14] jczaja commented on #28555
@jiangjiajun Thanks for info. We will look to that one.

[2022-02-10 02:24] baoachun commented on #38693
Sorry for the typo in the name of the unit test.

[2022-02-10 03:00] GitLiyx commented on #37401
【队名】：Bruce Lee

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution

【状态】：报名

【repo链接】：https://github.com/GitLiyx/DetectoRS

[2022-02-10 05:33] lkpkazx opened #39445 "由于nvidia驱动升级很快，导致cuda版本越来越高，GPU环境配置越来越困难，希望官方早日研发打包cuda11.4版本的paddle。万分感谢！"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2022-02-10 05:47] GitLiyx commented on #37401
【队名】：Bruce Lee

【序号】：16

【论文】：RetinaMask: Learning to predict masks improves state-of-the-art single-shot detection for free

【状态】：报名

【repo链接】：https://github.com/GitLiyx/RetinaMask

[2022-02-10 06:26] zlsh80826 opened #39446 "test_eigh_op, test_eigvalsh_op tolerance"
- 标题：test_eigh_op, test_eigvalsh_op 單測問題
- 版本、环境信息：
    1）PaddlePaddle版本：develop
    2）CPU/GPU：GPU, CUDA 11.6
    3）系统环境：Ubuntu20.04
    4）Python版本号: python3.8
- 复现信息:
[code]
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
1. 在 CUDA 11.6 後 cusolver 改進了 Ssyevd 的性能, 但同時和 numpy 的差異會略微放大 [test_eigh_op](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_eigh_op.py#L85-L86)

[2022-02-10 07:40] Zhangts98 opened #39451 "训练被中断"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.5
    2）CPU：Intel(R) Xeon(R) CPU E5-2680 v4 @ 2.40GHz
    3）GPU：4 张 GTX-1080 ， cuda-10.0, cudnn 7.6.5
    4）系统环境：centos7, python3.7

- 训练信息
    1）多卡训练

- 问题描述：训练突然被中断了（非手动中断），下面是中断时出现的信息
![企业微信截图_16444776033969](https://user-images.githubusercontent.com/61573829/153358758-8ef5beda-d120-4011-ad5c-803d0dbf45cb.png)
我看上面的报错信息有关于date，因为这台机器每次开机时，时间都不准确，需要校准，所以我在开机时执

[2022-02-10 07:58] Zhangts98 commented on #39451
通过 执行 fuser -v /dev/nvidia* 可以看到确实有进程在占用显卡，
![企业微信截图_1644479373338](https://user-images.githubusercontent.com/61573829/153362131-085ffcec-2eec-4f22-b12e-5fef04bf6409.png)

通过 使用  kill -9 进程号 杀死这些进程后， 重新执行 nvidia-smi 和ps -aux | grep python,结果如下
![企业微信截图_1644479506373](https://user-images.githubusercontent.com/61573829/153362162-4bcd308e-671e-4d9d-a22a-08c36e413cac.png)
![image](https://user-images.

[2022-02-10 08:25] YellowLight021 commented on #39219
你好我可以把代码公开下https://aistudio.baidu.com/aistudio/clusterprojectdetail/3467470。在这个脚本下直接提交就可以了。

[2022-02-10 08:25] YellowLight021 commented on #39219
notebook是正常的，notebook也只支持单卡目前，所以没有这个问题

[2022-02-10 08:28] Gmgge commented on #38377
@zhaocaibei123  你好，很感谢你的建议。
我根据你提供的命令编译paddlepaddle之后，该whl包安装到不支持avx的机器上时，仍不可成功运行，提示No module named 'paddle.fluid.core_noavx'
@SEU-zxj 你好，请问你尝试了上面的方法嘛？

[2022-02-10 08:31] Fleming-Sung commented on #37401
【队名】：Ming Sung

【序号】：62

【论文】：Deeper Depth Prediction with Fully Convolutional Residual Networks

【状态】：提交

【repo链接】：https://github.com/MeaningSung/fcrn_paddle

[2022-02-10 08:32] YellowLight021 opened #39456 "aistudio脚本任务4卡训练与单卡训练同样epoch，4卡的性能远低于单卡的问题"
单机多卡训练问题。同样的代码在提交任务时候分别使用单卡、多卡进行训练，（4卡训练的时候学习率根据官方文档也乘以了4）。但是4卡训练的效果远低于单卡
![image](https://user-images.githubusercontent.com/45915150/153368004-3164d244-1a42-42f5-9341-6b091f034d16.png)
![image](https://user-images.githubusercontent.com/45915150/153368085-e36b533a-940c-4b8a-bf47-d6836131e11e.png)
如图，分布式训练效果反而没有单卡训练效果好了。这个是我公开的项目位置https://aistudio.baidu.com/aistudio/clusterprojectdetail/3467470

[2022-02-10 11:28] #39339 closed, assigned to huangxu96

[2022-02-10 11:44] Gmgge commented on #37677
@pangyoki 你好，如果自行编译包含avx和noavx的linux包应该如何设置呢？尝试了一些方法与建议，但是没有成功。

[2022-02-10 12:28] Gmgge commented on #38377
其中的参数-WITH_AVX=OFF，修改为-DWITH_AVX=OFF

[2022-02-10 16:56] caopulan commented on #37401
【队名】：重在参与

【序号】：1

【论文】：Masked Autoencoders Are Scalable Vision Learners

【状态】：提交

【repo链接】：https://github.com/flytocc/mae-paddle

[2022-02-11 02:40] gongchenting opened #39466 "InvalidArgumentError: Invalid CPU memory access"
训练前期正常，后面会突然报错InvalidArgumentError: Invalid CPU memory access

- 版本、环境信息：
    1）CPU：Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz
    2）GPU：K40、CUDA10、cudnn_v7.6
- 训练信息
    1）单机多卡
    2）每卡11441MiB
- 问题描述：

Traceback (most recent call last):
  File "/home/vis/jiangminyue/v2x/his_quant/anaconda3/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/home/vis/jiangminyue/v2x/h

[2022-02-11 03:02] Ligoml commented on #37171
小模型推荐使用PaddleDetection里的PicoDet https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/picodet

或者PP-YOLO tiny https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/ppyolo

[2022-02-11 03:18] #37721 closed, assigned to yaoxuefeng6

[2022-02-11 03:28] #38403 closed, assigned to nobody

[2022-02-11 04:16] joey12300 commented on #38226
@d2623587501 你好，可以试试2.2.2，看看代码还能否跑通，我这边测试了2.2.2是不会报这个反向的bug的

[2022-02-11 05:52] sandyhouse commented on #39451
从上述问题无法判断具体原因，中断后存在显存占用是因为存在残留进程，手动kill后可解决。另外，如果通过重启即可解决上面的程序中断问题的话，大概率是系统或者硬件原因。

[2022-02-11 05:55] sandyhouse commented on #39456
具体配置什么样的，比如单卡batch size是多少，分布式运行时单卡batch size是多少？4卡是几台机器？需要判断下aistudio网络配置什么样子的，之前发现过当多台机器时，如果网络配置比较差，可能出现多卡性能不如单卡的情况。

[2022-02-11 05:56] Zhangts98 commented on #39451
好的， 感谢。

[2022-02-11 07:06] tangzhiyi11 opened #39473 "AttributeError: module 'paddle' has no attribute 'uint16'"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：develop分支

paddle c++接口返回 ::paddle::platform::bfloat16 这种类型，但是在python测返回的是 paddle.uint16，而 paddle.uint16 这种类型又报不存在，请问这里的显示的类型的转换是在哪里做的呢？

<img width="814" alt="image" src="https://user-images.githubusercontent.com/5955111/153549472-2e

[2022-02-11 07:46] wzy-99 opened #39476 "如何获取模型中间某层的梯度"
请问反向传播时如何获取模型中间某一层的loss？

[2022-02-11 08:17] holyseven commented on #34293
This is supported from 2.2.1. Closed.

[2022-02-11 08:17] #34293 closed, assigned to huangjun12

[2022-02-11 08:20] Water2style commented on #37393
你好 怎么看reader部分的队列是否太长啊....
我也遇到相关问题，内存线性增加, 训完一个EPOCH 就增加，从0个EPOCH训到20多个的时候（每个epoch训一次，eval一次，存一次模型） ， 在save模型时，说 can not allocate memory

[2022-02-11 08:36] yfq512 commented on #38348
@aiXia121 看这个：https://stackoverflow.com/questions/54948216/usr-lib-x86-64-linux-gnu-libstdc-so-6-version-glibcxx-3-4-21-not-found-req

[2022-02-11 08:43] wzy-99 commented on #39476
根据https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/01_paddle2.0_introduction/basic_concept/autograd_cn.html 大致了解了
先调用loss.backward()
再获得tensor.grad

[2022-02-11 08:43] #39476 closed, assigned to iclementine

[2022-02-11 10:05] Water2style commented on #32927
解决了吗，是不是和这个max_iter有关，如果max_iter再设置大点，内存消耗就一直线性增长下去.....就感觉会增加max_iter个dataloader,之前没用的dataloader并没有被销毁.

[2022-02-11 10:09] iclementine commented on #39473
python/paddle/fluid/dygraph/varbase_patch_methods.py
<img width="927" alt="图片" src="https://user-images.githubusercontent.com/16222986/153573207-adb13c51-7918-4189-b061-4ebdd32f3c5a.png">

里面有把 paddle::framework::proto::VarType::Type 打印出来的方法。里面把 bf16 对应到了 uint16. （至于这么做的原因是它一开始是用于和 Numpy 类型对应的，而 numpy 里没有 bfloat16）

而 paddle.float32 之类的是把 C++ 端的 paddle::framework::proto::VarType::FLOAT32 import 出来

[2022-02-11 10:21] iclementine commented on #39466
可以先把 export GLOG_v=10 运行看看更多的信息。

看起来就是分配内存失败

[2022-02-11 10:22] Water2style commented on #32927
num_workers=8, 我改成0了就没有这个问题了....

[2022-02-11 10:59] tangzhiyi11 commented on #39473
多谢~

[2022-02-11 11:01] ziiip commented on #38379
### 遇到了同样的问题

[code]

@chenweiyj

[2022-02-11 11:02] Water2style commented on #34073
和log frequency有关吗>

[2022-02-11 12:26] Water2style commented on #36115
老哥解决了吗

[2022-02-11 15:31] AK391 opened #39489 "Huggingface Hub"
Hi, would you be interested in adding paddlepaddle to Huggingface Hub ([Hugging Face Hub](https://huggingface.co/models))? The Hub offers free hosting, and it would make your work more accessible and visible to the rest of the ML community. I setup a example paddlepaddle organization where models, datasets, and spaces(web demos) can be added similar to the paddlepaddle org on github.

PaddlePaddle

[2022-02-11 18:04] ZiJINII opened #39491 "torch.tensor.view用什么替换"
![image](https://user-images.githubusercontent.com/92594026/153645080-928586e0-0d40-459f-b2c0-11c9e19de09b.png)
**### 在全连接层需要用到view函数，在paddle中找不到对应函数**###

[2022-02-12 01:33] 1329844541 commented on #34163
1.更改项目为Release

2.找到libyaml-cppmt.lib文件，将其添加lib文件： 配置属性-->链接器-->输入-->附加依赖项加入库名（×××.lib）；

[2022-02-12 16:15] yufangbo opened #39493 "paddlepaddle验证安装无法定位到mklml.dll文件动态链上"
版本、环境信息
1）PaddlePaddle版本：paddlepaddle：2.2.2
2）CPU：AMD Ryzen 7 5800H with Radeon Graphics
3）操作系统：Windows 10 家庭中文版 + Python 3.6.15

安装方式信息
python -m pip install paddlepaddle==2.2.2 -i https://mirror.baidu.com/pypi/simple

复现信息：命令行下import paddle成功但paddle.utils.run_check()验证安装失败

问题描述
(paddleocr) C:\Users\yufangbo>python
Python 3.7.11 (default, Jul 27 2021, 09:42:29) [MSC v.1916 64 bit (AMD64)] :: Ana

[2022-02-12 17:07] JeremyZhao1998 commented on #37401
【队名】：丰收厅的斯莱特林

【序号】：105

【论文】：A Nyström-Based Algorithm for Approximating Self-Attention

【状态】：提交

【repo链接】：https://github.com/JeremyZhao1998/Nystromformer-Paddle

[2022-02-12 19:03] Water2style opened #39494 "PaddlePaddle/models模块官方教程中，“mobilenetv3_prod训推一体实战的PACT量化训练”，代码有个问题."
运行环境 AI-Studio

跟着以下教程：
https://github.com/PaddlePaddle/models/tree/release/2.2/tutorials/mobilenetv3_prod/Step6
中的PACT量化训练：
https://github.com/PaddlePaddle/models/blob/release/2.2/tutorials/mobilenetv3_prod/Step6/docs/train_pact_infer_python.md

教程中读取pre-trained模型，进行训练，这个代码中间没有什么问题
但是当我把https://github.com/PaddlePaddle/models/tree/release/2.2/tutorials/mobilenetv3_prod/Step6下，
train.py文件的 #190~#19

[2022-02-12 20:02] Water2style commented on #39494
=====Update:
排查了一下，问题应该出现在量化模型的save上
不存量化模型，就不会有之前的warning
![image](https://user-images.githubusercontent.com/38349730/153726542-6a5fbe40-97cc-44e0-8586-f23e7e44202f.png)

[2022-02-13 09:04] huangjun12 commented on #39491
可以使用 paddle.reshape，文档参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/reshape_cn.html#reshape

[2022-02-13 14:19] #39445 closed, assigned to yaoxuefeng6

[2022-02-14 01:22] ziyaxuanyi opened #39499 "模型量化推理问题"
1.pc端paddleocr2.1版本，使用官方提供的v2模型和经过量化裁剪后的v2模型推理比较，推理时间没有任何加速，甚至还慢了一点。这可能是什么原因，感觉量化裁剪后的模型比之前的大，耗时更久，没有起到提升速度和压缩模型的效果？

2.试着使用tensortRT+量化裁剪模型推理，之前测试原始v2模型+tensorRT推理没有问题，但是tensortRT几乎没有加速效果。尝试加载v2量化裁剪模型+tensorRT+int8推理，配置参考了官方的inference教程，解决了一些报错问题。但最终解决不了如下报错：
calibrator failure occurred with no scaling factors detected.This could be due to no int8 calibrator or insufficient custom scales for netwo

[2022-02-14 02:44] Shawn6688 commented on #36115
目前看起来是paddle cloud的问题，不是jit函数的问题

[2022-02-14 03:20] DDDivano commented on #39493
amd cpu 试试noavx的版本

[2022-02-14 03:31] LDOUBLEV commented on #39493
mklml是mkldnn依赖的模块，amd上不支持mkldnn加速；

noavx的paddle版本安装：
python -m pip download paddlepaddle==2.2.2 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/noavx/stable.html --no-index --no-deps

python -m pip download paddlepaddle==2.2.2 -f https://www.paddlepaddle.org.cn/whl/windows/openblas/noavx/stable.html --no-index --no-deps

参考文档：
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/w

[2022-02-14 04:02] iclementine commented on #39489
Thank you for your invitation! I believe developers of PaddleNLP would be interested and I will get them inforrmed.

[2022-02-14 04:42] yufangbo commented on #39493
我下载了noavx的版本验证的时候说我的机器支持avx，我看了paddle的官方文档 [paddle好像不支持家庭版的windows10系统

[2022-02-14 05:02] ZeyuChen commented on #39489
@AK391 I am Zeyu, the tech lead of PaddleNLP and PaddleSpeech, and already sent a request to join the group. we are glad to participate hugging face hub project. Please let me know how can we move forward. Thanks.

[2022-02-14 05:22] AK391 commented on #39489
@iclementine thank you, @ZeyuChen great, accepted the invite, you can now add models, spaces, and datasets to the org

How to add a Space: https://huggingface.co/blog/gradio-spaces
how to add models: https://huggingface.co/docs/hub/adding-a-model
uploading a dataset: https://huggingface.co/docs/datasets/upload_dataset.html

for integrating a library to the Hub, please see: https://huggingface.co/d

[2022-02-14 06:15] RickyLau commented on #38379
相同的需求，用于LAC的编译 。

[2022-02-14 06:16] yqp1453552101 commented on #37577
请问现在这个问题修复了没，我目前也遇到了同样的问题，在BiLSTM模型上训练结果一致，在预训练模型上问题同楼主。

[2022-02-14 06:22] zlsh80826 commented on #39363
內存管理錯誤會導致 `save_load` 相關的單測出現隨機錯誤, 具體錯誤 log 如下
[code]

[2022-02-14 06:23] ceci3 commented on #39494
[save_quantize_model](https://github.com/PaddlePaddle/models/blob/release%2F2.2/tutorials/mobilenetv3_prod/Step6/train.py#L310) 操作会对量化模型做一些操作，这一步应该是需要挪到整体训练完成再保存的~ 这里应该是示例代码的问题，我们修复一下，感谢反馈~

[2022-02-14 07:08] Zjq9409 commented on #39446
正在修改复数随机数生成方式

[2022-02-14 07:10] lidanqing-vv commented on #38693
@pawelpiotrowicz  Hi, Baoachun updated that the UT is `ctest -R test_mkldnn_conv3d_op -V`

[2022-02-14 07:27] iclementine commented on #39476
torch 需要额外的 retain_grad()
paddle 并不需要。

[2022-02-14 08:08] Water2style opened #39525 "复现Paddleslim的剪枝教程demo,剪枝后在imagenet训练精度恢复不上去."
你好，我参考的是 https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/dygraph/pruning
代码用的就是里面的 train.py，数据集也按照readme成功组织.

唯一的区别：
1.剪枝mobilenetV1, FPGM算法，敏感性分析，剪枝30%. 代码里的skip_var是[skip_vars = ['linear_0.b_0','conv2d_0.w_0']，我用的是教程docs里的跳过最后一层conv，也就是conv26.(有点不明白这为什么和官方文档没有对齐...)
2.数据集，我用的是ImageNet的5万张验证集，再把它分成4万的训练集和1万的验证集作为小的数据集来训练
3.batch-size改为128,其他没变.(和fpgm_mobilenetv1_f-50_train.sh脚本里的参数一

[2022-02-14 08:16] littletomatodonkey commented on #39499
量化裁剪后的模型需要在paddlelite上进行部署（转成nb模型）从而体现出速度优势，直接保存的inference model会有一些未经融合优化的算子等。

[2022-02-14 08:36] ceci3 commented on #39494
@Water2style 已经在 PR https://github.com/PaddlePaddle/models/pull/5472  中修复~

[2022-02-14 08:44] zhwesky2010 commented on #39493
@yufangbo 支持Windows10家庭版，麻烦装下openblas版本试试 `python -m pip download paddlepaddle==2.2.2 -f https://www.paddlepaddle.org.cn/whl/windows/openblas/avx/stable.html --no-index --no-deps`

[2022-02-14 08:47] Water2style commented on #39494
好的好的~

[2022-02-14 08:47] #39494 closed, assigned to nobody

[2022-02-14 08:49] zhwesky2010 commented on #39382
@zlsh80826 您好，目前在V100显卡未复现问题，方便看下三个单测分别的报错信息截图吗

[2022-02-14 09:11] ZiJINII commented on #39491
![image](https://user-images.githubusercontent.com/92594026/153833844-6c1fedb2-e00e-45d9-83d9-e1dc56c45d83.png)
出现了‘numpy.int64’ object is not callable 的错误，无法解决

[2022-02-14 09:28] breakerqq opened #39536 "安装失败"
PS D:\paddlepaddle> python --version
Python 3.10.0
PS D:\paddlepaddle> python -m ensurepip
Looking in links: c:\Users\CN0086~1\AppData\Local\Temp\tmpl74dylmk
Requirement already satisfied: setuptools in d:\programs\python\python310\lib\site-packages (57.4.0)
Requirement already satisfied: pip in d:\programs\python\python310\lib\site-packages (22.0.3)
PS D:\paddlepaddle> python -m pip --version
pip

[2022-02-14 10:12] MiuGod0126 commented on #37401
【队名】：角灰大帝硬train一发
【序号】：84
【论文】：Convolutional Sequence to Sequence Learning
【状态】：提交
【repo链接】：https://github.com/MiuGod0126/ConvS2S_Paddle

[2022-02-14 10:19] jiaohuix commented on #37401
【队名】：角灰大帝硬train一发

【序号】：84

【论文】：Convolutional Sequence to Sequence Learning

【状态】：提交

【repo链接】：https://github.com/MiuGod0126/ConvS2S_Paddle

[2022-02-14 10:46] yufangbo commented on #39493
谢谢大佬 问题已经解决了

[2022-02-14 11:17] wangxicoding commented on #39536
<img width="304" alt="image" src="https://user-images.githubusercontent.com/10208305/153854363-b7c55b7b-c293-4d4b-b4df-6459a99aad53.png">
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html
抱歉paddle这边还不支持python3.10，您可以先切换一下python版本

[2022-02-14 12:18] #38921 closed, assigned to baoachun, betterpig

[2022-02-14 12:42] yt605155624 opened #39544 "FFT 相关算子训练结束后段错误"
Multi Band MelGAN 训练结束后报错
[code]

复现步骤：
1. git clone git@github.com:PaddlePaddle/PaddleSpeech.git, 按照说明文档安装 paddlespeech
2. cd PaddleSpeech/examples/csmsc/voc3, 按照 readme 准备数据 dump
3. `vim conf/default.yaml`, 修改 train_max_steps 和 eval_interval_steps 为 10 (训练一个小的 steps)
4. `./run.sh --stage 1 --stop-stage 1 --gpus 0` 开始训练
5. 如果用多卡训练 ,
 * `vim local/train.sh` 修改 `--ngpu=2`
 * `./run.sh --stage 1 --s

[2022-02-14 13:11] ETTR123 commented on #37401
【队名】：湖工起飞

【序号】：206

【论文】：ENet: A Deep Neural Network Architecture for Real-Time Semantic Segmentation

【状态】：提交

【repo链接】：https://github.com/PaddlePaddle/PaddleSeg/pull/1769

[2022-02-14 14:00] Gmgge opened #39546 "编译mkl+noavx版本，在推理时开启mkldnn报错could not create a primitive"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.2
    2）CPU：Inter T7700
    3）GPU：无
    4）系统环境：centos7.8
- 模型信息
    1）paddleOCR
- 复现信息：在编译的服务器上根据教程，设定-DWITH_AVX=OFF，编译出core_noavx，之后设定参数NOAVX_CORE_FILE，并-DWITH_AVX=ON，编译出whl包后，安装到无avx指令的英特尔cpu上，运行paddleOCR2.3
- 问题描述：关闭mkldnn时正常运行，开启mkl时报错could not create a primitive，

1.退回版本2.0.0时，则一切正常。
2.根据教程的参数编译出来的core_avx.so与pip中whl包中core_avx的依赖库不同，缺少对libz.so.1的依赖。
3.运行目标检

[2022-02-15 00:34] breakerqq commented on #39536
好的，谢谢。

[2022-02-15 00:34] #39536 closed, assigned to wangxicoding

[2022-02-15 01:01] justld commented on #37401
【队名】：dudu

【序号】：6

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：报名&提交

【repo链接】：https://github.com/justld/CycleMlp_paddle

[2022-02-15 02:52] Alana123Liu opened #39556 "PaddleX部署QT版本 实例分割Mask模型预测结果有噪点并且区域不准问题"
- 问题描述：现已部署成功PaddleX模型的C# 和QT版本的推理模型，其他模型推理过程都很好，但是在使用实例分割 mask模型时，结果图片会出现噪点，并且推理结果也并不准确。

在PaddleX预测软件上预测结果是准确的，但是利用QT版本软件，结果有问题，附图如下：
- 复现信息：
![341644894317_ pic](https://user-images.githubusercontent.com/70640300/153985657-bf71c90b-92b3-4da5-9ac8-8aa858ddfb55.jpg)
PaddleX 软件预测结果

![371644894568_ pic](https://user-images.githubusercontent.com/70640300/153985699-a25a2c86-5d01-4839-858f-1e275e0b48

[2022-02-15 03:12] huangjun12 commented on #39491
能定位到具体报错在哪行嘛

[2022-02-15 03:14] baoachun commented on #39546
你好，请问描述中说的开启mkl和关闭mkl是怎么设置的呢？我看报错信息是mkldnn的报错呢，mkl是普通的矩阵加速库，mkldnn是ai加速库，对于矩阵加速库paddle支持mkl和openBLAS

[2022-02-15 05:03] LinJayan commented on #37401
【队名】：LYyyds

【序号】：76

【论文】：Detecting Beneficial Feature Interactions for Recommender Systems

【状态】：提交

【repo链接】：https://github.com/LinJayan/SIGN-Paddle

[2022-02-15 05:09] LinJayan commented on #37401
【队名】：LYyyds

【序号】：82

【论文】：CAN: Revisiting Feature Co-Action for Click-Through Rate Prediction

【状态】：提交

【repo链接】：https://github.com/LinJayan/CAN_Paddle

[2022-02-15 05:21] huilin16 commented on #37401
【队名】：这道题我不会做呀

【序号】：7

【论文】：HRFormer: High-Resolution Transformer for Dense Prediction

【状态】：提交

【repo链接】：https://github.com/huilin16/HRFormer_paddle

[2022-02-15 05:52] fuqianya commented on #37401
【队名】：fuqianya

【序号】：50

【论文】：VinVL: Revisiting Visual Representations in Vision-Language Models

【状态】：提交

【repo链接】：https://github.com/cattidea/VinVL-Paddle

[2022-02-15 06:46] #27182 closed, assigned to nobody

[2022-02-15 06:46] #29919 closed, assigned to nobody

[2022-02-15 06:46] #30521 closed, assigned to LDOUBLEV, zhwesky2010

[2022-02-15 06:46] #30741 closed, assigned to weixing02, chenwhql, zhwesky2010

[2022-02-15 06:46] #30765 closed, assigned to haozech

[2022-02-15 06:46] #30785 closed, assigned to haozech

[2022-02-15 06:46] #30786 closed, assigned to chenjiaoAngel

[2022-02-15 06:46] #30787 closed, assigned to chenjiaoAngel

[2022-02-15 06:46] #30791 closed, assigned to chenjiaoAngel

[2022-02-15 06:46] #30792 closed, assigned to chenjiaoAngel

[2022-02-15 06:46] #30803 closed, assigned to qili93

[2022-02-15 06:46] #30805 closed, assigned to qili93

[2022-02-15 06:46] #30816 closed, assigned to qili93

[2022-02-15 06:46] #30821 closed, assigned to T8T9

[2022-02-15 06:46] #30823 closed, assigned to T8T9

[2022-02-15 06:46] #30831 closed, assigned to T8T9

[2022-02-15 06:46] #30837 closed, assigned to T8T9

[2022-02-15 06:46] #30848 closed, assigned to T8T9

[2022-02-15 06:46] #30865 closed, assigned to yinhaofeng

[2022-02-15 06:46] #30874 closed, assigned to yinhaofeng

[2022-02-15 06:46] #30883 closed, assigned to littletomatodonkey

[2022-02-15 06:46] #30885 closed, assigned to littletomatodonkey

[2022-02-15 06:46] #30914 closed, assigned to jiweibo

[2022-02-15 06:46] #30915 closed, assigned to MissPenguin

[2022-02-15 06:46] #30927 closed, assigned to MissPenguin

[2022-02-15 06:46] #30930 closed, assigned to MissPenguin

[2022-02-15 06:47] #30944 closed, assigned to ZHUI

[2022-02-15 06:47] #30948 closed, assigned to ZHUI, shangzhizhou

[2022-02-15 06:47] #30953 closed, assigned to joey12300, swtkiwi

[2022-02-15 06:47] #30991 closed, assigned to Superjomn

[2022-02-15 06:47] #30999 closed, assigned to jerrywgz

[2022-02-15 06:47] A-Pai commented on #30999
您的邮件我已收到  I have received your email                        李刚  Li Gang

[2022-02-15 07:12] skywalk163 commented on #39323
我又测了下，矩池云这边还是卡住。
我又用华为modelarts测试，测试通过。

现在看来，估计是矩池云那边的问题的几率大。

[2022-02-15 07:18] mingxu1067 opened #39567 "Memory Access Issues of Allreduce"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that there was a similar issue submitted or resolved before.
If there is no solution,please make sure that this is a training issue including the following details:
**System information**
-PaddlePaddle version: v2.2
-CPU: None
-GPU: CUDA 11.4 + cuDNN 8.2
-OS Platform: Ubuntu 20.04

[2022-02-15 07:27] Zjq9409 commented on #39446
eigh 算子修改PR链接为：https://github.com/PaddlePaddle/Paddle/pull/39568

[2022-02-15 07:43] Gmgge commented on #39546
你好，是描述出错，是开启mkldnn，paddleOCR中通过配置参数开启mklnn服务,具体说
[if args.enable_mkldnn:...](https://github.com/PaddlePaddle/PaddleOCR/blob/beb08cac2241300d280c0fdfdb14151317b7e5b2/tools/infer/utility.py#L286 )

[2022-02-15 07:46] zcuuu opened #39569 "关于 运行resnet50 想得到实际运行的算子信息，计算图结构"
你好  我想了解设备运行resnet50,实际被执行的算子是什么，是用什么方法呀

[2022-02-15 07:52] baoachun commented on #39546
你好，请问关闭mkldnn是否能推理成功呢？如果CPU都无法跑通可能是配置问题，如果只是开启mkldnn报错，那麻烦提供下可复现的脚本、模型和复现步骤，感谢~~

[2022-02-15 07:52] jeng1220 commented on #39567
@sneaxiy

[2022-02-15 08:24] jeng1220 commented on #39382
The following log shows random failure of `test_linalg_pinv_op`. It fails the second test but passes the other time. The `test_linalg_cond` and `test_custom_conj` have the similar issue. These issues can be reproduced with both V100 and A100

[code]

[2022-02-15 08:32] baoachun commented on #38126
Hi @jczaja , most of the UTs have passed, except for `test_mkldnn_conv_elementwise_add_fuse_pass`, the error message is as follows. I noticed that the default input in the conv operator is NCHW format. Is this judgment reasonable? https://github.com/PaddlePaddle/Paddle/blob/0d46a1085f58d20e8b9d3693172d5739e73cc08d/paddle/fluid/operators/conv_op.cc#L60
![图片](https://user-images.githubusercontent.co

[2022-02-15 09:29] arlesniak commented on #39133
The issue is not present in my workloads in current develop, so I'm closing it. Thank you.

[2022-02-15 09:29] #39133 closed, assigned to lidanqing-vv

[2022-02-15 10:26] lidanqing-vv commented on #37930
@jczaja This issue has highest priorty, higher than conv3d mkldnn. VIT-OCR single thread performance is slow and need to be improved

[2022-02-15 11:06] yoreG123 commented on #37401
【队名】：图克塔米舍夫

【序号】：102

【论文】： ByT5: Towards a token-free future with pre-trained byte-to-byte models

【状态】：提交

【repo链接】：https://github.com/yoreG123/Paddle-ByT5

[2022-02-15 11:06] jczaja commented on #38126
@baoachun Ok, I understand that in https://github.com/PaddlePaddle/Paddle/pull/38107 there is UT added with ignored NHWC and I should enable and fix that one. I will start working on this.

[2022-02-15 12:39] Gmgge commented on #39546
关闭的话正常运行，打开mkldnn部分网络无法推理，例如paddleocr2.3。
复现环境
1 cenos7.8，官方编译教程，如上所示的cmake参数设置
2 关闭avx编译，打开avx编译并设置链接noavx
3 将编译后的whl安装包安装到没有avx的T7700机器上
4 下载paddleocr官方2.3版本，并安装所需依赖与模型文件
5 运行ocr，开启mkldnn，关闭mkldnn测试。

[2022-02-15 13:01] ZiJINII commented on #39491
在最后的全连接层
 def forward(self, x):
        # ResConv
        x = x.numpy()
        x = x.astype("float32")
        x  =paddle.to_tensor(x)
        x = self.preprocessing(x)
        x = self.norm1(x)
        x = self.TLU(x)

        # Conv1
        x = self.block2(x)

        # Conv2
        x = self.block3(x)

        # Multiscale residual convolution block
        x = self.block_netB(x)

        # C

[2022-02-15 13:09] ZiJINII commented on #39491
问题已经解决了，发现是x.size的问题，感谢

[2022-02-15 13:09] #39491 closed, assigned to nobody

[2022-02-15 13:51] Qdriving commented on #37401
【队名】：linqin2011

【序号】：2

【论文】： Swin Transformer V2: Scaling Up Capacity and Resolution

【状态】：提交

【repo链接】：https://github.com/Qdriving/Swin-TransformerV2-in-PP.git

[2022-02-15 13:51] Qdriving commented on #37401
【队名】：linqin2011

【序号】：2

【论文】： Swin Transformer V2: Scaling Up Capacity and Resolution

【状态】：提交

【repo链接】：https://github.com/Qdriving/Swin-TransformerV2-in-PP.git

[2022-02-15 14:05] fuqianya commented on #37401
【队名】：fuqianya

【序号】：52

【论文】：Uniter: Learning universal image-text representations

【状态】：报名&提交

【repo链接】：https://github.com/cattidea/UNITER-Paddle

[2022-02-15 14:29] jiaohuix commented on #37401
【队名】：角灰大帝硬train一发

【序号】：255

【论文】：Recurrent Models of Visual Attention

【状态】：提交

【repo链接】：https://github.com/MiuGod0126/RAM-Paddle

[2022-02-15 14:30] jiaohuix commented on #37401
【队名】：角灰大帝硬train一发

【序号】：239

【论文】：Mixer: An all-MLP Architecture for Vision
【状态】：提交

【repo链接】：https://github.com/MiuGod0126/Mlp-Mixer-Paddle

[2022-02-15 14:57] jiaohuix commented on #37401
【队名】：角灰大帝硬train一发

【序号】：90
【论文】：Cross-lingual Language Model Pretraining
【状态】：提交
【repo链接】：https://github.com/MiuGod0126/XLM_Paddle

[2022-02-15 15:05] Wuxiao85 commented on #37401
【队名】：小吴今天运动了吗

【序号】：56

【论文】：DeeperCut: A Deeper, Stronger, and Faster Multi-Person Pose Estimation Model

【状态】：提交

【复现指标】：PCK=87.8

【repo链接】：https://github.com/Wuxiao85/Deeper-Pose-Estimation-Model

[2022-02-15 15:57] akari0216 commented on #37401
【队名】：若若若月寒

【序号】：92

【论文】：Universal Language Model Fine-tuning for Text Classification

【状态】：提交

【repo链接】：https://github.com/akari0216/Paddle-awdlstm

[2022-02-15 16:38] Water2style opened #39592 "Paddle-Inference-TRT 推理QAT量化模型报错: 不支持的量化op matmul_v2"
1.先上错误报告:
Traceback (most recent call last):
  File "performance_acc.py", line 311, in <module>
    main()
  File "performance_acc.py", line 176, in main
    predictor = paddle_infer.create_predictor(config)
ValueError: (InvalidArgument) Unsupported quantized op type: matmul_v2 (at /paddle/paddle/fluid/framework/ir/delete_quant_dequant_filter_op_pass.cc:256)

2.算子位置：（QAT量化MobileNetV1和ResNet50都是在这个

[2022-02-15 16:40] jczaja commented on #38126
@baoachun Not sure if I'm solving proper issue, but I enabled NHWC part of UT in test checking fusing pass of conv and gelu. PR is here : https://github.com/PaddlePaddle/Paddle/pull/39591 . Check if this is what you have expected to fix?

[2022-02-15 18:42] #39592 closed, assigned to pangyoki

[2022-02-16 02:28] baoachun commented on #39546
你好，请问具体是哪个模型？执行的命令是什么？

[2022-02-16 02:51] xu-peng-7 opened #39598 "（1）关于高级API文档model.fit的参数 （2）关于bert_tokenizer 预训练参数的说明"
model.fit(参数)
官网只有该参数的简单使用示例，但是AIstudio中有部分项目用了比较丰富的参数，想看一下完整的参数文档，没有找到
BertTokenizer.from_pretrained('参数')
该参数部分传入的时bert分词的预训练模型名称，目前能找到的都是中文的分词模型，但是看到了有其他的，想知道该部分一共有多少的预训练模型，应该传入什么样的参数使用。文档未找到。

[2022-02-16 02:53] baoachun commented on #38126
Hi @jczaja, I have removed most of the skip settings for NHWC, pr is here: https://github.com/PaddlePaddle/Paddle/pull/39551, but the `test_mkldnn_conv_elementwise_add_fuse_pass` UT failed, ans I got the above error message, I'm not sure this judgment is reasonable at this time.

[2022-02-16 03:33] #38618 closed, assigned to wangxinxin08

[2022-02-16 03:34] #38664 closed, assigned to yghstill

[2022-02-16 03:36] Ligoml commented on #38664
请在提issue时，描述清楚你的问题~不可以只贴一行报错哦

[2022-02-16 03:38] #38821 closed, assigned to seemingwang

[2022-02-16 03:38] Leon-E-Zion commented on #38821
Leon-Zion 工作站 已收到邮件，Leon将尽快处理

[2022-02-16 03:53] Ligoml commented on #38929
该问题会在paddle2.3rc中修复https://github.com/PaddlePaddle/Paddle/pull/38903 ，感谢您的指出~

[2022-02-16 03:59] #39102 closed, assigned to jim19930609

[2022-02-16 04:08] #39323 closed, assigned to nobody

[2022-02-16 05:14] Evezerest commented on #38940
你好，由于我们没有测试机器，估计需要你详细定位一下问题出在哪，才能进一步解决。

[2022-02-16 05:32] MiShiDeHaiLuo opened #39607 "PaddleInferce使用PaddleX分类模型成功，目标检测模型测试失败？(C++语言)"
系统环境：JetsonNano
在JeosonNano上通过C++调用模型测试。
使用推理引擎PaddleInference调用PaddleX模型报错。在官网PaddleInference的Demo中测试resnet50模型测试成功。后续测试PaddleX导出的分类模型也测试成功，但是使用导出的目标检测模型时报错。
首先报错.py的相关信息
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
what():
Compile Traceback (most recent call last):
File "paddlexui\PaddleX.py", line 18, in
然后报错如下
C++ Traceback (most recent call last):
0 paddle:

[2022-02-16 07:10] Ligoml commented on #39219
你好，aistudio目前notebook和多卡脚本任务的训练环境有一些不一致，可能会导致多卡训练上遇到问题，建议先自查下代码~此外，aistudio目前正在打通notebook和多卡脚本的环境问题，后续将会支持一键启动多卡训练，敬请期待！

[2022-02-16 07:34] #39284 closed, assigned to ZzSean

[2022-02-16 08:26] Aganlengzi commented on #39473
@lidanqing-intel hi danqing, this issue is related to uint16 and bfloat16, will we re-import paddle-bfloat package to Paddle to support bfloat16?

[2022-02-16 08:30] Ligoml commented on #39139
你好，该api已在开发计划中，敬请关注

[2022-02-16 09:05] #38377 closed, assigned to lzzyzlbb

[2022-02-16 09:24] Ligoml commented on #37436
推荐使用paddle最新版本中的`paddle.nn.functional.grid_sample `

[2022-02-16 09:24] #37436 closed, assigned to sandyhouse, wanghaoshuang

[2022-02-16 09:44] #36886 closed, assigned to nobody

[2022-02-16 09:45] Gmgge commented on #39546
你好，下载[字符检测模型](https://paddleocr.bj.bcebos.com/PP-OCRv2/chinese/ch_PP-OCRv2_det_infer.tar)，下载[字符识别模型](https://paddleocr.bj.bcebos.com/PP-OCRv2/chinese/ch_PP-OCRv2_rec_infer.tar)，下载[字符方向分类模型](https://paddleocr.bj.bcebos.com/dygraph_v2.0/ch/ch_ppocr_mobile_v2.0_cls_infer.tar)
进入paddleocr目录
使用脚本python tools/infer/predict_system.py --image_dir="图像文件夹路径" --det_model_dir="字符检测模型文件夹路径" --cls_model_dir="字符

[2022-02-16 09:52] skywalk163 commented on #39323
以上报错是矩池云这边使用双p80环境下的，使用双T4后，可以跑，不会挂住。

[2022-02-16 11:16] ZTurboX opened #39637 "gather"
paddle中的gather怎么使用？总是报错。比如在pytorch中是这样写的`a = torch.Tensor([[1,2,3,4,5,6], [0,1,2,3,4,5]])
b = a.gather(1, torch.tensor([[5,4,3,2,1,0],[0,1,2,3,4,5]]))`，怎么转换成paddle的写法

[2022-02-16 12:02] jerrywgz commented on #37095
建议使用新版本paddle，目前验证在新版本paddle上复现代码是能正常运行的

[2022-02-16 13:34] BrilliantYuKaimin commented on #37401
【队名】：为往圣继绝学

【序号】：4

【论文】：XCiT: Cross-Covariance Image Transformers

【状态】：提交

【repo链接】：https://github.com/BrilliantYuKaimin/XCiT-PaddlePaddle

[2022-02-16 13:58] FlyingQianMM commented on #39556
参考[C++部署结果可视化](https://github.com/PaddlePaddle/PaddleX/blob/develop/docs/FAQ/FAQ.md/#%E6%8E%A8%E7%90%86%E9%83%A8%E7%BD%B2%E9%97%AE%E9%A2%98)先在原始的C++部署方式里测下结果，排除下是QT侧部署方式的问题。

[2022-02-16 13:58] pangyoki commented on #39598
你好，`model.fit()`的文档可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Model_cn.html#fit-train-data-none-eval-data-none-batch-size-1-epochs-1-eval-freq-1-log-freq-10-save-dir-none-save-freq-1-verbose-2-drop-last-false-shuffle-true-num-workers-0-callbacks-none 。
`from_pretrained`方法的描述可以看：https://github.com/PaddlePaddle/Paddle/blob/a909bdf154fa0d44124b73dcdb1c8c4205c83999/python/pa

[2022-02-16 14:07] HighCWu opened #39645 "使用PaddlePaddle训练WGAN-GP，损失曲线不符合论文，也和PyTorch训练过程不同"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==2.2.2
    2）GPU：K80
    3）系统环境：Colab

- 复现信息：[复现Notebook，可在Colab打开](https://gist.github.com/HighCWu/095bd38c54936d8cebdb050956050c1d)
- 问题描述：WGAN-GP的判别器损失曲线应当是一开始为负数，训练没多久后变为较大的正数，之后逐渐下降收敛到一个较小的正数。而使用PaddlePaddle施加梯度惩罚后，**损失始终小于0**。我使用了与PyTorch基本一致的模型和训练过程，而PyTorch是正常的**先负数再正数然后开始收敛**。希望能得到一个能正常训练的WGAN-GP样例，因为很多GAN的实现都采用了WGAN-GP的思想，这里错了的话，很多复现道路都会被

[2022-02-16 14:08] lrtz-v opened #39647 "Mac m1 本机编译develop分支失败"
- 环境
  - 基础环境：python3.8、Mac M1
  - paddle：develop分支
- 编译过程
  - cmake

[code]

  - make

[code]

- 异常信息

[code]

[2022-02-16 14:16] jczaja commented on #38126
@baoachun Ok, so to reproduce this problem I should use enable NHWC in test_mkldnn_conv_elementwise_add_fuse_pass ?

[2022-02-16 14:24] pangyoki commented on #39637
你好，可以用`take_along_axis`这个API：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/take_along_axis_cn.html#take-along-axis

<img width="322" alt="图片" src="https://user-images.githubusercontent.com/26408901/154284305-97a15759-7de1-4c5f-af6f-9851ab8e93e2.png">

但是这个API在paddle2.2正式版还没有发布，你可以在官网下载develop的包来使用这个API：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/d

[2022-02-16 14:51] HighCWu opened #39649 "PaddlePaddle autograd.grad不支持PyLayer自定义算子，无法知晓是否可以通过PyLayer求取二阶导"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==2.2.2
    2）系统环境：AI Studio高级版

- 复现信息：
  torch上可以正常运行，且反传中能根据自定义算子函数来求二阶导（keep_grad中的backward）：
[code]

输出为：

[code]

而对照着编写的paddle的代码为：
[code]

无输出

![image](https://user-images.githubusercontent.com/8385448/154289843-4b3f6ede-d215-4be6-a432-665d96d0d486.png)

- 问题描述：使用paddle.autograd.grad对包含PyLayer自定义梯度的graph求取梯度时会重启kernel（aistudio notebook中），应该是

[2022-02-16 14:53] lidanqing-vv commented on #39473
@Aganlengzi Last time the PR https://github.com/PaddlePaddle/Paddle/pull/38703 is merged but later reverted cause windows CI and mac CI failed etc. But later we do no steps to reproduce these errors on windows, hence don't know how to reproduct and fix. Could you please help modify the PR or, provide reproduction steps so that we can reproduce and fix?

[2022-02-16 15:02] Aganlengzi commented on #39473
@lidanqing-intel hi, danqing, It's not about the PR, it is about the package. Do you remember I have sent you a picture about how we suggested to fix? The package can be pre-built and uploaded, in this way, it is unnecessary to compile  the package in local environment and will not have errors.

[2022-02-16 15:15] AK391 commented on #39489
@ZeyuChen I added the model for chinese_text_detection_db_server here: https://huggingface.co/PaddlePaddle/chinese_text_detection_db_server/tree/main

let me know if you need help with the model card and I can also help setting up a space for it

example of model card: https://huggingface.co/keras-io/semantic-segmentation

[2022-02-16 15:33] sneaxiy commented on #39567
@mingxu1067 I cannot reproduce the issue using either release 2.2.0 or develop.

The release 2.2.0 result:
[code]

The develop result:
[code]

[2022-02-16 16:50] #39525 closed, assigned to wanghaoshuang, wangxicoding

[2022-02-16 21:38] Water2style opened #39652 "QAT量化训练后的inference模型相关问题."
你好，我想请教一下QAT相关问题.

1.动态图QAT完成后，存为inference模型. 用netron打开，为什么看不到整数的参数值呢.（静态图QAT完成后,在conv2d的op里是可以看到存为FP32格式的整数的）

2.QAT的模型在推理的时候，INT8的计算体现在哪些op上呢？是否有相关原理或者文章可以学习？(写论文会用上,paddleslim文档没有找到相关论文链接)

3.在用Paddle-Inference在NV-GPU上部署QAT模型时，TRT-FP32模型测的精度和在动态图训完时测的精度相差不大,但是TRT-INT8模式精度存在掉点情况(MobileNetV1). [paddleslim文档提到过 QAT-PACT可能会掉点，但是我这里普通QAT也掉了]

4.同一个模型，用QAT模型推理的速度，比PTQ模型的推理速度稍微快一些. 这是什么原因呢 ？

[2022-02-17 02:16] GT-ZhangAcer commented on #39649
mark

[2022-02-17 02:16] GT-ZhangAcer commented on #39645
mark

[2022-02-17 02:19] chiehpower commented on #38940
thanks for your response!
目前已用onnx model作为替代方案。

[2022-02-17 02:19] #38940 closed, assigned to WorgenZhang

[2022-02-17 02:20] baoachun commented on #38126
Hi @jczaja, you can use this pr https://github.com/PaddlePaddle/Paddle/pull/39654 to reproduce.

[2022-02-17 02:23] JZ-LIANG commented on #39569
有两个方法：
1、如果是静态图，可以打印所执行的计算图，可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/Program_cn.html#program

2、动态图可以尝试使用 export GLOG_vmodule=operator=5 在log 中打印所有被执行的 operators

[2022-02-17 02:23] #39569 closed, assigned to JZ-LIANG

[2022-02-17 02:45] pangyoki commented on #39645
你好，我会反馈一下加入WGAN-GP样例的需求，谢谢建议。
关于torch和paddle训练行为不一致的问题，是否可以固定训练数据与训练过程中的随机性，观察torch和paddle训练过程中的数据在哪里存在较大diff？看能否确定是不是某些API行为不一致导致的？

[2022-02-17 02:52] pangyoki commented on #39647
你好，请问你是想编推理的包吗？如果把ON_INFER相关选项关掉会有问题吗？

[2022-02-17 03:13] xu-peng-7 opened #39655 "关于paddle.nn.LSTM文档双向参数的补充建议"
- 文档版本信息：2.22版本

### 文档问题描述：

#### 示例代码是否有效？
示例代码中缺少对direction 参数的示例，导致出现对该参数的使用混淆。
即，当同时初始化定义（prev_h ，prev_c），并传入 direction = 'bidirect' 时，若prev_h ，prev_c为单向LSTM参数，则传出的参数也为单向参数，但output依然为双向的输出，此时双向的数据是如何合并成为单向的？

此外：建议补充direction = 'bidirect'的示例代码

# 复现代码如下：

import paddle

rnn = paddle.nn.LSTM(16, 32, 4, direction = 'bidirect' )

x = paddle.randn((4, 23, 16))
prev_h = paddle.randn((2, 4, 32))
pr

[2022-02-17 03:27] HighCWu commented on #39645
这个我不太懂怎么去操作诶😂，所以是不是你们跑跑看去对齐比较一下，之前只是大致试过模型设为eval避免bn变化之类的，好像结果也没什么变化。是否是梯度运算出了岔子，需要你们去定位，这一块我不太懂。

[2022-02-17 03:29] pangyoki commented on #39607
你好，报错信息是输入image没有初始化，麻烦检查下是不是输入数据不够？

[2022-02-17 03:48] mingxu1067 commented on #39567
@sneaxiy Could you try to run in the environment built from below `Dockerfile`?
[code]

[2022-02-17 04:14] leiqing1 commented on #38691
你这边如果需要某个官方未提供的预编译包版本，建议可以按照这个编译方法，编译自己需要的cuda+cudnn+trt 版本的编译包：
https://paddleinference.paddlepaddle.org.cn/user_guides/source_compile.html#windows-10
trt8各平台版本预编译包排在研发排期中，但需要一定周期，请理解。

[2022-02-17 05:52] baoachun commented on #39546
你好，我使用develop分支和2.2分支的paddle没有复现该问题，能提供下执行日志吗？
`export GLOG_v=4`
然后保存打屏日志

[2022-02-17 06:09] lrtz-v commented on #39647
试了下还是不行，报错信息与上面一样

[2022-02-17 06:33] pangyoki commented on #39647
这个编译命令是在哪儿看的？有尝试过官网上的教程吗？
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/macos-compile.html
[code]

[2022-02-17 06:34] pangyoki commented on #39647
另外，请问下，可以直接使用官网上的安装包吗？是需要自己开发，所以有编译需求吗？

[2022-02-17 06:37] pangyoki commented on #39649
你好，已经复现了这个问题，会反馈给相关同学。

[2022-02-17 06:45] lrtz-v commented on #39647
我在调研paddleRec的一个模型，这个模型依赖paddle develop的一个接口（paddle.distributed.ShowClickEntry），release版本还没有包含；所以想自己编译一下

[2022-02-17 06:45] wanghuancoder commented on #39655
感谢您的问题反馈，请@joey12300看一下该问题，并给予回复。

[2022-02-17 06:56] Alana123Liu commented on #39556
感谢您的回复！

我已依照C++部署结果可视化测试结果。
结果显示，依然存在分割面积不准的问题，噪点是QT部署方式的问题
![10041645080794_ pic](https://user-images.githubusercontent.com/70640300/154421823-c3dbbfe2-07a0-4bd2-98d1-022a86b2f057.jpg)

[2022-02-17 07:11] joey12300 commented on #39655
@xu-peng-7 感谢反馈问题。后面会计划增加关于'bidirect'的示例代码，提高文档可读性

[2022-02-17 07:29] xu-peng-7 commented on #39655
还有就是关于lstm的隐变量H,C的预定义问题，y, (h, c) = rnn(x, (prev_h, prev_c))

- 1：当direction = 'bidirect' 时，按照文档，输出 h，c第一个维度应为num_layers * 2，但此时若prev_h, prev_c为单向预定义时，网络并没有报错，而是输出h，c第一个维度为num_layers。

- 2：按照示例文档给两层的lstm进行了赋值，即rnn = paddle.nn.LSTM(16, 32, 2 )。但是如果修改层数，如 paddle.nn.LSTM(16, 32, 8 )，prev_h, prev_c 继续按照两层单向进行预定义赋值（即与现文档示例相同），此时网络仍然不报错。而是输出和prev_h, prev_c维度相同的h，c。

**根据以上实验结果**，我可以认为，最终LSTM的输出的隐变量（h，c）

[2022-02-17 07:52] pangyoki commented on #39647
麻烦尝试下develop的安装包，看下有没有你需要的接口，正常情况下develop的包是每天会编译上传的：python -m pip install paddlepaddle==0.0.0 -f https://www.paddlepaddle.org.cn/whl/mac/cpu/develop.html

mac m1编译的问题我们再看看。

[2022-02-17 08:01] Ligoml commented on #37632
1. 取最大特征值对应的特征向量的问题：由于设计问题，paddle的确没有和tf对齐，这是符合预期的。在执行`paddle.linalg.eig`后，可以使用 `paddle.argmax` 取到最大特征值的索引，然后使用 `paddle.gather` 根据索引拿到特征向量
2. `paddle.gather `和 `torch.gather` 功能不一致的问题：这个问题不影响1的问题，此外paddle目前已有 `paddle.take_along_axis` 和 `torch.gather`功能等价，欢迎使用~
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/take_along_axis_cn.html#take-along-axis

[2022-02-17 08:01] #37632 closed, assigned to danleifeng

[2022-02-17 08:17] zlsh80826 commented on #39446
Thank @Zjq9409. I am running the unit test on our environment to ensure the PR works well.
Hi @huangjun12, `test_eigvalsh_op` has same the issue with `test_eigh_op`. Could you help to update the `test_eigval_sh_op.py`? Thanks

[2022-02-17 08:28] lrtz-v commented on #39647
感谢，我也试了mac intel机器编译通过了，谢谢支持

[2022-02-17 08:36] HighCWu commented on #39649
感谢，希望paddle能发展得更加易用😁

[2022-02-17 09:49] ZhiluDing commented on #38414
@se7enXF 想问下题主，我遇到和你一样的问题了，如果设置flask的参数app.run(threaded=False)后，如何去处理多客户端请求呢？把多线程关了，可能会有响应不及时的问题呀。

[2022-02-17 10:04] skywalk163 commented on #36889
我这边也碰到类似的错误，是矩池云的双卡环境， 低版本不行，换到cuda 11.2版本正常。（目前2080，P100和T4都测试正常，但是P80有报错，估计是矩池云的问题的几率大。）
以下为低版本报错信息：
[code]

[2022-02-17 10:08] MiShiDeHaiLuo commented on #39607
你好，图像方面我做了两个尝试：
1.图像采用之前分类的预处理：此预处理是我自己写的，因为demo中没有，代码如下：
       /**
   * @brief Mattovector 将mat图像转为vector类型进行深度学习识别
   * @param img         mat图像
   * @param imgput      vector数据
   * @param channels    通道数
   * @param w           宽度
   * @param h           高度
   * @param clip        是否裁剪
   */
  void Mattovector(Mat img,vector<float> & imgput, int channels, int w,int h,bool clip)
  {
      if (

[2022-02-17 10:17] CuberrChen commented on #36940
@FeixLiu
 请问这个问题有没有暂时的解决办法？我也遇到了相同的问题

[2022-02-17 10:51] FeixLiu commented on #36940
感谢您的反馈~这里的问题我们在最新的develop代码分支里已经支持https://github.com/PaddlePaddle/Paddle/pull/37761 预计在后续的正式版本中发布。
如果赶时间的话可以直接拉取最新的develop分支代码编译进行使用，编译流程可以参考这里https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html

[2022-02-17 10:51] #36940 closed, assigned to FeixLiu

[2022-02-17 11:29] itminner commented on #39652
1. QAT动态图保存权重为量化前的，预测时会根据量化scale转换成int8参数。静态图量化模型权重是量化后的，只是保存成了float32格式。
2. 量化模型推理加速主要体现在conv、conv-depthwise、mul op上，推理时通过使用SIMD指令（如ARM neon）加速，int8数据相比float数据可以获得更大的吞吐量。相关原理可以自行搜索，官方文档暂无相关说明
3. 部署时精度波动是正常的，因为平台端计算会有一些差别，相差不会很大。
4. QAT和PTQ产出模型结构一致，不会有速度差异，可以测多次，求平均值。由于运行资源调度原因，速度会有波动

[2022-02-17 12:00] Water2style commented on #39652
好的，谢谢！
关于1，那为什么动态图的QAT, 保存成inference模型后，权重不是像静态图那样的，反而是要在预测的时候再scale成INT8计算呢？这岂不是相当于在预测阶段增加了计算量？

[2022-02-17 12:50] basaltzhang opened #39687 "A10显卡比P40显卡速度慢，且占用显存大"
测试PaddleOCR命令：
[code]
P40单图大概3秒多，A10显卡要4秒多。
P40单进程大约1.3G显存，A10要2.x G显存。
怀疑是编译问题，我在A10上重新编译了paddle，还是有这种问题。
编译命令：
[code]
使用v2.2.2和v2.1.0版本paddle均存在此现象，求帮忙看下是哪里有问题。

[2022-02-17 13:05] itminner commented on #39652
在模型转换的时候，权重就会转换int8，不会影响推理速度

[2022-02-17 13:05] gongweibao commented on #37393
你提供一下具体的项目地址吧。我们来看一下！

[2022-02-17 13:53] Water2style commented on #39652
那如果用NVGPU推理，这一步应该就是生成TRT引擎的时候了
那是不是就没机会像静态图那样，在本地用Netron看到INT8的数据了~?

[2022-02-17 13:53] Water2style commented on #39652
那如果用NVGPU推理，这一步应该就是生成TRT引擎的时候了
那是不是就没机会像静态图那样，在本地用Netron看到INT8的数据了~?

[2022-02-17 13:56] Water2style commented on #37393
你好，谢谢. 目前暂时解决了.
我是调整了一下data_loader的 num_workers ，可能和这个有一定的关系. 内存也稳定了.

[2022-02-17 14:02] HighCWu commented on #39645
@pangyoki  我今天添加了额外的东西，在判别器训练部分之前将生成器参数设为stop_gradient=True，判别器参数的为False，而在生成器阶段则反之。这样训练过程的损失曲线稳定在正数了，但是相较于torch的损失，值大了5、6倍，torch在2左右逐渐减小收敛，而paddle的却稳定在10且不收敛，说明这样的训练依旧很有问题。

[2022-02-17 16:29] hjf834405 opened #39701 "cpu可以训练模型，转为gpu训练时报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.2
    2）CPU：aistudio基础版
    3）GPU：aistudio至尊版

- 模型信息
1）模型名称 自定义模型
2）使用数据集名称 高光谱数据集
3）使用算法名称 自定义算法
4）模型链接 https://aistudio.baidu.com/aistudio/projectdetail/3463720?contributionType=1

- 复现信息：使用aistudio基础版可以训练，转为gpu版本时报错，
项目链接https://aistudio.baidu.com/aistudio/projectdetail/3463720?contributionType=1
报错信息如下

------------------------------------------------------

[2022-02-17 18:31] AK391 commented on #39489
@ZeyuChen added a spaces demo for wav2lip here https://huggingface.co/spaces/PaddlePaddle/wav2lip and also a PR for adding the HF badge for the org

[2022-02-18 01:20] Alana123Liu commented on #39556
QT端部署的马赛克问题已解决，是因为mask在写label的时候并未写background的label，导致使用了部分初始化值，更改QT out_image初始化值 置零即可以解决马赛克问题。
现存问题：分割结果不准确，分割结果是目标检测框内的基本所有像素；还有分割结果会跑到目标外的情况

[2022-02-18 01:39] MiShiDeHaiLuo commented on #39607
你好，我这边重新测试了下确定是PaddleX导出的模型问题。
![image](https://user-images.githubusercontent.com/97105652/154600924-03fbfc40-35e0-41d4-bb3b-5727194e1070.png)
这个模型就会报错最开始的错误内容。但是采用Demo中的模型Rest-50模型就能运行成功。
![image](https://user-images.githubusercontent.com/97105652/154601121-83090cf5-1a87-4dc8-9b1a-182e1a323dfd.png)

PaddelX导出的分类模型没有问题。目标检测就会出现上述问题

[2022-02-18 02:45] zlsh80826 commented on #39446
@Zjq9409 I have tested https://github.com/PaddlePaddle/Paddle/pull/39568, but it seems I had wrong conclusion in the past. The tolerance needs to be more higher. Following is the error message in our environment.
I investaged the reason and found that 2e-6 is for [5, 5] [input](https://github.com/PaddlePaddle/Paddle/blob/4a9a243a0341425d387ee5ba1bec8aeafd10c579/python/paddle/fluid/tests/unittests/

[2022-02-18 05:40] MiShiDeHaiLuo commented on #39607
已解决，Demo选择错误，之前以为所有模型调用是基于一个流程。。。

[2022-02-18 06:33] wanghuancoder commented on #39687
感谢您的问题反馈，我们复现一下问题，有结论以后给您反馈。

[2022-02-18 06:50] liyancas commented on #39687
您好，可以提供下复现问题的环境（OS/cuda/cudnn/tensorrt）吗？

[2022-02-18 07:16] basaltzhang commented on #39687
@liyancas centos7.5 cuda11.2.2 cudnn8.2.1 没有用tensorrt

[2022-02-18 07:45] MiShiDeHaiLuo opened #39722 "基于C++的目标检测返回结果一位数组怎么看？"
用C++调用目标检测模型，返回的数据是一维数据但是按照6个长度步长截取存在问题？
![image](https://user-images.githubusercontent.com/97105652/154639804-e0592d9d-50a7-4ee8-93da-b5fe528667af.png)
这个返回数据应该按照什么规律去看？

[2022-02-18 07:53] zhwesky2010 commented on #39722
@MiShiDeHaiLuo 请问跑的是什么代码呢

[2022-02-18 07:55] zhwesky2010 commented on #39382
@zlsh80826 目前已经固定了种子，麻烦再测一下

[2022-02-18 07:57] zhwesky2010 commented on #39701
@hjf834405 看起来是显卡的不符合cuda launch的配置，paddle.utils.run_check()有问题吗

[2022-02-18 08:10] MiShiDeHaiLuo commented on #39722
跑的是Demo中的目标检测Yolo v3
![image](https://user-images.githubusercontent.com/97105652/154643440-84d93bba-d290-457a-aab1-a3b360c1db01.png)

图像也是加载的Demo中的海滩图像

[2022-02-18 08:37] zhwesky2010 commented on #39722
@MiShiDeHaiLuo 有仓库或文件github地址吗

[2022-02-18 09:12] MiShiDeHaiLuo commented on #39722
https://github.com/MiShiDeHaiLuo/paddle
你好，临时上传了一份。方便给邮箱的话可以发您邮箱中。模型文件太大无法上传，以下是百度云链接。模型是Demo中的Yolo-v3模型，也可以直接在网上下载。
链接：https://pan.baidu.com/s/1abPUEZU61CqlOvCIoa2WqQ
提取码：1234

[2022-02-18 09:45] zlsh80826 commented on #39382
@zhouwei25 請問是哪個 PR 呢? 我這邊 cherry-pick 過來測試一下

[2022-02-18 10:49] skywalk163 commented on #34690
spawn和 python -m paddle.distirbuted.launch XX.py 都是数据并行训练方式。

[2022-02-18 10:53] skywalk163 commented on #39323
总结下：在矩池云双T4 ， 双3080 ， 双P100 都没有问题。 只有双P80挂住，矩池云那边在跟进相关问题。

[2022-02-18 10:55] sljlp commented on #34690
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DistributedBatchSampler_cn.html 中的方法跟你的需求结果是一样的，你可以参考一下

[2022-02-18 13:03] jiweibo commented on #39722
您好，yolo模型一般最后一层是nms，输出应该是nms算子的输出，格式一般为[N, 6] （标签label，置信度confidence，xmin，ymin，xmax，ymax）

您可查阅nms算子文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/layers_cn/multiclass_nms_cn.html#multiclass-nms

[2022-02-18 16:09] hjf834405 commented on #39701
应该是没有问题的
Running verify PaddlePaddle program ...
W0219 00:00:30.156932   339 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.0, Runtime API Version: 10.1
W0219 00:00:30.161154   339 device_context.cc:465] device: 0, cuDNN Version: 7.6.
PaddlePaddle works well on 1 GPU.
PaddlePaddle works well on 1 GPUs.
PaddlePaddle is installed successfully! Let'

[2022-02-18 20:45] jakpiase commented on #37930
@lidanqing-intel How can I run these models? If I will have some steps to reproduce the performance and how to run them, I can start working on it

[2022-02-19 04:55] zcuuu commented on #39569
多谢分享这两个方案
但是我在应用的时候遇到一些问题   动态图 方案、
——————————————————————————————————————————————
python 代码
import paddle
from paddle.vision.models import resnet50

model = resnet50(pretrained=True)

x = paddle.rand([1, 3, 224, 224])
out = model(x)

print(out.shape)

——————————
但是我添加 export 后还是没有反应
![image](https://user-images.githubusercontent.com/44340519/154786767-aa723acd-7936-48ac-a3c5-de821aae9ac9.png)

(l

[2022-02-19 05:03] zcuuu opened #39741 "关于 动态图 查看op 信息 使用 export glog——vmodule=operator=5 无反应的求解"
但是我在应用的时候遇到一些问题 动态图 方案、

python 代码
——————————————————————————————————————————————
python 代码
import paddle
from paddle.vision.models import resnet50

model = resnet50(pretrained=True)

x = paddle.rand([1, 3, 224, 224])
out = model(x)

print(out.shape)

——————————
但是我添加 export 后还是没有反应
image

(linenet) Product-Name:~/Downloads/zc/paddlepaddle_op/rn_50_op$ python3 run-rn50.py /home/ms001/anaconda3/env

[2022-02-19 05:03] icedream2linxi opened #39742 "PaddleDetection训练时开启了Eval，发现特别慢，并定位到问题在matrix_nms函数特别慢"
PaddlePaddle版本：2.2.2
CPU: i7-6850K
GPU: GeForce 1080 Ti
系统：Ubuntu 20.04
Python: 3.8.12
Numpy: 1.21.2

执行一次 matrix_nms，耗时30秒，这时间太长了。
[code]

[test.zip](https://github.com/PaddlePaddle/Paddle/files/8101468/test.zip)

[2022-02-19 06:18] #39398 closed, assigned to ForFishes

[2022-02-19 08:06] marderary opened #39745 "离线部署飞桨的文档？"
由于客观网络条件，需要离线部署飞桨环境，找了很多方法都不成功，请问有没有官方的离线部署指导文档？

[2022-02-20 01:44] itminner commented on #39652
是的，量化效果及调试可以先在python-paddle端确认好。paddle产出的量化预测模型，可以像float预测模型一样在Python-paddle端加载并预测，区别是使用float类型进行int8计算，不会有加速效果，但是可以确认量化精度。

[2022-02-20 08:44] gznc-lhl opened #39749 "paddlex训练模型时报错"
使用paddle版本为paddle-gpu2.2.2
paddlex版本为1.3.11
cuda版本为11.2
cudnn版本为11.2
现存在以下问题，在我还没有安装cuda的时候尝试过使用cpu训练模型，运行成功并且成功导出模型。此时使用的是paddle不是gpu版本。
此后我安装了paddle的gpu版本以及cuda和cudnn但是再次训练的时候出现了报错。我尝试了如下几种解决办法均出现同样的报错信息
第1种解决办法：换paddle的cpu版本继续运行，未解决。
第2种解决办法：拆卸cuda，未解决。
第3种解决办法：重装整个python环境，未解决。
以上是我的所以解决方案，均未解决报错，并且报错信息均为一样，在aistudio上又能导出模型。
报错代码如下，均为完成一个epoch之后导出模型时出现
0%|          | 0/3426 [00:00<?, ?it/s]
Tr

[2022-02-20 11:24] qili93 commented on #39749
hi @gznc-lhl ,

根据错误提示，是您模型代码中的concat算子的输入不符合要求

[code]

根据错误提示：

[code]

模型代码输入这里的`input=[route, block]`中route的shape为`[1, 256, 20, 20]`而block的shape为`[1, 256, 19, 19]`,  在axis=1的情况下，是沿着数值为256的维度进行算子联结，因此其他维度的形状须一致。

建议检查您代码中的数据和处理逻辑使得concat算子的输入shape符合要求。

[2022-02-20 11:43] ZiJINII opened #39752 "pytorch 可以用Parameter.data 修改数据，paddle里该怎么修改"
#残差网络卷积2D卷积
class Res_conv2d(nn.Layer):
    def __init__(self):
        super(Res_conv2d, self).__init__()
        self.weight = paddle.create_parameter(shape=[30,1,5,5],dtype = "float32")
        self.bias = paddle.create_parameter(shape=[30],dtype = "float32")
        self.reset_parameters()

    def reset_parameters(self):
        self.weight.numpy()[:] = SRM_npy
       -->self.bias.data.zero_(

[2022-02-20 14:39] RockyHoo1209 commented on #32927
遇到+1

[2022-02-20 14:57] Water2style opened #39753 "对MobileNetV1剪枝后,nvgpu推理速度反而不如原版."
使用FPGM对MobileNetV1分别剪枝 30%和50%.

使用paddle-inference推理预测1万张ImageNet2012图片.
计时位置是 predictor.run()的前后.

只有50%剪枝后的模型推理速度比原版强.
30%的剪枝模型还比原版弱了.
这是为什么呢?谢谢

[2022-02-20 15:13] qili93 commented on #39753
hi，您好，

请问您这里是使用PaddleSlim进行剪枝吗？是否方便提供详细的剪枝步骤，以及剪枝之后的模型结构以便进行分析和复现吗？

[2022-02-20 15:18] Water2style commented on #39753
你好,是用的PaddleSlim.
步骤就是跟随教程来的.
推理的时候,只有batch_size=2的时候,30%的剪枝模型会快于原版,其他更大的batch_size都不如原版
主要步骤:
FPGM+敏感性分析+跳过最后一个conv. (50%剪枝和30%剪枝唯一区别就是剪枝比例)

pruner = paddleslim.dygraph.FPGMFilterPruner(net, [1, 3, 224, 224])
pruner.sensitive(sen_file=args.sens_file)
plan = pruner.sensitive_prune(args.prune_ratio, skip_vars=[ conv2d_params_name[-1]]).

您说的剪枝后的模型结构是 Summary信息吗?~

[2022-02-20 15:29] qili93 commented on #39752
hi @ZiJINII ,

Paddle的Parameter对象不支持直接通过data访问，建议使用这个API在reset_parameters方法中修改Parameter的值：

https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/utils/vector_to_parameters_cn.html#vector-to-parameters

如果你只需要把parameter在初始化的时候设置为0，也可以在调用create_parameter是输入initializer为initializer.Constant(0.0)来设置初始值。

[2022-02-20 15:31] xu-peng-7 opened #39754 "对paddle内置数据集WMT16内置数据集的补充建议"
class paddle.text.datasets.WMT16 中对WMT16的介绍过于简单，示例程序运行显示方块，返回值无介绍，数据集无介绍，无使用案例。建议补充。

[2022-02-20 15:31] qili93 commented on #39753
是的，最好可以帮忙提供一下剪枝前后的模型变化信息，谢谢！

[2022-02-20 15:39] xu-peng-7 commented on #39754
trg_ids返回值怎么几乎全是2啊？还有读取数据集的参数也没文档说明

[2022-02-20 21:30] jakpiase commented on #28555
Hi, ShuffleNetV2 FP32 for PaddlePaddle-MKLDNN will be speedup by ~22% after merging this PR: https://github.com/PaddlePaddle/Paddle/pull/39756

[2022-02-20 22:42] Water2style commented on #39753
网络结构用的是 PaddleClas.MobileNetV1

这是剪枝算法print出来的最后的一部分，应该是展示了裁剪了哪些通道：
2022-02-19 03:59:47,031-INFO: change groups from 32 to 16 for conv2d_1.w_0.
2022-02-19 03:59:47,034-INFO: change groups from 64 to 46 for conv2d_3.w_0.
2022-02-19 03:59:47,037-INFO: change groups from 128 to 101 for conv2d_5.w_0.
2022-02-19 03:59:47,041-INFO: change groups from 128 to 99 for conv2d_7.w_0.
2022-02-19 03:59:47,045-I

[2022-02-21 00:34] MiShiDeHaiLuo commented on #39722
我知道我用的C++输出只是一维的Vector<float>,单数里面数据比较奇怪。6个一组只有3个数据 其余都是0
![image](https://user-images.githubusercontent.com/97105652/154871757-e620339d-e230-462e-a4a3-92469cf1db89.png)

[2022-02-21 02:37] Zjq9409 commented on #39446
已经更新rtol和atol值

[2022-02-21 02:43] Xingyu-Romantic opened #39757 "(NotFound) Operator elementwise_div does not have kernel for data_type[bool]"
**To Reproduce**
[code]
Result: tensor([0.5000, 1.0000, 0.5000, 0.0000])

[code]
Error: (NotFound) Operator elementwise_div does not have kernel for data_type[bool]:data_layout[ANY_LAYOUT]:place[CPUPlace]:library_type[PLAIN].
  [Hint: Expected kernel_iter != kernels.end(), but received kernel_iter == kernels.end().] (at /paddle/paddle/fluid/imperative/prepared_operator.cc:159)
  [operator < elemen

[2022-02-21 02:50] miemie2013 opened #39759 "Paddle复现stylegan2-ada，与pytorch有相同的输出却有不同的梯度。"
代码地址：https://github.com/miemie2013/stylegan2-ada-pytorch_m2

stylegan2-ada中的SynthesisNetwork，计算loss_Gpl时会求其梯度进行计算。我用Paddle复现了SynthesisNetwork，与pytorch有相同的输出却有不同的梯度。

环境：Python3.9、paddlepaddle-gpu==2.2.0

首先运行test2_SynthesisNetwork_grad.py，保存pytorch版SynthesisNetwork的权重"pytorch_synthesis.pth"，跑一次前向，保存输入、输出、输出对输入的梯度、部分层输出对输入的梯度为文件synthesis_grad.npz；
接着，跑test2_SynthesisNetwork_grad_2paddle.py，建立paddle

[2022-02-21 02:54] GT-ZhangAcer commented on #39759
mark

[2022-02-21 03:04] qili93 commented on #39754
感谢您的反馈，会尽快补充关于WMT16内置数据集的相关文档，谢谢！

[2022-02-21 03:12] haozech commented on #39741
你好，如果想输出更多debug信息，可以用`export GLOG_v=4`。`export GLOG_vmodule=operator=5` 这个命令是出自文档吗？能否附上来源，谢谢~

[2022-02-21 03:24] haozech commented on #39745
你好，目前没有官方的离线部署文档。如果需要离线部署，那么建议方式是在在线环境先下好paddle whl安装包( https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html )，以及paddle依赖的第三方库( https://github.com/PaddlePaddle/Paddle/blob/develop/python/requirements.txt )，具体通过`pip install --download`命令来下载。然后在离线环境下通过这些whl包进行安装。注意paddle whl安装包下载是要按照离线环境的软硬件环境下载对应的安装包。

[2022-02-21 03:26] yinhaofeng commented on #39757
这里elementwise_div在2.0之后的版本中为paddle.divide算子。逐元素相除如果使用bool型会导致除零错误。我理解这里错误的发生是因为paddlepaddle和pytorch的用法存在差异。您可以参考这里的办法解决问题：
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/pytorch_project_convertor/API_docs/ops/torch.div.md
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/pytorch_project_convertor/API_docs/ops/torch.divide.md

[2022-02-21 03:57] wanghaoshuang commented on #39753
30%的剪枝模型还比原版弱了.
这是为什么呢?谢谢

这是因为PaddleInference所调用的Nvidia GPU计算库cublas（或cublaslt）对矩阵乘或卷积计算的操作做了深入的优化。
比如，如果对`A=[1024，1024]`, `B=[1024, 256]`做了特殊优化O，将A剪裁为[700, 1024], 有可能无法命中优化O, 性能反而不如剪裁之前。

可以分别尝试以下两个方法，来尽量避免上述问题：
1. 在敏感度分析时，开启[sensitive_prune](https://paddleslim.readthedocs.io/zh_CN/latest/api_cn/dygraph/pruners/fpgm_filter_pruner.html#sensitive_prune)的`align`选项，使剪裁后的通道数是8或16的倍数；
2. 在当前得到的一组剪裁率的基

[2022-02-21 04:33] zhwesky2010 commented on #39701
@hjf834405 这个报错从上面的mean OP又变成了argsort OP，可能是机器GPU环境问题，请问通过 paddle.utils.run_check() 目前可以稳定复现问题吗？

[2022-02-21 05:03] wangxinxin08 commented on #39742
你好，matrix_nms在训练结果比较差的时候会导致运行时间非常长，这个是由于算法的实现本身导致的，所以，你可以选择将sanepshot_epoch改大，或者使用multiclass_nms替换matrix_nms，通过调整参数，multicalss nms基本能达到和matrix_nms接近的精度

[2022-02-21 05:10] icedream2linxi commented on #39742
你们定义这个问题是BUG呢？还是不是BUG，现在的结果就是预期的！
你们会改matrix_nms的实现解决这个问题吗？

[2022-02-21 05:21] wangxinxin08 commented on #39742
不是bug，应该是算法的原理导致的

[2022-02-21 05:28] wangna11BD commented on #39759
目前是反向对齐出现的问题，建议用二分的方法查找diff，定位出PaddlePaddle与PyTorch梯度无法对齐的API或者操作，然后进一步验证并反馈。
相关文档可以参考这个： https://github.com/PaddlePaddle/models/blob/release/2.2/docs/lwfx/ArticleReproduction_CV.md#3.8

[2022-02-21 05:29] MiShiDeHaiLuo commented on #39722
![image](https://user-images.githubusercontent.com/97105652/154894777-eb32a1eb-78fe-48dc-8bf1-35add59ff7a5.png)
就是官方的infercen  Demo中  Yolov3也是返回的数据存在多位0数据，你可以直接调用官方Demo

[2022-02-21 05:30] MiShiDeHaiLuo commented on #39722
![image](https://user-images.githubusercontent.com/97105652/154894903-98cd6750-0964-4ff7-bd1c-edc0f0cf6dc4.png)
就是官方的infercen Demo中 Yolov3也是返回的数据存在多位0数据，你可以直接调用官方Demo测试下

[2022-02-21 06:11] haozech commented on #39745
另外标题可以修改下，应该是「飞桨」~
然后离线的其他办法还可以将docker中我们飞桨官方的image registry.baidubce.com/paddlepaddle/paddle:2.2.2-gpu-cuda10.2-cudnn7 下载下来，到离线环境中创建container然后在docker环境中使用。
如果方便的话，可以提供更具体的离线环境信息，方便我们进一步支持~

[2022-02-21 06:40] zhwesky2010 commented on #39722
请问这个yolov3_test的文件位置？

[2022-02-21 06:44] MiShiDeHaiLuo commented on #39722
这是github上的位置
https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/yolov3
![image](https://user-images.githubusercontent.com/97105652/154902690-83bfd4f7-0470-4f42-b37d-e1b7e90c390a.png)

[2022-02-21 06:51] zhwesky2010 commented on #39701
@hjf834405
https://github.com/PaddlePaddle/Paddle/issues/33063
https://github.com/PaddlePaddle/Paddle/issues/30947
https://github.com/PaddlePaddle/Paddle/issues/34561
这里面也遇到了这个问题，如果用了Dataloader，可以设成use_shared_memory=False试下
![infoflow 2022-02-21 14-53-51](https://user-images.githubusercontent.com/52485244/154903978-7de3a874-b118-4f8b-9942-5272957925c0.png)

[2022-02-21 06:56] zcuuu commented on #39741
哈喽 感谢您的解答，您提供的export GLOG_v=4 是可以显示更多信息的，至于export GLOG_vmodule=operator=5 是来自issue
#39569
您好其实我想了解的是 类似于 resnet 中conv bn relu 这样的算子，有可能是会融合成 一个算子的，我是想了解在运行resnet 50 中所运行的 fuse op
但是我在 cpu 以及gpu 执行打印出来的 算子信息 还是
单独的 conv2d
           batch_norm
          relu

看起来并不是我想看到的融合后的算子

所以我想问问，我该怎末调整  谢谢

[2022-02-21 07:06] icedream2linxi commented on #39742
https://github.com/PaddlePaddle/Paddle/blob/2bb5aae8fd6a521183565ade69dfc72ec8a83ce0/paddle/fluid/operators/detection/matrix_nms_op.cc#L112-L115
应该是BUG吧？！
看这代码，是把置信度小于阀值的剔除掉；我的数据里有很多置信度为nan的值，应该属于要剔除掉的。
我把114行改成`return isnan(score_ptr[idx]) || score_ptr[idx] <= score_threshold;`就很快了。

[2022-02-21 07:16] wangxinxin08 commented on #39742
置信度为什么会为nan？不是sigmoid或者softmax之后的吗？

[2022-02-21 07:29] hjf834405 commented on #39701
Running verify PaddlePaddle program ...
W0221 15:28:53.450443   491 operator.cc:248] uniform_random raises an exception thrust::system::system_error, parallel_for failed: cudaErrorInvalidConfiguration: invalid configuration argument
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
/tmp/ipykernel_

[2022-02-21 07:35] hjf834405 commented on #39701
aistudio的paddle版本从2.2.2更换为2.1.2可以运行了

[2022-02-21 08:06] liyancas commented on #39687
你好，请问这个具体模型可以明确下吗？

[2022-02-21 08:29] MiShiDeHaiLuo commented on #39722
您好，麻烦问一下测试效果怎么样？成功了吗？

[2022-02-21 08:32] Water2style commented on #39753
好的谢谢! 我后面继续做实验试试

[2022-02-21 09:10] MiShiDeHaiLuo commented on #39722
您好，这是github上的位置
https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/yolov3

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时

[2022-02-21 09:48] #39752 closed, assigned to qili93

[2022-02-21 10:02] icedream2linxi commented on #39742
https://github.com/PaddlePaddle/PaddleDetection/blob/4cff569cbf3a2120e97ea69a5a0902fe6c4fb78a/ppdet/modeling/post_process.py#L66-L68
这里的decode对应的是YOLOBox。所以是YOLOBox之后调用的matrix_nms。
再往前捋一捋。顺序是 sigmoid -> _de_sigmoid -> YOLOBox -> matrix_nms。

[2022-02-21 10:29] wuwusky opened #39786 "训练transformer encoder的过程中，输入超过2K的序列长度导致的训练过程异常和报错问题"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.2 gpu版本
    3）GPU：Tesla V100 PCIE 32 G，cuda：10.1，cudnn：7.6.5
    4）系统环境： Linux, python=3.7

- 训练信息
    1）单卡和单机多卡都存在问题
    2）32G显存，没有显存泄露情况，内存也正常
- 问题描述：参考 paddleHelix中的tape预训练模型，对序列数据进行训练，当最长序列设置为1024~2048的时候训练一切正常；然后增加最长序列长度限制后问题出现：
- ① 设置为3000，发现计算的loss在经过一定轮数后变为 nan
- ② 设置为4096，发现无法训练，报错提示非法内存访问，错误信息出现位置不一定，偶然会先训练几轮后抛出错误，偶尔会直接抛出错误，错误信息如下：
-
W0221 18:31:56.758

[2022-02-21 10:38] basaltzhang commented on #39687
@liyancas 参考的[pdserving readme](https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.4/deploy/pdserving#model-conversion)，下载[paddleocr 首页模型](https://github.com/PaddlePaddle/PaddleOCR#pp-ocr-series-model-listupdate-on-september-8th)，server这一行的三个infer_model

[2022-02-21 10:43] wangxinxin08 commented on #39742
YOLOBox里面是有对conf做sigmoid的， https://github.com/PaddlePaddle/Paddle/blob/2bb5aae8fd6a521183565ade69dfc72ec8a83ce0/paddle/fluid/operators/detection/yolo_box_op.cu#L49

[2022-02-21 11:30] yinhaofeng commented on #39786
感谢您的问题反馈，同时也建议您前往paddleHelix的套件中同步提下issue吧。

[2022-02-21 17:00] jakpiase commented on #37930
I have an idea how to speed it up (fc+reshape2+transpose2 fuse), but it can be done only after merging PR related adding memory-descriptor into tensor class

[2022-02-21 23:23] skywalk163 opened #39794 "使用to_static静态图后运算速度测试比动态图慢"
在写《动手学深度学习》飞桨代码实现中，12.1章节涉及到静态图部分，发现使用to_static静态图后运算速度测试比动态图慢
代码见测试代码1。请问：

1 我这样的测试（测试代码1）是否有问题。是否还能提速让静态图快过动态图。

2 我看to_static之后还要再转为动态图tensor输出，是否这样的转换消耗导致耗时长？
或者应该怎样解释。

3 我用lenet比较，纯静态图是比纯动态图快的。代码见测试代码2 。
是否还有更简洁的代码可以体现出静态图比动态图，比如使用to_static代码。

## 测试代码1
[code]

## 测试代码2

[code]

[2022-02-22 01:03] MiShiDeHaiLuo commented on #39607
你好，我用的C++Inferce的Demo中YoloV3进行目标检测测试，返回的结果存在问题，如下：

结果中存在很多0位数据。文件地址在：
https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/yolov3

麻烦您试下。
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"

[2022-02-22 01:21] #39754 closed, assigned to qili93

[2022-02-22 02:09] liyancas commented on #39687
好的，我们这边分析下，尽快反馈，谢谢！

[2022-02-22 03:12] littletomatodonkey commented on #39794
你好，测试速度的时候，建议加100个左右的iter作为warmup，另外就是测试机器上尽量不要有其他训练或者预测等任务/服务哈，可以先加上warmup再试下~

[2022-02-22 03:30] MiShiDeHaiLuo commented on #39722
@zhouwei25 @jiweibo 您好,,有结果了吗？

[2022-02-22 03:50] miemie2013 commented on #39759
已经定位到更细粒度的差别，为SynthesisLayer中的梯度出现差别。

代码地址：https://github.com/miemie2013/stylegan2-ada-pytorch_m2

首先运行test2_03_SynthesisLayer_grad.py，保存pytorch版SynthesisLayer的权重"pytorch_synthesisLayer.pth"，跑一次前向，保存输入、输出、输出对输入的梯度、部分层输出对输入的梯度为文件synthesisLayer_grad.npz；
接着，跑test2_03_SynthesisLayer_grad_2paddle.py，建立paddle版SynthesisLayer网络，将"pytorch_synthesisLayer.pth"的权重移植到paddle，保存为文件"pytorch_synthesisLayer.pdpar

[2022-02-22 04:35] #37095 closed, assigned to nobody

[2022-02-22 05:10] zlsh80826 commented on #39382
Issue has been fixed by https://github.com/PaddlePaddle/Paddle/pull/39566 and https://github.com/PaddlePaddle/Paddle/pull/39574.

[2022-02-22 05:10] #39382 closed, assigned to zhwesky2010

[2022-02-22 06:31] MiShiDeHaiLuo commented on #39722
问题解决了，c++提供的Demo存在很大问题，还需要照着python的Demo来排错。太不应该了

[2022-02-22 06:31] #39722 closed, assigned to zhwesky2010

[2022-02-22 06:43] #27076 closed, assigned to nobody

[2022-02-22 06:43] #28333 closed, assigned to Heeenrrry

[2022-02-22 06:43] #29920 closed, assigned to ForFishes, zhwesky2010

[2022-02-22 06:43] #30887 closed, assigned to littletomatodonkey

[2022-02-22 06:43] #30992 closed, assigned to Superjomn

[2022-02-22 06:43] #30995 closed, assigned to seiriosPlus

[2022-02-22 06:43] #31041 closed, assigned to ceci3

[2022-02-22 06:43] #31053 closed, assigned to ceci3

[2022-02-22 09:53] zlsh80826 commented on #39363
更新一下錯誤的复现信息

Dockerfile:
[code]

接著照以下指令复现
[code]

[code]

问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
運行 `test_static_save_load` 的過程中, 雖然單測能正確運行完成, 但中間 log 顯示錯誤
`Tue Feb 22 09:47:34-ERROR: Variable's shape does not match, the Program requires a parameter with the shape of ((30, 50)), while the loaded parameter (namely [ simple_lstmrnn_0.w_0 ]) has a shape of  ((20, 40)).`, `[libprotobuf ERROR /home/Paddle/

[2022-02-22 10:44] wuwusky commented on #39786
已经在那边提交issue了，但是这个问题不知道怎么解决？很奇怪的问题，回顾历史的issue中同样的错误抛出但是跟我的情况不一样，同时也根据issue中的内容尝试进行修改也没有解决问题。

[2022-02-22 11:22] zlsh80826 opened #39818 "test_jit_save_load unit test random failure"
版本、环境信息：
   1）PaddlePaddle版本：v2.2.2, develop branch
   2）CPU/GPU：CPU
   3）系统环境： [paddlepaddle/paddle:2.2.2](https://hub.docker.com/layers/paddlepaddle/paddle/2.2.2/images/sha256-8b08aec5a3898c1478bcfd3c30fdbdb118eb53d75b7f585fc910d5173dca9c50?context=explore)
   4）Python版本号: 無
   5）显存信息

[code]

复现信息：如为报错，请给出复现环境、复现步骤: 提供以下 Dockerfile

[code]
接著照以下指令复现

[code]
即有可能看到隨機錯誤的訊息, 以下為錯誤的 log
[code]

[2022-02-22 12:04] phoenixsfly opened #39821 "paddle.where函数x, y不支持float，而numpy.where和torch.where均支持，希望函数功能与两者相同"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle2.2-gpu
    2）CPU/GPU：CUDA11.3
    3）系统环境：Windows11
    4）Python3.8

在paddle中报错：
[code]

在numpy中可以运行：
[code]

在pytorch中：
[code]
原因在于``paddle.where(condition, x, y, name=None)`` 要求参数x, y必须是具有shape的tensor，而numpy和pytorch若x, y不是tensor会在内部自动转为tensor
在paddle中实现相同功能的代码需要这样写：
[code]
但是写法很复杂，丧失了可读性。
希望paddle.where函数能与numpy和pytorch功能上保持一致。

[2022-02-22 12:37] yinhaofeng commented on #39786
不知道您这边方不方便提供一下复现代码和环境？我们这边尝试复现您的错误，然后进行分析或者解决？

[2022-02-22 13:35] zcuuu opened #39824 "关于 Resnet 50 应用 pass优化 ，只有fuse_elewise_add_act_pass 起作用 ，其他的 pass 无效，无法得到全部的fuse op"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

paddle 2.2 版本
CPU 和GPU（cuda 11.2）两台机器

实验的目的的是想得到resnet 50  经过优化后的融合算子，为经优化的网络算子，打印如下
op type is conv2d
op type is batch_norm
op type is relu
op type is pool2d
op type is conv2d
op type is batch_norm
op type is relu
op type is conv2d
op type is batch_norm
op type is relu
op type is conv2d
op type is batch_norm
op type is con

[2022-02-22 14:36] wuwusky commented on #39786
我的问题，我又仔细检查了一遍流程，发现问题在transformer在定义pos embedding的时候固定写了最大是3000，所以超过3000就有问题了，这里改成跟数据设置长度一致后就没问题了，问题找到并解决，是我自己的问题！

[2022-02-22 15:19] Shelly111111 opened #39825 "paddle中tensor维度的问题"
’‘’代码’‘’
import paddle

a = paddle.arange(5)
print(a)
ls = []
for i in a:
    ls.append(i)
print(paddle.to_tensor(ls))

’‘’输出‘’‘
Tensor(shape=[5], dtype=int64, place=CUDAPlace(0), stop_gradient=True,
       [0, 1, 2, 3, 4])
Tensor(shape=[5, 1], dtype=int64, place=CUDAPlace(0), stop_gradient=True,
       [[0],
        [1],
        [2],
        [3],
        [4]])

如上，生成了一个尺寸为[5]的tensor，然后将其依次取出并加入一个

[2022-02-22 15:54] Shelly111111 commented on #39825
[code]
如上，tensor也不能只将某段数据更改为我们需要的数据，使用set_value是由于我在某个程序运行时，`Leaf Tensor (auto_6208350_) that doesn't stop gradient can't use inplace strategy.`这样的错误，由于不能stop_gradient不能直接使用‘=’等号赋值.

我希望我可以对有梯度的tensor的其中一部分进行更改。
我尝试了a[3].set_value(7)，这样，它会报错`Variable set_value function, arguments type only support Variable, numpy, VarBase, dict, string.`

[2022-02-23 01:06] #39786 closed, assigned to yinhaofeng

[2022-02-23 01:41] icedream2linxi commented on #39742
训练结果被我不小心删掉了，无法往前调，看前面出来的是什么数据。
重新训练没有重现。PaddleDetection的代码我也没有改过。
不过从逻辑上，不是应该要剔除掉nan的数据吗？

[2022-02-23 02:11] se7enXF commented on #38414
@ZhiluDing 我暂时使用的方法中，使用flask请求多只能等待。或者你可以看看PaddleServer，飞桨官方的网页服务。

[2022-02-23 02:19] xu-peng-7 opened #39828 "关于windows下使用softmax_with_cross_entropy报错"
- 标题：tensor holds the wrong type,desires to be int64_t 报错信息
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle2.2.2

- 问题描述：windows 10系统下，由于数据默认的类型会发生修改，导致出现使用softmax_with_cross_entropy出现tensor holds the wrong type,desires to be int64_t 报错。建议在所有使用cross_entropy的地方增加类型转换，包括paddlenlp.metrics.Perplexity()函数中。
- 但是在Linux环境中和AIstudio中运行正常。我重写了损失函数，添加
-      预测 = paddle.to_tensor(预测, dtype='float32')
        标

[2022-02-23 02:50] windstamp commented on #39828
您好，您的反馈对产品非常有价值，也非常欢迎您提把修复内容提成 PR 来解决此问题。

[2022-02-23 03:14] huangjun12 commented on #39446
eigvalsh修复pr：https://github.com/PaddlePaddle/Paddle/pull/39841

[2022-02-23 03:18] LuoyesK opened #39835 "中标麒麟v10系统下使用xpu部署时报错"
系统：中标麒麟v10
cpu架构：aarch64
python版本：3.7
paddlelite版本：v2.10
paddlelite编译命令：./build_linux.sh --arch=armv8 --with_python=ON --with_baidu_xpu=ON --with_extra=ON --with_cv=ON
具体问题：在将训练好的模型转为xpu后，使用python进行xpu部署时报错，具体出错代码为predictor = create_predictor(model_dir)
报错信息：[F 2/13 10:4:53.764 ...Lite/lite/model_parser/flatbuffers/io.cc:66 FillTensor] Check failed: dst: 已放弃（核心已转储）
另外尝试使用opt将同一模型转为arm后再执行程序，之后程序顺利

[2022-02-23 05:53] wangxinxin08 commented on #39742
nms的输入是score和box的坐标，score是经过softmax或者sigmoid的

[2022-02-23 06:23] zhupengyang commented on #39835
xpu不支持opt转换的模型，请参考[文档](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/baidu_xpu.html)Demo部分直接加载原始模型

[2022-02-23 06:30] zlsh80826 commented on #39446
@huangjun12
The atol needs to be `6e-5` and rtol needs to be `5e-6`. The reason is discussed at https://github.com/PaddlePaddle/Paddle/issues/39446#issuecomment-1043773985.
Reference: https://github.com/PaddlePaddle/Paddle/pull/39568

[2022-02-23 07:16] littletomatodonkey commented on #39821
你好，感谢反馈，我们记录下这个需求~

[2022-02-23 07:17] LuoyesK commented on #39835
所以xpu只能使用C++以及paddle训练出来的原始模型吗？

[2022-02-23 07:37] littletomatodonkey commented on #39824
你好，可以参考这里，获得最好的训练速度性能哈：https://github.com/PaddlePaddle/Perf/blob/master/ResNet50V1.5/README.md

[2022-02-23 07:37] zhupengyang commented on #39835
- 不限定语言。不过目前推荐c++，部分Python接口还不完善。
- 仅支持paddle原始模型

[2022-02-23 08:35] LuoyesK commented on #39835
但是我看python api的相关文档有写：
TargetType 为目标设备硬件类型，用户可以根据应用场景选择硬件平台类型。枚举型变量 TargetType 的取值包括 {X86, CUDA, ARM, OpenCL, FPGA, NPU} 等。
我具体看了下里边没有XPU，这是不是意味着要在xpu上部署只能使用C++的api？

[2022-02-23 09:08] zhupengyang commented on #39835
是的，2.10没有。下个版本会有。

[2022-02-23 09:30] lidanqing-vv commented on #37005
@yghstill Hi, guanghua, could you please generate following two quant models that has elementwise_mul quantized. Because we now support elemntwise_mul int8, and we found both following models have elementwise_mul and should both benefit from elementwise_mul int8 kernel in performance. Thank you very much !

**ppyolov2_r50vd_dcn quant model**: https://paddledet.bj.bcebos.com/models/slim/ppyolov2_r5

[2022-02-23 10:35] littletomatodonkey commented on #39825
你好，感谢反馈，这个需求我们记录下哈~

[2022-02-23 12:02] onecatcn commented on #39821
非常感谢您的宝贵建议，我们将在PaddlePaddle2.3中加入这一功能，敬请关注

[2022-02-23 12:06] tz28 opened #39865 "GRU 文档问题"
- 文档版本信息：2.2

### 文档问题描述：
文档链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/GRU_cn.html#gru
关于GRU这个OP的文档，在描述输出 outputs 和 final_states 时，都用到了time_steps，但通篇没有关于time_steps是什么的介绍，虽然这对搞NLP的同学来说能够大体猜出来是句子长度，但是对于一般小白来说，甚至不搞NLP的人来说，根本不太知道time_steps是指什么？这对理解outputs 和 final_states的shape极为不利，建议增加解释time_steps的含义
![image](https://user-images.githubusercontent.com/9672354/155315880-dfe3a1

[2022-02-23 12:29] TinyQi opened #39866 "训练swin-transformer时，随机崩溃出现CUDA error(700), an illegal memory access was encountered"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu  2.2.0rc0.post101
    3）GPU：GPU  T4
    4）系统环境：CenterOS7

- 训练信息
    1） 单卡T4、单卡V100都试过
- 复现信息：基本上每次都会崩溃
- 问题描述：训练swin-transfomer模型时，改了几个必要的参数，其余基本上就没动了，都是沿用原始的配置，然后一开始训练，有时候1个epoch没满就崩溃，有时候几个epoch再崩溃。每次崩溃时，打印的日志都是下面这一段

-
- 下面是崩溃时的日志
[02/22 14:11:00] ppdet.data.source.voc WARNING: Found an invalid bbox in annotations: xml_file: /share/disk2/data/02.

[2022-02-23 12:45] skywalk163 commented on #39794
机器上只有这个测试程序，其它时候都是空闲的。

将测试代码1的测试部分 改写成这样：
[code]
可以看到输出一直保持较平稳的值，且动态图快于动态图。
这是最后几十个输出信息
[code]

[2022-02-23 13:43] gyg123456 commented on #39256
cuda11.2配合cudnn8.2，解决了以上问题

[2022-02-23 13:44] #39256 closed, assigned to CtfGo, pangyoki

[2022-02-24 01:49] TinyQi commented on #39866
补充一下，并且基本上每次训练都会伴随nan的出现，我将学习率降低为原来的一半也会出现问题

[2022-02-24 02:19] huangjun12 commented on #39446
Done

[2022-02-24 02:27] Xingyu-Romantic commented on #32195
![image](https://user-images.githubusercontent.com/22713115/155445656-fce020de-ccfa-4bbc-a7cc-7bd2f4424789.png)

[2022-02-24 02:27] Xingyu-Romantic commented on #32195
我也遇到同样的问题了，是FastRCNN+SlowFast模型  时空动作定位

[2022-02-24 02:30] Xingyu-Romantic commented on #32195
I0224 10:26:17.922376  3303 operator.cc:191] CUDAPlace(0) Op(write_to_array), inputs:{I[array_length_0.tmp_0:int64_t[1]({})(CPUPlace)], X[_generated_var_4:float[5, 2304, 8, 8]({})(CUDAPlace(0))]}, outputs:{Out[array_0.out:[-1]({{}})()]}.
I0224 10:26:17.922395  3303 device_context.cc:81] DeviceContextPool Get: CUDAPlace(0)
I0224 10:26:17.922415  3303 array_operator.h:59]  Offset = 0
I0224 10:26:17.

[2022-02-24 02:52] GT-ZhangAcer commented on #39745
https://www.jianshu.com/p/964e3badb8e2
很久之前写过一篇，离线不难的，熟悉pip这个就是很轻松的事情

[2022-02-24 03:21] zhwesky2010 commented on #39722
您好，我们后面会进行修复，感谢提出问题

[2022-02-24 03:22] skywalk163 commented on #39794
最后用的resnet152 ，运行之后也是动态图比静态图快
[code]

结果显示：
[code]
当然真用起来，还是静态图快，见这个：
https://aistudio.baidu.com/aistudio/projectdetail/3517042

[2022-02-24 03:25] skywalk163 commented on #39794
最后用的resnet152 ，运行之后也是动态图比静态图快
[code]

结果显示：
[code]
当然真用起来，还是静态图快，见这个：
https://aistudio.baidu.com/aistudio/projectdetail/3517042

[2022-02-24 04:10] jyjfjyjf opened #39881 "使用混合精度报错"
代码：

    model, optimizer = paddle.amp.decorate(models=model, optimizers=optimizer, level=f16, master_weight=None, save_dtype=None)

    global_step = 0
    for epoch in range(1, epochs + 1):
        correct = 0
        data_num = 0
        batch_id = 0

        model.train()

        for data in tqdm(train_loader, desc=f'epoch {epoch} training'):
            input_ids = paddle.to_tensor(data[0])

[2022-02-24 04:21] windstamp commented on #39866
请问 swin-transformer 也是使用的 Paddle 的模型套件吗，请提供一下复现代码。

另外，你是采用动态图还是静态图模式训练的。有尝试过减少 batch size 试试吗？

[2022-02-24 07:11] Xingyu-Romantic commented on #32195
@Superjomn

[2022-02-24 07:56] Ligoml commented on #39649
你好，我们会在下个版本中支持动态图架构下pylayer的double grad功能，敬请期待~

[2022-02-24 08:03] HighCWu commented on #39649
拭目以待😀

[2022-02-24 08:19] Ligoml commented on #36815
你好，我们目前已经具备和`torch.gather`功能等价的api`paddle.take_along_axis`，你可以在develop版本中体验，该api预计会在2.3rc版本中发布~

[2022-02-24 08:19] #36815 closed, assigned to nobody

[2022-02-24 08:26] Ligoml commented on #36743
你好，我们目前已经具备和`torch.scatter`功能等价的api`paddle.put_along_axis`，你可以在develop版本中体验，该api预计会在2.3rc版本中发布~

[2022-02-24 08:26] #36743 closed, assigned to tianxin1860, sneaxiy

[2022-02-24 08:38] wangna11BD commented on #39759
同学，您好，我在test2_03_SynthesisLayer_grad_paddle.py文件中将
dy_dx = paddle.grad(outputs=[y.sum()], inputs=[x], create_graph=False, retain_graph=True)[0]
dy_dws = paddle.grad(outputs=[y.sum()], inputs=[ws], create_graph=False, retain_graph=True)[0]
dy_dx_paddle = dy_dx.numpy()
dy_dws_paddle = dy_dws.numpy()
改为
y_sum = y.sum()
y_sum.backward(retain_graph=True)
dy_dx_paddle = x.gradient()
dy_dws_paddle = ws.g

[2022-02-24 08:40] basaltzhang commented on #39687
@liyancas 显存增长、耗时变长的现象可以复现吗？

[2022-02-24 09:05] Ligoml commented on #36316
你好，paddle目前在develop版本中已具备 `paddle.nn.Fold` 和 `paddle.as_complex` 对应，预计会在下个版本中发布，敬请期待~

[2022-02-24 09:05] #36316 closed, assigned to gongel

[2022-02-24 10:23] Ligoml commented on #39828
感谢反馈，目前该问题已在PR https://github.com/PaddlePaddle/Paddle/pull/39662 中修复，待PR合入后，你可以尝试develop版本，应该会修复该问题~

[2022-02-24 12:23] TinyQi commented on #39866
1. 训练套件使用的是PaddleDetection2.3训练套件，没改过代码，只改过一些必要配置文件的惨呼
2. 应该是采用默认的动态图的训练模型
3. 默认的batchsize就是2，我尝试过增加到3和4，上述问题仍会出现
4. 我还尝试将学习率减半，上述问题仍会出现

[2022-02-24 12:25] zhiqiu commented on #39881
hi，请问你的模型代码能发出来看下吗？

[2022-02-24 12:54] LeeRainFish commented on #33187
https://blog.csdn.net/qq_41961619/article/details/113791429 这篇博客里说“此程序仅支持64位Release版本”，
我在Qt里移植使用Debug模式版本，切换到release版本后就没问题了

[2022-02-24 13:59] xiaoxiaohehe001 commented on #39687
@[basaltzhang](https://github.com/basaltzhang)  感谢您提供的问题，问题可以复现，具体原因在定位中。

[2022-02-24 16:19] Isabellahu opened #39915 "Assertion `label >= 0 && label < feature_size_` failed. Variable value (label) of OP(fluid.layers.cross_entropy) expected >= 0 and < 1, but got 1. Please check label value."
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]