[2020-07-30 06:32] wozna commented on #25739
Thanks for your answers. I have prepared a proposal for a change https://github.com/PaddlePaddle/Paddle/pull/25838

[2020-07-30 06:39] lossfaller commented on #25816
最后查到是写CSPDarkNet53,out = fluid.layers.split(all_out, 2,  dim=1)[1] 这一步时候fluid.layers.split(all_out, 2,  dim=1)[0]没有计算梯度，我现在把all_out.stop_gradient=True,怎么只屏蔽fluid.layers.split(all_out, 2,  dim=1)[0]呢？

[2020-07-30 06:59] GanKunlu commented on #25833
已经解决，通过py_func 可以实现需求 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/py_func_cn.html#py-func

[2020-07-30 07:27] yeguang1991 opened #25841 "PALM预测相似文本的时候准确率下降了"
我把预测的代码封装成提前加载模型，然后有文本来了就直接预测，但是当我同时加载了两个训练模型之后，会影响第一个模型的准确率，请问是什么原因导致的，应该怎么解决？
![image](https://user-images.githubusercontent.com/66579493/88893484-febe1500-d278-11ea-9233-f6bcf8b20e73.png)
这是只加载第一个模型的时候预测的结果：
![image](https://user-images.githubusercontent.com/66579493/88893084-66279500-d278-11ea-9477-81e554a74a75.png)
这是加载第二个模型之后，第一个模型预测的结果
![image](https://user-images.githubusercontent.com/6657

[2020-07-30 07:32] FrankCV2048 opened #25842 "It may be some layer shapes set by mistake"
[code]

[2020-07-30 07:54] lossfaller commented on #25816
已解决，谢谢

[2020-07-30 08:00] jkren6 commented on #25815
谢谢

[2020-07-30 08:17] Joyo2016 opened #25845 "新增input字段报错：var sign_id not in this block"
版本：1.6.1
模型新增一个input字段：sign_id
![image](https://user-images.githubusercontent.com/19165659/88898348-29ab6780-d27f-11ea-89f8-4055e048942b.png)

字段值暂时是写死的，为了带一个标记过去，网络用不着这个字段，只需要在net中输出
![image](https://user-images.githubusercontent.com/19165659/88898468-5b243300-d27f-11ea-9a54-2798486ded9a.png)
![image](https://user-images.githubusercontent.com/19165659/88898584-83ac2d00-d27f-11ea-91f8-766eb519c228

[2020-07-30 08:36] #25816 closed, assigned to nobody

[2020-07-30 08:49] Microkitty commented on #18007
我在linux打包完的程序也不能跑，一直卡着不动，该怎么解决？

[2020-07-30 08:51] Microkitty commented on #22242
问题解决了吗，我遇到同样的情况，程序一直卡着进程越来越多

[2020-07-30 08:54] weikangSDU commented on #22242
没有，后面就没整这个了

[2020-07-30 08:57] NHZlX commented on #25845
估计某个环节将没有用到的输入给剪掉了，可以在这个输入后加一个scale op，设置scale为1，可以临时解决这个问题。引起这个问题的具体的原因会继续跟进下。

[2020-07-30 08:57] ArtyZe commented on #22242
其实你把你的exe文件换个电脑或者虚拟机跑一下就可以看到他报的错了。
我的已经解决了，这里其实它就是缺少dll文件，你把paddle下面的那些mdl的dll库同时打包进去就可以了。

[2020-07-30 09:01] Microkitty commented on #22242
如果找到对应缺失的库了，pyinstaller怎么同步打包

[2020-07-30 09:03] ArtyZe commented on #22242
修改pyinstaller的spec，然后从pyinstaller -f *.py改为pyinstaller -f *.spec，在spec的data那里指定你要同时包含的dll文件

[2020-07-30 09:05] Microkitty commented on #22242
你当时是缺少哪些dll我先试试

[2020-07-30 09:08] ArtyZe commented on #22242
去paddle下面搜就ok了呀，paddle用了mkl的加速库，就是两个相关的dll。
你如果实在懒得打包，我教你一招，把这些dll和你的exe一起发布，程序跑之前把dll先拷贝到system下，就解决了，你就不用重新打包了

[2020-07-30 09:09] Microkitty commented on #22242
主要是不知道要拷贝哪些dll，我已经拷贝了很多了还是不行

[2020-07-30 09:11] ArtyZe commented on #22242
![image](https://user-images.githubusercontent.com/32027268/88904371-94f93780-d287-11ea-988a-d7807dd934cb.png)
其实这些信息你在打包的时候认真点看，是可以看到他报找不到这个库的warning的

[2020-07-30 09:12] YuHuasong123 commented on #25804
**### 但我用自己的 language model去预测又是正常的，应该不是格式的问题，还有没有别的可能？**
 sh run_infer.sh
Download language model ...
./zh_giga.no_cna_cmn.prune01244.klm already exists, download skipped.
-----------  Configuration Arguments -----------
alpha: 2.6
beam_size: 300
beta: 5.0
cutoff_prob: 0.99
cutoff_top_n: 40
decoding_method: ctc_beam_search
error_rate_type: cer
infer_manifest: data/aishell/manifest.test
lang_model

[2020-07-30 09:21] YuHuasong123 commented on #25804
我这边是想通过ASR引擎进行中文语音测试，所用的语音模型和语言模型都是中文的，是不是这个引擎不支持中文呢？

[2020-07-30 09:49] JerryLeolfl opened #25846 "运行代码报错no kernel image is available for execution on the device errno"
**CentOS6.3+P40+CUDA9.0+cudnn7.6+python3.7安装来自另一台v100的编译的whl包，运行代码时报错**
cudaGetLastError  no kernel image is available for execution on the device errno: 48
*** Check failure stack trace: ***
    @     0x7f0c2636f7ed  google::LogMessage::Fail()
    @     0x7f0c26371b38  google::LogMessage::SendToLog()
    @     0x7f0c2636f2fb  google::LogMessage::Flush()
    @     0x7f0c26372a0e  google::LogMessag

[2020-07-30 09:53] YuHuasong123 commented on #25804
### 我在阿里云服务器上通过ASR引擎进行中文语音测试时，又报出飞桨进程/线程挂掉的问题，怎么解决呢？
 python demo_server.py
-----------  Configuration Arguments -----------
alpha: 2.5
beam_size: 500
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n: 40
decoding_method: ctc_beam_search
host_ip: localhost
host_port: 8086
lang_model_path: ./models/lm/zh_giga.no_cna_cmn.prune01244.klm
mean_std_path: ./data/aishell/mean_std.npz
model_path: ./checkpoints/aishe

[2020-07-30 11:02] Joyo2016 commented on #25845
可以通过设置避免裁剪吗

[2020-07-30 11:04] dingsiyu opened #25847 "NotFoundError: Input variable(tmp_163) cannot be found in scope for operator 'Fetch'."
- 版本、环境信息：
    1）PaddlePaddle版本：2.0-alpha
    2）CPU：
    3）GPU：p40, cuda 9和cudnn 7
    4）系统环境：centos6、 python2

INFO: 07-30 16:21:59: ernie_mrc_dataset_reader.py:341 * 139717780932352 set data_generator and start.......
/home/dingsiyu/bin/anaconda3/envs/python2/lib/python2.7/site-packages/paddle/fluid/executor.py:1101: UserWarning: Now you are using default_main_program, but there are no operators

[2020-07-30 11:09] zhangylch commented on #25703
你好，我看说bug修复了，我是怎么弄呢？更新下吗？

[2020-07-30 11:33] Superjomn commented on #25846
参考 https://stackoverflow.com/questions/55538036/cuda-nvcc-no-kernel-image-is-available-for-execution-on-the-device-what-is

这个错误直接的结论是，卡太旧，cuda 太新

[2020-07-30 11:35] Superjomn commented on #25847
可以描述下自己的网络，是分布式还是单机，等等

多一些信息量，光错误看不出来结论

[2020-07-30 11:36] JerryLeolfl commented on #25846
但是相同的配置pytorch tensorflow都可以用呀

[2020-07-30 11:38] #25833 closed, assigned to nobody

[2020-07-30 11:53] Superjomn commented on #25842
报错比较直观了，意思就是  matmul 输入的两个参数 reduce 纬度没法对上

[2020-07-30 11:58] Superjomn commented on #25846
建议直接安装官方编译好的包，自行编译的变量比较多了

[2020-07-30 12:00] Superjomn commented on #25841
这个是修改的官方提供的模型吗？
方便提供原始模型的链接吗

封装上层看不到具体的细节

[2020-07-30 12:02] Superjomn commented on #25837
请问这个是来自我们官方提供的模型的修改，还是完整自己从零搭建的模型呢？

[2020-07-30 12:07] shengkelong commented on #25837
@Superjomn 是自己搭的，但是应该没有问题，照着pytorch模型改的。而且使用我贴的比较笨的初始化方式是可以收敛的就是效果不太好。

[2020-07-30 12:15] #25827 closed, assigned to qingqing01

[2020-07-30 12:37] wuyi1405 opened #25849 "【论文复现】连运行!ls /home/aistudio/data或导包都在打圈。"
在论文复现作业时，启动环境，建立版本，选择版本，运行简单的!ls /home/aistudio/data都在打圈，即使不运行这条简单的命令，直接运行导包，也是还是打圈卡在程序里。请问是什么情况。百度账号:xiaodi1405
![baidu](https://user-images.githubusercontent.com/25198497/88923803-d77d3d00-d2a4-11ea-9dac-a716b443a88c.JPG)

[2020-07-30 12:38] wuyi1405 commented on #25849
在论文复现作业时，启动环境，建立版本，选择版本，运行简单的!ls /home/aistudio/data都在打圈，即使不运行这条简单的命令，直接运行导包，也是还是打圈卡在程序里。请问是什么情况。百度账号:xiaodi1405
![baidu](https://user-images.githubusercontent.com/25198497/88923666-a7359e80-d2a4-11ea-9d17-7f4858b80a5b.JPG)

[2020-07-30 13:50] zhwesky2010 commented on #25829
@RayCAS2017  你好，请问是只编译paddle_fluid_c_shared这个target吗

[2020-07-30 14:02] zhangylch opened #25850 "动态图索引问题"
动态图中variable变量不支持索引赋值 (例如：a[1,1:5]=b[1:5], a是variable)？转到numpy数组运算又不保留反向图。请教一下有什么办法解决没？可以加上variable的索引赋值吗？
还有一个小问题，能不能提供一个列表说明一下，现在具体有哪些op支持自动二阶求导？

[2020-07-30 14:27] FrankCV2048 commented on #25842
是滴 paddle的bug  建议我提个issue

[2020-07-30 14:31] RayCAS2017 commented on #25829
是编译整个paddle1.8的时候，只有这个项目编译失败。单独编译这个也会失败。不知道这个项目是做什么用？对C++的推理部署有什么影响？

[2020-07-30 14:32] RayCAS2017 commented on #25829
@zhouwei25 是编译整个paddle1.8的时候，只有这个项目编译失败。单独编译这个也会失败。不知道这个项目是做什么用？对C++的推理部署有什么影响？

[2020-07-30 16:21] livingbody opened #25851 "【论文复现】aistudio文档资料可以下载"
教程中的pdf文件，只要能看到课程，就可以随意下载，没有做保护。

[2020-07-30 16:33] livingbody opened #25852 "【论文复现】ai studio 信息显示错误"
ai studio 信息显示错误

1. 左侧环境--显存，显示16G。
2. 底部性能监控--实时数据，显示32G显存。

两者冲突，信息不一致。

[2020-07-30 17:01] rgr19 commented on #25742
Hello! I really like this answer. Thank You very much for that.

[2020-07-31 01:18] yeguang1991 commented on #25841
https://github.com/PaddlePaddle/PALM/tree/master/examples/matching
这个模型，我封装了run.py里的for prediction部分，然后按照我上面的封装进行预测，两次预测结果不一样，预测方式大概是这样的
![image](https://user-images.githubusercontent.com/66579493/88989689-c537e900-d30e-11ea-867b-94b8be7c369a.png)

[2020-07-31 02:09] yinyiyu opened #25853 "【论文复现】 Need to Create DeviceContextPool first Error"
![image](https://user-images.githubusercontent.com/24800963/88992414-ecde7f80-d315-11ea-8959-b52c7238eaec.png)

[2020-07-31 02:27] zhwesky2010 commented on #25829
@RayCAS2017 这个是CAPI的预测库，用于C语言部署，对C++部署没有影响，是不是你这个版本有什么问题，最新的编没什么问题。或者之前的编译目录和产出没有清除？

[2020-07-31 02:34] minghuisvn opened #25855 "[论文复现] 弄不懂conv2D参数dilation, group的含义，什么情况可以用这两个参数，还有dilation和上采样的关系又是什么"
请问conv2D dilation和group参数是什么意思，什么情况下用得到这两个参数？
    

[2020-07-31 03:30] wgh1989 opened #25856 "paddle inderence 有内存泄漏问题"
直接使用官方paddle-inference-demo，出现内存泄漏问题
fluid_paddle版本号：官方下载
https://paddle-inference-lib.bj.bcebos.com/latest-gpu-cuda10-cudnn7-avx-mkl/fluid_inference.tgz
GIT COMMIT ID: c9285a18a0e75d20adde189e77afba86b43d5155
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
CUDA version: 10.0
CUDNN version: v7.6
CXX compiler version: 4.8.2

环境信息：
CUDA-10.0，CUDNN-7.6.5
CentOS-7.7.1908
python-3.6.7

预测信息：
官方下载：Paddle-Infe

[2020-07-31 03:42] dlkht commented on #25508
是什么原因呢

[2020-07-31 06:06] NHZlX commented on #25856
这个有可能是初始化阶段用到了一些单例没有释放，这种情况对推理阶段没有影戏。模型初始化后，推理期间不会有这种情况

[2020-07-31 06:35] wgh1989 commented on #25856
我这边valgrind分析结果最终指向大多都是libpaddle_fluid.so，您可以用valgrind查一下具体log
目前我们跟paddle相关的多个业务线（包括分类、检测）都出现内存泄漏，麻烦帮忙跟进查一下
下面valgrind部分分析结果，有的是yolo-v3示例，供参考：
![image](https://user-images.githubusercontent.com/35423940/89006421-52903300-d339-11ea-88ca-ec18cc884810.png)
![image](https://user-images.githubusercontent.com/35423940/89006507-7fdce100-d339-11ea-8d2c-ae14b84a013c.png)
![image](https://user-images.githu

[2020-07-31 06:44] NHZlX commented on #25856
可否用单测验证下，某个模型下“循环推理”是否会导致内存上涨的现象

[2020-07-31 07:50] #25815 closed, assigned to nobody

[2020-07-31 07:55] wanghaoshuang commented on #25786
您用Paddle提供的docker镜像也是有问题么？

这是指docker镜像么？

[2020-07-31 08:30] mapingshuo opened #25863 "Implement Zero Redundancy Optimizer"
Zero Redundancy Optimizer(ZeRO) is a training strategy to reduce the memory usage of parameter, gradient and optimize states. The key results of ZeRO-DP contain two parts:

 i) ZeRO-DP incurs no additional communication using P_os and P_g, while enabling up to 8x memory reduction

ii) ZeRO-DP incurs a maximum of 1:5x communication when using P_p in addition to P_os and P_g, while further reducing

[2020-07-31 08:48] Akeepers commented on #25802
请教一个问题，关于 API [gradients](https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/gradients_cn.html#gradients)

假设NLP任务，输入文本长度为 seq_len ：
1. 模型的输入是shape 为 [batch_size, seq_len, hidden_dim]  的tensor，记作sent_input,
2. 输入经过一系列变换(attention), 得到shape为[batch_size, seq_len, hidden_dim]  的tensor ，记作encoder_output
3. 对文本的每个token做一个二分类[fc + softmax]，得到 shape 为 [batch_size, seq_len, 1]的 tensor, 记作cl

[2020-07-31 09:15] Superjomn commented on #25845
暂时没有其他方法。

直接 data 作为输出得用这个 trick

[2020-07-31 09:17] Superjomn commented on #25842
应该就是你的 fc1 传入的输入的维度不对，里面用到的 matmul 的两个维度没对上
是模型配置本是有问题应该是

![image](https://user-images.githubusercontent.com/328693/89020664-de15be00-d351-11ea-919d-9fa40e3e7294.png)

具体就是这里的 x 维度有问题，或者 fc 本身参数的维度设置有问题，结果就是 x 与  fc 本身的参数维度没对上

[2020-07-31 09:26] Yuanml1225 opened #25866 ""Not compiled with CUDA" AssertionError: Not compiled with CUDA"
paddlepaddle-1.8.1
paddlehub-1.7.1
CUDA Version 9.2.148
当前环境高级版
CPU 4
RAM 32GB
GPU v100
显存16GB
磁盘100GB

在使用module = hub.Module(name="bert_multi_cased_L-12_H-768_A-12")时，出现
    "Not compiled with CUDA"
AssertionError: Not compiled with CUDA
请问如何解决

[2020-07-31 09:46] 1084667371 opened #25867 "【论文复现】cudnnerror"
ExternalError:  Cudnn error, CUDNN_STATUS_NOT_INITIALIZED

[2020-07-31 10:04] cyrxdzj commented on #24713
不过话说回来，何时才能有Python3.8的whl包呢？

[2020-07-31 10:11] seiriosPlus commented on #25802
这个接口我也没用过， 看文档解释应该是和 sent_input的形状是一样的，可以尝试一下

[2020-07-31 11:00] Akeepers commented on #25802
我尝试过， 做法类似上面所说：
![image](https://user-images.githubusercontent.com/22610351/89028541-29829900-d35f-11ea-8bdb-96c543483e0f.png)

**问题是**：计算的得到的梯度，我放在了fetch_list来返回，结果是fetch_list无该变量（比如原来fetch_list 有3个变量，加了这个应该返回四个，但实际只返回3个变量，会报错）

**对API的测试** - API可行
尝试过AI studio，开源项目（sentence-level的分类任务），是可以的，具体可执行代码见 [文本分类](https://aistudio.baidu.com/aistudio/projectdetail/672184)

**现在的问题：** 不知道问题所在，也没有debug的思路

[2020-07-31 11:03] xiaoxuebajie opened #25869 "Error: Failed to find dynamic library: libnccl.so"
platform:Ubuntu
CUDA 11.0
nvidia-driver:450.57
运行PaddleClass

[2020-07-31 11:08] seiriosPlus commented on #25802
在运行前， 打印一下prgoram看一下：

基本写法：
[code]

看一下要fetch的那个变量的 定义。

[2020-07-31 12:32] shaunhurryup commented on #25852
这个是平台问题，和paddle无关

[2020-07-31 12:39] JunnYu commented on #25826
我在Windows10 cuda10.1 cudnn 7.6.5 VS2017 成功编译了paddlepaddle1.8，这个是编译好的地址 https://ws28.cn/f/356veinhf3c ，你可以尝试下载试试，pip install -U paddlepaddle_gpu-1.8.0.post1017-cp37-cp37m-win_amd64.whl

[2020-07-31 12:48] wuyi1405 commented on #25849
基础版：
https://aistudio.baidu.com/bdvgpu/user/303001/670169/notebooks/670169.ipynb
作业版：
https://aistudio.baidu.com/bdcpu7/user/303001/664581/notebooks/664581.ipynb
运行简单的!ls /home/aistudio/data都在打圈

[2020-07-31 13:15] zhangylch commented on #25703
你们调试好bug后，我这边是如何操作才能用呢，是重装1.8.1还是安装最新的develop版本？

[2020-07-31 13:31] Meiyim opened #25871 "`fluid.save` vs `fluid.io.save_params`速度慢太多"
paddle测试版本： 1.8.1

测试代码（这里模拟了一个Bert Base模型的参数大小）。
在我的测试中，采用新api(`fluid.save`)的写速度是5.8s.
旧api(`fluid.io.save_params`)的写速度1s.

对于每100 step就需要保存一次checkpoint的密集训练过程来说，上述diff导致了训练时间的增长。
这快是否有优化空间，至少性能上能够跟旧API对齐？

[code]

[2020-07-31 13:38] sfraczek opened #25872 "Verification of dygraph MKLDNN accuracy convergence"
**Quick Note:** OneDNN was previously named DNNL and MKLDNN.

## Instructions how to run Dygraph OneDNN training
When you merge the required pull requests, you can run training of few dygraph models with OneDNNN kernels. Some modifications to the models are still required. The models which training we are starting to support now are Mnist, ResNet, MobileNetV1, MobileNetV2.

You can prepend `DNNL_V

[2020-07-31 14:55] zbp-xxxp opened #25873 "How can i do for the error? not all arguments converted during string formatting"

[2020-07-31 14:56] zbp-xxxp commented on #25873
---------------------------------------------------------------------------TypeError                                 Traceback (most recent call last)<ipython-input-161-9f1628251e7f> in <module>
      7     print(train_parameters['label_dict'])
      8
----> 9     model = AlexNet("mobile-net", train_parameters['class_dim'])
     10     # model = MyLeNet()
     11     model.train() #训练模式
<ipython-i

[2020-07-31 15:09] dbsxdbsx commented on #25657
@ruyijidan ,遇到了同样的问题，不过我是要将动态图的网络进行soft update, 参照pytorch的写法提示没有“data”属性。

[2020-08-01 02:14] zb-tjw opened #25874 "【论文复现】环境出现过崩溃，不止一次"
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 1.8.0
    2）Python：python3.7
    3）GPU：v100
    4）复现项目：用GAN来生成Mnist数字
- 训练信息
    1）单机，单卡
    2）显存信息 16GB
    3）应用DCGAN来训练，崩溃出现在晚上9点左右，可能那个时间段用GPU的人数较多，每次做多运行完epoch0和epoch1就崩溃，然后停止环境的时候也会卡好久才能停止。应该不是代码原因，晚上听着课从10点开始再次尝试运行，一直运行到凌晨一点半程序一切正常，自己人为结束的程序。具体的崩溃截图如下：图一是崩溃图，图二是停止环境一直等待的图
![image](https://user-images.githubusercontent.com/23249908/89091825-3e9f0c8

[2020-08-01 03:55] dbsxdbsx commented on #25657
@ruyijidan, @ydchen9 我遇到了同样的问题，不过我是要将动态图的网络进行soft update, 参照pytorch的写法提示没有“data”属性。
经过摸索，目前发现在paddle的动态图下，以下方法可行，供参考：
[code]

[2020-08-01 04:19] jakeju92 opened #25875 "gather op不可像torch.gather一样指定dim参数"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）CPU/GPU：CUDA 10.1 和cuDNN 7.6.5
    3）系统环境：Ubuntu 16.04 LTS
    4）Python版本号：3.7.0
    5）显存信息: 8GB
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 问题描述：
我在使用gather op过程中发现其实现跟torch.gather不一样，不可以指定dim=1，可以提供Work around吗？具体的出现问题的测试代码可以参考如下：
[code]

[2020-08-01 04:30] shuangw98 commented on #25644
请问这个问题要怎么解决？

[2020-08-01 04:42] Ole168 opened #25876 "【论文复现】训练代码执行器错误，车牌检测作业网络定义那里改成dnn,lenet,vgg,都试过了都不会报这个溢出的错，但是改成ResNet和AlexNet,就都报这个错，ball ball 大佬解决一下。"
---------------------------------------------------------------------------EnforceNotMet                             Traceback (most recent call last)<ipython-input-10-a7c6b101c653> in <module>
     11             labels = np.array([x[1] for x in data]).astype('int64')
     12             labels = labels[:, np.newaxis]
---> 13             image=fluid.dygraph.to_variable(images)
     14

[2020-08-01 04:47] sunjie97 opened #25877 "【论文复现】如何冻结模型中的layer"
* 如何冻结某一layer，如BatchNorm
* 有没有什么方法快速冻结模型中指定层，如提供一个遍历模型中所有层的迭代器

[2020-08-01 06:33] emtelGNR opened #25878 "【论文复习】卷积后图片shape的取整：向上还是向下？"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2020-08-01 06:40] #25878 closed, assigned to nobody

[2020-08-01 07:24] #25877 closed, assigned to nobody

[2020-08-01 07:32] howl-anderson opened #25879 "AttributeError: module 'paddle.fluid' has no attribute 'dygraph_grad_clip'"
版本、环境信息：
    1）PaddlePaddle版本：1.8.3
    2）CPU/GPU：CPU
    3）系统环境：Mac OS
    4）Python版本号: 3.6.6

[2020-08-01 07:44] ydchen9 commented on #25657
最近有另外其他的重要事情，暂时没搞这事。谢谢。

[2020-08-01 08:02] GT-ZhangAcer commented on #25867
AI Studio上已经修复该问题，非框架原因。

[2020-08-01 08:04] #25825 closed, assigned to nobody

[2020-08-01 08:04] #25822 closed, assigned to nobody

[2020-08-01 08:06] GT-ZhangAcer commented on #25853
因为notebook没有程序终止的说法，不会自动去释放内存。如果同一个cell被运行两次就会声明两次，从而出现这个问题，不仅是AI Studio上会出现，而且jupyter也会出现。避开这个情况的最好方法是使用非notebook工具来运行代码。

[2020-08-01 08:07] GT-ZhangAcer commented on #25852
这个是平台问题，和paddle无关

[2020-08-01 08:07] GT-ZhangAcer commented on #25851
这个是平台问题，和paddle无关

[2020-08-01 08:08] GT-ZhangAcer commented on #25849
这个是平台问题，和paddle无关

[2020-08-01 08:08] GT-ZhangAcer commented on #25832
这个是平台问题，和paddle无关

[2020-08-01 12:51] S-HuaBomb opened #25880 "【论文复现】PaddlePaddle API文档中的接口：paddle.fluid.dygraph.guard(place=None) 的参数place的说明的修改建议"
- 版本、环境信息
1）PaddlePaddle版本：1.8
- 问题定位：PaddlePaddle API文档中的接口：[paddle.fluid.dygraph.guard(place=None)](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/guard_cn.html)，其中 `place` 参数的说明如下图所示：没有说清楚 `fluid.CPUPlace` 需要传入参数指明GPU
![}FNU(6_ ZNCG{X9ZIQ~QUG](https://user-images.githubusercontent.com/39048551/89101986-9ff2ca00-d437-11ea-858b-0060632581e4.png) 但这个接口：[class paddle.fluid.

[2020-08-01 13:30] ykallan opened #25881 "[建议]对于模型搭建部分"
1）PaddlePaddle版本：1.8
2）CPU/GPU：无关
3）系统环境：win10

- 复现信息：无
- 建议描述：
在模型搭建的过程中，不知道paddle，能不能添加类似于torch.nn.Sequential/SequentialList/SequentialDict等功能，方便搭建模型，或者是类似于tf.keras中，提供的高阶api，直接定义一下模型，compile一下就可以run，这样我感觉对于新手来说会很友好，现在我看教程，paddle只有最底层的api可以用来搭建模型，进行训练，这样对于新手来说太不友好了（哭）

所以建议，可以的话，添加高阶api在框架中，方便实现简单的模型搭建

期待您的回复
联系方式： 815583442@qq.com

[2020-08-01 13:47] ruyijidan commented on #25657
好的，我试试，我之前也想到了把模型的参数全部拿出来，再通过lerp对模型参数进行更新，但我得到是参数列表...就没办法对参数进行操作。
还有，target, source可以是同一个网络么？我的目的是要做EMA，所以之前想用deepcopy把模型的参数都拷贝一份.

[2020-08-01 16:02] dbsxdbsx commented on #25657
@ruyijidan ，“target, source可以是同一个网络么？”，我测试下来是可行的。而且因为是同一个网路，所以decay系数比例无论多少，最后网络参数仍然没变（若不算精度损失的话）。

[2020-08-01 17:08] jakeju92 commented on #25875
这里是测试数据，输入是x，i，输出是out。
[code]

[2020-08-01 17:41] fengyuentau opened #25882 "【论文复现】尝试用dygraph实现GAN的gradient penalty时遇到'Inputs and outputs of elementwise_add_grad do not exist'错误"
版本、环境信息：
    1）PaddlePaddle版本：AI-Studio中的Paddle-1.8
    2）CPU：请提供CPU型号，AI-Studio
    3）GPU：请提供GPU型号，AI-Studio
    4）系统环境：AI-Studio
模型信息
- 模型名称：论文复现营的GAN作业
- 使用数据集名称：mnist
- 使用算法名称：GAN

复现信息：
- 实现了G和D，并且确保可以跑通
- 在训练代码中尝试用fluid.dygraph下的接口实现gradient penalty，代码如下：
[code]
- 报错信息如下：
[code]

参考[PaddleCV/gan/trainer/StarGAN.py](https://github.com/PaddlePaddle/models/blob/b87761f8100a545e0015046dd55d886ce

[2020-08-02 02:29] liu0haha123 commented on #25875
同样的问题，paddle的gather只能对整个tensor做切片，有类似pytorch可以指定某个轴的方法吗

[2020-08-02 03:05] sunjie97 opened #25883 "【论文复现】动态图模型如何加载静态图预训练模型"
在做视频分类时希望加载ImageNet预训练参数，但是现有预训练模型都是基于静态图的，如何能将静态图模型参数转为动态图可加载的形式?

[2020-08-02 04:21] ruyijidan commented on #25656
我把问题复现的代码贴上了，希望能一起解决

[2020-08-02 04:29] ruyijidan commented on #25882
现在这个看不出来问题在哪里，你可以打印gp，看看有没有得出gp，先定位问题，

[2020-08-02 04:40] ruyijidan commented on #25657
哦，这样，我还是需要再创建一个网络，来更新target网络的参数，我想想办法看看能不能deepcopy一下模型

[2020-08-02 04:51] ruyijidan commented on #25875
可以参考下，希望有所帮助
https://ai.baidu.com/forum/topic/show/964406

[2020-08-02 05:43] fengyuentau commented on #25882
@ruyijidan
[code]

[2020-08-02 06:39] zp7541 opened #25885 "参数未初始化的问题，弄了一个星期了没解决。"
问题如下：
**InvalidArgumentError: The Tensor in the assign Op's Input Variable X(policy_fc1) is not initialized.
  [Hint: Expected t->IsInitialized() == true, but received t->IsInitialized():0 != true:1.] at (D:\1.8.1\paddle\paddle\fluid\framework\operator.cc:1289)
  [operator < assign > error]**
我自己写了一个dqn的代码，然后报参数未初始化。调了一个星期没弄好。然后用官方的一个DQN的代码：
https://aistudio.baidu.com/aistudio/projectdetail/169455

[2020-08-02 06:39] zp7541 commented on #25885
**我的代码如下：**

[code]

[2020-08-02 11:35] liu0haha123 commented on #25875
你这个想法是对的，但是飞桨只支持对最后N维进行切片，但是实际的需求是对3维张量的第1维进行切片，飞桨没有办法单独对中间的维度进行切片，有类似的思路吗，感谢

[2020-08-02 12:05] ruyijidan commented on #25885
把代码贴过来后，把粘贴全选，再点一下Insert code（ <> 图标），不然这个很难看懂

[2020-08-02 12:45] ruyijidan commented on #25885
希望能帮到你
https://aistudio.baidu.com/aistudio/projectdetail/576458

[2020-08-02 13:05] keithyin opened #25886 "以下代码 unique_name 的行为是否符合预期?"
[code]

输出:  (这里名字不应该是 first_ad_tower_..吗? 下面的输出有点迷惑)
ad_tower_ad_tower_fc_0.w_0
ad_tower_ad_tower_fc_0.b_0
first_first_fc_0.w_0
first_first_fc_0.b_0
x
ad_tower_ad_tower_fc_0.tmp_1
first_first_fc_0.tmp_1

[2020-08-02 16:08] jakeju92 commented on #25875
Hi @liu0haha123

针对 input_dim = 3, index轴=1的特殊情况我自己写了一个op，测试数据用的是上面我自己提供的数据，可以跑，项目链接：
https://github.com/jb892/paddle_gather_custom_op

希望对你有帮助！

[2020-08-02 16:12] phlrain commented on #25882
GAN相关的任务，由于fluid.dygraph.grad的使用，存在一些bug，建议切换到develop的paddle使用，并设置loss.backward( retrain_graph=True)

[2020-08-02 16:13] phlrain commented on #25880
非常提供这样的建议，我们会排期进行优化

[2020-08-02 16:14] phlrain commented on #25879
在1.8.3版本中，gradient clip操作进行了动态图和静态图的统一，接口统一导入了 paddle.fluid.clip.中

[2020-08-02 16:15] phlrain commented on #25876
建议先降低batch size进行尝试，如果降低了 batch size，程序可以运行，基本可以认为是显存或者共享内存不足导致的问题

[2020-08-02 16:16] phlrain commented on #25881
paddle同样提供了类似Sequence，ModelList等功能，这些api目前在paddle.fluid.dygraph.nn下面

[2020-08-02 16:30] wangleilei001 opened #25888 "PaddleDetection安装后测试例子无法通过got an unexpected keyword argument 'scale_x_y'"
安装后测试例子无法通过，报错如下

`
\[work@hostname PaddleDetection\]$ python3 ppdet/modeling/tests/test_architectures.py
ss........EE
======================================================================
ERROR: test_test (__main__.TestYolov3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/work/wangleilei01/PaddleDetection/ppdet/modeling/te

[2020-08-03 01:34] yeguang1991 commented on #25841
请问一下是什么原因，有什么办法解决吗

[2020-08-03 01:40] howl-anderson commented on #25879
Hi phlrain, 我能在哪里找到关于某一特定 API 的 changelog 、版本变动或者迁移指南么？

[2020-08-03 02:13] Welsun opened #25889 "【论文复现】运行官方API文档中的Conv2DTranspose的例子报错"
在运行官方文档中关于Conv2DTranspose的样例代码报错。
样例代码如下：

with fluid.dygraph.guard():
    data = np.random.random((3, 32, 32, 5)).astype('float32')
    conv2DTranspose = fluid.dygraph.nn.Conv2DTranspose(
          'Conv2DTranspose', num_filters=2, filter_size=3)
    ret = conv2DTranspose(fluid.dygraph.base.to_variable(data))

**报错如下：**
![image](https://user-images.githubusercontent.com/30971076/89139719-30352a00

[2020-08-03 02:16] fengyuentau commented on #25882
@phlrain 我尝试把grad里面的create_graph设置为False就可以跑通了，但这样设置就和官方的实现不一致了

[2020-08-03 02:28] hxl523 opened #25890 "[论文复现]Syntax error: word unexpected (expecting ")")插入图片"
notebook运行：

` ![image](图片地址)`

报错：
`Syntax error: word unexpected (expecting ")")`
环境配置：高级版
python3.7

[2020-08-03 02:31] yeguang1991 opened #25891 "palm 加载多个模型之后预测准确率下降的问题"
https://github.com/PaddlePaddle/PALM/tree/master/examples/matching
我封装了run.py里的for prediction部分，
![image](https://user-images.githubusercontent.com/66579493/89140359-01b84e80-d574-11ea-92fa-363a3e336132.png)
然后按照这样的方式进行预测：
![image](https://user-images.githubusercontent.com/66579493/89140396-214f7700-d574-11ea-928f-3eef375e042d.png)
相同的问题，两次预测的结果不一样
这是只加载第一个模型预测的结果：
![image](https://user-images.git

[2020-08-03 02:37] hxl523 commented on #25890
我解决了，在markdown环境就行

[2020-08-03 03:09] qingqing01 commented on #25888
@cucuzg

如果您使用的PaddleDetection release/0.4 or master版本，其中的YOLOv3需要使用 2.0.alpha版本或develop的每日版本，参考https://github.com/PaddlePaddle/PaddleDetection/issues/1103#issuecomment-663858241

如果是想使用pp-yolo模型: 需要使用develop的每日版本

其他模型使用release/1.8.1, release/1.8.2, release/1.8.3版本都可以。

有问题，也可以到PaddleDetection的repo提问。

[2020-08-03 03:28] NHZlX commented on #25885
@ruyijidan  hello，这个链接点进去显示“项目未公开”。麻烦你这边check下

![image](https://user-images.githubusercontent.com/5595332/89143293-a9d21580-d57c-11ea-9bda-6faa48b9466a.png)

[2020-08-03 03:30] weiexcelpro commented on #25832
我是AIStudio的PM. 请问您说的ipynb大于20MB打不开, 一直转圈圈, 可否提供一个截图(最好截上url栏)

[2020-08-03 03:32] weiexcelpro commented on #25823
Hi 我是AIStudio的PM, 感谢建议. 我们会考虑优化.

[2020-08-03 03:35] NHZlX commented on #25886
您好，这个我们已经复现，建议你这边先通过

[code]

的方式避免上述问题。

[2020-08-03 03:44] wangleilei001 commented on #25888
@qingqing01
感谢，已安装2.0.0a0。问题暂时看来已解决。

安装命令：pip install paddlepaddle==2.0.0a0

[2020-08-03 03:45] chenwhql commented on #25883
这个功能目前还在完善中，预计会在2.0 beta版发布

相关接口文档及示例：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api_cn/imperative_cn/jit_cn/load_cn.html

现在这个接口需要安装develop版本的paddle才能使用，如果您急用的话，可以考虑尝试安装下合适版本的develop的包：
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/Tables.html#whl-dev

[2020-08-03 03:51] wangleilei001 opened #25895 "快速开始中yolov3_mobilenet_v1_fruit.yml训练出错"
<img width="1438" alt="paddle11" src="https://user-images.githubusercontent.com/13131672/89144162-7c3a9b80-d57f-11ea-9cb3-5480bc6a5424.png">

快速开始中，训练出错，一共两处错误
命令python -u tools/train.py -c configs/yolov3_mobilenet_v1_fruit.yml --eval
issue3770貌似也不相关

[2020-08-03 03:56] Paranoidv opened #25897 "【预测问题】infer阶段dump数据到文件报错"
code：
infer_path = config.infer_result_path
model._train_program._fleet_opt["dump_fields"] = ["insid", "click", "pctr", model.predict.name]
model._train_program._fleet_opt["dump_fields_path"] = infer_path
模型上一个二分累ctr预估模型
"insid", "click", "pctr", model.predict.name分别是表示用户名，点击label，输入的得分数据和模型预测输出数据
但是dump到文件的数据却是这样
![image](https://user-images.githubusercontent.com/26296663/89144428-59f54d80-d580-1

[2020-08-03 04:02] hlzonWang opened #25899 "请问动态图有办法做lstm么"
好像没有发现跟lstm有关的任何的动态图api

[2020-08-03 04:18] chenwhql commented on #25883
可能我问题理解有误，这套方案是为了处理不重写动态图code的情况下，复用静态图预训练模型的，如果您已经写了动态图的模型code，可以按照以下步骤将静态图参数载入动态图，这个方法在目前已发布的1.x版本即可使用：

1. 使用[load_program_state](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/load_program_state_cn.html)载入静态图预训练参数，得到state_dict
2. 使用[set_dict](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Layer_cn.html#set-dict-stat-dict-include-sublayers-true)方法将st

[2020-08-03 04:41] weiexcelpro commented on #25874
可否提供一下项目网址

[2020-08-03 04:49] zb-tjw commented on #25874
https://aistudio.baidu.com/bdvgpu32g/user/3260/672372/notebooks/672372.ipynb这个地址可以吗，如果不行可以继续配合百度方面的工作

[2020-08-03 05:03] zb-tjw commented on #25874
`from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
import paddle
import paddle.fluid as fluid
import os

gf_dim = 64
df_dim = 64
gfc_dim = 1024 * 2
dfc_dim = 1024
img_dim = 28

c_dim = 3
y_dim = 1
output_height = 28
output_width = 28

use_cudnn = True
if 'ce_mode' in os.environ:
    use_cudnn = False

def bn(x, name=None, act='relu'):

[2020-08-03 05:23] livingbody commented on #25832
可以打开了。就是等的时间久一点，比以前好多了。

[2020-08-03 05:23] #25832 closed, assigned to nobody

[2020-08-03 05:33] zb-tjw commented on #25874
https://aistudio.baidu.com/aistudio/projectdetail/680144

[2020-08-03 06:04] liu0haha123 opened #25903 "两个关于API的问题"
1. 飞桨在1.7以上版本中是否有不要求Lod-Tensor 的一维卷积层
2. 飞桨有没有类似与pytorch中的指定分类权重的方法或者参数，类似于pytorch的CrossEntropyLoss()中weight这个参数

[2020-08-03 06:10] wgh1989 commented on #25856
这个问题线下有同学单独联系我了
“循环推理”zerocopyrun暂时没有发现内存上涨情况
我们业务端的代码还是存在内存上涨情况，我会从zerocopyrun开始往外扩展，持续查看问题所在，有进展会再贴出来

另外，从valgrind分析看，这个demo肯定是存在有申请的内存没有释放的情况（即使是初始化阶段），作为官方demo，也希望修复下这个问题

[2020-08-03 06:23] phlrain commented on #25882
@fengyuentau  不是要把 fluid.dygraph.grad 中的create_graph 设置为False； 是loss.backward()中的retain_graph 设置为False， 这个需要最新的develop版本

[2020-08-03 06:25] fengyuentau commented on #25882
@phlrain 嗯嗯，我懂你的意思。我想报告一个状况就是我这个代码把grad的create_graph设置为False就可以跑通了，但是我不确定这个实现会不会有差错。

[2020-08-03 06:27] phlrain commented on #25879
https://github.com/PaddlePaddle/models/blob/release/1.8/dygraph/ptb_lm/ptb_dy.py#L335

这种改目录的api 相对来说非常少，clip可以先参考这个的使用

[2020-08-03 06:30] phlrain commented on #25882
@fengyuentau 算出来的结果大概率是错的

[2020-08-03 06:31] fengyuentau commented on #25882
好的，谢谢你的解答。有时间我再验证一下。

[2020-08-03 06:31] #25882 closed, assigned to nobody

[2020-08-03 06:48] joyoFeng commented on #22501
你好， 我用v1.8.3 checkout仓库，然后按照教程执行分布式范例：https://www.bookstack.cn/read/paddlepaddle-v1.5/8f89485a1910612b.md， 也是遇到：`ValueError: Operator "send" has not been registered.`， 请问是什么情况呢？

编译命令（编译cpu版本，ubuntu19.10）： CXXFLAGS="-Wno-error=pessimizing-move -Wno-error=deprecated-copy" cmake .. -DPY_VERSION=3.7 -DWITH_FLUID_ONLY=ON -DWITH_GPU=OFF -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release

[2020-08-03 07:02] seiriosPlus commented on #25866
使用的Paddle版本不正确，需要使用带CUDA的版本
请使用：
`
python -m pip install paddlepaddle-gpu==1.8.3.post97 -i https://mirror.baidu.com/pypi/simple
`

[2020-08-03 07:03] seiriosPlus commented on #25869
请检查NCCL的环境变量是否设置正确了,
可以参考`https://www.paddlepaddle.org.cn/install/quick#show_info`

[2020-08-03 07:04] Thunderbrook commented on #25897
是否可以提供下组网呢

[2020-08-03 07:28] heavengate commented on #25895
你的环境python不支持多进程，把`configs/yolov3_reader.yml`里`TrainReader`的`use_process`设置成False吧
https://github.com/PaddlePaddle/PaddleDetection/blob/34cc67c6f295be909a7a1ad8525cd51ee22ac2a7/configs/yolov3_reader.yml#L55

[2020-08-03 07:31] luolimingfighting opened #25905 "paddle支持稀疏矩阵格式"
paddle.fluid.layers.data(name, shape, append_batch_size=True, dtype='float32', lod_level=0, type=VarType.SELECTED_ROWS, stop_gradient=True) 用这种方式读取稀疏矩阵时，请问下input的稀疏矩阵格式是怎样的？

[2020-08-03 07:32] luolimingfighting commented on #25905
比如：
1. [index1 float1, index2 float2, ...]

[2020-08-03 07:33] weiexcelpro commented on #25874
感谢, 已经安排RD去看了.

[2020-08-03 07:35] luolimingfighting commented on #25905
比如：
1. [index1 float1, index2 float2, ...] 索引加float值，中间空格或者 \t 分隔？
2. numpy 的 csr格式？
等等。。最好能贴个Demo

[2020-08-03 07:46] howl-anderson commented on #25879
@phlrain Thanks! It works now.

对于其他被这个 issue 困扰的人的建议，有两处改动需要注意：

1. gradient clip 除了换了 module 的位置，还可能 class 的名字有少许变动（e.g. `GradClipByGlobalNorm` -> `GradientClipByGlobalNorm`)
2. 在 Optimizer 中的使用也不同，从 `opt.minimize(loss, grad_clip=g_clip)` 改成 `opt = Optimizer(grad_clip=g_clip)`

希望能对其他人有所帮助。

[2020-08-03 07:46] #25879 closed, assigned to nobody

[2020-08-03 07:56] phlrain commented on #25905
目前paddle还不支持 feed的时候 支持selected rows的结构

[2020-08-03 07:57] NameLacker opened #25909 "cudnn使用报错"
W0803 15:56:39.833251 27062 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 11.0, Runtime API Version: 9.0
W0803 15:56:39.835793 27062 device_context.cc:260] device: 0, cuDNN Version: 7.6.
Begain training,times is: Mon Aug  3 15:56:40 2020
/home/lacker/anaconda3/envs/paddle-gpu/lib/python3.7/site-packages/paddle/fluid/executor.py:1070: UserWarning: The follo

[2020-08-03 08:00] luolimingfighting commented on #25905
那title那种方式暂时没有实际用处吗？或者我只能将稀疏矩阵转化为dense才能feed给paddle吗

[2020-08-03 08:06] zhuyingjun-zyj opened #25913 "使用lac模型部署到centos7.6，执行预测时报错"
W0802 03:33:31.086237 12470 init.cc:216] Warning: PaddlePaddle catches a failure signal, it may not work properly
W0802 03:33:31.086323 12470 init.cc:218] You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle
W0802 03:33:31.086359 12470 init.cc:221] The detail failure signal is:

W0802 03:33:31.086382 12470 init.cc:224] *** Aborted at 159631

[2020-08-03 08:47] heavengate commented on #25888
感谢反馈，已修复，https://github.com/PaddlePaddle/PaddleDetection/pull/1147  可以pull一下最新代码~

[2020-08-03 08:47] #25888 closed, assigned to nobody

[2020-08-03 08:56] saviord7 opened #25914 "Input features and labels"
Hello.
I got a little confused about defining features and labels in input dataset.

For example, I have dataset 100x15. 15 = 14 features + 1 label
How I can say in my code ?

I load my file like this: `data = np.genfromtxt('FILE.csv', delimiter=',') `
What next?

I saw many examples like:
[code]

Okay, I understand that x = features, y = label.

But how I can define this with my dataset?
So, I ha

[2020-08-03 08:59] #25883 closed, assigned to nobody

[2020-08-03 09:00] sunjie97 commented on #25883
好的，谢谢

[2020-08-03 09:44] #16804 closed, assigned to nobody

[2020-08-03 09:44] #17704 closed, assigned to nobody

[2020-08-03 09:44] #18792 closed, assigned to seiriosPlus

[2020-08-03 09:44] #18883 closed, assigned to sneaxiy

[2020-08-03 09:44] #18907 closed, assigned to heavengate

[2020-08-03 09:44] #18912 closed, assigned to heavengate

[2020-08-03 09:44] #18926 closed, assigned to nobody

[2020-08-03 09:44] #18936 closed, assigned to baiyfbupt

[2020-08-03 09:44] #18947 closed, assigned to nobody

[2020-08-03 09:44] #18986 closed, assigned to wzzju

[2020-08-03 09:49] jakeju92 opened #25921 "Paddle是否支持类似numpy的x[y > 0.1] = 1操作"
- 版本、环境信息：
   1）PaddlePaddle版本：1.8
   2）CPU/GPU：CUDA 10.1 和cuDNN 7.6.5
   3）系统环境：Ubuntu 16.04 LTS
   4）Python版本号：3.7.0
   5）显存信息: 8GB

- 问题描述：如题, paddle目前不支持类似如下numpy的操作:
1. 输入为x和y的numpy array，x.shape和y.shape相同
2. y > 0.1的输出为bool mask，这一步paddle是支持的。
3. 但是x[boolean_mask] = 1，这步操作paddle是不支持的，能否给一个workaround，谢谢！

[2020-08-03 10:19] sunjie97 opened #25922 "【论文复现】如何改变卷积层的weight"
我想要改变一个Conv2D对象的weight, 但其weight的类型为Parameter，我不知道如何创建一个Parameter实例，查阅了官方文档也没有找到方法，请问如何能够创建一个Parameter对象，有没有将Variable转换成Parameter的方法
报错信息大致如下：
[code]

[2020-08-03 11:41] zhangylch commented on #25703
你好，我是上次在issue 里提问二次求导（https://github.com/PaddlePaddle/Paddle/issues/25703），你们把问题合并了，我看说是已经修复了这个bug, 但是你们修复完之后呢？我们怎么才能用上你们修复之后的版本呢？是要直接等版本更新还是有什么临时的版本可以用？总得给个简单的说法，不能一直就一直不回复吧？我在问题下面问了两天，过好几天你们也不回复，只好给你们发邮件。如有打扰请见谅。

ylzustc@mail.ustc.edu.cn

发件人： hong
发送时间： 2020-07-29 15:13
收件人： PaddlePaddle/Paddle
抄送： zyl12138; Author
主题： Re: [PaddlePaddle/Paddle] 动态图应用fluid.dygraph.grad 报错 (#25703)
#25781 问题会在这个

[2020-08-03 11:42] sunjie97 opened #25923 "【论文复现】自定义Layer"
如何自定义Layer，实现前向传播和反向传播，我看到fluid.dygraph.layers.Layer的关于反向传播的定义[this line](https://github.com/PaddlePaddle/Paddle/blob/release/1.8/python/paddle/fluid/dygraph/layers.py#L481)，写着不应该自定义backward()函数。那么由类似需求的时候应该如何操作?

[2020-08-03 13:12] phlrain commented on #25742
Can you read Chinese？ Most of our issues are written in Chinese. We will help you translate it into English if you can't read Chinese.

[2020-08-03 13:40] #25895 closed, assigned to heavengate

[2020-08-03 13:46] kj7541 commented on #25885
`import numpy as np
import paddle.fluid as fluid
import random
import gym
from collections import deque
from paddle.fluid.param_attr import ParamAttr

class DQNModel(object):
    def __init__(self, state_dim, action_dim, gamma, hist_len, use_cuda=False):
        self.state_dim = state_dim
        self.action_dim = action_dim
        self.gamma = gamma
        self.exploration = 1.1
        self.up

[2020-08-03 13:50] kj7541 commented on #25885
`import numpy as np
import paddle.fluid as fluid
import random
import gym
from collections import deque
from paddle.fluid.param_attr import ParamAttr

class DQNModel(object):
    def __init__(self, state_dim, action_dim, gamma, hist_len, use_cuda=False):
        self.state_dim = state_dim
        self.action_dim = action_dim
        self.gamma = gamma
        self.exploration = 1.1
        self.up

[2020-08-03 13:50] kj7541 commented on #25885
`import numpy as np
import paddle.fluid as fluid
import random
import gym
from collections import deque
from paddle.fluid.param_attr import ParamAttr

class DQNModel(object):
    def __init__(self, state_dim, action_dim, gamma, hist_len, use_cuda=False):
        self.state_dim = state_dim
        self.action_dim = action_dim
        self.gamma = gamma
        self.exploration = 1.1
        self.up

[2020-08-03 13:52] zp7541 commented on #25885
`import numpy as np
import paddle.fluid as fluid
import random
import gym
from collections import deque
from paddle.fluid.param_attr import ParamAttr

class DQNModel(object):
    def __init__(self, state_dim, action_dim, gamma, hist_len, use_cuda=False):
        self.state_dim = state_dim
        self.action_dim = action_dim
        self.gamma = gamma
        self.exploration = 1.1
        self.up

[2020-08-03 13:53] kj7541 commented on #25885
`import numpy as np
import paddle.fluid as fluid
import random
import gym
from collections import deque
from paddle.fluid.param_attr import ParamAttr

class DQNModel(object):
    def __init__(self, state_dim, action_dim, gamma, hist_len, use_cuda=False):
        self.state_dim = state_dim
        self.action_dim = action_dim
        self.gamma = gamma
        self.exploration = 1.1
        self.up

[2020-08-03 14:04] zp7541 commented on #25885
此项目未公开
有个建议。
个人觉得在github上回答问题可能会经常重复劳动。因为很多人碰到了问题只会百度，百度不出来那么就基本上凉了。
虽然官方在github上面给很多人答疑，但别人不知道。因此这样会重复劳动。
之前学习tensorflow时候哪里报错了就直接把问题黏贴然后百度一下，基本上可以解决大部分问题。但是paddle的问题很多在百度上面百度不出来。外国人google，中国人百度。百度不出来，花费大量的时间有解决不了问题，就有可能劝退部分人。
因此我觉得应该鼓励人们写博客，还有在飞浆的社区发帖子。可以适当的对写博客的人作出奖励，比如一篇博客，帖子多少算力卡。

这个问题解决了，我一定会写一篇博客把这个问题记录下来，给后来的人避坑。不仅因为paddle是国产的，更因为官方对我们小白的问题的热情解答

[2020-08-03 16:50] wszzzx opened #25928 "【论文复现】wgan-gp实现后，梯度直线上升，检查了无数遍，不知道是哪一步出错了"
`# WGAN-GP
class G(fluid.dygraph.Layer):
    def __init__(self, name_scope):
        super(G, self).__init__(name_scope)
        name_scope = self.full_name()
        self.fc1 = Linear(input_dim=100, output_dim=256*2*2,act='relu')
        self.convtrans1 = Conv2DTranspose(num_channels=256,num_filters=128,filter_size=3,output_size=6,stride=2)
        self.bn2 = fluid.dygraph.BatchNorm(num_channels=

[2020-08-03 17:58] saxon-zh commented on #25830
辛苦提供一下相关软硬件、操作系统信息和操作过程及暴漏的问题截图吧，我们跟进看下。

[2020-08-03 18:01] saxon-zh commented on #25824
有劳提供下代码和环境等复现信息，我们安排研发同学看下，谢谢！

[2020-08-03 18:04] saxon-zh commented on #25821
辛苦提供下完整的代码吧

[2020-08-03 18:12] saxon-zh commented on #25819
https://www.shangmayuan.com/a/76b7a2825c984522b2ad67cc.html   可以尝试下这个上面介绍的方案。

[2020-08-03 18:15] saxon-zh commented on #25819
是两个paddle哈，conda install paddlepaddle

[2020-08-03 18:16] saxon-zh commented on #25836
收到，感谢您的反馈，已反馈进行安排修复。

[2020-08-03 18:19] saxon-zh commented on #25852
请靳老师看一下

[2020-08-03 18:19] saxon-zh commented on #25851
请靳老师看下

[2020-08-03 18:19] saxon-zh commented on #25849
请靳老师看下

[2020-08-03 18:20] saxon-zh commented on #25820
请靳老师看下

[2020-08-03 18:49] saxon-zh commented on #25824
https://github.com/PaddlePaddle/Paddle/issues/25853   @letitiaXu 可以参考下这个Issue中的解答

[2020-08-03 19:04] hlzonWang opened #25929 "AIStudio，参数正常，梯度dim[0]"
----------------------
Error Message Summary:
----------------------
InvalidArgumentError: Param and Grad input of AdamOp should have same dimension. But received Param dims: [49805], Grad dims: [0].
  [Hint: Expected param_dims == ctx->GetInputDim("Grad"), but received param_dims:49805 != ctx->GetInputDim("Grad"):0.] at (/paddle/paddle/fluid/operators/optimizers/adam_op.cc:93)
  [operator < adam

[2020-08-04 00:31] weiexcelpro commented on #25852
这个是因为线上部分GPU型号是16GB显存版本的. 配置显示就低不就高.
真实配置, 请以实时数据中显示的为准.

[2020-08-04 00:33] weiexcelpro commented on #25849
我们这边查看一下具体原因

[2020-08-04 00:40] weiexcelpro commented on #25820
这个看起来是opencv的用法问题. 请检查图片路径. 打印license_plate变量进行查看.

可参考:
https://stackoverflow.com/questions/52676020/opencv-src-empty-in-function-cvtcolor-error

[2020-08-04 01:32] Ciel04sk opened #25930 "在paddle API fluid.initializer 板块，神经网络权值初始化缺少kaiming initialization的初始化方式"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2020-08-04 02:29] weiexcelpro commented on #25851
设计如此. 暂无加密诉求.

[2020-08-04 02:33] #25903 closed, assigned to nobody

[2020-08-04 02:34] jerrywgz commented on #25930
感谢反馈，kaiming初始化在pytorch中的实现方式如下：https://pytorch.org/docs/stable/nn.init.html#torch.nn.init.kaiming_uniform_
paddle中可以通过https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/initializer_cn/XavierInitializer_cn.html#cn-api-fluid-initializer-xavierinitializer xaiver初始化+手动指定fan_in 或fan_out实现等价的初始化方式

[2020-08-04 02:36] jerrywgz commented on #25929
从报错信息来看是网络参数和对应梯度的纬度不相同导致的，可以先确认下是否加载了预训练权重，而权重中存在不符合预期的shape

[2020-08-04 02:42] Paranoidv commented on #25897
这个是组网，是一个三层MLP
import os
import math
import paddle.fluid as fluid
import numpy as np
# from sklearn.metrics import precision_score, recall_score

class Model(object):
    """
    Model for ES
    """
    def __init__(self):
        """
        __init__
        """
        self._dense_feature_dim = 21
        self._fc_layers_size = [20, 10]   # change to es model mlp
        self._dense_param_name

[2020-08-04 02:54] hlzonWang commented on #25929
grad的维度是0……也就是说压根没有梯度，我觉得是添加反向计算卡在哪了，但别的框架上都是可用的，而且是没办法检查，layers.Print压根没结果……

[2020-08-04 03:29] saxon-zh commented on #25831
目前CUDA相关安装包是NVIDIA官方提供下载，这个问题飞桨不太能够解决，https://www.baidu.com/s?wd=cudnn%E4%B8%8B%E8%BD%BD%E6%85%A2    可以看看这里的一些相关解决思路。

[2020-08-04 03:50] weiexcelpro commented on #25818
感谢您的建议. 但添加删除操作, 会带来额外的系统复杂性. 这个是经过推敲的决定.

[2020-08-04 05:13] hlzonWang opened #25934 "请问，有办法使用有多个不确定维度的占位符做layernorm么"
在tensorflow里，
a=tf.ph([none,none,100])
a=layernorm(a, -1)是可以运行的。

但在paddlepaddle静态图检查时会报负维度错误，
这个a被认定为[-1,-1,100]
dim[-100]
请问有办法跳过静态图的检查吗

[2020-08-04 06:22] saxon-zh commented on #25922
可以通过调用 [Layer](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Layer_cn.html#layer) 的 [create_parameter](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Layer_cn.html#create_parameter) 接口来完成。

[2020-08-04 06:22] saxon-zh commented on #25922
具体的操作例子可以参见：[命令式编程使用教程](https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id6)

[2020-08-04 06:31] #25818 closed, assigned to nobody

[2020-08-04 06:34] LielinJiang commented on #25928
gradient = np.mean((np.linalg.norm(gradients.numpy(),2,axis=1)-1)**2) 这里不能使用.numpy()把gradient变成numpy的数组，否则就没法作为loss了。还有grad接口的create_graph需要设置为True。具体的写法可以参考https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_imperative_star_gan_with_gradient_penalty.py#L370-L375

[2020-08-04 06:36] #25851 closed, assigned to nobody

[2020-08-04 06:37] #25852 closed, assigned to nobody

[2020-08-04 06:52] georgeliu95 commented on #25879
In my case, it works when `opt.minimize(loss, grad_clip=g_clip)` replaced by `opt.minimize(loss)` instead of `opt = Optimizer(grad_clip=g_clip)`. Anyway, thank you for your suggestions.

[2020-08-04 06:54] #25890 closed, assigned to wzzju

[2020-08-04 06:56] #25867 closed, assigned to nobody

[2020-08-04 06:57] sunjie97 commented on #25922
[code]
我看到Layer的create_parameter接口只能够创建一个新的变量并重新初始化，好像没有办法做到这一点。
有什么办法能够修改conv层的weight参数来达到以上的目的吗？或者将Variable转换成Parameter也可以

[2020-08-04 07:07] wzzju commented on #25889
您好！如果您使用的是Paddle2.0-alpha版本，请参考对应文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-alpha/api_cn/dygraph_cn/Conv2DTranspose_cn.html 。Conv2DTranspose在2.0-alpha版本和1.8版本的参数是不同的。

[2020-08-04 07:24] saxon-zh commented on #25855
dilation指的是空洞率，主要是在空洞卷积操作中使用。groups用在分组卷积操作上，对输入数据通道进行分组，groups参数是指定分多少组，目标用户减少训练的卷积核参数。

[2020-08-04 07:33] qhpeklh5959 opened #25938 "公司idc机器上安装1.8.3之后报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2020-08-04 07:33] wzzju commented on #25909
请附录代码、paddle版本信息以及硬件信息等。以上错误信息很难定位问题。

[2020-08-04 07:39] jerrywgz commented on #25938
手动升级下opencv-python试试呢

[2020-08-04 07:40] wzzju commented on #25899
确实没有找到，是否可以考虑使用GRU
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/GRUUnit_cn.html#gruunit ?

[2020-08-04 07:49] wzzju commented on #25913
您好，这个报错信息不能提供任何指导方向。请附录代码，机器环境，paddle版本等更详细内容。

[2020-08-04 07:58] qhpeklh5959 commented on #25938
机器上opencv是和paddlepaddle一起装的，刚也试了下，是最新版

[2020-08-04 07:59] wzzju commented on #25914
You should create your own data reader according to your business scenario. Please refer to  https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/data_preparing/static_mode/reader_cn.html and https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/data_preparing/static_mode/use_py_reader.html#user-guides-use-py-reader .

[2020-08-04 08:02] lps683 opened #25940 "如何实现多embedding按权融合"
使用paddle对特征目前最常用的两种处理方式为
1)word_emb，即fluid.layers.embedding，我理解这种特征比较适合单特征
2)text_cnn，即先fluid.layers.embedding后进行fluid.nets.sequence_conv_pool，目前字符串、多值特征多用该种处理方式

目前有这么一类多值特征，每个值有不同的权重，对这样的特征如何设计embedding更合理？是否有按权融合多值特征embedding的方法呢？谢谢

[2020-08-04 08:02] #25934 closed, assigned to nobody

[2020-08-04 08:03] hlzonWang commented on #25929
问题解决了，是paddlepaddle自动剪枝的锅，关闭后一切正常

[2020-08-04 08:03] #25929 closed, assigned to nobody

[2020-08-04 08:04] wzzju commented on #25921
可以尝试使用https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/where_cn.html#where 和 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/scatter_nd_cn.html#scatter-nd 解决一下。

[2020-08-04 08:05] phlrain commented on #25905
是的

这个title的方式具体是指？

[2020-08-04 08:09] Shixiaowei02 commented on #25913
W0802 03:33:31.089992 12470 init.cc:224] PC: @ 0x0 (unknown)
您好，看起来报错可能是空指针导致的，请提供更详细的日志代码以便问题追查，谢谢

[2020-08-04 08:19] wzzju commented on #25922
可以尝试使用[state_dict](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Layer_cn.html#state-dict-destination-none-include-sublayers-true)以及[set_dict](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Layer_cn.html#set-dict-stat-dict-include-sublayers-true)解决，参考示例https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/slim/tests/test_

[2020-08-04 08:26] wzzju commented on #25923
请参考[如何写新的C++ OP](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/new_op.html)和[如何写新的Python OP
](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/new_python_op.html)添加新Op。可参考Linear层的定义：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dygraph/nn.py#L888

[2020-08-04 08:28] jerrywgz commented on #25922
看你的使用方式是一个卷积权重依赖另一个卷积，这样的话最好的方式应该使用https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/functional/conv.py#L90 这里的conv2d，weight可以作为参数传入api，这个api是latest的paddle版本才会有。如果使用paddle release/1.8版本的话可能要尝试下state_dict和set_dict

[2020-08-04 09:01] sunjie97 commented on #25923
好的，谢谢

[2020-08-04 09:02] sunjie97 commented on #25922
好的，我尝试下

[2020-08-04 09:03] #25922 closed, assigned to wzzju

[2020-08-04 09:03] #25923 closed, assigned to wzzju

[2020-08-04 09:58] luoqishuai commented on #25609
[code]

[code]
`Linux localhost.localdomain 3.10.0-957.el7.x86_64 #1 SMP Thu Nov 8 23:39:32 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
LAC 2.0.4  ,paddlepaddle 1.8.3 ,centos 7,
请问该怎么解决呢?
@Aurelius84

[2020-08-04 10:02] Ole168 commented on #25876
batch_size改成8还是报同一个错误（枯了，我把项目链接贴出来，ball ball 大佬帮忙看一下哪里出问题了
https://aistudio.baidu.com/bdvgpu32g/user/205079/659998/notebooks/659998.ipynb

[2020-08-04 10:13] luoqishuai commented on #25609
已解决

该问题最开始是 linux 的lib包不对
https://blog.csdn.net/qq_24798295/article/details/90240666
在安装完一个包后 (如libSM.so.6)
再次在原有jupyter notebook的代码块中导入,会报NameError: name 'batch' is not defined.
关闭ipynb文件后,重新启动,导入,会报下一个包错误 如 (libXrender.so.1)

三个包全部安装完后,关闭ipynb文件后,重新启动,导入. 无异常.

[2020-08-04 12:08] Quentin-Song opened #25948 "模型inference时报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2020-08-04 12:16] Quentin-Song commented on #25948
1）PaddlePaddle=1.7.2,python==3.6.5
2）使用超轻量级中文ocr 模型，mobilenetV3 和crnn 网络
2）模型inference时，单次调用能正确输出结果，但多线程并发调用模型进行线上推理时，报如下错误。
Error Message Summary:
----------------------
Error: Alloc 256257408 error!
  [Hint: Expected posix_memalign(&p, alignment, size) == 0, but received posix_memalign(&p, alignment, size):12 != 0:0.] at (/paddle/paddle/fluid/memory/detail/system_allocator.cc:59)
  [operator < c

[2020-08-04 12:40] bjjwwang commented on #25610
目前可能没办法修复，在思考可能需要禁用输入为tensor的情况

[2020-08-04 12:44] Aurelius84 commented on #25610
如果 k 为Tensor类型时，编译期把输出的shape推导为[13, -1]呢？

[2020-08-04 12:44] littletomatodonkey commented on #25948
你好，感谢你的反馈，看着像是cpu内存分配问题，方便提供下最小的可复现的环境吗？我们在这边排查下~

[2020-08-04 12:47] mamingjie-China commented on #25610
是在做X2Paddle转换一个模型的时候遇到的这个bug，这里有办法绕开tensor的输入，可以把tensor的值给infer出来。但topk另外一个排序的bug希望能够尽快修复。

[2020-08-04 13:06] zhangylch opened #25949 "多输出神经网络的梯度"
paddle 版本： 1.8.3
对于一个多输出的神经网络，反向过程得到的梯度会对多个输出的梯度进行累加，有什么办法可以直接分别获得多个输出的梯度。就是类似于下面的代码
[code]
下面只能得到一个14维的向量，而我希望的是分别得到每一个输出对于输入的梯度。目前可行的是用dygraph.grad()分别计算每个输出对于输入的梯度。 但是这样会不会进行了多次重复的反向计算，导致速度变慢？有没有什么其他高效的办法？

[2020-08-04 13:08] bjjwwang commented on #25610
按我的理解 只有第一个维度可以是-1， 第二个维度应该是不行的。不知道我会不会理解有误

[2020-08-04 13:32] NHZlX commented on #25885
先通过https://aistudio.baidu.com/aistudio/education/group/info/1335 此链接加入“强化学习7日打卡营-世界冠军带你从零实践” 课程，然后找到
![image](https://user-images.githubusercontent.com/5595332/89299913-feb77e00-d699-11ea-9460-cf3f4dbed605.png)
红框中的一节，进入即可。

[2020-08-04 14:35] #25914 closed, assigned to wzzju

[2020-08-04 14:42] saviord7 opened #25952 "How to use accuracy metric in model"
Hi!

I took beginners code from the guide:
[link|code is down below](https://www.paddlepaddle.org.cn/documentation/docs/en/beginners_guide/basic_concept/programming_guide/programming_guide_en.html)

I try to add accuracy metric like [here](https://www.paddlepaddle.org.cn/documentation/docs/en/api/layers/accuracy.html)

Have this:
[code]

Ofc I have Error of input type, but if I change input in `in

[2020-08-05 00:49] Momofilm opened #25953 "【论文复现】复现TSN网络时，训练和测试均出现“TypeError: not all arguments converted during string formatting”问题."
- 版本、环境信息：
    AIstudio环境（GPU）
1）PaddlePaddle版本：PaddlePaddle 1.8.0
2）Python：python3.7
3）GPU：v100
- 复现信息：复现TSN视频分类网络（https://aistudio.baidu.com/aistudio/projectdetail/675993）
- 问题描述：‘!python train.py --use_gpu True --epoch 1’运行训练网络时会出现，以下错误：
Traceback (most recent call last):
  File "train.py", line 127, in <module>
    train(args)
  File "train.py", line 75, in train
    train_model = TSN1.TSNResN

[2020-08-05 01:45] zp7541 commented on #25885
这个我有了解过，但是我想知道paddle 报错 is not initialized的这个问题怎么解决，因为碰到过很多次这个问题了。DQN是次要的，paddle 报错是如何解决是主要的

[2020-08-05 02:23] frankwhzhang commented on #25953
这个应该属于python的使用问题，是参数没有对应正确，可以网上查一下这个报错

[2020-08-05 02:25] kuke commented on #25940
可以为每个值学习一个 embeddding 表？然后加权求和即可

类似于 BERT 的 word/position/sentence embedding，只是这里的权重为 1

https://github.com/PaddlePaddle/models/blob/eb7eb9cd5f2bffe5edd8b7d6a35b46f38a6db498/PaddleNLP/pretrain_language_models/BERT/model/bert.py#L106

[2020-08-05 02:28] jerrywgz commented on #25952
Thanks for your feedback. I found that accuracy needs labels in int64 while squeare_error_cost needs labels in float32 or float64. So you need to add ```y = fluid.layers.cast(y, 'int64')```  before accuracy in the code above and we will optimizer these two apis soon.

[2020-08-05 03:31] ruyijidan commented on #25885
我把自己f的发过去了...我发的就是后面人发的

[2020-08-05 03:35] Momofilm commented on #25953
@frankwhzhang 请问是TSN1.TSNResNet(）传入参数的问题吗？

[2020-08-05 03:47] Microkitty commented on #22242
果然，解决了，感谢

[2020-08-05 03:49] ruyijidan commented on #25885
希望对你有帮助，我把初始化改了
[code]

[2020-08-05 03:55] frankwhzhang commented on #25953
可以看一下报错的Line 对应的函数，这个问题是python端的问题 可以参考网上的回答 https://blog.csdn.net/lvsehaiyang1993/article/details/80909984

[2020-08-05 05:21] ruyijidan opened #25965 "【论文复现】关于模型保存大小不同的问题"
下面两种方式，训练时现存占用都差不多，但是第一种方式保存的模型要比第二种方式小很多，这是为什么呢？
[code]

[2020-08-05 05:28] flishwang opened #25966 "推理过程中，cudnnGetConvolutionForwardAlgorithm_v7报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题: 无

- 版本、环境信息：
Paddle version: 1.8.3
Paddle With CUDA: True
OS: debian stretch/sid
Python version: 3.7.7
CUDA version: 10.1.243
cuDNN version: None.None.None   # 注：系统中安装libcudnn.so.7.6.5，且将路径加入$LD_LIBRARY_PATH
Nvidia driver version: 418.74

- 问题描述：

使用PaddleDetection中的tool/eval.py进行推理，环境为单机，单卡或多卡，Tesla V100 16G或 Titan RTX
模型为Cascade RCNN （backbone为R101vd或

[2020-08-05 05:54] flishwang commented on #25966
这是另一次的报错信息：

2020-08-05 13:45:28,804-INFO: start loading proposals
2020-08-05 13:45:29,282-INFO: loading roidb 2012_test
100%|██████████| 970/970 [00:00<00:00, 1421.30it/s]
2020-08-05 13:45:30,310-INFO: finish loading roidb from scope 2012_test
2020-08-05 13:45:30,326-INFO: finish loading roidbs, total num = 970
2020-08-05 13:45:30,334-INFO: set max batches to 0
2020-08-05 13:45:30,342-INFO: place

[2020-08-05 06:51] kj7541 commented on #25885
这样子改好像不行。因为这个项目中有两个网络，一个policy 网络，一个target网络。网络迭代一定次数后要把policy**网络参数同步**到target网络参数里面去。网络中的参数一定要有个名字，这样**网络参数同步**才可以进行操作。
![360截图2020080514sddddddddddd5238403](https://user-images.githubusercontent.com/51331751/89381007-1559e580-d72b-11ea-8b6d-50d8688efbe3.png)
麻烦大神再帮忙改下。

[2020-08-05 06:57] zp7541 commented on #25885
这样子改好像不行。因为这个项目中有两个网络，一个policy 网络，一个target网络。网络迭代一定次数后要把policy网络参数同步到target网络参数里面去。网络中的参数一定要有个名字，这样网络参数同步才可以进行操作。
网络参数同步：
![同步参数](https://user-images.githubusercontent.com/51331751/89381501-d9735000-d72b-11ea-93ab-c2192f5682d0.png)
网络参数命名：
![网络参数名称](https://user-images.githubusercontent.com/51331751/89381527-e42de500-d72b-11ea-8229-5300c29ddd07.png)
麻烦大佬再帮忙改下，感谢。

[2020-08-05 06:58] zp7541 commented on #25885
@ruyijidan

[2020-08-05 07:27] rgr19 commented on #25742
![image](https://user-images.githubusercontent.com/54042766/89383907-97cbb080-d6fd-11ea-8fff-1706623fd49e.png)

Now, jokes beside, do You have any list of issues for here? With my buddy right click and hist father "Translate to English" I do not have a problem with language, but with finding some nice to do issues.

[2020-08-05 08:37] #25755 closed, assigned to nobody

[2020-08-05 09:00] phlrain commented on #25965
请问下save的方式是什么样子的

[2020-08-05 09:03] frankwhzhang commented on #25966
有相关的代码吗

[2020-08-05 09:30] wzzju commented on #25909
您好！可以更新一下CUDNN版本，比如7.6版本。

[2020-08-05 09:33] jerrywgz commented on #25921
mask = x > 0.1
y = x * (1 - mask) + mask
这样就可以实现了

[2020-08-05 10:41] flishwang commented on #25966
抱歉，公司政策所限，无法提供更改过的代码。

[2020-08-05 11:12] frankwhzhang commented on #25966
这是参考的官方提供的代码吗

[2020-08-05 12:07] grygielski opened #25988 "Conditional clearing of MKL-DNN cache in Executor's destructor"
In current state, MKL-DNN cache is being cleared on destruction of an `Executor` object. This mechanism was introduced by https://github.com/PaddlePaddle/Paddle/pull/20241 to reduce the length of hashing keys.

However, it appeared to be a problem, especially during training models with e.g. `conditional_op` or similar ops that create their own `Executor` object inside. Upon destruction of this lo

[2020-08-05 12:43] kj7541 commented on #25928
之前用tf的时候碰到过损失一直上升的情况，但是模型效果还可以。检查发现后，是损失那里没有用tf.reduce_mean(损失）。

[2020-08-05 12:46] zp7541 commented on #25928
之前用tf做DQN的时候碰到过损失一直上升，但是模型的效果还不错的情况，检查后发现是act进行one_hot操作，然后直接用了
tf.multiply(reward, act_one_hot) 计算后面的损失，正确的操作应该是tf.reduce_sum(tf.multiply(reward, act_one_hot)， axis=0)
然后再计算损失

[2020-08-05 13:15] grygielski opened #25990 "oneDNN bidirectional fusion_gru pass"
### GRU models optimization
Since we are developing oneDNN version of `fusion_gru` operator, we've came to an idea to introduce more possible improvements while waiting for int8 kernel. We've prepared a Proof of Concept pass merging 2 `fusion_gru` operators followed by `concat` into single bidirectional `fusion_gru` operator.

### Problems
However, there is one problem with such approach. Because

[2020-08-05 13:55] kgkzhiwen opened #25991 "【论文复现】模型参数和输出数据值"
【论文复现】
请问要这样才能提取到模型中每一层的现有参数值和数据经过这一层后生成的输出值？

[2020-08-05 13:59] kgkzhiwen opened #25992 "【论文复现】lod-Tensor 的加权平均值"
对于两个或两个以上形态相同的lod-Tensor，要如何获得它们的加权平均值，比如：
0.2 * lodTensor1 + 0.3 * lodTensor2 + 0.5 * lodTensor3

[2020-08-05 14:42] frankwhzhang commented on #25991
是图片挂了吗 没有看到你说的情况

[2020-08-05 14:43] frankwhzhang commented on #25992
直接按照公式就可以

[2020-08-05 15:48] kgkzhiwen commented on #25991
没有图片。
我只是想检验当下的参数数值， 以及数据的变化。

[2020-08-05 15:50] kgkzhiwen commented on #25992
所以要取它们的平均值， 可以直接用：
(lodTensor1+lodTensor2+lodTensor3)/3 吗？

[2020-08-05 16:37] DrRyanHuang opened #25995 "Mac安装错误"
您好，我是 《百度架构师手把手带你零基础实践深度学习》的一名助教

学员按照按照官网的quickstart
[code]
安装了paddle，安装过程中一切正常

但是一旦调用`paddle`
[code]
会出现这样的问题，折腾了半天，重新安装openCV才可以使用

[code]

在解决问题的途中，甚至出现了`NameError : name 'batch' is not defined`: (我手打的，见谅)
[code]

他的mac系统是：10.12.6

paddle在安装过程中会依赖cv2吗？会自动安装cv2？导致了学员的环境中出现了版本不匹配的cv2？
是不是这里出了问题呢？

这是学员的github： https://github.com/garfieldsun

[2020-08-06 00:01] ruyijidan commented on #25965
就是用 fluid.save_dygraph

[2020-08-06 00:58] yeyupiaoling opened #25996 "在训练过程中不断吃显存，直到显存不足"
- 项目：[DeepSpeech](https://github.com/PaddlePaddle/DeepSpeech) [issue](https://github.com/PaddlePaddle/DeepSpeech/issues/482)
 - PaddlePaddle 1.8
 - CUDA 10
 - Docker
 - 显卡：2080ti 11G

[code]

我使用的是docker进行训练，显存为11G，一开始训练只占8G左右，但在训练过程中会出现不断吃显存，直到显存不足挂掉。设置小batch_size也没有用的。

请问这个问题如何解决？

[2020-08-06 01:44] flishwang commented on #25966
对的。在PaddleDetection 0.3的基础上改的，参考配置文件为：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.4/configs/rcnn_enhance/cascade_rcnn_dcn_r101_vd_fpn_3x_server_side.yml

multiscale_test的配置参考：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.4/configs/cascade_rcnn_cls_aware_r101_vd_fpn_ms_test.yml

eval过程中scales为4个，分别为3072，2048，1024和576.

[2020-08-06 02:01] ruyijidan commented on #25885
图片我看不到啊...
不过我大概了解什么意思，
之前报错就是因为在同步参数的时候，参数没有值导致不能同步才报错说参数没有初始化的，
经过一段时间的排查才发现，

[code]
之前在训练的时候，开始就要同步参数，在没有train之前policy网络还没有初始化，所以在执行的时候会报错参数没有初始化。

所以可以在模型初始化时将
`self.global_step = 1`
或者在同步参数时
`if self.global_step + 1 % self.update_target_steps == 0:`

然后你再试试，提交这份没有训练部分，你在训练看看情况怎么样

[2020-08-06 02:14] frankwhzhang commented on #25991
可以通过fluid.layers.Print这个接口 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print

[2020-08-06 02:15] frankwhzhang commented on #25992
可以 也可以用elementwise_add 等一系列操作 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/elementwise_add_cn.html#elementwise-add

[2020-08-06 02:19] jakeju92 commented on #25921
可以用的，谢谢！

[2020-08-06 02:19] #25921 closed, assigned to wzzju

[2020-08-06 02:22] zp7541 commented on #25885
@ruyijidan ，你好，我改了之后还是报同样的错误，请再帮忙改下，谢谢！！！

[2020-08-06 02:31] jakeju92 commented on #25930
Hi，
可以参考一下下面的代码：

[code]

[2020-08-06 02:32] #25875 closed, assigned to nobody

[2020-08-06 02:48] jerrywgz commented on #25966
请问下你的paddle安装命令是什么呢

[2020-08-06 03:35] weiexcelpro commented on #25849
hi, 该问题较难定位, 是否可以提供一个QQ号或微信号, 我们RD想和您直接沟通一下, 加快定位速度

[2020-08-06 04:16] luotao1 commented on #25537
@lidanqing-intel Could this issue be fixed in 1.8.5(next month)?

[2020-08-06 04:48] ruyijidan commented on #25885
我之前改的不对，把参数同步那里跳过了，所以没报错。
但是我把代码copy到项目里，直接运行也没有问题。
你运行下链接的项目试试
https://aistudio.baidu.com/aistudio/projectdetail/678427

[2020-08-06 06:19] flishwang commented on #25966
通过pip安装的。env环境如下 （conda env export得到）：

[env.txt](https://github.com/PaddlePaddle/Paddle/files/5032960/env.txt)

[2020-08-06 06:37] geblue opened #26001 "基于Ps的分布式预测"
看了其他Issue，提到分布式预测只提到了将数据在worker之间切分，那是不是指每个worker要各自加载模型。在模型比较大的时候这个就不是很经济，特别有的时候单机加载不了模型。

不知道支不支持基于PS的分布式预测，整个过程和训练时一样，参数在PS端，worker端只计算。fleet的接口好像一定要调用optimizer，否则报错。

[2020-08-06 06:41] zp7541 commented on #25885
@ruyijidan 刚刚运行了下，我之前的代码也没有问题。在AIstudio上面paddle1.8.0版本会报错，但是paddle1.7.0的版本不会报错。应该是paddle的版本问题导致报错。我在本地运行的paddle1.8.1版本也会报错。谢谢你的帮助

[2020-08-06 07:16] zhangylch opened #26003 "动态图中使用 dropout，反向传播失败。"
paddle: 1.8.3
简单的测试代码：
[code]
报错：
[code]
去掉dropout 就可以正常运行

[2020-08-06 08:08] lidanqing-vv commented on #25990
@juncaipeng  bs 1 threads 1 will be speed up using oneDNN bidirectional, data as above. Please leave some comments

[2020-08-06 08:35] renyu310 opened #26009 "模型在GPU上inference出错"
paddle版本：1.7.2
GPU： 型号V100， cuda9, cudnn7.0
系统：CentOS release 6.3
Python 2.7.13

问题描述：
代码：
![image](https://user-images.githubusercontent.com/12406172/89511067-fd09c980-d803-11ea-8825-1884c7ea6880.png)

该代码在CPU模式时预估正常，将gpu打开后出现如下错误， 机器环境上的GPU训练没有异常：
![image](https://user-images.githubusercontent.com/12406172/89509990-9506b380-d802-11ea-97b3-59f5a46fe467.png)

[2020-08-06 08:38] juncaipeng commented on #25990
In real applications, the batch size is usually greater than 1, and the length of each sentence is different.
So, the fuse pass may not help much for GRU model.

[2020-08-06 09:14] grygielski commented on #25988
### PRs that rely on this Issue:

- https://github.com/PaddlePaddle/Paddle/pull/25774 - `test_resnet` failing because of cache clearing in `conditional_block_op`
- https://github.com/PaddlePaddle/Paddle/pull/25735 - tries to solve this problem but solution does not satisfy

[2020-08-06 09:23] Xreki commented on #26009
Hi上已回答，Paddle是用cudnn7.6编译的，运行机器上使用的是cudnn7.0，预测是在conv2d_fusion op中报`CUDNN_STATUS_BAD_PARAM`错误，很可能是因为cudnn版本太低，可以先升级下版本看看。

[2020-08-06 09:43] Grant-Tao opened #26014 "“混合精度最佳实践”是否还可用？"
这是链接：https://paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/amp/amp.html
但运行出错，在API reference也找不到fluid.contrib.mixed_precision这个模块。错误如下：
[code]

    1） PaddlePaddle版本：1.8
    2）CPU， GPU， 系统环境：aistudio

[2020-08-06 09:49] renyu310 commented on #26009
确实是cudnn版本问题，换成7.6解决了

[2020-08-06 09:49] #26009 closed, assigned to nobody

[2020-08-06 09:59] Xreki commented on #26003
你好，已复现该问题。Linear接口里面会执行矩阵乘，其实要求两个输入的维度都>=2。你的代码里面输入数据a是1-D的，Paddle实现里面应该是自动加了一些reshape操作，使得可以支持1-D的输入。但加入dropout之后，可能哪里出现bug了。

可以采取的解决方案是：`value = np.arange(14).reshape(14).astype("float64")`改成`value = np.arange(14).reshape([1, 14]).astype("float64")`。

至于这个bug，我们会尽快修复。

[2020-08-06 10:04] Xreki commented on #26014
这是最新的文档，但是是静态图的。从你的log来看，似乎你是想在动态图中使用混合精度训练？

[2020-08-06 10:07] zhangylch commented on #26003
好的，谢谢

[2020-08-06 10:15] Grant-Tao commented on #26014
Yes，动态图中不能用？ 另外inference能否用半精度？ 如何用？

[2020-08-06 10:17] #26003 closed, assigned to nobody

[2020-08-06 10:56] saxon-zh commented on #25876
batchsize从小到大尝试下，=2，=4

[2020-08-06 11:08] zhangylch opened #26016 "variable 切片, 不能用不能用numpy数组的元素当成索引值，只能用python原生的list?"
paddle: 1.8.3
示例程序：
[code]
报错：
[code]

如果不把nl数组转成numpy的数组，使用python原生的list就没有问题，使用numpy数组就会报错

[2020-08-06 11:45] Willianwatch opened #26017 "多节点多卡训练"
- 标题：如何做多个节点多卡的训练？
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）CPU：
    3）GPU：GPU型号->Tesla V100、CUDA->10.0和CUDNN->7.6.5
    4）系统环境：系统->CentOS 7.7, Python版本->3.7
- 训练信息
    1）多机，多卡
    2）1张卡显存32G，每个节点4张卡，共有3个节点
- 问题描述：[https://paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id10](url)我按照此例程实现了单节点4卡的训练，但是现在有3个节点，请问下该如何设置？麻烦稍微讲解得详细些，最好能有个例程。

[2020-08-06 12:05] kgkzhiwen commented on #25992
谢谢！

[2020-08-06 12:05] #25992 closed, assigned to frankwhzhang

[2020-08-06 13:09] JixuH opened #26022 "请问 对于设定的不同参数空间，怎么能取出这些变量呢，有没有函数可以用，类似tf.get_collection这样的功能"
我试了试find_var，直接调也是错的 有点懵了，请问有什么好的方法可以取出这些变量呢

![image](https://user-images.githubusercontent.com/48123846/89535204-ac589780-d828-11ea-9c00-8569cb9b6f42.png)

![image](https://user-images.githubusercontent.com/48123846/89535417-00fc1280-d829-11ea-928a-292f17fad92c.png)

![image](https://user-images.githubusercontent.com/48123846/89535446-08232080-d829-11ea-89e9-1a408524840e.png)

[2020-08-06 16:16] ruyijidan commented on #25885
恩，更新后可能原来的一些操作就不支持了，我还是推荐用parl框架，我之前还参考了里面的参数同步的方式，是不需要参数name的，但是在这个上面做改动就比较麻烦了。

[2020-08-06 20:54] Grant-Tao commented on #26014
@Xreki 我用例子CIFAR10 resnet36  resnet52跑了一下，用mixed_precision比不用慢了不少，mnist例子也一样。能解释一下吗？

[2020-08-07 01:34] shengkelong opened #26028 "默认初始化效果很差"
默认初始化效果（效果极差

![360截图20200807092335166](https://user-images.githubusercontent.com/24505935/89598774-3f78e800-d890-11ea-8480-a5fde13359f6.jpg)
自己抄的初始化(效果一般）
![360截图20200807090903597](https://user-images.githubusercontent.com/24505935/89598834-70f1b380-d890-11ea-83d8-5526de37ed64.jpg)
`class relu(fluid.dygraph.Layer):
    def __init__(self):
        super(relu,self).__init__()
    def forward(self,

[2020-08-07 01:42] shengkelong commented on #26028
https://aistudio.baidu.com/aistudio/projectdetail/694236 是我尝试的项目
main是训练程序 msrn和testinital是模型（不同初始化方式）
另外网络是自己搭建的，但是是按照作者的pytorch版本翻译的所以结构上应该没有问题。

[2020-08-07 01:45] #25837 closed, assigned to dyning

[2020-08-07 03:06] ruyijidan commented on #25656
有的网络就可以，有的网络就会报错，梯度的指针怎么会变成空呢？开始我以为我的网络有问题，但是darknet和resnet50也都有同样的错误
[code]

[2020-08-07 05:28] apphpp opened #26034 "linear_chain_crf 遇到 Segmentation fault"
- 标题：序列标注模型，分类层使用linear_chain_crf后遇到 Segmentation fault
- 版本、环境信息：
Paddle version: 1.6.3  和 1.8.1都尝试过
Paddle With CUDA: None
OS: CentOS 6.10
Python version: 3.7.6
CUDA version: 10.0.130
cuDNN version: cuDNN Version: 7.0
Nvidia driver version: 418.39

- 训练信息
    1）单机 单卡
    2）显存信息
    3）Operator信息
- 复现信息： 在ernie 编码器之上 ，解码部分使用 linear_chain_crf 训练时稳定出segmentFault；将该分类层替换为普通的  fc + argmax 则代码可以跑通无误
-

[2020-08-07 06:55] Xreki commented on #26014
动态图的混合精度训练功能还在开发中。

book里面的代码吗？有没有具体的性能数据？

[2020-08-07 07:02] Xreki commented on #26016
您好，

Variable切片需要用到slice接口，接口文档见：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/slice_cn.html#slice

slice的3个参数（axes、starts、ends）都只支持list、tuple类型，其中starts、ends还支持Variable类型，不支持numpy数据类型。

[2020-08-07 07:11] Grant-Tao commented on #26014
@Xreki  代码在此： https://github.com/PaddlePaddle/book/tree/develop/03.image_classification
              改动如下：
1. def optimizer_program():
    //return fluid.optimizer.Adam(learning_rate=0.001)
    Adam = fluid.optimizer.Adam(learning_rate=1e-3)
    mp_sgd = fluid.contrib.mixed_precision.decorator.decorate(Adam)
    return mp_sgd

2.  change to nhwc:
def resnet_cifar10(ipt, depth=32):
    perm = [0,2

[2020-08-07 07:28] zhangylch commented on #26016
好的，谢谢

[2020-08-07 07:38] Xreki commented on #26022
您好，`name_scope`设定的只是变量名的前缀，`find_var`接口需要传入变量完整的名字。如果你能拿到该变量，可用var.name获得该变量的name。如果不能拿到该变量，可以使用Program的`list_vars()`（[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Program_cn.html#list-vars)）拿到Program里面所有的var，从里面筛选name_scope设置的前缀的变量。

[2020-08-07 07:43] Xreki commented on #25996
去掉`export FLAGS_eager_delete_tensor_gb=0 export FLAGS_fraction_of_gpu_memory_to_use=0.98`这两个环境变量，使用默认的auto_growth显存分配策略试下呢？

[2020-08-07 08:13] yeyupiaoling commented on #25996
@Xreki 这三个去掉我都试过了，还是不行。
[code]

[2020-08-07 08:14] yeyupiaoling commented on #25996
@Xreki [DeepSpeech](https://github.com/PaddlePaddle/DeepSpeech) 这个这个模型好像也没用到什么特别的模型吧，就是CNN，RNN（GRU），怎会这样呢？

[2020-08-07 08:15] chenwhql commented on #26017
下面是一个模拟多节点多卡训练的示例，真实多节点训练也是类似的，可以参考

### 多Docker模拟多机多卡实验示例

#### 1. docker环境配置
[code]

互相试下能否ping通

host1：172.19.0.2
host2：172.19.0.3

- 可以ping通

#### 2. 单机执行尝试

各自执行多卡程序，看能否正常执行

    python -m paddle.distributed.launch multi_card_dygraph.py

- 可以正常执行

#### 3. 环境变量配置

配置各自的CUDA_VISIBLE_DEVICES环境变量
一个0，1，2，3
另一个4，5，6，7

    export CUDA_VISIBLE_DEVICES=0,1,2,3
    export CUDA_VISIBLE_DEVICES=4,5,6,7

[2020-08-07 08:18] lidanqing-vv commented on #25537
It is related to fact that some tensors are having data_layout set to NHWC , while model is NCHW. Status: investigating.

[2020-08-07 08:50] seiriosPlus commented on #26001
目前release版本对分布式预测支持不太完备， 有两种方法可以使用：1
1. 在fleet的 distributed optimizer之后， 将program再进行一次拆分， 删除反向， 这样只有前向的逻辑， 配合PS端参数可以完成预测
2. 把learning rate设置成0， 理论上也实现预测功能。

更加完备的分布式预测能力，会在近期提交至开发分支， 届时关注。

[2020-08-07 09:03] jeng1220 opened #26039 "[Paddle-TRT] replace slice plugin with TRT ISliceLayer"
@cryoco ,
The PR #25956 loses to add serialize/deserialize to slice plugin. The slice plugin will be included by ERNIE inference when static shape of slice plugin is ready. I have made a reference: [commit-d07febd2](https://github.com/jeng1220/Paddle/commit/d07febd25cc003f837eb56174d0345d5abadb21a) at my repo. Maybe you can use cherry-pick to merge my commit.

[2020-08-07 12:06] cjliux commented on #19174
我也遇到了这个问题
paddlepaddle-gpu==1.8.3.post107 (pip)
cudatoolkit==10.0.130 (conda)
nccl==1.3.5 (conda)
跑的pretrain_dygraph.py

[2020-08-07 12:51] mozhuqing commented on #25874
遇到同样问题，特别训练GAN的时候

[2020-08-07 12:53] #25965 closed, assigned to phlrain

[2020-08-07 13:01] zp7541 commented on #25885
@ruyijidan 我突然想到一个事情，官网的例子[https://aistudio.baidu.com/aistudio/projectdetail/169455](url)是可以运行的，这说明paddle报错和版本没有问题。另外我用别人的代码[https://blog.csdn.net/qq_41427568/article/details/87614031?utm_medium=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-1.nonecase&depth_1-utm_source=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-1.nonecase](url)跑了也可以运行，没有报错。环境就是pa

[2020-08-07 13:02] zp7541 commented on #25885
https://aistudio.baidu.com/aistudio/projectdetail/169455

https://blog.csdn.net/qq_41427568/article/details/87614031?utm_medium=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-1.nonecase&depth_1-utm_source=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-1.nonecase

[2020-08-07 13:33] mozhuqing opened #26047 "能搞一下各种经典数据集加载的API吗？还有数据集的增强的API"
能搞一下各种经典数据集加载的API吗？还有数据集的增强的API

[2020-08-07 13:41] morgan-bc opened #26048 "建议：dygraph.Layer.set_dict 增加部分加载权重"
类似于 torch.nn.Module.load_state_dict(state_dict, strict=True)，增加 strict 选项，当 state_dict 中权重中不全时，网络可以加载部分权重

[2020-08-07 14:06] sunjie97 opened #26049 "【论文复现】BatchNorm3d的支持"
我查看了paddle的文档，好像没有提供对BatchNorm3d的支持。目前复现视频分类论文需要用到BatchNorm3d，需要自己实现吗？

[2020-08-07 17:22] saxon-zh commented on #25836
已在官网上修复上线，请知悉。

[2020-08-07 17:22] #25836 closed, assigned to nobody

[2020-08-07 17:56] saxon-zh commented on #26049
可以用下这个接口，[paddle.fluid.dygraph.BatchNorm](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/BatchNorm_cn.html#batchnorm)

[2020-08-07 23:20] sunjie97 commented on #26049
我看到文档里BatchNorm的`data_layout`参数指定数据格式为“NCHW”或者“NHWC”，而普通BatchNorm3d的输入tensor维度为5(N,C,D,H,W)，如果在paddle里使用是要先reshape后才能处理吗？

[2020-08-08 02:03] liu0haha123 opened #26050 "训练过程中动态图backward过程出现错误"
反向传播过程错误
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.2
    2）CPU：
    3）GPU：P100 cuda10.1
    4）系统环境：ubuntu16.04
- 训练信息
    1）单机单卡
    2）显存信息
    3）Operator信息
- 复现信息：由于模型结构问题，loss的计算函数和forward函数的前向传播过程是分别写在两个不同的函数中的，训练时调用的是模型的自己编写的cal_loss函数而不是forward函数，是不是这种原因产生的
报错信息：
[code]

[2020-08-08 02:22] DrRyanHuang opened #26051 "fusion_group is not enabled for Windows/MacOS now"
cudnn : 7.6
cuda : 10.0
GTX 1050
paddle1.8.3
Python3.6

GPU版本安装成功后，在log中出现：
[code]
请问这是什么意思

[2020-08-08 03:54] Grant-Tao commented on #26014
@Xreki  原因可能是cudnn版本不够。目前aistudio的cudnn版本是7.3，AMP要求版本至少7.4.1.

[2020-08-08 04:57] ruyijidan commented on #25885
我有点没懂你纠结哪里...

我给出以下几点建议啊:
1.你跑别人的代码，是在本地执行的？还是在aistudio执行的？ （ 这个要说明，我看得都糊涂了，我在aistudio上执行不了链接的代码，在本地可以跑）
2.如果链接的代码都可以运行，那你完全可以可以在别人的代码基础上做改动的嘛。
3.而且paddle1.8.1也分python2.7 和python3.7的,我刚刚试过把aistudio上的paddle升级（1.8.1和1.8.3都试过），源代码也会报同样的错误的。
4.原项目的代码已经比较老了，如果你坚持在原项目上做开发就要配成跟原项目一样的环境。

下面这个是aistudio的环境配置
Python版本  python2.7
框架版本  PaddlePaddle 1.7.0

[2020-08-08 08:48] zp7541 commented on #25885
@ruyijidan 本来我已经放弃纠结那个问题了，但是刚刚写其他的代码又爆出了一个 is not initialized同样的问题。这次我再AI Studio上面试过了1.7.0版本的，同样也报错。之前写其他代码的时候我也碰到过同样的**未初始化的问题**。碰到这种bug真的是无从下手。请大佬出手整治一下这个BUG。
![not](https://user-images.githubusercontent.com/51331751/89706307-f495c800-d996-11ea-8a60-c249417e3abf.png)

[2020-08-08 08:49] kj7541 commented on #25885
`import paddle.fluid as fluid
import numpy as np
import gym
class Critic(object):
    def __init__(self, exe, gamma, state_dim, lr):
        # self.exe = fluid.Executor(fluid.CPUPlace())
        self.exe = exe
        self.state_dim = state_dim
        self.gamma = gamma
        self.lr = lr
        self._built_net()

    def _built_net(self):
        self.critic_program = fluid.Program()

[2020-08-08 08:51] zp7541 commented on #25885
`
import numpy as np
import paddle.fluid as fluid
import gym

class Critic(object):
    def __init__(self, exe, gamma, state_dim, lr):
        # self.exe = fluid.Executor(fluid.CPUPlace())
        self.exe = exe
        self.state_dim = state_dim
        self.gamma = gamma
        self.lr = lr
        self._built_net()

    def _built_net(self):
        self.critic_program = fluid.Program()

[2020-08-08 11:58] yuctian opened #26055 "论文复现 自定义parameter问题"
希望提供类似于pytorch中torch.nn.Parameter(torch.FloatTensor([1,2]))对网络层参数用tensor定义的支持

[2020-08-08 12:35] yuctian commented on #25849
重启 环境基本就能解决

[2020-08-08 12:48] wuyi1405 commented on #25849
已经解决，百度开发人员联系我找到原因，原因是浏览器插件屏蔽了websocket，或者网络经过了路由、网关有对websocket类型的消息进行拦截处理。解决办法：可以通过更换浏览器或通过手机的4/5g热点走不通的网络链路来解决。

[2020-08-08 13:11] yuctian opened #26056 "论文复现 自定义卷积核(不参与学习，只参与计算)"
如何实现自定义卷积核参与卷积运算，不进行梯度更新

[2020-08-08 13:27] saxon-zh commented on #26049
不用reshape，data_layout之间传NCHW就可以

[2020-08-08 13:52] kafaichan opened #26057 "［论文复现］ 动态更改网络权重的功能"
请问paddlepaddle有提供像pytorch一样可以动态更改网络权重的功能吗? 例如说，有没有可能提供如
conv1.weight = Parameter(shape=[], data=numpy_array)的函数调用。

[2020-08-08 14:46] heavengate commented on #26050
您好，麻烦提供一下你的Paddle版本和关键代码等信息~

[2020-08-08 14:48] heavengate commented on #26051
这个是GPU上的一个训练加速功能，当前只在CUDA上可用，在windows或者MacOS上不可用，这个只是一个性能优化的功能，不影响模型正常训练，可以不关注这条warning日志~

[2020-08-08 14:50] heavengate commented on #26056
Conv2D里有个`param_attr`参数用于指定卷积权重的属性，其中有个`trainable`属性是指定其是否会训练
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Conv2D_cn.html#conv2d
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/ParamAttr_cn.html#paramattr

[2020-08-08 14:51] heavengate commented on #26055
可以使用这个API
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/create_parameter_cn.html#cn-api-fluid-layers-create-parameter

[2020-08-08 14:54] heavengate commented on #26057
是指根据一个numpy array初始化这个卷积权重么，Conv2D里有个`param_attr`参数，用于指定权重的属性，权重属性中有个` initializer`参数，可以将这个参数指定为`NumpyArrayInitializer`并用你的numpy array去初始化
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Conv2D_cn.html#conv2d
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/ParamAttr_cn.html#paramattr
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/initiali

[2020-08-08 15:34] yuctian commented on #26055
这个API不行，我可能没描述清楚，我的意思是我直接指定参数的数值，譬如卷积核的权重参数，而不是随机初始化或者全部初始化为一个常数，比如我希望我的卷积核是[[0.5,0,-0.5]]

[2020-08-08 15:38] yuctian commented on #26055
这个API不行，我可能没描述清楚，我的意思是我直接指定参数的数值，譬如卷积核的权重参数，而不是随机初始化或者全部初始化为一个常数，比如我希望我的卷积核是[[0.5,0,-0.5]]

[2020-08-08 15:45] yuctian commented on #26056
感谢您的回复，我想要类似pytorch中F.conv2d(input, conv_kernel)中这个功能，conv_kernel是自定义的一个有特殊功能的卷积核，譬如sobel算子，这个卷积核的数值是固定的，我怎么实现这个功能

[2020-08-08 15:52] DrRyanHuang commented on #26051
还是有点儿没懂，在windows上安装的CUDA不能用吗？
@heavengate

[2020-08-08 15:56] yuctian commented on #26056
谢谢你，我找到了NumpyArrayInitializer，没有问题了

[2020-08-08 15:56] yuctian commented on #26055
搞定了，谢谢

[2020-08-08 18:54] ARDUJS opened #26058 "多线程预测报错"
### 运行环境
- PaddlePaddle 1.7.2
- paddlehub = 1.6.0
- python 3.7.5
- linux
### 运行代码

[code]

#### 报错信息
[code]

[2020-08-09 00:06] liu0haha123 commented on #26050
飞桨版本：1.8.3

关键代码

[code]

然后s_position是这样的，o_position类似

[code]

都没有写在forward函数中，训练时没有用到主模型和子模型的forward
代码块有点问题，请按一个整体看

[2020-08-09 00:09] sunjie97 commented on #26049
直接传5维的tensor，按照 `NCDHW` 的顺序就可以是吗?

[2020-08-09 01:59] kafaichan commented on #26057
好的，谢谢

[2020-08-09 03:07] huochf opened #26059 "【论文复现】关于FlowNet2.0预训练模型"
在复现的过程中，需要使用到FlowNet2.0，请问我们Paddle有相关的实现吗？在哪里查找相关的预训练模型？我在模型库里没有找到，这说明我们Paddle支持的模型还不能满足我们的需求。谢谢！

[2020-08-09 03:15] deep-practice opened #26060 "【论文复现】能提供类似于torchvision里面的transformer的功能吗"
比如：
transforms.Normalize(mean=(0.5, 0.5, 0.5), std=(0.5, 0.5, 0.5))
transforms.ToTensor()
这样至少保证大家的输入是一致的

[2020-08-09 03:52] deep-practice commented on #26060
当然，自己去写也可以，但每个项目都这样去复制粘贴一下，感觉很冗余

[2020-08-09 03:56] dbsxdbsx opened #26062 "动态图计算loss反向传播时是否一定要先求均值mean？"
- 版本、环境信息：
  PaddlePaddle版本：1.8.3 cuda 10 cudnn 7.6

根据官网的示例：https://www.paddlepaddle.org.cn/tutorials/projectdetail/593621
batch_loss应该先求均值再反向传播

但根据model项目中的示例（160，163行）：https://github.com/PaddlePaddle/models/blob/release/1.8/dygraph/reinforcement_learning/actor_critic.py
则是通过fluid.layers.reduce_sum来对batch losss做的处理，而没有求均值。
经实验，若将该强化学习项目中的相关代码替换成：
[code]
则收敛会变慢。

因为不清楚飞桨的`optimizer.minimize`内部是否

[2020-08-09 06:12] heavengate commented on #26055
numpy array初始化这个卷积权重么，Conv2D里有个param_attr参数，用于指定权重的属性，权重属性中有个 initializer参数，可以将这个参数指定为NumpyArrayInitializer并用你的numpy array去初始化
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Conv2D_cn.html#conv2d
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/ParamAttr_cn.html#paramattr
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/initializer_cn/Numpy

[2020-08-09 06:12] #26055 closed, assigned to nobody

[2020-08-09 06:15] #26057 closed, assigned to nobody

[2020-08-09 06:25] #26059 closed, assigned to nobody

[2020-08-09 07:46] DYJNG commented on #25563
@NHZlX  https://pan.baidu.com/s/1EWgzNODeGM1403YVRkoJQg 提取码:qq0q
以上为原始模型和量化前后的paddle模型，输入为1x3x384x384(原始keras模型输入为1x384x384x3)，麻烦大佬得空看一下，我这边量化后的模型用Paddle-TRT推理几乎没有加速效果。

[2020-08-09 08:24] hutuxian commented on #26060
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/beginners_guide/hapi.html#transform
paddle也提供有一些，这个页面的内容也许对您有帮助~

[2020-08-09 08:28] hutuxian commented on #26062
感谢使用Paddle。
这两种方式都是正确的。唯一需要注意的是，`reduce_mean`的梯度会被除以一个batch_size，所以可能要改变一下学习率呢。

[2020-08-09 08:41] huochf opened #26064 "【论文复现】关于Conv2D参数传递问题"
我们Paddle动态图中的诸如Conv2D、BatchNorm的参数列表都有可选的act，这为编程带来极大便利，使代码更加简洁。我有一个问题，我现在需要在conv层后面加一个leaky_relu层，如果使用Conv2D参数中的act来定义激活层，该如何设置leaky_relu的参数呢，我的意思是，如果要使用alpha为0.2的leaky_relu，该如何设置参数呢？Conv2D(..., act='leaky_relu')，官方文档中对act的参数有说明，act (str, 可选) ，后面可选似乎是可以设置alpha参数的，如何设置？？？文档这个地方似乎没有说明白。

[2020-08-09 08:50] ruyijidan commented on #25885
代码这样很难看懂的....，你试试这样改对不
[code]

[2020-08-09 09:15] zp7541 commented on #25885
@ruyijidan 可以了，从早上到现在每隔一个小时看一下github，真的是十分谢谢大佬。
1、但是为什么把self.critic_program_test 放在其他地方（例如 cost，self.tderror）那里就不可以了呢？
2、还有如果下次再碰到这种错误该怎么处理呢
3、为什么会报这个错误啊
4、写代码怎么尽量避免这种错误
5、这个错误是不是paddle的内部的问题？tf 运行 sess.run(tf.global_variables_initializer()) 就可以了，但是fluid.default_startup_program()却还是会出现is not initiliazed 这种问题。

[2020-08-09 09:16] zp7541 commented on #25885
用paddle以来最起码碰到过9次未初始化的问题。

[2020-08-09 09:32] huochf opened #26065 "【论文复现】关于自定义卷积核参数和梯度传递问题"
楼下有人提到过自定义卷积核的问题，我似乎有些疑问，我现在的需求是使用另外一个网络（比如多层感知器）来输出卷积层的参数，并且将该参数加载到卷积中参与之后的卷积运算，还得要求在误差传播的过程中，该卷积层的误差能够传播到多层感知器中，这该如何实现？我看到楼下有人说到，使用初始化NumpyArrayInitializer，这样似乎截断了误差传递链。

[2020-08-09 09:49] geblue commented on #26001
针对第一个方案，我在训练的时候看到如果有worker在900s内都没有触发更新参数，ps就会报错退出，所以直接用第一个方案是不是会有问题？

[2020-08-09 10:13] Rookieaura opened #26066 "【论文复现】api中是否有生成类似torch.ByteTensor 这类Variable的方法"
Pytorch API:
img = torch.ByteTensor(torch.ByteStorage.from_buffer(pic.tobytes()))
reference: https://pytorch.org/docs/stable/tensors.html

问题：
在生成variable时，除了从np.array用to_variable直接生成Tensor外，能否生成 FloatTensor, ByteTensor等指定类型的Tensor？

[2020-08-09 10:43] deep-practice commented on #26060
新版本的paddle 预计什么时候发布呢？

[2020-08-09 10:47] Xreki commented on #26051
@DrRyanHuang fusion_group是一个正在开发中的功能，尚没有经过充分的验证，所以windows上是直接disable了。请问你是跑的哪个模型？另外这条log应该也不影响正常训练？

[2020-08-09 11:21] huochf commented on #26066
我只知道有astype这个函数，不知道能不能满足你的需求，astype(self, dtype)
例如：
静态图下：
import paddle.fluid as fluid

startup_prog = fluid.Program()
main_prog = fluid.Program()
with fluid.program_guard(startup_prog, main_prog):
    original_variable = fluid.data(name = "new_variable", shape=[2,2], dtype='float32')
    new_variable = original_variable.astype('int64')
    print("new var's dtype is: {}".format(new_variable.dtype

[2020-08-09 12:44] dbsxdbsx commented on #26062
@hutuxian ,  感谢回复。我又想了下：示例1就是典型的监督学习中mini-batch做法---将一个batch的样本均化成一个更加稳定的样本来处理，相当于是做了一次更稳定的Stochastic Gradient Descent；而示例2的做法则相当于连续做了batch size次的Stochastic Gradient Descent。
从数学上来说，最后的收敛速度确实只是个学习率scale的问题。 不过从道理上来说，可能应当使用示例1而不是示例2的做法，因为若一个batch中的loss都是基于相似的问题而产生的loss，那么示例2的做法相当于对同一个问题（loss）做了batch size次的修正，batch size越大，产生过度修复的概率越大（需要通过学习率来调整 的概率也越大）。
所以想了想，在实践中还是以示例1的做法为准较好。

[2020-08-09 12:44] #26062 closed, assigned to nobody

[2020-08-09 12:47] #26056 closed, assigned to nobody

[2020-08-09 13:25] sunjie97 commented on #26049
尝试过确实直接传就可以，感谢解答

[2020-08-09 13:25] #26049 closed, assigned to nobody

[2020-08-09 14:09] deep-practice commented on #26055
fluid.ParamAttr和torch.nn.Parameter是等价的吗？ @heavengate

[2020-08-09 14:40] deep-practice commented on #26060
API对照表里面
torch.var_mean<==> paddle.fluid.layers.mean
但fluid.layers.mean只是计算均值，没有方差呀
@hutuxian

[2020-08-09 14:43] deep-practice commented on #26060
unsqueeze操作要通过reshape来实现吗？

[2020-08-09 15:44] saxon-zh commented on #26064
act（str，可选），str是说明这个参数传递是string类型，支持的列表参见https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/layers/activations.html#api-guide-activations，可选说明这个参数是这个可选参数，可以根据自己的需要进行传递。如果需要自定义alpha值的话，可以直接在forward中直接调用https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/leaky_relu_cn.html#cn-api-fluid-layers-leaky-relu

[2020-08-09 15:48] saxon-zh commented on #26065
稍等，我们的@hutuxian 同学会给您解答一下。

[2020-08-09 19:00] yuctian opened #26070 "论文复现 关于修改中间Tensor值的问题"
grad= self.conv4u(layers.pad(y,(0,0,0,0,1,1,0,0)))
grad[:,:,:,0] = 0.5 * (x[:,:,:,1] - x[:,:,:,0])
类似于实现这样的操作，grad是经过卷积后得到的输出，我需要对grad中部分值重新指定数值，有没有方法可以实现。
以上操作会报错TypeError: 'paddle.fluid.core_avx.VarBase' object does not support item assignment

[2020-08-09 19:31] chenguangsmy commented on #19433
我也遇到了同样的问题，不过我是在使用eigen2包

[2020-08-09 20:17] ruyijidan commented on #25656
@phlrain @lfchener

[2020-08-09 21:06] zzz2010 opened #26072 "【论文复现】How to turn off bias term in InstanceNorm"
Hi, in pytorch ,  we can set affine=False in InstanceNorm to turn off bias term.
However in paddle 1.8,  we can not set bias_attrs=False in InstanceNorm

https://github.com/PaddlePaddle/Paddle/blob/release/1.8/python/paddle/fluid/dygraph/nn.py#L1052

May I know how to reproduce result as InstanceNorm in pytorch using paddle?

Thank you

[2020-08-10 00:04] huochf commented on #26064
好的好的，这个回答，我非常满意。

[2020-08-10 00:07] huochf commented on #26070
同问，这个问题也困惑了我好久，Paddle里面的Tensor太不灵活了。

[2020-08-10 01:23] kgkzhiwen opened #26073 "【论文复现】参数和偏置初始化"
在复现中碰到下面这段代码：
        for m in self.modules():
            if isinstance(m, Conv3d):
                nn.init.kaiming_normal_(m.weight, mode='fan_out', nonlinearity='relu')
            elif isinstance(m, BatchNorm):
                m.weight.data.fill_(1)
                m.bias.data.zero_()
有几个问题：
1. 怎么样loop得到模型中的每一层layer， sublayer?
2. 然后怎么样设置其中的参数和偏置？
3. 有没有办法把向上面的代码那样把参数或者偏置设为1或0？

谢谢！

[2020-08-10 01:23] #25991 closed, assigned to frankwhzhang

[2020-08-10 01:33] Xreki commented on #26014
@Grant-Tao 使用高版本cudnn确实会有一些优化，请问你升级了cudnn版本之后，训练速度有明显的提升吗？

[2020-08-10 01:38] good18 opened #26074 "请问这两句结果是否相同？"
请问以下两个语句有何区别：
paddle.reader.xmap_readers
paddle.fluid.io.xmap_readers
在管网只查到第2个用法

[2020-08-10 01:57] #26017 closed, assigned to nobody

[2020-08-10 02:13] kgkzhiwen opened #26076 "【论文复现】BatchNorm3D"
上面有人问过BatchNorm3D的问题，答复是直接使用BatchNorm, 输入5D tensor, 然而我尝试下面的代码，出错了。请问要如何BatchNorm 5 Dtensor？

x = np.random.random(size=(2,3, 10, 3, 7)).astype('float32')
print("x:",x)
with fluid.dygraph.guard():
    x = to_variable(x)
    batch_norm = fluid.BatchNorm(10)
    hidden1 = batch_norm(x)  #出错了
    print("h:",hidden1.numpy())

[2020-08-10 02:18] deep-practice commented on #26070
灵活性赶pytorch还是有距离

[2020-08-10 02:23] huochf commented on #26065
@hutuxian
咱Paddle有提供类似Pytorch中的F.conv2d(x, weights, ...)比较底层的接口吗？
如果没有应该怎么解决这个问题呢？这个操作是论文复现不可跳跃的步骤。
谢谢！！！

[2020-08-10 02:25] hutuxian commented on #26065
不知道您使用的是哪个版本的paddle？
paddle的develop分支提供了这个功能，https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/functional/conv.py#L90
但是在1.8版本，暂时还不支持这个功能。

[2020-08-10 02:28] kgkzhiwen commented on #26076
搞清楚了。

[2020-08-10 02:28] #26076 closed, assigned to nobody

[2020-08-10 02:30] huochf commented on #26065
哇！就是这个函数，Paddle NB！！！
咱AI Studio能用develop这个版本吗，我目前只能在AI Studio中完成本次复现的工作。

[2020-08-10 02:34] sandyhouse commented on #26074
这两个接口的执行效果是一致的，只是报漏出来的接口不一样而已。

[2020-08-10 02:42] hutuxian commented on #26072
A workaround is initialize bias_attrs as zeros and set this parameter's `trainable` attribute as False.
And this problem has been fixed in develop version, you can try it.

[2020-08-10 02:53] Mr-Nineteen opened #26077 "[bug] PaddlePaddle识别不了2080Ti"
Python 3.7.4 (default, Jul 21 2020, 17:09:27)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-39)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Running Verify Fluid Program ...
W0810 10:51:18.092149  4231 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 75, Driver API Version: 10.1, Runtime API Version: 9.0
W0810 10:51:18.098635  4231 device_context.cc:260] de

[2020-08-10 02:55] hutuxian commented on #26060
预计9月，但是AiStudio预期应该可以使用develop版本，使用方法参见：https://github.com/PaddlePaddle/Paddle/issues/26065#issuecomment-671143301

https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-alpha/api_cn/tensor_cn/std_cn.html#std
在2.0alpha或develop版本有提供给这个op。1.8的话，可以通过均值，平方等OP组合得到。

[2020-08-10 02:57] sandyhouse commented on #26073
1. 可以使用sublayers获取所有的层：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Layer_cn.html#sublayers-include-sublayers-true
2. 可以在定义某一层的时候设置改层的相关参数和偏置的值，以上例中的Conv3d为例，可以采用下面的方法通过param_attr和bias_attr设置参数和偏置值。
[code]
3. 可以试下set_value方法，例如：
[code]

[2020-08-10 03:05] saxon-zh commented on #26065
可以在AIStudio的终端里面直接装develop的whl包，develop的whl包通过这里下载，

https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-dev

目前跟AIStudio的PM确认了下，可以下载paddlepaddle_gpu-latest-cp37-cp37m-linux_x86_64.whl这个来进行安装。

[2020-08-10 03:07] huochf commented on #26065
好的，好的！！这个回答我非常满意！
Paddle NB！AI Studio NB！

[2020-08-10 03:10] sandyhouse commented on #26077
应该是CUDA相关环境的问题，可以参考下面的issue：https://github.com/PaddlePaddle/Paddle/issues/24302

[2020-08-10 03:16] Mr-Nineteen commented on #26077
@sandyhouse P40或者P4没有问题，2080Ti就不行

[2020-08-10 03:27] sandyhouse commented on #26070
可以试下set_value方法，比如grad.set_value(xxx),参数可以是numpy类型。

[2020-08-10 03:30] sandyhouse commented on #26077
P40和P4和2080Ti的环境都是完全一致的吗，包括安装的CUDA等相关软件？ @Mr-Nineteen

[2020-08-10 03:31] ruyijidan commented on #25885
1.因为v_是你在self.critic_program中计算得到的，如果不先执行self.critic_program，v_中是没有值的。只是你开始定义了一个
` v_ = fluid.data(name='c_next_reward', shape=[None, 1], dtype='float32')`，后面才会报错说没有初始化。
2.就是看下你在计算前检查有没有给变量赋值.可以多加打印排除。
3.同1
4.因为用的是静态图嘛，提前就需要把整个计算过程都设计好。按照执行顺序写。
5.tf好像是会给所有的变量全部初始化，paddle好像没这个功能吧，具体我也不太了解。

[2020-08-10 03:32] Mr-Nineteen commented on #26077
@sandyhouse 是的，做成镜像的，环境是一致的

[2020-08-10 03:48] deep-practice commented on #26060
那在指定维度求均值，也要自己slice吗

[2020-08-10 03:49] huochf opened #26081 "【论文复现】[已解决] 关于使用 nn.functional.conv2d函数的问题"
在复现过程中，遇到使用诸如pytorch中的F.conv2d等比较底层的函数时，Paddle最新发布的稳定版没有提供该函数的接口，需要我们切换成Develop版本，在AI Studio中切换方法如下：

（1）打开终端，建立下载develop包的目录，
例如：mkdir whls
           cd ./whls
（2）之后从官网中下载最新的develop包，运行如下命令：
 wget -c https://paddle-wheel.bj.bcebos.com/0.0.0-gpu-cuda10-cudnn7-mkl/paddlepaddle_gpu-0.0.0-cp37-cp37m-linux_x86_64.whl
（3）安装这个包：
pip install ./paddlepaddle_gpu-0.0.0-cp37-cp37m-linux_x86_64.whl

这样似乎就可以使

[2020-08-10 03:55] sandyhouse commented on #26077
可以用这个官方镜像试一试。

[2020-08-10 04:07] xiaom5248 commented on #25761
转list之后能跑起来了，不过用了8张卡，只有一张卡的利用率在10%，其余都是0，可能是什么原因啊？
![image](https://user-images.githubusercontent.com/14197806/89751295-09429f00-db02-11ea-8c25-bfe2929fec9f.png)
![image](https://user-images.githubusercontent.com/14197806/89751303-0f388000-db02-11ea-8170-3f5a75d6142d.png)

[2020-08-10 04:12] zp7541 commented on #25885
@ruyijidan 能让开发人员改进下吗？感觉这个问题挺蛋疼的。而且排查感觉也不是很好排查。

[2020-08-10 04:32] DrRyanHuang opened #26082 "在PaddlePaddle2.0中会有像Pytorch那样读取数据的pipline吗？"
在PaddlePaddle2.0中会有像Pytorch那样读取数据的pipline吗？

[code]

就是这种数据增广，数据读取一气呵成的感觉，在PP1.8-的版本中，每次`paddle.batch` 再加一系列自定义的生成器函数感觉特别乱，不知道在万众期待的PP2.0中会不会有改变哈哈

[2020-08-10 04:45] Mr-Nineteen commented on #26077
@sandyhouse 你们提供的镜像有python3.7.4(3.7.x)的？

[2020-08-10 04:46] deep-practice commented on #26060
是不是转成numpy再操作就可以了。。

[2020-08-10 05:48] good18 commented on #26074
谢谢

[2020-08-10 05:58] deep-practice opened #26084 "【论文复现】paddle.fluid.dygraph.SpectralNorm不能直接把Layer传进去吗？"
SpectralNorm(Conv2D(input_nc, ndf, filter_size=4, stride=2, padding=0))报错
TypeError: 'Conv2D' object is not iterable

如果不能这么组合的话，搭建模型很不方便，不能当作一个整体操作

[2020-08-10 06:01] bkseastone opened #26085 "pip安装paddlepaddle报错"
安装出现未找到版本错误：
![image](https://user-images.githubusercontent.com/18327200/89755365-bffa4b80-db11-11ea-9cce-0ec75e61c5fd.png)
![image](https://user-images.githubusercontent.com/18327200/89755378-d0122b00-db11-11ea-9bbb-37cbd441d3c4.png)
升级pip后，报错：
![image](https://user-images.githubusercontent.com/18327200/89755394-e7e9af00-db11-11ea-8104-45662dd98058.png)

[2020-08-10 06:09] hutuxian commented on #26060
可以参考`reduce_mean`这个OP~

[2020-08-10 06:13] deep-practice commented on #26060
很好

[2020-08-10 07:12] Steffy-zxf commented on #26058
@ARDUJS 你好！根据以上错误提示，模型的部分参数没有初始化。需要调试看看问题在哪里。另外不建议使用多线程。`Executor`是线程不安全的。

[2020-08-10 07:15] ARDUJS commented on #26058
您好，我想问下如何可以加速预测，可以充分利用cpu资源。

[2020-08-10 07:17] Steffy-zxf commented on #26058
预测时，可以加大batch_size，以加速预测。

[2020-08-10 07:46] ARDUJS commented on #26058
奇怪的是，我加大batch_size速度还下降了，还有没其他方案，cpu最高峰值只有40%

[2020-08-10 08:15] shippingwang commented on #26048
好的，需求已记录

[2020-08-10 08:57] heavengate commented on #26050
看报错信息，是一个LSTM op找不到回传梯度信息，可以排查一下网络里面是否用到了LSTM，并且输入输出在前向和反向传播上是否有效

[2020-08-10 09:08] mvxi opened #26097 "centos 安装报错"
环境：
python 版本：3.6.4
python pip版本：20.2.1
centos 64bit，x85_64

进行pip安装时： python3 -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple
提示错误：
ERROR: Could not find a version that satisfies the requirement paddlepaddle (from versions: none)
ERROR: No matching distribution found for paddlepaddle
请教原因

[2020-08-10 09:45] #15426 closed, assigned to nobody

[2020-08-10 09:45] #18868 closed, assigned to Shixiaowei02

[2020-08-10 09:45] #18994 closed, assigned to kuke, sneaxiy

[2020-08-10 09:45] #19002 closed, assigned to nobody

[2020-08-10 09:45] #19021 closed, assigned to gavin1332, phlrain

[2020-08-10 09:45] #19022 closed, assigned to gavin1332, seiriosPlus, guru4elephant

[2020-08-10 09:45] #19023 closed, assigned to nobody

[2020-08-10 09:45] #19037 closed, assigned to fc500110

[2020-08-10 09:46] #19038 closed, assigned to gavin1332

[2020-08-10 09:46] #19039 closed, assigned to gavin1332

[2020-08-10 09:46] #19041 closed, assigned to nobody

[2020-08-10 09:46] #19044 closed, assigned to nobody

[2020-08-10 09:46] #19045 closed, assigned to nobody

[2020-08-10 09:46] #19047 closed, assigned to gavin1332, wanghaoshuang

[2020-08-10 09:46] #19060 closed, assigned to nobody

[2020-08-10 09:46] #19061 closed, assigned to nobody

[2020-08-10 09:46] #19077 closed, assigned to nobody

[2020-08-10 09:46] #19078 closed, assigned to nobody

[2020-08-10 09:46] #19086 closed, assigned to NHZlX, phlrain

[2020-08-10 10:17] #26050 closed, assigned to nobody

[2020-08-10 10:17] wumeng2 opened #26099 "paddle在jetson nano上使用c++进行gpu推理时报错"
PaddlePaddle版本：**develop分支  commitID: 0dc485e6fe32248179a86db203d3a06c8f4d528c**       是你们仓库8月7号最后一次上传的代码
硬件信息： **jetson nano**   使用**jetpack 4.4 dp**包刷机，里面时**cuda10.2 cudnn8.0**
使用如下cmake命令可以成功编译，
cmake 命令：cmake .. \
  -DWITH_CONTRIB=OFF \
  -DWITH_MKL=OFF  \
  -DWITH_MKLDNN=OFF \
  -DWITH_TESTING=OFF \
  -DCMAKE_BUILD_TYPE=Release \
  -DON_INFER=ON \
  -DWITH_PYTHON=OFF \
  -DWITH_XBYAK=OFF  \

[2020-08-10 10:28] yuctian commented on #26070
求老师们解答，在线等

[2020-08-10 10:28] jczaja commented on #25645
@zhiqiu  Thanks. So is there a way to control how much memory should paddlepaddle allocator pre allocate ? Perhaps extending ENV var controlling amount of memory for start would be useful to reduce number of memory used  for some smaller models ?

[2020-08-10 11:08] sandyhouse commented on #26070
请问你用的是动态图还是静态图，如果是动态图的话，可以用set_value方法吗。比如grad.set_value(xxx)。需要注意的是，可能需要在每次迭代时set_value,而不是在组网时 @yuctian。

[2020-08-10 11:39] huochf commented on #26084
使用静态图spectral_norm的不香吗，不能死板的改名字，pytorch和paddle还是有一定区别的。

[2020-08-10 11:59] deep-practice commented on #26084
归一化完conv.weight之后，怎么去更新这个conv的weight呢

[2020-08-10 12:04] huochf commented on #26084
没明白什么意思，其实我对paddle也不熟悉，看到这里没人回复，我就简单说几句，我在复现论文中是在forward使用spectral_norm函数来代替的定义SpectralNorm的。
你还是等开发人员来解答吧！

[2020-08-10 12:07] deep-practice commented on #26084
spectral_norm只对权重参数进行归一化，但是归一化完之后，要更新那个卷积层的权重参数才行吧，还是说用了spectral_norm之后，对应的卷积的那个权重参数也跟着更新了？

[2020-08-10 12:12] huochf commented on #26084
呀！这个小细节没注意，我觉得使用fluid.nn.functional.conv2d(inputs, weights)可以解决这个问题吧，还是再等等开发人员吧！
我那里似乎写错了。

[2020-08-10 12:19] Steffy-zxf commented on #26058
还可以试试 启动多个进程（启动多个python进程）进行预测，提高cpu使用率。同时predict接口有个参数accelerate_mode, accelerate_mode=True会开启预测加速模式。

[2020-08-10 12:24] #26084 closed, assigned to nobody

[2020-08-10 12:31] deep-practice commented on #26084
是我理解错了，那个就已经是最后的结果了

[2020-08-10 12:53] DDDivano commented on #25703
预计本周会发布1.8.4版本修复这个问题

[2020-08-10 13:06] zhangylch commented on #25703
谢谢

ylzustc@mail.ustc.edu.cn

发件人： Divano
发送时间： 2020-08-10 20:54
收件人： PaddlePaddle/Paddle
抄送： zyl12138; Author
主题： Re: [PaddlePaddle/Paddle] 动态图应用fluid.dygraph.grad 报错 (#25703)
你好，我是上次在issue 里提问二次求导（#25703），你们把问题合并了，我看说是已经修复了这个bug, 但是你们修复完之后呢？我们怎么才能用上你们修复之后的版本呢？是要直接等版本更新还是有什么临时的版本可以用？总得给个简单的说法，不能一直就一直不回复吧？我在问题下面问了两天，过好几天你们也不回复，只好给你们发邮件。如有打扰请见谅。 ylzustc@mail.ustc.edu.cn 发件人： hong 发送时间： 2020-07-29 1

[2020-08-10 13:52] jczaja commented on #25537
@luotao1 I'm sorry for late response as I was away from office. I have just resumed investigation on this problem and will do our best to have it fixed.

[2020-08-10 14:10] yuctian commented on #26070
我还没知道试，这样操作 不知道会不会影响梯度回传

[2020-08-10 14:17] liu0haha123 opened #26107 "如何在飞桨中实现根据条件对张量进行动态赋值"
- 标题：如何在飞桨中实现根据条件对张量进行动态赋值
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.3
    2）CPU/GPU 1660ti
    3）系统环境：WIN10
    4）Python版本号 3.6
    5）显存信息
如何实现类似torch.where的条件赋值功能，飞桨的where返回的是对应元素的下标，我编写了如下的代码实现类似功能，报错
import paddle
import paddle.fluid as fluid
import paddle.fluid.dygraph as D
from paddle.fluid.dygraph import nn
import numpy as np

A = np.array([[1,2,3],[4,5,6],[7,7,7]])
B = np.array([[1,2,1],[4,4,4],

[2020-08-10 14:26] sincerevertigo opened #26109 "【论文复现】UGATIT 方差 torch.var相当的方法，paddle是否有提供"
如题。
paddle1.8
谢谢。

[2020-08-10 14:28] kgkzhiwen opened #26110 "【论文复现】有没有Pytorch Pool3D的替代函数"
我想问一下有没有Pytorch Pool3D的替代函数？当我用

fluid.layers.pool3d 函数时：

self.features.append(('pool1', pool3d(pool_size=3, pool_stride=2, pool_padding=1, pool_type='max')))

出现下面这个错误：
TypeError: pool3d() missing 1 required positional argument: 'input'

感觉好像是要输入，可是在构造网络的时候，输入还是未知的。

请问要怎么解决这个问题？

[2020-08-10 14:29] deep-practice commented on #26060
for name,param in model.named_parameters():
         pass
遍历这个列表的时候，如何去改变里面的参数值呢？
@hutuxian

[2020-08-10 15:04] kgkzhiwen commented on #26073
在构建网络是使用了set_value, 出现了如下错误：
`166             elif isinstance(m, BatchNorm):

--> 167                 m.weight.set_value(fluid.initializer.Constant(value=1))

    168                 m.bias.set_value(fluid.initializer.Constant(value=0))

    169                 #m.weight.data.fill_(1)

</opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/decorator.py:decorator-gen-133> in set_value(

[2020-08-10 16:30] kgkzhiwen opened #26112 "【论文复现】add_sublayer 出错"
`       在训练DenseNet 121, 下面的关于add_sublayer的代码训练时出现一个问题。请问要如何解决？

        self.feature0=Sequential()
        self.feature0.add_sublayer('conv1',
                          Conv3D(n_input_channels,
                                num_init_features,
                                filter_size=(conv1_t_size, 7, 7),
                                stride=(conv1_t_stride, 2, 2),

[2020-08-10 16:43] hbwslms opened #26113 "【论文复现】优化器加载保存的信息时出错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）系统环境：AI Studio notebook 高级版

- 问题描述：模型是resnet50，优化器是MomentumOptimizer，在之前训练中，我使用
fluid.save_dygraph(resnet.state_dict(), 'resnet_params')
fluid.save_dygraph(optimizer.state_dict(), 'resnet_params')
来保存模型权重和优化器相关参数，在中断训练后，继续训练时通过
if load_ckpt:
            model_dict, opt_dict = fluid.load_dygraph(load_ckpt)
            for key in opt_dict:
                p

[2020-08-10 20:12] oytang commented on #26109
1.8没有方差算子，需要自己写。一定想直接用方差算子的话，2.0-beta里有。需要注意`torch.var`计算时考虑了一个自由度，因此通过paddle的算子来直接组合得到有些困难。我的方法是先转成`ndarray`使用`numpy`里面的`numpy.var`计算方差再转回paddle。

[2020-08-10 20:21] Chemino commented on #26113
你在保存时，对于模型和优化器使用了一致的`model_path=‘resnet_params'`，使得优化器的存储文件覆盖了模型的存储文件

[2020-08-10 21:36] hbwslms commented on #26113
我觉得应该不是这样，‘resnet_params'只是文件前缀名，api文档中也写明了“该接口会根据 state_dict 的内容，自动给 model_path 添加 .pdparams 或者 .pdopt 后缀， 生成 model_path + ".pdparams" 或者 model_path + ".pdopt" 文件。”
并且我这里也确实产生了两个文件：

而我继续训练时，也的确读出了之前保存的优化器数据，并且把字典打印了出来。所以我认为问题出在了优化器读取数据时。
谢谢你了！

发送自 Windows 10 版邮件应用

发件人: Oliver Tang
发送时间: 2020年8月11日 04:21
收件人: PaddlePaddle/Paddle
抄送: hbwslms; Author
主题: Re: [PaddlePaddle/Paddle] 【论文复现】优化器加载保存的信息

[2020-08-10 22:52] liuxianyi opened #26116 "【论文复现】请问报这种错是什么原因matmul(): incompatible function arguments. The following argument types are supported: 1. (arg0: paddle::imperative::VarBase, arg1: paddle::imperative::VarBase, arg2: paddle::imperative::VarBase, *args) -> paddle::imperative::VarBase"
![image](https://user-images.githubusercontent.com/33951338/89838978-3beea500-db9f-11ea-80f5-00d863e8281e.png)

![image](https://user-images.githubusercontent.com/33951338/89838956-2d07f280-db9f-11ea-8685-ada090a9b7cd.png)

[2020-08-11 00:31] sincerevertigo commented on #26109
@Chemino

非常感谢！！！
按照上面的思路，写了一下代码。

input_numpy = np.array(input)
input_var = np.var(input_numpy, axis=[2, 3], keepdims=True)
input_tensor = fluid.Tensor()
input_tensor.set(input_numpy, fluid.CPUPlace())

上面这个方法可以吗，由于时间原因，还没有做最终的确认。

[2020-08-11 00:37] oytang commented on #26109
@sincerevertigo

大体思路没有问题，但我常用的是paddle的动态图，所以转入和转出我分别用的是Tensor.numpy()方法和dygraph.to_variable(x)算子，不确定你的是否可行。此外，计算方差时要考虑自由度ddof，这是复现pytorch算法的关键。

[2020-08-11 00:45] YOMO-Lee opened #26117 "关于NLP模型长短时记忆网络"
我的项目做的是一个二分类任务，采用的长短时记忆网络，不过这个网络对我好复杂。目前训练数据一致不成功，有谁可以给我看一看怎么解决么
https://aistudio.baidu.com/aistudio/projectdetail/470283?shared=1
这个是项目地址

[2020-08-11 00:46] zhijia3278 commented on #26117
https://aistudio.baidu.com/aistudio/projectdetail/470283?shared=1

[2020-08-11 01:22] sincerevertigo commented on #26109
@Chemino
多谢回答。

在forword函数里，是不是就不能用图的方法了？
Tensor.numpy()
这个方法是直接点出来的？
input_numpy = input.numpy()

现在还没看出来源码是总体方差还是样本方差，再研究研究。

[2020-08-11 02:00] ruyijidan commented on #25885
可以跟官方反应一下，也可能会有比更好的方法避免类似的问题。

[2020-08-11 02:10] sandyhouse commented on #26073
是否把相关代码放下面的guard下面呢？
[code]

[2020-08-11 02:12] sincerevertigo opened #26118 "【论文复现】UGATIT torch.backends.cudnn.benchmark"
if torch.backends.cudnn.enabled and self.benchmark_flag:
            print('set benchmark !')
            torch.backends.cudnn.benchmark = True

paddle复现的话，不需要考虑上面的设置了吧。
谢谢。

[2020-08-11 02:13] thrkingd commented on #26110
你在动态图的forward函数里面调用fluid.layers.pool3d就有输入了，不要在构造函数里面调用

[2020-08-11 02:15] sandyhouse commented on #26116
从报错信息看是matmul这个算子的输入类型不匹配，可以检查下。（是不是对输入没有采用to_variable调用，比如to_variable(x)之类的。

[2020-08-11 02:16] thrkingd opened #26119 "【论文复现】paddle.incubate.vision.transforms.ColorJitter怎么用？"
pytorch api的对照表倒数第二个函数paddle.incubate.vision.transforms.ColorJitter在官网文档中搜索不到这个函数，怎么用？

[2020-08-11 02:24] sunjie97 opened #26120 "【论文复现】矩阵乘法"
[code]
请问这样的矩阵乘法在paddle中如何实现，pytorch和numpy都可以正常运算，但paddle会报维度不匹配的错误，如果中间使用numpy会导致无法计算梯度
[code]

[2020-08-11 02:28] sandyhouse commented on #26113
请问有可复现的代码吗

[2020-08-11 02:29] sandyhouse commented on #26112
请问有可复现的代码吗

[2020-08-11 02:33] sandyhouse commented on #26107
目前动态图暂不支持根据下标进行动态赋值

[2020-08-11 02:34] sincerevertigo opened #26122 "【论文复现】UGATIT nn.BCEWithLogitsLoss() paddle提供同等的方法吗？"
如题

如果没有，一般怎么实现，可否受教。
谢谢。

[2020-08-11 02:39] sunjie97 opened #26123 "【论文复现】矩阵求逆"
paddle什么矩阵求逆的方法，可以实现类似于`torch.inverse`的功能,(使用numpy会造成梯度丢失)

[2020-08-11 02:51] zzz2010 opened #26124 "【论文复现】如何进行类似pytorch 的in-place 操作"
Hi,    请问如何对VarBase object 进行 in-place 操作？  例如， torch 的 tensor.clamp_(min,max)  是一个in-place 操作， 对应的paddle代码应该是什么呢？
是下面这样吗？
 tensor.set_value( fluid.layers.clip(tensor,min,max)  )

谢谢

[2020-08-11 02:55] sandyhouse commented on #26097
麻烦你用where python，python --version看一下是不是位置和版本号

[2020-08-11 02:57] sandyhouse commented on #26085
麻烦你用where python，python --version看一下是不是位置和版本号. 另外，你用pip search paddlepaddle的输出是什么？

[2020-08-11 02:58] Mr-Nineteen opened #26125 "[需求]：镜像paddlepaddle/paddle 1.8.X(gpu)支持CentOS 7.X"
[需求]：
           镜像paddlepaddle/paddle 1.8.X(gpu)支持CentOS 7.X

[2020-08-11 02:58] liu0haha123 opened #26126 "动态图下使用layers.LSTM报错"
- 标题：动态图下使用layers.LSTM报错
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.3
    2）CPU：
    3）GPU：1660ti cuda10.0 cudnn7.6.5/P100 cuda10.0 cudnn7.6.5
    4）系统环境：win10 python3.6/ubutnu16.04 python3.6
- 训练信息
    1）单机单卡
    2）显存信息
    3）Operator信息
- 复现信息：
代码：
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle

[2020-08-11 03:12] LielinJiang commented on #26122
请参考这里：https://github.com/PaddlePaddle/PaddleGAN/blob/master/ppgan/modules/nn.py#L57-L69
![image](https://user-images.githubusercontent.com/50691816/89853268-8eda5380-dbc3-11ea-886e-412e3035f9fe.png)

[2020-08-11 03:14] deep-practice opened #26127 "【论文复现】fluid.layers.create_paramete创建的值，在程序里面该如何修改"
如何得到这个值，如何修改这个值

[2020-08-11 03:15] adaxiadaxi commented on #26125
hi，同学您好，方便加我一下qq吗，我们可以在线联系沟通诉求，比较方便：876010422 主要是想了解下您的需求背景

[2020-08-11 03:16] ceci3 commented on #26118
不需要的

[2020-08-11 03:17] sincerevertigo commented on #26118
@ceci3
谢谢！！！

[2020-08-11 03:17] #26118 closed, assigned to nobody

[2020-08-11 03:20] ceci3 commented on #26119
参考这里 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/incubate/hapi/tests/test_transforms.py#L59

[2020-08-11 03:21] wumeng2 commented on #25083
你好，你在tx2上使用gpu跑成功了是吧，我用的jetpack4.4，里面cuda10.2，cudnn8.0跑不起来，准备降低版本，你这个是4.2是吧，谢谢

[2020-08-11 03:31] JensenHJS commented on #25083
我是jetpack4.2，要先编译paddle预测库，然后cmake里有的路径可能需要改，再编译c++推理的代码

[2020-08-11 03:33] mvxi commented on #26097
![image](https://user-images.githubusercontent.com/3888647/89854436-77e93080-dbc6-11ea-9ca0-34bac5668d14.png)

[2020-08-11 03:34] mvxi commented on #26097
![image](https://user-images.githubusercontent.com/3888647/89854503-9f3ffd80-dbc6-11ea-95bb-2c153e872f05.png)

[2020-08-11 03:48] sandyhouse commented on #26097
我这边无法复现该问题，你可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/install/install_CentOS.html 安装步骤确认下，也可以试试别的安装源。如果都不可以的话，可以到https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#ciwhls 下载需要的版本的wheel包，本地安装试一试。

[2020-08-11 03:51] #26107 closed, assigned to nobody

[2020-08-11 03:52] wumeng2 commented on #25083
好，正准备换4.2，你用paddle跑的时paddleocr这个项目吗？

[2020-08-11 03:53] #26126 closed, assigned to nobody

[2020-08-11 04:02] ceci3 commented on #26127
a = create_paramete， 返回那个a 可以直接调用，通过assign或者set_value都可以修改

[2020-08-11 04:03] ceci3 commented on #26124
可以 tensor.set_value( fluid.layers.clip(tensor,min,max) ) 也可以直接assign(fluid.layers.clip(tensor,min,max), tensor)

[2020-08-11 04:05] hbwslms commented on #26113
https://aistudio.baidu.com/aistudio/projectdetail/708019?shared=1
麻烦了

[2020-08-11 04:05] ceci3 commented on #26123
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-alpha/api_cn/tensor_cn/inverse_cn.html#paddle.inverse paddle2.0alpha有相应api

[2020-08-11 04:28] liuxianyi opened #26133 "【论文复现】已解决 卷积层报错 TypeError: conv2d(): incompatible function arguments. The following argument types are supported: 1. (arg0: paddle::imperative::VarBase, arg1: paddle::imperative::VarBase, *args) -> paddle::imperative::VarBase"
![image](https://user-images.githubusercontent.com/33951338/89857265-32306600-dbce-11ea-93b0-5e0970a9572b.png)

[2020-08-11 04:42] sincerevertigo commented on #26122
@LielinJiang
谢谢。

[2020-08-11 04:42] #26122 closed, assigned to nobody

[2020-08-11 04:43] deep-practice commented on #26127
可行，感谢。

[2020-08-11 04:43] #26127 closed, assigned to nobody

[2020-08-11 05:34] ceci3 commented on #26120
pytorch 用的是哪个接口？

[2020-08-11 05:36] ceci3 commented on #26133
麻烦贴下复现bug的代码，另外网络的实例化需要放在with fluid.dygraph.guard(): 或者fluid.enable_imperative()下面

[2020-08-11 05:43] ceci3 commented on #26117
打印一下pred 看下是不是训练有什么问题

[2020-08-11 05:43] bkseastone commented on #26085
python环境问题。已解决。

[2020-08-11 05:43] #26085 closed, assigned to nobody

[2020-08-11 05:53] Mr-Nineteen commented on #26125
@adaxiadaxi 加你了，同意一下，谢谢

[2020-08-11 06:13] sunjie97 commented on #26120
torch.matmul
[code]

[2020-08-11 06:17] sunjie97 commented on #26123
在aistudio中有方法使用吗？论文复现的时候需要用这个接口，但官方好像没有提供2.0的安装方式

[2020-08-11 06:29] imwujue opened #26137 "scaled_dot_product_attention调用时报错"
**调用代码：**
def cross_attention_layer(query, title):
    pad_value = fluid.layers.assign(
                input=numpy.array([0.0], dtype=numpy.float32))
    query_new = layers.sequence_pad(query, pad_value = pad_value)
    title_new = layers.sequence_pad(title, pad_value = pad_value)
    layers.Print(query, message="query")
    layers.Print(title, message="title")
    layers.Print(query_new[0], mess

[2020-08-11 06:30] ceci3 commented on #26123
在aistudio的终端 pip install paddlepaddle_gpu==2.0.0a0 手动安装2.0试下

[2020-08-11 06:41] ceci3 commented on #26137
看起来像是维度没有对上，可以检查下维度

[2020-08-11 06:43] YOMO-Lee commented on #26117
@ceci3 大佬，可以留个联系方式么？我想详细请教下

[2020-08-11 07:14] sandyhouse commented on #26070
你需要在什么地方修改，是否可以贴下完整的代码

[2020-08-11 07:19] ceci3 commented on #26120
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/py_func_cn.html#py-func paddle的matmul看起来没办法实现，用py_func 实现一下试下

[2020-08-11 07:20] huochf opened #26139 "【论文复现】[已解决(伪)] 关于SpectralNorm的问题"
在实现模型时，需要使用spectral归一化，需要对Linear或Conv2D中的参数矩阵进行归一化操作，请问有什么好的方法，下面是我想到的一种方案：
class LinearSNReLU(Linear):

    def __init__(self, in_channels, out_channels):
        super(LinearSNReLU, self).__init__(in_channels, out_channels)

    def forward(self, inputs):
        self.weight = fluid.layers.spectral_norm(self.weight)
        x = super.forward(inputs)
        x = fluid.layers.leaky_relu(x, alpha=0

[2020-08-11 07:20] sandyhouse commented on #26077
可以先用这个镜像测试下是否有问题docker pull paddlepaddle/paddle:1.8.0-gpu-cuda10.0-cudnn7，如果需要特定python版本的话可以在镜像里面自行安装。

[2020-08-11 07:23] zhangmianhongni opened #26140 "关于ARM64架构的编译问题"
刚看了1.8.3版本的bug修复信息，有一条是关于飞腾ARM CPU的编译bug修复。
是不是可以理解为1.8.3版本的Paddle已经可以在ARM64架构下进行完整的编译和运行？

[2020-08-11 07:23] deep-practice opened #26141 "AIStudio的PaddlePaddle版本能更新到1.8.3吗"
现在版本是1.8.0 跑程序有点bug，自己pip install -U安装的说显卡驱动不匹配
出现的问题跟这个issue一样
 https://github.com/PaddlePaddle/Paddle/issues/25141

[2020-08-11 07:24] YuHuasong123 opened #26142 "DeepSpeech2模型在ASR引擎部署中文模型时出错，但预测时又没有问题，如何解决？"
/DeepSpeech$ python demo_server.py
-----------  Configuration Arguments -----------
alpha: 2.5
beam_size: 500
beta: 0.3
cutoff_prob: 0.99
cutoff_top_n: 40
decoding_method: ctc_beam_search
host_ip: localhost
host_port: 8086
lang_model_path: ./models/lm/zh_giga.no_cna_cmn.prune01244.klm
mean_std_path: ./data/aishell/mean_std.npz
model_path: ./checkpoints/aishell/step_final
num_conv_layers: 2
num_rnn

[2020-08-11 07:28] ceci3 commented on #26139
可以贴下报错信息吗？

[2020-08-11 07:29] huochf commented on #26139
TypeError: assignment to parameter 'weight' should be of type Parameter or None, but got 'VarBase'

[2020-08-11 07:32] huochf commented on #26139
它提示self.weight = fluid.layers.spectral_norm(self.weight)中weight类型不对，这里的self.weight是父类Linear的参数，

[2020-08-11 07:37] sandyhouse commented on #26109
应该是可以使用.numpy方法的，你在这里使用的目的是什么。

[2020-08-11 07:46] liuxianyi commented on #26133
已解决，原因：实例化没有放在with fluid.dygraph.guard():

[2020-08-11 07:52] liuxianyi commented on #26139
我也有SpectralNorm的问题，在动图情况下，是如何输入weight_shape的值的，可以不以直接在上一层（Linear，Conv2D)直接推理出来？
![image](https://user-images.githubusercontent.com/33951338/89871852-ada01080-dbea-11ea-940a-9ce7ea497d02.png)

[2020-08-11 07:55] liuxianyi commented on #26141
我上午跑2.0的时候也出现了 Cuda版本不满足的情况，而昨天没有问题，很玄学？

[2020-08-11 07:56] huochf commented on #26139
如果想省略weight_shape，可以像上面那样使用spectral_norm，

[2020-08-11 08:02] jiweibo commented on #26140
是的，已经在ARM 飞腾上验证过。

编译方式可参考  https://github.com/PaddlePaddle/Paddle/pull/25212

[2020-08-11 08:34] deep-practice commented on #26141
emmmm，那你还是比我幸运一点，我第一次就失败了。

[2020-08-11 08:50] ceci3 commented on #26139
目前不可以，现在动态图只能直接用SpectralNorm 这个接口，下个版本可能支持您上面的那种用法

[2020-08-11 08:52] ameyais opened #26151 "使用train_from_dataset训练，获取的moment都是0"
使用train_from_dataset训练时，想打印训练时的梯度和优化器计算的moment

我使用下面的方法获取梯度变量和moment变量，加在fetch_list中，使用adagrad训练
fc0_w_grad = fluid.default_main_program().global_block().var("fc_0.b_0@GRAD")
fc0_w_moment = fluid.default_main_program().global_block().var("fc_0.b_0_moment_0")

训练过程中发现，梯度可以正常获取，但是moment打印出来都是0，最后模型保存下来时，查看保存的moment又是有值的
请问这是什么原因呢？需要怎么获取训练中的moment呢？

[2020-08-11 09:01] huochf commented on #26139
@ceci3 我还想知道SpectralNorm怎么对Conv2D里面的参数做归一化，我在示例程序中找到的都是静态图的，文档中也没有给出具体实例。

[2020-08-11 09:02] lfchener commented on #26142
看是来是参数设置不正确的导致的 shape 对不上的问题，可以 check 一下两次运行时的参数是否一致。

[2020-08-11 09:08] zhiqiu commented on #25645
Currently, `Paddle` uses `naive_best_fit` allocation strategy on CPU place, which pre-allocates a chunk of  memory to use.
By default, the size of pre-allocated CPU meomry is 500mb, which is controlled by `FLAGS_initial_cpu_memory_in_mb`.
https://github.com/PaddlePaddle/Paddle/blob/65b97d62157faad0909cf48bb441c92af36e5655/paddle/fluid/platform/flags.cc#L347

[2020-08-11 09:10] zhiqiu commented on #25645
Currently, `Paddle` uses `naive_best_fit` allocation strategy on CPU place, which pre-allocates a chunk of  memory to use.
By default, the size of pre-allocated CPU meomry is 500mb, which is controlled by `FLAGS_initial_cpu_memory_in_mb`.

https://github.com/PaddlePaddle/Paddle/blob/65b97d62157faad0909cf48bb441c92af36e5655/paddle/fluid/platform/flags.cc#L347-L360

So, we can set `FLAGS_initial_cpu

[2020-08-11 09:16] sincerevertigo opened #26152 "【论文复现】UGATIT from torch.utils.data import DataLoader paddle中是否有类似的方法"
如题。

下面这种实现思路是否可以。

self.trainA_loader = DataLoader(self.trainA, batch_size=self.batch_size, shuffle=True)
↓
self.trainA_loader = fluid.layers.shuffle(paddle.batch(self.trainA, batch_size=self.batch_size))

谢谢。

[2020-08-11 09:22] mamingjie-China opened #26153 "gather的使用与文档不符"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/gather_cn.html#gather ，在Paddle1.8.2版本中，gather的参数描述中，index为rank为1，但给出的代码示例中，index的shape=[-1, 1]，有点矛盾，实测gather仅支持1维的index输入，怀疑是文档有问题。另外，想问一下，PaddlePaddle的gather与TF和Pytorch并没有对齐，是否近期有计划对齐？
![image](https://user-images.githubusercontent.com/52770436/89880645-0e354a80-dbf7-11ea-8834-d144afb15ab6.png)
![image](https://user-images.git

[2020-08-11 09:25] ceci3 commented on #26139
[code]
先这样用吧.. 之前的SpectralNorm这个接口我也没看明白要怎么用..

[2020-08-11 09:26] jczaja commented on #25645
@zhiqiu Thanks for explanation.

[2020-08-11 09:26] #25645 closed, assigned to luotao1, zhiqiu

[2020-08-11 09:27] huochf commented on #26139
@ceci3 我这就去试试，这个回答我很满意！！

[2020-08-11 09:34] ceci3 commented on #26152
paddle也有DataLoader，https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/DataLoader_cn.html#dataloader 。 您写的思路也是可以的。

[2020-08-11 09:34] sincerevertigo opened #26155 "【论文复现】UGATIT transforms RandomCrop ToTensor"
![image](https://user-images.githubusercontent.com/37995641/89881898-ab44b300-dbf8-11ea-83e1-8f93bd87c223.png)
使用了 2.0 beta版的paddle
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/beginners_guide/hapi.html#transform
参考了上面的链接，似乎，这两个没有提供。

这样的话，要怎样实现这个pipeline，能否提供个思路？

[2020-08-11 09:36] sandyhouse commented on #26113
你运行的代码和 https://aistudio.baidu.com/aistudio/projectdetail/708019?shared=1  有什么不同吗？我本地无法复现该错误。区别是我本地用的develop分支，如果代码一致的话你也可以试一下develop分支代码。
另外，你可以确认下保存模型和加载模型时用的python版本是否一致。如果版本不一致的话也有可能有问题。

[2020-08-11 09:38] Feynman1999 commented on #25656
经过测试，好像有类似resnet那样的shortcut就会报这个错？

[2020-08-11 09:39] huochf commented on #26139
我照着你写的这个方法，重写了上面的函数，但是仍然出现上面的错误，
TypeError: assignment to parameter 'weight' should be of type Parameter or None, but got 'VarBase'

我的具体代码如下：
def SpectralNorm(layer, name='weight', n_power_iterations=1, eps=1e-12, dim=0):
    # paddle.fluid.dygraph.Layer.register_forward_pre_hook

    def spectral_norm_pre_hook(layer, x):
        layer.weight = paddle.fluid.layers.spectral_norm(layer.weight, dim=

[2020-08-11 09:40] #26123 closed, assigned to nobody

[2020-08-11 09:44] #26120 closed, assigned to nobody

[2020-08-11 09:48] zhangyaobo commented on #26140
do you share how do it ,about compile and run

[2020-08-11 10:01] ddzzfg commented on #26140
经过测试，可以确定能在ARM的环境中运行
部分需要通过git的也可以切换回国内的镜像
![image](https://user-images.githubusercontent.com/25924459/89884810-a1bd4a00-dbfc-11ea-8bde-42fb75e1460c.png)

[2020-08-11 10:04] ceci3 commented on #26155
https://github.com/PaddlePaddle/PaddleGAN/blob/master/ppgan/datasets/transforms/transforms.py#L4 RandomCrop可以参考这里，ToTensor Paddle里是不需要的

[2020-08-11 10:06] sincerevertigo commented on #26109
@sandyhouse @Chemino

不好意思，问题形容的不太好。
我重新整理了一下。

class adaILN(fluid.dygraph.Layer):
    def __init__(self, num_features, eps=1e-5):
        super(adaILN, self).__init__()
        self.eps = eps
        self.rho = Parameter(torch.Tensor(1, num_features, 1, 1))
        self.rho.data.fill_(0.9)
    def forward(self, input, gamma, beta):
        、、、
        in_mean, in_var = torch.mean(input, dim=[2, 3

[2020-08-11 10:18] sincerevertigo commented on #26155
@ceci3
谢谢！！！

RandomCrop,之前倒是也实现过，但肯定没有这个实现的漂亮。
我的理解是改成下面这样就OK了吧。

train_transform = transforms.Compose([
            transforms.RandomHorizontalFlip(),
            transforms.Resize((self.img_size + 30, self.img_size+30)),
            **RandomCrop(self.img_size),**
            transforms.Normalize(mean=(0.5, 0.5, 0.5), std=(0.5, 0.5, 0.5))
        ])
        test_transform = transforms.Compose([

[2020-08-11 10:31] sincerevertigo opened #26156 "【论文复现】UGATIT torch.optim.Adam parameters weight_decay"
pytroch源码
self.G_optim = torch.optim.Adam(itertools.chain(self.genA2B.parameters(), self.genB2A.parameters()), lr=self.lr, betas=(0.5, 0.999), weight_decay=self.weight_decay)

做了如下的移植，不知是否可以。

paddle
self.G_optim = fluid.optimizer.AdamOptimizer(learning_rate=self.lr, beta1=0.5, beta2=0.999, parameter_list=(self.genA2B.parameters(), self.genB2A.parameters()), regularization=fluid.regularizer.L2Deca

[2020-08-11 10:42] sincerevertigo opened #26157 "【论文复现】UGATIT 关于 pytroch的Parameter"
<img width="502" alt="image" src="https://user-images.githubusercontent.com/37995641/89888106-fdd69d00-dc01-11ea-9178-32d6f3fadd14.png">
想要移植上面的图层实例归一化类。

Parametter这个paddle形式的话，要怎么处理？
下面这种可以吗？
self.rho = fluid.layers.create_parameter(fluid.Tensor(1, num_features, 1, 1))

谢谢。

[2020-08-11 10:54] sincerevertigo opened #26159 "【论文复现】UGATIT torch.utils.data.Dataset 在paddle里是否有替代的类"
pytroch源码
class DatasetFolder(data.Dataset):
    def __init__(self, root, loader, extensions, transform=None, target_transform=None):

这个Dataset在paddle里面用哪个类可以代替吗？
用下面这个可以吗？
paddle.fluid.dataloader.Dataset

[2020-08-11 11:05] sincerevertigo opened #26160 "【论文复现】UGATIT 学习率更新？"
![image](https://user-images.githubusercontent.com/37995641/89890178-7ee36380-dc05-11ea-8633-8eaa58d9c884.png)
pytroch源码里，在训练开始的时候，根据参数操作了一下，优化器的学习率。

再用paddle复现的时候，这块该怎么实现？能否提供一下思路。

谢谢。

[2020-08-11 11:22] cryoco commented on #26099
您好，cudnn8的支持还在内部测试阶段，尚未发布。可以用jetpack4.3刷机，或降级cudnn到7.6试一下。

[2020-08-11 11:31] sandyhouse commented on #26109
求方差的话直接按照方差的定义计算是不是就可以了。
![image](https://user-images.githubusercontent.com/6737864/89892448-3ded4e00-dc09-11ea-8960-2cd00adb3554.png)

例如，要求一个二维矩阵A每行的方差，可以按照下面的步骤：
1. 求每行的均值，得到二维矩阵B
2. C = elementwise_sub(A, B)得到每行中每个元素和其改行均值的差值
3. D = square(C)
4. E = elementwise_div(D, A.shape[1])
5. 用reduce_sum计算最后的方差值。

[2020-08-11 11:37] lidanqing-vv commented on #25739
Close this issue since #25838 is merged

[2020-08-11 11:37] #25739 closed, assigned to luotao1

[2020-08-11 11:56] kgkzhiwen commented on #26110
明白了。复现原来不是那么简单

[2020-08-11 11:56] #26110 closed, assigned to nobody

[2020-08-11 11:56] lxk767363331 opened #26161 "我想实现如下代码 使用静态图 找不到api"
我想实现如下代码 使用静态图  找不到api
import transforms.transforms as extended_transforms
from PIL import Image
import torch
from torchvision import transforms
import numpy as np
from scipy.ndimage.morphology import distance_transform_edt
path="Blowhole0.png"
spath="Blowhole_edge.png"
def mask_to_onehot(mask, num_classes):
    _mask = [mask == (i + 1) for i in range(num_classes)]
    return np.array(_mask).astyp

[2020-08-11 11:58] kgkzhiwen commented on #26073
这个是要在构建网络的时候进行初始化。在fluid.dygraph.guard()下面达不到这个目标吧？

[2020-08-11 11:59] kgkzhiwen commented on #26112
好像是参数太大，内存溢出了。

[2020-08-11 11:59] #26112 closed, assigned to nobody

[2020-08-11 12:00] sincerevertigo commented on #26152
@ceci3
多谢！！！

[2020-08-11 12:00] #26152 closed, assigned to nobody

[2020-08-11 12:02] sincerevertigo commented on #26109
@Chemino
使用了2.0的函数
paddle.Tensor.var(input, axis=[2, 3], keepdim=True)
这样的话，似乎可以直接用。
但是，程序现在还跑不通，没有验证，等验证后，更新。
十分感谢！！！

[2020-08-11 12:02] #26109 closed, assigned to nobody

[2020-08-11 12:06] saxon-zh commented on #26156
这个 @ceci3 会稍后进行回复。

[2020-08-11 12:06] sandyhouse commented on #26073
是否可以提供小段的复现代码，试一试。

[2020-08-11 12:08] ceci3 commented on #26156
可以这么用

[2020-08-11 12:09] ceci3 commented on #26157
self.rho = fluid.layers.create_parameter(shape=(1, num_features, 1, 1),dtype='float32')就可以了，可以参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/create_parameter_cn.html#create-parameter 的用法

[2020-08-11 12:12] ceci3 commented on #26159
没有替代，https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/DataLoader_cn.html#dataloader 查看dataloader的用法，https://github.com/PaddlePaddle/PaddleGAN/blob/master/ppgan/datasets/image_folder.py#L40 参考这里在paddle中使用 类似DatasetFolder的接口

[2020-08-11 12:13] ceci3 commented on #26160
https://github.com/PaddlePaddle/PaddleGAN/blob/master/ppgan/solver/lr_scheduler.py#L9 学习率更新可以参考这里。

[2020-08-11 12:17] ceci3 commented on #26161
您好，是什么api找不到？ 麻烦贴下相应的paddle代码

[2020-08-11 12:20] lxk767363331 commented on #26161
就是在静态图里面
torch.from_numpy(np.array(mask, dtype=np.int32)).long()
mask.numpy()
transforms.ToPILImage()
edgemap.cpu().clone()
这几个对应的paddle api 是什么

[2020-08-11 12:23] #25849 closed, assigned to nobody

[2020-08-11 12:28] ceci3 commented on #26151
可以把"fc_0.b_0_moment_0" 放到fetch_list里面打印，这样打出来的是有值的
![image](https://user-images.githubusercontent.com/29245900/89897061-07b3cc80-dc11-11ea-8eaf-5d5742573f1f.png)

[2020-08-11 12:41] huochf commented on #26139
@ceci3 麻烦能看下上面的错误吗，我仍然遇到了类型不对的错误。
你写的函数spectral_norm_pre_hook中layer.weight是<class 'paddle.fluid.framework.ParamBase'>类型的，但是spectral_norm函数输入的类型必须是Parameter，
我这里使用的是Develop版本。

[2020-08-11 12:44] jczaja commented on #25537
@luotao1 I would like to share some findings and ask for advice. Reason why there is a crash is that this model is having pool2d ops and those ops are having an attribute : *data_format* , which is used to indicate if model is working on NCHW or NHWC data. In the past it was agreed that either all *data_format* attribs are set to NCHW or all are set to NHWC , there shouldn't be scenario where some

[2020-08-11 13:03] ceci3 commented on #26161
torch.from_numpy(np.array(mask, dtype=np.int32)).long()  -> fluid.layers.assign
mask.numpy()  -> np.array(mask)
transforms.ToPILImage() -> paddle 没有
edgemap.cpu().clone() -> paddle没有

[2020-08-11 13:30] dbsxdbsx opened #26165 "动态图中如何用normal分布来批量sample呢？"
PaddlePaddle版本：1.8.3 cuda 10 cudnn 7.6
我在看parl强化学习算法sac部分代码迁移到动态图中时发现：
[code]
上述代码在parl中https://github.com/PaddlePaddle/PARL/blob/develop/parl/algorithms/fluid/sac.py
是可以通过normal分布来批量采集的，但在我动态图模型中，当mean， log_std的shape是[batchsize,1]时，执行到`normal.sample([1]) `这里会报错。由于调试parl的sac模型发现执行到学习这一步：`agent.learn(batch_obs, batch_action, batch_reward, batch_next_obs,batch_terminal)`时无法输出print信息，所以不是很清楚在动态图中该怎么通

[2020-08-11 13:30] sincerevertigo commented on #26156
@ceci3
2.0 版本，对应这个方法
fluid.regularizer.L2Decay(regularization_coeff=self.weight_decay)
是什么？
没找到。。。
谢谢。

[2020-08-11 13:38] zzz2010 opened #26166 "【论文复现】core_avx.VarBase 如何set gradient?"
Hi,
    请问如何手动对一个core_avx.VarBase set gradient? 我看到只有set_value 函数 和 获得gradient 的函数， 但没有发现set gradient

谢谢

[2020-08-11 13:42] liuxianyi opened #26167 "【论文复现】2.0为啥不能使用GPU"
# 错误日志
![image](https://user-images.githubusercontent.com/33951338/89904387-70a04200-dc1b-11ea-9996-5e9324036a88.png)
# CUDA版本
![image](https://user-images.githubusercontent.com/33951338/89904466-8ca3e380-dc1b-11ea-9391-60817d8e3fd7.png)

[2020-08-11 13:46] liuxianyi commented on #26159
可以借鉴百度的一个repo，里面提高高级api [链接](https://github.com/PaddlePaddle/hapi)
![image](https://user-images.githubusercontent.com/33951338/89904914-1358c080-dc1c-11ea-91c9-a1a88c817e11.png)

[2020-08-11 14:27] liuxianyi opened #26168 "【论文复现】paddle.nn.InstanceNorm在GPU下运行报错"
# 错误日志
![image](https://user-images.githubusercontent.com/33951338/89909418-9fb9b200-dc21-11ea-893d-1803928fe3a3.png)
# 代码
![image](https://user-images.githubusercontent.com/33951338/89909641-e1e2f380-dc21-11ea-84ce-645ca2ea2fd4.png)

[2020-08-11 15:15] saviord7 commented on #25952
Lets see the code:
[code]

Then I do this:
`prediction, [avg_loss, acc] = train()`

And get this:
[code]
What I need to fix it?

[2020-08-11 15:18] ceci3 commented on #26156
是的

[2020-08-11 15:21] ceci3 commented on #26168
cudnn版本应该需要升级，上面有warning吗？

[2020-08-11 15:24] ceci3 commented on #26167
[code]
用这种方式检查下gpu安装是否有问题。另外1.8没有问题吗？

[2020-08-11 15:25] ceci3 commented on #26166
VarBase 是一个op的输入或者输出吧，可以直接对这个variable stop_gradient

[2020-08-11 15:30] kgkzhiwen commented on #26073
`class DenseNet(fluid.dygraph.Layer):
    def __init__(self,  n_input_channels=3, conv1_t_size=7, conv1_t_stride=1,
                 no_max_pool=False,
                 growth_rate=32,
                 block_config=(6, 12, 24, 16),
                 num_init_features=64,
                 bn_size=4,
                 drop_rate=0.5,
                 num_classes=1000):

        super().__init__()

[2020-08-11 15:30] #26073 closed, assigned to nobody

[2020-08-11 15:32] ceci3 commented on #26165
麻烦贴下报错信息和可复现代码， self.distribution是什么？

[2020-08-11 15:57] zzz2010 commented on #26166
@ceci3   我不是想stop gradient, 而是修改gradient 的值。  例如在torch里面的tensor， tensor.grad.data 可以直接对gradient 赋值， 想知道paddle 的VarBase 对象有无类似对gradient 赋值的方法

[2020-08-11 15:58] kafaichan commented on #26081
我根据上述步骤在aistudio环境安装后，运行程序时发生如图的错误。这似乎是cuda不兼容的问题。我在本地使用cuda 10.2并没有错误。想问一下这在aistudio该如何解决？
![aistudio_snapshot](https://user-images.githubusercontent.com/8078887/89919396-c7af1280-dc2d-11ea-8262-6448e52455d6.png)

[2020-08-11 16:13] kafaichan opened #26170 "【论文复现】Aistudio安装development branch后运行报错"
#26081 我根据issue所列的步骤在aistudio环境安装后，运行程序时发生如图的错误。这似乎是cuda不兼容的问题。我在本地使用cuda 10.2并没有错误。想问一下这在aistudio该如何解决？
![aistudio_snapshot](https://user-images.githubusercontent.com/8078887/89921458-50c74900-dc30-11ea-8e3c-81ade8d8d019.png)

[2020-08-11 16:15] ceci3 commented on #26166
获得gradient之后调用set_value就可以了吧，比如 a.gradient().set_value()

[2020-08-11 16:30] sincerevertigo commented on #26156
@ceci3
不好意思。
有点没看明白，可能是我说的不清楚。

2.0 没有这个的意思？
还是说用法一样？
我的paddle现在是2.0alpha版。
现在会报下面的错。

<img width="673" alt="image" src="https://user-images.githubusercontent.com/37995641/89922701-fe872780-dc31-11ea-90f9-8ab58a11d3a9.png">

谢谢。

[2020-08-11 17:07] zzz2010 commented on #26166
@ceci3   谢谢拉

[2020-08-11 17:08] #26124 closed, assigned to nobody

[2020-08-11 17:09] #26072 closed, assigned to nobody

[2020-08-11 17:28] sincerevertigo commented on #26159
@ceci3 @liuxianyi

paddle 2.0 版本
在引入包的时候，报错。

![image](https://user-images.githubusercontent.com/37995641/89928867-05666800-dc3b-11ea-90d6-a77ad34c5d72.png)

[2020-08-11 17:52] HrBlack opened #26172 "C++ CreatePaddlePredictor加载模型出core"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle@paddle_with_lite_1-7-2-22-xpu-turing_PD_BL@git_tag
    2）GPU：Tesla T4, CUDA：V10.2.89

- 问题描述：
ernie模型训练完后，利用io.save_inference_model保存了预测模型，然后用c++ CreatePaddlePredictor加载时出core；用python加载模型正常。
训练的paddle版本尝试过1.6.3与1.8.1，两种模型均会出core。

-报错信息：
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0812 01:19:46.660524 29227 analysis_predictor.cc:140] Pro

[2020-08-11 17:58] sincerevertigo opened #26173 "【论文复现】UGATIT 关于fill_"
pytroch 源码
self.rho = Parameter(torch.Tensor(1, num_features, 1, 1))
self.rho.data.fill_(0.9)

这里的fill操作，在paddle有等价的方法吗？ paddle 2.0版本
要转成np操作？

谢谢。

[2020-08-11 23:36] sincerevertigo commented on #26159
谢谢！！！

[2020-08-11 23:36] #26159 closed, assigned to nobody

[2020-08-11 23:58] liuxianyi commented on #26168
![image](https://user-images.githubusercontent.com/33951338/89960440-a1ab6180-dc71-11ea-966d-7f12ea9961c0.png)

那aistudio可以更新cudnn版本吗 @ceci3

[2020-08-12 01:10] zzz2010 opened #26174 "【论文复现】如何copy 一个模型"
Hi,   请问如何做到类似 pytorch 中 copy.deepcopy(model)  的效果呢？  就是对 dygraph.layers.Layer 对象进行复制。

谢谢

[2020-08-12 01:42] yeguang1991 opened #26175 "PALM已经训练过的模型，有新增样本了怎么继续训练"
![image](https://user-images.githubusercontent.com/66579493/89965549-b131a700-dc7f-11ea-9277-4d0d09b057f2.png)
我尝试修改这个参数，但是这样训练之后预测的准确率下降了

[2020-08-12 01:52] ceci3 commented on #26173
直接用Constant方式初始化，或者用numpy先定义好一个arrry，用NumpyArrayInitializer 初始化都可以

[2020-08-12 01:59] daiyuanm opened #26176 "安装飞桨的时候显示安装成功了，但是python测试的时候提示只能使用一块卡。"
- 问题：PP安装成功，但是用python测试的时候提示只能使用一块卡。如图：
![image](https://user-images.githubusercontent.com/67545374/89966432-b5f75a80-dc81-11ea-9cce-47b611160475.png)

- 版本、环境信息：
    1）PaddlePaddle版本：1.8.3
    2）CPU：Intel(R) Core(TM) i9-9920X CPU @ 3.50GHz
    3）GPU：两块2080TI，CUDA版本10.2.89，CUDNN是7605
    4）系统环境：ubuntu18.04，python3.6.9

- 安装方式信息：
1）pip安装/docker安装        
- 问题描述：按照步骤安装PP，其余没问题，python测试的时候提示只能使用一块卡。N

[2020-08-12 02:06] ceci3 commented on #26170
本地编译环境是cuda10，aistudio上是cuda9，所以你本地编译的whl包在aistudio上不兼容，可以直接在官网下载相应cuda9的develop whl包，在aistudio上安装 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-dev

[2020-08-12 02:07] ceci3 commented on #26168
aistudio上的cudnn已经是7.6了，不需要升级

[2020-08-12 02:09] ceci3 commented on #26141
指定一下paddlepaddle安装的环境版本呢？

[2020-08-12 02:11] weiexcelpro commented on #26168
Hi 我是AIStudio的PM. AIStudio的不同Paddle环境下的镜像是略有不同的. Paddle1.8.0对应的镜像, 其中cuDNN是7.6.5.
![image](https://user-images.githubusercontent.com/37108001/89967354-d2949200-dc83-11ea-9a78-d14c48f40f8f.png)

您可以重新编辑项目属性, 以更换镜像
![image](https://user-images.githubusercontent.com/37108001/89967463-18e9f100-dc84-11ea-9cc7-e995f6de2647.png)

[2020-08-12 02:18] huochf commented on #26139
@ceci3 我今天又重新审视了那个错误，错误在于无法对模块中的weight赋值，
我重写了带有spectral linear的函数，这次可以正确运行，
class LinearSNReLU(Linear):

    def __init__(self, in_channels, out_channels):
        super(LinearSNReLU, self).__init__(in_channels, out_channels)

    def forward(self, inputs):
        weight_sn = fluid.layers.spectral_norm(self.weight)
        x = fluid.layers.matmul(inputs, weight_sn)
        x = fluid.layers.leaky

[2020-08-12 02:19] weiexcelpro commented on #26141
请问是在1.8.0的环境下升级1.8.3吗?
我刚刚尝试了, 没有问题呀. 可否提供更详细的命令或截图
![image](https://user-images.githubusercontent.com/37108001/89967984-5307c280-dc85-11ea-9177-ebb3858a9e13.png)

[2020-08-12 02:21] liuxianyi commented on #26168
我现在就是1.8.0的框架，但是依然显示cudnn是7.3版本的。如果我想要切换CUDA的版本，我该怎么操作呢？求指教！ @weiexcelpro

[2020-08-12 02:26] liuxianyi commented on #26141
你检查下
`
import paddle.fluid as fluid   `
`fluid.install_check.run_check()
`
看看是否验证成功，反正我是有问题的？

[2020-08-12 02:27] ameyais commented on #26151
你是用什么方式训练的呢？
我这边自己拿数据测试，使用exe.run(program, fetch_list=..)训练的话，是可以打出moment的值的，但是拿exe.train_from_dataset(program, fetch_list=...)训练的话，就打出来的moment都是0

[2020-08-12 02:33] sincerevertigo commented on #26173
@ceci3
谢谢！

[2020-08-12 02:33] #26173 closed, assigned to nobody

[2020-08-12 02:35] weiexcelpro commented on #26168
辛苦执行一下这个命令再截个图?
cat /usr/local/cuda/include/cudnn.h | grep CUDNN_MAJOR -A 2

[2020-08-12 02:39] kafaichan commented on #26170
![q](https://user-images.githubusercontent.com/8078887/89969069-14bfd280-dc88-11ea-869f-a4c890cc449f.jpg)
选那一个?

[2020-08-12 02:43] weiexcelpro commented on #26141
![image](https://user-images.githubusercontent.com/37108001/89969283-9283de00-dc88-11ea-909e-7ea8981fa340.png)

至少这两句没啥问题

[2020-08-12 02:48] hbwslms commented on #26065
我也有类似的问题，现在怎么用自定义的卷积核的问题解决了，但我还想知道怎么让这个卷积核的不会被梯度更新，就像torch里的requires_grad=False一样

[2020-08-12 02:50] kafaichan commented on #26170
![q](https://user-images.githubusercontent.com/8078887/89969562-4a18f000-dc89-11ea-80e9-7e186e3f0d6b.jpg)

![q1](https://user-images.githubusercontent.com/8078887/89969565-4c7b4a00-dc89-11ea-8881-612f0e2446d7.JPG)

![q2](https://user-images.githubusercontent.com/8078887/89969619-703e9000-dc89-11ea-981a-d5c5f2d89d47.JPG)

我在aistudio试安装了红圈标示的两个版本都报了如上的错误.

[2020-08-12 02:54] weiexcelpro commented on #26141
想起来了, 安装完1.8.3 paddlepaddle-gpu之后, 需要立即重启执行器(右上角菜单里), 请问你执行过吗?

[2020-08-12 03:06] liuxianyi commented on #26168
![image](https://user-images.githubusercontent.com/33951338/89970624-d0363600-dc8b-11ea-8921-8fb19eefda39.png)
这个是截图，目前我用的是paddle的develop版本

[2020-08-12 03:08] weiexcelpro commented on #26168
嗯, 好奇怪, 我们再深入查看一下.

[2020-08-12 03:13] chenjiaoAngel commented on #26172
<img width="506" alt="image" src="https://user-images.githubusercontent.com/38650344/89971068-d24cc480-dc8c-11ea-98a6-734634236794.png">
这个看起来可能是模型版本不兼容引起的

[2020-08-12 03:43] liuxianyi commented on #26168
可以切换CUDA的版本吗，如何切换呢，我想试试10.0？

[2020-08-12 03:49] ceci3 commented on #26170
https://github.com/PaddlePaddle/Paddle/issues/26168#issuecomment-672464634 可以看下这个issue下aistudio的回复

[2020-08-12 03:58] dbsxdbsx commented on #26165
@ceci3 你好，报错信息大概是说输出形状不一致，我回去再看下详细的；`self.distribution=fluid.layers.disribution.normal`是paddle的官方normal分布，来自：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/distributions.py,即

[2020-08-12 04:00] ceci3 commented on #26170
@weiexcelpro 麻烦看下还有这个issue，感谢~

[2020-08-12 04:04] ceci3 commented on #26155
是的

[2020-08-12 04:16] weiexcelpro commented on #26168
不能, CUDA版本是跟随服务器硬件的, AIStudio自己都升不动. 或说AIStudio自己想升级到CUDA10都需要非常大的成本.

[2020-08-12 04:18] liuxianyi commented on #26168
那现在情况就是2.0和dev的GPU版本都不能在aistudio上运行了呗？

[2020-08-12 04:25] ceci3 commented on #26156
我本地没有复现出来，安装的2.0alpha的paddle，可以正常用
![image](https://user-images.githubusercontent.com/29245900/89974892-ec8ba000-dc96-11ea-96a9-12f798d6a2f3.png)

[2020-08-12 04:26] wumeng2 commented on #26099
好的，我已经用jetpack4.3刷机了，请问有没有针对jetpack4.3编译好的paddle库，我这边编译太慢了，上次在jetpack4.4编译花了10多个小时，谢谢您！

[2020-08-12 04:32] ceci3 commented on #26139
这样的话也可以，不会影响梯度的回传。上面这个``` layer.weight = paddle.fluid.layers.spectral_norm(layer.weight, dim=dim, power_iters=n_power_iterations, eps=eps)``` 这句话用set_value的方式的方式把spectral_norm返回的值赋值给layer.weight 也可以

[2020-08-12 04:33] sincerevertigo commented on #26156
@ceci3
卸载，重装了一遍paddle2.0 就可以了。
原因不明。。。
谢谢。

[2020-08-12 04:33] ceci3 commented on #26133
那我先关掉这个issue了，如果有需要的话可以再打开~

[2020-08-12 04:35] deep-practice commented on #26141
终端安装和Notebook安装有啥不一样？现在安装完倒是不报错了，但会提醒cudnn版本不对

[2020-08-12 04:36] deep-practice commented on #26141
WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.3, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version.

[2020-08-12 04:42] weiexcelpro commented on #26168
如果是需要升级cuDNN的, 我们可以去检查并升级. 如果是一定需要CUDA10的, 完全不能跑

[2020-08-12 04:44] weiexcelpro commented on #26141
.............嗯...............我们再检查一下cuDNN

[2020-08-12 04:47] liuxianyi commented on #26168
嗯，好的，如果升级成功后（dev 可以用 gpu），麻烦通知一下，谢谢，辛苦了！ @weiexcelpro

[2020-08-12 04:59] ceci3 commented on #26139
上面那种方法好像是有问题的，稍后 @LielinJiang 会给出正确用法

[2020-08-12 05:11] sincerevertigo commented on #26156
@ceci3
self.G_optim = paddle.optimizer.AdamOptimizer(learning_rate=self.lr, beta1=0.5, beta2=0.999, parameter_list=(self.genA2B.parameters(), self.genB2A.parameters()), regularization=paddle.fluid.regularizer.L2Decay(regularization_coeff=self.weight_decay))
通过上面代码设置了， L2Decay。

运行的时候，报如下错误。
<img width="1035" alt="image" src="https://user-images.githubusercontent.com/37995641/89977294-6161d880-dc9d

[2020-08-12 05:36] weiexcelpro commented on #26170
刚才有人提到类似的问题. 首先需要保证的确是CUDA9的Paddle, 因为AIStudio当前是CUDA 9 而且很难升级到CUDA 10.

其次当前cuDNN安装上可能有问题, 最新的dev Paddle运行时会抛cuDNN异常. 这个还在检查.

[2020-08-12 05:42] liuxianyi commented on #26109
2.0好像gpu版本不匹配，你可以跑通吗？

[2020-08-12 06:04] ForFishes commented on #26153
确实文档有问题，index的rank应该为1。近期没有和pytorch、tf对齐计划。文档我提个pr修复一下。

[2020-08-12 06:05] fociceo opened #26187 "树莓派4编译安装时，string_helper.h报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：v1.8.4
    2）CPU：请提供CPU型号，OpenBlas，a
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：ubuntu20 树莓派4  python：3.8.4
- 安装方式信息：本地编译

- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
执行的cmake命令：
`cmake ..  -DCMAKE_BUILD_TY

[2020-08-12 06:26] sincerevertigo commented on #26155
@ceci3
通过cv2读入了一张图片，jpg形式的。
cv2.imread(path)

然后，进行变换的时候，报了下面的错。
是有什么设置不够吗？
谢谢。

training start !
fail to perform transform [<paddle.incubate.hapi.vision.transforms.transforms.Normalize object at 0x13a3dc090>] with error: operands could not be broadcast together with shapes (286,286,3) (3,1,1)  and stack:
Traceback (most recent call last):
  File "/Users/q3-wang/opt/anaconda3/lib/python3.7/site-pa

[2020-08-12 06:27] ceci3 commented on #26156
https://github.com/PaddlePaddle/models/blob/1bf7264771fb30b588c426e9c153f9b643256971/dygraph/mobilenet/utils/optimizer.py#L175 参考这里的用法，是不是哪里参数类型设置的不对

[2020-08-12 06:27] ceci3 commented on #26155
h error: operands could not be broadcast together with shapes (286,286,3) (3,1,1)  你这个shape不对吧

[2020-08-12 06:32] sincerevertigo commented on #26155
@ceci3

我就是读了一张图片，然后就给了transforms，进行变换。
cv2.imread(path)
之后还需要调整什么吗？
我看文档上似乎也没做什么调整。

![image](https://user-images.githubusercontent.com/37995641/89982514-7c861580-dca8-11ea-9391-576699ae6be0.png)

[2020-08-12 06:44] sincerevertigo commented on #26155
@ceci3
感觉是参数的问题。
我试验了官方的代码，可以通过。

[2020-08-12 06:53] luotao1 commented on #25537
Discussed with @phlrain, it is not reasonable that two different pool2d ops are using different data_format. @phlrain and @wanghuancoder will help see the training logical at first.

Thanks for the analysis of @jczaja!

[2020-08-12 06:57] sincerevertigo commented on #26155
@ceci3

测试结果
train_transform = transforms.Compose([
            transforms.RandomHorizontalFlip(),
            transforms.Resize(size=(self.img_size + 30))
        ])
这两个是可以的。正常变换。

train_transform = transforms.Compose([
            transforms.RandomHorizontalFlip(),
            transforms.Resize(size=(self.img_size + 30)),
            transforms.Normalize(mean=(0.5, 0.5, 0.5), std=(0.5, 0.5, 0.5)

[2020-08-12 07:03] ceci3 commented on #26155
https://github.com/PaddlePaddle/PaddleGAN/blob/master/ppgan/datasets/base_dataset.py#L95 可以参考下示例代码的写法

[2020-08-12 07:03] seiriosPlus commented on #26151
是单机训练吗

[2020-08-12 07:12] xjhcassy opened #26189 "<<论文复现>>hapi只能在2.0版下使用，而复现需要的learning_rate_scheduler只有在1.8.3版本下"
复现需要的hapi只能在2.0版下使用，而复现需要的learning_rate_scheduler只有在1.8.3版本下，请解决一下

[2020-08-12 07:22] liuxianyi opened #26190 "【论文复现】动图下如何实现网络中权值（parameter） 裁剪"
paddle1.8

[2020-08-12 07:30] ameyais commented on #26151
不是单机，是多机训练

[2020-08-12 08:02] liuxianyi opened #26192 "【论文复现】报错：E0812 15:47:47.699955 8978 elementwise_op_function.h:1068] Error, broadcast should not into w broadcast"

[2020-08-12 08:09] Rookieaura opened #26193 "【论文复现】paddle中是否有attributes对tensor（VarBase）直接操作？"
在pytorch中，可以用attributes对tensor 很方便的进行操作，比如 tensor.size(), tensor.topk() 之类的。请问在paddle中也有类似的方法吗？否则每次都得调用函数并接收，会比较麻烦。

[2020-08-12 08:22] seiriosPlus commented on #26151
1. 如果是多机的CPU训练， 即使用ParameterServer的场景：
多机训练的场景下， moment这些和优化器相关的参数不在当前节点存在或当前节点仅存在一个初始的值，不参与模型的训练与给嗯行。

多机的数据并行模式会将优化相关的计算图拆分至远端， 因此训练节点在训练过程中无法从当前节点获取到正确的优化器相关的参数。

模型在保存时，会主动从远端拉取最新的参数，保存下来。

如果需要在训练过程中获取这些参数：
1. 多保存（当前可以简单应用的方案）
2. 自行组网从远端拉取相应的参数(使用难度较大)

2.如果是多机的GPU训练， 即使用Collective的场景：
理论上每个节点上是可以取到正确的参数的， 如果是此情况，我们需要具体看一下是否有配置错误.

[2020-08-12 08:27] OxInsky opened #26196 "【论文复现】请问paddle中是否存在与pytorch中类似功能的nn.ModuleList函数?"
self.down_blocks = nn.ModuleList(down_blocks)
       down_blocks是一个list 包含了我网络中所有的结构，我需要对这个网络进行forward() ，请问是否有接口完成！

[2020-08-12 08:30] OxInsky commented on #26193
这个问题我也存在疑问，为什么在tensor上操作都要使用层来完成一些基本的操作，这是为了把网络所有的操作都变化为层的思想来设计的么？

[2020-08-12 08:39] OxInsky opened #26197 "【论文复现】文档错误"
interpolate
![image](https://user-images.githubusercontent.com/20855315/89994156-4f426300-dcba-11ea-8a0b-f1c6842214a4.png)

[2020-08-12 08:42] OxInsky opened #26199 "【论文复现】动态图里面是否可以声明fluid.layer下面的函数！"
我在找寻接口的时候发现很多函数都在fluid.layer下面，请问是否可以在动态图的模式下定义静态图中的层呢？速度是否会变慢，这个我自己可以验证，但是还是想请教下专业的回答！

[2020-08-12 08:50] sunjie97 opened #26201 "【论文复现】随机种子"
paddle1.8动态图如何设置随机种子，使每次生成结果固定

[2020-08-12 08:59] kgkzhiwen opened #26202 "【论文复现】Aistudio中如何使用Visual DL可视化?"
在aistudio中用VisualDL的LogWriter记录训练过程日志后，怎么样连接让日志可视化？

[2020-08-12 09:12] ameyais commented on #26151
嗯是第一种情况，多机cpu训练
了解了，谢谢解答

[2020-08-12 09:12] #26151 closed, assigned to seiriosPlus

[2020-08-12 09:21] minghuisvn opened #26205 "[论文复现]定义模型类，为什么初始化时传入了 name_scope (def __init__(self, name_scope, ...)?"
构建模型类的代码，在初始化def __init__(self, name_scope, ... )时为什么要传入name_scope，它是什么，是否可以省略？

[2020-08-12 09:40] StarryDing opened #26207 "用paddlepaddle1.5搭建多输入的cnn网络 在网络结构图里看不到第二个输入"
#定义网络
import paddle.fluid as fluid

def cnn_model(image, mode):
    print(image)
    conv1 = fluid.layers.conv2d(input=image, num_filters=32, filter_size=5, stride=2, act='relu')
    conv2 = fluid.layers.conv2d(input=conv1, num_filters=32, filter_size=5, stride=2)
    bn0 = fluid.layers.batch_norm(input=conv2,act='relu')
    conv3 = fluid.layers.conv2d(input=bn0, num_filters=64, filter_size=5, str

[2020-08-12 10:56] dbsxdbsx commented on #26165
@ceci3  ,当输入的mean std的shape是[8,1]时的具体的错误：
[code]
最后返回的结果我打印了下：
[code]

相关官方示例：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Normal_cn.html

[2020-08-12 11:02] adaxiadaxi commented on #26117
可以加入飞桨qq群咨询沟通：1108045677 @zhijia3278

[2020-08-12 11:04] wumeng2 commented on #26099
在jetpack4.3上编译时，出现error: base class ‘class nvinfer1::IPluginFactory’ has accessible non-virtual destructor [-Werror=non-virtual-dtor]
 class PluginFactoryTensorRT : public nvinfer1::IPluginFactory,
但是在NvInfer.h头文件里没有看到class IPluginFactory这个类，改怎么解决，谢谢

[2020-08-12 11:32] kgkzhiwen commented on #26207
请问你是用什么软件实现网络可视化？

[2020-08-12 11:38] StarryDing commented on #26207
@kgkzhiwen 用的Netron
不光是看不到第二个输入 关键是我用paddle_mobile部署的时候好像就没有第二个输入的接口....

[2020-08-12 12:03] kgkzhiwen opened #26211 "【论文复现】core_avx.VarBase 如何reshape"
请问core_avx.VarBase 如何reshape？以下代码出错：

`
out=adaptive_pool3d(out, pool_size=(1,1,1),pool_type='avg')

out = self.classifier(out.reshape(features.size(0), -1))
`

**AttributeError: 'paddle.fluid.core_avx.VarBase' object has no attribute 'reshape'**

[2020-08-12 12:10] kgkzhiwen commented on #26211
搞定了。不好意思，麻烦各位了。

[2020-08-12 12:10] #26211 closed, assigned to nobody

[2020-08-12 12:34] xjhcassy opened #26212 "<<论文复现>>1.8.3中paddle的hapi中没有functional，请尽快加上去"
1.8.3中paddle的hapi中没有functional，请尽快加上去

[2020-08-12 12:41] OxInsky commented on #26168
能不能再基础的系统环境中利用conda创建一个env，在env里用conda安装cuda10.0 和cudnn，这个操作我试过，好像可以，cuda就相当于一个编译好的库，可以直接调用！

[2020-08-12 12:43] zzz2010 opened #26214 "【论文复现】DataLoader 中的collate_fn 无效"
Hi,  我看了1.8 和 2.0 版本的 DataLoader , collate_fn 赋值后根本没有被调用， 所以user 无法提供自定义的collate_fn，
应该是一个bug

https://github.com/PaddlePaddle/Paddle/blob/dea41da715828ee20476d5f85a6cf4fd24ce6e1b/python/paddle/fluid/reader.py#L322

[2020-08-12 12:53] zzz2010 commented on #26214
我错了， 其实是有用的， 因为后面把整个self object 传到 _DataLoaderIterSingleProcess/_DataLoaderIterMultiProcess

[2020-08-12 12:53] #26214 closed, assigned to nobody

[2020-08-12 13:57] chunfeng0301 opened #26219 "【论文复现】paddle如何定义可训练的数组"
img_grad = nn.Parameter(torch.FloatTensor([[[[-0.5,0,0.5]]]]).repeat(32,32,1,1))
如上用paddle如何实现
f_grad = (np.array([[[[-0.5,0,0.5]]]]).astype("float32").repeat(32**2,1))#fluid.layers.create_parameter

f_grad2 =  fluid.dygraph.to_variable(f_grad)报如下错误

 "We Only support %s in Dygraph mode, please use fluid.dygraph.guard() as context to run it in Dygraph Mode" % func.__name__
AssertionError: We Only

[2020-08-12 14:08] sunxl1988 commented on #26219
可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Tensor_cn.html#tensor
动态图是需要fluid.dygraph.guard()

[2020-08-12 14:09] saxon-zh commented on #26202
可以发邮件到邮箱 aistudio@baidu.com 或加入官方QQ群 305197519 咨询一下。

[2020-08-12 14:09] #26202 closed, assigned to nobody

[2020-08-12 14:09] sunxl1988 commented on #26212
收到

[2020-08-12 14:11] sunxl1988 commented on #26205
name_scope，是对变量进行命名，如果不传入，框架会自动明显命名

[2020-08-12 14:13] sunxl1988 commented on #26201
运行脚本种加入这两行
random.seed(0)
np.random.seed(0)

[2020-08-12 14:14] sunxl1988 commented on #26199
可与调用fluid.layers下的api，不需要进行init，类似于pytorch的func下api

[2020-08-12 14:15] sunxl1988 commented on #26197
收到

[2020-08-12 14:16] sunxl1988 commented on #26196
参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Sequential_cn.html#sequential

[2020-08-12 14:17] sunxl1988 commented on #26192
请具体说明一下你的问题

[2020-08-12 14:19] sunxl1988 commented on #26190
参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/clip_cn/GradientClipByGlobalNorm_cn.html#gradientclipbyglobalnorm

[2020-08-12 14:20] sunxl1988 commented on #26189
learning_rate_scheduler，你的scheduler有什么不同吗？请具体描述下

[2020-08-12 14:23] sunxl1988 commented on #26176
你是怎么安装的？
编译安装开启-DWITH_DISTRIBUTE=ON，pip安装找对应的dist版本

[2020-08-12 14:24] sunxl1988 commented on #26175
resume训练时，一般情况要调整学习率的，可以多做几组实验

[2020-08-12 14:25] saxon-zh commented on #26212
@xjhcassy 高层API目前在1.8.x版本中是没有的，当前是可以通过2.0-alpha或develop版本来使用下，后面会随着2.0版本正式发布。

[2020-08-12 14:30] liuxianyi commented on #26192
![image](https://user-images.githubusercontent.com/33951338/90027463-27b7be80-dceb-11ea-9814-2a6c4a4d4087.png)
这个是日志信息，应该是layers.elementwise_xxx 不能后向传播权重w，求解？？

[2020-08-12 14:32] FDInSky commented on #26187
操作系统是Ubuntu吗？如果是，先参考https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/install/compile/compile_Ubuntu.html配置一下环境

[2020-08-12 14:32] FDInSky commented on #26174
请具体描述你的使用场景

[2020-08-12 14:49] zzz2010 commented on #26174
具体场景就是starGAN v2 中：
https://github.com/clovaai/stargan-v2/blob/2a74f3dcd7ad3d1f7f018e7d97bd7622787acc16/core/model.py#L287

def build_model(args):
    generator = Generator(args.img_size, args.style_dim, w_hpf=args.w_hpf)
    mapping_network = MappingNetwork(args.latent_dim, args.style_dim, args.num_domains)
    style_encoder = StyleEncoder(args.img_size, args.style_dim, args.num_domains)
    disc

[2020-08-12 14:58] saxon-zh commented on #26193
是的，相关API会简化使用操作，目前版本还没有这种使用方式，需求已经进入需求池内，我们跟进一下做排期计划。

[2020-08-12 14:58] chunfeng0301 commented on #26219
t=fluid.Tensor()

aaa = np.array([[[[-0.5,0,0.5]]]]).astype("float32").repeat(32**2,1)
aaa = np.reshape(aaa,[32,32,1,3])
t.set(aaa,fluid.CPUPlace())
这样t 就和  img_grad = nn.Parameter(torch.FloatTensor([[[[-0.5,0,0.5]]]]).repeat(32,32,1,1))中的img_grad 等价了么?

[2020-08-12 14:59] chunfeng0301 commented on #26219
t=fluid.Tensor()

aaa = np.array([[[[-0.5,0,0.5]]]]).astype("float32").repeat(32**2,1)
aaa = np.reshape(aaa,[32,32,1,3])
t.set(aaa,fluid.CPUPlace())
这样t 就和 img_grad = nn.Parameter(torch.FloatTensor([[[[-0.5,0,0.5]]]]).repeat(32,32,1,1))中的img_grad 等价了么?

[2020-08-12 15:19] chunfeng0301 commented on #26157
如何讲一个定义好的ndarray变成paddle可学习参数呢，如下面：
t=fluid.Tensor()
aaa = np.array([[[[-0.5,0,0.5]]]]).astype("float32").repeat(32**2,1)
aaa = np.reshape(aaa,[32,32,1,3])
t.set(aaa,fluid.CPUPlace())

如何将t变成layer中可学习参数

[2020-08-12 15:54] chunfeng0301 commented on #26219
fluid.dygraph.to_variable(xxx) 报如下错误
AttributeError: module 'paddle.fluid.dygraph' has no attribute 'to_variablet'

[2020-08-12 16:11] sincerevertigo commented on #26139
@ceci3 @LielinJiang
坐等。。。

[2020-08-12 16:17] sincerevertigo opened #26223 "【论文复现】UGATIT 关于expand"
pytroch 源码
self.rho.expand(input.shape[0], -1, -1, -1)

paddle
rho_expand = paddle.tensor.expand(self.rho, (input.shape[0], 1, 1, 1))

确认一下，paddle的参数是不支持负数的，这里是不是就得用[1]了？

谢谢。

[2020-08-12 16:20] sincerevertigo commented on #26155
多谢，提供代码。
找到问题了。

ToTensor paddle的Transforms里面没有，
需要加入下面这个。
transforms.Permute(to_rgb=True),
然后，shape就对上了。

谢谢。

[2020-08-12 16:20] #26155 closed, assigned to nobody

[2020-08-12 16:33] sincerevertigo commented on #26156
@ceci3
pytroch 源码
itertools.chain(self.genA2B.parameters(), self.genB2A.parameters())

在paddle里，如何在一个优化器中设置多个网络参数？
parameter_list=fluid.io.chain(self.genA2B.parameters(), self.genB2A.parameters())
用了上面的方法，还是报错。

<img width="846" alt="image" src="https://user-images.githubusercontent.com/37995641/90041951-96514800-dcfc-11ea-9358-838411bc49e4.png">

[2020-08-12 21:45] #26193 closed, assigned to nobody

[2020-08-12 21:45] #26066 closed, assigned to nobody

[2020-08-12 22:16] oytang commented on #26223
torch中-1的维度代表不进行expand，而paddle中为1的维度不进行expand

[2020-08-12 22:49] cryoco commented on #26099
TRT的一些头文件中缺少虚析构函数，需要手动添加；如果不在NvInfer.h中，可能在NvInferRuntime.h中。
参考[这里](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/inference_improving/paddle_tensorrt_infer.html#paddle-tensorrt)的方式在对应的类中添加虚析构函数：
![image](https://user-images.githubusercontent.com/12407750/90075888-10032900-dd31-11ea-9288-9bae5963c0c1.png)

[2020-08-12 23:34] sincerevertigo commented on #26223
@Chemino
谢谢。

[2020-08-12 23:34] #26223 closed, assigned to nobody

[2020-08-13 00:39] yeyupiaoling commented on #25996
本来batch为16可以训练的，但是稍微用大一点的数据集还是会出现显存不足，这是什么道理。batch size再小，loss就是nan了

[2020-08-13 00:39] liuxianyi commented on #26139
按照你的方式，如果是对Conv2D 进行spectral_norm，会报错
![image](https://user-images.githubusercontent.com/33951338/90081592-501dd800-dd40-11ea-85d7-6aa131581c41.png)
这是我的代码：
[code]
是不是需要在matmul上面加一个reshape啊

[2020-08-13 01:12] flishwang commented on #25966
今天又崩溃退出了，报了另一个错：
2020-08-12 22:24:51,236-INFO: set max batches to 0
2020-08-12 22:24:51,237-INFO: places would be ommited when DataLoader is not iterable
W0812 22:24:51.457595 58764 device_context.cc:252] Please NOTE: device: 3, CUDA Capability: 70, Driver API Version: 10.1, Runtime API Version: 10.0
W0812 22:24:51.462311 58764 device_context.cc:260] device: 3, cuDNN Version: 7.6.
W0812 22:25:10.6

[2020-08-13 01:13] #25686 closed, assigned to ceci3

[2020-08-13 01:21] weiexcelpro commented on #26141
这个是跑什么代码出现的, 我们现在已经开始动手了. 但需要一个验证是否升级成功的脚本或代码sample

[2020-08-13 01:37] deep-practice opened #26225 "【论文复现】加载保存的模型出错"
假设定义的网络模型为model = Model()
保存
fluid.save_dygraph(model.state_dict(),"model")
加载
param = fluid.load_dygraph("model")
model.set_dict(param)
加载过程中报错，说某个fc_weight没有

[2020-08-13 01:45] liuxianyi commented on #26109
![image](https://user-images.githubusercontent.com/33951338/90085009-78f69b00-dd49-11ea-95da-56fa1b43dad1.png)
@ @sandyhouse 这是我按照你的方法写的，但是会出现w权值不能传播的情况？？求解？
![image](https://user-images.githubusercontent.com/33951338/90085068-a6434900-dd49-11ea-98a8-9a9183b6a1c7.png)

[2020-08-13 01:49] daiyuanm commented on #26176
我是用的pip安装： pip install paddlepaddle-gpu

[2020-08-13 01:50] daiyuanm commented on #26176
我用的PIP安装： pip install paddlepaddle-gpu

[2020-08-13 01:52] yeyupiaoling commented on #25996
应该是音频长度的问题

[2020-08-13 01:52] #25996 closed, assigned to nobody

[2020-08-13 01:59] litinghh opened #26227 "多卡训练 PaddleOCR rec模型 Failed to find dynamic library: libnccl.so"
- 环境：
paddlepaddle-gpu=1.8.1.post97
CentOS Linux release 7.5.1804
python3.6.5
gpu型号：NVIDIA TESLA PH402 32GB with Two P100 Chips Equivalent to Two P100 Graphics Card

- 训练信息
多卡 export CUDA_VISIBLE_DEVICES=0,1
显卡状态
![image](https://user-images.githubusercontent.com/10701710/90085714-3d5cd080-dd4b-11ea-8cb7-19dedd21ddfe.png)

PaddleOCR训练命令 python tools/train.py -c configs/rec/****.yml

- 复现步骤
export

[2020-08-13 02:03] yeguang1991 commented on #26175
学习率怎么调整

[2020-08-13 02:05] litinghh commented on #26227
cuda环境：export LD_LIBRARY_PATH=/usr/local/cuda-9.0/lib64

[2020-08-13 02:11] sandyhouse commented on #26109
计算in_mean1 = fluid.layers.reduce_mean这个地方，keep_dim是不是应该为True @liuxianyi

[2020-08-13 02:25] yuctian commented on #26070
def forward_grad(self, x):
        grad_x = F.conv2d(F.pad(x, (0,0,0,1)), self.f_grad)#, groups=self.channels)
        grad_x[:,:,-1,:] = 0

        grad_y = F.conv2d(F.pad(x, (0,0,0,1)), self.f_grad2)#, groups=self.channels)
        grad_y[:,:,-1,:] = 0
        return grad_x, grad_y
这是在pytorch的代码，要实现这样的功能

[2020-08-13 02:34] liuxianyi commented on #26109
设置为Ture还是会出现w无法传播的错误信息啊

[2020-08-13 02:34] fociceo commented on #26187
环境新装了swig，但是编译后还是报一样的错误。

[2020-08-13 02:37] sandyhouse commented on #26109
给个完整的可复现代码吧

[2020-08-13 02:41] huochf commented on #26139
@liuxianyi Linear用matmul，Conv2D使用fluid.nn.functional.conv.conv2d(inputs, weights)

[2020-08-13 02:49] sincerevertigo opened #26229 "【论文复现】UGATIT 关于spectral_norm"
Paddle 2.0

pytroch源码
![image](https://user-images.githubusercontent.com/37995641/90088516-b4956300-dd51-11ea-91e7-937bc1bd5434.png)

paddle
不支持直接带入Layer

看了几个issue
现在试着进行了如下实现。

[code]

如上实现是否可以。

[2020-08-13 02:50] wuyi1405 opened #26230 "【论文复现】GAN综述-实践作业版本保存问题和视频分类综述－实践作业程序丢失问题"
1.GAN综述-实践作业版本保存问题：
之前跑完程序后，点保存，停止程序，忘记关notebook页面。再关闭，提示保存，点击保存后。会出现保存2个同名版本。导致提交作业内容显示“Notebook内容过多，无法预览”。重新启动版本，再运行保存后会提示保存2次，即使点击保存一次，也会显示“Notebook内容过多，无法预览”，把版本的名字改了成不同的也没用，会提示一个版本没有同步，另外一个版本可以运行，但是运行后保存也是保存2次。这种情况没法提交作业。
https://aistudio.baidu.com/bdcpu5/user/303001/676465/notebooks/676465.ipynb
![问题1](https://user-images.githubusercontent.com/25198497/90088255-173a2f00-dd51-11ea-9d66-0939e6

[2020-08-13 03:06] jerrywgz commented on #25966
想确认下你在单卡单batch的情况下预测也是会随机出现这种问题吗？

[2020-08-13 03:07] jerrywgz commented on #25966
能否使用docker配置环境？

[2020-08-13 03:22] saxon-zh commented on #26230
您好，可以将问题反馈至AIStudio邮箱: aistudio@baidu.com或加入AIStudio官方QQ群: 305197519咨询。

[2020-08-13 03:34] sandyhouse commented on #26070
用set_value的话确实影响梯度回传。

另外，如果要实现
[code]
这段代码的话，paddle动态图目前不支持类似grad_y[:,:,-1:]=0这种赋值方式，提供下面的思路供参考。
[code]

[2020-08-13 04:09] deep-practice commented on #26139
@LielinJiang 正确做法到底是啥？

[2020-08-13 04:18] leeacord opened #26232 "【论文复现】dygraph.BatchNorm遇到Cudnn error"
- 版本、环境信息：
 1. PaddlePaddle版本：paddlepaddle_gpu==2.0.0a0
 2. 系统环境：aistudio (python3.7, paddlepaddle1.8.0)
- 为使用矩阵求逆，参考#26123 升级为paddlepaddle_gpu==2.0.0a0，但在CUDA上fluid.dygraph.BatchNorm的forawrd部分遇到Cudnn error, CUDNN_STATUS_BAD_PARAM.
- 根据#25700 可能为~~cuda~~cudnn版本问题.
[code]
复现代码:
[code]
错误出现在BatchNorm的forward部分
[code]

[2020-08-13 04:31] deep-practice commented on #26141
跑什么代码都一样哈，只要是通过pip install -U paddlepaddle-gpu升级到1.8.3，默认是1.8.0的环境
rsion: 10.0
W0813 12:29:52.090279   435 device_context.cc:260] device: 0, cuDNN Version: 7.3.
W0813 12:29:53.316025   435 device_context.h:155] WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.3, which may cause serious incompatible bug. Please recompile or reinstall Paddle

[2020-08-13 04:34] liuxianyi commented on #26109
https://github.com/PaddlePaddle/Paddle/issues/25141#issue-642053156
我的情况和这个大哥一样，你们给的回答是在1.8.2bug修复了，但是现在使用不了1.8.2,会报错cudnn需要升级，求解答？，谢谢！

[2020-08-13 04:47] jeng1220 opened #26234 "hope to support "out of source build""
**System information**
* PaddlePaddle version: 838e36e9eda2354f3919a596ffd7aa18df99c6d2, the latest develop branch

**To Reproduce**
assume the file structure is:
[code]
then type
[code]
The above instructions will create a build folder beside Paddle instead of inside Paddle folder to build Paddle library.
[code]
It is called `out of source build`. The `out of source build` can give people many ad

[2020-08-13 04:53] yuctian commented on #26070
谢谢，方法可行

[2020-08-13 04:57] flishwang commented on #25966
刚才用TITAN RTX单卡跑了10+次，只有第一次出现cudnnGetConvolutionForwardAlgorithm_v7报错。

可以，我直接docker pull paddlepaddle/paddle:1.8.3-gpu-cuda10.0-cudnn7 试试。

[2020-08-13 05:23] jerrywgz commented on #25966
嗯，使用docker环境再确认下吧，我们这边也好定位。之前本地都没有复现过这种错误

[2020-08-13 06:31] maomaoyuchengzi commented on #22680
您好，请教下，paddle中怎样把前向计算的图片计算的中间层结果拿出来，可以直接查看参数的大小变化；我使用了以下操作：
 split_output_names = ['conv_last_weights']
        student_var = []
        for name in split_output_names:
            student_var.append(fluid.default_main_program().global_block().var(name))
但我无法看到中间的数值结果，我想直接看到中间数值变化；

[2020-08-13 07:06] pangyoki commented on #26165
麻烦给一下具体代码，是改了示例代码的mean std的shape吗？

[2020-08-13 07:33] FDInSky commented on #26219
to_variable， 不是to_variablet， 名字写错了

[2020-08-13 07:37] FDInSky commented on #26192
你的代码是怎么写的？

[2020-08-13 07:40] FDInSky commented on #26176
export CUDA_VISIBLE_DEVICES=... 你的这个环境变量怎么设置的？

[2020-08-13 07:42] FDInSky commented on #26174
你可以在声明一个Generator，generator_ema = Generator(args.img_size, args.style_dim, w_hpf=args.w_hpf)

[2020-08-13 07:54] liuxianyi commented on #26192
[code]

[code]
代码太多，不好发过来，我觉得是这部分有问题。我只要把网络的这一部分去掉就不会报错？？但是我找不打哪里有问题

[2020-08-13 07:54] liuxianyi commented on #26192
@FDInSky

[2020-08-13 08:36] #26201 closed, assigned to nobody

[2020-08-13 09:10] sincerevertigo opened #26250 "【论文复现】UGATIT AIStudio paddle2.0alpha 1.8.3 1.8.4 Cudnn error (使用的都是gpu,cuda9,cudnn7 )"
在AIStudio
通过
python3 -m pip install paddlepaddle-gpu==2.0.0a0 -i https://mirror.baidu.com/pypi/simple
进行了paddle 2.0 的安装。

运行代码是，先是出了警告。
`WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.3, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version.
training start !`

然后，经过了几个方法之后，出了。（这些方法在m

[2020-08-13 09:16] yeguang1991 opened #26251 "PALM训练的模型怎么调整大小"
一个模型1.2G，占用显存1.3G，请问怎么可以调整模型大小，优化模型大小和显存占用，减少资源消耗

[2020-08-13 09:17] JimReacher opened #26252 "Input(X) and Input(Label) shall have the same shape，cross_entropy2 error"
def infer(image_path):
    tensor_img = read_image(image_path)
    label = exe.run(inference_program, feed={feed_target_names[0]: tensor_img}, fetch_list=fetch_targets)
    return np.argmax(label)
训练完模型出现以下错误，请问是怎么回事？
----------------------
Error Message Summary:
----------------------
Error: ShapeError: Input(X) and Input(Label) shall have the same shape except the last dimension. But received: t

[2020-08-13 09:31] liuxianyi commented on #26139
你的环境是2.0的吗，1.8.0没这个函数fluid.nn.functional.conv.conv2d(inputs, weights)

[2020-08-13 09:33] huochf commented on #26139
https://github.com/PaddlePaddle/Paddle/issues/26081#issue-675845774
参考这个，使用开发版，paddle1.8确实没这个函数。

[2020-08-13 09:37] liuxianyi commented on #26139
dev版本有，但是dev版不能跑GPU啊，你aistudio不会报错 cudnn incompatiable bug？

[2020-08-13 09:40] huochf commented on #26139
那。。会有一个办法，使用静态图，
def conv2d_spectral_norm(input,
                         num_filters=64,
                         filter_size=7,
                         stride=1,
                         stddev=0.02,
                         padding=0,
                         name="conv2d_spectral_norm",
                         norm=None,
                         activation_fn=None,
                         r

[2020-08-13 09:41] huochf commented on #26139
[code]

[2020-08-13 10:19] adaxiadaxi commented on #26207
@StarryDing 可以先用VDL试试可视化效果：https://github.com/PaddlePaddle/VisualDL

[2020-08-13 10:22] StarryDing commented on #26207
@adaxiadaxi
![image](https://user-images.githubusercontent.com/53610587/90123716-de6e7a00-dd91-11ea-957b-6d889b142c4e.png)
visualdl可视化也是这样....

[2020-08-13 10:35] adaxiadaxi commented on #26187
@fociceo o 同学你好，树莓派4上即使编译装了paddle也没法训练啊，太慢了，建议您这边直接使用paddlelite哦：https://github.com/PaddlePaddle/Paddle-Lite

[2020-08-13 10:36] leeacord commented on #26232
relates to #26250 #26170 #26168 #26167
问题基本一致，暂时关闭

[2020-08-13 10:36] #26232 closed, assigned to nobody

[2020-08-13 10:49] sincerevertigo commented on #26157
@ceci3
![image](https://user-images.githubusercontent.com/37995641/90125924-686c1200-dd95-11ea-8392-b18764c73975.png)
Parameter的定义，用了如下方式。
`self.rho = paddle.framework.create_parameter(shape=(1, num_features, 1, 1), dtype='float32')
        self.gamma = paddle.framework.create_parameter(shape=(1, num_features, 1, 1), dtype='float32')
        self.beta = paddle.framework.create_parameter(shape=(1,

[2020-08-13 11:02] JixuH opened #26255 "exe.run出现错误 received input_data_type:6 != filter_data_type:5."
创建program时网络变量输出正常，exe.run时输入的数据时float32

![image](https://user-images.githubusercontent.com/48123846/90126848-e0870780-dd96-11ea-8b28-3ee19e261458.png)

全部报错信息：
[code]

[2020-08-13 11:45] StarryDing commented on #26207
@adaxiadaxi 话说定义网络的输入是有什么api需要调用么？刚接触paddlepaddle不是太熟悉.....我这么定义的网络训练的时候也都能跑通 然后部署的时候咋也不行 然后查看了下结构发现有问题....

[2020-08-13 11:57] ddokupil opened #26256 "Can't build Paddle on Ubuntu 18.04 - warnings are being treated as errors"
When trying to build paddle on Ubuntu 18.04 with gcc 7.5 make terminates due to -Werrors. Relevant part of logs pasted below. Full log attached.

/repos/paddle_paddle/paddle/fluid/operators/op_debug_string_test.cc:42:35: required from here /repos/paddle_paddle/build/third_party/boost/src/extern_boost/boost/variant/variant.hpp:1294:38: error: the compiler can assume that the address of 'operand' wi

[2020-08-13 12:01] ddokupil commented on #26256
Please treat with priority as this issue blocks improvements on our validation process.

[2020-08-13 13:07] zzz2010 opened #26259 "【论文复现】如何用数组作为tensor/VarBase 的indices"
例如：
    import numpy as np
    with fluid.dygraph.guard(place=place):
        print(fluid.layers.randn([16])[fluid.core.VarBase(np.array([1,3]) ) ])

 Currently, VarBase.__getitem__() only allows indexing by Integers, Slices, and tuples of these types, but received paddle.fluid.core_avx.VarBase in 1th slice item

torch 是支持torch.Long array 索引的， 请问paddle 有类似的吗？
谢谢

[2020-08-13 13:21] luotao1 commented on #26256
Since we could not support all different compiler environment, could you use docker to build? You can use `hub.baidubce.com/paddlepaddle/paddle:latest-dev`, which is our official develop docker environment. Please see [local_dev_guide_en.md](https://github.com/PaddlePaddle/FluidDoc/blob/39ca4440eb498d13985704d9287ce21b2d443065/doc/fluid/advanced_guide/addon_development/contribute_code/local_dev_gu

[2020-08-13 14:09] dbsxdbsx commented on #26165
@pangyoki ,您好感谢回复。我将官方示例改了下，测试了几种情况，后2种情况无法测试通过:
[code]
另外，关于分布这里，希望能在2.0版里把相关分布的一些常用函数都补齐---可参考pytorch相关实现，相关issue#25607。

[2020-08-13 14:25] xjhcassy opened #26260 "<<论文复现>>转换预训练模型"
在转换pytorch预训练模型时，本地安装paddle再安装pytorch会报错， 是否两者之间存在冲突？
ERROR: Command errored out with exit status 1: 'E:\miniconda3\envs\paddle\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\ygscu\\AppData\\Local\\Temp\\pip-install-xa554uf7\\torch\\setup.py'"'"'; __file__='"'"'C:\\Users\\ygscu\\AppData\\Local\\Temp\\pip-install-xa554uf7\\torch\\setup.py'"'"';f=getattr(tokenize,

[2020-08-13 14:29] D-DanielYang commented on #26097
https://www.paddlepaddle.org.cn/install/quick
可以对照着这个一步步看下，是不是都满足需求
![image](https://user-images.githubusercontent.com/23690325/90147219-8ac15800-ddb4-11ea-8938-ae414a4c43a8.png)

[2020-08-13 16:54] Shixiaowei02 commented on #26225
您好，请提供具体报错信息和必要的复现环境，谢谢！

[2020-08-13 16:55] DrRyanHuang opened #26262 "【论文复现】在Paddlepaddle的IN中，没有像Pytorch中IN的momentum部分"
RD您好！
在`torch.nn.InstanceNorm2d`中，有实现momentum部分
在Paddle的`instance_norm`或者`InstanceNorm` 均没有momentum部分
我查阅了文档，有关momentum的只有momentum优化器，请问在Paddle中如何实现呢？

期待您的回复！

[2020-08-13 16:56] Shixiaowei02 commented on #26259
您好，目前 Paddle 还不支持以数组作为索引值

[2020-08-13 19:38] Rookieaura opened #26263 "【论文复现】AI Studio 在data文件夹增大后无法将work文件夹生成进新版本"
进行论文复现时，解压data文件夹数据集后，data文件夹体积变大。这时Notebook及整个环境仍可以正常运行，保存在work文件夹内的文件也可以被修改。但是在修改完work文件夹中的代码文件后，在生成新版本时，无法将work文件夹添加进新版本。具体显示为，对话框内，可添加文件列表为空。关闭环境再重新进入后，work文件夹下的所有修改会丢失。

[2020-08-13 23:29] oytang commented on #26229
我做了一个与楼主类似但不一样的尝试，程序是跑通了，只是不知道功能实现是否正确，希望开发者可以帮忙看下

[code]
--------------------------------------
更正，后来发现程序并未跑通，在赋值给`self.weight`时进行了报错
[code]
说明spectral norm计算给出的结果只是一个普通张量，有什么把Tensor转化为Parameter的方法吗？

[2020-08-13 23:33] Chemino commented on #26139
我通过新建`fluid.dygraph.Conv2D`的子类，尝试实现包裹Spectral Norm的卷积层功能：
[code]
程序经测试可以跑通，但我并不确定这样做是否真的实现了Spectral Norm的功能。欢迎大家讨论

[2020-08-13 23:48] kgkzhiwen opened #26264 "【论文复现】如何手动设置Learning Rate"
我想知道如何手动获取当前的Learning Rate.

我想知道如何手动设置当前的Learning Rate。比如当精度达到0.5，我想把它设为0.01；当精度升高到0.7，我想设为0.003；当精度升高到0.8，我想设为0.001.

[2020-08-14 00:39] fociceo commented on #26187
@adaxiadaxi  我其实不是要在pi4上训练，其实我就想在上面装一个paddleOcr，然后使用hub部署，但是提示我要用到fluid模块，然后查了一下需要安装paddlepaddle的。

[2020-08-14 00:45] deep-practice commented on #26225
项目链接：https://aistudio.baidu.com/aistudio/projectdetail/703942
python main.py --resume True
@Shixiaowei02

[2020-08-14 01:00] deep-practice commented on #26225
项目在work目录下

[2020-08-14 01:40] liuxianyi commented on #26192
在命令行模式下，以下代码会报报错，导致后向传播出现问题？求解答
## 错误日志：
![image](https://user-images.githubusercontent.com/33951338/90203007-043b6380-de12-11ea-9dd7-fb4cf4d35172.png)
## 代码
[code]

[2020-08-14 01:40] liuxianyi opened #26265 "【论文复现】在命令行模式下，以下代码会报报错 broadcast should not into w broadcast，导致后向传播出现问题？求解答"
在命令行模式下，以下代码会报报错，导致后向传播出现问题？求解答
## 错误日志：
![image](https://user-images.githubusercontent.com/33951338/90203007-043b6380-de12-11ea-9dd7-fb4cf4d35172.png)
## 代码
[code]

_Originally posted by @liuxianyi in https://github.com/PaddlePaddle/Paddle/issues/26192#issuecomment-673821904_

[2020-08-14 02:18] thrkingd commented on #26264
可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/optimizer_cn/MomentumOptimizer_cn.html

[2020-08-14 02:48] jonny4929 commented on #25922
`import paddle.fluid as fluid
import numpy
with fluid.dygraph.guard():
    f=fluid.dygraph.Conv2D(3,16,3,1,1,param_attr='cov')
    print(f.weight)
    f.weight.set_value(numpy.ones((16,3,3,3),dtype=numpy.float32))
    print(f.weight)`
用set_value()是可行的

[2020-08-14 03:06] daiyuanm commented on #26176
安装的时候也要设置这个？我在跑代码的时候会设置export CUDA_VISIBLE_DEVICES=0，代码可以正常运行

[2020-08-14 03:08] baigang666 opened #26270 "windows编译源码么，报错找不到相关文件"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4
    2）GPU：cuda-10.0，cudnn-7.6
    3）系统环境:windows 10
    4)VS版本：2019 社区版

报错：找不到相关文件：提示#include "paddle/fluid/platform/cuda_error.pb.h"   没有此文件
请大神指导一下 谢谢

[2020-08-14 03:12] lin1github opened #26272 "[Hint: CUDNN_STATUS_BAD_PARAM] at (/paddle/paddle/fluid/operators/batch_norm_op.cu:166)"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2020-08-14 03:47] pangyoki commented on #26165
你好，我测试了下，是会出现你提到的报错的情况。
原因是当mean和std是Variable时，sample函数实现过程中有一处shape有问题，我们之后会修复。
你可以试下不将mean和std转成Variable，去掉`mean = fluid.dygraph.base.to_variable(mean)`或者使用`mean.numpy()`，使用list、array等形式，看能否满足你的需求。
另外，2.0版本会补齐概率分布相关功能，谢谢。

[2020-08-14 03:49] pangyoki commented on #26165
@dbsxdbsx ，你好，我测试了下，是会出现你提到的报错的情况。
原因是当mean和std是Variable时，sample函数实现过程中有一处shape有问题，我们之后会修复。
你可以试下不将mean和std转成Variable，去掉mean = fluid.dygraph.base.to_variable(mean)或者使用mean.numpy()，使用list、array等形式，看能否满足你的需求。
另外，2.0版本会补齐概率分布相关功能，谢谢。

[2020-08-14 05:53] saxon-zh commented on #26263
AIStudio的问题辛苦发到aistudio@baidu.com问下吧，里面有平台的PM和RD来看。

[2020-08-14 05:53] #26263 closed, assigned to nobody

[2020-08-14 06:33] dancingpipi opened #26275 "train_from_dataset 如何获取tensor？"
[code]
这样我只能获得打印值，如何获得返回的tensor？ 比如类似fetch_targets

[2020-08-14 06:35] liuxianyi commented on #26272
使用版本1.8.0吧

[2020-08-14 06:50] zhhsplendid commented on #26275
嗨，请问你的意思是否是不只要fetch的打印值，而是要fetch的tensor，你接下来继续组网用？

[2020-08-14 06:55] dancingpipi commented on #26275
是的，要根据他的返回值进行一些逻辑操作~

[2020-08-14 06:59] zhhsplendid commented on #26275
这个恐怕train_from_dataset接口做不到。但是你应该已经有个组网的过程了吧？组网过程是有tensor的，可否组网过程的tensor继续用？

我的意思是，你想做的：

组网 -> train_from_dataset 还能拿到tensor -> 继续组网

我们可否改为这样做：

组网 -> 直接使用想拿的tensor继续组网 -> train_from_dataset 获取两个网络中想要的输出。

[2020-08-14 07:18] sunjie97 opened #26277 "【论文复现】分布式训练"
Paddle动态图支持分布式训练吗？AIStudio的实例好像都是基于静态图的，官方有动态图分布式训练的示例或文档吗？

[2020-08-14 07:38] zhangylch commented on #25703
你好，我安装了1.8.4版本，报错直接显示这个op不支持二阶导数了？
测试程序还是原始的测试程序，新的报错信息
Traceback (most recent call last):
  File "36.py", line 18, in <module>
    only_inputs=True,allow_unused=False)[0]
  File "</share/group-soft/anaconda/install/lib/python3.7/site-packages/decorator.py:decorator-gen-29>", line 2, in grad
  File "/share/group-soft/anaconda/install/lib/python3.7/site-packages/paddle/fluid/wrapped_decorator.py",

[2020-08-14 07:38] dancingpipi commented on #26275
可能不是这个问题，我觉得我现在的问题变成了，如何在train_from_dataset后获取某个tensor的数值

[2020-08-14 07:43] zhhsplendid commented on #26275
会在c++打印出来，但当前接口无法返回

[2020-08-14 07:44] dancingpipi commented on #26275
难受，所以想获得，只能用pyreader或者dataloader接口吗？

[2020-08-14 07:49] caikw0602 opened #26280 "【论文复现】UGATIT复现过程变量与pad2d实用问题"
问题描述：
使用paddle实现ReflectionPad2d函数：
![QQ截图20200814154658](https://user-images.githubusercontent.com/45365909/90226360-77aa9880-de45-11ea-9dad-f7f820b8b17e.png)

但运行时报错如下：
![image](https://user-images.githubusercontent.com/45365909/90226408-885b0e80-de45-11ea-8e04-3441488c870e.png)

试图加入下属代码解决问题：
![image](https://user-images.githubusercontent.com/45365909/90226489-a45eb000-de45-11ea-81f5-9845d388ae9

[2020-08-14 08:29] geekhch opened #26282 "【bug反馈】clip_by_norm函数未考虑除数为零，导致模型计算出现nan"
   1）PaddlePaddle版本：1.8
    2）CPU/GPU：GPU
    3）系统环境：dygragh

如图，经过仔细debug，发现是clip_by_norm函数中norm为0的情况下出现nan。
![image](https://user-images.githubusercontent.com/32632844/90229933-4f259d00-de4b-11ea-9c4f-34ad80f8ccc2.png)

[2020-08-14 09:16] thinkall commented on #26081
基于1.8.3版本有办法实现吗？

[2020-08-14 09:26] huochf commented on #26081
我在官方的模型库里找到关于卷积的相关操作，下面是静态图的，应该可以用于动态图，我这里代码没报错，正确性不敢保证。

`def conv2d_with_filter(input,
                       filter,
                       stride=1,
                       padding=0,
                       dilation=1,
                       groups=None,
                       bias_attr=None,
                       use_cudnn=True,
                       act=None,
                       name=Non

[2020-08-14 09:27] MoChen-bop commented on #26081
`def conv2d_with_filter(input,
                       filter,
                       stride=1,
                       padding=0,
                       dilation=1,
                       groups=None,
                       bias_attr=None,
                       use_cudnn=True,
                       act=None,
                       name=None):
    """
    Similar with conv2d, this is a convolution

[2020-08-14 09:29] huochf commented on #26081
PaddleCV/gan/network/base_network.py
https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/gan/network/base_network.py
这里又conv2d的实现和带有谱分解的conv2d

[2020-08-14 09:31] XDang13 opened #26285 "[论文复现] GAN中的SpertralNorm Op用法"
[code]

还没在GAN中测试，理论上应该是可以的。

[2020-08-14 09:32] Shixiaowei02 commented on #26225
@deep-practice 您好，我这边打开页面显示项目尚未公开

[2020-08-14 09:41] sincerevertigo opened #26286 "【论文复现】UGATIT 关于pytroch的apply"
pytroch 源码
`# clip parameter of AdaILN and ILN, applied after optimizer step
                self.genA2B.apply(self.Rho_clipper)
                self.genB2A.apply(self.Rho_clipper)`

apply在paadle里面怎么去实现？有什么可参考的资料吗？
谢谢

[2020-08-14 09:46] lin1github commented on #23061
同问，一样的问题

[2020-08-14 10:19] Shixiaowei02 commented on #26229
您好，我们这个功能目前还未支持，您的需求我们已经收到，谢谢！

[2020-08-14 12:09] #26048 closed, assigned to nobody

[2020-08-14 12:35] chunfeng0301 commented on #26219
报了一堆错误 ，主要是paddlepaddle版本不是1.8

[2020-08-14 12:46] sincerevertigo commented on #26265
@liuxianyi
我也遇到了同样的问题。
更诡异的是，你上面那段代码，放在贴在notebook里，shif回车直接执行，不报错。
但是，做成.py文件，通过!python 执行的话，就报错。。。

问题解决了吗？

[2020-08-14 12:48] thinkall commented on #26081
赞赞赞！这个给力，直接可用。比从develop版里迁移出来容易多了。

[2020-08-14 12:50] liuxianyi commented on #26265
解决不了，我觉得是paddle的layers.expend()底层有bug,现在攻城狮没来解决issue

[2020-08-14 13:21] morgan-bc commented on #26286
[code]

[2020-08-14 13:22] morgan-bc commented on #26280
[code]

[2020-08-14 13:27] morgan-bc commented on #26229
我是这样写的，跑其他任务时感觉有用，参考静态图写法 https://gitee.com/paddlepaddle/models/blob/develop/PaddleCV/gan/network/base_network.py#L400

[code]

[2020-08-14 13:43] weiexcelpro opened #26291 "[论文复现] 作业SIGSEGV unknow 不明异常Core Dumped"
Core Dumped

- 版本、环境信息：
    1）PaddlePaddle版本：1.8.0
    2）CPU：--
    3）GPU：V100, CUDA 9.2 CUDNN 7.3，
    4）Ubuntu 16. Python3

- 训练信息
    1）单机
    2）16GB

- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

![image](https://user-images.githubusercontent.com/37108001/90255561-04217f00-de77-11ea-860c-5e48cb665c55.png)

![image](https://user-images.githubusercontent.com/37108001/90255600-1

[2020-08-14 14:34] morgan-bc commented on #26192
请问这个问题解决了吗？本地1.8.3跑得没问题，aistudio1.8.0报错，但是升级1.8.3又说 cuda 版本不对？难道要自己装一个cuda?

[2020-08-14 14:35] saxon-zh commented on #26265
https://github.com/PaddlePaddle/Paddle/issues/25141  可以参考这个Issue将Paddle版本升级到1.8的最新版，今天刚发布了1.8.4

[2020-08-14 14:37] LielinJiang commented on #26229
[code]
尝试一下这样的写法把

[2020-08-14 15:39] saxon-zh commented on #26285
https://github.com/PaddlePaddle/Paddle/issues/26229#issuecomment-674106061   参见这个写法即可。

[2020-08-14 15:40] chunfeng0301 opened #26292 "【论文复现】pytorch中 .data 如何用paddle实现"
pytorch中 .data的语义是 获取 Variable 的 内部 Tensor；
论文复现中出现的 pytorch语句 v1 = torch.zeros_like(x.data)

如何用paddle实现 x.data?

[2020-08-14 15:47] saxon-zh commented on #26192
AIStudio跑1.8.3报cuda错误这个问题平台PM @weiexcelpro 在跟进。

[2020-08-14 15:50] saxon-zh commented on #26139
统一使用这个Issue提供的方案吧，https://github.com/PaddlePaddle/Paddle/issues/26229#issuecomment-674106061

[2020-08-14 16:14] oytang commented on #26229
@LielinJiang

感谢您的解答！不过这样的实现方法在paddle1.8版本中有对应的方法吗，因为AIStudio目前只支持1.8版本的训练。比如这里的`nn.Layer`是否可以直接替换为`fluid.dygraph.Layer`呢？

[2020-08-14 16:17] LielinJiang commented on #26229
可以的，Layer是完全一致的。

[2020-08-14 17:02] kgkzhiwen commented on #26277
同问。

[2020-08-14 19:00] oytang commented on #26109
我根据Paddle的2.0.0a版本中`paddle.tensor.var`的原代码改编了以下代码，这样就可以在1.8中完成实现，并且相比于转numpy进行计算而言，使用paddle原生计算应该能带来效率上的优势。代码如下：
[code]

[2020-08-14 23:15] EastSmith opened #26295 "【论文复现】使用“fluid.dygraph.nn.Conv3D”API的文档样例代码报错"
- **问题描述：**
1.新建Aistudio的PaddlePaddle1.80的GPU环境，并!pip install paddlepaddle-gpu==1.8.3.post97
2.copy飞桨文档Conv3D的样例代码到Aistudio上，代码地址：(https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Conv3D_cn.html#id4)
运行之后报错：
![image](https://user-images.githubusercontent.com/67545545/90298434-da8f4480-dec4-11ea-8186-f5a6b19184c5.png)
3.将代码改为如下图所示的代码，也报同样的错误“unsupported operand type(s) for /: 'fl

[2020-08-15 02:32] xjhcassy commented on #26295
Conv3D第一个参数不是name，或者你要的话就要加name='Conv3D'

[2020-08-15 02:51] EastSmith commented on #26295
感谢！但是我经过测试发现加name='Conv3D'仍然会报错：“TypeError: __init__() got an unexpected keyword argument 'name'”
![image](https://user-images.githubusercontent.com/67545545/90303891-d2df9800-dee4-11ea-9ae2-8f27298157b4.png)

[2020-08-15 02:55] EastSmith commented on #26295
已经找到报错的一种解决方案了，加上“num_channels =3”这个参数就可以运行了
![image](https://user-images.githubusercontent.com/67545545/90303958-78930700-dee5-11ea-8b2a-a0bad92d4926.png)

[2020-08-15 02:58] #26295 closed, assigned to nobody

[2020-08-15 03:08] yuctian opened #26296 "[论文复现] paddle.reader.xmap_readers 数据读取异常terminate called without an active exception"
在用paddle.reader.xmap_readers(mapper, reader, num_threads, buf_size)读取数据的时候遇到了这样的报错，是中途出错的，什么原因
terminate called without an active exception
W0815 10:50:20.376297  7585 init.cc:216] Warning: PaddlePaddle catches a failure signal, it may not work properly
W0815 10:50:20.376339  7585 init.cc:218] You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddleP

[2020-08-15 03:26] Costwen opened #26297 "[论文复现] 想要在max_pool的同时获取相对应的坐标,同时unsample的同时将值放置在坐标位置上，新增API"
通过查阅fluid.layers.poold这个api的文档发现没有相对应的参数返回坐标值
不知道有没有类似的函数可以解决这个问题
如果没有这类的api,那么如何自己构建一个呢？

[2020-08-15 04:04] kgkzhiwen opened #26299 "【论文复现】请问paddle里有没有类似torch里的cpp_extension函数？ 如果没有，在动态图模式下，要怎么样调用CPP/C源码里的函数？"
请问paddle里有没有类似torch里的cpp_extension函数？ 如果没有，在动态图模式下，要怎么样调用CPP/C源码里的函数？
`from torch.utils.cpp_extension import BuildExtension, CUDAExtension
`

[2020-08-15 05:09] finger-monkey opened #26301 "【论文复现】发现你们的API开发文档里漏掉了： paddle.fluid.dygraph.L1Loss(reduction='mean')的介绍"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2020-08-15 05:09] ARDUJS opened #26302 "help 关于新建OP操作问题"
### 环境
- python 3.7
- PaddlePaddle = 1.7.2
### 问题
我新建了一个OP，我希望输入sequence对象

![input](https://user-images.githubusercontent.com/20811685/90305680-a08b6600-def7-11ea-947c-04e8a58141c4.png)

，输出也是sequence对象，可是我安照官网提供的案例，

[code]

![image](https://user-images.githubusercontent.com/20811685/90305695-b4cf6300-def7-11ea-929e-b47b7db4543c.png)

输出并不是sequence对象，

![image](https://user-images.githubusercont

[2020-08-15 05:35] zhangylch opened #26303 "动态图二次求导问题：linear 不支持二次求导"
paddle: [1.8.4]
问题是接着之前1.8.3版本出现的bug,  #25703
 二次求导中不能出现python的控制流说是在1.8.4里修复，可是我更新了1.8.4发现动态图下linear 不支持二次求导了？
测试程序
[code]
报错信息
Traceback (most recent call last):
  File "37.py", line 15, in <module>
    only_inputs=True,allow_unused=False)[0]
  File "</share/group-soft/anaconda/install/lib/python3.7/site-packages/decorator.py:decorator-gen-29>", line 2, in grad
  File "/share/group-soft/anaconda

[2020-08-15 07:11] liu824 commented on #26219
这种方式可以吗？

[2020-08-15 07:40] liu824 opened #26306 "论文复现：如何实现下列语句，torch.FloatTensor([[[[-0.5,0,0.5]]]]).repeat(1,1,1,1)"
issue中有搜到一些，但并没有很明确的对该问题进行说明

[2020-08-15 08:09] xjhcassy opened #26309 "<<论文复现>>paddle-gpu1.8.3版本需要对应cudnn版本为7.6，而aistudio上为7.3，导致无法使用"
报错信息如下：
 WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.3, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version.

ExternalError:  Cudnn error, CUDNN_STATUS_BAD_PARAM  at (/paddle/paddle/fluid/operators/batch_norm_op.cu:319)
  [operator < batch_norm > error]

[2020-08-15 08:12] #26301 closed, assigned to nobody

[2020-08-15 08:40] lizhixi212 opened #26312 "data readerAPI文档修改"
![image](https://user-images.githubusercontent.com/53890383/90308871-c3c50e00-df15-11ea-81e6-0d62187bcbb2.png)
这里关于data reader部分的API文档写得有点绕？！\
可以描述得更清晰些的

[2020-08-15 10:55] sincerevertigo commented on #26229
谢谢！！！

[2020-08-15 10:55] #26229 closed, assigned to Shixiaowei02

[2020-08-15 11:09] liuxianyi commented on #26265
1.8.1,1.8.2,1.8.3,1.8.4的GPU环境都不可以使用，cudnn版本低

[2020-08-15 12:09] xue160709 opened #26317 "在pycharm上运行PaddleSeg人像分割出现了以下问题，请各位大神帮忙看一下是什么问题"
Paddle version: 1.8.4
Paddle With CUDA: False
OS: macOs 10.15.5
Python version: 3.5.4
CUDA version: None
cuDNN version: None
Nvidia driver version: None

在pycharm上运行PaddleSeg实战——人像分割出现了以下问题，请各位大神帮忙看一下是什么问题
Argv: video_infer.py --model_dir pretrained_weights/humanseg_lite_inference
!!! The CPU_NUM is not specified, you should set CPU_NUM in the environment variable list.
CPU_NUM indicates that how

[2020-08-15 13:21] hxl523 opened #26318 "blas_impl.h:747: Expected dim_a.width_ == dim_b.height_, but received dim_a.width_:1 != dim_b.height_:784"
报错提示：[Hint: Expected dim_a.width_ == dim_b.height_, but received dim_a.width_:1 != dim_b.height_:784.] at (/paddle/paddle/fluid/operators/math/blas_impl.h:747)
错误发生在：课节5：第二章一个案例吃透深度学习(上)：[项目]2.通过极简方案快速构建手写数字识别模型
将所有的教程代码，写到一个model.py文件，并在ai studio运行python model.py,最后预测:
#  预测输出取整，即为预测的数字，打印结果
    print("本次预测的数字是", result.numpy().astype('int32'))的时候出现这个错误
notebook教程里正常运行
项目地址：https://aistudio.baidu

[2020-08-15 13:57] saxon-zh commented on #26309
这个是AIStudio平台的已知问题，@weiexcelpro 在跟进中，如果想要进一步了解可以发邮件到aistudio@baidu.com

[2020-08-15 14:31] thinkall opened #26320 "[论文复现][已解决]leaky_relu等激活函数如何作为Sequential模型的一部分"
paddle中的激活函数虽然可以单独使用，但是在forword函数里头；如果想定义在网络结构里，可以使用lambda或partial函数假装实现。但是，在Sequential模型中无法作为sublayer加入。

[code]
这个OK。

[code]
这个报 assert isinstance(sublayer, core.Layer)

[code]
这个报 leaky_relu() missing 1 required positional argument: 'x'

[2020-08-15 14:38] thinkall commented on #26320
刚在微信群得到大佬指点，自己答一个：

[code]

[2020-08-15 23:54] limengning opened #26321 "文档：使用Python和Numpy构建神经网络模型 - 勘误"
[https://www.paddlepaddle.org.cn/tutorials/projectdetail/715255](使用Python和Numpy构建神经网络模型) 一文中代码有错误：
![image](https://user-images.githubusercontent.com/10029844/90323587-b51e3b80-df95-11ea-8be4-3e9e7c9dc91e.png)

[2020-08-16 02:08] zbp-xxxp opened #26322 "【论文复现】RuntimeError: parallel_for failed: invalid configuration argument"
---------------------------------------------------------------------------RuntimeError                              Traceback (most recent call last)<ipython-input-39-4d46b46bb736> in <module>
      1 # 测试生成网络G和判别网络D
      2 with fluid.dygraph.guard():
----> 3     g_tmp = G('G')
      4     tmp_g = g_tmp(fluid.dygraph.to_variable(np.array(z_tmp))).numpy()
      5     print('生成器G生成图片数据的形状：', tmp_g

[2020-08-16 02:31] chfhf opened #26323 "【论文复现】UGATIT 关于平台paddle1.8复现过程中var函数的Out of memory error on GPU 0问题"
![1](https://user-images.githubusercontent.com/19964528/90325087-ba858100-dfa9-11ea-8b4a-7bf57faced80.jpg)
**运行到此处都会内存爆掉，排查发现ln_mean没问题，是var(input,dim=[1, 2, 3],keep_dim=True)的问题。**
![2](https://user-images.githubusercontent.com/19964528/90325217-6c717d00-dfab-11ea-89d0-c8bd243fd327.png)

![3](https://user-images.githubusercontent.com/19964528/90325091-edc81000-dfa9-11ea-9904-07cef6a8b19c.jpg)
**下

[2020-08-16 02:45] IamMegatron2025 commented on #23992
您好，我在用paddleDetection的faster_rcnn系列训练模型时也经常遇到这种问题，遇到过几十次了，每次训练都要祈祷不要报这个错误。。。 @ellinyang @chenwhql 请问到底该怎么解决呢？

[2020-08-16 03:06] yuctian commented on #26306
可以考虑通过定义卷积使用param_attr中的numpy初始化卷积的方法

[2020-08-16 03:12] yuctian opened #26325 "[论文复现] 动态图如何使用AIStudio中的脚本模式进行训练（动态图怎样用分布式训练方式）"
我在飞浆官网里没有找到相关样例，只有静态图的例子

[2020-08-16 05:51] minghuisvn opened #26326 "paddlepaddle是否提供了上传自己数据的方式"
我想用PaddlePaddle建模自己的数据，notebook上上传总是失败。新建项目上传数据集可以，但是数据有一定保密性，上传的数据集会不会被其他人看到。

[2020-08-16 08:37] FrankCV2048 opened #26327 "[论文复现] paddle.fluid.layers.unstack的api问题"
paddle.fluid.layers.unstack 应该是按照axis维度 分割成num个等份 但是实际是没有的
如图
![image](https://user-images.githubusercontent.com/11443638/90330349-b45dc780-dfde-11ea-8d9e-21b6b0c4c24f.png)

[2020-08-16 08:53] gbstack opened #26328 "[论文复现] 如何获取优化器的参数信息？"
请问如何获取优化器的参数信息？

比如Adam优化器的moment和time step值

[2020-08-16 08:56] zhhsplendid commented on #26277
现在不能，我们即将添加分布式此类支持

[2020-08-16 08:57] #26277 closed, assigned to nobody

[2020-08-16 08:58] zhhsplendid commented on #26275
嗯，当前是的

[2020-08-16 08:58] #26275 closed, assigned to nobody

[2020-08-16 09:02] zp7541 opened #26329 "说到做不到之模型参数不初始化-exe.run(fluid.default_start_program())"
为什么**fluid.default_start_program()**不能初始化全部参数？说好的**exe.run(fluid.default_start_program())**用来初始化参数，但是会经常性的报错XXX is not initialized。隔壁的**tf.global_variables_initializer()**可是说到做到了的。

[2020-08-16 09:07] zhhsplendid commented on #26282
谢谢反馈，不过这种情况确实是比较少见，我们后续将进行修复

[2020-08-16 09:14] zhhsplendid commented on #26292
假设你的Paddle Variable 是var，
可以调用 vat.get_tensor() 来获取tensor。

不过你这里需要zeros_like其实不知道如何获取tensor时，也可fill_constant为0，shape为x的shape，这种方式也能实现

[2020-08-16 09:18] zhhsplendid commented on #26291
这个是SIGSEGV，但原因是unknown，您留下的作业链接对我们其实是不可见的。不知道能否给一些其他关键信息或关键代码？

[2020-08-16 09:37] xinsuinizhuan opened #26330 "windows10 vs2019 编译预测库，实在是编译不过去啊，编译一天，一直报错，可以不可以把要用的库，给弄个百度网盘，上传一下？"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2020-08-16 09:49] morgan-bc commented on #26141
在 ~/.bashrc 里面把LD_LIBRARY_PATH，重新定义一遍，覆盖原来机器里面的定义，这样就可以用aistudio 里面自带的 cudnn7.6了
[code]

[2020-08-16 10:45] liuxianyi commented on #26141
我试了以下，把代码加了进去，依然不行啊

[2020-08-16 10:50] morgan-bc commented on #26141
我是在终端里面跑的，你要先运行 `source ~/.bashrc` 才行，如果你在notebook里运行，可能应该是这样
[code]

[2020-08-16 11:19] criterion326 opened #26333 "batch"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2020-08-16 12:31] saxon-zh commented on #26299
如果是想要新增OP的话可以看下这个文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/index_cn.html

[2020-08-16 12:38] MRXLT commented on #26322
你好，请问使用的paddle版本、cuda版本和gpu型号是多少

[2020-08-16 12:39] thinkall commented on #26255
一样的问题，根据 https://github.com/PaddlePaddle/X2Paddle/issues/24 解决了

[2020-08-16 12:39] xinsuinizhuan commented on #26330
7>-- Had to git clone more than once:
7>CMake Error at F:/baidu_pp/Paddle-develop/build/third_party/protobuf/tmp/extern_protobuf-gitclone.cmake:31 (message):
7>          3 times.
7>  Failed to clone repository:
7>  'https://github.com/protocolbuffers/protobuf.git'
7>
7>
7>已完成生成项目“extern_protobuf.vcxproj”的操作 - 失败。
12>CUSTOMBUILD : error : RPC failed; curl 18 transfer closed with outstanding read da

[2020-08-16 12:46] MRXLT commented on #26323
你好，这个看上去是显存不足，建议减小batch size

[2020-08-16 13:05] wadefelix commented on #26330
哈哈，这个问题我刚好解了，能编译了，但是整个工程我还没有完全编译完。你可以看下这个修改 https://github.com/wadefelix/Paddle/commit/ecb44dd6078ee738dcff765bd5538901ac142a6d
官方指的protobuf的代码比较旧，我用protobuf最新的master分支可以编译。
这个修改里另外关于eigen那个，你可以不管。我这儿下载github代码有点儿慢，所以有些大的软件库我只好给建了我本地的镜像库，让这套编译脚本拉我本地代码加速的。

[2020-08-16 13:08] wadefelix commented on #26270
看这个 https://github.com/PaddlePaddle/Paddle/issues/26330#issuecomment-674524418
因为protobuf工程没编译过的缘故。

[2020-08-16 13:09] xinsuinizhuan commented on #26330
您QQ多少，可否加个QQ或者微信，我的QQ742721388，请多指教！

[2020-08-16 13:10] zbp-xxxp commented on #26322
您好，paddle版本1.8.0，用的是AI Studio上的高级版

---原始邮件---
发件人: "MRXLT"<notifications@github.com&gt;
发送时间: 2020年8月16日(周日) 晚上8:39
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"郑博培"<2733821739@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 【论文复现】RuntimeError: parallel_for failed: invalid configuration argument (#26322)

你好，请问使用的paddle版本、cuda版本和gpu型号是多少

—
You a

[2020-08-16 13:28] xinsuinizhuan commented on #26330
或者能看到我可以把所有库一个一个都下载都本地，在本地的话，放到哪个文件夹，它会自动加载？

[2020-08-16 13:42] MRXLT commented on #26328
你好，对于lr/beta参数可以在创建adam的时候指定使用的variable，在训练的时候获取对应的variable。但是对于moment和time step这种并不是优化器参数的值暂时无法获取

[2020-08-16 13:47] MRXLT commented on #26321
感谢反馈，我们会进行修正

[2020-08-16 13:52] MRXLT commented on #26326
你好，是想要在aistudio上上传数据集吗，默认创建的项目都是私有的，不设置为公开，别人是无法使用你的数据集的。可以先使用没有保密性的数据试一下。

[2020-08-16 13:56] MRXLT commented on #26327
你好，目前unstack op的文档有些问题，正在修复，https://github.com/PaddlePaddle/Paddle/pull/26043
实际上这里的x shape为[-1,2,3,5]，unstack之后为两个[-1,3,5]的tensor。

[2020-08-16 13:59] MRXLT commented on #26329
你好，可不可以提供一下可以问题的代码

[2020-08-16 14:00] MRXLT commented on #26333
你好，请问是遇到了什么问题呢，issue里没有相关信息

[2020-08-16 14:13] chfhf commented on #26323
batch_size与原论文代码一致默认为1，具体就是循环运行完第一个自适应残差块，到了第二个就爆内存了，不知道该怎么修改，
![12](https://user-images.githubusercontent.com/19964528/90336128-4af4ad80-e00c-11ea-87a6-93bb2ebe81bc.png)
![21](https://user-images.githubusercontent.com/19964528/90336133-4d570780-e00c-11ea-9f87-75f3d2e5a02b.png)

[2020-08-16 14:29] kj7541 commented on #26329
`import numpy as np
import paddle.fluid as fluid
import gym

class Critic(object):
def init(self, exe, gamma, state_dim, lr):
# self.exe = fluid.Executor(fluid.CPUPlace())
self.exe = exe
self.state_dim = state_dim
self.gamma = gamma
self.lr = lr
self._built_net()

def _built_net(self):
    self.critic_program = fluid.Program()
    with fluid.program_guard(self.critic_program):
        state_data =

[2020-08-16 14:30] zp7541 commented on #26329
[code]

[2020-08-16 14:58] wadefelix commented on #26330
本地别的，和Paddle不同的文件夹就可以， 修改cmake/目录下需要修改的三方模块的.cmake文件，找到源地址，修改为你保存那个具体git项目的本地目录也可以（git本身就支持本地文件系统作为upstream）。这样就可以让这套编译系统从本地clone代码了。

[2020-08-16 15:00] wadefelix commented on #26330
我编译完了，wheel包编译制作出来了，但是fluid有关的6个工程失败了。

[2020-08-16 15:05] RayCAS2017 opened #26335 "【黄埔学院】windows下编译paddle1.8.4+trt的推理库遇到tensorrt的问题"
- 版本、环境信息：
    1）PaddlePaddle版本：v1.8.4
    2）GPU,1060，CUDA10.0和CUDNN7.6
    4）系统环境：win10家庭版， vs 2015
- 安装方式信息：
1）本地编译：请提供cmake命令，
cmake .. -G "Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYPE=Release -DWITH_GPU=ON -DWITH_TESTING=OFF -DON_INFER=ON -DWITH_PYTHON=ON -DWITH_MKL=OFF -DWITH_MKLDNN=OFF -DCUDA_ARCH_NAME=All -DPYTHON_EXECUTABLE=C:\\Users\\ray\\.conda\\envs\\paddle1.8\\python.exe -DCUDA_TOOL

[2020-08-16 15:13] zp7541 commented on #26329
代码改一下，就不会报错。但是为不是说fluid.default_startup_program会初始化所有参数吗？tf。gloable_variable_initiailzer()不会出现这样的问题

[2020-08-16 15:43] ShawnXsw commented on #26330
Paddle\cmake\external\*.cmake 源切换为gitee.com即可

[2020-08-16 16:04] ShawnXsw opened #26336 "【黄埔学院】 dev分支动态库(显示) (with CUDA & without TRT) Demo 异常退出"
   1）PaddlePaddle版本：dev(9a6a4fbc04b5c5baa1602c64975dcdc41448cebe)
    2）CPU：with MKL，正常。
    3）GPU：2080TI，CUDA Version 10.1.243，CUDNN 7.6.5
    4）OS: Windows 10、Python version: 3.7.7
          Nvidia driver version: 445.87

- 预测信息
GIT COMMIT ID: 9a6a4fbc04b5c5baa1602c64975dcdc41448cebe
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
CUDA version: 10.1
CUDNN version: v7.6
CXX compiler version: 19.0.24215

[2020-08-16 16:10] #26117 closed, assigned to nobody

[2020-08-16 16:14] MRXLT commented on #26322
可不可以分享一下aistudio上的项目，我复现一下

[2020-08-16 16:16] MRXLT commented on #26325
你好，分布式训练目前只支持静态图的方式，对动态图的支持正在开发中

[2020-08-16 20:57] zzz2010 commented on #26192
同样的错误信息: 在本地测试 1.8.0 有问题， 但1.8.3 没问题。  应该是paddle 版本问题， 麻烦给一个1.8.0 的解决方案，谢谢

[2020-08-17 00:52] lxk767363331 opened #26339 "关于torch与paddle的对应api"
avgout = torch.mean(x, dim=1, keepdim=True)=== avg_out = fluid.layers.reduce_mean(input, dim=1, keep_dim=True)

 maxout, _ = torch.max(x, dim=1, keepdim=True)===max_out = fluid.layers.reduce_max(input, dim=1, keep_dim=True)

  out = self.ca(out) * out  # 广播机制=====conv=ChannelAttention(conv,num_filters=num_filters,ratio=4)*conv
  out = self.sa(out) * out  # **广播机制**=====  conv=SpatialAttention(conv

[2020-08-17 01:00] ysh329 commented on #26306
如果是动态图，可以考虑用numpy：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Variable_cn.html#numpy

如
[code]

另外，可以参考Tensor API：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Tensor_cn.html#tensor

如

[code]

[2020-08-17 01:07] ysh329 commented on #26292
论文复现中出现的 pytorch语句 v1 = torch.zeros_like(x.data)

如何用paddle实现 x.data：

[code]
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/zeros_like_cn.html#zeros-like

此外，还可以参考TensorAPI：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Tensor_cn.html#tensor

[2020-08-17 01:08] ysh329 commented on #26296
[code]

日志信息没看明白`whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle`，什么环境？还希望在提供一些信息哦

[2020-08-17 01:15] ysh329 commented on #26297
两个问题：

1. fluid.layers.poold这个api的文档发现没有相对应的参数返回坐标值，不知道有没有类似的函数；
2. 如何新开发一个api或者算子

----

1. 目前pool2d/3d都没法获取坐标：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/layers/pooling.html#pool2d-pool3d
2. 如何构建一个新api：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/index_cn.html，见新增api

[2020-08-17 01:17] zp7541 commented on #26329
我发现paddle静态图下会非常容易出现这种错误，而且有的时候不好排查错误，希望官方能够修正这个错误。

[2020-08-17 01:20] ysh329 commented on #26299
如何在框架外部自定义C++ OP，见文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/custom_op.html#c-op

[2020-08-17 01:21] gbstack commented on #26328
你好，就是我想检查下优化器的这些值在读取之前保存的参数时，是否正确的读取，该怎么做呢

[2020-08-17 01:25] ysh329 commented on #26291
信息太少，还请提供更多信息~

[2020-08-17 01:26] deep-practice commented on #26141
今天升级之后，又说cuda driver不对

[2020-08-17 02:11] lin1github commented on #26272
安装了1.8.3也是一样，安装了cudnn7.6.5版本，系统环境也设置了，但是运行paddle时，还是调用的7.3版本的，WARNING: device: 0. The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.3, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version.

[2020-08-17 02:11] sincerevertigo commented on #26156
@ceci3
能帮忙看一下不。谢谢。

[2020-08-17 02:13] phlrain commented on #26325
https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id10
建议使用这种进行

[2020-08-17 02:41] MRXLT commented on #26335
你好，建议使用tensorrt 6.0试一下

[2020-08-17 02:41] zhhsplendid commented on #26265
现在这个应该就是在新的版本里修复了，如果遇到cudnn版本低的问题，不知道有没有办法配置环境？更新cudnn？

[2020-08-17 02:41] #26264 closed, assigned to nobody

[2020-08-17 02:46] zhhsplendid commented on #26270
对的，如上所说，cuda_error.pb.h由protobuf生成，可以查看protobuf依赖是否配置正确

[2020-08-17 02:59] zhhsplendid commented on #26272
检查一下cudnn安装是否正确？是否有过去版本的残留？

[2020-08-17 03:05] RayCAS2017 commented on #26335
之前有试过1.8.4+trt6.0，也遇到相同的问题。应该不是trt版本的问题。Paddle1.8.4相对Paddle1.8.3关于trt增加一些内容。感觉报错是Paddle\paddle\fluid\inference\tensorrt下面helper.h文件中的新增加这句话：
<img width="498" alt="无标题2" src="https://user-images.githubusercontent.com/29969779/90353654-5a5e1000-e079-11ea-893a-66f649baaa21.png">

这句话是做什么用的？

[2020-08-17 03:10] lxk767363331 opened #26343 "报错 ：9577 elementwise_op_function.h:1068] Error, broadcast should not into w broadcast"
在resnet的bottleneck_block中添加cbam但是在ChannelAttention中会报错elementwise_op_function.h:1068] Error, broadcast should not into w broadcast不清楚为什么 。除去插入部分运行无问题，只运行SpatialAttention模块是正常运行的所以定位错误在ChannelAttention中。
代码如下：
def sharedMLP(input, num_filters, ratio):
    conv = fluid.layers.conv2d(input=input, num_filters=num_filters // ratio, filter_size=1, stride=1,
                               padding=0, act=

[2020-08-17 03:10] lxk767363331 commented on #26343
conv1=ChannelAttention(conv,num_filters=num_filters*4,ratio=4)
    conv=conv1*conv
 上面的代码中*未能显示

[2020-08-17 03:55] txyugood opened #26345 "【论文复现】显存占用问题"
在复现论文《Representation Flow for Action Recognition》的光流层的过程中，在动态图中迭代循环20次去计算光流，在循环中会调用如下函数，会导致显存占用暴涨10G，导致 batch_size 十分小。请问这是由于什么原因导致的，怎样才能解决，已经卡在这好几天了，望回复谢谢！
[code]

[2020-08-17 04:32] xinsuinizhuan commented on #26330
怎么换？
https://github.com/sabreshao/hipeigen.git 换成 https://gitee.com/sabreshao/hipeigen.git?这更换后，资源都没有

[2020-08-17 05:25] yxhpy opened #26348 "【论文复现】建议在保存模型函数上加上事务机制"
最近使用paddle进行论文复现的时候，由于自己网络稳定性不是很好，平台也有时会发生服务器崩溃，这时候我正在训练的模型刚好要保存的时候，突然网络不稳定导致训练进程结束，我再次刷新网页进入训练的时候就无法正常加载模型参数，希望可以加入事务回滚机制，希望采纳

[2020-08-17 07:07] ysh329 commented on #26280
@caikw0602 可以提供一下代码我们试一下

[2020-08-17 07:17] ysh329 commented on #26295
文档没有问题，还请查看Conv3D文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/Conv3D_cn.html#conv3d

注意参数顺序

[code]

[2020-08-17 07:23] MRXLT commented on #26323
请问使用的gpu显存是多少

[2020-08-17 07:57] wadefelix commented on #26330
gitee有个官方的mirror项目，会定义同步上万个仓库。但是也就仅这么多。其它的就要靠自己搜索或建同步项目了。
这个可不是简单把地址里的github替换成gitee这么简单。

我建议若想这么用的话，可以直接clone到本地后，把cmake里的地址改成本地文件系统地址即可。

[2020-08-17 08:06] xinsuinizhuan commented on #26330
我试过，貌似不行，我改成了本地目录，但是它还只直接从github上去下载

[2020-08-17 08:07] barry2025 opened #26354 "gcc82 fluid_inference 运行出core"
- 版本、环境信息：
    1）PaddlePaddle版本：commitID28f871d4bd9f239aefb2118bf3a83225630160af tag:v1.6.1-gcc82-cuda10.1-cudnn7.5_PD_BL
    3）GPU：p4, cuda10.0
    4）系统环境：centos7.6：

问题描述：
使用gpu，Segmentation fault (core dumped) :
![image](https://user-images.githubusercontent.com/20043808/90372809-90b08500-e0a3-11ea-833d-5ee37a6568c0.png)
不使用gpu：
![image](https://user-images.githubusercontent.com/20043808/903726

[2020-08-17 08:09] xinsuinizhuan commented on #26330
楼主，可不可以，直接在cmake里面去修改，camke里面修改直接指向本地目录？

[2020-08-17 08:51] xinsuinizhuan commented on #26335
你能编译过去？

[2020-08-17 08:51] xinsuinizhuan commented on #26335
我这边，一直在下载库，下载不了，就编译报错。

[2020-08-17 08:51] Ryan906k9 opened #26359 "【论文复现】Conv2D前向传播报错：received input_data_type:6 != filter_data_type:5"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.3
    4）系统环境：Python 3.7

- 问题描述：
`Traceback (most recent call last):
  File "/Users/rai/PycharmProjects/ugan/UGATIT-paddle/main.py", line 96, in <module>
    main()
  File "/Users/rai/PycharmProjects/ugan/UGATIT-paddle/main.py", line 88, in main
    gan.train()
  File "/Users/rai/PycharmProjects/ugan/UGATIT-paddle/UGATIT.py", line 276, in train
    fake_A2B, _,

[2020-08-17 09:06] ShawnXsw commented on #26330
给你我的吧：https://gitee.com/shawnxu226   里面有paddle third_party需要的镜像库

[2020-08-17 09:06] OrangeJessie opened #26361 "SocketChannel.cpp:99] Check failed: len > 0 Connection reset by peer [104]"
运行了一段时间后报错，任务自己kill

任务链接：http://yq01-hpc-lvliang01-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20200817102752-37471
请帮忙看一下，感谢。

[2020-08-17 09:13] #26133 closed, assigned to nobody

[2020-08-17 09:40] xinsuinizhuan commented on #26330
非常感谢。我看了一下，您仓库里面有6个库：
![图片](https://user-images.githubusercontent.com/40679769/90381874-9791c480-e0b0-11ea-85fb-d0244344f360.png)
貌似，这个pp使用到的就这2个？prontbuf和openblas的有没有？

[2020-08-17 09:41] Qdriving opened #26362 "【论文复现】Tensor*Tensor问题"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：1.8.3
2）CPU/GPU：AI Studio GPU
3）系统环境：百度AI Studio

- 复现信息：
    aa = to_variable(np.array([[[[1.,2.,3.,4.]]*5]*5]*5))   # 默认的数据类型float32
    bb = to_variable(np.array([[[[4.,3.,2.,1.]]*5]*5]*5))

    mask1 = (aa>bb).astype(int)   #比较后的数据类型bool=>int， 当然如果这里将bool=>float32运行是没问题的
    aa=mask1*aa   #报错，TypeError

[2020-08-17 09:42] ShawnXsw commented on #26330
https://gitee.com/shawnxu226/projects   都有

[2020-08-17 09:42] xinsuinizhuan commented on #26330
看到了。非常感谢。

[2020-08-17 09:44] ysh329 commented on #26286
上面 @suishicity 已经给了比较好的例子，主要是用到了`set_value`这个api，这个api应该就是你说的apply，具体见文档，Variable-API文档-PaddlePaddle深度学习平台
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Variable_cn.html#set-value

[2020-08-17 09:44] #15564 closed, assigned to dzhwinter

[2020-08-17 09:45] #19092 closed, assigned to nobody

[2020-08-17 09:45] #19097 closed, assigned to nobody

[2020-08-17 09:45] #19125 closed, assigned to nobody

[2020-08-17 09:45] #19126 closed, assigned to seiriosPlus

[2020-08-17 09:45] #19128 closed, assigned to wopeizl

[2020-08-17 09:45] #19129 closed, assigned to nobody

[2020-08-17 09:45] #19132 closed, assigned to nobody

[2020-08-17 09:45] #19135 closed, assigned to nobody

[2020-08-17 09:45] #19158 closed, assigned to SunGaofeng

[2020-08-17 09:45] #19185 closed, assigned to SunGaofeng

[2020-08-17 09:45] #19188 closed, assigned to NHZlX

[2020-08-17 09:45] #19222 closed, assigned to kolinwei

[2020-08-17 09:45] #19229 closed, assigned to Superjomn

[2020-08-17 09:45] #19242 closed, assigned to ceci3

[2020-08-17 09:45] #19250 closed, assigned to ceci3

[2020-08-17 09:45] #19259 closed, assigned to ceci3

[2020-08-17 09:45] #19262 closed, assigned to ceci3

[2020-08-17 09:46] xinsuinizhuan commented on #26330
这个替换的时候，怎么替换？https://gitee.com/shawnxu226/eigen-git-mirror/eigen-git-mirror.git?就是后缀是git,还是？https://gitee.com/shawnxu226/eigen-git-mirror/eigen-git-mirror.tar

[2020-08-17 09:47] Qdriving opened #26363 "【论文复现】：Tensor掩码操作"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：1.8
2）CPU/GPU：AI Studio GPU
3）系统环境：AI Studio GPU环境
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：Tensor不支持掩码访问元素，如果转换为numpy运算后再转回Tensor由于numpy不支持GPU，会使运算效率大大降低
- 建议描述：增加掩码操作支持，方便运算过程

[2020-08-17 10:01] sincerevertigo commented on #26286
@suishicity @ysh329
谢谢！！！

[2020-08-17 10:01] #26286 closed, assigned to ysh329

[2020-08-17 10:08] zhoujie3 opened #26366 "官网的ubuntu+python2.7环境安装失败"
opencv-python-4.3.0.36+不支持python2.7，安装进行到open-cv时就会失败。需要采用4.2.0.32以下版本。希望修复自动按照脚本。

Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a simi

[2020-08-17 10:26] Shixiaowei02 commented on #26354
你好 请检查一下头文件和库是否对应正确，谢谢

[2020-08-17 10:26] zhoujie3 commented on #26366
安装过程中还会有缺少  CMake，scikit-build的模块缺失失败，需要独立安装...

[2020-08-17 10:32] chfhf commented on #26323
![22](https://user-images.githubusercontent.com/19964528/90386160-babf7280-e0b6-11ea-87bf-69f39458ebf2.png)
这是最近运行的一次，错误信息如下：
----------------------
Error Message Summary:
----------------------
ResourceExhaustedError:

Out of memory error on GPU 0. Cannot allocate 4.125977GB memory on GPU 0, available memory is only 3.666870GB.

Please check whether there is any other process using GPU 0.
1. If y

[2020-08-17 10:35] chfhf commented on #26323
![7678dcaeee64b610af8ddff60b23218](https://user-images.githubusercontent.com/19964528/90387173-47b6fb80-e0b8-11ea-84ec-c45c58931bea.png)
同时性能监控显示内存接近90%，但报错结果好像也对不上，所以一直卡在这个地方，不知道该怎么继续

[2020-08-17 10:36] #25823 closed, assigned to nobody

[2020-08-17 10:37] saxon-zh commented on #25820
@1084667371 还有问题吗

[2020-08-17 10:58] barry2025 commented on #26354
请问是什么意思，接口应该没有变吧，直接下载的官方预测库，里面包含了include,lib，还有啥对应关系？

[2020-08-17 11:17] ysh329 commented on #26302
好的收到，能提供一下完整代码嘛。此外，可以看下这个文档： https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/lod_tensor.html#id3

对应代码实例部分：

[code]
更多见文档。

[2020-08-17 11:24] ysh329 commented on #26312
看起来确实有点问题，我们需要改一下

[2020-08-17 11:35] ysh329 commented on #26318
你好，请问你是不是有修改代码

[2020-08-17 11:40] ysh329 commented on #26303
根据日志显示，目前缺少`matmul_grad`这个op的计算梯度的op。可以尝试按照提示将create_graph设置为False再试试

[2020-08-17 11:55] zhangylch commented on #26303
create_graph 设置成False就不保留反向图了，就不能得到二阶导数了。我优化时需要求二阶导数

[2020-08-17 11:59] zhangylch commented on #26303
就是换成False,之后在对其进行反向backward, a.gradient() 输出就是NONE

[2020-08-17 12:27] lijianshe02 commented on #26363
可以通过gather， gather_nd op来访问

[2020-08-17 12:29] lijianshe02 commented on #26362
重载的*运算符对两边的数据类型有要求，若想进行这样的操作，还是要准换下数据类型

[2020-08-17 12:30] lijianshe02 commented on #26359
报错信息很明显，要求input data type和filter data type是一样的，所以改成一样就不会报错了

[2020-08-17 12:31] lijianshe02 commented on #26348
谢谢提建议

[2020-08-17 12:32] #26359 closed, assigned to nobody

[2020-08-17 12:36] saxon-zh commented on #26348
可以在每轮训练的时候保存checkpoint，https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id9

在网络恢复后就可以加载最后一次存储的模型继续训练。

[2020-08-17 12:44] lijianshe02 commented on #26345
for循环里的临时变量在一次运行结束后会释放掉，按理说不应该出现你说的内存暴涨，你在check下你其它地方代码

[2020-08-17 12:53] yxhpy commented on #26348
我的意思是，保存中间突然断开了进程，以我体验来说感觉paddle的save_dygraph像是一点点的保存，如果保存过程中出现了差错不仅导致原来的文件损坏，还导致新文件也保存失败，虽然我可以通过备份的方式来避免，但我第一次使用如果不知道，很容易导致训练的模型一下子就会毁了，加上事务机制后就是防止保存过程中如果保存有差错，自然就会回滚到覆写之前的状态而不是毁掉源文件了，希望可以采纳一下，增强一下体验。

[2020-08-17 13:00] barry2025 commented on #26354
再补充一下问题：
1采用gcc485，gcc485版本的fluid_inference库后，一切正常
2采用gcc82，gcc82版本的fluid_inference库后，代码完全一致，差异就在fluid_inference库，fluid_infrence库包括从官方直接下载的include,lib,third_party三个文件夹，出错问题是
(1)业务代码结合fluid_inference成功编译动态库后，采用dlopen方式，可正常编译bin文件，执行时报segment，gdb报错找不到符号：
![image](https://user-images.githubusercontent.com/20043808/90398548-3841ad80-e0cc-11ea-80ef-1d8a08111bec.png)
但是使用nm命令确实是能看到符号的：
![image](https://