[2022-10-10 02:38] cxxly commented on #46673
这个PR #46255 遇到问题吧

[2022-10-10 02:42] cxxly commented on #46673
这个issue先close，我们在 #46255 讨论

[2022-10-10 02:42] #46673 closed, assigned to nobody

[2022-10-10 02:45] dasenCoding commented on #46673
好的。

[2022-10-10 05:42] zhwesky2010 commented on #46648
清理了之前编译的内容吗，重新build试下，如果还不行建议使用ninja编译，`cmake ..  -GNinja -DNEW_RELEASE_PYPI=ON` ，https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/install/compile/windows-compile.html#windows

[2022-10-10 05:47] zhaoyinglia commented on #46563
你好，可以尝试自定义算子来实现相关功能，但是需要重新编译paddle。参考文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/custom_op/new_cpp_op_cn.html

[2022-10-10 05:52] qili93 commented on #46548
确认下编译 custom device 的时候依赖的 libpaddle.so 路径是用 GCC9.4 编译出来的 Paddle Inference 里面的 libpaddle_inferece.so，还是你在 Python site package 下安装的默认用 GCC 8.2编译的 Paddle WHL 包里面的  libpaddle.so。

如果都是 GCC9.4编译的是不会有编译器兼容性问题的，只有使用不用编译器版本而且互相不兼容的情况下才会遇到这个问题。

[2022-10-10 06:04] #46571 closed, assigned to zhaoyinglia

[2022-10-10 06:04] #46570 closed, assigned to zhaoyinglia

[2022-10-10 06:04] #46564 closed, assigned to zhaoyinglia

[2022-10-10 06:04] #46530 closed, assigned to zhaoyinglia

[2022-10-10 06:04] #46524 closed, assigned to zhaoyinglia

[2022-10-10 06:38] engineer1109 commented on #46548
@qili93 确认都是9.4编译的。会出现 Unsupported kernel argument type `N3phi13CustomContextE` 问题 。 但是CAPI就不会

[2022-10-10 07:21] SigureMo opened #46837 "[CodeStyle] Legacy python code cleanup tracking issue"
## 项目说明

用于跟踪 Call-for-Contributions: [Python 2.7 相关代码退场](https://github.com/PaddlePaddle/community/blob/master/pfcc/call-for-contributions/code_style/legacy_python2.md) 及 [Python 3.5/3.6 相关代码退场
](https://github.com/PaddlePaddle/community/blob/master/pfcc/call-for-contributions/code_style/legacy_python36minus.md) 各个任务的计划和进度

## 成果总结

### ✅ Python 2.7 退场（8/8）

| 子任务 | 具体内容和完成时间|相关 PR | 修复行数  | 作者 |

[2022-10-10 07:22] SigureMo commented on #46837
## Python2、Python3.5、Python3.6 遗留代码退场计划各个子任务的计划和进度

### ✅ remove future imports <sup>[py2]</sup>

- 存量修复
   - 全部 Python 代码（除 test_error.py）：#46411
   - test_error.py、test_origin_info.py（含 yapf 格式化、remove-future-import）：#46463
   - `spawn.py` 的 docstring 里：#46890
- 增量阻止
   - CI：#46466
- 增量修复
   - #46736

### ✅ Python2 条件分支 <sup>[py2]</sup>

- 存量修复：#46696

### ✅ 使用 `open` 替换 `io.open` <sup>[py2]</su

[2022-10-10 09:07] peiwenYe opened #46850 "安装paddle2.2.2"
### 问题描述 Issue Description

我在Mac M1上按照教程 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/install/compile/macos-compile.html#compile_from_host 源码编译安装paddle2.2.2。提示安装成功了。然后我用paddle.__version__打印paddle版本信息，但显示是0.0.0。这是为啥呢？

### 版本&环境信息 Version & Environment Information

'0.0.0'

[2022-10-10 10:19] jzhang533 commented on #46850
源码编译的时候，如果要指定版本号需要设置环境变量，如下所示。
```export PADDLE_VERSION=2.2.2```

[2022-10-10 10:56] rainyfly commented on #46774
Try call paddle.disable_static() at the beginning of your code， it seems enter static graph mode in default.

[2022-10-10 11:03] rainyfly commented on #46775
你好，如果是识别问题，可以在飞桨的相关开发套件PaddleClas中进行提问，并且附上更详细的图像和说明。

[2022-10-10 11:59] peiwenYe commented on #46850
请问这是在哪一步设置呢？

[2022-10-10 12:06] seemingwang commented on #46788
目前paddle没有提供自定义通信的接口，不过可以通过
以下链接上面的方法来自己实现多卡间的通信。
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/distributed/all_reduce_cn.html#all-reduce

[2022-10-10 12:38] #46806 closed, assigned to wjj19950828, zkh2016

[2022-10-10 13:30] Birdylx opened #46870 "FatalError: `Termination signal` is detected by the operating system"
### bug描述 Describe the Bug

采用多进程时，paddle抛出异常，但是程序可以正常运行，这个异常虽然不会影响程序结果，但是为什么会出现这样的情况呢？

最小复现代码：

[code]

报错信息：
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-10-10 13:43] manangoel99 commented on #46647
Hi @jzhang533 ! Thanks for giving the thumbs up for this contribution. Could you also guide me to where I can find a guide about how to build the library so that I can test it locally.
I looked through the [docs](https://github.com/PaddlePaddle/docs/tree/develop/docs) here but I can't seem to find the relevant instructions.

[2022-10-10 13:47] Lieberk commented on #45566
【队名】：超级码立

【序号】：兴15

【论文】：[Scene Text Telescope: Text-Focused Scene Image Super-Resolution](https://openaccess.thecvf.com/content/CVPR2021/papers/Chen_Scene_Text_Telescope_Text-Focused_Scene_Image_Super-Resolution_CVPR_2021_paper.pdf)

【状态】：报名 & 提交

【repo链接】：https://github.com/Lieberk/Paddle-TextSR-STT

[2022-10-11 01:48] bixiaopeng0 opened #46875 "如何在一台机器上运行俩个分布式训练任务？"
### 请提出你的问题 Please ask your question

现在有四机32卡，想要跑2个paddledetection任务，但是当运行第二个任务的时候，第一个任务会卡住，log信息如下，并且第二个任务也启动不起来。

请问该怎么解决呢？

<img width="1144" alt="image" src="https://user-images.githubusercontent.com/31760851/194978979-16ebeda9-e53e-41c1-87ed-1576c39ad4f3.png">

[2022-10-11 02:27] jzhang533 commented on #46647
It should be this doc: https://github.com/PaddlePaddle/docs/blob/develop/docs/install/compile/linux-compile_en.md

and if you are using Mac M1 silicon, there is a simple script might be helpful:
https://github.com/jzhang533/Paddle/blob/instructions-on-build-paddle-on-mac-m1/tools/instructions_build_paddle_on_mac.sh

[2022-10-11 02:28] jzhang533 commented on #46850
在执行cmake命令之前
你可能需要先清空build目录，设置环境变量，然后重新执行cmake 和 make

[2022-10-11 03:12] jerrywgz commented on #46875
请问在单机下运行两个ppdet任务是否正常呢

[2022-10-11 03:26] qianhang1994 opened #46882 "A100上在cuda11.1环境下pip安装的paddlepaddle-gpu==2.3.2使用推理tools/infer.py，加载数据到Tensor像素值异常"
### 环境
ubuntu18.04, A100，anaconda python3.8，cuda11.1(自行安装)，paddlepaddle-gpu==2.3.2（pip安装）

### 问题
运行下面脚本，没有检测结果，debug看到图片加载dataset+transform正常（numpy），加载完毕loader转batch到Tensor上之后所有像素值都为固定值0.461，这个Tensor再转回numpy还是正常的（均值95.+）
![ba9d2aff7b33faf6850ead3cc](https://user-images.githubusercontent.com/31030676/194990062-c3941c2c-49fe-4528-94d7-bc71beee6b73.png)

### 其他
换环境自带paddlepaddle-gpu==2.3.0.post110是可

[2022-10-11 03:31] ceci3 commented on #46809
可以直接使用paddle.static.load_inference_model 把模型加载进来，然后在使用 paddle.fluid.io.save_inference_model  （https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/io_cn/save_inference_model_cn.html#save-inference-model）接口保存成paddle1.8下的模型，再按照正常转kdmodel的流程就可以了

[2022-10-11 03:33] heavengate commented on #46870
你这个应该跟Dataset没有关系，这个继承Dataset类并没有实现Dataset类的方法，只是实现了一个func，然后调用func，继承任何类这样写都能跑，应该是跟paddle无关的

[2022-10-11 03:39] wuyefeilin commented on #46882
self.inputs["image"].astype('float32').mean()看看是否正常哈

[2022-10-11 03:48] peiwenYe commented on #46850
收到，感谢～

[2022-10-11 03:53] ggbond3 commented on #46809
也就说可以使用paddle1.8 的paddle.static.load_inference_model 可以加载paddle2版本生成的静态图文件

[2022-10-11 05:33] ggbond3 commented on #46809
看了一下官方文档，1.8的paddle不能读2.3的模型啊

[2022-10-11 06:47] #28047 closed, assigned to LDOUBLEV

[2022-10-11 06:47] #33907 closed, assigned to LDOUBLEV

[2022-10-11 06:47] #36137 closed, assigned to nobody

[2022-10-11 06:47] #36206 closed, assigned to yinhaofeng

[2022-10-11 06:47] #36242 closed, assigned to littletomatodonkey

[2022-10-11 06:47] #36259 closed, assigned to joey12300, LielinJiang

[2022-10-11 06:47] #36277 closed, assigned to nobody

[2022-10-11 06:47] #36286 closed, assigned to nobody

[2022-10-11 06:47] #36293 closed, assigned to gongel

[2022-10-11 06:47] #36306 closed, assigned to gongel

[2022-10-11 06:53] luotao1 commented on #44117
close by #46813

[2022-10-11 06:53] #44117 closed, assigned to nobody

[2022-10-11 06:54] hd201708010401 commented on #41482
邮件已经收到，谢谢。I have received your email. Thank you for your letter.

[2022-10-11 06:54] JustinXu0 commented on #41482
这是来自QQ邮箱的假期自动回复邮件。你好，你的邮件我已收到，祝你生活愉快~~~

[2022-10-11 06:55] lzzzzzm commented on #41482
你发过来的邮件怎么都是乱码啊，什么都看不到，再发一次吧。

[2022-10-11 06:56] HUSTHY commented on #44981
已收到！谢谢！                          ——黄洋

[2022-10-11 06:58] lctchan commented on #40234
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-10-11 07:01] ruixu2 commented on #41482
你好！我已收到你的邮件，会尽快回复的哈~祝天天开心^^

[2022-10-11 07:03] lxk767363331 commented on #42052
很高兴您对AI Studio 的支持。关于报错的问题，还是需要框架的同学跟您讨论解决方案，如您在排查问题时需要算力支持，可通过邮件联系我们。
***@***.***
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月

[2022-10-11 07:13] Victory8858 commented on #42442
你好，我在AI Studio以及本地环境都有试过，同样的报错，paddlepaddle版本=2.2.2

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月2日(星期一) 晚上10:36
***@***.***&gt

[2022-10-11 07:20] zkh2016 commented on #46809
试下用2.3的load_inference_model把模型加载进来，然后使用1.8的save_inference_model接口保存下来？

[2022-10-11 07:33] ceci3 commented on #46809
是的

[2022-10-11 07:36] ggbond3 commented on #46809
这怎么做到在一个环境里装两个paddle版本？

[2022-10-11 08:03] softsweetengineer commented on #38807
看报错主要是来自于文件路径没被正确识别导致的，需要改一下Ernie 对应的代码，强转为字符串就行。

Daminan0919 ***@***.***>于2022年5月20日 周五下午3:03写道：

[2022-10-11 08:07] Hoonly commented on #45801
这是来自QQ邮箱的自动回复邮件。
 
您好，您的邮件我已收到，谢谢。

[2022-10-11 08:13] ZHUI opened #46899 "[需求] 请求 index_sample op 支持 fp16 kernel"
### 需求描述 Feature Description

请求，index_sample op 支持 fp16 kernel
[code]

### 替代实现 Alternatives

_No response_

[2022-10-11 08:18] wuyefeilin commented on #46899
已收到请求，我们将会尽快进行评估实现

[2022-10-11 08:19] zkh2016 commented on #46809
哈喽，确认下你2.3使用的是哪个save接口不能转成kdmodel的。 @ceci3 的意思是使用2.3的paddle就行，这个[save_inference_model](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/io_cn/save_inference_model_cn.html#save-inference-model) 接口是保留1.8版本的，可以用这个接口来保存模型。

[2022-10-11 08:20] seemingwang commented on #46815
paddle的embedding没有hash操作，输入的id=x就直接查询2维embeeding表的第x行，
所以单机情况当embedding表过大确实会比较慢。
如果词表范围过大，可以把行数设置成一个相对比较小的值N，自己把id hash到[0,N)之间再查询embedding表

另外 fluid.layers.embedding这个api已经废弃了，
可以尝试paddle.nn.Embedding

[2022-10-11 08:31] ITerydh commented on #42564
本地cuda11.2cudnn8.1.1nccl2.8.4正常运行
aistudio我就是用的默认的版本cuda10.2
cudnn7.6，我总不能拿四卡v100装cuda环境搞半天吧...算力掉的太快了

---Original---
From: "Feng ***@***.***&gt;
Date: Sun, May 8, 2022 21:26 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/Paddle] No stack trace in paddle, may be caused byexternal reasons (Issue #42564)

您好，请提供更多环境信息，本地环境和aistudio环境有什么不同，aistudio环境下以下语句是否正常运行。

[2022-10-11 08:40] casolxia commented on #22576
这是来自QQ邮箱的假期自动回复邮件。
 
您好，邮件已收到了了了了

[2022-10-11 08:58] Intsigstephon commented on #45823
旧版的是指哪个版本？，我这边想试试

[2022-10-11 08:58] wjm202 opened #46903 "使用paddle进行半监督训练，遇到问题"
### 请提出你的问题 Please ask your question

在使用paddledetection复现半监督论文Denseteacher中使用多卡训练报错，截图如下：
![816873e5d60cf19ef4afe2109794b1a2](https://user-images.githubusercontent.com/97875990/195045179-2df6f11e-b7ab-450d-9c5d-bd1e15fddb5f.png)
所建立的半监督模型里面内容如下：建立model，model中存在student，teacher两种基础模型，类似知识蒸馏（我使用的是fcos）
teacher模型不进行反向传播，student进行反向传播，teacher设置为eval（），student设置为train（）以下是我的多卡设置代码截图：
![92bf27ba17dba5e2

[2022-10-11 09:00] #46870 closed, assigned to levi131

[2022-10-11 09:00] #46850 closed, assigned to levi131

[2022-10-11 09:19] wuyefeilin commented on #46903
请问一下，单卡条件下正常吗

[2022-10-11 09:19] wjm202 commented on #46903
正常的

[2022-10-11 09:20] wjm202 commented on #46903
补充信息
![653ae67ac7fd672d8aeab07ad622a44f](https://user-images.githubusercontent.com/97875990/195050958-727fc269-5123-4e2c-bd4d-9429f0028bdb.png)
cuda版本10.1
python 3.8.8

[2022-10-11 09:24] wjm202 commented on #46903
单卡能训练，不过单卡训练时epoch输出是乱的，不知道问题出在哪

![1efa29fc271e4c7fc2a69b0bf4f6b033](https://user-images.githubusercontent.com/97875990/195051915-44ddad73-47ac-48cf-a4b3-75ceb5dee101.png)

[2022-10-11 09:28] MARKLIN1000 commented on #43557
我想这一个BERT的继承类，但不知道怎么讲参数传递进去？原先都是这一个json然后BertConfig实例化，再穿进去。

------------------ 原始邮件 ------------------
发件人: handiz ***@***.***&gt;
发送时间: 2022年6月15日 20:52
收件人: PaddlePaddle/Paddle ***@***.***&gt;
抄送: MARKLIN1000 ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle] paddle中类似BertConfig的类？ (Issue #43557)

没有类，直接集成在BertPretrainedModel中。参考：https://github.com/PaddlePaddle/PaddleNLP/blo

[2022-10-11 09:29] zhwesky2010 commented on #34220
@arogozhnikov Thanks, Are you interested in supporting paddle as the backend for einops, we have fixed the prolem mentioned above in https://github.com/PaddlePaddle/Paddle/pull/46555 . And are there any other problem?

[2022-10-11 09:31] zhwesky2010 commented on #45627
@OccupyMars2025  Thanks, Are you interested in supporting paddle as the backend for Einops?
we have fixed the prolem mentioned above in https://github.com/PaddlePaddle/Paddle/pull/46555.  And are there any other problem?

[2022-10-11 11:02] ggbond3 commented on #46809
谢谢，已经保存成功了

[2022-10-11 12:13] Birdylx commented on #46870
@heavengate ，是paddle全局注册的原因，multiprocess预期内的行为被paddle捕获https://github.com/PaddlePaddle/Paddle/issues/36281

[2022-10-12 02:11] zkh2016 commented on #46809
好的

[2022-10-12 02:11] #46809 closed, assigned to zkh2016, ceci3

[2022-10-12 02:41] Louis8582 commented on #45823
我这边 paddle 应该是2.1的版本

[2022-10-12 02:56] #46903 closed, assigned to jerrywgz, wuyefeilin

[2022-10-12 03:30] zpc-666 commented on #44501
【队名】：冲一冲队伍
【序号】：飞桨特色模型挑战赛 6
【论文】：Channel-wise Topology Refinement Graph Convolution for Skeleton-Based Action Recognition
【状态】：提交
【repo链接】：https://github.com/zpc-666/CTRGCN_Light

[2022-10-12 05:46] qili93 commented on #46548
@engineer1109 那请先使用标准的 CAPI 来解决这个问题吧，目前 Paddle 主要支持的 GCC 8.2 和 7.x 上没有遇到类似的问题，后续 Paddle 升级到9.x 支持的之后，会整体考虑功能的支持。

[2022-10-12 06:17] jingmingtao opened #46930 "请求PP-HumanSeg用大数据集+连通性loss实现视频会议下的高效人像分割的公开数据集14117数据集"
### 问题描述 Please describe your issue

您好，我怀着崇敬的心态，阅读了一篇咱们公司的论文，论文为PP-HumanSeg: Connectivity-Aware Portrait Segmentation with a Large-Scale Teleconferencing Video Dataset
想要学习复现该网络，看到有公开数据集，但是需要请求，所以特地来请求一下，能够将数据集发我一下，下载链接也可以。我的邮箱是2927786428@qq.com，万分感谢

[2022-10-12 06:19] Z-fly opened #46931 "使用Docker安装后，jupyter的用户名是什么？"
使用命令 docker run -p 80:80 --rm --env USER_PASSWD="password you set" -v $PWD:/home/paddle registry.baidubce.com/paddlepaddle/paddle:2.3.2-jupyter

[2022-10-12 06:23] Z-fly commented on #46931
默认用户名是jovyan，建议在这里注明
![image](https://user-images.githubusercontent.com/10470892/195265597-94c74a2d-e257-4beb-9944-690ccaf254b3.png)

[2022-10-12 06:58] felixhao28 opened #46936 "Paddle Inference 网站链接失效"
### 文档链接&描述 Document Links & Description

https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/infer/inference/inference_cn.html

这个页面的两个链接

点此 [安装与编译Linux预测库](https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html)

点此 [安装与编译Windows预测库](https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows)

![image](https://user-images.githubusercontent.com/

[2022-10-12 09:04] zhwesky2010 commented on #46820
@perfyperfect 你好，请问cmake命令是什么呢，另外是最新的develop代码吗，最新的我们修复了这个问题

[2022-10-12 09:24] kaaier opened #46941 "申威CPU+UOS20编译paddle报错"
### 请提出你的问题 Please ask your question

- 系统环境申威CPU+UOS20
命令： cmake .. -DPY_VERSION=3 -DPYTHON_EXECUTABLE=`which python3` -DWITH_MKL=OFF -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_PYTHON=ON -DREFERENCE_CBLAS_ROOT=${CBLAS_ROOT} -DWITH_CRYPTO=OFF -DWITH_XBYAK=OFF -DWITH_SW=ON -DCMAKE_CXX_FLAGS="-Wno-error -w"
cmake、g++版本正常
按照官方的申威CPU编译过程中，遇到报错，请问是什么原因，已采用采用blas+cblas。报错如下，：

--

[2022-10-12 11:45] Eddie-zhg opened #46945 "官网的使用指南-参数服务器-纯GPU参数服务器：给出的示例代码运行报错"
### 问题描述 Please describe your issue

[纯GPU参数服务器给出的示例链接](https://github.com/PaddlePaddle/PaddleFleetX/tree/old_develop/examples/wide_and_deep_gpups)
**train.py里面会出现下图所示的问题：**
![微信图片_20221012194235](https://user-images.githubusercontent.com/82798516/195333958-4a69c550-4267-46b9-9e2d-1240d24c898f.jpg)

-  Paddle是PaddlePaddle develop GPU版本 cuda11.2

[2022-10-12 13:09] xiehuanyi opened #46954 "使用tensor做为tensor索引出现问题"
### bug描述 Describe the Bug

我在复现Informer模型的时候遇到tensor索引问题，代码如下：
[code]
出现如下报错：
[code]
相同的用法在pytorch中是可以使用的，如果想在paddle中实现相同效果，应该如何操作？

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-10-12 13:20] bixiaopeng0 opened #46956 "基于Paddle有没有自监督或者半自监督的目标检测方法？"
### 请提出你的问题 Please ask your question

如题

[2022-10-13 01:37] zloss opened #46966 "编译提示relocation truncated to fit: R_X86_64_REX_GOTPCRELX against undefined symbol"
### 请提出你的问题 Please ask your question

编译环境： Rocky Linux 9 + cuda 11.7 + gcc 11.2
提示信息：
[code]
谷歌了好多方法都不能解决这个问题，不知道哪位大牛能帮忙分析一下？
增加编译参数 -mcmodel=large  的方法已经试过了，不起作用。

[2022-10-13 01:41] zloss commented on #46966
cmake 参数为：
cmake .. \
    -Wno-dev \
    -DWITH_MPI=OFF \
    -DWITH_PYTHON=OFF \
    -DWITH_ROCM=OFF \
    -DWITH_DISTRIBUTE=OFF \
    -DWITH_CONTRIB=OFF \
    -DWITH_GPU=ON \
    -DWITH_MKL=ON \
    -DWITH_MKLDNN=ON  \
    -DWITH_TESTING=OFF \
    -DWITH_INFERENCE_API_TEST=OFF \
    -DON_INFER=ON \
    -DCMAKE_CUDA_COMPILER=/usr/local/cuda-11.7/bin/nvcc \
    -DCUDA_ARCH_NAME=All \
    -DWITH_RC

[2022-10-13 01:43] xunyinzhe commented on #29428
我也遇到同样的问题，把 'C:\Program Files\NVIDIA\CUDNN\v8.3\bin' 添加到环境变量PATH后，问题解决。

[2022-10-13 03:28] seemingwang commented on #46931
使用paddle用户名也可以，挂载到容器目录 /home/paddle

[2022-10-13 03:43] mingxu1067 opened #46973 "Check area under the losses to replace value comparison in each step for test_mnist_pure_fp16."
### 需求描述 Feature Description

We found `test_mnist_pure_fp16` fails on Hopper architecture GPUs.
[code]

The value difference in some step is larger than torrence (1e-3), like 2.248 vs 2.252 (4e-3). However, the convergence property is almost the same from the view of curve of loss. Then, we further compare ops between Dy and St mode and find that the number and order of kernels are not exactly th

[2022-10-13 03:52] mingxu1067 commented on #46973
CC: @0x45f

[2022-10-13 04:15] ZhihaoLZH commented on #46815
@seemingwang 你好，没太理解【单机情况当embedding表过大确实会比较慢】这句话的含义。如果【输入的id=x就直接查询2维embeeding表的第x行】，时间复杂度应该是O(1)的操作？那么为什么耗时会和emb表规模有关？

[2022-10-13 04:18] mingxu1067 opened #46974 "Potential race-condition in phi::funcs::ReduceAnyKernel"
### bug描述 Describe the Bug

There are some hazards in `phi::funcs::ReduceAnyKernel` reported by `compute-sanitizer` with `racecheck` when run the UT `test_mnist_pure_fp16`.
*System information*
-PaddlePaddle version: v2.3.2
-CPU: None
-GPU:

-OS Platform: Ubuntu 20.04
-Graphics cards: Architecures of 75, 80, and 90.

*Steps to Reporduce:*
[code]
The results show there are
1. 44 hazards displayed (

[2022-10-13 04:19] mingxu1067 commented on #46974
CC: @0x45f

[2022-10-13 04:59] juncaipeng commented on #46930
感谢你的关注，我会发送下载链接到你的邮箱。 更多信息，可以参考：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.6/contrib/PP-HumanSeg

[2022-10-13 06:11] seemingwang commented on #46954
您好，可否提供一段简单的可运行的代码帮忙我们复现问题呢。 看出错提示，报错的语句并没有提供出来

[2022-10-13 06:12] jzhang533 commented on #46966
第一次看到这个问题。
有点怀疑是`-DCUDA_ARCH_NAME=All`导致要编译所有cuda架构引起的。
可以先试试关掉所有GPU的编译选项，编译一个只支持CPU的安装包，看是否还有这个问题。

[2022-10-13 06:17] ice-tong opened #46978 "A BUG of `paddle.bincount` on GPU"
### 请提出你的问题 Please ask your question

Hi, thanks for the nice project!

I got weird behavior when using `paddle.bincount` with **GPU**.

Here are my simple test code:
[code]

Got the following outputs:
[code]

[2022-10-13 06:28] seemingwang commented on #46956
https://github.com/renmada/RD4AD-paddle
这有一个异常检测相关的自监督目标检测算法 CutPast

[2022-10-13 06:48] jiweibo commented on #46936
感谢您的反馈，您可以先通过该入口访问Inference文档，我们后续pr修复下失效链接。
https://www.paddlepaddle.org.cn/inference/v2.4/guides/introduction/index_intro.html

[2022-10-13 06:55] kaaier commented on #46941
已查看相关文档、常见问题，暂未找到解决方案，请官方解答！

[2022-10-13 07:00] #46956 closed, assigned to seemingwang

[2022-10-13 07:57] seemingwang commented on #46945
使用gpups的时候，cmake编译需要开启 -DWITH_HETERPS=ON 选项

[2022-10-13 08:32] seemingwang commented on #46815
不仅仅是复杂度问题，N太大的话，embedding表也会特别大，那么存储空间不足的时候，就会引入cache命中率低的问题导致性能不足

[2022-10-13 08:44] ordin9 opened #46988 "from paddlenlp import Taskflow DLL"
### 请提出你的问题 Please ask your question

Traceback (most recent call last):
  File "G:/Py4e/知识图谱/uie_test.py", line 2, in <module>
    from paddlenlp import Taskflow
  File "G:\anaconda3\lib\site-packages\paddlenlp\__init__.py", line 24, in <module>
    from . import data
  File "G:\anaconda3\lib\site-packages\paddlenlp\data\__init__.py", line 16, in <module>
    from .data_collator import *
  File "

[2022-10-13 08:57] TinyQi commented on #32195
同问该问题，+在批量推理的时候出现了该问题。从多次测试结果来看都是发生在最后一张，是不是释放与predictor对象的时候出问题了

[2022-10-13 08:58] enkhtogtokh commented on #27842
Just upgrade your numpy. That fixed the problem.
My case numpy==1.21.0 cause some other libs needs this old version. But it fixes the problem.

[2022-10-13 09:01] #46930 closed, assigned to seemingwang

[2022-10-13 10:03] #46769 closed, assigned to YuanRisheng

[2022-10-13 10:03] xiehuanyi commented on #46954
可以的 不过现在问题已经解决了

| |
***@***.***
|
|
***@***.***
|

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年10月13日 14:11 |
| 收件人 | ***@***.***> |
| 抄送至 | Huanyi ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] 使用tensor做为tensor索引出现问题 (Issue #46954) |

您好，可否提供一段简单的可运行的代码帮忙我们复现问题呢。 看出错提示，报错的语句并没有提供出来

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this beca

[2022-10-13 10:36] parap1uie-s opened #46996 "允许Callbacks接收输入数据及模型输出"
### 需求描述 Feature Description

当前paddle.Callback仅支持读取metric，lr，loss数值等日志性记录，希望支持读取每个iter的输入数据、模型输出

参考PyTorch lighting的[实现](https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.callbacks.BasePredictionWriter.html#pytorch_lightning.callbacks.BasePredictionWriter)

[code]

### 替代实现 Alternatives

修改paddle.Model实现，增加一个缓冲区，记录forward函数的输入及输出。然后在callback中由self.model.input和self.model.ou

[2022-10-13 11:12] #46936 closed, assigned to seemingwang

[2022-10-13 12:00] #46954 closed, assigned to seemingwang

[2022-10-13 12:02] xiehuanyi commented on #46954
我通过这样的索引达到了预期的效果
[code]
貌似paddle使用tensor做索引的时候，不支持缺省。每个dimension都要写出来。

[2022-10-13 12:25] parap1uie-s opened #47000 "hAPI与模型的forward_hook不兼容"
### bug描述 Describe the Bug

目前hAPI在动态图模式下，调用模型前向运算时，直接调用了nn.Layer对象的forward方法，而绕过了__call__方法，因而绕过了hooks执行逻辑：

模型的__call__方法：

https://github.com/PaddlePaddle/Paddle/blob/a5875319fe3bdd359895f1f6a11faf21df886f88/python/paddle/fluid/dygraph/layers.py#L924-L930

hAPI Model训练实现：
https://github.com/PaddlePaddle/Paddle/blob/910e1b6a9a302dba089fe63550a10287fdb58fee/python/paddle/hapi/model.py#L714-L722

[2022-10-13 13:07] qili93 commented on #44587
hi，请问您这里使用的不是飞桨标准的GCC8.2的编译器版本对不？之前在 GCC 7.x 版本上会遇到这个问题，需要在 CMAKE 命令中加上 ` -DCMAKE_CXX_FLAGS="-Wno-error -w"` 来解决这个编译错误。

完整的 cmake 编译命令可以参考这个文档 https://www.paddlepaddle.org.cn/inference/v2.4/guides/hardware_support/cpu_phytium_cn.html

[2022-10-13 13:10] qili93 commented on #46941
hi， 您好，

Cmake 输出中`Performing Test AVX512F_FOUND - Failed` 类似这样的输出是在自动检查环境，从而选择合适的编译选项，这个不是抛错，是正常的 cmake 输出。您在问题描述里面贴的所有的 cmake 输出都是正常的，请继续等待 cmake 命令执行完成就可以。

请参考这个文档进行 https://www.paddlepaddle.org.cn/inference/v2.4/guides/hardware_support/cpu_sunway_cn.html 进行申威 CPU 的源码编译。CMAKE 执行完成之后会输出 "generate done"的提示，只要没有 ERROR 关键字就是正常的。

[2022-10-13 13:35] #42909 closed, assigned to LiuChiachi, nepeplwu

[2022-10-13 14:06] hin7141 commented on #40135
not solved yet

[2022-10-13 14:08] hin7141 commented on #40135
@singo27  how can you target a class

[2022-10-14 01:26] Baymax0525 opened #47007 "paddle在华为npu显卡安装问题"
### 问题描述 Issue Description

我是用的docker镜像是：https://hub.docker.com/r/paddlepaddle/paddle/tags?page=1&name=cann的latest-dev-cann5.0.2.alpha005-gcc82-x86_64
但是官网只提供了基于arm架构的编译方式，如下：
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/hardware_support/npu_docs/paddle_install_cn.html
由于我用的机器是x86架构，所以编译参数去掉了-DWITH_ARM=ON，
完整的编译参数是
cmake .. -DPY_VERSION=3.7 -DWITH_ASCEND=OFF -DWITH_ASCEND_CL=ON
-D

[2022-10-14 01:39] sljlp commented on #47007
这个warning在npu上可以忽略，说暂时不支持eager模式，但是一般不会影响跑程序。请问具体遇到什么错误了呢？

[2022-10-14 02:17] rainyfly commented on #45414
LogWriter的add_graph方法确实会调用paddle.jit.save方法进行动转静，可以看看在你的环境下，自己直接调用paddle.jit.save方法进行动转静是否会报错，如果不会报错的话，理论上调用add_graph方法也不会报错。

[2022-10-14 02:31] Eddie-zhg commented on #46945
您好，我不太明白如何开启 -DWITH_HETERPS=ON 选项。我应该怎么找到这个地方并开启它呢？

[2022-10-14 02:36] Asucan opened #47010 "模型save后load加载的模型 无法获取sublayer和中间输出"
### 请提出你的问题 Please ask your question

模型save后重新load sublayers是空的 无法获取中间层 只有一个TranslatedLayer
怎么才能获取中间层tensor的输出呢
<img width="563" alt="9b84d413f14f7daed4005ef3c52b7a06" src="https://user-images.githubusercontent.com/37799383/195749301-c6620f9d-8add-4e48-84a9-b7e50b6de9c3.png">

[2022-10-14 02:39] ZhihaoLZH commented on #46815
@seemingwang 也就是说查embedding表涉及cache查找的操作吗？这里的【N太大的话】有具体参考范围吗？像几十w这样的规模算【太大】吗

[2022-10-14 02:57] karottc opened #47013 "macOS(m1) java DJL 启动报错，不能链接 libpaddle_inference.dylib"
### bug描述 Describe the Bug

报错信息：ava.lang.UnsatisfiedLinkError: Can't load library: /Users/cy/.djl.ai/paddle/2.2.2-cpu-osx-aarch64/libpaddle_inference.dylib

代码如下
[code]

loadModel 的时候报错如下
java.lang.UnsatisfiedLinkError: Can't load library: /xxxx/.djl.ai/paddle/2.2.2-cpu-osx-aarch64/libpaddle_inference.dylib

	at java.base/java.lang.ClassLoader.loadLibrary(ClassLoader.java:2393)
	at java.base/java

[2022-10-14 03:01] #46931 closed, assigned to seemingwang

[2022-10-14 03:05] kuizhiqing commented on #46988
看报错在
`from scipy.linalg import _flapack`
请先确保 scipy 安装配置正确。
如果还有问题，请提供更多信息。

[2022-10-14 03:18] seemingwang commented on #46945
是这样的，官方提供的whl包，是不支持GPU参数服务器训练的。需要自己进行cmake编译，然后再安装whl包

https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html
可以参考这里，
到第9步时候，在cmake后面加上 -DWITH_HETERPS=ON 这个参数

[2022-10-14 03:23] Baymax0525 commented on #47007
/opt/conda/lib/python3.7/site-packages/paddle/fluid/framework.py:189: UserWarning: We will fallback into legacy dygraph on NPU/XPU/MLU/IPU/ROCM devices. Because we only support new eager dygraph mode on CPU/GPU currently.
  "We will fallback into legacy dygraph on NPU/XPU/MLU/IPU/ROCM devices. Because we only support new eager dygraph mode on CPU/GPU currently. "
Running verify PaddlePaddle progra

[2022-10-14 03:25] seemingwang commented on #46945
cmake ..  -DWITH_DISTRIBUTE=ON -DPY_VERSION=3.7 -DCMAKE_BUILD_TYPE=Release -DWITH_GPU=ON -DWITH_HETERPS=ON -DWITH_GLOO=ON -DWITH_FLUID_ONLY=ON
可以参考这个例子，把python版本换成自己的

[2022-10-14 03:25] sljlp commented on #47013
请@xiaoxiaohehe001 帮忙看下

[2022-10-14 03:33] sljlp commented on #47010
请问这是paddle的模型套件还是你们自己构建的模型呢？

[2022-10-14 03:37] Asucan commented on #47010
是自己搭的模型, 非框架自带模型, train模型的时候可以正常输出模型结构, 但是save再load之后就只剩下一个TranslatedLayer,
train时的结构(参数量不同是因为修改了一点点内部结构 但是整体结构未变化):
<img width="601" alt="image" src="https://user-images.githubusercontent.com/37799383/195756732-69f43f59-c4e0-4045-b68f-8b9493ef08c5.png">
save之后重新加载:
![image](https://user-images.githubusercontent.com/37799383/195756825-b25f1b90-6a26-4ebb-86fb-76a56b20574f.png)

[2022-10-14 03:43] Asucan commented on #47010
是用的是jit.save / jit.load
paddle2.2版本

[2022-10-14 05:23] sljlp commented on #47010
请@chenwhql 看下

[2022-10-14 05:48] sljlp commented on #47007
从报错日志看，No enough memory，看看是不是模型太大了呢？ 爆显存了。

[2022-10-14 06:26] chenwhql commented on #47010
jit.save是将用paddle api搭建的动态图模型转换为静态图推理用的格式之后保存下来的，这个转换和保存的过程是不可逆的，转换后无法再恢复成动态图模式，而jit.load是提供了一种加载转换后的静态图的模型并运行的方式，但并不意味着能将已经Translated的Layer恢复为正常Layer

所以如果您的需求是仍然要通过print(Layer)查看网络接口，建议您使用paddle.save(layer.state_dict())的方式仅保存参数，用paddle.load加载之后继续使用，这个过程不会对Layer本身进行translated

[2022-10-14 06:55] leeleolay commented on #45058
this weekend i test the version of paddle you pointed out with deepmd and indemnity. I will reply the result next week. Thanks for your debugging

[2022-10-14 07:06] Asucan commented on #47010
paddle.save(layer.state_dict())中的layer是指最后output的layer么? 会保留sublayer么? 还有就是能访问子层的输出么?

[2022-10-14 07:07] Asucan commented on #47010
paddle.save(layer.state_dict())中的layer是指最后output的layer么?
会保留sublayer么?
还有就是能访问子层的输出么?

[2022-10-14 07:33] luotao1 commented on #47000
close due to #47001

[2022-10-14 07:33] #47000 closed, assigned to kuizhiqing

[2022-10-14 07:53] ronny1996 commented on #47007
目前NPU支持的是ascend 910，310未适配

[2022-10-14 08:48] Baymax0525 commented on #47007
这样啊，谢谢您。我刚接触npu，能查找到的资料很少，您有哪些可以查阅的资源可以分享一下吗？谢谢啦

[2022-10-14 08:54] heavengate commented on #46996
好的，我们排一下这个需求，你这边方便的话也环境给我们贡献代码~

[2022-10-14 08:54] ouyangshixiong commented on #46563
收到，我看看

[2022-10-14 09:25] gudh commented on #44830
[mac m1 怎么安装兼容? ](https://github.com/PaddlePaddle/PaddleSpeech/issues/1714)

Wish to use `paddlespeech` for my new project, but because `paddle` doesn't support mac M1 platform, as a result, `paddlespeech` fail to run on mac m1

Wonder if mac m1 will be supported in the near future, any updates?

Anyway, thanks for building this framework!

[2022-10-14 09:46] m828 commented on #39637
很奇怪，我尝试换成这个，能够部署在Windows下，在Linux下跑的模型不能够用tensorrt加速推理，将其权重搬到Windows下，可以推理成功，但是Windows不支持benchmark，不能够计算fps

[2022-10-14 09:52] m828 commented on #39637
两边都是2.3.2.post112，tensorrt为8.2.5

[2022-10-14 10:07] parap1uie-s commented on #46996
目测这个改动比较大，涉及paddle.Model和Callbacks，对框架其余部分的影响未知。建议建立一个专项来评估，而不是依赖个人贡献。

[2022-10-14 10:23] an1018 commented on #46252
请问解决了吗

[2022-10-14 10:51] jjrCN commented on #46252
解决了

[2022-10-14 11:11] #46214 closed, assigned to an1018, tink2123

[2022-10-14 12:11] qyhboy opened #47031 "paddle2.3不能import pandas1.1"
### bug描述 Describe the Bug

import paddle
import pandas

### 其他补充信息 Additional Supplementary Information

pandas必须在paddle之前引，不然报错

C:\ProgramData\Anaconda3\envs\paddle2\lib\site-packages\setuptools\_distutils\version.py:346: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  other = LooseVersion(other)
C:\ProgramData\Anaconda3\envs\paddle2\lib\site-packa

[2022-10-15 02:53] OccupyMars2030 commented on #46622
@leo0519 I'm very sorry that I decide to give up solving this issue because of my personal reasons. I'm a developer from the PaddlePaddle community. There should be another developer  to follow up this issue. You can keep an eye on the progress. 2022/10/15 11:00

[2022-10-15 14:30] ffitio commented on #47013
OS: MacOS Monterey 12.4, CPU: M1 Max, JDK Version: 17
has the same error

[2022-10-15 16:14] Cross2pro opened #47038 "PaddleSeg 训练报错 FatalError: `Segmentation fault` is detected by the operating system."
### 请提出你的问题 Please ask your question

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
No stack trace in paddle, may be caused by external reasons.

----------------------
Error Message Summary:
----------------------
FatalError: `Segmentation fault` is detected by the operating system.
  [TimeInfo: *** Aborted at 1665849747 (unix

[2022-10-16 05:59] kaaier commented on #46941
谢谢，报错后续是有Error，我尽快重新上传下截图，感谢您的答复！

[2022-10-16 07:51] zsy0828 opened #47039 "关于from_dlpack"
### 请提出你的问题 Please ask your question

当使用cupy和paddle相结合是，在每个batch中，我都会将cupy的数据通过from_dlpack(a.toDlpack())转换，其中a是cupy.ndarray。
但是这样做会导致内存直接占用爆炸，即在batch结束后，不会自动的删除未使用的部分（我认为是这样的），请问，如何避免出现这种情况，谢谢.
注：pytorch和tensorflow均不会出现这样的情况

[2022-10-16 14:47] devopsmi commented on #43908
各位大佬们，不要一个问题，多次出现嘛，想说爱你不容易啊

[2022-10-17 01:32] #46252 closed, assigned to nobody

[2022-10-17 02:06] juncaipeng commented on #47038
没有详细报错信息，无法看出具体错误。
建议先参考paddleseg的文档，把quick start执行一下，检查安装的环境是否ok。估计是环境安装问题

[2022-10-17 02:55] luochenghonggithub opened #47052 "切片慢"
### 请提出你的问题 Please ask your question

你好，我有一个复杂的切片操作使用paddle会很慢，而使用pytorch和numpy却很快。由于右值存在梯度所以不能使用numpy进行操作，有什么好的办法让速度快点吗？
代码如下：
[code]

[2022-10-17 03:20] Baymax0525 commented on #47007
我在ascend 910安装paddle成功了，但是提示不支持动态图（only support new eager dygraph mode on CPU/GPU）
[code]

[2022-10-17 03:40] WorgenZhang commented on #47039
您好，正在询问相关开发接口人员中，请您稍等。

[2022-10-17 03:45] zsy0828 commented on #47039
`import os
os.environ['CUDA_VISIBLE_DEVICES'] = '1'

import cupy as cp
from paddle.utils.dlpack import from_dlpack
import paddle

def test1():
    # paddle is same as cupy, it's cudaplace number will change by CUDA_VISIBLE_DEVICES
    for i in range(1000):
        a = paddle.rand((1000000, 602), dtype=cp.float32)
        print(a.place)
def test2():
    with cp.cuda.Device(0):
        # why !!, dlp

[2022-10-17 04:09] zgpnuaa commented on #44668
Paddle 2.4会支持ubuntu 22.04吗，预计什么时候发布啊。

[2022-10-17 05:40] tjdster opened #47057 "内存泄漏"
### 请提出你的问题 Please ask your question

cuda 版本cuda10.2，cudnn7.6，推理模型PaddleX-develop，检测任务 实例分割
用官方damo 执行推理过程 cpu内存一直增长,是否存在内存泄漏

[2022-10-17 06:08] peiwenYe opened #47058 "Paddle2.2.2 expand算子"
### 请提出你的问题 Please ask your question

请问paddle2.2.2版本支持expand算子吗？
注意到直接通过paddle.expand接口调用的是expand_v2算子，在2.2.2中也没有找到layerhelper注册expand算子的代码，请问2.2.2是否已经不支持expand算子了。

[2022-10-17 06:15] zloss commented on #46966
修改 -DCUDA_ARCH_NAME=Maxwell 就可以正常编译了。
的确是-DCUDA_ARCH_NAME=All的引起问题。
还有一个在编译过程中遇到的提示： 使用All参数的时候，在生成libpaddle_inference.so的时候会链接大量的文件，如果ulimit -n 设置是默认的1024的话，会导致另一个错误提示，Too many files opened. 因此需要设置ulimit -n 65535 ，

[2022-10-17 06:21] 0x45f commented on #46973
After discussion, we thought that the original method of checking losses was better, so I submitted PR to increase atol：https://github.com/PaddlePaddle/Paddle/pull/46984

[2022-10-17 06:35] RussiaVk opened #47059 "可否发布pypy版本的paddlepaddle-gpu whl包？"
### 需求描述 Feature Description

需要用pypy运行PaddleOCR。

### 替代实现 Alternatives

你好，我用pypy构建Paddle后运行报错：

[https://github.com/PaddlePaddle/Paddle/issues/45947](url)

我看到www.paddlepaddle.org.cn只有cpython版本whl包，可否新增发布paddlepaddle-gpu 的whl包？

[2022-10-17 06:41] #46563 closed, assigned to zhaoyinglia

[2022-10-17 07:21] wuhuachaocoding commented on #47058
您好，2.x的几个版本中，paddle.expand接口内部调用的一直是expand_v2算子。请问您在使用paddle.expand API时，存在什么问题吗？如果有，辛苦把复现代码或需求写一下。

[2022-10-17 07:47] #47057 closed, assigned to wuhuachaocoding

[2022-10-17 07:57] leeleolay commented on #45058
@tsocha I have virified the demo with PADDLE SHA: e1e0deed64 ，it works well. Thanks for your effort.
From the ISSUE you mentioned here, I guess the reason is that the activation_kernel of mkldnn from Fluid to PHI?

[2022-10-17 08:46] peiwenYe commented on #47058
您好～我暂时没有在应用中遇到问题。只是注意到expand和expand_v2实现存在差别，expand的参数shape和expand_v2的参数expand_times表示的意义是不同的，我是想确认paddle2.2.2中是否已经不支持expand算子了。

[2022-10-17 09:00] momozi1996 opened #47064 "[Call for Contribution] Tutorials for PaddlePaddle ——— issue 链接"
### 问题描述 Please describe your issue

# [Call for Contribution] Tutorials for PaddlePaddle
## 基于飞桨的应用实践：建设
### 第一期任务 🎺

负责人：莫琰 [momozi1996](https://github.com/momozi1996)

# 【参与者-选题方式】
- <u>**方式一**</u>：**列表选题**，见招募列表（提供了选题方向、题目、优秀的对标项目、文章和代码，以供学习）。
- <u>**方式二**</u>：**自选题目**，对于非参考列表内的题目，可自主命题，需要与负责人 [momozi1996](https://github.com/momozi1996) 讨论后决定题目。

# 【题目认领】
为避免重复选题、知晓任务状态、方便统计管理，请根据如下操作认领您的题目。
*

[2022-10-17 09:39] qianhang1994 commented on #46882
@wuyefeilin 抱歉处理些事情没及时看回复

这样输入仍然是错误的
![infoflow 2022-10-17 17-31-33](https://user-images.githubusercontent.com/31030676/196143071-fa04e5d8-5aba-4f62-935a-81a6f296bb68.png)
并且如果不是print，直接在debug console多次执行这句话，结果每次都不一样：
![infoflow 2022-10-17 17-33-26](https://user-images.githubusercontent.com/31030676/196143314-6c9f83f9-a0f3-4d9f-8262-64be7e0f353c.png)

应该是pip自动安装的paddle版本问题吧？
paddlepaddle_gpu-2.3.

[2022-10-17 09:51] zsy0828 commented on #47039
而且，paddle的dataloader是不是内存泄漏啊，咋epoch一多，直接OOM了, loader里面啥都没有，也会oom

[2022-10-17 11:28] Asucan commented on #47010
按此方法尝试, 不能正常使用预测功能, 辛苦提供下demo

[2022-10-17 12:01] tsocha commented on #45058
This issue is already fixed on develop(one pass was broken): https://github.com/PaddlePaddle/Paddle/issues/45058#issuecomment-1266617198
This issue is probably caused by demo or deep_md data(I'm not sure about that): https://github.com/PaddlePaddle/Paddle/issues/45058#issuecomment-1269876611

The original one was caused by two options:
- tanh_grad kernel was lost during migration to phi.
- CPU ref

[2022-10-17 12:23] chenwhql commented on #47010
您是要存下来，在不依赖源码的前提下进行预测吗？paddle.save(layer.state_dict())是需要依赖源码的

[2022-10-17 16:12] gouzil opened #47078 "关于环境支持的展示"
### 需求描述 Feature Description

在官网的安装指南和paddle的readme中添加受支持的表格以供维护和参考, 实现方法类似于下面的示例
|    System    | CPU (32bit) | CPU (64bit) | GPU (32bit) | GPU (64bit) |
|:------------:|:-----------:|:-----------:|:-----------:|:-----------:|
| Linux (GCC7) | ![](https://img.shields.io/badge/build-passing-brightgreen.svg?style=flat)|![](https://img.shields.io/badge/build-passing-brightgreen.svg?style=flat)| - |

[2022-10-17 16:17] gouzil commented on #47078
#47079

[2022-10-18 00:50] yuwoyizhan opened #47081 "同一时刻,只能运行一个飞桨模型吗?如果运行多个飞桨模型,会触发底层cuda报错?"
### 请提出你的问题 Please ask your question

1.今天看了一篇文章,里面写的内容,大概是说,同一时刻,只能运行一个飞桨模型,同时运行多个飞桨模型,会触发底层cuda报错,我不知道这个说法是否正确,想来问问各位大佬.
我指的是,windows系统,准确说,python3.9.13,64位windows11系统,cuda10.2或cuda11.2.使用Paddle Inference飞桨原生推理库,C++语言推理,使用NVIDIA的GPU或AMD的CPU推理.
2.windows以前不支持单机多卡训练,好像根本原因是windows不支持NCCL,请问现在windows支持单机多卡训练吗?支持分布式训练吗?如果不支持的话,有计划推进吗?毕竟windows的使用人数比Linux多几十倍.我用了20年windows,从来没用过Linux和Macos.据我了解,pytor

[2022-10-18 01:38] wuhuachaocoding commented on #47058
您好，2.2.2版本中，对外API是expand_v2,  expand op还在，具体参考https://github.com/PaddlePaddle/Paddle/blob/v2.2.2/paddle/fluid/operators/expand_op.cc

[2022-10-18 02:24] #46882 closed, assigned to wuyefeilin

[2022-10-18 02:32] sljlp commented on #47007
新动态图模式在NPU上尚未支持，但是也可以使用旧动态图正常使用paddle训练，请问有没有遇到具体报错呢？

[2022-10-18 02:38] Baymax0525 commented on #47007
没有报错，只是训练时间与在CPU上一样长。npu-smi info查询显卡使用情况如下
[code]

[2022-10-18 02:59] adaxiadaxi opened #47084 "PaddleOCR中DBNet 训练精度问题"
### bug描述 Describe the Bug

- 系统环境/System Environment：docker pull registry.baidubce.com/paddlepaddle/paddle:latest-dev
- 版本号/Version：Paddle：2.3.1  PaddleOCR： develop分支
- 运行模式：静态图，参考代码：https://gitee.com/paddlepaddle/PaddleOCR/blob/develop/tools/train.py?from_wecom=1 （p.s 因为动态图转静态图工具有问题，因此直接运行静态图版本）
- 单机单卡
- 完整报错/Complete Error Message：

- V100上: hmean≈0.67，precision≈0.75，recall≈0.59，hmean应该可以接近0.70

[2022-10-18 03:16] bixiaopeng0 opened #47085 "paddledetection里如何注册一个新的dataset"
### 请提出你的问题 Please ask your question

我没有用官方默认的TrainDataset，参考官方的TrainDataset config文件新建了一个XXXTrainDataset，但是运行的时候提示
“AssertionError: the module XXXTrainDataset is not registered”，请问该怎么改呢？

[2022-10-18 03:17] sljlp commented on #47007
在程序开始时调用 paddle.device.set_device("npu")

[2022-10-18 03:31] firestonelib commented on #47085
一般步骤：
1.在 ppdet/data/source 下创建自定义 dataset python 文件
2.为自定义的 Dataset 类添加register注册，可参考：https://github.com/PaddlePaddle/PaddleDetection/blob/7fb2318a4f272a78ec1e4344abd1758735fce8d3/ppdet/data/source/coco.py#L24
3.在 ppdet/data/source/__init__.py 中导入自定义 Dataset 即可

[2022-10-18 04:19] Baymax0525 commented on #47007
我用的paddleseg测试的，增加了--device=npu,显卡的确在使用，但是训练时间还是没有减小。我用的是paddle2.3编译安装的，请问和版本有关系吗？
`python train.py --config configs/quick_start/pp_liteseg_optic_disc_512x512.yml --device=npu --iters 6000 --do_eval --save_interval 20 --save_dir output/pp_liteseg_optic_disc`
[code]

[2022-10-18 06:44] #25118 closed, assigned to nobody

[2022-10-18 06:44] #34493 closed, assigned to zhupengyang

[2022-10-18 06:44] #36037 closed, assigned to pangyoki

[2022-10-18 06:44] #36050 closed, assigned to pangyoki

[2022-10-18 06:44] #36170 closed, assigned to nobody

[2022-10-18 06:44] #36308 closed, assigned to gongel

[2022-10-18 06:44] #36318 closed, assigned to gongel

[2022-10-18 06:44] #36324 closed, assigned to nobody

[2022-10-18 06:44] #36346 closed, assigned to nobody

[2022-10-18 06:44] #36352 closed, assigned to nobody

[2022-10-18 06:44] #36357 closed, assigned to nobody

[2022-10-18 06:44] #36359 closed, assigned to nobody

[2022-10-18 06:44] #36367 closed, assigned to nobody

[2022-10-18 06:44] #36389 closed, assigned to zh794390558

[2022-10-18 06:44] #36395 closed, assigned to zh794390558

[2022-10-18 06:44] #36401 closed, assigned to zh794390558

[2022-10-18 06:44] #36403 closed, assigned to zh794390558

[2022-10-18 06:44] #36410 closed, assigned to zh794390558

[2022-10-18 06:44] #36437 closed, assigned to zhiboniu

[2022-10-18 06:44] #36440 closed, assigned to zhiboniu

[2022-10-18 06:45] #36458 closed, assigned to yingyibiao

[2022-10-18 06:45] #36470 closed, assigned to yingyibiao

[2022-10-18 06:45] #36476 closed, assigned to yingyibiao

[2022-10-18 06:51] zhangxin81 opened #47094 "||条件前后一样"
https://github.com/PaddlePaddle/Paddle/blob/940d8f253239a74e0812faf9a80f60d5c39ebedd/paddle/fluid/inference/analysis/passes/ir_params_sync_among_devices_pass.cc#L127

[2022-10-18 06:56] iamWHTWD opened #47096 "因PR：https://github.com/PaddlePaddle/Paddle/pull/47036 导致PaddleSlim单测test_merge.py failed"
### bug描述 Describe the Bug

AttributeError: 'str' object has no attribute 'decode'
![image](https://user-images.githubusercontent.com/28421344/196357673-a9f7eaf4-fe05-4a9e-9cc7-d71fc4ee6038.png)

复现步骤：
git clone https://github.com/PaddlePaddle/PaddleSlim.git
cd PaddleSlim/tests
python test_merge.py

### 其他补充信息 Additional Supplementary Information

related https://github.com/PaddlePaddle/Paddle/pul

[2022-10-18 07:19] SigureMo commented on #47096
抱歉这里当时这一个是没有单测没有覆盖到的，因此是根据框架内上下文修改的（仅仅传递 bytes），未考虑到依赖于主框架的套件的用法（传递了 str），这里已经做出了兼容性处理，和原有行为保持一致

目前已经在 #47097 做了修复

[2022-10-18 07:59] juncaipeng commented on #38531
Please update the paddlepaddle to 2.3

[2022-10-18 07:59] #38531 closed, assigned to smallv0221

[2022-10-18 08:00] #47085 closed, assigned to firestonelib

[2022-10-18 09:26] bixiaopeng0 opened #47109 "当网络使用DataParallel后，如何调用模型里的方法？"
### 请提出你的问题 Please ask your question

例如
model = DataParallel(model)
a = model.backbone ()
会提示报错“AttributeError: 'DataParallel' object has no attribute backbone”

[2022-10-18 09:33] boly0110 commented on #45566
【队名】：boly

【序号】：兴11

【论文】：[TS2Vec: Towards Universal Representation of Time Series](https://arxiv.org/abs/2106.10466)

【状态】：报名 & 提交

【repo链接】：https://github.com/boly0110/ts2vec_pp.git

[2022-10-18 09:49] #44075 closed, assigned to yaomichael, wozna, lidanqing-vv

[2022-10-18 09:52] #41019 closed, assigned to wuhuachaocoding

[2022-10-18 09:56] firestonelib commented on #47109
model = DataParallel(model)
model_s = model._layers
a = model_s.backbone ()

[2022-10-18 09:58] bixiaopeng0 commented on #47109
thanks

[2022-10-18 09:58] #47109 closed, assigned to firestonelib

[2022-10-18 10:03] firestonelib commented on #47094
感谢反馈，我们已确定问题，稍后贴出pr

[2022-10-18 10:22] engineer1109 opened #47113 "Inference Lite模式 添加OpenCL启用接口"
### 需求描述 Feature Description

**任务目标:**
在WITH_LITE=ON 的编译选项下，开启OpenCL模式，原本只有CPU模式。
**需求场景:**
企业合作内容
**功能描述:**
Inference Lite模式 添加OpenCL启用接口， 在WITH_LITE=ON 的编译选项下，开启OpenCL模式，原本只有CPU模式。

添加接口 AnalysisConfig::EnableLiteOpenCLEngine()
以及其他若干结构体变量

**实现Code （请求Merge)**
https://github.com/PaddlePaddle/Paddle/pull/47112

### 替代实现 Alternatives

_No response_

[2022-10-18 10:45] singo27 commented on #40135
You need implement class.__call__

[2022-10-18 11:24] seemingwang commented on #46578
已经修复

[2022-10-18 12:58] chenwhql commented on #47010
经过沟通已解决当前的使用问题，先close

[2022-10-18 12:58] #47010 closed, assigned to sljlp

[2022-10-18 13:01] ZHUI commented on #46578
Add embedding range check https://github.com/PaddlePaddle/Paddle/pull/46991

[2022-10-18 14:05] zjliu-cs opened #47124 "Normalize()出错"
### 请提出你的问题 Please ask your question

错误信息:
[code]

[code]

[code]

[2022-10-18 14:07] zjliu-cs commented on #47124
按源码看似乎是由于`img = (img - mean) / std`这一步出错，mean和std与img的尺寸不符合，但是这不是已经设置好的吗？

[2022-10-18 15:15] SigureMo commented on #47124
加个 [Transpose](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/Transpose_cn.html) 试试

[code]

[2022-10-19 01:46] Li-fAngyU commented on #45566
【队名】：lfy

【序号】：兴15

【论文】：[Scene Text Telescope: Text-Focused Scene Image Super-Resolution](https://openaccess.thecvf.com/content/CVPR2021/papers/Chen_Scene_Text_Telescope_Text-Focused_Scene_Image_Super-Resolution_CVPR_2021_paper.pdf)

【状态】：提交

【repo链接】：https://github.com/Li-fAngyU/scene-text-telescope

[2022-10-19 01:50] zyx2095 opened #47129 "paddle对于CUPTI的调用"
### 请提出你的问题 Please ask your question

paddle中调用的CUPTI的接口是否都在cupti.h，还有用到其他的接口吗？
 __macro(cuptiActivityEnable);               \
  __macro(cuptiActivityDisable);              \
  __macro(cuptiActivityRegisterCallbacks);    \
  __macro(cuptiActivityGetAttribute);         \
  __macro(cuptiActivitySetAttribute);         \
  __macro(cuptiGetTimestamp);                 \
  __macro(cuptiActivityGetNextRec

[2022-10-19 02:24] #47096 closed, assigned to luotao1, SigureMo

[2022-10-19 03:09] Eddie-zhg opened #47130 "分布式训练，在脚本里设置了IP和端口信息，但是日志里显示得IP是127.0.1.1"
### 请提出你的问题 Please ask your question

采用两台机子本地部署分布式训练，两台机子使用网线连接起来的，是通的。运行的示例是wide_and_deep_dataset里的文件。
在train.py脚本里，进行下图所示的IP和端口设置：
![2022-10-19 10-38-24屏幕截图](https://user-images.githubusercontent.com/82798516/196587984-795132a4-db79-498a-a097-3a08a3dbd321.png)

日志里显示的如下图所示，endpoint：127.0.1.1：
![Inked2022-10-19 10-39-15屏幕截图](https://user-images.githubusercontent.com/82798516/196588257-fd986722-b

[2022-10-19 03:13] adaxiadaxi opened #47131 "关于padlde编译执行的问题"
### 请提出你的问题 Please ask your question

请教下paddle同事，用下图图1这种编译和执行方式，编译出来的程序应该是和输入的program逻辑严格一致的吧，会出现额外添加一些类似于dropout等之类的动作嘛？
![63e3f5565ab2087f33c6327299f6992](https://user-images.githubusercontent.com/58928121/196588872-14f7faa1-a3b3-439f-b2fd-9ce60cae4188.png)

[2022-10-19 03:35] GuoxiaWang commented on #47131
@adaxiadaxi 是的，理论上，输入的图和编译后的图，执行结果应该是等价的。

[2022-10-19 04:52] Li-fAngyU opened #47143 "[CodeStyle] Compiler Warning tracking issue"
# 项目说明
用于跟踪 [Call-for-Contributions: 编译 warning 消除计划](https://github.com/PaddlePaddle/community/blob/master/pfcc/call-for-contributions/code_style/code_style_compiler_warning.md) 并记录该计划下各个子任务的计划和进度。

# 项目初始状态
目前 Paddle 在 Linux, Mac, Windows 上存在许多 warning，其中大部分是有第三方库引入。去除掉第三方库的影响，在 Linux, Mac, Windows 上分别存在 40, 743, 8 条 warning 记录。

* 推进方案：对现有的 warning 进行分类修复，然后修复隐藏的 warning, 修复完一类 warning 后将该类 war

[2022-10-19 05:01] wangzhen38 commented on #47130
IP端口设置，可以参考下，https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/distributed/launch_cn.html
另外，新版本不用设端口号，自动检测的

[2022-10-19 05:11] zjliu-cs commented on #47124
谢谢 解决了

[2022-10-19 05:11] #47124 closed, assigned to firestonelib

[2022-10-19 05:14] chenwhql commented on #47129
应该是的，paddle中使用cupti的接口是通过这种动态加载的方式去使用的，如果需要使用其他接口，应该需要在这里声明加载

[2022-10-19 06:30] engineer1109 opened #47149 "Merge 45998 undefined reference error -DWITH_DISTRIBUTE=OFF"
### bug描述 Describe the Bug

链接libpaddle.so出现问题
 undefined reference to `paddle::pybind::StopWorker(pybind11::module*)'
[code]

原因引起：
https://github.com/PaddlePaddle/Paddle/pull/45998/

这个PR 有BUG。
[paddle/fluid/pybind/pybind.cc](https://github.com/PaddlePaddle/Paddle/pull/45998/files#diff-1cdfe6caa167897c1f8541253ef44dddd0e60d4818a296c240ea4d3dab4a9e80)
Line 2611

[code]
这段代码需要在 -DWITH_DISTRIBUTE=O

[2022-10-19 06:31] engineer1109 commented on #47149
@Ningsir https://github.com/PaddlePaddle/Paddle/pull/47026 这里你是修复了没

[2022-10-19 06:49] luotao1 commented on #47113
请 @qingqing01 @leiqing1 帮忙看下

[2022-10-19 06:52] LiYuRio commented on #47149
麻烦拉一下这个 #47026，里面修复了这个问题

[2022-10-19 06:56] #47129 closed, assigned to GuoxiaWang

[2022-10-19 07:12] mrcx-pku opened #47157 "请问有没有api可以获取数据中特定值的下标索引 或者可行的方法？"
### 请提出你的问题 Please ask your question

例如
label = fluid.layers.data(
          name="predict", shape=[5], dtype="int64")
# label = [1,2,2,1,1]
想得到label中为2的下标，即输出[1,2]

感谢！

[2022-10-19 07:20] Rokcy-Lucky opened #47158 "推理模型文件中的存储格式NCHW改为NHWC"
### 请提出你的问题 Please ask your question

如何将paddle推理模型文件中的存储格式NCHW改为NHWC

[2022-10-19 07:23] Eddie-zhg commented on #47130
参看后更改了启动命令，出下面的问题了，这个是哪里出错了？
$ python -m paddle.distributed.launch --servers="169.254.60.61:36011" --workers="169.254.94.75:36011" train.py --lr=0.01
LAUNCH INFO 2022-10-19 15:12:10,743 -----------  Configuration  ----------------------
LAUNCH INFO 2022-10-19 15:12:10,744 devices: None
LAUNCH INFO 2022-10-19 15:12:10,744 elastic_level: -1
LAUNCH INFO 2022-10-19 15:12:10,744 elastic_timeout: 30
LAU

[2022-10-19 07:32] #47157 closed, assigned to GuoxiaWang

[2022-10-19 07:40] engineer1109 opened #47162 "undefined reference to `paddle::experimental::add(paddle::experimental::Tensor const&, paddle::experimental::Tensor const&)"
### bug描述 Describe the Bug

对于 #include "paddle/phi/api/include/api.h" 里面的函数
例如paddle::experimental::add
在libpaddle.so 有符号  但是在libpaddle_inference.so 没有符号

gcc有一个规定，链接静态库，如果不使用静态库中的符号，则不会导出

于是会 undefined reference to `paddle::experimental::add(paddle::experimental::Tensor const&, paddle::experimental::Tensor const&)

我不知道libpaddle.so 哪里做了什么导出了这些符号，
我如果想在paddle_inference导出 这些符号，应该做什么（以前是能导出的）

###

[2022-10-19 07:40] Eddie-zhg commented on #47130
目前的情况是，本地部署两台机子，一台当server，一台当worker，进行PS分布式训练。

[2022-10-19 07:41] zsy0828 commented on #46788
你好，我大概看了一下，paddle的，好像spwan直接用的是torch的.......

[2022-10-19 07:43] engineer1109 commented on #47162
都在libphi_function_api.a 里面

[2022-10-19 08:21] wangzhen38 commented on #47130
可以参考下这个[ISSUE](https://github.com/PaddlePaddle/Paddle/issues/34533) ～

[2022-10-19 08:26] sunny371 opened #47170 "训练时直接操作参数导致训练变慢"
### 请提出你的问题 Please ask your question

paddle version 2.2.2, 动态图
model训练中，维护一个model的exponential moving average，伪代码如下：
问题：加入update_ema_model后，训练的速度约为原来的1/2-1/3。尝试了在此基础上额外加入注释部分的consist loss，速度不会更慢。可见主要是update_ema_model使得速度降低，这是什么原因呢？

[code]

这种直接操作model参数使得速度变慢的现象在我另一个实验中也有出现。另一个实验是在基础loss上加了一个loss，目标是使当前model的参数值趋近于给定的tensor，该loss定义如下，速度也是大约是原来的1/2-1/3
[code]

[2022-10-19 08:34] chenwhql commented on #47162
是以前能用，现在不能用了吗？

[2022-10-19 08:38] engineer1109 commented on #47162
@chenwhql 是的，以前有ABI导出来的，现在的没有了

[2022-10-19 08:38] GuoxiaWang commented on #47170
这个问题是由于 `ema_param_value.set_value(new_ema)` 比较慢导致的。

[2022-10-19 08:39] engineer1109 commented on #47162
nm libpaddle_inference.so | grep N6paddle12experimental3add  无结果
nm libpaddle_inference.a | grep N6paddle12experimental3add  有结果

[2022-10-19 08:39] chenwhql commented on #47162
用的哪个版本的paddle，求发个demo我试试

[2022-10-19 08:39] zsy0828 opened #47171 "关于from_dlpack"
### bug描述 Describe the Bug

将dlpack的数据循环传入paddle的Tensor，不会释放内存， torch，tensorflow均不会出现该问题

[code]

### 其他补充信息 Additional Supplementary Information

paddle-gpu == 2.3.2
cupy == 11.2
torch == 1.10.0 / 1.12.0
cuda 11.2 / 11.6
GPU ： 3090/ 1080Ti
Ubuntu 1804

[2022-10-19 08:40] JZZ-NOTE commented on #47158
你好呀，请问转化的需求是什么呢？如果转换了没有相应的kernel支持，也是没办法运行的。

[2022-10-19 08:51] sunny371 commented on #47170
@GuoxiaWang  谢谢回复！ 那这个问题有什么方法可以解决吗？或者说可以用什么其他的操作达到同样的目的。
另外，下面这个函数里并没有set_value操作，为什么同样会导致训练很慢呢？

[2022-10-19 09:02] Eddie-zhg commented on #47130
你好，参考了试了一下。
![屏幕截图 2022-10-19 164751](https://user-images.githubusercontent.com/82798516/196643142-802a0355-916a-460e-8403-a79d7536994f.png)
按照图中1方案来运行，结果还是报一样的错。
按照2来，export POD_IP=169.254.60.61 （这个是我server的ip），server端能正常运行，一直卡在下图步骤，ctrl+c结束。
![2022-10-19 16-53-08屏幕截图](https://user-images.githubusercontent.com/82798516/196645063-3c189740-737d-4392-9460-bb1b1a169eec.png)
在worker端类似的进行，export POD_I

[2022-10-19 09:03] jiahy0825 opened #47173 "[MKLDNN] Will squeeze, reshape, and flatten mkldnn kernels be enabled in fluid in the near future?"
### 请提出你的问题 Please ask your question

`Squeeze`, `reshape`, and `flatten` mkldnn kernels are registered in `fluid` (See `fluid/operators/mkldnn/reshape_mkldnn_op.cc line 427-522`). But they can never be called because `GetExpectedKernelType` lost corresponding kernel selection codes.

Will `squeeze`, `reshape`, and `flatten` mkldnn kernels be enabled in fluid in the near future? Or can they be del

[2022-10-19 09:04] firestonelib commented on #47084
https://github.com/PaddlePaddle/PaddleOCR/issues/7972

[2022-10-19 09:07] engineer1109 commented on #47162
@chenwhql
[code]
可以让phi_function_api 导出

[2022-10-19 09:12] chenwhql commented on #47162
或者你可以直接提个PR，我找inference的同学看看？

[2022-10-19 09:13] Rokcy-Lucky commented on #47158
你好！我也是本集团员工，将数据转化为NHWC格式可以提高运行效率，该项目对fps要求较高。请问paddle这边是否有对应的工具或者接口将推理模型文件中的存储格式NCHW改为NHWC？谢谢！

[2022-10-19 09:14] Eddie-zhg commented on #47130
补充一张图，是server端卡住按ctrl+c结束后的反馈内容
![2022-10-19 17-09-39屏幕截图](https://user-images.githubusercontent.com/82798516/196649535-0e307144-e9f3-4620-a461-279f0aad0024.png)
有一个疑问，这个是server处于在等待worker的状态吗？

[2022-10-19 09:21] GuoxiaWang commented on #47170
这倒是有优化，就是把这些tensor fuse 成一个大的tensor，只执行一次操作速度几乎无损。但是这个改起来有点麻烦。

本质原因是那要执行的那一串数值几算比较慢，当named_parameters 的元素比较多的时候，会for循环这么多次，速度直线下降。

[2022-10-19 09:30] zhwesky2010 commented on #47081
1. 问题一：对于Windows的卡，同一张GPU卡上同时跑多个CUDA进程，可能会发生显存不足、cuda线程忙碌 导致失败的一些问题，可能不稳定。在Linux上，nvidia针对GPU卡专门提供了一种nvidia-mps的技术，就是为解决这个问题，具体可以去研究下nvidia-mps技术；CPU没有这个问题。

3. 问题三：目前还没有支持，内部尚无这种型号显卡

[2022-10-19 09:46] GuoxiaWang commented on #47171
问题已收到，相关同学会跟进

[2022-10-19 10:24] raoyutian opened #47179 "2.3.1版本之后paddle_inference.dll的BUG"
### bug描述 Describe the Bug

C++代码：
问题1：
paddle_infer::Config config;
config.DisableGlogInfo();//该方法，在2.3.1及以后无效，日志并没有禁用。2.2.2版本可以。
问题2：
PaddleOCR调用2.3.1及以后的paddle_inference.dll版本，速度明显比2.2.2版本慢，约慢20%左右
代码均采用PaddleOCR的C++示例代码。
以上问题均在CPU环境下对比。
本机环境：
win10专业版，CPU core(TM)i7-1165G7 2.8GHz,
软件环境：
opencv4.1.1，C++版
PaddleOCR2.5与2.6版本，编译出来的文件，替换paddle_inference.dll不同版本，均出现上述问题。

### 其他补充信息 Additional Suppl

[2022-10-19 11:08] JZZ-NOTE commented on #47158
那可以在如流上沟通，jingzhuangzhuang。现在应该没有这样的工具，因为转换完之后，没法推理。

[2022-10-19 11:16] sfraczek commented on #47173
@jakpiase

[2022-10-19 11:31] JZZ-NOTE commented on #47179
你好呀，可以试试最新的版本 2.4.0 吗

[2022-10-19 12:03] yuwoyizhan commented on #47081
@zhouwei25 你的意思是,windows上运行飞桨推理模型,无论是NVIDIA显卡,还是AMD CPU,最好都是同时只运行一个模型,不要同时在一张NVIDIA显卡上运行多个飞桨推理模型?不要在同个CPU上运行多个飞桨推理模型?是这意思吗?
请问大佬,据我所知,多数人使用windows,而不是Linux,请问飞桨打算完善一下,让windows可以同时运行多个推理模型吗?
我了解到,pytorch和libtorch在某种程度上,某些领域,已经支持4090显卡了,至少有不少模型在4090显卡上推理没问题.性能比3090提高1倍多.希望飞桨早日支持.

[2022-10-19 12:03] zjliu-cs opened #47182 "标签图维度出错"
### 请提出你的问题 Please ask your question

标签图是灰度图，输出的numpy数组也只是个二维数组。

错误信息
[code]

[code]

[2022-10-19 12:18] zhwesky2010 commented on #47081
问题一说的这个nvidia-mps功能，是nvidia提供的。GPU只是说显存不够用时可能不稳定，跑还是能跑的，而NV做的nvidia-mps使之更稳定。CPU不存在这个问题，当前市面CPU多进程调度都没问题。
另外这个，是操作系统硬件层面的问题，飞桨你可以理解为只是计算机的一个python进程。

[2022-10-19 12:19] zsy0828 opened #47185 "DataLoader的速度问题"
### 请提出你的问题 Please ask your question

相较于tensorflow，和torch，为什么paddle的dataloader速度会满这么多，比如20w个，batch_size为1024，需要至少5s的时间，而tf与th则仅需要不到1s的时间，是因为，内部由np实现的问题么？如果是的话，能否在后续的版本对其加速呢

[2022-10-19 12:21] GuoxiaWang commented on #47185
请问你这个速度对比，有最小复现代码吗？

[2022-10-19 12:26] zsy0828 commented on #47185
你好，后续看了一下，貌似需要使用numpy作为dataset，不能直接使用pd.Tensor作为输入，对不起，没太仔细看文档

[2022-10-19 12:26] #47185 closed, assigned to GuoxiaWang

[2022-10-19 12:31] GuoxiaWang commented on #47182
是不是 loss 函数没按照要求输入？

[2022-10-19 12:54] Bobholamovic opened #47188 "Are `paddle.gather` and `paddle.index_select` functionally the same?"
### 请提出你的问题 Please ask your question

I've found that `paddle.gather` and `paddle.index_select` seem to behave very similarly, as they both take an input tensor and a 1-D index tensor and performs a look-up based on the input and the index (which is much like `torch.index_select`). My question is, are these two APIs essentially the same? p.s. I know there are notable differences between `paddle.ga

[2022-10-19 13:12] renmada commented on #45566
【队名】：scv

【序号】：兴5

【论文】：A Late Fusion CNN for Digital Matting

【状态】：提交

【repo链接】：https://github.com/renmada/FusionMatting-paddle

[2022-10-19 13:13] duyongqi commented on #45566
【队名】：存在

【序号】：兴1

【论文】：[Rethinking Bottleneck Structure for Efficient Mobile Network Design](https://arxiv.org/abs/2007.02269)

【状态】：报名&提交

【repo链接】：https://github.com/duyongqi/MobileNeXt

[2022-10-19 13:27] zjliu-cs commented on #47182
是的，我错误的设置了`loss=paddle.nn.CrossEntropyLoss(axis=1)`，但是我把axis属性删除或设为2，还是报错
[code]

[2022-10-19 13:36] zjliu-cs commented on #47182
我使用的是Unet网络，似乎是标签维度和模型输出不同导致，但我现在不知道怎么调整模型输出
[code]

[2022-10-19 13:42] aptx1231 commented on #45566
【队名】：aptx1231

【序号】：兴10

【论文】：CoST: Contrastive Learning of Disentangled Seasonal-Trend Representations for Time Series Forecasting

【状态】：报名&提交

【repo链接】：https://github.com/aptx1231/CoST_Paddle

[2022-10-19 13:49] Aganlengzi commented on #45058
I close this issue for fixed as talked above, feel free to reopen if necessary.

[2022-10-19 13:52] GuoQuanhao commented on #45566
【队名】：HaoHao

【序号】：兴5

【论文】：A Late Fusion CNN for Digital Matting

【状态】：报名

【repo链接】：https://github.com/GuoQuanhao/FusionMatting-Paddle

[2022-10-19 14:38] jakpiase commented on #47173
Hi @jiahy0825. These kernel were disabled due to some bugs, but we are going to fix and re-enable them in the near future, so please don't delete them.

[2022-10-19 14:41] GuoQuanhao commented on #45566
【队名】：HaoHao

【序号】：兴5

【论文】：A Late Fusion CNN for Digital Matting

【状态】：报名&提交

【repo链接】：https://github.com/GuoQuanhao/FusionMatting-Paddle

[2022-10-19 15:09] #47173 closed, assigned to GuoxiaWang

[2022-10-20 01:09] zjliu-cs commented on #47182
已解决。本来使用PIL读取图片 ，然后transforms.transpose转为CHW，后来改为cv直接读取CHW，没改过来

[2022-10-20 01:09] #47182 closed, assigned to GuoxiaWang

[2022-10-20 01:31] zjliu-cs opened #47194 "灰度图Normalize后转为三通道，怎么使它保持单通道"
### 请提出你的问题 Please ask your question

为什么这里默认图片的输入是三通道？导致我的原灰度图Normalize会报错
[code]

[2022-10-20 01:57] zhangbo9674 commented on #47194
您好，很抱歉目前paddle.vision.transforms 的 Normalize 仅支持三通道HWC或CHW输入格式，我们会尽快针对单通道的需求进行评估与支持。Normalize的底层实现就是(img - mean) / std，您可以手动实现该逻辑，或添加两个fake的通道

[2022-10-20 01:59] zjliu-cs commented on #47194
好的 谢谢

[2022-10-20 02:11] qqxze opened #47195 "random_walk"
### bug描述 Describe the Bug

复现https://github.com/PaddlePaddle/PGL/tree/main/legacy/examples/GATNE Dataset.py代码时
报 type object 'Graph' has no attribute 'random_walk'
paddlepaddle        2.1.2
pgl                 2.2.2

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-10-20 02:20] sxl1007 opened #47196 "v2.4版本发布时间"
### 请提出你的问题 Please ask your question

请问v2.4版本，什么时候发布？

[2022-10-20 02:27] zhangbo9674 commented on #47196
您好，2.4正式发布日期为11.11日

[2022-10-20 02:31] sxl1007 commented on #47196
好的，谢谢告知。

[2022-10-20 02:31] #47196 closed, assigned to zhangbo9674

[2022-10-20 02:33] GuoxiaWang commented on #47188
torch.gather -> paddle.take_along_axis

torch. index_select  -> paddle. index_select

[2022-10-20 02:42] zhangbo9674 commented on #47195
您好，这个是legacy的，要用PGL 1.x版本 配 PaddlePaddle 1.8.5。

[2022-10-20 03:23] xiguadong opened #47198 "Paddle2onnx hardsigmoid 参数错误。"
### bug描述 Describe the Bug

onnx的[Hardsigmoid](https://github.com/onnx/onnx/blob/main/docs/Operators.md#HardSigmoid)公式为 y = max(0, min(1, alpha * x + beta))，其中默认值 **alpha = 0.2, beta = 0.5**. Paddle2Onnx在进行转换时，应该使用了该默认值，在推理时精度掉点，望知悉。
![image](https://user-images.githubusercontent.com/55774832/196848876-55a9ccb3-aec7-4a2a-b6ae-ca491a349849.png)

### 其他补充信息 Additional Supplementary Information

_No

[2022-10-20 03:38] qili93 commented on #47007
hi, @Baymax0525

由于 CANN 算子库中缺少了很多 PaddleSeg 模型所需的算子，因此目前 PaddleSeg 类型的模型中存在较多算子尚未有 NPU 的算子实现，因此此类模型功能上能跑，但是缺失的算子会默认 fallback 到 CPU 上运行，这会导致实际模型运行性能很差，基本是接近 CPU 的性能水平。

后续我们会尝试联系华为 CANN 开发这部分缺失算子，以补齐 PaddleSeg 的缺失算子。同时，目前我们已经升级到 CANN 512的最新版本了，可以尝试使用这个 `registry.baidubce.com/device/paddle-npu:cann512-x86_64-gcc82` 这个镜像，后续我们也会同步更新飞桨在昇腾上的最新模型和镜像到飞桨官网。

谢谢！

[2022-10-20 04:02] zhangbo9674 commented on #47198
感谢您的反馈，我们会尽快评估及修复该问题！

[2022-10-20 04:02] zjliu-cs commented on #47158
paddle.vision.transforms.Transpose

[2022-10-20 04:07] Bobholamovic commented on #47188
Thanks for your answer. But my question is, what is the difference between `paddle.gather` and `paddle.index_select`？

[2022-10-20 04:08] zjliu-cs opened #47202 "CrossEntropyLoss中Label的维度为什么是1"
### 请提出你的问题 Please ask your question

使用的是CrossEntropyLoss()，报错。后续设置参数为axis=2，同样的错
[code]

[code]

[2022-10-20 04:41] zjliu-cs commented on #47202
axis=1

[2022-10-20 04:59] zhangbo9674 commented on #47202
你好，报错信息上看，是输入x与label的维度不一致，请检查并确保一致
1. If soft_label=False, the shape is
:math:`[N_1, N_2, ..., N_k]` or :math:`[N_1, N_2, ..., N_k, 1]`, k >= 1.
the data type is int32, int64, float32, float64, where each value is [0, C-1].

2. If soft_label=True, the shape and data type should be same with ``input`` ,
and the sum of the labels for each sample should be 1.

[2022-10-20 05:45] zjliu-cs commented on #47202
我添加了新的参数soft_label=True，报错消失了。但是在损失函数中又出现了新的错误
[code]
这里是动态图模式中类型不匹配，于是我将label转为float32.`label = self._label_transforms(label).astype(np.float32)`
继续报错
[code]
报的PD_Exception应该是权限限制异常，内核并不支持float32，这是不是与前一个错误相互冲突呢？

[2022-10-20 06:10] zhangbo9674 commented on #47202
你好，CrossEntropyWithSoftmaxCUDAKernel目前应该是支持float32的，麻烦提供一下使用的paddle版本和最小复现case，我来定位一下问题

[2022-10-20 06:15] raoyutian commented on #47179
哪里可以下载2.4的windowsC++预编译库，CPU版的。由于环境问题，我无法编译成功。

[2022-10-20 06:24] vinartis opened #47206 "2.4.0rc0 g_value_set_boxed: assertion 'G_VALUE_HOLDS_BOXED (value)' failed initialized, argv = Gdk.init_check(sys.argv)"
### bug描述 Describe the Bug

在2.4.0rc0 版本
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/guides/beginner/data_load_cn.html
使用如下示例代码
`from matplotlib import pyplot as plt

for data in train_dataset:
    image, label = data
    print('shape of image: ',image.shape)
    plt.title(str(label))
    plt.imshow(image[0])
    break`

报错信息：
shape of image :  (1, 28, 28)
/usr/lib/python3/dist-pac

[2022-10-20 06:39] engineer1109 commented on #47162
@chenwhql https://github.com/PaddlePaddle/Paddle/pull/47208 PR提了
用一行代码解决

[2022-10-20 06:50] zjliu-cs commented on #47202
paddle2.3.2post112
[code]
谢谢

[2022-10-20 06:53] zhangbo9674 commented on #47206
你好，看报错日志是与matplotlib相关的问题，没有反映出paddle的错误

[2022-10-20 06:59] zhangbo9674 commented on #47202
麻烦提供一下数据集：
train_dataset = MyDataset(mode='train', train_path='./PaddleSeg/dataset/train.txt',
                              image_transforms=image_transforms,
                              label_transforms=label_transforms)
val_dataset = MyDataset(mode='val', val_path='./PaddleSeg/dataset/val.txt',
                        image_transforms=image_transforms,
                        label_transforms

[2022-10-20 07:50] zjliu-cs commented on #47202
https://github.com/jaycola99/dataset
上传到GitHub了

[2022-10-20 07:50] Eddie-zhg opened #47215 "分布式在多机部署时，进行分布式环境验证时出错"
### 请提出你的问题 Please ask your question

在第一台机子输入指令：
![2022-10-20 15-44-49屏幕截图](https://user-images.githubusercontent.com/82798516/196888497-2c991ad6-2b9e-4e12-81e5-360d7f98b975.png)
在第二台机子输入指令后，第一台机子显示如下：
![2022-10-20 15-45-06屏幕截图](https://user-images.githubusercontent.com/82798516/196888636-01af1bf9-d46f-46f1-b31f-55eb56b255b7.png)
已经检查了网络连接，都是正常的。
希望得到解答！

[2022-10-20 08:20] bixiaopeng0 opened #47218 "如何对模型里的参数进行手动更新"
### 请提出你的问题 Please ask your question

                print("begin=>",self.model.state_dict()[k])
                if paddle.is_floating_point(v):
                    print("using ema deacy",decay)
                    self.model.state_dict()[k] *= decay
                    self.model.state_dict()[k] += (1.0 - decay) * msd[k].detach()
                    print("msd[k]",msd[k])
                    pr

[2022-10-20 08:23] wuhuachaocoding commented on #47215
您好，报错提示没有run_check这个file， 这样用的话，请先确定run_check是个运行脚本。
单机可以这样检测：
[code]
您可以把这个函数抽出一个脚本出来， 然后用launch启动这个脚本在多机上执行，前提是launch后面跟的是一个运行脚本。

[2022-10-20 08:28] zhangbo9674 commented on #47218
你好，建议通过paddle.save对修改后的state_dict重新保存，覆盖原文件：paddle.save(layer_state_dict, "layer.pdparams")

[2022-10-20 08:36] Eddie-zhg commented on #47215
![2022-10-20 16-30-50屏幕截图](https://user-images.githubusercontent.com/82798516/196898187-0434d2c4-8035-41e4-863b-37c22a85fa68.png)
单机检测的没问题。
“把这个函数抽出一个脚本出来“我不太明白这个是啥意思

[2022-10-20 08:40] wuhuachaocoding commented on #47215
首先单机检测没问题就正常。
其次，你是想通过paddle.distributed.launch运行多机的检测情况，但是paddle.distributed.launch后面应该接一个运行的python脚本，比如：python -m paddle.distributed.launch train.py

你直接在后面接一个run_check, 报错信息显示没有run_check这个东西，你得先创建一个run_check脚本把

[2022-10-20 08:49] bixiaopeng0 commented on #47218
`    @paddle.no_grad()
    def _momentum_update_key_encoder(self):
        """
        Momentum update of the key encoder
        """
        for param_q, param_k in zip(self.encoder_q.parameters(),
                                    self.encoder_k.parameters()):
            paddle.assign((param_k * self.m + param_q * (1. - self.m)), param_k)
            param_k.stop_gradient = True`

[2022-10-20 08:49] #47218 closed, assigned to nobody

[2022-10-20 09:00] Eddie-zhg commented on #47215
![2022-10-20 16-58-11屏幕截图](https://user-images.githubusercontent.com/82798516/196904489-1bc91ffa-3b78-47b0-b25e-9daae2c31703.png)
这样子弄了一个，还是一样的错误。
我不太会，这个run_check需要怎么写呢？麻烦您啦！

[2022-10-20 09:36] kaixin-bai commented on #46233
For me the 2.3.1.post112 version doesn't match cuda11.4.

[code]

[2022-10-20 10:08] levinxo opened #47225 "paddle多线程报错。MemoryError: (ResourceExhausted) Another thread is waitting"
### bug描述 Describe the Bug

多线程使用jieba+paddle时，会报各类错误/段错误，MemoryError是其中一种
多进程即multiprocessing下运行是OK的，稳定不报错。

[code]

[code]

系统为Ubuntu 20.04（docker镜像，cpu下运行）
python版本为3.8.10

PIP版本信息：
paddlepaddle 2.3.1
jieba 0.42.1

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-10-20 10:38] vinartis commented on #47206
嗯是的，是matplotlib的问题。只是想表达 教程里面的例子在有些系统运行不正常，可以把最后的 pit.show()方法加上就好了

[2022-10-20 10:38] #47206 closed, assigned to zhangbo9674

[2022-10-20 10:51] zhangbo9674 commented on #47206
感谢反馈的问题！

[2022-10-20 12:05] zhangbo9674 commented on #47225
你好，经过分析，初步判断是新执行器问题，目前尚未定位到具体原因，可先通过设置FLAGS_USE_STANDALONE_EXECUTOR=0使用旧执行器来避免该问题，修复该问题后，我们会尽快回复您。

[2022-10-20 12:33] Eddie-zhg opened #47229 "分布式环境验证时，没有run_check脚本"
### 请提出你的问题 Please ask your question

[https://github.com/PaddlePaddle/PaddleFleetX/blob/release/2.4/docs/deployment_faq.md](url)
按照上面链接进行分布式环境验证时，会报错显示没有run_check文件。
请问这个run_check怎么找或者怎么写？

[2022-10-20 13:13] Rayman96 commented on #47064
【列表选题】
编号：16
题目：Cora数据集上使用图关注网络GAT进行科学论文的预测
认领人：Rayman96

[2022-10-20 14:35] jaycola99 commented on #47202
3

[2022-10-21 01:18] GuoxiaWang commented on #47188
The difference is the data dtype:

`index_select` supports `['float32', 'float64', 'int32', 'int64']`
`gather` supports `'float16', 'float32', 'float64', 'int16', 'int32', 'int64', 'uint8'`

[2022-10-21 01:21] qingqing01 commented on #47162
@engineer1109 想问下您是在做什么工作、怎么写程序时触发的问题？

[2022-10-21 01:31] engineer1109 commented on #47162
@qingqing01
我在写自定义插件，链接libpaddle_inference.so
调用auto out = paddle::experimental::add(x, y);发现ABI符号不存在。
nm libpaddle_inference.so | grep N6paddle12experimental3add 无结果
但是libphi_function_api.a  确实链接在libpaddle_inference.so ，但是符号被丢弃

[2022-10-21 02:07] Bobholamovic commented on #47188
Thank you!

[2022-10-21 02:07] #47188 closed, assigned to GuoxiaWang

[2022-10-21 02:11] wuhuachaocoding commented on #47215
python -m paddle.distributed.launch  --nnode....   run_check.py
后面跟上你写的这个run_check.py

[2022-10-21 02:24] cccrice opened #47238 "paddle.jit.save报错：ValueError: Function: forward doesn't exist in the Module transformed from AST."
### bug描述 Describe the Bug

paddle.jit.save报错：ValueError: Function: forward doesn't exist in the Module transformed from AST.

model定义：

[code]

动态模型转静态模型代码：
[code]

报错：
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-10-21 02:29] jiweibo commented on #47162
您好，请问下您使用的是哪个版本呢？我在develop分支上测试是导出符号了的。
![image](https://user-images.githubusercontent.com/26377421/197097189-a065516d-b431-46fc-ad5b-3aa6b63cbf47.png)

[2022-10-21 02:29] rubensanchezrivero opened #47239 "Cant train KIE model destillation"
### bug描述 Describe the Bug

wherever i tried to train the KIE mdoel i get this error
here is the script i run and the resulting error
(paddleocr) PS C:\Work\CENATAV\Libraries\PaddleOCR> python tools/train.py -c configs/kie/vi_layoutxlm/ser_vi_layoutxlm_xfund_zh_udml.yml
[2022/10/20 22:22:45] ppocr INFO: Architecture :
[2022/10/20 22:22:45] ppocr INFO:     Models :
[2022/10/20 22:22:45] ppocr INFO:

[2022-10-21 02:35] Eddie-zhg commented on #47215
解决了 感谢！

[2022-10-21 02:42] #47229 closed, assigned to zhangbo9674

[2022-10-21 02:54] #47058 closed, assigned to wuhuachaocoding

[2022-10-21 03:01] momozi1996 commented on #47064
感谢，你的选题已被飞桨框架团队收到，将在3个工作日内邀请你进入任务群，并指导完成任务，请留意信息。

[2022-10-21 03:43] jiguanglu commented on #45701
mark

[2022-10-21 03:45] jiguanglu commented on #45245
你好，链接已经失效。

[2022-10-21 04:49] AnnaTrainingG commented on #47239
<img width="740" alt="image" src="https://user-images.githubusercontent.com/51102941/197114814-52a00a28-9d0a-4e11-b24e-79056b080deb.png">

Hi, from the log, it seems that the shape setting in the model is wrong. Please check the vqa_token_layoutlm_loss.py's tensor shape .

[2022-10-21 05:01] engineer1109 commented on #47162
@jiweibo 1c8ef38e56f0b864c323efaeacc817e31e2b8ecd 我拉了最新的编译 依然没有Symbol
编译参数
[code]

[2022-10-21 05:01] engineer1109 commented on #47162
@jiweibo 链接: https://pan.baidu.com/s/19gzMskad7Ye5q6JzqV8V9g?pwd=kech 提取码: kech
我编译的libpaddle_inference.so

[2022-10-21 05:04] engineer1109 commented on #47162
@jiweibo 以前的版本我编译出来 确实是有的，最近的commit消失了

[2022-10-21 05:19] engineer1109 commented on #47162
@jiweibo 其实 __attribute__((visibility("default"))) 不能保证 静态库导出的，对于链接的静态库 不使用ABI是不会导出，静态库要放在目标文件的位置才能导出

[2022-10-21 05:22] AnnaTrainingG commented on #47238
您好，请确认一下您的Paddle版本及对应的动转静api使用方法，paddle2.0~paddle2.4的paddle.jit.save使用方法如下：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/jit/save_cn.html#save ，当使用 paddle.jit.save 保存 function 时， function 不能包含参数变量，如果必须保存参数变量，请用Layer封装function，然后按照处理Layer的方式调用相应的API。

[2022-10-21 05:35] #47059 closed, assigned to wuhuachaocoding

[2022-10-21 05:44] jiguanglu commented on #42358
现在最新的 **jertson AGX  orin** 只能使用 **jetpack5.0**以上的版本，希望飞桨的朋友，能尽快的编译出相符合的版本啊。

[2022-10-21 05:45] jiguanglu commented on #40189
现在已经是最新的**jetpack5.0.2**了。。。

[2022-10-21 06:01] jiguanglu commented on #38246
mark！

[2022-10-21 06:27] cccrice commented on #47238
请问意思是在nn.Layer类中除了def forward方法不能有其他方法吗？

[2022-10-21 06:42] engineer1109 commented on #47149
Fixed

[2022-10-21 06:42] #47149 closed, assigned to LiYuRio

[2022-10-21 07:05] #47007 closed, assigned to sljlp

[2022-10-21 07:16] WorgenZhang commented on #47038
1. export FLAGS_call_stack_level=2，先开启这个环境变量，这个支持能够输出一些c++日志
2. 尝试使用gdb调试报错，类似gdb 源程序 core.*

[2022-10-21 07:44] wuhuachaocoding commented on #47052
您好，已经收到您的需求，确实存在一定问题，我们已经安排人员在跟进这个问题。

[2022-10-21 07:57] AnnaTrainingG commented on #47238
你好，通过代码来看你的save使用是规范的, layer中是可以有其他方法的，本地也进行了实验，将init于forward(forward中直接返回linear）中的调用注释掉本地是可以运行通过的，建议您排查一下其他代码。https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html 另外可使用paddle最新代码。

[2022-10-21 08:14] cccrice commented on #47238
我将所有代码都放上来了，可以麻烦你再帮我看看吗？
[code]

[2022-10-21 08:18] AnnaTrainingG commented on #47238
你好 建议您先通过注释代码进行问题定位,也可参考动转静调试文档进行调试https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/jit/debugging_cn.html 感谢

[2022-10-21 08:41] #47078 closed, assigned to nobody

[2022-10-21 08:43] zoooo0820 commented on #47052
你好，复杂索引及赋值功能目前确实是存在性能问题，关于这部分优化的相关工作我们目前正在进行中

[2022-10-21 08:44] JZZ-NOTE commented on #47179
https://www.paddlepaddle.org.cn/inference/v2.4/guides/install/download_lib.html#windows 你好，你看看这里是不是可以下到需要的库

[2022-10-21 08:45] #47052 closed, assigned to zoooo0820, wuhuachaocoding

[2022-10-21 08:52] Eddie-zhg opened #47253 "本地多机分布式部署的时候，出现通信错误"
### 请提出你的问题 Please ask your question

在server端执行命令，结果如下：
![2022-10-21 15-59-06 的屏幕截图](https://user-images.githubusercontent.com/82798516/197154770-9d6ff137-0715-4ddf-8c7d-0e54bd198ecf.png)
![2022-10-21 15-59-33 的屏幕截图](https://user-images.githubusercontent.com/82798516/197154782-90399297-8ba2-4185-bcd7-91adf4977e4d.png)
![2022-10-21 15-59-51 的屏幕截图](https://user-images.githubusercontent.com/82798516

[2022-10-21 09:03] #47084 closed, assigned to firestonelib

[2022-10-21 09:10] AnnaTrainingG commented on #47253
你好，请问在log/workerlog中有通信报错信息吗？

[2022-10-21 09:23] kuizhiqing commented on #47130
试试这个，

server 端
[code]
worker 端
[code]

[2022-10-21 09:25] #46578 closed, assigned to seemingwang, yeliang2258

[2022-10-21 10:05] Eddie-zhg commented on #47253
**我把两个日志贴上来。**
**server：**
public get_dense_send_context dense_table: Dense@GRAD_1 430815 ['linear_0.b_0@GRAD', 'linear_0.w_0@GRAD', 'linear_1.b_0@GRAD', 'linear_1.w_0@GRAD', 'linear_2.b_0@GRAD', 'linear_2.w_0@GRAD', 'linear_3.b_0@GRAD', 'linear_3.w_0@GRAD', 'linear_4.b_0@GRAD', 'linear_4.w_0@GRAD']
new table_name: embedding
/home/ubuntu/.local/lib/python3.8/site-packages/paddle/distributed/ps/the

[2022-10-21 11:48] AnnaTrainingG commented on #47253
<img width="735" alt="image" src="https://user-images.githubusercontent.com/51102941/197184619-cabdcd2c-6b11-4ff1-bea0-6d302906c3cf.png">
从log看应该是有点问题的，可以先参考这个 https://github.com/PaddlePaddle/Paddle/issues/44395 进行本地尝试，我这边也同步再看

[2022-10-22 05:49] raoyutian commented on #47179
2.4.0的windowsC++预编译库，OCR速度和日志禁用失败的问题，经过测试都已经正常。谢谢。

[2022-10-22 06:43] AlphaMind123 opened #47257 "硬件配置问题"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/108966996/197324588-207eeb98-86af-47c5-9a9a-c5e6a068b5d3.png)
为什么会这样，我已经安装了cuda11.6和cudn8.6

[2022-10-22 06:57] fanxiaochen456 opened #47258 "Paddle Inference X86的推理库"
### 请提出你的问题 Please ask your question

请问在paddle Inference推理库的网页中是否有提供X86平台的CPU推理库呢？

[2022-10-22 07:11] ronny1996 commented on #47257
这个API目前是paddle custom device使用的

[2022-10-22 07:17] ronny1996 commented on #47258
你好，有提供的

https://paddle-inference.readthedocs.io/en/latest/guides/install/download_lib.html#c

[2022-10-22 07:18] AlphaMind123 commented on #47257
可是还是空的
![image](https://user-images.githubusercontent.com/108966996/197326141-327792d8-83b0-491e-9249-f224183bfd9e.png)

可是还是为空呀我调用api使用也不行是为什么呢
![image](https://user-images.githubusercontent.com/108966996/197326127-88758d93-f266-4f4e-b75c-fc7bfb663e5e.png)

[2022-10-22 07:26] fanxiaochen456 commented on #47258
@ronny1996 您好，我使用
![屏幕截图 2022-10-22 152529](https://user-images.githubusercontent.com/101849755/197326404-9367cf3d-ad19-4115-8b65-69772afb286d.png)
图片中的第一个推理库编译paddlex的时候他出现了X64的包与X86平台不兼容的字样

[2022-10-22 07:29] fanxiaochen456 commented on #47258
![微信图片_20221022152747](https://user-images.githubusercontent.com/101849755/197326500-1f5b36be-e8fd-4c46-af7e-4768838d6620.png)
![屏幕截图 2022-10-22 152529](https://user-images.githubusercontent.com/101849755/197326502-a5a70c3b-a1a5-4527-b4a3-76ab4f39e0d6.png)

[2022-10-22 08:33] Superman-Valencia opened #47260 "飞桨PaddleSpeech语音技术课程系列——语音合成实践项目出错"
在import包时，出现以下错误：
<img width="788" alt="image" src="https://user-images.githubusercontent.com/70886521/197329721-97562281-e34e-4d3a-91fa-13f1e75c2f03.png">

[2022-10-22 09:07] ronny1996 commented on #47260
请问是不是使用 python3.5 安装的  python3.7的paddle

![image](https://user-images.githubusercontent.com/25691046/197331075-7510ebce-7b56-428c-9679-bf2778572773.png)

[2022-10-22 09:12] ronny1996 commented on #47257
![image](https://user-images.githubusercontent.com/25691046/197331218-43594d95-dab6-4653-bf30-dcb3ff2df54a.png)
你好，目前这两个api都是用来查询自定义硬件后端的，用来配合这个repo使用npu，mlu的后端 https://github.com/PaddlePaddle/PaddleCustomDevice

报错信息显示的是找不到 zlibwapi.dll，确保该dll所在目录在path环境变量中
![image](https://user-images.githubusercontent.com/25691046/197331350-71469353-2fce-4d47-82d6-a2d5895789aa.png)

[2022-10-22 09:23] AlphaMind123 commented on #47257
是不是cuda版本太高了

| |
hfqemail
|
|
***@***.***
|
---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 发送日期 | 2022年10月22日 17:13 |
| 收件人 | ***@***.***> |
| 抄送人 | ***@***.***> ,
***@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] 硬件配置问题 (Issue #47257) |

你好，目前这两个api都是用来查询自定义硬件后端的，用来配合这个repo使用npu，mlu的后端 https://github.com/PaddlePaddle/PaddleCustomDevice

报错信息显示的是找不到 zlibwapi.dll，确保该dll所在目录在path环境变量中

—
Reply to this ema

[2022-10-22 09:39] Superman-Valencia commented on #47260
是在notebook下运行的，请问这种情况如何解决？

[2022-10-22 09:52] ziyouchutuwenwu opened #47262 "manjaro x86_64下编译安装失败"
### 问题描述 Issue Description

[code]

报错

[code]

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version: None
Paddle With CUDA: None

OS: Manjaro Linux 22.0.0
Python version: 3.7.15

CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: 520.56.06
****************************************

gcc版本

[code]

机器信息

[code]

[2022-10-22 10:49] ronny1996 commented on #47262
gcc 需要5.4以上，建议使用8.2.0

建议使用docker编译，以避免环境问题

[2022-10-22 13:30] ziyouchutuwenwu commented on #47262
你好，gcc版本如下

[code]

[2022-10-22 15:43] ronny1996 commented on #47258
那应该是没有提供x86的预编译库，需要自己编译下

[2022-10-22 15:45] ronny1996 commented on #47260
要不试试conda环境也用py3.7

[2022-10-22 15:50] ronny1996 commented on #47262
你好，建议使用8.2.0哦，不同版本可能默认编译选项有差别

[2022-10-22 15:53] ronny1996 commented on #47257
paddle安装的是对应cuda11.6的版本吗？安装命令是什么？

[2022-10-23 06:19] #45924 closed, assigned to juncaipeng

[2022-10-23 06:19] #45092 closed, assigned to haozech

[2022-10-23 07:45] zjliu-cs commented on #47202
请问这边代码是有什么问题吗？

[2022-10-23 10:41] georgewei opened #47267 "请问怎么把动态图转成静态图？"
### 请问怎么把动态图转成静态图？

参考官网文档的 [案例解析](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/jit/case_analysis_cn.html) 的第九部分“jit.save 与默认参数”，我整理了个 python 脚本如下：

[code]

其中：
src_path是需要转换的动态图路径。脚本中该图是从《PaddleOCR开源大礼包》的OCR场景应用模型库/pcb字符识别/best_model_pcb.tar中解压出来的
target_path是转换后的静态图路径

执行以上脚本后报错：

[2022-10-23 11:57] georgewei commented on #47267
重新检查下代码，发现执行到def forward(self, x):报错了：

修改脚本如下（仅删除了def forward(self, x):前的空行）：

[code]

重新执行报错如下：

[2022-10-23 13:56] CtfGo commented on #47267
你好，请问你的需求是想把src_path的动态图load之后转换为静态图再save吗？定义LinearNet是什么目的呢

[2022-10-23 20:13] O-O1024 opened #47272 "DeprecationWarning: `np.bool` is a deprecated"
不想看到一大串提示，框架更新一下一劳永逸

版本：2.3
```C:\Users\admin\AppData\Roaming\Python\Python38\site-packages\paddle\fluid\framework.py:1104: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.```

[2022-10-24 00:09] georgewei commented on #47267
是的。手上只有动态图的三个文件，没有其它资料。不知道怎么转，找资料的过程中看到 https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/jit/case_analysis_cn.html 的示例代码，就拿来试一试，看来是生搬硬套了。请指点。

[2022-10-24 00:50] yeyupiaoling opened #47273 "双卡训练过程中出现了一个错误"
### 请提出你的问题 Please ask your question

 - PaddlePaddle 2.3.2
 - Ubuntu 18.04
 - Python 3.8

训练了两天（还没有一轮），中间卡2 log突然出现了下面错误，卡1没有任何错误输出，下面的错误看不出是什么问题，不像是显存不足，也没有说是数据错误。
下面的错误提示的是什么错误？

[code]

[2022-10-24 00:55] yeyupiaoling commented on #47267
我用你的代码是完全能够正常导出的。
你看那看是不是PaddlePaddle版本问题，我的是2.3.2

[code]

[2022-10-24 00:56] yeyupiaoling commented on #47272
附议

[2022-10-24 01:32] MarginGitHub opened #47274 "cuda11.8支持？"
### 请提出你的问题 Please ask your question

十月cuda11.8已经发布了，支持最新的GPU，请问Paddle官方有计划何时进行适配吗？

[2022-10-24 01:33] georgewei commented on #47267
@yeyupiaoling 是不是加载动态图的方法有问题？我只有动态图的三个文件，没有其它资料。这种情况下该怎么加载呢？

[2022-10-24 01:36] yeyupiaoling commented on #47267
他们分别是：优化方法的参数、模型的参数、训练状态的记录。

[2022-10-24 01:36] yeyupiaoling commented on #47267
如果你只有这三个文件，是无法导出模型的，要有模型文件。

[2022-10-24 01:40] zhangbo9674 commented on #47202
https://github.com/PaddlePaddle/Paddle/issues/47202#issuecomment-1285093610
你好，dataset数据集链接404，无法下载

[2022-10-24 02:12] gglin001 commented on #47272
+1

[2022-10-24 02:19] 392875 opened #47276 "PPYOLOE-L转ONNX输出batch是-1"
### 请提出你的问题 Please ask your question

PPYOLOE-L转ONNX输出batch是-1，按照官方给的文档出来的结果input也是-1，更改了用paddle_infer_shape.py输入变成1，但结果依然没有改变

[2022-10-24 02:39] Aurelius84 commented on #47238
@cccrice 您好，我用 paddle 2.3.2版本执行了你上面提供的完整代码，是可以成功导出的。

plus：需要调整 2 处代码写法，分别是：

[code]

上述两个写法，我们在2.4版本已经修复，不需要额外调整。推荐您使用 2.3.2 版本尝试下

[2022-10-24 02:47] jiweibo commented on #47162
我本地清空build，重测下哈，看看是不是最近的改动导致的

[2022-10-24 03:07] georgewei commented on #47267
@yeyupiaoling 谢谢。在PaddleOCR交流群里得到解答，使用tools/export_model.py，指定配置文件后可以导出

[2022-10-24 03:07] #47267 closed, assigned to CtfGo

[2022-10-24 03:09] Eddie-zhg commented on #47130
尝试了。还是有错误。
**server端：**
![2022-10-24 11-05-36屏幕截图](https://user-images.githubusercontent.com/82798516/197440957-c657ee2a-cfbc-492f-ab62-49203f953daa.png)
![2022-10-24 11-05-50屏幕截图](https://user-images.githubusercontent.com/82798516/197440965-7bb52b4f-91e0-4a88-945f-6b0f85f5e0d9.png)
**worker端：**
![2022-10-24 11-04-52屏幕截图](https://user-images.githubusercontent.com/82798516/197441034-b6133cc8-d64a-4

[2022-10-24 03:21] kuizhiqing commented on #47130
这里的启动过程已经正常，报错是程序错误导致异常退出。请检查程序代码是否正常或者从官网的例子开始使用。

[2022-10-24 03:28] jiweibo commented on #47162
我从网盘这里下载的so中有`experimental::add`的符号呀。

我再确认一下哈，您需要的是动态库中有这个符号吧，静态库目前没有导出这些符号（需要通过`"-Wl,--whole-archive"`导出）。

[2022-10-24 03:29] ZzSean commented on #47272
你好，感谢您对PaddlePaddle的使用提出建议！这些多余的warning信息在https://github.com/PaddlePaddle/Paddle/pull/42929 中已经修复，请尝试使用最新版本的PaddlePaddle，应该不会再出现类似warning信息，谢谢！

[2022-10-24 03:32] jingmingtao opened #47279 "paddle安装问题"
### 问题描述 Please describe your issue

![image](https://user-images.githubusercontent.com/114384977/197443161-a407f500-9b34-4131-b2b8-5505c200ab1d.png)
困扰了我两天了，求解决，万分感谢，我安装的cuda是11.8，python3.9，cudnn8.6

[2022-10-24 03:38] engineer1109 commented on #47162
@jiweibo 网盘那个应该传错了，没符号的应该是这个
链接: https://pan.baidu.com/s/1PNYsdMdefU0S4fi3_lcugA?pwd=dabs 提取码: dabs

我是需要这个符号，我提交的PR https://github.com/PaddlePaddle/Paddle/pull/47208 就是保证静态库符号导出的。

[2022-10-24 03:44] ZzSean commented on #47273
你好，从当前的报错信息无法看出具体的报错原因，可以尝试export FLAGS_call_stack_level=2，看是否有其他详细的报错信息

[2022-10-24 03:45] yeyupiaoling commented on #47273
好的

[2022-10-24 03:53] ZzSean commented on #47274
你好，在下个月的release2.4中会支持CUDA11.7。CUDA11.8由于是新版本，在进行充分地评估和测试后，可能会在后续版本中考虑增加支持，您也可以尝试本地编译CUDA11.8，但是可能会存在一些未知问题，所以还是建议使用CUDA11.8以下的版本，感谢您的持续关注！

[2022-10-24 03:54] #47274 closed, assigned to ZzSean

[2022-10-24 03:54] #47272 closed, assigned to ZzSean

[2022-10-24 04:12] jingmingtao commented on #47279
尝试了很好不同的版本，就是不可以，请求大佬支援

[2022-10-24 04:57] jiweibo commented on #47162
我本地的测试结果和这个刚好相反。我拉下pr看下是否修复了静态库的符号问题吧

[2022-10-24 05:06] zsy0828 commented on #47171
你好，请问近期能够解决该bug么

[2022-10-24 05:07] zsy0828 commented on #47171
你好，请问近期能够解决该问题么 @GuoxiaWang

[2022-10-24 05:40] Eddie-zhg commented on #47130
[您好，我是使用[官网例子。](https://github.com/PaddlePaddle/PaddleFleetX/tree/old_develop/examples/wide_and_deep_dataset)

下面是train.py的代码。参照别人“文档体验评估”而修改的train.py，检查了一下和别人的是一样的，应该是没什么问题的。
import paddle.distributed.fleet as fleet
import os
from model import WideDeepModel
import paddle
paddle.enable_static()

fleet.init(is_collective=False)

model = WideDeepModel()
model.net(is_train=True)

dataset = paddle.dis

[2022-10-24 05:44] Eddie-zhg commented on #47130
运行的时候，会卡在标红位置，按ctrl+c终止的。
![111](https://user-images.githubusercontent.com/82798516/197455923-1e91b5eb-5776-4d1c-af84-1c9dc3560447.jpg)

[2022-10-24 05:58] ZzSean commented on #47279
你好，请问设置LD_LKIBRARY_PATH=cuda/cudnn安装lib目录也不可以吗？CUDA11.8当前官方仍不支持，所以可能会存在未知问题，可以尝试降低CUDA版本

[2022-10-24 06:12] XYZ-916 commented on #47276
batch_size是-1表示模型输入batch_size可以外部指定的。

[2022-10-24 06:15] 392875 commented on #47276
是的，输入指定成功了，但是输出呢？输出还是-1或者unk__6
![image](https://user-images.githubusercontent.com/110003144/197459804-218187b3-ec0d-48d8-80ab-3a7dbf904d25.png)

[2022-10-24 06:19] leeleolay commented on #45058
I test the commit https://github.com/PaddlePaddle/Paddle/commit/23def39672 ，it doesn't work.
My error reported is following listed here:
[code]
So, I using the Paddle SHA:https://github.com/PaddlePaddle/Paddle/commit/e1e0deed64bd879357b9fc28ff68770f8eae87a6 to compile DeepMD-kit and LAMMPS , and I revised the code (to enable OneDNN)in the init function of paddle-deepmd/source/api_cc/src/PaddleDeep

[2022-10-24 06:26] XYZ-916 commented on #47276
输出的shape是不是在推理的时候才能确定。

[2022-10-24 06:26] xiaopei-sd opened #47286 ".HTTPError: 404 Client Error: Not Found for url: https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/noarch/current_repodata.json"
### 问题描述 Issue Description

[code]

### 版本&环境信息 Version & Environment Information

显卡 RTX2060
GPU 未安装  最高支持cuda 11.1
PaddlePaddle（2.3.2）
win 10
python 3.8

[2022-10-24 06:27] xiaopei-sd commented on #47286
已收到非常感谢！

[2022-10-24 06:32] 392875 commented on #47276
paddle转换onnx的时候就已经输出模型了
![image](https://user-images.githubusercontent.com/110003144/197462202-fe148074-4270-4085-8465-2892cd19c63d.png)

在这里改变输入为1，3，640，640，转换模型，output结果batch就是unk__6(这里不能导出1？？？？)

[2022-10-24 06:35] Eddie-zhg commented on #47253
您好，你是指参考设置一下如下的环境变量吗？
export PADDLE_WITH_GLOO=1
export PADDLE_GLOO_RENDEZVOUS=2
export PADDLE_GLOO_FS_PATH="tmp/xxx/gloo"
设置了我这个还是会出错。
请问您同步有结果了吗？

[2022-10-24 06:36] XYZ-916 commented on #47276
![image](https://user-images.githubusercontent.com/14884056/197462520-7013148c-3fc4-46e5-9cc4-717360c173a6.png)
这里多类别非极大值抑制，可能框的个数不能确定吧。

[2022-10-24 06:43] ZzSean commented on #47286
你好，从报错信息上看应该是连接超时，建议尝试使用代理

[2022-10-24 06:44] xiaopei-sd commented on #47286
使用 vpn么？

[2022-10-24 06:45] ZzSean commented on #47286
对的

[2022-10-24 06:47] xiaopei-sd commented on #47286
报错信息
[code]
我之前是使用的清华镜像，我重新描述一下之前的报错，现在不理解current_repodata.json 为何报错
[code]

[2022-10-24 07:02] AnnaTrainingG commented on #47253
您好，已经为您联系相关的同学，正在帮您看，请稍等

[2022-10-24 07:05] ZzSean commented on #47286
`ProxyError: Conda cannot proceed due to an error in your proxy configuration.`
这句报错就是代理问题吧，应该是window下conda安装的问题，可以看看这里https://blog.csdn.net/qq_41159191/article/details/126077080

[2022-10-24 07:06] 392875 commented on #47276
是需要裁剪掉一部分吗？还有什么解决办法？下游环境不支持-1

[2022-10-24 07:09] zjliu-cs commented on #47202
上传到托管平台了
https://send.ioiox.com/download/c3b2c8ec6a35f54d/#YSs7Ugb91IIyCjESpbiNzA

[2022-10-24 07:17] xiaopei-sd commented on #47286
尝试您提到的方法，但是失败。
我分别尝试了 使用国内网直接下载 和使用您提到的博客进行解决。
使用内网，报错结果为：
[code]

如果使用外网，报错结果为：
[code]

我这里都是用的 清华镜像网站，输入代码为：
`conda install paddlepaddle-gpu==2.3.2 cudatoolkit=10.1 --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/`

[2022-10-24 07:21] jiweibo commented on #47162
@engineer1109  我是在这个镜像内测试的`docker pull paddlepaddle/paddle:latest-dev-cuda11.2-cudnn8-gcc82`，拉取pr后仍未修复静态库的符号问题；
![image](https://user-images.githubusercontent.com/26377421/197469756-c326f810-1e41-4870-a3eb-9f444251eac9.png)

后面会修复静态库的符号问题，动态库目前测试没有发现符号问题

[2022-10-24 07:22] xiaopei-sd commented on #47286
使用外网后，也和内网报错一致
[code]

[2022-10-24 07:23] ZzSean commented on #47286
使用官方源试试呢？

[2022-10-24 07:24] xiaopei-sd commented on #47286
先 进行删除channels？ `conda config --remove-key channels `
需要添加默认官方源么？
感觉镜像网站 好像少文件了

[2022-10-24 07:26] xiaopei-sd commented on #47286
我使用 remove..后，产生下列代码，这个报错有什么影响么？
[code]

[2022-10-24 07:27] xiaopei-sd commented on #47286
未解决...
[code]

[2022-10-24 07:33] zhangbo9674 commented on #47202
你好，收到了数据集，我会尽快复现问题并答复。

[2022-10-24 07:44] xiaopei-sd commented on #47286
官方源 中只有2.4.0版本。 没有2.3.2版本。
![image](https://user-images.githubusercontent.com/65117285/197473742-40d13237-79e3-445c-854b-8d70f2ab524c.png)
而且无法安装
![image](https://user-images.githubusercontent.com/65117285/197474092-04b480a9-d709-4e5f-b6b8-7df7688f6dc9.png)

[2022-10-24 07:44] XYZ-916 commented on #47276
paddle动态图模型转静态图模型的时候，exclude_nms设置为true

[2022-10-24 07:47] xingjunhong opened #47289 "如何只保存训练epoch的模型，不保存最佳的模型？"
### 请提出你的问题 Please ask your question

如何只保存训练epoch的模型，不保存最佳的模型？

How can I save only the model for the training epoch and not save the best model?

[2022-10-24 07:56] zhangbo9674 commented on #47202
您好，由于您的代码中设置了paddle.nn.CrossEntropyLoss的soft_label参数为False，在改参数为False的情况下label即val_dataset需要设置为int数据类型，您可以在Dataset的__getitem__中配置label的数据类型：
[code]
cross_entropy的api文档可见如下链接
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/nn/functional/cross_entropy_cn.html#cross-entropy

[2022-10-24 08:06] ZzSean commented on #47286
可以尝试将安装文件下载到本地安装
地址：https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/win-64/
指令：`conda install -c local xxx.tar.bz2; conda install -c local paddlepaddle-gpu`

[2022-10-24 08:07] engineer1109 commented on #47162
@jiweibo 你这个grep 结果 不是 so有符号吗？

[2022-10-24 08:11] ZzSean commented on #47289
你好，可以尝试减少训练epoch次数，然后使用`paddle.jit.save`保存模型https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/jit/save_cn.html#save

[2022-10-24 08:12] 392875 commented on #47276
![image](https://user-images.githubusercontent.com/110003144/197659438-339ad1db-c0bd-4efd-bc46-df9ac2b06590.png)
![image](https://user-images.githubusercontent.com/110003144/197659479-5100c970-164f-4a60-965a-685f3586d56f.png)

嗯嗯好了

[2022-10-24 08:14] xingjunhong commented on #47289
这两者的区别是什么？如果我减少epoch次数的话，我模型的精度达不到了。。。

[2022-10-24 08:14] Eddie-zhg commented on #47253
采用的是两个机子，是用网线直接连接。paddle是cpu版本2.3.2。运行的例子是[https://github.com/PaddlePaddle/PaddleFleetX/tree/old_develop/examples/wide_and_deep_dataset](url)

[2022-10-24 08:21] xiaopei-sd commented on #47286
与前述报错一致。
`HTTPError: 404 Client Error: Not Found for url: https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/noarch/current_repodata.json`

[2022-10-24 08:25] xingjunhong commented on #47289
如何不保存最佳模型呢？我应该注释掉哪里的代码？

[2022-10-24 08:56] ZzSean commented on #47286
https://github.com/tuna/issues/issues/1518

[2022-10-24 08:58] ZzSean commented on #47289
最佳模型指的是训练完成后的模型吗？如果是的话，你中断训练过程，保存当时的模型应该可以满足你的需求吧

[2022-10-24 09:02] #47195 closed, assigned to zhangbo9674

[2022-10-24 09:02] xingjunhong commented on #47289
最佳模型是那个best_model的那三个东西，我现在不想要这三个，只想保存每个epoch训练出来的那三个模型

[2022-10-24 09:04] jiweibo commented on #47162
@engineer1109  .so有符号，.a中符号缺失

[2022-10-24 09:07] engineer1109 commented on #47162
@jiweibo   libpaddle_inference.a 不是保留完整符号吗？你这个图有什么问题？

[2022-10-24 09:07] ZzSean commented on #47289
能麻烦你提供下详细的代码吗？

[2022-10-24 09:08] xingjunhong commented on #47289
# Copyright (c) 2020 PaddlePaddle Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is d

[2022-10-24 09:09] xingjunhong commented on #47289
# Copyright (c) 2020 PaddlePaddle Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is d

[2022-10-24 09:11] LielinJiang commented on #47194
[code]

这里表示的是如果你输入的mean和std是数值的话，就默认你的输入是3通道数据。你可以直接设置mean = [0.5], std=[0.5]，将mean和std设置成list就可以处理单通道数据

[2022-10-24 09:43] xiaopei-sd commented on #47286
非常感谢~
问题解决
解决办法：重新安装。
这个问题可能是conda内部问题。没有找到根源问题。

[2022-10-24 11:09] #47286 closed, assigned to ZzSean

[2022-10-24 11:50] duwenzhao opened #47296 "yolov5m 动态图转静态图，数据读取feed_list问题"
### 请提出你的问题 Please ask your question

# paddlepaddle == 2.3.2
使用官方提供的paddleYOLO 代码，数据集coco，使用yolov5_m_300e_coco.yml
device：cpu，batchsize：2
使用了动态图转静态图方法，具体做法：
在train.py中if __name__ == "__main__":下面增加paddle.enable_static()
错误：
File "tools/train.py", line 176, in <module>
    main()
  File "tools/train.py", line 169, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 124, in run
    trainer =

[2022-10-24 12:03] duwenzhao opened #47300 "yolov5m 动态图转静态图，权重初始化scope问题"
### 请提出你的问题 Please ask your question

# paddlepaddle == 2.3.2
使用官方提供的paddleYOLO 代码，数据集coco，使用yolov5_m_300e_coco.yml
device：cpu，batchsize：2
使用了动态图转静态图方法，具体做法：
在train.py中if __name__ == "__main__":下面增加paddle.enable_static()
错误：
 File "tools/train.py", line 176, in <module>
    main()
  File "tools/train.py", line 169, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 124, in run
    trainer =

[2022-10-24 13:05] gakkistyle opened #47305 "【文档-教程-零基础实践深度学习】work 路径下数据集无处寻找"
### 请提出你的问题 Please ask your question

你好，
  在官方文档中，教程一栏的零基础实践深度学习，以下两个网页https://www.paddlepaddle.org.cn/tutorials/projectdetail/4309126 和https://www.paddlepaddle.org.cn/tutorials/projectdetail/3473063 均出现路径./work/...下的数据集引用，如下图
<img width="1197" alt="work" src="https://user-images.githubusercontent.com/41604301/197531670-5502dc77-9338-40db-955a-e8ab0e175a5b.png">
<img width="1046" alt="work2" src=

[2022-10-24 14:38] DesmonDay commented on #47171
问题已定位了，预计明天提PR到Paddle哈。

[2022-10-25 00:43] yaomichael commented on #45058
reopen it as there is still something to clarify

[2022-10-25 00:46] yaomichael commented on #45058
on behalf of @tsocha
it seems that the newest issue is not caused by paddle, but by custom operator registered by deep_md
this is a name of this custom operator, it seems that it was registered but no kernel is available.

That's weird that it works on older SHA, I think something changed in op register mechanism.

@leeleolay can you try to run this demo on current develop branch? maybe this issue

[2022-10-25 01:18] #47276 closed, assigned to ZzSean

[2022-10-25 02:03] leeleolay commented on #45058
The target of this work is to using multi-threads with Paddle using OneDNN to speed up the process of inference

The pipeline of the inference is combining with Paddle, DeepMD-kit(training and inference, is one step of molecular dynamics simulation), LAMMPS(Molecular Dynamics simulation). deep_md_test repo is only used to test whether paddle can work well.

I using the Paddle SHA:[e1e0dee](https:/

[2022-10-25 02:18] Eddie-zhg commented on #47253
您好，同步情况咋样？

[2022-10-25 02:28] jiweibo commented on #47162
@engineer1109  这里是符号缺失吧
![image](https://user-images.githubusercontent.com/26377421/197667757-1f9cb23b-a688-4906-8ad4-4f736d7e7aee.png)

[2022-10-25 02:36] ZzSean commented on #47305
您好，这个数据集应该是开源可以获取的，我这里先放个链接，后续会补充到文档中，感谢您的反馈！
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data
目前官网的文档，是通过AI Studio镜像来的，数据集都挂在对应的项目里，可以在线直接运行，我们也是推荐这种方式来学习的哈，课程链接：https://aistudio.baidu.com/aistudio/course/introduce/1297

[2022-10-25 02:37] #47305 closed, assigned to ZzSean

[2022-10-25 02:59] Rokcy-Lucky opened #47316 "paddle推理模型修改"
### 请提出你的问题 Please ask your question

请问是否可以对paddle推理模型进行节点的删除、添加、属性修改等操作？谢谢！

[2022-10-25 03:00] zhangbo9674 commented on #47225
你好，我们系统分析了jieba+paddle在这个case下的问题，jieba源码中在predict模块中声明了一个paddle的静态图执行器executor，在predict模块的get_result函数中调用该执行器执行，在这个多线程的示例中，由于python的标准import不会对一个模块重复载入，所以只声明了一个执行器，多个线程同时使用该执行器执行，这是无法保证正确性的。
predict模块的代码如下：https://github.com/fxsjy/jieba/blob/master/jieba/lac_small/predict.py
'''
import paddle
exe = fluid.Executor(place)
def get_result(str1):
    result = exe.run(）
    return result
'''

[2022-10-25 03:10] ZzSean commented on #47296
您好，有关动转静的使用可以参考下这里的文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/guides/jit/basic_usage_cn.html#dongzhuanjingxunlianyangli

[2022-10-25 03:10] ZzSean commented on #47300
您好，有关动转静的使用可以参考下这里的文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/guides/jit/basic_usage_cn.html#dongzhuanjingxunlianyangli

[2022-10-25 06:28] JamesLim-sy commented on #47316
请问下这里的推理模型是在Paddle上运行，还是Paddlelite，或者PaddleInference库上运行

[2022-10-25 06:37] #30012 closed, assigned to zhiqiu

[2022-10-25 06:37] #32066 closed, assigned to littletomatodonkey

[2022-10-25 06:37] #34534 closed, assigned to DannyIsFunny

[2022-10-25 06:37] #35059 closed, assigned to haozech

[2022-10-25 06:37] #36276 closed, assigned to nobody

[2022-10-25 06:37] #36425 closed, assigned to zhiboniu

[2022-10-25 06:37] #36456 closed, assigned to yingyibiao

[2022-10-25 06:37] #36471 closed, assigned to yingyibiao

[2022-10-25 06:37] #36472 closed

[2022-10-25 06:37] #36478 closed, assigned to yingyibiao

[2022-10-25 06:38] #36523 closed, assigned to nobody

[2022-10-25 06:38] #36528 closed, assigned to nobody

[2022-10-25 06:38] #36602 closed, assigned to nobody

[2022-10-25 06:38] #36606 closed, assigned to nobody

[2022-10-25 06:38] #36619 closed, assigned to nobody

[2022-10-25 06:38] #36629 closed, assigned to LiuChiachi

[2022-10-25 06:38] #36668 closed, assigned to nobody

[2022-10-25 06:38] #36670 closed, assigned to cuicheng01

[2022-10-25 06:38] engineer1109 commented on #47162
@jiweibo 这个大写U少了是不影响使用的。在ELF里表示Undefined为定义的符号。一定要有T
引起的原因是本身Paddle CMake链接库的顺序和关系很混乱引起的。
引起libpaddle_inference.a 有两个相同的符号，已经定义的T 和 没有定义的 U。
在生成so或执行文件的时候，U都是要去掉的变成T，没有去掉反而会BUG了，导致没有Symbol编译不过。

[2022-10-25 06:42] JamesLim-sy commented on #47316
PaddleInference推理模型端配置了 PaddleSlim库，可以帮助执行模型剪裁、超参搜索、模型结构搜索等操作，见以下链接：
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/guides/infer/paddleslim/paddle_slim_cn.html

[2022-10-25 06:43] engineer1109 commented on #47162
@jiweibo 静态库本身是一堆.o的压缩包集合，实际上静态库没有导出的概念，也不是运行时，允许有未定义的U函数。
同时因为链接的问题（A链接B，C没有链接B但是用了B的函数, 然后再用D一起链接A和C)，可能会引入同名符号的T，和U一起共存。
简单来说，对于静态库只要有.o 和 .a 进去了，就一定能保留下来。

如果链接成so是另一回事了，gcc编译属性visibility并不能控制静态库符号的保留，必须通过$<TARGET_OBJECTS:phi_function_api> 选择性保留静态库的符号，或者调用静态库的函数。
链接的时候，通常不容许存在U，发现有同名的T，就会指向T

[2022-10-25 07:06] Rokcy-Lucky commented on #47316
推理模型在paddle上执行。想把paddle 中conv nchw格式修改为nhw格式。paddle是否提供类似于onnx这样的接口：https://www.cnblogs.com/jingsupo/p/15792825.html。非常感谢

[2022-10-25 07:20] levinxo commented on #47225
好的，谢谢！目前暂时通过多进程解决此问题

[2022-10-25 07:31] #43938 closed, assigned to nobody

[2022-10-25 07:31] #42843 closed, assigned to TCChenlong

[2022-10-25 07:32] #42565 closed, assigned to nobody

[2022-10-25 07:33] #45962 closed, assigned to zyfncg

[2022-10-25 07:34] #44501 closed, assigned to nobody

[2022-10-25 07:45] AnnaTrainingG commented on #47253
您好，十分抱歉，从您提供的信息中并未发现问题。是否可以尝试安装paddle的2.4版本或者develop版本重新运行呢

[2022-10-25 07:50] jiweibo commented on #47162
@engineer1109
ok，.a中T和U共存不影响使用；.so中本地测试正常，但你的环境编出的.so有问题，我微信加下你问下具体的复现环境吧。

[2022-10-25 07:54] Eddie-zhg opened #47326 "多机参数服务器分布式训练出错"
### 请提出你的问题 Please ask your question

**检测多机通信情况，显示是正常的：
server:**
![2022-10-25 15-39-51屏幕截图](https://user-images.githubusercontent.com/82798516/197715508-670db332-951e-4345-a6b2-145673efc6ff.png)
![2022-10-25 15-40-07屏幕截图](https://user-images.githubusercontent.com/82798516/197715521-e90f90da-23bf-4000-b3d2-3882dda4d420.png)
**worker:**
![2022-10-25 15-40-44屏幕截图](https://user-images.githubusercont

[2022-10-25 07:56] Eddie-zhg commented on #47253
只能换版本了吗 本地部署参数服务器模式的分布式训练，一般是用什么指令来启动分布式的？

[2022-10-25 08:21] AnnaTrainingG commented on #47253
更换版本是为了避免Paddle版本遗留问题导致您程序出错，只是验证。分布式启动可以查看，训练相关文档进行操作https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/06_distributed_training/deployment_cn.html#fenbushiqidong

[2022-10-25 08:31] SunGoodIn opened #47329 "paddle支持JetPack 5.0.2的预测库"
参考了nvidia官方的l4t镜像（https://catalog.ngc.nvidia.com/orgs/nvidia/containers/l4t-ml/tags），发现没有合适的paddlepaddle预编译wheel（https://paddleinference.paddlepaddle.org.cn/master/user_guides/download_lib.html），
要么是python版本不对应，要么是Jetpack版本不对应；
是否考虑预编译一些合适的预编译wheel呢，以及支持Jetpack5.0.2 python3.8

[2022-10-25 09:00] #47300 closed, assigned to nobody

[2022-10-25 09:06] SunGoodIn commented on #47329
上周尝试从源码编译，编译成功后引入发现不支持cuda（环境是支持cuda的并且pytorch验证正常）；
且自己编译的wheel名字：paddlepaddle-2.2.0-cp38-cp38-linux_aarch64.whl 41.6M，没有跟踪编译日志，正确编译后支持CUDA的文件名是否会携带gpu标识啊；
困扰我好久了，在线求大佬支持！！！

[2022-10-25 09:09] kostjaf opened #47331 "Optimizer.step是Optimizer.minimize的简化版吗，两者有什么区别"
### 请提出你的问题 Please ask your question

Optimizer.step是Optimizer.minimize的简化版吗，两者有什么区别

[2022-10-25 09:10] jiweibo commented on #47162
经验证`WITH_GPU=OFF`情况下so符号未导出，https://github.com/PaddlePaddle/Paddle/pull/47208 修复此问题

[2022-10-25 09:20] JamesLim-sy commented on #47316
paddle的python端api中有这样的描述数据类型的shape_format，见链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/nn/Conv2D_cn.html#conv2d
另一方面，paddle目前的训练主要是围绕GPU开展的，所以内置的核心计算中针对conv 传入的 shape_format类型，结合GPU上面的TensorCore 计算单元进行了性能优化，这部分的优化逻辑会根据Python端确定的shape_format 进行判断执行。

[2022-10-25 09:23] Rokcy-Lucky commented on #47316
嗯嗯，好的，谢谢！

[2022-10-25 10:01] #47260 closed, assigned to ronny1996

[2022-10-25 10:02] #47257 closed, assigned to ronny1996

[2022-10-25 10:07] yangguohao commented on #47064
【列表选题】
编号：29
题目：用飞桨框架基于AlphaZero算法造一个会下五子棋的AI模型
认领人：yangguohao

[2022-10-25 11:37] xiequnyi opened #47335 "Paddle Segmentation fault SolveGradKernel"
### 请提出你的问题 Please ask your question

使用paddle2.2框架的paddle.linalg.solve算子，训练阶段，报如下错误，请问如何解决呢？

<img width="948" alt="image" src="https://user-images.githubusercontent.com/24647238/197763745-c5d376c7-55ca-4c8a-85b0-7100e3e57edf.png">

[2022-10-25 11:54] JamesLim-sy commented on #47331
`optimizer.step()` 和`optimizer.minimize()'的功能相似，两者的功能介绍概述见：https://github.com/PaddlePaddle/Paddle/blob/7e06541b0b0294789122f4f5a8c80a7d16a8d465/python/paddle/amp/grad_scaler.py#L34-L35
根据目前训练模型的主要写法，`optimizer.step()`操作单纯地应用与模型训练时的参数更新，`optimizer.minimize()'更多地与AMP计算配合，对等比例放大或缩小的loss进行更新，使用样例见：https://github.com/PaddlePaddle/PaddleNLP/blob/211e8204dd5aa06f9a89171486dee4be183188de/examples/machine_

[2022-10-25 12:14] kjf4096 commented on #47064
【列表选题】
编号：1
题目：cifar100数据集上基于Vision Transformer 实现图片分类
认领人：jsdbzcm

[2022-10-25 13:43] zhwesky2010 commented on #45290
@kisaragychihaya 你好，CUDA11.3需要使用VS2019来编译，可以在 https://visualstudio.microsoft.com/zh-hans/vs/older-downloads/  中下载vs2019社区版并安装

[2022-10-26 02:02] JamesLim-sy commented on #47335
看着比较像使用`paddle.linalg.solve`算子时出现了数据类型这类的问题，报错的输入x, y配置信息有记录的话，可以单独把计算中的`paddle.linalg.solve`抽出来进行单测查询下问题.

[2022-10-26 02:31] ZHUI commented on #46788
https://github.com/PaddlePaddle/Paddle/tree/develop/python/paddle/incubate/multiprocessing

paddle也实现了  multiprocessing 在多进程之间传输 tensor

spawn 分布式训练的话，也是nccl通信

[2022-10-26 02:54] ConleyKong opened #47344 "卸载GPU版本paddle后cpu版本无法正常使用"
### 问题描述 Issue Description

CentOS系统，同时安装了paddle的CPU版本和GPU版本，卸载GPU版本后进入python环境无法import paddle，报错说找不到模块，实际系统是存在cpu版本paddle的，但是新建conda环境仅安装cpu版本paddle的话可以导入paddle模块

### 版本&环境信息 Version & Environment Information

paddlepaddle: 2.3.2
paddlepaddle-gpu:2.3.2
os: CentOS7.9

[2022-10-26 03:36] edencfc commented on #47064
【列表选题】
编号：13
题目：Jena Climate时间序列数据集上使用LSTM进行温度的预报
认领人：深渊上的坑

[2022-10-26 03:37] edencfc commented on #47064
【列表选题】
编号：15
题目：baostock 证券数据集下使用LSTM 模型预测 A 股走势
认领人：深渊上的坑

[2022-10-26 03:42] cookyo opened #47346 "梯度回传报错"
### 请提出你的问题 Please ask your question

http://10.137.145.33:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20221026005440-49267/

![image](https://user-images.githubusercontent.com/32798289/197929517-240cb33a-3a22-44ba-98b7-ca26222277f7.png)

[2022-10-26 03:43] lwbmowgli commented on #47064
【列表选题】
编号：11
题目：使用Grad-CAM 类激活可视化深度学习网络性能的可解释性
认领人：李长安

[2022-10-26 03:44] lwbmowgli commented on #47064
【列表选题】
编号：03
题目：Caltech 101 数据集上基于Vision Transformer 实现飞机目标识别
认领人：李长安

[2022-10-26 03:55] momozi1996 commented on #47064
感谢，选题已被飞桨框架团队收到，将在3个工作日内邀请你进入任务微信群。并指导完成任务，请留意信息。

[2022-10-26 03:58] thisjiang commented on #47344
您好！由于paddle gpu版本和cpu版本的包名都是paddle，都安装在`/usr/local/lib/python3.7/dist-packages/paddle/`目录下。当您卸载其中任意一个版本时，`/usr/local/lib/python3.7/dist-packages/paddle/`也会被同时删除，这也是您使用不了另一个版本的原因。

实际上，即使您安装的是paddle gpu版本，也是可以跑CPU模型的， 只要您在代码起始位置加入`paddle.device.set_device('cpu')`即可。为了您的使用体验，建议只安装一个版本，若想安装另一版本，请先卸载现有版本。

[2022-10-26 04:17] WangXi2016 commented on #47064
【列表选题】
编号：04
题目：MosMedData: 新冠肺炎胸部 CT扫描数据集上基于3D-CNN实现二分类任务。
认领人：木头熊

[2022-10-26 04:19] WangXi2016 commented on #47064
【列表选题】
编号：02
题目：Crowd Instance-level Human Parsing Dataset 数据集上使用DeepLabV3+实现多分类语义分割
认领人：木头熊

[2022-10-26 04:48] RedContritio commented on #47064
【列表选题】
编号：28
题目：用DQN强化学习算法玩“合成大西瓜”！
认领人：RedContritio

[2022-10-26 06:13] 2017040264 commented on #47064
【列表选题】
编号：19
题目：English-to-Spani数据集下基于sequence-to-sequence Transformer的机器翻译任务
认领人：月光下的独孤亮

[2022-10-26 06:18] Eddie-zhg commented on #47326
有人回复么

[2022-10-26 06:21] momozi1996 commented on #47064
您认领任务了后，请扫码加入微信群，我们实时回答问题～

&nbsp;

BIT莫琰
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月26日(星期三) 下午2:13
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] [Call for Contribution] Tutorials for PaddlePaddle  ——— issue 链接 (Issue #47064)

【列表选题】
 编号：19
 题目：English-to-Spani数据集下基于sequence-to-sequence

[2022-10-26 06:31] RedContritio commented on #47064
【列表选题】
编号：30
题目：selfie2anime数据集下基于CycleGAN的将照片变为二次元卡通风格
认领人：RedContritio

[2022-10-26 07:05] yaomichael opened #47357 "Accuracy is wrong when inference deepmd with oneDNN"
### bug描述 Describe the Bug

This issue is created as a follow-up of #45058 where the original error was root caused and fixed.
This issue is assume inference can run (this is true at certain commits only today), e.g. SHA:[e1e0dee](https://github.com/PaddlePaddle/Paddle/commit/e1e0deed64bd879357b9fc28ff68770f8eae87a6), the resulted accuracy is abnormal.

below is copied from @leeleolay 's last comm

[2022-10-26 07:19] yaomichael opened #47359 "ExternalError: function "pd_prod_env_mat_a_cpu_forward_kernel" is not implemented for data type `float32` when run deepmd with latest Paddle/develop"
### bug描述 Describe the Bug

This issue is created as a follow-up of https://github.com/PaddlePaddle/Paddle/issues/45058 where the original error was root caused (by #44365) and fixed by #45770. Unfortunately, the changes between these two commits introduced another error as described in https://github.com/PaddlePaddle/Paddle/issues/45058#issuecomment-1289829832

with commit [23def39672](https://gi

[2022-10-26 07:22] yaomichael commented on #45058
i closed #45058 as the original bug was rootcaused and fixed.
instead, i created two issues to track remaining problems

- #47357 assigned to @tsocha
- #47359 it should be Paddle framework issue, can @leeleolay have someone on your side to take it?

[2022-10-26 07:23] Reneea1 opened #47361 "请问pytorch里model._modules这种写法，在paddle里对应的是什么"
请问pytorch里model._modules这种写法，在paddle里对应的是什么？例如这一行的操作：
https://github.com/salesforce/BLIP/blob/main/models/blip_pretrain.py#L297

[2022-10-26 07:45] adaxiadaxi commented on #47131
@GuoxiaWang 了解，确实是，如果输入和编译后的图存在不一样，那确实属于大bug，应该早早就被发现和修复的。

请问值班同学，这几个优化器的基类有没有什么区别？我们对接分布式的时候，用到了这几个基类，需要看下要不要都支持适配一下
![67fbed8053a01f418bc190f03b6fd65](https://user-images.githubusercontent.com/58928121/197965450-9c6d9305-545b-49ae-8628-e00f48392e75.png)

[2022-10-26 07:48] GuoxiaWang commented on #47131
@adaxiadaxi  建议使用 paddle.optimizer

[2022-10-26 07:54] thisjiang commented on #47361
根据源码分析，该接口应该与paddle中的[`Layer._sub_layers`](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dygraph/layers.py#L150)类似。

[2022-10-26 07:55] adaxiadaxi commented on #47131
@GuoxiaWang 另外看这个编译接口，似乎是给分布式专用的，单机的时候似乎没有jit编译program，而是直接run这份program，挨个call算子执行。问下除了GraphCore这种以图对接的形式，其他应该也有厂商是需要jit编译的吧，是在哪里做的？请问值班同学了解这个嘛。
![c06251776404d67c254c2f9e6c900d3](https://user-images.githubusercontent.com/58928121/197967697-41a69b59-0eea-429a-9312-b5e39917578a.png)

[2022-10-26 08:51] JamesLim-sy commented on #46974
Error solved and vertified  in [PR47233](https://github.com/PaddlePaddle/Paddle/pull/47233).

[2022-10-26 09:19] thisjiang commented on #47359
It's seems the kernel of operator `prod_env_mat_a` did not support data type `float32`, could you check whether the `InferDtypeFn` of `prod_env_mat_a` support `float` if the `prod_env_mat_a` was written by custom operator, or `PD_REGISTER_KERNEL(prod_env_mat_a` if the `prod_env_mat_a` was written by  inner operator(will, but I cannot find this operator in source code).

[2022-10-26 09:42] #47171 closed, assigned to GuoxiaWang, DesmonDay

[2022-10-26 09:58] #46647 closed, assigned to Caozhou1995

[2022-10-26 12:03] lzzzzzm commented on #47064
【列表选题】
编号：05
题目：PASCAL 3D+数据集上使用 PointNet 实现5类点云的分割
认领人：lzzzzzm

[2022-10-26 12:29] lileding opened #47384 "CUDA 11.8 编译出错"
### 问题描述 Issue Description

使用develop分支编译cuda版出现nvcc的编译错误
辛苦开发组给一些线索，我可以自己调试和编码

编译对象：paddle/phi/kernels/funcs/matrix_reduce.cu
错误提示：/opt/cuda/targets/x86_64-linux/include/thrust/system/cuda/detail/scan_by_key.h(905): error: identifier "CUB_TARGET_ALLOWS_DEVICE_SYNC" is undefined

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version: commit 016766c

[2022-10-26 12:43] thisjiang commented on #47384
您好！Paddle目前最高只支持到cuda11.7，cuda11.8尚未进行适配。看报错信息应该是[cub](https://github.com/NVIDIA/cub)库同样还未适配cuda11.8导致的，建议在cuda11.7环境下进行编译安装。

[2022-10-26 13:13] zhiqiu commented on #47131
这个compile主要的作用是将program转为内部的Graph表示，并且可以加上一些pass优化，比如fuse。

[2022-10-26 13:27] tsocha commented on #47357
@leeleolay
Could you test if this patch works for you?
I'm still working on this issue but I want to confirm that this pass is a possible culprit here.
[code]

[2022-10-26 14:05] #45058 closed, assigned to zhwesky2010

[2022-10-26 14:58] lifw555 commented on #45187
建议基于mingw-64w，使用gcc编译器，在windows上编译，方便跨平台编译。

我自行尝试使用mingw-64w，编译报错。
-- Looking for UINT64_MAX
-- Looking for UINT64_MAX - not found
-- Looking for UINT64_MAX
-- Looking for UINT64_MAX - not found
CMake Error at cmake/flags.cmake:102 (message):
Cannot find symbol UINT64_MAX
Call Stack (most recent call first):
CMakeLists.txt:233 (include)

[2022-10-26 16:25] npuyzr commented on #47064
【列表选题】
编号：26
题目：Goodbooks-10k数据集下基于隐式推荐算法模型完成图书推荐系统
认领人：npuyzr

[2022-10-26 16:25] npuyzr commented on #47064
【列表选题】
编号：26
题目：Goodbooks-10k数据集下基于隐式推荐算法模型完成图书推荐系统
认领人：npuyzr

[2022-10-26 16:25] lzzzzzm commented on #47064
你发过来的邮件怎么都是乱码啊，什么都看不到，再发一次吧。

[2022-10-27 02:37] dolcexu opened #47395 "paddle2.4的adamw中没有_append_decoupled_weight_decay方法"
### 请提出你的问题 Please ask your question

我们在测试paddle2.4的时候，发现adamw中缺少了_append_decoupled_weight_decay这个方法。这个方法在paddleclas-release-2.5的cae模型训练时会用到。

[2022-10-27 02:50] RedContritio commented on #47064
【列表选题】
编号：22
题目：NLPCC2018数据集下基于word2vec构造知识库问答系统系统
认领人：RedContritio

[2022-10-27 03:37] wanx7130 commented on #47131
是不是我可以理解成fluid里的optimize是初始，paddle\optimizer是终章，fluid\contrib类似于是一个中间态？

[2022-10-27 03:38] #47273 closed, assigned to ZzSean

[2022-10-27 03:39] wanx7130 commented on #47131
是不是可以认为paddle的在所有设备上都是以aot算子来执行的,所以只需要一些图优化动作即可，实际上并不再需要jit的算子编译过程了？

[2022-10-27 03:56] Ramlinbird opened #47396 "请问下fleetrun如何简便启动多机分布式训练？"
### 请提出你的问题 Please ask your question

您好，关于fleetrun的使用，有两个问题想请教一下：
1）fleetrun的参数servers和workers应该分别指 参数节点、训练节点吧？不知道一般这两个的数量应该怎么设定呢？
2）我在多个docker容器上尝试了fleetrun多机分布式训练，但是每次都要手动在各个容器执行fleetrun命令，指定长长的ip:port列表字符串，很麻烦，想请教下有没有其他简便方法？我们公司的机器现在是k8s集群管理的，可以通过arena提交任务，但是不知道怎么和fleetrun结合起来。
谢谢~

paddle版本：2.3.0

[2022-10-27 05:10] jzhang533 commented on #47384
NGC Container PaddlePaddle是基于cuda11.8的，如果只是直接用的话，可以试试。
https://docs.nvidia.com/deeplearning/frameworks/paddle-paddle-release-notes/rel-22-09.html#rel-22-09

[2022-10-27 05:45] jingmingtao commented on #34827
请问是如何解决的

[2022-10-27 06:37] Eddie-zhg opened #47400 "参数服务器，能一个机器设置成server，一个机器设置成worker进行训练吗？"
### 请提出你的问题 Please ask your question

现在有两机器，想部署一个简单的参数服务器架构的训练。把一个当作server，另一个当作worker，paddle可以部署吗？

[2022-10-27 06:56] #46974 closed, assigned to kuizhiqing

[2022-10-27 08:02] JackonLiu commented on #28296
Meet the same problem

[2022-10-27 08:05] liangxuegang opened #47402 "paddle.onnx.export接口中，模型的输入是List[Tensor, Tensor ...], Tensor, input_spec怎么填写呢?"
### 请提出你的问题 Please ask your question

我想将https://github.com/PaddlePaddle/PaddleRec/blob/master/models/rank/dcn/net.py提供的模型转化为onnx模型保存，使用paddle.onnx.export接口，模型的输入是List[Tensor, Tensor ...], Tensor这种格式。我应该怎么给input_spec参数赋值呢？下面这种方式只能保存List中的一个参数：
`dense_input_dim = config.get('hyper_parameters.dense_input_dim', None)
x1_spec = InputSpec([None, 1], 'int64', 'sparse_inputs')
x2_spec = InputSpec([None,

[2022-10-27 08:12] sdcb opened #47403 "PaddleInference app C API should wrapping C++ exception as return value"
### 需求描述 Feature Description

Typically C API design should be exception free, because C API is intended to wrapped in another programming languages like C#, and these C++ exceptions are not portable, let's say this API:
[code]

the return BOOL is actually can't tell whether it's really success or fail, because it might **throw C++ exception**.

C API should also be "exception-safe" according to e

[2022-10-27 08:30] yeyupiaoling opened #47404 "使用Inference接口推理提示 not reigistered in OpCompat!"
### 请提出你的问题 Please ask your question

 - PaddlePaddle 2.4.0

在加载模型时，输出日志中包含了大量的这些错误信息，但是又好像不影响推理。这是什么原因？
[code]

[2022-10-27 08:56] ainndejj11 opened #47405 "PaddleOCR换一个设备进行推理报错"
### 请提出你的问题 Please ask your question

PaddleOCR分支是release-2.5   测试使用几个设备（2080，1070）显卡均可运行代码。 然后换一个线上设备显卡为 T4,推理就报错了。请问这个显卡以及环境有关么？ 具体是什么原因？

错误信息：
[2022-10-27 16:28:18] I1027 08:28:18.681836    15 analysis_config.cc:1044] In CollectShapeInfo mode, we will disable optimizations and collect the shape information of all intermediate tensors in the compute graph and calculate the min_shape, max_shape

[2022-10-27 09:36] duwenzhao opened #47408 "yolov5m 动态图转静态图 The conv2d Op's Input Variable `Input` contains uninitialized Tensor"
### 请提出你的问题 Please ask your question

# paddlepaddle == 2.3.2
使用官方提供的paddleYOLO 代码，数据集coco，使用yolov5_m_300e_coco.yml
device：cpu，batchsize：2
使用了动态图转静态图方法，具体做法：
参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/jit/basic_usage_cn.html#inputspec
在yolov5.py中def _forward(self):上面增加@paddle.jit.to_static
错误：
File "tools/train.py", line 176, in <module>
    main()
  File "tools/train.py", lin

[2022-10-27 11:48] #47296 closed, assigned to nobody

[2022-10-27 11:48] tsocha commented on #47357
It seems that `deep_md` model is still a `fp64` model, it was not converted to `fp32`.
![obraz](https://user-images.githubusercontent.com/24435886/198275167-7b61a0ca-a945-4695-92ee-804047f9c6f0.png)
OneDNN does not support this datatype on CPU.
I discovered that the pass mentioned above(`elt_act_mkldnn_fuse_pass`) incorrectly fuses operator which is executed by PaddlePaddle's reference kernel.
log

[2022-10-27 11:49] #47279 closed, assigned to ZzSean

[2022-10-27 11:49] #47289 closed, assigned to ZzSean

[2022-10-27 12:59] wn1652400018 opened #47418 "CrossEntropyLoss的在label中存在-100时，loss的计算不准确"
### bug描述 Describe the Bug

paddle版本2.3.2
我在比较torch和paddle的CrossEntropyLoss时发现，如果label中存在-100，那么paddle和torch的计算结果不一样（如果没有-100则loss相同）。
我猜测大概时paddle在统计参与平均只计算的总个数时把label为-100的也考虑进去了。可以通过实验来验证代码如下：
`import torch
import paddle
import numpy as np
label = np.random.randint(0, 7, (511,)).astype(np.int64)
logit = np.random.randn(511, 7)
label[0:100] = -100
label[-100:] = -100
ct = torch.nn.CrossEntropyLo

[2022-10-27 14:06] leeleolay commented on #47359
the custom op is located is this repo and the link is followed by
https://github.com/X4Science/paddle-deepmd/blob/paddle_progress/source/op/paddle_ops/srcs/pd_prod_env_mat_multi_devices_cpu.cc

[2022-10-28 01:07] fanxiaochen456 opened #47424 "paddle_inferencel.dll部署测试时出现级别错误"
您好，我使用的硬件环境为Inter Celetron J1900，windows10x64操作系统，部署方式是PaddleX，测试项目为PaddeSeg，使用C++编写测试文档，测试时，在Windows的事件查看器中出现了级别错误，错误指向了paddle_inference.dll这个包，paddle的产品硬件支持表中提到paddle Inference支持常见CPU型号如Xeon、Core全系列等，请问paddle Inference支持Inter Celetron J1900显卡吗？

[2022-10-28 01:46] yeyupiaoling opened #47425 "Inference预测接口无法输入np.zeros([0, 0, 0, 0])"
### 请提出你的问题 Please ask your question

 - PaddlePaddle 2.4.0

Inference预测接口无法输入`np.zeros([0, 0, 0, 0])`，但是模型的确需要这样的输入作为初始化
会报错如下：
[code]

[2022-10-28 02:00] lifw555 opened #47426 "强烈建议支持windows下cmake+mingw-64编译c++库。"
### 需求描述 Feature Description

场景：在windows下使用qt编译gui程序，为兼容方便。

希望提供cmake+mingw-64w编译的dll库，或提供mingw-64w的预编译库也可以。

谢谢！

### 替代实现 Alternatives

_No response_

[2022-10-28 02:03] Ramlinbird commented on #47396
请问下有人解答下吗？谢谢~

[2022-10-28 02:07] yeyupiaoling commented on #47425
好像可以了，可能是我没有指定类型，这样做就可以了`np.zeros([0, 0, 0, 0], dtype=np.float32)`

[2022-10-28 02:07] #47425 closed, assigned to ceci3

[2022-10-28 02:14] qili93 commented on #47131
飞桨静态图在 NV GPU 上的运行流程是将 program 转为飞桨的内部 Graph IR 之后对起进行解析获得算子 IR 再以算子粒度执行 CUDA 或者是 cuDNN 的 AOT 算子。

而类似 Graphcore 或者是 TensorRT 这样图接入的方式，到 Graph IR 之后就会转化为 PopART 或者是 TensorRT 的图对象 （这里也是以算子 IR 进行算子粒度的 OP 转化，但都是 IR 层面的），构建得到 PopART 或者是 TensorRT 的图对象， 之后根据其图引擎的要求进行图编译和图执行。

如果您这里需要接入 JIT 的算子，需要考虑通过编译器后端的方式接入，可以考虑下 https://github.com/PaddlePaddle/CINN 的编译器方案。

[2022-10-28 02:28] DevilcLo opened #47427 "win10编译2.3 GPU版本的paddle失败"
### 问题描述 Issue Description

编译windows版本的2.3 GPU paddle失败
错误消息：
56 errors detected in the compilation of "D:/paddle_project/Paddle/paddle/phi/kernels/funcs/eigen/pad.cu".
pad.cu
[89/3371] Building CUDA object paddle\phi\kernels\funcs\eigen\CMakeFiles\eigen_function.dir\broadcast.cu.obj
FAILED: paddle/phi/kernels/funcs/eigen/CMakeFiles/eigen_function.dir/broadcast.cu.obj
C:\PROGRA~1\NVIDIA~2\CUDA\v1

[2022-10-28 02:49] onecatcn commented on #47131
总结得很到位，新写的代码建议使用paddle.optimizer.

[2022-10-28 02:50] onecatcn commented on #47131
总结得很到位，那些(fluid 、contrib)都是历史遗留的优化器，新写的代码建议使用paddle.optimizer.

[2022-10-28 02:53] w5688414 opened #47430 "paddle.arrange接受小于1的浮点数会报错"
### bug描述 Describe the Bug
李沐老师教辅出现的问题：https://github.com/d2l-ai/d2l-zh/pull/1198
paddle的arrange方法接受小于1的浮点数会报错：

[code]
错误信息为：

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-10-28 02:55] NLPOR opened #47431 "paddlenlp few-shot推理部署报错"
### 请提出你的问题 Please ask your question

在运行paddlenlp中的few-shot小样本分类demo时，前面的训练和模型评估都可以正常运行，但是在执行部署推理时报如下错误：
![微信图片_20221028103050](https://user-images.githubusercontent.com/24563120/198480744-4560df21-9319-4a7b-988f-8c5c33d853de.jpg)

执行命令为：
python infer.py --model_path_prefix checkpoints/export/model --data_dir ./data --batch_size 1 --device gpu --device_id 0

数据推理的数据目录结构如下：
![image](https://user-i

[2022-10-28 04:45] sprouteer commented on #47430
试试这样 out1 = paddle.arange(3, 9, 0.1, dtype='float32')

[2022-10-28 04:46] frankwhzhang commented on #47400
可以参考官方分布式相关文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/06_distributed_training/cluster_quick_start_cn.html，请问还有其他需求吗

[2022-10-28 04:55] frankwhzhang commented on #47404
你好 有具体的代码和环境 可以贴一下吗

[2022-10-28 05:01] GuoxiaWang commented on #47395
增加``_append_decoupled_weight_decay`` 的同学在设计之初就是临时增加的，后续是要被删除的，所以在我重构 AdamW  的时候就删掉了，可以参考 PaddleNLP 的写法实现。

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/ops/optimizer/adamwdl.py

[2022-10-28 05:28] kuizhiqing commented on #47396
你好，fleetrun 启动的使用方式请参考[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/distributed/launch_cn.html)，fleetrun 等价于 python -m paddle.distributed.launch。

1. ps 训练中 server 和 worker 的数量需要根据业务需要自行配置。
2. fleetrun 的配置可以通过指定 master 节点自动发现 ip，自动分配端口，即在文档中重点关注 master/nnodes 两个参数。
3. k8s 上使用 paddle 建议使用 [paddle-opeartor](https://github.com/PaddleFlow/paddle-operator).

[2022-10-28 05:39] ceci3 commented on #47430
试了这样是可以的， @w5688414

[2022-10-28 06:03] yeyupiaoling commented on #47404
@frankwhzhang

 - PaddlePaddle 2.4.0
 - Python 3.8
 - Ubuntu 18.04 or Windows 10
 - Anaconda
 - CUDA 11.6

[2022-10-28 06:04] fanxiaochen456 commented on #47424
这是我使用的测试显卡
![批注 2022-10-28 125428](https://user-images.githubusercontent.com/101849755/198514788-08242f71-d607-4082-b645-2771202bbaee.png)
下边是相应的报错信息
![批注 2022-10-28 125343](https://user-images.githubusercontent.com/101849755/198514826-dbc11201-8831-41bc-9e26-7b397460866e.png)

[2022-10-28 06:05] Eddie-zhg commented on #47400
有。我尝试了很多。我需要一台机器只当worker，一台机器只当server。使用的是wide_and_deep_dataset的官方例子。
我参照着文档来输入指令：
server端：python -m paddle.distributed.launch --nnodes=2 train.py
worker端：python3.8 -m paddle.distributed.launch --master 169.254.60.61:37626 --nnodes=2 train.py
运行会报错：
server：
![2022-10-28 13-54-43屏幕截图](https://user-images.githubusercontent.com/82798516/198514702-37fef8e7-1510-4b0f-aee7-62eb6a138ce3.png)
![2022-10-28

[2022-10-28 06:12] MissPenguin commented on #47405
T4也是能跑的，可能你这台T4的卡有问题，或者paddle安装有问题，如果检查paddle安装没问题，可以换一台机器试试

[2022-10-28 06:13] nemonameless commented on #47408
您好，已有提供COCO的yolov5-m动转静导出后的模型，[下载链接](https://paddledet.bj.bcebos.com/deploy/yoloseries/yolov5/yolov5_m_300e_coco_w_nms.zip)，请参考 https://github.com/PaddlePaddle/PaddleYOLO/blob/release/2.5/docs/MODEL_ZOO_cn.md

导出命令：
[code]

[2022-10-28 06:16] weishengying commented on #47424
你好，目前的信息还看不出错误。建议先跑一下  paddle Inference 的 demo， 这个仓库里有一个 resnet50 的demo， 您可以试一试。
https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/cpu

[2022-10-28 06:19] yeliang2258 commented on #47402
你好，我看paddle.onnx.export(dy_model, save_path, input_spec=[x1_spec, x2_spec], opset_version=11)的导出方式应该是对的，能否尝试先用paddle.jit.save将模型存下来，然后在用Paddle2ONNX工具来转，看看是不是还存在问题。
Paddle2ONNX工具的链接：https://github.com/PaddlePaddle/Paddle2ONNX

[2022-10-28 06:19] fanxiaochen456 commented on #47424
@weishengying 您好，请问paddle Inference支持Inte Celetron J1900显卡吗？
![屏幕截图 2022-10-28 142111](https://user-images.githubusercontent.com/101849755/198517407-a80667b3-2987-4438-b835-f7a8ff80303f.png)
在这张表中并未提到J1900

[2022-10-28 06:28] ainndejj11 commented on #47405
您好，P4显卡呢，换了P4的设备也是报错。  主要代码和环境都没区别，同样代码本地设备测都没事，换这俩设备上就报错了。

[2022-10-28 06:31] weishengying commented on #47424
J1900 是一款内置核显的处理器吗？ Inference 目前只支持英伟达这样的独显。不过没关系，它依旧是x86架构的 CPU，你可以试着跑一下上面提供的 resnet50 demo。在 cpu 上应该是可以跑起来的。

[2022-10-28 06:32] ainndejj11 commented on #47405
推理时出现得一个问题，就是GPU显存利用率是0，GPU用不起来，  这在其他设备上测试是没问题的。

[2022-10-28 06:33] fanxiaochen456 commented on #47424
@weishengying 我使用的程序是x64操作系统的，paddle_Inference.dll也是64位的dll
![屏幕截图 2022-10-28 143516](https://user-images.githubusercontent.com/101849755/198519546-426dda47-6a47-4068-a47e-aa3dd952c25f.png)
跟这个指令集有关吗？

[2022-10-28 06:35] huangjun12 commented on #47418
是的，label中存在-100时，计算平均时会将其考虑进去，可以按你描述的方法进行修正

[2022-10-28 06:47] zhwesky2010 commented on #47427
@DevilcLo 你好，目前vs2019+cuda11.2我们是可以编译通过的，目前的Windows发版也是通过这种配置编译的。这个报错看起来是vs的版本不对，导致头文件报错？
我们安装的是vs2019社区版：
![infoflow 2022-10-28 14-47-24](https://user-images.githubusercontent.com/52485244/198521488-5a364f55-0daa-4afa-8c15-e593a20700f7.png)

[2022-10-28 06:53] zhwesky2010 commented on #47426
@lifw555 这个目前确实没有去实现的，因为用VS编译与Windows系统适配较好，也是绝大多数用法。
用mingw 需要给paddle库打包很多mingw库才能跑起来，会影响体积大小。请问在QT中是什么使用场景呢？

[2022-10-28 06:54] DevilcLo commented on #47427
我这边是更新的一个版本
![1666939799814](https://user-images.githubusercontent.com/38816740/198522165-ee0c36b6-f104-49c8-a24b-bfbb39e9004b.jpg)

![1666940032056](https://user-images.githubusercontent.com/38816740/198522779-241497c1-19e2-432e-9d0d-debc80feb835.jpg)
![1666940058670](https://user-images.githubusercontent.com/38816740/198522834-db9f99ef-34c4-4dae-a4d7-d9d64831f80b.jpg)
<img width="481" alt="16669

[2022-10-28 07:07] liangxuegang commented on #47402
感谢回复，您说的方法我也有过尝试，但是paddle.jit.save也需要传入input_spec这个参数，报错和paddle.onnx.export是一样的。
`dense_input_dim = config.get('hyper_parameters.dense_input_dim', None)
      x1_spec = InputSpec([None, 1], 'int64', 'sparse_inputs')
      x2_spec = InputSpec([None, dense_input_dim], 'float32', 'dense_inputs')
      static_model = paddle.jit.to_static(dy_model)
      paddle.jit.save(static_model, 'AAA', input_spec=

[2022-10-28 07:13] Eddie-zhg commented on #47396
请问一下，这个master主节点是什么样的一个定义？
假设我两台机器部署一个最基本的参数服务器架构的分布式训练，一台是server，另一台是worker。所以应该是nnodes=2。这里设置master是一个什么概念呢？这个master就是指这一台server吗？

[2022-10-28 07:15] Ramlinbird commented on #47396
不知道有没有更具体的教程，想具体了解一下实现原理、使用方法，看了文档还是不太清楚要如何操作😂

[2022-10-28 07:19] kuizhiqing commented on #47396
master 是多节点分布式训练中选取一个节点作为各个节点找到其他节点的媒介，所以在所有节点启动时设置同一个 master 即可。

[2022-10-28 07:21] jzhang533 commented on #47403
Oh, yes, pure C doesn't support exception handling.
I think this API doesn't have nothrow exception guarantee.
If we are expecting this API being used in pure C, the best practice is to catch all exception inside this API.

cc: @qingqing01

[2022-10-28 07:24] thisjiang commented on #47359
The `NAME` in `PD_DISPATCH_FLOATING_TYPES(TYPE, NAME, ...)` should be the same as function name, that means the code should be:
[code]

The code at:
https://github.com/X4Science/paddle-deepmd/blob/paddle_progress/source/op/paddle_ops/srcs/pd_prod_env_mat_multi_devices_cpu.cc#L256

[2022-10-28 07:26] weishengying commented on #47424
跟这个无关，inference也支持 AVX2 指令集加速。

[2022-10-28 07:38] fanxiaochen456 commented on #47424
我试过了不使用paddlex和paddle inference部署的paddleocr可以正常运行，但只要用到paddle inference就会出现上述的那个错误信息
![image](https://user-images.githubusercontent.com/101849755/198531289-57eae31c-8778-4cb9-9085-4849c244a890.png)
是因为指令集缺失还是什么原因呢？

[2022-10-28 07:49] Aurelius84 commented on #47402
根据 @liangxuegang 你的描述，如果输入是`forwar([Tensor, Tensor], Tensor)`，则导出时input_spec应该为 `jit.save(input_spec=[[spec, spec], spec])`。如果有报错，辛苦贴一下报错栈，以及paddle的版本

[2022-10-28 08:01] thisjiang commented on #47359
Did you confuse the train mode and infer mode? Their API are different, particularly the custom operator . See detail from: https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/custom_op/new_cpp_op_cn.html#suanzizaituilichangjingzhongdeshiyong .

[2022-10-28 08:03] lifw555 commented on #47426
@zhouwei25 就是用qt开发gui程序，不是用msvc的编译器。出发点很简单，就是windows和linux下，都是用的gcc编译器，只要切换环境就可以编译了。

[2022-10-28 08:05] weishengying commented on #47424
跑我给你提供的这个resnet50 的demo， 也会报上述那个错误信息吗？ https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/cpu

[2022-10-28 08:11] weishengying commented on #47424
你上面发的图是支持 AVX2 指令集的吧
![image](https://user-images.githubusercontent.com/63448337/198538069-4075afb9-30da-42c8-8ead-477920787bb4.png)

[2022-10-28 08:28] phjbest commented on #47131
请问这里的动转静方式，只能是针对前向函数添加描述符吗？是否有方式可以将正反向放到一个静态图中呢？https://www.paddlepaddle.org.cn/documentation/docs/zh/practices/jit/image_search_with_jit.html

[2022-10-28 08:38] MarginGitHub commented on #47384
这个容器里面的paddle可以用于训练吗？

[2022-10-28 08:43] jzhang533 commented on #47384
可以用来训练的。

[2022-10-28 08:46] liangxuegang commented on #47402
感谢解答，试了一下input_spec=[[spec, spec], spec]这种写法，现在导出模型是没问题的，之前是我这边代码有问题。不好意思浪费大家时间了。

[2022-10-28 08:46] #47402 closed, assigned to frankwhzhang, yeliang2258

[2022-10-28 08:53] gujianbo opened #47446 "跑transformer的时候遇到Segmentation fault错误"
### 请提出你的问题 Please ask your question

错误日志：
Namespace(_CLS_=0, _MASK_=3, _PAD_=2, _SEP_=1, buffer_size=20, dropout=0.1, emb_dim=768, enable_log=1, eval_batch_size=20, eval_step=80, evaluate_model_path='', exp_settings={'method_name': 'NavieAlgorithm', 'n_gpus': 1, 'init_parameters': '/home/aistudio/models/baidu_ultr_12l_12h_768e.model', 'lr': 2e-07, 'max_candidate_num': 10, 'selection_bias_cutoff'

[2022-10-28 09:01] frankwhzhang commented on #47404
具体用的是官方提供的代码还是自己的代码呢

[2022-10-28 09:02] yeyupiaoling commented on #47404
自己的代码，也没多大问题，反正能推理。如果没什么头绪，就算了

[2022-10-28 09:11] kuizhiqing commented on #47400
首先，这里的启动命令错误，请按照这里的回答启动 ps，https://github.com/PaddlePaddle/Paddle/issues/47130#issuecomment-1286695801

注意 server_num 和 trainer_num，如果程序内部报错请排查代码或提供更多信息。

[2022-10-28 09:11] MarginGitHub commented on #47384
好的，非常感谢您的答复

[2022-10-28 09:19] zsy0828 commented on #47171
你好，我今天安装了nightly和stable两个版本，但这个bug均未能解决，还是相同的代码 @GuoxiaWang ， 我应该怎样测试最新的paddle呢

[2022-10-28 09:24] yaomichael commented on #47357
not sure why the bot closed it... I reopen it since issue is NOT resolved yet.

[2022-10-28 09:44] thisjiang commented on #47359
Or you can try remove `PD_DISPATCH_FLOATING_TYPES` and replaced by:
[code]
ref to  https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/custom_op/new_cpp_op_cn.html#cpu .
And more radically:
[code]

[2022-10-28 10:01] #47404 closed, assigned to frankwhzhang

[2022-10-28 10:20] fanxiaochen456 commented on #47424
使用
![图片](https://user-images.githubusercontent.com/101849755/198564702-8e2381f9-a6cf-4c7e-8bef-1f0e3ab87af0.png)
这个就会出现那种错误，

[2022-10-28 10:28] Yosiiiiiiiiiiiiiiii commented on #43211
I have the same issue.

[2022-10-28 11:01] #47384 closed, assigned to thisjiang

[2022-10-28 11:29] beaulian opened #47451 "使用paddle.distributed.fleet进行多机多卡的分布式训练时，程序卡住不动"
### Bug描述

使用paddle.distributed.fleet进行多机多卡的静态图的分布式训练时，程序卡住不动，不报错，GPU也在运行。使用`export NCCL_DEBUG_SUBSYS=ALL`查看NCCL的输出发现一直显示`NCCL INFO AllReduce: opCount xx sendbuff xxx recvbuff xxx count xxx`

把DistributedStrategy中的build_strategy里的reduce_strategy设置成static.BuildStrategy.ReduceStrategy.Reduce之后，程序可以正常跑起来。

**改之前的代码**

[code]

**改之后的代码**

[code]

### 运行环境
**硬件环境**

机器：两台各自有四张3090的机器，运行环境一致
系统：CentOS L

[2022-10-28 12:19] Eddie-zhg commented on #47400
您好，我按照你说的那个指令启动过。
**server端：**
![屏幕截图 2022-10-28 192939](https://user-images.githubusercontent.com/82798516/198578202-e9bd65fd-3f38-4bf6-926b-4dcc5502ea22.png)
![屏幕截图 2022-10-28 193018](https://user-images.githubusercontent.com/82798516/198578210-d2e15c5e-b09e-4fab-9ab9-957fdf2ee3cc.png)

**worker端：**
![屏幕截图 2022-10-28 193056](https://user-images.githubusercontent.com/82798516/198578212-58f52761-3

[2022-10-28 12:34] kuizhiqing commented on #47400
请问，这个 issue 里面的贴的两次启动命令，有哪一次的是按照 https://github.com/PaddlePaddle/Paddle/issues/47130#issuecomment-1286695801 这里的执行的？

[2022-10-28 13:00] Eddie-zhg commented on #47400
export之前已经指定了，上图serverIP是我输错了。重新来一遍：
![1](https://user-images.githubusercontent.com/82798516/198595325-bde30b94-6186-4c7f-bf00-9e14bb28d4fc.jpg)
![2](https://user-images.githubusercontent.com/82798516/198595340-c1a58e14-93ca-4674-9e2a-95f21d86a55b.jpg)
![3](https://user-images.githubusercontent.com/82798516/198595348-ee2c9b9d-f3aa-4cac-9772-28e913ccf811.jpg)
![4](https://user-images.githubusercont

[2022-10-28 13:08] weishengying commented on #47424
要不试试这个，我看你发的图片中，cpu 是不支持 AVX 指令集的。你在这里面下载一个没有打开 AVX 的动态库试一试
https://www.paddlepaddle.org.cn/inference/v2.4/guides/install/download_lib.html#windows

[2022-10-28 13:08] Eddie-zhg commented on #47400
你说的那个指令区别就是，作为server的输入server_num=1，worker的就换成trainer_num=1。

[2022-10-28 13:26] 2017040264 commented on #47064
【列表选题】
编号：25
题目：LJSpeech 数据集下使用Transformer进行音频语音片段的自动语音识别(ASR)
认领人：月光下的独孤亮

[2022-10-28 14:22] gsq7474741 commented on #42144
I found a solution.
In file build/third_party/protobuf/src/extern_protobuf/src/google/protobuf/compiler/java/java_file.cc:68
add ```const``` behind the operator like
```  bool operator ()(const FieldDescriptor* f1, const FieldDescriptor* f2){```
```  bool operator ()(const FieldDescriptor* f1, const FieldDescriptor* f2)const {```
it seems like a feature in cpp17

ref [C++ set容器重写比较运算符报错：static ass

[2022-10-29 09:42] Klotho-SA opened #47470 "相关参数咨询"
### 问题描述 Please describe your issue

尊敬的工程师您好：
	我是同济大学附属上海市第十人民医院的一名博士研究生，目前在做一项关于伤口愈合期分类的研究工作，该工作使用了贵公司的EasyDL零门槛AI开发平台的图像分类功能（https://ai.baidu.com/easydl/app/imgcls/overview），模型ID为260221。因需要发表于国际期刊，所以已经和贵公司相关人员取得了联系并获得了发表许可。但目前仍有相关关键参数问题需要贵公司工程师协助解决：
下面表格是发表在国际期刊上的一篇文章中的截图，文章链接如下：https://doi.org/10.1016/j.cej.2022.134625

![图片](https://user-images.githubusercontent.com/90703235/198824704-38dcbcc

[2022-10-29 14:18] clearhanhui opened #47472 "自定义 c++ 算子，有些情况下 nvcc报错 -ccbin cc"
### bug描述 Describe the Bug

我最近在写paddle的自定义c++算子，执行cuda编译的时候，遇到一个bug。
经过查找，发现[这段源代码](https://github.com/PaddlePaddle/Paddle/blob/7097630f3d137c0088c0b60c4b96dd4ecac06409/python/paddle/utils/cpp_extension/extension_utils.py#L382) 没有提前判断cc环境变量，如果没有设置该变量的话，会导致编译失败。
我在PyTorch上找到了[类似的代码](https://github.com/pytorch/pytorch/blob/71fe069d985e97b5947d133f2f2bde9adea01ed7/torch/utils/cpp_extension.py#L549)可

[2022-10-29 14:40] clearhanhui commented on #47472
具体的：执行 python setup.py install之后会出现：
paddle/include/paddle/phi/api/all.h:18:2: error: #error __cplusplus C++14 or later compatible compiler is required to use Paddle.

[2022-10-30 07:13] 2017040264 opened #47475 "paddle.nn.MultiHeadAttention计算bug"
### bug描述 Describe the Bug

在使用paddle.nn.MultiHeadAttention时，按照github源代码中forward函数的描述，query和key的length维度可以是不相同的,但是在实际使用中会出错的。可以通过下述示例进行复现该问题。
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-10-30 08:31] DrRyanHuang opened #47476 "Where are `api.h`、`sparse_api.h` and `ext/tensor_compat.h`"
### 请提出你的问题 Please ask your question

Hi, thanks for Paddle's helpful work!

I try to make a custom op, as I follow the link: [https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/custom_op/new_cpp_op_cn.html](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/custom_op/new_cpp_op_cn.html)

After git clone `Paddle` and add `xxxx/Paddle` to my `includePath`, g++ can find `paddle/e

[2022-10-30 08:34] FrostML commented on #47475
如上代码仅有 `query` 和 `key`，需要再传入 `value`。见具体 [源码](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/layer/transformer.py#L359)

[2022-10-30 08:51] Xinrj-encore commented on #37539
楼主您好，您这个问题解决了吗

[2022-10-30 09:17] 2017040264 commented on #47475
这个value不是必须的吧？？？如果不传不是默认为key吗？？？？ @FrostML

[2022-10-30 09:24] 2017040264 commented on #47475
哦哦，我看到了，如果不传是默认用query代替。在tensforlow中，不传value值会默认用key代替, 这两种方式效果一样吗？

[2022-10-30 11:05] #47395 closed, assigned to frankwhzhang

[2022-10-30 11:38] FrostML commented on #47476
They are in your python env not in the repo.

You can find these files in, maybe for example `python3.7/site-packages/paddle/include/`.
And you can get this dir by executing
[code]

[2022-10-30 11:47] FrostML commented on #47475
当前这个 API 设计希望达到的效果是，当 qkv 一致的时候，可以不提供 kv；但是当其不一致的时候，需要显式传入 kv 并且 kv 都需要显式传入。
默认将 k 作为 v 或是 v 作为 k 的行为其实也不能涵盖所有的使用情况，因此需要可感知地使用这三个输入。

[2022-10-30 14:43] DrRyanHuang commented on #47476
It works! Thanks! @FrostML

[2022-10-30 14:43] #47476 closed, assigned to FrostML

[2022-10-31 00:43] edencfc commented on #47064
在Jena Climate时间序列数据集上使用LSTM进行气温预报：https://aistudio.baidu.com/aistudio/projectdetail/4904531

[2022-10-31 02:00] #47475 closed, assigned to FrostML

[2022-10-31 02:00] ainndejj11 opened #47478 "PaddleOCR,推理GPU利用率为0"
### 请提出你的问题 Please ask your question

paddle_inference版本是2.2.2
在PaddleOCR项目中，C++推理时，本地两台机器上代码运行正常，使用GPU和tensorrt均正常。但是用另一部机器（也是Paddle支持的显卡），在这上运行时，设备GPU的利用率就为0，GPU用不起来，然后程序就会报错。代码和环境都一致，请问这是什么原因呢？？

报错情况如下：
WARNING: Logging before InitGoogleLogging() is written to STDERR
I1028 14:30:40.557919 22346 analysis_config.cc:1044] In CollectShapeInfo mode, we will disable optimizations and collect the sha

[2022-10-31 02:02] fanxiaochen456 commented on #47424
@weishengying 是不是因为
![图片](https://user-images.githubusercontent.com/101849755/198916150-b5d74a03-a244-45ed-aec7-461e78493685.png)
Paddle Inference需要的一些指令集缺失导致了无法使用paddle_inference.dll这个库呢？

[2022-10-31 02:17] Eddie-zhg commented on #47400
试过很多次，完完全全按按照 [#47130 (comment)](https://github.com/PaddlePaddle/Paddle/issues/47130#issuecomment-1286695801)这个来执行的，两台机器都是master not ready。
![2022-10-31 10-07-54屏幕截图](https://user-images.githubusercontent.com/82798516/198917134-795ca2bf-4ea4-4c40-b7de-d6030f4ed05a.png)
![2022-10-31 10-08-25屏幕截图](https://user-images.githubusercontent.com/82798516/198917138-4781d737-2ab4-469c-8057-07b3086794a5.png)

[2022-10-31 02:35] zhangting2020 commented on #47478
无法跑通的机器是什么显卡？

[2022-10-31 02:37] ainndejj11 commented on #47478
无法跑通的显卡为T4和P4       可以跑通的是2080，1070

[2022-10-31 02:50] LielinJiang commented on #47470
根据你的描述，没法确定具体是哪个模型。这个数据需要具体的模型代码来确定，可以再联系具体的工作人员问问看。

[2022-10-31 02:56] DesmonDay commented on #47171
嗯嗯，你现在可以重新安装nightly的版本了，测试过是ok的。之前之所以不行可能是代码合进去没多久，whl包还没来得及更新。

[2022-10-31 02:59] adaxiadaxi commented on #47131
@onecatcn 凯哥，可以看下这个新的问题~支持回复下~

[2022-10-31 03:11] sunzhongkai588 opened #47480 "【飞桨体验评测任务第七期】"
## 一、背景介绍

2022年飞桨将重点开展开发者生态贡献机制，建立开发者与飞桨的多样化联动，共同打造优秀的开源生态。在今年9月，我们开展了第六期体验评估活动，重点放在飞桨分布式参数服务器文档打卡、飞桨API 文档评测，共收集到12份全流程任务打卡报告、90份API评测问卷，为相关产品的优化提供了重要的信息输入。同时，在今年10月16日，我们举办了**外部用户评测交流会**，内容包括：回顾第三季度评测员所做的贡献、同步下一个季度体验评测工作的规划、邀请优秀评测员分享评测经历等等，加深与开发者们的交流联系。未能参会的同学可观看[【视频回放】](https://meeting.tencent.com/v2/cloud-record/share?id=bb9047e6-9dea-4c10-b20a-fb0f7c17b814&from=3&is-single=true)进行了解。

为了进一步提

[2022-10-31 03:24] xiaoxiaohehe001 commented on #47478
请问你的 paddle inference 库在哪里安装的，本地 nvidia-smi 可以显示GPU设备吗，也可以试一下release/2.4.0rc 库是否会出现相同情况，https://www.paddlepaddle.org.cn/inference/v2.4/guides/install/download_lib.html

[2022-10-31 03:35] DabeyHolmes commented on #37539
不好意思，我当时放弃了没有解决，如果您之后解决的话希望也可以分享一下= =

[2022-10-31 03:44] mike-egg123 opened #47482 "请尽快适配Ubuntu 22.04.1 LTS！"
### 需求描述 Feature Description

任务目标：模式识别作业; <br /> 需求场景：我目前在做我们学校的模式识别的作业，强制使用paddle框架，但网页版的每天8点算力又无法满足我的训练需求，因此需要在我们实验室的服务器上安装paddle环境，进行训练，但是我们实验室的服务器系统是Ubuntu 22.04.1 LTS，并且已经用了很久，无法重装;  <br /> 功能描述：无

### 替代实现 Alternatives

_No response_

[2022-10-31 04:42] Eddie-zhg opened #47484 "多机分布式部署，参数服务器架构。处于master not ready状态不训练。"
两台机器，一台server一台worker
试过很多次，完完全全按按照 [#47130 (comment)](https://github.com/PaddlePaddle/Paddle/issues/47130#issuecomment-1286695801)这个来执行的，两台机器都是master not ready。
![2022-10-31 10-07-54屏幕截图](https://user-images.githubusercontent.com/82798516/198917134-795ca2bf-4ea4-4c40-b7de-d6030f4ed05a.png)
![2022-10-31 10-08-25屏幕截图](https://user-images.githubusercontent.com/82798516/198917138-4781d737-2ab4-469c-8

[2022-10-31 05:53] zhangting2020 commented on #47484
你好，我看在#47400 #47484 提了同样的问题？分布式的问题，我们有负责的同学在跟进，为了保持沟通的效率，建议在原始的issue下面继续反馈你尝试后遇到了什么问题。我刚才浏览了下前面的问题：
- 有提到运行报错的：建议先不要多机分布式，先尝试单机，测试程序本身是否可以运行成功
- 有提到分布式训练报错的：如果上面的程序能正常跑通，确认是多机训练的问题，把目前你的运行脚本，执行的命令，都贴在一个comment里面，我们请相关同学排查。

[2022-10-31 05:57] zhangting2020 commented on #47482
您好，我们已经收到反馈。目前，你可以在你的机器上使用docker安装。具体的方式参考官网文档，https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/install/docker/linux-docker.html

[2022-10-31 06:05] mike-egg123 commented on #47482
不是管理员账户，然后环境里没有nvidia-docker咋办呀。。。能不能直接pip安装嘞，像torch一样

[2022-10-31 06:24] Eddie-zhg commented on #47484
你好，碰到的是一样的问题。重新进行这个提问是因为之前的问题已经没有回音了，我在其后贴上了后续问日，但不确定是否还会查看。
至于问题，单机运行一直就没有问题，出问题的都是多机运行。
程序采用的是https://github.com/PaddlePaddle/PaddleFleetX/tree/old_develop/examples/wide_and_deep_dataset
根据文档评测那边说的，这个程序直接就是可以运行的，我也没进行更改。
运行的指令：
![image](https://user-images.githubusercontent.com/82798516/198942662-8971d83a-6653-4c41-9864-62396c1cc32d.png)
结果就是上面贴出来的，无法训练。
运行的程序和指令就是这些。

[2022-10-31 06:54] #47262 closed, assigned to ronny1996

[2022-10-31 06:54] #47258 closed, assigned to nobody

[2022-10-31 07:07] zhangting2020 commented on #47482
协调安装一下吧，尤其是在一台公用的机器，有docker是最好的

[2022-10-31 07:08] mike-egg123 commented on #47482
哦哦好吧。。。

[2022-10-31 07:39] popova-2 opened #47492 "python -m paddle.distributed.launch run.py，run.py 的参数怎么传入呢"
### 请提出你的问题 Please ask your question

sys.argv里面没有

[2022-10-31 07:51] zhangting2020 commented on #47492
run.py是你自己的脚本吧。就正常在run.py后面设置参数就可以。

[2022-10-31 07:54] zhangting2020 commented on #47484
先根据这个文档，排查下分布式环境。https://github.com/PaddlePaddle/PaddleFleetX/blob/release/2.4/docs/deployment_faq.md#2-%E5%88%86%E5%B8%83%E5%BC%8F%E7%8E%AF%E5%A2%83%E9%AA%8C%E8%AF%81

[2022-10-31 07:58] popova-2 commented on #47492
不会被误认为是paddle.distributed.launch的参数吗

[2022-10-31 08:12] Tlntin commented on #47482
自行编译一下？https://github.com/PaddlePaddle/Paddle/issues/44668

[2022-10-31 08:17] LielinJiang commented on #47472
自定义算子找@chenwhql帮忙看了，unsorted_segment_sum算子的功能似乎可以用scatter代替，data是update，segment_id为index，x为一个全0的输入。以下为示例代码：

[code]

[2022-10-31 08:24] engineer1109 opened #47494 "[PaddleInference]C++如何获取网络模型的输入尺寸和数据类型"
### 请提出你的问题 Please ask your question

C++ CreatePredictor 之后如何获取模型的输入尺寸和数据类型
[code]
这个shape返回的是空，需要自己设置大小。
有没有办法像PaddleLite那样获取模型的输入大小([1,3,256,256])和数据类型(float/ int64_t)。

[2022-10-31 08:40] Eddie-zhg commented on #47484
这个是有问题。
server直接报错：
![2022-10-31 16-31-41屏幕截图](https://user-images.githubusercontent.com/82798516/198966612-d86380ea-da63-4f98-838d-f18082a50f8a.png)
![2022-10-31 16-32-12屏幕截图](https://user-images.githubusercontent.com/82798516/198966617-152048cd-8c8d-42ad-94ee-78ba11eb7a1e.png)
![2022-10-31 16-32-34屏幕截图](https://user-images.githubusercontent.com/82798516/198966622-b29dce05-6544-486e-9c12-dd93b128

[2022-10-31 08:42] Aurelius84 commented on #47472
在编译cuda文件时也需要gcc的路径，是默认调用cc的，看起来是你环境中cc软链问题，正常应该是软链到gcc上的。

[2022-10-31 08:50] zhangting2020 commented on #47494
这个呢？
https://github.com/PaddlePaddle/Paddle/blob/2953b708a03d023b6b6b1fecde7ac431f8f48a94/paddle/fluid/inference/api/analysis_predictor.h#L175-L181

[2022-10-31 08:50] Eddie-zhg commented on #47484
检查了一下，**确认节点间是否能通过ping连接**：正常
**确认节点间是否能通过HTTP/TCP连接**：正常
下载的是CPU版本paddle（develop），不涉及NCCL。

[2022-10-31 08:52] clearhanhui commented on #47472
对的，但是我的建议是可以借鉴 pytorch 一样写一个判断逻辑，还是可以避免掉一些bug的。

[2022-10-31 08:57] zhangting2020 commented on #47492
你可以查阅下python的用法了解-m的使用，这个并不是paddle特有的用法。

[2022-10-31 08:59] clearhanhui commented on #47472
好的，感谢建议。但是我们还有一些别的需求，例如 unsorted_segment_max ，所以这部分API暂时我们还是选择自己开发。

我注意到 paddle 有 segment_max/sum/mean 的API，但是要求 index_data 是经过排序的，其实可以基于此进一步拓展unsorted版本，在GNN 里面会是一个比较有用的 API。

[2022-10-31 09:06] engineer1109 commented on #47494
@zhangting2020 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/paddle_inference_api.h 这里面对外接口 有 GetInputTypes   没有 GetInputTensorShape
需要提PR补接口吗？

[2022-10-31 09:17] engineer1109 commented on #47494
取消Predictor的 predictor_ 私有， 验证接口有效

[2022-10-31 09:19] popova-2 commented on #47492
谢谢

[2022-10-31 09:54] engineer1109 commented on #47494
https://github.com/PaddlePaddle/Paddle/pull/47499  PR提交

[2022-10-31 10:01] #47470 closed, assigned to LielinJiang

[2022-10-31 10:01] #47430 closed, assigned to ceci3

[2022-10-31 10:20] engineer1109 commented on #47482
不会C++编译吗？
这是入门基础吧
应该提问Ubuntu 22 编译遇到有何问题吧？这是OpenSource的意义啊

[2022-10-31 13:24] kuizhiqing commented on #47484
经过提供的日志分析，你的环境paddle无法正确识别到机器IP，两台机器无法建立互联。无法识别正确IP并非paddle侧原因导致，暂时无法进一步排查问题，请先解决该问题后继续使用paddle，谢谢！

[2022-10-31 15:06] yechens commented on #42564
Maybe you can refer to this [link](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html) to adjust the paddlepaddle version (based on your cuda version) .

[2022-10-31 15:31] Eddie-zhg commented on #47484
**更换了paddle版本环境，现在是paddle CPU 2.3.2。
遇到了和之前一样的问题：直接运行检测指令：python -m paddle.distributed.launch run_check，会报错说没有run_check。
按照之前的解答：**
![1](https://user-images.githubusercontent.com/82798516/199037314-e20be1ad-5e15-4260-9727-4ba3e51afa39.png)
![2](https://user-images.githubusercontent.com/82798516/199037316-daa42eb1-aef7-467f-be07-bb01d2f42f89.png)
**能够正常测试：**
![2022-10-31 22-42-03屏幕截图](https://user-

[2022-11-01 01:34] popova-2 opened #47518 "多卡训练怎么计算TP,FP,TN,FN和预测score并保存为pkl"
### 请提出你的问题 Please ask your question

多卡训练怎么计算TP,FP,TN,FN和预测score并保存pkl

[2022-11-01 01:53] popova-2 commented on #47518
保存操作好像通常只在一个GPU上执行，但是计算TP,FP,TN,FN需要整合所有GPU上的结果，绘制ROC曲线也需要所有样本的score值

[2022-11-01 01:53] popova-2 commented on #47518
但是好像不能直接得到

[2022-11-01 02:37] ddgetget commented on #47078
有没有多好的对应的docker运行环境呀？

[2022-11-01 02:48] gouzil commented on #47078
可以去hub看镜像

[2022-11-01 02:49] xychen1015 opened #47520 "paddle中是否有预训练好的图片特征提取模型"
如题

版本信息
Python 3.6.4 (default, Mar 20 2022, 22:30:39) [GCC 4.4.6 20120305 (Red Hat 4.4.6-4)] on linux
paddlepaddle                      2.0.0rc1

[2022-11-01 03:35] popova-2 commented on #47518
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/guides/06_distributed_training/cluster_quick_start_collective_cn.html 的1.3完整示例代码得到的avg_acc, avg_loss是一个GPU上的结果吗？如果是不是应该再取一个平均吗？

[2022-11-01 05:49] ForFishes commented on #47518
您好，如果这些计算需要所有gpu卡的信息，这里可以使用all_gather等集合通信算子，将结果汇聚，然后在计算相应的评价指标。算子文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/distributed/all_gather_cn.html#all-gather
保存的时候，每张卡都可以保存，您可以通过在代码加判断，选择第几张卡进行保存，类似：
[code]

[2022-11-01 05:56] JimmyLyods opened #47528 "請問paddle.jit.save中input_spec的設定"
您好，最近在運用可視化visualDL這塊
在模型可視化遇到一些問題
有兩個演算法的模型沒辦法儲存下來
出現以下錯誤
TypeError: In transformed code:

    File "C:\Users\jimmy\AppData\Local\Temp/ipykernel_11152/1309680426.py", line 16, in forward
            )
        def forward(self, x):
            x = x.reshape(-1,1,40)    # 先利用reshape将数据转换为二维的
[code]

[2022-11-01 06:11] zhangting2020 commented on #47482
飞桨develop 版本已经支持ubuntu 22.04，安装参考官网说明：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html。2.4版本会发版支持。

[2022-11-01 06:13] #47492 closed, assigned to zhangting2020

[2022-11-01 06:27] danleifeng commented on #47528
您好，可以参考下reshape的文档
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/reshape_cn.html#reshape
![image](https://user-images.githubusercontent.com/52735331/199172573-e6628f22-245a-4c01-b1fb-8edc5c3fc5fa.png)

[2022-11-01 06:37] #29845 closed, assigned to bjjwwang

[2022-11-01 06:37] #31769 closed, assigned to wangxicoding, T8T9

[2022-11-01 06:37] #32921 closed, assigned to LDOUBLEV

[2022-11-01 06:37] #35210 closed, assigned to yinhaofeng

[2022-11-01 06:37] #35658 closed, assigned to Shixiaowei02

[2022-11-01 06:37] #36586 closed, assigned to nobody

[2022-11-01 06:37] #36635 closed, assigned to nobody

[2022-11-01 06:37] #36638 closed, assigned to LiuChiachi

[2022-11-01 06:37] #36650 closed, assigned to LiuChiachi

[2022-11-01 06:37] #36665 closed, assigned to yghstill

[2022-11-01 06:37] #36675 closed, assigned to nobody

[2022-11-01 06:37] #36683 closed, assigned to nobody

[2022-11-01 06:37] #36712 closed, assigned to nobody

[2022-11-01 06:37] #36717 closed, assigned to tianxin1860

[2022-11-01 06:37] #36746 closed, assigned to tianxin1860

[2022-11-01 06:37] #36754 closed, assigned to tianxin1860

[2022-11-01 06:37] #36760 closed, assigned to tianxin1860

[2022-11-01 06:37] #36787 closed, assigned to nobody

[2022-11-01 06:37] #36788 closed, assigned to nobody

[2022-11-01 06:37] #36878 closed, assigned to nobody

[2022-11-01 06:42] popova-2 commented on #47518
多卡情况下paddle.nn.BatchNorm 是不是要替换成 paddle.nn.SyncBatchNorm

[2022-11-01 07:00] #47482 closed, assigned to zhangting2020

[2022-11-01 07:09] popova-2 commented on #47518
另外我的代码使用ImageNet训练，batch_size设大一点就会报错比如设到200的时候，设小一点设到64又可以运行，但是我resize成64*64大小了，v100显存应该足够吧。能不能帮我看看是什么原因。下面是错误信息

--------------------------------------

C++ Traceback (most recent call last):

--------------------------------------

No stack trace in paddle, may be caused by external reasons.

----------------------

Error Message Summary:

----------------------

FatalError: `Segmentation fault

[2022-11-01 07:10] popova-2 commented on #47518
aistudio技术人员说不是平台的原因

[2022-11-01 07:28] popova-2 commented on #47518
可以帮我检查一下代码不

[2022-11-01 07:35] JimmyLyods commented on #47528
您好，關於這個連結內容有一段有點不太懂
如果不希望输入与输出共享数据，请使用 Tensor.clone
所以這個意思是如果使用reshape沒辦法儲存动态图模式嗎?

[2022-11-01 08:08] onecatcn commented on #47131
@Aurelius84 请问能否帮忙回复一下

[2022-11-01 08:19] danleifeng commented on #47528
没太懂您的意思，动态图下，直接使用reshape ，x和 reshape_x 会共享数据，后续操作reshape_x也会影响x原来的值
[code]

[2022-11-01 08:43] chenwhql commented on #47472
感谢反馈，我们调研一下，后面优化一下使用体验

[2022-11-01 08:44] chenwhql commented on #47472
@clearhanhui 感谢反馈，我们调研一下，后面优化一下使用体验

[2022-11-01 09:06] XuyangGuo opened #47539 "Paddle/python/paddle/nn/functional/common.py的361行 TypeError: 'tuple' object does not support item assignment"
### bug描述 Describe the Bug

当输入的size是形如(h,w)的tuple，并且其中每个元素是Variable时，361行的赋值导致向tuple的元素修改

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-01 10:27] renmada opened #47545 "linux预测库没有cuda10.2+cudnn7吗"
### 请提出你的问题 Please ask your question

这里没找到
https://www.paddlepaddle.org.cn/inference/v2.3/user_guides/download_lib.html#python

[2022-11-01 10:54] Aurelius84 commented on #47131
只需要针对被装饰的前向函数添加InputSpec描述即可，反向会自动生成。在 train mode下，被装饰的函数会对应两个program：前向和反向program。

但框架内部 PartialProgramLayer也提供了包含前向和反向的完整Program，参考代码：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dygraph/dygraph_to_static/partial_program.py#L212

[2022-11-01 11:00] #47494 closed, assigned to zhangting2020

[2022-11-01 11:52] zhangting2020 commented on #47478
请问上述回复是否已经解决你的问题呢？如果已解决，可以关闭此issue

[2022-11-01 12:05] phjbest commented on #47131
![image](https://user-images.githubusercontent.com/27426054/199228279-0809dc76-1d63-4bb8-a32c-ba24f499e1f5.png)
在PartialProgramLayer中看到虽然可以拿到完整的program，请问在执行的时候还是分别是前向和反向两个program执行是吗？

[2022-11-01 12:17] phjbest commented on #47131
我的需求是想在一个program拿到包括正向和反向的完整的训练图，但是由于loss.backward() 无法放在由 @declarative 或 @paddle.jit.to_static()修饰的函数中，导致前向和反向执行分别在RunProgramOp和RunProgramGradOp中执行，我看到下面的提示中有提到 please use other API to replace 'backward'，请问other API是指什么API呢，需要自己实现反向吗
![image](https://user-images.githubusercontent.com/27426054/199230608-511d79c9-a7e7-4ba5-a897-a8d2daa4c66d.png)

[2022-11-01 13:27] mike-egg123 opened #47554 "使用docker安装paddle，无法使用多gpu"
### bug描述 Describe the Bug

我的环境是Ubuntu22，然后目前的paddle稳定版还不支持，因此我参照[这篇文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/install/docker/linux-docker.html)选择使用docker进行安装，但是装好了之后出现了无法使用多gpu的情况，报错信息如下
[code]
请问我需要如何操作才能在多卡环境中使用paddle呢？

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-01 14:05] Jiahuan-Long commented on #29428
you are right!

[2022-11-01 14:23] DevilcLo commented on #47427
后面修改成cuda 11.6.2 cuDNN 8.2.1 TensorRT 8.4.0.6然后使用
cmake ..  -G "Ninja" -DWITH_MKL=ON -DWITH_GPU=ON -DON_INFER=ON -DWITH_PYTHON=OFF -DMSVC_STATIC_CRT=OFF -DCUDA_ARCH_NAME=Auto -DWITH_RCCL=OFF -DWITH_NCCL=OFF -DWITH_UNITY_BUILD=ON -DCUDA_TOOLKIT_ROOT_DIR="C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v11.6" -DWITH_TENSORRT=ON -DTENSORRT_ROOT="D:\\TensorRT-8.4.0.6"
就能正常编译了，paddle修改成了2.3.1版本进

[2022-11-01 21:42] JimmyLyods commented on #47528
您好，現在還不支持動態圖可視化,
https://github.com/PaddlePaddle/VisualDL/issues/1038
所以用paddle.jit.save把靜態圖儲存下來,
模型和訓練執行都沒有問題,
是執行paddle.jit.save(layer=cnn, path='bank.M3.jit', input_spec=[InputSpec(shape=[None, 40, 2], dtype='float32')])
出錯下述錯誤
File "C:\Users\jimmy\AppData\Local\Temp/ipykernel_11152/1309680426.py", line 16, in forward
        )
    def forward(self, x):
        x = x.reshape(-1,1,40)    # 先利用re

[2022-11-02 01:26] popova-2 opened #47557 "多卡情况下paddle.nn.BatchNorm 是不是要替换成 paddle.nn.SyncBatchNorm"
### 请提出你的问题 Please ask your question

多卡情况下paddle.nn.BatchNorm 是不是要替换成 paddle.nn.SyncBatchNorm

[2022-11-02 02:20] ForFishes commented on #47557
您好，这个和使用的算法有关。``paddle.nn.SyncBatchNorm``使用的统计量是来自所有卡的，而``paddle.nn.BatchNorm``使用的是各自卡。如果多卡训练下，想要对齐单卡，那么就需要``paddle.nn.SyncBatchNorm``。一般情况下，使用syncbn的精度要好一些，但是也有例外情况，这个和模型等相关。

[2022-11-02 02:27] Eddie-zhg opened #47559 "单机训练，worker日志出现 bash：python：未找到命令"
### 请提出你的问题 Please ask your question

单机1server2worker，worker训练日志正常结果应是：
![2022-11-02 10-14-26屏幕截图](https://user-images.githubusercontent.com/82798516/199380902-6d62af81-2ea4-4dd3-841e-77df3fb5406d.png)
现在出现这个问题：
![2022-11-02 10-13-07屏幕截图](https://user-images.githubusercontent.com/82798516/199380899-b03d36df-05cd-4ded-8ea2-45a8d8599368.png)
没有了time等参数，不知道这里缺少的是什么指令。

[2022-11-02 02:39] Hyperjunct opened #47560 "PaddlePaddle配不上cuda环境"
### bug描述 Describe the Bug

PaddlePaddle配不上cuda环境，调用不了GPU
CUDA11.4的机器环境配不上paddlegpu112和116两个版本的
<img width="1235" alt="1170870eb15fa058e6a8f7fce84616d" src="https://user-images.githubusercontent.com/98454125/199382191-84829be9-67ba-4bb0-ac7b-d7bf7bd8d073.png">

### 其他补充信息 Additional Supplementary Information

复现环境：
OS : Linux
PaddlePaddle : 2.3.2
PaddleYOLO : release/2.5
Python : 3.9.13
CUDA : 11.

[2022-11-02 03:02] WethatVivy opened #47562 "完全离线环境安装paddle"
### 需求描述 Feature Description

cpu:ARMv8 CPU
参照文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/arm-compile.html
问题描述：部署小白，也没有使用过git管理项目。在获取源代码时使用的是git，离线环境下也能使用git获取源码吗？不能的话是要怎么做呢？

### 替代实现 Alternatives

_No response_

[2022-11-02 03:02] ForFishes commented on #47560
您好，按照提示设置 ``export LD_LIBRARY_PATH=``这个没有。可以参考设置成
``export LD_LIBRARY_PATH=/usr/local/cuda-11.2/targets/x86_64-linux/lib:/usr/local/nvidia/lib:/usr/local/nvidia/lib64`` （找到自己环境的cuda）

[2022-11-02 03:26] wuyefeilin opened #47565 "F.interpolate 挡mode='area'的时候不支持shape为tensor类型。"
### bug描述 Describe the Bug

paddle.nn.functional.interpolate在参数mode='area'的时候不支持shape为tensor类型

复现代码
[code]

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-02 03:28] danleifeng commented on #47539
请问有可以复现的代码么，另外提供下使用的paddle版本和环境信息~

[2022-11-02 03:44] danleifeng commented on #47554
请问你选择的docker镜像是哪个？另外您的本地机器gpu信息能提供么（nvidia-smi 查看）

[2022-11-02 03:47] junman opened #47568 "paddle2.X对不同结构但是同name的模型怎么隔离训练"
### 请提出你的问题 Please ask your question

想同时训练两个不同结构，但是同名字的（比如预训练加载同一个ernie）的模型，训练时怎么做隔离？
paddle1.7使用score_guard，paddle2.X的动态图怎么写？有demo嘛？

[code]

报错信息：
[code]

[2022-11-02 04:04] Aurelius84 commented on #47528
请问您使用的paddle版本是哪个？

[2022-11-02 04:10] ForFishes commented on #47568
您好，如果你创建了2个model，本身就是两份参数（这个和静态图不同），本身就是各自训练各自的，天然的隔离训练。

[2022-11-02 04:14] lifw555 commented on #31636
这个怎么设置呢？ 使用 python的环境变量设置不生效呢

环境：
os：windows 10
python：3.9
paddlepaddle：2.3.2

[2022-11-02 04:48] will-wiki opened #47572 "paddle动态图转静态图问题"
### 请提出你的问题 Please ask your question

paddle动态图转静态图的问题想请教一下，目前在尝试将paddlespeech的ecapa_tdnn模型转静态图，但是碰到了点问题。
<img width="1827" alt="image" src="https://user-images.githubusercontent.com/22003927/199400786-179491de-fdfd-4e38-80c9-c320e05a5405.png">
想问下paddle.concate函数在转静态图都会碰到这个问题么

[2022-11-02 05:45] JimmyLyods commented on #47528
您好，paddle版本是2.3.0

[2022-11-02 06:00] Aurelius84 commented on #47528
根据 reshape API的文档，target shape应该是一个list，你改成如下试下呢？
[code]

[2022-11-02 06:11] zhangjun commented on #47545
@renmada  你好，2.3版本没有cuda10.2+cudnn7组合的包。 2.4版本有对应的发布。 https://www.paddlepaddle.org.cn/inference/v2.4/guides/install/download_lib.html 这里有提供2.4rc版本的包。

[2022-11-02 06:19] ceci3 commented on #47446
请问下有更多报错信息嘛？现在只是段错误也看不出来是哪里的问题~ 复现出来的环境和复现不出来的环境在paddle版本、cuda版本之类的环境之间有区别嘛

[2022-11-02 06:21] JimmyLyods commented on #47528
感謝Aurelius84和danleifeng的分享
的確改成這樣就可行x = x.reshape([-1,1,40])
非常感謝

[2022-11-02 06:27] junman commented on #47568
请教下，如果天然的隔离，为什么这里创建第二个对象时报错呢，自己理解是不同的对象是不同的内存：

[code]

[2022-11-02 06:37] Aurelius84 commented on #47572
您好，请问能贴一下完整的报错截图么？另外您使用的paddle版本是哪一个？

[2022-11-02 06:40] will-wiki commented on #47572
@Aurelius84

[2022-11-02 06:41] will-wiki commented on #47572
@Aurelius84

[2022-11-02 06:42] will-wiki commented on #47572
@Aurelius84 报错信息
<img width="1110" alt="image" src="https://user-images.githubusercontent.com/22003927/199418409-8e6d2e46-6983-4a55-9d86-622c1a49e86a.png">
但是报错地方是其他位置，主要原因就是出现了两个-1的维度，而出现两个-1的原因就是上面找到的地方。
用的paddle版本是2.2.2。

[2022-11-02 06:49] Eddie-zhg commented on #47559
你好，有人能解答一下么？

[2022-11-02 06:52] zhaocaibei123 commented on #47559
请提供一下训练配置和脚本

[2022-11-02 06:56] #47528 closed, assigned to danleifeng

[2022-11-02 07:01] Eddie-zhg commented on #47559
**训练配置**：paddle2.3.2 CPU版本
**运行脚本**：[https://github.com/PaddlePaddle/PaddleFleetX/tree/old_develop/examples/wide_and_deep_dataset](url)
**指令**：paddle.distributed.launch --server_num=1 --worker_num=2 train.py
**终端显示**：LAUNCH INFO 2022-11-02 14:57:00,061 -----------  Configuration  ----------------------
LAUNCH INFO 2022-11-02 14:57:00,061 devices: None
LAUNCH INFO 2022-11-02 14:57:00,061 elastic_le

[2022-11-02 07:03] Eddie-zhg commented on #47559
worker0和worker1日志是一样的。正常情况下，worker日志里面‘bash: python：未找到命令’应该是time loss等信息吧。

[2022-11-02 07:06] Fordacre opened #47580 "请问有什么方式可以将paddle2.2生成的静态模型转为paddle1.8版本嘛？"
### 请提出你的问题 Please ask your question

使用paddle2.2版本的paddle产出了静态模型，但是目前需求paddle1.8版本，请问有什么快捷的方式进行转化吗。
已经发现了现存issue: https://github.com/PaddlePaddle/Paddle/issues/46809 。
但是在实践过程中，调用paddle.fluid.io.save_inference_model的时候出现了以下错误：
![image](https://user-images.githubusercontent.com/12699033/199422522-2cc2bcd6-29c3-47f7-b68b-a2c9ec9ab7b4.png)。
麻烦帮忙看一下。

[2022-11-02 07:09] sljlp commented on #47451
请尝试使用启动方式：
两个节点都使用以下命令：
python -m paddle.distributed.launch --master xx.xx.xx.xx:port --nnodes 2 --nproc_per_node 2 --gpus 0,1 xxx.py
master 的ip 是二机器其中之一

[2022-11-02 07:30] will-wiki commented on #47572
@Aurelius84 那个问题用reshap应该解决了，碰到另外一个转换的问题，想问下这个如何解决呀，报错谷歌搜不太到。。
<img width="1570" alt="image" src="https://user-images.githubusercontent.com/22003927/199426618-ccc0634f-4e30-4c16-bd32-687c692672c1.png">

[2022-11-02 08:06] wangyexiang commented on #35478
请问，paddle现在可以实现这种需求了吗？@QubingZ

[2022-11-02 08:48] ForFishes commented on #47580
您好，据我了解，无法实现 paddle2.2 的静态图转 paddle1.8 的静态图。

[2022-11-02 08:57] Fordacre commented on #47580
已经成功按照这种方式转了一下，https://github.com/PaddlePaddle/Paddle/issues/46809 ，这个是不行的嘛。。
那是不是可以通过 2.2静态图->onnx->1.8静态图 的方式呢。

[2022-11-02 09:15] JZZ-NOTE commented on #47580
这个应该是不行的。为什么要转为1.8呢？2.2的模型用 1.8 的库推理会遇到什么问题呀。我理解一种可行的方式是解决使用 1.8 的库推理 2.x 模型遇到的问题，然后编译一个包；根本的解决方式还是直接切换为 2.x 的库。否则维护成本太高了

[2022-11-02 09:19] Fordacre commented on #47580
需求是想要将模型上线，但是线上是用的是1.8对应的预估库，线上升级为2.2成本较高，所以想看一下有没有方法将2.2的模型转为1.8。

[2022-11-02 09:20] JZZ-NOTE commented on #47580
是厂内的用户吗

[2022-11-02 09:21] Fordacre commented on #47580
是的。

[2022-11-02 09:21] JZZ-NOTE commented on #47580
如流沟通吧 jingzhuangzhuang

[2022-11-02 09:27] ForFishes commented on #47568
您好，原因是你这里给参数设置了名字。导致创建两个model的时候，参数名字相同。这里建议：
1、不特意给参数设置名字，交由框架自动命名。
[code]
2、构建两个model的时候，每个model的参数的名字不同。

[2022-11-02 09:32] ForFishes commented on #47562
您好，离线的时候git无法拉取代码。如果源码编译，过程中需要拉取必要的第三方库，所以需要联网。
您可以直接使用编译好的whl包安装，或者看如果使用代理的方式连接外网。

[2022-11-02 09:35] zhaocaibei123 commented on #47559
直接在bash里运行 python 能运行吗，看起来是运行不了python
![image](https://user-images.githubusercontent.com/48509226/199455245-79272808-0c86-4d4d-a670-26109a9dbb39.png)

[2022-11-02 12:06] Manningchan opened #47607 "单机多卡训练"
### 请提出你的问题 Please ask your question

单机单卡可以训练，改成多卡报错，export LD_LIBRARY_PATH=也已经设置过了，训练的是rtformer

RuntimeError: (PreconditionNotMet) The third-party dynamic library (libnccl.so) that Paddle depends on is not configured correctly. (error code is libnccl.so: cannot open shared object file: No such file or directory)
  Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is

[2022-11-02 12:14] cailuyu commented on #45245
我的Orin也正在尝试,肯定是要自己编译的,官方的包jetpack支持都太低了,:
https://paddleinference.paddlepaddle.org.cn/v2.1/user_guides/source_compile.html
官方的这个安装都能过,但默认没有python,加上python,安装都正常,但python引入paddle包的时候加载so文件失败

https://github.com/mingquanyuan/PaddlePaddle-Jetson
这个还在试,其实步骤都一样,编译参数有些区别

[2022-11-02 12:20] cailuyu commented on #47329
编译的python whl装完带gpu后缀的,但我的包装完,引入paddle的时候宝.so文件加载失败

[2022-11-02 12:26] cailuyu commented on #42358
需求完全一样,在尝试自己编译!
有线索记得分享下!

[2022-11-02 12:34] ForFishes commented on #47607
您好，这环境下，nccl没有安装nccl，无法跨卡通信。需要安装nccl，然后在设置nccl的环境变量。

[2022-11-02 12:36] sljlp commented on #47451
请问方便提供最小可复现的完整代码吗？

[2022-11-02 12:55] Eddie-zhg commented on #47559
你好，你说的直接在bash里运行是啥意思？另一台一样配置的机子，是能够正常运行的。

[2022-11-02 14:32] qwerfdg opened #47614 "paddlefl维护问题"
### 请提出你的问题 Please ask your question

您好，我在一周前向paddlefl框架提了一个[pull request](https://github.com/PaddlePaddle/PaddleFL/pull/264)，但是一直没有人来对我提交的代码进行审查，我看paddlefl框架最近一次合并代码是在半年多以前了，请问paddlefl框架目前还在活跃中吗，为什么没有人来维护呢？

[2022-11-02 14:45] GreatV opened #47615 "[phi] Decoupled phi from fluid tracking issue"
### 问题描述 Please describe your issue

## 项目说明
用于跟踪 [Call-for-Contributions: 飞桨算子体系重构 - PHI算子库独立编译](https://github.com/PaddlePaddle/community/blob/master/pfcc/call-for-contributions/decoupled_phi_from_fluid.md) 并记录该计划下各个子任务的计划和进度。

## 主要工作

###  头文件依赖解耦（整体进展 103/103）

| 编号  | 细分头文件                                                                  | 存量数 | 难度 | 相关PR | 作者 |
| ----  | -------------------

[2022-11-02 14:47] GreatV commented on #47615
@luotao1 @chenwhql 麻烦看一下是否有遗漏或者分解地太细了。

[2022-11-02 23:34] MikeLud opened #47618 "Error FileNotFoundError: [WinError 2] The system cannot find the file specified"
### bug描述 Describe the Bug

I am working on making License Plate Module using paddleOCR for the below project and I am getting the below errors when importing paddle. It imports fine using an interactive window.

System Environment：Python 3.7
Paddle Version：paddlepaddle==2.3.2
PaddleOCR Version: paddleocr==2.6.1.0

Project Link:
https://github.com/codeproject/CodeProject.AI-Server

License Plate M

[2022-11-03 00:43] weibo021 opened #47619 "torch.nn.InstanceNorm2d(32, affine=True)在paddle里怎么实现？"
### 请提出你的问题 Please ask your question

新手提问，torch.nn.InstanceNorm2d(32, affine=True)在paddle里怎么实现？paddle.nn.InstanceNorm2D 不支持affine参数

[2022-11-03 01:07] weibo021 commented on #47619
torch.nn.InstanceNorm2d 的文档
https://pytorch.org/docs/stable/generated/torch.nn.InstanceNorm2d.html
paddle.nn.InstanceNorm2D
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/InstanceNorm2D_cn.html

[2022-11-03 02:45] WethatVivy commented on #47562
由于特殊原因，服务器无法连接外网，且由于CPU架构是ARMv8，我在官网查看相关文档时，没有找到相应的whl包，硬件支持表是没有写支持arm架构cpu的，但又有飞腾/鲲鹏的源码编译安装文档（这两处理器的架构是ARMv8），所以现在就比较迷惑。

[2022-11-03 03:04] ceci3 commented on #47619
抱歉，看错了，torch.nn.InstanceNorm2d(affine=True) 等价于 paddle.nn.InstanceNorm2D()

[2022-11-03 03:07] mingxu1067 commented on #46973
This issue is also fixed by [issues-46974](https://github.com/PaddlePaddle/Paddle/issues/46974). Probably, [PR46984](https://github.com/PaddlePaddle/Paddle/pull/46984) no need at this moment.

[2022-11-03 03:17] QwQxwqQwQ opened #47620 "缺少文件auto_parallel.pb.h"
### 问题描述 Issue Description

Paddle/paddle/fluid/distributed/auto_parallel/dist_attr.h:24:10: fatal error: paddle/fluid/distributed/auto_parallel/auto_parallel.pb.h: No such file or directory
   24 | #include "paddle/fluid/distributed/auto_parallel/auto_parallel.pb.h"
      |          ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
compilation terminated.

### 版本&环境信息 Version & Environm

[2022-11-03 03:50] Biaocsu commented on #44488
@kouhinn 你好，请问你的jetson aarch64版本的官方预编译包在哪里找的呢？我没有找到，请求帮助

[2022-11-03 03:53] JunnYu opened #47624 "F.fused_multi_head_attention支持cross attention吗？"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）
`F.fused_multi_head_attention 当前不支持cross attention吗？`

[code]

### 替代实现 Alternatives

_No response_

[2022-11-03 05:00] ForFishes commented on #47572
用户通过添加 stop_gradient解决

[2022-11-03 06:01] renmada commented on #47545
2.4只有C++的，有python会发布吗

[2022-11-03 06:14] czr-gc opened #47629 "Approval CI 对message检查问题"
### bug描述 Describe the Bug

https://github.com/PaddlePaddle/Paddle/pull/47363 中使用的error message一直会触发CI报错：
[code]
CI报错可以通过`errors::` --> `platform::errors::`解决，和error message本身没有关系。 还请检查下CI是否存在问题。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-03 06:35] Aurelius84 commented on #47131
有一个方式可以获取到包含前向和反向完整的program，你可以这样组织代码：
[code]

我们之前不建议把 loss计算逻辑放到forward 函数里，因为动转静功能是支持预测部署的，但loss计算一般不属于预测。如果你想获取反向，可以尝试按照上面组织代码

[2022-11-03 08:09] zly19540609 opened #47637 "c++ 部署maskrcnn模型 使用ONNXRuntime CreatePredictor(config)报错"
### bug描述 Describe the Bug

c++ 部署maskrcnn模型 使用ONNXRuntime  CreatePredictor(config)报错
[ERROR] Cannot find float data from attr: sampling_ratio in op: roi_align

### 其他补充信息 Additional Supplementary Information
paddle_inference版本为c++ cpu版 2.3.2 cpu_avx_mkl
_No response_

[2022-11-03 09:06] leeleolay commented on #47357
@tsocha I check the model, the setting of the compiling using the low precision. and most op is using float32, and the some op during the mid of the process using float64, I think this maybe because of compiling Paddle with double precision?
Coule you give me some more specific instruction？Besides，you think this decision of the op belongs to Paddle or DeepMD-kit？

[2022-11-03 09:14] tsocha commented on #47357
I just opened this model in netron tool: https://github.com/tsocha/deep_md_test/blob/master/model.ckpt/model.pdmodel

[2022-11-03 09:44] ForFishes commented on #47565
您好，可以使用tensor.tolist()，将tensor转换成 list

[2022-11-03 13:21] WangXi2016 commented on #47064
【列表选题】
编号：10
题目：MedMNIST数据集上基于Video Vision Transformer的医学轻量视频分类任务。
认领人：木头熊

[2022-11-03 13:36] bin1guo commented on #47357
@tsocha is there some progress on this pass accuracy issue?  thx

[2022-11-03 13:54] tsocha commented on #47357
Yes, we are currently working on it.
We already found a reason why this pass didn't work here.
It seems that `mkldnn_placement_pass` is broken, fix is in progress.

[2022-11-03 14:33] WangXi2016 commented on #47064
【列表选题】
编号：9
题目：UCF101数据集上基于TSM的视频理解。
认领人：木头熊

[2022-11-04 01:29] leo0519 commented on #46622
@OccupyMars2025 Do you know who will follow up this issue? Thanks.

[2022-11-04 02:17] wuyefeilin commented on #47565
使用list影响模型的导出部署。 而且bilinear等其它模式支持，就这个'area'不支持

[2022-11-04 02:23] bin1guo commented on #47357
Got it,  it is good news.  BTW,  can it be fixed next week?  thank you.

[2022-11-04 02:32] yaomichael commented on #47357
i try to summarize the problem:

The accuracy issue is caused by a bug in `mkldnn_placement_pass`, it caused problems in `elt_act_mkldnn_fuse_pass` which mandate fp32 and oneDNN, but the input is float64 which is not supported by oneDNN.

the easiest way is to disable `elt_act_mkldnn_fuse_pass`, as suggested in https://github.com/PaddlePaddle/Paddle/issues/47357#issuecomment-1293407909, the result

[2022-11-04 02:38] MrYYYYYYYYYYY opened #47662 "paddlepaddle-gpu 2.2.2.post111 运行paddle.utils.run_check()报错"
### paddlepaddle-gpu 2.2.2.post111 运行paddle.utils.run_check()报错
操作系统版本：Linux version 4.14.0_1-0-0-44
gcc：4.8.2
cuda版本：11.1
cudnn版本： 8.1
安装paddlepaddle-gpu 2.2.2.post111 版本后在运行paddle.utils.run_check()以后报以下错误：
<img width="1438" alt="图片" src="https://user-images.githubusercontent.com/41470007/199872749-d11d2d29-48ea-4d21-8c87-c34bf4eb6827.png">
相同环境下pytorch1.9.0+cu111版本可以正常运行

[2022-11-04 02:41] jzhang533 commented on #47629
trying to fix this in #47663

[2022-11-04 03:08] zhiqiu commented on #45669
hi，我本地develop跑了下 test_adam_op_multi_thread ，没有复现出该问题，另外也未发现 adam_kernel.cc中的 FLAGS_inner_op_parallelism 相关log。你们在develop还能复现问题吗？

[2022-11-04 03:20] momozi1996 commented on #47064
### 11/4日 活动进展⏰
- 任务认领——认领率：22份/36份
- 任务完成&提交AIstudio ——完成/认领率：4份/22份
- 任务完成&提交PR ——完成/认领率：4份/22份

### github-参与人：（11位）
@RedContritio、@lwbmowgli、@WangXi2016、@Rayman96、@edencfc、@kjf4096、@npuyzr、@2017040264、@lzzzzzm、@yangguohao、@wuhuachaocoding

### github-contributor 进展：（4位）
@WangXi2016、@lzzzzzm、@edencfc、@2017040264

### 已提交的4个PR：
- [5381](https://github.com/PaddlePaddle/docs/pull/5381)
- [5384](ht

[2022-11-04 05:37] #47629 closed, assigned to Thunderbrook

[2022-11-04 06:43] pangyoki commented on #47662
你好，麻烦提供下执行`nvidia-smi`和`nvcc -V`命令的截图看看。

[2022-11-04 07:33] #46973 closed, assigned to kuizhiqing

[2022-11-04 07:34] onecatcn commented on #46973
I closed the issue since the discussion showed it has been resolved. Thanks for the contributions.

[2022-11-04 09:36] tsocha commented on #47357
That's our plan.

[2022-11-04 12:10] 95maddycode opened #47684 "Paddle with TRT on arm returns invalid values."
### 问题描述 Issue Description

[code]
paddle.min(paddle.to_tensor([3,2,1])) returns 0. Should return 1.
paddle.min(paddle.to_tensor([[3],[2],[1]])) alternatingly returns 0 and 3, should always return 1.

### 版本&环境信息 Version & Environment Information

summary_env.py:51: DeprecationWarning: distro.linux_distribution() is deprecated. It should only be used as a compatibility shim with Python's platform.

[2022-11-04 12:18] xiaodaomingye459 opened #47685 "关于可视化工具"
### 请提出你的问题 Please ask your question

请问Paddle有没有提供类似于CAM热力图的特征可视化的工具，（可解释性分析）
或者直接显示中间特征的办法？
如果有的话，有没有使用教程，万分感谢！

[2022-11-04 20:16] cjsal95 commented on #29428
you helped me! 😀

[2022-11-05 02:54] zly19540609 opened #47692 "c++ 部署yolov3模型 使用ONNXRuntime CreatePredictor(config)报错"
### bug描述 Describe the Bug

c++ 部署yolov3模型 使用ONNXRuntime CreatePredictor(config)报错
[ERROR] Cannot found attribute iou_aware in op: yolo_box

### 其他补充信息 Additional Supplementary Information

paddle_inference版本为c++ cpu版 2.3.2 cpu_avx_mkl

[2022-11-05 05:33] hailiang-wang commented on #47279
CUDA11.8 大约什么时候可以支持?

从官方文档中，还是最高支持到 11.6，https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

![image](https://user-images.githubusercontent.com/3538629/200104142-c0e00129-c52c-4523-8992-7503f40e73d2.png)

[2022-11-05 09:24] James4Ever0 commented on #38379
可以装cpu 目前还没有gpu呢

[2022-11-05 09:25] James4Ever0 commented on #44830
now `paddle` supports m1 CPU but not GPU

[install paddle for mac m1 cpu](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/macos-pip.html)

[2022-11-05 10:22] fanxiaochen456 opened #47694 "使用paddlex端侧部署paddleseg"
### 请提出你的问题 Please ask your question

您好，我使用的部署方式为C++编译paddlex-develop然后用编译好的paddlex推理paddleseg，现在我想使用arm架构的linux平台来部署paddleseg，请问还是想使用paddlex部署paddleseg的方式在arm架构的linux平台应该怎么操作呢？还是说要更换部署方式改用paddle-Lite部署paddleseg呢？

[2022-11-05 11:47] dasenCoding commented on #47064
【列表选题】
编号：26
题目：Goodbooks-10k数据集下基于隐式推荐算法模型完成图书推荐系统
认领人：dasenCoding

[2022-11-05 12:34] onecatcn commented on #46622
@qingqing01 would you please take a look at the issue, and see what we can do?

[2022-11-05 13:35] OccupyMars2030 commented on #46622
@leo0519 I don't know. I'm just a community developer.

[2022-11-06 09:52] zcswdt opened #47696 "安装问题"
### 请提出你的问题 Please ask your question

您好，我是按照说明安装，完成了以后报错。
![image](https://user-images.githubusercontent.com/43515926/200164305-45386806-2a5c-40c6-b81b-91014f8586ac.png)

[2022-11-06 11:38] youlingforever0328 opened #47697 "paddle最新版2.3 影响其他logging模块的使用"
### bug描述 Describe the Bug

paddle最新版2.3 影响logging模块的使用
paddle version: paddlepaddle-gpu          2.3.2
python: 3.9.13

[code]
以上代码无法生成test.log文件
### 但是去掉 “import paddle” 之后正常运行，生成test.log

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-06 14:20] DrRyanHuang opened #47698 "Paddle list index/slice alternative method"
### 需求描述 Feature Description

Hi, thx for good jobs of Paddlepaddle!

I need an alternative method of paddle list slice/index. Could you please give me some advices?

numpy implementation:
[code]
[code]

torch implementation：
[code]
[code]

However
[code]
it raise:
[code]

is there any simple alternative method for above implementation in paddle?

### 替代实现 Alternatives

_No response_

[2022-11-07 01:37] gujianbo commented on #47446
最近跑又没问题了，之前一直有问题，很奇怪

[2022-11-07 02:01] #47607 closed, assigned to ForFishes

[2022-11-07 02:13] iclementine commented on #47692
能说明一下你使用的是哪个代码库的代码，以及复现方法吗？

[2022-11-07 02:31] iclementine commented on #47694
你可以导出 paddleseg 的模型（可以使用 Paddle 的推理模型格式或者 Onnx 模型的格式），然后使用 Paddle Lite 方式部署 PaddleSeg. 可以参考 PaddleSeg 的文档。
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/docs/deployment/lite/lite_cn.md

[2022-11-07 02:56] zly19540609 commented on #47692
[Paddle-Inference-Demo](https://github.com/PaddlePaddle/Paddle-Inference-Demo) c++示例  cpu yolov3

[2022-11-07 03:00] fengchu2017 opened #47704 "inference 打不开__model__"
### bug描述 Describe the Bug

![image](https://user-images.githubusercontent.com/29749125/200216725-339b2c9f-e92d-40d3-be3c-822983b707bd.png)
用cpu跑paddle inference ，在开发机上跑是正常的， 在集群上跑报打不开__model__文件是内存不足吗
说明： __model__ 文件是存在的

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-07 03:14] wangxinxin08 commented on #47692
具体使用的命令是啥啊？这个demo里面： https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/001b2b5d9e77be4d82e179eae20a0b05f125dc5c/c%2B%2B/gpu/yolov3 只有Paddle的部署方式啊

[2022-11-07 03:19] zly19540609 commented on #47692
里边cpu示例 不是GPU的 https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/cpu/yolov3

[2022-11-07 03:20] wangxinxin08 commented on #47692
好的，我们先复现下

[2022-11-07 03:43] dingjiaweiww commented on #47554
你好，经过充分的测试，paddle 现在已支持Ubuntu 22

[2022-11-07 03:47] dingjiaweiww commented on #47545
你好，2.4rc 版本的python 安装包就是cudnn7.6.5 的，2.4 版本以后python 安装包既支持训练也支持预测，可以去官网下载cuda10.2+cudnn7 的python wheel 安装包
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/install/pip/linux-pip.html
<img width="1160" alt="image" src="https://user-images.githubusercontent.com/23093488/200222239-f90bece7-abb7-4025-8801-6227ae182333.png">

[2022-11-07 03:56] zhwesky2010 commented on #47426
@lifw555 现在还没有计划支持。QT也可以配置MSVC编译环境哈

[2022-11-07 04:47] chalsliu commented on #47329
关于编译的wheel不支持cuda的问题，请问可以发一下具体的编译方式吗 @SunGoodIn

[2022-11-07 05:26] Wong4j commented on #45669
看起来develop已经没有这个问题了。那这个issue暂时先放着吧，等v2.4.0版本正式发布我再测试一次，如果没问题我会关掉这个issue

[2022-11-07 05:35] onecatcn commented on #46622
@Caozhou1995, Please check the issue and see what you can do.

[2022-11-07 06:57] huangjun12 commented on #47696
日志显示，安装的cuda是11.0版本，安装paddle时也需要安装cuda11.0对应的版本。
没有现成cuda11.0的whl包，需要自行编译
或者把cuda升级到11.1

[2022-11-07 07:09] yaoxuefeng6 commented on #47685
https://github.com/PaddlePaddle/InterpretDL 可以看下这个哈

[2022-11-07 07:18] yaoxuefeng6 commented on #47620
请问下是什么情况下报的错？编译报错？

[2022-11-07 07:25] b3602sss commented on #47637
检查一下模型是不是正确。https://github.com/onnx/onnx/blob/main/docs/Operators.md#RoiAlign 按onnx的定义sampling_ratio : int 是整形

[2022-11-07 07:30] zkh2016 commented on #47624
你好，当前这个API是针对多头机制的融合实现。

[2022-11-07 08:30] zly19540609 commented on #47637
使用PaddleDetection官方提供模型 模型下载地址为https://paddledet.bj.bcebos.com/models/mask_rcnn_r50_vd_fpn_2x_coco.pdparams
使用命令导出模型python tools/export_model.py -c configs/mask_rcnn/mask_rcnn_r50_vd_fpn_2x_coco.yml --output_dir=./inference_model -o weights=weights/mask_rcnn_r50_vd_fpn_2x_coco.pdparams
 PaddleDetection为2.5版本
Paddle为2.3.2版本

[2022-11-07 08:49] huangjun12 commented on #47698
[code]

with paddle develop, this code works well

[2022-11-07 08:53] huangjun12 commented on #47697
python3.7, paddle==develop, logging==0.5.1.2
用以上环境试了下，本地可以生成test.log文件

[2022-11-07 09:18] mike-egg123 commented on #47554
你好，请问是哪个版本呢？我看官网的快速安装部分只有2.3版和develop版，2.3应该还不支持，develop版之前我放到我的Ubuntu22上面跑不起来。。。

[2022-11-07 09:21] mike-egg123 commented on #47554
我的gpu信息如下：
[code]
使用的镜像是：
`paddlepaddle/paddle:2.4.0rc0-gpu-cuda11.7-cudnn8.4-trt8.4`

[2022-11-07 09:38] Marverlises opened #47725 "PaddlePaddle / MetaGym使用quadrotor环境出现AttributeError: 'ColorVisuals' object has no attribute 'crc'"
### 问题描述 Issue Description

在PaddlePaddle / MetaGym使用quadrotor环境安装后按照文档进行测试，出现AttributeError: 'ColorVisuals' object has no attribute 'crc'，环境无法打开

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version: 2.2.0
Paddle With CUDA: False

OS: Windows 10
Python version: 3.7.13

CUDA version: None
cuDNN version: None
Nvidia driver version: 517.48

[2022-11-07 10:00] #47696 closed, assigned to huangjun12

[2022-11-07 10:30] fanxiaochen456 commented on #47694
@iclementine 您好，当我测试官网提供的Paddle-Lite-Demo里的human_segmentation里的demo时出现了以下错误：
![147422561322895156](https://user-images.githubusercontent.com/101849755/200288502-0455170b-54dc-4170-bfec-48796b8c44de.png)
请问这是什么问题呢？

[2022-11-07 11:09] LDOUBLEV commented on #47725
“geometry.crc()”代替“geometry.visual.crc()” 试试

[2022-11-07 11:21] Marverlises commented on #47725
你好谢谢你的帮助，但还是不行

原始的报错是：
`D:\Anaconda\envs\paddlepaddle\lib\site-packages\trimesh\parent.py:94: DeprecationWarning: `geometry.md5()` is deprecated and will be removed in October 2023: replace with `geometry.__hash__()` or `hash(geometry)`
  DeprecationWarning)
Traceback (most recent call last):
  File "D:/Desktop/PARL_develop_examples_tutorials (1)/examples/parl2_dygraph_new/lesson5/homework/ddpg_q

[2022-11-07 11:38] jiluojiluo commented on #41682
我也遇到相同的问题，

[2022-11-07 11:51] b3602sss commented on #47637
试一下直接用onnx看看模型有没有问题 如果有的话需要在detection下提issue

[2022-11-07 12:57] zly19540609 commented on #47637
具体怎么操作，是使用paddle2onnx转换成onnx格式吗？

[2022-11-07 13:53] DrRyanHuang commented on #47698
@huangjun12 Thx!

[2022-11-07 13:53] #47698 closed, assigned to huangjun12

[2022-11-07 15:15] jiluojiluo commented on #41682
我后来发现，我的系统用了两个paddlepaddle的模型，一个是ernie，一个是layout，两个不能同时在一台服务器上，分两个服务器部署后，问题解决。不知道啥原因。

[2022-11-07 17:21] sfraczek opened #47747 "Building on Debug doesn't work"
### bug描述 Describe the Bug

Building Paddle on Debug doesn't work.

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-08 02:30] cailuyu commented on #47329
https://github.com/mingquanyuan/PaddlePaddle-Jetson
按这个基本搞定了,最后运行时有个so的缺失,自己apt安装对应软件,放到path里就搞定了

[2022-11-08 03:14] luotao1 commented on #47615
### 头文件依赖解耦具体说明 （ 整理 by @GreatV ）

使用如下命令查找`include`的结果，共583个结果：

[code]
[code]
使用如下命令查找匹配到的文件，共355个结果：
[code]
[code]

对包含的头文件去重，发现共有100个左右不同的头文件：

[code]

[code]

具体的头文件可总结如下：

[2022-11-08 03:32] ZzyChris97 opened #47749 "OSError: (External) CUBLAS error(13)."
### 请提出你的问题 Please ask your question

环境信息：
* python: 3.9.2
* paddlepaddle-gpu: 2.3.1.post112
* cuda version: 11.4
* Driver version: 470.57.02
* gpu: NVIDIA A100

执行inverse报错，发生错误的代码段
[code]

错误信息如下：
[code]

[2022-11-08 03:33] zxcd opened #47750 "paddle的stft函数和pytorch的stft函数在参数一致的情况下输出相差很多是为什么呢？"
### bug描述 Describe the Bug

torch.stft(audio, N_FFT, HOP_LENGTH, window=window)
输出第一行前三个[-1.0551e-02+0.0000e+00j, 2.1227e-03+0.0000e+00j, 8.4413e-03+0.0000e+00j

paddle.signal.stft(audio, N_FFT, HOP_LENGTH, window=window)
输出第一行前三个[[(-0.01521775871515274+0j) , (0.0030614458955824375+0j) , (0.012174495495855808+0j)

此时参数：
N_FFT = 400
HOP_LENGTH = 160
window = torch.hann_window(N_FFT)
audio 使用en.wav

[2022-11-08 06:37] #32067 closed, assigned to littletomatodonkey

[2022-11-08 06:37] #32317 closed, assigned to heavengate

[2022-11-08 06:37] #35164 closed, assigned to T8T9

[2022-11-08 06:37] #36533 closed, assigned to nobody

[2022-11-08 06:37] #36781 closed, assigned to nobody

[2022-11-08 06:37] #36786 closed, assigned to nobody

[2022-11-08 06:37] #36789 closed, assigned to nobody

[2022-11-08 06:37] #36792 closed, assigned to nobody

[2022-11-08 06:37] #36810 closed, assigned to nobody

[2022-11-08 06:38] #36817 closed, assigned to nobody

[2022-11-08 06:38] #36828 closed, assigned to nobody

[2022-11-08 06:38] #36833 closed, assigned to nobody

[2022-11-08 06:38] #36840 closed, assigned to nobody

[2022-11-08 06:38] #36841 closed, assigned to nobody

[2022-11-08 06:38] #36875 closed, assigned to kuizhiqing

[2022-11-08 06:38] #36877 closed, assigned to nobody

[2022-11-08 06:38] #36881 closed, assigned to nobody

[2022-11-08 06:38] #36884 closed, assigned to nobody

[2022-11-08 06:38] #36885 closed, assigned to nobody

[2022-11-08 06:38] #36887 closed, assigned to nobody

[2022-11-08 06:38] #36893 closed, assigned to nobody

[2022-11-08 06:38] #36896 closed, assigned to nobody

[2022-11-08 06:38] #36897 closed, assigned to nobody

[2022-11-08 06:38] #36908 closed, assigned to nobody

[2022-11-08 06:38] #36919 closed, assigned to nobody

[2022-11-08 06:38] #36920 closed, assigned to nobody

[2022-11-08 06:38] #36921 closed, assigned to nobody

[2022-11-08 06:38] #36949 closed, assigned to FeixLiu

[2022-11-08 06:38] #36956 closed, assigned to nobody

[2022-11-08 06:38] #36976 closed, assigned to nobody

[2022-11-08 06:38] #36986 closed, assigned to ZHUI

[2022-11-08 06:38] #37014 closed, assigned to nobody

[2022-11-08 06:43] ainndejj11 opened #47755 "PaddleDetection换了一个设备，环境和C++代码相同，GPU推理错误，CPU正确"
### 请提出你的问题 Please ask your question

使用PaddleDetection-release-2.5分支代码。
C++的推理代码，在本机中编译和推理均正确，但是代码和推理库拷到另一台设备上，另一个设备环境和本机一致，代码和paddle_inference推理库均一致。但是使用GPU推理，却报错了，点的位置乱了，opencv报错。  但是--device=CPU 就可以正确推理。
  请问这是个什么原因呢？

CPU版本正确的输出：
(base) alex@alex-System-Product-Name:~/Pictures/cpp$ ./build/main --device=CPU
total images = 10, batch_size = 1, total steps = 10
class=0 confidence=0.9820 rect=[54

[2022-11-08 06:56] menkeyi opened #47757 "Error: Can not import noavx core while this file exists"
(paddle_2_3_cuda_11_6) root@admin:~# cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=22.04
DISTRIB_CODENAME=jammy
DISTRIB_DESCRIPTION="Ubuntu 22.04.1 LTS"

(paddle_2_3_cuda_11_6) root@admin:~# nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2022 NVIDIA Corporation
Built on Tue_Mar__8_18:18:20_PST_2022
Cuda compilation tools, release 11.6, V11.6.124
Build cuda_11.6.r11.6/com

[2022-11-08 07:00] #47704 closed, assigned to LDOUBLEV

[2022-11-08 07:02] #47572 closed, assigned to ForFishes

[2022-11-08 07:03] #47560 closed, assigned to ForFishes

[2022-11-08 07:03] #47557 closed, assigned to ForFishes

[2022-11-08 07:07] JZ-LIANG commented on #47755
请对齐两个设备上 OpenCV 的环境。这种情况很多情况是设备1 的 OpenCV 版本和 设备2 不同，推荐直接在 设备2 生重新编译PaddleDetection

[2022-11-08 07:09] zhaocaibei123 commented on #47559
在命令行里运行python，不行的话换python3试试

[2022-11-08 07:15] ainndejj11 commented on #47755
就是在设备1上编译的opencv3.4.7  然后把这个opencv3.4.7也拷到了设备2上，然后设备2推理有问题
如果是opencv的问题，请问为什么使用CPU就可以正确识别呢？

[2022-11-08 07:27] JZ-LIANG commented on #47757
编译时cmake 指令不正确， 请参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/Tables.html#Compile

[2022-11-08 08:07] sljlp commented on #46622
This PR #47761 may resolve the issue. @leo0519

[2022-11-08 08:26] menkeyi commented on #47757
意思是我这个环境必须手动编译才可以？

[2022-11-08 08:44] 1510386060 commented on #42564
" python3 -m pip install paddlepaddle" ,this is paddle CPU version

[2022-11-08 09:16] JimmyLyods opened #47765 "模型保存与增量训练怎么用"
您好,利用paddle.jit.save先把模型儲存下來後,
(1)paddle.jit.save(LRNet,"./model/LR",input_spec=[InputSpec(shape=[None,40,2],dtype='float32')])
將模型加載進來,但沒辦法做增量,在train的時候會出錯
loaded_layer = paddle.jit.load("./model/LR")
optm = paddle.optimizer.SGD(learning_rate=0.1,parameters=LRNet.parameters())
train(loaded_layer,optm,"LR_new")
錯誤訊息:
ValueError: (InvalidArgument) The axis range must be [-2, 2), but axis is 2. Plea

[2022-11-08 10:03] JZ-LIANG commented on #47765
接口使用不正确，请参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/faq/save_cn.html#wenti-zengliangxunlianzhong-ruhebaocunmoxinghehuifuxunlian

[2022-11-08 10:09] JimmyLyods commented on #47765
您好,這個方法也用也有用過,
將模型和優化器儲存下來,
paddle.save(optimizer.state_dict(), "sgd.pdopt")
paddle.save(model.state_dict(), "model.paddle")
之後再載入後做增量訓練,
layer_state_dict = paddle.load("model.paddle")
sgd_state_dict = paddle.load("sgd.pdopt")
==>
model.set_state_dict(layer_state_dict)
optm.set_state_dict(sgd_state_dict)
但增量用相同的資料去訓練時,
loss和acc都和初始的差不多,沒有因載入原來的從最後的loss和acc優化,
且模型和優化器的大小都約1K

請問用此方法儲存模型和優化器是否正確?
是否

[2022-11-08 10:32] JimmyLyods commented on #47765
您好,再補充說明,
用paddle.save的方法,
將儲存的優化器印出
print(optimizer.state_dict())
結果是{}
將儲存的模型印出
print(model.state_dict())
結果是
OrderedDict([('fc.weight', Parameter containing:
Tensor(shape=[...], dtype=float32, place=Place(cpu), stop_gradient=False,
........])), ('fc.bias', Parameter containing:
Tensor(shape=[1], dtype=float32, place=Place(cpu), stop_gradient=False,
       [0.]))])

[2022-11-08 11:34] JZ-LIANG commented on #47765
save 是否成功的检验：
模型size = 1k 看起来的确有问题，请确保 ckpt 被正确保存（程序没有被中断or硬盘空间足够），可以用模型参数量大致算一下是否正确保存时ckpt 大小。

load 是否成功的检验：
loss和acc都和初始的差不多： 可以在save 前打印某个参数tensor 的值， 并行在load 后打印相同参数，核对load 是否正确。

[2022-11-08 19:43] ilya-lavrenov opened #47781 "Installation for paddlepaddle==2.3.2 on CentOS 7"
### 问题描述 Issue Description

We tried to install paddlepaddle version 2.3.2 on CentOS 7 and run:
[code]
Docker images which can be used to reproduce the issue `quay.io/pypa/manylinux2014_x86_64`:
[code]
Why it does not work on manylinux2014, while it should support even manylinux1?

Output from `auditwheel`:
[code]

### 版本&环境信息 Version & Environment Information

Error: Can not import avx core while

[2022-11-08 23:52] menkeyi commented on #47757
我这个情况是必须手动编译安装呗

[2022-11-09 01:58] jzhang533 commented on #47757
This is a known issue, and has been fixed.
see #36801 for details.

[2022-11-09 02:57] engineer1109 opened #47786 "Custom_Device的模型权重永远保存在CPU上"
### bug描述 Describe the Bug

使用Custom_Device 导入任意带有权重的模型

使用export GLOG_v=6 运行控制台
[code]
LOG中在运行一个matmul_v2的OpenCL算子，
X[linear_68.tmp_0:float[3, 512, 312]({})(Place(OpenCL:0))  是上一个模型的输入
Y[linear_51.w_0:float[312, 2]({})(Place(cpu))   是模型的权重

无论运行多少次，权重一直存在CPU上，每次都要对设备拷贝进行转换
[code]

如何避免转换的过程，让权重存在OpenCL的内存上

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-09 02:59] engineer1109 commented on #47786
[code]
config设置

[2022-11-09 03:12] engineer1109 commented on #47786
[code]
所有模型权重都在CPU上

[2022-11-09 03:22] engineer1109 commented on #47786
[code]

[2022-11-09 03:29] quanxiang-liu opened #47788 "PaddleClas模型库在训练数据加载部分使用.next() 在Paddle框架commit 4061b1b88f72b3dc5c767d2f026a94515cf0c814合入后报错"
### bug描述 Describe the Bug

PaddleClas模型库在训练数据加载部分使用.next() 在Paddle框架commit 4061b1b88f72b3dc5c767d2f026a94515cf0c814合入后报错

复现方法：
安装 4061b1b88f72b3dc5c767d2f026a94515cf0c814 对应的Paddle Develop分支包
git clone https://github.com/PaddlePaddle/PaddleClas
cd PaddleClas
cd dataset/
wget https://paddle-imagenet-models-name.bj.bcebos.com/data/flowers102.zip
unzip flowers102.zip
cd ..
python tools/train.py -c

[2022-11-09 03:52] iclementine commented on #47694
这种情况一般是缺少相应的头文件或者透哦文件版本不对。float32x4_t 之类的类型应该是 arm_neon 提供的。你能说说你构建工程的流程吗？

[2022-11-09 03:54] aiden-zhang opened #47790 "请问paddle2onnx这么修改转出的onnx版本"
### 请提出你的问题 Please ask your question

请问我现在转出的 onnx IR 版本是v8,我需要转成更低版本的onnx模型，需要怎么修改padlle环境吗？
![onnx_ir_version_v8](https://user-images.githubusercontent.com/52768483/200734387-3cbca600-55a2-4aa8-8ac3-d7bff4adad91.png)

[2022-11-09 03:57] hong19860320 commented on #47694
原始 demo 有问题吗？看起来是在你自己工程编译出现问题的，可能是你的 cmake 脚本问题，可以先编译 arm64-v8a 试试 https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/586b0d13757118f366ae22d88560acc6b4a0dd9f/human_segmentation/android/shell/cxx/human_segmentation/CMakeLists.txt#L18

[2022-11-09 06:01] b3602sss commented on #47637
你用的不是onnx 模型吗？那不能跑onnx runtime

[2022-11-09 06:27] JunnYu commented on #47624
那未来准备支持吗？

[2022-11-09 07:27] zly19540609 commented on #47637
我用的是paddle的模型

[2022-11-09 07:32] Genlk opened #47797 "遇到OPS结果为0，大家有遇到这种情况么？"
### 请提出你的问题 Please ask your question

paddle 的插值OPS结果为0，大家有遇到这样的情况么？

[2022-11-09 07:32] Genlk commented on #47797
代码：
import numpy as np
import paddle
import torch

array = np.array(list(range(16))).reshape(1, 1, 4, 4).astype("float32")

#print torch
torch_result = torch.nn.functional.interpolate(torch.tensor(array),size=[2,2])
print(torch_result)

#print paddle
paddle_result = paddle.nn.functional.interpolate(paddle.to_tensor(array),size=[2,2])
print(paddle_result)

结果：
![image](https://user-images.githubuse

[2022-11-09 07:36] Genlk commented on #47790
onnxexport 有一个参数是ops_version,你说的是这个么？

[2022-11-09 07:44] yinlu6 commented on #44571
paddle is so hard to install, I may quit it

[2022-11-09 08:27] jiweibo commented on #47786
您好，可以参考`ir_params_sync_among_pass`，将host权重挪到device中。
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/analysis/passes/ir_params_sync_among_devices_pass.cc#L165

[2022-11-09 08:51] strayberry commented on #47253
@Eddie-zhg 怎么样换 2.4 可以解决吗

[2022-11-09 09:16] JZ-LIANG commented on #47749
这是paddle 调用 cublas 底层库时的报错，根据 Cublas 官方document 解释，这个和 硬件驱动版本 和 cublas 是否正确安装相关， 不是Paddle调用时入参的问题，请检查当前cublas 环境。

[2022-11-09 09:20] JZ-LIANG commented on #47750
看了一下paddle stft 的输入，参数含义是和pytorch 一致的

但paddle stft单测中只是和 np 对齐， 没有和和pytorch 对齐的单测

python/paddle/fluid/tests/unittests/test_stft_op.py

请检查输出结果和 np 结果是否对齐符合预期，是否满足需求。

如果明确需要精度和 pytorch 对齐，需要和 paddle PM 提需求。

[2022-11-09 09:23] JZ-LIANG commented on #47755
opencv 对 gpu 的依赖库拷完了吗 。。。。。。

[2022-11-09 09:52] engineer1109 commented on #47786
@jiweibo 看起来只有 CopyParamsToGpu  CopyParamsToNpu  ,  自定义设备需要自己提PR是吗？

[2022-11-09 10:30] wanghaoshuang opened #47807 "Paddle Inference building error with ninja failed"
### 问题描述 Issue Description

在windows OS下，编译Paddle Inference出错，错误日志如下：
[code]

### 版本&环境信息 Version & Environment Information

1. PaddlePaddle commit: b1fb2360e39269bcc93cafcf00200988073ad825
2. WITH_GPU=ON
3. 系统环境：Windows

[2022-11-09 11:18] jiangjiajun commented on #47790
https://github.com/PaddlePaddle/Paddle2ONNX/blob/develop/docs/zh/FAQ.md#q3-%E8%BD%AC%E6%8D%A2%E5%90%8E%E7%9A%84%E6%A8%A1%E5%9E%8Bonnx-runtime%E5%8A%A0%E8%BD%BD%E6%8F%90%E7%A4%BAunkown-model-file-format-version 参考下这里的第三个问题解决方式

[2022-11-09 11:20] #47637 closed, assigned to Thunderbrook

[2022-11-09 12:00] #47757 closed, assigned to JZ-LIANG

[2022-11-09 12:01] #47755 closed, assigned to JZ-LIANG

[2022-11-09 12:15] DLlearn opened #47813 "同样的操作有些结果和pytorch不一样，有些一样"
### bug描述 Describe the Bug

交叉熵损失同样输入，在不加label smooth和加label_smooth时结果与pytorch相同;加与不加类别权重weight都与pytorch相同，但在同加上类别权重和label smooth时结果不一样，麻烦确认一下。代码如下：
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-09 13:39] pangyoki commented on #47807
你好，报错日志麻烦截取更多信息，可以看到是哪儿出现error了吗？

[2022-11-09 13:47] pangyoki commented on #47788
你好，看起来这个commit是删除了python2相关方法，因为paddle已经不支持python2了，请问你使用的python版本是什么？
如果是python3，麻烦尝试下将next方法改成__next__看行不行。
这个改动对套件库可能属于不兼容升级，我找相关同学讨论下这个事情。

[2022-11-09 13:51] pangyoki commented on #47781
It seems that the `gcc` version used to compile `python` is too low. Please enter `python` to see what the gcc version is, paddle needs gcc8.2 or above.

[2022-11-09 13:57] ilya-lavrenov commented on #47781
Output of `sysconfig`:
<details><summary>CLICK ME</summary>
<p>

[root@3fc5c1f65430 /]# /opt/python/cp38-cp38/bin/python3 -m sysconfig
Platform: "linux-x86_64"
Python version: "3.8"
Current installation scheme: "posix_prefix"

Paths:
        data = "/opt/python/cp38-cp38"
        include = "/opt/python/cp38-cp38/include/python3.8"
        platinclude = "/opt/python/cp38-cp38/include/python3.8"

[2022-11-09 14:01] pangyoki commented on #47797
你好，请问你使用的paddle版本是什么？我用2.4.0rc版本的paddle，得出的结果与torch是一致的。

[2022-11-09 14:07] pangyoki commented on #47813
你好，已经复现了你的问题，我找相关同学咨询下。

[2022-11-09 14:13] pangyoki commented on #47781
Please see the gcc version used to compile python, not the gcc version in the system.
![image](https://user-images.githubusercontent.com/26408901/200852908-5a48976b-ff3f-4806-8630-a24df0acf8ed.png)

[2022-11-09 14:15] pangyoki commented on #47781
paddle can work on CentOS 7. And you don't need to change the package name. There maybe some problems with the environment.

[2022-11-09 14:41] masamimayu opened #47819 "EISeg-Med3D环境安装报错"
### 问题描述 Issue Description

第三步
import sys
import os
sys.executable # 'E:/3D slicer/Slicer 5.1.0-2022-09-27/bin/PythonSlicer.exe'

os.system(f"'{sys.executable}' -m pip install paddlepaddle-gpu==2.3.2.post116 -f  https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html")
提示文件名、目录名或卷标语法不正确

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version

[2022-11-09 15:39] SigureMo opened #47821 "pylint docstring checker 不工作原因及可能的解决方案"
### 问题描述 Please describe your issue

目前 Paddle 的 pre-commit hooks 里是有 pylint 的，见

https://github.com/PaddlePaddle/Paddle/blob/7c30253841b5e1f6091d61aa0785b950d6c0a904/.pre-commit-config.yaml#L77-L84

这是一个 local hook，hook 源码见

https://github.com/PaddlePaddle/Paddle/blob/7e914386bb889b3ea6ccc9dfdbb9964ec83b8f2d/tools/codestyle/pylint_pre_commit.hook#L1-L25

其实就是关闭所有的 pylint 内置规则，仅仅启用了本地自己写的 docstrin

[2022-11-09 15:47] SigureMo commented on #47821
@Ligoml 这里我整理了下 pylint 存在的问题及可能的修复方式，可能对规范 docstring 格式 / 内容有所帮助

PS: 这个原本是想和 cpplint 一起修的，[flake8 tracking issue](https://github.com/PaddlePaddle/Paddle/issues/46039#issuecomment-1264625301) 里也一直放着这个的 TODO，但也因为上面所说的，存量很难修，所以暂时没有管

[2022-11-09 19:06] ilya-lavrenov commented on #47781
[code]
Could you please try docker `quay.io/pypa/manylinux2014_x86_64` ? it's official manylinxu2014 docker image from https://github.com/pypa/manylinux

[2022-11-10 00:44] JimmyLyods commented on #47765
您好,目前還是都試不出來,
所以補充說明一下目前情況,
目前用paddle.Model然後再fit設定save_dir是可以把模型和優化器儲存下來,
但如果是用paddle.save將優化器和paddle.nn.Layer可以儲存下來,但都1K
PS:這邊之前誤會是把model儲存下來,但應該是Layer,一開始敘述有誤
paddle.save(optimizer.state_dict(), "sgd.pdopt")==>儲存優化器
paddle.save(model.state_dict(), "model.paddle")==>儲存Layer
如果不是使用paddle.Model,是否也可以把模型和優化器儲存下來?
之後再用load的方式對原來訓練好的模型和優化器再進化,
謝謝

[2022-11-10 01:14] niuhaitaofeilong commented on #47807
您好，详细信息如下：
按照如下链接进行Paddle Inference 编译。cpu版本编译成功，gpu版本编译报错。

https://www.paddlepaddle.org.cn/inference/v2.4/guides/install/compile/source_compile_under_Windows.html](https://wx.qq.com/cgi-bin/mmwebwx-bin/webwxcheckurl?requrl=https%3A%2F%2Fwww.paddlepaddle.org.cn%2Finference%2Fv2.4%2Fguides%2Finstall%2Fcompile%2Fsource_compile_under_Windows.html&skey=%40crypt_246577b4_ebb1be2841f9bdaff830a3ab717ddc

[2022-11-10 01:15] niuhaitaofeilong commented on #47807
![675594747](https://user-images.githubusercontent.com/39897311/200976470-09d5ff14-bb9f-4ba0-9453-fa29946ee2f1.jpg)
![1041748586](https://user-images.githubusercontent.com/39897311/200976475-9ad8f9e7-1fa6-4158-aef3-98b184aeff36.jpg)
![1287081097](https://user-images.githubusercontent.com/39897311/200976476-1c7e7c7c-0d15-4e73-8584-f70842d44a35.jpg)
![1439361048](https://user-images.githubuserconten

[2022-11-10 02:15] parap1uie-s opened #47824 "HAPI loss调用机制不合理"
### bug描述 Describe the Bug

https://github.com/PaddlePaddle/Paddle/blob/5004c33a3834ccfe330ae0b1e134f947dce5b9a5/python/paddle/hapi/model.py#L801

如上所示，如果nn.Layer模型具有多个输出，或具有多个label时，将输出与label平铺在loss入参里，会使得loss设计者迷惑。

因为Loss设计者不知道应当把哪几个入参当作输出，而哪几个入参作为label

建议改为

[code]

这样将模型输出与label忠实地传递给loss函数

但是这一改动将使得loss入参由
[code]
变为
[code]
可能影响现在的hAPI用户，需要评估是否接受此修改，或者是否有更好的解决办法

### 其他补充信息 Additional Suppl

[2022-11-10 02:39] thrkingd opened #47826 "ubuntu下编译paddle源码报错"
### 问题描述 Issue Description

我在ubuntu下编译paddle源码报错，错误信息如下：
../../framework/io/crypto/libpaddle_crypto.a(aes_cipher.cc.o):(.data.rel.ro._ZTVN8CryptoPP20ConcretePolicyHolderINS_5EmptyENS_22AdditiveCipherTemplateINS_20AbstractPolicyHolderINS_28AdditiveCipherAbstractPolicyENS_14CTR_ModePolicyEEEEES4_EE[_ZTVN8CryptoPP20ConcretePolicyHolderINS_5EmptyENS_22AdditiveCipherTemplateINS_20AbstractPolicyHolderI

[2022-11-10 02:44] Ligoml commented on #47821
收到，很有用的信息~

[2022-11-10 02:55] jzhang533 commented on #47821
So sad to know this. :(

除了在pre-commit阶段做检查之外，我们另外一个值得做的事情是吧[doctest](https://docs.python.org/3/library/doctest.html) 或者 [xdoctest](https://github.com/Erotemic/xdoctest)，这类工具引入到paddle。相比于现在我们的流水线中，简单的把示例代码抽取出来，直接运行，看是否运行成功的检查来说，这类工具能提供更加灵活（如：运行前设置不同的运行环境），更精准的测试（直接检查运行出来的结果是否符合设定的预期）。

[2022-11-10 02:56] thrkingd commented on #47826
补充一下编译器的版本：
gcc：8.4.0
g++：8.4.0

[2022-11-10 03:00] parap1uie-s opened #47828 "Missing `greater_than` kernel for uint8 on GPU"
### bug描述 Describe the Bug

[code]

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-10 03:15] wjj19950828 commented on #47826
@thrkingd 具体编译可以参考这个文档：https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/docs-official/guides/install/compile/source_compile_under_Linux.md

[2022-11-10 03:21] #46622 closed, assigned to Caozhou1995

[2022-11-10 03:29] Genlk commented on #47797
@pangyoki
我的版本是2.3.2,通过 python -m pip install paddlepaddle-gpu==2.3.2 -i https://pypi.tuna.tsinghua.edu.cn/simple   安装

调用rand 产生随机数，只有设置cpu的时候才不为0.其他都显示0.这里面是哪里的操作有问题嘛？
![image](https://user-images.githubusercontent.com/24912927/200993427-141dd2b0-5ddb-4730-8bf7-1d47e2f1a815.png)

代码如下：
import paddle

paddle.rand(shape=[2,3])
#Tensor(shape=[2, 3], dtype=float32, place=Place(gpu:0), stop_gradient=

[2022-11-10 03:53] Genlk commented on #47565
@wuyefeilin
你这边插值可以正常使用么？在gpu环境下需要额外设置什么嘛？我这边的插值和torch相比不一样
#47797 ，插值之后全部结果为0.

[2022-11-10 04:32] thrkingd commented on #47826
我基本是参考这个文档做的，只是系统环境略有区别，这个报错貌似是源码中对CryptoPP这个库的引用有问题，是这个包pycryptodome 有版本要求吗？

[2022-11-10 05:26] Eddie-zhg commented on #47253
不能，没什么用。

[2022-11-10 05:31] David-19940718 opened #47832 "SystemError: (Fatal) Operator where_index raises an paddle::memory::allocation::BadAlloc exception."
### bug描述 Describe the Bug

![image](https://user-images.githubusercontent.com/38575158/201008460-a07c5b9a-751b-4a65-92d1-a4c972f1f09c.png)

BatchSize设置为1还报错，训练 `picodet_lcnet_x2_5_640_mainbody.yml` 这个。

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-11-10 06:05] yeliang2258 commented on #47828
你好，目前不支持uint8类型，相关API请看这里：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/greater_than_cn.html#greater-than

[2022-11-10 06:09] wanghuancoder commented on #47832
感谢您的反馈！请@littletomatodonkey看一下。

[2022-11-10 06:33] leo0519 opened #47834 "Recommend to use logger instead of print function"
### 需求描述 Feature Description

Logger module can help users easier to see where and when a logging is being made from, but some Paddle module still uses print to show messages. For instance,

test_logger.py

[code]

result

[code]

The logger module is better for users to know the time, severity, and the python module where the message from. It should be implemented into python modules in Paddle.

[2022-11-10 06:59] zhwesky2010 commented on #47819
@masamimayu 你好，这个再适配一下sys.executable的字符路径是不是哪里有问题吧

[2022-11-10 07:01] wanghaoshuang commented on #47807
关于windows下使用pip安装PaddleInfence

在2.4.0rc版本之后，不用单独安装Paddle Inference,  安装PaddlePaddle训练包即可, 参考这里：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/install/pip/frompip.html

[2022-11-10 07:04] wanghuancoder commented on #47834
非常感谢您的反馈。说的是有道理的！这方面确实应该统一梳理并监管起来。
我将反馈给PM，由他们适时推动该工作！

[2022-11-10 07:14] yefeichen1 opened #47839 "在aarch64服务器上编译安装paddlepaddle-gpu版本，系统显示安装成功，但是利用paddleClas，paddleNLP的GPU后端训练所有模型，loss基本为nan。"
### bug描述 Describe the Bug

1. 报错信息
1.1 系统显示安装成功，但是执行官方提供的profile案例ernie时执行结果与预期不符
python3
import paddle
paddle.utils.run_check()
系统显示安装成功
oot@a1add718b0a0:/workspace/paddle/PaddleNLP_aarch64# python3
Python 3.8.13 | packaged by conda-forge | (default, Mar 25 2022, 05:56:26)
[GCC 10.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Running verify PaddlePaddle pr

[2022-11-10 07:19] pangyoki commented on #47797
这个问题确实有点奇怪，我这儿不会出现0。麻烦安装2.4rc版本试试：python3 -m pip install paddlepaddle-gpu==2.4.0rc0 -i https://pypi.tuna.tsinghua.edu.cn/simple

如果还有相同问题，那应该是环境问题了。

[2022-11-10 07:23] Genlk commented on #47797
我有两张卡，会不会是因为没有安装NCCL所以gpu下无法运行？@pangyoki

[2022-11-10 07:35] parap1uie-s commented on #47828
它确实是不支持，但它为什么不支持、什么时候考虑支持呢…

[2022-11-10 07:39] pangyoki commented on #47797
那你export CUDA_VISIBLE_DEVICES=0，设置单卡跑试试？没安装nccl，应该用单卡没问题的

[2022-11-10 07:41] yeliang2258 commented on #47828
你如果需要部署量化模型的话，通常做法是先训练FP32模型，然后经过PaddleSlim量化之后使用PaddleInference来部署

[2022-11-10 08:01] #47807 closed, assigned to pangyoki

[2022-11-10 08:01] #47790 closed, assigned to pangyoki

[2022-11-10 08:03] #47697 closed, assigned to huangjun12

[2022-11-10 08:11] dingjiaweiww commented on #46614
pr 已合入，故将此issue 关闭

[2022-11-10 08:12] #46614 closed, assigned to nobody

[2022-11-10 08:25] wanghuancoder commented on #47839
感谢您的问题反馈！目前Paddle还没有在这个环境下进行过测试，也没有发这种环境的包。我将反馈给相关同学进一步跟进
GPU型号：A100
CUDA版本号：CUDA 11.6
操作系统：ky10 aarch64

[2022-11-10 08:28] wanghuancoder commented on #47839
@pangyoki @qili93
我们应该有A100的测试，NPU上应该是用过ARM。但ARM+A100应该没有使用过。请两位看看这个问题有什么解决办法吗？

[2022-11-10 09:00] Genlk commented on #47797
paddle 已经替换成2.4rc了（python3 -m pip install paddlepaddle-gpu==2.4.0rc0 -i https://pypi.tuna.tsinghua.edu.cn/simple）
环境变量，export CUDA_VISIBLE_DEVICES=0，代码里面也写了os.environ['CUDA_VISIBLE_DEVICES']='0‘
还是全部是0， @pangyoki ，你说的环境问题，是指从哪一些方面去排查？
目前：
1.torch版本的GPU可以正常训练推理
2.paddleslim,也可以完成量化的操作
![image](https://user-images.githubusercontent.com/24912927/201046482-d88ed8d4-80c9-4829-a1d6-376205ad90d4.png)

[2022-11-10 09:07] onecatcn commented on #47834
@leo0519 thanks a lot for the valuable suggesitons.

[2022-11-10 09:09] JZ-LIANG commented on #47765
如果不是使用paddle.Model,是否也可以把模型和優化器儲存下來?
回答： 可以的，可参考这里的代码
https://github.com/PaddlePaddle/Paddle/blob/release/2.3/python/paddle/hapi/model.py#L311
可以通过下面 _save 方式存储 optimizer.state_dict() 和 model.state_dict()
_save(self.model.network.state_dict(), param_path)

[2022-11-10 09:17] JZ-LIANG commented on #47747
请提供详细的  编译 环境和命令 + 报错信息

[2022-11-10 09:26] yefeichen1 commented on #47839
也不只针对A100的GPU，T4也有这种情况。谢谢

1040248883
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年11月10日(星期四) 下午4:28
***@***

[2022-11-10 10:39] jzhang533 commented on #47834
To anyone who is looking this issue, if you have interest in working on this, please feel free to pick this issue.

And we do have a project idea regarding logging system in paddle: [IDEA：改进飞桨框架的logging系统](https://github.com/PaddlePaddle/community/tree/master/pfcc/call-for-contributions#idea%E6%94%B9%E8%BF%9B%E9%A3%9E%E6%A1%A8%E6%A1%86%E6%9E%B6%E7%9A%84logging%E7%B3%BB%E7%BB%9F), if anyone has int

[2022-11-10 12:45] aiden-zhang commented on #47790
it works, thank you very much!

[2022-11-10 13:19] lifw555 commented on #47426
好的，了解了。

[2022-11-10 13:19] #47426 closed, assigned to ceci3

[2022-11-10 13:45] masamimayu commented on #47819
你好，字符路径修改了应该没有问题，最后还是提示文件名、目录名或卷标语法不正确。是不是os.system后面语句的问题？

[2022-11-10 15:35] sfraczek commented on #47747
I'm using docker paddlepaddle/paddle:latest-dev.
[code]
Error
[code]
Another error:
[code]

[2022-11-10 15:40] littletomatodonkey commented on #47832
你好，这里是因为显存不足，建议使用16/32G显存的机器训练，同时可以减小训练尺度看下

[2022-11-10 21:19] gavinfaimdata commented on #36223
did you get a solution for this?

[2022-11-11 01:27] David-19940718 commented on #47832
您好，picodet_lcnet_x2_5_640_mainbody.yml 这个模型需要占的显存那么大吗，我BatchSize设置为1都训练不了？

[2022-11-11 01:53] wanghuancoder commented on #47824
请@heavengate 及时回复，感谢！

[2022-11-11 01:55] wanghuancoder commented on #47839
@pangyoki 咱们T4有测试过或者发包吗？

[2022-11-11 02:09] JimmyLyods commented on #47765
您好,另外想確認一下優化器問題,
我在訓練過程程式加上
optm.step()
print(optm.state_dict())
optm.clear_grad()            # 梯度清零
print(optm.state_dict())
但印出來都是{}
優化器都是空的,
這樣是正常的嗎?

[2022-11-11 02:39] David-19940718 commented on #47832
我这边已经改成BS=1，用416的输入还是暴显存不足

[2022-11-11 02:48] DLlearn opened #47871 "文档中create_parameter无法跳转"
### 文档链接&描述 Document Links & Description

https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/create_parameter_cn.html  这个链接打不开，无法查看paddle.create_parameter使用方法

### 请提出你的建议 Please give your suggestion

_No response_

[2022-11-11 02:51] gujianbo opened #47872 "cuda 11.4下安装paddle-gpu 11.2，paddle.utils.run_check()报错"
### bug描述 Describe the Bug

在cuda11.4下安装paddle-gpu11.2
python -m pip install paddlepaddle-gpu==2.3.2.post112 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html。
paddle.utils.run_check()后报错，是版本不兼容的问题吗，除了换版本有什么好的解决办法吗：

W1111 10:26:32.988811 162124 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.4, Runtime API Version: 11.2
W1111 10:26:3