[2022-02-24 20:20] jyjfjyjf commented on #39881
https://github.com/jyjfjyjf/DeBERTa 你好这里是模型代码

[2022-02-25 02:18] Xingyu-Romantic opened #39916 "SlowFast RCNN 导出模型预测时，Predictor.run"
环境信息：CUDA11.2, CUDNN8.0
             paddlepaddle-gpu        2.2.2   post101

错误信息如下：
finish object detection
Traceback (most recent call last):
  File "ji.py", line 100, in <module>
    print(process_image(init(), '/home/data/607/fall_recognition_20210816_1210.mp4'))
  File "ji.py", line 86, in process_image
    predictor.run()
OSError: In user code:

    File "tools/export_model.py", line 208, i

[2022-02-25 02:39] Xingyu-Romantic commented on #39916
已经解决，， 输入尺寸与模型尺寸不匹配，resize即可

[2022-02-25 02:39] #39916 closed, assigned to ZHUI

[2022-02-25 03:17] windstamp commented on #39866
我本地基于 PaddleDetection2.3 先复现看看，有进展及时反馈给你。

我测试的配置文件是 configs/faster_rcnn/faster_rcnn_swin_tiny_fpn_1x_coco.yml
[code]

<img width="1384" alt="5e5e99f66eb022acd0818d49c4a2e126" src="https://user-images.githubusercontent.com/34057289/155646978-a19e0484-953c-4639-8a28-89ce98424eeb.png">

另外，请问你测试环境的 GPU 显存是多少的。

同时，建议 cuda-memcheck 工具本地先查一下看看，  cuda-memcheck  python xxx.py

[2022-02-25 03:50] zlsh80826 opened #39922 "Models and datasets download failed randomly when building Paddle and running test"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

- 标题：編譯 Paddle 時, 下載模型時會隨機性遇到下載失敗導致編譯失敗
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
[code]
- 复现信息：如为报错，请给出复现环境、复现步骤
[code]

- 報錯日誌片段
[code]

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
編譯 Paddle

[2022-02-25 05:52] TinyQi commented on #39866
我没有指定norm_type=bn
另外我主要尝试的显卡是T4（16G显存）

[2022-02-25 06:14] AbbottKilig opened #39929 "Paddle运行出错C++ Traceback (most recent call last)错误"
Paddle版本2.2.2
错误信息如下：

-

--------------------------------------
--
C++ Traceback (most recent call last):
--------------------------------------
0 paddle::imperative::Tracer::TraceOp(std::string const&, paddle::imperative::NameVarBaseMap const&, paddle::imperative::NameVarBaseMap const&, paddle::framework::AttributeMap, std::map<std::string, std::string, std::less<std::string >, std::allocator<st

[2022-02-25 06:19] ZHUI commented on #39929
请问这个是在运行什么代码时候出现的问题？

[2022-02-25 07:57] Reatris commented on #37518
有可能是显存不够，训练退出了，所以feed也停止了

[2022-02-25 08:24] lidanqing-vv commented on #39473
Hi, the package has been uploaded and PR merged. Now we will change in Paddle to use bfloat16

[2022-02-25 08:31] littletomatodonkey commented on #39794
你好，你的第二段代码似乎没有跑通，ToArray找不到

[2022-02-25 10:53] zhiqiu commented on #39881
这个问题是因为网络中用了PyLayer，因为该PyLayer的前向在auto cast中跑，部分计算可能用fp16。但是反向的时候没有使用auto cast，所以会报错。
<img width="568" alt="image" src="https://user-images.githubusercontent.com/6888866/155703272-cd3630c8-735e-4873-9f14-576845918252.png">

你可以选择（1）在前向中加上 with auto_cast(enable=false)关闭混合精度，或者（2）在反向中加上和前向一样的with auto_cast(enable=true)

[2022-02-26 03:42] jyjfjyjf commented on #39881
试过了，都不行啊使用(1)会报另一个错

    Traceback (most recent call last):
      File "C:\JYN\sd\anaconda\anaconda\envs\paddle-py37\lib\contextlib.py", line 130, in __exit__
        self.gen.throw(type, value, traceback)
      File "C:\JYN\sd\anaconda\anaconda\envs\paddle-py37\lib\site-packages\paddle\fluid\dygraph\amp\auto_cast.py", line 290, in amp_guard
        yield
      File "C:/JYN/workspace/DeBERTa_Decod

[2022-02-26 04:01] jyjfjyjf commented on #39881
where不支持f16？

[2022-02-26 05:04] Serbian-strong commented on #37577
请问现在解决了吗，遇到了相同的问题

[2022-02-26 05:38] jyjfjyjf commented on #39881
backward之前加上了

       with paddle.amp.auto_cast(enable=True, custom_black_list=[
                        "reduce_sum",
                        "c_softmax_with_cross_entropy",
                        "elementwise_div"
                    ], level=f16):

还是会报之前的错

[2022-02-26 06:24] jyjfjyjf commented on #39881
在backward的where前面加上了混合精度，但是又报新的错了

    ValueError: (InvalidArgument) Tensor holds the wrong type, it holds float, but desires to be ::paddle::platform::float16.
      [Hint: Expected valid == true, but received valid:0 != true:1.] (at ..\paddle/fluid/framework/tensor_impl.h:33)

[2022-02-26 08:55] Stave604671 opened #39956 "帮忙看一下这个EfficientNetV2为什么权重文件大小和Tensorflow版差那么多"
- 标题：复刻EfficientNetV2模型导出的pdmodel pdiparams文件大小问题
- 版本、环境信息：
****************************************
Paddle version: 2.2.0
Paddle With CUDA: True
OS: Windows 10
Python version: 3.8.10
CUDA version: 10.1.243
cuDNN version: 7.6.5
Nvidia driver version: 462.30
****************************************on版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env

[2022-02-26 09:40] windstamp commented on #39866
目前复测到 Epoch 5，没有出现任何问题。

我复测的环境是 V100 16GB 显存， paddle 是基于最新 develop 分支编译的，CUDA 10.2 + cudnn 7，你也可以采用官方提供的 Daily wheel。
[code]

安装文档参考 https://www.paddlepaddle.org.cn/

模型训练到命令是，数据集是默认的 coco 2017。
[code]

使用的是 docker 环境 https://hub.docker.com/layers/paddlepaddle/paddle/latest-gpu-cuda10.2-cudnn7-dev/images/sha256-5faf0c6d603e301e9d7e5d0ffbfb30be32ae7dc2006ab3215259f743f52932c2?context=explore
[code

[2022-02-26 11:35] joey12300 commented on #39956
请问你说的tensorflow版本EfficientNetV2文件大小大概是多少？您导出的文件大小大概是多少？

[2022-02-26 11:40] Stave604671 commented on #39956
efficientnetv2-s的tensorflow版本权重文件应该是20MB，我导出的paddle的有接近80MB

[2022-02-26 13:20] skywalk163 commented on #39794
因为非飞桨官方类，所以我第二个单词的首字母是小写的，是Toarray

[code]

[2022-02-26 15:07] joey12300 commented on #39956
@Stave604671 你好，tensorflow那个文档应该是指参数量是21M，float参数个数是21M，对应大小应该就是80多MB左右，所以您的模型应该对齐了的

[2022-02-26 15:14] Stave604671 commented on #39956
懂了，OK

[2022-02-26 15:14] #39956 closed, assigned to joey12300

[2022-02-27 16:38] Stave604671 opened #39973 "paddle2.2的paddle.vision.dataset.CIFAR100的API使用异常"
Paddle version: 2.2.0
Paddle With CUDA: True
OS: Windows 10
Python version: 3.8.10
CUDA version: 10.1.243
cuDNN version: 7.6.5
Nvidia driver version: 462.30
****************************************
CIFAR100API使用的时候，如果在一个代码里面同时加载其中的train_loader 和test_loader, test_loader能够吐出的data的shape出了问题，最大值只能吐出16，直接运行末尾附件的txt即可
from paddle.vision.datasets import Cifar100
import paddle
import paddle.vision.transfo

[2022-02-27 17:14] Water2style opened #39974 "PaddleSlim非结构化稀疏转inference模型报错."
Hello 您好，
我按照官网的demo训练完后，准备将其用paddle-inference在nvgpu上部署,结果在 jit.save时报错.（错误报告后面贴出）

并且想请教如下问题：
1.非结构化稀疏后的模型，是否更适合在CPU上预测，或者GPU也行？CPU的话, X86和Arm是否都支持？
2.官方文档里没有看到让转inference相关的教程，难道非结构化稀疏后的模型是使用PaddleLite套件吗~?
谢谢！

jit.save的错误报告如下：

Traceback (most recent call last):
  File "un_sparse.py", line 470, in <module>
    main()
  File "un_sparse.py", line 466, in main
    compress(args)
  File "un_sparse

[2022-02-28 02:53] zhiqiu commented on #39881
请问你用的是哪个版本的paddle呢？

[2022-02-28 03:33] miemie2013 commented on #39759
只拿到numpy()数组没有用呀，还是需要梯度张量进行损失的计算，希望官方能尽快修复paddle.grad()的问题。

[2022-02-28 04:14] jyjfjyjf commented on #39881
这个版本的
paddlepaddle-gpu       2.2.2.post101

[2022-02-28 06:49] ZHUI commented on #39915
Is the `feature_size_  = 1` ?  If there is a binary classification problem, you can cast you label one hot label. such as:
[code]

[2022-02-28 07:45] zhwesky2010 commented on #39825
这个因为 __getitem__从中取值时，将遍历的scalar元素转为 shape为1的Tensor，目前框架还没支持空维Tensor。如需更改，则要修改__getitem__中的返回值，针对遍历的单个元素返回scalar

[2022-02-28 07:49] zhiqiu commented on #39881
这个是咋改的？能发下上下文代码看看吗

[2022-02-28 08:10] #39915 closed, assigned to nobody

[2022-02-28 08:11] jyjfjyjf commented on #39881
input_ids = paddle.to_tensor(data[0])
        token_type_ids = paddle.to_tensor(data[1])
        labels = paddle.to_tensor(data[2])

        input_data = {'input_ids': input_ids,
                      'token_type_ids': token_type_ids,
                      'labels': labels}
        with paddle.amp.auto_cast(enable=True, custom_black_list=[
            "reduce_sum",
            "c_softmax_with_cros

[2022-02-28 10:56] surfola opened #39998 "国外机器安装paddlepaddle-gpu==2.2.2缓慢"
- 标题：国外机器paddlepaddle-gpu安装缓慢 容易超时
- 版本、环境信息：

PaddlePaddle版本：paddlepaddle-gpu==2.2.2

- 安装方式信息：
conda安装，采用以下命令

`conda install paddlepaddle-gpu==2.2.2 cudatoolkit=10.2 --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/`

如果取消清华镜像源会显示无法找到对应包：
PackagesNotFoundError: The following packages are not available from current channels:
-paddlepaddle-gpu==2.2.2

[2022-02-28 12:10] heavengate commented on #39922
NV合作方问题，已提供下载包

[2022-02-28 14:17] caiwd opened #40006 "采用docker安装paddle，dockerhub内找不到该镜像"
- [](我按照官方教程“https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html”使用docker安装paddle的时候，执行“docker) pull registry.baidubce.com/paddlepaddle/paddle:2.2.2”命令无反应，在dockerhub“https://hub.docker.com/r/paddlepaddle/paddle”上搜索不到paddle镜像，不知什么原
![Snipaste_2022-02-28_21-58-21](https://user-images.githubusercontent.com/24253858/155998462-3900065f-e111-42ac-

[2022-02-28 14:51] zhwesky2010 commented on #39126
https://github.com/PaddlePaddle/Paddle/pull/39662 中进行了修复

[2022-02-28 15:12] nemonameless commented on #39998
您好，可以尝试获取conda install 后显示的下载链接，复制链接用其他方式去下载到whl包，再conda install whl包。

[2022-02-28 15:20] nemonameless commented on #40006
您好，请搜索paddlepaddle。 https://hub.docker.com/r/paddlepaddle/paddle 是这个页面，看你需要具体拉取某个Tag，比如 ```docker pull paddlepaddle/paddle:2.2.2``` 。

[2022-02-28 17:38] Water2style opened #40008 "静态离线量化的FP16量化问题."
您好，
我这里想要在Jetson Nano 上部署量化后模型. Nano没有INT8的ALU，只支持FP16.

目前做法：
把quant_post_static中的量化bit参数改成16. 但是后面看模型里的数值，这是INT16.
请问slim中是否支持FP16的量化呢？

[2022-03-01 01:36] JacksonH333 opened #40009 "RuntimeError: (PreconditionNotMet) Cannot load cudnn shared library. Cannot invoke method cudnnGetVersion."
![Uploading QQ图片20220301093200.png…](
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.

[2022-03-01 03:27] weisy11 commented on #40009
你好，请检查一下cudnn库。

[2022-03-01 03:27] weisy11 commented on #40008
是的，目前不支持。

[2022-03-01 05:00] mingxu1067 opened #40013 "error: stray ‘@’ in programEagerTensor."
**System information**
-PaddlePaddle version: 4fbcf6f4c52adccbc6ea0786b302485f14e5a951
-CPU: including CPUMKL/OpenBlas/MKLDNN version
-GPU: including CUDA 11.6, cuDNN 8.2
-OS Platform and Distribution: Ubuntu 20.04
-Python version: 3.8
**Describe your current behavior**
When we add `@` as part of name in Ops, like
[code]
, it would encounter into a compile error.
**Other info / logs**
[code]

[2022-03-01 05:00] mingxu1067 commented on #40013
@sneaxiy

[2022-03-01 05:10] caiwd commented on #40006
非常感谢您的建议，目前已经顺利解决该问题。

[2022-03-01 05:12] caiwd commented on #40006
补充一下解决方案，供后来者参考：
由于我的linux系统中的docker不是在root用户下操作，导致pull无反应，需要将当前用户添加到docker组，并重启系统。参考该连接：https://zhuanlan.zhihu.com/p/387937931

[2022-03-01 06:20] weisy11 commented on #40013
「@」is a special key word in paddle, please don't use it if you don't know the usage.

[2022-03-01 06:41] minghaoBD commented on #39974
您好，

1. 关于报错，我猜测跟export_model时声明了pruner有关。如果是这么做的，建议在export推理模型时，不加pruner声明，只是导入模型参数即可。如果不是，麻烦提供下复现代码，我具体看一下。
2. 关于使用设备，目前只基于PaddleLite支持arm CPU设备。paddle-inference的话，还没有加速效果。

[2022-03-01 06:45] #29811 closed, assigned to lijianshe02

[2022-03-01 06:45] #30026 closed, assigned to zhiqiu, jiangjiajun

[2022-03-01 06:45] #31070 closed, assigned to Shixiaowei02

[2022-03-01 06:45] heavengate commented on #39973
应该是数据集sample数不能被32整除，最后一个iter的sample数不足32，可以在DataLoader里设置drop_last=True

[2022-03-01 06:45] #31088 closed, assigned to nobody

[2022-03-01 06:45] #31091 closed, assigned to Shixiaowei02

[2022-03-01 06:45] #31094 closed, assigned to lijianshe02

[2022-03-01 06:45] #31096 closed, assigned to lijianshe02

[2022-03-01 06:45] #31106 closed, assigned to lijianshe02

[2022-03-01 06:45] #31120 closed, assigned to lijianshe02

[2022-03-01 06:45] #31129 closed, assigned to lijianshe02

[2022-03-01 06:45] #31137 closed, assigned to bjjwwang

[2022-03-01 06:45] #31145 closed, assigned to bjjwwang

[2022-03-01 06:45] #31147 closed, assigned to bjjwwang

[2022-03-01 06:45] #31153 closed, assigned to bjjwwang

[2022-03-01 06:45] #31156 closed, assigned to bjjwwang

[2022-03-01 06:45] #31166 closed, assigned to hong19860320

[2022-03-01 06:45] #31167 closed, assigned to hong19860320

[2022-03-01 06:45] #31169 closed, assigned to hong19860320

[2022-03-01 06:45] #31170 closed, assigned to hong19860320

[2022-03-01 06:45] #31172 closed, assigned to hong19860320

[2022-03-01 06:45] #31181 closed, assigned to hong19860320

[2022-03-01 06:45] #31194 closed, assigned to hong19860320

[2022-03-01 06:45] #31203 closed, assigned to nobody

[2022-03-01 06:45] #31204 closed, assigned to nobody

[2022-03-01 06:45] #31216 closed, assigned to wangchaochaohu

[2022-03-01 06:45] #31233 closed, assigned to wangchaochaohu

[2022-03-01 06:55] mingxu1067 commented on #40013
The background is that we are helping Paddle to integrate cuBlasLt's epilogue features (see this [PR](https://github.com/PaddlePaddle/Paddle/pull/39437) for details.)
For some reasons, the fwd and bwd Ops do not contain the same computing scope. Therefore, we made bwd op also as a normal op (it is with OpMaker). In this case, we would like to apply `framework::GradVarName` to names of input/output

[2022-03-01 07:31] fujunhao411 opened #40021 "RTX3090 预测慢"
RTX3090显卡在视频预测时fps过低。
（1）Paddle版本为2.2.2
（2）GPU：RTX 3090，CUDA11.2 CUDNN 8.2，完全对应的官方版本，24G显存
（3）系统环境：W10，Python版本：3.8
（4）CPU：I9-10920X
（5）模型：PP-Tracking中的行人检测模型，MOT17.官方预训练模型，并非自己训练的模型。出问题了以后使用的官方模型进行的实测。
（6）预测视频：实时视频流，输入fps为25，模型预测输出fps为8
（7）同样代码、同样模型情况下，2070显卡搭配CUDA10.2，模型预测输出为30+

已调整过的CUDA版本：11.0、11.1、11.2，三者fps分别为：8.05、8.55、8.89
依据官方CUDA版本要求，只支持至11.2，则未进行11.4等更新的版本测试。

预测过程中：GPU使用2.2G，CPU使用8%，并

[2022-03-01 08:25] sneaxiy commented on #40013
@JiabinYang Please have a look.

[2022-03-01 08:57] fujunhao411 commented on #40021
问题补充：
同样代码、同样模型，在1660Ti搭配CUDA10.2上，fps达到22-25。
代码采用的均为官方实例代码，并未进行改动。
需要专业人士讲解是否是 Paddle对30系显卡的支持性有些许的问题。
后续将进行CUDA11.3、11.4等高版本测试，按官方说明Paddle最高支持版本为11.2，所以不清楚是否能够顺利运行。

[2022-03-01 09:05] #39973 closed, assigned to heavengate, nemonameless

[2022-03-01 09:06] #39974 closed, assigned to nemonameless

[2022-03-01 09:07] #39998 closed, assigned to nobody

[2022-03-01 09:08] #40006 closed, assigned to nemonameless

[2022-03-01 09:32] weisy11 commented on #40021
你好，PP-Tracking系列模型使用的问题请在PaddleDetection咨询，会有专门负责同学解答，谢谢。
https://github.com/PaddlePaddle/PaddleDetection

[2022-03-01 09:34] surfola commented on #39998
感谢回复！在这里找到了，记录一下：https://anaconda.org/Paddle/paddlepaddle-gpu/files

[2022-03-01 09:54] fujunhao411 commented on #40021
那请问，Paddle对CUDA11.4的支持性如何？是否支持11.2以上高版本CUDA

[2022-03-01 09:54] fujunhao411 commented on #40021
那请问，Paddle对CUDA11.4的支持性如何？是否支持11.2以上高版本CUDA

[2022-03-01 09:55] weisy11 commented on #40021
目前暂没有官方支持的发布版本。

[2022-03-01 09:56] fujunhao411 commented on #40021
自行编译的版本是否支持？

[2022-03-01 10:16] zlsh80826 opened #40030 "test_cudnn_norm_conv failed on P100"
- 标题：test_cudnn_norm_conv failed on P100
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
[code]
- 复现信息：如为报错，请给出复现环境、复现步骤

[code]

建立 Dockerfile 後, 運行以下命令複現問題
[code]

报错日志:
[code]

- 问题描述：请详细描述您的问题
`cudnn_norm_conv` [不支援 sm_70 以下架構](https://github.com/PaddlePaddle/P

[2022-03-01 11:33] xingjing1 commented on #40030
@ZzSean

[2022-03-01 12:28] weisy11 commented on #40021
我们没有测试过。

[2022-03-01 12:30] weisy11 commented on #40030
你好，请问安装cudnn了吗？看到你给的信息里面版本号是None。如果没有安装的话请安装一下cudnn，再测试cudnn的相关算子。

[2022-03-01 13:09] ZzSean commented on #40030
您好，已经收到您的问题，后续会提交PR进行修复，谢谢！

[2022-03-02 02:48] docoter commented on #34211
Tensor(要修改梯度的数据).grad.set_value(Tensor(要赋予的值))

[2022-03-02 02:50] #36184 closed, assigned to nobody

[2022-03-02 03:27] Wong4j opened #40057 ""paddle.summary" counts the number of parameters incorrectly"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that there was a similar issue submitted or resolved before.
If there is no solution,please provide us with the following details :
**System information**
-PaddlePaddle version: v2.2
-CPU: None
-GPU: V100 CUDA11.4
-OS Platform: Ubuntu 20.04
-Python version: 3.8
Note: You can get mo

[2022-03-02 03:29] #39637 closed, assigned to pangyoki

[2022-03-02 05:04] xingjing1 commented on #40057
@LielinJiang

[2022-03-02 05:14] zlsh80826 commented on #39922
感謝 @heavengate 的幫忙, 不過仍缺少以下文件
* 缺少 `INFERENCE_DEMO_INSTALL_DIR` 底下相關推理模型, 例如https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tests/api/CMakeLists.txt, https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/tests/test.cmake
* 缺少 `bert-base-chinese` [test_faster_tokenizer_op.py](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/test

[2022-03-02 06:39] AbbottKilig commented on #39929
运行paddlespecch语音识别的时候，出现这个错误

[2022-03-02 08:10] qiuming-93 opened #40066 "网络中使用Pad2D层时导出推理模型时报错"
- 标题：网络中使用Pad2D层时导出推理模型时报错
- 版本、环境信息：
    1）PaddlePaddle版本：2.1
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：cuda10.1
    4）系统环境：python3.6
在网络构建时使用了如下的Pad2D层
nn.Pad2D(padding=[1, 1, 1, 1], mode='reflect')
在导出模型时出现报错
 File "/root/anaconda3/envs/paddle_2.1.2_gpu/lib/python3.6/site-packages/paddle/fluid/dygraph/layers.py", line 902, in __call__
	outputs = self.forward(*inputs, **kwargs)

[2022-03-02 08:49] qiuming-93 commented on #40066
找到问题了，是自己在Pad2D之前的网络层定义的时候有个参数out，out参数设置了默认为false,为true时将会返回一个tuple，保护两个值，可能和导出的参数有冲突，导致该参数变成了true，出现了该问题

[2022-03-02 08:49] #40066 closed, assigned to gongel

[2022-03-02 08:51] #40008 closed, assigned to weisy11

[2022-03-02 08:57] zgq91 opened #40075 "为什么paddle.nn中的类不同通过mmcv中Registry类实例化"
paddle2.2中 通过mmcv中Registry注册实例化nn.BatchNorm2d时，会报错AttributeError: module 'paddle.nn' has no attribute 'BatchNorm2d'

[2022-03-02 09:01] ZHUI commented on #39929
可否提供相关代码？

[2022-03-02 09:48] #39219 closed, assigned to FeixLiu, ronny1996

[2022-03-02 10:15] GT-ZhangAcer commented on #39825
0维Tensor在EinOps这个开源项目中也有需求，项目作者也期待咱们框架可以尽早支持0维Tensor~

[2022-03-02 10:59] #39451 closed, assigned to yaoxuefeng6

[2022-03-02 11:03] #39466 closed, assigned to iclementine

[2022-03-02 11:21] littletomatodonkey commented on #39794
高级版（16GB显存）部分机器是由32GB的机器虚拟化的，可能会影响性能，建议在至尊版中进行测试。

此外，测试时，为了进一步体现静态图的速度优势，可以尝试增加模型的节点数测试哈

我这边测试下面的结果为

<img width="518" alt="085c726b201cd94d59a170c0c9a27893" src="https://user-images.githubusercontent.com/14270174/156352234-3369d9e3-901b-4496-8468-ded1db4497f6.png">

[code]

[2022-03-02 11:32] #39742 closed, assigned to haozech

[2022-03-02 11:34] #39753 closed, assigned to qili93

[2022-03-02 11:41] #39866 closed, assigned to littletomatodonkey

[2022-03-02 11:43] haozech commented on #39741
您好，从代码上看您使用的是训练端搭建的网络结构，然后运行了前向计算。这时一般不会进行算子融合。您可以通过save_inference_model将其转化为推理模型，然后参考此文档 https://paddleinference.paddlepaddle.org.cn/api_reference/cxx_api_doc/Config/OptimConfig.html#ir 通过SwitchIrDebug接口输出图优化之后的图整体结构，通过GraphVis查看dot文件来查看优化后图结构。

[2022-03-02 11:56] linjieccc commented on #39004
您好，应该是对paddlepaddle版本进行了手动升级导致的AIStudio环境cuda版本过低的问题。我们对该AIStudio项目进行了升级，您可以用最新版本再运行下哈，有问题随时反馈，谢谢

[2022-03-02 12:06] zcuuu commented on #39741
非常感谢您的回复， 您给的链接会进行学习
此外：
确实，这是训练端搭建网络的前向，那么如果这是一个完整的训练过程，请问他会进行算子融合嘛

[2022-03-02 14:59] pmajchrzak opened #40094 "Build ERROR after Upgrade new profiler"
Commit 0c3f7fbcfe68bfb34b0ed5d9aad6e3a8c0cca43f caused build error, reproduced on several machines (SKX, CLX, CPX)

### CMAKE Flags:
``
-DCMAKE_BUILD_TYPE=Release -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DWITH_TESTING=ON -DWITH_PROFILER=OFF -DWITH_STYLE_CHECK=OFF -DON_INFER=ON -DWITH_INFERENCE_API_TEST=ON -DINFERENCE_DEMO_INSTALL_DIR=/data/PaddlePaddle/pp_models -DPY_VERSION=3.6
``
### Environment
[code]

[2022-03-02 15:01] Renxg150 opened #40095 "老师您好，Model的evaluate接口，batch_size的大小不同，输出的acc也不同，请问是什么原因"
aistudio地址：https://aistudio.baidu.com/aistudio/projectdetail/3524260?contributionType=1
代码片段1：

`# 用 evaluate 在测试集上对模型进行验证

eval_result = model.evaluate(test_dataset,batch_size=391, verbose=1)`

输出：

`Eval begin...

step 1/1 [==============================] - loss: 3.0728 - acc: 0.5857 - 14ms/step

Eval samples: 391`

代码片段2：

`# 用 evaluate 在测试集上对模型进行验证

eval_result = model.evaluate(test_dataset, v

[2022-03-02 15:44] hl123-123 opened #40098 "找不到动态图的gradients,我为了实现stylegan2的梯度惩罚于是要得到某一步的梯度"
但是目前我只找到了paddle.static.gradients这个函数，无法找到动态图返回梯度的函数，求解

[2022-03-02 15:46] hl123-123 commented on #40098
paddle2最新版吧，我直接import paddle的

[2022-03-02 16:22] skywalk163 commented on #39794
我这边测试了一下，需要线性层增加到20以上效果比较显著，于是在动手学深度学习的飞桨版本里，我将线性层的列表部分设定为 42个线性层。效果不错。

[code]

[2022-03-02 16:22] #39794 closed, assigned to windstamp

[2022-03-02 16:31] betterlmy commented on #38379
用这个命令安装x86版本的python才能安装paddle 害
CONDA_SUBDIR=osx-64 conda create -n pd_rosetta_env python=3.9

[2022-03-02 16:37] betterlmy commented on #38379
我对比了pytorch同一代码在不同架构下的执行时间，
在x86架构下 时间是45秒
<img width="575" alt="image" src="https://user-images.githubusercontent.com/44780287/156405966-cc2732f6-0ce4-4899-a8ca-a7271249f571.png">
在ARM架构下 时间是5秒
<img width="578" alt="image" src="https://user-images.githubusercontent.com/44780287/156406110-8a8ef9f6-f72f-462a-a8c5-2f153824c331.png">
差别很明显。还是尽快适配吧
代码
[code]

[2022-03-03 00:57] Yanxing-Shi commented on #39322
@jyjfjyjf 正在排查原因，解决后给您回复～

[2022-03-03 01:54] baoachun commented on #40094
Hi @rainyfly Could you please locate the cause and fix it?

[2022-03-03 02:20] AceGuoX opened #40103 "ValueError: label should not out of bound, but gotTensor(shape=[1], dtype=int64, place=CUDAPlace(0), stop_gradient=True, [29]"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.2.post101
    4）系统环境：aistudio
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训练信息
    1）单机，单卡
    2）15.8

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
/tmp/ipykernel_653/2397052834.py in <module

[2022-03-03 02:27] #37393 closed, assigned to gongweibao

[2022-03-03 02:28] gongel commented on #40075
能提供一下代码吗？

[2022-03-03 02:29] gongel commented on #40103
check下 构建数据集时的标签范围

[2022-03-03 02:31] gongel commented on #40098
试下`tensor.grad`

[2022-03-03 02:49] AceGuoX commented on #40103
def&nbsp;get_data(dirpath):
&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;获取所有文件并进行标记
&nbsp;&nbsp;&nbsp;&nbsp;all_list&nbsp;=&nbsp;[]
&nbsp;&nbsp;&nbsp;&nbsp;val_list&nbsp;=&nbsp;[]
&nbsp;&nbsp;&nbsp;&nbsp;num_data_lenth&nbsp;=&nbsp;0&nbsp;&nbsp;#&nbsp;标记总文件数量
&nbsp;&nbsp;&nbsp;&nbsp;all_list_lenth&nbsp;=&nbsp;0&nbsp;&nbsp;#&nbsp;标记文件类别
&nbsp;&nbsp;&nbsp;&nbsp;val_list_lenth&nbsp;=&nbsp;0
&nbsp;&nbsp;&nbsp;&nbsp

[2022-03-03 02:55] zhiqiu commented on #39881
（2）在反向中加上和前向一样的with auto_cast(enable=true)，可以参考下面的示例修改下：
[code]

[2022-03-03 02:58] haozech commented on #39741
默认情况下，训练端一般不会进行算子融合

[2022-03-03 03:05] gongel commented on #40095
官方给个例子没有问题哈，你可以运行看看，然后check一下你自己的程序。https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Model_cn.html#evaluate-eval-data-batch-size-1-log-freq-10-verbose-2-num-workers-0-callbacks-none

[2022-03-03 03:07] phoenixsfly opened #40106 "paddle Tensor高级索引访问出错"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：2.2
2）CPU/GPU：ALL
3）系统环境：Linux/Windows

---
- 问题1：
例如我需要访问tensor中第3行和第0行中第1至3列的数据，在numpy/pytorch中可以这么写：
[code]
但是在paddle中会出错：
[code]
换句话说paddle不支持列表索引和切片索引的混合使用进行访问/赋值，但这在numpy和pytorch中都是支持的，

- 建议描述：
  该需求非常常见，希望能够得到支持

[2022-03-03 03:19] minghaoBD commented on #40106
谢谢您的反馈！

我们已经记录下您的建议，后续会及时更新进展到这里～

[2022-03-03 03:31] AceGuoX commented on #40103
共有29个种类，标签有29个，分别1~29
没找到问题在哪

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月3日(星期四) 上午10:29
***@***.***&gt;;
***@***.******@***.

[2022-03-03 04:00] TCChenlong opened #40109 "【飞桨体验评测任务第二期】"
### **一、背景介绍**
2022年飞桨将重点开展开发者**生态贡献机制**，建立开发者与飞桨的多样化联动，共同打造优秀的开源生态。在今年1月，我们开展了第一次评估，重点放在了API文档与目录大纲评测以及安装文档与报错评测，共收集到反馈 **210+条**，为相关产品的优化提供了**重要的信息输入**。为了进一步提升飞桨框架的使用体验，我们诚挚的邀请你参与到第二期体验评估中，这次主要是**飞桨训练框架文档评估**与**Paddle Lite 的文档评估**，并且和我们一起共建飞桨框架，后续会陆续安排其他产品模块的体验评测，希望大家持续关注。

### **二、参与流程**
![image](https://user-images.githubusercontent.com/65896652/148876284-0744c7ea-788f-42b2-a4c0-5d9f34a42d3f.p

[2022-03-03 04:56] hermitgreen opened #40110 "ERROR while assign topk in paddle.metric.Accuracy"
2.2.2.post112 Python3.8 CentOS7

sample:
[code]

got

[code]

[2022-03-03 05:04] hermitgreen commented on #40110
In source code I found
[code]

It seems int is unwork

[code]

[2022-03-03 05:14] minghaoBD commented on #40110
You may consider this API for instant fix on your side: paddle.metric.accuracy() https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/metric/accuracy_cn.html#accuracy

btw, as for Accuracy(), it seems inconsistent for the documentation and source code. We will dig into it.

[2022-03-03 06:53] phoenixsfly commented on #39825
啥时候会支持0维tensor有具体消息吗？感觉这个太重要了...

[2022-03-03 07:11] GT-ZhangAcer commented on #40095
咱们高层API在输出评估指标的时候，是输出瞬时指标还是平均指标呢？感觉换成平均指标会好一点，瞬时的偶然程度有点大，很容易影响到开发者做判断~

[2022-03-03 07:16] zgq91 commented on #40075
from mmcv.utils import Registry

NORM_LAYERS = Registry('norm layer')
NORM_LAYERS.register_module('BN2d', module=nn.BatchNorm2d)

[2022-03-03 07:16] GT-ZhangAcer commented on #39825
我这边对这方面认知有些生疏，可以说说有哪些应用场景吗？如果能有个比较常见的场景或者玩法，我也好去催一下他们（哈哈哈）

[2022-03-03 07:50] xiulianzw opened #40120 "paddlepaddle2.2.2检测安装是否成功paddle.utils.run_check()的时候一直卡住(超过20分钟)"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu          2.2.2.post112
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA11.2和CUDNN8.1.1
    4）系统环境：Ubuntu16.04

- 安装方式信息：
1）pip安装
    
  特殊环境请注明：如离线安装等
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：

[2022-03-03 08:00] minghaoBD commented on #40120
可以参照相似问题尝试一下：
https://github.com/PaddlePaddle/Paddle/issues/39256
https://github.com/PaddlePaddle/Paddle/issues/39154
https://github.com/PaddlePaddle/Paddle/issues/38934

[2022-03-03 08:01] xiulianzw commented on #40120
发现问题，因为我的服务器上有两张显卡，GPU0是RTX 3090，GPU1是RTX 2070 super，如果我在终端使用export CUDA_VISIBLE_DEVICES=1，然后再去检查很快就能出结果，如果使用的是0的话就会一直卡住。RTX 3090在cuda11以上应该是可以使用的？

[2022-03-03 08:01] yqsoooo opened #40123 "昆仑R200在ubuntu1804操作系统下，可以安装paddle环境吗？"
RT ，
![image](https://user-images.githubusercontent.com/15975613/156522302-1076569c-eb18-4b02-bc62-004edd7d3740.png)

[2022-03-03 08:01] #40098 closed, assigned to gongel

[2022-03-03 08:10] phoenixsfly commented on #39825
我举一个简单的场景，现在有2个tensor，我希望将它们的首元素合并为一个tensor，按照正常思维，合并得到的元素应该是一个shape为(2,)的**1阶tensor**对吧
[code]
但是得到的结果却是一个shape为(2,1)的**2阶tensor**
[code]
那么为了得到预期结果，我不得不对输出再进行一次reshape。
但这还没完，更要命的是假如x，y含有Batch维度，也即：
[code]
得到的结果是也一个shape为(2,1)的**2阶tensor**，那么这个时候就会和上面引起严重歧义，不得不增加很多代码来判断此时到底应不应该reshape

[2022-03-03 08:43] JiabinYang commented on #40013
Sorry this problem is caused by some auto code gene issue, and we are trying to use `@` to split forward var and grad var. However, this can be changed by 3.31

[2022-03-03 09:28] x54-729 opened #40127 "Dataloader报错后会卡死"
您好，我今天在使用PaddlePaddle进行初步的训练的时候有两个问题：
1. 第一个是对于教程中给出的MNIST训练样例，使用paddle.vision.datasets.MNIST(mode='train')获取数据集后执行如下代码：
[code]
因为是错误的用法，因此程序会因为数据类型不对报错，但之后程序会卡死，按ctrl C也无法退出，只能强行kill掉；请问这个问题应该怎么解决？
2. 第二个问题是针对PaddlePaddle对反向传播处理的情况，请问PaddlePaddle是只有在张量进行了计算的情况话才会计算梯度吗？比如下面的代码，单独对张量x进行反向传播，其梯度为None，而进行计算后其梯度则是存在的；这一点因为和pytorch不太一样，所以想询问一下张量梯度为None的条件
[code]
麻烦各位老师了！

[2022-03-03 09:35] xiulianzw commented on #40120
解决了，安装cuda11.1的，别安装cuda11.2

[2022-03-03 09:43] imxly2 opened #40130 "多卡训练怎么处理单个超大文件，使用IterableDataset？"
有一个很大的文本文件，不能全部加载到内润例。
现在有一个建简单的实现方式， 根据local__rank取对应的行。
请问有更好的方法吗？
[code]

[2022-03-03 09:46] MissPenguin commented on #40075
mmcv是torch的呀

[2022-03-03 09:59] rainyfly commented on #40094
Hello, we noticed this warning, and fix it in https://github.com/PaddlePaddle/Paddle/pull/40133/, you can pull this pr and try again.

[2022-03-03 09:59] Renxg150 commented on #40095
老师您好，我学习了您提供的api文档，想问一下model.evaluate中的batch_size的值和输出的正确率以及loss有什么联系，万分感谢。

[2022-03-03 10:01] Renxg150 commented on #40095
老师您好，我学习了您提供的api文档，想问一下model.evaluate中的batch_size的值和输出的正确率以及loss有什么联系，万分感谢。

[2022-03-03 10:04] Renxg150 commented on #40095
老师您好，感谢您的回复，请问您说的瞬时指标和平均指标是什么含义，十分期待您的点拨，万分感谢。

[2022-03-03 10:30] minghaoBD commented on #40123
您好，看官网是没有ubuntu环境的whl包的，具体原因我们内部查一下，有进展及时反馈～

[2022-03-03 10:55] minghaoBD commented on #40130
没有其他更好的方式了，这种方式是可行的～

[2022-03-03 10:59] BeyondYourself opened #40135 "TypeError: can't pickle paddle.fluid.core_avx.PaddleInferPredictor objects"
在本地多进程预测服务的时候出现：
`TypeError: can't pickle paddle.fluid.core_avx.PaddleInferPredictor objects`

paddle版本为2.2.1版本
windows环境。
使用的是multiprocess进行预测
求助大家解决一下问题

[2022-03-03 11:46] minghaoBD commented on #40127
您好：

问题1正确的做法是可以终止的，加一个backend='cv2'即可，我试过了中间ctrl-C可以立刻终止。

关于问题2，请问您是有什么需求吗？
1. 一个tensor不经过计算，直接拿出他的梯度，这种场景不是特别多的常见呢。
2. 如果有具体的需求，可以描述一下，我们跟进解决下哈～

[2022-03-03 12:38] minghaoBD commented on #40103
听起来感觉把[1, 29]改成[0, 28]即可，不然这个判断不能满足（https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/functional/loss.py#L1672 ）。

如果还有问题，麻烦提供一个复现代码，谢谢～

[2022-03-03 12:52] Rookie619 opened #40142 "paddlepaddle所要的numpy版本与imageio所要的numpy版本冲突了怎么办？"
paddlepaddle 2.2.0 requires numpy<=1.19.3,>=1.13;
imageio 2.4.0需要numpy大于1.20.0;
该怎么办？
安装顺序都试过了，还不行。

[2022-03-03 12:58] AceGuoX commented on #40135
已解决，问题出在数据集的标签上，我的29分类数据集标签是1~29，将标签改为0~28，问题就解决了

[2022-03-03 12:59] AceGuoX commented on #40135
已解决，问题出在数据集的标签上，我的29分类数据集标签是1到29，将标签改为0到28，问题就解决了

[2022-03-03 13:07] AceGuoX commented on #40103
已解决，谢谢

[2022-03-03 13:36] phoenixsfly opened #40145 "paddle.vision.ops.yolo_loss返回值和文档描述完全不同"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2

这是
[paddle.vision.ops.yolo_loss](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/ops/yolo_loss_cn.html)函数的文档链接，该函数运算通过给定的预测结果和真实框计算yolov3损失。

这是文档的代码示例：
[code]
直接运行的结果：
[code]

我猜测是文档有问题，返回的是一个元组，该元组的第一个元素是损失函数值。
但问题是元素后几个元素代表什么意思呢？

[2022-03-03 13:43] SmileJayjhx commented on #31243
应该是他最后的编译路径
![image](https://user-images.githubusercontent.com/57667509/156576480-bbb416e9-fe2c-4e26-8183-ab70507393d3.png)
左右斜杠同时存在
看最后两行

[2022-03-03 14:18] TTgogogo commented on #32167
找到解决方法了吗？

[2022-03-03 14:40] TTgogogo commented on #32167
找到方法了吗？

[2022-03-04 00:45] Renxg150 commented on #40095
飞桨的老师们好，给老师们反馈一下前几天我遇到的问题，正确率随着batch_size的大小改变那个问题现在已经解决。原因是我在模型里使用了paddle.static.nn.batch_norm，应该使用paddle.nn.BatchNorm，这样就会锁定这个层的均值和方差了。感谢老师们的帮助。

[2022-03-04 01:13] zgq91 commented on #40075
我知道呀，但它注册类是python代码，不包含torch，它只是通过注册的方式来实例化对象

[2022-03-04 02:00] yghstill commented on #40145
@phoenixsfly 根据源码，计算结果返回三个Tensor：https://github.com/PaddlePaddle/Paddle/blob/release/2.2/python/paddle/vision/ops.py#L243-L247

感谢指正，我们修复下文档

[2022-03-04 02:34] b3602sss commented on #40135
请提供一下单测代码谢谢

[2022-03-04 03:10] gongel commented on #40075
Hi, 可以去mmcv那边提个issue看看吗？

[2022-03-04 03:14] yqsoooo commented on #40123
在线等  挺急的

[2022-03-04 04:23] minghaoBD commented on #40142
您好

如果一定要用imageio==2.4.0版本要求numpy>1.20.0的话，可以用develop版本的paddle，已经去掉了numpy版本上限的约束（https://github.com/PaddlePaddle/Paddle/blob/develop/python/requirements.txt#L2 ）

对应安装教程：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/windows-pip.html

[2022-03-04 05:50] Nepths opened #40155 "ubuntu源码编译paddle报错：”Unsupported gpu architecture 'compute_86“"
采用的是docker编译
docker镜像为：paddlepaddle/paddle:latest-dev-cuda11.0-cudnn8-gcc82
paddle版本为：release 2.2
主机上的cuda版本为11.6
GPU型号为：RTX3070
设置了环境变量：export CUDA_ARCH_NAME=Ampere
cmake命令为： cmake .. -DPY_VERSION=3.7 -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DWITH_MKL=OFF
make命令为： make TARGET=NEHALEM -j$(nproc)  (加TARGET=NEHALEM是为了解决OpenBlas的问题)

报错信息：
![image](https://user-images.githubuserco

[2022-03-04 06:12] zgq91 opened #40157 "paddle inference gpu版本设置成cpu运行会出错"
paddle inference版本windows: cuda11.0_cudnn8.0_avx_mkl_trt7；跑gpu时没问题但在跑cpu时 predict->run()会报以下错误。

WARNING: Logging before InitGoogleLogging() is written to STDERR
I0304 14:11:58.563257 28276 analysis_predictor.cc:644] MKLDNN is enabled
e[1me[35m--- Running analysis [ir_graph_build_pass]e[0m
e[1me[35m--- Running analysis [ir_graph_clean_pass]e[0m
e[1me[35m--- Running analysis [ir_analysis_pass]e[0m

[2022-03-04 06:19] lyuwenyu commented on #40155
看错误是nvcc的问题 ，  你使用的的cuda的版本是多少，建议使用11+以上的

[2022-03-04 06:32] #40103 closed, assigned to minghaoBD

[2022-03-04 06:42] #40142 closed, assigned to minghaoBD

[2022-03-04 06:48] minghaoBD commented on #40127
@x54-729 请问关于iterabledataset您还有什么建议吗？

[2022-03-04 06:51] qwerfdg opened #40161 "paddlefl安全多方计算框架调用paddle方法定义算子的问题"
您好，我在使用paddlefl框架时遇到了如下问题：
    下面的乘法代码运行时，首先第一步定义比较算子，然后不进行任何运算，再定义乘法算子，进行乘法运算时返回结果为空，看源代码发现在定义算子的时候调用了paddle目录下https://github.com/PaddlePaddle/Paddle/blob/v1.8.5/python/paddle/fluid/framework.py#L2574的append_op函数，每定义一个算子都要append，感觉可能是比较算子append后没有delete，干扰了乘法算子的运算。我尝试了在定义下一个算子的时候用列表操作del把前面定义的算子的删掉，但是不太行。
    下面代码运行时会报如下错误，当我注释掉“op_ge = pfl_mpc.layers.greater_equal(x=x, y=y)”这一行代码时，乘法可以正常运行。我的理解是

[2022-03-04 06:57] nemonameless commented on #39998
https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html 这里也有~

[2022-03-04 07:31] jim19930609 commented on #40021
你好，我们这边目前怀疑是GPU架构的问题。

Paddle目前CUDA11.x的发布包，里面编译的GPU架构为sm_80，而RTX3090对应的是sm_86。虽然CUDA的架构兼容性允许我们拿80架构的代码在86上跑，但是性能会有问题。

我们应该月底会发布2.3rc版本的发布包，里面会编入sm_86架构，应该可以解决你的问题。如果到时候性能提升依然不能满足要求，我们会进一步往里分析。

[2022-03-04 07:38] lyuwenyu commented on #40161
你好是在这里嘛？https://github.com/PaddlePaddle/PaddleFL  直接使用动态图可以嘛
建议也在这里 https://github.com/PaddlePaddle/PaddleFL/issues 提一个issue

[2022-03-04 07:38] adaxiadaxi commented on #40123
@yqsoooo 请问您的python版本是多少呢，我们有x86+linux+kl的whl包

[2022-03-04 07:47] baoachun commented on #40157
您好，已收到问题，请问可以共享下你的模型吗？

[2022-03-04 08:32] zgq91 commented on #40157
链接: https://pan.baidu.com/s/1gbJ-qILqQLCWKWXtjR4T0g 提取码: ckty 复制这段内容后打开百度网盘手机App，操作更方便哦
--来自百度网盘超级会员v1的分享

已经放在百度网盘中了

[2022-03-04 08:46] fujunhao411 commented on #40021
您好，那能麻烦问下RTX3060对应的sm值是多少么

[2022-03-04 08:47] ZzSean commented on #40030
#40166

[2022-03-04 09:48] yqsoooo commented on #40123
python 版本我可以根据需要修改 我会安装一个2.6 和3.7

[2022-03-04 10:28] adaxiadaxi commented on #40123
@yqsoooo 您好，我是飞桨和kl2适配的负责产品经理，目前我们有ubuntu+x86+昆仑k100上的whl包，针对r200和飞桨的适配工作还在进行，预计3月底会在2.3rc版本发包。如果有需要您可以加我微信：15704308458 我们详细对对您的诉求，以及看看我们怎么支持您这边

[2022-03-04 11:31] hl123-123 opened #40176 "啥时候增加一下最近邻插值算子的二阶导算子，paddle"
[code]
![image](https://user-images.githubusercontent.com/75974455/156755932-34bba173-1106-4a6c-b06a-b7a970975b40.png)

[2022-03-05 12:05] yanglilongss opened #40189 "求aarch64的paddlepaddle的python3.7版本的whl安装包，官方的自己编译的方法试了几次都失败了，求一个现成的安装包，安装在jetson系列的板子上"

[2022-03-05 14:41] LD826578513 opened #40190 "AIstudio使用GPU报错？？"
在使用AIstudio训练时报错，求解答

[2022-03-05 14:41] LD826578513 commented on #40190
![MWBX84 OSM0(M9HV 04X_ O](https://user-images.githubusercontent.com/61733463/156888088-17c023a1-d062-4a92-8c22-7c1517881946.png)

[2022-03-06 02:50] QWERZPY opened #40192 "执行exe.run报错Cublas error, CUBLAS_STATUS_EXECUTION_FAILED"
paddlepaddle-gpu1.8.3post107 （paddlepaddle-gpu版本为1.5.0,1.5.1,1.8.0时也会有这个错误）
cuda10.1 cudnn7.6
python3.7

复现：https://github.com/PaddlePaddle/Research/tree/master/KG/ACL2021_GRAN
问题：执行到exe.run时会出现如下错误：
Traceback (most recent call last):
  File "./src/run.py", line 472, in <module>
    main(args)
  File "./src/run.py", line 365, in main
    outputs = train_exe.run(fetch_list=fetch_list)
  File "/data

[2022-03-06 05:10] xu-peng-7 opened #40194 "如何将cpu的模型放到GPU上运行，即：model.cuda()"
paddle.vision.models  调用的模型，默认是在cpu上运行，速度很慢

[2022-03-06 06:42] qwerfdg commented on #40161
您好，我在这里https://github.com/PaddlePaddle/PaddleFL/issues/249也进行了提问。动态图我没有使用过，不太清楚是什么，我研究一下看看，谢谢您的建议！

[2022-03-06 08:56] zh794390558 commented on #40192
repo相关问题建议去对应repo提问，https://github.com/PaddlePaddle/Research
参考repo的安装信息，建议按如下配置使用。看你的配置和他差异比较大。
[code]

问题和 https://github.com/PaddlePaddle/PGL/issues/259 相似，麻烦也参考下。
应该是环境问题，建议使用docker。

[2022-03-06 09:01] zh794390558 commented on #40194
运行程序前调用 paddle.set_device('gpu')来设置默认使用GPU。

https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/device/set_device_cn.html#set-device

[2022-03-07 01:37] minghaoBD commented on #40130
@imxly2 请问关于iterabledataset您还有什么建议吗？

[2022-03-07 01:38] liudonghua123 commented on #39536
@breakerqq @wangxicoding 那 python 3.10 支持什么时候可以完成呢，python 3.10 已经发布很长时间了，社区里面的很多库，例如 tensorflow pytorch 等都已经支持了

[2022-03-07 01:50] mingxu1067 commented on #40013
@JiabinYang Thanks for reply. When would 3.31 be released (merged into develop branch)?

[2022-03-07 02:49] zhangyimi opened #40203 "如何实现基于梯度的二次求导"
![image](https://user-images.githubusercontent.com/20926735/156958879-615ff8d4-a3b2-4526-a03c-4c250cc4431c.png)
请问loss公式中项2的right reasons该如何实现？（公式中项1为正常分类loss）
说明：N表示batch大小， D表示输入的维度，K表示输出的维度。A表示mask矩阵，值为0或1。
**即基于输出对输入求导，然后对梯度求和，并将结果加入到loss中二次求导。**

[2022-03-07 03:29] zhiboniu commented on #40203
你好，如果求导部分是公式可推导的话可以自己推一下加上，基于导数再次进行自动求导目前应该是支持不了的。
请问一下该应用具体来源是哪里？我们会慎重考虑的

[2022-03-07 06:04] yuwoyizhan opened #40209 "希望增加swint模块,像conv2D一样"
https://aistudio.baidu.com/aistudio/projectdetail/3288357?channelType=0&channel=0
这个网址里面的项目,我觉得很不错.希望你们可以增加swint模块接口,类似conv2D,谢谢.
transformer现在应用和学术都越来越多了,很多困难也在逐步解决,swint模型目前在clas套件中,是图像分类SOTA模型,无论是top1还是top5.
希望可以像conv2D一样,在paddle中增加swint接口,简单可调用,优化性能,拜托了.这个项目里面实现了swint模块,但是不是飞桨接口,而且我相信飞桨高手可以对该模块做出很多优化.swint对于全局特征学习,很有帮助,这是很多CNN无法做到的.

[2022-03-07 06:11] JiaoPaner opened #40210 "已将third_party全部改为国内源编译paddle,解决编译时无法访问github的问题"
镜像地址: git clone -b build_cn https://gitee.com/jiaopan/Paddle.git
update 2022-05-19:
https://www.zhihu.com/question/533388365 gitee也不润了.
**目前的方案**
无法访问的仓库 手动下载 push到自建仓库 cmake/external里的.cmake改为自建仓库的地址

[2022-03-07 06:24] HeQinWill opened #40211 "check array dimension before calculating loss"
第二组实验中 a 多了一个维度，在计算 MSE 时 paddle.substract 会启动广播机制，从而 a、b 维度都会变为 (2, 2, 2)  再做后续计算，建议计算 loss 前增加数组维度的检查并给出提醒

- 正常情况 （output 和 label 的维度一致）
[code]
- 若 label 多了一个维度，程序又不报 warning，可能用户没注意会让 loss 无法正确 backward
[code]
- PyTorch 中解决方案
[code]

[2022-03-07 06:26] liudonghua123 opened #40212 "更新工具链及依赖，提供Python 3.10以及VS 2019+的支持"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：2.2.2
2）CPU/GPU：CPU
3）系统环境：Windows 11
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。

[code]
希望可以提供Python3.10的支持，Python 3.10已经发布很长一段时间了，社区里的很多包都已经支持了，我也尝试很多方式都不行，本地根据 https://www.paddlepaddle.org.cn/documentation/docs/en/install/compile/windows-co

[2022-03-07 06:50] zhiboniu commented on #40209
非常感谢您的宝贵意见，这对我们很有价值，我们会在需求中认真考虑该问题。

[2022-03-07 06:53] zhiboniu commented on #40210
很优秀的工作，非常感谢为Paddle做出的贡献，也期待能够持续合作！谢谢！

[2022-03-07 06:56] yuwoyizhan commented on #40212
同求,支持最新版本的python和各种包,比如numpy等.支持VS2022.

[2022-03-07 06:58] zhiboniu commented on #40212
非常感谢您的宝贵意见，我们会认真考虑该功能。版本的拓展是一个持续的过程，请耐心保持关注。

[2022-03-07 07:01] zhiboniu commented on #40211
感谢反馈，经内部讨论，我们认为在 label 多了一个维度的情况下报 error 是合理的，且 paddle 的提示更简洁易懂~
欢迎后续继续为我们报体验上的问题和bug，我们也会及时同步讨论结果

[2022-03-07 07:24] Irvingao opened #40215 "【Conda Install paddlepaddle-gpu Error】ImportError: paddle/fluid/core_avx.so: undefined symbol: _dl_sym, version GLIBC_PRIVATE"
- 版本、环境信息：

    1）PaddlePaddle版本：
`paddlepaddle-gpu==2.2.2  cudatoolkit=11.2`

    2）CPU：
[code]
    3）GPU：
[code]
The cudnn which I installed supports cuda version 11.1, 11.2 and 11.3.
    4）系统环境：
[code]

- 安装方式信息：
1）Using conda to install: `conda install paddlepaddle-gpu==2.2.2 cudatoolkit=11.2 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge`

[code]

[2022-03-07 07:30] Wong4j opened #40216 "In AMP training, eval prog use FP32 instead of FP16"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that there was a similar issue submitted or resolved before.
If there is no solution,please make sure that this is a training issue including the following details:
**System information**
-PaddlePaddle version: v2.2
-CPU: None
-GPU: V100 CUDA11.4
-OS Platform: Ubuntu 20.04
-Other i

[2022-03-07 07:36] Irvingao commented on #40215
I got the same error when I install paddlepaddle cpu version. As a consequence, are there some related dependences lost or missing?

- Download cpu version:

`
conda install paddlepaddle==2.2.2 --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/`

- Error report:
[code]

[2022-03-07 07:45] Irvingao commented on #40215
I have installed gcc-5 a few days ago, the version info as follow:
[code]

[2022-03-07 07:45] rose-jinyang opened #40217 "A bug in module for GPU"
Hello
How are you?
Thanks for contributing to this project.
I found a bug in module for GPU.

The script that I ran is the  following:

import paddle
import paddle.nn.functional as F

a = paddle.randint(0, 10, (4, 4))
b = F.one_hot(a, 5)
print(a)
print(b)

The above script does NOT yield any issue when running on GPU.
But when running on CPU it yields an issue.
![image](https://user-images.githubu

[2022-03-07 08:17] liudonghua123 commented on #40212
理论上，Python 3.x 是向下兼容的，所以 python 代码部分应该基本不用改动或变动很少，涉及到 C/C++ 相关 extension module
或 第三方依赖 可能需要更新一下 toolchain 的相关配置，然后重新编译发布。当然这是我个人非深入了解的猜想，可能没有我想的那么简单。
之前我在 python 3.10 上安装 PyQt5/6 PyQt5/6-tools 的时候也遇到过相关问题，当时是 修改 whl 文件名，然后安装就可用的，详细可参考 https://github.com/altendky/pyqt-tools/issues/98#issuecomment-1058964595 .

[2022-03-07 08:31] xu-peng-7 opened #40219 "建议补充预训练模型"
paddle2.2.2 中 from paddle.vision.models 可以直接调用的模型（非模型类）包括 5个resnet模型，4个vgg模型，2个 mobileNet模型
其中，vgg11，vgg13 没有预训练模型，建议补充。

[2022-03-07 09:00] lzzyzlbb commented on #40190
您好，您把aistudio重启一下试试呢

[2022-03-07 09:05] sneaxiy commented on #39567
Hi, @mingxu1067 this is a known issue. The reason is that there are several allreduce ops in the program that have no dependency with each other. The `CompiledProgram` may run ops according to the graph dependency, so that the process 0 may launch allreduce kernel of acc1 and the process 1 may launch allreduce kernel of acc5, which causes the wrong results.

A workaround is to add the code `build_

[2022-03-07 09:09] lzzyzlbb commented on #40189
https://paddleinference.paddlepaddle.org.cn/master/user_guides/download_lib.html#python 这个看一下呢

[2022-03-07 09:28] lyuwenyu commented on #40176
把代码里的`True` 改成 `False`
[code]

[2022-03-07 09:57] hl123-123 commented on #40176
为了，梯度惩罚实现，而不是仅仅是让这份代码跑

[2022-03-07 09:58] hl123-123 commented on #40176
请你可以去看看paddlegan stylegan2 model里面梯度惩罚的实现，而不是仅仅跑通，我解释的清楚了吗

[2022-03-07 11:13] zlsh80826 opened #40230 "test_model unit test failed"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
[code]

- 复现信息：如为报错，请给出复现环境、复现步骤
[code]
新增 `Dockerfile` 後照以下步驟執行
[code]
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
[code]

[2022-03-07 11:17] zhiboniu commented on #40219
谢谢您的反馈，我们会找相关同学及时补充的。

[2022-03-07 11:22] zhiboniu commented on #40217
The input Tensor's element(0<x<10 here) should not bigger than class_num in API one_hot（which is 5 here）。
For more details please refer to:
https://www.paddlepaddle.org.cn/documentation/docs/en/api/paddle/nn/functional/one_hot_en.html

[2022-03-07 11:29] rose-jinyang commented on #40217
That's right.
However, the problem is that the above script does NOT yield any issue on GPU.

[2022-03-07 11:34] zhiboniu commented on #40216
Thanks for your work, it‘s important for us. We will check on that bug and fix it. Please keep attention.

[2022-03-07 11:37] zhiboniu commented on #40217
O, that is not right action on GPU, thanks for your information, we will fix this bug soonly.

[2022-03-07 11:50] zhiboniu commented on #40215
Paddle is tested in gcc8 and gcc5 is not well supported, maybe you can try gcc8 it should work well.

[2022-03-07 11:51] TCChenlong opened #40234 "【PaddlePaddle Hackathon 第二期】任务总览"
## 任务目录
- <a href='#paddlepaddle'>PaddlePaddle</a>
- <a href='#paddlefamily'>Paddle Family</a>
- <a href='#paddlefriends'>Paddle Friends</a>
- <a href='#paddleeval'>Paddle Eval</a>

大家好，非常高兴地告诉大家，第二期 [PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon-2022-3?fr=paddleg) 开始了。PaddlePaddle Hackathon 是面向全球开发者的深度学习领域编程活动，鼓励开发者了解与参与 PaddlePaddle 开源社区。本次共有四大专区：PaddlePaddle、Padd

[2022-03-07 11:51] zhiboniu commented on #40212
好的，感谢您的经验分享，我们会注意您的这些经验，如果有需要后续会有同学联系您，非常感谢，希望继续支持Paddle.

[2022-03-07 12:16] zhiboniu commented on #40230
看起来Max relative difference: 1.2361224e-05 只比阈值rtol=1e-05 稍微大出了一些，我们会关注该问题。请问您的具体应用是什么，这个精度误差应该实际影响比较小的

[2022-03-07 12:21] weisy11 commented on #40009
由于长时间未回复，卡片关闭。如果问题没有解决，可以重新打开卡片。

[2022-03-07 12:21] #40009 closed, assigned to weisy11

[2022-03-08 01:52] #40075 closed, assigned to nobody

[2022-03-08 04:38] zlsh80826 opened #40250 "Require inference python API to use LodTensor GPU data as inputs"
需求:
目前 Paddle-inference 僅支援從 CPU 拷貝, 這個限制會導致實際端到端推理不能達到最高性能
例如使用 DALI 對 raw image 做完處理後, 資料會放置在 GPU 上, 而因為 Paddle-inference 僅支援從 CPU 拷貝, 會引入多餘的 H2D, D2H 拷貝, 需要 Paddle-inference 在 python 端口支援直接從 LoDTensor 傳入或是分享輸入資料

[2022-03-08 05:06] #40157 closed, assigned to lyuwenyu

[2022-03-08 05:12] yanglilongss commented on #40189
谢谢，不过，这个里边只有3.6版本的，我需要3.7版本的

[2022-03-08 06:17] wangye707 commented on #40189
@yanglilongss  37的暂时没有发布计划，你自己编译遇到什么问题了？

[2022-03-08 06:42] #40210 closed, assigned to zhiboniu

[2022-03-08 07:33] liudonghua123 commented on #40212
经过自己摸索，我终于在python 3.10上成功运行了 https://mp.weixin.qq.com/s/mlNDdfArr33ayE_nVyyu2A 这里面提到的一个使用 paddle 抠图的程序。

[code]

记录一下自己的编译过程

**编译 paddle** ，参考 https://www.paddlepaddle.org.cn/documentation/docs/en/install/compile/windows-compile_en.html
其中需要修改以下几处，编译时间比较长，这块是不停的编译-错误-修改-编译-错误-修改-... 直到最后编译成功。

1. Paddle\build\third_party\protobuf\src\extern_protobuf\src\google\protobuf\compiler\java\java_file.cc

[2022-03-08 08:29] basaltzhang commented on #39687
@xiaoxiaohehe001 hi，请问定位到原因了吗？

[2022-03-08 08:48] #40030 closed, assigned to ZzSean

[2022-03-08 09:31] zhangyimi opened #40264 "state_dict中key字段与参数本身如何对应？"
`model.ln.weight.name="pre_encoder_layer_norm_scale"`
但是在`model.state_dict()`中，`model.ln.weight`对应的key值为`ln.weight`。

想请教我该如何将model中的参数的name和state_dict中的名称一一对应。

[2022-03-08 09:41] #40264 closed, assigned to yingyibiao

[2022-03-08 09:42] #40145 closed, assigned to minghaoBD

[2022-03-08 12:13] liudonghua123 commented on #40212
我参考 https://github.com/onnx/onnx#windows 编译了静态链接 protobuf 的 onnx，使用也是正常的，注意这里不能使用 master 分支或者更新一点的如 3.19.4 的 protobuf，否则会出现 `ImportError: cannot import name 'builder' from 'google.protobuf.internal'`.

更新：测试过 protobuf 如果静态链接，使用 3.18.2， 3.16.0 都是可以的，如果是 > 3.18.2 例如 3.19.4 安装 onnx 会出现 `libprotobuf.lib(coded_stream.obj) : error LNK2038: mismatch detected for 'RuntimeLibrary': value 'MT_StaticRelease'

[2022-03-08 12:31] TCChenlong opened #40267 "【PaddlePaddle Hackathon 2】70、深度体验飞桨官网文档，并产出一份评估报告"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：深度体验飞桨官网文档，并产出一份评估报告

- 技术标签：PaddlePaddle

- 任务难度：中等

- 详细描述：飞桨框架于 2.0 正式版全面支持了动态图训练，并在2.1、2.2 两个大版本中不断新增了各项功能，针对这些功能，我们也新增了对应的使用文档。在本任务中，我们希望你全面体验飞桨框架文档，即[飞桨官网 -> 文档](%5B%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97-%E4%BD%BF%E7%94%A8%E6%96%87%E6%A1

[2022-03-08 12:32] TCChenlong opened #40268 "【PaddlePaddle Hackathon 2】69、深度体验飞桨动态图单机训练功能，并产出一份评估报告"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：深度体验飞桨动态图训练功能，并产出一份评估报告
- 技术标签：PaddlePaddle
- 任务难度：中等
- 详细描述：飞桨框架于 2.0 正式版全面支持了动态图训练，并在2.1、2.2 两个大版本中不断新增了API以及大幅增强了训练功能。在本任务中，我们希望能收到你对于飞桨框架动态图下单机训练功能整体的使用感受，可以与其他深度学习框架做功能对比，并产出一份对应的评估报告。（提示：功能包括但不限于：API、Tensor 索引、NumPy Compatibility、报错信息提

[2022-03-08 12:40] pmajchrzak opened #40269 "Performance drop of retinanet_r50_fpn_1x model"
After commit: https://github.com/PaddlePaddle/Paddle/commit/fc06be9dbd82da832c8eed8cac8573d0166638ba
the drop of inference performance of model retinanet_r50_fpn_1x was observed.
This performance drop case is connected with a significant rising in memory consumption.
Measurements were performed using the application:
[code]
with and without parameter "--run_benchmark=True"

---
### CLX
[code]
![im

[2022-03-08 12:54] TCChenlong opened #40271 "【PaddlePaddle Hackathon 2】60、为 Paddle 添加稀疏算子 sqrt"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为 Paddle 添加稀疏算子 sqrt
- 技术标签：深度学习框架，C++, python
- 任务难度：中等
- 详细描述： sqrt 是一个基础平方根运算操作，目前 Paddle 中还没有 sparse 的平方根算子。 本任务的目标是在 Paddle 中添加 sparse.sqrt 算子。调用路径：paddle.sparse.sqrt。

【提交内容】

- API 的设计文档，并提 PR 至 [PaddlePaddle/community](https://github

[2022-03-08 12:56] TCChenlong opened #40272 "【PaddlePaddle Hackathon 2】59、为 Paddle 添加稀疏算子divide"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为 Paddle 添加稀疏算子divide
- 技术标签：深度学习框架，c++, python
- 任务难度：中等
- 详细描述： divide 是一个基础除法运算操作，目前 Paddle 中还没有 sparse 的除法算子。本任务的目标是在 Paddle中添加 sparse.divide 算子，实现输入是两个SparseCooTensor或者两个SparseCsrTensor逐元素相除的功能。调用路径：paddle.sparse.divide。

【提交内容】

- API

[2022-03-08 12:57] TCChenlong opened #40273 "【PaddlePaddle Hackathon 2】58、为 Paddle 添加稀疏算子multiply"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为 Paddle 添加稀疏算子multiply
- 技术标签：深度学习框架，c++, python
- 任务难度：中等
- 详细描述： multiply 是一个基础乘法运算操作，目前 Paddle 中还没有 sparse 的乘法算子。 本任务的目标是在Paddle 中添加 sparse.multiply 算子，实现输入是两个SparseCooTensor或者两个SparseCsrTensor逐元素相乘的功能。调用路径：paddle.sparse.multiply。

【提交内容

[2022-03-08 12:58] TCChenlong opened #40274 "【PaddlePaddle Hackathon 2】57、为 Paddle 添加稀疏算子 subtract"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为 Paddle 添加稀疏算子 subtract
- 技术标签：深度学习框架，C++, python
- 任务难度：中等
- 详细描述： subtract 是一个基础减法运算操作，目前 Paddle 中还没有 sparse 的减法算子。 本任务的目标是在Paddle 中添加 sparse.subtract 算子，实现输入是两个SparseCooTensor或者两个SparseCsrTensor逐元素相减的功能。调用路径：paddle.sparse.subtract。

【提交内

[2022-03-08 12:59] TCChenlong opened #40275 "【PaddlePaddle Hackathon 2】56、为 Paddle 添加稀疏算子add"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为 Paddle 添加稀疏算子add
- 技术标签：深度学习框架，C++, Python
- 任务难度：中等
- 详细描述： add 是一个基础加法运算操作，目前 Paddle 中还没有 sparse 的加法算子。本任务的目标是在 Paddle 中添加 sparse.add 算子，实现输入是两个 SparseCooTensor 或者两个 SparseCsrTensor 逐元素相加的功能。调用路径：paddle.sparse.add。

【提交内容】

- API 的设计文档，并

[2022-03-08 13:00] TCChenlong opened #40277 "【PaddlePaddle Hackathon 2】55、为 Paddle 新增稀疏实现的 AlexNet"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为 Paddle 新增稀疏实现的 AlexNet
- 技术标签：深度学习框架, python
- 任务难度：中等
- 详细描述： 卷积神经网络中有不少场景的输入数据是稀疏数据，参考论文：https://arxiv.org/abs/1711.10275，本任务目标是以手写体数字识别为例，使用稀疏算子实现 AlexNet 模型，并对比一般实现下的模型性能。调用路径：paddle.vision.models.sparse.AlexNet。

【提交内容】

- API 的设计文档，并

[2022-03-08 13:01] TCChenlong opened #40278 "【PaddlePaddle Hackathon 2】54、在 Paddle 中实现 Common Subexpression Elimination（公共子表达式删除）的图优化 pass"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle 中实现 Common Subexpression Elimination（公共子表达式删除）的图优化 pass
- 技术标签：深度学习框架，C++，图优化
- 任务难度：困难
- 详细描述： 在深度学习相关的计算图中，会存在一些公共的子串，例如 h = a + b + c，f = b + a+ e，那么在整个计算图中，根据加法算子的交换律，a + b = b + a，那么我们可以将上面公式化简为 n = a + b, h = n + c ，f = n + e，

[2022-03-08 13:02] TCChenlong opened #40279 "【PaddlePaddle Hackathon 2】53、在 Paddle 中实现基于 HDRM 拓扑的 AllReduce"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle 中实现基于 HDRM 拓扑的 AllReduce
- 技术标签：深度学习框架，C++，通信拓扑
- 任务难度：困难
- 详细描述：HDRM 主要思想是基于两阶段全连接 BiGraph 的 rank 映射扩展了传统的 halving doubling 算法，以避免网络拥塞。此任务的目标是在 Paddle 分布式训练框架中，实现 HDRM 拓扑结构的 AllReduce，如果目标结点不支持拓扑所需硬件结构，可尝试软件模拟；除使用 GPU 进行训练外，最好也能支持其

[2022-03-08 13:03] TCChenlong opened #40280 "【PaddlePaddle Hackathon 2】52、在 Paddle 中实现基于 2D Mesh 拓扑的 AllReduce"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle 中实现基于 2D Mesh 拓扑的 AllReduce
- 技术标签：深度学习框架，C++，通信拓扑
- 任务难度：困难
- 详细描述：2D Mesh 主要思想是分层，区别于 2D Torus 结构之处在于 2D Mesh 结构支持水平和垂直方向上同时进行集合操作。这种结构理论上将网络通信次数从传统 Ring 的 O(N2) 降低到了 O(N)，关键原因在于 TPU 结点支持两路的收发。此任务的目标是在 Paddle 分布式训练框架中，实现 2D Mesh 结

[2022-03-08 13:05] TCChenlong opened #40281 "【PaddlePaddle Hackathon 2】51、在 Paddle 中实现基于 2D Torus 拓扑的 AllReduce"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle 中实现基于 2D Torus 拓扑的 AllReduce
- 技术标签：深度学习框架，C++，通信拓扑
- 任务难度：困难
- 详细描述：2D Torus 主要思想是分层，先是在组内水平方向做 Scatter-Reduce 操作，然后在组间垂直方向做 AllReduce 操作， 最后在组内做 AllGather 操作。此任务的目标是在 Paddle 分布式训练框架中，实现 2D Torus 结构的 AllReduce，除使用 GPU 进行训练外，最好也能支持其

[2022-03-08 13:06] TCChenlong opened #40282 "【PaddlePaddle Hackathon 2】50、在 Paddle 中实现1-bit Lamb 优化器"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle 中实现1-bit Lamb 优化器
- 技术标签：深度学习框架，C++，优化算法
- 任务难度：困难
- 详细描述： LAMB 是NLP 任务中常用的大 batch 训练优化器，目前Paddle 中已经 有 LAMB的实现。 论文 [1-bit LAMB: Communication Efficient Large-Scale Large-Batch Training with LAMB's Convergence Speed ](https://arxiv.

[2022-03-08 13:07] TCChenlong opened #40283 "【PaddlePaddle Hackathon 2】49、在 Paddle 中实现1-bit Adam 优化器"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle 中实现1-bit Adam 优化器
- 技术标签：深度学习框架，C++，优化算法
- 任务难度：困难
- 详细描述： Adam 是NLP 任务中常用的优化器，目前 Paddle 中已经有 Adam的实现。 论文 [1-bit Adam: Communication Efficient Large-Scale Training with Adam's Convergence Speed](https://arxiv.org/abs/2102.02888) 提出了

[2022-03-08 13:09] TCChenlong opened #40284 "【PaddlePaddle Hackathon 2】48、在 Paddle 中实现基于 DBTree 拓扑的 AllReduce"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle 中实现基于 DBTree 拓扑的 AllReduce

- 技术标签：深度学习框架，C++，通信拓扑

- 任务难度：困难

- 详细描述： DBTree 主要思想是利用二叉树中大约一半节点是叶子节点的特性，通过将叶子节点变换为非叶子节点，得到两颗二叉树，每个节点在其中一颗二叉树上是叶子节点，在另一颗二叉树上是非叶子节点。这种方法理论上能够提供比 Ring 算法更低的延迟。此任务的目标是在 Paddle 分布式训练框架中，实现 DBTree 结构的 AllRe

[2022-03-08 13:12] TCChenlong opened #40285 "【PaddlePaddle Hackathon 2】47、在 Paddle 中新增 LARC"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle 中新增 LARC
- 技术标签：深度学习框架，C++，优化算法
- 任务难度：中等
- 详细描述： LARC 优化器是 OpenSeq2Seq 框架中提出的一种优化器。相对于每层都使用相同学习率的 SGD 优化器，该 LARC 优化器考虑到在某些场景下，较大的学习率带来的大幅度参数更新，会导致训练出现分化。为使得训练更稳定，LARC 优化器引入了 trust 系数用来裁剪每一层的学习率。此任务的目标是在 Paddle 框架中，在已实现的 SGD 算法基础上，结

[2022-03-08 13:12] TCChenlong opened #40286 "【PaddlePaddle Hackathon 2】46、在 Paddle 中新增 AdaScaleSGD"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle 中新增 AdaScaleSGD
- 技术标签：深度学习框架，python，优化算法
- 任务难度：中等
- 详细描述： AdaScale SGD 是一种大规模分布式训练中的LR schedule 策略， 被用来加速大 batch 训练时的收敛速度，目前 Paddle 中并没有实现。 本任务的目标是基于 paddle.optimizer.SGD 和 paddle.distributed 等 Paddle 基础框架实现 Paddle 中的 AdaScale SGD

[2022-03-08 13:24] TCChenlong opened #40288 "【PaddlePaddle Hackathon 2】45、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：困难

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP

[2022-03-08 13:25] TCChenlong opened #40289 "【PaddlePaddle Hackathon 2】44、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：困难

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP

[2022-03-08 13:31] TCChenlong opened #40290 "【PaddlePaddle Hackathon 2】43、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：中等

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP

[2022-03-08 13:31] TCChenlong opened #40291 "【PaddlePaddle Hackathon 2】42、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：中等

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP                |

[2022-03-08 13:32] TCChenlong opened #40292 "【PaddlePaddle Hackathon 2】41、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：中等

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP               |

[2022-03-08 13:32] TCChenlong opened #40293 "【PaddlePaddle Hackathon 2】40、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：中等

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP               |

[2022-03-08 13:33] TCChenlong opened #40294 "【PaddlePaddle Hackathon 2】39、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：中等

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP               |

[2022-03-08 13:33] TCChenlong opened #40295 "【PaddlePaddle Hackathon 2】38、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：中等

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP          |
  | -

[2022-03-08 13:34] TCChenlong opened #40296 "【PaddlePaddle Hackathon 2】37、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：简单

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP

[2022-03-08 13:34] TCChenlong opened #40297 "【PaddlePaddle Hackathon 2】36、Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：简单

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP

[2022-03-08 13:34] TCChenlong opened #40298 "【PaddlePaddle Hackathon 2】35、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：简单

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP                |

[2022-03-08 13:35] TCChenlong opened #40299 "【PaddlePaddle Hackathon 2】34、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：简单

- 详细描述：飞桨支持在海光DCU上运行，但是存在部分算子在海光DCU下还无法通过算子单测。下表中为当前在海光DCU下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP

[2022-03-08 13:35] TCChenlong opened #40300 "【PaddlePaddle Hackathon 2】33、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：简单

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP            |
  |

[2022-03-08 13:36] TCChenlong opened #40301 "【PaddlePaddle Hackathon 2】32、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：简单

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP        |
  | ---

[2022-03-08 13:36] TCChenlong opened #40302 "【PaddlePaddle Hackathon 2】31、为Paddle修复ROCM(HIP)算子"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：为Paddle修复ROCM(HIP)算子

- 技术标签：深度学习框架，C++，Python，HIP

- 任务难度：简单

- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。下表中为当前在C86加速卡下算子单测失败的用例，请根据单测错误提示，对列表中的算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测列表通过。

  | 单测失败的OP

[2022-03-08 13:38] TCChenlong opened #40303 "【PaddlePaddle Hackathon 2】30、为 Paddle 新增 TripletMarginWithDistanceLoss 损失函数API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 TripletMarginWithDistanceLoss 损失函数API

技术标签：深度学习框架，Python

任务难度：简单

详细描述： paddle.nn.TripletMarginWithDistanceLoss 是三元损失函数，其针对 anchor 和正负对计算用户指定的距离函数下的三元损失，从而获得损失值。此任务的目标是在 paddle 框架中新增 TripletMarginWithDistanceLoss API，调用路径为：paddle

[2022-03-08 13:39] TCChenlong opened #40304 "【PaddlePaddle Hackathon 2】29、为 Paddle 新增 PixelUnshuffle 组网 API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 PixelUnshuffle 组网 API

技术标签：深度学习框架，C++

任务难度：中等

详细描述：PixelUnshuffle 是 PixelShuffle 的逆操作，通过将空间维度的特征转移到通道，将亚像素卷积的结果恢复，可参考[论文](https://arxiv.org/abs/1609.05158)。此任务的目标是在 Paddle 框架中，新增 PixelUnshuffle API，调用路径为：paddle.nn.PixelUnshuffle

[2022-03-08 13:40] TCChenlong opened #40305 "【PaddlePaddle Hackathon 2】28、为 Paddle 新增 logcumsumexp 数学计算API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 logcumsumexp 数学计算API

技术标签：深度学习框架，C++，CUDA

任务难度：困难

详细描述： logcumsumexp 是沿给定的轴计算以e为底的指数的累计和的自然对数。此任务的目标是在 Paddle 框架中，新增 logcumsumexp API，调用路径为：paddle.logcumsumexp 和 Tensor.logcumsumexp。

【提交流程】

请按 [新增API 开发&提交流程](https://www.paddl

[2022-03-08 13:41] TCChenlong opened #40306 "【PaddlePaddle Hackathon 2】27、为 Paddle 新增 frac 数学计算API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 frac 数学计算API

技术标签：深度学习框架，Python

任务难度：简单

详细描述： 计算输入中每个元素的分数部分。此任务的目标是在 Paddle 框架中，新增 frac API，调用路径为：paddle.frac 和 Tensor.frac。

【提交流程】

请按 [新增API 开发&提交流程](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/a

[2022-03-08 13:41] TCChenlong opened #40307 "【PaddlePaddle Hackathon 2】26、为 Paddle 新增 TripletMarginLoss 损失函数API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 TripletMarginLoss 损失函数API

技术标签：深度学习框架，Python

任务难度：简单

详细描述： paddle.nn.TripletMarginLoss 是三元损失函数，其针对 anchor 和正负对计算 P 范数距离下的三元损失，从而获得损失值。此任务的目标是在 paddle 框架中新增 TripletMarginLoss API，调用路径为：paddle.nn.TripletMarginLoss。

【提交流程】

请按 [新增

[2022-03-08 13:43] TCChenlong opened #40308 "【PaddlePaddle Hackathon 2】25、为 Paddle 新增 nanquantile 数学计算API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 nanquantile 数学计算API

技术标签：深度学习框架，Python

任务难度：中等

详细描述： paddle.nanquantile 是 [paddle.quantile](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/quantile_cn.html) 的变体，即沿给定的轴计算非nan元素的分位数。此任务的目标是在 Paddle 框架中，新增

[2022-03-08 13:44] TCChenlong opened #40309 "【PaddlePaddle Hackathon 2】24、为 Paddle 新增 nn.ChannelShuffle 组网 API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 nn.ChannelShuffle 组网 API

技术标签：深度学习框架，C++

任务难度：中等

详细描述：ChannleShuffle 是将特征通道分成多组，并将每组的特征重新打乱的操作，最后保证输出和输入通道数目一致。此任务的目标是在 Paddle 框架中，新增 ChannelShuffle API，调用路径为：paddle.nn.ChannelShuffle。

【提交流程】

请按 [新增API 开发&提交流程](https://www.pad

[2022-03-08 13:45] TCChenlong opened #40310 "【PaddlePaddle Hackathon 2】23、为 Paddle 新增 Softmax2D 组网API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 Softmax2D 组网API

技术标签：深度学习框架，Python

任务难度：简单

详细描述： paddle.nn.Softmax2D 是 [paddle.nn.Softmax](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Softmax_cn.html#softmax) 的变体，其针对 3D 或者 4D 的 tensor 在空间维度计算softmax，从而输

[2022-03-08 13:45] TCChenlong opened #40311 "【PaddlePaddle Hackathon 2】22、在 Paddle 中新增 paddle.index_add 功能"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 index_add API

技术标签：深度学习框架，Python，C++，CUDA

任务难度：中等

详细描述： 对于 nd tensor, 沿着某个轴 axis 取 (n-1)d 的切片，索引位置是 index, 并且将 value 中的值经过一个缩放系数 scale 后加到这些切片上。这个操作需要支持微分。调用路径：

1. paddle.index_add 作为独立的函数调用，非 inplace
2. paddle.index_add_，作为独立的

[2022-03-08 13:46] TCChenlong opened #40312 "【PaddlePaddle Hackathon 2】21、为 Paddle 新增 SoftMarginLoss API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 SoftMarginLoss API

技术标签：深度学习框架，Python，C++，CUDA

任务难度：中等

详细描述： SoftMarginLoss 是一种计算二分类逻辑损失的函数。此任务的目标是在 Paddle 框架中，新增 SoftMarginLoss API，调用路径为：paddle.nn.SoftMarginLoss 和 paddle.nn.functional.soft_margin_loss。

【提交流程】

请按 [新增API 开发&

[2022-03-08 13:48] TCChenlong opened #40313 "【PaddlePaddle Hackathon 2】20、为 Paddle 新增 cummax API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 cummax API

技术标签：深度学习框架，Python，C++，CUDA

任务难度：中等

详细描述： cummax API 是一个按轴寻找累计最大值和最大值所在位置的 API。此任务的目标是在 Paddle 框架中，新增 cummax API，调用路径为：paddle.cummax和 paddle.Tensor.cummax。

【提交流程】

请按 [新增API 开发&提交流程](https://www.paddlepaddle.org.cn/d

[2022-03-08 13:49] TCChenlong opened #40314 "【PaddlePaddle Hackathon 2】19、为 Paddle 新增 ASGD 优化器"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 ASGD 优化器

技术标签：深度学习框架，C++，优化算法

任务难度：困难

详细描述： ASGD 优化器在论文[Acceleration of stochastic approximation by averaging](https://xueshu.baidu.com/usercenter/paper/show?paperid=396ab3d48d059f68d267372498976cd3)中提出，它是一种轨迹平均的随机优化方法。此任务的目标是在

[2022-03-08 13:50] TCChenlong opened #40315 "【PaddlePaddle Hackathon 2】18、为 Paddle 新增 paddle.heaviside 和 paddle.Tensor.heaviside API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】
任务标题：为 Paddle 新增 paddle.heaviside 和 paddle.Tensor.heaviside API

技术标签：深度学习框架，C++

任务难度：中等

详细描述：Heaviside函数又称阶跃函数。此任务目标为Paddle新增对输入Tensor中的每一个元素计算Heaviside Function的功能， 即当元素小于0时输出0，大于0时输出1，等于0时则按预定义值输出。提供的调用路径为paddle.heaviside及paddle.Tensor.heavisid

[2022-03-08 13:50] TCChenlong opened #40316 "【PaddlePaddle Hackathon 2】17、为 Paddle 新增 paddle.nn.CosineEmbeddingLoss 和 paddle.nn.functional.cosine_embedding_loss API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】
任务标题：为 Paddle 新增 paddle.nn.CosineEmbeddingLoss 和 paddle.nn.functional.cosine_embedding_loss API.

技术标签：深度学习框架，Python

任务难度：简单

详细描述：CosineEmbeddingLoss, 即余弦相似度损失函数，用于衡量两个向量的相似程度，常用于非线性嵌入学习、半监督学习等领域。该任务目标为向paddle中添加计算该损失函数的功能，并提供类实例paddle.nn.CosineEm

[2022-03-08 13:51] TCChenlong opened #40317 "【PaddlePaddle Hackathon 2】16、为 Paddle 新增 RReLU 激活函数"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 RReLU 激活函数

技术标签：深度学习框架，C++，优化算法

任务难度：中等

详细描述：RRELU激活函数是从[Empirical Evaluation of Rectified Activations in Convolutional Network](https://arxiv.org/abs/1505.00853)中提出的，它是在Leaky ReLU基础上，对每一个位置的负值输入线性项做了随机采样 ，来加强一定范围内的泛化能力。此任务的目标是在

[2022-03-08 13:55] TCChenlong opened #40318 "【PaddlePaddle Hackathon 2】15、为 Paddle 新增 nanmedian API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 nanmedian API

技术标签：深度学习框架，Python，C++

任务难度：中等

详细描述：paddle.nanmedian 扩展了 paddle.median API 的功能，如果输入Tensor中有nan值， paddle.median 会将nan值考虑在内然后取中位数(有可能为nan值)，而 paddle.nanmedian 只考虑非nan值的中位数。比如输入数据 x = [[nan, 2. , 3. ], [0. , 1. , 2. ]

[2022-03-08 13:57] TCChenlong opened #40319 "【PaddlePaddle Hackathon 2】14、为 Paddle 新增 MultiLabelSoftMarginLoss 损失函数API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 MultiLabelSoftMarginLoss 损失函数API

技术标签：深度学习框架，Python

任务难度：简单

详细描述： paddle.nn.MultiLabelSoftMarginLoss 是SoftMarginLoss针对 multi-label one-versus-all（多分类，且每个样本只能属于一个类）的情形。此任务的目标是在 paddle 框架中新增 MultiLabelSoftMarginLoss API，调用路径为：padd

[2022-03-08 13:59] TCChenlong opened #40321 "【PaddlePaddle Hackathon 2】13、为 Paddle 新增 CyclicLR 优化调度器"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 CyclicLR 优化调度器

技术标签：深度学习框架，Python，优化调度算法

任务难度：简单

详细描述： CyclicLR最早在论文[Cyclical Learning Rates for Training Neural Networks](https://arxiv.org/abs/1506.01186)中提出，它控制学习率以固定周期在base_lr和max_lr之间变化，它的调整是以batch.step进行的，同时，它还有3种内置的波幅调整策略

[2022-03-08 14:00] TCChenlong opened #40322 "【PaddlePaddle Hackathon 2】12、为 Paddle 新增 OneCycleLR 优化调度器"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 OneCycleLR 优化调度器

技术标签：深度学习框架，Python，优化调度算法

任务难度：简单

详细描述： OneCycleLR最早在[Super-Convergence: Very Fast Training of Neural Networks Using Large Learning Rates](https://arxiv.org/abs/1708.07120)中提出，它在整个训练过程中只有一个周期（OneCycle），即从小学习率上升至

[2022-03-08 14:01] TCChenlong opened #40324 "【PaddlePaddle Hackathon 2】11、在 Paddle 中新增 paddle.index_fill 功能"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 index_fill API

技术标签：深度学习框架，Python

任务难度：困难

详细描述：对于 nd tensor, 沿着某个轴 axis 取 (n-1)d 的切片，索引位置是 index, 并且将 value 中值填充到这些切片上。其中 value 是一个 scalar 或者 0d tensor, 该运算需要支持微分。调用路径：

1. paddle.index_fill 作为独立的函数调用，非 inplace
2. paddle.index_f

[2022-03-08 14:03] TCChenlong opened #40325 "【PaddlePaddle Hackathon 2】10、为 Paddle 新增 AdaptiveLogSoftmaxWithLoss API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

 【任务说明】

任务标题：为 Paddle 新增 AdaptiveLogSoftmaxWithLoss API

技术标签：深度学习框架，Python

任务难度：中等

详细描述： AdaptiveLogSoftmaxWithLoss 来源于 [Efficient softmax approximation for GPUs](https://arxiv.org/abs/1609.04309)，其中的 Adaptive Softmax 方法是对一种高效实现 softmax 函数近似计算的方法。此任务的目

[2022-03-08 14:04] TCChenlong opened #40326 "【PaddlePaddle Hackathon 2】9、为 Paddle 新增 logspace API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 logspace API

技术标签：深度学习框架，C++、Python、CUDA

任务难度：中等

详细描述： paddle.logspace 与[paddle.linspace](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/linspace_cn.html#linspace)类似，即创建按对数均匀间隔的Tensor。此任务的目标是在 Paddle 框架

[2022-03-08 14:05] TCChenlong opened #40327 "【PaddlePaddle Hackathon 2】8、为 Paddle 新增 nanmean API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 nanmean API

技术标签：深度学习框架，Python

任务难度：简单

详细描述：paddle.nanmean 扩展了 paddle.mean API 的功能，如果输入Tensor中有nan值， paddle.mean在计算中会将涉及nan值的结果都置为nan，而 paddle.nanmean 会跳过nan值。比如输入数据 x = [[nan, 1. , 2. ], [3. , 4. , 5. ]]，x.mean() 得到 [nan]，x.mea

[2022-03-08 14:06] TCChenlong opened #40328 "【PaddlePaddle Hackathon 2】7、为 Paddle 新增 cdist API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 cdist API

技术标签：深度学习框架，Python，C++，CUDA

任务难度：中等

详细描述： cdist API 是 [dist](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/dist_cn.html#dist) 的拓展。dist API 用于计算两个输入 Tensor 的 p 范数（p-norm），计算结果为形状为 [1] 的 Tensor，而 cdist

[2022-03-08 14:06] TCChenlong opened #40329 "【PaddlePaddle Hackathon 2】6、为 Paddle 新增 nan_to_num API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 nan_to_num API

技术标签：深度学习框架，Python，C++

任务难度：中等

详细描述：由于数值溢出会导致深度学习无法正常训练，使用nan_to_num可对Tensor中 **nan、正无穷、负无穷** 的元素进行替换，可指定需要替换的值，也可根据当前Tensor数据类型所能表示的最大、最小值进行替换。此任务的目标是在Paddle框架中，新增paddle.nan_to_num API。

【提交流程】

请按 [新增API 开发&提交流程

[2022-03-08 14:07] TCChenlong opened #40330 "【PaddlePaddle Hackathon 2】5、为 Paddle 新增 tril_indices API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 tril_indices API

技术标签：深度学习框架，Python，C++

任务难度：中等

详细描述： tril_indices能获取一个2维矩阵的下三角元素的索引，其输出Tensor的shape为[2, N]，相当于有两行，第一行为 下三角元素的行索引，第二行为 下三角元素的列索引。此任务的目标是在Paddle框架中，新增paddle.tril_indices API。

【提交流程】

请按 [新增API 开发&提交流程](https://ww

[2022-03-08 14:08] TCChenlong opened #40331 "【PaddlePaddle Hackathon 2】4、为 Paddle 新增 EmbeddingBag API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 EmbeddingBag API

技术标签：深度学习框架，Python，C++，CUDA

任务难度：困难

详细描述： EmbeddingBag 是 [Embedding](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Embedding_cn.html#embedding) 的拓展，在功能上相当于 Embedding + 求和/求均值/求最大值的操作，相比直接组合

[2022-03-08 14:08] TCChenlong opened #40332 "【PaddlePaddle Hackathon 2】3、为 Paddle 新增 corrcoef(皮尔逊积矩相关系数) API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 corrcoef(皮尔逊积矩相关系数) API

技术标签：深度学习框架，矩阵计算

任务难度：简单

详细描述：皮尔逊积矩相关系数(简称相关系数)，与协方差矩阵C之间的关系表示如下：R{ij} = C{ij} / sqrt{ C{ii} * C{jj} }，其值在-1到1之间。此任务的目标是在 Paddle 框架中，在cov实现的基础上，新增皮尔逊积矩相关系数corrcoef，调用路径为：paddle.linalg.corrcoef。

【提交流程】

请

[2022-03-08 14:09] TCChenlong opened #40333 "【PaddlePaddle Hackathon 2】2、为 Paddle 新增 iinfo"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 iinfo

技术标签：深度学习框架，Python，C++

任务难度：中等

详细描述： iinfo计算整数类型的数值限制，输入参数为Paddle整数类型(paddle.int8/paddle.uint8/paddle.int16/paddle.int32/paddle.int64)，返回包含如下属性对象:

| 属性   | 类型  | 描述     |
|:---- |:--- |:------ |
| bits | int | 占用bit数 |
|

[2022-03-08 14:10] TCChenlong opened #40334 "【PaddlePaddle Hackathon 2】1、为 Paddle 新增 finfo API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

任务标题：为 Paddle 新增 finfo API

技术标签：深度学习框架，Python，C++

任务难度：中等

详细描述： finfo计算浮点数类型的数值限制，输入参数为Paddle浮点数类型(paddle.float16/paddle.float32/paddle.float64/paddle.complex64/paddle.complex128)，返回包含如下属性对象:

| 属性         | 类型    | 描述

[2022-03-08 14:35] GeYuYao-hub commented on #40234
【队名】：单测超人

【序号】：17

【状态】：报名

【链接】：[Paddle](https://github.com/GeYuYao-hub/Paddle)

 【备注】：单测超人失业再就业

[2022-03-08 14:45] GeYuYao-hub commented on #40234
【队名】：单测超人

【序号】：27

【状态】：报名

【链接】：[Paddle](https://github.com/GeYuYao-hub/Paddle)

[2022-03-08 14:45] Li-fAngyU commented on #40234
【队名】：lfy

【序号】：8

【状态】：报名

【链接】：https://github.com/Li-fAngyU/Paddle

[2022-03-08 15:15] Duum commented on #40234
【队名】：我是大帅比

【序号】：21

【状态】：报名

【链接】：https://github.com/Duum/Paddle

[2022-03-08 15:19] Duum commented on #40234
【队名】：我是大帅比

【序号】：16

【状态】：报名

【链接】：https://github.com/Duum/Paddle

[2022-03-08 15:20] Duum commented on #40234
【队名】：我是大帅比

【序号】：14

【状态】：报名

【链接】：https://github.com/Duum/Paddle

[2022-03-08 15:40] pmajchrzak opened #40339 "Performance drop of BERT model"
Commit https://github.com/PaddlePaddle/Paddle/commit/45dd4a5f3b6632eea8a12dc7102c98405c7a00d9 seems to be responsible for another decline in the BERT's performance.

### CLX processor:
[code]
#### results:
![image](https://user-images.githubusercontent.com/10847947/157271309-e68184f9-fb2a-43e2-902c-c0cf1211aaa0.png)
---
### CPX processor:
[code]
#### results:
![image](https://user-images.githubuse

[2022-03-08 16:05] unseenme commented on #40234
【队名】：UnseenMe

【序号】：62

【状态】：报名

【链接】：https://github.com/unseenme/Paddle-Lite-Demo

[2022-03-08 16:10] unseenme commented on #40234
【队名】：UnseenMe

【序号】：86

【状态】：报名

【链接】：https://github.com/unseenme/Paddle2ONNX

[2022-03-08 19:25] OccupyMars2030 commented on #40234
【队名】：SmirnovKol

【序号】：16

【状态】：报名

【链接】：https://github.com/SmirnovKol/Paddle

[2022-03-08 19:27] OccupyMars2030 commented on #40234
【队名】：SmirnovKol

【序号】：17

【状态】：报名

【链接】：https://github.com/SmirnovKol/Paddle

[2022-03-08 19:29] OccupyMars2030 commented on #40234
【队名】：SmirnovKol

【序号】：23

【状态】：报名

【链接】：https://github.com/SmirnovKol/Paddle

[2022-03-09 02:06] zlsh80826 commented on #39363
https://github.com/PaddlePaddle/Paddle/blob/b1805727a0a7c716445283d21778c41473bf0749/paddle/fluid/framework/tensor_util.cc#L1155
這邊的 size 沒有初始化, 導致"單測中測試捕獲異常的" 代碼運行到這邊的時候 read 失敗, size 值會是內存中不乾淨的值, 導致後面的 new 失敗
在我們的環境下, size 在 read 失敗的時候會有機率變成負數, 進而引起 LLVM ERROR: out of memory, 導致單測捕獲異常之前程式就退出

[2022-03-09 02:31] hellochengyan opened #40340 "用fsaster_rcnn网络进行目标检测的时候，评估阶段出现了问题。"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2022-03-09 02:34] hellochengyan opened #40342 "用fsaster_rcnn网络进行目标检测的时候，评估阶段出现了问题。"
![Uploading QQ20220309-0.png…]()

[2022-03-09 02:55] hellochengyan opened #40343 "用fsaster_rcnn网络进行目标检测的时候，评估阶段出现了这个问题。"
![QQ20220309-0](https://user-images.githubusercontent.com/63338183/157363485-44af7ddc-458d-4fe8-8105-69964e3372e1.png)
在调用评估接口的时候，出现了空值的问题。
具体错误如下：
          raceback (most recent call last)/tmp/ipykernel_101/1524296844.py in <module> 6 epoch_id=1, 7 metric='VOC', ----> 8 return_details=False) /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlex/cv/models/faster_rcnn.py in ev

[2022-03-09 03:06] renmada commented on #40325
API设计文档 有模板吗

[2022-03-09 03:25] wangdacheng commented on #27842
paddlepaddle==2.2.2
paddleocr==2.4
scipy==1.6.3
numpy==1.19.3

will solve this problem.

[2022-03-09 03:45] jiaohuix commented on #40234
【队名】：角灰

【序号】：16

【状态】：报名

【链接】：https://github.com/MiuGod0126/Paddle

[2022-03-09 04:51] Li-fAngyU commented on #40327
要和paddle.mean()一样兼容dygraph_mode吗？
paddle.mean源码： https://github.com/PaddlePaddle/Paddle/blob/release/2.2/python/paddle/tensor/stat.py#L30

[2022-03-09 05:02] ZiJINII opened #40348 "模型训练后使用visualdl保存日志进行可视化找不到对应网址"
在终端输入visualdl --logdir ./log --port 8080后显示
Running VisualDL at http://localhost:8080/ (Press CTRL+C to quit)
Serving VisualDL on localhost; to expose to the network, use a proxy or pass --host 0.0.0.0
这个localhost是哪个ip地址，本机的还是服务器的

[2022-03-09 05:09] ITerydh commented on #40234
【队名】：辉雷合璧

【序号】：64

【状态】：报名

【链接】：https://github.com/ITerydh/Paddle-1

[2022-03-09 05:09] ITerydh commented on #40234
【队名】：辉雷合璧

【序号】：63

【状态】：报名

【链接】：https://github.com/ITerydh/Paddle-1

[2022-03-09 05:09] ITerydh commented on #40234
【队名】：辉雷合璧

【序号】：62

【状态】：报名

【链接】：https://github.com/ITerydh/Paddle-1

[2022-03-09 05:10] thunder95 commented on #40234
【队名】：thunder95

【序号】：63

【状态】：报名

【链接】：https://github.com/thunder95/Paddle

[2022-03-09 06:01] Intsigstephon commented on #40343
您好，麻烦提供下具体的使用环境和代码，我们后先复现下问题~

[2022-03-09 06:08] Intsigstephon commented on #40348
您好，按照您的操作，只需要在浏览器里面打开http://localhost:8080/ 这个地址就可以看到./log日志下保存的东西；这儿的localhost是您本机的地址

[2022-03-09 06:09] weisy11 commented on #40216
That's right, AMP is used to accelerate training, which has no effect in eval mode.
AMP is a lossy acceleration method, however the loss should be very slight.
**supplement**: AMP is a training accelerate method. In training phase, some operators use FP16. After training, Paddle will still save fp32 params to the model.
If you use amp in eval phase, the inference result will be different. To avoid

[2022-03-09 06:11] liqitong-a opened #40350 "paddle.linalg文档问题module 'paddle.linalg' has no attribute 'cov'"
在使用paddle的时候 没有这个算子

[2022-03-09 06:27] qwerfdg commented on #40161
该问题已解决，再次感谢您的建议！是我使用框架的方法不太对，解决方案见
https://github.com/PaddlePaddle/PaddleFL/issues/249

[2022-03-09 06:27] #40161 closed, assigned to lyuwenyu

[2022-03-09 06:36] baoachun commented on #40339
Hi @YuanRisheng, please see this question~

[2022-03-09 07:13] wang-kangkang opened #40352 "cpu训练时使用率打不满"
使用paddle cpu版本训练，单核是使用率能打满，多核时打不满，这个怎么解决？

[2022-03-09 09:11] Intsigstephon commented on #40350
您好，具体是指哪个算子呢？ paddle.linalg 下没有cov 这个算子。您是指inv这个API吗

[2022-03-09 09:14] Intsigstephon commented on #40352
您好，针对您的问题，可以尝试提高batch_size，或者是优化数据加载逻辑，使得数据加载更加迅速。

[2022-03-09 10:02] Liyulingyue commented on #40234
【队名】：两根腿毛

【序号】：3

【状态】：报名

【链接】：https://github.com/Liyulingyue/Paddle

[2022-03-09 10:45] OliveLv opened #40369 "产出模型文件缺失"
保存的模型中没有__model__文件，请问是什么原因
combine模式和非combine模式可以互相转化么

[2022-03-09 10:47] #40127 closed, assigned to minghaoBD

[2022-03-09 10:52] Intsigstephon commented on #40369
您好，有的老版本paddle训练出来的模型是非combine模式的；新的模型文件除了__model__格式，也有*.pdmodel格式的

[2022-03-09 11:46] franva commented on #40234
【队名】：西域大菠菜

【序号】：85

【状态】：报名

【链接】：https://github.com/franva/Paddle2ONNX

[2022-03-09 12:04] FranklinBao opened #40378 "paddle的docker镜像中无法安装TensorFlow（libclang）"
版本、环境信息：
    1）PaddlePaddle版本：paddle:2.2.2-gpu-cuda11.2-cudnn8镜像
    3）系统环境：Ubuntu
- 复现信息：`pip install tensorflow` 或 `pip install libclang`
- 问题描述：
![image](https://user-images.githubusercontent.com/49803839/157438612-6311564d-3b43-4358-b1a6-6197b993514c.png)

[2022-03-09 12:08] Water2style opened #40379 "读取动态图jit.save后的infer模型，在静态图中load_infer后再进行训练的问题."
根据自己需求，需要在读取jit.save后的inference模型，后在静态图中做QAT量化训练. （没找到相应的 在静态图中训练infer模型的教程...）
但是目前遇到一个bug暂时不知道如何解决.

目前做法的核心部分：

1.首先load_inference模型
inference_program, feed_target_names,fetch_targets = paddle.static.load_inference_model(
    path_prefix=args.input_model_prefix,executor=exe)
##### feed_target_names是一个['x'], 相当于之前输入只存了图片，fetch_targets是一个 linear_tmp的 variable.

2.根据这一篇教程，对infer模型做一些处理：
#ref：https

[2022-03-09 12:17] x54-729 opened #40380 "paddle的place设置问题"
您好，我注意到paddle在创建张量时，其place的设置会有些许不同。
在创建张量的时候（如`to_tensor`函数），如果其`place`参数为`None`，那么该张量的Place类型是`paddle.fluid.core_avx.Place`，但这一类型和`paddle.CUDAPlace`和`paddle.CPUPlace`是不同的类型；因此我有时会因为两个张量的place成员类型不同而使程序的判断复杂化，比如我想要判断某个张量所在设备的id，我需要额外加一个if才能判断应该调用`gpu_device_id`还是`get_device_id`函数。请问这一差异有解决的可能吗？还是说在paddle中尽可能不要手动设置place参数

[2022-03-09 12:20] pmajchrzak opened #40381 "The BERT model testing application is disabled. What is the current status of this model?"
In commit: https://github.com/PaddlePaddle/Paddle/commit/4fe465cbf27609ef1c2bdc563207f3c3f6e875fb the application for running BERT model was switched off for CPU.
Following application stops to build:
``
/repos/paddle_paddle/build/paddle/fluid/inference/tests/api/test_analyzer_bert
``
Previously, there were reports of major drops in model performance:
https://github.com/PaddlePaddle/Paddle/issues/

[2022-03-09 12:40] forrestneo commented on #40234
【队名】：forrestneo

【序号】：16

【状态】：报名

【链接】：https://github.com/forrestneo/Paddle

[2022-03-09 12:57] livingbody commented on #40234
【队名】：百度飞桨

【序号】：8

【状态】：提交

【链接】：[https://github.com/livingbody/Pad)dle-1](https://github.com/livingbody/Paddle-1)

[2022-03-09 13:28] sighingnow commented on #40378
It is a bug caused by the installed version of `pip` inside the docker contianer, see https://github.com/sighingnow/libclang/issues/22

I suggest the Paddle team to upgrade the `pip` in the released docker image to the latest version (or at least void using `pip==20.0.0` and `pip==20.0.1`), see also https://github.com/pypa/pip/issues/7629

[2022-03-09 14:02] txyugood commented on #40234
【队名】：txyugood

【序号】：94

【状态】：报名

【链接】：https://github.com/txyugood/deepxde

[2022-03-09 14:06] livingbody commented on #40327
paddle.nansum这个函数没找到啊

[2022-03-09 22:37] franva commented on #40234
【队名】：西域大侠

【序号】：75

【状态】：报名

【链接】：https://github.com/lilyyjzhou/Paddle

[2022-03-10 01:38] ANDROIDTODO opened #40390 "请问一下，有支持Mac M1 c++的预测库吗？"
Hi paddle teams,

在Mac M1上我使用PaddleOCR的cpp inference编译的x86_64版本时，我使用的paddle-inference是官网的https://paddle-inference-lib.bj.bcebos.com/2.2.1/cxx_c/MacOS/CPU/x86-64_clang_avx_openblas/paddle_inference_install_dir.tgz。
但是最后编译完成后,并执行可执行程序后报错 zsh: illegal hardware instruction。
请问这个是什么原因导致的？

[2022-03-10 02:19] Intsigstephon commented on #40378
您好，可以更新下pip试试

[2022-03-10 02:25] Intsigstephon commented on #40380
您好，paddle有一个全局的device设置函数 paddle.device.set_device()，可以指定OP运行的设备;  详情可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/device/set_device_cn.html#set-device。

[2022-03-10 02:43] liqitong-a commented on #40234
【队名】：划划水

【序号】：3

【状态】：报名

【链接】：https://github.com/liqitong-a/Paddle

[2022-03-10 03:29] ANDROIDTODO commented on #40390
当我编译PaddleOCR中cpp_infer的x86_64的版本时出现了如下情况，这个是paddle预测库的什么问题？
我发现paddle-inference-lib的third-part并没有zlib，所以我自己编译了一个zlib放到CMAKE指定的位置

yangjun@yangjun cpp_infer % sh tools/build.sh
-- The CXX compiler identification is AppleClang 13.0.0.13000029
-- The C compiler identification is AppleClang 13.0.0.13000029
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Check for worki

[2022-03-10 03:31] wuwuwuxxx opened #40394 "linux gpu编译错误"
**- 版本、环境信息：**
Paddle version: 2.2.2
Paddle With CUDA: True

OS: Ubuntu 18.04
Python version: 3.7.12

CUDA version: 11.2.142
Build cuda_11.2.r11.2/compiler.29558016_0
cuDNN version: None.None.None
Nvidia driver version: 510.47.03

**- 安装方式信息：**
compiled with docker paddlepaddle/paddle:2.2.2-gpu-cuda11.2-cudnn8

`cmake .. -DPY_VERSION=3.7 -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Debug -D

[2022-03-10 04:38] AndPuQing commented on #40234
【队名】：啊对对对

【序号】：94

【状态】：报名\提交

【链接】：https://github.com/PaddlePaddle/community/pull/22

[2022-03-10 05:59] ANDROIDTODO commented on #40390
Hi,
我在网上发现Mac M1上并不支持avx指令集，所以才会导致illegal hardware instruction的问题。
https://eclecticlight.co/2021/08/06/accelerating-the-m1-mac-an-introduction-to-simd/

是否能提供不带AVX的Mac c++预测库呢。谢谢

[2022-03-10 06:40] #40380 closed, assigned to Intsigstephon

[2022-03-10 06:44] liuyang77886 commented on #40234
【队名】：懒洋洋

【序号】：64

【状态】：报名

【链接】：

[2022-03-10 06:47] sk8boi commented on #40103
你好，我在使用 paddle.nn.functional.cross_entropy遇到同样问题。
因为labels的index序列和标签本身设定是要相同的，所以我在使用四位数字的Id作为标签类名时，会出现同样的错误，只好将四位数的Id映射到序列上面避免这个错误，请问这部分还有更好的优化方法吗？如果我还想继续使用四位数的标签的话。

[2022-03-10 07:03] jedibobo opened #40403 "中标麒麟系统使用昆仑K100板卡PaddleInference的python API预测问题"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.0，从下图链接里下的
![图片](https://user-images.githubusercontent.com/44748473/157607398-cb13dfbc-ef57-4760-9749-d14166ec2cf4.png)

    2）CPU：FT2000，使用昆仑K100推理
    4）系统环境：麒麟V10，Py37

预测脚本：
我是从PaddleDetection导出的模型，https://github.com/PaddlePaddle/PaddleDetection/blob/6e65f11d8ec0169655b5ec7614a6360b25090ae3/deploy/EXPORT_MODEL.md
只不过我的shape取得是3，416，416

然后使用如下脚本预测：
脚本基本上从给的r

[2022-03-10 07:05] jedibobo commented on #40403
如果可以的话，请提供一个yolov3-darknet53的预测脚本供参考。https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_hardware_support/xpu_docs/paddle_2.0_xpu_cn.html  我看这个支持页面是有该模型的支持。

[2022-03-10 07:10] WayneCFD commented on #40234
【队名】：IS

【序号】：71

【状态】：报名

【链接】：https://github.com/WayneCFD/PaddleScience

[2022-03-10 07:10] WayneCFD commented on #40234
【队名】：IS

【序号】：73

【状态】：报名

【链接】：https://github.com/WayneCFD/PaddleScience

[2022-03-10 07:40] pmajchrzak opened #40405 "AttributeError: module 'paddle' has no attribute 'distributed'"
Changes made by commit https://github.com/PaddlePaddle/Paddle/commit/f40ed5f421d64028c9781c2b77aeb2958327b090 causes a runtime error in the module /paddle_paddle/python/paddle/fluid/contrib/slim/tests/save_quant_model.py

### Application run command:
[code]
### ERROR:
[code]
### PaddlePaddle CMAKE parameters:
[code]

[2022-03-10 07:42] henryccl commented on #26055
你好！我也想使用 numpy array初始化卷积权重，但是你给的链接失效了。我在飞桨的官方文档里也没找到相关的使用方法，求解答。

[2022-03-10 08:14] minghaoBD commented on #40103
你好 @sk8boi

1. 关于label使用范围的问题，文档中要求
![image](https://user-images.githubusercontent.com/79566150/157614749-227de388-9e51-4b73-9cb5-88c1ccc89be3.png)
且代码中是有强判断：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/functional/loss.py#L1672
2. 这么做是考虑到更通用的场景，例如：string类型的类别等。建议1）写一个简单的映射函数 2）调用sklearn.preprocessing.LabelEncoder一键转换与反转换。

[2022-03-10 08:28] xiebaiyuan commented on #38379
+1 一样的报错。  用x86的miniforge 才可以，等于还是转译。

[2022-03-10 08:47] thunder95 opened #40413 "转静态图时报错 No Input(Y) found for ElementwiseOp operator"
测试过paddle.slice以及切换操作，在转静态图时没有真实输入，就会报各种错。

paddle.slice(y, axes=[-1], starts=[0], ends=[2]
y[:,:,:,:, 0:2]

[2022-03-10 08:59] ZiJINII commented on #40348
现在是localhost:8080打不开
![image](https://user-images.githubusercontent.com/92594026/157626859-0c0be52e-0fc2-45a5-9492-90e8d738b799.png)
![image](https://user-images.githubusercontent.com/92594026/157626965-f5b0d4c2-4388-467d-b340-e1c18ed167c4.png)

[2022-03-10 09:50] Stave604671 commented on #40234
【队名】：时雨

【序号】：49

【状态】：报名

【链接】：https://github.com/Stave604671/Paddle

[2022-03-10 11:06] smallv0221 commented on #40390
您好，我们目前没有不带AVX的mac c++预测库，非常抱歉

[2022-03-10 11:58] smallv0221 commented on #40394
您好，我们目前不支持debug模式编译哈

[2022-03-10 12:43] sighingnow commented on #40378
Actually I mean, it is an issue of the paddle distribution and should be fixed on the paddle side, rather than the end-user side.

[2022-03-10 12:50] FranklinBao commented on #40378
谢谢，问题已解决

[2022-03-10 14:12] lidanqing-vv commented on #37930
Instructions to run the models is in attachment of #PADDLEQ-1691

[2022-03-10 14:27] johnnychen94 commented on #40234
【队名】：JohnnyChen

【序号】：95

【状态】：报名

【链接】：https://github.com/johnnychen94/community

[2022-03-10 14:55] songjhaha commented on #40234
【队名】：适格的魔法师

【序号】：95

【状态】：报名

【链接】：https://github.com/songjhaha/community

[2022-03-11 00:54] MARD1NO commented on #40234
【队名】：OD精英

【序号】：16

【状态】：报名

【链接】：https://github.com/MARD1NO/Paddle

[2022-03-11 01:28] daquexian commented on #40234
【队名】：中国功夫窝们喜欢

【序号】：65

【状态】：报名

【链接】：https://github.com/daquexian/Paddle-Lite

[2022-03-11 01:32] doombeaker commented on #40234
【队名】：OneBeaker

【序号】：70

【状态】：提交 RFC

【链接】：https://github.com/PaddlePaddle/community/pull/54/

[2022-03-11 01:53] zgq91 opened #40432 "Tensor类数据是按行还是按列"
您好 我想请问一下 预测获取到的Tensor类的数据假设维度1x21x40x80。数据按行还是按列读取

for(int n=0; n<21; n++)
{
     for(int i=0; i<40; i++)
     {
            for(int j=0; j<80; j++)
             {
                 int index = n*40*80 + i*80 +j;
                 float data = output_data[index];
              }
     }
}

这样索引读取对嘛

[2022-03-11 01:58] cx9208 opened #40433 "无法在pypy下安装"
在pypy3.8下运行pypy -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple 无法直接安装，想问下是否可以支持？

[2022-03-11 03:21] docoter opened #40435 "如何进行模型并行（单GPU环境，模型结构存在可并行的地方）?"
如何用单GPU进行模型并行?

飞桨框架内用动态图或者动转静图以后，无法自动并行训练可并行的层。

比如例子中的结构，一个是纯并行，一个是纯串行。

如果模型自动并行了，那么并行的耗时应该远低于串行耗时,但实际是两者耗时相同。

请问是我的方法测试不对，还是飞桨不支持模型中有能并行的结构不会并行。

模型结构如下图：
![无标题](https://user-images.githubusercontent.com/57163496/158716635-90ab88f9-fd64-4a82-96cf-aee3f33aa9eb.png)
模型代码如下：

[code]

_______________________________________________________________
两模型耗时为33/35秒

可见串行结构和并行结构是一样的耗时,但奇怪的是模型开始训练一段时间后,

[2022-03-11 03:37] AceGuoX opened #40436 "step() missing 1 required positional argument: 'metrics'"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.2
    4）系统环境：paddle官方平台
- 训练信息
![图片](https://user-images.githubusercontent.com/38156085/157797221-4493b690-21b7-4b7c-b0a1-495c5b03168d.png)

- 复现信息：
[code]
- 问题描述：使用高层API进行训练时，使用ReduceOnPlateau自适应的学习率

[2022-03-11 03:45] Li-fAngyU commented on #40234
【队名】：lfy

【序号】：8

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/40472

[2022-03-11 06:08] ZiJINII commented on #40348
网址打不开

[2022-03-11 06:10] RainFrost1 commented on #40432
具体指使用Paddle inference时，Tensor的数据维度吗？

[2022-03-11 06:19] RainFrost1 commented on #40433
请参考安装文档：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html。
如安装gpu版本，请确认cuda版本，目前pip 安装paddle2.2.2，cuda版本支持10.1、10.2、11.0、11.1、11.2。如不匹配请升级cuda版本或者使用低版本paddle

[2022-03-11 07:04] smallv0221 commented on #40394
可以尝试不使用debug编译看看能不能成功

[2022-03-11 07:05] zhwesky2010 commented on #40436
@AceGuoX 这个学习率策略和其他不同，step时需要输入loss，`scheduler.step(loss)`，需要在高层API `model.fit` 里进行支持，基础API无需调整

[2022-03-11 07:15] LyndonKong commented on #40234
【队名】：festina

【序号】：82

【状态】：报名

【链接】：https://github.com/LyndonKong/Paddle2ONNX

[2022-03-11 07:15] LyndonKong commented on #40234
【队名】：festina

【序号】：83

【状态】：报名

【链接】：https://github.com/LyndonKong/Paddle2ONNX

[2022-03-11 07:20] AceGuoX commented on #40436
就是说现在高层API`model.fit`不能用那个学习策略是嘛

[2022-03-11 07:27] wuwuwuxxx commented on #40394
不用是可以的，cpu版本的debug模式也是可以的，就是gpu不可以。

[2022-03-11 07:35] jiweibo commented on #40403
您好，模型应该是有多个输入吧，看报错感觉只给了部分输入。

https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/python/yolov3

[2022-03-11 08:28] qingqing01 commented on #40436
现在的确model.fit不支持和ReduceOnPlateau搭配使用

[2022-03-11 08:43] jedibobo commented on #40403
感謝回复，我按照提供的demo改了下脚本。新的测试在运行到最后时有bug。
(paddle-envs) [lyb@localhost Paddle-test]$ python infer-yolov3.py > error.txt
XPURT /home/lyb/paddle-envs/lib64/python3.7/site-packages/paddle/fluid/../libs/libxpurt.so loaded
I0314 10:54:56.613330 40247 analysis_predictor.cc:643] Lite subgraph engine is enabled
--- Running analysis [ir_graph_build_pass]
--- Running analysis [ir_graph_clean_pass]
--- Running a

[2022-03-11 09:05] shawnmei1880 opened #40452 "相同输入数据在paddle1.6.1预测中运行耗时不稳定，差异较大"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
                processor	: 1
               vendor_id	: GenuineIntel
              cpu family	: 6
              model		: 85
              model name	: I

[2022-03-11 09:40] lucasjinreal opened #40455 "paddle/fluid/core.py", line 256, in <module> from .core_avx import * ImportError: /home/xx/anaconda3/lib/python3.8/site-packages/paddle/fluid/core_avx.so: undefined symbol: _dl_sym, version GLIBC_PRIVATE"
paddle/fluid/core.py", line 256, in <module>
    from .core_avx import *
ImportError: /home/xx/anaconda3/lib/python3.8/site-packages/paddle/fluid/core_avx.so: undefined symbol: _dl_sym, version GLIBC_PRIVATE

[2022-03-11 09:41] lucasjinreal commented on #36801
2022 past one third, please support 21.04..... Got the same issue on 21.04... and clearly it was nothing to do with gcc8....

[2022-03-11 10:00] isLinXu commented on #40234
【队名】：自然选择

【序号】：1&2

【状态】：报名&提交RFC&提交代码

【链接】：https://github.com/isLinXu/Paddle

[2022-03-11 10:02] zzywqq commented on #40333
Could you give me a reference issue？@yingyibiao

[2022-03-11 11:47] myzhuang opened #40463 "【安装错误】执行安装验证paddle.utils.run_check()报错"
- 标题：【安装错误】执行安装验证paddle.utils.run_check()报错
- 版本、环境信息：
    1）PaddlePaddle版本： paddlepaddle-gpu==2.1.1
    2）CPU：Intel(R) Xeon(R) Gold 6240 CPU @ 2.60GHz
    3）GPU：Tesla V100-DGX，CUDA10.2 和CUDNN7.6.5
    4）系统环境：linux CentOS7，python3.8，anaconda环境
- 安装方式信息：
1）conda安装
conda install paddlepaddle-gpu==2.1.1 cudatoolkit=10.2 --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/
2）本地编译：无
3）

[2022-03-11 12:22] MARD1NO opened #40467 "[Linux编译错误] Linux编译Paddle import paddle失败"
按照官方文档从源码进行编译：

环境信息：
[code]

- 安装方式信息：
本地编译：请提供cmake命令，编译命令
[code]

`import paddle`报错如下：
[code]

[2022-03-11 16:03] AriouatI opened #40473 "c++推理的问题 / Problem with c++ inference"
你好，
在构建 paddle c++ 推理之后，我尝试运行 paddleOCR 和 paddleDetection 但我遇到了多个问题：

**PaddleOCR：**
用 cpu 运行它确实有效，但是当我尝试用 GPU 运行它时，我得到了这个：
`malloc(): invalid size (unsorted)
Aborted (core dumped) `
我试图找到错误的来源，它似乎来自`paddle/fluid/inference/api/details/zero_copy_tensor.cc`，下面的行更具体：
`auto *dev_ctx = static_cast<const paddle::platform::CUDADeviceContext *>(pool.Get(gpu_place));`

关于可能导致这种情况的任何想法？以及如何解决？

**PaddleDETE

[2022-03-11 17:15] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：73

【状态】：报名

【链接】：https://github.com/yangguohao/PaddleScience

[2022-03-11 17:28] gsq7474741 commented on #40234
【队名】：Cao8ML

【序号】：26

【状态】：报名

【链接】：https://github.com/QianQian-L/Paddle

[2022-03-11 17:38] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：12

【状态】：报名

【链接】：https://github.com/yangguohao/Paddle

[2022-03-11 17:38] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：13

【状态】：报名

【链接】：https://github.com/yangguohao/Paddle

[2022-03-11 17:38] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：26

【状态】：报名

【链接】：https://github.com/yangguohao/Paddle

[2022-03-11 17:39] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：30

【状态】：报名

【链接】：https://github.com/yangguohao/Paddle

[2022-03-11 17:49] gsq7474741 commented on #40234
【队名】：Cao8ML

【序号】：30

【状态】：报名

【链接】：https://github.com/QianQian-L/Paddle

[2022-03-12 01:56] zgq91 commented on #40432
使用Paddle inference时

[2022-03-12 02:54] lujiang001108 commented on #39004
更新了paddlepaddle-gpu版本到2.2.0，还是报错如下。还有是，官方可以修复一下嘛，你们在你们的网址里面现在能跑通吗？

在 2022-03-02 19:56:26，"Linjie Chen" ***@***.***> 写道：

您好，应该是对paddlepaddle版本进行了手动升级导致的AIStudio环境cuda版本过低的问题。我们对该AIStudio项目进行了升级，您可以用最新版本再运行下哈，有问题随时反馈，谢谢

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you authore

[2022-03-12 03:33] shangshanruowo opened #40476 "使用paddle inference时加载Config类报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2022-03-12 03:39] shangshanruowo commented on #40476
![image](https://user-images.githubusercontent.com/101441487/158002205-d39eca0b-3ba0-472a-b6be-204d5d50a9a7.png)
用的时paddle inference2.2 cpu版本，开始安装官方demo实现，cmake成功之后打开项目也会出上面的错误，最后我直接将paddle
inference文件里面全部库文件和动态连接库集成在qt中编程，运行成功，没有报错。发现加载Config类就会报上面的错误。

[2022-03-12 03:41] shangshanruowo commented on #40476
![image](https://user-images.githubusercontent.com/101441487/158002369-06dc15fa-58cf-425f-b38d-2abd43bc15e3.png)

[2022-03-12 03:42] shangshanruowo commented on #40476
![1212](https://user-images.githubusercontent.com/101441487/158002392-e441c831-8d22-4985-869c-f856da6c64d3.png)

[2022-03-12 03:42] #40476 closed, assigned to wangxinxin08

[2022-03-12 04:54] Asthestarsfalll commented on #40234
【队名】：我完全没想法

【序号】：12

【状态】：报名

【链接】：https://github.com/Asthestarsfalll/Paddle

[2022-03-12 09:35] linjieccc commented on #39004
试下从
https://aistudio.baidu.com/aistudio/projectdetail/1639964
这里启动一个新的环境，重新运行一下项目哈，验证过可以正常运行

[2022-03-12 09:49] Zhiyuan-Fan commented on #40234
【队名】：长风

【序号】：78

【状态】：报名

【链接】：https://github.com/Elvisambition/PaddleNLP

[2022-03-12 11:59] tiancaishaonvjituizi commented on #40234
【队名】：我的名字连起来就是王豆豆

【序号】：19

【状态】：报名

【链接】：https://github.com/tiancaishaonvjituizi/Paddle

[2022-03-12 12:06] tiancaishaonvjituizi commented on #40234
【队名】：我的名字连起来就是王豆豆

【序号】：28

【状态】：报名

【链接】：https://github.com/tiancaishaonvjituizi/Paddle

[2022-03-12 16:38] ZendLily opened #40486 "Win10安装错误：安装之后Import paddle出现“ImportError: DLL load failed: 拒绝访问。”"
- 版本、环境信息：
    PaddlePaddle版本：CUDA10.2的PaddlePaddle，安装显示成功
    Paddle version: None
    Paddle With CUDA: None
    OS: Windows 10
    Python version: 3.7.9
    CUDA version: 10.2.89
    cuDNN version: 7.6.5
    Nvidia driver version: 457.63
- 安装方式信息：
    pip安装
   
![安装成功](https://user-images.githubusercontent.com/74945046/158026505-7fe3704b-a40b-43b0-9abf-fcf068969ffb.png)
![拒绝访问](https://user-ima

[2022-03-12 17:43] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：26

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/40487

[2022-03-13 01:29] GreatV commented on #40234
【队名】：小蜗牛爬爬爬

【序号】：7

【状态】：报名

【链接】：https://github.com/GreatV/Paddle

[2022-03-13 04:11] AndPuQing opened #40489 "Does paddle have plans to support the second derivative of sin and cos?"

[2022-03-13 06:08] wangxinxin08 commented on #40473
1. PaddleDetection中报错的原因是你的输入类型不正确，应当将输入类型转换成float32
2. PaddleOCR的问题看起来是无法找到GPU的意思，可以确认下是否是GPU编译的结果或者cuda等环境变量安装正确

[2022-03-13 06:32] WenmuZhou commented on #40489
Hello, according to your new requirements, we would like to further communicate with you about the background of requirements and usage scenarios. My email address is zjwenmu@gmail.com. If it is convenient, I can communicate with you one-on-one, thank you

[2022-03-13 06:47] WenmuZhou commented on #40486
你好，是否是没有把cuda加到path下呢

[2022-03-13 07:31] Duum commented on #40234
【队名】：我是大帅比

【序号】：4

【状态】：报名

【链接】：https://github.com/Duum/Paddle

[2022-03-13 08:54] ZendLily commented on #40486
应该是正常加入了
![cuda安装信息](https://user-images.githubusercontent.com/74945046/158052272-78ab30b3-3115-44ef-aa9d-ed114043ad5b.png)
![cuda环境变量](https://user-images.githubusercontent.com/74945046/158052278-702f7bd4-0d5f-4a11-9792-77d1a11cfdbe.png)

[2022-03-13 09:16] LyaCJ opened #40490 "如何在docker中使用paddlefl？我已经安装了docker，并且下拉了docker pull paddlepaddle/paddlefl:1.1.2这句，但是docker run --name <docker_name> --net=host -it -v $PWD:/paddle <image id> /bin/bash这句我没有读懂，请问具体在docker中应该如何使用paddlefl？"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2022-03-13 09:18] LyaCJ commented on #40490
您好，我在使用docker安装paddlefl，我通过了教程的第一句话docker pull paddlepaddle/paddlefl:1.1.2，但是第二句话我没有读懂，请问对应到我的电脑上docker run --name <docker_name> --net=host -it -v $PWD:/paddle <image id> /bin/bash这句话应该如何执行？我的电脑是Windows10.

[2022-03-13 09:45] ZendLily commented on #40486
刚才又试了一下，重新安装pillow，在管理员权限控制台是可以正常使用的，但是在Pycharm中依然不能正常使用
![管理员权限能够运行](https://user-images.githubusercontent.com/74945046/158053902-41f132d2-7d49-4fbe-9419-d3aca6ddde11.png)

[2022-03-13 10:03] ZendLily commented on #40486
以管理员权限运行Pycharm正常运行，初步判断Windows Defender拦截。

[2022-03-13 11:45] WenmuZhou commented on #40490
在命令行下执行就行哈，这句话里的docker_name指创建的容器名字，你随便取个就行，然后-v $PWD:/paddle  是映射当前路径到容器里的/paddle

[2022-03-13 19:39] Water2style opened #40492 "静态图QAT训练完 ,在convert后, 精度测试时掉点."
你好,我在做QAT训练时发现一个问题想请教一下,

1.训练时test的best_acc1是 68.4% , 把best_model做了convert之后(用netron打开能看到整数) ,再拿去test精度, 竟然掉了接近 0.7%的点.
请问这正常吗? 他在convert之前, test精度的时候,里面是用FP32计算的吗?所以精度会高一些?

2.同样的一个模型, 从动态图做完QAT量化, jit.save之后再eval是不掉点的;
并且我还拿Paddle-inference上推理, 精度也是不掉的.
动态图的infer模型,因为不像静态图那样能convert, 但是据我所知,他在paddle-inference上用TRT-INT8推理, 编译引擎的时候,会把整数给算出来的.
所以是否可以怀疑 静态图做完QAT之后进行convert会造成精度损失?

谢谢!

[2022-03-14 01:13] jiaohuix opened #40493 "【docker paddle】ssh连接paddle容器后运行不了python"
- 标题：python: error while loading shared libraries: libpython3.7m.so.1.0: cannot open shared object file: No such file or directory
- 版本、环境信息：
    1）PaddlePaddle版本：2.2
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：GPU型号3090，CUDA 11.2 和CUDNN版本号8
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.p

[2022-03-14 01:48] jedibobo commented on #40403
这次输入的shape分别是[1,2],[1,3,608,608],[1,2]，和我netron里看到的一样。在执行run的时候报了错。

[2022-03-14 02:37] RainFrost1 commented on #40467
pip install 安装对应的版本，能使用吗

[2022-03-14 02:43] WenmuZhou commented on #40486
好的，那直接用管理员权限启动pycharm使用吧

[2022-03-14 02:46] RainFrost1 commented on #40452
老版本已经不会进行更新，建议使用最新版本

[2022-03-14 02:49] ANDROIDTODO commented on #40390
@smallv0221 请问，不带AVX的mac c++预测库会有计划吗？还是不会提供这样的。如果是这样，M1或者是M2平台的OCR该如何处理呢？

[2022-03-14 03:23] jiweibo commented on #40403
可以试下把lite选项注释掉，看下使用paddle原生算子能否work
`# config.enable_lite_engine(PrecisionType.Float32, True)`

[2022-03-14 03:30] TXacs opened #40498 "请问有办法获取GPU的实际使用显存吗？"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.2
    2）CPU/GPU：3090
    3）系统环境：ubuntu18.04
    4）3.6
    5）24GB

类似pytorch的torch.cuda.memory_allocated()和torch.cuda.max_memory_reserved()

[2022-03-14 03:33] Walstruzz opened #40499 "PPOCR转ONNX再转回Paddle报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.0
    2）CPU
    3）系统环境：Ubuntu16.04
    4）Python3.8

[2022-03-14 03:35] jedibobo commented on #40403
XPURT /home/lyb/paddle-envs/lib64/python3.7/site-packages/paddle/fluid/../libs/libxpurt.so loaded
--- Running analysis [ir_graph_build_pass]
--- Running analysis [ir_graph_clean_pass]
--- Running analysis [ir_analysis_pass]
I0314 11:31:29.655280 41246 ir_analysis_pass.cc:46] argument has no fuse statis
--- Running analysis [ir_params_sync_among_devices_pass]
--- Running analysis [adjust_cudnn_work

[2022-03-14 03:38] gsq7474741 commented on #40234
【队名】：Cao8ML

【序号】：26

【状态】：提交rfc

【链接】：https://github.com/QianQian-L/Paddle

[2022-03-14 03:39] gsq7474741 commented on #40234
【队名】：Cao8ML

【序号】：30

【状态】：提交rfc

【链接】：https://github.com/QianQian-L/Paddle

[2022-03-14 03:54] jedibobo commented on #40403
我这边把原生算子调通了，改了下xpu配置
[code]
顺便请教下原生的库是否调用了XPU？这边没看到有xpu pass替换的log

[2022-03-14 05:24] tsijeodhsjsh opened #40503 "'Tensor' object has no attribute 'retain_grad'"
代码：
def forward(self, x, noise):
        x = x - noise
        x = self._models[0](x)

        if len(self._models) > 1:
            x_list = [x]
            for layer in self._models[1:]:
                x = layer(paddle.concat(x_list, axis=1))
                x_list.append(x)
        x.retain_grad()

        return x
问题：
 x.retain_grad()
AttributeError: 'Tensor' object has no attribute 'retain_g

[2022-03-14 05:54] jiangjiajun commented on #40499
Hi， @Walstruzz 可以描述下具体的错误信息。 另外为什么需要转成ONNX再转回Paddle呢？

[2022-03-14 06:13] Laciniata commented on #37349
我用conda安装遇到了相同的问题，而且用conda安装8.2版cudnn会出现环境冲突，请问是否对conda版进行了相同的修复？

我使用的安装指令为：`conda install paddlepaddle-gpu==2.2.2 cudatoolkit=11.2 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge`

[2022-03-14 06:40] jiweibo commented on #40403
应该是使用的paddle的xpu算子。 可以看下xpu-smi info看下xpu卡有没有利用起来

[2022-03-14 06:43] jedibobo commented on #40403
谢谢回复，我这边测试看占用在10%不到，请问下除了增大batch_size还有什么方法吗？

[2022-03-14 08:27] RainFrost1 commented on #40435
动态图应该暂时不支持

[2022-03-14 08:28] RainFrost1 commented on #40455
应该是glib版本不匹配，建议使用官方镜像，请参考 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[2022-03-14 08:31] RainFrost1 commented on #40463
其他操作报错吗？建议使用官方docker环境

[2022-03-14 08:35] lucasjinreal commented on #40455
I don't want using docker, any option to solve this issue?

[2022-03-14 08:35] RainFrost1 commented on #40467
建议使用官方docker环境，如develp版本进行编译, ubuntu 20.04 gcc版本为9+，可能存在问题

[2022-03-14 08:41] myzhuang commented on #40463
会报错，跑paddleDetection的例子，也是报了一样的错

[2022-03-14 09:04] Aurelius84 commented on #40413
您好，标题是报错在 ElementwiseOp 算子上，可否贴一下具体的报错信息，和代码上下问题，以方便定位问题？

[2022-03-14 09:47] xiao-ming-code opened #40525 "LIC2020推荐对话系统"
您好，我想fork LIC2020推荐对话系统的baseline,但是因为python版本的原因，无法在 ai studio上进行fork,希望可以进行更新，对应的链接是:https://aistudio.baidu.com/aistudio/projectdetail/360479?channelType=0&channel=0
希望可以得到解答，非常感谢

[2022-03-14 11:12] zhangbin1997 opened #40526 "torch中Variable(X, requires_grad=True)对应的paddle语句是什么呀"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2022-03-14 11:15] Thinksky5124 opened #40527 "paddle.nn.functional.interplate一维插值不合符预期"
1、环境配置

    PaddlePaddle版本：paddlepaddle-gpu 2.2.2

    CPU/GPU（GPU驱动、CUDA、cuDNN版本）：
    NVIDIA-SMI 440.64.00 Driver Version: 440.64.00 CUDA Version: 10.2

    操作系统版本：

    Linux version 3.10.0-1062.18.1.el7.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-39) (GCC) )

    Python版本：3.7.11

    显存信息：Tesla V100-SXM2 16G

2、BUG复现步骤：
最小复现代码：
[code]
3、期望结果：

在一维上插值，

[2022-03-14 11:53] #38856 closed, assigned to baoachun

[2022-03-14 12:18] zhhezhhe commented on #31683
遇到了同样的问题，怎么解决呢？

[2022-03-14 12:27] zhhezhhe commented on #21917
还是有这个问题，怎么解决呢？cudnn环境pytorch没问题

[2022-03-14 12:36] WenmuZhou commented on #40489
Hi, no plans for now

[2022-03-14 12:38] Asthestarsfalll commented on #40234
【队名】：我完全没想法

【序号】：13

【状态】：提交rfc

【链接】：https://github.com/Asthestarsfalll/Paddle

[2022-03-14 13:56] jczaja opened #40540 "Advice on model that stopped to work"
After commit 975f99ab012310e97cbdee44bb25a05ad7bad012 model https://github.com/PaddlePaddle/Paddle/issues/38126#issuecomment-1003277884 that We use to track our NHWC work, stopped to work (only for oneDNN).

Problem is that in mentioned model there is a check for "sin" operator
https://github.com/PaddlePaddle/Paddle/blob/e157f2afb78a9183d71bf03ffd67379040173056/paddle/fluid/framework/operator.cc#L

[2022-03-14 15:07] agno3xzy commented on #40234
【队名】：None

【序号】：6

【状态】：报名

【链接】：https://github.com/agno3xzy/Paddle

[2022-03-14 17:00] holazzer commented on #40234
【队名】：holazzer

【序号】：75

【状态】：报名

【链接】：https://github.com/holazzer/PaddleNLP

[2022-03-14 17:01] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：30

【状态】：提交rfc

【链接】：https://github.com/PaddlePaddle/Paddle/pull/40545

[2022-03-14 23:49] unseenme commented on #40234
【队名】：UnseenMe

【序号】：37

【状态】：报名

【链接】：https://github.com/unseenme/Paddle

[2022-03-14 23:50] unseenme commented on #40234
【队名】：UnseenMe

【序号】：84

【状态】：报名

【链接】：https://github.com/unseenme/Paddle2ONNX

[2022-03-15 01:35] wenhwu commented on #37854
@wangxicoding ，请问在win10下有没有`dist.all_gather()`的替代方案呢？

谢谢

[2022-03-15 01:40] daidaiershidi opened #40547 "KaimingUniform的初始化结果与torch不一致"
- 版本、环境信息
1）PaddlePaddle版本：paddlepaddle-gpu 2.2.2
2）CPU/GPU：NVIDIA-SMI 440.64.00 Driver Version: 440.64.00 CUDA Version: 10.2
3）系统环境：Linux version 3.10.0-1062.18.1.el7.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-39) (GCC) )

- 复现信息：
[code]
- 建议描述：
目前torch的卷积均使用torch.nn.init.kaiming_uniform_[https://pytorch.org/docs/stable/nn.init.html?highlight=kaiming_un

[2022-03-15 01:42] PengyuanHAN commented on #40234
【队名】：HanSansui

【序号】：72

【状态】：报名

【链接】：https://github.com/Hansansui-cv/PaddleScience

[2022-03-15 02:07] tsijeodhsjsh opened #40548 "paddle paddle 中 retain_grad() 查看非子叶张量的梯度要用什么函数"
paddle paddle 中 retain_grad() 查看非子叶张量的梯度要用什么函数

[2022-03-15 02:18] RainFrost1 commented on #40463
看着像是CUDA环境配置的有问题，环境问题有时间确实难以定位，建议使用docker镜像吧

[2022-03-15 02:22] shawnmei1880 commented on #40452
请问是这个版本就会存在这个问题么

[2022-03-15 02:28] RainFrost1 commented on #40455
According to the error report, it may be a glib library problem. Upgrading glib may solve the problem. Environmental problems are difficult to locate，but using docker can easily  solve the problem.

[2022-03-15 02:28] RainFrost1 commented on #40452
这个不太确定，不过老版本确实可能存在一些未知的bug

[2022-03-15 02:31] TCChenlong opened #40549 "【PaddlePaddle Hackathon 2】111、深度体验飞桨动静转换@to_static功能，并产出一份评估报告"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：深度体验飞桨动静转换@to_static功能，并产出一份评估报告
- 技术标签：PaddlePaddle
- 任务难度：中等
- 详细描述：飞桨框架于 2.0 正式版之后正式发布了动静转换@to_static功能，并在2.1、2.2 两个大版本中不断新增了各项功能，以及详细的[使用文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/04_dygraph_to_static/index_cn.html)

[2022-03-15 02:46] TCChenlong opened #40551 "【PaddlePaddle Hackathon 2】112、深度体验飞桨分布式训练功能，并产出一份评估报告"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：深度体验飞桨分布式训练功能，并产出一份评估报告
- 技术标签：PaddlePaddle、分布式
- 任务难度：中等
- 详细描述：飞桨框架于 2.0 正式版全面支持了动态图训练，并在2.1、2.2 两个大版本中不断完善分布式能力，同时大幅增强了训练功能。在本任务中，我们希望能收到你对于飞桨动态图分布式训练功能的使用感受，可以与其他深度学习框架做功能对比，并产出一份对应的评估报告。

**提示：** 根据文档示例，体验分布式训练相关功能，包括但不限于：在Fleet API使用、分

[2022-03-15 02:47] TCChenlong opened #40552 "【PaddlePaddle Hackathon 2】113、深度体验飞桨单机转分布式训练全流程，并产出一份评估报告"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：深度体验飞桨单机转分布式训练全流程，并产出一份评估报告
- 技术标签：PaddlePaddle、分布式
- 任务难度：中等
- 详细描述：飞桨框架于 2.0 正式版全面支持了动态图训练，并在2.1、2.2 两个大版本中不断完善分布式能力，同时大幅增强了训练功能。在本任务中，我们希望能收到你对于飞桨动态图分布式训练功能的使用感受，可以与其他深度学习框架做功能对比，并产出一份对应的评估报告。

	- 请根据【单卡转分布式示例】文档，将【单机示例】转写成分布式示例。
	- 单卡转分布

[2022-03-15 03:37] Ruri-94 opened #40554 "验证结果不变"
模型训练过程中损失变化，但在验证集上的验证结果不变。可能的原因都有哪些？

[2022-03-15 05:38] Meiyim opened #40559 "paddle-bfloat影响pip install安装paddle nightlybuild"
尝试在centos 7机器上 通过pip install 安装 paddle nightly build: https://paddle-wheel.bj.bcebos.com/develop/linux/gpu-cuda10.1-cudnn7-mkl_gcc5.4/paddlepaddle_gpu-0.0.0.post101-cp37-cp37m-linux_x86_64.whl

系统版本：
CentOS Linux release 7.5.1804 (Core)
Python 3.7.10 (default, Feb 26 2021, 18:47:35)
[GCC 7.3.0] :: Anaconda, Inc. on linux

遇到paddle-bfloat 安装报错，信息如下：
[code]

[2022-03-15 05:59] LiuChiachi commented on #40547
您好～感谢关注

这个问题请@windstamp 帮忙复现确认和评估一下，感谢

[2022-03-15 06:01] LiuChiachi commented on #40548
您好
`tensor.grad`就可以

[2022-03-15 06:04] LiuChiachi commented on #40554
您好，您是想问训练到后期loss一直下降可是验证集的指标一直不再提升吗？可否详细描述您的问题呢～

如果是到后面发生的如上现象，可以考虑是过拟合的情况。

[2022-03-15 06:13] lidanqing-vv commented on #40540
@jczaja  Hi How is it now? I saw all your CIs passed

[2022-03-15 06:24] LiuChiachi commented on #40559
请 @pangyoki 帮忙分析一下，thanks~

[2022-03-15 06:28] LiuChiachi commented on #40559
HI. @Meiyim 可以尝试先直接pip安装paddle-bfloat

[2022-03-15 06:55] Ruri-94 commented on #40554
您好，我的问题是在从模型训练开始 验证集的指标就不变

[2022-03-15 07:04] xiao-ming-code opened #40562 "Conversational-Recommendation-BASELINE"
使用的环境：
paddlepaddle-gpu==1.6.1.post97
python ==2.7
cuda==11.4
模型对应github链接：https://github.com/cstghitpku/Research/tree/master/NLP/Conversational-Recommendation-BASELINE
环境要求是按照README.ME安装，执行步骤也安装流程一步步执行，但是在执行 python data_generator.py 出现一下的错误
![} K $()BK%2)K@RJ`VWU{BX](https://user-images.githubusercontent.com/73177290/158324047-58965494-f41f-430d-bf9f-4e77087ec141.png)
代码出错的位置
![}0W254B{6YZBZWXB~F

[2022-03-15 07:09] LiuChiachi commented on #40562
您好，从报错信息来还看不出是PaddlePaddle框架的问题，建议您去您参考的项目的仓库提issue，排除一下是否是模型代码的原因，感谢关注～
看原仓库是，https://github.com/PaddlePaddle/Research/issues

[2022-03-15 07:23] xiao-ming-code commented on #40525
可以更新版本代码么？？

[2022-03-15 07:23] lidanqing-vv commented on #40269
@jakpiase  Hi, you will add mkldnn affine_channel later right? and it should solve this problem.

[2022-03-15 07:38] Meiyim opened #40566 "paddle.take_along_axis 与torch.gather运行结果不一致"
paddle 采用nightlybuild(2022.3.15)
测试代码:
[code]
若将`L` 设置为3，运行正常，当`L==200`时，有如下报错(cuda11.0)：
[code]

以下torch代码可以成功运行
[code]

[2022-03-15 07:50] wenming2014 commented on #40493
您好，python报错找不到libpython3.7m.so.1.0，找到这个so包所在的文件夹，然后复制so包到/usr/local/lib，然后export LD_LIBRARY_PATH=/usr/local/lib。实在不行就重装python吧

[2022-03-15 07:51] jczaja commented on #38126
The issues reported here are fixed by #40049 . Please retest and let us now if all works for you

[2022-03-15 07:54] jczaja commented on #40540
@lidanqing-intel Model from #38126 is tested only internally by us. It is not part of CI.

[2022-03-15 08:21] wenming2014 commented on #40503
您好，暂时没有对应的接口，可以通过nvidia-smi获取相关信息，比如
nvidia-smi --id=$CUDA_VISIBLE_DEVICES --query-compute-apps=used_memory --format=csv -lms 100 > "$mem_usage.log" 2>&1 &

[2022-03-15 08:22] wenming2014 commented on #40498
您好，暂时没有对应的接口，可以通过nvidia-smi获取相关信息，比如
nvidia-smi --id=$CUDA_VISIBLE_DEVICES --query-compute-apps=used_memory --format=csv -lms 100 > "$mem_usage.log" 2>&1 &

[2022-03-15 08:24] wenming2014 commented on #40503
您好，tensor的用法见https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Tensor_cn.html#tensor

[2022-03-15 08:28] docoter commented on #40435
我用@to_static转为了静态图了呀

[2022-03-15 08:31] Water2style opened #40573 "静态图QAT训练完成，convert模型后再测试精度掉点."
你好,我在做QAT训练时发现一个问题想请教一下,

1.训练时test的best_acc1是 68.4% , 把best_model做了convert之后(用netron打开能看到整数) ,再拿去test精度, 竟然掉了接近 0.7%的点.
请问这正常吗? 他在convert之前, test精度的时候,里面是用FP32计算的吗?所以精度会高一些?

2.同样的一个模型, 从动态图做完QAT量化, jit.save之后再eval是不掉点的;
并且我还拿Paddle-inference上推理, 精度也是不掉的.
动态图的infer模型,因为不像静态图那样能convert, 但是据我所知,他在paddle-inference上用TRT-INT8推理, 编译引擎的时候,会把整数给算出来的.
所以是否可以怀疑 静态图做完QAT之后进行convert会造成精度损失?

谢谢!

[2022-03-15 08:35] wenming2014 commented on #40526
您好，paddle Variable的用法见：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/Variable_cn.html#variable

[2022-03-15 08:38] yghstill commented on #40492
@Water2style 请问静态图模型是哪个？我们复现解决下问题。

[2022-03-15 08:49] #40526 closed, assigned to nobody

[2022-03-15 08:49] wenming2014 commented on #40525
您好，具体是python版本什么问题？

[2022-03-15 08:51] LiuChiachi commented on #40566
感谢关注～
是否可以请 @huangxu96 同学帮忙看一下这个问题，十分感谢～

[2022-03-15 08:51] xiao-ming-code commented on #40525
ai studo 不能fork python =2.7 的项目
![UC 9_AD$BW1_JPPA2F8}H6](https://user-images.githubusercontent.com/73177290/158340773-cfe0d979-bbb5-4e3d-96fd-ab2b17e86cec.png)
运行不了

[2022-03-15 08:58] xiao-ming-code opened #40578 "PaddleCheckError"
使用的环境：
paddlepaddle-gpu==1.6.1.post97
python ==2.7
cuda==11.4
模型对应github链接：https://github.com/cstghitpku/Research/tree/master/NLP/Conversational-Recommendation-BASELINE
在训练retrieval_model  bash run_train.sh出现以下的错误
![97{H{JG9USL(5`U8LTVYU)C](https://user-images.githubusercontent.com/73177290/158342048-63022024-e30e-4c3b-a0ba-f2e669acf476.png)

[2022-03-15 09:02] Water2style commented on #40492
我的代码是参考“使用预测模型进行量化训练示例”改的，去掉了蒸馏部分。
ref: https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/quant/quant_aware_with_infermodel
输入的模型是 ppclas的inference模型.（目前是MobileNetV1和ResNet50都有这个现象）

目前存在的现象是：

比如训练30个EPOCH， train一个epoch，test一个epoch， 然后比如最佳epoch是 25，然后测当时测的精度是68%，
然后30个Epoch训练完，程序接着一个 static.load，然后convert， 然后test这个converted  best_model, 精度就和之前的不一样了，掉了快接近1%.

所以怀疑convert带来了一些偏差

[2022-03-15 09:04] Water2style commented on #40573
已有人回答同一个issue，关闭此重复issue

[2022-03-15 09:04] #40573 closed, assigned to LiuChiachi

[2022-03-15 09:21] QianQian-L opened #40582 "【Linux MacOS】多平台编译错误"
- 标题：多平台编译错误
- 版本、环境信息：
    1）PaddlePaddle版本：develop
    2）CPU：APPLE M1，AMD r4800h,
    3）GPU：无
    4）系统环境：Mac OS 12，ubuntu 18.04、20.04，Python3.7、3.8、3.9

报错信息

[code]
以及

[code]

[2022-03-15 09:33] BrilliantYuKaimin commented on #40234
【队名】：为往圣继绝学

【序号】：24

【状态】：报名

【链接】：https://github.com/BrilliantYuKaimin/Paddle

[2022-03-15 09:50] LiuChiachi commented on #40578
您好，您参考的模型readme里推荐的环境如下：
系统：CentOS 6.3, cuda 9.0, CuDNN 7.0
python 2.7
PaddlePaddle 1.6.1

我猜测是您机器上的cuda版本太新，Paddle版本还是1.6版本，两者不匹配导致的。建议让环境和文档描述的保持一致，也可以尝试下安装最新的Paddle，看是否可以跑通。但前者可能更保险一些，可能可以更快把模型跑起来。

[2022-03-15 10:07] LiuChiachi commented on #40582
您好，现在对M1上编译的支持可能还不完善，您可以直接使用官网发布的包直接安装PaddlePaddle，或者使用官网提供的docker 镜像，在docker容器内进行编译。

感谢关注～

[2022-03-15 10:10] LiuChiachi commented on #40554
loss下降吗，可以排查下网络有没有bug，比如用训练集的数据看看评估指标。如果没有bug的话，建议调整超参数。

[2022-03-15 11:52] Reatris commented on #38159
我又来了，这个问题又出现了，现在我用的TRT7，又出现这个问题了，上次是换TRT8 解决的 @jiangjiajun
这次没法换trt8了

[2022-03-15 12:31] lucasjinreal commented on #40455
@RainFrost1  what's the exactly glib version requires? I think it might because of conda.

[2022-03-15 13:12] tsijeodhsjsh opened #40598 "paddle paddle 中 保留梯度 要用什么函数"

[2022-03-15 13:23] LiuChiachi commented on #40598
For example

[code]

[2022-03-15 16:19] jinyouzhi commented on #40234
【队名】：全村人的希望

【序号】：91

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/94

[2022-03-15 16:41] AriouatI commented on #40473
你好 @wangxinxin08，
谢谢您的答复。

我对代码进行了更深入的研究，试图查看哪个变量不是浮点数，我发现问题出在预测过程的这一部分：
`deploy/cpp/src/object_detector.cc`

`auto inference_start = std::chrono::steady_clock::now();`
 ` for (int i = 0; i < repeats; i++) {`
 `   predictor_->Run();`
  `  // Get output tensor`
  `  out_tensor_list.clear();`
  `  output_shape_list.clear();`
  `  auto output_names = predictor_->GetOutputNames();`
  `  for (int j = 0

[2022-03-15 16:50] OE-Heart commented on #40234
【队名】：白客松

【序号】：76

【状态】：报名

【链接】：https://github.com/OE-Heart/PaddleNLP

[2022-03-15 22:32] Water2style commented on #40492
我test函数里，仍然用的是paddle.metric.accuracy来计算，但是我看https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/quant/quant_aware_with_infermodel
里没有用metrics,是直接做了个后处理， 请问两个方法有区别吗?

[2022-03-16 01:17] TCChenlong commented on #40333
For more infomation, please refer to this https://github.com/PaddlePaddle/Paddle/issues/40234

[2022-03-16 01:18] TCChenlong commented on #40327
是的

[2022-03-16 01:18] TCChenlong commented on #40327
develop 分支下就有

[2022-03-16 02:03] lujiang001108 commented on #39004
老师，我从您给的链接进去的，您看下这个报错是什么意思。我总觉得还是版本问题，您没有问题吗？

在 2022-03-12 17:35:59，"Linjie Chen" ***@***.***> 写道：

试下从
https://aistudio.baidu.com/aistudio/projectdetail/1639964
这里启动一个新的环境，重新运行一下项目哈，验证过可以正常运行

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you authored the thread.Message ID: *

[2022-03-16 02:37] Aurelius84 commented on #40435
这个顺序只是转静态图时的顺序，并不代表执行顺序。从日志里可以看出，这个只打印输出了一次，而非10次。@to_static之后，内部执行器会按照拓扑序来并行执行的。目前CPU训练默认是2个线程，GPU上由于CUDA launch kernel 时存在锁，默认是单线程在跑，暂时没有并行。

[2022-03-16 02:38] xiao-ming-code commented on #40525
这个项目能不能更新一下,对应github:https://github.com/cstghitpku/Research/tree/master/NLP/Conversational-Recommendation-BASELINE

[2022-03-16 02:39] xiao-ming-code commented on #40525
因为python 版本太低， aistudio 上运行不了

[2022-03-16 02:39] xiao-ming-code commented on #40525
球球了，非常感谢

[2022-03-16 02:52] xiao-ming-code commented on #40578
我通过paddle官网安装，cuda10.2 👍 conda install paddlepaddle-gpu==2.2.2 cudatoolkit=10.2 --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/
成功安装了 2.27
然后出现了下面的错误
![R)IAP1WT)$YTZ$ MSJR3 JI](https://user-images.githubusercontent.com/73177290/158507069-b6756ed5-c6b8-4535-8152-3d5e47670fd6.png)

但是我又使用 pip install paddlepaddle-gpu这个命令安装，显示都已经满足了要求
再次训练，还是出现上面的问题
麻烦再看看 。谢谢

[2022-03-16 02:53] #40432 closed, assigned to weisy11

[2022-03-16 03:20] SpaceView opened #40606 "ERROR: avx512fintrin.h(9146): error: identifier "__builtin_ia32_rndscaless_round" is undefined"
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.2
    2）CPU：i5-11400H
    3）GPU：NVIDIA GeForce RTX 3050 Laptop GPU, cuda_11.4.3_470.82.01_linux,  cudnn-11.4-linux-x64-v8.2.4.15
    4）系统环境：AsusLaptop TUF Gaming (FX506HCB) + Ubuntu20.04 + Python3.8.10 + gcc-9.4.0

本地编译：请提供cmake命令，编译命令
完全根据官网安装
https://paddle-inference.readthedocs.io/en/latest/user_guides/source_compile.html#

[2022-03-16 03:22] docoter commented on #40435
我又改了一下测试代码,结果也是串行和并行耗时相同.看来确实不支持并行.但奇怪的是串行和并行GPU占用后面都能到100%.

[2022-03-16 04:23] SpaceView commented on #40606
同样的配置，我试图使用不同的paddle版本，发现没有用；Paddle2.1也出现了类似的报错，主要都在fluid/operators/math下面的cuda算子函数，不清楚是否因为cuda版本问题引起，
[ 13%] Built target blas
[ 13%] Building CUDA object paddle/fluid/operators/math/CMakeFiles/depthwise_conv.dir/depthwise_conv.cu.o
/usr/lib/gcc/x86_64-linux-gnu/9/include/avx512fintrin.h(9146): error: identifier "__builtin_ia32_rndscaless_round" is undefined
/usr/lib/gcc/x86_64-linux-gnu/9/includ

[2022-03-16 05:44] yghstill commented on #40492
@Water2style demo里的MobileNetV2模型有这个问题吗？distill_node_name_list对应的name有没有问题？

[2022-03-16 05:55] LiuChiachi commented on #40578
把CPU版本的先卸载，再使用 pip install paddlepaddle-gpu这个命令安装一下试试呢。如果不行的话把安装完paddlepaddle-gpu的日志发出来一起看下吧。

[2022-03-16 06:02] tianshuo78520a commented on #40606
你不加ON_INFER参数呢？ 试下

[2022-03-16 06:44] xiao-ming-code commented on #40578
我卸载 pip uninstall paddlepaddle ,然后重新通过官网安装了 2.27版本的，
![}E9XD08GD3PNJ228EN`7B`P](https://user-images.githubusercontent.com/73177290/158531846-0062c29d-26ae-4db1-a0e0-716cb63e7295.png)
![`R@(K7G})(WDTHO1JO0O_0M](https://user-images.githubusercontent.com/73177290/158531859-3b525a33-f97e-4285-a5ef-d361a71bbb90.png)
![G8B5G5XLESUGGG)7`B83@{R](https://user-images.githubusercontent.com/73177290/158531882

[2022-03-16 07:00] LiuChiachi commented on #40578
您的Paddle安装失败了。
Python2.7我们现在不支持了，建议升级Python版本，比如3.6，3.7，3.8都可以。
你的cuda环境和安装的包10.2匹配吗？

[2022-03-16 07:00] wzy-99 opened #40620 "nn.layer的training属性是如何影响模型的反向传播的"
本人想通过调用模型中的某一层的eval()方法来冻结这一层。

通过查看源码发现，eval()将该层及子层的training属性设置为False。

但是我不知道在模型的反向传播中，training是如何阻断梯度的。

因此不知道通过这种方法**能否真正实现冻结的效果**。

[2022-03-16 07:57] windstamp commented on #40547
通过对比 paddle.nn.initializer.KaimingUniform() 的[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/initializer/KaimingUniform_cn.html#kaiminguniform) 和 [源代码](https://github.com/PaddlePaddle/Paddle/blob/release/2.2/python/paddle/nn/initializer/kaiming.py#L64)和 torch.nn.init.kaiming_uniform_ 的[文档](https://pytorch.org/docs/stable/nn.init.html?highlight=kaiming_uniform_#torch.nn.ini

[2022-03-16 08:14] xiao-ming-code commented on #40578
我使用了python3.6  安装了cuda11.2对应的paddle  cuda还是有问题，官网最新的就是cuda11.2
![RI}@ %@@%FD7U`}E}YPAA`9](https://user-images.githubusercontent.com/73177290/158545810-6ba8b106-bf0a-4951-9686-8ded653b036a.png)

[2022-03-16 08:26] zche4846 commented on #40234
【队名】：开福区老实人
【序号】：77
【状态】：报名
【链接】：https://github.com/zche4846/PaddleNLP

[2022-03-16 08:41] LiuChiachi commented on #40578
import paddle，paddle正常安装了吗。CUDA_VISIBLE_DEVICES环境变量正常吗

[2022-03-16 08:48] #39363 closed, assigned to danleifeng

[2022-03-16 08:49] xiao-ming-code commented on #40578
import paddle没问题，paddle正常安装了，cuda环境设置 使用的 place=fluid.CUDAPlace(0),使用id=0的，

[2022-03-16 09:07] Water2style commented on #40492
我没有跑完demo，我和demo不完全一样，因为我把蒸馏部分给删了，loss那些也换了，所以没有用到distill_node_name.

[2022-03-16 09:07] #40379 closed, assigned to Intsigstephon

[2022-03-16 09:11] fanruinet opened #40628 "Usecase: 一个专业程序员查找API文档的经历"
大F是一名具有十余年编程经验的专业程序员，他擅长服务器领域的编程，可以熟练使用C++、Java、C#等编程语言，但对Python、机器学习与飞桨这些技术来说则是刚刚入门。现在大F正在AI Studio中尝试根据教程训练一个波士顿房价预测的线性模型。整个教程的代码运行很顺利，但是大F试图理解这个训练好的模型中都有什么属性与方法。这个模型是如下定义的：
[code]
第1次尝试：根据以往使用IDE编写代码的经验，大F尝试了编辑器是否有智能提示，但遗憾的是输入“model.”之后编辑器没有任何反应。然后大F尝试右键单击“Sequential”这个类名，试图找到“Go go definition/declaration”之类的功能，但仍然很遗憾，弹出的菜单是浏览器的普通上下文菜单，没有任何有价值的功能。
第2次尝试：大F只好去官方文档中查找，这对大F来说是经常做的事情。很快大F就找到了[Seque

[2022-03-16 10:10] TCChenlong commented on #40628
开发者你好，目前飞桨API文档在此类场景下的使用体验确实有待提升，我们会参考你的建议，尽快给出优化方案。也欢迎你提出更多的想法，非常感谢你的宝贵建议~

[2022-03-16 11:20] yghstill commented on #40620
@wzy-99 如果想阻止梯度更新，可以设置这一层stop_gradient=True： https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/train_cn.html#stop-gradient-true

[2022-03-16 11:37] MissPenguin commented on #40473
有验证Paddle安装是否成功吗：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html#old-version-anchor-8-%E4%B8%89%E3%80%81%E9%AA%8C%E8%AF%81%E5%AE%89%E8%A3%85

[2022-03-16 11:40] daidaiershidi commented on #40547
如果只看torch.nn.init.kaiming_uniform_的源码，公式是一样的。但是看torch的_ConvNd类[https://pytorch.org/docs/stable/_modules/torch/nn/modules/conv.html#Conv1d]，使用的是init.kaiming_uniform_(self.weight, a=math.sqrt(5))，而不是torch.nn.init.kaiming_uniform_的源码中的a=0。所以在使用paddle的卷积时，初始化参数差别似乎看起来会比较大。或许paddle的_ConvNd类也是对齐的，那我就不知道哪里出错了。测试：
[code]
结果
[code]
我换了几个随机数，发现对齐后的误差均会小一些。是不是能给paddle.nn.initializer.KaimingUniform()加一个输入变量a，

[2022-03-16 11:43] yoreG123 commented on #40234
【队名】：Tukta

【序号】：80

【状态】：报名

【链接】：https://github.com/yoreG123/PaddleNLP

[2022-03-16 11:45] XieYunshen commented on #37349
直接使用这个命令会默认安装8.1版本的cudnn，但应该不会报错，能否贴一下报错信息呢？

[2022-03-16 11:46] wa-na-sa commented on #40234
【队名】：为往圣继绝学

【序号】：29

【状态】：报名

【链接】：https://github.com/BrilliantYuKaimin/Paddle

[2022-03-16 11:47] daidaiershidi commented on #40547
将卷积核的参数改为(300,500,1)，看起来能够将误差稳定下来，此时使不使用KaimingUniform似乎看起来一样。结果：
[code]

[2022-03-16 11:49] XieYunshen commented on #37349
@Laciniata 能否贴一下报错截图呢？使用命令会默认安装8.1版本的cudnn，应该不会报错；可以使用`conda create -n env_name python=3.7`创建新的conda环境，然后执行安装命令试一下；

[2022-03-16 11:50] BrilliantYuKaimin commented on #40234
【队名】：为往圣继绝学

【序号】：29

【状态】：报名

【链接】：https://github.com/BrilliantYuKaimin/Paddle

[2022-03-16 12:22] AriouatI commented on #40473
@MissPenguin

好吧，我成功地使用`sudo make inference_lib_dist`构建了库

在 cpu 上运行 ocr 会给出正确的输出，所以我认为 paddle 已经正确构建。
构建 ppocr (`sudo ./tools/build.sh`) 也不会在终端上显示任何错误

我之前提到过导致崩溃的确切行，这是我在 gpu 和 cpu 上得到的输出。
PaddleOCR :

CPU :

total images num: 1
--- Running analysis [ir_graph_build_pass]
--- Running analysis [ir_graph_clean_pass]
--- Running analysis [ir_analysis_pass]
--- Running IR pass [simplify_with_basic_op

[2022-03-16 12:50] Laciniata commented on #37349
之前用conda安装的环境中，检查时的Warning也是 “The installed Paddle is compiled with CUDNN 8.2, but CUDNN version in your machine is 8.1”。

后来我把虚拟环境删了，又新开了一个虚拟环境，并改用pip安装，就没有问题了。如果之后我在其他机器安装的话会尝试复现一下。

[2022-03-16 13:14] MissPenguin commented on #40473
按照我上面提供的验证方式：
<img width="863" alt="image" src="https://user-images.githubusercontent.com/25809855/158597725-badef3f5-6bb4-424d-8b7f-ba7d3c4fe621.png">
验证paddle安装正确性的输出是啥样的，可以贴出来看下吗

[2022-03-16 13:55] SpaceView commented on #32062
供大家参考：错误“Too many open files” 解决办法在官方的网页里有，
https://paddle-inference.readthedocs.io/en/latest/user_guides/source_compile.html#ubuntu-18-04
su ${user}
ulimit -n 102400
实际上不用102400那么多，我用的
ulimit -n 20480
最后编译成功了。

[2022-03-16 13:58] SpaceView commented on #40606
我尝试了一下，换成gcc-8编译成功了。
所以，解决办法是： ubuntu20.04+cuda11.4+gcc-8.4.0+python3.8.10
谢谢。

[2022-03-16 14:15] AriouatI commented on #40473
这是输出：

Running verify PaddlePaddle program ...
W0316 15:11:13.183279 897518 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.6, Runtime API Version: 11.0
W0316 15:11:13.196525 897518 device_context.cc:422] device: 0, cuDNN Version: 8.3.
PaddlePaddle works well on 1 GPU.
PaddlePaddle works well on 1 GPUs.
PaddlePaddle is installed successfully! Let'

[2022-03-16 14:44] windstamp commented on #40547
是的，目前 Paddle KaimingUniform 实现还不完全和 torch kaiming_uniform_ 一致。

您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。

[2022-03-16 17:21] jinyouzhi commented on #40234
【队名】：全村人的希望

【序号】：20

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/39

[2022-03-16 18:25] fanruinet opened #40644 "Document Issue: Incorrect description of weight_attr parameter of Linear() constructor"
The document says:

However, the following code prints different parameter values for every execution instead of zeroes:
[code]
[code]

The code and document don't match. I'm not sure which behavior is the correct design.

This error occurs in the following pages:
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Linear_cn.html
https://www.paddlepaddle.org.cn/documentation/docs/e

[2022-03-17 00:39] BrilliantYuKaimin commented on #40234
【队名】：为往圣继绝学

【序号】：24

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/40

[2022-03-17 00:53] GreatV commented on #40234
【队名】：小蜗牛爬爬爬

【序号】：7

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/37

[2022-03-17 01:09] TXacs commented on #40498
多谢

[2022-03-17 01:12] daidaiershidi opened #40645 "paddle.jit.save的模型中如果包含带有break语句的for循环会报错"
- 标题：paddle.jit.save的模型中如果包含带有break语句的for循环会报错

- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu 2.2.2
    2）CPU/GPU（GPU驱动、CUDA、cuDNN版本）：NVIDIA-SMI 440.64.00 Driver Version: 440.64.00 CUDA Version: 10.2
    3）操作系统版本：Linux version 3.10.0-1062.18.1.el7.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-39) (GCC) )
    4）Python版本：3.7.11
    5）显存信息：Tesla V100-SXM2 1

[2022-03-17 01:21] docoter commented on #40435
我又测试了在CPU上运行,
耗时20.4秒和27.7秒,所以在CPU上是有自动并行效果的.

[2022-03-17 01:21] docoter commented on #40435
我又测试了在CPU上运行,
耗时20.4秒和27.7秒,所以在CPU上是有自动并行效果的.

[2022-03-17 02:01] xiao-ming-code commented on #40578
非常感谢，最后运行成功了

[2022-03-17 02:01] #40578 closed, assigned to LiuChiachi

[2022-03-17 02:05] Aurelius84 commented on #40435
在GPU训练上，CPU端的Kernel launch与 GPU端的 Kernel 执行是异步的。如果CPU端的Kernel 都可以很早launch起来，意味着并行并没有什么特殊收益，因为GPU始终是满利用率在执行较早前launch的Kernel，而新launch的kernel还在stream里排队。

在CPU训练上，每个Kernel launch和Kernel计算都在一个线程里进行，没有上述GPU中的异步，所以开启多线程并行是会有收益的

[2022-03-17 02:09] #40435 closed, assigned to weisy11

[2022-03-17 02:30] RainFrost1 commented on #40455
@jinfagang because of different version of os, it's hard to confirm the exactly glib version. According to the [doc](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html), centos7 and unbunt16.04 is ok to install.

[2022-03-17 02:49] cuicheng01 commented on #40644
Hi, the default parameter initialization method here is Xavier, and only the bias parameter is initialized to 0. The documentation here is not very appropriate, we will fix it soon, thanks for the feedback.

[2022-03-17 03:13] lucasjinreal commented on #40455
@RainFrost1 please add a support on ubuntu21.04 and centos8. It's 2022 now.

[2022-03-17 03:13] #40455 closed, assigned to nobody

[2022-03-17 03:13] thunder95 commented on #40325
AdaptiveLogSoftmaxWithLoss在torch中是一个组网的layer层， 里面里有好几个可学习的Linear，如是要在[python/paddle/nn/functional/loss.py](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/functional/loss.py) 这里面实现，是需要每次把weight和bias都传进去吗？

[2022-03-17 03:16] wadefelix commented on #40628
https://zhuanlan.zhihu.com/p/478547185#h_478547185_8
MindSpore刚刚开发发布了IDE插件

[2022-03-17 03:17] lanxianghit commented on #40216
@zhiqiu 请帮忙看一下这个问题的解决方案

[2022-03-17 04:17] Wong4j commented on #40216
This issue may cause some troubles to users.
For example, in QAT training, we need to add some temporary variables to the program according to OPs. The added variables would be float16 type in QAT train program, and float32 type in QAT eval program. If the datatype is different, error will be reported during execution. We have to modify the name of variables and manually insert cast OP to run.

[2022-03-17 06:31] zlsh80826 opened #40663 "test_gumbel_softamx_op random failure"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
[code]
- 复现步骤

[code]
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

``test_gumbel_softmax_op.TestGumbelSoftmaxOpSampleDistribution`` 結果不 deterministic, 具有隨機性, 導致該單測會出現隨機性失敗

[code]

[2022-03-17 07:10] thunder95 commented on #40234
【队名】：thunder95

【序号】：29

【状态】：报名

【链接】：https://github.com/thunder95/Paddle

[2022-03-17 08:22] LiKangyuLKY opened #40673 "基于`local_response_norm`API搭建网络，保存为推理模型时报错"
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu 2.2.2.post112
    3）GPU：CUDA11.2  cuDNN 8.2.1
    4）系统环境：ubuntu 18.04和Windows10均测试，python3.7.0

- 训练信息
    1）单机与多卡均已测试
    2）基础API和高阶API（Model）均测试

- 问题描述：
  基于paddle搭建了神经网络，其中采用了local_response_norm进行正则化。模型训练完成后，在保存至推理模型（`.pdmodel`, `.pdiparams.info`, `.pdiparams`）时，出现报错信息：`ValueError: Expected every di

[2022-03-17 08:31] thunder95 commented on #40234
【队名】：thunder95

【序号】：29

【状态】：提交RFC

【链接】：https://github.com/thunder95/Paddle

[2022-03-17 09:03] jiweibo commented on #40403
设置环境变量 export GLOG_v=4 可以查看具体的kernel是否跑到了xpu上

感觉除了增加对应的XPU算子没有更好的办法了。

[2022-03-17 09:15] Shawn-fd commented on #34827
请问是如何解决的呢？

[2022-03-17 09:42] mingxu1067 commented on #40013
Hi @JiabinYang, Would you kindly share any updates about this issue?

[2022-03-17 10:16] BrilliantYuKaimin commented on #40234
【队名】：为往圣继绝学

【序号】：29

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/44

[2022-03-17 10:46] wa-na-sa commented on #40234
【队名】：为往圣继绝学

【序号】：9

【状态】：报名

【链接】：https://github.com/BrilliantYuKaimin/Paddle

[2022-03-17 10:47] BrilliantYuKaimin commented on #40234
【队名】：为往圣继绝学

【序号】：9

【状态】：报名

【链接】：https://github.com/BrilliantYuKaimin/Paddle

[2022-03-17 10:50] jedibobo commented on #40403
感谢回复，我去试试

[2022-03-17 10:51] #40403 closed, assigned to smallv0221

[2022-03-17 11:26] Aurelius84 commented on #40645
非常感谢您的反馈，我们已经复现此问题，修复PR见：https://github.com/PaddlePaddle/Paddle/pull/40683

[2022-03-17 11:49] Zhiyuan-Fan commented on #40234
【队名】：长风

【序号】：79

【状态】：报名

【链接】：https://github.com/Elvisambition/PaddleNLP

[2022-03-17 12:29] leeleolay commented on #40234
【队名】：DeepMD的希望

【序号】：109

【状态】：报名

【链接】：https://github.com/leeleolay/deepmd-kit

[2022-03-17 12:58] renmada opened #40686 "paddle.load模型报错：“EOFError: Ran out of input”"
模型是paddlenlp的ErnieForGeneration，用model.save_pretrianed保存的

[2022-03-17 15:25] thunder95 commented on #40234
【队名】：thunder95

【序号】：15

【状态】：报名

【链接】：https://github.com/thunder95/Paddle

[2022-03-17 15:40] phoenixsfly opened #40689 "整数张量和浮点数张量相加得到类型为整数的张量"
[code]
[code]
可以看出，两个dtype不同的tensor相加，右边的tensor会强制转换为左边的类型。
想请问这属于Bug还是paddle独有的feature？

[2022-03-18 02:48] BrilliantYuKaimin commented on #40275
如何利用飞桨构建稀疏张量？关于飞桨中的SparseCooTensor和SparseCsrTensor有哪些参考资料？目前我没有找到相关文档。

[2022-03-18 03:23] dingjiaweiww commented on #38379
可以先检查一下自己的python 版本，Mac 自带的python 版本安装时可能有问题，建议下载python 官网的版本，具体请参考这个FAQ：https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/install_cn.html#mac-m1paddle

[2022-03-18 04:19] #40554 closed, assigned to LiuChiachi

[2022-03-18 04:19] dingjiaweiww commented on #38379
我们创建了一个QQ群：859544848，用来和大家讨论Paddle原生支持Mac M1芯片，大家可以入群和我们讨论～

[2022-03-18 05:09] Ligoml commented on #37505
哈喽，该API已作为开发者社区任务发布在了飞桨黑客松中，详见https://github.com/PaddlePaddle/Paddle/issues/40316 ，飞桨团队非常感谢你的指出，也十分欢迎你参与进来，为飞桨框架补齐该API，共建更好用的深度学习框架~

[2022-03-18 06:11] leeleolay commented on #40234
【队名】：DeepMolecule

【序号】：108

【状态】：报名

【链接】：https://github.com/leeleolay/deepmd-kit

[2022-03-18 06:56] ANDROIDTODO opened #40697 "paddle inference c++ 预测库能支持32位吗？"
Hi Paddle Teams,
请问下，paddle inference c++ 预测库能支持32位吗？

[2022-03-18 07:54] Thinksky5124 commented on #40527
Please give the detail code for futher bug production

[2022-03-18 07:57] liqitong-a commented on #40234
【队名】：划划水

【序号】：3

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/40690

[2022-03-18 08:08] leeleolay commented on #40234
【队名】：深分摸鱼

【序号】：108

【状态】：报名

【链接】：https://github.com/leeleolay/deepmd-kit

[2022-03-18 08:09] BrilliantYuKaimin commented on #40234
【队名】：为往圣继绝学

【序号】：18

【状态】：报名

【链接】：https://github.com/BrilliantYuKaimin/Paddle

[2022-03-18 08:15] leeleolay commented on #40234
【队名】：深分摸鱼

【序号】：110

【状态】：报名

【链接】：https://github.com/leeleolay/deepmd-kit

[2022-03-18 09:08] cuicheng01 commented on #40673
您好，这个是我们的一个bug，我们回尽快修复，感谢反馈。

[2022-03-18 10:04] safehumeng commented on #37505
好的，谢谢提醒

[2022-03-18 11:26] Zhiyuan-Fan commented on #40234
【队名】：长风

【序号】：78

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1799

[2022-03-18 11:58] Zhiyuan-Fan commented on #40234
【队名】：长风

【序号】：66

【状态】：报名

【链接】：https://github.com/Elvisambition/Paddle-Lite

[2022-03-18 12:18] j-shao opened #40711 "tensor split 按照tensor内的值切分"
请问下我有一个动态图tensor，维度是[-1, 1]，第一维上有若干不同值（已排序），我如何按照值的不同将tensor进行split？或者得到split的索引。

[2022-03-18 15:14] cxxly commented on #40711
内网提了卡片，已解决

[2022-03-18 15:14] #40711 closed, assigned to cxxly

[2022-03-18 15:54] fengxiaoshuai commented on #40697
不支持

[2022-03-18 16:53] thunder95 commented on #40318
测试发现sort操作也无法对nan列产生作用，这需要写cuda算子吗？

[2022-03-19 02:23] Asthestarsfalll commented on #40234
【队名】：我完全没想法

【序号】：23

【状态】：提交rfc

【链接】：https://github.com/Asthestarsfalll/Paddle

[2022-03-19 04:54] Asthestarsfalll commented on #40234
【队名】：我完全没想法

【序号】：27

【状态】：提交rfc

【链接】：https://github.com/PaddlePaddle/community/pull/51

[2022-03-19 07:10] Patrick-Star125 commented on #40234
【队名】：NetPunk

【序号】：17

【状态】：提交rfc

【链接】：https://github.com/PaddlePaddle/community/pull/52

[2022-03-19 07:15] GeYuYao-hub opened #40725 "关于日志保存的问题"
在aistudio上使用fit进行训练时，如何将日志保存至txt文档中？aistudio只支持打印3000行日志，3000行以后的数据无法查看，我若想将日志保存至一个txt文件中该如何操作？

[2022-03-19 11:40] CuberrChen opened #40730 "Error: Can not import noavx core while this file exists:"
[code]
请问这个怎么解决？

[2022-03-19 13:48] CuberrChen commented on #40730
补充：架构为ppc64le。

[2022-03-19 15:35] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：14

【状态】：报名&提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/53

[2022-03-19 15:36] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：25

【状态】：报名

【链接】：https://github.com/yangguohao/Paddle

[2022-03-20 02:52] stunback opened #40734 "使用tqdm包装dataloader显示训练进度，出现内存泄漏oom"
PaddlePaddle版本：2.2.2, gpu版
系统环境：在自己的笔记本和aistudio的notebook gpu版都试过
- 训练信息
    1）单机单卡
    2）tesla V100 16G
- 复现信息：在aistudio的CPU，GPU环境都可以复现该问题
- 问题描述：

使用paddle.io.Dataset自定义数据集的读取和预处理，使用paddle.io.Dataloader加载批数据，使用tqdm包装Dataloader显示批读取进度时，可能出现内存泄漏的问题，测试代码如下
[code]
通过memory_profiler，我记录了内存使用随时间的增长：
![Figure_1](https://user-images.githubusercontent.com/54929971/159145684-4ca03148-34ea-4446-9816-49baeb

[2022-03-20 03:02] tianxin1860 commented on #40730
你好，请提供一下具体操作系统、版本及安装的 Paddle 版本

[2022-03-20 03:03] tianxin1860 commented on #40725
AIStudio Notebook 内支持 Shell 命令, 可以直接把输出重定向到本地文件即可。

[2022-03-20 03:07] xianshiji opened #40735 "构建数据集时报错 fileds number not same among samples in a batch"
PaddlePaddle版本：2.2.2, gpu版
系统环境：aistudio的notebook gpu版

训练信息
   1）单机单卡
   2）tesla V100 16G
问题描述：使用dataloader构建读取数据集时相同代码验证集报错fileds number not same among samples in a batch，训练集不报错
[code]
![Uploading 2[`$$~6]GM7U{D~B964DWFP.png…]()
![Uploading C1M1LI}0G)[~57]85BPMW~2.png…]()

[2022-03-20 05:43] doombeaker commented on #40267
你好，
我找到了飞桨的 [文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/index_cn.html) 系列对应的仓库是 https://github.com/PaddlePaddle/docs 这个。

但是没有找到 [教程](https://www.paddlepaddle.org.cn/tutorials/projectdetail/3465990) 系列对应的仓库。请问飞桨官网上的“教程”系列的文档，有对应的开源仓库吗？

如果没有开源，在这个任务中，需要对 https://www.paddlepaddle.org.cn/tutorials/projectdetail/3465990 页面中的内容进行体验和调研吗。

[2022-03-20 06:00] Asthestarsfalll opened #40739 "关于Sort中NaN后不排序"
在使用develop版本中发现paddle.sort对NaN之后的数据就不会再进行排序，在[官方中文文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/sort_cn.html#sort)中也没有提及。是否要加入输入tensor中含有NaN的提醒，或者使用某些处理将Nan置于最后（类似于pytorch）
另外某些调用sort的API也会造成结果上的错误，比如`quantile`等，加入NaN的提醒或许对用户debug更友好。

[2022-03-20 06:19] htlbayytq opened #40740 "是否可以直接将AIStudio里已有的项目进行部署"
您好，在AIStudio里发现一个很好的项目，fork了一下想直接用飞桨部署一下，练一练部署，请问这样是可以的吧？

[2022-03-20 06:25] miemie2013 opened #40741 "Paddle复现stylegan2-ada和stylegan3，paddle.grad()求出了错误的梯度！"
代码地址：https://github.com/miemie2013/ppgan

环境：Python3.9、paddlepaddle-gpu==2.2.0

stylegan2-ada和stylegan3的modulated_conv2d()方法中，会包含以下代码：
[code]
问题出在最后一行代码。即最后一行代码右边的式子中，w和dcoefs都是包含有styles的。用paddle.grad()求styles的梯度，会求出错误的梯度！
问题复现：
代码地址：https://github.com/miemie2013/ppgan
进入test_grad文件夹。首先运行test2_16_elementwise_grad.py，跑8次前向，保存输入、输出、损失对styles的梯度等为文件16_grad.npz；
接着，跑test2_16_elementwise_grad_paddle.py

[2022-03-20 09:48] esythan commented on #40740
可以

[2022-03-20 09:52] esythan commented on #40735
训练集和验证集是否是同一份数据，如果数据不相同，建议先排查下验证集中样例的特征数量是否全部相同
PS：上传的图片无法查看

[2022-03-20 10:19] Asthestarsfalll commented on #40234
【队名】：我完全没想法

【序号】：25

【状态】：提交rfc

【链接】：https://github.com/PaddlePaddle/community/pull/55

[2022-03-20 13:40] wa008 commented on #32377
非常感谢~~
网站 "https://mirror.baidu.com/pypi/simple" 挂掉了吗？ Mac mini安装过程在这一步报错 `python -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple`

[2022-03-20 13:41] wa008 commented on #32377
非常感谢~~
网站 "https://mirror.baidu.com/pypi/simple" 挂掉了吗？ Mac mini安装过程在这一步报错 `python -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple`

[2022-03-20 15:11] CuberrChen commented on #40730
****************************************
Paddle version: None
Paddle With CUDA: None
OS: Red Hat Enterprise Linux Server 7.6
Python version: 3.8.3
NVIDIA-SMI 440.118.02   Driver Version: 440.118.02   CUDA Version: 10.2
Nvidia driver version: 440.118.02
****************************************

paddle装的是paddlepaddle_gpu-2.2.2.post101-cp38-cp38-linux_x86_64。

[2022-03-20 15:18] CuberrChen commented on #40730
ppc64le
NAME="Red Hat Enterprise Linux Server"
VERSION="7.6 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_ID="7.6"
PRETTY_NAME="Red Hat Enterprise Linux Server 7.6 (Maipo)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:7.6:GA:server"
HOME_URL="https://www.redhat.com/"
BUG_REPORT_URL="https://bugzilla.redhat.com/"

REDHAT_BUGZILLA_PRODUCT="Red Hat Ent

[2022-03-21 01:06] htlbayytq commented on #40740
感谢答复！   可以辛苦具体说一下怎样可以部署已有项目嘛？   因为从来没有部署过AIStudio里的项目，感谢！！

[2022-03-21 01:52] TCChenlong commented on #40325
[community/api_design_template.md at master · PaddlePaddle/community](https://github.com/PaddlePaddle/community/blob/master/rfcs/APIs/api_design_template.md) 这个就是哈~

[2022-03-21 01:55] TCChenlong commented on #40318
这个可以将自己的思路写在 RFC 中，那里在做判断哈~

[2022-03-21 03:20] esythan commented on #40740
可以具体说下想要部署的项目吗？我们看下是需要什么样的部署环境，然后给你相应的部署文档

[2022-03-21 03:22] htlbayytq commented on #40740
好嘞！

是这个项目：https://aistudio.baidu.com/aistudio/projectdetail/2204966?channelType=0&channel=0

[2022-03-21 03:23] htlbayytq commented on #40740
好嘞！

是这个项目：https://aistudio.baidu.com/aistudio/projectdetail/2204966?channelType=0&channel=0

基于飞桨的糖尿病视网膜病变检测系统

[2022-03-21 03:34] tianxin1860 commented on #40730
从报错信息看，可以参考这个方法定位原因: https://ai.baidu.com/forum/topic/show/983545

[2022-03-21 03:45] esythan commented on #40740
请问是想要在自己的开发机上部署还是直接在aiStudio上部署，部署训练还是推理？

[2022-03-21 03:54] htlbayytq commented on #40740
想先练一下Paddle Inference和Paddle Serving，部署推理

[2022-03-21 04:28] GT-ZhangAcer commented on #40741
mark

[2022-03-21 05:12] esythan commented on #40740
可以参考以下两个git repo：
1、paddle serving：https://github.com/PaddlePaddle/Serving
2、paddle inference：https://github.com/PaddlePaddle/Paddle-Inference-Demo
里面有具体的安装流程，还有些demo示例

[2022-03-21 06:45] baoachun commented on #40730
您好，可以试试清理下paddle安装目录再重新安装看看能否解决问题

[2022-03-21 07:54] XieYunshen commented on #40493
确认一下是不是镜像的问题吧，如果直接进入镜像使用是没有问题的，
![image](https://user-images.githubusercontent.com/32428676/159222249-767cb9fc-efb6-43a6-b178-8afc811720d0.png)

[2022-03-21 08:02] cxxly commented on #40689
这和Paddle实现机制有关，如果参与运算多个数据类型不一致，出于性能考虑，Paddle会选择最左侧数据类型对应的Kernel(可以理解为运算具体实现逻辑)参与运算，所以输出结果也是和最左侧数据类型保持一致。

[2022-03-21 08:05] #40697 closed, assigned to cxxly

[2022-03-21 08:05] esythan commented on #40741
你好，感谢你的反馈，这个问题的修复已经在排期中
另外，如果问题本身不需要求高阶导数，可以看下backward api是否能够先暂时满足你的需求

[2022-03-21 08:10] SuperMaskv opened #40764 "paddle.Model如何包装继承自nn.Layer的自定义模型"
请问哪里可以找到继承自nn.Layer的自定义模型使用paddle.Model.fit进行训练的示例。
我尝试着写了一个ernie-tiny-crf的模型，但是在使用Model.fit进行训练的时候出现了Broadcast dimension mismatch的错误, 我尝试过将batch_size调整到1，但是仍然报错。
[code]
[code]

[2022-03-21 08:47] TXacs opened #40767 "源码编译报错：module 'paddle.fluid.core_avx.ops' has no attribute 'c_allreduce_sum_'"
- 版本、环境信息：
    1）PaddlePaddle版本：develop  v2.2.4
    2）CPU：Intel(R) Xeon(R) Silver 4214R CPU @ 2.40GHz
    3）GPU：cuda11.3
    4）系统环境：ubuntu18.04
[code]
- 安装方式信息：
本地编译：
[code]

报错内容如下：
[code]

[2022-03-21 09:31] esythan commented on #40739
感谢反馈，我们正在调研修复这个问题，后续会加入相关的提醒。

[2022-03-21 09:42] lidanqing-vv commented on #40269
Hi, this issue will be investigated starting from next quarter.

[2022-03-21 10:03] zhaocaibei123 commented on #40764
embeddings = input_embedings + position_embeddings + token_type_embeddings
请检查下各个embedding的维度，报错显式这几个embedding的shape不一样

[2022-03-21 10:11] lidanqing-vv commented on #40094
It is fixed so I close it

[2022-03-21 10:11] #40094 closed, assigned to baoachun

[2022-03-21 10:13] #39093 closed, assigned to baoachun

[2022-03-21 10:16] lidanqing-vv commented on #38923
It is fixed

[2022-03-21 10:16] #38923 closed, assigned to baoachun, FeixLiu

[2022-03-21 10:57] lidanqing-vv commented on #40381
@piotrekobi Please investigate this initially

[2022-03-21 10:57] lidanqing-vv commented on #40405
@piotrekobi Please investigate on this initially

[2022-03-21 11:00] lidanqing-vv commented on #40405
Hi since this issue is fixed, I will close it

[2022-03-21 11:00] #40405 closed, assigned to baoachun, wozna, lidanqing-vv

[2022-03-21 11:00] pmajchrzak commented on #40405
fixed by commit: https://github.com/PaddlePaddle/Paddle/commit/bd2d4fd080fb2e72cbba57bc9862a5c10cb69077

[2022-03-21 11:05] zhaocaibei123 commented on #40767
使用collective编译请开选项 -DWITH_DISTRIBUTE=ON
fleet.init(is_collective=True, strategy=strategy)

[2022-03-21 11:26] wangtianbao1999 commented on #37915
请问问题得到解决了吗

[2022-03-21 11:31] XYZ-916 commented on #37915
并没有。

[2022-03-21 12:17] xiaoyangyang2 commented on #40234
【队名】：忘了队名

【序号】：23

【状态】：报名

【链接】：https://github.com/xiaoyangyang2/Paddle

[2022-03-21 12:19] masternow commented on #40234
【队名】：胖墩墩
【序号】：10
【状态】：报名
【链接】：https://github.com/masternow/Paddle

[2022-03-21 12:20] xiaoyangyang2 commented on #40234
【队名】：忘了队名

【序号】：10

【状态】：报名

【链接】：https://github.com/xiaoyangyang2/Paddle

[2022-03-21 12:21] unseenme commented on #40234
【队名】：UnseenMe

【序号】：39

【状态】：报名

【链接】：https://github.com/unseenme/Paddle

[2022-03-21 12:26] skywalk163 commented on #40234
【队名】：极快软件

【序号】：10

【状态】：报名

【链接】：https://github.com/skywalk163/Paddle

[2022-03-21 12:29] Li-fAngyU commented on #40234
【队名】：lfy

【序号】：8

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/40472

[2022-03-21 12:30] coding4a commented on #40234
【队名】：coding
【序号】：36
【状态】：报名
【链接】：https://github.com/coding4a/Paddle

[2022-03-21 12:31] masternow commented on #40234
【队名】：胖墩墩
【序号】：11
【状态】：报名
【链接】：https://github.com/masternow/Paddle

[2022-03-21 12:33] xiaoguoguo626807 commented on #40234
【队名】：哆啦A梦
【序号】：5
【状态】：报名
【链接】：https://github.com/xiaoguoguo626807/Paddle

[2022-03-21 12:38] Li-fAngyU commented on #40234
【队名】：lfy

【序号】：5

【状态】：报名

【链接】：https://github.com/Li-fAngyU/Paddle

[2022-03-21 12:43] jelly2187 commented on #40234
【队名】：zydeyzs
【序号】：22
【状态】：报名
【链接】：https://github.com/ZS-Yan/Paddle

[2022-03-21 13:08] #40673 closed, assigned to cuicheng01

[2022-03-21 13:09] xiaoyangyang2 commented on #40234
【队名】：忘了队名

【序号】：38

【状态】：报名

【链接】：https://github.com/xiaoyangyang2/Paddle

[2022-03-21 13:10] Asthestarsfalll commented on #40234
【队名】：我完全没想法
【序号】：31
【状态】：报名
【链接】：https://github.com/Asthestarsfalll/Paddle

[2022-03-21 13:12] Li-fAngyU commented on #40234
【队名】：lfy

【序号】：32

【状态】：报名

【链接】：https://github.com/Li-fAngyU/Paddle

[2022-03-21 13:27] ztty8888 commented on #40234
【队名】：我完全没想法

【序号】：27

【状态】：提交rfc

【链接】：https://github.com/PaddlePaddle/community/pull/51

[2022-03-21 13:28] ztty8888 commented on #40234
【队名】：NetPunk

【序号】：17

【状态】：提交rfc

【链接】：https://github.com/PaddlePaddle/community/pull/52

[2022-03-21 13:34] BrilliantYuKaimin commented on #40234
【队名】：为往圣继绝学

【序号】：9

【状态】：PR提交

【PR链接】：https://github.com/PaddlePaddle/Paddle/pull/40777

[2022-03-21 15:53] 0xzhang commented on #40234
【队名】：Master

【序号】：88

【状态】：报名

【链接】：https://github.com/0xzhang/hackathons

[2022-03-21 16:09] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：10

【状态】：报名

【链接】：https://github.com/gsq7474741/Paddle

[2022-03-21 17:21] erikguo opened #40797 "编译v2.2.2 with TensorRT 出错"
编译v2.2.2 with TensorRT 出错

环境：
CUDA 11.5.0
TensorRT 8.2.1.8
gcc 8.4

结果：
In file included from /workspace/Paddle/paddle/fluid/platform/stream/cuda_stream.cc:17:
/workspace/Paddle/paddle/fluid/platform/device_context.h:64:10: fatal error: unsupported/Eigen/CXX11/Tensor: No such file or directory
 #include "unsupported/Eigen/CXX11/Tensor"
          ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
compilation termin

[2022-03-22 01:04] Adam-lxd commented on #32377
我尝试打开了一下百度镜像的网站，确实返回错误信息。可以尝试更换清华的源：https://pypi.tuna.tsinghua.edu.cn/simple

[2022-03-22 02:27] miemie2013 opened #40800 "自定义外部算子如何写二次反向？"
如题，官方文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/new_custom_op_cn.html 给出了一个relu的示例，提到了一个宏PD_BUILD_DOUBLE_GRAD_OP，但是，没有给出这个宏的使用示例。现在项目中需要使用二阶导，希望能得到官方解答。

[2022-03-22 02:52] bianluxuan opened #40801 "安装错误，PaddlePaddle版本：2.2，CPU：AMD4800H,GPU：1650,CDUA:11.5,pip安装"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2022-03-22 02:52] bianluxuan commented on #40801
安装错误，没有对应CUDA的pip安装

[2022-03-22 03:24] SuperMaskv commented on #40764
@zhaocaibei123 感谢帮助，确实是position_ids少了个维度。再请教一个问题，Model.fit是通过什么方式将dataloader中的数据和模型的入参对应起来的呢

[2022-03-22 03:38] SuperMaskv commented on #40764
补充一下，比如说在我的模型的入参中有一个名为lengths的参数，那么应该如何通过Model.fit传递这个参数呢

[2022-03-22 03:51] zhaocaibei123 commented on #40764
不太清楚你的Model.fix是什么，是Paddle套件吗，dataloader可以通过feed_list指定输入数据

[2022-03-22 03:53] SuperMaskv commented on #40764
paddle.Model.fit
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Model_cn.html#fit-train-data-none-eval-data-none-batch-size-1-epochs-1-eval-freq-1-log-freq-10-save-dir-none-save-freq-1-verbose-2-drop-last-false-shuffle-true-num-workers-0-callbacks-none

[2022-03-22 04:12] zhaocaibei123 commented on #40764
确保dataloader出来的数据和Model input参数的定义一一对应就可以了，dataloader文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DataLoader_cn.html#dataloader

[2022-03-22 04:40] Smpests commented on #34614
版本2.2.0遇到相同问题，修改该版本ernie\modeling_ernie.py的293行：m = P.load(state_dict_path)改为m = P.load(str(state_dict_path))可解决。参考链接 #https://github.com/PaddlePaddle/ERNIE/issues/765

[2022-03-22 07:10] JZZ-NOTE commented on #40797
看 log 可能是编译的时候下载 Eigen 没有成功，可以重新编译试试。

[2022-03-22 07:26] Aa851266 commented on #40234
【队名】：吞金兽

【序号】：8

【状态】：报名

【链接】：https://github.com/Aa851266/Paddle

[2022-03-22 08:01] Walstruzz commented on #40499
@jiangjiajun 实际上我想要做的是静态加载模型后修改网络结构，但是没找到对应的文档，所以考虑转为ONNX进行结构修改再保存为Paddle。

不过现在我已经选择别的模型了，感谢。

[2022-03-22 08:35] TXacs commented on #40767
好的，我试一下

[2022-03-22 09:09] song121982 opened #40821 "paddledetection集成的visualdl使用问题"
使用的paddledetection2.1
想通过修改callbacks.py中的Use VisualDL to log data or image部分实现恢复训练后的折线图的续写，修改LogWriter（）方法内的file_name变量没有效果，训练产生的log文件仍是默认名称。

class VisualDLWriter(Callback):

    def __init__(self, model):
        super(VisualDLWriter, self).__init__(model)

        assert six.PY3, "VisualDL requires Python >= 3.5"
        try:
            from visualdl import LogWriter
        except Exception a

[2022-03-22 09:24] esythan commented on #40734
感谢反馈，我们正在排查相关问题，有进展会同步给你

[2022-03-22 09:34] yoreG123 commented on #40234
【队名】：Tukta

【序号】：74

【状态】：报名

【链接】：https://github.com/yoreG123/PaddleScience.git

[2022-03-22 09:35] song121982 commented on #40821
环境：
win10
paddledetection 2.1
paddlepaddle2.2
visualDL2.2.1

[2022-03-22 10:05] ZHUI opened #40825 ""+=, -=" 等运算符号与torch表现不一致"
如图所示：

![image](https://user-images.githubusercontent.com/16911935/159441637-35289b08-d6df-49ca-8470-78a8b6e514c6.png)

torch默认是 inplace 操作。

[2022-03-22 10:59] yoreG123 commented on #40234
【队名】：Tukta

【序号】：34

【状态】：报名

【链接】：https://github.com/yoreG123/Paddle

[2022-03-22 11:02] GreatV commented on #40234
【队名】：小蜗牛爬爬爬

【序号】：45

【状态】：报名

【链接】：https://github.com/GreatV/Paddle

[2022-03-22 11:14] AndPuQing commented on #40234
【队名】：啊对对对

【序号】：71

【状态】：报名&提交rfc

【链接】：https://github.com/PaddlePaddle/community/pull/58

[2022-03-22 11:42] BrilliantYuKaimin commented on #40234
【队名】：为往圣继绝学

【序号】：18

【状态】：RFC提交

【PR链接】：https://github.com/PaddlePaddle/community/pull/57

[2022-03-22 11:57] ztty8888 commented on #40299
【队名】：我的飞桨

【序号】：34

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/40299

[2022-03-22 12:00] BrilliantYuKaimin commented on #40234
【队名】：为往圣继绝学

【序号】：29

【状态】：PR提交

【PR链接】：https://github.com/PaddlePaddle/Paddle/pull/40728

[2022-03-22 12:28] lql341 commented on #40298
lql341(报名）

[2022-03-22 12:38] lql341 commented on #40298
【队名】：lql341

【序号】：35

【状态】：报名

【链接】：https://github.com/lql341/Paddle

[2022-03-22 13:31] lql341 commented on #40234
【队名】：lql341

【序号】：35

【状态】：报名

【链接】：https://github.com/lql341/Paddle

[2022-03-22 13:38] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：10

【状态】：报名&提交RFC

【链接】：https://github.com/gsq7474741/Paddle

[2022-03-22 14:15] piotrekobi commented on #40381
@pmajchrzak
I've ran the test locally after 4 different commits and saved the results:

SHA: 704e454f1091ac355cebda09a1f23b6bfd24a99c (before the issue was first reported)
[code]

SHA: b9fdd3bc0f4f22af17a81bb8a50a337b563c876b (after first report)
[code]
SHA: 45dd4a5f3b6632eea8a12dc7102c98405c7a00d9 (after second report)
[code]

SHA: 71b813f0a63d6d439d50e019482b81edde530676 (current develop after r

[2022-03-22 14:23] Asthestarsfalll commented on #40234
【队名】：我完全没想法

【序号】：74

【状态】：报名&提交rfc

【链接】：https://github.com/PaddlePaddle/community/pull/63

[2022-03-22 15:47] SigureMo commented on #32377
应该没挂，主要是 conda 创建 python 的默认版本从 3.9 变成了 3.10，而 paddle 还不支持 python3.10，所以就会报类似「找不到」的错啦～

可以通过在创建环境时指定具体版本号解决，比如指定为 3.9

[code]

我当时也有很长一段时间以为挂掉了，后来才发现默认创建的环境从 3.9 变成了 3.10 了 😂

[2022-03-23 01:59] ghost opened #40837 "训练运行paddelpaddel-gpu时报错"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==1.6.3.post107
    2）GPU：预测若用GPU，RTX2080ti、CUDA 10.2和CUDNN  7.6
    4）系统环境：windows  Python3.6

- 训练信息
    1）单机  单卡
    2）显存信息
    3）Operator信息

![7ZY 66~ XI~{BJH~NDHWGVL](https://user-images.githubusercontent.com/57668414/159606874-a1429866-7154-4784-a628-954faee4e024.png)

[2022-03-23 02:00] ghost commented on #40837
求求了，csdn上也查不到

[2022-03-23 02:58] ZZHHogan opened #40839 "安装结束出现这些结果，正常吗？"
安装结束出现这些结果，正常吗？

![image](https://user-images.githubusercontent.com/40531744/159615074-4fad786f-ade6-4cc6-b308-31c403ef8833.png)

    1）PaddlePaddle版本：paddlepaddle-gpu   2.2.2.post111

    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：3090   cuda 11.1 cudnn 8.0
    4）系统环境：Linux version 5.4.0-104-generic (buildd@ubuntu) (gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)) #118~18.04.1-Ubuntu

[2022-03-23 03:00] songjhaha commented on #40234
【队名】：适格的魔法师

【序号】：95

【状态】：报名&RFC提交

【链接】: https://github.com/PaddlePaddle/community/pull/61

[2022-03-23 03:09] 4682B4LEE commented on #40234
【队名】：重城山海
【序号】：113
【状态】：报名
【链接】：https://github.com/chongchengshanhai/Paddle

[2022-03-23 03:21] aleaaaa commented on #28360
请问训练的时候遇到过这种问题吗？

OSError: (External)  Cuda error(6), the launch timed out and was terminated.
  [Advise: This indicates that the device kernel took too long to execute. This can only occur if timeouts are enabled - see th
e deviceproperty kernelExecTimeoutEnabled for more information. This leaves the process in an inconsistent state and any further CUDA work will return the same error.To continue

[2022-03-23 03:38] GT-ZhangAcer commented on #40800
mark

[2022-03-23 03:42] SuperMaskv commented on #40764
请问有相关的示例吗，我尝试了很多次，实在是试不出来

[2022-03-23 06:43] Ligoml commented on #40673
感谢指出，目前已经提PR修复https://github.com/PaddlePaddle/Paddle/pull/40714 ，预计会随paddle2.3rc正式发布，敬请关注~

[2022-03-23 06:46] yoreG123 commented on #40234
【队名】：Tukta

【序号】：80

【状态】：RFC提交

【PR链接】：https://github.com/PaddlePaddle/community/pull/65

[2022-03-23 06:47] Ligoml commented on #40739
开发者你好，这个API调用了一些cuda上的接口，接口目前有些问题已经反馈到nvidia，待nvidia修复后，我们会及时提pr修复paddle框架的问题~

[2022-03-23 07:13] jesiws commented on #37577
请问这个问题修复了吗？

[2022-03-23 07:19] Li-fAngyU opened #40850 "Paddle.sum 在进行反向梯度计算的时候通过改变参数keepdim导致结果不一致"
在AI Studio的BML上进行测试的时候发现问题。当令y = paddle.sum(x, keepdim=True)， dx = paddle.grad(y, x) 结果不固定，且大多数时候是错误的。

设备:CPU (AMD 5600G)
paddle版本为:2.2.2
python版本为:3.7
测试代码：
import paddle
import numpy as np

x_shape = [2, 3, 4, 5]
x = np.random.uniform(-1, 1, x_shape).astype(np.float32)
x = paddle.to_tensor(x, stop_gradient=False)
y = paddle.sum(x, keepdim=True)
dx = paddle.grad(y, x)[0].numpy()
y1 = paddle.sum(

[2022-03-23 07:24] jiemingcheng-hub commented on #40234
【队名】：提交就算成功
【序号】：76
【状态】：报名
【链接】：https://github.com/jiemingcheng-hub/PaddleNLP

[2022-03-23 08:00] zhwesky2010 commented on #40212
@liudonghua123 你好，目前已经支持了VS2019编译，可以用develop分支编译，或者等2.3发版后切换2.3分支编译，预计发版时间是4月中

[2022-03-23 08:01] j-shao commented on #32361
from propeller.paddle.data.functional import Dataset
Dataset.from_generator_func(
            PointwiseGenerator(
                #os.path.join(data_dir, "part.0"),
                os.path.join(data_dir, "path.0"),
                vocab,
                max_seqlen)
        ).chunk(num_replica) \
        .shard(num_replica, replica_id) \
        .map(append_label_func(before)) \
        .padded_bat

[2022-03-23 08:28] dingjiaweiww commented on #40212
@liudonghua123 感谢您的测试，我们已收到，我们正在对集成python3.10 进行技术验证，如果顺利将会在2.3 正式版中发布支持python3.10 的安装包，时间大概在今年5月份，敬请期待！

[2022-03-23 09:05] xiaoguoguo626807 commented on #40234
【队名】：哆啦A梦
【序号】：5
【状态】：提交RFC
【链接】：https://github.com/PaddlePaddle/community/pull/66

[2022-03-23 09:16] seemingwang commented on #40801
能给一下具体的安装错误log么

[2022-03-23 09:47] SuperMaskv commented on #40764
我看了一下源码，在paddle.Model.fit中，给loss和metric传参的方法都是Model output + labels，但是我现在用的`LinearChainCrfLoss.forward(self, inputs, lengths, labels, old_version_labels=None):` 和 `ChunkEvaluator.compute(self, lengths, predictions, labels, dummy=None):` 他们在参数的顺序上是冲突的，请问有什么解决方法吗

[2022-03-23 10:03] zhaocaibei123 commented on #40764
可dataloader文档里的示例，如果还不够明确，可以参考单测里dataloader的用法，例如：python/paddle/fluid/tests/unittests/test_translated_layer.py
python里参数顺序没关系，使用关键字参数来确定传入的参数值，例如 LinearChainCrfLoss.forward(inputs=XXX, labels=XXX...)

[2022-03-23 10:08] kuizhiqing commented on #40837
目前1.6.3版本已不再维护，请安装新版本 paddle 使用。

https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[2022-03-23 10:08] SuperMaskv commented on #40764
是paddle.Model.fit的内部按照顺序传参，我干预不了

[2022-03-23 10:13] kuizhiqing commented on #40850
你好，经过多次实验，无法复现该问题。希望能提供更多信息以排查。

[2022-03-23 10:54] Li-fAngyU commented on #40850
谢谢你的回复，运行代码在这个[BML项目](https://aistudio.baidu.com/aistudio/projectdetail/3673782?channelType=0&channel=0)里。

[2022-03-23 11:14] kuizhiqing commented on #40839
你好，这个提示不影响使用。如在后续使用过程中发现问题欢迎再次提交issue。

[2022-03-23 11:49] BrilliantYuKaimin commented on #40234
【队名】：为往圣继绝学

【序号】：24

【状态】：PR提交

【PR链接】：https://github.com/PaddlePaddle/Paddle/pull/40743

[2022-03-24 00:26] yuwoyizhan commented on #40212
@[zhouwei25](https://github.com/zhouwei25)@[dingjiaweiww](https://github.com/dingjiaweiww)支持VS2022最新版本吗?还有一点疑问,我原来以为飞桨是python写的,后来才知道底层等需要高性能的代码都是C++写的,我不知道使用的是什么IDE和编译器,我想问问,编译飞桨的话,支持C++17,C++20这些标准吗?该不会只支持多年前的标准吧?提了几个问题,希望您都回答下,谢谢大佬.

[2022-03-24 01:35] yuwoyizhan commented on #40209
@[zhiboniu](https://github.com/zhiboniu)上次提问后几个小时后你就回答了,非常感谢你.我想问问,这个issue有进展吗?比如你们团队讨论过吗?是否愿意增加swint呢?还有听说MPL很厉害,打算增加吗?

[2022-03-24 01:51] yuwoyizhan opened #40877 "求使用飞桨ai studio复现神经网络相关书籍代码"
我在京东搜索神经网络时,发现很多相关书籍.飞桨相关的书籍只有2本,而且都是几年前的书籍了,肯定使用静态图编程,听说5月份有飞桨书籍出版,适配动态图,这个有进一步消息吗?
神经网络那么多书籍,我想现在很多人都是靠看书入门神经网络,甚至深入学习神经网络的.我虽然不知道神经网络书籍的作者都用什么深度学习框架编写书籍中的代码,但我猜测,绝大多数书籍不是用飞桨框架编写代码的.我认为,多数书籍虽然会提供代码,但是不会提供飞桨框架的代码.
我希望你们可以使用飞桨框架,在ai studio实现神经网络相关书籍的代码,如果代码能加点注释就更好了,没有也无所谓.https://aistudio.baidu.com/aistudio/projectdetail/231146,可以参考这个链接,一本书籍作为一个合集,合集标题就叫做某某书籍的项目合集,这样搞几十个合集就把几十本书的代码都编写出来了.我相信,复现那些

[2022-03-24 02:00] SuperMaskv commented on #40764
我继承paddlenlp.metrics.ChunkEvaluator，魔改了一下解决了

[2022-03-24 02:00] #40764 closed, assigned to zhaocaibei123

[2022-03-24 02:23] TXacs commented on #40767
多谢，解决了

[2022-03-24 02:23] #40767 closed, assigned to zhaocaibei123

[2022-03-24 02:23] lizhuangliu opened #40878 "PaddleInferce龙芯架构在我开发环境预测没有问题，在服务器上报terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'"
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():

  Compile Traceback (most recent call last):
    File "D:\Program Files\Python37\lib\runpy.py", line 193, in _run_module_as_main
      "__main__", mod_spec)
    File "D:\Program Files\Python37\lib\runpy.py", line 85, in _run_code
      exec(code, run_globals)
    File "D:\workspace\Python\veinServer\venv\Sc

[2022-03-24 02:23] #40498 closed, assigned to nobody

[2022-03-24 05:35] Baibaifan commented on #40877
好的，建议我会反馈，谢谢

[2022-03-24 05:37] Baibaifan commented on #40878
从问题来看应该是动转静有参数维度问题，需要看下相关代码是不是有问题。同事看下两个环境paddle版本是否一致。

[2022-03-24 06:04] yuwoyizhan commented on #40877
@Baibaifan 我还在强化学习parl提了issue,但是工作人员告诉我,是否复现书籍代码,是由飞桨paddle决定的,让我在这里提issue.我知道飞桨有很多开发套件,但我认为,神经网络书籍和强化学习书籍是最应该复现的,神经网络是其他所有套件的基础.至于强化学习,目前飞桨无论是项目,开发文档,还是视频教学,书籍,都是非常少的,相比其他套件来说.举个例子,ai studio上面的强化学习有多少项目?排名第一的是一个股票项目,将近一年前的事情了.
很多人入门某个行业,都是靠一本书籍的,所以我希望你们可以选择2本神经网络的书籍,还有2个强化学习的书籍,在ai studio复现代码,谢谢.这应该对于你们飞桨提供开发者人数很有帮助,毕竟现在框架太多了,很多书籍作者都不是使用飞桨框架.而且这事情对你们来说,难度不大,谢谢.
一本书籍在身边,看懂了,做些标注,代码也有,以后我需要使用书籍相关代码

[2022-03-24 06:07] yuwoyizhan commented on #40877
@Baibaifan 最后再说一句,如果你们实在不愿意由百度飞桨官方复现书籍代码,可以考虑学习黑客马拉松,出点钱找人做啊,哈哈哈哈.

[2022-03-24 06:14] yuwoyizhan commented on #40877
那些优秀的书籍,有很多人购买,这你们应该有所了解,复现神经网络书籍和强化学习书籍的代码,对于推广飞桨和parl,很有帮助.还有一点想说,我认为,复现书籍代码,绝不是作者的责任,而是深度学习平台的责任,比如飞桨,pytorch,tensorflow等.毕竟作者使用一个开源平台复现代码就行了,可是其他平台的开发者呢?又该怎么办?为了一本书籍,转换平台?还是多学习一个平台的代码?深度学习平台很多东西是相通的,甚至很多理论,算法都相似,耗费巨大力气学习多个平台,不好吧?还不如专心学习一个平台,跟某个平台荣辱与共.

[2022-03-24 06:15] yuwoyizhan commented on #40877
@[kuizhiqing](https://github.com/kuizhiqing)

[2022-03-24 06:15] yuwoyizhan commented on #40877
@[seemingwang](https://github.com/seemingwang)

[2022-03-24 06:17] yuwoyizhan commented on #40877
@[esythan](https://github.com/esythan)

[2022-03-24 06:17] TCChenlong commented on #40299
报名请回复这个 ISSUE 哈：https://github.com/PaddlePaddle/Paddle/issues/40234

[2022-03-24 06:18] TCChenlong commented on #40298
报名请回复这个 ISSUE 哈：https://github.com/PaddlePaddle/Paddle/issues/40234

[2022-03-24 06:33] yuwoyizhan opened #40889 "零基础实践深度学习"
https://www.paddlepaddle.org.cn/tutorials/projectdetail/3465990
这个链接里面有提到,《零基础实践深度学习》再版书籍（适配飞桨2.0版本）已经在出版社审核中，预计2022年5月底上市。
请问有进一步消息吗?确定5月会上市吗?
还有一个问题,你们打算出一本强化学习的书籍吗?纸质书,电子书都行,现在很多人只开发电子书,不出纸质书了,毕竟时间精力有限.
https://zh-v2.d2l.ai/
这个链接就是个电子书,纸质书还没出版,一个电子书,30.9k个star,你们可以学习学习,牛啊,电子书也很吃香的,制作一个电子书,肯定比纸质书容易多了,花费的时间精力少的多.维护代码或者项目,或者勘误表,都容易得多.

[2022-03-24 07:07] Baibaifan commented on #40889
请以官网消息为准，您的意见已经记录，感谢您的反馈。

[2022-03-24 07:13] yuwoyizhan commented on #40889
@Baibaifan 大佬,你好,感谢你的回答.我提一句,我建议出版书籍,还有复现别的作者的书籍的代码,这是两个不同的建议,别搞成一个建议啊.希望你们可以考虑考虑,如果复现多个作者书籍,很多开发者,特别是刚入门的开发者,都将掌握在飞桨手里了,哈哈哈哈.

[2022-03-24 08:16] ztty8888 commented on #40299
【队名】：我的飞桨
【序号】：34
【状态】：提交
【链接】：#40299
报名请回复这个 ISSUE 哈：#40234
—这样回复可以不？

张  腾
Phone：13635501976

发件人： Chen Long
发送时间： 2022-03-24 14:18
收件人： PaddlePaddle/Paddle
抄送： ztty8888; Comment
主题： Re: [PaddlePaddle/Paddle] 【PaddlePaddle Hackathon 2】34、为Paddle修复ROCM(HIP)算子 (Issue #40299)
【队名】：我的飞桨
【序号】：34
【状态】：提交
【链接】：#40299
报名请回复这个 ISSUE 哈：#40234
—
Reply to this email directly, view it on GitHub, or unsubscri

[2022-03-24 08:25] 2050airobert opened #40903 "tinypose找不到tinypose的训练代码paddle python实现！"
hi，

    我只看到github上有tinypose的 yml文件，但是如果想要用自己的数据，训练模型，是否可以提供下原始训练代码？

BR

[2022-03-24 08:33] franztao opened #40904 "NotImplementedError: (Unimplemented) Place CUDAPlace(0) is not supported. Please check that your paddle compiles with WITH_GPU, WITH_XPU or WITH_ASCEND_CL option or check that your train process set the correct device id if you use Executor. (at /paddle/paddle/fluid/platform/device_context.cc:101)"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
paddlenlp                         2.2.5
paddleocr                         2.4.0.3            /root/anaconda3/envs/knowledgegraphcommon-py3.8/lib/python3.8/site-packages

[2022-03-24 08:57] franztao commented on #40904
`

(knowledgegraphcommon-py3.8) root@knowledgegraphcommon0305-0:~# python3 -m paddle.distributed.launch  /home/jovyan/work/knowledgegraphcommon/business/table_structure_recognition/tsr_tlr_tablemaster_tgr_paddlleocr_tgl_paddlleocr.py
-----------  Configuration Arguments -----------
backend: auto
elastic_server: None
force: False
gpus: None
heter_devices:
heter_worker_num: None
heter_workers:
host:

[2022-03-24 10:51] Baibaifan commented on #40903
关注下 这个仓哈https://github.com/PaddlePaddle/PaddleDetection
![image](https://user-images.githubusercontent.com/39549453/159900839-60521f5b-91da-4ad1-8afe-8e367134c4c4.png)

[2022-03-24 10:57] Baibaifan commented on #40904
看看有安装正确gpu版本的paddle吗？

[2022-03-24 10:58] Baibaifan commented on #40904
同时确定安装的paddle是否有编译分布式相关功能

[2022-03-24 11:04] seemingwang commented on #40801
可以先安装一下稍微低一点的版本，比如CUDA11.0， 11.5版本还得过段时间开放

[2022-03-24 11:39] seemingwang commented on #40825
inplace的操作目前我们还在进一步完善，但问题里的功能目前还不支持。
对您的问题，暂时这样处理一下，能让2者一致。
[code]

[2022-03-24 14:08] franztao commented on #40904
这个怎么确定？

[2022-03-24 14:09] franztao commented on #40904
我用官网的安装命令，python -m pip install paddlepaddle-gpu==2.2.2 -i https://mirror.baidu.com/pypi/simple

[2022-03-24 14:18] franztao commented on #40904
WARNING: Ignoring invalid distribution -addlepaddle (/root/anaconda3/envs/knowledgegraphcommon-py3.8/lib/python3.8/site-packages)
WARNING: Ignoring invalid distribution -addlepaddle (/root/anaconda3/envs/knowledgegraphcommon-py3.8/lib/python3.8/site-packages)
这个时说明没装好gpu distribution 吗？

[2022-03-25 01:48] #40467 closed, assigned to weisy11

[2022-03-25 02:33] lizhuangliu commented on #40878
c++ 版本，两个环境代码和paddle版本一样的，是从开发环境直接拿过去的，而且代码在arm架构，x86架构都能运行的，代码是统一的一套代码

[2022-03-25 03:03] Li-fAngyU commented on #40850
我发现只有在设备为cpu的情况下才会出现这个问题，如果BML启动环境是GPU的话输出结果就都是120 120

[2022-03-25 03:05] TCChenlong commented on #40850
目前测试 develop 是没有问题的；可以试试在 BML 中手动安装一下 develop 包~

[2022-03-25 03:06] Li-fAngyU commented on #40850
好的

[2022-03-25 03:20] Li-fAngyU commented on #40850
@TCChenlong 是的, 当我在BML里安装develop版本的paddle结果就正常了，但如果是默认的2.2.2的paddle还是会出现这个问题。
当我在本地进行测试的时候，即使我安装的是develop版本还是会出现上述的错误结果(AMD平台)。
![无标题](https://user-images.githubusercontent.com/56572498/160047759-c12e9650-8488-42a8-b707-4e10e44645a5.png)

[2022-03-25 03:41] chenwhql commented on #40800
它的用法和一阶反向注册宏PD_BUILD_GRAD_OP是类似的，重点还是二阶的计算逻辑需要自己推演一下，我今天提供一个示例哈

[2022-03-25 05:46] Baibaifan commented on #40904
大概率是你使用的paddle，编译时候没有编译分布式的相关功能，可以尝试自己编译下paddle 把这个选项打开-DWITH_DISTRIBUTE=ON

[2022-03-25 06:08] TCChenlong commented on #40850
可以提供一下 CPU 型号么？方便我们复现问题

[2022-03-25 06:09] wulei123456789 commented on #40889
@yuwoyizhan 同学您好，非常感谢您对飞桨的关注和支持，关于您提到的几个问题，我具体回复下：

1）《零基础实践深度学习》课程配套的书籍出版工作正在进行中，具体上市时间可能要根据清华社那边的进度稍有调整，待上市前，我们会第一时间在AI Studio知会到大家，您也可以在5月份后关注；
2）电子书的确是目前比较符合开发者需求的一种形式，我们也会和这本书的作者（毕然老师）商量下，同步上线《零基础实践深度学习》电子书，方便大家下载或在线阅读。
3）飞桨目前正在和李沐老师合作，开发《动手学深度学习》Paddle版，计划5月份左右在AI Studio和D2L repo同步上线，您可以提前关注。

再次感谢您对飞桨的支持，以及对飞桨教育产品的建议，欢迎多多沟通交流：）

[2022-03-25 06:20] Li-fAngyU commented on #40850
AMD 5600G

[2022-03-25 06:48] wulei123456789 commented on #40877
@yuwoyizhan 同学您好，感谢您对飞桨的支持，从您的提问中，我们已经感受到了您迫切想学习好飞桨的热情，感谢感谢。
我猜想您可能是在学习飞桨的时候，遇到了一些小困难，我分别回复一下，希望能帮助到您。

1）关于《零基础实践深度学习》书籍：目前已经在清华出版社出版中，适配飞桨2.0版本，代码使用动态图，计划5月底上市，但是可能会根据出版社的时间微调，电子书会考虑同步上市，在此之前，您也可以先关注AI Studio在线课程。
2） 关于复现市面上神经网络书籍：复现书籍代码可能比咱们想象中复杂，需要作者授权，但是飞桨已经了解到开发者需求，并积极推进中。目前飞桨已经在与多名知名学者合作，开发体系化的案例与实践课程和书籍，预计5月底会陆续发布。在课程中会包含您关注的：经典的神经网络、强化学习经典算法的Paddle实现。
3）在此之前，您可以学习已经在AI Stuido上开源的《人工智能导论：案

[2022-03-25 07:52] franztao commented on #40904
有哪里下载编译好的吗？我自己编译各种问题，这又引起其他问题了。。

[2022-03-25 08:11] miemie2013 commented on #40800
期待

[2022-03-25 08:11] franztao commented on #40904
另外，我的环境时单机多卡

[2022-03-25 08:13] franztao commented on #40904
![image](https://user-images.githubusercontent.com/6941820/160081011-f24a0cd3-d30a-4b98-a5f0-34bc2bad755d.png)
这引出太多问题了。。。

[2022-03-25 09:22] allwellll opened #40949 "预测部署的时候, qps高的时候报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.2
    2）CPU：Intel(R) Xeon(R) CPU E5-2450 v2 @ 2.50GHz
    4）系统环境：CentOS release 4.3 (Final)

**预测的时候, 低qps的时候请求没有问题, qps高起来会报下述错误, 请问原因有可能是什么呀**:

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::AnalysisPredictor::ZeroCopyRun()
1   paddle::framework::NaiveExecutor::Run()
2   paddle:

[2022-03-25 09:39] sljlp commented on #40949
你好，已经看到你的问题。
根据报错信息，判断是高并发导致分配的内存不够用于保存接收到的数据，具体原因及解决方案需要再分析。
请问方便提供一份最小量可复现问题的代码吗？

[2022-03-25 11:43] wj-Mcat commented on #40234
【队名】小猫
【序号】：4
【状态】：报名
【链接】：[Paddle](https://github.com/wj-Mcat/Paddle)

[2022-03-25 11:46] allwellll commented on #40949
你好. config配置了这两个优化项, 目前看高qps能扛得住了,  能解释下这两行干了什么吗, 为什么不加就崩了呢 = =
[code]

[2022-03-25 11:55] sljlp commented on #40949
请问这个config 是什么？有相关API吗

[2022-03-25 12:01] allwellll commented on #40949
你好, 是 paddle_infer::Config
https://paddle-inference.readthedocs.io/en/latest/api_reference/cxx_api_doc/Config/CPUConfig.html

[2022-03-25 12:10] jczaja commented on #38693
@baoachun , @lidanqing-intel I have PR (#40923, still fixing CI) that fixes this issue. This PR includes PR with unit test e.g #38692 . There one thing to know. Execution of this test (as measured on my CLX server ) takes over an hour e.g. "Ran 1 test in 4452.513s".  If you thing this is too long then modify PR #38692 so it is shorter. If additional time in CI is not a problem then I will try have

[2022-03-25 12:37] lql341 commented on #40298
1. test_poisson_op  Paddle/build/python/paddle/fluid/tests/unittests/test_poisson_op.py 文件：
59 #                hist, prob, rtol=0.01),
60                 hist, prob, rtol=0.05),
解决思路：增大算子对齐容差。

运行结果如下：
![image](https://user-images.githubusercontent.com/35156008/160124967-52d995d6-6d51-4078-8fa9-bf1338b54dad.png)

2.  test_row_conv_op  Paddle/build/python/paddle/fluid/tests/unittests/op_test.py
17

[2022-03-25 12:46] chenwhql commented on #40800
提交了一个添加示例的PR，并添加相应单测在动态图测试通过了

https://github.com/PaddlePaddle/Paddle/pull/40963

写法基本是没问题的，但在测试时发现一处原先遗留的小问题（少了个break语句），因此顺便修复了一下。但是这导致您不能基于已发布的paddle版本上进行开发了，可能需要等下即将发布的2.3RC或者基于develop版本进行开发

给您造成不便，非常抱歉！

[2022-03-25 13:00] miemie2013 commented on #40800
感谢大佬！那我就安装develop版本体验一下，祝飞桨越来越好！

[2022-03-25 13:06] chenwhql commented on #40800
得等这个PR合入了哈，合入之后我通知您，感谢支持！

[2022-03-25 14:01] zlsh80826 commented on #39818
The problem has been fixed.

[2022-03-25 14:01] #39818 closed, assigned to danleifeng

[2022-03-25 14:02] zlsh80826 commented on #39446
https://github.com/PaddlePaddle/Paddle/pull/40699

[2022-03-25 14:55] amocken opened #40968 "在conda中飞桨2.2.2版和cudnn 8.2版无法共存"
在conda中在没有安装其它包的情况下安装飞桨2.2.2版，会自动安装上cudnn 8.1，但是使用飞桨时又提示“The installed Paddle is compiled with CUDNN 8.2, but CUDNN version in your machine is 8.1, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version.”。但如果安装上飞桨2.2.2版后再安装cudnn 8.2，又会提示有各种冲突问题安装不上。然后我重新创建conda环境（没有预装任何包）试过，即使一开始时输入conda install paddlepaddle-gpu==2.2.2 cudnn=8.2 -c https://mirr

[2022-03-25 15:16] BlackSpritee opened #40969 "搭建模型中exe.run()出现数据类型错误"
环境是paddle1.8 pgl1.2.1
报错如下
_as_lodtensor
    tensor.set(data, place)
paddle.fluid.core_avx.EnforceNotMet:

--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<std::string>(std::string&&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(paddle::

[2022-03-25 15:32] GT-ZhangAcer commented on #40800
感谢wh老师

[2022-03-26 02:30] chenwhql commented on #40800
PR已合入，但是paddle的develop，即nightly build版本是当天晚上编包，所以可能要到第二天才能下载的最新的，https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2022-03-26 04:10] miemie2013 commented on #40800
感谢大佬！这样不用自己编译了，呜呜呜

[2022-03-26 08:11] coolxv commented on #39607
我也有类似的问题用paddlex转换yolov3训练的模型后去推理报错，而使用[resnet50](https://paddle-inference-dist.bj.bcebos.com/Paddle-Inference-Demo/resnet50.tgz)却不报错

[code]

[code]

[2022-03-26 08:18] MiShiDeHaiLuo commented on #39607
我用的C++. 1.yolov3分类的代码不能直接拿来跑目标检测的模型，目标检测有专门的测试Demo代码。 2.C++目标检测的官方demo也存在问题，需要修改。 你可能遇到第一种问题

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年3月26日(星期六) 下午4:11
收件人: "PaddlePaddle/Paddle";
抄送: "State&nbsp;change";
主题: Re: [PaddlePaddle/Paddle] PaddleInferce使用PaddleX分类模型成功，目标检测模型测试失败？(C++语言) (Issue #39607)

我也有类似的问题用paddlex转换yolov3训练的模型后去推理报错，而使用resnet50却不报错
 im

[2022-03-26 08:37] coolxv commented on #39607
参考这个例子好用了：https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/python/yolov3/infer_yolov3.py

[2022-03-26 17:26] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：30

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/40545

[2022-03-27 04:42] lql341 commented on #40234
【队名】：lql341

【序号】：35

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/issues/40298

[2022-03-27 05:47] miemie2013 commented on #40800
大佬你好！我按照你给的示例写了一个tanh的自定义op，现在遇到了y的一阶梯度找不到的问题：
项目地址：https://aistudio.baidu.com/aistudio/projectdetail/3653409

首先，输入以下命令安装最新的develop分支的paddlepaddle
[code]

然后，输入以下命令编译、安装、运行自定义tanh op
[code]

会报以下错误：
RuntimeError: (NotFound) No Input(Y@GRAD) found for Custom operator.
  [Hint: Expected ctx->HasInput(in_name) == true, but received ctx->HasInput(in_name):0 != true:1.] (at /paddle/paddle/fluid/framew

[2022-03-27 07:36] herobigdata2015 opened #40988 "ft1500上编译paddle报错，Could NOT find PY_numpy (missing: PY_NUMPY)"
在ft1500（麒麟server os）上，编译最新版本的paddle，报：
-- Could NOT find PY_numpy (missing: PY_NUMPY)
CMake Error at cmake/python_module.cmake:27 (message):
  python module numpy is not found
Call Stack (most recent call first):
  cmake/external/python.cmake:69 (find_python_module)
  cmake/third_party.cmake:243 (include)
  CMakeLists.txt:394 (include)

我的numpy的版本号为1.25，如下所示：
(paddleenv) root@Kylin:~/heroocrnew/bu

[2022-03-27 08:20] doombeaker commented on #40234
【队名】：OneBeaker

【序号】：70

【状态】：RFC 合并

【PR链接】：https://github.com/PaddlePaddle/community/pull/54

[2022-03-27 08:54] CuberrChen commented on #40730
没有解决。

[2022-03-27 08:54] #40730 closed, assigned to tianxin1860

[2022-03-27 15:02] ImNoBadBoy commented on #40234
【对名】：xd_no-bad
【序号】：112
【状态】：报名
【链接】：https://github.com/ImNoBadBoy/Paddle

[2022-03-27 15:03] ImNoBadBoy commented on #40234
【队名】：xd_no-bad
【序号】：112
【状态】：报名
【链接】：https://github.com/ImNoBadBoy/Paddle

[2022-03-27 15:03] ImNoBadBoy commented on #40234
【队名】：xd_no-bad
【序号】：113
【状态】：报名
【链接】：https://github.com/ImNoBadBoy/Paddle

[2022-03-27 23:58] unseenme commented on #40234
【队名】：UnseenMe

【序号】：62

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/67

[2022-03-28 00:41] yeyupiaoling opened #40995 "Paddle Inference创建的对象怎么释放显存？"
Paddle Inference创建的对象怎么释放显存？创建对象如下，使用完了，如果要代码释放对象和显存，要怎么做？

[code]

[2022-03-28 00:43] yeyupiaoling commented on #40988
你不在虚拟环境安装numpy，直接在系统环境安装numpy试试？

[2022-03-28 00:45] yeyupiaoling commented on #40969
你这个list转成numpy试试？

[2022-03-28 00:50] yeyupiaoling commented on #40968
我安装的cudnn版本是7.6.5，安装命令如下，你的命令是什么，怎么是8.2的
[code]

[2022-03-28 00:50] BlackSpritee commented on #40969
feed到模型的数据就是用的numpy类型，还是报上述错误

[2022-03-28 00:51] yeyupiaoling commented on #40969
我看看你的exe.run是怎么传的？

[2022-03-28 00:55] BlackSpritee commented on #40969
好的，大致的训练过程如下
def train(config):
    num_nodes, num_edges, edges, entity_set, ent2id, rel2id \
        = load_graph_data(config)
    print(num_nodes)
    print(num_edges)
    config.num_class = len(rel2id)
    print(rel2id)
    train_dataset = load_train_test_data(config.train_data_path, ent2id, rel2id)
    node_feature, args.cls_id, sentence_ids = dump_node_feat(args, ent2id ,train_dataset[3])

[2022-03-28 01:02] yeyupiaoling commented on #40969
你检查看你输入得数据是不是list，报错提示你输入的是一个object。你打印看看。

[2022-03-28 01:08] yeyupiaoling commented on #40801
![image](https://user-images.githubusercontent.com/26297768/160310153-098e74e3-5b75-4654-a0a9-41184d8afa0d.png)

[2022-03-28 01:16] terrancraft opened #40996 "pip无法下载paddlepaddle"
从官网给的下载源无法下载paddle
- 版本、环境信息：
    1）PaddlePaddle版本：2.2
    2）CPU：intel core i7
    3）GPU：rtx2080 | cuda 11.2
    4）系统环境：ubuntu 18.04

- 安装方式信息：
 pip安装提示失败
 指令: python -m pip install paddlepaddle-gpu==2.2.2.post112 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html
 返回: Could not find a version that satisfies the requirement paddlepaddle-gpu==2.2.2.post112 (from versions: none)

望解答～谢

[2022-03-28 01:18] BlackSpritee commented on #40969
打印的结果如下
name: " sentence_index"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: INT64
      dims: -1
    }
    lod_level: 0
  }
}
persistable: false

name: "sentence_feat"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: INT64
      dims: -1
      dims: 128
    }
    lod_level: 0
  }
}
persistable: false

[2022-03-28 02:25] wuhuachaocoding commented on #40996
您好，根据您提供的安装指令，我这边使用python3.7可以正常下载。请检查你的python版本和网络环境。也可以直接浏览器点开https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html链接，直接下载你需要的paddle whl包，直接安装。

[2022-03-28 02:38] chenwhql commented on #40800
我用您的代码在本地复现调试一下吧，看起来也是一种之前没有试过的特殊case，但这个aistudio点进去看不到代码，请问这个要怎么看到

[2022-03-28 02:56] AaronDavis2020 opened #40999 "调用paddle.linalg 显示找不到module，在paddlepaddle中的ipython中调用时，出现“AttributeError: module 'paddle' has no attribute 'linalg'”这样的报错"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2022-03-28 03:00] AaronDavis2020 commented on #40999
AttributeError: module 'paddle' has no attribute 'linalg'是这样的报错

[2022-03-28 03:27] terrancraft commented on #40996
python 3.9下载不了，37可以下载 问题解决

[2022-03-28 03:27] #40996 closed, assigned to wuhuachaocoding

[2022-03-28 03:49] wj-Mcat commented on #40234
【队名】小猫
【序号】：93
【状态】：提交RFC
【链接】：https://github.com/PaddlePaddle/community/pull/72

[2022-03-28 03:53] TCChenlong commented on #40299
这样的格式是可以的，但是要回复 #40234  这个ISSUE才可以

[2022-03-28 06:29] jiweibo commented on #40850
您好，目前在最新的develop上编译测试(noavx版本的包，模拟AMD机器运行环境)仍无法复现，最新的develop应该已经修复了这个问题哈！

[2022-03-28 06:39] Li-fAngyU commented on #40850
好的

[2022-03-28 06:59] zhangyimi opened #41019 "执行set_device后，模型会报OSError: (External) CUBLAS error(13). [Hint: 'CUBLAS_STATUS_EXECUTION_FAILED'"
[code]
执行上面的代码会报：
OSError: (External) CUBLAS error(13).
  [Hint: 'CUBLAS_STATUS_EXECUTION_FAILED'.

但是如果在第一行执行`paddle.set_deivce("gpu:1")` 就不会报错。
或者将第四行改为`paddle.set_deivce("gpu:0")`或`paddle.set_deivce("cpu")`也不会报错。

看起来是因为先初始化的模型在gpu:0，又将device设置为gpu:1导致的，想要请教下这个问题该如何解决，或者怎样将model拷贝到gpu:1让代码不报错。

[2022-03-28 07:00] amocken commented on #40968
我是这条命令：`conda install paddlepaddle-gpu==2.2.2 cudatoolkit=11.2 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge `

[2022-03-28 07:04] yeyupiaoling commented on #40968
哦哦

[2022-03-28 07:14] wuhuachaocoding commented on #41019
使用model.to("gpu:1")接口

import paddle
model = paddle.nn.Linear(10,2)
paddle.get_device()
model.to("gpu:1")
paddle.set_device("gpu:1")
x = paddle.rand([8,10])
model(x)

[2022-03-28 07:23] lidanqing-vv commented on #38126
@baoachun said PaddleHub reported failures after the PR merged. Hence please keep this issue open. More info will follow

[2022-03-28 07:32] miemie2013 commented on #40800
大佬您好！代码在~/work/tanh/目录下。或者这里：
代码地址：https://github.com/miemie2013/Paddle_custom_op
在tanh目录下。

大佬，现在又遇到了另一个问题，我该怎么写个自定义sum呢？（代码在上面仓库的sum目录下）sum操作对某几维求和，现在我准备只实现对1维求和，不知道_cuda_forwark_kernel怎么写并行求和，希望也能得到一个示例。

另外希望飞桨能尽快支持用paddle.autograd.PyLayer写二阶导，像 https://github.com/PaddlePaddle/Paddle/issues/39649 中所说的一样。

[2022-03-28 07:57] chenwhql commented on #40800
源码中的16.npz和16.pdparams，我这里没有，我想要快速复现一下现象好进行调试，这个方便共享吗

[2022-03-28 07:59] chenwhql commented on #40800
cuda kernel编写我这边不是很擅长，建议您新创建一个issue，专门问cuda kernel编写的问题，值班同学会为您找到合适的同学进行支持，这个issue我重点为您解决自定义算子二阶反向的问题

[2022-03-28 08:50] zhangyimi commented on #41019
调用model.to后，会打印in ParamBase copy_to func很多次。
![a826eb27fb4fb3672a7aa27777d4ed47](https://user-images.githubusercontent.com/20926735/160361732-f2c40856-7621-4810-b197-11649a6798b4.png)

[2022-03-28 09:11] zche4846 commented on #40234
【队名】：开福区老实人

【序号】：77

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1845

[2022-03-28 09:35] runME commented on #40234
【队名】：对对对

【序号】：61

【状态】：报名

【链接】：https://github.com/runME/Paddle-Lite

[2022-03-28 09:36] lidanqing-vv commented on #38126
To summarize:
1. The model error has been fixed by #40049, However, a newer Baidu commit broke the model again https://github.com/PaddlePaddle/Paddle/issues/40540
2. We expect the commit author could fix the issue, if you need any support or explanation of #40049, @jczaja will answer in time.

[2022-03-28 09:57] yubinyes opened #41033 "paddle2.2.2载入2.1.2的模型出错"
paddle2.1.2训练模型，
paddle2.2.2载入模型，报错：Variable dtype not match, Variable [ generated_tensor_5374 ] need tensor with dtype int64  but load tensor with dtype int32
请问这个问题怎么处理？

为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU

[2022-03-28 10:01] #40850 closed, assigned to kuizhiqing

[2022-03-28 10:28] iiot-tbb opened #41034 "关于PaddlePaddle1.6中模型使用动态图中存在使用numpy的片段，转换静态图无法使用的问题。"
我通过动态图的模型进行训练，其中存在一些numpy的操作，在转换成静态图的过程中报错无法在静态图中使用numpy，但是1.6中如果使用tensor没有办法进行像numpy一样的赋值 索引操作，所以这个问题有办法解决吗？

肯定有人问我为什么要做这样的事情，因为我想把动态图转换为静态图后用paddle server进行部署。

[2022-03-28 10:41] miemie2013 commented on #40800
先跑test2_16_elementwise_grad.py，再跑test2_16_elementwise_grad_2paddle.py就有了，需要安装pytorch。或者那个aistudio项目，~/work/tanh下有16.npz和16.pdparams。

[2022-03-28 11:12] wuhuachaocoding commented on #41034
您好，听你的描述，是静态图的用法不对，"tensor没有办法进行像numpy一样的赋值 索引操作" ，静态图需要修改program完成相应的操作,通常是插入相应的op完成相应的操作，与动态图有区别。比如插入index_select op完成索引操作。

[2022-03-28 11:28] iiot-tbb commented on #41034
嗯嗯，但是我的模型是用动态图搭的，因为我看大片在1.6的文档中关于动态图部分写到可以直接用动态图的代码进行操作。
那我如何用这个动态图训练好的模型部署成为静态图呢。
<img width="469" alt="image" src="https://user-images.githubusercontent.com/51875523/160388478-17bacec7-8e0d-4864-b08f-381ff72fd61c.png">

https://www.paddlepaddle.org.cn/documentation/docs/zh/1.6/user_guides/howto/dygraph/DyGraph.html

[2022-03-28 12:36] basaltzhang commented on #39687
@xiaoxiaohehe001 hi，请问定位到原因了吗？

[2022-03-28 13:11] BrilliantYuKaimin commented on #40234
【队名】：为往圣继绝学

【序号】：18

【状态】：PR提交

【PR链接】：https://github.com/PaddlePaddle/Paddle/pull/40934

[2022-03-28 13:31] tiancaishaonvjituizi commented on #40234
【队名】：我的名字连起来就是王豆豆

【序号】：19

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/68

此外还提交了一个 Paddle 仓库的 bugfix PR 和一个在 community 仓库中修复模板 typo 的 PR，相关的小伙伴可以一并 review~ https://github.com/PaddlePaddle/Paddle/pull/41045 、 https://github.com/PaddlePaddle/community/pull/69

[2022-03-28 13:58] chccc1994 commented on #29908
请问，这个问题怎么解决？

[2022-03-28 14:12] herobigdata2015 commented on #40988
外面系统是python2.7

[2022-03-28 15:12] thunder95 commented on #40234
【队名】：thunder95

【序号】：29

【状态】：PR提交

【PR链接】：https://github.com/PaddlePaddle/Paddle/pull/40774

[2022-03-28 15:15] thunder95 commented on #40234
【队名】：thunder95

【序号】：16

【状态】：报名

【PR链接】：https://github.com/thunder95/Paddle

[2022-03-28 16:16] thunder95 commented on #40234
【队名】：thunder95

【序号】：63

【状态】：报名

【链接】：https://github.com/thunder95/Paddle-Lite-Demo

[2022-03-28 17:41] thunder95 commented on #40234
【队名】：thunder95

【序号】：16

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/71

[2022-03-29 01:14] LoadingBFX commented on #38778
我已在 jetson xavier NX 上安装推理框架Jetpack4.4(4.5): nv_jetson-cuda10.2-trt7-xavier, (paddle v2.2.1) 但是依旧获得AttributeError: 'paddle.fluid.core_noavx.AnalysisConfig' object has no attribute 'set_mkldnn_cache_capacity'. 请问这是什么原因?

[2022-03-29 01:21] lidingke opened #41050 "是否有torch那样的.to接口，可以把tensor从GPU转到CPU的接口"
这是torch的操作可以将tensor在cpu和gpu之间转换。

不知道paddle是否有类似的操作，我的目的是希望将部分特征图转到CPU内存上存下来做其他操作。

[2022-03-29 01:36] BlackSpritee commented on #40969
打印结果如上，sentence_feat并不是list类型，请问需要如何检查，谢谢~

[2022-03-29 01:39] yeyupiaoling commented on #40969
我看你打印的是层，我想让你打印的是这里的值

[code]

[2022-03-29 01:47] BlackSpritee commented on #40969
在feed_dict之前打印结果如下，在feed_dict之后报错在print之前
     print(np.array(sentence_ids))
     feed_dict = {
    "num_nodes": np.array([num_nodes]),
    "num_edges": np.array([num_edges]),
    "edges": np.array(edges),
    "term_ids": np.array(node_feature),
    "sentence_feat": np.array(sentence_ids),
    }
[[  375   325  2226 ... 32067  2011     5]
 [   20    15 45160 ...     0     0     0]
 [ 1315  1037

[2022-03-29 02:00] yeyupiaoling commented on #40969
看数据好像是正常的，这就看不出是哪里问题了

[2022-03-29 02:02] BlackSpritee commented on #40969
好的，感谢你的回复！

[2022-03-29 02:05] firestonelib commented on #41050
您好，paddle 通过设置 place 将 tensor 在不同的设备间转换，具体用法入下：
`cpu = paddle.CPUPlace()
 paddle.to_tensor(x, dtype='int32', place=cpu)`
to_tensor 文档中有详细介绍：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/to_tensor_cn.html#to-tensor

[2022-03-29 02:05] #41050 closed, assigned to firestonelib

[2022-03-29 03:18] Pandede opened #41061 "PyTorch與PaddleOCR共用問題"
我在使用PaddleOCR推論，在此之前會先用PyTorch推論出圖片再給PaddleOCR辨識，但會出現這個Warning
[code]
並自動退出程式。我有參考這一個[issue](https://github.com/PaddlePaddle/Paddle/issues/25646)，但好像沒有解決問題。
這是我實例化PaddleOCR的參數
[code]

[2022-03-29 05:06] TCChenlong commented on #40999
你好，请问你的 Paddle 版本是？ linalg 相关API 是在 Paddle 2.2 之后提供的功能~

[2022-03-29 05:27] BlackSpritee commented on #40969
解决了，是numpy默认为object类型的问题dtype=object，修改为int64就可以了。
另外请问一下ernie-tiny预训练模型支持英文吗？

[2022-03-29 05:42] firestonelib commented on #41061
您好，为方便问题解决可以提供一个最小复现代码么？

[2022-03-29 05:48] wuhuachaocoding commented on #41034
参考官网说明文档完成动转静：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/04_dygraph_to_static/index_cn.html

[2022-03-29 06:29] yeyupiaoling commented on #40969
默认居然是object的，它应该会根据数据自动转换才对，例如你那个它应该会自动指定为int64的，不过决解就行。

ernie是支持英文的：

https://github.com/PaddlePaddle/ERNIE#3-%E4%B8%8B%E8%BD%BD%E9%A2%84%E8%AE%AD%E7%BB%83%E6%A8%A1%E5%9E%8B%E5%8F%AF%E9%80%89

[2022-03-29 06:38] chenwhql commented on #40800
这里有两个问题：

1. 之前框架中处理二阶反向自定义算子时，对`paddle::Grad("Y")`的判别逻辑有点问题，我修复了一下，https://github.com/PaddlePaddle/Paddle/pull/41072
2. 因为二阶反向有两个输出，所infershape时也要反回两个，改动如下：

<img width="738" alt="image" src="https://user-images.githubusercontent.com/22561442/160548806-e6097a28-1cd7-43d3-888e-c8486e5e6b2b.png">

以上两次改完之后，我本地可以正常执行了
<img width="1273" alt="image" src="https://user-images.githubusercontent.com/22561

[2022-03-29 06:44] yeyupiaoling opened #41074 "Paddle Inference多线程问题？"
- PaddlePaddle 2.2.2

我想用Paddle Inference结合Flask提供一个预测服务，想下面这种情况，如果是同时并发访问，会不会出现数据混乱，把其他的预测结果当作当前的识别结果返回了？

[code]

[2022-03-29 07:05] #37270 closed, assigned to JamesLim-sy

[2022-03-29 07:22] Pandede commented on #41061
感謝，我已經找到原因了，是因為YoloV5設定的環境變數問題：
[code]
只要在呼叫PaddleOCR之前改回來就好，感謝回覆

[2022-03-29 07:22] #41061 closed, assigned to firestonelib

[2022-03-29 07:28] nitaibabyle commented on #40234
【队名】：1+1=2

【序号】：105

【状态】：报名

【链接】：https://github.com/nitaibabyle/Paddle

[2022-03-29 09:15] 15283829383 commented on #29395
我也出现了同样的问题，请问有人解决了吗

[2022-03-29 09:16] 15283829383 commented on #29395
请问这个问题解决了吗

[2022-03-29 09:16] wuhuachaocoding commented on #40996
你好，经测试，python3.9可以正常安装。

[2022-03-29 11:35] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：56

【状态】：报名&RFC提交

【PR链接】：https://github.com/PaddlePaddle/community/pull/74

[2022-03-29 11:45] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：57

【状态】：报名&RFC提交

【PR链接】：https://github.com/PaddlePaddle/community/pull/75

[2022-03-29 11:50] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：58

【状态】：报名&RFC提交

【PR链接】：https://github.com/PaddlePaddle/community/pull/76

[2022-03-29 11:55] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：59

【状态】：报名&RFC提交

【PR链接】：https://github.com/PaddlePaddle/community/pull/77

[2022-03-29 12:02] song121982 commented on #40821
没人回答嘛。

[2022-03-29 12:23] Theheavens opened #41107 "[Pickle can't dump Tensor] TypeError: can't pickle Tensor objects"
我又看到类似的问题，但是不太相关：#34451, #34688
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.2
    2）CPU：Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz
    3）GPU：V100
    4）系统环境：Linux
- 训练信息
    1）单机，单卡

The code snippet

The Error info:

[2022-03-29 12:56] Wei-JL opened #41113 "Nano开发板，安装系统后py3.7.1 与官方的最低3.6不匹配？ 一直安装不了推理库"
Nano开发板，安装系统后py3.7.1 与官方的 https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#python
最低3.6不匹配，安装conda后指定安装py版本3.6.9同样不匹配，球球了，官方大大出一个py3.7的Nanogpu推理库吧

[2022-03-29 12:57] firestonelib commented on #41107
可以试下
[code]

[2022-03-29 13:21] unseenme commented on #40234
【队名】：UnseenMe

【序号】：64

【状态】：报名

【链接】：https://github.com/unseenme/Paddle-Lite-Demo

[2022-03-29 14:02] firestonelib commented on #41107
您好，paddle 目前不支持将 tensor 直接 dump，可以把 paddle tensor 转为 numpy 再 dump：
`
import pickle
import paddle
x = paddle.to_tensor([1,2,3])
with open('./test.txt', 'wb') as f:
    pickle.dump(x.numpy(), f)`

[2022-03-29 14:18] #41107 closed, assigned to firestonelib

[2022-03-29 14:30] Theheavens commented on #41107
感谢回复，另外我也注意到可以使用paddle.save & load来保存Tensor。
我也关注到一些保存机制：
https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/save_cn.html#paddle-save-state-dict-layer-tensortensorlisttupledict
我们定义了一个类，其实例中包含动态的Tensor，经过save 和load以后。Tensor变成了(str, numpy.array)。我希望load出来后还是Tensor，请问应该怎么做？ @firestonelib

[2022-03-29 15:17] unseenme commented on #40234
【队名】：UnseenMe

【序号】：64

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/79

[2022-03-30 01:08] LoadingBFX commented on #41074
我也是flask开接口做的, 问题不大.  但是在使用TensorRT加速是会有报错: Profile 0 has been chosen by another IExecutionContext. Use another profileIndex or destroy the IExecutionContext that use this profile. 原因就是多线程问题, 需要在 app.run()中添加 threaded=False, 强制接口使用单线程推理. 你如果使用tensorRT会有相关问题吗?

[2022-03-30 01:56] miemie2013 commented on #40800
感谢大佬了！顺便问一下dy_new有没有实现呢？如果正确实现的话ddd的值会一直是0的，谢谢！

[2022-03-30 02:00] firestonelib commented on #41107
如果 save 保存的是纯 paddle Tensor 而没有转 numpy，那 load 加载得到的数据经过 paddle.to_tensor 转换后会得到相应的 Tensor。

[2022-03-30 02:19] chenwhql commented on #40800
这还不支持标记，看来还需要继续扩展下，我继续看下，顺便加个单测测试一下，因为有别的事也在忙，这次可能会需要个一两天，请见谅

[2022-03-30 03:35] jiemingcheng-hub commented on #40234
【队名】：提交就算成功

【序号】：76

【状态】：提交RFC

【链接】：PaddlePaddle/community/pull/80

[2022-03-30 03:47] miemie2013 commented on #40800
辛苦了，看来自定义算子，任重而道远

[2022-03-30 04:09] sober-6 commented on #40234
【队名】：天大战队

【序号】：69

【状态】：报名

【链接】：https://github.com/sober-6/Paddle

[2022-03-30 05:59] thunder95 commented on #40234
【队名】：thunder95

【序号】：63

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/78

[2022-03-30 06:11] Ligoml opened #41133 "test"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2022-03-30 06:30] pmajchrzak opened #41134 "[Python3.6] Build error in eager_py_layer.cc"
Commit:  https://github.com/PaddlePaddle/Paddle/commit/157c1a28d8fdb30c699604311730a0c409ffebf8 causes make error.
The error is located in the file: ``paddle_paddle/paddle/fluid/pybind/eager_py_layer.cc``

### Error message:
[code]
### PaddlePaddle CMAKE parameters:
[code]
CC: @jczaja @wozna @lidanqing-intel

[2022-03-30 06:35] #41133 closed, assigned to nobody

[2022-03-30 06:35] baoachun commented on #41134
Hi @wanghuancoder, Please deal with the compilation error, thank you!

[2022-03-30 06:53] 0xzhang commented on #40234
【队名】：Master

【序号】：88

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/81

[2022-03-30 06:58] tiancaishaonvjituizi commented on #40234
【队名】：我的名字连起来就是王豆豆

【序号】：28

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/82

[2022-03-30 07:54] NYF-BRICK opened #41142 "PaddlePaddle 2.2.2版本将MultiHeadedAttention转换成inference格式时出错"
**Describe the bug**
在运行paddlespeech/s2t/exps/u2/bin/export.py脚本将Transformer模型转换成inference格式时出错。
是否PaddlePaddle 2.2.2版本不支持将MultiHeadedAttention转换成inference格式？

**Screenshots**
<img width="1200" alt="截屏2022-03-30 下午3 34 18" src="https://user-images.githubusercontent.com/30340135/160780382-16ac843f-00c4-4fc0-bf0b-e3f822be3aaf.png">

**Environment :**
- OS: macOS 12.2.1
- Python Version 3.9.11
- Padd