[2018-11-23 05:59] CruiseSun opened #14556 "使用cross_entroy报错，激活函数用sigmoid"
label = fluid.layers.data(name='label', shape=[1], dtype='int64')
cost = fluid.layers.cross_entropy(input=predict, label=label)

报错：
File "train.py", line 743, in train
    train_func=train_func, place=place, optimizer_func=optimizer_func)
  File "/Users/sunzhenhua/anaconda2/lib/python2.7/site-packages/paddle/fluid/contrib/trainer.py", line 259, in __init__
    program_func_outs = train_func()
  F

[2018-11-23 06:15] qingqing01 commented on #14476
@Ouyangtengfang 请问解决了吗？

[2018-11-23 07:46] Ouyangtengfang commented on #14476
我把训练图片的尺寸从原来的1920*1080改成640*480后，这个问题就修复了，请问是最大的训练图片尺寸是什么？

[2018-11-23 08:15] topxxuki opened #14558 "作业运行时std::bad_alloc报错"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-11-23 08:29] TheodoreG opened #14559 "Is there any way to make paddle fluid does not initialize with gpu memory occupation?"
Hi guys, I found that with "import paddle.fluid as fluid" all capable gpus will be initialized with a mall portion of gpu memories, about 313 MB. However for some training role like "pserver" they do not need gpu memories. Making pserver occupying gpus is a kind of waste.
Is there any way to restrain such gpu occupation?
Thanks a lot.

[2018-11-23 08:32] velconia commented on #14498
```Python3.6``` is supporting now. But what's the ddl for python3.6 support, we are going to support it in 12.6, you could see the works we are doing in the end of this [issue](https://github.com/PaddlePaddle/Paddle/issues/12040)

[2018-11-23 08:33] chengduoZH commented on #14559
You can use `export CUDA_VISIBLE_DEVICES=X,X`.

[2018-11-23 08:33] #14559 closed, assigned to chengduoZH

[2018-11-23 08:40] topxxuki commented on #14558
运行在paaddlecloud上的作业，使用的是paddle-v2

[2018-11-23 08:42] #14558 closed, assigned to nobody

[2018-11-23 08:46] velconia commented on #12040
We are about to support Python3.6 and Python3.7, so this issue is reopened.

Python3.6 and Python3.7 support is coming soon

[2018-11-23 08:50] TomorrowIsAnOtherDay commented on #14498
We plan to publish model and PARL in NeurIPS workshop(12.07) and many participants will be cloning the PARL and  launch the prediction to check its performance.
So it would be nice it is ready at the moment. Besides, will you support `pip install` ?

[2018-11-23 09:21] gongweibao opened #14564 "Some features for sparse tensor."
1. Reduce_op_handle can't support selectrows
1. We should ensure nccl operations run in the same order in multiple machines.

[2018-11-23 09:46] chengduoZH commented on #14556
[code]
`cross_entropy`的输入维度要求是一样的，但是你的模型里面`cross_entropy`的输入数据维度不相等。

[2018-11-23 10:18] 333caowei opened #14566 "op auc does not have kernel for data_type[float]"
本地cpu训练正常，gpu训练提示 op auc does not have kernel for data_type[float]
涉及代码如下：
[code]

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/4569055/48938472-4d67c780-ef4c-11e8-9641-8b0d1b5b809a.png">

[2018-11-23 10:22] CruiseSun opened #14567 "Fluid报错：AttributeError: 'tuple' object has no attribute 'name'"
报错如下：
Traceback (most recent call last):
  File "train.py", line 808, in <module>
    main(USE_GPU)
  File "train.py", line 804, in main
    params_dirname=params_dir)
  File "train.py", line 794, in train
    feed_order=feed_order)
  File "/home/work/.jumbo/lib/python2.7/site-packages/paddle/fluid/contrib/trainer.py", line 405, in train
    feed_order)
  File "/home/work/.jumbo/lib/python2.7/site

[2018-11-23 10:23] CruiseSun commented on #14567
部分代码如下：
def train(use_cuda, train_program, params_dirname):
    place = fluid.CUDAPlace(0) if use_cuda else fluid.CPUPlace()
    trainer = Trainer(
        train_func=train_program, place=place, optimizer_func=optimizer_func)

    feed_order = [
        'scene_type', 'app_id', 'd_item_type', 'd_cluster_id', 'd_category_id', 'd_tags', 'd_quality_level',
        'd_source_domain', 'd_item_type_crss_

[2018-11-23 10:31] chengduoZH commented on #14566
您好，最新develop分支已经修复了这个问题，请pull最新的代码编译使用。

[2018-11-23 10:34] lucywsq commented on #13762
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-23 10:34] #13762 closed, assigned to typhoonzero

[2018-11-23 10:36] lucywsq commented on #13886
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-23 10:36] dzhwinter commented on #14554
Place代表地址空间，如果新硬件有这种特性，可以定义一个新的Place

[2018-11-23 10:36] lucywsq commented on #14010
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-23 10:36] #14010 closed, assigned to typhoonzero

[2018-11-23 10:39] chengduoZH commented on #14567
你可以贴一下`train_program`的函数实现吗？错误显示您这个函数的输出有问题
[code]

[2018-11-23 10:40] #14566 closed, assigned to chengduoZH

[2018-11-23 10:41] lucywsq commented on #14247
您好，若此issue已经解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-23 10:41] #14247 closed, assigned to typhoonzero

[2018-11-23 10:41] CruiseSun commented on #14567
`def train_program():

    predict, binary_predict = inference_program()

    label = fluid.layers.data(name='label', shape=[1], dtype='int64')
    print(predict)
    print(binary_predict)
    print(label)
    cost = fluid.layers.cross_entropy(input=predict, label=label)
    avg_cost = fluid.layers.mean(x=cost)

    auc = fluid.layers.auc(input=binary_predict, label=label)

    return [avg_cost, a

[2018-11-23 10:41] chengduoZH commented on #14035
Close this PR, because of it is inactive for a long time.

[2018-11-23 10:41] #14035 closed, assigned to chengduoZH

[2018-11-23 11:05] chengduoZH commented on #14567
I see, this is because the return of `auc` have multi-values, but `Trainer` thinks the `train_func_outputs` should be a list of variable. For hot fix, you can make the return of `train_program` be a list of variable.

https://github.com/PaddlePaddle/Paddle/blob/e52d90a35e19301bbd8db354b17c3890c069cf9c/python/paddle/fluid/layers/metric_op.py#L190-L192

---

The high-level API is not yet stable, I r

[2018-11-23 11:10] #14556 closed, assigned to chengduoZH

[2018-11-23 11:18] #12359 closed, assigned to qingqing01

[2018-11-23 11:27] #14567 closed, assigned to chengduoZH

[2018-11-24 01:01] LittleFatHero opened #14570 "paddlepaddle团队，你们好！我想问一下paddlepaddle Fluid之后的下一个大版本更新大概是什么时候？API这些是否会有大的改动，是否不会向下兼容？类似于tesorflow 1.x到TensorFlow 2.x"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2018-11-24 06:35] zhuziying commented on #10607
这个问题是怎么回事，我下载的是GPU版本的

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'v2'

[2018-11-24 07:03] zhouhao-learning opened #14572 "根本就不支持pip 安装"
你们官网说支持pip方式安装，可是，当我执行pip install paddlepaddle时，却是如下结果:
[code]
我的系统是ubuntu16.04

[2018-11-24 09:22] velconia commented on #14498
Yes, but they should use ```pip3.6``` or ```pip3.7``` to install the python3.6 or python3.7 paddle wheel package

[2018-11-25 08:36] HoustonDuane opened #14576 "目前只有SSD模型可以用于目标检测，建议添加模型支持训练目标追踪"

[2018-11-25 14:15] mcyhx commented on #12559
Hi,luotao1,It seems the example is still using the link of  http://paddlepaddle.cdn.bcebos.com/demo/wmt_shrinked_data/wmt14.tgz and it does not work.

[2018-11-26 01:52] wanghaoshuang commented on #14576
感谢反馈，我们会考虑将该提议纳入规划。

[2018-11-26 03:33] kaiyuyue opened #14580 "We Should Have The Alternative BN Implementation by Our Own"
Hi there,

This issue is tracked by the project [Simple Baselines for Human Pose Estimation in Fluid](https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/human_pose_estimation).

If BN function of cuDNN is used during training in the task of Human Pose Estimation, a known issue that training can't converge will be encountered on the Tesla P40 / P100 / V100 GPU cards , both in PyTorc

[2018-11-26 06:08] luotao1 commented on #12559
@mcyhx Which example do you use? Could you give the code URL?

[2018-11-26 06:11] frankwhzhang commented on #14319
我也遇到了同样的错误, 提交版本是fluid1.1

[2018-11-26 06:59] shateng opened #14584 "paddle_init_thread函数无法链接"
bcloud里用gpu版本的capi模型预测，其中的paddle_init_thread函数无法链接，貌似这个函数定义在capi/Main.cpp函数里，所以没被编译进.so里，怎么解决？

[2018-11-26 07:07] HugoLian opened #14585 "paddlecloud提交v2版本集群训练随机出错"
我们使用的是paddlecloud v0.10版本训练

每天不同的训练任务都会以类似的随机错误失败，发生的轮数和时间都不定，这个问题从我们第一次使用到现在就一直存在，已经向paddlecloud的同学提了icafe，但目前无法定位问题，需要paddle的同学帮忙看一下，下面是近期的几个任务地址，如果需要我还可以继续提供，请帮忙看一下吧，非常感谢！

http://10.102.215.17:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20181126134915-5825/

http://10.102.215.34:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20181126110116-5705/

[2018-11-26 08:14] gongweibao opened #14587 "Add nccl2 unittest"

[2018-11-26 09:48] wojtuss opened #14594 "The way the multithread mode is enabled has changed?"
A few days ago, when I was running a C-API inference application for MobileNet-SSD or any other model on CPU with a flag `FLAGS_paddle_num_threads` set to > 1, the inference run on multiple threads. With the current version of PaddlePaddle it does not work any more, i.e. the app runs only on a single thread.
How should I set the number of cores to use in the C-API app now?

[2018-11-26 09:55] shanyi15 commented on #14572
hi @zhouhao-learning，请问您的pip源是否更改过呢，请您尝试以下命令能否解决您的问题：
`pip install paddlepaddle==1.1.0 -i  https://pypi.doubanio.com/simple/  --trusted-host pypi.doubanio.com`

[2018-11-26 10:01] luotao1 commented on #14594
#14543 fix this problem, you can use the latest code to try again.

[2018-11-26 10:18] kbinias commented on #14594
It also doesn't work on the latest version of code:
commit 6224e61fd94e6ad87f18c2808a76256b516fa3f3
Author: qingqing01 <dangqingqing@baidu.com>
Date:   Mon Nov 26 15:54:39 2018 +0800

[2018-11-26 10:43] luotao1 commented on #14594
You can use the command
[code]

[2018-11-26 10:48] wojtuss commented on #14594
@luotao1, @kbinias, I confirm it works after adding
[code]
to my `AnalysisConfig`.

[2018-11-26 10:58] wojtuss commented on #14594
@luotao1, do we also have to use `analysis_predictor->SetMKLDNNThreadId()` in our standalone application when running with MKL-DNN?

[2018-11-26 10:58] kbinias commented on #14594
Thanks, so problem was on our side (our C-API application).

[2018-11-26 11:03] urnotdfs opened #14596 "fluid版本Embeding参数初始化问题"
我想对embedding的参数做初始化，在相关文档中看到了v2的写法
<img width="482" alt="e0305cea9c088cea92bed381307eccb1" src="https://user-images.githubusercontent.com/30000786/49010411-23addb00-f1ae-11e8-96c0-713549e78cd4.png">
但在fluid中没有initial_std，我换成了fluid.initializer.Normal:
embed_param = fluid.ParamAttr(name="shared_w", initializer=fluid.initializer.Normal(loc=1, scale=1))但是加上fluid.initializer.Normal的时候会报错
![ad38eeec72a5

[2018-11-26 11:30] luotao1 commented on #14594
@wojtuss Yes, `analysis_predictor->SetMKLDNNThreadId()` is added by your sides https://github.com/PaddlePaddle/Paddle/pull/14543/files#diff-de28fd15f9d03473704e18c205add315L218 , we only encapsulation it.

[2018-11-26 11:34] gongweibao opened #14597 "Add dependency between broadcast operator."

[2018-11-26 11:43] shindou opened #14598 "fluid c++预测时报内存相关错误"
- 版本、环境信息：
    1）PaddlePaddle版本：离线训练版本 v0.14.0
    2）GPU：false
    3）系统环境：CentOS 6.3

- 预测信息
    1）预测库来源：官网下载（v1.1页面提供的cpu_avx_mkl下载链接）
    2）安装包版本信息
           a) GIT COMMIT ID: 05c15a08674bc7a1b08bda32eb6bf4194f3423e9
           b) WITH_MKL: OFF
           c) WITH_MKLDNN: OFF
           d) WITH_GPU: OFF

- 问题描述： 在并发预测情况下出现几种不同的内存报错

1. 使用官网提供的情感分类模型Senta进行离线训练， 预测，均正常（https://github.com/baidu/Se

[2018-11-26 11:45] shateng commented on #14584
已解决，直接用官方的C-API开发包编译链接了

[2018-11-26 11:45] #14584 closed, assigned to nobody

[2018-11-26 11:47] shindou commented on #14598
补充一下：
4.  如果使用AnalysisConfig预测， 固定好相同的输入，反复调用infer函数，会有一定概率出现预测值与应该输出的预测值不一致的情况。 最后以malloc(): smallbin double linked list corrupted报错结束

[2018-11-26 12:01] gongweibao opened #14600 "New method to add nccl operator dependency."
https://github.com/PaddlePaddle/Paddle/pull/14586#issuecomment-441612919

[2018-11-26 12:17] xiaochunWu opened #14601 "运行SSD物体检测中train.py报错NoneType is not iterable"
PaddlePaddle版本为1.1.0
CPU为i7-6700K
GPU为1080
系统为ubuntu16.04
在跑https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/train.py这个代码时报错如下：
/home/aeta/anaconda3/lib/python3.5/site-packages/paddle/fluid/evaluator.py:71: Warning: The DetectionMAP is deprecated, because maintain a modified program inside evaluator cause bug easily, please use fluid.metrics.DetectionMAP instead.

[2018-11-26 12:21] zhouhao-learning commented on #14572
@shanyi15
您提供的方法没有用，还是一样的错误

[2018-11-26 12:27] qingqing01 commented on #14601
@Renewing 可以参考 https://github.com/PaddlePaddle/Paddle/issues/14476 .

[2018-11-26 12:31] qingqing01 commented on #14476
@Ouyangtengfang 标准的SSD模型，可以是300*300， 512 * 512等，尺寸的大小、batch size会影响显存大小。 这个取决于你机器的显存大小。 另外，可以使用 http://www.paddlepaddle.org/documentation/docs/zh/1.1/api/fluid.html#permalink-18-memory_optimize  ，也可以参考图像分类、faster-rcnn模型使用方法。

[2018-11-26 12:40] xiaochunWu commented on #14476
您好，请问这个训练图片的尺寸是在哪里修改呀？是在reader.py中吗？reader.py中不是统一的将图片大小改变为300x300吗？麻烦您~

[2018-11-26 12:43] xiaochunWu commented on #14601
@qingqing01 我看到这个issue了，但是没有理解里面的修改尺寸是什么意思，是修改缩放之前的图片尺寸吗？这样的话是不是可以归类为显存太小？多谢~

[2018-11-26 12:48] wojtuss commented on #14594
@luotao1 , thank you!

[2018-11-26 12:48] #14594 closed, assigned to luotao1

[2018-11-26 12:56] xiaochunWu commented on #14601
@qingqing01 我把batch_size改为1之后还是报同样的错，好像不是显存的问题

[2018-11-26 12:58] qingqing01 commented on #14601
@Renewing  你这个问题不是显存问题，是reader数据有误。 参考 https://github.com/PaddlePaddle/Paddle/issues/14476#issuecomment-439750551 这里给的可能调试地方，打印看下吧

[2018-11-26 12:59] wojtuss commented on #14408
Thanks @Superjomn !

[2018-11-26 12:59] #14408 closed, assigned to Superjomn, luotao1

[2018-11-26 13:00] qingqing01 commented on #14476
@Renewing 你的问题还是在 https://github.com/PaddlePaddle/Paddle/issues/14601 里讨论吧

[2018-11-26 15:28] xiaochunWu commented on #14601
@qingqing01 谢谢大佬，这个bug解决了。但是现在在跑的时候又遇到segmentation fault的错误，具体如下：
*** Aborted at 1543245429 (unix time) try "date -d @1543245429" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x0) received by PID 30554 (TID 0x7fdfd6b97700) from PID 0; stack trace: ***
    @     0x7fdfd629f390 (unknown)
    @                0x0 (unknown)
Segmentation fault (core dumped)
麻烦大佬

[2018-11-27 02:02] gongweibao opened #14609 "test_parallel_testing_with_new_strategy fails randomly."
[code]

[2018-11-27 03:09] bingyanghuang opened #14612 "[Need to discuss]: Add more flexibility to pass for MKLDNN kernel"
For now, if we want to enable one or several ops' mkldnn kernel not all the ops who have mkldnn kernel support in C-API model, the way we use now is to add the specific pass to enable these kinds of ops. However, this way has poor scalability,  we need add different passes for different models. So, we'd like to propose whether
1. we could add some parameters when we add the new pass , i.e. we can

[2018-11-27 03:16] bingyanghuang commented on #14612
@luotao1 Pls help assign this issue with intel label. Thanks.

[2018-11-27 03:18] dashulu opened #14613 "多机多卡pserver方式训练出错"
多机多卡，使用pserver进行训练时，报如下错误：
F1126 15:56:27.350294  4956 grpc_client.cc:288] Get name:[conv2d_4.b_0], ep:[10.255.121.20:30012], status:[-1] meets grpc error:Socket closed
*** Check failure stack trace: ***
    @     0x7f69cefa510d  google::LogMessage::Fail()
    @     0x7f69cefa8bbc  google::LogMessage::SendToLog()
    @     0x7f69cefa4c33  google::LogMessage::Flush()
    @     0x7f69cefaa0ce  googl

[2018-11-27 03:19] Ouyangtengfang commented on #14476
问题已经解决了，谢谢！

[2018-11-27 03:19] #14476 closed, assigned to Yancey0623

[2018-11-27 03:25] luotao1 commented on #14612
We have `config->EnableMKLDNN()` now.
https://github.com/PaddlePaddle/Paddle/blob/6224e61fd94e6ad87f18c2808a76256b516fa3f3/paddle/fluid/inference/api/paddle_analysis_config.h#L54
Maybe we can easily extend this interface to `EnableMKLDNN(std::vector<std::string> op_lists)`, to pass a list of op type names.
@Superjomn How do you think about it?

[2018-11-27 03:31] wopeizl opened #14615 "The lastest update to protobuf.cc would fail the windows build"
- 版本、环境信息：
    1）PaddlePaddle版本：develop
    2）CPU：Intel I7800K
    3）GPU：GForce GTX 1080
    4）系统环境：Windows 10, python 2.7, MSVC 2015 update3

**To Reproduce**
* Use the windows env to start the build process, MSVC would report that compilation error.
* paddle\fluid\pybind\protobuf.cc(33, 0): error C2079: “visibility”使用未定义的struct“pybind11::detail::__attribute__”

**Code to reproduce the issue**
*

[2018-11-27 03:51] jacquesqiao commented on #14585
建议使用fluid进行分布式训练

[2018-11-27 03:58] shanyi15 commented on #14572
您好，由于不清楚您的环境，我们无法复现您的问题，根据您的报错信息，请问您是否用了anaconda？请看[这里](https://blog.csdn.net/shanpenghui/article/details/80564268)

[2018-11-27 04:36] jacquesqiao commented on #14596
[code]
这么写，把整数换成浮点数

[2018-11-27 04:37] jacquesqiao commented on #14613
请提供fluid版本，模型配置，训练使用的资源等详细信息。

[2018-11-27 04:51] qingqing01 commented on #14601
请去掉 ‘大佬’  :)

1. 可以补充下怎么解决的  `TypeError: 'NoneType' object is not iterable` 问题吗？ 可以帮助其他遇到类似问题的人。
2. segmentation fault 错误信息有点少，看不出来问题，麻烦多提供一些信息。

[2018-11-27 04:55] dashulu commented on #14613
fluid v1.0,
模型：

[code]
配置：
![image](https://user-images.githubusercontent.com/4484303/49059393-ae8ce500-f243-11e8-8094-37cb175b9b24.png)

[2018-11-27 05:32] shateng opened #14618 "GPU多线程sequence inference出core"
[code]
CPU下没有问题，GPU下出core：

*** Aborted at 1543296103 (unix time) try "date -d @1543296103" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x29) received by PID 65955 (TID 0x7f496f7fe700) from PID 41; stack trace: ***
    @     0x7f49ecd0b160 (unknown)
    @     0x7f49eda392db paddle::CpuMatrix::selectRowsImp<>()
    @     0x7f49eda36ff6 paddle::CpuMatrix::selectRow

[2018-11-27 06:03] zhouhao-learning commented on #14572
@shanyi15
你好，你提供的方法虽然能正确安装，但是我安装失败的原因不是因为我使用了anaconda,根本原因是你们的paddlepaddle不支持python3.6,仅仅支持python3.5和python2.7

[2018-11-27 06:10] urnotdfs commented on #14596
解决了，谢谢~

[2018-11-27 06:40] lucywsq commented on #14572
@zhouhao-learning 您好，目前PaddlePaddle支持Python版本是3.5和2.7。Python3.6及Python3.7版本都在PaddlePaddle的支持计划中。其中Python3.6支持已经进入研发阶段，预计在未来的2个月会完成稳定支持。您可以根据自己的使用需要来进行选择~

[2018-11-27 06:46] jacquesqiao commented on #14613
这是运行的一个官方demo么？建议用最新版本的fluid来运行任务

[2018-11-27 07:03] dashulu commented on #14613
基于官方demo改了点内容

[2018-11-27 07:08] 333caowei opened #14620 "ncclGroupEnd() == ncclSucces"
gpu单机多卡训练，训练过程中突然出现Check failed: dynload::ncclGroupEnd() == ncclSuccess (1 vs. 0)
[code]
paddle版本为PaddlePaddle 1.1.0.post97

[2018-11-27 07:10] gongweibao commented on #13586
又出错了哦：
http://ci.paddlepaddle.org/viewLog.html?buildId=31335&tab=buildLog&buildTypeId=Paddle_PrCi&logTab=tree&filter=all

[2018-11-27 07:15] jacquesqiao commented on #14618
seq_pos 的 useGPU 设置成false试试

[2018-11-27 07:24] shateng commented on #14618
还是会core，stack trace也一样

[2018-11-27 08:09] dubhex opened #14624 "holder_ should not be null"
版本、环境信息：
    1）PaddlePaddle版本：1.02
    3）GPU：k40
    4）系统环境：centos6.5
- 训练信息
    1）单机，单卡
- 问题描述：
CPU下能正常训练，但是改为GPU后就报错，paddle.fluid.core.EnforceNotMet: holder_ should not be null
Tensor holds no memory. 具体错误提示如下：

Traceback (most recent call last):
  File "train_fan_score.py", line 174, in <module>
    train_score()
  File "train_fan_score.py", line 94, in train_score
    fetch_list = [lr.name, av

[2018-11-27 08:13] pankiki opened #14625 "paddlecloud模型训练出错： CUDA driver version is insufficient for CUDA runtime version"
CPU
paddlecloud将trainer_count改成10出错
具体错误：
Tue Nov 27 13:49:06 2018[1,10]<stdout>:F1127 13:49:06.743296 17418 hl_cuda_device.cc:565] Check failed: cudaSuccess == cudaStat (0 vs. 35) Cuda Error: CUDA driver version is insufficient for CUDA runtime version
Tue Nov 27 13:49:06 2018[1,10]<stdout>:*** Check failure stack trace: ***

[2018-11-27 08:17] jacquesqiao commented on #14624
先升级到最新版本的fluid试试

[2018-11-27 08:38] typhoonzero commented on #14620
请看下`nvidia-smi`输出的结果，是否存在多卡中某个卡故障之类的问题

[2018-11-27 09:50] dubhex commented on #14624
我在docker里重新git clone https://github.com/PaddlePaddle/Paddle.git /paddle， 然后编译，到18%的时候报错：
[ 18%] Built target paddle_gserver
make: *** [all] Error 2

请问这种情况怎么处理？除了重新拉源码编译安装来更新外，还有其它的更新方法吗？

[2018-11-27 10:01] 333caowei commented on #14620
机器接入了孔明，没有登录权限，只能通过qianmo查看利用率.....

[2018-11-27 11:25] lucywsq commented on #14570
您好，很抱歉才来解答您的疑问
大版本的更新已经进入计划， 此处不便透露具体时间点，也请您理解确认了一下API会有变动，但是大版本更新后会兼容之前版本的API，也已经纳入开发计划中感谢您对PaddlePaddle的支持和关注！

[2018-11-27 13:42] jacquesqiao commented on #14625
目前初步结论是当用户选择cpu集群的时候，不应该安装带cuda支持的paddle版本。

[2018-11-27 16:52] n00blet opened #14633 "Machine Translation Documentation - 08.machine_translation"
Hello,
I was trying to run machine translation, and was looking at the documentation and the example to run a basic NMT model. And in your documentation, the link to download the subset of dataset is not available.
Link: http://paddlepaddle.bj.bcebos.com/demo/wmt_shrinked_data/wmt14.tgz.

And in the documentation, how do I create source and target dictionary for my files. Do I have to use a differ

[2018-11-27 17:21] n00blet commented on #14633
I am currently using Google colab to test the Machine Translation and after pip install of **paddlepaddle-gpu** , I tried to run the following command **paddle train --help**  and I ended up with the following error. Is there a way around this problem ?.

_/usr/local/bin/paddle_trainer: error while loading shared libraries: libmklml_intel.so: cannot open shared object file: No such file or directo

[2018-11-28 03:08] typhoonzero commented on #14319
trainer端超时，可能是server挂了，看下server端的日志呢

[2018-11-28 03:12] typhoonzero commented on #14620
是偶发的现象还是必然的，重启机器还能复现么

[2018-11-28 03:31] yeyupiaoling opened #14637 "在分类任务训练，第一个batch的准确率老是很低，这个是什么原因呢？"
从下面的日志中可以看出，每个pass的第一个batch的准确率都0，这是一个什么情况，如果解决呢？
[code]

训练环境：
paddlepaddle 1.1.0
python 3.5
4 个CPU

[2018-11-28 05:27] LihangLiu opened #14640 "sequence_pad 在inferShape时出错"
sequence_pad op 在**编译（inferShape）**的时候，会强制要求lod level >= 1。
但是在编译的过程中很多op会把lod level = 1的input变成lod level = 0。
到了sequence_pad那一步就会出错。

**训练**的时候lod level是正常的。

这么问题要怎么解决？搜了一下inferShape的时候强制要求lod level >= 1的也就只有sequence_pad，是不是可以把这个检查去掉？

[2018-11-28 05:28] LihangLiu commented on #14640
Traceback (most recent call last):
        input_padded, _ = layers.sequence_pad(input, pad_value, maxlen=maxlen)    # (batch, max_seq_len, 1), (batch, 1)
      File "/home/ol/anaconda2/envs/paddle-dev/lib/python2.7/site-packages/paddle/fluid/layers/nn.py", line 3039, in sequence_pad
        attrs={'padded_length': maxlen})
      File "/home/ol/anaconda2/envs/paddle-dev/lib/python2.7/site-packages

[2018-11-28 05:46] wanghaoshuang opened #14641 "enhence pad op"
pad op支持paddings作为variable输出。

[2018-11-28 06:45] xuezhong opened #14642 "drnn中, step_input()的返回值lod信息丢失，导致后续op的检查可能出错"
rt

[2018-11-28 06:49] dzhwinter commented on #14640
InferShape是为了提前报错，去掉检查只是隐藏问题了。

lod为什么会和训练和预测有关？ 你的数据格式是一样的吗？

[2018-11-28 07:02] LihangLiu commented on #14640
sequence_pad这个情况碰到两次。
1.  一次是dynamic rnn在**static_input**的时候会把lod_level=1的输出成lod_level=0。
2. 另一次是**py_reader**创建input时，虽然设置了lod_levels=[1, ...]，但是输出的lod_level依旧是0。

以上都是**inferShape**时候的情况。

[2018-11-28 07:58] bingyanghuang commented on #14612
@luotao1 @Superjomn we can use `EnableMKLDNN(std::vector<std::string> op_lists)` to pass a list , but `EnableMKLDNN()` function is to add the pass , not to give the pass an argument, we still don't solve how can pass get the config info. Do you have some good ideas to let pass read the config info?

[2018-11-28 07:58] 333caowei opened #14644 "paddle.reader.shuffle的buf_size设置影响训练速度"
[code]
buf_size用于控制加载数据的缓存大小，但是我发现每次在buffer切换时候都会花费一个较长时间，例如buf_size=BATCH_SIZE*100时，当batch从90->100时候进行一轮切换，切换耗时较大：
![image](https://user-images.githubusercontent.com/4569055/49137048-54b11b80-f326-11e8-9ff3-54e0f21cb26b.png)

已经使用了py_reader进行数据载入，但是发现并不能解决这个问题，不知有何办法？

[2018-11-28 08:05] dzhwinter commented on #14212
Hi, Could you take a look at this issue? @Superjomn @Xreki  Thanks!

[2018-11-28 08:07] dzhwinter commented on #14644
py_reader你是怎么用的？

[2018-11-28 08:11] 333caowei commented on #14644
输入数据部分关键代码：
[code]

模型读入数据部分关键代码：
[code]

[2018-11-28 08:33] luotao1 commented on #14612
https://github.com/PaddlePaddle/Paddle/blob/12e1719f96108524c324be17ab62f2ececbcb551/paddle/fluid/framework/ir/mkldnn_placement_pass.cc#L21-L27
for line27:
`n->IsOp() && n->Op()->HasAttr("use_mkldnn") && n->OP()->Type() in op_lists`?

[2018-11-28 09:10] dzhwinter commented on #14644
100的时候刚好是shuffle的时候吧？ 所以非常耗时。你把shuffle去掉试试，或者提前shuffle？

[2018-11-28 09:17] 333caowei commented on #14644
![image](https://user-images.githubusercontent.com/4569055/49141307-47e5f500-f331-11e8-97b7-3d4dd08426d2.png)
去掉shuffle则不会存在batch=100时候切换buffer耗时问题，但是带来了每个batch的时间变大的问题，可以从图中看到每个batch的时间变大到3s，而之前使用buffer时候的每个batch耗时在1~2s

[2018-11-28 09:22] 333caowei commented on #14620
是偶发的，暂时没再遇到

[2018-11-28 10:37] dubhex commented on #14624
用最新的1.1版本还是出现了同样的问题。

[2018-11-28 11:36] shiyazhou121 opened #14650 "fluid V1.1 报错paddle.fluid.core.EnforceNotMet: Enforce failed. Expected table_dims.size() == 2, but received table_dims.size():1 != 2:2."
具体报错如下：
![image](https://user-images.githubusercontent.com/15082798/49149277-a2d51780-f344-11e8-8204-9e5365064ce7.png)
其中data为
![image](https://user-images.githubusercontent.com/15082798/49149338-c7c98a80-f344-11e8-8962-c6210805b081.png)
网络结构为
![image](https://user-images.githubusercontent.com/15082798/49149360-d6b03d00-f344-11e8-84f1-a2a1642271af.png)
![image](https://user-images.githubuserconten

[2018-11-28 11:39] #14642 closed, assigned to chengduoZH

[2018-11-28 13:53] dzhwinter commented on #14650
你的table写错了，嵌套的list中多包含了一层，看起来像没有parse到二维矩阵，而是当做一个tuple处理了。

[2018-11-28 13:55] dzhwinter commented on #14644
这个对你影响很大吗？

[2018-11-28 15:12] colin1988 opened #14653 "program_guard包含两次distributed lookup table，退化成非distributed"
File "/home/work/liushengbing/liushengbing/model_train/paddle/paddlecloud/python/mms-hpc-devel/lib/python2.7/site-packages/paddle/fluid/parallel_executor.py", line 277, in run
    self.executor.run(fetch_list, fetch_var_name)
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected ids[i] >= 0, but received ids[i]:-9199116807137126908 < 0:0.

    outer = fluid.Program()
    join_program = fluid.P

[2018-11-28 16:44] dzhwinter commented on #14653
1. 为啥需要两层program_guard?
2. with_guard只是python的语法糖，为啥会影响embedding的属性？

[2018-11-29 01:27] yeyupiaoling opened #14655 "关于data接口的shape参数的问题"
# 环境：
 - paddlepaddle 1.1.0
 - Python 3.5
 - Ubuntu 16.04
 - CPU 4个

# 问题：
我的label值是一个长度为60的一维数组，我的data定义如下：
[code]
或者
[code]

**那么问题就来了，`shape`参数是至数据的维度还是长度？**

同样我定义data时
[code]
或者
[code]

这两种都可以正常训练，但哪个才是标准的使用方式呢？

[2018-11-29 01:59] shiyazhou121 commented on #14650
@dzhwinter 我理解是batch是一个list，每条数据是一个tuple，tuple中有两个list，对应feeder里的word, target，这个应该怎么改
下面是dataReader函数
![image](https://user-images.githubusercontent.com/15082798/49194268-672a6400-f3bd-11e8-95f4-13867f8381d5.png)

[2018-11-29 02:14] 333caowei commented on #14644
比如我设置buf size= 8192*100，每次buf切换的耗时可能高达几分钟，这个耗时感觉太高了，buf size设置越大，这个耗时越明显，但是buf size设置过小又会频繁切换buf

[2018-11-29 02:19] 333caowei commented on #14644
py_reader不能解决这个问题的是吧？我看py_reader有一个use_double_buffer=True的配置，但貌似在这里并没有作用

[2018-11-29 02:20] dzhwinter commented on #14640
感谢反馈，我排查一下

[2018-11-29 02:21] dzhwinter commented on #14640
py_reader上有没有最小复现代码？

[2018-11-29 02:22] dzhwinter commented on #14637
你的batch_size是多大呢？

[2018-11-29 02:22] dzhwinter commented on #14633
设置 LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH

[2018-11-29 02:22] yeyupiaoling commented on #14637
@dzhwinter 128

[2018-11-29 02:23] yeyupiaoling commented on #14637
@dzhwinter 这种情况出现的原因是什么，是模型本身的问题吗？

[2018-11-29 02:24] typhoonzero commented on #14620
感谢反馈。
这个问题从现象看和GPU硬件相关，如果希望进一步跟进，请提供可以复现的环境信息和步骤，比如使用P40 8 卡GPU机器，在某种场景会出现相同的错误等。

[2018-11-29 02:25] dzhwinter commented on #14637
和模型相关，分类目标是几个呢？第一个batch为0，就是说明一个batch内没有猜对的。

[2018-11-29 02:26] xhuanlc commented on #14641
Can we enable the pad op to support variable padding shape?
For example,  fluid.layers.pad2d(input=data, padding=[1,2,3,4], mode='reflect'), where the  "padding" arg only supports a list of int for now.  We expect that we can input a variable as "padding".

[2018-11-29 02:28] yeyupiaoling commented on #14637
@dzhwinter 分类目标有22个，前面的训练挺好的，但是为什么每个pass的第一个batch都是0呢。模型不应该是收敛了吗。准确率应该是接着上一个batch才对啊？

[2018-11-29 02:40] dzhwinter commented on #14637
可以提供一下你的code吗？book里的mnist中的样例，accuracy的是正常的，你可以对比校验一下。

[2018-11-29 02:45] yeyupiaoling commented on #14637
@dzhwinter  可以
[code]

[2018-11-29 02:46] yeyupiaoling commented on #14637
@dzhwinter 这个程序也引出了另一个问题：https://github.com/PaddlePaddle/Paddle/issues/14655
也麻烦老师解答一下。

[2018-11-29 03:02] 333caowei commented on #14620
确实我是在p40 8卡环境下出现的这个问题，不过问题暂未复现，我先把issue关了。

[2018-11-29 03:02] #14620 closed, assigned to nobody

[2018-11-29 03:14] sneaxiy commented on #14640
py_reader的lod_level问题是一个bug，感谢反馈，这个bug已经在develop分支修复，且会在后续的1.2版本release。

[2018-11-29 03:41] GuangyanZhang opened #14658 "paddlepaddle玄学模型玄学问题"
使用paddlepaddle时，写了一个网络，有三条支路，当图片的Ｗ＝Ｈ时，concat到一起网络完全没问题，当Ｗ！＝Ｈ时，最后concat到一起玄学报错，其中有一条支路死活合并不了，只要合并了这条支路就玄学报错，一合并就报错，这个条支路的主要操作就是卷积，图片Ｗ　Ｈ大小变为原来的八分之一，如果这条支路就做resize网络完全没有问题。！！！！！！！！我已经单步调试了，维度完全匹配！！！！！！！请各位大佬帮我看看，谢谢。
报错信息如下：
---------------------------------------------------------------------------
EnforceNotMet                             Traceback (most recent call last)
<ipython-input-6-19f440aa9f

[2018-11-29 05:12] #14615 closed, assigned to velconia

[2018-11-29 05:47] newdimitri commented on #14658
代码如下：合并代码在284行
`import random
import pandas as pd
import cv2
import numpy as np
import paddle
import PIL.Image
import paddle.fluid as fluid
# from sklearn.preprocessing import OneHotEncoder

"""
读取train image 和 label image
"""
# import PIL.Image
def resize_image(img, target_size1,target_size2):
#     img = img.resize((target_size1, target_size2), PIL.Image.LANCZOS)
    img = cv2.resize(img, (targe

[2018-11-29 06:15] Superjomn commented on #14598
线下已经沟通，有后续问题可以 reopen

[2018-11-29 06:15] #14598 closed, assigned to Superjomn

[2018-11-29 06:46] aturbofly opened #14660 "使用paddle fluid训练RankNet模型，训练速度很慢，一直不能收敛"
使用fluid Executor 方式训练RankNet模型。 模型训练很久。loss在很缓慢的下降。但训练好几个小时了，loss也还在0.0X。 数据量才6w多。

代码：
  #!/usr/bin/python
# coding: gbk

from __future__ import print_function
import os
import logging
import paddle
import paddle.fluid as fluid
import numpy as np
from dataset import popin_samples
import math
import gzip
import sys

try:
    from paddle.fluid.contrib.trainer import *
    from paddle.fluid.contrib.

[2018-11-29 07:43] Superjomn commented on #14658
可以发出来模型配置吗，这些信息暂时看不出具体问题

[2018-11-29 07:44] Superjomn commented on #14658
![image](https://user-images.githubusercontent.com/328693/49206637-9f499b00-f3ed-11e8-84f3-919b0a18d28b.png)

支路concat的时候，得确保不同tensor的特定维度的dim一致，这里看起来应该是支路维度不一致的问题。

建议把支路出来的tensor shape都打印出来，看看是否能满足 concat op 对shape的要求，然后对应修改模型。

[2018-11-29 07:56] GuangyanZhang commented on #14658
我已经确认了我的维度是对齐的

[2018-11-29 07:57] Superjomn commented on #14658
shape可以给出来吗

[2018-11-29 07:58] GuangyanZhang commented on #14658
可以出来

[2018-11-29 08:00] GuangyanZhang commented on #14658
有一个支路就是三个卷积层，三个卷积后大小变为原来的八分之一，然后ｃａｎｃａｔ就报错，如把三个ＣＮＮ改为ｒｉｓｉｚｅ为原来的八分之一这个网络就不会报错

[2018-11-29 08:04] GuangyanZhang commented on #14658
如果去掉这个支路，另外两个支路做ＣＯＮＣＡＴ是没有问题的，只要涉及到这个支路做ｃｏｎｃａｔ就有问题。如果去掉另外两个支路只保留这个支路，那个整个网路也没有问题

[2018-11-29 08:05] Superjomn commented on #14658
现在是 concat([a, b, c]) 三个支路？ 可以给下 a, b, c 对应tensor的shape吗？ 贴出来看看吧

[2018-11-29 08:09] GuangyanZhang commented on #14658
对的，context_net = fluid.layers.concat([spatial_net,net_4, net_5_scaled], axis=1)这个concat代码，我马上把shape贴给你

[2018-11-29 08:13] GuangyanZhang commented on #14658
spatial_net, net_4, net_5: [name: "net.tmp_2"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: -1
      dims: 256
      dims: 64
      dims: 32
    }
    lod_level: 0
  }
}
persistable: false
, name: "bilinear_interp_0.tmp_0"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: -1
      dims: 512
      dims: 64
      dims: 3

[2018-11-29 08:14] GuangyanZhang commented on #14658
前三个是三条支路的ｓｈａｐｅ，第四个是合起来的ｓｈａｐｅ

[2018-11-29 09:03] toddwyl opened #14664 "训练过程报received numel():-1 < 0:0.的问题"
不清楚哪里出的错，我的data_tlr和data_thr的shape都是没问题的：
[code]
报错如下：
[code]
部分代码：
[code]
详细的代码放在了百度的aistudio：
http://aistudio.baidu.com/aistudio/#/projectDetail/30654
望解答

[2018-11-29 10:04] LihangLiu commented on #14640
谢谢！

[2018-11-29 11:03] panyx0718 commented on #11884
Supporting TX2 for external users is ongoing.
If you are internal users, can you contact us now?

[2018-11-29 11:26] Yancey0623 commented on #12532
由于长此issue长时间未更新，我先关掉了，如有问题可以随时打开：）

[2018-11-29 11:26] #12532 closed, assigned to Yancey0623

[2018-11-29 12:18] shateng commented on #14618
单线程下没问题了，多线程下还是会core

附上测试代码：
[code]

[2018-11-29 13:02] xiaochunWu commented on #14601
@qingqing01 哈哈，问题已经解决，是自己读取图片的时候路径出了问题，至于segmentation fault也解决了，是因为paddlepaddle的版本和cudnn版本不协调，更换版本后问题解决，多谢大佬~

[2018-11-29 13:02] #14601 closed, assigned to qingqing01

[2018-11-29 13:03] Renewing commented on #14601
@qingqing01 问题已经解决。'NoneType' object is not iterable是因为数据读取的时候路径有问题，修改后问题解决；segmentation fault是因为paddlepaddle的版本和cudnn的版本不协调，卸载重装后问题解决，多谢大佬哈~

[2018-11-30 01:48] #14478 closed, assigned to tink2123

[2018-11-30 01:53] Mcliuyi opened #14675 "Ubuntu 下本地源码安装cmake 时报错"
控制台的报错信息
CMake Error at /usr/share/cmake-3.10/Modules/FindCUDA.cmake:682 (message):
  Specify CUDA_TOOLKIT_ROOT_DIR
Call Stack (most recent call first):
  cmake/configure.cmake:90 (FIND_PACKAGE)
  CMakeLists.txt:245 (include)

CMakeError.log文件的报错信息
make[1]: Entering directory '/home/python/Paddle/build/CMakeFiles/CMakeTmp'
139 Building CXX object CMakeFiles/cmTC_7ba69.dir/src.cxx.o
140 /usr/bin/c+

[2018-11-30 02:05] guoshengCS commented on #14083
这里可能是由于随机初始化引入的差异，可以试下在程序最开始（定义网络结构之前）设置下`paddle.fluid.default_startup_program().seed`和`paddle.fluid.default_startup_program().seed`固定下随机性

[2018-11-30 02:34] lucywsq commented on #13996
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-30 02:34] #13996 closed, assigned to luotao1

[2018-11-30 02:42] lucywsq commented on #14000
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-11-30 02:42] #14000 closed, assigned to Yancey0623

[2018-11-30 02:43] lucywsq commented on #14004
您好，此建议已被记录，衷心感谢您对PaddlePaddle的贡献~我们将努力优化，提供更好的使用体验

[2018-11-30 02:43] #14004 closed, assigned to lucywsq, kagome112

[2018-11-30 02:47] lucywsq commented on #14013
Hello, this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it. In that case, we will get back to you within 24 hours. We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-11-30 02:47] #14013 closed, assigned to lucywsq

[2018-11-30 02:49] #14039 closed, assigned to kuke

[2018-11-30 02:52] lucywsq commented on #14077
您好，此issue在近三周内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-30 02:52] #14077 closed, assigned to gongweibao

[2018-11-30 03:03] lucywsq commented on #14097
您好，此问题已经解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-30 03:03] #14097 closed, assigned to wanghaoshuang

[2018-11-30 03:08] lucywsq commented on #14120
您好，此issue在近一月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-30 03:08] #14120 closed, assigned to typhoonzero

[2018-11-30 03:15] lucywsq commented on #14133
您好，此issue在近三周内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-11-30 03:15] #14133 closed, assigned to nobody

[2018-11-30 03:23] shiyazhou121 opened #14678 "fluid v1.1 crf_decoding输出查看方法"
想在训练时查看下crf_decode输出的序列，在使用exe.run时报错，所以想问下正确的方法
![image](https://user-images.githubusercontent.com/15082798/49266743-46800e00-f492-11e8-8501-b2de8bb15f2c.png)
![image](https://user-images.githubusercontent.com/15082798/49266747-497afe80-f492-11e8-87ef-3c92271b7f81.png)

[2018-11-30 03:39] seiriosPlus commented on #14678
1. 设置```return_numpy=False```
2. 参考 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/test_lod_tensor.py
3. 取Tensor， 可以用get_tensor的方法，取出tensor。
4. 然后用 np.array(取出的tensor)， 可以转换成numpy的array

[2018-11-30 03:53] fseasy opened #14680 "paddle v2 capi 是否存在内存泄露问题（valgrind报告存在大量possibly lost）？"
- 版本、环境信息：
    1）PaddlePaddle版本：V2
    2）CPU：Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz，OpenBlas
    3）GPU：NONE
    4）系统环境：CentOS4.3
-预测信息
    1）C++预测：v2 noavx
    2）CMake包含路径的完整命令: 无，预编译
    3）API信息：
    4）预测库来源：特殊环境 (内部预编译仓库)

- 问题描述：

目前使用v2的capi预测，线上环境内存持续增加。目前还没有定位到具体问题。
不过通过valgrind检测，发现大量paddle命名空间下的protobuf possibly lost.
一个片段如下：
![image](https://user-images.githubusercontent.com/5585818/49

[2018-11-30 04:04] guoshengCS commented on #14088
目前paddle fluid中的elementwise OP所支持的broadcasting限于从`Y`到`X`做broadcast，无法互相broadcast，参考 http://www.paddlepaddle.org/documentation/docs/zh/1.1/api/layers.html#permalink-54-elementwise_add ，这个我们后续会进行完善，所给示例中的broadcasting目前还不支持，对于(-1L, 13L, 1L)和[1, 13, 10]做elementwise_add的功能可以先行尝试使用类似如下的代码

[code]

[2018-11-30 04:52] #13329 closed, assigned to wanghaoshuang

[2018-11-30 04:53] Superjomn commented on #13877
你是paddle v2，目前已经停止开发了?  建议迁移到 paddle fluid， 跟tf 使用方法类似。

[2018-11-30 04:53] #13877 closed, assigned to Superjomn

[2018-11-30 04:53] #14168 closed, assigned to Superjomn

[2018-11-30 04:53] #13744 closed, assigned to wanghaoshuang

[2018-11-30 05:04] #14641 closed, assigned to wanghaoshuang

[2018-11-30 05:28] typhoonzero commented on #14109
Hi, https://github.com/PaddlePaddle/Paddle/pull/14586 已经修复此类问题， 请尝试用最新版本

[2018-11-30 05:30] seiriosPlus commented on #14664
这三个program能分别单独执行么？

[2018-11-30 05:33] typhoonzero commented on #14296
Hi，试下先把ParallelExecutor fetch list去掉可否运行呢

[2018-11-30 05:42] Superjomn commented on #14655
标准方式是，shape是数据的维度。 比如，你的label是一维数组，60长，应该就是 [60]，行优先

[2018-11-30 05:45] Superjomn commented on #14660
这个是标准模型，还是自己定制的模型呢？

[2018-11-30 05:47] zhuziying opened #14684 "运行book第一个实验中生成一个core文件，使用gdb调试出现问号，不知道哪报错"
镜像使用的这里地址的 docker.paddlepaddlehub.com/book:latest-gpu
显示core.x文件的内容有问号

[2018-11-30 06:00] seiriosPlus commented on #13824
1. 如果是用的load_inference_model计算test，需要把auc相关的值先置0.
2. 全局累加的话是取所有auc平均

[2018-11-30 06:18] wangguibao commented on #14392
已解决

[2018-11-30 06:18] #14392 closed, assigned to wangguibao

[2018-11-30 06:23] yeyupiaoling commented on #14655
@Superjomn 像下面定义`y`时，`shape=[121, 6]`和`shape=[726]`都可以，是不是底层已经把他们相乘了？

[2018-11-30 07:08] toddwyl commented on #14664
其实主要的是两个program,一个d_program,一个g_program
g_pretrain_program我们暂时不理这个我已经注释掉了，
这两个program都不能执行，都是出现了同样的问题：`received numel():-1 < 0:0.`
请问一般出现这种问题是哪里出错了，我怀疑是我`SRGAN_g`这个model里的`SubpixelConv_relu`层出错了，不好筛查，想问问这个错误代表什么？

[2018-11-30 07:24] seiriosPlus commented on #14664
看代码你好像没有定义scope, 可以先参考一下这个代码```https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/book/test_word2vec.py```

[2018-11-30 07:41] qingqing01 commented on #14658
能给一个完整的复现脚本吗？

[2018-11-30 07:51] toddwyl commented on #14664
按照您的提示，加入了scope
[code]
仍然出现**同样的错误**：
[code]
另外这个`scope`有什么作用？与我使用`program_guard`有什么区别？
详情代码：
http://aistudio.baidu.com/aistudio/#/projectDetail/30654

[2018-11-30 07:53] toddwyl commented on #14528
Thanks a lot:+1:
It work for me.

[2018-11-30 07:53] #14528 closed, assigned to kuke

[2018-11-30 08:19] toddwyl commented on #14664
我发现了问题所在了：
[code]
此处使用了ones函数
我改成了
[code]
就没有错误了，可能是`ones`函数我不够理解他怎么实现的，我看官方的model也未曾使用过，一般都用`fill_constant_batch_size_like`。
Thanks a lot:+1:

[2018-11-30 09:59] zhaoshiyu opened #14690 "paddle v2 多卡训练速度不如单卡快"
PaddlePaddle 0.11.0(v2)，P40卡，训练时单卡比8卡快是什么原因？
8卡时大部分时间卡处于闲置状态。
GPU：P40
驱动：CUDA 8.0和cuDNN 7

[2018-11-30 10:11] jacquesqiao commented on #14633
Which machine translation model are you using? Can you paste a link to the model repo?

[2018-11-30 10:43] shippingwang opened #14691 "commit的时候出现pre-commit的问题"
![image](https://user-images.githubusercontent.com/13645332/49284471-a77a0700-f4cf-11e8-9bb1-31f9e9277db3.png)

不知道是什么原因=。=

[2018-11-30 11:35] #14691 closed, assigned to nobody

[2018-11-30 11:47] typhoonzero commented on #14613
@dashulu 麻烦Hi上发一下job的链接吧，方便分析

[2018-11-30 13:59] n00blet commented on #14633
Hello, I am following the guidelines from one of your documentation.
https://github.com/PaddlePaddle/book/blob/develop/08.machine_translation/README.md
and
http://paddlepaddle.org/documentation/book/en/1.1/08.machine_translation/index.html#permalink-9-data-preprocessing.

I am trying to run the basic example that is written in the documentation using Google Colab as it has good GPU.

Also the demo

[2018-11-30 14:14] guru4elephant commented on #14690
v2没有使用nccl2，多卡同步的效率并不高，推荐使用fluid版本@zhaoshiyu

[2018-12-01 14:19] GuangyanZhang commented on #14658
能给个邮箱吗？我发你邮箱里。。。。。

[2018-12-01 14:33] phlrain commented on #14624
设置 is_test=False, 通过param_attr来控制不更新参数

[2018-12-01 14:33] #14624 closed, assigned to jacquesqiao

[2018-12-02 06:36] barrierye opened #14699 "修改AsyncExecutor的datafeed中CheckFile函数"
1. CheckFile函数会判断每行数据末尾是否有多余字符，以此来作为判断数据内容是否错误的一个依据。然而在利用hadoop处理数据时，reduce task可能默认在每行输出数据末尾添加一个制表符，但这并不影响数据的正确性。应该把判断逻辑修改成”判断每行数据末尾是否有除空白符外的多余字符“。
2. CheckFile函数中部分VLOG信息等级为ERROR，应设置为0。

[2018-12-02 13:02] #14699 closed, assigned to nobody

[2018-12-02 21:32] tpatejko commented on #14612
@bingyanghuang Out of curiosity, could you give some examples of use cases when selectively turning `use_mkldnn` attribute on or off could be helpful?

[2018-12-02 23:56] Kayven opened #14703 "请问fluid中怎么使用sgd+adam这种优化方式"
在v2中这样的trainer.SGD设置update_equation，但fluid不支持

adam_optimizer = paddle.optimizer.Adam(
    learning_rate=1e-4,
    regularization=paddle.optimizer.L2Regularization(rate=1e-3),
    model_average=paddle.optimizer.ModelAverage(average_window=0.5))

trainer = paddle.trainer.SGD(
    cost=cost,
    extra_layers=paddle.evaluator.auc(input=prob, label=label),
    parameters=parameters,
    update_equatio

[2018-12-03 02:49] yeyupiaoling opened #14705 "提供的模型是否可以提供多个接口的模型？"
保存模型的方式有很多种，文档：http://www.paddlepaddle.org/documentation/api/zh/1.0/io.html
但是官方一般是提供：https://github.com/PaddlePaddle/models/blob/a8dc7ed3d95cf83d7ae0f7988628e6910f018a49/fluid/PaddleCV/image_classification/train.py#L257

我的建议是4个接口保存模型的方式都提供，比如paddle-mobile使用但是`save_inference_model`接口保存的模型，但官网提供的模型也不是这个接口的，以后提供训练好的模型是否可以提供全部的模型。
![image](https://user-images.githubusercontent.com/26297768/49350212-

[2018-12-03 03:10] xuezhong commented on #14703
在fluid中，sgd和Adam都是optimizer，V2版本里面这个地方最终调用的也是adam，所以等价地，你应该在fluid中直接调用adam这个optimizer就行

[2018-12-03 03:26] xuezhong commented on #14705
谢谢您的建议，的确现在提供的模型中主要是checkpoint的方式保存。但是save_inference_model也有大量的模型用到，比如https://github.com/PaddlePaddle/models/blob/25fd8885fe8a1bf848bd6e7d44128c40d882f03d/fluid/PaddleRec/ctr/train.py#L138。你可以直接在repo中搜索就可以获得。

以后提供训练好的模型是否可以提供全部的模型
这个一般依据需求确定，由于实际需求变化比较大，因此具体模型具体分析。如果实际运用中遇到问题，也可以通过issue获得帮助。谢谢~

[2018-12-03 03:30] yeyupiaoling commented on #14705
我的确是在实际的运用上使用到，我在使用paddle-mobile做目标检测时，需要用到`save_inference_model`保存的模型。而且我看看tensorflow提供模型，也是提供全部的模型并打包好的。

[2018-12-03 05:08] bingyanghuang commented on #14612
@tpatejko For examples, we are optimizing the DAM model which use the attention module. In the end of DAM, there are two layers of conv3d with pool3d, these are also top3 hotspots in this model. Since in attention module, we just enabled several ops' mkldnn support, if we enable all the ops' mkldnn, reorder maybe taken more time. So we just want to turn conv3d and pool3d `use_mkldnn` on. In fact,

[2018-12-03 05:33] Kayven opened #14708 "请问fluid中lstm出序列向量的接口是什么"
对于输入【batch_size, seq_len, emb_len】
只能先fc成二维的【batch_size, hid_dim】，然后调用lstm？
emb=fluid.layers.fc(input=emb, size=hid_dim * 4)
fluid.layers.dynamic_lstm(input=emb, size=hid_dim*4, is_reverse=False)

希望lstm输出【batch_size, seq_len, hid_dim】，fluid该怎么实现呢？
tensorflow里就是这样的，tf.nn.bidirectional_dynamic_rnn
paddle里原来v2有个networks.bidirectional_lstm(..., return_seq=True)也可以实现，fluid不兼容

[2018-12-03 07:44] xuezhong commented on #14708
fluid中有两类数据 1是 lodtensor 2是tensor，两类数据的lstm调用方法不一样的。这是最重要的。

其中lodtensor调用dynamic_lstm 或者DynamicRNN+lstm_step, 好处是输入不用padding和mask。[例子](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/language_model/gru/train.py#L50)

其中tensor调用的是StaticRNN，[例子](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/language_model/lstm/lm_model.py#L261)，好处是和tensorflow差不多的逻辑

tensorf

[2018-12-03 07:48] #14705 closed, assigned to xuezhong

[2018-12-03 07:56] tpatejko commented on #14612
@bingyanghuang Understood. When do the reorders between MKLDNN ops take place in the DAM model?

[2018-12-03 08:06] Kayven commented on #14708
多谢@xuezhong  对于dynamic_lstm有点疑问
输入lodtensor
x.lod[[2, 1, 3]]   3条样本3个句子，每个词数不同
x.data [a1,a2,b1,b1,b2,b3]  每个元素是一个词向量

由于需要先fc再dynamic_lstm
emb=fluid.layers.fc(input=emb, size=hid_dim * 4)
此后每条样本就是一个向量了？ 序列丢失了？（成了3个样本，每个是hid_dim * 4的向量）
fluid.layers.dynamic_lstm(input=emb, size=hid_dim*4, is_reverse=False)

[2018-12-03 08:08] bingyanghuang commented on #14612
@tpatejko Now, in DAM model there are two problems about enabling all mkldnn ops:
1. Reorder from mkldnn nchw to paddle nchw, this happens in softmax, elementwise_add ops, time taken is about 1.8ms. This is because Brian designed all the reorder will call mkldnn reorder function, maybe we can optimize this.
2. Pool3d poor performance with mkldnn kernel in single thread. We checked the pool3d mkldn

[2018-12-03 08:41] xuezhong commented on #14708
lod描述了不同的sequence的长度信息，因此从shape看，就没有batch_size这个维度。

在dynamic_lstm内部，会对lod描述的整个长序列，切分成各个sequence 长度，然后做lstm运算。不存在 "序列丢失"。你可以通过Print op将所有的lodtensor打印出来，这样一目了然

[2018-12-03 15:23] xuezhong commented on #14684
可以贴下复现信息

[2018-12-03 16:18] JiabinYang commented on #14675
请问您是编译的哪一个分支的代码

[2018-12-04 00:51] Superjomn commented on #14680
之前没有见过类似问题。 v2上线的服务比较多，应该不太可能出现这样的普遍的内存泄漏问题。
你们模型或者使用版本是有啥特殊的地方吗

[2018-12-04 01:40] qingqing01 commented on #14658
@GuangyanZhang  run接口接受numpy array作为feed数据，为了方便提供一键式可运行的脚本，可以用随机数据，像这个issue https://github.com/PaddlePaddle/Paddle/issues/13235#issue-357054809 一样提供。为了快速解决的您的问题，可以在这个issue里贴下复现配置吧。多谢~

[2018-12-04 01:55] yeyupiaoling opened #14724 "Fluid版本的image工具在哪里？"
## 环境：
 - PaddlePaddle 1.1.0
 - Python 3.5
 - Ubuntu 16.04

## 问题：
在PaddlePaddle 1.1.0版本的默认安装，是没有V2版本的库的，我要使用：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/v2/image.py 这个工具，好像在fluid下找不到，还请老师指点一下，这些工具迁移到哪里了？

[2018-12-04 02:24] Mcliuyi commented on #14675
默认分支，因为我切换分支时失败了

[2018-12-04 07:06] Angus07 opened #14729 "新版本paddle与v2的兼容问题"
原来的老版本的paddle v2预测代码在fluid最新版本的框架更新后无法正常运行，现场是在预测阶段卡住不动，一直在运行中，不报任何错误。

[2018-12-04 07:09] Superjomn commented on #14729
是静态链接还是动态链接。

另外，可能是mkl版本不一致，可以切换成openblas试试。

[2018-12-04 07:11] Angus07 commented on #14729
python 的预测，不是c++的

[2018-12-04 07:18] Angus07 commented on #14729
1.self.inferer = paddle.inference.Inference(output_layer=prob_layer, parameters=parameters)

2.probs = self.inferer.infer(input=test_batch, field=["value"])
在2这里卡住了

[2018-12-04 08:20] qingqing01 commented on #14658
@GuangyanZhang 用您提供的脚本，数据和label采用随机数据可以跑通：

[code]

请注意`test_program`和`optimizer`定义顺序反了，正确的顺序如下：

[code]

请问该如何复现？

[2018-12-04 08:52] zhuziying commented on #14684
root@aa0e7351db67:/book/01.fit_a_line# ls
README.cn.ipynb  README.cn.md  README.ipynb  README.md  core.497  fit_a_line.tar  image  index.cn.html  index.html  infer.py  train.py
root@aa0e7351db67:/book/01.fit_a_line# python train.py
Illegal instruction (core dumped)
root@aa0e7351db67:/book/01.fit_a_line# gdb core core.497
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Copyright (C) 2016 Free Software

[2018-12-04 09:03] hshen14 commented on #13878
I also found the data shape is a little confusing in CRNN-CTC:
* In data_reader.py, DATA_SHAPE = [1, 48, 512]
* In eval.py, the image size is 48 x 384

Shall we change DATA_SHAPE here? @wangguibao @tpatejko @luotao1

[2018-12-04 09:29] reyoung commented on #14505
在Python端设置ParallelExecutor的BuildStrategy。
https://github.com/PaddlePaddle/Paddle/blob/50a698525d6baf898db43ab552fd599acc3351b2/paddle/fluid/framework/details/build_strategy.h#L64-L65

将，`gradient_scale_` 改成 `kOne` 似乎可以解决问题？

[2018-12-04 09:29] #14505 closed, assigned to nobody

[2018-12-04 10:49] sneaxiy commented on #14724
你好，`v2/image.py`的工具在`paddle/dataset/image.py`里面。

[2018-12-04 10:53] #14724 closed, assigned to nobody

[2018-12-04 11:04] fseasy commented on #14680
嗯，我跑数据看了一下哈； 的确不算泄露； 因为是hierarchical输入，也就是句子列表；但是长度截断却是直接按总长度截的，导致有的输入句子个数特别多，因此paddle forward内存大规模增加。
我想知道paddle的内存管理，就是类似vector那样的吧

[2018-12-04 11:22] aturbofly commented on #14660
参考v2版的RankNet,自己定制的。

[2018-12-04 11:24] QsJack opened #14735 "paddle.fluid.core.EnforceNotMet: holder_ should not be null"
paddle.fluid.core.EnforceNotMet: holder_ should not be null
Tensor not initialized yet when Tensor::type() is called. at [/paddle/paddle/fluid/framework/tensor.h:141]

[code]

在训练的时候，正向推理，loss都能打印出来，但是run之后的print没有。

把cross_entropy注释掉，没有问题。

ps. 用的是1.0的版本。

[2018-12-04 11:45] wanghaoshuang commented on #14735
像是fluid.layers.cross_entropy的label没有正确feed， 能补充点训练代码么？

[2018-12-04 11:56] solopointer opened #14736 "paddle.v2.layer.cross_entropy_cost 如何支持 sample weight"
[code]

feeding = {'x': 2, 'y': 0, 'weight': 3}

reader 返回格式是yield label, x, some, weight    weight 是一个int
这样对么？

[2018-12-04 12:58] GuangyanZhang commented on #14658
spatial_net: name: "net.tmp_2"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: -1
      dims: 256
      dims: 16
      dims: 8
    }
    lod_level: 0
  }
}
persistable: false

net_4, net_5: [name: "bilinear_interp_0.tmp_0"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: -1
      dims: 512
      dims: 16
      dims: 8

[2018-12-04 12:59] GuangyanZhang commented on #14658
复现的话只要输入正常的图片和对应的label进去就行。

[2018-12-04 12:59] GuangyanZhang commented on #14658
@qingqing01

[2018-12-04 13:03] GuangyanZhang commented on #14658
因为我在aistudio制作了特定的标签，所以一时半会二说不清楚要怎么来制作数据集，你可以通过 你们aistudio的后段去调我的代码吗？

[2018-12-04 14:08] GuangyanZhang commented on #14658
train_cost, train_acc = exe.run(program=fluid.default_main_program(),
                                        feed={'img':np.random.randint(0, 255, size=(1,3,Image_Height,Image_Width)).astype(np.float32),#train_data,
                                              'label':np.random.randint(0, 1, size=(3384*1710,1)).astype(np.int64)},#train_label_data
                                        fetch_lis

[2018-12-05 01:03] QsJack commented on #14735
[code]

[code]

上面是网络和训练的代码，多谢啦~@wanghaoshuang

[2018-12-05 01:17] yeyupiaoling opened #14738 "在图像分类上，训练的数据预处理和预测的数据预处理为什么不一样"
## 环境：
 - PaddlePaddle 1.0.2
 - Python 3.5
 - Ubuntu 16.04

## 问题：
训练的数据预处理是：
[code]

预测的数据预处理：
[code]

在预测是的shape为`(1, 1, 784)`，但是这样执行预测就会报错，错误如下：
[code]

如果包预测的数据预处理去掉`.flatten()`，shape变成`(1, 1, 28, 28)`，这样预测才正常，这是为什么呢？不是应该要训练和预测是同一样的数据预处理吗？

[2018-12-05 02:17] CruiseSun opened #14739 "在MPI集群上训练，报错信息很短不知道是哪里出问题了（Fluid版本）"
Tue Dec  4 23:03:36 2018[1,8]<stdout>:PassID 0, BatchID 0001, Test Loss 0.59, Auc 0.58, Bat-Auc 0.64
Tue Dec  4 23:03:36 2018[1,8]<stdout>:Exception in thread Thread-35 (most likely raised during interpreter shutdown):
Tue Dec  4 23:03:38 2018[1,8]<stderr>:+ trainer_ret=0
Tue Dec  4 23:03:38 2018[1,8]<stderr>:+ popd
Tue Dec  4 23:03:38 2018[1,8]<stdout>:/home/disk1/normandy/maybach/app-user-201812

[2018-12-05 02:26] qingqing01 commented on #14658
[code]

使用Paddle最新版本可以跑通， 粘贴上面脚本保存为`bisenet.py`，直接运行`python bisenet.py`:

[code]

以上是我使用你提供的例子，将train_data，train_label_data，test_data，test_label_data换成随机数据（label_data是依据配置猜测的维度)。您可以试下这个吗？ 再这个基础上看看有没有问题？

[2018-12-05 02:59] GuangyanZhang commented on #14658
@qingqing01
你说的最新版本是1.01吗？aistudio平台上的是１．０１版本的

[2018-12-05 03:11] GuangyanZhang commented on #14658
我试了下，数据改成你的方式，也是没问题的，我再检查下我的数据输入，但是我用图像数据就是有问题

[2018-12-05 03:11] GuangyanZhang commented on #14658
@qingqing01

[2018-12-05 03:17] tensor-tang commented on #14738
是不是不只单纯的输入这一点不一样呢，或许模型还有哪里区分了is train or test。
从报错信息上来看，确实是因为flatten之后维度不对了，所以conv才会报错，这里conv本身报错也算合理。
所以是不是在train的时候，在conv之前别的逻辑和test不一样了

[2018-12-05 03:20] yeyupiaoling commented on #14738
@tensor-tang 这个是我的程序：https://www.kesci.com/home/project/5c05fc6560266700362e61e1 ，您可用看一下，是不是我哪里错了？

[2018-12-05 03:31] wanghaoshuang commented on #14735
问题：
label所在分支不需要计算反传梯度的话，需要将涉及到的所有variable的stop_gradient设置为True.

[2018-12-05 03:32] yeyupiaoling commented on #14738
@tensor-tang

都一样的。test用了中心裁剪，train用了随机裁剪。所以哪里错了呢？

[2018-12-05 03:33] zyz282994112 opened #14741 "v2在训练过程中获取特定维度元素"
paddle v2版本，代码如下：
acp = paddle.layer.fc(size=1, input=feature_concat_layer, act=paddle.activation.Linear())
ctr = paddle.layer.fc(size=2, input=feature_concat_layer, act=paddle.activation.Softmax())
#cpm = acp * ctr[1]
想要获取ctr第二维元素，与acp相乘计算cpm。

[2018-12-05 03:35] qingqing01 commented on #14658
@GuangyanZhang 可以在Run之前打印下图像数据shape看下。

[2018-12-05 03:36] JiabinYang commented on #14675
您cmake的时候使用`-DWITH_GPU=OFF`试下看看能不能编过

[2018-12-05 03:41] GuangyanZhang commented on #14658
@qingqing01 好的，我试试

[2018-12-05 04:25] tensor-tang commented on #14738
可以把train的时候的size打出来看下吗，这里为什么要flatten，如果都是(1, 1, 784)，感觉训练应该也会有问题啊。

[2018-12-05 04:44] luotao1 commented on #14729
和用户沟通后，设置`export MKL_NUM_THREADS=1`和`export OMP_NUM_THREADS=1`，就能跑通了。

[2018-12-05 04:44] #14729 closed, assigned to Superjomn, luotao1

[2018-12-05 05:35] QsJack commented on #14735
多谢！

[2018-12-05 05:36] QsJack commented on #14735
多谢！
在计算loss的时候尽量不要对label进行操作，若需要操作就要加上stop_gradient=True。

[2018-12-05 06:18] yeyupiaoling commented on #14738
@tensor-tang 不用也可以正常训练，但是不是都要把多维向量转换为一维向量吗？我看PaddlePaddle提供的数据集中也是这样处理的：
https://github.com/PaddlePaddle/Paddle/blob/439af8d50ae2b284b6ef58926dabf792a42582ad/python/paddle/dataset/flowers.py#L71

[2018-12-05 06:19] typhoonzero commented on #14739
沟通后怀疑是train_loop中判断auc > 0.1就return了，可能是这个原因，正在验证

[2018-12-05 06:22] ckarying commented on #12576
请问，现在有相关的工具或者api么？tensorflow to fluid

[2018-12-05 06:47] tensor-tang commented on #14738
这里flatten是为了方便后期处理吧，你这里应该没必要flatten。

[2018-12-05 06:48] yeyupiaoling commented on #14738
@tensor-tang 好的，谢谢您的回答。

[2018-12-05 06:48] #14738 closed, assigned to nobody

[2018-12-05 07:03] xuezhong commented on #14684
可以先用pdb 调试下Python代码，看python代码能运行到哪一句。

从 "Illegal instruction" 来看还是环境安装的有些问题，请贴下安装paddle的命令

[2018-12-05 08:12] velconia commented on #14416
Yes, I will push a PR to fix this api later.

[2018-12-05 08:31] xhuanlc opened #14749 "add "axis" arg to softmax layer"
The current softmax layer,  i.e. paddle.fluid.layers.softmax, only computes softmax along the last dimension. Can you guys add and an "axis" argument to this layer? so the dimension along which to compute softmax can be assigned by users.

[2018-12-05 09:01] #14708 closed, assigned to xuezhong

[2018-12-05 09:01] #14703 closed, assigned to xuezhong

[2018-12-05 09:03] #14735 closed, assigned to wanghaoshuang

[2018-12-05 13:16] 994374821 opened #14759 "paddlepaddle_gpu-1.1.0.post97-cp27-cp27mu-manylinux1_x86_64.whl 是对应cuda9.0 cudnn7.0吗"
建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle_gpu-1.1.0.post97-cp27-cp27mu-manylinux1_x86_64.whl
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：cuda9.0 CUDNN7.0
    4）系统环境：ubuntu16.04 python2.7
- 安装方式信息：
1）pip安装/docker安装
pip install paddlepaddle_gpu-1.1.0.post97-cp27-cp27mu-manylinux1_x86_64.whl

- 问题描述：请详细描述您的问题，同步贴出

[2018-12-05 13:33] Renwb1991 opened #14760 "fluid.layers.scale 函数调用问题"
在调用 fluid.layers.scale 出现如下的问题:
1）相同的输入，执行下面两条预计，出现的结果不一致。
[code]
自己调试了下，发现第二种情况没有把`scale`的值传过去。

2）于是就使用第一种情况，进行调用。但是发现，即便使用
[code]
调用， `shift` 的值也没有传递过去。

求解决，谢谢。

[2018-12-06 04:45] NHZlX commented on #14759
对的。

[2018-12-06 04:47] NHZlX commented on #14760
我先复现一下问题。

[2018-12-06 05:04] NHZlX commented on #14760
**test_scale.py**
[code]

**infer_test.py**
[code]
打印的结果是：
[code]

我这里测试是没有问题的，请按照我的脚本测试一下，看是否有问题。
如果再有问题，请麻烦提供paddle的版本以及本地环境。

[2018-12-06 05:19] NHZlX commented on #14749
Thank you very much for your suggestion. This requirement has been recorded and will be implemented in the future.  If you need this feature urgently, you can try transpose the (N,C,H,W) input into (N,H,W,C) format, and then reshape to shape (NHW, C) , then you can use the softmax op.

[2018-12-06 05:29] NHZlX commented on #14655
shape表示输入的维度信息 ，data后的第一个op可能不需要data的shape，因此不会有影响。有的 op像conv， 会依赖输入的shape来计算output的shape，因此需要准确输入shape的。

[2018-12-06 06:30] Renwb1991 commented on #14760
按照上述的代码运行，结果为
[code]

paddle的版本: 0.14.0
commit: 9470a340ce36410df3b319915681d4472a29fb07
本地环境: Python 2.7.6

[2018-12-06 06:41] NHZlX commented on #14760
那可能是历史版本的bug， 麻烦升级一下paddle 版本。

[2018-12-06 06:54] sonofaeolus opened #14766 "如何实现z(0) i;j = [xiT ; yjT ]T？"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2018-12-06 06:55] sonofaeolus commented on #14766
[[1, 2, 3, 7, 8, 9], [1, 2, 3, 10, 11, 12], [4, 5, 6, 7, 8, 9], [4, 5, 6, 10, 11, 12]]

[2018-12-06 06:56] sonofaeolus commented on #14766
x y 是 ab，z是c

[2018-12-06 07:09] NHZlX commented on #14766
这个op目前不支持。

[2018-12-06 07:12] sonofaeolus commented on #14766
使用while op能不能实现这个操作 两个while op嵌套

[2018-12-06 07:17] NHZlX commented on #14766
这个应该是矩阵的一种操作，你的应用场景是什么，或者说paper，这边可以衡量一下是否可以对其进行支持。

[2018-12-06 07:19] sonofaeolus commented on #14766
我这边先用其他方式试下 不行再说 谢谢了

[2018-12-06 07:19] #14766 closed, assigned to nobody

[2018-12-06 07:59] zhuziying commented on #14684
好的，我安装pdb试一下，安装paddle我就是用github上paddle/book下面官方的链接docker pull docker.paddlepaddlehub.com/book:latest-gpu，下载后的镜像是

docker.paddlepaddlehub.com/book         latest-gpu          7a82298ca2b3        8 months ago        3.91 GB
docker.paddlepaddlehub.com/book         latest-gpu          7a82298ca2b3        8 months ago        3.91 GB

在 2018-12-05 15:03:20，"xuezhong" <notifications@github.com> 写道：

可以先用

[2018-12-06 08:03] dashulu opened #14769 "nccl训练是否支持只使用机器上的部分GPU卡"
nccl进行分布式训练时，如果每个节点有8张卡，能否只使用其中的4张卡进行训练？需要什么特殊配置吗？

[2018-12-06 08:24] typhoonzero commented on #14769
单机情况，指定`export CUDA_VISIBLE_DEVICES=0,1,2,3`用其中4个卡就行。多机情况不需要特殊配置

[2018-12-06 09:25] gaoyiyeah opened #14772 "paddle.layer.warp_ctc 加权重训练出错"
由于实验中需要给不同的ctc_loss加权重，但发现会报错
例如：
import paddle.v2 as paddle
ctc_loss = paddle.layer.warp_ctc(input,label,size,blank)         可以正常运行
ctc_loss = 1.0 * paddle.layer.warp_ctc(input,label,size,blank) 运行则报错：
F1206 17:19:14.852391 16845 SlopeInterceptLayer.cpp:69] Check failed: size == inV->getWidth() (29 vs. 1)
*** Check failure stack trace: ***
    @     0x7f903d92ef2d  google::LogMessage::Fail()

[2018-12-06 11:57] Sand3r- opened #14775 "Cannot build Debug build with WITH_GPU=ON due to file truncation"
**System information**
-PaddlePaddle version  29d9fb53fcb2ca3d64ac7209d80bb40b974f3a9a
-CPU: including MKLDNN version 0.17
-GPU: including CUDA 8.0/CUDNN 7 version
-OS Platform Ubuntu 16.04
-Python version 2.7.12
- Install method: build from source(without docker)

**To Reproduce**
Run cmake:
[code]
and build with `make -j`
**Describe your current behavior**
When GPU build is ran with Debug build

[2018-12-06 12:38] lucywsq commented on #13882
您好，方便的话请您贴出详细报错代码，以便后续复现~

[2018-12-06 12:39] CruiseSun opened #14776 "Fluid在MPI上训练几个batch过后总是报这个GetRPC error，稳定复现问题"
E1206 18:26:28.056375 21482 grpc_client.cc:342] GetRPC name:[category_id_crss_diff_time_table], ep:[10.75.76.39:8000], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
E1206 18:26:28.056991 21482 grpc_client.cc:342] GetRPC name:[app_id_table], ep:[10.75.76.42:8000], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
E1

[2018-12-06 12:40] CruiseSun commented on #14776
任务地址：http://10.75.76.42:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20181206175918-1204/

[2018-12-06 12:43] CruiseSun commented on #14776
发现该问题经常发生在两个data的shuffle buf size之间。

[2018-12-06 12:49] lucywsq commented on #13952
您好，此问题已经超过三周未更新，将于今天内关闭，如有问题您可以随时开启，感谢您对PaddlePaddle的支持！

[2018-12-06 12:49] #13952 closed, assigned to nobody

[2018-12-06 12:51] lucywsq commented on #13963
您好，此问题在一个月内未更新，将于今天内关闭~如有问题您可随时开启，感谢您对PaddlePaddle的支持！

[2018-12-06 12:51] #13963 closed, assigned to nobody

[2018-12-06 12:51] typhoonzero commented on #14776
可以把deadline 设置长一点，在paddlecloud提交配置中增加： `FLAGS_rpc_deadline=6000000`，另外也需要考虑优化shuffle的性能。

[2018-12-06 12:54] lucywsq commented on #13970
您好，请您将遇到的问题的报错代码贴出，以便快速定位问题~

[2018-12-06 12:57] lucywsq commented on #14088
您好，此问题超过一个月未更新，我们将于今天内关闭，遇到问题您可以随时开启，感谢您对PaddlePaddle的支持~

[2018-12-06 12:57] #14088 closed, assigned to lucywsq, kagome112

[2018-12-06 13:03] lucywsq commented on #14109
您好，此问题已经解决，我们将于今天内关闭，如果有问题您可随时开启，感谢您对PaddlePaddle的支持！

[2018-12-06 13:03] #14109 closed, assigned to typhoonzero

[2018-12-06 13:07] NHZlX commented on #14772
v2 中应该不可以将layer的输出和数字相乘, @reyoung  v2中有像fluid中scale样子的接口么。

[2018-12-06 13:07] NHZlX commented on #14760
你好，请问问题解决了么

[2018-12-06 13:08] #14769 closed, assigned to jacquesqiao, typhoonzero

[2018-12-06 13:08] HUSTLX opened #14779 "tensorflow 模型转换"
原来的tf代码是这样的:
![image](https://user-images.githubusercontent.com/12711390/49585758-4011fa80-f99a-11e8-9b91-2507532572f7.png)
usr和job分别是Batch\*100,和Batch\*1000的tensor，通过embedding_lookup成Batch\*100\*embed_dim,和Batch\*1000\*embed_dim维度，但是我改成下面的paddle fluid代码就报错

![image](https://user-images.githubusercontent.com/12711390/49586105-31781300-f99b-11e8-8bcb-44d6ede3c46f.png)

![image](https://user-images.

[2018-12-06 13:10] lucywsq commented on #14138
您好，此问题已经超过一个月未更新，我们将于今天内关闭，如您遇到问题可随时开启，感谢您对PaddlePaddle的支持！

[2018-12-06 13:10] #14138 closed, assigned to dzhwinter

[2018-12-06 13:21] lucywsq commented on #14192
您好，此问题已经超过三周未更新，我们将于今天内关闭，如您遇到问题可随时开启，感谢您对PaddlePaddle的支持！

[2018-12-06 13:21] #14192 closed, assigned to JiabinYang

[2018-12-06 13:28] lucywsq commented on #14282
您好，此功能已经被记录，我们将努力早日完善。此问题已经超过1个月未更新，我们将于今天内关闭，如您有问题可随时开启，感谢您对PaddlePaddle的支持。

[2018-12-06 13:28] #14282 closed, assigned to nobody

[2018-12-06 13:43] yeyupiaoling commented on #14655
好的，谢谢您的回答。

[2018-12-06 13:43] #14655 closed, assigned to NHZlX

[2018-12-06 14:36] NHZlX commented on #14779
emb的输入应该是N*D 的数据，其中N是batchsize， D的大小为1

[2018-12-06 14:39] HUSTLX commented on #14779
但是tf里面这样输入是可以的，我发现我改成这样就可以了

![image](https://user-images.githubusercontent.com/12711390/49590791-b36e3900-f9a7-11e8-926d-298cb0a4e841.png)

[2018-12-06 15:14] junjun315 opened #14780 "Ubuntu 18.04+python3.6.7 下 使用paddle跑模型mnist读取数据时报段错误"
-Ubuntu 18.04+python3.6.7 下 使用paddle跑模型mnist读取数据时报段错误
- 版本、环境信息：
    1）PaddlePaddle版本：1.1,1.2
    2）CPU：-
    3）GPU：-
    4）系统环境：Ubuntu1804、Ubuntu1604，CentOS7，Python3（3.5.1,3.6.7,3.7.0）
- 模型信息
    1）模型名称 `models`项目中的`mnist`模型
- 复现信息：
     models/fluid/mnist
     python3.6 model.py --batch_size 128 --pass_num 5 --device CPU
- 问题描述：
     运行至reader阶段报错

PC: @                0x0 (unknown)
*** SIGSEGV

[2018-12-06 15:26] velconia commented on #14780
The reproducing and fix details was described https://github.com/numpy/numpy/issues/12497

[2018-12-07 01:46] defineconst commented on #9890
有NVIDIA显卡是表示可以支持GPU吗？CUDA、CUDNN选择什么版本了？

[2018-12-07 02:23] CruiseSun commented on #14776
好的。刚增加了deadline新提交个任务试一下。关于优化shuffle的性能请问该怎么做呢？我现在用的是paddle.v2.reader.shuffle()

[2018-12-07 02:28] sneaxiy commented on #14736
请问你指的`weight`是要指什么？

[2018-12-07 02:48] NHZlX commented on #14779
保证最后一个维度是1就可以。根据你的问题来看，你可以让usr的输入是` [-1, 100, 1]`
job的shape为 `[-1, 1000, 1]`

[2018-12-07 02:49] typhoonzero commented on #14776
那shuffle应该还好，可能是fill buf的时间比较长，优化reader性能会减小fill buf的时间。但先看加了`FLAGS_rpc_deadline`是否有效果

[2018-12-07 02:51] seiriosPlus commented on #14509
You may need ```paddle.fluid.layers.print```

[2018-12-07 02:53] solopointer commented on #14736
已经解决 应该使用dense_vector   yield [] 谢谢

[2018-12-07 02:54] CruiseSun commented on #14776
好的，效果验证中

[2018-12-07 02:58] Renwb1991 commented on #14760
使用```pip install paddlepaddle-gpu``` 按照新版paddle.
然后，再次运行时，出现如下错误：
[code]
将paddle 0.14.0中的libmkldnn.so.0拷贝过去时，再次运行，出现如下错误：
[code]

[2018-12-07 03:10] #14736 closed, assigned to reyoung

[2018-12-07 03:18] Renwb1991 opened #14784 "paddle 安装问题"
使用 ```pip install paddlepaddle-gpu``` 按照新版paddle.
然后，再次运行时，出现如下错误：
[code]
将paddle 0.14.0中的libmkldnn.so.0拷贝过去时，再次运行，出现如下错误：
[code]
求解答，谢谢

[2018-12-07 03:35] JiabinYang commented on #14784
请问下您使用的操作系统是什么呢

[2018-12-07 03:42] Renwb1991 commented on #14784
[code]

[2018-12-07 03:55] duanyuzhuo opened #14785 "from paddle.utils.merge_model import merge_v2_model 提示ImportError: No module named merge_model 但是自行安装不成功"
如题
from paddle.utils.merge_model import merge_v2_model
提示ImportError: No module named merge_model

自行安装merge_model模块，提示以下错误信息
Collecting merge_model
  Could not find a version that satisfies the requirement merge_model (from versions: )
No matching distribution found for merge_model

本人使用python 2.7.10 GCC 4.8.2
paddle版本为v2

小白求解答，非常感谢！

[2018-12-07 03:57] JiabinYang commented on #14784
export LD_LIBRARY_PATH=/lib/python2.7/site-packages/paddle/libs:LD_LIBRARY_PATH

[2018-12-07 03:57] #14784 closed, assigned to JiabinYang

[2018-12-07 03:59] NHZlX commented on #14760
refer here: https://github.com/PaddlePaddle/Paddle/issues/14784

[2018-12-07 03:59] #14760 closed, assigned to NHZlX, JiabinYang

[2018-12-07 04:28] #14779 closed, assigned to NHZlX

[2018-12-07 04:48] #14377 closed, assigned to typhoonzero

[2018-12-07 05:04] JiabinYang commented on #14785
merge_model的code在[这里](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/utils/merge_model.py) ， 您可以直接使用

[2018-12-07 05:15] Superjomn commented on #14466
The CAPI should not malloc memory each time. All the weights and temporary variable will be reused each batch, so are their memory.

The python API will delete the temporary variables each batch, so it has more overhead due to malloc.

[2018-12-07 05:26] #14572 closed, assigned to JiabinYang, shanyi15

[2018-12-07 05:42] nizihan opened #14787 "split op出错in_axis_dim % num == 0 failed"
ids_r 的信息如下：
shape: [160,]
dtype: f
希望将ids_r 分成32个子tensor：
slice_lbl = fluid.layers.split(ids_r, num_or_sections=32, dim=0)
报错：
paddle.fluid.core.EnforceNotMet: enforce in_axis_dim % num == 0 failed, 31 != 0
tensor split does not result in an equal division at [/paddle/paddle/fluid/operators/split_op.cc:44]

[2018-12-07 06:13] duanyuzhuo commented on #14785
好的，已解决，非常感谢！

[2018-12-07 06:13] #14785 closed, assigned to nobody

[2018-12-07 06:36] JiabinYang commented on #14787
请问下ids_r是从哪儿来的呢，有完整的代码可以贴一下么

[2018-12-07 06:41] yeyupiaoling commented on #14637
@dzhwinter 按理说，不应该是接着上一个pass后的结果吗？为什么好像搞得跟要重新开始训练一样。

[2018-12-07 06:42] yeyupiaoling commented on #14780
不是不支持python3.6吗。只支持PYthon3.5

[2018-12-07 07:01] CruiseSun commented on #14776
增加了FLAGS_rpc_deadline，目前看比之前好些，可以稳定运行，当前batch size设置为16。batch size为256的任务4个小时过去了，目前还没有trainer.log输出，所以还看不到效果。

[2018-12-07 07:13] yeyupiaoling opened #14788 "关于加载训练模型进行预测的接口问题"
# 环境：
 - PaddlePaddle 1.1.0
 - Python 3.5
 - Ubuntu 16.04

# 问题：
 - 如果使用load_inference_model接口报错模型，那么在预测的时候使用save_inference_model加载模型，进行预测流程非常简单，而且不用加载网络的定义。这个没问题
 - 但是，我在图像分类的[预测代码上](https://github.com/PaddlePaddle/models/blob/5c9deb5e2474a64890a1c2282bb9b29c3bfdef14/fluid/PaddleCV/image_classification/infer.py#L67)看到加载模型是使用load_vars，问题是在[训练的时候](https://github.com/PaddlePaddle/models/blob/5c9deb5

[2018-12-07 07:13] zhuziying commented on #14684
使用pdb调试 with_gpu是False，我的cuda是10.0，cunn也是10.0 是不是版本问题

在 2018-12-05 15:03:20，"xuezhong" <notifications@github.com> 写道：

可以先用pdb 调试下Python代码，看python代码能运行到哪一句。

从 "Illegal instruction" 来看还是环境安装的有些问题，请贴下安装paddle的命令

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-07 07:27] luotao1 commented on #14684
@zhuziying `cat /proc/cpuinfo`看下机器是否有avx指令集。

@junjun315 @JiabinYang 应该属于avx的问题，`docker.paddlepaddlehub.com/book:latest-gpu` 很久没有更新了。

[2018-12-07 07:35] CruiseSun commented on #14776
batch size为500的一个任务，再次出现同样的问题挂掉了，已经训练5个多小时了。任务地址：http://10.75.66.45:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20181207101732-1988/

[2018-12-07 07:42] zhuziying commented on #14684
processor       : 0
vendor_id       : GenuineIntel
cpu family      : 6
model           : 23

model name      : Intel(R) Celeron(R) CPU        E3400  @ 2.60GHz
stepping        : 10
microcode       : 0xa0b
cpu MHz         : 1203.000
cache size      : 1024 KB
physical id     : 0
siblings        : 2
core id         : 0
cpu cores       : 2
apicid          : 0
initial apicid  : 0
fpu             : yes
f

[2018-12-07 07:44] velconia commented on #14780
参考这个 https://github.com/PaddlePaddle/Paddle/issues/12040#issuecomment-441181869 ，我们这两天就要支持了

[2018-12-07 07:50] yeyupiaoling commented on #14780
哇塞。厉害了

[2018-12-07 07:51] nizihan commented on #14787
代码如下：
tmp_clas_fc, tmp_bbox_fc, tmp_heatmap_out = Net(num_classes, image, image_shape)
boxes, ids = fluid.layers.split(tmp_bbox_fc, num_or_sections=[4, 1], dim=2)# 32 5 5 ---> 32 5 4   32 5 1
ids_r = fluid.layers.reshape(x=ids, shape=[-1])# 32 5 1 ---> 160
slice_lbl = fluid.layers.split(ids_r, num_or_sections=32, dim=0)

[2018-12-07 07:59] yeyupiaoling opened #14790 "在训练前加载预训练模型的接口问题"
# 环境：
 - PaddlePaddle 1.1.0
 - Python 3.5
 - Ubuntu 16.04

# 问题：
 - 在图像分类的模型中，加载与训练模型居然同时使用两个，一个是[load_persistables](https://github.com/PaddlePaddle/models/blob/5c9deb5e2474a64890a1c2282bb9b29c3bfdef14/fluid/PaddleCV/image_classification/train.py#L228-L229)，另一个是[load_vars](https://github.com/PaddlePaddle/models/blob/5c9deb5e2474a64890a1c2282bb9b29c3bfdef14/fluid/PaddleCV/image_classification/train

[2018-12-07 08:01] JiabinYang commented on #14787
能麻烦打印一下ids的dims么

[2018-12-07 08:11] typhoonzero commented on #14776
这个看起来没有日志输出。batch_size变大和小batch理论上是一样的，所以可能是程序在batch size变大之后是否存在无限等待数据之类的情况，可以在reader等多处地方增加日志debug，等任务fail时间太长了，debug周期太慢。

[2018-12-07 08:27] luotao1 commented on #14684
对的，确实没有avx

[2018-12-07 08:39] hshen14 commented on #14466
Thanks. We will follow up to verify whether CAPI solved the issue and get update with you.

[2018-12-07 08:50] JiabinYang commented on #14787
<img width="754" alt="2018-12-07 4 47 17" src="https://user-images.githubusercontent.com/22361972/49637265-d9dfb300-fa3f-11e8-9085-f866397bdefc.png">
您在使用`layer.data`的时候把`append_batch_size`这个参数设置为`False`然后在您代码中`-1`替代`batch_size`的地方吧32的`batch_size`填入

[2018-12-07 09:08] hshen14 commented on #14466
After rerun with GLOG_v=6 GLOG_logtostderr=1, seems there are twice variable creation for weight variables:
log:16324:I1207 17:00:47.815078 142972 scope.cc:165] Create variable conv_bn_fuse/eltwise_y_in/52
log:28926:I1207 17:00:48.164046 142972 scope.cc:165] Create variable conv_bn_fuse/eltwise_y_in/52

Sorry, I did not fully understand why there are twice here. Could you please explain?

[2018-12-07 09:09] Superjomn commented on #14466
What's the model?

[2018-12-07 09:13] hshen14 commented on #14466
ResNet-50 FP32, download from the link Luotao provided before.

[2018-12-07 09:24] #13375 closed, assigned to nobody

[2018-12-07 09:24] wanghaoshuang commented on #13375
已解决

[2018-12-07 09:32] yeyupiaoling opened #14793 "能否输出网络的结构？"
在V2版本还可以每个网络来的大小，但是在Fluid版本好像不可以。
Fluid可以这样输出网络的类似结构吗？
[code]

[2018-12-07 09:55] wojtuss opened #14794 "The WarpCTCKernel does not accept INT64 label input"
When running CRNN-CTC inference using C-API and `AnalysisPredictor`, I have to declare the network inputs (`pixel` and `label`) as `PaddleTensor`s of type either `PaddleDType::FLOAT` or `PaddleDType::INT64`. So I declare the labels as `INT64`. However, when the execution comes to the `warpctc` operator
https://github.com/PaddlePaddle/Paddle/blob/add98c9e7de55c72e9cf79300ba65e50934e6178/paddle/flui

[2018-12-07 10:13] luotao1 commented on #14794
Why inference need `warpctc_op`?

[2018-12-07 10:16] wojtuss commented on #14794
Actually, it is for evaluation and accuracy check. This is how python scripts execute the CRNN-CTC evaluation.

[2018-12-07 10:22] JiabinYang commented on #14788
1. 使用save_persistables保存的模型可以使用load_persistable来load模型.
2.   save/load param 是专门保存python中parameter的
3. save vars是保存所有的var，或者您指定的var，不论是不是persistable

具体的区别您可以参考api[文档](http://paddlepaddle.org/documentation/docs/zh/1.1/api/io.html)

[2018-12-07 10:28] JiabinYang commented on #14793
您可以参考[这个例子]https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_program_code.py来打印

[2018-12-07 11:28] shippingwang commented on #14790
1. vars可以看作是包含params和persistables的。
2. checkpoint 用persistables，比如训练一半程序挂了，要继续训练。
3. 用params加载预训练模型可以啊
具体您可以再参考一下[load](http://paddlepaddle.org/documentation/api/zh/1.1/io.html#load-params)

[2018-12-07 11:45] gongweibao opened #14797 "Prune collective server"
[code]

[2018-12-07 12:09] JiabinYang commented on #14787
https://github.com/PaddlePaddle/Paddle/blob/c83d5b7a16563df85cfb61adbe9d18592b3b5d52/python/paddle/fluid/data_feeder.py
您可以修改您paddle文件中的这个文件里，注释掉L159-L161行即可解决reader检查batch size维度的问题

[2018-12-07 14:20] wojtuss commented on #14794
@luotao1 , I have just found out that I really do not need the `warpctc` operator.
Thanks!

[2018-12-07 14:20] #14794 closed, assigned to Superjomn, luotao1

[2018-12-07 16:20] luotao1 commented on #14775
There need some times to fix this compile bug.
And if you only want to fix the `test_concat_mkldnn_op` (which fails the TC build), you can remove following lines, which will not compile inference code:
https://github.com/PaddlePaddle/Paddle/blob/c83d5b7a16563df85cfb61adbe9d18592b3b5d52/paddle/fluid/CMakeLists.txt#L11

[2018-12-08 01:48] yeyupiaoling commented on #14790
@shippingwang
 - 也就是说vars、params、persistables这个三个都可以保存模型，之后可以这个这些模型作为预训练模型加载进去？
 - 那么加载预训练模型的时候，调用的接口要对应之前保存模型的接口一样吗？还是说load_vars可以加载所有的模型作为预训练？

[2018-12-08 02:17] yeyupiaoling commented on #14793
@JiabinYang 好的的，谢谢。如果有输出更清晰的就更好了。

[2018-12-08 02:17] #14793 closed, assigned to seiriosPlus

[2018-12-08 02:22] yeyupiaoling commented on #14788
我想表达的是，通过load_vars接口可以加载 persistables 和 params 模型作为预测吗？

这句话我不是很懂，难道还有其他的参数？

ps：就是因为文档说的不清楚，我才来问的。

[2018-12-08 03:16] zhuziying commented on #14684
我需要换有avx指令集的cpu是这个意思吗？

[2018-12-08 04:24] junjun315 commented on #14684
我们预计12月10日那周内更新包含noavx版本的paddle包，并且更新book的镜像。更新完成后我也会在这个issue里再回复您，请期待，谢谢您的关注和使用～

[2018-12-08 06:31] yeyupiaoling opened #14810 "在Windows在图像分类训练报错"
# 环境：
 - PaddlePaddle 1.2.0
 - Windows 10 专业版
 - Python 3.5

# 问题：
在训练图像分类的时候，报错。是不是MNIST数据集接口出了问题？

[code]

不知道是不是这个问题。

https://github.com/PaddlePaddle/Paddle/blob/943ad4781f5c96573e9615668c1cc73dcb378356/python/paddle/dataset/mnist.py#L43-L49

[2018-12-09 07:31] tianxin1860 opened #14812 "Add optimizers with decoupled weight decay"
[Fixing Weight Decay Regularization](https://arxiv.org/abs/1711.05101) 这篇论文指出了在使用Adam、SGDM等优化算法时，weight_decay与L2 regularizer并不是等价的，直接把Adam和L2Decay组合起来最终的效果会背离weight_decay的本意，希望尽快添加Adam、SGDM等优化算法的WeightDecay版本实现；

tensorflow实现参考: https://github.com/tensorflow/tensorflow/pull/17438

[2018-12-10 02:49] jackyhawk opened #14815 "gru4rec 启动报错"
E1210 10:11:24.682713  1501 grpc_client.cc:338] SendRPC name:[fc_1.w_0@GRAD.block0.trainer_1], ep:[127.0.0.1:6000], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
E1210 10:11:24.683696  1501 grpc_client.cc:338] SendRPC name:[embedding_0.w_0@GRAD.block0.trainer_1], ep:[127.0.0.1:6000], status:[-1] meets grpc error, error_code:4 error_message:Deadline Excee

[2018-12-10 03:10] GuangyanZhang opened #14816 "paddlepaddle 在tensor中通过boolean值索引矩阵"
我想用paddlepaddle做一个tensor的boolean值索引矩阵，在tensorflow中是这个函数tf.boolean_mask,我想知道paddlepaddle有没有这样功能的函数。。（我自己在官方文档找了好久都没有找到），请大佬帮我解答下，谢谢。。。。

[2018-12-10 03:27] lighthearts opened #14818 "status:[-1] meets grpc error:OS Error train.py core dump"
- 版本、环境信息：
    1）PaddlePaddle版本：fluid 1.0.0
    2）系统环境：厂内paddle cloud
- 训练信息
    1）多机cpu
    2）内存15G
    3）Operator信息
- 问题描述：使用类似fluid/PaddleRec/ctr下的代码，在pserver模式下训练，训练到第3轮的时候报错：
错误信息：
F1210 04:41:17.187237  2534 grpc_client.cc:288] Send name:[cuidFactors@GRAD.block4], ep:[10.90.219.20:30038], status:[-1] meets grpc error:OS Error
*** Check failure stack trace: ***
    @     0x7f5b0125640d  googl

[2018-12-10 03:50] shippingwang commented on #14790
用```save_persistsbles```保存持久化参数 用```load_vars```加载模型。
不能 params和persistables相互对应的 保存和加载。

[2018-12-10 03:53] yeyupiaoling commented on #14790
@shippingwang 我不太明白您的表述。我的意思是，是不是可以在训练之前使用load_vars加载vars、params、persistables这三个模型作为预训练？

[2018-12-10 04:37] jackyhawk commented on #14815
大伙有谁遇到过吗？

[2018-12-10 05:06] JiabinYang commented on #14788
1. 可以的
2. 我们在python中有一个parameter类，save/load param是用来存取它的，一般来说，因为vars包含persistable包含parameter，因此load和save的使用也可以借鉴这个关系来使用
3. 相关的文档我们会尽快完善，感谢您的反馈

[2018-12-10 05:13] #14780 closed, assigned to velconia, junjun315, sneaxiy

[2018-12-10 05:17] Superjomn commented on #14466
Can you provide the C++ code? Maybe some usage problem.

[2018-12-10 05:22] hshen14 commented on #14466
[infer_image_classification.txt](https://github.com/PaddlePaddle/Paddle/files/2661649/infer_image_classification.txt)

Command: GLOG_v=6 GLOG_logtostderr=1 FLAGS_use_mkldnn=true FLAGS_paddle_num_threads=28 KMP_AFFINITY=compact,granularity=fine taskset -c 0-27 numactl -l  ./build/infer_image_classification \
        --infer_model=../resnet50_model \
        --batch_size=1 \
        --profile \

[2018-12-10 05:42] frankwhzhang commented on #14815
在哪里实现的？是paddlecloud 还是本地

[2018-12-10 05:43] imistyrain opened #14822 "example for lmdb reader"
[#4695](https://github.com/PaddlePaddle/Paddle/issues/4695)里面有人问道是否有lmdb的reader，但是并没有给出使用的示例,是否需要自己实现这个reader,有没有计划支持，如果有的话什么时候能完成?

[2018-12-10 05:52] jacquesqiao commented on #14818
求任务链接，可以线下发给我

[2018-12-10 05:52] frankwhzhang commented on #14815
本地跑的话 需要关闭代理

[2018-12-10 06:25] defineconst commented on #2991
你好 解决了嘛?谢谢。

[INFO 2018-12-10 14:22:03,694 layers.py:2689] output for pool6_mbox_loc: c = 24, h = 1, w = 1, size = 24
[INFO 2018-12-10 14:22:03,696 layers.py:2689] output for pool6_mbox_conf: c = 12, h = 1, w = 1, size = 12
I1210 14:22:07.396968  2441 GradientMachine.cpp:94] Initing parameters..
I1210 14:22:09.943565  2441 GradientMachine.cpp:101] Init parameters done.
F1210 14:22:13.446383  2441

[2018-12-10 06:29] frankwhzhang commented on #14822
https://github.com/PaddlePaddle/Paddle/blob/f90c7865f0ababccd89332604e7e181c85cf9b60/benchmark/fluid/models/stacked_dynamic_lstm.py

[2018-12-10 06:55] junjun315 commented on #14810
获取数据中使用了命令行指令，当前没有对windows环境进行兼容考虑。后面会修改掉这个数据集获取实现

[2018-12-10 06:57] yeyupiaoling commented on #14810
哦哦，明白。

[2018-12-10 06:57] #14810 closed, assigned to junjun315

[2018-12-10 07:03] frankwhzhang commented on #14822
暂时没有这个计划

[2018-12-10 07:04] yeyupiaoling commented on #14788
@JiabinYang vars、infer_model、params、persistable这四个模型都可以作为预测模型，那还有一些问，
 1. vars包含了params和persistable，infer_model是为了更方便预测。那么为什么要区分params和persistable呢？

[2018-12-10 07:11] frankwhzhang commented on #14822
经与用户沟通，先关闭这个issue

[2018-12-10 07:11] #14822 closed, assigned to frankwhzhang

[2018-12-10 07:53] jackyhawk commented on #14815
多谢 @frankwhzhang .

我是在自己的服务器上跑的，关闭的是哪个代理（或者怎样关闭代理），非常感谢

[2018-12-10 07:58] frankwhzhang commented on #14816
目前没有这个op 您可以自己开发一个或者使用已有的op组合

[2018-12-10 08:20] jackyhawk commented on #14815
貌似 --is_local 1  这样设置就ok了

[2018-12-10 08:27] Sand3r- commented on #14775
@luotao1 Thank you for the tip, I'll definitely try that 👍

[2018-12-10 09:19] GuangyanZhang commented on #14816
@frankwhzhang 我用numpy实现了，但是网络模型涉及的是tensor，所以不好对tensor操作，能不能教下怎么用已有的op组合吗？

[2018-12-10 09:20] jackyhawk opened #14827 "paddle （1.1.0）的 model 中的 ctr model 的demo，启动的时候，报 module' object has no attribute 'create_py_reader_by_data"
module' object has no attribute 'create_py_reader_by_data

单机版本，启动脚本为

#!/bin/bash

# start pserver0
/data0/home/jy/python_installed/bin/python train.py \
    --train_data_path /paddle/data/train.txt \
    --is_local 1 \
    --role pserver \
    --endpoints 127.0.0.1:6000,127.0.0.1:6001 \
    --current_endpoint 127.0.0.1:6000 \
    --trainers 2 \

# start pserver1
/data0/home/jy/python_installed/b

[2018-12-10 09:36] jackyhawk commented on #14827
报错为：

1 1.1.0
  2 Traceback (most recent call last):
  3   File "train.py", line 229, in <module>
  4     train()
  5   File "train.py", line 183, in train
  6     loss, auc_var, batch_auc_var, py_reader = ctr_dnn_model(args.embedding_size, args.sparse_feature_dim)
  7   File "/data0/home/jy/models/fluid/PaddleRec/ctr/network_conf.py", line 131, in ctr_dnn_model
  8     py_reader = fluid.layers.cr

[2018-12-10 09:52] frankwhzhang commented on #14815
echo http_proxy和https_proxy ，unset http_proxy 关闭代理，但一般得是进入shell前就要关闭才有效

[2018-12-10 10:08] TheodoreG opened #14830 "For classification task fluid version trains slower than v2 version with same learning rate."
We found that for the same input, same network structure, same Momentum optimizer and all the sam e hyper parameters,  fluid classification version has 1% ~ 2% lower accuracy compared to v2 version and trains slower. When we set learning rate 10x larger for the fluid version, the loss descendant curve resembles v2's curve more.
So is there any explanation for my observation?

[2018-12-10 11:24] jacquesqiao commented on #14827
请使用1.2版本

[2018-12-10 11:26] frankwhzhang commented on #14816
这个不确定可以实现 一般是自己实现op是最好的

[2018-12-10 11:28] typhoonzero commented on #14830
any details about what model you are training, whether GPU is used, and training environment configurations, so that we can reproduce the case.

In most case, the latest fluid version should be faster than v2 version, and for model evaluations, we may need to check out if there are implementation differences for your case, some models may have some detailed places to update compared to v2.

[2018-12-10 11:35] jackyhawk commented on #14827
我现在的最新的，难道还有 1.2版本？ @jacquesqiao

还有能不能提示下是由于版本的问题造成的

[2018-12-10 11:39] huashaosmile opened #14832 "paddle cloud训练paddle v2时正常运行过程中遇到SocketChannel.cpp:101] Check failed: len > 0 peer=10.73.70.41 curIov=54 iovCnt=76 iovs[curIov].base=0x7fd5185d7519 iovs[curIov].iov_len=273191"
模型单机运行和使用单节点运行时都没问题，使用多节点时遇到多次正常训练的过程中出现如下报错
[INFO 2018-12-10 15:57:54,447 reader.py:111] start train reader from ./train_data
F1210 17:08:10.563592 20691 SocketChannel.cpp:101] Check failed: len > 0  peer=10.73.70.41 curIov=54 iovCnt=76 iovs[curIov].base=0x7fd5185d7519 iovs[curIov].iov_len=273191
*** Check failure stack trace: ***
    @     0x7fd68d46e1bd  google::LogMessage::Fail()
    @     0x7

[2018-12-10 11:47] BiaoPeng commented on #14815
同样问题 周六在pddle cloud 上没问题 今天就出问题了

[2018-12-10 11:49] frankwhzhang commented on #14815
这个是稳定复现的问题吗

[2018-12-10 11:52] BiaoPeng commented on #14815
今天 起了 好几次任务 就是同样的错误
E1210 18:54:18.154878  9260 grpc_client.cc:342] SendRPC name:[emb.w@GRAD.block3.trainer_0], ep:[10.156.85.34:8000], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
Traceback (most recent call last):
  File "train.py", line 300, in <module>
    train()
  File "train.py", line 289, in train
    train_reader, place, avg_cost)
  File "train

[2018-12-10 11:59] ylxsyf opened #14833 "models/fluid/PaddleNLP/chinese_ner 无法正常跑模型"
train.py中34行把默认的GPU换成了CPU

pass_id:0, time_cost:2.85610508919s
[Train] precision:0.00207385603425, recall:0.0168753402286, f1:0.00369377420316
Traceback (most recent call last):
  File "train.py", line 356, in <module>
    main(args)
  File "train.py", line 344, in main
    [num_infer_chunks, num_label_chunks, num_correct_chunks])
  File "train.py", line 231, in test2
    fetch_list=cur_fetch_list

[2018-12-10 12:09] CruiseSun commented on #13824
我刚好也遇到了相似的问题，请问：
1. global auc是全局累计取平均值？那是不是等同于我记录每个batch auc，然后将它们求和平均呢？
2. 用load_inference_model计算test的auc，如何把global auc给先置0呢？

[2018-12-10 12:23] CruiseSun commented on #14776
这个问题解决了，原来是我的reader逻辑问题，导致延迟太高。谢谢！

[2018-12-10 12:30] seiriosPlus commented on #13824
1. global auc是全局累计取平均值？那是不是等同于我记录每个batch auc，然后将它们求和平均呢?
     答： 不是，AUC是累加值进行计算的，不是求平均
2. 用load_inference_model计算test的auc，如何把global auc给先置0呢？
在调用auc layers的时候，会返回三个值 第一个是 全局auc的var, 第二个是 batch auc的var, 第三个是auc相关的状态记录的var。 参见https://github.com/PaddlePaddle/Paddle/blob/c4c5f0b8ca79fdb35397f0e96ce1050a4a8961dc/python/paddle/fluid/layers/metric_op.py#L190。
如何把global auc给置0， 可以参考代码， 其中的auc_states为auc相关

[2018-12-10 12:35] frankwhzhang commented on #14815
如果之前可以跑通 今天不行的话 可以联系paddlecloud那边的同学，有可能是网络问题

[2018-12-10 12:37] CruiseSun commented on #13824
我现在想在固定步数的batch后进行一次test，可是如果这样吧auc的状态给置0了，感觉会影响到train auc的累加吧？不知道该怎么解决好，是重新定义一个auc layer还是有什么更好的办法？

[2018-12-10 12:58] topxxuki opened #14835 "如何知晓import paddle的版本"
安装版本：v1.2 /v0.14
python 2.7.13
系统环境 centos7

有没有类似于sys.version_info知道python版本的方法查看paddle版本？

[2018-12-10 13:05] topxxuki commented on #14835
0.14的安装链接：https://files.pythonhosted.org/packages/e0/34/e953e61c6024e32383d8053c12c88c2e7270af406a38e960cff55de6b07a/paddlepaddle-0.14.0-cp27-cp27mu-manylinux1_x86_64.whl

采用
import paddle
print paddle.__version__
输出版本好0.0.0

[2018-12-10 13:13] jacquesqiao commented on #14832
建议使用fluid

[2018-12-10 13:26] wojtuss opened #14837 "The `fc_gru_fuse_pass` breaks accuracy in C-API CRNN-CTC inference."
The `fc_gru_fuse_pass` breaks accuracy when running CRNN-CTC inference using the C-API.

The application
https://github.com/wojtuss/models/tree/wojtuss/capi-ocr-recognition/fluid/PaddleCV/ocr_recognition/capi
runs inference using the CRNN-CTC trained model
https://github.com/wojtuss/models/blob/wojtuss/capi-ocr-recognition/fluid/PaddleCV/ocr_recognition/models/CRNN-CTC_model.tar.gz
 (with weights

[2018-12-10 13:32] beyonder365 opened #14838 "paddle训练没报错，但是训练一天了，没有模型输出"
log 可以参考：

http://nmg-hpc-hlan-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20181209164347-4663

[2018-12-10 14:19] luotao1 commented on #14837
Yes, we already find that `fc_gru_fuse_pass` breaks accuracy in CRNN-CTC, but we don't have a priority to fix it. You can remove this pass in CRNN-CTC at first:
[code]

[2018-12-10 23:11] psersonal-cjy commented on #2991
解决了，谢谢

| |
陈金毓
邮箱：13261904407@163.com
|

签名由 网易邮箱大师 定制

On 12/10/2018 14:26, defineconst wrote:

你好 解决了嘛?谢谢。

[INFO 2018-12-10 14:22:03,694 layers.py:2689] output for pool6_mbox_loc: c = 24, h = 1, w = 1, size = 24
[INFO 2018-12-10 14:22:03,696 layers.py:2689] output for pool6_mbox_conf: c = 12, h = 1, w = 1, size = 12
I1210 14:22:07.396968 2441 GradientMachine.cpp:94] Initing parameters..
I1210

[2018-12-11 02:01] reyoung commented on #14741
Paddle V2不支持slice操作，推荐使用paddle.fluid版本来看看

[2018-12-11 02:07] typhoonzero commented on #14776
好的感谢反馈。先关闭了～

[2018-12-11 02:07] #14776 closed, assigned to jacquesqiao, typhoonzero

[2018-12-11 02:50] JiabinYang commented on #14835
您可以直接在命令行输入`paddle version`

[2018-12-11 02:52] topxxuki commented on #14835
![image](https://user-images.githubusercontent.com/18697846/49775326-c9c31e80-fd32-11e8-9fc7-671a62991a92.png)

[2018-12-11 03:26] JiabinYang commented on #14835
或者在python使用`print(paddle.__version__)`

[2018-12-11 03:42] dashulu opened #14840 "单机多卡训练时，使用的是pserver方式还是nccl方式进行训练？"
paddle进行单机多卡训练时，是使用pserver还是nccl方式同步参数的？两种方式都支持吗？有没有每种方式的例子？

[2018-12-11 04:22] jackyhawk commented on #13395
where can i find the docs about paddple servering (and the model transfered from training machine to product machine?), thanks very much  @jacquesqiao

[2018-12-11 05:08] carlushuang opened #14841 "Duplicate symbol in op_library (operator/reader, operator/detection)"
https://github.com/PaddlePaddle/Paddle/pull/14413

@typhoonzero @luotao1

I found out an symbol duplication issue in ob_library cmake system due to above PR.
All operators are registered in OP_LIBRARY value in cmake, and when you call op_library() function, it will automatically insert to OP_LIBRARY list as defined in [cmake/operators.cmake](https://github.com/PaddlePaddle/Paddle/blob/develop/cmak

[2018-12-11 05:28] #14678 closed, assigned to seiriosPlus

[2018-12-11 05:28] #14650 closed, assigned to dzhwinter

[2018-12-11 05:41] luotao1 commented on #14841
When `merge_static_library`, we have already removed the duplicated libs.
https://github.com/PaddlePaddle/Paddle/blob/3243b45bb2fb5aed5fc710515fc3cb5fbf269835/cmake/generic.cmake#L127-L129

[2018-12-11 05:42] TheodoreG opened #14843 "ParallelExecutor error : incompatible constructor arguments."
Hi everyone, I am trying to train model with distributed nccl2 mode. I am following the code of https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification/dist_train
But when I am trying to create a ParallelExecutor I got following error:
[code]

I found that every argument feed into core.ParallelExecutor conformed to the argument type but still got such error.

[2018-12-11 06:58] frankwhzhang commented on #14822
帮助用户联系了相关老师，下载了ILSVRC2012的数据

[2018-12-11 07:00] velconia commented on #12040
Python3.x (3.5+) is supported now. You could get all related wheel packages in [here](https://pypi.org/project/paddlepaddle/#files), close this issue.

[2018-12-11 07:00] #12040 closed, assigned to velconia, junjun315, typhoonzero, guochaorong

[2018-12-11 07:03] carlushuang commented on #14841
Hi @luotao1

It seems that merge_static_libs() function may still not able to remove duplicate libraries like libpaddle_pybind.so to remove duplicate static lib.

merge_static_libs() is currently used in [cc_library()](https://github.com/PaddlePaddle/Paddle/blob/3243b45bb2fb5aed5fc710515fc3cb5fbf269835/cmake/generic.cmake#L286), [nv_library()](https://github.com/PaddlePaddle/Paddle/blob/3243b45bb2

[2018-12-11 07:12] frankwhzhang commented on #14827
1.2 的版本已经发版，https://pypi.org/project/paddlepaddle/1.2.0/#files

[2018-12-11 07:12] #14827 closed, assigned to jacquesqiao

[2018-12-11 07:18] frankwhzhang commented on #14833
根据用户需求，建议用户使用seq_ner模型，经与用户沟通，先关闭此Issue

[2018-12-11 07:18] #14833 closed, assigned to kuke

[2018-12-11 07:21] luotao1 commented on #14841
Could you tell me what's the problem (compiler error or any other else) do you encount?

[2018-12-11 07:23] duanxian opened #14846 "序列特征输入问题"
网络输入层定义如下：
[code]
数据feed函数定义：
[code]
训练代码：
[code]

输入数据样例：
[[[7, 201, 2852, 3803, 6927, 26986, 29115, 29704, 30298, 31762, 31778, 31859, 31932], [14, 794, 2333, 45954, 70097, 70247, 70538, 77885, 78138, 78730, 89172, 94178, 134284, 137051, 138867, 143474, 176934, 177478, 179494, 180799, 182006, 219422, 219443, 220177, 231791, 232390], [0]]]

报错：
paddle.fluid.core.EnforceNotMet: enforce out_dims[j]

[2018-12-11 07:31] carlushuang commented on #14841
Runtime error with AMDGPU backend.
For it use [ARCHIEVE_START/END](https://github.com/PaddlePaddle/Paddle/blob/3243b45bb2fb5aed5fc710515fc3cb5fbf269835/paddle/fluid/pybind/CMakeLists.txt#L8) in paddle_pybind target link stage.
This will result the duplicated op static lib linked in libpaddle_pybind.so, and op registed by REGISTER_OPERATOR() may call constructor twice, hence crash.

I know remove A

[2018-12-11 08:22] duanxian commented on #14846
贴上源代码：
[code]

[2018-12-11 08:25] duanxian commented on #14846
使用的训练数据样例：
[code]
每个测试用例有40个特征，前13个和后26个分别用空格隔开，中间用\t分割，最后一个为label，也是\t分割

[2018-12-11 08:35] procr opened #14852 "Paddle Tensor RT 的测试是否有使用类似Python前端的profiler工具？"
跑的例子仿照下面链接：
http://www.paddlepaddle.org/documentation/docs/zh/develop/user_guides/howto/inference/paddle_tensorrt_infer.html

[2018-12-11 08:36] procr commented on #14852
想要得到相关的性能数据，例如跑完一次inference的总体耗时，应该怎么统计？

[2018-12-11 08:51] typhoonzero commented on #14843
The argument `num_trainers` and `trainer_id` should be of type int. If you are getting this from environment variables please do `int(os.getenv("XXX")`

[2018-12-11 08:53] typhoonzero commented on #14843
Will try refine this error log in python side.

[2018-12-11 09:01] TheodoreG commented on #14843
Thank you,  after I set num_trainers and trainer_id to int, it works.

[2018-12-11 11:21] frankwhzhang commented on #14835
经与用户沟通 ，用户把所有的paddle_release_home都删除，重新下载用.whl安装了

[2018-12-11 11:21] #14835 closed, assigned to wangguibao

[2018-12-11 12:02] typhoonzero commented on #14840
单机多卡训练可以参考文档：http://www.paddlepaddle.org/documentation/docs/zh/1.2/user_guides/howto/training/single_node.html#permalink-6--

[2018-12-11 12:06] typhoonzero commented on #14840
单机多卡训练，参考文档：http://www.paddlepaddle.org/documentation/docs/zh/1.2/user_guides/howto/training/single_node.html#permalink-6--

参考的例子：https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/image_classification

单机训练，可以不用考虑是否使用pserver还是nccl2方式，默认都是使用nccl2完成多卡训练，一般只有多节点才会考虑使用pserver或跨节点nccl2通信。但单机也可以模拟多个节点的方式训练，但效率不高并不是默认的使用方式

[2018-12-11 12:07] wangguibao commented on #14846
调试后发现用户program的_input_layer, lr_embedding 2个variable，一个是Tensor, 一个是LoDTensor，无法用concat去连接；另外_input_layer的shape是1 x 1, lr_embedding shape是 13 x 1，在axis=1方向也不能concat

[2018-12-11 12:30] wangguibao commented on #14838
用户已自行解决，是数据问题

[2018-12-11 12:30] #14838 closed, assigned to wangguibao

[2018-12-11 12:39] nizihan commented on #14787
好的，非常感谢

[2018-12-11 12:48] #14846 closed, assigned to wangguibao

[2018-12-11 12:50] hweidream opened #14855 "训练中出core：Check failed: ownerThreadId_ == getTID() (56760 vs. 74752) this sync thread pool should be used in one thread"
先启了一个线程进行训练，再该线程结束后启动另一线程训练，不确定是不是因为前一线程未结束。

代码：
[code]
报错信息如下：
[code]

[2018-12-11 12:52] wangguibao commented on #14852
如果是总体耗时，每个batch的inference的总体耗时，在Run()前后计时就可以了吧

还是说我没有理解到您的需求呢

[2018-12-11 13:53] wangguibao commented on #14370
先关闭了。后续相关需求可以随时重新打开

[2018-12-11 13:53] #14370 closed, assigned to wangguibao, jacquesqiao

[2018-12-11 13:54] wangguibao commented on #14855
提供一下启动多线程的代码？

[2018-12-11 13:56] #14840 closed, assigned to wangguibao, typhoonzero

[2018-12-11 14:19] Ouyangtengfang opened #14856 "如何提高Paddle在X86的CPU的预测性能"
你好！ 我在Intel的J1800赛扬CPU，2G内存的Ubutun14.04的工控机，调用Paddle的SSD物件检测模型，预测一张图片的时间大约是0.5秒左右，但是这个速度不能满足我们应用的需求（我们需要把预测时间减少到到0.04秒），请问在不提高硬件性能的前提下，如何才能提高Paddle的检测速度，我们只需要在机器做预测，不需要做训练，训练在服务器进行，谢谢！

[2018-12-12 03:42] molly00ecla opened #14859 "较早版本中的fluid.layers.get_places去哪里了？"
单机多卡训练
之前的demo使用的是 places = fluid.layers.get_places() 之类的，这个接口只在0.X版本有。更新到1.1之后就没有了……
demo来源：
https://mp.weixin.qq.com/s/6xU0cmg1biH4c-mmwbkjNg
或者单机多卡是否有其它的实现方式？

补充：
参考https://github.com/PaddlePaddle/models/blob/75594b98b27cfb793832064f2b43be4086311a41/fluid/PaddleRec/gru4rec/train.py#L115
对代码进行修改，会报错：

![image](https://user-images.githubusercontent.com/22423844/49846100-96e95b00-fe04-11e8-87f8-d

[2018-12-12 03:50] molly00ecla commented on #13297
您好！是怎样解决的呢？遇到同样的问题。

[2018-12-12 03:55] #14852 closed, assigned to wangguibao

[2018-12-12 04:45] colourful-tree commented on #14859
executor 获取place可以参考http://paddlepaddle.org/documentation/docs/zh/1.2/api_cn/fluid_cn.html#executor

[2018-12-12 04:49] colourful-tree commented on #14856
指令集的优化可以参考
http://paddlepaddle.org/documentation/docs/zh/1.0/user_guides/howto/inference/build_and_install_lib_cn.html#id1

[2018-12-12 04:51] molly00ecla commented on #14859
这个只能使用CUDAPlace()，且具体使用方法也没有说明。fluid.layers.get_places()可以获取当前所有可使用的显卡。Returns a list of places based on flags. The list will be used for parallel execution.

[2018-12-12 05:04] colourful-tree commented on #14859
看一下ParallelExecutor
http://paddlepaddle.org/documentation/docs/zh/1.2/api_cn/fluid_cn.html#parallelexecutor

[2018-12-12 05:08] JiabinYang commented on #14788
因为有一些`vars`是用户可以自行设置为`persistable`的但这些`vars`可以不是`param`,例如在使用`memrory optimize`的时候为了防止内存被复用，需要把`loss`设置为`persistable`，但是它不是`param`

[2018-12-12 05:08] #14787 closed, assigned to JiabinYang

[2018-12-12 05:13] molly00ecla commented on #14859
嗯，我使用ParallelExecutor会报错，就是一开始题图里面那个……Orz

[2018-12-12 05:34] Ouyangtengfang commented on #14856
你好！ 首先，非常感谢你的回复！ 但是由于我用的Python，你上面介绍的指令集优化是基于C++，所以，请问如果我用Python有其他的优化方法吗？ 谢谢！

[2018-12-12 06:10] molly00ecla opened #14860 "optimize operations cannot be depended by forward or backward node sgd -> elementwise_add_grad"
使用ParallelExecutor后报错
![image](https://user-images.githubusercontent.com/22423844/49850207-9a3a1200-fe17-11e8-84be-c50d2f45ba6d.png)

![image](https://user-images.githubusercontent.com/22423844/49850189-8a223280-fe17-11e8-9407-4e73fea2ad22.png)

[2018-12-12 06:17] LihangLiu opened #14861 "when using layers.embedding, is_sparse=True is much slower than is_sparse=False"
使用layers.embedding的时候，发现is_sparse=True 比 is_sparse=False 还慢很多。
代码如下，环境为fluid1.1。net函数中用到embedding。

    import paddle
    import paddle.fluid as fluid
    from paddle.fluid import layers
    from paddle.fluid.param_attr import ParamAttr
    import numpy as np
    import time

    def fluid_create_lod_tensor(array, lod, place):
        tensor = fluid.LoDTensor()
        tensor.set(np.array(array),

[2018-12-12 06:23] seiriosPlus commented on #14861
把ADAM换成SGD看看速度会不会有提升

[2018-12-12 06:32] LihangLiu commented on #14861
换乘SGD的话is_sparse=True确实快了很多。
所以是adam跟is_sparse冲突了？

[2018-12-12 07:03] 994374821 opened #14864 "deeplabv3+ 如何修改类别数目"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.2
    2）系统环境：ubuntu16.04
- 训练信息
    1）单卡

- 复现信息：在跑deeplabv3的代码https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/deeplabv3%2B，)) 想要修改检测的类别数目，修改了models.py中的label_n

[2018-12-12 07:16] yeyupiaoling commented on #14788
哦哦，明白。谢谢了。

[2018-12-12 07:16] #14788 closed, assigned to JiabinYang

[2018-12-12 07:33] seiriosPlus commented on #14861
后续会针对ADAM在sparse的情况下的计算再进行优化， 可以尝试其他几个跟ADAM效果接近的optimizer。

[2018-12-12 09:14] junjun315 commented on #14684
请先换用新的镜像吧: hub.baidubce.com/paddlepaddle/book. 这个镜像是CPU环境，包含noavx版本的paddlepaddle。如果是因为处理器不包含avx指令集而导致运行有问题的话，新的镜像应该不复现问题。

[2018-12-12 09:58] wojtuss commented on #14837
OK, thanks!

[2018-12-12 11:11] dubhex opened #14870 "如何固定模型部分参数只训练另一部分参数"
模型由主干分支和次分支构成，次分支是在主干分支上后接出来的。现在主干分支已经训练好并将相关参数保存为params。在新的训练中，希望先加载主干部分参数并固定，只训练次分支的参数。
已经尝试过两种方法：
（1）对于主干分支的层，设置paddle.fluid.ParamAttr中trainable=False;
（2）对于主干分支的层，设置paddle.fluid.ParamAttr中learning_rate=0;
但是测试表明主干分支的参数被改变了，上述两种方法都不成功。
有两个问题：
（1）使用上述两种方法时是否需要其它的设置？
（2）是否有方法能够实现我的目的？

[2018-12-12 12:19] lianqingsong commented on #12652
@chenbblei  请问你解决这个问题了吗，我也出现这个问题了

[2018-12-12 13:08] #13981 closed, assigned to chengduoZH

[2018-12-12 16:52] yuyy0823 opened #14876 "paddle训练速度慢，主要是数据传输慢，怎么解决？"
PaddlePaddle 0.14 GPU版本
单机2个GPU跑二分类，特征7k维，batch_size=1024，网络结构是一个2层的CNN，参数维数比较低。
使用profiler分析发现耗时应该主要是数据从cpu到gpu拷贝比较慢，以下分别是按照cputime和gputime逆序排列的结果。看起来paddle内部的操作耗时都不多，主要是io耗时高，请问该如何优化这一部分？
method  gputime  cputime
memcpyHtoD 1.824 19204.238
memcpyHtoD 3.808 12522.656
memcpyHtoD 1.728 10132.713
memcpyHtoD 1.408 9395.499
memcpyHtoD 1.440 7006.348
memcpyHtoD 1.632 6175.062
memcpyHtoD 5.824 5356.806

[2018-12-13 00:40] #12873 closed, assigned to NHZlX

[2018-12-13 00:40] #12746 closed, assigned to NHZlX

[2018-12-13 02:40] yeyupiaoling commented on #14810
@junjun315 突然想到，你说的修改掉，是删除Windows下这个数据集，还是完善它，让mnist数据集支持Windows下调用？

[2018-12-13 02:48] zyz282994112 commented on #14741
貌似可以用mixed + identity_projection(offset=1)实现

[2018-12-13 03:09] zenghsh3 opened #14877 "目前Fluid版本不支持HuberLoss"
- HuberLoss也是一个常用的回归loss
- v2版本有支持，但fluid版本好像没找到接口

[2018-12-13 06:35] CruiseSun commented on #14739
验证成功~

[2018-12-13 06:35] #14739 closed, assigned to typhoonzero

[2018-12-13 07:42] colourful-tree commented on #14856
python只是一个前端，实际的运行是基于c++完成的，所以如果想做优化的话，肯定是要对c++进行优化。

[2018-12-13 09:20] lucywsq opened #14880 "ubuntu环境下训练报错segmented_paragraphs"
在ubuntu系统中，运行下面步骤时报错，详情见图片：
cat data/raw/trainset/search.train.json | python utils/preprocess.py > data/preprocessed/trainset/search.train.json
![image](https://user-images.githubusercontent.com/38712162/49928447-1bb6a080-fefb-11e8-9714-ad870e9f7d37.png)

[2018-12-13 09:56] zzulike opened #14881 "fluid"
用ner模型遇到个问题：
用这个模型在预测的时候发现，给预测数据随意标记的label会影响到最终的预测结果；当把数据减少一些(比如10w)后，这个问题就没有了，数据比较大的时候term的预测结果就会往这个随意标记的类别大量倾斜。。

定义的term的label只有0和1，在预测数据里定义label=2，发现数据量大的时候，预测结果很多都是2。。

出现问题：
![image](https://user-images.githubusercontent.com/19464821/49931200-515e8800-ff01-11e8-8cc2-0487955e1dc3.png)

数据量较小正常：
![image](https://user-images.githubusercontent.com/19464821/49931306-89fe6180-ff01-11e8-9a3f-6ca33

[2018-12-13 11:39] chuanqi129 opened #14883 "Mobilenet fp32 latency regression"
We found a FP32 latency regression of Image classification model especially on MobileNet from 3.04ms to 8.46ms based on SKX-8180 1 socket.
This regression caused by [PR#14707](https://github.com/PaddlePaddle/Paddle/pull/14707) and below commit ID:

We can use CAPI Image classification application to reproduce it.
[code]
You also can use python `eval.py` script to reproduce this latency regression,

[2018-12-13 11:41] gavin1332 commented on #14870
能确认主干分支的参数在次分支上正确加载吗？比如加载后不训练直接保存，确认主干分支部分参数一致

[2018-12-13 11:42] dubhex commented on #14870
已经确定能正确加载，加载后主干分支输出测试结果也是正常的。

[2018-12-13 11:57] ccmeteorljh opened #14884 "asyncexectutor在avx和mkldnn选项打开下，无法利用多核优势"
**具体测试数据如下:**

Text_classifiction

  | parallelexecutor (CPU_NUM=4) | asyncexecutor(CPU_NUM=4)
-- | -- | --
0.0.0   (avx=OFF   Mkldnn=OFF) | Process time   used 108s   Real time used   54.5s | Process time   used 82s   Real time used   22.2s
1.2.0   (avx=ON   Mkldnn=ON) | Process time   used 113s   Real time used   59.2s | Process time   used 87.4s   Real time used   83.6s

Gru4rec

  | parallelex

[2018-12-13 12:19] imistyrain opened #14885 "tensorlfow创建session时有个allow_soft_placement可以实现按需申请显存，paddlepaddle有类似的操作吗？"

[2018-12-13 12:49] #14884 closed, assigned to wangguibao, guru4elephant

[2018-12-13 13:38] seiriosPlus commented on #14496
还有问题后续可以通过HI进行沟通。

[2018-12-13 13:38] #14496 closed, assigned to seiriosPlus

[2018-12-13 13:38] seiriosPlus commented on #14504
还有问题后续可以通过HI进行沟通。

[2018-12-13 13:38] #14504 closed, assigned to seiriosPlus

[2018-12-13 13:38] #14690 closed, assigned to reyoung, seiriosPlus

[2018-12-13 13:38] #14509 closed, assigned to seiriosPlus

[2018-12-13 13:42] gavin1332 commented on #14885
抱歉，暂时不支持类似操作，已标记enhancement，多谢建议

[2018-12-14 02:11] Ouyangtengfang commented on #14856
好的，我先试试你的方法，如果有问题，再向你请教，谢谢！

[2018-12-14 02:23] yihuaxu commented on #14883
When merged [PR#14707](https://github.com/PaddlePaddle/Paddle/pull/14707),  it can fix the group unitest issue. About the relevant test items, please refer to [group unittest](https://github.com/PaddlePaddle/Paddle/compare/develop...yihuaxu:develop_1213e2838_conv2d_mkldnn_unittests_update).

[2018-12-14 02:45] gavin1332 commented on #14885
os.environ['FLAGS_fraction_of_gpu_memory_to_use'] = '0.8'
可以试一下这个操作

[2018-12-14 03:33] frankwhzhang commented on #14815
经与用户沟通，问题已解决，暂时关闭此issue

[2018-12-14 03:33] #14815 closed, assigned to frankwhzhang

[2018-12-14 03:33] frankwhzhang commented on #14816
用户未回应，暂时关闭此issue。

[2018-12-14 03:33] #14816 closed, assigned to frankwhzhang

[2018-12-14 03:45] velconia commented on #14861
Adam Op 现在会:
1. 先将 Sparse 的 Tensor 转换为 Dense 的 Tensor;
2. 针对Embedding表的所有字段都进行更新动量的计算以达到数学上正确的结果;

后续讨论后会针对是否一定要保证数学上正确这块再做优化;

[2018-12-14 04:06] colourful-tree commented on #14876
建议尝试一下pyreader

[2018-12-14 04:42] yuyy0823 commented on #14876
用的是pyreader呢，目前的网络结构如下图
![image](https://user-images.githubusercontent.com/28800753/49983416-959f6600-ff9d-11e8-9db2-c655f9b1a60b.png)

训练50w的数据，跑10个epoch需要大概6个小时，时间太长了
![image](https://user-images.githubusercontent.com/28800753/49983390-6c7ed580-ff9d-11e8-8278-157ad1ba83d6.png)

[2018-12-14 04:45] velconia commented on #14861
@LihangLiu 请问你的实际参数有多大呢？如果实际参数比较小，设置is_sparse=True是没有太大意义的，反而会变慢

[2018-12-14 04:50] #14885 closed, assigned to kagome112

[2018-12-14 04:53] gavin1332 commented on #14870
RMSOptimizer貌似不ParamAttr的trainbale=false和learning_rate控制
SGDOptimizer验证无误

[2018-12-14 05:03] #14832 closed, assigned to jacquesqiao

[2018-12-14 05:10] LihangLiu commented on #14861
实际参数挺多的，有embed_size=200k的特征。

[2018-12-14 05:35] velconia commented on #14861
@LihangLiu 我们稍后会先针对CPU优化一下算法复杂度，然后开启Op内多线程的能力，用以彻底解决这个问题

[2018-12-14 05:37] jacquesqiao commented on #14653
求完整的日志信息。exception是从哪里爆出来的？

[2018-12-14 05:42] jacquesqiao commented on #13827
因为长时间没有反馈，先关掉，有疑问再打开

[2018-12-14 05:42] #13827 closed, assigned to jacquesqiao, qingqing01

[2018-12-14 05:44] jacquesqiao commented on #14360
时间比较长了，有问题线上直接联系，先关掉

[2018-12-14 05:44] #14360 closed, assigned to jacquesqiao

[2018-12-14 05:51] #14830 closed, assigned to typhoonzero

[2018-12-14 05:54] chengduoZH commented on #14860
@molly00ecla 你的模型是怎样的，可以贴一下吗

[2018-12-14 06:05] chengduoZH commented on #14859
这个API已经删除了，因为这个API最初是为配合ParallelDo使用的，但是ParallelDo存在性能问题，所以目前转向使用ParallelExecutor。ParallelExecutor是一个数据并行执行引擎，相关内容可以参考：http://paddlepaddle.org/documentation/docs/zh/1.2/api_cn/api_guides/low_level/parallel_executor.html

您可以把ParallelExecutor运行报错的模型贴一下吗？@molly00ecla

[2018-12-14 06:05] chengduoZH commented on #14860
Similar with https://github.com/PaddlePaddle/Paddle/issues/14859

[2018-12-14 06:07] jacquesqiao commented on #14111
cloud环境中安装了一个带cuda的paddle版本，需要cloud同学解决。

[2018-12-14 06:07] #14111 closed, assigned to jacquesqiao

[2018-12-14 06:07] molly00ecla commented on #14859
感谢回答，明白啦。
报错那个我单独开了个问题~

[2018-12-14 06:08] #14859 closed, assigned to chengduoZH

[2018-12-14 06:25] LihangLiu commented on #14861
非常感谢！修改之后还是可以用gpu来训练是吧？还是说只是优化了cpu版本？

[2018-12-14 06:33] huoyuming opened #14895 "训练没有报错，但是output模型没有输出"
模型训练快一天，日志已经打印pass0 的auc，但是输出目录里并没有输出模型，这个是怎么回事

[2018-12-14 06:36] defineconst commented on #7198
在Flask第一次预测不抱错，发起请求第二次就报错了，有知道为什么吗？

[2018-12-14 06:48] jacquesqiao commented on #14855
这种模式用fluid吧，比v2更容易~~

[2018-12-14 07:22] Yancey0623 commented on #14876
您好，模型计算量比较小时，IO占比确实会相对增加，请问现在的模式是单卡还是多卡呢？另外可以再详细 profile 一下，确定瓶颈和理想值

1. 目前吞吐: images / sec
1. 单独测试 reader 的吞吐: images / sec
1. pyreader 有 test_mode 模式, 可以屏蔽掉python预处理的性能损耗（仍然会有copy），启动时候使用环境变量: `FLAGS_reader_queue_speed_test_mode=1`: images /sec
1. 尝试增大batch_size

memcpyHtoD 1.824 19204.238
memcpyHtoD 3.808 12522.656
memcpyHtoD 1.728 10132.713

请问这里的gputime和cputime分别是如何统计的呢？

[2018-12-14 07:47] lucywsq commented on #14443
Excuse me, if your problem has been solved，we would  close it.  If you still need to follow up on this question after closing, please feel free to reopen it. Thank you so much for your support of PaddlePaddle Group!

[2018-12-14 07:47] #14443 closed, assigned to Xreki

[2018-12-14 08:22] molly00ecla commented on #14860
http://aistudio.baidu.com/#/projectdetail/29882
这个工程里面有数据集，所以可能会耗时十几分钟打开……
element_add 这个操作在In[9]中（ResNet的ShortCut）和In[11]处。
代码使用单GPU或者CPU可以正常进行优化。
感谢！❤

[2018-12-14 08:59] chengduoZH commented on #14860
为什么你这里对一个Program会有这么多的optimizer呢？
[code]

[2018-12-14 10:10] molly00ecla commented on #14860
各种优化策略。其实只有两三个opt，看起来多而已……
然后这是一篇paper的复现，原文如此。大致就是有时候需要固定一部分参数，有时候需要对不同的参数使用不同的lr……

[2018-12-14 10:28] molly00ecla commented on #14860
update： 好像真的是多个opt导致的问题。我只使用一个opt的时候，就没有这个问题了……我改到用ParamAttr控制应该就可以了。
❤非常感谢！！！ ^3^

[2018-12-14 10:29] #14860 closed, assigned to chengduoZH

[2018-12-14 13:06] QingGo opened #14902 "illegal hardware instruction when import paddle.fluid as fluid"
- 版本、环境信息：
    1）PaddlePaddle版本：1.0.0，CPU版，使用‘pip install paddlepaddle==1.0.0 ’安装
    2）CPU：AMD双核P320
    3）GPU：ATI HD5650
    4）系统环境：Ubuntu 17.10，Python版本为3.5.3，用virtualenv建立虚拟环境
- 训练信息
    1）单机
- 复现信息：python进入解释器环境，输入import paddle.fluid as fluid

[code]

- 问题描述：在我的Ubuntu 17.10系统里用virtualenv建立python3.5.3虚拟环境，安装paddlepaddle1.0.0的cpu版本后，可以import paddle ，然而import paddle.fluid as fluid就会报错
”[1]    22

[2018-12-15 12:43] Ouyangtengfang commented on #14856
你好！这几天我换了一台性能好很多的电脑（英特尔ｉ７　８５６５），１６Ｇ内存的手提电脑，执行ＳＳＤ模型的示例代码（https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/object_detection/README_cn.md），但是我执行预测：python infer.py --dataset='pascalvoc' --nms_threshold=0.45 --model_dir='./model/best_model' --image_path='/usr/tengfang/Python/object_detection/data/pascalvoc/plate_number/images/000300.jpg'，执行时间是０．１秒左右，但依然不能满足我们的需求，请问有什么参数可以优化ｉｎｆｅｒ的速度吗？谢

[2018-12-15 17:04] shippingwang commented on #14895
1. model_path = os.path.join(model_save_dir + '/' + model_name, str(pass_id))设置路径。
2. fluid.io.save_persistables(exe, model_path, main_program=train_prog) 保存模型。
3. 跑完一个epoch 查看是否有模型输出。

[2018-12-15 17:16] shippingwang commented on #14790
可以，当然可以。具体你可以参照[模型保存与加载](http://paddlepaddle.org/documentation/docs/zh/1.2/api_cn/api_guides/low_level/model_save_reader.html#api-guide-model-save-reader)

[2018-12-15 17:35] shippingwang commented on #14902
您安装最新的1.2版本试一下。

[2018-12-15 17:36] shippingwang commented on #14902
@QingGo 您安装最新的1.2版本试一下

[2018-12-15 17:52] QingGo commented on #14902
@shippingwang 多谢回复
这次我没开虚拟环境，在系统默认的Python3.6.2下使用‘pip install paddlepaddle==1.2.0 ’安装了paddlepaddle的CPU版，在解释器下或.py文件中执行‘ import paddle.fluid as fluid’时，也仍然会报错“illegal hardware instruction (core dumped) ”。

[code]

[2018-12-16 09:20] JiabinYang commented on #14902
您可以参考官网指南看一线您的机器是否支持avx指令集

[2018-12-16 10:32] QingGo commented on #14902
@JiabinYang 我的电脑CPU似乎并不支持AVX指令集，请问还有办法在这台电脑上运行paddlepaddle吗，以下是我的CPU的相关信息：
[code]

[2018-12-16 15:43] yuyy0823 commented on #14876
现在的是单机2卡，batch_size现在是1024，增大后GPU利用率好像并没有改善，现在基本是0%。下面是profile的详细信息，应该主要还是read比较耗时。gputime和cputime是通过cuda_profiler获得的
![Uploading image.png…]()

[2018-12-16 15:54] yuyy0823 commented on #14876
现在的是单机2卡，batch_size现在是1024，增大后GPU利用率好像并没有改善，现在基本是0%。下面是profile的详细信息，应该主要还是read比较耗时。gputime和cputime是通过cuda_profiler获得的
![profile](https://user-images.githubusercontent.com/28800753/50055697-1bcdcf00-018d-11e9-9df0-61da4c35a1a8.jpg)

images / sec 这个是什么呢？，FLAGS_reader_queue_speed_test_mode=1 设置后profile的结果好像没有太大区别，下面是设置后的结果
![profile2](https://user-images.githubusercontent.com/28800753/50055739-de1d76

[2018-12-17 00:16] qianledan commented on #14810
应该是将mnist的数据重新用windows的打包工具打包。让windows系统也能查看，格式应该由.gz修改为其它windows支持的格式。

[2018-12-17 03:19] JiabinYang commented on #14902
看起来是的，您可以参见官网[安装文档](http://paddlepaddle.org/documentation/docs/zh/1.2/beginners_guide/install/Tables.html#permalink-5--whl-release)，安装`no-avx`版本的PaddlePaddle，

[2018-12-17 03:28] yeyupiaoling commented on #14790
好的，谢谢您的回答。

[2018-12-17 03:28] #14790 closed, assigned to shippingwang

[2018-12-17 04:33] dashulu opened #14911 "paddle单机多卡加速比不高以及profile"
paddle 2卡，4卡，8卡跑vgg模型时，每秒处理图像分别为216张/sec, 341张/sec，408张/sec。4卡到8卡加速比仅为1.2，请问这个会是什么原因？如何提高加速比？

利用paddle profile工具进行分析，前三占比的op数据如下：
2卡

Event | Calls | Total | Min. | Max. | Ave. | Ratio.
-- | -- | -- | -- | -- | -- | --
thread0::elementwise_add | 1320 | 3744.65 | 0.009216 | 78.4374 | 2.83686 | 0.481853
thread0::conv2d_grad | 320 | 1143.44 | 1.34246 | 8.54323 | 3.57326 | 0.147136
thread0::all_reduc

[2018-12-17 04:53] dzhwinter commented on #14911
Please have a try of  py_reader, which enhance the io performance eagerly.
For details:
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_py_reader_using_executor.py

[2018-12-17 04:56] dzhwinter commented on #14911
使用模型脚本是官方提供的吗？ vgg16印象里8卡加速比大约是6，可以参考一下

[2018-12-17 05:00] hjchen2 commented on #14911
@dashulu 感觉你这个profile统计的是每张卡上的op的调用次数和耗时，请问一下你profile加的位置在哪

[2018-12-17 05:15] dashulu commented on #14911
使用的是官方模型vgg11.

[2018-12-17 05:19] dashulu commented on #14911
我的数据是直接random生成的，这个用py_reader能加速吗？

[2018-12-17 05:26] Yancey0623 commented on #14876
吞吐量，就是每秒的样本数，非图片的就是 samples / sec,

可以测下Python预处理的性能，然后和整体训练性能对比一下确定瓶颈是不是在Python预处理这里。

[2018-12-17 06:56] nizihan opened #14912 "caffe2fluid工具保存的模型参数在fine"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2018-12-17 06:56] nizihan opened #14913 "caffe2fluid工具保存的模型参数在fine tune时报错"
利用https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/caffe2fluid提供的工具对inceptionv3.caffemodel进行转换，利用如下代码进行保存参数：
    def convert(cls, npy_model, fluid_path, outputs=None):
        fluid = import_fluid()
        shapes = cls.input_shapes()
        input_name = shapes.keys()[0]
        feed_data = {}
        for name, shape in shapes.items():
            data_layer = fluid.layers.data(

[2018-12-17 07:15] hweidream commented on #14855
代码之前用v2写的，有改造成本，项目也比较急。。这种需求不能用v2满足吗

[2018-12-17 07:30] QingGo commented on #14902
@JiabinYang 多谢回复
安装了noaux版本的paddlepaddle后，现在已经可以成功导入包运行程序了

[2018-12-17 07:31] #14902 closed, assigned to JiabinYang

[2018-12-17 07:34] hjchen2 commented on #14913
请问一下，模型已经转换成功了么？有生成对应的fluid模型么

[2018-12-17 07:35] nizihan commented on #14913
有转换成功，生成了每一层的参数

[2018-12-17 07:36] hjchen2 commented on #14913
请参考这个转换脚本进行模型转换，https://github.com/hjchen2/paddle-test/blob/master/convert_caffe2fluid/convert_googlenet.sh

[2018-12-17 07:49] #14912 closed, assigned to hjchen2

[2018-12-17 08:00] huoyuming opened #14915 "v2版本 python使用swig预测， 样本通过DataProviderConverter处理后，输出的数据，怎么对应输入相应的网络层。"
求问 V2版本  使用swig预测的时候DataProviderConverter怎么指定返回数据和layer的对应关系啊  是DataProviderConverter输出的数据顺序和 网络layer声明的数据按顺序对应吗？ 这个感觉很容易错啊  有没有精确指定对应关系的方法啊

[2018-12-17 09:45] panyx0718 commented on #11536
历史上的确有一些api的实现没有经过严格api review，1.0之后api需要通过少数人review,一致性会有所加强。已经公开的api的修改需要考虑已有用户的兼容性，所以不会随便修改，embedding可以考虑加一个name=None

[2018-12-17 10:28] nizihan commented on #14913
谢谢，已经能正常fine tune了～

[2018-12-17 11:47] luotao1 commented on #14856
1. 建议使用C++部署，C++预测上做了很多Python端并没有的优化。可参考[服务器部署文档](http://www.paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/deploy/inference/index_cn.html)
2. 如果使用Python预测，有以下几个方法可以提速：
   - 检查安装的paddle包`paddle version`，是否为MKL版本。如果是OpenBlas版本，建议升级到MKL版本。`pip install paddlepaddle==1.2.0`
   - `i7 8565`有4个核，使用top命令看下预测时，是否4个核都跑满了。如果没有，可以采用以下三个方法任一（三个方法独立互斥，不能同时使用）
       - 使用环境变量：`export MKL_NUM_THREADS=4

[2018-12-17 12:07] heavengate opened #14920 "OpProtoAndCheckerMaker"
往 OpProtoAndCheckerMaker 的派生类添加 Attr 的时候是允许各种类型的数据吗？自定义类型是否也可以。

[2018-12-17 12:07] heavengate commented on #14920
自定义数据你可以试一下用指针传入，类似recurrent_op.cc里的kStepBlock

[2018-12-17 12:07] #14920 closed, assigned to heavengate

[2018-12-17 12:07] heavengate opened #14921 "get_tensor"
'NoneType' object has no attribute 'get_tensor'这个一般是什么原因引起的？

[2018-12-17 12:08] heavengate commented on #14921
这一般实在globalscope里面获取Variable获取不到，可能是Variable name弄错或者不是persistable的，可以用fluid.default_startup_program.list_vars()将所有变量打印出来确认一下

[2018-12-17 12:08] #14921 closed, assigned to heavengate

[2018-12-17 12:09] heavengate opened #14922 "保存权重文件名"
如果我想把文件名从这样样￼
![image](https://user-images.githubusercontent.com/12605721/50086336-a79c3580-0237-11e9-808e-5c0e3bbfcf6b.png)
改为
![image](https://user-images.githubusercontent.com/12605721/50086348-b1be3400-0237-11e9-8296-48981930e6c6.png)
该在哪里设置

[2018-12-17 12:11] hjchen2 commented on #14911
@dashulu 使用parallel executor进行多卡训练时，需要将executor的strategy线程数设为卡数，比如可以改成下面：
[code]
多卡训练时，profiler输出的结果是每张卡对应一个线程号，比如：
[code]

[2018-12-17 12:12] heavengate commented on #14922
<img width="437" alt="2018-12-17 8 10 26" src="https://user-images.githubusercontent.com/12605721/50086379-d0bcc600-0237-11e9-9895-4b162814a5d9.png">
batch_norm的param_attr和bias_attr需要用户传入，可以自建指定命名的Variable传入， moving_mean和moving_variance的名字可以通过参数传入框架会自动创建

[2018-12-17 12:12] #14922 closed, assigned to heavengate

[2018-12-17 12:14] hjchen2 commented on #14913
好的，我先关闭这个issue了。如果有问题请重新开issue，谢谢。

[2018-12-17 12:14] #14913 closed, assigned to hjchen2

[2018-12-17 12:14] heavengate opened #14923 "slice op"
对 1维 的 tensor 使用 reduce_xxx 操作后，得到的值想作为 fluid.layers.slice 的参数，结果报错说类型不对，这个应该怎么处理？
￼
![image](https://user-images.githubusercontent.com/12605721/50086543-62c4ce80-0238-11e9-9862-bfdbe0be1097.png)

[2018-12-17 12:15] heavengate commented on #14923
![image](https://user-images.githubusercontent.com/12605721/50086557-6bb5a000-0238-11e9-8813-415703bd09ec.png)
看代码里面slice op的ends类型是个vector<int>，要求是一个vector<int>，你给了一个tensor，应该是这个错误

[2018-12-17 12:15] #14923 closed, assigned to heavengate

[2018-12-17 12:38] cjld opened #14924 "CUDA 10 compile error"
https://github.com/PaddlePaddle/Paddle/blob/addded48e1c94e0299774012399bf4f4ab773544/paddle/fluid/platform/stream_callback_manager.cc#L22

Maybe the semicolon should be removed.
@sneaxiy

[2018-12-17 12:39] yangyangstyle3 opened #14925 "ubuntu16.04系统离线通过docker安装paddlepaddle时需要下载哪些相关的依赖包"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2018-12-17 12:49] huashaosmile opened #14926 "fluid报错paddle::framework::GetFetchVariable()"
*** Aborted at 1545050659 (unix time) try "date -d @1545050659" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x0) received by PID 76722 (TID 0x1132de5c0) stack trace: ***
    @     0x7fff7cb97b3d _sigtramp
    @       0x1a1524bc43 paddle::framework::GetFetchVariable()
    @       0x1a151a9116 _ZZN8pybind1112cpp_function10initializeIRPFRN6paddle9framework9LoDTensor

[2018-12-17 12:50] huashaosmile commented on #14926
uap_cost = network_conf.UapDnn(
        layer_dims,
        neg_size,
        dataset.feature_dict,
        dataset.label_freq,
        dataset.feature_info_list,
        True
    ).build_dnn_model()
cost = exe.run(main_program, feed=feeder.feed(data), fetch_list=[uap_cost])

[2018-12-17 12:54] hjchen2 commented on #14926
这个看不出来是什么问题，请问一下你跑的是自己的模型么？方便把network_conf.UapDnn的代码发出来看一下么

[2018-12-17 13:38] christianahui commented on #12986
您好，@NHZlX ，我按照上面这种方法，想打印中间层的输出，但是报错，请问是什么问题？
`     place = fluid.CUDAPlace(0) if use_cuda else fluid.CPUPlace()

      exe = fluid.Executor(place)
      inference_scope = fluid.core.Scope()
      with fluid.scope_guard(inference_scope):
          [inference_program, feed_target_names,
           fetch_targets] = fluid.io.load_inference_model(model_path, exe)
          print fetch_targets

[2018-12-17 14:22] huashaosmile commented on #14926
self.executor.run(program.desc, scope, 0, True, True)
paddle.fluid.core.EnforceNotMet: Enforce failed. Expected out_dims[j] == ins[i][j], but received out_dims[j]:3 != ins[i][j]:15.
Input tensors should have the same elements except the specify axis. at [/Users/python2/yangjiabin/PR/Paddle/paddle/fluid/operators/concat_op.cc:52]
PaddlePaddle Call Stacks:
0         0x1a0e3af9a8p paddle::platform::E

[2018-12-18 02:50] CruiseSun opened #14930 "Paddle Fluid 的MPI集群训练总是在快要结束的那个batch之后出现GetRPC的错误，稳定复现6次了，每次都是这样"
Traceback (most recent call last):
  File "train.py", line 169, in <module>
    main(use_cuda, is_local)
  File "train.py", line 161, in main
    train(use_cuda=use_cuda, save_dirname=save_dirname, is_local=is_local)
  File "train.py", line 146, in train
    train_loop(t.get_trainer_program())
  File "train.py", line 84, in train_loop
    fetch_list=[avg_cost, auc_var, batch_auc_var])
  File "/hom

[2018-12-18 02:54] CruiseSun commented on #14930
2018-12-18 E1218 03:02:44.339193  3424 grpc_client.cc:342] GetRPC name:[category_id_crss_source_name_table.block41], ep:[10.74.103.34:8000], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:
E1218 03:02:44.372292  3424 grpc_client.cc:342] GetRPC name:[app_id_table], ep:[10.74.22.47:8000], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exce

[2018-12-18 02:56] CruiseSun commented on #14930
http://nmg-hpc-hlan-mon.dmop.baidu.com:8919/taskinfo.html?appId=app-user-20181217210545-9581&submitTime=2018-12-17%2021:05:45

[2018-12-18 03:03] jacquesqiao commented on #14930
所有pass运行完之后，调用一下exe.close()

[2018-12-18 04:06] NHZlX commented on #14759
sorry，由于疏忽，没有看清您的问题描述，请问问题解决了么

[2018-12-18 07:23] velconia commented on #14877
Huber loss is supported in here https://github.com/PaddlePaddle/Paddle/pull/14894, close this issue

[2018-12-18 07:23] #14877 closed, assigned to velconia

[2018-12-18 09:05] gaoyiyeah opened #14938 "img_conv 中的filter_size、padding、stride的size"
img_conv 中的filter_size、padding、stride的size是（H，W）还是（W，H）？

[2018-12-18 09:18] yeyupiaoling commented on #14938
@gaoyiyeah
我的理解如下：
1. `filter_size`卷积核的大小
2. `padding`边缘填充大小
3. `stride`卷积的步长

[2018-12-18 09:20] yeyupiaoling commented on #14925
@yangyangstyle3  可以直接拉取paddlepaddle提供的docker。你是上不了网吗？

[2018-12-18 09:24] gaoyiyeah commented on #14938
谢谢，我知道各个参数的含义，但是这些参数是H在前，还是W在前，输入的feature是(H，W)的顺序话，我以为这些参数也是（H，W）的顺序，但感觉又不太对，所以想确认一下顺序？

[2018-12-18 09:24] yeyupiaoling opened #14939 "PaddlePaddle会支持Windows下使用GPU吗？"
目前PaddlePaddle已经支持了Windows的CPU版本，这是令人非常兴奋的一件事。 人的欲望是无止境的，所以我还希望PaddlePaddle能够支持在我Windows上使用GPU，是否有这个计划呢？

[2018-12-18 09:41] NHZlX commented on #12986
[code]

根据log看起来， 你的feed = utils_bak.data2tensor(data, place) 和program desc 中的feed targets 不匹配。

[2018-12-18 11:29] yuyy0823 commented on #14876
1、用python测试reader中数据读取操作的性能，不经过py_reader和模型训练相关过程时，samples / sec=1105
2、只是去掉网络训练过程，其他操作都保留时（如下图），samples / sec=300
![image](https://user-images.githubusercontent.com/28800753/50151058-c9aabc00-02fa-11e9-881a-182dc74dbf7b.png)

3、正常训练时，samples / sec=334
测试时，机器上跑的任务很多，导致cpu占用率很高，可能影响结果，正常第三种应该比第二种吞吐量高的，但应该是数据读取上比较耗时，请问什么优化方法吗？

我的reader没做很复杂的操作
![image](https://user-images.githubusercontent.com/2880

[2018-12-18 11:41] cjld commented on #14864
你好，如果需要更改最后一层的通道数，train.py和models.py都需要吧19修改成需要的通道数，而且在加载预训练模型时，不加载最后一层（修改load_param）

[2018-12-18 11:46] Yancey0623 commented on #14876
这个基本上就是训练数据比较大，但计算太小了，导致大部分时间都在向GPU拷数据，所以利用率为0.

看你模型也比较简单，用CPU训试试呢？或者多用几块卡，IO时间占太多用GPU训就不太划算了。

[2018-12-18 11:49] 994374821 commented on #14864
感谢回复，请问在加载预训练模型时如何不加载最后一层呢？源码load model如下：
`def load_model():
    if args.init_weights_path.endswith('/'):
        fluid.io.load_params(
            exe, dirname=args.init_weights_path, main_program=tp)
    else:
        fluid.io.load_params(
            exe, dirname="", filename=args.init_weights_path, main_program=tp)`

[2018-12-18 11:51] 994374821 commented on #14864
感谢回复，请问在加载预训练模型时如何不加载最后一层呢？源码load model如下：
`def load_model():
    if args.init_weights_path.endswith('/'):
        fluid.io.load_params(
            exe, dirname=args.init_weights_path, main_program=tp)
    else:
        fluid.io.load_params(
            exe, dirname="", filename=args.init_weights_path, main_program=tp)`

[2018-12-18 11:56] #14938 closed, assigned to nobody

[2018-12-18 12:15] yuyy0823 commented on #14876
那模型比较复杂，gpu利用率也很高时，也只是加快训练的速度，数据拷贝到GPU这一步还是会很慢吧，那训练时间还是很长啊

[2018-12-18 14:26] littletomatodonkey opened #14945 "fasterRCNN paddle.fluid.core.EnforceNotMet"

[2018-12-18 14:33] littletomatodonkey commented on #14945
版本：1.2.0
使用coco2014验证集的COCO_val2014_000000184613.jpg进行验证，加载了预训练模型和json文件，但是报以下的错误：

[code]

我查看了输入图像的大小，resize之后为(3, 800, 1190)，但是模型的输入是[3, 1333, 1333]，所以我将魔性的输入修改了，但是发现还是无法正常运行，会出现同样的问题。我的预训练模型是imagenet_resnet50_fusebn，不知道是什么问题，谢谢。

[2018-12-18 15:45] Kayven opened #14946 "fluid.io.save_inference_model怎么设置不剪枝呢"
由于fluid.io.save_inference_model默认会剪枝掉没用到的op或var导致报错，试验的时候需要把无用的去掉很麻烦，怎么能设置不裁剪优化呢？

[2018-12-18 15:52] Kayven opened #14947 "fluid.io.load_inference_model读入model后op重复"
fluid.io.load_inference_model保存的模型后部分feed重复了（save_inference_model能看到），exe.run测试的时候报错

[code]

预测的程序

[code]

[2018-12-19 02:44] zhouksh opened #14949 "the provided recursive_sequence_lengths info is invalid"
[code]

[2018-12-19 03:23] lvxiaxia opened #14951 "embedding shape指定：Expected ids_dims[ids_rank - 1] == 1, but received ids_dims[ids_rank - 1]:100 != 1:1"
输入数据格式
[[1,2,4,0,0,0,....][5,7,9,12,0,0,0,...][0]]
[ [###100维###] [###1000维###] [##1维##] ]

代码：
![image](https://user-images.githubusercontent.com/18480850/50196766-69aa2900-037f-11e9-8559-b62b6651f7c8.png)

错误：
![image](https://user-images.githubusercontent.com/18480850/50197019-682d3080-0380-11e9-89d6-9a34a3b92320.png)

为啥 fluid.layers.data 的数据的shape直接写成 [100] , [1000] 不行呢，改成[100,1]  [1000,1]就可以

[2018-12-19 03:56] iclementine opened #14952 "GetExpectedKernelType 方法的几种写法"
   1）PaddlePaddle版本：1.2, commit ID 3628d894f2c5077832fa78f76caa75f979b42a08
    2）CPU/GPU：GPU Driver nvidia 384.81, cuda　8.0.61， cudnn 7.0
    3）系统环境：ubuntu Docker 16.04 LTS
    4）Python版本号: 2.7.12
    5）显存信息
问题描述，在写 operator 的时候， GetExpectedKernelType 方法的写法，这两种有什么区别。

elementwise op 的写法
[code]
因为 OkKernelType 的 constructor 需要的第一个参数类型是 proto::VarType::Type，而 framework::GetDataTypeOfVar 确实返回 proto:

[2018-12-19 06:06] JinYue2015 opened #14955 "optimizer.minimize(loss)出错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.2.0
    2）python：3.5
    3）ai studio  /  win10
- 训练信息
    1）单机  ps：我在本地运行和在ai studio单机上运行出现的错误是一样的。

- 复现信息：我修改了paddleCV/deeplabv3+/train.py 用作其他数据集的训练，但在定义
[code]
`opt.minimize(loss)`这句话报错。
- 问题描述：
报错信息如下：

[2018-12-19 06:09] gaoyiyeah commented on #10768
镜像问题，GRU的对应顺序 @guoshengCS

[2018-12-19 06:45] Yancey0623 commented on #14951
reader的yield部分 还有feed的部分代码也贴下呢？

[2018-12-19 06:48] Yancey0623 commented on #14949
看起来数据不对，样例可以参考文档： http://paddlepaddle.org/documentation/docs/zh/1.2/user_guides/howto/prepare_data/feeding_data.html#id4 ，这里也有一些关于LoDTensor的讨论：https://github.com/PaddlePaddle/Paddle/issues/10855

[2018-12-19 06:48] #14955 closed, assigned to nobody

[2018-12-19 07:36] jacquesqiao commented on #14951
输入是一个sequence数据么

[2018-12-19 07:37] jacquesqiao commented on #14951
[code]
这样试试

[2018-12-19 07:52] dashulu commented on #14911
@hjchen2 把thread_num改为和GPU数一样之后，加速比并没有明显提升，从2卡到4卡为191 image/sec到281 image/sec, 性能只提升50%。
另外，这个all_reduce为什么两个thread会不一样？
![image](https://user-images.githubusercontent.com/4484303/50206330-02539f80-03a6-11e9-87ef-b348b7b485a4.png)

[2018-12-19 08:32] dashulu commented on #14911
@hjchen2 还有第二个问题，在设置2卡时，all_reduce次数为110次，conv2d_grad次数为80次，
![image](https://user-images.githubusercontent.com/4484303/50208214-92481800-03ab-11e9-8a66-2f4a1c4786a1.png)
4卡训练时，conv2d_grad变为160次，为什么all_reduce还是110次？
![image](https://user-images.githubusercontent.com/4484303/50208253-aee45000-03ab-11e9-8763-36b48298e916.png)

[2018-12-19 08:50] cjld commented on #14864
[code]
试试这个呢

[2018-12-19 09:06] Yancey0623 commented on #14952
应该是之前于老师的一个PR把 tensor::type() 的返回值改成了 `proto::VarType::Type`, 清掉build目录重新编译一下试试呢？

PR: https://github.com/PaddlePaddle/Paddle/pull/14858/files#diff-990fb28c91b41c53e13387d071897f02R141

[2018-12-19 09:06] yeyupiaoling opened #14961 "Windows下的PaddlePaddle预测是有问题的"
# 环境
 - python 3.5
 - paddlepaddle 1.2.0
 - Windows 10 专业版

# 问题
我严重怀疑Windows下的预测接口是错误的？有或者说Windows和Ubuntu的模型不通用

因为我在Ubuntu下使用paddlepaddle 1.2.0训练好的模型放在Windows下预测是错误的，放在Ubuntu是没有问题的。
接口是：`fluid.io.load_inference_model(dirname='./model', executor=exe)`

[2018-12-19 09:10] Yancey0623 commented on #14961
是说预测的结果不一致么？

[2018-12-19 09:14] yeyupiaoling commented on #14961
@Yancey1989 是的。同一个模型文件，同一个代码，结果如下：
Windows(错误)，paddlepaddle 1.2.0：
[code]

Ubuntu(正确)，paddlepaddle  (1.2.0.post85)：
[code]

同样是python 3.5， paddlepaddle1.2.0，唯一不同的是一个是GPU，一个是CPU

[2018-12-19 09:19] Yancey0623 commented on #14961
有在 ubuntu 上对比过 CPU 和 GPU的结果么？

[2018-12-19 09:22] yeyupiaoling commented on #14961
@Yancey1989 预测的时候，都是用CPU的，只有训练的时候使用GPU

[2018-12-19 09:23] yeyupiaoling commented on #14961
@Yancey1989 只是Ubuntu安装的是GPU版本，Windows安装的是CPU版本

[2018-12-19 09:36] wopeizl commented on #14961
可以给一下复现代码吗？

[2018-12-19 09:46] yeyupiaoling commented on #14961
@wopeizl 可以的， 你要这个项目吗？下面是代码片段：
train.py：
[code]

infer.py：
[code]

[2018-12-19 09:54] wopeizl commented on #14961
@yeyupiaoling 谢谢，有结果我们会尽快反馈

[2018-12-19 11:02] Yancey0623 commented on #14951
线下和 @jacquesqiao  @lvxiaxia 沟通了一下，写一下结论：

对于 embedding layer来说，目前支持两种输入：
1. 固定长度的 1维定长的 ids, API类似：
    ```layers.data(name="ids", shape=[1], lod_level=0, dtype="int64")```
1. 变长sequence类 ids, API 类似:
    ```layers.data(name="ids", shape=[1], lod_level=1, dtype="int64")```
    此种方法会将输入的ids转换成一个lod_tensor,支持变长的输入序列（转lodtensor会对性能有些影响 -- from @jacquesqiao ）

@lvxiaxia 这种场景输入定长的高维 Ids, 理论上应该使用方法2， 但由

[2018-12-19 11:04] Yancey0623 commented on #14947
是book中的代码么？有复现的方法么？

[2018-12-19 11:11] Yancey0623 commented on #14946
这个有具体的场景么？和 #14947 是同一个事情？

[2018-12-19 11:12] lvxiaxia commented on #14951
谢谢～

[2018-12-19 11:13] #14951 closed, assigned to Yancey0623

[2018-12-19 12:08] lucywsq opened #14965 "运行官网房价模型报错"
具体报错信息如下，显示不能连接到proxy，已经排除是官网的数据集网址问题，想麻烦看下是哪里出了问题
如下是报错截图
![2118abc9b80375561efa7e1625a1b332](https://user-images.githubusercontent.com/38712162/50219282-b1ee3900-03c9-11e9-9b53-0ba44577f4e7.JPG)
如下是具体配置信息
![fb12fad335672f7956489721f14b642b](https://user-images.githubusercontent.com/38712162/50219318-cdf1da80-03c9-11e9-8f4e-52b295de9f3f.JPG)

[2018-12-19 12:12] wopeizl commented on #14965
看起来像是proxy的问题，可以这样查一下
echo $http_proxy
echo $https_proxy

[2018-12-19 12:43] hjchen2 commented on #14911
每个batch训练结束后，所有卡进行一次同步，每同步一次，会调用一次all_reduce。如果你每张卡训练的batch数不变的话，all_reduce次数应该是不变的。

[2018-12-19 12:47] hjchen2 commented on #14911
至于2卡到4卡只加速了50%的问题，请问一下batch size多大呢？由于每个batch计算完梯度后gpu都要同步一次，如果每张卡计算梯度的时间比较少，而同步的延时相对较大，就会拖累加速比，而且看你profile的结果，all reduce的占比还挺大的。你可以将batch size调大一些再看看4卡加速比。

[2018-12-19 13:51] zhengzhe97 opened #14967 "cuDNN6支持使用fluid1.2吗"

[2018-12-19 13:56] zhengzhe97 opened #14969 "在使用多卡训练时出错"
[code]

[2018-12-20 01:02] #14949 closed, assigned to Yancey0623

[2018-12-20 01:19] zhouksh opened #14976 "fluid 中是否存在类似tf.shape来获取dynamic shape 的api"
譬如如何获取batch中的最长序列长度用来定义网络？

[2018-12-20 01:37] Yancey0623 commented on #14965
代理工作是否正常呢, 可以试下：```curl http://172.19.57.45:3128```

[2018-12-20 01:40] Yancey0623 commented on #14969
看起来是没有找到 `libnccl.so`, 是不是nccl安装的不对呢？

可以试试全局查找一下 `find / -name "libnccl.so*" ` 然后把路径加到 `LD_LIBRARY_PATH` 环境变量里。

[2018-12-20 01:44] Yancey0623 commented on #14967
需要自己从源码编译一下，目前paddle发布的版本是 cuda8.0+cudnn5, cuda8+cudnn7, cuda9+cudnn7.

源码编译的方法可以参考：http://paddlepaddle.org/documentation/docs/zh/1.2/beginners_guide/install/compile/compile_Ubuntu.html

[2018-12-20 01:52] zhengzhe97 commented on #14969
![l rtrt 3eaua e2 6x gwp](https://user-images.githubusercontent.com/26462054/50258932-ec44ee00-043c-11e9-833a-4ad9306765e0.png)
我用pip安装的在这步没有问题，是不是意味着我安装是成功的？

[2018-12-20 01:54] Yancey0623 commented on #14969
paddle安装是没有问题的，只是你安装的是GPU版本，运行环境中需要保证nccl的安装是正常的。

[2018-12-20 01:54] zhengzhe97 commented on #14967
@Yancey1989
![l rtrt 3eaua e2 6x gwp](https://user-images.githubusercontent.com/26462054/50258995-329a4d00-043d-11e9-98c6-eb3f81bcf578.png)
我使用pip安装的paddlepaddle，在运行以上代码是没有出错，是不是意味着我安装是成功的？

[2018-12-20 03:07] iclementine commented on #14952
了解， 谢谢

[2018-12-20 03:07] #14952 closed, assigned to Yancey0623

[2018-12-20 03:20] luotao1 commented on #14976
shape接口请参考 http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#shape

[2018-12-20 03:42] ghost opened #14977 "fluid.io.save_persistables保存持久化参数"
请问使用fluid.io.save_persistables保存持久化参数时，velocity文件是保存的什么？

[2018-12-20 05:37] luotao1 commented on #14977
optimizer中累加的variable都是persistable的，把这些存到velocity文件中。

[2018-12-20 06:18] zhengzhe97 opened #14980 "多卡训练时出现问题"
Enforce failed. Expected member_->places_.size() == lod_tensors.size(), but received member_->places_.size():2 != lod_tensors.size():1.
The number of samples of current batch is less than the count of devices, currently, it is not allowed. (2 vs 1) at [/paddle/paddle/fluid/framework/parallel_executor.cc:314]
PaddlePaddle Call Stacks:
0       0x7fd3f0002e96p paddle::platform::EnforceNotMet::Enforce

[2018-12-20 06:19] zhengzhe97 commented on #14980
@luotao1

[2018-12-20 06:55] zhengzhe97 opened #14981 "deeplabv3 我使用cpu运行代码时没问题，在使用GPU出错"
train.py:35: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  a = a[slices]
*** Aborted at 1545288441 (unix time) try "date -d @1545288441" if you are using GNU date ***
PC: @

[2018-12-20 07:08] luotao1 commented on #14980
从报错信息看，说明样本数少于卡数，请增加样本数。

[2018-12-20 07:14] zhengzhe97 commented on #14980
嗯嗯 是这种情况

[2018-12-20 07:20] luotao1 commented on #14981
请给出更详细一点的信息，包括网络结构，使用paddle版本等。

[2018-12-20 07:24] zhengzhe97 commented on #14981
@luotao1 paddlepaddle1.2  模型库里的deeplabv3+

*** Aborted at 1545288441 (unix time) try "date -d @1545288441" if you are using GNU date ***
PC: @ 0x0 (unknown)
*** SIGSEGV (@0x0) received by PID 12022 (TID 0x7f6e9b7fe700) from PID 0; stack trace: ***
@ 0x7f72f426f330 (unknown)
@ 0x0 (unknown)
Segmentation fault (core dumped

前面的warning可以理解，但是后面的错误不是很懂

[2018-12-20 07:47] luotao1 commented on #14981
@cjld 能帮忙看一下么？

[2018-12-20 08:41] #14883 closed, assigned to nobody

[2018-12-20 08:54] dreamerleague commented on #10251
同上，将学习率从e-3调到e-6，问题解决。推测问题处在学习率导致的浮点数溢出。

[2018-12-20 09:07] Yancey0623 commented on #14967
如果`use_gpu=True`能够正常运行，说明安装是没问题的。

[2018-12-20 09:17] guoshengCS commented on #14976
用户希望使用batch中的最长序列长度进行position encoding，已和用户沟通解决。
如果希望获取LoDTensor里的序列长度，可以先行加一个额外的data layer记录每个序列的长度，作为输入feed进去。只考虑position encoding的话也可以不用管batch中的最长序列长度，参考Transformer中的做法定义一个embedding layer，大小为最大可能的序列长度，然后使用python代码计算好position encoding后作为embedding 的参数初始值设置进去。
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/neural_machine_translation/transformer/model.py#L228
 https://github.co

[2018-12-20 09:43] #14980 closed, assigned to luotao1

[2018-12-20 10:24] velconia commented on #14861
和 @jacquesqiao  讨论之后, 结论如下:

1. 增加lazy_mode, 只更新有梯度的参数部分，CPU GPU通用
    优点：实现快速；
    缺点：会对效果有影响；
https://github.com/PaddlePaddle/Paddle/pull/14889

2. 实现Op内多线程，提升CPU下的性能；
    优点：对效果无影响，提速明显；
    缺点：改动较大；
https://github.com/PaddlePaddle/Paddle/pull/14890

3. 针对没有梯度的参数和有梯度的参数进行不同方法的更新, 提升CPU下的性能；
    优点：对效果无影响，实现快速；
    缺点：提速不明显；
https://github.com/PaddlePaddle/Paddle/pull/14891

[2018-12-20 10:37] velconia commented on #14861
鉴于仅有 https://github.com/PaddlePaddle/Paddle/pull/14889 这个PR对GPU部分产生影响，这个issue可以先close了，请问还有别的问题吗？

[2018-12-20 12:29] ghost commented on #14977
感谢

[2018-12-20 12:47] ghost opened #14984 "clone的使用，及模型库里train.py中test_prog = test_prog.clone(for_test=True)的解释"
![p1](https://user-images.githubusercontent.com/29684008/50285516-60ac7b00-0497-11e9-9158-86cdfadac285.png)
![p2](https://user-images.githubusercontent.com/29684008/50285517-64400200-0497-11e9-839d-cc4f45e58905.png)
问题一：上两图是API中fluid.Program下Clone方法的代码示例，第一张图好理解，把train_program的参数给test_program共享，第二张图没法理解，请问test_program是怎么拿到train_program的参数的呢？而且“#不使用测试阶段的startup_program”是不是想表达“#不使用训练阶段的startup_progr

[2018-12-20 12:55] #14977 closed, assigned to luotao1

[2018-12-20 12:58] haoshengxuan opened #14985 "C-API 加在python训练的模型后出core"
python 训练后save的代码如下：
![bcea20ecd7db20a27505a5b5665bfa30](https://user-images.githubusercontent.com/8426999/50286492-7c655080-049a-11e9-9c6b-e83151d69c58.PNG)

C++ 调用paddle_inference_api的代码如下：
![image](https://user-images.githubusercontent.com/8426999/50286139-6acf7900-0499-11e9-92d5-85eaf6c07781.png)

出core的gdb调试信息如下：
![image](https://user-images.githubusercontent.com/8426999/50286165-8044a300-049

[2018-12-20 13:01] lucywsq commented on #14453
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:01] #14453 closed, assigned to Xreki

[2018-12-20 13:02] lucywsq commented on #14462
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:02] #14462 closed, assigned to Xreki

[2018-12-20 13:05] lucywsq commented on #14514
Thanks for your suggestion. We would trace it.
Since this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it.We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-12-20 13:05] #14514 closed, assigned to lucywsq, kagome112

[2018-12-20 13:06] lucywsq commented on #14516
您好，此issue若已解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:06] #14516 closed, assigned to guoshengCS

[2018-12-20 13:06] lucywsq commented on #14532
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:06] #14532 closed, assigned to kuke

[2018-12-20 13:07] lucywsq commented on #14570
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:07] #14570 closed, assigned to lucywsq

[2018-12-20 13:08] lucywsq commented on #14576
您好，您的建议已经被记录，鉴于此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:08] #14576 closed, assigned to lucywsq, kagome112

[2018-12-20 13:10] luotao1 commented on #14985
python存储的预测文件是`__model__`和`__params__`吧？
这样C++代码里需要
[code]

[2018-12-20 13:10] lucywsq commented on #14580
Thanks for your suggestion : )
Since this issue has not been updated in the past month. we will close it today for the sake of other user’s experience. If you still need to follow up on this question after closing, please feel free to reopen it.We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-12-20 13:10] #14580 closed, assigned to qingqing01, lucywsq, kagome112

[2018-12-20 13:11] lucywsq commented on #14596
您好，鉴于此问题已经解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:11] #14596 closed, assigned to jacquesqiao

[2018-12-20 13:13] lucywsq commented on #14749
Thanks for your suggestion : )
Since this issue has not been updated in the past month. we will close it today for the sake of other user’s experience.If you still need to follow up on this question after closing, please feel free to reopen it.
We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-12-20 13:13] #14749 closed, assigned to lucywsq, kagome112

[2018-12-20 13:14] lucywsq commented on #14812
感谢您的建议，我们已经记录~为了保证更好的用户体验，我们将于今天内关闭此issue。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:15] lucywsq commented on #14812
感谢您的建议，我们已经记录。
为了保证更好的用户体验，我们将于今天内关闭此issue。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解感谢您对PaddlePaddle的支持!

[2018-12-20 13:15] #14812 closed, assigned to lucywsq, kagome112

[2018-12-20 13:16] lucywsq commented on #14843
Since this issue has been solved , we will close it today for the sake of other user’s experience.
 If you still need to follow up on this question after closing, please feel free to reopen it.
We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-12-20 13:32] luotao1 commented on #14984
- 问题1:

`train_program`, `test_program`都是`fluid.Program()`，因此都在一个`program_desc`里面。

不是的。如果使用测试阶段自己的startup_program, 就无法共享`fluid.Program()`了。

- 问题2:

`build_program`里的`is_train=False`，并没有将program_desc里op的`is_test`属性改成false。它只是不加一些训练需要的参数。
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/train.py#L178-L187

因此，必须使用`clone(for_test=True)`来将program_desc里op的`is_te

[2018-12-20 13:34] lucywsq commented on #13011
您好，此issue已经解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，
我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:34] #13011 closed, assigned to luotao1

[2018-12-20 13:43] lucywsq commented on #13315
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:43] #13315 closed, assigned to wanghaoshuang

[2018-12-20 13:52] lucywsq commented on #13462
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:52] #13462 closed, assigned to panyx0718, shanyi15

[2018-12-20 13:58] lucywsq commented on #13716
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:58] #13716 closed, assigned to reyoung

[2018-12-20 13:58] lucywsq commented on #13745
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:58] #13745 closed, assigned to typhoonzero

[2018-12-20 13:59] lucywsq commented on #13796
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:59] #13796 closed, assigned to NHZlX

[2018-12-20 13:59] lucywsq commented on #13799
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 13:59] #13799 closed, assigned to NHZlX

[2018-12-20 14:12] lucywsq commented on #13898
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:12] #13898 closed, assigned to nobody

[2018-12-20 14:13] lucywsq commented on #13970
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:14] lucywsq commented on #13993
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:14] #13993 closed, assigned to seiriosPlus

[2018-12-20 14:16] lucywsq commented on #14052
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:16] #14052 closed, assigned to kuke

[2018-12-20 14:16] lucywsq commented on #14083
您好，此issue若已经解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:16] #14083 closed, assigned to guoshengCS

[2018-12-20 14:23] lucywsq commented on #14135
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:23] #14135 closed, assigned to dzhwinter

[2018-12-20 14:25] lucywsq commented on #14164
您好，此bug正在修复中，为了保证用户体验，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:25] #14164 closed, assigned to kuke

[2018-12-20 14:26] lucywsq commented on #14170
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:26] #14170 closed, assigned to kuke

[2018-12-20 14:27] lucywsq commented on #14172
Hello, since this issue has been solved , we will close it today for the sake of other user’s experience.
 If you still need to follow up on this question after closing, please feel free to reopen it.
We apologize for the inconvenience caused by the closure and thank you so much for your support of PaddlePaddle Group!

[2018-12-20 14:27] #14172 closed, assigned to reyoung

[2018-12-20 14:28] lucywsq commented on #14180
好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:28] #14180 closed, assigned to dzhwinter, qingqing01

[2018-12-20 14:29] lucywsq commented on #14187
您好，鉴于此问题已经解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:29] #14187 closed, assigned to varunarora, jetfuel, shanyi15

[2018-12-20 14:29] lucywsq commented on #14193
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:29] #14193 closed, assigned to Superjomn, seiriosPlus

[2018-12-20 14:32] lucywsq commented on #14229
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持!

[2018-12-20 14:32] #14229 closed, assigned to velconia

[2018-12-20 14:32] lucywsq commented on #14242
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:32] #14242 closed, assigned to reyoung

[2018-12-20 14:33] lucywsq commented on #14245
您好，鉴于此问题已经解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:33] #14245 closed, assigned to luotao1

[2018-12-20 14:36] lucywsq commented on #14290
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:36] #14290 closed, assigned to wanghaoshuang

[2018-12-20 14:37] lucywsq commented on #14296
您好，此issue在近三周暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:37] #14296 closed, assigned to jacquesqiao, typhoonzero

[2018-12-20 14:37] lucywsq commented on #14303
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:37] #14303 closed, assigned to jacquesqiao, qingqing01

[2018-12-20 14:38] lucywsq commented on #14319
您好，此issue在近三周内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:38] #14319 closed, assigned to typhoonzero

[2018-12-20 14:40] lucywsq commented on #14396
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:46] lucywsq commented on #14534
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:46] #14534 closed, assigned to kuke

[2018-12-20 14:47] lucywsq commented on #14544
您好，此issue在近一个月内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:47] #14544 closed, assigned to kuke

[2018-12-20 14:48] lucywsq commented on #14554
您好，鉴于您的问题已经解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:48] #14554 closed, assigned to chengduoZH, lucywsq

[2018-12-20 14:50] lucywsq commented on #14585
您好，此issue在近三周内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:50] #14585 closed, assigned to jacquesqiao

[2018-12-20 14:52] lucywsq commented on #14613
您好，此issue在近三周内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:52] #14613 closed, assigned to typhoonzero

[2018-12-20 14:56] lucywsq commented on #14625
您好，此issue在近三周内暂无更新，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 14:56] #14625 closed, assigned to jacquesqiao

[2018-12-20 15:00] lucywsq commented on #14640
您好，鉴于此问题已经解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 15:20] lucywsq commented on #14653
您好，此问题超过48小时未有进一步回复，我们将于今天内关闭，如果您若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 15:20] #14653 closed, assigned to jacquesqiao

[2018-12-20 15:28] lucywsq commented on #14658
您好，若此issue已经解决，我们将于今天内关闭。若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 15:28] #14658 closed, assigned to qingqing01

[2018-12-20 15:30] lucywsq commented on #14660
您好，此问题若已经解决，我们将于今天内关闭，如果您若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 15:30] #14660 closed, assigned to Superjomn

[2018-12-20 15:31] lucywsq commented on #14664
您好，此问题若已经解决，我们将于今天内关闭，如果您若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 15:31] #14664 closed, assigned to seiriosPlus

[2018-12-20 15:36] lucywsq commented on #14741
您好，若此问题已经解决，我们将于今天内关闭，如果您若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 15:36] #14741 closed, assigned to reyoung

[2018-12-20 15:37] lucywsq commented on #14772
您好，此问题超过48小时未有进一步回复，我们将于今天内关闭，如果您若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 15:37] #14772 closed, assigned to reyoung

[2018-12-20 15:44] lucywsq commented on #14856
您好，鉴于此问题已经解决，我们将于今天内关闭，如果您若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 15:46] lucywsq commented on #14870
您好，此问题超过48小时未有进一步回复，我们将于今天内关闭，如果您若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 15:46] #14870 closed, assigned to gavin1332

[2018-12-20 15:47] #14880 closed, assigned to nobody

[2018-12-20 16:11] lucywsq commented on #14895
您好，此问题超过48小时未有进一步回复，我们将于今天内关闭，如果您若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 16:11] #14895 closed, assigned to shippingwang

[2018-12-20 16:16] lucywsq commented on #14925
您好，请您将您遇到的问题详细描述，包含如下信息
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

[2018-12-20 16:17] lucywsq commented on #14930
您好，此问题超过48小时未有进一步回复，我们将于今天内关闭，如果您若在关闭后您仍需跟进提问，可重新开启此问题，我们将在24小时内回复您。因关闭带来的不便我们深表歉意，请您谅解~感谢您对PaddlePaddle的支持

[2018-12-20 16:17] #14930 closed, assigned to jacquesqiao

[2018-12-20 16:41] kbinias opened #14988 "Transformer Fails when MKLDNN is used"
This commit made Transformer (used with MKL-DNN) crashed:
a872eb90c2384596ee46d29ad9f39bfe3f6ebc1b

@panyx0718 Could you please take a look and advice on this issue?

if there is a problem with reproduction of issue or more information is needed, feel free to ask.

Example log & reference command line for reproduction:

[code]

[2018-12-21 01:11] Yancey0623 opened #14989 "Paddle v2使用的protobuf版本是否与fluid兼容"
问题来自用户群。
解答：是兼容的，统一3.2版本。

[2018-12-21 01:12] Yancey0623 opened #14990 "paddle 是否有提供 python3 环境的 docker 镜像？"
问题来自用户群
解答：暂时没有，但有提供python3的wheel包，可以直接在python3但环境下使用pip install 进行安装。

[2018-12-21 01:12] Yancey1989 commented on #14990
暂时没有，但有提供python3的wheel包，可以直接在python3但环境下使用`pip install` 进行安装。

[2018-12-21 01:13] #14989 closed, assigned to Yancey0623

[2018-12-21 01:38] qingqing01 commented on #14981
GPU的错误信息有点少，可以运行以下命令，看看有没有更详细的错误信息，提供下、同时提供下GPU的信息、环境信息。

[code]

[2018-12-21 01:50] qingqing01 opened #14991 "如何对NCE参数(Parameter)如何做转置"
可以采用如下方式：

[code]

[2018-12-21 01:51] #14991 closed, assigned to nobody

[2018-12-21 02:02] panyx0718 commented on #14988
Is there any test codes or model codes in Paddle repo that I can use to reproduce? It seems your example is using your local saved model

[2018-12-21 02:35] panyx0718 commented on #14988
Does it work without MKLDNN?

[2018-12-21 02:44] qingqing01 commented on #13462
此类API都已修复，都已重新封装，例如`fluid.layers.scale`, 见 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L8317 文件：

[code]

不在要求用户必需给key。

[2018-12-21 02:51] panyx0718 commented on #14988
![image](https://user-images.githubusercontent.com/2887803/50321976-3b0e8880-050e-11e9-9465-22a18d757ea3.png)

There is a change in while_op.cc default behavior (which I probably shouldn't do)
Compile time infer shape now always SetShape (It used to SetShape only when input is LodTensor and LodTensorArray

[2018-12-21 03:57] yeyupiaoling commented on #14965
@lucywsq 这个是Windows下的docker通病，应该是Windows虚拟机网络设置有问题。我建议之间在Windows下安装paddlepaddle，这样会方便很多。

[2018-12-21 04:02] sneaxiy commented on #14924
Thanks! It has been fix.

[2018-12-21 04:02] #14924 closed, assigned to sneaxiy

[2018-12-21 04:18] lgone2000 commented on #13462
验证了一下，确实修正了

[2018-12-21 06:35] kbinias commented on #14988
It works good without MKL-DNN (FLAGS_use_mkldnn=False)

[2018-12-21 06:45] velconia commented on #14498
Python3.6 is supported now. Close this issue

[2018-12-21 06:45] #14498 closed, assigned to velconia

[2018-12-21 06:45] #13344 closed, assigned to Superjomn, velconia, guochaorong

[2018-12-21 06:46] #13343 closed, assigned to velconia

[2018-12-21 06:46] #13342 closed, assigned to reyoung, velconia, chengduoZH

[2018-12-21 08:29] haoshengxuan opened #14995 "Capi与python API预测结果不一致"
python 训练后save的代码如下：
![bcea20ecd7db20a27505a5b5665bfa30](https://user-images.githubusercontent.com/8426999/50332455-20073d00-053d-11e9-8393-84f90ade1e33.PNG)

python 调用API的代码如下：
![bec43a3a449df7a4045da830a5b8682c](https://user-images.githubusercontent.com/8426999/50332423-09f97c80-053d-11e9-9055-bb071a35d4bf.PNG)

C++ 调用paddle_inference_api的代码如下：
![image](https://user-images.githubusercontent.com/

[2018-12-21 08:34] haoshengxuan commented on #14985
问题已解决。非常感谢。

[2018-12-21 08:34] #14985 closed, assigned to nobody

[2018-12-21 08:47] ghost commented on #14984
对于问题一，我觉得可能是你们的勘误：
![p4](https://user-images.githubusercontent.com/29684008/50333206-842b0080-053f-11e9-9afd-3eb9b65116f3.png)
标注的地方我认为是startup_program，而不应该是fluid.Program()。
这就是为什么问题二中train_prog和test_prog在build的时候传的是同一个初始化，即startup_prog，这样才能参数共享。

[2018-12-21 09:02] Superjomn commented on #14995
你预测output是activation的输出么，比如 softmax 或者 tanh 等，如果是，中间有个bug：

- 尝试在 output 后面加个 scale op，把scale的输出作为新的output 获取

[2018-12-21 09:06] wopeizl commented on #11371
第一步会将op 信息加入到callstack中，方便出错查看。

[2018-12-21 09:08] luotao1 commented on #14984
能否告知下问题一的代码来源，可以贴下url么？

[2018-12-21 09:15] haoshengxuan commented on #14995
output是softmax activation的输出。 scale op这块我没有找到相关的API。请问具体应该如何操作呢。或者相关的API文档或者样例链接能否提供下。

[2018-12-21 09:22] Superjomn commented on #14995
[code]

很抱歉，这个bug我们在修，需要重构修改量比较大，所以晚一些发版放出来

[2018-12-21 09:57] zyz282994112 opened #14997 "v2使用is_static未生效"
paddle v2环境，提前预训练后，使用is_static固定参数，但部分layer没有生效（例如time_layer），代码如下：

[code]

[2018-12-21 11:35] haoshengxuan commented on #14995
![aaa](https://user-images.githubusercontent.com/8426999/50340786-4f2aa800-0557-11e9-994f-61e0cde5bb72.png)
output按scale处理后再save依然不一致，python api预测结果是两个0~1的浮点数。而capi预测结果都是0或1，且与python按照0.5上下取整的结果完全不一样。

[2018-12-21 12:02] typhoonzero commented on #14997
是怎么确定的没有生效呢？`network`调用之后是否有代码重新load网络配置覆盖掉呢？

[2018-12-21 13:39] kbinias commented on #14988
It is public python infer.py, to reproduce check next comment.
Dataset: http://transformer-model-data.bj.bcebos.com/wmt16_ende_data_bpe_clean.tar.gz
Model: http://transformer-model-data.bj.bcebos.com/iter_100000.infer.model.tar.gz

[2018-12-21 14:32] 333caowei opened #14999 "paddle 1.2版本rank_loss文档错误"
http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html
rank_loss的代码示例是错的，fluid.layers.affine_grid不是这个api的代码示例

[2018-12-22 01:38] #14976 closed, assigned to guoshengCS

[2018-12-22 02:47] ghost commented on #14984
http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/fluid_cn.html#permalink-23-program

fluid.Program类下的clone方法

[2018-12-22 07:44] gongweibao opened #15001 "Document url in code comments don't exist now."
Such like
[code]

[2018-12-22 07:45] #13175 closed, assigned to nobody

[2018-12-22 07:45] #13306 closed, assigned to Superjomn

[2018-12-22 07:46] #13309 closed, assigned to velconia, panyx0718

[2018-12-22 07:46] #13586 closed, assigned to Superjomn

[2018-12-22 07:47] #13933 closed, assigned to Superjomn

[2018-12-22 07:47] #13413 closed, assigned to Superjomn

[2018-12-22 07:47] #14609 closed, assigned to nobody

[2018-12-22 07:48] #12514 closed, assigned to dzhwinter

[2018-12-22 08:38] #14856 closed, assigned to nobody

[2018-12-22 09:01] Ouyangtengfang opened #15002 "关于使用paddle进行车牌识别的问题"
你好！我打算用ｐａｄｄｌｅ做车牌识别，我不知道是该使用ＳＳＤ还是ＯＣＲ？　如果是使用ＯＣＲ，我参考过你们的例子：https://github.com/PaddlePaddle/models/tree/develop/fluid/PaddleCV/ocr_recognition，里面只有英文字母的训练数据，中国的车牌除了英文，还有中文和数字，请问哪里可以下载到相应的数据集用来训练？　谢谢！

[2018-12-22 13:27] littletomatodonkey opened #15004 "参数文件查看的问题"
现在保存模型之后，所有的参数以文件的形式存储在一个文件夹中，我想问一下在没有模型文件的情况下，有没有什么方法可以直接查看这些参数文件的数值呢？就是每个卷积核的scale和offset等。我想做一下不同模型之间的参数对比。谢谢

[2018-12-22 15:18] chengduoZH commented on #14999
收到，非常感谢，已通过相关同学修正。
英文文档是正常的。

[2018-12-23 05:09] tink2123 commented on #14999
@333caowei 收到反馈，中文文档已经修复，非常感谢您的关注和使用。

[2018-12-23 07:31] ghost opened #15005 "eval.py代码有误"
![error](https://user-images.githubusercontent.com/29684008/50381667-b6676a00-06c7-11e9-9014-dabca22ec300.png)

https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/eval.py

应该是reader.val()，不传“”空字符串进去。

[2018-12-23 09:03] chengduoZH commented on #15002
@Ouyangtengfang 目前Paddle这边没有提供，您可以在网上找一下，应该是还设有的。

[2018-12-23 14:05] wanghaoshuang commented on #15002
车牌识别建议使用OCR, 因版权问题暂时无法对外开放中文数据，需要您从其他渠道收集数据。

[2018-12-24 02:23] zyz282994112 commented on #14997
模型训练时，查看到除“ query_emb”、“querytime_emb”这两个layer外，其余layer的md5都有变化。

[2018-12-24 02:27] typhoonzero commented on #14997
其余layer的md5，是指每轮save下来的参数的md5么

[2018-12-24 02:37] gongweibao opened #15008 "Speed up bert train performance"
Speed up methods:
- [x] Mixed precision.
- [ ] Use selectedrows allreduce.
- [ ] Better multithread instead of scheduler.
   - [ ] Use multiprocess instead.
- [ ] Resolve operator bottleneck. Such as `dropout`.
- [ ] Fuse small but massive operators.
- [ ] Collective ophandles run overlap with other operators.
    - [ ] Does fuse is useful?
- [x] Deep Gradient Compression
    - Can't speed up on 1

[2018-12-24 02:39] chuanqi129 opened #15009 "Build Debug version error"
When we build Paddle using the cmake command below with **Dubug** version, the following error occurs in the build process, please have a look on it.

**cmake command:**
`cmake .. -DWITH_DOC=OFF -DWITH_GPU=OFF -DWITH_DISTRIBUTE=OFF -DWITH_MKLDNN=ON -DWITH_GOLANG=OFF -DWITH_SWIG_PY=ON -DWITH_TESTING=ON -DCMAKE_BUILD_TYPE=Debug -DWITH_TIMER=OFF -DWITH_PROFILER=OFF -DWITH_FLUID_ONLY=ON -DCMAKE_EXPORT

[2018-12-24 02:41] zyz282994112 commented on #14997
嗯嗯，解压参数包后，每个layer的md5。优化算法是adam

[2018-12-24 03:05] typhoonzero commented on #14997
network调用之后是否有代码重新load网络配置覆盖掉呢？

这个可否看下呢，正常配置is_static是对的哈

[2018-12-24 03:09] zyz282994112 commented on #14997
请问这个如何确认？

[2018-12-24 03:20] zyz282994112 commented on #14997
另外，尝试吧每层layer的learning_rate设置为0，也没有起作用

[2018-12-24 03:27] typhoonzero commented on #14997
调用network之后，是否有调用加载参数，加载模型相关的代码。

[2018-12-24 03:56] typhoonzero commented on #14997
检查代码，发现代码中调用了`init_from_tar`，这个函数会load包括layer配置is_static，这样会覆盖调用 network函数的结果。

解决方法是，在调用`init_from_tar`之后，调用下面的代码，设置每层的属性，然后开始训练：

[code]

[2018-12-24 04:15] Ouyangtengfang commented on #15002
好的，我用ＯＣＲ模型试试，非常感谢你们的及时回复，谢谢！

[2018-12-24 04:15] #15002 closed, assigned to chengduoZH

[2018-12-24 05:28] shippingwang commented on #15005
@skjasonz  没错，这里是val_list的路径。已修复，感谢。

[2018-12-24 06:13] freekoy opened #15014 "2080显卡怎么安装paddlepaddle-gpu"
paddlepaddle只支持cuda9.0
怎么让paddlepaddle支持cuda10
或者怎么编译支持cuda10版本的paddlepaddle

[2018-12-24 06:46] #14600 closed, assigned to nobody

[2018-12-24 06:47] gongweibao opened #15015 "Prune Communication."
**RPC**:
- [ ] More retry is useful?
- [ ] Get barrier can be one variable instead of all variables.

**Collective**:
- [ ] Allreduce runs overlap with other operators.

[2018-12-24 06:54] procr opened #15016 "求问为什么Paddle tensorrt 性能比原生支持caffe模型的差？"
在V100的机器实测。
我先用caffe的模型用原生trt接口测试，再用caffe2fluid工具转换成paddle模型用paddle trt测试。
精度都是float
[1, 3, 224, 224], 一次inference。
ResNet50，paddle trt:  2.959ms，caffe trt: 2.146
VGG19, 3.1ms vs 2.8ms
AlexNet, 1.3ms vs 0.9ms
MobileNetV2, 1.7ms vs 1.0ms

[2018-12-24 07:06] chengduoZH commented on #15004
@littletomatodonkey  你可以试一下这种方式
[code]

[2018-12-24 08:35] yeyupiaoling opened #15019 "在Windows上加载合并模型报错"
# 环境
 - paddlepaddle 1.2.0
 - Windows 10 专业版
 - Python 3.5

# 问题
使用报错预测模型接口`paddle.fluid.io.save_inference_model`保存训练的模型，然后再Windows上通过调用`paddle.fluid.io.load_inference_model`接口加载模型，然后就报错报错如下：
[code]

错误信息提示：Windows not support stack backtrace yet.
这个应该是待实现的功能吧？

[2018-12-24 09:51] gongweibao opened #15021 "Deep network gradient compression."
- [ ] Mixed precision.
   - [ ] On Bert.
   - [ ] On Resnet 50 on imagenet dataset.
- [x] DGC
   - [x] Accumulate local gradients < threshold and send them when > threshold.
      - [x] nccl
           - [x] AllReduce
           - ~~[ ] Reduce, broadcast~~
      - ~~[ ] pserver~~
   - [x] Warm up
   - [x] momentum correction.
   - [x] local gradient clipping.
   - [x] momentum factor masking and w

[2018-12-24 09:59] littletomatodonkey commented on #15004
试了一下，是可以的，谢谢您！

[2018-12-24 10:00] #15004 closed, assigned to chengduoZH

[2018-12-24 10:19] luotao1 commented on #15009
Please use Release version at first, `-DCMAKE_BUILD_TYPE=Release`. We will fix the Debug version in the future.

[2018-12-24 10:33] luotao1 opened #15022 "`mkldnn_reuse.h` format is wrong"
[code]
please use `pre-commit` to correct the format before pull request.
http://www.paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/development/contribute_to_paddle/local_dev_guide.html#permalink-5--pre-commit-
http://www.paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/development/contribute_to_paddle/local_dev_guide.html#permalink-8--commit-

[2018-12-24 11:44] sguuaa opened #15025 "多卡训练crash"
[code]
代码如上，训练会crash，报错是一堆网络文件ops信息

[2018-12-24 11:50] wanghaoshuang commented on #15025
可以把错误信息也贴过来么？

[2018-12-24 11:56] sguuaa commented on #15025
错误信息很长，只看到最后的错误，如下：
[code]

[2018-12-24 11:59] gongweibao opened #15026 "A flag of cuda event need not set."
[code]

[2018-12-24 12:01] wanghaoshuang commented on #15025
你好，你贴出的信息不是错误信息，应该是打印的网络结构，你看下你程序里有类似`print tp`的语句么？可以注释掉打印program（网络结构）内容的语句，然后再跑一下。

[2018-12-24 12:02] sguuaa commented on #15025
没有print tp ，程序不用多卡的时候可以正常训练，也不会打印出这些网络结构

[2018-12-24 12:08] wanghaoshuang commented on #15025
麻烦把代码贴全？

[2018-12-24 12:08] wanghaoshuang commented on #15025
麻烦把代码贴全？

[2018-12-24 12:15] #12068 closed, assigned to jacquesqiao

[2018-12-24 12:16] #11899 closed, assigned to shanyi15

[2018-12-24 12:23] sguuaa commented on #15025
[code]

程序在执行这一行的时候就crash了：exe.run(sp)

[2018-12-24 12:28] chengduoZH commented on #15025
[code]

ParallelExecutor不是这么用的。

请参考：
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/parallel_executor.py#L76-L82

[2018-12-24 12:38] wanghaoshuang commented on #15025
请参考这里：https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/deeplabv3%2B/train.py#L128
`startup_program`是用于初始化网络的`program`, 需要用`fluid.Executor`执行。

[2018-12-25 01:53] gongweibao commented on #15014
cuda10还没有测试过。我们在以后尽快支持。

[2018-12-25 01:57] Superjomn commented on #15016
两者机制不一样，paddle是用子图的方式，中间需要一个映射过程，目前一些经典模型上需要的映射都包含了，但肯定有模型没包含，需要按模型来看。

[2018-12-25 02:13] wopeizl commented on #15019
是，win上暂不支持callback trace，不过这个错误应该是路径问题，./model\params 换成 .\model\params

[2018-12-25 02:16] procr commented on #15016
上面列举的几个模型，都能在Tensorrt执行。
“有模型没有包含”，是指有些子图的op没有办法被tensorrts所优化么？

[2018-12-25 02:17] #15025 closed, assigned to wanghaoshuang

[2018-12-25 02:17] procr commented on #15016
顺便请问一下，是否现在有哪个模型能够使paddle trt的性能和原生的trt性能相一致么？

[2018-12-25 02:18] Superjomn commented on #15016
http://www.paddlepaddle.org/documentation/docs/zh/1.2/advanced_usage/deploy/inference/paddle_gpu_benchmark.html

这些模型都有。

fluid op(s) -> tensorrt op(s) 的映射过程是需要手写rule 的，rule包含的能映射过去，不包含的不能映射过去，目前我们重点看了上面列表里的模型，现在的rule理论上能覆盖大部分图像模型，但无法保证所有模型。

[2018-12-25 02:22] luotao1 commented on #14984
`start_program=fluid.Program()`, 两者是一致的。

startup_program存放是参数初始化的操作。main_program存放的是模型网络结构。测试和训练这里是共享参数的，所以需要用训练阶段的startup_program,不能用测试阶段自己的startup_program。

[2018-12-25 03:05] yeyupiaoling commented on #15019
@wopeizl 路径没有问题的，这个路径也是正常的，修改之后也是同样的错误。
如果使用非合并模型就不会报错。

[2018-12-25 04:35] luotao1 opened #15032 "test_analyzer_* random crashs at `compare_mkldnn`"
- test_analyzer_small_dam random crashes at `compare_mkldnn` in three nightly CI at a same machine (5117).
[code]
http://ci.paddlepaddle.org/viewLog.html?buildId=40622&tab=buildLog&buildTypeId=Paddle_PrCiNight&logTab=tree&filter=all&_focus=21635
http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&buildTypeId=Paddle_PrCiNight&buildId=40460&_focus=22113
http://ci.paddlepaddle.org/viewLog.html?build

[2018-12-25 04:42] luotao1 commented on #15032
Is the same problem like #14174?

[2018-12-25 04:51] ccmeteorljh opened #15033 "language_model lstm 下cudnn_model 训练错误"
执行命令：
[code]

- 版本、环境信息：
    1）PaddlePaddle版本：develop分支 commitid=79bd6dfa18c6
    2）GPU：cuda8 cudnn5 mkl
- 训练信息
    1）单机单卡

错误日志如下：
[code]

[2018-12-25 04:59] typhoonzero commented on #14997
PS: 后续联调发现是bias都没有加上is_static，通过增加`bias_attr=ParamAttr(is_static=True)`可以固定。

另外，`batch_norm`只能固定scale 和bias，moving mean/var通过增加参数`use_global_stats`理论上可以固定但貌似还有问题

[2018-12-25 04:59] typhoonzero commented on #14997
PS: 后续联调发现是bias都没有加上is_static，通过增加`bias_attr=ParamAttr(is_static=True)`可以固定。

另外，`batch_norm`只能固定scale 和bias，moving mean/var通过增加参数`use_global_stats`理论上可以固定但貌似还有问题

[2018-12-25 05:38] wopeizl commented on #15019
可以把完整的代码贴一下吗？尽量简单可复现的

[2018-12-25 06:31] 333caowei opened #15036 "fluid pairwise使用rank_loss训练，loss在input数据buf切换时候会上升"
训练pairwise网络，loss function使用的是rank_loss，最后画图loss变化趋势发现loss会定期上升，如下图：
<img width="765" alt="image" src="https://user-images.githubusercontent.com/4569055/50414613-8fd53a80-0851-11e9-9a10-8cd7f5e6a2af.png">
经过排查，发现每一个loss的上升的时间点都是input数据buff切换的时候，即：
[code]
例如上述buf_size=BATCH_SIZE*500，即在batch为500的倍数时候，loss就会上升：
![image](https://user-images.githubusercontent.com/4569055/50414695-f35f6800-0851-11e9-8b3

[2018-12-25 06:45] yeyupiaoling commented on #15019
@wopeizl 加载模型预测图像：
[code]

[2018-12-25 06:58] flyhighzy opened #15038 "fluid启动pserver时卡住"
使用环境：自建k8s, 使用paddle镜像：1.0.1-gpu-cuda8.0-cudnn7
启动pserver相关代码 ：

[code]

输出日志中发现输出了start pserver...之后再无新日志输出，而trainer也一直在等待pserver启动成功, 不停的输出“pserver not ready, wait 3 sec to retry...”，一段时间后trainer也失败退出。
感觉pserver启动过程中在exe.run(pserver_startup)时卡住了，请问是什么原因可能导致这种情况？

[2018-12-25 07:15] guoshengCS commented on #15038
搜了下报“pserver not ready, wait 3 sec to retry...”这个错的代码，貌似是通信问题，还没有进入Paddle Fluid的执行逻辑，https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/transpiler/details/checkport.py#L48, 会被这里调用 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/transpiler/distribute_transpiler.py#L563 ，可以试下单独执行下wait_server_ready这段代码看看是否有网络通信问题

[2018-12-25 07:28] flyhighzy commented on #15038
是的，trainer确实还没开始工作，在等待pserver，现在就是在启动pserver过程中表现为在执行`exe.run(pserver_startup)`时卡住了，导致pserver没成功启动。麻烦看下这个原因

[2018-12-25 07:47] guoshengCS commented on #15038
可以试下加下这两个环境变量输出更多日志看下，贴出来方便debug
[code]

[2018-12-25 07:50] gongweibao commented on #15038
你的代码贴全一点？或者把日志打开，日志多打一点？
[code]

[2018-12-25 07:56] guoshengCS commented on #15033
可以换cudnn6试下

[2018-12-25 08:00] wopeizl commented on #15019
save_inference_model的时候也指明了model和param名字吗？我这边没有复现，你可以试试跑一下如下测试

[code]

[2018-12-25 08:01] flyhighzy commented on #15038
具体代码和pserver日志见附件
[code&log.zip](https://github.com/PaddlePaddle/Paddle/files/2708370/code.log.zip)

[2018-12-25 08:09] yeyupiaoling commented on #15019
@wopeizl 你这个是可以正常加载模型的，可能是使用的网络不一样，我的是mobilenet v1
还有，我的是在Ubuntu上使用GPU训练，然后再Windows上使用CPU预测的。

[2018-12-25 08:31] #14999 closed, assigned to shanyi15

[2018-12-25 08:48] dashulu opened #15042 "paddle训练时，使用profile分析性能对训练速度影响大吗？是否有相关数据？"
rt

[2018-12-25 08:56] TheodoreG opened #15043 "What should be done if I need to repeatedly build a newly added op?"
Suppose that I have a new op which is called my_op which contains `my_op.cc` and `my_op.h` file under the operators directory.
The op can be built successfully via command "make -j$(nproc)".
Now I changed something in `my_op.h ` or `my_op.cc` and run "make my_op" again, I found that the `Paddle/build/paddle/fluid/operators/CMakeFiles/my_op.dir/my_op.cc.o` and `Paddle/build/paddle/fluid/operators/l

[2018-12-25 09:08] 333caowei commented on #15036
已解决

[2018-12-25 09:53] guoshengCS commented on #15043
I have tried but can not reproduce，the lib I got is revised indeed
[code]

Yes， `pip uninstall paddlepaddle-gpu` is suggested before install.

[2018-12-25 11:18] Yancey0623 opened #15049 "sync nccl allreduce or async"
## Async NCCL AllReduce may lead to worse performance

For the current implementation of PaddlePaddle multi-devices training, computation and NCCL communication are placed on two separate streams, using [cudaStreamWaitEvent](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__STREAM.html#group__CUDART__STREAM_1gc301fd024e6fd4a17074d229d4504077) to ensure correct execution order, but the A

[2018-12-25 11:34] Yancey0623 commented on #15049
Profile the [ParallelGraph feature](https://github.com/PaddlePaddle/Paddle/pull/14791), computation_op_handle took much more time at async NCCL, and much more time at API `cudaStreamWaitEvent(stream)`.

async nccl
![image](https://user-images.githubusercontent.com/1426912/50421594-19016700-087c-11e9-859b-437be09d342b.png)

sync nccl
![image](https://user-images.githubusercontent.com/1426912/504215

[2018-12-25 13:35] TheodoreG commented on #15043
Ok it seems  my fault, the `libmy_op.a` did update. But when I try to test the new op I got:
[code]

But I am sure `my_op.cc` has folloing 30th line:
`PADDLE_ENFORCE(ctx->HasInput("overlaps"), "Input(overlaps) of MyOp should not be null.");`
Actually I have revised input "X" into "overlaps" but it seems still use the old version. I am not sure what's wrong since `libmy_op.a` and `my_op.cc.o` is bo

[2018-12-25 13:35] ckarying commented on #13011
请问一下，现在capi的paddle_ivector可以指定batchsize么 @luotao1

[2018-12-25 13:49] ckarying opened #15052 "[Paddle Capi] paddle_ivector_create如何设置batch size"
请问一下，现在使用capi预测，输入为离散的category id，如果想做batch预测，paddle_ivector_create应该如何设置？
http://paddlepaddle.org/documentation/docs/zh/0.12.0/howto/capi/organization_of_the_inputs_cn.html
文档中并没有找到。
这是单ins做inference的时候，我按照文档写的代码，如果想batch inference，应该怎么设置呢？

    int age[] = {0};
    paddle_ivector age_array =
        paddle_ivector_create(age, sizeof(age) / sizeof(int), false, false);
    CHECK(paddle_arguments_s

[2018-12-26 00:18] hshen14 opened #15054 "Multi-node training with All-Reduce for CPU"
Hello,

I found current multi-node training provides the support for PS and NCCL. Especially, NCCL supports all-reduce in GPU. May I know whether there is a plan to support all-reduce for CPU? As we know, MPI-based or MLSL-based solution are alternative ways. Intel provides the mature solution based on MLSL and we can have a discussion and provide the necessary support in that direction. Thanks.

[2018-12-26 00:47] hshen14 opened #15055 "Potential issue after loading model twice"
Here is the usage scenario in our case:
* A single python unit test
* Load INT8 model, do the inference
* Load FP32 model, do the inference (will crash due to current key reuse mechanism)
* INT8 model is transformed from FP32 model, so all the shape and variable name are same

Here is the sample code for reference:

[int8_infer_program, feed_dict, fetch_targets] = fluid.io.load_inference_model(int

[2018-12-26 02:04] gongweibao opened #15057 "Startprogram能否用parallelexecutor执行？"

[2018-12-26 02:04] gongweibao commented on #15057
现在不行。执行会挂掉。

[2018-12-26 02:05] #15057 closed, assigned to gongweibao

[2018-12-26 02:05] gongweibao opened #15058 "程序启动出现cuda driver version is not effient with cuda runtime version."

[2018-12-26 02:06] gongweibao commented on #15058
大概率是环境问题。
请检查：
1. 厂内需要检查环境是否3系内核？
2. LD_LIBRARY_PATH是否指向了正确的cuda runtime路径？

[2018-12-26 02:06] #15058 closed, assigned to gongweibao

[2018-12-26 02:07] gongweibao opened #15059 "厂内有可以用于正式生产的GPU集群么"

[2018-12-26 02:08] gongweibao commented on #15059
目前需要自己搭建。

[2018-12-26 02:08] #15059 closed, assigned to gongweibao

[2018-12-26 02:09] gongweibao opened #15061 "请问以下这个划线的是什么意思"
![image](https://user-images.githubusercontent.com/10721757/50428964-64585b80-08f6-11e9-905a-ff1502d442a8.png)

[2018-12-26 02:10] gongweibao commented on #15061
GPU上就是卡的数目。这个文档写的不好，我们会及时改正。

[2018-12-26 02:10] #15061 closed, assigned to gongweibao

[2018-12-26 02:29] gavin1332 commented on #14881
参见 https://github.com/PaddlePaddle/models/issues/1534

[2018-12-26 02:29] #14881 closed, assigned to nobody

[2018-12-26 02:32] Yancey0623 commented on #14876
是的，CPU到GPU到数据拷贝是一定会存在的，Paddle中`pyreader`使用的是双buffer的策略是通过尽量减少python预处理所占用的时间，但还无法做到数据拷贝和GPU计算overlap。

GPU利用率很高说明数据拷贝但占比已经很低了（数据拷贝时GPU利用率为0）。

[2018-12-26 03:08] chengduoZH commented on #14253
@333caowei 目前分布式用ParallelExecutor执行时，通过MPI进行通信的情况还没有正式测试，后续会有相关测试和发布。

[2018-12-26 03:17] wanghaoshuang commented on #14214
你要保证每个WeightNormParamAttr实例的命名不同，error log里应该提示了哪个命名产生了冲突。

这个问题的error log可以贴一下么？

[2018-12-26 03:25] Yancey0623 commented on #15054
Thanks, I think the collective mode on CPU is a necessary feature for the distributed training,
We have a WIP PR in the earlier to supoprt MPI interface : https://github.com/PaddlePaddle/Paddle/pull/11992 , this feture has lower-priority because of the most of the CPU distributed training user-case is async-update, it can get better performance.

And do you want to contribute the MLSL-based featur

[2018-12-26 04:55] dzhwinter commented on #14105
It has been fixed in #14104

[2018-12-26 04:55] #14105 closed, assigned to nobody

[2018-12-26 04:59] dzhwinter commented on #14132
这个是跑完了初始化就挂掉了，位置是NcclInitCommon，这个是去初始化各个gpu卡，并创建一个context的。所以是nccl包的问题。

[2018-12-26 05:01] dzhwinter commented on #14132
如果能正常load进相同版本的nccl后，仍然会出这个问题。那看下单测是否能跑起来？ https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_parallel_executor_mnist.py

[2018-12-26 05:05] dzhwinter commented on #14644
py_reader是一个预读取队列。use_double_buffer打开后是提前给gpu喂数据的，在cpu上基本没区别。因为cpu运算速度一个队列就能满足了。

[2018-12-26 05:05] dzhwinter commented on #14644
我没理解切换buf的耗时为啥会出现在你的统计里？ 这个应该是掩盖掉的

[2018-12-26 05:14] guomingz opened #15063 "How/Where could i upload the calibration tool doc for integrating"
We've implemented the calibration tool for int8 inference.
i have some questions on the location of this tool document, what's the suitable way to upload it?
relate #15062

[2018-12-26 05:25] haowang101779990 opened #15064 "基于fluid 1.2的英文文档问题"
## 基于fluid 1.2 版本的英文文档问题

经过对fluid 1.2版本英文文档的走查以及用户反馈，有如下需要优化的内容问题：

注：由于中文文档采用直译方式，所以英文文档与中文文档之间的内容问题是一致的。

1.  经反馈，layers.fc 描述待优化， 具体参考 https://github.com/PaddlePaddle/FluidDoc/pull/509#discussion_r243184458
2.  layers.reshape的inplace参数说明存在疑惑，具体参考 https://github.com/PaddlePaddle/FluidDoc/pull/509#discussion_r243189222
3.  layers.shape 经用户反馈，GPU上的Tensor也可以使用该api，请确认这一点
4.  layers.row_conv 公式里出现的

[2018-12-26 05:36] luotao1 commented on #15063
I think the tool usage document https://github.com/PaddlePaddle/Paddle/pull/15062#issue-240915833 can be put in `python/paddle/fluid/contrib/int8_inference/` at first.

[2018-12-26 07:17] dashulu opened #15067 "paddle现在支持bert模型吗？有官方提供的model不？"
paddle支持bert吗？如果支持需要什么版本能跑起来？paddle提供官方的model吗？

[2018-12-26 07:42] panyx0718 commented on #15055
Can you search "program_scope_guard" and do something similar? Let me know the result.

[2018-12-26 08:26] cheradam commented on #15036
@333caowei 求解决办法

[2018-12-26 08:45] hshen14 commented on #15054
Thanks @Yancey1989 for sharing. + multi-node training expert @delock

Probably, we may discuss and propose a high-level design regarding collective/all-reduce mode, since NCCL is there. We may need to make mode higher level instead of device specific. The better one in my mind:
* level 1: PS and All-reduce
* level 2: All-reduce: CPU (MLSL) / GPU (NCCL)

Welcome any comments.

[2018-12-26 09:08] delock commented on #15054
PS is generally good for high variance environment and is useful for fault tolerance.   For communication efficiency, allreduce is usually better than PS.   Allreduce does not support Async SGD.  Can I know why Async update give better performance? @Yancey1989

[2018-12-26 09:19] flyhighzy commented on #15038
请问有看出问题吗~

[2018-12-26 09:21] hshen14 commented on #15055
Thanks. I found some sample code:

    @contextlib.contextmanager
    def program_scope_guard(self):
        prog = fluid.Program()
        startup_prog = fluid.Program()
        scope = fluid.core.Scope()
        with fluid.scope_guard(scope):
            with fluid.program_guard(prog, startup_prog):
                yield

A basic question: shall we follow the similar @contextlib.contextmanager h

[2018-12-26 09:28] upwindflys opened #15072 "怎么获取PaddlePaddle3.0版本，试用autodl功能"
看到发布的paddlepaddle3.0支持automl,请问对应版本是哪个呢？

[2018-12-26 11:51] 333caowei commented on #15036
数据shuffle问题，input数据是hadoop产出的都是按照key进行排序，导致paddle每次读入的数据有偏

[2018-12-26 12:05] gongweibao opened #15076 "Change elementwise add, mul, scale on gpu from eigen to cublas."

[2018-12-26 13:35] GuangyanZhang opened #15078 "paddlepaddle是否有参数绑定机制"
我想多层卷积使用同一个卷积核？了解到要param_name命名为一样的，但是没有找到这个机制。。。

[2018-12-26 14:52] wanghaoshuang commented on #15067
已经有同事在做了，但是还没有正式发布bert。

[2018-12-26 14:52] wanghaoshuang commented on #15067
更多进展与详情，可以和 @kuke 沟通下。

[2018-12-26 14:58] wanghaoshuang commented on #15072
您好，请问您是从什么渠道获知paddlepaddle3.0版本相关消息的呢？

[2018-12-26 15:02] wanghaoshuang commented on #15078
您好，将conv2d的name设置为一样即可。https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L1750

[2018-12-27 02:20] #14675 closed, assigned to JiabinYang

[2018-12-27 02:54] Datian1993 opened #15082 "version `GLIBCXX_3.4.20' not found"
在开发机环境下(centos6.3，python2.7.12)，使用pip install paddlepaddle==0.10.0后，在python下运行paddle.init(use_gpu=False, trainer_count=1)出现：

`>>> import paddle.v2 as paddle`
`>>> paddle.init(use_gpu=False, trainer_count=1)`

[code]

[2018-12-27 02:59] upwindflys commented on #15072
https://www.infoq.cn/article/2018%2F07%2Fbaidu-ai-con 提到了PaddlePaddle3.0 包括完整的核心框架，以及 AI Studio、AutoDL、EasyDL 等可以让开发者平等便捷获取顶尖 AI 能力的平台。

[2018-12-27 02:59] reyoung commented on #15082
看起来是Python，Paddle和GCC三者编译的版本不同。。有几种解决办法

1. 用docker image
2. 如果是阡陌环境的话，阡陌有Paddle的镜像
3. 如果一定要用0.10.0版本的话，您可以下载Paddle代码自行编译。
4. 如果可以升级的话，升级一下Paddle的版本

[2018-12-27 03:06] kuke commented on #15067
@dashulu BERT将会在近期开源，敬请关注

[2018-12-27 04:04] dashulu commented on #15049
Do you know why computation_op_handle take much more time at async NCCL and what's the reason of conclusion2? @Yancey1989

[2018-12-27 04:31] Yancey0623 commented on #15049
There is only a benchmark code to verify the conclusion1 && conclusion2: https://gist.github.com/Yancey1989/4fa7b6bee1b9697ee651e25fc2fc5ab0 , but I haven't found the reason yet, maybe it's related to the implementation of NCCL library.

[2018-12-27 05:53] upwindflys commented on #12155
你好，安装paddlepaddle-gpu 1.2.0且使用 `import paddle.fluid as fluid` ，运行models/fluid/PaddleCV/HiNAS_models时仍然报此错误

[2018-12-27 06:25] panyx0718 commented on #15055
you need to put the guard before load

[2018-12-27 06:38] #15082 closed, assigned to reyoung

[2018-12-27 07:40] gongweibao commented on #15038
pserver应该用parallelexecutor 启动。
给你一个例子，你可以看一下：
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/dist_train/dist_train.py#L326

[2018-12-27 09:43] hshen14 commented on #15055
with fluid.scope_guard(fluid.core.Scope()):
    with fluid.program_guard(fluid.Program(), fluid.Program()):
        [int8_infer_program, feed_dict, fetch_targets] = fluid.io.load_inference_model(int8_model, exe)
        t = fluid.transpiler.InferenceTranspiler()
        t.transpile(int8_infer_program, place)
        # do int8 inference # OK

with fluid.scope_guard(fluid.core.Scope()):
    with flu

[2018-12-27 11:50] panyx0718 commented on #15055
Does it work with fp32 alone?

What `exe` are you using? Can you create new Executor for each case?

[2018-12-27 14:51] procr opened #15091 "concat代码报错。"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/strided_memcpy.h#L68

此行代码是否应该改为
`for (int64_t i = 0; i < dst_stride_numel.size(); ++i) {`

[2018-12-27 15:43] guoshengCS commented on #15042
这个目前暂无相关数据，不建议训练的同时使用profile性能分析，如需profile可以使用少量数据单独进行测试

[2018-12-27 15:53] guoshengCS commented on #15043
Please check to make sure that the python code uses `X` rather than `overlaps`. If it indeed uses `X`, maybe `make clean` can help.

[2018-12-27 17:28] guoshengCS commented on #15036
已解决，这里先行close，如有需要可以reopen

[2018-12-27 17:28] #15036 closed, assigned to guoshengCS

[2018-12-28 02:38] wanghaoshuang commented on #15067
关于BERT可以关注https://github.com/PaddlePaddle/models, 后续不在该issue中讨论。

[2018-12-28 02:38] #15067 closed, assigned to wanghaoshuang

[2018-12-28 02:41] wanghaoshuang commented on #15072
您说的内容不仅是Paddle基础框架的内容，关于AI Studio、AutoDL、EasyDL 可以参考：ai.baidu.com

[2018-12-28 02:48] qingqing01 opened #15095 "Add doc for fusion_transpose_flatten_concat_op and conv_fusion_op"
1. add doc for these op
2. add unit testing for conv_fusion_op

[2018-12-28 03:55] wanghaoshuang opened #15098 "ParallelExecutor训练时多卡间参数不一致"
在多卡训练的时候，用fluid.io.load_vars进行finetune有问题，参数只读到一个卡上了，只有0号卡读入了参数，1，2，3号卡没有。

[2018-12-28 03:55] wanghaoshuang commented on #15098
fluid.io.load_vars要在ParallelExecutor()之前调用。
调用ParallelExecutor()时，会将参数广播到各个卡上。

[2018-12-28 03:57] wanghaoshuang opened #15099 "Paddle中卷积计算的源码位置在哪儿"
Paddle中卷积计算的源码位置在哪儿

[2018-12-28 03:57] wanghaoshuang commented on #15099
python api:
 https://github.com/PaddlePaddle/Paddle/blob/6e67d0fb78b9dd23ced460d6b2bc54fcc5bde438/python/paddle/fluid/layers/nn.py#L1690

CPU实现：https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/conv_op.h
CUDNN实现：https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/conv_cudnn_op.cu.cc

[2018-12-28 03:59] #15098 closed, assigned to wanghaoshuang

[2018-12-28 03:59] #15099 closed, assigned to wanghaoshuang

[2018-12-28 05:18] #15005 closed, assigned to shippingwang

[2018-12-28 05:24] Superjomn commented on #15052
batch + vector -> 矩阵

所以看下稀疏矩阵那块。

另外，v2已经停止开发一年多了，熟悉的同学不多，建议切换到目前主推的 fluid版本。

[2018-12-28 05:32] gongweibao opened #15102 "Speed is little slower than older when allreduce dependency is added."

[2018-12-28 05:46] kuke commented on #14164
https://github.com/PaddlePaddle/Paddle/pull/15103

增加了一个单测case，从单测来看，这个issue应该没问题

[2018-12-28 06:07] dzhwinter commented on #13357
it can be included in paddle/fluid/layers/nn.py. Which is automatically generated in python implicitly.

[2018-12-28 06:07] #13357 closed, assigned to dzhwinter

[2018-12-28 06:09] dzhwinter commented on #14911
@dashulu Is there any activation?

[2018-12-28 06:56] jacquesqiao opened #15106 "some improve for v"
- [x] 支持 l2 decay https://github.com/PaddlePaddle/Paddle/pull/15100
- [x] 优化 assign https://github.com/PaddlePaddle/Paddle/pull/15080
- [x] 多线程adam加速 https://github.com/PaddlePaddle/Paddle/pull/14890
- [x] nce and hs support prefetch https://github.com/PaddlePaddle/Paddle/pull/14893
- [x] 修复adam胡乱新建临时变量的问题(cpu下)  https://github.com/PaddlePaddle/Paddle/pull/15111
- [x] 修复分布式模型save/load/checkpoint问题

[2018-12-28 07:17] dashulu commented on #14911
@dzhwinter  vgg uses relu

[2018-12-28 10:58] pmajchrzak opened #15110 "Paddle doesn't built in the configuration for the GPU (CUDA)"
Build sequence under ubuntu-16.04:
[code]
(…)
[code]
not finished.
Error occurs:
[code]

[2018-12-28 12:56] luotao1 commented on #15110
How about build in Release Mode? `-DCMAKE_BUILD_TYPE=Release`

[2018-12-28 15:03] nqluowei opened #15113 "paddle是否支持upsampling或者unpooling，如果支持如何实现？"

[2018-12-29 03:09] zhouksh opened #15115 "DataType of Paddle Op reduce_sum_grad must be the same."
inference 过程正常，可以打印loss，但是假如optimizer 进行训练时报错：

Traceback (most recent call last):
  File "ref/train.py", line 111, in <module>
    train(args)
  File "ref/train.py", line 79, in train
    result = exe.run(fluid.default_main_program(), feed=feed, fetch_list=fetch_list, return_numpy=True)
  File "/home/work/software/paddle_release_home/python/lib/python2.7/site-packages/paddle/fluid/executor.py", l

[2018-12-29 03:41] dzhwinter commented on #15115
报错为
reduce_sum_1.tmp_0(5) != reduce_sum_1.tmp_0@GRAD(3)，
是说输出的loss是int，而需要的grad是float，类型匹配错误，你的输出是做过转换吗？

[2018-12-29 04:51] zhouksh commented on #15115
使用的loss 是layers.softmax_with_cross_entropy，打印出来的loss 结果是float 类型的

[2018-12-29 05:22] nqluowei opened #15117 "paddle是否支持upsampling或者unpooling，如果支持如何实现？"
paddle是否支持upsampling或者unpooling，如果支持如何实现？

[2018-12-29 05:23] nqluowei opened #15118 "paddle模型是否支持上采样或者反池化层，如果支持如何实现？"

[2018-12-29 05:24] #15117 closed, assigned to nobody

[2018-12-29 06:13] yeyupiaoling commented on #15019
@wopeizl 路径是正常的，我故意搞不正确路径，报错是不一样的，如：
[code]

路径正确是报这个错误：
[code]

[2018-12-29 06:34] huashaosmile opened #15119 "paddle fluid 1.2 nce和paddle v2版本的nce计算loss上有什么区别吗，同样的网络结构，loss差别很大"
v2版本的nce使用
self.nce_layer = paddle.layer.nce(
                input=self.norm_fc_2,
                label=self._label_layer,
                num_classes=label_dim,
                param_attr=paddle.attr.Param(name='nce_w', initial_mean=0.0, initial_std=1.0),
                bias_attr=paddle.attr.Param(name='nce_b', initial_mean=0.0, initial_std=1.0),
                num_neg_samples=self._num_neg_s

[2018-12-29 06:35] wopeizl commented on #15019
确认了win下save/load op有问题，谢谢指出，我们会出一个fix

[2018-12-29 06:37] wopeizl commented on #14961
win下的确在加载linux训练模型有bug，谢谢指出问题，我们会出一个fix

[2018-12-29 06:50] dzhwinter commented on #15115
datatype问题，检测一下reduce_sum op之后一层的类型

[2018-12-29 06:53] dzhwinter commented on #15119
感谢反馈。我们看一下这个问题。

[2018-12-29 06:54] dzhwinter commented on #15113
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/unpool_op.cc
有unpooling的实现，upsampling不知道你指什么操作？
这些op在官网文档和源代码里都包含了，可以查一下

[2018-12-29 06:54] #15113 closed, assigned to nobody

[2018-12-29 07:31] dzhwinter commented on #15119
@seiriosPlus 请看一下这个实现是否和v2有差异

[2018-12-29 09:28] ylxsyf opened #15123 "sequence_tagging_for_ner 模型替换训练数据后效果不收敛"
https://github.com/PaddlePaddle/models/tree/develop/legacy/sequence_tagging_for_ner
将模型中的特征进行替换label进行替换后，训练1000轮以上，效果不收敛。
precsion和recall都不足10%
不论怎么替换特征，都无法收敛
想确认下怎么看下模型是不是生效了。

备注：原始数据能够收敛，1000轮以上，训练集可以达到100%准确率

[2018-12-29 10:25] hellohuxg opened #15125 "Windows下pip安装失败"
系统环境
1) PaddlePaddle版本1.2
2) CPU型号Intel(R) Core(TM) i5-5257U
3) 操作系统 Windows10 专业版

安装方式
1. 下载安装python
https://www.python.org/ftp/python/3.7.2/python-3.7.2-amd64.exe
2. 安装PaddlePaddle
pip3 install paddlepaddle
3. 执行python

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\Python-3.7.2\lib\site-packages\paddle\__init__.py", line 25, in <module>
    import paddle.da

[2018-12-29 14:55] cuicheng01 opened #15126 "希望paddle尽快支持mixup操作，毕竟这个操作对分类，检测，分割都会有显著的提高！"

[2018-12-29 14:58] cuicheng01 commented on #15091
你用的concat是报错还是精度对不上？另外是paddle的哪个版本呢？

[2018-12-29 16:43] #14926 closed, assigned to nobody

[2018-12-30 08:41] sguuaa opened #15127 "测试一个函数出错"
写了一个函数，想测试一下这个函数，程序如下。
[code]

[2018-12-30 09:08] xuezhong commented on #15127
看了下你的程序，1 目前paddle op的运算是通过计算图实现，和一般python函数不在一个堆栈层面上的，计算图的栈是在是在exe.run
以后建立的，在之前还没有数据。2 array数据不能直接给op用，tensor是op的基础数据 3 如果要看tensor的值，fetch_list是一个通道，会转成array

[2018-12-30 10:08] taojiucheng opened #15128 "对自己传入数据的lodtensor调用op操作时报错说输入不是一个variable"
[code]
函数的输入是两个字典，需要对不同的key对应的value(是一个lodtensor)进行拼接，concat的输入打印出来是这样的
[code]
输入转成numpy array后是[[1]]、[[1]]
调用op后报错如下：
[code]
函数的输出组织成字典的形式直接通过feed传给exe，想请问下是我使用的方法不对还是什么问题呢？

[2018-12-30 10:37] xuezhong commented on #15128
如果我是手动创建的传入了值的lodtensor是不是不能通过op运算
op不是一个函数，可以理解为是一个网络的配置接口

如果我需要对有值得lodtensor进行操作有什么办法吗，是必须要通过python端去传新的numpy array进去吗
目前看来代价最小的就是通过 feed 传入

报错说传入的不是variable是什么情况呢
variable是tensor或者其他的封装。用op的时候都是在配置网络，直接传值的都是没有用的。将来支持动态图，将会减小这个理解上的gap

[2018-12-31 11:31] pmajchrzak commented on #15110
The release doesn't build too:
[code]
Error:
[code]

[2018-12-31 13:14] wopeizl commented on #15110
是个bug 我有一个pr 15122 可以参考
This is a bug, please refer to #15122

发自我的 iPhone

在 2018年12月31日，下午7:31，pmajchrzak <notifications@github.com<mailto:notifications@github.com>> 写道：

The release doesn't build too:

cmake .. -DWITH_GPU=ON -DWITH_MKLDNN=OFF -DWITH_TESTING=OFF -DWITH_PROFILER=ON -DWITH_STYLE_CHECK=ON -DWITH_FLUID_ONLY=ON -DCMAKE_BUILD_TYPE=Release

Error:

Linking CXX static library libpaddle_

[2019-01-01 06:44] procr commented on #15091
上面的代码链接也是直接到你们最新的版本。
这里只是代码写的不对，不过在实际运行的过程应该并不会报错。“src and dst should have the same elements，except the specified axis.”  那么遍历的长度就应该是concat的tensort维度[0, dim.size())，而不是[0, axis)

[2019-01-01 08:47] cjld commented on #15049
In my case (Deeplabv3+), sync nccl is slightly slower than async, In theory, asynchronous should be slightly faster than synchronization. currently, I am working on the all reduce dependency order to accelerate the performance. So I recommend we keep nccl function async.

[2019-01-01 08:50] cjld commented on #15049
I think the reason of performance gap between async and sync is the wrong all-reduce order: https://github.com/PaddlePaddle/Paddle/commit/41d8bcdc060af09af68573d183097548a1094c26

[2019-01-01 11:18] dzhwinter commented on #15123
原始数据能收敛，说明模型配置是没有问题的。检查一下label和特征替换是否正确吧？

[2019-01-01 11:19] dzhwinter commented on #15125
@wopeizl 请确认一下windows 3.7已经支持pip安装了吗？

[2019-01-01 11:19] dzhwinter commented on #15126
你好，mixup的操作是指什么呢？ 混合精度的训练？

[2019-01-01 14:29] wopeizl commented on #15125
支持，这个应该跟用户环境有关系，scipy重装一下

发自我的 iPhone

在 2019年1月1日，下午7:19，dzhwinter <notifications@github.com<mailto:notifications@github.com>> 写道：

@wopeizl<https://github.com/wopeizl> 请确认一下windows 3.7已经支持pip安装了吗？

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/PaddlePaddle/Paddle/issues/15125#issuecomment-450723094>, or mute the thread<ht

[2019-01-02 01:14] sguuaa commented on #15127
在main里我有定义fetch_list和exe.run。只是不知道cost = fun(prediction, gt)这句该如何处理

[2019-01-02 02:14] chengduoZH commented on #15049
@cjld Can you explain the reason?

[2019-01-02 03:24] Yancey0623 commented on #15049
I'm confused about the relationship between the allreduce dependency order and performance, can you explain this?

And

Can I reproduce this case?

[2019-01-02 04:08] velconia commented on #15127
这个是动态图的写法，静态图不这么使用的

[code]

在静态图中构建网络是不传输数据的

[2019-01-02 04:11] huashaosmile commented on #15119
有进展了吗？ @seiriosPlus @dzhwinter

[2019-01-02 04:47] sguuaa commented on #15127
那么如果想实现这样的功能，该如何写呢？

[2019-01-02 05:12] CruiseSun opened #15133 "fluid 集群训练 pserver报错RuntimeError: all distributed lookup_table_ops should have only one table"
Traceback (most recent call last):
  File "train.py", line 182, in <module>
    main(use_cuda, is_local)
  File "train.py", line 174, in main
    train(use_cuda=use_cuda, save_dirname=save_dirname, is_local=is_local)
  File "train.py", line 93, in train
    optimizer.minimize(avg_cost)
  File "/home/disk1/normandy/maybach/app-user-20181228115951-2365/workspace/python27-gcc482/lib/python2.7/site-pa

[2019-01-02 05:12] CruiseSun commented on #15133
任务地址：http://10.74.179.26:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20181228115951-2365/

[2019-01-02 05:47] velconia commented on #15133
@CruiseSun 这里是说一个 program 不支持多个 embedding 表设置为 is_distributed=True

@jacquesqiao @seiriosPlus 辛苦看下有没有绕过的方法吗？

[2019-01-02 06:02] shashlik007 opened #15136 "transformer paddle.fluid.core.EnforceNotMet: holder_ should not be null"
W0102 12:50:41.764370 28848 grpc_server.cc:416] completion queue:RequestSend recv no regular event context:RequestSend name:[], ep:[] Process using req_id:0
W0102 12:50:41.764364 28847 grpc_server.cc:416] completion queue:RequestSend recv no regular event context:RequestSend name:[], ep:[] Process using req_id:99
W0102 12:50:41.764354 28845 grpc_server.cc:416] completion queue:RequestSend recv no

[2019-01-02 06:11] velconia commented on #15136
请提供一下 paddle 的版本，代码，以及环境信息

[2019-01-02 06:14] lighthearts commented on #13824
有同样的疑问，关注

[2019-01-02 06:16] shashlik007 commented on #15136
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/neural_machine_translation/transformer/train.py

版本：fluid 1.2, paddlepaddle_gpu-1.2.0-cp27-cp27mu-linux_x86_64.whl
环境：内网p40集群

[2019-01-02 06:50] sguuaa commented on #15127
如下，换上了静态图的op，解决了该问题。
[code]

[2019-01-02 06:51] #15127 closed, assigned to velconia

[2019-01-02 07:01] luotao1 opened #15137 "there is a cycle in the constraint graph for mkldnn&ngraph cmake"
http://ci.paddlepaddle.org/viewLog.html?buildId=44158&buildTypeId=Paddle_PrCi&tab=buildLog&_focus=14150#_state=85
[code]

[2019-01-02 07:17] cuicheng01 commented on #15126
是的，可以看一下那篇论文https://arxiv.org/abs/1710.09412

[2019-01-02 07:26] panyx0718 commented on #15049
how much slower in your case.

[2019-01-02 08:12] yeyupiaoling opened #15140 "在训练的时候报CUDNN_STATUS_EXECUTION_FAILED错误"
# 环境
 - PaddlePaddle 1.2.0 GPU版本
 - Ubuntu 16.04
 - CUDA 9.0     CUDNN 7.4
 - 模型MobileNet V1

# 问题
在使用MobileNet V1训练图像分类的是报错，错误如下：
[code]

在跑官方的房价预测例子种正常运行。

[2019-01-02 08:40] cjld commented on #15049
Consider a nn: op1 -> op2 -> op3 -> loss -> op3_grad -> op2_grad -> op1_grad.
The right order to reduce grads should be: op3_grad, op2_grad, op1_grad, so the nccl function could overlap with grad computation. But this order is not like this currently, so 'sync' nccl would higher the priority of all-reduce function, and faster.

I start this PR to fix this issue: https://github.com/PaddlePaddle/Pad

[2019-01-02 09:03] velconia commented on #15140
请问Call Stacks能截取全部吗？这个问题的原因可能比较多，你的batch_size是多少？是几卡训练呢？

[2019-01-02 09:16] luotao1 commented on #15137
@baojun-nervana @mozga-intel Could you help fix it?

[2019-01-02 09:19] shateng opened #15141 "c++里怎样解析beam_search layer的结果"
从paddle_arguments_get_value(_out_args, 0, prob));里得到的beam_search layer的输出是一个一维浮点数组，那么怎么解析出来beam_search对应的prob和ids列表呢？

[2019-01-02 09:25] luotao1 commented on #15110
http://ci.paddlepaddle.org/viewLog.html?buildId=43816&buildTypeId=Manylinux1_Cuda80cudnn5cp27cp27mu&tab=buildLog&_focus=9173

[2019-01-02 09:26] #15110 closed, assigned to luotao1

[2019-01-02 09:27] velconia commented on #15140
我看到你的CUDA Driver Version是cuda 10, 请问具体的卡是什么呢？可以考虑使用cuda 9.0 + cudnn 7.3试试

[2019-01-02 09:38] yeyupiaoling commented on #15140
@velconia
**All logs:**
[code]

**cuda version:**
[code]

[2019-01-02 09:49] yeyupiaoling commented on #15140
![image](https://user-images.githubusercontent.com/26297768/50586959-c268de00-0eb6-11e9-9235-4244aadaf808.png)

[2019-01-02 10:03] velconia commented on #15140
可以用```nvidia-smi```看下```Driver Version```嘛？有可能是cudnn版本的问题，辛苦尝试一下cudnn 7.3, 也有可能是batch_size过大的原因，调小batch_size也有可能绕过这个问题

[2019-01-02 10:09] velconia commented on #15141
@shateng 请问方便切换到 Fluid 版本吗？

[2019-01-02 10:14] velconia commented on #15141
https://github.com/PaddlePaddle/models/blob/c3ae83966538c58f06ba71087503558121f6e327/legacy/nmt_without_attention/generate.py#L11

这个是v2 beam_search的infer方法，里面应该能满足你的需求

[2019-01-02 10:40] shateng commented on #15141
这是python的infer，c++里怎么得到beam search的搜索结果呢？

[2019-01-02 11:25] luotao1 commented on #15141
试试`paddle_arguments_get_ids(_out_args, 0, id))`?
请参考#8293

[2019-01-02 11:36] shateng commented on #15141
这和现在用的 paddle_arguments_get_value(_out_args, 0, prob)) 有啥区别吗？把prob的浮点数组改成id的int数组？

[2019-01-02 12:39] ylxsyf commented on #15123
是正确的，看了。

[2019-01-02 12:57] velconia commented on #15133
绕过方法已通过配置提供，close this issue

[2019-01-02 12:57] #15133 closed, assigned to velconia, jacquesqiao, seiriosPlus

[2019-01-02 15:13] 333caowei opened #15143 "网络的共享参数除了param_attr设置同名以外，bias_attr是否也要同名呢"
查阅文档显示paddle的网络参数共享只需要设置param_attr同名即可，但是bias_attr不需要设置同名吗？例如在pairwise网络中，需要保持左右两个网络的参数共享，但是在paddle官方demo中我看只设置了param_attr同名，并没有设置bias_attr，这是为什么呢？

官方demo fluid paipairwise全连接网络：
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleRec/multiview_simnet/nets.py
<img width="523" alt="image" src="https://user-images.githubusercontent.com/4569055/50597792-8ef07880-0ee3-11e9-86fe-fdb19993de

[2019-01-02 15:14] freekoy opened #15144 "paddlepaddle支持混合精度训练吗"
如题 想知道paddlepaddle是否能支持混合精度训练或半精度训练？
- 版本、环境信息：
    1）PaddlePaddle版本：fluid
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：cuda9 cudnn7
    4）系统环境：ubuntu python3
- 训练信息
    1）单机/多机，单卡
    2）显存信息  6g
    3）Operator信息

[2019-01-03 00:44] yeyupiaoling commented on #15140
@velconia
[code]

[2019-01-03 00:50] yeyupiaoling commented on #15140
@velconia
I tried CUDNN_7.3.1 and  CUDNN_7.0.5. Fail.
As same time, I set batch_size to 2. Fail.

ps: My computer can't input Chinses. I fixing it.

[2019-01-03 00:52] velconia commented on #15141
Thanks for @luotao1 providing this issue https://github.com/PaddlePaddle/Paddle/issues/8293 and the code https://github.com/PaddlePaddle/Paddle/blob/da158c2279008010996687d32b88c76e4e8ec1b7/paddle/legacy/capi/examples/model_inference/sequence/main.c

[2019-01-03 01:53] zhoukunsheng opened #15147 "动态索引tensor中的一部分"
构建网络时生成了序列的表示，其shape为(batch, seq_len, dim)，同时生成了一个shape为(batch, seq_len) 的一个binary index，想要依据该binary index 从序列表示中gather 一部分tensor。请问是否可以实现呢？

[2019-01-03 02:33] ghost commented on #15032
@jczaja Could you help to have a check at this? Thanks!

[2019-01-03 02:35] luotao1 commented on #15032
It seems that mkldnn hangs from the log, is a openmp problem?

[2019-01-03 03:12] xuezhong commented on #15147
http://paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#gather  这是比较接近的一个op 你看能构造这样的输入吗

[2019-01-03 03:14] velconia commented on #15141
Close this issue

[2019-01-03 03:14] #15141 closed, assigned to velconia

[2019-01-03 03:16] velconia commented on #15143
Good advice, 不过建议提到models repo中，这应该是models的编写者没有注意，已经反馈给模型同学修改了

[2019-01-03 03:43] kelvict opened #15149 "如何使用Numpy指定与读取fc层的weight和bias的值"
如何使用Numpy指定与读取fc层的weight和bias的值

[2019-01-03 03:55] xuezhong commented on #15144
https://github.com/PaddlePaddle/models/pull/1533/files  你可以参考下这个混合精度更改的例子

[2019-01-03 04:01] xuezhong commented on #15149
参考这个例子，通过name索引参数，让后进行设置。
https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleNLP/machine_reading_comprehension/run.py#L390

[2019-01-03 04:03] velconia commented on #15143
这里simnet的例子中，其实应该设置```bias_attr=False```，去掉FC中的bias参数；

[2019-01-03 04:03] velconia commented on #15143
请问还有别的问题吗？

[2019-01-03 04:16] 333caowei commented on #15143
再请教一下，ltr pairwise模型是否也需要设置bias_attr=False呢？

[2019-01-03 04:22] kelvict commented on #15149
所以是先对fc的param_attr与bias_attr赋个对象指定名字。再根据这个名字用fluid.global_scope()，找出名字，进行变量值读取与赋值是么？

[2019-01-03 04:44] yeyupiaoling opened #15150 "新训练得到得模型会覆盖上一次保存的模型吗？"
# 环境
 - PaddlePaddle 1.2.0
 - Python 3.5
 - Ubuntu 16.04

# 问题
我只想保存一个pass的模型，如果之后的模型准确率要高于之前的，就按照原路径保存。
这里我一个问题，这些是否能直接覆盖之前的模型呢？会不会有什么问题？

[2019-01-03 04:49] yeyupiaoling opened #15151 "batch_norm层可以设置不使用CUDNN吗？"
# 环境
 - PaddlePaddle 1.2.0
 - Python 3.5
 - Ubuntu 16.04

# 问题
我使用MobileNet V1和MobileNet V2 训练一个图像分类的模型，这两个模型都用到`fluid.layers.batch_norm`，但是我电脑用不了cudnn，原因是：#15140

我想都不使用cudnn训练，其中`fluid.layers.conv2d`和`fluid.layers.pool2d`都可以通过参数`use_cudnn=False`设置不使用cudnn。但是`fluid.layers.batch_norm`没有这个参数，但它的确使用了cudnn，这个要怎么处理？

[2019-01-03 04:53] yeyupiaoling opened #15152 "memory_optimize接口的input_program参数值是什么"
# 环境
 - PaddlePaddle 1.2.0
 - Python 3.5
 - Ubuntu 16.04

# 问题
`paddle.fluid.transpiler.memory_optimize`接口中参数input_program类型是str，我传递`fluid.default_main_program()`可以吗？

[2019-01-03 05:26] frankwhzhang commented on #15143
您好，我是multiview_simnet的owner，这是个很好的问题，我会尽快修复这个问题，修复的方式是添加bias_attr=xxx . 另外legacy目录下的代码由于版本问题我们基本都迁移到fluid目录下，不再维护了。

[2019-01-03 05:41] xuezhong commented on #15150
这个判定最好用户程序实现，因为save的操作是用户调用的

[2019-01-03 05:53] velconia commented on #15140
conv层可以不设置cudnn,

在[这里](http://www.paddlepaddle.org/documentation/docs/zh/1.2/api_cn/layers_cn.html#paddle.fluid.layers.conv2d)，设置use_cudnn=False

[2019-01-03 06:09] yeyupiaoling commented on #15150
@xuezhong 你是说，应该要把之前删除再保存吗？

[2019-01-03 06:11] yeyupiaoling commented on #15140
@velconia 我在#15151 问题提到，并不能解决问题。最好是使用cudnn。

[2019-01-03 06:15] yeyupiaoling commented on #15140
@velconia 我真的想不到什么原因了，我安装过程是没有问题的，我检查了好多次了。

[2019-01-03 06:42] frankwhzhang commented on #15143
代码已经修复，除了fc之外，gru/cnn也有类似的bias参数问题。https://github.com/PaddlePaddle/models/pull/1593

[2019-01-03 07:22] xuezhong commented on #15152
fluid.default_main_program()  这个可以的