[2022-04-20 08:05] GT-ZhangAcer commented on #42026
1. 这个卡以它的算力与显存资源的情况，未必有CPU跑得快。
2. MX系列的卡对深度学习支持不好而且有一定年头了，可以换个GTX1050以上的卡去尝试。

[2022-04-20 08:06] Disciple7 opened #42028 "从源码编译Paddle，make -j16，从github clone第三方库失败应该怎么办？"
### 问题描述 Issue Description

我正在从源码编译带TensorRT的Paddle，使用命令如下：
cmake ../Paddle-develop \
-DPYTHON_EXECUTABLE:FILEPATH=/home/ubuntu/miniconda3/envs/paddle_env/bin/python3.7m \
-DPYTHON_INCLUDE_DIR:PATH=/home/ubuntu/miniconda3/envs/paddle_env/include \
-DPYTHON_LIBRARY:FILEPATH=/home/ubuntu/miniconda3/envs/paddle_env/lib/libpython3.7.so \
-DWITH_GPU=ON \
-DWITH_TESTING=OFF \
-DCMAKE_BUILD_TYPE=Release

[2022-04-20 08:07] 123456bfb commented on #42026
我现在环境变量指定的是GPU 1,它就会报错。但指定GPU 0集显时它又可以运行，但感觉集显GPU0也没怎么用上来

[2022-04-20 08:09] GT-ZhangAcer commented on #42026
集显不支持CUDA，故GPU0就是你的独显，index是默认按支持CUDA的设备排序的

[2022-04-20 08:10] 123456bfb commented on #42026
所以指定GPU 0的时候，用的还是CPU对吗

[2022-04-20 08:17] King-Hell commented on #41482
【队名】：你好世界

【序号】：142

【论文】：[Few-Shot Learning with Graph Neural Networks](https://openreview.net/pdf?id=BJj6qGbRW)

【状态】：报名

【repo链接】：https://github.com/King-Hell/FSL-GNN-Paddle

[2022-04-20 08:21] titanwings commented on #41482
【队名】：双子FIRE的团队

【序号】：21

【论文】：[Instances as Queries](https://arxiv.org/abs/2105.01928)

【状态】：报名

【repo链接】：https://github.com/titanwings/Instance_paddle

[2022-04-20 08:27] Disciple7 commented on #40210
我遇到了相同问题，现在需要编译develop版本的Paddle，请问我应该怎么修改？

[2022-04-20 08:28] hengshan123 commented on #40135
我也遇到这个问题了，楼主解决了吗

[2022-04-20 08:29] iclementine commented on #42012
The mthod `final_state_dropout` of module `_C_ops` is bound to a c++ function whose signature is:

[code]

The source of this function and the binding are generated during compilation. The path is of the generated file is `paddle/fluid/pybind/eager_final_state_op_function_impl.h`.

[2022-04-20 08:33] iclementine commented on #42016
我联系 paddle ocr 的同学回复一下。也可以直接在 paddle ocr repo 提问。

[2022-04-20 08:38] OccupyMars2030 commented on #42012
Thank you for the infomation. Now I know where to learn it.

[2022-04-20 08:39] #42012 closed, assigned to iclementine

[2022-04-20 08:40] iclementine commented on #42028
这种情况是网络不通畅，可以试试使用 github.com 的镜像。

paddle 在执行 cmake 生成 build system 的时候可以指定 github 镜像

[code]

如果有找到可用的镜像站。

还有方法就是使用 proxy 了。

[2022-04-20 08:41] tink2123 commented on #42016
在tornado里的paddle版本可能有误，可以验证cpu下能否正确运行，如果cpu能跑通的话可以再check下paddle安装版本。

[2022-04-20 08:45] Wei-JL commented on #41861
[code]

重新上传的完整报错

[2022-04-20 08:46] #41887 closed, assigned to Thunderbrook

[2022-04-20 08:48] iclementine commented on #42026
看起来 cuda 是正常安装了的。paddle 也能正常在 gpu 上运行。

可以先尝试把 log 级别开高。

export GLOG_v=2

然后运行看看输出的 log

你没有设定环境变量 `CUDA_VISIBLE_DEVICES` 之类的吧？

[2022-04-20 09:06] yaoxuefeng6 commented on #41962
看报错是数据输入有问题 建议排查下数据处理问题

[2022-04-20 09:09] chenwhql commented on #41979
1. 复用已有Kernel，include对应的kernel头文件即可，比如复用ScatterKernel，`#include "paddle/phi/kernels/scatter_kernel.h"`，复用时需要加模板，`ScatterKernel<T, Context>`
2. 这个报错是说cummax没注册，那这个实际注册了吗？cummax_kernel.cc等文件是如何实现的呢

[2022-04-20 09:50] sjhsbhqf commented on #29428
我估计是因为我的Cuda版本和当初安装的paddle有冲突。
所以我打算重装Paddle。

-------------------------------------

我已经解决了这个问题。

因为官方说由于我的显卡不支持安倍架构，建议我安装cuda10.2，因为计算更快。

所以我安装了这个版本。

但是，问题在于我之前在英伟达官网安装的cuda是11.1，所以并没办法兼容这个10.2。

最后，我给大家的建议是，要么重装paddle来适配已安装的cuda，要么再装一个cuda10.2来适配paddle。

温馨小提示：在通过pip指令安装paddle2.2的时候，并不会像torch一样，帮你把cudatoolkit安装完了。你需要自己去英伟达官网手动安装。

[2022-04-20 09:52] jiamingkong commented on #41482
【队名】：什么是惊喜的团队

【序号】：112

【论文】：[INFOXLM: An Information-Theoretic Framework for Cross-Lingual Language Model Pre-Training](https://paperswithcode.com/paper/infoxlm-an-information-theoretic-framework)

【状态】：报名

【repo链接】：https://github.com/jiamingkong/infoxlm_paddle

[2022-04-20 10:43] Wei-JL commented on #41861
https://aistudio.baidu.com/studio/project/partial/verify/3801194/3e187b1358cf478eb6eab382d0a932ac
项目fork地址，进去重启全部运行就可以看见我发的错误了~~~~~~~ 谢谢

[2022-04-20 10:52] Wei-JL commented on #41861
您好~这个问题卡太久了  请问有什么方式解决吗  在本地跑确实也是跑起来了 为什么放到bml上就不行了呢？ 报错大部分都是因为出现了某一个tensor第一维度为0  或者 1

[2022-04-20 11:12] Ligoml commented on #41957
同样的issue，请在https://github.com/PaddlePaddle/Paddle/issues/41958 中沟通，本issue关闭

[2022-04-20 11:12] #41957 closed, assigned to yaoxuefeng6

[2022-04-20 11:20] hengshan123 commented on #42016
cpu环境下正确运行，gpu上的paddle版本和cpu一样。又尝试了一下发现tornado单进程模式paddleocr运行正常，多进程报错。

[2022-04-20 11:40] wangzepeng111 opened #42048 "为啥多标签模型训练速度这么慢"
### 请提出你的问题 Please ask your question

keras代码
from keras.optimizers import adam_v2
def deep_model(feature_dim,label_dim):
    from keras.models import Sequential
    from keras.layers import Dense
    model = Sequential()
    print("create model. feature_dim ={}, label_dim ={}".format(feature_dim, label_dim))
    model.add(Dense(4, activation='relu', input_dim=feature_dim))
    model.add(Dense(16,

[2022-04-20 11:42] #42048 closed, assigned to yaoxuefeng6

[2022-04-20 11:48] Francescooper commented on #40234
【队名】：一组

【序号】：76

【状态】：未提交

【链接】：https://github.com/PaddlePaddle/community/pull/114

[2022-04-20 11:59] #41710 closed, assigned to ceci3

[2022-04-20 12:42] Wei-JL opened #42052 "希望官方吧ai studio的cuda版本提升一下，在本地能跑通，复制上传BML就会报各种错误"
### bug描述 Describe the Bug

BML上的报错 日志
[code]

### 其他补充信息 Additional Supplementary Information

在本地跑可以跑通  接近40多轮 没问题，放到BML上就不行了
代码我已经开源，https://aistudio.baidu.com/studio/project/partial/verify/3801194/f77f8745755c41c896c77961a7545637
大神我已经卡了4天多了，求解~  谢谢
![image](https://user-images.githubusercontent.com/71386288/164232374-67d6f8e7-c946-4439-984b-28adb0db6d79.png)

[2022-04-20 12:48] Wei-JL commented on #42052
你好~ 其实这个报错我知道原因是什么，`is_in_boxes.astype("int").gather(idx, axis=1).astype("bool").logical_and(.. `中的idx为0， idx是`idx = is_in_boxes_anchor.nonzero()` 也就是说is_in_boxes_anchor这个里面一个框都没有，所以报错了。就算我加判断idx长度为0不做.gather 后面的concat也会报错，主要如https://github.com/PaddlePaddle/Paddle/issues/41855 这个所说
[code]

[2022-04-20 12:50] CuberrChen commented on #39701
使用argsort遇到相同问题。

[2022-04-20 12:51] Wei-JL commented on #42052
大佬我已经开源了，全部运行到train的时候就看见报错。 我不太明白为什么本地跑没问题，一样的数据，程序。版本paddle2.2.2  除了CUDA与cudnn版本不同
 我的win11本地是CUDA ：11.3--cudnn ：8.2.1 paddle2.2.2
BML是CUDA ：10.1--cudnn ：7.6  paddle2.2.2

https://aistudio.baidu.com/studio/project/partial/verify/3801194/f77f8745755c41c896c77961a7545637

![image](https://user-images.githubusercontent.com/71386288/164234006-7ccd9352-f6b2-4776-b16d-1cdd3a7f870b.png)

[2022-04-20 13:06] Mario-pan commented on #41482
【队名】：m2M

【序号】：10

【论文】：Pelee: A Real-Time Object Detection System on Mobile Devices

【状态】：报名

【repo链接】：https://github.com/Mario-pan/m2M

[2022-04-20 13:59] SmashHcg commented on #41482
【队名】：SCNU_CV

【序号】：94

【论文】：SwinIR: Image Restoration Using Swin Transformer

【状态】：报名

【repo链接】：https://github.com/SmashHcg/SwinIR_paddle

[2022-04-20 16:51] 18XiWenjuan commented on #41482
【队名】：咕咕咕

【序号】：106

【论文】：[Efficient Low-rank Multimodal Fusion with Modality-Specific Factors](https://arxiv.org/abs/1806.00064)

【状态】：提交

【repo链接】：https://github.com/18XiWenjuan/LMF_Paddle

[2022-04-21 01:10] #33605 closed, assigned to weixing02

[2022-04-21 01:16] JiaoPaner commented on #40210
@Disciple7 将cmake/external下的文件替换成 ```https://gitee.com/jiaopan/Paddle.git```下的build_cn分支下的

[2022-04-21 01:53] JacobYeah commented on #41482
【队名】：对对对对对对

【序号】：68

【论文】：[PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds](https://paperswithcode.com/paper/paconv-position-adaptive-convolution-with)

【状态】：报名

【repo链接】：https://github.com/JacobYeah/PAConv_paddle.git

[2022-04-21 02:26] JiaoPaner commented on #42028
#40210 可以参考 三方镜像已换成国内源

[2022-04-21 02:27] simuler opened #42059 "【论文复现赛】"
### bug描述 Describe the Bug

2022-04-21 10:23:52,958 - INFO - **************common.configs**********
2022-04-21 10:23:52,958 - INFO - use_gpu: True, use_xpu: False, use_npu: False, use_visual: False, train_batch_size: 1, train_data_dir: data/train, epochs: 3, print_interval: 2, model_save_path: output_model_esmm
2022-04-21 10:23:52,958 - INFO - **************common.configs**********
W0421 10:23:52.

[2022-04-21 03:09] FlyBirdF opened #42066 "windows10 x86_64 编译错误"
### 问题描述 Issue Description

使用如下命令编译paddle
* cmake .. -GNinja -DWITH_GPU=OFF
cmake .. -GNinja -DWITH_GPU=OFF
-- Found Paddle host system: win32, version:
-- Found Paddle host system's CPU: 6 cores
-- The CXX compiler identification is MSVC 19.16.27048.0
-- The C compiler identification is MSVC 19.16.27048.0
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Check for w

[2022-04-21 03:15] wangna11BD commented on #40057
Hello, the problem you reported is currently a bug in paddle.summary, we will arrange to fix it, thank you for your feedback.

[2022-04-21 03:22] #41180 closed, assigned to GuoxiaWang

[2022-04-21 03:24] yupang1122 commented on #41482
【队名】：鱼鱼鱼

【序号】：142

【论文】：Few-Shot Learning with Graph Neural Networks

【状态】：报名

【repo链接】：https://github.com/yupang1122/few_showt_gnn

[2022-04-21 03:37] justld opened #42068 "【飞桨论文复现赛-第六期】自定义外部算子动态图预测正常，导出静态图后推理异常"
### bug描述 Describe the Bug

自定义外部算子静态图推理异常：自定义外部算子动态图预测正常，导出静态图后推理异常

环境：aistudio gpu 至尊  paddlepaddle==2.2.2

自定义算子组网：https://github.com/justld/PSANet_paddle/blob/2f709cc39aa5519b37c4e914708dbf37cea79d8e/paddleseg/models/psanet.py#L189

**测试结果：自定义算子导出静态图后预测异常。**

测试方法：
1、使用nn.Conv2D替代自定义算子，动态图预测结果和静态图推理结果一致；
使用Conv2D替换自定义算子（其他无任何改变，T添加的Conv2D参数默认初始化）,动态图预测结果：
![image](https://user-images.githubus

[2022-04-21 04:42] zhangting2020 commented on #41861
咨询了AI studio的同事，他们认为平台的环境应该没有问题。上面提到重新上传了一次代码，报错又不一样了。我始终觉得可能是上传到BML的数据或者代码与本地不一样，这个你有方法去检查一致性吗？

[2022-04-21 04:45] Wei-JL commented on #41861
您好~  我昨天也有怀疑这一点 ，所以我昨天把本地的数据也上传了，报错依旧一样。如下
[code]
之前的concat的错误是因为我当时觉得concat内部会自动把shape=[1, 4]变成[4] ，这次我又没重写concat了 直接用的paddle.concat

[2022-04-21 05:07] liutheuniverse opened #42072 "如何修改数据来符合paddle_lite_demo"
### 请提出你的问题 Please ask your question

这是我所使用的网络 https://aistudio.baidu.com/aistudio/projectdetail/2310126?channelType=0&channel=0

模型量化以后用paddle_lite_opt结果还是出现了 Unable to convert var desc type(6) to precision type!

怎样修改我使用的才能把输出模型的fill_constant OP值修改以符合paddle_lite_demo的使用条件

[2022-04-21 05:09] iclementine commented on #42048
close 了？是发现了什么原因还是已经解决了吗？

[2022-04-21 05:50] Ligoml commented on #41978
~~欢迎开发者为paddle新增API：paddle.devide_no_nan，实现参考@wawltor ，文档参考官网[贡献指南](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/index_cn.html)~~

更新：经过技术专家讨论，认为divide_no_nan的用法并不符合数学逻辑，属于特殊用法，不建议新增为API，若有需求，请参考@wawltor 的方式自己组合API实现功能

[2022-04-21 05:53] iclementine commented on #42026
你可以试试运行

`paddle.device.cuda.device_count()` 看看输出是多少，这里表明了可用的 GPU 数，
然后可以运行一些简单的 code, 比如说用 `paddle.randn(p2, 3])` 创建一个 Tensor, 看看它的 device 是否在 GPU 上。
如果正常，那么可能是其他的问题。

[2022-04-21 06:01] iclementine commented on #42052
从报错信息看起来是 cast op 里的元素个数是0

[code]

但是从你的描述来看，是因为运行结果导致没有一个框。所以 element 个数是 0。那么一个框也没有是一个可能出现的结果，和模型的训练结果有关？

[2022-04-21 06:04] zhwesky2010 commented on #42002
@SpaceView 请问是根据这个 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/windows-compile.html ，使用Ninja编译的吗

[2022-04-21 06:24] sourcepowerplan commented on #41482
【队名】：当地较为聪明的人类

【序号】：128

【论文】：TorchMD: A deep learning framework for molecular simulations

【状态】：报名

【repo链接】：https://github.com/sourcepowerplan/torchmd_paddle

[2022-04-21 06:41] Wei-JL commented on #42052
对的,可是这个是在我训练的过程中，我也怀疑过本地是不是没出现过0框的存在，所以我试了40多轮，发现真的没有0的出现。而在BML上训练每次第一轮就有了

[2022-04-21 06:43] littletomatodonkey commented on #41982
你好，可以把Net这个类的代码实现如下

[code]

然后导出之前，需要做一下model.eval()，切换到eval模式哈

[2022-04-21 06:47] wangzepeng111 commented on #42048
计算多标签的F1每次都计算耗时太久啦 我让它每个batch都算f1它算不过来 keras设计的应该就是每个epoch才计算f1评估矩阵

[2022-04-21 06:57] Ligoml commented on #42052
这个问题确实很奇怪，飞桨团队已经联系aistudio的研发在核查环境问题，同时分配了算力复现你的问题，需要再等一段时间哈~此外，YOLOX模型在第五期论文复现赛中已经实现，欢迎参考：https://github.com/GuoQuanhao/YOLOX-Paddle

[2022-04-21 07:00] Wei-JL commented on #42052
谢谢， 我卡太久了。 我先参考复现成功的吧  谢谢大佬们了  麻烦了  为飞桨团队点赞

[2022-04-21 07:31] iclementine commented on #42052
我运行的结果是不确定的，会出现问题但是步骤不确定，有时能运行20步，有时能运行 60步以上，有时甚至能跑完一个 epoch 以上，感觉就是随机的，这种情况下，模型就是预测了 0 个框。

如果你希望了解是具体什么原因，可以把模型的随机性固定住（参数初始化，数据迭代，模型内的 dropout 等随机性操作），然后在不同环境下运行，在相同的位置处查看网络的中间变量计算结果是否一致。

[2022-04-21 07:53] lxk767363331 commented on #42052
AI Studio 后续后 cuda 升级计划。但此问题无法判定为 cuda 或 AI Studio导致的，具体问题解决可以继续与下面的同学对接。

[2022-04-21 07:55] lxk767363331 commented on #42052
AI Studio 后续有 cuda 升级计划。但此问题无法判定为 cuda 或 AI Studio导致的，具体问题解决可以继续与下面的同学对接。

[2022-04-21 09:03] CPones opened #42089 "第六期论文复现赛报名"
### 问题描述 Please describe your issue

【队名】：CPones

【序号】：3

【论文】：Going deeper with Image Transformers

【状态】：提交

【repo链接】：https://github.com/CPones/CaiT

[2022-04-21 09:09] jczaja commented on #40540
@baoachun any progress on this one?

[2022-04-21 10:07] #42089 closed, assigned to iclementine

[2022-04-21 10:08] CPones commented on #41482
【队名】：CPones

【序号】：3

【论文】：你队伍想要复现的论文名称

【状态】：Going deeper with Image Transformers

【repo链接】：https://github.com/CPones/CaiT

[2022-04-21 10:16] CPones commented on #41482
【队名】：CPones

【序号】：3

【论文】：Going deeper with Image Transformers

【状态】：报名

【repo链接】：https://github.com/CPones/CaiT

[2022-04-21 10:19] Karshilov commented on #41978
/assign

[2022-04-21 10:54] hatimwen commented on #41482
【队名】：DUT_BOYS

【序号】：5

【论文】：HashNet: Deep Learning to Hash by Continuation

【状态】：报名&提交

【repo链接】：https://github.com/hatimwen/paddle_hashnet

[2022-04-21 11:31] GDUTHeZexi opened #42094 "paddlehub有多模型融合的接口吗？"
### 请提出你的问题 Please ask your question

单一模型的效果不够理想，我想使用多模型融合。请问paddlehub有多模型融合的接口吗？我没有找到相关的文档，所以来这里提问一下。

[2022-04-21 11:33] Wei-JL commented on #42052
谢谢~ 了解  因为我本机和BML上最明显的区别 就是CUDA和cudnn版本不同  当然这么说欠妥~  抱歉

[2022-04-21 11:53] Dalaoyuan2020 opened #42096 "报名"
### 问题描述 Please describe your issue

【队名】：远少是也的团队

【序号】：飞桨特色模型挑战赛 3

【论文】：nnU-Net: Self-adapting Framework for
U-Net-Based Medical Image Segmentation

【状态】：提交

【repo链接】：https://github.com/PaddlePaddle/Paddle

[2022-04-21 12:02] huilin16 commented on #41482
【队名】：gis322

【序号】：142

【论文】：Few-Shot Learning with Graph Neural Networks

【状态】：报名

【repo链接】：https://github.com/huilin16/fs_gnn

[2022-04-21 12:03] huilin16 commented on #41482
【队名】：gis322

【序号】：22

【论文】：MaskFormer: Per-Pixel Classification is Not All You Need for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/huilin16/maskformer

[2022-04-21 12:09] #42026 closed, assigned to iclementine

[2022-04-21 12:10] 123456bfb commented on #42026
已解决，谢谢以上朋友！

[2022-04-21 12:12] liutheuniverse commented on #42072
fill_constant OP值主要受什么影响，数据库还是代码里的class Dataset里的img和label的dtype？在代码和数据库应该如何调整

[2022-04-21 12:54] 18XiWenjuan commented on #41482
【队名】：咕咕咕

【序号】：106

【论文】：[Efficient Low-rank Multimodal Fusion with Modality-Specific Factors](https://arxiv.org/abs/1806.00064)

【状态】：提交

【repo链接】：https://github.com/18XiWenjuan/LMF_Paddle

[2022-04-21 13:15] CPones commented on #41482
【队名】：CPones

【序号】：3

【论文】：Going deeper with Image Transformers

【状态】：提交

【repo链接】：https://github.com/CPones/CaiT

[2022-04-21 13:34] mark14wu commented on #40234
【队名】：随便都队

【序号】：49

【状态】：报名

【链接】：https://github.com/mark14wu/Paddle

[2022-04-21 13:41] Scallions commented on #41482
【队名】：QAQ1

【序号】：133

【论文】：[Skilful precipitation nowcasting using deep generative models of radar](https://www.nature.com/articles/s41586-021-03854-z.pdf)

【状态】：报名

【repo链接】：[Scallions/skillful_nowcasting_paddle](https://github.com/Scallions/skillful_nowcasting_paddle)

[2022-04-21 13:58] jczaja commented on #40540
@baoachun We just noticed that it works.

[2022-04-21 13:58] #40540 closed, assigned to baoachun, YuanRisheng

[2022-04-21 14:06] sldyns commented on #41482
【队名】：科研累了摸会鱼

【序号】：133

【论文】：飞桨特色模型挑战赛5: Learning Enriched Features for Real Image Restoration and Enhancement

【状态】：报名

【repo链接】：https://github.com/sldyns/MIRNet_paddle

[2022-04-21 14:23] maomaochongaa commented on #41482
【队名】：乌拉拉战队

【序号】：1

【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search

【状态】：报名

【repo链接】：https://github.com/maomaochongaa/Cream-of-the-Crop-Distilling-Prioritized-Paths-For-One-Shot-Neural-Architecture-Search.git

[2022-04-21 14:32] flytocc commented on #41482
【队名】：拼手速

【序号】：2

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：提交2

【repo链接】：https://github.com/flytocc/CycleMLP-paddle

[2022-04-21 20:16] hatimwen commented on #41982
可以导出静态模型了，谢谢老师！

[2022-04-21 20:16] #41982 closed, assigned to yaoxuefeng6

[2022-04-22 01:21] renmada commented on #41482
【队名】：岚之山吃到饱

【序号】：16

【论文】：How to Trust Unlabeled Data? Instance Credibility Inference for Few-Shot Learning

【状态】：报名&&提交

【repo链接】：https://github.com/renmada/ICI-paddle

[2022-04-22 01:31] hzhaoy commented on #38807
@softsweetengineer 请问这个问题是怎么解决的呢

[2022-04-22 02:31] mavisyyc commented on #34614
仍旧报那个错 没有解决啊

[2022-04-22 02:32] mavisyyc commented on #34614
仍旧报那个错 没有解决啊

[2022-04-22 02:34] tiancaishaonvjituizi opened #42111 "clang-format 3.8 is TOO old in 2022"
### bug描述 Describe the Bug

现在已经 2022 年了，paddle 还在用 clang-format 3.8 来做格式化，现在 llvm 的最新版本不是 5 不是 6，甚至不是 10，不是 11，**而已经是 14 了**。可否推动切换到一个较为现代的版本上？这件事情毕竟不可能永远不做

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-04-22 02:42] xiaoguoguo626807 opened #42112 "[hackathon] GPU版本源码编译Unable to establish SSL connection出错"
### 问题描述 Issue Description

报错信息：
Unable to establish SSL connection.
paddle/fluid/framework/new_executor/CMakeFiles/download_program.dir/build.make:57: recipe for target 'paddle/fluid/framework/new_executor/CMakeFiles/download_program' failed
make[2]: *** [paddle/fluid/framework/new_executor/CMakeFiles/download_program] Error 4
CMakeFiles/Makefile2:288074: recipe for target 'paddle/fluid/framewor

[2022-04-22 03:08] LDOUBLEV commented on #42112
像是因为网络问题导致某些包下载失败，有代理就加上代理试试

[2022-04-22 03:16] xiaoguoguo626807 commented on #42112
这个是下载github的包吗，之前加过github的，相关包可以clone

[2022-04-22 03:30] LDOUBLEV commented on #42112
编译的时候会自动下载一些依赖，然后编译这些依赖库
或者你看下最开始报错的地方是不是某个库下载失败了，可以尝试手动下载下来去编译

[2022-04-22 03:30] xiaoguoguo626807 commented on #42112
我我查看了一下文件，是连接不到这个地址，wget -nc https://paddle-ci.gz.bcebos.com/new_exec/lm_main_program ，但是在docker 外面是可以的，会不会是docker里缺什么

[2022-04-22 03:34] LDOUBLEV commented on #42112
在docker里试试下面的代理是否可以：
wget -nc https://paddle-ci.gz.bcebos.com/new_exec/lm_main_program --no-check-certificate

如果不行，大概确定是docker里网络访问不了bcebos.com，你是否有代理？尝试加上代理下载试试

[2022-04-22 03:55] skywalk163 commented on #41482
【队名】：极快软件

【序号】：128

【论文】：[TorchMD: A deep learning framework for molecular simulations](https://arxiv.org/pdf/2012.12106.pdf)

【状态】：报名

【repo链接】：https://github.com/skywalk163/paddlemd

[2022-04-22 04:08] hlr7999 commented on #35188
我也遇到了同样的问题，训练PPYOLOE的时候，第一次训练了300轮没报错，之后每次训练到100轮报错，错误信息也是bce non。。。。。

[2022-04-22 04:17] xiaoguoguo626807 commented on #42112
这个不管用，我没有代理，我发现docker外wget的地址是106.12.1.25，docker内是182.61.62.20，为什么会有这种差别呢

[2022-04-22 04:20] xiaoguoguo626807 commented on #42112
除了代理还有别的方法配置网络吗

[2022-04-22 04:38] cosigh opened #42119 "paddle+rocm4.2 with gfx908"
### 请提出你的问题 Please ask your question

Traceback (most recent call last):
  File "train.py", line 161, in <module>
    use_token_embedding=args.use_token_embedding)
  File "train.py", line 108, in __init__
    args.embedding_name, extended_vocab_path=vocab_path)
  File "/usr/local/lib/python3.7/site-packages/paddlenlp/embeddings/token_embedding.py", line 113, in __init__
    padding_idx=self._word_

[2022-04-22 04:49] miemie2013 opened #42120 "【论文复现赛】单机多卡训练报错"
### 问题描述 Please describe your issue

项目地址： https://aistudio.baidu.com/aistudio/projectdetail/3848537
飞桨版本： 2.3.0rc0
使用单机4张V100训练。
进入项目后，点击页面的这3条命令安装依赖、安装自定义算子gather、解压数据集。
[code]

接着，输入命令开启单机4卡训练
[code]

会报错：

[code]

代码在单机单卡上是可以跑的，希望能得到官方帮助！谢谢！

[2022-04-22 04:52] jzhang533 commented on #42111
这项工作已经在计划中啦，我们现在正在做一些验证工作，这里有一个POC的PR： #42117 。
除了clang-format的升级，我们也计划升级对python/shell代码的检查工具。

cc: @zhiqiu

[2022-04-22 05:01] Ilovecode93 commented on #40234
【队名】：一定要争气

【序号】：16

【状态】：报名

【链接】：https://github.com/Ilovecode93/Paddle

[2022-04-22 05:04] LDOUBLEV commented on #42120
在代码主函数运行前加上
paddle.set_device('gpu')
试试

[2022-04-22 05:09] LDOUBLEV commented on #42119
报错提示uniform random OP不支持float类型输入，
检查下报错代码处，初始化时的输入：padding_idx=self._word_to_idx[PAD_TOKEN])

![image](https://user-images.githubusercontent.com/26592129/164607104-12e7d9e2-c0c5-41e0-a0d2-4eddb36ca7e8.png)
![image](https://user-images.githubusercontent.com/26592129/164607200-5ad67672-c899-4eb8-84f1-0adb99cb969d.png)

[2022-04-22 05:09] sldyns commented on #41482
【队名】：科研累了摸会鱼

【序号】：飞桨特色模型挑战赛5

【论文】：Learning Enriched Features for Real Image Restoration and Enhancement

【状态】：报名

【repo链接】：https://github.com/sldyns/MIRNet_paddle

[2022-04-22 05:15] liutheuniverse commented on #42072
如果这个静态图实在改不了的话可以用动态图吗，导出模型时要注意什么
https://aistudio.baidu.com/aistudio/projectdetail/2319901?channelType=0&channel=0

[2022-04-22 05:19] miemie2013 commented on #42120
在ppgan/utils/setup.py的setup()方法里已经调用过了

[2022-04-22 05:22] NewGe66 commented on #41482
【队名】：NewGe6
【序号】：93
【论文】：Learning Enriched Features for Real Image Restoration and Enhancement
【状态】：报名
【repo链接】：https://github.com/NewGe66/Paddle_MIRNet

[2022-04-22 05:41] miemie2013 commented on #42120
2.2.2版本的飞桨是可以正常进行单机4卡训练的。
上面的项目，打开一个终端，输入
[code]
安装飞桨2.2.2

代码修改2处：
ppgan/models/styleganv2_model.py的StyleGANv2ADAModel类的__init__()方法，将
[code]
这句代码解除注释。

将ppgan/models/generators/generator_styleganv2ada.py开头的
[code]
注释掉。即不使用StyleGANv2ADA_AugmentPipe()训练。

输入同样的命令开启训练：
[code]
是可以正常训练的。但是不能用飞桨2.2.2版本训练，因为它不支持自定义外部算子的二阶导，以及paddle.grad()有重大错误，详见https://github.com/PaddlePaddle/Paddle/issues/40800 和 htt

[2022-04-22 06:27] LDOUBLEV commented on #42112
试试在启动容器的时候加上--net=host
[code]

[2022-04-22 06:59] xiaoguoguo626807 commented on #42112
我试着拷贝了下载后的文件到指定目录里，目前编译还没有报错，如果不行按您这个命令重启一个docker再运行，谢谢您的帮助！

[2022-04-22 07:18] pangyoki opened #42125 "Mac m1机器上python 3.10安装paddle-bfloat报错"
### 问题描述 Issue Description

如题，在Mac m1机器上，python3.10（universal版本）单独安装paddle-bfloat会报错，如下图。初步测试linux、windows、非m1的mac机器上，python3.10可以正常安装paddle-bfloat。

![图片](https://user-images.githubusercontent.com/26408901/164625614-45bc3775-1b47-44f6-9a97-f62a2ca88eb8.png)

看起来是pypi上没有相应的预编译包，默认去拉tar.gz本地编译安装，可能暂时不支持mac m1环境下的编译安装。

paddle准备支持python3.10，依赖paddle-bfloat对mac m1机器python3.10的支持，希望能高优解决这个问题。

### 版本

[2022-04-22 07:21] Intsigstephon commented on #40348
在你的命令后面，加上  --host 0.0.0.0 试试

[2022-04-22 07:30] Aganlengzi commented on #42125
@lidanqing-intel @jakpiase hi, in addition, please upload the pre-compiled packages of other tags to avoid local compiling, I think we can refer to Pillow https://pypi.org/project/Pillow/#files

[2022-04-22 07:45] muzixihust commented on #41508
请教下paddle的dataloader的num_workers生成的子进程怎么自动清理呢？发现在训练过程中每过一遍dataloader子进程就会增加一遍，逐渐累积，越来越多，最终导致程序崩溃

[2022-04-22 08:12] huangjun12 commented on #42059
可以提供一下可复现的最小代码

[2022-04-22 08:15] cosigh commented on #42119
执行
python3 -c "import paddle; paddle.utils.run_check()"

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/lib/python3.7/site-packages/paddle/utils/install_check.py", line 196, in run_check
    _run_static_single(use_cuda)
  File "/usr/local/lib/python3.7/site-packages/paddle/utils/install_check.py", line 124, in _run_static_single
    exe.run(startup_pro

[2022-04-22 08:28] KPatr1ck commented on #42094
你好，目前PaddleHub里没有提供多模型融合的接口。
因为多模型融合是一个策略，而不是一个固化的操作，你可以通过投票/加权等方式去达到融合的效果。

[2022-04-22 08:35] LDOUBLEV commented on #42119
你的paddle没有安装成功，请重新安装paddle
![image](https://user-images.githubusercontent.com/26592129/164650636-b711a270-6790-499d-8936-67c9e7edb313.png)

并检查报错处输入数据的类型，尝试将float类型转成int32

[2022-04-22 08:43] zwtu commented on #41482
【队名】：Team X

【序号】：80

【论文】：Token Shift Transformer for Video Classification

【状态】：提交

【repo链接】：https://github.com/zwtu/TokShift-Transformer-Paddle

[2022-04-22 09:57] JONGWE1 commented on #41482
【队名】：鱼蛋天平

【序号】：107

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/JONGWE1/Paddle-DeBERTa

[2022-04-22 10:02] weishengying commented on #42072
是使用paddle slim工具量化 VGG网络， 然后使用paddle_lite_opt工具转化量化之后的vgg网络报错吗

[2022-04-22 10:30] jeff41404 commented on #41978
After discussion with some experts, considering that the calculation logic of divide_no_nan is special and can be easily composed by other APIs(with reference to the answer given by [wawltor](https://github.com/wawltor) above) , so we decide not to add this API.

[2022-04-22 10:45] liutheuniverse commented on #42072
不是，是我直接在那个网络导出的模型中使用paddle_lite_opt报了Unable to convert var desc type(6) ，我尝试用paddleslim量化以后还是报这个错

[2022-04-22 11:02] amocken commented on #40968
这么多天了，怎么还没有官方人员回复？@sljlp

[2022-04-22 11:10] NewGe66 commented on #41482
【队名】：NewGe6

【序号】：5

【论文】：Learning Enriched Features for Real Image Restoration and Enhancement

【状态】：报名

【repo链接】：https://github.com/NewGe66/Paddle_MIRNet_Light

[2022-04-22 11:40] weishengying commented on #42072
可以发一下你使用 paddle_lite_opt的命令吗；另外建议你这样试一试：
[code]
参考文档 https://paddle-lite.readthedocs.io/zh/develop/api_reference/python_api/opt.html

[2022-04-22 11:41] PhD-TianLv commented on #41482
【队名】：YouYing

【序号】：129

【论文】：Self-consistent determination of long-range electrostatics in neural network potentials

【状态】：报名

【repo链接】：https://github.com/Amoza-Theodore/SCFNN_paddle

[2022-04-22 11:54] weishengying commented on #42072
还是不行的话，检查下模型文件，lite支持的变量精度类型如下：
<img width="565" alt="image" src="https://user-images.githubusercontent.com/63448337/164709445-cbac7553-0915-43e8-9e45-aa18306dc150.png">

[2022-04-22 12:11] wozna commented on #41950
Hi @Baibaifan. We are happy that you used the Adam-CPU implementation.
For now, we added a high-performance version of Adam-CPU (https://github.com/PaddlePaddle/Paddle/pull/39158), but this version will **be used only if the machine supports AVX512 instructions** (AVX512F flag is on)
In AdamW, computations that are the same as in Adam, used this high-performance version, but only this different pa

[2022-04-22 12:30] ultranity commented on #41482
【队名】：ultranity

【序号】：62

【论文】：Towards Total Recall in Industrial Anomaly Detection

【状态】：报名&提交

【repo链接】：https://github.com/Ultranity/Anomaly.Paddle

[2022-04-22 12:34] ZM-Zhou commented on #41482
【队名】：MiaoMiaoMiao

【序号】：103

【论文】：MLDA-Net: Multi-Level Dual Attention-BasedNetwork for Self-Supervised MonocularDepth Estimation

【状态】：报名

【repo链接】：https://github.com/ZM-Zhou/MLDA-Net_PaddlePaddle

[2022-04-22 14:18] JaneJasmine commented on #41482
【队名】：迷糊糊涂

【序号】：65

【论文】：PointRCNN: 3D Object Proposal Generation and Detection from Point Cloud

【状态】：报名

【repo链接】：https://github.com/JaneJasmine/Paddle_PointRCNN

[2022-04-23 02:31] daquexian commented on #42111
赞

[2022-04-23 02:49] zzc98 commented on #41482
【队名】：大山坡

【序号】：11

【论文】：Destruction and Construction Learning for Fine-grained Image Recognition

【状态】：提交

【repo链接】：https://github.com/zzc98/PaddlePaddle_DCL

[2022-04-23 04:11] im47cn commented on #35766
On old Linux systems, several functions, such as [clock_gettime](http://man7.org/linux/man-pages/man2/clock_gettime.2.html), are documented to need -lrt for old versions of GNU libc.

[2022-04-23 04:11] simonsLiang commented on #41482
【队名】：高级伴读书童

【序号】：127

【论文】：Lettuce: PyTorch-based Lattice Boltzmann Framework

【状态】：报名

【repo链接】：https://github.com/simonsLiang/lettuce_paddle

[2022-04-23 04:12] SnowleopardXI opened #42144 "Compile Issue"
### bug描述 Describe the Bug

Compile error on Raspberry pi 4b Ubuntu22.04

Logs :
[ 53%] Building CXX object CMakeFiles/libprotoc.dir/home/SEAdam/Documents/Paddle/build/third_party/protobuf/src/extern_protobuf/src/google/protobuf/compiler/java/java_helpers.cc.o
CMake Error at /home/SEAdam/Documents/Paddle/build/third_party/cryptopp/src/extern_cryptopp-stamp/extern_cryptopp-update-Release.cmake:49 (

[2022-04-23 04:20] xywxy commented on #41482
【队名】：GoodGoodStudy

【序号】：48

【论文】：StyleFlow: Attribute-conditioned Exploration of StyleGAN-Generated Images using Conditional Continuous Normalizing Flows

【状态】：报名

【repo链接】：https://github.com/xywxy/Paddle_StyleFlow

[2022-04-23 05:40] liutheuniverse commented on #42072
运行这个代码以后，内核就重启了

[2022-04-23 05:41] liutheuniverse commented on #42072
然后我输入!paddle_lite_opt --model_file=/home/aistudio/MyCNN.pdmodel --param_file=/home/aistudio/MyCNN.pdiparams --valid_targets=x86 --optimize_out_type naive_buffer --optimize_out=VGG19_opt还是那个错误Unable to convert var desc type(6) to precision type!

[2022-04-23 06:29] HarryUP-rhy opened #42146 "paddle2.0静态图，网络参数不优化"
### bug描述 Describe the Bug

paddle版本2.0
使用股票环境中的收盘价作为输入，利用LSTM网络产生交易动作(0,1)，在执行交易动作之后产生买卖
的收益(reward),再由reward来计算两次交易之间的微分夏普率。将微分夏普率当作目标函数去优化
LSTM网络。
[code]

输出信息：
'''
E:\RhyAnaconda\envs\paddle2.0\python.exe E:/LearnPad/learn_pad_pycharm/test_trading/test_422.py
act_lsit: [array([[0.58450395, 0.41549602]], dtype=float32), array([[0.5843861 , 0.41561386]], dtype=float32), array([[0.58628076, 0.413

[2022-04-23 07:17] jerrylsu commented on #41482
【队名】：世界和平

【序号】：108

【论文】：[Longformer: The Long-Document Transformer](https://arxiv.org/pdf/2004.05150.pdf)

【状态】：报名

【repo链接】：https://github.com/jerrylsu/longformer4paddle

[2022-04-23 08:25] xhw20010111 commented on #41482
【队名】：无聊了监控

【序号】：38

【论文】：UNETR: Transformers for 3D Medical Image

【状态】：报名

【repo链接】：https://github.com/xhw20010111/UNETRTransformersfor3DMedicalImageSegmentation

[2022-04-23 08:47] hupantingxue commented on #40234
【队名】：forfuture

【序号】：103

【状态】：报名

【链接】：https://github.com/hupantingxue/Paddle

[2022-04-23 08:50] ganyixian opened #42150 "GPU单机多卡训练报错 ’cannot pickle paddle.fluid.core.avx.Place‘"
### bug描述 Describe the Bug

使用单机多卡GPU进行训练的时候启动报错，完整报错信息如下
[code]
运行环境为paddlepaddle-gpu 2.2, Cuda 11.2, CuDNN 8.1, nccl 2.12
训练代码:
[code]
通过指令```python train.py```运行后报上述错误

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-04-23 09:26] studyplacefor opened #42152 "paddle 性能问题与torch相比 残差层数支持不好。"
### bug描述 Describe the Bug

小弟，想用paddle 复现 torch项目的复型。能够用paddle跑了，但是相较torch速度太慢了,达不到预期！ 不知是不是我漏了什么环境Flag 设置，或是我写的复现代码有大问题，然而我不知怎么查找这方面的问题了，特此提个issue.

先给个代码输出paddle: ---------------测试环境-----------------------------------------
  paddle 2.1
 torch_version 1.9.0
  cuda 10.2

Please NOTE: device: 0, GPU Compute Capability: 6.1,
Driver API Version: 11.1, Runtime API Version: 10.2
device: 0, cuDNN Vers

[2022-04-23 09:45] studyplacefor commented on #42152
![tp0](https://user-images.githubusercontent.com/50259160/164889334-bca854ae-e12b-4387-a303-0343bcac22bb.png)
![tp1](https://user-images.githubusercontent.com/50259160/164889368-7edc3f3b-7ae5-4e54-b9c0-5a4a9649bd52.png)

[2022-04-23 09:47] studyplacefor commented on #42152
占坑

[2022-04-23 10:01] CuberrChen commented on #36895
遇到了类似问题，我用一个模型封装了两个子网络，不同条件下forward调用不同子网络。多卡会出现上述类似问题。
请问如何解决！急～

[2022-04-23 11:22] tricksterANDthug commented on #41482
【队名】：一个孤独的人

【序号】：36

【论文】：nnU-Net: Self-adapting Framework for U-Net-Based Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/tricksterANDthug/nnU-Net-paddle.git

[2022-04-23 13:58] wangxicoding commented on #42144
GCC的版本是多少，试下这个issue里的方法用gcc8，https://github.com/NVIDIA/TensorRT/issues/1783

[2022-04-23 14:08] wangxicoding commented on #42146
<img width="566" alt="image" src="https://user-images.githubusercontent.com/10208305/164909372-99e5b8c0-8ccb-4c25-9431-8dccf195db3b.png">
loss函数写的有问题，没有用到predict_act，只用到了结果dsr

[2022-04-23 14:16] wangxicoding commented on #42150
<img width="835" alt="image" src="https://user-images.githubusercontent.com/10208305/164909610-0f289d6d-8864-47e9-b225-121e4d9774de.png">
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/distributed/spawn_cn.html#spawn
应该是Place没法pickled。把set_device和data_loader都放进目标函数里吧

[2022-04-23 14:19] JoanSF commented on #41482
【队名】：没感情的菜鸡
【序号】：142
【论文】：Few-Shot Learning with Graph Neural Networks
【状态】：报名
【repo链接】：https://github.com/JoanSF/few_shot_gnn_paddle

[2022-04-23 14:26] gglin001 opened #42156 "pytorch_dispatcher like function for paddle ?"
### 请提出你的问题 Please ask your question

请问 paddle 未来有 计划 开发 类似于 pytorch_dispatcher 类似的功能吗?

ref
https://pytorch.org/tutorials/advanced/extend_dispatcher.html
https://pytorch.org/tutorials/advanced/dispatcher.html
http://blog.ezyang.com/2020/09/lets-talk-about-the-pytorch-dispatcher/

[2022-04-23 14:39] leoaaaaa opened #42157 "官方文档的感觉有点问题"
### 问题描述 Issue Description

我在ai sudio上找了个车号识别的项目怎么部署到liunx paddleServing？
我看官方安装文档 https://www.paddlepaddle.org.cn/tutorials/projectdetail/2538249
这个git clone https://hub.fastgit.org/PaddlePaddle/Serving -b v0.7.0 clone就出错，
不知道什么原因，有没有一个实例性的文档教我怎么具体操作部署 paddleServing？

### 版本&环境信息 Version & Environment Information

liunx部署paddleServing

[2022-04-23 14:41] leoaaaaa opened #42158 "paddleX"
### 问题描述 Issue Description

我在windows 下 下载了 paddleX程序。训练的时候老是无法训练，我gpu现存3gb估计是不行，
但是我勾选补用gpu 用cpu为什么还是报错？

This log file path is d:\Users\Administrator\paddlex_workspace\projects\P0001\T0014\err.log
注意：标志为WARNING/INFO类的仅为警告或提示类信息，非错误信息
C:\Users\Administrator\Downloads\PaddleX_GUI_2.1.0_win10\PaddleX_GUI_2.1.0_win10\paddle\tensor\creation.py:130: DeprecationWarning: `np.object` is a deprecated alia

[2022-04-23 14:49] #42158 closed, assigned to wangxicoding

[2022-04-23 14:57] wangxicoding commented on #42152
什么型号的GPU，看模型以及性能数据，感觉应该是paddle动态图调度比较慢的原因，不过也可能是kernel没有优化好。
具体排查性能可以使用nvidia的nsys工具进行profile可视化的分析下性能瓶颈，可以参考下这个issue https://github.com/PaddlePaddle/Paddle/issues/36022
另外还有其它方法验证是否调度慢的原因，比如把模型大小调大，深度宽度都加大，这样GPU计算时间会增加，调度占比减少；比如可以使用静态图运行，减少python和c++相互切换的调度开销。
另外paddle这边也一直在优化动态图的调度开销，可以切换一下最新的版本看看是否有性能提升。近期可能会发布2.3版本，调度开销会减少很多。

[2022-04-23 15:09] wangxicoding commented on #42156
您好，感谢您这边的提问，我这边会和PM反馈，之后给您答复。另外想问下您这边使用dispatcher是背景需求是什么，自定义算子或者是添加第三方硬件，或者其它功能扩展？

[2022-04-23 15:09] zwtu commented on #41482
【队名】：Team X

【序号】：79

【论文】：YOWO: You only watch once: A unified cnn architecture for real-time spatiotemporal action localization

【状态】：提交

【repo链接】：https://github.com/zwtu/YOWO-Paddle

[2022-04-23 15:09] zwtu commented on #41482
【队名】：Team X

【序号】：79

【论文】：YOWO: You only watch once: A unified cnn architecture for real-time spatiotemporal action localization

【状态】：报名

【repo链接】：https://github.com/zwtu/YOWO-Paddle

[2022-04-23 15:15] crazyxiaoj opened #42159 "深度可分离卷积层的实现问题"
### 请提出你的问题 Please ask your question

我在`paddle.nn.Conv2D`中找到一个参数：`groups`，我能使用类似于这样的语句达到keras中`SeparableConv2D`的效果吗？
[code]

[2022-04-23 15:15] wangxicoding commented on #42157
hub.fastgit应该是用于加速clone代码的。可以试下直接 git clone https://github.com/PaddlePaddle/Serving.git 行不行

[2022-04-23 15:21] gglin001 commented on #42156
感谢回复, 主要是考虑到第三方硬件.  我们在做 paddle 在 Graphcore IPU 上运行的支持, 我们希望能够更好的支持paddle 的 API,  如果 paddle 有类似于 dispatcher 的设计, 或许是一个很好的方向

[2022-04-23 15:25] wangxicoding commented on #42159
我在paddle官网文档，以及PaddleClas中找到有相关的SeparableConv实现，你看下是否符合你这边的需求？
https://www.paddlepaddle.org.cn/documentation/docs/zh/practices/cv/image_segmentation.html#separableconv2d
https://github.com/PaddlePaddle/PaddleClas/blob/v2.3.1/ppcls/arch/backbone/model_zoo/xception.py#L60-L77

[2022-04-23 15:39] leoaaaaa opened #42161 "paddlx"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/90248905/164912995-fb8c7e6a-5a68-4f1b-97ed-6d53351957ce.png)
我这么配置的预测模型地址，但是命令行说找不到model？
![image](https://user-images.githubusercontent.com/90248905/164913037-3fa4b5fb-4d43-441d-8698-ec6a90e3dfe2.png)
我配置的有什么问题吗

[2022-04-23 15:39] crazyxiaoj commented on #42159
非常感谢您！

[2022-04-23 15:39] #42159 closed, assigned to wangxicoding

[2022-04-23 16:17] txyugood commented on #41482
【队名】：txyugood

【序号】：74

【论文】：Revisiting Skeleton-based Action Recognition

【状态】：报名&提交

【repo链接】：https://github.com/txyugood/PaddlePoseC3D

[2022-04-23 21:17] jakpiase commented on #42125
Hi @Aganlengzi, @pangyoki. I have uploaded additional wheels for paddle_bfloat v0.1.2 into pypi: [https://pypi.org/project/paddle-bfloat/0.1.2/#files](https://pypi.org/project/paddle-bfloat/0.1.2/#files). Mac scenario with python 3.10 is also included here, so I think that your problem should be fixed. Please let me know if it resolved your issue, thanks

[2022-04-23 22:15] code-review-doctor opened #42163 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/PaddlePaddle/Paddle/blob/c79d1186612737560e21b867d89ce0b8f3510b34/python/paddle/tensor/manipulation.py#L1162

I found this issue automatically. I'm a bot. Beep Boop 🦊. See other issues I found in your repo [here](https://codereview.doctor/PaddlePaddl

[2022-04-23 22:48] studyplacefor commented on #42152
-----
多谢你的信息， 静态图我没有试过，想到静态图，要先定义好图再feed，头就痛！

-----------------------------------------------------------------------------------------
paddle 2.1
torch_version 1.9.0
cuda 10.2

Please NOTE: device: 0, GPU Compute Capability: 6.1,
Driver API Version: 11.1, Runtime API Version: 10.2
device: 0, cuDNN Version: 7.6.

        win10
一块 **gtx1070ti**
在conda 虚拟环境下跑的代码

我用kaggle  < paddle 2.2 cuda 11.0> G

[2022-04-24 01:30] Aganlengzi commented on #42125
@jakpiase Thank you very much!
I checked in my Mac with m1 and python 3.10, it succeed:
<img width="586" alt="image" src="https://user-images.githubusercontent.com/5997715/164951809-bbf39137-f352-47fb-82c7-1aa72078b5c3.png">

<img width="590" alt="image" src="https://user-images.githubusercontent.com/5997715/164951824-5d34bcc7-5f2c-4140-ba34-935488c047ab.png">

[2022-04-24 01:47] weishengying commented on #42072
那可能还是组网的时候，模型中有些变量类型lite不支持。lite支持的变量类型在上面发的图的，可以仔细查看下模型

[2022-04-24 01:53] simuler commented on #42059
https://aistudio.baidu.com/studio/project/partial/verify/3823824/57e0b402a7514d7aa4c8e271499d7525
cd到指定目录，可直接运行，当num_output参数设置为2时，程序正常运行，num_output参数超过2时，代码在调用grad函数时报错。打印了网络结构，没发现问题

[2022-04-24 02:00] wangxicoding commented on #42152
嗯静态图用起来是比动态图麻烦。。 p100、v100算力太高，你那小模型应该全是调度瓶颈。
#paddle.set_flags({'FLAGS_conv_workspace_size_limit':1024})  这个flag是用于cudnn卷积算法调优的，计算不是瓶颈下，基本不影响。https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/flags/cudnn_cn.html#flags-conv-workspace-size-limit
#paddle.set_flags({'FLAGS_fuse_parameter_memory_size':512})
#paddle.set_flags({'FLAGS_fuse_parameter_groups_size': 1})
这两个是设置数据并行梯度聚合通信的fuse相关大小

[2022-04-24 02:11] wangxicoding commented on #42156
了解，目前paddle里面有一个自定义硬件的接入，另外我看paddle已经在接入IPU了。https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/custom_device_docs/index_cn.html
想要dispatcher类似设计主要还是因为目前paddle接入新硬件比较复杂，难以快速开发吧

[2022-04-24 02:15] wangxicoding commented on #42161
看报错信息是inference_model目录下面没有`__model__`这个文件，你看下你目录下面有没有这个文件。

[2022-04-24 02:19] wangxicoding commented on #42163
好强的机器人宝宝，想领养一个🤩

[2022-04-24 02:28] elvinyychen commented on #41482
【队名】：照猫画虎

【序号】：48

【论文】：StyleFlow: Attribute-conditioned Exploration of StyleGAN-Generated Images
using Conditional Continuous Normalizing Flows

【状态】：报名

【repo链接】：https://github.com/Elvinyy/StyleGAN_Paddle

[2022-04-24 02:31] Aganlengzi commented on #40559
@Meiyim @SWHL 可以尝试直接使用pip安装了，已经联系包作者上传了更多的预编译包 https://pypi.org/project/paddle-bfloat/0.1.2/#files

[2022-04-24 02:31] robinbg commented on #41482
【队名】：自动AC机

【序号】：128

【论文】：[TorchMD: A deep learning framework for molecular simulations](https://arxiv.org/pdf/2012.12106.pdf)

【状态】：报名

【repo链接】：https://github.com/robinbg/PaddleMD

[2022-04-24 02:34] elvinyychen commented on #41482
【队名】：照猫画虎

【序号】：49

【论文】：Alias-Free Generative Adversarial Networks

【状态】：报名

【repo链接】：https://github.com/Elvinyy/StyleGAN3_Paddle

[2022-04-24 02:41] SWHL commented on #40559
感谢感谢

[2022-04-24 02:41] neverCV commented on #41482
【队名】：乱摆

【序号】：140

【论文】：A Closer Look at Few-shot Classification

【状态】：报名

【repo链接】：https://github.com/neverCV/Baseline_FSL

[2022-04-24 02:44] gglin001 commented on #42156
好的, 我会看一下这个新的接口!

目前 paddle 接入 IPU 的设计是通过 rewrite program_desc 逐步 lower 到 ipu 的软件栈上, 对比 pytorch/tensorflow(XLA) 等框架接入第三方设备的方案, 很不灵活, 也很难和 paddle 的主体部分解耦合

[2022-04-24 02:55] zhijiejia opened #42166 "啥时候安装paddle能像pytorch一样, 不需要额外安装cudnn"
### 需求描述 Feature Description

你们为啥不能做成pytorch那样，不需要额外cudnn，非得搞的折磨麻烦，还得环境配置，你们既然可以出docker，为啥不能直接不需要额外安装呢？ 为了装paddle换个机器就得重新安装cudnn, cuda，烦死了都，而且每台机器的设置还不一样，还不一定能装成功。。。

### 替代实现 Alternatives

_No response_

[2022-04-24 04:21] liutheuniverse commented on #42072
<img width="234" alt="企业微信截图_1650774005643" src="https://user-images.githubusercontent.com/83712510/164956473-4299c0a9-247e-48fb-bccb-292693987d2b.png">
是受这个影响吗

[2022-04-24 04:26] studyplacefor commented on #42152
虽然是有   瓶颈 ！  在面对16小时v100时，正向运算 ，loss 计算瓶颈相比torch差距  我还能接受！
但是  后向运算计算梯度，就是backward()   实在差太多了，不能接受啊！

nsys 的cpu与gpu时序图看不懂啊 |(前图是paddle 3step  后图是torch 3step)

![image](https://user-images.githubusercontent.com/50259160/164956311-980d0b80-ae25-4833-8f38-5bff2e6b3c48.png)
![image](https://user-images.githubusercontent.com/50259160/164956350-99ac0ef2-0420-4ffe-bc71-d186611ebd04.png)

似乎在 50-120 s这时段内

[2022-04-24 04:34] studyplacefor commented on #42152
report 文件太大了，上传不了

[2022-04-24 05:54] #41978 closed, assigned to Ligoml, Karshilov

[2022-04-24 06:00] Ligoml commented on #42096
报名需要在这里https://github.com/PaddlePaddle/Paddle/issues/41482 回复哦

[2022-04-24 06:00] #42096 closed, assigned to iclementine

[2022-04-24 06:00] #42094 closed, assigned to iclementine

[2022-04-24 07:06] wangxicoding commented on #42152
<img width="961" alt="image" src="https://user-images.githubusercontent.com/10208305/164960891-d9b34bbe-ce0f-49a7-b3bd-ee262ece6c01.png">
看Processes里，CUDA HW里面是cuda kernel实际计算的timeline，下面是cuda api调度kernel的timeline。主要看kernel实际的执行时间，然后可以再结合调度看。

<img width="857" alt="image" src="https://user-images.githubusercontent.com/10208305/164961422-57947ba1-cf40-4d40-a0ec-85304fee1d7d.png">
一般一个step内应该很少有大段的g

[2022-04-24 07:07] studyplacefor commented on #42152
![image](https://user-images.githubusercontent.com/50259160/164961813-d5e4b56c-5e6e-48fa-aa88-d05f62c45183.png)

我用 @to_static 动转静 测试了下，   对比如图！ 性能就比torch好了，  不知这样有什么深坑？

感谢百度的工作人员辛苦付出！ ^_^  @[wangxicoding](https://github.com/wangxicoding)

[2022-04-24 07:14] wangxicoding commented on #42152
动转静，如果网络里面没有非常复杂的控制语句或python端的自定义算子，应该不会有啥坑。当然最保险的方式还是直接写原生静态图

[2022-04-24 07:19] crazyxiaoj commented on #42159
我注意到PaddleClas中使用了`ConvBN`层对`SeparableConv`进行实现，但是我查看了keras的源码，发现并没有出现归一化层

[2022-04-24 08:17] henuliulei opened #42177 "并发问题！！！！！！！！！"
### 请提出你的问题 Please ask your question

目前把模型推理放在一个接口里面进行调用，设置了多线程，可是实际调用的时候发现模型仍然是串行执行，是当前模型不支持多线程吗

[2022-04-24 09:06] tink2123 commented on #42016
方便提供一个最小可复现单元吗？包括tornado环境信息

[2022-04-24 10:36] flytocc commented on #41482
【队名】：拼手速

【序号】：9

【论文】：Visual Attention Network

【状态】：更新repo链接

【repo链接】：https://github.com/flytocc/PaddleClas/tree/VAN-Classification

[2022-04-24 11:25] yt605155624 opened #42190 "ValueError: (InvalidArgument) Leaf Tensor (auto_492_) that doesn't stop gradient can't use inplace strategy."
### 请提出你的问题 Please ask your question

ValueError: (InvalidArgument) Leaf Tensor (auto_492_) that doesn't stop gradient can't use inplace strategy.
  [Hint: Expected self->IsLeaf() && !self->OverridedStopGradient() == false, but received self->IsLeaf() && !self->OverridedStopGradient():1 != false:0.] (at /paddle/paddle/fluid/pybind/imperative.cc:791)

请问可能的原因是什么？

[2022-04-24 12:27] thunder95 commented on #40234
【队名】：thunder95

【序号】：63

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle-Lite-Demo/pull/237

[2022-04-24 13:29] tricksterANDthug opened #42197 "在训练过程中显存明显增加"
### 请提出你的问题 Please ask your question

for epoch in range(epoch_num):
        print(f'Epoch {epoch + 1} / {epoch_num}')
        model.train()
        for batch_id, data in enumerate(train_loader()):
            loss, acc, miou = train(data, model)
            # save log
            writer.add_scalar('train/loss', step=train_step, value=loss.numpy()[0])
            writer.add_scalar('train/acc', ste

[2022-04-24 13:35] #42197 closed, assigned to JZ-LIANG

[2022-04-24 13:37] tricksterANDthug opened #42198 "显存占用明显增加"
### 请提出你的问题 Please ask your question

for epoch in range(epoch_num):
        print(f'Epoch {epoch + 1} / {epoch_num}')
        model.train()
        for batch_id, data in enumerate(train_loader()):
            loss, acc, miou = train(data, model)
            # save log
            writer.add_scalar('train/loss', step=train_step, value=loss.numpy()[0])
            writer.add_scalar('train/acc', ste

[2022-04-24 13:37] #42198 closed, assigned to JZ-LIANG

[2022-04-24 13:39] tricksterANDthug opened #42199 "显存占用明显增加"
### 请提出你的问题 Please ask your question

`for epoch in range(epoch_num):
        print(f'Epoch {epoch + 1} / {epoch_num}')
        model.train()
        for batch_id, data in enumerate(train_loader()):
            loss, acc, miou = train(data, model)
            # save log
            writer.add_scalar('train/loss', step=train_step, value=loss.numpy()[0])
            writer.add_scalar('train/acc', st

[2022-04-24 13:39] #42199 closed, assigned to JZ-LIANG

[2022-04-24 13:40] tricksterANDthug opened #42201 "显存占用明显增加"
### 请提出你的问题 Please ask your question

显存占用明显增加
`for epoch in range(epoch_num):
        print(f'Epoch {epoch + 1} / {epoch_num}')
        model.train()
        for batch_id, data in enumerate(train_loader()):
            loss, acc, miou = train(data, model)
            # save log
            writer.add_scalar('train/loss', step=train_step, value=loss.numpy()[0])
            writer.add_scalar('train

[2022-04-24 15:20] leoaaaaa opened #42206 "paddle serving"
### 问题描述 Issue Description

根据官网文档部署paddle serving 后，另一个终端无法访问？
![image](https://user-images.githubusercontent.com/90248905/164983443-a37be7f5-ecd9-449c-9bd4-f013e3e928ce.png)
![image](https://user-images.githubusercontent.com/90248905/164983464-a53551d0-7d90-49fe-9e98-d7a0725b58f3.png)
根据官方文档如下操作：
https://www.paddlepaddle.org.cn/tutorials/projectdetail/2538249
![image](https://user-images.githubu

[2022-04-24 22:59] studyplacefor commented on #42152
@wangxicoding    paddle 是真的对残差层数 支持不好！ 无关**动静图写程式**！
昨天我用paddle.jit.to_static注解  动转静测试 时代码上把模型搞混了，所以得到了误导的结果！
今天改正了，重新测试。
如图：
![th-pd](https://user-images.githubusercontent.com/50259160/164999951-51c83444-09c3-4bc7-9864-084796da18a3.png)

代码(参数选项 --rb    使能  是否加入RB 网络）：
[paddle 动图程式             python xtestpd.py     和     python xtestpd.py   --rb        ]

(https://github.com/PaddlePaddle/Paddle/f

[2022-04-25 00:17] tianlinzx commented on #30915
horovod 支持有新进展吗?

[2022-04-25 01:36] weishengying commented on #42072
应该不受，这个只是输入数据吧，并不影响模型

[2022-04-25 01:59] #42112 closed, assigned to LDOUBLEV

[2022-04-25 02:23] GivanTsai opened #42208 "什么时候提高paddle支持的cuda版本"
### 请提出你的问题 Please ask your question

现在cuda版本都已经11.6以上了，paddle还仅支持11.2，什么时候提高paddle支持的cuda版本

[2022-04-25 02:52] wjce opened #42212 "安装页面最下方点击下一步做什么再点击零基础教程跳转到了空白页面"
### 文档链接&描述 Document Links & Description

https://user-images.githubusercontent.com/33532510/165012840-ed7ed936-b8c6-41e3-b6d9-65474f97eb27.mp4

### 请提出你的建议 Please give your suggestion

_No response_

[2022-04-25 02:58] zhao-han commented on #42156
我们看了一下Paddle新硬件注册的接口定义文档，主要包括两部分，新硬件runtime注册，和kernel注册。对Graphcore的IPU这种高度依赖JIT编译的后端，不太友好。希望能有类似于pytorch/xla中[lazytensor](https://arxiv.org/pdf/2102.13267.pdf)的设计。

[2022-04-25 04:39] ganyixian commented on #42150
那请问在目标函数里调用内部子函数或者类方法可以吗？现在训练可以正常启动，但是好像进程没办法中止可能是由于什么原因呢？

[2022-04-25 05:41] zhYua opened #42225 "No module named core_avx"
### 问题描述 Issue Description

在docker的虚拟镜像中运行时，出现WARNING: AVX is supported on local machine, but you have installed paddlepaddle without avx core. Hence, no_avx core which has worse preformance will be imported.
You could reinstall paddlepaddle by 'python -m pip install -U paddlepaddle-gpu[==version]' or rebuild paddlepaddle WITH_AVX=ON to get better performance.
The original error is: No module nam

[2022-04-25 06:23] pyc0310 opened #42228 "xian"
### 问题描述 Please describe your issue

RuntimeError: ResourceExhaustedError:

Out of memory error on GPU 0. Cannot allocate 98.000244MB memory on GPU 0, 6.000000GB memory has been allocated and available memory is only 0.000000B.

Please check whether there is any other process using GPU 0.
1. If yes, please stop them, or start PaddlePaddle on another GPU.
2. If no, please decrease the batch size of

[2022-04-25 06:25] LielinJiang commented on #42120
初步确定是框架的问题，我们会尽快修复

[2022-04-25 06:25] pyc0310 commented on #42228
训练时显示显卡没内存了，但是查看显卡，内存还有很多

[2022-04-25 06:25] JZ-LIANG commented on #42190
paddle 框架中 叶子节点 如参数，如果是需要计算梯度的，不支持 inplace 操作，如 add_(xxx) 等。
如果你需要手动修改参数的值，可以将参数 设置成不需要梯度: p.stop_gradient = True， 并在 with no_grad 上下文里对 参数值做修改。 可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/no_grad_cn.html#no-grad

[2022-04-25 06:29] JZ-LIANG commented on #42177
请提供复现当前问题的最小代码示例。 另外请详细描述你的多线程是指什么？ 大部分模型结构layer-layer 间是顺序执行的（resnet， transformer）这个模型本身因素决定了这行模型的layer(kernel) 也是必须顺序执行的。

[2022-04-25 06:34] JZ-LIANG commented on #42201
可能是正常的。请查看 loss.backward() 运行结束， optimizer.step() 开始前的 显存占用。
显存占用包括 模型状态(parameter + optimizer state) 和中间变量 (activation)
运行到 model.train()时，只初始化了 模型状态， 没有产生中间变量。 之后执行时产生中间变量后，显存时会上升的。

[2022-04-25 06:39] simonsLiang opened #42229 "在反向传播时出现FatalError: `Segmentation fault` is detected by the operating system."
### 请提出你的问题 Please ask your question

在losses.backward()时出现
--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::imperative::BasicEngine::Execute()
1   paddle::imperative::PreparedOp::Run(paddle::imperative::NameVariableWrapperMap const&, paddle::imperative::NameVariableWrapperMap const&, paddle::framework::AttributeMap co

[2022-04-25 06:46] miemie2013 commented on #42120
好的

[2022-04-25 06:52] wangxicoding commented on #42150
可以调用。进程中止，是指ctrl+c这种，还是训练完后自动退出？

[2022-04-25 06:59] ganyixian commented on #42150
训练完成后不会自动退出

[2022-04-25 07:02] Aganlengzi commented on #42125
@jakpiase Hi, which numpy version is used in your pre-compiled wheels? could it align with Paddle's requirements?
Paddle requires numpy>=1.13 in https://github.com/PaddlePaddle/Paddle/blob/develop/python/requirements.txt
but in some case, it reports incompatible problem：
[code]
https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/detail/5478824/job/14350996
<img width="831" alt="image" src="http

[2022-04-25 07:15] fhqsuhpv commented on #35570
1. 查看系统版本
strings /usr/lib64/libstdc++.so.6 | grep GLIBCXX
GLIBCXX_3.4
GLIBCXX_3.4.1
GLIBCXX_3.4.2
GLIBCXX_3.4.3
GLIBCXX_3.4.4
GLIBCXX_3.4.5
GLIBCXX_3.4.6
GLIBCXX_3.4.7
GLIBCXX_3.4.8
GLIBCXX_3.4.9
GLIBCXX_3.4.10
GLIBCXX_3.4.11
GLIBCXX_3.4.12
GLIBCXX_3.4.13
GLIBCXX_3.4.14
GLIBCXX_3.4.15
GLIBCXX_3.4.16
GLIBCXX_3.4.17
GLIBCXX_3.4.18
GLIBCXX_3.4.19
GLIBCXX_DEBUG_MESSAGE_LENGTH

发现少了GLIBCXX_3.4.20，解决方法

[2022-04-25 07:20] LielinJiang commented on #42120
还有想问一下，https://github.com/PaddlePaddle/Paddle/issues/40800 和 https://github.com/PaddlePaddle/Paddle/issues/39759 这两个问题是您这边验证过已经解决了嘛，在2.3.0rc上？

[2022-04-25 07:31] aptx1231 commented on #41674
我也遇到了这个问题，请问解决了吗

[2022-04-25 07:45] liutheuniverse commented on #42072
那应该怎么查看变量类型

[2022-04-25 07:47] liutheuniverse commented on #42072
是应该在组网是print变量类型，然后如果不对的话再修改变量的类型吗

[2022-04-25 08:49] Mr-SGXXX opened #42234 "[论文复现问题]RMSProp优化器相关问题"
### Paddle的RMSProp和Torch的RMSProp有什么不一样吗

我使用Paddle的Momentum优化器和torch的SGD优化器对模型进行反向传播测试，能够实现对齐，但换成参考代码所使用的RMSProp优化器时，我的模型反向传播测试却无法对齐，请问可能是哪里存在问题呢

[2022-04-25 09:04] yt605155624 commented on #42190
谢谢，我这边也定位了问题，是 zeros_like() 对梯度的行为和 pytorch 的不一致，zeros_like pytorch 的梯度是断掉的，但是我们没有断
[code]
已经反馈给 api 负责人了

[2022-04-25 09:04] #42190 closed, assigned to JZ-LIANG

[2022-04-25 09:36] #37401 closed, assigned to TCChenlong

[2022-04-25 11:01] renmada opened #42243 "paddle.Auc的使用方式"
### 请提出你的问题 Please ask your question

使用下面的代码，purchase_auc算出来和sklearn的结果不一致，差距很大
[code]

[2022-04-25 11:06] miemie2013 commented on #42120
paddle.grad()用在stylegan2ada上没有错，但是 https://github.com/PaddlePaddle/Paddle/issues/40741 这里的代码示例，paddle.grad()依然不能和pytorch对齐

[2022-04-25 11:07] miemie2013 commented on #42120
这是简化的归一化的代码，stylegan2ada上的代码其实不是这里给的示例代码，只是为了说明问题。

[2022-04-25 11:51] wangxicoding commented on #42150
可以用nvidia-smi看下是否还有卡在运行，可能是由于各个卡数据量不一致导致step不一致，然后某张卡一直在同步等待别的卡

[2022-04-25 11:59] SnowleopardXI commented on #42144
感谢,gcc8实测有效

[2022-04-25 11:59] SnowleopardXI commented on #42144
ggcc 11,gcc8实测有效

[2022-04-25 11:59] #42144 closed, assigned to wangxicoding

[2022-04-25 12:01] littletomatodonkey commented on #42159
SeparableConv的核心思想是depthwise和pointwise的结合，bn的话确保和参考代码对齐即可

[2022-04-25 12:04] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：21

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/41951

[2022-04-25 12:48] TeslaZhao commented on #42206
您使用的环境是AI Studio？Docerker环境还是物理机？再另一个 Teminal 中是同一台机器的相同环境吗？

[2022-04-25 13:37] code-review-doctor commented on #42163
@wangxicoding 🤖👶🦊

[2022-04-25 13:37] pangyoki commented on #42208
目前正在准备支持新版本的cuda，预期最近几个版本会更新，感谢您的反馈！

[2022-04-25 13:46] pangyoki commented on #42225
你好，你的安装命令是什么？报错信息有点矛盾，我理解你应该装的是avx的包，但是你的机器是noavx的。

建议你按paddle官网命令安装noavx包试试：
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

![图片](https://user-images.githubusercontent.com/26408901/165101992-7011441f-afc4-4483-977b-71e3a79c231d.png)

[2022-04-25 13:48] pangyoki commented on #42228
麻烦执行`paddle.utils.run_check()`看看有没有问题。

[2022-04-25 13:49] pangyoki commented on #42229
你好，麻烦提供下可复现代码。报错看是ElementwiseMul这个kernel有问题。

[2022-04-25 13:50] pangyoki commented on #42234
你好，请问查看的是哪里的参考代码呢？

[2022-04-25 13:53] pangyoki commented on #42243
你好，麻烦在网络执行过程中打印下输出值与sklearn对比，看能否定位到是哪个API精度对不齐吗？

[2022-04-25 13:54] Mr-SGXXX commented on #42234
参考代码是这个[Cream](https://github.com/microsoft/Cream)，他用的是RMSPropTF，我实验是想先试试两个都用RMSProp试试能不能对齐，结果出现这个问题

[2022-04-25 14:24] jakpiase commented on #42125
Hi @Aganlengzi, I have uploaded some wheels with old numpy versions, sorry for that. I have deleted them, now pypi repository should contain only versions which were built with numpy>=1.13

[2022-04-25 14:33] Aganlengzi commented on #42125
Hi, @jakpiase thanks for quick reply, but the message seems saying that the numpy version you compiled with is higher than installed one(0xf > 0xe)? if this is true, I think you may compile wheels with lower numpy version(at most 1.13)? I am not sure about that.

Tried locally with wheel: paddle_bfloat-0.1.2-cp37-cp37m-manylinux_2_27_x86_64.whl
<img width="835" alt="image" src="https://user-images

[2022-04-25 15:07] aptx1231 commented on #41883
请问是否解决了呢，我的`collate_fn`返回的是自定义类型，也不能够遍历dataloader。

[2022-04-25 15:15] geekhch commented on #41883
我是把collate_fn返回的list数据类型, 改成numpy之后可以正常运行了。具体的原因你可以看`from paddle.fluid.dataloader.flat import _flatten_batch
`这个函数。但是这里的实现也比较混乱，我还没有完全看懂要怎么才一定能正常运行。

[2022-04-26 00:27] Mr-SGXXX commented on #42234
我刚才又实验用Adam优化器，发现两个模型都用Adam的时候也能对齐，只有用RMSProp的时候不行，所以我就怀疑会不会是优化器的问题，如果不是，什么因素可能导致这种情况
另外，通过在前向传播、反向传播的时候打印模型参数，我发现使用RMSProp时，在第一次反向传播并更新权值之后，BN层的weight和bias会出现偏差，部分BN层的bias会出现严重偏差

[2022-04-26 01:08] xiebao1999 commented on #41482
【队名】：小财一试

【序号】：8

【论文】：A ConvNet for the 2020s

【状态】：报名

【repo链接】：https://github.com/xiebao1999/ConvNet_2020_paddle

[2022-04-26 01:41] #42243 closed, assigned to pangyoki

[2022-04-26 02:16] dydy9999 commented on #41482
【队名】：加油加油

【序号】：38

【论文】：UNETR: Transformers for 3D Medical Image

【状态】：报名

【repo链接】：https://github.com/dydy9999/UNETR_Transformers_Paddle

[2022-04-26 02:41] renmada opened #42257 "【论文复现赛】Paddle3D套件在哪"
### 请提出你的问题 Please ask your question

rt

[2022-04-26 02:53] xucncn commented on #42016
借楼问一下，我在tornado用paddle inference也遇到了类似的cudaErrorInitializationErro问题，同样是单进程正常，多进程报错。

[2022-04-26 02:59] lvweitao92 opened #42258 "飞腾cup 麒麟系统 docker 下源码编译失败"
### 请提出你的问题 Please ask your question

我看飞腾安装指南里说 python 是支持3.6 的，但是安装python 依赖的时候，安装paddle_bfloat==0.1.2  异常说是 python 需要 >=3.8 这是怎么回事
![H7RZD}C(7ME 2H)ZM8XU)A0](https://user-images.githubusercontent.com/104407428/165210800-c4e9e638-e1c5-48c2-8637-ab0f7ade1850.png)
![K4}0ZH6FXRFSP1F ( J{KT](https://user-images.githubusercontent.com/104407428/165210807-a1315b9c-cd38-4f7b-8c5b-fe1cc4932817.png)
还有我之前

[2022-04-26 04:36] simuler opened #42262 "[论文复现赛] 调用paddle.grad报错"
### bug描述 Describe the Bug

W0426 12:58:07.575986 13462 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime API Version: 10.1
W0426 12:58:07.581058 13462 device_context.cc:465] device: 0, cuDNN Version: 7.6.
Traceback (most recent call last):
  File "test.py", line 55, in <module>
    grad = paddle.grad(loss, fast_parameters, create_graph=F

[2022-04-26 04:51] ganyixian commented on #42150
好的，请问多卡训练默认是如何进行数据切分的？我在训练中发现使用单卡和使用4卡每一轮中的迭代次数是相同的，请问这是符合预期的吗？

[2022-04-26 06:44] marsbzp commented on #30759
我也在这个函数上卡了很久，才来翻issue

[2022-04-26 06:49] #25673 closed, assigned to kuke

[2022-04-26 06:49] #29990 closed, assigned to LielinJiang

[2022-04-26 06:49] #30933 closed, assigned to tink2123

[2022-04-26 06:49] #31222 closed, assigned to wangchaochaohu

[2022-04-26 06:49] #31487 closed, assigned to cryoco

[2022-04-26 06:49] #32310 closed, assigned to frankwhzhang

[2022-04-26 06:49] #32324 closed, assigned to hutuxian

[2022-04-26 06:49] #32335 closed, assigned to sandyhouse

[2022-04-26 06:49] #32337 closed, assigned to ceci3

[2022-04-26 06:49] #32359 closed, assigned to ceci3

[2022-04-26 06:49] #32371 closed, assigned to ceci3

[2022-04-26 06:49] #32372 closed, assigned to Shixiaowei02

[2022-04-26 06:49] #32382 closed, assigned to Shixiaowei02

[2022-04-26 06:49] #32391 closed, assigned to Shixiaowei02

[2022-04-26 06:49] #32400 closed, assigned to ysh329

[2022-04-26 06:49] #32422 closed, assigned to ysh329

[2022-04-26 06:49] #32423 closed, assigned to ysh329

[2022-04-26 06:49] #32429 closed, assigned to ysh329

[2022-04-26 06:49] #32453 closed, assigned to wanghuancoder

[2022-04-26 06:49] #32455 closed, assigned to nobody

[2022-04-26 06:49] #32457 closed, assigned to nobody

[2022-04-26 06:49] #32462 closed, assigned to nobody

[2022-04-26 06:49] #32464 closed, assigned to nobody

[2022-04-26 06:49] #32471 closed, assigned to nobody

[2022-04-26 06:50] #32473 closed, assigned to nobody

[2022-04-26 06:50] #32475 closed, assigned to nobody

[2022-04-26 06:50] #32489 closed, assigned to hong19860320

[2022-04-26 06:50] #32508 closed, assigned to yongqiangma

[2022-04-26 06:50] #32514 closed, assigned to zhupengyang

[2022-04-26 06:50] yinyimoshushi commented on #32453
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-04-26 06:53] tiancaishaonvjituizi commented on #40234
【队名】：我的名字连起来就是王豆豆

【序号】：28

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/42267

[2022-04-26 06:57] marsbzp commented on #10028
你好，我想问下int8模式下tensorrt子图会去做conv+bn融合操作吗

[2022-04-26 07:03] qtz980805 opened #42269 "AIStudio脚本任务，双机四卡如何指定paddle.distributed.launch的ips参数"
### 请提出你的问题 Please ask your question

AIStudio脚本任务，双机四卡如何指定paddle.distributed.launch的ips参数？
不指定ips好像是两台机器自己跑自己的？
下面的log显示PADDLE_WORLD_DEVICE_IDS只有0,1
   +=======================================================================================+
    |                        Distributed Envs                      Value                    |
    +----------------------------------------------------------

[2022-04-26 07:16] ITerydh commented on #40234
【队名】：iterhui
【序号】：107

【状态】：报名

【链接】：https://github.com/ITerydh/OCRandQPTandIS

[2022-04-26 07:29] pangyoki commented on #42234
你好，感谢反馈。麻烦提供下最小可复现代码集。我找这个优化器的负责人帮忙看下。
包括描述中提到的“使用RMSProp时，在第一次反向传播并更新权值之后，BN层的weight和bias会出现偏差，部分BN层的bias会出现严重偏差”，麻烦提高下复现代码和数据。

[2022-04-26 07:31] Mr-SGXXX commented on #42234
你是指模型的组网部分吗，还有我该怎么发给你呢，总不能直接用回复发吧

[2022-04-26 07:36] pangyoki commented on #42234
可以提取出简单的可复现代码吗？只用把RMSProp的问题暴露出来就好。

[2022-04-26 07:50] pyc0310 commented on #42228
![image](https://user-images.githubusercontent.com/70675574/165249656-1a4e1f78-affe-4bc6-bf47-e9f3cbec84b8.png)

[2022-04-26 07:53] ITerydh commented on #40234
【队名】：iterhui
【序号】：107

【状态】：提交

【链接】：https://github.com/ITerydh/OCRandQPTandIS

[2022-04-26 08:01] pyc0310 commented on #42228
![image](https://user-images.githubusercontent.com/70675574/165251754-2aec1ef6-73da-4b3f-9b58-2ae9924d0f5c.png)

[2022-04-26 08:01] pyc0310 commented on #42228
又出现这个问题

[2022-04-26 08:10] thunder95 commented on #41621
已解决

[2022-04-26 08:10] #41621 closed, assigned to sandyhouse

[2022-04-26 08:18] wanghuancoder commented on #42257
你好，请看看这里是不是你要找的
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV

[2022-04-26 08:22] wanghuancoder commented on #42262
非常感谢您的反馈，我们将复现并尽快解决该bug！

[2022-04-26 08:23] wanghuancoder commented on #42262
请负责同学 @wzzju 跟进一下该问题，感谢！

[2022-04-26 08:26] wanghuancoder commented on #42269
请 @frankwhzhang 同学帮忙回答一下，感谢！

[2022-04-26 09:16] sddi opened #42279 "关于hdfs数据读取的时候，是否有重试机制"
### 请提出你的问题 Please ask your question

近期碰到一个问题，就是采用pipe的方式读取hdfs的数据，在并发度很大的时候，类似的hdfs dfs -text等命令会出错，导致任务失败。
看了下fs_open_internal 这个函数的代码，是调用里面的shell_popen的方法。

想问下，是否支持读取错误重试，而不是直接失败呢？

[2022-04-26 09:18] Mr-SGXXX commented on #42234
[代码](https://github.com/PaddlePaddle/Paddle/files/8561681/test.zip)发出来了，在我的电脑上是可以暴露问题的

[2022-04-26 09:31] gsq7474741 commented on #40278
@chenwhql 您好，请问这个任务有在phi下对应的开发路径嘛，目前运行时的计算框架是基于fluid的还是phi呀

[2022-04-26 09:36] betterpig commented on #42066
你好，这应该是paddle中的函数模板max与Visual C++中的全局的宏max冲突导致的，可以通过在Paddle\paddle\fluid\operators\matmul_v2_op.cc(80)第80行用括号将std::max括起来解决，即`new_dims.push_back(std::max(dims_x[i], dims_y[i]));` --> `new_dims.push_back((std::max)(dims_x[i], dims_y[i]));`

[2022-04-26 09:42] frankwhzhang commented on #42269
https://aistudio.baidu.com/aistudio/clusterprojectdetail/2326380/trainTask 可以参考这个示例

[2022-04-26 09:45] qtz980805 commented on #42269
就是参考这个示例写的，但log显示
| Distributed Envs Value |
+---------------------------------------------------------------------------------------+
| PADDLE_TRAINER_ID 0 |
| PADDLE_CURRENT_ENDPOINT 127.0.0.1:39697 |
| PADDLE_TRAINERS_NUM 2 |
| PADDLE_TRAINER_ENDPOINTS 127.0.0.1:39697,127.0.0.1:44601 |
| PADDLE_RANK_IN_NODE 0 |
| PADDLE_LOCAL_DEVICE_IDS 0 |
| PADDLE_WORLD_DEVICE_IDS 0,1 |
| FLAGS_selected_gpus

[2022-04-26 11:31] luotao1 opened #42286 "【PFCC-Roadmap】算子性能优化"
### Roadmap

- **2022.6.20：** 飞桨算子性能优化方向已发邮件至 [ext_paddle_oss@baidu.com](mailto:ext_paddle_oss@baidu.com)，如果你对本方向感兴趣而未收到邮件，请发送邮件至 [ext_paddle_oss@baidu.com](mailto:ext_paddle_oss@baidu.com) 反馈。

OP性能是飞桨框架重要功能之一，通过 OP benchmark，我们发现有些OP性能不够好，没有充分利用硬件算力。[石墨表格《PFCC-Roadmap》之【飞桨 OP 性能优化】](https://shimo.im/sheets/RKAWVnVNopC1NKk8/iWoir)为当前在Paddle中部分性能需要优化的案例，我们内部在不断地进行优化。你如果对这方面有兴趣，欢迎参加此项活动。

目前主要以CUDA

[2022-04-26 11:32] #42208 closed, assigned to pangyoki

[2022-04-26 11:34] luotao1 commented on #42286
### 附录
【方向说明】

- 技术标签：深度学习框架，C++，Python，CUDA
- 详细描述：飞桨支持CPU/GPU算子计算，但是部分算子的计算性能仍存在持续优化的空间。请在不影响计算正确性和精度的情况下对算子进行性能优化，并结合 [PaddlePaddle/Benchmark](https://github.com/PaddlePaddle/benchmark) 验证算子性能优化效果。

【参与指南】：

- 飞桨成立了 [PFCC(Paddle Framework Contributor Club)](https://github.com/PaddlePaddle/community/tree/master/pfcc)，是一个有兴趣、正在、或者已经为飞桨开源框架做开源贡献的贡献者而成立的虚拟组织，在这里，飞桨开源框架的贡献者进行讨论、交流和分享，并为飞桨框架做出持续的贡献。欢

[2022-04-26 11:38] xymyeah commented on #42269
run.sh中只增加python -m paddle.distributed.launch --gpus="0,1" run.py 这样一句话就可以运行，不需要额外指定ips（aistudio会自动设置这个参数，因为实际的ip列表是动态分配的，额外指定该参数会有问题，请不要设置ips参数）

[2022-04-26 11:58] studyplacefor commented on #42152
昨天，我在aistudio的 paddle 2.3.0rc  版本上，我用的是V100   GPU.测试了这几个程序。
可喜的是  性能达到了  Yes RB take **14.394443988800049 s        /100it**   ！且动转静也不报错了。 动态图 与 动转静 时间相当的。 静态图反而慢了1-1.5s/100it ,可能这个模型太小了，并不能说明什么的。

虽然比torch 的耗时差些，但是差距不大了！《我没有 v100 的torch测试环境就没有测试torch版的程式,kaggle 上p100  我也懒得测试了)

到这里该close issue ! @Ligoml  @wanglun  @jzhang533   辛苦了！ ^_^

[2022-04-26 11:58] #42152 closed, assigned to wangxicoding

[2022-04-26 12:01] YixinKristy commented on #42257
您好，目前飞桨3D视觉套件正在开发建设中，预计6月底会发布第一版本，支持单目、点云检测与分割，敬请期待~
目前支持的3D模型：
PointNet++：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/3d_vision/PointNet++
PointRCNN：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/3d_vision/PointRCNN

[2022-04-26 12:10] qtz980805 commented on #42269
我按照您说得的这样运行后，有两个问题想请教：
1. log中PADDLE_WORLD_DEVICE_IDS只显示0,1，但是按我的理解这个不应该是0,1,2,3（四块卡）吗？
2. 我使用distributedsampler加载数据，按道理在一个epoch内两台机器会平分数据集啊，但为什么两台机器分别加载了所有的数据呢？

期望得到您的回答（实在是因为找不到官方比较详细的文档了）

[2022-04-26 12:23] leoaaaaa commented on #42206
我是通过ssh远程在阿里云上面安装的docker环境，然后开了2个链接一个启动了服务，一个做调用。

[2022-04-26 12:25] leoaaaaa commented on #42161
没有这个文件，我是用的你们的paddleX 客户端训练完直接生成的模型，但是没有这个文件
![image](https://user-images.githubusercontent.com/90248905/165299343-d210c13d-fc8b-451c-b758-bb7fbedf30b9.png)

[2022-04-26 12:27] #42157 closed, assigned to wangxicoding

[2022-04-26 12:29] xymyeah commented on #42269
抱歉，平台问题，给您带来不便

[2022-04-26 15:32] aptx1231 commented on #40234
【队名】：aptx1231

【序号】：87

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/PaddleSpatial/pull/31

[2022-04-26 15:50] xymyeah commented on #42269
sorry，给您带来了不便和困惑，经验证aistudio上是有些问题

可以先采用如下方法，先绕过去，稍后相关同学会修复该问题

在run.sh中按如下方式使用：

export PADDLE_TRAINERS=${VC_TRAINER_HOSTS}
export TRAINER_PORTS_NUM=1

python -m paddle.distributed.launch --gpus="0,1" run.py

[2022-04-26 15:52] #42257 closed, assigned to wanghuancoder

[2022-04-26 16:04] qtz980805 commented on #42269
好的辛苦了，谢谢~

[2022-04-26 16:04] #42269 closed, assigned to frankwhzhang, wanghuancoder

[2022-04-26 22:02] Water2style opened #42303 "PaddleInferece上推理量化模型的速度问题."
您好, 我在使用PPinfer推理模型, 计算推理时间的过程中,遇到一系列问题. 代码如下:

autolog.times.start()
input_handle.copy_from_cpu(img_np)   #CPU_TO_GPU
autolog.times.stamp()

predictor.run()                                        #Inference

autolog.times.stamp()
output_data = output_handle.copy_to_cpu()   #GPU_TO_CPU
autolog.times.end(stamp=True)

在上面测试了3段时间. 遇到如下问题:

1. 在带有INT8 ALU的桌面GPU上推理. 没有做量化的MobileNetV1的 GPU_TO_CPU时间是 0.4

[2022-04-27 02:19] #41827 closed, assigned to FrostML, Ligoml

[2022-04-27 02:40] moneypi commented on #42166
Ubuntu环境，不用单独执行安装cudnn的命令，用conda环境的话，两条命令就搞定所有安装了，
安装GPU驱动
[code]
安装paddlepaddle
[code]
搞定

[2022-04-27 02:44] moneypi opened #42308 "网络结构搜索官方教程代码执行报错"
### 文档链接&描述 Document Links & Description

链接： https://paddleslim.readthedocs.io/zh_CN/latest/quick_start/static/nas_tutorial.html
直接执行此代码，会报如下错误：
[code]
运行环境：
Ubuntu 20.04
paddlepaddle:2.2.2

### 请提出你的建议 Please give your suggestion

_No response_

[2022-04-27 02:47] zhijiejia commented on #42166
可是，对于实验室的机器来说，是没有root权限的，sudo apt-get install  用不了的

[2022-04-27 02:48] #30979 closed, assigned to gongweibao

[2022-04-27 02:52] moneypi commented on #42166
第一条sudo是安装gpu驱动的，如果已经安装好了，就不需要执行了，只是安装paddlepaddle-gpu的话，只需要执行第二条指令，会自动下载依赖的cudnn自动安装

[2022-04-27 02:56] zhijiejia commented on #42166
第二条命令是指:  sudo apt-get install nvidia-driver-510 吗??

如果是这句的话，那我也没权限啊，这还得用 sudo

[2022-04-27 03:08] moneypi commented on #42166
第一条
[code]
第二条
[code]

[2022-04-27 03:12] zhijiejia commented on #42166
现在的情况是，实验室的机器上没有在 /usr/local/下安装cuda, 导致系统没有默认 cuda 以及 cudnn，因为每个人的情况不一样，需要的环境不同。所以就自己装自己的，而我们要装只能装到自己的本地，可是你说的那个怎么对于 非root用户用啊？ 应该不能吧？

[2022-04-27 03:15] nuaaceieyty commented on #41482
【队名】：EICAS

【序号】：10

【论文】：Pelee: A Real-Time Object Detection System on Mobile Devices

【状态】：报名

【repo链接】：https://github.com/nuaaceieyty/Paddle_PeleeNet

[2022-04-27 03:16] moneypi commented on #42166
第一条，就问下，nvidia-smi 指令能不能看到显卡信息，如果可以看到就别再纠结cuda的问题了。
而对于第二条，anaconda环境下安装paddle，是不需要 root 权限的

[2022-04-27 03:19] zhijiejia commented on #42166
第二条可以安装 paddle, 但是它不会自己安装cudnn, 它跑不起来，我能用 nvidia-smi 但是 cudnn 没有

paddle.utils.run_check() 这句话是不行的

[2022-04-27 05:54] lguowang opened #42316 "paddle训练的时候，怎么设置一个初始化参数"
### 请提出你的问题 Please ask your question

我们的目的是为了分析不同损失对机器学习的影响，想设定一个固定的初始化参数。如在“使用线性回归预测波士顿房价”案例中，我想对线性回归的参数做一个初始化，我应该如何设置？
能给我帖几段参数代码吗？

参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/practices/quick_start/linear_regression.html

[2022-04-27 06:14] wangxicoding commented on #42150
多卡一般需要将数据切分一下，每轮相同随机种子shuffle一下，然后根据卡号取各自数据。
比如有[0, 1, 2, 3, 4, 5, 6, 7]样本，2张卡，那么不同epoch可以：
0 epoch：0卡[0, 1, 2, 3], 1卡[4, 5 ,6, 7]
1 epoch：0卡[0, 3, 6, 7]，1卡[1, 2, 4, 5]
...
这种数据切分方式可以使用DistributedBatchSampler_cn来切分，https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DistributedBatchSampler_cn.html

当然也可以每张卡不切分数据，设置不同的随机种子，确保shuffle后顺序不一致，然后读入数据。比如上面的数据，
shuffle后可能，0卡[0, 1, 2, 3, 4,

[2022-04-27 06:20] 1613863248 commented on #41482
【队名】：浪子王钢跑

【序号】：5

【论文】：HashNet: Deep Learning to Hash by Continuation

【状态】：报名

【repo链接】：https://github.com/1613863248/HashNet

[2022-04-27 06:34] Flyingdog-Huang commented on #41482
【队名】：flyingdog

【序号】：57

【论文】：Scene Text Telescope: Text-Focused Scene Image Super-Resolution

【状态】：报名

【repo链接】：https://github.com/Flyingdog-Huang/STT-paddle

[2022-04-27 06:41] Flyingdog-Huang commented on #41482
【队名】：flyingdog

【序号】：58

【论文】：On Recognizing Texts of Arbitrary Shapes with 2D Self-Attention

【状态】：报名

【repo链接】：https://github.com/Flyingdog-Huang/2D-self-attention_paddle

[2022-04-27 06:56] FlyingQianMM commented on #42161
请问预测代码是使用的PaddleX >=2.0的吗？但报错信息提示应该使用的是1.x版本的预测代码。

看您是用GUI >=2.0训练出来的模型，请使用PaddleX >=2.0的预测代码。

[2022-04-27 07:18] zhwesky2010 commented on #42316
@lguowang 使用 `paddle.nn.Linear(13, 1, weight_attr=paddle.nn.initializer.Uniform(-1, 1))`  来设置，这个 paddle.nn.initialzier 下面的目录都是初始化方式
 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/initializer/Uniform_cn.html#uniform

[2022-04-27 07:49] cosigh commented on #42119
paddle确定安装成功了，

True

[2022-04-27 08:25] Aganlengzi opened #42322 "Newly added `desc` makes DenseTensor grow too big in volume"
DenseTensor grows big in volume because newly added `desc`(696+4 vs. 4) which needs to be optimized：
<img width="625" alt="image" src="https://user-images.githubusercontent.com/5997715/165473646-e7333058-d8d2-4b03-9899-c6f903771476.png">
<img width="418" alt="image" src="https://user-images.githubusercontent.com/5997715/165473594-3c8126e4-3d6f-4f73-afd6-9664af4ef666.png">

related：https://github.c

[2022-04-27 08:32] sled100 opened #42323 "paddle-lwfx"
### 问题描述 Please describe your issue

【队名】：sled100

【序号】：31

【论文】：PSANet: Point-wise Spatial Attention Network for Scene Parsing

【状态】：报名

【repo链接】：https://github.com/sled100/PSANet_paddle

[2022-04-27 08:34] ganyixian commented on #42150
在每一次迭代中对不同GPU上的损失梯度求平均的操作是在优化器的step()函数里完成的吗？有没有办法能让不同GPU在这一步时先不计算平均梯度，之后再手动计算？

[2022-04-27 09:07] ZHUI opened #42324 "[需求] Layer.set_state_dict 支持返回参数加载情况"
### 需求描述 Feature Description

Layer.set_state_dict
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/dygraph/layers.py#L1429-L1450

期望对齐 torch
https://github.com/pytorch/pytorch/blob/7c7eb351c306e1db683dc4318288fd8479f6ef36/torch/nn/modules/module.py#L1433-L1455

返回load时候，缺失和多余的 keys
[code]

### 替代实现 Alternatives

_No response_

[2022-04-27 09:13] ForFishes commented on #42150
1、不是在step中完成，是在backward()中完成，和反向计算一起overlap执行。2、可以调用no_sync接口，屏蔽backward阶段的梯度同步，然后在backward()结束后，再手动调用通信算子实现梯度同步。
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/DataParallel_cn.html#dataparallel

[2022-04-27 09:18] zlsh80826 commented on #40230
Fixed by https://github.com/PaddlePaddle/Paddle/pull/42230, close.

[2022-04-27 09:18] #40230 closed, assigned to qingqing01, zhiboniu

[2022-04-27 09:30] zlsh80826 commented on #41932
Fixed by https://github.com/PaddlePaddle/Paddle/pull/42205

[2022-04-27 09:30] #41932 closed, assigned to xingjing1, Thunderbrook

[2022-04-27 09:46] HarryUP-rhy opened #42328 "paddle2.0 静态图，网络参数不优化"
### bug描述 Describe the Bug

paddle版本2.0
使用股票环境中的收盘价作为输入，利用LSTM网络产生交易动作(0,1)，在执行交易动作之后产生买卖
的收益(reward),再由reward来计算两次交易之间的微分夏普率。将微分夏普率当作目标函数去优化
LSTM网络。

在loss函数中加入predict_act之后还是一样不能优化，是什么问题呢？

import gym
import gym_anytrading
from gym_anytrading.envs import TradingEnv, ForexEnv,StocksEnv,Actions,Positions
from gym_anytrading.datasets import FOREX_EURUSD_1H_ASK,STOCKS_GOOGL
import matplotlib.pyplot

[2022-04-27 12:43] leoaaaaa commented on #42161
paddlex >=2.0的预测代码是什么意思？？？我直接python predict.py 有问题？
![image](https://user-images.githubusercontent.com/90248905/165519354-9c4a806b-4b6a-4589-a06d-dca03f1cb9c2.png)

[2022-04-27 12:49] leoaaaaa commented on #42206
能回复一下吗？谢谢

[2022-04-28 01:12] hd201708010401 commented on #41482
【队名】：fly

【序号】：48

【论文】：StyleFlow: Attribute-conditioned Exploration of StyleGAN-Generated Images using Conditional Continuous Normalizing Flows

【状态】：报名

【repo链接】：https://github.com/hd201708010401/styleflow

[2022-04-28 02:05] Aganlengzi commented on #40559
@Meiyim hi，我先close这个issue了，有问题欢迎随时reopen再联系我，谢谢！

[2022-04-28 02:05] #40559 closed, assigned to Aganlengzi

[2022-04-28 03:08] 2050airobert opened #42341 "Out of memory error on GPU，然而可用内存足够 ！"
### bug描述 Describe the Bug

Hi，
我这边按照文档跑picodet量化训练的时候遇到个奇怪的问题，不管我怎么修改batchsize总是说gpu内存不够，我是双卡，而且可用内存明显都是10GB以上，每个卡都是，而且跑其他的任务都很正常。我还更改 leos.environ[‘FLAGS_eager_delete_tensor_gb’] = “0.9” 都没什么用。具体log如下：
SystemError: (Fatal) Operator elementwise_add raises an paddle::memory::allocation::BadAlloc exception.
The exception content is
:ResourceExhaustedError:

Out of memory error on GPU 0. Cannot allo

[2022-04-28 03:10] Thunderbrook commented on #42279
可以尝试使用SlotRecord，支持重试，使用方式如下：
dataset.set_feed_type("SlotRecordInMemoryDataFeed")

[2022-04-28 03:17] TCChenlong commented on #42323
你好，报名论文复现，请回复这个 ISSUE：https://github.com/PaddlePaddle/Paddle/issues/41482

[2022-04-28 03:17] #42323 closed, assigned to zhwesky2010

[2022-04-28 03:24] zhwesky2010 commented on #42303
@TeslaZhao 可以帮忙回答下这个推理问题吗

[2022-04-28 03:27] haileewu opened #42342 "Fatal Python error: Segmentation fault ; python/lib/python2.7/site-packages/paddle/fluid/executor.py", line 894 in infer_from_dataset"
### 问题描述 Additional Supplementary Information

train的时候完全没问题，infer的时候core掉
copy_program = main_program.clone()
pruned_program = copy_program._prune([],targets=target_vars)
inference_program = pruned_program._inference_optimize()
infer用的dataset没有问题，用同样dataset去train没有问题，只有在infer的时候core

[2022-04-28 03:34] doombeaker commented on #40234
【队名】：OneBeaker

【序号】：70

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/docs/pull/4689

[2022-04-28 03:34] zhwesky2010 commented on #42308
@moneypi 感谢提出问题，我们后续会修复该文档的bug

[2022-04-28 03:37] zhwesky2010 commented on #42308
@ceci3 你好，麻烦看下这里的文档问题，另外 发现这里input_data少了个输入，也是跑不了的
![infoflow 2022-04-28 11-36-14](https://user-images.githubusercontent.com/52485244/165671325-7eb30600-0a23-447d-ad3f-15bb77f3d61e.png)

[2022-04-28 03:42] moneypi commented on #42308
我已解决此问题，链接 https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/quick_start/static/nas_tutorial.md
是正确的。
请更新教程文档

[2022-04-28 03:48] zhwesky2010 commented on #42322
@Aganlengzi Is the question about optimizing `DenseTensor`  or what?

[2022-04-28 03:51] zhwesky2010 commented on #42324
@ZHUI 是说我们的 `Layer. set_state_dict` 没有返回值对吧，这个需求可以支持

[2022-04-28 03:55] Aganlengzi commented on #42322
@zhouwei25 hi，it is about `desc` in DenseTensor, I have added label `Intel` and @lidanqing-intel will follow up.

[2022-04-28 03:58] zhwesky2010 commented on #42328
@RenHyz 麻烦附一下这段错误代码的链接

[2022-04-28 04:01] RenHyz commented on #42328
这里面粘贴的就是源代码

[2022-04-28 04:02] HarryUP-rhy commented on #42328
@zhouwei25 这里面粘贴的就是源代码下面是输出的结果

[2022-04-28 04:04] zhwesky2010 commented on #42328
@RenHyz 这个图片是我们的文档代码吗

[2022-04-28 04:05] zhwesky2010 commented on #42328
@RenHyz 可以打印出 fluid.layers.fc对应的 参数看看

[2022-04-28 04:07] HarryUP-rhy commented on #42328
@zhouwei25 这个图片是之前提问老师给出的解决方法。

[2022-04-28 04:10] lapertme2 commented on #41482
【队名】：LAPERTME

【序号】：1

【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search

【状态】：报名

【repo链接】：https://github.com/lapertme2/la_Cream

[2022-04-28 04:11] hd201708010401 commented on #41482
邮件已经收到，谢谢。I have received your email. Thank you for your letter.

[2022-04-28 04:11] yangguohao opened #42345 "Paddle Hackthon GradOp"
### 请提出你的问题 Please ask your question

请问一下反向传播的算子正确的注册步骤中，需要添加反向Kernel参数映射函数吗？在[C++OP开发](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/api_contributing_guides/new_cpp_op_cn.html)中提到了，
但是参考其他已有的算子中并没有添加参数映射函数。

以下是我自己编写的反向传播算子 [pr地址](https://github.com/PaddlePaddle/Paddle/pull/41951/)

`// grad_kernel.cc
#include "paddle/phi/kernels/soft_margin_loss_grad_kernel.h"

#inclu

[2022-04-28 04:28] cyk1337 opened #42346 "大词表下，softmax op显存占用过高"
### 需求描述 Feature Description

任务目标：预训练语言模型; <br /> 需求场景：词表较大情况(250k+);  <br /> 功能描述 base模型的batch size无法开大。

### 替代实现 Alternatives

_No response_

[2022-04-28 04:29] HarryUP-rhy commented on #42328
@zhouwei25 打印出的fluid.layers.fc
![image](https://user-images.githubusercontent.com/79981943/165676704-e8765060-fcb8-46eb-8c97-0a983d48dabf.png)

[2022-04-28 05:14] haozech commented on #42346
您好，能详细描述下问题么？例如paddle版本，硬件信息，具体报错信息，最好再提供下业务无关的可复现代码

[2022-04-28 05:16] haozech commented on #42342
你好，能否提供下paddle版本信息，硬件信息，最好能够有业务无关的可复现代码

[2022-04-28 05:22] haozech commented on #42341
Out of memory error on GPU 0. Cannot allocate 126.562744MB memory on GPU 0, 23.683105GB memory has been allocated and available memory is only 16.812500MB.
从报错信息上看是没法分配足够显存，建议先停掉其他占用显存的进程，用nvidia-smi确认下，然后再跑量化训练试试？

[2022-04-28 05:27] studyplacefor opened #42348 "新的paddle 2.3rc与 2.2或2.1版梯度更新不同，导致模型loss NAN"
### bug描述 Describe the Bug

  这次是  继 issue #42152 之后的另一坑吧！

同一代码，同一输入变量， 只是卷积的初始参数不同。 （我没有看过2.3rc 与 2.2/2.1 版的卷积参数初始化参数是不是真的有什么不同，按理说应该没有的）

----------------
1000 iter 内  loss 递减幅度 (打印/100step )：
2.1版
![image](https://user-images.githubusercontent.com/50259160/165680941-f335f74e-a5e3-4384-8795-f8f83ec9bb61.png)

2.3rc版
![image](https://user-images.githubusercontent.com/50259160/165681143-3a40a22e-

[2022-04-28 05:29] LincolnInGithub commented on #41482
【队名】：DetectoRS-SF

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution

【状态】：报名

【repo链接】：https://github.com/LincolnInGithub/DetectoRS

[2022-04-28 05:54] 2050airobert commented on #42341
hi，haozech

事实上并不是，你说的我都检查过了，而且上面我也提到过了 “”“我是双卡，而且可用内存明显都是10GB以上”
我的环境也写得清清楚楚
另外我的环境是 ubuntu20.04 gpu3090双卡，cuda11.4 我采用的paddle-gpu是paddle官方推荐的 ubuntu cuda11.2以上的那个最新的版本安装的。 其他的如下：
paddledet 2.4.0
paddlepaddle-gpu 2.2.2.post112
paddleslim 2.1.1
您是还需要什么其他的信息来辅助吗？ 麻烦您再帮忙看下呗？
备注：您有什么需要的跟我提就好，您说的这些我上面提到过了，没问题的。而且我相信paddle不可能强制要求独占gpu吧？
BR

[2022-04-28 06:10] gsq7474741 opened #42349 "[PFCC]clang-format 版本过低"
### bug描述 Describe the Bug

在 [clang_format.hook](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/codestyle/clang_format.hook)中

<img width="892" alt="image" src="https://user-images.githubusercontent.com/38883252/165687939-e2f1a97f-973f-4a4f-8942-1c16b46c20ac.png">

paddle使用的clang-format版本为3.8，但是实际在一些开发环境中很难找到3.8版本的，因为太旧了。希望paddle可以考虑更换版本，或设定版本大于多少。

### 其他补充信息 Additional Supplementary

[2022-04-28 06:19] liyancas commented on #42303
同学你好，copy_from_cpu和predictor.run是异步执行（CPU调用GPU函数立即返回），因此统计的时间不代表相应的GPU计算已经完成，copy_to_cpu内部有同步操作，因此，统计Inference的执行时间应该从copy_from_cpu之前到copy_to_cpu之后。

[2022-04-28 06:25] Water2style commented on #42303
好的谢谢

[2022-04-28 06:30] huaibovip commented on #41482
【队名】：小鸡毒蘑菇

【序号】：43

【论文】：[Taming Transformers for High-Resolution Image Synthesis](https://paperswithcode.com/paper/taming-transformers-for-high-resolution-image)

【状态】：报名

【repo链接】：https://github.com/huaibovip/paddle-taming-transformers

[2022-04-28 06:39] haozech commented on #42349
您好，您的意见已收到，我们会尽快分析回复！

[2022-04-28 06:41] gsq7474741 commented on #42349
可能还需要对齐不同版本的clang-format，或者对所有代码重新format

[2022-04-28 07:06] sled100 opened #42352 "paddle-lwfx"
### 问题描述 Please describe your issue

【队名】：sled100

【序号】：31

【论文】：PSANet: Point-wise Spatial Attention Network for Scene Parsing

【状态】：报名

【repo链接】：https://github.com/sled100/PSANet_paddle

[2022-04-28 07:08] sled100 commented on #41482
【队名】：sled100

【序号】：31

【论文】：PSANet: Point-wise Spatial Attention Network for Scene Parsing

【状态】：报名

【repo链接】：https://github.com/sled100/PSANet_paddle

[2022-04-28 07:09] jiaerwang0328 opened #42353 "paddlepaddle2.2 源码cmake时模块下载失败"
### 请提出你的问题 Please ask your question

paddlepaddle2.2 源码cmake时模块下载失败
[code]

[2022-04-28 07:18] jzhang533 commented on #42349
duplicate: #42111

[2022-04-28 07:27] ZHUI commented on #42324
是的，没错。

[2022-04-28 07:29] BerryRB opened #42358 "aarch64源码编译paddle报错"
### 问题描述 Issue Description

在 https://hub.docker.com/r/paddlepaddle/paddle/tags?page=1&name=aarch docker镜像包中编译paddle，服务器架构为aarch64，编译部分log如下：

**
[ 95%] Built target final_dygraph_node
[ 95%] Built target final_dygraph_function
[ 95%] Built target parallel_ssa_graph_executor
[ 95%] Built target eager_reducer
[ 95%] Built target async_ssa_graph_executor
[ 95%] Built target parallel_executor
[ 95%]

[2022-04-28 07:31] BerryRB commented on #42358
编译命令：
1、cmake .. -DPY_VERSION=3.7 -DWITH_ASCEND=OFF -DWITH_ARM=ON -DWITH_ASCEND_CL=OFF          -DWITH_ASCEND_INT64=ON -DWITH_TESTING=OFF -DON_INFER=ON -DWITH_GPU=OFF          -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
2、make TARGET=ARMV8 -j$(nproc)

编译最后错误截图如下：
![image](https://user-images.githubusercontent.com/34699510/165700645-2d11ebf3-8c3d-4a3a-adfc-d06750c50833.png)

[2022-04-28 07:40] Ligoml commented on #42352
报名在这里哈：https://github.com/PaddlePaddle/Paddle/issues/41482

[2022-04-28 07:40] #42352 closed, assigned to haozech

[2022-04-28 07:54] zhwesky2010 commented on #42328
@RenHyz 用PrintOP打印Tensor值，看参数变化了没，你这里看到的只是一个占位符信息，帮助不了调试 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/Print_cn.html#print

[2022-04-28 08:08] gsq7474741 commented on #42349
ok

[2022-04-28 08:08] #42349 closed, assigned to betterpig

[2022-04-28 08:28] #42345 closed, assigned to haozech

[2022-04-28 08:32] chenwhql commented on #42348
您说的是2.3rc那张图中，loss急剧下降的现象吧

我在本地用您提供的脚本和数据，尝试复现了一下，发现2.2和2.1好像也是同样现象，是还需要什么配置才能按预期执行吗？

2.2.2
![image](https://user-images.githubusercontent.com/22561442/165711742-aa469137-1d06-496f-96f4-21677c8685ba.png)

2.1.3
![image](https://user-images.githubusercontent.com/22561442/165711478-a7efe876-f075-4ae9-9159-07866fa4739c.png)

[2022-04-28 08:43] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：21

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/42364

[2022-04-28 09:02] haozech commented on #42358
您好！从报错信息上看，是pybind部分出错，可以尝试检查下python相关的版本，是否是用最新的paddle develop分支下编译的？如果是的话可以切换到上一个稳定版本2.2试试。另外源码编译流程可以参考这个文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/arm-compile.html

[2022-04-28 09:08] haozech commented on #42353
你好，这个看起来是libcurl的问题，请参考下面这两个链接，可能会有帮助：
https://blog.51cto.com/liupengfang1015/1945846
https://github.com/ethz-asl/gflags_catkin/issues/15

[2022-04-28 09:09] zzc98 commented on #41482
【队名】：大山坡

【序号】：11

【论文】：Destruction and Construction Learning for Fine-grained Image Recognition

【状态】：提交

【repo链接】：https://github.com/zzc98/PaddlePaddle_DCL

[2022-04-28 09:11] haozech commented on #42341
感谢回复，我没理解错的话，同样环境下用paddle跑其他模型训练都正常，只是picodet量化训练会报这个错，是么？能否提供下『按照文档跑picodet量化训练』这里说的文档链接

[2022-04-28 09:20] dashuiga commented on #41482
【队名】：大水缸

【序号】：38

【论文】：UNETR: Transformers for 3D Medical Image

【状态】：报名

【repo链接】：https://github.com/dashuiga/paddle-UNETR

[2022-04-28 09:21] 2050airobert commented on #42341
1 请参考PaddleDetection中的demo进行量化训练：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim
可以参考quant/picodet_s_416_lcnet_quant.yml 修改后跑tinypose的量化训练
2 当然如果您觉得paddle-gpu版本环境不一定出问题，您可以给我个链接 用一个最简单的，数据依赖比较少或者coco数据集的模型，而且最可靠很容易训练起来的参考链接给我下，我一步步看下行不行？ 您看行吗？

[2022-04-28 09:24] jiaerwang0328 commented on #42353
好的，非常感谢！

[2022-04-28 09:29] huaibovip commented on #41482
【队名】：小鸡毒蘑菇

【序号】：37

【论文】：[nnFormer: Interleaved Transformer for Volumetric Segmentation](https://arxiv.org/pdf/2109.03201)

【状态】：报名

【repo链接】：https://github.com/huaibovip/paddle-nnFormer

[2022-04-28 09:44] HarryUP-rhy commented on #42328
@zhouwei25 调试的时候发现训练的时候FC的参数除了输入的data值变了其他的都没变
![image](https://user-images.githubusercontent.com/79981943/165725344-b9257143-d64f-4049-8977-8946e44eee68.png)

[2022-04-28 10:46] wj-Mcat commented on #40234
【队名】：小猫

【序号】：93

【状态】：PR提交

【PR链接】：https://github.com/tata1661/FSL-Mate/pull/23

[2022-04-28 10:54] haozech commented on #42341
目前首先需要定位下问题，要确认下在您的环境下运行其他训练任务是否报错（最简单的训练任务请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/01_quick_start_cn.html ） 如果报错，则证明应该是环境配置问题，如果不报错，则应该是这个PaddleDetection中的demo量化模型训练的问题，这样定位后方便我找对应的同学为您解决问题。

[2022-04-28 11:00] #42353 closed, assigned to haozech

[2022-04-28 11:02] jiaerwang0328 opened #42372 "paddle2.2源码编译报错"
### 请提出你的问题 Please ask your question

ubuntu18.04,cuda10.2,gcc7.5 编译报错
`/usr/lib/gcc/x86_64-linux-gnu/7/include/avx512fintrin.h(1761): error: identifier "__builtin_ia32_sqrtsd_round" is undefined`

[2022-04-28 11:31] zhuba-Ahhh commented on #41482
【队名】：啊对对队
【序号】：129
【论文】：Self-consistent determination of long-range electrostatics in neural network potentials (nature.com)
【状态】：报名
【repo链接】：[zhuba-Ahhh/Paddle_SCFNN (github.com)](https://github.com/zhuba-Ahhh/Paddle_SCFNN)

[2022-04-28 11:33] Mr-SGXXX commented on #42234
请问这个问题是否正在被解决呢

[2022-04-28 11:48] studyplacefor commented on #42348
@[chenwhql](https://github.com/chenwhql)，多谢你的回复！
我的本地上即安有torch,双安有paddle的！
   GTX1070ti  :
![image](https://user-images.githubusercontent.com/50259160/165743915-c7e6a0b2-b352-463a-935c-0dd69dba0b5d.png)

aistudio r2.3.0rc     V100 ：
![image](https://user-images.githubusercontent.com/50259160/165750854-6bcc53d6-3222-4687-8391-892f0ef5c054.png)

测试的代码就是我上传的xtestpd.py   ,  python  xtestpd.py
**模型的输入就

[2022-04-28 12:16] haozech commented on #42372
你好，这里建议参考文档，在docker环境中进行编译 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html  请注意编译选项设置正确

[2022-04-28 12:20] Victory8858 commented on #41482
【队名】：Victory8858

【序号】：6

【论文】：[Instances as Queries](https://arxiv.org/abs/2105.01928)

【状态】：报名

【repo链接】：https://github.com/Victory8858/QueryInst

[2022-04-28 12:22] zhuba-Ahhh commented on #41482
【队名】：啊对对队

【序号】：129

【论文】：Self-consistent determination of long-range electrostatics in neural network potentials (nature.com)

【状态】：报名

【repo链接】：[zhuba-Ahhh/Paddle_SCFNN (github.com)](https://github.com/zhuba-Ahhh/Paddle_SCFNN)

[2022-04-28 13:09] flytocc commented on #41482
【队名】：拼手速

【序号】：8

【论文】：A ConvNet for the 2020s

【状态】：提交

【repo链接】：https://github.com/flytocc/ConvNeXt-paddle

[2022-04-28 13:36] leoaaaaa opened #42381 "liunx访问内部docker paddle serving"
### 问题描述 Issue Description

liunx中安装了docker，并且部署了paddleserving，docker内可以进行调用模型预测，
但是想问在liunx上怎么访问内部docker paddle serving 模型进行预测？
![image](https://user-images.githubusercontent.com/90248905/165764580-d47ea372-02a9-44b7-9182-9c58935ff361.png)

### 版本&环境信息 Version & Environment Information

Ubuntu16.04
docker

[2022-04-28 13:37] leoaaaaa commented on #42161
能回复一下吗 谢谢了

[2022-04-28 13:49] yangguohao opened #42383 "Paddle Hackthon Grad Operators"
### 请提出你的问题 Please ask your question

在[C++OP开发](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/api_contributing_guides/new_cpp_op_cn.html)中提到反向算子

注册GradOp始终不成功 [PR地址](https://github.com/PaddlePaddle/Paddle/pull/42364)

[2022-04-28 14:48] kunkun0w0 commented on #41482
【队名】：Try

【序号】：136

【论文】：Learning Mesh-Based Simulation with Graph Networks

【状态】：报名

【repo链接】：https://github.com/kunkun0w0/paddle-meshgraphnet

[2022-04-28 15:03] thunder95 commented on #40234
【队名】：thunder95

【序号】：15

【状态】：PR提交

【PR链接】：https://github.com/PaddlePaddle/Paddle/pull/42385

[2022-04-28 15:21] leoaaaaa opened #42386 "paddleX部署paddleServing"
### 请提出你的问题 Please ask your question

paddleX训练的模型怎么用paddleServing的方式进行部署？
![image](https://user-images.githubusercontent.com/90248905/165787042-dbd28ffb-23a2-42e6-a44f-2c0b6764094e.png)

![image](https://user-images.githubusercontent.com/90248905/165787123-5e81b053-4f15-4ae7-a572-fe3c8f9c99d9.png)

[2022-04-28 15:46] 2050airobert commented on #42341
hi，
如下图，环境是ok，gpu能训练起来，而且还有10多GB，batchsize那么小，足够啦！还是麻烦您帮忙看下，哪里的问题吧，多谢！
![image](https://user-images.githubusercontent.com/8407513/165792154-08fe76b1-2fd3-4bdb-a555-69600fa1b377.png)

[2022-04-29 00:57] team-wzj commented on #40234
【队名】：wzj

【序号】：45

【状态】：报名

【链接】：https://github.com/team-wzj/Paddle

[2022-04-29 00:57] team-wzj commented on #40234
【队名】：wzj

【序号】：44

【状态】：报名

【链接】：https://github.com/team-wzj/Paddle

[2022-04-29 01:38] 0xzhang commented on #40234
【队名】：Master

【序号】：88

【状态】：PR提交

【链接】：https://github.com/taichi-dev/taichi/pull/4886

[2022-04-29 01:39] marsbzp opened #42387 "paddle int8模式下会对bn进行融合吗，如果不融合tensorrt会最优化吗"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/20138766/165872935-b43d46fb-545e-4d19-a51f-66f2358dbce0.png)

[2022-04-29 01:58] jzhang533 commented on #38379
我们在2.3版本中会原生支持M1芯片的CPU，以及python3.10，大家敬请期待。
cc: @dingjiaweiww @pangyoki

[2022-04-29 02:08] HarryUP-rhy opened #42389 "BMLcodelab中gym数据集更换"
### 请提出你的问题 Please ask your question

在BML codelab中安装了gym-anytrading股票交易环境，如何更换自己想用的数据集呢？
在pycharm中可以找到虚拟环境中gym-anytrading的安装路径，在data文件夹下添加自己的数据集，修改__init__文件注册自己的环境名就可以了。
请问BML中如何更换？

[2022-04-29 02:14] RenHyz commented on #42146
import gym
import gym_anytrading
from gym_anytrading.envs import TradingEnv, ForexEnv,StocksEnv,Actions,Positions
from gym_anytrading.datasets import FOREX_EURUSD_1H_ASK,STOCKS_GOOGL
import matplotlib.pyplot as plt
import numpy as np
from copy import deepcopy
import warnings
with warnings.catch_warnings():
    warnings.filterwarnings("ignore",category=DeprecationWarning)
    import paddle.fluid as

[2022-04-29 02:18] HarryUP-rhy commented on #42146
@wangxicoding
`import gym
import gym_anytrading
from gym_anytrading.envs import TradingEnv, ForexEnv,StocksEnv,Actions,Positions
from gym_anytrading.datasets import FOREX_EURUSD_1H_ASK,STOCKS_GOOGL
import matplotlib.pyplot as plt
import numpy as np
from copy import deepcopy
import warnings
with warnings.catch_warnings():
warnings.filterwarnings("ignore",category=DeprecationWarning)
import paddle.f

[2022-04-29 02:39] songjhaha commented on #40234
【队名】：适格的魔法师
【序号】：95
【状态】：提交
【链接】：https://github.com/songjhaha/PaddleChainRules.jl

[2022-04-29 02:45] marsbzp commented on #42387
![image](https://user-images.githubusercontent.com/20138766/165877931-1299215c-dfcc-4ee9-a4c7-6056c4785608.png)
pass阶段会把conv_bn_fuse_pass过滤掉，留给tensorrt自己做吗，tensorrt是如何做的

[2022-04-29 02:47] TeslaZhao commented on #42381
使用paddle Serving的版本是？
启动docker的时候是否有--network=host ?

[2022-04-29 02:49] ltto commented on #38379
请问当前的2.3rc版本支持M1吗

[2022-04-29 02:50] TeslaZhao commented on #42386
训练生成模型后，先安装paddle_serving_client
然后，运行命令保存运行模型必备的参数。然后启动模型。
`python -m paddle_serving_client.convert --dirname . --model_filename dygraph_model.pdmodel --params_filename dygraph_model.pdiparams --serving_server serving_server --serving_client serving_client`

链接：https://github.com/PaddlePaddle/Serving/blob/v0.8.3/doc/Save_CN.md

[2022-04-29 02:54] qili93 commented on #42389
抱歉，Paddle issue仅回答Paddle框架相关问题，BML的使用问题，请联系BML的技术支持，谢谢！

[2022-04-29 03:00] ImNoBadBoy commented on #40234
【队名】：xd_no-bad
【序号】：111
【状态】：提交PR
【链接】：https://github.com/PaddlePaddle/docs/pull/4708

[2022-04-29 03:00] yghstill commented on #42341
@2050airobert 确保GPU空闲时，将slim_config中batch_size调成1试下
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/slim/quant/picodet_s_416_lcnet_quant.yml#L13

[2022-04-29 03:13] AndPuQing commented on #40234
【队名】：啊对对对
【序号】：94
【状态】：提交PR
【链接】：https://github.com/lululxvi/deepxde/pull/562

[2022-04-29 03:41] FlyingQianMM commented on #42161
- 未导出的模型加载预测参考文档：https://github.com/PaddlePaddle/PaddleX/blob/develop/docs/apis/prediction.md
- 已导出的模型推理推测，python参考：https://github.com/PaddlePaddle/PaddleX/blob/develop/docs/python_deploy.md

[2022-04-29 03:46] renmada commented on #41482
【队名】：岚之山吃到饱

【序号】：4

【论文】：STANet for remote sensing image change detection

【状态】：报名

【repo链接】：https://github.com/renmada/STANET-Paddle-lite

飞桨特色模型挑战赛

[2022-04-29 03:55] huaibovip commented on #41482
【队名】：小鸡毒蘑菇

【序号】：4

【论文】：[CvT: Introducing Convolutions to Vision Transformers](https://arxiv.org/abs/2103.15808)

【状态】：报名

【repo链接】：https://github.com/huaibovip/paddle-CvT

[2022-04-29 03:56] chenwhql commented on #42383
看CI的报错，好像是计算结果数值有问题，不是注册没成功，留了个评论

[2022-04-29 04:11] leoaaaaa commented on #42381
版本：
![图片](https://user-images.githubusercontent.com/90248905/165884196-6844a0e9-0b09-4f00-b1c8-0af91fcceb00.png)
进入docker过程：
![图片](https://user-images.githubusercontent.com/90248905/165884207-fcb72364-7537-456c-b260-f61f4f8a74be.png)

[2022-04-29 05:34] #42303 closed, assigned to TeslaZhao, zhwesky2010

[2022-04-29 05:37] #42316 closed, assigned to zhwesky2010

[2022-04-29 05:38] wangzhen38 commented on #42262
选手接口用法不对，已私聊，issue关了就行

[2022-04-29 05:46] #42262 closed, assigned to wzzju, wanghuancoder

[2022-04-29 06:09] 2050airobert commented on #42341
hi，
    我把batch_size设置为1之后，gpu确实训练起来了。我把batch_size设置为2的时候也可以，但是设置为24就崩了。。。
    感觉大概每个batch_size用了1GB的gpu内存。。。 这会不会太高了！！！
    如果我要开到64的话 那A100也不够啊。。。
    麻烦帮忙check下，这合理吗？是否还是哪里有问题，能帮忙查下吗？ 多谢

BR

[2022-04-29 06:10] jzhang533 commented on #38379
是可以编译出来M1上Arm架构的包的。
正式的官方编译出来的binary package，会在2.3版本编出来，并上传到pypi源。

[2022-04-29 06:26] Wangzheee commented on #42387
您好~这个是为了保证量化训练的精度做的一些判断，这个虽然在外部没有对conv+bn融合，但在trt内部是有融合的，不影响性能

[2022-04-29 06:58] qtz980805 commented on #42348
确实，使用2.3.0rc我也出现几次迭代就NAN的情况了，之前在2.2.0上Loss是正常的。

[2022-04-29 07:06] qtz980805 commented on #42152
兄弟，还可以试着提升一下cudnn版本，会有惊喜哦

[2022-04-29 08:23] #42389 closed, assigned to qili93

[2022-04-29 09:03] ltto commented on #41514
加油加油加油加油

[2022-04-29 09:13] Baibaifan commented on #41950
We confirm that our machine supports AVX512 (AVX512F flag is on)，We want to test the performance comparison of Adam with a fixed size parameter between Pytorch's Adam and high-performance version Adam.

[2022-04-29 09:20] renmada commented on #41482
【队名】：岚之山吃到饱

【序号】：4

【论文】：STANet for remote sensing image change detection

【状态】：提交

【repo链接】：https://github.com/renmada/STANET-Paddle-lite

飞桨特色模型挑战赛

[2022-04-29 09:20] Aganlengzi commented on #41950
@wozna hi, Please refer to @Baibaifan's comment, operator level performance comparison is enough.

[2022-04-29 09:26] pmajchrzak opened #42401 "DYGRAPH Resnet training runtime fail"
### bug描述 Describe the Bug

### A case report:
From the beginning of April'22 2022 (it is difficult to determine the exact date and exact commit) Dygraph train.py script for the dygraph/resnet model from the https://github.com/PaddlePaddle/models/tree/develop repository (branch develop) has stopped working.

It was verified that the model resnet worked properly for an earlier version of PaddlePadd

[2022-04-29 09:35] ltto opened #42402 "2.3.0-rc0 macbook M1Pro 源码编译失败"
### 请提出你的问题 Please ask your question

环境
💻:macbook pro 14寸 M1Pro芯片
OS: MacOS 12.3.1
CPU:apple M1 pro
Python: 官网下载的 Python 3.10.4
[code]
Paddlepaddle源码下载地址:   https://github.com/PaddlePaddle/Paddle/releases/tag/v2.3.0-rc0
源码编译教程参考:                   https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/macos-compile.html
环境变量
[code]
运行命令
[code]
错误信息如下
![image](https://user-images.gi

[2022-04-29 09:38] ltto commented on #42402
我上翻控制台 看到这里出现了 2处warning 和1处error
![image](https://user-images.githubusercontent.com/24884691/165920513-6d82b4bd-4131-4b10-ba81-1db3de5023a4.png)
![image](https://user-images.githubusercontent.com/24884691/165920572-33f722b0-e816-4123-a843-54c5fdd23efa.png)
![image](https://user-images.githubusercontent.com/24884691/165920612-21ee4a44-9df5-4b61-bc4f-40088704cd91.png)

[2022-04-29 09:40] ltto commented on #38379
我在我的MacBook 14寸 M1Pro芯片上编译失败
 https://github.com/PaddlePaddle/Paddle/issues/42402

[2022-04-29 09:41] Youmimzy opened #42403 "同样的模型结构相同的输入，paddle与pytorch 在forward的fcn_out输入不同，pytorch 每次运行fcn_out输出都是相同的，而paddle每次运行fcn_out都在改变"
**paddle网络结构代码**
[code]

**fcn_out 输出（每次运行结果都在改变）：**
![image](https://user-images.githubusercontent.com/49750484/165920094-e0c2ebf0-93b2-40e4-8d6c-730b08086873.png)

**torch 代码**

[code]

**fcn_out 输出（值是固定不变的）**
![image](https://user-images.githubusercontent.com/49750484/165920875-9de0bc07-4d67-44fa-94d3-98fa3f300ec2.png)

**请问这是因为什么导致的，非常感谢。**

[2022-04-29 09:44] Baibaifan commented on #41950
@wozna  Hi, I think V100-32G can be used for testing, and the performance comparison of Adam and AdamW for 5000 times parameters optimization with fixed size parameters and gradients between Pytorch and high-performance version.

[2022-04-29 09:50] ltto commented on #42402
再次运行
[code]
![image](https://user-images.githubusercontent.com/24884691/165922597-25c018cc-8d89-4b15-b3e5-b4cbc5a69a86.png)

[2022-04-29 10:14] FlyBirdF commented on #42066
你好，修改这行代码可以编译成功了。谢谢解答！

[2022-04-29 11:19] Ligoml opened #42410 "🤩飞桨社区活动总览"
大家好，这里用于展示飞桨社区的热门活动，飞桨团队会按照时间倒序增加活动 issue 的介绍与详情链接，你可以依据自己的兴趣与能力参加正在进行中的社区活动并获得奖励，活动结束后我们会及时 close 活动 issue。have fun~

### LearnDL框架学习计划
- [ ] https://github.com/sunzhongkai588/LearnDL
- 活动时间：2023/02/22-2023/05/31（暂定）
- 活动介绍：深度学习框架开发有较高的门槛，很多人只能是望而却步。因此这门课程面向广大初学者开设，帮助开发者们提升技术水平。并以该课程为契机，为大家提供一个相互学习、交流的平台。在我们的课程里，你能学习到深度学习原理和编程知识，也能接触到深度学习的前沿信息，还能和业内资深开发者实时互动！！

### 飞桨快乐开源活动
- [ ] https://github.c

[2022-04-29 11:25] D-DanielYang commented on #42410
nice, up up！

[2022-04-29 11:34] pangyoki commented on #42402
看你用的python3.10，可以在cmake编译选项里把-DWITH_ARM=ON打开，Mac m1设置 -DWITH_AVX=OFF。
另外，make时应该指定arm架构：`make TARGET=ARMV8 -j4`。

你编译的报错很可能有网络问题，建议先看下你的机器能不能正常从github下载包。

[2022-04-29 11:35] qili93 commented on #42401
Hi, @pmajchrzak

The Paddle/models repo has been out of date, and all classification models has been migrated to [PaddlePaddle/PaddleClas](https://github.com/PaddlePaddle/PaddleClas/). And you can find the training script and run command of DYGRAPH ResNet50 here: https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/docs/en/models_training/classification_en.md

[2022-04-29 12:14] AppleSpriter commented on #41482
【队名】：K-ON

【序号】：10

【论文】：Pelee: A Real-Time Object Detection System on Mobile Devices

【状态】：报名

【repo链接】：https://github.com/AppleSpriter/paddle_PeleeNet

飞桨特色模型挑战赛

[2022-04-29 12:31] qili93 commented on #42403
hi, @Youmimzy ,

Paddle这里每次输出结果不同的原因是因为Conv2D的weight的初始化是通过 paddle.nn.initializer.Normal 生成一个随机正态高斯分布，因此你每次跑的时候结果是不同的，这个weigth是可被训练的。

你可以通过这段代码查看每层的weight数据，能看到每次fc_out的不同是因为计算的时候weight的值在随机变化。model里面的类似weight这样的参数是可以被训练的，因此随机初始化并不会影响最后的多次训练的结果。

[code]

[2022-04-29 12:38] hatimwen commented on #41482
【队名】：DUT_BOYS

【序号】：5

【论文】：HashNet: Deep Learning to Hash by Continuation

【状态】：报名&&提交2

【repo链接】：https://github.com/hatimwen/paddle_hashnet

[2022-04-29 13:01] karlyuan commented on #41482
【队名】：ywwy

【序号】：128

【论文】：TorchMD: A deep learning framework for molecular simulations

【状态】：报名&提交

【repo链接】：https://github.com/karlyuan/128TorchMD

[2022-04-29 13:03] zhwesky2010 commented on #42328
@RenHyz 这里能调一下代码格式对齐吗，这样看不清楚

[2022-04-29 13:15] RenHyz commented on #42328
`import gym
import gym_anytrading
from gym_anytrading.envs import TradingEnv, ForexEnv,StocksEnv,Actions,Positions
from gym_anytrading.datasets import FOREX_EURUSD_1H_ASK,STOCKS_GOOGL
import matplotlib.pyplot as plt
import numpy as np
from copy import deepcopy
import warnings
with warnings.catch_warnings():
    warnings.filterwarnings("ignore",category=DeprecationWarning)
    import paddle.fluid a

[2022-04-29 13:18] RenHyz commented on #42328
@zhouwei25
`import gym
import gym_anytrading
from gym_anytrading.envs import TradingEnv, ForexEnv,StocksEnv,Actions,Positions
from gym_anytrading.datasets import FOREX_EURUSD_1H_ASK,STOCKS_GOOGL
import matplotlib.pyplot as plt
import numpy as np
from copy import deepcopy
import warnings
with warnings.catch_warnings():
    warnings.filterwarnings("ignore",category=DeprecationWarning)
    import pad

[2022-04-29 13:23] HarryUP-rhy commented on #42328
[test_oneEXE.zip](https://github.com/PaddlePaddle/Paddle/files/8591069/test_oneEXE.zip)
@zhouwei25

[2022-04-29 13:54] ravirathore opened #42416 "Musl docker build error"
### 问题描述 Issue Description

Hi,
Trying to do musl build using instructions from here : https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/scripts/musl_build

But, after executing this step (on an aarch64 machine), receiving this error. Its related to some command line option '-m64'.  Please let know whether this works on an aarch64 machine.

Errors are here (last few lines):
-- extracting.

[2022-04-29 13:54] zhuba-Ahhh commented on #41482
【队名】：啊对对队

【序号】：116

【论文】：SDM: Sequential Deep Matching Model for Online Large-scale Recommender System

【状态】：报名

【repo链接】：[zhuba-Ahhh/Paddle_SDM (github.com)](https://github.com/zhuba-Ahhh/Paddle_SDM)

[2022-04-29 14:15] yuwoyizhan opened #42417 "跪求百度开发数据挖掘仓库"
### 需求描述 Feature Description

机器学习在几十年前就成为研究对象了,深度学习10年前开始进入研究人员的视野,今时今日,百度有了非常非常多机器学习相关的仓库,基本上都跟深度学习相关.很多人都知道,数据挖掘是个非常重要的机器学习的课题,百度目前好像还没有数据挖掘的仓库,为什么不建一个呢?这个领域,应该每年都有很多顶级论文,有很多学者研究,也是非常非常多百度飞桨的应用者需要的东西.我认为,很多人需要百度飞桨弄个数据挖掘的仓库,复现那些最牛逼哄哄的论文,SOTA论文,然后让我们这些不是特别厉害的飞桨应用者而不是开发者可以使用百度提供的数据挖掘模型,进行训练,评估和预测.
我也看了一些数据挖掘的图书和视频,有机器学习的算法,比如线性回归,逻辑回归,adaboost等,也有使用神经网络的.
https://aistudio.baidu.com/aistudio/projec

[2022-04-29 14:15] unseenme commented on #40234
【队名】：UnseenMe

【序号】：62

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle-Lite-Demo/pull/250

[2022-04-30 01:38] Mr-SGXXX commented on #42234
可以给个回复吗，我现在都不知道是我的代码错了还是Paddle的问题

[2022-04-30 03:06] qili93 commented on #42416
hi @ravirathore ,

The `build_inside.sh` is for X86_64, and if you would like to build on an aarch64 machine. Please try to modify the script as following:

1. CMAKE command need to add `-DWITH_ARM=ON` here https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/scripts/musl_build/build_inside.sh#L72
2. MAKE command need to change to `make TARGET=ARMV8 -j8` here https://github.com/PaddlePaddle/

[2022-04-30 03:14] monkeycc opened #42419 "Ubuntu 22.04 CUDA11.6 如何安装 Paddle"
### 问题描述 Please describe your issue

Ubuntu 22.04
GCC 11
CUDA11.6

在cuda11.6下
CUDNN 要什么版本

GCC-11 怎么办
我看最低只能GCC-9

[2022-04-30 04:06] Ligoml opened #42420 "追踪paddle.grad在模型复现中的bug(Tracking paddle.grad bugs in model reproduction)"
### bug描述 Describe the Bug

飞桨团队近期收到一些关于 `paddle.grad` 精度上不符合预期的issue，初步判断是底层存在bug，但由于 `paddle.grad` 比较复杂，研发团队难以快速定位问题与修复，因此希望借助社区的力量。

- 如果你现在或曾经遇到过 `paddle.grad` 相关的问题，希望你可以在评论区留下你的经历与解决方案；
- 如果你有热心有能力参与排查，希望你可以在评论区留下自己的分析和判断，和飞桨研发团队共同解决~

-----

Recently we received some issues about the accuracy of `paddle.grad` not meeting expectations. The initial judgment is that there is a bug in the botto

[2022-04-30 05:02] gsq7474741 commented on #38379
不知道有没有适配metal，用M1的GPU加速的计划

[2022-04-30 05:17] bitcjm commented on #42420
模型：GPEN
问题描述：我用到paddle.grad的函数如下：
def d_r1_loss(real_pred, real_img):
    grad_real, = paddle.grad(outputs=real_pred.sum(), inputs=real_img, create_graph=True)
    grad_penalty = grad_real.pow(2).reshape([grad_real.shape[0], -1]).sum(1).mean()
    return grad_penalty

其中outputs参数的输入是对抗网络鉴别器的鉴别图片real_img的输出real_pred的和，real_pred的shape为[-1, 1]， real_img的shape为[-1, 3，256,256]。
input的输入是real_img，在与pyto

[2022-04-30 08:07] yinhaofeng commented on #42419
可以先安装一下稍微低一点的版本，比如CUDA11.0，GCC8.2。 11.6版本还得过段时间支持。

[2022-04-30 08:19] franva commented on #40234
【队名】：西域大菠菜

【序号】：85

【状态】：PR已合入

【链接】：https://github.com/PaddlePaddle/Paddle2ONNX/pull/685, https://github.com/PaddlePaddle/Paddle2ONNX/pull/662

[2022-04-30 08:35] aptx1231 commented on #40234
【队名】：aptx1231

【序号】：87

【状态】：PR已合入

【链接】：https://github.com/PaddlePaddle/PaddleSpatial/pull/31

[2022-04-30 12:02] thunder95 commented on #40234
【队名】：thunder95

【序号】：11

【状态】：报名 & 提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/122

[2022-04-30 13:55] ChenjieXu commented on #35188
我也遇到了了，5个epoch之后，报错

[2022-04-30 14:24] #42381 closed, assigned to haozech

[2022-04-30 14:28] zhuba-Ahhh commented on #41482
【队名】：啊对对队

【序号】：122

【论文】：DeepLight: Deep Lightweight Feature Interactions for Accelerating CTR Predictions in Ad Serving

【状态】：报名

【repo链接】：[[zhuba-Ahhh/Paddle_DeepLight (github.com)](https://github.com/zhuba-Ahhh/Paddle_DeepLight)](

[2022-04-30 15:59] ravirathore commented on #42416
Thanks for the reply.

Its showing this error now (last few lines). Please help.

Generated Forward Input Position Map:  {'x': ['Tensor', 0]}
Generated Forward Output Position Map:  {'out': ['Tensor', 0]}
Generated Forward Input Position Map:  {'x': ['Tensor', 0]}
Generated Forward Output Position Map:  {'out': ['Tensor', 0]}
Generated Forward Input Position Map:  {'x': ['Tensor', 0]}
Generated Fo

[2022-04-30 17:09] #42206 closed, assigned to JZ-LIANG

[2022-04-30 18:27] #42386 closed, assigned to haozech

[2022-04-30 18:34] leoaaaaa opened #42423 "怎么通过curl调用训练好的paddle serving 的模型"
### 请提出你的问题 Please ask your question

怎么通过curl调用已经在paddle serving上部署的模型？

通过curl的方式传入图片路径这个是传统python中的实现脚本：
![image](https://user-images.githubusercontent.com/90248905/166118099-d796ff2b-1ef5-47f0-a114-58865a3a4f14.png)
paddle serving 部署如下：
![image](https://user-images.githubusercontent.com/90248905/166118155-efd275fe-ebf6-4589-906e-69e800ec0c3f.png)

能不能把调用的命令告诉我下 ？

[2022-04-30 19:21] flytocc commented on #41482
【队名】：拼手速

【序号】：10

【论文】：Pelee: A Real-Time Object Detection System on Mobile Devices

【状态】：报名&&提交

【repo链接】：https://github.com/flytocc/PeleeNet-paddle

[2022-04-30 19:23] flytocc commented on #41482
【队名】：拼手速

【序号】：17

【论文】：All Tokens Matter: Token Labeling for Training Better Vision Transformers

【状态】：报名&&提交

【repo链接】：https://github.com/flytocc/TokenLabeling-paddle

[2022-05-01 00:25] yuwoyizhan opened #42424 "3个问题"
### 需求描述 Feature Description

1.看了飞桨2.3rc0,我想问问,飞桨2.3正式版会不会支持python3.10呢?
2.飞桨2.3正式版会不会支持windows平台visual studio 2022编译呢?
3.class Regressor(paddle.nn.Layer):
    # self代表类的实例自身
    def __init__(self):
        # 初始化父类中的一些参数
        super(Regressor, self).__init__()

        self.fc1 = paddle.nn.Linear(in_features=13, out_features=40)
        self.fc2 = paddle.nn.Linear(in_features=40, out_features=2

[2022-05-01 02:19] windstamp commented on #42423
请参考文档 https://www.paddlepaddle.org.cn/tutorials/projectdetail/2538249 看看是否可以帮您解决这个问题。

[2022-05-01 02:32] windstamp commented on #42424
先回答第3个问题：一行代码使用模型可以参考文档[《使用飞桨高层API直接调用图像分类网络》](https://www.paddlepaddle.org.cn/tutorials/projectdetail/3106582#anchor-11)，这份教程里面同时还包含 VGG、ResNet 等模型的代码实现。

更多的知识欢迎参考 [官方文档](https://www.paddlepaddle.org.cn/)，里面有各种教程和相关的 API 文档。也欢迎使用飞桨提供的在线学习和开发平台 [飞桨 AI Studio](https://aistudio.baidu.com/aistudio/index)。

[2022-05-01 02:40] doombeaker commented on #40234
【队名】：OneBeaker

【序号】：70

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/docs/pull/4689

[2022-05-01 02:41] Johnzhjw commented on #41482
【队名】：星辰大海-StarSea

【序号】：1

【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search

【状态】：报名

【repo链接】：https://github.com/Johnzhjw/Cream-One-Shot-NAS.git

[2022-05-01 03:34] yuwoyizhan commented on #42424
@windstamp 大哥,你好,非常感谢您的解答.您的解答,我看了,说实话,看不太懂,[使用飞桨高层API直接调用图像分类网络],这个我看过,我的意思是,希望飞桨可以提供骨干模型的高层API,目前据我所知,好像这些经过大量论文验证的骨干模型,比如ResNet,SwinT,LSTM,Vit等等,好像都只提供了模型用于套件,比如clas套件,为什么这些牛逼哄哄的模型不直接使用paddle.nn的接口提供呢?非要使用paddle.vision.models接口提供呢?如果你们在paddle.nn接口下提供这些骨干模型,那我们这些飞桨应用者,就可以使用1行代码组建比较复杂的网络,比如ResNet,我们自己写这个网络得多少代码?我认为,飞桨完全可以考虑提供这些模型的高层API,这样我们组建网络就简单了,要知道,很多使用飞桨的人员,属于飞桨应用者,而不是那种会发表顶级论文的开发者,甚至有很多飞桨使用

[2022-05-01 03:58] windstamp commented on #42424
这里回答第1和第2两个问题：
1. 飞桨2.3正式版会支持python3.10
2. windows上目前支持 VS 2019。VS 2022 还没有被验证过，您可以本地试试看，看看是否能够成功。

[2022-05-01 04:03] windstamp commented on #42424
您好，您的反馈对产品非常有价值，我们内部会安排评估，未来有计划尽快回复。

另外，这个 [Paddle Hub](https://github.com/PaddlePaddle/PaddleHub) 可以满足您的需求吗。

[2022-05-01 04:56] yuwoyizhan commented on #42424
@windstamp
1.我认为Hub无法满足我的需求,我要的是做数据挖掘,回归问题,输入多维x,还有一维y,然后就进行训练,评估指标,部署预测.我目前使用3层全连接神经网络和6层全连接神经网络,发觉指标差不多,也就是说,6层神经网络没什么长进.我就想使用ResNet等更多层,性能更好的网络.但我不会写这些比较高层网络的代码,比如ResNet,LSTM,Swint,Transfor等神经网络.所以希望飞桨可以提供这些神经网络的高层API,谢谢.
class Regressor(paddle.nn.Layer):
def init(self):
super(Regressor, self).init()
    self.fc1 = paddle.nn.ResNet(回归或者分类=0, 类数=1000(回归为0类),神经网络层数=51)
# 网络的前向计算
def forward(self,

[2022-05-01 07:11] minhoooo1 commented on #33341
请问这个问题解决了嘛？

[2022-05-01 07:34] ravirathore commented on #42416
I did manual build. Will also try automatic build. Will reply.

regards,

[2022-05-01 08:32] apexg opened #42427 "gpu版本2.2.2 在训练的时候偶尔会出现dataload 错误,此时需要重启训练容器或者训练服务器才可以"
### bug描述 Describe the Bug

gpu版本2.2.2 在训练的时候偶尔会出现dataload 错误,此时需要重启训练容器或者训练服务器才可以

### 其他补充信息 Additional Supplementary Information

无

[2022-05-01 09:11] simonsLiang commented on #41482
【队名】：高级伴读书童

【序号】：127

【论文】：Lettuce: PyTorch-based Lattice Boltzmann Framework

【状态】：提交

【repo链接】：https://github.com/simonsLiang/lettuce_paddle

[2022-05-01 09:46] windstamp commented on #42427
您好，此问题属于产品技术BUG，我们会尽快改进，感谢您提出的宝贵意见，谢谢。

请问您是单卡训练还是多卡训练。

[2022-05-01 12:47] yangguohao commented on #42383
谢谢，问题已经解决了。我反向传播算子的参数映射函数的文件放错位置了。应该和inplace无关，我将文件放置之后结果就正确了。

[2022-05-01 12:47] #42383 closed, assigned to haozech, yingyibiao

[2022-05-01 13:54] flytocc opened #42429 "动态图测试精度随batchsize和sampler顺序的变动而变动"
版本、环境信息：
   1）PaddlePaddle版本：2.2.2
   2）GPU：V100 (3090 及 TiTAN Xp也存在此问题)
   3）CUDA： 10.2
   4）系统环境：python 3.7，AI Studio

AI Studio项目地址：https://aistudio.baidu.com/aistudio/projectdetail/3926029

model (save as models.py)如下：
[code]

测试脚本(save as eval.py)如下：
[code]

测试命令如下：
[code]

不同batchsize和sampler顺序下的精度：
| batchsize | shuffle | acc1 |
| ---------- | ------- | ---- |
| 64 | x | 82.292 |
| 64 | v |

[2022-05-01 17:12] leoaaaaa opened #42430 "paddle_serving_server_gpu"
### 请提出你的问题 Please ask your question

我已经安装了paddle_serving_server_gpu 为什么说找不到模块？

1.官方文档：
![image](https://user-images.githubusercontent.com/90248905/166156661-a44cdc4d-517f-492a-91a1-3b31b4aa1600.png)
2.程勋报错：
![image](https://user-images.githubusercontent.com/90248905/166156681-cf621ef2-b1b3-4ee2-8b5b-7ae97b75008d.png)
3.vim 文件：
![image](https://user-images.githubusercontent.com/90248905/16615671

[2022-05-02 03:56] tiancaishaonvjituizi commented on #40234
【队名】：我的名字连起来就是王豆豆

【序号】：19

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/42431

[2022-05-02 05:33] vxfla opened #42432 "安装旧版本1.8.5，无论pip还是conda最后由于pathlib模块报错无法完成安装"
### 问题描述 Issue Description

无法安装，报错信息部分截取如下
2b/pathlib-0.3.tar.gz (27 kB)
    ERROR: Command errored out with exit status 1:
     command: /home/work/anaconda3/envs/rocketqa/bin/python3 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-qeuuz8km/pathlib_934e806ad6c34c9586b5f988a485f639/setup.py'"'"'; __file__='"'"'/tmp/pip-install-qeuuz8km/pathlib_934e806ad6c34c9586b

[2022-05-02 06:32] gglin001 opened #42433 "What is the difference of "imperative" mode and "eager" mode ?"
### 请提出你的问题 Please ask your question

我注意到 paddle 有两个目录和动态图相关

https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/fluid/imperative
和
https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/fluid/eager

请问有相关的文档介绍这两部分的差别/架构吗?

[2022-05-02 06:36] #42156 closed, assigned to wangxicoding

[2022-05-02 08:32] huilin16 opened #42435 "请问torch.autograd.Variable在paddle中对应的是哪个api"
### 请提出你的问题 Please ask your question

请问torch.autograd.Variable在paddle中对应的是哪个api呢，在算子映射文档中没有找到

[2022-05-02 09:19] SigureMo commented on #42424
@yuwoyizhan

呃，单纯好奇，这些放在 paddle.vision.models 怎么就不行了呢？放在这里面为什么就不能「用 1 行代码组建比较复杂的网络」呢？你要知道 paddle.vision.models 所有模型都是使用 paddle.nn 里的基础 API 慢慢搭建起来的，为什么**只是因为**放在 paddle.vision.models 的就不行了？？？

paddle.vision 的说明本来就是「飞桨在视觉领域的**高层API**」，那么按理说，这些视觉 backbone 本来就应该放在这里面，为什么要放在 paddle.nn 下面呢？

仅看你的示例的话，这样是完全可以实现的：

[code]

根据文档 <https://www.paddlepaddle.org.cn/documentation/docs/zh/2.3rc/api/paddle/vision

[2022-05-02 09:27] littletomatodonkey commented on #42430
你好，可以按照这个教程操作，安装下serving的相关whl包：https://github.com/PaddlePaddle/PaddleOCR/blob/release%2F2.4/deploy/pdserving/README_CN.md

[2022-05-02 09:39] littletomatodonkey commented on #42432
<img width="832" alt="image" src="https://user-images.githubusercontent.com/14270174/166214774-20d3709e-e94d-42b3-894f-5fcf4b7f1728.png">

你好，根据上面的报错，是pathlib库安装问题导致的，建议在这里先安装下pathlib，再安装paddle试下

[2022-05-02 09:44] littletomatodonkey commented on #42435
你好，可以设置tensor的stop gradient=false，让tensor的梯度可传递

[2022-05-02 09:46] justld opened #42436 "【论文复现赛】混合精度训练速度没有提高，GPU内存占用也没有降低"
### bug描述 Describe the Bug

AISTUDIO GPU至尊Teslav100，使用AMP O1混合精度训练，混合精度训练和float32训练速度差不多（甚至稍微慢一些），且GPU占用率相同。

AISTUDIO连接：https://aistudio.baidu.com/aistudio/projectdetail/3927255?contributionType=1

具体内容：
1、不使用混合精度训练：250 iters耗时约81.29s（见aistudio小节7日志）；
2、使用混合精度训练(O1): 250 iters耗时约87.15s （见aistudio小节9日志）；

此外，使用混合精度和不使用，GPU占用内存都为4.6G左右。

### 其他补充信息 Additional Supplementary Information

_No response

[2022-05-02 09:55] littletomatodonkey commented on #42436
你好，这个无法访问，麻烦提供一个可访问的aistudio教程吧

[2022-05-02 09:56] justld commented on #42436
不好意思，刚刚没公开，现在ok了

[2022-05-02 10:11] vxfla commented on #42432
安装paddle前，我已经安装pathlib了，是1.0.1版本的

[2022-05-02 10:17] yuwoyizhan commented on #42424
@windstamp @SigureMo 多谢解答,我立马测试了您的解答方案.我的输入是2维,形状是 [1000, 13],按照SigureMo的指点,我把模型组建换成了你说的代码,结果报错了,错误内容是:
ValueError: (InvalidArgument) The input of Op(Conv) should be a 4-D or 5-D Tensor. But received: input's dimension is 2, input's shape is [1000, 13].
  [Hint: Expected in_dims.size() == 4 || in_dims.size() == 5 == true, but received in_dims.size() == 4 || in_dims.size() == 5:0 != true:1.] (at /p

[2022-05-02 11:16] littletomatodonkey commented on #42433
你好，目前eager目录下的动态图尚在开发中，目前还没有文档，感谢你的关注~

[2022-05-02 11:33] huilin16 commented on #42435
好的，多谢！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月2日(星期一) 下午5:45
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [P

[2022-05-02 11:34] SigureMo commented on #42424
@yuwoyizhan

如果说你输入的数据不是图片数据，那么确实不能使用 vision 下的模型

emmmm，我觉得你陷入了一个误区啊，这些模型之所以是 SOTA，就是因为它们在某一特定领域效果好，并不能说在所有领域效果都好啊，而 paddle 把这些视觉经典模型实现在 paddle.vision.models 无可非议吧……我看你的理解好像是「这些网络在所有领域都有很好的效果，所以 paddle 应该实现一个通用的 API 让所有任务都能使用」……

我看你还有提到 ViT、Swin Transformer，这些都是 Vision Transformer，呃，我是不理解为什么 Vision Transformer 要用到其他任务上去……

你的任务是不可能一行代码就调用这些**视觉**里的网络的，你能做到的是参考这些网络里的经典思想，应用到自己的任务中去

[2022-05-02 11:51] littletomatodonkey commented on #42436
你好，看了下这个dataloader的share memory参数为false，建议设置为true，同时尽量调大num worker，减少reader耗时，这样的话可以更直观的看出混合精度的速度收益

[2022-05-02 11:57] tricksterANDthug commented on #41723
这个反向传播的hook函数，你们会在下个版本中添加吗？这个在GradCAM LayerCAM等论文中都有使用到

[2022-05-02 11:58] yuwoyizhan commented on #42424
对于目前的项目,我想要的是,使用多层全连接神经网络,使用残差思想组网,但我不会写代码,哈哈哈哈.也可以使用其他更多层并且训练不会爆炸的神经网络模型.
神经网络模型未必只适用于一个领域,transformer一直都是用于NLP,最近2年,开始用于视觉领域,并且取得SOTA,比如百度飞桨的clas套件中,SOTA还是transformer的SWIN transformer,这很大程度上说明了一种好用的SOTA神经网络模型,往往可以用于多个领域的多个任务,这也是我希望可以提供paddle.nn下高层神经网络模型API的原因.ResNet,transformer这些神经网络模型真的在数据挖掘预测领域效果很差?不认同这种看法.
开这个issue,另外一个重点是希望飞桨开设数据挖掘仓库,复现世界上最牛逼的算法和模型,让我们飞桨应用者可以轻轻松松使用这些SOTA模型或者算法.但这个话题,从头到尾,没任何

[2022-05-02 12:07] brucmao opened #42440 "ninja 编译时出错 error: invalid combination of type specifiers"
### 问题描述 Issue Description

[374/376] Building CXX object src\cpu\x64\CMakeFiles\dnnl_cpu_x64.dir\rnn\jit_gates_reduction.cpp.obj
[375/376] Building CXX object src\cpu\x64\CMakeFiles\dnnl_cpu_x64.dir\rnn\rnn_brgemm_utils.cpp.obj
[376/376] Linking CXX shared library src\dnnl.dll
[66/3632] Generate mkldnn.lib manually--->
已复制         1 个文件。
Microsoft (R) Library Manager Version 14.25.28614.0
Copyrig

[2022-05-02 12:28] justld commented on #42436
您好，已经修改share memory为true，num worker增大为8，但是混合精度和不适用混合精度速度依然几乎相同，且gpu显存也无明显降低（aistudio下面的gpu显存在无混合精度训练时4.7G左右，混合精度训练时5.8G左右，反而变大了？）。已更新aistudio版本，可以查看速度日志。

[2022-05-02 13:01] shangshanruowo opened #42441 "使用paddle2.2.2时出现的错误When Variable is used as the condition of if/while , Variable can only contain one element."
### 请提出你的问题 Please ask your question

![1212](https://user-images.githubusercontent.com/101441487/166237577-3430b076-8447-4661-ab77-e146e2085cd5.png)

当我使用这个测试代码时会出现如下错误
![3232](https://user-images.githubusercontent.com/101441487/166237728-9f39d82c-4a05-42eb-9844-61fd830fd5b5.png)
请问是那里的问题，我看别人paddle和pytorch写的都是这样的

[2022-05-02 13:14] Victory8858 opened #42442 "关于PaddlePaddle中Tensor的严重bug"
### bug描述 Describe the Bug

Tensor中利用掩膜，当掩膜元素个数为一个时就会产生报错

[code]

[2022-05-02 13:48] thunder95 opened #42443 "【PFCC】如何写一个同时支持带inplace和不带inplace的算子？"
### 请提出你的问题 Please ask your question

当通过下面方式添加并注册之后，只能支持带inplace的算子，就不再支持不带inplace的算子
`DECLARE_INPLACE_OP_INFERER(InplaceInferer, {"X", "Out"});`
会报错 module 'paddle.fluid.core_avx.ops' has no attribute

参考scatterop用同样的方式写，达不到scatter的效果， 同时支持以下两种方式的调用:
_C_ops.scatter_(x, index, updates, 'overwrite', overwrite)
_C_ops.scatter(x, index, updates, 'overwrite', overwrite)

[2022-05-02 14:19] littletomatodonkey commented on #42442
你好，试下2.3.0rc0呢？我这边没有出现报错哈

![image](https://user-images.githubusercontent.com/14270174/166247953-173a42a8-c4f4-40ff-873d-2ffc114658f7.png)

[2022-05-02 14:25] littletomatodonkey commented on #42440
你好，编译的话，暂时建议vs2017，https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/windows-compile.html#benjibianyiguocheng

此外，如果不是自己开发的新op，如果希望体验最新的功能，可以从官网上pip install develop的whl包哈

[2022-05-02 14:31] littletomatodonkey commented on #42441
你好，建议贴一段可以复现问题的单测出来看看

[2022-05-02 14:34] Victory8858 commented on #42442
你好，看到你这边数据是在CPU，GPU会报错的呢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月2日(星期一) 晚上10:19
***@***.***&gt;;
***@***.******@***.***&g

[2022-05-02 14:35] littletomatodonkey commented on #42442
你好，我测试了下，gpu没问题呀

![image](https://user-images.githubusercontent.com/14270174/166252652-ccf4c0f2-2f91-4c9a-8c14-c668ec27490b.png)

[2022-05-02 15:31] bbbxixixixi opened #42444 "paddle有专注于知识图谱和多模态的模块吗？"
### 请提出你的问题 Please ask your question

比如paddleocr、paddleseg一类的

[2022-05-03 02:05] brucmao commented on #42440
pip 只支持cuda11.2的版本，我CUDA 11.6.124 没法用pip安装

[2022-05-03 02:18] shangshanruowo commented on #42441
![111](https://user-images.githubusercontent.com/101441487/166395480-f736879c-d5f2-4cdc-9532-691e79d19308.png)
您好，当我实例化对象，并随机创建一个[1,3,640,640]shape的tensor传入网络时就会报如下错误：
![2222](https://user-images.githubusercontent.com/101441487/166395652-a728a127-4c34-42fc-b6d6-2275d11c060a.png)
麻烦您请看看是那里的原因。

[2022-05-03 03:10] windstamp commented on #42429
AI Studio项目地址：https://aistudio.baidu.com/aistudio/projectdetail/3926029 , 进去运行发现少了文件 `./data/lvvit_t_ema.pd`，跑不起来。

请问表格中 `shuffle` 的取值 `x` 和 `v` 分别代表什么意思。

正常的测试精度应该是多少，以及测试精度在不同的 batchsize 和 sampler 顺序下正常应该是一致的，这是和哪个参考标准对比的吗。

不排除 `nn.BatchNorm2D` 有问题，但是建议可以先尝试再检查一下模型层面。

[2022-05-03 03:25] daquexian commented on #40234
【队名】：中国功夫窝们喜欢

【序号】：65

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/Paddle-Lite/pull/8985

[2022-05-03 04:26] 670133189 opened #42449 "多卡如何保存模型？"
### 请提出你的问题 Please ask your question

请教：多卡如何保存模型？能训练，一旦保存模型则提示显存不足。

save_mode_prefix = f"{save_mode_dir}/{epo}"

model_static = paddle.jit.to_static(
     model_original,
     input_spec=[InputSpec(shape=input_spec_img.shape, dtype="float32")]
)

paddle.jit.save(layer=model_static, path=save_mode_prefix)

错误提示：
Out of memory error on GPU 2. Cannot allocate 28.125244MB memory on GPU 2, 31.694946G

[2022-05-03 06:26] flytocc commented on #42429
我更新了AI Studio项目，现在应该有`./work/lvvit_t_ema.pd`这个文件了。或者从[百度网盘](https://pan.baidu.com/s/1UCU9zTrRo021lDbd60scpA?pwd=vpeg)下载。

 `shuffle` 的取值 `x` 和 `v` 分别代表`BatchSampler`中shuffle=False和shuffle=True。

通过转到pytorch测试出精度是`79.638`，在pytorch中不存在batchsize和shuffle影响精度的问题。

我觉得模型没什么问题，只有Conv2D、Linear、LayerNorm、BatchNorm2D、DropPath、Dropout、Softmax，没有什么特殊的操作。和[ViT](https://github.com/PaddlePaddle/PaddleClas/blob/r

[2022-05-03 06:40] littletomatodonkey commented on #42444
你好，多模态的话可以参考：https://github.com/njustkmg/PaddleMM
知识图谱相关的内容可以参考paddlenlp: https://www.paddlepaddle.org.cn/textToKnowledge

[2022-05-03 06:41] littletomatodonkey commented on #42440
目前最高只支持到11.2

[2022-05-03 06:41] littletomatodonkey commented on #42441
这个可以直接给一下代码片段吗？把代码文字贴出来

[2022-05-03 06:43] shangshanruowo commented on #42441
import paddle.nn as nn
import paddle
import numpy as np
def autopad(k, p=None):
    if p is None:
        p = k // 2 if isinstance(k, int) else [x // 2 for x in k]
    return p
class Conv(nn.Layer):
    def __init__(self, c1, c2, k=1, s=1, p=None, g=1, act=True):
        super(Conv, self).__init__()
        self.conv = nn.Conv2D(c1, c2, k, s, autopad(k, p), groups=g, bias_attr=False)
        self.

[2022-05-03 06:44] shangshanruowo commented on #42441
`
import paddle.nn as nn
import paddle
import numpy as np
def autopad(k, p=None):
    if p is None:
        p = k // 2 if isinstance(k, int) else [x // 2 for x in k]
    return p
class Conv(nn.Layer):
    def __init__(self, c1, c2, k=1, s=1, p=None, g=1, act=True):
        super(Conv, self).__init__()
        self.conv = nn.Conv2D(c1, c2, k, s, autopad(k, p), groups=g, bias_attr=False)
        sel

[2022-05-03 06:45] shangshanruowo commented on #42441
`
import paddle.nn as nn
import paddle
import numpy as np
def autopad(k, p=None):
    if p is None:
        p = k // 2 if isinstance(k, int) else [x // 2 for x in k]
    return p
class Conv(nn.Layer):
    def __init__(self, c1, c2, k=1, s=1, p=None, g=1, act=True):
        super(Conv, self).__init__()
        self.conv = nn.Conv2D(c1, c2, k, s, autopad(k, p), groups=g, bias_attr=False)
        sel

[2022-05-03 06:45] littletomatodonkey commented on #42441
那个\`符号可以改成3个\`\`\`

[2022-05-03 06:47] shangshanruowo commented on #42441
[code]

[2022-05-03 06:54] littletomatodonkey commented on #42441
这一行
[code]

需要修改为

[code]

[2022-05-03 07:00] shangshanruowo commented on #42441
好的

[2022-05-03 07:19] ZeyuLing commented on #41482
【队名】：虾泥马掺和

【序号】：4

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/Q137589933/paddle_cvt

[2022-05-03 07:46] littletomatodonkey commented on #42436
你提供的fp32和fp16训练的代码似乎没有完全一致，我改了下（保持完全相同的forward、backward与minimize逻辑顺序），测试结果如下（32G的机器上测试的）

* 为了避免dataloader的影响，只用第一个batch的数据做forward
* 即使不考虑dataloader的影响，gpu利用率也只有不到50%，这个网络结构应该并非计算密集型的网络，所以几乎没有加速效果

[code]

下面是我测试的脚本，可以看下

[train.zip](https://github.com/PaddlePaddle/Paddle/files/8608955/train.zip)

[2022-05-03 08:42] Fleming-Sung commented on #41482
【队名】：梧桐明明桑

【序号】：72

【论文】：TNT: Target-driveN Trajectory Prediction

【状态】：报名

【repo链接】：https://github.com/MeaningSung/TNT_paddle

[2022-05-03 09:03] #42436 closed, assigned to littletomatodonkey

[2022-05-03 12:20] windstamp commented on #42429
那是否可以理解，现在的问题是 batchsize=64，shuffle=False，acc1=82.292 精度出现了问题。上述表格中其它取值时精度是正常的。还是说在 pytorch 中上述取值全部是 79.638。

请问有用 ViT 这个模型代码测试上述参数取值时的精度吗。

[2022-05-03 12:40] flytocc commented on #42429
在paddle中，当shuffle=True（也就是sampler顺序固定）且batchsize固定时，测得的精度是固定的。所以，表格中所给精度之间的误差，都是某种系统性的误差，都是不该存在的。我认为，在paddle上测得的所有精度都是不可信的、不正常的。

在pytorch中，我多次测试了`batchsize=64/128/256`，`shuffle=False/True`的精度，结果都是`79.638`。所以，我说：“在pytorch中不存在batchsize和shuffle影响精度的问题。“

我没用Paddle测过[ViT](https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/ppcls/arch/backbone/model_zoo/vision_transformer.py)这个模型是否存在这个问题。

[2022-05-03 13:43] SigureMo commented on #41674
应该是前段时间 Pillow 发布的 7.1.0 弃用了一系列 API 导致的，看样子 #42307 已经修复了该问题，估计过几天发布的 2.3.0 应该就没这个问题了～

[2022-05-03 14:17] #42443 closed, assigned to littletomatodonkey

[2022-05-03 14:26] zeromasterfire commented on #34361
你好，我也遇到了 'create_reader' from 'ppdet.data.reader'  的错误，我已经cd到static运行了还是没用

[2022-05-03 14:47] sober-6 commented on #40234
【队名】：天大战队

【序号】：69

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/docs/pull/4721

[2022-05-03 16:19] thunder95 commented on #40234
【队名】：thunder95

【序号】：11

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/42454

[2022-05-04 03:09] Victory8858 commented on #42442
您好，请问这个bug有解决吗，遇到了很多问题，都是由于这一块引起，总之就是当元素个数为1就不行，其余就可以
我的解决办法是先把tensor转化成numpy，然后处理完再转化回paddle的tensor，但这样十分麻烦，需要修改很多程序，请问一下是什么原因呢，是paddle的bug还是什么？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"

[2022-05-04 03:17] littletomatodonkey commented on #42442
你上面提供的复现代码，我这边使用2.3.0rc0，在gpu和cpu下都没有问题，你使用paddle2.3.0rc0看下呢？

[2022-05-04 04:34] Victory8858 commented on #42442
您好，已切换到paddle2.3.0rc，确实没问题了，不过这确实是2.2.2中的一个bug

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月4日(星期三) 中午11:17
***@***.***&gt;;
**

[2022-05-04 04:36] wa008 opened #42457 "【飞桨论文复现挑战赛】论文复现所需的GPU资源较多，Paddle会在跑通参考代码之后提供这些资源吗？"
### 请提出你的问题 Please ask your question

已经报名了[DEBERTA](https://arxiv.org/pdf/2006.03654.pdf) 论文复现，但原paper中说训练需要 96 块 V100 卡，训练20天的时间。。。
这些资源Paddle会在后期提供的么？

[2022-05-04 04:53] zeromasterfire opened #42459 "在执行paddle detection的静态图模块是遇到一个问题"

[2022-05-04 05:33] ZHUI commented on #42457
可以先模型对齐，跑通finetune。预训练耗时较多，可以放着。

[2022-05-04 05:43] yuancc123456 commented on #40234
【队名】：天大战队

【序号】：111

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/docs/pull/4722

[2022-05-04 06:11] ZHUI commented on #42459
您好，有更多信息吗？比如报错代码或截图？

[2022-05-04 06:13] zeromasterfire commented on #42459
谢谢你，我自己解决了问题，但是我不知道怎么关闭这个提问

[2022-05-04 06:13] #42459 closed, assigned to qingqing01, ZHUI

[2022-05-04 07:55] wa008 commented on #42457
了解了，多谢

[2022-05-04 07:55] #42457 closed, assigned to TCChenlong, ZHUI

[2022-05-04 08:33] 0xzhang commented on #40234
【队名】：Master
【序号】：88
【状态】：PR已合入
【链接】：https://github.com/taichi-dev/taichi/pull/4886

[2022-05-04 08:33] brucmao commented on #42440
换了 vs2017 ninja编译还是报错

[713/2287] Building CXX object paddle\fluid\operators\CMakeFiles\cholesky_op.dir\cholesky_op.cc.obj
Unknown compiler version - please run the configure tests and report the results
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.6\include\thrust/detail/config/cpp_dialect.h:118: warning: Thrust requires at least MSVC 2019 (19.20/16.0/14.20). MSVC 2017 is deprecated but

[2022-05-04 08:43] OccupyMars2030 commented on #40234
【队名】：SmirnovKol

【序号】：16

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/42466

[2022-05-04 09:25] yghstill commented on #42341
@2050airobert 经验证，picodet_s_416_lcnet的量化训练batch_size=48时占用大约20G显存。确认下空闲显存是否足够。

[2022-05-04 09:40] YellowLight021 commented on #41482
【队名】：人工智障，医者仁心
【序号】：36

【论文】：nnU-Net: Self-adapting Framework for U-Net-Based Medical Image Segmentation

【状态】：提交

【repo链接】：https://github.com/YellowLight021/pp_nnUnet

[2022-05-04 10:20] tiancaishaonvjituizi commented on #40234
【队名】：我的名字连起来就是王豆豆

【序号】：6

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/42469

[2022-05-04 10:24] ravirathore commented on #42416
Thanks, it worked with auto build. It generated paddlepaddle-0.0.0-cp37-cp37m-linux_aarch64 - to be used with python3.7.
I  installed it(in alpine 3.10), and then tried to install paddleocr, but, it tried to compile opencv and it couldn't (however, it could generate wheels of other dependencies.) Pls let know, if, is it possible to extract opencv wheel from docker image?

thanks,

[2022-05-04 10:41] OccupyMars2030 commented on #40234
【队名】：SmirnovKol

【序号】：11

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/42468

[2022-05-04 10:52] meet-slut opened #42471 "Aistudio Notebook模型部署存在bug"
### 问题描述 Please describe your issue

Aistudio Notebook 中的模型部署存在bug。当模型输出是List[Tensor]，即多个tensor组成的列表时，会报错`too many values to unpack (expected 1)`。原因如下：
在/home/work/serving/src/business_service.py 中 有一行代码 infer_results, = infer_with_executor_by_dict(model_name, feed) 。此行代码存在bug，该行代码调用了 定义在/home/work/serving/src/infer_service.py 中的infer_with_executor_by_dict函数，该函数的核心是outputs = executor.run(inference

[2022-05-04 11:25] sunhd96 commented on #41482
【队名】：望旺

【序号】：95

【论文】：Restormer: Efficient Transformer for High-Resolution Image Restoration

【状态】：报名

【repo链接】：https://github.com/sunhd96/paddle_restormer

[2022-05-04 12:29] qili93 commented on #42416
hi, @ravirathore

Please help to confirm if the opencv is required by PaddleOCR from  https://github.com/PaddlePaddle/PaddleOCR/blob/develop/requirements.txt with `opencv-python==4.2.0.32`?

As opencv-python starts to support `manylinux2014_aarch64.whl` from version 4.5.2.54. And you will fail to install [4.2.0.32](https://pypi.org/project/opencv-python/4.5.2.54/#files) in aarch64. The workaround

[2022-05-04 12:56] #42444 closed, assigned to littletomatodonkey

[2022-05-04 13:54] WangShengguang commented on #40009
遇到同样的问题。使用pytorch可以正常使用，但是paddle不可以

[2022-05-04 14:06] wangdong2222 opened #42474 "paddle.vision.models.resnet18 如何应用在一维时间数据(振动信号)的分类问题中"
### 请提出你的问题 Please ask your question

我在官方API看到resnet的调用方式要求输入的数据格式是四维的，如下：
![image](https://user-images.githubusercontent.com/8604388/166698377-cf0ace3a-6082-4b57-a97f-ea71557ae3fc.png)

现在我有一份一维的时间信号数据，比如处理完成之后的格式是[200, 1024]，第一维是样本个数，第二维是特征，resnet18是否支持这种数据的分类

谢谢！

[2022-05-04 14:12] OccupyMars2030 commented on #40234
【队名】：SmirnovKol

【序号】：22

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/42475

[2022-05-04 16:18] JONGWE1 commented on #41482
【队名】：鱼蛋天平

【序号】：107

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名&&提交

【repo链接】：https://github.com/JONGWE1/Paddle-DeBERTa

[2022-05-04 16:57] #41674 closed, assigned to ceci3

[2022-05-05 00:29] marsbzp commented on #42387
有没有文档我可以学习下的

[2022-05-05 01:22] hellochengyan opened #42481 "这里面conv2搭建问题。"
### 文档链接&描述 Document Links & Description

这里面conv2搭建中padding＝0是same还是valid

### 请提出你的建议 Please give your suggestion

_No response_

[2022-05-05 01:23] hellochengyan opened #42482 "这里面conv2搭建中padding＝0是same还是valid"
### 文档链接&描述 Document Links & Description

这里面conv2搭建中padding＝0是same还是valid
![Uploading image.png…]()

### 请提出你的建议 Please give your suggestion

_No response_

[2022-05-05 01:47] ZHUI commented on #42474
四维的意思是：
[图片张数batch大小,  图片颜色通道数，图片长度，图片宽度]

如果特征的维度是1024，可以变成 32 * 32的，可以尝试将输入 reshape 成：
[ 200, 1, 32, 32]

[2022-05-05 01:48] ZHUI commented on #42471
您好，可以提供更详细一些的部署工具说明吗？是使用的 PaddleServing 吗?

[2022-05-05 02:04] wangdong2222 commented on #42474
hi 感谢回复，我把输入改成[16,1,32,32]调用resnet18报如下错误，麻烦帮忙看看要怎么调整，谢谢！

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/8604388/166854011-c3d55bca-b04c-4be0-9877-5b6aa822e2e5.png">

[2022-05-05 02:20] ZHUI commented on #42474
resnet18 这个是定义好的模型，一些参数和你不匹配。这个是nn.Conv2D的参数和你的不匹配。
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Conv2D_cn.html#conv2d

https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/vision/models/resnet.py#L238

[2022-05-05 02:28] wangdong2222 commented on #42474
那我这个场景下该怎么去调整参数呢

[2022-05-05 02:33] ZHUI commented on #42474
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/vision/models/resnet.py#L238
[code]
第一个参数改为1即可。kernel_size也可以适当减小一点。

因为你的数据较小，不建议你搞这么大的网络，可以尝试拿Conv2D自己组两三层卷积网络即可。

[2022-05-05 02:40] wangdong2222 commented on #42474
明白了，感谢，我还有两个疑问哈
1、这种改动只能通过修改源码才能完成，不能在调用resnet通过传参的形式改动是吧？
2、咱们目前的resnet只支持2维的卷积，不支持1维的卷积是吧？

谢谢

[2022-05-05 03:09] ZHUI commented on #42474
是的。

resnet是模型级别的东西，处理的都是图片数据。你的数据diff很大，需要修改很多。建议使用    Conv1D  之类的API的组合一个小网络适配你的数据，

[2022-05-05 03:14] wangdong2222 commented on #42474
了解了，我这个数据是一维的振动信号数据，在工业机械场景中挺常见的，也有不少人研究，网上也有一些基于resnet去做的，paddle 或许也可以考虑下。
再次感谢

[2022-05-05 03:26] miemie2013 commented on #42420
模型：StyleGan2系列

问题复现：

代码地址：https://github.com/miemie2013/ppgan

环境：Python3.9、paddlepaddle-gpu==2.2.0

进入test_grad文件夹。首先运行test2_18_elementwise_grad.py，用了pytorch实现了上面的语句（精简了一下）
[code]
，跑8次前向，保存输入、输出、损失对styles的梯度等为文件18_grad.npz；
接着，跑test2_18_elementwise_grad_paddle.py，用了paddle实现了上面的语句（精简了一下），
[code]
读取18_grad.npz中保存的输入作为输入，跑8次前向。即此时paddle版与pytorch版有相同的输入，我们期望paddle与pytorch有相同的输出、相同的梯度。但是跑8次前向的结果发现，o

[2022-05-05 03:50] galigaygaywa commented on #40021
请问发布了吗？

[2022-05-05 04:11] zzc98 commented on #41482
【队名】：大山坡

【序号】：11

【论文】：Destruction and Construction Learning for Fine-grained Image Recognition

【状态】：提交

【repo链接】：https://github.com/zzc98/PaddlePaddle_DCL

[2022-05-05 05:06] flytocc commented on #41482
【队名】：拼手速

【序号】：17

【论文】：All Tokens Matter: Token Labeling for Training Better Vision Transformers

【状态】：报名&&提交

【repo链接】：https://github.com/flytocc/TokenLabeling-paddle

[2022-05-05 05:11] ghost opened #42487 "搞一个像样的python教程吧，看了官网好几个不是太旧就是不太行"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

### 替代实现 Alternatives

_No response_

[2022-05-05 05:51] meet-slut commented on #42471
你好，使用的是aistudio notebook自带的模型部署。详见：https://ai.baidu.com/ai-doc/AISTUDIO/bk3e382cq

[2022-05-05 06:30] adaxiadaxi commented on #42258
官网上飞腾编译是在裸机环境下编译：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/arm-compile.html#anchor-0 。
当时需要的依赖版本：
1.cmake >= 3.16
2.git
3.python 2.7、3.5、3.6、 3.7（有任一版本的python即可）
4.OpenBlas（在无网环境下，需提前手动编译好适配运行设备的 blas 库，也可以直接调用运行设备上已有的高性能 blas）
5.protobuf
6.gcc >= 5.4

咱们现在还没有在飞腾环境下编译问题嘛？ @lvweitao92

[2022-05-05 06:30] Youmimzy commented on #42403
好的，感谢讲解

[2022-05-05 06:37] luotao1 opened #42490 "【PFCC-Roadmap】AI硬件接入"
### Roadmap

飞桨已经在多款AI硬件上全面支持训练和推理任务，并适配了80+模型在曙光C86加速卡上的运行，以及30+模型在昇腾910芯片上的运行。但曙光C86上还存在部分算子单测失败的问题，昇腾910芯片上则存在部分算子尚未适配的情况，[石墨表格《PFCC-Roadmap》之 【AI硬件接入】](https://shimo.im/sheets/RKAWVnVNopC1NKk8/Gak9W)为当前在Paddle中部分需要适配的案例，我们内部在不断地进行适配。你如果对飞桨框架+AI硬件适配感兴趣，可以参加此活动。

飞桨深度学习训练框架已经当前已经支持多款异构训练芯片，包括昆仑XPU、曙光C86加速卡、华为昇腾910NPU、和GraphCore IPU等，大家可以通过以下链接访问相应的硬件使用文档：
<img width="1156" alt="22fbe543a9f351a6b

[2022-05-05 06:39] luotao1 commented on #42490
### 曙光DCU-附录
【方向说明】

- 技术标签：深度学习框架，C++，Python，HIP
- 详细描述：飞桨支持在C86加速卡上运行，但是存在部分算子在C86加速卡下还无法通过算子单测。请根据单测错误提示，对算子C++文件和单测Python文件进行相应修复，在不删减单测Python文件中的单测用例的前提下，使得算子单测通过。

【参与指南】：

- 飞桨成立了 [PFCC(Paddle Framework Contributor Club)](https://github.com/PaddlePaddle/community/tree/master/pfcc)，是一个有兴趣、正在、或者已经为飞桨开源框架做开源贡献的贡献者而成立的虚拟组织，在这里，飞桨开源框架的贡献者进行讨论、交流和分享，并为飞桨框架做出持续的贡献。欢迎你持续关注并加入（我们会定向邀请 Paddle repo 提交

[2022-05-05 06:39] luotao1 commented on #42490
### 昇腾NPU-附录
【方向说明】

- 技术标签：深度学习框架，C++，Python，HIP
- 详细描述：飞桨支持在昇腾NPU上运行，但是目前还存在680个Paddle算子尚未适配昇腾NPU。请参考昇腾NPU算子开发说明，进行算子开发。

【参与指南】：

- 飞桨成立了 [PFCC(Paddle Framework Contributor Club)](https://github.com/PaddlePaddle/community/tree/master/pfcc)，是一个有兴趣、正在、或者已经为飞桨开源框架做开源贡献的贡献者而成立的虚拟组织，在这里，飞桨开源框架的贡献者进行讨论、交流和分享，并为飞桨框架做出持续的贡献。欢迎你持续关注并加入（我们会定向邀请 Paddle repo 提交PR的开发者加入）。

- 如果你对AI硬件接入方向感兴趣，可以在[石墨表格《PFCC-Ro

[2022-05-05 06:50] Chumumu commented on #41482
【队名】：没头脑

【序号】：54

【论文】：Deep Relational Reasoning Graph Network for Arbitrary Shape Text Detection

【状态】：报名

【repo链接】：https://github.com/Chumumu/paddle_Deep-Relational-Reasoning-Graph-Network

[2022-05-05 07:02] hatimwen commented on #41482
【队名】：DUT_BOYS

【序号】：5

【论文】：HashNet: Deep Learning to Hash by Continuation

【状态】：报名&&提交3

【repo链接】：https://github.com/hatimwen/paddle_hashnet

[2022-05-05 08:06] bitcjm commented on #41482
【队名】：稳中求进BIT

【序号】：42

【论文】：GAN Prior Embedded Network for Blind Face Restoration in the Wild

【状态】：提交

【repo链接】：https://github.com/bitcjm/GPEN_REPO

[2022-05-05 08:08] #38865 closed, assigned to nobody

[2022-05-05 08:08] #40109 closed, assigned to TCChenlong

[2022-05-05 08:11] #42435 closed, assigned to littletomatodonkey

[2022-05-05 08:19] joey12300 commented on #42487
您好，请问可以举几个例子吗？试一下选择2.2版本，文档会更新一些
![image](https://user-images.githubusercontent.com/10826371/166886204-90d68deb-755c-4485-a786-7cfdaa536e88.png)

[2022-05-05 08:36] songzy12 commented on #1979
Just came across this while searching for answers with the same question.

The links in comment#2 are now both outdated. Here are some latest references:
- https://www.paddlepaddle.org.cn/documentation/docs/en/api/paddle/ParamAttr_en.html
- https://www.paddlepaddle.org.cn/documentation/docs/en/api/paddle/nn/initializer/XavierNormal_en.html

[2022-05-05 08:49] Youmimzy commented on #42403
好的 谢谢讲解 非常感谢

[2022-05-05 09:04] tricksterANDthug commented on #41724
啥时候可以添加这个功能啊，涉及到梯度激活映射的论文都会用到这个函数，但是paddle中没有相关的api

[2022-05-05 09:16] ravirathore commented on #42416
Hi,
PaddleOCR tried to compile opencv-contrib version 4.4.0.46.
I also tried separately. But couldn't do it. Not sure how to do it.
Also, alpine has musl library - not sure whether manylinux will work with it.
 Please see.

Thanks,

[2022-05-05 09:27] Ligoml commented on #42487
可以贴几个链接给我们看看吗？develop的文档应该是最新的

[2022-05-05 09:32] ghost commented on #42487
2.2的文档里应该没有python教程吧

[2022-05-05 09:34] ghost commented on #42487
文档里应该没有python教程，之前在官网看过应该是两个，一个应该是僵硬的机翻，一个感觉就很难学

[2022-05-05 09:54] Ligoml commented on #42487
嗯？抱歉我没有理解什么意思，你是指官网文档里没有python教程希望增加呢，还是对现有的python教程不满意呢？如果是后者，可以贴一下链接吗？我也好确认是哪些内容需要新增或更新~

[2022-05-05 09:56] Ligoml commented on #42487
python教程我们更推荐在aistudio上学习哈：https://aistudio.baidu.com/aistudio/course/introduce/25763

[2022-05-05 10:20] qili93 commented on #42401
BTW, please note paddle/models also noted the migration here:
https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/README_en.md

<img width="1033" alt="image" src="https://user-images.githubusercontent.com/16605440/166904559-70b62e92-2bfa-458d-8bce-80ea452f8527.png">

[2022-05-05 10:21] qili93 commented on #42417
收到，非常感谢您的建议。

请问您这里能帮忙提供一下相关的论文，我们内部调研评估一下，多谢！

[2022-05-05 10:25] littletomatodonkey commented on #42432
使用`pip install --no-deps paddlepaddle-gpu==1.8.5`试下哈，然后缺什么包，再单独安装即可

[2022-05-05 10:26] tink2123 commented on #42449
如果希望保存训练参数，建议使用 paddle.static.save 接口，可以参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/save_cn.html#save

[2022-05-05 10:29] littletomatodonkey commented on #42442
嗯嗯，感谢反馈，我们也在持续优化~

[2022-05-05 10:29] #42442 closed, assigned to littletomatodonkey

[2022-05-05 10:32] qili93 commented on #42416
hi, @ravirathore

If you are sure that your environment has  opencv-python installed, then you just need to remove "opencv-python" requirement from https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.4/requirements.txt, then go ahead with PaddleOCR installation.

In case you have problem to install opencv-python in your environment, propose to open issue in opencv community to resolve.

Thank

[2022-05-05 10:34] #42403 closed, assigned to qili93

[2022-05-05 10:37] windstamp commented on #42427
您好，能否提供一下具体的报错信息，以及一份最小的可复现代码，以帮助我们来详细排查这个问题。

[2022-05-05 10:59] #42401 closed, assigned to qili93

[2022-05-05 11:01] #42416 closed, assigned to qili93

[2022-05-05 11:04] Ligoml commented on #42419
你好，paddle2.3正式版会支持到CUDA11.2，11.6未来或许会有支持计划，目前还是建议使用稍低版本来使用paddle~

[2022-05-05 11:04] #42419 closed, assigned to yinhaofeng

[2022-05-05 11:04] #42423 closed, assigned to windstamp

[2022-05-05 11:06] Ligoml commented on #42424
可以在这个issue中讨论：https://github.com/PaddlePaddle/Paddle/issues/42417 ，最好可以提供一些论文和其他框架的复现情况，我们综合评估一下哈~

[2022-05-05 11:10] #42449 closed, assigned to tink2123

[2022-05-05 11:11] #42441 closed, assigned to littletomatodonkey

[2022-05-05 11:15] Ligoml commented on #42457
你好，根据复现赛的流程说明，你可以在跑通参考代码后申请加入vip群，答疑和算力申请都可以在群中进行：https://aistudio.baidu.com/aistudio/competition/detail/205/0/introduction
<img width="554" alt="image" src="https://user-images.githubusercontent.com/39876205/166912446-86535076-7511-460a-ad18-71f777cb175b.png">

[2022-05-05 11:27] qili93 commented on #42387
hi, @marsbzp ,

抱歉，由于这部分功能是TensorRT内部的实现，且该部分代码TensorRT并未开源，建议可以尝试寻找一下TensorRT的相关文档。

[2022-05-05 12:04] zhwesky2010 commented on #42440
@brucmao 你好，目前还未支持到CUDA11.6，正式发版只发布到CUDA11.2，CUDA11.3-11.5 目前还在内测中，应该也是可以编过。这里看起来是CUDA11.6编译还有语法错误，可以使用CUDA11.2-11.5试试。
太新的CUDA一般会不太稳定或者有计算精度风险，推荐下次安装次新的cuda/cudnn/python版本即可。

[2022-05-05 12:18] JiabinYang commented on #40013
solved in PR https://github.com/PaddlePaddle/Paddle/pull/42509

[2022-05-05 13:22] 875052544 opened #42514 "SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception."
### 请提出你的问题 Please ask your question

RuntimeError: DataLoader 1 workers exit unexpectedly, pids: 12711
    return next(self.loader)
  File "/root/miniconda3/lib/python3.8/site-packages/paddle/fluid/dataloader/dataloader_iter.py", line 697, in __next__
    data = self._reader.read_next_var_list()
SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception.
  [Hint: Ex

[2022-05-05 13:29] zzc98 commented on #41482
【队名】：大山坡

【序号】：11

【论文】：Destruction and Construction Learning for Fine-grained Image Recognition

【状态】：提交

【repo链接】：https://github.com/zzc98/PaddlePaddle_DCL

[2022-05-05 13:36] chenwhql commented on #42348
我这边本地之前没有测试2.1.2，所以我又测试了一下，但还是没有得到预期效果，测试如下：
![image](https://user-images.githubusercontent.com/22561442/166934985-459f6568-1a13-4f9f-8297-3b7a76d7a2be.png)

和您本地环境的差别的话，一个是Python版本不同，一个是Driver API Version不同？

您在aistudio上测试2.2或者2.1的是正常的吗？

[2022-05-05 13:39] chenwhql commented on #42348
测试代码应该没有改动，您check下？

[code]

[2022-05-05 14:15] joey12300 commented on #42514
@875052544 请问你的paddle版本是多少？方便提供一个最小可复现代码吗？

[2022-05-05 14:23] joey12300 commented on #42481
@hellochengyan 直接使用该公式进行pad。padding_height = padding_width = padding（整数）
![image](https://user-images.githubusercontent.com/10826371/166944526-8ed3cbf1-ee0f-48c1-945c-bc33ab5c4540.png)

[2022-05-05 14:24] joey12300 commented on #42481
@hellochengyan 直接使用该公式进行pad。padding_height = padding_width = padding（整数）
![image](https://user-images.githubusercontent.com/10826371/166944746-83c90951-6433-4020-b2da-0f71d2daacee.png)

[2022-05-05 14:54] songjhaha commented on #40234
【队名】：适格的魔法师

【序号】：95

【状态】：PR提交

【链接】：https://github.com/X4Science/INFINITY/pull/3

[2022-05-05 15:19] wozna commented on #41950
@Baibaifan @Aganlengzi I prepared AdamW-CPU JIT kernel https://github.com/PaddlePaddle/Paddle/pull/42522.
I tested only 1 epoch for vgg model with results

Intel(R) Xeon(R) Gold 6248 CPU @ 2.50GHz

Average kernel time [ms]
| Threads | AdamW with Eigen | AdamW JIT |
|---------|------------------|-----------|
| 1       | 0.0667           | 0.0655724 |
| 20      | 0.133347         | 0.118731  |

Plea

[2022-05-05 16:23] yuwoyizhan commented on #42417
@qili93 @Ligoml 最近2个希望百度飞桨提供数据挖掘的仓库的issue,都是我提的,哈哈哈哈.https://aistudio.baidu.com/aistudio/projectdetail/3754643?channelType=0&channel=0这个项目,作者使用3层全连接神经网络,做到了91分,我改善了一下,也是3层全连接神经网络,改了超参数,94分,但是使用20层,梯度爆炸了,无法训练,哈哈哈哈.据我所知,ResNet最重要的一个思想,就是防止梯度爆炸和消失,可以很好的组建非常多层的神经网络.而卷积网络与全连接神经网络本质区别,在于卷积神经网络对于图像很有效,对于别的数据就未必会比全连接神经网络有效.
数据挖掘,对我来说,有3种情形最重要.1.我有一个数据集,N维x和一维y,需要一个模型进行训练,评估,预测.上面说的这个项目,就是典型的N维x和一维y,定义一个模型

[2022-05-05 16:32] ravirathore commented on #42416
Hi,
Thanks.
I was able to compile opencv-python, but only in a system with python3.10.
Pls let know if its possible to generate the Paddle wheel for Python-3.10 from the docker. Currently, it provides python3.7 version wheel (paddlepaddle-0.0.0-cp37-cp37m-linux_aarch64.whl).

Thanks and regards,

[2022-05-05 16:36] yuwoyizhan commented on #42417
3种数据挖掘情形,我觉得都很有应用场景的.银行放贷前,判断是否欺诈,也是根据多维x和1维y进行模型的训练,评估和部署预测.但是飞桨目前应该没有比较好用的,深层的,不会梯度爆炸和为0的模型,比如vision下的ResNet,VIT等模型都要求输入是4维或者5维,根本不可能是2维,我也不知道如何改模型.
反正我觉得,我说的这三种数据挖掘情形,都有着极其广阔的应用场景.希望你们可以考虑弄个相关的仓库,哈哈哈哈.

[2022-05-05 16:53] yuwoyizhan commented on #42417
据我所知,pytorch的resnet模型,根本不会限制输入的格式必须是4维或者5维,也不会限制只能用于视觉领域.很多人把这个模型用于其他领域,取得巨大成功,因为这个模型,算是世界上第一个可以组建深层神经网络的模型,很多人只会这个模型,而不会那些更加复杂的模型了.举个例子,谷歌用ResNet研究围棋,超越世界冠军.还有人把ResNet用于所有棋类,比如围棋,五子棋,六子棋等,2060训练一天,世界冠军,哪里会限制ResNet只能用于4维或者5维的输入数据,哪里限制只能用于视觉领域呢?百度飞桨的ResNet却是vision下的接口,摆明了百度认为,这个模型只能用于视觉领域.

[2022-05-06 00:18] lanking520 opened #42523 "Paddle C++推理库是否支持动态图算子？ Does Paddle support dynamic graph operators in C++ inference API"
### Description

From the Paddle 2.3.0-rc0, it seemed the dynamic graph operators are supported for training in C++. We are wondering if inference API also can call these operators? If so, is there any code reference.

This feature is going to be helpful for us to standardize the pre/postprocessing for model inference.

Paddle目前可以用C++推理库来调用动态图算子么？

[2022-05-06 00:54] malcolm-wang opened #42524 "如何提高SSD的剪枝度？"
### 请提出你的问题 Please ask your question

![123](https://user-images.githubusercontent.com/104298741/167049579-6136b49e-19b9-4ac4-9779-bce3de2a5010.png)
为什么这个的pruned ratio 只有0.045左右啊，yolov3的这个都可以达到30%几。这个配置文件该怎么改呢？按照yolo的数据，最后的pruned ratio只有0.005，而改变参数和层数最多只有0.045，请问如何更改此配置文件使得在训练ssd时的pruned ratio达到0.1以上？

[2022-05-06 02:12] ghostxsl commented on #42523
可以

[2022-05-06 02:15] ghostxsl commented on #42524
可以参考一下PaddleSlim的文档：https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/api_cn/overview.md#%E5%89%AA%E6%9E%9D

[2022-05-06 02:24] qili93 commented on #42416
Hi @ravirathore ,

If you are able to install Python3.10 in your docker container, then you just need to modify the scrips as following:

1. https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/scripts/musl_build/build_inside.sh#L23 to change `PYTHON_VERSION=3.10`
2. https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/scripts/musl_build/build_inside.sh#L80 to add CMAKE args of `-DPY_V

[2022-05-06 02:48] Ligoml commented on #41723
你是指 [paddle.Tensor.register_hook](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Tensor_cn.html#register-hook-hook) 吗？这个是已经有的

<img width="869" alt="image" src="https://user-images.githubusercontent.com/39876205/167059013-736727fa-c297-4359-ac54-deeb710752e8.png">

[2022-05-06 02:55] lanking520 commented on #42523
那想问一下具体应该使用哪个头文件来调用呢？

[2022-05-06 02:56] tricksterANDthug commented on #41723
register_full_backward_hook 我想要的是这个hook函数，和你上面那个不太一样，都是和梯度相关，但是register_full_backward_hook 可以在模型训练完成之后取得相应的梯度，register_hook在模型训练完成之后就取不到相应的hook了

[2022-05-06 02:59] ghostxsl commented on #42523
可以参考官方文档：https://www.paddlepaddle.org.cn/inference/v2.3/quick_start/workflow.html

[2022-05-06 03:08] lxk767363331 commented on #42471
您好，已反馈给相关同学跟进处理，感谢支持。

[2022-05-06 03:10] joey12300 commented on #42482
@hellochengyan 直接使用该公式进行pad。padding_height = padding_width = padding（整数）
![image](https://user-images.githubusercontent.com/10826371/166944526-8ed3cbf1-ee0f-48c1-945c-bc33ab5c4540.png)

[2022-05-06 03:13] lanking520 commented on #42523
文档里并没有任何与Tensor算子有关的操作、，除了基本的复制，reshape等。想问具体到Tensor.add 等操作应该如何做呢？

[2022-05-06 03:16] ghostxsl commented on #42523
你直接在组网的时候调用就可以了

[2022-05-06 03:16] Ligoml commented on #42417
你好，
首先解答一下api的问题，paddle封装api是为了方便用户直接拿过来用，这不代表paddle限制了用户的灵活使用，对于灵活性有要求的用户可以通过组网的方式自定义模型结构，PaddleClas中提供的[ResNet网络](https://github.com/PaddlePaddle/PaddleClas/blob/1358e3f647e12b9ee6c5d6450291983b2d5ac382/docs/en/models/ResNet_and_vd_en.md)也是基于这样的方式而不是直接去调api，你可以参考这些组网方式来定义你自己想要的模型结构。

其次，paddle框架是基础工具，上层应用场景可能会更偏套件和生态方向，你所提到的数据挖掘仓库的学术和产业价值我们不好评估，可能需要更多的数据或第三方声音的支持。如果你可以提供一些高价值模型或学术论文，我们可以内部讨论是否可以

[2022-05-06 03:17] lanking520 commented on #42523
这个不是静态图算子么？所以动态图算子是没有办法直接拿来用的对不对？如果用户有自己前后处理的逻辑，应该怎么做呢

[2022-05-06 03:20] ghostxsl commented on #42523
前后处理你可以融进网络内部做，直接在模型导出的时候就附带进模型里。如果不行，请在C++端单独编写，单独编写前后处理跟框架无关

[2022-05-06 03:21] Sakura176 opened #42525 "paddle自定义cuda算子问题？"
### 请提出你的问题 Please ask your question

我将倒角距离的torch算子改成paddle版本，但是出现下列错误：
`File "unit_test.py", line 2, in
    import dist_chamfer_3D
  File "/home/aistudio/work/PointCloudCompletion/extentions/chamfer_dist/dist_chamfer_3D.py", line 23, in
    import chamfer
ImportError: /home/aistudio/work/PointCloudCompletion/extentions/chamfer_dist/chamfer.so: undefined symbol: _Z20chamfer_cuda_forwardN6paddle6T

[2022-05-06 03:24] lanking520 commented on #42523
感谢！明白了，结论就是2.3.1带的C++动态图算子是没办法在推理库中调用的。目前依然是只支持静态图输入输出。

[2022-05-06 03:25] rainyfly opened #42526 "Paddle2.3rc预测库进行模型推理报错data format error"
### bug描述 Describe the Bug

Paddlehub模型animegan_v2_hayao_64在aistudio [https://aistudio.baidu.com/ibdcpu2/user/883469/3950312/lab/tree/main.ipynb] 中出现报错, 报错截图如下
<img width="829" alt="c1f33fa240bac349daa5bb8dde3cd194" src="https://user-images.githubusercontent.com/22424850/167061888-7decefa4-c7e9-459c-84d9-80742b57dfe4.png">
环境如下
<img width="296" alt="image" src="https://user-images.githubuserconten

[2022-05-06 04:38] simonsLiang opened #42528 "paddle2.3.0-rc0的paddle.sin操作不支持求梯度吗 paddle 2.2.2是支持的"
### bug描述 Describe the Bug

复现代码
import paddle
#2.3.0-rc0
x = paddle.to_tensor([1.1,2.2],dtype='float32',stop_gradient=False)
y = paddle.sin(x)
out = paddle.grad(y,x,grad_outputs=paddle.ones_like(y),create_graph=True)[0]

可否尽快修复一下

### 其他补充信息 Additional Supplementary Information

错误输出：
---------------------------------------------------------------------------
RuntimeError

[2022-05-06 04:56] malcolm-wang commented on #42524
你好，文档里面没有说明PaddleDetection里面应该如何修改如上图所示的配置文件以达到较合适的剪枝率。如果修改配置文件中的比例的话，为什么在yolov3里面可以达到30%+的剪枝率，而在ssd里面就特别低呢？
![image](https://user-images.githubusercontent.com/104298741/167069608-86d7a5cd-85e3-4e64-9c49-a35f7d082b50.png)

[2022-05-06 04:59] simonsLiang commented on #42528
2.1.2的也不支持paddle.sin求梯度  2.2.2的支持 不过2.2.2的paddle.grad不正确  2.2.2的paddle.grad计算结果和2.1.2以及2.3.0的差别很大

[2022-05-06 05:49] simonsLiang commented on #42528
补充：我需要计算高阶梯度

[2022-05-06 05:59] sosojust1984 commented on #41482
【队名】：sosojust

【序号】：73

【论文】：COOT

【状态】：报名

【repo链接】：https://github.com/sosojust1984/COOT

[2022-05-06 07:03] luotao1 opened #42532 "【PFCC-Roadmap】API单测增强"
### Roadmap
PaddlePaddle是一个深度学习框架，开发者通过使用 PaddlePaddle 对外暴露的API，进行模型的搭建，训练，推理，部署以及存储。在这个通过众多API组合构建的系统中，如果其中某个API出现了异常，大概率会影响到整个系统的正确运行。如果我们针对整个系统进行测试和监控，即便发现了问题，也很难定位到具体是哪里出现了问题，同时测试整个系统的效率也非常低下。所以，针对API级别的测试（即单元测试）显得格外重要，可以大幅提高执行效率和问题定位效率，进而有力的保障系统的正确运行。

API的单测，就相当于模拟并覆盖API在真正使用场景下可能出现的各种使用方式，以此来保障API行为的正确性和稳定性。在API的单测编写上，我们需要尽可能覆盖到API的使用场景，以及API自身的参数组合使用，边界值和异常值的处理，并保证在这些情况下，API的行为符合设计预期。API的单

[2022-05-06 07:05] luotao1 commented on #42532
### 附录
【方向说明】

- 技术标签：深度学习框架，Python，C++
- 详细描述：在飞桨框架开发早期，API的单元测试并不全面，有些API会存在测试样例缺失的问题。请根据[新增API 测试及验收规范](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/api_contributing_guides/api_accpetance_criteria_cn.html) 评测单测的完整度，补齐缺失的单测，如有发现bug，对API进行修复。

【参与指南】：

- 飞桨成立了 [PFCC(Paddle Framework Contributor Club)](https://github.com/PaddlePaddle/community/tree/master/pfcc)，是一个有兴趣、正

[2022-05-06 07:06] nistarlwc commented on #41074
不用并发，效率就会很差。难道就没有解决方法吗

[2022-05-06 07:19] qlogcn commented on #41482
【队名】：无名

【序号】：79

【论文】：[VectorNet: Encoding HD Maps and Agent Dynamics from Vectorized Representation](https://paperswithcode.com/paper/vectornet-encoding-hd-maps-and-agent-dynamics)

【状态】：报名

【repo链接】：https://github.com/qlogcn/VectorNet_Paddle

[2022-05-06 07:25] 875052544 commented on #42514
我已经解决这个问题了，现在有一个新的问题，ppyoloe能输入比640大的图片吗？如3840*5760吗？我尝试输入网络，但是没有成功

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月5日(星期四) 晚上10:1

[2022-05-06 08:38] ghostxsl commented on #42524
建议到 https://github.com/PaddlePaddle/PaddleDetection/issues 下提issue

[2022-05-06 11:21] leelinglin opened #42539 "paddle与Ascend910的适配问题"
### 请提出你的问题 Please ask your question

请问paddle(非paddle-lite)里哪些函数能够运行在NPU上？之前运行在GPU上的程序按照官方说明编译paddle，paddle.utils.run_check() 也正常，但是程序里的place修改成NPU后，运行速度特别慢，感觉不正常，在官方文档中没有找到任务相关说明

[2022-05-06 13:34] 875052544 commented on #42514
我的paddle是2.2.2，再次出现了这个问题，好像图片的尺寸过大就会出现这个情况，我同时尝试了640X640，还有3840X3840的图片尺寸，在图片数量少的时候3840X3840也能成功运行，是不是因为内存泄露的原因

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;

[2022-05-06 14:14] nemonameless commented on #41551
PaddleDetection中已经发布[YOLOX](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/yolox)，欢迎使用。

[2022-05-06 14:16] #41551 closed, assigned to thisjiang

[2022-05-06 14:17] HeQinWill commented on #36992
+1🙋‍♂️
paddle 版本为: '2.2.2'
当原数组中有**空**数据时， paddle.where 对它不奏效，返回的结果仍为**空**，但是 np.where 和 torch.where 得到的结果均符合预期
[code]

[2022-05-06 15:36] mmdbhs commented on #40215
i have tried gcc8, it did't work

[2022-05-06 16:13] ravirathore commented on #42416
Thanks!

[2022-05-06 19:27] crazyxiaoj opened #42550 "如何使paddle载入一个keras的预训练模型？"
### 请提出你的问题 Please ask your question

我现在下载了keras的预训练模型h5文件，通过`h5py`包，可以取得我需要的权重信息。
我该怎么做才能将这些权重信息，写入paddle中的layer中呢？

[2022-05-07 01:29] 2050airobert commented on #42341
tks，另外请问下 tinypose完整版本的量化，什么时候可以发布呢？下周几大概？

[2022-05-07 01:29] BrunaFortunato-eng opened #42551 "AttributeError: module 'paddle' has no attribute 'batch'"
### bug描述 Describe the Bug

import paddle
from paddleocr import PaddleOCR
ocr = PaddleOCR(use_angle_cls=True,lang='en') # need to run only once to load model into memory
img_path = 'https://4ww1y37tl91gmoej12r01u1c-wpengine.netdna-ssl.com/wp-content/uploads/2019/08/TextDocument.png'
result = ocr.ocr(img_path, cls=True)
for line in result:
    print(line)

### 其他补充信息 Additional Supplementary Inform

[2022-05-07 02:32] thunder95 commented on #40234
【队名】：thunder95

【序号】：63

【状态】：PR已合入

【链接】：https://github.com/PaddlePaddle/Paddle-Lite-Demo/pull/237

[2022-05-07 02:58] nemonameless commented on #42551
您好，从报错信息上看，错误可能是由于您本地安装的PaddlePaddle版本过低，建议升级下，测试过2.2.2版本是可以的。具体用法可以参照官网[batch](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/batch_cn.html#batch)的API文档，如未能解决还请继续反馈，谢谢。

[2022-05-07 03:08] Victory8858 opened #42554 "关于形如a[[0,1,2,3],:]的Tensor索引报错问题"
### bug描述 Describe the Bug

若按如下方式索引，必须转化为numpy格式才行，但是这样，在计算loss的时候会丢失梯度，导致optimizer根本不起作用，这个bug找了很久，后来我才意识到在计算loss时若转化为numpy，梯度就没了，请问应该如何解决，谢谢！
[code]

[2022-05-07 03:18] nemonameless commented on #42550
您好，可以尝试做key-value映射转成pdparams格式的权重。
预训练权重本质上是一个字典dict，有key和value，key就是模型的模块的名字。将keras的预训练模型权重的key和shape打印下，将paddle的同模型的key和shape打印下，可以根据shape做下匹配得到一份weights map的权重对应表格之类的，比如两列权重key的名字，左边一列是keras模型权重的key，右边一列是paddle模型的key，然后根据这份weights map将预训练权重字典dict换个key存下来，存的时候用paddle.save就能保存成pdparams。

[2022-05-07 04:07] nemonameless commented on #42554
您好，您举的例子bbox_annotation[[0, 1, 2, 3]]即可，paddle tensor的索引为单个list目前是支持的。bbox_annotation[[0, 1, 2, 3], :]是两个list做索引了，报错信息里应该有提示，如果要多个list做索引建议一个一个来分开处理，谢谢。

[2022-05-07 05:41] kingwpf commented on #40210
好像有个包代码需要权限才能拉
fatal: Authentication failed for 'https://gitee.com/wjakob/clang-cindex-python3/'

[2022-05-07 06:36] ghost opened #42562 "[Docker]Should using opencv-python-headless instead with opencv-python"
### bug描述 Describe the Bug

While running paddle inside docker, it will lead error like this:

[code]

### 其他补充信息 Additional Supplementary Information

by the opencv document
[code]

see: https://pypi.org/project/opencv-python-headless/

[2022-05-07 06:46] Victory8858 commented on #41482
【队名】：Victory8858

【序号】：59

【论文】：[SPIN: Structure-Preserving Inner Offset Network for Scene Text Recognition](https://arxiv.org/abs/2005.13117)

【状态】：报名

【repo链接】：https://github.com/Victory8858/SPIN

[2022-05-07 06:47] txyugood commented on #41482
【队名】：txyugood

【序号】：78

【论文】：AFSD: Learning Salient Boundary Feature for Anchor-free Temporal Action Localization

【状态】：报名

【repo链接】：https://github.com/txyugood/PaddleAFSD

[2022-05-07 06:48] huaibovip commented on #41482
【队名】：小鸡毒蘑菇

【序号】：24

【论文】：[DCPose: Deep Dual Consecutive Network for Human Pose Estimation](https://arxiv.org/abs/2103.07254)

【状态】：报名

【repo链接】：https://github.com/huaibovip/paddle-DCPose

[2022-05-07 06:52] BamLubi commented on #41482
【队名】：BamTeam

【序号】：125

【论文】：[Deep Position-wise Interaction Network For CTR Prediction](https://arxiv.org/pdf/2106.05482v2.pdf)

【状态】：报名

【repo链接】：https://github.com/BamLubi/Paddle-DPIN

[2022-05-07 07:00] txyugood commented on #41482
【队名】：txyugood

【序号】：74

【论文】：Revisiting Skeleton-based Action Recognition

【状态】：报名&提交2

【repo链接】：https://github.com/txyugood/PaddlePoseC3D

[2022-05-07 07:11] ITerydh opened #42564 "No stack trace in paddle, may be caused by external reasons"
### bug描述 Describe the Bug

在本地环境多卡跑项目没有什么问题，换成aistudio的线上的v1004卡后，报错
如下：
···
W0507 15:07:04.933581  3904 device_context.cc:447] Please NOTE: device: 3, GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime API Version: 10.1
W0507 15:07:04.937494  3904 device_context.cc:465] device: 3, cuDNN Version: 7.6.

--------------------------------------
C++ Traceback (most recent call last):
-----

[2022-05-07 07:30] TCChenlong opened #42565 "【Feature Request】开源之夏2022 & PaddlePaddle"
### 开源之夏 2022 & PaddlePaddle

“开源之夏（英文简称 OSPP）”是中科院软件所“开源软件供应链点亮计划”指导下的系列暑期活动，由中国科学院软件研究所与 openEuler 社区共同主办，是一项主要面向高校学生的暑期开源活动，旨在鼓励在校学生积极参与开源软件的开发维护，促进优秀开源软件社区的蓬勃发展。

本次飞桨PaddlePaddle社区开放6个项目，项目列表如下，欢迎对飞桨PaddlePaddle感兴趣的同学报名参加，报名见 [开源之夏 2022 & PaddlePaddle](https://summer-ospp.ac.cn/#/org/orgdetail/824c98a3-c873-4409-871c-db0bf4f272dd/)。

#### 项目一：飞桨PaddlePaddle 分布式强化学习功能研发<a name='task1'></a>

-

[2022-05-07 07:44] jiaerwang0328 opened #42566 "paddle whl安装成功，运行测试程序报错"
### 问题描述 Please describe your issue

环境：
NVIDIA-SMI 418.56       Driver Version: 418.56       CUDA Version: 10.1，cudnn: 7.5.0
安装paddle:
python -m pip install paddlepaddle-gpu==2.2.2.post101 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html
运行：
[code]
报错：
[code]

[2022-05-07 07:45] usmile1234 commented on #41482
【队名】：老师，您还没有布置作业

【序号】：24

【论文】：Deep Dual Consecutive Network for Human Pose Estimation

【状态】：提报名

【repo链接】：https://github.com/usmile1234/24-Deep-Dual-Consecutive-Network-for-Human-Pose-Estimation

[2022-05-07 08:38] ZeyuLing commented on #41482
【队名】：虾泥马掺和

【序号】：95

【论文】：Restormer: Efficient Transformer for High-Resolution Image Restoration

【状态】：报名

【repo链接】：https://github.com/Q137589933/paddle_restormer

[2022-05-07 09:15] lidanqing-vv commented on #37930
I think deepmd multi-threading also have same issue. That multithreading does not scale

[2022-05-07 09:35] ghost commented on #36801
ubuntu 22.04 released. but paddle still can not support it. sorry to hear this

[2022-05-07 09:53] luotao1 opened #42571 "【PFCC-Roadmap】总览"
飞桨成立了 [PFCC(Paddle Framework Contributor Club)](https://github.com/PaddlePaddle/community/tree/master/pfcc)，是一个有兴趣、正在、或者已经为飞桨开源框架做开源贡献的贡献者而成立的虚拟组织，在这里，飞桨开源框架的贡献者进行讨论、交流和分享，并为飞桨框架做出持续的贡献。欢迎你持续关注并加入（我们会定向邀请 Paddle repo 提交PR的开发者加入）。

为了让大家能深入地了解飞桨、在飞桨收获更多成长、解决更有挑战性的问题，飞桨团队计划将正在开展的重点工作和技术方向陆续发布。每个技术方向都会有工程师支持，和该方向中的同学一起确定目标、规划和分工，希望PFCC的成员能逐渐成为方向骨干甚至是带头人，带领更多人一起开发。

以下是目前开放的技术方向，如果有想开发的方向不在这几个范围，可以在 P

[2022-05-07 10:49] marsbzp commented on #42387
我在看paddleslim在线量化代码没看到conv+bn进行fold得到新的卷积weight然后对新的weight进行量化反量化，你们是直接对原卷积核量化反量化的，最后把scale传给tensorrt，trt是先conv+bn融合再量化，还是先量化再融合呢，google那篇论文先conv bn fold再进行量化的

[2022-05-07 11:14] lucasjinreal commented on #36801
Do not sorry, this is normal for Baidu's product. Don't take it serious. I would suggest turn to torch or megengine, they are fabulous.

[2022-05-07 12:27] 1543736503 opened #42574 "cuda8.0版本 paddle conda的安装指令"
### 问题描述 Issue Description

cuda8.0   对应  paddle的安装指令

### 版本&环境信息 Version & Environment Information

cuda8.0

[2022-05-08 01:45] hello-billy commented on #41482
【队名】：复现升级队

【序号】：130

【论文】：Extraction of mechanical properties of materials through deep learning from instrumented indentation

【状态】：报名

【repo链接】：https://github.com/hello-billy/deep-learning-for-indentation-on-paddle

[2022-05-08 08:49] littletomatodonkey commented on #42432
你好，我在安装pathlib之后，再安装1.8.5的paddle，没有出现你所说的报错，想问下按照上面的操作有做不？

![image](https://user-images.githubusercontent.com/14270174/167288817-f0cd6617-cf13-4569-9306-3ae5d5a85d50.png)

[2022-05-08 08:51] vxfla commented on #42432
嗯嗯 问题解决了

[2022-05-08 08:58] littletomatodonkey commented on #42430
你好，需要将import的内容从`paddle_serving_server_gpu`修改为`paddle_serving_server`，我尝试了下，gpu和cpu版本的目录应该是统一了，我们也更新下文档~感谢反馈

[2022-05-08 09:05] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：3

【论文】：Going deeper with Image Transformers

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/Going-deeper-with-Image-Transformers-using-PaddlePaddle

[2022-05-08 09:10] OccupyMars2030 commented on #41482
【队名】：SmirnovKol

【序号】：4

【论文】：[CvT: Introducing Convolutions to Vision Transformers](https://arxiv.org/abs/2103.15808)

【状态】：报名&提交

【repo链接】：https://github.com/SmirnovKol/PaddlePaddle-CvT

[2022-05-08 11:53] #42432 closed, assigned to littletomatodonkey

[2022-05-08 11:55] Ainavo opened #42579 "paddle.summary 在特定情况下无法计入 create_parameter 的参数量"
### 明明通过create_parameter创建了参数，但这里 paddle.summary 的 total params 和 trainable params 为什么都是 0 呢？

[code]

![image](https://user-images.githubusercontent.com/57820731/167288548-70b7acb9-2115-47d2-9427-da8c88c5fee8.png)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-08 12:18] jerrylsu opened #42580 "paddle如何实现类似torch的张量花式数组索引？"
[code]
paddle什么方法可以实现上面torch的花式索引？

[2022-05-08 12:43] annabergite opened #42581 "使用PaddleOCR进行训练时使用相应的命令结果得到"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/50126267/167296588-d99db2e2-e691-454b-82a7-3f25d1547365.png)
使用csdn链接https://blog.csdn.net/u013171226/article/details/115179480 进行2.5开始训练时（没有使用python3而是python命令）出现了如上问题，属性错误，没有相应的属性"_device_id"，并且发现了本人的电脑没有gpu的一些监控数据，电脑帧数也无法检测（使用GeForce experience进行测试使用）
个人的电脑配置为：paddlepaddle版本是2.2.2，python版本是3.8.13，cuda版本是11.

[2022-05-08 12:55] nemonameless commented on #42562
Both of these are OK. Please make sure that ```import cv2``` can run ok first, which is only related to your machine environment.

[2022-05-08 13:10] nemonameless commented on #42566
您好，错误可能是由于CUDNN版本不对导致的，建议根据报错信息安装对应版本。如未能解决还请继续反馈，谢谢。
[code]
亲测没问题，我的环境是
NVIDIA-SMI 440.64.00    Driver Version: 440.64.00    CUDA Version: 10.1     cuDNN Version: 7.6。

[2022-05-08 13:17] nemonameless commented on #42574
您好，conda的安装指令与cuda版本无关。cuda8.0版本过低，为方便使用建议更新cuda版本，谢谢。

[2022-05-08 13:26] nemonameless commented on #42564
您好，请提供更多环境信息，本地环境和aistudio环境有什么不同，aistudio环境下以下语句是否正常运行。
[code]
如果没有请aistudio上重新安装合适版本谢谢。

[2022-05-08 13:36] leoaaaaa opened #42583 "用paddlepaddel-gpu安装后，程序报错"
### 问题描述 Issue Description

用paddlepaddel-gpu安装后，调用模型出错
安装成功 cuda-11.2 的 paddlepaddel-gpu
![image](https://user-images.githubusercontent.com/90248905/167298597-4f0fb351-0ef8-4ea1-be6d-2ff265cbe2d8.png)
报错：
![image](https://user-images.githubusercontent.com/90248905/167298615-ffcf654a-a238-4915-9865-77c704789092.png)
显卡：
![image](https://user-images.githubusercontent.com/90248905/167298623-efa9d252

[2022-05-08 14:04] simonsLiang commented on #41482
【队名】：高级伴读书童

【序号】：138

【论文】：Systems Biology: Identifiability analysis and parameter identification via systems-biology informed neural networks

【状态】：报名&提交

【repo链接】：https://github.com/simonsLiang/sbinn_paddle

[2022-05-08 14:13] SigureMo commented on #42579
我简单测试了下，发现问题貌似发生在 paddle.summary 这部分：

https://github.com/PaddlePaddle/Paddle/blob/4e66010bc6eb2764ea843a82db977e88233abd07/python/paddle/hapi/model_summary.py#L318-L325

貌似是因为 `(not (layer == model) or depth < 1))` （也就是 `(not (layer == model and depth >= 1))`）这里，按我的理解是这里将**含子层的顶层 Layer** 跳过了，但我不太清楚为什么要这样呀……

我这里做了下最小可复现的代码：

[code]

输出为：

[code]

这里 MyLinear 是同时满足顶层和包含子层的，结果其中 create_parameter 的参

[2022-05-08 14:30] yeyupiaoling opened #42584 "Windows编译出现错误"
### 问题描述 Issue Description

windows编译过程中报错，错误信息如下，编译CPU版本和GPU版本一样错误：
[code]

### 版本&环境信息 Version & Environment Information

 - PaddlePaddle 2.2.2
 - Windows 10
 - CUDA 10.2
 - CUDNN 7.6.5
 - VS 2017

[2022-05-08 14:40] doombeaker commented on #40234
【队名】：OneBeaker

【序号】：70

【状态】：PR已提交

【链接】：https://github.com/PaddlePaddle/docs/pull/4689

[2022-05-08 17:03] MrYuzzzz opened #42585 "visualdl可视化数据失败"
### 请提出你的问题 Please ask your question

想用visualdl可视化参数，但是打不开网页是为何？用的是chrome浏览器
![image](https://user-images.githubusercontent.com/101876020/167307029-ae632bb5-b353-4c3c-adc6-4387eb533f01.png)
![image](https://user-images.githubusercontent.com/101876020/167307052-47fd5be2-7c38-465f-923a-dac4b3582093.png)

[2022-05-08 17:04] MrYuzzzz commented on #42585
保存的路径也检查过
![image](https://user-images.githubusercontent.com/101876020/167307148-079cccc8-9979-4346-9b02-3b5d8b8b86d8.png)
bao'cun

[2022-05-09 02:35] #42481 closed, assigned to joey12300

[2022-05-09 02:37] #42487 closed, assigned to joey12300

[2022-05-09 02:46] gongel commented on #42585
你好，尝试换端口和换浏览器。

[2022-05-09 02:47] gongel commented on #42585
你好，`logdir`给个绝对路径吧

[2022-05-09 03:10] RainFrost1 commented on #42580
paddle中现在暂时还没有支持花式索引。对于特定tensor可以根据广播机制，进行单独tensor构建。也可以暂时使用numpy来进行花式索引
`
x = x.numpy()
x = ...# 相关花式索引code
x = paddle.to_tensor(x)
`

[2022-05-09 03:15] RainFrost1 commented on #42581
可以先咨询一下[PaddleOCR](https://github.com/PaddlePaddle/PaddleOCR)同学，看一下训练命令是否正确，是否是安装了paddle cpu版本或者paddle-gpu版本是否没有安装正确

[2022-05-09 03:23] RainFrost1 commented on #42583
根据nvcc， 安装的cuda版本是9.1，而安装的是cuda11.2 版本的Paddle，所以可能会报错。建议升级cuda后，再安装合适版本的paddle

[2022-05-09 03:23] mrcx-pku opened #42588 "求问一个矩阵乘法的问题"
W1的shape是[a,d1]，data的shape是[batch_size, d1, d2]，W2的shape是[d2,b]，想问一下是否可以直接fluid.layers.mul(fluid.layers.mul(W1, data), W2)呢？
如果不行应该怎么写呢？
谢谢~

[2022-05-09 03:25] annabergite commented on #42581
好的，谢谢大佬

[2022-05-09 03:34] RainFrost1 commented on #42584
能否使用pip直接安装呢？

[2022-05-09 03:47] Vincent630 opened #42589 "paddlepaddl安装失败（gpu版）"
### bug描述 Describe the Bug

当前环境是ubuntu1604,cuda10.1，cudnn7.6.5，然后安装完成后验证的时候报这个错，已经反复检查过环境了应该是按照官方要求来的，跪求大佬指教（cpu版安装后可以正常使用。。。。）
W0509 11:41:50.199869  7322 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 10.1, Runtime API Version: 10.1
W0509 11:41:50.203352  7322 device_context.cc:465] device: 0, cuDNN Version: 7.6.

--------------------------------

[2022-05-09 04:27] gongel commented on #42589
你好，这个看上去不是paddle的错误，请问你是怎么check的呢？

[2022-05-09 04:33] Vincent630 commented on #42589
这个报错是安装完paddlepaddle后用这行命令验证安装情况的时候报的错：paddle.utils.run_check()然后本地环境，包括系统，python版本以及cuda和cudnn的版本型号都是按照paddle官方的安装文档配置安装的

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"

[2022-05-09 04:35] simonsLiang commented on #42420
我也发现了这个问题，2.2.2的paddle.grad与pytorch输出差别很大，但2.1.2和2.3.0的与pytorch输出一致，  不过在2.1.2和2.3.0版本中，如果前向含有paddle.sin操作，paddle.grad又设置create_graph=True时  会报错  问题复现可参考https://aistudio.baidu.com/aistudio/projectdetail/3969839?contributionType=1&shared=1

[2022-05-09 04:42] ravirathore opened #42592 "Paddle Pyodide support"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

Hi,

Is it possible to provide Paddle package for Pyodide, or add documentation on how to build it?
Pyodide is quite big now.

Thanks,

### 替代实现 Alternatives

_No response_

[2022-05-09 04:44] gongel commented on #42588
你好，可以先去了解下矩阵乘法的原理哈，针对该例子，如下
[code]

[2022-05-09 04:50] gongel commented on #42592
Thank you for your attention. We are evaluating it internally and please look forward to it.

[2022-05-09 04:59] gongel commented on #42589
应该还是cuda和cudnn的环境问题，不是很好定位，尝试使用[docker](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html)来解决吧

[2022-05-09 06:07] hhjGHub commented on #42420
模型：StyleGAN V2
paddle版本：paddlepaddle-gpu==2.2.2
参考文档：https://github.com/PaddlePaddle/PaddleGAN/blob/develop/docs/zh_CN/tutorials/styleganv2.md
问题描述：近期，复现StyleGAN V2模型训练时，训练过程中没有报错信息，训练完成后的随机采样结果效果很差
![5d95e073451caa354c184a3961ba773](https://user-images.githubusercontent.com/49189504/167349772-3a5423e7-a9df-4527-ae87-9b91bfb5d3b9.jpg)
初步定位StyleGAN V2中的梯度可能有错误，paddle.grad()这个api求出了错误的梯度

[2022-05-09 06:14] annabergite opened #42594 "paddleocr训练模型命令后The length of ratio_list should be the same as the file_list怎么解决"
### 请提出你的问题 Please ask your question

gpu：3060laptop cudnn：8.1 paddlepaddle版本：2.2.2 cuda版本11.2
Windows anaconda虚拟环境中python版本是3.8.13
使用https://blog.csdn.net/u013171226/article/details/115179480 中2.5训练模型中的步骤时候，python3 tools/train.py -c configs/det/det_mv3_db.yml -o Global.pretrain_weights=./pretrain_models/MobileNetV3_large_x0_5_pretrained/该命令（因为本电脑没有python3命令只有python命令所以命令里替换成了python）运行的时候出现了这个问题
!

[2022-05-09 06:18] lujx1024 commented on #42420
我们在训练的时候出现了类似的问题，尝试使用512*512像素的训练数据，训练不成功

[2022-05-09 06:21] RainFrost1 commented on #42579
已经反馈给了相关API负责同学。请等待进一步确认及回复~

[2022-05-09 07:24] lidanqing-vv commented on #42322
@jakpiase Could you please consider change this to pointer ?

[2022-05-09 07:39] pangyoki commented on #42589
你好，麻烦提供下安装命令。
以及执行`nvidia-smi`和`nvcc -V`的截图，谢谢。

[2022-05-09 07:43] lidanqing-vv commented on #41950
#42522 has been merged, hence I close this issue. @wozna Good job Joanna!

[2022-05-09 07:43] #41950 closed, assigned to gongweibao, wozna, lidanqing-vv

[2022-05-09 07:49] Vincent630 commented on #42589
1.cuda版本和驱动

2.安装命令

感谢感谢，第一步就被挡在门外了有点难受😂

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月9日(星期一) 下午3:40
***@***.***&gt;;
***@***.

[2022-05-09 07:51] gongel commented on #42594
你好，麻烦去[PaddleOCR](https://github.com/PaddlePaddle/PaddleOCR/issues)提个issue哈

[2022-05-09 07:59] Vincent630 commented on #42589
额，刚用conda安装试了下看起来是成功了，感性帮忙哈，这个问题pip的坑我就不踩了😂稍后关闭这个问题，万分感谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月9日(星期一) 下午3:40
***@***.**

[2022-05-09 08:05] TCChenlong commented on #42523
@Shixiaowei02 麻烦看下这个问题，目前是否是支持的，以及支持的情况

[2022-05-09 08:05] Vincent630 commented on #42589
i have not solve this issues ,but install sucessfully in another way(use conda install paddle and almost in the same  system enviroment,so i am not sure what's make this happen...)

[2022-05-09 08:05] #42589 closed, assigned to gongel

[2022-05-09 08:06] #42524 closed, assigned to ghostxsl

[2022-05-09 08:11] jzhang533 commented on #38379
2.3 版本已经可以下载安装了。
M1芯片的Mac上用`pip install paddlepaddle`命令应该能装上paddle啦。

[2022-05-09 08:12] TCChenlong commented on #42525
可以提供一下 AIStudio 项目么？或者是哪段代码报错？目前的信息无法判断

[2022-05-09 08:14] TCChenlong commented on #42528
目前暂时不支持，请问下你需要支持的几阶？以及具体的使用场景？方便我们内部评估，以高优支持

[2022-05-09 08:21] sneaxiy opened #42604 "CINN with GLOG_vmodule=cinn_launch_op=xxx would fail"
### bug描述 Describe the Bug

If we set `GLOG_vmodule=cinn_launch_op=xxx`(where `xxx` can be any integer number), all unittests (no matter the unittest is related to CINN or not) would fail when exiting.

For example,
[code]

The output may be like this:

[code]

The error is `double free or corruption (!prev)`.

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-09 08:32] Aganlengzi commented on #42539
@leecuijiao 运行的时候可以使用npu-smi info关注下HBM显存占用和AICore利用率，或使用GLOG_v=4运行程序关注使用的算子是否已经支持NPU版本(如果不支持，日志中会出现missing fallback字样)。

[2022-05-09 08:39] #42581 closed, assigned to RainFrost1

[2022-05-09 08:41] bitcjm commented on #42420
模型：GPEN
paddle版本：linux CUDA10.1 develop版本
项目地址：https://github.com/bitcjm/GPEN_REPO
我在对进行测试时发现，与上面提到的类似，设置create_gragh=True使用时会报错：报错如下：
(AlreadyExists) Accumulators with grad_node as the key are not empty before preparing it for backward network execution.
  [Hint: Expected accumulators_with_grad_node_.empty() == true, but received accumulators_with_grad_node_.empty():0 != true:1.] (at /paddle/padd

[2022-05-09 08:46] Aganlengzi commented on #42125
@lidanqing-intel @jakpiase hi, there is no arm64 package in https://pypi.org/project/paddle-bfloat/0.1.2/#files,
would you please help upload pre-built arm64 package?

[2022-05-09 09:03] wangxinxin08 commented on #42482
padding=0表示"VALID"，可以从公式中看出

[2022-05-09 09:03] #42482 closed, assigned to joey12300

[2022-05-09 09:24] leeleolay commented on #40234
【队名】：深分摸鱼

【序号】：108

【状态】：提交

【链接】：https://github.com/X4Science/paddle-deepmd

[2022-05-09 09:32] Lqiuqiu opened #42607 "paddle_inference 推理库中 std::unique_ptr<paddle_infer::Predictor> Clone() 函数好像不是线程安全的"
### 请提出你的问题 Please ask your question

paddle_inference 推理库中 std::unique_ptr<paddle_infer::Predictor> Clone() 函数好像不是线程安全的
使用Predictor::Clone()函数 拷贝出来的多个预测器同时推理的时候引擎报错，在CPU上推理运行
例如同时开10个线程，每个线程使用原始Predictor对象Clone出来的预测器进行推理，不是一开始就报错，而是有可能正常合成几轮语音，之后才出错

推理库版本：
GIT COMMIT ID: b031c389938bfa15e15bb20494c76f86289d77b0
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: OFF
WITH_ROCM: OFF
CXX compiler version: 5.4

[2022-05-09 09:47] OccupyMars2030 opened #42609 "(this issue is just for my personal self-learning ) imcomplete features of paddle.nn.initializer.TruncatedNormal (compared to torch.nn.init.trunc_normal_() )"
### 需求描述 Feature Description

objectives: complete the features of paddle.nn.initializer.TruncatedNormal
(compared to torch.nn.init.trunc_normal_() )

requirement scenarios:
in pytorch, If I want to create a parameter, I will do the following:
`
self.pos_embed = nn.Parameter(torch.zeros(1, num_patches, embed_dim))
trunc_normal_(self.pos_embed, std=.02)
`
while in paddlepaddle, if I want to do the

[2022-05-09 09:57] wj-Mcat commented on #40234
【队名】：小猫

【序号】：93

【状态】：PR已合入

【链接】：https://github.com/tata1661/FSL-Mate/pull/23

[2022-05-09 10:37] leeleolay commented on #40234
【队名】：深分摸鱼

【序号】：108

【状态】：提交

【链接】：https://github.com/deepmodeling/deepmd-kit/pull/1699

[2022-05-09 11:10] betterpig commented on #42584
你好，请参考 issue #42066 解决。

[2022-05-09 11:14] chrisixxixx commented on #41482
【队名】：CS~GO!

【序号】：15

【论文】：VL-LTR: Learning Class-wise Visual-Linguistic Representation for Long-Tailed Visual Recognition

【状态】：报名

【repo链接】：https://github.com/chrisdq1540/VL-LTR-Paddle

[2022-05-09 11:26] OccupyMars2030 opened #42614 "add new API paddle.erfinv()"
### 需求描述 Feature Description

mission objectives:
add new API  paddle.erfinv()

requirement scenarios:
I found   tensor.erfinv_()   in the source  code of   torch.nn.init.trunc_normal_().

### 替代实现 Alternatives

_No response_

[2022-05-09 11:30] gongel commented on #42609
Thank you for your attention. We are evaluating it internally and please look forward to it. At the same time, you can also implement it yourself through hacking.

[2022-05-09 11:34] gongel commented on #42614
Hi, PaddlePaddle has `paddle.erfinv` api in develop branch.

[2022-05-09 11:37] OccupyMars2030 commented on #42614
That's good, But in  version  2.2.2,   it doesn't  have this api.

[2022-05-09 11:38] #42614 closed, assigned to gongel

[2022-05-09 11:42] fengxiaoshuai commented on #42607
提供一下报错日志吧，可以的附上单测更有利于我们分析问题

[2022-05-09 12:08] jerrylsu commented on #42580
如果转成numpy索引在转回tensor，梯度信息会丢失吗，是否模型就无法梯度更新反向传播了？

[2022-05-09 12:10] OccupyMars2030 opened #42617 "can I use paddle.nn.initializer.Constant and paddle.nn.initializer.TruncatedNormal independently ?"
### 请提出你的问题 Please ask your question

In pytorch,   in a  layer class,  after I  created a parameter, if I want to re-initialize its value,  then I can do the following :
` trunc_normal_(m.weight, std=.02)
`

but in paddlepaddle,  if I want to do the same thing,  the following code seems to  work:
`paddle.nn.initializer.TruncatedNormal(std=.02)(m.weight)
`

It   seems  that   paddle.nn.initializer

[2022-05-09 14:13] TCChenlong opened #42620 "【PFCC-Roadmap】框架文档"
### Roadmap

- **2022.5.24：** 飞桨框架文档方向已发邮件至 ext_paddle_oss@baidu.com，如果你对本方向感兴趣而未收到邮件，请发送邮件至 ext_paddle_oss@baidu.com 反馈。

PaddlePaddle是一个深度学习框架，开发者在使用飞桨框架时，第一步便会浏览文档。[飞桨官网 - 文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/index_cn.html)提供了内容丰富的文档，帮助开发者快速上手并深入使用飞桨。飞桨框架文档重点包含以下内容：

- [安装指南](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/index_cn.html)：是飞桨框架通过各种方式（Pip

[2022-05-09 14:14] TCChenlong commented on #42620
### 附录 - API文档

【方向说明】

- 技术标签：深度学习框架，Python
- 详细描述：有些有些飞桨框架的的API文档写的不够规范，我们联合 Docs Working Group，对API文档进行了全面的 review，并通过 [Issues · PaddlePaddle/docs](https://github.com/PaddlePaddle/docs/issues) 说明了各个API文档中存在的问题，对适合修复的问题，都标记了 ``PR is welcome`` 的标签。你可以选择感兴趣的 Issue，直接提PR进行修复。

【参与指南】：

- 飞桨成立了 [PFCC(Paddle Framework Contributor Club)](https://github.com/PaddlePaddle/community/tree/master/pfcc)，是一个有

[2022-05-09 14:14] TCChenlong commented on #42620
### 附录 - 应用实践

【方向说明】

- 技术标签：深度学习框架，Python
- 详细描述：目前飞桨框架2.3版本即将发布，在该版本中，飞桨框架面向用户体验做了一系列的升级优化。为了能够让用户快速掌握到飞桨框架升级内容，并了解和学习如何使用飞桨框架2.3 进行相关任务的开发，我们进行应用案例教程的立项，在不同的任务场景上为用户提供一个端到端的易学案例，来快速的传递相关知识和使用方法。

【参与指南】：

- 飞桨成立了 [PFCC(Paddle Framework Contributor Club)](https://github.com/PaddlePaddle/community/tree/master/pfcc)，是一个有兴趣、正在、或者已经为飞桨开源框架做开源贡献的贡献者而成立的虚拟组织，在这里，飞桨开源框架的贡献者进行讨论、交流和分享，并为飞桨框架做出持续的贡献。欢迎你

[2022-05-09 15:29] hch-xmu commented on #41482
【队名】：hch-xmu

【序号】：140

【论文】：A Closer Look at Few-shot Classification

【状态】：报名

【repo链接】：https://github.com/hch-xmu/CloserLookFewShotLearning-paddle

[2022-05-09 15:46] hch-xmu commented on #41482
【队名】：hch-xmu

【序号】：1

【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search

【状态】：报名

【repo链接】：https://github.com/hch-xmu/Cream-OneShotLearning-Paddle

[2022-05-09 16:04] hch-xmu commented on #41482
【队名】：hch-xmu

【序号】：118

【论文】：Feature Generation by Convolutional Neural Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/hch-xmu/FGCNN-paddle

[2022-05-09 16:28] sneaxiy opened #42622 "CINN compiler is not thread-safe when there are multiple convolution ops to compile"
### bug描述 Describe the Bug

The CINN compiler would fail if there are multiple convolution ops to compile.

To reproduce, please run `test_resnet50_with_cinn.py` using 2 GPUs.

The major bug is from the following non-thread-safe code:

https://github.com/PaddlePaddle/CINN/blob/afd4c3afc56179eec4fde822548b1295f6e32fbf/cinn/hlir/pe/schedule.cc#L1768-L1771

### 其他补充信息 Additional Supplementary Informa

[2022-05-09 16:50] jakpiase commented on #42125
Hi @Aganlengzi, I have uploaded arm64 wheels for python3.8-3.10.
Just FYI I am currently working on newer version of paddle_bfloat package and it should be finished soon. All future versions of paddle_bfloat will cover all types of wheels that are currently supported. New wheels for older linux systems will be added as well. I have managed to fix issues associated with different numpy versions bet

[2022-05-09 21:26] carlosal1015 commented on #36801
For Arch Linux same too as Ubuntu.
[code]

[2022-05-10 02:11] rs-lsl commented on #41482
【队名】：cug615

【序号】：96

【论文】：HINet: Half Instance Normalization Network for Image Restoration

【状态】：报名

【repo链接】：https://github.com/rs-lsl/Paddle_HINet

[2022-05-10 02:45] JiaoPaner commented on #40210
@kingwpf 你编译的哪个版本？Mac ? linux? 我gitee仓库里并没有这个库

[2022-05-10 02:46] CPones opened #42628 "【论文复现赛】加载预训练模型，动转静态图报错。"
### bug描述 Describe the Bug

AIStudio复现地址：https://aistudio.baidu.com/aistudio/projectdetail/3856073
版本：提issue，bug记录。
位置：模型推理

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-10 03:06] gongel commented on #42617
You can initialize weight when `create_parameter` by setting argument `default_initializer`. Please refer to [here](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/create_parameter_cn.html#create-parameter).

[2022-05-10 03:27] lycheenice opened #42632 "关于Paddle静态连接libcudart的问题"
### 请提出你的问题 Please ask your question

目前paddle的默认编译方式以及官方能下载的安装包都是静态连接了libcudart这个库。
请问，如果想编译动态连接的版本，应该如何操作呢？或者有编译好的安装包可供使用么？

[2022-05-10 03:29] wangxicoding commented on #42146
<img width="397" alt="image" src="https://user-images.githubusercontent.com/10208305/167536823-26071cc5-0683-4621-8ab8-14b140b4b6f9.png">

1. 跑的是预测网络，只有前向，不会进行梯度计算参数更新。训练时需要跑 fluid.default_main_program()
3. cost = paddle.multiply(tensor_act_1,dsr).astype('float32')，这个loss函数设计的感觉也不太合理，相乘的话，会导致tensor_act_1训练一直往0趋近。
4. 另外可以把代码排一下版吗，按照markdown的格式😂

[2022-05-10 03:31] Sakura176 commented on #42525
代码在这个项目里 [chamfer_cuda](https://aistudio.baidu.com/aistudio/projectdetail/3977265?shared=1) notebook上有运行的命令

[2022-05-10 03:48] Lqiuqiu commented on #42607
多次测试发现，Predictor::Clone()出来的多个预测器在多线程推理的时候，必须每个线程推理器的输入数据维度保持一致，不然会崩溃，例子和错误日志详见附件。

错误日志：
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():

  Compile Traceback (most recent call last):
    File "07_synthesize_e2e_8k.py", line 238, in <module>
      main()
    File "07_synthesize_e2e_8k.py", line 234, in main
      evaluate(args)
    File "07_synthesize_e2e

[2022-05-10 03:49] lxk767363331 commented on #42471
您好，请提供该项目的项目链接， 我们进行问题排查。

[2022-05-10 04:37] EOLM commented on #41482
【队名】：ASW

【序号】：16

【论文】：How to Trust Unlabeled Data? Instance Credibility Inference for Few-Shot Learning

【状态】：报名

【repo链接】：https://github.com/EOLM/ICI_paddle

[2022-05-10 04:49] RainFrost1 commented on #42580
是的，是有这个问题，转成numpy后，梯度就会断掉，就无法反向传播了。花式索引在paddle后续版本会支持

[2022-05-10 05:34] neverCV commented on #41482
【队名】：乱摆

【序号】：140

【论文】：A Closer Look at Few-shot Classification

【状态】：提交

【repo链接】：https://github.com/neverCV/Baseline_FSL

[2022-05-10 05:51] OccupyMars2030 commented on #40234
【队名】：SmirnovKol

【序号】：22

【状态】：RFC提交

【PR链接】：https://github.com/PaddlePaddle/community/pull/127

[2022-05-10 06:05] cpz19952007 opened #42635 "自定义参数并更新"
### 请提出你的问题 Please ask your question

请问下，这块如何自定参数？
想做的是手动设置参数矩阵为全1，shape为[batch_size,2]，然后每轮训练手动更新这个参数。目前问题是参数更新完之后，第二轮又变成了初始值。

class Model(object):

    def __init__(self, args):
        self.mat = np.ones((self.args.batch_size, 2), dtype=np.float32)
        w_param = fluid.ParamAttr(name="w1", initializer=fluid.initializer.NumpyArrayInitializer(self.mat))
        self.pesudo_label = flayers.c

[2022-05-10 06:39] renmada commented on #41482
飞桨特色模型挑战赛

【队名】：岚之山吃到饱

【序号】：2

【论文】：How to Trust Unlabeled Data? Instance Credibility Inference for Few-Shot Learning

【状态】：报名 && 提交

【repo链接】：https://github.com/renmada/ICI-paddle/tree/lite

[2022-05-10 06:53] minghaoBD commented on #42635
@cpz19952007 你这么做应该没有更改tensor的数值。可以参考paddle.assign() 接口：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/assign_cn.html#assign

[2022-05-10 06:57] #26166 closed, assigned to nobody

[2022-05-10 06:57] #27265 closed, assigned to nobody

[2022-05-10 06:57] #30978 closed, assigned to nobody

[2022-05-10 06:57] #31033 closed, assigned to sandyhouse

[2022-05-10 06:57] #31673 closed, assigned to nobody

[2022-05-10 06:57] #32073 closed, assigned to littletomatodonkey

[2022-05-10 06:57] #32229 closed, assigned to seiriosPlus

[2022-05-10 06:57] #32467 closed, assigned to nobody

[2022-05-10 06:57] #32552 closed, assigned to zhupengyang

[2022-05-10 06:57] #32586 closed, assigned to LielinJiang

[2022-05-10 06:57] #32646 closed, assigned to gfwm2013

[2022-05-10 06:57] #32665 closed, assigned to DannyIsFunny

[2022-05-10 06:57] #32724 closed, assigned to cryoco

[2022-05-10 06:57] #32743 closed, assigned to juncaipeng

[2022-05-10 06:57] #32783 closed, assigned to danleifeng

[2022-05-10 06:57] #32786 closed, assigned to bjjwwang

[2022-05-10 06:57] #32803 closed, assigned to ForFishes

[2022-05-10 07:50] minghaoBD commented on #42632
暂时不支持动态链接的方式，我们会评估下这个需求，有update会反馈出来～

[2022-05-10 07:56] jzhang533 commented on #42420
cc: @chenwhql @JiabinYang

[2022-05-10 08:11] ZHUI commented on #42471
应该是上面说的这个

[2022-05-10 08:14] JiabinYang commented on #42420
麻烦提供下当时develop的commit号和具体的执行case，看报错的话 这个报错应该不是paddle.grad的错误 看起来是backward()的问题

[2022-05-10 08:24] chenwhql commented on #42420
看了下，这里有三个问题：

1. GPEN 2.2版本梯度数值错误，develop在accumulate阶段报错 @bitcjm ，这个麻烦您提供下相关信息，我们高优看下！
2. StyleGan2 2.2版本梯度数据错误，2.3或develop已修复？这个能麻烦用2.3.0-rc或者nightly build版本确认一下吗？中间不断在迭代开发，我们以最新的版本为准，马上2.3正式版也要发布了 @miemie2013 @hhjGHub @lujx1024
3. test中使用paddle.sin，但sin找不到没有二阶导实现 @simonsLiang，这个我们会列需求开发下，在下个版本添加。现在paddle每个二阶反向算子是单独开发的，所以这里是个局部问题，是sin还没有支持二阶反向算子，并不是执行机制问题，如果这个不是模型必须的话，您也可以不必单独关注这个算子，感谢！

[2022-05-10 08:32] minghaoBD commented on #42628
@CPones 可以把 [self.num_heads, self.dim_head] 的数据类型改为tuple： (self.num_heads, self.dim_head)

这是一个demo：
![image](https://user-images.githubusercontent.com/79566150/167585390-d07d044f-d469-4142-bad9-25732ec9a6ec.png)

[2022-05-10 09:07] #42594 closed, assigned to gongel

[2022-05-10 09:07] lycheenice commented on #42632
paddle默认静态连接的原因是什么？设计上有什么考虑么？

[2022-05-10 09:08] dingjiaweiww commented on #42402
你好，飞桨2.3 正式版会发布Mac m1 原生支持arm64架构的安装包

[2022-05-10 09:08] joey12300 commented on #42514
不成功是指显存不足了？一般图片放到模型里都需要resize到模型指定的输入大小

[2022-05-10 09:16] #42588 closed, assigned to gongel

[2022-05-10 09:16] gongel commented on #42585
你好，暂时关闭issue，有问题随时重开。

[2022-05-10 09:16] #42585 closed, assigned to gongel

[2022-05-10 09:20] leelinglin commented on #42539
根据您的提示，设置GLOG_v=4，在日志中发现paddle.fluid.layers.embedding函数运行在CPU上 missing NPU kernel: lookup_table, expected_kernel_key:data_type[float]:data_layout[Undefined(AnyLayout)]:place[Place(npu:0)]:library_type[PLAIN], fallbacking to CPU one!
missing NPU kernel: lookup_table_grad, expected_kernel_key:data_type[float]:data_layout[Undefined(AnyLayout)]:place[Place(npu:0)]:library_type[PLAIN], fallbacking to C

[2022-05-10 09:26] renmada commented on #41482
【队名】：岚之山吃到饱

【序号】：10

【论文】：Pelee: A Real-Time Object Detection System on Mobile Devices

【状态】：报名 && 提交

【repo链接】：https://github.com/renmada/PaddleClas-peleenet/tree/peleenet

[2022-05-10 09:26] gongel commented on #42617
Please reopen if you'd like to work on this further.

[2022-05-10 09:26] #42617 closed, assigned to gongel

[2022-05-10 09:26] bitcjm commented on #42420
@chenwhql 请问要提供怎样的信息，我好去弄一下

[2022-05-10 09:28] Aganlengzi commented on #42539
是否可以换成`paddle.nn.functional.embedding`，是新版本，npu算子支持。

[2022-05-10 09:30] shanzhui commented on #41482
【队名】：ついに大人になった

【序号】：118

【论文】：Feature Generation by Convolutional Neural Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/shanzhui/FGCNN_implatation_of_paddle

[2022-05-10 09:37] sunzhongkai588 commented on #42571
刚教授宣传完paddle就出这活动了！！冲了xdm

[2022-05-10 09:45] leelinglin commented on #42539
请问paddle.nn.functional.embedding支持静态图吗，还是需要使用paddle.static.nn.embedding（是否支持NPU）

[2022-05-10 09:51] chenwhql commented on #42420
麻烦参考上一条 @JiabinYang 的回复

[2022-05-10 09:51] Aganlengzi commented on #42539
paddle.static.nn.embedding 支持，可通过查看源码看对应的实现中是否为lookup_table_v2，v2版本支持npu

[2022-05-10 09:53] Amm-W opened #42649 "计算图的绘制"
### 请提出你的问题 Please ask your question

PaddlePaddle《API文档》中提到，在动态图转静态图时，类“BuildStrategy”中有一个“debug_graphviz_path"可以绘制模型的计算图，便于调试，并给出以下示例：
import paddle
import paddle.static as static

paddle.enable_static()

build_strategy = static.BuildStrategy()
build_strategy.debug_graphviz_path = "./graph"
经实测无法直接使用，请问其具体的实现方式是什么？

[2022-05-10 09:57] levi131 commented on #42528
目前sin还没有支持高阶导数，相关工作已经在我们的计划上，欢迎保持关注。

[2022-05-10 09:58] FuyuanChen opened #42651 "安装费avx的paddle包能否支持python3.6"
### 问题描述 Issue Description

目前机器不支持avx，需要安装noavx的Paddle包，可以通过以下命令安装，仅支持python3.8

### 版本&环境信息 Version & Environment Information

PaddlePaddle:2.3.0
GPU:CUDA10.2、cudnn7.6.5
系统：CentOS release 6.3
Python版本：Python 3.6.5

[2022-05-10 10:11] flytocc commented on #41482
【队名】：拼手速

【序号】：10

【论文】：Pelee: A Real-Time Object Detection System on Mobile Devices

【状态】：提交

【repo链接】：https://github.com/flytocc/PeleeNet-paddle （ps：之前登记的repo错了）

[2022-05-10 10:39] lidanqing-vv commented on #40269
#41998 is merged.

[2022-05-10 10:39] #40269 closed, assigned to pmajchrzak, lidanqing-vv

[2022-05-10 10:42] leeleolay commented on #40234
【队名】：深分摸鱼

【序号】：108

【状态】：PR已提交

【链接】：https://github.com/deepmodeling/deepmd-kit/pull/1699

[2022-05-10 10:47] bitcjm opened #42656 "PaddleGAN套件用ppgan.metircs.fid.py 对多张图求fid存在问题"
### bug描述 Describe the Bug

如果把多组数据都update后，再accumulate，得出的结果和对每一组数据都update后直接accumulate再对所有得到的数求平均得到的结果不一样，且前者明显要小。后者与pytorch模块算出的值一致，应该是正确的。

比如我对每一组图都求fid，可以算出fid的均值大概是120，但是如果对2000组图都update后再accumulate，得出的结果只有20左右。添加的图的组数越多，最后accumulate得到的值越小。如果把多组数据都update后，再accumulate，得出的结果和对每一组数据都update后直接accumulate再对所有得到的数求平均得到的结果不一样，且前者明显要小。后者与pytorch模块算出的值一致，应该是正确的。

比如我对每一组图都求fid，可以算出fid的均值大概是120，但是如果对2

[2022-05-10 10:56] leelinglin commented on #42539
修改成paddle.static.nn.embedding后日志中未发现有missing fallback的算子，但是模型运行速度超级慢（比GPU慢几十倍），可能是什么原因呢，看AIcore 及HBM显存均有占用

[2022-05-10 11:00] Aganlengzi commented on #42539
可以运行一段时间看下，目前算子接入方式有冷启动编译阶段，另外不清楚您使用的模型是否可以发挥AICore性能。
也可以尝试混合精度。

[2022-05-10 11:07] minghaoBD commented on #42651
抱歉～ 看起来只支持python3.8下的的no-avx版本的paddle安装：
![image](https://user-images.githubusercontent.com/79566150/167615163-8b0850f1-5aae-4af4-a11e-ebb05356a50a.png)

[2022-05-10 11:15] minghaoBD commented on #42649
请问【无法直接使用】具体指遇到了什么问题呢？

这里有一个unittest用到了debug_graphviz_path属性，可以参考下：https://github.com/PaddlePaddle/Paddle/blob/2479664aa9892a69fb18dfac657b013ea8a07dc0/python/paddle/fluid/tests/unittests/test_parallel_executor_run_cinn.py#L94

[2022-05-10 12:14] pangyoki commented on #42166
你好，试下用这个命令装 `conda install paddlepaddle-gpu==2.2.2 cudatoolkit=11.2 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge`

cudatoolkit版本可以自己选择，目前支持cuda10.1、cuda10.2和cuda11.2。

如果遇到`libcudnn.so`找不到的错误，可以使用这个命令：`find / -name 'libcudnn.so'`寻找so文件所在路径，然后把这个路径添加到`LD_LIBRARY_PATH`环境变量里。

[2022-05-10 12:17] huaibovip opened #42660 "IndexError"
### 请提出你的问题 Please ask your question

【论文复现】加载数据时，训练3个batch后就会出现IndexError

[2022-05-10 12:24] lxk767363331 commented on #42471
这个是文档链接哈~

[2022-05-10 12:50] minghaoBD commented on #42660
![image](https://user-images.githubusercontent.com/79566150/167632160-ff55207e-15e9-4764-935a-bf96207929ec.png)
看报错信息的话，是index越界了，建议检查下label的预处理阶段，是否存在 label_index >= class_num的情况

[2022-05-10 13:10] lzzyzlbb commented on #42656
![image](https://user-images.githubusercontent.com/17897185/167635931-0d632cf8-023b-48dd-9040-e1232455e95c.png)
这里顺序不一样的话，concatenate会不一样哈

[2022-05-10 13:11] zhijiejia commented on #42166
ok，试了下可以，但是我之前使用pip 安装是不行的，总是提示cudnn版本不对，这是什么原因阿？ 能顺带解释下吗？ 我之前使用的pip命令是： ``python -m pip install paddlepaddle-gpu==2.2.2.post112 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html``

[2022-05-10 14:06] bitcjm commented on #42420
develop的commit号我不清楚在哪找，当时安装指令如下：
python -m pip install paddlepaddle-gpu==0.0.0.post101 -f https://www.paddlepaddle.org.cn/whl/linux/gpu/develop.html
最开始发现错误是在2.2.2稳定版。

执行的操作如下：
'''
def d_r1_loss(real_pred, real_img):
    grad_real, = autograd.grad(
        outputs=real_pred.sum(), inputs=real_img, create_graph=True
    )
    grad_penalty = grad_real.pow(2).reshape([grad_real.shape[0], -1]).sum(1)

[2022-05-10 14:26] bitcjm commented on #42420
经过测试在上面给的aistudio链接中，选择2.1.2版本的paddle可以复现出develop版本遇到的错误。选择2.2.2版本可以复现出能跑同，但是求出错误的值的情况。

[2022-05-10 18:25] 0xzhang commented on #40234
【队名】：Master

【序号】：89

【状态】：报名 & RFC提交

【PR链接】：https://github.com/PaddlePaddle/community/pull/129

[2022-05-11 03:16] leelinglin commented on #42539
观测日志应该还是有一些算子运行在CPU上，能帮忙看下是哪个函数吗，是op_type：Fill ?
![image](https://user-images.githubusercontent.com/17920817/167761975-2674815b-6984-48da-997c-fe659da5d8f6.png)
@Aganlengzi

[2022-05-11 03:22] chenglong-do opened #42667 "编译 X86CPU + 华为昇腾NPU 版 Paddle"
### 问题描述 Issue Description

编译教程只有ARM 版https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_hardware_support/npu_docs/paddle_install_cn.html

按照教程我把镜像换成了 paddlepaddle/paddle:latest-dev-cann5.0.2.alpha005-gcc82-x86_64

编译命令

cmake .. -DPY_VERSION=3.7 -DWITH_ASCEND=OFF -DWITH_ARM=OFF -DWITH_ASCEND_CL=ON \
         -DWITH_ASCEND_INT64=ON -DWITH_DISTRIBUTE=ON -DWITH_TESTING=ON -DON_INFER=ON

[2022-05-11 03:40] JiabinYang commented on #42420
我的意思是您上面提供的报错看起来是backward的错误不是grad的错误，但是精度不一致的问题我认为应该是和 @chenwhql 提到的是在后续版本中修复了，因此我觉得我们先基于develop来看具体的问题吧

[2022-05-11 03:45] JiabinYang commented on #42420
麻烦提供下 上述代码的执行方式 我来看看

[2022-05-11 03:45] yeyupiaoling commented on #42584
@RainFrost1 直接pip安装缺失DLL库

[2022-05-11 03:46] yang131313 commented on #42539
你好，我想咨询一下关于在Ascend 硬件上编译paddle的问题，您方便联系我一下嘛：qq：928472889

[2022-05-11 03:46] yeyupiaoling commented on #42584
我试试

[2022-05-11 03:50] yeyupiaoling commented on #41074
@nistarlwc 我测试过，好像会出现A用户请求的识别结果会传给B用户，B用户请求的识别结果会传给A用户。

[2022-05-11 05:27] LielinJiang commented on #42120
sovled by #42332

[2022-05-11 05:30] thunder95 commented on #40234
【队名】：thunder95

【序号】：15

【状态】：PR提交

【PR链接】：https://github.com/PaddlePaddle/Paddle/pull/42385

[2022-05-11 05:34] FrostML opened #42678 "Paddle Inference 2.3 使用自定义 op 编译报错"
### bug描述 Describe the Bug

**Paddle Inference 2.3 使用自定义 op 编译报错，动态图编译自定义 op 正常。导致 Paddle 2.3 版本预测库无法支持自定义 op。**

以下为详细复现步骤。

单测：使用 [Paddle-Inference-Demo custom operator](https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/custom-operator)

预测库来自 [官网](https://www.paddlepaddle.org.cn/inference/v2.3/user_guides/download_lib.html#c)

修改对应的 `custom_relu_op.cu` 文件，加上 `auto xx = x

[2022-05-11 05:51] yang131313 commented on #42667
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 05:52] yang131313 commented on #42402
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 05:52] yang131313 commented on #42258
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 05:53] chenglong-do commented on #42667
你好，我是要在 X86的 CPU + 华为昇腾NPU 推理卡的环境下运行 paddle serving pipeline，预编译好的并没有华为昇腾版哦

[2022-05-11 05:55] yang131313 commented on #41435
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 05:55] yang131313 commented on #40767
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 05:56] yang131313 commented on #40582
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 05:56] yang131313 commented on #40467
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 05:57] #42052 closed, assigned to yaoxuefeng6

[2022-05-11 05:58] #42028 closed, assigned to iclementine

[2022-05-11 05:59] yang131313 commented on #39647
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:02] yang131313 commented on #42584
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:03] 875052544 commented on #42514
我原图太大了 现在我先resize再训练变可以了
现在我想尝试复现一些模型剪枝和蒸馏的论文，有一些大致的流程文档可以提供吗？如有还有你们模型敏感度的原理文档就更好了，我没找到，可否提供，万分感谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送

[2022-05-11 06:06] yang131313 commented on #42372
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:07] yang131313 commented on #42358
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:08] yang131313 commented on #42258
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:09] Aganlengzi commented on #42539
@leecuijiao
你截图里圈出来的应该是正常的HOST与Device的交互，没有missing和fallback字样的话是算子跑在昇腾910卡了。

[2022-05-11 06:10] yang131313 commented on #42112
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:10] yang131313 commented on #42066
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:11] yang131313 commented on #42028
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:11] yang131313 commented on #41875
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:12] yang131313 commented on #41379
好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:13] yang131313 commented on #41379
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:14] smallhaozigithub commented on #34795
![27f90875d0f15e2dee054ea594c7e9e](https://user-images.githubusercontent.com/72907766/167780643-5f0b317a-7365-4e6a-ba04-0facc294df20.png)
@wangxinxin08
我想问下这个模型里面im_shape  一般维度都是[?,2] ，这种[?,3]的情况该怎么传入参数 ？
还有就是 im_info 的参数是和 scale_factor 一样的么？ 如果是一样，[?,3]的情况该怎么传入参数 ？

[2022-05-11 06:18] ltto commented on #42402
谢谢 我提出这个issues 时候 还没有2.3.0 的包  我只是想尽快使用M1的飞桨, 既然现在已经有这个包了 我就关闭这个问题了

[2022-05-11 06:18] #42402 closed, assigned to pangyoki

[2022-05-11 06:23] yang131313 commented on #40988
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:23] yang131313 commented on #40797
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:27] yang131313 commented on #40394
你好，现在Paddle已经有编译好的安装包了，请问你在什么任务场景下需要编译Paddle呀？比如是需要新增算子、还是需要修改飞桨源代码，或者有什么其他的用途呢？

[2022-05-11 06:38] cosigh commented on #42119
python3 -c $'import paddle\nfor k in paddle.fluid.core._get_all_register_op_kernels()["elementwise_add"]:print(k)'
只有data_type[::paddle::platform::complex128]:data_layout[ANY_LAYOUT]:place[CPUPlace]:library_type[PLAIN]
data_type[int64_t]:data_layout[ANY_LAYOUT]:place[CPUPlace]:library_type[PLAIN]
data_type[::paddle::platform::complex64]:data_layout[ANY_LAYOUT]:place[CPUPlace]:library_type[PLAIN]
d

[2022-05-11 06:55] liu1073811240 opened #42679 "利用PPOCRLabel点击表格识别按钮会出现闪退的问题"
### bug描述 Describe the Bug

利用PPOCRLabel点击表格识别按钮会出现闪退的问题， 并且这过程中出现 两个多G的 python.exe.15484.dmp文件

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-11 07:08] zlsh80826 opened #42681 "Use tempfile for storing temporary checkpoints/params/models"
### 需求描述 Feature Description

目前 Paddle 實現的多個單測中, 會有儲存 checkpoints 或 inference model 後再讀取的測試, 這類型的測試會將模型儲存, 並在完成單測後刪除。但是多個單測會有暫存檔案同名的問題, 會導致單測同時運行時互相覆蓋掉其他單測的暫存檔案, 導致單測會出現隨機性的失敗。例如: [test_dataset](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/tests/unittests/test_dataset.py#L85) 和 [test_dataset_consistency_inspection](https://github.com/PaddlePaddle/Paddle/blob/develop/pyt

[2022-05-11 07:10] zlsh80826 commented on #42681
https://github.com/PaddlePaddle/Paddle/pull/42626 fixes part of the unit tests, but there are still many unit tests should be refactored.

[2022-05-11 07:46] #42660 closed, assigned to minghaoBD

[2022-05-11 07:50] holyseven opened #42685 "调用paddle.grad计算梯度出错 Using paddle.grad to compute gradients raises errors"
### bug描述 Describe the Bug

bug 复现代码，paddel 2.2.2

[code]

![image](https://user-images.githubusercontent.com/13829174/167796436-eb7b864c-4d34-44e0-ba4a-8ecd7af4d837.png)

NLP Ernie 模型也一样报错
[code]

![image](https://user-images.githubusercontent.com/13829174/167796711-0671f299-02de-442b-b455-b77fe62deb17.png)

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-11 07:54] holyseven commented on #42685
也许和 #42420 相关

[2022-05-11 08:33] ciaranhunt commented on #41482
【队名】：今年看花

【序号】：4

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/ciaranhunt/CvT_Paddle

[2022-05-11 08:47] Reatris commented on #41074
我记得我尝试用多进程，然后发现在只有 一个 GPU的情况下在windows上可以两个进程同时用 一个GPU，在linux上竟然不行

[2022-05-11 08:50] Aganlengzi commented on #42125
Have seen precompiled packages, reopen if any related issues.

[2022-05-11 09:03] bitcjm commented on #42420
@JiabinYang 请参考以下链接中的项目的paddle.grad测试版本。选取2.1.2版本的paddle
可以复现错误，也可以取消注释，运行notebook中的第一个kernel卸载并重新安装develop版本的paddle，然后进行测试。
项目链接：https://aistudio.baidu.com/aistudio/projectdetail/3894820?contributionType=1

顺序执行整个notebook即可出现错误。相关代码我已调整至notebook最下方。在train()函数的46-54和81-94行，和train函数下面的kernel中.

[2022-05-11 09:09] flytocc commented on #41482
【队名】：拼手速

【序号】：94

【论文】：SwinIR: Image Restoration Using Swin Transformer

【状态】：报名

【repo链接】：https://github.com/flytocc/SwinIR

[2022-05-11 09:21] GT-ZhangAcer commented on #41074
我这边也有开发者在使用Flask时出现类似问题 [C4a15Wh](https://github.com/C4a15Wh)

[2022-05-11 09:26] flytocc commented on #41482
【队名】：拼手速

【序号】：101

【论文】：Unsupervised Learning of Visual Features by Contrasting Cluster Assignments

【状态】：报名

【repo链接】：https://github.com/flytocc/SwAV-paddle

[2022-05-11 09:27] chenglong-do commented on #42667
请问是只支持昇腾910么？用的是310，拿了一台 AT500 PRO，也是昇腾310，编译完也无法调用 NPU

[2022-05-11 09:38] JiabinYang commented on #42420
好的 我试试哈

[2022-05-11 09:51] holyseven opened #42693 "Dataloader 似乎没有正常关闭，大量调用后报错 | Dataloader may be not closed in some cases, and calling it many times will cause "Resource temporarily unavailable""
### bug描述 Describe the Bug

`DataLoader` 没有正常关闭thread，如果大量call `DataLoader`，会导致最后没有资源了。

实例化后的`DataLoader`，会去申请资源（应该是开了thread），但是没有正常关闭，导致最后申请不到资源，报错`RuntimeError: Resource temporarily unavailable`。

不确定是否是bug，因为这不是常规操作。但是否有方法避免？

[code]

[code]

### 其他补充信息 Additional Supplementary Information

和#38371 类似。

[2022-05-11 10:03] JiabinYang commented on #42685
应该不是一个问题 你遇到的这个问题的是因为相应的参数没有梯度

[2022-05-11 10:04] #42628 closed, assigned to minghaoBD

[2022-05-11 10:09] holyseven commented on #42685
通过这个看吗？都是`False`

[code]

[2022-05-11 10:28] caidou05 opened #42694 "Paddle2.2.2版本明显比Paddle2.0.0上的CPU推理性能降低"
### bug描述 Describe the Bug

Paddle2.2.2版本明显比Paddle2.0.0上的CPU推理性能降低，除了Paddle2.2.2版本不一致，其他全部一样，模型是Paddle2.2.0训的，但是2.0.0推理速度比2.2.2高了好几倍，所有测试代码一模一样，环境一样

### 其他补充信息 Additional Supplementary Information

_No response_