[2020-03-06 15:25] AIpioneer commented on #22863
这个是paddlecloud的问题...

[2020-03-06 18:45] chaogehah commented on #22874
1.我尝试了升级到CUDA10.0，并且安装了paddle的cuda10.0的版本，但是当我输入完conda install paddlepaddle-gpu cudatoolkit=10.0并且安装完成后，其安装的cudnn版本为7.3.1无法使用，并且我在当前环境下无法安装别的版本的cudnn，一安装就出错。然后我尝试先安装cudnn7.6.0，但是装完之后paddle就无法安装了，这是我目前很头疼的一个问题，就是paddle跟cudnn的无法同时安装正确的版本，请问有别的什么好的办法吗？

2.docker的话我自己没有用过，然后我对conda用的稍微熟练一点，如果能在conda下解决这个问题的话是最好的，若是实在没办法我再想想能不能用docker安装一下

[2020-03-07 08:01] xiangyubo opened #22905 "ctc_greedy_decoder 方法需要支持非 Lod Tensor 参数解码"
ctc_greedy_decoder 方法需要支持非 Lod Tensor 参数解码。
原因是现在 paddle 已经发展到1.7，进入动态图时代。动态图本身也弱化了 Lod Tensor 的概念，和组基本的 Tensor 相近。但这个函数接受的参数必须是 Lod Tensor，给使用动态图实现 CRNN 的文字识别解码带来了麻烦。与之配套使用的 ctc_loss 都接受两种类型入参了，这个是不是也应该要有呢？
=================================分割============
我看代码里的文档是支持两种方式，但是官方网页上的文档只写了一种。。。

[2020-03-07 09:52] iclementine commented on #22905
那应该是文档需要更新了。我提醒一下负责 ctc_greedy_decoder 的同学更新一下文档。

[2020-03-08 00:05] xiangyubo opened #22906 "自己写的动态图 CRNN 模型训练一直不正确"
   1）PaddlePaddle版本：1.6.2
    3）GPU：GPU v100
    4）系统环境：Python3.7，AI Studio 在线 notebook 环境
- 训练信息
    1）单机单卡
    2）显存信息，16G显存，32G内存

我自己照着静态图的 CRNN 和一些动态图的模型，自己写了一个动态图版本的 CRNN 模型。流程能跑通。训练时候 loss 看着很正常，第一个 batch 的 loss 是40+，运行20个 batch 之后下降到7-8，之后继续下降到4-5。但是解码出来的东西一直不对，字段级别的准确率一直是0。
解码部分我一开始用的是 fluid.layers.ctc_greedy_decoder，结果不对。我觉得这个太复杂，自己写了一个类似的，但依然不对。求帮忙看看是哪个部分不对，导致准确率一直为0。

AI Studio 环境地址：htt

[2020-03-08 02:43] wanghaoshuang commented on #22863
如果是已经训练了几个epoch，应该和剪裁无关。
剪裁只是在训练前一次性的操作，不会影响训练中内存占用的变化。

不过，为了您方便调试和控制训练逻辑，建议您使用最新的PaddleSlim1.0.1: https://github.com/PaddlePaddle/PaddleSlim

[2020-03-08 02:45] wanghaoshuang commented on #22863
另外，如果您用的是PaddleDetection检测库的话，建议把这个选项关掉试试？https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/configs/yolov3_reader.yml#L55

[2020-03-08 06:01] LDOUBLEV commented on #22906
请问，你参考的是哪个CRNN静态图实现，训练的Loss很大，也不太正常，是不是没有训练好？

[2020-03-08 07:11] xiangyubo commented on #22906
不是没训练好，我训练了50轮还是这个情况。参考的就是 models 里的静态图

[2020-03-08 08:12] Akeepers opened #22907 "API ‘rnn’ raise NotImplementedError"
我参考paddle官网[seq2seq](https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/nlp_case/machine_translation/README.cn.html#id1)例子 实现了一个seq2seq model

其中的encoder被改为了ernie ，decoder的代码保持不动，仅修改：

* layers.rnn中的initial_states为None：原始代码中的decoder 中的initial_states 为encoder最后一个cell的states，由于采用ernie作为encoder，所以将decoder中的 initial_states设为None

从API文档来看，[rnn](https://www.paddlepaddle.org.cn/documentat

[2020-03-08 09:01] narrowview opened #22908 "如何调用networks.sequence_conv_pool建立多个卷积池化层"
问题如上，具体可参考https://github.com/PaddlePaddle/Paddle/issues/8323
该问题答案附的链接已失效

[2020-03-08 09:01] LDOUBLEV commented on #22906
问题定位到warp_ctc这个API，在动态图中使用，计算loss出现inf，后续找API负责人check下是不是API的问题，有消息在comment 里回复。

动态图里使用warp_ctc的代码。
[code]
输出结果是inf

![image](https://user-images.githubusercontent.com/26592129/76159770-a6b63300-615e-11ea-9534-750bb62a7a05.png)

[2020-03-08 09:05] xiangyubo commented on #22906
好的，谢谢了

[2020-03-08 09:12] JepsonWong commented on #22874
安装paddle cuda 10.0版本，安装的cudnn版本为7.3.1无法使用的表现是什么？
先安装cudnn7.6.0，为什么paddle无法安装？有什么报错么？

[2020-03-08 09:15] guoshengCS commented on #22907
rnn op的initial_states可以为None，为None的话会使用cell.state_shape来产生initial_states，这时需要为DecoderCell增加state_shape属性，可以参考LSTMCell中state_shape的定义 https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/rnn.py#L376

[2020-03-08 09:27] chaogehah commented on #22874
先安装paddle时，报错是这样的

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible so

[2020-03-08 09:27] chaogehah commented on #22874
先安装cudnn时，报错是这样的

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible sol

[2020-03-08 09:45] Akeepers commented on #22907
感谢

[2020-03-08 09:45] #22907 closed, assigned to nobody

[2020-03-08 15:19] skywalk163 opened #22910 "'Conv2D' object has no attribute '_filter_param'"
   1）PaddlePaddle版本：1.7.0
    2) 系统环境：AiStudio 高端版：GPU v100
问题：
学习与运行 飞桨网站-1.7 快速上手-动态图机制 - 使用DyGraph训练模型 第六步，变量及优化器 运行报错：
---> 53     print("_simple_img_conv_pool_1_conv2d W's mean is: {}".format(mnist._simple_img_conv_pool_1._conv2d._filter_param.numpy().mean()))
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/layers.py in __getattr__(self, name)
    368

[2020-03-09 02:28] slf12 commented on #22908
请问用的什么paddle版本？https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/nets_cn/sequence_conv_pool_cn.html#sequence-conv-pool  #8323 中的链接是老版本了

[2020-03-09 02:34] slf12 commented on #22910
请稍等，我找这个教程页面的负责人看下

[2020-03-09 02:40] Akeepers opened #22913 "paddle/book中 机器翻译demo报错 & 修改后的seq2seq 模型input type error"
环境：

* PaddlePaddle 1.6.3
* Python 2.7

Q1： 直接运行book中的[demo](https://github.com/PaddlePaddle/book/blob/develop/08.machine_translation/seq2seq.py)报错

* error提示在line 289，loss_val是一个numpy array，而不是float；在之前加入loss_val=np.mean(loss_val); 可以正常运行

Q2：基于上述代码修改的ernie-based seq2seq (其中的encoder被改为了ernie ，decoder的代码保持不动，仅修改：layers.rnn中的initial_states为None) 报错，Decoder部分 input type error
[code]
尝试将对应代码output, n

[2020-03-09 03:04] skywalk163 commented on #22910
1.6版本的代码，在1.6环境下是可以跑通的。
这个1.7版本在1.7环境下报错，是否1.7修改了某些地方。

ps，这个教程有github地址吗？ 那样更方便。

[2020-03-09 03:24] phlrain commented on #22910
1.6 版本本中 _filter_param 是一个不建议使用接口（遵循python的命名规则 _ 开头的参数名称）， 1.7 中为了方便大家使用，暴露了 conv2d.weight, conv2d.bias来获取 filter 和 bias参数

[2020-03-09 06:12] skywalk163 commented on #22910
非常感谢及时有效的回复！

改用weight和bias两个接口就ok了！ 期间一度被整的很郁闷，不过困难多大，跑通的喜悦就有多大+1

   print("_simple_img_conv_pool_1_conv2d W's mean is: {}".format(mnist._simple_img_conv_pool_1._conv2d.weight.numpy().mean()))
    print("_simple_img_conv_pool_1_conv2d Bias's mean is: {}".format(mnist._simple_img_conv_pool_1._conv2d.bias.numpy().mean()))

[2020-03-09 06:12] #22910 closed, assigned to nobody

[2020-03-09 07:00] silingtong123 commented on #22865
1. 你的cuda具体版本是多少？比如10.0，10.1
2. 可以尝试更新版本的paddle

[2020-03-09 07:23] xixiaoyao commented on #22913
辛苦@guoshengCS 帮忙看下

[2020-03-09 07:34] #22893 closed, assigned to nobody

[2020-03-09 07:37] JepsonWong commented on #22874
我觉得你还是先用docker测试一下你的程序环境、显卡有没有问题。

[2020-03-09 07:55] narrowview commented on #22908
用的是1.6.1。如果方便的话，可以提供下1.5.2和1.6.1两个版本的使用方法吗？

[2020-03-09 08:28] xyzhou-puck commented on #22908
Hi，你可以单独使用https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/sequence_conv_cn.html#sequence-conv
。

[2020-03-09 08:36] chaogehah commented on #22874
好吧，那我回头学习一下docker看看，谢谢

[2020-03-09 08:38] guoshengCS commented on #22913
可能是这里的state_shape定义的有些问题
[code]

DecoderCell中使用的state的形状是[batch_size, hidden_size]，需要定义与之对应的state_shape

[code]

[2020-03-09 08:46] Akeepers commented on #22913
非常感谢，刚刚追问题，也追到这里了，参考rnn.py里GRUCell的定义，看到了state_shape错了

[2020-03-09 08:46] #22913 closed, assigned to nobody

[2020-03-09 11:30] guyinyou opened #22923 "warpctc函数计算loss一直为0的问题"
1）PaddlePaddle版本：1.6.2（1.70也试过）
   3）GPU：无
   4）系统环境：Python3.7，AI Studio 在线 notebook 环境

问题如下：
首先随机x作为ctc的输出，然后随机y1，y2作为标签
其中y1后10位置0来模拟真实场景，y2不做处理
最后用warpctc计算loss得到下图（y1一直为0，y2有值）：
![20200309192058](https://user-images.githubusercontent.com/36399867/76208836-709ab100-623b-11ea-8c73-082ca06caf90.png)

而且y2偶尔也会出问题：
![QQ截图20200309192631](https://user-images.githubusercontent.com/36399867/76209066-f

[2020-03-09 11:30] Angus07 commented on #22742
报错信息是找不到input_mask_encoder这个变量，根据我的检查，这个变量应该是参与网络计算的，这个关键问题仍然没有解决。目前保存的图无法进行预测，目前我正在检查原因，不排查是因为这个input_mask_encoder导致的。

[2020-03-09 13:45] lfchener commented on #22906
如下图，通常在 ``warp-ctc`` 计算的过程中，``label`` 的 ``len`` 要比 ``x`` 的小很多，所以 ``y_len`` 要比 ``max_seq_length`` 小，改小红框中的参数后，计算不会出现 inf 的情况。
![image](https://user-images.githubusercontent.com/6771821/76218572-684c7100-624f-11ea-9cd4-21b963015980.png)

而在静态图中，如果使用 ``y_len = max_seq_length`` 的配置，也会报inf，所以排除 ``warp-ctc``在动态图中的问题。建议 @xiangyubo 和静态图对齐一下实现，可能是实现的 diff 导致的无法达到训练效果

[2020-03-09 14:41] guyinyou commented on #22923
找到问题了，是输入y_len的时候直接输入有效位数就好了，接口不会用blank处理标签，因为没有必要，padding任意值都可以

[2020-03-09 14:41] #22923 closed, assigned to nobody

[2020-03-10 03:06] zzchust opened #22927 "paddleslim1.0 使用demo进行post-quant量化错误"
![image](https://user-images.githubusercontent.com/6135871/76275575-94eba180-62be-11ea-96b8-c77573a171ee.png)
![image](https://user-images.githubusercontent.com/6135871/76275590-9fa63680-62be-11ea-81ed-d7b972cad4dd.png)

具体环境：
python2.7，
paddlepaddle-1.7.0，
paddleslim1.0

完全按照quant-post的[demo](https://github.com/PaddlePaddle/PaddleSlim/tree/release/1.0.1/demo/quant/quant_post)教程操作， MobileNet模型从[此处

[2020-03-10 04:02] slf12 commented on #22927
是bn在cudnn版本不一致时的兼容性问题，换成cudnn7.4的paddle已解决。

[2020-03-10 05:25] #22927 closed, assigned to nobody

[2020-03-10 07:03] GaoWei8 commented on #22827
@lidanqing-intel Could you help see it? We verified this problem happens in E5-2620 and E5-2650 on develop branch.

[2020-03-10 11:01] lidanqing-vv commented on #22827
We are looking at it.

[2020-03-10 13:06] shaunhurryup opened #22941 "im2sequence的输出形状"
来源:
from paddle.fluid.layer import im2sequence

x.shape = [-1, 1024, 3, 32]    # h=3  w=32
x = im2sequence(x, (x.shape[2], 1), (1, 1))    # filter_size=(3,1)  stride=(1,1)

当使用im2sequence求x的新shape时，通过paddle提供的公式shape={input.batch_size * output_height * output_width, filter_size_height* filter_size_width * input.channels}

input_batch_size = -1
output_height = 1 + (0+0+3-3+1-1) / 1 = 1
output_width

[2020-03-10 13:51] wojtuss commented on #22827
@jiweibo , @GaoWei8
I have followed the instructions but could not reproduce the issue on CLX 6248.
The `mul_demo` app did not use MKL-DNN and the memory usage did not change during more than 1 hour long test. If you tested it with MKL-DNN, than it would suggest MKL-DNN primitives caching to be the culprit.

[2020-03-11 01:41] GaoWei8 commented on #22827
@wojtuss  We verify this issue on both E5-2620 and E5-2650, but the memory usage did not change on CLX 6148. Could you reproduce this issue on E5-2650?

[2020-03-11 01:53] jiweibo commented on #22827
Mkldnn is not enabled in the reproduction environment. We only used mklml. Could you reproduce this issue on E5-2650 or 2620?

[2020-03-11 02:12] mitsuix commented on #22865
我的cuda是10.0.130
新版本的也有报错，囧 @silingtong123

[2020-03-11 02:27] phoeny29 opened #22943 "利用fleet用executor.train_from_dataset进行训练时报错（GPU）"
问题报错信息如下：
Traceback (most recent call last):
  File "dist_train.py", line 100, in <module>
    train()
  File "dist_train.py", line 87, in train
    debug=False)
  File "/opt/_internal/cpython-2.7.11-ucs4/lib/python2.7/site-packages/paddle/fluid/executor.py", line 1166, in train_from_dataset
    print_period, fetch_handler)
  File "/opt/_internal/cpython-2.7.11-ucs4/lib/python2.7/site-packages/pad

[2020-03-11 02:51] huangjun12 commented on #22941
原因是你只构建了graph而没有实际run起来，batch_size为-1只是一个占位符，请参考如下代码:

import paddle
import paddle.fluid as fluid
import numpy as np

x_shape = [-1, 1024, 3, 32]
x = fluid.layers.data("x", shape = x_shape, dtype="float32")
y = fluid.layers.im2sequence(x, filter_size=(x_shape[2], 1), stride=(1, 1))

x_data = np.random.randn(1, 1024, 3, 32).astype("float32")

#run
exe = fluid.Executor(fluid.CPUPlace())
out, = exe.r

[2020-03-11 03:22] zhangyimi commented on #19694
发现了同样的问题，不管batch多大，模型更新一次后一定会变成NaN。
把softmax_with_cross_entropy换成softmax和corss_entropy就可以了。

[2020-03-11 03:24] Colorfu1 opened #22946 "There is no accurate error hint for this error yet. We are continuously in the process of increasing hint for this kind of error check. It would be helpful if you could inform us of how this conversion went by opening a github issue. And we will resolve it with high priority."
- 版本、环境信息：
    1）PaddlePaddle版本：1.7
    2）CPU：Intel Xeon CPU E3-1240 v5
    3）GPU：无
    4）系统环境：Windows
- 复现信息：如果需要复现代码，可以提供
- 问题描述：使用Paddle内置LSTMCell模块。出现报错。
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.6/api_cn/layers_cn/LSTMCell_cn.html#lstmcell
----------------------
Error Message Summary:
----------------------
Error: An error occurred here. There is no accurate error hint for this

[2020-03-11 03:34] Kendraqian opened #22947 "深度学习科研问题请教"
请教一下，想做一个从多个目标中选出最优的几个目标，进行一项任务的完成，获取最高的收益，这种类似于组合优化中的背包问题，请问有相关的算法或者论文的推荐吗，希望能用上强化学习或者新的学习方法。

[2020-03-11 03:59] Angus07 opened #22948 "预测出core"
错误信息如下：

terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():

--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, int)
1   paddle::memory::detail::MetadataCache::load(paddl

[2020-03-11 04:09] phlrain commented on #19694
能方便提供下复现的环境么，我们方便定位解决问题

[2020-03-11 04:27] mottled233 opened #22949 "并行模式读取非并行训练模型参数的问题"
您好，我在训练时采用了单卡gpu训练，训练结束后调用 io.save_persistables保存参数。
在预测阶段读取模型时，我计划采用多卡并行，使用
CompiledProgram(self.predict_program). with_data_parallel
进行并行处理，但在读取参数时出现问题（读取使用 io.load_vars）。

我的程序中，如果先读取参数，之后CompiledProgram，会报错
Error: Cannot find fetched variable(qas_ids).(Perhaps the main_program is not set to ParallelExecutor) at (/paddle/paddle/fluid/framework/details/fast_threaded_ssa_graph_executor.cc:145)

如

[2020-03-11 04:28] mottled233 commented on #22949
代码如下：
` # 加载模型参数到网络中
        load_model_params(self.exe, model_path, self.predict_program)

        # 若并行，用并行编译program
        if self.args["use_parallel"]:
            build_strategy = fluid.BuildStrategy()
            # 并行策略暂时写死
            build_strategy.reduce_strategy = fluid.BuildStrategy.ReduceStrategy.Reduce
            self.predict_program = fluid.CompiledProgram(self.predict_program). \

[2020-03-11 04:45] chalsliu commented on #22819
After setting to debug mode, some cases are stuck, and the result cannot be obtained. We will continue to try to solve the problem. This issue can currently be closed.
Thanks very much!

[2020-03-11 05:34] leidongfeng opened #22951 "如何实现fl.equal结果转换数据类型"
我想用fl.equal算子进行计算，得到了一个类似于[True,True,False]的结果，然后我使用fl.reduce_sum计算这个结果的sum([True,True,False])，结果说reduce_sum需要输入不能是bool类型。请问这个要如何转？也就是把[True,false]转为[1,0]，让模型继续可导？能给个示例吗（我使用的是paddle静态图）

[2020-03-11 06:04] xbsu opened #22954 "动态图固定某些层参数时显存占用不会降低"
在paddle1.7中，通过设置某些层的参数stop_gradient=True，使训练中固定参数不变。但设置后显存占用没有相应减少。而在pytorch中设置requires_grad=False会减少相应显存。请问现在版本是否支持该功能？

[2020-03-11 06:26] liyingying05 opened #22955 "load_inference_model增加一层，再save_inference_model"
已经保存好的inference_model，想要增加一层argmax，多加一个输出再保存，有办法实现吗？https://github.com/PaddlePaddle/Paddle/issues/16053 查到这个issue问题比较类似，请问如何不在网络里面加层实现这个需求

[2020-03-11 06:30] phlrain commented on #22954
这个里面应该有两个层面的问题，
1. 1.7之后，paddle上线了auto grow的策略，会根据使用的内存，动态调整显存的占用，通过nvidia-smi查看的显存占用，可能会比实际任务需要的显存要多，但是任务能够承受的最大batch size 是不影响的。
2. 能帮忙提供下pytorch在设置了 requires_grad之后，显存减少的量么，我们来具体分析下

[2020-03-11 06:39] txyugood opened #22956 "PaddlePredictor预测结果错误"
使用paddle 1.7 版本微调ResNeXt50_64x4d模型，使用save_inference_model保存以后，用PaddlePredictor运行结果与使用 pragram 运行出来的不一致。program使用 clone(for_test=Ture)得到，并且运行结果正确。
PaddlePredictor运行的log 如下:
[code]

[2020-03-11 06:51] txyugood commented on #22956
重新安装了1.5.1，使用PaddlePredictor结果正常。

[2020-03-11 07:23] xbsu commented on #22954
在我的任务中，通过固定resnet50的前三个block，显存下降5140MB，batchsize=30

[2020-03-11 07:36] waywaywayw opened #22959 "用flask+gunicorn启动服务，调用paddleHub的gpu版模型 报错??"
1）版本、环境信息：
paddlehub 1.5.4
paddlepaddle-gpu 1.7.0.post107
3）V100
NVIDIA-SMI 410.79       Driver Version: 410.79       CUDA Version: 10.0
4）拉取docker镜像
FROM hub.baidubce.com/paddlepaddle/paddle:1.7.0-gpu-cuda10.0-cudnn7
使用镜像里的python3.6

用单worker的flask启动，可以调用正常gpu版的paddlehub
用单worker的flask+gunicorn启动，请求时报错。

gunicorn的配置：
worker_class = "gevent"

flask：
[code]

报错如下：
[code]

[2020-03-11 07:48] jeng1220 commented on #10129
TensorRT 7 has `virtual ~IPluginFactory() {}` in its header files, so you guys don't have to manually add virtual deconstructor to IPluginFactory  class anymore

[2020-03-11 07:54] shaunhurryup commented on #22941
不好意思，可能我没表达清楚。
我根据公式推导得到的shape[0]的值为-32，但是实际运行得到的shape[0]的值为-1。

我不能理解程序运行时shape[0]的值为什么是-1。

[2020-03-11 08:14] huangjun12 commented on #22941
paddle的静态图模式工作时分【编译】和【执行】两个阶段，原理参考:
https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/executor.html
结合上面的示例代码:
(1) batch_size在构图阶段不能确定，默认为-1(**这个-1不是数学意义上的-1，你可以把它理解为None**):
x = fluid.layers.data("x", shape = [-1, 1024, 3, 32], dtype="float32") #注意这里的-1
y = fluid.layers.im2sequence(x, filter_size=(x_shape[2], 1), stride=(1, 1))
#由于batch_size还未确定，所以如果这一步之后打印y.shap

[2020-03-11 08:55] zjutlzt opened #22963 "Paddle-TRT C++ 错误"
复现步骤
使用Padlle-TRT-FP32的模型
没有保存成其他模式-直接是__parma__和  __model__
1.docker包在  1080ti的  服务器上 编译好 可以运行
2.docker包导入到 2080ti的服务器上运行预测时出现如下错误

I0311 08:51:40.127867  8785 tensorrt_subgraph_pass.cc:285] Prepare TRT engine (Optimize model structure, Select OP kernel etc). This process may cost a lot of time.
E0311 08:51:42.247627  8785 helper.h:65] ../rtSafe/cuda/cudaConvolutionRunner.cpp (303) - Cudnn Error

[2020-03-11 08:56] zjutlzt commented on #22963
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > paddle::platform::GetTraceBackString<char const*>(char const*&&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::exception_ptr, char const

[2020-03-11 09:12] grygielski opened #22964 "Small performance drop on Resnets"
Merging https://github.com/PaddlePaddle/Paddle/pull/22695 introduced small overhead in convolutions with residual connection. It resulted in performance drop on all Resnet models:

**Performance change [FPS]**

*CLX platform:*
[code]

*SKX platform:*
[code]
It's inevitable result of change from moving Tensor's pointer to copying it's data. I just wanted to let you know and ask what do you think ab

[2020-03-11 11:05] #22819 closed, assigned to nobody

[2020-03-11 12:51] chajchaj opened #22970 "搜索get_cuda_device_count无相关结果"
搜索get_cuda_device_count无相关结果

[2020-03-11 13:00] GaoWei8 commented on #22964
@grygielski Since performance drop on all Resnet models, PR #22695 can be revert. After reverting, the reasons for not following Paddle Operators Standards and this issue link can be added in code comments with one new PR.

[2020-03-11 13:26] skywalk163 opened #22972 "文档中的拼写错误"
文档中拼写错误：
https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/coding_practice/test_while_training.html

文档-快速上手-编程实践-单机训练-训练过程中评测模型

位于：分别配置训练 fluid.Program 和测试 fluid.Program 小节中的代码拼写错误：
    with fluid.program_gurad(test_program, fluid.Program()):
        test_loss = network(is_test=True)

应该是
    with fluid.program_guard(test_program, fluid.Program()):
        test_loss = network

[2020-03-11 13:50] #22941 closed, assigned to nobody

[2020-03-11 14:40] WeiyueSu opened #22973 "使用Fleet的transpiler训练有超大embedding的任务，保存模型时出现rpc错误"
在使用Fleet训练具有超大embedding的任务时，is_sparse=True，使用了transpiler的distribution，在保存模型阶段经常出现rpc错误，并且部分pserver端会挂掉，请问是什么原因？
![image](https://user-images.githubusercontent.com/29592202/76428822-2a835000-63e9-11ea-8317-7bbe58ccf77e.png)

[2020-03-11 15:22] ipyffor opened #22974 "fluid.CUDAPlace(0)报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.0
    2）CPU：Itel(R)CreTM)i5- 8300HCPU @ 2.30GHz 2.30GHz
    3）GPU：Nvidia GeForce GTX 1050 Ti，CUDA：10.0和CUDNN：7.6.5.32
    4）系统环境：win10 1089企业版、、Python版本：3.7.4
- 安装方式信息：pip安装
      
运行工具Pycharm、Jupyter
* 错误1：
单独运行fluid.CUDAPlace(0)不报错，训练的时候运行报错，错误和错误2差不多
* 错误2：

[code]

[code]

[2020-03-12 03:27] baiyfbupt opened #22978 "动态图如何实现optimizer.apply_gradients()功能"
我有部分参数params和其对应的梯度grads，优化器optimizer，现在需要根据梯度grads对参数进行优化，在静态图中这样实现:
[code]
在动态图中用`apply_gradients`或者`apply_optimize`接口会报错，想知道是否有其他方式满足需求？

例如pytorch中可以用以下方式实现
[code]

[2020-03-12 03:38] baiyfbupt commented on #22978
代码和报错信息：
![image](https://user-images.githubusercontent.com/28884066/76484853-e712fb00-6455-11ea-95b9-6cd3760b5ad2.png)

![aa12fcffaffa52b002bc044e7de78780](https://user-images.githubusercontent.com/28884066/76484823-d8c4df00-6455-11ea-90b7-06528a93ae24.jpg)

[2020-03-12 04:16] remarkableJ opened #22979 "fluid.layers.lstm接口参数is_bidirec不能发挥双向的作用"
fluid.layers.lstm这个接口的参数is_bidirec貌似不能发挥双向的作用，输出的结果维度跟描述也不一致

[2020-03-12 05:15] psnine opened #22981 "paddle1.7 安装后 run_check()失败"
   1）PaddlePaddle版本：1.7.0
    2）CPU：i7-6800K
    3）GPU：2块 TITAN Xp，CUDA 10.0 和CUDNN 7.6
    4）系统环境：ubuntu 14.04 、Python3.7.6
- 安装方式信息：
conda安装

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
paddle.fluid.install_check.run_check() 报错 内容显示如下所示
![NFQ7~G2K~9}6F8KD2M(CZLT](https://user-images.githubusercontent.com/27390152/76489442-5216fe80-6463-11ea-9c25-e32600888795.png)
![QQ截图20200312131443](https://user-image

[2020-03-12 05:57] Aurelius84 commented on #22979
请问您可否提供下发现问题的代码？

[2020-03-12 07:03] xjqbest opened #22983 "每次编译到这一行都很慢，要等很久"
![image](https://user-images.githubusercontent.com/12492564/76495771-8645eb80-6472-11ea-8f2a-61e654c941e2.png)

[2020-03-12 07:17] JepsonWong commented on #22981
直接是段错误么？其他提示信息也没有么？

[2020-03-12 07:18] JepsonWong commented on #22981
麻烦输出一下cuda、cudnn的配置信息。

[2020-03-12 08:19] Aurelius84 commented on #22983
感谢您的反馈，我们会持续优化paddle的编译速度，提升编译体验。

[2020-03-12 08:35] psnine commented on #22981
没有提示信息，到段错误就结束了

Running Verify Paddle Program ...
W0312 10:15:01.107712  4820 device_context.cc:237] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 10.0, Runtime API Version
: 10.0W0312 10:15:01.110395  4820 device_context.cc:245] device: 0, cuDNN Version: 7.6.
Your Paddle works well on SINGLE GPU or CPU.
I0312 10:15:01.666990  4820 parallel_executor.cc:440] The Program will be

[2020-03-12 08:37] Archimondecy opened #22984 "训练ERROR。 Tensor holds the wrong type, it holds double, but desires to be float"
传入数据：inputs['_y'] = fluid.layers.data(name="_y", shape=[1],  dtype="float32", lod_level=0)
训练计算loss：
cost = fluid.layers.square_error_cost(input=pos_score, label=inputs["_y"])
此处报错，说_y 是double，不是float，求帮忙解决
Tensor holds the wrong type, it holds double, but desires to be float

[2020-03-12 08:43] Aurelius84 commented on #22978
你可以参考如下代码实现：
[code]

[2020-03-12 08:45] Aurelius84 commented on #22984
请问`pos_score `是什么类型？

[2020-03-12 08:50] Archimondecy commented on #22984
pos_score 为下面的函数返回
![image](https://user-images.githubusercontent.com/9897441/76503745-60741300-6481-11ea-9638-cd9bc8df721b.png)

pos_score应该没问题，因为我尝试了把input和label全部换成 pos_score可以正常运行
cost = fluid.layers.square_error_cost(input=pos_score, label=pos_score)

而如果都换成inputs['_y']还是会报失败
cost = fluid.layers.square_error_cost(input=inputs["_y"], label=inputs["_y"])

[2020-03-12 09:13] Archimondecy commented on #22984
已解决，在使用_y之前，先做一次fluid.layers.cast 强制类型转换。

[2020-03-12 09:13] #22984 closed, assigned to nobody

[2020-03-12 09:17] JepsonWong commented on #22981
安装了docker么？能下一个paddle gpu版本的docker测一下么？

[2020-03-12 09:19] Shixiaowei02 commented on #22955
您好，目前 Paddle 没有 Python 用户接口能够实现此功能。

[2020-03-12 09:21] psnine commented on #22981
没装docker

[2020-03-12 10:04] nepeplwu commented on #22959
@waywaywayw ,感谢反馈，这个问题和gunicorn的进程管理机制有关，原因在于，CUDA的初始化操作在进程派生之前就发生了，造成新启动的进程并没有获得CUDA初始化的结果，从而引发了预测时的崩溃。
如果需要进行gpu的预测，建议使用flask作为server。另外，PaddleHub的问题可以直接提到https://github.com/PaddlePaddle/PaddleHub/issues

[2020-03-12 10:19] #22951 closed, assigned to nobody

[2020-03-12 10:58] chajchaj opened #22988 "paddle的dropout和pytorch api行为有diff"
dropout_implementation参数的可选值是'downgrade_in_infer'或'upscale_in_train'，
缺省值是'downgrade_in_infer'，这种情况下api行为和pytorch不一致，
dropout_implementation参数改成'upscale_in_train'才能跟pytorch一致。

[2020-03-12 12:10] Aurelius84 commented on #22988
非常感谢您的反馈，我们会做进一步的优化，提升您的使用体验。

[2020-03-12 12:18] xjqbest commented on #22983
好的，谢谢

[2020-03-12 12:23] yinghu5 commented on #22827
@jiweibo,
I also try to reproduce the issue on my lab CLX machines,  It seems can't reproduce the problem too.  Looks it is related to the machine or environment

Could you please  show lscpu    and export MKLDNN_VERBOSE=1  and print the log as below.
and OS , env information

Best Regards,
Ying

yhu5@clx01:~/baidu_ml/mul$ ./build/mul_demo --model_dir=mul_model --thread_num=3 --num=-1
WARNING: Log

[2020-03-12 12:40] lidanqing-vv commented on #22827
@yinghu5  MKLDNN is OFF, machine is avx2 machine, could you please reproduce the issue on avx2 machine?

[2020-03-12 13:18] jiweibo commented on #22827
lscpu:

[code]
------

Mkldnn is not opened when I compile paddle. export MKLDNN_VERBOSE=1 and print the log as below

./build/mul_demo --model_dir=mul_model/ --thread_num=3 --num=3
[code]

I have reproduced memory leaks in the docker images of ubuntu16 and centos6.10.

If you need other environmental information, please feel free to leave a message, thank you very much. @yinghu5

[2020-03-12 14:41] ZHOUKAI1 opened #22993 "win7调用官方v1.7的库，编译出错：“无法打开文件libpaddle_fluid.lib”"
win7+vs2015，下载官方paddleV1.7编译好的库，想加载模型进行预测，结果库加载不起来，官方库：[https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/windows_cpp_inference.html](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/windows_cpp_inference.html)

cuda 10.0+cudnn7版本 和 cuda9版本都试过了。都出现
错误	LNK1104	无法打开文件“D:\paddle\lib\libpaddle_fluid.li

[2020-03-12 15:25] jczaja commented on #20053
@ddokupil  Please check if feature model command line can be stripped off from workaround part "--disable_fc_mkldnn=true"

[2020-03-12 15:26] jczaja commented on #18944
@pawelpiotrowicz Please take a look at that one.

[2020-03-13 03:12] Akeepers opened #22995 "利用Executor的参数fetch list获取模型执行的中间结果时，出错"
paddle version: 1.6.3
python 2.7
错误信息：
[code]

报错部分的paddle代码：
报错部分： preds_res, loss_val = exe.run(program=prog, feed=data, fetch_list=[preds_res, loss])
Note: 如果将fetch_list中的preds_res去除，代码运行正常
[code]
 program定义：
[code]
loss func定义：
[code]

[2020-03-13 03:18] zengqi0730 opened #22996 "Paddle gpu 1.7.0 安装 提示Error: Cannot load cudnn shared library"
   1）PaddlePaddle版本：paddlepaddle-gpu          1.7.0.post107
    2）CPU：Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz
    3）GPU：1080Ti
    4）系统环境：Ubuntu Kylin 18.04.3 LTS、Python3.6.10
- 安装方式信息：
1）pip安装：pip install paddlepaddle-gpu==1.7.0.post107 -i https://mirror.baidu.com/pypi/simple

- 复现信息：
- conda 已有环境
base                  *  /home/edu/anaconda3
paddle                   /home/edu/anaconda3/envs/padd

[2020-03-13 03:35] LDOUBLEV commented on #22995
问题可能出在sequence_mask 这里，麻烦提供下trg_sequence_length的数据格式和shape

[2020-03-13 03:36] silingtong123 commented on #22993
你好，链接不上的问题，一般是路径不正确或者未能成功找到，也可能是静态库太大，使用了32位链接器。

------------------------------------------------------------------------
解决方法：
1. 路径未成功找到，假如运行的demo文件在demo_ci目录下，则在demo_ci目录下CMakeLists.txt文件添加绝对路径指定，以我的预测库路径为例
link_directories("D:\\\\Download\\\\inference_lib\\\\fluid_inference_install_dir_1.7\\\\fluid_inference_install_dir\\\\paddle\\\\lib")
注：windows下面路径应该使用双反斜杠

2. 由于静态库太大并使用32位链接器影响，编译demo时指定

[2020-03-13 03:37] Akeepers commented on #22995
数据定义：
[code]
reader里，在同一个batch 内进行了padding

[2020-03-13 03:52] Akeepers commented on #22995
[update]:
1. print(trg_sequence_length)的结果
![image](https://user-images.githubusercontent.com/22610351/76588076-0cb90680-6521-11ea-86e5-e5e80961a282.png)

2. 运行时layer.Print(trg_sequence_length)的结果：
![image](https://user-images.githubusercontent.com/22610351/76588113-22c6c700-6521-11ea-8e1e-fd27e5c0b78c.png)

[2020-03-13 04:19] LDOUBLEV commented on #22996
麻烦提供下CUDNN的版本，或者尝试安装paddle 1.7.1

[2020-03-13 04:35] LDOUBLEV commented on #22995
写了一个简单的单测，没能复现你的问题，麻烦和你的代码对比下，代码如下：
[code]

调试时可以尝试，把loss_func里的trg_mask和avg_cost 逐个run出来看下，看是在哪里计算出错了。

[2020-03-13 04:58] Akeepers commented on #22995
好的，谢谢

有一个问题？引用“把loss_func里的trg_mask和avg_cost 逐个run出来看下，看是在哪里计算出错了。”这里的逐个run出来，我不没太明白是什么意思

[2020-03-13 05:10] LDOUBLEV commented on #22995
OK ， 是我没说明白，你可以先把trg_mask run出来，如果有结果没报错，说明sequence_mask 没问题，然后再检查是不是做除法的时候计算avg_cost出问题了。

[2020-03-13 05:11] 1024er commented on #22946
能在hi上联系@wuxing 提供一下复现环境么？

[2020-03-13 05:17] Akeepers commented on #22995
好的，麻烦了

[2020-03-13 05:31] 1024er commented on #22972
好的，感谢，已经给负责人反馈修改了。

[2020-03-13 06:17] hp-cuiwb opened #23000 "请问deeplabv3的剪裁和量化能同时使用嘛？有具体的例子吗？"

[2020-03-13 06:19] cryoco commented on #22963
您好，麻烦提供下使用的Paddle预测库版本，cuda、cudnn、TensorRT版本哈

[2020-03-13 06:23] JepsonWong commented on #22981
无法复现错误，可以尝试安装develop版本的安装包试试看 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-dev

[2020-03-13 06:23] zjutlzt commented on #22963
我想问一下 。  是不是 算力  6.1 编译的paddle-lib     放到7.5的设备上 就会这样？

[2020-03-13 06:29] cryoco commented on #22963
如果是自己编译的paddle的话，需要在编译选项CUDA_ARCH里加入运行设备的架构，比如2080是sm_75，或者设置CUDA_ARCH=All以兼容所有架构

[2020-03-13 06:34] zjutlzt commented on #22963
好的谢谢那应该就是这个问题了非常感谢，因为我当时在编译的时候，设备架构只到 61，
还有一个问题就是yolov3在在 paddleTrt上  做检测的时候，我使用的是  【3，288，288】的小尺寸，
但是返回的 结果出现了 大于300的坐标。  我想问一下是不是  设置了最小不能低于320的？

[2020-03-13 06:36] Akeepers commented on #22995
请问下，你用的什么paddle版本哇？你给出的单侧文件我看了下，没问题，但是跑这个单侧代码的时候，会报错：
仅修改代码中的print部分（我这边是python 2.7）
[code]

[2020-03-13 06:39] zjutlzt commented on #22963
还是在检测的时候   yolo的 初始长宽必须相同？

[2020-03-13 06:41] cryoco commented on #22963
您模型的输入shape是多少呢，目前paddle TensorRT还不支持变长输入，预计下个版本1.7.1开始支持

[2020-03-13 06:42] zjutlzt commented on #22963
我是 [3,320,608] 代码过程都是对的  但是结果是错的

[2020-03-13 06:43] psnine commented on #22981
链接 502了，是我的问题吗

The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.(code:0-5-11.46)

[2020-03-13 06:49] LDOUBLEV commented on #22995
看报错是，loss和trg_mask的shape不一致，无法直接相乘

[2020-03-13 06:51] ZHOUKAI1 commented on #21539
兄弟，你问题解决了么，我在windows目录下，也是无法cmake

[2020-03-13 06:56] zjutlzt commented on #22963
对试过了    yolov3

[2020-03-13 06:56] #22963 closed, assigned to nobody

[2020-03-13 07:13] LDOUBLEV commented on #23000
如果是剪裁后再量化应该是可以的

[2020-03-13 07:58] slf12 commented on #23000
可以同时使用，先裁剪再量化，没有具体的例子。

[2020-03-13 08:06] FwtGit opened #23003 "Variable value (label) of OP(fluid.layers.cross_entropy) expected >= 0 and < 1, but got 1."
在使用交叉熵损失函数的时候出现这个错误，交叉熵label的范围是否应为 >= 0 and < =1？
因为我在做一个二分类的任务，label不是0就是1，想要用这个损失函数，不知道应该怎么用，烦请解答！谢谢！

[2020-03-13 08:14] Shixiaowei02 commented on #22948
您好，这个错误是指针访问非法了，请检查一下业务代码的指针是否有问题。

[2020-03-13 08:16] Shixiaowei02 commented on #22956
您好，非常抱歉，因为 fc_fuse_pass 有已知的精度问题，请尝试关闭此 Pass。关闭的接口是：
`config.pass_builder()->DeletePass(const std::string&);`

[2020-03-13 08:22] silingtong123 commented on #22993
官方的测试环境为win10，只能保证在windows10上没有问题，或者你可以直接尝试本地简单demo（如"hello world"）直接链接预测库，看是否能够成功链接

[2020-03-13 08:36] chenwhql commented on #22949
有几点确认下：
1. 这里说用多卡并行，载入时出错？那单卡载入呢？正常吗？
2. 这里不用Io.load_vars，用io.load_persistables试试呢？save，load接口按名字对应的

[2020-03-13 08:49] 1024er commented on #22970
能详细描述一下是怎么搜的么？是在官网搜 get_cuda_device_count 没有找到相关的内容么？

[2020-03-13 08:55] janelu9 opened #23005 "8gpu下install_check失败"
宿主机是centos cuda10.1 8卡 也装了nccl
docker是ubuntu16.4 cuda10 装的paddle1.7.post107 单卡检测成功 但多卡检测失败了 不知是何原因啊？
![image](https://user-images.githubusercontent.com/24219258/76605418-62a2a400-654b-11ea-864b-307465c1c351.png)

[2020-03-13 09:11] JepsonWong commented on #22981
刚刚官网出现了问题 目前应该可以了

[2020-03-13 09:36] #22978 closed, assigned to nobody

[2020-03-13 09:38] herb711 opened #23008 "胶囊模型"
现在百度飞浆没有胶囊网络的实例，最主要框架里面有没有向量神经元的实现

[2020-03-13 09:43] zengqi0730 commented on #22996
CUDNN: /usr/local/cuda-10.1/lib64/libcudnn.so.7.6.5

[2020-03-13 09:56] ZHOUKAI1 commented on #22993
非常感谢回复，我把paddleV1.63和V1.7版本都试了一遍，CPU版本cmake完，用vs2015能加载编译出exe，能跑，但是下载的GPU版本库都不行，都是无法打开lib，lib路径都写绝对路径了，不知道是不是win7和win10的不同。

错误	LNK1104	无法打开文件“D:\fluid_inference_install_dir_gpu\fluid_inference_install_dir\paddle\lib\libpaddle_fluid.lib”	windows_mobilene

[2020-03-13 12:46] LDOUBLEV commented on #23003
你是不是设置了soft_label，方便提供下报错代码吗

[2020-03-13 12:50] LDOUBLEV commented on #23005
请问你是按照哪种方式安装的，这个检测应该不分单卡多卡的

[2020-03-13 12:50] chajchaj commented on #22970
是在官网搜 get_cuda_device_count 没有找到相关的内容

[2020-03-13 12:50] LDOUBLEV commented on #23008
目前还没有胶囊网络的实现

[2020-03-13 14:32] FwtGit commented on #23003
代码如下

import paddle
import paddle.fluid as fluid
import numpy as np
import random

def train_reader():
    def _reader_():
        f= open("data/data23043/train1w.txt")
        line =f.readline()
        userdic={}
        train_ps=[]
        train_ng=[]
        ##读取正采样
        print("载入训练数据.....")
        while line:
            user,item,label = line.strip("\n").split("\t")
            train_ps.

[2020-03-13 14:32] FwtGit commented on #23003
`import paddle
import paddle.fluid as fluid
import numpy as np
import random

def train_reader():
    def _reader_():
        f= open("data/data23043/train1w.txt")
        line =f.readline()
        userdic={}
        train_ps=[]
        train_ng=[]
        ##读取正采样
        print("载入训练数据.....")
        while line:
            user,item,label = line.strip("\n").split("\t")
            train_ps.appen

[2020-03-13 14:34] FwtGit commented on #23003
模型定义：

class NCF(fluid.dygraph.Layer):
    def __init__(self,user_num,item_num,factor_num,num_layers,dropout):
        super(NCF, self).__init__()

        self.embed_user_GMF = fluid.dygraph.Embedding(size=[user_num,factor_num])
        self.embed_item_GMF = fluid.dygraph.Embedding(size=[item_num,factor_num])
        self.embed_user_MLP = fluid.dygraph.Embedding(size=[user_num, factor_num * (2 **

[2020-03-13 15:02] JepsonWong commented on #23005
已经解决用户问题，某张显卡硬件有问题。

[2020-03-13 15:30] #23005 closed, assigned to nobody

[2020-03-13 16:04] JepsonWong commented on #22981
你可以通过export CUDA_VISIBLE_DEVICES设置一下只跑卡1或者卡2，看看是不是显卡问题。

[2020-03-14 02:05] GT-ZhangAcer opened #23011 "【吐槽】静态图新增PythonOP时，报错不够平易近人"
## 静态图新增PythonOP时，报错有点小问题
1）PaddlePaddle版本：1.7
2）CPU/GPU：AMD ZEN
3）系统环境：Windows 10 Home

V1.7报错方面解决提升太给力了，于是就尝试一下在静态图下新增PythonOP，在报错方面体验不是太友好。

**1、疏忽漏掉参数，报错信息提示太少，很难Get到自己的失误。
2、疏忽少返回参数，不报错，内存爆了。
3、某个变量忘记转numpy，不报错，内存爆了。**

以下是代码部分，拿了几个小数据实验，直接复制即可复现。
代码部分：
[code]

版本1、2类型报错截图
![图片](https://user-images.githubusercontent.com/46156734/76672855-fff8e900-65da-11ea-92eb-fc1cfd8fceca.png)

版本3报错截图
又复现不

[2020-03-14 03:17] mottled233 commented on #22949
单卡是正常的。另外我在训练时加载使用的是io.load_persistables，也是正常的（指单卡训练过程，还没有尝试多卡加载），预测时用这个接口可能不符合需求。

[2020-03-14 04:22] ahsdx opened #23012 "采用fluid.save和fluid.load接口保存和加载模型，，，恢复训练时报错"
- 版本、环境信息：在aistudio上运行，paddle版本是1.6.2
请问下paddle恢复训练时，想换个优化器怎么做😂？比如原来训练时采用的是Adam，用了warm_up策略，cosine_decay，然后我想换成Adam，piecewise_decay。保存模型时用的是fluid.save接口，恢复模型用的是fluid.load接口。
我直接将Adam优化器里面的学习率改成piecewise_decay后报错了。报错信息如下
/home/aistudio/work/tools
W0314 12:20:32.815095  1315 device_context.cc:236] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 9.2, Runtime API Version: 9.0
W0314 12

[2020-03-14 15:46] chenwhql commented on #22949
您使用load_vars是直接传入的main_program吗？按理说您只save了persistable的变量，直接load所有的变量没报错吗？

此外：
还是应该在compiledProgram之前load比较合适，您看您报的这个错，是说fetch的这个变量没找到，一般原因可能是：
1. main program里面没有qas_ids这个变量
2. 这个qas_ids不在graph里，不是任何op的输入或者输出，是一个游离变量
（最新版paddle会报出以上两个原因，您可以换新版paddle试试）

因为这边，没有您code和环境，麻烦您先确认下为什么会在这里报fetch出错？是什么原因，qas_ids这个变量是什么状态

[2020-03-15 02:15] zhengzhe97 opened #23013 "paddlepaddle是否有类似操作"
paddlepaddle是否有类似numpy的操作

![TIM图片20200315101452](https://user-images.githubusercontent.com/26462054/76693771-d22ca680-66a5-11ea-8575-78f30eb7e524.png)

[2020-03-15 02:56] mottled233 commented on #22949
是的，直接传入，并判断相应变量文件存不存在，我之前没有关注persistable的问题，但在我的测试过程中问题不大，所有需要的参数都被加载了。
另外，确实这个变量是直接传出来的，没有经过计算，直接fetch，原来这也会有问题啊

[2020-03-15 04:01] txyugood commented on #22956
好的，非常感谢！

[2020-03-15 04:01] #22956 closed, assigned to nobody

[2020-03-15 04:12] psnine commented on #22981
我试了下 通过export CUDA_VISIBLE_DEVICES 可以过run_check了
但是nccl我已经装了，理论上不应该出现只有单卡可以用的问题

[2020-03-15 05:28] 123malin commented on #23013
有的，可以在官网文档中参考where + gather_nd op组合。

[2020-03-15 05:31] zhengzhe97 commented on #23013
我把二维reshape到一维，再用IfElse得到结果，再reshape回去效果一样吧

[2020-03-15 05:41] 123malin commented on #23013
应该是的，你可以用把结果打印出来，看一下是否符合预期。

[2020-03-15 06:07] zhengzhe97 commented on #23013
是一样的

[2020-03-15 06:08] #23013 closed, assigned to nobody

[2020-03-15 06:09] zhengzhe97 opened #23014 "调用smooth_l1_loss出错"
![TIM图片20200315140911](https://user-images.githubusercontent.com/26462054/76696432-8e966480-66c6-11ea-84fb-c4316119aebf.png)

做smohth_l1_loss的时候报错，是x,y的类型不一样导致的吗
我输入的x,y都是float32

[2020-03-15 06:25] #23014 closed, assigned to nobody

[2020-03-15 07:44] yousong1992 opened #23015 "window编译错误"
在pycharm用虚拟环境安装paddlepaddle1.7.1，安装成功后运行测试代码import paddle.fluid as fluid
fluid.install_check.run_check()
报错 Process finished with exit code -1073741819 (0xC0000005)
电脑配置 win10 64位  8GB内存

[2020-03-15 08:01] OliverLPH commented on #22993
@ZHOUKAI1
LNK1104 无法打开文件`libpaddle_fluid.lib` 这个一般都是
因为libpaddle_fluid.lib这个文件太大了，使用visual studio 32位的编译工具编译的时候就是会报无法打开文件。

1. 建议你可以在命令行里面直接编译试下，不进入vs软件进行编译。
Paddle的代码库里有个脚本你可以尝试下
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/demo_ci/run_windows_demo.bat
[code]

2. 或者可以参考下这个[VS2015编译C++预测demo报错](https://github.com/PaddlePaddle/PaddleSeg/issues/155)，可能是vs2015社区版有该问题

[2020-03-15 14:54] zzs95 commented on #22252
你好解决了么

[2020-03-15 18:12] JepsonWong commented on #22981
如果两个卡分别单卡模式下都可以，尝试重启下机器和显卡，如果还不行，怀疑是显卡问题。正常nccl没装会有提示信息，你这个是直接段错误。

[2020-03-16 01:05] ZHOUKAI1 commented on #22993
@OliverLPH @silingtong123  已经可以了，非常感谢，确实是32位链接器影响，cmake时，加-T host=x64，重新编译就可以加载上

[2020-03-16 01:05] #22993 closed, assigned to nobody

[2020-03-16 02:25] LDOUBLEV commented on #23003
cross_entropy，对predict的最后一维是1时会出现这个错误，建议将网络的输出最后一维设置为2。正标签作为1类，负标签作为1类。

import paddle.fluid as fluid
import paddle.fluid.dygraph as dygraph
import numpy as np

with dygraph.guard():
    a = np.random.uniform(0, 1, [4, 2]).astype(np.float32)
    # b = np.array([[0], [1], [0], [1]]).astype(np.int64)
    b = np.random.randint(0, 2, [4, 1]).astype(np.int64)
    print(b)

    ap = dygraph.to_variable(

[2020-03-16 02:27] zhangylch opened #23021 "动态图使用fluid.dygraph.Layer.create_parameter报告缺少参数错误"
 1）PaddlePaddle版本：1.7.0
动态图使用create_parameter出现缺少参数self错误,可是官方文档里并没有这个参数。
下面是一个简单的示例，如果是我使用有问题还希望能够给一个例子，如何使用。
import paddle.fluid as fluid
with fluid.dygraph.guard():
   w=fluid.dygraph.Layer.create_parameter(dtype='float64',shape=[2,2])
报错：
Traceback (most recent call last):
  File "14.py", line 3, in <module>
    w=fluid.dygraph.Layer.create_parameter(dtype='float64',shape=[2,2])
TypeError: cre

[2020-03-16 03:42] qingqing01 commented on #23021
@zylustc

此函数需要在继承 fluid.Layer的sub-class中用，而不是当做普通的function调用。正确的用法是:

[code]

[2020-03-16 03:45] zhangylch commented on #23021
非常感谢

[2020-03-16 03:46] #23021 closed, assigned to nobody

[2020-03-16 03:54] weiexcelpro opened #23023 "Exposure of estimated time of training"
Hi Paddler,

It's very inconvenient that I cannot know how long time I should wait to see the result when the training started.  Especially the training may take a couple of weeks!

Could you consider to add a feature that output the estimated time when the training starts?

Thanks,
Wey

[2020-03-16 03:58] qingqing01 commented on #23023
@weiexcelpro Which model do you use?  In some models, like PaddleDetection, PaddleSeg, give the ETA time.

[2020-03-16 04:01] phlrain commented on #23012
刚开始是sgd，然后想换成adam？

[2020-03-16 04:13] ahsdx commented on #23012
刚开始还是Adam，后面也是Adam，只是一开始的Adam的学习率是cosine_decay，还用了wramup策略，后面我想换成piecewise_decay，没有warmup策略。直接在原来优化器改，恢复训练时就报错了

---原始邮件---
发件人: "hong"<notifications@github.com&gt;
发送时间: 2020年3月16日(周一) 中午12:01
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"ahsdx"<2589561091@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 采用fluid.save和fluid.load接口保存和加载模型，，，恢复训练时报错 (

[2020-03-16 04:36] zhangylch commented on #23021
非常感谢发自我的华为手机-------- 原始邮件 --------发件人： qingqing01 <notifications@github.com>日期： 2020年3月16日周一 11:42收件人： PaddlePaddle/Paddle <Paddle@noreply.github.com>抄送： zyl12138 <ylzustc@mail.ustc.edu.cn>, Mention <mention@noreply.github.com>主    题： Re: [PaddlePaddle/Paddle] 动态图使用fluid.dygraph.Layer.create_parameter报告缺少参数错误 (#23021)

@zylustc

次函数需要在继承 fluid.Layer的sub-class中用，而不是当做普通的function调用。正确的用法是:

class My

[2020-03-16 05:37] #22955 closed, assigned to nobody

[2020-03-16 06:24] JepsonWong commented on #22974
CUDNN_STATUS_NOT_INITIALIZED一般是cudnn没装好

[2020-03-16 06:26] JepsonWong commented on #22996
看你conda里面也装了cuda、cudnn：
cudatoolkit 10.0.130 0 http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
cudnn 7.6.5 cuda10.0_0 http://mirrors.ustc.edu.cn/anaconda/pkgs/main

你用的cuda、cudnn是在哪个位置呢？

[2020-03-16 06:46] chenwhql commented on #22949
您的意思是，qas_ids是一个游离变量吗？

游离变量应该是不推荐用的，单卡的时候就是按拓扑顺序执行计算，应该没问题，而多卡要构建计算图，如果没有连到图里，是会报错的

[2020-03-16 06:51] imchinfei opened #23028 "PaddlePaddle1.7.0, act='hard_sigmoid' is not available in paddle.fluid.dygraph.Conv2D()"
PaddlePaddle1.7.0中, paddle.fluid.dygraph.Conv2D中, act = 'hard_sigmoid'功能不正常, 同样的代码在PaddlePaddle1.6.0中使用正常.

以下为简单的复现代码

[code]

报错为

[code]

[2020-03-16 08:28] ZHOUKAI1 opened #23031 "win7+vs2015 通过paddle V1.7库，调用模型进行预测，图像数据输入报错"
windows7， cuda是9.0 ，i7-6700，P4000
我训练好了一个模型，现在想用opencv读图片，输入模型进行训练，从官方网站找到样例[C++预测
[c++预测](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/native_infer.html)
官方是用数组填0来输入，假如我有两个图片，batch=2，通过如下代码输入，到  input_t->copy_from_cpu(ary);就出错：

0x0000000141EC7C38 处有未经处理的异常(在 windows_mobilenet.exe 中): 0xC00000FD: Stack overflow (参数: 0x0000000000000001, 0x0000

[2020-03-16 10:13] mapingshuo opened #23033 "fc layer设置bias_attr=None后仍包含了bias项"
复现代码：

[code]

![image](https://user-images.githubusercontent.com/23031310/76745989-b9a9b280-67b1-11ea-90e0-72ef46e27f00.png)

而文档中说：“如果 bias_attr 非空，则会创建一个偏置变量（bias variable），并把它累加到输出结果中。”

[2020-03-16 10:18] lidanqing-vv opened #23034 "New models failed in save_qat_models.py"
1. New image classification model failed on saving QAT model using save_qat_models.py
2. Improve the README.md and give more detailed description on the process of transforming QAT models to INT8 models

**System information**
-PaddlePaddle version: develop branch or release/1.7
-CPU: Intel(R) Xeon(R) Gold 6248 CPU @ 2.50GHz
-OS Platform: CentOS Linux 7 (Core)
-Python version: python 2.7
-Cmake or

[2020-03-16 11:04] xw-github commented on #22827
hi，  @jiweibo
I have reproduced memory leaks in the docker images of ubuntu16.04

1、mul-thread
./build/mul_demo --model_dir=mul_model/ --thread_num=3 --num=-1
[memlog.txt.multhread.zip](https://github.com/PaddlePaddle/Paddle/files/4337698/memlog.txt.multhread.zip)

2、single-thread
./build/mul_demo --model_dir=mul_model/ --thread_num=1 --num=-1
[memlog.txt.singlethread.zip](https://github.com/Paddl

[2020-03-16 11:57] yinghu5 commented on #22827
@jiweibo @xw-github   thank you for the reproduce the issues.  I can reproduce the issue too and confirmed there is memory leak.  From first -turn debug, the problem seems in libiomp5.so, which alloc memory, but no release.  we are checking the details at local lab.
If possible, could you please check several libiomp5.so versions,  like latest one in MKL 2020, or old one in MKL 2019 etc and see if

[2020-03-16 12:07] qingqing01 commented on #23033
文档:  https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/fc_cn.html#fc

是说None的时候，使用默认的bias。是觉得这个有误解？

[2020-03-16 12:15] qingqing01 commented on #23028
@phlrain please help to look at this question

[2020-03-16 12:19] qingqing01 commented on #23031
@zhouwei25 帮忙看下这几个问题~

[2020-03-16 12:30] Angus07 opened #23038 "换个机器训练报错"
一模一样的代码之前一直能跑的，换了个机器跑，结果报错了。错误信息不明确指向的代码，或者是什么错误。

[code]

[2020-03-16 12:40] qingqing01 commented on #23038
@Angus07 You update paddlepaddle to 1.7.  Or set fuse_all_optimizer_ops=False in  build_strategy for a try.

[2020-03-16 12:51] zhwesky2010 commented on #22974
@fCenever 麻烦看一下cudnn的三个目录：bin lib include，是否正确的拷贝到CUDA的目录里了

[2020-03-16 13:15] ipyffor commented on #22974
正确拷贝，我重装paddle就好了，不知道怎么回事
&nbsp;

影

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zhou Wei"<notifications@github.com&gt;;
发送时间: 2020年3月16日(星期一) 晚上8:51
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "631707329"<631707329@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] fluid.CUDAPlace(0)报错 (#22974)

@fCenever 麻烦看一下cudnn的三个目录：bi

[2020-03-16 13:28] zhwesky2010 commented on #23015
@yousong1992 这个和pycharm的环境关系比较大，应该不是paddle的问题，请问是在debugger模式下运行的，还是run模式下运行的呢？尽量用run模式
然后用pip show h5py查看下h5py的版本号version是多少？

[2020-03-16 13:44] zhwesky2010 commented on #22974
@fCenever 还遇到了其他的问题没？没有的话方便关一下issue哈

[2020-03-16 13:46] zhwesky2010 commented on #22974
@fCenever  重装的paddle应该是1.7.1版本，你之前报错的是1.7.0，你可以装回去再试试

[2020-03-16 13:48] ipyffor commented on #22974
。。。，因为之前装的时候官网地址老是超时，所以用了第三方pip，才装了1.7.0，我试试
&nbsp;

影

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zhou Wei"<notifications@github.com&gt;;
发送时间: 2020年3月16日(星期一) 晚上9:46
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "631707329"<631707329@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] fluid.CUDAPlace(0)报错 (#22974)

@fCenever

[2020-03-16 13:51] zhwesky2010 commented on #22974
@fCenever 用清华源试试，pip install paddlepaddle-gpu=1.7.0 -i https://pypi.tuna.tsinghua.edu.cn/simple，官方源确实很难连上。里面的包是一致的，用了第三方pip应该不至于导致包出bug

[2020-03-16 13:52] ipyffor commented on #22974
好
&nbsp;

影

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zhou Wei"<notifications@github.com&gt;;
发送时间: 2020年3月16日(星期一) 晚上9:51
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "631707329"<631707329@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] fluid.CUDAPlace(0)报错 (#22974)

@fCenever 用清华源试试，pip install paddlepaddle-gpu=1.7.0

[2020-03-16 14:01] ipyffor commented on #22974
这次没报错&nbsp;&nbsp;pip install paddlepaddle-gpu==1.7.0.post107 -i https://mirror.baidu.com/pypi/simple
我用那个第三方源试试
&nbsp;

影

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zhou Wei"<notifications@github.com&gt;;
发送时间: 2020年3月16日(星期一) 晚上9:51
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "631707329"<631707329@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题:

[2020-03-16 14:14] zhwesky2010 commented on #22974
@fCenever 这几个源里面的东西应该都是一致的，你中间有没有更新过nvidia驱动？还有可能就是gpu被占用了，不知道之前是一直出这个错误，还是偶尔出过一次错误

[2020-03-16 14:15] ipyffor commented on #22974
之前一直是这个错误
&nbsp;

影

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zhou Wei"<notifications@github.com&gt;;
发送时间: 2020年3月16日(星期一) 晚上10:14
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "631707329"<631707329@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] fluid.CUDAPlace(0)报错 (#22974)

@fCenever 这几个源里面的东西应该都是一致的，你中间有没有更新过nvidia驱

[2020-03-16 14:16] ipyffor commented on #22974
pip&nbsp;install&nbsp;paddle -i&nbsp;http://pypi.douban.com/simple/&nbsp;--trusted-host pypi.douban.com之前用的这个，现在安装报错&nbsp;

影

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zhou Wei"<notifications@github.com&gt;;
发送时间: 2020年3月16日(星期一) 晚上10:14
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "631707329"<631707329@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;

[2020-03-16 14:19] ipyffor commented on #22974
现在

[2020-03-16 14:19] #22974 closed, assigned to zhwesky2010

[2020-03-16 14:31] ipyffor commented on #22974
没有
&nbsp;

影

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zhou Wei"<notifications@github.com&gt;;
发送时间: 2020年3月16日(星期一) 晚上10:14
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "631707329"<631707329@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] fluid.CUDAPlace(0)报错 (#22974)

@fCenever 这几个源里面的东西应该都是一致的，你中间有没有更新过nvidia驱动？还有可能就

[2020-03-16 17:29] paulpaul91 opened #23044 "ValueError: share_vars_from is not compiled and run, so there is no var to share"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 1.7

    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机，多卡
单机多卡，训练过程中有预测环节，设置share_vars_from代码运行报错

[2020-03-17 00:22] rupei110 opened #23045 "ValueError: 'Preprocessor_map_while_Merge' is not in list"
paddlepaddle-gpu 版本1.7.0.post107，Centos7 系统， X2paddle转tensorflow官方模型ssd_mobilenet_v1_coco出现错误
![image](https://user-images.githubusercontent.com/50095586/76810214-40997200-6828-11ea-90ef-72b8f4c2be6c.png)
请问这是什么原因

[2020-03-17 01:12] yinghu5 commented on #22827
@jiweibo @GaoWei8  @lidanqing-intel

is it possible to build paddle without libiomp5?   for example, when replace link  libmklml_intel.so  with link libmklml_gnu.so  .  (maybe when build mkldnn, remove the -liomp5  option).

i did investigation and find the paddle library is linking mix openmp library,  libiomp5.so and libgomp5.   Such kind of mixing thread model would cause unexpected behaviors.

[2020-03-17 01:45] qingqing01 commented on #23044
@paulpaul91 share_vars_from的那个compiled的program已经运行了吗？

[2020-03-17 03:57] zhwesky2010 commented on #22974
pip install paddlepaddle-gpu==1.7.0 -i http://pypi.douban.com/simple --trusted-host pypi.douban.com 是这个命令吗

[2020-03-17 03:57] zhwesky2010 commented on #22974
@fCenever

[2020-03-17 04:40] ipyffor commented on #22974
pip install paddle -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com

[2020-03-17 04:40] ipyffor commented on #22974
@zhouwei25

[2020-03-17 05:27] chenwhql commented on #23012
您可以按以下步骤排查一下：
1. 用save load的情况
- learning_rate这种optimzier的辅助变量存储在本地一个后缀为.pdopt的文件里
- 文件存在的话，找不到变量有可能是变量名发生了变化，您可以打印前后两个模型中的所有参数，看看learning_rate变量名是否一样，可以用以下代码打印：
[code]
- 如果变量名一致，仍然出现此问题，能否麻烦您提供下简答的代码demo，我们确认下是否存在隐藏的问题？

2. save_persistables load_persistables的情况
- 用这两个接口，报错和前面使用save load一样吗？
- 如果一样的话，也可以按照上面的方法排查下
- 此外，您也可以试用下save_params和load_params是否还会出现同样问题

[2020-03-17 05:38] dpwu1994 opened #23048 "paddle transformer翻译模型，支持beamsearch定向翻译吗"
如题，有demo吗

[2020-03-17 06:05] qhpeklh5959 opened #23049 "paddle的crf功能"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that there was a similar issue su

[2020-03-17 06:20] yousong1992 commented on #23015
谢谢您！发自我的华为手机-------- 原始邮件 --------发件人： Zhou Wei <notifications@github.com>日期： 2020年3月16日周一 晚上9:28收件人： PaddlePaddle/Paddle <Paddle@noreply.github.com>抄送： yousong1992 <dltbjys1992@163.com>, Mention <mention@noreply.github.com>主    题： Re: [PaddlePaddle/Paddle] window编译错误 (#23015)

@yousong1992 这个和pycharm的环境关系比较大，应该不是paddle的问题，请问是在debugger模式下运行的，还是run模式下运行的呢？尽量用run模式

然后用pip show h5py查看下h5py的版本号versio

[2020-03-17 06:20] yousong1992 commented on #23015
收到，已经调试成功。重新安装了下环境即可发自我的华为手机-------- 原始邮件 --------发件人： Zhou Wei <notifications@github.com>日期： 2020年3月16日周一 晚上9:28收件人： PaddlePaddle/Paddle <Paddle@noreply.github.com>抄送： yousong1992 <dltbjys1992@163.com>, Mention <mention@noreply.github.com>主    题： Re: [PaddlePaddle/Paddle] window编译错误 (#23015)

@yousong1992 这个和pycharm的环境关系比较大，应该不是paddle的问题，请问是在debugger模式下运行的，还是run模式下运行的呢？尽量用run模式

然后用pip show h5py查

[2020-03-17 07:00] zhwesky2010 commented on #23015
@yousong1992 重新安装了哪些环境呀，判断出来了是什么引起的吗。没问题可以关闭issue了哈

[2020-03-17 07:04] zhwesky2010 commented on #22974
@fCenever 装paddlepaddle，装paddle那应该是另外一个东西

[2020-03-17 07:05] ipyffor commented on #22974
嗯
&nbsp;

影

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zhou Wei"<notifications@github.com&gt;;
发送时间: 2020年3月17日(星期二) 下午3:04
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "631707329"<631707329@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] fluid.CUDAPlace(0)报错 (#22974)

@fCenever 装paddlepaddle，装paddle那应该是另外一个东西

—
You are

[2020-03-17 07:10] JiabinYang commented on #22883
![image](https://user-images.githubusercontent.com/22361972/76831024-79a20880-6861-11ea-8d20-8c2037918978.png)

[2020-03-17 07:26] ahsdx commented on #23012
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

            我觉得您可能误会我意思了，我的learning_rate文件是存在的。我是想换个学习率，原来优化器代码是用下面的代码optimizer = fluid.optimizer.Adam(            learning_rate=fluid.layers.linear_lr_warmup(                fluid.layers.cosine_decay(learning_rate=lr, step_each_epoch=step, epochs=num_epochs),                war

[2020-03-17 07:33] chenwhql commented on #23012
好像是没太理解，您是说learning_rate文件存在，然后您把它删了，然后报这个错误吗？

那您的意思是，不想load learning_rate这个值，用自己新定义的是吗？

那您在save_persistables之后，试试用load_params呢？learning_rate属于persistable的变量，但它不是parameter，如果只load parameter的话，应该不会load它

[2020-03-17 07:38] #23015 closed, assigned to zhwesky2010

[2020-03-17 07:38] yousong1992 commented on #23015
重新按了conda，然后按照步骤一步步走就行，公司没有网，回家关闭。麻烦了发自我的华为手机-------- 原始邮件 --------发件人： Zhou Wei <notifications@github.com>日期： 2020年3月17日周二 下午3:01收件人： PaddlePaddle/Paddle <Paddle@noreply.github.com>抄送： yousong1992 <dltbjys1992@163.com>, Mention <mention@noreply.github.com>主    题： Re: [PaddlePaddle/Paddle] window编译错误 (#23015)

@yousong1992 重新安装了哪些环境呀，判断出来了是什么引起的吗。没问题可以关闭issue了哈

—You are receiving this because you

[2020-03-17 07:41] ahsdx commented on #23012
对的，我不想load上次模型保存时的learningrate，想更换下，然后用load_persistence那个接口和load接口加载模型时候就错误了。您的意思是让我用load_params接口来保存加载模型试试吗？那我保存模型后，是否需要删掉learning_rate文件，然后自己在定义一个学习率后，再用load_params接口加载模型呢？

---原始邮件---
发件人: "Chen Weihang"<notifications@github.com&gt;
发送时间: 2020年3月17日(周二) 下午3:33
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"ahsdx"<2589561091@qq.com&gt;;
主题:

[2020-03-17 07:42] chenwhql commented on #23012
不需要，用load params的话，即使文件存在，应该也不会去读取，您先试试看下

[2020-03-17 07:48] baiyfbupt opened #23052 "动态图是否支持对指定Param求梯度"
类似pytorch的
[code]
或者paddle 静态图的
[code]
paddle 动态图中目前只找到一种方法，全图backward，再取出目标梯度
[code]
最后这种方法对整个网络求了梯度，但如果我只需要其中的很小一部分，这种方法可能会有速度问题。想咨询下目前动态图是否可以支持loss仅对指定的param求梯度

[2020-03-17 07:52] ahsdx commented on #23012
好的，非常感谢您，我现在
正在训练模型，等稍微时候，我会试试的。谢谢了

---原始邮件---
发件人: "Chen Weihang"<notifications@github.com&gt;
发送时间: 2020年3月17日(周二) 下午3:43
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"ahsdx"<2589561091@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 采用fluid.save和fluid.load接口保存和加载模型，，，恢复训练时报错 (#23012)

是否需要删掉learning_rate文件，然后自己在定义一个学习率后，再用load_params接口加载模型呢？

不

[2020-03-17 07:53] chenwhql commented on #23012
不客气，有问题继续沟通

[2020-03-17 07:53] gxli2017 opened #23054 "kronecker积和支持复数运算"
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.7.1
2）CPU/GPU：CPU训练
3）系统环境：Mac OS 10.11.6
- 建议描述：
          建议增加支持矩阵的kronecker积运算；
          建议增加支持复数类型的矩阵乘积运算。

[2020-03-17 08:44] Quan-zzx opened #23058 "动态图中如何进行预训练?"
由于paddlehub还不支持动态图,那我想在动态图里使用预训练的参数该怎么办,就比如我想实现一个VGG+FCN,在VGG中使用预训练好的参数.

[2020-03-17 09:17] Xreki commented on #23054
您好，感谢您的建议。请问您是在什么场景或模型需要这个功能呢？

[2020-03-17 09:25] kali20gakki opened #23061 "使用动态图在自己服务器上出现[Hint: CUDNN_STATUS_BAD_PARAM] at (/paddle/paddle/fluid/operators/batch_norm_op.cu:287)"
如题，
错误信息
[code]

[2020-03-17 09:34] Xreki commented on #23052
动态图目前不支持这个功能，可以在下个版本中支持。
当前，动态图也支持**自动剪枝**的功能，具体见[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html#id3)。你可以尝试将不需要计算地图的参数设置`stop_gradient=True`。

[2020-03-17 09:41] larenzhang opened #23064 "Why dygraph runs faster than executer(static graph) in each training iteration?"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.0
    3）GPU: titan xp, cuda 10.1, cudnn 7.6.1
    4）系统环境：ubuntu 16.04, python3.5
- 训练信息
    1）单机, 单卡

## dygraph训练代码：
[code]

## executor 代码

[code]

在单卡titan XP, batch_size=64 训练100个iteration， 每个iteration平均测速时间为：
dygraph：102.8ms
executor:126.5ms
executor with compile:108.6m

[2020-03-17 09:44] #23052 closed, assigned to nobody

[2020-03-17 10:04] Karbit opened #23065 "Paddle 1.6 在 CPU 上运行 Bert 模型时 InferShape 报错"
环境和模型信息：
PaddlePaddle 1.6, 使用 pip 安装
Paddle Models, 1.6, https://github.com/PaddlePaddle/models/blob/release/1.6/PaddleNLP/PaddleLARK/BERT/
复现：
将 train.sh 中的 use_cuda 改为 false, 然后执行 ./train.sh -local y.
报错信息：
[code]

[2020-03-17 10:17] ahsdx commented on #23012
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

        非常感想，已经解决了，我用load_params接口就行了，请问需要我关闭issue吗？

                                2589561091

                                    2589561091@qq.com

        签名由
        网易邮箱大师
        定制

    在2020年3月17日 15:53，Chen Weihang<notifications@github.com> 写道：

不客气，有问题继续沟通

—You are

[2020-03-17 10:21] chenwhql commented on #23012
嗯嗯，麻烦关闭吧

[2020-03-17 10:23] #23012 closed, assigned to phlrain

[2020-03-17 10:24] ahsdx commented on #23012
好的，已经关闭了

---原始邮件---
发件人: "Chen Weihang"<notifications@github.com&gt;
发送时间: 2020年3月17日(周二) 晚上6:21
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"ahsdx"<2589561091@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 采用fluid.save和fluid.load接口保存和加载模型，，，恢复训练时报错 (#23012)

嗯嗯，麻烦关闭吧

—
You are receiving this because you authored the thread.
Reply to this email

[2020-03-17 10:33] pawelpiotrowicz commented on #18944
https://github.com/PaddlePaddle/Paddle/pull/23066

[2020-03-17 11:29] gxli2017 commented on #23054
在模拟量子神经网络的场景。因为量子计算是建立在复数域上的矩阵乘积运算，并且伴随着 大量的kronecker积运算

[2020-03-17 11:38] #23003 closed, assigned to nobody

[2020-03-17 11:40] Xreki commented on #23064
1. 直接使用executor时，你可以设置`use_prgram_cache=True`来加速，例如`executor.run(program=fluid.default_main_program(), ..., use_program_cache=True)`
2. 训练一般建议使用data parallel模式，即
[code]

具体请参考官方的[image_classification](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification)。

[2020-03-17 11:42] Xreki commented on #23061
出现这个错误，一般还是参数配置的不对，请提供一下batch_norm的配置吧。

[2020-03-17 11:50] Xreki commented on #23058
动态图可以使用[load_dygraph](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/load_dygraph_cn.html#load-dygraph)，可参考[models/dygraph/transformer](https://github.com/PaddlePaddle/models/blob/04bb6a8c369bd3b78352d7aa626e4cb93885bda7/dygraph/transformer/train.py#L98)

[2020-03-17 11:52] kali20gakki commented on #23061
程序（YOLOV3）已经在AI Studiofu上验证可以运行的，在自己服务器上硬件配置是一样的。
BN层：
[code]

[2020-03-17 12:08] Xreki commented on #23065
从你贴的log来看，应该是在组网阶段就报错了，我拉取了models的release/1.6分支，pip安装1.6.0版本，无法复现你的错误。以下是我测试环境的详细信息：
- Paddle版本：
[code]
- models代码commit
[code]

请你确认下你的Paddle版本和models版本。若仍然出现错误，请提供一下更详细的信息。

[2020-03-17 12:16] Xreki commented on #23061
1. 输入`ch_out`的维度是多少？
2. AIStudio和你服务器上的Paddle版本一样吗？还有cuDNN版本？

[2020-03-17 12:25] Xreki commented on #23054
好的，我会反馈下您这个需求的。若您着急使用相应功能的话，可尝试：
1. 使用基础op拼凑出对应的功能
2. 使用[py_func](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/py_func_cn.html#py-func)在Python中定制op，参考文档[如何写新的Python OP](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/new_python_op.html)
3. 外部实现C++ op，参考[如何在框架外部自定义C++ OP](https://www.paddlepaddle.org.cn/documentation/docs/zh/ad

[2020-03-17 12:26] kali20gakki commented on #23061
1.ch_out维度不是固定的
2.AI Studio paddle1.7.0   自己服务器paddle1.7.1 cuda10.0 cuDNN7.4

[2020-03-17 12:30] Xreki commented on #23061
能否给一下出上述错误的时，ch_out的维度？

[2020-03-17 12:35] kali20gakki commented on #23061
应该是第一层ConvBNLayer， ch_out shape [10, 32, 416, 416] , batchsize=10

[2020-03-17 12:53] kali20gakki commented on #23061
原因找到了：
错误环境：cuda10.0 cuDNN7.4  paddlepaddle1.7.1
正确环境：cuda9.2   cuDNN7.4  paddlepaddle1.7.0

[2020-03-17 13:02] larenzhang commented on #23064
我试了上述两种方法，和我之前的方法比并没有速度提升，测试时间和之前差不多。我还专门测试了一下每个iteration inference的时间，ReNet18上，发现executor确实会比dygraph快2ms左右，但是executor每个iter的训练时间还是比dygraph慢。

[2020-03-17 13:18] Xreki commented on #23045
请问您使用的x2paddle的版本是？

[2020-03-17 13:35] Xreki commented on #23048
Paddle开源的transformer在[这里](https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/machine_translation/transformer)。请问您说的“定向”具体是指什么？

[2020-03-17 13:37] dpwu1994 commented on #23048
beamsearch + 前缀树实现，翻译出的句子都在提供的集合中

[2020-03-17 14:19] aprilvkuo opened #23069 "Paddle 模型计算中，支持将variable转化为numpy的数据格式吗？"
demo代码
[code]

从输出结果也看出来， 可以通过np.array(*) 方式转化，但是不是标准的numpy的数据格式，没法获取其中的数据。

输出结果：
[code]

[2020-03-17 14:34] Quan-zzx commented on #23058
谢谢

[2020-03-17 15:00] jczaja opened #23070 "[DNNL] Refactor activation code"
Growing number of activations of DNNL made part of code bloated and perhaps not very efficient
Goal is to refactor it , so new activations are easier to add/maintain. Relevant code:

https://github.com/PaddlePaddle/Paddle/blob/eec10aaba2f6c19bf08f3e4983a1dabcca4a5844/paddle/fluid/platform/mkldnn_reuse.h#L977-L988

[2020-03-17 15:02] jczaja commented on #23070
@pawelpiotrowicz Please take a look at that. we have PR with swish activtion and Gelu activation so
this refactoring will make it easier to maintain

[2020-03-17 15:20] littleluckhealer8 opened #23072 "关于用conda安装paddle过程的问题"
当我安装官网快速安装步骤，一步一步安装完后检查时，提示：
[code]

但paddle.fluid.install_check.run_check()又提示：
[code]

由此可能把paddle.fluid未安装，在用Spyder运行程序时提示：
[code]

omg  我也不知道怎么办啊

[2020-03-17 15:22] #23061 closed, assigned to nobody

[2020-03-17 17:02] wojtuss commented on #23034
The model used here looks like suitable for the QAT1.0 only. It cannot be used with QAT2.0 (and the `save_qat_model.py` script) because there are important `fake_quantize_dequantize_*` operators missing in it. To see the difference, please compare the two ResNet50 models downloaded during building PaddlePaddle with tests:
QAT1.0: `build/third_party/inference_demo/qat/ResNet50_QAT/model/`
QAT2.0: `

[2020-03-17 17:06] jczaja opened #23073 "[DNNL] Implement operator softmax with cross entropy"
DNNL 1.2 released operator softmax with log loss . Perhaps it can be used to implement softax with cross entropy

[2020-03-17 17:57] jczaja opened #23074 "How does InplaceInferer works?"
@luotao1 , @sneaxiy

Hi We are interested in taking adventage of inplace optimizations in DNNL integration (starting with softmax). PaddlePaddle inplace mechanism is for example used here:
https://github.com/PaddlePaddle/Paddle/blob/01ab8a061936aee264c8e9aeae360cf3de195e47/paddle/fluid/operators/softmax_op.cc#L231-L235

1. How does it work?
2. Is softmax to work inplace always ?
3. How can I detec

[2020-03-17 18:25] jczaja commented on #22904
Here are  early results(latency in ms, lower is better) of experiments with softmax inplace mkl-dnn vs develop):
| Branch        | FP32, Threads: 1         | FP32, Threads: 20| Int8, Threads: 1 | Int8, Threads: 20|
| ------------- |:-------------:| -----:|--------:|-----:|
| develop      |  171.736 | 29.8331 | 64.6135  | 17.1636 |
| softmax dnnl inplace     | 170.047 | 29.6391 | 64.1744 | 16.7482

[2020-03-17 20:49] lidanqing-vv commented on #22964
#22985  is merged, so I close this PR @grygielski

[2020-03-17 20:49] #22964 closed, assigned to luotao1

[2020-03-17 22:45] lidanqing-vv commented on #23034
I think we need `fake_quantize_dequantize_moving_average_abs_max` before `elementwise_add` and before `pool2d`. I guess `AddQuantDequantPass` is missing in the script transforming normal model to QAT model.
Could you share the script that you use to generate QAT models? @juncaipeng

[2020-03-18 00:20] rupei110 commented on #23045
x2paddle 是0.7.1版本

[2020-03-18 00:42] Xreki commented on #23069
python接口里的Variable只是用来记录所包含的Tensor信息，相当于是个占位符，本身是没有数据的。

你可以使用如下方式获取对应的Tensor，并将Tensor转换成numpy数据：
[code]

[2020-03-18 00:55] Xreki commented on #23072
说明你的Paddle已经安装成功。至少在某个Python版本上已经安装成功了。

请检查一下，你的运行环境上是否有多个Python版本？

[2020-03-18 01:34] Xreki commented on #23048
找@guoshengCS 确认过，Paddle的开源实现暂时不支持该功能。

[2020-03-18 02:20] guoshengCS commented on #23049
目前Paddle的实现应该是屏蔽掉padding的，当前应该能够通过length这个参数屏蔽掉每个sequence在length之后的内容。

这个目前还没有计划 ，可否以pyfunc的形式先自行实现

[2020-03-18 02:33] littleluckhealer8 commented on #23072
是有两个python版本，那我卸载了再试试，谢谢您

[2020-03-18 03:38] Xreki commented on #23061
具体原因参考https://github.com/PaddlePaddle/Paddle/issues/22510 。

[2020-03-18 04:27] sneaxiy commented on #23074
Hi, @jczaja

**1. How does it work?**
The in-place strategy would be enabled by default when you use `ParallelExecutor` or use `Executor` to run `CompiledProgram`. It is not supported when you use `Executor` to run `Program`. Inside `ParallelExecutor`, we use a pass called `BufferSharedInplaceOpPass` to detect whether in-place can be performed.

For example,  x_var -> op -> y_var, **only if (1) x_

[2020-03-18 04:32] Saga145AI opened #23079 "batch_reader() takes 0 positional arguments but 1 was given"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2020-03-18 04:56] jiangjiajun commented on #23045
Hi，你好，受限于TensorFlow的SSD模型中部分OP与Paddle实现不同，目前X2Paddle未支持TensorFlow的SSD模型的转换。但Paddle目前有官方检测库，其中包括了SSD模型，建议尝试一下PaddleDetection。
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/docs/MODEL_ZOO_cn.md

[2020-03-18 05:29] waaaaaaater opened #23080 "paddle1.7 无法导入之前已经保存的模型"
更新paddle1.7  采用动态图，获取之前版本保留的模型，会报错，

在checkpiont文件中的134行
    with open(params_file_path, 'rb') as f:
        para_dict = pickle.load(f) if six.PY2 else pickle.load(
            f, encoding='latin1')
时，会显示如下的错误
_pickle.UnpicklingError: invalid load key, 'x'.

将版本更改到1.6.2时，就可以正常读取模型

[2020-03-18 06:09] DDDivano commented on #23080
可以发一下完整代码吗？或者使用fluid.save, fluid.load试试？

[2020-03-18 06:18] waaaaaaater commented on #23080
试过了，fluid.save是可以load出来的，谢谢

[2020-03-18 06:18] #23080 closed, assigned to nobody

[2020-03-18 06:50] #23028 closed, assigned to phlrain

[2020-03-18 06:52] juncaipeng commented on #23034
We only quantize conv2d, depthwise_conv2d and mul. Is it necessary to add fake_quantize_dequantize_moving_average_abs_max for elementwise_add and pool2d?

[2020-03-18 07:52] minhozhou opened #23081 "训练过程中打印实时学习率时导致训练出错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.1，静态图模式
    2）CPU：厂内CPU
    3）系统环境：python3.7
- 训练信息
    1）单机
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
优化器部分代码：
[code]
训练部分代码
[code]
报错信息
![image](https://user-images.githubusercontent.com/46623470/76937915-a7a24e00-6930-11ea-8f2e-fce0264a6379.png)

**如果把` print(train_exe.run(fetch_list=[decayed_lr.name]))`这句话在训练循环中去掉，模型可以正常训练，**
![image](ht

[2020-03-18 08:12] wojtuss commented on #23034
@juncaipeng , @lidanqing-intel
In ResNet50, `pool2d` (with max pooling) and `elementwise_add` do not need `fake_quantize_dequantize_*` ops, because `pool2d` does not change the scale and `elementwise_add` is being fused with `conv2d` before quantization.

[2020-03-18 08:38] Quan-zzx commented on #23058
不过我尝试了一下,我现在[这里](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/README.md#%E5%B7%B2%E5%8F%91%E5%B8%83%E6%A8%A1%E5%9E%8B%E5%8F%8A%E5%85%B6%E6%80%A7%E8%83%BD),下载了vgg16的预训练模型,然后准备将参数导入动态图,来训练,可是后来发现load_dygraph 这个函数要求模型参数文件后缀为 .pdparams.  所是有什么方法可以解决这个问题?

[2020-03-18 08:54] lidanqing-vv commented on #22827
Hi, @GaoWei8  I asked @yinghu5. The suggestion is changing related cmake files, remove one intel libiomp5 library and keep gnu libgomp5. It should not decrease others performance because there is libgomp5. But to make sure, some benchmarks are necessary.
I think these answers https://github.com/intel/mkl-dnn/issues/230 maybe useful as a reference.

[2020-03-18 09:02] kgresearch opened #23082 "fluid.cuda_places() GPU单卡运行不稳定报错"
问题：在P40 阡陌集群 单卡执行时，fluid.cuda_places() 这一句不稳定会报错(完全相同的代码、数据，约1/10任务中会遇到该问题然后任务失败)

环境：
python: 3.76
paddle: 1.63
nccl2.3.7_cuda9.0

代码片段为：
--------------------
def main(args):
    ernie_config = ErnieConfig(args.ernie_config_path)
    ernie_config.print_config()

    if args.use_cuda:
        dev_list = fluid.cuda_places()
        place = dev_list[0]
        dev_count = len(dev_list)
...
---------

[2020-03-18 09:55] qq345481843 opened #23084 "安装PaddlePaddle后进行验证阶段出现错误"
系统版本：ubuntu 18
cuda版本：10.0
cudnn版本：7.4
显卡：Tesla v100 x3

安装完后，按照教程验证输入

报错
Running Verify Paddle Program ...
/home/jhwang/.local/lib/python3.6/site-packages/paddle/fluid/executor.py:782: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/cyye/.loca

[2020-03-18 10:10] JepsonWong commented on #23082
这种报错是指定的GPU没有识别到，CUDA_VISIBLE_DEVICES设置了么？设的是多少呢？

[2020-03-18 10:13] kuke commented on #23081
@minhozhou 这里的问题是，连续调用了 `train_exe.run` 两次，第一次网络其实没有 feed 数据，所以挂了。正确写法应该是

[code]

[2020-03-18 10:27] zhwesky2010 commented on #23031
@ZHOUKAI1 你好，确认是copy_from_cpu 这里才出错的吗？ary[i] = (dst1.data[i] - 127.5)*0.007843;这一句似乎有点问题，第二个cv::Mat dst1的尺寸和第一个一样，这里可能越界了，应该是ary[i] = (dst1.data[i-224 * 224 * 3] - 127.5)*0.007843对吗

[2020-03-18 10:29] qq345481843 commented on #23084
020-03-18 18:26:41,820-INFO: 60 samples in file dataset/fruit/val.txt
2020-03-18 18:26:41,822-INFO: places would be ommited when DataLoader is not iterable
W0318 18:26:42.999328 36406 device_context.cc:237] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.0, Runtime API Version: 10.0
W0318 18:26:43.012061 36406 device_context.cc:245] device: 0, cuDNN Version: 7.4.
W0318 18:26:43

[2020-03-18 10:55] zhwesky2010 commented on #23031
@ZHOUKAI1 您好，第一个问题：有两种预测模式，analysis和native模式，analysis_predictor只能通过copy_from_cpu(void *data)来传入数据，native_predictor也需要这个void *data，analysis方法快一些，推荐使用；第二个问题：predictor->GetoutputTensor获取的ZeroCopyTensor output_t，copy_to_cpu到void *data上，接收的数据就是按batch1、batch2、排列着，可以修改下标地址去获取不同batch的数据。

[2020-03-18 10:58] minhozhou commented on #23081
如上

[2020-03-18 11:09] kuke commented on #23079
@Saga145AI 可以贴下报错部分的详细代码么

[2020-03-18 11:52] shoegazerstella opened #23086 "PaddlePaddle DS2 model load fails in Tornado server"
**System information**
-PaddlePaddle version >= 1.6.0
-OS Platform ubuntu 18.04
-Python version: 3.7.4
-Name of Model: DeepSpeech2

I am trying to load a DeepSpeech2 model inside a tornado server using a `SingletonMixin` class and I have this error:

[code]

the signleton class:
[code]

I am executing this script which is the tornado run app:

[code]

From inside the Docker container, the script t

[2020-03-18 14:18] kuke commented on #23086
@shoegazerstella I cannot see the details but I guess it is because you run the DS2 model in a child thread, please avoid this execution way.

[2020-03-18 15:23] skywalk163 commented on #21221
我遇到了同样的问题。
环境： aistudio 高级版环境： paddlepaddle1.7 python3.7
出错代码位于：文档1.7-典型案例-自然语言处理-情感分析-构造训练器 代码部分：
https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/nlp_case/understand_sentiment/README.cn.html
按手册顺序执行到这里：
exe = fluid.Executor(place)
prediction = inference_program(word_dict)
[avg_cost, accuracy] = train_program(prediction)#训练程序
sgd_optimizer = optimizer_func()#训练优化函数
sgd_optimizer.

[2020-03-19 01:28] waaaaaaater opened #23092 "paddle 1.6.2 Param and Grad input of AdamOp should have same dimension"
目前使用的版本是paddle1.6.2，网络模型是gan，优化器采用的是AdamOptimizer，用的是动态图。
迭代第一次的时候 可以运行，迭代第二次的时，在
optim_discriminator.minimize(loss_D,parameter_list=netD.parameters())
反向传播优化过程中就会出现：
Error: Param and Grad input of AdamOp should have same dimension
  [Hint: Expected param_dims == ctx->GetInputDim("Grad"), but received param_dims:64 != ctx->GetInputDim("Grad"):0.] at (/paddle/paddle/fluid/operators/optimizers/adam_

[2020-03-19 02:06] chliang opened #23093 "版本升级时增加兼容性说明"
现在paddle版本迭代比较快，在版本发布的时候，能不能增加兼容性说明，比如模型方面，1.6.3训练的模型，用1.7 的预测库能否正常运行。

[2020-03-19 02:38] ZHOUKAI1 commented on #23031
@zhouwei25 您好，谢谢回复，那个地方确实是个bug，我改完以后不行，尝试定义二维数组也不行。后来发现是数组太大，
我内存16g，  ary[2*224 * 224 * 3]赋值为0使用copy_from_cpu(ary)报错，后来大小改为ary[2 * 128  * 128  * 3];就不报错，有出结果。
我还想着batch=32批量处理，但ary[2 * 224 * 224 * 3]就不行了
结果确实是依次排列。

[2020-03-19 02:39] #23031 closed, assigned to zhwesky2010

[2020-03-19 05:30] Karbit commented on #23065
请问你测试的时候是 GPU 还是 CPU，我这边仍然出现错误，复现方法如下：
拉下来 models/release1.6 分支之后，通过如下操作可以复现：
1. cd 到 Bert 模型的目录
2. 修改 train.sh, 将其中的 use_cuda 改为 false
3.  执行 ./train.sh -local y.

[2020-03-19 06:41] ZHOUKAI1 opened #23096 "windows调用paddleV1.7库，进行yolov3目标检测，模型构建报错！"
windows7， cuda是9.0 ，i7-6700 16g，P4000
用官方编译好的库，vs2015调用进行目标检测。
[yolo模型连接](https://aistudio.baidu.com/aistudio/projectdetail/273746)

到 predictor = CreatePaddlePredictor(config);就报错：
0x000007FEFCBCA06D 处(位于 windows_mobilenet.exe 中)有未经处理的异常: Microsoft C++ 异常: paddle::platform::EnforceNotMet，位于内存位置 0x00000000000DBBA0 处。

官方给的只有分类代码，没有目标检测例子，难道不通用么。加载分类模型可以跑出结果，目标检测是哪出问题？ c++调用目标检测能否给个实例？
[c++预测](http

[2020-03-19 06:57] weiexcelpro commented on #23023
Could you show me a snapshot? Actually I prefer that here is an interface or API I can call, not parsing the output context. So that I can use this information for a higher integration.

Or, it'd better be an individual tool.

Thanks,
Wey

[2020-03-19 08:28] jczaja opened #23099 "[DNNL] Replace sum dnnl op with binary dnnl op in sum op implementation"
currently sum op is implemnted using sum dnnl op , which can perform scaled summing. This is more than sum op needs. sum mkldnn op can be swaped with binary op which supports only summing , but also can work inplace, which means that it may be faster

[2020-03-19 08:30] lidanqing-vv opened #23100 "Develop branch accuracy drop after upgrading to DNNL1.2"
QAT Ernie accuracy drop in develop branch after upgrading to DNNL1.2

**Reproduce the problem:**
[code]
**Results:**

develop branch:
[code]
release/1.7:
[code]

**What has been done:**
1. Found it is **tanh activation** using MKL-DNN kenel eletwise_tanh changed output. **All other ops behave the same.**
2. MKLDNN_VERBOSE=1 (Used kernel are the same)
![image (11)](https://user-images.githubusercon

[2020-03-19 08:40] skywalk163 opened #23101 "文档学习中的代码报错：operator < lookup_table > error"
环境： aistudio 高级版环境， paddlepaddle1.7 python3.7
出错代码位于：文档1.7-典型案例-自然语言处理-情感分析-构造训练器 代码部分：
https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/nlp_case/understand_sentiment/README.cn.html
按文档手册顺序执行到构造训练器这里：
exe = fluid.Executor(place)
prediction = inference_program(word_dict)
[avg_cost, accuracy] = train_program(prediction)#训练程序
sgd_optimizer = optimizer_func()#训练优化函数
sgd_optimizer.mini

[2020-03-19 08:48] JepsonWong commented on #23084
请问是单卡 run_check 验证成功？但单卡运行程序失败？那您是不是看看代码哪里写错了？

您有没有试过export CUDA_VISIBLE_DEVICES指定多卡验证呢

[2020-03-19 08:55] #23092 closed, assigned to nobody

[2020-03-19 09:00] OliverLPH commented on #23096
@ZHOUKAI1
目标检测C++部署可以参考下这个链接 [PaddleDetection C++预测部署方案](https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/docs/advanced_tutorials/inference/DEPLOYMENT.md)

这个预测结果取决于你给的输入，理论上输入一致输出就应该是一致的。

Python预测和C++预测库预测应该是一致的，需要检查下输入数据是否正确。

[2020-03-19 09:27] gentelyang commented on #22243
latest镜像太老了，用最新latest镜像没有这个问题。

[2020-03-19 09:27] #22243 closed, assigned to nobody

[2020-03-19 09:28] jczaja commented on #23074
Hi @sneaxiy ,

1. My goal is to enable C-API (Predictor , NaiveExecutor) to have softmax inplace execution
I have tried to use mentioned pass:
https://github.com/PaddlePaddle/Paddle/blob/31fc3ab79a75631b26883585b1bb25af0134a0eb/paddle/fluid/framework/ir/memory_optimize_pass/buffer_shared_inplace_op_pass.cc#L156-L160
by adding it to the other passes MKL-DNN passes declared here:
https://github.com/

[2020-03-19 09:31] kgresearch commented on #23082
任务运行时没有设置CUDA_VISIBLE_DEVICES ；任务是在P40集群跑的 由集群任务管理器分配的GPUid

[2020-03-19 10:26] zhengzhe97 opened #23105 "前向计算正常，训练提示concat数据类型不匹配"
在测试完前向后，进行训练，训练时报错
![TIM图片20200319182248](https://user-images.githubusercontent.com/26462054/77057477-f9b9a100-6a0e-11ea-8666-058624be5060.png)

以下是相应部分的代码，报错部分代码参考retina_head
![TIM图片20200319182256](https://user-images.githubusercontent.com/26462054/77057539-135ae880-6a0f-11ea-825d-4cbe98b7910b.png)

[2020-03-19 10:51] ClassmateXiaoyu opened #23106 "关于自训练模型的上线部署"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    2）CPU/GPU：CPU
    3）系统环境：Windows7 64位
    4）Python版本号：3.7.4
    5）显存信息：AMD Radeon HD 6520G ( 512 MB )

我通过paddle.fluid和自采集的经过预处理的自定义数据集训练了一个模型，需要通过什么方式可以实现这个模型的上线部署呢？我在GitHub的paddlepaddle首页看到有一个serving的模块，在paddlepaddle的管网www.paddlepaddle.org.cn上的api文档里有个Python预测部署，这两者有何区别？

[2020-03-19 11:22] shoegazerstella commented on #23086
Thanks for replying @kuke
Do you think it could work if I convert the model to onnx as shown in [this repo](https://github.com/PaddlePaddle/paddle2onnx)?

even though from the logs above I see this:

[code]

is some kind of conversion already being done there?

[2020-03-19 11:40] ZHOUKAI1 commented on #23096
@OliverLPH  好吧，这个坑先填到这，试试另一个坑

[2020-03-19 11:40] #23096 closed, assigned to nobody

[2020-03-19 11:45] MRXLT commented on #23106
你好，推荐使用Paddle Serving来实现线上模型部署，Paddle Serving是一个部署在线预测服务服务的框架，文档中的Python预测部署是指的实现本地预测的Python API。
关于Paddle Serving的使用可以参考https://github.com/PaddlePaddle/Serving

[2020-03-19 12:35] Xreki commented on #23065
就是按照你说的来测试的。

你这个错误，看起来像是组网阶段报错，所以跟CPU、GPU应该无关。

你报错应该在[transformer_encoder.py#L127](https://github.com/PaddlePaddle/models/blob/a95d49323ed504e5a9164586f171f408954fd43a/PaddleNLP/PaddleLARK/BERT/model/transformer_encoder.py#L127)，使用`print(weight)`和`print(v)`打印一下看看。

另外，你之前贴的log应该不全，没有贴出真正的错误信息。

[2020-03-19 14:04] sneaxiy commented on #23074
Hi, @jczaja

1. `BufferSharedInplaceOpPass` is not suitable for C-API prediction, it is designed for `ParallelExecutor`. If you want to perform in-place in C-API, you may need to add your own in-place implementation including lifecycle analysis of each var and perform `Tensor::ShareBufferWith` before running each op.

2. In the current implementation, all kernels of specific type should support in

[2020-03-19 14:15] lfchener commented on #23101
已经定位到问题，可以先将网络中的 fluid.layers.embedding 替换成 fluid.embedding 来运行。我们会尽快进行修复，感谢反馈。

[2020-03-19 14:40] jczaja commented on #23074
Hi @sneaxiy,
1. Ok, I will try to implement our own inplace pass
2. Currently MKL-DNN kernels are **not** set to inplace. But some MKL-DNN primitives  support inplace:
- eltwise (activations)
- binary (elementwise_add, elementwise_mul)
- layer_norm (to be done)
- batch_norm
- softmax

sum of MKL-DNN is not supporting inplace, but for the purpose of sum op of Paddle we can use
binary primitve of MK

[2020-03-19 15:16] kuke commented on #23105
设置 `priors.stop_gradient = True` 呢

[2020-03-20 01:09] ClassmateXiaoyu commented on #23106
你好，有无paddle serving的部署案例学习一下？

[2020-03-20 02:13] zhengzhe97 commented on #23105
这个错误没了，又出来个新的
![3DYF$57NUI6 (}P6(9`ROML](https://user-images.githubusercontent.com/26462054/77130565-68404280-6a93-11ea-8552-0db97d392abe.png)

代码部分是这样的
![0856@CAFTF79EE((EK { GY](https://user-images.githubusercontent.com/26462054/77130843-662ab380-6a94-11ea-8c57-1a0e84fb94f3.png)

[2020-03-20 02:21] lanxianghit commented on #23093
1.7版本静态图和预测库满足向后兼容（Backwards Compatibility），所以1.6.3静态图训练的模型，用1.7 的预测库可以正常运行；动态图不满足向后兼容，但由于1.7之前动态图没有提供预测库可预测的功能，所以动态图方面不存在已训出模型和预测库之间的关系。

感谢建议，后续我们会在版本的Release Note中加入兼容性说明。

[2020-03-20 02:24] zhengzhe97 commented on #23105
![NZDTBZ0FX)DM)_@ESYM B)T](https://user-images.githubusercontent.com/26462054/77130948-c1f53c80-6a94-11ea-9b63-d498d251571a.png)
参考 #21999 添加.stop_gradient = True后正常，想知道是什么导致的

[2020-03-20 03:16] minhozhou opened #23110 "MPI训练出错"
paddlecloud多机训练出错，之前成功训练一些step
![image](https://user-images.githubusercontent.com/46623470/77132854-e4d71f00-6a9b-11ea-81f5-65ea415b50c7.png)

![image](https://user-images.githubusercontent.com/46623470/77132820-bd805200-6a9b-11ea-984d-f7588c41cada.png)

同样的代码之前的任务训练成功过，同时同样的代码+同样的数据本地单机训练可以成功
![image](https://user-images.githubusercontent.com/46623470/77132885-0cc68280-6a9c-11ea-8530-1a2c20754a05

[2020-03-20 05:41] sneaxiy commented on #23074
Hi, @jczaja .

I found that in sum mkldnn kernel, we judge whether in-place is happened by comparing whether `out_var` is the same var as `in_vars[0]`. How about change it to be `out_var->Get<framework::LoDTensor>().Holder() == in_vars[0]->Get<framework::LoDTensor>().Holder()` , so that we can support in-place in sum mkldnn kernel?

https://github.com/PaddlePaddle/Paddle/blob/3af477112281a06bd6824

[2020-03-20 06:10] AWSWXY opened #23113 "训练失败"
报错如下：
![image](https://user-images.githubusercontent.com/18156360/77140448-95e9b380-6ab4-11ea-9efd-50c2e260b1e0.png)

[2020-03-20 06:36] guoshengCS commented on #23113
这个报错应该就是hdfs上文件没找到，麻烦确认下吧，这个还没有进入Paddle训练的阶段

[2020-03-20 06:45] minhozhou commented on #23110
补充一下版本信息：CPU、Paddle1.6.1、Python3.7，采用Fleet接口分布式训练

[2020-03-20 07:33] zhengzhe97 opened #23115 "优化时报错"
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/executor.py:782: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  File "tools/train.py", line 323, in <module>
    main()
  File "tools/train.py", line 233, in main
    outs = exe.run(compiled_train_prog, fetch_list=

[2020-03-20 07:35] zhengzhe97 commented on #23115
不优化时正常，优化时出错

[2020-03-20 08:37] aprilvkuo opened #23116 "请问Paddle的dynamic_lstm和pytorch的lstm，在op实现和计算上是否有区别"
pytorch: https://pytorch.org/docs/1.1.0/nn.html?highlight=lstm#torch.nn.LSTM

paddle:  https://www.paddlepaddle.org.cn/documentation/docs/zh/1.3/api_cn/layers_cn.html#dynamic-lstm

目前将pytorch的模型参数通过numpy保存， 再从paddle上加载，发现相同输入，效果不一致

pytorch代码
[code]

paddle代码
[code]

[2020-03-20 08:40] MRXLT commented on #23106
请参考这个示例https://github.com/PaddlePaddle/Serving#quick-start-example
PaddleServing代码库中也提供了多种模型的示例代码，https://github.com/PaddlePaddle/Serving/tree/develop/python/examples

[2020-03-20 08:55] skywalk163 commented on #23101
非常感谢，我将fluid.layers.embedding 替换成 fluid.embedding后，原来报错的地方可以顺利运行了，但是在运行最后的预测代码的时候，报错。
代码：
with fluid.scope_guard(inference_scope):

    [inferencer, feed_target_names,
     fetch_targets] = fluid.io.load_inference_model(params_dirname, exe)

    assert feed_target_names[0] == "words"
    results = exe.run(inferencer,
                      feed={feed_target_names[0]: tensor_words},

[2020-03-20 09:38] #23106 closed, assigned to MRXLT

[2020-03-20 09:40] #23093 closed, assigned to lanxianghit

[2020-03-20 11:42] guoshengCS commented on #23116
把dynamic_lstm的use_peepholes设为False应该就和pytorch的lstm计算一致了。

另外，dynamic_lstm的输入是LoDTensor，形状为`[seq1_len+seq2_len+..., lstm_hidden_size*4]`，输出的形状也会是`[seq1_len+seq2_len+..., lstm_hidden_size]`，如果和padding的tensor对齐的话，还要注意下这个区别

[2020-03-20 11:43] grygielski commented on #22757
@zhangting2020 please take a look at https://github.com/PaddlePaddle/Paddle/pull/23120 and test it

[2020-03-20 12:26] qq345481843 commented on #23084
可以运行了，应该是当时在验证的时候后台进程没清除，显卡被占用了。谢谢答复。

[2020-03-20 12:26] #23084 closed, assigned to JepsonWong

[2020-03-20 14:53] zhengzhe97 opened #23123 "训练几次迭代后出错"
Traceback (most recent call last):
  File "tools/train.py", line 323, in <module>
    main()
  File "tools/train.py", line 233, in main
    outs = exe.run(compiled_train_prog, fetch_list=train_values)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/executor.py", line 783, in run
    six.reraise(*sys.exc_info())
  File "/opt/conda/envs/python35-paddle120-env/

[2020-03-20 17:03] JepsonWong commented on #23082
是paddlecloud么？可以去那边集群咨询一下。

[2020-03-20 23:34] wojtuss commented on #23034
The crash was caused by control variables present in the model (probably unintentionally kept in the model when saving QAT model from a training model). The pass `conv_bn_fuse_pass` was crashing when it tried to use the control variables. The PR https://github.com/PaddlePaddle/Paddle/pull/23119 fixes the QAT2.0 procedure for such cases.

[2020-03-21 04:38] ZHUI opened #23125 "trainer_factory.py 日志会默认创建RootLogger，影响用户正常log输出"
- 标题：trainer_factory.py 日志会默认创建RootLogger，影响用户正常log输出
- 版本、环境信息：
    1）PaddlePaddle版本：1.7 or 最新develop
    2）CPU/GPU：cpu
    3）系统环境：OS 10.13
    4）Python版本号 3.7

![image](https://user-images.githubusercontent.com/16911935/77219252-e6254c00-6b6e-11ea-95a4-6731c6e33d23.png)

https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/trainer_factory.py#L22

添加测试flag
[code]

测试结果
[code]

[2020-03-21 08:56] chajchaj opened #23127 "paddle官网搜named_parameters无相关结果"
paddle官网搜named_parameters无相关结果

[2020-03-21 11:43] SunChao3555 opened #23128 "ernie"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2020-03-21 11:43] #23128 closed, assigned to nobody

[2020-03-21 14:12] xiaolei00 opened #23129 "使用Senta情感分析模型训练数据一直出错，教程里面的也无法运行"

[2020-03-21 14:27] wanghaoshuang commented on #23127
请参考这个接口：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/get_program_parameter_cn.html#get-program-parameter

[2020-03-21 14:28] Karbit commented on #23065
之前漏了最后的一小段 LOG，重贴一下：

[code]
按照你的建议，打印了 print(weight) 和 print(v), 结果如下：

[code]

### 供 debug 参考

根据 C++ 调用栈，错误出在MatMulOp::InferShape 函数里，看了下代码（https://github.com/PaddlePaddle/Paddle/blob/release/1.6/paddle/fluid/operators/matmul_op.cc） 这其中有下面的一段：

[code]
从上面的代码看，这里 CPU 和 GPU 的处理逻辑不同，所以我才强调用 CPU。

麻烦看下，还需要我提供哪些信息，辛苦，谢谢

[2020-03-21 14:28] wanghaoshuang commented on #23129
请问教程链接是？

[2020-03-21 14:49] Meiyim opened #23130 "python2中unicode string literal兼容"
为了保证代码在python2/3环境下的兼容性。通常会在python2 中将所有字符串转为unicode处理。导致一下两处检查无法通过。

https://github.com/PaddlePaddle/Paddle/blob/853f2e5272ce3a52cf96c818d64c8274307be8d0/python/paddle/fluid/transpiler/distribute_transpiler.py#L411
https://github.com/PaddlePaddle/Paddle/blob/853f2e5272ce3a52cf96c818d64c8274307be8d0/python/paddle/fluid/transpiler/distribute_transpiler.py#L599

建议将此两处修改为.
[code]

[2020-03-21 15:08] Meiyim commented on #23130
附PR #23131

[2020-03-21 17:26] narrowview opened #23132 "nlp任务中同一个batch数据构成的tensor如何补全成相同维度的结果"
我在用ernie做nlp任务时输入是不定长的，我想把输入的一个batch中的数据都补全成相同维度的结果。
例如：
batch_size是8
输入文本长度是 20
单字的语义向量是768
这个batch得到的原始语义tensor是 8 * 20 * 768维的
我想把这个tensor补全成  8 * 128 *  768 维的，补全部分用5填充
请问这个要怎么做？

[2020-03-21 17:31] jczaja opened #23133 "[DNNL] Speedup conv grad DNNL kernel"
currently trainging that are using conv mkldnn kernel are suboptimal as NCHW data arrangement is used . This has to fixed

Scope:
- Remove enforcement
- adjust unit test to work with blocked data arrangement

[2020-03-21 17:41] jczaja opened #23134 "[DNNL] Evaluate trained paddle models using mkl-dnn kernels"
This task is to check trained model of PaddlePaddle:
https://github.com/PaddlePaddle/models
in order to locate possible room for improvements of our integration.

Scope:
1) Check if possible to run inference on CPU engine.
      a) write down performance if available
2) Check if possible to run inference on MKL-DNN engine.
      a) Note , problems if any
      b) note performance if available
3) G

[2020-03-21 17:47] jczaja opened #23135 "[DNNL] Check for distributing training example and try running on MKL-DNN engine"
Goal is to evaluate PaddlePaddle distributed training by finding and reproducing some multi-node example and then explore what problems are to have it running using DNNL

[2020-03-22 00:32] wanghaoshuang commented on #23132
请参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/sequence_pad_cn.html#cn-api-fluid-layers-sequence-pad

[2020-03-22 01:03] faultXXXXL commented on #23129
https://aistudio.baidu.com/aistudio/projectdetail/215814

上面是链接。

[2020-03-22 01:16] xiaolei00 commented on #23129
https://aistudio.baidu.com/aistudio/projectdetail/216846

上面是链接

[2020-03-22 04:12] ghost opened #23136 "C++ Call Stacks (More useful to developers):"
https://aistudio.baidu.com/aistudio/projectdetail/333086
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::string const&, char const*, int)
2   padd

[2020-03-22 13:58] zhengzhe97 opened #23140 "训练出core（an illegal memory access）"
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():

--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<char const*>(char const*&&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::e

[2020-03-22 14:09] zhengzhe97 commented on #23140
是一个loss部分产生的，不优化的时候没问题，优化的时候前几次迭代正常

[2020-03-23 00:34] zhengzhe97 commented on #23140
具体环境：AIstudio
paddlepaddle版本：1.7

问题代码部分：
def lincomb_mask_loss(self, pos, idx_t, mask_data, proto_data, masks, gt_box_t, labels, gt_num, batch_size, num_priors, interpolation_mode='bilinear'):

        mask_h = 144
        mask_w = 144
        loss_m = 0

        flag = create_tmp_var('flag','bool',[1])
        maskiou_t_list = []
        maskiou_net_input_list = []
        label_t_list = []

[2020-03-23 01:42] cvfzhong opened #23143 "官网预编译的windows预测库没有导出符号？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/windows_cpp_inference.html

这里提供的动态链接库，paddle_fluid.lib文件只有2K，dumbin查看.dll也没有导出任何符号，用动态库会报找不到符号的链接错误
看了下源码并没有声明dllexport，linux下默认是全部导出的，vc下编译不声明不行吧？

[2020-03-23 02:18] cyanjustice opened #23144 "C++推理paddleseg模型时，batchsize为2以上时结果图相同"
C++推理input图片转换代码：
![image](https://user-images.githubusercontent.com/46018705/77273747-49d68300-6cef-11ea-8ab6-3f6dbd092175.png)
C++推理output图片转换代码：
![image](https://user-images.githubusercontent.com/46018705/77273828-77bbc780-6cef-11ea-9936-67a1494cc57f.png)
batchsize为1时结果正常，2以上时，每个batch输出的结果图片相同

[2020-03-23 02:30] lfchener commented on #23101
你可以重启一下环境试试，我现在运行已经没有问题啦。

[2020-03-23 02:48] Steffy-zxf commented on #23129
@faultXXXXL 感谢反馈！Senta情感分类教程运行出错，是因为项目中的paddle版本太低了，不支持PaddleHub 1.6.0的功能。请修改你的senta项目中paddle版本为1.7.0。官方项目https://aistudio.baidu.com/aistudio/projectdetail/216846 已修改Paddle版本为1.7.0，并测试过项目可以正常运行。使用PaddleHub过程中有任何问题，欢迎到 PaddleHub repo下提issue https://github.com/PaddlePaddle/PaddleHub

[2020-03-23 03:23] baiyfbupt opened #23146 "Paddle动态图如何不记录梯度的给variable赋值"
例如我有两个variable x和y，我想将y的值赋给x，并且不记录这个过程的梯度值
在Pytorch中有:
[code]
paddle该怎么实现这个操作呢？

[2020-03-23 04:33] zhengzhe97 commented on #23140
请问一下，有没有什么排查的策略

[2020-03-23 05:32] wq343580510 opened #23148 "batch_size 设置不一样 结果有细微区别"
ERNIE 模型在预估的时候  设置batch_size  64  128  256时候  输出的概率打分分别为0.15， 0.17， 0.18。inference model也试过，也是这种情况。 paddle 1.5.0  python 2.7

[2020-03-23 05:37] Mrhs121 opened #23149 "Ring-Allreduce 同步细节问题"
在深度学习训练过程中，计算梯度采用BP算法，其特点是后面层的梯度先被计算，而前面层的梯度慢于前面层，Paddle中的梯度同步是逐层同步还是全部backward之后再整体同步呢？

[2020-03-23 06:00] seiriosPlus commented on #23110
1. 采用的是同步训练还是异步训练
2. 是训练一开始就报错(一个minibatch的信息都没打印)，还是训练中途报错

[2020-03-23 06:05] minhozhou commented on #23110
1. 同步训练
2. 20个minibatch后报错

[2020-03-23 06:18] seiriosPlus commented on #23110
1. 先换成异步训练看能否正常训练

[2020-03-23 06:28] minhozhou commented on #23110
好吧，上周这个错误遇到过三次左右，不是很能稳定复现，我先换异步观察，后续出错再更新

[2020-03-23 06:54] seiriosPlus commented on #23110
同步已知确实会容易出RPC ERROR， 这个目前在修复中， 也可以换新版本尝试一下。

[2020-03-23 07:56] guoshengCS commented on #23115
麻烦贴下代码或者代码链接吧，感觉可能是因为由于一些`stop_gradient`的使用引起的

[2020-03-23 07:58] zhengzhe97 commented on #23115
#23140 我把改了下把详细的放到了这里

[2020-03-23 08:02] #23123 closed, assigned to nobody

[2020-03-23 08:55] zhangting2020 commented on #22757
@grygielski I have tested it and the issue is fixed. Thank you.

[2020-03-23 08:59] #22757 closed, assigned to wojtuss

[2020-03-23 12:59] qingqing01 commented on #23023
@weiexcelpro  How do you think this ProgressBar  ?https://github.com/PaddlePaddle/hapi/blob/master/progressbar.py#L6

If give the total-steps and call the `update`,  will print the ETA.

[2020-03-23 13:17] 45659301 opened #23168 "ValueError: Data Type mismatch: 5 to 3"
paddle报错：
ValueError: Data Type mismatch: 5 to 3

报错行代码：
concated = fluid.layers.concat(self.data_use_var, axis=1)

求解答～

[2020-03-23 13:26] seiriosPlus commented on #23168
concat的输入一个是float32 ,另外一个是 int64， 不能concat。

[2020-03-24 04:30] dale1202 opened #23182 "RuntimeWarning: Invalid value encountered in median"
我使用的是Paddle提供的官方镜像 paddlepaddle:1.6.3-gpu-cuda10.0-cudnn7
GPU卡数1个，用的是P4机器。
跑的是PaddleDetection里面的faster_rcnn_r101_fpn_1x.yml配置，数据下载是COCO2017。
我跑1分钟就会出现这个错误。然后就一直是NAN了，辛苦帮忙看下

/usr/local/lib/python2.7/dist-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
Warning: NaN or Inf found in input tensor.
Warning: NaN or Inf found in input

[2020-03-24 05:20] zhudatu opened #23184 "PyReader偶发性读不到数据"
paddle版本1.5.2
数据读取采用
self.py_reader = fluid.io.PyReader(
feed_list=self.feature_input + [self.label_input],
capacity=8,
iterable=True)
训练数据量为2，bs=2（2卡），训练时采用for data in train_pyreader()，有时候会出现读不到数据的情况，即train_pyreader()返回为空。偶发性出现。

[2020-03-24 05:23] zhudatu commented on #23184
数据读取采用
self.py_reader = fluid.io.PyReader(
          feed_list=self.feature_input + [self.label_input],
          capacity=8,
          iterable=True)
训练数据量为2，bs=2（2卡），训练时采用for data in train_pyreader()，有时候会出现读不到数据的情况，即train_pyreader()返回为空。偶发性出现。

[2020-03-24 05:28] sneaxiy commented on #23184
@zhudatu 能否升级到最新版本1.7试试？可能1.5有个bug，我们已经修复了。

[2020-03-24 05:41] jerrywgz commented on #23182
现在检测库里默认的学习率是对应八卡的学习率，如果你使用的是1卡，就需要把初始学习率除以8

[2020-03-24 05:42] faninSM opened #23185 "tensorRT预测对elementwise_mul报错："
报错error如下：
0   std::string paddle::platform::GetTraceBackString<std::string>(std::string&&, char const*, int)
1   paddle::inference::tensorrt::plugin::ElementWisePlugin::enqueue(int, void const* const*, void**, void*, CUstream_st*)
2   nvinfer1::rt::DefaultLayer::executeProfiled(nvinfer1::rt::CommonContext const&, nvinfer1::rt::ExecutionParameters const&) const
3   nvinfer1::rt::ExecutionContext::

[2020-03-24 05:51] zhudatu commented on #23184
@sneaxiy 暂时只能用1.5诶。这种情况，每张卡最小多少数据量不容易出现这个bug？

[2020-03-24 05:52] phlrain commented on #23168
请问下 使用的paddle版本是什么， data type mismatch : 5 to 3的问题， 我们在新版本中已经修复了

[2020-03-24 06:00] zh215021 opened #23186 "检测安装是否成功，报core"
![image](https://user-images.githubusercontent.com/40022359/77393229-8f6e7b00-6dd7-11ea-909b-b44ac72954bd.png)
相同脚本之前可以正常运行，环境变量没有改变，所有conda环境下的paddle都会报core，检测安装是否成功也会报core。

[2020-03-24 06:01] NHZlX commented on #23185
麻烦提供单测以及模型吧

[2020-03-24 06:31] JepsonWong commented on #23186
麻烦按照issue规范贴上环境变量设置。

paddle是CPU版本还是GPU版本？
如果是GPU版本，麻烦设置一下CUDA_VISIBLE_DEVICES环境变量为0，单卡check下有没有问题。

[2020-03-24 06:41] 606BlueStar opened #23188 "使用Python API的时候出现问题"
使用Python API对导出模型保存的inference_model进行预测时报错；
模型为yolov3_mobilenet,成功导出模型，但是使用的时候报如下错误：
----------------------
Error Message Summary:
----------------------
Error: An error occurred here. There is no accurate error hint for this error yet. We are continuously in the process of increasing hint for this kind of error check. It would be helpful if you could inform us of how this conversion went by openi

[2020-03-24 06:49] sneaxiy commented on #23184
@zhudatu 这个很难评估，这个不是确定的值，建议还是升级paddle版本吧。

[2020-03-24 06:51] yinghu5 commented on #22827
@GaoWei8  Thank you a lot  for test.  I notice the linked library like
SET(MKLML_IOMP_LIB            ${MKLML_LIB_DIR}/libiomp5.so) seems still in link command

could you please check  the produced  paddle_fluid.so ,
$ ldd xxxx/paddle/lib/libpaddle_fluid.so
and see if the libiomp5 and libgomp were still there.

Thanks
Ying

[2020-03-24 06:58] minhozhou commented on #22949
请问分布式训练时游离变量应该如何fetch呢，比如说像实时学习率这种变量

[2020-03-24 07:25] zhengzhe97 opened #23189 "训练报core"
算了，不搞了

[2020-03-24 07:26] zhengzhe97 commented on #23189
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
what():

C++ Call Stacks (More useful to developers):
0 std::string paddle::platform::GetTraceBackString<char const*>(char const*&&, char const*, int)
1 paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::exception_ptr, char const*, int)
2 paddle::framework::details::OpHandleBase::~OpHandleBase()
3 pa

[2020-03-24 07:44] seiriosPlus commented on #23146
paddle有一个assign的操作，可以看看是否满足要求，也可以将一个tensor的值直接赋值给另外一个tensor。

[2020-03-24 07:52] #22995 closed, assigned to nobody

[2020-03-24 07:52] seiriosPlus commented on #23143
@zhouwei25

[2020-03-24 07:56] Superjomn commented on #23144
可以给个可复现，业务无关的单测我们查以下。 内部用户可以走服务群

[2020-03-24 08:28] baiyfbupt commented on #23146
assign会传递梯度，如果x的网络反向传播了，y也会有梯度，希望是不会有这样的影响
tensor直接复制的方法能否说的详细一点，动态图的variable似乎不能作为左值？

[2020-03-24 08:51] zhwesky2010 commented on #23143
@cvfzhong 您好，现在动态库导出预测库符号还有些问题，`libpaddlefluid.lib`是静态库，可以使用的。paddle_fluid.dll与paddle_fluid.lib是动态库及其对应静态导入库，paddle_fluid.dll如果导出正常大概是400余兆，目前这个库还在测试中，暂且还无法使用。Windows预测部署时请链接静态库`libpaddlefluid.lib`哈~
Linux下动态库可以使用

[2020-03-24 09:54] shoegazerstella commented on #23086
It turns out the server startup gives a segmentation fault because `pytorch` is imported.
I have tried to import torch inside the script that does the DS2 inference, that was previously working just fine, and it gives a segmentation fault without any other error log.
I have this version of torch in my server:

[code]

Do you know with which version of torch it should work fine?
Thanks!

[2020-03-24 09:55] 606BlueStar opened #23194 "急求帮助！！！！！机器cudnn版本是7.6.5，但是paddle提示是7.3"
**ARNING: device: 0. The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.3, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version.**

查看机器的cudnn版本是7.6。5：
(paddle) senseport@senseport-Z390-UD:~/Senseport/pp$ cat /usr/local/cuda/include/cudnn.h | grep CUDNN_MAJOR -A 2
#define CUDNN_MAJOR 7
#define CUDNN_MINOR

[2020-03-24 10:09] JepsonWong commented on #23194
请提供下CUDA_HOME、PATH、LD_LIBRARY_PATH环境变量

[2020-03-24 10:12] 606BlueStar commented on #23194
# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL=ignoreboth

# append to the history file,

[2020-03-24 10:13] 606BlueStar commented on #23194
格式有点乱。

[2020-03-24 10:20] sneaxiy commented on #23189
@zhengzhe97 能否把完整的代码贴出来？目前的代码无法复现结果。

[2020-03-24 10:20] JepsonWong commented on #23194
麻烦调整下格式吧，或者直接类似 echo $PATH 拿到输出结果就好。
你贴的看不太清晰。

[2020-03-24 10:21] ceci3 commented on #23188
[Hint: CUDNN_STATUS_BAD_PARAM]  你好，这个报错一般是cudnn版本问题，建议升级cudnn到7.6

[2020-03-24 10:21] 606BlueStar commented on #23194
(paddle) senseport@senseport-Z390-UD:~/Senseport/pp$ echo $PATH
/home/senseport/anaconda3/envs/paddle/bin:/home/senseport/.vscode-server/bin/fe22a9645b44368865c0ba92e2fb881ff1afce94/bin:/home/senseport/.local/bin:/home/senseport/anaconda3/bin:/home/senseport/.vscode-server/bin/fe22a9645b44368865c0ba92e2fb881ff1afce94/bin:/home/senseport/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:

[2020-03-24 10:21] luotao1 commented on #23070
Could you consider to unify the name of `paddle/fluid/operators/mkldnn/mkldnn_activation_op.h` and `paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc`, such as `activation_mkldnn_op.h`?

[2020-03-24 10:22] 606BlueStar commented on #23188
我装的就是7.6，查看版本也是7.6，从来没装过7.3

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "ceci3"<notifications@github.com&gt;;
发送时间: 2020年3月24日(星期二) 晚上6:21
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "开始"<1781843589@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 使用Python API的时候出现问题 (#23188)

[Hint: CUDNN_STATUS_BAD_PARAM]  你好，这个报错一般是cudnn版本问题，建议升级

[2020-03-24 10:23] JepsonWong commented on #23194
麻烦上面说的环境变量都贴下。

[2020-03-24 10:25] 606BlueStar commented on #23194
(paddle) senseport@senseport-Z390-UD:~/Senseport/pp$ echo $CUDA_HOME

(paddle) senseport@senseport-Z390-UD:~/Senseport/pp$ echo CUDA_HOME
CUDA_HOME

这个没有输出

[2020-03-24 10:25] 606BlueStar commented on #23194
(paddle) senseport@senseport-Z390-UD:~/Senseport/pp$ echo $LD_LIBRARY_PATH

(paddle) senseport@senseport-Z390-UD:~/Senseport/pp$ echo LD_LIBRARY_PATH
LD_LIBRARY_PATH

这个也没有。。

[2020-03-24 10:26] JepsonWong commented on #23194
LD_LIBRARY_PATH呢？所以您那边cuda环境是怎么设置的？或者是conda自动下载的cuda环境，那就是conda的cuda环境是7.3，您并没有用本机的cuda环境。

[2020-03-24 10:35] zhengzhe97 commented on #23189
@sneaxiy

# Copyright (c) 2019 PaddlePaddle Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the Li

[2020-03-24 10:40] zhengzhe97 commented on #23189
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import numpy as np

import cv2
import paddle.fluid as fluid
from paddle.fluid.param_attr import ParamAttr
from paddle.fluid.initializer import Normal, Constant
from paddle.fluid.regularizer import L2Decay
from ppdet.modeling.ops import (AnchorGenerator, RetinaTargetAssign,

[2020-03-24 10:42] zhengzhe97 commented on #23189
@sneaxiy

[2020-03-24 10:50] zhengzhe97 commented on #23189
@sneaxiy

我把下面代码，把每个loss叠加
[code]
改成取最后一个，就没问题了，但是取其他不是最后一个还是报core
[code]

[2020-03-24 11:03] 606BlueStar commented on #23194
已经解决了，谢谢！

[2020-03-24 11:03] #23194 closed, assigned to nobody

[2020-03-24 11:40] ceci3 commented on #21123
test result in Paddle 1.7:
enable mkldnn: 48.5534977913 ms per image
disable mkldnn: 65.4569602013 ms per image
cpu: Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz

enable mkldnn is faster, so close this pr.

[2020-03-24 11:40] #21123 closed, assigned to luotao1

[2020-03-24 12:11] wzzju opened #23198 "elementwise 中的name 会导致与用户期望不一致的结果"
所有的 elementwise op 有一个name的参数，如果name != None,  则output variable的name 就等于用户传入的name，这会导致 如果多个elementwise op 设置了相同的name，则他们会被强行指定的是同一个Variable，会导致与用户期望的行为不一致

复现代码如下：

[code]

x = 2
y = 3
z = 5
c  = 5
d = 8
h 应该等于 13，但是出现了bug，等于了16，原因是 在执行 h = c + d的时候，由于c 和d的name 是同一个，其实指向的是同一个Variable，等于第二个elementwise_add 返回的结果。

[2020-03-24 13:24] yxfGrace opened #23201 "paddle 1.7.1在python3环境下运行fleet-pserver稳定出现报错"
paddle 1.7.1  python3安装
运行ctr demo https://github.com/PaddlePaddle/Fleet/tree/develop/examples/ctr
fleet， pserver，cpu环境
出现报错
![image](https://user-images.githubusercontent.com/29363426/77430124-a469ff00-6e15-11ea-9158-9ca8ca4ce781.png)

python2可以正常跑通

[2020-03-24 15:38] shoegazerstella commented on #23086
With this version of torch is works just fine!
[code]
I am closing the issue, although could be interesting to understand why there was a conflict with version 1.0.0 in the first place.

[2020-03-24 15:38] #23086 closed, assigned to kuke

[2020-03-25 03:11] ydchen9 opened #23206 "在AIStudio上跑着跑着报错了。"
EnforceNotMetTraceback (most recent call last)<ipython-input-4-e025f80e61e0> in <module>()
    563             save_dirname=save_dirname,
    564             model_filename=model_filename,
--> 565             params_filename=params_filename)
    566     # batch_infer(save_dirname)
    567     # infer(
<ipython-input-4-e025f80e61e0> in train(nn_type, save_dirname, model_filename, params_filename)

[2020-03-25 03:27] boblee123 opened #23208 "用ai studio finetune ERNIE时报错AttributeError: 'NoneType' object has no attribute 'split'"
- 版本、环境信息：
在AI STUDIO里运行,
硬件信息
当前环境高级版
CPU
8
RAM
32GB
GPU
v100
显存
16GB
磁盘
100GB
环境配置
Python版本
python3.7
框架版本
PaddlePaddle 1.7.0
- 训练信息

- 复现信息：运行了2次都报同样错误

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
[INFO] 2020-03-25 10:42:24,756 [run_classifier.py:  401]:	[dev evaluation] ave loss: 0.002844, acc:0.999377, data_num: 17651, elapsed time: 292.497571 s, file: data26313/test.tsv, epoch: 0, steps: 100
Trace

[2020-03-25 03:53] zhengzhe97 commented on #23189
请问一下，大致是什么导致的，前几次迭代是正常的

[2020-03-25 06:04] wxl1351641822 opened #23210 "paddlehub的bert的sequence_out（variable,lod-tensor)如何转换为lod_level=1，以便后接dynamic_lstm??"
我考虑了layers的lod_append,但他并不能改变我的seq_output
考虑使用lod_reset:
他在一般的variable上可以用，但在sequence_output上用不了
set_lod也不管用
[code]

[code]
这是我想要实现的代码：
[code]
`

[2020-03-25 06:19] MrChengmo commented on #23201
感谢提出bug，正在跟进py3下存在的问题。如无影响使用，可以暂时先使用py2的版本，Dataset的IO方式目前在py3及win下存在兼容性问题，正在开发中。

关于CTR的详细教程与使用示例可以看这个：https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/ctr/dnn

[2020-03-25 06:42] omtbreak commented on #23194
我也出现这个问题，请问您怎么解决的

[2020-03-25 06:52] luotao1 commented on #21493
@jczaja Sorry for the late reply. I am not really sure about:
- Do you want to change or not change the original scope's Tensor's attribute?
- Is overwriting original filter's params with DNNL ones enough?
- Could you give an example of why do you want to change the original scope's Tensor's attribute?

@sneaxiy Please help to see this memory optimization issue as well.

[2020-03-25 06:56] minhozhou commented on #23081
@kuke 在MPI分布式训练的时候想实时打印学习率，会出现如下问题，请问有没有什么解决办法呢，用上面的方法单机可以正常打印，多机会有下面的报错
![image](https://user-images.githubusercontent.com/46623470/77509923-a0d38800-6ea8-11ea-922f-72e2f0176acc.png)

[2020-03-25 08:04] #23189 closed, assigned to nobody

[2020-03-25 09:18] aprilvkuo opened #23216 "Paddle中paddle.fluid.layers.batch_norm和Pytorch中nn.BatchNorm1d是否对齐？"
只进行infer不训练， 前向传播效果有diff

[code]

省略了numpy保存和加载过程

[code]

[2020-03-25 09:24] aprilvkuo commented on #23216
pytorch中， 模型设置了eval()
将模型设置成evaluation模式

[2020-03-25 09:36] ceci3 commented on #23216
你好，`do_model_average_for_mean_and_var`这个参数为什么要设置为True？pytorch中也有对mean和var做模型均值吗？

[2020-03-25 09:39] aprilvkuo commented on #23216
没有设置，我只是参数设置遍历一遍。 我把true和false都试了一次，效果都有diff。

[2020-03-25 09:41] aprilvkuo commented on #23216
pytorch中还有两个参数， 不知道对效果是否有影响。

 bn_running_mean = self.bn.running_mean.detach().numpy()
 bn_running_var = self.bn.running_var.detach().numpy()

[2020-03-25 09:43] ceci3 commented on #23216
bn_running_mean  bn_running_var这两个代表全局均值和方差，你infer的时候应该是要用全局还是当前batch的均值方差？

[2020-03-25 09:51] ceci3 commented on #23216
在pytorch上用eval()应该是用的全局的均值和方差，但是在paddle的
`out = fluid.layers.batch_norm(out, param_attr=para_dict["bn_weight"],bias_attr=para_dict["bn_bias"], is_test=True, do_model_average_for_mean_and_var=True)`
这种用法里并没有传入全局均值方差，可能是这个原因导致的diff

[2020-03-25 09:54] aprilvkuo commented on #23216
麻烦问一下，paddle有办法传入这两个参数吗

[2020-03-25 09:58] ceci3 commented on #23216
可以通过这种方法传入fluid.global_scope().find_var(name_of_mean/var).get_tensor().set(mean/var_data)

[2020-03-25 10:33] aprilvkuo commented on #23216
请问这么设置对吗， 运行有报错
[code]

[code]

[2020-03-25 10:33] aprilvkuo commented on #23216
op对应情况
[code]

[2020-03-25 10:36] MiloHang opened #23219 "注意力机制API添加mask参数"
[scaled_dot_product_attention](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/nets_cn/scaled_dot_product_attention_cn.html#scaled-dot-product-attention) api 添加mask矩阵以防止padding对Attention网络参数造成的影响
如：

[2020-03-25 10:38] ceci3 commented on #23216
抱歉 刚才少了一个参数，set的时候需要传入place
`fluid.global_scope().find_var(name_of_mean/var).get_tensor().set(mean/var_data, place)`

[2020-03-25 10:43] aprilvkuo commented on #23116
我使用 fluid.layers.lstm_unit， 结果一致了

[2020-03-25 11:00] aprilvkuo commented on #23216
好的谢谢你哈， 效果已经一致了

[2020-03-25 11:00] #23216 closed, assigned to ceci3

[2020-03-25 11:00] #23116 closed, assigned to nobody

[2020-03-25 11:57] littletomatodonkey opened #23223 "编写op，blas-gpu使用问题"
我参考mul_op.cc的写法，想写自己的op，我看blas.sh中的关于MatMul运算的cpu和gpu写法是统一的(blas有一个`DeviceContext`的模板)，因此想基于此调用gpu的GEMM和SCAL等函数，但是提示undefined reference to `void paddle::operators::math::Blas<paddle::platform::CUDADeviceContext>::SCAL<float>(int, float, float*) const'`，想问下cuda版本的SCAL等函数在实现新op中是怎么使用的呢？

[2020-03-25 13:02] leesusu opened #23225 "源码编译，全异步分布式训练，meets grpc error"
**编译环境：**

1. 官方版本，git checkout -b release1.7 remotes/origin/release/1.7
2. 编译镜像：hub.baidubce.com/paddlepaddle/paddle:latest-dev
3. cmake .. -DPY_VERSION=2.7 -DWITH_FLUID_ONLY=ON -DWITH_GPU=OFF -DWITH_TESTING=OFF -DWITH_INFERENCE_API_TEST=OFF -DWITH_COVERAGE=OFF -DCMAKE_BUILD_TYPE=Release -DWITH_DISTRIBUTE=ON
4. 用编译后的镜像，跑全异步训练

**问题描述：**
ps正常：
![image](https://user-images.githubusercontent.com/242

[2020-03-25 13:09] leidongfeng opened #23226 "运行程序出错，在小数据上没问题"
错误日志在下面
<img width="1419" alt="MacHi 2020-03-25 21-07-07" src="https://user-images.githubusercontent.com/16134799/77539635-b06cc400-6edc-11ea-8163-bf595332e00f.png">

[2020-03-25 14:40] sneaxiy commented on #23223
目前应该没有实现CUDA版本的SCAL，您可以自己添加一个。需要在这些几个特化类里调用cublas的函数调用即可。
https://github.com/PaddlePaddle/Paddle/blob/bba740710d0d6f2088d808e692886b04f52260ac/paddle/fluid/operators/math/blas_impl.cu.h#L31

例如：

[code]

[2020-03-25 14:42] sneaxiy commented on #23206
请问能否提供完整的代码示例？

[2020-03-25 14:43] sneaxiy commented on #23208
您这个应该是因为args.test_set为None，建议检查下代码。

[2020-03-25 14:48] sneaxiy commented on #23210
请问您是要在cls_feats上设置lod吗？能写下您所说的使用lod_reset不成功的代码吗？上面的代码里没看到lod_reset。

[2020-03-25 14:50] ydchen9 commented on #23206
谢谢。通过重启AIstudio已解决.

[2020-03-25 14:50] sneaxiy commented on #23219
感谢您的反馈，我们会对此需求进行记录和评估。

[2020-03-25 14:54] sneaxiy commented on #23226
这个错误应该是内存不足，建议看下机器内存是否充足。

[2020-03-25 15:26] wxl1351641822 commented on #23210
[code]
 self.feature = fluid.layers.lod_reset(self.feature, target_lod=[128])
这一行，加不加都会报上面的错误： [operator < lod_reset > error]

[2020-03-25 15:58] jczaja commented on #21493
@luotao1
1. Yes. I want to change original scope's Tensor's attribute e.g layout_ and format_
2. Changing only params (like #22505) is partial success and it is a bit hacky.   Apart from data (params) iteself change of layout_ and format_ is needed to save more memory. And it is not hacky solution
3. Without setting layout_ and format_ of original scope's Tensor (representing weights) to
actual va

[2020-03-26 00:10] zhengzhe97 opened #23229 "如何把一个数组打乱顺序"
![TW%92(00VV{~1@YVD0003KU](https://user-images.githubusercontent.com/26462054/77597271-459da600-6f39-11ea-9cde-df30db9b5c88.png)
类似numpy的这种操作

[2020-03-26 01:13] chenwhql commented on #22949
学习率为什么是游离的呢？不是optimizer的输入吗

[2020-03-26 01:26] minhozhou commented on #22949
是optimizer的输入，但用decayed_lr = fluid.layers.polynomial_decay(base_lr, train_steps, 0.0001)这种衰减学习率的时候，单机执行可以fetch，分布式的时候就会报错，报错的内容和这个issue上面Error Message Summary差不多，不太清楚原因是啥
![image](https://user-images.githubusercontent.com/46623470/77600669-8d292f80-6f43-11ea-9829-ec8dc9171a75.png)

[2020-03-26 01:39] seiriosPlus commented on #23225
-D WITH_GRPC=ON

[2020-03-26 01:55] chenwhql commented on #22949
具体单机怎么执行的？单机多卡也是正常的吗？分布式怎么执行的？

[2020-03-26 02:00] seiriosPlus commented on #23225
是不是开了 http_proxy ？

[2020-03-26 02:08] leesusu commented on #23225
@seiriosPlus 没有🤷‍♂️

[2020-03-26 02:10] seiriosPlus commented on #23225
自己ping server端的端口，能ping的通么

[2020-03-26 02:27] leesusu commented on #23225
@seiriosPlus 试了下，可以ping通

[2020-03-26 02:36] minhozhou commented on #22949
CPU单机可正常输出当前学习率，没有GPU；分布式用的Fleet的接口，基于paddlecloud的MPI

optimizer代码:
[code]
MPI分布式train部分代码:
[code]

单机train部分代码：
[code]

train_loop代码：
[code]

[2020-03-26 02:40] dl2422926710 opened #23230 "关于大规模embedding分布式训练的问题"
目前遇到的问题：
1. 单机多卡比单机单卡训练速度要慢
2. CPU-pserver模式，使用distributed & sparse，能跑通，但是cpu模式运行速度慢
3. gpu-pserver模式，rpc会超限，gpu不能使用distributed？
还有其他方案解决大规模embedding分布式训练吗

[2020-03-26 03:09] phlrain commented on #23146
x = y.detach() 你看看 是否能满足需求。 x的值会跟y一样，但是梯度不会回传

[2020-03-26 03:42] littletomatodonkey commented on #23223
我看blas和cublas的scal接口不同，这块如果按照下面这种写法的话（为了和cpu scale统一接口）
![image](https://user-images.githubusercontent.com/14270174/77607802-6aecdd00-6f56-11ea-9489-a17c105ec07e.png)
![image](https://user-images.githubusercontent.com/14270174/77607817-7213eb00-6f56-11ea-9779-c0febd466fbf.png)

[code]
会有下面的错误
![image](https://user-images.githubusercontent.com/14270174/77607937-ce770a80-6f56-11ea-9484-24da65708093.

[2020-03-26 03:47] seiriosPlus commented on #23225
我先自行build 1.7.1进行尝试一下

[2020-03-26 03:50] sneaxiy commented on #23223
您调整下SCAL那里的参数顺序和类型就可以了，显式地把所有参数列出来，和cblas统一即可。

[2020-03-26 04:20] sneaxiy commented on #23210
目前看来应该不是这里的lod_reset报错吧，那其他地方的lod_reset是怎么设置的呢？另外，lod_reset这个API的target_lod要传入基于offset的lod，就是此处应该写target_lod=[0, 128]。

[2020-03-26 04:42] wxl1351641822 commented on #23210
我的代码里没有其他的lod_reset了。但是dynamic_lstm这个是要求lod_level=1,然后从框架里拿出来，将paddlehub的bert的sequence_output送入lod_reset，就下面这行，输出却是个bool的值？？？
[code]
然后如果自己初始化一个variable,用上面的这个代码，就没有任何问题

[code]

[2020-03-26 05:30] zhengzhe97 opened #23237 "新增op和Tensor实现耗时对比"
一个功能，分别使用新增python op和Tensor实现，耗时相差较大

python op实现
[code]

Tensor实现：
[code]
对于Tensor采用前后添加如下op
![TIM图片20200326132842](https://user-images.githubusercontent.com/26462054/77613462-b955a800-6f65-11ea-930c-eed6eb8229e5.png)

对于python op,直接使用time.clock()，计算前后时差
![TIM图片20200326132958](https://user-images.githubusercontent.com/26462054/77613544-e6a25600-6f65-11ea-98a1-d64cef356c3f.png)

发现基于Tensor的实现慢了好多，

[2020-03-26 06:11] chenwhql commented on #22949
我尝试到答疑群里找分布式的同学帮你看，但是没人响应😭，要不您把最后回复code和问题再提一个新的issue？相当于置下顶，让问题重新暴露出来，现在和最初的问题不太一样

[2020-03-26 06:22] leesusu commented on #23225
@seiriosPlus 解决了，Dockfile 里加了 http_proxy，👍感谢

[2020-03-26 06:22] #23225 closed, assigned to seiriosPlus

[2020-03-26 06:30] minhozhou opened #23239 "MPI训练打印学习率出错"
版本信息：python3、paddle1.6.1、CPU-MPI
出错信息：
![image](https://user-images.githubusercontent.com/46623470/77617089-3b49cf00-6f6e-11ea-83f5-423b18943f88.png)

CPU单机可正常输出当前学习率，没有GPU；分布式用的Fleet的接口，基于paddlecloud的MPI

optimizer代码:
[code]
MPI分布式train部分代码:
[code]

单机train部分代码：
[code]

train_loop代码：
[code]

[2020-03-26 06:31] minhozhou commented on #22949
哈哈，多谢老哥，重提了

[2020-03-26 07:23] WorldEditors opened #23243 "A bunch of issues in lod tensor operations"
lod tensor使用上非常不友好，建议添加如下功能

1. 获取variable的lod
2. Sequence_slice使用非常不便利，存在如下问题 a. offset和lengths必须是int64, int32都不行； b. 一般variable是动态长度的，不能获取lod，怎么来指定length？想想就知道不合理
3. lod_reset 里面， target lod不能使用variable

[2020-03-26 08:15] waaaaaaater opened #23247 "动态图中如何调整学习率"
使用的是paddle1.7的动态图，请问如何在训练过程中动态调整学习率呢？

[2020-03-26 08:37] xiegegege opened #23249 "模型评估报错CUDNN_STATUS_NOT_SUPPORTED"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddle1.7.1
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：CUDA9.0  CUDNN7.3 V100
    4）系统环境：CentOS python3.6
- 模型信息
    1）模型名称 2）使用数据集名称 3）使用算法名称 4）模型链接
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关

[2020-03-26 08:53] waaaaaaater commented on #23247
https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/exponential_decay_cn.html#cn-api-fluid-layers-exponential-decay

[2020-03-26 08:53] #23247 closed, assigned to nobody

[2020-03-26 08:54] wxl1351641822 commented on #23210
从dynamic_lstm换成lstm也不管用orz……求问这是什么情况？？？
不用lstm的时候就一切正常
[code]

[code]

[2020-03-26 09:08] NHZlX commented on #23229
应该没有完全打乱的op，
有部分打乱的Op：

https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/pixel_shuffle_cn.html#pixel-shuffle

https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/shuffle_channel_cn.html#shuffle-channel

[2020-03-26 09:10] Steffy-zxf opened #23253 "新增paddle.tensor.mul(), paddle.tensor.pow() API"
1. 新增paddle.tensor.mul(x, y, x_num_col_dims=1, y_num_col_dims=1, out=None, name=None)
   此运算是用于对输入x和y执行矩阵乘法。输入x和y都可以携带LoD（详细程度）信息。但输出仅与输入x共享LoD信息。
   * 参数：
     * x (Variable) - 乘法运算的第一个输入张量Tensor/LoDTensor。
     * y (Variable) - 乘法运算的第二个输入张量Tensor/LoDTensor。
     * x_num_col_dims (int，可选) - 默认值1， 可以将具有两个以上维度的张量作为输入。如果输入x是具有多于两个维度的张量，则输入x将先展平为二维矩阵。展平规则是：前 num_col_dims 将被展平成最终矩阵的第一个维度（矩阵的高度），其余的 ra

[2020-03-26 09:15] NHZlX commented on #23249
1. 贴下更详细的log
2. 确认你安装paddle的cudnn版本是否和你本地的cudnn一致。

[2020-03-26 09:23] NHZlX commented on #23237
可否将完整程序发下呢

[2020-03-26 09:32] xiegegege commented on #23249
1.报错的上半部分是：
load test model: saved/unet/final
/opt/_internal/cpython-3.6.0/lib/python3.6/site-packages/paddle/fluid/executor.py:782: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  File "pdseg/eval.py", line 178, in <module>
    main()
  File "pdseg/eval.py", line 174, in main
    evaluate(cfg,

[2020-03-26 10:23] JepsonWong commented on #23194
这个其实就是需要重新设置一下cuda环境。

[2020-03-26 11:09] Heeenrrry commented on #23189
@zhengzhe97 您好，很希望能帮您解决疑问，您看这快是否还有问题需要我们跟进？

[2020-03-26 11:23] zhengzhe97 commented on #23189
@Heeenrrry
问题代码部分我已经找到了，是由于新增op产生的，这部分代码用来随机取100个样本。改了下实现错误消失了。
修改前
[code]
代码调用

`fluid.layers.py_func(func=get_mast_to_train, x=proto_coef ,out=[select, rate])`

修改后
[code]
代码调用
[code]

找了我差不多一周，没有bug check真的让人头大，之前的实现讲道理不会出现问题才对。

[2020-03-26 11:28] zhengzhe97 opened #23257 "请问一下，这行代码在静态图里如何实现"
Variable是否有办法来当成索引
[code]

[code]

[2020-03-26 11:34] zhengzhe97 commented on #23237
[code]
这两个函数可以直接用的，生成点数据就可以了，完整程序有点乱

[2020-03-26 12:04] NHZlX commented on #23237
建议给一组 mask 以及boxes的值，我们测试数据上对齐下。

[2020-03-26 12:14] littletomatodonkey commented on #23223
嗯嗯调好了，多谢！

[2020-03-26 12:14] #23223 closed, assigned to nobody

[2020-03-26 12:36] seiriosPlus commented on #23149
目前飞桨的梯度同步是逐层同步。

[2020-03-26 12:43] Superjomn commented on #23140
可能是内存占用过大，被系统kill 了，可以看下任务的内存占用是否正常

[2020-03-26 13:24] #20772 closed, assigned to xjqbest

[2020-03-26 13:25] #20098 closed, assigned to guoshengCS

[2020-03-26 13:25] #20097 closed, assigned to xjqbest

[2020-03-26 13:25] #20089 closed, assigned to xjqbest

[2020-03-26 13:26] #20081 closed, assigned to xjqbest, chengduoZH

[2020-03-26 13:28] #20084 closed, assigned to xjqbest, sneaxiy

[2020-03-26 14:46] drhades opened #23263 "如何实现类似TF的bias_add"

[2020-03-26 15:27] drhades opened #23264 "TF可初始化的Variable如何实现"
TF的Variable可以在创建时直接初始化，如
[code]

paddlepaddle如何实现，下面代码是否OK：
[code]

[2020-03-26 15:34] NHZlX commented on #23249
log 不全。麻烦贴下所有的log。

[2020-03-26 15:46] NHZlX commented on #23263
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/elementwise_add_cn.html#elementwise-add 如果输入的两个都是tensor的话，可以用elementwise add， 这个op支持broad cast

[2020-03-26 16:44] jczaja commented on #23074
Hi @sneaxiy ,

Currently I'm working on C-API mkl-dnn in-place pass . So I have questions:
1) Is it fine if I use renaming for in-place C-APO pass implementation? You advise against it :
https://github.com/PaddlePaddle/Paddle/blob/430b0099c9e6015514a4c5bb7f7fc6845fe4731b/paddle/fluid/framework/ir/memory_optimize_pass/memory_reuse_pass.h#L34-L72
But C-API is a simplified API e.g.  only inference, s

[2020-03-26 19:27] stoicboyoversea commented on #20740
I encountered the same problem. Did you solve it by compiling the source code with gcc > 5.0? Thank you.

[2020-03-27 01:38] qingqing01 commented on #22833
closed due to https://github.com/PaddlePaddle/PaddleDetection/issues/299

[2020-03-27 01:38] #22833 closed, assigned to ForFishes

[2020-03-27 03:13] Steffy-zxf commented on #23136
你好！经过调试，发现你的清理过后的数据text字段有为空的情况，请清除了这些数据再重新运行情感分类任务。
![image](https://user-images.githubusercontent.com/48793257/77717581-cdf47780-701b-11ea-9c2d-087cb1f9511b.png)

同时，如果你想要在情感分类任务上训练一个性能较好的模型，建议使用ernie 完成fine-tune， 参考demo https://github.com/PaddlePaddle/PaddleHub/tree/release/v1.6/demo/text_classification
PaddleHub使用过程中有任何问题，欢迎在PaddleHub repo下提issue，https://github.com/PaddlePaddle/PaddleHub/issue

[2020-03-27 03:24] HaozhengAN opened #23268 "Compiled with WITH_GPU, but no GPU found in runtime"
基于paddlepaddle/paddle:1.5.2-gpu-cuda9.0-cudnn7镜像构建的新镜像，
![图片](https://user-images.githubusercontent.com/34512369/77718128-0ea0c080-701d-11ea-812a-7a323b607ad9.png)
[work@yq01-gpu-yq-adu-1-28 paddleflow]$ nvidia-smi
Fri Mar 27 11:21:55 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2     |

[2020-03-27 03:49] xiegegege commented on #23249
完整的log:
[run.log](https://github.com/PaddlePaddle/Paddle/files/4391373/run.log)

[2020-03-27 04:07] 3wGTA opened #23270 "fluid.data 创建变量失败，shape问题"
同样一段代码在不同机器上结果不一样

在自己机器上面跑
![image](https://user-images.githubusercontent.com/62338824/77719758-0d719280-7021-11ea-8b2e-3a66e41a05b9.png)

报错如下
![image](https://user-images.githubusercontent.com/62338824/77719775-195d5480-7021-11ea-8e68-bb6ca4f4575a.png)

在AIstudio上面跑如下，没有报错

![image](https://user-images.githubusercontent.com/62338824/77719795-267a4380-7021-11ea-8d83-c202dd94921d.png)

上面代码shape改

[2020-03-27 04:12] skywalk163 commented on #23101
谢谢，在经过一系列操作后，程序终于在aistudio的py37 paddle1.7.1环境跑通。所做的操作包括但不限于：
1 因bug修复，将fluid.layers.embedding 重新加上layers.
2 将原文档训练和推理部分的数据矩阵结构从[None, 1]设置为[1]，同时将fluid.data修改为fluid.layers.data
def inference_program(word_dict):
    data = fluid.layers.data(
        name="words", shape=[1], dtype="int64", lod_level=1)
def train_program(prediction):
    label = fluid.layers.data(name="label", shape=[1], dtype="int64

[2020-03-27 08:04] kolinwei commented on #23268
能贴下具体的日志吗？
可以尝试看下cuda安装目录下的 example能否正常跑。

[2020-03-27 08:07] kolinwei commented on #23270
不同版本的paddle，目前会有一些不兼容的升级，可以参考下release note中的信息，尽量使用最新的paddle版本。

[2020-03-27 08:28] NHZlX commented on #23249
可否更新下cudnn为v7.5试试

[2020-03-27 08:49] HaozhengAN commented on #23268
<img width="1060" alt="图片" src="https://user-images.githubusercontent.com/34512369/77738481-dfa14380-704a-11ea-8e7d-e7d43420bda0.png">
<img width="1059" alt="图片" src="https://user-images.githubusercontent.com/34512369/77738510-ed56c900-704a-11ea-9022-832c98ac31c0.png">

[2020-03-27 08:52] NHZlX commented on #23237
输入

mask: [224, 224, 1]
boxes: [10, 10, 50,50]

硬件：
MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports)
2.3 GHz Intel Core i5

跑1000此总时间：
paddle ：  0.08408212661743164
numpy： 0.3389401435852051

测试代码：

[code]

[code]

[2020-03-27 09:25] NHZlX commented on #23264
**如果初始化的为参数变量，可以采用numpyarrayinitializer**

[code]

使用assign的方式也是ok的。

[2020-03-27 09:30] wzzju commented on #23268
您好，请问您使用这个镜像是编译最新的develop分支上的代码吗？
您试试`paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7-dev`这个镜像呢？

[2020-03-27 09:34] HaozhengAN commented on #23268
这个应该和镜像没有关系，同样的代码和镜像，在centos7上是可以跑的。
]$ nvidia-smi
Fri Mar 27 17:34:54 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fa

[2020-03-27 09:42] waaaaaaater opened #23276 "paddle 1.6版本中，动态图，反向传播后，梯度无法获取"
使用paddle1.6版本动态图，经过反向传播后，梯度获取，网络层权重无变化。
main方法内容如下：

[code]
获取网络参数的方法如下：
[code]
网络内容如下：
[code]

[2020-03-27 09:49] jbq123 opened #23277 "paddleseg预测报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及

[2020-03-27 09:50] #23277 closed, assigned to nobody

[2020-03-27 10:03] jbq123 opened #23278 "PaddleSeg预测报错"
版本：Paddle1.7.0；PaddleSeg-release-v0.4.0
环境：Nvidia jetson TX2；ubuntu18.04
模型：Deeplabv3+Mobilenetv2（预训练）
问题描述：在运行pdseg/vis.py对下预训练模型进行推理时，出现如下错误：
`W0324 16:37:16.218273 8639 operator.cc:181] elementwise_add raises an exception thrust::system::system_error, parallel_for failed: too many resources requested for launch
/usr/local/lib/python3.6/dist-packages/paddle/fluid/executor.py:782: UserWarning: Th

[2020-03-27 10:34] NHZlX commented on #23229
请问你这边是否需要在训练中使用shuffle呢，还是只是在预测中使用。如果是训练中使用，麻烦说下使用场景，我们这边会进行集成评估。如果是预测中使用的话，可以将对应的var fetch出来，然后使用python进行shuffle

[2020-03-27 10:35] willthefrog commented on #20740
this is most likely because of ABI breakage introduced in GCC 5, compiling from source with GCC 5+ should solve this, or you could try latest official build with GCC 8.

[2020-03-27 11:23] littletomatodonkey opened #23279 "eigen gpu下broadcast编译报错"
参考expand_as_op.h中broadcast的写法
![image](https://user-images.githubusercontent.com/14270174/77751196-2f3e3a00-7060-11ea-867c-a2396f672e36.png)
在自己写的op中添加了broadcast
![image](https://user-images.githubusercontent.com/14270174/77751216-38c7a200-7060-11ea-83e7-4b68e4bfea95.png)
编译paddle-gpu时报错，
![image](https://user-images.githubusercontent.com/14270174/77751242-441acd80-7060-11ea-92e3-ee6745063b83.png)

[2020-03-27 12:27] NHZlX commented on #23253
此为新增op issue。

[2020-03-27 12:32] Mrhs121 commented on #23149
非常感谢回答！还有一个问题就是，你们有实现Wait-free Backpropagation这个算法吗，[Poseidon: An Efficient Communication Architecture for Distributed Deep Learning on GPU Clusters]

[2020-03-27 13:00] wojtuss commented on #23034
The PR https://github.com/PaddlePaddle/Paddle/pull/23202 fixes missing `fuse_activation` attribute issue for QAT2.0 with older QAT models.

[2020-03-27 13:06] xiegegege commented on #23249
试了cudnn v7.5, v7.6，也都是一样的报错

[2020-03-27 13:09] littletomatodonkey commented on #23279
使用下面的代码做broadcast的话，cpu编译和单测也都没有问题，gpu编译可以通过，但是运行时会出现segment fault的问题
[code]

[2020-03-27 15:00] littletomatodonkey commented on #23279
已解决

[2020-03-27 15:00] #23279 closed, assigned to nobody

[2020-03-27 15:11] Cli212 opened #23283 "fluid.layers.lstm模块返回值异常&feed值之后会抛出异常"
在GPU环境下使用paddle.fluid.layers.lstm模块，静态图，在打开is_bidirect = True的情况下，paddle说明文档里写明rnn_out的维度应该为[seq_len,batch_size,hidden_size∗2]，然而现在的输出维度依然为[seq_len,batch_size,hidden_size]，且通过executor feed值之后会抛出[operator < cudnn_lstm > error]，代码如下
***
[code]
print结果为(-1, 512, 512)，正常的花应该为(-1,512,1024)
[code]
feed值后抛出异常：
[code]

[2020-03-27 16:49] hubu-wangpei opened #23285 "如何使用预定义值的卷积核"
如果想设置卷积核为一些预先定义的值，如一些高通滤波核，不参与更新，该如何实现

[2020-03-28 02:28] #23285 closed, assigned to nobody

[2020-03-28 03:22] baiyfbupt commented on #23146
如果x和y是parameter呢，x=y.detach()不生效，调试发现x的值未变，代码如下：
[code]
有其他方法进行赋值吗？

[2020-03-28 03:42] 131250208 opened #23286 "输入dynamic LSTM前经过fc做线性为什么能提升效率？"
每次进dynamic LSTM前都要进一个fc，这相当于每一层都要多训练一个fc呀，这样做的意义是什么？看文档说线性变换是为了提高效率，为什么这样可以提高效率呢？为什么不直接扩展4份一样的x输入而要通过fc来线性变换呢。还是说进入LSTM以后就不用再做线性变换了，相当于手动进行了四个Wx的过程？

[2020-03-28 08:28] zhengzhe97 opened #23288 "模型出现nan的情况"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7
    2）GPU：V100
    3）训练数据：COCO2017

训练到一定阶段时出现nan，尝试调低学习率和LinearWarmup都会出现这种问题

尝试过输出每次迭代的loss和模型输出，loss和模型输出都比较正常，
会出现这种情况，上次迭代还是正常，下次模型就输出nan

![DP`$Z~%%VC}KDPB @{R C 6](https://user-images.githubusercontent.com/26462054/77818870-1f326300-7111-11ea-814d-3a80009efc02.png)

[2020-03-28 12:26] jerrywgz commented on #23288
请问下这个是官方提供的检测模型吗？

[2020-03-28 12:28] guoshengCS commented on #23286
这个是是因为公式中的对input的这些计算并不在 dynamic_lstm中包含，因而需要在外部加入fc，只有在外部加上fc才和LSTM在计算上是等价的。和你说的这个一致

<img width="615" alt="image" src="https://user-images.githubusercontent.com/14105589/77822975-890f3480-7132-11ea-97a9-b1786e0a15fa.png">

这四个门一起进行计算确实能够一定程度的提供效率。但其实跟在LSTM内部实现和外部实现无太大关系。在外部实现主要还是因为LSTM内部不包含这些计算。

[2020-03-28 12:28] zhengzhe97 commented on #23288
@jerrywgz 是自己复现的yolact，按照paddledetection改的。下午检测了下数据，数据是没问题的。

[2020-03-28 12:36] jerrywgz commented on #23288
nan的话一般就是出现除0的情况，可以着重看下几个部分：1. 如果有预训练模型的话可以确认下是否加载正确 2. 确认下reader的预处理中是否会出现box（或mask）为空的情况 3. 模型结构中计算loss的部分是否有考虑到正样本为0的情况

[2020-03-28 15:13] phlrain commented on #23276
代码格式能容易阅读的版本么，或者提供一个链接

[2020-03-28 15:25] wzzju commented on #23283
您好！已经通知该API的负责人进行处理，感谢！

[2020-03-28 15:25] phlrain commented on #23283
我们确认了code，在is_bidirec = True的时候 会触发bug，我们排期修复下，非常感谢反馈

[2020-03-28 15:29] wzzju commented on #23278
请问，您有改动哪些地方的代码吗？是直接运行原repo下的源码就报错吗？

[2020-03-28 15:35] jbq123 commented on #23278
我只添加了几行打印执行时间的操作。同样的代码，在我自己电脑上是可以跑通的，放到TX2上就会产生这个错误。我又在TX2上测试了deploy/python/infer.py，还是会报相同的错误，这个推理代码在电脑上也是能够跑通的。

[2020-03-28 15:36] zhengzhe97 commented on #23288
确实是在一个地方出现了除0的情况，但是没有出现警告，讲道理应该有吧，element_div这个op

[2020-03-28 15:46] wzzju commented on #23278
从您的描述以及报错信息“parallel_for failed: too many resources requested for launch”可以看出应该是TX2上的硬件资源不足所致。

[2020-03-28 15:54] jbq123 commented on #23278
是这样的，TX2的显卡计算能力应该是比我电脑GTX950M强的，处理器的核数也有六个，是不是我的代码没有充分地用到这些资源？我现在考虑用下inference C++API，tensorRT库。

[2020-03-29 02:57] wzzju commented on #23278
可以考虑使用inference C++API或者tensorRT库。我们的paddle代码ci上没有tx2机器，所以对于tx2可能不能完美适配。

[2020-03-29 05:13] drhades commented on #23263
@NHZlX 谢谢

paddle中是否可以直接使用conv2d的bias_attr
[code]
来模拟实现TF中CNN的卷积偏置
[code]

[2020-03-29 05:13] drhades commented on #23264
@NHZlX THX

[2020-03-29 05:14] drhades commented on #23264
@NHZlX THX

[2020-03-29 05:14] #23264 closed, assigned to nobody

[2020-03-29 05:28] drhades commented on #23263
bias_attr = fluid.initializer.NumpyArrayInitializer(0.1 * np.random.randn(32))

这样是否可以？

[2020-03-29 05:28] drhades commented on #23263
`bias_attr = fluid.initializer.NumpyArrayInitializer(0.1 * np.random.randn(32))`

这样是否可以？

[2020-03-29 06:33] cvdnn opened #23291 "paddlehub：IndexError: list index out of range"
- 标题：paddlehub：IndexError: list index out of range
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    4）系统环境：Ubuntu 16.04，Python 3.7
- 训练信息
    1）单机, CPU
    2）显存信息
![outofindex](https://user-images.githubusercontent.com/15883260/77842898-31240c80-71ca-11ea-8459-1158c43e795f.jpg)

[2020-03-29 06:34] cvdnn commented on #23291
代码详见：https://github.com/PaddlePaddle/PaddleHub/issues/478

[2020-03-29 12:18] #23210 closed, assigned to nobody

[2020-03-29 13:22] waaaaaaater commented on #23276
您好，修复了粘贴代码格式的问题。经过调试我发现fl.layers.clip_by_norm 是这行代码了阻止了反向传播，把他去掉之后就可以了。

因为这里应用了很多个fl.layers.clip_by_norm这个方法，去掉不同位置时，有的时候会组织反向传播，有的时候不会

[2020-03-29 16:17] wzzju commented on #23268
在容器内再设置一下环境变量试试?
[code]

如果还是不行的话建议换一个docker镜像再试试，比如paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7-dev。

请问您创建docker容器的命令是什么？有使用`nvidia-docker`命令吗？

[2020-03-30 01:26] JepsonWong commented on #23268
"Compiled with WITH_GPU, but no GPU found in runtime" 错误应该是在镜像内没有识别gpu，感觉是nvidia-docker没有将gpu映射进去，您在**镜像里使用 nvidia-smi 命令看看有没有输出**。

[2020-03-30 02:28] jerrywgz commented on #23288
这里我们是需要加强下这个op的数据检查

[2020-03-30 02:30] NHZlX commented on #23263
可以的

[2020-03-30 02:35] Steffy-zxf commented on #23291
感谢反馈！该问题已在 https://github.com/PaddlePaddle/PaddleHub/issues/478 回复

[2020-03-30 02:41] drhades commented on #23263
THX

[2020-03-30 02:41] #23263 closed, assigned to nobody

[2020-03-30 03:21] Xreki commented on #23065
@Karbi 感谢你提供如此详细的debug信息。从出错的地方的源码来看，需要使用cpu-only的包，才能走到对应的分支。我安装1.6.0的cpu-only版本复现了该错误，并且发现1.6.1版本中已经修复了该问题，具体修复的PR是https://github.com/PaddlePaddle/Paddle/pull/20717 。

[2020-03-30 07:11] luotao1 commented on #21493
actual values

Why not use `set_layout` and `set_format` function?

[2020-03-30 08:06] jczaja commented on #21493
@luotao1 When execution is inside of mkl-dnn kernel, I have an access to tensor of local scope. So if If use set_layout and set_format it is only on Tensor of local scope. Original Tensor's layout and format are not changed. I can change data of original tensor becuase original tensor and tensor from local scope they both share data. So I can change data of original tensor, but I cannot change lay

[2020-03-30 08:38] jshower commented on #23125
我在paddle版本1.6.3上遇到同样的问题，用户日志输出的东西会在控制台同样打印一份。修复后辛苦告知一下。

[2020-03-30 08:53] luotao1 commented on #21493
How about the following way?
- Access the original scope, find the corresponding variable by name, and get the original tensor.
- Then, use `set_layout` and `set_format` on the original tensor.

[2020-03-30 09:39] luwanglin opened #23307 "请问能完善一下关于动态图3D操作方面的算子吗？我在文档中找到了Conv3D，但是没有找到BatchNorma3D以及groupNorm3D"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

Thank you for contrib

[2020-03-30 09:50] zhengzhe97 opened #23309 "请教一下，numpy的这种操作在paddle如何实现"
![BJUT~N~IUF8%8S@B9J0L~G](https://user-images.githubusercontent.com/26462054/77899170-e92ae580-72ae-11ea-95ba-2fe6465a89a7.png)

[2020-03-30 10:06] jczaja commented on #21493
@luotao1 Sounds good. How can I access original scope from mkl-dnn op ?

[2020-03-30 10:23] ghost opened #23311 "关于paddle.fluid.layers.pixel_shuffle在动态图中的使用"
请教一下，我想要在动态图模式下将一个卷积层，一个像素清洗层，一个激活层打包成为一个子像素卷积模块，请问此时像素清洗层的paddle.fluid.layers.pixel_shuffle()中的输入参数x该怎么处理，此时并没有输入数据。
![1](https://user-images.githubusercontent.com/44671073/77902104-3f018c80-72b3-11ea-812a-481a0d77e297.jpg)
![2](https://user-images.githubusercontent.com/44671073/77902228-707a5800-72b3-11ea-997b-7141d1f9e850.jpg)

[2020-03-30 12:04] 131250208 commented on #23286
@guoshengCS 啊，多谢回答，这样设计好像让编码变得很繁琐。希望以后能把这些都封装到LSTM里。

[2020-03-30 13:08] #23101 closed, assigned to lfchener

[2020-03-30 13:44] ddokupil opened #23319 "PR 22961 caused significant performance regression on BERT inference"
-PaddlePaddle version: https://github.com/PaddlePaddle/Paddle/pull/22961
-CPU: including CLX 6248, DNNL1.2
-OS Platform: Ubuntu 16.04
-Python version 2.7.12
-Cmake orders cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DWITH_TESTING=ON -DWITH_PROFILER=ON -DWITH_STYLE_CHECK=OFF -DON_INFER=ON -DWITH_INFERENCE_API_TEST=ON

Steps to reproduce the behavior:
execute:
$ /repos/paddle

[2020-03-30 13:57] jczaja commented on #23319
I have noticed this problem when working with BERT using
 Intel(R) Xeon(R) CPU E5-2699 v4 @ 2.20GHz

current develop(regression):
thread0::gelu                   24000       **15363.7**     0.636816    1.8178      0.640154    **0.576969**

before (older develop):
thread0::gelu  24000   **581.156**  0.022947  0.534694   0.0242148   **0.0485629**

#22961 did remove MKL based GELU implementation and

[2020-03-30 14:16] 131250208 opened #23320 "为什么同样的代码在CPU环境下可以正确输出，GPU环境会报错？"
以下测试代码在AI studio上的CPU环境可以正常运行并输出：[64, 100, 128]，但是切换到GPU环境就会报错。

代码：
[code]
报错信息：
[code]

如果把 attn_fc(test_sample).shape 放到 with fluid.dygraph.guard(): 里，执行器会崩溃重启。jupyter notebook里的报错信息是：
[code]

[2020-03-31 01:27] zhengzhe97 opened #23323 "invalid configuration argument"
Paddle版本：1.7.1
训练环境：Aistudio
迭代几次后出现如下error
[code]

[2020-03-31 02:07] parap1uie-s commented on #23309
我不是官方人员，可以试试这样：
[code]

[2020-03-31 02:15] zhengzhe97 commented on #23309
@parap1uie-s 谢谢，我现在也是通过这种方式解决的

[2020-03-31 02:17] zhengzhe97 opened #23324 "赋值出错"
paddle版本：1.7.1
想对这个loc_t进行赋值，但是出现了错误，是否有办法进行赋值
代码部分：
[code]
错误如下
[code]

[2020-03-31 02:40] Mr-Nineteen opened #23326 "fluid.core.CUDAPlace can only be specified as 0, why?"
Set NVIDIA_VISIBLE_DEVICES to all, can I specify a GPU card?

[2020-03-31 03:00] Pipi24 opened #23328 "调用fluid.layers.lstm时报NameError: name 'core' is not defined"
- 标题：调用fluid.layers.lstm时报NameError: name 'core' is not defined
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 1.7.0
    2）GPU：Tesla v100
    3)  环境：AIstudio

- 问题描述：调用fluid.layers.lstm时报NameError: name 'core' is not defined

- 调用代码
_, last_h, _ = fluid.layers.lstm(
            input=out,
            init_h = init_h,
            init_c = init_c,
            max_len = 32,
            hidden_size =768

[2020-03-31 03:05] kinghuin opened #23329 "1.7.1 DataLoader在linux中运行正常，在windows中运行失败"
   1）PaddlePaddle版本：1.7.1
    2）windows
- 训练信息
    1）单机单卡
- 复现信息：
用户反馈：https://github.com/PaddlePaddle/PaddleHub/issues/487
pip install paddlehub，然后运行[本程序](https://github.com/PaddlePaddle/PaddleHub/blob/release/v1.6/demo/image_classification/img_classifier.py)
- 问题描述：使用linux运行正常无误，只有使用windows才会报错，存在操作系统上的运行差异

[2020-03-31 03:12] NHZlX commented on #23185
使用trt子图，所有tensor的第一维度表示为batch。

 以下的情况trt子图是不支持的。

[code]

[2020-03-31 03:12] #23185 closed, assigned to NHZlX

[2020-03-31 03:13] kinghuin opened #23330 "1.6.2 save_inference_model成功，1.7.0 save_inference_model失败"
   1）PaddlePaddle版本：1.6.2，1.7.0.post97
    2）系统环境：python2.7和python3均出现该问题
- 训练信息
    1）单机单卡
- 复现信息：该问题由用户反馈：https://github.com/PaddlePaddle/PaddleHub/issues/473
复现方式：pip install paddlehub, 之后运行[本程序](https://github.com/PaddlePaddle/PaddleHub/blob/release/v1.6/demo/reading_comprehension/reading_comprehension.py)
PaddleHub中的组网代码 ：https://github.com/PaddlePaddle/PaddleHub/blob/release/v1.6/paddlehub/f

[2020-03-31 03:25] luotao1 commented on #23328
#23142 和 #23289 都已经对这个问题进行修复了。我们会尽快合入这个PR

[2020-03-31 03:40] yocen opened #23331 "1）安装环境是否正确；2）本地GPU跑FINETUNE提示Out of memory error"
环境描述及其问题：

1）PaddlePaddle版本：
anaconda虚拟环境中用conda安装paddlepaddle1.7GPU版本，
当时是按照paddle官网用conda install paddlepaddle-gpu cudatoolkit=10.0安装的，
安装后验证安装成功。
pip安装paddlehub1.6.0，安装后用conda list 展示出来的是这样：
paddlehub                      1.6.0                          pypi_0    pypi
paddlepaddle-gpu          1.7.0.post107            pypi_0    pypi
这里的问题是，paddlepaddle-gpu怎么变成了用pypi安装？
而且，在jupyter每次restart kerne

[2020-03-31 04:26] gavin1332 commented on #23329
PaddleHub项目中已解决，关闭此issue

[2020-03-31 04:30] gavin1332 commented on #23329
可否提供非hub版本的最小可复现代码？

[2020-03-31 04:40] gavin1332 commented on #23307
感谢建议！

[2020-03-31 04:43] gavin1332 commented on #23309
感谢解答。 @parap1uie-s

[2020-03-31 04:49] gavin1332 commented on #23320
[code]

[2020-03-31 04:50] Shixiaowei02 commented on #23330
我来跟进这个问题。

[2020-03-31 04:53] phlrain commented on #23311
pixel_shuffle  是一个没有参数的op，而且是一个function，可以在forward 里面直接调用，x 在forward里面获取

[2020-03-31 04:55] luotao1 commented on #23323
能否提供更多的信息，比如是跑AIstudio上的哪个模型出错的？

[2020-03-31 05:32] zhengzhe97 commented on #23323
@luotao1 问题是下面代码产生的
[code]
因为paddle不支持如下操作，所以做了转换
[code]

[2020-03-31 05:33] zhengzhe97 commented on #23323
@luotao1 对于这个代码是否有好的实现方式，希望能推荐下

[2020-03-31 05:46] omtbreak commented on #22510
但我的机器上的cudnn是7.6.5的也报了这个错误，很奇怪，明明我的是7.6.5，却说是7.3

[2020-03-31 05:57] zhengzhe97 commented on #23309
@gavin1332
我把如下numpy代码改成paddle
[code]
结果报错了
[code]

[2020-03-31 06:37] luotao1 commented on #23324
loc_t是variable类型，不能直接取index来赋值，所以会报出`'Variable' object does not support item assignment`的错误。

可以用`get_tensor()`来获得loc_t对应的tensor，然后用`set`来赋值，参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/executor_cn/scope_guard_cn.html#scope-guard
[code]
具体来说，从scope中根据loc_t的名字，先找到variable再获得对应的tensor，最后用numpy值（xxx）进行赋值。

[2020-03-31 07:01] zhengzhe97 commented on #23324
我把以上代码改成如下形式，但是loc_t并没有改变
`fluid.global_scope().var(loc_t[idx].name).get_tensor().set(fluid.global_scope().var(loc.name).get_tensor(), fluid.CUDAPlace(0)) `

[2020-03-31 07:06] luotao1 commented on #23319
@iclementine will add MKL based GELU implementation back

[2020-03-31 07:08] luotao1 commented on #23326
You can use `CUDA_VISIBLE_DEVICES` env flags.
`export CUDA_VISIBLE_DEVICES=3` means using the GPU card whose id=3

[2020-03-31 07:17] luotao1 commented on #23324
看下`loc.name`值是否发生了变化，可以用显示的numpy值先赋值来确认下。

[2020-03-31 07:20] luotao1 commented on #23324
少加了一个np.array吧。
[code]

[2020-03-31 07:28] zhengzhe97 commented on #23324
改成上面的代码，loc_t的值还是没有改变
[code]

[2020-03-31 07:29] luotao1 commented on #23324
请问现在是有没有报错，还是值没有改变？

loc_t是一个variable，还是一个variable的list呢？从最早`loc_t = fluid.layers.zeros([batch_size, num_priors, 4], 'float32')`看是一个variable，是不能用idx索引的。

[2020-03-31 07:34] Liuhan703 opened #23341 "python 预测api出错但load_inference_model没问题"
- 版本、环境信息：
    1）python 3.6  PaddlePaddle==1.7.1 CPU预测
- 问题描述：save__inference_model后调用load_inference_model预测没问题，但用python预测api出错
组网代码：
[code]
预测代码：
[code]

直接用load_inference_model加载模型run没有问题，使用create_paddle_predictor出现错误：
[code]

[2020-03-31 07:34] zhengzhe97 commented on #23324
没有报错，值也没改变

[2020-03-31 07:35] luotao1 commented on #23324
请用显示的numpy值确认下。下面的demo中，loc对应的tensor是1维的。我先初始化一个值为1的一维矩阵，进行赋值，能看到打出来的data是1；然后初始化一个值为2的一维矩阵，进行赋值，能看到打出来的data是2
[code]

[2020-03-31 07:38] zhaoyang1708 opened #23342 "本地调试报错 paddle.fluid.core.EnforceNotMet: Enforce failed."
本地调试报错
2020-03-31 15:10:37 start to run
2020-03-31 15:10:37 first batch
Traceback (most recent call last):
  File "script/local_train.py", line 17, in <module>
    model_output_back="/home/shawn/novel-bsq/novel-res-cross"
  File "/home/shawn/novel-bsq/novel-res-cin/script/train.py", line 819, in train
    train_loop(fluid.default_main_program())
  File "/home/shawn/novel-bsq/novel-res-cin/script/t

[2020-03-31 07:54] luotao1 commented on #23331
这个是可以的。

有可能是。请按照下面步骤进行排查下
1. 先只是conda install paddle 看会不会出错，不要装paddlehub
2.
![image](https://user-images.githubusercontent.com/6836917/78001141-dd4f2a00-7367-11ea-888c-adf615767d67.png)

如果用python直接跑，会有问题么？

请问你本地显卡有没有跑其他任务，ERRLOG.zip里没有看到错误信息

[2020-03-31 07:55] pengpeng512 opened #23343 "问题咨询"
向你咨询请较问题，https://github.com/MCai416/SEIR-COVID19/blob/master/SEIR%20Python.py 如果我想把这个例子 用paddle实现 请问有什么方法吗
主要是我必须在我的模型中应用paddle ；请帮助看下，哪些地方可以用

[2020-03-31 08:02] zhengzhe97 commented on #23324
显示的numpy是可以的，但是把一个variable的值取出来，再赋给另一个variable不可以
我试了下下面的代码，输出用py_func输出的，结果是0，loc的值没有赋给t
[code]

[2020-03-31 08:03] luotao1 commented on #23342
1. 从报错格式看，是1.6以前的版本吧，请升级到1.6或者1.7最新版本
2. 错误在concat_op，可着重检查下。
[code]

[2020-03-31 08:11] luotao1 commented on #23324
请一步步排查每个variable的值是否正确

我在上面的demo下补充了一个，loc3是一个新的variable，给它赋值3，然后将它的值取出来再赋值给loc，可以看到loc的值也变成3了。
[code]

[2020-03-31 08:29] zhengzhe97 commented on #23324
用下面代码查看了loc是有值的，但是t还是0，对照了步骤和上面的是一样的
建图的时候，没有数据喂入，无法用print打印
[code]
[code]
打印结果：
[code]

[2020-03-31 08:41] HuangLK commented on #14004
2020年了

[2020-03-31 08:49] juncaipeng opened #23346 "PaddleSlim and Paddle inference (Intel cpu) support all common quantized models"
We usually use PaddleSlim to quantize a FP32 model to INT8 model, and run the int8 model in inference stage.

However, there are some problems between PaddleSlim and Paddle inference (Intel cpu):
* Some quantized model  do not provide the needed output scale for Paddle inference (Intel cpu).  In details,  the quantized model only contains the input scale of some ops (conv2d, depthwise_conv2d, mul,

[2020-03-31 09:10] yocen commented on #23331
刚试了一下，没问题。

参照你提供的方法，在anaconda文件夹下搜得两种日期的pythoncom37.dll，将较新的dll替换到Anaconda3\Library\bin里的较旧dll，jupyter里也不再提示无法定位程序输入点。

没有跑其他任务。
程序代码如下：

#-*- coding: utf-8 -*-
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

import os
os.environ['FLAGS_fraction_of_gpu_memory_to_use']='0.95'

import paddlehub as hub
from paddlehub.dataset.base_nlp_datase

[2020-03-31 09:11] luotao1 commented on #23343
请问这是深度学习模型么？这个模型是用来做什么呢？从目前的脚本看，看不出来怎么用

[2020-03-31 09:22] pengpeng512 commented on #23343
不是深度学习的，就是一个动力学模型，参数都定好了；相当于公式和参数都订好了的，可以理解为一个线性回归的f(x)已经得到了。请问可以在样本、和评估预测结果方面用到paddle吗

[2020-03-31 09:22] lidanqing-vv commented on #23346
@wojtuss

[2020-03-31 09:26] luotao1 commented on #23343
线性回归可以先参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/simple_case/fit_a_line/README.cn.html 或 https://www.paddlepaddle.org.cn/tutorials/projectdetail/328824

[2020-03-31 09:31] yocen commented on #23331
刚试了一下，没问题。

参照你提供的方法，在anaconda文件夹下搜得两种日期的pythoncom37.dll，将较新的dll替换到Anaconda3\Library\bin里的较旧dll，jupyter里也不再提示无法定位程序输入点。

没有跑其他任务。

程序代码如下：

[code]
输出信息如下：
[code]
运行代码前，nvdia-smi信息如下：
![1](https://user-images.githubusercontent.com/11740205/78010825-66b92900-7375-11ea-80c2-d6ae7dfb9b0c.png)
运行代码并报资源不足错误后，nvdia-smi信息如下：
![2](https://user-images.githubusercontent.com/11740205/78010843-6c167380-7375-11

[2020-03-31 09:48] yilawu opened #23347 "conda验证环境成功，pycharm验证环境报错"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu 1.7.1.
    2）CPU：i5-8265U
    3）GPU：mx150   CUDA9.0   cudnn7.3
    4）系统环境：win10

-安装方式：
conda 安装 py3.6

- 问题描述：
按照官方提示验证是否安装成功
在anaconda的环境下直接测试：
(paddle) C:\Users\xxxxxxxx>python
Python 3.6.10 |Anaconda, Inc.| (default, Mar 23 2020, 17:58:33) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

[2020-03-31 09:48] luotao1 commented on #23341
[Hint: Expected (int64_t)(last_level.back()) == in->dims()[0], but received (int64_t)(last_level.back()):2 != in->dims()[0]:1.] at (/home/teamcity/work/ef54dc8a5b211854/paddle/fluid/operators/lod_reset_op.h:43)
  [operator < lod_reset > error]

`self.out = fluid.layers.lod_reset(x=self.out, y=self.lod_sent)`
从错误看，是数据输入不对，导致在`lod_reset`曾报错。请检查下X和Y的输入数据以及lod输入。

[2020-03-31 09:59] wangchaochaohu commented on #23347
请问下这边环境安装过其他的pip 包吗？

[2020-03-31 10:01] luotao1 commented on #23331
从报错和nvidia-smi截图看，确实是GPU显存不够了。

这个warning说明PaddleHub暂时不支持显存优化方案，所以你配置里设置`enable_memory_optim=True`没有用。

我们会反馈让PaddleHub支持该方案的。

[2020-03-31 10:02] yilawu commented on #23347
没有pip安装过其他的包，直接新建paddle环境，直接conda 安装paddle

[2020-03-31 10:02] zlinker opened #23349 "sequence_softmax operator bug"
System information
-PaddlePaddle version: 1.7

Description
[sequence_softmax](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/sequence_ops/sequence_softmax_op.h#L53) here should not accumulate exp values directly, which can cause overflow.

here is a demo:
[code]
output :
[code]

[2020-03-31 10:03] wangchaochaohu commented on #23347
目前情况是命令行能正常运行是吗？ 请问下Pycharm 有没有进行Anaconda的配置

[2020-03-31 10:04] yilawu commented on #23347
就是导入conda的环境呀，没有别的配置

[2020-03-31 10:05] wangchaochaohu commented on #23347
我看网上有类似的教程 https://blog.csdn.net/m0_37518259/article/details/80650765 是这样操作的吗？

[2020-03-31 10:09] Liuhan703 commented on #23341
@luotao1

PaddleTensor接口与create_lod_tensor有什么不一样吗？ 我通过load_inference_model加载模型时构建数据是这样的， 此时是ok的：
[code]
使用预测pai时是这样的，却出现上面的错误：
[code]
按理说这两个应该是相等的吧？

[2020-03-31 10:11] luotao1 commented on #23349
感谢反馈，我们会优先修复的。

[2020-03-31 10:18] yilawu commented on #23347
嗯嗯

[2020-03-31 10:20] wangchaochaohu commented on #23347
https://support.tibco.com/s/article/DLL-load-failed-error-when-importing-Miniconda-python-sklearn-library-from-Statistica-python-node
可以参考下这个 解决方案

[2020-03-31 10:25] yilawu commented on #23347
这好像说的是导入sklearn包的问题，跟我这个不大一样吧

[2020-03-31 10:31] luotao1 commented on #23341
https://github.com/PaddlePaddle/Paddle/blob/fe18cfdb4f22d56e48e9ee35cb390098b74d1dab/python/paddle/fluid/tests/book/test_word2vec.py#L163-L180
从这里看，load_inference_model加载模型是offset-based的lod，而预测API是length-based的lod。请 @fc500110 @Shixiaowei02 看下是否要做统一。

@Liuhan703 你先使用length-based的lod来输入数据。

[2020-03-31 10:49] luotao1 commented on #23323
请问这个具体是什么，是一个区间么

[2020-03-31 10:52] zhengzhe97 commented on #23323
best_truth_overlap 是和 conf 维度一样的 Variable ， pos_thresh是一个float32的值

[2020-03-31 10:55] Liuhan703 commented on #23341
了解了，感谢！

[2020-03-31 11:07] #23320 closed, assigned to nobody

[2020-03-31 11:09] luotao1 commented on #23323
可以给个最小能复现的数据和配置么，我们定位下`cast_op`的问题。

[2020-03-31 11:16] wangchaochaohu commented on #23347
查阅了一些资料应该是Anaconda这个软件安装的问题 没有设置环境变量  https://bbs.pythontab.com/thread-37423-1-1.html 一些论坛里面也遇到和你相同的问题

https://www.jb51.net/article/170206.htm 这个是一个相似问题的解决方案

[2020-03-31 11:47] yocen commented on #23331
麻烦再追问下，同样的代码，我拿去AI STUDIO的GPU环境里试了下，并且设置了os.environ['FLAGS_fraction_of_gpu_memory_to_use']='0.01'，
batchsize=32
都能FINETUNE成功。AI STUDIO上的显存使用设置是否能正确生效？

[2020-03-31 12:18] yilawu commented on #23347
嗯，pycharm的版本问题，我从2018.1换成2019.3就没有问题了，十分感谢

[2020-03-31 12:35] tangbozhang opened #23353 "yolo-v3模型预训练，维度不匹配"
aistduio 运行正常，下载本地后，进行预训练时报错，数据集是从官网下载的，没用aistudio上的数据，只用aistudio上的数据文件“label_list”、“train_list.txt”、“val_list.txt”；不加载预训练模型，直接重新训练，程序运行正常。
aistudio 网址：https://aistudio.baidu.com/aistudio/projectdetail/273746
本地运行报错内容：
2020-03-31 20:35:17,027 - train.py[line:418] - INFO: load param from pretrained model
Traceback (most recent call last):
  File "D:/codedevelop/tce/ai/paddle/ShuffleNetV2-YOLOv3/tra

[2020-03-31 12:54] zhengzhe97 commented on #23323
@luotao1 用numpy导出一个错误的best_truth_overlap(62190 * 1)， pos_thresh是0.5
[62190.zip](https://github.com/PaddlePaddle/Paddle/files/4409121/62190.zip)

[2020-03-31 13:04] luotao1 commented on #23331
请先看下本地和AISTUDIO上装的是否是1.7版本
[code]
- 在1.7版本中，默认使用auto_growth策略，`FLAGS_fraction_of_gpu_memory_to_use`就不会生效了。
- 从你本地报错看，装的还是1.6版本，请用上述命令确认下。

[2020-03-31 13:08] #23347 closed, assigned to nobody

[2020-03-31 13:22] heavengate commented on #23353
看着像是加载的voc数据集上的20类的数据的预训练权重，但是训练使用的是21类的数据集，请检查一下class_num设置的是否正确

[2020-03-31 13:29] #23286 closed, assigned to nobody

[2020-03-31 21:38] wojtuss commented on #23034
The PR https://github.com/PaddlePaddle/Paddle/pull/23361 contains an update to the QAT INT8 MKL-DNN documentation.

[2020-03-31 22:06] wojtuss commented on #23346
@juncaipeng ,
We like the idea of having an output quantization scale in operator's attribute. If all the quantized operators have the output scale in their attributes, it would simplify the scales gathering from the QAT model. Until now, we usually require the `fake_quantize_dequantize` op to be present after the quantized op for the output quantization scale to be collected.
However, not only th

[2020-03-31 22:23] lidanqing-vv commented on #23346
Hi, @wojtuss I put the model on the jira task and I sent the link to you on MSTeams.

[2020-04-01 01:29] Saga145AI commented on #23079
您好，代码问题已经解决了，代码整体执行一次就可以了。

你们的服务太好了，期待PaddlePaddle越来越好

在 2020-03-18 19:09:19，"Yibing Liu" <notifications@github.com> 写道：

@Saga145AI 可以贴下报错部分的详细代码么

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-01 01:33] tangbozhang commented on #23353
确实是由于加载类别个数不对引起的

[2020-04-01 01:33] #23353 closed, assigned to nobody

[2020-04-01 01:48] zhengzhe97 commented on #23323
@luotao1 我也不知道哪个cast出了问题，需要的话我可以把代码发过来

[2020-04-01 01:53] #23079 closed, assigned to kuke

[2020-04-01 01:57] zhengzhe97 commented on #23323
@luotao1 原本代码是没问题的，我加入了一段新的函数，就出现了这个问题，然后我现在删了这段函数，这个cast的问题依然存在。。这个很神奇啊

[2020-04-01 02:38] luotao1 commented on #23323
不只是代码，请将能复现的数据、代码和文档都打包上传，谢谢

[2020-04-01 02:46] #23326 closed, assigned to nobody

[2020-04-01 02:47] #23343 closed, assigned to nobody

[2020-04-01 02:52] zengqi0730 commented on #22996
再source /etc/profile 一下就行了
libcudnn.so的路径在这个文件里写了，只是搞不懂为啥我的tf和pytorch没事

[2020-04-01 02:52] #22996 closed, assigned to nobody

[2020-04-01 03:02] zhengzhe97 commented on #23323
问题解决了

[2020-04-01 03:02] #23323 closed, assigned to nobody

[2020-04-01 05:16] baiyfbupt opened #23365 "动态图如何设置random seed"
在静态图中，可以通过program设定random_seed
[code]
动态图里没有program的概念，如何固定random seed呢？

[2020-04-01 05:56] juncaipeng commented on #23346
@wojtuss   @lidanqing-intel
We will collect the output scale for all quantized ops and the fused ops.
To sum up:
* For quantized ops (conv2d, depthwise_conv2d, mul, matmul) that have weights, fake_quant and fake_dequant ops  provide the input scale.
* For quantized ops (pool2d, reshape2) that do not have weights,  fake_quant_dequant op provide the input scale.
* All quantized ops the output scale

[2020-04-01 05:58] AlexNorth365 opened #23366 "PaddleCV【多目标追踪的特性支持】"
Hi there,

PaddlePaddle 对多目标追踪的特性支持，目前有什么计划吗？

或者目前有合适的方式，可以解决多目标追踪的业务需求。谢谢！

[2020-04-01 06:18] mengyiliu22 opened #23368 "多机训练每个节点test loss差异较大"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.6
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）多机，多卡
    2）显存信息
    3）Operator信息

0号节点loss

[2020-04-01 08:16] OleNet opened #23373 "gaussian_random_batch_size_like 中不定长数据相加出错"
[code]

报错信息：
[code]

这里我模拟NLP中的embedding，x1 = fluid.layers.data(name='x1', shape=[-1, 10, 20], dtype='int')，
也就是定义的时候， 按照句子最大长度10定义了x1
但是实际上，输入的句子可能不到10，例如是8，那么x2 = g + x1就会出错。
这种情况得咋办呢？

[2020-04-01 08:18] OleNet commented on #23373
这里我模拟NLP中的embedding，x1 = fluid.layers.data(name='x1', shape=[-1, 10, 20], dtype='int')，
也就是定义的时候， 按照句子最大长度10定义了x1
但是实际上，输入的句子可能不到10，例如是8，那么x2 = g + x1就会出错。
这种情况得咋办呢？

[2020-04-01 10:52] zimoqingfeng opened #23383 "NMS-operater GPU版本"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/detection/multiclass_nms_op.cc

同学您好，请问NMS有对应的GPU版本么，检测模型的推理速度经常会卡在这一层。

[2020-04-01 14:20] ArseneLupinhb opened #23391 "paddlepaddle 1.7.1 liner"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2020-04-01 14:30] xygaoyuan opened #23392 "elementwise_add：parallel_for failed: invalid configuration argument"
请问下，这个错误一般是什么问题造成的？
目前是在我这边的预测程序里面出错（预测run的时候），并且和我的预测数据有关系，一个测试集共9000多个样本一起预测没问题，单独预测某一条就会报这个错误。

错误信息如下：
W0401 22:25:03.523263 76374 operator.cc:181] elementwise_add raises an exception thrust::system::system_error, parallel_for failed: invalid configuration argument
/home/users/gaoyuan09/jumbo.gpu/lib/python2.7/site-packages/paddle/fluid/executor.py:773: UserWarning: The following exception is

[2020-04-02 05:38] Melonzhou opened #23409 "chunk_eval中的num_chunk_types取不同的值，指标计算差异很大"
- 标题：chunk_eval中的num_chunk_types取不同的值，训练loss差异不大，但是指标计算结果（F1、Precision、Recall）差异很大。
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu-1.6.3.post107
    2）python2.7.13
- 训练信息
    1）单机单卡 K40
  
chunk_eval 这个op中的num_chunk_types参数，这个取值要怎么设置啊，我的真实label是7个，当我把num_chunk_types设置成3、4、5的时候，计算出来的结果差异很多，按理来说输入为4和5时应该出错才对 。

label=7， num_chunk_types=3
![image](https://user-images.githubusercontent.com/5926307/7

[2020-04-02 05:46] yocen commented on #23331
本地paddlepaddle1.7.0  HUB1.6.0
AI STUDIO paddlepaddle1.7.1 HUB1.5.0

后来发现在AI STUDIO上能直接通过性能监控查看显存占用情况，如图：
![微信截图_20200402133331](https://user-images.githubusercontent.com/11740205/78214350-9f790f80-74e7-11ea-98e4-349fb919a072.png)

事实发现，跑senta-bilstm的funetune，即使batchsize只设为2，显存占用也超过4G了。所以现在可以肯定，我在本地2G显存显卡运行报资源不足，确实是因为显存太小。

本帖原问题已弄清楚，谢谢。

ps：此外还发现AI STUDIO上的一个问题，
我想限制项目在AI STUDIO的显存使用，考虑到默认为auto_gr

[2020-04-02 05:51] Melonzhou commented on #23409
`    def forward(self, fields_dict, phase):
        """前向计算组网部分包括loss值的计算,必须由子类实现
        :param: fields_dict: 序列化好的id
        :param: phase: 当前调用的阶段，如训练、预测，不同的阶段组网可以不一样
        :return: 一个dict数据，存放TARGET_FEED_NAMES, TARGET_PREDICTS, PREDICT_RESULT,LABEL,LOSS等所有你希望获取的数据
        """
        instance_text_a = fields_dict["text_a"]
        record_id_text_a = instance_text_a[InstanceName.RECORD_ID]

[2020-04-02 05:52] Melonzhou commented on #23409
补充一下组网代码。chunk_eval应该只是指标计算，并不会影响反向传播吧？

[2020-04-02 05:59] ywlorna opened #23410 "运行paddle.fluid.install_check.run_check()时报NCCL错误"
**- 版本、环境信息**：
1）PaddlePaddle版本：1.7.1.post107
2）GPU：两块p40，cuda9.0，cudnn7
3）系统环境：Centos7，python2.7.5

**- 安装方式：**
python -m pip install paddlepaddle-gpu

**- 运行import paddle.fluid没问题；
运行paddle.fluid.install_check.run_check()报错信息如下：**
Running Verify Paddle Program ...
W0402 12:55:56.624688 30772 device_context.cc:237] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 10.1, Runtime API

[2020-04-02 07:28] zhiha opened #23416 "paddlepaddle1.7.1 Lenet5训练报错 AI Studio CPU容器"
start training ...
---------------------------------------------------------------------------EnforceNotMet                             Traceback (most recent call last)<ipython-input-6-ab00869528e3> in <module>
     67         model = LeNet("LeNet", num_classes=10)
     68         #启动训练过程
---> 69         train(model)
<ipython-input-6-ab00869528e3> in train(model)
     27             label = fluid

[2020-04-02 07:35] #21700 closed, assigned to nobody

[2020-04-02 08:28] iclementine commented on #23319
work in progress.
https://github.com/PaddlePaddle/Paddle/pull/23420

[2020-04-02 08:49] HuangLK commented on #19276
这么做有什么好处吗？为什么应要把这一步操作分离出来？

[2020-04-02 09:58] wjymath opened #23422 "多线程下预测结果不一致"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及

[2020-04-02 10:22] a178052771 opened #23425 "用官方的PointNet网络编译pointnet_lib.so报错error: ‘GradOpPtr’ has not been declared"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    2）CUDA:9.0
    3）cuDNN：7.3
    4）系统环境：Linux16.4、Python版本2.7
- 安装方式信息：
1）pip安装
- 复现信息：按github的步骤在~/models-develop/PaddleCV/3d_vision/PointNet++/ext_op/src里用sh make.sh编译
- 报错信息：
(tensorflow) xz@xz:~/models-develop/PaddleCV/3d_vision/PointNet++/ext_op/src$ sh make.sh
/home/xz/.conda/envs/tensorflow/lib/python2.7/site-packages/paddle/include
/home/xz/.conda/en

[2020-04-02 10:32] heavengate commented on #23410
这种一般是nccl没有正确安装和安装的版本不对，请参考Paddle安装文档 https://www.paddlepaddle.org.cn/install/quick 和NCCL安装文档 https://developer.nvidia.com/nccl 正确安装NCCL

[2020-04-02 10:35] heavengate commented on #23416
看报错信息是你用于`matmul`的两个矩阵的shape不匹配，请参考matmul文档使用正确shape的矩阵 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/matmul_cn.html#matmul
[code]
用于matmul的矩阵第一个矩阵的第二维是1920，第二个矩阵的第一维是120，没法做矩阵乘法

[2020-04-02 10:36] heavengate commented on #23425
请使用models release/1.7分支的代码，models develop上的代码适配了Paddle develop上的一些修改，使用models develop代码的话需要Paddle develop编译版本，使用Paddle1.7版本的话请使用modes release/1.7的代码

[2020-04-02 10:54] a178052771 commented on #23425
我是按REDEME文档中的p分支源码链接https://www.paddlepaddle.org.cn/install/quick 安装的应该是develop版本，我是学生，不是很懂。谢谢您

[2020-04-02 10:58] heavengate commented on #23425
`python -c "import paddle; print(paddle.__version__)"`可以查看paddle版本，pip安装的一般是1.7版本，models库用release/1.7版本就可以了

[2020-04-02 11:11] a178052771 commented on #23425
请问models库怎样换成release/1.7呢？

[2020-04-02 11:28] a178052771 commented on #23425
找到了是您上传的https://github.com/PaddlePaddle/models/tree/release/1.7/ 这个版本是吧，谢谢

[2020-04-02 11:31] heavengate commented on #23425
是的，如果你已经clone了models模型库的话可以
[code]

[2020-04-02 13:07] a178052771 commented on #23425
卡了几天的问题解决了，太感谢了

[2020-04-02 13:07] #23425 closed, assigned to nobody

[2020-04-02 13:48] ghost opened #23432 "如何使用预训练的VGG19模型，构建Truncated-VGG19?"
麻烦请教一下，我在复现SRGAN论文，如何在使用预训练的VGG19模型时，提取其中间特征图像出来，即论文中的Truncated-VGG19？谢谢！

[2020-04-02 14:48] guoshengCS commented on #19276
如果有对input的计算后的结果进行操作的需要，比如进行norm的操作，可以更灵活的支持

[2020-04-02 15:09] #23328 closed, assigned to nobody

[2020-04-02 15:26] heavengate commented on #23432
要取哪一层，直接return那一层，把之后的层注释掉就行，比如下段代码直接去fc1层
[code]

[2020-04-02 15:32] guoshengCS commented on #23409
是的，不会影响反向传播

使用IOB真实label是7个的话，num_chunk_types的正确设置应该3，输入为4和5时目前不会报错。请问7个label分别是什么呢
另外可否对num_chunk_types=3时指标不符合预期的case，在layers.chunk_eval前使用`layers.Print`使用出下贴出来，我们这边复现下

[2020-04-03 01:47] shippingwang commented on #23368
请问具体是什么任务呢？

[2020-04-03 01:53] LDOUBLEV commented on #23366
paddle 目前没有多目标跟踪的模型，只有[单目标跟踪](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/tracking)的。如果想实现多目标跟踪，可以利用DBT的方法来做，而且paddle有丰富的[detection模型](https://github.com/PaddlePaddle/PaddleDetection)

[2020-04-03 01:56] shippingwang commented on #23391
The latest version is 1.7 now.

[2020-04-03 02:32] Melonzhou commented on #23409
嗯嗯，有的，方便的话你可以登我的机器看看，复现环境是好的。

[2020-04-03 02:43] NHZlX commented on #23422
提供下复现单测以及模型吧

可以同步做以下测试：

1） 关闭mkldnn 看下结果是否一致。
2） 关闭iroptim 看下结果是否一致。

[2020-04-03 02:50] phlrain commented on #23365
fluid.default_main_program().random_seed = seed

[2020-04-03 03:14] #23416 closed, assigned to nobody

[2020-04-03 03:18] #23432 closed, assigned to nobody

[2020-04-03 06:26] #23365 closed, assigned to phlrain

[2020-04-03 06:30] kuke commented on #23373
可以用 slice op，将 `gaussian_random_batch_size_like` 生成的 tensor 截取一部分出来做加法

[2020-04-03 07:07] smartcai opened #23447 "EnforceNotMet [Hint: Expected dim_a.width_ == dim_b.height_, but received dim_a.width_:2304 != dim_b.height_:9216.] at (/paddle/paddle/fluid/operators/math/blas_impl.h:747)"
   1）PaddlePaddle版本：paddlepaddle 1.7.0+paddlehub1.5.0
    2）OS：Linux jupyter-262348-365692 4.4.0-166-generic #195-Ubuntu SMP Tue Oct 1 09:35:25 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
    3）CPU：Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz
    4）GPU：NA
    5）系统环境：Python3.7.4

Code:
#定义网络结构
class MyDNN(fluid.dygraph.Layer):
    def __init__(self, name_scope, num_classes=10):
        super(MyDNN, self)._

[2020-04-03 07:18] smartcai commented on #23447
x = fluid.layers.reshape(input, shape=[-1,3* 100* 100])

[2020-04-03 07:18] #23447 closed, assigned to nobody

[2020-04-03 10:14] a178052771 opened #23453 "跑官方的PointNet++训练模型时Warning: PaddlePaddle catches a failure signal, it may not work properly"
1）PaddlePaddle版本：1.7.1
2）CUDA:9.0
3）cuDNN：7.3
4）系统环境：Linux16.4、Python版本2.7
安装方式信息：
1）pip安装
2）models:release/1.7
问题：在跑跑官方的PointNet++训练模型时，按官方步骤操作到运行 sh scripts/train_cls.sh 后输出以下报错信息，然后程序停止，小白一个，完全没看懂报的是什么错以及怎么解决
报错信息：
(tensorflow) xz@xz:~/models-release-1.7/PaddleCV/3d_vision/PointNet++$ sh scripts/train_cls.sh
2020-04-03 15:10:47,093-INFO: ----------- Configuration Arguments -----------
2020-04-0

[2020-04-03 11:40] zhwesky2010 commented on #23143
@cvfzhong 请问下还有没有其他问题，如果没有的话可以关闭issue了哈

[2020-04-03 14:50] #23319 closed, assigned to luotao1, iclementine

[2020-04-03 17:12] Jason36912 opened #23473 "all error stack information: out of memory at (/paddle/paddle/fluid/platform/device_context.cc:221)"
using:   with fluid.dygraph.guard(place = fluid.CUDAPlace(0))
then error occured
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<char const*>(char const*&&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::__exception_ptr::exception_pt

[2020-04-03 18:38] lanking520 opened #23475 "Java integration with PaddlePaddle"
Hi,

This is not really an issue but I thought it would be easy to reach out to the PaddlePaddle community here, so please close this issue whenever you wish.

I represent the official group responsible of developing DJL, a framework Agnostic Deep Learning framework running on Java. We are quite interested to work with you for a Java frontend that can help the community growing more adoption in JV

[2020-04-03 18:51] jczaja commented on #23074
Thanks for all answers and explanation

[2020-04-03 18:51] #23074 closed, assigned to luotao1

[2020-04-03 18:52] jczaja commented on #23099
implemented in #23477

[2020-04-03 18:52] #23099 closed, assigned to nobody

[2020-04-04 09:27] JunKuangKuang opened #23487 "提出警告W0404 device_context.cc:237] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 10.1, Runtime API Version: 10.0"
`im_shape的维度： (1, 3, 32, 32)
results [array([[3.0364997e-09, 3.1183930e-07, 8.6202290e-06, 4.4916385e-05,
        6.8277484e-05, 7.2606611e-01, 8.2817266e-08, 2.7381164e-01,
        5.1946420e-17, 5.3443872e-10]], dtype=float32)]
infer results: dog
W0404 16:40:48.365986 14840 device_context.cc:237] Please NOTE: device: 0, CUDA Capability: 61, Driver API Version: 10.1, Runtime API Version: 10.0
W04

[2020-04-04 10:04] #23198 closed, assigned to wzzju

[2020-04-04 11:08] ghost opened #23489 "用动态图构建SRGAN网络时，出现未知报错信息"
![374700](https://user-images.githubusercontent.com/44671073/78430081-57085000-76a7-11ea-8a9a-bec1eb9dcb83.jpg)

[2020-04-04 11:42] hutuxian commented on #23487
感谢使用Paddle
该信息只是一个提示信息，提示您当前GPU的一些基本情况，是正常的，请放心使用。

[2020-04-04 11:51] hutuxian commented on #23489
麻烦您多提供一些信息。例如如果运行的是PaddlePaddle/models下面的模型，请提供一下模型库的版本。如果是您自定义的网络，请提供一个最小可复现的代码？

[2020-04-04 12:03] ghost commented on #23489
[srgan-code.zip](https://github.com/PaddlePaddle/Paddle/files/4431293/srgan-code.zip)

[2020-04-04 12:03] ghost commented on #23489
代码给您了，麻烦你看一下，谢谢！

[2020-04-04 12:15] chajchaj opened #23490 "百度搜索找到这个页面无法打开https://www.paddlepaddle.org.cn/documentation/docs/zh/1.6/beginners_guide/index_cn.html"
百度搜索找到这个页面无法打开https://www.paddlepaddle.org.cn/documentation/docs/zh/1.6/beginners_guide/index_cn.html

[2020-04-04 13:23] hutuxian commented on #23490
我们的官网在最新版对文档页面进行了一些调整，建议您查看如下最新版本的页面：
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.7/beginners_guide/index_cn.html

[2020-04-04 14:13] JunKuangKuang commented on #23487
谢谢

[2020-04-04 14:13] #23487 closed, assigned to hutuxian

[2020-04-04 14:27] #21277 closed, assigned to gavin1332, gongweibao

[2020-04-04 14:32] OleNet commented on #23373
我不是很明白，因为我提供代码很小， 所以能麻烦帮忙改一下我的代码吗？

[2020-04-04 15:11] OleNet commented on #23373
[code]
调通了

[2020-04-04 15:11] OleNet commented on #23373
[code]

不过遇到了另一个bug

[code]

[2020-04-05 00:26] #23253 closed, assigned to nobody

[2020-04-05 02:57] hutuxian commented on #23489
无法根据提供的代码复现您的报错，应该是有些输入数据没有附上。建议您先通过打印日志的方式定位出错的代码段。现在的信息不足以直接定位错误来源~

[2020-04-05 04:27] ghost commented on #23489
已将项目完整项目公开于AI Studio，https://aistudio.baidu.com/aistudio/projectdetail/374700
请您看一下，谢谢！

[2020-04-05 05:09] maosengshulei opened #23495 "fluid.layers.assign op 训练时报错"
单机训练时：

`vars = list(self.learn_program.list_vars())`

        target_vars = list(
            filter(lambda x: 'GRAD' not in x.name and 'target' in x.name, vars))
        policy_vars_name = [
            x.name.replace('target', 'policy') for x in target_vars
        ]
        policy_vars = list(filter(lambda x: x.name in policy_vars_name, vars))

        policy_vars.sort(key=lambda x: x.name)

[2020-04-05 06:23] SunGaofeng commented on #23495
1、是在CompileTime报错的，还是在RunTime报错的？
2、这里定义的 policy_vars = list(filter(lambda x: x.name in policy_vars_name, vars))
能检查下policy_vars中的Variable是否存在吗？可以打印下其中的Variable名字和shape，再就是看下Variable对应的tensor是否存在。

[2020-04-05 06:31] maosengshulei commented on #23495
1.Runtime时报错的：
![image](https://user-images.githubusercontent.com/26685090/78468348-c767ad80-7749-11ea-80b0-efcfd3d51f74.png)
2. print（policy_vars）的结果：
![image](https://user-images.githubusercontent.com/26685090/78468382-101f6680-774a-11ea-9375-d2e3da2dae07.png)

[2020-04-05 06:45] SunGaofeng commented on #23495
runtime的时候，policy vars里面的这些Variable是否已经在计算图里面被执行过了，也就是说它们对应的Tensor是否已经有值了？从报错信息来看，应该是这些Variable还没被计算到，他们只在CompileTime的时候被定义了shape和dtype，但是还没有用来存储数据的Tensor（或者LoDTensor）。
可以这样将Variable对应的Tensor取出，

           var_tensor = fluid.global_scope().var(var_name).get_tensor()

请检查下var_tensor的shape，如果Variable没有被计算到的话，var_tensor应该是空的。

[2020-04-05 06:55] maosengshulei commented on #23495
`

for i, var in enumerate(policy_vars):

            print(var.name)
            var_tensor = fluid.global_scope().var(var.name).get_tensor()
            print(var_tensor)
`

Error: Tensor not initialized yet when Tensor::place() is called.
  [Hint: holder_ should not be null.] at (/home/teamcity/work/ef54dc8a5b211854/paddle/fluid/framework/tensor.h:134)

似乎var_tensor是空的， 但是为什么不影响`sync_op = fluid

[2020-04-05 07:29] liuliuniu opened #23496 "anakin模型转换错误"
不知道anakin的问题是否可以在这里获得解答？
https://github.com/PaddlePaddle/Anakin/issues/543

非常感谢！

[2020-04-05 07:42] hubu-wangpei opened #23497 "使用py_func自定义的python op 可以用作激活函数吗"
不好意思，我是新手，如题目
使用py_func自定义的python op 可以用作激活函数吗，我想使用一个激活函数，但是已有的激活函数列表里没有

[2020-04-05 08:50] SunGaofeng commented on #23497
首先明确下您的需求，您是否是写一个类似下面这样的代码

       x2 = fluid.layers.fc(x1, 100, act='relu')

想将其中的'relu'换成您自己定义的py_func op（例如名字: pyfunc_xxx）? 如果是这样的话，是不支持写成  x2 = fluid.layers.fc(x1, 100, act='pyfunc_xxx')。
您可以这样子来实现计算过程：

       x2 = fluid.layers.fc(x1, 100, act=None)
       fluid.layers.py_func(func=pyfunc_xxx, x=[x2], out=output)

[2020-04-05 08:56] hubu-wangpei commented on #23497
感谢

[2020-04-05 08:56] #23497 closed, assigned to nobody

[2020-04-05 09:07] Shixiaowei02 commented on #23496
您好，Anakin 仓储从 2019 年 4 月起停止维护，请您使用 Paddle Fluid 或 Paddle Lite，如仍有问题请在这里留言，谢谢！

[2020-04-05 12:41] maosengshulei commented on #23495
我直接print（var_tensor)报错，这说明tensor是空的吗？但是我的程序应该在计算图中被执行过了啊。 不然为什么直接`fluid.layers.assign(policy_vars[i], target_vars[i])`是正常运行，而换成`fluid.layers.assign(decay * target_vars[i] + (1 - decay) * policy_vars[i], target_vars[i])`就报Error: The Input Variable(X) of assign Op used to determine kernel data type is empty or not LoDTensor or SelectedRows.

[2020-04-05 18:18] hubu-wangpei opened #23501 "复现改造AlexNet，无法收敛，acc一直是0.5左右，检查了很多方面还是找不出问题"
如题，根据paddle的教程和图像隐写分析的模型，改造了AlexNet模型。但是在训练的时候，最后的全连接层输出的预测值都是比较小的值，在0附近（下面有图），经过sigmoid函数后的值都在0.5左右。导致acc一直在0.5上下，loss在0.69左右，试过很多网上的方法，都不行。训练集里正反例各一半，训练时，随机读取。下面是具体代码

[code]
每一层卷积层又加了bachnorm，但还是不收敛，下面是训练的时候的数据

![图片](https://user-images.githubusercontent.com/45394242/78516155-2af5e780-77eb-11ea-8ad1-fb9e40531c05.png)

[2020-04-06 01:49] SunGaofeng commented on #23495
如果在计算图中已经被执行过了的话，是可以用来做assign op的input的。我前面的表述不准确，我建议您添加的检查var_tensor = fluid.global_scope().var(var_name).get_tensor()，只在CompileTime才会运行，编译时确实var_tensor是空的。Runtime检查Variable的数据应该用fluid.layers.Print(var)

[2020-04-06 01:56] SunGaofeng commented on #23495
这里的问题是不是因为target_vars[i]还没有被计算到，导致assign op的input，也就是 decay * target_vars[i] + (1 - decay) * policy_vars[I] ，它里面第一项没有数据？

[2020-04-06 04:08] heavengate commented on #23410
您好，请问问题解决了么~

[2020-04-06 06:18] FDInSky commented on #23323
@zhengzhe97 你是怎么解决的？

[2020-04-06 06:35] zhengzhe97 commented on #23323
改成了新增op，虽然慢了点，但是没error了

[2020-04-06 11:09] hubu-wangpei opened #23504 "报错InvalidArgumentError: Tensor holds the wrong type"
以下代码使用fluid.layers.softmax_with_cross_entropy(logits, label)，报错
[code]
报错信息

InvalidArgumentError: Tensor holds the wrong type, it holds float, but desires to be int64_t.
  [Hint: Expected valid == true, but received valid:0 != true:1.] at (/paddle/paddle/fluid/framework/tensor_impl.h:33)

softmax_with_cross_entropy调用参数，感觉没问题啊
![图片](https://user-images.githubusercontent.com/45394242/78552353-efced

[2020-04-06 11:10] FDInSky commented on #23323
@zhengzhe97 "改成了新增op"，什么意思？你写了一个op嘛？

[2020-04-06 12:40] liuliuniu commented on #23496
谢谢，不知道paddle lite和anakin有没有做过预测性能对比？

[2020-04-06 14:30] sandyhouse commented on #23504
如果loss = fluid.layers.softmax_with_cross_entropy(logits, label)这样调用的话，请却掉label=fluid.one_hot(label,2)这句。否则的话，可以设置fluid.layers.softmax_with_cross_entropy的soft_label=True

[2020-04-06 14:36] sandyhouse commented on #23501
请问你的基线是什么，相对于基线做了什么修改？

[2020-04-06 14:42] hubu-wangpei commented on #23501
在AlexNet的基础上，又增加了几层卷积层。可以说是重新设计网络结构了，下面是这个网络的结构图
![图片](https://user-images.githubusercontent.com/45394242/78570439-91b0ea80-7857-11ea-96ca-b645a0aff3a1.png)

我是根据别人的tensorflow版本改的，但是一直出现上面的情况。尝试过下面这些方法，还是无法解决，还有什么情况会导致这样的结果？

1 训练数据需要打乱，要检查每此batch是否都是一个类别，如果是，则没有办法优化；
2 检查网络是不是没有回传梯度，而是只做了前向运算；
3 检查输入数据是否有做标准化，可能直接传入 0∼255 像素进去了；
4 二分类问题中 0.5 的 acc 接近随机猜测的值，可以检查下标签是否标错；
5 检查参数有没有初始化；
6检查第一层的卷积输出是否

[2020-04-06 14:43] liuliuniu commented on #23496
尝试了下x2paddle，貌似仍然无法支持string类型的node？
`TFGraphNode`中的`dtype_map`没有string类型，转换时报错
raise Exception("Dtype[{}] not in dtype_map".format(dtype))
Exception: Dtype[7] not in dtype_map

[2020-04-06 15:03] hubu-wangpei commented on #23504
根据您的建议修改后，不会报错了，但是loss为0。我这是一个二分类的问题，label的shape为[batch_size,1]

[2020-04-06 16:44] qo4on opened #23509 "How to load pre-trained model and run inference?"
Hi! Parakeet looks very promising, but I can't find a working example to use.
I'm trying to run inference for [WaveFlow model](https://paddlespeech.bj.bcebos.com/Parakeet/waveflow_res128_ljspeech_ckpt_1.0.zip). How can I load this model and fed a mel spectrogram to it?

[2020-04-06 18:05] #23504 closed, assigned to nobody

[2020-04-07 01:15] hustwzq-nlp commented on #21917
我也面临相同的问题：

Error: Failed to create Cudnn handle in DeviceContext
  [Hint: CUDNN_STATUS_NOT_INITIALIZED] at (/paddle/paddle/fluid/platform/device_context.cc:283)

tensorflow-gpu 和pytorch-gpu 都正常，只有paddle不行。

[2020-04-07 02:09] sandyhouse commented on #23509
Please refer to the following doc for how to deploy inference model: https://www.paddlepaddle.org.cn/documentation/docs/en/advanced_guide/inference_deployment/index_en.html

[2020-04-07 02:14] sandyhouse commented on #23501
二分类问题的类别数不应该数2吗，为什么全连接层参数的ouput_dim设置为1： self.fc1 = Linear(input_dim=144, output_dim=1)

[2020-04-07 02:37] parap1uie-s commented on #23501
二分类问题用一个输出也合理吧，但fc的输出要是sigmoid激活

[2020-04-07 02:55] hubu-wangpei commented on #23501
是的，我这里用的sigmoid，先计算一个类别的概率,再计算另一个。我这里不知道为啥，acc一直在0.5
[code]

[2020-04-07 03:16] sandyhouse commented on #23501
有没有试过大一些的学习率，是不是学习太低导致模型更新较慢。或者有没有可复现的数据，我们复现一下看看。 @hubu-wangpei

[2020-04-07 03:27] hubu-wangpei commented on #23501
现在使用不了GPU服务器，稍晚一些我试试大一些的学习率。数据集，我公开了用于此次实验的数据集，使用bossbase_cover.zip、S-UNIWARD.zip 这两个压缩包里的图片作为数据集。bossbase_cover.zip里的是原始图像，S-UNIWARD.zip 是载密图像，各4w张。数据集地址为https://aistudio.baidu.com/aistudio/datasetdetail/26700
下面的代码是我划分训练集、验证集、测试集的代码，您可以直使用
[code]

[2020-04-07 04:53] heavengate commented on #21721
您好，当前问题长时间未回复，先关闭issue，如果还有问题，可以reopen此issue~

[2020-04-07 04:53] #21721 closed, assigned to heavengate

[2020-04-07 05:01] parap1uie-s commented on #23501
Paddle 的accuracy算子，是基于topk的，也就是只支持多分类的那个模式…
如果你模型只有一个输出的话，topk（argmax）的值恒为0，因此accuracy的输出，实际上是你数据中标签为0的数量的比例。

这个坑以前我踩过，解决方法是自己写一个正确率计算方法，比如这样：

[code]

[2020-04-07 05:25] luotao1 opened #23518 "bert_encoder_functor在V100上编译错误"
develop分支，V100机器，开发镜像`docker.io/paddlepaddle/paddle_manylinux_devel:cuda9.0_cudnn7`，出现编译错误
[code]

[2020-04-07 05:34] luotao1 commented on #23518
把下面几行注释后，就能正常编译了
https://github.com/PaddlePaddle/Paddle/blob/430b0099c9e6015514a4c5bb7f7fc6845fe4731b/paddle/fluid/operators/math/bert_encoder_functor.cu#L134-L136

[2020-04-07 05:48] hubu-wangpei commented on #23501
我改成了两个输出，
[code]
训练了5个epoch，正确率还是0.5，loss还是在0.69左右，，先不管正确率了，loss跟正确率没关系吧？怎么改loss也是在0.69附近

[2020-04-07 05:50] OleNet commented on #23373
@kuke 麻烦kuke 帮看一下这个是不是个 bug 哈

[2020-04-07 06:34] wjymath commented on #23422
关闭以上两个配置项后结果正确，感谢~多线程下可能需要关闭优化方法，建议更新在官网

[2020-04-07 06:34] #23422 closed, assigned to NHZlX

[2020-04-07 06:48] JepsonWong commented on #21917
可能是cuda/cudnn的环境变量没有设好，CUDA_HOME、LD_LIBRARY_PATH、LIBRARY_PATH 、PATH环境变量输出来看看。

[2020-04-07 07:02] #23453 closed, assigned to nobody

[2020-04-07 07:03] a178052771 opened #23530 "跑官方的PointNet++训练模型时Warning: PaddlePaddle catches a failure signal, it may not work properly"
1）PaddlePaddle版本：1.7.1
2）CUDA:9.0
3）cuDNN：7.3
4）系统环境：Linux16.4、Python版本2.7
安装方式信息：
1）pip安装
2）models:release/1.7
问题：在跑跑官方的PointNet++训练模型时，按官方步骤操作到运行 sh scripts/train_cls.sh 后输出以下报错信息，然后程序停止，没看懂报的是什么错，以及怎么解决呢？
报错信息：
[code]

[2020-04-07 07:22] sandyhouse commented on #23501
另外，你这个模型的出处在哪里，原始模型在数据集上的训练效果是什么样的？ @hubu-wangpei

[2020-04-07 07:24] heavengate commented on #23530
您本地gcc版本是多少呢，Paddle 1.7.1是pip安装的？pip的包是用gcc 4.8.2编译的，ext_op最好用gcc4.8版本编译，否则可能会有兼容性问题

[2020-04-07 07:26] hubu-wangpei commented on #23501
出处是一个tensorflow模型 [YeNet](https://github.com/changshihyoung/TensorFlow-YeNet)，训练6 、7个epoch后正确率就有70%多了，

[2020-04-07 07:34] a178052771 commented on #23530
gcc用的是4.8.4 ,Paddle 1.7.1是pip安装的release版本，编译出pointnet_lib.so文件后按readme里的步骤运行测试文件也没问题，是在运行网络训练时出现的这个报错

[2020-04-07 07:36] heavengate commented on #23530
数据集或者网络结构有修改什么么

[2020-04-07 07:43] a178052771 commented on #23530
传播次数epoch设为了10，其他都没改动。

[2020-04-07 08:11] qo4on commented on #23509
Thanks for your answer. Unfortunately I still can't find the code, which loads the model. There is a [C++ example](https://www.paddlepaddle.org.cn/documentation/docs/en/advanced_guide/inference_deployment/inference/native_infer_en.html), but I need the same for Python. For example, with Tensorflow I have a checkpoint:

[code]

I can create a model, load weights and run inference:

[code]

Using `P

[2020-04-07 08:15] sandyhouse commented on #23509
I see. You can use load_inference_model to load your model. For more detail, please refer to https://www.paddlepaddle.org.cn/documentation/docs/en/api/io/load_inference_model.html

[2020-04-07 08:41] ZHUI commented on #23125
我这边目前暂时的解决方案是，用户日志也使用 RootLogger 来打印日志，覆盖掉paddle新建的那个RootLogger。希望对你有帮助
[code]

[2020-04-07 09:00] #23490 closed, assigned to hutuxian

[2020-04-07 09:27] DrRyanHuang opened #23553 "希望paddle可以集成更多常用的算法"
在`tensorflow`中收编了很多常用的算法，如SSIM等。

昨日，想用一个常数卷积核对图片做相关操作，好麻烦，先得 `NumpyArrayInitializer`，然后`ParamAttr`, 最后`Embedding`，有点儿麻烦，希望，paddle也可以集成一些常用的算法

[2020-04-07 09:37] sandyhouse commented on #23501
你先做一下对齐吧，比如初始化参数和模型结构。如果和TF实现对齐后精度还是有问题，可以抛出来一起看一下。 @hubu-wangpei

[2020-04-07 09:48] hubu-wangpei commented on #23501
好的

[2020-04-07 10:17] qo4on commented on #23509
The code from [this link](https://www.paddlepaddle.org.cn/documentation/docs/en/api/io/load_inference_model.html) creates three files:

![image](https://user-images.githubusercontent.com/35609308/78657667-88b92b00-78e2-11ea-8076-177f649526a1.png)

And when loading my checkpoint it looks for `__model__` and throws an error because I don't have it:

[code]

How can I create a model from these two fi

[2020-04-07 10:38] sandyhouse commented on #23509
How do you get the pre-trained model. If you save the model with one of the apis save_persistables, save_params or save_vars, then you can load the model using one of load_persistables, load_params, or load_vars.

[2020-04-07 10:43] qo4on commented on #23509
It is PaddlePaddle official [pretrained model](https://github.com/PaddlePaddle/Parakeet#pre-trained-models-and-audio-samples). They didn't tell how they saved it.

[2020-04-07 10:49] sandyhouse commented on #23509
Please use load_parameters. For example:
![image](https://user-images.githubusercontent.com/6737864/78660920-806fe880-7900-11ea-99c8-bed30c48ae91.png)

[2020-04-07 11:18] qo4on commented on #23509
I have `iteration=0`:
[code]

If I try `checkpoint_path` I have an error:

[code]

[2020-04-07 11:36] 131250208 opened #23564 "自定义数据集与官方文档输出一致，却报The last dimensions of the 'Ids' tensor must be 1"
使用的自定义数据集，依照官方文档的数据定义如下：
[code]
reader的输出：
[code]
我尝试了一下官方案例的手写数字识别数据的输出，输出的格式是一致的，不知道为什么会报错。
这是我的variable定义：
[code]
报错代码的行:
[code]

[2020-04-07 11:48] sandyhouse commented on #23509
You only need to provide the base name of the parameter file, which is step-2000000, no extension name .pdparams or .pdopt is needed.

[2020-04-07 11:49] lidanqing-vv commented on #23034
@juncaipeng  Can we close this issue?

[2020-04-07 11:52] hutuxian commented on #23489
抱歉回复不及时。建议您先自行定位一下出错的代码行，然后再贴出来进行排查。之前的报错信息不足以判断出出错的原因，谢谢。

[2020-04-07 12:07] ghost opened #23567 "动态图中fluid.dygraph.Conv2D()输出数据维度与理论不符"
根据卷积原理，将padding数值设置为（filter_size-1)//2时，输入数据与输出数据的维度应保持一致，但在实际使用过程中，出现了变化。如图所示，求解答，谢谢！
![QQ图片20200407200426](https://user-images.githubusercontent.com/44671073/78667307-4d7f2200-790b-11ea-8964-d6395961662b.png)
![QQ图片20200407200423](https://user-images.githubusercontent.com/44671073/78667334-566ff380-790b-11ea-876b-f8bab378be44.png)
![QQ图片20200407200418](https://user-images.githubusercontent.com/4

[2020-04-07 12:07] ceci3 commented on #23553
收到，感谢反馈~

[2020-04-07 12:08] ceci3 commented on #23564
你好，请问下具体的报错信息可以贴一下吗？

[2020-04-07 12:17] ceci3 commented on #23567
请问下你的filter_size设置的是偶数吗？ 根据卷积output_size的公式计算`将padding数值设置为（filter_size-1)//2时，输入数据与输出数据的维度应保持一致，`是正确的，但是实际过程中 (filter_size -1)/2这一步是向下取整的，所以如果`(filter_size -1)`为奇数的话，output_size和input_size是不同的

[2020-04-07 12:25] jiangjiajun commented on #23496
Hello，目前X2Paddle确实不支持string类型的节点， 请问你是转什么模型时遇到了上述的问题的呢

[2020-04-07 12:26] marcelotrevisani opened #23569 "Please add the sdist package on PyPI"
Please add the sdist package on PyPI

[2020-04-07 12:32] Shixiaowei02 commented on #23496
下列性能是 2019 年 4 月份的历史数据，请参考。

Tesla P4, BatchSize = 1, float32

vgg16
paddle:10.32ms
paddle-anakin:8.62ms

resnet50
paddle:7.12ms
paddle-trt:5.06ms
paddle-anakin:3.55ms

googlenet
paddle:6.98ms
paddle-trt:2.78ms
paddle-anakin:4.30ms

mobilenet-v1
paddle:1.98ms
paddle-trt:1.26ms
paddle-anakin:1.40ms

[2020-04-07 12:45] ghost commented on #23567
我的代码中filter_size为3，那么此时我应该怎么修改代码使得输入输出维度不变呢？谢谢

[2020-04-07 12:54] hubu-wangpei commented on #23501
是不是这里的loss计算的有问题，我这样写有错吗，模型的输出是两个值，batch_size为10，那么logits 的shape为[10,2]，而label的shape为[10,1] 即[[0],[1]....]这个样子，然后我下面用的softmax_with_cross_entropy(logits,label) ,这样是不是不对？
[code]

[2020-04-07 13:22] ceci3 commented on #23567
固定一下padding=1呢，但是按理说filter_size=3的时候输出维度是不变的。方便贴一下可复现代码嘛？

[2020-04-07 13:34] ghost commented on #23567
我在Paddle群里讨论这个问题，好像只有我有这个问题，我把整个pycharm工程文件夹给你，只留了一个batch的数据。麻烦您看一下，谢谢！
[可复现代码-pycharm工程.zip](https://github.com/PaddlePaddle/Paddle/files/4444667/-pycharm.zip)

[2020-04-07 13:59] ceci3 commented on #23567
好的 我看一下~

[2020-04-07 14:04] yzhw9981 opened #23578 "预测时候CPU跑的结果与GPU跑的结果完全不同"
使用python预测，CPU跑的结果与GPU跑的结果完全不同
paddle版本171
GPU环境为paddlecloud默认的GPU环境配置
CPU环境为paddlecloud默认的CPU环境配置
均为单机单卡(单CPU）

为了排除程序上可能潜在的问题，使用训练模式，置lr=0.0，batchsize为相同的值，load预训练好的模型文件后，step1的得出的softmax后向量GPU与CPU有巨大的差异，CPU结果看起来完全是错的，GPU结果正常。

附代码初始化环境的部分。具体业务代码如果需要后续通过hi的方式提供
def main(args):
    config = PageTransformerConfig(args.config_path)
    config.print_config()

    if args.use_cuda:
        #gpu

[2020-04-07 14:16] zengqi0730 opened #23579 "请问如何打印网络结构"
您好，请问paddle怎么打印定义好的网络模型，像netron一样可视化

[2020-04-07 14:32] ceci3 commented on #23567
你好，你参数传错了，small_kernel_size应该是想传3进去吧？但是train.py里传的是scaling_factor，是4

[2020-04-07 14:35] ceci3 commented on #23578
你好，`step1的得出的softmax后向量GPU与CPU有巨大的差异，`这句话的意识是softmax这个操作之前的值cpu和gpu是一样的，经过一个softmax之后不同了吗？

[2020-04-07 14:37] ceci3 commented on #23579
如果想用netron来可视化的话可以调用save_inference_model这个接口先保存一份__model__文件，然后用netron来可视化这个文件就可以了

[2020-04-07 14:41] yzhw9981 commented on #23578
刚才我详细debug了下，在softmax前就有问题了。在输入层，经过一层FC后，CPU上的值有了nan，但是gpu上的值正常

[2020-04-07 14:42] yzhw9981 commented on #23578
#add struct features
        struct_features = fluid.layers.Print(struct_features, message="ori_struct_feature", summarize=-1)
        struct_emb = self._layer_norm("struct_emb", fluid.layers.fc(
                input=struct_features,
                size=self._emb_size,
                act=self._hidden_act,
                num_flatten_dims=2,
                param_attr=fluid.ParamAttr(

[2020-04-07 14:43] yzhw9981 commented on #23578
def _layer_norm(self, name, input_emb):
        fluid.layers.Print(fluid.layers.has_nan(input_emb), message=name+"_nan_test")

[2020-04-07 14:46] sandyhouse commented on #23509
Closing this issue. If you have any further question, please reopen it.

[2020-04-07 14:47] sandyhouse commented on #23509
Closing this issue. If you have any further question, please reopen it.

[2020-04-07 14:51] ceci3 commented on #23578
fc的话，cpu和gpu调用的都是同一个库，如果cpu出nan，但是gpu没有，那有可能是gpu上对nan之类的值做了什么保护机制。是只有nan那个值不同还是所有的值都不同？

[2020-04-07 14:55] yzhw9981 commented on #23578
这个fc在输入层，出了nan后续肯定都有问题了。这个有短线兼容的方案么，不然我们GPU训出的模型无法在CPU机器上上线呢

[2020-04-07 15:31] ceci3 commented on #23578
请问下cpu和gpu中fc的输入数据是一样的吗？

[2020-04-07 15:35] qingqing01 commented on #23578
@yzhw9981 一般FC的GPU和CPU计算相等的，一个调用cublas，一个调用cblas。不然Paddle框架的单测都过不了。能否把`struct_fc.w`和 `struct_fc.b`都打印下统计值。

[code]

`struct_features` 能否全部fetch出来，打印下统计值，看下。以及 `self._hidden_act` 是啥？

[2020-04-07 15:52] yzhw9981 commented on #23578
看起来GPU上struct_fc.w已经nan了，bias正常。
激活函数用的relu

[2020-04-07 16:52] Boyan-Liu commented on #23475
Hi,

Thanks for your contact. We are pleased and welcome to have outside contributors.
Please allow us to respond you after the discussion.

[2020-04-07 19:13] ghost commented on #23567
不好意思，太依赖自动补齐了，没细看，耽误您时间了

[2020-04-07 20:14] qo4on commented on #23509
I still can't make it work. Suppose I have a mel spectrgram (can be copypasted to Colab):

[code]
[code]
Then I load the model:
[code]

I'm not sure, but `iteration=0` means that pretrained model was not loaded, am I right?
Then I add spectrogram `S` to `batch=1` and synthesize:

[code]

Do you know how I can fix this error?

[2020-04-07 21:14] yzhw9981 commented on #23578
多谢提醒，问题已经解决。仔细检查数据定位，发现有脏数据（训练数据中有nan）导致了出错。

[2020-04-07 23:30] lidanqing-vv commented on #23034
We will wait validation team to go through the whole document #23361 , reproduce and achieve expected accuracy, then we will close this issue.

[2020-04-07 23:50] #23553 closed, assigned to ceci3

[2020-04-08 01:47] sandyhouse commented on #23509
Please note that io.load_params has no return values. The type of the 'x' parameter (i.e. mel) for cast must be Paddle Variable instead of numpy array.  Maybe, you can use paddle.fluid.dygraph.to_variable to convert a numpy array to a Paddle Variable.

[2020-04-08 01:53] sandyhouse commented on #23501
softmax_with_cross_entropy(logits,label)的写法是对的。如果隐写图像和原始图像的很多统计特征相似的话，的确有可能导致分类不准确。TF的实现也是用的同样的数据集吗？

[2020-04-08 01:54] hubu-wangpei commented on #23501
是用的同样的数据集

[2020-04-08 01:58] sandyhouse commented on #23501
如果所有的实现细节，包括数据预处理，模型结构、参数初始化等过程都是和TF对齐的，那么理论上准确率也应该是基本持平的。方面打包贴一下对齐后的代码吗，我们复现一下结果。

[2020-04-08 02:08] hubu-wangpei commented on #23501
原tensorflow模型 [YeNet](https://github.com/changshihyoung/TensorFlow-YeNet)，我公开了用于此次实验的数据集，使用bossbase_cover.zip、S-UNIWARD.zip 这两个压缩包里的图片作为数据集。bossbase_cover.zip里的是原始图像，S-UNIWARD.zip 是载密图像，各4w张。数据集地址为https://aistudio.baidu.com/aistudio/datasetdetail/26700。
处理数据集的代码
[code]
对齐后的代码
[code]

[2020-04-08 02:26] ceci3 commented on #23578
那这个issue就先关掉了，有别的问题可以在打开。

[2020-04-08 02:26] #23578 closed, assigned to nobody

[2020-04-08 02:29] ceci3 commented on #23567
好的，那我先关掉这个issue了，有什么问题可以在打开。

[2020-04-08 02:29] #23567 closed, assigned to ceci3

[2020-04-08 02:52] sandyhouse commented on #23501
能方便吧TF的运行日志也贴一下吗？

[2020-04-08 03:15] hubu-wangpei commented on #23501
晚点发给你，我在重新跑Tensorflow的需要点时间

[2020-04-08 04:32] duwenzhao opened #23602 "dygraph模式下，加载预训练模型参数load_vars时出错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.0
    2）GPU：v100
    4）系统环境：Python3.7
- 训练信息
    1）单机/单卡
    2）显存16GB
  从https://github.com/PaddlePaddle 中下载的预训练模型参数是conv1_1_weights 类型，想在动态图模式下加载这种预训练参数，使用load_vars加载：
src_pretrain_model_path = '/home/aistudio/vgg16/'
def if_exist(var):
    path = os.path.join(src_pretrain_model_path, var.name)
    exist = os.path.exists(path)
    return exist
with fluid.dygrap

[2020-04-08 04:36] hubu-wangpei commented on #23501
tensorflow模型，loss在减小
![image](https://user-images.githubusercontent.com/45394242/78744997-911e6e00-7995-11ea-8d8c-31d2513b788d.png)

[2020-04-08 04:50] rudaoshi opened #23604 "请问如何实现tf/theano 的 Function功能？"
对于静态图如何实现？

对于动态图，应该会比较容易？

[2020-04-08 06:15] liuliuniu commented on #23496
MLP+Attention的结构，特征中已经把string类型的全部去掉，但是tf会自行添加Assert的结点，其类型是string。

[2020-04-08 06:55] LMXKO opened #23612 "使用ernie进行finetune时报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7
    2）CPU：32个 Intel(R) Xeon(R) Silver 4110 CPU @ 2.10GHz
    3）GPU：无GPU
    4）系统环境：Centos，Python 2.7
- 模型信息
    1）模型名称 ：ernie
    2）使用数据集名称： dureader
    3）使用算法名称 ：
    4）模型链接：https://ernie.bj.bcebos.com/ERNIE_1.0_max-len-512.tar.gz
- 复现信息：
准备好dureader格式的数据，进行相应的路径配置
运行script/zh_task/ernie_large/run_drcd.sh
报错如下：
![image](https://user-images.githubusercontent.co

[2020-04-08 07:17] chenwhql commented on #22949
@mottled233 @minhozhou 两位好，后来还有问题吗？这个issue可以关闭了吗？

[2020-04-08 08:44] lidanqing-vv commented on #23034
The new models failure problem is solved.  #23361 document improvement is ongoing, but not related to this issue

[2020-04-08 08:44] #23034 closed, assigned to wojtuss

[2020-04-08 09:11] sandyhouse commented on #23501
你的模型实现和TF的实现没有完全对齐呀。
我用你的代码，做了下面的修改：
1. Optimizer做了对齐：
    opt = fluid.optimizer.AdadeltaOptimizer(learning_rate=4e-1, epsilon=1.0e-8, rho=0.95, parameter_list=model.parameters())
2. 图像处理部分做了修改(transform_img)：
    注释掉下面两行：
    # img=img/255.0
    # img=img*2.0 - 1.0
3. img = cv2.imread(filepath,0)修改为img = misc.imread(filepath)

修改后loss值可以下降，acc值也可以上升。
![image](https://user-images.githubusercontent

[2020-04-08 09:12] hubu-wangpei commented on #23501
非常感谢，我再仔细看看

[2020-04-08 09:31] #23579 closed, assigned to nobody

[2020-04-08 09:37] hubu-wangpei commented on #23501
真不知道为啥，我按照您说的修改了，还是那样，您能把您修改后的代码贴一下吗（非常感谢）。

[2020-04-08 09:52] sandyhouse commented on #23501
[code]

[2020-04-08 09:59] hubu-wangpei commented on #23501
非常感谢您的指导。

[2020-04-08 09:59] #23501 closed, assigned to sandyhouse

[2020-04-08 11:50] ceci3 commented on #23569
Sorry, I'm wondering why do you need this kind of package?

[2020-04-08 12:22] qo4on commented on #23509
Thank you. I managed to run it with no errors. But the output file contains noise only. Do you know what's wrong?
This code is based on [official example](https://github.com/PaddlePaddle/Parakeet/tree/develop/examples/waveflow):
[code]

[2020-04-08 12:36] marcelotrevisani commented on #23569
a lot of package managers need the source distribution to compile, manage and create the packages.
They usually do not use the wheels, (some linux distributions also need it,) such as debian (apt packages), conda, etc..

[2020-04-08 12:47] hubu-wangpei opened #23655 "动态图构建的网络有类似于save_inference_model的API，用于保存模型，然后预测的吗"
如题，用动态图构建的网络，save_inference_model好像只能用于保存静态图模型？fluid.save_dygraph只能用于恢复训练？请问如何保存动态图构建的网络，然后可以部署在AI Studio的在线服务上

[2020-04-08 18:58] qo4on commented on #23509
I found that there is a `get_mel` function in the code examples which does some normalization. I applied it here. But I'm still getting a noise audio file. Please help.
[code]

[2020-04-09 01:54] ywlorna commented on #23410
问题已解决，非常感谢！

------------------

袁微

北京邮电大学/本科生/电子工程学院

13269477988

北京

&nbsp;
&nbsp;
&nbsp;
------------------&nbsp;Original&nbsp;------------------
From: &nbsp;"Kaipeng Deng"<notifications@github.com&gt;;
Date: &nbsp;Mon, Apr 6, 2020 12:08 PM
To: &nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
Cc: &nbsp;"ywlorna"<yuanwei1@bupt.edu.cn&gt;; "State change"<state_change@noreply.github.co

[2020-04-09 02:27] DDDivano commented on #23655
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn/TracedLayer_cn.html#tracedlayer 可以用动态图转静态图，然后使用c++预测库进行预测

[2020-04-09 02:28] zoulu995 opened #23667 "API文档错误"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/shuffle_cn.html
paddle.fluid.io.shuffle(reader, buffer_size)
这里描述的第2个参数是buffer_size，但实际源代码里面是buf_size，在使用中发现。希望能对文档的接口都check一下，中文文档好评。

[2020-04-09 02:29] hubu-wangpei commented on #23655
感谢

[2020-04-09 02:29] #23655 closed, assigned to nobody

[2020-04-09 02:30] zoulu995 opened #23668 "API文档错误"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/shuffle_cn.html
paddle.fluid.io.shuffle(reader, buffer_size)
这里描述的第2个参数是buffer_size，但实际源代码里面是buf_size，在使用中发现。希望能对文档的接口都check一下，中文文档好评。

[2020-04-09 05:29] FDInSky commented on #23602
可以将原先的weight转成numpy，再通过load_dict进行加载

[2020-04-09 05:36] FDInSky commented on #23604
目前没有类似的api，但静态图里可以使用paddle.fluid.layers.py_func来进行交互，动态图可以用to_numpy(), to_variable()来实现

[2020-04-09 05:53] jiangjiajun commented on #23496
如果方便的话，可以将pb模型提供给我这边来debug一下

[2020-04-09 06:33] FDInSky commented on #23612
你好，已经找相关同学帮你排查

[2020-04-09 08:12] zhaoyuchen2018 commented on #23668
好的，谢谢，确实存在问题，后面我们修改一下。

[2020-04-09 09:41] zhwesky2010 commented on #22576
@casolxia 这个一般是nvidia显卡的驱动太低的问题，后续Paddle 2.0发版会优化CUDA相关的报错信息内容，目前的确实提示较少

[2020-04-09 11:21] ljx111 opened #23689 "How to solve the problem when I deploy the test of PaddleSeg?"
the deploy order is: python infer.py --conf=/path/to/deploy.yaml --input_dir/path/to/images_directory --use_pr=False, reference link: https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.4.0/deploy/python

The wrong information is following:

I0409 19:09:09.204787 13298 analysis_predictor.cc:84] Profiler is deactivated, and no profiling report will be generated.
I0409 19:09:09.218232 13298 an

[2020-04-09 11:54] duwenzhao commented on #23602
使用python的open读取weight，应该从第几个字节开始读取？load_dict是paddle的API吗？在paddle的API中没有搜到load_dict.有这方面的参考代码的地址吗？如果能给个例子最好。@FDInSky

[2020-04-09 12:22] jiweibo commented on #22827
The memory leak problem has been located and resolved, thanks to all friends for their contributions.

[2020-04-09 12:36] ellinyang opened #23693 "RuntimeWarning: Invalid value encountered in median"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle1.6.2-cuda9-cudnn7
    2）GPU：P4(8G)
    3）系统环境：Unbuntu 16.04 python2.7
- 训练信息
    1）2机2卡分布式（fleet.dgc）训练
    2）显存信息 P4(8G)
    3）学习率 单卡0.00125

- 问题描述：用retinanet模型训练，正常训练了几十个batch之后，突然报错，显示“RuntimeWarning: Invalid value encountered in median”警告。然后loss都变为nan,日志如下所示。
2020-04-08T14:58:09.615807324Z  Epoch 0, batch 40,  lr: 0.003000, 'loss_bbox': '0.414711', 'loss

[2020-04-09 13:22] zhengzhe97 opened #23697 "paddledetection如何评估COCO test集"

[2020-04-09 13:58] zle1992 opened #23699 "paddle 有meta learning 的例子么？"
https://github.com/Feiyang/MetaEmbedding/blob/master/code/example-MovieLens.ipynb
https://github.com/hoyeoplee/MeLU/blob/master/MeLU.py
这是2篇meta learning的代码实现，想知道paddle 有木有类似的例子实现gradient by gradient。

[2020-04-09 14:16] qo4on commented on #23509
Do you have any idea why this is happening?

[2020-04-09 14:35] liuliuniu commented on #23496
我邮件你，感谢~

[2020-04-10 02:18] zhaoyuchen2018 commented on #23693
2020-04-08T14:58:36.399604018Z /usr/local/lib/python2.7/dist-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median

这个是numpy的报错，你在之前打印一下送到numpy里面的值，定位到具体是哪个变量的问题看看。

[2020-04-10 02:26] zhaoyuchen2018 commented on #23689
Error Message Summary:
Error: An error occurred here. There is no accurate error hint for this error yet. We are continuously in the process of increasing hint for this kind of error check. It would be helpful if you could inform us of how this conversion went by opening a github issue. And we will resolve it with high priority.

New issue link: https://github.com/PaddlePaddle/Paddle/issues/new
Re

[2020-04-10 02:27] zhaoyuchen2018 commented on #23667
same with 23668

[2020-04-10 02:27] #23667 closed, assigned to nobody

[2020-04-10 02:44] jerrywgz commented on #23697
paddledetection默认都是在coco val2017上进行评估的，如果想在test集上测试可以直接在reader的配置文件中设置image_dir和anno_path，具体可以参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/configs/faster_reader.yml#L39 这里的链接

[2020-04-10 02:45] jerrywgz commented on #23697
另外，PaddleDetection的相关问题可以在https://github.com/PaddlePaddle/PaddleDetection/issues 里提问，我们每天会有专门负责检测问题的值班同学跟进

[2020-04-10 02:55] Shixiaowei02 commented on #23341
@Liuhan703

由于历史原因，目前 Paddle LoD 有两种表示：相对偏移（Python，原生训练前向预测）和绝对偏移（C++，预测部署）。近期为方便使用，C++ 预测部署的部分接口支持了 Python 绑定，所以原先根据语言区分的两种 LoD 偏移用法开始造成混淆。

Paddle 内部正在讨论如何处理这个问题。因为修改原有接口会导致向后不兼容，所以我们可能会增加一个新接口解决这个问题。

[2020-04-10 02:59] #22827 closed, assigned to nobody

[2020-04-10 03:01] zhaoyuchen2018 commented on #23699
API接口参考这个: https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/gradients_cn.html#gradients.
example：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/gan/trainer/StarGAN.py#L150

[2020-04-10 03:17] kinghuin opened #23708 "cross_entropy(ignore_index)和mean组合使用结果不正确"
用户反馈组合使用cross_entropy(ignore_index)和sum求出来的结果是正确的
但和 mean组合起来，求出来的结果不正确，
原因可能是cross_entropy的维度依然包括ignore_index的位置，导致mean的分母不正确

![image](https://user-images.githubusercontent.com/11913168/78959017-49761e80-7b1c-11ea-863f-00121a423281.png)

目前是建议用户fetch loss之后在python端自己求mean

[2020-04-10 03:54] SunGaofeng commented on #23708
这么做是否可以满足需求？
1、cross_entorpy + sum
2、求出label不为ignore index的元素个数
然后用这两者相除

[2020-04-10 06:50] jiangjiajun commented on #23496
我这边大致看了你的模型，目前X2Paddle还缺少不少对应的OP，短期内还无法支持你这边模型的转换。X2Paddle目前主要支持的是CV模型的转换，其它的模型支持目前也在开发中。

[2020-04-10 07:05] liuliuniu commented on #23496
好的，谢谢。

[2020-04-10 07:05] #23496 closed, assigned to Shixiaowei02

[2020-04-10 07:19] jxydlj opened #23719 "想求一个用paddle、AlexNet模型做mnist训练的代码"
纯小白一个，学的很死，AI Studio上只有用LeNet做mnist的代码，尝试自己修改成用AlexNet模型但一直无法成功，望有大佬手写或分享一个paddle用AlexNet模型mnist的代码

[2020-04-10 07:20] jxydlj commented on #23719
import paddle
import paddle.fluid as fluid
import numpy as np
from paddle.fluid.dygraph.nn import Conv2D, Pool2D, Linear

# 定义 AlexNet 网络结构
class AlexNet(fluid.dygraph.Layer):
    def __init__(self, name_scope, num_classes=3):
        super(AlexNet, self).__init__(name_scope)

        # AlexNet与LeNet一样也会同时使用卷积和池化层提取图像特征
        # 与LeNet不同的是激活函数换成了‘relu’
        self.conv1 = Conv2D(num_channels=1,

[2020-04-10 07:21] jxydlj commented on #23719
望不吝赐教，指出问题

[2020-04-10 07:41] 606BlueStar opened #23721 "PaddleDetection 预测使用trt_fp32、trt_fp16、trt_int8时出现错误"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    3）GPU：CUDA10.0和CUDNN7.6.5 ; TensorRT:'6.0.1.5'
    4）系统环境：ubuntu18.04,
-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
    4）预测方式：https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/docs/advanced_tutorials/inference/INFERENCE.md
- 复现信息：使用trt_fp32、trt_fp16、trt_int8模式预测模型时，出现错误，使用fluid模式预测没有问题；错误信息：
Traceback (most recent call last):
  File

[2020-04-10 08:08] kinghuin commented on #23708
这样子就是用户使用cross_entropy(ignore_index)后的后处理得自己注意一点了

[2020-04-10 08:19] NHZlX commented on #23721
依赖的paddle inference lib不具有trt 子图功能。。

[2020-04-10 08:20] liupluswei commented on #23719
你好， 我们模型库中暂时还没有写好的动态图AlexNet 代码，请描述一下你碰到的具体问题，我这边可以找相关同事解答一下

[2020-04-10 08:30] 606BlueStar commented on #23721
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/docs/advanced_tutorials/inference/INFERENCE.md
这里面不是写了可以吗？

[2020-04-10 08:30] 606BlueStar commented on #23721
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/docs/advanced_tutorials/inference/INFERENCE.md
这里面不是写了可以吗？

[2020-04-10 08:37] L-lei opened #23725 "动态图模型转静态图不能指定模型文件与参数文件"
版本：
Name: paddlepaddle
Version: 1.7.1

动态图转静态图中不能指定模型文件与参数文件，转换后的文件目录下有很多权重文件
TracedLayer.save_inference_model(self, dirname, feed=None, fetch=None)

fluid.io.save_inference_model(
                dirname=dirname,
                feeded_var_names=feeded_var_names,
                target_vars=target_vars,
                executor=self._exe,
                main_program=self._program.clone())

[2020-04-10 08:41] jxydlj commented on #23719
感谢您看到并回复了我

我是一直跟着AI Studio上的深度学习入门视频学习的，因学习时间较短水平较低，还处于搬运代码的水平，这个代码就是由LeNet做mnist的训练部分以及定义AlexNet模型部分拼接起来的。主要问题在于：
1、不清楚第一个全连接层中的输入数据是怎么来的，该如何计算这个数据（报错可能点之一）
2、训练过程中输入数据形状的转化可能有问题

如果可能的话占用您或其他一点时间帮我修改指正。

再次感谢

[2020-04-10 08:51] liupluswei commented on #23725
感谢反馈，我们会内部讨论这个需求，然后根据优先级安排排期开发，谢谢

[2020-04-10 09:35] lijianshe02 commented on #23719
请参考： https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/alexnet.py

[2020-04-10 09:48] lijianshe02 commented on #23719
feature在进入fc1层之前，需要进行reshape操作，假如reshape之前的feature shape为[N, C, H, W], 那么需要将该feature reshape成[N, C*H*W], 然后将reshape后的数据输入到fc1中；对应你的代码中这个：
    x = self.pool5(x)
    x = fluid.layers.reshape(x, [x.shape[0], -1])
    x = self.fc1(x)

[2020-04-10 10:23] OliverLPH commented on #23721
Paddle python api如果要调用trt，需要自己编译

[2020-04-10 10:39] jxydlj commented on #23719
emmm，需要怎么改呢

[2020-04-10 11:35] chenwhql commented on #22949
先关闭了，有问题再open

[2020-04-10 11:35] #22949 closed, assigned to nobody

[2020-04-10 12:54] NHZlX commented on #23721
PaddleDetection预测依赖Paddle Inference 预测lib。 这个lib是在哪里下载的呢

[2020-04-10 13:05] DrRyanHuang opened #23735 "`fluid.layers.flatten`不能添加到`Sequential`"
`python3.6`
`paddle1.7`

`fluid.layers.flatten`不能像`tf.Keras`一样添加到`Sequential`中，还是有别的方法添加？

`Sequential`只能添加到动态图的类吗？

[2020-04-10 13:29] liupluswei commented on #23735
Sequential暂时还无法添加非Layer类型的API，我们会记录您的需求，尽快完善动态图的相关功能

[2020-04-10 15:47] qo4on commented on #23509
I replaced my test audio file with the audio from ljspeach dataset. It doesn't change anything, I'm still getting noise. To reproduce run this code in Colab:

[code]

[2020-04-10 16:38] qo4on opened #23739 "PaddlePaddle Hub"
Does PaddlePaddle have a models hub (like torch hub or tensorflow hub)? I'm looking for a text2mel model such as FastSpeech or Tacotron2.

[2020-04-11 03:00] 606BlueStar commented on #23721
请问有教程吗？麻烦您发一下，感谢🙏

[2020-04-11 03:05] 606BlueStar commented on #23721
请问要使用TensorRT，是要在这个教程进行编译吗？
https://www.bookstack.cn/read/paddlepaddle-v1.5/e8703a264212c003.md

[2020-04-11 10:04] qo4on commented on #23509
I found a bug in your official code example:
In `synthesis.py -> synthesize` replace:
[code]
with
[code]

I also tried your official command line command:
I replaced `checkpoint_dir` in `synthesis.py -> synthesize` to my downloaded checkpoint path:
[code]
and ran your official command line command:
[code]
The result was an audio file with just noise.

I also tried your smaller model:
https://paddl

[2020-04-11 10:40] hustwzq-nlp commented on #21917
重装cudnn就解决了，可能tensorflow和paddle调用cudnn的方式不同，个人猜测tensorflow是通过python包使用cudnn

[2020-04-11 14:21] HoyTiger opened #23760 "编译windows预测库报错"
- 标题：编译windows预测库报错
- 版本、环境信息：
    1）PaddlePaddle版本：1.7
    2）CPU/GPU：CUDA10.2 cudnn 7.5
编译windows预测库报错
![image](https://user-images.githubusercontent.com/42536260/79046300-bf74a580-7c42-11ea-9d87-7064c82aa6b4.png)

到相应目录下确实没找到error_codes.pb.h等文件