[2020-09-08 02:47] zhengzhe97 commented on #23323
当时是加了一段函数，可能就3-4行代码，出了这个error。我转成python op里的numpy，然后就解决了

[2020-09-08 02:49] shaofeifei11 commented on #23323
好的，了解了，谢谢

[2020-09-08 03:21] levinxo commented on #27154
根据分析，应该是下面这行代码的问题，没有考虑到可能会使用其他用户
https://github.com/PaddlePaddle/Paddle/blob/develop/tools/dockerfile/Dockerfile.ubuntu#L220

`CMD source ~/.bashrc`

[2020-09-08 03:29] Rayaction opened #27162 "【论文复现ECO】opt设置后，无法调节weight decay的decay mult。"
optimizer设置为momentum后，加载模型参数，可以找到learning rate的mult lr，但是weight decay那一项没有找到

[2020-09-08 03:41] OliverLPH commented on #27136
@pmajchrzak @luotao1
I test this issue on `6271C CPU` local machine, but I got same results as our performance monitor.

My test steps are as following
[code]

This is ernie fp32 inference log, FYI
[ernie_fp32_tid1.log](https://github.com/PaddlePaddle/Paddle/files/5185909/ernie_fp32_tid1.log)

I will try to reproduce on `6148` machine later

[2020-09-08 04:10] pmajchrzak commented on #27136
@OliverLPH

And maybe try for different SHA of https://github.com/PaddlePaddle/benchmark/
before 08/26/2020 and after 08/30/2020

[2020-09-08 05:07] OliverLPH commented on #27136
Still on `6271 cpu`
I have tried [f25597](f25597e5a54bbe9c756eb9b83d4881c05b7cdc13) (sep 7) and [40e8b9](https://github.com/PaddlePaddle/benchmark/commit/40e8b92502fc244efc7a499e5a0d35da73509914
) (Aug 17) of https://github.com/PaddlePaddle/benchmark.git  repo, inference average latency is around 236.454 ms which is the same as previous measurements

[2020-09-08 06:43] OliverLPH commented on #27136
@pmajchrzak
I tried following inference lib on `Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz` machine, but I still can't reproduce your results.
[code]
Test environment is based on docker image `hub.baidubce.com/paddlepaddle/paddle:latest-dev`, gcc 4.8.5.
Could you plz try this image again on your `6148` machine? And what's your test environment?

[cpu_6148_ernie_fp32_tid1.log](https://github.com/Padd

[2020-09-08 06:55] #27134 closed, assigned to luotao1

[2020-09-08 07:08] shaofeifei11 commented on #26905
## 损失函数

        center_loss = fluid.layers.sigmoid_cross_entropy_with_logits(label=self.center_ness, x=self.predict_center)

        self.center_loss = fluid.layers.reduce_mean(center_loss, name="center_loss")

        cls_loss = fluid.layers.sigmoid_cross_entropy_with_logits(label=self.mask, x=self.cls_logits)

        self.cls_loss = fluid.layers.reduce_mean(cls_loss, name="cls_loss")

[2020-09-08 08:05] ForFishes commented on #27162
![image](https://user-images.githubusercontent.com/19485646/92449722-0b754780-f1ed-11ea-8372-b43061c71d1d.png)
这样设置不可以吗？

[2020-09-08 08:05] fengkuangxiaxia opened #27178 "Windows链接CPU预测动态库问题"
在官方文档下载的cpu_avx_mkl版本中只有libpaddle_fluid.lib和paddle_fluid.dll，没有看到dll对应的lib文件，参照文档把WITH_STATIC_LIB设为OFF尝试使用动态库发现找不到paddle_fluid.lib

cmake .. -G "Visual Studio 14 2015" -A x64 -T host=x64 -DWITH_GPU=OFF -DWITH_MKL=ON -DWITH_STATIC_LIB=OFF
-DCMAKE_BUILD_TYPE=Release -DDEMO_NAME=simple_on_word2vec -DPADDLE_LIB=path_to_the_paddle_lib -DMSVC_STATIC_CRT=ON

https://www.paddlepaddle.org.cn/documentation/

[2020-09-08 08:06] ForFishes commented on #27156
请问这个模型是在哪里下载的？是对应哪个repo呢？

[2020-09-08 08:08] lancer94 commented on #15918
hello，请问下这个问题解决了吗

[2020-09-08 08:09] pmajchrzak commented on #27136
@OliverLPH
I will try to run sequence of git SHAs and try to find the cause.

[2020-09-08 08:10] yeguang1991 opened #27179 "使用CPU预测的时候，多核速度为什么反而比单核差呢？"
请问有什么办法提高多核CPU的预测速度呢

[2020-09-08 08:12] Derek-Kun commented on #27156
你好，我在PaddleClas上下载的，那边已经有人回复了，非常感谢~

[2020-09-08 08:12] #27156 closed, assigned to nobody

[2020-09-08 08:17] Rayaction commented on #27162
论文复现中bias和weight是设置不一样的decay mult和lr mult

[2020-09-08 08:19] Haijunlv commented on #26929
经实测，效果可用

[2020-09-08 08:19] #26929 closed, assigned to nobody

[2020-09-08 08:36] #27119 closed, assigned to nobody

[2020-09-08 08:36] Rayaction commented on #27162
哦我重述一下，是没有找到decay mult

[2020-09-08 08:44] zt991211 opened #27182 "本地能跑的paddle预测程序部署到阿里云ubuntu上时报错：You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle"
PaddlePaddle版本：1.8.0
python版本：3.7
使用gunicorn+flask部署paddlepaddle
@app.route('/predict/<name>')
def prediction(name):
    path=basedir+'\\static\\img\\'+name+'.png'
    img1=Image.open(path)
    org_ROI,ROI_PT=get_ROI_region(img1)
    img = []
    img.append(transform_img(np.array(ROI_PT)))
    img = np.array(img).astype('float32')
    place = fluid.CPUPlace()
    exe = fluid.Executor(place)
    in

[2020-09-08 08:47] xiangjun2 commented on #24815
1.8.4版本仍没有找到先关接口

[2020-09-08 08:58] #27179 closed, assigned to nobody

[2020-09-08 09:26] yeguang1991 opened #27184 "win10环境下，palm使用CPU预测，多核的时候会报错"
![image](https://user-images.githubusercontent.com/66579493/92458614-39ac5480-f1f8-11ea-8645-3976c067bf4e.png)

[2020-09-08 09:27] OliverLPH commented on #27136
@pmajchrzak
Thanks for your effort~
could you provide more about you environment info? I want to compare difference between our environments.

[2020-09-08 09:55] a2824256 opened #27186 "请问tf的slim.batch_norm当fused为True时执行的_fused_batch_norm函数在paddle有对应的函数或者处理方式吗？"
如题，如果没有是否需要自己实现一个对应的op?

[2020-09-08 10:01] yeguang1991 commented on #27184
我尝试使用linux预测，没有出现上述错误，但是使用双核的预测时间是1.5s，使用24核的预测时间是8s，请问一下，为什么24核预测速度反而变慢了呢？

[2020-09-08 10:14] pmajchrzak commented on #27136
Our docker file based on paddlepaddle/paddle:latest-dev
and we run tests under Ubuntu 16_04

[2020-09-08 10:59] ForFishes commented on #27186
没有相应的fuse。你是需要加速吗？

[2020-09-08 11:04] Shixiaowei02 commented on #27184
您好！请尝试使用 `AnalysisPredictor` 进行预测，看能不能复现问题。从图中看到的 `ParallelExecutor` 是分布式执行器，不建议用它进行预测部署。谢谢！

[2020-09-08 11:25] ForFishes commented on #27162
weight decay不是一个数吗？为什么会保存。

[2020-09-08 11:27] Rayaction commented on #27162
return [
            {'params': first_3d_conv_weight, 'lr_mult': 5 if self.modality == 'Flow' else 1, 'decay_mult': 1,
             'name': "first_3d_conv_weight"},
            {'params': first_3d_conv_bias, 'lr_mult': 10 if self.modality == 'Flow' else 2, 'decay_mult': 0,
             'name': "first_3d_conv_bias"},
            {'params': normal_weight, 'lr_mult': 1, 'decay_mult': 1,

[2020-09-08 12:17] snakecy commented on #27048
@zhangting2020 感谢回复，没有对应的话，应该有一种实现过程吧？有实例可以参考么？用的paddle是1.7版本的

[2020-09-08 12:20] wumeng2 commented on #26803
你好，请问支持cuda10.2吗？

[2020-09-08 12:25] Lggggggx commented on #15367
@yangperasd 您好，我也遇到第二个问题：无法将LodTensor传递给一个全连接网络，请问您是如何解决的？

[2020-09-08 13:06] lidanqing-vv commented on #25466
Main functions are merged, we are continue improving it but it will be long process.

[2020-09-08 13:06] #25466 closed, assigned to luotao1, phlrain

[2020-09-08 13:17] #26953 closed, assigned to lidanqing-vv

[2020-09-08 13:21] #26754 closed, assigned to nobody

[2020-09-08 15:22] xsliangjxing opened #27196 "AttributeError: 'NoneType' object has no attribute 'nranks'"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu 1.8.4post 107
    2）GPU：NVIDIA-SMI 441.22       Driver Version: 441.22       CUDA Version: 10.2           cuDNN Version: 7.6
    4）系统环境：win10，Python 3.7.6

- 训练信息
    1）单机/多卡（selected_gpus=0）
    2）workerlog.0:
         Traceback (most recent call last):
  File "E:\VBA\python\linear_knowledge\train.py", line 92, in <module>
    train_multi_gpu()
  F

[2020-09-08 16:42] a2824256 commented on #27186
萌新请教一下fused_batch_norm和普通的batch_norm有什么区别吗？

[2020-09-09 02:11] aprilvkuo opened #27199 "Paddle预测同一个网络不同step保存的模型预测性能差异大"
# 一、训练paddle版本
2.0-alpha， 使用TracedLayer动转静部署。
    
# 二、 主要使用的op
GRUUnit, 固定了序列长度。

# 三、capi版本
    1）PaddlePaddle版本：baidu/lib/paddlepaddle@v1.8.4-gcc82-mkl-avx-mkldnn_PD_BL
    2）CPU

# 四、 模型以及耗时情况
1) 100step的model，  单线程CPU， 每条query平均耗时约为3.5ms。
2) 收敛后的model， 单线程CPU， 每条query平均耗时约为30ms。

# 五、 模型代码

![image](https://user-images.githubusercontent.com/9441675/92548578-fa2e4880-f289-11ea-8c17-fa283d7fbf0

[2020-09-09 02:48] yeguang1991 commented on #27184
那么请问一下为什么linux上24核的预测速度比双核慢呢？

[2020-09-09 03:03] ForFishes commented on #27186
paddle 没有fused_batch_norm。看tf的介绍，是fuse了计算的op kernel，可能可以提速，具体的看下tf的介绍吧。

[2020-09-09 03:49] lin1github commented on #26605
经过尝试，将pytorch升级到最新版本，就没这个问题了

[2020-09-09 03:50] lin1github commented on #20740
经过尝试，将pytorch升级到最新版本，就没这个问题了

[2020-09-09 03:55] a2824256 commented on #27186
好的谢谢

[2020-09-09 03:55] #27186 closed, assigned to nobody

[2020-09-09 06:41] hysunflower opened #27205 ""Add bfloat16 data type" 引起bert fp16 模型训练挂掉"
this issue is caused by #25402

**System information**
1）PaddlePaddle version：develop  commitID：95e1434bb2fc8fd43a519cfa60ae36845a0cf2ef
2）GPU：V100 16G CUDA10.1 CUDNN7.6.5
3）CPU：Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz
4）OS：Ubuntu 16.04.6
5)  Python3.7
6)  compile docker images: paddlepaddle/paddle_manylinux_devel:cuda10.1_cudnn7
7) runtime docker images: paddlepaddle/paddle:latest-gpu-cuda10.1-cu

[2020-09-09 06:55] jerrywgz commented on #25966
这里有可能受batch size或是计算量的影响，如果用cascade rcnn+ R200vd + multi-scale test这种组合的话有可能会出现这种情况，可以先试着把batch size设为1，然后使用single scale的方式进行测试

[2020-09-09 07:36] lidanqing-vv commented on #27205
@wozna  The PR need to be reverted first, because some models failed. Later after fixing, you can submit PR again.

[2020-09-09 08:04] yeguang1991 opened #27207 "请问PALM框架使用CPU预测的时候多核的速度为什么会比双核慢呢？"
同一个问题，双核预测1.5s，12核要4s，24核要9s

[2020-09-09 08:05] flishwang commented on #25966
我们目前主要用cascade + r101vd, multiscale test, batch size=1,
输入图片scale为3200, 2048, 1024, 576
所以有可能是计算量的影响。

我们面临的实际情况需要对图片进行multiscale test.
把scale为3200的图片切成小块进行识别，再拼回去（类似dota的数据处理方式）可能不太可行。

请问随机报错的原因是什么呢？paddle框架的问题？还是cudnn或cuda的问题？
这个问题能否解决呢？

[2020-09-09 08:48] jerrywgz commented on #25966
这个由于我们这边没有能够复现的环境，所以还比较麻烦，从报错信息来看是再调cudnn的卷积挂的，有可能和cudnn有关

[2020-09-09 08:57] flishwang commented on #25966
好的。我们另外一台机器，有一块儿显卡无法正常工作。无论执行train还是test, 无论data_parallel

[2020-09-09 09:00] flishwang commented on #25966
好的。
另外我们还有一台机器，有一块儿显卡无法正常工作。
model.with_data_parallel和fluid.install_check.run_check都会引发nccl error，无论with_data_parallel中的places是否涉及坏掉的显卡。
但这台机器可以使用剩下的好的显卡，使用mxnet正常训练和测试。
这个问题能够定位或解决吗？
报错日志和nvidia-smi信息如下：
[code]

[2020-09-09 09:01] Rayaction commented on #27162
为了防止模型参数太复杂导致过拟合，一般在目标函数计算的时候加入了正则项，所谓的weight_decay其实就是正则项前面的那个权值，设置偏大可以令模型在学习过程中约束参数的复杂程度。

除了全局设置的学习率lr和权重衰减项也就是weight_decay，每一个需要学习参数的layer都还有局部的加权值，分别是lr_mult和decay_mult，而对于卷积层的话，w和b都属于可以学习的参数，所以在学习更新中他们都有属于自己的lr_mult和decay_mult。

[2020-09-09 09:08] hello-lx opened #27209 "在ubuntu16下利用编译好的paddle测试推理遇到了链接库的问题"
(1).##################################### 环境 ######################################
ubuntu16.04， python=3.6.10

(2).################################################################################
paddle-1.8
GIT COMMIT ID: 1e01335e195d993f3c5c97bed3a15a6f9170acea
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
CUDA version: 10.0
CUDNN version: v7.6
CXX compiler version: 4.8.2

GIT COMMIT ID: 5c2b9258a61

[2020-09-09 09:20] wangye707 opened #27210 "官方网站代码注释出现了参数书写错误"
官网链接：https://www.paddlepaddle.org.cn/tutorials/projectdetail/811979#anchor-10
描述：Resnet模型的层数描述中，对152的注释描述为了50。
细节：paddle官网1.8版本->教程->零基础入门深度学习->深度学习实践应用:计算机视觉->图像分类->ResNet的代码中
           `elif layers == 152:
            #ResNet50包含多个模块，其中第2到第5个模块分别包含3、8、36、3个残差块
            depth = [3, 8, 36, 3]`
           152的注释写成了50
截图：
![image](https://user-images.githubusercontent.com/39162106/92580138-9f641

[2020-09-09 09:32] flishwang opened #27211 "lack of C++ documentation / API reference"
All I can find about how to write new C++/cuda operators are:
https://www.paddlepaddle.org.cn/documentation/docs/en/advanced_guide/addon_development/new_op/new_op_en.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/op_notes.html

These are examples about how to write new operators. But I cannot find any detailed documentation about the classes or m

[2020-09-09 10:08] wojtuss opened #27214 "Required clang-format version is too old for Ubuntu 18.04"
In the file `tools/codestyle/clang_format.hook` there is a requirement for the clang-format version to be 3.8. However, on Ubuntu 18.04 LTS, supported by PaddlePaddle, the 3.8 version is not generally available from repositories, 3.9 is available instead. Can we update the code and use 3.9 version?

[2020-09-09 10:21] luotao1 commented on #27214
Sorry, since it may affect a lot of codes and developers, we could not directly update the codes. We will have a discussion internally.

@wojtuss Is the difference large in code format between the 3.8 version and 3.9 version?

[2020-09-09 11:15] wozna commented on #27205
@hysunflower  Probably problem is in `np.float16(data).view(np.uint16)` .
Since Numpy supports float16 I thought that there is no need to convert data to be viewed as `uint16`.
Moreover in https://github.com/PaddlePaddle/Paddle/pull/25402 `uint16` in Pybind is used to `bfloat16`, cause Numpy doesn't support this type.

Do you know if it is necessary to convert data like this `.view(np.uint16)` ?
C

[2020-09-09 11:17] wojtuss commented on #27214
There are some, but not many differences in the code after running 3.9. I include the diff after running 3.9 on the whole Paddle project.
[after-clang-format-3.9.txt](https://github.com/PaddlePaddle/Paddle/files/5194722/after-clang-format-3.9.txt)

[2020-09-09 11:20] yuhangT opened #27216 "paddlepaddle中一维膨胀卷积实现问题"
现在paddlepaddle中实现一维膨胀卷积，但是序列卷积API中并没有膨胀系数，所以用二维卷积来实现

![image](https://user-images.githubusercontent.com/49428064/92591917-5799b800-f2d1-11ea-86ca-6ac46f244b02.png)

但是效果和在keras中实现的一维膨胀卷积效果相差比较大，不知道是不是用二维实现一维的时候出现了问题？
keras中的代码：
![image](https://user-images.githubusercontent.com/49428064/92592052-8ca60a80-f2d1-11ea-8d15-5cf25d1fc235.png)

[2020-09-09 12:11] ForFishes commented on #27196
代码能够贴一下。这个连接，没有权限登入。还有这个是windows环境，不支持nccl，所以GPU分布式是不支持的。

[2020-09-09 12:14] ForFishes commented on #27182
能否把环境信息和错误信息多贴一些。从这些比较难以判断。

[2020-09-09 12:20] xsliangjxing commented on #27196
--**谢谢回复，代码如下，另外您的意思是在windows环境使用飞桨就是没有办法采用GPU分布吗...？**
import os
import random
import paddle
import paddle.fluid as fluid
from paddle.fluid.dygraph.nn import Conv2D, Pool2D, Linear
import numpy as np
from PIL import Image

import gzip
import json

# 定义数据集读取器
def load_data(mode='train'):
    # 读取数据文件
    datafile = r'C://Users//sai//Downloads//mnist.json.gz'
    print('loading mnist dataset from {

[2020-09-09 12:51] jerrywgz commented on #25966
这个可能和nccl有关，https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/install/install_Ubuntu.html#cpu-gpu 可以参考这里有相关版本的要求 另外如果能使用docker的话建议使用这里的镜像https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/install/install_Docker.html#id3

[2020-09-09 12:58] zhwesky2010 commented on #25966
@flishwang 你好，可以使用export FLAGS_selected_gpu避开有问题的显卡，然后在run_check看一下嘛

[2020-09-09 12:59] zhwesky2010 commented on #25966
@flishwang export FLAGS_selected_gpu=0, 1试一下

[2020-09-09 15:07] saviord7 opened #27221 "InvalidArgumentError: The input of Op(Conv) should be a 4-D or 5-D Tensor. But received: input's dimension is 3, input's shape is [1, 150, 150]"
How I can switch dimension of input image data ?

There is my data:
[code]

Data format:
[code]

Uploading data:
[code]

Get this:
[code]

How can I reshape image [150x150] into 4-D tensor?

[2020-09-09 23:20] biubiuyi opened #27224 "静态图模式下如何在一个program中训练两个模型，保存并分别部署"
padddlepaddle = 1.7
静态图模式下，想 run一次跑两个模型：model1和model2，拿到两个损失：loss1和loss2， 总loss = loss1 + loss2。优化loss损失
部署时，想要单独调用model1和model2，要怎么在操作呢。
要实现的效果在keras里类似于：

![image](https://user-images.githubusercontent.com/19962900/92664231-01129500-f336-11ea-90ca-125a74a06f47.png)

查现有方法困惑点在：在整个exe.run结束之后，fluid.io.save_inference_model 保存了整个program。不知道怎么拿中间的model1，model2.

为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相

[2020-09-10 02:34] luotao1 commented on #27214
Got it, after our internal discussion, we will update the result here.

[2020-09-10 02:36] ForFishes commented on #27196
![image](https://user-images.githubusercontent.com/19485646/92675137-4e503000-f351-11ea-84a6-578079c50094.png)
windows下，不支持nccl，所以现在目前不支持多卡gpu。你的代码看，没什么问题，建议用linux系统试下。

[2020-09-10 02:48] #25821 closed, assigned to nobody

[2020-09-10 02:49] #25826 closed, assigned to nobody

[2020-09-10 02:52] #25876 closed, assigned to nobody

[2020-09-10 03:02] ymzlygw opened #27226 "如何通过 numpy 转 VarBase 获取正确的shape？"
你好，我对某个学习模型中的某一个变量进行了.shape和.type查看，获得信息如下：
<class 'paddle.fluid.core_avx.VarBase'> size:[1, 80, 832]
现在我手头有一个 a.shape = (80,832) 的numpy类型变量，想转化为上面同规格变量.进行升维和numpy转VarBase后，获得如下信息：re_shape:<class 'paddle.fluid.core_avx.VarBase'>, size(1, 80, 832)

但是转化后的变量与原抽取出的变量不同，一个是【1，80，832】 ，一个是（1，80，832），而且发现不能使用tuple转list。
那么如何reshape才能得到【1，80，832】呢？

[2020-09-10 03:04] Maybewuss opened #27227 "expand操作是否会开额外的空间？"
pytorch的expand不会，paddle下的呢？

[2020-09-10 03:09] #26170 closed, assigned to nobody

[2020-09-10 03:30] yaoxuefeng6 commented on #27226
能提供下代码示例吗？

[2020-09-10 03:31] yaoxuefeng6 commented on #27227
expand是有开额外的空间的，paddle的实现和pytorch的还是又一些区别的。  这个我们会后续评估下

[2020-09-10 03:40] yeguang1991 opened #27229 "AnalysisPredictor怎么部署ernie模型？"

[2020-09-10 03:44] yeguang1991 commented on #27184
请问AnalysisPredictor怎么部署ernie模型？

[2020-09-10 03:52] ymzlygw commented on #27226
好的，代码例:
mel.shape
-> (832,80)

 re_mel = torch.from_numpy(mel.T)
 re_mel1 = re_mel.unsqueeze(0)
 re_mel2 = re_mel1.numpy()
re_mel2.shape
->(1,80,832)

--numpy转VarBase:
ex_mel1 = fluid.dygraph.to_variable(re_mel2)    “<class 'paddle.fluid.core_avx.VarBase'>, size(1, 80, 832)”

原模型中抽出的变量shape：<class 'paddle.fluid.core_avx.VarBase'> size:[1, 80, 832]，    括号不一样

[2020-09-10 04:04] Reatris commented on #27087
thanks

[2020-09-10 04:04] #27087 closed, assigned to zhiqiu

[2020-09-10 04:19] yaoxuefeng6 commented on #27226
你好 我尝试复现下你的场景 代码中动态图使用了reshape api 结果输出的shape是一致的呀，后两个都是中括号
[code]
(1, 80, 832)
[1, 80, 832]
[1, 80, 832]

[2020-09-10 05:18] ymzlygw commented on #27226
奇怪了，我的原代码是这样的：读取一个.npy文件，然后进行转换，

        output_mel_dir = './output-mel/2_mel_en.npy'
        experiment_mel = np.load(output_mel_dir)
        print("the shape experiment mel:{}, type:{}".format(experiment_mel.shape, type(experiment_mel)))
        experiment_mel1 = fluid.dygraph.to_variable(experiment_mel)
        print("re_shape:{}, size:{}".format(type(experiment_mel1), experiment_mel.shape)

结

[2020-09-10 05:33] ymzlygw commented on #27226
我又试着比较了一下，如果是直接用np.random.rand创建的numpy对象，再进行之前的转换的话，确实是中括号【】，但是如果是np.load读取的numpy对象，转换完就只能是圆括号()，这是什么原因...........

[2020-09-10 05:43] jiweibo commented on #27199
请问能否提供预测单测和这两个模型，我本地对比测试下

[2020-09-10 06:08] shangzhizhou commented on #27229
和其他模型没有什么区别的，具体可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/native_infer.html
更多示例：https://github.com/PaddlePaddle/Paddle-Inference-Demo

[2020-09-10 06:11] jiweibo commented on #27209
请问下能否跑通预测demo，即链接下的预测样例

https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/native_infer.html#a-name-c-c-a

[2020-09-10 06:13] tianshuo78520a commented on #27154
可能是这个原因导致的，这个使用场景比较小众我们没有测试到，我们先记下后续再进行修改。你可以先在自己本地在dockerfile中删除这句构建试试。

[2020-09-10 06:26] ARDUJS opened #27232 "fluid.ParamAttr的使用问题"
### 环境
- paddle = 1.7.2
- python = 3.7.5

### 问题
[code]

[2020-09-10 06:45] yeguang1991 commented on #27229
config = AnalysisConfig(),这个参数应该怎么传，我直接把模型路径传进去，总是报错，模型是这样的
![image](https://user-images.githubusercontent.com/66579493/92690891-4e155c00-f374-11ea-9220-9837b4f40e47.png)

[2020-09-10 07:06] Heeenrrry commented on #27211
@flishwang Hi, thanks for your attention! More supports for C++ development will be included in next release later this year. Docs and examples will be given. We would like to inform you in the first instance later.

[2020-09-10 07:07] jiweibo commented on #26336
请问下windows上是否方便使用cuda10.0。

或者先关闭trt，看下cuda10.1下是否可以正常预测

[2020-09-10 07:18] yaoxuefeng6 commented on #27232
目前 ParamAttr 不支持使用其他变量初始化

[2020-09-10 07:20] wulei123456789 commented on #27210
同学您好，非常感谢您给我们反馈飞桨教程的问题，您的意见对我们非常重要。
您反馈的问题，飞桨教程已经修改，欢迎您继续使用，如遇到问题，随时联系我们，谢谢！
![image](https://user-images.githubusercontent.com/59363068/92694096-1eb51e00-f379-11ea-8304-e8f1c488320c.png)

[2020-09-10 07:22] ARDUJS commented on #27232
我想安照我的逻辑实现 有办法吗

[2020-09-10 07:23] ARDUJS commented on #27232
有实现的可能吗

[2020-09-10 07:36] FrostML commented on #26892
一般情况下，超出显存的范围可以确认下卡是否有占用。
batch_size 的大小会影响中间结果的显存占用，减小 batch_size 也是一种解决超显存问题的方式。

[2020-09-10 07:47] yaoxuefeng6 commented on #27232
可以看下这种用法：https://github.com/PaddlePaddle/Paddle/search?q=get_tensor%28%29.set&unscoped_q=get_tensor%28%29.set  先通过名字取到fc参数的值 然后再通过名字把这个值set回你要初始化的变量 我没试过 你可以试试哈

[2020-09-10 08:00] yaoxuefeng6 commented on #27224
如果想拆开的话可以调用两次save_infrence_model

[2020-09-10 08:15] hello-lx commented on #27209
我的配置：
WITH_MKL=ON
WITH_GPU=ON
USE_TENSORRT=OFF

运行的时候会缺少TENSORRT的依赖库，如果不需要用tensorRT，跑这个demo是否也需要tensorRT的依赖库？

[2020-09-10 08:26] lagelanhai opened #27238 "训练模型时 出现 [operator < read > error]"
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 1.8.4
    2）系统环境：centos7

2020-09-10 16:26:35,460-INFO: {'Global': {'debug': False, 'algorithm': 'CRNN', 'use_gpu': False, 'epoch_num': 1000, 'log_smooth_window': 20, 'print_batch_step': 10, 'save_model_dir': './output/rec_CRNN', 'save_epoch_step': 300, 'eval_batch_step': 500, 'train_batch_size_per_card': 256, 'test_batch_size_per_card': 256, 'image_sha

[2020-09-10 08:32] AIpioneer commented on #26336
cuda10.1.243+cudnn 7.6.5 win10下能否可用，哪怕是静态库版本？

[2020-09-10 08:36] guoshengCS commented on #27224
save_infrence_model时提供`target_vars`参数能够裁剪保存的模型，调用两次save_infrence_model并且提供不同的`target_vars`应该就可以了

[2020-09-10 08:39] hello-lx commented on #27209
我这边没有tensorRT，所以没有装tensorRT的依赖库

[2020-09-10 08:42] jiweibo commented on #27209
按理来说，是不需要trt的，但是我怀疑paddle的so中引用了 trt的符号，此时 如果不指定trt的路径 就会报找不到符号的错误

[2020-09-10 08:45] jiweibo commented on #26336
windows上对cuda10.1的支持应该还有点问题，建议使用cuda10.0，后续会专门对此进行优化。

[2020-09-10 08:47] hello-lx commented on #27209
谢谢，我装一下tensorRT的依赖库，再尝试一下

[2020-09-10 09:03] AIpioneer commented on #26336
10.2后版本可以吗？   我们需要同步其他的推理引擎， 如果可以我们会统一升版本，否则要回退cuda版本

[2020-09-10 09:12] xsliangjxing commented on #27196
明白了，非常感谢~

[2020-09-10 09:12] #27196 closed, assigned to nobody

[2020-09-10 09:12] ShawnXsw commented on #26336
10.1是关闭trt的版本，也有问题。   除了10.0还有其他可选吗？  linux10.1正常是吧？

[2020-09-10 09:19] jiweibo commented on #26336
windows上暂时应该只支持cuda10.0，linux环境下cuda10.0本身好像有问题，支持10.1

[2020-09-10 09:19] jiweibo commented on #26336
更高版本的还没有在windows上验证过，还需要我们排期去适配

[2020-09-10 09:20] AIpioneer commented on #26336
linux呢？

[2020-09-10 09:25] jiweibo commented on #26336
目前是主要支持cuda10.1，其他版本的 cuda11会后续排期支持

[2020-09-10 09:26] heavengate commented on #27216
conv的输入默认是NCHW格式，你reshape的时候指定shape里1在第二维，这一维是C，可以放在最后一维

[2020-09-10 10:39] yaoxuefeng6 commented on #27238
是跑哪个示例代码报错吗？ 能提供下复现代码吗？

[2020-09-10 10:41] lagelanhai commented on #27238
是的

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "yaoxuefeng"<notifications@github.com&gt;;
发送时间: 2020年9月10日(星期四) 晚上6:40
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "郑利兵"<1226524323@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 训练模型时 出现 [operator < read &gt; error] (#27238)

是跑哪个示例代码报错吗？

—
You are receiving this because you author

[2020-09-10 10:44] lagelanhai commented on #27238
是我在训练自己的数据时发生的问题，使用官方的icdar2015 数据是没有问题的

[2020-09-10 10:45] lagelanhai commented on #27238
并没有运行代码，只是按照 https://github.com/PaddlePaddle/PaddleOCR/blob/develop/doc/doc_ch/recognition.md 这篇文档中步骤进行的

[2020-09-10 10:48] yaoxuefeng6 commented on #27238
看起来是生成的输入数据格式不对，可以先检查下生成数据的正确性

[2020-09-10 10:53] lagelanhai commented on #27238
分别是train  和  test 的gt.txt 的内容
![1](https://user-images.githubusercontent.com/52648575/92720172-d0af1300-f396-11ea-8726-379c10c9a41a.png)
![2](https://user-images.githubusercontent.com/52648575/92720174-d1e04000-f396-11ea-9d58-e57b9cf7fac2.png)
和文档中的是一致的啊

[2020-09-10 10:55] lagelanhai commented on #27238
这个是路径结构
![image](https://user-images.githubusercontent.com/52648575/92720353-0eac3700-f397-11ea-889a-cee3987a530a.png)
![image](https://user-images.githubusercontent.com/52648575/92720394-1c61bc80-f397-11ea-84b4-2890c09eabfb.png)

[2020-09-10 10:57] lagelanhai commented on #27238
这个是配置文件内容
![image](https://user-images.githubusercontent.com/52648575/92720526-4d41f180-f397-11ea-8d86-ce3642f622e8.png)
![image](https://user-images.githubusercontent.com/52648575/92720636-76fb1880-f397-11ea-8302-2ae034ecf70e.png)

[2020-09-10 11:30] shangzhizhou commented on #27229
具体的AnalysisConfig使用示例请看一下上一个回复的链接。config->SetModel("./model_dir");
仍未解决请贴一下具体的报错内容和code

[2020-09-10 11:40] jzhang533 opened #27243 "[Call for contribution] Spectral Norm implementation in Paddle"
this is for @miraiwk to  ask for contribution on implementing  `Spectral Norm` in Paddle.
@miraiwk did great work in https://github.com/miraiwk/UGATIT-paddle
Paddle team would like to ask for a PR to contribute this implementation to Paddle.

@ceci3 could help during this process, and we will use this issue for online discussion and track the process.

[2020-09-10 12:03] miraiwk commented on #27243
Hi there,
I'm trying to build PaddlePaddle, but I met some building errors.
The version of GCC I use is 10.2.0, and I'm trying to fix the building error.

I will update the spectral norm after I build PaddlePaddle successfully : )
Here is the Python implementation of Spectral Norm.

[code]

[2020-09-10 13:18] flishwang commented on #25966
使用docker镜像内带的2.6.4版本的nccl后，run_check通过，多卡推理不报错，这个问题解决了。应该就是nccl版本的问题。

[2020-09-10 13:21] flishwang commented on #27211
Thanks for your timely reply! I'll wait for the docs and new features in the next release.

[2020-09-10 13:21] #27211 closed, assigned to nobody

[2020-09-10 14:31] wu8320175 opened #27249 "官方文档中lstm接口,使用bilstm时无法得到正确的返回结果？"
版本、环境信息：
    1）PaddlePaddle版本：1.8-静态图
 LSTM文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/lstm_cn.html#lstm

![image](https://user-images.githubusercontent.com/24267883/92745306-d287cf00-f3b4-11ea-81d3-0162c6d11bd3.png)
文档中说了配置好相应参数后应该返回2*hidden_size，但是我按下面的代码配置为啥得不到正确的返回呢？
[code]
lastc和lasth能得到正确结果但是rnn_out明显不对呀 [batch_size,seq_len,hidden_size∗2]应该是(-1, 100, 300)呀？

[2020-09-10 15:08] zzz2010 commented on #26785
其实FID的计算用SVD （我想做可微分的FID）， spectralnorm 也用到SVD，很多其他地方（不是这次复现）也用的，希望paddle可以在之后版本实现一下。

[2020-09-10 17:14] lidanqing-vv commented on #27140
Reproduced the error with pip install.
[code]

[2020-09-11 01:13] 1084667371 commented on #25826
好的 谢谢谢谢

[2020-09-11 02:16] guoshengCS commented on #25597
`NameError: name 'core' is not defined` 这个报错确实是1.7.2中的问题，还请升级下。或者使用 https://github.com/PaddlePaddle/Paddle/blob/v1.7.2/python/paddle/fluid/layers/rnn.py#L444 这个示例中的方式实现

另外`sequence_conv_pool`这个输出是非序列，如果希望输出序列数据供lstm使用的话，可以再确认下是否符合预期

[2020-09-11 02:17] yuhangT commented on #27216
请问C是通道数，不是应该将通道数设为1吗？比如一个维度为64*  256*  128的   64为batch_size  256为max_len（最大句长）  128为词向量维度，不是N=64  C=1  H=256  W=128  吗？

[2020-09-11 02:34] ceci3 commented on #27243
@miraiwk Thanks for the contribution~~  How about change the class to a function in the form of spectral_norm(Layer, name='weight', dim=0,power_iters=1,  eps=1e-12) ？ Maybe easier to use as a function(eg: spectral_norm(Conv(3, 4, 3))) , and don't need to write a SpectralNormConv or SpectralNormLinear by user. You can reference the informal implementation~  (https://github.com/PaddlePaddle/Paddle/i

[2020-09-11 02:40] zhouyongxyz opened #27252 "mkldnn 多线程多次推理导致内存泄露，内存阶跃是增长"
使用Paddle C++ 对 Paddle OCR 进行推理，发现设置MKLDNN 之后，多次对图像进行推理内存会一直增加，阶跃增加。
PaddleOCR 文档中也提到这个问题，该问题看前面有 @luotao1 解决过mkl memory leak 问题，但是我测试了目前的develop 版本
还是存在这个问题。

[2020-09-11 02:47] DDDivano opened #27253 "Windows python2.7安装paddle develop有个报错。 Microsoft Visual C++ 9.0 is required"
报错信息。
error: Microsoft Visual C++ 9.0 is required (Unable to find vcvarsall.bat). Get it from http://aka.ms/vcpython27
影响：
只会在windows  python2.7 出现。导致paddle安装失败

应为最新版本的paddle 包含了netifaces，安装这个依赖的时候，引发了这个错误。解决方案是去https://www.microsoft.com/en-us/download/confirmation.aspx?id=44266 下载一个微软支持 python2.7 的一个编译器。由于这个网站下载很慢，我们是不是可以考虑在官网上Q&A或者哪里给出这个在bos上的连接，协助用户解决问题？

[2020-09-11 02:54] yeguang1991 commented on #27229
code
![image](https://user-images.githubusercontent.com/66579493/92848420-cafc1080-f41c-11ea-8b8e-37334caccec7.png)
error
![image](https://user-images.githubusercontent.com/66579493/92848546-eb2bcf80-f41c-11ea-8caf-5b8a3f46d98c.png)
模型
![image](https://user-images.githubusercontent.com/66579493/92848827-3514b580-f41d-11ea-96a7-764733b134ec.png)

[2020-09-11 02:57] yeguang1991 commented on #27229
Code:
from paddle.fluid.core import create_paddle_predictor
from paddle.fluid.core import AnalysisConfig

config = AnalysisConfig('C:\mnt\matching\model\800001\ckpt.step2154')
config.disable_gpu()
config.enable_mkldnn()
predictor = create_paddle_predictor(config)

ERROR:
Traceback (most recent call last):
  File "C:/matching2/test.py", line 9, in <module>
    predictor = create_paddle_predictor(co

[2020-09-11 03:16] shangzhizhou commented on #27229
请确认下模型目录里是否有__model__文件，如果没有，请确认下保存模型使用的方法是否正确。如果后续要做预测， 请选择 save_inference_model 进行变量和网络的保存，具体请参考
https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/coding_practice/save_load_variables.html

[2020-09-11 04:36] biubiuyi commented on #25597
1.7.2版本的GRU会有`NameError: name 'core' is not defined` 这个问题么？

[2020-09-11 04:41] saviord7 commented on #27221
Any hints ?

[2020-09-11 05:49] levinxo commented on #27154
@tianshuo78520a 后来基于cuda10.1镜像来构建，只安装了python3.6，然后用pip来安装paddle-gpu，镜像体积也减少了很多

[2020-09-11 06:05] baiyfbupt commented on #27252
建议使用1.8.4版本的Paddle, 最新develop分支的PaddleOCR
并且设置use_zero_copy_run参数为False，这样应该可以解决这个问题
https://github.com/PaddlePaddle/PaddleOCR/blob/967115b8e9dee3e36e9451c6a65b5cda2d8e4bc8/deploy/cpp_infer/tools/config.txt#L7

[2020-09-11 06:24] python-bookworm opened #27260 "paddle release/1.2 编译失败"
-- Found Paddle host system: ubuntu, version: 18.04.5
-- Found Paddle host system's CPU: 6 cores
-- CXX compiler: /usr/bin/c++, version: GNU 7.5.0
-- C compiler: /usr/bin/cc, version: GNU 7.5.0
-- MKLML_VER: mklml_lnx_2019.0.20180710, MKLML_URL: http://paddlepaddledeps.cdn.bcebos.com/mklml_lnx_2019.0.20180710.tgz
-- Protobuf protoc executable: /home/rex-han/下载/Paddle/build/third_party/install/prot

[2020-09-11 06:53] python-bookworm opened #27261 "release/1.8编译失败"
-- Found Paddle host system: ubuntu, version: 18.04.5
-- Found Paddle host system's CPU: 6 cores
-- The CXX compiler identification is GNU 7.5.0
-- The C compiler identification is GNU 7.5.0
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Detecting CXX compile fe

[2020-09-11 09:16] guoshengCS commented on #25597
1.7.2版本中按照
[code]
这种方式定义的LSTM或GRU不会有这个问题

[2020-09-11 09:40] Weili-NLP opened #27265 "paddle1.8.4使用amp混合精度训练报错ValueError: var lod_tensor_blocking_queue_0 not in this block，使用float32训练没有问题"
PaddlePaddle1.8.4，cuda10.1，cudnn7.4，V100 32g，python3.7.4

报错信息如下：
![image](https://user-images.githubusercontent.com/25901705/92904912-d15aae80-f455-11ea-906c-dcf7654c30e6.png)

[2020-09-11 09:42] guoshengCS commented on #25597
或者也可以修改下报错的文件`/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/layers/rnn.py`，加上`from .. import core`试下

[2020-09-11 10:38] biubiuyi commented on #25597
需要双向lstm怎么修改呢

[2020-09-11 11:09] guoshengCS commented on #25597
[code]
双向的像这样

[2020-09-11 11:17] lidanqing-vv commented on #27140
@juncaipeng  We can reproduce by installing by pip. But we cannot build from source with Debug option. In this way it is hard to debug. If you have solved it please let us know.

[2020-09-11 11:56] li829 opened #27271 "In function `PaddleOCR::CRNNRecognizer::LoadModel error: ld returned 1 exit status"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：ubuntu 16.04 c++demo
- 版本、环境信息：
    1）PaddlePaddle版本：预测版1.8.4
    2）CPU：i5
    3）GPU：1060TI，CUDA-10.0和CUDNN-7.6
    4）系统环境：ubuntu16.04
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 安装方式信息：
- 复现信息：paddle采用官网下载的直接安装版， 预测版1.8.4

[2020-09-11 14:32] miraiwk commented on #27243
@ceci3 Agree to add an extra wrapper function : )

[2020-09-11 14:56] luotao1 commented on #27205
@wozna We think it's OK to change `np.float16(data).view(np.uint16)` to `np.float16(data)` in models repo. Could you create a PR to fix it ASAP? And please fix all `np.float16(data).view(np.uint16)` in mdoels repo (see [search result](https://github.com/PaddlePaddle/models/search?q=np.float16%28data%29.view%28np.uint16%29&unscoped_q=np.float16%28data%29.view%28np.uint16%29)).

[2020-09-11 18:23] jczaja commented on #27140
@luotao1 , @juncaipeng  We investigated problem and there is a https://github.com/PaddlePaddle/Paddle/pull/27274 that fixes this problem. Please test and let us know if this works for you.

[2020-09-12 06:07] yuhangT opened #27275 "一维膨胀卷积问题"
在keras中的一维膨胀卷积（文本序列batch_size,max_sequence_len,word_size）是这样的：

![image](https://user-images.githubusercontent.com/49428064/92988768-1e478f00-f501-11ea-9434-bbe9a1dcdcb5.png)

我们转到paddlepaddle里边是这样实现的：

![image](https://user-images.githubusercontent.com/49428064/92988776-2e5f6e80-f501-11ea-93ac-dcfd2bd75abc.png)

请问这样转化有什么问题吗？因为实验结果有些误差，排除了其他方面，感觉可能是这膨胀卷积有问题

[2020-09-12 06:09] yunmi opened #27276 "c++ 预测报错"
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, int)
1   paddle::operators::FusionRepeatedFCReluOp::InferShape(paddle::framework::InferShapeContext*) const
2   paddle::framework::OperatorWithKernel::RunImpl(

[2020-09-12 06:45] guoshengCS commented on #27249
1.8版本这个接口有些问题，还请更新版本，或者使用类似如下方式建立bilstm
[code]

[2020-09-12 06:57] fociceo commented on #26187
没有解决，所以，就先放了放。

[2020-09-12 07:05] wu8320175 commented on #27249
感谢您的回复。首先bilstm的问题我已经使用了类似您的方案解决了，我最近的目的是想在aitudio上使用paddle复现复现出一篇论文的代码，但是原代码中中间夹杂了RNN dropout机制,所以想使用paddle中类似的lstm_api。
[code]

抱歉。 我没注意还有一位版本号，我使用了1.84这个版本，不知道是不是最新版本？我在aistudio上使用这个lstm api依然无法返回正确结果, 您的意思是在1.8所有版本这个api依然都存在问题吗？
我测试的情况： https://aistudio.baidu.com/aistudio/projectdetail/913586
![image](https://user-images.githubusercontent.com/24267883/92989793-69fe3680-f509-11ea-9133-9cca0fd1c

[2020-09-12 07:12] guoshengCS commented on #27249
是的。如果希望加上dropout的话可以参考这里 https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleNLP/seq2seq/seq2seq/base_model.py#L32

[2020-09-12 07:31] wu8320175 commented on #27249
好的，刚刚已经尝试了。非常感谢！

[2020-09-12 07:31] #27249 closed, assigned to nobody

[2020-09-12 10:47] #27205 closed, assigned to luotao1

[2020-09-12 14:13] miraiwk commented on #27243
I met a runtime error after I modified the code. I do not know how to solve it.
https://github.com/miraiwk/Paddle/commit/982a2b5a7f2bf66b541306e83230d052c40183d9

[code]

[2020-09-12 14:20] zhouyongxyz commented on #27252
use_zero_copy_run 是设置成 false 还是 true，看paddleocr 的提交是 true为了解决内存泄露问题。但是我实测两个在多线程中依旧存在内存泄露问题。https://github.com/PaddlePaddle/PaddleOCR/issues/706 这样的改动就会

[2020-09-13 03:07] #25597 closed, assigned to nobody

[2020-09-13 04:51] LDOUBLEV commented on #27252
use_zero_copy_run 设置为False

[2020-09-13 07:08] heavengate commented on #27216
如果你的数据是64* 256* 128，你想把通道C设置成1，那数据格式就是[64, 1, 256, 128]，这本身就是一个使用Conv2D的NCHW格式，不需要用到一维卷积

[2020-09-13 07:25] yuhangT commented on #27216
您好，我再重申以下我的问题，我的初衷是实现一维卷积网络，但是在paddle里边序列卷积没有膨胀系数这个参数，所以考虑用二维卷积去实现一维卷积，输入数据是64* 256* 128的 64为batch_size 256为max_len（最大句长） 128为词向量维度，现在是这样实现的

![image](https://user-images.githubusercontent.com/49428064/93012848-1574bd00-f5d6-11ea-866d-404906336fca.png)

在原keras版本是这样实现的：

![image](https://user-images.githubusercontent.com/49428064/93012702-f6c1f680-f5d4-11ea-8d58-2b5a82c6573f.png)

由于我们实现结果f1值和kera

[2020-09-13 09:01] heavengate commented on #27216
如果你要一个数据使用Conv1D，这个数据的格式应该是[N, C, H]，对应你的数据64*256*128，应该是N=64, C=256, H=128这样来实现，为啥要加一个shape为1的C通道呢，加入了一个shape为1的C通道后数据格式是[N, C, H, W]，这个应该过Conv2D

[2020-09-13 09:09] heavengate commented on #27216
如果是想一个原本走Conv1D的数据走Conv2D，应该增加W，而不是增加C

[2020-09-13 13:56] zhouyongxyz commented on #27252
实际测试的时候，如果只是单纯的线程里循环好像没有泄露。但是配合cpp-httplib 这个c++库从http 调过来，多调用几次就会出现内存一直在增加，取消mkldnn 就没有问题。

[2020-09-13 14:33] zhangting2020 commented on #27041
由于和issue27061是同一个问题，用户已在issue 27061中给出了更详细的描述，此issue关闭。

[2020-09-13 14:33] #27041 closed, assigned to nobody

[2020-09-14 02:17] baiyfbupt commented on #27265
可以排查下这个var是否不在global_block中。
program中可能有多个block，这个var在一些其他block中导致找不到。因为目前amp只能对global block中的OP做处理，这种情况会引起出错

[2020-09-14 02:29] littletomatodonkey commented on #27271
可以提供下build.sh的详细配置信息吗？看着像是没有找到对应的预测库

[2020-09-14 02:30] baiyfbupt commented on #27261
编译失败主要源于`Could NOT find PythonLibs (missing: PYTHON_LIBRARIES PYTHON_INCLUDE_DIRS)`这个报错，可以找下本机的Python环境路径，然后参考下面的-D选项在cmake时配置Python路径
cmake .. -D PYTHON_LIBRARIES=/usr/lib/libpython2.7.a -D PYTHON_INCLUDE_DIRS=/usr/include/

[2020-09-14 02:31] baiyfbupt commented on #27260
同 https://github.com/PaddlePaddle/Paddle/issues/27261

[2020-09-14 02:39] Shixiaowei02 commented on #27276
你好，从报错上看是 FC 层的输入不合法。请检查模型输入尺寸，并尝试设置 `switch_ir_optim=false` 看问题是否修复，谢谢。

[2020-09-14 02:48] LielinJiang commented on #27275
感觉reshape的地方有点问题，我的理解这里想要交换数据格式（NLC->NCL,NCL->NC1L?）可以尝试使用transpose和unsqueeze

2.0rc版本已经实现了conv1d，可以参考这两个地方
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/layer/conv.py#L116
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/functional/conv.py#L99

[2020-09-14 03:14] zhwesky2010 commented on #27253
已经加了文档，后面说明，后面会去除Windows上的这个依赖

[2020-09-14 03:50] #27140 closed, assigned to jczaja, lidanqing-vv

[2020-09-14 05:42] #26947 closed, assigned to nobody

[2020-09-14 05:43] starsblinking commented on #26947
可以使用，多谢

[2020-09-14 07:22] biubiuyi commented on #27224
好的，可以了

[2020-09-14 07:24] hello-lx commented on #27209
已经装了tensorRT,但是依然无法成功编译测试案例

-- Generating done
-- Build files have been written to: /home/yuan/XSpace/Env-Test/Paddle/sample/inference/build
Scanning dependencies of target mobilenet_test
[ 50%] Building CXX object CMakeFiles/mobilenet_test.dir/mobilenet_test.o
[100%] Linking CXX executable mobilenet_test
CMakeFiles/mobilenet_test.dir/mobilenet_test.o：在函数‘paddle::PrepareTRTConfig(paddle::Analysis

[2020-09-14 07:26] hello-lx commented on #27209
能否提供一下在ubantu16.04下测试成功的案例呢？

[2020-09-14 07:27] juncaipeng commented on #27199
测试代码：
http://icode.baidu.com/repos/baidu/personal-code/guohongjie-paddle-pred/blob/lib_paddle_18:test/demo_0902_fo_paddle_18.cpp

![image](https://user-images.githubusercontent.com/52520497/93076044-5396dd00-f6b9-11ea-9d4d-76259a035000.png)

速度快的模型：

http://bj.bcebos.com/unit-test/guohongjie/model_res_debug.gz?authorization=bce-auth-v1%2F9060efba387a48a2a907559e66c49f25%2F2020-09-14T03%3A36%3A20Z%

[2020-09-14 08:47] TouyaAkira opened #27295 "在华为云Tesla T4 GPU的机器上,默认安装的是CUDA10.1,安装paddle-gpu后无法正常工作"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号1.8.4.post107
    2）CPU：Intel SkyLake 6151 3.0GHz 8核
    3）GPU：Tesla T4，CUDA10.1和CUDNN7.6.5
    4）系统环境：CentOS7、Python3.7.7(使用conda安装)
华为云镜像名称:CentOS 7.5 64bit with Tesla Driver 418.67 and Cuda 10.1
安装Anac

[2020-09-14 09:03] yaoxuefeng6 commented on #27226
可能和numpy的用法有关

[2020-09-14 09:07] morestart commented on #27210
飞桨卷积API介绍
飞桨卷积算子对应的API是paddle.fluid.dygraph.Conv2D，用户可以直接调用API进行计算，也可以在此基础上修改。常用的参数如下：
filter_size(int|tuple) - 卷积核大小，可以是整数，比如3，表示卷积核的高和宽均为3 ；或者是两个整数的list，例如[3,2]，表示卷积核的高为3，宽为2。
stride(int|tuple) - 步幅，可以是整数，默认值为1，表示垂直和水平滑动步幅均为1；或者是两个整数的list，例如[3,2]，表示垂直滑动步幅为3，水平滑动步幅为2。
padding(int|tuple) - 填充大小，可以是整数，比如1，表示竖直和水平边界填充大小均为1；或者是两个整数的list，例如[2,1]，表示竖直边界填充大小为2，水平边界填充大小为1。
act（str）- 应用于输出上的激活函数，如Tanh、Sof

[2020-09-14 09:34] ceci3 commented on #27243
It seems tensor not initial? I am not sure... You can push a pull request with your code~  @miraiwk

[2020-09-14 09:47] #19703 closed, assigned to nobody

[2020-09-14 09:47] #19712 closed, assigned to nobody

[2020-09-14 09:47] #19718 closed, assigned to nobody

[2020-09-14 09:47] #19725 closed, assigned to nobody

[2020-09-14 09:47] #19729 closed, assigned to nobody

[2020-09-14 09:47] #19732 closed, assigned to nobody

[2020-09-14 09:47] #19741 closed, assigned to JiabinYang

[2020-09-14 09:47] #19755 closed, assigned to seiriosPlus

[2020-09-14 09:47] #19761 closed, assigned to JiabinYang

[2020-09-14 09:47] #19777 closed, assigned to nobody

[2020-09-14 09:47] #19793 closed, assigned to nobody

[2020-09-14 10:39] wulei123456789 commented on #27210
非常感谢您使用飞桨教程，并提出宝贵意见，您的意见对我们飞桨的改进和优化至关重要。
------------------------------
问题答复如下：
在dygraph.Conv2D API中，代码对于数据格式没有限制，元组和列表都可以。
-----------------------------
如果您还有其他问题或疑惑，请随时联系我们，谢谢！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"

[2020-09-14 10:40] TouyaAkira commented on #27295
在conda install paddlepaddle-gpu之前
****************************************
Paddle version: None
Paddle With CUDA: None

OS: CentOS Linux 7.8.2003
Python version: 3.7.7

CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: 418.67
****************************************
然后运行:conda install paddlepaddle-gpu cudnn=7.6.5 cudatoolkit=10.1
报错信息如下:
Package cudnn conflicts for:
paddlepad

[2020-09-14 10:53] Preston-Dong opened #27297 "关于自定义SSIM图像相似性指标的问题"

[2020-09-14 11:01] Preston-Dong commented on #27297
我用skimage以及python版本的ssim算出来0.4左右，用这个自己写的直接就0.99了……想请大佬帮忙看看，万分感谢

[2020-09-14 11:10] miraiwk commented on #27243
@ceci3 Thank you! I will check the initialization of tensors.

I will push the PR after the unittest passes in local machine.

[2020-09-14 12:23] Aurelius84 commented on #27297
是否是guassian生成的windows有差别呢？

[2020-09-14 12:26] luotao1 commented on #25872
[MobileNetV1_1card.log](https://github.com/PaddlePaddle/Paddle/files/5218368/MobileNetV1_1card.log)

[2020-09-14 12:28] luotao1 commented on #25537
@jczaja @lidanqing-intel We make two different pool2d ops use the same data_format, and train a new model for inference.
![image](https://user-images.githubusercontent.com/6836917/93084543-cb1f3900-f6c6-11ea-8564-91a9c76bed2a.png)
But we can infer successfully with MKL, but fails with MKLDNN. The error is
![image](https://user-images.githubusercontent.com/6836917/93085794-b348b480-f6c8-11ea-9478-8

[2020-09-14 12:49] Preston-Dong commented on #27297
emmm，我看看哈

[2020-09-14 13:00] Preston-Dong commented on #27297
多谢呀，我把生成的高斯核换了，得到了一个正确的结果

[2020-09-14 13:28] dingjiaweiww opened #27303 "github下载耗时"
使用git clone https://github.com/PaddlePaddle/models.git命令下载models目录耗时数个小时

[2020-09-14 13:29] #27303 closed, assigned to nobody

[2020-09-14 13:31] dingjiaweiww commented on #27303
Test Test Test !!! Please ignore～

[2020-09-14 14:00] phlrain commented on #26673
I try to reproduce result, but I don't get NAN.

Log.
[code]

From my experience, the loss in batch 10 is around 11-14, becaure of data shuffle and weight initialization.

Cound you please me some more information.

Like cmake command (cmake ../ -DWITH_GPU=OFF ...) and docker information if used.

[2020-09-14 14:08] jczaja opened #27305 "Question on SetTensor BF16"
We are having problems with implementing setting tensor data from numpy array.

Numpy does not have **BF16** data type support, so on python level we use **uint16** data type. So from python to C++
comes the python object of data type **uint16** so each element is of **two** bytes size. Then mentioned numpy object is to be transformed into bfloat16 data_type object and used for setting target tens

[2020-09-14 14:35] jakeju92 opened #27306 "如何打印网络中可训练变量的梯度"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.1 GPU
    2）CPU：None
    3）GPU：GTX2070S、CUDA10.2和CUDNN 7.6.5
    4）系统环境：Ubuntu20.04，Python 3.7.0
- 训练信息
    1）单机，单卡
- 问题描述：
Hi，我在训练的时候需要将网络中的可训练变量的反向传播梯度打印出来，请问有什么比较方便的办法，谢谢！

[2020-09-15 00:03] #26662 closed, assigned to nobody

[2020-09-15 01:54] Aurelius84 commented on #27306
在静态图下，可以使用`var = fluid.layers.Print(var, print_phase='backward')`进行打印反向梯度。

Print接口文档请参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print

[2020-09-15 02:27] jakeju92 commented on #27306
那如果我需要将Conv2d层中的weight和bias打印出来，我应该怎么用Print函数呢？

示例代码:
[code]

[2020-09-15 02:49] jakeju92 commented on #27306
我尝试了一下直接将Conv2D出来的结果传给Print，可以打印了

示例代码：
[code]

输出
[code]
由于我在网络多个点都使用了print，我如何分辨这个梯度是哪个Tensor打印出来的呢，Tensor的名字加了tmp，对我来说没有什么意义，无法分辨

[2020-09-15 04:52] Aurelius84 commented on #27306
Print接口支持`message`参数：

[2020-09-15 05:19] zhouyongxyz commented on #27252
实际测试了，就是paddleocr 官方的测试代码，https://github.com/PaddlePaddle/PaddleOCR/tree/develop/deploy/cpp_infer 里面，只要不停的更换推理的图片，就会发现内存一直在涨
![image](https://user-images.githubusercontent.com/11956180/93168779-41b74780-f756-11ea-9060-524b58b0fd37.png)

[2020-09-15 05:29] DDDivano commented on #27295
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/install_Conda.html

![image](https://user-images.githubusercontent.com/10734244/93169339-7a0b5580-f757-11ea-85d2-332339e080f1.png)

[2020-09-15 05:58] Meiyim commented on #22138
这个问题有更新么，有相关PR可以看么

[2020-09-15 05:58] Meiyim commented on #22193
any update?

[2020-09-15 06:31] guoshengCS commented on #22138
这个已经支持了 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/top_k_op.cu#L105

[2020-09-15 06:45] #22138 closed, assigned to bjjwwang

[2020-09-15 06:55] jakeju92 commented on #27306
Ok，谢谢， 我这边发现了另外一个解决方法，在fetch_list中加入`["conv0.weight@GRAD"]`就可以得到对应梯度了，这是原始issue：#21965

[2020-09-15 06:56] #27306 closed, assigned to nobody

[2020-09-15 08:26] #27261 closed, assigned to nobody

[2020-09-15 08:30] #27260 closed, assigned to nobody

[2020-09-15 09:07] phlrain commented on #27295
目前paddle还未支持cuda10.1

conda activate 之后nvidia-smi错误的问题，能否帮忙确认下，diactivate之后，是不是正常

[2020-09-15 09:12] jczaja commented on #27305
We figured out that description of **BF16** format was not complete on PP side which made numpy to not perform proper conversion. Closing.

[2020-09-15 09:12] #27305 closed, assigned to luotao1

[2020-09-15 09:28] yunmi commented on #27276
在c++预测中将model_config.SwitchIrOptim() 改为model_config.SwitchIrOptim(false) 可解决此问题；
可以说明一下原理么，如果想保持使用switch_ir_optim=true是需要在训练模型时增加配置么？

[2020-09-15 12:58] wojtuss opened #27330 "Add support for INT8 quantization of fusion_gru op"
Please, enable INT8 quantization of the `fusion_gru` op using oneDNN-based INT8 kernel.

[2020-09-15 18:18] arlesniak commented on #26673
The training has been run on bare metal Xeon.

cmake .. -DWITH_GPU=OFF -DWITH_DISTRIBUTE=OFF -DWITH_MKLDNN=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=OFF -DWITH_PROFILER=OFF -DON_INFER=ON -DCMAKE_BUILD_TYPE=Release -DWITH_TESTING=ON -DWITH_INFERENCE_API_TEST=ON -DWITH_NCCL=OFF -DWITH_COVERAGE=OFF

**Paddle repo (branch develop):**
newest commit id: 6947a58a1f52bed347341d373ce86452b17c3366 Mon Sep 14 20:14

[2020-09-15 21:49] #25990 closed, assigned to luotao1, juncaipeng

[2020-09-15 21:50] #21595 closed, assigned to baojun-nervana

[2020-09-16 01:48] luotao1 commented on #27252
请参考 https://github.com/PaddlePaddle/PaddleOCR/issues/429#issuecomment-665423728 ，同时不要使用ZeroCopyRun接口，使用Run接口即可。

[2020-09-16 02:04] zcswdt opened #27338 "安装paddle报错"
您好，我在本地docker环境下根据paddle镜像，启动了一个容器，接着按照文档安装了paddle，但是在运行进入python解释器，然后输入import paddle.fluid和paddle.fluid.install_check.run_check()会报错。如下：
![image](https://user-images.githubusercontent.com/43515926/93283729-b5fbf480-f803-11ea-891c-987b2c7eddd7.png)

如下操作是我启动docker容器的命令：
![image](https://user-images.githubusercontent.com/43515926/93283787-d166ff80-f803-11ea-95d0-64b4dfce1502.png)
![image](https://u

[2020-09-16 02:20] Meiyim commented on #25871
请问，目前这个issue是啥状态？

[2020-09-16 02:27] aprilvkuo opened #27339 "Paddle训练， 是否支持多线程或者多进程同时触发多个任务呢？"
背景：  Paddle训练， 是否支持多线程或者多进程同时触发多个不同的训练任务呢？

[code]

[2020-09-16 02:40] #26983 closed, assigned to juncaipeng

[2020-09-16 02:43] juncaipeng commented on #27001
不好意思，没有及时看到这个issue有新的留言。
请问可以针对最新1.8.4验证问题吗？目前我们最新维护的是1.8.4。

[2020-09-16 02:51] juncaipeng commented on #26993
@TyrionZK  谢谢提供的需求。我们会尽快提供更多注意力实现的api，请期待。

[2020-09-16 02:51] #26993 closed, assigned to nobody

[2020-09-16 03:00] lfchener commented on #27338
你可以先尝试以下这几种解决方案：
![image](https://user-images.githubusercontent.com/6771821/93287327-ce700d00-f80b-11ea-8b6a-a3e79968d7a1.png)

[2020-09-16 03:04] #26954 closed, assigned to nobody

[2020-09-16 03:18] dingsiyu opened #27340 "finetune阶段使用recompute功能后，模型效果越训越差，关闭recompute功能后即恢复正常"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.1
    2）CPU：
    3）GPU：p40
    4）系统环境：python2.6

[2020-09-16 03:20] LDOUBLEV commented on #27338
link: https://github.com/PaddlePaddle/PaddleOCR/issues/703

[2020-09-16 03:30] tianshuo78520a commented on #27338
请问你用的是Paddle官网提供的镜像么？感觉是nccl没有装上

[2020-09-16 03:37] zcswdt commented on #27338
对，用的是官方镜像直接装的，如下是我的安装命令。
nvidia-docker run --name ppocr -v $PWD:/paddle --network=host -it hub.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7-dev /bin/bash

[2020-09-16 03:44] tianshuo78520a commented on #27338
用的Paddle版本是？

[2020-09-16 03:52] zcswdt commented on #27338
上面发的有我具体安装步骤，
![image](https://user-images.githubusercontent.com/43515926/93290316-03339280-f813-11ea-8dae-00f05cd98fc3.png)

[2020-09-16 04:00] heavengate commented on #27221
Conv2D接收[N, C, H, W]格式的数据，N是batch size，C对于图像来说一般是RGB三通道，H， W是图像的高度和宽度

[2020-09-16 04:50] tianshuo78520a commented on #27338
你可以试下1.8.4版本，RTX 型号GPU 暂时没有环境测试，或者你可以使用V100或者P40显卡

[2020-09-16 06:01] zcswdt commented on #27338
您好，谢谢悉心指导哈。第一、关于1.8.4版本的，昨天有你们的技术人员叫我下载了，升级以后还是报错的。
![image](https://user-images.githubusercontent.com/43515926/93297460-dcca2300-f823-11ea-84a4-1f9aab458fdd.png)

![image](https://user-images.githubusercontent.com/43515926/93297639-42b6aa80-f824-11ea-8be7-51dd4d8b39dc.png)

第二、对于显卡问题，这个是硬件条件了，不太好改变。对于RTX显卡，也是英伟达的显卡啊，而且我觉得用这个型号显卡的人不在少数啊，RTX2080TI或者是低版本的的，基本上都是标配啊。

[2020-09-16 06:06] tianshuo78520a commented on #27338
1.先确认所有卡的显存没有被占用，我看截图卡1已经使用了
![image](https://user-images.githubusercontent.com/29832297/93298418-c9b85280-f825-11ea-8b11-40f4d3af4325.png)

2.设置export CUDA_VISIBLE_DEVICES=0，使用单卡执行看下是否还会报错？

[2020-09-16 06:16] phlrain commented on #27338
能看下你的nccl版本么，paddle支持的nccl版本是>=247

[2020-09-16 06:22] zcswdt commented on #27338
1显卡被人占用了，不过我没有跑模型训练哎，只是输入import paddle.fluid 和  paddle.fluid.install_check.run_check()
这两个命令。就报错。

[2020-09-16 06:25] zcswdt commented on #27338
请教一下，这个查看nccl版本如何查看？

[2020-09-16 06:29] li829 commented on #27271
这个问题我解决了，原因可能是官方下载的直接安装那个包不能在我的主机环境下用，需要从源码重新在自己的主机上编译一遍才能用。

[2020-09-16 06:52] phlrain commented on #27338
如果是我们的官方docker， 可以通过 ll /usr/lib/x86_64-linux-gnu/libnccl.so* 看下编号

同时也检查下，你的机器的1号卡 被什么别的资源占用了，可以尝试kill掉进程，释放资源

[2020-09-16 07:08] zcswdt commented on #27338
![image](https://user-images.githubusercontent.com/43515926/93303596-56670e80-f82e-11ea-8e7f-ef2eaad6724a.png)
我的1号x显卡别人在训练模型，目前不太好杀掉。要不，我单独只用0号显卡启一个容器？这样就只要0号这一个显卡了。

[2020-09-16 07:09] zcswdt commented on #27338
![image](https://user-images.githubusercontent.com/43515926/93303596-56670e80-f82e-11ea-8e7f-ef2eaad6724a.png)
 我的1号显显卡别人在训练模型，目前不太好杀掉。要不，我单独只用0号显卡启一个容器？这样就只有0号这一个显卡了。

[2020-09-16 07:09] zcswdt commented on #27338
![image](https://user-images.githubusercontent.com/43515926/93303596-56670e80-f82e-11ea-8e7f-ef2eaad6724a.png)
 我的1号显显卡别人在训练模型，目前不太好杀掉。要不，我单独只用0号显卡启一个容器？这样就只有0号这一个显卡了。

[2020-09-16 07:14] ARDUJS opened #27347 "训练设置不同学习率"
### 环境
- python 3.7.5
- paddle 1.7.2
### 问题

[2020-09-16 07:16] phlrain commented on #27338
通过 CUDA_VISIBLE_DEVICES=0 设置下，只用一个卡跑任务就行了，run check失败是多卡的时候，一个卡被占用失败了，可以跑单卡的任务

[2020-09-16 07:19] lidanqing-vv commented on #26673
Hi, @arlesniak What is this machine ? Is it 6248? use `lscpu` and update to Baidu
And also if possible try to reproduyce on 6148, because baidu can not reproduce this error...

[2020-09-16 07:22] Shixiaowei02 commented on #27276
IR Optimization 代指计算图融合和优化步骤，正常情况下开关此选项得到的预测结果应该一致。不一致的情况看起来应该是预测图优化的某个步骤暂时不适用此模型，需要我们复现后修复此问题。如果方便麻烦提供一下模型地址，谢谢！

[2020-09-16 07:22] lidanqing-vv commented on #27214
@wojtuss  Baidu said recently because of RC release, this issue will be delayed. Baidu will rearrange the priority of all issues

[2020-09-16 07:23] Shixiaowei02 commented on #27184
请参考文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/native_infer.html

[2020-09-16 07:24] Shixiaowei02 commented on #27184
这看起来与配置项有关，比如 mkl/openblas 使用的 cpu 线程数。[关于线程数的设置方法](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/native_infer.html#id4)，请参见官网文档。

[2020-09-16 07:46] arlesniak commented on #26673
The above result are from :
Model name:            Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz

[2020-09-16 07:47] zhouyongxyz commented on #27252
目前实测是有效果的，内存可以控制住了。多谢多谢

[2020-09-16 07:50] zcswdt commented on #27338
您好，我刚才在我的另外一个服务器上进行了相同安装操作，最后在这个服务器上执行是可以用的。
![image](https://user-images.githubusercontent.com/43515926/93307853-1145db00-f834-11ea-8a39-97f9fd25aa33.png)
![image](https://user-images.githubusercontent.com/43515926/93307874-17d45280-f834-11ea-98aa-f910dc0bb785.png)
![image](https://user-images.githubusercontent.com/43515926/93307896-20c52400-f834-11ea-80fd-f9201e6c32b3.png)
这是我的T4显卡配置
![image](ht

[2020-09-16 08:10] lfchener commented on #27347
建议你可以把这一列取出来作为一个单独的参数并指定学习率。

[2020-09-16 08:25] #27252 closed, assigned to nobody

[2020-09-16 08:34] ARDUJS commented on #27347
您好，paddle有没提供取出一列的api

[2020-09-16 08:46] lfchener commented on #27347
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/slice_cn.html#slice
参考 slice，或者直接 a[:,0,:]

[2020-09-16 09:04] KernelErr opened #27353 "tanh函数输出值大于1"
## 环境信息

- Paddle版本：1.8.4 CPU
- 环境：AI Studio CPU环境

## 错误信息

在实际训练过程中tanh输出值会给到1.0000001，虽然对结果没有太大影响，但是使用了PARL之后，会导致assert错误。

[2020-09-16 09:06] KernelErr commented on #27353
TensorFlow也存在类似问题：https://github.com/tensorflow/tensorflow/issues/35435

[2020-09-16 09:44] arlesniak commented on #26673
****************************************
Paddle version: 6947a58a1f52bed347341d373ce86452b17c3366 Date:   Mon Sep 14 20:14:26 2020 +0800
Paddle branch: develop
Paddle With CUDA: False

Paddle models repo: https://github.com/PaddlePaddle/models.git
Paddle models version: bde994e12c93b4f1c6f0b195653192a76a6015ab Tue Sep 15 15:13:27 2020 +0800
Paddle models branch: develop

CPU: Intel(R) Xeon(R) Gold

[2020-09-16 10:49] ARDUJS commented on #27347
我现在是LodTensor 变量，取某一列，是否需要pad后再取或者有啥骚操作

[2020-09-16 11:13] arlesniak commented on #26673
@phlrain @luotao1  Could you reproduce the issue with the updated reproducing details. please ?

[2020-09-16 11:24] pmajchrzak opened #27358 "CMAKE error with downloads of models"
Commit: https://github.com/PaddlePaddle/Paddle/commit/f992f8d7ef58cb632985832816fad8ff5db7947a
causes CMake error while models are downloaded
sample of log for one model is below.
[code]

[2020-09-16 11:42] ydchen9 opened #27361 "windows7, python2.7.18安装paddle出错。"
   1）PaddlePaddle版本：根据官网给的安装语句安装的python -m pip install paddlepaddle -i https://pypi.tuna.tsinghua.edu.cn/simple
    2）CPU：请提供CPU型号。这在安装之前测试过，显示AMD64，符合官网说的安装要求。
    3）GPU：请提供GPU型号。无
    4）系统环境：win7、Python版本:2.7.18

具体出现的错误如下：
![1](https://user-images.githubusercontent.com/26667822/93332551-9640ec80-f854-11ea-8ac2-bc42f374195d.png)
![2](https://user-images.githubusercontent.com/26667822/93332565-99

[2020-09-16 12:05] ydchen9 commented on #27361
通过conda install paddlepaddle安装成功了。

[2020-09-16 14:17] luotao1 commented on #27184
@yeguang1991
1. 请问您的win机器是什么型号的，几核？
2. 那么请问一下为什么linux上24核的预测速度比双核慢呢？这得看你的linux机器是什么型号，几核

[2020-09-16 14:28] luotao1 commented on #27358
@zhouwei25 Could you help see this issue?

[2020-09-16 14:46] zhwesky2010 commented on #27358
@pmajchrzak Sorry, I just make a mistake. And It have been fixed in https://github.com/PaddlePaddle/Paddle/pull/27369. Thanks

[2020-09-17 01:11] #27358 closed, assigned to luotao1, zhwesky2010

[2020-09-17 01:22] yeguang1991 commented on #27184
@luotao1
win机器：i5-7500，4核
linux用的aistudio，Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz, 24核

[2020-09-17 02:54] wds2014 opened #27372 "fluid.layers.linear_chain_crf层 维度不匹配问题"
在使用ERNIE + CRF时，将ERNIE最后的输出h，h的维度为(batch_size, max_len, num_label)，与标签信息label， label的维度为(batch_size, max_len) 送入到 fluid.layers.linear_chain_crf 报如下错误：
------------------------------------------
关键代码
loss_crf = F.layers.linear_chain_crf(h, labels)
------------------------------------------------
报错信息
-------------------------------
C++ Call Stacks (More useful to developers):

0   std::string paddl

[2020-09-17 03:36] guoshengCS commented on #27372
三维tensor输入的时候`paddle.fluid.layers.linear_chain_crf(input, label, param_attr=None, length=None)`需要length这个输入，可以加上length试下

[2020-09-17 03:46] thailand88 opened #27373 "AIStudio中运行运行几轮之后出现“代码执行异常 ：内存溢出，执行已被终止。请检查相关代码”的提示是怎么回事"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2020-09-17 03:49] thailand88 opened #27374 "AIStudio内存溢出"
![图片](https://user-images.githubusercontent.com/29336122/93417962-d5fee700-f8db-11ea-94e3-3bc84a38d311.png)

[2020-09-17 03:50] 123malin commented on #27373
可以提供一下任务链接吗？且提示内存溢出，有估算任务需要的内存吗，机器实际内存是否够？

[2020-09-17 04:07] phlrain commented on #26673
I can get an NAN by the updated reproducing details. I will check the reason why cause this.

[2020-09-17 06:31] 123malin commented on #27374
同issue https://github.com/PaddlePaddle/Paddle/issues/27373 , 可以提供一下复现环境链接吗？另外检查机器内存是否满足程序运行需要的内存，也可以尝试减小batch_size等方法。

[2020-09-17 06:46] thailand88 commented on #27374
是检测本机内存还是AIStudio的内存？

[2020-09-17 07:48] yeyupiaoling commented on #26581
问题放在这里追踪：https://github.com/PaddlePaddle/PaddleDetection/issues/1379

[2020-09-17 07:48] #26581 closed, assigned to nobody

[2020-09-17 08:35] wojtuss commented on #27330
After enabling INT8 quantization of the fusion_gru op (a PR will be submitted soon) we achieved the following accuracy result for the QAT GRU model on a CLX 6248 (with VNNI support):

  | qat (fp32) | int8 | diff
-- | -- | -- | --
Precision | 0.89198 | 0.89221 | 0.00023
Recall | 0.89449 | 0.89412 | -0.00037
F1 score | 0.89323 | 0.89316 | -0.00007

[2020-09-17 09:55] luotao1 commented on #27184
如果任务量过小，使用过多的核反而会增加线程开销。你可以试下1核，2核，4核，8核，寻找最优的核数。

[2020-09-17 10:08] yeguang1991 commented on #27184
请问一下AnalysisPredictor和ParallelExecutor有什么区别，性能上有什么差异吗

[2020-09-17 10:58] ming5432ming opened #27387 "Each config can only be used for one predictor"
之前1.7.2一直可以使用，现在重新bcloud local了一下，发现不能用了，报错如下：

data/fluid_models/face_segmentation/face_segmentation.conf start init !
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0917 18:46:43.960003 25002 paddle_helper.h:246] init_paddlepredictor
I0917 18:46:43.960059 25002 paddle_helper.h:187] [date:Sep 17 2020][time:18:46:18][version:1.9.8.7][provider:vis-arch]
I0917 18:46:43.960070 2500

[2020-09-17 11:07] jiweibo commented on #27387
每一个Config只能初始化一个Predictor，请确认下是不是多次用到了同一个Predictor。

可以参考demo样例  https://paddle-inference-dist.bj.bcebos.com/tensorrt_test/paddle_inference_sample_v1.7.tar.gz

[2020-09-17 14:35] Preston-Dong commented on #27297
您好！不知道大佬还在不在，关于自己写的SSIM评价指标，我用1-ssim()做损失函数，在训练过程中出现了负值，也有超过1的，实在是不知道哪儿再能改进了，想请教请教！万分感激

[2020-09-17 14:35] Preston-Dong commented on #27297
您好！不知道大佬还在不在，关于自己写的SSIM评价指标，我用1-ssim()做损失函数，在训练过程中出现了负值，也有超过1的，实在是不知道哪儿再能改进了，想请教请教！万分感激

[2020-09-17 15:09] jczaja commented on #25537
@luotao1 I have question regarding this situation. Model is to be executed using NHWC input data as pool2d ops are having `data_format=kNHWC` set . The other ops in a model do not have `data_format` attribute so the way they work should be transparent to whether we use NCHW or NHWC signal. The thing is that this model is having **matmul** op . Matmul does not have `data_format` so  it should work

[2020-09-17 23:18] fanglicheng opened #27390 "Error installing with pip on MacBook Pro"
Clean installation on a MacBook Pro:

➜  speech_paddle_dy git:(master) ✗ python3 -m pip install paddle
Defaulting to user installation because normal site-packages is not writeable
Collecting paddle
  Using cached paddle-1.0.2.tar.gz (579 kB)
    ERROR: Command errored out with exit status 1:
     command: /Library/Developer/CommandLineTools/usr/bin/python3 -c 'import sys, setuptools, tokenize; sy

[2020-09-18 02:37] cgq0816 opened #27392 "【论文复现StyleGAN】The Op exp_grad doesn't have any grad op"
环境：
paddlepaddle 2.0b

代码实现：
def R1Penalty(real_img, f):
    # gradient penalty

    reals = real_img
    reals.stop_gradient=False
    real_logit = f(reals) #torch.Size([2, 1])
    #apply_loss_scaling = lambda x: x.numpy() * np.exp(x.numpy() * [np.float32(np.log(2.0))])
    #undo_loss_scaling = lambda x: x.numpy() * np.exp(-x.numpy() * [np.float32(np.log(2.0))])

    apply_loss_scaling = lambda x

[2020-09-18 02:39] wangxicoding commented on #27390
The package name is wrong.  You need install with `python3 -m pip install paddlepaddle`
More detail can see this https://www.paddlepaddle.org.cn/install/quick

[2020-09-18 03:28] wangxicoding commented on #27392
目前exp还不支持二阶导数，我找相关同学反馈一下

[2020-09-18 04:35] Costwen opened #27394 "在1.8.4版本动态图版本之中使用fluid.layers.conv2d报错"
- 版本、环境信息
1）PaddlePaddle版本：1.8.4
2）CPU/GPU：GPU
3）系统环境：AiStudio

当在动态图版本之中使用
[code]
或者
[code]
等方式的时候,在运行的时候会报错
但如果使用fluid.dygraph.Conv2D等方式就不会报错

报错提示
Error: Cannot get attribute groups by type int ,its type is bool at(/paddle/paddle/fluid/framework/attribute.h:42)

这是因为在动态图中不支持使用静态图的api(需要计算梯度)

[2020-09-18 06:01] wangxicoding commented on #27394
是的，fluid.layers.conv2d是静态图API，不支持动态图。
另外paddle2.0beta版已发布https://github.com/PaddlePaddle/Paddle/releases ，动态图体验有较大提升，欢迎试用

[2020-09-18 07:45] Colorfu1 commented on #27387
我也遇到了这个问题，检查过后没有使用多个config啊。我之前1.6+cuda8没出现过这个问题，但是换到cuda9就有了。不知道是不是TensorRT的问题。

[2020-09-18 07:49] rfdeng opened #27397 "paddle.fluid.layers.unfold op不支持输入feature的shape存在多个-1"
paddle.fluid.layers.unfold(x, kernel_size, strides=1, paddings=0, dilation=1, name=None)

unfolding层的第一个输入参数x，其shape不支持多个-1的描述方式。
对应代码及报错：
![image](https://user-images.githubusercontent.com/24435688/93570802-26eb0a00-f9c6-11ea-99de-e05af292593b.png)
![image](https://user-images.githubusercontent.com/24435688/93570819-2bafbe00-f9c6-11ea-986b-e73d29515b2f.png)
![image](https://user-images.githubuser

[2020-09-18 08:02] wangxicoding commented on #27392
感谢您的反馈，已经找相关同学跟进中~

[2020-09-18 08:03] lijianshe02 commented on #27397
op要根据输入的(h,w)计算输出shape, 肯定是不支持(h,w）为-1的

[2020-09-18 08:14] OliverLPH opened #27398 "rec_r34_vd_tps_bilstm_attn(from PaddleOCR repo) MKLDNN prediction failed"
System information
-PaddlePaddle version: develop, `d28162b97fd2d224968c18c9da735900ef280e7c`
-CPU: Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz, mkldnn enabled
-GPU: P4, CUDA10, CUDNN7.5, compile with GPU, but run cpu inference
-OS Platform: Ubuntu1604
-Dockerfile: Paddle/tools/manylinux1/Dockerfile.cuda10_cudnn7_gcc48_ubuntu16
-Python version: 3.7
-Cmake orders
-C++version.txt
-API information

[co

[2020-09-18 08:38] shenyt-sanshui opened #27401 "jetson xavier NX"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2020-09-18 08:41] shenyt-sanshui opened #27402 "jetson xavier nx安装paddlepaddle"
请问jetson xavier nx上可以直接安装paddlepaddle吗
架构是64bit arrch64的，看到官网说不支持arm64的，但是不知道arrch64是否支持安装呢

[2020-09-18 09:13] wangxicoding commented on #27402
直接python安装吗？编译可以试试 https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html

[2020-09-18 09:17] wangxicoding commented on #27401
内容在这个issue https://github.com/PaddlePaddle/Paddle/issues/27402 ，关闭当前issue

[2020-09-18 09:17] #27401 closed, assigned to nobody

[2020-09-18 09:47] wangxicoding commented on #27402
麻烦 @shangzhizhou 跟进一下~

[2020-09-18 11:04] shangzhizhou commented on #27402
可以编译安装，下面贴一下我们在jetpack4.3，jetson tx2上的编译过程，请参考一下
1.环境准备：
自测使用硬件jetson tx2，使用nvidia sdk manager 1.20刷机jetpack4.3（内置ubuntu18.04、python2.7、cuda10.0、cudnn7.6、tensorrt6.0）
2.编译：
  a）更改tensorrt头文件，解决因tensorrt导致的编译失败

     /usr/include/aarch64-linux-gnu/NvInferRuntime.h增加虚析构函数"virtual ~IPluginFactory() {}"

  b）删除python对opencv的依赖，jetson软件包内置opencv，且版本比paddle更新，删除依赖使用内置，也不降级jetson原有软件包。

   在python/requir

[2020-09-18 11:10] #27229 closed, assigned to nobody

[2020-09-18 11:55] miraiwk commented on #27243
Hi @ceci3 , I push a PR #27406 . Since the state `weight_u` and `weight_v` will be updated in SpectralNorm when `power_iters > 0`, I do not know how to write the unittest : (

[2020-09-18 12:28] shenyt-sanshui commented on #27402
谢啦!

[2020-09-18 12:49] miraiwk opened #27407 "通过trace方式将包含L.batch_norm的动态图保存时， 报错`NotFoundError: Persistable var batch_norm_1.w_1 does not exist`"
我在用`TracedLayer`保存调用了`paddle.fluid.layers.batch_norm`的动态图时， PaddlePaddle报错`NotFoundError: Persistable var batch_norm_1.w_1 does not exist`。 但如果去掉batch_norm的调用， 能够成功保存。请问应该如何解决呢？ 谢谢！

- 版本、环境信息：
    1）PaddlePaddle版本:

对主分支的代码进行编译，Only-CPU版本：
9373cf5ae4069a2d3bc795c021326cb447162eb6

- 复现代码
[code]

[2020-09-18 14:04] ARDUJS opened #27408 "layers.lstm_unit使用问题"
### 环境
- paddle: 1.7.2
- python: 3.7.5
### 报错截图
![image](https://user-images.githubusercontent.com/20811685/93606400-94189280-f9fa-11ea-983f-a52c7fccd754.png)

### 报错处代码
[code]

[2020-09-18 22:01] fanglicheng commented on #27390
Thanks, I guess there's no version supporting Python 3.8 then?

➜  speech_paddle_dy git:(master) ✗ python3 -m pip install paddlepaddle -i https://pypi.tuna.tsinghua.edu.cn/simple
Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
ERROR: Could not find a version that satisfies the requirement paddlepaddle (from

[2020-09-19 01:02] wangxicoding commented on #27407
batch_norm是静态图下的api。
1.8动态图下可以使用 paddle.fluid.dygraph.BatchNorm， 2.0beta版可以使用paddle.nn.BatchNorm

[2020-09-19 01:23] wangxicoding commented on #27390
Thanks for your feedback. Paddle only supports Python 2.7.15+/3.5.1+/3.6/3.7 (64 bit) for now. Python3.8 support is already in the follow-up development plan.

[2020-09-19 02:15] miraiwk commented on #27407
替换成`paddle.fluid.dygraph.BatchNorm`后， 问题解决了。

谢谢！

[2020-09-19 02:15] #27407 closed, assigned to nobody

[2020-09-19 03:12] whjdark opened #27411 "Torch的register_buffer在paddle有什么对应的API吗"
Pytorch的register_buffer在paddle上如何实现？
![_G $0UILLU54PY4HI{VJ4JA](https://user-images.githubusercontent.com/44253501/93658628-e2b44400-fa6f-11ea-8ffd-44f5ae60d27e.png)

[2020-09-19 04:32] allarobot opened #27412 "【论文复现StyleGAN】Unable to cast Python instance to C++ type"
Paddle 1.8.3 GPU版
windows 10
显卡2080
Python3.7.3
![1](https://user-images.githubusercontent.com/14209812/93659082-358ffa80-fa74-11ea-9cca-b667335cae2c.png)
![2](https://user-images.githubusercontent.com/14209812/93659084-39bc1800-fa74-11ea-8fbf-a31c680227ef.png)

[2020-09-19 09:11] biubiuyi opened #27413 "优化器 运行出现未知错误，不清楚错误原因"
paddle1.7.2，cpu，单机训练
在使用sgd和adam是都出现相同错误，不知道问题在哪。
和这个问题类似：https://ai.baidu.com/forum/topic/show/957673，同样用到了layers.gather_nd 函数。
完整报错信息如下：
Traceback (most recent call last):
  File "/Users/casfive-public/projects/NERCheck/614EvolveModel/train.py", line 372, in <module>
    opt.minimize(loss)
  File "</Users/casfive-public/anaconda3/lib/python3.6/site-packages/decorator.py:decorator-gen-49>", line

[2020-09-19 12:01] biubiuyi commented on #27413
https://github.com/PaddlePaddle/Paddle/issues/22115
按这个方法https://github.com/PaddlePaddle/Paddle/issues/22115 加indexing_tensor.stop_gradient=True
还是不行

[2020-09-19 12:18] lyn1225 opened #27415 "fluid.layers.conv2d()中关于创建filter的问题"
  pytorch中nn.functional.conv2d()方法支持创建形如[out_channels,in_channels,filter_height,filter_width]的filter。paddle中的fluid.layers.conv2d()的api中关于该方法的介绍也提到filter可以是一个列表。可是我在将创建好的filter参数传入该方法时，没有输出,程序一直卡在这里不能继续运行。想请教各位大神，我该如何解决。

[2020-09-19 13:10] qingqing01 commented on #27413
@biubiuyi  看下网络`cast`附近，有没有不需要反传梯度的，设置下stop_gradient=True。

[2020-09-19 13:16] qingqing01 commented on #27415
`fluid.layers.conv2d()` 不支持传入filter。

paddle 2.0-beta中支持functional的写法，即传入filter。可以参考: https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-beta/api/paddle/nn/functional/conv/conv2d_cn.html#conv2d

您是动态图、还是静态图？ paddle版本是多少呢？

[2020-09-19 13:26] qingqing01 commented on #27412
@Jay9z

能给一小段可复现的代码吗？
另外，paddle 2.0beta以支持InstanceNorm了 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-beta/api/paddle/nn/layer/norm/InstanceNorm2d_cn.html#instancenorm2d

[2020-09-19 13:32] qingqing01 commented on #27411
@whjdark

在Paddle中，采用`self.create_parameter`，然后不需要训练的话，设置stop_gradient=True，可以参考BatchNorm中的写法:

https://github.com/PaddlePaddle/Paddle/blob/99626502f747cc85d518d87267cec821ffbf69a3/python/paddle/fluid/dygraph/nn.py#L1297-L1305

[2020-09-19 13:56] lyn1225 commented on #27415
感谢你的回答。按照你给的链接，我安装了这个新的版本，可以使用。另外还有一个问题想请教一下，paddle发布的paddlecv库中提供了在线体验一些分割模型的项目，这些公开项目支持这个paddle 2.0-beta版本吗？

[2020-09-19 14:09] #27415 closed, assigned to nobody

[2020-09-20 01:55] AaboutL commented on #24170
同问，解决了吗

[2020-09-20 02:50] ARDUJS opened #27416 "关于lstm构建问题"
### 环境
- paddle = 1.7.2
- python = 3.7.5
### 问题
![image](https://user-images.githubusercontent.com/20811685/93693146-7cdac180-fb2e-11ea-80b0-8e1abfc3d95f.png)
如何构建下面这个lstm，多了T输入
![image](https://user-images.githubusercontent.com/20811685/93693159-92e88200-fb2e-11ea-9203-f0430a2dffb8.png)
![image](https://user-images.githubusercontent.com/20811685/93693166-a0057100-fb2e-11ea-9c1b-e7023e7b160c.png)

[2020-09-20 05:36] Yuuuuuuuuuuuuuuuuuummy opened #27417 "Something about network input"
I noticed that, some dygraph demos in paddle2.0beta version just input nd.array class into the network. Does it have the difference between using to_variable() or to_tensor() to convert data and directly input ndarray ? If it does, what's the difference? Or which method should we use in paddle2.0beta. Thanks for your time and hope to get reply!

[2020-09-20 11:16] luotao1 commented on #27184
AnalysisPredictor 是[预测专用执行器](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/native_infer.html#analysispredictor)，对预测做了一些优化，预测性能会更好。

[2020-09-20 14:13] luotao1 commented on #27417
Could you give the URL of these dygraph demos?

[2020-09-20 15:28] chaojiewang94 opened #27419 "paddle bert输入问题"
bert中lodtensor输入
https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleNLP/pretrain_language_models/BERT/model/classifier.py

您好，上面Bert的demo中src_ids 输入形状是(None,None),即Batch_size*Max_seq_len;
我想问的是既然输入定义是Lod tensor，那么Bert中的src_ids输入能不能和lstm里面的Lodtensor一样，把Batch_size维度和seq_lens维度合成到一个维度上面，这样就不需要对短句子进行padding了。

请问有这样做的吗，有类似的code可以参考吗，谢谢

lstm里面的lodtensor输入
https://github.com/baidu/informatio

[2020-09-21 02:13] guoshengCS commented on #27416
可以先行尝试下将`[step_input, t, h]`concat起来，并且为`i_gate, f_gate, z`中的三个矩阵乘创建一个大的weight矩阵和bias，随后将matmul和add_bias的结果分成对应三份继续后续的运算

[2020-09-21 03:13] #25804 closed, assigned to lfchener

[2020-09-21 03:16] #26142 closed, assigned to lfchener

[2020-09-21 04:00] luotao1 commented on #27417
`to_tensor` is an alias of `to_varaible`, and we should use to_variable() or to_tensor() to convert data, otherwise, there may be some error. (see #26116, )

Could you give the URL of these dygraph demos just input nd.array class into the network? We will have a check on it.

[2020-09-21 04:37] Yuuuuuuuuuuuuuuuuuummy commented on #27417
@luotao1

In this [link](https://github.com/PaddlePaddle/PaddleSeg/blob/52ef0ee505a00ed8c81f95759887e56062f0941b/dygraph/core/train.py#L29), in line 89, *image* and *label* is np.ndarray class, however in line 92, the image is directly inputed into the ddp_model. Maybe there is some implicit transform, but I don't notice. If it is, please let me know!  thx!!

[2020-09-21 07:09] wds2014 opened #27425 "处理bert 等模型不定长问题"
-------------------------------------------------
paddlepaddle 可以处理bert等NLP模型不定长问题吗？？
一般做法是通过padding 的方式强制每个batch内长度一致，能否通过lodtensor的方式直接处理不定长文本问题，来提高效率？？
谢谢 ！！
--------------------------------
 版本、环境信息：
    1）PaddlePaddle版本：1.7.2
    2）GPU：2080TI
    3）系统环境：UBUNTU16.04, python=3.6

[2020-09-21 07:29] luotao1 commented on #27419
@guoshengCS 可以帮忙看下这个问题么

[2020-09-21 08:09] #27394 closed, assigned to nobody

[2020-09-21 08:11] wds2014 commented on #27419
试了下将二维的List传到lodtensor里，第一维表示batch_size大小，第二维表示每篇文章的长度，注意第二维不一样长，报如下错误：
---------------------
"\n\tFaild to convert input data to a regular ndarray :\n\t* Usually "
----------------------

[2020-09-21 08:19] guoshengCS commented on #27419
https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleNLP/pretrain_language_models/BERT/model/classifier.py

这个实现中并未使用和支持lodtensor，src_ids 输入形状`(None,None)`对应了`(batch_size, max_sequence_length_in_batch)`这样一个形状。

[2020-09-21 08:21] LDOUBLEV opened #27427 "Attribute output_padding is not found in proto conv2d_transpose 【paddle1.8.4】"
环境：
paddlepaddle==1.8.4
python3.7
CPU

复现环境：
[code]

报错截图：
![image](https://user-images.githubusercontent.com/26592129/93745681-8182a100-fc26-11ea-861b-903381133f6b.png)

--
 测试paddle2.0 没问题

[2020-09-21 08:36] chaojiewang94 commented on #27419
@guoshengCS 有使用lodtensor的Bert版本吗，还是说Bert必须要将输入padding成max_sequence_length_in_batch

[2020-09-21 08:39] chaojiewang94 commented on #27419
@guoshengCS 还有就是，我看了src_ids的类型是lodtensor，lod_level是０；这边的lod_level是０，是不是表示它不是个lod_tensor?

[2020-09-21 08:50] zp7541 opened #27428 "关于参数初始化的一些问题"
我在做强化学习的时候，发现一个问题。同样的一个网络。有的时候reward的奖励会上升的很快，但是有的时候可能他永远都上升不了。请问下这是不是和参数内部的初始化的问题有关。
**PS：如果200个episode后 reward不上升，就重新运行一遍**
一个是PolicyGradient的算法：https://aistudio.baidu.com/aistudio/projectdetail/618692
还有一个是动态图写的dqn的算法
`import paddle.fluid.dygraph as dygraph
import paddle.fluid as fluid
import gym
from collections import deque
import numpy as np
import random
#  有时候网络会一直不收敛，此时要重新开始

class Model(

[2020-09-21 09:44] #16285 closed, assigned to nobody

[2020-09-21 09:44] #18205 closed, assigned to XiaoguangHu01

[2020-09-21 09:44] #19429 closed, assigned to nobody

[2020-09-21 09:44] #19697 closed, assigned to nobody

[2020-09-21 09:44] #19762 closed, assigned to seiriosPlus, JiabinYang

[2020-09-21 09:44] #19790 closed, assigned to seiriosPlus

[2020-09-21 09:44] #19810 closed, assigned to nobody

[2020-09-21 09:44] #19817 closed, assigned to nobody

[2020-09-21 09:45] #19829 closed, assigned to nobody

[2020-09-21 09:45] #19851 closed, assigned to nobody

[2020-09-21 09:45] #19860 closed, assigned to nobody

[2020-09-21 09:45] #19873 closed, assigned to heavengate

[2020-09-21 09:45] #19878 closed, assigned to heavengate

[2020-09-21 09:45] #19882 closed, assigned to heavengate

[2020-09-21 10:55] guoshengCS commented on #27419
这个目前没有

这个是这样的

[2020-09-21 11:48] OliverLPH commented on #27427
这个应该是你导出模型的版本高于1.8.4了，所以用1.8.4跑会缺失 output_padding

[2020-09-21 12:01] #27411 closed, assigned to nobody

[2020-09-21 12:12] saviord7 opened #27440 "Image reader and feeder does not work right"
Hello!
My data reader:
[code]

I use it in trainer :
[code]

And in train logs i Have next:
[code]

During all training.
What is wrong with my feeder now ?

[2020-09-21 12:29] luotao1 commented on #27398
@lidanqing-intel @jczaja Please help see this OCR issue

[2020-09-21 12:57] chaojiewang94 commented on #27419
@guoshengCS 谢谢你，最后一个问题，为啥没有lodtensor版本的Bert，理论上不成立，还是用了lodtensor后没法内部矩阵运算

[2020-09-21 13:25] LDOUBLEV commented on #27427
补充：
paddle1.8.4版本，在GPU上可以运行，CPU上不行，GPU上运行指令：
[code]

[2020-09-21 13:50] lidanqing-vv commented on #27398
@luotao1  Where is the model file located ?

[2020-09-21 13:59] lidanqing-vv commented on #27398
model link : https://sys-p0.bj.bcebos.com/inference/python-ocr-infer.tgz

[2020-09-21 14:47] jczaja commented on #27398
@luotao1 , @lidanqing-intel I reproducd the problem. Root cause is that oneDNN pool2d kernel is not supporting "adpative" pooling so this is something that need to be added to fix this issue

[2020-09-21 16:46] Costwen opened #27449 "在训练的时候BN层的梯度过高 甚至为INF"
1）PaddlePaddle版本：1.8.4
2）CPU/GPU：GPU
3）系统环境：AI Studio

[code]
在复现DFN论文的时候，发现在BN层处的梯度过高，第一轮就达到了上万，第二轮直接为INF,是否是因为使用了自定义的Relu层的原因，导致在计算梯度的时候发生错误。如果是，我该如何定义呢？

[2020-09-22 02:19] guoshengCS commented on #27419
lodtensor在除了MultiHeadAttention部分都是可以的直接使用的，而MultiHeadAttention部分由于使用matmul（BatchedGEMM）这个要求batch维度和position维度分开。如果确实希望使用lodtensor的话也可以尝试在其他部分使用lodtensor，MultiHeadAttention前后进行[sequence_pad](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/sequence_pad_cn.html#sequence-pad)和[sequence_unpad](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/sequence_unpad_c

[2020-09-22 06:07] pmajchrzak opened #27453 "Cmake for Ernie Error: Cannot find PaddlePaddle Fluid"
commit: afe94903c31c9ca66f23bc54166b160192935e2a
causes build error

[code]

part of console log:
[code]

[2020-09-22 06:32] gongweibao commented on #27440
[code]

[2020-09-22 06:33] #27440 closed, assigned to nobody

[2020-09-22 06:40] gongweibao commented on #27449
没看出来你的relu写的有啥问题。请检查一下其他的地方。

[2020-09-22 06:42] #27449 closed, assigned to nobody

[2020-09-22 07:09] gongweibao commented on #27425
现在暂时没有这样的对比数据。有了之后告知。感谢！

[2020-09-22 07:09] #27425 closed, assigned to nobody

[2020-09-22 07:17] luotao1 commented on #27417
![image](https://user-images.githubusercontent.com/6836917/93853294-34660400-fce6-11ea-86bf-c08ad8c2f10a.png)
Dataloader returns loader, and each element in the loader is a Tensor. You can see the [Dataloader example](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/DataLoader_cn.html#dataloader).
![image](https://user-images.githubusercontent.com/6836917/93853465-7d1dbd00-fce6-1

[2020-09-22 07:21] luotao1 commented on #25537
Yes, it is. matmul should not have data_format attribute, and its implementation will work properly regardless any data_format used.

[2020-09-22 07:35] luotao1 commented on #27453
@jiweibo Since you rename `fluid_inference` to `paddle_inference`, maybe you should go through all the repos. https://github.com/PaddlePaddle/benchmark/tree/master/Inference/c%2B%2B/ernie/cmake Here we should rename `fluid_inference` to `paddle_inference` as well.

[2020-09-22 07:43] jiweibo commented on #27453
We rename fluid_inference to paddle_inference in paddle repo.  I will check all repo under Paddle later.

You can modify the cmake flags.

`cmake .. -DPADDLE_ROOT=/repos/paddle_paddle/build/fluid_inference_install_dir -DUSE_GPU=OFF
`

`cmake .. -DPADDLE_ROOT=/repos/paddle_paddle/build/paddle_inference_install_dir -DUSE_GPU=OFF
`

If PADDLE_ROOT is not provided, cmake will fail and we will fix it a

[2020-09-22 07:57] Yuuuuuuuuuuuuuuuuuummy commented on #27417
@luotao1
I see, thx! May be my previous experiments have some bugs.

[2020-09-22 07:57] #27417 closed, assigned to heavengate

[2020-09-22 13:22] #27397 closed, assigned to lijianshe02

[2020-09-22 23:26] lidanqing-vv commented on #27453
@pmajchrzak  Can I close this issue ?

[2020-09-22 23:28] lidanqing-vv commented on #27330
PR #27481  submitted

[2020-09-22 23:32] lidanqing-vv commented on #27136
@pmajchrzak  Can I close this issue? If it still exist, provide more details as issue description

Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that th
If there is no solution,please make sure that this is an inference issue including the following details :
**System information**
-PaddlePaddle version （eg.1.1）or CommitID
-CP

[2020-09-23 03:25] fiyen opened #27485 "为何没有一个确定输出尺寸的函数？"
几个月以前，就已经有人提及过这个问题：在ConvXD之后接ConvXD，或者Linear层时，会很不友好地要求输入channels或input_dim的值，然而这个值是需要人工计算的（channels上一层已经输入过，下一层本应该顺应上一层的参数不需要再输入这个值了）。但是现在的问题是paddle至今没有出自动计算的函数，这一点会造成很不必要的麻烦。
重申，在__init__中定义ConvXD后面的层时，总是需要人工计算特征数量或搬运之前已经有的值，人工计算很不友好。希望可以有相关的自动计算的函数。
代码示例如下：
![image](https://user-images.githubusercontent.com/35953131/93963335-7b5c0400-fd8f-11ea-8f2f-967392196767.png)

[2020-09-23 03:30] fiyen commented on #27485
图片挂了，再发一次：
![捕获](https://user-images.githubusercontent.com/35953131/93963604-2ff62580-fd90-11ea-995f-c8de18b960fb.PNG)

[2020-09-23 06:24] GT-ZhangAcer opened #27489 "2.0Beta中自定义分类任务没有复现成功，效果比Fluid版本收敛慢"
PaddlePaddle环境：2.0Beta-CPU-pip清华源安装
系统以及Python环境：MAC+Python3.7

## 代码部分
### case1 [Fluid版本代码 AI Studio](https://aistudio.baidu.com/aistudio/projectdetail/447766)
[code]
该版本在第10个EPOCH后就可以达到较高的准确率
<img width="506" alt="图片" src="https://user-images.githubusercontent.com/46156734/93973644-1f04de80-fda7-11ea-932f-0876ed4347aa.png">

### case2 使用2.0Beta的Hapi进行搭建
[code]

#### 该版本在Batch_size为128时效果为：

<im

[2020-09-23 06:25] gobigrassland opened #27490 "多机多卡训练出错"
[code]

我使用机房机器进行多机分布式训练，出现了上述错误，不知是什么原因导致的。看提示信息可能是nccl初始化出错，也不知道具体是什么原因导致这个问题，而使用其他框架如tensorflow则多机多卡则是正常的。麻烦各位给个建议

[2020-09-23 06:46] GT-ZhangAcer commented on #27485
图没挂，我这边可以看到。插个眼...

[2020-09-23 06:49] TWLemontree opened #27491 "reduce_sum 输出值问题"
with dygraph.guard():
    x = fluid.layers.ones((128, 3, 28, 28), dtype='float32')
    xi = fluid.layers.reshape(x, shape=(x.shape[0], -1, 3, x.shape[2], x.shape[3]))
    xi2 = fluid.layers.reduce_sum(fluid.layers.square(xi), dim=2)
    print(xi2)

我在复现别人的代码时，用到了这样一段代码。xi2 本来应该输出元素全为 3 的张量，但不知道为什么值全部为 0 ！这给我造成了极大地困惑qwq

[2020-09-23 06:55] TWLemontree commented on #27491
![微信图片_20200923145356](https://user-images.githubusercontent.com/22110194/93977133-9ee17780-fdac-11ea-952f-fb60a04b992f.png)

[2020-09-23 07:05] TWLemontree commented on #27491
![torch](https://github.com/TWLemontree/issue_use_img/blob/master/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200923145356.png)
![pp](https://github.com/TWLemontree/issue_use_img/blob/master/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200923145456.png)

[2020-09-23 07:09] shuoyin opened #27494 "多program互相影响的问题"
hi 我下边这个程序，定义了两个Program，分别在两个Program里定义了一个FC层，名字相同但是输出不同。我理解这两个program里的变量应该是互相不影响的，所以两个program的输出应该也是不同的（虽然他们名字一样），但是实际输出并不是。
[code]

输出如下：
[code]
看起来prog2把prog1覆盖了。请问这是什么情况，要怎么解决使得两个program各自分别输出互不影响啊
谢谢

[2020-09-23 07:25] wanghaoshuang commented on #27494
两个fc的名称一样，意味着fc的weight的名字一样，在计算时，fc会默认从fluid.global_scope()里按weight的名字取对应的数值。

所以，两个fc输出结果一样的原因是用了同一个scope，即fluid.global_scope()

如果希望两个program完全独立，需要各自用不同的scope，构造scope的方法如下：
[code]
然后将初始化和执行program的代码放在[scope_guard](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/scope_guard_cn.html#scope-guard) block中,如下所示：

[code]

[2020-09-23 07:36] Angus07 opened #27497 "Var read_file_0.tmp_10 has more than one negative dim"
![image](https://user-images.githubusercontent.com/4252318/93981408-84aa9800-fdb2-11ea-9c51-508c9314ed44.png)

[2020-09-23 07:38] wanghaoshuang commented on #27497
请补充下定义data layer和data reader的相关代码？应该是shape没设置对。

[2020-09-23 07:42] shuoyin commented on #27494
可以解释一下scope和program的关系吗，我看官网上说

我理解program也是保存了变量和变量名的一个空间吧。
我最开始定义prog1和prog2的FC的时候，这两个FC的变量是在哪个scope下边的呢

[2020-09-23 07:52] lyn1225 opened #27499 "fluid.layers.interpolate()与fluid.layers.resize_bilinear()的区别"
在resample='billinear'的情况下，fluid.layers.interpolate()与fluid.layers.resize_bilinear()的效果是不是没有区别

[2020-09-23 07:52] wanghaoshuang commented on #27494
program是用来存放网络结构的数据结构；
scope是用来存放变量数值的dict结构；

当你执行exe.run(start_prog1)的时候，start_prog1中的fc的weight会被初始化并放到fluid.global_scope()中。
当你执行exe.run(start_prog2)的时候，start_prog2中的fc的weight会被初始化并放到fluid.global_scope()中，覆盖掉start_prog1创建的同名变量。

[2020-09-23 08:22] Frank00001 opened #27501 "关于paddle框架中hierarchical allreduce(2D ncclallreduce)代码实现以及使用方法的疑问"
我仔细浏览了paddle针对2D ncclallreduce算法开源的代码，主要有两点疑问：
1、在机器内,各个节点是否应该使用ncclreducescatter进行同步通信？
     根据腾讯提出的hirerarchical allreduce,如下图所示，在第一阶段各个组内intra rings时，每个计算节点都会接收上一个相邻节点发送的数据，并发送数据到相邻的下一个节点上，形成一个环形ring的逻辑。
![2](https://user-images.githubusercontent.com/43396077/93980664-80ca4600-fdb1-11ea-9c3d-ed401d3eeaba.png)
     但是在paddle实现这一同步算法时（Add multi-ncclcomm and 2D ncclallreduce support. #17263），第一阶段在

[2020-09-23 08:26] Angus07 commented on #27497
见374行左右

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
import paddle.fluid.layers.utils as paddle_utils
import os
import time
import argparse
import numpy as np
import multiprocessing
import sys
import paddle
import paddle.fluid as fluid
import paddle.fluid.layers as layers

from six.moves import xrange

from model.ernie import ErnieMo

[2020-09-23 09:33] jeff41404 opened #27507 "编译错误 - paddle/fluid/platform/dynload/tensorrt.h"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）CPU：Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
    3）GPU：Tesla P40，cuda 10.1，cudnn 7，gcc 8.2
    4）系统环境：Ubuntu 16.04、Python 3.6
![编译过程中 tensorrt h 报错信息](https://user-images.githubusercontent.com/8555991/93994772-d824e200-fdc2-11ea-8d5a-d761d4180115.JPG)

[2020-09-23 09:43] jeff41404 opened #27508 "编译错误 - paddle/fluid/inference/tensorrt/helper.h"
版本、环境信息：
   1）PaddlePaddle版本：1.8
   2）CPU：Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
   3）GPU：Tesla P40，cuda 10.1，cudnn 7，gcc 8.2
   4）系统环境：Ubuntu 16.04、Python 3.6
![编译过程中 helper h 报错信息](https://user-images.githubusercontent.com/8555991/93996039-55048b80-fdc4-11ea-8338-4427fda31c04.JPG)

[2020-09-23 09:45] jeff41404 opened #27509 "编译错误 - paddle/fluid/inference/tensorrt/plugin/trt_plugin.h"
版本、环境信息：
   1）PaddlePaddle版本：1.8
   2）CPU：Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
   3）GPU：Tesla P40，cuda 10.1，cudnn 7，gcc 8.2
   4）系统环境：Ubuntu 16.04、Python 3.6
![编译过程中 trt_plugin h 报错信息](https://user-images.githubusercontent.com/8555991/93996229-9432dc80-fdc4-11ea-9f0b-a37d76723af7.JPG)

[2020-09-23 14:44] ARDUJS opened #27522 "关于gpu加速问题"
### 环境
- paddle 1.7.2
- python 3.7.5
### 问题

### 复现代码

[code]

[2020-09-23 16:26] wanghaoshuang commented on #27485
多谢反馈，我们会优化下这个问题。

[2020-09-23 16:29] wanghaoshuang commented on #27490
请问您环境上的nccl版本是？

[2020-09-23 16:32] wanghaoshuang commented on #27491
请问您使用的paddle版本是？

[2020-09-23 16:34] wanghaoshuang commented on #27499
理论上是一样的

[2020-09-23 23:50] quziyan opened #27525 "Suggection for pre compiling packages for Python 3.8+"
Suggection for pre compiling packages for Python 3.8+

[2020-09-24 01:48] wanghaoshuang commented on #27522
可以使用profiling工具观察下网络执行的timeline: https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/analysis_tools/timeline_cn.html

[2020-09-24 01:52] wanghaoshuang commented on #27509
@cryoco 麻烦看下这个问题？

[2020-09-24 01:52] wanghaoshuang commented on #27508
@peiyang
帮忙看下这个问题？

[2020-09-24 01:52] wanghaoshuang commented on #27507
@cryoco 帮忙看下这个问题？

[2020-09-24 01:53] wanghaoshuang commented on #27501
@seiriosPlus 帮忙看下这个问题？

[2020-09-24 01:54] cryoco commented on #27507
您好，您
https://github.com/PaddlePaddle/Paddle/issues/27509
https://github.com/PaddlePaddle/Paddle/issues/27508
https://github.com/PaddlePaddle/Paddle/issues/27507
几个issue是同一个问题，该问题我们在develop已经修复，尚未cherry-pick到1.8版本，感谢反馈，我们会加以修复

[2020-09-24 01:58] gobigrassland commented on #27490
今天做了一个对比实验

源码：
Paddle/PLSC项目
环境：
nccl版本2.4.7
paddlepaddle-gpu版本1.7.0.post97
python版本3.7

实验1：在两台机器上，分别使用2块v100，出现了上述问题（这两台机器可以相互ping通的）
实验2：在单台机器上，分别启动2个docker，模拟多机分布式训练，就可以正常训练。
实验表明代码和环境都没有问题，多台机器又可以ping通，真不知道是什么地方出错了？

[2020-09-24 02:04] wanghaoshuang commented on #27497
@chenwhql  帮忙看下这个问题？关于memory_usage

[2020-09-24 02:11] wanghaoshuang commented on #27497
@angus
你是自己显式的调用`memory_usage`么？先把这个调用屏蔽掉？

[2020-09-24 02:15] wanghaoshuang commented on #27489
建议您先用一个样本，加载同一个模型，对比下不同版本的前向计算结果是否一致。

[2020-09-24 02:26] agave233 opened #27527 "gpu下的scatter op存在随机性的精度误差"
版本、环境信息：
1）PaddlePaddle版本：1.8.4
2）CPU：Intel(R) Xeon(R) Gold 5117 CPU @ 2.00GHz
3）GPU：Tesla P40，cuda 10.2，cudnn 7.6
4）系统环境：Red Hat 4.8.2-16、Python 3.7

在GPU下训练模型时，会由于scatter操作的并行加运算带来随机性的精度误差（也可以参考问题https://github.com/PaddlePaddle/PGL/issues/129#issuecomment-697228621）
问题复现如下，其实可以发现scatter op的输入长度越长，最后带来的误差就越大，长度是10w时已经带来很明显的误差了。不知道能否修复这个问题呢？或者要没有可以避免这种随机性的实现策略？

问题复现代码：
[code]
运行结果：
[code]

[2020-09-24 02:41] GT-ZhangAcer commented on #27489
这个没有用到预训练模型，重头训练时使用同一条数据且固定了随机种子，损失值多次运行可以保证不变。感觉像是网络某个部分没有和Fluid版本复现一致，但代码上不知道是哪个地方有问题。
### 2.0版本
<img width="861" alt="图片" src="https://user-images.githubusercontent.com/46156734/94094459-1fa67f00-fe52-11ea-88ff-44bd184f7615.png">

### Fluid版本
<img width="437" alt="图片" src="https://user-images.githubusercontent.com/46156734/94094479-2a611400-fe52-11ea-8a45-bfa6e1337720.png">

[2020-09-24 02:52] luotao1 commented on #26673
@phlrain Could you give the environment and cmake of https://github.com/PaddlePaddle/Paddle/issues/26673#issuecomment-692072288 ?

[2020-09-24 02:59] natureLanguageQing opened #27530 "3080显卡环境现在都是cuda11的 咱们的飞桨GPU版本安装不起来啊"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2020-09-24 04:24] ARDUJS commented on #27522
我想请教下，paddle底层的gpu  能否对crf 加速计算

[2020-09-24 04:31] duongvvuet commented on #25329
@YaaYang I have the same problem. How to fix it?

[2020-09-24 05:10] chenkhan opened #27533 "分布式训练无法设置学习率衰减"
AI studio的脚本模式，版本应该是1.8.4，环境看ai studio了

错误描述：分布式训练中，Adam优化器上的“learning_rate"参数设置为fluid.layers.exponential_decay时弹出typeerror。学习率参数设置为常数不会有错误。

[code]

相关代码：

[code]

[2020-09-24 05:15] chenkhan commented on #27533
补充：问题发生在Optimizer.minimize(loss,start_prog)那一步

[2020-09-24 05:52] #26335 closed, assigned to cryoco

[2020-09-24 06:39] gavin1332 commented on #27501
Hierarchical Allreduce和2D Allreduce不是同一个算法。

[2020-09-24 06:50] arlesniak commented on #26673
@phlrain @luotao1 Do you have any update of status on the issue ?

[2020-09-24 06:51] yunmi commented on #27276
暂时未遇到预测不一致的情况~ 只是 switch_ir_optim=true时无法预测，如之前回答已通过model_config.SwitchIrOptim(false) 解决~

[2020-09-24 07:05] Frank00001 commented on #27501
我这里提到的2D Allreduce其实是paddlepaddle开发人员对分层allreduce的一种叫法（Add multi-ncclcomm and 2D ncclallreduce support. #17263）。请问您说的2D Allreduce是sony提出的一种同步方案吗？[https://arxiv.org/abs/1811.05233](url)

[2020-09-24 07:12] gavin1332 commented on #27501
是的，在真2D allreduce出来之前，大家把**分层allreduce**也称为2D allreduce，实际上是不准确的。

[2020-09-24 07:13] gavin1332 commented on #27501
ok，那你对分层allreduce是有什么疑问呢？

[2020-09-24 07:13] gongweibao commented on #27501
感谢！@Frank00001.
1. PR的标题写错了，是hierarchical allreduce 而非2Dallreduce
2. 论文中的描述：
![image](https://user-images.githubusercontent.com/10721757/94112781-82ab0c80-fe78-11ea-905a-7094f3ffc2ca.png)

[2020-09-24 07:17] gavin1332 commented on #27501
https://fleet-x.readthedocs.io/en/latest/

[2020-09-24 07:19] gavin1332 commented on #27501
我们近期正在整理paddle分布式训练文档，并且把应用fleet进行分布式训练的接口正式化，其中包含层次allreduce的使用。请关注：
https://fleet-x.readthedocs.io/en/latest/

BTW, 版本有一定的要求：paddlepaddle-2.0.0-rc-gpu及以上。我们的RC版将在10.28发布，相关代码已经合入develop

[2020-09-24 07:29] Frank00001 commented on #27501
我的疑问主要是在第一个阶段（组内同步）：按照腾讯论文的描述，第一个阶段组内各个计算节点做reduce操作。但是需要注意的是，此处的reduce描述并不准确，如下图所示，第一个阶段每个分组内的节点通信过程构成了环形ring的逻辑，应该是用reduce-scatter。我认为此处paddlepaddle对各个组内的节点使用ncclreduce进行同步是不合适的，应该使用ncclreducescatter方法。此处更改为ncclreducescatter后，paddle实现的hierarchical allreduce才可以叫做hierarchical ringallreduce！
![image](https://user-images.githubusercontent.com/43396077/94113488-8be8a900-fe79-11ea-9564-8819fa3e3234.pn

[2020-09-24 07:33] gongweibao commented on #27501
[code]
何以见得？因为论文中的`partial result`吗？单台机器也是 `partial result`。

[2020-09-24 07:45] Frank00001 commented on #27501
此外，第一步按照腾讯论文下图的描述，每个节点都会收到与之相邻的上一个节点发送过来的梯度，并发送梯度至相邻的下一个节点。以此构成环形通信过程。
![2](https://user-images.githubusercontent.com/43396077/94115910-f2bb9180-fe7c-11ea-8fa0-377590e99f25.png)

[2020-09-24 07:52] Angus07 commented on #27497
屏蔽了，依然报错。信息如下：

2020-09-24 15:45:34,445-WARNING: Your decorated reader has raised an exception!
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/mnt/sg/chenliangyu/1-paddle_1.7.1_py2.7/miniconda2/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/mnt/sg/chenliangyu/1-paddle_1.7.1_py2.7/miniconda2/lib/python2.7/threading.py", line 754, in ru

[2020-09-24 07:53] Angus07 commented on #27497
原始代码的数据feed是没问题的，我也没有修改，就是改了reinforce learning相关的逻辑

[2020-09-24 07:58] Qdriving commented on #27038
在跑官方代码DIEN网络的时候遇到同样的问题，跑一段时间后embedding出来的全是nan，啥情况有大佬解答吗

[2020-09-24 08:05] gongweibao commented on #27501
哦。我知道你的问题了。看这里：https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/api/colls.html
[code]
如果第一步是`ncclreducescatter`, 紫色节点只包含` i-th block of the result`，也就是一部分结果，第二步要进行多个`allreduce`才行，而不是图示的一个；第三步也不用`broadcast`，`allgather`就好了。而那样就是 2dallreduce了。

`ncclreduce`看怎么实现的，我没有找到其实现的资料，是不是分成两步：第一步执行`ncclreducescatter`以便充分利用并发，第二步再`reduce`到一个卡上？这个是猜测。

[2020-09-24 08:09] wanghaoshuang commented on #27497
data_tensor.set(data, place)
TypeError: set(): incompatible function arguments. The following argument types are supported:
1. (self: paddle.fluid.core_avx.Tensor, array: object, place: paddle::platform::CPUPlace, zero_copy: bool=False) -> None
2. (self: paddle.fluid.core_avx.Tensor, array: object, place: paddle::platform::CUDAPlace, zero_copy: bool=False) -> None
3. (self: paddle.fluid.core_avx.T

[2020-09-24 08:32] vflanker commented on #24664
你好，我遇到的是跟@geekhch一样的问题，也是这个baseline，我把最后一维的信息给去掉了，能往下走，并且按要求，第一个维度写上batch_size。但是运行过了这段代码，又重新回来执行了这段代码，最后还是报了“长度要求为2而我的是1”，但事实是我的还是1维啊。
![image](https://user-images.githubusercontent.com/30745146/94121066-78dad680-fe83-11ea-9ff7-015a9dfb3ebb.png)

[2020-09-24 08:46] vflanker opened #27542 "sequence_unpad在1.8.2报错，1.5.2正常：The shape of Input(Length) should be [batch_size]. Expected len_dims.size() == 1, but received len_dims.size():2 != 1:1."
**环境**

- paddlepaddle版本：1.7.2
 - CPU:Intel I7 GPU:GTX1060 6G
 - OS:Ubuntu 1804
 - 模型:Baseline DuIE
https://github.com/PaddlePaddle/Research/tree/master/KG/DuIE_Baseline
 - 数据集:LIC2020竞赛官方数据集

**问题**

此baseline在1.5.2上运行良好，但是切换到1.7.2后在ernie/finetune/relation_extraction_multi_cls.py中报错，在create_model函数中用到了sequence_unpad，报错如下：
----------------------
Error Message Summary:
----------------------
Error:

[2020-09-24 09:39] Frank00001 commented on #27501
非常感谢！！

[2020-09-24 10:05] TWLemontree commented on #27491
这个问题已经解决了，pp 1.8.x ，静态图下有问题，开启动态图就好了。有人试了试 2.0 b ，静态图动态图均无此问题。

[2020-09-24 10:08] TWLemontree commented on #27491
这个问题已经解决了，pp 1.8.x 版本，开启高级模式（GPU）问题解决，用基础模式（CPU）跑出现此问题。有大佬用 2.0 b 试了试，CPU GPU 均无此问题。

[2020-09-24 10:52] peterzsj6 opened #27545 "啥时候出更多dygraph的demo啊！！！忍不住了！"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2020-09-24 12:08] #27501 closed

[2020-09-24 12:08] jczaja commented on #25537
@luotao1 I have made a fix(develop) to this issue: https://github.com/PaddlePaddle/Paddle/pull/27546 . Please test it and let us know if this works fine for you. Also please tell me if you need a fix to be merged to 1.8 as well.

[2020-09-24 12:12] jczaja opened #27547 "Could you please add test for NHWC model inference?"
Hi,

oneDNN is implementing NHWC  model inference in fairly complex way and We are not able to test this only with unit test. It would be very helpful if there is a C-API / python API test that is running inference using CPU as well as oneDNN and then compare results. That would help in making sure that oneDNN's  NHWC support is in sync with CPU.

[2020-09-24 12:33] Aurelius84 commented on #27297
这个是loss出现了负值？可能需要检查一下什么样图片数据导致了`1-ssim()`出现了负值和大于1的情况。可能是你的计算公式有一些问题，导致`ssim()`的值不是[0,1]之间。

[2020-09-24 12:52] luotao1 commented on #25537
@OliverLPH Could you help test it?
@jczaja We have [1.8.5 tag](https://github.com/PaddlePaddle/Paddle/releases/tag/v1.8.5) three hours before.

[2020-09-24 12:59] luotao1 commented on #27547
We have some NHWC model inference (C-API/python API) in CE, like #20589 and #25537 (maybe add in CE later). But I don't know whether there is C-API / python API test that is running inference in unit-tests.

[2020-09-24 13:54] Sno-dl opened #27552 "paddle 1.8 在电脑运行环境，不识别函数fluid.layers.sigmoid"
- 问题描述：
在”零基础入门深度学习“ -> 深度学习实践应用：计算机视觉 -> 图像分类教程中，使用AIStudio可以正常运行教程的代码。

但是使用单机环境的时候，代码报错，fluid.layers.sigmoid 函数提示错误 ”Undefined variable from import: sigmoid“
如下图所示
![34](https://user-images.githubusercontent.com/71628186/94154448-7773d300-feb0-11ea-89b1-7c3502e2814f.jpg)

运行环境    
1）PaddlePaddle版本：1.8.4.0
2）系统环境：windows 10，Python版本 3.6.8
3）CPU版本

谢谢

[2020-09-25 02:27] mapingshuo commented on #26812
reshape_op如果支持 bool 类型，需要考虑反向求导的问题，bool类型是没法求导的，需要讨论一下。

[2020-09-25 02:59] kasyoukin commented on #22681
使用cuda10.1也是这个错误
nvcc -V
Cuda compilation tools, release 10.1, V10.1.168

[2020-09-25 03:22] maoyun95 opened #27556 "请问图像数据怎样转换成LOD_Tensor读入LSTM，完成分类任务呢"
请问改怎样将图像矩阵转换成LOD_Tensor序列数据呢，我用的minist数据集。图像数据定义如下x = fluid.layers.data(name='x', shape=[1, 28, 28], dtype='float32', lod_level=1)
出现如下报错：Error: the provided recursive_sequence_lengths info is invalid
  [Hint: Expected CheckLoD(new_offset_lod, vectorize(self.dims()).front()) == true, but received CheckLoD(new_offset_lod, vectorize(self.dims()).front()):0 != true:1.] at (D:\1.8.3\paddle\paddle\flui

[2020-09-25 03:32] DearChuck commented on #25219
确认没有，可是解决方案呢？

[2020-09-25 05:52] Vonderland opened #27558 "参数用单个文件保存后，分别用save_persistables/save_params保存下来的文件，不能再通过load_vars混用"
原来项目默认使用了保存时每个参数一个文件的方式，分别使用fluid.io.save_persistables来保存成checkpoint以及fluid.io.save_params来保存参数。加载时统一通过fluid.io.load_vars来加载，通过load_vars参数中具体predicate为existed_persitables和existed_params两种不同的函数来决定加载成checkpoint还是参数。在原来用每个参数一个文件的保存方式情况下，load_vars可以混用，也就是说不管用哪种方式来保存，都可以通过existed_persitables和existed_params的方式来加载保存的文件。

目前项目参数保存方式调整成了所有参数保存成一个文件，这种情况下加载时predicate为existed_persitables和existed_params，两种情况不

[2020-09-25 07:25] Shixiaowei02 commented on #27558
您好，目前 Paddle 单个文件和分散文件共存的情况的确带来了混淆。进行预测部署将必须使用单个的联合权重加载，在 2.0 版本发布中将明确这一约定。请知晓，谢谢

[2020-09-25 07:28] hexo opened #27563 "load_params 失败，打不开参数文件"
Error: Cannot open file model_stage3/mmoe_video_v1_2020_09_24_20_10_23_2.8341595313204144_2.833708877872916_5.956663941128373/batch_norm_1.w_0 for load op at (/home/teamcity/work/ef54dc8a5b211854/paddle/fluid/operators/load_op.h:38)
  [operator < load > error]

[2020-09-25 07:30] Vonderland commented on #27558
感谢回复！
就是在2.0的版本中明确约定只能用单个文件的方式进行加载是吗？
那么目前issue中这个问题如果还是需要用单个文件的话，有解决方法吗？

[2020-09-25 07:33] Derek-Kun opened #27564 "如何让模型启动后一直保持待机状态？"
比方说我这里有好几批图片，我用图片分类的网络做预测，每次通过命令行
python infer.py --pretrained_model=${path_to_pretrain_model} 来预测一批图片，但是等下一批图片过来的时候，又要执行
python infer.py --pretrained_model=${path_to_pretrain_model}
我注意到模型每次加载都需要10秒左右，真正用来预测图片的时间可能只有0.01秒，请问有办法让模型加载以后就一直处于待机状态，有新图片传输进来就直接预测吗？

[2020-09-25 07:35] chenjiaoAngel commented on #27563
这个是运行fluid 程序出现的问题吗？

[2020-09-25 07:42] hexo commented on #27563
是的，感觉是读取的参数名字和实际不一致，实际没有这个batch_norm_1.w_0 文件。这个需要怎么解决呢，
![image](https://user-images.githubusercontent.com/20752493/94240273-a720ea80-ff45-11ea-97cf-a516cdca41a9.png)

[2020-09-25 07:43] hexo commented on #27563
![image](https://user-images.githubusercontent.com/20752493/94240352-c3bd2280-ff45-11ea-8f71-01a9ca1bfb77.png)
shi实际的文件是这个，对不上，是不是需要定义bath_norm 的时候写定name呢

[2020-09-25 07:45] chenjiaoAngel commented on #27563
这个建议去paddle paddle用户群（1560738）咨询下

[2020-09-25 07:51] fiyen commented on #27485
https://aistudio.baidu.com/aistudio/projectdetail/1024182，我自己先写了一个函数，暂时解决一些问题。但是毕竟是个外挂，算不上好用，希望官方补充。

[2020-09-25 08:29] OliverLPH opened #27567 "deeplabv3p_xception MKLDNN prediction failed"
**System information**
-PaddlePaddle version: develop, 597345d17b5f6252878bfb0f62133f77f485d7ef
-CPU: Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz, mkldnn enabled
-GPU: P4, CUDA10, CUDNN7.5, compile with GPU, but run cpu inference
-OS Platform: Ubuntu1604
-Dockerfile: Paddle/tools/manylinux1/Dockerfile.cuda10_cudnn7_gcc48_ubuntu16
-Python version: 3.7
-Cmake orders
-C++version.txt
-API information
No

[2020-09-25 08:30] OliverLPH commented on #27567
Model download link:https://dubox.com/s/1nPLPca6GVMWxJwbfQXYilw
Password:bzhs

[2020-09-25 09:39] Shixiaowei02 commented on #27558
据我所知，解决方法是使用更底层的接口自行转换，这需要对框架细节有较多的了解。为了避免用户继续产生类似困扰，我们在 2.0 中将明确预测时使用单个文件加载。分散权重的形式将越来越少被用到。

[2020-09-25 11:41] fsted opened #27574 "未找到-o命令"
- 标题：未找到-o命令
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4.post107
    2）CPU：Intel(R) Xeon(R) Gold 6240C CPU @ 2.60GHz
    3）GPU：Persistence-M
    4）系统环境：Ubuntu 7.5.0-3ubuntu1~18.04，Python3.7

- 问题描述：使用以下命令开始跑模型：
python -m paddle.distributed.launch \
            --selected_gpus="0" \
                tools/eval.py \
                        -c ./configs/eval.yaml
                        -o pretrained_model=

[2020-09-25 14:40] bruce1408 commented on #24788
1.8.4版本仍然有问题

[2020-09-26 04:24] lyn1225 opened #27580 "VisualDL问题"
按照官方教程下载并使用VisualDL,但是在浏览器中显示不了，提示“无法访问此网站，localhost拒绝了我们的连接请求”。这如何解决？

[2020-09-26 13:53] wles1995 opened #27582 "Can not find [GB_resnet9block_c1_norm_w] in model file [model/checkpoints/74/net_G.pdparams]"
PaddlePaddle版本：PaddlePaddle 1.8.4
Python版本：python 3.7

AssertionError: Can not find [GB_resnet9block_c1_norm_w] in model file [model/checkpoints/74/net_G.pdparams]

![image](https://user-images.githubusercontent.com/58210069/94342268-92764c80-0042-11eb-80d3-b6b96f104068.png)
调用图一第一个红框里的语句，可以查出下列的参数名称：其中明显包含了“GB_resnet9block_c1_norm_w”

![image](https://user-images.githubusercontent.com/58210069/94

[2020-09-26 15:34] makyo5 commented on #27525
Please support the Python 3.8

[2020-09-26 15:34] makyo5 commented on #27525
请尽快支持python3.8

[2020-09-27 01:11] lyn1225 opened #27583 "visualdl对应的paddlepaddle版本问题"
visualdl是否只支持paddlepaddle1.8.0以上的版本？能否支持paddlepaddle1.5.1版本？

[2020-09-27 02:20] unco2020 opened #27584 "Windows 10 VS 2019 CPU Paddle Develop编译错误"
\paddle\fluid\framework文件夹data_type.h中错误：
错误	C2672	“paddle::framework::details::TensorCheckerVisitor<paddle::platform::CPUDeviceContext>::apply”: 未找到匹配的重载函数	。C:\Projects\Paddle2.0\Soruce\paddle\fluid\framework\data_type.h	79

错误	C2770	“void paddle::framework::details::TensorCheckerVisitor<paddle::platform::CPUDeviceContext>::apply(std::enable_if<std::is_integral<T>::value,void>::type *) const”的显式

[2020-09-27 03:19] ShenYuhan commented on #27580
可以放一下浏览器的截图以及启动visualdl后服务端的截图吗

[2020-09-27 03:21] YixinKristy commented on #27583
VisualDL可以支持paddlepaddle任何版本的哈~ vdl是不依赖于框架的~

[2020-09-27 03:22] phlrain commented on #27582
能提供下 net_G save的命令么

[2020-09-27 03:23] phlrain commented on #27580
也有可能是端口的问题，有些机器会限制8000一下端口的访问

[2020-09-27 03:33] luotao1 opened #27588 "test_conv2d_bf16_mkldnn_op fails on 5117 machine"
test_conv2d_bf16_mkldnn_op fails on 5117 machine (Nightly Job)
- error log
[code]
- machine information in log
[code]
- CPU log: Maybe our machine lack some Instruction set
[code]
[Paddle_PR_CI_Night_36227.log](https://github.com/PaddlePaddle/Paddle/files/5287682/Paddle_PR_CI_Night_36227.log)
[Paddle_PR_CI_Night_36228.log](https://github.com/PaddlePaddle/Paddle/files/5287683/Paddle_PR_CI_Night_362

[2020-09-27 03:44] lyn1225 commented on #27580
![](https://github.com/lyn1225/test/blob/master/2.PNG)
![](https://github.com/lyn1225/test/blob/master/3.PNG)

[2020-09-27 03:45] lyn1225 commented on #27580
[](https://github.com/lyn1225/test/blob/master/2.PNG)

[2020-09-27 03:46] lyn1225 commented on #27580
![image](https://github.com/lyn1225/test/blob/master/2.PNG)

[2020-09-27 04:00] lyn1225 commented on #27580
[text](E:\Google_download\2.png)

[2020-09-27 04:25] Superjomn commented on #27525
好的，我们计划下这个支持

[2020-09-27 04:26] Superjomn commented on #27552
好的，我们联合 aistudio 追下这个问题。

谢谢反馈 ：）

[2020-09-27 04:26] lyn1225 commented on #27580
![image](https://github.com/lyn1225/images/blob/master/aachen_000000_000019_leftImg8bit.png)

[2020-09-27 04:29] Superjomn commented on #27545
可以留下具体的需求，这样便于我们实施出来

谢谢了

[2020-09-27 04:36] Superjomn commented on #27530
您好，目前我们最高支持 CUDA10.
CUDA11 的支持后续会进行

[2020-09-27 05:22] gavin1332 commented on #27533
有可复现的示例代码吗？

[2020-09-27 05:43] Darki-luo opened #27597 "ubuntu训练报错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4 paddlex 2.1.0
    3）GPU，请提供GPU2080ti、CUDNN 6.5.7
    4）系统环境：ubuntu 18/20 linux 5.4.0.48 训练报错，ubuntu18 Linux4.15.118 可以正常训练

- 训练信息
    1）单机，单卡
    2）显存信息
==============================+======================+======================|
|   0  GeForce RTX 208...  Off  | 00000000:01:00.0 Off |                  N/A |
| 36%   52C    P2    62W / 250W |  10694MiB / 1101

[2020-09-27 06:44] GuoQuanhao opened #27607 "多个模型权重保存"
paddle有提供将多个模型的权重保存为一个文件的方法吗，torch里面可以将多个模型权重保存在一个字典里面再保存成一个文件

[2020-09-27 07:04] seiriosPlus commented on #27564
reader不要结束就可以的.. reader不退出. 训练也不会结束.

[2020-09-27 07:08] zhangting2020 commented on #27038
跑官方代码DIEN网络训练的配置有做任何修改吗？单卡还是多卡？可以提供一下你的运行配置和命令，我们先看看能否复现该问题

[2020-09-27 07:38] GuoQuanhao commented on #27607
我已经解决这个问题了，我参考了https://github.com/PaddlePaddle/PaddleGAN/blob/master/ppgan/utils/filesystem.py
以及https://github.com/PaddlePaddle/PaddleGAN/blob/master/ppgan/engine/trainer.py。重新定义了save函数，讲所有文件存为pickle

[code]

[2020-09-27 07:38] GuoQuanhao commented on #27607
补充一句：paddle1.8.3版本

[2020-09-27 07:38] #27607 closed, assigned to nobody

[2020-09-27 10:08] L-lei opened #27618 "uwsgi部署推理模型请求频繁或者并发程序报错、内存也泄露"
请求频繁或者并发请求出现问题
问题1：程序推理时报错
问题2：内存会一直增大
python版本3.6
paddlepaddle版本1.8.4
推理主要部分
    infer_scope = fluid.core.Scope()
    with fluid.scope_guard(infer_scope):
               exe = fluid.Executor(place)
               program, feed_names, fetch_targets = fluid.io.load_inference_model()
               exe.run(program,feed=inputs,fetch_list=fecth_targets,return_numpy=False)

报错内容
----------------------

[2020-09-27 10:31] OliverLPH commented on #25537
@jczaja @luotao1
I have verified [#27546](https://github.com/PaddlePaddle/Paddle/pull/27546) has fixed this issue, please merge this PR

[2020-09-27 11:20] L-lei commented on #27618
推理部署这坑怕是踏不出来了，直接定义个全局exe = fluid.Executor(place)；
program, feed_names, fetch_targets = fluid.io.load_inference_model()不报异常，内存泄露好像也没有了。不使用infer_scope = fluid.core.Scope()；with fluid.scope_guard(infer_scope)没法部署多个模型，使用它在报请求频繁或者并发请求就报异常。这个用的自相矛盾

[2020-09-27 12:03] lidanqing-vv commented on #27588
@wozna This need to be fixed fast since Baidu will have vocation from 30th September to 8th of October

[2020-09-27 12:21] ZeyuChen opened #27625 "Remove NLTK Dependency to avoid GitHub Dependabot Alert"
Remove NLTK package requirements to avoid dependency security alert from Github Dependabot.

[2020-09-27 12:31] shaunhurryup opened #27629 "奇怪的错误"
### 环境：AI Studio高级版

### 错误
[code]

### 代码
[code]

### 解决办法
重新运行一次出错的代码即可。出错的原因尽然是“出错”？不可思议~哪位RD小哥哥能解答一下

[2020-09-27 12:50] kgkzhiwen opened #27633 "改动ppyolo.xml训练时出错"
改动了ppyolo.yml去识别小目标，但是训练时出现如下错误。是什么原因导致形状不同？

`------------------------------------------
Python Call Stacks (More useful to users):
------------------------------------------
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/framework.py", line 2610, in append_op
    attrs=kwargs.get("attrs", None))
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7

[2020-09-27 12:52] shaunhurryup commented on #27629
### 版本信息：
aistudio@jupyter-212554-995200:~$ pip show paddlepaddle-gpu
Name: paddlepaddle-gpu
**Version: 1.8.4.post97**
Summary: Parallel Distributed Deep Learning
Home-page: UNKNOWN
Author: UNKNOWN
Author-email: UNKNOWN
License: UNKNOWN
Location: /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages
Requires: nltk, matplotlib, prettytable, rarfile, requests, graphviz, opencv-python, p

[2020-09-27 12:57] lyn1225 commented on #27580
![image](https://github.com/lyn1225/images/blob/master/2.PNG)

[2020-09-27 14:03] lyn1225 commented on #27580
1[image](https://github.com/lyn1225/images/blob/master/3.PNG)

[2020-09-27 14:39] lyn1225 commented on #27580
@ShenYuhan
![image](https://github.com/lyn1225/images/blob/master/2.PNG)
![image](https://github.com/lyn1225/images/blob/master/3.PNG)

[2020-09-27 22:33] unco2020 commented on #27584
nan_inf_util_detail.cc和nan_inf_util_detail.h有些问题，注释掉nan_inf_util_detail.h中的

 /*template <typename T>
  void apply(
      typename std::enable_if<std::is_integral<T>::value>::type* = 0) const {
    VLOG(10) << var_name_ << " need not to check, it's type is not float point";
  }*/

 /* template <typename T>
  void apply(typename std::enable_if<std::is_floating_point<T>::value>::type* =

[2020-09-28 01:30] Masterkmp opened #27645 "请问怎么在paddle使用pyltp进行词法、句法分析"
在AIstudio执行！pip install pyltp报错
`
creating build
creating build/temp.linux-x86_64-3.7
creating build/temp.linux-x86_64-3.7/src
creating build/temp.linux-x86_64-3.7/ltp
creating build/temp.linux-x86_64-3.7/ltp/thirdparty
creating build/temp.linux-x86_64-3.7/ltp/thirdparty/boost
creating build/temp.linux-x86_64-3.7/ltp/thirdparty/boost/libs
creating build/temp.linux-x86_64-3.7/ltp/thirdparty/boost/l

[2020-09-28 02:08] zhhsplendid commented on #27597
这个log信息现在不能确定哪里错，您能否先看看是否可能机器内存/显存不足？或者有没有在运行过程中PaddlePaddle被kill

[2020-09-28 02:12] zhhsplendid commented on #27629
出错的原因尽然是“出错”是什么意思啊？以及方便log贴一下是python哪一行出错？

[2020-09-28 02:13] zhhsplendid commented on #27645
嗨，AiStudio怎么进行pip install pyltp，paddle开发者也不清楚，不如问一下ai studio环境的客服人员或者开发人员？

[2020-09-28 02:16] zhhsplendid commented on #27633
报错信息说的是其中一个op（elementwise_sub）的输入shape不匹配，请问你修改的具体是上面文件哪些地方？检查一下是否可能导致shape不匹配

[2020-09-28 02:16] Darki-luo commented on #27597
内存没有占满，16g内存只用了不到9g，显存也够了，batch调小点也会这样，linux 5.4内核就会在训练过程中 突然 出现这种错误，如果是被kill掉要怎么解决呢，网上没有搜到特别好的方法去解决，现在只能用ubuntu18 linux4.15内核可以正常运行进行训练。

[2020-09-28 02:28] Shixiaowei02 commented on #27618
你好，请问您是使用 Python 进行模型的并发部署吗？请把可复现的脚本模型发给我们，并且尝试使用 C++ 复现问题。谢谢

[2020-09-28 02:32] Qdriving commented on #27038
我在AI-Studio上面跑的单卡，只改了dien/reader.py 里面pad数据部分，不改的话跑不通，在PaddleRec群里面也有味帅哥说帮忙复现好几天也没下文了，你可以fork这个项目，在~/下面有reader.py就是我修改的，paddle_train.txt是amazon完整的训练集

项目地址：https://aistudio.baidu.com/aistudio/projectdetail/654468
环境信息：
Python版本：python3.7
框架版本：PaddlePaddle 1.8.0

[2020-09-28 02:33] RenyanDiao opened #27648 "export FLAGS_use_mkldnn=True [operator < conv2d > error] paddle.__version__=1.7.2 or paddle.__version__=1.8.4"
fluid模型预测，想使用mkldnn库在cpu上加速，但是却出现了错误。。
但是本身模型预测正确，use_mkl也可以。模型是res2net50
![image](https://user-images.githubusercontent.com/52916011/94384961-71167d00-0176-11eb-8713-fb3c7688f21d.png)

[2020-09-28 02:42] L-lei commented on #27618
是的，我整理个复现的demo怎么给你们呢

[2020-09-28 03:02] jerrywgz commented on #27648
请问下paddle是如何安装的呢，可以确认下安装版本是否支持mkldnn

[2020-09-28 03:08] RenyanDiao commented on #27648
我就是pip安装的cpu版本，这样是支持mkldnn的吧
![image](https://user-images.githubusercontent.com/52916011/94386719-eb490080-017a-11eb-9999-84b403f298ff.png)

[2020-09-28 03:09] Shixiaowei02 commented on #27618
请问是否方便给一个外网或者网盘链接？

模型可以用类似网络，parameter 如果铭感用跑一个 pass 出来的随机模型也行

[2020-09-28 03:12] vflanker commented on #24664
你好，最近我使用百度的baseline时也遇到了相同的问题，不过没有解决，可否向您请教解决方法？谢谢。

[2020-09-28 03:18] L-lei commented on #27618
好的，我弄好后发你百度网盘链接地址

[2020-09-28 03:19] Superjomn commented on #27618
另外，可以大概描述下，模型结构是否包含 rnn 相关，输入输出 shape 是固定不变还是会变化（除了 batchsize）

[2020-09-28 03:20] Angus07 commented on #27497
这个问题解决了，确实是由于place没有传输，导致place为空导致的。但是目前到100多step的时候程序会出core。也无法看出错误的原因是什么。错误信息如下：
Traceback (most recent call last):
  File "./run_seq2seq.py", line 360, in <module>
    main(args)
  File "./run_seq2seq.py", line 276, in main
    train_exe.run(fetch_list=[])
  File "/mnt/sg/chenliangyu/1-paddle_1.7.1_py2.7/miniconda2/lib/python2.7/site-packages/paddle/fluid/parallel_executor.py", line 311, in run

[2020-09-28 05:33] beizhengren commented on #24289
@JepsonWong

您好,我出现了同样的问题
我用的是cuda10.0

nvidia-smi结果如下:
[code]

用您提供的例子得到了输出:
[code]

[2020-09-28 05:49] QingYuan-L opened #27659 "使用paddle inference demo,发现python 预测api会占满显存，但是c++ api只占用500m显存。"
1）PaddlePaddle版本：在docker-dev中自己编译的1.8.4
2）GPU：gtx1060
3）系统环境：ubuntu18.04,python3.7
4）预测库来源：in docker latest-dev-cuda10.1-cudnn7-gcc82,正常编译
- 复现信息：
  使用https://github.com/PaddlePaddle/Paddle-Inference-Demo
中的代码，加了循环持续运行，c++和python都正常运行，但是python占用显存数倍于c++，python代码如下

[code]

![2020-09-28 13-43-22屏幕截图](https://user-images.githubusercontent.com/56855147/94394907-0de61400-0191-11eb-9da2-2518c3213fea.pn

[2020-09-28 05:51] shaunhurryup commented on #27629
### 这是具体的错误，只要运行上方代码就会出错（没抢到GPU，这次用的CPU）
[code]

[2020-09-28 06:40] x12901 opened #27664 "使用脚本编译运行demo的时候出现路径BUG该怎么解决"
- 版本、环境信息：
    1）PaddlePaddle版本：develop
    2）CPU：intel i5 -0210U
    3）GPU：230M
    4）系统环境：win10 64、Python 3.7

https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/advanced_guide/inference_deployment/inference/windows_cpp_inference.html#id8
根据这上面的操作在运行run_windows_demo.bat出现默认路径错误，使用默认选项也会错误，应该是bat文件多了一个\\
![image](https://user-images.githubusercontent.com/30824839/94398592-6cfb5700-0198

[2020-09-28 08:05] L-lei commented on #27618
链接：https://pan.baidu.com/s/1Bv46c-h7ohoU1LLan2Uoaw 密码：8ki3

[2020-09-28 08:12] zhhsplendid commented on #27597
现在没看出是什么错，但是听您描述发现linux 5.4出错，linux4.15内核可以，那么应该某些和linux内核结合的地方没做好，请问您还有更多log吗？提供尽量多信息给我们，我们想办法在paddle修复一下

[2020-09-28 08:24] ydchen9 opened #27674 "神经网络优化器中有用到次梯度吗？像layers.elementwise_max, layers.clip这些不可导的op是不是通过次梯度计算的？"
如题。

[2020-09-28 08:45] wanghaoshuang commented on #27497
在某些paddle版本下，batch size过大会导致这个问题：errono: 77: an illegal memory access was encountered

请问您使用的paddle版本是？

[2020-09-28 08:56] wanghaoshuang commented on #27497
如果减小batch size还无法解决问题，建议您升级Paddle到1.8.5版本。
一个相关的issue:  https://github.com/PaddlePaddle/Paddle/issues/18464

[2020-09-28 09:18] zhhsplendid commented on #27629
奇怪，我用你同样的代码跑了一下，你的代码是能跑过的：

![image](https://user-images.githubusercontent.com/7913861/94414001-6546ad00-01ae-11eb-83a6-a8d3af6ca22c.png)

但是我的paddle版本是develop（开发版本，因此是最新的），感觉可能是paddle某个错误已经修复了。你看看你还有可能更新paddle到更高版本吗？

[2020-09-28 09:26] Shixiaowei02 commented on #27618
看了一下您的文件，请问能否再简化一下问题：去除服务相关的代码和前后处理？变成这样的一个单文件，只依赖 paddle 和 numpy 的demo
[code]

[2020-09-28 09:40] Superjomn commented on #27545
https://github.com/PaddlePaddle/models/tree/release/1.8/dygraph

动态图可以参考这里的 demo

[2020-09-28 09:40] #27545 closed, assigned to nobody

[2020-09-28 09:44] #18501 closed, assigned to ceci3

[2020-09-28 09:44] #19522 closed, assigned to frankwhzhang, phlrain

[2020-09-28 09:44] #19547 closed, assigned to nobody

[2020-09-28 09:44] #19616 closed, assigned to nobody

[2020-09-28 09:44] #19834 closed, assigned to nobody

[2020-09-28 09:44] #19858 closed, assigned to gavin1332

[2020-09-28 09:44] #19900 closed, assigned to nobody

[2020-09-28 09:44] #19902 closed, assigned to nobody

[2020-09-28 09:44] #19920 closed, assigned to nobody

[2020-09-28 09:44] #19925 closed, assigned to nobody

[2020-09-28 09:44] #19940 closed, assigned to nobody

[2020-09-28 09:44] #19987 closed, assigned to FDInSky

[2020-09-28 09:44] #19991 closed, assigned to heavengate

[2020-09-28 09:44] #20007 closed, assigned to FDInSky

[2020-09-28 09:44] #20028 closed, assigned to SunGaofeng

[2020-09-28 09:44] #20031 closed, assigned to ceci3

[2020-09-28 09:44] #20033 closed, assigned to ceci3

[2020-09-28 09:48] phlrain commented on #27525
我们马上发布的1.8.5版本，就会支持python3.8 版本

[2020-09-28 09:49] jerrywgz commented on #27674
是指的double backward吗，这个两个op确实还不支持

[2020-09-28 09:54] GT-ZhangAcer commented on #27489
今天又试了一下MNIST的数据集，发现那个数据集正常收敛。啊这...难道是我的数据集出内鬼了吗？Fluid版本是没问题可以用的，但这个版本3张都不难过拟合就很难受
<img width="40" alt="图片" src="https://user-images.githubusercontent.com/46156734/94418184-a2616e00-01b3-11eb-9de3-71cc6b5d91aa.png">

[2020-09-28 10:22] ydchen9 commented on #27674
不是指double backward。我是迷惑这两个（layers.elementwise_max、layers.clip）不可导的op是怎么处理它的导数的？能告诉我大致的思路吗？谢谢！在paddle中确实有用到，比如在强化学习的PPO算法中，如下图：
![QQ截图20200928182214](https://user-images.githubusercontent.com/26667822/94421039-8f509d00-01b7-11eb-9b6c-c97cb45d1466.png)

[2020-09-28 10:23] zhhsplendid commented on #27584
注释掉的地方是检查nan/inf的工具，所以如果不使用，这样编译没有影响

[2020-09-28 10:55] L-lei commented on #27618
import os
import random
import time

import numpy as np
import cv2
from paddle import fluid

curren_path = os.path.abspath(os.path.dirname(os.path.dirname('__file__')))
# model_dir = os.path.join(curren_path, 'digitRecognition/models/infer_model')
model_dir = 'models/infer_model'
#方式一
# place = fluid.CPUPlace()
# exe = fluid.Executor(place)
# exe.run(fluid.default_startup_program())
# program, fee

[2020-09-28 10:58] L-lei commented on #27618
多线程版本的，infer2放到digitRecognition目录下
链接：https://pan.baidu.com/s/1Icj5LHZvGSFBRrC5si4Pjg 密码：9ado

[2020-09-28 11:45] shangzhizhou commented on #27659
C++中未使用TensorRT而python中使用了，请在同样条件下测试看看

[2020-09-28 12:19] #26883 closed, assigned to heavengate

[2020-09-28 14:10] zzdang opened #27691 "使用create_parameter 创建的参数在静态图中不能被训练"
- 版本、环境信息：
    1）PaddlePaddle版本：1.7
    2）GPU：10.2
    4）系统环境：python2.7 centos

- 训练信息
    1）单机，单卡
    2）Operator信息 layers.create_parameter
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段:
使用create_parameter创建了一个参数，给pooling层额外加了一个平均的参数，在训练中找不到该参数使用main_prog.global_block().iter_parameters()
网络结构如下：
class EfficientNet():
    def __init__(self, name='b0', padding_type='SAME', override_params=None, is_test=Fals

[2020-09-29 02:31] jerrywgz commented on #27674
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/clip_op.h#L53 可以参考这里的实现，在clip的反向中，直接分情况处理反向输出

[2020-09-29 02:34] jerrywgz commented on #27648
可以参考这里给配置中增加下enable_mkldnn https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/advanced_guide/inference_deployment/inference/python_infer_cn.html#id2

[2020-09-29 02:45] jerrywgz commented on #27691
可以麻烦提供一个可以复现的最小case吗？

[2020-09-29 03:10] zhwesky2010 commented on #27664
输入 windows_mobilenet试试，你输入的是Windows_mobienet 所以找不到源文件，只有simple_on_word2vec vis_demo  windows_mobilenet这几个源文件

[2020-09-29 03:33] RenyanDiao commented on #27648
还是报错
![image](https://user-images.githubusercontent.com/52916011/94509759-a2ab4900-0247-11eb-814b-e52f7ac73000.png)

[2020-09-29 03:43] shaunhurryup commented on #27629
我的Paddle版本是1.8.4，您说的develop是用最新的2.0去做的吗？
这是我第一次尝试动态图训练模型，出了这个问题很奇怪

[2020-09-29 03:50] zzdang commented on #27691
可能有点麻烦，现在不确定在静态图里面create_parameter该放在哪里，with fluid.program_guard(main_prog, startup_prog) 这个后面还是 with fluid.unique_name.guard()？您的Hi账号可以加一下嘛？

[2020-09-29 04:47] RenyanDiao commented on #27648
好像是这个模型的问题。。。换一个是可以的

[2020-09-29 05:49] QingYuan-L commented on #27659
![图片](https://user-images.githubusercontent.com/56855147/94517525-b4e2b280-025a-11eb-98d7-8adc2cc81681.png)

[code]
@shangzhizhou  已经注释掉trt，显存没有变化

[2020-09-29 05:56] starsblinking commented on #26762
auc不再恒为0.5了，可能与pd版本或某些layer的参数初始化方式有关。

[2020-09-29 05:56] #26762 closed, assigned to nobody

[2020-09-29 06:29] juncaipeng opened #27704 "The performance of matmul op depends the weight"
We find the performance of matmul op is quiet different when the weight is different.

**System information**
* Paddle inference library: develop or 1.8.4, c++ api, use mkl
* CPU: 6148
* OS: Ubuntu 16.04.5 LTS
* GCC: 4.8.5

**To Reproduce**
* Compile the inference library or download paddle_1.8.4_ubuntu_cpu_avx_mkl from [url](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inf

[2020-09-29 06:40] juncaipeng commented on #27704
@lidanqing-intel  Please analyze this problem.

[2020-09-29 06:42] starsblinking opened #27707 "batch_norm和data_norm的疑问"
请问paddle.fluid.layers.batch_norm和paddle.fluid.layers.data_norm有什么区别？看功能描述好像差不多，但看python源码又发现函数所调用的op需要的参数相差很多。核心问题：
1. 实现的功能都是批正则化吗？训练和预测时这两个函数分别有什么区别？
2. 为什么batch_norm有is_test和use_global_stats这两个参数而data_norm没有？难道data_norm不用区分训练和预测、全局和batch吗？？?
3. data_norm里param_attr里的batch_size是做什么用的？和我训练时设置的batch_size需要一致吗？
4. 有没有已知的运行模式上的坑（cpu、分布式之类的），比如哪个函数只能在什么模式/依赖库下跑，不然为啥需要两个函数呢?

1.8.5

[2020-09-29 07:00] zzdang commented on #27691
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import os
import sys,time
import numpy as np
import paddle
import paddle.fluid as fluid

def optimizer_setting(params):

    bd = [int(e) for e in params["lr_steps"].split(',')]
    base_lr = params["lr"]
    lr = [base_lr * (0.5 ** i) for i in range(len(bd) + 1)]
    optimizer = fluid.opt

[2020-09-29 07:01] zzdang commented on #27691
`from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import os
import sys,time
import numpy as np
import paddle
import paddle.fluid as fluid

def optimizer_setting(params):

    bd = [int(e) for e in params["lr_steps"].split(',')]
    base_lr = params["lr"]
    lr = [base_lr * (0.5 ** i) for i in range(len(bd) + 1)]
    optimizer = fluid.op

[2020-09-29 07:02] Thunderbrook commented on #27707
1、是的；data_norm是统计所有节点的样本，而batch_norm不会；data_norm只支持二维输入
2、是的，data_norm不区分
3、batch_size是对样本数量这一统计量的初始化值；不需要一致
4、在分布式场景中较常使用data_norm

[2020-09-29 07:09] minhoooo1 opened #27710 "paddle' has no attribute 'enable_static' AIstudio上跑别人项目训练或者评估时有时候跑通有时候会出现这个报错，这是为什么。"
File "pdseg/vis.py", line 203, in <module>
    paddle.enable_static()
AttributeError: module 'paddle' has no attribute 'enable_static'

[2020-09-29 07:11] x12901 commented on #27664
谢谢，出了这个不知道对不对
[code]

[2020-09-29 07:11] #27664 closed, assigned to zhwesky2010

[2020-09-29 07:12] ForFishes commented on #27527
这个主要的原因是index有重复元素。在GPU并行的情况下，加法的顺序难以确定，从而导致误差。这个问题在GPU下难以解决。这里如果要对齐精度，可以尝试将这个OP运行在CPU上，其他的op在GPU上运行。

[2020-09-29 07:14] zzdang commented on #27691
![image](https://user-images.githubusercontent.com/22818954/94525253-6509e880-0266-11eb-9efa-fd91f5f5c5ab.png)
这个是打印信息

[2020-09-29 07:16] agave233 commented on #27527
好的谢谢。请问单独将某个OP在CPU上执行需要怎么做呢？速度上会不会受到比较大影响？

[2020-09-29 07:21] starsblinking commented on #27707
1,2: “data_norm是统计所有节点的样本”，“data_norm不区分”,也就是说data_norm在训练时直接就是只用了全局变量？相当于"global_norm"?
4.分布式场景下（比如参数服务器模式下），最新全局变量保存在server，每个woker训练每个batch时从server拉取、更新后再push给server。对吧？

[2020-09-29 07:34] jerrywgz commented on #27648
那可以看下是不是模型转换成inference model时候的问题

[2020-09-29 07:42] Thunderbrook commented on #27707
1、是的
2、可以这样理解

[2020-09-29 08:00] danleifeng commented on #27574
1. 请问你直接跑单卡有问题么
[code]
2. tools/eval.py代码里传入参数-o是否正常？

[2020-09-29 09:00] jerrywgz commented on #27691
根据复现代码在1.8.5和2.0beta是正常的
![image](https://user-images.githubusercontent.com/22989727/94536523-4b23d200-0275-11eb-890c-a17fc954a12f.png)

[2020-09-29 09:12] Zaoyee commented on #24950
请问可以详细的解决方法吗？我也有相同的问题。我简单的跑了一下 [这里](https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/dygraph/DyGraph.html) 的例子。

问题也同样出现在`program, feed_vars, fetch_vars = fluid.io.load_inference_model(save_dirname, exe)`
我系统是MacOS 10.15.4，paddle版本是1.8，是在本地运行的。

[2020-09-29 10:31] Thunderbrook commented on #27710
可以升级下paddle版本

[2020-09-29 10:44] shangzhizhou commented on #27659
python执行前export FLAGS_fraction_of_gpu_memory_to_use = 0.1，python的enable_use_gpu显存设置不生效我们已经安排修复中。

[2020-09-29 11:28] weiexcelpro commented on #27645
该软件质量较差, 请再检索非pip的安装方式吧.
![image](https://user-images.githubusercontent.com/37108001/94552774-02c2df00-028a-11eb-9bf4-685df2ad6fe8.png)

[2020-09-29 11:34] Fauny opened #27721 "pp-yolo Batch inference use AnalysisConfig zero_copy_run, the outputs does not have batch dimension"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4
    2）CPU：i7
    3）GPU：N/A
    4）Mac OS 10.15, Python 3.7
- 预测信息
    1）参考 [PaddleDetection/deploy/python/infer.py](https://github.com/PaddlePaddle/PaddleDetection/blob/1cd05b21493e4f809655dbe5a37bc0e2b9432744/deploy/python/infer.py)
    2）修改input
[code]
    3）获取输出
[code]
- 问题：
get_output_tensor 只有[n, 6]维， n是目标结果数量，如何将box在batch中定位？

[2020-09-29 12:07] wozna commented on #27588
The problem is that the 5117 machine does not have the `AVX512BW, AVX512VL, and AVX512DQ` flags which are needed for bfloat16 emulation.
All SkyLake machines should have these flags, but this machine is missing them, maybe it's a virtualization error.
I can also prepare a solution that checks if the processor has such flags, and if not, it does not turn on the bf16 test. But so far I have found a

[2020-09-29 12:13] Masterkmp opened #27726 "请问如何在LSTM中连接GCN网络?"
**我用的是paddle静态图.。现在我定义好了GCN的layer**
![图片](https://user-images.githubusercontent.com/37642547/94555485-3acc2100-028e-11eb-9f60-20e5334f5096.png)
**然后想在LSTM后面拼接GCN，但是这里不知道怎么做了，官方文档和issue似乎也没有这个问题，现在写到这里**
![图片](https://user-images.githubusercontent.com/37642547/94555778-ad3d0100-028e-11eb-9c9a-508a827eef2b.png)
**现在需要用lstm_concat作为GCN网络的输入，在biLstm后面衔接GCN，请问怎么做呢？能否提供具体实现方法？
说明：我实际是在做论文复现，关于这里的GCN的输入信

[2020-09-29 14:07] ForFishes commented on #27527
这种运行可以参考这个文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/fluid/device_guard_cn.html#device-guard。
至于速度影响，我无法确定，这个需要测试看下。

[2020-09-29 19:27] #27453 closed, assigned to luotao1

[2020-09-30 01:36] xdhuang opened #27733 "PaddleSeg-release-v0.4.0目录下pdseg用pyinstaller将train.py打包成train.exe后缺少了依赖包"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：1.7.1
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号  3.6.5
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息

[2020-09-30 02:29] geekhch commented on #27542
你的bug反馈是不全面的，没有提供错误的具体代码行。
我估计这两次报错应该不是同一个输入，检查一下是不是还有用到seq_lens的输入shape没有改，要顺着异常栈找到对应的报错代码行。

[2020-09-30 05:04] lastrei opened #27737 "关于lstm进行序列输出的问题"
和tensor的文本生成代码一样，比如有一段话[a,b,c,d,e] 然后我定义[a,b,c,d]为输入[b,c,d,e]为label，
输入的定义如下
[code]
没有问题，但是我同样这样定义输出label的时候就会一直报维度不对的问题，如果我把label定义为a,b,c,d后的下一个字e 然后定义label
[code]
进行训练就没有任何问题：

![image](https://user-images.githubusercontent.com/32331131/94644822-e0c66c80-031c-11eb-8f9a-a67235629cb1.png)
只预测下一个词没有问题

![image](https://user-images.githubusercontent.com/32331131/94644915-1c613680-031d-11eb-9e0e-7975

[2020-09-30 09:36] wozna commented on #27588
I prepared a solution that should resolve problem with machines that haven't necessary flags for bfloat16. https://github.com/PaddlePaddle/Paddle/pull/27732

[2020-10-01 01:25] ydchen9 commented on #27674
好的。非常感谢。

[2020-10-01 01:53] zzdang commented on #27691
好的，谢谢

[2020-10-01 01:53] #27691 closed, assigned to nobody

[2020-10-01 06:41] pmajchrzak commented on #27136
Yes, I think this issue can  be closed.

From: lidanqing <notifications@github.com>
Sent: Wednesday, September 23, 2020 1:33 AM
To: PaddlePaddle/Paddle <Paddle@noreply.github.com>
Cc: Majchrzak, Piotr <piotr.majchrzak@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [PaddlePaddle/Paddle] FP32 latency growth for ERNIE model (#27136)

@pmajchrzak<https://github.com/pmajchrzak> Can I clo

[2020-10-01 08:14] #27136 closed, assigned to luotao1

[2020-10-01 08:23] #25537 closed, assigned to jczaja, phlrain, lidanqing-vv

[2020-10-01 09:27] JepsonWong commented on #24289
您好，麻烦新开个issue吧，会有专人解决。

[2020-10-01 16:12] limulimu opened #27751 "3080显卡无法使用paddle(it dosen't work in RTX 3080)"
paddle.fluid.check_install.run_check()卡死，等待无结果，GPU满负荷，不消耗显存。
显卡为MSI RTX3080 主机为MSI P100。WIN10 64位专业版。
1.paddle版本1.8-1.8.5均试过不行。
2.CUDA 9,10,10.2,11 均不行，cudnn7.6 8.1也均不行。
3.pip 安装和 anaconda 安装也均不行。

另外我的老机器是是2070MQ的，经常容易出现无法申请到显存，然后强退的错误。

[2020-10-02 07:06] topxxuki opened #27752 "训练/预测时偶发性报错Compiled with WITH_GPU, but no GPU found in runtime."
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2020-10-02 08:36] yuhao2480444683 opened #27753 "use the same pattr of a layer during one training process"
I want to use the parameter of one layer calculate two same operation，how？
eg:
    here is a simple layer class, I only want one fc layer in my model, but I need to calculate two operation use this fc layer.
If i define as follow, there are two different fc parameter.

    any_layer(data1, data2)

    {

        output1 = fluid.layer.fc(input=data1)

        output2 =  fluid.layer.fc(input=data2)

[2020-10-02 10:29] yuhao2480444683 commented on #27753
fc is very simple, it have a param as W, which can define in __init__ function.
But I use the model in exe.run, it doesn't have the init and forward function, only has model definition.

[2020-10-03 02:07] unco2020 commented on #27584
protobuf编译有问题，cmake中的Tag有问题，换一下就好了

[2020-10-05 03:25] Frank00001 opened #27757 "fleetrun: command not found"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.5
    2）GPU：cuda10.0,cudnn7.6.4
    3）系统环境：ubuntu16.04、Python3.6

- 安装方式信息：
1）pip安装paddlepaddle和fleet-x
python -m pip install paddlepaddle-gpu==1.8.5.post107
pip install fleet-x
 2）nccl安装
nccl版本为2.6.3  
3)mpich（MPI）安装
sudo apt-get install -y mpich

问题：我们想使用FleetAPI运行paddle分布式代码的时候，输入fleetrun命令时，出现fleetrun: command not found的错误
![image](https://user-images.github

[2020-10-05 10:15] lidanqing-vv commented on #27588
Solved by #27732

[2020-10-05 10:16] lidanqing-vv commented on #27588
@luotao1  麻烦在你们的5117上验证一下是不是不报错了吧？我们这边skylake都不报错了。

[2020-10-06 02:48] w-sugar commented on #24289
你好，我的输出是 device memory allocation failed，请问怎么解决？

[2020-10-06 02:49] w-sugar commented on #24289
@JepsonWong
你好，我的输出是 device memory allocation failed，请问怎么解决？

[2020-10-06 15:05] Always-prog commented on #4247
Hmm. I have a similar problem

[2020-10-07 08:34] mysalter opened #27761 "vs2019编译的时候 找不到framework.pb.h"
paddle 2.0编译
多处出现D:/lkx/paddle/Paddle\paddle/fluid/framework/attribute.h(23): fatal error C1083: 无法打开包括文件: “paddle/fluid/framework/framework.pb.h”: No such file or directory

[2020-10-07 08:36] mysalter opened #27762 "paddle2.0编译出现多处依赖库找不到"
paddle2.0编译出现多处依赖库找不到
以下列举几个：
718>C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\VC\v160\Microsoft.CppCommon.targets(234,5): warning MSB8064: 项“D:\lkx\paddle\Paddle\build\CMakeFiles\1687d9c4cada6a917d1934f54e48b5b0\paddle_fluid_dummy_7_dummy.c.rule”的自定义生成成功，但指定的依赖项“d:\lkx\paddle\paddle\build\paddle\fluid\operators\release\libcorrelation_op.lib”不存在。这可能会导致增量生成无法正常工作。

[2020-10-07 10:07] GT-ZhangAcer commented on #27710
版本问题，可以参考当前环境下的paddlepaddle版本+对应版本文档找到切换API

[2020-10-08 04:49] Frank00001 commented on #27757
您好，pip list安装情况如下
Package              Version
-------------------- ------------------------
absl-py              0.7.1
astor                0.8.0
backcall             0.1.0
bleach               3.0.2
certifi              2018.10.15
cffi                 1.11.5
chainer              4.5.0
chardet              3.0.4
click                7.1.2
cloudpickle          0.6.1
cntk-gpu             2.6
cycler

[2020-10-08 14:55] wzzju commented on #27761
VS2017和VS2019还没有支持，可能会存在一些问题，建议尝试使用VS2015进行Paddle windows编译。

[2020-10-08 14:55] wzzju commented on #27762
VS2017和VS2019还没有支持，可能会存在一些问题，建议尝试使用VS2015进行Paddle windows编译。

[2020-10-09 01:22] Xreki commented on #27737
请问具体是什么错误啊？

[2020-10-09 02:22] #27001 closed, assigned to juncaipeng

[2020-10-09 02:24] #26960 closed, assigned to juncaipeng

[2020-10-09 02:24] #26957 closed, assigned to juncaipeng

[2020-10-09 02:25] #26974 closed, assigned to juncaipeng

[2020-10-09 02:27] #25443 closed, assigned to juncaipeng

[2020-10-09 02:30] #25427 closed, assigned to juncaipeng

[2020-10-09 02:39] Derek-Kun commented on #27564
我说的是模型训练好以后用模型去infer别的图片，每次只预测一张，比方说我这里有100张图片，不是说把100张图片看成一批输入，而是类似我现在有一个网站，用户可以上传图片，上传一张我就预测一张，用户上传的时间是不确定的，但是如果每次用户上传我都执行一次infer.py，启动和关闭模型就要十几秒的时间，但是实际预测图片的时间只有0.01秒。

[2020-10-09 02:41] ceci3 commented on #27757
https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/fleetrun_usage_cn.html#id2. 您好，文档里的使用要求是要安装paddlepaddle 2.0rc或以上版本
![image](https://user-images.githubusercontent.com/29245900/95535781-dc383d00-0a1b-11eb-87e9-b776a8817561.png)

[2020-10-09 02:54] #27588 closed, assigned to jczaja, wozna, lidanqing-vv

[2020-10-09 03:10] ceci3 commented on #27757
你好，需要安装develop版本的paddle

[2020-10-09 03:43] Frank00001 commented on #27757
请问paddle的develop版本如何安装呢？我使用python -m pip install paddlepaddle 2.0-rc安装失败！
![image](https://user-images.githubusercontent.com/43396077/95540898-8ae07b80-0a24-11eb-8e00-f6c94595d95c.png)

[2020-10-09 03:47] ceci3 commented on #27757
2.0rc版本还没发布，develop版本安装链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-dev

[2020-10-09 04:43] lleesg commented on #25691
met the same problem in Paddle-release-1.8 but disapeared in Paddle-release-2.0-beta

[2020-10-09 04:48] #27761 closed, assigned to wzzju

[2020-10-09 04:49] #27762 closed, assigned to wzzju

[2020-10-09 06:45] Xreki commented on #27733
1. 请问具体缺少什么依赖包呢？
2. 试一下更新到最新版release/v0.6.0？

[2020-10-09 08:20] Derek-Kun opened #27782 "使用while循环预测主题报错"
我在paddle的image_classification代码里加入了while语句循环Main方法， 并检测一个文件夹内有没有图片，有图片的话就执行一次main函数，然后删掉文件夹内的图片，等下一张图片传入到该文件夹的时候while循环语句检测到新的图片，于是又执行main方法，类似于这样
![图片](https://user-images.githubusercontent.com/57475881/95559947-1f5dd480-0a4b-11eb-88fb-d6a9d2b0bb32.png)
可是只有在第一次循环的时候有效，第二次循环的时候就会报错：
UnavailableError: Load operator fail to open file /home/video_cls/models/PaddleCV/image_classification/output/ResNe

[2020-10-09 08:46] Frank00001 commented on #27757
按照paddlepaddle给出的分布式collective文档https://fleet-x.readthedocs.io/en/latest/paddle_fleet_rst/fleet_collective_training_practices_cn.html#resnet50，在运行fleet.init(is_collective=True)发生错误：Gloo init with FILE: need_init_all: False, args: {'dfs.path': '/tmp/tmpl5o0ej9l', 'store.prefix': ''}
具体错误如下:
/usr/local/miniconda3/envs/dl/lib/python3.6/site-packages/sklearn/externals/joblib/externals/cloudpickle/clou

[2020-10-09 09:00] houming818 opened #27783 "按照官方链接文档，无法正常检测通过，提示 **error code is libnvinfer.so: cannot open shared object file: No such file or directory**"
- 标题：按照官方链接文档，无法正常检测通过，提示 **error code is libnvinfer.so: cannot open shared object file: No such file or directory**。
- 版本、环境信息：
    1）PaddlePaddle版本：
![image](https://user-images.githubusercontent.com/5498826/95562081-3f42c780-0a4e-11eb-81a0-c101f70fe61f.png)

    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
![image](https://user-images.githubusercontent.com/5498826/95562159-5bdeff80-0a4e-11eb-8a

[2020-10-09 09:36] houming818 commented on #27783
已解决。
解决方案： 安装 **nvidia-tensorrt**
参考链接： https://developer.nvidia.com/nvidia-tensorrt-7x-download

[2020-10-09 10:01] jczaja commented on #27704
@juncaipeng We have seen something very similar in the past. Problem was that some of values of weights are FP32 denormalized values e.g +0, -0 etc. Then execution on such a data is very slow. To have this fixed model need to be processed at the beginning e.g. We should have a IR pass checking if values are denomrlized and if positive round it to normalized one. We have this partially done (only i

[2020-10-09 10:45] lidanqing-vv commented on #27704
![image](https://user-images.githubusercontent.com/47151829/95573910-73a58c00-0a2c-11eb-870c-0e8768db6480.png)

I printed the variable weights 'create_parameter_0.w_0' and matmul output 'matmul_0.tmp_0' during execution. You can see Left side which is fast model, most data are in float. Right side which is slow model, many values are in double.

So during execution, because of the weights data its

[2020-10-09 11:23] ljayx opened #27789 "paddle-trt预测faster-rcnn模型加载报错"
- 标题：paddle-trt预测faster-rcnn模型加载报错
- 版本、环境信息：
    1）PaddlePaddle版本：v1.8.5
    2）GPU：Tesla P4, CUDA10, cuDNN7.6, TensorRT7.0.0.11
    3）系统环境：Ubuntu16.04
- 预测信息
    1）C++预测：编译的paddle-trt预测库，编译参数：
[code]
- 问题描述：编译的预测库，使用AnalysisConfig，加载faster-rcnn模型报dims的错误如下：
[code]

config配置如下：
[code]

请问：
**1. faster-rcnn是否已经支持？**
**2. 如上报错是什么问题，应该怎么解决？**

谢谢~

[2020-10-09 11:30] ljayx commented on #27789
完整log:
[抱歉之前贴的是Retinanet的log，根据建议将最小子图节点数改为32后运行成功]

但将faster-rcnn的最小子图节点数改为32后报了另一个错误，日志如下：
[code]

[2020-10-09 12:02] jczaja commented on #27398
@luotao1 This issue to be fixed require two PRs to be merged: 1) #27770 (merged) 2) #27747 (awaiting approval)

[2020-10-09 12:10] MRXLT commented on #27782
你好，如果是想要进行预测可以参考这个链接https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/python_infer_cn.html#id7
不需要每次都进行参数的加载

[2020-10-09 12:15] MRXLT commented on #27783
你好，请问是在执行哪一篇文档的时候遇到问题的呢，如果需要的话我们会补充文档内容

[2020-10-09 13:19] edimetia3d commented on #25494
1. 当前的develop分支 631c1f3018261c2e52aca97b716d0333afeb858f 问题依然存在.  不过是另一个地方触发assert了.

2. 是 -DCMAKE_BUILD_TYPE=Debug 导致的, 在Debug模式下, assert会直接terminate程序.  Release下直接忽略掉了, 这样没问题吗?

3. 可以直接把相关的TINYFORMAT_ERROR 注释掉来workaround, make可以继续执行.

[2020-10-09 13:34] lidanqing-vv commented on #27704
@juncaipeng  I got some help from MKL team and checked adding following code in the main function. The slow model now has same performance as fast model. Could you add these lines and verify if the customer's real model's accuracy is still good?
[code]

[2020-10-09 13:47] ralph0813 opened #27794 "paddle2.0beta 安装文档出现严重错误！"
下午尝试安装paddle2.0beta版本时参考ubuntu安装文档，确认到可以使用cuda10.1，但是一直出现报错:
`Error: Failed to find dynamic library: libcublas.so ( libcublas.so: cannot open shared object file: No such file or directory ) `
来回折腾一下午，甚至重装系统，从20.04降级到18.04，问题仍然无法解决。后来尝试使用cuda10.0问题解决了！
请尽快修改文档，避免其他开发者在环境配置方面耽误太多时间！

文档链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-beta/install/install_Ubuntu.html

错误位置：环境准备 GPU 版本支持 C

[2020-10-09 14:35] jczaja commented on #24295
done over a few of PRs

[2020-10-09 14:35] #24295 closed, assigned to wozna

[2020-10-10 00:37] L-lei commented on #27618
我不知道你们收到后面发的文件没，我给的对你们有用没，我打算关闭这个提问

[2020-10-10 02:23] juncaipeng commented on #27704
@jczaja @lidanqing-intel  Thanks for the help.  I also verified that the performance of the two models is the same, and the customer will check the accuracy recently.

[2020-10-10 02:30] yeguang1991 opened #27795 "CUDA初始化会占用800多M显存，请问这个可以优化吗？"
我执行了一下fluid.install_check.run_check()，显存占用840M，请问这个怎么可以设置低一点
![image](https://user-images.githubusercontent.com/66579493/95643734-921a8e80-0ae3-11eb-94be-9ed8cacc8f46.png)

[2020-10-10 06:19] yeguang1991 opened #27801 "预测时加载模型报错"
使用fluid.io.save_persistables()保存模型，传入filename='model',
加载时时同样传入filename='model'，
fluid.io.load_persistables(self._exe, model_path, main_program=self._pred_init_prog, filename='model')

报错：
![image](https://user-images.githubusercontent.com/66579493/95647701-23016200-0b04-11eb-9e6d-a7d41237c203.png)

[2020-10-10 09:40] YixinKristy commented on #27580
查看了您的截图，发现您使用的aistudio上的vdl，不需要重新开窗口，左侧有「启动VisualDL」的按钮可以使用的哈
<p align="center">
<img src="https://user-images.githubusercontent.com/48054808/95651824-60bfb400-0b1f-11eb-90d9-04403b284bb5.png" width="50%"/>
</p>

[2020-10-10 10:03] Maybewuss commented on #27227
请问这个后续有评估吗？卡片直接关闭是咋回事啊？这op能像pytorch拆成expand和repeat两个api吗？expand只复制视图可以吗，不然我模型里面里涉及到这些操作贼容易爆显存。

[2020-10-10 13:38] Masterkmp opened #27821 "文本分类的attention机制"
paddle官方没有关于文本分类的attention机制静态代码的实现，请问能否提供完整代码？

[2020-10-11 00:52] lyn1225 opened #27823 "pdseg实现auxiliary loss"
语义分割领域常用auxiliary loss来优化训练，官方提供的pdseg文件loss.py中定义了multi_softmax_with_loss()函数，并且在config.py文件中也定义了cfg.MODEL.MULTI_LOSS_WEIGHT。如果要实现auxiliary loss，是否只要在相应的模型文件中返回logits的元组，并且在config.py文件中设置logits的元组所对应的MULTI_LOSS_WEIGHT就可以了？菜鸡希望大佬的解答。

[2020-10-11 11:48] bjjwwang commented on #27823
已收到，我咨询下Seg的同学回复下。

[2020-10-11 14:54] Masterkmp opened #27825 "lstm拼接attention报错"
意实现这里
![图片](https://user-images.githubusercontent.com/37642547/95681836-8ed2f000-0c14-11eb-8966-2a52080ddabf.png)
怎么写呢？（下面的不对）
![图片](https://user-images.githubusercontent.com/37642547/95681841-972b2b00-0c14-11eb-95c3-c8e3503fd430.png)

[2020-10-12 00:16] lidanqing-vv commented on #27567
@juncaipeng @OliverLPH

1. The native CPU config also cause the demo failure as follows:
[code]
It seems this demo does not have correct input dimension matching the model's dimension. model is as follows:
![image](https://user-images.githubusercontent.com/47151829/95694841-55aa7800-0c34-11eb-8932-013cbd3434c4.png)
But the demo gives input as follows:
[code]

Should it be like this ?
[code]

2. I

[2020-10-12 00:38] #27618 closed, assigned to nobody

[2020-10-12 00:43] zhongqing0507 opened #27826 "<论文复现> paddle中convLSTM的实现？"
paddle中如何实现convLSTM？？比较急！谢谢。

[2020-10-12 02:19] lijianshe02 commented on #27795
谢谢您提的issue, 我咨询下相关同学有做回复

[2020-10-12 02:20] lijianshe02 commented on #27801
报错日志打不开，还请提供详细的报错信息

[2020-10-12 02:33] lijianshe02 commented on #27801
请check模型路径是否正确

[2020-10-12 02:41] lijianshe02 commented on #27821
这个没有哈，有一些翻译文本生成上使用attention的不知道是否可以参考来搞
https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/machine_translation/transformer
https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/seq2seq/seq2seq

[2020-10-12 03:13] OliverLPH commented on #27567
@lidanqing-intel
I use netron visualize this model, but I find the input of this model  is [1, 3, 769, 769]
![image](https://user-images.githubusercontent.com/14963836/95701298-cf198900-0c7b-11eb-852d-fed98aa3a812.png)

I will change input to [1, 3, 513, 513] and try in mkldnn and cpu mode.

This model is the only one I have now.

[2020-10-12 03:55] hong19860320 commented on #27826
Paddle官方还没有支持，但是我在github找到了一个实现 https://github.com/xyzhou-puck/paddle_in_example/blob/e049a9154e2d42f03b13092801bc1e061b8e762b/part4%20easy%20tutorials/conv_lstm/ConvLSTM.py
这位同学是Paddle NLP的大佬，值得信赖^^

[2020-10-12 04:04] Derek-Kun opened #27842 "使用CPU预测报错 Intel MKL function load error: cpu specific dynamic library is not loaded."
我用paddle目录下的image_classification里的infer对图片进行分类，在GPU上运行时一切正常，可是当参数设置use_gpu=False后预测，就会报错  Intel MKL function load error: cpu specific dynamic library is not loaded. 我定位了一下发现报错位置是这一行代码
，
![图片](https://user-images.githubusercontent.com/57475881/95704360-22430a00-0c83-11eb-8e0b-0eee5643feef.png)

在网上查也没找到相关问题，请问如何处理？

[2020-10-12 05:44] hong19860320 commented on #27842
试试这两个issue中的解决办法 https://github.com/PaddlePaddle/PaddleOCR/issues/673 https://github.com/PaddlePaddle/PaddleOCR/issues/440

[2020-10-12 06:07] Derek-Kun commented on #27842
好的我研究一下，感谢

[2020-10-12 06:35] danleifeng commented on #27757
您好，官网提供的develop 分支whl包可能会有延迟性，您的问题已经在最新的develop分支代码中解决。
可以期待一下10.28发布的paddle-2.0rc稳定版本。
如果想尽快试用fleet分布式训练最新功能，可以选择使用源码编译paddle：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/compile_Ubuntu.html#ubuntu

[2020-10-12 06:37] DDDivano commented on #27751
nvidia-gpu 架构目前发布的包只支持到最高Turing架构，即sm75，3080是Ampere架构sm80，发布包目前不支持这个架构，可以根据官网教程自行编译一个包。

[2020-10-12 06:42] Derek-Kun commented on #27842
问题已解决，亲测之前的换scipy和numpy版本方法可用
paddlepaddle==1.8.3
scipy==1.1.0
paddlehub==1.7.1
numpy==1.19.1

[2020-10-12 06:42] #27842 closed, assigned to nobody

[2020-10-12 07:06] lijianshe02 commented on #27795
这个确实是有手段降低，但是修改设置后还得重新编译生成whl包，而且设置修改后的意义不大，所以不建议修改

[2020-10-12 08:30] wuyefeilin commented on #27823
目前静态图没有提供支持auxiliary loss来优化训练， 里面的multi_softmax_with_loss()函数是因为icnet而设置的。 我们正在往动态图迁移，在动态图版本里是支持任意增加auxiliary设置的，如果你感兴趣的话可以尝试使用我们的动态图版本。

你目前使用的哪一个模型，目前的训练精度是多少。

有问题的话可以提到https://github.com/PaddlePaddle/PaddleSeg repo的issue里方便我们跟踪恢复。

[2020-10-12 09:22] #27398 closed, assigned to jczaja, lidanqing-vv

[2020-10-12 09:46] heavengate commented on #27721
输出是个LoDTensor，是通过LoD来区分batch维的，deploy/infer.py里面一般都是batch_size=1，可以不关注这个，认为[n, 6]里的n是检测框个数。
或者可以参考eval里的下面代码把lod里的batch维解出来
https://github.com/PaddlePaddle/PaddleDetection/blob/84dde59eaf0f2704ca971fa267b8b430c4e16837/ppdet/utils/eval_utils.py#L130

lod这个概念稍微有点复杂，如果你deploy的时候batch_size=1可以不关注这个，简单认为是把batch_size=1那一维省略了

[2020-10-12 11:57] ZHUI commented on #27726
此处如果图结构为邻接矩阵，使用PGL较难实现。
建议先将邻接矩阵 转换为 PGL 的图结构，把图结构feed到网络中，然后再去调用 PGL  send recv 实现 GCN操作。

[2020-10-12 15:47] mingquanyuan opened #27870 "Nvidia jetson AGX Xavier编译错误"
**系统信息**

PaddlePaddle version: 264e76cae6861ad9b1d4bcd8c3212f7a78c01e4d (v2.0.0-beta0)
OS Platform: Ubuntu 18.04.4 LTS
Python version: 3.6.9
CMake version: 3.10.2
GCC version: 7.5.0
CUDA version: 10.2

**安装方式:** 本地编译

**cmake命令**
[code]

**报错信息**

[code]
...

[code]

[2020-10-13 01:27] yeguang1991 commented on #27801
@lijianshe02 模型路径跟filename=None时，使用的路径一样，filename=None时可以正常保存和加载，filename='model'时，会出现上述错误

[2020-10-13 01:29] yeguang1991 commented on #27795
请问一下意义不大可以具体一点吗？

[2020-10-13 02:24] hong19860320 commented on #27870
可以参考最新编译文档https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html

![image](https://user-images.githubusercontent.com/9973393/95810294-30585f80-0d43-11eb-8e8a-bda9d9f29341.png)

不要设置-DWITH_ARM=ON哦

[2020-10-13 02:32] hong19860320 commented on #27870
可能需要参照这个PR https://github.com/PaddlePaddle/Paddle/pull/21393/files 把openblas的版本升级到v0.3.7

[2020-10-13 03:29] luotao1 opened #27877 "CPU transpose slow than numpy on some machines"
**System information**

- PaddlePaddle version: `pip install paddlepaddle==2.0.0a0 -i https://pypi.tuna.tsinghua.edu.cn/simple`

**To Reproduce**
Steps to reproduce the behavior: `python single_op_paddle_vs_np.py`
[single_op_paddle_vs_np.py.zip](https://github.com/PaddlePaddle/Paddle/files/5368745/single_op_paddle_vs_np.py.zip)

- `use_paddle = True`: run Paddle
- `use_paddle = False`: run numpy

[2020-10-13 03:32] luotao1 commented on #27877
@jczaja @lidanqing-intel It's some code of Quantum computing Application.

[2020-10-13 03:57] MRXLT commented on #27794
感谢反馈，我们会尽快更新文档

[2020-10-13 05:50] heavengate commented on #27752
看着是偶现检测不到GPU，可以确认一下CUDA，nvidia driver这些是否正确安装，版本是否匹配

[2020-10-13 05:56] heavengate commented on #27753
fc API has an arguments as `param_attr` for parameter definition, define both parameter with the same name and they will share the same parameter

[2020-10-13 06:14] Fauny commented on #27721
@heavengate 感谢回复

回头研究一下Lod再继续。

[2020-10-13 06:14] ljayx opened #27880 "paddle-trt加载RetinaNet模型预测一定次数后OOM"
- 标题：paddle-trt加载RetinaNet模型预测一定次数后OOM
- 版本、环境信息：
    1）PaddlePaddle版本：v1.8.5
    2）GPU：Tesla P4, TensorRT7.0, CUDA10, cuDNN7.6
    3）系统环境：Ubuntu16.04

- 预测信息
    1）C++预测：自己编译的paddle-trt预测库
- 复现信息：while(True)循环执行前向计算。
- 问题描述：while(True)循环执行retinanet的前向计算，大约在150-200次循环之后开始出现OOM，打印的log如下所示：

[code]
虽然出现OOM的报错，但是预测结果依然能正确计算，且从`nvidia-smi`看显存还有很多。
请问这个是什么问题，如何解决呢？

[2020-10-13 07:00] PaddlePaddle-Gardener opened #27884 "测试自动assign功能"
如题
ss
值班同学无需关注
谢谢

[2020-10-13 07:53] cryoco commented on #27880
您好，可以将config.EnableTensorRtEngine的第一个参数max_workspace设为1 << 30试一下

[2020-10-13 08:27] jczaja commented on #27877
@luotao1 Looks like CPU related issue. Perhaps transpose for this particular platform (AVX2 instruction set) is not optimized. It would be very helpful to get oneDNN execution log from 6148 and i7-4770R. e.g.
If you could run DNNL_VERBOSE=1 python <rest of arguments>  . That would be very helpful in other to trace underperforming element.

[2020-10-13 08:27] AWSWXY opened #27894 "怎么关闭某些参数的梯度更新"
想咨询下如何关闭某些参数的更新，使用什么api

[2020-10-13 08:31] wangchaochaohu commented on #27894
param_attr中的learning_rate设置为0就可以了

[2020-10-13 08:32] AWSWXY commented on #27894
有没有相关的项目，模型 可以参考

[2020-10-13 08:43] wangchaochaohu commented on #27894
https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleCV/gan/network/base_network.py#L55 可以参考下

[2020-10-13 09:01] ljayx commented on #27880
@cryoco 你好，改成1<<30后，预测到第300次的时候还是出现了一样的问题。

[2020-10-13 09:08] danleifeng commented on #27081
请问有解决么

[2020-10-13 09:12] cryoco commented on #27880
有可能是因为TRT6和7.0存在一个使用动态shape时显存泄漏的bug。该bug在TRT7.1得到了修复，paddle-TRT从2.0-beta版本开始支持TRT7.1，需要cuda10.2，cudnn8.0，driver440以上

[2020-10-13 09:13] ljayx commented on #27880
好的，我试试2.0-beta，谢谢。

[2020-10-13 10:47] liguoyu666 opened #27898 "paddle.fluid.nets.img_conv_group()的参数里没有卷积步长"
paddle.fluid.nets.img_conv_group(input, conv_num_filter, pool_size, conv_padding=1, conv_filter_size=3, conv_act=None, param_attr=None, conv_with_batchnorm=False, conv_batchnorm_drop_rate=0.0, pool_stride=1, pool_type='max', use_cudnn=True)

该组合操作的参数里没有找到conv_stride，请问是怎么计算的，默认为１吗？
conv_num_filter是卷积后的通道数吗？卷积后是32个通道必须写成 (32,32)？

[2020-10-13 12:30] orchardchang commented on #19601
Hi，请问你是做了哪些修改？

[2020-10-13 12:34] gongweibao opened #27907 "Apply shellcheck to all files."
https://github.com/PaddlePaddle/Paddle/pull/27905

[2020-10-13 13:22] wangchaochaohu commented on #27898
stride 默认是1 conv_num_filter 是卷积之后每个group的通道 如果是一个group 的话 想要卷积之后 输出channel 数目是32 只用conv_num_filter 等于32 就行了 这个OP是一个组合网络 conv + batchnorm + pool

[2020-10-13 15:27] #26326 closed, assigned to nobody

[2020-10-13 15:28] #26205 closed, assigned to nobody

[2020-10-13 15:34] liguoyu666 commented on #27898
谢谢解答，还有点疑问：
1. 这个组合网络的的卷积步长是只能为1吗？没看到修改的参数。
2. 我要用步长为2的卷积+BN，不要pool层，能否用该组合网络？参数里面pool貌似必须设定参数才行。
3. 有没有类似pytorch里的torch.nn.Sequential()，连续定义多个卷积、BN、pool等操作的API。
3. conv_num_filter （list | tuple） - 卷积中使用的滤波器数。若要求卷积后的通道为32，这个参数貌似不能设为32，而要（32, 32）才行。分成的group怎么设置的，没看到group的参数。

[2020-10-14 02:52] shikeno opened #27916 "var src_ids not in this block"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.6.2.post97
    2）CPU：Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz
    3）GPU：T4, cuda10.1

问题：
我有一个训练好的bert的inference_model，我需要params文件所以我想用load_inference_model，和save_inference_model转化出来params文件。我并不知道里面有哪些层，所以就有了下面的代码，但是利用loa

[2020-10-14 03:00] mingquanyuan opened #27917 "Jetson AGX Xavier预测错误"
**系统信息**

PaddlePaddle version: 264e76c (v2.0.0-beta0)
OS Platform: Ubuntu 18.04.4 LTS
Python version: 3.6.9
CMake version: 3.10.2
GCC version: 7.5.0
CUDA version: 10.2
Device: Jetson AGX Xavier (32G)

**安装方式**: 本地编译

**cmake命令**
[code]

**预测使用模型**：[PaddleOCR](https://github.com/PaddlePaddle/PaddleOCR/blob/develop/doc/doc_ch/quickstart.md)

**预测使用代码**：[链接](https://github.com/PaddlePaddle/PaddleOCR

[2020-10-14 03:13] mingquanyuan commented on #27870
谢谢帮助！在cmake里面把-DWITH_ARM=ON去掉，并且把make -j4改成make TARGET=ARMV8 -j8之后编译通过了。但是在预测的时候报错了： https://github.com/PaddlePaddle/Paddle/issues/27917

[2020-10-14 03:17] #27870 closed, assigned to nobody

[2020-10-14 04:01] yeguang1991 opened #27922 "文本分类当label>256时预测错误"
我的文本一共1000多个label，预测的结果都是256以下的label，当label<256时预测正确，>256的label都错了，请问这个是什么原因？

[code]

[2020-10-14 04:13] chenwhql commented on #27916
你是想把分散存储的params转换成存储到一个大文件中吗

[2020-10-14 04:24] chenwhql commented on #27922
模型代码看起来没什么问题，您要不要再确认下是否是数据和参数的问题？

[2020-10-14 04:27] littletomatodonkey commented on #27917
试下直接`pip install paddlepaddle-gpu==2.0.0b0`呢？

[2020-10-14 06:03] yeguang1991 commented on #27922
label是由哪个参数确定的？我训练了1000多个label，预测的结果都<256

[2020-10-14 06:16] chenwhql commented on #27922
[code]
话说您这个预测结果是要一个结果还是1000多个结果？后面的label是只有一个值，是不是前面网络的输出也是一个值？ size=1？

[2020-10-14 06:18] yeguang1991 commented on #27922
只要1个结果，我的意思是我期望的结果可能 > 256, 但是最后输入label>256的文本，预测的结果都不超过256

[2020-10-14 06:21] chenwhql commented on #27922
嗯嗯，所以感觉是不是这里写的不对导致的
[code]
这里计算cost的input和label的shape应该一致吧

[2020-10-14 06:23] yeguang1991 commented on #27922
这里应该怎么写啊

[2020-10-14 06:24] chenwhql commented on #27922
[code]
这里size改成=1试试？

[2020-10-14 06:26] yeguang1991 commented on #27922
size=1训练报错
C:\Users\issuser\Anaconda2\envs\py3\lib\site-packages\paddle\fluid\executor.py:1070: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  File "run.py", line 111, in <module>
    fetch_list=[avg_cost, acc])
  File "C:\Users\issuser\Anaconda2\envs\py3\lib\site-packages\paddle\fluid\executo

[2020-10-14 06:29] yeguang1991 commented on #27922
我最后预测的结果打印是这样的，第一列为我期望的结果，第二列为预测的文本，第三列是模型预测的结果，当我期望的结果<=256时，都预测对了
248	试用期有加班费吗	248
248	加班费报销	248
248	公司拖欠加班费	248
248	加班费如何申领	248
248	加班费未发放	248
248	加班工资什么时候发	248
248	法定节日加班工资怎么算	248
248	工资没有发加班费	248
248	请问节假日加班工资怎么算啊	248
248	加班有加班费吗	248
248	加班费怎么核算	248
248	二月有加班但是没有加班工资	248
249	公司数字办公信息安全管理要求	249
250	如何查看邮箱容量及使用情况	250
250	查看邮箱容量	250
250	如何查看邮箱剩余空间	160
250	pop邮箱查看内存	250
250	邮箱限额	250
250	邮箱空间使用情况

[2020-10-14 06:34] chenwhql commented on #27922
前面那个错误看起来和改动无关，这个训练耗时长吗？是否方便分享下程序和数据，我这边自己跑一下？

[2020-10-14 06:35] yeguang1991 commented on #27922
怎么分享给你

[2020-10-14 06:36] chenwhql commented on #27922
这个预测结果，是训练之后存储的模型预测得到的吗？还是训练过程中就这样了

[2020-10-14 06:37] yeyupiaoling opened #27926 "多输入模型在预测是报错"
- Windows 10
 - PaddlePaddle 1.8.4.post107
 - Python 3.7

在训练的时候正常，训练的模型代码：
[code]

在预测是报错，预测代码：
[code]

错误日志：
[code]

[2020-10-14 06:37] yeguang1991 commented on #27922
训练之后存储的模型，然后拿训练的数据做预测

[2020-10-14 06:44] chenwhql commented on #27922
分享是有点麻烦，要不用`Print`打印一下训练过程的中的预测结果调试下？
[code]

https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print

[2020-10-14 06:50] yeguang1991 commented on #27922
这个我不太清楚要怎么调试1602658128              The place is:CUDAPlace(0)
Tensor[fc_0.tmp_4]
        shape: [8,1250,]
        dtype: float
        data: 6.33274e-07,2.75524e-07,9.7508e-07,2.96075e-07,0.011754,4.28603e-07,1.79233e-05,0.000111395,3.20456e-07,4.45477e-07,7.5196e-06,3.18634e-05,6.13123e-06,5.51241e-07,2.21782e-06,9.96726e-05,3.85974e-05,8.54678e-05,4.25089e-05,9.28229e-05,
1602658128

[2020-10-14 06:50] yeguang1991 commented on #27922
请问可以分享一下邮箱，我发下demo给你吗

[2020-10-14 06:59] chenwhql commented on #27926
看代码，和输入有关，输入的tensor的rank是1，所以op执行检查的时候报错了

[2020-10-14 07:01] chenwhql commented on #27922
好的，发chenwhpro@163.com吧

[2020-10-14 07:02] yeyupiaoling commented on #27926
@chenwhql 提示的是这个错误： combined_net = fluid.layers.concat(input=[mobilenetv1, hidden], axis=1)

[2020-10-14 07:08] wangchaochaohu commented on #27898
1 组合卷积步长只能是1
2 如果不想要pool ，但是想要使用这个API可以使用一种特殊的pool pool_size 等于1 的话是对中间输出结果并不会改变
3. Paddle中最新2.0 已经支持 Sequential(）  具体可以参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/tutorial/quick_start/high_level_api/high_level_api.html#sequential

4  这个API已经不建议使用 这个group 对每个conv_num_filter中元素默认是1

[2020-10-14 07:09] chenwhql commented on #27926
我这边看的框架源码，concat op会拿第一个输入的维度和输入的axis对比检查，训练的时候axis是1，那输入的数据至少是个2二维的吧，然后预测的时候，输入数据至少也要是二维的，上面那个报错，就是在检查的时候发现第一个输入是一维的，所以的axis不能是1，越界了

[2020-10-14 07:20] yeyupiaoling commented on #27926
@chenwhql 维度度都大于等于2，输入的shape都更训练时一样，

[code]

[2020-10-14 07:24] shikeno commented on #27916
是的

[2020-10-14 07:26] chenwhql commented on #27926
诡异，那个报错确实是因为concat的第一个input shape不对导致的，能否print一下模型的结构参考下
[code]

[2020-10-14 07:28] yeyupiaoling commented on #27926
@chenwhql 我把模型文件发你看看，也顺便发给您参数文件
[__model__.zip](https://github.com/PaddlePaddle/Paddle/files/5376356/__model__.zip)
[__params__.zip](https://github.com/PaddlePaddle/Paddle/files/5376365/__params__.zip)

[2020-10-14 07:33] chenwhql commented on #27926
您那边能直接跑起来的话，先print一下结果贴上来可否，这样更快

[2020-10-14 07:36] yeyupiaoling commented on #27926
@chenwhql 不知道怎么打印，我直接给图给你吧
![模型](https://user-images.githubusercontent.com/26297768/95957942-fbc3d100-0e32-11eb-9978-bef2297889a9.png)

[2020-10-14 07:42] chenwhql commented on #27916
save_inference_model的时候指定下吗main_program参数试试呢
![image](https://user-images.githubusercontent.com/22561442/95958500-cc619400-0e33-11eb-9c03-ec8868799408.png)
main_program= inference_program

[2020-10-14 07:43] liguoyu666 commented on #27898
谢谢

[2020-10-14 07:48] yeyupiaoling commented on #27926
@chenwhql 如果是维度的问题，那么data层就过不去了，我觉得不是输入数据维度的问题

[2020-10-14 07:50] chenwhql commented on #27926
嗯嗯好，直接print(program)就可以打印，我自己本地跑下吧

[2020-10-14 07:54] shikeno commented on #27916
嗯嗯，用这个参数可以了！感谢同学！

[2020-10-14 08:05] juncaipeng opened #27931 "Conv_bias_mkldnn_fuse_pass supports the dilations be any value"
When the dilations of conv is not 1, the conv_bias_mkldnn_fuse_pass will fail.

#27329 has fixed the bug as [url](https://github.com/PaddlePaddle/Paddle/pull/27329/files#diff-f7483bc545486c858e8c7d04701c3dee3ce237affb50401814c72c20194b5741R88), and it skips fusing conv + bias when the dilations is 1.

@lidanqing-intel  Please check whether the conv_bias_mkldnn_fuse_pass can support the dilations b

[2020-10-14 08:12] chenwhql commented on #27926
给一张测试图片？`img = cv2.imread("test1.jpg")`

[2020-10-14 08:14] yeyupiaoling commented on #27926
@chenwhql 随便找张图片就行，模型还没训练完成的，我现在是测流程

[2020-10-14 08:24] yeguang1991 commented on #27922
发你了，收到了吗

[2020-10-14 08:34] #24589 closed, assigned to shippingwang, iclementine

[2020-10-14 08:59] chenwhql commented on #27926
从分析的日志来看，确实还是输入了错误的数据

首先下面这个是concat附近的结构，出错的变量是squeeze_0.tmp_0
![image](https://user-images.githubusercontent.com/22561442/95966938-439c2580-0e3e-11eb-84f0-4ef374b2a963.png)

然后在输入到concat之前，squeeze_0.tmp_0的维度确实变成了一维，所以报错了
![image](https://user-images.githubusercontent.com/22561442/95967143-7e9e5900-0e3e-11eb-8505-ba7429135a79.png)

这些分析，你可以在代码中加一行 `print(infer_program)`，然后执行`GLOG_v=3 python ...`查

[2020-10-14 09:00] yeyupiaoling commented on #27926
@chenwhql 上面的预测代码中，要如何修改输入数据呢？

[2020-10-14 09:01] chenwhql commented on #27922
好像没有，demo大吗？不大的话也可以直接传到issue上来

[2020-10-14 09:02] bjjwwang commented on #27825
不好意思才收到 我查看一下

[2020-10-14 09:04] chenwhql commented on #27926
要如何修改呢

[2020-10-14 09:05] yeyupiaoling commented on #27926
@chenwhql 这段代码我要如何修改才能正常预测？
[code]

[2020-10-14 09:08] yeguang1991 commented on #27922
又发了一遍

[2020-10-14 09:10] chenwhql commented on #27926
![image](https://user-images.githubusercontent.com/22561442/95968238-cc679100-0e3f-11eb-98e4-8ddd75f332af.png)
你看这个代码，你训练的时候batch size应该不是1吧，squeese如果不指定axis，会移除所有等于1的维度，这里输入图片只有一张，第一个维度也被移除了

要不出错的话，同时输入大于1个样本应该就可以

但说到底还是代码写得有问题，训练的时候，squeeze最好指定下维度吧

[2020-10-14 09:10] chengji77 opened #27934 "paddlepaddle-tiny源码"
请问PyPi上paddlepaddle-tiny是从这个repo编译来的吗？

我们现在需要在arm64上运行paddlepaddle-tiny，PyPi上没有现成的wheel，但找不到对应的源码。

[2020-10-14 09:11] yeyupiaoling commented on #27926
@chenwhql 好的，我通过指定维度squeeze试试

[2020-10-14 09:18] chenwhql commented on #27922
收到了，我看下之后给您回复

[2020-10-14 09:19] yeguang1991 commented on #27922
好的，非常感谢

[2020-10-14 09:21] yeyupiaoling commented on #27926
@chenwhql  squeeze改成这样就可以了，谢谢耐心回答
[code]

[2020-10-14 09:21] #27926 closed, assigned to nobody

[2020-10-14 09:26] lidanqing-vv opened #27935 "Add command values to beginning of log and use paddle.enable_mkldnn()) to instead of FLAGS_use_mkldnn"
Customer request:

Could you add some MKLDNN-related print log when use FLAGS_use_mkldnn?
Could you add new api like paddle.enable_static() (eg. paddle.enable_mkldnn()) to instead of FLAGS_use_mkldnn?

Dygraph training doc
[Dygraph_Training_Reproduction.txt](https://github.com/PaddlePaddle/Paddle/files/5383932/Dygraph_Training_Reproduction.txt)

[2020-10-14 11:22] chenwhql commented on #27934
https://github.com/PaddlePaddle/Paddle/tree/paddle_tiny_install

应该是从一个分支编译来的，但已经不再维护了

[2020-10-14 11:41] shikeno commented on #27789
请问解决了吗，『最小子图节点数改为32』 怎么实现的呢

[2020-10-14 11:49] shangzhizhou commented on #27789
void EnableTensorRtEngine(int workspace_size = 1 << 20,
                            int max_batch_size = 1, int min_subgraph_size = 3,
                            Precision precision = Precision::kFloat32,
                            bool use_static = false,
                            bool use_calib_mode = true);

设置min_subgraph_size=32

[2020-10-14 11:58] chenwhql commented on #27922
我这里跑了一遍，感觉结果正常？
[code]

[2020-10-14 12:00] chenwhql commented on #27922
256之后附近的也挺准的？
[code]

[2020-10-14 12:18] starsblinking commented on #27449
请问最后是怎么解决的呢

[2020-10-14 12:31] Costwen commented on #27449
事实上并没有解决这个问题... 我自己写了两遍，然后使用别人pytorch代码直接换api又弄了一遍 都出现了这个问题..

[2020-10-14 12:36] zhongqing0507 opened #27949 "<论文复现> paddle 的attention机制的实现"
paddle 中如何实现convlstm + attention , 或者attention的实现。
 感谢！

[2020-10-14 12:57] yeguang1991 commented on #27922
请问一下您这边有修改什么参数吗，在什么环境下跑的，我在我本地跑的还是不行

[2020-10-14 13:52] chenwhql commented on #27922
****************************************
Paddle version: 0.0.0
Paddle With CUDA: True

OS: Ubuntu 16.04
Python version: 3.5.2

CUDA version: 10.0.130
cuDNN version: 7.5.1
Nvidia driver version: 418.39
****************************************

莫非和paddle版本有关，我这里都是最新的develop分支测试，您用的哪个版本的paddle？

[2020-10-14 13:52] chenwhql commented on #27922
没有修改任何参数，直接拿你给的代码跑了一遍

[2020-10-14 13:53] #27916 closed, assigned to nobody

[2020-10-14 14:00] chenwhql commented on #27949
https://github.com/PaddlePaddle/models/tree/release/1.8/dygraph/seq2seq
您看这个模型实现可以参考吗

[2020-10-14 14:34] chengji77 commented on #27934
谢谢

[2020-10-14 14:34] #27934 closed, assigned to nobody

[2020-10-14 15:07] #27826 closed, assigned to nobody

[2020-10-14 15:27] JepsonWong commented on #24289
您好，麻烦新开个issue吧，会有专人解决。

[2020-10-14 20:50] lidanqing-vv commented on #27931
@juncaipeng #27914 This PR support dilated conv of any values, and I remove the PADDLE_ENFORCE in conv_bias_mkldnn_fuse_pass

[2020-10-15 01:21] doge-ac-cn opened #27957 "动态图转静态图保存后，载入模型时，无法改变输入数据的batchsize"
PaddlePaddle版本：1.8
保存模型代码
`    out_dygraph, static_layer = TracedLayer.trace(DeepSortNet, inputs=[image])
    static_layer.save_inference_model('infer_model')`

使用模型的代码
`image = np.random.random([1,3,128, 64]).astype('float32')
program, feed_vars, fetch_vars = fluid.io.load_inference_model('infer_model', exe)
fetch, = exe.run(program, feed={feed_vars[0]: image}, fetch_list=fetch_vars)`

在生产环境部署时，b

[2020-10-15 01:24] #27898 closed, assigned to nobody

[2020-10-15 01:36] yeguang1991 commented on #27922
我的是这个版本，paddlepaddle-gpu                   1.8.1.post107
我换一下版本试试

[2020-10-15 01:51] chenwhql commented on #27922
好的，可以试试1.8最新的小版本

[2020-10-15 02:02] yeguang1991 commented on #27922
试了1.8.5版本，还是不行

[2020-10-15 02:22] yeguang1991 commented on #27922
我切到linux环境预测没问题，paddlepaddle版本是1.8.0，请问为什么windows上会有问题

[2020-10-15 02:28] chenwhql commented on #27922
那这个问题可能比较复杂了，一下说不上来，我看这个是windows  GPU训练，能换成CPU试试是否也有这个问题吗？排除下设备的相关性先

[2020-10-15 02:49] yeguang1991 commented on #27922
我在windows下训练时batch只打印到300，预测的label也都是300以内
![image](https://user-images.githubusercontent.com/66579493/96070965-cc18d580-0ed3-11eb-9581-7525a1a59edf.png)
但是在linux下batch只打印到我设置的class_dim，预测的结果也无误
![image](https://user-images.githubusercontent.com/66579493/96071035-efdc1b80-0ed3-11eb-8e9f-fed9f448e8a4.png)

[2020-10-15 02:50] yeguang1991 commented on #27922
window训练打印
Pass:3, Batch:0, Cost:0.42278, Acc:0.93750
Pass:3, Batch:100, Cost:0.85695, Acc:0.81250
Pass:3, Batch:200, Cost:0.22599, Acc:0.93750
Pass:3, Batch:300, Cost:0.16620, Acc:1.00000
Test:3, Cost:0.80858, ACC:0.83181
Pass:4, Batch:0, Cost:0.28453, Acc:0.93750
Pass:4, Batch:100, Cost:0.09834, Acc:1.00000
Pass:4, Batch:200, Cost:0.32815, Acc:1.00000
Pass:4, Batch:300, Cost:0.12853, Acc:1.00000

[2020-10-15 02:56] chenwhql commented on #27922
有点奇怪，等下我后面找台windows试一下吧

[2020-10-15 04:03] yongqiangma commented on #27957
从LOG没法定位问题，方便吧保存后的model文件给看下吗？

[2020-10-15 04:48] liu824 opened #27964 "请问有没有lstm这个api的使用的具体案例，看官方文档还是不大会用，找到的大部分都是dynamic_lstm的"
请问有没有lstm这个api的使用的具体案例，看官方文档还是不大会用，找到的大部分都是dynamic_lstm的

[2020-10-15 05:46] mapingshuo commented on #26812
This PR support bool type for reshape API: https://github.com/PaddlePaddle/Paddle/pull/27944

[2020-10-15 05:58] doge-ac-cn commented on #27957
是这样的，我batch_size 128的时候生成了模型。
使用模型的时候如果使用128以外的batch_size就会报错。
请问有没有相关接口可以生成支持变长batch_size的模型。

[2020-10-15 05:59] doge-ac-cn commented on #27957
不是产生了bug，只是对功能上有疑问。

[2020-10-15 06:05] QingYuan-L commented on #27957
我也遇到了类似的问题，就是手写了一个模型，定义的batchsize为64，之后导出模型，去作部署，使用的 paddle inference，发现必须也将输入数据的batchszie调整成64一次送入多张图片， 按理来说不是应该在推断的时候可以支持送入任意batch大小的图片吗？

[2020-10-15 06:07] DogeZen commented on #27957
train.py
`import paddle
import paddle.fluid as fluid
from PIL import Image
import os
import numpy as np
from paddle.fluid.dygraph import to_variable, TracedLayer

from deepsort_net import Mylayer

# 指定参数
train_dir = "dataset/people_reid/train"
test_dir = "dataset/people_reid/val"
BATCH_SIZE = 128
NUM_EPOCHES = 1
RANDOM_POOL_SIZE = 100000  # 随机池
num_classes = 751
# 指定gpu
place = fluid.CUDAPlace(0)

[2020-10-15 06:21] doge-ac-cn commented on #27957
问题解决了
我定义网络时有这步
`x = fluid.layers.reshape(x, [x.shape[0], x.shape[1]])`
导致生成静态图时reshape操作被固定为(128,128)
后面传batch_size不一致的就会报错
如果改成
`x = x[:, :, 0, 0]`
则不会产生这样的问题

[2020-10-15 06:21] #27957 closed, assigned to nobody

[2020-10-15 06:39] weihongwei-zg opened #27970 "paddle2.0版本无法读取保存后的模型进行预测"
paddle2.0版本无法读取保存后的模型进行预测。我将点击反欺诈预测比赛的基线fork运行，用一个模型进行预测，每一次得到的结果都是不一样的，项目中采用model.load读取保存的模型参数，可是如果不读取，也会随机初始化参数，无法加载模型成功。
项目fork地址：https://aistudio.baidu.com/aistudio/projectdetail/701621

[2020-10-15 07:59] zle1992 commented on #24735
请问代码可以给我参考下嘛，我也想用paddle 实现maml

[2020-10-15 08:06] MrIce0501 opened #27977 "job-0bb5f87f68f24516 数据读取问题"
job-0bb5f87f68f24516 这个任务训练数据读取出现问题，请问是哪里的问题？
![image](https://user-images.githubusercontent.com/40877122/96100175-a78a2100-0f06-11eb-9f9a-ac722e5b96b3.png)

[2020-10-15 08:07] MrIce0501 commented on #27977
![image](https://user-images.githubusercontent.com/40877122/96094913-832b4600-0f00-11eb-8669-bb707381f18f.png)

[2020-10-15 08:45] starsblinking opened #27984 "请教关于反向传播时梯度与优化器的关系"
在 https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/addon_development/new_op/new_op.html 中给出了如何新增一个op；我想请教一下如何判断梯度是否被优化器影响？
具体点说，假设我要实现一个简单的透传layer，调用一个透传op，该op实现: 把输入X直接传给输出Y，把输出Y的梯度传给X并累加到属于该layer的持久化变量Z，即
(X, Z)----->Y， Y=X, dZ=dY, dX=dY
这样训练完成之后我就得到了训练过程中dY的累加值Z。(1)但我如何判断（或实现）dZ是否受到了优化器的影响？(2)比如Z累加的是dY还是dY*learning_rate（或者是adam中更复杂的结果)?(3)如果我使用adam优化器，并设置变量Z的learning_rate为1会

[2020-10-15 09:12] zle1992 commented on #23699
![image](https://user-images.githubusercontent.com/16644339/96102816-8840c300-0f09-11eb-8e6f-f81c6ccb4787.png)

参考例子，直接相加不行嘛？

[2020-10-15 09:36] #27707 closed, assigned to nobody

[2020-10-15 09:59] foreverhui opened #27986 "dlopen core_avx.so出core"
c++调用python脚本，c++进程引入了tcmalloc，在import module的过程中，dlopen core_avx.so动态库，在初始化core_avx.so出core。并且出core的堆栈不是稳定产生。
![image](https://user-images.githubusercontent.com/15011807/96108237-eb355880-0f0f-11eb-95b8-1bffd667e781.png)

[2020-10-15 10:04] biubug6 commented on #18491
@imistyrain 请问解决了吗？ 也在厂内遇到这个问题....

[2020-10-15 10:38] yongqiangma commented on #27964
是在静态图下用还是在动态图下用呢？

[2020-10-15 10:38] yongqiangma commented on #27970
能给看下出错相关代码和出错log吗？

[2020-10-15 12:06] weihongwei-zg commented on #27970
我代码公开了，您直接来运行fork，最底下有比较2次预测结果的情况。用同一个模型预测出来的都不一样，都是随机的。运行情况也在。https://aistudio.baidu.com/aistudio/projectdetail/1108352

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "yongqiangma"<notifications@github.com&gt;;
发送时间: 2020年10月15日(星期四) 晚上6:39
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "寒冰"<2426823455@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddleP

[2020-10-15 12:11] yongqiangma commented on #27986
给一个可复现的单测吧？

[2020-10-15 12:22] yongqiangma commented on #27977
给你一个可复现的单测吧

[2020-10-15 12:25] MRXLT commented on #27984
优化器作用在参数更新的时候，不会影响本次反向计算中梯度的值，只会影响参数更新的值

[2020-10-15 12:26] yongqiangma commented on #27970
在 ai studio QQ群里问下吧。 群号 580959619

[2020-10-15 16:12] mingquanyuan commented on #27917
我找到原因了，因为我在Jetson AGX Xavier上用的是Jetpack 4.4（对应的cuda和cuDNN版本分别是10.2和8），而这个版本对于目前的paddle框架来说太高了。我把AGX Xavier上JetPack降级到4.3之后就好了。

[2020-10-15 16:12] #27917 closed, assigned to nobody

[2020-10-15 16:21] starsblinking commented on #27984
多谢。您的回复相当于回答了上述问题(1)，即优化器不修改dZ，只是影响Z利用dZ进行更新的过程；同时，问题(5)不存在了。辛苦对问题(2)~(4)也解答下吧。

[2020-10-16 02:02] #25684 closed, assigned to nobody

[2020-10-16 02:14] luotao1 opened #28002 "ptb lm performance decrease 5%"
Could we remove following lines, since it makes ptb lm performance decrease 5%.
https://github.com/PaddlePaddle/Paddle/blob/69742bd9a4762ff1ce0cfb5fe64aa49d18a068a4/paddle/fluid/imperative/prepared_operator.cc#L90-L96

And we don't find the usage of `mutable_op_attrs`. See details in https://github.com/PaddlePaddle/Paddle/pull/25778#pullrequestreview-506079441

[2020-10-16 02:24] #27567 closed, assigned to jczaja, lidanqing-vv

[2020-10-16 02:36] MRXLT commented on #27984
z累加的是优化器的计算结果，
lr设为1会导致每次更新的参数变化很大，模型可能会不收敛
第4个问题不太明白是什么意思

[2020-10-16 03:03] ydchen9 opened #28007 "如何删除在program中已存在的名字？"
我的平台是：win7,` 64位，python2.7.18，paddle1.8.4。
建立了一个ParamAttr(name="fc_weight_I"）名字之后，如何删除它？因为我在做循环训练模型的过程，每次循环时，都要进行build program， 这时会出现名字冲突的错误，但又不能不build program，因为模型的结构虽然一样，但图片的尺寸大小不同。
![QQ截图20201016150602](https://user-images.githubusercontent.com/26667822/96223870-365b7400-0fc1-11eb-8149-4f373ae6e818.png)
![QQ截图20201016150621](https://user-images.githubusercontent.com/26667822/96223872-378ca100-0

[2020-10-16 04:01] starsblinking opened #28010 "ParamAttr的疑问"
在 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/ParamAttr_cn.html#paramattr 的描述中，有:
1. initializer (Initializer，可选) - 参数的初始化方式。默认值为None，表示权重参数采用Xavier初始化方式，偏置参数采用全0初始化方式。
请问这里的"权重参数"和“偏置参数”是什么意思啊？感觉像是在有y=wx+b这样类似的layer中才有的概念？

2. learning_rate (float) - 参数的学习率。实际参数的学习率等于全局学习率乘以参数的学习率，再乘以learning rate schedule的系数。
假如我设置这里的“参数的学习率"为learning_rate_param_attr, 使用学习率为learning_rat

[2020-10-16 06:40] starsblinking commented on #27894
请问这么操作的话是不是只会影响这个被修改learning_rate的参数，网络中反向传播的梯度值、其他persistable参数的梯度与最终的更新值不变、与这个被修改的learning_rate无关？

[2020-10-16 06:44] jordan2013 commented on #27081
问题没再出现

[2020-10-16 06:45] maosengshulei opened #28013 "模型离线训练Segmentation fault，无明显报错信息。"
paddle版本：1.8

[code]

[2020-10-16 06:45] #27081 closed, assigned to nobody

[2020-10-16 06:57] zle1992 opened #28015 "静态图如何循环每个batch 中的数据，maml 实现"
maml中，一个batch包含 多个task, 每个task 更新完梯度，下一个task 用新的梯度继续更新，这个过程是串行的。难点是 paddle  是静态图，无法循环batch 中每个task。 TF直接给模型传的tensor。 paddle 使用静态图分布式训练，有什么好的办法实现maml么？
￼https://zhuanlan.zhihu.com/p/66926599
![image](https://user-images.githubusercontent.com/16644339/96223142-06f83780-0fc0-11eb-942f-c2462cdf3b6e.png)

tf 代码：https://github.com/cbfinn/maml/blob/master/maml.py#L99

torch 代码：

https://github.com/dragen

[2020-10-16 06:58] zhupengyang commented on #28013
- 用1.8.5版本的试下？
- 提供下关键代码（简单可复现，无关的代码可以去掉）

[2020-10-16 07:01] zhupengyang commented on #28007
代码格式可以调整下吗？

不能删除。如果是两个模型的话，可以使用不同的 ```with fluid.program_guard(...)``` 包起来

[2020-10-16 07:05] shikeno opened #28016 "使用paddle trt int8性能与fp32性能无差异"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：T4，
                  CUDA Driver API Version: 10.1,
                  CUDA Runtime API Version: 10.1

[2020-10-16 07:10] zhupengyang commented on #28015
用 [while_loop](https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/while_loop_cn.html#while-loop) 循环操作试试

[2020-10-16 07:16] ydchen9 commented on #28007
不好意思，我是GitHub技术太菜了。我试过，但编辑的时候好好的，一提交就没了代码格式，我现在先用图片显示。用了insert code命令也没用。

您说的用with fluid.program_guard(...)我用了，我在每个循环里面是有两个不同的program的，它们分别在两个不同的with fluid.program_guard(...)里。但是，每次循环时都需要重新构建这两个program，因为输入图片的尺寸发生变化，尽管两个网络的结构是不变的。

我用了close()命令也没用。paddle机制是否是生成一个program之后，就无法再清除该program中的变量，直到程序停止？而且，我每次进入循环时都是重新开启一个fluid.Executor(place)，待循环结束将它close()。按理说在此之中建立的program应该都被释放，可是并没有，当进行下次循环时，就出现名字

[2020-10-16 07:25] zle1992 commented on #28015
可以具体帮忙实现下么

比如如下数据emb_1，如何取每个batch
import paddle.fluid as fluid
data = fluid.layers.data(name='sequence', shape=[1], dtype='int64', lod_level=1)
emb_1 = fluid.embedding(input=data, size=[128, 64])

[2020-10-16 07:32] cryoco commented on #28016
您好，麻烦提供下alexnet的inference model和您的测试代码，我们复现定位下原因，谢谢

[2020-10-16 07:39] shikeno commented on #28016
使用的文件是官网wiki里的fluid_generate_calib_test.cc， fluid_int8_test.cc，只修改了模型文件。模型链接wget http://gzhxy-dstream-pn00018.gzhxy.baidu.com:8911/paddle_alexnet.tar.gz

[2020-10-16 07:39] shikeno commented on #28016
https://paddle-inference-dist.bj.bcebos.com/tensorrt_test/paddle_inference_sample_v1.7.tar.gz

[2020-10-16 07:43] jiweibo commented on #28010
1. 权重参数和偏置参数就是你理解的weights和bias的参数

2. 你理解的是正确的，每个参数的学习率是优化器设置的lr 乘以 ParamAttr中设置的lr。 learning rate schedule我理解的就是和优化算法相关的概念了，比如adam中动态的调整lr

[2020-10-16 08:06] zhupengyang commented on #28015
希望你可以自己尝试下哦

[2020-10-16 08:13] zhupengyang commented on #28007
这是program混乱了

[2020-10-16 08:14] cryoco commented on #28016
您好，我们定位了下原因，应该在于目前paddle-trt尚未支持卷积层的padding为4维。
![image](https://user-images.githubusercontent.com/12407750/96227730-19c23a80-0fc7-11eb-83b4-66262e83e377.png)
对于非2维padding的conv层，目前会使用paddle原生gpu kernel而非TRT运行。如果模型的计算密度集中在conv层的话，对其他部分使用TRT int8加速相比fp32带来的收益就不明显了。
我们会在下个版本中增加对4维padding的conv的TRT支持。目前您可以手动将模型中conv的padding改为2维，方法如下：
1. 在模型构建代码中将所有conv2d的padding参数改为2维，例如原本是1,1,1,1的改为1,1；
2. 重新加载训练好的参数c

[2020-10-16 08:32] zhupengyang commented on #28007
我看你是只有一个模型，那么请全局都用相同的program，中间任何时候都不需要改变或者定义新的program，整个模型的相关信息都会存储在这个program中。

[2020-10-16 08:32] liu824 commented on #27964
动态图的

[2020-10-16 08:39] ydchen9 commented on #28007
是的，我确实在中间定义了新的program了（采用循环同一个子函数来生成program）。可是我要实现的功能里有个循环，每次循环是要改变输入数据的size，这样的话，如果不重新定义program能实现吗？我想了想，似乎行不通，因为一旦build program之后，输入数据就和后面的网络固定住了，下次循环再进入这个program也没法改这个program的拓补结构了。是不是这样？除非新建一个program，我现在就是这样做的。

[2020-10-16 08:59] shikeno commented on #28016
那就是和精度没关系，fp32和int8都是gpu kernel所以性能差不多，如果调整之后，那fp32也会有性能上的提升吧

[2020-10-16 09:04] cryoco commented on #28016
是的，调整之后conv会有原生fp32 kernel->TRT fp32的加速，在此基础上开启int8还会有fp32 -> int8的加速

[2020-10-16 09:07] zhupengyang commented on #28007
需要改变大小的维度用 -1 表示，会在执行过程中根据你实际的输入数据进行正确匹配的

[2020-10-16 09:16] #28010 closed, assigned to nobody

[2020-10-16 09:21] shikeno commented on #28016
好的，感谢

[2020-10-16 09:38] luotao1 opened #28025 "test_analyzer_bfloat16_resnet50 fail on 5117 machine"
[code]
[Paddle_PR_CI_Night_36265.log](https://github.com/PaddlePaddle/Paddle/files/5390605/Paddle_PR_CI_Night_36265.log)

The 5117 machine config in #27588
related: https://github.com/PaddlePaddle/Paddle/pull/27755

[2020-10-16 13:39] ydchen9 commented on #28007
非常感谢！这解决了我输入数据维度变化的问题。但是还有一个问题，我的filter size是和输入数据尺寸一样大的，有没有处理这种情况的filter size的设置呢？

[2020-10-17 00:35] shiontao opened #28036 "30系显卡支持"
手上有3090的机器，不知道能不能用paddle

[2020-10-17 06:03] iceriver97 opened #28037 "脚本任务出现错误"
在训练过程报下面的错误，因为什么呢？
[code]
paddle=1.8.4.post107x
使用paddlex训练

[2020-10-17 06:44] willthefrog commented on #28036
rtx 30系需要nvidia 450.36以上的驱动，450.36最低需要cuda 11.0才能兼容，目前paddle官方没有发布 cuda 11的版本，原则上也不保证cuda 11的兼容性，但是可以尝试自行从源码编译。

[2020-10-17 06:46] willthefrog commented on #28037
这个报错没有信息含量啊，请提供更详细的代码和完整报错信息。

[2020-10-17 06:48] iceriver97 commented on #28037
我也想有信息含量，你们的脚本任务就是这个报错一直循环，也不终止掉，具体代码没法公开；

[2020-10-17 06:54] willthefrog commented on #28037
不一定是完整代码，最好能提供最短可复现代码

[2020-10-17 07:01] iceriver97 commented on #28037
可能是显存溢出了，不过为什么不跟本地报错一样直接停掉呢？而是一直运行，重复报错？

[2020-10-17 07:53] ydchen9 commented on #28007
目前直接采用修改变量名的方法（name="fc1_weight_O"+str(jobs_num)），避免了名字冲突错误，可以跑通。但不知是否导致内存崩溃。

[2020-10-17 07:54] watcheras opened #28038 "配置jetson nano 进行推的疑问"
安装帮助文档需要先将CUDA、OpenCV、TensorRT、cuDNN等配置完成;

但使用jtop显示cuda未被编译,请问这里的CUDA需要如何设置

[2020-10-17 08:00] hanzhy-code opened #28039 "加载模型报错"
在模型训练的时候,使用fluid.io.save_persistables(或者fluid.io.save_params)保存模型,然后使用fluid.io.load_persistables(或者fluid.io.load_params)加载模型,结果报错了.错误如下:
----------------------
Error Message Summary:
----------------------
UnavailableError: Load operator fail to open file /home/aistudio/work/model_weights/paddle_unet_base_1_100/conv2d_0.w_0, please check whether the model file is complete or damaged.
  [Hint: Expe

[2020-10-17 12:01] willthefrog commented on #28037
不清楚paddlex是否有自动retry机制。

[2020-10-17 12:02] willthefrog commented on #28039
确认下 `/home/aistudio/work/model_weights/paddle_unet_base_1_100/conv2d_0.w_0`是否存在？如果存在建议重新保存下试试，确实可能出现文件损坏的情况。

[2020-10-17 12:04] willthefrog commented on #28038
具体是指？如何操作的？

[2020-10-17 12:37] huochf opened #28040 "about Variable slices"
Currently, VarBase.__getitem__() only allows indexing by Integers, Slices, and tuples of these types, but received paddle.fluid.core_avx.VarBase in 1th slice item

To slice Variable using indices list or Boolean list, I have to write
valid_logits = layers.stack([pred_logits[int(idx)] for idx in valid_idx])

instead of
valid_logits = pred_logits[valid_idx]

how terrible the code is!

Please fix thi

[2020-10-17 12:37] huochf opened #28041 "about Variable slices"
Currently, VarBase.__getitem__() only allows indexing by Integers, Slices, and tuples of these types, but received paddle.fluid.core_avx.VarBase in 1th slice item

To slice Variable using indices list or Boolean list, I have to write
valid_logits = layers.stack([pred_logits[int(idx)] for idx in valid_idx])

instead of
valid_logits = pred_logits[valid_idx]

how terrible the code is!

Please fix thi

[2020-10-17 13:44] hanzhy-code commented on #28039
你好:
十分感谢您的回复.是这样的,之前我用的是paddle1.8.4版本,后面我换成1.8.0版本之后上述问题就不存在了.至于具体原因我也不清楚了.

在 2020-10-17 20:02:45，"Yang Zhang" <notifications@github.com> 写道：

确认下 /home/aistudio/work/model_weights/paddle_unet_base_1_100/conv2d_0.w_0是否存在？如果存在建议重新保存下试试，确实可能出现文件损坏的情况。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-17 16:19] mingren8888 opened #28044 "在多线程预测中，使用GPU时执行copy_from_cpu时崩溃！！只使用CPU没有问题，若程序比较小也没问题。"
GPU gtx1070 cuda 10.0 cudnn7.6
主线程用来初始化，并且在主线程中，预测了一张图片来进行warmup，可以正常执行。 在新创建检测线程中，执行预测步骤时，会崩溃到copy_from_cpu。模型是图像分割模型。崩溃如下：
![image](https://user-images.githubusercontent.com/26703287/96347894-7e6cba80-10d7-11eb-915e-48c3f6ccd7b3.png)
不使用GPU预测时没问题。

[2020-10-17 16:20] mingren8888 commented on #28044
0x00007FFBBF169156 (Infer.dll) (Face.exe 中)处有未经处理的异常: 0xC0000005: 读取位置 0x0000000000000000 时发生访问冲突。

[2020-10-18 00:51] #28041 closed, assigned to nobody

[2020-10-18 00:51] #28040 closed, assigned to nobody

[2020-10-18 03:17] zhongqing0507 opened #28046 "<论文复现> 请问如何加载预训练参数"
我用save_dygraph 和load_dygraph api 保存和加载参数， 只能用于相同网络结构吗？
当我改变最后几层的网络结构时，加载模型出错。改变了部分结构后只能重新训练模型，请问需要怎么保存和加载参数？才能只训练我改变的那一部分网络结构，未改变的加载我之前训练的参数。谢谢。

[2020-10-18 03:39] mingquanyuan opened #28047 "AGX Xavier 预测报错"
**硬件平台**: Jetson AGX Xavier (32G)

**系统信息**

PaddlePaddle GIT COMMIT ID: 832458d516ad52454ce3227a2983f8b347708b1b(develop)
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: ON
CUDA version: 10.0
CUDNN version: v7.6
CXX compiler version: 7.5.0
WITH_TENSORRT: ON
TensorRT version: v6

OS Platform: Ubuntu 18.04.4 LTS
Python version: 3.6.9
CMake version: 3.10.2
JetPack version: 4.3

**安装方式**: 本地编译

**cmake命令**

[2020-10-18 07:19] mingren8888 commented on #28044
问题已解决，崩溃的版本的检测线程是在界面初始化函数中创建并启动，当将检测线程改为在点击开始检测按钮再启动，就不会发生访问冲突了，具体原因还不清楚。

[2020-10-19 01:51] zhupengyang commented on #28007
只要是匹配的就可以

[2020-10-19 01:55] ydchen9 commented on #28007
由于filter size是和输入数据的尺寸一样，-1也能实现filter size的尺寸根据输入数据调整吗？

[2020-10-19 02:01] zhupengyang commented on #28007
不能。从逻辑上说，filter size应该是固定的，否则是无法训练的，建议你确认下自己的网络到底应该是什么结构的

[2020-10-19 02:07] ydchen9 commented on #28007
好的，明白。我的网络中filter size和输入数据尺寸一样，都是固定的。我在做调参实验，要做多组不同的输入数据尺寸，想写个循环程序实现，所以就有了要改变输入数据尺寸和filter size尺寸的问题。

[2020-10-19 02:11] LielinJiang commented on #28046
load_dygraph后，你会得到之前保存的参数，格式是一个dict，{参数名：参数值（numpy格式）}。你修改网络后，部分参数名和参数的形状会发生变化，你可以通过new_model.state_dict()得到修改后的网络的参数字典，与之前load进来的参数字典做一个判断，如果名字在新的参数字典中，且形状一致就加载。举个例子：
path_a = save_dygraph(old_net)
old_params, _ = load_dygraph(path_a)

new_net = build_net()
new_params = new_net.state_dict()

convert_params = {}
for k, v in old_params.items():
    if k in new_params and (list(old_params[k].shape)

[2020-10-19 02:21] LDOUBLEV commented on #28047
1. 可以检查下paddle是否安装成功
[code]
如果输出`Your Paddle Fluid is installed successfully!`类似信息，表示安装成功
2. 你的cudnn版本是？如果高于cudnn 7 ，试试降低cudnn版本，cuda10 cudnn7是可以的

[2020-10-19 02:36] mingquanyuan commented on #28047
1. paddle应该是安装成功
[code]

2. cudnn版本以及其它系统信息(paddle_inference_install_dir/version.txt)
[code]

[2020-10-19 02:43] LDOUBLEV commented on #28047
--image_dir=./doc/imgs/11.jpg   指定到单张图像可以预测吗

[2020-10-19 02:46] mingquanyuan commented on #28047
单张图片也是报同样的错误，但是如果用cpu推理（`--use_gpu=False`）就可以成功，只是推理速度很慢。

[2020-10-19 03:12] TWLemontree opened #28055 "如何在动态图中加载 PaddleClas 的 vgg-16 预训练模型"
PaddleClas 提供的 vgg-16 预训练模型中的文件，保存的是每一层网络的参数（conv1_1_weights, conv1_2_weights ...），而动态图保存模型保存的是 .pdparams 和 .pdopt 文件。我如何在动态图中加载 PaddleClas 提供的 vgg-16 预训练模型呢？

[2020-10-19 03:13] TWLemontree commented on #28055
如果有一个具体的、简单的 demo 就更好了，请不要提供复杂的工程样例，作为一个新手，看起来会非常吃力otz

[2020-10-19 03:37] mingquanyuan commented on #28047
debug的时候，是在tools/infer/utility.py 中134行 `predictor = create_paddle_predictor(config)`出的问题。这一行之前可以打印，这行之后就打印不出来东西了。

[2020-10-19 03:55] zhaozheng09 opened #28058 "大佬们能提供一些关于PaddleEDL 弹性资源训练的文档么？"
我尝试在代码和git的文档上找了下，但没有发现什么有用的信息，除了代码中的一小段注释，如下:
`
python/paddle/distributed/fleet/base/distributed_strategy.py

1046:    def elastic(self):

1048:        Indicating whether we want to do current distributed training on clusters with elastic resources.

1051:        return self.strategy.elastic

1053:    @elastic.setter

1055:    def elastic(self, flag):

1057:            self.strategy.elastic = fla

[2020-10-19 05:06] zhiqiu commented on #28058
hi，你可以看下这里的文档：https://github.com/elasticdeeplearning/edl

[2020-10-19 06:38] maosengshulei opened #28066 "paddle 训练报错 无显式提示信息"
paddle 版本：1.8.1

[code]

[2020-10-19 06:53] LihangLiu commented on #22948
同碰到这个问题，模型加载没问题，预测run的时候崩了。具体情况是
在预测前创建paddle::PaddleTensor的时候，tensor.data.Resize(size * sizeof(float))中size=500运行正常，size=10000的时候崩了。其他代码和环境一样。
请问是paddle inference的时候，对于tensor的大小有限制么？

[2020-10-19 06:56] littletomatodonkey commented on #28055
以动态图代码加载静态图预训练模型为例，可以指定参数`load_static_weights=True`，脚本如下所示，

https://github.com/PaddlePaddle/PaddleClas/blob/8e42f786da57bb1fcb243af4defb5b989334f4ba/tools/eval.sh#L5

[2020-10-19 07:02] Shixiaowei02 commented on #22948
没有限制。只要出现
`PaddleCheckError: Expected desc->check_guards() == true, but received desc->check_guards():0 != true:1.
at [baidu/paddlepaddle/paddle/paddle/fluid/memory/detail/meta_cache.cc:33]`
这种报错，就需考虑用户代码内存越界。

[2020-10-19 07:30] lixuefeng810 opened #28068 "sigmoid_focal_loss不支持ignore_index参数"
- 版本、环境信息
1）PaddlePaddle版本：1.8
2）CPU/GPU：不涉及
3）系统环境：Ubuntu 16.04

函数原型
paddle.fluid.layers.sigmoid_focal_loss(x, label, fg_num, gamma=2.0, alpha=0.25)
函数文档
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/sigmoid_focal_loss_cn.html

focal_loss不支持设置ignore_label, 进行图像增强的时候会在空白处填充固定像素值,而在计算loss时需要设置ignore该像素值,而在使用过focal loss时不支持设置ignore_index,使用起来不太方便

[2020-10-19 08:06] starsblinking opened #28072 "do_model_average"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/ParamAttr_cn.html#paramattr 里写默认值为False，看代码好像默认值是True？

1. 感觉默认值为False比较合理吧？
2. 貌似没懂这个参数什么意思，希望能说明下。我理解的模型平均应该有其他参数（比如衰减率啥的）来配合使用吧，这里怎么就一个flag呢？

1.8.5

[2020-10-19 08:06] zhiqiu commented on #28066
hi，可以先检查下机器的内存有多少，或者调小batchsize试试。

[2020-10-19 08:16] GT-ZhangAcer commented on #27489
已解决，感谢各位大佬。新版本中交叉熵损失函数中会做softmax，旧版本中没有做这个，去掉这个激活函数就正常了

[2020-10-19 08:16] #27489 closed, assigned to nobody

[2020-10-19 08:18] starsblinking commented on #23778
请问楼主的问题解决了吗？我想对网络中不同的参数用不同的optimizer

[2020-10-19 08:20] zhiqiu commented on #28072
中文文档应该是写错了，默认值确实是True。不过，目前这个参数应该是只有在ModelAverage中会用到，所以设置为True不会影响其他情况的使用。参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-beta/api/paddle/optimizer/ModelAverage_cn.html。

[2020-10-19 08:27] LihangLiu commented on #22948
好的，我查一下，感谢！

[2020-10-19 08:38] FlyingQianMM commented on #28068
您好，paddle 2.0中的sigmoid_focal_loss主要使用sigmoid与binary_cross_entropy_with_logits两个op组合实现，参考源码https://github.com/PaddlePaddle/Paddle/blob/a0b2f936895abfa633aeff46d621d337d79677d4/python/paddle/nn/functional/loss.py#L1278 。您可以参考这种实现方式，自行组合focal loss，通过binary_cross_entropy_with_logits的weights控制需要ignore的像素值。

[2020-10-19 08:49] cryoco commented on #28047
https://github.com/PaddlePaddle/PaddleOCR/blob/develop/tools/infer/utility.py#L126
您好，麻烦把这一行注释掉，然后发一下运行和报错的完整log吧

[2020-10-19 09:26] #28016 closed, assigned to nobody

[2020-10-19 09:33] #28036 closed, assigned to nobody

[2020-10-19 10:33] #28072 closed, assigned to nobody

[2020-10-19 11:11] chenwthu opened #28089 "网络train/eval模式异常"
Paddle版本2.0.0b0，一个网络train/eval模式的改变会影响其他网络
demo代码输出False, False，期望为True, False
[code]

[2020-10-19 12:13] ljayx commented on #27789
@shikeno 我用的1.8.5版本的paddle，据说需要用2.0-beta，才能解决`Instruction: CHECK_BROADCAST 52 51`的问题，还没验证。

[2020-10-19 12:54] lidanqing-vv commented on #27931
PR merged

[2020-10-19 12:54] #27931 closed, assigned to lidanqing-vv

[2020-10-19 13:14] zhiqiu commented on #28089
hi，目前框架的实现中，net.eval()不会改变网络中tensor的stop_gradient属性，只会改变运行时是否记录反向的行为。

[2020-10-19 13:23] chenwthu commented on #28089
但上述代码如果先设置net1.train()再设置net2.eval()，结果是两个网络输出的stop_gradient都变为True，导致net1无法正常训练参数
我希望实现同时存在两个网络，其中一个能正常训练，另一个只负责推理，而不需要在训练或推理前再分别切换train/eval

[2020-10-19 13:40] zhiqiu commented on #28089
确实是这样，原因是在切换eval mode的时候除了修改net的模式，还会同时修改一个全局的tracer的模式。所以，net1和net2中后一个修改会生效到全局tracer模式中。代码：
https://github.com/PaddlePaddle/Paddle/blob/a5f65d516fd3b05ec3ad80549e2fb3d839cd9905/python/paddle/fluid/dygraph/layers.py#L134-L140

这个我们会讨论下怎么优化下比较好。

[2020-10-19 15:10] mingquanyuan commented on #28047
注掉这一行之后，用GPU的时候貌似还是同样的报错:

[code]

下面是不用GPU情况下的log，看起来一切正常:

[code]

[2020-10-19 23:56] quanfan7 opened #28099 "Error in installing paddlepaddle"
We tried to install by using
"conda install paddlepaddle"
but have been receiving the error message

"PackagesNotFoundError: The following packages are not available from current channels:

  - paddlepaddle"

So how to fix the error? Thanks a lot.

[2020-10-20 01:40] Adarine99 commented on #24320
你好：
     遇到同样的问题，确认pip 与 python 版本是对应的，paddle确实安装到pyhton环境下，请问是什么原因呢

[2020-10-20 02:15] #28025 closed, assigned to wozna

[2020-10-20 02:59] maosengshulei commented on #28066
经测试，batch_size设置为4，以及将fc的hidden_size降低可在本地训练。但是在mpi集群 分布式训练时 节点内存为150G，batch_size设置为4，fc的hidden_size提高一些 训练几个pass还是会报相同的错。网络结构本身不复杂，这么耗内存是为什么？

[2020-10-20 03:19] GaoWei8 commented on #28099
Please follow this tutorial to try to install paddlepadlle：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/index_cn.html#pip

[2020-10-20 03:47] ellinyang opened #28106 "py2环境安装paddle1.8.4失败"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==1.8.4.post97
    3）GPU：请提供GPU型号，CUDA9和CUDNN7
    4）系统环境：Ubuntu 16.04.6 LTS、Python2.7.12

报错：pip安装失败
pip install paddlepaddle-gpu==1.8.4.post97
报错信息如下：
   
![image](https://user-images.githubusercontent.com/20673237/96537987-17632780-12ca-11eb-8263-dda238dc8207.png)

[2020-10-20 03:48] luotao1 commented on #27935
Discussed with @OliverLPH,  in order to see whether we use the mkldnn in th log ([train_Resnet_b32_real2.log](https://github.com/PaddlePaddle/Paddle/files/5406095/train_Resnet_b32_real2.log), now we must use `export MKLDNN_VERBOSE=1`) easily
- Could you add some MKLDNN-related print log when use `FLAGS_use_mkldnn`?
- Could you add new api like `paddle.enable_static()` (eg. `paddle.enable_mkldnn()`

[2020-10-20 05:03] GaoWei8 commented on #28106
应该是镜像没连接上，设下代理或者换镜像源。参考官网：https://www.paddlepaddle.org.cn/install/quick

[2020-10-20 06:43] OliverLPH commented on #27935
@lidanqing-intel
By following your reproduce document, here is my test results, plz have a look.

model | dataset | type | mode | acc result | comment
-- | -- | -- | -- | -- | --
Resnet_b32 | flowers | OneDNN | real | acc1: 75.10%  acc5: 93.40% | OMP=20

model | dataset | type | mode | epoch_cost(s) | RSS memory(KB) | RSS memory(MB) | comment
-- | -- | -- | -- | -- | -- | -- | --
Resnet_b32 | flow

[2020-10-20 07:18] luotao1 opened #28120 "A lot of Wmaybe-uninitialized warning in pooling.cc"
[code]
related PR: https://github.com/PaddlePaddle/Paddle/pull/27718

[2020-10-20 07:23] lelelelelez opened #28121 "Paddle-bot自动assign功能"
rt
无需关注

[2020-10-20 07:23] #28121 closed, assigned to nobody

[2020-10-20 07:24] lelelelelez opened #28122 "Paddle-bot自动assign功能"
rt
为了测试值班同学是否有被assign的权限
一次只能assign 10个人 所以需要多次assigh deassign
测试paddle origanization
收到相关通知的同学 无需关注

[2020-10-20 07:45] luotao1 commented on #27877
If you could run DNNL_VERBOSE=1 python .

Since we don't use `FLAGS_use_mkldnn=1` to run the script, they don't run with mkldnn operators. Do you need `MKL_VERBOSE=1`?

[2020-10-20 08:32] saxon-zh commented on #26578
如果确定其他的部分都对齐了的话，可以提供下代码，我们让模型研发的同学协助看看。

[2020-10-20 08:41] LDOUBLEV commented on #28120
Fixed in : https://github.com/PaddlePaddle/Paddle/pull/28126

[2020-10-20 10:18] xiaomujiang opened #28135 "add_sublayer的作用"
add_sublayer在很多网络都有，没找到详细的解释， 文档中说：添加子层实例。可以通过self.name访问该sublayer。
 如果不给实例加名字的话，是不是可以不加 add_sublayer？ 还是add_sublayer添加子层实例，这个怎么理解？
for i in range(groups):
            conv2d = self.add_sublayer(
                'bb_%d' % i,
                fluid.dygraph.Conv2D(
                    init_num_channels, num_filters=num_filters, filter_size=3,
                    stride=1, padding=1, act='relu'

[2020-10-20 11:11] lidanqing-vv commented on #26673
@phlrain @luotao1  Hi, Please help fixing this issue. Since we already enbaled dyGraph oneDNN resnet50 training, and we also know for mobilenetv1, and v2, oneDNN training has 5-6X speed-up compared to Native config version, but for resnet50, since NativeConfig verision has NAN error, we can not calculate the speed-up.

[2020-10-20 11:15] chenwthu opened #28136 "如何自定义优化器？How can I define custom optimizers?"
paddle 2.0.0b0 动态图模式如何自定义优化器（主要实现修改梯度的操作）
如果继承Optimizer类有参考文档或代码吗？或者有其他推荐的写法？

[2020-10-20 11:57] GaoWei8 commented on #28135
[code]
通过 add_sublayer的参数name进行访问。

[2020-10-20 12:00] starsblinking opened #28139 "如何打印Variable的内容"
静态图训练完成后，我想打印所有参数的data值。于是调用 var_list = fluid.io.get_program_persistable_vars(default_main_program) 获取需要打印的var列表，那接下来怎么打印var内容呢？
如果用 print(numpy.array(var_list[i])) 那么只能得到类似如下内容:
####
name: "emb_21"
type {
  type: LOD_TENSOR
  lod_tensor {
    tensor {
      data_type: FP32
      dims: 100
      dims: 17
    }
  }
}
persistable: true
####

这看起来只是 var.to_string 里的内容，而我要的是 100*17个 FP32的值啊。求指导

[2020-10-20 12:00] GaoWei8 commented on #28136
参考这个文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/optimizer/Optimizer_cn.html#optimizer

[2020-10-20 12:08] GaoWei8 commented on #28139
直接使用print(var_list[i])尝试下。

[2020-10-20 12:11] starsblinking commented on #28139
print(var_list[i])与print(numpy.array(var_list[i]))的结果是一样的

[2020-10-20 12:23] GaoWei8 commented on #28139
试一下Print这个op。
示例：
[code]

[2020-10-20 12:57] qsrc opened #28141 "可以支持rtx30系列GPU吗？"
迁移之前的代码，初始化在create_paddle_predictor卡住，应该是GPU版本配适问题。

- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0b0
    2）CPU：10900k
    3）GPU：rtx3090, CUDA: 10.0.130, CUDNN: 7.6.5
    4）系统环境：python3.7.9

[2020-10-20 13:11] zhongqing0507 commented on #28046
感谢！

发送自 Windows 10 版邮件应用

发件人: LielinJiang
发送时间: 2020年10月19日 10:12
收件人: PaddlePaddle/Paddle
抄送: zhongqing0507; Author
主题: Re: [PaddlePaddle/Paddle] <论文复现> 请问如何加载预训练参数 (#28046)

load_dygraph后，你会得到之前保存的参数，格式是一个dict，{参数名：参数值（numpy格式）}。你修改网络后，部分参数名和参数的形状会发生变化，你可以通过new_model.state_dict()得到修改后的网络的参数字典，与之前load进来的参数字典做一个判断，如果名字在新的参数字典中，且形状一致就加载。举个例子：
path_a = save_dygraph(old_net)
old_params, _ = load_dy

[2020-10-20 13:20] leeyy2020 commented on #28141
30系列显卡主流框架运行现在都费劲，paddle现在够呛能支持

[2020-10-20 14:06] YangYangL opened #28145 "训练train_from_dataset 成功训练1个epoch后，第二个epoch出错"
   1）PaddlePaddle版本：1.8.3，GPU v100，cuda 10.0

- 训练信息
    1）单机 单卡训练

![da2d3fe0e6f786d7ae36109b43b76544](https://user-images.githubusercontent.com/5180089/96597351-502deb80-1320-11eb-9d59-59326f0e5663.png)

[2020-10-21 02:03] GaoWei8 commented on #28141
会反馈下支持特殊硬件的需求。

[2020-10-21 02:04] huyutao3550346 opened #28149 "使用paddle源码编译c++库时出错"
报错内容：
/home/xxx/paddle/paddle/fluid/framework/unused_var_check.cc: In function ‘void paddle::framework::CheckUnusedVar(const paddle::framework::OperatorBase&, const paddle::framework::Scope&)’:
/home/xxx/paddle/paddle/fluid/framework/unused_var_check.cc:82:57: error: converting to ‘std::unordered_set<std::basic_string >’ from initializer list would use explicit constructor ‘std::unordered_set<_Val

[2020-10-21 02:15] GaoWei8 commented on #28145
报错看起来是第二个epoch，fetch的参数变成ndarray。
类似于跑第一个epoch的时候，之前a=b(b是variable)。比如第一个epoch结束的时候，做了一些操作，a=c(c是numpy)

[2020-10-21 02:21] huyutao3550346 commented on #26722
@juncaipeng hello 我想问下，除了在官网下载预测库的方式，还有什么办法解决这个编译问题嘛？

[2020-10-21 02:34] ulanbator opened #28151 "Cublas error, CUBLAS_STATUS_EXECUTION_FAILED"
使用PaddleOCR和预训练的权重，执行测试本地图片命令：CUDA_VISIBLE_DEVICES=2 python tools/infer/predict_system.py --image_dir="/DATA/fangzheng/PLP/Test/images" --det_model_dir="./inference/ch_ppocr_server_v1.1_det_infer/" --rec_model_dir="./inference/ch_ppocr_server_v1.1_rec_infer/" --cls_model_dir="./inference/ch_ppocr_mobile_v1.1_cls_infer/" --use_angle_cls=True --use_space_char=True报错，报错信息如下：
paddle.fluid.core_avx.Enf

[2020-10-21 03:14] YangYangL commented on #28145
已解决，谢谢

[2020-10-21 03:14] #28145 closed, assigned to nobody

[2020-10-21 03:24] starsblinking commented on #28139
您好，这样好像也不行，会报错说网络的输入为空。按照 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-beta/api/paddle/fluid/executor/Executor_cn.html#run 里面的说法，"执行器会执行Program或CompiledProgram中的所有算子"，所以没有输入不行。您给出的例子能跑通，是因为您的main_program里没有额外的输入需要feed吧？
如果为了打印一个与输入无关的网络参数，却要求构造一个batch_size为1的假输入并运行计算整个网络，感觉这种方式不合理。理论上，这种exe.run不应该是为了获取与输入有关的非持久化参数的结果吗？既然是persistable参数，应该有更方便的获取方式吧？

[2020-10-21 03:34] #28120 closed, assigned to LDOUBLEV

[2020-10-21 04:08] edimetia3d commented on #28149
您好,我们正在复现问题.

在问题复现前. 根据错误信息, 建议您可以先尝试应用下面的修改,看看能否正常编译

Step1. 定位到 paddle/fluid/framework/unused_var_check.cc:82

Step2. 将
[code]
改为
[code]

[2020-10-21 04:31] GaoWei8 commented on #28139
尝试下：fluid.global_scope().find_var("weight_name").get_tensor()

[2020-10-21 04:38] edimetia3d commented on #28149
您好.

我们初步判定该问题只能在 g++ 4.9.2 下复现, 按照之前的建议进行修改可以解决问题.

请您尝试一下, 看看问题是否仍然存在.期待您的反馈

[2020-10-21 04:41] starsblinking commented on #28139
多谢gaowei，问题解决了。
可行的实现方式为:
print(numpy.array(fluid.global_scope().find_var(var_list[i].name).get_tensor()))

ps:
var_list[i]的类型为paddle.fluid.framework.Parameter，而不是find_var得到的paddle.fluid.core_avx.Variable；其中Variable类型具有get_tensor()成员函数，建议在 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-beta/api/paddle/fluid/framework/Variable_cn.html#variable 中补充说明！

[2020-10-21 04:42] #28139 closed, assigned to nobody

[2020-10-21 05:34] BlackHorseQ opened #28156 "有几个问题提出如下"
我就举几个例子：
1.没有1维卷积和池化，应该是有Sequence_pool这两个api，无法选择，步长，我现在是用2维卷积实现一维卷积。
2.lstm的api，三个lstm无一好用。
3.gru的api竟然需要传入隐藏矩阵，hidden_matrix意义不明
4.还有就是动态图和静态图泾渭不分明。
5.命名规范不一致

[2020-10-21 05:47] GT-ZhangAcer commented on #28156
<img width="387" alt="图片" src="https://user-images.githubusercontent.com/46156734/96678265-f7a03200-13a3-11eb-969a-cf343f72f7d7.png">
《素质》

[2020-10-21 05:54] Costwen opened #28157 "paddlepaddle 的 fluid.layers.mean_iou方法和自己算的不一样"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.5
    3）GPU： v100
    4）系统环境：AISTUDIO

[code]

iou函数为我自己实现的计算miou函数,avg_iou调用的fluid.layers.mean_iou   api
但是对于下图
两个的分割结果不一致

![1.png](https://i.loli.net/2020/10/21/g7H4DNqtXAMsbOv.png)

两者的结果分别如下图

![2.png](https://i.loli.net/2020/10/21/fBD1EcuU7IbgPpO.png)

从直观上就感觉官方的计算出了问题...

其中的第一个list分别表示每一类的iou 后面的0.4 表示三类miou

下面的tenso表示用paddle的mean_iou求得的结果

[2020-10-21 05:57] gfwm2013 commented on #28151
@ulanbator 请问使用的Paddle是那个版本呢？

[2020-10-21 05:59] ulanbator commented on #28151
PaddlePaddle Fluid v2.0

[2020-10-21 06:06] gfwm2013 commented on #28151
@ulanbator 发现该问题在PaddleOCR的repo中已经回复了，可以参考PaddleOCR的Issue中的回复，谢谢。

[2020-10-21 06:07] ulanbator commented on #28151
OK

[2020-10-21 06:07] #28151 closed, assigned to nobody

[2020-10-21 06:16] huyutao3550346 commented on #28149
@edimetia3d 你好，很高兴能为我解答，在修改后重新编译，原错误消失了，但仍然出现其他的错误。
修改步骤为：
![image](https://user-images.githubusercontent.com/29395068/96680526-4354da80-13a8-11eb-9fbe-9f08e173cffe.png)

错误代码为：
 Building CXX object paddle/fluid/operators/controlflow/CMakeFiles/while_op_helper.dir/while_op_helper.cc.o
/home/huyutao/paddle/paddle/fluid/imperative/layer.cc: In member function ‘void paddle::imperative::OpBase::SetTyp

[2020-10-21 06:23] #28122 closed, assigned to dyning, fc500110, DDDivano, lelelelelez, dingjiaweiww, cyj1986, DannyIsFunny, FDInSky, danleifeng

[2020-10-21 07:19] jzhang533 commented on #28156
感谢反馈。
在即将发布的2.0RC版本中，paddle team已经解决了大量这类问题。
目前，你可以先体验已经发布的2.0beta版本：
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-beta/guides/index_cn.html

[2020-10-21 07:27] zhwesky2010 commented on #27361
2.7现在在Windows上还是支持的。

[2020-10-21 07:34] lidanqing-vv commented on #27877
This situation could also be reproduced in AVX2 machine, compared with 6148 machine

[2020-10-21 07:36] wanghaoshuang commented on #28157
@Costwen
`fluid.layers.mean_iou`的输入label和logit内的数值应该是class_id，而不是one_hot的形式。

非常抱歉，我们没有在文档中说明清楚，后续我们会完善下文档，感谢您的反馈。

[2020-10-21 07:44] juncaipeng commented on #27704
@jczaja @lidanqing-intel   The customer has solved this problem by jczaja's method.

[2020-10-21 07:44] #27704 closed, assigned to lidanqing-vv

[2020-10-21 08:12] BlackHorseQ opened #28170 "2.0-beta版本的lstm中本地英文说明中的例子缺少变量，maxlen"
Examples:
    .. code-block:: python

        import paddle.fluid as fluid
        import paddle.fluid.layers as layers

        emb_dim = 256
        vocab_size = 10000
        data = fluid.data(name='x', shape=[None, 100], dtype='int64')
        emb = fluid.embedding(input=data, size=[vocab_size, emb_dim], is_sparse=True)
        batch_size = 20
        dropout_prob = 0.2
        input_size = 10

[2020-10-21 08:14] Shixiaowei02 commented on #28149
您好，参照 [C++ 规范](https://zh.cppreference.com/w/cpp/container/unordered_set/unordered_set)，不同 C++ 标准 `std::unordered_set<T>` 在构造函数细节上有所不同，这导致您使用列表拷贝初始化时的报错随编译器（C++ 标准库）版本变化而变化。

我理解代码的原作者使用显式初始化的初衷是避免临时变量使用随机值，下面的写法在任何支持 C++11 的编译器上都可通过编译：
[code]

我们内部一般使用的 GCC 版本是 4.8.2 / 8.2.0，这两种编译器会在 Paddle 每次发版本前进行测试，确保兼容。如果您想了解上述报错原因的进一步细节，请参考相关问题 https://stackoverflow.com/questions/26947704

感谢您对 Paddle 的支持！

[2020-10-21 08:19] BlackHorseQ commented on #28170
追加一个，在2.0中那个例子通过不了

[2020-10-21 08:22] BlackHorseQ commented on #28170
也就是说函数更新了，但是api的说明还是1.8

[2020-10-21 08:26] Shixiaowei02 commented on #26722
您好，参照 [C++ 规范](https://zh.cppreference.com/w/cpp/container/unordered_set/unordered_set)，不同 C++ 标准 `std::unordered_set<T>` 在构造函数细节上有所不同，这导致您使用列表拷贝初始化时的报错随编译器（C++ 标准库）版本变化而变化。

我理解代码的原作者使用显式初始化的初衷是避免临时变量使用随机值，下面的写法在任何支持 C++11 的编译器上都可通过编译：
[code]

我们内部一般使用的 GCC 版本是  4.8.2 / 8.2.0，这两种编译器会在 Paddle 每次发版本前进行测试，确保兼容。如果您想了解上述报错原因的进一步细节，请参考相关问题 https://stackoverflow.com/questions/26947704

感谢您对 Paddle 的支持！

[2020-10-21 08:27] BlackHorseQ commented on #28170
应该将
init_h = layers.fill_constant( [num_layers, batch_size, hidden_size], 'float32', 0.0 )
init_c = layers.fill_constant( [num_layers, batch_size, hidden_size], 'float32', 0.0 )
改成
init_h = layers.fill_constant( [num_layers, max_len, emb_dim], 'float32', 0.0 )
init_c = layers.fill_constant( [num_layers, max_len, emb_dim], 'float32', 0.0 )
可以通过但是意义不明

[2020-10-21 08:41] BlackHorseQ opened #28173 "百度aistudio上使用paddle2.0beta中lstm，报错Cudnn error, CUDNN_STATUS_EXECUTION_FAILED"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版：2.0beta
    2）CPU：百度aistudio 32g内存，32g显卡
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
class base_model(fluid.dygraph.Layer):
    def __init__(self, classes_num

[2020-10-21 08:41] ulanbator opened #28174 "有没有Paddle版本对应Tensorrt版本查询表格？"
环境：
tensorrt                  6.0.1.5
paddlepaddle-gpu          1.8.5.post97

报错信息：
TensorRT dynamic library (libnvinfer.so) that Paddle depends on is not configured correctly. (error code is libnvinfer.so: cannot open shared object file: No such file or directory)
  Suggestions:
  1. Check if TensorRT is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configur

[2020-10-21 09:26] jzhang533 commented on #28170
hi, 2.0beta下，RNN系列的API可以使用
[code]
这里也有一个使用LSTM完成机器翻译任务的示例，供参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-beta/tutorial/nlp_case/seq2seq_with_attention/seq2seq_with_attention.html

[2020-10-21 10:24] GaoWei8 commented on #28173
lstm接口在2.0版本中进行重构。layers.lstm接口已废弃，2.0rc版会发布最新的class LSTM。

[2020-10-21 10:31] cryoco commented on #28174
您好，paddleocr尚未支持tensorrt预测，这段只是系统中不包含TRT时的warning信息，不影响您继续使用paddleocr。这段warning确实有些不明确，我们在下一个版本中对其进行了精简，感谢反馈。

[2020-10-21 10:40] ulanbator commented on #28174
谢谢！

[2020-10-21 10:40] #28174 closed, assigned to gfwm2013

[2020-10-21 12:03] xianbin7 opened #28185 "mlkdnn"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g