[2021-05-19 08:32] pangyoki commented on #32944
这个是warning，应该不影响的。run_check执行也成功了

[2021-05-19 08:33] pangyoki commented on #32944
这个“AVX not support”是warning，不影响的。run_check也成功了

[2021-05-19 08:35] johnhansheng commented on #32944
但是检测速度 非常慢，达到几十秒

[2021-05-19 08:45] johnhansheng commented on #32944
安装没有问题，但是和机器不适配，同时耗时较长，这个是什么原因？

[2021-05-19 08:51] pangyoki commented on #32944
这个warning只是提示你的机器里没有AVX，安装的包是适配的，也支持noavx。不然`import paddle`直接会报错的。
检测慢，是因为run_check的逻辑里会执行一个小网络，使用GPU确实比较慢一点，这个是正常的，对使用没有影响。

[2021-05-19 08:57] bravelywangexocr opened #32992 "Paddle Lite v2.7版本OCR模型，在Android 11上打开相机预览功能后，预测速度特别慢（约慢10-100倍）。"
1）PaddlePaddle版本：V2.7
    2）CPU：晓龙888
    3）GPU：NA
    4）系统环境：Android 11

- 问题描述：
在Android 11上打开相机预览功能后，预测速度特别慢，约慢10-100倍。
但是，Android 10上相同的模型和代码，速度正常。

麻烦帮看看有没有碰到类似问题，谢谢！

[2021-05-19 09:14] SunNoJJ commented on #32927
https://aistudio.baidu.com/aistudio/projectdetail/1899132
我这儿也出现这个问题了{VerifiCodeOCR.v3 2021-05-19 17:07:47}

[2021-05-19 09:36] jiweibo commented on #32992
您可以先在shell下，运行单测，看性能是否有异常；另外这两个手机的处理器分别是？会不会是Android11 处理器比Android10 处理器要差，导致性能差异

还有一个方法：关闭照相机功能，直接跑预测看耗时是否有差异，排除前后预处理耗时差异

[2021-05-19 09:49] kuizhiqing commented on #32886
/hold

[2021-05-19 10:31] johnhansheng commented on #32944
可否配置 avx指令集，提升运行速度。

[2021-05-19 10:42] johnhansheng commented on #32944
![4](https://user-images.githubusercontent.com/26408135/118799832-c94eea80-b8d1-11eb-90b9-c74b30d17e47.png)
测试模型，运行时间如下：    比较长

[2021-05-19 10:48] wanghuancoder commented on #32983
训练的时候是没问题的吗？
能否给一下完成的代码，以及崩溃时候的报错堆栈？

[2021-05-19 12:09] a123b12cd opened #32998 "paddle2.0.2 tensorrt 部署报错"
paddleseg2.0.2 导出的模型，部署中使用tensorrt。
Q1:export.py导出的模型中存在多个动态shape（已经设置了输入，并转成了静态图。 同样的模型，基于paddle2.0之前的版本export.py导出来的就不是动态shape的  eg:unet + bilinear_interp  ）
Q2: 由于Q1,会导致在使用tensorrt时，需要为每个动态shape的op通过SetTRTDynamicShapeInfo来进行设置,在设置时，min_input_shape，max_input_shape，opt_input_shape设置规则不太明确。设置成功后，仍存在如下问题：
![image](https://user-images.githubusercontent.com/49675099/118811639-d4107c00-b8df-11eb-9ca5-

[2021-05-19 13:01] cryoco commented on #32998
min_input_shape，max_input_shape指定了所有TRT子图输入变量的最小和最大shape，opt_input_shape为在min和max之间的一个最优shape，TRT会根据opt_input_shape来做内部优化。在运行时，实际输入shape不能超出[min_input_shape，max_input_shape]的范围，否则会报您上面的错误。您可以检查下。在刚发布的2.1.0版本中，这个报错信息得到了增强，您可以明确看到是哪个输入超出了min和max的限制。

[2021-05-19 14:17] Chenfei-Kang opened #33002 "弱弱的问一个问题，怎么取出一个tensor的值，类似于tensor.data的操作？"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-05-19 14:49] FL77N commented on #32977
报错翻译过来就是，得到了一个unexpected的参数 aligned，而且文档里面也没改过来，表明可以使用 aligned 参数了
`.roi_align(input, rois, pooled_height=1, pooled_width=1, spatial_scale=1.0, sampling_ratio=- 1, name=None)`

[2021-05-19 23:25] bravelywangexocr commented on #32992
谢谢答复！

我们尝试过静态图片输入测试，性能是正常的。a11手机试了小米11和oppo a92s都有问题。
另外从logs看，就是调用paddle lite模型预测的接口慢，预处理和后处理时间都是正常的。
也尝试过build的时候打开Paddle lite的logs功能，但是模型运行时也没有看到错误的logs信息。

[2021-05-20 02:15] wanghuancoder commented on #33002
Tensor的使用基本和numpy一样，你可以试试类似于numpy的方法，比如：tensor[i,j]。
同时，Tensor可以转成numpy，tensor.numpy()。

[2021-05-20 02:36] yeyupiaoling commented on #32970
@pangyoki 另外Momentum不是包含了SGD的功能了吗？

[2021-05-20 03:27] luotao1 opened #33005 "Use soft-link for libdnnl.so.x"
![图片](https://user-images.githubusercontent.com/6836917/118914020-17f59680-b95d-11eb-8eda-7b5b5d377d11.png)
![图片](https://user-images.githubusercontent.com/6836917/118914044-1f1ca480-b95d-11eb-9aa3-c107295c7298.png)
我们想减少库体积大小，而libdnnl.so.1和libdnnl.so.2的md5值是一样的，能否使用软连接？
We want to decrease the lib size, and since the md5 of libdnnl.so.1 and libdnnl.so.2 are the same, could you use soft-link for o

[2021-05-20 03:28] luotao1 commented on #33005
@Avin0323 @wanghuancoder @lelelelelez Please follow this issue.

[2021-05-20 03:35] 360AIVul opened #33006 "算子strided_slice存在安全问题/bug"
标题：算子strided_slice存在安全问题/bug
    版本、环境信息：
       1）PaddlePaddle版本：2.1.0
       2）CPU/GPU：CPU
       3）系统环境: ubuntu 20.04
       4）Python版本号: 3.9.1

PoC：

[code]

崩溃信息

[code]

分析：

在https://github.com/PaddlePaddle/Paddle/blob/v2.1.0/paddle/fluid/operators/strided_slice_op.cc#L51中，

[code]

axes 被获取，经过部分校验后，再调用StridedSliceOutDims

[code]

StridedSliceOutDims从axes数组中获取axes_index
https://github.com/P

[2021-05-20 03:56] jerrywgz commented on #32977
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/modeling/ops.py#L171 这个api属于检测专用的api，我们已经迁移至PaddleDetection中，可以参考这个里面的api

[2021-05-20 06:07] junfeizhu opened #33012 "单机多卡训练时加载预训练模型出错"
PaddlePaddle版本：2.0.2
GPU：GTX 1080 Ti *4
系统环境：centos 7, python 3.7

在使用 python -m paddle.distributed.launch normaltrain.py 进行单机多卡训练时出错。经过试验发现是在载入预训练模型时出了问题。在载入ERNIE模型时报如下错误：

![image](https://user-images.githubusercontent.com/32788240/118927506-767a3f00-b974-11eb-9ec1-623f7356ba71.png)

在载入Lenet模型时报如下错误：
![image](https://user-images.githubusercontent.com/32788240/118927551-87c34b80-b974-11eb-8b89-0

[2021-05-20 06:38] a123b12cd commented on #32998
按照这种说法，我如果把min设置的足够小，max设置的足够大，就不会报错才对，但是实际上很难找到一组能够不报错的max min opt 的组合。  比如下面两组结果，min改小后，反而无法运行
![image](https://user-images.githubusercontent.com/49675099/118930453-53ea2500-b978-11eb-8681-fa574523eacd.png)
![image](https://user-images.githubusercontent.com/49675099/118930847-d4a92100-b978-11eb-9b59-c7801e5063ac.png)

 ------------------------------------
而且，貌似还找不到2.1.0版本的预测库（我用的时windows）
![imag

[2021-05-20 07:02] swag1ong commented on #32982
您好，我想通过actions的数值提取data每行对应的column，比如：
[code]
那么则提取第一行的 第一个column：1，第二行的第二个column：3，第三行第三个column: 7
该操作在torch中可以使用torch.gather(axis=1) 请问在paddle中该如何实现？

[2021-05-20 07:22] LangDaoAI opened #33017 "python 3.9.5环境下从百度镜像无法安装paddlepaddle 2.0.0"
- 标题：安装错误
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0
    2）CPU：x64 64位操作系统
    4）系统环境：win10、Python 3.9.5

- 安装方式信息：
   pip安装

- 问题以及复现信息：
   安装python 3.9.5, 然后在终端执行以下命令，
   d:\Python\Python39>python -m pip install paddlepaddle==2.0.0 -i https://mirror.baidu.com/pypi/simple
Looking in indexes: https://mirror.baidu.com/pypi/simple
ERROR: Could not find a version that satisfies the requirement paddlepaddl

[2021-05-20 07:22] severous commented on #29428
cuda10.1 cudnn8.x(具体版本忘了)paddle2.0.2.post101也有这个问题，不知道大家解决了吗

[2021-05-20 07:24] LangDaoAI commented on #33017
上传一下画面如下：

![paddlehub导入—2 0 0-1](https://user-images.githubusercontent.com/83859417/118936660-50a66780-b97f-11eb-8e26-456f22d6ef85.png)

[2021-05-20 07:38] ZZHHogan opened #33018 "Your Paddle Fluid is installed successfully ONLY for SINGLE GPU or CPU"
运行paddleocr失败，报错：

![image](https://user-images.githubusercontent.com/40531744/118938038-c19a4f00-b980-11eb-9cef-cf96271a3e07.png)

以及使用paddle.fluid.install_check.run_check() 检查paddle是否正确安装时报错：

Your Paddle Fluid is installed successfully ONLY for SINGLE GPU or CPU
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：cuda11.

[2021-05-20 08:07] thunder95 commented on #26410
同问， 我也遇到了这个问题， 是在自定义算子时出现的， 哪位大佬能解答下？

[2021-05-20 08:08] thunder95 commented on #26389
同样的问题， 怎么破啊？

[2021-05-20 08:23] thunder95 opened #33020 "[论文复现] 自定义算子出现 Python object is not type of St10shared_ptrIN6paddle10imperative7VarBaseEE"
尝试复现deformable detr模型时， setup和jit运行都能顺利加载自定义算子， 但是都出现了同样的错误，不清楚问题出在哪，该怎么debug

Traceback (most recent call last):
  File "ms_deform_attn_test.py", line 29, in <module>
    output_cuda = custom_ops.custom_ms_deform_attn(value, shapes, level_start_index, sampling_locations, attention_weights, im2col_step)
  File "/home/hl/.cache/paddle_extensions/custom_jit_ops/custom_jit_ops.py", line 16, in custom

[2021-05-20 09:27] juncaipeng opened #33021 "config. SetMkldnnCacheCapacity is useless"
Ubuntu
C++
MKLDNN

Download the demo (Link:https://dubox.com/s/1RVo80hVAC0zr5iZ2EuG0xQ Password:3v5m ) and refer to the readme.

[2021-05-20 09:28] qingchunnianshao opened #33022 "Segmentation fault when start training"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu2.1.0.post101
   2) Ubuntu18.04 单显卡RTX2070  CUDA10.1

SYS-4028GR-TR:~$ nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Fri_Feb__8_19:08:17_PST_2019
Cuda compilation tools, release 10.1, V10.1.105

Running verify PaddlePaddle program ...
W0520 16:00:33.821033 10371 device_context.cc:404] Please NOTE: d

[2021-05-20 09:42] qingchunnianshao commented on #29389
batch_size 改成1 我的也还是有这个问题，请问你这个问题解决了吗

[2021-05-20 15:29] RussellCandy opened #33032 "使用别人训练出来的模型进行目标检测，其中yml文件和模型权重weights通过解压得到，然后在预测的时候报错'architecture' not specified in config file. Please set it in config file"

[2021-05-20 15:31] RussellCandy opened #33033 "使用别人训练出来的模型进行目标检测，其中yml文件和模型权重weights通过解压得到，然后在预测的时候报错'architecture' not specified in config file. Please set it in config file,预测代码为!python -u PaddleDetection-release-2.0-rc/tools/infer.py --config ppyolov2_yml/ppyolo_r50vd_dcn_voc.yml -o weights=my_best_model --infer_img MOT20/test/MOT20-04/img1/000015.jpg --draw_threshold 0.1"
报错如下:
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  def convert_to_list(value, n, name, dtype=np.int):
2021-05-20 23:27:11,700 - ERROR - 'architecture' not specified in config file. Please set it in config file.

麻烦大家了，谢谢大家

[2021-05-21 01:37] lyw615 commented on #22411
@zhaowenqian666 This problem solved by uninstalling  protobuf from python environment  and installing it by conda. Besides, there are two versions of  protobuf in my environment , which is found after twice uninstallations.  So  the problem may caused by improper installation of protobuf.

[2021-05-21 02:15] 360AIVul opened #33036 "算子pool3d存在安全问题/bug"
标题：算子pool3d存在安全问题/bug
版本、环境信息：
   1）PaddlePaddle版本：2.1.0
   2）CPU/GPU：CPU
   3）系统环境: ubuntu 20.04
   4）Python版本号: 3.8.5

PoC
[code]
崩溃信息

[code]

分析

pool_op：64获取strides数据
[code]
经过93行的size校验后，作为参数进入PoolOutputSize
[code]

当ceil_mode=False时，执行第一个分支，此时会整除stride，如果数据不当，导致浮点数异常
[code]

[2021-05-21 02:22] HAOCHENYE commented on #32921
请问是否是LayerNorm的底层实现存在一些问题呢？

[2021-05-21 02:37] LDOUBLEV commented on #33036
感谢你的反馈和建议，稍后提PR修复，在API 中拦截 stride<=0 的情况

[2021-05-21 02:45] chenjiaoAngel commented on #32992
a11手机试了小米11和oppo a92s 两部手机都是打开摄像头处理，预测性能就会下降是吗？请问跑的多线程还是单线程呢？有固定绑核吗？

[2021-05-21 02:48] chenjiaoAngel commented on #32992
这个是用CPU还是GPU预测呢？打开摄像头后，辛苦打印下前后处理+预测的耗时，还有打印下预测时，使用的核数（大核0-3， 小核4-7），怀疑打开摄像头时，大核被抢占，跑到小核了；你也可以在shell下验证，跑小核时的预测性能是否和打开摄像头时，预测性能一致

[2021-05-21 03:19] monkeycc opened #33038 "建议增加Python调用加密模型"
模型加密 已经完成 也有key了

问题是 怎么用Python 调用 加密模型

所以请官方 增加一个 python 能调用加密模型的方法

因为我不会C++

对于python源码的加密 总是有办法的
但是起码paddle 也要有一个python怎么调用加密的说明
毕竟不是所有使用者 都会用C++给客户 去部署环境

[2021-05-21 03:39] 1916638817 opened #33040 "LinearLrWarmup运行错误"
运行LinearLrWarmup的示例代码报错
Python Ver  python 3.7
Framework  PaddlePaddle 2.0.2
![image](https://user-images.githubusercontent.com/43883577/119078511-e9dd8880-ba28-11eb-8836-6888476e51a8.png)
文档地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/lr_scheduler/LinearLrWarmup_cn.html

[2021-05-21 03:42] FL77N commented on #32977
谢谢，了解了

[2021-05-21 03:43] lidanqing-vv commented on #33021
Reproduced

[2021-05-21 03:46] 1916638817 commented on #33040
运行的代码：
[code]

[2021-05-21 04:11] TeslaZhao commented on #33040
您好，您提供的文档示例有一个小问题，我们会改正。请参考下面链接的文档示例：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/lr/LinearWarmup_cn.html

感谢您的issue!

[2021-05-21 04:15] chenwhql commented on #33020
这个是输入类型不对，可以检查下是不是参数传错了
[code]
检查下这个里面的参数有没有需要是Tensor的，但实际传入的不是Tensor类型的情况

[2021-05-21 06:15] lidanqing-intel commented on #33021
Not Jacek's commit caused the problem. I m using bisect to find which commit caused memory rising.

[2021-05-21 06:19] thunder95 commented on #33020
@chenwhql 您好，感谢回复， 我输入的参数打印如下：

[code]

只有最后一个才是int类型，其他参数都是通过paddle.to_tensor将numpy转过来的， c++接收参数如下：

[code]

[2021-05-21 06:24] chenwhql commented on #33020
那PD_BUILD_OP的声明怎么写的方便贴一下吗

[2021-05-21 06:26] thunder95 commented on #33020
@chenwhql

[code]

[2021-05-21 06:28] chenwhql commented on #33020
嗯嗯，就是这里的问题，im2col_step这个要用Attribute去声明下，可以看看下面这段文档
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/new_custom_op_cn.html#attribute

[2021-05-21 06:28] sean0xiao commented on #32623
使用的是自定义的batchsampler 所以似乎不能用这种方法解决

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年4月27日(星期二) 晚上8:42
***@***.***&gt;;
***@***.******

[2021-05-21 07:05] LDOUBLEV commented on #32921
你好，目前能确定是layernorm存在一些问题，也感谢你的反馈，问题已经在排查中了

[2021-05-21 07:11] thunder95 commented on #33020
@chenwhql 嗯 对的 是我看文档的时候疏忽，没有注意到。 接着报了这个错:
RuntimeError: (Unavailable) Your custom operator contains multiple inputs. We only allow a custom operator that contains only one input and only one output without setting the InferDtypeFn. At this time, the input dtype will be directly set to the output dtype.

请帮我看一下，我的修改是否正确:

[code]
[code]

**最终还是会报段错误， 这个错误应该是在算子实现层了吧？自定义算子接口方面是不是就没问题了。**

-----------

[2021-05-21 07:17] chenwhql commented on #33020
![image](https://user-images.githubusercontent.com/22561442/119097500-62534200-ba47-11eb-8dce-8a3939ff4203.png)
这里有问题，这里并不是直接返回你输入的shape，而是要推断你输出的shape和dtype，根据你前面BUILD_OP的配置，你的输出应该只有一个out才对，这两个函数的返回值也只有一个

[2021-05-21 07:18] chenwhql commented on #33020
要确保根据输入的shape或者dtype，推断出out需要的正确的shape和dtype哈，不能随便返回一个

[2021-05-21 07:32] lidanqing-intel commented on #33021
a5627df331b913c047f78789c4c9b3ee5edfe65c caused thie memory rising.

[2021-05-21 07:38] thunder95 commented on #33020
@chenwhql 改成这样可以吗， 虽然还是报同样的错，且这个错跟RuleInfer可能没关系。

[code]

这个写起来有些难，哪里可以找到更多例子吗？

[2021-05-21 07:43] chenwhql commented on #33020
看起来可以的，如果还是报这个错的话，像你说的，可以查一下实现上是不是有问题？

[2021-05-21 07:44] LDOUBLEV commented on #33036
修复PR已提交：https://github.com/PaddlePaddle/Paddle/pull/33042

另外，也非常不建议stride,kernel出现为0的情况，这不符合逻辑

[2021-05-21 07:44] chenwhql commented on #33020
或者看看tensor设备有没有问题，看起来你这个是CUDA算子，有没有检查输入Tensor是否是CUDA的呢

[2021-05-21 07:45] chenwhql commented on #33020
FatalError: Segmentation fault is detected by the operating system.

这个一般就是代码写错了，非法内存访问，越界啥的，可以仔细查一下代码

[2021-05-21 07:58] 360AIVul commented on #33036
你好，同样，在pool2d中也可能存在相似的问题

[code]

[2021-05-21 08:17] WenmuZhou commented on #29845
mark

[2021-05-21 08:46] Joejiong commented on #33006
你好，非常感谢你的问题，正在讨论，更好的设计，避免直接传地址的情况，非常好的的问题，还有你的分析，great job！

[2021-05-21 08:48] Joejiong commented on #33012
你好已经收到你的问题，正在查看, 建议到ernie 模型repo提一下这个issue， 根据提示，可以pip list一下你的系统，上面看到，gpu 找不到上下文。

[2021-05-21 08:49] thunder95 commented on #33020
@chenwhql

使用的paddle 2.0.2， 申请out的内存：
[code]

将out的指针传入cuda普通的device函数,
`out.mutable_data<data_t>(value.place())`

然后参照relu的示例，我需要对它进行0值初始化：
[code]
在out[k]时发生内存越界，进而段错误。 按照官方示例来的，不明白哪里错了？另外在这个场景下有python tensor的zeros_like这种api吗？

[2021-05-21 08:49] Joejiong commented on #33017
可以申请一下代理

[2021-05-21 08:50] Joejiong commented on #33032
你好，请问一下，可以粘贴一下，可以复现的环境吗

[2021-05-21 08:52] Joejiong commented on #33022
你好，你的cuda Driver API Version: 是 11.1，需要安装相应的paddlepaddle-gpu version

[2021-05-21 08:53] Joejiong commented on #33018
你好，感谢你的问题，目前正在查看你的问题, 初步看下来，你的cuda version11.2 需要和相应的paddlepaddle-gpu版本配合，可以问一下，ocr的同学，@zhoujun或者可以到paddleocr模型库里面提问。通是可以按照提示，提供一下你的环境信息，还有你的执行命令与执行的model具体是哪一个，谢谢

[2021-05-21 08:55] Joejiong commented on #33033
你好，感谢你的问题，可以提供更详细的可以复现的代码吗，谢谢
可以问一下，ppyolo的同学 @heavengate

[2021-05-21 09:15] DDDivano commented on #33017
paddlepaddle 从2.1.0开始支持python39，之前没有相关的支持，所以无法下载

[2021-05-21 10:22] yuhao910716 commented on #29428
我也有相同的bug 环境都配了。就是不好用。百度太坑了

[2021-05-21 10:40] lidanqing-vv commented on #29472
Close this issue because no follow-up

[2021-05-21 10:40] #29472 closed, assigned to wanghaoshuang

[2021-05-21 12:14] chenwhql commented on #33020
目前还没有，麻烦贴一下完整代码吧

[2021-05-21 13:59] lazyn1997 commented on #32104
同样会遇到这样的问题

[2021-05-21 14:23] lazyn1997 commented on #32923
work_num按默认设置为2，每次跑完第一次迭代后都会出现上述的错误，将work_num改为0后速度变慢很多，大约为原来的四分之一。

[2021-05-21 14:36] cisco08 commented on #32923
是的，只要设置大于1的都会报错

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: lazyn1997 ***@***.***&gt;
发送时间: 2021年5月21日 22:23
收件人: PaddlePaddle/Paddle ***@***.***&gt;
抄送: cisco08 ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/Paddle] 【论文复现】DataLoader  RuntimeError (#32923)

work_num按默认设置为2，每次跑完第一次迭代后都会出现上述的错误，将work_num改为0后速度变慢很多，大约为原来的四分之一。

看起来是数据读取出问题了，每次运行都会复现吗

—
You are receivin

[2021-05-21 14:47] LangDaoAI commented on #33017
好的，明白了

[2021-05-21 14:47] #33017 closed, assigned to Joejiong

[2021-05-22 02:08] pughua commented on #32950
经过测试，示例代码已经能够正常运行。

[2021-05-22 02:08] #32950 closed, assigned to pangyoki

[2021-05-22 03:10] zizizihua commented on #33020
`out.mutable_data<data_t>(value.place())`会返回指向out数据起始地址的指针
out并不能直接赋值，赋值操作应该基于返回的指针上
可改为:
[code]

[2021-05-22 03:21] Zhaobo19 opened #33054 "[Transformer CV]论文复现"
在下图的那个文件中没有对应的paddleAPI,请问是否还与别的API，这个作用应该是与GPU分配内存有关的吧
# detr-master/util/misc.py
原文:https://github.com/facebookresearch/detr
![image](https://user-images.githubusercontent.com/68489388/119213046-03490800-baef-11eb-89f8-f82b407f2956.png)

[2021-05-22 03:21] #33054 closed, assigned to zhwesky2010

[2021-05-22 12:26] thunder95 commented on #33020
@chenwhql @zizizihua 感谢两位大佬，目前forward跑通了，结果也验证了。但是算子中的backward怎么测试比较好？ 因为在paddle中没有找到类似torch.gradcheck()这样的api

[2021-05-22 13:40] zizizihua opened #33057 "[论文复现] 图片尺寸较大时报错cudaErrorInvalidConfiguration: invalid configuration argument"
- 版本、环境信息：
    1）PaddlePaddle 2.1
    2）GPU：v100 32G, cuda10.1
    3）系统环境：aistudio Ubuntu 16.04.6 LTS，Python3.7

复现deformable detr论文，在模型前向推理阶段，batchsize设置为1，若图片尺寸设置比较大(800, 1333)，执行paddle.cusum()和其他一些op会报这个错误：
[code]
将图片尺寸设置小一些，如（608, 1024）则能正常运行。

[2021-05-22 13:41] thunder95 commented on #33020
我将torch和paddle的backward简单构造如下，但是有不小的差异， 核心的kernel代码几乎没动， 前向输出结果一致，请问我这么做比较backward结果的方式靠谱吗？ @chenwhql

[code]
打印结果如下：
[code]
...

[2021-05-22 14:32] ghost opened #33058 "paddle2不继续支持cuda10.0了吗"
是否可以把对cuda10.1的支持改成cuda10.0，以增加硬件的兼容性？

[2021-05-22 23:56] chenwhql commented on #33020
不知道你torch的代码怎么写的，可以贴一下

如果只是对比反向值也可以更简单一点，直接求个平均值，求backward就行

[code]

[2021-05-23 05:07] thunder95 commented on #33020
@chenwhql
[code]
[code]
最终还是有非常明显的差异， 请帮忙看看， 这样对比有没有什么问题，如果ok的话，我就只能区kernel里debug了

[2021-05-23 11:43] lidanqing-vv commented on #33021
I just tested again, From #32664 there are memory leak @jczaja Please fix this issue, thank you very much!

[2021-05-23 16:49] jonny4929 opened #33063 "[论文复现]OSError: (External) Cuda error(9)"
version: paddlepaddle 2.1.0

Traceback (most recent call last):
  File "tools/train.py", line 118, in <module>
    main(args)
  File "tools/train.py", line 90, in main
    epoch_id, 'train')
  File "/home/aistudio/PaddleClas/tools/program.py", line 309, in run
    fetchs = create_fetchs(feeds, net, config, mode)
  File "/home/aistudio/PaddleClas/tools/program.py", line 189, in create_fetchs
    ep

[2021-05-24 02:17] chenwhql commented on #33020
下面写错了吧

![image](https://user-images.githubusercontent.com/22561442/119287459-1e478380-bc79-11eb-8f58-2c8f74ae61e6.png)

应该是mean吧，如果这个改了还是不对，那确实可以去kernel里看看了

[2021-05-24 02:21] haozech commented on #33057
你好，是在运行paddle.fluid.cumsum()这个api的时候，大图片尺寸会报错吧？能否提供简单的可复现代码呢？

[2021-05-24 02:32] haozech commented on #33058
你好，目前paddle最新的2.1版本仍然兼容cuda10.0，但官网上不再发布10.0版本的whl包。如有需要可以通过源码编译安装cuda10.0版本的paddle2.1。
或者可以pip安装CUDA10.0的paddle2.0： https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0/install/pip/windows-pip.html#gpu

[2021-05-24 03:10] chenjiaoAngel commented on #33063
请问GPU 版本是？根据错误信息提示，batch_size=32 时，训练时资源好像不足，需要分配更多的内存资源or线程数去满足？ Requestingmore shared memory per block than the device supports will trigger this error, as will requesting too many threads or blocks

[2021-05-24 03:21] jonny4929 commented on #33063
在aistudio的v100,paddle2.1.0版本以及我自己的2070super上都出现了相同的错误，batch_size=16时显存占用在3G多一些，batch_size=32时显存占用应该在8G以内。

[2021-05-24 03:26] zhwesky2010 commented on #33058
@illcat 目前代码层面还是支持的，只是官方发布的包从2.1开始，CUDA发布10.1 10.2 11.0 11.2这四个版本，10.0只能自行通过源码编译了哈；2.0已经发布了10.0的包，可以直接安装，`python -m pip install paddlepaddle-gpu==2.0.2.post100 -f https://paddlepaddle.org.cn/whl/mkl/stable.html`

[2021-05-24 03:43] gzwzzu opened #33068 "用YOLOV3进行昆虫目标检测的案例，在训练过程中会报system error"
Paddlepaddle版本：2.0
环境：aistudio上的GPU版本

https://aistudio.baidu.com/aistudio/projectdetail/1557835?channelType=0&channel=0

用YOLOV3进行昆虫目标检测的案例，在训练过程中会报system error，信息如下：

---------------------------------------------------------------------------SystemError                               Traceback (most recent call last)<ipython-input-61-4fa909203cbd> in <module>
     43     MAX_EPOCH = 1
     44

[2021-05-24 04:08] lidanqing-vv opened #33069 "fusion hard_swish in int8 caused accuracy drop"
1）PaddlePaddle版本：2.1

[2021-05-24 04:43] zhwesky2010 commented on #33054
@Zhaobo19 这个是：step1：将data 转为序列化，并将Python序列化内容先转化为torch的内存结构；
step2：将torch的内存结构转化为Tensor；Paddle目前没有第一步的API，不过data可以直接通过Paddle.to_tensor转化为Tensor，请问data是什么类型的数据呢。

[2021-05-24 04:58] WenmuZhou commented on #33018
@hhhhhhogan 在这里提问吧 https://github.com/PaddlePaddle/PaddleOCR

[2021-05-24 05:04] zizizihua commented on #33057
@haozech 复现代码已发你邮箱，chenhaoze94@gmail.com

[2021-05-24 05:31] chenjiaoAngel commented on #30967
现在，gather增加了一个新的属性axis 可以指定维度来进行gather 之前的没有这个维度

[2021-05-24 05:34] chenjiaoAngel commented on #33068
<img width="820" alt="image" src="https://user-images.githubusercontent.com/38650344/119301174-a4bd8e80-bc94-11eb-9fa5-f110fb8f99d7.png">
根据这个错误信息提示：使用的docker 镜像空间不够引起的，需要清理该空间，留有足够空间运行程序

[2021-05-24 05:40] jiweibo commented on #33063
您好，看报错信息像是mean_op的cuda kernel需要share memory超限制了，这个问题我们找负责人看一下，感谢反馈

[2021-05-24 07:12] siqiaof opened #33073 "Windows编译预测库错误"
PaddlePaddle 版本：v2.0.0-rc1
使用 cmake 3.20.0-rc2 + VS2019 编译带 GPU 的预测库

在构建 cryptopp 和 eigen 时报错，更换了 gitee 上的源依然报错
![image](https://user-images.githubusercontent.com/67352303/119310361-37185f00-bca2-11eb-9406-cb7fc3c9ec81.png)

[2021-05-24 07:21] TeslaZhao commented on #33038
用户您好！python代码加密一直是python语言弱项，通过反汇编工具很轻松地反解出python源码，使用python代码做解密，无法保护模型的安全。因此我们强烈建议您使用C/C++方式做模型解密和加载。在没有安全的python代码防护方案之前，暂不提供python的解密示例。

[2021-05-24 07:25] FL77N opened #33074 "分布式单机多卡训练出现错误"
使用 paddledetection 2.0.2 源码，在aistudio 脚本任务进行单机四卡训练出现以下错误

ABORT!!! Out of all 4 trainers, the trainer process with rank=[3] was aborted

[2021-05-24 08:59] wangxicoding commented on #33074
看一下log/workerlog.3里有没有啥报错

[2021-05-24 09:04] chenjiaoAngel commented on #33073
这个看起来是网络问题，有些第三方库没有下载成功。辛苦重新拉取代码和编译试试

[2021-05-24 09:12] BillDior opened #33079 "slice op头文件的文档描述和实际代码实现的不一致"
https://github.com/PaddlePaddle/Paddle/blob/66c514ce83eb9af3c5e8b583c45dc90a4a50ed3d/paddle/fluid/operators/slice_op.cc#L230

这里StartsTensorList 和EndTensorList的类型是int32

https://github.com/PaddlePaddle/Paddle/blob/66c514ce83eb9af3c5e8b583c45dc90a4a50ed3d/paddle/fluid/operators/slice_op.h#L94
实际实现的时候数据类型用的是int64

[2021-05-24 09:29] FL77N commented on #33074
应该怎么看呢？因为报错了，没有输出文件呀

[2021-05-24 09:34] wangxicoding commented on #33074
使用python -m paddle.distributed.launch启动的吗，应该会有一个log文件夹，或者没有指定会直接将所有卡的log输出到终端，应该也可以看到出错的log。

[2021-05-24 09:41] FL77N commented on #33074
对的是这样启动的，可下载输出那是灰色的。只能查看运行日志，日志是这样写的：
INFO 2021-05-24 17:17:14,611 launch_utils.py:307] terminate all the procs
ERROR 2021-05-24 17:17:14,611 launch_utils.py:545] ABORT!!! Out of all 4 trainers, the trainer process with rank=[3] was aborted. Please check its log.
INFO 2021-05-24 17:17:17,615 launch_utils.py:307] terminate all the procs
[INFO]: train job failed! train_ret: 1

[2021-05-24 10:10] siqiaof commented on #33073
但是我把源码下载的路径改成gitee了，按理说不应该再有网络问题，看了下对应的src文件夹下源码好像也已经下下来了。

使用的是这两个源码
https://gitee.com/tianjianhe/cryptopp
https://gitee.com/hsia_ray/eigen-git-mirror

这两张图是下载后的源码文件夹，可以帮忙看下是不是下全了吗？
![image](https://user-images.githubusercontent.com/67352303/119332440-2cb68f00-bcbb-11eb-9339-edb950cbc580.png)
![image](https://user-images.githubusercontent.com/67352303/119332477-37712400-bcbb-11eb-84c0-f458949b6c8

[2021-05-24 11:09] btobab opened #33082 "算子问题"
   1）PaddlePaddle版本：2.0.2
    2）系统环境：本地
`def make_trg_mask(self, trg):

        #trg = [batch size, trg len]

        trg_pad_mask = (trg != self.trg_pad_idx).unsqueeze(1).unsqueeze(2)

        #trg_pad_mask = [batch size, 1, 1, trg len]

        trg_len = trg.shape[1]

        trg_sub_mask = torch.tril(torch.ones((trg_len, trg_len), device = self.device)).bool()

        #trg_sub_mask = [trg len,

[2021-05-24 11:28] chenjiaoAngel commented on #33079
收到，稍后会找相关负责人进行修正

[2021-05-24 14:32] GlennLoveZhen0124 opened #33088 "ImportError after import in python3"
我python3安装后，在命令行python3中， import paddle报错如下：
ImportError: /opt/compiler/gcc-4.8.2/lib/libstdc++.so.6: version `CXXABI_1.3.8' not found
请问怎么解决？

[2021-05-25 02:47] liym27 commented on #33079
@BillDior 感谢建议。
但文档描述是没有问题的，` starts = GetDataFromTensorList<int64_t>(list_new_starts_tensor); ` 这里的 int64_t 对应的是 vector `start` 的元素数据类型，而非 `StartsTensorList` 的数据类型。

[2021-05-25 02:48] chenjiaoAngel commented on #33088
请先查看当前目录下是否安装libstdc++.so.6，指令： strings /usr/lib64/libstdc++.so.6|grep CXXABI ；如果有话，将相关SO移植到当前目录。具体细节可参考：https://blog.csdn.net/zerow__/article/details/88845192；如果没有话，辛苦先下载相关SO，重新链接，具体细节可参考：https://blog.csdn.net/u012811841/article/details/77854581

[2021-05-25 02:50] BillDior commented on #33079
所以StartTensorList是int32类型，在GetDataFromTensorList会做一次类型转换？ 为什么要这样设计呢

[2021-05-25 02:58] liym27 commented on #33079
这里是为了兼容 int32 与 int64，提高接口易用性。 了解更多细节，也可以阅读相关源码。
请问是在使用过程中有什么问题吗？

[2021-05-25 03:06] voidvelocity opened #33090 "paddle.vision.ImageFolder 没有返回标签，导致整个函数无用"
paddle.vision.ImageFolder 没有返回标签，导致整个函数无用

[2021-05-25 03:09] voidvelocity opened #33091 "在jupyter中第二次定义model时报错"
例如 model = Net() ；Net为自定义的类。在jupyterlab中第二次运行时就报错，每次都要重启jupyter！！！
报错如下：
ValueError: parameter name [conv1_weights] have be been used. In dygraph mode, the name of parameter can't be same.Please check the parameter attr value passed to self.create_parameter or constructor of dygraph Layers

[2021-05-25 03:11] sean0xiao opened #33092 "paddle2.0 基于ernie训练模型时 loss和测试集准确率都变化明显 但模型参数一直不变"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle2.0
    2）CPU：
    3）GPU：
    4）系统环境：
- 模型信息
    1) ernie
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：
  在使用paddle2.0训练模型时，loss下降明显，测试集准确率明显提高，但模型参数一直没有变化，save的ckpt也一直不变 请问这个是什么原因导致的呢

[2021-05-25 03:12] wangxicoding commented on #32923
@cisco08 有复现代码吗

[2021-05-25 03:14] #22870 closed, assigned to JepsonWong, yaoxuefeng6

[2021-05-25 03:14] #24577 closed, assigned to iclementine

[2021-05-25 03:14] #24598 closed, assigned to nobody

[2021-05-25 03:14] #24601 closed, assigned to luotao1, wzzju

[2021-05-25 03:14] #24616 closed, assigned to nobody

[2021-05-25 03:14] #24623 closed, assigned to nobody

[2021-05-25 03:14] #24624 closed, assigned to nobody

[2021-05-25 03:14] #24629 closed, assigned to nobody

[2021-05-25 03:14] #24640 closed, assigned to Steffy-zxf

[2021-05-25 03:14] #24650 closed, assigned to nobody

[2021-05-25 03:14] #24670 closed, assigned to nobody

[2021-05-25 03:14] #24676 closed, assigned to nobody

[2021-05-25 03:14] #24684 closed, assigned to nobody

[2021-05-25 03:15] #24686 closed, assigned to nobody

[2021-05-25 03:16] ForFishes commented on #32982
您好，这个可以通过gather_nd 来做。在您的这个case中，可以设置index = [[0,0],[1,1],[2,2]],然后调用paddle.gather_nd(index)
具体的可以参考gather_nd的文档。https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/fluid/layers/gather_nd_cn.html#gather-nd

[2021-05-25 03:23] swag1ong commented on #32982
了解了谢谢🙏

[2021-05-25 03:23] #32982 closed, assigned to wanghuancoder

[2021-05-25 03:41] qili93 commented on #33092
参数是会随着训练变化的，请问是如何确认参数和save checkpoint不变的呢？是否可以提供一下复现的代码呢？

[2021-05-25 03:43] yeyupiaoling opened #33095 "多卡训练保存模型问题"
- PaddlePaddle 2.0.2
 - Python

在PaddlePaddle 2.0之后多卡训练输出的是多次。是不是说每个GPU都是单独训练的？他们的模型参数会实时同步吗？如果我需要在每一轮结束后保存模型，需要过滤掉其他的GPU执行吗？例如这：
[code]

[2021-05-25 03:51] wadefelix commented on #33091
jupyterlab会自动spawn执行进程出来，而且这个执行进程是不退出的以保留执行上下文。
您可以在kernel菜单下shutdown掉kernel，或者在Running这个页查看和管理执行进程，可以结束它，然后再运行ipynb代码块就可以了，这样可以避免重启jupyter了。

[2021-05-25 04:09] qili93 commented on #33095
请问是是用“python -m paddle.distributed.launch ”的方式来启动多卡训练的吗？如果是的话，多卡之间会自动进行参数同步，保存模型或者checkpoint的时候保存rank 0的结果就可以，可以参考这里的代码
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/bert/run_glue.py#L387

[code]

[2021-05-25 04:13] chenxiaozeng commented on #32926
您好，我们check官方提供的项目是没问题的，辛苦您再分享下项目链接，我们可帮您排查下

[2021-05-25 05:01] seiriosPlus commented on #32958
fix it #33072

[2021-05-25 06:11] #32140 closed, assigned to ZHUI, LielinJiang

[2021-05-25 06:49] #33074 closed, assigned to chenjiaoAngel

[2021-05-25 06:52] Fan-Zhixuan opened #33101 "在显存容量没有问题的情况下，batchsize过大会报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：gpu——2.0.2
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：1080 cuda10.2 cuDNN7.6
    4）系统环境：win10 python3.8

    1）单机，单卡
    2）8gb
    
![QQ图片20210525145228](https://user-images.githubu

[2021-05-25 07:16] jiweibo commented on #32998
您好，windows 2.1的预测库已发布，https://paddle-inference.readthedocs.io/en/release-v2.1/user_guides/download_lib.html#windows

关于trt动态shape问题，由于模型中间节点的shape不太好判断，交由用户完成难度较大，我们后续计划会解决这个问题

[2021-05-25 07:41] seiriosPlus commented on #32958
已修复，拉明天的develop的包就可以了.

[2021-05-25 07:41] #32958 closed, assigned to pangyoki, gfwm2013

[2021-05-25 08:38] Fan-Zhixuan opened #33107 "[复现营] parralel_for failed"
![QQ图片20210525163645](https://user-images.githubusercontent.com/55394653/119466863-998f5f00-bd77-11eb-91f9-bcd02fb9bef8.png)

[2021-05-25 09:09] qili93 commented on #33101
可以提供一下复现代码或者模型吗？这里需要复现一下才能定位是哪里出的问题，看情况是core dump了。或者您可以提供一下gdb core dump文件的信息吗？看看有没有什么线索。

[2021-05-25 09:40] wawltor commented on #33057
您好，复现了一下代码，排查了一下问题，主要的原因是cumsum和linspace op都是用了了cuda官方的thrust库，当元素的个数超过了int32的就会触发thrust的bug，目前cuda官方已经修复了这个问题，但是这个修复是随着cuda版本修复的，因此需要更新cuda版本。cuda 11版本可以尝试一下，PaddlePaddle也会尝试出一个兜底方案。

[2021-05-25 09:54] qili93 commented on #33107
能提供一下环境信息吗？包括Paddle版本这里是2.0.2，GPU型号，CUDA和CUDNN/NCCL版本号，系统环境和Python版本。 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。

还有包括训练信息，你的模型代码，和复现步骤。

[2021-05-25 10:17] Fan-Zhixuan commented on #33107
paddle:2.0.2
GPu:1080
CUDA:10.2
CUDNN:7.6
系统：Win10
python:3.8
我是用swintransformer为基础搭建的unet，问题出在drop_path上，如果将drop_path_rate设为零，则不会出现这个问题

[2021-05-25 10:43] Chenfei-Kang commented on #33002
感谢

[2021-05-25 10:49] zizizihua commented on #33057
好的，谢谢！

[2021-05-25 10:49] #33057 closed, assigned to haozech

[2021-05-25 10:57] Darki-luo opened #33111 "SystemError: (Fatal) Operator equal raises an thrust::system::system_error exception. The exception content is :parallel_for failed: cudaErrorInvalidConfiguration: invalid configuration argument. (at /paddle/paddle/fluid/imperative/tracer.cc:192)"
aistudio@jupyter-325350-1988508:~$ python summary_env.py
****************************************
Paddle version: 2.1.0
Paddle With CUDA: True
OS: Ubuntu 16.04
Python version: 3.7.4
CUDA version: 10.1.243
cuDNN version: 7.3.1
Nvidia driver version: 418.67
****************************************
aistudio 环境 用paddleDetection套件：
backbone是swinTransform模型

*********************************************

[2021-05-25 12:47] a794133319 opened #33115 "AI Studio在线部署预测"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：Ai Studio Notebook任务

在线部署目标检测模型，使用Paddlex进行训练，然后导出部署模型，使用AIstudio 进行在线部署，然后预测的时候报错

![image](https:/

[2021-05-25 12:50] a794133319 commented on #33115
![image](https://user-images.githubusercontent.com/55074811/119500715-b12c0f00-bd9a-11eb-9be5-9d3a3b2afc79.png)
请求日志：
[code]

[2021-05-25 12:52] qili93 commented on #33107
这个问题为已知问题，目前正在修复中，具体见 https://github.com/PaddlePaddle/PaddleClas/pull/685 已有icafe卡片跟进这个问题，需要等待修复。

[2021-05-25 12:53] qili93 commented on #33111
这个问题为已知问题，目前正在修复中，具体见 PaddlePaddle/PaddleClas#685 已有icafe卡片跟进这个问题，需要等待修复。

[2021-05-25 12:56] a794133319 commented on #33115
请求：
![Uploading image.png…]()

[2021-05-25 12:57] a794133319 commented on #33115
![image](https://user-images.githubusercontent.com/55074811/119501763-c05f8c80-bd9b-11eb-95d3-5f654317a1e0.png)
请求

[2021-05-25 12:58] qili93 commented on #33115
`self._load_model(model_dir[model_name], model_name)`这里load_model的API使用不对，你的模型输出是压缩模型，就是参数是存在`__params__`里面的，需要参考这里combined模型的加载方式来加载，你当前代码是“非combine”模型的加载方式
https://paddle-inference.readthedocs.io/en/latest/api_reference/python_api_doc/Config/ModelConfig.html#id2

[2021-05-25 13:02] a794133319 commented on #33115
AI studio在线部署的话，那在哪里改为 combined模型的加载方式来加载 啊？这里不是只有参数的输入输出的代码可以更改吗？

[2021-05-25 13:03] chenjiaoAngel commented on #33082
逻辑&运算是支持的，请参考文档，用logic_and函数进行实现，https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/logical_and_cn.html#logical-and

[2021-05-25 13:08] sjhsjn1017 commented on #32454
@zhouwei25 这几天没有登陆，回晚了不好意思。我做的简单的例子入下图：
![image](https://user-images.githubusercontent.com/50991400/119503003-17199600-bd9d-11eb-867f-5e28ef30ffd8.png)
就是在循环里分别做torch和paddle的操作，上面用的是生成tensor数据的操作，可以替换成任意其他操作，基本上速度都是相差一个数量级，也就是说并不是Dataloader的问题，问题的关键可能还是paddle和torch的Tensor的内部实现机制的问题。

[2021-05-25 13:35] btobab commented on #33082
好哒，谢谢大佬

[2021-05-25 13:51] sjhsjn1017 opened #33118 "paddle2.1.0版本GPU显存溢出问题"
paddle2.1.0版本GPU显存溢出：

用paddle2.1.0版本训练的过程中出现GPU显存溢出的报错，用的环境是aistudio的16G V100环境。报错的截图如下：
图1
![image](https://user-images.githubusercontent.com/50991400/119507761-b0e34200-bda1-11eb-9dc3-e2242f1582c0.png)

这里显存溢出的问题是在我用了下面的tensor切片索引操作后出现的：
图2：
![image](https://user-images.githubusercontent.com/50991400/119508415-51396680-bda2-11eb-82ca-74435971d69a.png)
在paddle2.0.2版本中上面的操作是不支持的，所以在2.0.2版本中我做了一个n

[2021-05-25 13:55] wangxicoding commented on #32923
`df -h` 看一下shm的大小，我怀疑是shm太小，设置work_num > 1时超过了shm大小，导致的出错
![image](https://user-images.githubusercontent.com/10208305/119510000-b8a3e600-bda3-11eb-8d63-e21ea477092a.png)

[2021-05-26 01:11] junfeizhu commented on #33012
这是我pip list后的部分结果，应该不会是ernie安装的问题。因为我在使用单机单卡微调ernie的时候完全没有问题。另外我在加载Lenet的时候也遇到同样的问题。

olefile             0.46
opencv-python       4.5.2.52
openpyxl            3.0.7
packaging           20.9
paddle-ernie        0.1.0.dev1
paddle2onnx         0.5.1
paddlehub           2.1.0
paddlenlp           2.0.0rc22
paddlepaddle-gpu    2.0.2
pandas              1.0.3
pandocfilters       1.4.3
parso

[2021-05-26 01:11] thunder95 opened #33124 "[论文复现] MultiheadAttention在相同输入条件下torch和paddle输出有较明显差异"
加载同样的权重， debug检查输入也是一致，但是输出结果就是差异明显。 请问二者接口上或实现上有什么差异么

[2021-05-26 01:21] lazyn1997 commented on #32923
应该不是shm的问题，我把大小设为0后跑完一次迭代依然报错，把--eval去掉就可以正常训练了。

[2021-05-26 01:48] AN-ZE opened #33125 "2.1 cuda10问题"
官方后续会添加2.1版本 cuda10的安装包吗？
自己尝试编译，使用 vs2015 up3，进行编译的，编译不成功，编译2.0及之前的版本是成功的。报错信息是内部编译错误。看的云里雾里的。
希望可以官方支持下。

[2021-05-26 02:26] thunder95 commented on #33124
代码基本是按照torch复现的

[code]

[code]

[2021-05-26 02:44] crazyxiaoj commented on #32926
项目“issue”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/1925918/b7d2320369b14f29ad907f69191c6512

[2021-05-26 02:45] FrostML commented on #33124
这两个 API 应该是能对齐的，需要确认下 `加载同样的权重` 转参数的时候，是否经过了 transpose？

[2021-05-26 02:50] thunder95 commented on #33124
转换权重过程中，我筛选了所有的torch.nn.Linear, 并进行转置。

等会我尝试下在网络结构中打印权重比较下。 @FrostML

[2021-05-26 02:54] qili93 commented on #33115
这里的代码`self._load_model(model_dir[model_name], model_name)`是AIStudio自动生成的，不是你自己写的对不？这个需要咨询一下AIStudio负责些自动化模型部署脚本的同学，看看他们那边有没有提供"combined模型"的部署选项和相应的脚本。

[2021-05-26 02:59] qili93 commented on #33118
请问能否提供一下复现代码呢，这里需要在16G V100上复现一下，定位一下问题在哪里，谢谢！

[2021-05-26 03:00] FrostML commented on #33124
还有一点需要确认下的是，torch 的输入的维度，默认是 `[sequence length, batch size, embedding dimension]`.
Paddle 这里是 `[batch size, sequence length, embedding dimension]`.

我这里有一个早期时候对比两者精度的脚本，代码比较早了，不过 paddle 2.1 应该也还能跑，可以参考下：
[code]

[2021-05-26 03:03] thunder95 commented on #33124
非常感谢提供的帮助， 我这边按照你给的思路再自己研究一下 @FrostML

[2021-05-26 03:12] thunder95 commented on #33124
@FrostML 按照你说的[batch size, sequence length, embedding dimension]输入格式， 我去掉了transpose， 然后输出结果就对齐了。非常感谢！

[2021-05-26 03:12] #33124 closed, assigned to T8T9

[2021-05-26 03:13] a794133319 commented on #33115
好的谢谢

[2021-05-26 03:15] wangxicoding commented on #32923
理一下，目前的问题是不管如何设置worker_num，跑完第一次迭代后eval时会报错，如果将eval去掉，那么设置worker_num为任意值都不会出错？那么这个错误应该是eval造成的?

[2021-05-26 05:47] Shixiaowei02 commented on #31636
我们的日志是通过 google log 生成的，这是很多开源代码的通行做法。可以通过 `GLOG_v` 环境变量控制日志开启等级。

[2021-05-26 06:31] Fan-Zhixuan commented on #33107
在GPU环境里生成维度过大的随机数会报错，但是在CPU环境下就不会

[2021-05-26 08:16] 978326187 opened #33134 "paddle如何获取网络层的成员变量"
比如pytorch可以使用fc.in_features获取resnet的全连接层的输入通道数，paddle如何做呢？

[2021-05-26 08:28] 978326187 commented on #33134
目前找到的方法是获得网络层的权重信息，通过权重的shape获得通道数，请问paddle官方有没有实现这种功能呢？就像pytorch中那样使用。

[2021-05-26 08:48] jiweibo commented on #32963
目前develop分支，编译的时候，会挂到eigen里面，还没有解决

[2021-05-26 09:01] AIpioneer commented on #32963
你用的是什么模型呢，目前可以考虑使用paddle lite。lite是支持32位windows的

[2021-05-26 09:23] roshanthink opened #33136 "Cannot find available GPU devices, using CPU or other devices now"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1 GPU
    2）CPU：9700K
    3）GPU：RTX3090
    4）系统环境：WIN10，python3.8，PARL 1.4.3
- 训练信息
    1）单机，单卡

- 问题描述：
- （1）paddle.utils.run_check()，返回成功
- （2）使用PARL 1.4.3 及develop ，训练过程返回信息如下：

[2021-05-26 12:42] T8T9 commented on #33134
这个in_features就是输入tensor的shape吧，paddle用shape就可以得到。https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Tensor_cn.html#shape

[2021-05-26 12:52] 978326187 commented on #33134
不是这个意思，定义网络的时候没有tensor啊，只有定义的网络层

[2021-05-26 12:54] T8T9 commented on #33134
哦，那paddle应该还没有这个api

[2021-05-26 12:57] 978326187 commented on #33134
嗯呢，那就只能曲线救国了，希望可以考虑加一下这个功能

[2021-05-26 15:42] liwang54321 commented on #30387
我用jetson nx 使用gpu就会报错，请问一下知道这个是为什么吗
[code]

[2021-05-27 02:16] LDOUBLEV commented on #32921
你好，测试发现layernorm的前一层输出的feature值非常的大，导致使用layernorm后出现了nan，feature的值太大也是不合理的
![image](https://user-images.githubusercontent.com/26592129/119755331-6b736180-bed4-11eb-9ec2-7bbb67a6e61e.png)

目前有三个缓解方案可供尝试：
1. 调整权重初始化方式，减小feature 的值；
2. 对输出做正则，或者加一个作用于feature的可学习的bias；
3. 加入正则

[2021-05-27 02:23] juncaipeng commented on #32282
@lidanqing-intel  The new Mobilenetv3 model in (Link:https://dubox.com/s/1KqlagBkwPJssm2HPIfnbLw Password:unxr).

For Mobilenetv3,  there are some naive kernels and MKLDNN kernels:

[code]

[2021-05-27 02:33] juncaipeng commented on #32282
The results of the latest analysis are as follows：

![image](https://user-images.githubusercontent.com/52520497/119756266-e38e5700-bed5-11eb-97be-51980cbbe70a.png)
![image](https://user-images.githubusercontent.com/52520497/119756301-ef7a1900-bed5-11eb-8860-47e03bdf2a34.png)
![image](https://user-images.githubusercontent.com/52520497/119756325-f9038100-bed5-11eb-9203-564e2942287b.png)

[2021-05-27 02:39] T8T9 commented on #33136
run_check 通过的话，说明gpu应该没什么问题。
您有没有改gpu的环境变量啥的？
@roshanthink @pangyoki

[2021-05-27 02:42] roshanthink commented on #33136
您好，问题已经解决。
PARL框架有额外的GPU检测，而系统缺少一个所需的环境变量，导致问题的出现。

[2021-05-27 03:15] mingxu1067 opened #33145 "BERT Training encounters loss NaN with AMP and TransformerEncoderLayer.normalize_before=True"
**System information**
-PaddlePaddle: Both 2.1.0 and b8e4ec7de1e04f1a7fcf6c85ce016f9fef37ee8d
-CPU: Intel(R) Xeon(R) CPU E5-2698 v4 @ 2.20GHz
-GPU: V100-SXM2-16GB with CUDA 11.2 and CUDNN 8.1.1
-OS Platform: Ubuntu 18.04
Docker images: Both registry.baidubce.com/paddlepaddle/paddle:2.1.0-gpu-cuda11.2-cudnn8 and  paddlepaddle/paddle:latest-dev-cuda11.2-cudnn8-gcc82
-Paddle Build Comanad: `cmake ..

[2021-05-27 04:08] justiceeem opened #33147 "docker中无法使用paddle_gpu"
使用docker拉取了官方的paddle-gpu镜像，进入容器后测试发现不能使用gpu：
"You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default."
![81622088487_ pic_hd](https://user-images.githubusercontent.com/50164570/119764566-3cfd8280-bee4-11eb-8a8e-8c61fe0642d1.jpg)
nvidia-smi命令：
![61622088372_ pic_hd](https://user-images.githubusercontent.com/50164570/119764444-f9a31400-bee3-11e

[2021-05-27 06:16] baixiaoming555 commented on #29320
用conda安装成功了

[2021-05-27 06:51] justiceeem commented on #33147
找到问题所在了，docker里的cuda与本机的驱动版本不相融。在重新选择cuda10.2的镜像后，paddle就不在报错了。

[2021-05-27 06:51] #33147 closed, assigned to yinhaofeng

[2021-05-27 07:43] houj04 opened #33154 "编译错误：requirements.txt建议加一个wheel"
## 环境

我用的是国产化的linux操作系统，比如麒麟和华为的euler，不过这个问题感觉是个通用问题。

## 问题描述

在`python/requirements.txt`里面，缺少`wheel`。

## 如何复现

找个干净的环境（注意`python`和`pip`也要干净），先`pip3 install -r python/requirements.txt`，然后尝试编译，在`cmake`阶段就会挂掉，报下面的信息。

[code]

## 供参考的解决方案

在`python/requirements.txt`里面加一行`wheel`。

[2021-05-27 08:20] qiuming-93 opened #33158 "是否有离线版本的学习文档可以提供下载"
公司网络受限，无法访问飞浆学习教程文档页面
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/index_cn.html

是否有离线版本的学习文档可以提供下载，类似w3school那种

[2021-05-27 08:31] dingjiaweiww commented on #32377
现在解决了吗，我这里测试pro M1芯片是可以安装的，尝试下先把旧版本paddle 卸载掉：sudo pip3 uninstall paddlepaddle，再安装最新版本paddle（2.1）: python3 -m pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple，注意2.1 版本的paddle 不再支持python27 和python35

[2021-05-27 08:39] dingjiaweiww commented on #33154
请问处理器和操作系统是什么？

[2021-05-27 08:40] dingjiaweiww commented on #33154
麒麟操作系统源码编译方式请参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/arm-compile.html

[2021-05-27 08:44] houj04 commented on #33154
和处理器以及操作系统关系不大。
重点是这个：
在这里 https://github.com/PaddlePaddle/Paddle/blob/develop/python/requirements.txt 没有写需要wheel，但是这里
https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/external/python.cmake#L70 却检查了wheel。

[2021-05-27 09:09] zeronorm opened #33163 "embedding id使用顺序编码可正确训练，而使用稀疏签名 f64模型基本不变（auc 差+不动)"
代码

[code]
- 训练信息
    1）CPU 多机

idx 生成方式
1. OK
[code]
2. 不 ok
[code]

运行方式
[code]

[2021-05-27 09:20] feymanpriv commented on #29362
Hi @qingqing01 , when using paddle2.0.0, cuda10.2 and cudnn8, it throws the same error even the TRT lib is added to LD_LIBRARY_PATH.

[2021-05-27 09:50] yangge-ai opened #33165 "C++ demo预估启动报错出core：Device id must be less than GPU count, but received id is: 0. GPU count is: 0"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：公司内部baidu/lib/paddlepaddle  v2.0.1-gcc82-cuda10.1-cudnn7.6-trt6.0-all_PD_BL
    2）GPU：P4、cuda-10.1和cudnn-7.6版本号
    4）系统环境：公司centos 6.3 内核3.10

-预测信息
    1）C++预测：v2.0.1-gcc82-cuda10.1-cudnn7.6-trt6.0-all_PD_BL
GIT C

[2021-05-27 10:18] TouyaAkira commented on #32377
并没有解决,我是在M1芯片的macbook air上安装了mini-forge的conda,然后创建python3.8的环境,在该环境下想安装paddlepaddle,运行命令:
pip3 install paddlepaddle -i https://mirror.baidu.com/pypi/simple
Looking in indexes: https://mirror.baidu.com/pypi/simple
ERROR: Could not find a version that satisfies the requirement paddlepaddle (from versions: none)
ERROR: No matching distribution found for paddlepaddle

直接就报错了,根本没有安装成功过,还有什么注意点?

[2021-05-27 10:25] pangyoki commented on #33154
感谢反馈。复现了这个问题，如果把环境中的wheel卸载，确实会出现上面编译出错的情况。感觉解决方案可行。

[2021-05-27 10:29] TouyaAkira commented on #32377
paddlepaddle官方安装文档中的pip安装部分写着:
需要确认Python和pip是64bit，并且处理器架构是x86_64（或称作x64、Intel 64、AMD64）架构，目前PaddlePaddle不支持arm64架构。下面的第一行输出的是”64bit”，第二行输出的是”x86_64”、”x64”或”AMD64”即可：

python -c "import platform;print(platform.architecture()[0]);print(platform.machine())"
64bit
arm64

我的M1的macbook air是arm64架构,看文档是不支持的,你们是怎么做到能装的?

[2021-05-27 10:44] pangyoki commented on #33154
`python/requirements.txt`里的软件，是会在编译完paddle后，安装whl包时检查版本并安装。
如果编译的环境里没有`wheel`，即使在`python/requirements.txt`中添加`wheel`，编译仍然会报错。
建议编译出错时，直接pip安装`wheel`。

[2021-05-27 11:07] pangyoki commented on #33154
感谢反馈。复现了这个问题，会在`python/requirements.txt`里添加`wheel`。

[2021-05-27 11:20] juncaipeng commented on #33165
![image](https://user-images.githubusercontent.com/52520497/119817433-8f5c9480-bf20-11eb-886f-abc8add0c512.png)

[2021-05-27 12:30] #29530 closed, assigned to seiriosPlus

[2021-05-27 12:38] yangge-ai commented on #33165
解决了，多谢！

[2021-05-27 12:38] #33165 closed, assigned to yinhaofeng

[2021-05-27 12:42] QingquanBao commented on #32104
paddle 2.1 不再出现这种状况，所以关了

[2021-05-27 12:42] #32104 closed, assigned to MissPenguin

[2021-05-27 13:11] jakpiase opened #33168 "Accuracy issue of fc_lstm_fuse_pass under cpu"
Hi,

I have been informed that our oneDNN LSTM kernel is not being used in ch_ppocr_mobile_v1.1_rec inference model. After investigation I have found that fc_lstm_fuse_pass was temporarily disabled in https://github.com/PaddlePaddle/Paddle/pull/27377) So I have a question, when can we expect that pass to be enabled?

Best Regards,
Jakub

[2021-05-27 13:43] Bigwig-learning opened #33170 ".pb model file convert to Paddlepaddle Error:UserWarning :no variable in your model, please ensure there are any variables in your model to save"
  PaddlePaddle  version：2.1.0
   tensorflow:1.14.0
   python:3.6.9
   OS:Linux 18.04

I randomly generated a ten levels model. When the .pb file of the generated model is converted to the paddlepaddle supported model, it prompts UserWarning. After conversion, there is also lack of  a model.pdiparams file . How can I solve this problem?

generated model:
import keras
from keras.layers import  Input

[2021-05-27 13:47] liwang54321 opened #33171 "Jetson nx 使用paddle inference 2.1 进行ppyolov2的推理 ，报错This error is usually caused by a cudaMemcpyAsync() failur"
- 版本、环境信息：
    1）PaddlePaddle版本：release/2,1
    2）GPU：Jetson nx 版本Jetpack 4.5.1,cuda 10.2 cudnn 8
    4）系统环境:使用 PaddleDetection 中的cpp deloy进行部署ppyolov2
  情况：
 -- 使用cpu进行运行程序不报错，但是使用gpu运行程序报错 log如下；在同样的系统环境、软件环境下，使用Jetson Tx2编译程序不报错，cpu、gpu都能正常运行
 -- 求大神指点一下，谢谢
[code]
[code]

[2021-05-27 14:20] paulpaul91 opened #33175 "bias 如何指定命名"
原pytroch 接口
self.q_bias = nn.Parameter(torch.zeros(1, 1, self.all_head_size))
self.v_bias = nn.Parameter(torch.zeros(1, 1, self.all_head_size))

paddle 中实现
v_bias = fluid.layers.create_parameter(shape=[d_key * n_head], dtype="float32", name=name + "_value_fc.b_0", attr=fluid.ParamAttr(name=name + "_value_fc.b_0", initializer=fluid.initializer.Constant(0.0)), is_bias=False)
不知为何这个变量的名字未符合预期，使用的系统默认

[2021-05-27 14:32] jczaja commented on #33021
@luotao1 ,
While working on this issue I had remove(#33174, still testing) some code you added at https://github.com/PaddlePaddle/Paddle/pull/18580 . My question is do you remember why restoring oneDNN caching was needed as done here:
https://github.com/PaddlePaddle/Paddle/blob/481ee79fc92304f33165f7ed0679f16c36862cea/paddle/fluid/inference/api/analysis_predictor.cc#L332-L335

[2021-05-27 15:36] KwpGitHub opened #33177 "paddle 2.1 在windows10 Anaconda3-2021.05的环境下,一执行model.fit就退出"
paddle 2.1 在windows10 Anaconda3-2021.05的环境下,一执行model.fit就退出，cuda 11.2 cudnn 8.1, vs code 和jupyterlab都一样
试了一下 cuda10.2 的环境也一样，
是什么情况呢？
[I 2021-05-27 23:53:58.281 ServerApp] AsyncIOLoopKernelRestarter: restarting kernel (1/5), keep random ports

无论是2080super的机子，还是3090的机子都出现同样的问题，
是在win10环境下有有什么要配置的，还是什么其实原因，不然你们这bug也太离谱了呀！

看了一个你们2.0和2.1的介绍，本来感觉API之类的好像是够用了，结果........................................

[2021-05-28 01:55] wadefelix commented on #33158
您好，此文档来源于 https://github.com/PaddlePaddle/docs 项目，欢迎star关注此文档项目。

另外，还有https://github.com/PaddlePaddle/book 和 https://github.com/PaddlePaddle/tutorials 项目，也欢迎关注。

[2021-05-28 01:59] wadefelix commented on #33154
貌似还是与操作系统或python什么组件有关系。我ubuntu20上不需要单独安装wheel，但在ubuntu18上需要单独安装下wheel包，另外还有setuptools。

[2021-05-28 02:08] jiweibo commented on #33168
hi, fc_lstm_fuse_pass has accuracy problems under cpu. If the calculation result of fusion_lstm under oneDNNL is correct, you can add fc_lstm_fuse_pass to the pass opened by mkldnn
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/paddle_pass_builder.cc#L221

I will try to fix the accuracy of fusion_lstm under cpu, but it may take some time

[2021-05-28 02:45] luotao1 commented on #33021
I remember it is used to fix a detect model https://github.com/PaddlePaddle/Paddle/pull/18081#issuecomment-502101243 which input dims are dynamic, the model is in `paddle/fluid/inference/tests/api/analyzer_detect_tester.cc`

`config. SetMkldnnCacheCapacity` is used to balance the memory and speed. You can see the following data from the detect model. (#18372)

 | speed(ms) | memory | CacheCapacity

[2021-05-28 02:48] xinsuinizhuan commented on #33171
同问，希望官方给解决一下。创建模型的时候，gpu，'paddle::platform::EnforceNotMet'崩溃，window 10, 一直没法彻底解决。在我本机不知道装了什么后就可以了，但是我放到别的电脑，不行，换了2台其他电脑，都是这个问题。

[2021-05-28 02:50] xinsuinizhuan commented on #33073
建议支持，我们手动下载后，放到指定目录也可以编译。

[2021-05-28 02:54] xinsuinizhuan commented on #32602
使用GPU，EnforceNotMet崩溃问题，麻烦给解决一下呢，一直没法使用gpu做推理，很严重的问题，没法gpu部署。

[2021-05-28 02:56] xinsuinizhuan commented on #33171
https://github.com/PaddlePaddle/Paddle/issues/32602，我的ISSUES，一直有问题，一直不给解决，没法GPU部署，这样这么用呢？

[2021-05-28 03:04] qingchunnianshao commented on #31289
请问有解决吗，本地重新编译了paddle的库，用VS2019 编译的，直接SetModel也不行但是SetModelBuffer是可以的

[2021-05-28 03:07] qingchunnianshao commented on #33022
能直接说明是哪个版本吗这个11.1对应哪个版本，安装包后缀不是指定的是CUDA版本吗

[2021-05-28 03:07] qingchunnianshao commented on #33022
能直接说明是哪个版本吗这个11.1对应哪个版本，安装包后缀不是指定的是CUDA版本吗

[2021-05-28 03:17] xinsuinizhuan opened #33178 "编译，可否提供一版本直接编译时下载国内镜像版的3方库，windows vs2019 vs2017？"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2021-05-28 04:22] littletomatodonkey commented on #33178
你好，感谢你的建议，我们记录下哈，有些库确实下载速度很慢

[2021-05-28 04:38] SunNoJJ opened #33180 "paddle.nn.Conv2D"
conv = paddle.nn.Conv2D(in_channels=3, out_channels=1, kernel_size=3, stride=2, padding=0)
这个卷积的输出，
输出通道数=输入通道数*卷积核个数，
这个outchannels定的值是怎么操作的呀

[2021-05-28 04:43] #33180 closed, assigned to littletomatodonkey

[2021-05-28 05:33] zhujindi opened #33182 "静态图： embedding.sparse=True会报错，改成False就能跑"
动态图 embedding.sparse=True可以跑， 使用paddle.jit.to_static转静态图就会报错，但改成 embedding.sparse=False就能正常跑

环境：
PaddlePaddle版本：2.1
CPU  单机训练
系统环境: win10 python3.8

错误信息：
ValueError: (InvalidArgument) The output variable SparseFeatFactors@GRAD get from RunProgram(Grad)Op's internal scope holds wrong type. Expect type is LoDTensor, but receive type is class paddle::framework::SelectedRows.
  [Hint: Expected src_v

[2021-05-28 05:39] littletomatodonkey commented on #33182
你好，能提供一个可以复现的代码片吗

[2021-05-28 06:06] yinhaofeng commented on #33177
能给一下代码吗？以及具体的报错。目前给的信息上看不出来具体的问题

[2021-05-28 06:11] yeyupiaoling opened #33183 "升级2.1之后多卡训练报错"
原来的2.0.2是正常的，刚刚升级到2.1之后就报这个错误，单卡训练时正常的。
启动代码：`dist.spawn(train, args=(args,))`

[code]

[2021-05-28 06:12] SunAhong1993 commented on #33170
Can you send 10layer-one-two2.pb to sunyanfang01@baidu.com? We will confirm if there are any bugs.

[2021-05-28 06:15] yeyupiaoling commented on #33095
@qili93 我看你给的代码中，如果是多卡训练，为啥要`model._layers`，而不是直接`model`呢？

https://github.com/PaddlePaddle/PaddleNLP/blob/7955b9302c2655aa4d4e10795113f27306dfaa70/examples/language_model/bert/run_glue.py#L394-L396

[2021-05-28 07:07] zhujindi commented on #33182
[import math
import paddle
import paddle.nn as nn
import paddle.nn.functional as F
from paddle.static import InputSpec

class DNNLayer(nn.Layer):
    def __init__(self):
        super(DNNLayer, self).__init__()
        self.sparse_feature_number = 1000
        self.sparse_feature_dim = 32
        self.fc_sizes = [512, 256, 128, 32]

        self.embedding = paddle.nn.Embedding(
            self.sp

[2021-05-28 07:08] zhujindi commented on #33182
`import math
import paddle
import paddle.nn as nn
import paddle.nn.functional as F
from paddle.static import InputSpec

class DNNLayer(nn.Layer):
    def __init__(self):
        super(DNNLayer, self).__init__()
        self.sparse_feature_number = 1000
        self.sparse_feature_dim = 32
        self.fc_sizes = [512, 256, 128, 32]

        self.embedding = paddle.nn.Embedding(
            self.sp

[2021-05-28 07:19] qingchunnianshao opened #33187 "Paddle2.0 SetModel出现错误"
目前使用Win7系统CUDA10.2，下载的预测库是：
cuda10.2_cudnn7_avx_mkl_trt7
由于下载预测库SetModel出现下图1std::bad_alloc错误，自己在电脑上重新编译了预测库但是出现std::length_error错误
但是两个库SetModelBuffer都是能够加载成功的。请问是什么原因？使用的VS2019，VS2015等都测试了都会有这个问题，请问该问题如何解决

<img width="3044" alt="WeChata9034ac32678109cb7c7d396a5b52b09" src="https://user-images.githubusercontent.com/16200499/119944789-4875aa00-bfc7-11eb-906e-9c76d86e4b07.png">
<img width="3026" a

[2021-05-28 07:36] HAOCHENYE commented on #32921
对，的确如此，目前我在复现detr和ViT，为保证Transformer模块复现正确，我让所有layer的weight和bias均为1。我对比了pytorch版本代码和paddle版本的代码(计算逻辑完全一致，我多次对比了中间数据)，每一层都基本相同，直到layernorm层，pytorch和paddle的结果差了很多。我尝试过把layernom的input缩小100倍，的确layernorm不会出现NaN。

尽管现在的网络模型，用xavier或者kaiming，norm初始化不会让layernorm的输入是那么大的值，不会影响大部分网络结构的训练。但是如果从理论出发layernorm是不是不应该出现NaN呢？

[2021-05-28 08:22] liuhuiCNN commented on #33171
你好，感谢反馈。根据信息，初步怀疑是显存溢出的错误，调试思路：（1）请先尝试一下别的模型，看是否同样出现问题；（2）换一张尺寸较小的图像试试。

[2021-05-28 08:48] heavengate commented on #33090
你好，`paddle.vision.ImageFolder`这个是用于预测的时候读取目录下全部图像定义的数据集，不是针对训练或者评估的设计场景，如果是训练或者评估的时候需要标签数据，可以使用`paddle.vision.DatasetFolder`，逻辑和`paddle.vision.ImageFolder`基本一致的，并且包含标签

[2021-05-28 09:00] yinhaofeng commented on #33175
create_parameter这个op本身就有default_initializer参数，可以直接将这个参数设置为default_initializer=paddle.nn.initializer.Constant(value=0)
op相关可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/create_parameter_cn.html#create-parameter

[2021-05-28 09:01] #33175 closed, assigned to yinhaofeng

[2021-05-28 09:01] littletomatodonkey commented on #33182
这块要不上传一个文件？我这边拷贝下来格式都是乱的~

[2021-05-28 09:03] thunder95 opened #33190 "[论文复现] 请问怎么基于参数名称设定学习率"
torch代码是这样的

[code]
貌似paddle不支持这样的写法， 可以怎么改呢？

[2021-05-28 09:04] littletomatodonkey commented on #33183
`paddle.set_device("gpu:0")`修改为`paddle.set_device("gpu")`就行哈

[2021-05-28 09:15] yeyupiaoling commented on #33183
@littletomatodonkey 加了，还是一样的错误，
https://github.com/yeyupiaoling/PaddlePaddle-MobileFaceNets/blob/9a7b55e0716c2447dd0bbb3938bb347fef087bf5/train.py#L159

[2021-05-28 09:18] littletomatodonkey commented on #33187
看使用的是分类模型，要不试下这个repo里的cpp预测部署呢？基于vs2019的话，cpu/gpu/trt应该都是可以的，可以直接下载官网的预测库哈

https://github.com/PaddlePaddle/PaddleClas/blob/release%2F2.1/deploy/cpp_infer/readme.md

[2021-05-28 09:24] yeyupiaoling commented on #33183
@littletomatodonkey 还有以前都没有设置过这个`paddle.set_device("gpu:0")`，这个有啥子用？

[2021-05-28 09:32] xinsuinizhuan commented on #33171
这个不是图像的问题，这个是加载模型的时候，崩溃，还没到推理呢。我是使用的ppocr里面的模型。

[2021-05-28 09:34] xinsuinizhuan commented on #33178
是非常的慢。尝试过很多很多次，都没下载成功过。更更换成了码云的，也不行。建议是可以提供一个第三方库的镜像，或者我们手动下载下来后，放到某个目录下面，也可以编译。

[2021-05-28 09:39] ZiQiangXie commented on #28360
遇到同样的问题，ubuntu16.04，cuda10.0，cudnn7.6.5，显卡驱动版本410.18，安装的paddle版本2.0.2或2.1.0，显卡是2080ti，多卡；
看过其他issue以及网上其他方法，重启过／设置过CUDA_VISILBE_DEVICES/等等都尝试了还是不行；
但是之前在同一个机器上安装过1.8.1版本的没有问题；在使用的其他框架正常使用；
警告信息：
 Compiled with WITH_GPU, but no GPU found in runtime.
You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default.

nvcc -V输出：
nvcc: NVIDIA (R) Cuda compi

[2021-05-28 09:39] ZiQiangXie commented on #28360
遇到同样的问题，ubuntu16.04，cuda10.0，cudnn7.6.5，显卡驱动版本410.18，安装的paddle版本2.0.2或2.1.0，显卡是2080ti，多卡；
看过其他issue以及网上其他方法，重启过／设置过CUDA_VISILBE_DEVICES/等等都尝试了还是不行；
但是之前在同一个机器上安装过1.8.1版本的没有问题；在使用的其他框架正常使用；
警告信息：
 Compiled with WITH_GPU, but no GPU found in runtime.
You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default.

nvcc -V输出：
nvcc: NVIDIA (R) Cuda compi

[2021-05-28 09:41] xinsuinizhuan opened #33193 "GPU，EnforceNotMet崩溃问题，麻烦给解决一下呢，一直没法使用gpu做推理，很严重的问题，没法gpu部署"
关联这个：https://github.com/PaddlePaddle/Paddle/issues/32602

[2021-05-28 09:43] littletomatodonkey commented on #33190
创建ParamAttr的时候，可以指定`learning_rate `的参数

https://github.com/PaddlePaddle/PaddleClas/blob/c471929c18969273936c8b8893e1a4d0645fed7b/ppcls/modeling/architectures/resnet_vd.py#L58

[2021-05-28 10:10] littletomatodonkey commented on #33193
要不先试一下paddle的python推理呢？先确认下是否为环境问题

[2021-05-28 10:10] qingchunnianshao commented on #33187
想问下创建工程的时候必须使用你们 这种make 方式吗？我上面的工程是自己创建工程然后配置的需要的链接库的，这样按理说也不应该有问题吧

[2021-05-28 10:13] littletomatodonkey commented on #33187
不是必须的，只是建议，不过建议先跑下demo 排除环境问题

[2021-05-28 10:14] qingchunnianshao commented on #33187
OK，我先尝试下谢谢

[2021-05-28 10:14] littletomatodonkey commented on #33178
嗯嗯 暂时的解决方案是需要什么库的话，就手动下载并解压到到thirdpqrty目录下，第三方镜像的问题我们记录下～

[2021-05-28 10:16] thunder95 commented on #33190
@littletomatodonkey 这样设置有点麻烦， 能不能对已创建好的网络结构直接循环遍历批量设置？像设置属性那样？

[2021-05-28 10:42] thunder95 commented on #33190
@littletomatodonkey 另外， 在网络层里设置了学习率， 会跟外面optimizer设置的学习率冲突吗？

[2021-05-28 11:01] littletomatodonkey commented on #33190
1. 如果批量修改的话，需要在初始化对所有的Conv2D，Linear等sublayer做create_parameter的操作，在这里面初始化lr
2. 这里面设置的是相对学习率，最终真实的学习率是全局的学习率与该值相乘

[2021-05-28 11:21] qingchunnianshao commented on #33187
<img width="1980" alt="WeChat87ed421fe38585dad76442cfaee9c872" src="https://user-images.githubusercontent.com/16200499/119976525-c6e34380-bfe9-11eb-9b3b-aee98bfcf33c.png">
有点疑惑了，跑这个demo是可以成功的

[2021-05-28 12:13] #33190 closed, assigned to littletomatodonkey

[2021-05-28 12:15] #33020 closed, assigned to Joejiong

[2021-05-28 12:56] KwpGitHub commented on #33177
代码？一就完全你们文档里的《10分钟快速上手飞桨（PaddlePaddle）》
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/01_quick_start_cn.html

错误提示也就是下面一句 ，然后jupyterlab的kernel就停下来了呀！
[I 2021-05-27 23:53:58.281 ServerApp] AsyncIOLoopKernelRestarter: restarting kernel (1/5), keep random ports

[2021-05-28 12:56] liwang54321 commented on #33171
你好，我调整了图片的大小到模型的大小，运行之后还是报这个错误，然后用jtop观察了显存的占用
不运行程序时，系统占用了2.2G的内存，当运行过程中总共占用5.5G的显存，然后总共的内存时8G，换模型的话，我等下在试一下

[2021-05-28 14:13] LielinJiang commented on #33177
你可以把代码放到.py文件里运行下，看下报错信息。或者看jupyter 运行的终端里面的信息也行

[2021-05-28 14:19] littletomatodonkey commented on #33187
嗯嗯，那可能是你导入paddle的时候有点问题，可以参考这个demo中的链接方式修改一下哈

[2021-05-28 14:42] xinsuinizhuan commented on #33193
这个问题，https://github.com/PaddlePaddle/Paddle/issues/33171这个也是同样这个函数崩溃了，我觉得跟环境有关系，但是也是共性问题，应该还是库的问题。我就全新的一台机器，在我本机上编译好的C++推理，下载的官方的预测库，gpu的推理，放过去，就崩溃，cuda10.1,cuda10.0,cuda10.2都试过，都不行，又另外换了一台机器，依然是这个崩溃。应该是库的问题。

[2021-05-28 14:55] littletomatodonkey commented on #33183
使用`paddle.distributed.launch`试下呢？

[2021-05-29 03:58] yeyupiaoling commented on #33183
@littletomatodonkey 使用`paddle.distributed.launch`还是报错，而且这个方法启动没有之前那个简单，您还是教我如何解决上面的错误吧？2.0.2是正常的，2.1就不行了，这没理由的，是2.1有哪些改动了吗？没有也没见要做什么处理呢？

[code]

[2021-05-29 04:16] littletomatodonkey commented on #33183
你要不弄一个简单的代码片和复现命令，我这边先复现下？我用distributed.launch没遇到过啥问题~

[2021-05-29 04:24] littletomatodonkey commented on #32602
要不先试下下面的demo，看下能否正常运行吧，先排除下环境问题

https://github.com/PaddlePaddle/PaddleClas/blob/release%2F2.1/deploy/cpp_infer/readme.md

[2021-05-29 04:30] yeyupiaoling commented on #33183
@littletomatodonkey 安装命令和复现代码

[code]

[code]

[2021-05-29 05:26] littletomatodonkey commented on #33183
你好，刚才复现了这个问题，可以改一下paddle安装目录的这个文件：

/usr/local/lib/python3.7/site-packages/paddle/distributed/spawn.py

把下面这句话

https://github.com/PaddlePaddle/Paddle/blob/e90f3006399dae029af6a01dffe459540d605267/python/paddle/distributed/spawn.py#L455

[code]

修改为
[code]

感谢反馈，我们修复下

[2021-05-29 07:15] dercaft opened #33200 "Paddle2.1 set_device("gpu") 并使用Dataloader 出现 Segmentation fault 错误"
**set_device("cpu") 则正常运行，不设置或者 set_device("gpu") 就会出现Segmentation fault**

我在aistudio和自己的服务器上都出现了同样的问题
环境：
- aistudio
  - OS: Ubuntu 16.04
  - Python version: 3.7.4
  - CUDA version: 10.1.243
  - cuDNN version: 7.3.1
  - Nvidia driver version: 418.67
  - Paddle version: 2.1.0
  - Paddle With CUDA: True

- 本地服务器
  - OS: Ubuntu 18.04
  - Python version: 3.6.9
  - CUDA version: 10.2.89
  - cuDNN ver

[2021-05-29 11:27] #33058 closed, assigned to haozech, zhwesky2010

[2021-05-29 14:37] liwang54321 opened #33201 "你好，感谢反馈。根据信息，初步怀疑是显存溢出的错误，调试思路：（1）请先尝试一下别的模型，看是否同样出现问题；（2）换一张尺寸较小的图像试试。"
你好，感谢反馈。根据信息，初步怀疑是显存溢出的错误，调试思路：（1）请先尝试一下别的模型，看是否同样出现问题；（2）换一张尺寸较小的图像试试。

_Originally posted by @liuhuiCNN in https://github.com/PaddlePaddle/Paddle/issues/33171#issuecomment-850243700_

我换了成了在jetson tx2上能够用gpu正常运行的模型，然后在jetson nx 上运行，还是报错了，然后这个错误发生在cpu copy 到gpu的时候，就一直卡死，然后就报错了 cureslove 报错返回值为 7

[2021-05-29 15:27] liwang54321 opened #33202 "ppyolov2导出onnx失败，"
你好，我在文档中看到ppyolov2在op 11下是支持导出为onnx模型，然后我按教程步骤操作但是导出失败了，提示有三个算子不支持，请问这个是怎么回事呢？
导出命令
[code]
log
[code]

[2021-05-29 16:11] wj-Mcat opened #33203 "python code suggestion: there should be linting tools to keep code align with great rules"
After review the python api code, I found that there are some features which can be improved:

* **Function Annotations**

    Python is a dynamic program language which can determine the data type during runtime. But it will weak the intelligent code intelligence tips. This is not a pleasant programming experience, right？But python has supported the function annotations which can make code more r

[2021-05-30 02:45] yeyupiaoling commented on #33183
@littletomatodonkey 我改了环境的代码，没有报上面的错误，但是出现了下面的错误。

[code]

[2021-05-30 03:17] wuxianshen opened #33204 "notebook中无法屏蔽报警"
使用如下代码无法在notebook中屏蔽报警：
import warnings
warnings.filterwarnings('ignore', category=Warning)

持续输出numpy的Deprecation报警：
![image](https://user-images.githubusercontent.com/21985528/120090872-880fd380-c138-11eb-9510-7d68294dfad3.png)

[2021-05-30 03:34] tink2123 commented on #33204
可以用这个方法尝试屏蔽所有的warning输出
[code]

[2021-05-30 03:40] weihongwei-zg commented on #32627
同样的问题

[2021-05-30 03:49] wuxianshen commented on #33204
您好，确实加了，python文件、notebook命令行中都加了：
![image](https://user-images.githubusercontent.com/21985528/120091354-fd7da300-c13c-11eb-856f-96bb77b434d5.png)

![image](https://user-images.githubusercontent.com/21985528/120091362-053d4780-c13d-11eb-921a-3890a7f94824.png)

项目地址：https://aistudio.baidu.com/aistudio/projectdetail/2012026

[2021-05-30 03:55] wuxianshen opened #33205 "DataLoader多进程加载数据报错"
设置DataLoader的num_workers=4，执行训练过程，退出时报错：

![image](https://user-images.githubusercontent.com/21985528/120091434-aa582000-c13d-11eb-9164-9e41dc57ea8b.png)

如果训练epoch数较少（例如epoches=2），退出时不报错，epoches较多时报错；

项目地址：
https://aistudio.baidu.com/aistudio/projectdetail/2012026

[2021-05-30 04:16] tink2123 commented on #33205
建议先把num_worker设置成0，看下具体报错信息。

发自网易邮箱大师
在2021年05月30日 11:55，wuxianshen 写道：

设置DataLoader的num_workers=4，执行训练过程，退出时报错：

如果训练epoch数较少（例如epoches=2），退出时不报错，epoches较多时报错；

项目地址：
https://aistudio.baidu.com/aistudio/projectdetail/2012026

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-30 04:41] Bigwig-learning commented on #33170
I sent the  10layer-one-two2.pb  file to you using  jiezhang2183@gmail.com this mailbox, please check it,thank you

[2021-05-30 05:37] MissPenguin commented on #33200
您好，先验证下paddle是否正确安装吧，参考如下方式：
![image](https://user-images.githubusercontent.com/25809855/120093292-d7abca80-c14b-11eb-832d-2f3eb7365434.png)

如果验证发现没有成功安装，那么一般是环境版本问题，确认下环境的cuda cudnn trt版本和下载预测库对应的依赖版本一致。

[2021-05-30 05:40] MissPenguin commented on #33201
您好，看了您之前提的那个issue，可以尝试换成cudnn7.6试试

[2021-05-30 05:52] jiangjiajun commented on #33202
@liwang54321 你好，在导出ppyolov2模型时，请注意使用PaddleDetection 2.1的release，在此前的PaddleDetection版本中，保存ppyolov2模型时会保存控制流分支，导致无法转成ONNX。

使用PaddleDetection2.1的release即可解决该问题，参考此文档https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/EXPORT_ONNX_MODEL.md

[2021-05-30 07:01] zhujindi commented on #33182
[net2.zip](https://github.com/PaddlePaddle/Paddle/files/6565839/net2.zip)

[2021-05-30 08:42] zhy2021 opened #33206 "飞腾2000麒麟V10编译PaddelPaddel，cmake build protobuf一直报错是怎么回事？？？"
报错代码：
`Install the project...
-- Install configuration: "Release"
-- Installing: /home/greatwall/myPro/Paddle/build/third_party/install/protobuf/lib/libprotobuf-lite.a
-- Installing: /home/greatwall/myPro/Paddle/build/third_party/install/protobuf/lib/libprotobuf.a
-- Installing: /home/greatwall/myPro/Paddle/build/third_party/install/protobuf/lib/libprotoc.a
-- Installing: /home/greatwall/myPro/Pad

[2021-05-30 08:54] tink2123 commented on #33204
在终端里运行的时候可以屏蔽掉吗？

[2021-05-30 08:58] tink2123 commented on #33206
可能是网络的问题，建议删除 build/third_party 目录，并添加代理重新编译。

[2021-05-30 09:09] tink2123 commented on #33204
在dataloader文件中添加 ignore 可以屏蔽掉：
vim /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dataloader/dataloader_iter.py
![image](https://user-images.githubusercontent.com/31891223/120098645-b2c65000-c169-11eb-9c1c-4f8cb317c3f2.png)

![image](https://user-images.githubusercontent.com/31891223/120098618-84487500-c169-11eb-9ede-54f68549bfb0.png)

[2021-05-30 10:25] wuxianshen commented on #33204
好的，确实在这里修改后就不会报错了，谢谢！

[2021-05-30 10:25] #33204 closed

[2021-05-30 12:26] wuxianshen commented on #33205
您好，现在问题是num_worker=0，不出现这个问题，能运行完成...
但是num_worker=0太慢了...
num_worker=4的时候就会出现！

[2021-05-31 00:26] xinsuinizhuan commented on #32602
opencv是自己编译的。剩下的就是按照这个demo走的，就是cpu可以，gpu在EnforceNotMet崩溃。

[2021-05-31 00:42] #33022 closed, assigned to Joejiong

[2021-05-31 01:06] lytning98 opened #33208 "Conda 虚拟环境中 cuDNN 版本获取问题"
您好，

我在使用 Conda 安装 paddlepaddle 2.0 后运行检测，结果显示

[code]

此时的主要环境为
[code]

可见 Conda 环境中的 cudnn 应为 7.6.5 版本，与 `paddle.utils.run_check()` 给出的结果不符；此版本号为我本地主机安装的 cuDNN 版本 7.4 （in `/usr/local/cuda/include/cudnn.h`）

更换 paddlepaddle 版本为 1.8.5，仅对 conda 虚拟环境进行如下操作：

[code]

此时运行 `paddle.fluid.install_check.run_check()` 的输出提示 paddle 找到的 cuDNN 又变为了 conda 虚拟环境中的版本（in `**/anaconda3/envs/ENV_NAME/include/cudnn.h

[2021-05-31 02:34] ZiQiangXie opened #33209 "安装问题：Compiled with WITH_GPU, but no GPU found in runtime."
安装环境信息：ubuntu16.04，cuda10.0，cudnn7.6.5，显卡驱动版本410.18，安装的paddle版本2.0.2或2.1.0，显卡是2080ti，多卡，pip离线安装，python版本3.8.5，anaconda环境；
进入python环境后，import　paddle，出现警告信息：
W0531 10:12:09.354604  8224 init.cc:136]　Compiled with WITH_GPU, but no GPU found in runtime.
path/site-packages/paddle/fluid/framework.py:298:　UserWarning:　You are using GPU version Paddle, but your CUDA device is not set properly. CPU device

[2021-05-31 02:36] severous opened #33210 "torch.repeat_interleave对应的Paddle 函数"
paddle是否提供了如torch.repeat_interleave和numpy.repeat这样的api。实现的功能如下所示：
[code]

如果没有，在前向传播过程中，是否可以将其转换成numpy，使用numpy的repeat,然后转换成tensor，这样会影响反向传播吗
如a -> b -> c，现在变成a -> b -->b_numpy-->b_tensor->c,这样会影响反向传播吗

[2021-05-31 02:41] jesen8 commented on #31495
@yilvshifeng check you environment, my machine is ubuntu18.04, now is ok. make sure nccl is installed!!!
my cuda is 10.2
[code]

[2021-05-31 03:04] tink2123 commented on #33205
在aistudio中，因为共享内存小的原因，暂时没有办法设置num_worker > 0

[2021-05-31 03:41] chenwhql commented on #33183
只改了上面说这一处，报错就是这样的吗？我这里现象不太一样

[2021-05-31 03:41] yeyupiaoling commented on #33183
@chenwhql 是的哦。

[2021-05-31 03:57] chenwhql commented on #33183
基于你给的示例，我改了一个版本，本地测试可以跑

[code]

你的示例里有几处问题，统一说下：
1. dataset用错，你用是老的dataset，属于要废弃的写法，也不能接入dataloader，需要使用vision下Cifar10 dataset，可以设定transform的规则，如上；
2. 这是多卡程序，dataset需要用DistributedBatchSampler进行拆分，不然每张卡得到的数据都是一样的，如上；
3. learning_rate写错了，只能是浮点数或者LRScheduler，改了下；
4. spawn不推荐用os.environ这种方式选择卡，请使用`nprocs`，或者进一步结合参数`gpus`进行选择。

[2021-05-31 04:00] yeyupiaoling commented on #33183
@chenwhql 上面的同学要我复现这个问题，我就简单写了一个，我实际的项目是这个：https://github.com/yeyupiaoling/PaddlePaddle-MobileFaceNets/blob/master/train.py

这个我在项目中改一下。

[2021-05-31 04:02] chenwhql commented on #33183
好的，如spawn文档中示例介绍
![image](https://user-images.githubusercontent.com/22561442/120137950-00919580-c208-11eb-9a98-260d3fa3c544.png)

[2021-05-31 04:39] rfdeng opened #33216 "grid_sample的gpu和cpu版本结果不一致"
背景：torch模型转paddle，发现grid_sample在cpu上跑和torch的api能对齐，但是gpu版本结果全0。

- 版本、环境信息：
PaddlePaddle版本：2.0.2
torch版本：1.4和1.8都试过

使用的api：
torch.nn.functional.grid_sample(input, grid, mode='bilinear', padding_mode='zeros', align_corners=None)
paddle.nn.function.grid_sample(x, grid, mode='bilinear', padding_mode='zeros', align_corners=True, name=None)

问题：
同样的输入时，使用gpu时，执行torch.nn.functional.grid_sample(input, g

[2021-05-31 05:38] jzhang533 opened #33219 "DataLoader 在num_worker=0时，配合ToTensor使用时segment fault。"
环境信息（by running : https://raw.githubusercontent.com/PaddlePaddle/Paddle/develop/tools/summary_env.py)
****************************************
Paddle version: 2.1.0
Paddle With CUDA: True

OS: Ubuntu 16.04
Python version: 3.7.4

CUDA version: 10.1.243
cuDNN version: 7.3.1
Nvidia driver version: 450.51.06
****************************************

复现脚本

https://gist.github.com/jzhang533/fd55249e50a5

[2021-05-31 05:43] jzhang533 commented on #33219
cc: @heavengate @saxon-zh

[2021-05-31 06:23] yeyupiaoling commented on #33183
修改PaddlePaddle源码：
[code]
修改为
[code]

数据读取改成：
[code]

问题解决

[2021-05-31 06:23] #33183 closed, assigned to littletomatodonkey

[2021-05-31 06:38] wanghaoshuang commented on #33216
### cudnn

在align_corners=True, mode == 'bilinear' and padding_mode == 'zeros'情况下，paddle底层调用的是cudnn的实现，如果没有安装cudnn，则走的是非cudnn实现。
非cudnn实现目前有已知的bug，在input size比较大时，计算结果不符合预期，该问题正在修复中：https://github.com/PaddlePaddle/Paddle/pull/33100

### align_corners
在torch中， align_corners默认为False : https://pytorch.org/docs/master/generated/torch.nn.functional.grid_sample.html#torch.nn.functional.grid_sample
而你在pa

[2021-05-31 06:53] rfdeng commented on #33216
感谢回复：
1. 关于cudnn，我想我这边应该是成功使用了cudnn的，代码运行的时候有这么两行输出：
W0531 14:46:55.090055 15767 device_context.cc:362] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 10.2, Runtime API Version: 10.1
W0531 14:46:55.096124 15767 device_context.cc:372] device: 0, cuDNN Version: 7.6.

2. paddle和torch的align_corners默认值不一样，我是在做模型转换，得保持输出一致，所以特地在运行的时候，把align_corners都取False了。

所以我的case应该是align_co

[2021-05-31 06:57] xishanhan opened #33220 "想知道训练chinese_ocr_db_crnn_server模型的训练数据集是什么"
请告诉我可公开的部分训练数据就可以了，谢谢。

[2021-05-31 07:02] wanghaoshuang commented on #33216
因为`align_corners=False`，所以底层应该是非cudnn的版本。你方便确认下`grid_sample(input, grid, mode='bilinear', padding_mode='zeros', align_corners=None)`中`input`和`grid`的shape么？如果~grid.shape[0]*grid.shape[1]*grid.shape[3]/512 > 1024~ `grid.shape[0]*grid.shape[1]*grid.shape[2]/512 > 1024`就会触发bug： https://github.com/PaddlePaddle/Paddle/pull/33100

如果触发了bug就需要等Paddle2.1.1版本中的修复，或者等我merge了PR  https://github.com/PaddlePaddl

[2021-05-31 07:08] Zhangts98 opened #33222 "No CUDA toolset found"
gpu:  GeForce RTX 2080
cuda: 10.0
cmake : 3.16
cmake 命令： cmake .. -G "Visual Studio 14 2015" -A x64 -T host=x64 -DCMAKE_BUILD_TYPE=Release -DWITH_MKL=ON -DWITH_GPU=ON -DON_INFER=ON -DWITH_PYTHON=OFF -DCUDA_TOOLKIT_ROOT_DIR='C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v10.0'

问题： 1. 如何解决 No CUDA toolset found
             2. 支持编译debug版本的预测库么

使用上述cmake命令能够成功编译release/1.8 的预测库， 但是在编译relea

[2021-05-31 07:10] rfdeng commented on #33216
谢谢大佬，我刚才看了下grid.shape[0]*grid.shape[1]*grid.shape[3]/512是20，没有超过1024，但是input的维度是超过了1024的，input shape过大也会触发bug么？

将pytorch和paddle的align_corners都设置为True是一个解决方案，但是我这边torch模型已经训好了，如果能直接align_corners=False的情况对齐是更好的。

[2021-05-31 07:17] wanghaoshuang commented on #33216
抱歉，应该是 grid.shape[0]*grid.shape[1]*grid.shape[2]/512

[2021-05-31 07:20] rfdeng commented on #33216
好的好的，那确实超了

[2021-05-31 07:20] #33216 closed, assigned to wanghaoshuang, ZHUI

[2021-05-31 07:22] heavengate commented on #33201
您好，jetson nx上Paddl'e版本，CUDA版本和cuDNN版本是否匹配呢

[2021-05-31 07:38] jiweibo commented on #32602
您要不先试一下，使用不带trt的windows gpu库，从跑下demo呢，怀疑是没找到对应版本的trt挂了出来

[2021-05-31 07:45] MissPenguin commented on #33220
您好，chinese_ocr_db_crnn_server模型来源于[PaddleOCR](https://github.com/PaddlePaddle/PaddleOCR)，所使用的训练数据可参考这条[FAQ](https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.1/doc/doc_ch/FAQ.md#q324%E5%BC%80%E6%BA%90%E6%A8%A1%E5%9E%8B%E4%BD%BF%E7%94%A8%E7%9A%84%E8%AE%AD%E7%BB%83%E6%95%B0%E6%8D%AE%E6%98%AF%E4%BB%80%E4%B9%88%E8%83%BD%E5%90%A6%E5%BC%80%E6%BA%90)：

![image](https://user-images.githubuserconten

[2021-05-31 07:46] ZHUI commented on #33208
建议 不要混用 pip install paddlepaddle 和 conda install paddlepaddle.
conda install paddlepaddle 会优先按照 conda 环境配置。
pip install paddlepaddle 只会按照系统环境变量配置。

[2021-05-31 07:48] jiweibo commented on #33222
1. 如何解决 No CUDA toolset found
您好，怀疑您的cuda环境被改了，方便重装下cuda吗，或者装个高版本的cuda比如cuda10.2，cuda的 Visual studio integration也要装下。这个问题的原因比较多，一般是环境问题，不太好debug，最好的方式就是卸载重装吧。
2. 支持编译debug版本的预测库么
目前还不太建议编译debug版本的库，一方面会导致库体积过大，另一方面有一些第三方库都是直接下载的release版本，使用起来可能有冲突

[2021-05-31 07:52] xishanhan commented on #33220
感谢回复。

[2021-05-31 07:52] #33220 closed, assigned to ZHUI, MissPenguin

[2021-05-31 07:55] ZHUI commented on #33210
1. 应该没有对应的，可以尝试通过 reshape 和 tile 组合实现 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/tile_cn.html#tile
2. 转numpy是不可行的，没有梯度回传。

[2021-05-31 07:59] ZHUI commented on #33209
建议
1. 先 pip 重装一下 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html
2. 查看系统环境变量是否设置正确。
3. 使用conda 的cuda环境重装，conda install paddlepaddle-gpu==2.1.0 cudatoolkit=10.1 --channel https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/

[2021-05-31 08:02] Zhangts98 commented on #33222
1. 可是我现在还是能正常编译1.8版本的。我再找找其他方法， 如果都不行的话就只好重装一下了。
2. 因为一些原因，需要我编译debug版本的， 如果要编译debug版的话， 除了需要把cmake命令的 -DCMAKE_BUILD_TYPE为Debug，那些第三方库下载debug版本的，还有其他地方要修改和注意的么？
3. 然后就是，例如这个gflags.cmake，set(GFLAGS_TAG .....) 那行是控制下载版本的么？
![企业微信截图_16224483833846](https://user-images.githubusercontent.com/61573829/120161933-73ac0380-c22a-11eb-8c13-4d5dbfa2eb47.png)

[2021-05-31 08:26] lytning98 commented on #33208
您好，我在安装时全程使用的是 conda 安装，issue 中给出的环境信息都是 conda 的环境

[2021-05-31 08:30] crazyxiaoj commented on #32926
Is anybody there?

[2021-05-31 09:28] Aurelius84 commented on #33182
如果只是想导出预测模型的话，@zhujindi 可以将模型的 forward 函数上的 to_static代码移动到 `jit.save` 那里：
[code]

尝试下是否可以解决你的问题。

另外，关于上面的训练报错，看起来是 `run_program_op` 不支持 SelectedRows 类型，这个我们会确认下并尽快支持。

[2021-05-31 09:49] severous commented on #33210
好的，谢谢解答

[2021-05-31 10:10] dingjiaweiww commented on #32377
M1 都是arm64架构的，试下用mac 自带的python环境安装paddlepaddle，看看这样能成功吗

[2021-05-31 11:38] srforever commented on #31459
请问这个问题是否已解决？我司在利用某些平台桌面端软件内置的python环境进行paddle调用，希望可以在该桌面端软件中集成paddle的深度学习能力，遇到了重复弹窗的相似问题。另在paddle开发者论坛上也有人遇到[相似问题](https://aistudio.baidu.com/paddle/forum/topic/show/964945)

[2021-05-31 11:39] srforever commented on #31459
请问这个问题是否已解决？我司在利用某些平台桌面端软件内置的python环境进行paddle调用，希望可以在该桌面端软件中集成paddle的深度学习能力，遇到了重复弹窗的相似问题。另在paddle开发者论坛上也有人遇到[相似问题](https://aistudio.baidu.com/paddle/forum/topic/show/964945)

[2021-05-31 11:56] #29066 closed, assigned to wanghaoshuang

[2021-05-31 12:14] xinsuinizhuan commented on #32602
试过的。刚开始使用的是10.1带trt的，后面后换成了10.0不带trt的，仍然不行。就在在这个EnforceNotMet崩溃。

[2021-05-31 12:50] zhy2021 commented on #33206
我之前用的1.6版本的，换到了1.8版本，编译成功可以运行了

[2021-05-31 14:47] wuxianshen commented on #33205
找到原因了，只要在主进程中调用过time.perf_counter()函数，num_worker>0时程序退出时就会报DataLoader的错误，大佬知道为啥吗

[2021-05-31 15:05] xinsuinizhuan commented on #32602
刚是了cuda10 不带trt版本，现在又换成了cuda10.1 带rt的，崩溃后，继续执行，报这个错，堆栈溢出：
![图片](https://user-images.githubusercontent.com/40679769/120212458-99ee9500-c264-11eb-9f21-f00eb0654bb1.png)

[2021-05-31 15:18] wuxianshen commented on #33205
还有要把use_shared_memory设置成False

[2021-05-31 15:36] xinsuinizhuan commented on #32602
https://www.cnblogs.com/dzqiu/p/9518190.html

[2021-05-31 15:36] xinsuinizhuan commented on #32602
https://blog.csdn.net/PaddlePaddle/article/details/86739880

[2021-05-31 15:47] xinsuinizhuan commented on #32602
0x00007FFA0CAB62D1 (paddle_inference.dll)处(位于 xxx.exe 中)引发的异常: 0xC0000005: 读取位置 0x0000000000000000 时发生访问冲突。

[2021-05-31 15:49] xinsuinizhuan commented on #32602
PaddlePaddle运行时出现EnforceNotMet: Enforce failed错误:

    问题解决
    PaddlePaddle的label要从0开始递增。

def getdata():
    def reader():
        for i in range(len(data_y)):
            yield np.array(data_X[i]).astype('float32'), np.array(data_y[i]- 3).astype('int64')
    return reader
 这是在哪里改？

[2021-06-01 00:39] xinsuinizhuan commented on #33193
![图片](https://user-images.githubusercontent.com/40679769/120251623-b1ee0500-c2b4-11eb-943f-c6b16f274490.png)
应该是内存访问导致的问题，是库的问题，您看看，百度一下，导出都是这个问题：
0x00007FFA0CAB62D1 (paddle_inference.dll)处(位于 xxx.exe 中)引发的异常: 0xC0000005: 读取位置 0x0000000000000000 时发生访问冲突。
https://www.cnblogs.com/dzqiu/p/9518190.html
https://blog.csdn.net/PaddlePaddle/article/details/86739880
PaddlePaddle运行时出现EnforceNotMet: Enforce

[2021-06-01 00:39] xinsuinizhuan commented on #33193
麻烦帮忙解决一下，很着急。现场部署，没法用。

[2021-06-01 00:53] xinsuinizhuan commented on #33201
图片
应该是内存访问导致的问题，是库的问题，您看看，百度一下，导出都是这个问题：
0x00007FFA0CAB62D1 (paddle_inference.dll)处(位于 xxx.exe 中)引发的异常: 0xC0000005: 读取位置 0x0000000000000000 时发生访问冲突。
https://www.cnblogs.com/dzqiu/p/9518190.html
https://blog.csdn.net/PaddlePaddle/article/details/86739880
PaddlePaddle运行时出现EnforceNotMet: Enforce failed错误:

问题解决
PaddlePaddle的label要从0开始递增。

def getdata():
def reader():
for i in range(len(data_y)):
yiel

[2021-06-01 00:57] xinsuinizhuan commented on #33200
https://my.oschina.net/u/4067628/blog/4767067看看这个博客，不是环境问题，是内存越界问题，大家都遇到了这个问题，一直让我们测试环境，所有可能的环境都测试过了，cuda10 cuda10.1，带trt的，不带的，都测试过。就是内存访问越界。

[2021-06-01 01:08] xinsuinizhuan opened #33233 "windows GPU PaddlePaddle运行时出现EnforceNotMet: Enforce failed错误:"
我cuda10 不带trt, cuda10.1 带trt， cuda10.2带trt都试过了，都是这个问题，应该是读取某个空地址了，库的内存访问越界问题：
0x00007FFA0CAB62D1 (paddle_inference.dll)处(位于 xxx.exe 中)引发的异常: 0xC0000005: 读取位置 0x0000000000000000 时发生访问冲突。
百度了一下，很多同学遇到了，我的问题，应该跟如下这各同学遇到的一样，但是不知道怎么改：
https://my.oschina.net/u/4067628/blog/4767067

[2021-06-01 02:00] lleesg commented on #30387
更新至2.1，问题解决

[2021-06-01 02:00] #30387 closed, assigned to yaoxuefeng6

[2021-06-01 02:01] #28505 closed, assigned to 123malin

[2021-06-01 02:16] wadefelix commented on #33178
第三方库也可以建立本地mirror镜像，不在paddle目录内方便随时清理paddle build目录。然后修改相应库的地址为本地地址即可。

比如可以把所有第三方库提前clone到 `/path/to/gitmirror/` 目录下。如果您有nas之类的服务器设备，在其上建立git仓库mirror是非常合适的，参考 https://github.com/wadefelix/Paddle/commit/b4c03bbb1450424a069813511639686b6b36fa67

[2021-06-01 02:29] tink2123 commented on #33205
主要是 aistudio 共享内存小，不建议把 num_worker 设置大于0。同理 use_shared_memory 不建议设成True

[2021-06-01 02:47] joey12300 commented on #33233
您好，请问你的预测库版本是多少，跑什么模型，方便提供代码吗？

[2021-06-01 02:51] zhujindi commented on #33182
这种写法可以工作，我先这样用，谢谢

[2021-06-01 02:51] #33182 closed, assigned to littletomatodonkey

[2021-06-01 03:02] xinsuinizhuan commented on #33233
版本库代码我试过2.0.1版本，试过2.1.0版本，都是同样的问题，模型的话，跑过官方的中英文通用OCR模型（143.4M），也跑过自己使用server版训练转换的库，使用的是，动态图版本里面的cpp下面的C++代码跑的

[2021-06-01 03:03] xinsuinizhuan commented on #33233
我这边有环境，可以远程帮忙排查吗？向日葵

[2021-06-01 03:04] xinsuinizhuan commented on #33233
代码的话，是使用的官方https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.1/deploy/cpp_infer下的代码，然后封装的。

[2021-06-01 03:12] YixinKristy commented on #33203
Thanks so much for offering such insightful suggestions.

PaddlePaddle team appreciate all of your ideas and will take your suggestions into consideration. Additionally, we are very welcomed contributions in any kind of formats, so if you want, you could join our [SIG (Special Interest Group) ](https://www.paddlepaddle.org.cn/sig)to contribute for PaddlePaddle along with other excellent developers

[2021-06-01 03:14] #24610 closed, assigned to nobody

[2021-06-01 03:14] #24645 closed, assigned to nobody

[2021-06-01 03:14] #24659 closed, assigned to nobody

[2021-06-01 03:14] #24753 closed, assigned to nobody

[2021-06-01 03:14] #24758 closed, assigned to wanghaoshuang

[2021-06-01 03:14] #24760 closed, assigned to nobody

[2021-06-01 03:14] #24780 closed, assigned to nobody

[2021-06-01 03:27] wj-Mcat commented on #33203
@YixinKristy Ok, I will try to fix the exisiting issue to become the sig member. Thanks for your reply.

[2021-06-01 03:53] yoyao1 opened #33239 "windows下2.1版预测库启动报错，无法定位程序输入点dnnl_reduction_desc_init于动态链接库paddle_inference.dll上"
无法定位程序输入点dnnl_reduction_desc_init于动态链接库paddle_inference.dll上
2.0版没有问题

GIT COMMIT ID: 4ccd9a0a86ad550a861c954d70e28ef15741b310
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
CUDA version: 10.2
CUDNN version: v7.6
CXX compiler version: 19.16.27045.0
WITH_TENSORRT: ON
TensorRT version: v7

[2021-06-01 03:54] joey12300 commented on #33239
您好，请问是跑什么模型呢？

[2021-06-01 05:03] lidanqing-vv commented on #32311
Close this issue since most models perf are better, and two models per are being fixed using oneDNN v2.3. Other two models are being fixed by adding "split" support

[2021-06-01 05:03] #32311 closed, assigned to lidanqing-vv

[2021-06-01 05:05] #28522 closed, assigned to wzzju, juncaipeng

[2021-06-01 05:06] lidanqing-vv commented on #31007
Nobody fix it locally

[2021-06-01 05:06] #31007 closed, assigned to luotao1

[2021-06-01 05:08] lidanqing-vv commented on #22543
Hi, @jczaja is reshape and reshape2 recently added during BF16 training enabling?

[2021-06-01 05:34] lidanqing-intel commented on #33005
@jczaja  Could you please check this issue? Is it ok to not call MKLDNN_SHARED_LIB_1 and MKLDNN_SHARED_LIB_2 and use one unified ?

[2021-06-01 05:38] lidanqing-vv opened #33240 "[QA test request] BF16 training test document"
BF16 word2vec training testing and bug fixing is on going. Could you please according following documents, test and generate word2vec benchmark model FP32 training logs. So that we could use it as reference for word2vec BF16 training accuracy comparison. Thank you very much !

[2021-06-01 05:49] lidanqing-intel commented on #33240
Procedure to run word2vec training fp32 CPU version:

First clone the repo https://github.com/PaddlePaddle/PaddleRec.git
cd models/recall/word2vec/benchmark

Download the test data
./benchmark_data.sh

Run FP32 training
python -u ../../../../tools/static_ps_trainer.py -m benchmark.yaml

[2021-06-01 05:53] lidanqing-vv commented on #31645
[BF16_test_reproduction.md](https://github.com/PaddlePaddle/Paddle/files/6573686/BF16_test_reproduction.md)

[2021-06-01 05:58] ZiQiangXie commented on #33209
非常感谢！第一种方法，在安装命令后面那个网址找到了安装包，解决了。之前也想找到paddle带cuda版本的安装包，一直没找到。
顺便问一下，在那个网址里面，没有找到2.1.0的paddle对应的cuda 10.0版本的安装包，paddle后面的版本是不再支持cuda 10.0了吗？还是后续会更新支持cuda10.0的安装包？

[2021-06-01 06:09] lidanqing-vv commented on #33005
@luotao1
![image](https://user-images.githubusercontent.com/47151829/120274639-b3362680-c2e2-11eb-83f1-7a2c098e14f4.png)

Paddle 里面下载的这三个库都是一样的，其实只要保留so.2就可以了，这个三个库一样的。当时是因为要兼容性吗？那其他的名字的话链接过去就可以了

胡英建议这样就可以：
[code]

[2021-06-01 06:11] lidanqing-vv commented on #33005
因为最新oneDNN 版本是oneDNN v2.2.2 了,过几天会升级到v2.3
现在你们先改一下，等过几天我们升级的时候连库包的名字也升级。这样可以吗？

[2021-06-01 06:21] yingshengBD commented on #33233
您好，能否提供完整的stack信息

[2021-06-01 06:37] yoyao1 commented on #33239
跑分割的模型，不过这个是启动程序时就报错，还没到加载模型的地方

[2021-06-01 06:49] joey12300 commented on #33239
嗯嗯，辛苦提供一下脚本代码以及详细的报错信息

[2021-06-01 07:06] yoyao1 commented on #33239
是c++的程序，代码类类似于官方的预测demo

[2021-06-01 07:07] ZiQiangXie commented on #33209
非常感谢！第一种方法，在安装命令后面那个网址找到了安装包，解决了。之前也想找到paddle带cuda版本的安装包，一直没找到。
顺便问一下，在那个网址里面，没有找到2.1.0的paddle对应的cuda 10.0版本的安装包，paddle后面的版本是不再支持cuda 10.0了吗？还是后续会更新支持cuda10.0的安装包？

[2021-06-01 07:10] joey12300 commented on #33239
嗯嗯，这边是跑的PaddleSeg的demo吗？麻烦提供一下可复现的代码以及详细的报错信息，有助于快速定位问题

[2021-06-01 07:15] xiegegege commented on #33171
你好，我这里试着运行了下demo图片是正常的，具体的运行环境是：
Jetson nx 版本Jetpack 4.5.1,cuda 10.2 cudnn 8 ；paddle预测库2.1 https://paddle-inference-lib.bj.bcebos.com/2.1.0-nv-jetson-jetpack4.4-all/paddle_inference.tgz ；paddle detection:release/2.1 ；cmake: 3.19.7
![image](https://user-images.githubusercontent.com/46314656/120280495-52125100-c2ea-11eb-814c-92493689bb23.png)

[2021-06-01 07:25] xiegegege commented on #33171
@liwang54321 可以用我提供的预测库试一下

[2021-06-01 07:45] caojinpei opened #33253 "win10+paddle_inference部署问题"
问题：每次启动工程，tensorrt都会重新生成一遍tensorrt模型，并且生成速度很慢，ubuntu环境下不会出现此问题
paddle_inference版本：预测库(2.1.0版本
cuda 版本10.2
tensorrt版本：7.0

[2021-06-01 07:51] juncaipeng commented on #33168
@jakpiase  @lidanqing-intel

We find the next unit test will fail when the fc_lstm_fuse_pass is enabled. So, once the problem of unit test is fixed, we can enbale the pass.

![image](https://user-images.githubusercontent.com/52520497/120286148-8721a200-c2f0-11eb-86ac-c0494464a971.png)

[2021-06-01 07:56] xinsuinizhuan commented on #33233
怎么查看stack信息？
![图片](https://user-images.githubusercontent.com/40679769/120287563-ed5af480-c2f1-11eb-9db1-779e7312386d.png)

[2021-06-01 07:57] jczaja commented on #22543
@lidanqing-intel No. reshape2 of oneDNN was not merged. So we just extendeded reshape2 CPU template based implementation to support bf16. reshape2 oneDNN cannot be fully implemented as oneDNN MD.reshape() function does not support blocked layouts. But we could implement reshape2 oneDNN only for non blocking data layouts which would help with BERT.

[2021-06-01 08:00] Leiyi-HU opened #33254 "paddle和torch的对齐问题"
paddlepaddle:2.02;
env:gpu;
cuda:10.1;

paddle里的CE函数要将labels和inputs转换成int_64t有点麻烦，可以还有其他地方的数据类型有些混乱，可以基本统一成float32吗？
然后，torch.tensor.contiguous应该替换成paddlde的哪个函数呢？

[2021-06-01 08:04] yoyao1 commented on #33239
'''
int main(int argc, char** argv) {
	//::GFLAGS_NAMESPACE::ParseCommandLineFlags(&argc, &argv, true);
	//paddle_infer::demo::RunAnalysis();
	paddle_infer::Config config;
	std::cout << "=========================Runs successfully===================="
		<< std::endl;
	return 0;
}
'''
代码就这一句也会报错

[2021-06-01 08:06] xinsuinizhuan commented on #33233
![Uploading 图片.png…]()

[2021-06-01 08:13] luotao1 commented on #33005
当时确实是考虑到兼容性的原因

可以等你们升级的时候一起改了。

[2021-06-01 08:14] yeyupiaoling opened #33259 "打印模型的时候有些模型显存参数为0"
- PaddlePaddle 2.1.0
 - Python3.7
 - Ubuntu 18.04

我的模型：https://github.com/yeyupiaoling/PPASR/blob/master/model_utils/deepspeech2.py
从输入来看，为啥有结果模型的参数是0的呢？
[code]

[2021-06-01 08:14] xinsuinizhuan commented on #33233
![图片](https://user-images.githubusercontent.com/40679769/120289945-6bb89600-c2f4-11eb-9612-ff2d4d9d7ab3.png)

[2021-06-01 08:16] yoyao1 commented on #33239
![paddle2 1报错](https://user-images.githubusercontent.com/40195730/120290209-a3eab500-c2b1-11eb-8f38-c70e3e7fc399.jpg)

[2021-06-01 08:33] yingshengBD commented on #33253
您好 ， windows上重新生成trt模型指的是什么？是重新编译模型吗

[2021-06-01 08:34] ZHUI commented on #33209
后续 cuda 10.0 将不在发包了，但没有放弃cuda 10.0 支持，用户可以自己编译10.0的安装包。

[2021-06-01 08:53] lidanqing-vv commented on #33005
Hi, because before Baidu customer applications link directly to oneDNN, that is why this copies remain, although client should only link to Paddle not to oneDNN libs.
If we use softlinks, will it influence customer applications and windows side usage? windows side have to be fully tested while we do not have experience on windows and customer cases. We think this issue need more discussion or Baid

[2021-06-01 09:10] xinsuinizhuan commented on #33233
![图片](https://user-images.githubusercontent.com/40679769/120298019-4465c700-c2fc-11eb-9b5a-ec26adf9e8a3.png)

完全官方代码，控制台程序：
![图片](https://user-images.githubusercontent.com/40679769/120297948-30ba6080-c2fc-11eb-9aa3-6f1f061501b6.png)

就配置了下库和opencv，然后main里面改了路径，依然报错

[2021-06-01 09:18] luotao1 commented on #33005
https://github.com/PaddlePaddle/Paddle/blob/e20234094c5857a12438228608260a2058ef201f/paddle/fluid/inference/api/demo_ci/CMakeLists.txt#L117-L125

We have demo_ci in CI pipeline, if you could pass the CI, then there is no influence for applications.

[2021-06-01 09:19] ZiQiangXie commented on #33209
感谢！
追问的原因是我们的环境不方便联网，只能离线安装，而且已有的硬件环境不能轻易变更，所以是希望有安装包会比较方便。
后续希望能继续使用paddle的新版本，如果不再提供安装包，有没有离线编译的教程？谢谢！

[2021-06-01 09:25] yeyupiaoling opened #33263 "在预测的时候出现training警告"
- PaddlePaddle 2.1.0

预测代码：https://github.com/yeyupiaoling/PPASR/blob/master/infer.py

我已经设置`model.eval()`了，怎还是有这个警告？

然后我也已经加载模型了，但是模型输出的每次都不一样，输入数据完全一致的。
[code]

[2021-06-01 09:30] ZHUI commented on #33209
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/linux-compile.html#compile_from_docker
推荐使用docker进行编译，如有编译问题，欢迎提issue再次询问。

[2021-06-01 09:32] caojinpei commented on #33253
tesnorRt序列化模型，每次运行程序都会重新序列化模型，而且速度很慢

[2021-06-01 09:35] xinsuinizhuan commented on #33233
模型：使用的ppocr的server版本模型进行推理
paddle版本 2.1.0, 2021.5.30晚上10点多下载。
[version.txt](https://github.com/PaddlePaddle/Paddle/files/6575118/version.txt)
错误：
gpu_mem为4000时，不管开启不开启use_tensorrt 都崩溃；
gpu_mem为1000时，开启use_tensorrt崩溃，不开启不崩溃。

[2021-06-01 09:36] #33253 closed, assigned to joey12300

[2021-06-01 09:54] yeyupiaoling commented on #33259
我使用`conv_stack = nn.LayerList(convs)`，来将原来的list封装了，这好像正常一点。但是还是有参数为0的，这算正常吗？

[code]

[2021-06-01 09:58] joey12300 commented on #33254
1. CE函数里 inputs的类型为float32或float64，不需要转换。labels应该是必须要int_64t类型的。`其他地方的数据类型有些混乱`是指？可以使用set-default-dtype设置默认数据类型。 （https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/set_default_dtype_cn.html#set-default-dtype）
2. paddle的tensor都是连续分布的内存方式，所以不需要contiguous函数。目前不存在paddle版本的contiguous函数。

[2021-06-01 10:17] jczaja commented on #33021
@juncaipeng Just to post status of work on that one. There are at least three sources of memory leaks. We understand two of them. Fix to first one is https://github.com/PaddlePaddle/Paddle/pull/33174.

[2021-06-01 10:28] DongChenwei2000 opened #33266 "请问paddle中有关于InplaceABNSync 的复现吗"
我在复现pytorch的论文时，pytorch中使用了InplaceABNSync 这个模块，paddle中是否有其替代呢？

[2021-06-01 11:27] codeWang-J opened #33268 "报错！！"
大佬们好  在jetson nano上安装paddlepaddle报错如下信息  应当如何解决？

wangjin@wangjin-desktop:~$ sudo pip3 install paddlepaddle_gpu-2.1.0-cp36-cp36m-linux_aarch64.whl
The directory '/home/wangjin/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Th

[2021-06-01 11:33] #33268 closed, assigned to joey12300

[2021-06-01 12:04] ZiQiangXie commented on #33209
好的，谢谢！ @ZHUI

[2021-06-01 12:04] #33209 closed, assigned to ZHUI

[2021-06-01 12:33] joey12300 commented on #33266
你好，目前paddle只支持静态图版本的inplace abn接口，可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/layers/inplace_abn_cn.html#inplace-abn

[2021-06-01 12:59] amenua opened #33270 "在docker中运行分布式训练出错"
- 训练信息
    1）多机，多卡
    2）GPU：一台T4一台P4
- 问题描述：两台机器不使用docker，多机多卡分布式运行能够正常训练，两台机器使用同样镜像，在docker里面使用单机多卡paddle.distributed.launch启动能够正常运行，但是当两台机器联合起来均在docker中运行就会报nccl的错误，报错信息如下
![图片](https://user-images.githubusercontent.com/20007401/120327151-07113180-c31c-11eb-8f5f-c7deae61bb2e.png)

[2021-06-01 13:19] joey12300 commented on #33270
可能是启动的docker容器没有打开通信？先保证docker容器之间能互相ping通，再看看多机训练能否运行

[2021-06-01 13:26] amenua commented on #33270
容器应该是通的，我启动容器的时候加了--net=host指令，如果不通会显示一直在等待节点ready的

[2021-06-01 13:33] joey12300 commented on #33259
您好，我看了您的train.py，这句话第二个参数尝试设置args.batch_size，不要None试试。
`paddle.summary(model, input_size=[(args.batch_size, 39, 970), (None,)], dtypes=[paddle.float32, paddle.int64])`

[2021-06-01 13:36] joey12300 commented on #33263
您好，试试把model.eval()放到infer函数里

[2021-06-01 14:22] Jeremy-lf opened #33272 "训练的时候报错SystemError: (Fatal) Blocking queue ..."
SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception.
  [Hint: Expected killed_ != true, but received killed_:1 == true:1.] (at D:\v2.0.2\paddle\paddle/fluid/operators/reader/blocking_queue.h:158)

完全按照官网的实例来学习的，却跑不通
![image](https://user-images.githubusercontent.com/45171399/120340177-58bfb900-c328-11eb-9e3e-259ed0441781.png)

![image](https://user-images.gith

[2021-06-01 14:31] yeyupiaoling commented on #33259
@joey12300 还以一模一样的情况

[2021-06-01 14:33] yeyupiaoling commented on #33259
@joey12300 我怀疑是第二个参数初始化为0的原因，有没有办法手动设置参数的，而不是指定输入的shape

[2021-06-01 14:47] yeyupiaoling commented on #33263
@joey12300 谢谢回答，解决了，是模型结构的问题，我只用的是lis存储模型，在forward中循环拿出来，这是错误的。我用nn.LayerList(conv_stacks)封装一下就好了。

[2021-06-01 14:47] #33263 closed, assigned to joey12300

[2021-06-01 15:10] xinsuinizhuan commented on #33233
当配置文件中gpu_mem为1000时，关闭use_tensorrt后，可以正常运行软件，但是识别和检测乱码，都不是检测的位置和识别的结果，而同样模型，cpu识别正常。使用的gpu为k2000

[2021-06-02 01:09] yeyupiaoling opened #33275 "DataLoader多线程数据读取不起效果"
- PaddlePaddle 2.1.0

我印象中，num_workers设置多少就会使用多少个CPU读取数据，但是现在我设置的是8条线程读取，但是有个2个在使用，这两个刚好就是我使用GPU的数量，如果我使用单卡计算，那么他就变成了一个。num_workers设置根本不起效果，导致数据读取速度很慢。GPU使用率不高。

[code]

读取代码：
[code]

[2021-06-02 01:37] joey12300 commented on #33259
但是你不指定shape，网络的参数数量就没法确定

[2021-06-02 01:44] yeyupiaoling commented on #33259
@joey12300 随机生成指定shape的数据，不就知道模型的输入shape了吗？不可以吗？

[2021-06-02 01:52] joey12300 commented on #33272
请问你的paddle版本环境多少？详细的测试代码是怎样的？

[2021-06-02 02:00] caojinpei opened #33276 "PPyolo2+tensorRt在win10上部署c++预测，生成序列化模型问题"
   1）PaddlePaddle版本：2.1
    2）GPU：2080super、CUDA10.2和CUDNN7
    4）win10
    1）C++预测：version.txt文件
GIT COMMIT ID: 4ccd9a0a86ad550a861c954d70e28ef15741b310
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
CUDA version: 10.2
CUDNN version: v7.6
CXX compiler version: 19.16.27045.0
WITH_TENSORRT: ON
TensorRT version: v7
    4）预测库来源：官方下载

问题:在win10环境下，使用官方提供检测预测库，配置好tensorRt,使用cmake生成工程后，每次使用tensorRt运行程序都会重新生成

[2021-06-02 02:18] joey12300 commented on #33259
@yeyupiaoling 我看了一下，应该是只能打印 Paddle 底层API的参数量，用户自己封装的API参数量不显示（实际上也体现在了Paddle API的参数量了）。总的参数量应该是对的。

[2021-06-02 02:19] yeyupiaoling commented on #33259
@joey12300 好的，谢谢，对了就好。

[2021-06-02 02:19] #33259 closed, assigned to joey12300

[2021-06-02 02:43] zhangyimi opened #33277 "model.eval下调用backward报错"
paddlepaddle-gpu:2.1.0
paddle2.0已经将eval和no_grad解绑，但是我在model.eval下调用backward计算变量的梯度时会报错。
代码：
![image](https://user-images.githubusercontent.com/20926735/120415774-ae2eb100-c38e-11eb-99b3-1012e3c55538.png)
报错：
![image](https://user-images.githubusercontent.com/20926735/120415836-c4d50800-c38e-11eb-9b52-ae30255088d5.png)

必须将model.eval()改为model.train()才能正常运行，但是这样结果就与我预期不相符了。
我在简单的网络没有复现这个问题，是某个op没有对齐

[2021-06-02 03:13] heavengate commented on #33275
是子进程启动了但是没有占用CPU么，这种情况一般是GPU上耗时比较久，子进程已经提前完成了数据读取任务在等待GPU上模型iteration跑完

[2021-06-02 03:15] yeyupiaoling commented on #33275
@heavengate 但是GPU的使用率经常会降低到40%左右，不是因为数据读取跟不上的原因吗？

[2021-06-02 03:19] heavengate commented on #33275
模型里有可能含有只有CPU kernel的op之类的，看你top信息你这个模型的瓶颈不在CPU数据读取上，每个子进程只会预先读取两个batch的数据，读完之后如果模型还有跑完过来拿数据的话子进程就会sleep

[2021-06-02 03:20] yeyupiaoling commented on #33275
@heavengate 哦哦，好的，谢谢。

这个文档有吗？我想看看那些API是使用CPU的

[2021-06-02 03:25] heavengate commented on #33275
这个应该没有暴露到文档里面，或者你看看你模型用到哪些op列一下，我找下看看

[2021-06-02 03:29] yeyupiaoling commented on #33275
这些API
[code]

还有两个自定义的：
[code]

[2021-06-02 06:09] TouyaAkira commented on #32377
一样的报错信息,找不到合适的包.

[2021-06-02 06:22] juncaipeng opened #33282 "MKLDNN error for blazeface model"
Install PaddlePaddle 2.1

Install PaddleDetection 2.1
[code]

Download and unzip the blazeface model(Link:https://dubox.com/s/15iC3J0dXT3H5mfImnQt57g Password:k2a2) .

[code]

[code]

**Hope to fix the problem in Paddle 2.1.1**

[2021-06-02 06:30] cryoco commented on #33276
您好，能否提供下生成序列化时的预测log

[2021-06-02 06:37] sandyhouse commented on #33270
运行前 export NCCL_DEBUG=INFO看看，报错的尽量贴全一点报错信息。

[2021-06-02 06:53] DongChenwei2000 commented on #33266
在动态图中是否有其替代呢？

[2021-06-02 06:58] yoyao1 commented on #33239
找到问题了 2.0和2.1用的 mkldnn.dll 不一致，2.1是2.2.1.0 ，2.0是1.6.0.0

[2021-06-02 06:59] amenua commented on #33270
@sandyhouse
![111](https://user-images.githubusercontent.com/20007401/120437628-e2b46400-c3b2-11eb-8691-a86ab24f9dd7.png)
看着是访问被拒绝了，我使用的是nvidia-docker run --security-opt seccomp:unconfined --net=host的配置启动的docker，跟启动命令有关系么？

[2021-06-02 07:11] yoyao1 commented on #33239
close #33239

[2021-06-02 07:12] caojinpei commented on #33276
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0602 15:00:13.355023 15880 analysis_predictor.cc:155] Profiler is deactivated, and no profiling report will be generated.
I0602 15:00:13.406883 15880 analysis_predictor.cc:522] TensorRT subgraph engine is enabled
e[1me[35m--- Running analysis [ir_graph_build_pass]e[0m
e[1me[35m--- Running analysis [ir_graph_clean_pass]e[0m
e[1me[35m

[2021-06-02 07:14] cryoco commented on #33276
请问您是使用的PaddleDetection套件的C++部署，还是直接调用的Paddle Inference的推理接口呢

[2021-06-02 07:19] caojinpei commented on #33276
直接调用Paddle inference 推理接口
这个是1.8版本的第二次运行,上面log是第一次生成时，下面是第二次生成时log报错：但是使用2.1版本会重复生成
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0602 15:14:36.549612 20144 analysis_predictor.cc:155] Profiler is deactivated, and no profiling report will be generated.
I0602 15:14:36.602471 20144 analysis_predictor.cc:522] TensorRT subgraph engine is enabled
e[1me[35m--- Running analysis [ir_gra

[2021-06-02 07:27] caojinpei commented on #33276
使用了两个版本的paddle_inference.zip cuda10.2 与cuda10.0版本的c++推理预测库，其中10.0版本tensorrt的生成序列化后第二次启动工程，会报错如上log所示：E0602 15:15:20.104661 20144 helper.h:78] C:\source\rtSafe\coreReadArchive.cpp (55) - Serialization Error in nvinfer1::rt::CoreReadArchive::verifyHeader: 0 (Length in header does not match remaining archive length)
E0602 15:15:20.107652 20144 helper.h:78] INVALID_STATE: Unknown exception
E0602 15:15

[2021-06-02 07:32] caojinpei commented on #33276
这个是paddle_inference.zip cuda10.2  推离库第一次运行是log：

WARNING: Logging before InitGoogleLogging() is written to STDERR
I0602 15:22:30.151445 12088 analysis_config.cc:424] use_dlnne_:0
I0602 15:22:30.151445 12088 analysis_config.cc:424] use_dlnne_:0
I0602 15:22:30.151445 12088 analysis_config.cc:424] use_dlnne_:0
I0602 15:22:30.151445 12088 analysis_config.cc:424] use_dlnne_:0
I0602 15:22:32.194638 1208

[2021-06-02 08:21] yoyao1 commented on #33239
close

[2021-06-02 09:15] Wakp commented on #33092
感觉我也是遇到了同样的问题，使用ernie实体识别，微调过程中准确率已经很高了，而且打印结果也是没问题的，但是把参数保存后，再使用load加载做预测，结果就面目全非了。我怀疑训练后的参数没保存上，请技术人员尽快解决。

paddlehub          2.0.4
paddlenlp          2.0.1
paddlepaddle       2.1.0

ernie调用的是paddlenlp中的包

[2021-06-02 09:22] Wakp commented on #33092
模型保存：
paddle.save(model.state_dict(), path))
模型加载：
 model_state_dict = paddle.load(path)
model.set_dict(model_state_dict)

[2021-06-02 09:27] shangzhizhou commented on #33276
您好，您issue开始提的是paddlepaddle2.1，后面又提到是1.8，请问具体是哪个版本呢？
如果是1.8，可以切换到2.1试一下。

[2021-06-02 09:39] joey12300 commented on #33266
@553548793 目前暂时还没有。

[2021-06-02 09:51] yoyao1 commented on #33239
这个自己不能关闭吗？

[2021-06-02 09:54] LiuHao-THU opened #33289 "meet problem,when update to newest version !"
when i update the paddle version to newest develop cpu version. i meet this problem.
`
Traceback (most recent call last):
  File "main.py", line 443, in <module>
    main(config)
  File "main.py", line 373, in main
    fleet.init_server()
  File "<decorator-gen-220>", line 2, in init_server
  File "/root/anaconda3/lib/python3.7/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__

[2021-06-02 10:09] caojinpei commented on #33276
这个是使用paddledetection2.1+cuda10.2+tensorrt7+Paddle inference 打印的日志

WARNING: Logging before InitGoogleLogging() is written to STDERR
I0602 15:32:54.725275 11048 analysis_config.cc:424] use_dlnne_:0
I0602 15:32:54.725275 11048 analysis_config.cc:424] use_dlnne_:0
I0602 15:32:54.725275 11048 analysis_config.cc:424] use_dlnne_:0
I0602 15:32:54.725275 11048 analysis_config.cc:424] use_dlnne_:0
I0602 15

[2021-06-02 13:37] Pzoom522 opened #33306 "explicit memory efficient tensor reshaping (`View`)"
Hi Team,

I'm using Paddle v2.1. According to your [changelog](https://www.paddlepaddle.org.cn/documentation/docs/en/release_note_en.html),

It would be great to know how to **explicitly** use the Paddle equivalent of `torch.view`!

[2021-06-02 14:24] #33205 closed

[2021-06-02 14:29] wuxianshen opened #33309 "训练过程中无法自动回收显存"
将每一轮训练、验证的过程分别封装到函数中，但是训练使用的显存在训练结束后不释放：
![image](https://user-images.githubusercontent.com/21985528/120498416-c71c7e00-c3f1-11eb-94ee-a7aadb056ba4.png)

第一次执行完train_epoch后，显存占用7.5G，执行valid_epoch后显存占用12G，感觉是train_epoch的显存没有释放？
![image](https://user-images.githubusercontent.com/21985528/120498637-f4692c00-c3f1-11eb-83bc-8250714dbc93.png)

![image](https://user-images.githubusercontent.com/21985528/

[2021-06-03 01:16] shangzhizhou commented on #33276
从日志看没有重新生成序列化文件，是从序列化文件直接加载的

[2021-06-03 01:55] caojinpei commented on #33276
程序中修改了 保存tensorrt序列化模型static=true,是不是还有其他的开关需要开启，程序重新运行连三次后生成了50多个序列化文件

[2021-06-03 01:57] wawltor commented on #33306
You could use the reshape api will the same the view  in the version of  paddlepaddle 2.1 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/reshape_cn.html#reshape

[2021-06-03 02:00] Pzoom522 commented on #33306
Thanks for your reply. But it's unclear on the doc whether the operation is **inplace** or will make a Tensor copy in the static graph mode.

[2021-06-03 02:01] wawltor commented on #33309
在validation的过程中，按照上述的代码也会生成反向的过程，显存不会释放，如果想在validation的过程中释放显存，需要加一个no_grad操作，这样就不会生成反向过程, 具体的api如下
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/no_grad_cn.html#no-grad

[2021-06-03 02:03] wawltor commented on #33306
In the static mode，will not use the **inplace** mode， just work in dygrpah mode

[2021-06-03 02:04] Pzoom522 commented on #33306
Do we have equivalent of `torch.view` (inplace) in the static mode?

[2021-06-03 02:10] wawltor commented on #33306
I'm sorry，we will not have the api in the static mode. In the PaddlePaddle 2.0 version，we just  recommend user to use the dygraph mode，and we will not upgrade the static mode .

[2021-06-03 02:14] Pzoom522 commented on #33306
That's fine. Just one more thing: is it possible to briefly explain why you "just recommend user to use the dygraph mode"? Thanks.

[2021-06-03 02:18] Pzoom522 commented on #33306
I believe `dygraph` is more efficient, so this recommendation seems weird...

[2021-06-03 02:42] wawltor commented on #33306
_^^_  This is my personal advise，my reason as follows
1. Just as you have said，the efficient is the most import reason，we except to improve the experience in the process of coding.
2. In the PaddlePaddle 2.0 version，we designed the DL framework under the dygraph mode,  we design the new apis, the new models, the new inferences framework, and the new features，those just worked better in the dygraph

[2021-06-03 02:43] wawltor commented on #33306
_^^_  This is my personal advise，my reason as follows
1. Just as you have said，the efficient is the most import reason，we except to improve the experience in the process of coding.
2. In the PaddlePaddle 2.0 version，we designed the DL framework under the dygraph mode,  we design the new apis, the new models, the new inferences framework, and the new features，those just worked better in the dygraph

[2021-06-03 02:45] Pzoom522 commented on #33306
My apologies for the typo. I wanted to say "the static graph mode" is more efficient in terms of computational speed (or not?)

[2021-06-03 02:59] wawltor commented on #33306
In the 2.0 version, we test the speed between dygraph mode and static mode in some models, there's little difference. Of course, the static mode had the advantage in the speed，and we have  many challenges in the dygraph mode， but we have some plans to speed up.

[2021-06-03 03:01] Pzoom522 commented on #33306
Thanks a lot for your help & info

[2021-06-03 03:01] #33306 closed, assigned to wawltor

[2021-06-03 03:11] hhxdestiny commented on #32806
貌似使用conda安装paddlepaddle-gpu-2.1大概率失败呢，能否换一下源，[清华](https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/win-64/paddlepaddle-gpu-2.1.0-py38_gpu_cuda11.2_windows.tar.bz2)
的也太卡了
[code]

[2021-06-03 03:22] wuxianshen commented on #33309
哦哦明白了，您这个解答了我另一个问题；
还有就是，我其实想问的是，train的过程封装到函数里，函数结束了，里面变量生命周期结束后，会自动释放吗，能否通过某种方式，使得这样写train的过程时，调用完一次这个函数，GPU就释放掉，下个epoch调用train时再分配？

[2021-06-03 03:24] seiriosPlus commented on #33289
你好， 使用的PGL的哪个模型？ PGL版本是多少， Paddle版本是多少？ 使用PGL官方示例能否复现问题？

[2021-06-03 03:32] LiuHao-THU commented on #33289
您好，都是最新的版本(paddle develop昨天最新装，PGL==2.1.4)
我在用colletive的时候，是没有问题的，
但是在ps模式的时候，a_sync = False的时候会莫名的卡住！
前面那个问题是学习率导致的。去掉这一行可以解决
&nbsp; &nbsp; # decayed_lr = paddle.fluid.layers.learning_rate_scheduler.polynomial_decay(
&nbsp; &nbsp; #&nbsp; &nbsp; &nbsp;learning_rate=args.lr,
&nbsp; &nbsp; #&nbsp; &nbsp; &nbsp;decay_steps=decay_steps,
&nbsp; &nbsp; #&nbsp; &nbsp; &nbsp;end_learning_rate=args.lr,
&n

[2021-06-03 04:01] wawltor commented on #33309
这里的显存主要是包括了三个方面的显存开销
1.  parameter
2. 前向变量
3. 反向变量

parameter是全局的变量，因此是在整个程序结束后才释放；前向变量是反向执行完的时候会释放，反向变量是在下一轮前向开始的时候才会释放

[2021-06-03 05:53] seiriosPlus commented on #33289
1. a_sync=False会卡住是指 训练还没开始就卡住了， 还是中途会莫名卡住？
2. 效果差于collective可能需要调一下超参， a_sync=True的模式是异步模式，前期收敛会慢于collective同步训练。

[2021-06-03 05:56] LiuHao-THU commented on #33289
你好，valid是没有问题的，卡住是训练还没开始就卡住，但是valid before train可以运行。
效果比collective差的非常的多！lr和batch都调节过，效果不明显

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&n

[2021-06-03 05:57] LiuHao-THU commented on #33289
可以加微信吗: luke_lh

[2021-06-03 06:53] yeyupiaoling opened #33318 "2.1中怎么没有brelu激活函数呢，fluid还有的呢"
如fluid 就有：[brelu](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/layers/brelu_cn.html#brelu)

动态图怎么没有呢

[2021-06-03 08:20] shangzhizhou commented on #33276
开启序列化，只需要static=true这一个配置，序列化文件多应该是模型被分割成了多个trt子图。

[2021-06-03 08:45] wuxianshen commented on #33309
好的明白了，谢谢您哈

[2021-06-03 08:51] TankosTao opened #33323 "pyinstaller编译paddleocr项目，运行exe报错。 Can not import avx core while this file exists:"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.2 cpu版本
    2）CPU：5800h
    3）GPU：核显
    4）系统环境：win10、Python3.7
- 安装方式信息：
1）pip安装

在pycharm中运行一切正常，编译成exe后运行报错，报错信息如下：

Error: Can not import avx core while this file exists: C:\Users\**\AppData\Local\Temp\_MEI125562\paddle\fluid\core_avx.pyd
Traceback (most recent call last):
  File "darknet_nogui_mutimodel.py", line 59, in <module>
    import _vin.utility as u

[2021-06-03 09:34] caojinpei commented on #33276
但是，每次运行程序，都会生成tensorRt序列化文件，经过多次运行后序列化文件不断的增多。理论上生成序列化文件之前，应该检查本地是否有序列化文件，而不应该是每次都生成，而且每次生成不同的序列化文件名称多不相同，请问您这边有解决方案么？

[2021-06-03 12:28] Darki-luo opened #33333 "paddle2.1 paddle.Model运行的问题"
aistuido notebook 环境
在paddle2.0.2时, 用paddle.Model接口，可以正常使用paddle.Model.eval，设置batch_size=128;
但是在paddle2.1时，设置batch_size=128,会报错，但是显卡占用不是很高。
代码文件：https://aistudio.baidu.com/aistudio/projectdetail/2020923
paddle2.0.2（notebook 的version7版本）环境下正常运行的
paddle2.1.0（notebook的version8版本）下运行，batch_size=128

报错信息：
——————————————————————————————
Eval begin...
/opt/conda/envs/python35-paddle120-env/lib/python3.

[2021-06-03 12:47] infrontofme commented on #33309
你好，最近刚开始使用paddlepaddle，也遇到这样的问题，使用paddle训练结束发现显卡显存还被占用着，并未释放，请问是什么原因导致，怎样解决？

[2021-06-03 12:52] wawltor commented on #33309
有可能是任务异常退出，显存没有来得及释放

[2021-06-03 16:46] dingjiaweiww commented on #32377
你可以联系一下这个邮箱，我把安装包发给你：Paddle-better@baidu.com

[2021-06-03 16:47] dingjiaweiww commented on #32370
飞桨官网已经上线cuda11.2 了，可以参考：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html

[2021-06-04 01:55] VantastyChen commented on #33276
同出现这个bug，ubuntu下static=true重复加载序列化文件正常，但是win10环境下static=true，第一次运行编译好的程序时生成序列化文件正常，第二次运行不会加载上次生成的序列化文件而是重新生成序列化文件。

[2021-06-04 01:55] VantastyChen commented on #33276
同出现这个bug，ubuntu下static=true重复加载序列化文件正常，但是win10环境下static=true，第一次运行编译好的程序时生成序列化文件正常，第二次运行不会加载上次生成的序列化文件而是重新生成序列化文件。

[2021-06-04 02:22] shangzhizhou commented on #33276
这些日志都是加载序列化文件的日志呢，请问这不是windows下的日志么

[2021-06-04 02:29] caojinpei commented on #33276
这些日志文件都是从win10  CMD命令窗口中拷贝过来的

[2021-06-04 02:34] shangzhizhou commented on #33276
那从日志看，是正常加载了序列化文件的，没有重新生成啊

[2021-06-04 02:42] TouyaAkira opened #33338 "你可以联系一下这个邮箱，我把安装包发给你：Paddle-better@baidu.com"
我把我的邮箱地址发给你吧?发信到你给的邮箱直接退信,需要有权限的才行...
我的邮箱:touya.dong@qq.com

你可以联系一下这个邮箱，我把安装包发给你：Paddle-better@baidu.com

_Originally posted by @dingjiaweiww in https://github.com/PaddlePaddle/Paddle/issues/32377#issuecomment-854021699_

[2021-06-04 02:42] #33338 closed, assigned to Superjomn

[2021-06-04 02:44] TouyaAkira commented on #32377
发信给这个邮箱直接退信了,不在权限范围内...
我的邮箱是touya.dong@qq.com,你直接发到我的邮箱好嘛?

[2021-06-04 02:44] dercaft commented on #33200
你好我检查过了，paddle是正确安装的，paddle.utils.run_check() 输出也是正确的：
[code]
现在的新观察是：
使用高层API的文件可以正常运行：
[code]
直接使用paddle.io.Dataloader()的文件运行会报上述段错误：
[code]

[2021-06-04 02:46] cryoco commented on #33276
您在config配置中加上这句试试
[code]

[2021-06-04 02:49] caojinpei commented on #33276
![image](https://imgtu.com/i/2G9sT1）

[2021-06-04 02:55] caojinpei commented on #33276
好的，我试下

[2021-06-04 03:05] lidanqing-vv commented on #33240
[QA_word2vec_FP32_naive_training_reproduction.md](https://github.com/PaddlePaddle/Paddle/files/6595485/QA_word2vec_FP32_naive_training_reproduction.md)
@wzzju @OliverLPH Hi I upload the QA test doc for word2vec benchmark model FP32 training. We did same steps on our 6271 and the training is WIP. Please Baidu QA start the training, so if any issues we could find it earlier and solve them earlier. T

[2021-06-04 03:05] caojinpei commented on #33276
加上这个语句，后卡在这里
e[32m--- Running IR pass [conv_eltwiseadd_affine_channel_fuse_pass]e[0m
e[32m--- Running IR pass [shuffle_channel_detect_pass]e[0m
e[32m--- Running IR pass [quant_conv2d_dequant_fuse_pass]e[0m
e[32m--- Running IR pass [delete_quant_dequant_op_pass]e[0m
e[32m--- Running IR pass [delete_quant_dequant_filter_op_pass]e[0m
e[32m--- Running IR pass [simplify_with_basic_ops_pass]e[0m
e[32m--

[2021-06-04 03:11] caojinpei commented on #33276
还有就是，使用cmake编译工程时 开启了 tensorRt开关添加路劲，使用vs2017工程生成完成后，在vs配置属性中，没有发现tensorRt的路径及，相关库文件

[2021-06-04 03:16] caojinpei commented on #33276
这句话放在了 LoadModel（） 函数最后面。完整日志文件如下：

WARNING: Logging before InitGoogleLogging() is written to STDERR
I0604 11:01:56.573653 10276 analysis_config.cc:424] use_dlnne_:0
I0604 11:01:56.573653 10276 analysis_config.cc:424] use_dlnne_:0
I0604 11:01:56.574651 10276 analysis_config.cc:424] use_dlnne_:0
I0604 11:01:56.574651 10276 analysis_config.cc:424] use_dlnne_:0
I0604 11:01:57.231948 10276 analysis_co

[2021-06-04 03:21] cryoco commented on #33276
看起来这句话没有生效，您能否发下config部分的代码看下

[2021-06-04 03:23] caojinpei commented on #33276
void ObjectDetector::LoadModel(const std::string& model_dir,
                               const int batch_size,
                               const std::string& run_mode) {
  paddle_infer::Config config;
  std::string prog_file = model_dir + OS_PATH_SEP + "model.pdmodel";
  std::string params_file = model_dir + OS_PATH_SEP + "model.pdiparams";
  config.SetModel(prog_file, params_file);
  if (th

[2021-06-04 03:31] yeyupiaoling commented on #33275
@heavengate 有查到是那些吗？

[2021-06-04 03:40] caojinpei commented on #33276
不好意思，不小心把问题给关闭了

[2021-06-04 03:42] caojinpei commented on #33276
不小心关闭了，不好意思

[2021-06-04 03:43] caojinpei commented on #33276
不好意思，问题不小心关闭了

[2021-06-04 03:53] yeyupiaoling opened #33341 "Windows使用DataLoader在完成最后一个batch之后，并没有跳出循环，而是直接卡死"
- PaddlePaddle 2.1.0
 - Windows 10

Windows使用DataLoader在完成最后一个batch之后，并没有跳出循环，而是直接卡死。没有保存信息，只有下面这个条信息。在Ubuntu是正常的，并不会出现这个的错误。

[code]

代码：https://github.com/yeyupiaoling/PPASR/blob/248b60a82db71d134c5cf113859dcb9ef7c9e4d5/eval.py#L41-L46

[2021-06-04 05:30] LiuHao-THU commented on #32799
同样遇到这个问题，但是我得代码在不同的环境，有一个可以跑，有一个就会cuda error

[2021-06-04 05:31] LiuHao-THU commented on #32799
![image](https://user-images.githubusercontent.com/30975916/120750552-1ae5af00-c539-11eb-8a79-02c75db10d2b.png)

[2021-06-04 06:31] caojinpei commented on #33276
void ObjectDetector::LoadModel(const std::string& model_dir,
const int batch_size,
const std::string& run_mode) {
paddle_infer::Config config;
std::string prog_file = model_dir + OS_PATH_SEP + "model.pdmodel";
std::string params_file = model_dir + OS_PATH_SEP + "model.pdiparams";
config.SetModel(prog_file, params_file);
if (this->use_gpu_) {
config.EnableUseGpu(200, this->gpu_id_);
config.SwitchIr

[2021-06-04 06:53] tingggggg opened #33348 "onnx2paddle inference with FP16"
目前把手邊的onnx模型轉換成paddle後可以使用 paddle-TensorRT 進行(FP32 F16 INT8)的預測

想詢問不使用 paddle-TensorRT 的情況下，要如何做FP16的預測

[2021-06-04 07:02] GT-ZhangAcer commented on #33318
确实啊，旧版本有新版本咋就没有了[狗头]

[2021-06-04 07:04] yeyupiaoling commented on #33318
https://github.com/PaddlePaddle/Paddle/pull/32622
这里有pr，不知道什么时候可以用上

[2021-06-04 07:09] btobab opened #33349 "L1Decay报错问题"
1）PaddlePaddle版本：2.0.2
    4）系统环境：aistudio
![1](https://user-images.githubusercontent.com/66876429/120760499-c2b5a980-c546-11eb-8ac3-c352efe50318.jpg)
![2](https://user-images.githubusercontent.com/66876429/120760375-9f8afa00-c546-11eb-80ae-343e91dbfd50.jpg)

[2021-06-04 07:10] btobab commented on #33349
设置L1Decay没法运行，但改成L2Decay就可以跑

[2021-06-04 10:19] xxpp597 commented on #29172
问题解决了吗？

[2021-06-05 01:05] JianJingGao commented on #28391
我也一样，extern_protobuf出错之后全都出错了

[2021-06-05 10:41] molyswu commented on #33276
Hi,paddle-bot
我也有遇到同样的问题，现在急用与项目落地，希望Paddle的技术支持尽快解决。

谢谢！

[2021-06-05 12:24] Pzoom522 opened #33361 "status of DLPack support"
Dear developers,

In https://github.com/PaddlePaddle/Paddle/pull/20025, https://github.com/PaddlePaddle/Paddle/pull/20039, and https://github.com/PaddlePaddle/Paddle/pull/20611 and  I notice the team has been working on the interoperability with DLPack tensor structures. See also (relevant discussions): https://github.com/PaddlePaddle/Paddle/pull/22021, https://github.com/PaddlePaddle/Paddle/issue

[2021-06-05 16:30] GuoQuanhao opened #33362 "Cannot enable P2P access from 0 to 1"
![image](https://user-images.githubusercontent.com/49911294/120898631-40200d80-c65e-11eb-8ce7-7eea0128856e.png)
这是正确安装的吗，`Cannot enable P2P access from 0 to 1`是什么意思

[2021-06-06 13:22] btobab commented on #33349
如果要看具体的代码，[这是项目地址](https://aistudio.baidu.com/aistudio/projectdetail/1542163)

[2021-06-06 15:41] lytning98 commented on #33208
@ZHUI 您好，

我查阅并比较了 `release/2.1` 和 `release/1.8` 分支的相关源码，其中 1.8 源码中查找 cuDNN 动态链接库的相关逻辑是
https://github.com/PaddlePaddle/Paddle/blob/e0aa1d65b06b98be166424ec2cb1e292a1ce70ae/paddle/fluid/platform/dynload/dynamic_loader.cc#L151-L164
而 2.1 源码中的相关逻辑本与之一致，但在 PR #28117 中这三步逻辑中的第 2 步与第 3 步被交换了优先级，变为
https://github.com/PaddlePaddle/Paddle/blob/c42ccf14abb6e850a4aa62948e10dc96b6074e38/paddle/fluid/platform

[2021-06-07 02:02] mikeshi80 opened #33364 "这里做了一个不合理的假设，认为所有的HOME目录都是可读写的"
https://github.com/PaddlePaddle/Paddle/blob/1315e3a1e412cb9c02df84dae1c85771ffd49a7c/python/paddle/dataset/common.py#L32-L33

这里是设定了之后创建cache目录的路径，并在之后会强行创建。

实际上，在某些环境，比如AWS的 Lambda环境中（因为现在Lambda支持容器镜像了，所以可以以容器的形式创建Lambda函数），用户目录是只读的，它额外提供了`/tmp`目录作为临时读写目录。

我为了能在Lambda中使用，只能在Dockerfile中使用sed将`HOME`改为了`/tmp`。

修改方案：

1. 可以加入环境变量，使得用户有机会在不修改代码的情况下，指定`DATA_HOME`目录。
2. 实际上，很多时候我们只是单纯的进行推理，这个时候，即使整个环

[2021-06-07 02:07] shangzhizhou commented on #31687
您好，预计2.1.1版本修复（6月底发布）。
预计本周合入develop分支。

[2021-06-07 02:52] ANewAnonymous opened #33367 "打包问题"
使用pyinstaller打包后发现程序目录下生成了paddle/fluid/core_avx.pyd文件，发现该文件大小为1.23GB。这实在是太大了 是否有缩减的方法

[2021-06-07 03:41] jerrywgz commented on #33362
这个信息只是warning，不会对训练造成影响

[2021-06-07 03:45] zhwesky2010 commented on #33208
@lytning98  您好，请问 /usr/local/cuda/lib64中路径是cudnn7.4吗

[2021-06-07 04:03] zhwesky2010 commented on #33208
@lytning98 可以删除/usr/local/lib下的系统默认CUDA，只保留conda中的CUDA

[2021-06-07 04:08] zhwesky2010 commented on #33208
@lytning98  也可以通过export FLAGS_cuda_dir=``**conda的cuda安装路径**`` 来设置下

[2021-06-07 05:09] lytning98 commented on #33208
是的

本机的 /usr 目录我是没有权限的，我尝试了一下 flags 的方法，`export FLAGS_cudnn_dir=xxx` 似乎没有作用，debug 信息如下（`export GLOG_v=3`）
[code]
对照代码来看应该还是使用了第二种方法查找 cudnn.so
https://github.com/PaddlePaddle/Paddle/blob/c42ccf14abb6e850a4aa62948e10dc96b6074e38/paddle/fluid/platform/dynload/dynamic_loader.cc#L220-L228

并且 flags 值似乎没有成功传入，flags 是空值，否则会有 debug 信息，参考如下代码
https://github.com/PaddlePaddle/Paddle/blob/c42ccf14abb6e850a4a

[2021-06-07 05:37] molyswu commented on #33276
Hi,paddle-bot,
  怎么这个问题，没有人回复的。

谢谢！

[2021-06-07 07:08] kk125678 opened #33380 "自定义C++外部算子 创建的tensor是随机初始化的吗？"
如题，如果是随机初始化能不能加个初始化为常量API

[2021-06-07 07:11] LielinJiang commented on #33333
已知问题了。可以先把workers的数量设置为>0来绕过一下。这个问题会在下个版本解决。

[2021-06-07 07:16] Darki-luo commented on #33333
我的问题不只是这个，num_worker是设置为1临时解决的，我还有一个问题是在paddle2.1下，batch_size=128 就跑不了，但是在paddle2.0.2下这个就可以正常跑，paddle2.1下要变成32才能正常运行，我看了一下，dataloader读取数据的类型变成了paddle.tensor，我想知道这也会影响吗

[2021-06-07 07:19] 360AIVul opened #33382 "算子gather_tree存在安全问题/bug"
标题：算子gather_tree存在安全问题/bug
    版本、环境信息：
       1）PaddlePaddle版本：2.1.0
       2）CPU/GPU：CPU
       3）系统环境: ubuntu 20.04
       4）Python版本号: 3.8.5

PoC：
[code]

崩溃信息
[code]

分析:

部分源码: ([https://github.com/PaddlePaddle/Paddle/blob/v2.1.0/paddle/fluid/operators/gather_tree_op.h#L45](https://github.com/PaddlePaddle/Paddle/blob/v2.1.0/paddle/fluid/operators/gather_tree_op.h#L45))
[code]
对`ids`的维度未进行检查，

[2021-06-07 07:29] Superjomn commented on #33348
你好，目前预测上，NV GPU 的 FP16 只有 Paddle-TensorRT 支持，其他模式下暂时还不支持

[2021-06-07 08:11] luotiaotiao commented on #28244
有没有人解决这个问题呀？解决的大佬指导一下呗

[2021-06-07 08:13] LielinJiang commented on #33333
workers也是一样的情况下 batch_size要不同才能跑嘛？

[2021-06-07 08:19] Darki-luo commented on #33333
workers在paddle2.0下没有添加这个参数，应该是默认值（可能是0？），paddle2.1是因为worker为0跑不了就设置为1了，这样测试下来的batchsize在paddle2.0下设置128可以运行，在2.1下只能32，超过了就出错了，就是上面的错误

[2021-06-07 08:20] LielinJiang commented on #33333
那有可能就是因为workers数量的差异导致的

[2021-06-07 08:37] yeyupiaoling opened #33385 "使用TensorRT出现not been registered."
- PaddlePaddle 2.0.0
 - Ubuntu 18.04

出现以下错误，是不是因为有些op不支持，这应该怎么处理，如果不使用TensorRT是正常的。
[code]

模型结构：
[model.zip](https://github.com/PaddlePaddle/Paddle/files/6607280/model.zip)

[2021-06-07 09:20] GuoQuanhao opened #33389 "Paddle多卡训练机制"
我在训练模型时，利用单卡训练的batch_size=16（再大会爆显存，单卡显存占用7G/11G），当我调整为多卡训练时，我的batch_size还是只能设置为16，但我的四张显卡都占用7G/11G，这表明我一次训练的batchsize是64吗

[2021-06-07 09:36] roshanthink opened #33391 "执行[numpy.float32 * tensor]运算之后，tensor里的数据全都变成了0."
在网络输出层中使用 res = limit*tanh(tensor)操作。
其中limit 数据类型为  numpy.float32，tensor数据类型是paddle.tensor。
执行运算后，发现所得res 变量中所有值均为0.

请教下这个现象正常吗？

[2021-06-07 10:35] heavengate commented on #33341
没太理解，`进程已结束，退出代码为 -1073741819 (0xC0000005)` 这个信息看着是进程已经退出了？还是进程卡死了呢

[2021-06-07 10:36] jzhang533 commented on #33361
We have this functionality in early versions: [1.2 release](https://github.com/PaddlePaddle/Paddle/releases/tag/v1.2.0).
Although these APIs are [still available](https://aistudio.baidu.com/aistudio/projectdetail/1969224), but these are now considered as unofficial APIs. We will review this functionality and provide these functionality through official APIs, may be in our next release. 😃

[2021-06-07 10:42] Pzoom522 commented on #33361
Thanks a lot for your reply. These APIs will be super useful. Looking forward to them!

Also, is it possible to get some updates on https://github.com/PaddlePaddle/Paddle/issues/32765? If the bidirectional conversion between `Tensor` and `Lod_tensor` can be achieved, then we can easily hack the old-but-unofficial `DLPack` APIs for `Tensor`.

[2021-06-07 10:50] pangyoki commented on #33349
你好，paddle 2.0.2确实会有这个问题。是因为 L1Decay方法里的scale方法的输入“X”和输出“Out”相同，但是缺少对inplace的相关处理导致的。
这个问题现在已经修复了，可以使用2.1版本的paddle试试看。

[2021-06-07 11:01] btobab commented on #33349
好哒好哒，谢谢大佬，但是目前2.1好像也有不少bug~
大佬加油修一下2.1的bug~

[2021-06-07 11:56] pangyoki commented on #33349
好的，还有问题可以反馈出来，谢谢。

[2021-06-07 13:02] frankwhzhang commented on #33391
有详细的代码嘛

[2021-06-07 13:10] roshanthink commented on #33391
代码：
[code]

运行结果：

[code]

对比代码：

[code]

运行结果为：

[code]

[2021-06-07 13:14] GT-ZhangAcer commented on #33391
mark

[2021-06-08 00:42] yeyupiaoling opened #33403 "训练的过程中突然出现PermissionDenied"
- PaddlePaddle 2.1.0
 - Ubuntu 18.04

在训练的过程中，突然出现下面错误，前面已经训练几千个batch了。
[code]

唯一提示的就只有这个代码，没有提升哪一行。
https://github.com/yeyupiaoling/PPASR/blob/%E8%BF%9B%E9%98%B6%E7%BA%A7/model_utils/conv.py

[2021-06-08 01:04] yeyupiaoling commented on #33403
刚才调试了一下，主要是出现在保存模型之后出现的问题，如果不保存静态模型，就不会出现上面的错误，这种情况怎么解决？

[code]

[2021-06-08 01:42] yeyupiaoling commented on #33341
@heavengate 就卡死退出的。例如下面这个循环，理论来说循环结束之后，应该要跳出循环，但是它没有，执行最后一个循环之后，就卡死了。Windows才会，Ubuntu不会。

[code]

[2021-06-08 01:55] lytning98 opened #33404 "源码中的部分 gflags 的手动赋值方式"
由于 issue #33208 中的原因，我需要手动为源码中的一些 gflags 赋值，如
https://github.com/PaddlePaddle/Paddle/blob/e0aa1d65b06b98be166424ec2cb1e292a1ce70ae/paddle/fluid/platform/dynload/dynamic_loader.cc#L27-L30

但我尝试过直接 `export FLAGS_cudnn_dir=xxx` 无效，使用 `paddle.fluid.set_flags` 则报错
[code]
请问在使用paddlepaddle的时候如何正确赋值这些 flags ？

paddlepaddle 版本为 2.1

[2021-06-08 03:09] yilvshifeng commented on #29320
还是没有解决，同样的系统，同样的配置，同样的安装方式在有的机器上可以，有的却又不行！没找到原因！

[2021-06-08 03:14] #23892 closed, assigned to nobody

[2021-06-08 03:14] #24715 closed, assigned to nobody

[2021-06-08 03:14] #24728 closed, assigned to nobody

[2021-06-08 03:14] #24739 closed, assigned to jerrywgz

[2021-06-08 03:14] #24796 closed, assigned to nobody

[2021-06-08 03:14] #24803 closed, assigned to ceci3

[2021-06-08 03:14] #24808 closed, assigned to jerrywgz

[2021-06-08 03:14] #24827 closed, assigned to nobody

[2021-06-08 03:14] #24835 closed, assigned to nobody

[2021-06-08 03:14] #24864 closed, assigned to ZeyuChen, Steffy-zxf

[2021-06-08 03:14] #24871 closed, assigned to wzzju, jiweibo, Shixiaowei02

[2021-06-08 03:14] #24872 closed, assigned to Thunderbrook

[2021-06-08 03:14] #24884 closed, assigned to wzzju

[2021-06-08 03:14] #24887 closed, assigned to NHZlX

[2021-06-08 03:14] #24900 closed, assigned to nobody

[2021-06-08 03:14] #24909 closed, assigned to nobody

[2021-06-08 03:14] #24915 closed, assigned to nobody

[2021-06-08 03:14] #24916 closed, assigned to nobody

[2021-06-08 07:13] 15814 opened #33421 "paddle 2.1 文档问题。paddle.nn.Linear 对其参数初始化的文档描述 与其实际使用的初始化方法 不一致"
[我查看的文档链接](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Linear_cn.html)

<img width="837" alt="image" src="https://user-images.githubusercontent.com/13784723/121139667-94e4a380-c86b-11eb-8bfe-63e180884aef.png">

文档里说  Linear 这个类 采用的默认参数初始化方式是全零初始化，但实际效果并不是。同时我查看了相关的源码，似乎其现在采用的是 Xavier 初始化方式。希望开发者能帮忙确认，提升文档。

[2021-06-08 08:02] zhhsplendid commented on #33403
暂时没看出什么错，但是从报错信息上：
RuntimeError: (PermissionDenied) Cannot set gradient op twice unless using Inplace Strategy.
gradient op是反向时进行梯度计算的op，这里报错貌似是说不能计算反向两次。请检查一下是否有什么地方进行了两次反向梯度计算？

[2021-06-08 08:04] yeyupiaoling commented on #33403
@zhhsplendid 这些代码都是很常规的做法：https://github.com/yeyupiaoling/PPASR/blob/%E8%BF%9B%E9%98%B6%E7%BA%A7/model_utils/conv.py

没有没有什么特别的。

[2021-06-08 08:06] heavengate commented on #33421
好的，感谢反馈，这是个文档错误，我们修复一下~

[2021-06-08 08:19] zhhsplendid commented on #33403
上面是模型代码，怎么训练，怎么存储的代码能发给我看看吗？

[2021-06-08 08:20] yeyupiaoling commented on #33403
https://github.com/yeyupiaoling/PPASR/blob/%E8%BF%9B%E9%98%B6%E7%BA%A7/train.py

[2021-06-08 08:49] zhhsplendid commented on #33403
说实话，这个报错我也不知道是什么错。但是python报错栈我大概知道是哪。我不是十分确定原因，你可以看看这里：

https://github.com/yeyupiaoling/PPASR/blob/bd79cf9bbfe5b2a48e9581612e7b1b7fc88dfc3e/model_utils/conv.py#L18
[code]
我不确定是否是这里循环控制流里加`masks[i, :length] = 1`这种索引方式paddle还支持得不是很好。请问x.shape[0]是相对固定的数吗，或者可否从MaskConv的forward传进去？可否试试`for i in range(某个数)`，因为`for i in range(x.shape[0])`会被动态图转静态图转化为paddle控制流接口。不在控制流里的`masks[i, :length] = 1`索引方式可能可以。你可以

[2021-06-08 08:59] yeyupiaoling commented on #33403
@zhhsplendid  x.shape[0]就是batch size，我试着改一下。

[2021-06-08 10:07] zhwesky2010 commented on #33341
@yeyupiaoling 你好，请问 dataset/manifest.test是如何创建的，是训练的dataloader也会出问题还是评估时的dataset/manifest.test对应dataloader也会出问题呢？

[2021-06-08 10:53] heavengate commented on #33404
Linux/Mac环境可以试下`export FLAGS_cudnn_dir=/somewhere/anaconda3/lib`
Windows环境可以试下`set FLAGS_cudnn_dir=/somewhere/anaconda3/lib`

[2021-06-08 11:56] lytning98 commented on #33404
@heavengate 我试过这种方法，但并没有效果，从 glog debug 输出来看运行 paddle 时相关的 flags 依然是空值

[2021-06-08 12:12] kyoussef opened #33433 "avx_supported function in fluid core fails on linux when called from systemd context"
I had paddleocr example served from a Flask application on Ubuntu 18.04. The Flask application was hosted on Gunicorn and added as a systemd service.
When starting the service, it was failing due to issue "modulenotfounderror: no module named 'paddle.fluid.core_noavx'". After analyzing the issue, it turned out that paddle was not detecting the support of AVX on the machine, when it is actually sup

[2021-06-08 13:31] btobab commented on #33349
好的~

[2021-06-09 02:19] zhwesky2010 commented on #33341
@yeyupiaoling 你好，我这边复现时是最后一个batch时会出现计算错误，你这边会出现这个吗？ ![image](https://user-images.githubusercontent.com/52485244/121282398-02e0a780-c90c-11eb-860d-c3f5642e35a0.png)

[2021-06-09 02:20] yeyupiaoling commented on #33341
@zhouwei25 不会呀，我在本地再测一下

[2021-06-09 02:24] yeyupiaoling commented on #33341
@zhouwei25 哦哦，明白了，因为max_prob_list识别长度为零，导致除0错误。我改一下
[code]

[2021-06-09 02:27] yeyupiaoling commented on #33341
@zhouwei25 我推了新代码。

[2021-06-09 02:28] zhwesky2010 commented on #33341
@yeyupiaoling 只有评估时会出问题吗

[2021-06-09 02:29] yeyupiaoling commented on #33341
@zhouwei25 在windows上，只要是一个循环获取数据的，都会在最后一个循环结束之后，卡死。不管是评估还是训练。

[2021-06-09 02:52] yeyupiaoling commented on #33341
@zhouwei25 您可以在直接执行评估eval()，因为评估数据少，可以快速复现问题。

[2021-06-09 03:09] heavengate commented on #33404
`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/somewhere/anaconda3/lib`试下呢

[2021-06-09 03:11] heavengate commented on #33433
你好，应该是你机器不支持avx指令集但是安装的是带avx的paddle版本，可以卸载之后重新安装一下paddle试下，或者使用https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-release 这里的版本试下

[2021-06-09 03:20] lytning98 commented on #33404
修改环境变量不起作用，目前应该只有设置这个 gflags 可以解决问题...

参考 issue #33208 的讨论，简单来说，搜索动态链接库的逻辑目前存在一些问题，gflags 给出的目录是第一优先级，环境变量是第三优先级，而第二优先级是硬编码的绝对路径，在这个绝对路径下能找到 cudnn 的情况下就直接用这个 cudnn 了，尽管版本可能不对。。而这个在 `/usr` 下的绝对路径又需要 root 权限才能修改，所以除了修改源码重新编译之外我只能通过修改这个 gflags 的值来解决问题...

所以请问是否有办法能够设置这个 flags 的值呢...

[2021-06-09 03:37] KerwinChen commented on #32109
@tink2123 请问有计划什么时候支持 cuda 11.3 吗？

[2021-06-09 05:05] kyoussef commented on #33433
The machine does support the AVX, as I mentioned above it worked when I fixed the function that checks for the avx on the machine. Please double check my original post.

[2021-06-09 05:37] frankwhzhang commented on #33380
有具体的信息和需求可以贴一下嘛

[2021-06-09 05:43] frankwhzhang commented on #33385
请贴一下详细代码

[2021-06-09 05:45] frankwhzhang commented on #33389
可以贴一下详细代码和相关信息嘛

[2021-06-09 06:11] yeyupiaoling commented on #33385
@frankwhzhang 预测的全部代码。模型代码：https://github.com/yeyupiaoling/PPASR/tree/%E8%BF%9B%E9%98%B6%E7%BA%A7/model_utils

[code]

[2021-06-09 06:24] zhwesky2010 commented on #33367
@ANewAnonymous 这个是Paddle所有C++文件对应生成的动态库，这个大小是正常的

[2021-06-09 06:25] tianshuo78520a commented on #33367
Paddle暂时没有办法减少这个体积，可以试试用nvprune工具减少

[2021-06-09 06:35] frankwhzhang commented on #33391
不支持

[2021-06-09 06:37] lidanqing-vv commented on #33282
@juncaipeng  I reproduced and it looks the graph has some problem, there is one elementwise_add, one of its input is one dimension array and another input of this elementwise_add is two dimension array.

[2021-06-09 06:42] sandyhouse commented on #33270
可以ping一下相应的地址，看看网络是否互通。

[2021-06-09 06:47] amenua commented on #33270
是通的

[2021-06-09 07:30] roshanthink commented on #33391
不支持这样的运算是吗？

[2021-06-09 07:34] butterniu opened #33449 "源码编译"
系        统：openeuler  arm64
编译命令：make TARGET=ARMV8 -j4
错误     ：
c++: error: unrecognized command line option ‘-m64’
make[2]: *** [paddle/fluid/platform/CMakeFiles/flags.dir/build.make:63: paddle/fluid/platform/CMakeFiles/flags.dir/flags.cc.o] Error 1
make[2]: Leaving directory '/root/tools/Paddle/build'
make[1]: *** [CMakeFiles/Makefile2:4024: paddle/fluid/platform/CMakeFiles/flags.dir/all] Error

[2021-06-09 07:35] butterniu commented on #33449
系        统：openeuler  arm64
编译命令：make TARGET=ARMV8 -j4
错误     ：
c++: error: unrecognized command line option ‘-m64’
make[2]: *** [paddle/fluid/platform/CMakeFiles/flags.dir/build.make:63: paddle/fluid/platform/CMakeFiles/flags.dir/flags.cc.o] Error 1
make[2]: Leaving directory '/root/tools/Paddle/build'
make[1]: *** [CMakeFiles/Makefile2:4024: paddle/fluid/platform/CMakeFiles/flags.dir/all] Error

[2021-06-09 07:36] GT-ZhangAcer commented on #33391
感觉不支持应该给个报错或者提示吧，如果用户不自行打印出结果，很难判断出是哪里出现的问题

[2021-06-09 07:56] sandyhouse commented on #33270
是否存在端口占用呢？即warning信息中需要连接的端口被别的进程占用？

[2021-06-09 07:58] amenua commented on #33270
确认过了，端口也没有占用，我这里试了下有的机器可以，有的不行，怀疑跟防火墙之类的设置有关

[2021-06-09 08:24] wy1996-hub opened #33456 "您好，我是一位使用飞浆框架的研究生。我主要从事三维重建方向研究，希望飞浆可以开设一些3D方面的深度学习课程，以及开源一些三维重建的深度学习网络。谢谢！"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2021-06-09 08:56] yangkerrr opened #33458 "paddle.vision.models.resnet34()出错"
1）PaddlePaddle2.1
2）AiStudio运行环境
训练时使用resnet预训练模型突然出错，运行文档中代码中也出现了一样的错误，错误信息如下：

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/vision/models/resnet.py", line 309, in resnet34
    return _resnet('resnet34', BasicBlock, 34, pretrained, **kwargs)
  File "/opt/conda/envs/python35-paddle120-env/

[2021-06-09 09:41] chenwhql commented on #33380
1. 首先，创建Tensor的时候是没有初始化的，需要调用mutable_data<T>申请数据区，而这个申请出来的数据区是没有去初始化的，就是裸内存，一定得赋值之后再使用！否则可能会有问题
2. 目前paddle没有C++的Tensor API，我们正在统一规划C++ Tensor计算库及其API的工作，也内部讨论过，短期之内不会再增加临时的C++初始化API了，意义不大。这个有待于统一规划，新的体系成型后，会包含初始化API在内的丰富计算API，届时自定义Op的编写会更加方便，敬请期待

[2021-06-09 09:43] ForFishes commented on #33389
您好，你所说的是正确的，数据并行的global_batch_size = local_batch_size * cards。但是这里需要注意的是，每张卡输入的数据应该是不一样的，才能保证数据并行，推荐使用Dataset, DistributedBatchSampler 来保证数据在每张卡的输入不同。

https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/io/DistributedBatchSampler_cn.html#distributedbatchsampler

[2021-06-09 11:15] Meiyim opened #33465 "cross_entrpy 文档有误"
paddle 2.1 官网[文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/layers/cross_entropy_cn.html#cross-entropy)中
![image](https://user-images.githubusercontent.com/10281949/121344903-d3a35800-c956-11eb-80ac-d0d936e69c94.png)

`paddle.nn.functiona.cross_entropy` 的公式不含softmax，实际上该公式是`CrossEntropyLoss`的函数版。公式中应该含有softmax

[2021-06-09 11:30] lidanqing-vv commented on #33282
broadcast X(1 dimension ) Y(2 dimensions) mkldnn version will be supported before 16th June.

[2021-06-09 12:46] sandyhouse commented on #33449
有运行cmake命令吗？另外源码可参考https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/compile/linux-compile.html#anchor-0

[2021-06-09 12:47] sandyhouse commented on #33456
您的反馈已收悉，我们会将您的建议反馈给相关同学，感谢您的建议。

[2021-06-09 12:49] sandyhouse commented on #33458
请描述具体的环境信息，我本地无法复现上述错误。

[2021-06-09 13:01] yangkerrr commented on #33458
重启项目两次之后又可以正常运行了，很奇怪的错误。。。

[2021-06-09 13:01] #33458 closed, assigned to sandyhouse

[2021-06-09 13:10] pkuCactus opened #33474 "paddle tensor transforms不支持超过3个维度的"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.1
    2）CPU/GPU：NVIDIA V100
    3）系统环境：ubuntu16.04
    4）Python版本号 3.7

 a = paddle.rand((2,3,4,4))
b = a.transpose(3,2,1,0)
这只是一个示例的情况，在实际中我们可能有更高的维度的tensor需要交换其中的某两维，那么在paddle中就很难实现
请问有什么好的解决方案或者替代API吗
    a.transpose(3,2,1,0)
T

[2021-06-09 13:27] DarthThomas opened #33477 "Inaccurate model parameter count"
**System information**
****************************************
Paddle version: 2.0.0
Paddle With CUDA: True

OS: Ubuntu 16.04
Python version: 3.7.10

CUDA version: 10.2.89
cuDNN version: 7.6.5
Nvidia driver version: 440.82
****************************************
**problem file**
`python/paddle/hapi/model_summary.py`

**To Reproduce**
    - get summer of any model with  `batch norm` layer
    - y

[2021-06-09 20:25] dercaft opened #33481 "paddle.flops() 计算得到的FLOPs数值溢出，出现负号"
## 使用paddle.flops()计算模型运算量时得到负值
[code]
得到
[code]
使用其他方式计算得到的模型flops为：2054833664

- **log(2054833664+183452672)/log(2) ≈ 31**

### 所以paddle.flops的代码里是用int32来存flops吗？

## 建议使用**int64**

## 版本、环境信息：

-  Paddle version: 2.1.0
-  Paddle With CUDA: True
-  OS: Ubuntu 18.04
-  Python version: 3.6.9
-  CUDA version: 10.2.89
-  cuDNN version: 7.6.5
-  Nvidia driver version: 450.80.02

[2021-06-10 01:20] molyswu opened #33482 "PPyolo2+tensorRt在win10上，VS2017推理，在c++预测，生成序列化模型问题"
1）PaddlePaddle版本：2.1
   2）GPU：2080super、CUDA10.2和CUDNN7
   4）win10
   1）C++预测：version.txt文件
GIT COMMIT ID: 4ccd9a0
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
CUDA version: 10.2
CUDNN version: v7.6
CXX compiler version: 19.16.27045.0
WITH_TENSORRT: ON
TensorRT version: v7
   4）预测库来源：官方下载

问题:在win10环境下，使用官方提供检测预测库，配置好tensorRt,使用cmake生成工程后，每次使用tensorRt运行程序都会重新生成序列化模型，在ubuntu环境下没有此问题，而且在windows环境下生成序列化

[2021-06-10 01:47] liangruofei opened #33483 "paddle2.1源码在nvidia的NX上编译报错"
各位大佬，帮忙看看：
         我是paddle2.1源码在nvidia的NX上编译报错：
一开始我是用2.0编译的，没问题，后面想跟随升级，报错，我的cmake文件是：
if [ ! -d "build" ]; then
  mkdir build
fi

cd build

cmake .. \
  -DWITH_CONTRIB=OFF \
  -DWITH_MKL=OFF  \
  -DWITH_MKLDNN=OFF \
  -DWITH_TESTING=OFF \
  -DCMAKE_BUILD_TYPE=Release \
  -DON_INFER=ON \
  -DWITH_PYTHON=ON  \
  -DPY_VERSION=3.6  \
  -DWITH_XBYAK=OFF  \
  -DWITH_GPU=ON \
  -DCUDA_ARCH_NAME=Auto

[2021-06-10 02:52] ykkk2333 opened #33485 "Nvidia A100 bert 训练，安装paddle2.1后，bert qps问题"
升级到paddle 2.1之后，Bert base 在A100上的qps从810上升到了1180，想了解下paddle2.1有对bert或相关的算子有特别的优化么

设备信息：
Nvidia A100-PCIE-40GB
CUDA Version：11.2
cudnn：8.04

[2021-06-10 02:54] ceci3 commented on #33481
收到，我们看下这个问题。
是的，paddle.flops的代码里是用int32来存flops。。

[2021-06-10 03:02] ceci3 commented on #33485
请问下是静态图还是动态图模型？训练还是预测呢？

[2021-06-10 03:14] sandyhouse commented on #33474
将参数作为列表或元组传入，参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/transpose_cn.html#transpose

[2021-06-10 05:02] wangye707 commented on #33483
@liangruofei jetpack自带的cmake为3.10版本，paddle2.1要求至少为3.16版本。编译2.1版本时需要再加一个 -DWITH_NCCL=OFF

[2021-06-10 05:46] #30005 closed, assigned to LielinJiang

[2021-06-10 06:36] QIANXUNZDL123 opened #33493 "使用paddleocr基于自己的数据集训练识别模型 模型使用的是MobileNetV3_large_x0_5_pretrained 但是在训练到159次中止训练"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle-GPU 2.1.0.post
    2）CPU：
    3）GPU：Tesla V100  CUDA:11.2   CuDNN8.1
    4）系统环境：python:3.8   CentOS Linux release 7.9.2009 (Core)
- 训练信息
    1）单机，单卡
    2）16G
    3）Operator信息
- 复现信息：如为报错，请给出

[2021-06-10 07:09] q178 opened #33495 "最新预测库的API文档"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-06-10 07:12] q178 opened #33496 "机器翻译预测"
paddle版本1.1
  InvalidArgumentError: Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [2, 21, 1024] and the shape of Y = [2, 21, 512]. Received [1024] in X is not equal to [512] in Y at i:2.
      [Hint: Expected x_dims_array[i] == y_dims_array[i] || x_dims_array[i] <= 1 || y_dims_array[i] <= 1 == true, but received x_dims_array[i] == y_dims_array[i] || x

[2021-06-10 08:11] ceci3 commented on #33496
看起来是要进行elementwise 操作的时候维度对不上，paddle版本用的是1.1嘛？

[2021-06-10 08:11] DDDivano commented on #32377
![image](https://user-images.githubusercontent.com/10734244/121489191-6d760e00-ca06-11eb-9b34-2d40cb809c05.png)
![image](https://user-images.githubusercontent.com/10734244/121489241-7c5cc080-ca06-11eb-989c-d43349bc9f97.png)

check一下本地的python环境，pip源？ 我这边安装是可以的

[2021-06-10 08:12] LDOUBLEV commented on #33493
看报错是模型评估的是后数据加载报错了
- 可以先检查下eval数据的格式是否符合paddleocr的数据格式；
- 把eval.loader的[num_works](https://github.com/PaddlePaddle/PaddleOCR/blob/7ca246f4f3b20b78fb96ecfd2e179c1067e55a6c/configs/rec/rec_icdar15_train.yml#L99)设置为0，执行tools/eval.py试试

[2021-06-10 08:13] ceci3 commented on #33495
https://paddle-inference.readthedocs.io/en/latest/index.html 预测库文档在这里~

[2021-06-10 08:15] q178 commented on #33496
感谢您的回复，我已经找到问题所在，是yaml文件里的参数被其他人改掉了

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: ceci3 ***@***.***&gt;
发送时间: 2021年6月10日 16:11
收件人: PaddlePaddle/Paddle ***@***.***&gt;
抄送: q178 ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/Paddle] 机器翻译预测 (#33496)

看起来是要进行elementwise 操作的时候维度对不上，paddle版本用的是1.1嘛？

—
You are receiving this because you authored the thread.
Reply to this em

[2021-06-10 08:48] GuoQuanhao commented on #33389
你好，DistributedBatchSampler需要与DataLoader一起用吗
[code]
[code]
我想知道`DistributedBatchSampler`具体用法示例，文档给的信息太少了

[2021-06-10 08:48] GuoQuanhao commented on #33389
具体应该咋写呀

[2021-06-10 08:56] a2824256 opened #33502 "请教paddle 2.0预测库的CMAKE相关配置"
使用paddle-inference教程下载的预测库，在vs2017上面使用例程测试，编译提示.dll文件损坏，打算从源码编译，想请教相关配置，暂时还没成功把预测库编译出来。

本地环境
PaddlePaddle目标编译版本：release/2.0
OS: win10 家庭版 版本号21H1 操作系统内部版本19043.1052
CPU: i7-8700
GPU: NVIDIA TITAN RTX
CUDA: 10.2
cudnn: 7.6.5
TensorRT: 7.0.0
VS: 官网下载的2015 community with update 3
CMAKE：3.17.0

[2021-06-10 09:38] GuoQuanhao commented on #33389
train_loader = DataLoader(dataset, batch_sampler=DistributedBatchSampler(dataset, batch_size=64), num_workers=0)这样？？

[2021-06-10 11:20] a2824256 commented on #33502
报错信息
[code]

[2021-06-10 11:22] ceci3 commented on #33502
https://paddle-inference.readthedocs.io/en/latest/user_guides/source_compile.html#ubuntu-18-04 可以参考这里的编译配置

[2021-06-10 11:22] a2824256 commented on #33502
@ceci3 现在就是按这个配置进行配置的，但编译不出来

[2021-06-10 12:38] Zeref996 commented on #33240
hello,
https://dubox.com/s/16ZOljv34Q_gKJuRHyP7XhA
You can get partly log at this link.

![image](https://user-images.githubusercontent.com/53218160/121526225-c1dfb480-ca2b-11eb-9850-25f3967d561b.png)

[2021-06-11 00:22] 1058239242 opened #33516 "AttributeError: '_DataLoaderIterMultiProcess' object has no attribute '_shutdown'"
raceback (most recent call last):
  File "tools/train.py", line 125, in <module>
    main(config, device, logger, vdl_writer)
  File "tools/train.py", line 102, in main
    eval_class, pre_best_model_dict, logger, vdl_writer)
  File "/home/xutao/work/PaddleOCR/tools/program.py", line 204, in train
W0611 08:10:16.251390 273098 default_variables.cpp:78] Fail to open /proc/self/stat: Too many open fi

[2021-06-11 01:53] Qdriving opened #33517 "【论文复现】operator < generate_proposals_v2 > error"
- 版本、环境信息：AI Studio V100 16G环境
    1）PaddlePaddle版本：develop 版本  20210611早上安装的

    3）GPU： V100 16G
    4）系统环境：Python版本 python 3.7 框架版本 PaddlePaddle 自己安装的develop版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训练信息
    1）单卡   V100
    2）显存信息  16G
    3）Operator信息  generate_proposals_v2
- 复现信息：基于PaddleDetection增加Swin Transformer模型， batc

[2021-06-11 02:17] #31598 closed, assigned to MrChengmo

[2021-06-11 02:18] yang20085936 commented on #33208
我也遇到了类似的问题，paddle2.1 不能准确识别虚拟环境中的cudnn版本。在复现“https://www.paddlepaddle.org.cn/documentation/docs/zh/tutorial/cv_case/convnet_image_classification/convnet_image_classification.html”时候出现

`device: 0. The installed Paddle is compiled with CUDNN 8.1, but CUDNN version in your machine is 8.0, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version.
 `

[2021-06-11 03:14] yeyupiaoling commented on #33403
@zhhsplendid 我想不出还有什么方法改适合PaddlePaddle了，您能指点一下吗？
其功能是按照`length`指定的长度，把`masks`每一行都填1，

[2021-06-11 03:18] pkuCactus commented on #33474
谢谢

[2021-06-11 03:18] #33474 closed, assigned to sandyhouse

[2021-06-11 03:36] GaiHaoBeibei opened #33520 "windows10 cpu python 本地部署报错"
电脑相关配置
Paddle version: 2.1.0
Paddle With CUDA: False
OS: Windows 10
Python version: 3.7.0
CUDA version: None
cuDNN version: None
Nvidia driver version:
CPU：英特尔 Core i7—6820HQ @2.70GHz 四核

该程序在ai studio cup 环境下可以正常运行
在本地python3.7编译器上运行python部署报错
报错内容如下
![image](https://user-images.githubusercontent.com/71703793/121633304-1d09b980-cab5-11eb-99e2-fbd4f2cfd5ca.png)

源代码

[手写数字识别.zip](https://github.co

[2021-06-11 03:51] KwpGitHub commented on #33177
因为你们前面的paddle不能用所以就卸载了，还是继续用tensorflow了！本来看了你们的套件和介绍，感觉paddle 2.1在工业上用应该在目前几个AI框架里是最优的选择，结果几个电脑几个不同的配置运行你们自己教程示例都出错，所以感觉还是比较遗憾的。今天把手上的项目弄完才有空重新装一下paddle 2.1给重现一下你们错误信息,不过现在paddle是能正常运行了，现在配置的2台电脑正常运行，你们应该更新过文件吧？不过短期内还是不敢用在自己项目中了，因为对你们的稳定性还是有疑虑的了

[2021-06-11 04:16] ANewAnonymous opened #33523 "使用PyInstalle打包paddle"
打包后在本机cuda10.2下正常使用，cpu和gpu均可调用，在GTX 1650显卡下的cuda11.1上无法使用GPU，请问我应该这么做
paddle版本2.0

[2021-06-11 04:36] GaiHaoBeibei commented on #33520
jhg

[2021-06-11 05:35] heimao63531 opened #33525 "官网的paddle serving Docker安装方式下的docker 无法使用"
官网的paddle serving https://www.paddlepaddle.org.cn/tutorials/projectdetail/1555945 ，跟这上面的docker 安装，拉取镜像的时候报not found

 sudo docker pull hub.baidubce.com/paddlepaddle/serving:0.5.0-devel
Error response from daemon: manifest for hub.baidubce.com/paddlepaddle/serving:0.5.0-devel not found

![image](https://user-images.githubusercontent.com/11887111/121635981-cb176280-cab9-11eb-81e9-f61ff1578939.png)

[2021-06-11 05:56] Shixiaowei02 commented on #33517
您好，从日志中没有得到有效信息，请尝试用 CPU 跑一遍看是否提示有效报错信息，谢谢

[2021-06-11 07:51] jczaja commented on #33021
@juncaipeng Two PRs with fixes to this issue were merged. Please test.

[2021-06-11 08:18] Qdriving commented on #33517
CPU跑是OK的，如果图片的大小设置得小用GPU跑也是OK的

[2021-06-11 08:56] Agino-ltp opened #33536 "安装paddle时报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2021-06-11 08:56] Agino-ltp commented on #33536
![image](https://user-images.githubusercontent.com/73732417/121660576-fb6cfa00-cad5-11eb-93f5-395b9e7ad162.png)

[2021-06-11 08:57] yeyupiaoling commented on #33318
我用这个激活函数`nn.Hardtanh(min=0.0, max=24.0)`代替了

[2021-06-11 08:57] #33318 closed, assigned to gongweibao

[2021-06-11 08:57] #32970 closed, assigned to pangyoki

[2021-06-11 08:58] yeyupiaoling commented on #33341
@zhouwei25 有没有复现问题？

[2021-06-11 08:59] yeyupiaoling commented on #33095
@qili93 我看你给的代码中，如果是多卡训练，为啥要`model._layers`，而不是直接`model`呢？

https://github.com/PaddlePaddle/PaddleNLP/blob/7955b9302c2655aa4d4e10795113f27306dfaa70/examples/language_model/bert/run_glue.py#L394-L396

[2021-06-11 09:00] yeyupiaoling commented on #33385
也有可能是我环境的问题。这个环境是我自己编译的。

[2021-06-11 10:01] mrlihellohorld opened #33540 "CUDA device is not set properly"
cuda:  Driver Version: 430.64       CUDA Version: 10.1
docker中安装：sudo docker run --name ppocr -v $PWD:/paddle --network=host -it paddlepaddle/paddle:latest-dev-cuda10.1-cudnn7-gcc82 /bin/bash
import paddle报错：
/usr/local/python3.5.1/lib/python3.5/site-packages/paddle/fluid/framework.py:298: UserWarning: You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be u

[2021-06-11 10:01] ANewAnonymous commented on #33523
我看到了他的报错信息:
RuntimeError: (PreconditionNotMet) The third-party dynamic library (cudnn64_7.dll) that Paddle depends on is not configured correctly. (error code is 126)
  Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configure third-party dynamic library environment variables as fo

[2021-06-11 10:20] ANewAnonymous commented on #33523
当我把cudnn64_7.dll加到环境里面后又出现报错:
RuntimeError: (PreconditionNotMet) The third-party dynamic library (cublas64_102.dll;cublas64_10.dll) that Paddle depends on is not configured correctly. (error code is 126)
  Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configure third-party dynami

[2021-06-11 10:21] ANewAnonymous commented on #33523
cublas64_102.dll无法找到这个动态库，仅将cublas64_10.dll添加到了环境中 报错依旧，没有发生改变

[2021-06-11 11:28] pmajchrzak opened #33541 "Error in save_quant_model.py"
After PR: b2afc8dfd2151c1646bd2dc639620df8b8858578
an error appears:
[code]
**CMake flags used while PaddlePaddle build:**
[code]

[2021-06-11 11:30] #33403 closed, assigned to heavengate

[2021-06-11 11:31] #33385 closed, assigned to frankwhzhang

[2021-06-11 11:31] #32796 closed, assigned to ForFishes

[2021-06-11 11:40] TLTLHILL opened #33542 "Pycharm配置paddle环境出错"
![%0XQ{)0GQLD`KQ53%$OX(_N](https://user-images.githubusercontent.com/85716726/121681002-d5068900-caec-11eb-9e03-aebc5cab6068.png)
cudnn64_7.dll下载了，环境变量也设置了还是没有解决

[2021-06-11 12:51] ForFishes commented on #33389
类似这种 dataset + DistributedBatchSampler + dataloader 的组合方式

[code]

[2021-06-12 06:03] #33389 closed, assigned to frankwhzhang

[2021-06-13 00:28] ToscanaGoGithub commented on #26637
似乎是不能完全对齐的，就算是设置一样的随机数种子，根据这个种子初始化一些参数的时候仍然会与一些区别。只能依靠加载预训练模型来进行对齐

[2021-06-13 06:51] jucaowei opened #33545 "docker镜像中，使用执行paddle.fluid.install_check.run_check()时，出现错误"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2021-06-13 07:40] yang20085936 commented on #33208
/usr/local/lib下面只有python2.7和python3.6两个文件包，并没有CUDA。怎么回事呢？

[2021-06-13 07:41] yang20085936 commented on #33208
您好，请问这是在那里设置的？

[2021-06-13 08:16] yang20085936 commented on #33208
直接升级系统的cudnn之后还是报错：
device: 0, cuDNN Version: 8.1.
(External)  Cudnn error, CUDNN_STATUS_VERSION_MISMATCH

有解决方案么？

[2021-06-13 15:46] dongfangyixi opened #33547 "OSError: (External) Cublas error, `CUBLAS_STATUS_INVALID_VALUE`. An unsupported value or parameter was passed to the function (a negative vector size, for example). (at /paddle/paddle/fluid/platform/cuda_helper.h:107)"
![image](https://user-images.githubusercontent.com/6477100/121813846-7550df00-cca0-11eb-8b89-e2a05c7080d1.png)

with cuda 11.2 cudnn 8.1.1.33

![image](https://user-images.githubusercontent.com/6477100/121813921-ec867300-cca0-11eb-8d48-bea1d78d7684.png)
![image](https://user-images.githubusercontent.com/6477100/121813990-4ab35600-cca1-11eb-8d62-d6a954b8ce65.png)
![image](https://user-images.github

[2021-06-13 17:11] #33502 closed, assigned to ceci3

[2021-06-13 20:33] yang20085936 commented on #33208
您好！我重装了系统，使得默认环境和虚拟环境的cuda均为11.1，cudnn均为8.1。仍然提示
`Cudnn error, CUDNN_STATUS_VERSION_MISMATCH`
不知这问题可有解决方案？

[2021-06-14 12:50] #33380 closed

[2021-06-14 14:39] kaixin-bai opened #33548 "源码编译报错"
尝试使用源码编译时报错，无法成功编译。
系统和硬件信息：
[code]

源码编译方式：
[code]

报错信息：
[code]

[2021-06-15 01:34] zhupengyang commented on #33548
- 请确认正确安装cuda/cudnn，并且设置cmake选项```CUDA_CUDART_LIBRARY```
- 请参考[文档](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/compile/linux-compile.html#anchor-5)中Python的描述进行相应设置

[2021-06-15 02:30] hong19860320 commented on #33545
麻烦分别执行下如下命令，把结果贴上来哈~

`
$ nvidia-smi

$ nvcc -V

$ echo $PATH

$ echo $LD_LIBRARY_PATH
`

[2021-06-15 02:36] hong19860320 commented on #33547
麻烦分别执行下如下命令，把结果贴上来哈~

`
$ nvidia-smi

$ nvcc -V

$ echo $PATH

$ echo $LD_LIBRARY_PATH
`

[2021-06-15 03:15] #21282 closed, assigned to nobody

[2021-06-15 03:15] #21557 closed, assigned to NHZlX, cryoco

[2021-06-15 03:15] #22516 closed, assigned to NHZlX

[2021-06-15 03:15] #22534 closed, assigned to nobody

[2021-06-15 03:15] #24917 closed, assigned to LDOUBLEV

[2021-06-15 03:15] #24940 closed, assigned to zhiqiu

[2021-06-15 03:15] #24949 closed, assigned to nobody

[2021-06-15 03:15] #24951 closed, assigned to Xreki

[2021-06-15 03:15] #24953 closed, assigned to heavengate

[2021-06-15 03:15] #24973 closed, assigned to fc500110

[2021-06-15 03:15] #24991 closed, assigned to hutuxian

[2021-06-15 03:15] #24993 closed, assigned to hutuxian

[2021-06-15 03:15] #25029 closed, assigned to zhwesky2010

[2021-06-15 03:15] #25032 closed, assigned to nobody

[2021-06-15 03:15] #25047 closed, assigned to nobody

[2021-06-15 03:25] jucaowei commented on #33545
![企业微信截图_2021061511
![企业微信截图_20210615112406](https://user-images.githubusercontent.com/20838823/121988049-459ef580-cdcc-11eb-945b-a0f38dd8215d.png)
2356](https://user-images.githubusercontent.com/20838823/121988033-39b33380-cdcc-11eb-895c-4202c9c007e7.png)
###

[2021-06-15 03:26] jucaowei commented on #33545
![企业微信截图_20210615112406](https://user-images.githubusercontent.com/20838823/121988196-7848ee00-cdcc-11eb-8bb1-b54209a5db8a.png)

[2021-06-15 03:27] jucaowei commented on #33545
即使实在driver api     runtime api   还有paddle版本都保持11.2    依然出现这样的报错

[2021-06-15 03:50] dongfangyixi commented on #33547
nvidia-smi:
![image](https://user-images.githubusercontent.com/6477100/121989272-6b2cfe80-cdce-11eb-9f4e-1ed34d556765.png)

nvcc -V:
![image](https://user-images.githubusercontent.com/6477100/121989311-80099200-cdce-11eb-9946-bda7fc577c54.png)

which nvidia-smi:
/usr/bin/nvidia-smi

which nvcc;
/usr/bin/nvcc

echo $PATH:
/home/xx/.local/bin:/home/xu/miniconda3/bin/:/home/xx/miniconda3/bin:/home/xx

[2021-06-15 04:17] QIANXUNZDL123 opened #33557 "PaddleOCR检测模型，模型使用的是MobileNetV3_large_x0_5_pretrained，训练次数1200次，使用训练模型测试图片检测结果很准确，但是对于同一张图使用推理模型基本上啥也检测不出来"
版本、环境信息：
   1）PaddlePaddle版本：PaddlePaddle-GPU 2.1.0.post
   2）CPU：
   3）GPU：Tesla V100 CUDA:11.2 CuDNN8.1
   4）系统环境：python:3.8 CentOS Linux release 7.9.2009 (Core)

[2021-06-15 06:40] winter-wang commented on #33520
经和 GaiHaoBeibei 沟通，已确定是由于中文路径的问题，关闭该issue.

[2021-06-15 07:12] lidanqing-vv commented on #33021
@OliverLPH  Hi I talked with Juncai, please test this issue, since two PRs are merged and should fix this.

[2021-06-15 07:14] #32293 closed, assigned to lidanqing-vv

[2021-06-15 10:16] lidanqing-vv commented on #33282
Hi, @juncaipeng  @jczaja

Jacek's PR #33549 fixed the issue. I tested **newest develop(b1355444a91747a27cb10f2d0087d7fd5e704d55) + this PR** on my i9 machine results are as follows:

mkldnn False
[code]

mkldnn True
[code]

@juncaipeng  Maybe you could ask Baidu QA to verify it?

[2021-06-15 14:18] jakpiase opened #33583 "GetKernelTypeForVar disables oneDNN split kernel"
Hi, I am currently implementing oneDNN split op kernel. When testing I saw that oneDNN kernel is not being used when AxisTensor or SectionsTensorList are given as input. From what I can see GetKernelTypeForVar function forces choosing native kernel when AxisTensor or SectionsTensorList are given. Can you give me any advice how can I change that behavior to choosing between oneDNN and native kernel

[2021-06-15 15:24] kaixin-bai commented on #33548
疑似cmake版本过低导致，电脑没有安装权限不能测试

[2021-06-15 15:24] #33548 closed, assigned to zhupengyang

[2021-06-16 03:11] JianJingGao opened #33589 "编译错误，Windows-Trt版本"
卡在这步了，麻烦帮忙瞅瞅，谢谢
****************************************
Paddle version: 2.1.0
Paddle With CUDA: True

OS: Windows 10
Python version: 3.7.10

CUDA version: 10.2.89
cuDNN version: 7.6.5
Nvidia driver version: 462.30
****************************************
- 安装方式信息：
本地编译：采用cmake-GUI配置，VS2015 UPDATE3编译
-cmake配置页面如下
![image](https://user-images.githubusercontent.com/51236891/122152073-464e8f00-ce93-1

[2021-06-16 03:14] pangyoki commented on #33547
你好，nvcc -V显示的cuda版本是10.1，应该是cuda版本不对导致的。可以检查下/usr/local/cuda链接的cuda版本是哪个？链接到cuda11.2看是否可行。

[2021-06-16 03:41] Qdriving commented on #33517
CPU跑是OK的，如果图片的大小设置得小用GPU跑也是OK的

[2021-06-16 04:19] zhwesky2010 commented on #33589
@JianJingGao 您好，有两个可能：

1.请问是如何做cmake-gui配置的呢，可能是配置的问题，``nvcc fatal : A single input file is required for a non-link phase when an outputfile is specified`` 是主要的错误信息，可以使用 ``cmake .. -G "Visual Studio 14 2015" -A x64 -T host=x64 -DWITH_GPU=ON -DWITH_TESTING=OFF -DWITH_UNITY_BUILD=ON``在VS2015 x64命令行里试一下 再编；

2.现在Paddle升级到使用VS2017编译，VS2015目前没有维护了，可能会有些问题，推荐用2017

[2021-06-16 05:28] Shixiaowei02 commented on #33517
您好，这可能是我们自身的bug，请问能提供给我们复现脚本吗？

[2021-06-16 05:29] Shixiaowei02 commented on #33542
您好，请问您设置的是 `PATH` 环境变量吗？

[2021-06-16 05:32] Shixiaowei02 commented on #33540
您好，此报错的原因是 Paddle 借助 CUDA 发现机器中显卡个数为零。请确认 CUDA 版本和运行正常，谢谢！

[2021-06-16 05:33] Shixiaowei02 commented on #33536
您好，问题为 pip 镜像连接错误导致，请取消镜像再次尝试，谢谢

[2021-06-16 05:34] Shixiaowei02 commented on #33525
您好，此问题我们已发现，并正在修复。请换用 `registry.baidubce.com`

[2021-06-16 05:35] JianJingGao commented on #33589
我又用VS2017配置报错如下，咋提示不支持这个架构呀
***@***.***D762B4.6FB5A6D0]
***@***.***D762B4.6FB5A6D0]

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Zhou ***@***.***>
发送时间: 2021年6月16日 12:19
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/Paddle] 编译错误，Windows-Trt版本 (#33589)

@JianJingGao<https://github.com/JianJingGao> 您好，有两个可能：1.请问是如何做cmake-gui配置的呢，可能是配置的问题，nvcc f

[2021-06-16 05:35] #33520 closed, assigned to Shixiaowei02

[2021-06-16 05:36] TLTLHILL commented on #33542
是不是就是系统的Path环境呀，我设置了这个。

[2021-06-16 05:54] JianJingGao commented on #33589
***@***.***D762B7.18BBB150]
配置tensorrt之后还有一项这个报红色

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Zhou ***@***.***>
发送时间: 2021年6月16日 12:19
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/Paddle] 编译错误，Windows-Trt版本 (#33589)

@JianJingGao<https://github.com/JianJingGao> 您好，有两个可能：1.请问是如何做cmake-gui配置的呢，可能是配置的问题，nvcc fatal : A single input file is requ

[2021-06-16 05:56] Shixiaowei02 commented on #33523
您好，怀疑 CUDA 安装不正确导致问题，请参考此问题的步骤尝试解决：
https://stackoverflow.com/questions/51111954/tensorflow-cant-find-cudart64-90-dll-even-though-it-is-installed-with-path-va

[2021-06-16 05:59] Shixiaowei02 commented on #33541
We have received your problem but cannot reproduce it locally, are you sure that this submission caused the problem?

[2021-06-16 06:06] Qdriving commented on #33517
项目“Swin_transformer in Paddle2.0”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/1956654/7cc9687e8d7d4a95b5381a090df558f1

[2021-06-16 06:07] MissPenguin commented on #33557
您好，请问用的哪个算法，自己有做哪些修改呢，另外，训练模型导出为推理模型、以及用推理模型进行预测的命令可以发一下吗

[2021-06-16 06:16] #33542 closed, assigned to Shixiaowei02

[2021-06-16 06:17] zhwesky2010 commented on #32765
https://github.com/PaddlePaddle/Paddle/pull/33430 修复了这个问题

[2021-06-16 06:41] ykkk2333 commented on #33485
静态图训练

[2021-06-16 06:51] OliverLPH commented on #33541
@Shixiaowei02 this problem only occurred in python3.6, and it has been revert by https://github.com/PaddlePaddle/Paddle/pull/33538

[2021-06-16 07:20] JianJingGao commented on #33589
VS2017，编译报错如下
135>D:\work\Paddle\build\third_party\boost\src\extern_boost\boost/mpl/aux_/preprocessed/plain/bind.hpp(199): catastrophic error : error while writing generated C file: No space left on device
135>
131>C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\include\cudnn.h(536): error : identifier "cud" is undefined
131>
131>D:\work\Paddle\build\third_party\boost\src\extern_boost\boo

[2021-06-16 07:27] costume24 opened #33599 "请问paddle如何实现batch内的随机负采样？"
对于一个batch内的负样本，我希望随机采样一部分样本计算loss，请问有对应的api吗？使用的paddle版本是1.8，静态图

[2021-06-16 08:21] TLTLHILL opened #33602 "编译错误！PaddlePaddle2.1.0 CUDA11.3 CUDNN11.3"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2021-06-16 08:22] #33602 closed, assigned to zhiqiu

[2021-06-16 08:26] TLTLHILL opened #33604 "编译错误！PaddlePaddle2.1.0 CUDA11.3 CUDNN11.3"
![XU~G@ KU9T`AZ4WSTH)01JJ](https://user-images.githubusercontent.com/85716726/122185315-96434b00-cebf-11eb-996f-4530ca843f31.png)

[2021-06-16 08:41] zhiqiu commented on #33604
这可能是安装的cpu版本的paddle吧？

[2021-06-16 08:50] zhiqiu commented on #33599
hi，可以看下这个RandomSampler是不你需要的 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/RandomSampler_cn.html#fanhui

[2021-06-16 09:03] geoyee opened #33605 "关于使用array来索引tensor"
这是UCN的pytorch版本，x和y是特征点的坐标，源码就是这样索引的。然后在paddle下还没有这样的语法，请问paddle有没有增加这个功能的准备，多久可以支持使用array来索引tensor。
![SKQ6 A$M0P)T2F}40SMV X5](https://user-images.githubusercontent.com/71769312/122190483-719da200-cec4-11eb-8d1f-ae5aaf389db9.png)

[2021-06-16 09:09] costume24 commented on #33599
好的，使用方法就是直接代替dataset吗？

[2021-06-16 09:15] Shixiaowei02 commented on #33516
您好，现在需要确认最终的报错是否和
`OSError: [Errno 24] Too many open files`
相关。请尝试输入 `ulimit -n 10000` 改变 linux 文件打开数量限制，然后看问题是否消失。谢谢

[2021-06-16 10:38] zhiqiu commented on #33605
hi, paddle最近也在支持比较丰富的slice index类型，以array作为index的，可以参考这个PR: https://github.com/PaddlePaddle/Paddle/pull/33000

[2021-06-16 10:47] mikeshi80 commented on #33364
没人鸟的吗？

[2021-06-16 14:10] #32370 closed, assigned to ceci3

[2021-06-16 14:13] geoyee commented on #33605
收到，谢谢，查看一下^_^

[2021-06-16 15:00] geoyee commented on #33605
看到这个pr已经合并了，在as上使用`! python -m pip install paddlepaddle-gpu==0.0.0.post101 -f https://paddlepaddle.org.cn/whl/cu101/mkl/develop.html`装了最新的develop版本，但是使用还是有点问题。请问这个是我使用的问题还是不能支持这样使用。
[code]
具体的代码中如下
[code]
其中
[code]

[2021-06-17 01:34] jesen8 commented on #32326
@shangzhizhou 您好，请问在nano上使用gpu跑yolov3模型无法正确推理而cpu可以正确推理的问题有解决方案了吗，目前我的测试也是这样的结论

[2021-06-17 02:02] shangzhizhou commented on #32326
2.1.1版本会修复该问题，预计6月底发布。
当前修复代码已经合入，可以编译release/2.1分支代码验证，或等待版本发布。

[2021-06-17 02:37] Agino-ltp commented on #33536
之前用的是conda安装，后面用pip安装。现在出了好多问题，只能单卡训练，没法双卡训练

[2021-06-17 03:00] Zeref996 commented on #33240
hello,

https://pan.baidu.com/s/1okdqNOFT4M4ZQrvJFyE4zg
Code: f7pt

You can get epoch_8 log at the link.

[2021-06-17 03:22] weichen12345 opened #33619 "paddle2.0,cuda10.0 运行报错：OSError: (External) Cuda error(35), CUDA driver version is insufficient for CUDA runtime version."
Traceback (most recent call last):
  File "train.py", line 21, in <module>
    model = ErnieSeg()
  File "/home/tc/code/chinese-casual-extraction/ErnieSEG.py", line 13, in __init__
    self.erniemodel = ErnieModel.from_pretrained('ernie-1.0').train()
  File "/home/tc/anaconda3/lib/python3.7/site-packages/ernie/modeling_ernie.py", line 283, in from_pretrained
    model = cls(cfg_dict, name=name_pre

[2021-06-17 03:29] helen88 opened #33620 "使用paddlehub经过finetune过的模型如何部署"
https://github.com/PaddlePaddle/PaddleHub/tree/release/v2.1/demo/image_classification 这里介绍的一键部署，是预训练模型，我想部署我自己微调过的模型。想请问改怎么操作呢？

[2021-06-17 04:44] lidanqing-vv commented on #33240
Hi
 收到，非常感谢！可以停止训练了，这些对我们来说对比够用了。

Best regards,
Danqing

From: Zeref996 ***@***.***>
Sent: Thursday, June 17, 2021 11:00 AM
To: PaddlePaddle/Paddle ***@***.***>
Cc: Li, Danqing ***@***.***>; Assign ***@***.***>
Subject: Re: [PaddlePaddle/Paddle] [QA test request] BF16 training test document (#33240)

hello,

https://pan.baidu.com/s/1okdqNOFT4M4ZQrvJFyE4zg
Code: f7pt

You can get epoch_8 log at th

[2021-06-17 05:00] JianJingGao commented on #33589
编译器爆了，咋办？

30>c:\users\gaotiantian\appdata\local\temp\tmpxft_000087ac_00000000-3_paddle_operators_reduce_ops_unity_0_cu.fatbin.c(4310977): fatal error C1060: 编译器的堆空间不足
30>D:\vs2017\Common7\IDE\VC\VCTargets\BuildCustomizations\CUDA 10.2.targets(764,9): error MSB3721: 命令“"C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin\nvcc.exe" -gencode=arch=compute_35,code=\"sm_35,compute_35\" -gencod

[2021-06-17 05:58] jesen8 commented on #32326
@shangzhizhou 感谢回复，目前测试我用的是下面这个版本(git tag 显示出来的v2.1.0版本)，我尽快试试最新版
[code]

[2021-06-17 06:06] jesen8 commented on #32326
@shangzhizhou 还有一个问题，
Paddle 2.1.0版本在nano上编译的cpp推理库，在使用paddle-inference的cpp接口时，在intel cpu + gpu 环境下可以同时初始化多个模型，并且反复交叉调用，但是在nano上测试的时候，只初始化了1个模型，而且只能跑第一次，第二次推理的时候就会出现下面的错误，测试就是简单的初始化，然后拿5张图片循环推理，推理到第二张就会显示 资源不够的 错误。开启trt fp32子图优化后仍然一样，请问知道是什么原因吗，有解决办法吗？ 难道是因为nano只有1G的显存，cuda核心数太少的原因吗，感谢回答
[code]

[2021-06-17 06:12] JianJingGao opened #33624 "编译完成Paddle-Tensorrt之后报错"
Paddle version: 2.1.0
Paddle With CUDA: True

OS: Windows 10
Python version: 3.7.10

CUDA version: 10.2.89
cuDNN version: 7.6.5
Nvidia driver version: 462.30
---------------------------------------------
错误信息如下：
![image](https://user-images.githubusercontent.com/51236891/122341379-fc8aa500-cf75-11eb-9b38-0dbac154c39c.png)

[2021-06-17 06:31] zhwesky2010 commented on #33589
@JianJingGao 因为你是用32位的编译器，其寻址空间有限，容易出现堆内存不足，可以设置下环境变量 set PreferredToolArchitecture=x64，或者在cmake时指定 -T host=x64。

[2021-06-17 06:31] heavengate commented on #33599
`DataLoader`里可以指定`batch_sampler` https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DataLoader_cn.html#paddle.io.DataLoader
BatchSampler里面可以值定sampler https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/BatchSampler_cn.html#paddle.io.BatchSampler
指定成`RandomSampler`就可以了

[2021-06-17 06:33] JianJingGao commented on #33589
@zhouwei25 现在编译通过，我安装完import paddle报错 #33624 能帮忙看一下吗

[2021-06-17 06:47] lfxx opened #33625 "显存在删除变量后并没有被释放"
- 版本、环境信息：
[code]
- 复现信息：
使用以下代码复现
[code]
- 问题描述：
1.当使用```x = paddle.ones(shape=[4000, 4000])```在GPU上创建变量后，此时使用nvidia-smi查看显存信息如下：

![before1](https://user-images.githubusercontent.com/27956643/122345603-9fddb900-cf7a-11eb-936e-3627fd53b5fe.png)
2.然后删除x变量，此时使用nvidia-smi查看显存信息如下，GPU上的显存并未被完全释放：
![after1](https://user-images.githubusercontent.com/27956643/122345748-c7348600-cf7a-11eb-8979-600518f15a

[2021-06-17 06:51] DannyIsFunny commented on #33624
问题已经在最新的develop分支进行修复：
PR链接：https://github.com/PaddlePaddle/Paddle/pull/33617
![image](https://user-images.githubusercontent.com/45189361/122346361-740f0300-cf7b-11eb-9574-6357781670e9.png)

[2021-06-17 06:52] JianJingGao commented on #33624
@DannyIsFunny 我是Python 3.7的版本，现在怎么处理该问题？

[2021-06-17 07:30] zlsh80826 opened #33627 "Compile error on develop branch"
版本: develop branch
編譯環境: docker, paddlepaddle/paddle:2.1.0-gpu-cuda11.2-cudnn8
[code]
問題: 編譯時出現 include 錯誤, 相同錯誤在 v2.1.0 不會出現
相關 log:
[code]
复現方法:
[code]

[2021-06-17 07:42] shangzhizhou commented on #32326
这个报错应该不是显存的问题，更大的可能是cuda的线程数、sharedmemory等资源限制不足引起的。可以把模型的测试用例附一下，我们后续查一下

[2021-06-17 07:47] DannyIsFunny commented on #33624
这个问题应该是trt安装问题或者trt的版本问题
![image](https://user-images.githubusercontent.com/45189361/122354104-43cb6280-cf83-11eb-9027-909690f5bd83.png)

从报错信息看是因为没有成功加载 trt 相关dll导致的
因为windows加载动态库和linux加载动态库的方式不一样。
现在windows加载动态库，只要load不到，或者依赖库版本不对，就会直接挂掉

[2021-06-17 07:52] DannyIsFunny commented on #33624
可能原因有以下三种情况
1、用户trt的dll不在环境变量里
2、用户的trt版本，和cuda，cudnn对不上
3、用户trt的dll还依赖其他cuda dll或者 cudnn dll，也加载失败了

[2021-06-17 08:29] DannyIsFunny commented on #33627
你好，从报错信息上看似乎是因为环境或网络问题
boost是需要在线下载的第三方库
报错信息上看似乎是第三方库下载或者安装失败了
![image](https://user-images.githubusercontent.com/45189361/122360750-387b3580-cf89-11eb-83d6-c76714a2a9e7.png)

[2021-06-17 08:35] DannyIsFunny commented on #33619
你好从报错信息看是因为环境问题：gpu    驱动版本过低
![image](https://user-images.githubusercontent.com/45189361/122361639-06b69e80-cf8a-11eb-8087-7bb9fc651036.png)
cuda10.0需要410以上

[2021-06-17 08:49] dercaft commented on #33481
Bug fixed

[2021-06-17 08:49] #33481 closed, assigned to ceci3

[2021-06-17 09:47] JianJingGao commented on #33624
将tensorrt的dll加入环境变量后无报错，谢谢！

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: ***@***.***>
发送时间: 2021年6月17日 15:52
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/Paddle] 编译完成Paddle-Tensorrt之后报错 (#33624)

可能原因有以下三种情况
1、用户trt的dll不在环境变量里
2、用户的trt版本，和cuda，cudnn对不上
3、用户trt的dll还依赖其他cuda dll或者 cudnn dll，也加载失败了

―
You are receiving this because you authored

[2021-06-17 09:54] JianJingGao commented on #33624
运行报错了
--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
Not support stack backtrace yet.

----------------------
Error Message Summary:
----------------------
FatalError: Build TensorRT cuda engine failed! Please recheck you configurations related to paddle-TensorRT.
  [Hint: infer_engine_ should not be null.] (at D:\work\Paddle\pa

[2021-06-17 10:00] frankwhzhang commented on #33364
您好 感谢您的建议 会联系相关的同学进行修改~

[2021-06-17 10:01] kaixin-bai opened #33635 "Can not import avx core while this file exists"
安装方式：`pip install paddle-gpu`
安装成功了，但是在import paddle时报错
报错信息：
[code]

[2021-06-17 11:29] zhiqiu commented on #33605
hi，我验证了一下，这个case下确实是还有一些问题。我会和相关负责的同学反馈下，看排期支持下这个用法。

[2021-06-17 11:58] #33367 closed, assigned to frankwhzhang

[2021-06-17 12:23] ANewAnonymous opened #33639 "应用在不同cuda环境下部署的问题"
- 标题：应用通过Pyinstaller打包成exe在其他电脑上运行的问题
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.0
    2）CPU：i7-4710MQ
    3）GPU：GTX 850M
       4）CUDA:10.2  CUDNN:7.6.5
- 复现信息：将程序打包完成后在以上环境下运行正常，CPU和GPU均可使用，但在一些CUDA版本非10.2或更高版本时无法使用GPU进行预测，
- 复现机器: win10    GPU:GTX 1650   CUDA:11.1   CUDNN:无
- 复现机器问题:
[code]
- 问题描述：在其他类型机器上均无法使用GPU进行预测，尝试过将以下dll加入到打包并运行
[code]
也无法解决遇到的问题

[2021-06-17 12:42] haoyuying commented on #33620
您好，如果您想了解如何使用已经提供的部署代码，请参考这里https://github.com/PaddlePaddle/PaddleHub/blob/release/v2.1/docs/docs_ch/tutorial/serving.md
如果您想自己写一个serving任务，可以参考分类代码中关于serving部分https://github.com/PaddlePaddle/PaddleHub/blob/release/v2.1/paddlehub/module/cv_module.py#L123
serving部分在123-135行之间。

[2021-06-17 12:43] DannyIsFunny commented on #33625
你好，你这里删的应该只是创建出的layer实例
tensor管理的data应该没有被释放

[2021-06-17 12:47] ANewAnonymous commented on #33639
已解决

[2021-06-17 12:47] #33639 closed, assigned to nobody

[2021-06-17 12:54] DannyIsFunny commented on #33635
请问安装的Paddle版本是多少呢

[2021-06-17 12:59] DannyIsFunny commented on #33635
从报错信息看，可以参考这个解决方法：https://ai.baidu.com/forum/topic/show/983545

[2021-06-18 00:30] geoyee commented on #33605
收到，感谢，待支持后马上体验进行反馈。

[2021-06-18 01:18] wadefelix commented on #33635
glibc ABI对不上。能详述下安装环境么？操作系统和glibc/glibcxx的版本。
盲猜需要升级

[2021-06-18 01:42] jesen8 commented on #32326
@shangzhizhou 感谢支持，昨天升级到develop，编译后，今天测试了，没有报 `cudaErrorLaunchOutOfResources` 这个错了，模型推理结果也正常了

[2021-06-18 02:06] a2824256 opened #33644 "编译win10平台源码没找到libpaddle_inference.lib"
根据源码编译教程编译win10平台源码，文档说明编译成功的项目结构如下：
[code]
问题1：但是我编译出来的paddle/lib文件夹中没有这个文件libpaddle_inference.lib (Windows)，但是有一个叫paddle_fluid.dll和.lib的文件，这个paddle_fluid就是libpaddle_inference吗？

编译指令如下：
[code]

问题2：还有编译Paddle-Inference-Demo的paddle_infer_demo项目提示如下，使用的是自己编译出来的预测库。libmklml_intel这个文件在预测库里没有找到。编译出来实则是叫mklml吗？
![image](https://user-images.githubusercontent.com/7108023/122321351-4ebbce00-cf56-11eb-86a

[2021-06-18 02:36] xinsuinizhuan opened #33645 "建议出个cuda11.1的版本"
![图片](https://user-images.githubusercontent.com/40679769/122497993-f1408380-d020-11eb-8bda-76a716c69b5b.png)
![图片](https://user-images.githubusercontent.com/40679769/122498009-f6053780-d020-11eb-9767-ea986de6d958.png)
paddle直接跳过了11.1，好不容易支持了cuda11.用了libtroch就没法用paddle了

[2021-06-18 03:00] zhude233 opened #33646 "paddle中使用自定义数据集，设置shuffle为False，显存溢出"
版本、环境信息：
    1）PaddlePaddle版本：2.0
    2）CPU：i5-9300H
    3）GPU：GTX1660Ti、cudatoolkit=10.2和CUDNN=7.6.5
    4）系统环境：系统Windows 10 企业版、版本21H1，Python3.7

在shuffle设置为True时，显存占用约1.4g，下图为设置为True时

![image](https://user-images.githubusercontent.com/60126992/122499878-4631c900-d024-11eb-8265-33557901f66a.png)
在shuffle设置为False时，显存会溢出，下图为设置为False时
![image](https://user-images.githubusercontent.com/60126992/122

[2021-06-18 03:15] jiweibo commented on #33644
这个目前看起来是文档没有更新，您得到的编译产物是正确的哈，windows下的动态库(.dll+.lib)

看起来您用的demo CMakeLists.txt没有对windows做区分，请问您是用的和这个吗？ https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/c%2B%2B/lib/CMakeLists.txt

[2021-06-18 03:17] a2824256 commented on #33644
不是，我是用项目里面的，所以我改回用这个就可以了？

[2021-06-18 03:19] jiweibo commented on #33644
您可以试下哈，应该是ok的。我看了下CMakeLists.txt中windows的mkl库名字是 mklml

[2021-06-18 03:21] jiweibo commented on #33645
非常感谢您的反馈，我会同步给paddle pm，由他们去评估哈！

[2021-06-18 03:24] DannyIsFunny commented on #33625
你好，因为Paddle 里这一部分显存管理是采用“显存池”方法实现的.  Tensor删除后占用的内存归还到显存池了、但仍然被进程占用着、除非进程结束、程序实际占用内存不会降低
[code]

[2021-06-18 03:42] wadefelix commented on #33645
这个，驱动升到最新还能不支持运行11.1的torch么？

[2021-06-18 03:58] wanghaoshuang opened #33649 "Refine flowers dataset"
在paddle.data.flowers中，将数据以batch为单位打包成了独立的文件存放在文件系统，这种操作在多卡训练情况下容易出现问题，先在需要对其修改。
删除对batch_images_from_tar的调用：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/dataset/flowers.py#L126

并参考paddle.vision.datasets.flowers和mnist重构paddle.data.flowers：
paddle.vision.datasets.flowers: https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/dataset/flowers.py
mnist: https://github.

[2021-06-18 03:59] wanghaoshuang commented on #33649
@zzjjay

[2021-06-18 04:27] DeepGeGe opened #33651 "PaddlePaddlle官网API文档有错误"
PaddlePaddle官网API文档：paddle.nn.functional.cross_entropy有个参数说明错了：label参数传入数据的类型只支持int64。但是官网上说的支持int32,int64,float32,float64；（见第一、二张图）
此外，官网应用实践部分：自然语言处理>IMDB数据集使用BOW网络的文本分类，这个例子中按照官网给的代码是跑不起来的，因为后面交叉熵用的是cross_entropy，但是数据处理时候标签没有转int64。（见第三张图）
![1](https://user-images.githubusercontent.com/51083814/122506245-839c5380-d030-11eb-9187-3c674ad223c8.png)
![2](https://user-images.githubusercontent.com/51

[2021-06-18 04:57] swag1ong opened #33652 "paddle.distribution.Normal 报错"
****************************************
Paddle version: 2.0.2
Paddle With CUDA: True
OS: Ubuntu 16.04
Python version: 3.7.10
CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: 430.26
****************************************

您好，我在使用paddle.distribution.Normal的过程中，发现如果 mean 和 std为不同的type，在创建该class instance的时候并不会报错，运行该instance的一些methods的时候也不会报错，但是使用log_prob()的时候会报错，比如:

[code]
报

[2021-06-18 05:41] heavengate commented on #33646
你好，DataLoader是不占用显存的，除了DataLoader还有其他模块么，或者单独测下DataLoader输入输出试下呢

[2021-06-18 05:42] zhude233 commented on #33646
好的，我进行测试一下

[2021-06-18 05:50] jiweibo commented on #33651
非常感谢您的反馈，我们修复下文档！

[2021-06-18 05:53] zhude233 commented on #33646
仅有DataLoader模块设置为shuffle=False，并进行以下数据取出操作
![image](https://user-images.githubusercontent.com/60126992/122513055-6e2d2680-d03c-11eb-9ab4-4f2c18d07522.png)
会造成显存持续上涨

[2021-06-18 06:13] cryoco commented on #33624
您好，能否发一下完整报错信息，TRT内部的报错应该在靠上一些的位置，谢谢

[2021-06-18 06:25] Piney-Huang commented on #33644
![image](https://user-images.githubusercontent.com/70417898/122516208-11803a80-d041-11eb-8a57-7895a072fec2.png)

[2021-06-18 06:28] HydrogenSulfate commented on #33651
感谢反馈，文档描述的确存在问题，接下来会跟进修复

[2021-06-18 06:29] Piney-Huang commented on #33644
更改CMakeLists.txt里面CUDA_LIB的路径为C:\\Program\ Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v10.2\\lib\\x64"，编译完成后提示无法打开\cudart.lib

[2021-06-18 06:44] #33651 closed, assigned to jiweibo

[2021-06-18 08:12] pangyoki commented on #33652
好的，感谢反馈。我们后面优化下，预期效果是，如果输入的mean和std的数据类型不同，给用户一个warning提示类型不同，并将std的类型转化成与mean一致。

[2021-06-18 08:32] lfxx commented on #33625
好的，非常感谢

[2021-06-18 08:32] #33625 closed, assigned to DannyIsFunny

[2021-06-18 08:35] DeepGeGe opened #33657 "使用BCELoss，计算Accuracy好像有错"
   1）PaddlePaddle版本：2.1.0
    2）系统环境：Windows 10 Python3.7
二分类问题，设置输出节点数为1，使用BCELoss，发现整个训练过程和测试准确率均为0.5。（数据集中正负样本数相等）
Step into进去发现计算准确率的机制是：会将pred与label做比较，在作比较之前会将pred做一次argsort，即将pred中元素排序，返回各元素从小到大的索引，然后再将pred做一下切片。
在BCELoss情况下，pred中的shape为(batch_size, 1)，这样经过pred之后pred值变成了全0，因此计算Accuracy错误。
请问这是BUG还是我的用法错误？（用法错误是指二分类问题中，最后一个输出节点不能像keras那样为1，也必须是2）
如果是我的用法错误，也就是说二分类，用BCELoss，最后一个输出节点数必须为2。但是如果

[2021-06-18 08:47] kaixin-bai commented on #33635
安装的版本是paddlepaddle-gpu-2.1.0

[2021-06-18 08:56] kaixin-bai commented on #33635
在paddle/fluid文件夹中是有那个动态库的

[2021-06-18 08:56] kaixin-bai commented on #33635
服务器上我木有升级权限

[2021-06-18 08:57] JianJingGao commented on #33624
你好，完整信息如下
I0618 16:57:05.338150 21540 analysis_config.cc:424] use_dlnne_:0
I0618 16:57:05.338150 21540 analysis_config.cc:424] use_dlnne_:0
I0618 16:57:05.338150 21540 analysis_config.cc:424] use_dlnne_:0
I0618 16:57:05.338150 21540 analysis_config.cc:424] use_dlnne_:0
I0618 16:57:05.338150 21540 analysis_config.cc:424] use_dlnne_:0
-----------  Running Arguments -----------
batch_size: 1
camera_i

[2021-06-18 09:02] cryoco commented on #33624
看起来您试图使用TRT int8精度预测，请问您的模型是使用paddleslim量化的int8模型嘛

[2021-06-18 09:04] JianJingGao commented on #33624
不是呢，我是直接从官方模型export出来的，话说使用了fp16可以使用，但是速度没有明显的提升来着。

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Pei ***@***.***>
发送时间: 2021年6月18日 17:02
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/Paddle] 编译完成Paddle-Tensorrt之后报错 (#33624)

看起来您试图使用TRT int8精度预测，请问您的模型是使用paddleslim量化的int8模型嘛

―
You are receiving this because you authored the thread.
Reply to

[2021-06-18 09:27] cryoco commented on #33624
使用int8精度需要对应PaddleSLim量化的模型，参考https://paddleslim.readthedocs.io/zh_CN/latest/tutorials/quant/static/quant_aware_tutorial.html
使用fp32的模型无法直接使用int8精度加速。

[2021-06-18 10:20] parap1uie-s commented on #33657
Accuracy里面应该是有取topk的逻辑，这个坑我也踩过。

[2021-06-18 10:34] JianJingGao commented on #33624
好的 谢谢啦

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Pei ***@***.***>
发送时间: 2021年6月18日 17:27
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/Paddle] 编译完成Paddle-Tensorrt之后报错 (#33624)

不是呢，我是直接从官方模型export出来的，话说使用了fp16可以使用，但是速度没有明显的提升来着。 发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用<https://go.microsoft.com/fwlink/?LinkId=550

[2021-06-18 10:54] DeepGeGe commented on #33657
我留意到了有取topk的逻辑，但是问题好像与这无关。是计算acc时候，会对pred做一个argsort，这么做加上后续处理逻辑，对输出维度为多维时候是正确的。但是当输出节点只有一个时候，argsort就会使得pred变成全0 tensor了。我觉得应该是没考虑到输出只有一个节点的情况。

[2021-06-18 11:23] wadefelix commented on #33540
`sudo docker run` ，如若docker已将默认运行时设置为了nvidia-docker 则没有问题，容器内应能正常使用gpu；
但是若docker的默认运行时`runc`而不是nvidia-docker，则这个命令不能将显卡设备映射到容器内的，应使用`nvidia-docker run` 或`docker run --runtime=nvidia`等来启动容器。

[2021-06-19 01:39] CodeLearn2000 commented on #32799
我这里这个问题已经解决了，是动态图和静态图不兼容导致的，把静态图的损失函数换成动态图的就解决了。

[2021-06-19 01:40] hlzonWang commented on #32799
我这里这个问题已经解决了，是动态图和静态图不兼容导致的，把静态图的损失函数换成动态图的就解决了。

[2021-06-19 01:42] hlzonWang commented on #32799
如果出错是在梯度回传上，可以试一下用不同的变量回传，比如辅助LOSS，比如ACC，这样好调试一点。

[2021-06-19 01:42] #32799 closed, assigned to ForFishes

[2021-06-19 11:00] ghost opened #33672 "Loss数据类型"
ValueError: (InvalidArgument) Tensor holds the wrong type, it holds ::paddle::platform::bfloat16, but desires to be float.
[Hint: Expected valid == true, but received valid:0 != true:1.] (at /paddle/paddle/fluid/framework/tensor_impl.h:33)
[operator < elementwise_mul > error]

L1loss损失函数不支持bfloat16类型

paddlepaddle模型张量计算如何更改数据类型呢？或者如何向L1loss添加数据类型支持。

[2021-06-19 11:42] 670133189 opened #33673 "请教如何搭配：LinearWarmup+PiecewiseDecay？"
请教如何先用`LinearWarmup`，当到达`end_lr`后，再用`PiecewiseDecay`？

[2021-06-19 12:05] xmy0916 opened #33674 "多卡训练loss nan"
paddle2.1.0
最新的paddledetection
训的casecad rcnn
单卡没有问题，用paddle.distributed.launch两卡训10个step loss就nan了，学习率为单卡一半。
请问有办法解决吗？

[2021-06-19 15:51] youjiangxu opened #33675 "The Op softmax_grad doesn't have any grad op."
Operator信息:
When I want to calculate the higher order gradient, I get the following error info:

RuntimeError: (NotFound) The Op softmax_grad doesn't have any grad op. If you don't intend calculating higher order derivatives, please set `create_graph` to False.

code:

[code]

Does paddle support the higher order gradient for crossentropy with/without reducion='none' ?

[2021-06-19 18:53] btobab opened #33676 "训练过程中出现内存泄漏"
   1）PaddlePaddle版本：2.1.0
    2）系统环境：aistudio
在训练前500轮都没有问题，但是在之后的某一时刻就突然停止，出现内存泄漏问题。不清楚是哪方面的问题
在paddle2.0.2版本中没有出现这个问题

[2021-06-20 03:31] robbenplus opened #33677 "UnboundLocalError: local variable 'out' referenced before assignment"
ai studio 版本2.1  项目地址是 [ https://aistudio.baidu.com/aistudio/projectdetail/2097982 ]

[code]

[2021-06-20 06:51] DeepGeGe opened #33679 "为什么Embedding层输入int32类型数据比输入int64类型数据计算速度慢的多？"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.0（GPU版本）
    2）CPU：
    3）GPU：gtx 1050 max-Q，CUDA和CUDNN版本号：10.1和7.6
    4）系统环境：Win10，Python 3.7
- 模型信息
    1）模型名称：Embedding+Linear+softmax
    2）使用数据集名称: IMDB
    3）使用算法名称
    4）模型链接

问题“
同一个模型（简单的Embedding层+softmax分类器），同样的数据，在同一台机器在GPU环境上，Embedding层输入数据类型int64比int32快了16倍。
![1](https://user-images.githubusercontent.com/51083814/122664864-77ea9180-d1d6-11eb-96cf-

[2021-06-20 13:23] GuoQuanhao opened #33681 "Tensor concat方法建议"
[code]
[code]
希望paddle也能支持空tensor的concat操作

[2021-06-20 14:06] 0x2e1 opened #33682 "paddle.fluid.layers.ssd_loss 文档问题（2.0RC）"
2.0RC无与paddle.fluid.layers.ssd_loss对应的API，在学习的时候不是很方便

[2021-06-20 17:56] ciaochiaociao commented on #26389
_Originally posted by @hutuxian in https://github.com/PaddlePaddle/Paddle/issues/29743#issuecomment-749404331_

[2021-06-21 01:35] FrostML commented on #33677
可以把 `.reshape(-1)` 修改成 `.reshape([-1])`。
`paddle.reshape()` 的 `shape` 参数目前仅支持 `list|tuple|Tensor`，传入 `int` 会导致这个问题，我反馈下这个报错信息。
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/layers/nn.py#L6156-L6166

[2021-06-21 01:50] FrostML commented on #33682
可以先用原 API，我们反馈一下。

[2021-06-21 02:28] FrostML commented on #33679
咨询了 @seiriosPlus ，当输入类型是 `int32` 的时候，会有一个 convert，转回 `int64`，所以会比较耗时。

[2021-06-21 02:30] ceci3 opened #33683 "模型中含有控制流，使用了find_unused_parameters=True, 但是多卡训练loss出nan，单卡训练正常"
模型中控制流代码：
![image](https://user-images.githubusercontent.com/29245900/122699182-7de67e00-d27b-11eb-9449-c25a2606b762.png)

find_unused_parameters=True设置：
<img width="823" alt="1da8725eecd224123936d8ae2bea5db3" src="https://user-images.githubusercontent.com/29245900/122699227-93f43e80-d27b-11eb-9335-3b64897f52de.png">

[2021-06-21 02:46] zhiqiu commented on #33676
hi，请提供下具体的模型和环境，以便于复现问题。

[2021-06-21 02:49] #33679 closed, assigned to FrostML

[2021-06-21 02:51] DeepGeGe commented on #33657
@FrostML

[2021-06-21 02:52] DeepGeGe commented on #33657
大佬，这个问题不知道怎么没有被机器人分配到人，向您请教一下。

[2021-06-21 03:20] #33021 closed, assigned to luotao1, jczaja, lidanqing-vv

[2021-06-21 03:23] helen88 opened #33684 "使用paddlehub finetune得到的模型进行预测，为什么还要先加载预训练模型，导致很占用显存"
paddle.2 我通过预训练模型，进行finetune已经得到了自己的模型，进行预测的时候，为何还要去加载原来的预训练模型，这样会很占用显存，求助能不加载原预训练模型，只加载我训练得到的模型，可以吗？

import paddle
import paddlehub as hub

if __name__ == '__main__':

    model = hub.Module(name='resnet50_vd_imagenet_ssld', label_list=["roses", "tulips", "daisy", "sunflowers", "dandelion"], load_checkpoint='/PATH/TO/CHECKPOINT')
    result = model.predict(['flower.jpg'])

from：https://github.co

[2021-06-21 03:29] juncaipeng opened #33685 "Add MKLDNN Kernel for PRelu"
Download and unzip the demo (Link:https://dubox.com/s/1iudoIXxOAyJoo9Qqaxz_Kg Password:csrp).

Run `sh run.sh`

[code]

For the above model, the details of the inference time as follows
![image](https://user-images.githubusercontent.com/52520497/122703877-19302100-d285-11eb-8151-e4785eb3350f.png)

Add MKLDNN Kernel for PRelu to reduce the inference time. Other activatios may also need to add MKLDN

[2021-06-21 03:32] yeyupiaoling commented on #33341
@zhouwei25 循环完成之后，硬盘的写入突然增大，一段时间后就挂掉了。硬盘的空间是足够的。

[code]

![微信截图_20210621113005](https://user-images.githubusercontent.com/26297768/122703428-213b9100-d284-11eb-96b2-0160db574d77.png)

[2021-06-21 03:41] mrlihellohorld commented on #33540
您好，感谢您的回复。我是使用nvidia-docker run 来启动容器的，参考的是”快速安装”中的命令：

“如果使用CUDA10，请运行以下命令创建容器，设置docker容器共享内存shm-size为64G，建议设置32G以上 sudo nvidia-docker run --name ppocr -v $PWD:/paddle --shm-size=64G --network=host -it paddlepaddle/paddle:latest-dev-cuda10.1-cudnn7-gcc82 /bin/bash”

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-06-21 03:42] 0x2e1 commented on #33682
那2.0 的tensor 与1.x的 Variable 是通用的吗？
如果可以那么就可以继续学习了，不过之前在映射表上有一个paddle.nn.functional.ssd_loss（好像是）

[2021-06-21 04:16] cryoco commented on #33684
![image](https://user-images.githubusercontent.com/12407750/122706340-53e88800-d28a-11eb-8687-b32b55d5de24.png)
看您发的文档里，应该是只需要加载finetune得到的模型进行预测就可以了

[2021-06-21 04:18] cryoco commented on #33684
另外，预测时实际占用的显存大小，并不会与参数文件大小一致的哈，因为预测时很多显存占用会用于存储中间计算结果Tensor，并且cuda、cudnn等第三方依赖库句柄也会占用不小显存。

[2021-06-21 05:45] yoyao1 opened #33686 "windows编译错误 paddle2.0 debug编译错误"
编译错误和这个issue现象基本一样 release正常，debug报错 vs2015
【Windows编译错误】1.8版本Windows下/MD编译GPU预测库出错 #24677

libprofiler.lib(profiler.cu.obj) : error LNK2038: 检测到“_ITERATOR_DEBUG_LEVEL”的不匹配项: 值“0”不匹配值“2”(io.obj 中)
libprofiler.lib(profiler.cu.obj) : error LNK2038: 检测到“RuntimeLibrary”的不匹配项: 值“MT_StaticRelease”不匹配值“MTd_StaticDebug”(io.obj 中)
libtensor.lib(.tensor_util.obj) : error LNK2038: 检测到“_ITERATOR_DEBUG_LEVEL”的

[2021-06-21 05:57] yoyao1 opened #33687 "【Windows编译错误】2.0版本Windows下/MD编译GPU预测库出错"
编译错误和这个issue现象基本一样 release正常，debug报错 vs2015
【Windows编译错误】1.8版本Windows下/MD编译GPU预测库出错 #24677

libprofiler.lib(profiler.cu.obj) : error LNK2038: 检测到“_ITERATOR_DEBUG_LEVEL”的不匹配项: 值“0”不匹配值“2”(io.obj 中)
libprofiler.lib(profiler.cu.obj) : error LNK2038: 检测到“RuntimeLibrary”的不匹配项: 值“MT_StaticRelease”不匹配值“MTd_StaticDebug”(io.obj 中)
libtensor.lib(.tensor_util.obj) : error LNK2038: 检测到“_ITERATOR_DEBUG_LEVEL”的

[2021-06-21 06:45] JianJingGao commented on #33624
好的，了解啦。谢谢

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Pei ***@***.***>
发送时间: 2021年6月18日 17:27
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/Paddle] 编译完成Paddle-Tensorrt之后报错 (#33624)

不是呢，我是直接从官方模型export出来的，话说使用了fp16可以使用，但是速度没有明显的提升来着。 发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用<https://go.microsoft.com/fwlink/?LinkId=

[2021-06-21 06:52] jiweibo commented on #33644
是不是路径没有设置成功啊，报错显示\cudart.lib，前面的Prefix都没加进去

[2021-06-21 07:23] FrostML commented on #33681
收到，我们反馈下

[2021-06-21 08:02] cryoco commented on #33687
您好，请问是有使用debug信息的需求嘛

[2021-06-21 08:20] JianJingGao opened #33698 "部署的时候报错了"
![image](https://user-images.githubusercontent.com/51236891/122730219-91f6a380-d2ac-11eb-9aad-84165e79ac4c.png)

set了cuda路径还是不行。。。

[2021-06-21 08:23] cryoco commented on #33698
您好，请问您使用是Paddle模型套件库还是自己写的部署脚本呢？是在什么设备上部署呢？
麻烦提供下paddle版本，依赖的cuda cudnn版本

[2021-06-21 08:25] JianJingGao commented on #33698
Paddle 2.1，cuda10.2和cudnn7.6.5
是在deploy/python/infer.py的基础上编写的，在windows系统部署

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Pei ***@***.***>
发送时间: 2021年6月21日 16:23
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/Paddle] 部署的时候报错了 (#33698)

您好，请问您使用是Paddle模型套件库还是自己写的部署脚本呢？是在什么设备上部署呢？
麻烦提供下paddle版本，依赖的cuda cudnn版本

―
You are receiving this because yo

[2021-06-21 08:26] JianJingGao commented on #33698
打算打包成exe文件发布

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Pei ***@***.***>
发送时间: 2021年6月21日 16:23
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/Paddle] 部署的时候报错了 (#33698)

您好，请问您使用是Paddle模型套件库还是自己写的部署脚本呢？是在什么设备上部署呢？
麻烦提供下paddle版本，依赖的cuda cudnn版本

―
You are receiving this because you authored the thread.
Reply to this email directly, view it on

[2021-06-21 08:30] cryoco commented on #33698
您好，看报错信息是缺少mklml.dll，您可以安装下mkl，如果已安装的话设置下路径

[2021-06-21 08:44] yoyao1 commented on #33687
我的预测程序直接加载gpu模型会失败，先加载cpu模型再加载gpu模型正常。想跟踪一下是什么原因

[2021-06-21 09:06] wadefelix commented on #33635
https://www.baidu.com/s?wd=%E6%9F%A5%E7%9C%8B%20GLIBC%20%E7%89%88%E6%9C%AC&rsv_spt=1&rsv_iqid=0xe455c0f7000490e6&issp=1&f=8&rsv_bp=1&rsv_idx=2&ie=utf-8&tn=baiduhome_pg&rsv_enter=1&rsv_dl=ib&rsv_sug3=2&rsv_sug1=1&rsv_sug7=001

可以先看看是不是这个版本问题导致的。
若是，可以要求相关运维人员升级嘛。

或者，若机器已支持docker的话，非常建议使用docker版本， 各种依赖已全部封装在镜像内了。

[2021-06-21 09:08] yeyupiaoling commented on #33275
@heavengate 我可以确定是多线程数据读取不起效果。我使用anaconda安装的，版本如下：
[code]

数据读取：
[code]

![微信截图_20210621113005](https://user-images.githubusercontent.com/26297768/122736932-1e0bc980-d2b3-11eb-82e2-317b97f86a76.png)

[2021-06-21 09:28] yoyao1 commented on #33686
1

[2021-06-21 09:38] yeyupiaoling commented on #33275
@heavengate 不仅是我写程序会这样，使用DeepSpeech项目也是这样的，多线程数据读取不起效果。

[2021-06-21 10:23] JianJingGao commented on #33698
可以啦，我把这个dll拷贝进去就行了。
对了，solov2能否C++部署你能回答吗 #3449
谢谢~

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Pei ***@***.***>
发送时间: 2021年6月21日 16:30
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/Paddle] 部署的时候报错了 (#33698)

您好，看报错信息是缺少mklml.dll，您可以安装下mkl，如果已安装的话设置下路径

―
You are receiving this because you authored the thread.
Reply to this email directly, v

[2021-06-21 11:02] cryoco commented on #33687
您好，可以发一下失败报错信息和推理代码，我们看下

[2021-06-21 11:07] yeyupiaoling opened #33703 "如何查看模型中哪些op使用了CPU计算?"
- PaddlePaddle 2.1.0
 - Ubuntu 18.04

我的模型在训练时GPU占用率经常很低，PaddlePaddle同学说可能模型中的某个OP使用了CPU计算，导致整体训练速度很慢，以下是我的模型代码，请问怎么查看哪该模型中哪些op使用了CPU计算？
https://github.com/yeyupiaoling/PPASR/tree/%E8%BF%9B%E9%98%B6%E7%BA%A7/model_utils

[2021-06-21 11:18] yoyao1 commented on #33687
input_t->CopyFromCpu(m_pdataInput);这句报的错。 先加载cpu模型再加载gpu模型正常。
我的是mfc的程序
只报了
0x00007FFCE0143A16 (paddle_inference.dll)处(位于 InspectionSystem.exe 中)引发的异常: 0xC0000005: 读取位置 0x0000000000000000 时发生访问冲突。
没有控制台的错误提示。 mfc可以显示控制台程序的信息吗？

[2021-06-21 11:30] cryoco commented on #33687
应该是内存相关错误，m_pdataInput应为一个cpu数据的指针，数据大小和类型与模型输入一致。可以自查下是否为指针为空、数据长度不对、数据类型不对等问题

[2021-06-21 11:55] hbwx24 commented on #33605
根据issues创建了任务卡片

[2021-06-21 11:59] yoyao1 commented on #33687
这些都没有问题，里边的数据都是正常的shape也对。直接加载cpu模型，或先加载cpu模型再加载gpu模型也正常。
cpu gpu就差这一句
if (m_bUseGPU)
{
	config.EnableUseGpu(100, 0);
}

[2021-06-21 12:03] cryoco commented on #33687
能否提供下您的预测代码，我们复现看下，可以参考https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/cuda_linux_demo 的形式提供

[2021-06-21 12:25] cryoco commented on #33703
您好，可以使用profiling工具查看op跑在cpu或gpu上，使用方法可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/advanced_guide/performance_improving/analysis_tools/timeline_cn.html

[2021-06-22 00:53] yeyupiaoling commented on #33703
@cryoco 是不是这个工具不支持动态图，报这个错误。
[code]

[2021-06-22 01:02] shingstone-lu opened #33713 "TypeError: 'Model' object is not callable"
配置：
win10
python-3.7.0-amd64
cuda_10.2.89_441.22_win10
cudnn-10.2-windows10-x64-v7.6.5.32
paddlepaddle_gpu-2.0.2-cp37-cp37m-win_amd64

代码：
import paddle
from paddle import nn
from paddle.io import Dataset,DataLoader
from paddle.nn import functional as F
from paddle.nn import Layer
import paddle.fluid as fluid
import numpy as np
from PIL import Image

class ImageSet(Dataset):
    '''
    加载数据集

[2021-06-22 01:34] #33275 closed, assigned to heavengate, wawltor

[2021-06-22 01:34] #33095 closed, assigned to qili93

[2021-06-22 02:14] Piney-Huang commented on #33644
![image](https://user-images.githubusercontent.com/70417898/122852083-9b324f80-d342-11eb-95a7-48013c0d7856.png)

[2021-06-22 02:15] Piney-Huang commented on #33644
路径设置完成之后编译存在如上问题，请问该如何解决

[2021-06-22 02:20] Piney-Huang commented on #33644
附加库目录路径如下
![image](https://user-images.githubusercontent.com/70417898/122852612-80aca600-d343-11eb-8afd-18826982af41.png)

[2021-06-22 03:15] #22874 closed, assigned to yaoxuefeng6

[2021-06-22 03:15] #24958 closed, assigned to heavengate

[2021-06-22 03:15] #24964 closed, assigned to NHZlX, lanxianghit

[2021-06-22 03:15] #25026 closed, assigned to cryoco

[2021-06-22 03:15] #25031 closed, assigned to nobody

[2021-06-22 03:15] #25041 closed, assigned to chenwhql

[2021-06-22 03:15] #25043 closed, assigned to nobody

[2021-06-22 03:15] #25061 closed, assigned to nobody

[2021-06-22 03:15] #25075 closed, assigned to nobody

[2021-06-22 03:15] #25099 closed, assigned to nobody

[2021-06-22 03:15] #25105 closed, assigned to nobody

[2021-06-22 03:15] #25108 closed, assigned to NHZlX

[2021-06-22 03:15] #25112 closed, assigned to nobody

[2021-06-22 03:15] #25115 closed, assigned to nobody

[2021-06-22 03:15] #25126 closed, assigned to nobody

[2021-06-22 03:15] #25139 closed, assigned to nobody

[2021-06-22 03:42] Steffy-zxf commented on #33657
@parap1uie-s 你好！

`BCELoss`的输入数据input 一般是 `sigmoid` 的输出，shape为(batch_size, 1)。参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/BCELoss_cn.html#bceloss

`Accuracy`的`compute(pred, label, *args)`方法参数pred是N分类的概率值，shape为(batch_size, num_classes)。 label为真实数据label，shape为(batch_size, 1)。参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/metric/Accuracy_cn.html#accura

[2021-06-22 04:00] DeepGeGe commented on #33657
您好，非常感谢您的解答。也就是说在二分类问题中，PaddlePaddle框架设置输出节点必须是2，而不是像Keras那样输出节点为1？（我先学个tf和keras，后面了解到Paddle，正在往Paddle转）
但是如此（二分类中输出out_feature=2）的话，请问为什么要多弄一个BCELoss呢，而不是干脆直接统一用CrossEntropyLoss？（虽然CrossEntropyLoss会概率和为1，out_feature=2，输出经过sigmoid不会限制概率和为1，但是多弄一个BCELoss，他的优势在哪里？ps:API文档我看过很多遍了。。。）

[2021-06-22 04:07] #33624 closed, assigned to DannyIsFunny

[2021-06-22 04:12] JianJingGao opened #33716 "Paddle-TensorRT使用中的问题"
Paddle version: 2.1.0
Paddle With CUDA: True

OS: Windows 10
Python version: 3.7.10

CUDA version: 10.2.89
cuDNN version: 7.6.5
Nvidia driver version: 462.30
————————————————————————————————————————————————————————
1.开启dynamic_shape之后，参数为fp16，启动速度贼慢，需要五到十分钟的样子
2.关闭dynamic_shape启动程序会报错，输入图像为固定尺寸的视频帧，错误如下：
![Uploading image.png…]()

[2021-06-22 04:13] JianJingGao commented on #33716
![image](https://user-images.githubusercontent.com/51236891/122862093-2fa4ae00-d353-11eb-94a1-4cbc9ef52471.png)

[2021-06-22 04:33] JianJingGao commented on #33716
运行dynamic之后报错

 `--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
Not support stack backtrace yet.

----------------------
Error Message Summary:
----------------------
InvalidArgumentError: TRT runtime input shape of image is invalid. Expect runtime input shape to be within min/max input shape configured in SetTRTDynamicShapeInfo

[2021-06-22 04:35] JianJingGao commented on #33716
E0622 12:34:19.013554 17588 helper.h:84] Parameter check failed at: engine.cpp::nvinfer1::rt::ExecutionContext::setBindingDimensions::948, condition: profileMaxDims.d[i] >= dimensions.d[i]
E0622 12:34:19.013554 17588 helper.h:84] Parameter check failed at: engine.cpp::nvinfer1::rt::ShapeMachineContext::resolveSlots::1092, condition: allInputDimensionsSpecified(routine)
E0622 12:34:19.013554 17588

[2021-06-22 04:44] DeepGeGe commented on #33657
@Steffy-zxf
我觉得BCELoss是在二分类问题中，输出节点数为1，激活函数为sigmoid时，因为没办法计算softmax，所以设置了BCELoss。 计算cross_entropy的公式是一样的。只是BCELoss前面是一个输出节点，sigmoid函数激活，然后计算交叉熵，多分类问题是多个输出节点，softmax函数激活，然后再计算交叉熵。
当然，二分类问题也可以设置两个输出节点，然后用softmax+cross_entropy。实质是和一个输出节点，使用sigmoid+cross_entropy是一样的。只是我确实没见过二分类用两个输出节点，sigmoid函数激活，再计算交叉熵的。这样做导致两类概率和不是1，虽然理论也能够求损失，梯度下降，但是这么做感觉没道理。
(此外，我图片中最后没用sigmoid是因为损失函数用的BCEWithLogitsLoss，这个按照文档是相当于

[2021-06-22 08:10] dahuacai opened #33725 "验证paddle安装是否成功，输入paddle.utils.run_check()时命令行长时间没有信息返回"
**安装**paddle后，为了验证paddle安装是否成功，输入paddle.utils.run_check()时命令行长时间却没有信息返回，为什么？

- 版本、环境信息：
    1）**PaddlePaddle**版本：2.1.0
    3）**GPU**：cuda10.1,cudnn7.6.5
    4）**系统环境**：win7下虚拟机ubuntu16.04、Python版本3.8.0

- 安装方式信息：
pip安装

[2021-06-22 08:27] btobab commented on #33676
好的，[项目链接](https://aistudio.baidu.com/aistudio/projectdetail/1542163)

[2021-06-22 08:49] yoyao1 commented on #33687
我也写了一个demo，代码和这个差不多。但是没这个问题。加到现有的工程里就有问题，所有想调试一下试试

[2021-06-22 09:05] a2824256 commented on #33644
![image](https://user-images.githubusercontent.com/7108023/122896787-03515780-d37c-11eb-9921-d1fc5b5436fe.png)
paddle现在没问题，现在问题来自gflags @jiweibo

[2021-06-22 09:09] a2824256 commented on #33644
已解决，改成Release就行了

[2021-06-22 09:09] #33644 closed, assigned to jiweibo

[2021-06-22 09:11] gglin001 opened #33732 "Will Paddle support C++ API ?"
请问后面(或现在)有做 C++ API 的计划吗? 类似于 Pytorch C++ API 那种.

[2021-06-22 11:44] rfdeng commented on #33540
借楼，遇到了同样的问题，paddle版本：paddlepaddle_gpu-2.0.2.post101-cp38-cp38-linux_x86_64.whl
![image](https://user-images.githubusercontent.com/24435688/122918939-41597600-d392-11eb-901d-b6d3c2794cf6.png)

cuda版本应该没问题的：
![image](https://user-images.githubusercontent.com/24435688/122918978-4ae2de00-d392-11eb-84e8-33a97f643385.png)

[2021-06-22 11:45] rfdeng commented on #33540
@Shixiaowei02 求解答

[2021-06-22 11:48] juncaipeng commented on #33713
paddle.Model是对模型的封装，只支持fit和evaluate等函数，具体参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Model_cn.html#model

如果使用model(input)，就不需要paddle.Model对model进行封装。

[2021-06-22 11:51] juncaipeng commented on #33716
从log可以看出，实际执行的input shape大于设置的max input shape，你需要改一下设置最大的shape

[2021-06-22 11:53] JianJingGao commented on #33716
我输入的图像应该是1024*540的

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: ***@***.***>
发送时间: 2021年6月22日 19:52
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/Paddle] Paddle-TensorRT使用中的问题 (#33716)

运行dynamic之后报错

`--------------------------------------

C++ Traceback (most recent call last):
Not support stack backtrace yet.

Error Message Summary:

Inval

[2021-06-22 11:55] juncaipeng commented on #33725
官方没有验证虚拟机支持安装的情况，请根据实际情况排查。

估计是虚拟机的特殊情况导致。windows也是可以支持安装的。

[2021-06-22 11:56] juncaipeng commented on #33732
目前训练还没有支持c++ api的计划，预测是原生支持c++ api：https://paddleinference.paddlepaddle.org.cn/product_introduction/summary.html

[2021-06-22 12:27] pangyoki commented on #33540
你好，docker中执行`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib64:/usr/local/lib`这个指令试试

[2021-06-22 13:06] rs-lsl commented on #32927
你好，请问最后是怎么解决的呢？

[2021-06-22 13:30] rs-lsl opened #33734 "内存溢出相关问题"
大家好，我在训练模型时每次迭代几十次后就会内存溢出，导致项目直接killed，我看性能监控里内存是线性增加的，直到爆内存（不是显存），我测试了一个很简单的网络也没用，说明不是网络结构的问题，并且测试也不是batchsize的问题。每次释放内存后也还是不行，不知道是不是我释放内存的方式正不正确，我是从torch转过来的代码，找了好长时间没找到bug，请问下大家能帮我看下问题是出在哪儿了吗，非常感谢，代码在下面。
[code]

[2021-06-22 16:26] 670133189 opened #33735 "目标检测YOLOv3文档（下）的某处漏写参数"
链接：https://www.paddlepaddle.org.cn/tutorials/projectdetail/1516021#anchor-3
建议将`gt_bbox2 = np.zeros((MAX_NUM, 4))`与`gt_class2 = np.zeros((MAX_NUM,))`分别改为`gt_bbox2 = np.zeros((MAX_NUM, 4), dtype=np.float32)`与`gt_class2 = np.zeros((MAX_NUM,), dtype=np.int32)`，否则无法进行`paddle.vision.ops.yolo_loss()`

[2021-06-23 02:06] #31466 closed, assigned to nobody

[2021-06-23 02:42] zhangting2020 commented on #33735
非常感谢您的反馈，gt_bbox2和gt_class2的dtype需要指定，我们近期会修复此文档。

[2021-06-23 06:19] shingstone-lu commented on #33713
非常感谢您的建议。
有一个问题想追问一下，我将paddle升级到2.1.0之后参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/tutorial/cv_case/convnet_image_classification/convnet_image_classification.html
上面的例子，为什么找不到paddle.optimizer？

[2021-06-23 06:24] juncaipeng commented on #33713
应该不会啊，可以搜到的api都是可以找到的。你可以再检查一下，如果还有问题可以贴出来错误信息。

[2021-06-23 06:29] juncaipeng commented on #33716
那基于log看不出来具体问题，你可以提供复现的单侧（模型、数据、代码、说明文档），我们来调试。

[2021-06-23 07:04] shingstone-lu commented on #33713
我用VS code编辑的.py文件，就是简单的：
import paddle
paddle.optimizer
VS code不能提示optimizer，强行输入的话也无法导航到定义。

[2021-06-23 07:42] AlbieRWang commented on #28205
谢谢，但是好奇怪哦用的微软的常用运行库安装的vc++ 不行，卸载之后再装链接里的正常了

[2021-06-23 07:56] sdnusqy-art opened #33740 "paddle-TRT 不支持FP16"
PaddlePaddle版本：1.8.5
GPU：1080Ti    cuda：9.0   cudnn：7.6.5   TensorRT:6.0.1.5

使用TensorRT加速，  FP32可以执行，  FP16提示以下问题：
I0623 15:40:04.192951 25583 engine.cc:80] You specify FP16 mode, but the hardware do not support FP16 speed up, use FP32 instead.

[2021-06-23 08:36] shingstone-lu commented on #33713
我发现需要这样引用：
import paddle
paddle.paddle.optimizer.Adam(parameters=mynet.parameters())

[2021-06-23 08:48] jiweibo commented on #33740
您好，1080Ti应该是sm6x吧，应该是没有tensor core计算单元的，不支持fp16计算的哈

[2021-06-23 09:00] yeyupiaoling opened #33741 "Paddle如何实现向量外积numpy.outer()"
- PaddlePaddle 2.1.0

PaddlePaddle没有.outer()这个API，请问有其他实现方式吗？

[2021-06-23 12:07] zhangting2020 commented on #33741
目前Paddle没有对应的API实现内积，查阅了下numpy的计算公式：out[i, j] = a[i] * b[j]

可以用matmul实现等价的效果，但首先需要将你的向量unsqueeze。最终输入给matmul的shape如下面的示例
[code]
结果一致：
[code]

[2021-06-23 12:45] douzaikongcheng opened #33746 "如何实现模型并行"
如何实现将模型加载到多张卡上，就是单进程多卡

[2021-06-23 14:54] zhangting2020 commented on #33746
单进程多卡的示例如下
[code]

[2021-06-24 01:10] yeyupiaoling commented on #33741
@zhangting2020 这样做的确是很慢，执行一次几乎要21秒，其中a.size为64，b.size为1000

[2021-06-24 01:13] #33740 closed, assigned to jiweibo

[2021-06-24 02:38] DeepGeGe commented on #33657
请问您最后知道这个BCELoss的正确用法了吗？还是说用BCELoss不能直接用内置的计算accuracy方法，因为我发现它计算Loss是对的，只是计算accuracy好像是有问题的。

[2021-06-24 02:43] zhangting2020 commented on #33741
抱歉，昨天给的示例感觉写复杂了，我更新了上面的示例代码，可以尝试matmul去等价实现。直接调用matmul使用的是cublas会快很多。

[2021-06-24 02:44] yeyupiaoling commented on #33741
@zhangting2020 好的，谢谢。我先试一下。

[2021-06-24 02:44] #33741 closed, assigned to zhangting2020

[2021-06-24 03:36] tingggggg commented on #33348
感謝解答

[2021-06-24 03:36] #33348 closed, assigned to Superjomn

[2021-06-24 03:39] yoyao1 commented on #33687
感觉是异步处理的问题，但是demo里测试也没问题
	Concurrency::task<int> LoadMissionTask = Concurrency::task<int>(([this]
	{
		Sleep(3000);
		PaddleInferFunc();
		return 0;
	})).then([this](Concurrency::task<int> tk) {
		try
		{
			tk.get();
		}
		catch (const std::exception& e)
		{
			const char* pstr = e.what();

		}
		return 0;
	});

[2021-06-24 05:15] lidanqing-vv commented on #30731
Done. https://github.com/PaddlePaddle/Paddle-Inference-Demo/pull/148 is merged.

[2021-06-24 05:15] #30731 closed, assigned to nobody

[2021-06-24 05:20] #33713 closed, assigned to juncaipeng

[2021-06-24 06:52] hrdwsong opened #33765 "【比赛】自动化测试环境原生无飞桨框架，应如何在目标系统上实现预测？"
您好！我参加了一个深度学习相关的比赛。比赛的平台环境如下：
显卡： NVIDIA Tesla P4×1
Matlab： R2019a (9.6.0.1072779) 64-bit (glnxa64)；
Cuda： 10.1.243；
Cudnn： 7.6.5；
Pytorch： 1.4.0
Python： 3.6.10
操作系统： ubuntu18.04
平台本身不包含paddlepaddle框架。我的参赛工程使用paddlepaddle编写，本地运行OK。比赛的自动化测试平台只能通过上传工程的压缩文件，系统会自动执行main.py文件启动预测脚本。python环境相关的库，也只能通过requirements.txt文件进行自动配置。
现有以下问题亟待解决：
1、对于这种自动化测试平台，应如何通过requirements.txt配置飞桨环境？直接用pip freeze > requirem

[2021-06-24 07:04] parap1uie-s commented on #33657
后来我自己写了一个。或者你可以把sigmoid激活以后的模型输出二值化以后，直接和label进行比较。

[2021-06-24 07:10] DeepGeGe commented on #33657
是的，这也是我想到的办法了。不能直接使用高阶API去训练模型，只能使用遍历epoch+batch双重循环，然后自己去计算acc。或者高阶API有传入自定义metrics的方法？不过，话说回来，这样处理还不如直接输出节点用2类，然后使用softmax+交叉熵了。问官方也没引起重视。

[2021-06-24 07:19] hrdwsong commented on #33765
通过requirements.txt自动安装的方法，系统运行失败，返回的LOG文件如下：
.0.post107, 1.5.1.post87, 1.5.1.post97, 1.5.1.post107, 1.5.2.post87, 1.5.2.post97, 1.5.2.post107, 1.6.0rc0.post107, 1.6.0.post97, 1.6.0.post107, 1.6.1.post97, 1.6.1.post107, 1.6.2.post97, 1.6.2.post107, 1.6.3.post97, 1.6.3.post107, 1.7.0.post97, 1.7.0.post107, 1.7.1.post97, 1.7.1.post107, 1.7.2.post97, 1.7.2.post107, 1.8.0.post97, 1.8.0.post107, 1.8.1.p

[2021-06-24 07:54] zhangting2020 commented on #33746
如果没有问题的话，我们将关闭issue。另外可以在官方文档上看到更多使用上的介绍：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/CompiledProgram_cn.html#with_data_parallel

[2021-06-24 07:55] #33746 closed, assigned to zhangting2020

[2021-06-24 08:24] ZKBL opened #33767 "使用paddle inference 过程中for循环预测问题"
# 在fro循环中执行预测结果不正确
## 具体情况
 predictor.run第一次循环可以正确运行，在控制台输出`I0624 15:48:29.592471   560 device_context.cc:598] oneDNN v2.2.1`，并且`probs`结果正确，在第二次for循环的时候，predictor.run()运行过后控制台没有输出类似`I0624 15:48:29.592471   560 device_context.cc:598] oneDNN v2.2.1`这样的结果，并且`probs`结果时不正确的，想问下这种情况是什么原因，具体怎么解决。

## 部分代码

### 1. 主要预测部分
reuslt_all_text是一个字符串列表

[code]

### 2.`_predict_text()`代码
`ModelPredcit`是我自己简单封装的一个类

[2021-06-24 09:04] bigd4 opened #33769 "包含自定义算子的模型在推断时报错算子未注册的问题"
系统环境:
Paddle version: 0.0.0
Paddle With CUDA: False
OS: CentOS Linux 7
Python version: 3.7.10
CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: None

预测信息:
manylinux_cpu_avx_mkl_gcc82 预测库(develop版本)
version.txt:
GIT COMMIT ID: 1b0c5ef264b52a9d75f971216618ebbbbc7e5931
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: OFF
WITH_ROCM: OFF
CXX compiler version: 8.2.0
预测库来源：官网下载

问题描述：
训练: 使用

[2021-06-24 09:31] juncaipeng commented on #33734
建议在for循环外部定义optimizer，尝试一下。

[2021-06-24 11:11] rs-lsl commented on #33734
好，谢谢指教了，我试一下

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年6月24日(星期四) 下午5:31
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp

[2021-06-24 11:31] danleifeng commented on #33765
请问您requirements.txt文件是哪儿来的吗
有试着改一下requirements.txt里 paddle安装的版本吗，比如paddlepaddle_gpu==2.0.0 或者paddlepaddle_gpu==2.0.2？

[2021-06-24 11:32] lvjian0706 commented on #33735
您好，在图像增广方法汇总部分的image_augment函数最后，实际上我们进行了数据格式转换，转换成了'float32'以及'int32'格式。您可以再看一下哈～

[2021-06-24 15:45] nicolas-echo commented on #33725
您好，我遇见了同样的问题，paddle.utils.run_check()能返回正确安装的信息，但是用时很久，请问是什么原因呢？import paddle要执行很久。
版本、环境信息：
   1）PaddlePaddle版本：2.1.0
   3）GPU：cuda10.2,cudnn7.6.5
   4）系统环境：win10、Python版本3.7.0

安装方式信息：
pip安装