[2022-03-30 08:40] startfromzero0 opened #41149 "chinese_ocr_db_crnn_mobile 在recognize_test识别图片时报段错误信息"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2.2.post101
    2）GPU：Driver Version 418.40.04.
		    CUDA Version 10.1
                     CDUATOOLKIT   release 10.1,V10.1.105
                     CUDNN Version 8.0.4
    3）系统环境：SUSE 12 SP5，Python版本:3.7.8

问题描述：

-> self.predictor.zero_copy_run()

—————————————————
C++ Traceback (most recent call last):
—————————————————
No stack trace in paddle, may be caused

[2022-03-30 08:59] GuoxiaWang commented on #41142
@NYF-BRICK 好像 paddle 的 tensor 没有  .view  这个 API呢，是不是可以到 paddlespeech issue中问问？

[2022-03-30 09:02] GuoxiaWang commented on #41149
@startfromzero0

导致 Segmentation fault 的原因有很多，也很复杂，需要具体问题具体看。
请问您这个 chinese_ocr_db_crnn_mobile  是什么套件的？

[2022-03-30 09:06] Winniesea opened #41150 "paddle训练报错"
希望大佬们给予解答！谢谢！
- 版本、环境信息：

     ****************************************
Paddle version: 2.2.2
Paddle With CUDA: True

OS: Windows 10
Python version: 3.8.12

CUDA version: 10.2.89
cuDNN version: 7.6.5
Nvidia driver version: 511.79
****************************************

- 训练信息
    1）单机
    2）显存信息

<img width="490" alt="1" src="https://user-images.githubusercontent.com/94028979/160794120-06f3748a-

[2022-03-30 09:09] GuoxiaWang commented on #41150
@Winniesea 显存不够导致的

[2022-03-30 09:18] startfromzero0 commented on #41149
paddlehub套件

[2022-03-30 09:27] jerryuhoo opened #41154 "如何实现torch.Tensor.unfold"
paddle没有对应的API，虽然有nn.functional.unfold，但是这个的输入格式只支持[N, C, H, W]，请问是否有会有tensor.unfold的算子开发的计划？或者说应该怎么实现呢？

[2022-03-30 09:30] GuoxiaWang commented on #41154
@jerryuhoo 非常感谢反馈，计划方面我先咨询一下反馈到这

[2022-03-30 09:31] Sidney-Chow opened #41155 "在win7 64位系统下，使用Paddle_inference预测时，出现电脑卡死的情况"
PaddlePaddle版本：CommitID：4ccd9a0a86ad550a861c954d70e28ef15741b310
CPU：Inter Core i5-4310U，使用MKL、MKLDNN库
 系统环境：win7 专业版 64位

程序执行到下图位置的时候就卡死了
![image](https://user-images.githubusercontent.com/85594963/160799745-766fb650-4ae7-4b5f-9415-a3e6f00aafa1.png)

[2022-03-30 09:35] From00 commented on #38193
@geoexploring 你好，你提到的几个API，目前Paddle中均已进行了支持，将会在Paddle 2.3版本中发布，详见PR：https://github.com/PaddlePaddle/Paddle/pull/38657

感谢对Paddle的关注，若在使用中或自己实现相关功能过程中遇到问题，欢迎再次反馈。

[2022-03-30 09:47] GuoxiaWang commented on #41155
@Sidney-Chow 这是要做一件什么事？不太熟悉看不出来。

[2022-03-30 09:51] ImNoBadBoy commented on #40234
【队名】：xd_no-bad

【序号】：112

【状态】：RFC提交

【PR链接】：https://github.com/PaddlePaddle/community/pull/84

[2022-03-30 09:55] wangjincheng123456 commented on #40234
【队名】：xd_no-bad

【序号】：113

【状态】：RFC提交

【PR链接】：https://github.com/PaddlePaddle/community/pull/85

[2022-03-30 10:01] z1gov commented on #40234
【队名】：z1gov

【序号】：8

【状态】：报名

【链接】：https://github.com/z1gov/Paddle

[2022-03-30 10:10] NYF-BRICK commented on #41142
对，我看了是paddlespeech中的`paddlespeech/s2t/modules/attention.py`中自己写了一个`MultiHeadedAttention`，其中用到的`view`的是`numpy`实现的，而`paddle.nn.MultiHeadAttention`则没有问题。与这个情况类似的还有`paddlespeech/s2t/models/u2/u2.py`中的`U2BaseModel.ctc_greedy_search`。

现在paddlepaddle的静态图转换对`numpy`的支持如何？

[2022-03-30 10:21] shengzhe8688 commented on #30870
官方能不能  把SIMD和AVX的指令集做成开关或者禁用一下？
另外gcc 8.2.0 编译的能给gcc7.5.0的程序用么？

[2022-03-30 10:35] skywalk163 commented on #40234
【队名】：极快软件

【序号】：76

【状态】：报名

【链接】：https://github.com/skywalk163/PaddleNLP

[2022-03-30 10:35] sayaret commented on #40317
daydayup,   为 Paddle 新增 RReLU 激活函数

[2022-03-30 10:35] Winniesea commented on #41150
感谢解答！请问您说的“显存不够导致的“与我的nvidia-smi显示No running processes found是没有必然关系的是嘛？那就是说，我的电脑配置无法跑这个算法，需要换成服务器？

[2022-03-30 10:37] Sidney-Chow commented on #41155
这是PaddleSeg的c++版本，里面用到了Paddle_inference进行预测

[2022-03-30 10:52] GuoxiaWang commented on #41142
@NYF-BRICK 内部反馈， paddlespeech issue 那边已经在跟踪该问题了 [1625](https://github.com/PaddlePaddle/PaddleSpeech/issues/1625)

[2022-03-30 10:53] GuoxiaWang commented on #41150
@Winniesea

显存已经分配完了， 你这个显存只有2G，这个算法可能需要更多的显存。

[2022-03-30 10:55] Winniesea commented on #41150
好的。感谢您！我明天换成服务器试试 ：D

[2022-03-30 10:55] Winniesea commented on #41150
好的。感谢您！我明天换成服务器试试 ：D

[2022-03-30 11:08] b3602sss commented on #41155
请先试下最新2.2版本的paddle。如果还有问题 请提交一个复现问题的单测

[2022-03-30 11:08] xiaoxiaohehe001 commented on #39687
@[basaltzhang](https://github.com/basaltzhang) 经过定位后发现模型首次运行，A10时间要略长，所以在运行前打开warmup，速度会提升，并且在predict_system.py 中加入 os.environ["FLAGS_cudnn_exhaustive_search"] = '1' 可以进一步加速GPU计算速度。

[2022-03-30 11:21] KDisgoat commented on #40234
【队名】：KDisgoat的squad

【序号】：66

【状态】：报名

【链接】：https://github.com/KDisgoat/Paddle.git

[2022-03-30 12:26] whjdark opened #41170 "cumsum结果与pytorch不一致"
cumsum结果与pytorch不一致，在大矩阵上出错。

[code]

[2022-03-30 12:42] GuoxiaWang commented on #41170
@whjdark  好的，反馈到内部修复

[2022-03-30 12:43] shengzhe8688 commented on #30870
![image](https://user-images.githubusercontent.com/16428236/160836927-42272fa0-6a51-45ee-8f47-2f047833ef70.png)
这行干掉即可

[2022-03-30 12:56] #40739 closed, assigned to esythan

[2022-03-30 14:28] NYF-BRICK commented on #41142
嗯，那我把paddlepaddle这边的issue关掉。

[2022-03-30 14:28] #41142 closed, assigned to nobody

[2022-03-30 15:37] zlsh80826 opened #41180 "test_run_program random failure"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
[code]
- 复现步骤
[code]
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
`test_run_program_op` failed randomly. The error log is following
[code]

[2022-03-30 16:31] zlsh80826 opened #41182 "test_standalone_executor random failure"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
[code]
- 复现步骤
[code]
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
`test_standalone_executor` failed randomly. The error log is following
[code]

[2022-03-30 17:11] gdragone1 opened #41185 "请问现在静态图是否支持梯度累加呢？"
请问静态图 paddle 2.2 是否支持梯度累加呀

[2022-03-30 18:03] liutiexing commented on #41185
支持

[2022-03-30 18:12] liutiexing commented on #41182
您好，能否设置GLOG_v=20环境变量，跑一下后提供一下日志？

[2022-03-31 01:35] GuoxiaWang commented on #41180
这个问题应该和 [41182](https://github.com/PaddlePaddle/Paddle/issues/41182) 类似的

[2022-03-31 01:50] wawltor commented on #41170
您好，这个op在计算的过程中出现transpose出错的问题，有个临时解决方案，可以手动通过transpose的API方式将需要累加的axis变换到最后一维，例如
[code]

我们将尽快解决这个op出错的问题

[2022-03-31 02:21] KPatr1ck commented on #41149
你好，请问是否方便提供出错时的使用环境和脚本？
建议前往 https://github.com/PaddlePaddle/PaddleHub/issues 提供更详细的错误信息，方便我们协助排查。

[2022-03-31 02:26] sunvina opened #41187 "fuse_elewise_add_act_ops 不好使"
- 版本、环境信息：
    1）PaddlePaddle版本：2.2
    2）CPU：![image](https://user-images.githubusercontent.com/51695603/160963637-c22b84cb-94a2-442f-8e5f-86f5862ab687.png)

    3）GPU：无
    4）系统环境：win10 ，py3.7

训练的模型转pb，想要融合elewise_add，没有成功

 paddle.enable_static()
        build_strategy = paddle.static.BuildStrategy()
        build_strategy.fuse_elewise_add_act_ops = True
        build_strategy.fuse_relu_depthw

[2022-03-31 03:07] gdragone1 commented on #41185
https://github.com/PaddlePaddle/Paddle/issues/24905  我们需要batch之间的梯度累加，问下是是否支持呢？

[2022-03-31 03:11] liutiexing commented on #41187
您好，报错信息是啥？或者提供一个完整可复现环境，贴出的代码没有模型的

[2022-03-31 03:14] xingjing1 commented on #40250
this was solved and will publish in 2.3 rc   @JZZ-NOTE @zlsh80826

[2022-03-31 03:20] isLinXu commented on #40234
【队名】自然选择
【序号】：1&2
【状态】：报名&提交RFC
【链接】：PaddlePaddle/community#40334 #40333

[2022-03-31 03:20] whjdark commented on #41170
好的，多谢了

[2022-03-31 03:20] sober-6 commented on #40234
【队名】：天大战队

【序号】：69

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/88

[2022-03-31 03:24] zlsh80826 commented on #40250
@xingjing1 Could you share the solved PR?

[2022-03-31 03:53] sunvina commented on #41187
![image](https://user-images.githubusercontent.com/51695603/160973086-cda2cc4e-9c76-46b6-87c8-e3789cd9fc28.png)
请问这三个节点可以融合在一起吗

[2022-03-31 04:13] liutiexing commented on #41187
后两个可以融合

[2022-03-31 04:21] liutiexing commented on #41187
fuse_elewise_add_act_ops 和 fuse_relu_depthwise_conv 二者之一生效，图就变了，另一个就无法生效了，我理解

[2022-03-31 05:50] sunvina commented on #41187
您好，我单独设置这两个也不生效，也不报错，就是不融合

[2022-03-31 06:14] zlsh80826 commented on #41180
@GuoxiaWang
The error message is completely different.

[2022-03-31 06:15] Chowwanhui commented on #40234
【队名】：Here comes everybody
【序号】：32
【状态】：报名
【链接】：https://github.com/Chowwanhui/Paddle

[2022-03-31 06:17] GuoxiaWang commented on #41180
@zlsh80826  ok,  I try to find the problem.

[2022-03-31 06:17] xingjing1 commented on #40250
https://github.com/PaddlePaddle/Paddle/pull/40513  @zlsh80826

[2022-03-31 06:20] zlsh80826 commented on #40250
@xingjing1 OK, I will close this issue after #40513 merged.

[2022-03-31 06:23] thunder95 commented on #40234
【队名】：thunder95

【序号】：15

【状态】：RFC提交

【链接】：https://github.com/thunder95/Paddle

[2022-03-31 06:26] limymy commented on #40234
【队名】：分母

【序号】：97

【状态】：报名

【链接】：https://github.com/LiMYmy/Paddle.git

[2022-03-31 06:36] qxjfly commented on #40234
【队名】：传奇一组

【序号】：68

【状态】：报名

【链接】：https://github.com/qxjfly/Paddle.git

[2022-03-31 06:43] eaglediaogit opened #41196 "使用paddle.io.DistributedBatchSampler处理数据进行并行训练的问题"
1）PaddlePaddle版本：2.2
2）CPU：Intel(R) Core(TM) i9-10900K
3）GPU：两个 RTX3090 ，CUDA版本：11.65
4）系统环境：Ubuntu， python3.6

- 问题描述：最近在学习paddle，测试运行了paddle社区的一个TSN视频分类模型，进行并行训练，在对数据集进行处理时，使用了如下代码：

[code]
发现使用python train.py运行代码时，len(train_sampler) = 100；而使用python -m paddle.distributed.launch --selected_gpus='0,1' train.py运行代码时，len(train_sampler) = 50。两个长度大小为什么会不一样呢？

接着，设置batch_size=4，使用循环进行训练：
[code]

使用单gpu

[2022-03-31 06:56] Aurelius84 commented on #41180
@zlsh80826 I suppose that it's caused by Python `id` re-use mechanism. You can replace `_hash_with_id` with
[code]

Under `run_program`, we have an `ExecutorCache` for each ProgramDesc, and it use the returned hash id as key. Becuse the python `id` re-use mechanism, `ExecutorCache` may not create a new Executor for ProgramDesc in differnt unittest.

Note: The underly Executor is a stateful calss a

[2022-03-31 07:00] kdm2333 commented on #40234
【队名】：战天斗地

【序号】：70

【状态】：报名

【链接】：https://github.com/kdm2333/Paddle

[2022-03-31 07:09] xingjing1 commented on #41182
@zhiqiu

[2022-03-31 07:17] vicderry commented on #40234
【队名】：屁子哥

【序号】：82

【状态】：报名

【链接】：https://github.com/vicderry/Paddle

[2022-03-31 07:21] xingjing1 commented on #40663
@YuanRisheng

[2022-03-31 07:23] zlsh80826 commented on #41180
@Aurelius84
1. I tried to print the values of `_hash_with_id(self.program_desc)`, but I find the hash value is different in each run. I suppose the same program_desc should generate the same hash_value, right?
2. Will `_hash_with_id(self.program_desc, self)` solve the problem? If the problem is caused by hash collision, then the problem may still exist after adding the `self` as the hash key.

[2022-03-31 07:27] zlsh80826 commented on #40663
After the discussion, it is the expected behavior from Paddle.

[2022-03-31 07:27] #40663 closed, assigned to YuanRisheng, cuicheng01, lanxianghit

[2022-03-31 07:28] zlsh80826 commented on #39446
This issue is blocked by https://github.com/PaddlePaddle/Paddle/pull/40699

[2022-03-31 07:33] sober-6 commented on #40234
【队名】：天大战队

【序号】：55

【状态】：报名

【链接】：https://github.com/sober-6/Paddle

[2022-03-31 07:33] sober-6 commented on #40234
【队名】：天大战队

【序号】：111

【状态】：报名

【链接】：https://github.com/sober-6/Paddle

[2022-03-31 08:00] liutiexing commented on #41187
您好，对应的开发人员已经不在了，如果必要，只能您把复现的python代码贴出来，然后我研究一下源代码分析咋回事了

[2022-03-31 08:12] sober-6 commented on #40234
【队名】：天大战队

【序号】：60

【状态】：报名

【链接】：https://github.com/sober-6/Paddle

[2022-03-31 08:27] zlsh80826 commented on #39446
#40699 merged. Close this issue

[2022-03-31 08:45] Ziyang-Li-AILab commented on #40234
【队名】：李子扬

【序号】：16

【状态】：报名

【链接】：https://github.com/LiSir000/Paddle

[2022-03-31 08:46] Sidney-Chow commented on #41155
我尝试了官网下载的2.2版本 c++预测库，问题仍然存在。
预测库是在如下图中下载的：
![image](https://user-images.githubusercontent.com/85594963/161014494-6593f645-f147-4996-9e1b-a430c897a2f8.png)

另外，我定位到问题是在执行predictor_->Run()这个方法就会出现。
Predictor 类的Run()方法

[2022-03-31 09:07] Stave604671 opened #41211 "efficientnetv2模型没有成功收敛，想知道这一块弄的模型问题出在哪儿"
- 标题：EfficientNetV2模型复现没有收敛，不懂哪一步出的问题
- 版本、环境信息：
****************************************
Paddle version: 2.2.2
Paddle With CUDA: True
OS: Ubuntu 16.04
Python version: 3.7.4
CUDA version: 10.1.243
cuDNN version: 7.3.1
Nvidia driver version: 450.51.06
****************************************
- 训练信息
    1）单机单卡
    2）显存信息
    3）Operator信息：EfficientNetV2-S
- 复现信息：没有报错
- 复现环境：AIStudio单卡16GV100
- 复现步骤：

[2022-03-31 09:24] Han-YLun opened #41213 "pip install paddle"
[code]

[2022-03-31 09:25] Han-YLun commented on #41213
i use mac,python version 3.8.9,pip version 21.3.1

[2022-03-31 10:07] Wei-JL commented on #40189
不好意思，没看见我的问题被合并了，目前安装完成nano的系统后，自带的python版本是3.7.1，安装conda之后新建环境py3.6.9，pip导入一直显示非法指令(已转核心储存)，但新建3.7以上的环境就可以正常导入py的依赖包。但是安装3.7以上的py之后，又不能安装飞桨2.2.2 cp3.6的whl了，报错不支持导入。望能够快速解答 谢谢

[2022-03-31 10:08] Wei-JL commented on #40189
不好意思，没看见我的问题被合并了，目前安装完成nano的系统后，自带的python版本是3.7.1，安装conda之后新建环境py3.6.9，pip导入一直显示非法指令(已转核心储存)，但新建3.7以上的环境就可以正常导入py的依赖包。但是安装3.7以上的py之后，又不能安装飞桨2.2.2 cp3.6的whl了，报错不支持导入。望能够快速解答 谢谢

[2022-03-31 10:11] Wei-JL commented on #41113
目前安装完成nano的系统后，自带的python版本是3.7.1，安装conda之后新建环境py3.6.9，pip导入一直显示非法指令(已转核心储存)，但新建3.7以上的环境就可以正常导入py的依赖包。但是安装3.7以上的py之后，又不能安装飞桨2.2.2 cp3.6的whl了，报错不支持导入。尝试过卸载系统自带的python版本是3.7.1，但是整个linux系统直接崩了，在conda里面又不能下载py3.6.9用pip指令或者conda指令卡主好几天了。  望能够快速解答 谢谢

[2022-03-31 10:11] ImNoBadBoy commented on #40234
【队名】：xd_no-bad

【序号】：41

【状态】：报名

【链接】：https://github.com/ImNoBadBoy/Paddle

[2022-03-31 10:13] ImNoBadBoy commented on #40234
【队名】：xd_no-bad

【序号】：33

【状态】：报名

【链接】：https://github.com/ImNoBadBoy/Paddle

[2022-03-31 10:15] henqiqi08 commented on #40234
【队名】：瓦力维吉尔

【序号】：92

【状态】：报名

【链接】：https://github.com/henqiqi08/Paddle

[2022-03-31 10:31] tiancaishaonvjituizi commented on #40234
【队名】：我的名字连起来就是王豆豆

【序号】：60

【状态】：报名&提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/90

[2022-03-31 10:55] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：60

【状态】：报名

【PR链接】：https://github.com/PaddlePaddle/community/

[2022-03-31 11:16] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：60

【状态】：报名&提交RFC

【PR链接】：https://github.com/PaddlePaddle/community/91

[2022-03-31 11:18] liutiexing commented on #41185
支持了

[2022-03-31 11:18] #41185 closed, assigned to liutiexing

[2022-03-31 11:20] franva commented on #40234
【队名】：西域大菠菜

【序号】：85

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/Paddle2ONNX/pull/662

[2022-03-31 11:26] liutiexing commented on #41196
您好，多卡训练时，每个DistributedBatchSampler加载了一半数据，也就是数据并行模式，你可以打印一下数据，2个卡的数据应该不一样

[2022-03-31 11:38] startfromzero0 commented on #41149
已在PaddleHub下提交，请查看 https://github.com/PaddlePaddle/PaddleHub/issues/1825#issue-1187454837

[2022-03-31 12:09] liutiexing commented on #41213
按照您的需求，请走这个安装方式
python -m pip install paddlepaddle==2.2.2 -i https://mirror.baidu.com/pypi/simple

<img width="1363" alt="image" src="https://user-images.githubusercontent.com/74819124/161051362-3ff773e6-d0ff-400d-95c9-b4e295617ff0.png">

[2022-03-31 12:09] liutiexing commented on #41213
mac上不支持gpu训练

[2022-03-31 12:19] Meiyim commented on #40566
any update?

[2022-03-31 12:41] opcomm commented on #40234
【队名】：STAINOOPS

【序号】：107

【状态】：报名

【链接】：https://github.com/QPT-Family/QPT

[2022-03-31 12:54] lilyyjzhou commented on #40234
【队名】：西域大侠

【序号】：75

【状态】：RFC提交

【PR链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1883

[2022-03-31 13:34] tiancaishaonvjituizi commented on #40234
【队名】：我的名字连起来就是王豆豆

【序号】：6

【状态】：报名&提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/93

[2022-03-31 15:17] geoyee commented on #40234
【队名】：啊对对

【序号】：107

【状态】：报名

【链接】：https://github.com/geoyee/QPT

[2022-03-31 16:46] SumFunction opened #41238 "训练一会CPU突然升高"
请问训练一会 评估了一次模型 CPU占用率突然升高 之后爆内存错误宕机了，使用的是百度平台的CodeLab
terminate called without an active exception

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
No stack trace in paddle, may be caused by external reasons.

----------------------
Error Message Summary:
----------------------
FatalError: `Process abort signal` is detected by th

[2022-03-31 21:10] Water2style opened #41239 "请教一个PaddleSlim官方文档中剪枝部分的一个问题."
文档地址:
https://paddleslim.readthedocs.io/zh_CN/latest/tutorials/pruning/dygraph/self_defined_filter_pruning.html

请问, 在1.1节的Group概念介绍中,
"如果删除第一个卷积绿色的filter，第一个卷积的输出特征图的通道数也会减1，同时需要删掉第二个卷积层绿色的kernels"
删除第一个CNN中的部分filter后, 会影响到第二个CNN, 让第二个CNN中,每个filter的kernel数量按相同比例减少,这样才能保证普通CNN计算的正确性.

我的问题是: 如何确定第二个CNN中,是哪些filter的kernel被减去呢? 是有什么映射关系吗?(这看起来很像filter剪枝+kernel剪枝的组合)

谢谢!

[2022-04-01 01:01] eaglediaogit commented on #41196
@liutiexing  谢谢！在上面代码中，我打印了数据的标签，内循环中每个batch打印了4个（batch_size=4），既然是并行，那么应该能够打印出8个才对吧，难道这个循环只能打印一张卡的数据？那么另一张卡的数据或标签怎么获取打印出来呢？

[2022-04-01 01:37] Aurelius84 commented on #41180
@zlsh80826
`_hash_with_id()` uses arguments `id` information to calculate hash value. In each Python process,  `ExecutorCache` will be descontructed after exitting process. We have complex logic for `_hash_with_id `(pass many arguments as 'salt') but this unittest doesn't do this. That's why we suggest you pass `self` into  `_hash_with_id`. It can work.

[2022-04-01 01:53] zlsh80826 commented on #41180
@Aurelius84 got it. Could you file a PR to resolve this issue?

[2022-04-01 01:55] eaglediaogit commented on #41196
谢谢！在代码中，我打印了数据的标签，内循环中每个batch打印了4个（batch_size=4），既然是并行，那么应该能够打印出8个才对吧，难道这个循环只能打印一张卡的数据？那么另一张卡的数据或标签怎么获取打印出来呢？整个训练过程中，log的打印次数也只有一半。

从 Windows 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>发送

________________________________
发件人: liutiexing ***@***.***>
发送时间: Thursday, March 31, 2022 7:26:53 PM
收件人: PaddlePaddle/Paddle ***@***.***>
抄送: eaglediaogit ***@***.***>; Author ***@***.***>
主题: Re: [

[2022-04-01 02:54] jim19930609 commented on #41238
你好，问题已收到！

进一步的评估或修复工作需要我们能够复现问题。请问可以提供一下完整的执行代码（目前似乎缺少数据集部分，如果数据集不方便发出来，可以尝试一下用相同形状的随机数(比如paddle.ones())替换看是不是也有同样的问题）以及复现问题的步骤嘛？

[2022-04-01 02:56] SumFunction commented on #41238
您好，我在本地上是可以正常运行的，但是在云上GPU运行了200epoch就挂掉了

[2022-04-01 03:32] qtz980805 opened #41244 "AI studio V100训练速度比1080ti慢近3倍"
   1）PaddlePaddle版本：2.2.2
    2）GPU：本地一块1080ti（11G）；AI studio notebook 一块TeslaV100 （16G/32G情况一样）
    3）本地1080ti，CUDA10.2，cudnn8.2；AI studio notebook TeslaV100， CUDA10.1，cudnn7.5；

本地一次iteration 2s左右，AI studio 一次iteration 5.5s左右。
请问可能的问题是什么？

在AI studio print了训练各个阶段的用时，分两种情况：
1）当某次迭代使用visualdl summary的时候，summary用时占大头（网络forward用时0.4s左右，总用时5.5s左右）
2）当某次迭代不使用visualdl summary的时候，网络forward用时占大头（网络forwar

[2022-04-01 03:34] llooper-dev opened #41246 "CPU支持AVX，怎么编译报building AVX version without NOAVX core"
1）PaddlePaddle版本
git clone -b v2.2.2 https://github.com/PaddlePaddle/Paddle.git

2）本地编译：
cmake  .. \
	-DCMAKE_INSTALL_PREFIX=/opt/lib/Paddle \
    -DWITH_CONTRIB=OFF \
    -DWITH_MKL=ON \
    -DWITH_MKLDNN=ON  \
    -DWITH_GPU=OFF  \
    -DWITH_NCCL=OFF  \
    -DWITH_RCCL=OFF  \
    -DWITH_TESTING=OFF \
    -DCMAKE_BUILD_TYPE=Release \
    -DWITH_INFERENCE_API_TEST=OFF \
    -DON_INFER=ON \
    -D

[2022-04-01 03:40] hanjr92 opened #41247 "对于min、max等归约算法返回值的建议。"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：2.0.0
2）CPU/GPU：cpu
3）系统环境：windows 10
- 复现信息：对比tensorflow、pytorch、mindspore、paddle四个框架的max、min这类的归约函数，发现了一个问题。
![image](https://user-images.githubusercontent.com/73918561/161188504-f755ca88-493f-44cf-ba9a-534c301346df.png)
对于归约算法，如果不指定轴，最终获取的应该时一个标量，事实上其他三个框架最终结果也都是标量，而只有paddle给出的是一个一维张量。
- 建议描述：我建议归约结果如果是

[2022-04-01 03:43] miemie2013 opened #41248 "自定义外部gather算子报错"
- 版本、环境信息：
    1）PaddlePaddle版本：develop
    2）GPU：AIStudio V100

地址： https://aistudio.baidu.com/aistudio/projectdetail/3724521

写了个自定义外部算子gather，是根据2.0版本飞桨的gather实现的，实现了gather的二阶导数（还是gather）。依次点击上面的项目给出的4条命令，最后会报错：
[code]
首先ddd是0，证明实现的gather代码逻辑应该没有错。请问为什么会报这个错（自定义算子源码位于~/work/custom_ops/gather）？谢谢解答！

[2022-04-01 03:50] llooper-dev commented on #41246
POCKETFFT_INCLUDE_DIR is /home/aifer/.cppbuild/Paddle/build/third_party/pocketfft/src
-- Paddle version is 2.2.2
-- Enable Intel OpenMP with /home/aifer/.cppbuild/Paddle/build/third_party/install/mklml/lib/libiomp5.so
-- On inference mode, will take place some specific optimization.
-- commit: b031c38
-- branch: HEAD
WITH_DLNNE:
-- MESSAGE: This is just a message for publishing release.
      You

[2022-04-01 03:51] llooper-dev commented on #41246
这样是编译成功了吧？

[2022-04-01 03:58] jim19930609 commented on #41246
你好，这个编译提示没问题。你的CPU如果支持AVX指令集，那么cmake选项“WITH_AVX” 是默认打开的，因此编译出的机器码里是含有AVX指令的。

这个提示只是警告说：假如你把编出来的AVX wheel包安装到了没有AVX的机器上（比如另一台特别老的电脑），会跑不了。

[2022-04-01 04:00] shangshanruowo opened #41250 "paddledetection里面map_type是啥意思?"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2022-04-01 04:02] shangshanruowo commented on #41250
这里面的mAP（0.5，11point）这个11point是啥意思啊？

[2022-04-01 04:09] jim19930609 commented on #41247
您好，非常感谢您对API设计方面的改进建议！问题已经转发给Paddle内部负责API的同学进行评估

[2022-04-01 04:23] habushe commented on #40234
【队名】：李卫卫

【序号】：47

【状态】：报名

【链接】：https://github.com/habushe/Paddle

[2022-04-01 04:47] heavengate commented on #41196
log/workerlog.0 和log/workerlog.1里有两个卡的日志

[2022-04-01 05:26] Algo-Goer commented on #40234
【队名】：Time

【序号】：89

【状态】：报名

【链接】：https://github.com/Algo-Goer/hackathons  （Taichi Hackathons）

[2022-04-01 05:38] llooper-dev commented on #41246
好的，谢谢

[2022-04-01 05:38] #41246 closed, assigned to jim19930609

[2022-04-01 06:05] jim19930609 commented on #41244
您好，问题已收到，正在排查中。请问可以提供一下您的AI Studio项目id，方便我们复现问题嘛？

[2022-04-01 06:13] hanjr92 commented on #41247
![image](https://user-images.githubusercontent.com/73918561/161205294-e41d3811-bb9b-4f4f-8c78-8d5a42e340e3.png)
除此之外，我感觉paddle是不是对于张量的维度定义稍微有一点点问题，虽然在大多数情况下都不影响计算，但是一旦涉及标量stack或者标量升维的时候，总会出现点问题。。。。如上图所示，只有paddle在对标量 1 初始化的时候会返回一个一维张量，奇怪是 对np.array(1)进行初始化的时候，又能正确的返回标量张量。。。。这样的处理有些时候让人很迷惑 = =！ @[jim19930609](https://github.com/jim19930609)

[2022-04-01 06:18] TTgogogo commented on #29362
@feymanpriv, @sun-ching, I found the same problem, have you fixed it? Pls provide me the solution.

[2022-04-01 07:14] eaglediaogit commented on #41196
@heavengate 谢谢！我看了你说的那两个日志文件，里面打印的log信息确实不一样，包括loss等。但是仍然有几点疑问：
1）我如何知道两张卡的loss及其他训练参数是否同步；
2）按照上文中的代码，对照了一下，发现代码中打印的是worklog.0中的信息，那么worklog.1中的信息怎么打印出来呢？怎么打印出另一张卡训练的train_sampler
@liutiexing 初学，问题多多，麻烦两位了！感谢哈！

[2022-04-01 07:17] cxy2017 commented on #40234
【队名】：你说的都对
【序号】：61
【状态】：报名
【链接】：https://github.com/cxy2017/Paddle-Lite.git

[2022-04-01 08:10] jim19930609 commented on #41244
另外也麻烦提供一下本地机器的CPU和内存配置，感谢！

[2022-04-01 08:14] qtz980805 commented on #41244
好的，我正在把项目弄成公开的，请稍等下

[2022-04-01 08:29] hotpoor commented on #40234
【队名】：HOTPOOR
【序号】：81
【状态】：报名
【链接】：https://github.com/PaddlePaddle/PaddleVideo

[2022-04-01 08:29] hotpoor commented on #40234
【队名】：HOTPOOR
【序号】：106
【状态】：报名
【链接】：https://github.com/QPT-Family/EIVideo

[2022-04-01 09:27] sekauqnoom commented on #39536
我的python是3.7版本的，一开始也这样，弄了好久都不行。刚刚关了vpn马上可以了！

[2022-04-01 09:27] qtz980805 commented on #41244
项目链接：https://aistudio.baidu.com/aistudio/projectdetail/3562510?contributionType=1
本地服务器CPU：i9-9900K@3.60GHz 8核 32G内存

[2022-04-01 09:48] ghostxsl opened #41279 "分布式训练下fleet和非fleet两种初始化的区别是啥？"
请教一下，paddle里分布式训练的paddle.distributed.init_parallel_env()和paddle.distributed.fleet.init()这两种初始化有啥区别？
fleet和非fleet对于训练模型是否有所不同？

[2022-04-01 09:59] Ligoml opened #41281 "【必读】如何正确的提出一个 Issue"
## 什么是 Issue ？
Issue，GitHub 官方译为议题，使用 GitHub Issues 可以用来追踪在 GitHub 上的想法、反馈、任务或缺陷。更多信息可参考[GitHub Issues 官方文档](https://docs.github.com/en/issues/tracking-your-work-with-issues/about-issues)。

常见的几种 Issue 使用场景有：

- 报告一个框架bug
- 提交一项功能建议
- 记录一个待完成任务
- 指出文档缺失/安装问题
- 答疑交流

## 如何提 Issue ？
PaddlePaddle 有很多代码仓库，为了使你的 Issue 能够获得快速响应与解决，我们建议你初步判断下 Issue 所属仓库，并在对应仓库下提 Issue。PaddlePaddle 目前活跃维护的仓库有：[Paddle](htt

[2022-04-01 10:01] #41281 closed, assigned to nobody

[2022-04-01 10:31] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：60

【状态】：报名&提交RFC通过&提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/41272

[2022-04-01 10:36] wozna opened #41283 "Python tests has stopped working with Python3.6"
From commit https://github.com/PaddlePaddle/Paddle/commit/c15e3823346e323d2d84f1fc7c174ae09790ccec all python tests don't work if Python is lower than 3.7. I checked python 3.7 and 3.9 and it works fine.
Here is the error that appears for the test `test_conv2d_op` and the same error appears in all other tests.
[code]
python - 3.6.9
cmake -  3.16.5
gcc -  7.5.0
build flags
[code]

[2022-04-01 10:48] Yeedzhi commented on #40234
【队名】：Yee
【序号】：43
【状态】：报名
【链接】：https://github.com/Yeedzhi/Paddle

[2022-04-01 12:07] paulasquin commented on #30694
Paddle v2.2.2 is having issues to find libraries if they are not ending with only ".so" and if they are not besides each other exactly. Expanding `LD_LIBRARY_PATH` was not a solution for me.

I had cudnn installed under
`/usr/lib/x86_64-linux-gnu` and cuda libraries installed under `/usr/local/cuda/lib64/`, this last path being indicated within `LD_LIBRARY_PATH`. Paths here are such as defined by

[2022-04-01 12:13] wangye707 commented on #40189
@Wei-JL  最新的jetpack4.6.1+python3.7开始部署了，争取本次新版本中推出

[2022-04-01 12:15] wangye707 commented on #41113
@Wei-JL 最新的jetpack4.6.1+python3.7开始部署了，争取本次新版本中推出

[2022-04-01 12:32] wozna commented on #41283
I found that this commit fixed this problem https://github.com/PaddlePaddle/Paddle/commit/6ed6f9fed74d0815b36b82336440d8906c4830e7

[2022-04-01 12:33] #41283 closed, assigned to jim19930609

[2022-04-01 13:49] GreatV commented on #40234
【队名】：小蜗牛爬爬爬

【序号】：44

【状态】：报名

【链接】：https://github.com/GreatV/Paddle

[2022-04-01 15:35] Asthestarsfalll commented on #40234
【队名】：我完全没想法

【序号】：27

【状态】：提交PR

【链接】：https://github.com/PaddlePaddle/Paddle/pull/41226

[2022-04-01 15:35] Asthestarsfalll commented on #40234
【队名】：我完全没想法

【序号】：23

【状态】：提交PR

【链接】：https://github.com/PaddlePaddle/Paddle/pull/40910

[2022-04-01 15:36] Asthestarsfalll commented on #40234
【队名】：我完全没想法

【序号】：13

【状态】：提交PR

【链接】：https://github.com/PaddlePaddle/Paddle/pull/40698

[2022-04-01 17:22] #41239 closed, assigned to jim19930609

[2022-04-02 01:53] gddclct commented on #40234
【队名】：GDDCLZ

【序号】：87

【状态】：报名

【链接】：[https://github.com/gddclct/PaddleSpatial](https://github.com/gddclct/PaddleSpatial)

[2022-04-02 02:03] Python-WzQ commented on #40291
队名：小啊giao
选定任务为：42、为Paddle修复ROCM(HIP)算子

[2022-04-02 02:10] Python-WzQ commented on #40291
队名：小啊giao
选定任务为：42、为Paddle修复ROCM(HIP)算子
状态：报名
链接：https://github.com/Python-WzQ/Paddle

[2022-04-02 02:14] Python-WzQ commented on #40291
队名：小啊giao
选定任务为：42
状态：报名
链接：https://github.com/Python-WzQ/Paddle

[2022-04-02 02:27] qtz980805 commented on #41244
请问有找到问题吗？

[2022-04-02 02:51] Seven521 commented on #40234
【队名】：steven

【序号】：40

【状态】：报名

【链接】：https://github.com/Seven521/Paddle

[2022-04-02 03:31] IvanaXu commented on #32799
Same...

[2022-04-02 03:35] VictorRanger commented on #40234
【队名】：终极菠菜

【序号】：50

【状态】：报名

【链接】：https://github.com/VictorRanger/Paddle

[2022-04-02 04:31] b3602sss commented on #41155
请提交一个复现问题的单元测试 我们这边看下是什么问题

[2022-04-02 04:55] cuicheng01 commented on #41211
你好，不收敛可能是初始化的问题，可以加载pretrained model试一下，或者和官方的模型对齐一下初始化

[2022-04-02 05:58] GuoxiaWang commented on #41154
@jerryuhoo  已经内部反馈

已经内部反馈了，这个会列入下一个版本开发计划，请关注新版本发布

当前从API层没有很好的绕过方法

最后非常感谢给予使用反馈，谢谢

[2022-04-02 06:20] jerryuhoo commented on #41154
好的，感谢。目前暂时用nn.functional.unfold加各种reshape和transpose做了一个比较粗略的tensor.unfold，对维度的支持还是不够灵活，期待有paddle原生的tensor.unfold！

[2022-04-02 06:23] wanzhiqiang0812 commented on #40282
队名：小鸟伏特加
选定任务为：50
状态：报名
链接：https://github.com/wanzhiqiang0812/Paddle

[2022-04-02 06:29] GuoxiaWang commented on #41154
好的，这种速度会受一定影响。确实可以先 reshape 成 4D，然后做操作。
你的目的就是分块是吗？

[2022-04-02 06:30] Blockhead1DLW commented on #40234
【队名】：哩米lm

【序号】：102

【状态】：报名

【链接】：https://github.com/Blockhead1DLW/EIVideo

[2022-04-02 06:34] jerryuhoo commented on #41154
嗯对的，目前我只是需要对tensor里最后面的一个维度进行unfold。现在感觉速度还可以，之前试了下split和concat速度就非常慢了。

[2022-04-02 06:34] chenwhql commented on #41248
aistudio无法打开cu文件？要不还是来个github链接，我复现一下。。。这几天赶发版，事情太多，回复不太及时，见谅

[2022-04-02 06:57] liuTINA0907 commented on #41279
您好，paddle.distributed.init_parallel_env()是支持动态图训练，详情见文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/distributed/init_parallel_env_cn.html#cn-api-distributed-init-parallel-env
paddle.distributed.fleet.init() 这个动、静都支持。

[2022-04-02 07:03] ghostxsl commented on #41279
意思是说在动态图下，这两个没有任何区别？

[2022-04-02 07:04] sunjinhui0228 commented on #40293
您根本不知道我有多害怕(为Paddle修复ROCM(HIP)算子)

[2022-04-02 07:08] sunjinhui0228 commented on #40293
【队名】：你根本不知道我有多害怕
【序号】：40
【状态】：报名

[2022-04-02 07:12] sunjinhui0228 commented on #40293
【队名】：你根本不知道我有多害怕
【序号】：40
【状态】：报名
【链接】https://github.com/sunjinhui0228/Paddle.git

[2022-04-02 07:22] ImNoBadBoy commented on #40234
【队名】：xd_no-bad

【序号】：112

【状态】：PR修改

【PR链接】：https://github.com/PaddlePaddle/community/pull/84

[2022-04-02 07:24] ImNoBadBoy commented on #40234
【队名】：xd_no-bad

【序号】：112

【状态】：rfc修改

【PR链接】：https://github.com/PaddlePaddle/community/pull/84

[2022-04-02 07:34] orphan006 commented on #40234
【队名】：sunofautumn

【序号】：97

【状态】：报名

【链接】：https://github.com/orphan006/Paddle

[2022-04-02 07:40] agure1121 commented on #40234
【队名】：PaddleCool

【序号】：97

【状态】：报名

【链接】：https://github.com/agure1121/Paddle

[2022-04-02 07:43] liuTINA0907 commented on #41279
是的，建议用fleet.init，适用 collective 和 PS 多种模式。

[2022-04-02 07:58] Han-YLun commented on #41213
[2022/04/02 16:24:36] root INFO: dt_boxes num : 41, elapse : 1.985137939453125
W0402 16:24:36.930294   261 analysis_predictor.cc:1353] Deprecated. Please use CreatePredictor instead.
[2022/04/02 16:24:37] root INFO: cls num  : 41, elapse : 0.5929715633392334
100%|██████████| 99.3k/99.3k [00:00<00:00, 3.25MiB/s][2022-04-02 16:24:38 +0800] [37] [INFO] Booting worker with pid: 37
W0402 16:24:40.03557

[2022-04-02 08:12] miemie2013 commented on #41248
大佬，文件下载下来看，哈哈，等你好久了！

[2022-04-02 08:14] miemie2013 commented on #41248
https://github.com/miemie2013/ppgan/tree/develop

develop分支

[2022-04-02 08:20] #41279 closed, assigned to jim19930609

[2022-04-02 08:35] Han-YLun commented on #41213
报错之后停止运行，后面的内容也不会执行

[2022-04-02 09:33] Yep1908 commented on #40310
【队名】：飞桨飞桨fff
【序号】：23
【状态】：报名
【链接】：https://github.com/Yep1908/Paddle

[2022-04-02 09:58] sdreamforchen opened #41336 "能否支持推理时每一层layer/模块module/(backbone\head\neck)的时间延迟计算"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）
您好，我们目前基于百度的paddle框架以及ppyolo/picodet等模型做很多尝试和工程化。
目前遇到的问题是，这几年的关于head的优秀的论文极多，backbone优秀的论文也较多，在评估或自行优化过程中，精度和延迟是重要评估因素。
如此多的论文和有限的资源，我们可能同时对backbone和neck进行修改。
我们希望paddle能提供通用的api进行backbone/neck/head/layer的推理延迟计算savefile。方便我们在优化过程中的获得更加准确的延迟数据。特别是使用eval或者部署推理的时候。
PS：我们发现最新的PP

[2022-04-02 10:45] zhangbo9674 commented on #41336
您好，我们已经收到您对与api的需求及ppyolo在推理时间上差异的疑问，会尽快给您答复。

[2022-04-02 11:40] wangxinxin08 commented on #41336
PP-YOLO只有一个模型，测速度是不同输入分辨率(320~608)的模型速度，PP-YOLOE是4个模型，测的是s/m/l/x四个模型的速度，不知道这个是否解答了你的疑惑。关于分开测速的问题，这个我们评估下

[2022-04-02 13:35] wenjinshi commented on #40234
【队名】：努力就会发光i

【序号】：8

【状态】：报名

【链接】：https://github.com/wenjinshi/Paddle

[2022-04-02 14:26] liudonghua123 commented on #39536
可以参考一下我前段时间做的python3.10下安装使用的总结🙃

https://github.com/PaddlePaddle/Paddle/issues/40212#issuecomment-1061713823

[2022-04-03 04:42] Yep1908 commented on #40326
【队名】：飞桨飞桨fff
【序号】：9
【状态】：报名
【链接】：https://github.com/Yep1908/Paddle

[2022-04-03 07:16] ImNoBadBoy commented on #40234
【队名】：xd_no-bad

【序号】：112

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/community/pull/96

[2022-04-03 08:02] Asthestarsfalll commented on #40234
【队名】：我完全没想法

【序号】：25

【状态】：提交PR

【链接】：https://github.com/PaddlePaddle/Paddle/pull/41343

[2022-04-03 11:42] LiuPeiqiCN opened #41379 "【windows 编译】 缺少第三方库 protobuf 导致编译失败"
### bug描述 Describe the Bug

我的cmake设置：
[code]

configure之后，上面这些设置项会被强制覆盖为以下选项：
[code]
被重置后的选项我就不一一列出了。实际上“D:/CMake/Paddle/cmake/third_party/install/protobuf”为空文件夹，Protobuf 并没有被安装。最后导致编译失败

### 其他补充信息 Additional Supplementary Information
Win11
VS 2022
CMAKE 3.21.2

_No response_

[2022-04-03 13:00] liyuhub commented on #40234
【队名】：liyuCV

【序号】：34

【状态】：报名

【链接】：https://github.com/liyuhub/Paddle

[2022-04-03 13:01] AnnaTrainingG commented on #41379
您好，请问您当前的Paddle版本是多少呢？建议删除Build重新执行cmake，windows的编译操作可参考https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/windows-compile.html  如依旧报错可以手动安装protobuf。 如果还是不行建议拉最新的paddle源码进行编译

[2022-04-03 13:07] Curry5491 commented on #40234
【队名】：青葱岁月夏小凡

【序号】：91

【状态】：报名

【链接】：https://github.com/tata1661/FSL-Mate/issues/19

[2022-04-03 13:11] liyuhub commented on #40234
【队名】：liyuCV

【序号】：87

【状态】：报名

【链接】：https://github.com/liyuhub/Paddle

[2022-04-03 13:40] leverfor commented on #40234
【队名】：路飞不会飞

【序号】：8

【状态】：提交

【链接】：https://github.com/leverfor/Paddle

[2022-04-03 13:59] liyuhub commented on #40234
【队名】：liyuhub

【序号】：92

【状态】：提交

【链接】：https://github.com/liyuhub/FSL-Mate

[2022-04-03 14:19] ImNoBadBoy commented on #40234
【队名】：xd_no-bad

【序号】：112

【状态】：rfc修改

【链接】：https://github.com/PaddlePaddle/community/pull/84

[2022-04-03 14:20] hubblechang commented on #40234
【队名】：鸭梨很大

【序号】：87

【状态】：报名

【链接】：https://github.com/Andrewdididi/Paddle

[2022-04-03 14:31] ImNoBadBoy commented on #40234
【队名】：xd_no-bad

【序号】：112

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/docs/pull/4463

[2022-04-03 14:34] wangjincheng123456 commented on #40234
【队名】：xd_no-bad

【序号】：113

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/docs/pull/4464

[2022-04-03 17:25] wzy123456wzy opened #41384 "飞浆现在是否支持cudnn_8呢，本地使用gpu，找不到cudnn_7动态库的问题"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/44393339/161440129-13abb245-446d-47b3-b6a4-db168d5c9fbf.png)
飞浆现在是否支持cudnn_8呢，本地使用gpu，找不到cudnn_7动态库，我可以肯定gpu环境是可用的，对于动态库的寻址路径没有问题，我同时也在用paddlex和PaddleDetection

[2022-04-04 03:04] renmada opened #41388 "paddle.assign 和 weigth.set_value 有区别吗？"
### 请提出你的问题 Please ask your question

在改变参数时，得到的结果一样，但是assign比set_value快很多

[2022-04-04 04:15] Lionelpang opened #41392 "core_noavx.so: ELF load command alignment not page-aligned"
今日准备在使用该框架在华为鲲鹏主机上运行。由于内网与外网不同，因此特意在华为云上购买鲲鹏云主机进行编译whl文件，并制作成为镜像编译。但是镜像在内网主机上启动时报出：core_noavx.so: ELF load command alignment not page-aligned错误。也采用关闭avx的方式构建，依然还是错误。事情着急，肯定各位大神给予指点。难道必须在内网的鲲鹏主机上进行编译么？两者的差距在哪里呢？

两者CPU信息如下：
![image](https://user-images.githubusercontent.com/1059281/161472575-9cfd8309-c62b-483d-a313-ffb444c97c38.png)

尝试两种编译命令进行编译，分别如下所示：
GPU编译：
cmake .. -DPY_VERSION=3 -DPYTHON_EXEC

[2022-04-04 04:43] AnnaTrainingG commented on #41384
你好，Paddle支持8.0。需要安装CUDA11的whl包。官网中选择选CUDA11的安装包，执行安装命令。参考文档https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

[2022-04-04 05:00] ronny1996 commented on #41384
飞桨支持cudnn8，请参考 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/windows-pip.html

![image](https://user-images.githubusercontent.com/25691046/161476858-50d2c721-d392-40bd-90f0-2ed350936b42.png)

[2022-04-04 05:58] ronny1996 commented on #41388
set_value用于设置参数值，底层同步执行copy操作
paddle.assign是一个op，无法用于设置参数值，用于构图，会形成反向op，底层执行异步copy操作

[2022-04-04 06:55] Macus1995 opened #41395 "paddle在预测时，如果返回值是LoDTensorArray类型该如何获取？官方提供的copy_to_cpu()似乎只支持将LoDTensor拷贝到cpu上"
在导出预测模型时，有一个返回值是list(Tensor)类型，因为是在依赖Tensor的控制流中生成所以被转换成了LoDTensorArray类型返回，这种情况下如何在外部获取这个返回值？提供的接口copy_to_cpu似乎只支持将LoDTensor拷贝到cpu上。
<img width="1310" alt="图片" src="https://user-images.githubusercontent.com/41893133/161489098-5fe4d22e-8b9f-4388-88ba-39d8e5f32909.png">

[2022-04-04 09:21] tiancaishaonvjituizi commented on #40234
【队名】：我的名字连起来就是王豆豆

【序号】：60

【状态】：PR提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/41356

[2022-04-04 10:59] ronny1996 commented on #41395
你好，请问是paddleinference吗？

[2022-04-04 12:15] yoreG123 opened #41399 "曙光本地编译Paddle环境要求有哪些？"
使用paddlepaddle/paddle:latest-dev-rocm4.0-miopen2.11镜像，本地编译Paddle一直通不过，想问以下本地编译的要求有哪些，必须要有gpu吗，对cpu有没有要求？
本地环境为云服务器（网络环境便于使用github），1核cpu，2g内存，无gpu

[2022-04-04 12:19] ronny1996 commented on #41399
你好，当前 Paddle 只支持 CentOS 7.8 & ROCm 4.0.1 编译环境，且根据 ROCm 4.0.1 的需求，支持的编译器为 devtoolset-7。可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_hardware_support/rocm_docs/paddle_install_cn.html#anzhuangfangshier-tongguoyuanmabianyianzhuang

[2022-04-04 12:51] yoreG123 commented on #41399
你好，由于曙光智算环境下网路受限，直接编译飞桨源码会遇到第三方依赖库下载失败从而导致编译失败的问题。因此在曙光智算环境下进行飞桨源码编译与单测需要首先在本地编译，但是本地不存在CentOS 7.8 & ROCm 4.0.1 编译环境的（不存在相关硬件）。

[2022-04-04 12:58] ronny1996 commented on #41392
你好，请问是在内网编译有什么困难吗？
可以看下pagesize的大小吗？

[2022-04-04 13:45] Fresh0range commented on #40234
【队名】：双人成行

【序号】：46

【状态】：报名

【链接】：https://github.com/Fresh0range/Paddle.git

[2022-04-04 23:49] Lionelpang commented on #41392
内网不通外网，导致无法下载到依赖包。两个pagesize确实不一样，这个需要指定一致么？
内网
<img width="283" alt="image" src="https://user-images.githubusercontent.com/1059281/161650299-614c1e03-f8c1-4844-9d72-b1562e6374ff.png">

华为云：
<img width="413" alt="image" src="https://user-images.githubusercontent.com/1059281/161650412-9cfb0587-5e0d-4785-b494-70af7720419d.png">

[2022-04-05 01:49] ronny1996 commented on #41399
你好，编译只需要cpu使用docker镜像即可，请问具体是什么错误

[2022-04-05 03:04] Yep1908 commented on #40234
【队名】：飞桨飞桨fff
【序号】：9
【状态】：报名
【链接】：https://github.com/Yep1908/Paddle

[2022-04-05 03:04] Yep1908 commented on #40234
【队名】：飞桨飞桨fff
【序号】：23
【状态】：报名
【链接】：https://github.com/Yep1908/Paddle

[2022-04-05 03:08] Yep1908 commented on #40234
【队名】：飞桨飞桨fff
【序号】：16
【状态】：报名
【链接】https://github.com/Yep1908/Paddle

[2022-04-05 03:13] riwkjh commented on #27842
For my case, I encountered with numpy version 1.2.1, and after downgraded to 1.20 the error disappeared.
My setting is:
paddlepaddle==2.2.2
paddleocr==2.4
scipy==1.7.3
numpy==1.20

[2022-04-05 06:04] ronny1996 commented on #41392
请问是在官方的镜像下编译的吗？

[2022-04-05 06:43] yoreG123 commented on #41399
![图片](https://user-images.githubusercontent.com/50627048/161694641-7b0becc6-cba5-4105-82b0-e80e4cd436f5.png)
您好，具体错误是这样的。

[2022-04-05 06:53] ronny1996 commented on #41399
是在paddlepaddle/paddle:latest-dev-rocm4.0-miopen2.11镜像下编译报这个错误吗？能说明一下使用的机器cpu型号，os，paddle版本（或commit号）

[2022-04-05 06:54] wj-Mcat commented on #37183
Closed by inactive.

[2022-04-05 06:54] #37183 closed, assigned to ronny1996

[2022-04-05 07:11] yoreG123 commented on #41399
就是这一个镜像，cpu：Intel(R) Xeon(R) CPU E5-2680 v2 @ 2.80GHz，os：Ubuntu 20.04，paddle拉取的是最新的develop分支，commit号显示为630f5b8917，cmake的命令是：cmake .. -DPY_VERSION=3.7 -DWITH_GPU=OFF -DWITH_TESTING=ON -DWITH_DISTRIBUTE=ON -DWITH_MKL=ON，cmake出现了提示：
![图片](https://user-images.githubusercontent.com/50627048/161698237-dda31952-6477-42d5-b9f5-f3e19dfd115e.png)
，cmake过程显示如下：
![图片](https://user-images.githubusercontent.com

[2022-04-05 08:06] AndPuQing opened #41414 "关于使用动态图求梯度的问题"
现在我需要对动转静的网络的输出求梯度，即如下代码

[code]

并因为loss计算需要用到`dx`，而使用`create_graph`。

执行出现如下报错
[code]

我该如何计算该处的梯度呢

[2022-04-05 09:13] Lionelpang commented on #41392
用的是官方提供的镜像进行构建的。构建采用的[飞桨框架昇腾NPU版安装说明](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/arm-compile.html)中的镜像，再采用官方提供的[飞腾/鲲鹏下从源码编译](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/arm-compile.html)进行编译。
构建镜像启动命令：
`docker run -it --name paddle-npu-dev -v /root:/workspace  \
            --pids-limit 409600 --network=host --shm-size=128G \
            -v /usr

[2022-04-05 09:35] qtz980805 commented on #41244
请问有找到问题吗？或者您提供一个排查的方向,我自己调试？

[2022-04-05 11:03] developWmark commented on #40734
我之前遇到过这个问题，不加tqdm也会内存增加，原因是vs_train_loader加了（）

[2022-04-05 11:51] ronny1996 commented on #41392
你好，能在CMakeLists中加上
[code]
再尝试下吗？

或者使用 patchelf --pagesize=65536 修改下core_noavx.so

[2022-04-05 12:21] #41150 closed, assigned to GuoxiaWang

[2022-04-05 12:27] renmada commented on #41388
如果是paddle.assign，加paddle.no_grad呢？
或者有其他set_value效果，但是更快的操作

[2022-04-06 01:33] geoexploring commented on #38193
@From00, @Ligoml,  谢谢两位的关注和持续改进！

也许该功能可以马上用到Paddle相关的下游任务模型库，比如PaddleClas、PaddleSeg等

[2022-04-06 01:33] #38193 closed, assigned to joey12300

[2022-04-06 01:44] henuliulei commented on #24289
同样的错误

[2022-04-06 02:24] Aurelius84 commented on #41180
@zlsh80826 Thanks,  I will file a PR to fix this, merged: https://github.com/PaddlePaddle/Paddle/pull/41200

[2022-04-06 02:44] LielinJiang commented on #40230
![image](https://user-images.githubusercontent.com/50691816/161885506-a0a294e4-7d3b-4bc9-a16f-b03b5b34424a.png)
您好，我使用您提供的方式在v100机器上无法复现。

[2022-04-06 02:48] Macus1995 commented on #41395
你好，这个问题已经解决，目前改成将TensorArray中的Tensor全部concat成一个Tensor返回就没有问题了。不过不清楚如果直接返回TensorArray类型该如何在外部接收？

[2022-04-06 02:58] ronny1996 commented on #41399
cmake命令可以使用官方文档中的尝试一下
[code]

[2022-04-06 03:01] ronny1996 commented on #41388
paddle.assgin是一个op，无法设置一个参数的值，会产生一个新的Tensor，另外它是异步的，拷贝会立刻返回但是不会立刻完成

[2022-04-06 03:41] CaoYongshengcys commented on #40234
【队名】：龙鸣
【序号】：77
【状态】：报名
【链接】https://github.com/CaoYongshengcys/PaddleNLP

[2022-04-06 03:42] zlsh80826 commented on #40230
@LielinJiang Did you use the exactly same image I provided?

[2022-04-06 03:43] ronny1996 commented on #41395
需要先转成Tensor，使用paddle.concat, paddle.stack, paddle.fluid.layers.tensor_array_to_tensor之类的api都可以完成

[2022-04-06 04:13] gongsunlong commented on #40234
【队名】：呜啦啦啦
【序号】：114
【状态】：报名
【链接】：#40234

[2022-04-06 04:24] gongsunlong commented on #40234
【队名】：呜啦啦啦
【序号】：114
【状态】：报名
【链接】：https://github.com/gongsunlong/PaddleSpatial

[2022-04-06 04:27] LiLEfulwillbe commented on #40280
队名：winner
选定任务为：52
状态：报名
链接：https://github.com/LiLEfulwillbe/Paddle

[2022-04-06 04:33] gongsunlong commented on #40234
【队名】：呜啦啦啦
【序号】：114
【状态】：报名
【链接】：https://github.com/gongsunlong/PaddleSpatial-1

[2022-04-06 04:50] Macus1995 commented on #41395
好的  谢谢~

[2022-04-06 04:50] #41395 closed, assigned to ronny1996

[2022-04-06 06:24] Aurelius84 commented on #41414
可以把`grad`接口放到`@to_static`下：
[code]

[2022-04-06 06:59] adaxiadaxi opened #41435 "鲲鹏920编译paddle报错"
### 问题描述 Issue Description

参考文档：https://www.paddlepaddle.org.cn/inference/v2.1/user_guides/compile_ARM.html
1. cmake 参数
cmake .. -DPY_VERSION=3 -DPYTHON_EXECUTABLE=`which python3` -DWITH_ARM=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_XBYAK=OFF -DWITH_GPU=OFF -DWITH_AVX=OFF -DPYTHON_INCLUDE_DIR=/root/.pyenv/versions/3.8.0/include/python3.8 -DPYTHON_LIBRARY=/root/.pyenv/v

[2022-04-06 07:05] ZzSean commented on #41435
你好，请问可以把详细的报错信息贴上来吗？谢谢！

[2022-04-06 07:06] gglin001 opened #41436 "If csutom op support optional attr"
### 请问对于定义的 custom-op 是否支持 optional 的 属性?

例如

[code]

上面的 `.Attrs({"alpha: float"})` 可以是 optional 的吗?

[2022-04-06 07:24] adaxiadaxi commented on #41435
Scanning dependencies of target extern_zlib
Scanning dependencies of target extern_gflags
[  0%] Creating directories for 'extern_zlib'
[  0%] Creating directories for 'extern_gflags'
[  0%] Performing download step (git clone) for 'extern_zlib'
[  0%] Performing download step (git clone) for 'extern_gflags'
Submodule path 'doc': checked out '8411df715cf522606e3b1aca386ddfc0b63d34b4'
[  0%] No pat

[2022-04-06 07:43] renmada commented on #41388
测试代码
[code]

结果
[code]

[2022-04-06 08:05] Lionelpang commented on #41392
还是不行，纠结了。

[2022-04-06 08:13] ronny1996 commented on #41392
使用 patchelf --pagesize=65536 修改下core_noavx.so也是不行吗？

[2022-04-06 08:35] LiuPeiqiCN commented on #41379
Paddle版本是[PaddlePaddle 2.2.2 Release](https://github.com/PaddlePaddle/Paddle/releases/tag/v2.2.2)
我目前是把自己外部安装的protobuf拷贝到“D:/CMake/Paddle/cmake/third_party/install/protobuf”下面进行编译成功。
不过这应该只是临时措施，我觉得paddle在protobuf安装这一块存在问题，不能像其他第三方库可以自动安装到对应路径下。

[2022-04-06 08:46] ronny1996 commented on #41388
你好，请问在CPU上也是paddle.assgin比set_value快很多吗？

[2022-04-06 08:46] ZzSean commented on #41435
请问在编译的时候有加make `TARGET=ARMV8` -j$(nproc) 选项吗

[2022-04-06 08:49] chenwhql commented on #41436
不支持，自定义算子所使用的Python API也是编译时生成的，生成的Python API现在不支持指定默认值，如果需要在调用时是optional的行为，需要自己实现Python API，并给对应参数设置默认值

生成的API见文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/new_custom_op_cn.html#zidingyisuanzibianyiyushiyong

<img width="873" alt="image" src="https://user-images.githubusercontent.com/22561442/161935429-ab39930e-b3f3-40c7-a35a-d0dcedf9f892.png">

[2022-04-06 08:51] chenwhql commented on #41436
现阶段，可以先按步骤实现完，然后按照文档找到生成的python API，自己拷贝出来进行增强

[2022-04-06 09:07] AnnaTrainingG commented on #41379
非常感谢您的反馈，目前Paddle的在进行源码编译时需要开发者下载protobuf的，后续我们会不断完善的，后续如果支持自动安装会更新到安装文档中的 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/windows-compile.html 感谢您的支持

[2022-04-06 09:18] LiuPeiqiCN commented on #41379
有点奇怪，按该文档，我发现我一直有安装好的python版本protobuf，不过也没有被正确识别。也许我这边的环境有点问题。非常感谢您的耐心回复。

[2022-04-06 09:18] #41379 closed, assigned to AnnaTrainingG

[2022-04-06 09:19] ZTurboX opened #41452 "底层源码学习"
### 请提出你的问题 Please ask your question

有么有关于paddle底层源码学习的课程

[2022-04-06 09:24] #41384 closed, assigned to ronny1996

[2022-04-06 09:24] fly2008begin opened #41454 "回归类的Metric实现"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

### 替代实现 Alternatives

为什么paddle.metric中没有最基本的关于回归问题的评估器，有可能在后期添加到官方版本里吗？

[2022-04-06 09:32] ZzSean commented on #41452
您好，建议您可以访问我们的官网，https://www.paddlepaddle.org.cn/  选择感兴趣的内容进行学习和了解，如项目实践，或者零基础实践教程https://www.paddlepaddle.org.cn/tutorials/projectdetail/3465990。
由套件/框架使用，到API使用，再到相关源码，一步步深入学习。
希望我的回答能对您的问题有所帮助！

[2022-04-06 09:36] henuliulei opened #41458 "CUBLAS_STATUS_NOT_INITIALIZED ！！急急急！！ need help"
### bug描述 Describe the Bug

[Hint: 'CUBLAS_STATUS_NOT_INITIALIZED'.  The cuBLAS library was not initialized. This is usually caused by the lack of a prior cublasCreate() call, an error in the CUDA Runtime API called by the cuBLAS routine, or an error in the hardware setup.  To correct: call cublasCreate() prior to the function call; and check that the hardware, an appropriate version of the driver

[2022-04-06 09:36] henuliulei commented on #41458
W0406 17:28:01.046226 15631 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 10.1, Runtime API Version: 10.1
W0406 17:28:01.052846 15631 device_context.cc:465] device: 0, cuDNN Version: 7.6.

[2022-04-06 09:37] gglin001 commented on #41436
ok, 感谢回复

[2022-04-06 09:37] #41436 closed, assigned to ZzSean

[2022-04-06 09:39] henuliulei commented on #41458
安装10.1版本的paddlepaddle_gpu验证paddle.fluid.install_check.run_check()
报了上面的错误，试了很多办法没解决。

[2022-04-06 09:44] vquanli commented on #40234
【队名】：权
【序号】：96
【状态】：报名
【链接】：https://github.com/vquanli/Paddle

[2022-04-06 09:45] vquanli commented on #40234
【队名】：权
【序号】：97
【状态】：报名
【链接】：https://github.com/vquanli/Paddle

[2022-04-06 10:51] renmada commented on #41388
cpu没测过

[2022-04-06 11:00] ZzSean commented on #41458
您好，根据报错信息来看，是cuBLAS库没有安装成功，建议您：
1. 检查下cuda是否安装正确，将cuda相关动态库添加到`LD_LIBRARY_PATH`中；
2. 匹配CUDA版本与paddle的CUDA版本，使用nvcc -V查看cuda版本
3. 如果还是不行，可以尝试使用paddle的docker

[2022-04-06 11:28] ZzSean commented on #41454
您好，针对回归问题的评估器实现，您可以查阅https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/07_customize_cn.html#metric，来实现自定义的评估器。
对于是否后续会添加官方版本，需要依赖后续发版计划，目前无法给您明确的答复。后续若有相关开发计划，会及时回复您。谢谢！

[2022-04-06 12:18] basaltzhang commented on #39687
我并不是只计算第一次运行速度，我计算的是多次运行后的速度。

FLAGS_cudnn_exhaustive_search这个是只对A10生效吗，会不会打开后P40和A10都会变快。

[2022-04-06 12:21] adaxiadaxi commented on #41435
嗯嗯，有输入make语句：  make TARGET=ARMV8 -j$(nproc)

[2022-04-06 13:34] shentanyue commented on #41435
![image](https://user-images.githubusercontent.com/34421038/161986526-c7394b56-c6bd-4abd-81b2-7e2bf6e3773f.png)
看上去可能是blas的问题，试试安装下blas依赖后重新编译
apt-get -y install gfortran libblas3 libblas-dev liblapack3 liblapack-dev libopenblas-dev

[2022-04-06 14:46] lctchan commented on #40234
【队名】：lctchan
【序号】：31
【状态】：报名
【链接】：[https://github.com/lctchan/Paddle](https://github.com/lctchan/Paddle)

[2022-04-06 14:57] lctchan commented on #40234
【队名】：lctchan
【序号】：36
【状态】：报名
【链接】：https://github.com/lctchan/Paddle

[2022-04-06 15:05] gddclct commented on #40234
【队名】：gddclz
【序号】：33
【状态】：报名
【链接】：https://github.com/gddclct/Paddle

[2022-04-06 15:06] lctchan commented on #40234
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-04-06 15:18] paddle-lwfx opened #41482 "【飞桨论文复现挑战赛（第六期）】榜单"
hi，大家好，非常高兴的告诉大家，百度飞桨论文复现赛第六期已经开始了，本次**论文复现赛**共将有100+篇的经典&前沿论文供大家复现，以及新增了**飞桨特色模型挑战赛**，详细信息可以参考[AI Studio](https://aistudio.baidu.com/aistudio/competition/detail/205/0/introduction)，大家是否已经迫不及待了呢~

为了帮助大家更好的了解每篇论文的复现进度，本次复现赛将在本帖中汇总信息。如果你报名/提交结果，需要按格式在进行回复，我们每天会汇总所有的信息，并更新在下表中，你可以通过下面的表格中，了解到每一篇论文的相关信息。

回复的格式为：

【队名】：你队伍的名称

【序号】：你队伍想要复现的论文序号

【论文】：你队伍想要复现的论文名称

【状态】：报名/提交

【repo链接】：repo的链接

如：

【队

[2022-04-06 15:27] henuliulei commented on #41458
最终换成cuda11.2对应的驱动,cudnn,cuda,paddlepaddle_gpu程序成功运行起来,10.1问题放弃解决。

[2022-04-07 01:26] captterhali commented on #40234
【队名】：哈布希
【序号】：31
【状态】：报名
【链接】：https://github.com/captterhali/Paddle

[2022-04-07 01:50] lblytz23 opened #41488 "可以在一个框架下同时训练两个NLP模型吗？"
### 请提出你的问题 Please ask your question

目前利用paddlepaddle搭建了一个内部训练平台。假设工程师A调用了训练接口开始训练一个NLP模型，这时工程师B在上一个模型训练任务没有完成之前也调用了同一个训练接口，结果两个训练都挂掉了。
这里想问的问题就是，这种操作是合理的吗？同时训练两个模型 (这里应该不属于分布式训练？)

[2022-04-07 01:57] JamesLim-sy commented on #41488
`同时训练`的意思在同一张Device设备(例GPU\CPU)上，利用PaddlePaddle同时训练2个NLP模型吗？

[2022-04-07 02:00] JamesLim-sy commented on #41488
如果是这种情况的下暂时是不行的，因为设备资源在单个任务训练过程中被尽可能占满了.

[2022-04-07 02:10] lblytz23 commented on #41488
是的，同一个设备。

[2022-04-07 02:12] lblytz23 commented on #41488
所以paddle没有安排资源的功能，比如给任务排队来做并行训练之类的？

[2022-04-07 02:46] 979170768 opened #41489 "Cenot 7.5 安装Paddle 出错误，执行import paddle报错如下"
### 问题描述 Issue Description

CentOs7.5
Python 3.9
![image](https://user-images.githubusercontent.com/35989496/162109753-629db1a7-2ee8-48b2-a710-e50f380eb41f.png)

### 版本&环境信息 Version & Environment Information

1，pip install paddlepaddle --upgrade -i https://mirror.baidu.com/pypi/simple 没有看到版本
2，Paddle With CUDA:无
3，OS:Cenos 7.5
4，Python 3.9

[2022-04-07 02:50] JamesLim-sy commented on #41489
尝试用下这个链接中的指令:https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html#old-version-anchor-6-2.1%20CPU%E7%89%88%E7%9A%84PaddlePaddle

[code]

[2022-04-07 02:59] yanfeng960521 commented on #41435
昨天按照issues的回复，我们重新安装依赖后进行编译了，但依然编译出错，随后我这边翻看了一下历史的issuse ，根据他们的排查思路我们在`build/CMakeFile/CMakeError.log`下找到了一些cmake的错误输出

[错误日志](https://raw.githubusercontent.com/yanfeng960521/pubfile/main/paddle-cmakeerror-1.log)

[2022-04-07 03:10] 979170768 commented on #41489
执行卸载后， 执行记录 还是还是不能import
![image](https://user-images.githubusercontent.com/35989496/162112512-657a4e6d-1cc6-4411-aa79-9d4be87f6251.png)

[2022-04-07 03:35] #41488 closed, assigned to JamesLim-sy

[2022-04-07 04:03] 979170768 commented on #41489
换了台服务器使用上面的命令安装完了也是提示这个错误，系统也是CentoS7.5
python 3.9
![image](https://user-images.githubusercontent.com/35989496/162117797-8fa3bb74-1477-4ad3-b4d3-921aae4129f7.png)

[2022-04-07 04:08] Algo-Goer commented on #40234
【队名】：Time

【序号】：33（89改成33）

【状态】：报名

【链接】：https://github.com/Algo-Goer/Paddle

[2022-04-07 04:15] qili93 commented on #41435
看报错应该是环境问题，可能环境里面缺少了pthread的库，建议用这个镜像启动一下，在容器环境内编译试试：

[code]

[2022-04-07 05:43] Agino-ltp opened #41498 "AI Studio后台训练python环境出现问题"
### 问题描述 Please describe your issue

在使用AI Studio后台训练时，在运行main.ipynb中的语句`!python -m pip install --upgrade pip`时出现 WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

去掉pip升级命令，换成`!python -m pip install -r requirements.txt`时也出现了问题

[2022-04-07 05:43] KHB1698 commented on #41482
【队名】：KHB1698

【序号】：8

【论文】：A ConvNet for the 2020s

【状态】：报名

【repo链接】：https://github.com/KHB1698/ConvNet_paddle

[2022-04-07 05:49] hhhAlan commented on #41482
【队名】：hhhAlan

【序号】：3

【论文】：Going deeper with Image Transformers

【状态】：报名

【repo链接】：https://github.com/hhhAlan/CaiT_paddle

[2022-04-07 05:53] qianbin1989228 commented on #41482
【队名】：冰海

【序号】：47

【论文】：GFP-GAN: Towards Real-World Blind Face Restoration with Generative Facial Prior

【状态】：报名

【repo链接】：https://github.com/qianbin1989228/Paddle_GFPGAN

[2022-04-07 06:05] huilin16 commented on #41482
【队名】：gis322

【序号】：8

【论文】：A ConvNet for the 2020s

【状态】：报名

【repo链接】：https://github.com/huilin16/ConvNeXt_paddle

[2022-04-07 06:28] Li-fAngyU commented on #41482
【队名】：lfy

【序号】：115

【论文】：Deep Session Interest Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/Li-fAngyU/DSIN_paddle

[2022-04-07 06:46] developWmark commented on #41482
【队名】：ocr工具人

【序号】：57

【论文】：Scene Text Telescope: Text-Focused Scene Image Super-Resolution

【状态】：报名

【repo链接】：https://github.com/developWmark/paddle_STT

[2022-04-07 06:55] a1056632260 commented on #41482
【队名】：塑造雕像的权利

【序号】：21

【论文】：[Instances as Queries](https://arxiv.org/abs/2105.01928)

【状态】：报名

【repo链接】：https://github.com/a1056632260/paddle-Instances_as_Queries

[2022-04-07 07:14] yanfeng960521 commented on #41435
使用如上镜像和步骤操作后，CMakeError.log 依然有错误输出
[CMake日志](https://raw.githubusercontent.com/yanfeng960521/pubfile/main/cmake-error-2.log)

[2022-04-07 07:42] developWmark commented on #41482
【队名】：ocr工具人

【序号】：58

【论文】：[On Recognizing Texts of Arbitrary Shapes with 2D Self-Attention](https://arxiv.org/pdf/1910.04396v1.pdf)

【状态】：报名

【repo链接】：https://github.com/developWmark/SATRN

[2022-04-07 07:48] Y1YU commented on #41482
【队名】：冲冲冲

【序号】：4

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/Y1YU/CvT_Paddle

[2022-04-07 07:52] ronny1996 commented on #41388
GPU上paddle.assign是底层是异步的，调用时立刻返回，并不是立马完成的，只有真正取值时，才会保证完成否则会阻塞到完成

[2022-04-07 08:02] miemie2013 commented on #41248
@chenwhql 大佬，有空看看嘛

[2022-04-07 08:03] syc23 commented on #41482
【队名】：gs_syc

【序号】：9

【论文】：Visual Attention Network

【状态】：报名

【repo链接】：https://github.com/syc23/VAN-Classification-paddle

[2022-04-07 08:08] zhouxiao14 commented on #40234
【队名】：智通科技
【序号】：42

【状态】：报名

【链接】：https://github.com/zhouxiao14/Paddle

[2022-04-07 08:16] zhjdream commented on #41482
【队名】：下期见

【序号】：51

【论文】：Real-Time Super-Resolution System of 4K-Video Based on Deep Learning

【状态】：报名

【repo链接】：https://github.com/zhjdream/paddle-egvsr

[2022-04-07 08:31] ZiMo-Chen commented on #41482
【队名】：三鲜面哈哈

【序号】：20

【论文】：Anchor DETR: Query Design for Transformer-Based Object Detection

【状态】：报名

【repo链接】：https://github.com/cxq1/paddle-AnchorDETR

[2022-04-07 08:33] muzixihust opened #41508 "训练程序异常终止，dataloader抛出异常。"
### 请提出你的问题 Please ask your question

http://paddlecloud.baidu-int.com/paddle/job/detail?jobId=job-0bb624d050611748
程序在本地单机服务器训练时正常，但提交至PaddleCloud进行训练时出错。DataLoader异常终止。报错如下：

ERROR:root:DataLoader reader thread raised an exception!
Exception in thread Thread-10:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/paddle/fluid/dataloader/dataloader_iter.py", line 482

[2022-04-07 08:48] #41458 closed, assigned to ZzSean

[2022-04-07 08:49] wubigo opened #41511 "FileNotFoundError: [WinError 2]"
### bug描述 Describe the Bug

[code]

[code]

在pycharm里面运行报错:

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-04-07 08:55] LinJayan commented on #41482
【队名】：gs_lj

【序号】：120

【论文】：Personalized News Recommendation with Knowledge-aware Interactive Matching

【状态】：报名

【repo链接】：https://github.com/LinJayan/KIM-Paddle

[2022-04-07 09:21] RangeKing commented on #41482
【队名】：RangeKing

【序号】：9

【论文】：Visual Attention Network

【状态】：报名

【repo链接】：https://github.com/RangeKing/VAN-Classification-Paddle

[2022-04-07 09:23] #41452 closed, assigned to ZzSean

[2022-04-07 09:26] jzhang533 opened #41514 "飞桨框架v2.3的发布计划(Paddle framework v2.3 release plan)"
我们已经于4月6日创建了[v2.3.0 release 分支](https://github.com/PaddlePaddle/Paddle/tree/release/2.3)，并基于该分支启动了集成测试、稳定性测试、性能测试。我们会逐步的从develop分支中通过cherry-pick PRs的方式让该分支稳定。该过程可能会持续1~2个月的时间，这期间我们会发布一到多个的v2.3.0 release candidate版本。待该分支稳定后，我们会发布v2.3.0正式版本。

We have created a release branch for [the v2.3.0 release](https://github.com/PaddlePaddle/Paddle/tree/release/2.3) on 4/6, and have started performing integrat

[2022-04-07 09:37] violetweir commented on #41482
【队名】：爬爬爬

【序号】：100

【论文】：[A ConvNet for the 2020s](https://arxiv.org/abs/2201.03545)

【状态】：报名

【repo链接】：https://github.com/violetweir/ConvNeXt_PaddleClas

[2022-04-07 10:40] AndPuQing commented on #41414
感谢您的回复，了解了

[2022-04-07 10:40] #41414 closed, assigned to Aurelius84

[2022-04-07 10:53] heavengate commented on #41508
看着是有进程退出了，可能是Cloud上资源不够，如num_workers是不是设置得过大，还有/dev/shm下空间不大导致共享内存不够之类的，可以调小num_workers或者把use_shared_memory设置成False试下

[2022-04-07 11:39] skingorz commented on #41482
【队名】：摸个鱼

【序号】：16

【论文】：How to Trust Unlabeled Data? Instance Credibility Inference for Few-Shot Learning

【状态】：报名

【repo链接】：https://github.com/skingorz/ICI-paddle

[2022-04-07 11:49] liuyafei2021 commented on #41482
【队名】：星梦之火队

【序号】：20

【论文】：[Anchor DETR: Query Design for Transformer-Based Object Detection](https://arxiv.org/abs/2109.07107)

【状态】：报名

【repo链接】：https://github.com/liuyafei2021/object-detection

[2022-04-07 12:00] jiweibo commented on #41435
请问下可以单线程编译看看报错吗？ make TARGET=ARMV8 -j1

[2022-04-07 12:01] Star-Learning commented on #41482
【队名】：开着奔驰种地

【序号】：33

【论文】：Deep Dual-resolution Networks for Real-time and Accurate Semantic Segmentation of Road Scenes

【状态】：报名

【repo链接】：https://github.com/Star-Learning/DDRnet_paddle

[2022-04-07 12:07] KHB1698 commented on #41482
【队名】：KHB1698

【序号】：23

【论文】：SimDR: Is 2D Heatmap Even Necessary for Human Pose Estimation?

【状态】：报名

【repo链接】：https://github.com/KHB1698/SimDR_paddle

[2022-04-07 12:11] 18XiWenjuan commented on #41482
【队名】：咕咕咕咕咕

【序号】：18

【论文】：[Trusted Multi-View Classification](https://arxiv.org/abs/2102.02051)

【状态】：报名

【repo链接】：https://github.com/18XiWenjuan/TMC

[2022-04-07 12:13] chenwhql commented on #41248
抱歉哈，最晚明天看一下！我们这两周、包括清明节都在加班赶2.3发布的工作，实在是腾不出手

[2022-04-07 12:21] hhhAlan commented on #41482
【队名】：hhhAlan

【序号】：8

【论文】：A ConvNet for the 2020s

【状态】：报名

【repo链接】：https://github.com/hhhAlan/convnext_paddle

[2022-04-07 12:31] chenjiyan2001 commented on #41482
【队名】：cHEn

【序号】：118

【论文】：Feature Generation by Convolutional Neural Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/chenjiyan2001/PaperReproduction/tree/main/fgcnn

[2022-04-07 12:36] simonsLiang commented on #41482
【队名】：高级伴读书童

【序号】：52

【论文】：Progressive Image Deraining Networks: A Better and Simpler Baseline

【状态】：报名

【repo链接】：https://github.com/simonsLiang/PReNet_paddle

[2022-04-07 12:43] hl123-123 commented on #41482
【队名】:  大呀大聪明

【序号】：52

【论文】：Progressive Image Deraining Networks: A Better and Simpler Baseline

【状态】：报名

【repo链接】：https://github.com/hl123-123/PReNet_paddle

[2022-04-07 12:45] yanfeng960521 commented on #41435
感谢各位的帮助，通过各位的指导，这边已经成功在鲲鹏920平台上编译出paddlepaddle框架，已经正常import 并运行`paddle.utils.run_check()`，现将编译时的过程粘贴如下，以供参考。
## 基础环境准备
* 服务器:华为云鲲鹏学生机 2c4g
* 处理器 kunpeng920/鲲鹏920
* 服务器操作系统:ubuntu18
* linux kernel 版本：4.15.0
* docker 版本  20.10.7
* docker 镜像: registry.baidubce.com/qili93/paddle-base:ubuntu18-aarch64

## 启动镜像开始编译
[code]

## 进入容器内正常拉取paddle 仓库
[code]

[2022-04-07 12:55] #41435 closed, assigned to ZzSean

[2022-04-07 14:06] keil555 commented on #41482
【队名】：来中路对狙

【序号】：13

【论文】：Multi-Task Learning as Multi-Objective Optimization

【状态】：报名

【repo链接】：https://github.com/keil555/Multi-Task-Learning-Paddle

[2022-04-07 14:22] Cppowboy opened #41530 "动态图转静态图报错We only support 'to_tensor()' in dynamic graph mode, please call 'paddle.disable_static()' to enter dynamic graph mode"
### bug描述 Describe the Bug

[code]
报错
[code]

### 其他补充信息 Additional Supplementary Information
paddlenlp                    2.2.5
paddlepaddle-gpu             2.2.2

[2022-04-07 14:40] zh-hike commented on #41482
【队名】：zhhike

【序号】：14

【论文】：Residual Attention: A Simple but Effective Method for Multi-Label Recognition

【状态】：报名

【repo链接】: https://github.com/zh-hike/CSRA_Paddle

[2022-04-07 14:45] unseenme commented on #41482
【队名】：UnseenMe

【序号】：10

【论文】：Pelee: A Real-Time Object Detection System on Mobile Devices

【状态】：报名

【repo链接】：https://github.com/unseenme/pelee-paddle

[2022-04-07 15:02] unseenme commented on #41482
【队名】：UnseenMe

【序号】：82

【论文】：AMC: AutoML for Model Compression and Acceleration on Mobile Devices

【状态】：报名

【repo链接】：https://github.com/unseenme/amc-paddle

[2022-04-07 15:52] yoreG123 commented on #41399
你好，还是mathfunction的编译有问题，我先不用这个环境了。

[2022-04-07 16:24] Victory8858 commented on #41482
【队名】：Victory8858

【序号】：12

【论文】：See Better Before Looking Closer: Weakly Supervised Data Augmentation Network for Fine-Grained Visual Classification

【状态】：报名

【repo链接】：https://github.com/Victory8858/WS-DAN-Paddle

[2022-04-07 17:43] txhan commented on #41482
【队名】：The Gang

【序号】：83

【论文】：Uniter: Learning universal image-text representations

【状态】：报名

【repo链接】：https://github.com/txhan/Uniterpaddle

[2022-04-07 23:41] WenhanDong commented on #41482
【队名】：复现都队

【序号】：9

【论文】：Visual Attention Network

【状态】：报名

【repo链接】：https://github.com/PWenhan/Visual-Attention-Network

[2022-04-08 01:02] stunback commented on #41482
【队名】：半复现半科研队

【序号】：65

【论文】：PointRCNN: 3D Object Proposal Generation and Detection from Point Cloud

【状态】：报名

【repo链接】：https://github.com/stunback/paddle_pointrcnn.git

[2022-04-08 01:04] stunback commented on #41482
【队名】：半复现半科研队

【序号】：69

【论文】：Voxel R-CNN: Towards High Performance Voxel-based 3D Object Detection

【状态】：报名

【repo链接】：https://github.com/stunback/paddle_voxelrcnn.git

[2022-04-08 01:48] hello-billy commented on #41482
【队名】：复现升级队

【序号】：13

【论文】：Multi-Task Learning as Multi-Objective Optimization

【状态】：报名

【repo链接】：https://github.com/hello-billy/MTL-as-Multi-Objective-Optimization-on-Paddle

[2022-04-08 02:04] wy1996-hub commented on #39350
Paddle您好：
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 不好意思，拖到现在才回复。我是一名研三学生，之前一直忙着毕业论文的事情。
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 我的点云配准需求是面对工业零件检测的，标准件与缺陷件的配准，寻找缺陷位置。
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 配准我目前都是基于PCL的传统方法(ICP\NDT)，正是因为对深度学习的配准不是很懂，所以才在Paddle的仓库提issue的。
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 关于点云的深度学习，我目前了解的是PointNet、PointNet++、VoxelNet等点云分类网络。参考的公开项目(基于飞桨的点云处理项目集合:https://aistudio.baidu.com/aistudi

[2022-04-08 02:11] GT-ZhangAcer commented on #41514
非常期待

[2022-04-08 02:23] gaka2012 commented on #41482
【队名】：gaka2012

【序号】：40

【论文】：Deep Automatic Natural Image Matting

【状态】：报名

【repo链接】：https://github.com/gaka2012/paddle_contest1

[2022-04-08 02:47] qtz980805 commented on #41244
解决了，是AI studio中cudnn版本较低的问题，实验发现使用cudnn8.0.4及以上的版本速度就快了

[2022-04-08 02:47] #41244 closed, assigned to jim19930609

[2022-04-08 02:48] xiaoxiaohehe001 commented on #39687
@[basaltzhang](https://github.com/basaltzhang) FLAGS_cudnn_exhaustive_search 这个都生效的，您可以测试一下，速度上A10要快于P40的，目前的耗时主要问题在cpu上较多，我们最近也在处理这方面的问题。

[2022-04-08 03:01] Ligoml commented on #41454
你好，为了准确评估你提交的需求，请提供更详细的信息，如 你会在何种场景下用到此能力？是否有其他替代方案？你对该需求的期望是什么？是否有对标竞品实现了该能力？

[2022-04-08 03:09] aptx1231 commented on #40234
【队名】：aptx1231
【序号】：87
【状态】：报名
【链接】：https://github.com/aptx1231/PaddleSpatial

[2022-04-08 03:24] XhqGlorry11 commented on #41482
【队名】：节奏魔王

【序号】：17

【论文】：All Tokens Matter: Token Labeling for Training Better Vision Transformers

【状态】：报名

【repo链接】：https://github.com/XhqGlorry11/AllTokensMatter_paddle

[2022-04-08 03:37] XhqGlorry11 commented on #41482
【队名】：节奏魔王

【序号】：80

【论文】：Token Shift Transformer for Video Classification

【状态】：报名

【repo链接】：https://github.com/XhqGlorry11/TokenShiftTransformer_paddle

[2022-04-08 04:03] zugexiaodui commented on #41482
【队名】：瓜瓜瓜

【序号】：5

【论文】：HashNet: Deep Learning to Hash by Continuation

【状态】：报名

【repo链接】：https://gitee.com/zugexiaodui/HashNet_PDPD_repro.git

[2022-04-08 05:10] flytocc commented on #41482
【队名】：拼手速

【序号】：9

【论文】：Visual Attention Network

【状态】：报名

【repo链接】：https://github.com/flytocc/PaddleClas/tree/VAN-Classification

[2022-04-08 05:25] jiaohuix commented on #41482
【队名】：角灰大帝

【序号】：18

【论文】：Trusted Multi-View Classification

【状态】：报名

【repo链接】：https://github.com/MiuGod0126/TMC_Paddle

[2022-04-08 05:30] cherry-small commented on #41482
【队名】：超想飞

【序号】：18

【论文】：Trusted Multi-View Classification

【状态】：报名

【repo链接】：https://github.com/cherry-small/TMC-paddle

[2022-04-08 05:41] Indigo6 commented on #41482
【队名】：大数表征

【序号】：23

【论文】：SimDR: Is 2D Heatmap Even Necessary for Human Pose Estimation?

【状态】：报名

【repo链接】：https://github.com/Indigo6/Paddle_SimDR

[2022-04-08 05:56] isLinXu commented on #41482
【队名】：自然选择

【序号】：140

【论文】：A Closer Look at Few-shot Classification

【状态】：报名

【repo链接】：https://github.com/isLinXu/CloserLookFewShot_Paddle

[2022-04-08 06:01] isLinXu commented on #41482
【队名】：自然选择

【序号】：30

【论文】：F2DNet: Fast Focal Detection Network for Pedestrian Detection

【状态】：报名

【repo链接】：https://github.com/isLinXu/F2DNet_Paddle

[2022-04-08 06:39] jiaohuix commented on #41482
【队名】：角灰大帝

【序号】：18

【论文】：Trusted Multi-View Classification

【状态】：提交

【repo链接】：https://github.com/MiuGod0126/TMC_Paddle

[2022-04-08 06:44] marshall-dteach commented on #41482
【队名】：Cavaliers

【序号】：34

【论文】：Polarized Self-Attention: Towards High-quality Pixel-wise Regression

【状态】：报名

【repo链接】：https://github.com/marshall-dteach/-PSA

[2022-04-08 06:57] zjzjwang commented on #41482
【队名】：haha

【序号】：85

【论文】：Emerging Properties in Self-Supervised Vision Transformers

【状态】：报名

【repo链接】：https://github.com/wang-zh-j/DINO_paddle

[2022-04-08 07:17] zwtu commented on #41482
【队名】：Team X

【序号】：80

【论文】：Token Shift Transformer for Video Classification

【状态】：报名

【repo链接】：https://github.com/zwtu/TokShift-Transformer-Paddle

[2022-04-08 07:21] Wei-JL opened #41551 "复现信息： yolox-yolo_head.py 中dynamic_k_matching()处报错 fg_mask[fg_mask.clone()] = fg_mask_inboxes 报错提示：TypeError: Only support float and double tensor for bool index, but received paddle.bool. 建议描述：添加对bool张量的索引切片、赋值等操作"
### 请提出你的问题 Please ask your question

在复现yolox的时候dynamic_k_matching这个函数
代码: fg_mask[fg_mask.clone()] = fg_mask_inboxes报错

TypeError: Only support float and double tensor for bool index, but received paddle.bool.

之前看见这个这个issue的网址在如下:
https://github.com/PaddlePaddle/Paddle/pull/37761/commits/d20a99f4a21eedaee993c0d25143caca02191c28

注释后还是不行，报错

[2022-04-08 07:29] basaltzhang commented on #39687
好的，我试一下这个flag

[2022-04-08 07:29] chicleee commented on #41482
【队名】：来颗华子

【序号】：68

【论文】：PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds

【状态】：报名

【repo链接】：[https://github.com/chicleee/paddle_PAConv](https://github.com/chicleee/paddle_PAConv)

[2022-04-08 07:53] XiaoPioPio commented on #41482
【队名】：Xiao

【序号】：74

【论文】：Revisiting Skeleton-based Action Recognition](https://arxiv.org/pdf/2104.13586v1.pdf)

【状态】：报名

【回购链接】：https://github.com/XiaoPioPio/poseC3D_paddle

[2022-04-08 08:11] chenwhql commented on #41248
<img width="1367" alt="image" src="https://user-images.githubusercontent.com/22561442/162393605-6217637d-f332-4fb8-af8b-4b600826fdde.png">

您好，按照您给的操作步骤，好像缺失文件，求告知前序操作步骤

[2022-04-08 08:17] thisjiang commented on #41551
您好！在Paddle最新的develop版本中已添加对int类型的支持，对bool类型的支持也已经在内部排期中。短期内您可以选择安装develop版本包并在赋值前后添加`int <-> bool`转换来绕过此问题，谢谢。

[2022-04-08 08:21] JamesLim-sy commented on #41530
从报的报错信息来看，好像是在静态图下用了动转静功能

[2022-04-08 08:25] zlsh80826 commented on #41182
@zhiqiu @xingjing1 Is there any update?

[2022-04-08 08:26] Wei-JL commented on #41551
可以看一下develop 里面的代码是怎么修改的吗   我换int还是报错

[2022-04-08 08:27] zlsh80826 commented on #41180
Thank @Aurelius84, I will have a try. If it works well, I will close this issue.

[2022-04-08 08:31] rockrainy commented on #40234
【队名】：openclick
【序号】：49
【状态】：报名
【链接】：https://github.com/rockrainy/Paddle

[2022-04-08 08:34] wleilei opened #41557 "'"
vv

[2022-04-08 08:47] #41557 closed, assigned to thisjiang

[2022-04-08 08:49] wleilei commented on #41482
【队名】：Cat的第8冠

【序号】：113

【论文】：[PEGASUS: Pre-training with Extracted Gap-sentences for Abstractive Summarization](https://paperswithcode.com/paper/pegasus-pre-training-with-extracted-gap)

【状态】：报名

【repo链接】：https://github.com/wleilei/PEGASUS

[2022-04-08 08:50] thisjiang commented on #41551
非常抱歉！我询问了相关负责人，并查找了相关源码，未能确定相关代码修改点。这边仍是建议您安装最新的develop版本代码，或等待最近的[稳定版v2.3发布](https://github.com/PaddlePaddle/Paddle/issues/41514)。

[2022-04-08 08:59] XiaoPioPio commented on #41482
请问 我是否需要回复我的报名格式?

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月8日(星期五) 下午4:49
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 【飞桨论文复现挑战赛（第六期）】榜单 (Issue #41482)

【队名】：Cat的第8冠

【序号】：113

【论文】：PEGASUS: Pre-training with Extracted Gap-sentences for Abstractive Summarization

【状态】：报名

【repo链接】：https://github.com/wleil

[2022-04-08 09:01] bitcjm commented on #41482
【队名】：稳中求进BIT

【序号】：105

【论文】：FFA-Net: Feature Fusion Attention Network for Single Image Dehazing

【状态】：报名

【repo链接】：https://github.com/bitcjm/FFA-NET-PaddleVideo

[2022-04-08 09:04] whitedogedev commented on #41482
【队名】：不卷的打工人

【序号】：109

【论文】：TaPas: Weakly Supervised Table Parsing via Pre-training

【状态】：报名

【repo链接】：https://github.com/sherwinNG/paper_papas

[2022-04-08 09:11] XiaoPioPio commented on #41482
【队名】：Xiao

【序号】：74

【论文】：Revisiting Skeleton-based Action Recognition](https://arxiv.org/pdf/2104.13586v1.pdf)

【状态】：报名

【repo链接】：https://github.com/XiaoPioPio/poseC3D_paddle

[2022-04-08 09:15] Macus1995 opened #41558 "自定义的原生算子在调用的时候报错"incompatible function arguments. The following argument types are supported:"该如何解决？"
算子在定义的时候在OpMaker中部分输入参数希望接收多个Tensor因此在对应的AddInput后添加了AsDuplicable()，但是在python端调用这个op的时候会报以下错误
<img width="1392" alt="图片" src="https://user-images.githubusercontent.com/41893133/162405034-73e2c5b1-626a-417c-9b42-8266b6797b93.png">
不清楚其中的handle类型是指什么。。

[2022-04-08 09:22] Folkdance1526 commented on #41482
【队名】：嗨破米

【序号】：20

【论文】：Anchor DETR: Query Design for Transformer-Based Object Detection

【状态】：报名

【repo链接】：https://github.com/Folkdance1526/paddle_papper

[2022-04-08 09:26] justld commented on #41482
【队名】：dudu

【序号】：33

【论文】：Deep Dual-resolution Networks for Real-time and Accurate Semantic Segmentation of Road Scenes

【状态】：报名&提交

【repo链接】：https://github.com/justld/DDRNet_paddle

[2022-04-08 09:44] smilelite commented on #41482
【队名】：XRXY

【序号】：56

【论文】：[RobustScanner: Dynamically Enhancing Positional Clues for Robust Text Recognition

【状态】：报名

【repo链接】：https://github.com/smilelite/RobustScanner.paddle

[2022-04-08 10:00] zzpicdeal commented on #41482
【队名】：ABCD

【序号】：39

【论文】：A Late Fusion CNN for Digital Matting

【状态】：报名

【repo链接】：https://github.com/zzpicdeal/paddle-AIM

[2022-04-08 10:04] zzpicdeal commented on #41482
【队名】：ABCD

【序号】：40

【论文】：A Late Fusion CNN for Digital Matting

【状态】：报名

【repo链接】：https://github.com/zzpicdeal/paddle-AIM

[2022-04-08 10:32] hanjr92 commented on #41247
hello？这个第二个问题，不知道有没有给paddle的伙伴们反馈啊。@[jim19930609](https://github.com/jim19930609)

[2022-04-08 10:33] violetweir commented on #41482
【队名】：爬爬爬

【序号】：100

【论文】：[A ConvNet for the 2020s](https://arxiv.org/abs/2201.03545)

【状态】：提交

【repo链接】：https://github.com/violetweir/ConvNeXt_PaddleClas

[2022-04-08 11:26] xiaoyangyang2 commented on #40234
【队名】：忘了队名
【序号】：74
【状态】：报名&&提交PR
【链接】：报名 https://github.com/PaddlePaddle/PaddleScience && PR 链接https://github.com/PaddlePaddle/PaddleScience/pull/48

[2022-04-08 11:48] Wei-JL commented on #41551
我找到了paddle的develop  这一块的代码就删除了第一块代码 ，就是判断是不是float类型

https://github.com/PaddlePaddle/Paddle/blob/eb6d7da947a9ec9151503d069d6329750e5a764c/python/paddle/fluid/variable_index.py#L709

![image](https://user-images.githubusercontent.com/71386288/162429691-2ac9befd-14cc-44d3-a043-0c516b2b1066.png)

但是我改成develop还是报错啊~~~ 可以帮忙解决一下吗

[2022-04-08 12:36] thisjiang commented on #41551
改成develop后是报什么错呢？我本地跑是支持int类型的，bool类型的确是会报错

[2022-04-08 12:39] Wei-JL commented on #41551
File "D:\Anaconda3\envs\paddle2-2-2g\lib\site-packages\paddle\fluid\variable_index.py", line 604, in _setitem_impl_
    return slice_info.set_item(var, value)
  File "D:\Anaconda3\envs\paddle2-2-2g\lib\site-packages\paddle\fluid\variable_index.py", line 169, in set_item
    value.shape, gather_tensor_shape))
ValueError: [222] can not broadcast into [8400]

fg_mask[fg_mask.clone()] 这个还是8400

[2022-04-08 12:42] thisjiang commented on #41551
对于`fg_mask[fg_mask.clone()] = fg_mask_inboxes`而言，`fg_mask_inboxes`的shape应该是`fg_mask`中的true的数目

[2022-04-08 12:43] jhrsya commented on #41482
【队名】：第一次上分

【序号】：117

【论文】：Detecting Beneficial Feature Interactions for Recommender Systems

【状态】：报名

【repo链接】：[https://github.com/jhrsya/Dbfi_recsys](https://github.com/jhrsya/Dbfi_recsys)

[2022-04-08 12:44] Wei-JL commented on #41551
对的 fg_mask_inboxes就是  [222]  按道理来说fg_mask[fg_mask.clone()]也应该是222 但是他还是原来的8400

[2022-04-08 12:46] thisjiang commented on #41551
不应该啊，试试`print(paddle.masked_select(fg_mask, fg_mask).shape)`看看是否的确是222？

[2022-04-08 12:49] Wei-JL commented on #41551
您好~  似乎报错了  我跟您一起看吧
  File "D:\PyCharm\YOLO\paddle_fuxian\yolox_paddle\nets\yolo_training.py", line 509, in dynamic_k_matching
    print(paddle.masked_select(fg_mask, fg_mask).shape)
  File "D:\Anaconda3\envs\paddle2-2-2g\lib\site-packages\paddle\tensor\search.py", line 665, in masked_select
    return _C_ops.masked_select(x, mask)
ValueError: (InvalidArgument) Tensor holds the wrong type, it hold

[2022-04-08 12:51] Wei-JL commented on #41551
print(paddle.masked_select(fg_mask, fg_mask).shape)
  File "D:\Anaconda3\envs\paddle2-2-2g\lib\site-packages\paddle\tensor\search.py", line 665, in masked_select
    return _C_ops.masked_select(x, mask)
RuntimeError: (NotFound) Operator masked_select does not have kernel for data_type[bool]:data_layout[ANY_LAYOUT]:place[CUDAPlace(0)]:library_type[PLAIN].
  [Hint: Expected kernel_iter != kernels.en

[2022-04-08 13:05] thisjiang commented on #41551
`mask_select`要求第一个参数是int或者float类型，第二个参数是bool类型：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/masked_select_cn.html#masked-select

[2022-04-08 13:14] Wei-JL commented on #41551
对的，print正常输出222，接下来呢。

[2022-04-08 13:16] kjf4096 commented on #41482
【队名】：jsdbzcm

【序号】：18

【论文】：Trusted Multi-View Classification

【状态】：报名

【repo链接】：https://github.com/kjf4096/TMC

[2022-04-08 13:51] zhiqiu commented on #41182
Sorry for the late reply, I am now working on that.  I tested it in my development environment and did not find `Segmentation fault` problem, but found a rare `timeout` problem, which is fixed in #41567.

The `standalone executor` has changed a lot these days, so could you plz try again?

[2022-04-08 13:52] He-jerry commented on #41482
【队名】：idolmaster

【序号】：94

【论文】：SwinIR: Image Restoration Using Swin Transformer

【状态】：报名

【repo链接】：https://github.com/He-jerry/Paddle6_SwinIR

[2022-04-08 13:57] skingorz commented on #41482
【队名】：摸个鱼

【序号】：141

【论文】：Matching Networks for One Shot Learning

【状态】：报名

【repo链接】：https://github.com/skingorz/matchingNet-paddle

[2022-04-08 14:00] spc819 commented on #41482
【队名】：pz_nn

【序号】：36

【论文】：nnU-Net: Self-adapting Framework for U-Net-Based Medical Image Segmentation

【状态】：报名

【repo链接】：[](https://github.com/spc819/nnU-Net-Paddle)

[2022-04-08 14:00] PengchengShi1220 commented on #41482
【队名】：pz_nn

【序号】：36

【论文】：nnU-Net: Self-adapting Framework for U-Net-Based Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/spc819/nnU-Net-Paddle

[2022-04-08 14:37] thisjiang commented on #41551
那不应该啊...确定`fg_mask_inboxes`的shape大小为[222]？我在本地测试是没问题的。。。
[code]
结果是：
[code]

[2022-04-08 15:43] skywalk163 commented on #41530
我的解决方法是传入ndarray，而不要传入tensor

[2022-04-08 15:56] skywalk163 commented on #37733
哦哦，多级索引的问题。实际上最简单的多级索引，比如selfscores[0][0] ,也是无法直接赋值的，因为也是两个语句的执行。
截止到2.2版本还是这样，不知道2.3版本有没有考虑。
[code]

[2022-04-08 16:18] zyfncg commented on #37733
由于2.3版本底层算子体系更新较大，稳妥起见切片索引模块在这一版中基本没有做太多的改动，预计在2.3之后的版本中将会对切片索引模块进行一次重要的重构和升级，如果有相关需求的也欢迎跟我们反馈~

[2022-04-08 17:02] 18XiWenjuan commented on #41482
【队名】：咕咕咕

【序号】：106

【论文】：[Efficient Low-rank Multimodal Fusion with Modality-Specific Factors](https://arxiv.org/abs/1806.00064)

【状态】：报名

【repo链接】：https://github.com/18XiWenjuan/LMF_Paddle

[2022-04-09 00:39] wy17646051 commented on #41482
【队名】：Kaggle100金牌

【序号】：67

【论文】：Is Pseudo-Lidar needed for Monocular 3D Object detection?

【状态】：报名

【repo链接】：https://github.com/wy17646051/DD3D_Paddle

[2022-04-09 00:42] wy17646051 commented on #41482
【队名】：Kaggle100金牌

【序号】：69

【论文】：Voxel R-CNN: Towards High Performance Voxel-based 3D Object Detection

【状态】：报名

【repo链接】：https://github.com/wy17646051/Voxel-R-CNN_Paddle

[2022-04-09 01:03] rickyyyxu commented on #41482
【队名】：DeepBlue

【序号】：106

【论文】：[Efficient Low-rank Multimodal Fusion with Modality-Specific Factors](https://arxiv.org/abs/1806.00064)

【状态】：报名

【repo链接】：https://github.com/coasxu/-Low-rank-Multimodal-Fusion-Paddle

[2022-04-09 01:03] zizizihua commented on #41482
【队名】：子华

【序号】：7

【论文】：An Energy and GPU-Computation Efficient Backbone Network for Real-Time Object Detection

【状态】：报名

【repo链接】：https://github.com/zizizihua/VovNet.Paddle

[2022-04-09 01:05] zizizihua commented on #41482
【队名】：子华

【序号】：14

【论文】：Residual Attention: A Simple but Effective Method for Multi-Label Recognition

【状态】：报名

【repo链接】：https://github.com/zizizihua/CSRA.paddle

[2022-04-09 01:55] zzpicdeal commented on #41482
【队名】：ABCD

【序号】：40

【论文】：Deep Automatic Natural Image Matting

【状态】：报名

【repo链接】：https://github.com/zzpicdeal/paddle-AIM

[2022-04-09 01:59] AI-Mart commented on #41482
【队名】：道不远人55

【序号】：3

【论文】：Going deeper with Image Transformers

【状态】：报名

【repo链接】：https://github.com/AI-Mart/Going-deeper-with-Image-Transformers

[2022-04-09 02:01] AI-Mart commented on #41482
【队名】：道不远人55

【序号】：108

【论文】：Longformer: The Long-Document Transformer

【状态】：报名

【repo链接】：https://github.com/AI-Mart/The-Long-Document-Transformer

[2022-04-09 02:28] EZ-hwh commented on #41482
【队名】：kw-executed

【序号】：113

【论文】：PEGASUS: Pre-training with Extracted Gap-sentences for Abstractive Summarization

【状态】：报名

【repo链接】：https://github.com/EZ-hwh/PEGASUS

[2022-04-09 03:31] jimme0421 commented on #41482
【队名】：DataArk

【序号】：108

【论文】：Longformer: The Long-Document Transformer

【状态】：报名

【repo链接】：https://github.com/DataArk/longformer_paddle

[2022-04-09 03:52] liqq2113 commented on #41482
【队名】：BCMWhales

【序号】：111

【论文】：CANINE:Pre-training an Efficient Tokenization-Free Encoder for Language Representation

【状态】：报名

【repo链接】：https://github.com/liqq2113/CANINE

[2022-04-09 05:23] wj-Mcat commented on #41482
【队名】：小猫
【序号】108
【论文】Longformer: The Long-Document Transformer
【状态】：报名
【repo 链接】： https://github.com/wj-Mcat/paddle-models-longformer

[2022-04-09 05:26] wj-Mcat commented on #41482
【队名】：小猫
【序号】114
【论文】Matching Networks for One Shot Learning
【状态】：报名
【repo 链接】： https://github.com/wj-Mcat/paddle-models-matching-network

[2022-04-09 06:51] yoreG123 commented on #40234
【队名】：Tukta

【序号】：80

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleNLP/pull/1922

[2022-04-09 07:04] Wei-JL commented on #41551
十分感谢 ，问题已经解决，上午忙别的去了  没来得及回复消息

[code]
等价于
`fg_mask[fg_mask.clone()] = fg_mask_inboxes`

[2022-04-09 07:05] Wei-JL commented on #41551
十分感谢 ，问题已经解决，上午忙别的去了 没来得及回复消息

[code]
等价于
`fg_mask[fg_mask.clone()] = fg_mask_inboxes`

[2022-04-09 08:20] Wei-JL commented on #41551
等价于2行就行
[code]

[2022-04-09 08:22] txyugood commented on #41482
【队名】：txyugood

【序号】：91

【论文】：Neighbor2Neighbor: Self-Supervised Denoising from Single Noisy Images

【状态】：报名/提交

【repo链接】：https://github.com/txyugood/Neighbor2Neighbor_Paddle

[2022-04-09 08:51] lbblz commented on #41482
【队名】：冲冲冲

【序号】：104

【论文】：FCFR-Net: Feature Fusion based Coarse-to-Fine Residual Learning forDepth Completion

【状态】：报名

【repo链接】：https://github.com/lbblz/FCFR-Net_paddle

[2022-04-09 09:06] wangqiang9 commented on #41482
【队名】：沉迷单车的追风少年
【序号】：18
【论文】：Trusted Multi-View Classification
【状态】：报名
【repo链接】：https://github.com/XDUWQ/TMC_paddle

[2022-04-09 09:11] lgcy commented on #41482
【队名】：ocr工具人

【序号】：55

【论文】：[From Two to One: A New Scene Text Recognizer with Visual Language Modeling Network](https://openaccess.thecvf.com/content/ICCV2021/papers/Wang_From_Two_to_One_A_New_Scene_Text_Recognizer_With_ICCV_2021_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/lgcy/VisionLAN-paddle

[2022-04-09 09:12] lgcy commented on #41482
【队名】：小鸭子

【序号】：55

【论文】：[From Two to One: A New Scene Text Recognizer with Visual Language Modeling Network](https://openaccess.thecvf.com/content/ICCV2021/papers/Wang_From_Two_to_One_A_New_Scene_Text_Recognizer_With_ICCV_2021_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/lgcy/VisionLAN-paddle

[2022-04-09 09:20] yhcc opened #41582 "nccl-test通过，但是运行run_check()，一直W0409 17:13:26.017045 44118 parallel_executor.cc:617] Cannot enable P2P access from 0 to 1"
### 问题描述 Issue Description

安装了nccl但是无法使用多卡

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version: 2.2.2
Paddle With CUDA: True

OS: Ubuntu 20.04
Python version: 3.7.13

CUDA version: 11.2
cuDNN version: 8.1.0.77
Nvidia driver version: 460.56
****************************************

[2022-04-09 10:24] bitcjm commented on #41482
【队名】：稳中求进BIT

【序号】：105

【论文】：FFA-Net: Feature Fusion Attention Network for Single Image Dehazing

【状态】：提交

【repo链接】：https://github.com/bitcjm/FFA-NET-PaddleVideo/tree/new_branch

[2022-04-09 12:51] Cppowboy commented on #41530
你好，能具体说一下吗？

[2022-04-09 13:03] ayf-9797 commented on #41482
【队名】：三不管战队

【序号】：38

【论文】：UNETR: Transformers for 3D Medical Image

【状态】：报名

【repo链接】：https://github.com/ayf-9797/Paddle_Seg

[2022-04-09 13:07] GuoQuanhao commented on #41482
【队名】：HaoHao

【序号】：52

【论文】：Progressive Image Deraining Networks: A Better and Simpler Baseline

【状态】：报名&提交

【repo链接】：https://github.com/GuoQuanhao/PRNet-Paddle

[2022-04-09 13:10] w3i1ong commented on #41482
【队名】：菜就一个字

【序号】：5

【论文】：HashNet: Deep Learning to Hash by Continuation

【状态】：报名

【repo链接】：https://github.com/liwl23/HashNet

[2022-04-09 14:28] yysirs commented on #40009
请问怎么检查？

[2022-04-09 15:37] jiangyichen19 opened #41587 "小蛇吃青蛙哇"
### 问题描述 Please describe your issue

【队名】：小蛇吃青蛙哇

【序号】：20

【论文】：[Anchor DETR: Query Design for Transformer-Based Object Detection](https://arxiv.org/abs/2109.07107)

【状态】：报名

【repo链接】：https://github.com/jiangyichen19/Anchor-DETR-Query-Design-for-Transformer-Based-Object-Detection

[2022-04-09 15:42] chicleee commented on #41482
【队名】：来颗华子

【序号】：93

【论文】：Learning Enriched Features for Real Image Restoration and Enhancement

【状态】：报名

【repo链接】：[https://github.com/chicleee/paddle_MIRNet](https://github.com/chicleee/paddle_MIRNet)

[2022-04-09 16:00] bitcjm commented on #41482
【队名】：稳中求进BIT

【序号】：42

【论文】：GAN Prior Embedded Network for Blind Face Restoration in the Wild

【状态】：报名

【repo链接】：https://github.com/bitcjm/GPEN_REPO

[2022-04-09 16:03] youngAt19 commented on #41482
【队名】：qifei

【序号】：92

【论文】：Beyond a Gaussian Denoiser: Residual Learning of Deep CNN for Image Denoising

【状态】：报名

【repo链接】：https://github.com/youngAt19/paddle_DnCNN

[2022-04-09 17:16] Wu-Jiayang opened #41591 "model.save与load文件后缀不一致"
### bug描述 Describe the Bug

paddlepaddle-gpu 2.2.1.post112
model.save保存文件为pdiparams后缀
model.load加载pdparams后缀，无法找到文件
![image](https://user-images.githubusercontent.com/62842862/162584454-10a6d397-4a46-46f5-a5eb-028b65feda8c.png)
![image](https://user-images.githubusercontent.com/62842862/162584509-db517bfe-f67a-41bd-8040-5f5f35915754.png)

### 其他补充信息 Additional Supplementary Information

_No respon

[2022-04-09 19:19] hatimwen commented on #41482
【队名】：DUT_BOYS

【序号】：6

【论文】：Greedy Hash: Towards Fast Optimization for Accurate Hash Coding in CNN

【状态】：报名&提交

【repo链接】：https://github.com/hatimwen/paddle_greedyhash

[2022-04-10 02:05] 0KGX0 commented on #41482
【队名】：小猪快跑

【序号】：4

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/0KGX0/CVT-Paper-reproduction

[2022-04-10 02:12] PeterJaq commented on #41482
【队名】：peterjaq

【序号】：8

【论文】：A ConvNet for the 2020s

【状态】：报名

【repo链接】：https://github.com/PeterJaq/PaddleClas_ConvNet

[2022-04-10 06:32] kjf4096 commented on #41482
【队名】：jsdbzcm

【序号】：18

【论文】：Trusted Multi-View Classification

【状态】：提交

【repo链接】：https://github.com/kjf4096/TMC

[2022-04-10 08:29] lguowang opened #41602 "自定义损失函数问题"
### 请提出你的问题 Please ask your question

我参考paddled定义 L1loss 的方法，写了L1loss_f1和L1loss_f2，两者输出的结果是一致的，但用L1loss_f1 训练会收敛，用L1loss_f2 不收敛，请问应如何改L1loss_f2

说明：我用paddle训练自己的模型，需要自定义损失函数，损失函数比较复杂，paddle现有方法写起来比较麻烦，我把tensor 转换成numpy 然后再计算损失函数，发现不收敛。请问numpy 计算后的 损失函数如何才能转成可用于训练的tensor，或者说L1loss_f2如何修改？谢谢

#用以下损失函数，训练是收敛的
def L1loss_f1(y_pred,labels):
    cost = paddle.mean(paddle.abs(paddle.subtract(y_pred,labe

[2022-04-10 09:52] 4IK1d commented on #41482
【队名】：4IKids

【序号】：119

【论文】：Learning to Expand Audience via Meta Hybrid Experts and Critics for Recommendation and Advertising

【状态】：报名

【repo链接】：https://github.com/4IK1d/pd_metarec.git

[2022-04-10 11:22] BamLubi commented on #41482
【队名】：BamTeam

【序号】：117

【论文】：Detecting Beneficial Feature Interactions for Recommender Systems

【状态】：报名

【repo链接】：https://github.com/BamLubi/Paddle-SIGN

[2022-04-10 11:49] rs-lsl commented on #41482
【队名】：cug_rs615

【序号】：92

【论文】：Beyond a Gaussian Denoiser: Residual Learning of Deep CNN for Image Denoising

【状态】：报名

【repo链接】:  https://github.com/rs-lsl/DnCNN_paddle

[2022-04-10 11:59] NewGe66 commented on #41482
【队名】：NewGe6

【序号】：47

【论文】：GFP-GAN: Towards Real-World Blind Face Restoration with Generative Facial Prior

【状态】：报名

【repo链接】：https://github.com/NewGe66/Paddle_GFP-GAN

[2022-04-10 12:05] JoeWillB commented on #41482
【队名】：啊对对队

【序号】：92

【论文】：Beyond a Gaussian Denoiser: Residual Learning of Deep CNN for Image Denoising

【状态】：报名

【repo链接】：https://github.com/BillDennisz/Paddle_DnCNN

[2022-04-10 12:43] simonsLiang commented on #41482
【队名】：高级伴读书童

【序号】：52

【论文】：Progressive Image Deraining Networks: A Better and Simpler Baseline

【状态】：提交

【repo链接】：https://github.com/simonsLiang/PReNet_paddle

[2022-04-10 13:34] CuberrChen commented on #41482
【队名】：波波啥也不会

【序号】：14

【论文】：Residual Attention: A Simple But Effective Method for Multi-Label Recoginition

【状态】：报名&&提交

【repo链接】：https://github.com/CuberrChen/CSRA-Paddle

[2022-04-10 13:58] zlsh80826 commented on #41182
Thank @zhiqiu 's update. I will try and see whether it is stable on develop branch.

[2022-04-10 14:13] hangchen-lab commented on #40310
【队名】：xuetu_1001
【序号】：23
【状态】：报名
【链接】：https://github.com/hangchen-lab/Paddle

[2022-04-10 14:24] yueguang1001 commented on #40310
【队名】：xuetu_1001
【序号】：23
【状态】：报名
【链接】：https://github.com/yueguang1001/Paddle

[2022-04-10 14:40] geekhch commented on #40734
我这两天也遇到了内存泄漏，调了好久的bug，发现Dataloader就算不调用__call__， 使用多进程num_workers>0的时候就会出现内存泄漏。但是使用单进程num_workers=0的时候似乎不会（未经严格测试）

[2022-04-10 14:52] geekhch commented on #40734
我这两天也遇到了内存泄漏，调了好久的bug，发现Dataloader就算不调用__call__， 使用多进程num_workers>0的时候就会出现内存泄漏。

[2022-04-10 15:56] Asthestarsfalll commented on #40234
【队名】：我完全没想法
【序号】：74
【状态】：提交PR
【链接】：https://github.com/PaddlePaddle/PaddleScience/pull/49

[2022-04-10 18:11] sldyns commented on #41482
【队名】：科研累了摸会鱼

【序号】：92

【论文】：Beyond a Gaussian Denoiser: Residual Learning of Deep CNN for Image Denoising

【状态】：报名&&提交

【repo链接】: https://github.com/sldyns/DnCNN_paddle

[2022-04-11 01:56] yueguang1001 commented on #40234
【队名】：xuetu_1001
【序号】：23
【状态】：报名
【链接】：https://github.com/yueguang1001/Paddle

[2022-04-11 02:19] Patrick-Star125 opened #41609 "用静态图定义函数运算报错：(InvalidArgument) The tensor Input (Input) of Slice op is not initialized."
### 请提出你的问题 Please ask your question

我想用paddle静态图实现自定义函数运算，用fluid.layers实现的各种API组合，但是总是报同样的错误，错误信息如下
[code]
自定义函数的调用方法如下
[code]
自定义函数的构建方法如下
[code]
关于提示的Slice op错误我将函数内各种索引操作都去除过，但是没有用

[2022-04-11 02:23] zizizihua commented on #41482
【队名】：子华

【序号】：14

【论文】：Residual Attention: A Simple but Effective Method for Multi-Label Recognition

【状态】：提交

【repo链接】：https://github.com/zizizihua/CSRA.paddle

[2022-04-11 02:24] thisjiang commented on #41551
Hi~请问对您而言，该问题已经解决了么？可以关闭该issue么？

[2022-04-11 02:35] Li-fAngyU commented on #41482
【队名】：lfy

【序号】：115

【论文】：Deep Session Interest Network for Click-Through Rate Prediction

【状态】：提交

【repo链接】：https://github.com/Li-fAngyU/DSIN_paddle

[2022-04-11 02:36] zouhan6806504 opened #41614 "param.grad经过loss计算以后为none"
### 请提出你的问题 Please ask your question

1月份左右写了一个nlp功能里的pgd，当时运行正常，近期使用最新的paddlenlp，环境aistudio，想把功能移植过来，结果运行异常
训练代码
[code]
模型代码
[code]
后面运行异常，发现是self.bert.named_parameters()获取param.grad时全部为None
经过bert的时候，只使用了最后一层hidden status进行运算
[code]
这样也应该用到了word_embeddings这一层吧？还是说后面代码有更新，param.grad获取方法变了？

[2022-04-11 03:13] sandyhouse commented on #41609
<img width="593" alt="image" src="https://user-images.githubusercontent.com/6737864/162659119-18f77821-b64e-4303-ad82-3edfdef9eee4.png">
这个地方name应该分别为'input1'和‘input2’

[2022-04-11 03:16] frankwhzhang commented on #41591
你好有更详细的代码可以贴一下吗，从你的描述中看 pdiparams 和pdparams 拼写不一致

[2022-04-11 03:18] frankwhzhang commented on #41602
应该需要用paddle的算子组成Loss，numpy的结果更新没办法返回梯度

[2022-04-11 03:23] thunder95 opened #41621 "【PFCC】op开发提示没有注册kernel"
### 请提出你的问题 Please ask your question

1141: RuntimeError: (NotFound) There are no kernels which are registered in the rrelu operator.
1141:   [Hint: Expected kernels_iter != all_op_kernels.end(), but received kernels_iter == all_op_kernels.end().] (at /paddle/paddle/fluid/imperative/prepared_operator.cc:237)
1141:   [operator < rrelu > error]

检查了PD_REGISTER_KERNEL， op_register这些文件, cpu和gpu注册都是有的，

[2022-04-11 03:26] sandyhouse commented on #41614
是否方便提供个最小可复现代码？

[2022-04-11 03:31] sandyhouse commented on #41621
可以参考Paddle源码里面其他op写写法，确认REGISTER_OP_xxx_KERNEL,REGISTER_OPERATOR这些宏是否调用，另外可以确认下对应的OP是否编译，建议清空编译目录，从头编译。（备注：一般不需要特殊处理，有些比较特殊的情况需要修改CMakeFile才会编译）

[2022-04-11 03:47] thunder95 commented on #41621
@sandyhouse 谢谢大佬解惑。REGISTER_OPERATOR确认已经调用， 已经参考其他OP写法，  PD_REGISTER_KERNEL有用， REGISTER_OP_xxx_KERNEL没有使用， 感觉PD_REGISTER_KERNEL就够了吧

[2022-04-11 03:55] zouhan6806504 commented on #41614
https://aistudio.baidu.com/studio/project/partial/verify/3781426/8805d6e126744d2b852c7feb3e3aff10
依次执行到训练的那一步即可

[2022-04-11 03:58] thunder95 commented on #41621
@sandyhouse 调用_C_ops.rrelu时出现问题，LayerHelper方式可以的

[2022-04-11 04:07] sandyhouse commented on #41621
方便提个pr看下吗？

[2022-04-11 04:08] thunder95 commented on #41621
@sandyhouse Built target 里面出现了这个kernel， 我再试着解决一下吧，实在不行就只有提pr辛苦你们了。

[2022-04-11 04:33] ImNoBadBoy commented on #40300
### 【Hackathon 33】PR提交
https://github.com/PaddlePaddle/Paddle/pull/41695

- test_trunc_op.py
![H2@FC}(T@ P0KBWZG_IPHYO](https://user-images.githubusercontent.com/102226413/162665398-da9f494f-f59b-4889-98fd-976375a1de51.png)

[code]
- test_where_op.py

![~4~`Q$K~L9 AP0 6`GX1%ET](https://user-images.githubusercontent.com/102226413/162665658-8595c666-a2e0-4ef7-8193-539b5441d6ba.png)

[code]
- test_yo

[2022-04-11 04:35] ImNoBadBoy commented on #40234
【队名】：xd_no-bad
【序号】：33
【状态】：PR提交
【链接】：https://github.com/PaddlePaddle/Paddle/pull/41624

[2022-04-11 05:18] lucifer1004 commented on #40234
【队名】：Steins; Gate

【序号】：67

【状态】：报名

【链接】：https://github.com/lucifer1004/Paddle

[2022-04-11 05:18] Subury commented on #41482
【队名】：Subury

【序号】：89

【论文】：Remote Sensing Image Change Detection with Transformers

【状态】：报名

【repo链接】：https://github.com/Subury/BIT_CD_PaddlePaddle

[2022-04-11 05:38] pooruss commented on #41482
【队名】：怕抖666

【序号】：87

【论文】：[STANet for remote sensing image change detection](https://www.mdpi.com/2072-4292/12/10/1662)

【状态】：报名

【repo链接】：[STANet-paddle](https://github.com/pooruss/STANet-paddle)

[2022-04-11 05:53] hanyf-hub commented on #40234
【队名】：天山怼怼

【序号】：104

【状态】：报名

【链接】：https://github.com/hanyf-hub/EIVideo

[2022-04-11 06:35] Wei-JL commented on #41551
可以可以了  已解决   非常感谢~
这边的似乎一直没回复诶，可以麻烦看看吗
https://github.com/PaddlePaddle/PaddleDetection/issues/5647

[2022-04-11 06:59] zyz-rise commented on #41482
【队名】：517活性炭

【序号】：131

【论文】：[PHYSICS-INFORMED NEURAL NETWORKS WITH HARD CONSTRAINTS FOR INVERSE DESIGN∗](https://arxiv.org/pdf/2102.04626.pdf)

【状态】：报名

【repo链接】：https://github.com/zyz-rise/hpinn_paddle

[2022-04-11 07:10] txyugood commented on #41482
【队名】：txyugood

【序号】：63

【论文】：Multiresolution Knowledge Distillation for Anomaly Detection

【状态】：报名/提交

【repo链接】：https://github.com/txyugood/Knowledge_Distillation_AD_Paddle

[2022-04-11 07:12] youlingforever0328 opened #41635 "dataloader里面 del self._task_infos[idx] KeyError"
### bug描述 Describe the Bug

有时候在dataloader里面会报错KeyError:，同样的代码，有时候能跑完没事，但是偶尔会在 ```del self._task_infos[idx]``` 处出现KeyError:

paddlepaddle-gpu==2.2.2 cudatoolkit=11.2
环境Linux
nvcc: NVIDIA (R) Cuda compiler driver
Cuda compilation tools, release 11.1, V11.1.74

[code]

[2022-04-11 07:37] Patrick-Star125 commented on #41609
非常感谢！问题解决了，不过我还有一个疑问，在静态图中实现条件判断似乎有些困难，在上面的代码中有这样一段
[code]
要根据label的实际值来选用不同的公式，其中label的输入数据是只包含0和1的一维numpy数组

实际运行过程中`label[i] == 1`一直成立，我尝试过调用获取Variable变量实际值的函数get_value()，但是会在构建静态图的阶段报错。
[code]

[2022-04-11 07:54] inspiration12138 commented on #41482
【队名】：inspiration

【序号】：104

【论文】：[FCFR-Net: Feature Fusion based Coarse-to-Fine Residual Learning for Depth Completion](https://arxiv.org/abs/2012.08270)

【状态】：报名

【repo链接】：https://github.com/inspiration12138/PaddlePaddle-FCFR-Net-Paddle

[2022-04-11 08:09] ronny1996 commented on #41399
好的，这个issue我先关了，有问题可以重新打开

[2022-04-11 08:09] #41399 closed, assigned to ronny1996

[2022-04-11 08:11] ronny1996 commented on #41392
你好，这个issue我先关了，有问题可以重新打开

[2022-04-11 08:11] #41392 closed, assigned to ronny1996

[2022-04-11 08:11] ronny1996 commented on #41388
你好，这个issue我先关了，有问题可以重新打开

[2022-04-11 08:11] #41388 closed, assigned to ronny1996

[2022-04-11 08:15] kongdebug commented on #41482
【队名】：不爱做科研的KeyL

【序号】：88

【论文】：[SNUNet-CD: A Densely Connected Siamese Network for Change Detection of VHR Images](https://ieeexplore.ieee.org/document/9355573)

【状态】：报名

【repo链接】：https://github.com/kongdebug/SNUNet-Paddle

[2022-04-11 08:16] guguguzi opened #41637 "有关新增api：MultiplicativeDecay的问题"
之前新增的api：MultiplicativeDecay在发版测试时测出来一个bug（第一步执行时计算问题，下图所示）。
<img width="392" alt="image" src="https://user-images.githubusercontent.com/48168743/162692519-d85d3f57-9bfa-4118-8f6b-60de6426a2cc.png">
Debug时发现是因为该学习率策略在get_lr时需要使用last_lr进行计算，但last_lr本身也计算了一遍，因此last_lr和get_lr的结果存在差异。同时也对torch对应的api也进行了测试，测试代码为
[code]
发现torch也存在同样的问题。
<img width="567" alt="image" src="https://user-images.githubusercon

[2022-04-11 08:35] BlackWitty commented on #40234
【队名】：噼里啪啦
【序号】：21
【状态】：报名
【链接】：https://github.com/BlackWitty/Paddle

[2022-04-11 08:41] a952197874 commented on #40234
【队名】：爱吃鲍鱼

【序号】：42

【状态】：报名

【链接】：https://github.com/a952197874/Paddle

[2022-04-11 08:45] ttjygbtj opened #41640 "点击下载按钮没办法下载"
### 问题描述 Issue Description

<img width="1504" alt="image" src="https://user-images.githubusercontent.com/66538098/162699168-efc5c6b0-42ec-44c0-aded-d4b15f546c7d.png">

### 版本&环境信息 Version & Environment Information

https://www.paddlepaddle.org.cn/paddlex/download?directdownload=mac

[2022-04-11 08:47] #41640 closed, assigned to sandyhouse

[2022-04-11 09:01] jiaohuix opened #41642 "使用amp梯度会爆炸"
### 请提出你的问题 Please ask your question

再使用amp时候发现训练的梯度特别大，而且一直会上涨，最后到inf基本上就发散了。而不适用amp梯度稳定在10以内，这是什么原因，影响训练嘛？
这是没使用amp的gnorm
![image](https://user-images.githubusercontent.com/68314259/162702254-ac562a66-7b2e-41b5-a977-69eb2cb6ccff.png)

这是使用amp的梯度范数gnorm
![image](https://user-images.githubusercontent.com/68314259/162702110-08a93055-5341-4e31-bc85-7d2010acded5.png)
这是使用amp训练到后期发散的结果：
![image](http

[2022-04-11 09:23] thisjiang commented on #41558
您好，您可以尝试使用自定义外部算子（推荐）而非自定义原生算子的方式解决该问题，如未能解决还请继续反馈，谢谢！

[2022-04-11 09:31] Ligoml commented on #41587
报名需要在指定issue里回复哦，不是新建issue~

[2022-04-11 09:31] #41587 closed, assigned to huangxu96

[2022-04-11 09:34] jiangyichen19 commented on #41482
【队名】：小蛇吃青蛙哇

【序号】：20

【论文】：[Anchor DETR: Query Design for Transformer-Based Object Detection](https://arxiv.org/abs/2109.07107)

【状态】：报名

【repo链接】：https://github.com/jiangyichen19/Anchor-DETR-Query-Design-for-Transformer-Based-Object-Detection

[2022-04-11 09:43] sandyhouse commented on #41635
请提供个最小可复现代码，谢谢。

[2022-04-11 09:48] sandyhouse commented on #41642
使用amp时，若使用了dynamic_loss_scaling，那么梯度会乘以一个loss_scaling的值。loss_scaling会一直增加，直到梯度出现nan/inf，然后降低loss_scaling。所以出现nan/inf是正常现象，需要看一下是否对模型精度之类的有影响。如果无影响，可以忽略。

[2022-04-11 09:56] youlingforever0328 commented on #41635
这个是一个项目里的数据读取部分，最小可复现代码可能没办法整理拿出来😰，这个错误偶尔会发生，大部分时候能完整地跑完都没问题，偶尔会报上面的错误，同一份代码同一个数据集。

大致就是我准备好了数据然后生成了下面三个DataLoader:     文件Mydataset.py部分代码
[code]

然后在训练时如下: 文件train.py部分代码
[code]
然后挂到后台训练，偶尔就会报那个错误:
[code]

[2022-04-11 09:57] thisjiang commented on #41558
经确认，paddle自定义原生算子的方式是支持输入参数为多个Tensor的，非bug。

[2022-04-11 09:57] #41558 closed, assigned to thisjiang

[2022-04-11 09:59] jiaohuix commented on #41642
根据我的实验没有影响到精度，略微增长了点。有一点很奇怪，以前我训了convs2s用amp速度是加快的，而训练transformer速度反而慢了些，这是怎么回事呢？
这是默认乘了dynamic_loss_scaling嘛
![1649670937(1)](https://user-images.githubusercontent.com/68314259/162714449-ad11b64f-cb2f-4b7a-a0bf-b04b67ea2452.png)

[2022-04-11 10:04] youlingforever0328 commented on #41635
我看了下报错的dataloader_iter.py文件报错的定位，貌似跟num_workers，开了多进程读取数据有关，但是偶尔会报错，有时候又不会报错，不知道有什么解决的办法吗？

[2022-04-11 11:51] LJQbiu commented on #41482
【队名】：JQbiu
【序号】：39

【论文】：[A Late Fusion CNN for Digital Matting](https://openaccess.thecvf.com/content_CVPR_2019/papers/Zhang_A_Late_Fusion_CNN_for_Digital_Matting_CVPR_2019_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/LJQbiu/JQbiu_repo_feiJiang

[2022-04-11 11:55] LJQbiu commented on #41482
【队名】：JQbiu

【序号】：39

【论文】：[A Late Fusion CNN for Digital Matting](https://openaccess.thecvf.com/content_CVPR_2019/papers/Zhang_A_Late_Fusion_CNN_for_Digital_Matting_CVPR_2019_paper.pdf)

【状态】：报名

【repo链接】：https://github.com/LJQbiu/JQbiu_paddlepaddle

[2022-04-11 12:34] mingkai-zheng commented on #41482
【队名】：摆烂可达鸭

【序号】：101

【论文】：Unsupervised Learning of Visual Features by Contrasting Cluster Assignments

【状态】：报名

【repo链接】：https://github.com/KyleZheng1997/paddle_swav.git

[2022-04-11 12:54] MangoFF commented on #41482
【队名】：华科芒果

【序号】：8

【论文】：A ConvNet for the 2020s

【状态】：报名

【repo链接】：https://github.com/MangoFF/ConvNext_paddle_Mango.git

[2022-04-11 13:48] security-WJM commented on #41482
【队名】：AI杂牌军

【序号】：85

【论文】：Emerging Properties in Self-Supervised Vision Transformers

【状态】：报名

【repo链接】：https://github.com/multi-modal/Sixth-challenge

[2022-04-11 14:09] zzpicdeal commented on #41482
【队名】：ABCD

【序号】：33

【论文】：Deep Dual-resolution Networks for Real-time and Accurate Semantic Segmentation of Road Scenes

【状态】：报名&提交

【repo链接】：https://github.com/zzpicdeal/paddle-DDRnet

[2022-04-11 14:33] graceneu commented on #41482
【队名】：斑马

【序号】：2

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：报名

【repo链接】：https://github.com/graceneu/CycleMLP-main-Paddle

[2022-04-11 14:34] miemie2013 commented on #41248
在https://aistudio.baidu.com/aistudio/projectdetail/3724521   的~/work/test_grad目录下，54.npz和54.pdparams都在

[2022-04-11 14:43] inhaowu commented on #41482
【队名】：U-Net yyds!

【序号】：36

【论文】：nnU-Net: Self-adapting Framework for U-Net-Based Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/inhaowu/nnU-Net

[2022-04-11 14:52] miemie2013 commented on #40800
感谢大佬，已经看到自定义tanh的示例了，很赞！

[2022-04-11 14:55] renmada commented on #41514
pip能安装v2.3.0 release candidate吗

[2022-04-11 15:10] liyihao76 commented on #41482
【队名】：fr-xduer

【序号】：38

【论文】：UNETR: Transformers for 3D Medical Image

【状态】：报名

【repo链接】：https://github.com/liyihao76/3D-Transformers

[2022-04-11 18:28] CuberrChen commented on #41482
【队名】：波波啥也不会

【序号】：61

【论文】：Student-Teacher Feature Pyramid Matching for Anomaly Detection

【状态】：报名&&提交

【repo链接】：https://github.com/CuberrChen/STFPM-Paddle

[2022-04-12 01:02] yihui8776 commented on #41482
【队名】：esinhi

【序号】：20

【论文】：[Anchor DETR: Query Design for Transformer-Based Object Detection](https://arxiv.org/abs/2109.07107)

【状态】：报名

【repo链接】：https://github.com/yihui8776/anchor-detr-paddle

[2022-04-12 01:24] #28874 closed, assigned to nobody

[2022-04-12 01:30] sandyhouse commented on #41609
静态图里面无法直接使用这种分支判断。静态图里面做分支判断比较麻烦，可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/nn/switch_case_cn.html

[2022-04-12 01:33] sandyhouse commented on #41642
是的，默认使用了dynamic_loss_scaling。一般来讲使用amp都是加速的。当然实际情况和使用的硬件等等都有关系（比如有些硬件下不支持amp加速，如P40等等）

[2022-04-12 01:40] sandyhouse commented on #41635
仅仅从描述上看其实无法准确判断出错原因，一种可能的原因是dataloader在开启多进程是存在bug。我们本地也试一下，也希望能够提供个复现代码帮助我们分析定位问题原因哈。

[2022-04-12 01:46] yjhtc007 opened #41667 "关于多卡训练过程中，中途停止训练，显卡显存无法释放的问题"
### bug描述 Describe the Bug

各位大佬好，我在使用PaddleDetection训练模型的时候遇到了一个bug，就是用多卡训练模型，如果中途出现错误的话，会出现训练进程无法结束的情况，人为用kill -9 命令杀死后显卡占据的显存仍不会释放。我用PaddleOCR进行多卡训练，中途报错或停止的话不会报这个错误。之前用PaddleClas进行多卡训练也出现过和PaddleDetection一样的错误，就是显存没法释放的问题，请问我该如何解决呢？
![1649727078(1)](https://user-images.githubusercontent.com/52524345/162862268-c1d93d06-3ffc-4dcc-bd23-25e68397853d.png)

### 其他补充信息 Additional Supplementary Inform

[2022-04-12 02:07] hosea7456 commented on #41482
【队名】：AIRS_AD

【序号】：61

【论文】：Student-Teacher Feature Pyramid Matching for Anomaly Detection

【状态】：报名

【repo链接】：https://github.com/hosea7456/Paddle_STPM

[2022-04-12 02:08] dongdongtong commented on #41482
【队名】：ddt

【序号】：102

【论文】：[Dense Contrastive Learning for Self-Supervised Visual Pre-Training](https://arxiv.org/pdf/2011.09157v2.pdf)

【状态】：报名

【repo链接】：https://github.com/dongdongtong/Paddle-DenseCL

[2022-04-12 02:11] chenwhql commented on #40800
嗯嗯，PR刚刚合入了，您可以用明天的night-build版本试一下，我加了tanh的CPU单测，和paddle api的结果一致

[2022-04-12 02:14] yjhtc007 commented on #41667
![1649729640(1)](https://user-images.githubusercontent.com/52524345/162865604-895e16da-c348-4bf1-a92d-50f88fe9562c.png)

[2022-04-12 02:17] CuberrChen commented on #41482
【队名】：波波啥也不会

【序号】：61

【论文】：Student-Teacher Feature Pyramid Matching for Anomaly Detection

【状态】：报名&&提交2

【repo链接】：https://github.com/CuberrChen/STFPM-Paddle

[2022-04-12 02:18] zbdehh commented on #41482
【队名】：我还能吃下一条小鱼虫

【序号】：45

【论文】：Training Generative Adversarial Networks with Limited Data

【状态】：报名

【repo链接】：https://github.com/begins233/paddle_stylegan2_ada

[2022-04-12 02:39] YAndrewL commented on #41482
【队名】：FANgeere

【序号】：132

【论文】：Expanding functional protein sequence space using generative adversarial networks

【状态】：报名

【repo链接】：https://github.com/YAndrewL/proteinGAN

[2022-04-12 02:46] Dandelion111 opened #41673 "请问paddlepaddle如何获得模型的参数量？"
### 问题描述 Please describe your issue

请问paddlepaddle如何获得模型的参数量？

[2022-04-12 02:48] huilin16 commented on #41482
【队名】：gis322

【序号】：32

【论文】：CCNet: Criss-Cross Attention for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/huilin16/CCNet_paddle

[2022-04-12 02:49] jiaohuix commented on #41642
好的，感谢！发自我的荣耀手机-------- 原始邮件 --------发件人： lilong12 ***@***.***>日期： 2022年4月12日周二 09:33收件人： PaddlePaddle/Paddle ***@***.***>抄送： MiuGod0126 ***@***.***>, Author ***@***.***>主    题： Re: [PaddlePaddle/Paddle] 使用amp梯度会爆炸 (Issue #41642)

是的，默认使用了dynamic_loss_scaling。一般来讲使用amp都是加速的。当然实际情况和使用的硬件等等都有关系（比如有些硬件下不支持amp加速，如P40等等）

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving

[2022-04-12 03:14] paopjian opened #41674 "import paddle出现warning"
### 请提出你的问题 Please ask your question

纯净venv环境,安装paddlepaddle 2.2.2,import paddle后出现大量warning
![image](https://user-images.githubusercontent.com/20377352/162872400-ca4eda37-67a7-42cc-b88e-79f55e51faca.png)

D:\conda\envs\test\lib\site-packages\paddle\vision\transforms\functional_pil.py:36: DeprecationWarning: NEAREST is deprecated and will be removed in Pillow 10 (2023-07-01). Use Resampling.NEARE

[2022-04-12 03:28] xiaoguoguo626807 commented on #40234
【队名】：哆啦A梦
【序号】：5
【状态】：PR提交
【链接】：https://github.com/PaddlePaddle/Paddle/pull/41639

[2022-04-12 03:30] BlackWitty commented on #40234
【队名】：噼里啪啦
【序号】：21
【状态】：提交RFC
【链接】：https://github.com/PaddlePaddle/community/pull/101

[2022-04-12 03:36] Wu-Jiayang commented on #41591
[code]
@frankwhzhang

[2022-04-12 03:43] youlingforever0328 commented on #41635
没有数据集可能没办法复现，我只能提供我的dataset.py和train.py了，其实这个问题也不是每次都出现，偶尔出现，之前出现我都是重跑，然后也没事，都能跑完。最近要跑的实验epoch多，batchsize小，时间长了就相对频繁会出现这个报错，就得重跑，感觉有点麻烦，目前还没试过num_work=0,一直都用的num_work=4.

**而且还注意到，每当发生这个KeyError的时候，GPU上的该父进程及其对应的四个子进程（num_work=4）都没有退出，一直占用着GPU的内存，得手动kill**

Mydataset.py
[code]

train.py
[code]

[2022-04-12 04:38] JustinXu0 commented on #41482
【队名】：xyf

【序号】：103

【论文】：MLDA-Net: Multi-Level Dual Attention-BasedNetwork for Self-Supervised MonocularDepth Estimation

【状态】：报名

【repo链接】：https://github.com/small-whirlwind/MLDA-Net_paddle

[2022-04-12 04:50] JustinXu0 commented on #41482
【队名】：猪蜂蝶

【序号】：76

【论文】：EfficientGCN: Constructing Stronger and Faster Baselines for Skeleton-based Action Recognition

【状态】：报名

【repo链接】：https://github.com/small-whirlwind/EfficientGCN_paddle

[2022-04-12 04:56] Victory8858 commented on #41482
【队名】：Victory8858

【序号】：31

【论文】：PSANet: Point-wise Spatial Attention Network for Scene Parsing

【状态】：报名

【repo链接】：https://github.com/Victory8858/semseg

[2022-04-12 04:57] small-whirlwind commented on #41482
这是来自QQ邮箱的假期自动回复邮件。你好，你的邮件我已收到，祝你生活愉快~~~

[2022-04-12 05:01] janelu9 opened #41682 "The registered buffer should be a core.VarBase, but received Variable."
### bug描述 Describe the Bug

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-04-12 05:06] janelu9 commented on #41682
paddlepaddle-gpu                   2.2.2.post112

[2022-04-12 05:08] youngAt19 commented on #41482
【队名】：qifei

【序号】：99

【论文】：Exploring Simple Siamese Representation Learning

【状态】：报名

【repo链接】：https://github.com/youngAt19/paddle_Simsiam

[2022-04-12 05:23] Patrick-Star125 commented on #40234
【队名】：NetPunk
【序号】：17
【状态】：PR提交
【链接】：https://github.com/PaddlePaddle/Paddle/pull/41680

[2022-04-12 05:30] terrancraft opened #41686 "关于cuda不兼容问题"
### 问题描述 Please describe your issue

描述问题/Describe the bug

我把训练好的模型部署到一台win10系统的机器中，执行eval或者inference推断时都会报错：

cudaErrorNoKernelImageDevice: no kernel image is available for execution on the device.

个人感觉是cuda driver 版本、cudatoolkit版本和paddle版本出现了不兼容的问题，但我不太确定，

想把具体情况复述给大佬们，能否帮我看一下如何解决这个问题？ 谢谢！
复现/Reproduction

python tools/eval.py -c *** -o weights=***
使用模型:
picodet_l_640
环境/Environment

虚拟环境:
py

[2022-04-12 06:13] Stave604671 opened #41687 "最新的develop版有一个地方的源码建议修改"
### bug描述 Describe the Bug

<img width="652" alt="屏幕截图 2022-04-12 141111" src="https://user-images.githubusercontent.com/59908449/162892506-35db6a69-ed8b-4690-bfcd-450bcdd8f710.png">
我在使用develop版的时候（paddlepaddle==0.0.0），遇上一个bug，bug定位到了这个位置的1719行,检查后发现报错的原因是我的label文件中一共200个标签，label的数值范围是1~200，代码这一块要求label的数值是以0为起点，这一块建议修改一下对这个地方，这个抛出的异常描述看着我有点迷

### 其他补充信息 Additional Supplementary Information

_No

[2022-04-12 06:25] Wei-JL opened #41688 "(InvalidArgument) concat(): argument 'X' (position 0) must be list of Tensors, but got empty list"
### bug描述 Describe the Bug

[code]
  报错日志 : File "D:\PyCharm\YOLO\paddle_fuxian\yolox_paddle\nets\yolo_training.py", line 210, in get_losses
    cls_targets = paddle.concat(cls_targets, 0)
  File "D:\Anaconda3\envs\paddle2-2-2g\lib\site-packages\paddle\tensor\manipulation.py", line 345, in concat
    return paddle.fluid.layers.concat(input=x, axis=axis, name=name)

### 其他补充信息 Additional Supplement

[2022-04-12 06:39] kongdebug commented on #41482
【队名】：不爱做科研的KeyL

【序号】：88

【论文】：[SNUNet-CD: A Densely Connected Siamese Network for Change Detection of VHR Images](https://ieeexplore.ieee.org/document/9355573)

【状态】：提交

【repo链接】：https://github.com/kongdebug/SNUNet-Paddle

[2022-04-12 06:45] janelu9 commented on #41682
[code]

[2022-04-12 07:23] zlsh80826 commented on #40250
https://github.com/PaddlePaddle/Paddle/pull/41626 merged. Close this issue.

[2022-04-12 07:23] #40250 closed, assigned to yingyibiao, JZZ-NOTE

[2022-04-12 07:24] #39446 closed, assigned to huangjun12, Zjq9409

[2022-04-12 07:26] zlsh80826 commented on #41686
安培架構顯示卡 (30系列) 需求 cuda 11 以上才能支援

[2022-04-12 07:54] ImNoBadBoy commented on #40234
【队名】：xd_no-bad
【序号】：33
【状态】：PR提交
【链接】：https://github.com/PaddlePaddle/Paddle/pull/41695

[2022-04-12 07:55] yeyupiaoling commented on #41074
@LoadingBFX 我没使用tensorRT，我是怕当高速并发的时候，输入和输出混乱了，把其他用户的结果返回给错误的用户了。

[2022-04-12 07:58] yeyupiaoling opened #41698 "使用cosine_similarity需要提前对数据归一化吗？"
### 请提出你的问题 Please ask your question

 - PaddlePaddle 2.2.2

我是用[paddle.nn.functional.cosine_similarity](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/functional/cosine_similarity_cn.html#cosine-similarity) 这个接口，需要对输入数据做归一化吗？

[2022-04-12 08:26] JZZ-NOTE commented on #40250
https://github.com/PaddlePaddle/Paddle/pull/41626
pr已合入develop与2.3分支

[2022-04-12 08:44] #41511 closed, assigned to JamesLim-sy

[2022-04-12 09:08] #41609 closed, assigned to sandyhouse

[2022-04-12 09:14] #41642 closed, assigned to sandyhouse

[2022-04-12 09:25] terrancraft commented on #41686
您的意思我把paddle和cudatoolkit都换成11.2?

[2022-04-12 09:40] gsq7474741 commented on #40272
@zkh2016 您好，我看到torch目前只支持sparse tensor对scalar进行除法，
[code]

不知此处任务要求实现的逐元素除法在两个对应元素都为0的时候怎么处理

[2022-04-12 09:51] zlsh80826 commented on #41686
是的, paddle10.2的包不包含ampere架構的kernels[原代碼參考](https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/cuda.cmake#L193), 同時 cudatoolkit 也需要升級到 11.2 之上

[2022-04-12 10:00] Kelly510 commented on #41482
【队名】：JellyTeam

【序号】：81

【论文】：DensePose: Dense Human Pose Estimation In The Wild

【状态】：报名

【repo链接】：https://github.com/Kelly510/DensePose-Paddle

[2022-04-12 10:05] jerryuhoo opened #41707 "如何把float类型的Tensor转为complex，并且动转静不报错？"
### 请提出你的问题 Please ask your question

如题，img_part是一个float32类型的Tensor，我想要把它转为complex类型，我的代码是：
[code]
这个在动态图里可以用，但是动转静就会报错，信息如下：请问有什么方法可以做到把一个float类型的tensor转化为complex类型的呢？
[code]

[2022-04-12 10:12] Wei-JL commented on #41688
您好，有什么解决方法吗？ 这边无法对Tensor(shape=[0, 4], dtype=float32, place=CUDAPlace(0), stop_gradient=True, []) concat

[2022-04-12 10:14] renmada commented on #41482
【队名】：岚之山吃到饱

【序号】：106

【论文】：Efficient Low-rank Multimodal Fusion with Modality-Specific Factors

【状态】：报名&&提交

【repo链接】：https://github.com/renmada/LMF-paddle

[2022-04-12 10:34] Han-YLun opened #41709 "运行paddle失败"
报错信息：
[code]

环境：
使用的docker,镜像为registry.baidubce.com/paddlepaddle/paddle:2.2.2-gpu-cuda11.2-cudnn8
paddleocr==2.0.1
paddlepaddle-gpu==2.0.1

[2022-04-12 10:40] Han-YLun commented on #41709
[code]

[2022-04-12 10:40] jerryuhoo opened #41710 "einsum动转静替换方法如何实现？"
### 请提出你的问题 Please ask your question

如题，einsum虽然在develop版本里可以实现动转静，但是里面有个unsqueeze的操作，如果超过了6维会报错。如果用其他算子应该如何实现呢？以下是我自己写的替换方法，但是输出的结果不一致，没看出为啥出错，希望大佬能帮忙看一下，感谢！

[code]

[2022-04-12 10:46] Han-YLun commented on #41709
[code]

[2022-04-12 11:12] ceci3 commented on #41673
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/summary_cn.html#summary
可以用这个api哈

[2022-04-12 11:14] ceci3 commented on #41682
可能是动静态图混用了，麻烦贴一下可复现的代码哈

[2022-04-12 11:16] ceci3 commented on #41687
请问这具体是哪一个loss 函数

[2022-04-12 11:18] ceci3 commented on #41688
shape设置成[0，4]应该不行，换成[1,4]呢

[2022-04-12 11:18] ceci3 commented on #41698
这个接口里没有归一化操作，您如果需要可以在外面归一化哈

[2022-04-12 11:19] Wei-JL commented on #41688
您好~ 我是在复现中遇见的torch里面也会有这样的情况初夏 shape=[0, 4]  tensor 还是会加到cls_targets里面  如果我去掉这个空的 会有什么影响吗？

[2022-04-12 11:23] ceci3 commented on #41707
可以直接调用cast op

[2022-04-12 11:24] ceci3 commented on #41709
nccl看起来有问题，可以尝试单卡运行程序

[2022-04-12 11:25] Han-YLun commented on #41709
怎么单卡运行程序

[2022-04-12 11:29] Ligoml commented on #41514
现在还不行，等v2.3rc版正式发布后就可以了

[2022-04-12 11:38] #41698 closed, assigned to nobody

[2022-04-12 11:39] LDOUBLEV commented on #41667
python进程经常会出现退出异常的问题；
用指令看下哪些进程没有释放：
ps -ef |grep python
可以用如下指令kill 所有运行train.py的残留进程，实测有效
ps -axu | grep train.py | awk '{print $2}' | xargs kill -9

[2022-04-12 11:41] jerryuhoo commented on #41707
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/cast_cn.html
看了下说明文档好像不支持complex的类型

[2022-04-12 11:51] Han-YLun commented on #41709
我使用--runtime=nvidia -e NVIDIA_VISIBLE_DEVICES=1 创建docker容器时指定了单卡，但是还是这个问题

[2022-04-12 11:52] Han-YLun commented on #41709
[code]

[2022-04-12 11:52] Dandelion111 commented on #41673
谢谢，我想看一下PaddleDetection中的模型参数量，         https://github.com/PaddlePaddle/PaddleDetection/blob/424edee7813df58d580b57461f574b70051597e5/ppdet/modeling/backbones/lcnet.py#L240
这个地方inputs是一个字典，这个时候应该怎么用summary()呢？

[2022-04-12 12:38] Stave604671 commented on #41687
paddle.nn.functional.loss的.py文件里面

[2022-04-12 13:28] chenwhql commented on #41248
用最新的develop做了下实验，发现跟您报错的现象不太一样，比较奇怪，我还在分析
<img width="1686" alt="image" src="https://user-images.githubusercontent.com/22561442/162973240-c2c787cf-10a7-49d0-b06d-020188530da9.png">

[2022-04-12 13:50] xu98bin commented on #41482
【队伍】：扛把子
【序号】：4
【论文】：CvT: Introducing Convolutions to Vision Transformers
【状态】：报名
【repo链接】：https://github.com/xu98bin/CvT

[2022-04-12 13:51] xu98bin commented on #41482
【队名】：扛把子

【序号】：4

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/xu98bin/CvT

[2022-04-12 14:00] robinbg commented on #41482
【队名】：自动AC机

【序号】：8

【论文】：A ConvNet for the 2020s

【状态】：报名

【repo链接】：https://github.com/robinbg/Paddle-ConvNet

[2022-04-12 14:33] wangjincheng123456 commented on #40283
在通信量、收敛精度两个指标上和论文对齐？论文里面实验用到的显卡数量特别多，没有这么多显卡，这个该怎么跑实验，怎么和论文里面对齐呢？

[2022-04-12 16:06] BamLubi commented on #41482
【队名】：BamTeam

【序号】：117

【论文】：Detecting Beneficial Feature Interactions for Recommender Systems

【状态】：提交

【repo链接】：https://github.com/BamLubi/Paddle-SIGN

[2022-04-12 16:09] 18XiWenjuan commented on #41482
【队名】：咕咕咕

【序号】：106

【论文】：[Efficient Low-rank Multimodal Fusion with Modality-Specific Factors](https://arxiv.org/abs/1806.00064)

【状态】：报名 && 提交

【repo链接】：https://github.com/18XiWenjuan/LMF_Paddle

[2022-04-13 00:26] pidanbushidan commented on #41482
【队名】：啊对对队

【序号】：93

【论文】：Learning Enriched Features for Real Image
Restoration and Enhancement

【状态】：报名

【repo链接】：https://github.com/pidanbushidan/MIRNet-1

[2022-04-13 01:27] Handi-Zhang commented on #41482
【队名】：PinDonuts

【序号】：138

【论文】：Systems Biology: Identifiability analysis and parameter identification via systems-biology informed neural networks

【状态】：报名

【repo链接】：https://github.com/Handi-Zhang/PaddleChallenge138

[2022-04-13 01:46] tricksterANDthug opened #41723 "hook函数"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）
pytorch中有register_full_backward_hook，这个在梯度激活映射中比较好用，paddle这块目前没有对应的功能

### 替代实现 Alternatives

tensor中有对应的注册hook功能(register_hook)

[2022-04-13 01:48] tricksterANDthug opened #41724 "paddle有对应backward_hook功能吗"
### 请提出你的问题 Please ask your question

register_full_backward_hook 这个是pytorch中的功能，但是paddle api中只有前向传播的hook，没有反向传播的hook

[2022-04-13 02:11] miemie2013 commented on #41248
辛苦了！

[2022-04-13 02:20] JacobYeah commented on #41482
【队名】：对对对对对对

【序号】：69

【论文】：Voxel R-CNN: Towards High Performance Voxel-based 3D Object Detection

【状态】：报名

【repo链接】：https://github.com/JacobYeah/paddleGame_VoxelRCNN.git

[2022-04-13 02:36] wa008 opened #41729 "Paddle 有 adam + Warmup 的优化器吗？"
### 需求描述 Feature Description

如题，对标 pytroch 的 Radam  https://pytorch.org/docs/stable/generated/torch.optim.RAdam.html?highlight=radam#torch.optim.RAdam

### 替代实现 Alternatives

_No response_

[2022-04-13 02:39] wj-Mcat commented on #41482
I'm sorry to say that I write the wrong number of tasks, which I should write **141**, but I have written **114**. So can you help me to change it to 141 and modify the application info in task list. Thanks a lot.

[2022-04-13 03:29] mnmhouse commented on #40234
【队名】：张浩
【序号】：98
【状态】：报名
【链接】：https://github.com/mnmhouse/PaddleDTX

[2022-04-13 03:40] jerryuhoo commented on #41710
已解决，我出错的原因是应该先用transpose而不是直接reshape

[2022-04-13 03:43] simonsLiang commented on #41482
【队名】：高级伴读书童

【序号】：52

【论文】：Progressive Image Deraining Networks: A Better and Simpler Baseline

【状态】：提交

【repo链接】：https://github.com/simonsLiang/PReNet_paddle

[2022-04-13 03:48] jerryuhoo commented on #41710
虽然输出一致，但是速度变得特变慢，基本不可用。这是我目前的代码，请问还有什么能改进的地方吗？或者说有什么方法可以让einsum实现六维以上的tensor操作？
[code]

[2022-04-13 05:12] justld commented on #41482
【队名】：dudu

【序号】：32

【论文】：CCNet: Criss-Cross Attention for Semantic Segmentation

【状态】：报名&提交

【repo链接】：https://github.com/justld/CCNet_paddle

[2022-04-13 05:12] lzzzzzm commented on #41482
【队名】：只想学习学习

【序号】：89

【论文】：Remote Sensing Image Change Detection with Transformers

【状态】：报名

【repo链接】：https://github.com/lzzzzzm/Paddle_BIT-CD

[2022-04-13 05:26] kongdebug commented on #41482
【队名】：不爱做科研的KeyL

【序号】：88

【论文】：[SNUNet-CD: A Densely Connected Siamese Network for Change Detection of VHR Images](https://ieeexplore.ieee.org/document/9355573)

【状态】：提交

【repo链接】：https://github.com/kongdebug/SNUNet-Paddle

[2022-04-13 05:26] lzzzzzm commented on #41482
你发过来的邮件怎么都是乱码啊，什么都看不到，再发一次吧。

[2022-04-13 05:33] bcc2974874275 commented on #41482
【队名】：bingbing的团队

【序号】：95

【论文】：Restormer: Efficient Transformer for High-Resolution Image Restoration

【状态】：报名

【repo链接】：https://github.com/bcc2974874275/Restormer

[2022-04-13 05:38] Gy2201110112 commented on #41482
【队名】：bingbing的团队

【序号】：50

【论文】：Video Super-Resolution Transformer

【状态】：报名

【repo链接】：https://github.com/Gy2201110112/VSR-Transformer

[2022-04-13 05:55] youngAt19 commented on #41482
【队名】：qifei

【序号】：98

【论文】：IBOT : IMAGE BERT PRE-TRAINING WITH ONLINE TOKENIZER

【状态】：报名

【repo链接】：https://github.com/youngAt19/ibot_paddle

[2022-04-13 05:59] JunnYu commented on #41482
【队名】：NLP题变难了

【序号】：110

【论文】：XLM: Cross-lingual Language Model Pretraining

【状态】：报名

【repo链接】：https://github.com/JunnYu/xlm_paddle

[2022-04-13 06:08] Gy2201110112 commented on #41482
【队名】：bingbing的团队

【序号】：96

【论文】：HINet: Half Instance Normalization Network for Image Restoration

【状态】：报名

【repo链接】：https://github.com/Gy2201110112/HINet

[2022-04-13 06:09] jerryuhoo commented on #41707
找到了api：paddle.complex

[2022-04-13 06:09] #41707 closed, assigned to ceci3

[2022-04-13 06:22] youngAt19 commented on #41482
【队名】：qifei

【序号】：41

【论文】：ChestX-ray8: Hospital-scale Chest X-ray Database and Benchmarks on Weakly-Supervised Classification and Localization of Common Thorax Diseases

【状态】：报名

【repo链接】：https://github.com/youngAt19/chest_paddle

[2022-04-13 06:23] Senwei-Huang opened #41744 "运行paddle安装验证代码报错/警告paddle.utils.run_check()"
### bug描述 Describe the Bug

代码：
import paddle
paddle.utils.run_check()

输出：
Running verify PaddlePaddle program ...
PaddlePaddle works well on 1 CPU.
**W0412 23:16:06.400868 38450 fuse_all_reduce_op_pass.cc:76] Find all_reduce operators: 2. To make the speed faster, some all_reduce ops are fused during training, after fusion, the number of all_reduce ops is 2.**
PaddlePaddle works well on 2 CPUs.

[2022-04-13 06:23] Senwei-Huang opened #41745 "paddle2.2.2创建张量时遇到NumPy弃用警告：DeprecationWarning"
### bug描述 Describe the Bug

代码：
import paddle
print(paddle.to_tensor([0,1]))

输出：
/home/senweihuang/anaconda3/lib/python3.9/site-packages/paddle/tensor/creation.py:130: **DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and

[2022-04-13 06:31] miemie2013 commented on #41248
大佬，或者直接给原生gather算子加一个二阶导吧，实现起来对你来说应该也不难，二阶导还是gather。像什么F.grid_sample()，只要gather能支持二阶导，也能凑出它们的二阶导。

[2022-04-13 07:11] zkh2016 commented on #40272
可以参考`paddle.divide`，out = paddle.divide(x, y)，当y中有0的时候，对应位置返回inf。C++端可以参考`DivideKernel`和`DivideFunctor`的处理。

[2022-04-13 07:11] zkh2016 commented on #40272
可以参考paddle.divide，out = paddle.divide(x, y)，当y中有0的时候，对应位置返回inf。C++端可以参考DivideKernel和DivideFunctor的处理。

[2022-04-13 07:13] jerryuhoo opened #41748 "istft算子动转静，输入不定长报错"
### 请提出你的问题 Please ask your question

用了InputSpec，由于输入是不定长的所以输入的shape是-1，请问如何解决呢？之前看到#40113 加入了stft和istft的支持。@KPatr1ck
[code]

[2022-04-13 07:54] tongxin commented on #41710
Hi，你好
你这个例子里面建议把 b, i 维度合并就能直接调用Einsum了。

[2022-04-13 07:55] ceci3 commented on #41688
可以去掉看下结果是不是正确的

[2022-04-13 07:56] ceci3 commented on #41687
嗯嗯，这里面的哪一个function呢？

[2022-04-13 07:58] txyugood commented on #41482
【队名】：txyugood

【序号】：63

【论文】：Multiresolution Knowledge Distillation for Anomaly Detection

【状态】：报名/提交

【repo链接】：https://github.com/txyugood/Knowledge_Distillation_AD_Paddle

[2022-04-13 07:59] lunalulu commented on #41582
请问解决了吗？ @yhcc

[2022-04-13 08:06] Stave604671 commented on #41687
paddle.nn.functional.loss.py文件
cross_entropy函数，源码第1719行，这里没有考虑label数值的起点为1的情况强行报错

[2022-04-13 08:09] AI-Mart commented on #41482
你好，能截个图吗，指的哪个？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月13日(星期三) 中午1:27
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nb

[2022-04-13 08:13] jerryuhoo commented on #41710
感谢回复，虽然成功了，但是静态模型推理的速度比动态模型慢了30多倍。

[2022-04-13 08:31] LuoGenLi commented on #40234
【队名】：汤了个圆了个汤
【序号】：22
【状态】：报名
【链接】：#40311

[2022-04-13 08:32] gsq7474741 commented on #40272
@zkh2016 经过测试，x不为0而y为0的位置会得到inf，和dense tensor没有区别，问题是两个稀疏tensor对应都为0的位置，如果按dense的算法除出来是nan，但是稀疏tensor压缩了0元素，不会对x, y都为0的位置进行运算，所以还原成dense tensor后本应为nan的位置会还原成0，无法实现这样的返回，例如
[code]

请问这里怎么处理，还是说这种两个稀疏tensor对应位置为0的除法是没有意义的，忽略即可
感谢解答

[2022-04-13 09:08] graceneu commented on #41482
【队名】：斑马

【序号】：105

【论文】：[FFA-Net: Feature Fusion Attention Network for Single Image Dehazing](https://arxiv.org/abs/1911.07559)

【状态】：报名/提交

【repo链接】：https://github.com/graceneu/FFA-Net-Paddle

[2022-04-13 09:59] chenwhql commented on #41248
这个需求我会跟相关同学报一下的，我们还在2.3发版攻坚期，近期很难安排。。。而且这个bug看起来是框架的问题，该查还是得接着查的，因为这个报错是在transpose_grad执行的时候，直接跳到了meshgrid，这着实不应该

[2022-04-13 09:59] yeyupiaoling opened #41767 "多卡获取模型的某一层输出"
### 请提出你的问题 Please ask your question

单卡的时候，我可以`model.backbone(data)`模型模型指定层的输出

多卡的时候，model是DataParallel对象了。`model.backbone(data)`会报错，应该要这么写才能获取指定层的输出？
[code]

[2022-04-13 10:03] Han-YLun commented on #41709
paddlegpu版本不對:
post後面是cuda版本
python -m pip install paddlepaddle-gpu==2.1.1.post112 -f https://paddlepaddle.org.cn/whl/mkl/stable.html

實在不行去 https://www.paddlepaddle.org.cn/whl/mkl/stable.html 下2.0.2版本手動裝

使用这个解决了问题

[2022-04-13 10:04] Han-YLun commented on #41709
https://github.com/PaddlePaddle/PaddleOCR/issues/5387

[2022-04-13 10:04] #41709 closed, assigned to ceci3

[2022-04-13 10:22] #41686 closed, assigned to zlsh80826

[2022-04-13 10:50] qusiyu1 commented on #40234
【队名】：大麻花
【序号】：37
【状态】：报名
【链接】：#40234

[2022-04-13 11:06] SWHL commented on #40559
- 我也遇到同样的问题
- 系统版本：
[code]
- 单独安装paddle-bfloat命令:
[code]
- 报错信息:
[code]
- 猜测原因，可能丢失以下两个文件：
[code]

[2022-04-13 11:34] rs-lsl commented on #41482
【队名】：cug_rs615

【序号】：95

【论文】：Restormer: Efficient Transformer for High-Resolution Image Restoration

【状态】：报名

【repo链接】：https://github.com/rs-lsl/Restormer_paddle

[2022-04-13 11:45] rs-lsl commented on #41482
【队名】：cug_rs615

【序号】：75

【论文】：Two-Stream Adaptive Graph Convolutional Networks for Skeleton-Based Action Recognition

【状态】：报名

【repo链接】：https://github.com/rs-lsl/2s-AGCN_paddle

[2022-04-13 12:05] #41602 closed, assigned to frankwhzhang

[2022-04-13 12:17] tongxin commented on #41710
请提供下修改后的的代码和对比性能给我们看下

[2022-04-13 12:43] zkh2016 commented on #40272
这里应该是要保持elementwise除法的原本定义，sparse的除法应该把0考虑进去，[1, 0]     /   [1, 0] 这个应该等于[1, nan]。

[2022-04-13 13:33] miemie2013 commented on #41248
辛苦大佬了！

[2022-04-13 14:41] LuoGenLi commented on #41482
【队名】：汤了个圆了个汤
【序号】：26
【论文】：KeepTrack: Learning Target Candidate Association to Keep Track of What Not to Track
【状态】：报名
【repo链接】：https://github.com/LuoGenLi/LTAC_paddle

[2022-04-13 15:50] gsq7474741 commented on #40272
问题1：这样的话在大规模稀疏tensor下要在结果中对每个xy都为0的位置存入nan，是否丧失了稀疏tensor压缩存储空间，提高运算效率的初衷
问题2：如果要保留除法本身定义的话，可否实现为：xy都转换为dense进行一般elementwise除法，然后再把结果转回稀疏tensor

[2022-04-14 00:18] jiaohuix opened #41779 "【脚本任务】脚本任务没有错误日志，直接失败了，请问这是怎么回事？"
### 请提出你的问题 Please ask your question

如题，没有错误日志，直接失败了。。。
![image](https://user-images.githubusercontent.com/68314259/163290007-248254c1-26ed-467e-985d-865ec563c209.png)
![image](https://user-images.githubusercontent.com/68314259/163290028-f8153c6d-390f-4adb-8ce0-ab013055c226.png)

[2022-04-14 01:19] FrostML commented on #41779
请问这是什么的界面？有网址什么的么？

[2022-04-14 01:20] jiaohuix commented on #41779
您好，这是脚本任务的界面。

[2022-04-14 01:31] jiaohuix commented on #41779
比如这个：https://aistudio.baidu.com/aistudio/clusterprojectdetail/2262178

[2022-04-14 01:49] zkh2016 commented on #40272
sparse不应该改变基础的计算规则，计算结果应该和dense的一致，既然是逐元素除法就应该把每个元素都考虑进去的。有些sparse计算结果会变成dense的，这个正常。

全部转成dense是一种比较容易实现的方法，但是需要多次格式转换，可以思考下只把y转换成dense进行计算是否效率会更高一些。

[2022-04-14 02:04] FrostML commented on #41779
使用的 AI Studio？我转给 AI Studio 值班看下

[2022-04-14 02:05] jerryuhoo commented on #41710
[code]
cpu输出：
[code]

[2022-04-14 02:05] jiaohuix commented on #41779
是的，aistudio的脚本任务，没有报错。

[2022-04-14 02:08] jerryuhoo commented on #41710
好像只要输入有一维是不定长，静态模型推理时间就会很慢

[2022-04-14 02:16] LielinJiang commented on #41748
麻烦您提供下最小可复现的代码

[2022-04-14 02:17] LielinJiang commented on #41748
repeat_times，应该是这个参数是小于0的，看看能否变成一个tensor

[2022-04-14 02:18] LielinJiang commented on #41744
seems everything works fine?

[2022-04-14 02:19] hohdiy commented on #41779
内存溢出了。界面上应该能看到这个提示。

[2022-04-14 02:21] jiaohuix commented on #41779
没有这个提示额，我在notebook调试下看看

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月14日(星期四) 上午10:19
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 【脚本任务】脚本任务没有错误日志，直接失败了，请问这是怎么回事？ (Issue #41779)

内存溢出了。界面上应该能看到这个提示。

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored

[2022-04-14 02:32] hohdiy commented on #41779
是的，数据库里记录了，但是没有反应到界面上，这个已经提交改进卡片，多谢反馈。

[2022-04-14 02:34] jiaohuix commented on #41779
非常感谢，祝越来越好

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月14日(星期四) 上午10:32
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 【脚本任务】脚本任务没有错误日志，直接失败了，请问这是怎么回事？ (Issue #41779)

是的，数据库里记录了，但是没有反应到界面上，这个已经提交改进卡片，多谢反馈。

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you au

[2022-04-14 02:35] jerryuhoo commented on #41748
[code]

报错信息：
[code]

[2022-04-14 02:59] geekhch opened #41785 "混合精度训练在多卡服务器上训练报错：cudaErrorIllegalAddress"
### bug描述 Describe the Bug

训练报错：OSError: (External) transform: failed to synchronize: cudaErrorIllegalAddress: an illegal memory access was encountered (at /paddle/paddle/fluid/imperative/basic_engine.cc:578)。报错代码：
[code]

经过调试发现是GradScaler()对象的状态信息默认存储在GPU:0，并且无法设置自定义place， 但是模型参数使用GPU:1计算，导致上述错误。

### 其他补充信息 Additional Supplementary Information
除了无法使用其他gpu，在单机多卡并行的时候使用这个api也会出错

[2022-04-14 03:04] ACALJJ32 commented on #41482
【队名】：ACALJJ32
【序号】：7
【论文】：Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data
【状态】：报名
【repo链接】：https://github.com/ACALJJ32/Real_ESRGAN_paddle_light

[2022-04-14 03:06] janelu9 commented on #41682
这个是 swin transformer的代码是动态图 我现在就是要把它转成静态图 然后就报错了
https://gitee.com/janelu9/TrOCR/blob/main/swin_transformer.py

[2022-04-14 03:20] janelu9 commented on #41682
这个是 swin transformer的代码是动态图 我现在就是要把它转成静态图 然后就报错了
https://gitee.com/paddlepaddle/PaddleClas/blob/release/2.3/ppcls/arch/backbone/model_zoo/swin_transformer.py

[2022-04-14 03:21] sldyns commented on #41482
【队名】：科研累了摸会鱼
【序号】：94
【论文】：SwinIR:Image Restoration Using Swin Transformer
【状态】：报名
【repo链接】：https://github.com/sldyns/SwinIR_paddle

[2022-04-14 03:32] graceneu commented on #41482
【队名】：斑马

【序号】：105

【论文】：[FFA-Net: Feature Fusion Attention Network for Single Image Dehazing](https://arxiv.org/abs/1911.07559)

【状态】：报名

【repo链接】：https://github.com/graceneu/FFA-Net-Paddle

[2022-04-14 03:48] Victory8858 commented on #41482
【队名】：Victory8858

【序号】：12

【论文】：See Better Before Looking Closer: Weakly Supervised Data Augmentation Network for Fine-Grained Visual Classification

【状态】：提交

【repo链接】：https://github.com/Victory8858/WS-DAN-Paddle

[2022-04-14 03:56] YangQiangli commented on #41482
【队名】：a單曲循環b
【序号】：19
【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution
【状态】：报名
【repo链接】：https://github.com/YangQiangli/AI_Studio-DetectoRS

[2022-04-14 04:27] txyugood commented on #41482
【队名】：txyugood

【序号】：63

【论文】：Multiresolution Knowledge Distillation for Anomaly Detection

【状态】：报名/提交3

【repo链接】：https://github.com/txyugood/Knowledge_Distillation_AD_Paddle

[2022-04-14 04:39] FrostML commented on #41785
多卡训练启动方式以及 Python API 使用可以参考 [单机多卡训练文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/06_device_cn.html#launch)
使用 `paddle.DataParallel()` 且放在 `paddle.amp.GradScaler()` 之后执行。
device 设置可以直接用 `paddle.set_device("gpu")` 无需指定 `gpu:0`。

[2022-04-14 06:28] zyfncg commented on #41248
您好，使用 https://github.com/miemie2013/ppgan/tree/develop 的最新代码，运行`python test2_54_Discriminator_grad_paddle.py`出现如下报错：
<img width="1127" alt="image" src="https://user-images.githubusercontent.com/13048366/163326011-3cddd275-8ed4-4de7-a467-ad57ac8aeeb6.png">
之前自定义算子的错误复现不出来了，请问是代码的更新导致的吗？

[2022-04-14 06:45] gsq7474741 commented on #40272
好滴 我研究研究

[2022-04-14 08:31] YangQiangli commented on #41482
【队名】：a單曲循環b

【序号】：19

【论文】：DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution

【状态】：报名

【repo链接】：https://github.com/YangQiangli/AI_Studio-DetectoRS

[2022-04-14 08:40] AnnYellow commented on #41482
【队名】：我又来啦！

【序号】：7

【论文】：Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data

【状态】：报名

【repo链接】：[https://github.com/AnnYellow/paddle_realESRGAN](https://github.com/AnnYellow/paddle_realESRGAN)

飞桨特色模型挑战赛

[2022-04-14 08:46] stunback commented on #37733
我在复现论文时也发现了这个问题：
[code]
上面这段程序，注释掉的二维切片索引会报`Valid index accept int or slice or ellipsis or list, but received [Tensor(shape=[4], dtype=int32, place=CUDAPlace(0), stop_gradient=True, [0, 1, 0, 1]), 0].`，这应该不只是bool索引的问题，只要包含list的二维索引都会出现这个问题。

[2022-04-14 08:48] geekhch commented on #41785
我指问题的不是多卡训练，而是服务器上有多张显卡，但gpu:0被其他进程占用，我需要使用gpu:1训练。另外，即使单机多卡并行训练，DataParallel对模型结构的局限性较大，例如无法使用in-batch对比loss，我需要使用spawn启动并行。

[2022-04-14 08:49] geekhch commented on #41785
我指问题的不是多卡训练，而是服务器上有多张显卡，但gpu:0被其他进程占用，我需要使用gpu:1训练。另外，即使单机多卡并行训练，DataParallel对模型结构的局限性较大，例如不便使用in-batch对比loss，我需要使用spawn启动并行。

[2022-04-14 09:03] frankwhzhang commented on #41591
model.save调用的结果是pdi吗？

[2022-04-14 09:29] youngAt19 commented on #41482
【队名】：qifei

【序号】：7

【论文】：Real-ESRGAN: Training Real-World Blind Super-Resolution with Pure Synthetic Data

【状态】：报名

【repo链接】：https://github.com/youngAt19/Real_ESRGAN--

飞桨特色模型挑战赛

[2022-04-14 09:50] youngAt19 commented on #41482
【队名】：qifei

【序号】：11

【论文】：Destruction and Construction Learning for Fine-grained Image Recognition

【状态】：报名

【repo链接】：https://github.com/youngAt19/dcl_paddle

[2022-04-14 09:57] JiabinYang commented on #40013
I'm sooooo sorry that for some reason we delayed our development plan. We are still working on this problem and it maybe fixed after May.... in develop branch.

[2022-04-14 10:11] ZHUI opened #41819 "[BUG] Tensor.cuda 默认传入None参数时，设备有误"
### bug描述 Describe the Bug

https://github.com/PaddlePaddle/Paddle/blame/develop/paddle/fluid/pybind/imperative.cc#L1533-L1536

[code]
这里的 传入 device_id 为 None 的时候，有问题。应该去 获取 当前设备 的 device_id，这里直接没有处理，默认是 0

### 其他补充信息 Additional Supplementary Information

在分布式训练中，都用将 pin_memory 的tensor手动拷贝到GPU时遇到。

[2022-04-14 10:26] miemie2013 commented on #41248
对，我一直在写。你用 https://aistudio.baidu.com/aistudio/projectdetail/3724521 的代码吧

[2022-04-14 10:30] miemie2013 commented on #41482
【队名】：咩酱

【序号】：45

【论文】：Training Generative Adversarial Networks with Limited Data

【状态】：报名

【repo链接】：https://github.com/miemie2013/ppgan

[2022-04-14 10:47] Victory8858 commented on #41482
【队名】：Victory8858

【序号】：29

【论文】：Dynamic Anchor Learning for Arbitrary-Oriented Object Detection

【状态】：报名

【repo链接】：https://github.com/Victory8858/DAL-Paddle

[2022-04-14 11:59] lvxinyao-sdun commented on #41482
【队名】：李娜说的都

【序号】：4

【论文】：CvT: Introducing Convolutions to Vision Transformers

【状态】：报名

【repo链接】：https://github.com/lvxinyao-sdun/Paddle_CvT

[2022-04-14 12:18] shichenhui commented on #41482
【队名】：这里是队名

【序号】：140

【论文】：A Closer Look at Few-shot Classification

【状态】：报名

【repo链接】：https://github.com/shichenhui/Few-shotClassification_Paddle

[2022-04-14 13:00] franva commented on #40234
【队名】：西域大菠菜

【序号】：85

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/Paddle2ONNX/pull/685
这次的提交加入了对3个OCR模型的转换.

之前的[PR](https://github.com/PaddlePaddle/Paddle2ONNX/pull/662)已经被Merge.

[2022-04-14 13:10] FrostML commented on #41785
export CUDA_VISIBLE_DEVICES=1

[2022-04-14 13:20] thunder95 commented on #41621
经过几天的代码研究和排查，仍旧没找到问题， 打印了一些日志，op和kernel确实是被注册的，但是最终的allopkernels确实打印出来没有我注册的op， 已经提交pr, 辛苦帮忙看一下  https://github.com/PaddlePaddle/Paddle/pull/41823

[2022-04-14 13:42] Stave604671 commented on #41482
【队名】：时雨

【序号】：11

【论文】：Destruction and Construction Learning for Fine-grained Image Recognition

【状态】：报名

【repo链接】：https://github.com/Stave604671/PaddlePaddleDCL

[2022-04-14 13:56] Asthestarsfalll commented on #40234
【队名】：我完全没想法
【序号】：12
【状态】：提交PR
【链接】：https://github.com/PaddlePaddle/PaddleScience/pull/41825

[2022-04-14 13:58] txyugood commented on #41482
【队名】：txyugood

【序号】：90

【论文】：Invertible Denoising Network: A Light Solution for Real Noise Removal

【状态】：报名

【repo链接】：https://github.com/txyugood/InvDN_Paddle

[2022-04-14 14:31] ImNoBadBoy commented on #40234
【队名】：xd_no-bad
【序号】：111
【状态】：报名
【链接】：https://github.com/ImNoBadBoy/Paddle

[2022-04-14 15:04] yuzhi535 commented on #41482
【队名】：魔芋爽

【序号】：37

【论文】：nnFormer: Interleaved Transformer for Volumetric Segmentation

【状态】：报名

【repo链接】：https://github.com/yuzhi535/nnFormer-Paddle

[2022-04-14 15:08] yt605155624 commented on #41710
你静态图推理是不是开 mkldnn 了，动态 shape mkldnn 每次见到不同的长度都要重新编译…

[2022-04-14 15:14] kongdebug commented on #41482
【队名】：不爱做科研的KeyL

【序号】：88

【论文】：[SNUNet-CD: A Densely Connected Siamese Network for Change Detection of VHR Images](https://ieeexplore.ieee.org/document/9355573)

【状态】：提交

【repo链接】：https://github.com/kongdebug/PaddleRS

[2022-04-14 15:53] gsq7474741 opened #41827 "【PFCC】使用python调用api时对c++后端debug的问题"
1. 使用python调用api时如何对c++后端进行debug？
    - _C_ops调用后端时具体调用的是哪个文件？
    - phi库的反向算子是如何调用的？

2. c++代码中的VLOG()问题？
    - 运行时是否会输出log信息？
    - 会把日志记录到哪里？

[2022-04-14 16:05] CuberrChen commented on #41482
【队名】：波波啥也不会

【序号】：60

【论文】：PaDiM: A Patch Distribution Modeling Framework for Anomaly Detection and Localization

【状态】：报名&&提交

【repo链接】：https://github.com/CuberrChen/PaDiM-Paddle

[2022-04-14 16:08] gsq7474741 commented on #41827
使用的IDE是clion（它的调试器后端是lldb），在c++层面的调试ide会自动把可执行文件传给lldb，但是在python层调用的时候就不行，应该给调试器传哪个文件呢？

[2022-04-14 16:10] gsq7474741 commented on #41827
@TCChenlong @jeff41404

[2022-04-14 16:44] flytocc commented on #41482
【队名】：拼手速

【序号】：9

【论文】：Visual Attention Network

【状态】：提交

【repo链接】：https://github.com/flytocc/PaddleClas_VAN-Classification

[2022-04-14 17:26] gsq7474741 commented on #41827
使用lldb直接附加到python进程上的话好像不行，请问内部是怎么调试的呀

[2022-04-15 00:57] flytocc commented on #41482
【队名】：拼手速

【序号】：2

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：报名&提交

【repo链接】：https://github.com/flytocc/CycleMLP-paddle

[2022-04-15 01:33] jerryuhoo commented on #41710
没有开mkldnn，这个默认应该是不开启的吧，我试了下加上FLAGS_use_mkldnn=True会报错，
[code]

[2022-04-15 02:13] FrostML commented on #41827
#### 使用 python 调用 api 时如何对 c++ 后端进行debug？

_C_ops.xxx 的代码是自动生成出来的，这里有一个简要的[说明](https://github.com/PaddlePaddle/Paddle/issues/35669#issuecomment-917874522)
_C_ops.xxx 调用的 xxx op 即可直接去找 xxx_op.h 或是 xxx_op.cc 的文件。

比如：layer_norm op
[code]
即可直接找到 [layer_norm_op.cc](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/layer_norm_op.cc) 文件。最下面能找到当前 op 在框架内注册的代码。

具体的 op 所调用的实现 kern

[2022-04-15 02:31] CuberrChen commented on #41482
【队名】：波波啥也不会

【序号】：60

【论文】：PaDiM: A Patch Distribution Modeling Framework for Anomaly Detection and Localization

【状态】：报名&&提交2

【repo链接】：https://github.com/CuberrChen/PaDiM-Paddle

[2022-04-15 02:36] Mr-SGXXX commented on #41482
【队名】：Mr_XXX
【序号】：43
【论文】：Taming Transformers for High-Resolution Image Synthesis
【状态】：报名
【repo链接】：https://github.com/Mr-SGXXX/Paddle-Taming-Transformers

[2022-04-15 02:49] Ligoml commented on #41637
你好，经过飞桨团队内部讨论，我们认为API的行为应当与文档描述一致，不能因为pytorch存在相同的问题而不去修复，因此我们将该问题定位为是API bug，十分欢迎你来修复这个问题~可以参考类似功能的API [paddle.optimizer.lr.ExponentialDecay](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/lr/ExponentialDecay_cn.html#exponentialdecay)

[2022-04-15 02:58] ELKYang commented on #41482
【队名】：Try

【序号】：75

【论文】：Two-Stream Adaptive Graph Convolutional Networks for Skeleton-Based Action Recognition

【状态】：报名

【repo链接】：https://github.com/ELKYang/2s-AGCN-paddle

[2022-04-15 03:08] Mr-SGXXX commented on #41482
【队名】：Mr_XXX

【序号】：1

【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search

【状态】：报名

【repo链接】：https://github.com/Mr-SGXXX/Paddle-Cream

[2022-04-15 03:26] BaiEJi commented on #41482
【队名】：信息楼404

【序号】：108

【论文】：Longformer: The Long-Document Transformer

【状态】：报名

【repo链接】：https://github.com/BaiEJi/Longformer_paddle

[2022-04-15 03:35] najsword opened #41835 "ExternalError: CUBLAS error(1). gpu下運行一段時間，程序崩潰退出"
### bug描述 Describe the Bug

cuda:10.2
cudnn:8.3
tensortRT:7.2.3.4
paddle預測庫：manylinux_cuda10.2_cudnn8.1_avx_mkl_trt7_gcc5.4
系統：unbuntu16

問題描述：運行一段時間，檢測幾張圖片後，程序就退出崩潰。
崩潰信息：

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   PaddleOCR::DBDetector::Run(cv::Mat&, std::vector<std::vector<std::vector<int, std::allocator<int> >, std:

[2022-04-15 04:16] xiaoguoguo626807 opened #41837 "[PFCC] heckathon No5 API开发问题 及 解答"
### 问题描述 Please describe your issue

1.in_dygraph_mode() 和 in_dynamic_mode() 区别 （后续会合并）
2.InferMeta 和OP类中infershape函数效果相同  （以InferMeta开发）
3.pre-commit install 后 会在git add 后 对add 的文件进行格式检查 git commit 时自动执行，或手动在 add 后 执行 （命令行 pre-commit,不加--all-files 避免修改其他文件)

[2022-04-15 04:34] zlsh80826 commented on #41182
This problem has been fixed and verified on release/2.3. Closed.
Thanks @zhiqiu's help.

[2022-04-15 04:34] #41182 closed, assigned to liutiexing

[2022-04-15 04:51] yoreG123 commented on #41482
【队名】：Tukta

【序号】：123

【论文】：Modeling the Sequential Dependence among Audience Multi-step Conversions with Multi-task Learning in Targeted Display Advertising

【状态】：报名

【repo链接】：https://github.com/yoreG123/AITM_paddle

[2022-04-15 05:38] yangcedrus commented on #41482
【队名】：卡卡卡

【序号】：99

【论文】：Exploring Simple Siamese Representation Learning

【状态】：报名

【repo链接】：https://github.com/yangcedrus/Paddle-SimSiam

[2022-04-15 06:13] TeslaZhao commented on #41835
您好，请补充一下Paddle的版本和模型信息

[2022-04-15 06:28] TeslaZhao commented on #41835
很可能是 cudnn:8.3 的版本不匹配，https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html#cpu-gpu

<img width="846" alt="image" src="https://user-images.githubusercontent.com/6309021/163530639-62415db6-87a6-4819-8561-debae17d5296.png">

[2022-04-15 06:32] wa008 commented on #41482
【队名】：wa007

【序号】：107

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/wa008/DeBERTa-with-Paddle

[2022-04-15 07:28] gsq7474741 commented on #41827
@FrostML 感谢解答，还一些问题：
1. python层core.eager.xxx调用的是什么？和_C_ops.xxx的关系是怎样的？
2. 我观察到[phi.cmake](https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/phi.cmake)中只会对每个xxx_kernel.cc文件中的第一个PD_REGISTER_KERNEL宏进行字符串匹配并在自动生成的build/paddle/phi/kernels/declarations.h声明，导致_C_ops无法调用到同一个cc文件中后面注册的kernel，不知道是我的理解有问题还是这个设计有特殊的意义

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/38883

[2022-04-15 07:36] sldyns commented on #41482
【队名】：科研累了摸会鱼

【序号】：92

【论文】：Beyond a Gaussian Denoiser: Residual Learning of Deep CNN for Image Denoising

【状态】：报名&&提交2

【repo链接】: https://github.com/sldyns/DnCNN_paddle

[2022-04-15 07:42] amulettneo commented on #41482
【队名】：amulett.neo

【序号】：27

【论文】：Beyond a Gaussian Denoiser: Residual Learning of Deep CNN for Image Denoising

【状态】：报名

【repo链接】: https://github.com/amulettneo/DARDet_paddle

[2022-04-15 08:20] ZHUI opened #41851 "[Bug] Tensor.clone 多gpu情况下，拷贝后设备id不一致"
### bug描述 Describe the Bug

Tensor clone

https://github.com/PaddlePaddle/Paddle/blob/5a13280a6adefce404c01c8ce4eadd1052bf8d1d/paddle/fluid/pybind/imperative.cc#L1376-L1391

### 8cafa45a 行为

[code]

如图，clone后设备id发生了变化。

### 2.4.1 行为正常
[code]

### 当前develop行为
-
<img width="1133" alt="45f354b4215e3e6d5c8bb4871bc7c57b" src="https://user-images.githubusercontent.com/16911935/216974664-75909994-748c-42

[2022-04-15 08:23] MSF2865963568 commented on #41482
【队名】：testOne

【序号】：11

【论文】：Multiresolution Knowledge Distillation for Anomaly Detection

【状态】：报名

【repo链接】: https://github.com/MSF2865963568/Mult_KD

[2022-04-15 08:39] smallwhite996 commented on #41482
【队名】：喵喵爱摸鱼

【序号】：97

【论文】：PeCo: Perceptual Codebook for BERT Pre-training of Vision Transformers

【状态】：报名

【repo链接】: https://github.com/smallwhite996/PeCo-paddle

[2022-04-15 08:41] gsq7474741 commented on #41827
@FrostML 还有一个问题，phi中新增注册的kernel也是通过_C_ops调用吗？

[2022-04-15 08:48] yulangz commented on #41482
【队名】：老和尚

【序号】：140

【论文】：[A Closer Look at Few-shot Classification](https://arxiv.org/pdf/1904.04232.pdf)

【状态】：报名

【repo链接】：[https://github.com/yulangz/few-shot-paddle/blob/main/README.md](https://github.com/yulangz/few-shot-paddle/blob/main/README.md)

[2022-04-15 08:50] smallwhite996 commented on #41482
【队名】：testOne

【序号】：98

【论文】：IBOT : IMAGE BERT PRE-TRAINING WITH ONLINE TOKENIZER

【状态】：报名

【repo链接】: https://github.com/smallwhite996/IBOT_Paddle

[2022-04-15 08:52] smallwhite996 commented on #41482
【队名】：miaooo

【序号】：98

【论文】：IBOT : IMAGE BERT PRE-TRAINING WITH ONLINE TOKENIZER

【状态】：报名

【repo链接】: https://github.com/smallwhite996/IBOT_Paddle

[2022-04-15 09:02] #41779 closed, assigned to FrostML

[2022-04-15 09:18] chenwhql commented on #41827
先说这个，[phi.cmake](https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/phi.cmake)中只会对每个xxx_kernel.cc文件中的第一个PD_REGISTER_KERNEL宏进行字符串匹配并在自动生成的build/paddle/phi/kernels/declarations.h声明，是为了导出这个文件的符号，导出的时候只需要有一个符号声明，整个文件的符号就会被导出，所以只需要导出第一个，不需要导出其他的哈，这个不会导致未DECLARE的kernel无法被_C_ops调用到的，决定_C_ops是否能调用到的是另外的机制

[2022-04-15 09:20] zhwesky2010 commented on #41851
@ZHUI 因为paddle是通过全局place来执行OP的，与Tensor.clone()没有关系

[2022-04-15 09:23] chenwhql commented on #41827
_C_ops是否能调用到主要取决与是否生成的了相应的API，目前框架正在重构，暂时存在两套生成_C_ops接口，一套是基于paddle/fluid/operators目录下的op定义注册后生成的，编译后生成的代码在paddle/fluid/pybind/op_function_impl.h中，有兴趣您可以编译一下，这一套生成和phi下面的代码无直接关联

另外一套，是正在重构的新动态图体系，会生成_C_ops.final_state_xxx相关接口，这套是根据python/paddle/utils/code_gen/api.yaml中的配置生成的，其实和phi中的kernel也没关系，api.yaml中有配置才会生成，目前并不是全量运算都会生成，还在开发，生成的代码在paddle/fluid/pybind/eager_final_state_op_function_impl.h，有兴趣您也

[2022-04-15 09:24] JerryFu2000 commented on #40234
【队名】：XueXi
【序号】：12
【状态】：报名
【链接】：https://github.com/PaddlePaddle/Paddle/pull/26550

[2022-04-15 09:26] chenwhql commented on #41827
这个问题就回答了，phi中新增注册的kernel其实都是通过_C_ops调用的，有如上两条路径，一个原来的op体系，一个是正在开发的新动态图体系，但kernel和_C_ops的生成没有直接关联，_C_ops api的生成是基于op定义的

[2022-04-15 09:28] gsq7474741 commented on #41827
[code]

喔喔，我现在在新增kernel，在sparse_api.yaml中只添加正向的就没问题，可以正常执行，但是加上了反向的就会在测试这行代码中出现
[code]
查了一下可能是内存溢出，我试图修改反向kernel的内容，但是即使反向kernel什么都不做，也会出现这个问题，不知道可能是什么原因导致的

[2022-04-15 09:31] chenwhql commented on #41827
还有个问题，_C_ops是core.eager到Python端的别名封装，两者是一样的
<img width="786" alt="image" src="https://user-images.githubusercontent.com/22561442/163554376-32f1aac4-7879-41a5-96ad-34fd68a86ea5.png">

[2022-04-15 09:32] chenwhql commented on #41827
这个我找sparse的同学帮你看下有没有遇到类似问题哈

[2022-04-15 09:34] gsq7474741 commented on #41827
好的，十分感谢解答

[2022-04-15 09:45] zkh2016 commented on #41827
@gsq7474741 可以加`GLOG_v=6 make test ARGS="-R test_sparse_activation_op -V"`看下执行到哪里了。 或者你提个PR，可以看下代码。

[2022-04-15 09:45] zugexiaodui commented on #41482
【队名】：瓜瓜瓜

【序号】：75

【论文】：Two-Stream Adaptive Graph Convolutional Networks for Skeleton-Based Action Recognition

【状态】：报名

【repo链接】：https://github.com/zugexiaodui/pdpd_2sAGCN.git

[2022-04-15 09:50] Wei-JL opened #41855 "复现的yolox的代码在本地能正常运行，复制到BML上却运行中间报错"
### bug描述 Describe the Bug

 File "/home/aistudio/yolox_paddle/nets/yolo_training.py", line 228, in get_losses
    **reg_targets = paddle.concat(reg_targets, 0)**
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/tensor/manipulation.py", line 345, in concat
    return paddle.fluid.layers.concat(input=x, axis=axis, name=name)
  File "/opt/conda/envs/python35-paddle12

[2022-04-15 09:51] gsq7474741 commented on #41827
@zkh2016 测反向开了glog但是没有任何输出，直接139，只测正向的时候是有log的，我提个pr吧

- sparse_api.yaml中只添加正向
<img width="980" alt="image" src="https://user-images.githubusercontent.com/38883252/163556466-4eda7cf2-463f-4fe5-9afb-0ceb3c97be55.png">

- sparse_api.yaml中添加正向和反向
<img width="657" alt="image" src="https://user-images.githubusercontent.com/38883252/163556234-a7cc8981-a8f7-4a14-a49a-28a3092ff705.png">

[2022-04-15 09:53] Wei-JL commented on #41855
如果可以，我可以把BML上的代码公开。 执行train文件就行。会训练到中途报错。
本机运行没问题，在本机上环境是CUDA:11.3 CUDNN:8.2.1 paddle2.2.2。

[2022-04-15 09:57] Wei-JL commented on #41855
我仔细的观察了列表reg_targets中的所有tensor，shape的第二个维度都是4, 因为其中出现shape[0, 4]的tensor，我用randn生成tensor的shape[0, 4] 加入到列表中 测试了也是可以直接concat的。 就是不知道为什么会在中间报维度的错误，求解答~~~  大佬

[2022-04-15 10:00] najsword commented on #41835
paddle预测库版本version信息：
GIT COMMIT ID: a5cf2e305b744e3ebd2f2210341f88d349d4ec5e
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
WITH_ROCM: OFF
CUDA version: 10.2
CUDNN version: v8.1
CXX compiler version: 5.4.0
WITH_TENSORRT: ON
TensorRT version: v7.2.3.4

模型版本：2.4

[2022-04-15 10:01] najsword commented on #41835
尝试cudnn版本从8.3替换为8.1后，问题仍然存在

[2022-04-15 10:20] gsq7474741 commented on #41827
@zkh2016 已提pr #41857

[2022-04-15 10:22] Wong4j opened #41858 "Error setting gradient_merge_step>1 with grad_clip for Lamb and Adamw optimizer"
### bug描述 Describe the Bug

System information
-PaddlePaddle version: v2.2.2
-GPU: A100 CUDA11.4
-OS Platform: Ubuntu 20.04

Use paddle release v2.2 and [paddlenlp/bert/static](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/bert/static) to reproduce this bug.

1. Prepare a container with `paddle v2.2.2` and `paddlenlp` environment, and a simple hdf5 dataset for BERT

[2022-04-15 10:26] Wei-JL commented on #41855
![image](https://user-images.githubusercontent.com/71386288/163560183-3ac099c4-8475-4177-877c-b79f86af3fd5.png)

然后我复现了一下，
`import paddle
import numpy as np

_list = []
x1 = paddle.randn([1, 4])
x2 = paddle.randn([32, 4])
x3 = paddle.randn([12, 4])

_list.append(x2)
_list.append(x1)
_list.append(x3)
out2 = paddle.concat(_list, axis=0)
print(out2)`

输出是正确的
![image](https://user-images.githubusercon

[2022-04-15 10:29] zkh2016 commented on #41827
ok

[2022-04-15 10:33] zhangting2020 commented on #41855
你的意思是你换了运行环境吗？检查下paddle版本一样吗

[2022-04-15 10:45] wwzh26 opened #41859 "Error when importing paddlers"
### 问题描述 Issue Description

The same error has been reported when importing paddlers. I have tried many times to create a new virtual environment and reinstall it, but it still does not solve it. Is there a better solution? Thank you very much for your help.
![image](https://user-images.githubusercontent.com/90379520/163561619-26717d46-b3b8-4d78-9fbc-3bfebd84c92b.png)

### 版本&环境信息 Version & Enviro

[2022-04-15 10:48] Wei-JL commented on #41855
我再本地运行没事的， 我放到ai studio 上 运行一半报上面的错误

[2022-04-15 10:49] Wei-JL commented on #41855
我也不知道是不是版本原因 可能是本地运气好 没遇见shape=[1, 4]的 我本地判断一下有没有[1, 4]的

[2022-04-15 11:11] Wei-JL commented on #41855
本地有[1, 4]  也不报错。 是tensor的问题吗？  把tensor shape=[1, 4]在concat里自动变成了[4]？  怎么避免这个问题呢
我再里面加判断吗

[2022-04-15 11:45] zkh2016 commented on #41827
@gsq7474741 我大概知道问题了，因为目前还没有csr的API需要求反向，所以有些地方还没添加支持，你可以先调前向逻辑，我这边会提一个PR支持SparseCsrTensor的反向。

[2022-04-15 11:47] gsq7474741 commented on #41827
喔喔 我是之前改rfc的时候加的反向，那我先把正向完善一下然后开始review吧，感谢解答

[2022-04-15 12:00] yhcc commented on #41582
没有，换了好几台服务器。每台服务器上用的都是一样的docker镜像，结果有的服务器上是ok的，有的服务器不行。有的卡是3090（有可以的安装的，也有不能安装），有的机器是1080ti（部分能安装，部分不能）

[2022-04-15 12:05] Wei-JL opened #41861 "希望官方吧ai studio的cuda版本提升一下，似乎paddle这边的concat有问题"
详情可以参考这个https://github.com/PaddlePaddle/Paddle/issues/41855 问题

[2022-04-15 12:37] wlw1701xiawei commented on #41482
【队名】：你队伍的名称

【序号】：8

【论文】：A ConvNet for the 2020s

【状态】：报名

【repo链接】：https://github.com/wlw1701xiawei/ConvneXt

[2022-04-15 12:40] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：56 57 58 59

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/41857

[2022-04-15 12:46] visa616 commented on #41482
【队名】：404宿管大队

【序号】：8

【论文】：A ConvNet for the 2020s

【状态】：报名

【repo链接】：https://github.com/wlw1701xiawei/ConvneXt

[2022-04-15 13:14] Wei-JL commented on #41861
[code]
 第三行日志可以看见shape=[1, 4] 调用paddle.concat后自动变成shape = [4] 导致整个程序报错:
ValueError: (InvalidArgument) The shape of input[0] and input[1] is expected to be equal.But received input[0]'s shape = [112, 4], input[1]'s shape = [4].

[2022-04-15 13:14] Wei-JL commented on #41855
[code]
 第5行日志可以看见shape=[1, 4] 调用paddle.concat后自动变成shape = [4] 导致整个程序报错:
ValueError: (InvalidArgument) The shape of input[0] and input[1] is expected to be equal.But received input[0]'s shape = [112, 4], input[1]'s shape = [4].

[2022-04-15 13:15] chenwhql commented on #41248
<img width="693" alt="image" src="https://user-images.githubusercontent.com/22561442/163574635-fda4c508-60f1-4ca5-ad16-846f6781b2f9.png">
我本地复现那个问题，经过一番分析，是这里导致的，自定义算子需要在文件头部import，不能在执行过程中加，否则会导致全局算子信息的指针发生偏移，之前也没暴露过这个坑

这里改到最上面import之后，可以复现您最初那个错误了，绕了个大弯，回到原点继续分析

[2022-04-15 13:25] Wei-JL commented on #41855
大佬，有点急~  您有空的话能给个回复吗？

[2022-04-15 13:28] tongxin commented on #41710
Hi，全部不定长的情况我们是按照最保守的方式实现的，所以性能会很差，我们在开发新算子，以后有望解决这个问题，目前还是需要尽量固定长度，或者仅 batch 维度不定长也可以。

[2022-04-15 13:51] zhangting2020 commented on #41855
我测试你的case确实不会报错，需要首先确认下版本。已经联系了相关同学，但是因为已经是下班时间，可能需要等等

[2022-04-15 13:52] ZHUI opened #41865 "[DeviceId] GetCurrentDeviceId 和 _global_expected_place_ 是否完全无关？"
### 请提出你的问题 Please ask your question

paddle 目前的 place 是一个 python 端全局的对象。
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/framework.py#L517-L520
[code]
请问跟 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/phi/backends/gpu/cuda/cuda_info.cc#L170-L174
[code]
中的 GetCurrentDeviceId 是不是完全没有关联。

C++中如何获取当前place的 device id.

[2022-04-15 13:52] zhangting2020 commented on #41861
已联系相关同学，稍等

[2022-04-15 13:57] Wei-JL commented on #41855
用小例子测试确实不会有问题，比如:
![image](https://user-images.githubusercontent.com/71386288/163579441-cd99f733-9e3f-4f07-84f2-76133eebde08.png)

实在不行我可以把我的BML开源，您可以fork运行一下。 我前面的第二个日志输出了，确实出现了这样的情况，运行的是.py文件

[2022-04-15 14:00] AmazingAda commented on #41482
【队名】：10分钟快速上手

【序号】：120

【论文】：Personalized News Recommendation with Knowledge-aware Interactive Matching

【状态】：报名

【repo链接】：https://github.com/AmazingAda/KAIM

[2022-04-15 14:04] zhangting2020 commented on #41861
你先查看下本地环境的paddle版本，以及自己先check下AI Studio创建项目的时候用的哪个版本，看看2个是否一致，不一致的话，在AI Studio创建项目时，指定和自己本地环境相同版本的paddle，重新运行看看

[2022-04-15 14:07] Wei-JL commented on #41861
本地环境是CUDA : 11.3 cudnn : 8.2.1 paddle-gpu 2.2.2 win11操作系统
ai studio 环境是CUDA : 10.1 cudnn : ?  paddle-gpu 2.2.2

[2022-04-15 14:09] zhangting2020 commented on #41861
看你描述版本是一致的，这个报错和CUDA版本是没有关系的。确认2份代码完全一致吗？相同版本的Paddle应该不会出现不一样的结果。

[2022-04-15 14:10] Wei-JL commented on #41861
对的 我是直接复制上去的。  我再上传一份试试

[2022-04-15 14:11] Wei-JL commented on #41861
问题似乎再concat调用后 自动吧shape=[1, 4] 变成shape=[4]  然后报错

[2022-04-15 14:12] zhangting2020 commented on #41861
[code]

用这种方式看看版本信息。

[2022-04-15 14:12] yuguoyu123456 opened #41866 "PaddleDetection初次安装后，输入“识别图片”，报错FileNotFoundError和infer.py的程序问题"
### 请提出你的问题 Please ask your question

PaddleDetection初次安装后，输入“识别图片”，报错FileNotFoundError和infer.py的程序问题

以下是powershell的所有文字报告：

PS D:\paddlepaddle\PaddleDetection>

C:\Users\Lenovo\AppData\Roaming\Python\Python39\site-packages\paddle\vision\transforms\functional_pil.py:36: DeprecationWarning: NEAREST is deprecated and will be removed in Pillow 10 (2023-07-01). Use Resampling.NEAREST or Dither.NONE i

[2022-04-15 14:13] zhangting2020 commented on #41861
输入给concat的tensor是shape=[1,4]的吧？你在AI Studio上，可以试试，写一个测试脚本，只做concat，直接拿shape=[1,4]和[N, 4]这样的Tensor进行concat，看看是不是也报这个错误呢？

[2022-04-15 14:14] yuguoyu123456 commented on #41866
![666](https://user-images.githubusercontent.com/52940163/163581446-6084f5e7-d572-4961-a10e-420c150e0ecd.jpg)

[2022-04-15 14:14] Wei-JL commented on #41861
![image](https://user-images.githubusercontent.com/71386288/163581469-8f43eec4-2d2e-4efc-9f06-695c7f2e83f5.png)

[2022-04-15 14:15] Wei-JL commented on #41861
这个我试过了  不报错  再我上面的图片有

![image](https://user-images.githubusercontent.com/71386288/163581608-c2183c18-76e6-4fe1-82c9-c13dadf38adf.png)

[2022-04-15 14:18] jerryuhoo commented on #41710
好的了解了，期待之后的修复～

[2022-04-15 14:18] zhangting2020 commented on #41861
那看着不像是concat本身的问题。你在模型代码里，把concat的输入shape都打印出来，比如concat(x=[a,b,c])，在进行concat前，把a,b,c的shape都打印出来看看呢

[2022-04-15 14:34] Wei-JL commented on #41861
https://github.com/PaddlePaddle/Paddle/issues/41855
这个第一个就是所有的日志 且在input第11个的问题 第11个呢 正好是[1, 4]

[2022-04-15 14:36] zhangting2020 commented on #41861
<img width="919" alt="image" src="https://user-images.githubusercontent.com/26615455/163583754-1a68eaec-389f-4b5f-b54b-e5d959534448.png">
我看了你那个issue的内容，这里有一个[0，4]的shape呢

[2022-04-15 14:36] ImNoBadBoy commented on #40234
【队名】：xd_no-bad
【序号】：111
【状态】：rfc提交
【链接】：https://github.com/PaddlePaddle/community/pull/113

[2022-04-15 14:43] Wei-JL commented on #41861
ValueError: (InvalidArgument) The shape of input[0] and input[10] is expected to be equal.But received input[0]'s shape = [171, 4], input[10]'s shape = [4].
这个是报错信息，input[10] 从0开始数 第11个 可以ctrl+f 第11个就是[1, 4]
![image](https://user-images.githubusercontent.com/71386288/163584672-8bdfd413-bd71-4d78-8791-ab8f1a5cdb84.png)

[2022-04-15 14:58] zhangting2020 commented on #41861
试一下把concat的所有的输入保存到一个文件里，然后上传一下，我们看看是不是在这种输入下，单独调用concat会出错

[2022-04-15 15:11] SuperCJC opened #41867 "能否使用PaddlePaddle训练出来的模型能转换为pb文件，使用opt 只能转换为nb文件"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

### 替代实现 Alternatives

_No response_

[2022-04-15 15:12] SuperCJC opened #41868 "使用PaddlePaddle训练出来的模型能转换为pb文件吗?使用opt 只能转换为nb文件"
### 请提出你的问题 Please ask your question

使用PaddlePaddle训练出来的模型能转换为pb文件吗?使用opt 只能转换为nb文件

[2022-04-15 15:38] Duneryc commented on #41482
【队名】：神奇的小渣

【序号】：109

【论文】：TaPas: Weakly Supervised Table Parsing via Pre-training

【状态】：报名

【repo链接】：https://github.com/Duneryc/paper_nlp

[2022-04-15 15:49] LJQbiu commented on #41482
【队名】：JQbiu

【序号】：35

【论文】：Learning to Recommend Frame for Interactive Video Object Segmentation in the Wild

【状态】：报名

【repo链接】：https://github.com/LJQbiu/JQbiu_paddlepaddle

[2022-04-15 16:05] kunkun0w0 commented on #41482
【队名】：初学者

【序号】：75

【论文】：Two-Stream Adaptive Graph Convolutional Networks for Skeleton-Based Action Recognition

【状态】：报名

【repo链接】：https://github.com/kunkun0w0/Paddle-2s-AGCN

[2022-04-15 16:14] JunnYu commented on #41482
【队名】：NLP题变难了

【序号】：110

【论文】：XLM: Cross-lingual Language Model Pretraining

【状态】：提交

【repo链接】：https://github.com/JunnYu/xlm_paddle

[2022-04-15 17:00] dancingline commented on #41482
【队名】：我的小鱼干呢

【序号】：141

【论文】：Matching Networks for One Shot Learning

【状态】：报名

【repo链接】：https://github.com/dancingline/matching-networks-paddle

[2022-04-16 01:07] jiaohuix opened #41870 "【iterdataset如何组batch】paddlenlp的iterdataset如何组batch，加速数据的读取，防止内存溢出"
### 请提出你的问题 Please ask your question

我正在做机器翻译的比赛，英西的数据有20m，直接用mapdataset读取在aistudio上会内存溢出，我想要iterdataset然后按照tokens数动态组batch，不知道可不可以。目前已经将fairseq的数据二值化处理和读取完成，在读取一行行的idx后转为iterdataset后组batch错误，请问有没有interdataset组batch的demo？
![image](https://user-images.githubusercontent.com/68314259/163655899-ab68bfee-722b-41fb-800e-416d3df0206e.png)

[2022-04-16 02:15] zhangting2020 commented on #41865
_global_expected_place_ 只是表示是什么place，CPU或GPU或其他。c++端可以用GetCurrentDeviceId获取当前place的 device id。另外，内部用户如果开发过程遇到问题，请内部咨询相关同学

[2022-04-16 02:20] leechenggg opened #41871 "手写数字识别，这个语句怎么理解的"
### 请提出你的问题 Please ask your question

![O`6QH 32UTA_7HLUGZ80`{S](https://user-images.githubusercontent.com/100515681/163657837-149f262b-fb00-49c6-a5c1-45f7c2213869.png)

[2022-04-16 02:25] zhangting2020 commented on #41866
请问使用的是哪个版本的PaddleDetection呢？可以自己先查看下configs/ppyolo目录下面是否有你指定的yml文件。我看目前release2.4是没有你指定的这个yml文件的

[2022-04-16 02:37] zhangting2020 commented on #41867
opt只能转换为Paddle Lite模型（.nb格式）

[2022-04-16 02:38] zhangting2020 commented on #41868
相同issue #41867

[2022-04-16 04:45] Victory8858 opened #41873 "einsum在动转静时不支持，报错，如何解决"
### bug描述 Describe the Bug

AssertionError: We only support 'einsum()' in dynamic graph mode, please call 'paddle.disable_static()' to enter dynamic graph mode.

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-04-16 05:09] SpaceView opened #41874 "Compiling paddle with VS2019, error smallVector statis assert failed"
### 问题描述 Issue Description

严重性	代码	说明	项目	路径	文件	行	禁止显示状态
错误(活动)	E1574	静态断言失败，原因是 "wasted space in SmallVector size 0"	prepared_operator	E:\vPaddle\paddledev\paddle\utils	E:\vPaddle\paddledev\paddle\utils\small_vector.h	1355
严重性	代码	说明	项目	路径	文件	行	禁止显示状态
错误(活动)	E1574	静态断言失败，原因是 "wrong alignment for 32-byte aligned T"	prepared_operator	E:\vPaddle\paddledev\paddle\utils	E:\vPaddle\paddledev\paddle\utils

[2022-04-16 05:41] ExeCuteRunrunrun commented on #41482
【队名】：CuteCat

【序号】：44

【论文】：[StyleCLIP: Text-Driven Manipulation of StyleGAN Imagery

【状态】：报名

【repo链接】：https://github.com/ExeCuteRunrunrun/paddle-StyleCLIP

[2022-04-16 06:43] zhangting2020 commented on #41859
请问你提到的paddlers是从哪里下载安装的呢？可否贴一下链接？

[2022-04-16 06:43] itInterpret commented on #41482
【队名】：itinterpret

【序号】：25

【论文】：Do Different Tracking Tasks Require Different Appearance Models?

【状态】：报名

【repo链接】：https://github.com/itInterpret/PaddlePaddle_UniTrack

[2022-04-16 06:47] zhangting2020 commented on #41858
A solution will be given after the bug is reproduced.

[2022-04-16 07:17] Wei-JL commented on #41861
已经搞定了， 每个tenso都是[[ ... ]]  写入txt了 您试试看
[res.txt](https://github.com/PaddlePaddle/Paddle/files/8499461/res.txt)

[2022-04-16 07:24] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：56

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/41857

[2022-04-16 07:24] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：57

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/41857

[2022-04-16 07:24] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：58

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/41857

[2022-04-16 07:24] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：59

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/41857

[2022-04-16 08:00] GreatV opened #41875 "Windows下从源码编译 paddle_inference.lib 无法链接"
### 问题描述 Issue Description

编译命令：

[code]

输出：

[code]

### 版本&环境信息 Version & Environment Information

****************************************
Paddle version: None
Paddle With CUDA: None

OS: Windows 10
Python version: 3.9.6

CUDA version: 11.3.109
Build cuda_11.3.r11.3/compiler.29920130_0
cuDNN version: None.None.None
Nvidia driver version: None
****************************************

[2022-04-16 08:15] ultranity opened #41876 "GPU/CPU调用逻辑问题"
### bug描述 Describe the Bug

Paddle 在 有cuda的设备上默认调用GPU，实际运算中造成设备调用混乱，缺少相关文档，如设定某一Tensor x 传输至CPU后，对其进行的任意运算仍将被自动传回GPU进行，对部分需要在cpu端进行的操作难以调度，不太符合在设备端运算的控制逻辑，device_guard在动态图模式下无效， paddle.device.set_device("cpu") 可用但仍旧添加了额外的逻辑负担，该是否存在设备同步等副作用？

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-04-16 08:36] jyjfjyjf commented on #41482
【队名】：异常数据

【序号】：107

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/jyjfjyjf/DeBERTa

[2022-04-16 10:18] sldyns commented on #41482
【队名】：科研累了摸会鱼

【序号】：92

【论文】：Beyond a Gaussian Denoiser: Residual Learning of Deep CNN for Image Denoising

【状态】：报名&&提交3

【repo链接】: https://github.com/sldyns/DnCNN_paddle

[2022-04-16 10:29] SanLoveCode commented on #41482
【队名】：越挫越勇

【序号】：124

【论文】：Counterfactual Explainable Recommendation

【状态】：报名

【repo链接】：https://github.com/SanLoveCode/CER_recsys

[2022-04-16 14:00] Wei-JL opened #41880 "载入模型之后用paddle.DataParallel加速报错"
### bug描述 Describe the Bug

File "D:\PyCharm\YOLO\paddle_fuxian\yolox_paddle\yolo.py", line 100, in generate
    self.net = paddle.DataParallel(self.net)
  File "D:\Tool\Anaconda3\envs\paddleANDtorch\lib\site-packages\paddle\fluid\dygraph\parallel.py", line 560, in __init__
    self).__init__(layers.full_name() + "_data_parallel")
AttributeError: 'NoneType' object has no attribute 'full_name'
报错日志

[2022-04-16 15:01] zzc98 commented on #41482
【队名】：大山坡

【序号】：11

【论文】：[Destruction and Construction Learning for Fine-grained Image Recognition]

【状态】：报名

【repo链接】：https://github.com/zzc98/PaddlePaddle_DCL

[2022-04-16 15:15] kongdebug commented on #41482
【队名】：不爱做科研的KeyL

【序号】：89

【论文】：[Remote Sensing Image Change Detection with Transformers](https://arxiv.org/pdf/2103.00208.pdf)

【状态】：报名&提交

【repo链接】：https://github.com/kongdebug/BIT-CD-Paddle

【合并PaddleRS的链接】：https://github.com/kongdebug/PaddleRS，在BIT分支

[2022-04-16 15:49] zzc98 commented on #41482
【队名】：大山坡

【序号】：11

【论文】：[Destruction and Construction Learning for Fine-grained Image Recognition]

【状态】：提交

【repo链接】：https://github.com/zzc98/PaddlePaddle_DCL

[2022-04-17 00:34] jiaohuix commented on #41870
已经解决了，我用迭代器收集一个buffer的data，然后动态组batch用生成器逐个返回，可以实现快速加载并占少量内存了。
![image](https://user-images.githubusercontent.com/68314259/163695385-18854708-c82e-4e9f-aaf7-5a6fb86991c0.png)

[2022-04-17 03:11] wwzh26 commented on #41859
https://github.com/PaddleCV-SIG/PaddleRS/blob/develop/tutorials/train/README.md

在 2022-04-16 14:43:48，"Zhang Ting" ***@***.***> 写道：

请问你提到的paddlers是从哪里下载安装的呢？可否贴一下链接？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-04-17 03:14] youngAt19 commented on #41482
【队名】：qifei

【序号】：28

【论文】：The KFIoU Loss for Rotated Object Detection

【状态】：报名

【repo链接】：https://github.com/youngAt19/PaddleDetection

[2022-04-17 04:31] gggtwi commented on #41482
【队名】：还没想好

【序号】：15

【论文】：[VL-LTR: Learning Class-wise Visual-Linguistic Representation for Long-Tailed Visual Recognition](https://arxiv.org/pdf/2111.13579v3.pdf)

【状态】：报名

【repo链接】：https://github.com/708898342/VL-LTR_paddle

[2022-04-17 05:34] SpaceView commented on #41874
I'm sorry but this is weird, I deleted all the build file, and rebuild the paddle program, the 2 errors disappeared.
It seems this is from the VS2019 intellisense bug， not from paddle project.
Current I've finished the debug mode compilation.

[2022-04-17 06:29] ZHUI commented on #41865
我这边又实验了一下。
core.get_cuda_current_device_id 这个应该是，上一次 计算、调用的的实际  device id，如果没有用过默认是0。global_expected_place 需要执行一定计算后，才会影响到get_cuda_current_device_id。

[code]

[2022-04-17 07:02] geekhch opened #41883 "【BUG反馈】Dataloader无法正确读取数据，且未抛出异常"
### bug描述 Describe the Bug

### bug描述
paddle.io.Dataloader使用自定义的collate_fn，返回数据为list时，即使`len(loader)>0`，Dataloader迭代也会直接结束，，且未抛出异常。

### 修复建议
调试定位到`paddle/fluid/dataloader/flat.py中的_flatten_batch()函数无法正确处理数组类型`

### 复现代码
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-04-17 09:07] gnepgnep commented on #41482
【队名】：摸鱼

【序号】：38

【论文】：UNETR: Transformers for 3D Medical Image

【状态】：报名

【repo链接】：https://github.com/gnepgnep/UNETR_paddle

[2022-04-17 14:48] sun222 commented on #41482
【队名】：mading队

【序号】：87

【论文】：STANet for remote sensing image change detection

【状态】：报名&提交

【repo链接】：https://github.com/sun222/STANET_Paddle

[2022-04-17 18:13] gsq7474741 commented on #40234
【队名】：PeachML

【序号】：10

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/41886

[2022-04-17 23:47] OccupyMars2030 opened #41887 "maybe it is a bug"
### 问题描述 Please describe your issue

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/phi/infermeta/binary.cc

At line  1719,  in the function  "SigmoidCrossEntropyWithLogitsInferMeta",  the original code is
`
  if (check) {
    PADDLE_ENFORCE_EQ(
        phi::slice_ddim(x_dims, 0, rank),
        phi::slice_ddim(labels_dims, 0, rank),
        phi::errors::InvalidArgument(
            "In

[2022-04-17 23:54] OccupyMars2030 commented on #41887
I found it in the documentation https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/api_contributing_guides/new_cpp_op_cn.html .
It is a bug in my understanding. If it is not,  just ignore my issues.

[2022-04-17 23:56] OccupyMars2030 commented on #41887
The location is at :
参考代码

（1） 判断的实现方法可以参考 [SigmoidCrossEntropyWithLogitsInferMeta](https://github.com/PaddlePaddle/Paddle/blob/cd28cddbfb5f5643947291e9a640ecd414dc8dae/paddle/phi/infermeta/binary.cc#L650)，SigmoidCrossEntropyWithLogits 要求X和labels的两个输入，除了最后一维以外，其他的维度完全一致

[2022-04-18 00:06] tb5874 opened #41888 "Where is HW Benchmark ?"
### 问题描述 Please describe your issue

Hello.
Inference tests were performed in Desktop and NVIDIA xavier NX.
But i can’t compare inference result, because i don't have Reference information.

HW Specification, Paddle Install Option, Inference result as below.
Is Inference-Result appropriate?

Please tell me average-result.
Thank you.

/***************************************************************

[2022-04-18 00:19] OccupyMars2030 opened #41889 "maybe it is a bug"
### 请提出你的问题 Please ask your question

Paddle-develop/paddle/phi/infermeta/multiary.cc
At line 699, in the function "ConcatInferMeta",  the original code is :

`  PADDLE_ENFORCE_GE(x.size(),
                    0UL,
                    phi::errors::InvalidArgument(
                        "The size of input meta vector should be greater"
                        "than 0."));`

maybe "PADDLE_ENFORCE_

[2022-04-18 01:45] miemie2013 commented on #41248
大佬，按照你的改了，from custom_gather import gather_op放在了ppgan/models/generators/generator_styleganv2ada.py的首行，代码为 https://aistudio.baidu.com/aistudio/projectdetail/3724521 的0.2版本。依次点击这个项目的4条命令，还是会报错，请您再看看！另外请问一下，develop版本的飞桨是不是不支持分布式训练呀？编译时没有加相关参数？

[2022-04-18 02:14] bugparty commented on #40234
【队名】：bugparty

【序号】：61

【状态】：报名

【链接】：https://github.com/PaddlePaddle/Paddle-Lite/issues/8604

[2022-04-18 02:18] Mr-SGXXX commented on #41482
【队名】：Mr_XXX

【序号】：15

【论文】：VL-LTR: Learning Class-wise Visual-Linguistic Representation for Long-Tailed Visual Recognition

【状态】：报名

【repo链接】：https://github.com/Mr-SGXXX/Paddle-VT-LTR

[2022-04-18 02:44] kangshilei opened #41899 "是否能提供不带AVX的win c++预测库呢。谢谢"
### 请提出你的问题 Please ask your question

是否能提供不带AVX的win c++预测库呢。谢谢
我在https://www.paddlepaddle.org.cn/documentation/docs/en/2.0/guides/05_inference_deployment/inference/windows_cpp_inference_en.html
只找到了带avx的预测库
![image](https://user-images.githubusercontent.com/87765811/163746151-74c1d292-5a10-4d8d-8358-106960f8de01.png)

[2022-04-18 02:50] heavengate commented on #41883
你好，你dataset返回的数据格式是怎么样的

[2022-04-18 03:01] justld commented on #41482
【队名】：dudu

【序号】：31

【论文】：PSANet: Point-wise Spatial Attention Network for Scene Parsing

【状态】：报名&提交

【repo链接】：https://github.com/justld/PSANet_paddle

[2022-04-18 03:31] #41508 closed, assigned to JamesLim-sy

[2022-04-18 03:39] 18XiWenjuan commented on #41482
【队名】：咕咕咕

【序号】：106

【论文】：[Efficient Low-rank Multimodal Fusion with Modality-Specific Factors](https://arxiv.org/abs/1806.00064)

【状态】：提交

【repo链接】：https://github.com/18XiWenjuan/LMF_Paddle

[2022-04-18 03:50] danleifeng commented on #41870
好的，后续有什么问题欢迎提问

[2022-04-18 03:50] #41870 closed, assigned to danleifeng

[2022-04-18 03:54] danleifeng commented on #41871
您好，可以看下paddlepaddle官网文档和教程，里面包含LeNet网络在MNIST数据集下的训练，供参考。https://www.paddlepaddle.org.cn/documentation/docs/zh/practices/cv/image_classification.html#id1

[2022-04-18 04:01] danleifeng commented on #41874
感谢提问，以后有任务问题欢迎咨询~

[2022-04-18 04:01] #41874 closed, assigned to danleifeng

[2022-04-18 04:07] zhwesky2010 commented on #41875
@GreatV 你好，请问使用最新的paddle代码编译的吗

[2022-04-18 04:19] tongxin commented on #41873
Develop 支持静态图了，谢谢

[2022-04-18 04:28] geekhch commented on #41883
就是和bug描述复现代码一样，collate_fn返回的数据为([1,1,1...], [2,2,2...], [3,3,3...])。我给的复现代码是可以直接运行复现的。

[2022-04-18 04:33] ultranity commented on #41482
【队名】：ultranity

【序号】：64

【论文】：[Semi-Orthogonal Embedding for Efficient Unsupervised Anomaly Segmentation](https://github.com/jnhwkim/orthoad)
【状态】：报名

【repo 链接】：https://github.com/ultranity/Anomaly.Paddle

[2022-04-18 04:33] ultranity commented on #41482
【队名】：ultranity

【序号】：60

【论文】：[PaDiM: a Patch Distribution Modeling Framework for Anomaly Detection and Localization](https://arxiv.org/pdf/2011.08785)

【状态】：报名

【repo 链接】：https://github.com/ultranity/Anomaly.Paddle

[2022-04-18 04:35] GreatV commented on #41875
是的，develop 和release 2.2 都试过，都是一样的报错。

[2022-04-18 05:02] Wei-JL commented on #41861
您好我已经上传了 请问有这样的问题吗？

[2022-04-18 05:03] Wei-JL commented on #41880
您好，请问这个是什么问题呢

[2022-04-18 05:10] danleifeng commented on #41880
请问下能提供下可复现的代码 吗，另外能补充下 paddle使用的版本和环境吗？

[2022-04-18 05:21] Wei-JL commented on #41880
win11+ CUDA11.3 +CUDNN8.2.1 + paddle 2.2.2
复现YOLOx  模型可以正常训练，这是为了predict写的

[code]

[2022-04-18 05:28] JiabinYang commented on #41876
抱歉 这个现象出现的原因是因为我们对于运行的算子会自动的根据当前的默认设备进行设备间拷贝，目的是为了减少用户自行思考相关拷贝的操作代码，但是这个设计确实存在一定弊端，比如您提到的这个问题。我们正在寻找一种更好的策略来兼顾这两中情况。

[2022-04-18 05:30] JiabinYang commented on #41876
device_guard这个接口只能在静态图下生效哈 而动态图则需要paddle.device.set_device("cpu")这样去使用

[2022-04-18 05:46] #41867 closed, assigned to zhangting2020

[2022-04-18 05:46] #41868 closed, assigned to zhangting2020

[2022-04-18 06:42] lidanqing-vv commented on #37930
VIT-OCR fp32 model is improved by PR https://github.com/PaddlePaddle/Paddle/pull/41776. Single thread 4% rise. More improvement will be added.

[2022-04-18 06:49] Wei-JL commented on #41880
谢谢 我知道问题所在了~

[2022-04-18 06:54] danleifeng commented on #41880
嗯嗯，好的

[2022-04-18 07:03] Wei-JL commented on #41880
代码这样改就没问题 ，
[code]
如上代码，self.net = self.net.eval() 如果注释这行，不切换为eval模式，后面预测会导致反向传播更新梯度吗？
因为我切换eval模式使用paddle.DataParallel就会报AttributeError: 'NoneType' object has no attribute 'full_name'

[2022-04-18 07:17] bramble-river commented on #41482
【队名】：啾啾复啾啾

【序号】：109

【论文】：TaPas: Weakly Supervised Table Parsing via Pre-training

【状态】：报名

【repo链接】：https://github.com/bramble-river/tapas

[2022-04-18 07:25] liyancas commented on #41888
Thanks. Do you include the warmup time in your benchmarks? Usually, the GPU warmup time is much higher than the CPU. Furthermore, both the GPU/CPU preprocesses run on the CPU, so it's unreasonable that the GPU preprocess time is too much higher than the CPU。

[2022-04-18 07:27] lidanqing-vv commented on #41134
@wozna Hi, does your PR actually fixed this issue already.

[2022-04-18 07:28] #38693 closed, assigned to jczaja

[2022-04-18 07:31] lidanqing-vv commented on #37877
Done by @baoachun

[2022-04-18 07:31] #37877 closed, assigned to baoachun, wozna, lidanqing-vv

[2022-04-18 07:46] chikin-lau opened #41923 "ValueError: (InvalidArgument) Tensor holds the wrong type, it holds int, but desires to be int64_t."
### Lic2022的baseline源码，在AIStudio可以正常跑，本地跑时train_query，infer_dial，infer_dial均无错误，只在infer_query时出现以下错误
paddlepaddle：2.2.2gpu
cuda：11.2
cudnn：8.2

$ sh ./scripts/local/job.sh ./projects/lic2022/conf/query_infer.conf

2022-04-18 15:40:25,456-INFO: [topology.py:169:__init__] HybridParallelInfo: rank_id: 0, mp_degree: 1, sharding_degree: 1, pp_degree: 1, dp_degree: 1, mp_group: [0],  sharding_group: [0]

[2022-04-18 07:47] zzpicdeal commented on #41482
【队名】：ABCD

【序号】：68

【论文】：PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds

【状态】：报名

【repo链接】：https://github.com/zzpicdeal/Paddle-DGCNN

[2022-04-18 07:51] zyfncg commented on #41248
[code]

上面错误的原因是这里`w1`,`w2`,`w3`,`w4`的`stop_gradient`属性为True，结果在计算二阶导时需要的输入在一阶反向中没有进行计算，导致了以上错误。把这几个变量的`stop_gradient`属性设置为False就可以通过了。

<img width="948" alt="image" src="https://user-images.githubusercontent.com/13048366/163775893-e72e0cef-9d45-4fc8-af12-fb32941f3456.png">

[2022-04-18 07:59] zyfncg commented on #41248
开启分布式的功能需要在cmake配置中加上`-DWITH_DISTRIBUTE=ON`，然后再重新编译

[2022-04-18 08:15] betterpig commented on #41875
一种情况是Paddle所在路径较长，导致命令行中的行字符数超限。如果是这种情况，请将Paddle放到较浅目录编译，如D:\Paddle。

[2022-04-18 08:17] GreatV commented on #41875
好的，我试一试。

[2022-04-18 08:20] GreatV commented on #41875
我放在E:\Paddle下也是报这个错。

[2022-04-18 08:30] chikin-lau commented on #41923
已解决
解决方法：
knover\knover\modules\generator.py里的第373行 `pred = paddle.cast(pred, "int")`
改为`pred = paddle.cast(pred, "int64")`

[2022-04-18 08:30] #41923 closed, assigned to Thunderbrook

[2022-04-18 08:32] zhangting2020 commented on #41861
在#41855中，你贴的那些tensor打印出来的shape，没有[122, 4]和[4]的，但是后面你给出的报错信息是[112,4]和[4]，我怀疑你在本地跑的时候恰好没有跑到这批数据。concat不会将输入的shape做任何改变，所以你需要本地再次运行确认下，你所有的数据里是不是有一个[4]的shape
[code]

[2022-04-18 08:36] renmada commented on #41482
【队名】：岚之山吃到饱

【序号】：121

【论文】：Package Recommendation with Intra- and Inter-Package Attention Networks

【状态】：报名&&提交

【repo链接】：https://github.com/renmada/PaddleRec/tree/iprec/models/rank/iprec

[2022-04-18 08:38] TeslaZhao commented on #41835
CUDA 工具包10.1/10.2配合cuDNN 7

[2022-04-18 08:40] Wei-JL commented on #41861
您说的这个  “报错信息是[112,4]和[4]”  和上面一大堆日志不是同一个报错了已经~   可能时间太久  描述不清了
您看我开源这个项目 您打开看看有什么问题可以吗

[2022-04-18 08:46] zhangting2020 commented on #41861
我的建议是首先在本地，至少训练1个epoch，确保你已经运行过数据集的全部数据。因为从你的报错信息来看，的确是concat的输入shape不对。我不太确定你在本地运行成功的那次，是否已经经过1个epoch？

[2022-04-18 08:51] ZHUI commented on #41858
您好，可以尝试一下最新develop版本的paddle看看。Maybe you can try the develop version of paddlepaddle-gpu，this problem may be sloved.

[2022-04-18 08:53] Wei-JL commented on #41855
项目“yolox”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/3801194/deaa3918a1cc405ca92bdd14d7038f94

直接从上到下运行就可以了，直到!python train.py

我崽本地训练了15轮都没有出问题 整个数据遍历了15遍的

[2022-04-18 08:54] Wei-JL commented on #41855
里面可能有import torch的忘了删 但是没有使用

[2022-04-18 09:00] Wei-JL commented on #41855
项目“yolox”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/3801194/5626331e3865408ba7852a1aa728690e

[2022-04-18 09:02] leo0519 opened #41932 "test_cumsum_op failure on P100"
### bug描述 Describe the Bug

- 版本、环境信息：
    1. PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2. CPU/GPU：Tesla-P100
    3. 系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4. Python版本号
    5. 显存信息

[code]

- 复现步骤

[code]

-问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
`test_run_program_op` failed on tesla-P100. The error log is following

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-04-18 09:08] #41837 closed, assigned to zhangting2020

[2022-04-18 09:13] yupang1122 commented on #41482
【队名】：鱼鱼鱼

【序号】：36

【论文】：nnU-Net: Self-adapting Framework for U-Net-Based Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/yupang1122/nnunet

[2022-04-18 09:28] #41871 closed, assigned to danleifeng

[2022-04-18 09:49] bitcjm commented on #41482
【队名】：稳中求进BIT

【序号】：105

【论文】：FFA-Net: Feature Fusion Attention Network for Single Image Dehazing

【状态】：提交

【repo链接】：https://github.com/bitcjm/PaddleVideo/tree/new_branch

[2022-04-18 10:16] zhangting2020 commented on #41858
It is not easy for us to find which commits  fixed this issue, because there are many changes since the release 2.2.2.

[2022-04-18 10:17] zhangting2020 commented on #41866
@yuguoyu123456 请问按照上面的方法，你的问题得到解决了吗

[2022-04-18 10:38] Wei-JL commented on #41861
本地跑了15epoch 确实没有问题 本地15轮我需要跑20分钟左右  也没有报错

[2022-04-18 10:45] zhangting2020 commented on #41861
2边的数据完全一样吗？因为ai studio本质上和你本地跑不应该有什么区别，尤其是在版本也一致的情况下，出现这个报错比较奇怪。

[2022-04-18 10:47] Wei-JL commented on #41861
对的， 我是本地上传的  武大公开数据集。我也感觉奇怪， 解决了好久  改了各种写concat的方法，甚至都for循环list concat了。。。  所以才上传的

[2022-04-18 10:51] Wei-JL commented on #41861
所以才来提issue的

[2022-04-18 11:15] zhangting2020 commented on #41861
在ai studio上，先跑一个epoch，把这条[4]对应的数据能否找出来，先去掉呢？

[2022-04-18 11:17] #41873 closed, assigned to danleifeng

[2022-04-18 11:17] Wei-JL commented on #41861
我输出了，list里面的tensor 确实没有shape=[4]的但是只要出现shape=[1, 4]就会报错 因为concat似乎自动给我吧shape=[1, 4]转为了shape=[1, 4]

[2022-04-18 11:21] Ligoml commented on #41723
相同issue https://github.com/PaddlePaddle/Paddle/issues/41724 ，在此issue中讨论该需求

[2022-04-18 11:21] #41724 closed, assigned to LielinJiang

[2022-04-18 11:23] Ligoml commented on #41729
你好，暂时没有对应的api，可以简单描述一下你会在什么任务下用到这个api吗？

[2022-04-18 11:24] #41744 closed, assigned to nobody

[2022-04-18 11:29] zhangting2020 commented on #41861
在ai studio上尝试装一下最新版本呢？按照这个文档，安装nigthly build的版本。https://www.paddlepaddle.org.cn/

另外：上传的res读取后是个字符串，复现起来比较麻烦。你自己有尝试过吗？可以自己尝试下，先把concat的这个输入解析后，单独用concat操作，看是否能复现。

[2022-04-18 11:33] betterpig commented on #41875
之前碰到相同的问题是因为paddle的target数量太多，但是最新的develop已经把target数量降低了有三分之一。你再试试cmake加上联合编译 -DWITH_UNITY_BUILD=ON

[2022-04-18 12:50] ZHUI commented on #41858
It is  the problem of `clip`, and we reimplement the `clip`, so this problem is sloved.

[2022-04-18 13:11] omowzz commented on #41482
【队名】：omowzz
【序号】：32
【论文】：CCNet: Criss-Cross Attention for Semantic Segmentation
【状态】：报名
【repo链接】：https://github.com/omowzz/sturdy-umbrella

[2022-04-18 13:21] Lieberk commented on #41482
【队名】：超级码立

【序号】：141

【论文】：Matching Networks for One Shot Learning

【状态】：报名&&提交

【repo链接】：https://github.com/Lieberk/Paddle-MatchingNet

[2022-04-18 13:47] Wei-JL commented on #41861
2.2.2应该是最新版本吧 我重新上传一份代码试试吧

[2022-04-18 14:00] Baibaifan opened #41950 "[Feature] Add AdamW-CPU operator to support offload calculation"
### 需求描述 Feature Description

When training a large model and using the AdamW optimizer, the optimizer parameters/status are often offloaded to the cpu memory, and then used to update the parameters on the cpu. At present, the AdamW-CPU implemented by Paddle has poor performance, and I hope to provide higher performance. The AdamW-CPU implementation improves the overall computing speed.

We hope t

[2022-04-18 14:37] ultranity commented on #41482
【队名】：ultranity

【序号】：60

【论文】：[PaDiM: a Patch Distribution Modeling Framework for Anomaly Detection and Localization](https://arxiv.org/pdf/2011.08785)

【状态】：提交

【repo 链接】：https://github.com/ultranity/Anomaly.Paddle

[2022-04-18 14:46] ultranity commented on #41876
是的，主要是在某些显存紧张的场景下缺少了按需求自由调度的使用方式，如果后续能增加全局设置，或者能够为Tensor设定禁止自动设备间拷贝的flag，更进一步支持在用户手动指定Tensor设备或手动调用设备间移动之后设定该禁止flag也许更合理一些

[2022-04-18 15:37] yangguohao commented on #40234
【队名】：约克逊是个郡

【序号】：21

【状态】：提交RFC

【链接】：https://github.com/PaddlePaddle/community/pull/114

[2022-04-18 15:46] Victory8858 commented on #41482
【队名】：Victory8858

【序号】：12

【论文】：See Better Before Looking Closer: Weakly Supervised Data Augmentation Network for Fine-Grained Visual Classification

【状态】：提交

【repo 链接】：https://github.com/Victory8858/WS-DAN-Paddle

[2022-04-18 16:24] CuberrChen commented on #41482
【队名】：波波啥也不会

【序号】：60

【论文】：PaDiM: A Patch Distribution Modeling Framework for Anomaly Detection and Localization

【状态】：报名&&提交3

【repo链接】：https://github.com/CuberrChen/PaDiM-Paddle

[2022-04-18 23:24] #41889 closed, assigned to Thunderbrook

[2022-04-19 00:07] ultranity commented on #41482
【队名】：ultranity

【序号】：64

【论文】：[Semi-Orthogonal Embedding for Efficient Unsupervised Anomaly Segmentation](https://arxiv.org/abs/2105.14737)

【状态】：提交

【repo 链接】：https://github.com/ultranity/Anomaly.Paddle

[2022-04-19 01:38] LielinJiang commented on #41767
先判断一下model是不是DataParallel的实例，isinstance(model, paddle.Dataparallel)。
是的话就用model._layers.backbone(data)

[2022-04-19 01:44] Aganlengzi commented on #41950
@lidanqing-intel This feature is like https://github.com/PaddlePaddle/Paddle/issues/39005 and need comparison data.

[2022-04-19 02:02] #41767 closed, assigned to LielinJiang

[2022-04-19 02:37] zhaidd opened #41957 "paddlelite"
### 问题描述 Please describe your issue

请问怎么在树莓派上部署paddleocr，已经部署好了paddlelite

[2022-04-19 02:38] zhaidd opened #41958 "paddlelite"
### 请提出你的问题 Please ask your question

请问怎么在树莓派上部署paddleocr，已经部署好了paddlelite

[2022-04-19 03:16] liutheuniverse opened #41962 "使用知识蒸馏框架遇到问题"
### 请提出你的问题 Please ask your question

环境：paddlepaddle2.2.2
我用的框架是这个https://aistudio.baidu.com/aistudio/projectdetail/3141968?channelType=0&channel=0
我想用自己的教师网络和数据库，目前教师网络已经打印输出，我在调用自己的数据库时，使用了这个代码替换了调用mnist的代码：
#训练数据加载
train_dataset = dataset('/home/aistudio/data',mode='train')
train_loader = paddle.io.DataLoader(train_dataset, batch_size=16, shuffle=True)
#评估数据加载
eval_dataset = dataset('/home/ais

[2022-04-19 03:17] liutheuniverse commented on #41962
[3609252.zip](https://github.com/PaddlePaddle/Paddle/files/8509582/3609252.zip)
代码

[2022-04-19 03:29] danleifeng commented on #41880
DataParallel 传入的参数是 第一行的 self.net， eval()你看看返回值是什么

[2022-04-19 03:34] wei-hua-815 commented on #41482
【队名】：卫斯理

【序号】：55

【论文】：From Two to One: A New Scene Text Recognizer with Visual Language Modeling Network

【状态】：报名

【repo 链接】：https://github.com/wei-hua-815/VisionLAN-paddle

[2022-04-19 04:21] Lieberk commented on #41482
【队名】：超级码立

【序号】：140

【论文】：A Closer Look at Few-shot Classification

【状态】：报名&提交

【repo链接】：https://github.com/Lieberk/Paddle-FSL-Baseline

[2022-04-19 05:14] liutheuniverse commented on #41962
'int' object is not iterable
    5     acc_meter = AverageMeter()
      6     model.train()
----> 7     for batch_idx, data in enumerate(train_loader()):
      8         image = data[0]
      9         label = data[1]

[2022-04-19 05:29] Wei-JL commented on #41880
self.net = paddle.DataParallel(self.net, eval())
TypeError: eval expected at least 1 arguments, got 0

[2022-04-19 05:30] Wei-JL commented on #41880
self.net = paddle.DataParallel(self.net, eval())
TypeError: eval expected at least 1 arguments, got 0
报错

[2022-04-19 05:38] flytocc commented on #41482
【队名】：拼手速

【序号】：9

【论文】：Visual Attention Network

【状态】：提交2

【repo链接】：https://github.com/flytocc/PaddleClas_VAN-Classification

[2022-04-19 05:40] zhangting2020 commented on #41866
如无问题，此issue将关闭。PaddleDetection使用上的疑问，可以直接在PaddleDetection 下提issue，相关同学会跟进。

[2022-04-19 05:40] #41866 closed, assigned to zhangting2020

[2022-04-19 06:04] zhwesky2010 commented on #41851
这个是符合预期的，对于任何API都是这样的，是由于全局place与Tensor的place不同而导致的，可以用paddle.set_device设置全局place为Tensor的place，则不会改变place

[2022-04-19 06:52] #27221 closed, assigned to nobody

[2022-04-19 06:52] #28141 closed, assigned to nobody

[2022-04-19 06:52] #28418 closed, assigned to baiyfbupt

[2022-04-19 06:52] #28581 closed, assigned to nobody

[2022-04-19 06:52] #28757 closed, assigned to tianshuo78520a, zhwesky2010

[2022-04-19 06:52] #29014 closed, assigned to T8T9

[2022-04-19 06:52] #29314 closed, assigned to DDDivano

[2022-04-19 06:52] #29660 closed, assigned to Xreki

[2022-04-19 06:52] #29841 closed, assigned to cjt222

[2022-04-19 06:52] #29849 closed, assigned to bjjwwang

[2022-04-19 06:52] #30964 closed, assigned to XieYunshen, zhwesky2010

[2022-04-19 06:52] #31092 closed, assigned to ysh329

[2022-04-19 06:52] #31168 closed, assigned to hong19860320, TCChenlong

[2022-04-19 06:52] #31235 closed, assigned to yongqiangma, frankwhzhang

[2022-04-19 06:52] #31273 closed, assigned to yongqiangma

[2022-04-19 06:52] #31278 closed, assigned to zhupengyang

[2022-04-19 06:52] #31285 closed, assigned to zhupengyang

[2022-04-19 06:52] #31286 closed, assigned to zhupengyang

[2022-04-19 06:52] #31294 closed, assigned to willthefrog

[2022-04-19 06:52] #31295 closed, assigned to LielinJiang

[2022-04-19 06:52] #31296 closed, assigned to LielinJiang

[2022-04-19 06:52] #31298 closed, assigned to LielinJiang

[2022-04-19 06:52] #31311 closed, assigned to LielinJiang

[2022-04-19 06:52] #31314 closed, assigned to LielinJiang

[2022-04-19 06:52] #31340 closed, assigned to LielinJiang

[2022-04-19 06:52] #31341 closed, assigned to nobody

[2022-04-19 06:52] #31349 closed, assigned to zhiqiu

[2022-04-19 06:52] #31352 closed, assigned to zhiqiu

[2022-04-19 06:52] #31353 closed, assigned to zhiqiu

[2022-04-19 06:52] #31355 closed, assigned to zhiqiu

[2022-04-19 06:52] #31371 closed, assigned to zhiqiu

[2022-04-19 06:52] #31380 closed, assigned to zhiqiu

[2022-04-19 06:52] #31387 closed, assigned to swtkiwi, GaoWei8

[2022-04-19 06:52] #31390 closed, assigned to GaoWei8

[2022-04-19 06:52] #31398 closed, assigned to GaoWei8

[2022-04-19 06:52] #31421 closed, assigned to gfwm2013

[2022-04-19 06:52] #31444 closed, assigned to DannyIsFunny

[2022-04-19 06:52] #31445 closed, assigned to DannyIsFunny

[2022-04-19 06:52] #31456 closed, assigned to nobody

[2022-04-19 06:52] #31461 closed, assigned to wanghuancoder

[2022-04-19 06:52] #31472 closed, assigned to pangyoki

[2022-04-19 06:52] #31477 closed, assigned to FrostML

[2022-04-19 06:52] #31516 closed, assigned to juncaipeng

[2022-04-19 06:52] #31522 closed, assigned to nobody

[2022-04-19 06:52] #31537 closed, assigned to ShenYuhan

[2022-04-19 06:52] #31548 closed, assigned to zhangting2020

[2022-04-19 06:52] #31554 closed, assigned to zhangting2020

[2022-04-19 06:52] #31565 closed, assigned to MrChengmo

[2022-04-19 06:52] #31601 closed, assigned to nobody

[2022-04-19 06:52] #31610 closed, assigned to ForFishes

[2022-04-19 06:52] #31615 closed, assigned to ForFishes

[2022-04-19 06:52] #31617 closed, assigned to Thunderbrook

[2022-04-19 06:52] #31633 closed, assigned to nobody

[2022-04-19 06:53] #31638 closed, assigned to Thunderbrook

[2022-04-19 06:53] #31651 closed, assigned to yaoxuefeng6

[2022-04-19 06:53] #31674 closed, assigned to nobody

[2022-04-19 06:53] #31690 closed, assigned to nobody

[2022-04-19 06:53] #31724 closed, assigned to huangjun12

[2022-04-19 06:53] #31727 closed, assigned to huangjun12

[2022-04-19 06:53] #31731 closed, assigned to huangjun12

[2022-04-19 06:53] #31754 closed, assigned to Aurelius84, Shixiaowei02

[2022-04-19 06:53] #31758 closed, assigned to LDOUBLEV

[2022-04-19 06:53] #31761 closed, assigned to LDOUBLEV

[2022-04-19 06:53] #31764 closed, assigned to lfchener, phlrain

[2022-04-19 06:53] #31765 closed, assigned to lfchener, cryoco

[2022-04-19 06:53] #31778 closed, assigned to wangxicoding

[2022-04-19 06:53] #31789 closed, assigned to wangxicoding

[2022-04-19 06:53] #31809 closed, assigned to JZ-LIANG

[2022-04-19 06:53] #31827 closed, assigned to vslyu

[2022-04-19 06:53] #31882 closed, assigned to hutuxian, wanghuancoder

[2022-04-19 06:53] #31885 closed, assigned to wanghuancoder

[2022-04-19 06:53] #31886 closed, assigned to heavengate, wanghuancoder

[2022-04-19 06:53] #31897 closed, assigned to nobody

[2022-04-19 06:53] #31938 closed, assigned to jerrywgz, zhwesky2010

[2022-04-19 06:53] #31943 closed, assigned to haozech

[2022-04-19 06:53] #31952 closed, assigned to haozech

[2022-04-19 06:53] #31967 closed, assigned to haozech

[2022-04-19 06:53] #31993 closed, assigned to chenjiaoAngel

[2022-04-19 06:53] #32002 closed, assigned to nobody

[2022-04-19 06:53] #32023 closed, assigned to swtkiwi

[2022-04-19 06:53] #32029 closed, assigned to nobody

[2022-04-19 06:53] #32037 closed, assigned to qili93

[2022-04-19 06:53] #32063 closed, assigned to yinhaofeng

[2022-04-19 06:53] #32065 closed, assigned to littletomatodonkey

[2022-04-19 06:53] #32068 closed, assigned to littletomatodonkey

[2022-04-19 06:53] #32070 closed, assigned to littletomatodonkey

[2022-04-19 06:53] #32076 closed, assigned to MissPenguin

[2022-04-19 06:53] #32077 closed, assigned to MissPenguin

[2022-04-19 06:53] #32094 closed, assigned to MissPenguin

[2022-04-19 06:53] #32099 closed, assigned to MissPenguin

[2022-04-19 06:53] #32115 closed, assigned to tink2123

[2022-04-19 06:53] #32122 closed, assigned to tink2123

[2022-04-19 06:53] #32139 closed, assigned to ZHUI

[2022-04-19 06:53] #32165 closed, assigned to joey12300, chenwhql

[2022-04-19 06:53] #32168 closed, assigned to joey12300

[2022-04-19 06:53] #32179 closed, assigned to joey12300

[2022-04-19 06:53] #32234 closed, assigned to seiriosPlus

[2022-04-19 06:53] #32287 closed, assigned to frankwhzhang

[2022-04-19 06:53] #32295 closed, assigned to frankwhzhang

[2022-04-19 06:53] #32303 closed, assigned to frankwhzhang

[2022-04-19 07:36] danleifeng commented on #41880
我的意思是
DataParallel 传入的参数是 第一行的 self.net类型 ，附上DataParallel 的文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/DataParallel_cn.html#dataparallel

另外 你可以看下 self.net.eval()返回值是什么

[2022-04-19 08:12] renmada commented on #41482
【队名】：岚之山吃到饱

【序号】：123

【论文】：Modeling the Sequential Dependence among Audience Multi-step Conversions with Multi-task Learning in Targeted Display Advertising

【状态】：报名&&提交

【repo链接】：https://github.com/renmada/PaddleRec/tree/aitm/models/rank/aitm

[2022-04-19 08:47] #41134 closed, assigned to GuoxiaWang, baoachun

[2022-04-19 09:07] zhangting2020 commented on #41861
最新的是nightly build，这个是develop版本的包。

重新上传代码后情况如何呢？

[2022-04-19 09:08] #41858 closed, assigned to zhangting2020

[2022-04-19 09:08] #41785 closed, assigned to zhangbo9674

[2022-04-19 09:15] lidanqing-vv commented on #40269
@jakpiase
This issue is casued cause Baidu deleted conv_affine_channel_pass. But we can add it into mkldnn pass. Then it should not be deleted anymore. Just like your PR, is it ?
https://github.com/PaddlePaddle/Paddle/pull/39756

[2022-04-19 09:23] lidanqing-vv commented on #40269
@piotrekobi said he will work on this issue in the following week. Thanks.

[2022-04-19 09:36] peanut1028 opened #41977 "PaddleInference C++: too many time costed on EnableTensorRTEngine()"
### 请提出你的问题 Please ask your question

PaddlePaddle版本：2.2 C++inference预测库
CPU: i9
GPU: GeForce RTX3070
系统：win11
TensorRT：7.2.2.3
CUDA：11.1

问题：C++推理项目各功能正常运行。开tensorrt推理提速明显。但是在loadmodel enableTensorRTEngine()时普遍需要花费五到十分钟的时间，同一个模型每次运行就都会卡在loadmodel这里。想请问是否支持保存转化的TRT engine对象直接加载，或者有什么其他建议可以缩减这部分的time cost么？

[2022-04-19 09:57] Ligoml opened #41978 "是否有类似divide_no_nan能力的算子，可以使得除数为0时，显示是0而不是nan"
### 需求描述 Feature Description

详见aistudio项目：https://aistudio.baidu.com/aistudio/projectdetail/3839832

- 在做大学教程的过程中遇到这样的问题，除数为零时，产生的矩阵为nan矩阵，对后面的操作有影响
- tensoflow中有[div_no_nan](https://www.tensorflow.org/api_docs/python/tf/math/divide_no_nan)函数可以实现，希望paddle也能有这样的函数

paddle现状：
[code]
输出
[code]

希望对齐的tf算子效果：
[code]
输出：
[code]

### 替代实现 Alternatives

依赖numpy可以替代实现
[code]

输出：
[code]

[2022-04-19 10:12] jinyouzhi opened #41979 "【PFCC】新算子开发过程中C++层面调用已有api的方法以及如何debug算子注册的问题点？"
### 请提出你的问题 Please ask your question

1. 新算子开发中有需要在C++后端的kernel中调用库里已有的api，希望能给出方法或者范例。
- PFCC的Panel环节，飞桨的高工提及需要区分迁移到phi的新架构和未迁移的api
- 这里举一个需要调用phi算子的例子：[Hackathon2 No.20 Cummax](https://github.com/PaddlePaddle/Paddle/issues/40313) 希望调用scatter算子来实现，初步代码如下：
[code]
2. 调试算子时，遇到算子注册失败的问题，希望分享一些新算子开发中的debug经验。
- `RuntimeError: (NotFound) There are no kernels which are registered in the cummax operator.

[2022-04-19 10:34] baibizhe opened #41980 "wrong issue"
wrong issue

[2022-04-19 10:35] baibizhe commented on #41482
【队名】：33你错了

【序号】：22

【论文】：[MaskFormer: Per-Pixel Classification is Not All You Need for Semantic Segmentation](https://arxiv.org/abs/2107.06278)

【状态】：报名

【repo链接】：https://github.com/baibizhe/MaskFormer.git

[2022-04-19 10:49] ELKYang commented on #41482
【队名】：Try

【序号】：75

【论文】：Two-Stream Adaptive Graph Convolutional Networks for Skeleton-Based Action Recognition

【状态】：提交

【repo链接】：https://github.com/ELKYang/2s-AGCN-paddle

[2022-04-19 11:01] yaoxuefeng6 commented on #41978
多谢反馈 我们评估下需求

[2022-04-19 11:08] hatimwen opened #41982 "【论文复现】TIPC动转静的时候paddle.autograd.PyLayer的apply()报错不支持，如何解决？"
### 请提出你的问题 Please ask your question

运行环境：

- Python 3.7.11

- paddlepaddle-gpu    2.2.2.post111

模型由动态图模式转为静态图的时候，报如下的错：

[code]

下面是一段复现此报错的动态图转静态图代码：

[code]

具体报错如下：

[code]

[2022-04-19 11:24] #41980 closed, assigned to yaoxuefeng6

[2022-04-19 11:38] ShiningZhang commented on #41977
可以使用TensorRT的序列化功能，在EnableTensorRtEngine时设置use_static=True，这样会在第一次运行后将TRT优化信息保存到磁盘，而后运行时直接加载。具体可参考：https://www.paddlepaddle.org.cn/inference/v2.2/api_reference/cxx_api_doc/Config/GPUConfig.html#tensorrt

[2022-04-19 12:46] chicleee commented on #41482
【队名】：来颗华子

【序号】：21

【论文】：Instances as Queries

【状态】：报名

【repo链接】：[https://github.com/chicleee/QueryInst](https://github.com/chicleee/QueryInst)

[2022-04-19 12:53] Victory8858 commented on #41482
【队名】：Victory8858

【序号】：86

【论文】：Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery

【状态】：报名

【repo链接】：https://github.com/Victory8858/FarSeg-Paddle

[2022-04-19 13:12] wawltor commented on #41978
[code]

您好，在飞桨2.x版本中我们可以API组合的方式来实现复杂的API功能，您可以参考上面的方式来实现 `devide_no_nan`

[2022-04-19 13:23] zhangjinCV opened #41996 "大卷积核耗时较长，可否根据RepLKNet提出的方法增加conv2d的效率"
### 需求描述 Feature Description

https://github.com/MegEngine/cutlass/tree/master/examples/19_large_depthwise_conv2d_torch_extension
可以参考这里的描述，大的卷积核效率通常十分的慢，这是由于框架底层的原因，可否根据旷视提出的方法迁移到飞桨中，从而达到大卷积核也能十分效率。很抱歉因为个人能力有限，无法实现底层，所以无法为飞桨提供PR。

### 替代实现 Alternatives

_No response_

[2022-04-19 13:46] Wei-JL commented on #41861
![FGM6}S6N7`5`CWX%Y4}A113](https://user-images.githubusercontent.com/71386288/164017863-1704fad8-ae8a-46e1-b4fe-bf36c63dd80e.png)

这是我在本地用paddle跑的， 可以运行很多轮 我跑了接近40轮，手动停了。 但是重新复制到BML上就报错 这次报错换了。

[code]

[2022-04-19 13:55] kunkun0w0 commented on #41482
【队名】：Try

【序号】：75

【论文】：Two-Stream Adaptive Graph Convolutional Networks for Skeleton-Based Action Recognition

【状态】：提交

【repo链接】：https://github.com/ELKYang/2s-AGCN-paddle

[2022-04-19 14:08] Dandelight commented on #41482
【队名】：对队

【序号】：7

【论文】：[An Energy and GPU-Computation Efficient Backbone Network for Real-Time Object Detection](https://arxiv.org/abs/1904.09730)

【状态】：报名&提交

【repo链接】：<https://github.com/Dandelight/VoVNet-PaddlePaddle>

[2022-04-19 14:36] GreatV commented on #41875
谢谢，使用 ` -DWITH_UNITY_BUILD=ON`可以生成。

[code]

[2022-04-19 14:40] #41875 closed, assigned to betterpig

[2022-04-19 15:03] Godaddy-xie commented on #41482
【队名】：千万不再做阿的团队

【序号】：71

【论文】：VectorNet: Encoding HD Maps and Agent Dynamics from Vectorized Representation

【状态】：报名

【repo链接】：https://github.com/Godaddy-xie/VectorNet-paddle/

[2022-04-19 15:06] simonsLiang commented on #41482
【队名】：高级伴读书童

【序号】：64

【论文】：Semi-orthogonal Embedding for Efficient Unsupervised Anomaly Segmentation

【状态】：报名&&提交

【repo链接】：https://github.com/simonsLiang/orthoad_paddle

[2022-04-19 15:24] Leiyi-HU commented on #41482
【队名】：_小胡睡不醒o的团队

【序号】：86

【论文】：Foreground-Aware Relation Network for Geospatial Object Segmentation
in High Spatial Resolution Remote Sensing Imagery

【状态】：报名

【repo链接】：https://github.com/HULEIYI/FarSeg-Paddle-

[2022-04-20 00:10] tb5874 commented on #41888
@liyancas Thank you for answer.
From your answer, i understand preprocess of GPU warmup.

So now, my question is below.
[1] 'Inference_time(ms)' is reasonable ? with my HW Specification and '--device=CPU' option.
[2] Should i ask benchmark data with similar my HW Specification ?

I can't find Paddle HW benchmark page.
Thank you.

[2022-04-20 00:46] SpaceView opened #42002 "build with VS2019 + windows 10, ERROR MSB8066"
### 问题描述 Issue Description

I'm trying to build paddle inference c++ development version;  with cuda11.5 + cudnn8.3 + tensorrt8.4.0.6 + python3.8.12, and I got the following errors,

严重性	代码	说明	项目	路径	文件	行	禁止显示状态
错误	MSB8066	“E:\vPaddle\padev\dev\CMakeFiles\b802349b2821104e8980f75d0f052323\libiomp5md.dll.rule;E:\vPaddle\padev\dev\CMakeFiles\b802349b2821104e8980f75d0f052323\mkldnn.dll.rule;E:\vPaddle\

[2022-04-20 02:28] YellowLight021 commented on #41482
【队名】：人工智障，医者仁心
【序号】：36

【论文】：nnU-Net: Self-adapting Framework for U-Net-Based Medical Image Segmentation

【状态】：报名

【repo链接】：https://github.com/YellowLight021/pp_nnUnet

[2022-04-20 02:30] Aganlengzi commented on #40559
@Meiyim @SWHL hi, 请尝试这个页面是否有对应环境的预编译whl包可用？https://pypi.org/project/paddle-bfloat/0.1.2/#files
另外请贴一下pip的版本，是否是因为pip版本导致无法匹配whl包,
如果pip版本较低，可升级后(>20.3)再安装，此时会匹配预编译包paddle_bfloat-0.1.2-cp37-cp37m-manylinux_2_27_x86_64.whl而无需本地编译.

[2022-04-20 02:38] Aganlengzi commented on #40559
@lidanqing-intel @jakpiase hi, it seems local compiling is still needed in some environment, would you please help check?

[2022-04-20 02:55] peanut1028 commented on #41977
感谢回复！
我置为true后，确实看到了保存下来的序列化文件。但是多次运行时，加载速度仅有一次有明显提升，其他时候依然耗时5 minutes+ 。
我想问，是否仅需要设置use_static=True，其他地方不必改动？是否有直接从序列化文件加载的接口呢？

[2022-04-20 03:08] zhangting2020 commented on #41861
在ai studio上用这个打印出的版本是什么？在前面的的[comment](https://github.com/PaddlePaddle/Paddle/issues/41861#issuecomment-1100134527)，好像截图里没有看到版本信息。可能是最开始的给的那个命令，显示的有点问题，你重新看看这个命令，确认下版本?总觉得不太像是同一个版本运行出来的效果。
[code]

[2022-04-20 03:12] OccupyMars2030 opened #42012 "About _C_ops.final_state_dropout in paddle.nn.functional.dropout (interoperability between python and C++, CPython extension, Python/C API)"
### 请提出你的问题 Please ask your question

I have a question  about  the source code of  paddle.nn.functional.dropout  in  the file  python/paddle/nn/functional/common.py.
`        if _non_static_mode():
            if default_main_program().random_seed != 0:
                seed = default_main_program().random_seed

            if in_dygraph_mode():
                out, mask = _C_ops.final_state_dropo

[2022-04-20 03:15] miemie2013 commented on #41248
成功了，感谢大佬！

[2022-04-20 03:15] OccupyMars2030 commented on #42012
![Screenshot from 2022-04-20 11-14-21](https://user-images.githubusercontent.com/31559413/164143182-6f670484-70d1-4a2e-aa83-370be630ad9a.png)

[2022-04-20 03:18] yaoxuefeng6 commented on #41958
看看这个有帮助吗 https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.4/deploy/cpp_infer

[2022-04-20 03:24] yaoxuefeng6 commented on #41982
PyLayer 机制目前还没有支持，后续会评估一下支持方案

[2022-04-20 03:27] miemie2013 commented on #41248
2.3啥时候发布呀？自己编译的话一大推第三方依赖下载失败

[2022-04-20 03:27] miemie2013 commented on #41248
2.3啥时候发布呀？自己编译的话一大推第三方依赖下载失败

[2022-04-20 03:36] zyfncg commented on #41248
2.3RC版在最近这几天会发布。或者也可以直接用Paddle官网提供的用develop分支编译的安装包
<img width="858" alt="image" src="https://user-images.githubusercontent.com/13048366/164145095-c39a1933-c97c-4de3-a70b-a1d4702290cd.png">

[2022-04-20 03:36] #41637 closed, assigned to Ligoml

[2022-04-20 04:12] hengshan123 opened #42016 "在tornado服务框架下使用paddleocr推理报错cudaErrorInitializationError"
- 系统环境/System Environment：ubuntu 18.04  nvidia-docker
- 版本号/Version：Paddle：2.2.1-gpu-cuda11.2-cudnn8  PaddleOCR： paddleocr==2.3.0.2

- 完整报错/Complete Error Message：
File "/app/modules/paddle_ocr.py", line 72, in process_single_image
    result = self.ocr.ocr(image, cls=True)
  File "/usr/local/lib/python3.7/dist-packages/paddleocr/paddleocr.py", line 379, in ocr
    dt_boxes, rec_res = self.__call_

[2022-04-20 05:59] OccupyMars2030 commented on #40234
【队名】：SmirnovKol

【序号】：16

【状态】：提交

【链接】：https://github.com/PaddlePaddle/Paddle/pull/42017

[2022-04-20 06:02] SWHL commented on #40559
- 之前我的pip版本是21.0.1，直接`pip install paddle_bfloat`，会报上面我贴的错误
- 升级pip版本到`pip==22.0.4`，直接`pip install paddle_bfloat`，会报下面错误：
[code]

- 我尝试去[paddle-bfloat 的pypi主页](https://pypi.org/project/paddle-bfloat/0.1.2/#files)找符合我这里环境的包→[paddle_bfloat-0.1.2-cp37-cp37m-manylinux_2_27_x86_64.whl](https://files.pythonhosted.org/packages/8a/8e/f2b5a82551f1397c6496f47d588b6fdd4811b720d0812effe368bec30b97/paddle_bfloa

[2022-04-20 06:09] ltto commented on #38379
CPU: m1  pro
MacOS 12.3.1
python  3.10.4  arm

报错找不到飞桨的包
(ps) ➜  examples python -m pip install paddlepaddle==2.2.1 -i https://mirror.baidu.com/pypi/simple

Looking in indexes: https://mirror.baidu.com/pypi/simple
ERROR: Could not find a version that satisfies the requirement paddlepaddle==2.2.1 (from versions: none)
ERROR: No matching distribution found for paddlepaddle==2.2.1

[2022-04-20 07:19] Wei-JL commented on #41861
如下，
![image](https://user-images.githubusercontent.com/71386288/164172687-7a0eaf3d-1602-4aff-a1b4-7a3ad0ec8db1.png)

[2022-04-20 07:50] 123456bfb opened #42026 "Win10Pip安装PaddlePaddle-gpu 2.2.2+Cuda10.2+cuDNN 7.6.5+python3.7.9 ，Compiled with WITH_GPU, but no GPU found in runtime.You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default."
### 问题描述 Issue Description

在本地运行paddlehub的pyramidbox_lite_mobile_mask使用GPU预测，进行人脸口罩检测，运行报错，说没有找到GPU，但CUDA安装正确，与NVIDIA 驱动器版本也符合，paddlepaddle-gpu验证安装成功，也设置了环境变量。网上找了各种办法都试过了。重装过Cuda和paddlepaddle还是不行，也尝试过conda安装也失败了。
有哪位大哥知道怎么解决吗？孩子卡在这个问题好几天了，觉都睡不着。
![image](https://user-images.githubusercontent.com/68626928/164176972-2c48d784-07bd-4d51-a1da-7ae6608f7d24.png)
![image](https://user-images.githubuserc

[2022-04-20 07:59] GT-ZhangAcer commented on #42026
MX150显卡在深度学习方面支持的不好，不是很推荐折腾，即使可以使用该GPU也很难带动常见的深度学习模型训练。
有条件的话可以换个能玩3A的GPU，那种的基本上不会在深度学习方面有什么问题。

[2022-04-20 08:00] JiabinYang commented on #42012
This method in auto_generated during compiling process, which u can find it in `paddle/fluid/pybind/eager_final_state_op_function_impl.h`

[2022-04-20 08:02] 123456bfb commented on #42026
报错显示找不到GPU是什么问题，版本驱动这些都更新了。我这个只是简单的跑一下程序，想用GPU加速一下，因为CPU运行太慢了

[2022-04-20 08:02] 123456bfb commented on #42026
报错显示找不到GPU是什么问题，版本驱动这些都更新了。我这个只是简单的跑一下程序，想用GPU加速一下，因为CPU运行太慢了

[2022-04-20 08:03] 123456bfb commented on #42026
主要是耗了好几天在这里了，感觉就快要成功了，不想就这么放弃