[2022-09-06 07:15] GreatV commented on #45789
报错信息太简短了，不知道从哪开始着手。

[2022-09-06 07:55] ABC1234-gitup commented on #45742
改变权重后出现同样的错误，我选择安装cuda 11.6.2和cudnn 8.4.0这个组合，在环境里我先装的pytorch,下载cudnn-windows-x86_64-8.4.0.27_cuda11.6-archive。pytorch安装完成后安装paddlepaddle，使用官网命令在安装过程中会自动安装cudnn 8.4.1这个版本，请问在命令安装paddlepaddle时可以指定cudnn的版本号吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/P

[2022-09-06 08:10] 15554710621 opened #45798 "单机多卡训练出现 _pickle.UnpicklingError: pickle data was truncated"
### 请提出你的问题 Please ask your question
[code]

将验证结果用pickle保存出错

单卡训练不报错
多卡的时候需要怎么样通信才能将结果保存下来呢

[2022-09-06 08:15] wangxinxin08 commented on #45742
不能指定cudnn的版本号，你可以先试下现在还有问题没有

[2022-09-06 08:46] GreatV commented on #45789
添加打印日志后，找到了问题。
[code]

[2022-09-06 08:46] #45789 closed, assigned to LemonNoel

[2022-09-06 08:49] LemonNoel commented on #45798
单机训练的时候在`paddle.distributed.get_rank()==0`的卡上保存即可。

[2022-09-06 08:51] LemonNoel commented on #45780
可以检查下参数初始化是否一致，如果diff较小，可以看下Layer中的其他默认参数配置是否一致。

[2022-09-06 08:52] LemonNoel commented on #45780
反向可以打印grad验证，优化器需要按原有实现对齐。

[2022-09-06 08:53] ABC1234-gitup commented on #45742
我试了下还是出现同样的问题。
Traceback (most recent call last):
&nbsp; File "./tools/eval.py", line 153, in <module&gt;
&nbsp; &nbsp; main()
&nbsp; File "./tools/eval.py", line 148, in main
&nbsp; &nbsp; run(FLAGS, cfg)
&nbsp; File "./tools/eval.py", line 106, in run
&nbsp; &nbsp; trainer.evaluate()
&nbsp; File "D:\HYD\95-99\PaddleDetection-release-2.3\ppdet\engine\trainer.py", line 503, in evaluate
&nbsp; &nbs

[2022-09-06 08:54] Hoonly opened #45801 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf0 in position 1: invalid continuation byte"
### bug描述 Describe the Bug

paddle源码编译安装
分支：develop
commit id：a119686ce108c4e1880182e423bf0a6f26db759a
编译安装后执行以下命令验证
`paddle.utils.run_check()`
在程序执行到
`program.desc.cached_hash_str()`时
出现解码错误
```*** UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf0 in position 1: invalid continuation byte```
将python/paddle/fluid/executor.py中 `_run_impl`函数
`key = _get_strong_program_cache_key_for_new_exe(

[2022-09-06 08:54] Hoonly commented on #45801
这是来自QQ邮箱的自动回复邮件。
 
您好，您的邮件我已收到，谢谢。

[2022-09-06 08:57] 15554710621 commented on #45798
但是不同卡取的不是不同的数据吗，我理解的是不同卡上模型相同但输出的结果不同？

[2022-09-06 09:06] LemonNoel commented on #45791
您好，在notebook上同样可以将代码放在文件中，使用python脚本进行多GPU训练。如果需要notebook block默认多GPU训练，建议到AIStudio交流群提问哈，官方QQ: 580959619

[2022-09-06 09:19] wangxinxin08 commented on #45742
建议回退cuda版本到11.2或者10.2，太新的cuda版本可能出问题

[2022-09-06 09:23] LemonNoel commented on #45798
哦哦，上边说的是模型保存。保存结果的话，可以将file_path用卡号`paddle.distributed.get_rank()`来区分，避免同时写入同个文件。

[2022-09-06 09:24] wangna11BD commented on #45761
请问是在使用mold编译paddle时报的错吗，建议按照paddle官网编译文档变异paddl
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/linux-compile.html#anchor-0

[2022-09-06 09:29] 15554710621 commented on #45798
可不可以每个epoch里将数据整合，然后epochs结束后一起输出呢？

[2022-09-06 09:34] 15554710621 commented on #45798
我感觉要用all_gather和barrier，但是没成功。。。

[2022-09-06 09:49] wangxinxin08 commented on #45742
另外，可以测试下以下代码能够正常跑
[code]

[2022-09-06 09:52] WorgenZhang commented on #45745
您好，是用的分布式的PS还是Collective模式呢？

[2022-09-06 10:01] #45725 closed, assigned to nobody

[2022-09-06 10:08] ABC1234-gitup commented on #45742
不可以正常跑。会出现以下错误：
Error: ../paddle/phi/kernels/funcs/elementwise_functor.h:545 Assertion `b != 0` failed. InvalidArgumentError: Integer division by zero encountered in (floor) divide. Please check the input value.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePad

[2022-09-06 10:56] Lllllolita commented on #45780
加载同样的模型，使用model.eval()和FLAGS_cudnn_deterministic = True，还固定了随机种子。前向输出、前向loss和最后一层的grad还是能对齐的，但反向倒数第二层的grad开始出现diff。请问这种情况，只能检查模型参数了吗？

[2022-09-06 11:35] wangxinxin08 commented on #45742
建议先回退CUDA版本吧

[2022-09-06 12:11] ZHUI commented on #45798
可以参考这里的写法:
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/trainer/utils/helper.py#L57-L74

不太会用的话，还是自己用一些flag，一张卡上合并结果，在输出。

[2022-09-06 12:11] ZHUI commented on #45798
这里也有 all_gather的简单例子：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-1.0/run_pretrain.py#L183-L189

[2022-09-06 12:23] ucsk commented on #44501
【队名】：DeepRS

【序号】：18

【论文】：[Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery](https://arxiv.org/abs/2011.09766)

【状态】：报名

【repo链接】https://github.com/ucsk/FarSeg

[2022-09-06 12:46] LemonNoel commented on #45780
优化器部分默认设计上会有所区别，如果不考虑单步的差异，现在整体训练下来能够复现结果吗？

[2022-09-06 12:49] PureNatural commented on #43938
【队名】：源力觉醒

【序号】：7

【状态】：报名

【链接】：https://github.com/PureNatural/Paddle

[2022-09-06 13:39] Dimensionzw commented on #42016
我使用seldon core部署paddleocr也出现了这个问题
`CUDA error(3), initialization error. \n  [Hint: 'cudaErrorInitializationError'. The API call failed because the CUDA driver and runtime could not be initialized.`
在CPU模式下运行是正常的，在GPU下出现了上述问题，paddlehub和paddleocr的predict_system都存在类似问题

[2022-09-06 16:00] april211 commented on #42358
Jetson nano 需要编译吧？

[2022-09-07 01:00] xiaohemaikoo commented on #43938
【队名】：天行浪人小河马
【序号】：47
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/45817

[2022-09-07 01:45] TUDelftHao commented on #45713
hi, 用了float64的话确实没有出现这个情况，但是float32是paddle默认数据类型，这个是不是考虑严格支持一下？paddle.uniform默认也是float32。

[2022-09-07 02:02] yunbattle1994 commented on #43938
【队名】：PinnCylPro
【序号】：65
【状态】：提交作品
【链接】：https://github.com/tianshao1992/PINNs_Cylinder

[2022-09-07 02:10] OccupyMars2030 opened #45818 "confusing usage of "std::make_shared<phi::DenseTensorMeta>(phi::DenseTensorMeta)""
### 请提出你的问题 Please ask your question

paddle\fluid\eager\grad_node_info.h
<img width="960" alt="image" src="https://user-images.githubusercontent.com/31559413/188772311-5044ab90-d03a-4c7f-942e-d99ab86803a6.png">

I'm confused about the usage of  `std::make_shared<phi::DenseTensorMeta>(meta);`
It seems to use  `std::make_shared<phi::DenseTensorMeta>(phi::DenseTensorMeta),` which doesn't make sense

[2022-09-07 02:15] 15554710621 commented on #45798
好的，谢谢，我试试

[2022-09-07 02:29] OccupyMars2025 commented on #45818
It's ok NOT to answer this question. It's not urgent.  I just take down my confusion here for  my future reference.

[2022-09-07 02:53] zhiqiu commented on #45713
好的，我们会讨论下怎么修复哈。

[2022-09-07 02:53] Lllllolita commented on #45780
正在整体训练，如果结果能达到精度指标，可以验收吗？

[2022-09-07 02:56] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么
【序号】：10
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/248

[2022-09-07 03:41] Intsigstephon opened #45823 "Table structure model can not inference with paddlepaddle-xpu"
### bug描述 Describe the Bug

业务方给定的一个表格结构识别推理模型，在飞腾CPU + kylin OS + R200下，用paddpaddle_xpu 推理跑不通

[code]

报错如下：
[code]

模型地址：https://paddleocr.bj.bcebos.com/ppstructure/models/slanet/ch_ppstructure_mobile_v2.0_SLANet_infer.tar

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-07 03:45] inspiration12138 opened #45825 "【论文复现】反向梯度无法对齐"
### 请提出你的问题 Please ask your question

您好，在论文复现的过程中已经实现模型的正向对齐和损失函数对齐，反向从第二轮损失开始对不齐，通过打印torch和paddle的反向梯度，通过ReprodLogger进行diff验证，发现是使用的paddle.vision.resnet的预训练模型中的downsample层开始diff到了e-4级别，在这下面的梯度均为e-5及以下，请问这种情况下有什么解决方案吗

附上主要的测试代码
        import sys
        import os
        import argparse
        import random

        import torch
        import paddle
        import numpy as np
        from rep

[2022-09-07 05:00] Lllllolita opened #45827 "《论文复现》现在没有cuda11.3对应的paddle-gpu版本吗？"
### 请提出你的问题 Please ask your question

是否可以向下兼容，使用cuda11.6对应的paddle-gpu版本，在cuda11.3的环境中运行？

[2022-09-07 05:07] LemonNoel commented on #45780
整体训练精度按照要求达标应该是可以的，如果不能的话就需要排查下是否中间还有其他问题。

[2022-09-07 05:29] GreatV opened #45829 "【论文复现】自定义算子cuda实现版无法清除梯度"
### 请提出你的问题 Please ask your question

cpu实现版可以对齐精度，cuda实现版梯度一直累积，测试代码如下：

[code]

cpu版日志如下：

[code]

cuda实现版日志如下：

[code]

[2022-09-07 05:33] yunbattle1994 commented on #43938
【队名】：PinnCylPro
【序号】：65
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/249

[2022-09-07 05:36] Hoonly opened #45830 "where算子在compiled_with_xpu情况下出错"
### bug描述 Describe the Bug

`python/paddle/tensor/search.py`

当where算子中的X==inf时，走到如下分支时会出现inf*0=nan的情况，由于xpu上实现了where op，是否考虑将这个条件分支删除

<img width="659" alt="图片" src="https://user-images.githubusercontent.com/20243833/188796656-ed8a0634-e8f5-4ee6-88ce-37e44c6bf324.png">

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-07 06:01] #45756 closed, assigned to nobody

[2022-09-07 06:15] DesmonDay commented on #45830
想问问，有测试过去掉这个条件分支之后，xpu环境下能正常运行吗？

[2022-09-07 06:17] Hoonly commented on #45830
可以正常运行，结果没有问题

[2022-09-07 06:24] DesmonDay commented on #45827
https://github.com/PaddlePaddle/Paddle/issues/44980 可以看看这个issue哈，可以使用飞桨官网提供的pip cuda11.2 的安装包，是可以cuda11.3 环境中使用的。

[2022-09-07 06:26] zhiqiu commented on #45801
你的编译选项是什么？

[2022-09-07 06:28] Hoonly commented on #45801
![图片](https://user-images.githubusercontent.com/20243833/188804636-121a8967-32ac-412e-a6b2-4f28ab4e352c.png)

[2022-09-07 06:29] zhiqiu commented on #45801
你把crypto编译打开试试

[2022-09-07 06:33] DesmonDay commented on #45830
ok，那你这边是否方便提个PR呢？然后可以的话再贴一下正常运行的截图之类的，不方便的话我就自己来修改了。

[2022-09-07 06:35] Hoonly commented on #45830
您那边修改吧 感谢

[2022-09-07 06:40] DesmonDay commented on #45830
嗯嗯，ok

[2022-09-07 06:42] Zth9730 commented on #45745
不好意思，用于项目比较大，我无法提供最小复现代码
环境是cuda==10.2, python==3.7,  paddle==2.3.1
用的是单机多卡，python3 -m paddle.distributed.launch train.py进行启动
from paddle import distributed as dist
dist.init_parallel_env() 进行初始化

[2022-09-07 06:56] DesmonDay commented on #45830
hello，能否简单贴一个测试代码呢？

[2022-09-07 06:58] Hoonly commented on #45830
我这边之前是测的一个模型，我简单整理下贴过来吧，需要点时间

[2022-09-07 07:10] DesmonDay commented on #45818
[code]

Actually this kind of usage still match this template, where we have T and Args are both phi::DenseTensorMeta. Then we can have ``shared_ptr<phi::DenseTensorMeta> a = make_shared<phi::DenseTensorMeta>(meta)``. You can find many other examples, like ``shared_ptr<int> a = make_shared(42), shared_ptr<string> b = make_shared<string>(10, '9')``.

[2022-09-07 07:21] DesmonDay commented on #45829
嗯嗯，有试过把那个自定义算子换成任意框架内的算子，可以正常清除梯度的吗？

[2022-09-07 07:26] DesmonDay commented on #45829
另外，有测试过自定义算子CUDA算子在执行过多轮后梯度是否能够和CPU算子的对齐呢？（去掉梯度清除部分）

[2022-09-07 07:36] DesmonDay commented on #45823
收到，我们这边具体查看一下。

[2022-09-07 07:36] Intsigstephon commented on #45823
好的

[2022-09-07 07:41] GreatV commented on #45829
不清除梯度也不一样，cpu算子梯度累积是正确的，cuda算子有的能对上有的不能。每次只算一个不循环的话，cpu和cuda都能对齐。

<img width="1061" alt="截屏2022-09-07 15 39 48" src="https://user-images.githubusercontent.com/17264618/188818558-b2d86dc3-3faf-4989-8a1f-fe0d92a2c8a7.png">

不知道这种情况从哪开始排查。

[2022-09-07 07:41] Lllllolita commented on #45827
好的，已解决。感谢您的回复

[2022-09-07 07:49] DesmonDay commented on #45829
嗯嗯，首先就确认一下cuda算子实现和cpu实现是否一致，如果确定两者实现一致的话，我这边再咨询相关同学排查一下。

[2022-09-07 07:50] DesmonDay commented on #45830
好的，谢谢

[2022-09-07 07:59] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：21
【状态】：报名
【链接】：https://github.com/zrr1999/Paddle

[2022-09-07 08:15] sfraczek commented on #44621
I've heard that the problem is fixed by using gcc version <=8.2

[2022-09-07 08:15] Zth9730 opened #45838 "最新develop版本无法对空tensor[] 做for循环"
### bug描述 Describe the Bug

最新develop版本无法对空tensor[] 做for循环，据我所知这在pytorch以及之前版本的paddle中是可以的
[code]
这导致升级paddle版本后原本代码出现些错误，请问之后paddle是要遵从这个规定吗？

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-07 08:35] paulinagacek commented on #44621
In my case problem occurred with gcc 8.4 and above as well as with gcc 7.5. It was solved by using gcc 8.2

[2022-09-07 08:40] SigureMo opened #45841 "【社区治理】SigureMo 发起 Committer 身份申请"
## 基本信息

| 申请人 GitHub ID | **Paddle Repo 整体 merge PR 数**                                                           | **Paddle Repo 整体 review PR 数**                                                                                  | **Paddle Repo 整体报告 Issue 数**                                                   |
| ---------------- | -------------------------------------------------------------------

[2022-09-07 08:46] luotao1 commented on #45841
+1

@SigureMo 在 [单测优化报错项目](https://github.com/PaddlePaddle/community/blob/master/pfcc/call-for-contributions/code_style_improvement_for_unittest.md) 中作为组长，带领小组存量（批量自动化）共修复了400+文件近2700+处单测的断言函数，增量使用CI检查项阻止新增不合规断言函数的出现，大幅提升了飞桨单测的报错信息丰富度。

[2022-09-07 08:47] XiaoguangHu01 commented on #45841
+1

[2022-09-07 08:47] Ligoml commented on #45841
同意~

[2022-09-07 09:39] LielinJiang commented on #45825
误差是会累计的，e-5经过一次计算变长e-4是非常正常的情况。可以从结果来看下是否能够对齐

[2022-09-07 09:50] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：21
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/250

[2022-09-07 09:59] Rayman96 opened #45847 "deformable_conv算子的im2col_step参数问题"
### 请提出你的问题 Please ask your question

在paddle中deformable_conv有两个入口：
1. paddle.vision.ops.deform_conv2d[https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/vision/ops/deform_conv2d_cn.html#deform-conv2d]
2. paddle.static.nn.deform_conv2d[https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/static/nn/deform_conv2d_cn.html#deform-conv2d]

在benchmark和单测中都使用的vis

[2022-09-07 10:07] Ligoml commented on #45847
@ZzSean

[2022-09-07 10:10] sljlp commented on #45791
可以开启多个Notebook，每个Notebook占用一个GPU，配置环境稍微比较麻烦
可以首先使用launch按照脚本的方式启动一下，获取启动后每个进程的环境变量，然后相应地配置到对应notebook里
这样就可以使用分布式环境了

[2022-09-07 10:10] Rayman96 commented on #45847
deformable_conv作者实现的代码中提到
https://github.com/msracver/Deformable-ConvNets/tree/master/DCNv2_op
![image](https://user-images.githubusercontent.com/35597076/188851733-c665e195-2e53-4ccc-adce-56d49c7083c6.png)

从代码上看，不同的im2col_step只是并行速度上变化，应该不会影响最终结果才对。 我是在做hackathon的38题时发现的，我设想的一条优化思路落实下来就是合理增大im2col_step，但增大了发现结果不一致了😂

[2022-09-07 10:46] DesmonDay commented on #45838
收到，我们这边跟进一下。

[2022-09-07 11:19] hnmizuho commented on #44501
【队名】：无名小队

【序号】：76

【论文】：Invertible Denoising Network: A Light Solution for Real Noise Removal

【状态】：报名

【repo链接】：https://github.com/hnmizuho/InvDN_paddlepaddle

[2022-09-07 11:20] DesmonDay commented on #45823
你好，单纯看报错信息的话，显示是Expected dtype() == paddle::experimental::CppTypeToDataType<T>::Type(), but received dtype():7 != paddle::experimental::CppTypeToDataType<T>::Type():5. 然后具体定位到数据类型上，7指的是int32，5指的是int16。想问问是不是某个参数的类型不太正确导致的？

[2022-09-07 11:33] Intsigstephon commented on #45823
有可能是；我拿到的推理模型就是这样的，我理解应该要能够兼容int32和int16吧

[2022-09-07 11:55] #45801 closed, assigned to zhiqiu, LemonNoel

[2022-09-07 12:01] DesmonDay commented on #45823
嗯嗯，是的。那我这两天提个PR支持一下int16。

[2022-09-07 12:24] DesmonDay commented on #45823
我再跟你在办公软件上细说一下吧。

[2022-09-07 13:16] GreatV commented on #45829
从paddlepaddle2.2.2升级到paddlepaddle2.3.2解决了这个问题

[2022-09-07 13:16] #45829 closed, assigned to DesmonDay, chenwhql

[2022-09-07 13:19] tsocha commented on #37930
There is a performance difference of MatMul and Softmax operators in oneDNN Jit code versus ONNXRuntime.
The issue has been reported to oneDNN library, it's under investigation.

[2022-09-07 13:29] PureNatural commented on #43938
【队名】：源力觉醒

【序号】：8

【状态】：报名

【链接】：https://github.com/PureNatural/Paddle

[2022-09-07 14:00] #45841 closed, assigned to nobody

[2022-09-07 16:06] kongdebug commented on #45767
是的，我测试了2.1.2到2.3.2，GPU/CPU不同推理模式，发现就2.1.2和2.2.2的CPU推理正常，其他均为NAN的情况，不知道发生什么问题了

[2022-09-08 03:05] #45827 closed, assigned to DesmonDay

[2022-09-08 03:17] inspiration12138 commented on #45825
从结果来看就是对不齐，误差都在e-3左右
附上diff结果
        [2022/09/07 18:58:04] root INFO: loss_0:
        [2022/09/07 18:58:04] root INFO: 	mean diff: check passed: True, value: 0.0
        [2022/09/07 18:58:04] root INFO: loss_1:
        [2022/09/07 18:58:04] root INFO: 	mean diff: check passed: False, value: 0.001953125
        [2022/09/07 18:58:04] root INFO: loss_2:
        [2022/09/07 18:58:04] root INFO: 	mean

[2022-09-08 03:17] zwjwhxz opened #45864 "业务绑定CPU后调用paddleocr后，绑核失效，都跑到一个CPU核上了，请问如何进行绑核？"
### 请提出你的问题 Please ask your question

业务绑定CPU后调用paddleocr后，绑核失效，都跑到一个CPU核上了，请问如何进行绑核？

[2022-09-08 03:22] inspiration12138 commented on #45825
在paddle运行的时候有warning，但是不影响运行，用paddle.utilities.run_check()也是通过的，这个是否会影响到计算呢？
W0908 11:18:46.313169 18668 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.6, Runtime API Version: 11.1
W0908 11:18:46.314168 18668 gpu_resources.cc:91] device: 0, cuDNN Version: 8.0.
W0908 11:18:51.017967 18668 gpu_resources.cc:201] WARNING: device:  . The installed Paddl

[2022-09-08 03:23] LielinJiang commented on #45825
这个diff是loss的diff嘛？我说的结果是最终的训练的精度

[2022-09-08 03:26] inspiration12138 commented on #45825
最终训练的精度用小数据集跑可以达到，但是要求torch和paddle的模型在loss上要对齐

[2022-09-08 03:30] DesmonDay commented on #45830
已修复：https://github.com/PaddlePaddle/Paddle/pull/45832

[2022-09-08 03:31] lwbmowgli opened #45865 "【API开发】Normal分布的API缺少rsample方法、cdf方法，且API是1.8的API。方法的缺失会影响LogNormal的开发"
### 需求描述 Feature Description

任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; <br /> 需求场景（请描述你的项目中为什么需要用此功能）;  <br /> 功能描述（请简单描述或设计这个功能）

### 替代实现 Alternatives

参考pytorch对Normal API进行升级，方便其他API的开发，例如LogNormal分布

[2022-09-08 05:37] #45830 closed, assigned to DesmonDay

[2022-09-08 05:41] engineer1109 opened #45871 "snprintf -Werror=format-security error on GCC9"
### bug描述 Describe the Bug

cmake ..
make

[  9%] Building CXX object paddle/fluid/platform/profiler/CMakeFiles/profiler_logger.dir/chrometracing_logger.cc.o
In file included from /home/wjl/github/Paddle/paddle/fluid/platform/profiler/chrometracing_logger.cc:26:
/home/wjl/github/Paddle/paddle/fluid/platform/profiler/utils.h: In instantiation of ‘std::string paddle::platform::string_format(const st

[2022-09-08 06:15] gamegrd commented on #43908
same issues on 5.15.60-1-MANJARO #1 SMP PREEMPT Thu Aug 11 13:14:05 UTC 2022 x86_64 GNU/Linux

[2022-09-08 06:20] rainyfly commented on #45871
你好，该warning已经提pr修复了，https://github.com/PaddlePaddle/Paddle/pull/45870 ， 等合入后重新拉一下

[2022-09-08 07:21] Dufferent commented on #45566
【队名】：三傻大闹

【序号】：兴4

【论文】：[KiU-Net: Overcomplete Convolutional Architectures for Biomedical Image and Volumetric Segmentation]

【状态】：报名 & 提交

【repo链接】：https://github.com/Dufferent/sanshadanao

[2022-09-08 07:27] txyugood commented on #44501
【队名】：txyugood

【序号】：88

【论文】：PYSKL: Towards Good Practices for Skeleton Action Recognition

【状态】：报名&提交

【repo链接】：https://github.com/txyugood/PaddleVideo/tree/stgcn++

[2022-09-08 07:45] cxxly commented on #45865
Normal确实是一个遗留较久的API，不过扩展一些功能不影响API兼容性，可以在Normal中新增`rsample`，`cdf`等方法，参考 rfc: https://github.com/PaddlePaddle/community/pull/248

[2022-09-08 08:13] OccupyMars2030 opened #45880 "want to put "PyObject_HEAD" at a single line in the PaddlePaddle source code"
### 请提出你的问题 Please ask your question

I want to put  "PyObject_HEAD" at a single line in the PaddlePaddle source code,  but  this will fail
PR-CI-Codestyle-Check like the following:
<img width="960" alt="image" src="https://user-images.githubusercontent.com/31559413/189070463-5c76878a-5ed2-4213-a10c-1bdf15fa6b9c.png">
https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/detail/6568249/job/182616

[2022-09-08 08:21] engineer1109 opened #45881 "Compile Error: name followed by "::" must be a class or namespace name"
### 问题描述 Issue Description

[ 35%] Building CUDA object paddle/phi/kernels/CMakeFiles/phi_gpu.dir/gpu/group_norm_grad_kernel.cu.o
/home/wjl/github/Paddle/paddle/phi/kernels/gpu/group_norm_grad_kernel.cu(74): error: name followed by "::" must be a class or namespace name
          detected during instantiation of "void phi::GroupNormGradKernel<T,Context>(const Context &, const phi::DenseTensor &, c

[2022-09-08 08:22] lelexx commented on #44501
【队名】：EMA
【序号】：兴6
【论文】：[FastFlow: Unsupervised Anomaly Detection and Localization via 2D Normalizing Flows](https://arxiv.org/pdf/2111.07677.pdf)
【状态】：提交
【repo链接】：[https://github.com/lelexx/fastflow_paddle](https://github.com/lelexx/fastflow_paddle)

[2022-09-08 08:32] engineer1109 commented on #45881
use CudaAtomicAddWithWarp to replace to solve platform::CudaAtomicAdd.

for #Line 72

[code]

[2022-09-08 08:37] engineer1109 commented on #45881
老的写法明明对的，为啥要给CUDA 11.7开分支宏

[2022-09-08 08:49] luowenhong01 opened #45884 "Operator multiclass_nms3 has not been registered"
### 请提出你的问题 Please ask your question

使用paddle2.0版本出现Operator multiclass_nms3 has not been registered问题，更新paddle2.2版本后可以解决。请问在不更版本的情况下如何解决这个问题。如果不行替换成paddle2.2版本的是否能与原版本兼容？

[2022-09-08 08:51] pmajchrzak opened #45885 "Build error after "Update protobuf output format for profiler""
### 问题描述 Issue Description

Commit 23bc0e3cf9c948fc65baacc436bb8b0786417ee1 causes build error, reproduced on several machines (SKX, CLX, CPX, SPR)

![image](https://user-images.githubusercontent.com/10847947/189078744-9f9cded3-b2fe-482a-9e0c-e00feb91bbcd.png)
(…)
![image](https://user-images.githubusercontent.com/10847947/189078888-1c7ac8d9-da96-4991-a345-e6e65302ac3b.png)

### 版本&环境信息 Version &

[2022-09-08 09:03] haoyuying commented on #45885
Hi, this warning has been fixed in https://github.com/PaddlePaddle/Paddle/pull/45870, you may pull the new code after this pr merged.

[2022-09-08 09:09] haoyuying commented on #45884
您好，请问您使用2.2版本会有什么问题呢，如果有，请提供具体的问题，如果没有，建议您使用新版paddle，2.2相对于2.0更新内容较多。

[2022-09-08 09:17] #45818 closed, assigned to DesmonDay

[2022-09-08 09:21] haoyuying commented on #45880
sorry， it is the ci code style requirements, you must follow code style requirements.

[2022-09-08 10:07] LielinJiang commented on #45881
11.7 老的写法有问题

[2022-09-08 10:11] engineer1109 opened #45889 "A lot of macro errors of PADDLE_ENFORCE_GPU_SUCCESS while compiling"
### 问题描述 Issue Description

PADDLE_ENFORCE_GPU_SUCCESS errors on fused_gemm_epilogue_op.cu

[code]

[code]

The return type of platform::dynload::cublasLtMatmul is error, not defined in
[code]

### 版本&环境信息 Version & Environment Information

Paddle Version : Develop
With CUDA: 11.7
3. Nvidia 1660 Super
4. Ubuntu 20.04   GCC 9.4.0

[2022-09-08 10:47] luowenhong01 commented on #45884
请问2.2版本和2.0版本是完全兼容的吗？

[2022-09-08 11:18] haoyuying commented on #45881
您好，该问题已经修复，请拉取新代码尝试：https://github.com/PaddlePaddle/Paddle/pull/45738/files

[2022-09-08 11:33] sneaxiy commented on #45889
@engineer1109 Would you please provide the commit id of PaddlePaddle?

[2022-09-08 12:33] #45880 closed, assigned to haoyuying

[2022-09-08 13:23] r0103 opened #45896 "fleet run 单机四卡运行问题"
### 请提出你的问题 Please ask your question

想请教下
1.  使用fleet run单机四卡分布式训练的时候，dataloader 使用num_workers=8 。这样做是相当于每张卡两个num_workers ，还是每张卡都是8个进程读？
2. fleet run 单机四卡 ，四张GPU 其实是重复加载了四次完整全量数据。怎么才能让每张GPU加载其中四分之一呢？
3. 使用Dataloader 加载数据，nameGPU 0  算batch_1  和GPU 1、GPU 2 、GPU3  用的batch 1 是同一个batch 1 吗？那岂不是相当于同一个batch 的梯度乘了四？
4. 使用async 模式，按理说 每个batch都会同步其他gpu的梯度，所以每块卡训到第1000步，相当于单卡训练了4000步。可是我看损失和准确率，和单卡训练到1000步相

[2022-09-09 01:19] engineer1109 commented on #45889
@sneaxiy  commit 9b70c55663eaf62b0e5909e48e34d95728e64967 (HEAD -> develop, origin/develop, origin/HEAD)

[2022-09-09 01:41] sneaxiy commented on #45889
@engineer1109 This bug has been fixed in https://github.com/PaddlePaddle/Paddle/pull/45899.  Please have a try.

[2022-09-09 01:52] yeliang2258 commented on #44075
Hi @wozna,
In recent tests, it was found that the accuracy of this model is almost 0. Although the speed may not be improved, the accuracy problem still needs to be solved.
The test script is here: https://github.com/PaddlePaddle/PaddleTest/tree/develop/inference/python_api_test/test_int8_model
First run:
[code]
Then:
[code]

[2022-09-09 02:01] engineer1109 commented on #45881
@haoyuying Fix Still error.
platform::CudaAtomicAdd  is wrong.
Should be
[code]
lack namespace.

[2022-09-09 02:05] ABC1234-gitup commented on #45742
cuda 退回到10.2版本，问题解决。十分感谢！

[2022-09-09 02:24] Rayman96 commented on #43938
【队名】：Rayman的团队
【序号】：36
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/252

[2022-09-09 02:36] engineer1109 commented on #45889
Fixed confirm

[2022-09-09 02:36] #45889 closed, assigned to haoyuying

[2022-09-09 02:37] engineer1109 commented on #45871
Fix confirmed

[2022-09-09 02:37] #45871 closed, assigned to haoyuying

[2022-09-09 02:45] engineer1109 commented on #45881
Addtional Fix #45904
合并时 注意下命名空间要写全，不然还是错
@haoyuying

[2022-09-09 02:49] r0103 opened #45905 "dataloader 加载问题"
### 请提出你的问题 Please ask your question

dataloader 加载数据，1024个数据一个batch，120000000数据，按理说应该11万个batch 就用完所有数据了，该下一epoch了。可是我发现一直加载到第30多万都还在继续加载。

1. 这种dataloader 加载方式，是会不停重复数据吗？
2. 如果是，那我设置每50000次break，开始下一epoch，每一个epoch 加载的数据相同吗？能充分利用上所有数据吗？

[2022-09-09 03:09] WhySoSeriousEN commented on #44501
【队名】：挂路灯
【序号】：89
【论文】：DAS-PINNs: A deep adaptive sampling method for solving high-dimensional partial differential equations
【状态】：报名
【repo链接】：https://github.com/Jingren-hou/DAS-PaddlePaddle

[2022-09-09 03:36] AndPuQing commented on #43938
【队名】：开摆鸟
【序号】：63
【状态】：提交
【链接】：https://github.com/X4Science/INFINITY/pull/14

[2022-09-09 03:36] caikw0602 opened #45908 "【论文复现】CvT: Introducing Convolutions to Vision Transformers"
### 数据集解压问题

百度团队你好：
        我队目前正在参加论文复现赛，选择的是CvT图像分类任务，现在需要采用了单机4卡进行ImageNet数据集的训练，目前有以下问题。
       通过查看日志（如下图所示），验证数据集并没有解压，就已经开始训练，导致执行验证代码时找不到图像样本。我是采用与行run.py方式进行脚本提交的，具体写法如下，请问我应该怎样修改代码，可以保证训练和验证数据集都解压以后，才开始运行train的程序呢？第一次复现，小白一名，还请见谅。

<img width="881" alt="解压后训练" src="https://user-images.githubusercontent.com/45365909/189266626-3b7c2fdc-f907-4f24-9eac-55eb109dcb33.png">

<img width="885" a

[2022-09-09 04:35] april211 commented on #43908
2.3.2 too

[2022-09-09 04:53] juncaipeng commented on #45905
1、dataloader是会不断循环读取data，不会终止。
2、可以充分利用，会继续读取后续的数据。

[2022-09-09 05:04] juncaipeng commented on #45908
你可以通过termial查看解压数据是否完成，可能也是数据路径没有存放正确。
os.system命令是阻塞的，应该是按照顺序执行，不过还是建议换成shell脚本执行解压和训练的命令。

[2022-09-09 06:08] JJY0710 commented on #42419
都多少天了，还不支持22.04？

[2022-09-09 06:23] PMPBinZhang opened #45914 "您好，我这显存空间剩余明显大于需要的，为什么还是会报显存空间不足呢"
### 请提出你的问题 Please ask your question

![Uploading 1662704415313(1).jpg…]()

[2022-09-09 06:28] caikw0602 commented on #45908
感谢回复，请问在脚本运行的情况下，哪里找terminal呢？

[2022-09-09 06:30] haoyuying commented on #45881
收到，感谢您的反馈。

[2022-09-09 06:32] engineer1109 commented on #45881
@haoyuying   问题已经找到
[group_norm_grad_kernel.cu](https://github.com/PaddlePaddle/Paddle/pull/45904/commits/4c0b03ade817106af5d4b776fa02aeab689aa36d)
是在namspace phi里
所以platform::CudaAtomicAdd是错误的
必须要paddle::platform::CudaAtomicAdd
[group_norm_op.cu](https://github.com/PaddlePaddle/Paddle/pull/45904/files/aeb29016d6ceccf8970812b133656190e5df1118#diff-2224a64cd516dcdf44b0804e6978e475660f86f0fa3d02cb98

[2022-09-09 06:33] haoyuying commented on #45884
2.2在2.0的基础上肯定会有很多bug修复及其他功能的阔充，建议使用2.2版本的paddle

[2022-09-09 06:47] engineer1109 commented on #45914
友情提示： 图片无法显示

[2022-09-09 06:50] GuoxiaWang commented on #45896
@r0103

1. fleet run 起任务是，每张卡一个主进程，对于 dataloader 使用num_workers=8 时，每个主进程创建 8 个子进程处理数据。
2. 每张卡在 Dataset 中会读全量的 (样本，标签) 对的索引，如果你用的是 DistributedBatchSampler，则会只产生四分之一的下标 idx，传递给 Dataset 类的 `__getitem__`。
3. 在分布式的情况下， 如2所述，这时候每张卡出来的 batch 是不一样的，所以不是
4. 这个 async 是指什么？通常情况下同步的 DataParallel，四卡会比单卡多同一个 step 会多处理 4 倍数据，每张卡算梯度的时通常会加上 loss = paddle.mean(loss)，目的是每张卡上归一化到一个样本上的 loss，所以当4卡处理的时候，在梯度求完后，会有一个梯度同步

[2022-09-09 06:56] haoyuying commented on #45864
您好，能具体描述下如何使用的吗，具体的模型，使用的命令及运行环境等等。

[2022-09-09 07:02] juncaipeng commented on #45914
你可以把log信息贴出来

[2022-09-09 07:16] ucsk commented on #44501
【队名】：DeepRS
【序号】：18
【论文】：Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery
【状态】：提交
【repo链接】https://github.com/ucsk/FarSeg

[2022-09-09 07:37] PMPBinZhang commented on #45914
D:\Anaconda\envs\ai_platform\python.exe D:/work/vin/20220902_ocr_flask_server_kafka/extro_op/graphic_memory_text.py
2022-09-09 14:09:25,643-WARNING: type object 'QuantizationTransformPass' has no attribute '_supported_quantizable_op_type'
2022-09-09 14:09:25,643-WARNING: If you want to use training-aware and post-training quantization, please use Paddle >= 1.8.4 or develop version
D:\Anaconda\envs

[2022-09-09 08:06] yeyupiaoling opened #45924 "Windows的CUDA11.6版本的PaddlePaddle2.3.2无法训练"
### bug描述 Describe the Bug

环境：
 - Windows 10
 - PaddlePaddle 2.3.2
 - CUDA 11.6
 - Python 3.8
 - 显卡 2070

如下版本，无法训练，举例PaddleDetection的`PPYOLOE+`，训练其他模型也是一样。

![image](https://user-images.githubusercontent.com/26297768/189302163-fe1622fa-033f-4788-80db-ab3c42ac9262.png)

错误信息：
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-09 08:09] yeyupiaoling commented on #45914
@PMPBinZhang 这的确是显存不足，减少batch size试试

[2022-09-09 08:11] PMPBinZhang commented on #45914
avaliable明显大于需要的啊，而且我观察我的显卡占用状态，连一半都不到。您仔细看了log了吗？另外，咱们这个paddlex的安装，在python3.9版本安装不了吗？提示的0.23.2版本的scikit-learn无法安装。

| |
Wenwu Zhang
|
|
***@***.***
|
---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 发送日期 | 2022年9月9日 16:09 |
| 收件人 | ***@***.***> |
| 抄送人 | ***@***.***> ,
***@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] 您好，我这显存空间剩余明显大于需要的，为什么还是会报显存空间不足呢 (Issue #45914) |

@PMPBinZhang 这的确是显存不足，减少batch size试试

[2022-09-09 08:14] yeyupiaoling commented on #45914
这个日志就是显存不足，

[2022-09-09 08:15] PMPBinZhang commented on #45914
我能看明白英文翻译是显存不足，我不懂为什么会显存不足，我显卡剩余的空间明显大于需要的空间。
| |
Wenwu Zhang
|
|
***@***.***
|
---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 发送日期 | 2022年9月9日 16:14 |
| 收件人 | ***@***.***> |
| 抄送人 | ***@***.***> ,
***@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] 您好，我这显存空间剩余明显大于需要的，为什么还是会报显存空间不足呢 (Issue #45914) |

这个日志就是显存不足，

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this beca

[2022-09-09 08:16] yeyupiaoling commented on #45914
可能是初始化需要这些内存，但是后面训练时会变化的

[2022-09-09 08:19] PMPBinZhang commented on #45914
另外，3090的显卡，batch_size给4都跑不动，是不是有点奇怪呢，另外，您这边知道paddlex相关的知识吗？有一些问题需要咨询

| |
Wenwu Zhang
|
|
***@***.***
|
---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 发送日期 | 2022年9月9日 16:17 |
| 收件人 | ***@***.***> |
| 抄送人 | ***@***.***> ,
***@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] 您好，我这显存空间剩余明显大于需要的，为什么还是会报显存空间不足呢 (Issue #45914) |

可能是初始化需要这些内存，但是后面训练时会变化的

—
Reply to this email directly, view it on GitHub, or uns

[2022-09-09 08:53] juncaipeng commented on #45914
paddlex的问题，建议在paddlex repo下提issue，估计是设置了可以使用的显存大小。

[2022-09-09 08:55] sdcb opened #45929 "Paddle compile failed in Windows, VS2019, cuda11.7, not found cuda_profiler_api.h"
### bug描述 Describe the Bug

#### Environment:
CUDA: 11.7
cuDNN: 8.5

#### cmake command line:
[code]

#### error message:
[code]

### 其他补充信息 Additional Supplementary Information
checked the cuda 11.7 folder, there isn't a `cuda_profiler_api.h` inside, neither exists in cuda 11.5, but do exists in cuda 10.2/cuda 10.1

[2022-09-09 08:56] juncaipeng commented on #45924
从log来看是有除0的错误。有定位具体哪一行python代码报错吗？

请问安装的时候有进行验证吗？
![image](https://user-images.githubusercontent.com/52520497/189312232-cf5dc585-c931-4de8-98df-6bd9fc972703.png)

[2022-09-09 09:01] #45884 closed, assigned to haoyuying

[2022-09-09 09:01] yeyupiaoling commented on #45924
@juncaipeng 执行了，是正常的。我测试过`CUDA 11.6`、`CUDA 11.2`、`CUDA 10.2`，目前只有`CUDA 10.2`正常。

[code]

上面是我训练自己项目PPASR的错误，下面才是PPYOLOE+的错误日志
[code]

[2022-09-09 09:01] PMPBinZhang commented on #45914
您好，我是用conda安装的11.6版本的paddlepaddle，报cudnn的错误。
File "D:\Anaconda3\envs\mm\lib\site-packages\paddle\fluid\dygraph\layers.py", line 915, in _dygraph_call_func
     outputs = self.forward(*inputs, **kwargs)
   File "D:\Anaconda3\envs\mm\lib\site-packages\paddlex\ppdet\modeling\backbones\darknet.py", line 76, in forward
     out = self.conv(inputs)
   File "D:\Anaconda3\envs\mm\lib\site-packages\paddle\

[2022-09-09 09:02] yeyupiaoling commented on #45914
windows 好像只有CUDA 10.2版本才是正常的

[2022-09-09 09:04] PMPBinZhang commented on #45914
我之前用过11.2，可以用。但是gpu使用利用率不全，现在我寻思改为11.6版本的，看一下效果。

| |
Wenwu Zhang
|
|
***@***.***
|
---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 发送日期 | 2022年9月9日 17:03 |
| 收件人 | ***@***.***> |
| 抄送人 | ***@***.***> ,
***@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] 您好，我这显存空间剩余明显大于需要的，为什么还是会报显存空间不足呢 (Issue #45914) |

windows 好像只有CUDA 10.2版本才是正常的

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You ar

[2022-09-09 09:32] lizn2016 commented on #44501
【队名】：伊丽莎白
【序号】：37
【论文】：GFP-GAN: Towards Real-World Blind Face Restoration with Generative Facial Prior](https://paperswithcode.com/paper/towards-real-world-blind-face-restoration)
【状态】：报名
【repo链接】https://github.com/lizn2016/GFP-GAN_paddle_lizn.git

[2022-09-09 09:34] 122133Liu opened #45933 "padlle kie ser re cuda 报错"
### 请提出你的问题 Please ask your question
[code]

[2022-09-09 10:08] juncaipeng commented on #45929
hi, this [document](https://www.paddlepaddle.org.cn/documentation/docs/en/install/compile/windows-compile_en.html) suggest to install  CUDA 10.1/10.2//11.1/11.2/11.6.

[2022-09-09 11:24] luotao1 commented on #45881
close due to #45925

[2022-09-09 11:24] #45881 closed, assigned to haoyuying

[2022-09-09 12:17] juncaipeng commented on #45933
收到，我看这是ocr的问题，已经叫了相关同学来查看。

[2022-09-09 12:19] juncaipeng commented on #45924
这个错误信息是你数据的类别数量，超过了你设定的类别数量。

[2022-09-09 12:23] juncaipeng commented on #45908
如果是ai studio，是可以开启terminal的。

[2022-09-09 12:26] caikw0602 commented on #45908
感谢您的回复。我是新建立的脚本任务，没有看到开启terminal的按钮？
<img width="1210" alt="image" src="https://user-images.githubusercontent.com/45365909/189349568-90fde858-9da1-4e4c-b681-fa50b8a215a6.png">

[2022-09-09 12:40] yeyupiaoling commented on #45924
我检查过了，类别没有错，CUDA 10.2版本能正常训练，

[2022-09-09 12:47] caikw0602 commented on #44501
【队名】：第一次复现小白队

【序号】：59

【论文】：[Going deeper with Image Transformers](https://arxiv.org/pdf/2103.17239.pdf)

【状态】：报名

【repo链接】：https://github.com/caikw0602/CaiT_Paddle

[2022-09-09 12:47] sdcb commented on #45929
Thank you, but I found it's not really related to version, but turns out I did not install the profiling component when cuda installation.
![image](https://user-images.githubusercontent.com/1317141/189353232-bb29eaca-87c9-4862-9b53-9a5e3a00ef10.png)

[2022-09-09 13:09] zhwesky2010 commented on #45929
@sdcb 你好，请问 "C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.7\include" 是否有cuda_profiler_api.h这个文件，这个是cuda头文件找不到的原因

[2022-09-09 14:41] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么
【序号】：74
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/253

[2022-09-09 15:43] JunnYu opened #45945 "paddle.Generator"
### 需求描述 Feature Description

复现diffusers代码，发现这个仓库使用了generator
[code]
这一个generator给两个生成随机数的算子使用了，我的理解是generator相当于生成一串随机数（打个比方），第一次的时候tensor1消耗了1个，然后tensor2在上一个基础上继续消耗1个。
Paddle目前只有全局设置随机种子，不确定是否一致。

### 替代实现 Alternatives

无

[2022-09-09 16:28] w5688414 commented on #45495
[code]

[2022-09-10 02:40] sdcb commented on #45929
我确实没有这个头文件，但我后来发现是少装了一个Profiling tools（如上图），装上这个Profiling Tools后，这个问题解决了，但v11.7还有一个FLT_MAX宏未找到的问题，在cuda 11.7里面加上之后，问题即可解决。

C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.7\include\thrust\detail\complex\catrigf.h
[code]

[2022-09-10 02:40] #45929 closed, assigned to juncaipeng

[2022-09-10 12:47] RussiaVk opened #45947 "ImportError: cannot import name 'core_avx' from partially initialized module 'paddle.fluid'"
### 问题描述 Issue Description

[按照这个网页](https://www.paddlepaddle.org.cn/documentation/docs/en/install/compile/windows-compile_en.html)
在win10用Ninja源码编译whl并安装成功后
**运行 pip list结果paddlepaddle-gpu版本是0.0.0：**

[code]
**运行import paddle脚本抛出异常：**

[code]

### 版本&环境信息 Version & Environment Information

Error: Can not import avx core while this file exists: C:\Program Files\pypy3.9-v7.3.9\lib\site-packages\pad

[2022-09-10 15:25] caikw0602 commented on #45908
百度团队你好：
       针对这个问题我找到原因了，我解压出来的val数据集保存路径和val_list.txt中的路径不一致，从而导致找不到val数据，解压出来的路径没有类别文件夹。请问我应该怎么解决呢？我采用的是./data114746/Light_ILSVRC2012_part_1.tar数据集。
<img width="644" alt="image" src="https://user-images.githubusercontent.com/45365909/189490133-fdd02e83-577e-4770-b50c-138ea7d9ec4f.png">

[2022-09-11 04:30] w5688414 commented on #42564
d2lbook CI building also met the same problem, here is my pr. https://github.com/d2l-ai/d2l-zh/pull/1198

[2022-09-11 05:24] Beichen-Ma opened #45948 "IndexError: (OutOfRange) 索引超出范围报错"
### 请提出你的问题 Please ask your question

我的代码是：
layer_weight = paddle.zeros([nearon_nums]) # nearon_nums = 64
for i in range(nearon_nums):
    layer_weight[i] = paddle.sum(paddle.abs(paddle.t(layer.weight)[i])) \
                              + paddle.sum(paddle.abs(model.prunable_layers[layer_index+1].weight), axis=0)[i]

创建的 layer_weight.shape=[64]， 但是遇到报错：IndexError: (OutOfRange) The starting inde

[2022-09-11 05:27] #45948 closed, assigned to nobody

[2022-09-11 08:21] Joeyzhouqihui opened #45949 "GPU Memory allocation with multiple cuda stream"
### 请提出你的问题 Please ask your question

Hi, sorry for bothering!

I am trying to deploy a model with dynamic connection of our company to production environment. Since the model is dynamically activated, so batching requests and do inference is not a good idea. Instead, I want to use multiple cuda streams to deal with several requests on one GPU concurrently. (one stream for one request)

I have tri

[2022-09-11 08:45] swjtulinxi commented on #44501
【队名】：Deep Geo RS
【序号】：18
【论文】：Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery
【状态】：报名
【repo链接】：https://github.com/swjtulinxi/FarSeg_Paddle

[2022-09-12 06:19] thgpddl opened #45951 "段错误 (核心已转储)：FatalError: `Segmentation fault` is detected by the operating system"
### bug描述 Describe the Bug

我使用的环境是aistudio的V100 16GB环境，在创建环境时配置如下：
- paddlepaddle 2.3.2
- python 3.7

当我尝试使用自定义Layer推理时，出现报错如下：
[code]

我的完成代码在test.py中，test.py完整内容如下：
[code]
我将仅包含test.py文件的项目公开，直接使用命令：`python test.py`即可执行复现出上述bug

FatalError：https://aistudio.baidu.com/aistudio/projectdetail/4529590?sUid=368487&shared=1&ts=1662963462896

### 其他补充信息 Additional Supplementary Information

_No respons

[2022-09-12 07:25] Ifjmww commented on #44501
【队名】：SaltyFish

【序号】：兴4

【论文】：[KiU-Net: Overcomplete Convolutional Architectures for Biomedical Image and Volumetric Segmentation](https://arxiv.org/pdf/2010.01663v2.pdf)

【状态】：报名

【repo链接】：https://github.com/Ifjmww/KiU-Net_PaddlePaddle

[2022-09-12 07:59] JxingLi commented on #43938
【队名】：青龙学习小组

【序号】：61

【状态】：提交提案

【链接】：https://github.com/PaddlePaddle/community/pull/255

[2022-09-12 08:04] SpaceView opened #45953 "Win10 + VS2017 + ppocr error: 0xc000007b exit with -1073741701"
### bug描述 Describe the Bug

Win10 + VS2017 + ppocr error: 0xc000007b  exit with -1073741701
按官方的cpp_infer进行编译链接，一切正常，运行时报错：0xc000007b 应用程序无法以启动，同时，在console窗口输出-1073741701

原因：最新的 | 预测库(2.3.2版本) | cpu_avx_mkl | paddle_inference.zip | MSVC 2017 | 与vs2017 运行库不兼容。
版本信息如下，
cpu_avx_mkl	[paddle_inference.zip](https://paddle-inference-lib.bj.bcebos.com/2.3.2/cxx_c/Windows/CPU/x86-64_avx-mkl-vs2017/paddle_

[2022-09-12 08:13] PureNatural commented on #43938
【队名】：源力觉醒

【序号】：8

【状态】：提交提案

【链接】：https://github.com/PaddlePaddle/community/pull/254

[2022-09-12 08:31] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：21
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/45849

[2022-09-12 08:56] piotrekobi opened #45954 "Adding is_test argument to PHI kernels that don't use it"
During migration of some oneDNN kernels to PHI, it turned out that some kernels don't use the is_test variable as an argument. This variable is used in some kernels to make oneDNN perform less computation during inference. I migrated the pool2d kernel without using this variable https://github.com/PaddlePaddle/Paddle/pull/45775 but this resulted in a performance decrease. For now the oneDNN kernel

[2022-09-12 09:48] jczaja commented on #45954
@chenwhql  Please help with this one

[2022-09-12 10:12] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：21
【状态】：报名&提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/257

[2022-09-12 10:23] #45947 closed, assigned to Shixiaowei02

[2022-09-12 10:27] OccupyMars2030 commented on #43938
【队名】：OccupyMars2025
【序号】：27 和 29
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/258

[2022-09-12 13:18] yangguohao commented on #43938
【队名】：约克逊是个郡
【序号】：11
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/45595

[2022-09-12 13:42] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：26
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/261

[2022-09-12 13:49] AndPuQing commented on #43938
【队名】：开摆鸟
【序号】：57
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/262

[2022-09-12 13:53] anidiatm41 commented on #34827
how the issue was fixed? I too getting same issue

[2022-09-12 13:55] BaiEJi opened #45956 "反向传播报错提示不好看懂"
### 需求描述 Feature Description

代码
[code]

报错信息
[code]
说实话,这个报错信息真的不容易看懂
别家的报错信息 确实简洁明了不少哈, 直接就明白了是数据类型的问题
[code]

希望能够改进一下,要不然遇到这个问题真的容易发蒙

### 替代实现 Alternatives

_No response_

[2022-09-12 14:42] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：30
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/264

[2022-09-12 15:01] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：32
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/265

[2022-09-12 15:13] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：35
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/266

[2022-09-12 15:22] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：37
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/267

[2022-09-12 15:32] wozna commented on #44075
@yeliang2258 this accuracy bug is related to new this new quantization method with `quantize_linear` and `dequantize_linear` isn't it?

[2022-09-12 15:33] Damon328 commented on #43938
【队名】：呆萌
【信号】：83
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/268

[2022-09-12 15:33] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：39
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/269

[2022-09-12 15:48] ccw1996 commented on #43938
【队名】：今天用GPU了吗
【序号】：35
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/271

[2022-09-12 15:49] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：41
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/272

[2022-09-12 15:51] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：41
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/272

[2022-09-12 15:58] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：42
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/273

[2022-09-12 16:16] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：43
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/274

[2022-09-12 16:30] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：44
【状态】：提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/275

[2022-09-12 16:34] OccupyMars2025 commented on #43938
【队名】：OccupyMars2025
【序号】：27
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/45498

[2022-09-12 17:31] thunder95 commented on #43938
【队名】：thunder95
【序号】：37
【状态】：报名＆提交提案
【链接】：https://github.com/PaddlePaddle/community/pull/256

[2022-09-12 17:32] thunder95 commented on #43938
【队名】：thunder95
【序号】：45 & 46
【状态】：报名＆提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/45952

[2022-09-12 17:33] thunder95 commented on #43938
【队名】：thunder95
【序号】：71
【状态】:   提交作品
【链接】：https://github.com/PaddlePaddle/CINN/pull/932

[2022-09-13 01:12] ucsk commented on #44501
【队名】：DeepRS
【序号】：18
【论文】：Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery
【状态】：提交
【repo链接】https://github.com/ucsk/FarSeg

[2022-09-13 01:43] Ifjmww commented on #45566
【队名】：SaltyFish

【序号】：兴4

【论文】：[KiU-Net: Overcomplete Convolutional Architectures for Biomedical Image and Volumetric Segmentation](https://arxiv.org/pdf/2010.01663v2.pdf)

【状态】：报名

【repo链接】：https://github.com/Ifjmww/KiU-Net_PaddlePaddle

[2022-09-13 02:13] yeliang2258 commented on #44075
@wozna No, the accuracy of the quantized model in the old format is also not correct.

[2022-09-13 02:15] sunzhongkai588 opened #45962 "【飞桨体验评测任务第六期】"
## 一、背景介绍

2022年飞桨将重点开展开发者生态贡献机制，建立开发者与飞桨的多样化联动，共同打造优秀的开源生态。在今年8月，我们开展了第五次评估，重点放在飞桨动转静文档评估、飞桨安装环境评测，共收集到14份体验评测报告、36份安装调研问卷，为相关产品的优化提供了重要的信息输入。

为了进一步提升飞桨框架的使用体验，我们诚挚的邀请你参与到第六期体验评估中。本期评估内容为往期评测内容的复评，包含**API 文档评测任务**【第一、四期】、**分布式参数服务器文档 全流程打卡**【第三期】。在往期评测结束后，我们根据大家的反馈进一步优化我们的文档，并希望大家能够验证我们的修复成果。

因此，我们发布这一期评测任务，欢迎往期参加过相关评测任务的同学、以及各位新同学报名参加本期活动，和我们一起共建飞桨框架，后续会陆续安排其他产品模块的体验评测，希望大家持续关注。

## 二、参与流程
![i

[2022-09-13 02:20] JunnYu opened #45963 "paddle.put_along_axis与torch.scatter不一致"
### 请提出你的问题 Please ask your question

https://github.com/PaddlePaddle/Paddle/issues/36743 中指出【你好，我们目前已经具备和torch.scatter功能等价的apipaddle.put_along_axis，你可以在develop版本中体验，该api预计会在2.3rc版本中发布~】，但是实际使用起来功能与pytorch不完全一致，到是与numpy一致。
![image](https://user-images.githubusercontent.com/50394665/189793141-712023d5-07fa-4b74-abd9-35e7b01a3b38.png)
[code]

[2022-09-13 02:26] Shrinco opened #45964 "关于 PicoDet 推理源码的问题(获取 num_class 越界)"
### 请提出你的问题 Please ask your question

paddleDetection 的推理源码中,若模型为 PicoDet 的结构,会执行不同的后处理过程.而我在推理过程中,出现了以下错误导致无法得到正常的预测结果: 图中所示的 num_class 是由存放输出 tensor 的 output_shape_list 容器得到,但是这里明显有一个访问越界的问题导致 num_class 是一个非正常的值,进而影响预测的 post 过程出现错误.请问这里是有什么问题吗?
![image](https://user-images.githubusercontent.com/50402380/189792682-a1b68f9a-365b-424f-8fd3-d5a3d73166ee.png)

[2022-09-13 02:37] juncaipeng commented on #45945
对的，目前paddle只有通过`paddle.seed(102)`设置全局默认generator的随机种子。
如果从随机性考虑，应该是一致的。但是如果从paddle和torch对齐的角度来看，由于paddle只有一个全局的generator，可能无法生成顺序一致的随机数。

[2022-09-13 02:43] LDOUBLEV commented on #45933
可以提供下你的使用环境吗，包括cuda版本，paddle版本

pip list |grep paddle
nvcc -V

  [operator < concat > error]

这种报错信息一般是环境问题

[2022-09-13 02:46] juncaipeng commented on #45908
你这是两类不同的数据集整理方式。
你可以在ai studio上找找还有没有符合你要求的数据集格式，或者参考paddleclas的文档看看，或者问问论文复现赛的答疑同学。

[2022-09-13 02:50] chenwhql commented on #45954
This is why we have `[Migrate later] OpKernel list`

- `Migrate later: 23 in total. This kind of Kernel has the problem of Extra parameters in OpMaker that we mentioned before. It requires more parameters than CPU&GPU Kernel, so this part of Kernel is recommended to be migrated after we complete the extra parameter cleaning.`

`is_test` is not a argument of mathematical meaning in pool2d, it only

[2022-09-13 03:01] zwjwhxz commented on #45864
您好：
&nbsp; &nbsp; &nbsp; &nbsp;当前是使用paddleOCR封装了一个图片文本提取的C接口，
&nbsp; &nbsp; &nbsp; &nbsp;int extract_content_from_image_by_paddleocr(const char *img_file, std::string &amp;textcontent,const char *model_data_dir)
{
&nbsp; &nbsp; std::vector<string&gt; sl;
&nbsp; &nbsp; if( check_ch_ppocr_infer_config(model_data_dir,sl) )
&nbsp; &nbsp; &nbsp; &nbsp; return -1;

&nbsp; &nbsp; if ( !Utility::PathExist

[2022-09-13 03:06] zoooo0820 commented on #45964
你好，辛苦提供一下PaddleDetection的版本，以及具体是picodet的哪一个模型呢？

[2022-09-13 03:10] NYcleaner commented on #10196
修改源代码 将对应的文件的需要下载数据的代码都屏蔽掉 就可以了

[2022-09-13 03:12] Shrinco commented on #45964
您好,
PaddleDetection: release 2.4
picodet 的模型是用 PaddleX 训练的,具体是 ESNet_l

[2022-09-13 03:36] yeliang2258 opened #45970 "An error is reported when using MKLDNN to run a quantize model"
### bug描述 Describe the Bug

When I deploy a quantize yolov6 model use MKLDNN，An error is reported.
![image](https://user-images.githubusercontent.com/30516196/189801758-1fdf0361-d5e4-427a-b163-49d248b52990.png)

My script and model: https://github.com/PaddlePaddle/PaddleTest/tree/develop/inference/python_api_test/test_int8_model
You can download model and data use following commend:
[code]

Open t

[2022-09-13 03:42] zwjwhxz commented on #45864
封装接口如下：
int extract_content(const char *img_file, std::string &textcontent,const char *model_data_dir)
{
    std::vector<string> sl;
    if( check_ch_ppocr_infer_config(model_data_dir,sl) )
        return -1;

    if ( !Utility::PathExists(string(img_file)) )
        return -1;

    std::vector<cv::String> cv_all_img_names;
    cv_all_img_names.push_back(cv::String(img_file));

    PPOCR ocr = PPO

[2022-09-13 03:53] Zhangts98 opened #45971 "手动编译 paddle 推理库, ldd -r 遇到未定义的符号问题"
### 问题描述 Issue Description

使用paddle_release_2.0 源码，手动编译了一下推理库， 编译过程中没有报错,编译结束时， 相应的文件也都生成了。但是在
 paddle_inference_install_dir/paddle/lib  下执行 ldd -r  libpaddle_inference.so 出现了未定义的符号相关问题。如下：
(base) [allen@node2 lib]$ ldd -r libpaddle_inference.so
	linux-vdso.so.1 (0x00007ffe16d6d000)
	libpthread.so.0 => /lib64/libpthread.so.0 (0x00007f197941d000)
	libiomp5.so => /home/allen/zts/compile/Paddle/buil

[2022-09-13 03:56] 2742195759 commented on #45951
你好，我这边初步复现了一下，应该是 conv2d 在 11.2 版本的 cuda 上面存在问题，我已经反馈给负责 conv2d API的同学了。

[2022-09-13 04:24] Lllllolita opened #45972 "训练后期显存突增了10G"
### 请提出你的问题 Please ask your question

设置总共训练240epoch，每个epoch训练结束后进行验证。前期显存占用大概是24G，到了220epoch突然增加了10G，然后CUDA报错OOM。请问有可能是什么原因造成的？

[2022-09-13 05:12] JunnYu commented on #45945
明白了，谢谢，建议以后添加一个这个generator。

[2022-09-13 05:26] leiqing1 commented on #45290
kisaragychihaya这边的软硬件环境是： AMD r9 5950X+ RTX3080  win10 64bit
1）需求反馈：现在家用电脑和云端不少锐龙和EPYC的机器 这些机器MKL应该都跑不了
2）现在需要个openblas+cuda11.6或者11.2的包试试看 预编译的那些在amd zen3架构cpu上面没法跑在cpu模式下，电脑上python38的paddle的pdi的cpu模式不是段错误就是avxcore出问题 只能用GPU模式完成开发了

[2022-09-13 05:41] yongzheJIN commented on #45566
【队名】小星
【序号】兴15
【论文】[Scene Text Telescope: Text-Focused Scene Image Super-Resolution](https://openaccess.thecvf.com/content/CVPR2021/papers/Chen_Scene_Text_Telescope_Text-Focused_Scene_Image_Super-Resolution_CVPR_2021_paper.pdf)
【状态】报名
【repo链接】：https://github.com/yongzheJIN/SmallStar

[2022-09-13 06:33] zoooo0820 commented on #45964
可以先在PaddleDetection的**根目录**下，尝试运行以下命令导出模型（config文件选择对应输入分辨率的，配置具体路径在https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/picodet/legacy_model) ,然后再执行预测看看是否报错呢
[code]
其中`export. post_process=False`表示不将后处理部分集成到模型中，此时会像该issue中提到的那样走Picodet后处理代码的分支，如果改成True或是默认则不会走这部分代码，但同样能预测完整结果。

[2022-09-13 06:38] juncaipeng commented on #45924
好的。
再次确认下，是Windows系统、非CUDA10.2下，你所有模型训练都出现错误？请列举一下你训练了哪些模型。

[2022-09-13 06:42] Zhangts98 commented on #45971
还有就是我下载好了第三方库的源码，将其替换到third_party下， 编译的时候还是会自动下载， 我替换上去的文件直接就被清除了。这个需要修改哪里......

[2022-09-13 06:47] zyfncg commented on #45971
编译时未找到符号的问题要不先用新版本的Paddle再编译试试？

[2022-09-13 06:47] #45400 closed, assigned to nobody

[2022-09-13 06:49] zyfncg commented on #45971
这个需要修改对应的Cmake配置项，但我们还是建议使用自动下载的库，手动下载可能会有版本不匹配的问题

[2022-09-13 06:54] juncaipeng commented on #45914
通常最新的CUDA版本，支持的完善度没有稳定版本高。

[2022-09-13 06:55] FlyingQianMM commented on #45914
日志显示显存不足，麻烦贴一下运行的代码，看下是否是API使用上的问题。

[2022-09-13 06:57] yeyupiaoling commented on #45924
PPASR，这个是我的项目
官方的项目： PaddleDetection下的PPYOLOE+模型

[2022-09-13 07:03] SigureMo opened #45977 "文档中部分示例代码存在错误"
### 文档链接&描述 Document Links & Description

在进行 flake8 引入的过程中（#45937），在 CI 流水线中发现有大量的示例代码是无法跑通的，大多数示例代码有明显的错误，这些错误需要逐一进行修正

CI 流水线 log：[build.log](https://github.com/PaddlePaddle/Paddle/files/9554294/build.log)（来源于 https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/detail/6580153/job/18299804 ）

### 请提出你的建议 Please give your suggestion

根据 log 中报错信息进行修复，有很多有明显的错误，比如 `paddle.distributed.InMemoryDa

[2022-09-13 07:10] Zhangts98 commented on #45971
我再试试

[2022-09-13 07:11] Zhangts98 commented on #45971
那我再试试

[2022-09-13 07:11] Zhangts98 commented on #45971
下载的有点慢， 而且经常会下载失败。 orz

[2022-09-13 07:15] zyfncg commented on #45971
因为大部分都是从github上下载，这个确实可能会有被墙的情况..... 有条件的话可以挂个代理。

[2022-09-13 08:03] wj-Mcat opened #45979 "support Tensor type hinting"
### 需求描述 Feature Description

## 任务目标

在Python层面实现类型提示，可是目前Paddle暂不支持此功能。

## 需求场景

Python虽然说是动态语言，可是在[PEP 484](https://peps.python.org/pep-0484/) 中已然支持类型注释和提示，其中python3.7+对于类型检查和注释最低版本完美支持type hinting 了。可是目前paddle版本暂不支持此功能。

没有此功能，调用tensor的函数是没有任何提示，这对于开发者而言就像使用记事本在写代码一样。

我之前发了一个[issue](https://github.com/PaddlePaddle/Paddle/issues/33203)来描述此问题，可是没有任何进展，然后我自己写了一个工具：[types-paddle](https://pypi.or

[2022-09-13 08:48] SigureMo commented on #45979
我之前开发过一个按照 PEP 561 所描述 stub only package https://github.com/cattidea/paddlepaddle-stubs ，也在前两天的 [PFCC 第十次会议](https://github.com/PaddlePaddle/community/blob/master/pfcc/2022-09-08-meeting-minutes.md)中提到了这个

Python3.7 是对 Type Hints 非常友好的版本（目前 Python3.6 已经 EOL 了，所以现在是一个很好的时机），希望 Paddle 将来会在内部直接集成 Type Hints

paddlepaddle-stubs 即是你所说的 stubfiles 解决方案，在该解决方案中可先尝试一些类型的写法，且在运行时没有任何副作用，如果将来 Paddle 能够在内部使用

[2022-09-13 08:49] dennis88888 opened #45987 "paddleOcr"
### 请提出你的问题 Please ask your question

请问,我需要在ocr代码里要访问paddleocr.bj.bcebos.com
 但这个网址在公网上没法访问，请问这个网址是做什么用的？是否是必须的？

[2022-09-13 08:52] haoyuying commented on #45885
由于用户没有继续更新，该问题先暂时关闭，若后续更新，用户可自行打开。

[2022-09-13 08:58] #37005 closed, assigned to yaomichael

[2022-09-13 09:02] #45885 closed, assigned to haoyuying

[2022-09-13 09:05] dasenCoding commented on #43938
【队名】：源力觉醒

【序号】：8

【状态】：提交提案

【链接】：https://github.com/PaddlePaddle/community/pull/254

[2022-09-13 09:22] piotrekobi commented on #45954
I hope you come up with a good solution. For now I reverted the conversion of the pool+grad kernels: https://github.com/PaddlePaddle/Paddle/pull/45989

[2022-09-13 09:39] wj-Mcat commented on #45979
Type Hint对于动态语言太重要了，没有智能提示的日子太难受了，所以希望官方能够关注一下这个问题。

[2022-09-13 09:41] gglin001 commented on #45979
个人觉得不止 `Tensor type hinting`, 如果能够 对 core*.so 生成 stubs, 也是对提高开发体验也是有益的

[2022-09-13 09:44] wj-Mcat commented on #45979
@SigureMo 你的这个方法改动太大，而且IDE的所有类型提示都会有stub file package，所以你的这个package的维护工作量将会很大。

此外，F12会走到你的pyi 文件里面来，脱离了源码。

个人感觉有这两个弊端。

[2022-09-13 09:45] wj-Mcat commented on #45979
这个就是生成对应的头文件就行，应该有对应的实现……………………吧？

[2022-09-13 09:47] SigureMo commented on #45979
这个的话 paddle._C_ops 也许可以考虑同样直接通过 YAML 文件直接生成？一些其他的 pybind 的 API 可能要手写？

[2022-09-13 09:52] SigureMo commented on #45979
维护量大是肯定的，如果想在 Paddle 内部集成的话比这麻烦的多

除去没有「实现」的纯 pyi 文件，只要有对应「实现」的 py 文件的 API 都会跳转到 py 文件，这应该没啥问题，Tensor 这种没有 py「实现」的肯定会跳转到 pyi 文件

[2022-09-13 09:52] gglin001 commented on #45979
是的, paddle._C_ops 可以通过 yaml 生成, 其他的大部分的api 应该也是有可能自动生成的, 比如使用 https://pypi.org/project/clang/ 分析对应的 cpp

[2022-09-13 09:55] Zhangts98 commented on #45971
(base) [allen@node2 lib]$ ldd -r libpaddle_inference.so
	linux-vdso.so.1 (0x00007ffed0b7e000)
	libpthread.so.0 => /lib64/libpthread.so.0 (0x00007f17b77c7000)
	libiomp5.so => /home/allen/zts/compile/Paddle_compile/Paddle/build_release2.3_cudnn802_cuda102_CXXABI0/third_party/install/mklml/lib/libiomp5.so (0x00007f17b73d2000)
	libdnnl.so.2 => /home/allen/zts/compile/Paddle_compile/Paddle/build_releas

[2022-09-13 09:56] gglin001 commented on #45979
也许可以在 paddle 里面添加一份基础的/有普遍需求的 一些 pyi, 比如这里的 Tensor api, 不一定是全部都放进来?

[2022-09-13 10:17] Zhangts98 commented on #45971
[code]

--------------------------------------------------------------------------------------------------------------------------------------------

您好，我把源码切换到release/2.3下，重新编译了一遍。编译过程中出现了有关 isnan 的问题， 我手动改成了 std::isnan, 然后一直到编译结束也没出现错误。但是用 ldd -r libpaddle_inference.so ，还是出现了上面的 “未定义的符号” 错误， 只不过是符号的名字与之前略有不同，其中有些是paddle/framework 的接口，也有 protobuf 下的接口。

编译命令没变：

[code]
直接使用make -j 32 编译全部项目时，在 Li

[2022-09-13 10:21] wj-Mcat commented on #45979
赞成，tensor目前是最高优，而且所有都用pyi 来添加代价很大，而且治标不治本: in-line annotation.

[2022-09-13 10:38] SigureMo commented on #45979
PEP 561 的包的意义不是将来直接把所有 pyi 文件直接 copy 到 Paddle 内部，而是将 C/C++ 实现的部分的 pyi copy 进去，其余部分已有 Python 实现的这些 pyi 只能作为参考，还是需要集成到 inline 的 Type Hints 的，而不是在 py 实现旁边放一个 pyi 文件

确实可以，应该直接将 tensor.pyi copy 过去后稍微调整下即可，关于 paddle._C_ops 可以考虑在生成 C++ 代码时顺便生成一份 pyi，其余也可以考虑扫描后慢慢添加，不过也许在 PEP 561 包中先进行这些实验是更好的选择，因为 Paddle 目前貌似还需要支持 Python3.6……

[2022-09-13 10:46] wj-Mcat commented on #45979
个人看法 😂 ：[PEP 561](https://peps.python.org/pep-0561/#specification) 里面没有提到任何关于C/C++部分，核心是围绕：`type information`，所以只要能够添加类型信息让IDE以及typechecker(eg: mypy)能够获取到类型信息即可.  在tensor.py旁边放一个tensor.pyi就是为了最小程度上添加最高优的 **tensor** `type information`.

[2022-09-13 10:49] SigureMo commented on #45979
抱歉，这里是我表述错了，应该是 PEP 561 stub only 包

如果只添加 Tensor 的话也确实不需要考虑这个问题，因为 Tensor 大概率也不需要 Python3.7 及之后才支持的特性，这个也许可以考虑尝试先添加下

[2022-09-13 11:17] jczaja commented on #45954
@chenwhql Thanks for answer, We have (fluid) a mechanism where mkldnn/onednn specific attributes are added in runtime. If this mechanism is available for PHI then is_test could be also added in runtime(during IR passes).

[2022-09-13 11:18] w5688414 commented on #44031
I meet the same problem here.

<img width="1025" alt="image" src="https://user-images.githubusercontent.com/12107462/189887887-416bf551-b3dc-4f52-8fdc-fec465d00268.png">

[2022-09-13 11:25] chenwhql commented on #45954
Thanks for understanding. I am also thinking of a solution, and I will find a way to solve this problem, and then submit a PR to request review.

[2022-09-13 11:27] chenwhql commented on #45954
Sorry for not classifying poo2d into `[Migrate later] OpKernel list` correctly before

[2022-09-13 11:30] #45954 closed, assigned to 2742195759, chenwhql

[2022-09-13 11:55] zyfncg commented on #45972
这个问题确实比较奇怪，是偶发的现象还是可以稳定复现的？

[2022-09-13 11:56] zyfncg commented on #45972
能否提供下使用的Paddle版本，GPU配置，以及训练用的模型和数据集这些信息？

[2022-09-13 12:03] wj-Mcat commented on #45979
期待这个功能早日完成，然后下游套件的type hint也都可以开始支持起来了。

[2022-09-13 13:43] dongdongtong commented on #44501
【队名】：MFIAYN

【序号】：10

【论文】：[MaskFormer: Per-Pixel Classification is Not All You Need for Semantic Segmentation](https://arxiv.org/abs/2107.06278)

【状态】：报名

【repo链接】：https://github.com/dongdongtong/MaskFormerPaddle

[2022-09-13 13:55] Lllllolita commented on #45972
这是论文复现赛的一个模型，不好意思忘记加tag了。本地服务器是CUDA-11.3，3090GPU，Paddle版本为2.3.2-post112，Paddle复现的代码逻辑（训练、验证、变量命名等）与Torch相同，Torch占用显存大概24G，并未出现显存爆炸现象。本地训练Paddle模型的时候，固定了随机数种子，共训练了3次，每次都在220epoch突然显存爆炸，前期显存稳定在24G。在aistudio上训练了1次，也出现了显存爆炸的情况，但不是在220epoch，过一段时间会恢复稳定，显存占用同为24G左右。已检查部分：loss累加使用了.item()，验证时用了model.eval()和with paddle.no_grad()，与显存相关的环境变量均采用缺省值。

[2022-09-13 14:49] Lllllolita commented on #45972
我把optimizer.clear_grad()写在了每个epoch循环的最开始，之后再进行loss计算和反向等，因为torch项目就是这样写的。也许会和这个有关系吗？现在观察nvidia-smi发现，稳定状态的显存也会浮动几百MB左右。

[2022-09-13 15:22] thgpddl opened #46012 "设定随机种子仍无法复现相同的结果"
### bug描述 Describe the Bug

我尝试设定随机种子，然后运行程序两次，然而两次的结果并不一致。

我将随机种子的代码写在utils.py中，代码如下：
[code]

然后我在train.py中导入上述函数，然后在train.py中开启训练，我不改变任何环境和代码，当第一次训练完成后，开启第二次训练，两者结果不一致，下图中红色和蓝色分别表示第一次训练和第二次训练：
![image](https://user-images.githubusercontent.com/48787805/189941027-af10acf7-4b66-46de-a9c1-325b4a9629f4.png)
![image](https://user-images.githubusercontent.com/48787805/189941093-515c8650-0c3d-4359-a5e

[2022-09-13 17:16] ccc12312312 commented on #44501
【队名】：ccc

【序号】：28

【论文】：[ActionCLIP: A New Paradigm for Video Action Recognition](https://arxiv.org/abs/2109.08472)

【状态】：报名

【repo链接】：[https://github.com/ccc12312312/ActionCLIP_Paddle](https://github.com/ccc12312312/ActionCLIP_Paddle)

[2022-09-14 01:39] Shrinco commented on #45964
您好,我的模型是用 paddlex 训练导出的, paddlex 导出的模型是否将后处理部分集成到模型中了呢?

[2022-09-14 02:36] zoooo0820 commented on #45964
从目前的报错来看，模型内部是没有包含后处理。可以先按上面的流程尝试下是否能正常工作，以验证目前后处理的cpp代码是否有问题（因为目前我这边没能复现这个报错）。如果正常，那么可能是paddlex导出模型使用报错的问题，再联系paddlex的负责同学帮忙定位下这个Bug.

[2022-09-14 02:38] Shrinco commented on #45964
好的, 谢谢. 我尝试一下再给您回复

[2022-09-14 02:54] opentld opened #46017 "关于third party的一点小建议"
### 问题描述 Issue Description

首先感谢敬爱的北邮方教授，还有可爱的网络运营商，让我等屁民还有机会上网；
其次感谢paddle团队的great works，paddle确实很好用（真心话）；
最后，关于编译paddle，我有一个不成熟的小建议：
是否可以将third_party专门提供一个下载，就像opencv contrib一样？
另外，在我手动下载之后，咱的cmake能不能不给我删掉，然后执着的非要自己重新下载（或者非要逼我改cmake）？
大量的时间，消耗在这样的Time Out上，真的心情非常不美丽。
授人玫瑰，手有余香，举手之劳，方便广大学子，善莫大焉。：）

### 版本&环境信息 Version & Environment Information

paddle 2.3.2
CUDA 11.6
GPU Nvidia RTX3060
Windows 10

[2022-09-14 03:06] DLPerf opened #46019 "使用RTX30系列多卡训练问题"
### 请提出你的问题 Please ask your question

多卡训练要求有NCCL，官方文档中写明当前ubuntu系统下，paddle只支持CUDA10.1下的NCCL版本。
但是我的机器是四张RTX 3090显卡，只能使用CUDA11（CUDA10调用显卡会一直卡住），是不是这样就不能进行单机多卡训练了？

[2022-09-14 03:10] DLPerf commented on #45745
你的显卡型号是什么呢

[2022-09-14 03:17] Zth9730 commented on #45745
V100, 现在还是存在这种现象，如果调小batchsize不把显存占满则不会出现。请问有没有办法检查问题出在哪里，比如查看卡住的位置？

[2022-09-14 03:45] zyfncg commented on #45987
paddleocr.bj.bcebos.com提供了一些预训练的模型，有些场景的代码会用到

[2022-09-14 04:11] zyfncg commented on #45972
正常情况下如果有显存问题一般是显存稳定增加或者周期性变化，这种后期显存突然增加的情况比较少见，感觉像是在这个场景下刚好成为了一个极端case。
不知道有没有条件用最新develop代码编的Paddle包测试下？我们develop中的代码使用了新的动态图架构，也许可以解决这个显存问题。
<img width="1289" alt="image" src="https://user-images.githubusercontent.com/13048366/190057050-d5c5cf36-5c56-4a80-8d63-73f6490d7adb.png">

[2022-09-14 04:21] fuqianya commented on #44501
【队名】：MoR

【序号】：80

【论文】：Uniter: Learning universal image-text representations

【状态】：报名 & 提交

【repo链接】：https://github.com/Mixture-of-Rookie/UNITER-Paddle

[2022-09-14 07:26] jiangjiajun commented on #45953
Hi，你好，试下将paddle_inference下的dll和lib拷贝到exe同级目录下运行，再测试, 包含如下目录的文件
[code]

[2022-09-14 07:43] txyugood commented on #45566
【队名】：txyugood

【序号】：兴13

【论文】：PAConv: Position Adaptive Convolution with Dynamic Kernel Assembling on Point Clouds

【状态】：报名 & 提交

【repo链接】：https://github.com/txyugood/PaddlePAConv
【大赛官网团队名称】：txyugood

[2022-09-14 08:00] limin2021 commented on #46019
请问一下，『官方文档中写明当前ubuntu系统下，paddle只支持CUDA10.1下的NCCL版本。』可否贴一下链接？

[2022-09-14 08:05] limin2021 commented on #46019
参考一下这里：[Linux下的安装文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/conda/linux-conda.html#gpupaddlepaddle)

[2022-09-14 08:39] limin2021 commented on #46017
你好，非常感谢你的建议，需求已收到，我们会内部评估该功能的可行性和开发优先级。

[2022-09-14 08:39] #46017 closed, assigned to limin2021, zyfncg

[2022-09-14 08:39] #46019 closed, assigned to limin2021, zyfncg

[2022-09-14 09:01] SigureMo opened #46039 "[CodeStyle] Flake8 tracking issue"
## 项目说明
用于跟踪 [Call-for-Contributions: Flake8 引入计划](https://github.com/PaddlePaddle/community/blob/master/pfcc/call-for-contributions/code_style/code_style_flake8.md) 及相关 CodeStyle 升级各个任务的计划和进度

部分针对任意文本的代码风格全量修复需要同样为如文档（`.md`、`.rst`）、C++ 相关文件（`.cc`、`.c`、`.h`、`.cu`、`.cpp`、`.cmake`、`CMakeLists.txt`）一并修复

## 项目初始状态

Flake8 默认启用的三个工具（pycodestyle、pyflakes、mccabe）共包含了一共 132 个子项。Paddle 中存在问题的子项共 64 个。
-

[2022-09-14 09:49] spantarXP opened #46043 "paddle支持对比学习InfoNCE Loss吗"
### 请提出你的问题 Please ask your question

paddle支持对比学习InfoNCE Loss吗

[2022-09-14 09:58] dennis88888 commented on #45987
那您的意思是 这个网址的作用是做预训练的模型的？
我在公网上访问这个网址是被拒绝的，请问是什么原因？

[2022-09-14 10:02] dennis88888 commented on #45987
我在应用程序中，引入这个paddleocr.py 这个文件里有需要访问这个网址，

[2022-09-14 10:04] dennis88888 commented on #45987
我在应用程序中，引入这个paddleocr.py 这个文件里有需要访问这个网址，

[2022-09-14 11:38] hzane commented on #40730
我也遇到了这个问题，操作系统是 fedora 36. 有些人说，glibc 的版本太高，paddle不支持。所以，我自己编译了一个glibc-2.27，然后指定 python 的ld 后，上面的错误就消失了，只是GPU不能用。

这么修改 glibc 的版本：

`patchelf --set-interpreter /opt/glibc/lib/ld-linux-x86-64.so.2 bin/python3.9`

[2022-09-14 12:25] limin2021 commented on #46043
你好，paddle目前不支持Info NCE Loss。感谢你提的需求，内部开发人员会评估调研该API的需求程度，根据优先级进行决定与排期。

[2022-09-14 12:36] Rayman96 commented on #43938
【队名】：Rayman的团队
【序号】：36
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/45946

[2022-09-14 12:48] #46043 closed, assigned to nobody

[2022-09-14 13:09] nabilragab commented on #44571
PaddlePaddle supports GCC version 8

https://blog.csdn.net/zhqh100/article/details/124410399?spm=1001.2101.3001.6661.1&utm_medium=distribute.pc_relevant_t0.none-task-blog-2%7Edefault%7ECTRLIST%7ERate-1-124410399-blog-122741583.t5_download_comparev1&depth_1-utm_source=distribute.pc_relevant_t0.none-task-blog-2%7Edefault%7ECTRLIST%7ERate-1-124410399-blog-122741583.t5_download_comparev1&utm_relevant_

[2022-09-14 15:33] kk19990709 opened #46056 "【多线程】RuntimeError: (AlreadyExists) Accumulators are not empty before preparing it for backward network execution."
# bug描述 Describe the Bug

# 代码
[code]
# 运行方法
[code]
# 错误信息
[code]

### 其他补充信息 Additional Supplementary Information

[2022-09-14 15:38] ionescofung opened #46057 "paddleDetection内置算法训练报错"
### 请提出你的问题 Please ask your question

使用内置的ppyoloe_crn_l_300e_coco算法训练时报错，如何解决？
![1401663169240_ pic](https://user-images.githubusercontent.com/55121158/190199679-44d4daa0-0457-4ccf-9b04-46d29a2d6823.jpg)

[2022-09-15 02:01] bixiaopeng0 opened #46062 "paddle.autograd.PyLayer多卡训练"
### 请提出你的问题 Please ask your question

我现在要实现一个功能，同一个loss对不同层的参数回传梯度不一样。用的是这个 paddle.autograd.PyLayer。问题是单卡可以调试通过，但多机多卡不行，请问有啥办法解决这个问题吗？
多机多卡报错显示为：Thu Sep 15 00:34:04 2022[1,3]<stdout>:  File "/root/paddlejob/workspace/env_run/envs/py38_pd230_cuda111_a100/lib/python3.8/site-packages/paddle/fluid/dygraph/layers.py", line 915, in _dygraph_call_func
Thu Sep 15 00:34:04 2022[1,3]<stdout>:    outputs =

[2022-09-15 02:07] 15554710621 opened #46063 "如何动态调整预训练参数"
如何根据epoch调整动态调整预训练参数

[2022-09-15 02:09] 15554710621 commented on #46063
是使用callback吗，不太懂paddle 的dataloader机制，网上没找到教程

[2022-09-15 02:24] limin2021 commented on #46056
你好，Paddle动态图不支持多线程的方式，支持多进程。你可以使用多进程来试试。

[2022-09-15 02:35] XYZ-916 commented on #46057
请问您的数据集类别数和配置是否一致？请确认。另外标签label index是从0开始的，请注意。

[2022-09-15 02:35] #46056 closed, assigned to zyfncg

[2022-09-15 02:49] zoooo0820 commented on #46062
你好，根据报错信息，请参考下：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/DataParallel_cn.html#dataparallel 看是否有帮助呢

[2022-09-15 02:51] bixiaopeng0 commented on #46062
“推荐先使用no_sync接口暂停多卡通信，然后在优化器前手动实现梯度同步”，这种手动梯度同步方式会有什么影响，比如对网络训练的速度和效果上？

[2022-09-15 02:53] enkilee commented on #44009
中英文文档前端显示的问题：
英文文档，类里面显示了方法的使用，中文没有，但是py文件里没有文档说明，想在方法前面加一行  Methods， 告诉读者这后面是类里面的方法。
![微信图片_20220915105103](https://user-images.githubusercontent.com/16059379/190302623-12e853e6-f652-4389-bc53-eabcbde55716.png)
![微信图片_20220915105109](https://user-images.githubusercontent.com/16059379/190302673-63fe64a5-5599-41ce-8165-3b3609285fa6.png)
![微信图片_20220915105112](https://user-images.githubusercontent.c

[2022-09-15 02:57] zoooo0820 commented on #46063
你好，辛苦能再具体描述下具体场景吗，看描述是指除了启动训练时载入预训练模型的参数，后续会有继续载入其他参数的需求吗。如果有对应的模型代码可以一并提供下帮助理解

[2022-09-15 03:06] 15554710621 commented on #46063
就是前面训练的时候
使用一个transforms = Compose([transforms.Resize(int(224*1.143)),
                                transforms.CenterCrop(224),
                                transforms.ToTensor(),
                                transforms.Normalize([0.485, 0.456, 0.406], [0.229, 0.224, 0.225])])
训练到一定epoch后改为使用一个new_transforms继续训练

[2022-09-15 03:14] limin2021 commented on #46012
多次运行，保证模型复现需注意：
1.使用同样的随机种子或者手动固定要读取的文件为同一个；
2.关掉读取数据集时的shuffle行为（因为若训练使用的是不同数据或者数据读取顺序不一样，最终结果可能存在一些差异）；
3.需保证模型中所有算子的计算是可复现性的，对于使用cudnn实现的算子，可以通过FLAGS_cudnn_deterministic为true保证他们的确定性；
然而对于一些使用原子指令实现的算子，在rerun时结果可能存在差异，比如embedding的反向，index_select和index_add算子的前向等。
当前index_select算子可通过控制FLAGS_cudnn_deterministic为true控制确定性，#46040 对index_add和embedding增加了FLAGS_cudnn_deterministic控制；
目前paddle框架中可能有一些算子

[2022-09-15 03:26] 15554710621 commented on #46063
其他没有什么特别的，DatasetFolder实例化Dataset，然后用DataLoader加载

[2022-09-15 03:34] zhwesky2010 commented on #34220
@arogozhnikov Thanks for asking questions. Plan 0D tensor has passed the Internal review and is under development. We will support `transpose` and `reshape` 0D  before 2022/10/20

[2022-09-15 03:40] zhwesky2010 commented on #45627
@OccupyMars2025  Thanks for asking questions. Plan 0D tensor has passed the internal review and is under development. We will support transpose and reshape 0D before 10/20. In that time, The work of Einops supporting Paddle will not be blocked.

[2022-09-15 03:47] zoooo0820 commented on #46063
看下[检测模型](https://github.com/PaddlePaddle/PaddleDetection/blob/50d9662c20dae25b1faebd1ccfaccddd26c563d5/ppdet/data/source/dataset.py#L84-L96)里的做法是否符合描述的场景需求呢，通过`_epoch`参数控制返回不同的`transform`

[2022-09-15 04:03] thgpddl commented on #46012
感谢您的回答，但是在训练时关闭数据集shuffle会影响最终效果，那么我就无法使用paddle进行研究。其次我认为shuffle本身也是随机控制， 那么当我设定随机种子后，这种随机性也应当被固定下来，这应该如何解释？谢谢

[2022-09-15 04:17] taixiurong commented on #43938
【队名】：一杯凉开水
【序号】：102
【状态】：报名
【链接】：https://github.com/taixiurong/openvino.git

[2022-09-15 04:46] zhwesky2010 commented on #35762
https://github.com/PaddlePaddle/Paddle/issues/35891 这两个问题是一致的，shape为[1]的索引会导致错误的降维，实际上shape为[]的索引才应该导致降维

[2022-09-15 06:04] DLPerf commented on #46019
[5. PaddlePaddle对NCCL的支持](https://www.paddlepaddle.org.cn/documentation/docs/zh/install/index_cn.html)，我还没有训练，而且是直接使用cuda11.2版本的docker环境，我弄个模型跑一下吧。

[2022-09-15 06:07] jzhang533 opened #46069 "飞桨框架v2.4的发布计划(Paddle framework v2.4 release plan)"
### 问题描述 Please describe your issue

我们已经于9月9日创建了[v2.4.0 release 分支](https://github.com/PaddlePaddle/Paddle/tree/release/2.4)，并基于该分支启动了集成测试、稳定性测试、性能测试。我们会逐步的从develop分支中通过cherry-pick PRs的方式让该分支稳定。该过程可能会持续1~2个月的时间，这期间我们会发布一到多个的v2.4.0 release candidate版本。待该分支稳定后，我们会发布v2.4.0正式版本。

We have created a release branch for [the v2.4.0 release](https://github.com/PaddlePaddle/Paddle/tree/release/2.4) on 9/9,

[2022-09-15 06:09] limin2021 commented on #46012
1.你的理解是对的哈。dataloader中，随机种子固定，shuffle后的结果应该是一样的。我第一个回复其实是想排除掉这种随机性，来查真正的问题出在哪里。你可以看看随机种子固定后，dataloader出来的数据，不同rerun是否相同，这样也能排除这个因素。

2.如果你多次rerun正确性出现很大的偏差，那可能是你写的模型代码或者paddle框架中有潜在的bug，或者是某个算子存在不确定性行为，这时候就可以固定输入来调试一下，看问题具体出在哪里；也有可能是不同rerun使用了来自不同文件的数据集（这种情况，训练结果很可能本身就是不同的）。

[2022-09-15 06:09] limin2021 commented on #46012
1.shuffle应该是会影响rerun的结果的，这个应该跟框架无关，属于算法本身的问题。如果你多次rerun正确性出现很大的偏差，那可能是你写的模型代码或者paddle框架中有潜在的bug，这时候就可以固定输入来调试一下，看问题具体出在哪里；也有可能是不同rerun使用了来自不同文件的数据集（这种情况，训练结果很可能本身就是不同的）。2. 你的理解是对的哈。dataloader中，随机种子固定，shuffle后的结果应该是一样的。我第一个回复其实是想排除掉这种随机性，来查真正的问题出在哪里。你可以看看随机种子固定后，dataloader出来的数据，不同rerun是否相同，这样也能排除这个因素。

[2022-09-15 06:16] an1018 commented on #45987
使用paddleocr.py会默认下载预训练，先用浏览器或者wget下载模型试试吧：https://paddleocr.bj.bcebos.com/PP-OCRv3/english/en_PP-OCRv3_det_infer.tar

[2022-09-15 06:19] taixiurong commented on #43938
【队名】：一杯凉开水
【序号】：102
【状态】：提交作品
【链接】：https://github.com/openvinotoolkit/openvino/pull/13059

[2022-09-15 06:39] ForFishes commented on #46062
您好，这个改动对精度/效果没有影响，性能上会有一点影响，大概2%不到的性能损失。

[2022-09-15 06:44] #46062 closed, assigned to zoooo0820

[2022-09-15 06:48] zzk0 commented on #45761
遇到了相同的问题 @wangna11BD

# mold 下载

[code]

# 环境

使用 docker 编译

镜像：registry.baidubce.com/paddlepaddle/paddle

host：ubunut 18.04

容器启动命令：

[code]

# 编译

编译前需要在 CMakeLists.txt 中加入如下行：

[code]

[code]

[2022-09-15 07:19] thgpddl commented on #46012
感谢您的回复，谢谢(ง •_•)ง

[2022-09-15 08:18] 923629877 opened #46076 "linux 下用c++推理PP-TSM出错"
### bug描述 Describe the Bug

在Linux下按照官方教程（https://github.com/PaddlePaddle/PaddleVideo/blob/develop/deploy/cpp_infer/readme.md）用c++部署PP-TSM抛出如下错误：
(paddle) rex@rex:~/PaddleVideo-develop/deploy/cpp_infer$ sudo ./build/ppvideo rec --rec_model_dir=/home/rex/PaddleVideo-develop/inference/ppTSM --inference_model_name=TSM --video_dir=/home/rex/PaddleVideo-develop/deploy/cpp_infer/example_video_dir --num_

[2022-09-15 08:31] milkfish1988 opened #46078 "多机多卡训练中，如何手动对中间层梯度进行修改"
### 请提出你的问题 Please ask your question

如题，多机多卡训练中，如何手动对中间层梯度进行修改?
比如multi-task训练任务中，把某一层的梯度取出来，对不同task的梯度值进行修改，乘以比例或者手动增减再写回去，同时需要确保多机多卡训练，是否支持？

[2022-09-15 08:43] 15554710621 commented on #46063
但是怎么获得当下的epoch呢

[2022-09-15 09:10] ucsk commented on #44501
【队名】：DeepRS
【序号】：18
【论文】：Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery
【状态】：提交
【repo链接】https://github.com/ucsk/FarSeg

[2022-09-15 09:16] kk19990709 commented on #46056
已修改，感谢！

[2022-09-15 09:46] huangjun12 commented on #46076
pls refer to https://github.com/PaddlePaddle/PaddleVideo/issues/530

[2022-09-15 09:49] zoooo0820 commented on #46063
关于如何获取epoch，在上面的类中定义了`set_epoch(epoch_id)` 方法用于传入epoch。同样以检测模型为例，在train函数的循环中传入，参考[这里](https://github.com/PaddlePaddle/PaddleDetection/blob/ede22043927a944bb4cbea0e9455dd9c91b295f0/ppdet/engine/trainer.py#L444-L448) .

[2022-09-15 10:01] #46012 closed, assigned to nobody

[2022-09-15 10:03] 923629877 commented on #46076
谢谢，您给的参考链接也是同样的问题，但那边似乎也并没有给出解决方案

[2022-09-15 10:32] dingjiaweiww commented on #42419
develop 版本已经支持22.04，2.4 版本会发版支持

[2022-09-15 10:38] yuanfengliyuanfengli commented on #45566
【队名】：科创生活-吉大小队
【序号】：兴3
【论文】：Swin-Unet: Unet-like Pure Transformer for Medical Image Segmentation https://arxiv.org/abs/2105.05537
【状态】：报名&提交
【repo链接】：https://github.com/yuanfengliyuanfengli/UCTrans_paddle_try/

[2022-09-15 12:06] engineer1109 commented on #40606
Use GCC 9.4.0 and Cuda 11.7 to Solve
I met this problem also on on GCC 9.4.0 and Cuda 11.5.
This seems because old cuda lack some defines support for gcc compiler.
好像GCC 9.4.0和Cuda旧版本 有编译器预定义缺少的问题，Cuda 11.7修复。
你可以关闭这个问题了

[2022-09-15 12:23] raindrops2sea commented on #45841
代表飞桨再次感谢SigureMo的突出贡献！已添加对应权限，请注意查看:-)

[2022-09-15 12:33] SigureMo commented on #45841
已收到邀请～感谢～(๑>؂<๑）

[2022-09-15 12:44] yiakwy commented on #43929
@Ligoml @SigureMo 好像一直没有收到邮件，可以拉我下么

[2022-09-15 14:26] Dawn-bin opened #46096 "nn.functional.interpolate convert Tensor on CPU to GPU"
### 请提出你的问题 Please ask your question

Why **nn.functional.interpolate** always convert Tensor on CPU to GPU???

my code here:
[code]

[code]

Can we  interpolate only use cpu? since gpu is not adequate.

[2022-09-15 15:00] engineer1109 opened #46097 "Test Compile Error -- undefined reference to `_Py_Dealloc'"
### 问题描述 Issue Description
time cmake -DPY_VERSION=3.8 -DWITH_GPU=ON -DWITH_TESTING=ON ..

python的so链接库确实是有的, 但是编译的时候顺序不对
python的位置太靠前，导致后面的libfinal_dygraph_function.a 找不到python的so

make test_egr_ds_grad_tensor_holder VERBOSE=1 -j 16 可以打印链接信息

在eager_deps里写python依赖好像有问题。也可能是CMake的BUG

临时解决方案
paddle/cmake/generic.cmake修改加入${PYTHON_LIBRARIES}
[code]

[code]

CMAKE VERBOSE
make test_egr_ds_grad_tenso

[2022-09-15 15:22] nabilragab commented on #44668
DISTRIB_RELEASE=22.04
DISTRIB_DESCRIPTION="Ubuntu 22.04.1 LTS"

PaddlePaddle is installed successfully!
Let's start deep learning with PaddlePaddle now.

Thanks for shortening the journey,
Build time 1h 35m

[2022-09-15 15:58] ionescofung commented on #46057
我就调用模型去训练，只有一个label的 就是篮球。如下图，哪里出现错误吗？
![WechatIMG142](https://user-images.githubusercontent.com/55121158/190451248-170092db-664b-479a-8cda-d697036bce16.png)

[2022-09-16 01:06] ionescofung opened #46103 "手动下载数据集"
### 请提出你的问题 Please ask your question

请问手动下载的数据集如何给到paddleDetection使用??
![image](https://user-images.githubusercontent.com/55121158/190534745-6b96ec3e-9a87-4d51-8974-4ce20891f0a2.png)

[2022-09-16 01:17] monimini opened #46104 "Kernel Restarting The kernel for Untitled2.ipynb appears to have died. It will restart automatically."
### 问题描述 Please describe your issue

print('start training ... ')

EPOCH_NUM = 10
BATCH_SIZE = 16
train_num = 1

visual_IMAGE = Image.open('DataSet/image/1.jpg').resize((256, 256)).convert('RGBA')
visual_img = np.array(Image.open('DataSet/image/1.jpg').resize((256, 256)))
optimizer = paddle.optimizer.RMSProp(learning_rate=0.001, parameters=network.parameters())
normlize = (visual_img-127.5)/127.5

[2022-09-16 01:29] 648502669 commented on #44501
【队名】：深度学习小组

【序号】：90

【论文】：Adaptive activation functions accelerate convergence in deep and physics-informed neural networks

【状态】：报名

【repo链接】https://github.com/648502669/The-paddle-challenge

[2022-09-16 01:29] chenwhql commented on #45308
@Silv3S @piotrekobi Our kernel migration work will be released in Paddle v2.4, and the `release/2.4` branch bas been created at 9.9, so the PRs merged into develop after 9.9 need to be cherry-pick to `release/2.4`, remind attention it, thanks.

https://github.com/PaddlePaddle/Paddle/tree/release/2.4

[2022-09-16 02:38] wjj19950828 commented on #46103
@ionescofung ppyoloe训练可以参考这个文档:[PPYOLOE](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.5/configs/ppyoloe),若还有问题，建议去[PaddleDetection issues](https://github.com/PaddlePaddle/PaddleDetection/issues)提问～

[2022-09-16 02:52] zoooo0820 commented on #46096
For now, Paddle will automatically use the default device (here is GPU).
To temporarily solve this problem, you can use:
[code]
The default device scheduling policy is for user-friendly purposes, we will further consider the design.

[2022-09-16 03:04] zoooo0820 commented on #46097
你好，问题已收到，我们先尝试复现一下

[2022-09-16 03:04] Rayman96 commented on #43938
【队名】：Rayman的团队
【序号】：56
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/46111

[2022-09-16 03:36] sxl1007 opened #46112 "开启tensorRT（FP32），SetOptimCacheDir设置缓存目录之后每次启动依然重新缓存，是否有直接加载缓存的接口？"
### 请提出你的问题 Please ask your question

开启tensorRT（FP32），SetOptimCacheDir设置缓存目录之后每次启动依然重新缓存，是否有直接加载缓存的接口？
![image](https://user-images.githubusercontent.com/42663550/190551298-698411f6-84ee-4141-b017-11b97799c472.png)

[2022-09-16 06:16] pmajchrzak commented on #46097
This error occurs with commit: https://github.com/PaddlePaddle/Paddle/commit/b294f05472a2faf92cdae352225f4f90d58e82a3
I reproduced it on 4 machines witch different processors architectures (SKX, CLX, CPX, SPR)
### PaddlePaddle branch:
develop

### CMAKE Flags:
``
-DCMAKE_BUILD_TYPE=Release -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DWITH_TESTING=ON -DWITH_PROFILER=OFF -DWITH_STYLE_CHECK=OFF -DON_INFER=ON -D

[2022-09-16 06:58] Dawn-bin commented on #46096
Thank u for reply! It works well.

[2022-09-16 06:58] #46096 closed, assigned to zoooo0820

[2022-09-16 07:32] ShenK-Xiao opened #46120 "相机拍照的预测结果和本地图像的预测结果不一致"
### 请提出你的问题 Please ask your question

1、从相机中取图，然后到调用模型进行预测，最后将相机中的图保存到本地（jpg格式的）
2、我会将保存到本地的图进行切割（jpg格式的），再将这些切割的图进行训练生成模型。
3、将生成模型替换到第1步中，进行预测。发现预测结果错误，但是用保存到本地的进行预测却是对的，这是为什么？

[2022-09-16 07:38] Wangzheee commented on #46112
此bug已经在develop上修复，可以使用develop版本进行源码编译，或者等十月中旬发布的release2.4安装包

[2022-09-16 09:03] #45956 closed, assigned to 2742195759

[2022-09-16 09:16] ionescofung opened #46134 "执行 tools/train.py训练提示错误"
### 请提出你的问题 Please ask your question

已经下载了coco的数据集
执行tools/train.py训练提示错误。请问什么原因？
我的电脑gpu是3070显卡 cuda 11.6
![1451663319629_ pic](https://user-images.githubusercontent.com/55121158/190602978-fcd127e9-5527-4f33-b43f-ce1e3c98dc0c.jpg)

[2022-09-16 09:19] #46103 closed, assigned to wjj19950828

[2022-09-16 09:23] ionescofung commented on #46057
我使用原配置文件也出现错误
![1451663319629_ pic](https://user-images.githubusercontent.com/55121158/190604485-410e7eda-c5cc-4533-b3c3-1a8a8e62985e.jpg)

[2022-09-16 09:24] wjj19950828 commented on #46120
@ShenK-Xiao 麻烦提供一下复线脚本

[2022-09-16 09:25] Rayman96 commented on #45847
找到原因了，目前deformable实现中的output_4d的维度是
<img width="1182" alt="image" src="https://user-images.githubusercontent.com/35597076/190604836-ee327298-9d7f-4cf5-8720-84827df50ea7.png">
在最终计算完output_3d后需要swap axis[1]和axis[2]才正确。

[2022-09-16 09:25] #45847 closed, assigned to nemonameless

[2022-09-16 09:55] zxc190615 commented on #45509
您好docker里面测试可以不

[2022-09-16 10:30] hnlslyp opened #46144 "尝试UIE finetune时不稳定coredump"
### 问题描述 Please describe your issue

/ssd1/liuyaping/env/lib/python3.7/site-packages/pandas/util/testing.py:20: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more detail

[2022-09-16 11:39] glenn-jocher opened #46146 "YOLOv5 Paddle export error == 1 OPs are not supported yet `aten::clone` =="
### bug描述 Describe the Bug

YOLOv5 export fails due to unsupported torch Tensor `.clone()` operation. Error first reported in https://github.com/ultralytics/yolov5/issues/9439

[code]

<img width="1154" alt="Screenshot 2022-09-16 at 13 36 39" src="https://user-images.githubusercontent.com/26833433/190630368-5a3723ed-74cf-4483-ac12-15a632ae25e3.png">

### Code to reproduce
[code]

### 其他补充信息 Additi

[2022-09-16 12:37] SunGoodIn opened #46149 "arm编译报错：error: namespace "paddle::platform::dynload" has no member "cusparseDestroy""
版本、环境信息：
   1）PaddlePaddle版本：2.2
   4）系统环境：arm、ubuntu 20.04、Python 3.8
![image](https://user-images.githubusercontent.com/37318301/190640337-da420cb8-94ac-4648-9a84-f4a6aa5c9bfd.png)

[2022-09-16 13:23] 15554710621 opened #46153 "datasetfolder 在__getitem__方法中 return sample, target, 字符串"
datasetfolder 在__getitem__方法中 return sample, target, 字符串 可以加载到dataloader上吗，会影响GPU计算性能吗

[2022-09-16 13:53] kongdebug commented on #44501
【队名】：不爱做科研

【序号】：兴8

【论文】：[Simple Baselines for Image Restoration](https://arxiv.org/pdf/2204.04676)

【状态】：提交

【repo链接】：https://github.com/kongdebug/NAFNet-pd

[2022-09-17 03:05] shanqiu24 opened #46161 "pytorch中的API转为paddle"
### 需求描述 Feature Description

torch.optim.lr_scheduler, torch.optim.lr_scheduler.LambdaLR, torch.optim.lr_scheduler._LRScheduler这几个API对应的paddle中的API是啥呀

### 替代实现 Alternatives

_No response_

[2022-09-17 03:30] marcuswang6 commented on #36801
Ubuntu 22.04 fail too

[2022-09-17 04:04] longranger2 commented on #43938
【队名】：Swift

【序号】：88

【状态】：提交作品

【链接】：https://github.com/X-lab2017/open-digger/pull/970

[2022-09-17 04:48] marshall-dteach commented on #45566
【队名】：调查乌度卡
【序号】：兴3
【论文】：Swin-Unet: Unet-like Pure Transformer for Medical Image Segmentation https://arxiv.org/abs/2105.05537
【状态】：报名&提交
【repo链接】：https://github.com/marshall-dteach/SwinUNet

[2022-09-17 06:56] sxl1007 commented on #46112
好的，感谢你的回答。那就期待十月中旬发布的release2.4。

[2022-09-17 06:56] #46112 closed, assigned to wjj19950828

[2022-09-17 07:41] wjj19950828 commented on #46134
@ionescofung 看起来像是有label越界了，建议去[PaddleDetection](https://github.com/PaddlePaddle/PaddleDetection) Issue下提问

[2022-09-17 07:49] wjj19950828 commented on #46149
@SunGoodIn arm编译可以参考这个文档：https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/729dbea675c1923282a31ea581093d588211c883/docs-official/guides/install/compile/compile_ARM.md

[2022-09-17 08:07] wjj19950828 commented on #46146
@glenn-jocher hi，glenn-jocher，I reopened an issue on [X2Paddle](https://github.com/PaddlePaddle/X2Paddle/issues/896), I will follow up and schedule support

[2022-09-17 09:03] ucsk commented on #44501
【队名】：DeepRS
【序号】：18
【论文】：Foreground-Aware Relation Network for Geospatial Object Segmentation in High Spatial Resolution Remote Sensing Imagery
【状态】：提交
【repo链接】https://github.com/ucsk/FarSeg

[2022-09-17 10:02] glenn-jocher commented on #46146
@wjj19950828 ah thank you, wasn't sure which repo to post to.

[2022-09-17 10:31] nemonameless commented on #46057
https://github.com/PaddlePaddle/PaddleDetection/search?q=out+of+bound&type=issues
win上paddle请暂时安装paddle2.2.2版本去使用

[2022-09-17 10:32] #36305 closed, assigned to gongel

[2022-09-17 12:27] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么

【序号】：74

【状态】：提交作品

【链接】：https://github.com/PaddlePaddle/CINN/pull/949

[2022-09-17 16:59] SunGoodIn commented on #46149
gcc版本过高导致，原版本gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0；
将为gcc (Ubuntu/Linaro 8.4.0-3ubuntu2) 8.4.0后编译通过

[2022-09-17 16:59] #46149 closed, assigned to wjj19950828

[2022-09-18 05:29] marcuswang6 opened #46167 "如何使用VisualDL可视化模型的梯度？"
### 请提出你的问题 Please ask your question

百度得到pytorch中可视化梯度：[x.grad for x in self.optimizer.param_groups[0]['params']]

官方文档中VisualDL直方图：Histogram组件以直方图形式展示Tensor（weight、bias、gradient等）数据在训练过程中的变化趋势。深入了解模型各层效果，帮助开发者精准调整模型结构。

官方例子：
from visualdl import LogWriter
import numpy as np

if __name__ == '__main__':
    values = np.arange(0, 1000)
    with LogWriter(logdir="./log/histogram_test/train") as wri

[2022-09-18 11:20] #46153 closed, assigned to nobody

[2022-09-18 12:09] flytocc commented on #44501
【队名】：拼手速
【序号】：60（中国软件开源创新大赛共享赛题）
【论文】：[CvT: Introducing Convolutions to Vision Transformers](https://arxiv.org/abs/2103.15808)
【状态】：报名&提交
【repo链接】：https://github.com/flytocc/PaddleClas/tree/CvT

[2022-09-18 13:28] shanqiu24 opened #46171 "项目从pytroch转为paddle框架时遇到的报错"
### 请提出你的问题 Please ask your question

ValueError: (InvalidArgument) Leaf Tensor (conv2d_transpose_0.w_0) that doesn't stop gradient can't use inplace strategy.
  [Hint: Expected self->IsLeaf() && !self->OverridedStopGradient() == false, but received self->IsLeaf() && !self->OverridedStopGradient():1 != false:0.] (at ..\paddle\fluid\pybind\imperative.cc:994)
本人在历史issue中看到过类似的问题，还还是无法得到满意的解决，所以想请相关技

[2022-09-18 13:33] shanqiu24 commented on #42190
在pytorch项目转为paddle的过程中，我也遇到同样的问题，无法解决，请求帮助呀~

[2022-09-19 00:50] jzhang533 commented on #36801
can you post more detailed information, e.g.: paddle version, error message, etc.

[2022-09-19 01:14] zrr1999 commented on #43938
【队名】：错误代码114
【序号】：68
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/CINN/pull/946

[2022-09-19 02:14] Damon328 commented on #43938
【队名】：呆萌
【序号】：83
【状态】：提交作品
【PR链接】：https://github.com/PaddlePaddle/PaddleDTX/pull/122

[2022-09-19 02:31] Kevin-XiongC opened #46181 "基础概念 doc 显示错误"
### 文档链接&描述 Document Links & Description

https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/program.html

rst文件编译错误
System Message: ERROR/3 (/FluidDoc/docs/api_guides/low_level/program.rst, line 34)

### 请提出你的建议 Please give your suggestion

_No response_

[2022-09-19 02:36] kongdebug commented on #45767
您好，请问有没有解决的呢

[2022-09-19 02:47] zpc-666 commented on #44501
【队名】：冲一冲队伍
【序号】：飞桨特色模型挑战赛 6
【论文】：Channel-wise Topology Refinement Graph Convolution for Skeleton-Based Action Recognition
【状态】：报名
【repo链接】：https://github.com/zpc-666/CTRGCN_Light

[2022-09-19 03:03] angel-yi commented on #36801
ubuntu 22.04 too...

[2022-09-19 03:10] gglin001 commented on #36801
@jzhang533 Hi, is there a cpu based nightly build package exist?

[2022-09-19 03:13] engineer1109 commented on #46097
It will not happened on release/v2.4.
Because v2.4 do not have
[code]

[2022-09-19 03:20] ZhangHandi commented on #46167
在Paddle中，可以通过x.grad.numpy()的方式获得tensor x的numpy梯度值。可视化方法请参考：[https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/advanced/visualdl_usage_cn.html#histogram](url)
。运行程序后，执行visualdl --logdir ./log --port 8080 命令，在浏览器输入[http://127.0.0.1:8080](url)，即可查看训练参数直方图。

[2022-09-19 03:26] tengtengzhou commented on #45301
感谢，已用2.1的whl包完成部署

[2022-09-19 03:26] #45301 closed, assigned to minghaoBD

[2022-09-19 03:40] jzhang533 commented on #36801
should be this page:
https://www.paddlepaddle.org.cn/whl/linux/cpu-mkl/develop.html

[2022-09-19 03:43] ZhangHandi commented on #46171
可以参考issue [42190](https://github.com/PaddlePaddle/Paddle/issues/42190)将参数设置为不需要梯度: p.stop_gradient = True， 并在 with no_grad 上下文里对参数值做修改。如果该方法不能解决此问题，请提供一段可复现该问题的最小代码，我们来排查一下问题。

[2022-09-19 04:02] marcuswang6 commented on #36801
version: latest version
error message: same as above
ImportError: /home/aur/.local/lib/python3.10/site-packages/paddle/fluid/core_avx.so: undefined symbol: _dl_sym, version GLIBC_PRIVATE

[2022-09-19 04:04] marcuswang6 commented on #46167
好的，谢谢！

[2022-09-19 04:04] #46167 closed, assigned to ZhangHandi

[2022-09-19 04:45] linjieccc commented on #46161
您好，
1. torch.optim.lr_scheduler._LRScheduler 对应 paddle.optimizer.lr.LRScheduler
2. torch.optim.lr_scheduler.LambdaLR 对应 paddle.optimizer.lr.LambdaDecay

[2022-09-19 06:30] pmajchrzak commented on #46097
Yes, but we are testing the performance and functionality of direct model optimization on the develop branch.
This should be fixed asap on this branch.

[2022-09-19 06:56] shanqiu24 commented on #46171
之前并未接触过贵公司的paddle框架，依然无法定位问题发生位置，无法提供准确的代码片段，望帮助~

[2022-09-19 06:58] GreatV opened #46213 "paddle 如何实现多维索引切片"
### 请提出你的问题 Please ask your question

paddle 如何实现如下操作：

[code]

关联问题： #35243

[2022-09-19 07:06] pangyoki commented on #36801
Hi, which whl package are you using? Can you post the link to the installation package? You can use `paddle.version.commit` to print out the commit number corresponding to this package.

We tested the package with commit number `4f403d3e3565d8c87c997f05f08d27b19c1109d1` on ubuntu22.04 and there is no problem: https://paddle-wheel.bj.bcebos.com/develop/linux/linux-cpu-mkl-avx/paddlepaddle-0.0.0-cp3

[2022-09-19 07:07] peiwenYe opened #46214 "interpolate计算结果和opencv、torch不对齐"
### bug描述 Describe the Bug

使用bilinear和bicubic插值方式时，当参数size中含有1，paddle计算结果和opencv及torch的结果不对齐。

[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-19 07:09] an1018 commented on #46213
分隔切片参数，start:stop:step 来进行切片操作，其中 start、stop、step 都可缺省，对应上面的修改为b[1, 1:4:2]

更详细的切片操作可以参考[官方文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/beginner/tensor_cn.html#suoyinheqiepian)

[2022-09-19 07:29] GreatV commented on #46213
对于无规律的索引应该如何操作呢，例如，取`[0, 1, 3]`。

[2022-09-19 07:40] zhicheng-ning commented on #43938
【队名】：源光闪烁
【序号】：89
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/community/pull/276

[2022-09-19 07:55] weiyang-1 opened #46220 "paddle想限制cpu核心数，新API在老版本中报模块不存在"
### bug描述 Describe the Bug

[root@ef474a0f7a05 APP_AI]# pip list |grep paddle
paddlepaddle                  1.2.0
[root@ef474a0f7a05 APP_AI]# python
Python 2.7.5 (default, Aug  7 2019, 00:51:29)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-39)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeE

[2022-09-19 07:58] GreatV commented on #46213
[code]

[2022-09-19 07:58] #46213 closed, assigned to an1018

[2022-09-19 08:14] an1018 commented on #46214
out_torch和out_cv2、out_torch和out_paddle是相同的吗

[2022-09-19 08:21] an1018 commented on #46220
推荐安装PaddlePaddle2.3

[2022-09-19 08:35] kongdebug commented on #45566
【队名】：不爱做科研

【序号】：兴8

【论文】：[Simple Baselines for Image Restoration](https://arxiv.org/pdf/2204.04676)

【状态】：提交

【repo链接】：https://github.com/kongdebug/NAFNet-pd

[2022-09-19 08:39] dasenCoding opened #46228 "导包问题"
### 问题描述 Please describe your issue

测试api时，报错 “ModuleNotFoundError: No module named 'python.paddle.fluid.proto'” 。

但是运行其他测试类可以正常运行 (比如：Paddle\python\paddle\fluid\tests\unittests\distribution\test_distribution_gumbel.py)

在 Paddle\python\paddle\fluid\framework.py 中，使用到了前面报错的包：“ from .proto import framework_pb2 ”，同时这条导包语句在  framework.py  中同样也报错。

[2022-09-19 08:42] Ligoml commented on #46228
@cxxly 辛苦帮忙看下

[2022-09-19 08:43] ShenK-Xiao commented on #46120
我这边使用的C++开发的，没有可以复现的脚本，我是从我记录的日志中看到会有这个情况。请问有没有可以什么排查的方向吗

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年9月16日(星期五) 下午5:24
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 相机拍照的预测结果和本地图像的预测结果不一致 (Issue #46120)

@ShenK-Xiao 麻烦提供一下复线脚本

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving

[2022-09-19 08:52] engineer1109 commented on #46097
#46231 Fixes

[2022-09-19 08:57] cxxly commented on #46228
麻烦贴个具体PR或者可复现代码

[2022-09-19 09:03] 95maddycode opened #46233 "Will there ever be support for CUDA 11.4 in the near future?"
### 请提出你的问题 Please ask your question

Hi,

I see that paddle is not compatible with CUDA 11.4.

Will there ever be support for CUDA 11.4 in the near future?

Kind regards

[2022-09-19 09:06] dasenCoding commented on #46228
测试类：[https://github.com/PureNatural/Paddle/blob/gumbel_api/python/paddle/fluid/tests/unittests/distribution/test_distribution_gumbel.py](url)

api:
[https://github.com/PureNatural/Paddle/blob/gumbel_api/python/paddle/distribution/gumbel.py](url)

__init__:
[https://github.com/PureNatural/Paddle/blob/gumbel_api/python/paddle/distribution/__init__.py](url)

这样可以吗？其他地方没有变动。

[2022-09-19 09:07] cxxly commented on #46228
你是私有仓库吗，我打不开你发的链接

[2022-09-19 09:13] dasenCoding commented on #46228
**测试类：**

`import unittest

import numpy as np
import paddle
import scipy.stats
import config
import parameterize
from python.paddle.distribution import Gumbel

SEED=2022

@parameterize.place(config.DEVICES)
@parameterize.parameterize_cls(
    (parameterize.TEST_CASE_NAME, 'loc', 'scale'), [
    ('one-dim', parameterize.xrand((2, )),\
             parameterize.xrand((2, ))),
    ('multi-dim', para

[2022-09-19 09:46] Ligoml commented on #46161
映射关系可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/model_convert/pytorch_api_mapping_cn.html

[2022-09-19 09:50] wjj19950828 commented on #46104
@monimini 请问具体运行环境是什么呢，提供一下复现脚本吧

[2022-09-19 09:53] ZhangHandi commented on #46171
pytorch转paddle是怎么转的呢，用x2paddle工具么，还是参考论文复现指南手动复现的呢？

[2022-09-19 09:53] wjj19950828 commented on #46120
@ShenK-Xiao 可以确认下模型以及输入是否一致，若模型和输入一致，理论上结果肯定是对的

[2022-09-19 09:56] wjj19950828 commented on #46144
@hnlslyp  看起来是PaddleNLP的使用问题，建议去[PaddleNLP](https://github.com/PaddlePaddle/PaddleNLP) Issue下提问～

[2022-09-19 10:01] #46161 closed, assigned to linjieccc

[2022-09-19 10:01] #46146 closed, assigned to wjj19950828

[2022-09-19 10:01] #46134 closed, assigned to wjj19950828

[2022-09-19 10:02] #46057 closed, assigned to zyfncg

[2022-09-19 10:08] shanqiu24 commented on #46171
是使用的X2Paddle转的

[2022-09-19 10:28] engineer1109 commented on #46233
CUDA 11.7 With Cuddn 8.5 is OK

[2022-09-19 11:04] peiwenYe commented on #46214
out_torch和out_cv2是相同的，out_paddle和out_cv2不相同

[2022-09-19 12:48] jjrCN opened #46252 "关于paddle C++ infer的内存占用异常增加问题"
### 请提出你的问题 Please ask your question

我们业务中出现了一个问题，我们的backbone为r34的检测模型仅仅增加了一个1*1卷积时，在通过trt的int8量化后，C++ infer时的内存占用从2G增加到了3G。
想请教下paddle同学有关paddle C++ infer时的内存申请机制，有可能是什么原因导致的这个问题？
谢谢

[2022-09-19 13:02] leigao-ceee commented on #44501
【队名】：ailoge的团队
【序号】：51
【论文】：Gradient-enhanced physics-informed neural networks for forward and inverse PDE problems
【状态】：报名
【repo链接】：https://github.com/leigao-ceee/gPINN_paddle

[2022-09-19 13:32] OccupyMars2030 commented on #43938
【队名】：OccupyMars2025
【序号】：22
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/46242

[2022-09-19 13:45] PureNatural commented on #43938
【队名】：源力觉醒

【序号】：8

【状态】：提交作品

【链接】：https://github.com/PaddlePaddle/Paddle/pull/46255

[2022-09-19 14:01] zhicheng-ning commented on #43938
【队名】：源光闪烁
【序号】：89
【状态】：提交作品
【链接】：https://github.com/X-lab2017/open-digger/pull/973

[2022-09-20 01:37] engineer1109 commented on #46097
#46259

[2022-09-20 03:27] peiwenYe opened #46262 "使用jit.save保存interpolate算子报错"
### 请提出你的问题 Please ask your question

使用interpolate算子时，当输入的size是元素为1D Tensor的列表时，怎么使用jit.save将模型保存下来。使用如下的代码时会报段错误。
[code]

[2022-09-20 03:28] #46262 closed, assigned to yt605155624

[2022-09-20 03:30] peiwenYe opened #46263 "interpolate算子jit.save保存报错"
### 请提出你的问题 Please ask your question

使用interpolate算子时，当输入的size是元素为1D Tensor的列表时，怎么使用jit.save将模型保存下来。使用如下的写法会报段错误。
[code]

[2022-09-20 03:34] yt605155624 commented on #46263
你先看下 self.size 是否要转成 Tensor, 动转静对 list 类型支持的不好

[2022-09-20 03:39] peiwenYe commented on #46263
是的，我们这个项目里面必须要转成Tensor

[2022-09-20 04:56] #46263 closed, assigned to yt605155624

[2022-09-20 06:43] #26620 closed, assigned to nobody

[2022-09-20 06:43] #28391 closed, assigned to yaoxuefeng6

[2022-09-20 06:43] #30039 closed, assigned to GaoWei8

[2022-09-20 06:43] #33063 closed, assigned to chenjiaoAngel

[2022-09-20 06:43] #33208 closed, assigned to ZHUI, pangyoki, zhwesky2010

[2022-09-20 06:43] #34167 closed, assigned to MissPenguin

[2022-09-20 06:43] #34428 closed, assigned to Shixiaowei02

[2022-09-20 06:43] #34561 closed, assigned to DannyIsFunny

[2022-09-20 06:43] #34639 closed, assigned to cryoco

[2022-09-20 06:43] #34684 closed, assigned to LielinJiang

[2022-09-20 06:43] #34794 closed, assigned to yaoxuefeng6

[2022-09-20 06:43] #34868 closed, assigned to huangjun12

[2022-09-20 06:43] #35065 closed, assigned to chenjiaoAngel

[2022-09-20 06:43] #35097 closed, assigned to chenjiaoAngel

[2022-09-20 06:43] #35123 closed, assigned to wawltor

[2022-09-20 06:43] #35163 closed, assigned to nobody

[2022-09-20 06:44] #35169 closed, assigned to T8T9

[2022-09-20 06:44] #35182 closed, assigned to T8T9

[2022-09-20 06:44] #35190 closed, assigned to yinhaofeng

[2022-09-20 06:44] #35241 closed, assigned to MissPenguin

[2022-09-20 06:44] #35252 closed, assigned to tink2123

[2022-09-20 06:44] #35253 closed, assigned to tink2123

[2022-09-20 06:44] #35266 closed, assigned to nobody

[2022-09-20 06:44] #35284 closed, assigned to ZHUI

[2022-09-20 06:44] #35306 closed, assigned to TCChenlong, ZHUI, jerrywgz

[2022-09-20 06:44] #35324 closed, assigned to ZHUI, hbwx24

[2022-09-20 06:44] #35325 closed, assigned to ZHUI

[2022-09-20 06:44] #35344 closed, assigned to joey12300, FlyingQianMM

[2022-09-20 06:44] #35362 closed, assigned to joey12300, chenwhql

[2022-09-20 06:44] #35441 closed, assigned to jiangjiajun

[2022-09-20 06:44] #35454 closed, assigned to gongweibao

[2022-09-20 06:44] #35456 closed, assigned to Superjomn, qingqing01, yghstill

[2022-09-20 06:44] #35459 closed, assigned to Superjomn

[2022-09-20 06:44] #35466 closed, assigned to Superjomn, chajchaj

[2022-09-20 06:44] #35468 closed, assigned to jerrywgz

[2022-09-20 06:44] #35491 closed, assigned to frankwhzhang

[2022-09-20 06:44] #35500 closed, assigned to frankwhzhang

[2022-09-20 06:44] #35503 closed, assigned to frankwhzhang

[2022-09-20 06:44] #35562 closed, assigned to heavengate

[2022-09-20 06:44] #35582 closed, assigned to sandyhouse

[2022-09-20 06:44] #35604 closed, assigned to ceci3

[2022-09-20 06:44] #35607 closed, assigned to ceci3

[2022-09-20 06:44] #35608 closed, assigned to ceci3

[2022-09-20 06:44] #35614 closed, assigned to zhiqiu, ceci3

[2022-09-20 06:44] #35622 closed, assigned to ceci3

[2022-09-20 06:44] #35657 closed, assigned to Shixiaowei02

[2022-09-20 06:44] #35669 closed, assigned to FrostML

[2022-09-20 06:44] #35707 closed, assigned to danleifeng

[2022-09-20 06:44] #35744 closed, assigned to ForFishes

[2022-09-20 06:44] #35752 closed, assigned to ForFishes

[2022-09-20 06:44] #35772 closed, assigned to ForFishes

[2022-09-20 06:44] #35773 closed, assigned to ForFishes

[2022-09-20 06:44] #35786 closed, assigned to Thunderbrook

[2022-09-20 06:44] #35796 closed, assigned to Thunderbrook

[2022-09-20 06:44] #35810 closed, assigned to Thunderbrook

[2022-09-20 06:44] #35819 closed, assigned to ZeyuChen, TCChenlong, wawltor, yaoxuefeng6

[2022-09-20 06:58] Ywandung-Lyou opened #46276 "SemanticSearchPipeline生成的pipeline支持并行吗？"
### 请提出你的问题 Please ask your question

在[简单！PaddleNLP带你十分钟搭建检索系统 - 飞桨AI Studio](https://aistudio.baidu.com/aistudio/projectdetail/4442670?channelType=0&channel=0)使用 `pipelines.pipelines.SemanticSearchPipeline`生成管道，然后每次输入1个query。
现有一个数据集，有办法一次输入多个query然后并行查询吗？如果有，请问如何实现？

[2022-09-20 06:59] engineer1109 commented on #46097
https://github.com/PaddlePaddle/Paddle/pull/46259 merged and fixed

[2022-09-20 06:59] #46097 closed, assigned to zoooo0820

[2022-09-20 07:03] yt605155624 commented on #46276
你好，已经 assign 给 PaddleNLP 相关的同学跟进了，之后相关问题可以直接到 PaddleNLP 提问

[2022-09-20 07:44] zhiminzhang0830 commented on #44501
【队名】：zzm
【序号】：21
【论文】：Reciprocal Feature Learning via Explicit and Implicit Tasks in Scene Text Recognition
【状态】：报名&提交
【repo链接】：https://github.com/zhiminzhang0830/RFLearning_Paddle

[2022-09-20 08:21] Ligoml commented on #45290
@pangyoki 辛苦协助复现和定位一下问题

[2022-09-20 08:24] jzhang533 commented on #45295
you can try [paddle.hub](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hub/Overview_cn.html)

[2022-09-20 08:28] jjrCN commented on #46252
有人吗

[2022-09-20 08:30] Ligoml commented on #45323
辛苦 @juncaipeng 修复一下这个算子性能问题，另外 @yuwoyizhan 如果你对算子性能优化感兴趣，欢迎参与飞桨框架的算子性能优化贡献 https://github.com/PaddlePaddle/Paddle/issues/42286

[2022-09-20 08:51] jzhang533 commented on #45464
简单试了一下，在V100和CPU上是正确的。

[2022-09-20 08:51] ziyaxuanyi commented on #34827
仔细检查代码，一定是某个位置数据加载一个batch里面的某些数据，没有统一到相同的尺寸

[2022-09-20 08:52] ziyaxuanyi commented on #34827
Double-check the code, it must be somewhere the data loaded inside a batch of data, not unified to the same size

[2022-09-20 08:54] Ligoml commented on #45464
win11 cpu上也没有复现这个问题

[2022-09-20 08:59] Ligoml commented on #45977
fluid API会逐渐退场，所以这部分API文档的示例代码可以先不处理，非fluid的API示例代码需要修正

[2022-09-20 09:12] Ligoml commented on #46043
建议自己组合Python算子实现~
如果你有兴趣，可以给paddle贡献这个API

[2022-09-20 09:13] Ligoml commented on #46149
你好，我们会在2.4版本支持gcc9，欢迎关注

[2022-09-20 09:23] jiaqianjing opened #46302 "注释和代码不一致"
### 问题描述 Please describe your issue

![企业微信截图_16636649939563](https://user-images.githubusercontent.com/16071449/191220179-3b3c5831-7726-44dc-83c2-a81547cd7397.png)
![企业微信截图_16636650182294](https://user-images.githubusercontent.com/16071449/191220239-4f4f533a-eb31-4c44-b26c-64835e7fb9e5.png)

另外这个 label 参数是否多余? triplet loss 公式一般就不需要 label 表示： `loss = max(0, margin + (input - other))`

[2022-09-20 10:16] #45295 closed, assigned to minghaoBD

[2022-09-20 10:26] yt605155624 commented on #46302
请问具体注释在哪，麻烦你发现代码链接行

[2022-09-20 11:01] #46220 closed, assigned to an1018

[2022-09-20 11:04] DeepanChakravarti opened #46310 "Unable to use Paddle Library"
### 请提出你的问题 Please ask your question

While importing Paddle library from paddle OCR getting an error since we do not have permission to create path in Home directory
on analysis noticed that within common.py the below code snippet is causing the issue. Is there an alternate way to inject the path via a wrapper.

site-packages/paddle/dataset/common.py

[code]
Error Logs as follows
`[ERROR] OSError

[2022-09-20 11:05] w5688414 commented on #46276
目前暂时可以使用FastAPI后端进行异步并发访问并行，请问您是什么场景的搜索？为啥有并行的需求？

[2022-09-20 11:38] ZhangHandi commented on #46171
训练代码转换目前暂时不成熟哈，只支持转换推理模型。 训练代码复现建议参照paddle文档进行复现，可以参考：[论文复现指南](https://github.com/PaddlePaddle/models/blob/develop/docs/ThesisReproduction_CV.md#3.8)

[2022-09-20 11:57] gongweibao opened #46314 "Limit Python version >= 3.7"
### 问题描述 Please describe your issue

Python supports type hint from version 3.5 https://docs.python.org/3/library/typing.html. And we can write codes like this
[code]
which is more readable and easier to use than we use now. And Python 3.6 has an [surprisingly bug](https://stackoverflow.com/questions/56394350/how-to-resolve-this-import-error-in-python-3-6)
So will we limit the Python version to gr

[2022-09-20 12:06] yt605155624 commented on #46310
Sorry, as far as I know, there is no good way to solve this problem.
Would you like to run paddle in a docker in which you will have write permission to ${HOME} ?

[2022-09-20 12:36] JZZ-NOTE commented on #45971
您好，请问可以使用 Paddle 发布的 docker 编译吗？
docker 里的环境是配好的，不会有环境问题。
https://hub.docker.com/r/paddlepaddle/paddle_manylinux_devel/tags

[2022-09-20 12:41] an1018 commented on #46233
Paddle package with cuda11.x version is available for CUDA11.4，you can install any version, for example:
[code]

[2022-09-20 13:01] #46233 closed, assigned to an1018

[2022-09-20 13:07] Ligoml commented on #46181
感谢指出，我们会及时修正这个问题

[2022-09-20 13:33] cxxly commented on #46228
你好，你的测试用例是怎么运行的，是用ctest，还是直接运行python文件

[2022-09-20 13:33] SigureMo commented on #46181
https://github.com/PaddlePaddle/docs/pull/5291 修了修了～

[2022-09-20 13:35] dasenCoding commented on #46228
我直接运行的python文件。

[2022-09-20 13:58] Rayman96 commented on #43938
【队名】：Rayman的团队
【序号】：38
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/46111（与56同一PR）

[2022-09-20 15:01] ctkindle commented on #45566
【队名】：FutureSI

【序号】：兴7

【论文】：[Aggregated Contextual Transformations for High-Resolution Image Inpainting](https://paperswithcode.com/paper/aggregated-contextual-transformations-for)

【状态】：提交

【repo链接】：https://github.com/ctkindle/AOT_GAN_Paddle/blob/main/README.md

[2022-09-20 15:51] Wenze7 opened #46330 "使用softmax计算大矩阵报错"
### 请提出你的问题 Please ask your question

我的矩阵是256*384*50000的，在最后一维使用softmax进行降维，报了下面的错
<img width="1272" alt="image" src="https://user-images.githubusercontent.com/55132749/191305501-808d56a3-01c1-4214-bed4-fe12b93b4f03.png">
怎么能让我计算这个大矩阵呢，设备是A100 80G

[2022-09-20 18:33] SigureMo commented on #46039
## Flake8 各个子任务（错误码）的计划和进度

- 初始化 Flake8 配置：#45943
- Flake8 tasks Tracking board：https://github.com/orgs/cattidea/projects/4/views/2

### ✅ Trailing Whitespace [W291][W293]

- 存量修复
   - Python（除 NPU 单测）：#45937
   - Python NPU 单测：#46042
   - Docs 相关文件：#45990
   - C++ 相关文件(除 `.cuh`)：#46006
   - C++ `.cuh` 文件：在 cpplint 修复中一并修复
   - `.yaml` and `.hook`：#46080
- `trailing-whitespace` pre-commit hook

[2022-09-21 01:13] ShenK-Xiao commented on #46120
请教个问题，百度飞浆模型支不支持多线程并行预测

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年9月19日(星期一) 下午5:53
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 相机拍照的预测结果和本地图像的预测结果不一致 (Issue #46120)

@ShenK-Xiao 可以确认下模型以及输入是否一致，若模型和输入一致，理论上结果肯定是对的

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this bec

[2022-09-21 01:50] Tlntin commented on #45681
支持，可以参考该链接，需要小小的配置一下。https://aistudio.baidu.com/aistudio/projectdetail/4440986

[2022-09-21 02:42] jiaqianjing commented on #46302
https://github.com/PaddlePaddle/Paddle/blob/3845229dc8d1b5279e3f7c28ed333a6a9ba157b5/python/paddle/nn/functional/loss.py#L1088
另外我关于这个提了一个 PR： https://github.com/PaddlePaddle/Paddle/pull/46306

[2022-09-21 02:51] #46181 closed, assigned to an1018

[2022-09-21 02:54] yt605155624 commented on #46330
可以先在 issue 区搜下 `CUDNN_STATUS_NOT_SUPPORTED` 尝试可能的解决办法

[2022-09-21 03:11] luochenghonggithub opened #46338 "切片赋值不能传播梯度"
### 请提出你的问题 Please ask your question

你好，我将一个能传播梯度的tensor赋值给另一个tensor，如何保持stop_gradient=False呢？
代码如下：
`mat = paddle.zeros((n, n))`
`mat[index1, index2] = probs`
probs的stop_gradient=False，我该如何让赋值后的mat也是False呢？
如果使用pytorch，赋值后的mat的grad_fn=<IndexPutBackward0>是能传播梯度的。
谢谢！

[2022-09-21 03:26] w5688414 commented on #46338
请问您的paddle版本是哪个。

以下是我复现的环境：

+ paddlepaddle                       2.3.0
+ macos

[code]

我的输出：

[code]

[2022-09-21 03:38] cxxly commented on #46228
错误的原因应该是你在build目录下运行了测试用例, build目录下每个用例会编译乘独立单元，要找到依赖关系，需要通过PYTHONPATH自己配置，有些麻烦。建议：
1）编译安装，直接运行${PADDLEROOT}/python/paddle/...下的单测试文件
2）cmake选项 -DWITH_TESTING=ON，编译，build目录下通过ctest运行

[2022-09-21 03:39] cxxly commented on #46228
另外，你贴的代码中出现许多错误，不过这个和上述报错原因无关，优先能运行，然后自己逐步debug

[2022-09-21 04:01] #46228 closed, assigned to an1018

[2022-09-21 05:32] pmpleader commented on #45509
@zxc190615 现在我们的业务都可以正常跑了；目前没有使用grpc，使用grpc就会有问题；

[2022-09-21 05:32] pmpleader commented on #45509
@zxc190615 现在我们的业务都可以正常跑了；目前没有使用grpc，使用grpc就会有问题；

[2022-09-21 05:49] Zhangts98 commented on #45971
好的。 谢谢。

[2022-09-21 06:35] liukaiyueyuo opened #46350 "tensor.numpy()执行大量数据从GPU拷贝到CPU速度缓慢"
### 需求描述 Feature Description

tensor.numpy()执行大量数据从GPU拷贝到CPU速度缓慢，5M数据执行tensor.numpy()耗费了1.4s，完全不可接受！啥原因呢？

### 替代实现 Alternatives

_No response_

[2022-09-21 06:48] mmma-mua commented on #44501
【队名】：对对对对对对对队
【序号】：76
【论文】：Invertible Denoising Network: A Light Solution for Real Noise Removal
【状态】：报名
【repo链接】：https://github.com/mmma-mua/InvDN-Paddle

[2022-09-21 07:03] qipengh opened #46351 "训练PaddleDetection仓库的ppyolo网络，loss=nan"
### bug描述 Describe the Bug

基于Paddle develop分支 - PaddleDetection develop分支， 以及Paddle release2.3分支 - PaddleDetection release2.4分支，跑ppyolo网络，无论是4卡还是8卡，均会有50%的概率出现 loss=nan。环境和超参数修改如下：

**原生参数8卡参数为（base_lr: 0.01，batch_size: 24）**

 - **出现loss=nan的8卡参数和脚本**

参数为（base_lr: 0.005，batch_size: 12），学习率和batch减半，训练脚本如下：
`python -m paddle.distributed.launch --gpus 0,1,2,3,4,5,6,7 tools/train.py -c configs/ppyo

[2022-09-21 07:38] w5688414 commented on #46350
tensor需要从gpu拷贝到cpu，需要消耗时间。

[code]

[code]

我测了一下，确实需要一点时间，请问您有什么特别的需求吗？

[2022-09-21 07:40] w5688414 commented on #46330
可以尝试切分数据分片进行softmax

[2022-09-21 07:41] wawltor commented on #46302
您好，非常感谢您给我们贡献代码，代码已合入！ https://github.com/PaddlePaddle/Paddle/pull/46306

[2022-09-21 07:52] nemonameless commented on #46351
paddle版本可以试试稍低一点比如paddle2.2.2。推荐原配置训练，如果资源不够bs开不到默认，的确是按默认总bs线型比例调整lr，但也可以试试其他lr，尽量往小点调。
最新PP-YOLOE系列是PP-YOLOE+，精度速度均有大幅度提升，欢迎使用 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.5/configs/ppyoloe

[2022-09-21 08:03] luochenghonggithub commented on #46338
谢谢，你这个不会造成mat的stop_gradient = True。
我发现是index的问题，当index是numpy或者tensor的时候就会造成stop_gradient=True，此时即使将stop_gradient设置为False也没用，backward后grad是None.
我将index设置为python的list就好了。

代码如下：
[code]

相应的输出是：
[code]

[2022-09-21 08:18] #46338 closed, assigned to w5688414

[2022-09-21 08:22] jzhang533 commented on #46314
Python 3.6 has reached end-of-life, I second this proposal.

[2022-09-21 08:27] dasenCoding commented on #46228
谢谢，问题已解决！

[2022-09-21 08:41] #45046 closed, assigned to wanghuancoder, zhupengyang

[2022-09-21 08:42] #39687 closed, assigned to wanghuancoder

[2022-09-21 08:43] #42279 closed, assigned to wanghuancoder

[2022-09-21 08:44] #42258 closed, assigned to nobody

[2022-09-21 08:49] JZZ-NOTE commented on #45971
请问用 docker 解决编译问题了吗

[2022-09-21 09:01] Zhangts98 commented on #45971
我还没有用docker编译， 我用修改文件的方式解决的这个问题。

[2022-09-21 09:19] Zhangts98 commented on #45971
出问题的地方是： 编译release/2.3代码的时候, 我手动指定的 `-D_GLIBC_USE_CXX11_ABI=0`，而`CMakeList.txt`中是使用某些选项来控制的，如`WITH_PSLIB`。在`cmake/flags.cmake`文件中， 有与那些选项相关联的设置。例如：
[code]
虽然我在编译命令中指定 `-D_GLIBC_USE_CXX11_ABI=0`， 但好像只对cpu相关的库有效， 在编译gpu相关库的时候，用不到这个标识。所以我修改了`CMakeList.txt` 和`cmake/flags.cmake`，能成功编译，且没有上面的错误。

[2022-09-21 10:00] #46302 closed, assigned to yt605155624, linjieccc

[2022-09-21 11:28] pmajchrzak opened #46367 "Hapi mnist accuracy drop with commit "Enable standalone executor for single-GPU training (#45913)""
### 问题描述 Please describe your issue

Commit https://github.com/PaddlePaddle/Paddle/commit/fb37628530823ad79baa0120511669205d6eba3b seems to be responsible of accuracy drop in **hapi mnist** model

#### application:
paddle_paddle/logs_paddle_paddle/build/python/paddle/tests/hapi_mnist_bf16_static.py

#### test run parameters:
FLAGS_use_mkldnn=true  python /logs_paddle_paddle/build/python/paddle/tes

[2022-09-21 11:28] vax521 opened #46368 "【论文复现】反向对齐paddle模型梯度异常，梯度无法正常打印"
### bug描述 Describe the Bug

反向对齐过程中，打印paddle的模型参数梯度发现前面的几层大量参数的梯度为None

定位到梯度异常的layer以后，使用hook打印梯度发现异常

torch 代码
[code]
在torch中，f_res backward、att_map_sub_t backward、att_map_sub backward均可正常打印梯度

paddle代码
[code]
在paddle中，仅打印f_res backward、att_map_sub_t backward， att_map_sub backward未正常打印梯度

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-21 11:30] qipengh commented on #46351
这试错成本有点高，完整训练要好久，咱们这边可以复现下吗？目前由于项目原因，只考虑ppyolo，以后有机会再尝试ppyoloe

[2022-09-21 12:28] bixiaopeng0 opened #46370 "all_reduce之后为什么每张卡上的数值大小不同"
### 请提出你的问题 Please ask your question

  我想同步每张卡上loss_buffer，每次只是同步某一行。但是同步之后，每张卡打印出来的变量不一样，是为什么呢？
代码和打印log如下：

            loss_buffer = paddle.zeros(shape=[100,4]) #[epoch,loss_num]
            paddle.distributed.barrier()
            paddle.distributed.all_reduce(loss_buffer[epoch_id])
            print("loss_buffer[epoch_id]",loss_buffer[epoch_id])
![image](https://user-images.githubusercontent

[2022-09-21 12:31] qipengh commented on #46351
我在PaddleDetection仓库中open issue中发现，只要涉及到修改学习率，好多都会报 loss nan的问题。

[2022-09-21 13:08] longranger2 commented on #43938
【队名】：Swift
【序号】：87
【状态】：提交作品
【链接】：https://github.com/X-lab2017/open-digger/pull/974

[2022-09-21 13:41] fasiondog commented on #45046
解决了？

[2022-09-21 14:59] GreatV commented on #44501
【队名】：greatv
【序号】：71
【论文】：[Deep Relational Reasoning Graph Network for Arbitrary Shape Text Detection](https://openaccess.thecvf.com/content_CVPR_2020/papers/Zhang_Deep_Relational_Reasoning_Graph_Network_for_Arbitrary_Shape_Text_Detection_CVPR_2020_paper.pdf)
【状态】：报名
【repo链接】：https://github.com/greatv/paddleocr

[2022-09-21 15:35] zpc-666 commented on #44501
队名】：冲一冲队伍
【序号】：飞桨特色模型挑战赛 6
【论文】：Channel-wise Topology Refinement Graph Convolution for Skeleton-Based Action Recognition
【状态】：提交
【repo链接】：https://github.com/zpc-666/CTRGCN_Light

[2022-09-21 16:01] tsocha commented on #45058
@zhouwei25 @Aganlengzi
Hi,
I tried to reproduce the problem from this issue but after carefully following instructions from here: https://github.com/lidanqing-intel/deep_md_test
I got such error:
[code]
It seems that a custom operator(`prod_env_mat_a`) definied by deepmd is not visible in PaddlePaddle.
Do you know how can I register it?

PS I had to modify Danqing's repository to fix compilation e

[2022-09-21 17:43] LucasMartinuzzo opened #46377 "AttributeError: 'ParallelEnv' object has no attribute '_device_id'"
### bug描述 Describe the Bug

I'm trying to train the recognition model using custom data, but i'm getting some error. This is how i call it:
`CUDA_VISIBLE_DEVICES=0 python3 -m paddle.distributed.launch --log_dir=./debug/ --selected_gpus='0'  tools/train.py -c configs/rec/prices/rec_price_1.yml -o Global.pretrained_model=en_PP-OCRv3_rec_train/best_accuracy`

(I also tried with more than one GPU)

I'

[2022-09-21 18:14] wozna commented on #45970
This PR https://github.com/PaddlePaddle/Paddle/pull/46378 fixes the error with the concat OneDNN exception. But unfortunately, now this test throws a different error that is caused because no detection boxes were found.

[code]

After excluding the 4 last concats from the quantization test works fine with good accuracy.
I'll continue work to find why the quantization of last concats decreased acc

[2022-09-21 18:20] wozna commented on #44075
This PR should fix this issue https://github.com/PaddlePaddle/Paddle/pull/46378. The problem was that even if we have uint8 output we used int8 data type which was associated with a loss of accuracy.

[2022-09-22 01:06] glare-ni opened #46379 "paddle.floor_divide 对于负数不符合预期"
### bug描述 Describe the Bug

竞品对于floor div的计算方式如下，而paddle的策略有所不同，
if value is a negative number eg."-0.2", paddle will use "ceil", the value will be "0" 如果除完的值是负数，那么会用ceil策略，向上取整，（竞品是向下取整）
if value is a positive number eg "1.2", paddle will user "floor" the value will be "1". 如果除完的值是正数，那么会用floor策略，向下取整，（符合预期）
this is a demo.
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-22 02:30] monkeycc opened #46381 "gpu_resources.cc:201] WARNING: device: . The installed Paddle is compiled with CUDNN 8.4, but CUDNN version in your machine is 8.2, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version."
`python -m pip install paddlepaddle-gpu==2.3.2.post116 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html
`

C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.6
覆盖了
cudnn-windows-x86_64-8.4.0.27_cuda11.6-archive

还是提示
`gpu_resources.cc:201] WARNING: device: . The installed Paddle is compiled with CUDNN 8.4, but CUDNN version in your machine is 8.2, which may cause serious inco

[2022-09-22 02:42] JZZ-NOTE commented on #45971
好的，那现在您的问题是解决了吗，还有其他问题吗

[2022-09-22 02:48] fuqianya opened #46385 "【论文复现】GPU下的推理报错"
### 请提出你的问题 Please ask your question

运行环境：

* Python 3.6

* paddlepaddle-gpu 0.0.0 (develop)

模型在CPU下的推理正常，但是在GPU下的推理报如下的错：

[code]

具体报错如下：
[code]

代码仓库：
https://github.com/Mixture-of-Rookie/UNITER-Paddle

ToProduce:
[code]

[2022-09-22 02:49] Zhangts98 commented on #45971
没有了， 谢谢您。

[2022-09-22 02:56] wangxinxin08 commented on #46351
@qipengh 1. 修改batch_size或者卡数，需要调整学习率，具体计算公式为
![9f92b2affb86074303a316bce6274668](https://user-images.githubusercontent.com/69842442/191647780-9a4a9e10-81de-4d5b-a23f-cbe25ab4bdc9.png)
2. 如果你正常修改了学习率依然报错，可以考虑在optimizer中https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.5/configs/ppyolo/_base_/optimizer_1x.yml#L15
添加一行
[code]
类似 https://github.com/PaddlePaddle/PaddleDetection/blob/releas

[2022-09-22 02:58] wangxinxin08 commented on #46351
3. 第一个issue和你的问题并无关联，其余issue均可通过这两种方式解决

[2022-09-22 03:02] wangxinxin08 commented on #46351
https://github.com/PaddlePaddle/PaddleDetection/blob/de21c2789cf89ab933154a3ac579460db0530422/configs/ppyolo/_base_/optimizer_1x.yml#L15

[2022-09-22 03:03] monkeycc opened #46386 "paddlepaddle-gpu 2.3.2训练报错,return self._getitem_index_not_tensor(item) OSError: (External) CUDA error(719), unspecified launch failure."
### 请提出你的问题 Please ask your question

虽然是paddleX的框架训练  但是报错的是paddle

其他模型没问题  就FasterRCNN 报错

最后换成
paddlepaddle-gpu==2.2.2
解决问题

希望能修复2.3的问题

[code]

## 环境

1. 请提供您使用的PaddlePaddle和PaddleX的版本号
paddlepaddle-gpu          2.3.2.post112
paddlex                   2.1.0

2. 请提供您使用的操作系统信息，如Linux/Windows/MacOS
Windows
3. 请问您使用的Python版本是？
Python 3.7.13
6. 请问您使用的CUDA/cuDNN的版本号是？
cuda11.6  cudnn 8.20

-------

[2022-09-22 03:09] liukaiyueyuo commented on #46350
局部代码如下：
with paddle.no_grad():
    wav = self.voc_inference(self.am_inference(phone_ids, spk_emb=spk_emb))
    print("wav shape: %s" % wav.shape)
time_1 = time.time()
gpu2cpu_1 = wav.numpy()
time_2 = time.time()
print('1-2 time: {}'.format(time_2 - time_1))
wav2 = paddle.full_like(wav, 0.0)
time_3 = time.time()
gpu2cpu_2 = wav2.numpy()
time_4 = time.time()
print('3-4 time: {}'.format(time_4 - time

[2022-09-22 03:10] liukaiyueyuo commented on #46350
局部代码如下：
with paddle.no_grad():
    wav = self.voc_inference(self.am_inference(phone_ids, spk_emb=spk_emb))
    print("wav shape: %s" % wav.shape)
time_1 = time.time()
gpu2cpu_1 = wav.numpy()
time_2 = time.time()
print('1-2 time: {}'.format(time_2 - time_1))
wav2 = paddle.full_like(wav, 0.0)
time_3 = time.time()
gpu2cpu_2 = wav2.numpy()
time_4 = time.time()
print('3-4 time: {}'.format(time_4 - time

[2022-09-22 03:29] #45971 closed, assigned to zyfncg, JZZ-NOTE

[2022-09-22 03:32] GuangfuWang commented on #23509
so if there are some simple examples for c++/python demo to show how to load a paddle detection model and use it as inference? i checked inference section, but onle a model compression intro is provided...

[2022-09-22 03:52] Wong4j commented on #45669
更新一下信息，2.3.0版本的对应的代码在这里https://github.com/PaddlePaddle/Paddle/blob/v2.3.0/paddle/fluid/operators/optimizers/adam_op.h#L627
代码检查到FLAGS_inner_op_parallelism=4，就会开启4线程来计算。

在2.3.0版本下，CPU和GPU的测试都会开启multi-thread，根据报错信息，应该是GPU的部分出的bug。

develop分支下，adam_op的CPU和GPU实现分别放到了paddle/phi/kernels/selected_rows/cpu/adam_kernel.cc和paddle/phi/kernels/selected_rows/gpu/adam_kernel.cu中。其中只有cpu的代码会检查FLAGS_inner_op_par

[2022-09-22 03:52] PeterWesley opened #46392 "龙芯uos源码编译安装v2.3.2报错"
### 龙芯uos源码编译安装v2.3.2报错

**龙芯平台不支持v0.3.13的openblas源码编译**
[  1%] Built target extern_zlib
[  2%] Built target extern_protobuf
[  2%] Built target extern_gflags
[  2%] copy_if_different /home/jywang/software/image/Paddle/build/paddle/fluid/operators/jit/kernels.h
[  2%] Built target copy_kernels_command
[  2%] copy_if_different /home/jywang/software/image/Paddle/build/paddle/phi/kernels/declarations

[2022-09-22 04:26] AndPuQing commented on #43938
【队名】：开摆鸟
【序号】：57
【状态】：提交作品
【链接】：https://github.com/X4Science/INFINITY/pull/16

[2022-09-22 04:47] Wong4j commented on #45669
cc @qili93

[2022-09-22 05:21] 1649759610 commented on #46381
可以确认下当前环境默认运行的cudnn版本是否已经是8.4版本，Cuddnn环境变量是否配置好。

[2022-09-22 05:29] jzhang533 commented on #46392
这样试试：`export OPENBLAS_ROOT=<PATH_TO_OPENBLAS>`

[2022-09-22 06:14] haohongxiang commented on #46377
@LucasMartinuzzo Hi, I've received your issue. And I require more information about the version of PaddlePaddle and PaddleOCR.

[2022-09-22 06:16] Bobholamovic commented on #46379
你好，`paddle.floor_divide()`处理商为负数情形的行为与NumPy确实不同，实际更接近`trunc()`而不是`floor()`的行为。感谢指出这一问题，我们将修复此bug，使代码实际功能与文档描述一致。

[2022-09-22 06:36] haohongxiang commented on #46377
@LucasMartinuzzo When you tried the given demo, did you make sure the installed PaddlePaddle is supported with GPU? Please check it by the following codes.

[code]

If it gives the results like:
[code]

meaning you has installed the right version of paddlepaddle-gpu.

[2022-09-22 06:43] w5688414 commented on #46368
请问有完整一点的代码吗？我在本地复现一下您的问题

[2022-09-22 06:51] vax521 commented on #46368
我在aistudio上复现一下，等下把地址回复您

[2022-09-22 06:51] vax521 commented on #46368
我在aistudio上复现一下，等下把地址回复您

[2022-09-22 06:55] w5688414 commented on #46350
是不是io没有释放，我在v100上测试的时间很低：

[code]

目前没法复现您的问题

grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
[2582700, 1]
time cost: 0.00889444351196289
(2582700, 1)

[2022-09-22 07:02] luckyyangrun commented on #43524
+1 想知道有没有解决办法

[2022-09-22 07:32] qili93 commented on #46392
这里的问题是飞桨编译的时候 cmake 没有找到系统安装的 blas，所以自己又下载 openblas 源码编译导致的。建议可以参考这个修复PR，加点 cmake 的 message 代码，保证飞桨编译走的是系统安装的 blas 就可以避免这个问题。

https://github.com/PaddlePaddle/Paddle/pull/42953/files

龙芯 CPU 的安装说明可以参考这个文档
https://www.paddlepaddle.org.cn/inference/master/guides/hardware_support/cpu_loongson_cn.html

主要的寻找 cblas 的逻辑从这里的代码开始 https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/cblas.cmake#L50 保证

[2022-09-22 07:59] vax521 commented on #46368
很奇怪，在aistudio上复现不出来，怀疑跟操作系统有关系

[2022-09-22 08:02] vax521 commented on #46368
代码地址： https://aistudio.baidu.com/aistudio/projectdetail/4580735?sUid=48323&shared=1&ts=1663833714209

[2022-09-22 08:04] vax521 commented on #46368
paddle_grad_windows7_cpu.txt是在本地运行打印的模型参数梯度结果

[2022-09-22 08:04] vax521 commented on #46368
paddle_grad_windows7_cpu.txt是在本地运行打印的模型参数梯度结果,paddle_grad_gpu.txt是在aistudio中，使用GPU运行打印的模型参数梯度结果，paddle_grad_linux_cpu.txt是在在aistudio中，使用CPU运行打印的模型参数梯度结果

[2022-09-22 08:06] vax521 commented on #46368
paddle_grad_gpu.txt是在aistudio中，使用GPU运行打印的打印的模型参数梯度结果，paddle_grad_linux_cpu.txt是在在aistudio中，使用CPU运行打印的打印的模型参数梯度结果

[2022-09-22 08:13] #45865 closed, assigned to haoyuying

[2022-09-22 08:15] liukaiyueyuo commented on #46350
你们的PaddleSpeech中examples/aishell3/vc1示例：
https://github.com/PaddlePaddle/PaddleSpeech.git

打开脚本文件examples/aishell3/vc1/local/voice_cloning.sh
注释环境变，如下：

text="这几天心里颇不宁静，今晚在院子里坐着乘凉，忽然想起日日走过的荷塘，在这满月的光里，总该另有一番样子吧，月亮渐渐地升高了，墙外马路上孩子们的欢笑
，已经听不见了，妻在屋里拍着闰儿，迷迷糊糊地哼着眠歌，我悄悄地披了大衫，带上门出去，沿着荷塘，是一条曲折的小煤屑路，这是一条幽僻的路，白天也少人走，
夜晚更加寂寞，荷塘四面，长着许多树，蓊蓊郁郁的，路的一旁，是些杨柳，和一些不知道名字的树，没有月光的晚上，这路上阴森森的，有些怕人，今晚却很好，虽然
月光也还是淡淡的，路上只我一个人，背着

[2022-09-22 08:31] jzhang533 commented on #46310
seems this has been fixed by #45229
Another workaround is edit `site-packages/paddle/dataset/common.py` locally to change this path.

[2022-09-22 09:09] OccupyMars2030 opened #46404 "FatalError: `Erroneous arithmetic operation` is detected by the operating system."
### 请提出你的问题 Please ask your question

## I'm participating  in  PaddlePaddle Hackathon 3rd,  this is  my  PR : https://github.com/PaddlePaddle/Paddle/pull/46333,  I'm confused about this error. [failed  CI](https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/detail/6689890/job/18678001)
<img width="960" alt="image" src="https://user-images.githubusercontent.com/31559413/191705519-3f5892b6-6a32-

[2022-09-22 10:05] danqing-li commented on #45058
@tsocha  Hi, Tomasz, Michael contacted me and ask who is the right person to consult this question.

@leeleolay is working on deepmd. And in Q2 leo @leeleolay and I were working together to make the native inference work. You can discuss with him, he is now still trying on making mkldnn inference work. He is familiar with the details

About the reproduction errors, it is weird cause native inferen

[2022-09-22 11:12] GuoxiaWang commented on #46012
@thgpddl 请问你是在训练什么模型？上面的 PR 通过添加 FLAG 控制 embedding 反向确定性后，是否还有随机性？

[2022-09-22 11:44] tsocha commented on #45058
@leeleolay could you help me with my issue? https://github.com/PaddlePaddle/Paddle/issues/45058#issuecomment-1253914028
[code]
I didn't changed anything in your repository.(except paths and removed BOOST dependency which was unused AFAIK)
MKLDNN is not enabled yet.
![obraz](https://user-images.githubusercontent.com/24435886/191738074-7361cedf-1739-4d75-9516-6d9800de4b63.png)

[2022-09-22 11:47] Mu23rad opened #46414 "From paddle import inference No inference in paddle when running on jetson nano"
### bug描述 Describe the Bug

import paddle
from paddleocr import PaddleOCR

### 其他补充信息 Additional Supplementary Information

![paddle](https://user-images.githubusercontent.com/90346796/191738190-3d3b5142-25db-43b1-8877-b2e7fb4bfb1d.PNG)
this is the output i get on jetson nano

[2022-09-22 12:16] yt605155624 commented on #46350
我复现了一下，不注释这两行
[code]

[code]
注释的话，时间是
[code]
我在执行 [vc2](https://github.com/yt605155624/PaddleSpeech/tree/develop/examples/aishell3/vc2) 的时候，不注释
[code]
注释
[code]
进一步打印发现主要耗时是在 pwgan 上(9s pwgan 其实这么长时间是符合预期的，我现在反而更惊喜于注释掉这两行 pwgan 速度竟然变快了，应该是框架有改进, 我再 check 一下其他地方注释掉这两行是否都会变快，因为这两行起初就是因为框架在执行动转静的时候会申请大量的显存，如果不加很容易 OOM, 但是 voice cloning 的时候没有动转静，所以可以删掉)

有 FLAGS_fraction_of_gpu_memory_to_use=0.01 这个 F

[2022-09-22 13:04] LucasMartinuzzo commented on #46377
Hi, i ran the command and the output is:
[code]
I didn't know about this paddlepaddle-gpu, so I installed now and the output is:
[code]

I executed the program again and it stopped giving this error. Thank you.

[2022-09-22 13:05] #46377 closed, assigned to 1649759610

[2022-09-22 13:34] BaiEJi opened #46423 "关于paddle.no_grad的使用问题"
### 请提出你的问题 Please ask your question

[code]

报错
[code]

代码是改写的pytorch代码
请问不是要这么进行参数更新吗
如果不是这样的活,那要怎样进行呢

[2022-09-22 13:49] glare-ni commented on #46379
pytorch竞品目前有两种形式，https://pytorch.org/docs/stable/generated/torch.div.html#torch.div
目前paddle这里实现了` trunc`模式，也就是 https://pytorch.org/docs/stable/generated/torch.floor_divide.html?highlight=floor_divide#torch.floor_divide 这个代码，paddle目前跟这个对齐了。建议可以跟pytorch一样实现两种模式，供用户选择。

从pytorch竞品对齐的角度来看，这也可不算个bug，算是正常功能。
[code]

[2022-09-22 14:27] Bobholamovic commented on #46379
你说得对！不过PyTorch官方文档也指出，`floor_divide`这个API因为其名称可能造成的误解即将被废弃，取而代之的是支持两种舍入模式的`torch.div`。我认为，如果在`paddle.floor_divide`的基础上增加舍入模式的选项，可能会导致名称带来的误解加重（即，**floor**_divide这个API可以显式地被指定执行**非floor**的行为），可能也是考虑到这个原因PyTorch才另外提供了`torch.div` API的。从这点出发，我倾向于保留`paddle.floor_divide`现有的功能，但修改文档中的表述。关于`rounding_mode`的提议，我建议可以另外设计一个API提供这一功能。

[2022-09-22 14:29] wangna11BD opened #46425 "多卡训练报错"
### bug描述 Describe the Bug

单卡可正常训练，多卡报错如下，find_unused_parameters=True已设置
<img width="1014" alt="fdbed07a6cc101664b06ee47e" src="https://user-images.githubusercontent.com/79366697/191774290-f8111538-b48a-468f-a244-5aabcc09485a.png">

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-22 14:53] leeleolay commented on #45058
@tsocha Hi，tsocha，I think you can reporoduce work before by following repo link and reference the installation guide by the readme from this repo(https://github.com/X4Science/paddle-deepmd).

a custom operator(prod_env_mat_a) is located in paddle-deepmd repo [/source/op/paddle_ops/srcs], please using 'python3 deepmd/load_paddle_op.py install' to install the custom op

this repo(https://github.com/

[2022-09-23 00:39] OccupyMars2030 commented on #46404
# typo
<img width="960" alt="image" src="https://user-images.githubusercontent.com/31559413/191873939-e2975191-2610-4db1-b9a9-28c776b26b26.png">

[2022-09-23 01:43] Bingoang commented on #45948
@Beichen-Ma 兄弟你好，我也遇到同样的问题，请问你是怎么解决的？

[2022-09-23 01:57] #45767 closed, assigned to nobody

[2022-09-23 02:26] liukaiyueyuo commented on #46350
好的，希望你们框架的同学尽快看一下，发现问题打造更好的paddlepaddle

[2022-09-23 02:42] PeterWesley commented on #46392
感谢，通过修改已成功完成编译

[2022-09-23 02:42] #46392 closed, assigned to 1649759610

[2022-09-23 05:13] ZheyuWalker commented on #44501
【队名】：小镇炼丹师
【序号】：59
【论文】：Going deeper with Image Transformers
【状态】：报名
【repo链接】：https://github.com/ZheyuWalker/CaiT_Paddle

[2022-09-23 05:35] 1649759610 commented on #46423
确认下是不是batch_size没有定义。

[2022-09-23 05:40] #45369 closed, assigned to zh794390558

[2022-09-23 05:51] 1649759610 commented on #46414
可以尝试升级一下paddle，或者提供一下padlde和paddleocr的版本。

[2022-09-23 06:47] spantarXP opened #46439 "在paddle/fluid/operators中新增op，编译paddle是新增op没有被编译，请问是什么问题"
### 请提出你的问题 Please ask your question

在paddle/fluid/operators中新增op，编译paddle是新增op没有被编译，请问是什么问题？

[2022-09-23 06:54] ViokingTung commented on #45307
i have a same issue ,when install paddlepaddle with conda ,it work well,but when use paddlepaddle with docker ,it comes errors,dockerfile like this:
[code]
requirements.txt include:
[code]
errors:
[code]
check paddle:
[code]

[2022-09-23 06:58] engineer1109 opened #46440 "Custom Device使用文档和接口实现"
### 需求描述 Feature Description

任务目标 针对Custom_Device自定义设备的在Paddle上实现; <br />
自制GPU计算 运行在Paddle上;  <br />
使用OpenCL运行PHI

我想用OpenCL实现PHI（或者别的图形API）
我该如何去使用custom_device 实现哪些接口，补充什么代码？
有没有文档介绍，或者告诉我大致的头文件位置

### 替代实现 Alternatives

_No response_

[2022-09-23 07:05] jzhang533 opened #46442 "Collecting Paddle Codebase Authors"
To Paddle codebase authors

Please feel free to create a PullRequest to include your information into [AUTHORS.md](https://github.com/PaddlePaddle/Paddle/blob/develop/AUTHORS.md), and assign that PR to @jzhang533 asking for merge.

There is a incomplete list of [Paddle codebase](https://github.com/PaddlePaddle/Paddle) authors in [AUTHORS.md](https://github.com/PaddlePaddle/Paddle/blob/develop/AUTH

[2022-09-23 07:30] #45945 closed, assigned to juncaipeng

[2022-09-23 07:31] #45908 closed, assigned to juncaipeng

[2022-09-23 07:32] 1649759610 commented on #46425
你这边是训练的哪个模型呢，方便提供下复现代码吗？

[2022-09-23 07:41] 1649759610 commented on #46386
你好，方便提供下复现代码吗？

[2022-09-23 07:43] 1649759610 commented on #46386
后续会发布Paddle2.4版本，可以验证下看看是否解决了这个问题。

[2022-09-23 09:09] qili93 commented on #46440
您好，关于 custom device 的相关文档可以参考这里：

https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/dev_guides/custom_device_docs/index_cn.html

Custom device 接入的设备可以参考如下代码：
昇腾 https://github.com/PaddlePaddle/PaddleCustomDevice/blob/develop/backends/npu/README_cn.md
Custom CPU (就是用 CPU 代码模拟一个硬件设备实现 custom device 功能) https://github.com/PaddlePaddle/PaddleCustomDevice/blob/develop/backends/custom_cpu/RE

[2022-09-23 09:21] MARD1NO opened #46453 "Typo in auto_tune_base.h"
### 问题描述 Please describe your issue

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/phi/kernels/autotune/auto_tune_base.h#L25

Maybe there is ReturnType not RetureType? Just a small typo

[2022-09-23 10:00] #46379 closed, assigned to 1649759610

[2022-09-23 10:43] 1649759610 commented on #46404
You can try manually rebuilding the CI task several times.  And  we will solve these problems above as soon as possible.

[2022-09-23 11:31] yt605155624 commented on #46350
我做了个实验

test.py
[code]

test.sh

[code]

不注释 FLAG:
[code]
注释 FALG:
[code]

所以可以得到一个结论，这两个 FLAG 不直接影响 tensor.numpy() 的速度，但是在跑预测代码时候，可能通过加载模型、跑模型影响到了显存的状态（上述代码几乎没用到显卡），所以影响到了 tensor.numpy() 的速度

[2022-09-23 12:18] Li-fAngyU opened #46458 "paddle.grid_sample 设置 align_corners =Fasle 时，backward()失败"
### bug描述 Describe the Bug

[code]
报错信息：
[code]

将`y = paddle.nn.functional.grid_sample(x, grid, mode='bilinear', padding_mode='zeros', align_corners=False)` 改写为`y = paddle.nn.functional.grid_sample(x, grid, mode='bilinear', padding_mode='zeros')`时，可以正常运行`y.backward()`。

### 其他补充信息 Additional Supplementary Information

在AI Studio提供了[最小复现代码](https://aistudio.baidu.com/aistudio/projectdetail/4588856

[2022-09-23 12:51] tsocha commented on #45058
@leeleolay

I think I already followed these steps.
It's my history listing:
[code]

the only way that is different from https://github.com/X4Science/paddle-deepmd is that I don't use Python because i work on c++ application.
I can see that custom op is compiled as a shared library: `./deepmdroot/lib/libpd_infer_custom_op.so`

I have some questions:
1. Can you see any mistake that I made?
2. Is py

[2022-09-23 13:57] liuhongen1234567 opened #46465 "Paddle论文复现"
### 问题描述 Please describe your issue

@once_differentiable在paddle中应该用什么函数替换
`
import torch
from torch import nn
from torch.autograd import Function
from torch.autograd.function import once_differentiable
from torch.nn.modules.utils import _pair

from csrc import _C

class _RROIAlign(Function):
    @staticmethod
    def forward(ctx, input, roi, output_size, spatial_scale):

        ctx.output_size =

[2022-09-23 16:00] leeleolay commented on #45058
For running training part of deepmd,python is needed.For running inference part of deepmd,c++ is sufficient. But the custom ops is installed by Python using load_paddle_op.py script, whose command of installation is located in the last line of installing training part of deepmd in the readme.

So I think you may have not installed the custom ops yet.

I am not sure that compiling custom ops direct

[2022-09-23 16:02] tsocha commented on #45058
I see now, thanks!!!

[2022-09-24 02:30] locusbear commented on #42594
这是因为label_file_list 前面有个 - 号没打上

[2022-09-24 03:25] OccupyMars2030 opened #46469 "[OSError] paddle::platform::GpuMemcpySync"
## Wait !  The error seems not to be what I have described.  I  need to relocate the error. This issue can be ignored for now.

### bug描述 Describe the Bug

## The paddlepaddle is compiled from develop branch source code in  a  CI test on Github when I try to merge a PR to the develop branch of PaddlePaddle.  You can refer  to  https://github.com/PaddlePaddle/Paddle/pull/46333#issuecomment-12568364

[2022-09-24 05:25] OccupyMars2030 commented on #46469
# It is my cuda kernel of sparse reshape that causes the error. It has nothing to do with PaddlePaddle framework.

[2022-09-24 05:26] #46469 closed, assigned to wangzhen38

[2022-09-24 10:08] OccupyMars2030 commented on #46404
I find that my newly added code is probably the cause of error. The error has nothing to do with the PaddlePaddle itself.
I have been modifying my PR, and I find that  the cpu forward coo kernel can work in a right way,  and all other kernels seem to cause all kinds of errors.  I will try to fix it by myself. Thank you.

[2022-09-24 13:28] jhcgt4869 commented on #43419
我说的是你们版本安装不了，paddle1.x版本，现在已经无法安装了，但是官网还是挂着的，这是误导嘛？

[2022-09-24 13:51] zhiminzhang0830 commented on #44501
【队名】：zzm
【序号】：71
【论文】：Deep Relational Reasoning Graph Network for Arbitrary Shape Text Detection
【状态】：提交
【repo链接】：https://github.com/zhiminzhang0830/DRRG_Paddle

[2022-09-25 03:20] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么
【序号】：10
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/46426

[2022-09-25 15:29] yinpub opened #46474 "无法在kaggle上使用GPU版本的paddle"
### 问题描述 Issue Description

我正在打一场kaggle的比赛，并用paddle写了一个baseline。问题是，我想用GPU跑模型，GPU的占用率一直0% CPU的占用率已经到了200%. (可显存确依然有占据)。现在我的code只跑了一个CPU版本。
我也尝试了很多其他版本的paddle 包括2.2.2、2.1.2，无一幸免。希望这个问题能尽快得到处理！我还想用paddle做其他几场的方案，但paddle的安装是个基础。

这是我的baseline地址：
https://www.kaggle.com/code/yinhaojie/baseline-with-resnet-by-paddle

### 版本&环境信息 Version & Environment Information

 paddle2.3.2以及2.2.2

[2022-09-26 02:14] kslz opened #46476 "请问如果需要使用paddle模型部署在Windows上用于其它程序调用，需要使用什么，看哪篇文档"
### 请提出你的问题 Please ask your question

不依赖其它环境可以直接运行的形式，包括可调用CPU和GPU的形式

[2022-09-26 02:35] Lieberk commented on #45566
【队名】：超级码立

【序号】：兴14

【论文】：[From Two to One: A New Scene Text Recognizer with Visual Language Modeling Network](https://openaccess.thecvf.com/content/ICCV2021/papers/Wang_From_Two_to_One_A_New_Scene_Text_Recognizer_With_ICCV_2021_paper.pdf)

【状态】：报名 & 提交

【repo链接】：https://github.com/Lieberk/Paddle-VisionLAN

[2022-09-26 02:59] haohongxiang commented on #46474
@YinHaojie Hi，辛苦先check下paddlepaddle-gpu是否成功安装，具体指令是：
[code]

如果出现下述结果，则已成功安装：
[code]

[2022-09-26 03:07] XYZ-916 commented on #46476
请参考：
推理部署: https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/infer/index_cn.html
X86 Windows上预测部署示例：https://paddleinference.paddlepaddle.org.cn/master/demo_tutorial/x86_windows_demo.html

[2022-09-26 03:32] kslz commented on #46476
感谢

[2022-09-26 03:32] #46476 closed, assigned to XYZ-916

[2022-09-26 03:40] gglin001 opened #46479 "Will Paddle support C++17 in the future?"
### 请提出你的问题 Please ask your question

hi, is there a plan to update the C++ standard to cpp17 for paddle?

[2022-09-26 03:41] #44213 closed, assigned to luotao1, lelelelelez, betterpig

[2022-09-26 03:42] #43965 closed, assigned to nobody

[2022-09-26 03:43] #33892 closed, assigned to LDOUBLEV

[2022-09-26 03:48] gglin001 commented on #43482
I think to supoort `include-what-you-use`, needs to support building with clang(for Linux) first
another issue
- https://github.com/PaddlePaddle/Paddle/issues/44978

[2022-09-26 03:48] #43482 closed, assigned to linjieccc, betterpig

[2022-09-26 03:52] gglin001 commented on #44978
a temporary method to do this(just for develop)
https://github.com/gglin001/Paddle-fork/commit/9638c20d37eeab7fa11de806620422efd05abf08

[2022-09-26 03:52] #44978 closed, assigned to JZ-LIANG

[2022-09-26 04:01] #46425 closed, assigned to 1649759610

[2022-09-26 04:01] #46404 closed, assigned to 1649759610

[2022-09-26 04:01] #46381 closed, assigned to 1649759610

[2022-09-26 04:04] #46171 closed, assigned to ZhangHandi

[2022-09-26 04:14] XYZ-916 commented on #46479
Thanks for you question. We'll consider supporting C++ 17 standard in the future.

[2022-09-26 04:16] gglin001 commented on #46479
is there a timeline or roadmap for it?

[2022-09-26 04:47] MayYouBeProsperous commented on #43938
【队名】：嘉然今天吃什么
【序号】：73
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/CINN/pull/963

[2022-09-26 05:48] #46385 closed, assigned to 1649759610

[2022-09-26 06:52] jingmingtao opened #46488 "百度飞桨环境问题"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/114384977/192211318-7d82fd5e-f838-428b-a0ba-9930a80ab98f.png)
我在使用咱们的百度飞桨测试一个人像分割项目，点击的时是在线运行教程，该项目地址：
https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.5/contrib/PP-HumanSeg/README_cn.md
能否尽快回复一下

[2022-09-26 06:53] jingmingtao commented on #46488
上述问题，我跟着教程一步步的走，不能复现，希望尽快回复一下我可以吗

[2022-09-26 07:18] XYZ-916 commented on #46488
你好，请问你用的哪个分支？我这边看教程和代码对应不上。

[2022-09-26 07:22] jingmingtao commented on #46488
什么分支是啥意思，我是运行的上边项目地址，点击在线运行教程，想看看效果
![image](https://user-images.githubusercontent.com/114384977/192216702-4280d19f-329e-4c8c-921e-4e8cd29b6eb6.png)

[2022-09-26 07:23] jingmingtao commented on #46488
![image](https://user-images.githubusercontent.com/114384977/192216881-cf6ff88f-89da-4d86-8747-a65b953668b7.png)

[2022-09-26 07:23] jingmingtao commented on #46488
在线运行的

[2022-09-26 07:26] jingmingtao commented on #46488
![image](https://user-images.githubusercontent.com/114384977/192217164-62eccaa6-0c39-49bd-97c0-866fb546cf07.png)
点击在线运行按钮
然后再点击如下按钮
![image](https://user-images.githubusercontent.com/114384977/192217340-c9df10a6-10d7-4fd5-8b99-b6454f76d937.png)
然后运行一下
![image](https://user-images.githubusercontent.com/114384977/192217415-904bc133-db4f-46bc-ac84-df4fc46f2dc0.png)

[2022-09-26 07:30] spantarXP opened #46492 "gpu测试机上安装whl包后，无法使用gpu"
### 问题描述 Issue Description

import paddle后，报warning: "You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default."

### 版本&环境信息 Version & Environment Information

Python 2.7.15
cuda11.4
nviddia Tesla V100卡

[2022-09-26 07:34] jingmingtao commented on #46488
我初步判断是环境问题，你可以试一试，是不是这个问题

[2022-09-26 07:43] jingmingtao commented on #46488
您说的代码跟教程对应不上指的是什么，可以截图一下吗

[2022-09-26 07:46] XYZ-916 commented on #46492
请问您安装的Paddle版本是？

确保CUDA环境配置是否正确：
nvcc -V 查看一下显示什么 ， echo %PATH% 看看显示什么？
查看显卡驱动版本。

[2022-09-26 08:06] XYZ-916 commented on #46488
我跑了一下AI Studio教程，确实有问题，建议你给教程的作者提一下你的问题。

我看项目评论里有：
“
paddle-seg在7月20日更新了2.6版本后，运行此项目会出现错误'numpy.ndarray' object has no attribute 'keys'。需要将此项目中第一行改为!pip install paddleseg==2.5
”
请参考。

[2022-09-26 08:16] vax521 opened #46498 "【论文复现】模型动转静以后保存静态模型报错：TypeError: float() argument must be a string or a number, not 'tuple'"
### bug描述 Describe the Bug

调用 paddle.jit.save保存转换后的静态图模型报错
堆栈报错信息
[code]
bug复现的代码地址： 我发现了一篇高质量的实训项目，使用免费算力即可一键运行，还能额外获取8小时免费GPU运行时长，快来Fork一下体验吧。
【论文复现】反向对齐paddle模型梯度异常梯度无法正常打印 #46368：https://aistudio.baidu.com/aistudio/projectdetail/4580735?contributionType=1&sUid=48323&shared=1&ts=1664180113770
复现步骤
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-26 08:22] jingmingtao commented on #46488
好的谢谢

[2022-09-26 08:25] #46488 closed, assigned to XYZ-916

[2022-09-26 08:25] jingmingtao commented on #46488
已经解决了，就是这个问题，谢谢

[2022-09-26 08:34] XYZ-916 commented on #46498
你好，在你提供的复现代码中并没有找到Step6Export.py 文件，请确认是否上传。

[2022-09-26 08:52] vax521 commented on #46498
重新生成了版本，麻烦再看一下

[2022-09-26 08:54] hitbuyi opened #46503 "visualdl 出现错误"
### 请提出你的问题 Please ask your question

使用  visualdl --model deploy/inference.pdmodel  inference.为产生的模型，出现了如下错误：

(pddl) hitbuyi@hitbuyi-Dell-G15-5511:~/PycharmProjects/padlepadle|_project/SMOKE$ visualdl --model ./deploy/inference.pdmodel
VisualDL 2.4.0
Traceback (most recent call last):
  File "/home/hitbuyi/.conda/envs/pddl/bin/visualdl", line 8, in <module>
    sys.exit(main())
  File "/home/hit

[2022-09-26 09:02] Lllllolita commented on #44501
【队名】：我说得队

【序号】：87

【论文】：When Counting Meets HMER: Counting-Aware Network for Handwritten Mathematical Expression Recognition

【状态】：提交

【repo链接】：https://github.com/Lllllolita/CAN_Paddle

[2022-09-26 09:07] haohongxiang commented on #46474
@YinHaojie paddlepaddle-gpu安装方法详见[官网教程](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html)

[2022-09-26 09:08] XYZ-916 commented on #46479
There is no timeline yet.

[2022-09-26 09:12] wangzhen38 commented on #46465
你参考下这个接口，看能不能满足需求，https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/autograd/PyLayerContext_cn.html#mark-non-differentiable-self-tensors

[2022-09-26 09:17] #46492 closed, assigned to XYZ-916

[2022-09-26 09:20] XYZ-916 commented on #46503
你好，能否提供下复现的模型和代码。

[2022-09-26 09:35] hitbuyi commented on #46503
模型为
链接: https://pan.baidu.com/s/1dZXfu6X3tuw0asxRNrL5ZQ 提取码: 8n22
代码:

paddlepaddle 2.3.2
visualdl: 2.4.0, （2.4.1也试过，错误提示码类似）
conda: 4.13.0

[2022-09-26 09:35] wangzhen38 commented on #46453
Thank you for your attention, we will fix it as soon as possible.

[2022-09-26 09:36] JamesLim-sy commented on #46453
Has been delt with in [PR30834](https://github.com/PaddlePaddle/Paddle/pull/41878)

[2022-09-26 09:42] #46439 closed, assigned to Liu-xiandong

[2022-09-26 09:58] dutsc opened #46508 "visualdl report an error: AttributeError: 'Model' object has no attribute 'train'"
### bug描述 Describe the Bug

此处的model使用resnet18进行中草药识别任务，在进行model.fit时想使用callbacks中的VisualDL来可视化训练过程，但是报了错误   `AttributeError: 'Model' object has no attribute 'train'`

经过查paddle文档，用法与文档一致

[code]
### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-26 10:01] #46465 closed, assigned to Liu-xiandong

[2022-09-26 10:01] #46453 closed, assigned to Liu-xiandong

[2022-09-26 10:01] #46440 closed, assigned to Liu-xiandong

[2022-09-26 10:03] #46330 closed, assigned to yt605155624

[2022-09-26 10:03] #46310 closed, assigned to yt605155624

[2022-09-26 10:04] XYZ-916 commented on #46508
能否提供下更详细的报错信息？

[2022-09-26 10:22] hnmizuho commented on #44501
【队名】：无名小队

【序号】：76

【论文】：Invertible Denoising Network: A Light Solution for Real Noise Removal

【状态】：提交

【repo链接】：https://github.com/hnmizuho/InvDN_paddlepaddle

[2022-09-26 10:57] XYZ-916 commented on #46503
你的logdir参数没有指定，默认是空，所以会报错。请尝试设置该参数。

[2022-09-26 11:06] XYZ-916 commented on #46498
请根据该调试文档确认下是哪一行模型代码导致的错误：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/jit/debugging_cn.html

[2022-09-26 11:18] hitbuyi commented on #46503
我只想看模型结构，不看其它信息，这个指令也是你们给出的官方指令，见[这里](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/3d_vision/SMOKE)

[2022-09-26 11:32] #43225 closed, assigned to nobody

[2022-09-26 13:09] yinpub commented on #46474
![1% 5_SN$IRIH20O4}O0@CFC](https://user-images.githubusercontent.com/62241597/192284453-84697408-aec0-48d3-b9ff-bf5a8e1c1ca5.png)

![Uploading H`AQC}KT5C(}4]IWNBAF}JY.png…]()

[2022-09-26 13:10] yinpub commented on #46474
![H`AQC}KT5C(}4 IWNBAF}JY](https://user-images.githubusercontent.com/62241597/192285062-567d85f8-5711-469b-8da4-fb708c088f7e.png)

[2022-09-26 15:33] Silv3S commented on #45308
**Part II**

Merged
- [x] `conv2d`, `conv2d_grad` https://github.com/PaddlePaddle/Paddle/pull/46342
- [x] `softmax` https://github.com/PaddlePaddle/Paddle/pull/47339
- [x] `softplus` https://github.com/PaddlePaddle/Paddle/pull/47406
- [x] `pool2d`, `pool2d_grad` https://github.com/PaddlePaddle/Paddle/pull/47423
- [x] `depthwise_conv2d`, `conv3d` https://github.com/PaddlePaddle/Paddle/pull/47658
-

[2022-09-27 01:07] Li-fAngyU commented on #46458
@Liu-xiandong

[2022-09-27 02:16] parap1uie-s commented on #46474
看一下features和predicts的place是cuda还是cpu。如果是cuda，说明GPU是用上了，可能是数据加载太慢导致GPU等CPU准备数据，体现出来也是GPU没占用而CPU打满

[2022-09-27 02:28] bixiaopeng0 opened #46523 "训练代码hang住"
### 请提出你的问题 Please ask your question

具体现象是使用paddledetection训练1~3epoch过程会卡住，显卡利用率是100%，没有报错信息。

请问这种问题一般怎么调试呀？有可能是什么原因造成的？

[2022-09-27 02:46] JinXiaozhao commented on #36873
@outman2008 请问如何将官网提供的pwg_baker_ckpt_0.4 转换为静态图，能不能提供一下您的转换代码？

[2022-09-27 02:55] zhaoyinglia commented on #46523
可以把 GLOG 打开，确认一下具体是 hang 在哪个操作上了。

[2022-09-27 03:01] #46423 closed, assigned to 1649759610

[2022-09-27 03:22] 15554710621 opened #46524 "RepVGG_B3预训练模型下载失败"
### 请提出你的问题 Please ask your question

https://paddle-imagenet-models-name.bj.bcebos.com/dygraph/RepVGG_B3_pretrained.pdparams

[2022-09-27 03:30] zhaoyinglia commented on #46524
你好，麻烦请提供一下是在哪里的下载链接。

[2022-09-27 03:34] zhaoyinglia commented on #46524
你好，可以麻烦提供一下这个链接是哪个repo的吗？

[2022-09-27 03:51] ZhangLe-fighting opened #46530 "使用paddle.inference报错"
### 请提出你的问题 Please ask your question

InvalidArgumentError: The type of data we are trying to retrieve does not match the type of data currently contained in the container.
      [Hint: Expected dtype() == paddle::experimental::CppTypeToDataType<T>::Type(), but received dtype():10 != paddle::experimental::CppTypeToDataType<T>::Type():12.] (at /paddle/paddle/phi/core/dense_tensor.cc:137)
      [ope

[2022-09-27 04:14] zhaoyinglia commented on #46530
你好，可以确认一下训练时是不是用到了混合精度策略，但是在inference时没有用到，导致了 elementwise_mul 的 X 和 Y 的数据类型不匹配而导致的报错。

[2022-09-27 04:47] 15554710621 commented on #46524
![image](https://user-images.githubusercontent.com/108608277/192434402-8203cffe-e9fd-4f03-9511-9f4323bfa5f5.png)

[2022-09-27 05:41] ZhangLe-fighting commented on #46530
您好，训练的时候有使用--amp混合精度策略，那么inference的时候应该怎么调整呢？
有更加全面一点的paddle.inference教程吗，刚入门有很多不懂

[2022-09-27 06:24] zhaoyinglia commented on #46530
可以确认一下训练时的数据类型和inference时的数据类型是否一致。paddle inference的教程：https://paddleinference.paddlepaddle.org.cn/api_reference/cxx_api_index.html。

[2022-09-27 06:25] TingquanGao commented on #46524
你好，我们目前并未提供B3的预训练模型。请问该下载链接是在哪里看到的呢？

[2022-09-27 06:30] zhaoyinglia commented on #46530
可以先确认一下训练时的数据类型和inference时的数据类型是否一致。paddle inference的教程：https://paddleinference.paddlepaddle.org.cn/api_reference/cxx_api_index.html

[2022-09-27 06:31] ZhangLe-fighting commented on #46530
InvalidArgumentError: The split Op's Input Variable `X` contains uninitialized Tensor.
      [Hint: Expected t->IsInitialized() == true, but received t->IsInitialized():0 != true:1.] (at /paddle/paddle/fluid/framework/operator.cc:2094)
      [operator < split > error]

您好，将预测精度设置为FP16之后，出现上述问题，请问是什么原因造成的呢？是哪部分没有Initialized嘛？

[2022-09-27 06:32] ZhangLe-fighting commented on #46530
# paddle_inference
import numpy as np
import cv2
import os
from ai.config.log import get_logger
from ai.env import alg_env
from io import BytesIO
# 引用 paddle inference 预测库
import paddle.inference as paddle_infer

logger = get_logger(__name__)

class Alg(object):
    def __init__(self, alg_path=None):

        logger.info(f"{'*' * 10} {alg_path}")
        # paddle版本信息
        print(paddle_infer.get

[2022-09-27 06:46] zhaoyinglia commented on #46530
这里是只需要img一个输入吗？如果有其他输入也设置一下。可以参考一下这里 https://github.com/PaddlePaddle/PaddleDetection/blob/92fb8b2e89db282cc425bc04ce20a942d1038062/deploy/python/infer.py#L143

[2022-09-27 06:46] 15554710621 commented on #46524
不好意思，看错了

[2022-09-27 07:10] marshall-dteach commented on #45566
* 由于兴智杯官网队伍名为：老1.5，因此将调查乌度卡改名为老1.5*
【队名】：老1.5
【序号】：兴3
【论文】：Swin-Unet: Unet-like Pure Transformer for Medical Image Segmentation https://arxiv.org/abs/2105.05537
【状态】：报名&提交
【repo链接】：https://github.com/marshall-dteach/SwinUNet

[2022-09-27 08:07] #44904 closed, assigned to Bobholamovic, yaoxuefeng6

[2022-09-27 08:27] ZhangLe-fighting commented on #46530
训练的指令是：
![image](https://user-images.githubusercontent.com/55420158/192474480-a5c6a26b-0ca5-4d95-a81c-42875b8a051b.png)
是否意味着我是用GPU推理的时候一定要使用TRT

[2022-09-27 08:39] zhaoyinglia commented on #46530
使用trt的教程可以参考这个链接：https://paddleinference.paddlepaddle.org.cn/optimize/paddle_trt.html

[2022-09-27 08:45] ZhangLe-fighting commented on #46530
我现在想先把程序跑起来...
上述报错的问题应该是初始化的时候，infer_cfg.yml这个文件我并没有使用到，但是我看了官方的文档，作为初学者，很难将文件解耦开...看了半天也没找到infer_cfg.yml文件具体怎么进行初始化55555555

[2022-09-27 08:49] engineer1109 opened #46548 "Tutorial Code For Custom Device is error."
### bug描述 Describe the Bug

dlopen的时候
PD_REGISTER_PLUGIN_KERNEL会崩
PD_BUILD_PHI_KERNEL不会崩

Error Log
[code]

BUG Code
[code]

Work Code Found in https://github.com/PaddlePaddle/PaddleCustomDevice
[code]

### 其他补充信息 Additional Supplementary Information

Paddle develop 22fe4f03f611fd6be5dd3cb291814546a6cec389

Ubuntu 20.04 GCC 9.4.0

[2022-09-27 08:50] zhaoyinglia commented on #46530
如果是具体 PaddleDetection 套件使用问题可以在套件的 repo issue 里再提问一下。

[2022-09-27 08:53] engineer1109 commented on #46548
Throw Exception
[code]

[2022-09-27 09:04] qili93 commented on #46548
您好，请问您这里编译 plugin so 的时候是否使用的是非 GCC8.2 的编译器版本？

我们对于 Paddle Custom Device 提供了2套算子注册接口：

一套是 PD_BUILD_PHI_KERNEL，示例代码参考 https://github.com/PaddlePaddle/PaddleCustomDevice/tree/develop/backends/custom_cpu ， 这里的所有接口是通过标准 C 接口包装的，因此可以兼容不同编译器之间的差异。

另一套是 PD_REGISTER_PLUGIN_KERNEL，示例代码参考 https://github.com/PaddlePaddle/PaddleCustomDevice/tree/develop/backends/npu ，这套接口是直接暴露 C++ 接口，会要求编译 plugin 的编译器和编译飞桨

[2022-09-27 09:15] engineer1109 commented on #46548
@qili93 为什么GCC 9.4编译会有这问题，PaddleInference 也是9.4编译的。
导致dl加载出现异常？

[2022-09-27 09:25] tsocha commented on #45058
@leeleolay
I have no problems with custom op anymore.
but it seems that I need to provide these files for input data:
[code]
Do you know where can I get these files?

[2022-09-27 09:30] 15554710621 commented on #46524
![image](https://user-images.githubusercontent.com/108608277/192489673-0969690c-89c8-4d0a-b4a9-fa5a3d6b2e87.png)

[2022-09-27 09:31] 15554710621 commented on #46524
那个，我想另外问个问题，为什么最后一行的的警告不会被过滤掉呢

[2022-09-27 11:43] ouyangshixiong opened #46563 "StyleGAN3算子复现问题"
### 请提出你的问题 Please ask your question

飞桨开发团队，你们好。我尝试用飞桨复现论文StyleGAN3，遇到一个问题。https://github.com/NVlabs/stylegan3/blob/main/torch_utils/ops/conv2d_gradfix.py 这个算子里176-178行
![image](https://user-images.githubusercontent.com/2086862/192516233-972dded3-30c8-4029-a7f3-194661ba7242.png)
pytorch这种写法，在paddlepaddle中对应的代码应该怎么写呢？

[2022-09-27 12:15] #46523 closed, assigned to zhaoyinglia

[2022-09-27 12:17] AlphaMind123 opened #46564 "分布式训练相关"
### 问题描述 Please describe your issue

![image](https://user-images.githubusercontent.com/108966996/192523633-39133285-bbbc-414f-a462-f468eb69bb33.png)
请问这个有ps架构的例子，那Ring AllReduce的例子有吗？或者说Ring AllReduce的例子就是‘’Collective 训练快速开始‘’这个

[2022-09-27 12:25] zhaoyinglia commented on #46564
你好，这个是否符合你的需要呢？https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/distributed/all_reduce_cn.html#all-reduce。
更详细的分布式训练的文档可以参考这个：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/06_distributed_training/distributed_overview.html

[2022-09-27 12:30] AlphaMind123 commented on #46564
请问Collective 训练快速开始里面的那个resnet50的例子为什么没有设置gpu的操作呀

| |
hfqemail
|
|
***@***.***
|
---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 发送日期 | 2022年9月27日 20:26 |
| 收件人 | ***@***.***> |
| 抄送人 | ***@***.***> ,
***@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] 分布式训练相关 (Issue #46564) |

你好，这个是否符合你的需要呢？https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/distributed/all_reduce_cn.html#all-reduce。
更详细的分布式

[2022-09-27 12:40] zhaoyinglia commented on #46564
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/06_distributed_training/cluster_quick_start_collective_cn.html
你好，可以直接参考这个最新的教程。

[2022-09-27 12:43] AlphaMind123 commented on #46564
thank you very much

| |
hfqemail
|
|
***@***.***
|
---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 发送日期 | 2022年9月27日 20:40 |
| 收件人 | ***@***.***> |
| 抄送人 | ***@***.***> ,
***@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] 分布式训练相关 (Issue #46564) |

请问Collective 训练快速开始里面的那个resnet50的例子为什么没有设置gpu的操作呀 | | hfqemail | | @.*** | ---- 回复的原

https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/06_di

[2022-09-27 13:23] hnlslyp opened #46570 "paddle.utils.run_check() coredump"
### bug描述 Describe the Bug

Centos 6.3
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|

[2022-09-27 13:27] hnlslyp opened #46571 "paddlegpu显示安装成功，实际是CPU版本"
### bug描述 Describe the Bug

centos 6
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         M

[2022-09-27 13:30] AlphaMind123 commented on #46564
你好，请问您发的这个网址怎么跟我在paddle官网的看到的内容不一样呢，那么是否也存在其他板块的内容也存在这个问题呢

| |
hfqemail
|
|
***@***.***
|
---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 发送日期 | 2022年9月27日 20:40 |
| 收件人 | ***@***.***> |
| 抄送人 | ***@***.***> ,
***@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle] 分布式训练相关 (Issue #46564) |

请问Collective 训练快速开始里面的那个resnet50的例子为什么没有设置gpu的操作呀 | | hfqemail | | @.*** | ---- 回复的原

https://www.paddlepaddle.org.cn/doc

[2022-09-27 13:30] hnlslyp commented on #46571
补充下，Torch工作正常
bash-4.1$ /opt/compiler/gcc-8.2/lib64/ld-linux-x86-64.so.2 --library-path /opt/compiler/gcc-8.2/lib64/:/usr/local/openssl/lib/:/ssd4/liuyaping/python38/lib:/home/work/cuda-10.2/lib64/:/home/work/cuda-10.2/lib64:/lib64/:/usr/lib64/ ./python38/bin/python3 -c "import torch;print(torch.__version__)"
1.12.1+cu102
bash-4.1$ /opt/compiler/gcc-8.2/lib64/ld-linux-x86-64.so.2 --library-path /o

[2022-09-28 01:33] BhAem commented on #45357
请问解决了吗

[2022-09-28 03:25] ZHUI opened #46578 "[BUG] 请求Embedding OP支持越界检查"
### bug描述 Describe the Bug

![image](https://user-images.githubusercontent.com/16911935/192680287-828e6f3c-3e42-4a90-8fe1-68c181b1c45f.png)

embedding op 对于非法输入没有报错拦截，基本上是 出来 embedding只后 tensor 报 illegal memory access的错误。
对用户十分不友好，难以追查！！！

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-28 05:11] utopiagamming opened #46581 "paddle.io库导入问题"
### 请提出你的问题 Please ask your question

当我使用paddlepaddle1.8.0版本时，无法导入这个库，报错；
当我把paddlepaddle更新到最新版本时，仍然报错，无法使用。

[2022-09-28 05:31] YanhuiDua commented on #46458
这里需要把x的stop_gradient手动设置为false，才能计算反向梯度哈

[code]

[2022-09-28 06:01] yeliang2258 commented on #46581
你好，具体的报错信息是？看起来paddle没有正确安装

[2022-09-28 06:09] leeleolay commented on #45058
@tsocha
I upload some files to this repo, I think you can reference it
https://github.com/leeleolay/deep_md_test

[2022-09-28 06:12] utopiagamming commented on #46581
使用1.8.0时：
<img width="506" alt="image" src="https://user-images.githubusercontent.com/87075301/192700930-08d7f139-1fed-466a-8854-75c71cabc643.png">
<img width="862" alt="image" src="https://user-images.githubusercontent.com/87075301/192700976-5db4697e-1d4e-49ee-be4b-675f06c8803f.png">
使用最新版即2.3.2版时：
<img width="560" alt="image" src="https://user-images.githubusercontent.com/87075301/192701383-897f

[2022-09-28 06:25] yeliang2258 commented on #46581
你的paddle是怎么安装的呢？可以用这个API验证一下：paddle.utils.run_check()

[2022-09-28 06:25] yeliang2258 commented on #46581
安装可以参考这个文档：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2022-09-28 06:31] Fire-Star commented on #44323
我也出现这个问题，直接改的cpp_infer，多线程连续GPU预测报错，台式机（CUDA11.6 cuDNN8.4 trt8.4.15  NVIDIA A10）跑1-4小时连续预测才能复现，笔记本（CUDA10.1 cuDNN7.6.5  noTrt  NVIDIA GTX1660TI）跑十多秒就复现了。

操作系统：
笔记本是win11
台式机是 win server 2019 datacenter

PaddleInference 版本使用的2.3.2

![image](https://user-images.githubusercontent.com/17548618/192703398-18c33737-6c25-4ed8-bf72-856c5d4fe145.png)

起初以为是代码问题，但是CPU连续预测就不会报错，只有GPU预测会报错。

后面又查找，以为是cuda版本和显

[2022-09-28 06:43] utopiagamming commented on #46581
使用这个API的时候好像也报错了，无论是第一次使用还是我uninstall在用你发的安装文档里的指令再装一次。
不过我不确定这个的用法，是不是先导入 import paddle 然后直接运行这条指令？
<img width="1240" alt="image" src="https://user-images.githubusercontent.com/87075301/192706642-6fe2f984-3b71-44a2-a890-96c8ec4c304c.png">

[2022-09-28 06:44] utopiagamming commented on #46581
我现在是在飞桨的平台环境中进行整个流程的，终端无法import所以直接在notebook里尝试了

[2022-09-28 06:59] yeliang2258 commented on #46581
那就是你的paddle没有正确安装

[2022-09-28 06:59] pwy1327347084 opened #46584 "训练集图片尺寸"
### 请提出你的问题 Please ask your question

在paddleseg和paddledetection训练中，训练集的图片尺寸一般都是640×640的吗，我一直用的是1080p和720p的图片在一块训练，会对训练结果有影响吗。如果有影响需要更改什么参数能够匹配高分辨率的图片呢。

[2022-09-28 07:01] yeliang2258 commented on #46581
![image](https://user-images.githubusercontent.com/30516196/192710550-d9fc03a7-40d1-4442-8b53-1e4ed021a990.png)

[2022-09-28 07:03] paulinagacek commented on #40988
Try reinstalling numpy: `pip3 install --upgrade --force-reinstall numpy` it worked for me

[2022-09-28 07:05] peiwenYe opened #46586 "instance_norm算子代码和文档不一致"
### bug描述 Describe the Bug

instance_norm算子代码实现和文档说明的参数名和参数顺序不一致
文档：
`paddle.nn.functional.instance_norm(x, running_mean, running_var, weight, bias, training=False, epsilon=1e-05, momentum=0.9, use_input_stats=True, data_format='NCHW', name=None):`
代码：
`def instance_norm(x,
                  running_mean=None,
                  running_var=None,
                  weight=None,
                  bia

[2022-09-28 07:06] yeliang2258 commented on #46584
这个要对具体网络而言：
1. 如果不支持可变输入，网络训练之前都会有前处理保证输入数据的shape，你可以看看你训练的网络的前处理，如果是固定输入大小，则一般都会有resize的操作。
2. 如果网络的输入是可以支持随意shape的，那么你不同大小的输入并不会影响到训练结果。

[2022-09-28 07:15] utopiagamming commented on #46581
不，应该说我一开始不知道要先进入python环境，所以说了我不确定用的对不对。。。
然后我刚刚又尝试重装了一次，
刚刚重装那么多次都没行，这次很奇怪地就可以了...
无论如何暂时算是解决了，虽然我也不知道一样的命令为啥前面几次不行这次行。

[2022-09-28 07:23] zhaoyinglia commented on #46570
你好，麻烦请提供一下安装的paddle版本和相关环境信息，谢谢。

[2022-09-28 07:24] CSQianDong opened #46588 "需要类似pytorch那样的gradient checkpointing功能"
### 需求描述 Feature Description

任务目标：提升训练batch size；
需求场景：搜索训练负采样个数显著影响模型效果；
功能描述：https://blog.csdn.net/lavinia_chen007/article/details/113609838，，参考pytorch的gradient checkpointing功能，现有的recompute不支持DDP分布式训练，DP模式训练效率太低。

### 替代实现 Alternatives

_No response_

[2022-09-28 07:27] yeliang2258 commented on #46581
好的，估计是之前某个操作没有弄对吧。问题解决了就好

[2022-09-28 07:37] utopiagamming commented on #46581
是嘞，反正解决了，我先把它做完再说。非常感谢前辈啦，前辈辛苦。

[2022-09-28 07:40] Li-fAngyU commented on #46458
@YanhuiDua 谢谢解答！ 我疏忽了检查stop_graident了😥。

但是当设置 grid_sample.align_corners = True 时就不会出现这个问题，可以帮忙解答一下吗？

[2022-09-28 07:40] yeliang2258 commented on #46588
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/callbacks/ModelCheckpoint_cn.html#modelcheckpoint
您好，可以看看这个API是否满足你的使用要求

[2022-09-28 07:42] zhaoyinglia commented on #46571
你好，建议可以更新到 centos 6 再安装一下试试。

[2022-09-28 07:42] zhaoyinglia commented on #46571
你好，根据官网可以更新到 centos 7 再安装一下试试。

<img width="606" alt="image" src="https://user-images.githubusercontent.com/86812880/192718955-752de4c4-6118-448b-94ab-159e541a9d93.png">

[2022-09-28 08:19] YanhuiDua commented on #46458
python中调用grid_sample的接口Paddle/python/paddle/nn/functional/vision.py中第269行至第277行：
[code]
中判断了当 `align_corners and mode == 'bilinear' and padding_mode == 'zeros'`时，会调用cudnn接口，并同时设置x.stop_gradient和grid.stop_gradient

[2022-09-28 08:21] Li-fAngyU commented on #46458
感谢解答谢谢！

[2022-09-28 08:33] CSQianDong commented on #46588
肯定不能呀，这个是保存模型的。参考这个[pytorch-gradient checkpointing](https://blog.csdn.net/lavinia_chen007/article/details/113609838%EF%BC%8C%EF%BC%8C%E5%8F%82%E8%80%83pytorch%E7%9A%84gradient)

[2022-09-28 08:41] yangshurong commented on #44501
【队名】：Yang1300704的团队

【序号】：37

【论文】：GFP-GAN: Towards Real-World Blind Face Restoration with Generative Facial Prior

【状态】：提交

【repo链接】：https://github.com/yangshurong/GFP-GAN_paddle

[2022-09-28 08:44] #46458 closed, assigned to YanhuiDua, Liu-xiandong

[2022-09-28 09:05] dorren002 opened #46594 "【复现大赛】paddle中的Adadelta优化器如何更新参数？"
### 请提出你的问题 Please ask your question

您好，我们在复现模型的过程中发现二者精度无法对齐。翻阅源代码发现，adadelta优化器在参数更新时并没有 乘lr，详见[链接](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/phi/kernels/impl/adadelta_kernel_impl.h)，但是pytorch在更新时会乘lr（详见[链接](https://github.com/pytorch/pytorch/blob/master/torch/optim/adadelta.py)），因此我们推测是二者更新机制上的差异导致了复现精度无法对齐。

我们使用的paddlepaddle版本是2.3.2，请问其实现方式是否和仓库里的一致？如果是一致的，该如何应对需要调整学习率的模型复现问

[2022-09-28 09:17] flytocc commented on #44501
【队名】：拼手速

【序号】：59

【论文】：[Going deeper with Image Transformers](https://arxiv.org/pdf/2103.17239.pdf)

【状态】：报名

【repo链接】：https://github.com/flytocc/PaddleClas/tree/CaiT

[2022-09-28 09:25] engineer1109 opened #46597 "自定义设备内存有时不会创建 Alloc失效"
### bug描述 Describe the Bug

使用OpenCL多次创建内存后，dev_ctx.template Alloc<T>(out); 不起作用，没有创建内存，返回了一个奇怪的地址。

[code]

[code]

我设置驱动每次创建新内存的地址加一，
例如第一个创建的内存是0x1, 第二次创建是0x2
但是Alloc 会返回0x1a6804，从来没有创建过的OpenCL内存。

Paddle的内存Alloc是啥规律？

### 其他补充信息 Additional Supplementary Information

Ubuntu 20.04 GCC9.4.0
develop 22fe4f03f611fd6be5dd3cb291814546a6cec389

[2022-09-28 09:27] engineer1109 commented on #46597
allocate OpenCL0x5/2768896
是allocate OpenCL 新地址/ 内存大小

memory_copy_d2h0x7fff6ef7d040/0x2 是 设备内存0x2 拷贝到 主机内存 0x7fff6ef7d040

Create New Buffer0x1a6804 是 BUG提示，
发现没有被驱动标记的内存地址 0x1a6804

[2022-09-28 09:28] ForFishes commented on #46588
您好，可以使用paddle的recompute接口，这个功能使用文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/distributed/fleet/utils/recompute_cn.html#recompute。
当使用recompute接口，同时使用DataParallel情况下，需要使用no_sync+fused_allreduce实现梯度同步。
文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/DataParallel_cn.html#id1

[2022-09-28 09:31] engineer1109 commented on #46597
改了下LOG
[code]

[2022-09-28 09:37] CSQianDong commented on #46588
我了解这个用法，我的需求是想让paddle支持DDP模式的recompute，DP模式需要同步模型参数到卡0，然后再分发给各个卡，存在效率低的问题

[2022-09-28 09:54] DIPTE opened #46600 "Paddle库后续开发是否能支持更多版本的boost库，或者有更好方案，兼容其他更多C++库？"
### 需求描述 Feature Description

<br />**任务目标**：正在做的项目是结合Paddle以及PCL库做算法应用。
<br />**需求场景**：需要Paddle库支持更多版本的boost库，以方便可以编译使用PCL库。**为什么需要用此功能**：需要在代码中加入并使用PCL库做点云处理以及可视化等功能，然而直接将二者放在一起编译会报boost依赖冲突的问题（其中Paddle库为2.3版本，其依赖boost1.41.0版本；而点云处理库PCL库为1.8.1版本，其依赖的boost1.40.0版本；故而联合编译时，在编译编译阶段报错为："-- Could NOT find Boost (missing: chrono) (found suitable version "1.41.0", minimum required is "1.40.0")）"。
<br /

[2022-09-28 10:00] #46581 closed, assigned to yeliang2258

[2022-09-28 10:42] O-O1024 opened #46602 "spectral_norm的 dim参数，文档说明和代码实现是不是矛盾了？"
from paddle.nn.utils import spectral_norm

文档说对于全连接层必须是dim=0
```it should be set as 0 if Input(Weight) is the weight of fc layer, and should be set as 1 if Input(Weight) is the weight of conv layer.```

但是代码处理 dim=None 时，对于Linear，dim=1
[code]

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-28 10:54] yeliang2258 commented on #46600
这个你可以在你的工程里面自己包括一份boost吗？paddle应该是没有支持多个boost版本的计划

[2022-09-28 10:58] yeliang2258 commented on #46602
您好，已经反馈给相关同学处理。

[2022-09-28 11:07] Birdylx opened #46603 "Numpy seed in DataLoader with multiprocessing"
### 请提出你的问题 Please ask your question

在Dataloader中，如果num_worker大于0，dataloader起的线程中的numpy的random seed不满足我自己设置的。
我的网络在评估的时候需要固定np.random.seed，我期望的是每个worker的numpy seed是一致的，这样对每个样本以同样的随机性进行预处理，然而paddle的dataloader在起线程的时候传了一个随机的_base_seed，这就不是我自己预期的seed了，请问这部分有什么比较好的处理办法能让seed保持我自己设置的？

[2022-09-28 11:11] yeliang2258 commented on #46603
请问具体是什么问题？没有看懂你的问题

[2022-09-28 11:13] Birdylx commented on #46603
sorry，更新了下问题。

[2022-09-28 11:17] Birdylx commented on #46603
简而言之，我需要每个worker的numpy seed保持一致，保证每个样本预处理的随机性一致。

[2022-09-28 11:29] parap1uie-s commented on #46603
用worker_init_fn参数指定一个func，在func内部设定固定seed

[2022-09-28 11:31] Fire-Star commented on #44323
大佬们，我在PaddleOCR 新建了一个issue，目前问题还未解决：[#7757](https://github.com/PaddlePaddle/PaddleOCR/issues/7757)

[2022-09-28 11:47] heavengate commented on #46603
可以用`worker_init_fn`指定

[2022-09-28 12:14] Birdylx commented on #46603
Thanks~

[2022-09-28 12:14] #46603 closed, assigned to heavengate, yeliang2258

[2022-09-28 12:19] wangpin000 opened #46604 "机器翻译如何进行单条推理"
### 请提出你的问题 Please ask your question

你好，请问如何把paddle训练好的transformer机器翻译模型进行部署？我正在做一个小翻译系统，需要对单条文本进行推理。因为咱们官方提供的inference实际上是批量推理，先把批量的文本存在文件中，然后对该文件进行分词和bpe处理，再把得到的bpe文件加载成data_loader，最后对data_loader进行批量翻译。所以我想问下如何用训练好的paddle翻译模型直接对未经任何处理的单条文本进行翻译？

[2022-09-28 13:00] FrostML commented on #46604
切词比如使用 [mosesdecoder tokenize](https://github.com/PaddlePaddle/PaddleNLP/pull/3269/files#diff-c91f0429e90e70378520f329c296dd6435f3f236ee44cb0da0f2350ba38bf0a7R30)。Python 对应的 whl 可以参考 `mosestokenizer`。
bpe 可以参考 [fasterBPE](https://github.com/PaddlePaddle/PaddleNLP/pull/3269/files#diff-bf9334fe4d0477f5dbf202d56b054e5afb0d17b0b2e9db70a5b9e8c2e2ff6ac3R264) 代码。
再输入模型即可。

[2022-09-28 13:03] susu-ai opened #46609 "着急着急：控制占卡比例失败"
### 请提出你的问题 Please ask your question

想起一个服务，为了防止跑一半被其他程序挤掉，想要通过export FLAGS_fraction_of_gpu_memory_to_use=0.7 强制占70%的卡，但是发现最终起的服务并没有占到这么多的卡，不管我如何调至这个参数，最终服务所占的显存都是不变的，请教一下怎么控制我的服务强制占一定比例的卡呀~
如流@董苏慧

[2022-09-28 13:48] gouzil opened #46614 "安装软硬件环境部分 - 关于docker GPU运行的命令更新"
### 需求描述 Feature Description

## 文档中英文链接

[Linux下的Docker安装](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/docker/linux-docker.html#linux-docker)

[Install on Linux via Docker](https://www.paddlepaddle.org.cn/documentation/docs/en/develop/install/docker/linux-docker_en.html#install-on-linux-via-docker)

新版的docker已经支持直接使用``--gpus all``不再需要额外安装[nvidia-docker](https://github.co

[2022-09-28 13:55] liuhongen1234567 commented on #44501
【队名】：LHE-2022

【序号】：70

【论文】：[FactSeg: Foreground Activation Driven Small Object Semantic Segmentation in Large-Scale Remote Sensing Imagery](https://ieeexplore.ieee.org/abstract/document/9497514)

【状态】：报名

【repo链接】：https://github.com/LHE-IT/FactSeg_paddle

[2022-09-28 14:16] ucsk commented on #44501
【队名】：DeepRS
【序号】：70
【论文】：[FactSeg: Foreground Activation Driven Small Object Semantic Segmentation in Large-Scale Remote Sensing Imagery](https://ieeexplore.ieee.org/abstract/document/9497514)
【状态】：报名
【repo链接】https://github.com/ucsk/FactSeg

[2022-09-28 15:12] hnlslyp commented on #46571
组内公用机器，不能随便改内核版本...

[2022-09-29 00:26] jzhang533 commented on #46600
试试用develop的paddle，已经去掉了对boost的依赖。

[2022-09-29 01:43] leo0519 opened #46622 "Recommend to use logger instead of built-in print function in distributed_strategy.py"
### 需求描述 Feature Description

Logger module can help users easier to see where and when a logging is being made from, but `distributed_strategy.py` still uses built-in function `print` to show the warning message. For instance,

test_logger.py
[code]

result
[code]

The logger module is better for users to know the time, severity, and the python module where the message from.

### 替代实现 Alternative

[2022-09-29 03:24] duwenzhao opened #46625 "paddle模型正向和反向的op list"
### 请提出你的问题 Please ask your question

对于paddle模型，有什么方法可以获得模型正向和反向的op list 吗？

[2022-09-29 03:33] HarryYuan007 opened #46630 "OSError: (External) CUDNN error(4), CUDNN_STATUS_INTERNAL_ERROR"
### 请提出你的问题 Please ask your question

OSError: (External) CUDNN error(4), CUDNN_STATUS_INTERNAL_ERROR.
  [Hint: 'CUDNN_STATUS_INTERNAL_ERROR'.  An internal cuDNN operation failed.  ] (at /paddle/paddle/fluid/platform/device_context.h:407)

在V100的机器上使用cuda 10.2，cudnn7.6.5和paddle-gpu 2.2.1使用模型预测的时候，发现2个月前能跑起来的模型，现在跑不起来，在本机上尝试了多个这样的环境，均会报错这个问题。代码无改动，模型无改动
在谷歌上检索这个问题，多数认为是cuda和cudnn的版本不对导致的，check后发现均匹

[2022-09-29 03:47] xyzkk3 commented on #42197
同样的问题，调用eval后显存爆增，溢出报错，如果不调用eval一直处于train状态，能将几个epoch跑完

[2022-09-29 05:10] Caozhou1995 commented on #46622
thxwe have received your suggestion and communicated with relevant developers

[2022-09-29 05:12] Caozhou1995 commented on #46622
thx for your suggestion and we will communicate with relevant RD for this request

[2022-09-29 05:16] Caozhou1995 commented on #46625
静态图方式：print(your_program.ops)

[2022-09-29 05:18] Caozhou1995 commented on #46625
动态图下：export GLOG_vmodule=dygraph_functions=3,nodes=3,tracer=1，跑模型时会打印运行OP的日志。

[2022-09-29 05:26] Caozhou1995 commented on #46630
建议尝试使用下官方的docker镜像，https://hub.docker.com/r/paddlepaddle/paddle/tags/?page=1

[2022-09-29 06:03] hexzby commented on #43346
楼上的大哥们, 怎么解决的?

[2022-09-29 06:32] OccupyMars2030 opened #46642 "[Bug ] the numpy() method of a sparse coo cuda tensor reports an error "Segmentation fault (core dumped)""
### bug描述 Describe the Bug

You can refer to my [PR](https://github.com/PaddlePaddle/Paddle/pull/46333#issuecomment-1261816827)

我使用了ai studio上的飞桨框架开发功能，编译了develop分支上的代码，安装编译后的wheel包，自己手动试验发现了上述bug。目前我认为是这个bug导致了我的cuda coo forward kernel 的CI测试失败，而我的cpu coo forward kernel 能够通过单测。麻烦请飞桨专家确认这个bug是否存在，谢谢
### 其他补充信息 Additional Supplementary Information

_No response_

[2022-09-29 07:30] isLinXu commented on #43938
【队名】：自然选择
【序号】：1
【状态】：提交作品
【链接】：[#46643](https://github.com/PaddlePaddle/Paddle/pull/46643)

[2022-09-29 08:39] xywlpo opened #46646 "dataloader workers exit unexpectedly"
### 请提出你的问题 Please ask your question

您好，我使用paddle自己写的分类代码，然后由于使用了多个dataloader，因此数据迭代采用下面的方式实现的：
<img width="418" alt="image" src="https://user-images.githubusercontent.com/728405/192982054-1c8bccbd-43af-4d13-b512-d7c5e0b83adc.png">
其中train_loader是多个dataloader的迭代器构成的列表，然后因为每个dataloader对应的数据量都不一样，然后为了保持统一的处理，这里使用.next拿数据，当此次迭代某个迭代器没有数据了，就通过try...Exception，重新初始化该迭代器。
目前程序可以正常运行，但是在都训练好后，会报以下的错误，目前这个

[2022-09-29 09:04] manangoel99 opened #46647 "Weights & Biases Callback for supporting logging to Weights & Biases"
### 需求描述 Feature Description

In this issue, I am proposing creating a new callback for logging metrics to Weights & Biases. This will be added [here](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/hapi/callbacks.py) with the rest of the callbacks. I would love to implement this as well!

The added functionality would include logging metrics to a W&B dashboard along with saving

[2022-09-29 09:13] Caozhou1995 commented on #46647
Thank u for your suggestion ! We will reply after discussion！

[2022-09-29 09:21] perfyperfect opened #46648 "vs2019 win10 paddle-develop 编译 bug"
### bug描述 Describe the Bug

cmake好之后 vs2019打开project，单独编译print_pten_kernels这个项目，失败！error：严重性	代码	说明	项目	文件	行	禁止显示状态
错误	LNK1248	映像大小(902A2000)超过允许的最大大小(80000000)	print_pten_kernels

### 其他补充信息 Additional Supplementary Information

严重性	代码	说明	项目	文件	行	禁止显示状态
错误	LNK1248	映像大小(902A2000)超过允许的最大大小(80000000)	print_pten_kernels

[2022-09-29 09:22] Caozhou1995 commented on #46646
麻烦再贴一下train_dataloader的代码逻辑，提供更多的信息帮助定位。
一般来说是封装成一个dataloader，dataloader的接口可以参考官网链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DataLoader_cn.html#dataloader

[2022-09-29 09:40] zhwesky2010 commented on #46642
这个不是bug，SparseTensor本身无法使用.numpy()方式，你需要使用crows、cols、indices先取出其内部的DenseTensor，再调Tensor.numpy()。
这个与你这个kernel的实现是没什么关系的，最多只可能涉及单测的写法。

[2022-09-29 09:49] OccupyMars2030 commented on #46642
收到，谢谢。

[2022-09-29 09:49] #46642 closed, assigned to Caozhou1995

[2022-09-29 09:57] xyzkk3 commented on #42197
找到问题了，用的是2.3版本的paddle，eval之后依然会计算梯度，加了个paddle.no_grade就不会再报错了

[2022-09-29 11:30] OccupyMars2030 commented on #46622
I will try to solve it  before 2022/10/4  9:00

[2022-09-29 11:30] zhwesky2010 commented on #46648
你好，可以在编译时加一个选项：cmake .. -DNEW_RELEASE_PYPI=ON，这样编译的体积可以减小些

[2022-09-29 11:34] aizain commented on #46602
我明天尝试处理一下~

[2022-09-29 11:51] m828 opened #46652 "多卡训练报错"
### 问题描述 Please describe your issue

PaddleSeg版本：PaddleSeg 2.5/2.6
PaddlePaddle版本：PaddlePaddle 2.3.2
操作系统信息：Linux
Python版本号：Python3.8
CUDA/cuDNN版本：CUDA11.2/cuDNN 8.2
按照多卡训练的流程：
export CUDA_VISIBLE_DEVICES=0,1,2,3 # 设置4张可用的卡
python -m paddle.distributed.launch train.py
出现下面的情况，是什么原因呢？
![image](https://user-images.githubusercontent.com/45037914/193024093-afcec202-1dc6-4cc9-919e-d54ae521ebbb.png)

![

[2022-09-29 11:53] m828 commented on #46652
补充下：我跑的是pp_liteseg，单卡可以，多卡就报这样的错

[2022-09-29 13:03] laowang-7 commented on #29863
你好我也遇到了同样的问题，请问怎么解决

[2022-09-29 13:09] thunder95 commented on #43938
【队名】：thunder95
【序号】：37
【状态】：提交作品
【链接】：https://github.com/PaddlePaddle/Paddle/pull/46655

[2022-09-30 01:52] felixhao28 commented on #40394
原来不支持debug编译呀，这下调试起来麻烦了。

对我来说，我是需要用SetModelBuffer从内存里加载模型文件，而不是模型文件路径。但如果这么用，再用上TensorRT的话，就会报错。我本来想调试一下，看看能不能把这个问题改掉。现在Debug和RelWithDebInfo都编译不了。

[2022-09-30 02:00] Louis8582 commented on #45823
我在 paddle inference (C++) 上也遇到一样的问题，  如果用旧版的 paddle inference 可以跑通，现下想尝试 fp16 故此更改成新的 paddle inference，就出现了这个错误
请问后续解决方案是什么呢?

[2022-09-30 02:47] Caozhou1995 commented on #46652
单卡不涉及通信，所以不会报错。
麻烦再贴一下完整的报错栈信息。
或者将_C_ops.c_allreduce_sum_修改成paddle._legacy_C_ops.c_allreduce_sum_试试

[2022-09-30 02:50] m828 commented on #46652
![1664505938187](https://user-images.githubusercontent.com/45037914/193179608-56045ff4-325c-4b79-b6b0-eb6426f85a93.jpg)
![1664505984669](https://user-images.githubusercontent.com/45037914/193179622-07841c8d-18c9-4c6d-8940-9a9b4a0c329f.jpg)
这样信息是否可以

[2022-09-30 02:51] m828 commented on #46652
![image](https://user-images.githubusercontent.com/45037914/193179767-d9f5dc59-cc78-4d91-989b-23b33ea85b7a.png)

[2022-09-30 03:05] m828 commented on #46652
![image](https://user-images.githubusercontent.com/45037914/193181399-aaa6fe19-cdbd-4e67-8a57-1ba8794ab526.png)
![image](https://user-images.githubusercontent.com/45037914/193181433-56e0f3f8-222b-4b97-8200-872e5be89a13.png)

[2022-09-30 03:08] m828 commented on #46652
修改之后会报错：no attribute '_legacy_C_ops'

[2022-09-30 03:16] engineer1109 opened #46664 "undefined reference PD_IntArrayGetElementCount"
### bug描述 Describe the Bug

编写自定义插件，使用capi，
capi::IntArray 取size() 的时候会报错
undefined reference PD_IntArrayGetElementCount
nm发现符号确实没有定义
[code]
修复方案https://github.com/PaddlePaddle/Paddle/pull/46662
从code看是改名引起的
PD_IntArrayGetSize 是cc定义的名义
PD_IntArrayGetElementCount 是头文件的名字
修复方案为PD_IntArrayGetElementCount补充了定义

### 其他补充信息 Additional Supplementary Information

Ubuntu 20.04   GCC 9.4.0

[2022-09-30 06:26] ZhangLe-fighting commented on #45228
我现在也遇到这个问题，请问您是怎么解决的呢？

[2022-09-30 06:32] perfyperfect commented on #46648
开启了这个选项，问题解决了，但是出现而来一个新的问题： 严重性	代码	说明	项目	文件	行	禁止显示状态
错误	LNK1000	Internal error during IMAGE::Pass2	print_pten_kernels
 \paddle\phi\tools\libphi_static_1.lib(reduce_min_grad_kernel.obj)	1

[2022-09-30 06:41] ZhangLe-fighting commented on #45228
使用这个预测库，打包的时候会有同样的问题嘛

[2022-09-30 06:41] leo0519 commented on #46622
@OccupyMars2025 Thank you for your help!

[2022-09-30 06:44] Dawn-bin commented on #45228
hi，没有解决这个问题，可以尝试其他部署方式，我最后采用了静态图推理的方式，如果需要可以把推理框架分享给你

[2022-09-30 06:59] Jacky-gsq opened #46672 "是否可以将torch.tensor转换为paddle.tesor？"
### 需求描述 Feature Description

我现在正在想将一个基于torch搭建深度学习模型和paddle.parld的强化学习模型联合起来使用，目前出现了以下问题：

[code]

我猜测是由于前端深度学习模型输出的torch.tensor和paddl.tensor类型不一致引起的问题，所有请问能否做这样的一个类型转换。

### 替代实现 Alternatives

目前想到的解决方案是，先将torch,tensor转成numpy，然后用paddle.to_tensor处理

[2022-09-30 06:59] Caozhou1995 commented on #46652
建议源码重新编译一下paddle whl包，可以参考链接：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/compile/linux-compile.html

[2022-09-30 07:04] dasenCoding opened #46673 "rsample 采样精度"
### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/100328659/193210607-36f99875-d7eb-49e1-9765-26297449f643.png)

请教一下该如何降低 rsample 的误差，现在 rsample 的误差最多在 1.0 左右，太大了。

[2022-09-30 07:08] ZhangLe-fighting commented on #45228
我需要，十分感谢！

[2022-09-30 07:37] m828 commented on #46652
![image](https://user-images.githubusercontent.com/45037914/193216882-253fd75c-e468-4f6a-b968-fa0d72bfe24d.png)
cannot enable p2p?
是因为这个吗

[2022-09-30 07:39] wozna commented on #37422
This new quantization method was done by @yeliang2258  in https://github.com/PaddlePaddle/Paddle/pull/45416.
There are to PR also connected to this https://github.com/PaddlePaddle/Paddle/pull/45920 and https://github.com/PaddlePaddle/Paddle/pull/46378.

ZeroPoint is not done yet. OneDNN has this option so it is possible to add it. @yeliang2258  do you know if any of new models use this ZeroPoint v

[2022-09-30 08:20] ronny1996 commented on #46664
https://github.com/PaddlePaddle/Paddle/pull/46662 合入了，这个issue就先关闭了

[2022-09-30 08:20] #46664 closed, assigned to andyjiang1116

[2022-09-30 09:05] DIPTE commented on #46600
尝试了，结果python环境那又报错了
Python 3.7.0 (default, Oct  9 2018, 10:31:47)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

Error: Can not import paddle core while this file exists: /home/xx/anaconda3/envs/test/lib/python3.7/site-packages/paddle/fluid/libpaddle.so
......
ImportError: libpython3.7m.so.1.0: cannot open shared object file: No such

[2022-09-30 10:22] OccupyMars2030 commented on #44501
【队名】：[OccupyMars2025](https://github.com/OccupyMars2025)
【序号】：59
【论文】：[Going deeper with Image Transformers](https://arxiv.org/pdf/2103.17239.pdf)
【状态】：报名
【repo链接】https://github.com/OccupyMars2025/Going-deeper-with-Image-Transformers-using-PaddlePaddle

[2022-09-30 10:27] OccupyMars2030 commented on #44501
【队名】：[OccupyMars2025](https://github.com/OccupyMars2025)
【序号】：60
【论文】：[CvT: Introducing Convolutions to Vision Transformers](https://arxiv.org/abs/2103.15808)
【状态】：报名
【repo链接】：https://github.com/OccupyMars2025/PaddlePaddle-CvT

[2022-09-30 10:30] OccupyMars2030 commented on #44501
【队名】：[OccupyMars2025](https://github.com/OccupyMars2025)
【序号】：5
【论文】：[DetectoRS: Detecting Objects with Recursive Feature Pyramid and Switchable Atrous Convolution](https://arxiv.org/pdf/2006.02334.pdf)
【状态】：报名
【repo链接】：https://github.com/OccupyMars2025/PaddlePaddle-DetectoRS

[2022-09-30 10:35] OccupyMars2030 commented on #44501
【队名】：[OccupyMars2025](https://github.com/OccupyMars2025)
【序号】：69
【论文】：[Modular Interactive Video Object Segmentation: Interaction-to-Mask, Propagation and Difference-Aware Fusion](https://arxiv.org/pdf/2103.07941.pdf)
【状态】：报名
【repo链接】：https://github.com/OccupyMars2025/Modular-Interactive-Video-Object-Segmentation-Interaction-to-Mask-Propagation-and-Difference-Aware

[2022-09-30 13:40] renmada commented on #44501
【队名】：scv
【序号】：飞桨特色模型挑战赛 6
【论文】：Channel-wise Topology Refinement Graph Convolution for Skeleton-Based Action Recognition
【状态】：报名&&提交
【repo链接】：https://github.com/renmada/PaddleVideo/tree/ctrgcn_lite

[2022-09-30 13:41] renmada commented on #44501
【队名】：scv

【序号】：4

【论文】：MicroNet: Improving Image Recognition with Extremely Low FLOPs

【状态】：报名

【repo链接】：https://github.com/renmada/PaddleClas/tree/micronet

[2022-09-30 13:42] renmada commented on #44501
【队名】：scv

【序号】：59

【论文】：Going deeper with Image Transformers

【状态】：报名

【repo链接】：https://github.com/renmada/PaddleClas/tree/cait

[2022-09-30 14:09] dingjiaweiww commented on #46614
你的反馈我们已收到，待验证后再答复此issue

[2022-09-30 15:10] i02-c commented on #44501
【队名】：0303

【序号】：86

【论文】：Self-consistent determination of long-range electrostatics in neural network potentials

【状态】：已报名

【repo链接】：https://github.com/andy90/SCFNN/issues

[2022-09-30 15:18] i02-c commented on #44501
【队名】：0303

【序号】：1

【论文】：Self-adapting Framework for U-Net-Based Medical Image Segmentation
【状态】：已报名

【repo链接】：https://github.com/i02-c/03031

[2022-09-30 15:48] leigao-ceee commented on #44501
【队名】：ailoge的团队
【序号】：51
【论文】：Gradient-enhanced physics-informed neural networks for forward and inverse PDE problems
【状态】：提交
【repo链接】：https://github.com/tianshao1992/gPINN_paddle

[2022-10-01 10:12] sunpan822 commented on #44501
【队名】：SaipanGod的团队
【序号】：71
【论文】：FactSeg: Foreground Activation Driven Small Object Semantic Segmentation in Large-Scale Remote Sensing Imagery
【状态】：报名
【repo链接】：https://github.com/sunpan822/PaddleFactSeg

[2022-10-01 17:24] SigureMo commented on #46039
## Python 2 代码退场计划及进度

### remove-future-import

- 存量修复
   - 全部 Python 代码（除 test_error.py）：#46411
   - test_error.py、test_origin_info.py（含 yapf 格式化、remove-future-import）：#46463
   - 部分后续增量：#46736
- 增量阻止
   - CI：#46466

### paddle.compat

- 存量修复
   - long_type, int_type, get_exception_message, floor_division: #46686
   - round, to_bytes, to_text: TODO

### Python2 条件分支

- 存量修复：#46696

### 使用 `open`

[2022-10-02 03:21] veyron95 commented on #46672
@Jacky-gsq 两个框架的 tensor 底层数据结构不一样的，所以推荐先转成numpy，然后用paddle.to_tensor处理。

[2022-10-02 03:23] veyron95 commented on #46673
@dasenCoding 请提供最小复现代码片段，方便复现问题

[2022-10-02 03:40] dasenCoding commented on #46673
Gumbel ：

    class Gumbel(TransformedDistribution):

          def __init__(self, loc, scale):
              self.batch_size_unknown = False
              self.all_arg_is_float = False
              self.loc = paddle.to_tensor(loc, dtype='float32')
              self.scale = paddle.to_tensor(scale, dtype='float32')

              finfo = np.finfo(dtype='float32')
              if isinstance(loc,

[2022-10-02 11:55] SigureMo commented on #46039
## 其余相关工具添加/修复计划及进度

### ✅ Cpplint

- cpplint CI 问题复现（仅用于复现，无需 merge）：#46102
- 修复 cpplint CI 问题：#46136
- ~~修复 `.cuh` 文件 trailing whitespace、remove-crlf、cpplint 问题：#46159~~ `.cuh` 文件直接排除
- 其余存量暂不修复，交由之后修改相关文件时触发 cpplint 的 RD 修复

### Pylint

TODO...

### ✅ Remove-CRLF / Detect Private Key

- 配置问题修复：#46154
- 存量修复：
   - Python 相关文件：#46155
   - C++ 相关文件（除 Java 前端相关文件和 cuh 文件）：#46156
   - cuh 文件：在 cppli

[2022-10-03 02:03] kevinluoc commented on #45414
抱歉迟了回复，我们的环境如下：
paddlefsl  1.1.0
paddlenlp 2.4.0
paddlepaddle     2.3.0
vc                        14.2
visualdl                2.3.0
vs2015_runtime   14.27.29016

conda lists:
# packages in environment at C:\py39:
#
# Name                    Version                   Build  Channel
aiohttp                   3.8.1                    pypi_0    pypi
aiosignal                 1.2.0

[2022-10-03 15:02] lx1054331851 opened #46733 "想做以图搜图，如何获取如ResNet50抽取的特征向量？"
### 请提出你的问题 Please ask your question

如题，想做以图搜图，如何获取如ResNet50抽取的特征向量？

[2022-10-03 20:23] OccupyMars2030 commented on #46622
@leo0519  I'm sorry that I fail to accomplish my promise.  After promising to solve this issue, I determined to participate in a Baidu competition. So I'm afraid that I won't have free time to solve this issue before  2022/10/16.  If this issue is still not solved on  2022/10/16,  then I will try to solve it myself.  I promise to solve this issue before 2022/10/20  9:00

[2022-10-04 06:30] 0x45f commented on #46733
ResNet可以使用最后的FC层之前的输出结果作为特征，可以尝试使用Layer的sublayers接口

[2022-10-04 06:43] #20765 closed, assigned to nobody

[2022-10-04 06:43] #26724 closed, assigned to nobody

[2022-10-04 06:43] #27413 closed, assigned to nobody

[2022-10-04 06:43] #29172 closed, assigned to dyning

[2022-10-04 06:43] #34036 closed, assigned to dingjiaweiww, haozech

[2022-10-04 06:43] #34532 closed, assigned to DannyIsFunny

[2022-10-04 06:43] #35702 closed, assigned to zhangting2020

[2022-10-04 06:43] #35747 closed, assigned to ForFishes

[2022-10-04 06:43] #35777 closed, assigned to ForFishes

[2022-10-04 06:43] #35850 closed, assigned to yaoxuefeng6

[2022-10-04 06:43] #35860 closed, assigned to iclementine

[2022-10-04 06:43] #35865 closed, assigned to iclementine

[2022-10-04 06:44] #35883 closed, assigned to Aurelius84

[2022-10-04 06:44] #35901 closed, assigned to wangxicoding

[2022-10-04 06:44] #35902 closed, assigned to wangxicoding

[2022-10-04 06:44] #35929 closed, assigned to wangxicoding

[2022-10-04 06:44] #35973 closed, assigned to JZ-LIANG

[2022-10-04 06:44] #35989 closed, assigned to JZ-LIANG

[2022-10-04 06:44] #35990 closed, assigned to JZ-LIANG

[2022-10-04 06:44] #35991 closed, assigned to JZ-LIANG

[2022-10-04 06:44] #35992 closed, assigned to JZ-LIANG

[2022-10-04 06:44] #36029 closed, assigned to JZ-LIANG

[2022-10-04 06:44] #36039 closed, assigned to pangyoki

[2022-10-04 06:44] #36049 closed, assigned to pangyoki

[2022-10-04 06:44] #36073 closed, assigned to wanghuancoder

[2022-10-04 06:44] #36156 closed, assigned to nobody

[2022-10-04 06:44] #36159 closed, assigned to nobody

[2022-10-04 06:44] #36196 closed, assigned to nobody

[2022-10-04 06:44] #36216 closed, assigned to yinhaofeng

[2022-10-04 06:44] #36223 closed, assigned to yinhaofeng

[2022-10-04 06:44] #36230 closed, assigned to littletomatodonkey

[2022-10-04 06:44] #36238 closed, assigned to littletomatodonkey

[2022-10-04 08:52] tsocha commented on #45058
@leeleolay it seems that problem with missing `tanh_grad` operator does not appear on newer PaddlePaddle version.
I tested it on paddle v2.3.2.
Could you verify it?

Unfortunately I can see another problem on this version:
[code]
It's under investigation now.

[2022-10-04 10:17] GongLinHI opened #46740 "请问直接使用paddleHub上的预训练模型进行微调时，支持多卡并行计算吗"
相关代码如下

[code]

此时仍可以使用[单机多卡训练-使用文档-PaddlePaddle深度学习平台](https://www.paddlepaddle.org.cn/documentation/docs/zh/2.2/guides/02_paddle2.0_develop/06_device_cn.html#api)中的
[code]
进行多卡并行计算，以达到加速的目的吗？

[2022-10-04 13:11] manangoel99 commented on #46647
Hi @Caozhou1995 ! Any updates?

[2022-10-04 13:29] jeffzhengye commented on #32627
@zhiqiu  这个还是解决不了gpu 内存泄漏的问题。

今天还发现个奇怪的泄露。只要从文件中恢复参数，继续训练就多用1G多内存。

elif args.resume:
        resume_file = os.path.join(args.save_dir, 'model_best', 'model_state.pdparams')
        state_dict = paddle.load(resume_file)
        model.set_dict(state_dict)

[2022-10-04 15:03] tsocha commented on #45058
I was able to run this demo via oneDNN on this SHA: `e1e0deed64` it's a little bit older than SHA used by you before.
Please verify if this SHA works for you.
I will investigate why It don't work for your original SHA.

[2022-10-04 19:54] moonriseny commented on #46377
Hi Lucas,

I have the same issue, did you resolve it?

Sheng

[2022-10-04 20:29] LucasMartinuzzo commented on #46377
Yes, installing paddlepaddle-gpu worked for me.

[2022-10-04 20:33] moonriseny opened #46748 "AttributeError: 'ParallelEnv' object has no attribute '_device_id'"
### bug描述 Describe the Bug

Hi there,

I am trying to run the example on page https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.6/ppstructure/kie/README.md

# just predict using SER trained model
python3 tools/infer_kie_token_ser.py \
  -c configs/kie/vi_layoutxlm/ser_vi_layoutxlm_xfund_zh.yml \
  -o Architecture.Backbone.checkpoints=./pretrained_model/ser_vi_layoutxlm_xfund_pretrained/best

[2022-10-05 01:09] moonriseny commented on #46377
Hi Lucas,
Thanks for the info. I did install paddlepaddle-gpu, but still got the same error. After digging into a little bit more, I found  I need to specify the version and CUDA version for my system, here is my command
conda install paddlepaddle-gpu==2.3.2 cudatoolkit=11.6 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge
Now everything works.
Thanks.
Sheng

[2022-10-05 01:11] moonriseny commented on #46748
Hi there,
Found the solution, I need to specify the version and CUDA version in my system when installing paddlepaddle-gpu, here is my command
conda install paddlepaddle-gpu==2.3.2 cudatoolkit=11.6 -c https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/ -c conda-forge
Now everything works. You can close this case.
Thanks.
Sheng

[2022-10-05 01:11] #46748 closed, assigned to From00

[2022-10-05 06:08] niconical opened #46749 "PaddlePaddle Nvidia NGC容器支持Arm架构CPU"
### 需求描述 Feature Description

感谢PaddlePaddle提供NGC容器化安装的方式，其极大的简化了异构设备的安装工作。但是，目前PaddlePaddle的NGC容器只支持x86架构的CPU，而Pytorch和Tensorflow同时支持x86, Arm SBSA。希望PaddlePaddle NGC 镜像可以同时支持ARM和X86架构CPU，感谢。

Ref
- https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html

### 替代实现 Alternatives

_No response_

[2022-10-05 09:27] PureNatural opened #46750 "PR-CI-Coverage: Makefile:140: recipe for target 'all' failed"
您好，我不太清楚是什么样的原因会导致下面的错误，导致CI无法通过
![image](https://user-images.githubusercontent.com/29674550/194028000-131fc8e0-8e00-4086-8180-0acf51b094f5.png)

[2022-10-05 10:56] tsocha commented on #45058
The problem has been caused by #44365 PR. SHA: https://github.com/PaddlePaddle/Paddle/commit/2dfa88d2526953bec87507d87402c4038dc49259
The last working commit is: #44847 PR. SHA: https://github.com/PaddlePaddle/Paddle/commit/f419e341
@YuanRisheng ☝

[2022-10-05 11:41] From00 commented on #46749
你好，你的需求我们已经收到，会在国庆假期结束后安排NGC相关负责同学进行讨论和评估。

[2022-10-05 11:46] From00 commented on #46750
你好，这个错误为Paddle编译失败，但从你提供的截图无法分析出编译失败的具体原因。建议尝试重新执行失败的CI，若仍无法通过，请提供具体的PR或CI任务链接，我们帮助排查和解决。

[2022-10-05 11:51] niconical commented on #46749
非常感谢，请问有相关SIG或者社区吗，我对PaddlePaddle NGC相关工作也非常感兴趣，希望可以给社区做一点贡献。

[2022-10-05 14:02] PureNatural commented on #46750
感谢您的回复，我多尝试了几次后编译通过了。

[2022-10-05 14:02] #46750 closed, assigned to From00

[2022-10-05 18:31] jithinsankar commented on #44571
My issue got resolved by installing v2.4 rc!!!

pip install paddlepaddle==2.4.0rc0

[2022-10-05 18:32] jithinsankar commented on #36801
My issue got resolved by installing v2.4 rc!!!

pip install paddlepaddle==2.4.0rc0

[2022-10-06 04:32] PureNatural opened #46764 "PR-CI-Windows-Inference和PR-CI-Windows这两项CI一直处于排队中"
### 请提出你的问题 Please ask your question

您好，我提交了一个PR，在CI检查中PR-CI-Windows-Inference和PR-CI-Windows这两项一直处于排队中，我发现排队的项目也有很多，请问有解决的方式吗
https://github.com/PaddlePaddle/Paddle/pull/46255

[2022-10-06 11:41] tsocha commented on #45058
@leeleolay
I was able to run deep_md_demo on https://github.com/PaddlePaddle/Paddle/commit/2dfa88d2526953bec87507d87402c4038dc49259 and https://github.com/PaddlePaddle/Paddle/commit/c91aaced74aa1a34c8bde2e53b3072baf8012e73 after cherry pick of https://github.com/PaddlePaddle/Paddle/commit/23def39672
Unfortunately you can't use https://github.com/PaddlePaddle/Paddle/commit/23def39672 directly becau

[2022-10-06 17:24] Aganlengzi commented on #46764
你好，CI是自动排队运行的，需要等待前序执行完成，如果CI流水线本身有问题会有相关维护同学解决；另外我看PR中有未通过的Required的CI，如果可以的话建议先解决。

[2022-10-07 03:14] lllulll commented on #29863
我也遇到了这个问题，怎么解决呢？

[2022-10-07 11:19] liuhongen1234567 commented on #44501
【队名】：LHE-2022

【序号】：70

【论文】：FactSeg: Foreground Activation Driven Small Object Semantic Segmentation in Large-Scale Remote Sensing Imagery

【状态】:  提交

【repo链接】：https://github.com/LHE-IT/FactSeg_paddle

[2022-10-07 12:50] PureNatural commented on #46764
感谢您的回复。

[2022-10-07 12:50] #46764 closed, assigned to Aganlengzi

[2022-10-07 13:27] duwenzhao opened #46769 "PaddleYOLO v5-m 动态图转静态图出现 targets读取错误"
### 请提出你的问题 Please ask your question

# paddlepaddle == 2.3.2
使用官方提供的paddleYOLO 代码，数据集coco，使用yolov5_m_300e_coco.yml
device：cpu，batchsize：2
使用了动态图转静态图方法，具体做法：
在PaddleYOLO/ppdet/engine/trainer.py
model.train() 下面增加model = paddle.jit.to_static(model)
错误：
File "D:\paddle\yolov5\PaddleYOLO\ppdet\modeling\losses\yolo_loss.py", line 286, in build_targets
        gt_class = targets['gt_class'][idx][:gt_nu

[2022-10-08 01:55] 15554710621 commented on #41723
torch.nn.Module.register_backward_hook(module, grad_in, grad_out)

[2022-10-08 03:22] wj-Mcat commented on #45979
请问一下这个feature是否有任何进展？可link此讨论，这样订阅此issue的开发者都可收到最新进展。

非常期待此feature的最新相关进展。

[2022-10-08 04:00] OccupyMars2030 opened #46774 "[maybe a bug] when breaking from an iteration of a dataloader, and the python process terminates, then it may report a strange error."
# The paddle experts can just ignore this issure. I just record the error here.  It is not urgent. I will check it when I have time.

### bug描述 Describe the Bug

[code]
environment: Win11, pycharm, cpu,  PaddlePaddle 2.3,  python 3.7
I find the bug when I run the file C:\Users\Administrator\Desktop\contests\20220715_paddle_lwfx_7th\Going-deeper-with-Image-Transformers-using-PaddlePaddle\02_test_da

[2022-10-08 04:05] jiamingkong commented on #44501
【队名】：什么是惊喜

【序号】：54

【论文】：[Unsupervised deep learning for super-resolution reconstruction of turbulence](https://arxiv.org/pdf/2007.15324.pdf)

【状态】: 提交

【repo链接】：https://github.com/jiamingkong/SR-Turb-paddle

aistudio链接：https://aistudio.baidu.com/aistudio/projectdetail/4493261?contributionType=1

[2022-10-08 04:30] OccupyMars2030 commented on #46774
when running C:\Users\Administrator\Desktop\contests\contests_that_have_ended\20220509_paddle_lwfx\task3-Going-deeper-with-Image-Transformers\02_test_data.py , the result is as follows:
<img width="960" alt="image" src="https://user-images.githubusercontent.com/31559413/194688066-ba101d85-244a-4090-a102-19897f7f9173.png">

when running C:\Users\Administrator\Desktop\contests\20220715_paddle_lwfx_7

[2022-10-08 04:44] gglin001 commented on #45979
似乎没看到有啥进展?
@wj-Mcat 感觉不如 按照你的原始提议

先提交一个pr...

[2022-10-08 04:46] OccupyMars2030 commented on #46774
Is the environment variable  PYTHONUNBUFFERED   the cause of the error ?? I'm not sure.
<img width="960" alt="image" src="https://user-images.githubusercontent.com/31559413/194688808-6aaeb442-fc1a-42d1-a76f-d02fac34a1be.png">

[2022-10-08 05:50] HzjFirst opened #46775 "CAD图片识别"
### 请提出你的问题 Please ask your question

CAD图片中的实体墙怎么制作样本？怎么识别？

[2022-10-08 05:54] OccupyMars2030 commented on #46774
I found this error when I reproducing a paper:
https://github.com/OccupyMars2025/Going-deeper-with-Image-Transformers-using-PaddlePaddle

[2022-10-08 06:25] jm12138 commented on #46740
* 目前 paddlehub.Trainer 暂不支持 `python -m paddle.distributed.launch train.py` 这种方式实现单机多卡训练

[2022-10-08 06:45] jm12138 commented on #46740
刚才测试了一下，是可以使用这种方式进行单机多卡加速。

[2022-10-08 07:27] wj-Mcat commented on #45979
@gglin001 我觉得可，而且可以优化成省去install的方式。就是不知道paddle组委会的人怎么看这件事，

[2022-10-08 08:33] dingjiaweiww commented on #46749
@niconical 请问你用的哪个版本NGC 容器呢

[2022-10-08 09:16] blingblingxxy opened #46778 "paddle安装后无法import"
### 问题描述 Issue Description

pip显示安装成功但import后报错，但机器上显示文件存在。
<img width="842" alt="截屏2022-10-08 下午5 12 02" src="https://user-images.githubusercontent.com/57892938/194699856-06bb3ad0-01de-4d5e-b4c3-0f03e0d05f07.png">
<img width="504" alt="截屏2022-10-08 下午5 13 25" src="https://user-images.githubusercontent.com/57892938/194699902-c73ff94f-2f75-44fa-b081-8a9d973cc316.png">

### 版本&环境信息 Version & Environ

[2022-10-08 11:07] #37165 closed, assigned to nobody

[2022-10-08 12:10] saaavsaaa commented on #43908
Waiting for support for ubuntu 22

[2022-10-08 12:14] zpc-666 commented on #44501
【队名】：冲一冲队伍
【序号】：飞桨特色模型挑战赛 6
【论文】：Channel-wise Topology Refinement Graph Convolution for Skeleton-Based Action Recognition
【状态】：提交
【repo链接】：https://github.com/zpc-666/CTRGCN_Light

[2022-10-08 13:22] flytocc commented on #44501
【队名】：拼手速

【序号】：59

【论文】：[Going deeper with Image Transformers](https://arxiv.org/pdf/2103.17239.pdf)

【状态】：提交

【repo链接】：https://github.com/flytocc/PaddleClas/tree/CaiT

[2022-10-08 13:28] zsy0828 opened #46788 "关于 paddle.distributed.spwan"
### 请提出你的问题 Please ask your question

在使用spwan进行分布式训练时，如何像torch的multiprocessing中，使用自定义类，如torch-quiver中会增加reductions中的ForkingPickler.register来实现进程的通信。因为我在尝试使用paddle的使用的时候，它会自动的帮助我实现进程通信，但这并不是我需要的，我应该如何处理呢，同时，我还发现，在ubuntu1804，双1080ti，nvcc10.2的服务器上，使用paddle的dist时候，显卡的占用率会很低，基本在25~30，而torch是几乎吃满，这个是paddle自身的原因么 ，因为我处理的部分使用的是cupy，pd只是后续使用from_dlpack，在不使用from_dlpack时，也会很慢

[2022-10-08 13:47] niconical commented on #46749
我使用的这个镜像 nvcr.io/nvidia/paddlepaddle:22.09-py3，以下是两张官网截图。我不太清楚如何查看NGC容器版本，因为这里显示nvcr.io/nvidia/paddlepaddle:xx.xx-py3都是只支持amd64架构的。

![image](https://user-images.githubusercontent.com/23325508/194710654-f4e74d4a-67b3-4ea1-b7c7-51731109133e.png)
![image](https://user-images.githubusercontent.com/23325508/194710673-445314cd-cc4b-4474-be0f-b56de12ef0a6.png)

Ref
1. https://docs.nvidia.com/deeplearnin

[2022-10-08 15:36] robinbg commented on #44501
【队名】：自动AC机

【序号】：3

【论文】：TResNet: High Performance GPU-Dedicated Architecture
【状态】：提交

【repo链接】：https://github.com/robinbg/PaddleClas/tree/robinbg-TResNet

[2022-10-08 15:58] arrayofstar commented on #44501
【队名】：会飞的蜗牛

【序号】：46

【论文】：Informer: Beyond Efficient Transformer for Long Sequence Time-Series Forecasting

【状态】：报名

【repo链接】：https://github.com/arrayofstar/2022_Informer_Paddle

[2022-10-09 01:37] lx1054331851 commented on #46733
@0x45f 好的，谢谢，我试试

[2022-10-09 02:00] YuanRisheng commented on #46769
已收到问题，正在分析中~

[2022-10-09 02:31] Aurelius84 commented on #46769
@duwenzhao 从你打印的gt_nums 信息来看，都是Tensor类型，说明bbox.shape[0] 在静态图下都是-1，表示组网期未知。因此在取len(bbox)时，会触发转为paddle.shape(bbox)[0]。

建议把np.repeat 替换为 paddle.repeat试下

[2022-10-09 02:44] jzhang533 commented on #45979
我们并没有paddle组委会这么个组织，从内部的技术会议上，目前的安排看，还没有内部的人力可以做这件事情。
如果社区里有人愿意做这件事情的话，我可以帮忙安排一次评审会议，征求一下意见和想法，评审通过后，就可以开始干了。

[2022-10-09 03:11] engineer1109 commented on #46597
研究了一下，
自定义设备必须支持虚拟内存地址 (例如0x7ff00000)。
Paddle里面有FitAllocator不支持句柄类型地址（例如0x1 0x2 0x3)，所以不支持clCreateBuffer

使用clSVMAlloc 可以进行虚拟地址的内存分配, SVM的内存指针支持偏移量的访问

目前的内存分配器估计对opencl compute vulkan compute是很不友好的
需要在驱动补充虚拟地址的访问实现。

[2022-10-09 03:12] dingjiaweiww commented on #46778
你安装的是什么哪个版本的paddle 呀，或者你的安装命令是什么？

[2022-10-09 03:20] gouzil commented on #46614
https://github.com/PaddlePaddle/community/pull/240

[2022-10-09 03:21] gouzil commented on #46614
#https://github.com/PaddlePaddle/community/pull/240

[2022-10-09 03:26] gouzil commented on #46614
已添加[pr](https://github.com/PaddlePaddle/community/pull/240), 待验证

[2022-10-09 03:53] dingjiaweiww commented on #46614
你的方案我们已收到，会尽快回复

[2022-10-09 03:56] Caozhou1995 commented on #46647
Hi, sorry to reply u slowly, it was the National Day holiday in 10.1 - 10.7. We will discuss as soon as possible.

[2022-10-09 03:58] onecatcn commented on #46749
@niconical 感谢对NGC飞桨容器的支持。目前，NGC飞桨容器确实还不支持SBSA，诉求已经收到，我们会努力推进。
我们有一个NGC用户微信群，里面有飞桨和NV的工程师与用户沟通，欢迎加入：
![image](https://user-images.githubusercontent.com/28726337/194739422-913c1906-b6d5-4e3e-954d-787b2a6c1484.png)

[2022-10-09 04:14] qili93 commented on #46597
hi, @engineer1109

请问您能提供一下自定义 runtime.cc 的具体实现代码吗？

Paddle 目前的自定义设备接入对于设备端内存的申请走的是 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/memory/allocation/custom_allocator.cc 的实现，这里通过 DeviceManager 类调用到了自定义 runtime 里面注册的 device_memory_allocate 接口。当前 custom_allocator.cc 的实现与 cuda_allocator.cc 的实现类似，不会限制必须使用虚拟地址，是可以直接申请设备上的显存地址的，比如可以调用 cudaMalloc，当前除非打开 FLAGS_use_cuda_managed_memory 才会调用

[2022-10-09 05:11] jzhang533 commented on #46647
@manangoel99 Please go ahead on adding this new feature to paddlepaddle, and assign @heavengate and @jzhang533 for review when your PR is ready.

Thanks a lot!

[2022-10-09 05:52] jzhang533 commented on #45979
develop 分支已经去掉对python 3.6的支持了 #46477。

[2022-10-09 05:52] ccslience commented on #46076
遇到了同样的问题

[2022-10-09 06:13] yaomichael commented on #37422
@wozna I consulted @yeliang2258 and he confirmed PaddleSlim (the team for quant models) supports only symmetric quantization, so all models should have zeropoint be 0.

[2022-10-09 06:16] AndPuQing commented on #46609
尝试使用 [FLAGS_initial_gpu_memory_in_mb](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/flags/memory_cn.html#flags-initial-gpu-memory-in-mb) ?

[2022-10-09 07:41] 15554710621 opened #46806 "ToPILImage运行出错"
### 文档链接&描述 Document Links & Description

https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/pytorch_project_convertor/API_docs/vision/torchvision.transforms.ToPILImage.md

~/ToPILImage.py in __init__(self, mode, keys)
     10 class ToPILImage(BaseTransform):
     11     def __init__(self, mode=None, keys=None):
---> 12         super(ToTensor, self).__init__(keys)
     13
     14     def _

[2022-10-09 07:44] trefoil0219 opened #46807 "基于 华为昇腾 NPU 的推理部署"
### 请提出你的问题 Please ask your question

![5c1d9d8c392b93e79e30a1abd928de6](https://user-images.githubusercontent.com/55016894/194744151-56c6a56b-e04a-4259-b2d8-52da028ea8bc.png)
在编译的时候，下载第三方依赖有没有替代从github上下载的方法，或者另外解决的办法

[2022-10-09 07:52] ggbond3 commented on #45070
同问，在使用K210部署paddle时，AIstudio案例是paddle1.8的模型转化成kdmodel,现已经使用paddle2.3和paddleslim生成模型，但无法转换，想要将其转化成1.8下fluid.io生成的模型该怎么转。

[2022-10-09 07:59] ggbond3 opened #46809 "将paddle2的模型转换成paddle1"
### 请提出你的问题 Please ask your question

在使用K210部署paddle时，AIstudio案例是paddle1.8的模型转化成kdmodel。现已经使用paddle2.3和paddleslim生成模型，但无法转换成kdmodel，现在想要将其转化成1.8下fluid.io生成的模型再转换成kdmodel,应该怎么转。

[2022-10-09 08:22] 15554710621 commented on #46806
问题还需要补充吗

[2022-10-09 08:31] hong19860320 commented on #46807
如果没有训练的需求，只进行推理部署的话，可以尝试使用 Paddle Lite https://www.paddlepaddle.org.cn/lite/develop/demo_guides/huawei_ascend_npu.html

[2022-10-09 09:08] dingjiaweiww commented on #46571
你好，飞桨本机安装最低支持centos 7，你可以使用docker 镜像安装：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/docker/linux-docker.html

[2022-10-09 09:08] #46584 closed, assigned to yeliang2258

[2022-10-09 09:12] Caozhou1995 commented on #46625
是你转换后的program，可以参考这个链接：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/static/Program_cn.html#program

[2022-10-09 09:13] dingjiaweiww commented on #46571
如果你安装成功的话，你运行下这个代码看看会输出什么，这个API 是用来检测你所安装的安装包能不能在GPU 上运行，paddle.device.is_compiled_with_cuda()

<img width="471" alt="image" src="https://user-images.githubusercontent.com/23093488/194748361-99702475-8cb2-4b45-9748-4b624d036742.png">

[2022-10-09 09:14] yeliang2258 commented on #46600
先看看libpython3.7m.so.1.0这个库在哪里，然后将路径加入到LD_LIBRARY_PATH中

[2022-10-09 09:17] dingjiaweiww commented on #46386
你好，如果还有疑问，可以提供下复现代码，我们测试一下

[2022-10-09 09:24] dingjiaweiww commented on #46571
如果输出是支持GPU 运行的话，可以再按照以下步骤检查一下：
1、cuda版本和安装包的cuda版本是否对应
2、cuda相关的环境变量是否指向了想要的cuda版本

[2022-10-09 09:32] pangyoki commented on #45701
It's a network problem, can you download this installation package using `wget` locally?

[2022-10-09 10:03] #46604 closed, assigned to yeliang2258

[2022-10-09 10:04] #46586 closed, assigned to firestonelib, yeliang2258

[2022-10-09 11:59] ZhihaoLZH opened #46815 "关于embeding查表耗时问题"
### 请提出你的问题 Please ask your question

请问像fluid.layers.embedding这样的embedding查表操作，内部是否会经过hash之类的操作；耗时是否和embedding表的规模线性相关？即是否词典越大，会导致embedding查表操作增加？

[2022-10-09 12:44] wj-Mcat commented on #45979
可

[2022-10-09 15:16] gouzil commented on #46614
docs文档添加[pr](https://github.com/PaddlePaddle/docs/pull/5340)

[2022-10-09 15:40] #44272 closed, assigned to seemingwang

[2022-10-10 00:32] AndPuQing commented on #36381
请问您已解决这个问题吗，我也遇到了同样问题

[2022-10-10 01:03] perfyperfect opened #46820 "编译出错"
### bug描述 Describe the Bug

按照paddle的文档（https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/compile/windows-compile.html#compile_from_host）编译，vs2019，cuda11.4的环境编译gpu版，bug！

### 其他补充信息 Additional Supplementary Information

FAILED: paddle/fluid/inference/paddle_inference.dll paddle/fluid/inference/paddle_inference.lib
cmd.exe /C "cd . && "C:\Program Files\CMake\bin\cm