[2020-11-21 04:22] AnBaolei1984 opened #28869 "【2.0 API文档内测】Embedding文档问题"
英文文档：

1. 说明处的示例，和中文文档相比，缺少case2 LoDTensor的说明
2. 返回值说明错误，不应该是None。同时，应该没有Attribute weight。

[2020-11-21 04:28] AnBaolei1984 opened #28870 "【2.0 API文档内测】functional.embedding 文档问题"
英文说明处需要标记此OP未来会被移除，参考中文部分

[2020-11-21 04:29] ctkindle opened #28871 "【2.0 API文档内测】paddle.vision.models.VGG 文档问题"
### 文档问题描述：【2.0 API文档内测】paddle.vision.models.VGG 文档问题

#### API文档描述是否清晰？

中文：3
* 函数描述中没有“with_pool”参数

英文：4
* 删除代码示例后的无关内容：
[code]

#### 参数说明是否清晰

中文：3
* 参数介绍中没有“with_pool”参数

英文：5

#### 返回/形状说明是否清晰

中文：5

英文：2
* 没有注解返回的参数

#### 示例代码是否有效？

中文：5

英文：5

#### 中英文内容是否一致？

【不一致】

#### 综合

评分：4
* 注意不要丢掉参数解释
* 为何要加forward()成员函数的介绍代码？如果是为了说明paddle.vision.models.ResNet这样的高级api也是继承自nn.Layer类，使用其成员函数，最好说明下这一

[2020-11-21 04:33] AnBaolei1984 opened #28872 "【2.0 API文档内测】InstanceNorm2D文档问题"
中文说明处缺少源代码链接

[2020-11-21 04:37] ctkindle opened #28873 "【2.0 API文档内测】paddle.vision.transforms.ColorJitter 文档问题"
### 文档问题描述：【2.0 API文档内测】paddle.vision.transforms.ColorJitter 文档问题

#### API文档描述是否清晰？

中文：5

英文：5

#### 参数说明是否清晰

中文：3
* “keys”参数的解释没太明白

英文：3
* “keys”参数的解释没太明白

#### 返回/形状说明是否清晰

中文：5

英文：2
* 没有说明返回的参数

#### 示例代码是否有效？

中文：5

英文：5

#### 中英文内容是否一致？

【不一致】

#### 综合

评分：4

* “keys”参数解释为“与 BaseTransform 定义一致”，但是也搜索不到相关信息。如果解释比较繁杂、冗余，可给出跳转链接
* 注意不要丢掉返回参数的解释
* 示例代码可添加小部分关键代码注释

[2020-11-21 04:40] AnBaolei1984 opened #28874 "【2.0 API文档内测】functional.instance_norm文档问题"
1. 中文文档处缺少源代码链接
2. 返回值应该是和输入一致的norm out tensor，而不是none。这个中英文文档、包括源代码注释应该都有问题。

[2020-11-21 04:40] ctkindle opened #28875 "【2.0 API文档内测】paddle.vision.transforms.Compose 文档问题"
### 文档问题描述：【2.0 API文档内测】paddle.vision.transforms.Compose 文档问题

#### API文档描述是否清晰？

中文：5

英文：5

#### 参数说明是否清晰

中文：5

英文：5

#### 返回/形状说明是否清晰

中文：5

英文：5

#### 示例代码是否有效？

中文：5

英文：5

#### 中英文内容是否一致？

【一致】

#### 综合

评分：5

* 文档解释清晰、完整，未发现明显错误。
* 示例代码可添加小部分关键代码注释

[2020-11-21 04:44] ctkindle opened #28876 "【2.0 API文档内测】paddle.vision.transforms.Normalize 文档问题"
### 文档问题描述：【2.0 API文档内测】paddle.vision.transforms.Normalize 文档问题

#### API文档描述是否清晰？

中文：3
* 函数解释说还可以每个通道设定单独的均值和方差，但没说清楚怎么设置，给mean输入一个列表么？“mean=[.45, .49, .4]”这样么？

英文：3
* 函数解释说还可以每个通道设定单独的均值和方差，但没说清楚怎么设置，给mean输入一个列表么？“mean=[.45, .49, .4]”这样么？

#### 参数说明是否清晰

中文：5

英文：5

#### 返回/形状说明是否清晰

中文：5

英文：2
* 没有注解返回的参数

#### 示例代码是否有效？

中文：5

英文：5

#### 中英文内容是否一致？

【不一致】

#### 综合

评分：4

* 请详细解释参数用法
* 示例代码可添

[2020-11-21 04:50] ctkindle opened #28877 "【2.0 API文档内测】paddle.vision.transforms.RandomCrop 文档问题"
### 文档问题描述：【2.0 API文档内测】paddle.vision.transforms.RandomCrop 文档问题

#### API文档描述是否清晰？

中文：3
* “fill”、“padding_mode”参数没有列出

英文：5

#### 参数说明是否清晰

中文：3
* “keys”参数的解释没太明白
* 函数描述和参数注解中没有“fill”、“padding_mode”参数

英文：3
* “keys”参数的解释没太明白
* 参数注解中没有“fill”、“padding_mode”参数

#### 返回/形状说明是否清晰

中文：5

英文：2
* 没有注解返回的参数

#### 示例代码是否有效？

中文：5

英文：5

#### 中英文内容是否一致？

【不一致】

#### 综合

评分：4
* 注意不要丢掉参数解释
* “keys”参数解释为“与 Ba

[2020-11-21 04:54] ctkindle opened #28878 "【2.0 API文档内测】paddle.vision.transforms.Resize 文档问题"
### 文档问题描述：【2.0 API文档内测】paddle.vision.transforms.Resize 文档问题

#### API文档描述是否清晰？

中文：5

英文：5

#### 参数说明是否清晰

中文：3
* “keys”参数的解释没太明白

英文：3
* “keys”参数的解释没太明白

#### 返回/形状说明是否清晰

中文：5

英文：2
* 没有注解返回的参数

#### 示例代码是否有效？

中文：5

英文：5

#### 中英文内容是否一致？

【不一致】

#### 综合

评分：4
* “keys”参数解释为“与 BaseTransform 定义一致”，但是也搜索不到相关信息。如果解释比较繁杂、冗余，可给出跳转链接
* 示例代码可添加小部分关键代码注释

[2020-11-21 05:02] duaneya commented on #28757
安装了这个apt install libnccl2=2.6.4-1+cuda10.0 libnccl-dev=2.6.4-1+cuda10.0还是不行
[code]

[2020-11-21 05:50] duaneya commented on #28757
用这个也不行
docker run --name ppocr -v $PWD:/paddle --gpus all -p 6000:22 -p 6001:80 -it paddlepaddle/paddle:latest-gpu-cuda10.2-cudnn7 /bin/bash
[code]

[2020-11-21 05:51] duaneya commented on #28757
显卡型号不支持吗，还是这个测试程序有问题

[2020-11-21 06:09] jialiasus2 opened #28879 "【2.0 API文档内测】paddle.metric.Auc文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：3分：
1、目录应该摘要显示每个子函数，而非“参数”“返回”等。
2、未给出构造函数参数表。
英文：3分：
1、构造函数描述中多了一个.metric。
2、示例代码格式错误，跑到了代码框外边（浏览器firefox 83.0/ubuntu1804）。尝试点击复制按钮，仅能复制到一个空行。

#### 参数说明是否清晰
中文：3分：
1、构造函数的curve参数从源代码看好像没用，从描述看好像要区分ROC和PR两种计算模式，但也不清楚。
2、update函数未对额外参数（*args）的使用场景作出说明。函数名里参数为pred和label，描述里是preds和labels，不一致。源代码里是有s的。
英文：4分
英文update函数的参数描述是上下一致的。

#### 返回/形状说明是否清晰
中文：5分：
1、从代码看label

[2020-11-21 07:11] Attackzzw opened #28880 "【2.0 API文档内测】paddle.nn.functional.one_hot 文档评估"
**文档问题描述：**
paddle.nn.functional.one_hot 文档评估

**API文档描述是否清晰？**
中文：4分，用法描述比较清楚，感觉还可以再细一点，像具体是在哪方面使用或者介绍下变成one-hot后有什么优势（感觉既然是文档，写全一点也没啥坏处，对小白友好些）；
英文：4分

**参数说明是否清晰**
中文：5分，参数描述很详细，简洁
英文：5分

**返回/形状说明是否清晰**
中文：5分，简单明了；
英文：5分

**示例代码是否有效？**
中文：4分，示例代码可以，也给出了返回结果，只是x的形状为4，num_classes也是4，容易搞混，可以在来一个不同参数的例子；
英文：4分

**中英文内容是否一致？**
一致

**其他**
无

**整体评价**
4分，一般多分类标签使用，处理离散值，文档总体简洁，望能多介绍些one_hot使用场景或优缺点；

[2020-11-21 07:47] HXia-XXL opened #28881 "Dataset类__getitem__()无法返回字典类型数据"
在Dataset类中定义 __getitem__()方法中，需要传很多数据。如果用return字典类型

` def  __getitem__():                             `
`      # process code                         `
`       sample：{                                 `
`                 ‘image1’：data1,            `
`                 'image2'：data2,             `
`                 'image3'：data3,             `
`                 'image4'：data4,}            `
`

[2020-11-21 08:15] haozech commented on #28779
你好，感谢反馈。这边建议尝试使用docker环境来进行编译，具体请看教程  https://www.paddlepaddle.org.cn/documentation/docs/zh/install/install_Docker.html

[2020-11-21 08:37] KMC20 opened #28882 "【2.0RC API文档内测】Adam 文档问题"
### 文档问题描述：
paddle.optimizer.Adam 文档评估

#### API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：3分，backward API部分有误，例子中的backward方法是paddle.nn.Linear对象的

#### 参数说明是否清晰
中文：4分，参数顺序（name与lazy_mode）和代码不一致；
英文：4分

#### 返回/形状说明是否清晰
中文：4分，例子中有输出的代码少
英文：4分，get_lr部分仅输出了初始lr

#### 示例代码是否有效？
中文：3分，最后一段代码跑不通。代码简单，基本没有使用可选参数；最后演示get_lr的代码会由于没有PiecewiseLR而报错，导致执行不到get_lr（可参照英文文档修改）。
英文：5分，所有代码都能跑通

#### 中英文内容是否一致？
不一致。
1.参数说明：参数顺序不

[2020-11-21 08:39] YeFeiyangx commented on #28841
嗯嗯，的确，docker里面的paddle包不大对。换一个版本，就没有那条报错信息了。但是程序卡在了

nvidia-smi -L found gpu count: 1 处，只显示了
W1121 08:29:54.839927    67 device_context.cc:236] Please NOTE: device: 0, CUDA Capability: 86, Driver API Version: 11.1, Runtime API Version: 9.0
W1121 08:29:54.841588    67 device_context.cc:244] device: 0, cuDNN Version: 7.6.
两条警告，就再也不往下运行了，请问是怎么回事？

[2020-11-21 08:49] YeFeiyangx commented on #28841
一段时间后跳出如下信息。。。。。
File "/paddle/agv_agent.py", line 28, in __init__
    super(Agent, self).__init__(algorithm)
  File "/usr/local/lib/python3.7/site-packages/parl/core/fluid/agent.py", line 85, in __init__
    self.fluid_executor.run(fluid.default_startup_program())
  File "/usr/local/lib/python3.7/site-packages/paddle/fluid/executor.py", line 780, in run
    six.reraise(*sys.exc_info())
  File "/u

[2020-11-21 08:51] Attackzzw opened #28883 "【2.0 API文档内测】paddle.nn.functional.pad 文档评估"
# **文档问题描述：**
paddle.nn.functional.pad 文档评估

**API文档描述是否清晰？**
中文：2分，pad操作没具体说明要干什么；
英文：3分，有说明，但不清晰

**参数说明是否清晰**
中文：2分，参数x的format和data_format重复，format的6个格式不清楚，mode可以，
英文：2分

**返回/形状说明是否清晰**
中文：4分，返回结果/类型清晰；
英文：4分

**示例代码是否有效？**
中文：4分，示例代码可以，也给出了返回结果；
英文：4分

**中英文内容是否一致？**
不一致

**其他**
无

**整体评价**
3分，pad感觉像np.pad，文档说明有些欠缺；

[2020-11-21 09:00] YeFeiyangx commented on #17222
请问如何在 flags.make中加参数，我目前用的是3080但是cuda版本是9

[2020-11-21 09:04] lwbmowgli opened #28884 "【2.0 API文档内测】AdaptiveAvgPool2D文档问题"
文档问题描述：
paddle.nn.AdaptiveAvgPool2D文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚。计算公式中，未说明floor是向下取整、ceil向上取整。对比了其他框架，应该说明一下AdaptiveAvgPool和AvgPool的区别，未说明当参数为1的时候AdaptiveAvgPool可作为全局平均池化层
英文：3分，英文中，该API调用方式为 paddle.nn.layer.pooling.AdaptiveAvgPool2D，应该是还未升级。

参数说明是否清晰
中文：5分，参数描述较为清晰，可以由公示很清晰的弄明白这个API的功能。
英文：5分

返回/形状说明是否清晰
中文：4分，形状描写的很清楚；对于该API的返回，文档的描述为：计算AdaptiveAvgPool2D的可调用对象，个人觉得返回的是Tensor更容易理解。
英文：4分

示

[2020-11-21 09:17] lwbmowgli opened #28885 "【2.0 API文档内测】AvgPool2D文档问题"
文档问题描述：
paddle.nn.AvgPool2D文档评估

API文档描述是否清晰？
中文：0分，打不开
英文：2分，应该是RD还没弄完全，整个文档是以Markdown格式存在的。

参数说明是否清晰
中文：0分
英文：1分

返回/形状说明是否清晰
中文：0分
英文：1分

示例代码是否有效？
中文：0分
英文：1分

中英文内容是否一致？

其他
无

整体评价
0.5分，中文的打不开，英文的打开了之后，阅读难度较大。

[2020-11-21 09:29] Zhangbeibei1991 opened #28886 "【2.0 API文档内测】paddle.nn.Sequential 文档问题"
文档问题描述：
paddle.nn.Sequential 文档评估

API文档描述是否清晰？
中文：5分，描述比较清楚；
英文：5分，整体描述比较清楚

参数说明是否清晰
中文：5分，比较清晰；
英文：5分, 比较清晰

返回/形状说明是否清晰
中文：5分，比较清晰
英文：5分，比较清晰

示例代码是否有效？
中文：5分，有效；
英文：5分，有效

中英文内容是否一致？
基本一致

其他
无

整体评价
5分，比较清晰，因为以前学过别的框架，很容易理解

[2020-11-21 09:55] KMC20 opened #28887 "【2.0RC API文档内测】CosineAnnealingDecay 文档问题"
### 文档问题描述：
paddle.optimizer.lr.CosineAnnealingDecay 文档评估

#### API文档描述是否清晰？
中文：5分
英文：4分，公式没有分行，不好看

#### 参数说明是否清晰
中文：3分，参数T_max 类型错误（英文是正确的），实测使用float类型时报错；参数last_epoch 表述不清楚
英文：5分

#### 返回/形状说明是否清晰
中文：5分
英文：5分

#### 示例代码是否有效？
中文：4分，可选参数没有用全，不够充分
英文：4分，同上

#### 中英文内容是否一致？
不一致
1.API参数：上述已说明
2.类方法：中文只有step，没有代码中定义的get_lr。英文有很多中文中没有提到的类方法（包括get_lr）

#### 其他
无

[2020-11-21 10:05] ruyijidan opened #28888 "【2.0 API文档内测】AvgPool2D文档问题"
文档问题描述：
paddle.nn.AvgPool2D 文档评估

API文档描述是否清晰？
中文：0分
英文：1分，描述不清，还有System Message

参数说明是否清晰
中文：0分
英文：1分，描述不清，还有System Message

返回/形状说明是否清晰
中文：0分
英文：1分，描述不清，还有System Message

示例代码是否有效？
中文：0分
英文：3分

中英文内容是否一致？
不一致

其他
英文排版有问题，后面都是无关的内容。完全不想看
中文链接打不开：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/layer/pooling/AvgPool2D_cn.html

整体评价
对平均池化了解的话一般不需要看文档，一般参考源代码查看参数即可

[2020-11-21 10:11] ruyijidan opened #28889 "【2.0 API文档内测】functional.avg_pool2d文档问题"
文档问题描述：
functional.avg_pool2d 文档评估

API文档描述是否清晰？
中文：0分
英文：4分，描述清楚

参数说明是否清晰
中文：0分
英文：4分

返回/形状说明是否清晰
中文：0分
英文：4分

示例代码是否有效？
中文：0分
英文：4分

中英文内容是否一致？
不一致

其他
英文排版有问题，但是基本能看了
中文链接打不开：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/functional/pooling/avg_pool2d_cn.html

整体评价
2分，深度学习中最常用的操作；不看文档一般也可以正常使用

[2020-11-21 10:19] ruyijidan opened #28890 "【2.0 API文档内测】functional.avg_pool2d文档问题"
文档问题描述：
functional.avg_pool2d 文档评估

API文档描述是否清晰？
中文：0分
英文：5分，描述清楚

参数说明是否清晰
中文：0分
英文：5分

返回/形状说明是否清晰
中文：0分
英文：5分

示例代码是否有效？
中文：0分
英文：5分

中英文内容是否一致？
不一致

其他
英文无问题。
中文链接打不开：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/functional/pooling/adaptive_max_pool2d_cn.html

整体评价
3分，分割中的常用的操作；不看文档有点不懂，需要参考上下代码及维度关系才能知道使用方法

[2020-11-21 10:23] ruyijidan opened #28891 "【2.0 API文档内测】AdaptiveMaxPool2D文档问题"
文档问题描述：
AdaptiveMaxPool2D 文档评估

API文档描述是否清晰？
中文：0分
英文：2分，描述基本清楚

参数说明是否清晰
中文：0分
英文：2分

返回/形状说明是否清晰
中文：0分
英文：2分

示例代码是否有效？
中文：0分
英文：2分

中英文内容是否一致？
不一致

其他
英文排版有问题，对付能看
中文链接打不开：
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/layer/pooling/AdaptiveMaxPool2D_cn.html

整体评价
1分，分割中的常用的操作；不看文档有点不懂，需要参考上下代码及维度关系才能知道使用方法

[2020-11-21 10:25] KMC20 opened #28892 "【2.0RC API文档内测】ExponentialDecay 文档问题"
### 文档问题描述：
paddle.optimizer.lr.ExponentialDecay 文档评估

#### API文档描述是否清晰？
中文：4分，文档公式缺少指数（代码实现中有gamma的指数，但是参数说明和代码注释没提）
英文：3分，总述太简略；公式同上

#### 参数说明是否清晰
中文：3分，参数last_epoch 表述不清楚；gamma没有强调小于1.0（英文版和代码注释都提到了，讲一下可能对新手友好些）
英文：5分

#### 返回/形状说明是否清晰
中文：5分
英文：5分

#### 示例代码是否有效？
中文：4分，可选参数没有用全，不够充分
英文：4分，同上

#### 中英文内容是否一致？
不一致
1.API参数说明：上述已说明
2.类方法：中文只有step，没有代码中定义的get_lr。英文有很多中文中没有提到的类方法（包括get_lr）

#### 其他

[2020-11-21 10:27] ruyijidan opened #28893 "【2.0 API文档内测】AdaptiveAvgPool2D文档问题"
文档问题描述：
AdaptiveAvgPool2D 文档评估

API文档描述是否清晰？
中文：5分，描述清楚
英文：3分，描述清楚

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
中文无太大问题
英文排版有问题

整体评价
4.5分

[2020-11-21 10:29] ruyijidan opened #28894 "【2.0 API文档内测】adaptive_avg_pool2d文档问题"
文档问题描述：
adaptive_avg_pool2d 文档评估

API文档描述是否清晰？
中文：5分，描述清楚
英文：5分，描述清楚

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
中英文均无太大问题

整体评价
5分

[2020-11-21 11:33] Mesilenceki opened #28895 "【2.0 API文档内测】BatchSampler 文档问题"
文档问题描述：
paddle.io.BatchSampler文档评估

API文档描述是否清晰？
中文：4分，感觉像是直接将英文文档翻译过来比较生硬；
英文：4分  功能描述比较清晰, 但是对于Batch sampler 这的要求比较抽象，希望具体一点

参数说明是否清晰
中文：5分，介绍的比较详细；
英文：5分   介绍的比较详细；

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：4分，示例代码比较详细；
英文：4分，示例代码比较详细，但希望能多一个sample会更详细

中英文内容是否一致？
一致

其他
无

整体评价
4分， 文档介绍的比较详细，但有点抽象， 对于barch sample的介绍希望能更具体一点；

[2020-11-21 11:35] Mesilenceki commented on #28895
补充一下，中文文档的格式有点问题忘了写了

[2020-11-21 11:43] KMC20 opened #28896 "【2.0RC API文档内测】StepDecay 文档问题"
### 文档问题描述：
paddle.optimizer.lr.StepDecay 文档评估

#### API文档描述是否清晰？
中文：5分
英文：5分

#### 参数说明是否清晰
中文：5分
英文：5分

#### 返回/形状说明是否清晰
中文：5分
英文：5分

#### 示例代码是否有效？
中文：4分，开头参数示意代码里“- 1”中间的空格很碍眼；衰减过程示例代码没有体现实际的浮点数误差，实测衰减到0.005时就会开始显示浮点数误差了
英文：4分，同上

#### 中英文内容是否一致？
不一致。
类方法：中文只有step，没有代码中定义的get_lr。英文有很多中文中没有提到的类方法（包括get_lr）

#### 其他
无

[2020-11-21 11:47] shaunhurryup commented on #28852
![image](https://user-images.githubusercontent.com/45918719/99876506-1bb89280-2c32-11eb-976f-f143d95e9254.png)

2.0rc版本的文档写着 **推荐别名：paddle.fill_constant** ，调用的时候 **AttributeError: module 'paddle' has no attribute 'fill_constant'** 。

### 这么把文档放在版本前面的方法好像不太妥当吧？？？

[2020-11-21 12:29] KMC20 opened #28897 "【2.0RC API文档内测】Optimizer 文档问题"
### 文档问题描述：
paddle.optimizer.Optimizer 文档评估

#### API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：3分，backward API部分有误，例子中的backward方法是paddle.nn.Linear对象的

#### 参数说明是否清晰
中文：1分，参数列表错误：
1.learning_rate必选，无默认值，在参数列表代码和详细解释中均错误；
2.实际代码中不存在参数列表代码中的参数epsilon；
3.参数详细解释中learning_rate类型前面有下划线，与实际代码不一致；
4.参数详细解释中grad_clip是裁剪策略前面都加了"cn_"
英文：5分

#### 返回/形状说明是否清晰
中文：3分，未提及基类的返回值
英文：4分，get_lr部分仅输出了初始lr

#### 示例代码是否有效？
中文：3分，最后一段

[2020-11-21 12:32] Mesilenceki opened #28898 "【2.0 API文档内测】DataLoader 文档问题"
文档问题描述：
paddle.io.DataLoader 文档评估

API文档描述是否清晰？
中文：5分，整体描述比较清楚；
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分，形状描写的很清楚，但是格式有些问题；
英文：5分

示例代码是否有效？
中文：4分，示例代码比较详细, example有点问题,需要预先在运行前设定静态图运行模式；
英文：4分

中英文内容是否一致？
一致

其他
无

整体评价
5分, DataLoader作为训练流程中必不可少的一步, 文档和示例代码介绍的比较详细, 代码需要点小的补充；

[2020-11-21 12:53] Mesilenceki opened #28899 "【2.0 API文档内测】Dataset 文档问题"
文档问题描述：
paddle.io.Dataset 文档评估

API文档描述是否清晰？
中文：5分，整体描述比较清楚；
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
5分， 这个接口不复杂，文档介绍的比较详细，完善。

[2020-11-21 12:55] shippingwang opened #28900 "How to override the keys?"
How to override the keys after  ```paddle.load```  ?

[code]
why the pop method doesn't work?

[2020-11-21 13:16] KMC20 opened #28901 "【2.0RC API文档内测】Momentum 文档问题"
### 文档问题描述：
paddle.optimizer.Momentum 文档评估

#### API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：2分，错误较多，尤其后面类方法的部分相关度很低

#### 参数说明是否清晰
中文：3分，
1.参数learning_rate类型有误，应与其父类Optimizer一致
2.参数详细解释中grad_clip是裁剪策略前面都加了"cn_"
英文：2分，
1.参数learning_rate类型有误，英文和代码注释应与其父类Optimizer一致（实测使用Tensor类型会报类型错误“TypeError: learning rate should be float or LRScheduler...”）
2.缺少参数use_nesterov的解释（代码注释中也缺少）
3.缺少参数grad_clip的解释（此处页面有bug，显示了解析错误

[2020-11-21 13:23] skywalk163 opened #28902 "【2.0 API文档内测】paddle.vision.datasets.Cifar10文档问题"
**文档问题描述：**
paddle.vision.datasets.Cifar10文档评估

**API文档描述是否清晰？**
中文：4分，整体描述比较清楚；希望能增加较详细的介绍
英文：4分，ok

**参数说明是否清晰**
中文：4分，基本能看明白
英文：4分，ok

**返回/形状说明是否清晰**
中文：4分，只有返回，没有type，没有形状（shape）；
英文：4分，有返回，有type，没有形状

**示例代码是否有效？**
中文：2分，报错
英文：2分，报错
报错信息为：ValueError: operands could not be broadcast together with shapes (3,32,32) (1,1,3)

**中英文内容是否一致？**
基本一致
中文内容中第一句没有像英文写成这样：class paddle.vision.datasets.cifa

[2020-11-21 13:29] lyn1225 opened #28903 "tensor问题"
paddle中创建NCHW张量后，经过resize_bilinear或adaptive_pool2d处理后（处理后的形状保持一致），实际的数据会发生变化吗？经过验证在pytorch中数据不会发生变化，但是不知道在paddle中是否也是不变的，请大佬解答。

[2020-11-21 13:41] skywalk163 opened #28904 "【2.0 API文档内测】paddle.vision.datasets.MNIST 文档问题"
**文档问题描述：**
paddle.vision.datasets.MNIST文档评估

**API文档描述是否清晰？**
中文：3分，几乎没有介绍
英文：3分，

**参数说明是否清晰**
中文：4分，基本能看明白
英文：4分，ok

**返回/形状说明是否清晰**
中文：4分，只有返回，没有返回类型，没有形状（shape）；
英文：4分，有返回，有返回类型，没有形状

**示例代码是否有效？**
中文：3分，有效
英文：3分，
例子太简单，而且只有test，没有train的。 建议至少要包括train和test 。 可以有个全流程的训练案例，或者指向一个全流程案例。另外例子输出太多，要简化。

**中英文内容是否一致？**
基本一致
中文内容中第一句没有像英文写成这样：class paddle.vision.datasets.mnist.MNIST(image_path=None,

[2020-11-21 13:52] KMC20 opened #28905 "【2.0RC API文档内测】SGD 文档问题"
### 文档问题描述：
paddle.optimizer.SGD 文档评估

#### API文档描述是否清晰？
中文：3分，整体描述比较清楚，只是参数说明部分错误过多；
英文：2分，错误较多，尤其后面类方法的部分相关度很低

#### 参数说明是否清晰
中文：1分，
1.参数learning_rate类型有误，应与其父类Optimizer一致
2.参数weight_decay类型有误，实测为Tensor类型时会报错
3.参数weight_decay默认值有误，代码中为None而不是详细解释中的0.01
4.参数详细解释中grad_clip是裁剪策略前面都加了"cn_"
英文：2分，
1.参数learning_rate类型有误，英文和代码注释应与其父类Optimizer一致（实测使用Tensor类型会报类型错误“TypeError: learning rate should be floa

[2020-11-21 14:23] skywalk163 opened #28906 "【2.0 API文档内测】paddle.vision.models.ResNet 文档问题"
**文档问题描述：**
paddle.vision.models.ResNet文档评估

**API文档描述是否清晰？**
中文：3分，几乎没有介绍
英文：3分，

**参数说明是否清晰**
中文：4分，基本能看明白
英文：4分，ok

**返回/形状说明是否清晰**
中文：4分，有返回，有返回类型；
英文：4分，有返回，有返回类型

**示例代码是否有效？**
中文：4分，有效
英文：3分，
例子太简单，英文例子比中文例子少几句。

**中英文内容是否一致？**
基本一致。但是英文页面有问题，把其它很多API也包括进来了。

其他
无

**整体评价**
4分，建议把API文档描述部分再详细一些。

[2020-11-21 14:48] skywalk163 opened #28907 "【2.0 API文档内测】paddle.vision.models.VGG文档问题"
**文档问题描述：**

paddle.vision.models.VGG文档评估

**API文档描述是否清晰？**
中文：4分，可以再详细一点
英文：4分，

**参数说明是否清晰**
中文：4分，清晰
英文：4分，ok

**返回/形状说明是否清晰**
中文：4分，有返回
英文：3分，无返回

**示例代码是否有效？**
中文：4分，有效
英文：3分，例子太简单，英文例子比中文例子少几句。

**中英文内容是否一致？**
基本一致。但是英文页面有问题，把其它很多API也包括进来了。

其他
无

**整体评价**
4分，建议把API文档描述部分再详细一些。

[2020-11-21 14:52] Attackzzw opened #28908 "【2.0 API文档内测】paddle.nn.GroupNorm 文档评估"
# **文档问题描述：**
paddle.nn.GroupNorm 文档评估

**API文档描述是否清晰**
中文：4分，有些过于简明，好在后面有论文连接，对于有时候连外网很慢很慢的就比较头疼；
英文：4分

**参数说明是否清晰**
中文：5分，总体很清晰；
英文：5分

**返回/形状说明是否清晰**
中文：4分，返回写着无，output但写明了形状；
英文：4分

**示例代码是否有效**
中文：4分，示例代码有效，只用了前两个参数，后面没有使用；
英文：4分

**中英文内容是否一致**
不一致

**其他**
无

**整体评价**
4分，整体还好，但介绍那有些潦草，例子有些简单，参数说明那中英文有些不同；

[2020-11-21 15:06] Mesilenceki opened #28909 "【2.0 API文档内测】DistributedBatchSampler 文档问题"
文档问题描述：
paddle.io.DistributedBatchSampler 文档评估

//没有中文文档的链接

API文档描述是否清晰？
中文
英文：4分 介绍清晰

参数说明是否清晰
中文：
英文：5分

返回/形状说明是否清晰
中文：
英文：1分 没有写返回的类型

示例代码是否有效？
中文：
英文：4分

中英文内容是否一致？
不一致

其他
无

整体评价
3分 没有中文文档的链接 英文的文档介绍有缺漏 别的描述还算清晰 代码也可执行

[2020-11-21 15:33] Mesilenceki opened #28910 "【2.0 API文档内测】Tensor 文档问题"
文档问题描述：
paddle.Tensor 文档评估

英文文档链接无效

API文档描述是否清晰？
中文：5分，整体描述比较清楚；
英文

参数说明是否清晰
中文：无参数
英文：

返回/形状说明是否清晰
中文：5分
英文：

示例代码是否有效？
中文：5分
英文：

中英文内容是否一致？
不一致

其他
无

整体评价
4分 Tensor 主要有很多个方法, 文档描述的都比较详细, 但是英文的文档需要补充一下链接。

[2020-11-21 16:02] Siyou-Li opened #28911 "【2.0 API文档内测】paddle.arange文档问题"
文档问题描述：
paddle.arange 文档评估

API文档描述是否清晰？
中文：4分，很清晰；
英文：4分，流利清晰
英文api未更新
![image](https://user-images.githubusercontent.com/39124862/99908630-a2e33480-2d1e-11eb-85c1-c58530df6925.png)

参数说明是否清晰
中文：4分，
英文：5分

返回/形状说明是否清晰
中文：5分，
英文：5分

示例代码是否有效？
中文：4分
英文：4分

中英文内容是否一致？
一致

其他
无

整体评价
4

[2020-11-21 16:06] Siyou-Li opened #28912 "【2.0 API文档内测】paddle.argmax 文档问题"
文档问题描述：
paddle.argmax 文档评估

API文档描述是否清晰？
中文：4分
英文：4分
英文api未更新
![image](https://user-images.githubusercontent.com/39124862/99908590-7cbd9480-2d1e-11eb-95c3-0dbb7d82ed70.png)

参数说明是否清晰
中文：5分，
英文：5分

返回/形状说明是否清晰
中文：4分，
英文：4分

示例代码是否有效？
中文：4分
英文：4分

中英文内容是否一致？
一致

其他
无

整体评价
4 已经叙述很清晰了

[2020-11-21 16:08] Siyou-Li opened #28913 "【2.0 API文档内测】paddle.clip 文档问题"
文档问题描述：
paddle.clip 文档评估

API文档描述是否清晰？
中文：4分
英文：4分
英文api未更新
![image](https://user-images.githubusercontent.com/39124862/99908558-5697f480-2d1e-11eb-8ea8-150e3b068b37.png)

参数说明是否清晰
中文：4分，
英文：4分

返回/形状说明是否清晰
中文：5分，
英文：5分

示例代码是否有效？
中文：4分
英文：4分

中英文内容是否一致？
一致

其他
无

整体评价
4分 叙述清晰，代码逻辑完整

[2020-11-21 16:09] Attackzzw opened #28914 "【2.0 API文档内测】paddle.nn.BiRNN 文档评估"
# **文档问题描述：**
paddle.nn.BiRNN 文档评估

**API文档描述是否清晰**
中文：5分，描述清晰；
英文：5分

**参数说明是否清晰**
中文：4分，参数说明清晰，中英文参数不一致；
英文：4分

**返回/形状说明是否清晰**
中文：4分，清晰，中英文说明不一致；
英文：4分

**示例代码是否有效**
中文：4分，示例代码返回结果outputs.shape第一维不一致，其他一致；
英文：4分

**中英文内容是否一致**
不一致，英文有些乱码还有参数不一致

**其他**
英文后面有很多不相关说明

**整体评价**
5分，整体很好，也说明了内容，只是中英两个文档细节处需要处理下；

[2020-11-21 16:11] Siyou-Li opened #28915 "【2.0 API文档内测】paddle.concat 文档问题"
文档问题描述：
paddle.concat 文档评估

API文档描述是否清晰？
中文：5分，整体描述比较清楚；
英文：4分

英文api未更新
![image](https://user-images.githubusercontent.com/39124862/99908517-1769a380-2d1e-11eb-851a-a7a7dd1efff3.png)

参数说明是否清晰
中文：5分，
英文：5分

返回/形状说明是否清晰
中文：5分，
英文：5分

示例代码是否有效？
中文：4分，示例代码很简单，；
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
5分 很直观，很简洁。中英文一致，但中文代码最好有中文注释

[2020-11-21 16:15] Siyou-Li opened #28916 "【2.0 API文档内测】paddle.empty 文档问题"
文档问题描述：
paddle.empty 文档评估

API文档描述是否清晰？
中文：5分
英文：4分

英文api未更新
![image](https://user-images.githubusercontent.com/39124862/99908484-e5f0d800-2d1d-11eb-8200-ee9188a45a72.png)

参数说明是否清晰
中文：4分，
英文：5分

返回/形状说明是否清晰
中文：4分，
英文：5分

示例代码是否有效？
中文：5分，
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
4分，示例代码场景丰富，比较全面

[2020-11-22 01:52] jialiasus2 opened #28917 "【2.0 API文档内测】paddle.metric.Precision文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：3分：
1、目录应该摘要显示每个子函数，而非“参数”“返回”等。
2、未给出构造函数参数表。
3、建议描述中加一句“与Accuracy的区别是Precision只考虑正例”。
4、name()函数的描述建议改为“返回Metric实例的名字, 即构造函数传入的name参数。默认是'precision'。”。
英文：3分：
1、构造函数描述中多了一个.metrics。
2、示例代码格式错误，跑到了代码框外边（浏览器firefox 83.0/ubuntu1804）。尝试点击复制按钮，仅能复制到一个空行。

#### 参数说明是否清晰
中文：4分：
1、从源码看update函数没有额外参数（*args）。
英文：5分
1、英文中的参数列表更准确。

#### 返回/形状说明是否清晰
中文：5分：
1、未对参数形状作出说明，仅用“向

[2020-11-22 02:05] forAlgorithm opened #28918 "2.0 API文档内测】paddle.concat 文档问题"
文档问题描述：
paddle.concat 文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：4分

参数说明是否清晰
中文：3分
英文：3分

返回/形状说明是否清晰
中文：4分，
英文：4分

示例代码是否有效？
中文：2分，示例代码很简单
英文：2分

中英文内容是否一致？
一致

其他
无

整体评价
3分，建议补充不同维度代码

[2020-11-22 02:09] forAlgorithm opened #28919 "【2.0 API文档内测】paddle.empty 文档问题"
文档问题描述：
paddle.empty 文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：4分

参数说明是否清晰
中文：3分，
英文：3分

返回/形状说明是否清晰
中文：3分，形状描写的很清楚，但是格式有些问题；
英文：4分

示例代码是否有效？
中文：3分，
英文：3分

中英文内容是否一致？
一致

其他
无

整体评价
3分，中文明显没有英文仔细

[2020-11-22 02:12] jialiasus2 opened #28920 "【2.0 API文档内测】paddle.metric.Recall文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：3分：
1、目录应该摘要显示每个子函数，而非“参数”“返回”等。
2、未给出构造函数参数表。
3、name()函数的描述建议改为“返回Metric实例的名字, 即构造函数传入的name参数。默认是'recall'。”。
英文：3分：
1、构造函数描述中多了一个.metrics，句末没有句号(.)。
2、示例代码格式错误，跑到了代码框外边（浏览器firefox 83.0/ubuntu1804）。尝试点击复制按钮，仅能复制到一个空行。

#### 参数说明是否清晰
中文：4分：
1、从源码看update函数没有额外参数（*args）。
英文：5分
1、英文中的参数列表更准确。

#### 返回/形状说明是否清晰
中文：5分：
1、update函数未对参数形状作出说明，仅用“向量”隐喻一维感觉不明显。从代码和实测看labels参

[2020-11-22 02:12] forAlgorithm opened #28921 "【2.0 API文档内测】paddle.flatten 文档问题"
文档问题描述：
paddle.flatten 文档评估

API文档描述是否清晰？
中文：5分，整体描述比较清楚；
英文：5分

参数说明是否清晰
中文：5分，
英文：5分

返回/形状说明是否清晰
中文    5分，
英文：5分

示例代码是否有效？
中文：5分，
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
5分，这个很不错

[2020-11-22 02:15] forAlgorithm opened #28922 "【2.0 API文档内测】paddle.flip 文档问题"
文档问题描述：
paddle.flip 文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：4分

参数说明是否清晰
中文：3分，还是觉得参数写的太简单了
英文：3分

返回/形状说明是否清晰
中文：4分，
英文：4分

示例代码是否有效？
中文：3分，示例代码很简单，只给出了一种场景；
英文：3分

中英文内容是否一致？
一致

其他
无

整体评价
3分，英文文档有个地方小错误

[2020-11-22 02:17] forAlgorithm opened #28923 "【2.0 API文档内测】paddle.grad 文档问题"
文档问题描述：
paddle.grad 文档评估

API文档描述是否清晰？
中文：5分，整体描述比较清楚；
英文：5分

参数说明是否清晰
中文：5分，padding的描述太复杂了，建议写的简单一些；padding_mode 的描述也不清楚，不知道几种模式的区别；
英文：5分

返回/形状说明是否清晰
中文：5分，形状描写的很清楚，但是格式有些问题；
英文：5分

示例代码是否有效？
中文：5分，示例代码很简单，只给出了一种场景；
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
5分，

[2020-11-22 02:23] jialiasus2 opened #28924 "【2.0 API文档内测】paddle.nn.initializer.Constant文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：5分：
1、一点小瑕疵，构造函数Constant前多了个空格。
英文：5分：
1、构造函数多了个.constant，Constant前多了个空格。
2、示例代码的“灯”和“拷贝”按钮在“白天”模式下不显示图标，但功能正常。“黑夜”模式下能显示。

#### 参数说明是否清晰
中文：5分
英文：5分
1、value参数显示只支持float32，同中文不一致。

#### 返回/形状说明是否清晰
中文：5分
英文：5分

#### 示例代码是否有效？
中文：5分，示例代码基本能展示API的功能，实测有效。但有点简单，建议在一个更完整的示例（Model模型）中展示。
英文：5分

#### 中英文内容是否一致？
1、value参数显示只支持float32，同中文不一致。

#### 其他
总评分：5分。一点小瑕疵，基本没影响。

[2020-11-22 02:44] skywalk163 opened #28925 "【2.0 API文档内测】paddle.vision.transforms.ColorJitter 文档问题"
**文档问题描述：**

paddle.vision.transforms.ColorJitter文档评估

**API文档描述是否清晰？**
中文：4分，可以再详细一点
英文：4分，

**参数说明是否清晰**
中文：4分，清晰
英文：4分，ok
keys能否再说详细一点，反正对我这种看两眼是看不明白。

**返回/形状说明是否清晰**
中文：3分，有返回
英文：3分，没有返回
但是说明里返回ndarray，我测试了一下返回<class 'PIL.Image.Image'> ，

**示例代码是否有效？**
中文：3分，应该返回ndarray，我测试了一下返回<class 'PIL.Image.Image'> ，
英文：3分，
     10 fake_img = transform(fake_img)
---> 11 print(type(fake_img),fake_img.shap

[2020-11-22 03:23] jialiasus2 opened #28926 "【2.0 API文档内测】paddle.nn.initializer.Normal文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：5分：
1、一点小瑕疵，构造函数Normal前多了个空格。
英文：5分：
1、构造函数多了个.normal，Normal前多了个空格。
2、示例代码的“灯”和“拷贝”按钮在“白天”模式下不显示图标，但功能正常。“黑夜”模式下能显示。

#### 参数说明是否清晰
中文：5分
英文：5分

#### 返回/形状说明是否清晰
中文：5分
英文：5分

#### 示例代码是否有效？
中文：5分，示例代码基本能展示API的功能，实测有效。但有点简单，建议在一个更完整的示例（Model模型）中展示。
英文：5分

#### 中英文内容是否一致？
一致。

#### 其他
总评分：5分。

[2020-11-22 03:28] jialiasus2 opened #28927 "【2.0 API文档内测】paddle.nn.initializer.Uniform文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：5分：
1、一点小瑕疵，构造函数Uniform前多了个空格。
英文：5分：
1、构造函数多了个.uniform，Uniform前多了个空格。
2、示例代码的“灯”和“拷贝”按钮在“白天”模式下不显示图标，但功能正常。“黑夜”模式下能显示。

#### 参数说明是否清晰
中文：5分
英文：5分

#### 返回/形状说明是否清晰
中文：5分
英文：5分

#### 示例代码是否有效？
中文：5分，示例代码基本能展示API的功能，实测有效。但有点简单，建议在一个更完整的示例（Model模型）中展示。
英文：5分

#### 中英文内容是否一致？
一致。

#### 其他
总评分：5分。

[2020-11-22 07:22] Attackzzw opened #28930 "【2.0 API文档内测】paddle.nn.GRU 文档评估"
# **文档问题描述：**
paddle.nn.GRU 文档评估

**API文档描述是否清晰**
中文：4分，OP描述清晰,公式解释那有点迷；
英文：4分

**参数说明是否清晰**
中文：5分，参数说明清晰；
英文：5分

**返回/形状说明是否清晰**
中文：4分，中文说明还好，英文和中文不一致，英文有多余的注解；
英文：3分，英文有ERROR

**示例代码是否有效**
中文：4分，示例代码返回结果outputs.shape第一维不一致，其他一致；
英文：4分

**中英文内容是否一致**
不一致

**其他**
英文后面有很多不相关说明

**整体评价**
4分，op描述太简单，公式么的注解不好看，中英文不太一样；

[2020-11-22 07:34] Attackzzw opened #28931 "【2.0 API文档内测】paddle.nn.GRUCell 文档评估"
# **文档问题描述：**
paddle.nn.GRUCell 文档评估

**API文档描述是否清晰**
中文：3分，OP描述和公式略简；
英文：3分

**参数说明是否清晰**
中文：4分，参数说明略简；
英文：4分

**返回/形状说明是否清晰**
中文：4分，略简单；
英文：3分，英文有ERROR

**示例代码是否有效**
中文：5分，示例代码有效，；
英文：5分

**中英文内容是否一致**
一致

**其他**
英文后面有很多不相关说明

**整体评价**
4分，op描述和公式直接写上去不太好理解，说明不够详细；

[2020-11-22 07:42] GuoQuanhao opened #28932 "【2.0 API文档内测】ConvBatchNorm"
我想知道2.0 API中是否具有ConvBatchNorm这个API

[2020-11-22 07:51] #28932 closed, assigned to nobody

[2020-11-22 08:22] Attackzzw opened #28934 "【2.0 API文档内测】paddle.nn.LSTM 文档评估"
# **文档问题描述：**
paddle.nn.LSTM 文档评估

**API文档描述是否清晰**
中文：3分，OP描述和公式略简；
英文：3分

**参数说明是否清晰**
中文：4分，说明详细；
英文：4分

**返回/形状说明是否清晰**
中文：4分，略简单；
英文：3分，英文有ERROR

**示例代码是否有效**
中文：4分，有效，但情况不全，比较简单；
英文：4分

**中英文内容是否一致**
略微不一致

**其他**
英文后面有很多不相关说明

**整体评价**
4分，时间递归神经网络，说明和用处不够详细，英文界面好几个api文档都有ERROR；

[2020-11-22 08:22] skywalk163 opened #28935 "【2.0 API文档内测】paddle.vision.transforms.Compose 文档问题"
**文档问题描述：**

paddle.vision.transforms.Compose文档评估

**API文档描述是否清晰？**
中文：4分，可以再详细一点
英文：4分，

**参数说明是否清晰**
中文：4分，清晰
英文：4分，ok

**返回/形状说明是否清晰**
中文：4分，有返回，清晰
英文：4分，ok

**示例代码是否有效？**
中文：4分，
英文：4分，

**中英文内容是否一致？**
一致

其他
无

**整体评价**
4分。

[2020-11-22 08:30] skywalk163 opened #28936 "【2.0 API文档内测】paddle.vision.transforms.Normalize 文档问题"
**文档问题描述：**

paddle.vision.transforms.Normalize文档评估

**API文档描述是否清晰？**
中文：4分，
英文：4分，

**参数说明是否清晰**
中文：4分，清晰
英文：4分，ok

**返回/形状说明是否清晰**
中文：4分，有返回，清晰
英文：3分，无返回

**示例代码是否有效？**
中文：4分，
英文：4分，
最后一句估计是笔误了，应该是：
`        print(fake_img.max(), fake_img.min())`

**中英文内容是否一致？**
一致

其他
无

**整体评价**
4分。

[2020-11-22 08:44] skywalk163 opened #28938 "【2.0 API文档内测】paddle.vision.transforms.RandomCrop 文档问题"
**文档问题描述：**

paddle.vision.transforms.RandomCrop文档评估

**API文档描述是否清晰？**
中文：4分，
英文：4分，

**参数说明是否清晰**
中文：4分，清晰
英文：4分，ok

**返回/形状说明是否清晰**
中文：4分，有返回
英文：3分，无返回
中文文档返回中说：numpy ndarray，随机裁剪后的图像。
我想问一下，是说返回两种类型：1  numpy ndarray 2 随机裁剪后的图像。
还是说返回一种类型，类型是numpy ndarray
我看例子里面返回的是<class 'PIL.Image.Image'> ，一个PIL的图像类 。

**示例代码是否有效？**
中文：4分，
英文：4分，

**中英文内容是否一致？**
基本一致

其他
无

**整体评价**
4分。就是对返回类型这块有点不太明白 。不知道“随机裁

[2020-11-22 08:54] skywalk163 opened #28939 "【2.0 API文档内测】paddle.vision.transforms.Resize 文档问题"
**文档问题描述：**

paddle.vision.transforms.Resize文档评估

**API文档描述是否清晰？**
中文：4分，
英文：4分，

**参数说明是否清晰**
中文：4分，清晰
英文：4分，ok

**返回/形状说明是否清晰**
中文：4分，有返回
英文：3分，无返回
有点疑惑 ，说返回：numpy ndarray，调整大小后的图像。
例子里面返回的是<class 'PIL.Image.Image'> ，一个PIL的图像类 。

**示例代码是否有效？**
中文：4分，
英文：4分，

**中英文内容是否一致？**
除了返回/形状说明英文没有，其它一致

其他
无

**整体评价**
4分。

[2020-11-22 09:07] Attackzzw opened #28940 "【2.0 API文档内测】paddle.nn.LSTMCell 文档评估"
# **文档问题描述：**
paddle.nn.LSTMCell 文档评估

**API文档描述是否清晰**
中文：3分，OP描述和公式略简；
英文：3分

**参数说明是否清晰**
中文：3分，说明太简单；
英文：3分

**返回/形状说明是否清晰**
中文：4分，略简单；
英文：3分，英文有ERROR

**示例代码是否有效**
中文：4分，有效；
英文：4分

**中英文内容是否一致**
不一致

**其他**
英文后面有很多不相关说明

**整体评价**
3分，整体简明，该OP和LSTM很类似，但没有区分说明；

[2020-11-22 09:28] jiangjiajun commented on #28751
上面看这个命令是在将use_gpu设为0时出的错，为了判断是使用相机出的错，还是其它问题，建议运行一下分类的程序classifier测试下。

分类模型可在此下载 https://bj.bcebos.com/paddlex/models/mobilenetv3_small_ssld_imagenet.tar.gz （下载后需手动将模型导出为Inference模型格式），模型目录中包含一张图片可供测试。

为了便于快速解决问题，也可加QQ群1045148026进行反馈

[2020-11-22 11:15] jordan2013 opened #28942 "paddle.nn no attributes AdaptiveAvgPool2d"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 2.0.0rc
    2）CPU：AiStudio
    3）GPU：AiStudio
    4）系统环境：AiStudio python 3.7 PaddleSeg0.6/0.7
- 训练信息
    1）单卡
    2）显存信息
    3）Operator信息
- 复现信息：PaddelSeg0.6/0.7的动态图，使用hrnet作为BackBone，has_se设

[2020-11-22 12:10] lwbmowgli opened #28943 "【2.0 API文档内测】functional.adaptive_avg_pool2d 文档问题"
文档问题描述：
paddle.nn.functional.adaptive_avg_pool2d文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚,与paddle.nn.adaptive_avg_pool2d的描述相同。计算公式中，未说明floor是向下取整、ceil向上取整。对比了其他框架，应该说明一下AdaptiveAvgPool和AvgPool的区别，未说明当参数为1的时候AdaptiveAvgPool可作为全局平均池化层
英文：3分，英文中，该API调用方式为 paddle.nn.layer.pooling.AdaptiveAvgPool2D，应该是还未升级。

参数说明是否清晰
中文：5分，参数描述较为清晰，可以由公示很清晰的弄明白这个API的功能。
英文：5分

返回/形状说明是否清晰
中文：4分，形状描写的很清楚；对于该API的返回，文档的描述为：计算Adap

[2020-11-22 12:16] lwbmowgli opened #28944 "【2.0 API文档内测】AdaptiveMaxPool2D文档问题"
该API中文版无法打开。

文档问题描述：
paddle.nn.AdaptiveMaxPool2D文档评估

API文档描述是否清晰？
中文：0分，打不开
英文：2分，应该是RD还没弄完全，整个文档是以Markdown格式存在的。

参数说明是否清晰
中文：0分
英文：1分

返回/形状说明是否清晰
中文：0分
英文：1分

示例代码是否有效？
中文：0分
英文：1分

中英文内容是否一致？

其他
无

整体评价
0.5分，中文的打不开，英文的打开了之后，阅读难度较大。

[2020-11-22 12:22] lwbmowgli opened #28945 "【2.0 API文档内测】functional.AdaptiveMaxPool2D文档问题"
该API中文版无法打开。

文档问题描述：
paddle.nn.functional.AdaptiveMaxPool2D文档评估

API文档描述是否清晰？
中文：0分，打不开
英文：2分，应该是RD还没弄完全，整个文档是以Markdown格式存在的,未给出计算公式。

参数说明是否清晰
中文：0分
英文：1分

返回/形状说明是否清晰
中文：0分
英文：1分

示例代码是否有效？
中文：0分
英文：1分

中英文内容是否一致？

其他
无

整体评价
0.5分，中文的打不开，英文的打开了之后，阅读难度较大。

[2020-11-22 12:40] lwbmowgli opened #28946 "【2.0 API文档内测】functional.avg_pool2d文档问题"
文档问题描述：
paddle.nn.functional.avg_pool2d文档评估

API文档描述是否清晰
中文：0分，打不开
英文：0分，应该是RD还没弄完全，整个文档是以Markdown格式存在的，其API描述为functional.pooling.avg_pool2d，与给到我的测评API不一致。

参数说明是否清晰
中文：0分
英文：1分

返回/形状说明是否清晰
中文：0分
英文：1分

示例代码是否有效？
中文：0分
英文：1分

中英文内容是否一致？

其他
无

整体评价
0.5分，中文的打不开，英文的打开了之后，阅读难度较大。

[2020-11-22 13:57] lwbmowgli opened #28949 "【2.0 API文档内测】BatchNorm2D文档问题"
文档问题描述：
paddle.nn.BatchNorm2D文档评估

API文档描述是否清晰？
中文：5分，整体描述比较清楚，在描述中给出了论文参考；
英文：3分，显示出来的是Markdown格式的，影响阅读体验，

参数说明是否清晰
中文：,5分，描述较清晰；
英文：5分

返回/形状说明是否清晰
中文：5分，形状描写的很清楚；
英文：5分

示例代码是否有效？
中文：4分，示例代码很简单，好像有点过于简单了；
英文：4分，

中英文内容是否一致？
一致

其他
,英文文档中，代码示例后面的描述是继承了Layer的一些方法 ，未隐藏这部分信息。

整体评价
4.5分，整体描述得非常清晰，中文文档描述的很好，英文的存在显示问题。

[2020-11-22 14:02] lwbmowgli opened #28950 "【2.0 API文档内测】functional.batch_norm文档问题"
文档问题描述：
paddle.nn.functional.batch_norm文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚，在描述中推荐使用BatchNorm2D等，但是未给出理由；
英文：4分，

参数说明是否清晰
中文：,5分，描述较清晰；
英文：5分

返回/形状说明是否清晰
中文：5分，形状描写的很清楚；
英文：5分

示例代码是否有效？
中文：4分，示例代码很简单，好像有点过于简单了；
英文：4分，

中英文内容是否一致？
一致

其他
无

整体评价
4.5分，整体描述得非常清晰，但是未给出推荐使用BatchNorm2D等API的理由。

[2020-11-22 14:15] 1254859753 commented on #22727
请问这个问题解决了么，我也想在词向量中加权呢

[2020-11-22 15:31] Siyou-Li opened #28952 "【2.0 API文档内测】paddle.flatten 文档问题"
文档问题描述：
paddle.flatten 文档评估

API文档描述是否清晰？
中文：5分
英文：4分

英文api未更新
![image](https://user-images.githubusercontent.com/39124862/99908429-95797a80-2d1d-11eb-827c-b4243ae51897.png)

参数说明是否清晰
中文：5分，
英文：5分

返回/形状说明是否清晰
中文 5分，
英文：5分

示例代码是否有效？
中文：5分，
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
5分

[2020-11-22 15:39] jialiasus2 opened #28953 "【2.0 API文档内测】paddle.nn.Layer文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：4分：
1、建议把“参数”标题缩小，不然层次不太清楚。
2、建议说明Layer类的用法，如果我没理解错是用于实现自定义网络层或自定义网络的基类。目前的描述“基于OOD实现的动态图Layer，包含该Layer的参数、前序运行的结构等信息。”感觉看了还是不知道它是用来干啥的。
3、train和eval函数的表述建议改为“这会影响某些模块在正向和反向传播时的表现，如Dropout和BatchNorm”。
4、full_name函数表述中的组成方式和实际不一致，连接符是下划线_而非斜线/。可能有初学者不知道MyLayer.__class__.__name__是python中的类名，建议描述方式改为“name_scope+'_'+类名（派生类）”。
5、register_forward_post_hook函数建议表述为“它的inpu

[2020-11-22 15:41] Siyou-Li opened #28954 "【2.0 API文档内测】paddle.flip 文档问题"
文档问题描述：
paddle.flip 文档评估

API文档描述是否清晰？
中文：4分
英文：4分

英文api未更新
![image](https://user-images.githubusercontent.com/39124862/99908377-53e8cf80-2d1d-11eb-9486-d231a5e9f60d.png)

参数说明是否清晰
中文：4分
英文：4分

返回/形状说明是否清晰
中文：4分，
英文：4分

示例代码是否有效？
中文：4分
英文：4分

中英文内容是否一致？
一致

其他
无

整体评价
4分

[2020-11-22 15:46] Siyou-Li opened #28955 "【2.0 API文档内测】paddle.flip 文档问题"
文档问题描述：
paddle.grad 文档评估

API文档描述是否清晰？
中文：5分
英文：4分

英文界面api未更新（paddle.fluid)
![image](https://user-images.githubusercontent.com/39124862/99908289-bab9b900-2d1c-11eb-8ce6-ee04338445b6.png)

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
一致

其他
无

整体评价
5分，写得很精彩

[2020-11-22 17:50] jialiasus2 opened #28958 "【2.0 API文档内测】paddle.nn.LayerList文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：4分
1、没有描述LayerList的使用场景。个人感觉是用于动态图管理网络层？
英文：4分
1、函数的引用路径和中文不一致。这里是paddle.fluid.dygraph.container. LayerList，而不是nn。

#### 参数说明是否清晰
中文：4分
1、所有的函数都没有正确的把参数声明出来。
2、insert函数第二个参数应该是sublayer。
英文：5分

#### 返回/形状说明是否清晰
中文：5分
英文：5分

#### 示例代码是否有效？
中文：5分，示例代码基本能展示API的功能。实测有效。
英文：5分

#### 中英文内容是否一致？
基本一致。

#### 其他
总评分：5分。
大概是因为内容不多，看起来没那么乱了。但还是建议改一下标题的层次结构。
感觉LayerList和Sequen

[2020-11-22 18:16] jialiasus2 opened #28959 "【2.0 API文档内测】paddle.nn.MultiHeadAttention文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：4分
1、建议明确该网络层的输入、输出等格式，同时也明确该网络层一般能接在什么层后边，它后边又能接什么层。
英文：4分
感觉英文是根据源代码直接生成的。内容虽然多了很多，但很多都是不需要的。
1、Cache和StaticCache实际是类内的两个变量，不需要放文档里。
2、compute_kv和gen_cache两个函数感觉主要是内部实现时调用的函数，用户应该用的很少。
3、add_parameter等后边的函数都是父类的内容，这里不需要。

#### 参数说明是否清晰
中文：5分
英文：5分

#### 返回/形状说明是否清晰
中文：3分，未明确网络层的输入输出形状。
英文：5分

#### 示例代码是否有效？
中文：5分，实测有效，但偏简单。如果嫌麻烦不妨引用一个用到MultiHeadAttention的教程。
英文：

[2020-11-22 18:27] jialiasus2 opened #28960 "【2.0 API文档内测】paddle.nn.Pad2D文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：5分
英文：5分
1、函数的引用层次为paddle.nn.layer.common.Pad2D，与源码一致，与中文和实际使用习惯不一致。
2、多了很多不必要的内容。建议和中文保持一致即可。

#### 参数说明是否清晰
中文：5分
英文：5分

#### 返回/形状说明是否清晰
中文：5分
英文：5分

#### 示例代码是否有效？
中文：5分，示例代码基本能展示API的功能。实测有效。
英文：5分

#### 中英文内容是否一致？
基本一致。

#### 其他
总评分：5分。
英文的自动生成真是一言难尽……但中文版本基本完美。

[2020-11-22 18:36] jialiasus2 opened #28961 "【2.0 API文档内测】paddle.nn.ParameterList文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：5分
英文：5分

#### 参数说明是否清晰
中文：5分
英文：5分

#### 返回/形状说明是否清晰
中文：5分
英文：5分

#### 示例代码是否有效？
中文：5分，示例代码基本能展示API的功能。实测有效
英文：5分

#### 中英文内容是否一致？
基本一致。英文文档多了对append函数的描述。

#### 其他
总评分：5分。
看到“此容器的行为类似于Python列表”，我以为我看懂了。看了示例，发现我没懂……好吧，其实ParameterList本身比较好懂，文档也讲清楚了，但示例中太多偏底层的调用方式了。

[2020-11-22 18:50] jialiasus2 opened #28963 "【2.0 API文档内测】paddle.nn.SpectralNorm文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
中文：5分
英文：5分
多了个Alias_main的小标题，没必要。

#### 参数说明是否清晰
中文：5分
英文：5分

#### 返回/形状说明是否清晰
中文：5分
英文：5分

#### 示例代码是否有效？
中文：5分，示例代码基本能展示API的功能。实测有效。
英文：5分

#### 中英文内容是否一致？
基本一致。英文中多了forward的说明，必要性不大，建议去掉。

#### 其他
总评分：5分。
按照paddle 2.0的惯例，此函数应该是nn下的，但中英文文档的函数声明都归于了paddle.fluid.dygraph下，建议还是放在nn下。

[2020-11-23 00:43] zhangcj13 commented on #28438
你好，我也遇到同样问题，就卡在这build extern_crytopp不动了 @nhsy0105 ，后来在ubuntu16.04下编译成功了么，有解决方案么？

[2020-11-23 01:44] HXia-XXL commented on #28942
AdaptiveAvgPool2d()是xx火炬的函数，paddle里面是AdaptiveAvgPool2D()

[2020-11-23 02:02] balckman-1996 commented on #28725
好的，已解决，谢谢

[2020-11-23 02:25] jordan2013 commented on #28942
醉了。PaddleSeg0.6/0.7中，把自家的API拼成了别家的

[2020-11-23 02:25] #28942 closed, assigned to nobody

[2020-11-23 02:40] lizhaohu commented on #28743
@zhouwei25 您好，我是直接仿照paddle中的mobilenet.py，然后直接换成深度可分离卷积的，从100ms提高到了80ms，720p的图片，1060+6g的显卡，如果使用mobilenetv2的方式反而会编程100ms->300ms，我看网络中是先使用1*1进行升维，然后再使用的深度可分离卷积

[2020-11-23 02:41] lizhaohu commented on #28743
@littletomatodonkey 好的 我试试，，我记得原始论文提高的挺多的

[2020-11-23 03:03] OleNet opened #28965 "Roll 函数的实现现在有gpu支持了吗？"
如题：Roll 函数的实现现在有gpu支持了吗？
2个月前的roll函数， 还是cpu实现，所以会很慢
现在有gpu支持了吗？ 如果没有，在哪个版本会支持呢？

[2020-11-23 03:13] shangzhizhou commented on #28552
是的。

[2020-11-23 03:14] Zhangbeibei1991 opened #28967 "【2.0 API文档内测】paddle.nn.RNNCellBase 文档问题"
文档问题描述：
API文档描述是否清晰？
中文：4分
英文：4分
循环神经网络下的get_initial_states函数是干啥的，一下就出来了，有点突兀，怎么用，一头雾水，越是基类越是要写清楚奥，对一些搞科研的童鞋可能会用到，因为很多都会从底层搞起。比如在NLP搞RL的时候Agent的构造扫描文本的时候需要自定义这个cell也就是agent.

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：0分
英文：0分
为啥没有例子，是不是偷懒，源码里没有实例，这里就没写?

中英文内容是否一致？
基本一致。

总评分：3分。
写文档的时候建议不要突然就蹦出一个函数，蒙了，还有能不给一个实例，反正我是挺感兴趣的，但是又不想翻LSTM或者GRU集成这个实例的整个源码，哈哈哈，太繁琐了。

[2020-11-23 03:19] saxon-zh commented on #28798
@yangkangkangkang 咱们这几个问题中涉及到的功能接口具体是什么样的使用场景呀，辛苦完整描述下哈，我们来针对性的评估下功能需求

[2020-11-23 03:33] Zhangbeibei1991 opened #28969 "【2.0 API文档内测】paddle.nn.RNN文档评估"
文档问题描述：
paddle.nn.RNN文档评估

API文档描述是否清晰
中文：5分
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效
中文：5分
英文：5分

中英文内容是否一致
基本一致

整体评价
5分，因为很简单，所以很容易理解的。不过，小弟在这里提供一个需求，团队能不能提供一个新的循环范式，类似RNN，因为目前我看到一部分人在将RL应用到NLP上，自己写智能体也就是对应这里的Cell, 然后对一个句子进行递归操作，这个和RNN类似，但是有一个不太一样的地方，就是根据上一步输出的概率分布，选动作，再将动作通过embedding转化为某种嵌入再和以前的词向量表示拼一下输入到下一步递归中，这个自己可以nn.Layer自己定义for循环做，但是计算效率太低了，能不能给搞个结构放倒PARL或者Paddle里面，

[2020-11-23 03:34] #28551 closed, assigned to wangxicoding

[2020-11-23 03:37] lizhaohu opened #28970 "运行时间问题"
请问同样的配置，python版本和c++版本耗时差别大吗？在什么级别。比如我是用python+paddle，7层cnn+720p+1060显卡，一次预测，耗时100ms，那么假设我换成c++版本的耗时大概是多少呢？

[2020-11-23 04:39] FightingYQQ opened #28972 "epoch1 batch_id8"
文档问题描述：
API文档描述是否清晰？

中文5
英文4
表述的清楚，我看完之后我能知道怎样使用。英文文档，我对照着中文也能看懂，也比较对应
参数说明是否清晰

清晰
中文5
英文5
没有返回，参数说明的很清楚，传什么样的参数还有参数的默认值都很清楚
示例代码是否有效？
有效
中文5
英文5

中英文内容是否一致？
：中英文API描述一致；中英文API参数一致；中文有的英文都有，内容也对应一致。但是英文API多出来一些东西，案例也不一样。但是就我的观看使用来说，中文API介绍的简明扼要
其他
无

[2020-11-23 05:38] OleNet opened #28973 "建议文档中不要忽略静态图的示例"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/argsort_cn.html#argsort

1.8 的用户很多还是静态图用户，所以建议示例代码不要只有动态图代码示例

[2020-11-23 06:44] cjh3020889729 opened #28976 "【2.0 API文档内测】Sequential文档问题"
文档问题描述：
paddle.nn.Sequential 文档评估

1. API文档描述是否清晰？
中文：5分，简介明了恰到好处
英文：5分

2. 参数说明是否清晰
中文：5分
英文：5分

3. 返回/形状说明是否清晰
中文：5分
英文：5分

4. 示例代码是否有效？
中文：5分，将两种用法--layers&name_layer举例说明得很清晰
英文：5分

5. 中英文内容是否一致？
一致

6. 其他
无

7. 整体评价
5分，
Sequential的支持，使得动态图模式下许多模块的堆叠变得更加规范和方便使用，并且简单明了的文档可以使得使用者轻易学习使用。

[2020-11-23 07:22] cjh3020889729 opened #28977 "【2.0 API文档内测】Transformer文档问题"
文档问题描述：
paddle.nn.Transformer 文档评估

1. API文档描述是否清晰？
中文：4分
英文：4分
补充说明：
	如果可以将注意力机制所涉及的网络部分计算简单说明一下就更好了--比如一些基本的解码层与编码层关系、前馈网络的大小组合，以及相关输出tensor_shape的计算方式。
	不过已经很好了，简单实用的话，文档说明的信息已经足够了。

2. 参数说明是否清晰
中文：4分，希望将nhead参数与实际使用时关联的具体参数做一个说明--比如说明nhead一定要被num_encoder_layers 整除这样的提示或者备注。
英文：4分

3. 返回/形状说明是否清晰
中文：4分，希望可以有相关的输入返回介绍的例子，这样会方便初学者学习使用，减少查阅步骤
英文：4分

4. 示例代码是否有效？
中文：5分
英文：5分

5. 中英文内容是否一致？
一致

6. 其

[2020-11-23 07:30] cjh3020889729 opened #28978 "【2.0 API文档内测】RNN文档问题"
文档问题描述：
paddle.nn.RNN 文档评估

1. API文档描述是否清晰？
中文：5分
英文：5分

2. 参数说明是否清晰
中文：5分
英文：5分

3. 返回/形状说明是否清晰
中文：5分
英文：5分

4. 示例代码是否有效？
中文：4分
英文：4分
补充说明：
	示例代码可以运行，但是会发生一个警告，在2.0.0rc版本下：
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:77: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8

[2020-11-23 07:48] cjh3020889729 opened #28982 "【2.0 API文档内测】RNNCellBase文档问题"
文档问题描述：
paddle.nn.RNNCellBase 文档评估

1. API文档描述是否清晰？
中文：5分
英文：5分

2. 参数说明是否清晰?
中文：5分
英文：5分

3. 返回/形状说明是否清晰?
中文：4分
英文：4分

4. 中英文内容是否一致？
一致

5. 其他
无

6. 整体评价
4分，
RNNCellBase文档说明清晰，参数解释得到，如果可以加上一个实例或者其它相关的应用展示就更好了。

[2020-11-23 07:52] cjh3020889729 opened #28984 "【2.0 API文档内测】SimpleRNNCell文档问题"
文档问题描述：
paddle.nn.SimpleRNNCell 文档评估

1. API文档描述是否清晰？
中文：5分，清晰
英文：5分

2. 参数说明是否清晰
中文：5分，清晰
英文：5分

3. 返回/形状说明是否清晰
中文：5分，清晰
英文：5分

4. 示例代码是否有效？
中文：5分，简单明了恰到好处
英文：5分

5. 中英文内容是否一致？
一致

6. 其他
无

7. 整体评价
5分，
SimpleRNNCell文档介绍清晰，参数描述以及示例完整，方便学习使用。

[2020-11-23 07:55] cjh3020889729 opened #28985 "【2.0 API文档内测】SimpleRNN文档问题"
文档问题描述：
paddle.nn.SimpleRNN 文档评估

1. API文档描述是否清晰？
中文：5分，清晰
英文：5分

2. 参数说明是否清晰
中文：5分，清晰
英文：5分

3. 返回/形状说明是否清晰
中文：5分，清晰
英文：5分

4. 示例代码是否有效？
中文：5分，有效
英文：5分

5. 中英文内容是否一致？
一致

6. 其他
无

7. 整体评价
5分
SimpleRNN文档内容丰富，示例完整，参数说明清晰。

[2020-11-23 08:02] hello-web commented on #28841
目前不支持30系列显卡，参考：https://github.com/PaddlePaddle/Paddle/issues/27530

[2020-11-23 08:09] HXia-XXL opened #28986 "多输入语义分割（2张输入，2张输出）训练 loss在上升。"
用paddle复写的之前在xx火炬运行正常的代码。任务是对两张输入影像做语义分割（两个输出图分别对应于两张输入图）
`
    import paddle.optimizer as optim
    criterion_CE = paddle.nn.loss.CrossEntropyLoss()

    scheduler = optim.lr.ReduceOnPlateau(learning_rate=lr, factor=0.1, patience=5, verbose=True)

    optimizer = optim.Momentum(
            parameters=net.parameters(),
            learning_rate=scheduler,
            momentum=0.9,
            wei

[2020-11-23 08:11] zhixuzhichang opened #28987 "paddle2.0-rc 版本的安装"
Python3.7
Centos 6.3
安装 paddle2.0-rc 后, import paddle 后报错如下:

ImportError: /opt/compiler/gcc-4.8.2/lib/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by /ssd2/liujiqiang/tools/paddle/paddle2.0-rc/lib/python3.7/site-packages/paddle/fluid/core_avx.so)

谢谢。

[2020-11-23 09:51] guoshengCS commented on #28768
输入sequence_length参数的话，能够自动处理padding部分的，能够保证返回结果（由output和state构成的tuple）中的output中真实length前的内容的正确性（真实length后的内容要另行mask掉）和state中的内容的正确性（是真实length位置的对应的state）。

[2020-11-23 10:26] haozech commented on #28781
短期不会在2.0版本放出，但已经在开发中~

[2020-11-23 11:48] chenjiaoAngel commented on #28903
只要保证处理前后shape一样 ，数据不会变化

[2020-11-23 11:56] chenjiaoAngel commented on #28900
a.pop(k) 应该是生效了，只是你的赋值语句出现问题了，你可以尝试验证
你把k pop 后，在对他写入时应出问题了
A可能是不能被修改的变量

[2020-11-23 12:23] chenjiaoAngel commented on #28881
DataLoader的底层实现不支持dict，只支持numpy array
可以通过返回numpy array的list格式进行支持

[2020-11-23 12:24] HXia-XXL commented on #28881
好的，感谢。

[2020-11-23 12:24] #28881 closed, assigned to nobody

[2020-11-23 14:19] #28972 closed, assigned to qili93

[2020-11-23 14:59] FightingYQQ opened #29001 "epoch1 batch_id8 layer_norm"
文档问题描述：
API文档描述是否清晰？

中文5
英文5
没有什么描述，就直接推荐使用另一个
参数说明是否清晰

清晰
中文5
英文5
没有返回，参数说明的很清楚，应该传什么样的参数，每个参数的意思还有参数的默认值都很清楚
示例代码是否有效？
有效
中文5
英文5

中英文内容是否一致？
：一致
其他
无

[2020-11-23 15:09] #10843 closed

[2020-11-23 15:09] #16133 closed, assigned to xuezhong

[2020-11-23 15:09] #21150 closed, assigned to nobody

[2020-11-23 15:09] #21216 closed, assigned to Aurelius84

[2020-11-23 15:09] #21235 closed, assigned to guoshengCS

[2020-11-23 15:09] #21249 closed, assigned to MRXLT

[2020-11-23 15:09] #21251 closed, assigned to nobody

[2020-11-23 15:09] #21261 closed, assigned to zhaoyuchen2018

[2020-11-23 15:09] #21266 closed, assigned to nobody

[2020-11-23 15:09] #21320 closed, assigned to nobody

[2020-11-23 15:16] FightingYQQ opened #29002 "epoch1 batch_id8 Linear"
文档问题描述：
API文档描述是否清晰？
中文5
英文5
介绍了输入和输出情况，写出来的都能看懂

参数说明是否清晰
清晰
中文5
英文5
清楚，介绍了几种取值情况下代表的意思

示例代码是否有效？
有效

中英文内容是否一致？
：不一致，英文API多了一些内容，例子更多一些
其他
无

[2020-11-24 00:36] LJoson opened #29004 "【2.0 API文档内测】LayerNorm 文档问题"
文档问题描述：

paddle.nn.LayerNorm 文档评估

API文档描述是否清晰？

中文：2分
英文：4分整体描述比较清楚；

参数说明是否清晰

中文：4分
英文：4分

返回/形状说明是否清晰

中文：4分，形状描写的很清楚
英文：4分

示例代码是否有效？

中文：2分，示例代码很简单，只给出了一种场景；
英文：3分

中英文内容是否一致？

不一致

其他

无

整体评价

3分

[2020-11-24 00:55] LJoson opened #29005 "【2.0 API文档内测】paddle.nn.functional.layer_norm文档问题"
文档问题描述：

paddle.nn.functional.layer_norm文档评估

API文档描述是否清晰？

中文：3分，整体描述过于简洁
英文：3分

参数说明是否清晰

中文：3分，
英文：3分

返回/形状说明是否清晰

中文：4分
英文：4分

示例代码是否有效？

中文：2分，示例代码很简单
英文：2分，示例代码很简单

中英文内容是否一致？

一致

其他

无

整体评价

3分

[2020-11-24 01:05] LJoson opened #29006 "【2.0 API文档内测】functional.linear 文档问题"
文档问题描述：
paddle.nn.functional.linear 文档评估

API文档描述是否清晰？

中文：3分
英文：3分
过于简洁

参数说明是否清晰

中文：3分
英文：3分

返回/形状说明是否清晰

中文：4分
英文：4分

示例代码是否有效？

中文：2分
英文：2分

示例代码很简单，只给出了一种场景

中英文内容是否一致？

一致

其他

无

整体评价

3分

[2020-11-24 01:21] LJoson opened #29007 "【2.0 API文档内测】MaxPool2D 文档问题"
文档问题描述：

 paddle.nn.MaxPool2D 文档评估

API文档描述是否清晰？

中文：0分 无描述
英文：4分

参数说明是否清晰

中文：0分无
英文：4分

返回/形状说明是否清晰

中文：0分无
英文：4分

示例代码是否有效？

中文：0分 无示例
英文：3分

中英文内容是否一致？

不一致

其他

缺少中文文档

整体评价

3分

[2020-11-24 01:30] LJoson opened #29008 "【2.0 API文档内测】paddle.nn.functional.max_pool2d 文档问题"
文档问题描述：

paddle.nn.functional.max_pool2d 文档评估

API文档描述是否清晰？

中文：0分 无描述
英文：4分

参数说明是否清晰

中文：0分无
英文：4分

返回/形状说明是否清晰

中文：0分无
英文：4分

示例代码是否有效？

中文：0分 无示例
英文：2分

中英文内容是否一致？

不一致

其他

缺少中文文档

整体评价

3分

[2020-11-24 01:35] LJoson opened #29009 "【2.0 API文档内测】MSELoss 文档问题"
文档问题描述：

paddle.nn.MSELoss 文档评估

API文档描述是否清晰？

中文：3分
英文：4分

参数说明是否清晰

中文：3分
英文：4分

返回/形状说明是否清晰

中文：3分
英文：4分

示例代码是否有效？

中文：3分 无示例
英文：4分

中英文内容是否一致？

不一致

其他

整体评价

4分

[2020-11-24 01:40] LJoson opened #29010 "【2.0 API文档内测】paddle.nn.functional.mse_loss 文档问题"
文档问题描述：
paddle.nn.functional.mse_loss 文档评估

API文档描述是否清晰？

中文：3分
英文：3分

参数说明是否清晰

中文：3分
英文：3分

返回/形状说明是否清晰

中文：3分
英文：3分

示例代码是否有效？

中文：3分
英文：3分

中英文内容是否一致？

一致

其他

整体评价

3分

[2020-11-24 02:14] liujigang82 opened #29012 "ModuleNotFoundError: No module named 'paddle.utils.download'"
- 标题：ModuleNotFoundError: No module named 'paddle.utils.download'
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.5
    2）CPU：请提供CPU型号，macbook pro
    3）GPU：请提供GPU型号，
    4）系统环境：请说明系统类型、mac os 10.15.5, python 3.7
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 安装方式信息：
1）pip安装/

[2020-11-24 02:17] #29012 closed, assigned to T8T9

[2020-11-24 02:21] Meiyim commented on #28754
再贡献一个导致失效的badcase:
若被转换函数中调用了logging打日志， 则会莫名触发 `paddle.cond`. 导致编译失败，且日志晦涩难懂。
[code]

错误输出:
[code]

[2020-11-24 02:23] Meiyim commented on #28754
[code]

[2020-11-24 02:35] habout632 opened #29014 "Dataloader报错信息提示"
我在使用Ｄataloader Dataset过程中经常遇到这个异常，这个异常很不友好　不知道哪里报错了．找了半天最后发现是
Transform过程中提示　自定义Dataset出错了　这个异常提示　我觉得可以更详细一点

paddle.fluid.core_avx.EnforceNotMet:

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   std::thread::_State_impl<std::thread::_Invoker<std::tuple<ThreadPool::ThreadPool(unsigned long)::{lambda()#1}> > >::_M_run()
1   st

[2020-11-24 03:06] zxy3 opened #29016 "【2.0 API文档内测】paddle.nn.SpectralNorm文档问题"
文档问题描述：

paddle.nn.SpectralNorm 文档评估
API文档描述是否清晰？
中文：4分
英文：4分
整体来说写的比较清楚，还有公式

参数说明是否清晰
中文：4分
英文：4分
参数比较多，写的相对清晰

返回/形状说明是否清晰
中文：4分
英文：4分
比较清楚

示例代码是否有效？
中文：2分
英文：2分
参数比较多，但是示例比较简单
非必须参数的调用也要写一下

中英文内容是否一致？
一致

其他
无

整体评价
可以的

[2020-11-24 03:09] qili93 commented on #28965
Roll函数在最新的2.0RC版本中已经有CUDA Kernel的实现了。

[2020-11-24 03:14] skywalk163 commented on #28759
我用这个程序测试了一下：

        %%writefile paddlemem.py
        import paddle
        import os
        import sys
        import subprocess
        import time
        import paddle.nn as nn

        args = sys.argv

        train_dataset = paddle.vision.datasets.MNIST(mode='train')
        test_dataset = paddle.vision.datasets.MNIST(mode='test')
        lenet = paddle.vision.models.LeNet()

        # 加载训

[2020-11-24 03:18] David20160511 opened #29017 "paddle 2.0正式版什么时候发布啊，有时间表吗，会支持cuda 11吗？"
你好：
我的机器上装的RTX 3080的显卡，我装了cuda 10, paddlepaddle-gpu==1.8.5.post107 , 但是现在运行代码报错。我看issue中有人回答说paddle 2.0正式版会支持cuda 11，是吗？想确认一下会支持吗，2.0正式版什么时候会发布呢？

[2020-11-24 03:28] qili93 commented on #28970
推理的话Python在启动的时候耗时会比C++多一点，但是启动之后只计算每次预测的耗时的话和C++不会有特别明显的差异。

[2020-11-24 03:37] qili93 commented on #28987
这个应该是GCC版本过低导致的，建议升级GCC版本

[2020-11-24 05:59] T8T9 commented on #29014
您好，能否提供一个完整的测试程序，或完整的错误信息？

[2020-11-24 06:50] lyn1225 opened #29022 "如何获取数据流中的batch_size"
paddle中如何获取数据流中的batch_size。调试的时候看了下所有的数据流形式都是(-1,C,H,W)形式，获取不到实际进入模型中处理数据的batch_size, 请问这个如何解决

[2020-11-24 07:08] chenwhql commented on #29014
您好，DataLoader这边的处理逻辑在子线程和子进程中处理的居多，然后子进程和子线程会抛出自己的错误，最后主进程发现子进程出错会报这个，真正的报错提示应该在这段报错的上面，您看看这段报错上面是否由您需要的提示

这个后续我们也想办法优化下，感谢反馈

[2020-11-24 07:32] T8T9 commented on #29017
应该没有测试过，如果cuda11 和cuda 10 不兼容的话，就不支持。paddle 2.0 将于 12月初发布，支持的特性可参考：

https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/release_note_cn.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/install/index_cn.html

[2020-11-24 07:57] menghou opened #29025 "模型训练中出现NAN"
![image](https://user-images.githubusercontent.com/9972335/100064617-bc46c680-2e6d-11eb-87bf-f09f66050ef3.png)

[2020-11-24 08:36] skywalk163 commented on #28898
文档里的这句话我不明白：

from_generator ( feed_list=None, capacity=None, use_double_buffer=True, iterable=True, return_list=False, use_multiprocess=False, drop_last=True ) ¶
警告
这个API将在未来版本废弃，推荐使用支持多进程并发加速的 paddle.io.DataLoader

意思是说  from_generator  要被废弃吗 ？

[2020-11-24 08:41] FightingYQQ opened #29026 "epoch1 batch_id8 linear问题文档"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
清晰，文档描述能看懂，能知道这个API怎样使用，公式简单，不存在错误
中文：5
英文：4

#### 参数说明是否清晰
清楚，参数怎样使用，默认值都介绍的清楚
中文：5
英文：5

#### 返回/形状说明是否清晰
清楚，没有错误
中文：5
英文：5

#### 示例代码是否有效？
有效

#### 中英文内容是否一致？
基本一致，有的地方英文略微没有翻译出来

#### 其他
无

[2020-11-24 08:48] T8T9 commented on #29025
请把您的环境信息，paddle版本信息发出来，最好附上产生这个问题的demo

[2020-11-24 08:56] andreazanetti commented on #28522
Close this issue for now. Will open a new one once we have something ready on this topic. Thanks.

[2020-11-24 09:00] FightingYQQ opened #29028 "epoch1 batch_id8 MSELoss问题文档"
# 文档问题描述：

#### API文档描述是否清晰？
清晰，能看懂怎么用，文档中给出了公式在各种取值下的情况，也能看清楚
中文：4
英文：5

#### 参数说明是否清晰
清晰
中文：5
英文：5

#### 返回/形状说明是否清晰
清晰
#### 示例代码是否有效？
有效

#### 中英文内容是否一致？
英文比中文的详细一些，说明的多一些，英文的句子在翻译顺序上跟中文有点差别

#### 其他
无

[2020-11-24 09:14] FightingYQQ opened #29029 "epoch1 batch_id8 mse_loss 文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
清晰
中文：5
英文：5

#### 参数说明是否清晰
不清晰，中英文参数不一致。
中文：3
英文：4

#### 返回/形状说明是否清晰
中文的里面没写返回形状
中文：3
英文：4

#### 示例代码是否有效？
有效

#### 中英文内容是否一致？
不一致，参数不一致，代码基本一致

#### 其他
如：文档页面打不开；文档缺失；文档中有死链；

[2020-11-24 09:21] menghou commented on #29025
![image](https://user-images.githubusercontent.com/9972335/100071475-0fbd1280-2e76-11eb-83ae-e77ccfa325bd.png)

[2020-11-24 09:22] menghou commented on #29025
demo是把代码附上吗

[2020-11-24 09:23] T8T9 commented on #29025
方便的话可以贴一个与业务无关的可复现这个问题的代码，方便排查。

[2020-11-24 10:48] #28987 closed, assigned to qili93

[2020-11-24 10:48] #28965 closed, assigned to qili93

[2020-11-24 10:48] #28970 closed, assigned to qili93

[2020-11-24 10:54] #28841 closed, assigned to nobody

[2020-11-24 10:55] #28744 closed, assigned to zhwesky2010

[2020-11-24 10:56] YeFeiyangx commented on #28744
3Q

[2020-11-24 11:01] T8T9 commented on #29025
可参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/flags/check_nan_inf_cn.html 排查

[2020-11-24 11:55] jczaja opened #29037 "PaddlePaddle applications and threads"
When PaddlePaddle is used from multiple threads e.g. each thread(external to PaddlePaddle) is doing inference. is it possible that  threads are sharing one instance of Executor/Naive Executor or each thread is keeping its own instance of executor?

We could optimize caching of oneDNN objects by reducing key e.g. making thread ID optional part of the key if only when there is muti-thread inference

[2020-11-24 12:26] chenwhql commented on #28774
预测的话，在执行之前，设成eval模式会好一些吗
[code]

[2020-11-24 13:04] wojtuss commented on #28578
@juncaipeng ,
After disabling quantization but enabling optimization passes (either all or only non-mkldnn) the output I get is:
[code]
Is it correct?
It differs from the output of fp32 and quant models, which was:
[code]

[2020-11-24 13:17] fengweisi opened #29043 "【2.0 API文档内测】paddle.nn.functional.one_hot文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
清晰
中文：5
英文：5

#### 参数说明是否清晰
英文少个name说明
中文：5
英文：4

#### 返回/形状说明是否清晰
清晰
中文：5
英文：5

#### 示例代码是否有效？
有效

#### 中英文内容是否一致？
不一致，参数不一致

[2020-11-24 13:25] HXia-XXL commented on #28986
问题好像是出在定义的注意力卷积层那里。可能不能直接改函数名迁移到paddle来把

[2020-11-24 13:42] fengweisi opened #29046 "【2.0 API文档内测】paddle.nn.functional.pad文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
英文比中文多一段总体的说明
中文：4
英文：4

#### 参数说明是否清晰
对于data_format各个类型，可以做个简单的介绍
中文：4
英文：4

#### 返回/形状说明是否清晰
中英文都没写返回形状

#### 示例代码是否有效？
有效，但是希望能呈现不同种类pad的样例

#### 中英文内容是否一致？
总体说明不一致

[2020-11-24 13:53] fengweisi opened #29047 "【2.0 API文档内测】paddle.nn.GroupNorm文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
英文好像多了一堆无关内容
中文：4
英文：2

#### 参数说明是否清晰
英文weight_attr、bias_attr少加了具体用法的跳转链接
中文：5
英文：4

#### 返回/形状说明是否清晰
清晰

#### 示例代码是否有效？
有效，但是没有相关结果注释

#### 中英文内容是否一致？
英文有一堆无关内容

[2020-11-24 14:01] #28986 closed, assigned to qili93

[2020-11-24 14:04] fengweisi opened #29048 "【2.0 API文档内测】paddle.nn.BiRNN文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
英文有一堆无关内容
中文：4
英文：4

#### 参数说明是否清晰
清晰，英文对于sequence_length多一段说明：If sequence_length is not None, the inputs are treated as padded sequences.
中文：4
英文：4

#### 返回/形状说明是否清晰
清晰

#### 示例代码是否有效？
示例代码的output shape是否应该为[2,23,64]

#### 中英文内容是否一致？
英文多一堆无关内容

[2020-11-24 14:19] fengweisi opened #29050 "【2.0 API文档内测】paddle.nn.GRU文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
英文多一堆无关内容，并造成排版混乱
中文：4
英文：2

#### 参数说明是否清晰
清晰，对于weight等参数可以多点说明

#### 返回/形状说明是否清晰
清晰

#### 示例代码是否有效？
有效

#### 中英文内容是否一致？
英文多一堆无关内容

[2020-11-24 14:24] fengweisi opened #29051 "【2.0 API文档内测】paddle.nn.GRUCell文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
英文多一堆无关内容，且存在排版问题
中文：5
英文：2

#### 参数说明是否清晰
清晰

#### 返回/形状说明是否清晰
清晰

#### 示例代码是否有效？
有效

#### 中英文内容是否一致？
英文多一堆无关内容，且存在排版问题

[2020-11-24 14:28] fengweisi opened #29052 "【2.0 API文档内测】paddle.nn.LSTM文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
英文多一堆无关内容，且存在排版问题
中文：5
英文：3

#### 参数说明是否清晰
清晰

#### 返回/形状说明是否清晰
清晰

#### 示例代码是否有效？
有效

#### 中英文内容是否一致？
英文多一堆无关内容，且存在排版问题

[2020-11-24 14:30] fengweisi opened #29053 "【2.0 API文档内测】paddle.nn.LSTMCell文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
英文多一堆无关内容，且存在排版问题
中文：5
英文：3

#### 参数说明是否清晰
清晰

#### 返回/形状说明是否清晰
清晰

#### 示例代码是否有效？
有效

#### 中英文内容是否一致？
英文多一堆无关内容，且存在排版问题

[2020-11-24 14:55] robert672 opened #29056 "【2.0RC API文档内测】Adam 文档问题"
文档问题描述：
paddle.optimizer.Adam 文档评估

API文档描述是否清晰？
中文：4分，描述比较清晰；
英文：4分

参数说明是否清晰？
中文：4分，参数顺序（name与lazy_mode）和代码不一致；
英文：4分

返回/形状说明是否清晰？
中文：4分，例子中有输出的代码少
英文：3分，get_lr部分仅输出了初始lr

示例代码是否有效？
中文：3分，最后一段代码出错，代码提示没有PiecewiseLR而报错，导致执行不到get_lr。
英文：5分，都能跑通

中英文内容是否一致？
不一致。
1.参数说明：中文参数顺序不一致，英文文档一致，但英文文档对L1、L2等不像中文文档有超链接；
2.adam对象的API数量不一致，中文描述的API比英文少；

其他
无

[2020-11-24 15:11] robert672 opened #29058 "【2.0RC API文档内测】CosineAnnealingDecay 文档问题"
文档问题描述：
paddle.optimizer.lr.CosineAnnealingDecay 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：3分，参数T_max 只支持int,却写了还支持float；
英文：5分，英文文档没问题

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
不一致
1.API参数：中文文档，参数T_max 只支持int，却写了还支持float
2.类方法：英文有很多中文中没有提到的类方法，比如：get_lr，set_dict(state_dict)等

其他
无

[2020-11-24 15:13] robert672 opened #29059 "【2.0RC API文档内测】CosineAnnealingDecay 文档问题"
文档问题描述：
paddle.optimizer.lr.CosineAnnealingDecay 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：3分，参数T_max 只支持int,却写了还支持float；
英文：5分，英文文档没问题

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
不一致
1.API参数：中文文档，参数T_max 只支持int，却写了还支持float
2.类方法：英文有很多中文中没有提到的类方法，比如：get_lr，set_dict(state_dict)等

其他
无

[2020-11-24 15:32] robert672 opened #29060 "【2.0RC API文档内测】ExponentialDecay 文档问题"
文档问题描述：
paddle.optimizer.lr.ExponentialDecay 文档评估

API文档描述是否清晰？
中文：4分，文档一开始公式写的是last_learning_rate，到了下面gamma就是new_lr = origin_lr * gamma，建议表述一致
英文：4分，公式同上

参数说明是否清晰
中文：3分，参数last_epoch，在gamma参数那边就是origin_lr了；gamma没有标识less than1.0
英文：4分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：4分，参数没用全
英文：4分，同上

中英文内容是否一致？
不一致
1.API参数说明：上述已说明
2.类方法：中文比英文少了很多，英文有get_lr、set_dict(state_dict)等等

其他
无

[2020-11-24 15:41] FightingYQQ opened #29061 "epoch1 batch_id8 MaxPool2D 文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
英文：5

#### 参数说明是否清晰
英文：5

#### 返回/形状说明是否清晰
英文：5

#### 示例代码是否有效？
有效

#### 中英文内容是否一致？
中文文档打不开

#### 其他
中文文档打不开，我一般都是中英文对照着看的，英文不太能看懂，是我英文素养的问题，不是你们写的问题

[2020-11-24 15:44] robert672 opened #29062 "【2.0RC API文档内测】StepDecay 文档问题"
文档问题描述：
paddle.optimizer.lr.StepDecay 文档评估

API文档描述是否清晰？
中文：5分
英文：5分

参数说明是否清晰
中文：5分
英文：5分

返回/形状说明是否清晰
中文：5分
英文：5分

示例代码是否有效？
中文：5分
英文：5分

中英文内容是否一致？
不一致。
类方法：中文比英文少了很多，英文有get_lr、set_dict(state_dict)等等

其他
无

[2020-11-24 15:48] FightingYQQ opened #29063 "epoch1 batch_id8 max_pool2d 文档问题"
### 文档问题描述：

#### API文档描述是否清晰？
英文：5

#### 参数说明是否清晰
英文：5

#### 返回/形状说明是否清晰
英文：5

#### 示例代码是否有效？
有效

#### 中英文内容是否一致？
中文文档打不开

#### 其他
中文文档打不开，显示的是使用教程

Thanks for opening a document issue. We will listen to your opinions carefully and make improvements.

In order to quickly solve your problem, when creating an issue, please provide the following information:
**Document Information**
- Title：Please i

[2020-11-24 16:07] robert672 opened #29065 "【2.0RC API文档内测】Optimizer 文档问题"
文档问题描述：
paddle.optimizer.Optimizer 文档评估

API文档描述是否清晰？
中文：5分；
英文：5分

参数说明是否清晰
中文：3分，参数epsilon没用到，代码中没看见epsilon=1e-08；
英文：5分

返回/形状说明是否清晰
中文：3分，例子中有输出的代码少
英文：4分，get_lr部分仅输出了初始lr

示例代码是否有效？
中文：3分，最后一段代码出错，代码提示没有PiecewiseLR而报错，导致执行不到get_lr。
英文：5分，所有代码都能跑通

中英文内容是否一致？
不一致。
1.参数说明：中文参数顺序不一致，英文文档一致，但英文文档对L1、L2等不像中文文档有超链接；
2.Optimizer对象的API不一致，中文描述的API比英文少；

[2020-11-24 16:14] leeacord opened #29066 "【2.0RC】F.grid_sample在特定条件下造成有cuda异常错误"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0rc
    2）CPU：aistudio-gpu
    3）GPU：aistudio-gpu
    4）系统环境：aistudio
- 现象：
错误仅在在gpu动态图下发生，cpu时未发生错误：
`F.grid_sample`在特定条件下执行后，函数可以正常执行，但之后对任何变量进行astype()操作均会报错(可能运行其他op也会出错)。
经检查后发现，gpu下只要这段代码中的use_cudnn=False，则会出现错误。
具体来说，只有`F.grid_sample(..., align_corners=True, mode='bilinear', padding_mode='zeros')`才不会报错。
错误发生时内存和显存占用极低，令人疑惑。

https://github.com/PaddlePaddl

[2020-11-24 16:21] robert672 opened #29067 "【2.0RC API文档内测】Momentum 文档问题"
文档问题描述：
paddle.optimizer.Momentum 文档评估

API文档描述是否清晰？
中文：4分，整体描述比较清楚；
英文：3分，相对中文，有点差

参数说明是否清晰
中文：3分，参数learning_rate不是可选，必选
英文：2分，参数learning_rate类型有误，Tensor是个什么鬼；参数use_nesterov未作解释；参数grad_clip也未作解释；

返回/形状说明是否清晰
中文：4分，未提供类的返回值
英文：4分，同上

示例代码是否有效？
中文：4分，set_lr没有示例代码
英文：3分，set_state_dict(state_dict)什么之类的代码好像跟这个没啥关系

中英文内容是否一致？
不一致，中文要好一些

[2020-11-24 16:34] robert672 opened #29068 "【2.0RC API文档内测】SGD 文档问题"
文档问题描述：
paddle.optimizer.SGD 文档评估

API文档描述是否清晰？
中文：4分，描述较清楚；
英文：3分，错误较多

参数说明是否清晰？
中文：3分，参数learning_rate不是可选，必选；参数weight_decay类型有误，实测为Tensor类型时会报错
英文：2分，参数learning_rate类型有误，Tensor是个什么鬼；参数use_nesterov未作解释；参数grad_clip也未作解释；

返回/形状说明是否清晰
中文：4分，未提供类的返回值
英文：4分，同上

示例代码是否有效？
中文：4分，set_lr没有示例代码
英文：3分，set_state_dict(state_dict)什么之类的代码好像跟这个没啥关系

中英文内容是否一致？
不一致，中文要稍好一些

[2020-11-24 21:37] lidanqing-vv opened #29070 "[BF16] BF16 UT have memory increase and related script incompatibility with python3"
@luotao1  Hi, this is bfloat16 resnet50 inference benchmark steps

[2020-11-24 23:56] chikiuso opened #29071 "how could I compile the source to support cuda 11.1?"
hi, how could I compile the source to support cuda 11.1? or when will paddlepaddle support cuda 11.1? thanks for your help.

[2020-11-25 02:44] Meiyim commented on #25408
请问梯度累计这个feature在paddle 2.0中有实现么。

[2020-11-25 02:53] JokerCD opened #29073 "【2.0 API文档内测】 Accuracy文档问题"
### 文档问题描述：
paddle.metric.Accuracy文档评估

#### API文档描述是否清晰？
中文：3分
英文：1分

#### 参数说明是否清晰
中文：2分
英文：1

#### 返回/形状说明是否清晰
中文：3分
英文：1分

#### 示例代码是否有效？
中文：2分
英文：0分

#### 中英文内容是否一致？
不一致

#### 其他

#### 整体评价
2分。
中文：描述可以给出更详细严谨的定义；topk为其他值的情况没有进行示例介绍；返回参数等都可以给个简单的例子，会更清楚；函数的描述逻辑不一致（如有的有参数一栏有的没），同样的描述样式不一致（如有的返回加粗有的没），函数的背景色和字体加粗使用不当使得在阅读过程中分不清结构；文档整体顺序可以适当调整，比如顺序阅读时，在代码示例中用到的函数在上面没有提及，会让人不明白。
英文：比较混乱，感觉像加急赶的。

[2020-11-25 03:20] JokerCD opened #29075 "Auc文档问题"
### 文档问题描述：
paddle.metric.Auc 文档评估

#### API文档描述是否清晰？
中文：4
英文：3

#### 参数说明是否清晰
中文：4
英文：2

#### 返回/形状说明是否清晰
中文：4
英文：2

#### 示例代码是否有效？
中文：4
英文：0

#### 中英文内容是否一致？
不一致

#### 其他

#### 整体评价
3分
中文：比英文的少一个介绍？排版问题可能要再考虑哈：函数的描述逻辑不一致（如有的有参数一栏有的没），特征描述样式不一致（如参数加粗返回不加粗），函数的背景色和字体加粗使用不当使得在阅读过程中分不清结构；文档整体顺序可以适当调整，比如顺序阅读时，在代码示例中用到的函数在上面没有提及，会让人不明白。
英文：问题都有，比较混乱。

[2020-11-25 03:33] luotao1 commented on #29037
each thread is keeping its own instance of executor. You can refer to our official inference example. https://www.paddlepaddle.org.cn/documentation/docs/en/advanced_guide/inference_deployment/inference/native_infer_en.html#tuning-with-multi-thread
![image](https://user-images.githubusercontent.com/6836917/100179958-126d4580-2f12-11eb-90ba-37fa4a4cffe6.png)

[2020-11-25 03:38] JokerCD opened #29078 "Precision文档问题"
### 文档问题描述：
paddle.metric.Precision 文档评估

#### API文档描述是否清晰？
中文：4
英文：3

#### 参数说明是否清晰
中文：4
英文：2

#### 返回/形状说明是否清晰
中文：4
英文：2

#### 示例代码是否有效？
中文：4
英文：0

#### 中英文内容是否一致？
不一致

#### 其他

#### 整体评价
3分
中文：比英文的少一个介绍？排版问题可能要再考虑哈：函数的描述逻辑不一致（如有的有参数一栏有的没），特征描述样式不一致（如参数加粗返回不加粗），函数的背景色和字体加粗使用不当使得在阅读过程中分不清结构；文档整体顺序可以适当调整，比如顺序阅读时，在代码示例中用到的函数在上面没有提及，会让人不明白。
英文：比较混乱。

[2020-11-25 03:47] JokerCD opened #29079 "Recall 文档问题"
### 文档问题描述：
paddle.metric.Recall文档评估

#### API文档描述是否清晰？
中文：4
英文：3

#### 参数说明是否清晰
中文：4
英文：2

#### 返回/形状说明是否清晰
中文：4
英文：2

#### 示例代码是否有效？
中文：4
英文：0

#### 中英文内容是否一致？
不一致

#### 其他

#### 整体评价
3分
中文：比英文的少一个介绍？排版问题可能要再考虑哈：函数的描述逻辑不一致（如有的有参数一栏有的没），特征描述样式不一致（如参数加粗返回不加粗），函数的背景色和字体加粗使用不当使得在阅读过程中分不清结构；文档整体顺序可以适当调整，比如顺序阅读时，在代码示例中用到的函数在上面没有提及，会让人不明白。
英文：比较混乱。

[2020-11-25 03:55] luotao1 opened #29080 "some mkldnn unit-tests fails on PR_CI_WINDOWS"
### failed mkldnn unit-test
https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/detail/2134145/job/3048287
- test_activation_mkldnn_op
- test_flags_use_mkldnn

https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/detail/2134425/job/3048632
- test_conv2d_int8_mkldnn_op

### how to fix
https://github.com/PaddlePaddle/Paddle/blob/5e26a15484f2d9e26dd0357a2386ea216e303290/paddle/scripts/paddle_bui

[2020-11-25 03:56] Eric-seu opened #29082 "Profiler 在 CUDA10.1 环境下 频发 Segmentation fault"
问题环境：
    1）PaddlePaddle版本：develop
    3）GPU：cuda10.1 cudnn7.6.5
    4）ubuntu16.04， gcc5.4.0
训练设置：
    4）模型： ResNet101 、 ResNet50（如果是小的dome模型， 没有问题，大模型才出问题）
    5） profiler 记录 10 个 step

在该环境下可以正常训练、预测，但是如果运行 paddle profiler， 则会出现如下错误 （概率大概 50%）， 有时能在log 中打印profiler 信息，但是无法生成 profiler （timeline）文件。

相同代码换成 cuda10.0 环境则没有问题，能正常profiler 且生成 timeline 文件， cuda10.1 就报错。

worker0：
----------------------

[2020-11-25 03:57] JokerCD opened #29083 "Constant文档问题"
### 文档问题描述：
paddle.nn.initializer.Constant文档评估

#### API文档描述是否清晰？
中文：5
英文：5

#### 参数说明是否清晰
中文：4
英文：4

#### 返回/形状说明是否清晰
中文：5
英文：5

#### 示例代码是否有效？
中文：5
英文：5

#### 中英文内容是否一致？
不一致

#### 其他

#### 整体评价
4分。参数默认值在函数里写了但是在参数描述时没讲。排版可以更清晰点，如在文档中函数和函数描述（参数）用一个背景色。

[2020-11-25 04:05] JokerCD opened #29085 "Normal文档问题"
### 文档问题描述：
paddle.nn.initializer.Normal文档评估

#### API文档描述是否清晰？
中文：5
英文：5

#### 参数说明是否清晰
中文：5
英文：5

#### 返回/形状说明是否清晰
中文：5
英文：5

#### 示例代码是否有效？
中文：5
英文：5

#### 中英文内容是否一致？
不一致

#### 其他

#### 整体评价
5分。整体来说还是比较清晰，排版可以更有层次点。

[2020-11-25 04:10] JokerCD opened #29086 "Uniform文档问题"
### 文档问题描述：
paddle.nn.initializer.Uniform文档评估

#### API文档描述是否清晰？
中文：5
英文：5

#### 参数说明是否清晰
中文：5
英文：5

#### 返回/形状说明是否清晰
中文：5
英文：5

#### 示例代码是否有效？
中文：5
英文：5

#### 中英文内容是否一致？
不一致

#### 其他

#### 整体评价
5分。整体来说比较清晰，排版可以更有层次化一点。

[2020-11-25 04:23] luotao1 commented on #29070
Do you need to compare with the int8 result on 6271? And how do you write the BF16 release note?

[2020-11-25 04:46] HighCWu commented on #25408
2.0可以实现梯度累加了
[code]

[2020-11-25 05:28] rical730 commented on #28774
会好一些，4937.93it/s，但跟torch比也还是差距很大

[2020-11-25 07:02] luotao1 commented on #28598
[动态图mkldnn测试数据-new-0.xlsx](https://github.com/PaddlePaddle/Paddle/files/5594896/mkldnn.-new-0.xlsx)
 @OliverLPH test it successfully.

[2020-11-25 07:02] #28598 closed, assigned to nobody

[2020-11-25 07:32] cuicaihao commented on #24930
# paddle pgl deepwalk bug report

# environment

MacOS Big Sur 11.0.1
Intel core i5 / 8GB RAM
conda environment
python 3.7.8 64bit
paddlepaddle==1.8.5
pgl==1.2.1

# Passed CMD

[code]

# Error CMD: change '--walk_len' from '5' to '10'

[code]

## Python Running Environment

[code]

[2020-11-25 09:46] T8T9 commented on #29071
paddlepaddle hasn't been tested on cuda11.1 yet. You can pay attention to paddle-2.0 release note to get latest infomation:

https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/release_note_cn.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/install/index_cn.html

[2020-11-25 09:49] T8T9 commented on #29022
batch_size 不是你自己在训练的时候自己设置的嘛

[2020-11-25 11:33] lidanqing-vv commented on #28554
Fix PR: https://github.com/PaddlePaddle/Paddle/pull/29103. I am still verifying accurcay
Native
[code]

Enable mkldnn
[code]

[2020-11-25 11:57] juncaipeng commented on #28578
@wojtuss  Base on your test results, the outputs of opted int8 model is incorrect.
As the outputs of quant model are the same to the fp32 model, I think the MKLDNN inference still has errors.

The OCR model has two outputs, please modify the demo to check more output data.

[2020-11-25 12:02] tianshuo78520a commented on #28757
我们没有RTX型号的机器，在v100机器上没有复现这个问题，但看了下nccl官方issue和pytorch issue，您可以尝试用以下其中一种方式解决：
1）设置export NCCL_SHM_DISABLE=1
2）设置export NCCL_P2P_LEVEL=SYS
3）改一下docker启动方式。https://github.com/NVIDIA/nccl/issues/342#issuecomment-647049246

[2020-11-25 12:55] zp7541 opened #29110 "DDPG算法Actor训练一次后损失一直是0"
`class ActorModel(parl.Model):
    def __init__(self, act_dim):
        self.conv1 = layers.conv2d(num_filters=16, filter_size=5, stride=2, act='relu')
        self.conv2 = layers.conv2d(num_filters=32, filter_size=3, stride=2, act='relu')
        self.conv3 = layers.conv2d(num_filters=32, filter_size=3, stride=1, act='relu')
        self.conv4 = layers.conv2d(num_filters=64, filter_size=3, stride

[2020-11-25 13:45] peif1987 opened #29111 "请问不使用TRT的情况下，c++引擎推断中是否支持使用fp16精度？"
c++ api的接口里看起来只有在使用TRT的部分可以直接使用FP16。

[2020-11-25 16:46] Qingcsai commented on #24725
建议增加对于分割任务的fg_num计算方法

[2020-11-25 22:57] lidanqing-vv commented on #29070
No, only need to compare with float32 I think. Because bf16 does not have scales etc. Only comparing with float32 make sense.
About BF16 release note, I will discuss with my colleagues. BF16 will mainly focus on performance since accuracy should be very similar.

[2020-11-26 02:57] FlyingQianMM commented on #24725
代码示例中已经添加了fg_num获取的示例，可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/fluid/layers/sigmoid_focal_loss_cn.html#sigmoid-focal-loss

2.0中sigmoid_focal_loss也有fg_num获取的示例，可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/functional/loss/sigmoid_focal_loss_cn.html#sigmoid-focal-loss

[2020-11-26 03:02] buddyhello opened #29117 "Paddle 2.0rc安装后无法使用"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0rc0
    2）GPU：v100, cuda 10.1, cudnn 7.4
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
          系统类型：centos 6.3, linux 3.10, python 2.7

- 安装方式信息：
1）pip安装
- 复现信息：如为报错，请给出复现环境、复现步骤
复现步骤：
python -m pip install paddlepadd

[2020-11-26 03:37] Ryan906k9 opened #29120 "LSTM 输出维度问题"
   1）PaddlePaddle版本：2.0rc
    2）CPU：AI studio
根据文档显示：
class paddle.nn.LSTM(input_size, hidden_size, num_layers=1, direction='forward', dropout=0.0, time_major=False, weight_ih_attr=None, weight_hh_attr=None, bias_ih_attr=None, bias_hh_attr=None, name=None)

如果time_major为False，则输出outputs部分Tensor的形状为[batch_size,time_steps,num_directions * hidden_size]
但是实际输出为[time_steps,batch_size,num_directions * h

[2020-11-26 06:07] #29120 closed, assigned to chajchaj

[2020-11-26 06:50] #29117 closed, assigned to chajchaj

[2020-11-26 06:50] buddyhello commented on #29117
使用gcc8编译的Python没有问题

[2020-11-26 07:13] Ryan906k9 opened #29127 "UnboundLocalError: local variable 'new_states' referenced before assignment"
   1）PaddlePaddle版本：2.0rc
    2）CPU：Ai studio
报错信息：
[code]

代码：

[code]

[2020-11-26 07:34] JensenHJS commented on #25083
原issue是在安装paddle1.8预测库时提的，现在需要安装2.0的预测库，在编译有的op(算子)时，出现错误failed，可以尝试重新make，make -4换成make -j2，之前编译失败的op现在能编译了，原因未知。总之，多试几次吧。

[2020-11-26 07:44] ipyffor opened #29129 "框架2.0文档说明api不存在"
框架版本'2.0.0-rc0'
api: paddle.data
此api不存在，但是文档示例中还是用的这个api
![image](https://user-images.githubusercontent.com/47955238/100321794-373ee700-2ffe-11eb-9a8c-635f0f9ba3d5.png)
![image](https://user-images.githubusercontent.com/47955238/100321863-5178c500-2ffe-11eb-9ca2-c5716204e666.png)

[2020-11-26 07:45] ipyffor commented on #29129
文档链接： https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/api/paddle/nn/functional/input/one_hot_cn.html#one-hot

[2020-11-26 11:00] skywalk163 commented on #28759
我把动手学深度学习的异步计算这一节写了一个[aistudio项目](https://aistudio.baidu.com/aistudio/projectdetail/196937) 共享出来。

我想确认下，我这种使用numpy进行同步的方法是否正确？

我写一个经典的手写数字识别程序来做测试，用来测试同步函数和异步函数对内存的影响，顺便也对比下运行时间的不同。因为飞桨只有Tensor.numpy()函数和print函数来进行同步，所以这里用Tensor.numpy()进行同步操作，同时为了保证同步和异步同样的计算量，增加了一个loss_tmp变量，这样不管同步还是异步，都会执行Tensor.numpy()。

也就是同步的时候，我用数字识别程序体里的loss变量来`loss.numpy()`同步， 在异步的时候，我是通过一个不参与主程序体的临时变量loss_tmp ，进行`loss_t

[2020-11-26 11:05] chenwhql commented on #28759
是这样的，这种写法不能区分同步和异步

[2020-11-26 11:12] chenwhql commented on #28759
任何一个var.numpy()，目前都会等待GPU的计算任务完成再返回结果

我不太确定异步计算这个事情是否是MXNet的卖点，但是训练过程中如果一般loss的值是需要拿回来观察训练的效果的，对于MXnet来讲也是把数据同步回来的

飞桨动态图目前不适合写这种整体的例子对比同步和异步的差别，或者比如你可以试下，10个batch调一次loss.numpy和每个batch都调用loss.numpy的差别

[2020-11-26 12:35] Meiyim commented on #25408
@HighCWu 真的有实现么，可否指出是哪一版PR合入的功能。
我的测试代码如下：
[code]
从输出看并没有累计(最新编译develop分支)：
[code]

[2020-11-26 13:02] JensenHJS opened #29152 "有没有文档介绍预测库里面的代码文件结构，比如哪些是实现的算子，哪些是算子融合相关的代码"

[2020-11-26 14:48] gxpzy commented on #25885
GPU环境上没问题，CPU环境运行参数未初始化，具体看论坛https://ai.baidu.com/forum/topic/show/972659
使用的是ai studio环境，运行时use_gpu=False

[2020-11-26 14:49] #28089 closed, assigned to nobody

[2020-11-26 21:50] lidanqing-vv commented on #28578
Hi @juncaipeng  Today I tried many ways, my conclusion is as follows.
1. The output may not measure accuracy.
The rec_crnn_quant and rec_crnn_fp32 output are also different. Maybe the `max value` in the output is for accuracy. Could you please verify again what does all these outputs mean? Or could you provide some doc describing this model.
2. Small possibility that the scales are not collected p

[2020-11-26 23:07] HighCWu commented on #25408
可能我理解错了，我以为现在用step()后会自动累积了，看样子没有，可能只是做了个表面，我之后测试一下😂

[2020-11-27 04:27] jiweibo commented on #28774
Paddle预测部署的话，需要先把动态图转为静态图，参考文档https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/04_dygraph_to_static/index_cn.html

得到静态图部署模型后参考，部署api
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_inference_deployment/inference/native_infer.html

动态图训练前向性能比torch弱，这点后续需要优化。

[2020-11-27 04:29] rical730 commented on #28774
在训练过程中也需要使用模型前向预测，预测慢的话会大大降低训练效率。

[2020-11-27 05:39] lebronlh opened #29160 "多卡训练的时候报错"
![image](https://user-images.githubusercontent.com/48409264/100414856-bb07da80-30b5-11eb-95de-e1ff8129c161.png)
单卡训练的时候可以，我一旦使用多卡训练就会报错，我的使用方式是这样的。
# # 第2处改动，初始化并行环境
    #dist.init_parallel_env()
    # # 第3处改动，增加paddle.DataParallel封装
    #net = paddle.DataParallel(net)
，具体的报错我没截图下来，好像是说dist的初始化那里出错了

[2020-11-27 06:04] dyning commented on #29160
想问下单卡和多卡启动命令是什么？

[2020-11-27 06:27] liym27 commented on #28754
问题已修复
修复PR:

1. https://github.com/PaddlePaddle/Paddle/pull/29023

2. https://github.com/PaddlePaddle/Paddle/pull/29098

[2020-11-27 08:11] fumenglin opened #29166 "麒麟上安装paddle1.8的时候，在最后一步make TARGET=ARMV8 -j$(nproc) 提示缺少cpuid.h文件"
在麒麟v10上安装paddel1.8版本时候，按你们源码安装教程，在后面编译时候，提示缺少cpuid.h文件；找了你们相关的文件有x86的cpuid.h文件，请问有arm版本的cpuid.h文件么？或者这个问题有其他解决方案呢？谢谢！

[2020-11-27 08:40] jiweibo commented on #29166
请尝试1.8.5版本，cmake的时候 加上WITH_XBYAK=OFF

[2020-11-27 08:58] zhouyuxixixi opened #29170 "关于C#调用dll方式，CPU端部署，同时进行两个或多个模型推理报错"
版本，环境信息：
PaddlePaddle2.0.0rc；PaddleClas-dygraph；CPU-mkl预测库；i7，win10

在AISTUDIO云端学习得到的模型。在CPU上进行部署，使用C#调用dll的方式
C++代码如下，为了能够运行两个模型预测，定义了PaddleClasClass类。
同时载入ResNet18和ResNet50模型进行预测，会直接报错，报错后重启程序，仅仅执行一个模型的预测也会报错，需要等一会才能正常进行一个模型的预测

代码运行应该没什么问题，我还尝试了，使用GPU预测库，使用GPU同时进行两个模型的预测使正常的。

[code]

为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细

[2020-11-27 09:08] zhouyuxixixi commented on #28733
我在我的电脑上使用C#调用dll的方式进行图像分类，尝试了单个GPU 的同时模型预测，感觉会有波动，但是感觉也还好吧，使用的是paddlepaddle2.0.0rc和paddleclas-dygraph和gpu预测库mkl。使用两个线程同时执行模型预测
下面是预测图片的时间。图片有可能看不到，同时预测，预测时间波动会比较大
![image](https://user-images.githubusercontent.com/65207014/100431370-07adde80-30d3-11eb-9a7a-d6851fba3a97.png)

[2020-11-27 09:19] cy716 opened #29172 "ABORT!!! Out of all 1 trainers, the trainer process with rank=[0] was aborted. Please check its log."
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 1.8.4
    2）CPU：4
    3）GPU：v100
    4）系统环境：python 3.7
- 训练信息
    1）单机，单卡
    2）显存信息:16G
    3）Operator信息
- 复现信息：
复现步骤：
git clone https://github.com/PaddlePaddle/Knover
cd Knover
git checkout luge-dialogue
ln  -s ./luge-dialogue/config ./config
wget "https://dialogue.bj.bcebos.com/luge/12L.pretrain.tar"
tar -xvf ./12L.pretrain.tar
ln -snf 12L.pretrain 1

[2020-11-27 09:23] littletomatodonkey commented on #29170
1. CPU下，可以尝试关闭mkldnn，跑2个模型
2. 可以获取下最新提供的预测库，修复了windows下，mkldnn预测的一些问题

[2020-11-27 09:40] jhcgt4869 opened #29175 "paddle2.0-rc文档有漏洞和伪代码引起的不适"
地址：`https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/guides/01_paddle2.0_introduction/basic_concept/tensor_introduction_cn.html#matrix2-d-tensor-rank2`
位置：其他属性Tensor的dtype
错误：

![image](https://user-images.githubusercontent.com/61859193/100433916-b7d11680-30d6-11eb-9206-972379233e88.png)
int64_tensor.dtype错写成了int64_tensor.dthpe

位置：上面介绍了通过Python数据来创建Tensor的方法，我们也可以通过 Numpy array 来创建Ten

[2020-11-27 09:47] dyning commented on #29175
感谢您的反馈。我们尽快修复。

[2020-11-27 10:25] sserdoubleh commented on #29172
可以发下log/workerlog.0里的结果吗？

[2020-11-27 10:32] cy716 commented on #29172
谢谢，辛苦了。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年11月27日(星期五) 晚上6:26
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@nore

[2020-11-27 10:36] cy716 commented on #29172
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年11月27日(星期五) 晚上6:26
收件人:&nbsp;"PaddlePaddle/Paddle"<Paddle@noreply.githu

[2020-11-27 11:05] Ryan906k9 opened #29178 "UnboundLocalError: local variable 'new_states' referenced before assignment"
   1）PaddlePaddle版本：2.0rc
    2）CPU：Ai studio
报错信息：
[code]

代码：

[code]

[2020-11-27 11:07] #29127 closed, assigned to nobody

[2020-11-27 11:26] dyning commented on #29178
new_states这个变量没有定义？

[2020-11-27 12:10] Ryan906k9 commented on #29178
请问new_states是要如何定义呢？

[2020-11-27 12:26] chenwhql commented on #28774
paddle的动态图继承自原先静态图基础框架，在框架调度上的开销是要比torch重一些的，这个case凸显的如此明显，也是由于case的计算量比较小，调度的耗时占比确实会比较明显

这个后续我们会逐渐优化的，会需要一些时间，感谢您的反馈

目前我们内部对动态图的测试主要还局限在应用比较广泛的模型（比如ResNet，transformer）+ GPU场景的对比，在这些场景中，计算耗时占了整个过程的较大比重，因此框架调度的影响就没那么明显，在这些场景中，总体上的开销还是基本持平的

[2020-11-27 13:10] dyning commented on #29178
这个想问你是怎么定义的？或者这段代码来源是？

[2020-11-27 13:59] ellinyang commented on #22310
遇到类似的问题，paddle1.8.4 ，用同样的训练代码，同样的镜像，同样的驱动版本，在V100上能跑，但T4上报错了。

[2020-11-27 14:35] dyning commented on #29178
不好意思，看错了，是在CPU报错吗？

[2020-11-27 16:50] arogowie-intel commented on #28555
After more analysis, I found that Paddle's version didn't run oneDNN kernel for FC layer, so I enabled it. However, since it's run only once it doesn't improve the performance much.
The profiling of paddle gives result:
[code]
I'm attaching table which compares times reported by oneDNN and MKL-DNN libraries for each kernel. [prof_result_mkldnn_table.txt](https://github.com/PaddlePaddle/Paddle/file

[2020-11-28 00:32] zhouyuxixixi commented on #29170
1、我试了关闭mkldnn，可以同时预测两个模型了，但是推理时间相应的变长了，原来大概是20ms，现在是60ms，这是我不想看到的
2、最新的预测库？我是在https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/advanced_guide/inference_deployment/inference/windows_cpp_inference.html
下载的，是2.0.0rc0对应的版本，这个是最新的么？
![image](https://user-images.githubusercontent.com/65207014/100490152-2607ee80-3154-11eb-8358-0a1d278fba7a.png)
我还尝试了1.8.5的预测库，也是无法同时运行两个模型

[2020-11-28 01:27] Ryan906k9 commented on #29178
在CPU 和 GPU 环境下都会报错，而且很奇怪，每次训练到一半左右就会报这个错误

[code]

[2020-11-28 02:05] xn1997 commented on #28733
谢谢，请问你单独运行时，有没有哪个网络的GPU利用率达到满。
我的情况，大网络单独运行时显存占用不多，但利用率已经满了，小网络单独运行显存和利用率只占一部分。同时运行时小网络速度很慢，感觉是因为GPU利用率不足以同时分配给两个网络，就和串联执行差不多了，导致两个网络整体速度都有变慢。

[2020-11-28 02:33] zhouyuxixixi commented on #28733
resnet18
![image](https://user-images.githubusercontent.com/65207014/100492194-dc73cf80-3164-11eb-8a7e-5d922225be13.png)
resnet50
![image](https://user-images.githubusercontent.com/65207014/100492202-f57c8080-3164-11eb-9055-5a90868fd91f.png)
两个一起
![image](https://user-images.githubusercontent.com/65207014/100492210-104ef500-3165-11eb-87cd-b336dc74b8fd.png)
看样子，我的应该没有，我的利用率很低

[2020-11-28 02:44] xn1997 commented on #28733
利用率可以这么低的嘛。你在运行前是对网络显存占用什么的做了设置吗，我这边一旦运行占用率就满了，网络对GPU的利用率占比可以设置吗:<，只了解tf可以限制显存占用，不清楚利用率能不能设置 : (

[2020-11-28 03:09] zhouyuxixixi commented on #29170
最后发现如下
当单独使用CPU运行ResNet18网络的图像分类，CPU利用率为68%
当单独使用CPU运行ResNet50网络的图像分类，CPU利用率为98%

当同时使用CPU运行ResNet18和ResNet50网络进行图像分类，则直接提示错误
当同时使用CPU运行ResNet18和ResNet18网络进行图像分类，CPU利用率为100%，能够正常预测

由此可以发现应该是CPU利用率的问题，CPU本身限制了使用mkl加速模型预测与CPU利用率之间的关系。

[2020-11-28 03:23] zhouyuxixixi commented on #28733
不知道呀，我这个是图像分类，是按照PaddleClas来做的，先在AISTUDIO云端学习，然后在windows部署，使用C#调用dll的方式，所用的方法也都是参考文档的，只不过最后修改了paddleclas自带的clas.cpp的C++代码，让他只需要加载一次模型，只需要初始化一次GPU，你可以看看预测代码，是不是每次都加载了模型，如果每次都加载模型的话，明显的表现就是预测时间太长

[2020-11-28 03:29] xn1997 commented on #28733
好的，谢谢，我再查查原因

[2020-11-28 04:14] Hustle-Tung opened #29191 "安装好paddlepaddle2.0rc之后，测试是否正确安装卡住不动"
配置：`windows10, RTX 3070, CUDA 10.2, cuDNN 7.6.5, paddlepaddle2.0rc. `
[code]

`paddle.fluid.install_check.run_check() `卡住在`E:\anaconda3\envs\bdci\Lib\site-packages\paddle\fluid\executor.py`的1311行
[code]
请问我该怎么办？该检查什么？

[2020-11-28 04:19] Hustle-Tung commented on #29191
等待十分钟左右出现结果：
_(我在上述1311行前后添加了输入输出)_
[code]

请问为什么需要很长时间，并且在使用过程中GPU的显存被使用，利用率却只有0%~3%左右？

[2020-11-28 11:35] Hustle-Tung commented on #29191
调用`PaddleSeg-develop\dygraph`的`train.py`，开头输出
[code]
**NVCC: Not Available**  是不是没有成功调用GPU

求求大佬们帮忙

[2020-11-28 13:18] littletomatodonkey commented on #29191
这个GPU安装是成功得，但是因为nvcc安装不成功，因此无法使用多卡训练，但是可以使用单卡训练哈

[2020-11-28 13:23] Hustle-Tung commented on #29191
可是一开始我写的`nvcc -V`输出正常啊？`paddle.fluid.install_check.run_check()`调用多卡了吗，为啥会卡住很长时间呀？我训练的时候没有使用多卡啊，比如这个[https://github.com/PaddlePaddle/PaddleSeg/issues/605](https://github.com/PaddlePaddle/PaddleSeg/issues/605)

[2020-11-28 13:29] littletomatodonkey commented on #29191
目前PaddlePaddle支持在Linux下使用多卡训练，Windows只支持单卡，可以参考这里的链接：~https://paddlex.readthedocs.io/zh_CN/develop/appendix/gpu_configure.html

![image](https://user-images.githubusercontent.com/14270174/100516721-b845dc00-31c0-11eb-8924-a50646a1ce7f.png)

[2020-11-28 13:40] Hustle-Tung commented on #29191
[code]
`nvidia-smi`输出是这样的，应该是正常的吧？
我在windows环境变量里定义了`CUDA_VISIBLE_DEVICES=0`，应该默认使用一张GPU卡吧？我似乎没有调用多卡

[2020-11-28 13:48] littletomatodonkey commented on #29191
嗯嗯，这个只是输出信息，可以直接继续训练的哈

[2020-11-28 13:51] Hustle-Tung commented on #29191
可是`NVCC: Not Available`没有问题吗？我今天切换到[动态图模型](https://github.com/PaddlePaddle/PaddleSeg/tree/develop/dygraph)之后显卡利用率才上来了，[之前那个](https://github.com/PaddlePaddle/PaddleSeg/issues/605)一直利用率波动在0%~3%感觉相当于没用显卡呀？

[2020-11-28 13:57] littletomatodonkey commented on #29191
单卡训练的时候，是不需要nvcc得，因此，nvcc Not Available也不影响训练的哈

[2020-11-28 13:58] Hustle-Tung commented on #29191
哦哦好的，谢谢您了，这次由于一些限制没有换到Linux系统，惹出了很多麻烦，谢谢您了

[2020-11-28 13:58] #29191 closed, assigned to nobody

[2020-11-29 03:10] liuxi1007 opened #29194 "关于paddle 2.0rc版本paddle.fluid.layers.yolov3_loss的疑问【黄埔学院】"
### 文档问题描述：
paddle.fluid.layers.yolov3_loss(x, gt_box, gt_label, anchors, anchor_mask, class_num, ignore_thresh, downsample_ratio, gt_score=None, use_label_smooth=True, name=None
请问paddle.fluid.layers.yolov3_loss模块中 anchors可以是长宽不相等的锚点吗？
分别如下设置是否可以，这两个要如何用在此模块中？
 "anchors": [[10.0, 13.0], [16.0, 30.0], [33.0, 23.0],
                [30.0, 61.0], [62.0, 45.0], [59.0, 119.0],
                [116.0,

[2020-11-29 03:27] morgan-bc opened #29195 "动态图转静态图失败"
# 动态图转静态图失败
按照文档实例，转换模型失败。 示例链接 https://www.paddlepaddle.org.cn/tutorials/projectdetail/1008579

- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：GTX1060， Tesla V100
    4）系统环境：python3.7, Win10, Ubuntu18.04

代码如下
[code]

报错信息：
[code]

[2020-11-29 08:06] MissPenguin commented on #29195
能给出完整的报错信息吗，包括具体是哪一行产生的报错。

[2020-11-29 09:04] shaunhurryup opened #29197 "AI Studio后台任务跑一半挂掉了"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0rc
    4）系统环境：AI Studio后台任务

## 回溯
[code]

[2020-11-29 09:37] morgan-bc commented on #29195
@MissPenguin 已更新报错信息

[2020-11-29 12:48] Hustle-Tung commented on #29191
我找到`NVCC: Not Available`的问题所在了。
在`PaddleSeg-develop/dygraph/paddleseg/utils/env/sys_env.py`中，通过打印变量值，我发现是由于CUDA安装路径含有空格`E:\NVIDIA CUDA\v10.2\bin\nvcc`导致报错`'E:\NVIDIA' 不是内部或外部命令，也不是可运行的程序或批处理文件。`将文件夹名改为`NVIDIA_CUDA`并更新对应环境变量，就正常了：
[code]
但是开头提到的问题依然没有解决，每次开始训练模型都要卡在`E:\anaconda3\envs\bdci\Lib\site-packages\paddle\fluid\executor.py`的1311行大约20分钟左右，每次都得等待，唉

[2020-11-29 15:51] yhhu99 commented on #26519
您好，这个“在inference_program里面搜索"是要怎么做呢？

[2020-11-29 19:23] wojtuss commented on #28578
Hi @juncaipeng
In addition to what @lidanqing-intel wrote above, my comments:
1. in the model: the `out_threshold` attribute in `conv2d` ops sometimes stores values 0 - we usually use them for quantization and for them to be useful they must have positive values,
2. there is possibly an effect of the above plus some problem in the quantization process: some quantization scales turn out to be `infi

[2020-11-30 01:43] Ryan906k9 commented on #28768
你的意思是，虽然设置了 leangth，但是超出的部分数据依然会进行输入，只是不更新状态？

[2020-11-30 01:44] MissPenguin commented on #29197
看着是数据读取的报错，可以单独测试一下data loader，看跑一段时间是否会挂，如果data loader没问题，那可能是aistudio不稳定，重启任务试试。

[2020-11-30 02:26] juncaipeng commented on #28578
@wojtuss  We also found that the out_threshold of some conv2d ops is equal to 0, and the quantized model is verified to be right.

[2020-11-30 02:27] guoshengCS commented on #28768
是的

[2020-11-30 02:39] skywalk163 commented on #28759
非常感谢，我按照你的建议重新写了例子，能看出差别来。

我没有深入研究MXNet，好像它的异步计算算个卖点吧（主要是把几个CUDA同步函数都API出来，增加了python下的可控性啊）。

[2020-11-30 02:39] #28759 closed, assigned to nobody

[2020-11-30 02:41] dyning commented on #29172
@cy716 问题解决了？

[2020-11-30 02:56] gxpzy opened #29201 "CPU环境下报错：变量未初始化"
环境信息：
PaddlePaddle 1.6.2
Python3.7
ai studio
复现步骤：
1. fork这个项目https://aistudio.baidu.com/aistudio/projectdetail/249005
2. 将use_gpu 设置为False后运行
3.稍等一会就会报错
4. GPU下训练是不会报错的
错误信息：
2020-11-26 22:28:59.925334,epoch: 0, iter: 0, lr: 0.00033, 'loss': 11583.886, 'loss_cls': 34.709, 'loss_bbox': 10348.819, 'loss_rpn_cls': 481.958, 'loss_rpn_bbox': 718.399, time: 0.097
/opt/conda/envs/python35-paddle120-env/

[2020-11-30 03:06] dyning commented on #29178
@Ryan906k9 是否方便提供下数据和运行环境，我们排查下

[2020-11-30 03:18] #28451 closed, assigned to iclementine

[2020-11-30 03:19] yinhaofeng commented on #29066
你好，感谢反馈。已转交给内部相关同学

[2020-11-30 03:34] yghstill commented on #29194
@liuxi1007 yolov3_loss支持长宽不相等的锚点的

[2020-11-30 03:35] yinhaofeng commented on #29111
要看API是否注册了FP16，没有注册的话是不支持的

[2020-11-30 03:47] KingCSer opened #29203 "多机多卡分布式训练出错"
版本：paddle-1.8.5-gpu-cuda10.0-cudnn7.img
多机多卡分布式集群训练：（自定义集群）
问题：在2个node中训练时，当在一个node中ctrl+C强制退出训练后，另一个node却没有退出训练，而是卡在当前的epoch。怎样使得2个node同时退出训练？

[2020-11-30 04:18] Ryan906k9 commented on #29178
https://aistudio.baidu.com/aistudio/projectdetail/1270819

[2020-11-30 04:19] Ryan906k9 commented on #28768
谢谢，理解了

[2020-11-30 04:19] #28768 closed, assigned to haozech

[2020-11-30 04:20] #28760 closed, assigned to nobody

[2020-11-30 05:21] tink2123 commented on #29201
您好～ 请参考修改 train_own_data.py 78行：
![图片](https://user-images.githubusercontent.com/31891223/100571739-cb66c200-330e-11eb-9c1c-1acae2acbf8e.png)

[2020-11-30 05:25] yinhaofeng commented on #29110
你好，能给一下可以复现的完整代码，数据和环境吗？

[2020-11-30 06:08] liuxi1007 commented on #29194
您好，请问报这个错是因为什么？
TypeError: trace(): incompatible function arguments. The following argument types are supported:
    1. (self: paddle.fluid.core_avx.Tracer, arg0: str, arg1: Dict[str, handle], arg2: Dict[str, handle], arg3: Dict[str, Variant], arg4: paddle::platform::XPUPlace, arg5: bool) -> None
    2. (self: paddle.fluid.core_avx.Tracer, arg0: str, arg1: Dict[str, handle], arg2: Dict[str, handle

[2020-11-30 06:12] #28754 closed, assigned to liym27, zhwesky2010

[2020-11-30 06:15] gxpzy commented on #29201
按提示修改
`place = fluid.CUDAPlace(gpu_id) if cfg.use_gpu else fluid.CPUPlace(0)`
后错误信息如下：
Traceback (most recent call last):
  File "faster-rcnn/train_own_data.py", line 157, in <module>
    train()
  File "faster-rcnn/train_own_data.py", line 79, in train
    place = fluid.CUDAPlace(gpu_id) if cfg.use_gpu else fluid.CPUPlace(0)
TypeError: __init__(): incompatible constructor arguments. The following

[2020-11-30 06:33] tink2123 commented on #29201
在cpu环境下测试了一下～ 训练的过程中计算出nan，应该与网络参数定义有关，如果gpu能正常运行的话，可以尝试对齐gpu的配置，排查下问题。或直接使用PaddleDetection的代码～

[2020-11-30 06:40] gxpzy commented on #29201
gpu下有时也会nan，如果出现重新运行一下吧，我的问题是：
1、更改了第78行代码后报错，无法运行
2、如果不改就是报参数未初始化的错误

[2020-11-30 06:57] tink2123 commented on #29201
1. 不应该修改78行，忽略刚刚的评论.
2. iter=0时可以计算出前向结果，说明参数最初被正确初始化了，报错是因为训练过程中由于nan的出现，导致 roi_align_0 的输出为空，框架内判断为没有做初始化。

我这边修改了几个参数之后，在cpu下可以正常运行20个iter，更久的时间还未验证，你可以参考：
--im_per_batch=512 --learning_rate=0.00001
![图片](https://user-images.githubusercontent.com/31891223/100578299-efc99b00-331c-11eb-8dca-5df93223850a.png)

[2020-11-30 07:14] gxpzy commented on #29201
1. 感谢你的解答，不过gpu下也出现过nan，但是没报错，继续训练了，以后loss都是nan。按我之前运行的经验来看的话（不修改其它参数,仅修改use_gpu=False），CPU环境下仅能输出一次损失信息，之后就报错了，100%发生，GPU环境下就不管损失中有没有nan，都不会报那个参数未初始化的错误信息，可以一直运行。
2. 顺便问一下roi_align层应该没有需要初始化的参数（需要学习的参数）吧

[2020-11-30 08:19] luotao1 commented on #29082
关于这个问题， @wanghuancoder 当时做了一个完整的定位。结论是：怀疑是CUDA10.1的bug，待Paddle升级到CUDA10.2或CUDA11时，再验证一下该问题是否存在。
### 一、代码问题定位：

Bug的程序执行路径为：

1.在Profiler的Reset/Disable函数被调用时，会执行CUPTI的cuptiActivityFlushAll
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/platform/device_tracer.cc#L439
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/platform/device_tracer.cc#L602

2.cuptiActivityFlus

[2020-11-30 08:44] tink2123 commented on #29201
1. GPU 和 CPU行为不一致的问题，我们需要再check下原因，这个有结论的话会在这里给您回复。
2. roi_align层没有需要初始化的参数，但是它的输出会作为conv的输入，conv的输入为空，因此报错。

[2020-11-30 10:17] hutuxian commented on #29203
现在暂时没有这个机制，建议在另一个节点通过kill命令杀死进程。

[2020-11-30 11:53] wojtuss commented on #27330
A support for INT8 quantization of the GRU model is added to Paddle. The only piece we are waiting to add here is a version of oneDNN with additional GRU INT8 optimizations. The upgrade of oneDNN will be submitted in the PR https://github.com/PaddlePaddle/Paddle/pull/28420.

[2020-11-30 12:29] xcgworker opened #29231 "mac编译报错"
   1）PaddlePaddle版本：develop分支 7b5a8e46decf5cf35d6f9ff29fb24ff6bc0e79b9

    2）编译器版本：Apple clang version 11.0.3 (clang-1103.0.32.62)

编译报错：
![error](https://user-images.githubusercontent.com/55661104/100610394-9aa47e00-334a-11eb-8457-139e0d43acff.jpg)

我cmake执行的是：
cmake -DWITH_GPU=OFF -DWITH_TESTING=OFF -DWITH_AVX=OFF   -DPY_VERSION=3.7 ..

[2020-11-30 13:09] tianshuo78520a commented on #29231
我们最近会解决这个问题，添加一个编译Tensort的参数，默认不会去编trt，但目前的develop分支无法解决这个问题。
你可以从以下3个方案中选择合适你的方法解决：
1.机器的TRT需要升级，如果你使用的是官网镜像，可以重新pull更新镜像
2.如果你不需要编译Tensort可以选择删除/usr/include/NvInfer.h文件，清空build目录重新编译
3.可以手动更新Tensort，你需要使用大于6的版本，可以使用以下命令
[code]

[2020-11-30 13:14] skywalk163 commented on #28563
目前没有双T4环境了，先关闭吧。

[2020-11-30 13:14] #28563 closed, assigned to nobody

[2020-11-30 13:44] xcgworker commented on #29231
我觉得可能是编译器的问题，linux上用g++编译没有问题，但是在mac上使用clang就有问题了。
<img width="527" alt="image" src="https://user-images.githubusercontent.com/55661104/100617127-0390f380-3355-11eb-912e-1804a7dadfd8.png">
可能这种写法需要开启C++比较高级的特性，我试一下看clang加C++-17的特性后会不会有问题。

[2020-11-30 17:02] arogowie-intel commented on #28555
Below is detailed profiling of `OperatorWithKernel::RunImpl` function using `__rdtsc()` intrinsic.
The summary is prepared by specially written for this purpose profiler class.

[code]
The "Overall" is whole scope of `OperatorWithKernel::RunImpl`function. The rows corresponds to (nested) scopes.

With this we can see that `ComputeFP32.all`, that is kernel invocation and execution takes ~74%,
where

[2020-12-01 02:29] tianshuo78520a commented on #29231
![image](https://user-images.githubusercontent.com/29832297/100689199-fc063480-33be-11eb-8d3d-7d7eef774388.png)
我的clang版本是10.0.0，不应该是版本问题，你清空下build目录，重新cmake，make应该可以解决问题。

[2020-12-01 02:58] chenjun082 opened #29237 "Fail to install PaddlePaddle CPU-version with pip on MacOS 10.15.6"
When installing PaddlePaddle CPU-version with pip on MacOS 10.15.6, I always get the following installation exception:

Installing build dependencies ... done
  Getting requirements to build wheel ... error
  ERROR: Command errored out with exit status 1:
   command: ***sensitive***
       cwd: /private/var/folders/13/09f597jn53s3v4zgvncvh8x44c15rn/T/pip-install-uf13PE/opencv-python
  Complete out

[2020-12-01 03:37] xcgworker commented on #29231
v2.0.0-rc0在我mac编译成功了，我先用这个版本好了。

[2020-12-01 03:37] #29231 closed, assigned to tink2123

[2020-12-01 03:37] jhcgt4869 opened #29239 "文档注释不够严谨的问题"
在学习文档，进行书写文字的过程中，发现了文档中部分注释不够严谨。不知道是我过于杠精还是个人感觉技术文章、文档应该严谨猜对，特提isse
地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/guides/01_paddle2.0_introduction/basic_concept/tensor_introduction_cn.html
位置：Tensor的操作，修改tensor
原因：里面生成Tensor写明了是float32，但是注释结果却是int经过实际操作结果也是[[1.,1.,1.][1.,1.,1.]]
文档：
![image](https://user-images.githubusercontent.com/61859193/100694120-4db3bc80-33c9-11eb-8917-756a

[2020-12-01 03:45] ZHUI commented on #29237
It seems you have trouble when install the opencv package.

You can try `pip install opencv-python==4.2.0.32`, then  install the paddlepaddle package.

[2020-12-01 03:48] skywalk163 opened #29240 "咨询是否有内存和显存之间复制数据的API"
正在修改《动手学深度学习》的8.3节的代码到飞桨2.0版本 。

8.3 自动并行计算
8.3.2. 计算和通信的并行计算
在同时使用CPU和GPU的计算中，经常需要在内存和显存之间复制数据，造成数据的通信。在下面的例子中，我们在GPU上计算，然后将结果复制回CPU使用的内存。

请问飞桨是否有如MXNet那样的内存/显存之间复制数据的API，如果没有，我就把文档里这一小节空出来就好了。

[2020-12-01 03:50] luotao1 commented on #28555
@arogowie-intel Thanks for your analysis, do you mean after following optimizations, Paddle will run faster than OpenVino?

- merge #29188
- enable FC MKLDNN layer. We don't enable FC MKLDNN since it sometimes run faster but sometimes slower https://github.com/PaddlePaddle/Paddle/pull/15226/files#diff-8148a83acbd003053a9529118a6564903af9ba9306a28edd5f45c127443b0ef2R159
- InferShape being significa

[2020-12-01 04:43] lelelelelez opened #29241 "测试"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2020-12-01 04:48] #29241 closed, assigned to nobody

[2020-12-01 04:48] lelelelelez opened #29242 "测试"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2020-12-01 04:49] #29242 closed, assigned to nobody

[2020-12-01 04:50] lelelelelez opened #29243 "xx"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2020-12-01 04:50] #29243 closed, assigned to nobody

[2020-12-01 05:00] lelelelelez opened #29244 "测试"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2020-12-01 05:01] #29244 closed, assigned to ZHUI

[2020-12-01 05:24] ZHUI commented on #29239
收到反馈问题，我们会进一步完善，提高文档质量。

[2020-12-01 05:29] ZHUI commented on #29239
@liym27  辛苦文档负责人帮忙完善。

https://github.com/PaddlePaddle/FluidDoc/blame/develop/doc/paddle/guides/01_paddle2.0_introduction/basic_concept/tensor_introduction_cn.md#L379

https://github.com/PaddlePaddle/FluidDoc/blame/develop/doc/paddle/guides/01_paddle2.0_introduction/basic_concept/tensor_introduction_en.md#L388

[2020-12-01 05:37] ZHUI commented on #29240
使用GPU训练的话，是存在训练数据往GPU上拷贝的。

[2020-12-01 05:59] HXia-XXL opened #29245 "2.0rc版本 错误保存模型参数为.pkl格式"
把参数错误保存为.pkl格式，测试时也可以正常导入，但在训练集和测试集的预测结果都完全错误。
请问是因为这个参数文件格式错误的原因嘛？
有没有补救措施能把正确的参数文件copy回来，还是需要重新训练了？？
谢谢。
`#储存参数`
`paddle.save(model.state_dict(),'params.pkl')`
`#加载参数`
`model.set_state_dict(paddle.load('params.pkl'))`

[2020-12-01 06:19] liym27 commented on #29239
@jhcgt4869 好的，非常感谢您的建议。技术文档应当严谨，是之前撰写文档的疏忽，将尽快修正。
有问题或者建议，欢迎随时 issue 提出。

[2020-12-01 06:30] ZHUI commented on #29245
可以打印出来load进来的 state_dict，看是否符合预期。
一般加载没有问题的话，应该是save的时候，参数就出现了问题。
至于命名格式，能load应该问题不大。

[2020-12-01 06:41] skywalk163 commented on #29240
飞桨是否不能单独设定运算在cpu或者gpu？

我看到有这句，是全局设置的：paddle.set_device("gpu")
还有这句：with paddle.fluid.device_guard("gpu"):
该API仅支持【静态图】模式。在动态图下测试，全局为gpu，设置为cpu，最终还是从gpu运算的。

[2020-12-01 06:45] skywalk163 commented on #29240
也就是我们没有再放开手动在内存里copy数据这些操作，飞桨系统内部自动实现了。

那么同样道理，运算是不是也是自动实现的？

[2020-12-01 06:47] xiaonancs commented on #6338
遇到了相同的错误

[2020-12-01 07:00] ZHUI commented on #29240
目前的计算逻辑，是自动copy。device是gpu时候，有tensor在cpu上，cpu的tensor会自动copy到gpu，再进行计算。

如果要自己copy数据的话，可以尝试使用 paddle.to_tensor，指定place进行操作。

https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/api/paddle/tensor/creation/to_tensor_cn.html#to-tensor

[2020-12-01 07:13] HXia-XXL commented on #29245
好的。感谢。

[2020-12-01 07:13] #29245 closed, assigned to ZHUI

[2020-12-01 07:32] yeguang1991 opened #29249 "使用PALM的联合训练，实际训练轮次和设置的不一致"
https://github.com/PaddlePaddle/PALM/blob/master/examples/multi-task/run.py

我设置num_epochs=10，但是intent训练了50多轮
![image](https://user-images.githubusercontent.com/66579493/100710220-5cf73200-33ea-11eb-9720-2809ac4c883e.png)

[2020-12-01 07:37] HXia-XXL opened #29250 "2.0rc版本 测试时BatchSize需要和训练时的一致嘛？"
训练阶段BatchSize=16，测试时候设置model.eval()一张一张进行预测，结果完全错误。
设置成model.train()一张一张进行预测，结果大致正确，但精度较低。

我的理解是，设置eval()模式就固定了模型的BN层参数，是我训练阶段的BatchSize设置的太大了嘛
而且看到官方示例里面，测试集的BatchSize=32
`# 加载测试数据集
test_loader = paddle.io.DataLoader(test_dataset, places=paddle.CPUPlace(), batch_size=32, drop_last=True)

mnist.eval()`
就对这方面有一些困惑。
谢谢！

[2020-12-01 07:55] jhcgt4869 opened #29251 "不想提issue的issue"
地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/guides/01_paddle2.0_introduction/basic_concept/tensor_introduction_cn.html#id4

问题：逻辑运算符操作处，同一个操作使用的函数名不正确
![image](https://user-images.githubusercontent.com/61859193/100711643-8b760c80-33ec-11eb-9475-6b0d1583813d.png)
![image](https://user-images.githubusercontent.com/61859193/100711684-992b9200-33ec-11eb-818e-78352e0c0c57.png)

使用官方

[2020-12-01 08:10] HXia-XXL commented on #29250
不好意思。AI studio上训练的模型做了改动。本地模型没有做相应更改。现在正常了。耽误大家时间了抱歉。
不过注意力模块顺序变动了参数也能正常导入。Interesting。

[2020-12-01 08:10] #29250 closed, assigned to ZHUI

[2020-12-01 08:13] ZHUI commented on #29250
` 测试时BatchSize需要和训练时的一致` 理论上是不需要的。
建议可以在部分BN层参数前，查看打印train()和eval()时候的diff情况。

[2020-12-01 08:17] HXia-XXL commented on #29250
感谢。已经找到问题了。是本地模型忘记调整注意力模块顺序了。那这样load参数时候会不会忽略这个不匹配的层？

[2020-12-01 08:19] ZHUI commented on #29251
@jhcgt4869

1. `问题：逻辑运算符操作处，同一个操作使用的函数名不正确`
已知bug，develop已经修复。
可以尝试 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/Tables.html#whl-dev
2. `问题：复制官方api代码出现报错`
文档错误，develop已经修复。https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/tensor/logic.py#L184

[2020-12-01 08:24] luotao1 commented on #28555
<img width="1024" alt="图片" src="https://user-images.githubusercontent.com/6836917/100715076-a4cd8780-33f1-11eb-8e90-26d1ce5e7edf.png">
链接: https://pan.baidu.com/s/1rRMcGvaxhfleV_rSV2xNeg  密码: fabk
放了ResNet50、MobileNetV2、YOLOv3和UNet四个模型，每个模型目录里都有一个infer.py，进入相应目录执行python infer.py即可预测

[2020-12-01 08:24] jhcgt4869 commented on #29251
第一个我指的是equal写成了euqal
第二直接导入paddle对逻辑运算符操作会报错，是不是应该加个操作连接或者地址？？？或者报错解决方案？？？

[2020-12-01 08:30] jhcgt4869 commented on #29251
![image](https://user-images.githubusercontent.com/61859193/100715522-46ed6f80-33f2-11eb-95d4-8a1657d82051.png)
这个地方的代码报错，并没有得到解决啊

[2020-12-01 08:31] frankwhzhang commented on #29249
num_epochs设置的slot部分

[2020-12-01 08:42] ZHUI commented on #29251
好的，谢谢，确实是文档问题。 @zhouwei25 辛苦相关同学完善。
https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/paddle/guides/01_paddle2.0_introduction/basic_concept/tensor_introduction_en.md
https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/paddle/guides/01_paddle2.0_introduction/basic_concept/tensor_introduction_cn.md

"加个操作连接或者地址？？？或者报错解决方案？？？" 具体指?

`添加了原文档中的paddle.disable_static()` 2.0rc开始默认动态图，不再需要用`p

[2020-12-01 08:46] ZHUI commented on #29251
github repo上的文档已经修复。官网还没有update到最新版本
https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/paddle/api/paddle/tensor/logic/equal_cn.rst
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/tensor/logic.py#L184

[2020-12-01 08:53] ZHUI commented on #29250
不清楚你的具体问题。state_dict中参数name是一致的话，就可以成功加载参数。可以打印下state_dict中参数的keys看看。如果名字不匹配，会跳过。

[2020-12-01 08:54] yeguang1991 commented on #29249
如果设置intent部分的话，slot训练轮次太少了

请问应该怎么设置，才能让slot和intent都训练10轮？

[2020-12-01 08:54] jhcgt4869 commented on #29251
前面的已经收到，现在使用
![image](https://user-images.githubusercontent.com/61859193/100718075-e102e700-33f5-11eb-94de-b160f6ab9919.png)
![Uploading image.png…]()
全部都报错要怎么样解决

[2020-12-01 08:58] jhcgt4869 commented on #29251
前面的已经收到，现在使用整除和全部的逻辑运算符都会报错要怎么样处理？
![](https://user-images.githubusercontent.com/61859193/100718075-e102e700-33f5-11eb-94de-b160f6ab9919.png)
![image](https://user-images.githubusercontent.com/61859193/100718458-54a4f400-33f6-11eb-8d99-47b763cab0da.png)

[2020-12-01 09:09] ZHUI commented on #29251
floor_divide 目前支持 int32 和 int64的数据类型。符合预期。
![image](https://user-images.githubusercontent.com/16911935/100719279-62a74480-33f7-11eb-88ef-b407cbba058a.png)
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/tensor/math/floor_divide_cn.html#floor-divide

已知bug，develop已经修复。
可以尝试 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/Tables.html#whl-dev

[2020-12-01 09:13] jhcgt4869 commented on #29251
也就是aistudio目前还不支持是吧。
那个刚刚发现那个画框的api在API库里面没有，这……
![image](https://user-images.githubusercontent.com/61859193/100720132-86b75580-33f8-11eb-86a5-f20c688a2577.png)

[2020-12-01 09:29] ZHUI commented on #29251
对，得自己去安装develop版本。
reduce类的 op 收到反馈，已确认有问题，感谢。

[2020-12-01 09:40] jhcgt4869 commented on #29251
好的，paddle生态需要大家一起维护

[2020-12-01 09:44] ZHUI commented on #29251
感谢反馈，for batter paddle！

[2020-12-01 09:48] lidanqing-vv opened #29256 "Request for se-resnext GPU training log"
@luotao1  Could you please send us SE-ResNeXt GPU training log, so that we could compare with oneDNN training log?
Whole log, because we want to the accuracy convergence curve. Thank you very much!

[2020-12-01 10:28] liu824 opened #29258 "使用LSTM出现无法运行的问题，不报错，AIstudio执行器中断"
我的初始模型为：
#定义DNN网络
[code]
可以正常运行，为了尝试LSTM这个API，我将它加在fc1层前面：
[code]
输入输出都对齐了，但是一加上就无法运行，直接执行器中断。逐层排除之后，发现导致程序无法运行的地方在loss.backward()即反向传播过程中，将它注释之后程序可以运行。

[2020-12-01 10:37] athulvingt commented on #18665
how to change CPU_NUM?

[2020-12-01 10:43] TomorrowIsAnOtherDay commented on #18665
e.g, export CPU_NUM=6
@athulvingt

[2020-12-01 10:47] athulvingt commented on #18665
just type this in command line before running the program?
This what I did, but nothing much happend, it was still running on single CPU thread
`$ export CPU_NUM=6`
`$ python3 deploy/python/infer.py --model=models/retinanet_r50_fpn_1x --video_file=test2.webm`

Am I doing something wrong? @TomorrowIsAnOtherDay

[2020-12-01 10:57] athulvingt commented on #18665
You said something about reproducing it on TF, I tried to open your link. But it seems to be a dead end. If you have the code could you please send me to daredeviles888@gmail.com @TomorrowIsAnOtherDay

Thank you

[2020-12-01 11:07] TomorrowIsAnOtherDay commented on #18665
It's our internal website for code management. I paste the code here. It contains two files: test_speed.py and forward_model.py .
[code]

[code]

[2020-12-01 11:18] liym27 commented on #29239
该问题已修复，https://github.com/PaddlePaddle/FluidDoc/pull/2979
在[develop 版本](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/01_paddle2.0_introduction/basic_concept/tensor_introduction_cn.html#id7)的可看到修改后的文档（官网develop 版本的文档有一定延迟），修改后的文档将随 Paddle 2.0 正式版发布。

[2020-12-01 11:35] ZHUI commented on #29258
请问一下，使用的paddle版本是？
可以使用develop版本或者最新的2.0rc版本尝试。
这边再develop版本下，未能复现问题。

develop 版本地址 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/Tables.html#whl-dev

[2020-12-01 11:38] liu824 commented on #29258
我使用的是2.0rc版本

[2020-12-01 11:42] liu824 commented on #29258
这是我的项目https://aistudio.baidu.com/aistudio/projectdetail/1291489?shared=1

[2020-12-01 11:42] liu824 commented on #29258
https://aistudio.baidu.com/aistudio/projectdetail/1291489?shared=1

[2020-12-01 11:44] TomorrowIsAnOtherDay commented on #18665
Note that we should transfer the program using the compile API.

[2020-12-01 11:50] ZHUI commented on #29258
![image](https://user-images.githubusercontent.com/16911935/100736890-5bd7fc00-340e-11eb-926f-0901a43203e9.png)

aistudio 运行截图

[2020-12-01 11:55] athulvingt commented on #18665
I exported the model and generated three files, is it transferring the program using the compile API, If not could you please explain how to do it?

I am very much thankful for your quick replies

[2020-12-01 11:55] arogowie-intel commented on #28555
@luotao1 The points you mentioned probably won't suffice to run faster than OV. The [29188](https://github.com/PaddlePaddle/Paddle/pull/29188) PR give just ~4%.
I've made some more analysis to see just the overhead of oneDNN kernel setup, and to see what consumes time apart compute part in Paddle.
Here is the result for ResNet50 (I've downloaded it from PaddleClas repo)
[code]
Here is profiling of

[2020-12-01 12:01] liu824 commented on #29258
![image](https://user-images.githubusercontent.com/55372277/100738030-f71da100-340f-11eb-82c2-0114f459ec8e.png)
我每次运行都重启，按照您上面的方法

[2020-12-01 12:03] liu824 commented on #29258
代码是一样的
![image](https://user-images.githubusercontent.com/55372277/100738800-1bc64880-3411-11eb-850f-bda3399a9572.png)

[2020-12-01 12:08] TomorrowIsAnOtherDay commented on #18665
Here is an example of transferring the program:
https://github.com/PaddlePaddle/PARL/blob/5054efedd11b93fb34d289ec54a20f01e3156ea6/parl/core/fluid/plutils/compiler.py#L43

[2020-12-01 12:22] luotao1 commented on #28555
Yes, these two execution times are known before, we have already tried some ways to reduce their execution time. And we will go-ahead to continue this work. If we have any progress, I will update in this issue.

[2020-12-01 12:43] liu824 commented on #29258
我发现原因了，使用我使用高级版本的时候无法运行，使用cpu版本可以

[2020-12-01 12:45] ZHUI commented on #29258
此处为2.0rc LSTM API GPU 版本的BUG。我跑的是CPU的，所以未能复现。
最新develop版本已修复。

两种解决方案：

1. 需要设置 `input.stop_gradient=False`
2. 安装最新的develop版本Paddle. https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/Tables.html#whl-dev

[2020-12-01 12:47] liu824 commented on #29258
好的

[2020-12-01 17:24] MrSworder commented on #28360
你好，我在安装好Paddle的条件下，打开python后 import paddle，显示警告“You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default."我也检查了显卡驱动，已更新到最新。但还是有这个警告，请您帮忙解答疑惑

[2020-12-01 17:25] MrSworder commented on #28360
我的paddle版本：2.0.0
cuda版本10.1
cudnn版本7.6.5
显卡是 GeForce GTX TITAN X

[2020-12-01 17:26] MrSworder commented on #28360
显卡是 GeForce GTX TITAN X

[2020-12-02 01:50] fumenglin commented on #29166
我用2.0rc版本，就可以了。

[2020-12-02 02:13] jzhang533 commented on #29231
@xcgworker 在mac上，清空build目录，重新编译能够成功，可能是paddle依赖的pybind到 2.4.3引起的 ：#28284

[2020-12-02 02:14] skywalk163 commented on #29240
谢谢，根据你的提示把8.3节 同步计算写完了，基本复现了花书的例子。

主要思路就是用with paddle.fluid.dygraph.guard(cpuplace): 语句来设定执行的设备，
用paddle.to_tensor 实现内存和显存的数据copy

公开项目地址：https://aistudio.baidu.com/aistudio/projectdetail/231100

[2020-12-02 04:29] furtherlearningYan opened #29286 "动态图模式不支持一维卷积"
paddle 2.0 动态图模式不支持RowConv和SequenceConv
我将别人的torch模型改写成paddle的，网络结构中间有一维卷积，
torch中有nn.Conv1D函数，而paddle有RowConv和SequenceConv，但是动态模式下都不支持这两种。
请问一下，paddle中有没有动态图支持的一维卷积方式。

[2020-12-02 04:41] joey12300 commented on #29286
Paddle 2.0-rc1 试试paddle.nn.Conv1D

[2020-12-02 04:51] UFREE-CODE opened #29287 "图像处理-老照片修复或者超分时均报此错误，请问下怎么解决"
错误信息：  framework._dygraph_tracer().eval_mode()
AttributeError: 'NoneType' object has no attribute 'eval_mode'

paddle/paddlehub 均是最新版，
photo_restoration
类别图像 - 图像编辑
网络-
数据集-
模型概述
photo_restoration 是针对老照片修复的模型。它主要由两个部分组成：着色和超分。着色模型基于deoldify，超分模型基于realsr. 用户可以根据自己的需求选择对图像进行着色或超分操作。因此在使用该模型时，请预先安装deoldify和realsr两个模型。

[2020-12-02 06:50] lfchener commented on #29286
Conv1D API  可参照：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/layer/conv.py#L153

[2020-12-02 06:52] furtherlearningYan commented on #29286
好的，非常谢谢！希望paddle越做越好

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Li Fuchen"<notifications@github.com&gt;;
发送时间: 2020年12月2日(星期三) 下午2:50
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "so"<2917086992@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 动态图模式不支持一维卷积 (#29286)

paddle 2.0 动态图模式不支持RowConv和SequenceConv
 我将别人的torch模型改写成paddle的，网络

[2020-12-02 06:55] ZHUI commented on #29240
感谢为 paddle 做出的贡献， for batter paddle!

[2020-12-02 07:08] furtherlearningYan commented on #29286
好的，可以了，非常感谢

---原始邮件---
发件人: "Jack Zhou"<notifications@github.com&gt;
发送时间: 2020年12月2日(周三) 中午12:41
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"furtherlearningYan"<2917086992@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 动态图模式不支持一维卷积 (#29286)

paddle 2.0 动态图模式不支持RowConv和SequenceConv
 我将别人的torch模型改写成paddle的，网络结构中间有一维卷积，
 torch中有nn.Conv1D函数，而paddl

[2020-12-02 07:09] #29240 closed, assigned to ZHUI

[2020-12-02 07:22] haoyuying commented on #29287
请使用paddle2.0，paddlehub1.8.3使用该模型，目前paddlehub2.0与其他1.8模型适配还存在适配问题，将会尽快解决。

[2020-12-02 07:52] UFREE-CODE commented on #29287
paddle2.0.0a0&nbsp; 是这个版本吗？谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "haoyuying"<notifications@github.com&gt;;
发送时间: 2020年12月2日(星期三) 下午3:22
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "mlh"<673313181@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 图像处理-老照片修复或者超分时均报此错误，请问下怎么解决 (#29287)

请使用paddle2.0，paddlehub1.8.3使用该模型，目前paddle

[2020-12-02 07:54] haoyuying commented on #29287
不是，现在这个模型能跑通的环境是paddle2.0rc和paddlehub1.8.3，如果你不着急用，我今明两天会重新上线模型适配新版hub，上线之后我会第一时间通知您，敬请期待。

[2020-12-02 07:57] DDDivano commented on #28360
PATH是什么

[2020-12-02 08:07] UFREE-CODE commented on #29287
嗯，不着急，主要是看看照片怎么修复，模型好大，几个模型就几个g

---原始邮件---
发件人: "haoyuying"<notifications@github.com&gt;
发送时间: 2020年12月2日(周三) 下午3:54
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"百无一用是书生"<673313181@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 图像处理-老照片修复或者超分时均报此错误，请问下怎么解决 (#29287)

不是，现在这个模型能跑通的环境是paddle2.0rc和paddlehub1.8.3，如果你不着急用，我今明两天会重新上线模型适配新版hub，上线之后我会第一时

[2020-12-02 08:09] ForeverRuri commented on #25455
@HongRuHou 这问题解决了吗，我也碰到了。。。

[2020-12-02 08:12] zhudibo-unwulian opened #29296 "使用paddle静态图训练模型，模型文件里有_model__文件，不清楚_model__干嘛的？"
大佬，我使用paddle静态图训练模型后，模型文件保存的参数如下：
/home/un/work/mobilenetv2/ssr_model/gender-model/conv3x3_1_bn_mean
/home/un/work/mobilenetv2/ssr_model/gender-model/conv3x3_1_bn_offset
/home/un/work/mobilenetv2/ssr_model/gender-model/conv3x3_1_bn_scale
/home/un/work/mobilenetv2/ssr_model/gender-model/conv3x3_1_bn_variance
/home/un/work/mobilenetv2/ssr_model/gender-model/conv3x3_1_weights
/home/un/work/mobilenetv

[2020-12-02 08:37] UFREE-CODE commented on #29287
ResourceExhaustedError: Fail to alloc memory of 4976644096 size.
&nbsp; [Hint: p should not be null.] (at D:\2.0.0-rc0\paddle\paddle\fluid\memory\deta
il\system_allocator.cc:69)
&nbsp; [operator < conv2d &gt; error]

paddle2.0rc和paddlehub1.8.3 安装了这个版本还是不能跑老照片修复

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "haoyuying"<notifications@github.com&gt;;
发送时间: 2020年12月2日(星期三) 下午3:54
收件人: "Pa

[2020-12-02 08:38] UFREE-CODE commented on #29287
ResourceExhaustedError: Fail to alloc memory of 4976644096 size.
&nbsp; [Hint: p should not be null.] (at D:\2.0.0-rc0\paddle\paddle\fluid\memory\deta
il\system_allocator.cc:69)
&nbsp; [operator < conv2d &gt; error]

paddle2.0rc和paddlehub1.8.3 安装了这个版本还是不能跑老照片修复，我电脑是16G内存

------------------ 原始邮件 ------------------
发件人: "haoyuying"<notifications@github.com&gt;;
发送时间: 2020年12月2日(星期三) 下午3:54
收件人: "Pa

[2020-12-02 09:22] shikeno opened #29298 "paddle1.8编译问题"
我在本地编译paddle-tensorrt 的时候遇到了这个问题，想请问一下怎么解决。
![image](https://user-images.githubusercontent.com/44427541/100853029-3dcbd380-34c2-11eb-8934-4007a349565a.png)
环境：
paddle: release-1.8
cuda:10.2
cudnn:7.6.5
tensorrt: 6.0.1.8
gcc: 5.4 (8.2 也试过，也有这个问题),c++11、14都试过
eigen3： 用的就是.cmake 里面的也没改过

编译命令：
cmake -DPY_VERSION=3.5 -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DTENSORRT_ROOT=/home/Ten

[2020-12-02 09:38] haoyuying commented on #29287
这个应该是内存不够的错误，paddle2.0rc和paddlehub1.8.3是可以跑的，一些用户已经用起来了，跑照片修复最好用小一点的照片，超分是4倍超分，占用内存很大。

[2020-12-02 09:57] PUZZER commented on #28047
设备：jetson xavier NX
jetpack：4.4
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: ON
CUDA version: 10.2
CUDNN version: v8.0
Tensorrt：7.1.3.0
Namespace(cls=False, cls_batch_num=30, cls_image_shape='3, 48, 192', cls_model_dir='/home/puzzer/.paddleocr/cls', cls_thresh=0.9, det=True, det_algorithm='DB', det_db_box_thresh=0.5, det_db_thresh=0.3, det_db_unclip_ratio=2.0, det_east_cover_thresh=0.1, det_east_nms_t

[2020-12-02 10:22] morgan-bc commented on #29195
这个到底是什么问题？我看其他 issues 中也提到类似的问题，但是他们的就可以运行，是不是1.8.5这个版本有问题

[2020-12-02 10:24] JaneBai commented on #28044
我也遇到同样的问题。在主线程初始化并检测没有问题。在其中某个线程里，GPU推理就会崩溃，但CPU没有问题

[2020-12-02 10:47] UFREE-CODE commented on #29287
修复后照片是变大了，但是不清楚，还不如原图清晰

---原始邮件---
发件人: "haoyuying"<notifications@github.com&gt;
发送时间: 2020年12月2日(周三) 下午5:38
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"百无一用是书生"<673313181@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 图像处理-老照片修复或者超分时均报此错误，请问下怎么解决 (#29287)

这个应该是内存不够的错误，paddle2.0rc和paddlehub1.8.3是可以跑的，一些用户已经用起来了，跑照片修复最好用小一点的照片，超分是4倍超分，占用内存很大。

[2020-12-02 11:14] haoyuying commented on #29287
换下其他的照片试下，realsr这个效果还是可以的，我上了适配2.0paddlehub+2.0rc paddle的老照片修复模型，你可以下载1.0.1版本的试下.

[2020-12-02 11:23] UFREE-CODE commented on #29287
好的，非常感谢，一般1M的照片，要多大内存运行？

---原始邮件---
发件人: "haoyuying"<notifications@github.com&gt;
发送时间: 2020年12月2日(周三) 晚上7:15
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"百无一用是书生"<673313181@qq.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 图像处理-老照片修复或者超分时均报此错误，请问下怎么解决 (#29287)

换下其他的照片试下，realsr这个效果还是可以的，我上了适配2.0paddlehub+2.0rc paddle的老照片修复模型，你可以下载1.0.1版本的试下.

—
Yo

[2020-12-02 11:23] joey12300 commented on #29195
可以试试使用2.0-rc版本看看能不能解决你的问题

[2020-12-02 11:24] lidanqing-vv commented on #29070
[BF16_test_reproduction_2.txt](https://github.com/PaddlePaddle/Paddle/files/5628895/BF16_test_reproduction_2.txt)
Hi, @luotao1  @OliverLPH  this is BF16 inference benchmark for 4 models: resnet50, mobilenetv1, mobilenetv2, googlenet. Please verify it on Bfloat16 machine. Thank you very much

[2020-12-02 11:25] joey12300 commented on #29298
试一下删掉build目录下所有东西，重新编译一下。不需要设置-DCMAKE_CXX_FLAGS

[2020-12-02 11:49] haoyuying commented on #29287
最好图像不要超过800*800，具体没测过，但是照片修复这个模型内存占的最大的是realsr部分。

[2020-12-02 12:55] zp7541 commented on #29110
已经弄好了,请问下parl.layers.batch_norm这个东西怎么用啊，有参考示例吗

[2020-12-02 12:57] yinhaofeng commented on #29110
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/batch_norm_cn.html#batch-norm

[2020-12-02 13:00] zp7541 commented on #29110
`class ActorModel(parl.Model):
    def __init__(self, act_dim):

        self.conv1 = layers.conv2d(num_filters=16, filter_size=5, stride=2)
        self.bn1 = layers.batch_norm(act='relu')

        self.conv2 = layers.conv2d(num_filters=32, filter_size=3, stride=2)
        self.bn2 = layers.batch_norm(act='relu')

        self.conv3 = layers.conv2d(num_filters=32, filter_size=3, stride=1)

[2020-12-02 13:34] yinhaofeng commented on #29110
你看一下参数啊，首先你要有input，表明bn层在哪一层后面

[2020-12-02 13:56] zp7541 commented on #29110
我后面有加啊， 动图的不也大概是这个方式写的吗。 能给个dqn加batch_norm的代码吗

[2020-12-03 02:13] xialei2821212670 opened #29314 "paddle 2.0 安装问题"
我尝试安装了2.0版本的paddle-gpu，但是遇到了问题，初步认为vc的dll 安装问题，尝试去重新安装vc 2015~2019。 成功的把1.8.4的paddle-gpu 给弄的找不到vc环境。于是我尝试重新一个个安装vc ,直到1.8.4重新运行，但是切换到2.0版本还是出现ImportError: DLL load failed: 找不到指定的程序。
成功安装1.8.4
![image](https://user-images.githubusercontent.com/57654726/100954654-f2f89d00-354f-11eb-9494-b526eb006fa2.png)
尝试2.0
![image](https://user-images.githubusercontent.com/57654726/100954729-191e3d00-3550-11eb-8

[2020-12-03 02:28] #29195 closed, assigned to MissPenguin

[2020-12-03 02:52] #29239 closed, assigned to ZHUI, liym27

[2020-12-03 03:11] yilvshifeng opened #29320 "1.8.5cpu版本，是否支持Windows Server 2019 64位？"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\deploy\env\Python\Python36\lib\site-packages\paddle\__init__.py", line 35, in <module>
    batch = batch.batch
NameError: name 'batch' is not defined

提示错误“NameError: name 'batch' is not defined”，
安装版本如下：
Collecting paddlepaddle==1.8.5
  Downloading https://mirror.baidu.com/pypi/packages/fe/13/57206330cfde448145676

[2020-12-03 03:43] shikeno commented on #29298
已经成功，谢谢

[2020-12-03 06:07] Jorsen0 opened #29328 "paddle.fluid.layers.lstm权重赋值"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4
    2）CPU/GPU：CUDA10
    3）系统环境：ubuntu16.04
    4）Python版本号：3.6.5
    5）显存信息

- 问题描述：请问有没有为LSTM的权重进行赋值的AP，就是讲numpy数组赋值到lstm，如果有的话权重的维度是什么样的呢，四个门的顺序又是如何呢？

[2020-12-03 06:17] wawltor commented on #29328
在lstm中有个选项，可以使用https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/initializer_cn/NumpyArrayInitializer_cn.html#numpyarrayinitializer 来进行初始化

[2020-12-03 06:24] wawltor commented on #29320
相应的同学已经在排查了，请稍候 ~~

[2020-12-03 06:25] wawltor commented on #29314
相应的同学已经在排查问题了，请稍候~~

[2020-12-03 06:36] Jorsen0 commented on #29328
好的，多谢解答，如果我这样初始化的话，weight维度是什么样的呢，bias的初始化需要怎么做呢

[2020-12-03 06:41] DDDivano commented on #29320
可以详细说下 paddle和 python安装方式吗？因为这个路径本身就是有问题的，少了个 \\
![image](https://user-images.githubusercontent.com/10734244/100973554-b50e6f80-3575-11eb-9346-3fe87b42944e.png)

[2020-12-03 06:50] DDDivano commented on #29314
在anaconda环境下可以使用conda install 来安装paddlepaddle

[2020-12-03 06:58] yilvshifeng commented on #29320
python是使用python-3.6.5-amd64.exe安装包方式安装，paddlepaddle是pip安装，命令：pip install paddlepaddle -i https://mirror.baidu.com/pypi/simple

[2020-12-03 07:17] yilvshifeng commented on #29320
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\deploy\env\Python\Python36\lib\site-packages\paddle\__init__.py", line 35, in <module>
    batch = batch.batch
NameError: name 'batch' is not defined

完整的提示如上，那里少的“\”可能是后面不小心删掉了，抱歉！！！

[2020-12-03 07:19] DDDivano commented on #29320
路径应该是在 File "C:\deploy\env\Python\Python36\lib\site-packages\paddle\_init_.py", line 35

[2020-12-03 07:23] DDDivano commented on #29320
import paddle.batch
batch = batch.batch

直接打这个报错吗

[2020-12-03 07:24] yilvshifeng commented on #29320
编辑的时候是有“\”的，提交之后，在这里显示就少了“\”！！！这里的路径没有错的！

[2020-12-03 07:28] yilvshifeng commented on #29320
一样的报错：

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\deploy\env\Python\Python36\lib\site-packages\paddle\__init__.py", line 35, in <module>
    batch = batch.batch
NameError: name 'batch' is not defined

[2020-12-03 08:30] shinianzhihou opened #29334 "本地多卡训练时，程序终止，服务器用户退出"
- 版本、环境信息：
Paddle version: 1.8.5
Paddle With CUDA: True
OS: debian buster/sid
Python version: 3.6.11
CUDA version: 10.0.130
cuDNN version: 7
Nvidia driver version: 450.80.02
- 训练信息
    1）单机多卡
    2）显存增长到一定时，程序异常终止，服务器当前用户直接退出，尝试调小batchsize也无效。
运行命令是：
export CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7
python       pdseg/train.py --use_gpu \
                            --cfg  ../configs/deeplab_res2net_vd.

[2020-12-03 08:39] lyf6 opened #29335 "windows 多卡训练以后会支持吗"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2020-12-03 09:17] shinianzhihou commented on #29334
可能是mpio的问题，我关了--use_mpio 就行了，但是速度降了很多

[2020-12-03 09:45] peif1987 commented on #29111
我的流程是用pytorch训练的模型，导出为onnx后，用x2paddle转换为paddel模型后，再调用libpaddle_fluid.so去做推断。之前都是用TensorRT C++写推断代码的。

所以想了解有没有和TensorRT类似的方式，在模型序列化时就转为fp16的？
您指的API是否注册了FP16，是指算子吗？假如注册了FP16，应该怎么用呢？

[2020-12-03 10:25] liuxi1007 commented on #29194
谢谢。

[2020-12-03 10:25] #29194 closed, assigned to nobody

[2020-12-03 10:30] liuxi1007 opened #29345 "DetectionMAP的使用疑问"
[code]
请问此代码中gt_box=[xmin, ymin, xmax, ymax]是指原始图片中框的大小，还是指变换为（0，1）之间的框值？

[2020-12-03 11:28] shinianzhihou commented on #29334
又出现这个问题了，请问可能是什么原因呀？为什么会导致服务器的用户下线呢

[2020-12-03 11:43] XieYunshen commented on #29314
可以在anaconda prompt窗口下使用pip安装,或者重新安装Python，不使用anaconda的Python

[2020-12-03 12:31] #28336 closed, assigned to ForFishes

[2020-12-03 12:42] yinhaofeng commented on #29110
https://github.com/PaddlePaddle/models/search?q=batch_norm  可以看看这个

[2020-12-03 13:40] yinhaofeng commented on #29111
你指的是不是tensorrt里面convert-to-uff工具将模型转换成fp16精度存储的功能

[2020-12-03 17:50] shinianzhihou opened #29353 "WARNING:root:You are using GPU version Paddle Fluid, But Your CUDA Device is not set properly"
nvidia-smi：

[code]

nvcc -V

[code]

[code]

[code]
paddle安装
pip install paddlepaddle-gpu==1.8.5.post107 -i https://mirror.baidu.com/pypi/simple

报错信息：

[code]
望解答

[2020-12-04 00:44] xialei2821212670 commented on #29314
你好，我尝试过conda 安装。还是一样的

[2020-12-04 04:13] sun-ching opened #29362 "You are using Paddle compiled with TensorRT, but TensorRT dynamic library is not found. Ignore this if TensorRT is not needed.>>>"
when i input "import paddle.fluid",the computer give me an error"You are using Paddle compiled with TensorRT, but TensorRT dynamic library is not found. Ignore this if TensorRT is not needed.>>>"
so what should i do ?
thank you!

[2020-12-04 05:11] qingqing01 commented on #29362
@sun-ching If you do not use TensorRT for inference, you can ingore this wanring.

[2020-12-04 05:31] qingqing01 commented on #29353
@shinianzhihou 看样子是CUDA环境有点问题，你跑其他CUDA示例感觉也会不正确。设置下 CUDA_VISIBLE_DEVICES 试下呢。

[2020-12-04 05:38] shinianzhihou commented on #29353
![image](https://user-images.githubusercontent.com/29772895/101126024-92439000-3635-11eb-8ef3-c0caa5d5082e.png)
![image](https://user-images.githubusercontent.com/29772895/101126210-fa927180-3635-11eb-8875-a2d2d45877ad.png)
您好，这样都不行

[2020-12-04 06:53] shinianzhihou commented on #29353
你好，我用其他程序搜集到的环境信息如下：

Collecting environment information...
PyTorch version: 1.2.0
Is debug build: False
CUDA used to build PyTorch: 10.0.130
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Could not collect
CMake version: Could not collect

Python version: 3.6 (64-bit runtime)
Is CUDA available: False
CUDA runtime ve

[2020-12-04 06:55] sun-ching commented on #29362
i will use TesorRT.what should i do ?

[2020-12-04 07:50] sun-ching commented on #29362
But i will use TensorRT,so what should i do?Thank you

[2020-12-04 09:54] joey12300 commented on #29296
你好，这是model文件，记录模型结构的。推理时需要加载模型结构

[2020-12-04 10:49] Grubby-Wang opened #29379 "win10源码编译cmake报错"
GPU Paddle release-1.8
win10, cuda 10.0, cudnn 7.6, python 3.7,Visual Studio 2017
按照官方文档里win编译需要的python库：umpy, protobuf, wheel都安装。

cmake命令：
`cmake .. -G "Visual Studio 15 2017 Win64" -DPY_VERSION=3.7 -DPYTHON_INCLUDE_DIR=${PYTHON_INCLUDE_DIRS} -DPYTHON_LIBRARY=${PYTHON_LIBRARY} -DPYTHON_EXECUTABLE=${PYTHON_EXECUTABLE} -DWITH_FLUID_ONLY=ON -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Releas

[2020-12-04 10:56] qingqing01 commented on #29362
@sun-ching You can try to download TensorRT library, and set lib into LD_LIBRARY_PATH.

[2020-12-04 13:16] juncaipeng opened #29385 "elementwise_add raises an exception dnnl::error, could not construct a memory descriptor using a format tag"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that th
If there is no solution,please make sure that this is an inference issue including the following details :
**System information**
-PaddlePaddle version （eg.1.1）or CommitID: develop (commit id:f7cdcefa65ea74c0940b32dc3458b18903c0b6b2) and paddle 1.8.5
-CPU: MKLDNN
-GPU:
-OS

[2020-12-04 13:42] zhwesky2010 commented on #29379
@Grubby-Wang  https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/compile_Windows.html 您好，请使用这篇文档进行编译，cmake 配置为  cmake .. -G "Visual Studio 14 2015 Win64" -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release  你这篇文档应该是很早期的文档。
warning为特意打出来的提示信息，没有别的问题。

[2020-12-04 14:10] lidanqing-intel commented on #29385
I don't have dnnl::error
I reproduced that Predictor B result is wrong

[2020-12-04 14:51] Grubby-Wang commented on #29379
@zhouwei25更换了您提供的方法，报错的还是一样的问题：
[code]

[2020-12-04 15:05] zhwesky2010 commented on #29379
@Grubby-Wang 看看python有没有装好

[2020-12-04 19:45] lidanqing-vv commented on #29385
@juncaipeng @qingqing01
Based on develop `f7cdcefa65ea74c0940b32dc3458b18903c0b6b2`
`enable_mkldnn =false`
[code]
`enable_mkldnn = true`
[code]

I do not have any dnnl:error. Could you please check again? @qingqing01 @juncaipeng

The small numbers difference between enable_mkldnn = true or false, does not necessary means there is issue in mkldnn kernels.
Because with enable_mkldnn= false, newer co

[2020-12-05 02:39] FD-Liekkas commented on #28356
求解决办法，我也遇到了相同的问题，谢谢了～！

[2020-12-05 03:13] Rayaction opened #29389 "2.0rc 抢先版本 cuda 10.2 训练报段错误"
使用paddleseg分割库，paddle2.0版本
export CUDA_VISIBLE_DEVICES=0
跑pdseg中的train.py时，报以下错误：
Error Message Summary:
----------------------
FatalError: A serious error (Segmentation fault) is detected by the operating system. (at /paddle/paddle/fluid/platform/init.cc:303)
请问如何解决

[2020-12-05 03:52] Rayaction commented on #29389
具体点的报错如下：
There are 1570/1574 varaibles in ./pretrained_model/ocnet_w18_bn_cityscapes are loaded.
Use multi-thread reader

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::framework::SignalHandle(char const*, int)
1   paddle::platform::GetCurrentTraceBackString[abi:cxx11]()

----------------------
Error Message Summary

[2020-12-05 04:16] Grubby-Wang commented on #29379
@zhouwei25多谢回复，重新确认python正常，并重新安装，安装仍然有问题，报错跟之前一样，不知道是哪里没安装或者设置未设置好

[2020-12-05 04:17] Grubby-Wang commented on #29379
@zhouwei25多谢回复，重新确认python正常，并重新安装，安装仍然有问题，报错跟之前一样，不知道是哪里没安装或者设置未设置好

[2020-12-05 06:08] Grubby-Wang commented on #29379
问题已解决，cmake 方法的问题，但是深入原因不清楚：
`cmake .. -G "Visual Studio 15 2017" -A x64 -DWITH_GPU=OFF -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DPY_VERSION=3`
参考用的文档是：https://paddle-inference.readthedocs.io/en/latest/user_guides/source_compile.html#windows-10

[2020-12-05 08:07] Rayaction commented on #29082
这个问题10.2的cuda还存在啊///

[2020-12-05 08:12] BullShitMaker opened #29395 "nvalidArgumentError: Python object is not type of class std::shared_ptr<class paddle::imperative::VarBase>"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle2.0rs
    3）GPU：RTX2080TI
    4）系统环境：WIN10 Python3.7.9
- 训练信息
    1）单卡
    2）显存信息
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：
Exception has occurred: EnforceNotMet

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
Not support stack backtrace yet.

----------------------
Error Message Sum

[2020-12-05 09:11] lyn1225 opened #29396 "关于paddleseg的问题"
在ai studio上使用paddleseg库训练语义分割模型。数据集是Cityscapes。我每次分配到的是32G的V100，所以batch_size只能设置为4。官方提供的PSPNet代码，使用resnet_v2_pspnet模型，batch_size=4, bn，经过epoch=80轮训练后，在val 上测试的mlou 是70.66。自已提了一个简单的新模型，相同的实验条件下，val上测试的mlou是73.07，如果使用gn，大概可以在高0.6mlou。但是因为GPU显存的限制，无法扩大batch_size来测试所提模型的性能。实验室条件资源有限，所以想问下是否可以分配更大显存的GPU以供使用？如果后续会发论文的话，也会注明所用的语言为paddle，平台为ai studio。

[2020-12-05 09:39] peif1987 commented on #29111
对，我用的是onnx转tensorrt的部分，应该和convert-to-uff是类似的。
可以用TensorRT里自带的trtexec将onnx模型序列化，trtexec有一个参数是--fp16，打开的话就能得到fp16精度的序列化模型。
也可以用python或者c++接口自己转换，原理和trtexec类似。
我就是想了解下paddle里有没有提供类似的功能，可以将模型直接保存为fp16精度的模型，模型大小也更小，推断时速度更快，精度没有损失。

[2020-12-05 12:52] jingsongliujing opened #29398 "关于社区论坛最近常被广告脚本攻击"
建议进行广告过滤，给我们社区开发者更好的体验

[2020-12-05 23:22] Pzoom522 commented on #22041
请问未来可否将其解耦为单独的摘要模型（pointer generator）？因为这是最常见的摘要baseline，可以极大地方便后续开发。谢谢！

[2020-12-06 03:15] merlinarer opened #29399 "动态图 dataloader 图片文件名报错"
想用dataloader在load一个batch图片的时候同时把这些图片的文件名读进去
重写了__getitem__
![image](https://user-images.githubusercontent.com/71754029/101270488-803c2b80-37b4-11eb-89c7-e41801d2529f.png)
但是报错了
![image](https://user-images.githubusercontent.com/71754029/101270459-410dda80-37b4-11eb-9b01-1bf52e8d22f1.png)
是不是还需要改那个地方？

[2020-12-06 03:56] KingCSer opened #29400 "分布式训练数据并行问题"
版本：paddlepaddle-1.8.5
问题：多机多卡分布式训练中是做的数据并行吗？数据并行具体的实现在哪一部分？

[2020-12-06 03:57] xialei2821212670 commented on #29314
你好，麻烦问下，这个安装的问题如何解决。

[2020-12-06 04:19] luotao1 commented on #29398
您好，感谢您的反馈，请问是 AI社区：https://ai.baidu.com/forum/topic/list/168 么？

请问有具体示例可以看下么？

[2020-12-06 04:20] luotao1 commented on #29389
duplicated with https://github.com/PaddlePaddle/PaddleSeg/issues/653

[2020-12-06 04:33] luotao1 commented on #29395
1. 请问跑的是官方的例子，还是您自己的例子？如果是自己的例子，是否有复现代码？
2. 请问是直接运行出错，还是跑了一段时间出错呢？
3. 相同的程序在linux上会出错么？

[2020-12-06 04:50] jingsongliujing commented on #29398
是的，具体是昨天和前天，具体请看链接图片[https://bbq.leceshi.cn/one.jpg](https://bbq.leceshi.cn/one.jpg)
[https://bbq.leceshi.cn/two.jpg](https://bbq.leceshi.cn/two.jpg)

[2020-12-06 04:57] xcgworker opened #29401 "在华为鲲鹏处理器上编译错误"
试了一下在华为鲲鹏处理器上编译，报错：
<img width="792" alt="image" src="https://user-images.githubusercontent.com/55661104/101271935-8afdbd00-37c2-11eb-9a44-1be64d68103b.png">

cmake -DWITH_GPU=OFF -DWITH_TESTING=OFF -DWITH_AVX=OFF -DON_INFER=ON  -DPY_VERSION=3.7 ..

操作系统是debian10.

[2020-12-06 05:23] yeyupiaoling commented on #29314
我的也是这个问题，我安装的版本是CPU版本，CPU信息：
![image](https://user-images.githubusercontent.com/26297768/101272321-26dcf800-37c6-11eb-9846-b67dc48ba711.png)

错误信息：
[code]

[2020-12-06 05:30] luotao1 commented on #29398
收到，周一帮您反馈社区管理人员，非常感谢！！

[2020-12-06 05:31] Rayaction commented on #29389
是的，我两边都提了。您这边看下解决下

[2020-12-06 05:53] jhcgt4869 opened #29402 "文档中有言语漏洞需要修复"
地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/guides/01_paddle2.0_introduction/basic_concept/broadcasting_cn.html
位置：

![无标题](https://user-images.githubusercontent.com/61859193/101272622-d31fde00-37c8-11eb-8d4c-7488062a97ad.jpg)
情况：划线地方“的y来匹配多了”

然后：
![image](https://user-images.githubusercontent.com/61859193/101272758-365e4000-37ca-11eb-8ed7-80f133d237ff.png)
paddel2.0不是没有：paddl

[2020-12-06 06:07] BullShitMaker commented on #29395
1. 官方例子，没复现代码，只是想跑通
2. 直接出错
3. 没用linux

所以我这个程序的问题到底是什么

[2020-12-06 07:25] jhcgt4869 commented on #29402
![image](https://user-images.githubusercontent.com/61859193/101274213-184b0c80-37d7-11eb-958a-f65ce61e4acb.png)
API里面都没有：elementwise了

![image](https://user-images.githubusercontent.com/61859193/101274219-2b5ddc80-37d7-11eb-8bf1-72182d09812f.png)
这个要怎么处理？？？

[2020-12-06 08:01] xcgworker commented on #27276
我也遇到了这个问题，执行
 config->SwitchIrOptim(false);
就可以了。

[2020-12-06 08:09] xcgworker commented on #27276
我是静态图转动态图后保存的结果，预测就报这个错。
python中执行这个静态图没有问题，只有C++中才有这个问题。
模型就是resnet50vd_10w 的模型取前面一小部分后转静态图保存的。
[resnet50vd_sub_0.tar.gz](https://github.com/PaddlePaddle/Paddle/files/5648458/resnet50vd_sub_0.tar.gz)

[2020-12-06 08:10] xcgworker commented on #27276
我上面提供的附件看你有没有用。

[2020-12-06 08:12] xcgworker commented on #27276
我上面提供的附件看有没有用。

[2020-12-06 08:15] sxzhou1937 opened #29403 "GPU训练报错：RuntimeError: parallel_for failed: invalid configuration argument"
环境：py3.7
cuda 10.0
paddle：paddlepaddle-gpu 1.8.5
[看过这个链接未找到答案](https://github.com/PaddlePaddle/Paddle/issues/26322)

我这里报错显示为：
![image](https://user-images.githubusercontent.com/19250976/101275043-9f02e800-37dd-11eb-8242-c21fe57a9711.png)
![image](https://user-images.githubusercontent.com/19250976/101275049-a4603280-37dd-11eb-9a36-914b047d1553.png)

代码部分：
![image](https://user-images.githubusercon

[2020-12-06 09:02] Relax-87 opened #29409 "paddlepaddle 依赖 numpy1.19.4 报错"
需要将 numpy1.19.4 卸载 并安装numpy1.19.3

[2020-12-06 12:35] luotao1 commented on #29395
能否给一下官方例子的链接？

[2020-12-06 13:13] gongweibao commented on #29403
你是用的哪个样例？链接发出来。

[2020-12-06 13:42] sxzhou1937 commented on #29403
您好，是按照这个写的https://aistudio.baidu.com/aistudio/projectdetail/1302631

[2020-12-06 13:42] gongweibao commented on #29402
1. 多了一个来
2. disable_static是有的
3. elementwise在paddle.fluid.layers下。

[2020-12-06 13:46] gongweibao commented on #29400
默认是数据并行。哪一部分是指什么？

[2020-12-06 13:58] iotctech commented on #29389
使用paddle训练模型遇到同样问题，batch size增大后，直接报错，batch size小的时候可以运行

Paddle2.0rc + cuda10.2

错误日志
[code]

[2020-12-06 14:09] Rayaction commented on #29389
6

我设置的bs在10,1版本可以运行的。但是是10.1搭配1.8.5版本paddle，然后换成10.2搭配2.0就不行了

[2020-12-06 15:02] KingCSer commented on #29400
就是数据并行的代码实现是在paddle中哪个文件里？------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;gongweibao&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年12月6日(星期天) 晚上9:47
收件人:&nbsp;&quot;PaddlePaddle/Paddle&quot;<Paddle@noreply.github.com&gt;;
抄送:&nbsp;&quot;yangkangkangkang&quot;<3182164906@qq.com&gt;;&quot;Author&quot;<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle] 分布式训练数据

[2020-12-07 00:33] xialei2821212670 commented on #29314
我尝试cpu 也是这个情况，GPU一样。等待工作人员查看吧

[2020-12-07 01:29] jhcgt4869 commented on #29402
![](https://ai-studio-static-online.cdn.bcebos.com/04aae0d5b1cc473abf85beaeb3759378162fd42f5f464c82977a3f0d60a3edaf)

那既然知道elementwise在paddle.fluid.layers下，为什么文档li里面不注释修改呢？？？
还是报错的，这文档就真的这么水，不能够仔细看的？？？
文档里面最基础的东西都跑不出来，都是报错，怎么样让新手参加，怎么样让其他外行人信服，怎么样超过国际深度学习框架，就算我们这一批paddle爱好者，在paddle环境中不断努力，积极的营造paddle生态，一个文档做不好，大楼做不好，名片做不好，又有谁会真的相信这是一个好的产品呢？？？看到了aistudio里面积极向上的ppde们，有名的坑，寂寞等，几乎每天有新的文章，帮帮团的小伙伴们不断答疑解

[2020-12-07 01:47] gongweibao commented on #29402
感谢您的工匠精神，我们已经安排人修改了。同时我们也会安排去请教一下`看到了aistudio里面积极向上的ppde们，有名的坑，寂寞等，`等同学的意见，让更多的人参与到paddle的精益求精的过程中来。
再次感谢！

[2020-12-07 02:02] Rayaction commented on #29389
果真，我bs从调小后可以跑

[2020-12-07 02:10] jhcgt4869 commented on #29402
也感谢你们的辛苦付出，刚刚态度有点急躁，请见谅，你们是这一块最辛苦的！感谢！

[2020-12-07 03:13] liuxi1007 opened #29415 "请问DetectionMAP如何使用？一张图片中多个识别目标可否使用这个API计算map？"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 2.0-rc
- 训练信息
    1）单机，单卡
    2）显存信息10GB
- 代码：
[code]
请问DetectionMAP如何使用？一张图片中多个识别目标可否使用这个API计算map？

[2020-12-07 03:45] OliverLPH commented on #29070
@lidanqing-intel @luotao1
I have finished and verified the tests.
here is my results,
[测试数据.xlsx](https://github.com/PaddlePaddle/Paddle/files/5650309/default.xlsx)

Howerver, there are two issues need to concern
1. `paddle/fluid/inference/tests/api/full_ILSVRC2012_val_preprocess.py` can only convert data to binary with python2, python3 will crash due to some reason
![image](https://user-images.gi

[2020-12-07 04:54] luotao1 commented on #29396
您好，ai studio上最大就是V100-32G的卡了，如果您的显存不够，建议您可以用多卡训练。
可参考文档：https://aistudio.baidu.com/aistudio/projectdetail/913043 其中[PaddleDetection：PCB瑕疵检测(支持多卡训练)](https://aistudio.baidu.com/aistudio/clusterprojectdetail/1029223) 有使用8卡训练的例子。ai studio上最大可以用到8卡。

[2020-12-07 07:38] EvilCalf opened #29428 "The third-party dynamic library (cudnn64_7.dll) that Paddle depends on is not configured correctly."
python 3.8.3
paddle 2.0.0rc0
cuda10.2 cudnn 7.6.5 已经复制进去
但依然说没有cudnn

[2020-12-07 09:08] zp7541 opened #29438 "请问下parl 框架里面，layers.batch_norm这个函数怎么用。不是fluid.layers.batch_norm, 是parl.layers.batch_norm"
`import parl
from parl import layers
import paddle.fluid as fluid
import copy
import numpy as np
import os
import gym
from parl.utils import logger

LEARN_FREQ = 5 # 训练频率，不需要每一个step都learn，攒一些新增经验后再learn，提高效率
MEMORY_SIZE = 20000    # replay memory的大小，越大越占用内存
MEMORY_WARMUP_SIZE = 200  # replay_memory 里需要预存一些经验数据，再开启训练
BATCH_SIZE = 32   # 每次给agent learn的数据数量，从replay memory随机里sample一批数据出来
LEARNING_RAT

[2020-12-07 09:09] zp7541 commented on #29438
能帮我在class Model（）类面添加一下layers.batch_norm()吗。

[2020-12-07 09:20] juncaipeng commented on #29385
@lidanqing-intel

I will check the dnnl::error again.

For the next problem, you should change the order of creating predictor and running predictor in model_test.cc to check the output diff.

![image](https://user-images.githubusercontent.com/52520497/101332186-ece82080-38af-11eb-9875-18a11c7bebf4.png)

[2020-12-07 09:22] guoshengCS commented on #29428
Windows环境是否有试过`set PATH=XXX;%PATH%`呢

[2020-12-07 09:32] guoshengCS commented on #29438
请问使用`fluid.layers.batch_norm`是有什么问题吗，或者使用parl中这里的[batch_norm](https://github.com/PaddlePaddle/PARL/blob/develop/parl/core/fluid/layers/layer_wrappers.py#L504)是有什么问题吗

[2020-12-07 09:35] zp7541 commented on #29438
我想用parl.layers.batch_norm这个函数不知道怎么用,能给个示例吗。在DQN代码中用parl.layers.batch_norm这个函数

[2020-12-07 09:44] xcwei opened #29439 "用DataFeeder 读lod 数据会报错"
![image](https://user-images.githubusercontent.com/7373579/101334851-5d447100-38b3-11eb-8f49-eac837e443b6.png)

如图，使用DataFeeder读lod数据报错，代码如下
![image](https://user-images.githubusercontent.com/7373579/101334951-7f3df380-38b3-11eb-9f79-ce5552edcd72.png)
![image](https://user-images.githubusercontent.com/7373579/101335024-9846a480-38b3-11eb-83b0-fa677a0b7a8f.png)

与这个issue问题基本一样
https://github.com/Pa

[2020-12-07 09:56] wawltor commented on #29328
不好意思现在才看到，我看了一下具体的实现逻辑，确实不太好用NumpyInitializer，你是否可以切换2.0 rc动态图的API，动态图的版本是可以很轻松只是weight和bias的初始化的设置的

[2020-12-07 09:57] wawltor commented on #29334
@wuyefeilin 帮这个同学看看这个问题哈

[2020-12-07 10:02] wuyefeilin commented on #29334
@shinianzhihou 请把issue提到https://github.com/PaddlePaddle/PaddleSeg中，方便我们跟踪哈。

有可能是因为资源超载引起的问题.  cuDNN version: 7, 具体是7.几给一下哈

[2020-12-07 10:22] guoshengCS commented on #29438
https://github.com/PaddlePaddle/PARL/search?q=layers.batch_norm 可以参考在PARL下搜到的示例，另外也可以在PARL下提个issue的

[2020-12-07 10:36] qingqing01 commented on #29353
@shinianzhihou

能否先测试下CUDA环境是否正确:

test_cuda.cpp

[code]

编译:

[code]

运行看下是否有输出信息:

[code]

[2020-12-07 11:08] cerlee opened #29444 "Core dumped when use FusedEmbeddingSeqPoolKernel"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：Core dumped when use  FusedEmbeddingSeqPoolKernel
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：with mkl lib
    4）系统环境：CentOS release 4.3 (Final)
2.6.32_1-19-0-0 #2 SMP Wed Aug 31 20:43:21 CST 2016 x86_64 x86_64 x86_64 GNU/Linux
-预测信息
- 复现信息：如为报错

[2020-12-07 11:57] guoshengCS commented on #29444
是否可以先不使用fused_embedding_seq_pool呢，这个是在contrib下面可能不是特别完备

[2020-12-07 12:00] cerlee commented on #29444
@guoshengCS 目前看绕不开，输入为空得时候core的，这个能修复下吗？

[2020-12-07 12:10] guoshengCS commented on #29444
使用普通的embedding层加sequence_pool也有这个问题吗，可否将空的数据过滤下呢

[2020-12-07 12:14] heavengate commented on #29399
DataLoader现在还不支持string数据类型，需要输入数据都是可以转化为numpy array的，string数据类型我们会尽快支持，目前的版本还不支持图片文件名

[2020-12-07 12:33] DrRyanHuang opened #29450 "Momentum 优化器的动量因子设置问题"
文档中的更新公式是这个：
![](https://latex.codecogs.com/svg.latex?velocity%20=%20mu%20\times%20velocity%20+%20gradient)
![](https://latex.codecogs.com/svg.latex?param%20=%20param%20-%20lr%20\times%20velocity)

抛开正负号不说，也就是实际上的动量因子是 `lr*mu` , lr == 0.001, mu==0.9，两者相乘这也太太太太太太太太太太太太太太太太太太太太小了吧
一般动量因子是0.5-09，请问老铁，API的momentum和文档的`nu` 是一个东西吗

[2020-12-07 12:39] guoshengCS commented on #29439
如果是LoDTensor的话，产生的data可以试下使用list

[2020-12-07 12:44] zp7541 commented on #29438
不行啊，报错batch_norm() got an unexpected keyword argument 'fuse_with_relu'
能帮忙写一下吗

[2020-12-07 12:44] juncaipeng commented on #29385
OK, the problem has been fixed.

[2020-12-07 12:44] #29385 closed, assigned to qingqing01, lidanqing-vv

[2020-12-07 13:08] xcwei commented on #29439
没太明白，是说把什么转成list

[2020-12-07 14:55] guoshengCS commented on #29439
比如原来rand_x和rand_xs都是使用`fluid.create_lod_tensor`创建的LoDTensor，直接使用list或numpy array即可，不用再使用`fluid.create_lod_tensor`

[2020-12-07 19:02] xcgworker opened #29452 "链接了libpaddlue_fluid.dylib的python库不能和paddle一同使用"
我自已封装了一个python库，链接了libpaddlue_fluid.dylib。单独import 这个python库和paddle库 没有问题，但是同时import 时就有问题了：

WARNING: Do not have avx core. You may not build with AVX, but AVX is supported on local machine.
 You could build paddle WITH_AVX=ON to get better performance.
The original error is: No module named 'paddle.fluid.core_avx'

ERROR: something wrong with flag 'devices' in file '/Users/elaine/lab/contrib/Pad

[2020-12-08 00:52] qq345481843 opened #29453 "paddle2.0rc版本支持多输出吗？"
我在前向传播forward()中return一个list<tensor>可是当list中的tensor有多个时就会报错。

错误信息：
D:\Developer\Anaconda\envs\paddle2.0\lib\site-packages\paddle\nn\layer\norm.py:637: UserWarning: When training, we now always track global mean and variance.
  "When training, we now always track global mean and variance.")
Traceback (most recent call last):
  File "D:/Developer/Workplace/Python/project/maritime-situation-awarenes

[2020-12-08 00:57] KingCSer opened #29454 "数据并行的代码实现部分在哪里"
版本: paddlepaddle-1.8.5
在多机多卡分布式训练中（自定义集群），数据并行的代码是在哪里实现的？以及all gather部分的代码是在哪里实现的？

[2020-12-08 02:00] cerlee commented on #29444
目前处理是空数据做了过滤，不过这个问题希望你们也周知哈

[2020-12-08 02:20] wanghaoshuang commented on #29453
Paddle2.0RC的动态图API支持多输出。

losses = self.model._loss(*(to_list(outputs) + labels))
File "D:\Developer\Anaconda\envs\paddle2.0\lib\site-packages\paddle\fluid\dygraph\layers.py", line 829, in call
outputs = self.forward(*inputs, **kwargs)
TypeError: forward() takes 3 positional arguments but 5 were given

从以上报错信息看，是您给`loss` layer的输入太多了。

您MSAHead中forward的输出会送给您注册的loss layer，如果参数列表不匹配的话会报这个错。

[2020-12-08 02:24] jackrobsu opened #29456 "layers.auc 返回结果异常"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2020-12-08 02:35] seiriosPlus commented on #29456
提供一下组网时AUC的配置？

[2020-12-08 02:36] seiriosPlus commented on #29456
单机多cpu核是指单机训练吗？

[2020-12-08 02:38] wanghaoshuang commented on #29452
您这里是静态链接吧？给成动态链接试试？

[2020-12-08 03:10] xcgworker commented on #29452
<img width="1275" alt="image" src="https://user-images.githubusercontent.com/55661104/101434507-9c230700-3945-11eb-8f7c-de071bb93e99.png">
我用的mac的xcode编译的,链接的是动态库，应该不是静态链接吧。 paddle是按标准的cmake + make,

[2020-12-08 03:37] sandyhouse commented on #29454
1.8.5版本下，数据并行的主入口可以参见python/paddle/fluid/incubate/fleet/collective/__init__.py文件中的CollectiveOptimizer类。
all_gather实现代码参见：paddle/fluid/operators/collective/c_allgather_op.[h,cc,cu.cc]文件。

[2020-12-08 03:38] yinhaofeng commented on #29111
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/inference_improving/paddle_tensorrt_infer.html#a-name-paddle-trt-paddle-trt-a
precision参数，类型：enum class Precision {kFloat32 = 0, kHalf, kInt8,};, 默认值为AnalysisConfig::Precision::kFloat32。指定使用TRT的精度，支持FP32（kFloat32），FP16（kHalf），Int8（kInt8）。若需要使用Paddle-TRT int8离线量化校准，需设定precision为 AnalysisConfig::Precision::kIn

[2020-12-08 04:28] majintao1994 commented on #29353
你好，我也遇到类似问题，但是cuda正常，测试代码也通过了
![微信图片_20201208110202](https://user-images.githubusercontent.com/38645277/101441028-1a39da80-3953-11eb-90c9-6b897d6eb741.png)
![微信图片_20201208110221](https://user-images.githubusercontent.com/38645277/101441034-202fbb80-3953-11eb-8d4f-43f126e84acd.png)
![cw](https://user-images.githubusercontent.com/38645277/101441045-26259c80-3953-11eb-860b-5f8c0f86c16e.png)

[2020-12-08 04:35] jiweibo commented on #29401
cmake的时候加上-DWITH_XBYAK=OFF -DWITH_ARM=ON

[2020-12-08 05:50] #28459 closed, assigned to jczaja, huangjun12, lidanqing-vv

[2020-12-08 05:54] lidanqing-vv commented on #29070
@OliverLPH Ok we will fix the python3 incompatibility issue.
@wozna Is memory increasing normal for this test, do you have any idea?

[2020-12-08 06:58] peif1987 commented on #29111
我问的问题就是不使用TRT的情况下，Paddle的C++推断API里是否可以直接支持fp16。
你提到的这个是必须用TRT才可以， 假如我编译Paddle时不想添加TensorRT，Paddle能不能用fp16推断？
或者对于TRT还不支持的op, fp16要怎么支持呢？

[2020-12-08 07:35] majintao1994 commented on #28360
你好，我也遇到了同样的问题，系统是Ubuntu16.04，padlde2.0.cuda10.1，cudnn7.6.5，cuda测试没问题，请问可以帮忙看看吗
![微信图片_20201208110202](https://user-images.githubusercontent.com/38645277/101453851-ef5b8080-396a-11eb-8625-293622350641.png)
![微信图片_20201208110221](https://user-images.githubusercontent.com/38645277/101453862-f4b8cb00-396a-11eb-9372-0c0caf5b2cab.png)
![cw](https://user-images.githubusercontent.com/38645277/101453871-f8

[2020-12-08 07:35] lidanqing-vv opened #29471 "[2.0 final release needed] ocr_rec model oneDNN slower performance than CPU Native"
Models mentioned in #28578 fp32 model using oneDNN has slower performance than native fp32, Except hard_swish, which oneDNN team is working, investigate if there are other possibilities to improve the performance

[2020-12-08 07:42] lidanqing-vv opened #29472 "[Low, after 2.0] roll model and ticket model oneDNN slower performance compared with CPU Native"
Issue #29385 releated models, using oneDNN fp32 will have slower performance compared with CPU Native fp32. Need to be investigated. Contact @lidanqing-intel  for models and code for this issue

[2020-12-08 07:51] lidanqing-vv commented on #29080
test_activation_mkldnn_op
[code]

[2020-12-08 07:54] lidanqing-vv commented on #29080
Hi @arlesniak Could you please check this test_flags_use_mkldnn UT failure?
[code]

[2020-12-08 08:09] guoshengCS commented on #29438
可以找到报错的python文件和对应的行数这里加上一个`fuse_with_relu`参数但是不使用 https://github.com/PaddlePaddle/PARL/blob/develop/parl/core/fluid/layers/layer_wrappers.py#L504

[2020-12-08 08:17] qq345481843 commented on #29453
感谢答复，问题已经解决了。的确是我loss参数传入没写好。

[2020-12-08 08:17] #29453 closed, assigned to wanghaoshuang

[2020-12-08 08:18] zp7541 commented on #29438
不行啊，兄弟。能帮忙写一下吗？环境就一个gym的环境。

[2020-12-08 08:21] yinhaofeng commented on #29111
目前还没有支持paddle原生的fp16推理，应该是只能用TRT。我们有计划支持，但目前还在等待开发。

[2020-12-08 08:24] guoshengCS commented on #29450
是的，API的momentum和文档中的`mu`是同一个。

[2020-12-08 08:32] luotao1 commented on #29070
This is a small bug of unit-test, you can refer to https://github.com/PaddlePaddle/Paddle/pull/18372/files#diff-de4300fc1192c77b78427084b631dbb9eaada1539b2783416babff2cd0c60f51R119
[code]
I use `swap` to clear input vector.

[2020-12-08 08:50] jerrywgz commented on #29415
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/metrics.py#L805 可以参考这里的说明，一张图片中如果有多个物体的话也是可以使用的

[2020-12-08 08:50] arlesniak commented on #29080
Hi @lidanqing-intel Due to the logs test_flags_use_mkldnn fails because it's been run on avx2 capable machine and the test expects avx512. The FLAGS to be tested do behave properly, but output comparison is too detailed. I'll make a PR with more general comparison that would solve that.

[2020-12-08 08:55] lizhaohu opened #29481 "deformable_conv crash"
CPU 1060
CUDA 10.0
PADLE 2.0
ubutun 16.04
docker 2.0rc linux 10.0
code:

#!/usr/bin/env python3
from paddle.fluid.initializer import Constant
from paddle.fluid.param_attr import ParamAttr
import paddle
import paddle.fluid as fluid
import cv2
import numpy as np
from time import time
import paddle.nn.functional as F

class DcnModel(paddle.nn.Layer):
    def __init__(self, name_scope, in_feature_numb

[2020-12-08 09:06] yuandanfei opened #29482 "动态图中如何初始化Variable为空变量？"
版本、环境信息：
    1）PaddlePaddle版本：1.8.4
    2）CPU：i7-7700HK
    3）GPU：GTX-1060
    4）系统环境：Ubuntu18.04，Python3.7.6

想在动态图中实现初始化Variable为空变量，并判断是否为空的功能。类似在静态图中代码如下：
[code]

[2020-12-08 09:15] wanghaoshuang opened #29483 "Why Tensor's numel is negative"
用户问题：

这里的Tensor's numel指的是啥，文档有吗
----------------------
Error Message Summary:
----------------------
Error: When calling this method, the Tensor's numel must be equal or larger than zero. Please check Tensor::dims, or Tensor::Resize has been called first. The Tensor's shape is [10, -1] now
  [Hint: Expected numel() >= 0, but received numel():-10 < 0:0.] at (/paddle/paddle/fluid/framework/tensor.

[2020-12-08 09:16] wanghaoshuang commented on #29483
Tensor's numel是指tensor中元素的数量。建议您定位到出错的elementwise_sub（或减操作符），然后打印下该操作的输入shape。应该是shape中一个维度为负值，导致了当前的错误。

在组网时（编译时）可以有负值，在运行时不能有负值。

如果您用的静态图，可以使用Print op打印下运行时的shape: https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/Print_cn.html#print

如果是动态图，直接用python的print即可。

[2020-12-08 09:18] wanghaoshuang commented on #29483
通过Print op排查，发现用户构造的test program里边有取梯度的操作，而test porgram并没有计算梯度。

[2020-12-08 09:18] #29483 closed, assigned to wanghaoshuang

[2020-12-08 09:37] zhwesky2010 commented on #26174
您好，请问这个只是复制一个全新的模型，然后各训练各的，彼此参数没有影响对吧。

[2020-12-08 09:43] KingCSer opened #29487 "参数是否一致"
版本：paddlepaddle-1.8.5
问题：分布式多机多卡训练（自定义集群）中每个node最终保存的参数是否完全相同？以及在训练过程中每个epoch结束后保存的参数是否也完全相同？

[2020-12-08 09:44] KingCSer commented on #29454
好的，谢谢！

[2020-12-08 10:23] zhouwei25 commented on #28744
您好，请问只是复制一个全新的模型，各训练各的，彼此间参数没有影响对吧。

[2020-12-08 10:23] zhwesky2010 commented on #28744
您好，请问只是复制一个全新的模型，各训练各的，彼此间参数没有影响对吧。

[2020-12-08 12:36] wanghaoshuang commented on #29481
paddle2.0rc 动态图暂时不支持deformable_conv，请先使用paddle develop, 或参考以下PR修改本地相关python文件：
https://github.com/PaddlePaddle/Paddle/pull/29364

[2020-12-08 12:44] wanghaoshuang commented on #29482
请参考：

[code]

[2020-12-08 12:46] wanghaoshuang commented on #29487
在parameter server模式下，是相同的

[2020-12-08 12:49] Weili-NLP opened #29497 "fleet分布式训练使用fluid.layers.collective._c_allgather程序hang住，GPU利用率固定在100%，没有输出"
   1）PaddlePaddle版本：1.8.3
    3）GPU：32g V100、CUDA 10.1、 CUDNN 7.6
    3）Python3.7.4

程序hang住不动，不使用fluid.layers.collective._c_allgather可正常运行

![image](https://user-images.githubusercontent.com/25901705/101485906-d23ca700-3996-11eb-9280-f2c9869451ef.png)

[2020-12-08 13:16] semal commented on #26391
我也遇到了同样的问题，还没解决吗？桑心..

[2020-12-08 16:50] leeacord commented on #26677
2.0rc已解决此问题

[2020-12-08 16:50] #26677 closed, assigned to nobody

[2020-12-09 02:09] EvilCalf commented on #29428
还没有set PATH是加入什么

[2020-12-09 02:10] EvilCalf commented on #29428
还没有，set PATH是加入什么进去

[2020-12-09 02:16] EvilCalf commented on #29428
我把cuda bin lib等都SET PATH进去了，依然不行

[2020-12-09 03:34] JiaXiao243 opened #29506 "【PaddleClas】HRNet_W18_C 动态图和静态图模型在开启mkldnn C++预测报错，直接使用cpu可以正常预测"
CPU: Intel(R) Xeon(R) Gold 5117 CPU

动态图模型地址：http://10.255.103.42:8990/infer_dygraph/HRNet_W18_C/
静态图模型地址：http://10.255.103.42:8990/infer_static/HRNet_W18_C/

报错信息：
![image](https://user-images.githubusercontent.com/37854899/101570935-5bdd8a80-3a12-11eb-8a99-0f2d6dbb72ec.png)

[2020-12-09 03:35] wanghaisheng opened #29507 "AttributeError: module 'cv2' has no attribute 'INTER_LINEAR'"
https://github.com/PaddlePaddle/PaddleOCR/issues/1321#

PPOCRLabel下opencv冲突问题 PaddleOCR开发人员建议在此询问
macos 10.15.7 (19H15)
conda管理python环境

尝试conda下新建3.6和3.8的环境 执行下面步骤 也还是类似的问题
(py3.6) wenke@wenkedeMac-mini PPOCRLabel % pip3 uninstall opencv-python
WARNING: Skipping opencv-python as it is not installed.
(py3.6) wenke@wenkedeMac-mini PPOCRLabel % pip3 install opencv-contrib-python-headless
Looking in

[2020-12-09 05:05] OliverLPH commented on #29506
@lidanqing-intel
Hi, we met two problems when using mkldnn prediction, please help see this issue.

model download links

1. HRNet_W18_C model
Both dygraph model and static graph model has this issue.

[2020-12-09 05:19] OliverLPH commented on #29506
@lidanqing-intel
Hi, we met two problems when using mkldnn prediction, please help see this issue.

model download link：
[code]

reproduce code：
[code]

1. HRNet_W18_C model
Both dygraph model and static graph model has this issue. Error message is shown below

However, I can run both HRNet_W18_C models on `Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz CPU`. In this scenario, we thought this error may

[2020-12-09 05:23] OliverLPH commented on #29506
2. SE_ResNeXt50_vd_32x4d static graph model
This model can also be downloaded from previous comment. And reproduce codes are same too.

And this issue can be reproduce either on `E5-2650` and `5117`.
[code]

[2020-12-09 07:17] T-baby opened #29510 "预计什么时候支持 ML Compute？"
2.0 有计划支持 苹果的 ML Compute吗？tensorflow 2.4 已经支持了。

[2020-12-09 10:52] Yuzuki-N opened #29520 "3080 和 cuda 11支持问题"
请问paddle支持30显卡和cuda11吗？之前装过好像是有点问题，不知道现在支持不支持

[2020-12-09 12:28] lidanqing-vv commented on #29506
Both 1 and 2 can be reproduced in i9 machine

[2020-12-09 12:50] tutouyubeiyi opened #29524 "安装paddlepaddleGPU版本出错"
前面的流程都很顺畅，结果在检验的时候报错cudnn64_7.dll not found。下载方式如下
![image](https://user-images.githubusercontent.com/55478640/101631734-c9fc6e80-3a5f-11eb-997e-c77382e05346.png)

**cuda和cudaa配置如下**

![image](https://user-images.githubusercontent.com/55478640/101631833-f87a4980-3a5f-11eb-8b93-6b889405bffe.png)

**报错如下：**

![image](https://user-images.githubusercontent.com/55478640/101631862-0334de80-3a60-11eb-919

[2020-12-09 12:51] wxh001qq commented on #26421
您好，使用你提到的这种方法，报如下错误呢
lib/python2.7/site-packages/paddle/fluid/contrib/extend_optimizer/extend_optimizer_with_weight_decay.py", line 84, in minimize
    for p_grad_sgrad in scaled_params:
TypeError: 'NoneType' object is not iterable

[2020-12-09 22:35] YueWang1996 opened #29530 "Alpine Linux v3.10 pip安装错误"
系统环境：
NAME="Alpine Linux"
ID=alpine
VERSION_ID=3.10.5
PRETTY_NAME="Alpine Linux v3.10"
HOME_URL="https://alpinelinux.org/"
BUG_REPORT_URL="https://bugs.alpinelinux.org/"

Python版本：python 3.7.7
Pip 版本：pip 19.2.3
安装方式：pip安装         

安装代码及出现的问题：
[code]
因为项目需要，必须要在Alpine Linux系统下进行安装，求解决办法，谢谢！

[2020-12-09 22:36] YueWang1996 commented on #29530
安装错误为：
  ERROR: Could not find a version that satisfies the requirement paddlepaddle (from versions: none)
ERROR: No matching distribution found for paddlepaddle

[2020-12-10 02:37] jzhang533 commented on #29520
2.0RC1版本近期会发布，会发布支持CUDA11.0的whl包。
但是30系列显卡需要有CUDA11.1, 需要自己源码编译。

[2020-12-10 02:51] hpuyj commented on #25338
我也遇到了这个问题，请问最后怎么解决的

[2020-12-10 03:09] Darki-luo opened #29533 "Accuracy接口pred, label只支持二维吗？"
Paddle2.0rc中的paddle.metric.Accuracy,pred,label只能用二维吗？高级接口也没有说明文档的用法，不太会使用，总是报错

Epoch 1/200
---------------------------------------------------------------------------EnforceNotMet                             Traceback (most recent call last)<ipython-input-11-e2f750f530c6> in <module>
     21           epochs = args["epochs"],
     22           batch_size=args["batch_size"],
---> 23           verb

[2020-12-10 03:19] Meiyim opened #29534 "[API] `nn.Layer.train`接口动静一致性问题"
测试版本： paddle-develop
测试代码:
[code]
测试输出：
[code]

预期结果：
正常返回，并且`l.training is True`

[2020-12-10 03:22] qingqing01 commented on #29533
@Darki-luo 2.0rc确实仅仅支持维度。新发布的2.0rc1支持高纬度，label支持了rank为1的、多维、one-hot的。

[2020-12-10 03:51] chenwhql commented on #29534
这个可以完善下，但静态图模式下Layer的train和eval没有实际意义，正常就是eval的，如果后面append backward的话才是train，所以在静态图下，这里`l.training is True`是可以，但可能没什么具体意义

[2020-12-10 03:57] Meiyim commented on #29534
我觉得我们API里`nn.Layers.eval`的概念和`paddle.no_grad`的概念耦合了。

按照pytorch的思路, eval/ train只是一个所有sublayers间能保持一致的flag, 用户根据这个flag改变自己forward的行为，例如。在`self.training =True`时执行dropout在 `self.trianing=False`时就跳过dropout，还有很多用户自定义策略都需要拿到这个flag。

而是否生成backward应该由`paddle.no_grad` / `paddle.enable_grad` 来控制。

另外说一点，如果在`nn.Layers.eval` 中改变全局状态`tracer.train_mode()`的话，代码中存在两个Layer，一个是train,一个是eval(蒸馏场景)。那到底这个全局状态是trian还是e

[2020-12-10 04:12] operaculus opened #29536 "超参搜索的 Grid Search，Bayesian Search在哪里做？"
https://github.com/PaddlePaddle/PaddleClas/blob/master/docs/en/application/transfer_learning_en.md

上面的文档中，有关于Bayesian Search的介绍，怎么启动和使用相关功能？

非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚

[2020-12-10 04:18] Darki-luo commented on #29533
rc1有pip包吗，或者什么时候会发布？

[2020-12-10 04:57] chenwhql commented on #29534
是的，您说的这个问题我们已经修复了，分离了这两者的概念，在后续发布版本中上线，https://github.com/PaddlePaddle/Paddle/pull/29064

[2020-12-10 04:58] chenwhql commented on #29534
静态图兼容的问题，我后面也修复一下

[2020-12-10 05:21] Meiyim commented on #29534
我看这个PR依旧是在`nn.Layers.train`里修改了全局的状态。

[2020-12-10 05:52] chenwhql commented on #29534
这个PR之后，全局的`_train_mode`只是一个flag，和执行时是否生成backward已经没关系了

[2020-12-10 06:31] lidanqing-vv commented on #29506
@luotao1 @OliverLPH
[code]
按照PaddleClas repo的Readme.md操作后，发现`FLAGS_call_stack_level=2 sh tools/run.sh` 不显示backtrace。
后来我们想进入源码调试，于是我们开启`-DCMAKE_BUILD_TYPE=Debug`，但是make -j 12 报错，如上。
应该是Debug开启时，这个临时文件op_function_impl.h的生成有错误，上一个release还没有这个问题。
麻烦你们看一下吧，之前只是training时开启debug有问题，现在inference开启debug也出问题了。我们组现在每个人都有任务，实在没有时间。而且上一个release还没有这个问题，你们应该有有经验的同事了解这块的。谢谢了！

[2020-12-10 06:43] luotao1 commented on #29506
imperative::NameVarBaseMap outs = {{"Out};

@lidanqing-intel Which branch do you use? Our develop branch does not have `op_function_impl.h` in https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/fluid/pybind

[2020-12-10 06:47] Vonderland commented on #19704
+1
同问什么之后能支持einsum呢

[2020-12-10 07:35] hpuyj opened #29542 "出现未定义的引用错误"
安装C++版本是，出现以下错误。
安装的是ubuntu14.04_cuda10.0_cudnn7_avx_mkl
运行这个地址的：<a>https://www.paddlepaddle.org.cn/documentation/docs/zh/1.7/advanced_guide/inference_deployment/inference/native_infer.html</a>
是不是不兼容自己的系统。感觉没什么错误的呀。是不是只能ubuntu14.04可以安装，18.04不能用
-- Build files have been written to: /home/novasky/文档/paddlepaddle/sample/paddle-TRT/build
Scanning dependencies of target fluid_int8_test
[ 50%] Building

[2020-12-10 07:37] liuxi1007 commented on #29415
您好，请问DetectionMAP可以在动态图的情况下使用吗？gt_label, gt_box需要设置lod_level的值为1，静态图中是在定义接口的时候设置的，而动态图好像不支持这个属性，默认lod_level值为0。请问在动态图下DetectionMAP要如何使用？
[code]

[2020-12-10 07:42] Darki-luo opened #29546 "在训练过程中打印的提示，怎么消除"
paddle2.0 python=3.8在训练过程中打印的提示，怎么消除？
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:77: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  return (isinstance(seq, collections.Sequence) and

[2020-12-10 07:58] jerrywgz commented on #29415
嗯这个api动态图暂时还不支持，我们目前正在PaddleDetection这个repo中集成SSD模型，当中会适配动态图版本的detectionmap

[2020-12-10 08:48] liuxi1007 commented on #29415
谢谢。

[2020-12-10 08:48] #29415 closed, assigned to guoshengCS

[2020-12-10 10:11] xiaonancs opened #29554 "读取tf_record文件，训练到20万轮报错：Original stack trace for 'IteratorGetNext'"
paddle cloud job：问了cloud的同学让我来这里问
job-0bb5fc9ec1c4c160
http://10.127.23.139:8388/v1/containers/8de1dba94ed3e6c2acf2ab51e085575437b2b9d37a3eeef55a1777da6846b079/backuplog
单击多卡任务，输入tf record文件超过100G，但是训练一直没问题，直到20多万轮报这个错，是训练文件格式不对吗？
如果是格式问题，能跳过格式错误的数据吗？

ERROR:tensorflow:Error recorded from training_loop: 2 root error(s) found.
  (0) Unknown: afs/input/slot_classify/tf_record.cuid_txt.1207; Input/ou

[2020-12-10 10:23] #29520 closed, assigned to Superjomn

[2020-12-10 10:29] Superjomn commented on #29510
你好，2.0 应该没有支持这个。
看了下， ML Compute 相关资料还比较欠缺，我们会持续关注这个哈

[2020-12-10 10:29] #29510 closed, assigned to Superjomn

[2020-12-10 10:46] #29450 closed, assigned to guoshengCS

[2020-12-10 10:49] DrRyanHuang opened #29555 "Paddle中是否有下载预训练模型的接口？"
类似PyTorch的`model_zoo.load_url` 是否有下载预训练模型的接口？

我绕了一圈，只发现了PaddleDetection 的：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.5/docs/MODEL_ZOO_cn.md

[2020-12-10 10:52] DrRyanHuang commented on #29555
好吧，我在2.0 RC中找到了 `paddle.vision.models`，还行吧

[2020-12-10 10:58] DrRyanHuang commented on #29555
额，还找到了
`paddle.utils.download.get_weights_path_from_url` 用于下载预训练模型
这个API没有暴露给用户吗？藏得这么深，文档和没写一样hhh

不过issue可以close了.....

[2020-12-10 10:58] #29555 closed, assigned to seiriosPlus

[2020-12-10 12:11] wozna commented on #29070
@OliverLPH @luotao1 @lidanqing-intel  I checked this memory usage with this test and I don't see any memory increasing.
The memory rises at the beginning to a constant value and at the end of the test is released.
In the beginning, in `paddle /fluid/inference/tests/api/test_analyzer_bfloat16_image_classification`  , https://github.com/PaddlePaddle/Paddle/blob/b9e926b8e5470058a3161188481af681469a8b

[2020-12-10 13:51] merlinarer opened #29557 "softmax_with_cross_entropy softlabel"
调用softmax_with_cross_entropy计算loss的时候，soft_label=True，报错信息如下：
![image](https://user-images.githubusercontent.com/71754029/101780066-01871b80-3b31-11eb-893b-0a929fbbcc3b.png)
是因为数据类型出错，仔细检查之后发现，自定义的dataset类的__getitem__是返回的fp32没错，但是到softmax_with_cross_entropy的时候就变成了VarType.INT64，softlabel（nchw）维度上也是没有问题的，但是由于被转为了VarType.INT64，label都变成了0
![image](https://user-images.githubusercontent.com/71754029/101

[2020-12-10 15:39] Fire-Star opened #29558 "C++预测-每预测一次内存增加一次 CPU MKL"
![image](https://user-images.githubusercontent.com/17548618/101793400-b7a63180-3b40-11eb-8572-e922486b6e9f.png)

![image](https://user-images.githubusercontent.com/17548618/101793558-e58b7600-3b40-11eb-8bd0-87e57125b63e.png)

[2020-12-11 01:08] Ryan906k9 commented on #29178
请问有排查出结果了吗

[2020-12-11 01:20] #25880 closed, assigned to nobody

[2020-12-11 02:10] swtkiwi commented on #29507
大概是Opencv版本问题，请手动安装低版本的Opencv试试 pip install opencv-python==4.2.0.32

[2020-12-11 02:11] swtkiwi commented on #29530
建议升级下pip版本，到20.2.2+

[2020-12-11 02:51] wanghaisheng commented on #29507
@swtkiwi
[code]

[2020-12-11 02:58] zhwesky2010 commented on #29524
@zhangxiang123168 您好，请问CUDA10.0和cudnn7.6.5+是否装好了，需要在Nvidia官网下载cudnn并拷贝到相应文件夹里

[2020-12-11 03:22] seiriosPlus commented on #29546
收到，目前应该没有办法消除， 这个问题我们修复一下吧.

[2020-12-11 03:24] seiriosPlus commented on #29542
你好， 能提供一下Ubuntu 14.04 和Ubuntu 18.04 中的gcc版本吗？

[2020-12-11 07:41] Superjomn commented on #29558
麻烦增加下，paddle版本，使用的场景，机器环境的信息

另外，
这个可以提供一个可以复现这个问题的case吗？ 尽量跟具体的业务解耦
如果模型数据需要保密，可以给一个类似的模型，但问题能复现出来的，我们能复现就很容易定位了

[2020-12-11 07:42] phlrain commented on #29557
能否检查下，for batch in train_reader() 得到的batch里面的 数据类型
或者提供下DataLoader的使用方式

[2020-12-11 07:44] phlrain commented on #29554
同学你是这个tensorflow的错误吧。。好像没有使用paddle相关的模块

[2020-12-11 07:58] OliverLPH commented on #29070
@wozna I think you are right, the memory increase here will reach constant at the end of test.
At beginning, I used `pmap -x` to observe memory status of `test_analyzer_bfloat16_image_classification` process, , so it may not accurate.
And I tried to do simple repeat prediction test, there is no memory increase now. So this issue can be ignored.
Thanks for your investigation

[2020-12-11 09:57] YueWang1996 commented on #29530
你好，谢谢回复。 已经尝试过升级pip至20.3.1，问题仍旧没有得到解决。
[code]
目前正在尝试Ubuntu下的本机源码编译，希望能成功吧

[2020-12-11 11:27] tutouyubeiyi commented on #29524
感谢您的回复，CUDA和cudnn都安装好了，但是拷贝到文件夹的操作似乎没做搞，请问需要装到哪个文件夹呢

[2020-12-11 11:46] lidanqing-vv commented on #29506
`op_function_impl.h` is a generated file when you do `make -j 12`. It is not in the code.

Reproduction steps:
[code]

[2020-12-11 12:26] chenwhql commented on #29534
修复PR已合入

[2020-12-11 12:26] #29534 closed, assigned to seiriosPlus, chenwhql

[2020-12-12 05:15] #29524 closed, assigned to Superjomn

[2020-12-12 12:58] FjjRichard opened #29573 "不能在notebook使用numba"
from numba import jit

@jit(nopython=True)
def calc(img_temp, rows, cols, minval,maxval):
    for i in np.arange(rows):
        for j in np.arange(cols):
            #避免除以0的报错
            if maxval - minval == 0:
                result = 1
            else:
                result = maxval - minval
            img_temp[i, j] = int((img_temp[i, j] - minval) / result * 255)

运行后，不断转圈圈，没法使用，一样代码，在本地运行

[2020-12-12 12:59] richarddddd198 commented on #29573
`from numba import jit
@jit(nopython=True)
def calc(img_temp, rows, cols, minval,maxval):
    for i in np.arange(rows):
        for j in np.arange(cols):
            #避免除以0的报错
            if maxval - minval == 0:
                result = 1
            else:
                result = maxval - minval
            img_temp[i, j] = int((img_temp[i, j] - minval) / result * 255)`

[2020-12-13 13:12] GuanRainy commented on #25619
try fluid.is_compiled_with_cuda()

[2020-12-14 05:13] OliverLPH commented on #29506
@lidanqing-intel
enable `FLAGS_call_stack_level=2` has no effect issue is Inference internal bugs, @jiweibo will fix inference `gflags` related bugs in the future.
could you try `ulimit -c unlimited` and use core file to debug as an alternative method

[2020-12-14 07:39] chenwthu opened #29584 "paddle.to_tensor不能接受list[Tensor]或tuple[Tensor]类型的输入"
paddle版本：2.0.0rc0
`paddle.to_tensor`输入为list[Tensor]或tuple[Tensor]时会抛出ValueError，包括所有元素等长和只有一个元素的情况

[2020-12-14 07:46] Xsx93 opened #29585 "如何在同一个程序里面load两个paddlepaddle模型"
请问如何在同一个程序里面load两个模型，我在同一个程序中load 两个模型，一个用于人脸检测，一个用于人脸属性识别。能够运行但是人脸检测结果是错的，本来是一个，检测出很多个，大小位置也不正确

[2020-12-14 08:20] Evezerest commented on #29507
需要先卸载目前的opencv，然后安装headless版本https://github.com/Evezerest/PaddleOCR/tree/dy3/PPOCRLabel#macos

[2020-12-14 08:30] Evezerest commented on #29507
尝试一下 `pip install opencv-contrib-python-headless==4.2.0.32`，我这边用4.4的headless也是ok的

[2020-12-14 09:22] lwbmowgli opened #29591 "paddle2.0rc混合精度训练报错"
- 版本、环境信息：
    1）PaddlePaddle版本：paddle2.0rc
    3）GPU：2080 cuda10.2 cudnn7.6
    4）系统环境：win10 python3.6

- 模型信息
    1）模型名称 resnet系列 4） [模型链接](https://github.com/PaddlePaddle/Paddle/blob/release/2.0-rc/python/paddle/vision/models/resnet.py)
- 复现信息：如为报错，请给出复现环境、复现步骤
![image](https://user-images.githubusercontent.com/32731935/102063005-6e9bf900-3e30-11eb-98bc-da0d6a1b1064.png)

- 问题描述：请详细描述您的问题，同步贴出报

[2020-12-14 09:35] zhiqiu commented on #29591
这个问题应该是2.0rc中pool2d还未支持fp16的kernel计算，在即将发布的新版本2.0rc1添加了支持。

[2020-12-14 09:59] lwbmowgli opened #29592 "paddle2.0 高层API vgg无法指定num_classes"
通过查看源代码

![image](https://user-images.githubusercontent.com/32731935/102067292-d7d23b00-3e35-11eb-823e-c68018e18f28.png)

如果调用paddle.vision.models.vgg11(pretrained=False, batch_norm=False, **kwargs)这个API，则num_classes参数写死为1000，无法对其赋值。建议将那句话注释掉。负责就需要用户自己来改源代码。

[2020-12-14 10:09] frankwhzhang commented on #29584
有详细的代码和报错信息嘛

[2020-12-14 10:10] frankwhzhang commented on #29585
是使用的官方模型吗

[2020-12-14 10:26] chenwthu commented on #29584
<img width="1230" alt="screenshot" src="https://user-images.githubusercontent.com/16147671/102069774-2f25da80-3e39-11eb-8cdc-1c6feca1fcb7.png">

在这个例子中希望得到`shape=[1,3]`的tensor

目前`paddle.to_tensor`支持输入为原生float列表、numpy数组、单个tensor等类型，但不支持输入tensor列表，希望能加入支持

[2020-12-14 10:40] yukavio commented on #29592
在develop版本下这个问题已经解决了
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/vision/models/vgg.py#L122
需要的话可以在：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/install/Tables.html#whl-dev 下载安装最新的版本

[2020-12-14 11:12] zhiqiu commented on #29584
这种场景下，对单个tensor可以用reshape，对多个tensor的list可以用concat，这些API有更明确的行为是不是更合适一些？

[2020-12-14 11:35] chenwthu commented on #29584
我遇到的场景是有多种不同类型的输入，如果可以用同一个api处理就比较方便，例如`map(to_tensor, [ndarray, tensor])`

[2020-12-14 12:33] stu166 opened #29596 "paddlepaddle2.0版本，训练时验证出现错误"
train_dataset = PetDataset(mode='train') # 训练数据集
val_dataset = PetDataset(mode='test') # 验证数据集

optim = paddle.optimizer.RMSProp(learning_rate=0.001,
                                 rho=0.9,
                                 momentum=0.0,
                                 epsilon=1e-07,
                                 centered=False,
                                 parameters=model.parameters())

[2020-12-14 12:57] juncaipeng commented on #28578
@lidanqing-intel @wojtuss

In order to check the accuracy,  the first output of the quantized model should be the same as the fp32 model, as follows:

For the second output,  please modify the model_test.cc in (url: https://pan.baidu.com/s/1y8OLGP6WajnSkM_f4_FNKg password: y0qp) , just print the index and value that is bigger than 1e-3, and then check the output value of quantized model and fp32 m

[2020-12-14 14:54] wojtuss commented on #28578
@juncaipeng ,
Thank you, I will give it a try.

[2020-12-15 01:36] Xsx93 commented on #29585
不是官方模型，自己训练的
paddlepaddle-gpu==1.8.5-post107

`       place = fluid.CUDAPlace(0) if args.use_gpu else fluid.CPUPlace()
        exe_facedetect = fluid.Executor(place)
        place2 = fluid.CUDAPlace(0) if args.use_gpu else fluid.CPUPlace()
        exe_faceage = fluid.Executor(place2)
        [inference_program_facedetect, feed_target_names_facedetect,fetch_targets_facedetect] = fluid.io.load_infer

[2020-12-15 02:25] #29585 closed, assigned to frankwhzhang

[2020-12-15 03:39] pengpeng-wang opened #29608 "paddle iOS版，模拟器编译不过"
iOS_demo下，编译ocr_demo项目，真机可以正常运行，模拟器会报错，能否给出一个合并【模拟器+真机】后的libpaddle_api_light_bundled.a文件，应该是差模拟器的.a导致的吧？

![860C74C15FC29D5B3734FFCAD20CDCB2](https://user-images.githubusercontent.com/17318811/102167751-fd108900-3ec9-11eb-8a28-3a1015e4a2ad.jpg)

[2020-12-15 03:43] #29345 closed, assigned to qingqing01, wawltor

[2020-12-15 03:51] liuxi1007 opened #29609 "请问在paddle 2.0-rc 动态图下实现网络中不同层设置的学习率不同。"
- 版本、环境信息：
   1）PaddlePaddle版本：paddle 2.0-rc
- 训练信息
   1）单机，单卡
   2）显存信息10GB
- 问题
在paddle 2.0-rc 动态图下实现网络中不同层设置的学习率不同。如网络卷积层学习率为1e-5，全连接和分类层设为1e-2。

[2020-12-15 04:03] itisianlee opened #29610 "4卡下做shuffle bn出现UnimplementedError"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】
- 版本、环境信息：
  - paddle 2.0rc，GPU是tesla P4
  - CUDA 10.0, CUDNN v7.6
  - 系统：centos 6
  - python 3.7
- 训练信息
  - 4卡训练
- 问题描述
![image](https://user-images.githubusercontent.com/23066570/102169441-2d0d5b80-3ecd-11eb-9d57-6d1e833d64bd.png)
![image](https://user-images.githubusercontent.com/23066570/102169465-3b5b7780-3ecd-11eb-8c12

[2020-12-15 04:15] HighingLIN commented on #28279
请问什么时候支持cuda11呢？

[2020-12-15 05:26] Xreki commented on #29610
请检查一下运行时的环境变量设置，需要设置`export CUDA_VISIBLE_DEVICES="0,1,2,3"`。

从你贴出的log来看，错误的原因应该是运行时没有找到GPU设备。如果不是环境变量的问题，可以发一下你启动的命令哈。

[2020-12-15 06:02] itisianlee commented on #29610
![image](https://user-images.githubusercontent.com/23066570/102177252-1c191600-3ede-11eb-92ad-c04d971c2694.png)

[2020-12-15 06:05] Xreki commented on #29610
`python -m paddle.distributed.launch --gpus=$CUDA_VISIBLE_DEVICES train.py`试试？

[2020-12-15 06:52] jiachen0212 commented on #25135
求教，有遇到 pytorch转onnx后可正常预测，但onnx转paddle出现尺寸错误的大佬吗

[2020-12-15 07:11] gootsing opened #29619 "Paddle1.8/1.8.5 Building failed."
-OS: Ubuntu 18.04.5
-CPU: AMD RYZEN 3800XT
-GPU: AMD VEGA VII
-Paddle: Branch 1.8 or release_1.8.5
Configure as: cmake .. -DWITH_GPU=OFF -DWITH_AMD_GPU=ON -DPY_VERSION=3.6.0 -DWITH_NCCL=OFF -DCMAKE_MODULE_PATH=/opt/rocm/hip/cmake
Building command: make -j10
Error Message:
/home/guqin/Documents/Github/Paddle/paddle/fluid/pybind/op_function_impl.h: In function ‘std::shared_ptr<paddle::imperative::Va

[2020-12-15 07:50] frankwhzhang commented on #29596
请问是官方模型还是自己的模型

[2020-12-15 08:09] qq345481843 opened #29625 "paddle2.0中tensor相等运算报错"
paddle2.0中tensor相等运算报错。

具体代码如下：
[code]
![image](https://user-images.githubusercontent.com/54829296/102188015-bf265b80-3eef-11eb-8a4e-8f7397cb8560.png)

报错信息如下：
[code]
感谢！

[2020-12-15 08:42] stu166 commented on #29596
官方的模型，就是文档2.0rc里应用实践里的U-Net模型，数据是自己定义的数据。做的是图像分割，acc评价的值都是100多，显得不正常

---原始邮件---
发件人: "zhang wenhui"<notifications@github.com&gt;
发送时间: 2020年12月15日(周二) 下午3:50
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "stu166"<806539041@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] paddlepaddle2.0版本，训练时验证出现错误 (#29596)

请问是官方模型还是自己的模型

—
You are receiving this

[2020-12-15 09:06] vfdgfdf opened #29629 "22222222222222222222222"
333333333333333333333333333333333333333333

[2020-12-15 09:10] vfdgfdf opened #29630 "帐寡逞兑耙辗磊刑朴宰赖读彩看冒棵铀芬D"
日落沙明天倒开，波摇石动水萦回,发多/抑饭炊匆氛航杆笛蜕叵探荣手新兆甭诱撇诒诎么剐啡嘉欧忠荷善克炊捞煌晨炊藕固蹬笛谔啥锻率味荣捅门灰鼓比套埠翁良垂灯隙陌运久投收每侣痰园称嗡手蹲床毫珊谪右说谈妆秆娜汕钒呜汲堤痹展胀蚜佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来GjByaF7y003f08PRYo佛

[2020-12-15 09:11] vfdgfdf opened #29631 "艘涡狗蔷似倚床犹侗挖峭返陡宋掣紊钾爸D"
日落沙明天倒开，波摇石动水萦回,发多/傩媒释湃似杭事兴付灾釉事慷载嘶幸镜恿招罕俺拖侨酒蜗菇亿茸俨幕唐浪忍哑改挡老捕延匾逗媚醇窘招窘焉辰睹险形湃煤胁啪塘滞仁幕庞劳吮撞捎吞蹈捣勾壁虏郝僚娜乇谧牌恳桓煽菇毒暇咸僚疚诎勘技佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来J0c6H31ce78W0ie83R佛

[2020-12-15 09:11] vfdgfdf opened #29632 "峭撤径岗汾星残敢抑帘刂缸铀欧邢没掀付D"
日落沙明天倒开，波摇石动水萦回,发多/匮安赴乙柿够炯星兄始质礁烟邮谘谱瞪焚旱唤汲刂昧眉茸副爸拥狗孜卧逞儆蒲侗杭僮贫幸糖副啄僮游棺悼僭复吞犹彝贫伪赋诒鬃何竟谋浊徘巢涛医焚敛强偶瞻幸瞻瓶刀县惭腊汲邮饭囟堂蒂毒爸缓盅盅盅佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来4LS9KEz299xojZviJL佛

[2020-12-15 09:24] vfdgfdf opened #29634 "占挡咆糙涡九牟酥吻瘫蟹倩瞧墩园侵滴舜D"
日落沙明天倒开，波摇石动水萦回,发多/舷坟肛囊氨赂裁垂吹罩墩抛涯滔咎目临兑稼舷腊傧构腋虐溉雀锤技拐乐仕叛厣衔壕耪尉孕坡蓟勤掀棕讼跃泻贡庸空嚼贾狡暇押勘侍玖寻耗幢皇固种褂钩钠扑钨哑乌糖顿紊于匦煌囟苛坑必舷爻俦绽铱羌忌佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来UTtnGAPt6Q3jJdw8w6佛

[2020-12-15 09:24] vfdgfdf opened #29635 "耪得撬矫本鼻绷缆拱思酒橇穆镁延煤迫颗D"
日落沙明天倒开，波摇石动水萦回,发多/帽敝貌揪车仗卧倘仑唾徘门寡祷春辞迪仲腿巧安膊镁方灾竟椎诩险素惶孪父斡仁忌敲矫穆颗嗜榔阑门擅啪卧镁灾赋匆防簧纠己讨亮诒徘栏罕党氏延郊刂砸备奔仿号油榔豪刈素操骋返徘潞灸诟仁沟啬灾蛋佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来HyDU6FYl9Wws223P9A佛

[2020-12-15 09:24] vfdgfdf opened #29636 "赂了沾嵌可枷鹊亚收套汕柑琶谴沾糙彩珊D"
日落沙明天倒开，波摇石动水萦回,发多/卸财惨厝靥坷滩倍喂伎撤时讯煤傩城诹一衷偬驴焉继必沉嚎啃咳履吞俜欢昭偷辈科臀酚盘尘潜缘资蹈敖栈糯关对旧兑寿窝胶绽等谱绿鸥林虑壁吧事冠谓捍角持烈陨伦浊切硕蓖靖礁搅枪幼籽登退茁浊捌寺佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来E5kWYa7o3p6gD9QWz5佛

[2020-12-15 09:27] vfdgfdf opened #29637 "诹墩拷涯资蔷沽侣怯静茸哉脊参记谑沿簿D"
日落沙明天倒开，波摇石动水萦回,发多/始凳碳司房截惭透卫侥仍逃仁染用科侥甲欣了山嘿张恢侄律澜佳颜乔驮饺坪毙饺诙衙量谖煌埠狼影撂厦颗氐枚缸缴曝毫刃诶奄咳厝阅张蹈握曰殖蚜寥室墩霉贫仑缴涛悔植汤还俚坪恢讶奖偻胺衣救内对下佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来O93d4688y37L2u93MU佛

[2020-12-15 09:27] vfdgfdf opened #29638 "汹倨底谠爻豆友延幸适煤欢娇重诺猩短某D"
日落沙明天倒开，波摇石动水萦回,发多/临衷谜粗浩圃脱椅咨沽址壬俚驼勘推懈姨荷傺姆舶战陡腿舱榷撼蚁浇嗽亢谡铺蔷涡诠磊衔子尉良付屎忍炎嗜目控痴伊霸婪迟迟幸执苛锨囤哪收搜痉碌话郎形平颗荡泛似滤刹腔缆徊蹿凭焚沂唤肥财督窃履佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来33c2xH1dezpFwJosk5佛

[2020-12-15 09:27] vfdgfdf opened #29639 "谡倒忍缕繁亚丈狈朴滦德胁皆蝗绦粱坠稳D"
日落沙明天倒开，波摇石动水萦回,发多/痛颜谐浇蹈乘笨缀讶啄呐亮康锤锤瓶镭耙际谴帜疾肇滦止鲁游商世蓝耪诠壕泛亚伎罩部醚沧泌仍饰焚骨萍衫当亮挖搪召促木偌性粱桨鹊妇寡钡放伪德夭讣偌咎钡敖锤业剖膛祭豆文堂镣咎加挥拦缕貉感镁佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来yazGoSg24FN5Rtr2q7佛

[2020-12-15 09:29] vfdgfdf opened #29641 "较阑亢鞠蛋玖瞧炒壁梁捣刭矣找泊涡饭练D"
日落沙明天倒开，波摇石动水萦回,发多/肛戳撞壁恫彝掀有啪淘众抑砍患粘钦幕耗收季岛酌邢形直屡越性梅沤镣恃撑涝古蔷敲卮吹济芬疟堪卮问涌骄伤判箍僚闭绷断交咆倜穆食共染抗赶铣沦艺路兄挥战倌局坊唾幼倩捍堆们张椒人第谠欣笨纱卵佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来1oj7qSBJQ8LR51wLuH佛

[2020-12-15 09:30] vfdgfdf opened #29642 "拙德障驮赴淌让字型镁张视蕴汲淌百幸坦D"
日落沙明天倒开，波摇石动水萦回,发多/脑闹患刎晾缀得偬汤鸥姿逞绷桶伪艺栏裳侔际徒豆客汤泛闲坷侵徒示戎技坷剿腔贫车聪醒佣贸帘睹谜静疚笨少瘫伟冀腹私衙恢时钟呛谐屠萌谓帐技巳拥堆心嚼讨关杏绰匆闷腹绕授档嘶雅旅醚杉示堆夜忌佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来c55Fz2r42RhQTXxeT2佛

[2020-12-15 09:30] vfdgfdf opened #29643 "性剿低沉窃彻坊恐窃凑簧匣佬加康喜兹棵D"
日落沙明天倒开，波摇石动水萦回,发多/刃蛋逗屹煽幼召讣菇们远油突得恐荚偻细驼付止胁凑熬笨韭倨谋拥喜崭囊滦畔宦沧藤嚷称食诟寻秸阂肺桌丫燎挪涌唐栽孔唐松梁眉独坡邪椿瓶赴嚷刨在鄙沦致采匪试攘控躺涝俟缺姨段焊汹吕擅恃瞥迸促佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来phTl5fD2FQ8vSzBNS4佛

[2020-12-15 09:30] vfdgfdf opened #29644 "烙庞乖屡厦钦抛谮止贩涤毕止窃靡牧视琢D"
日落沙明天倒开，波摇石动水萦回,发多/捶从谱谐狭懒谆儋行甲梅汤壬患诎照献部来氨欠煌赌亚脑辈客栈骨罩偬司略谐仝棕剿宗喝氨炒仕干碌首丈患侨剿磐乔啃栽沉赌对刭辈裁栈患媚对梅刀雅贩旅偬蜒坷釉掖嘿媚哉及融沉掏患械沉截露对时厦佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来u65Qh1C8G5bHuycGbP佛

[2020-12-15 09:32] shinichiye17 commented on #29573
您好，AI Studio相关的问题，烦请发邮件至aistudio@baidu.com，会有专业同学为您解答~

[2020-12-15 09:39] vfdgfdf opened #29645 "暇紊种泻心迷晒趟悸竞矫闷禄门僮纠涛派D"
日落沙明天倒开，波摇石动水萦回,发多/掌裙强辰山思刃父逗沂郊侗尚蒲忍丈葡剖拱盅亮泼酒严锹捶也岩哉胁敦招巧榔良送闻延绕诱苛猿腿鹿退淳淮梦碌蔷贩映伤厦卓侄关煤艘乘闯范汉谘环幕慷泊付回擅松还饭窘酝季乒囤芬阜哺叵捕僭闪谖痹佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来jhZ5Sq18blD3i50B0O佛

[2020-12-15 09:39] vfdgfdf opened #29646 "壕说呢藏壤粗咀谢忠丫蕾酪匣畔袒痈怕咳D"
日落沙明天倒开，波摇石动水萦回,发多/丛第媒谴姑姨妆底嘎临阂段且锥彼步池泌汲兴值悍沙嘎投猛岗韧擅琢晾辰角布阎夯闻梁奈堆确簿垂有撤邻奈媒押废阂嘎障扑姑昂饶胶俚可频蛹皆换鹊嵌菩访糖位细倍瘸峭仍橇痴啄茄揖盟章糙久菜阉唾呜佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来16uL4Tasn0UXa20tdD佛

[2020-12-15 09:40] vfdgfdf opened #29647 "卤靖付蜗旧庇食瘸彩醒瘴衫饭簿爸驹页蜗D"
日落沙明天倒开，波摇石动水萦回,发多/梅炔栏闲纶排准赝瓮远酌录陕赵谂仗技琢瘴热籽南稍烟遣萍毖霉医脖酥黑肛又使旱奔魄盏慷傥宋揪潜镭炼藕琢境煤塘茁控死灼商扔仪行炙仑灿秤已赘邓瓜靶泛苹浪焉趟谷雷鸦陈推斩乐膊塘咎透宰揭晾钥佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来3yQDXZM3s471YCcE6B佛

[2020-12-15 09:41] vfdgfdf opened #29648 "邑沽乓匀捶日睹纺颜鹿局犊讨俜叵郝犹堂D"
日落沙明天倒开，波摇石动水萦回,发多/媳烟截灾钡汾却钥骋示兴旱殴泼娇运陆纠诒炭痰杭炯诱誓耙壤缆竟藏匮亢礁岗门灾嗣党阜撼攘绕谄痛闷湍中蕴捣浅疑忠邢交党匙谡凭柿游艺呈靠欢诓糖亢研侗钠拿似侍拷汲捣芯腥缆眉胰乘仗松渍凡汛车佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来4GRszaKnaal6xS8J5n佛

[2020-12-15 09:41] vfdgfdf opened #29649 "固屎殴闷蔡彼悸镜伤阅炊缆方峙韵百我谡D"
日落沙明天倒开，波摇石动水萦回,发多/床空呈椒勒苛赖慌陕帐犹看埔侨纬访讶瞧呐鞘灰仿苹毖靶羌巢居缴瓤纠缴渴朴虾官烁至谀噬痴纱泳菊吨临负炼泳邓捞蕉删罕奔官湍乱俳虐百藕仄傥乌吭坦官范毖铱丛头墓簇刭讨咎孤帽辛值晾屯客谮秤惨佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来I1PvZ2C0b02811l70C佛

[2020-12-15 09:44] vfdgfdf opened #29650 "附芭匦谢堤紫敦巧诒秦瓮史瞧汹灾挤种幸D"
日落沙明天倒开，波摇石动水萦回,发多/怀欢侗胀沼儇妇挥焚囊平堆耐荡嗣摆幕巧绕钢崖口捉仔栋匮纷掣永炭部灰治桨车欣晾祷聪星似没临啬拱厮返寺紫妆粮谡铱忧堤蹿安喝邮赜耙地粗吞墒犹鹿诹浇貉蚜期澄箍侄幢谋掷耙致烟贡娇镜驶刳窒等佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来Kzn2mI6A93wa3kpGlA佛

[2020-12-15 09:44] vfdgfdf opened #29651 "哟偃痪志该截战啥沃秃撕覆淮兰官砂诳砂D"
日落沙明天倒开，波摇石动水萦回,发多/曰案呛邮侗迫临彼冶臼可抠嚷斜馗昂材讲涎盐胶布谋坦灼计读茄嘏躺角子挪盏阂角置俸猿簿鄙挂饲九谋倥嘲刻可车勤谴挝鹊窗岳叭赝悼资辟掀局再锥谋姓阂感假干肛几内感布频镭硬寻步良奈永钙腺吭子佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来xTYim1G4Qjq8v8B2PN佛

[2020-12-15 09:44] vfdgfdf opened #29652 "嘉晒坊们疟峙返运级度嚼簧临锹稳囊略滦D"
日落沙明天倒开，波摇石动水萦回,发多/返涌殉堤囊恿唐采簧改矩恋俨赏绰淄秸忌谇蛊壕段迟棵岛庞挪牢乓加嫉桶饰媒痪暮寿却沦脱缘却乘瞥蜒守置谄钠艺柿簧啥瓶呕乇重槐忱谐险料桶荚殉肝滦葡绞及父咎闲谅炼怪幢搪沉帽秃派罢赌允致粮素佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来WF12tcE8nlb6R91Mwu佛

[2020-12-15 09:45] vfdgfdf opened #29653 "率恐温蹿谈床渍匮夷共纠径苍示拿茨母坡D"
日落沙明天倒开，波摇石动水萦回,发多/兹痘旱岩兔职傅炯任讶侍韵滓党烂坊毒冉涛地良诱诓亢度灾四嗡寄饭岗兆猛费卣棵蜗找驼以疑诱匈岗缆返砸以赜翁灾依巧赫嘶履噬炊蓟似赡悼谡唤闯仁悼幸叵范谡昧镁壁镁轿美性猩谮脱佬渤我斡蚁诔僦佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来W7F9J25Zx4t2iva5mS佛

[2020-12-15 09:50] vfdgfdf opened #29654 "挂偕返悔约翁赘桶傧驶稚珊融灯侣磁兆驹D"
日落沙明天倒开，波摇石动水萦回,发多/鞘浇合妒料踩辈骄视妆侣冀汤碳假熬颂禾吮质腔敖姿碳闲记谜恢滔撼抛姓虏渤制分示滦辈诮对口偌咀厦颜墒纪谑谥悔抖簧拭坎岩煌汤岩圃桶牌靠雅滓痛汛腔融庞庞匚劣梅缮质醒嘿蜒翟业闷烤鼗罩谅犯酵佛挡少轻舟泛月寻溪转 ASDF风往北吹1206测试__疑是山阴雪后来P688Vz49C1GyF65354佛

[2020-12-15 09:57] #29629 closed

[2020-12-15 09:57] #29630 closed

[2020-12-15 09:57] #29631 closed

[2020-12-15 09:57] #29632 closed

[2020-12-15 09:57] #29634 closed

[2020-12-15 09:57] #29635 closed

[2020-12-15 09:57] #29636 closed

[2020-12-15 09:57] #29637 closed

[2020-12-15 09:57] #29638 closed

[2020-12-15 09:57] #29639 closed

[2020-12-15 09:57] #29641 closed

[2020-12-15 09:57] #29642 closed

[2020-12-15 09:57] #29643 closed

[2020-12-15 09:57] #29644 closed

[2020-12-15 09:57] #29645 closed

[2020-12-15 09:57] #29646 closed

[2020-12-15 09:57] #29647 closed

[2020-12-15 09:57] #29648 closed

[2020-12-15 09:57] #29649 closed

[2020-12-15 09:57] #29650 closed

[2020-12-15 09:57] #29651 closed

[2020-12-15 09:57] #29652 closed

[2020-12-15 09:57] #29653 closed

[2020-12-15 09:57] #29654 closed

[2020-12-15 11:32] jzhang533 commented on #29609
可以用两个optimizer来进行模型优化。

optimizer1里的parameters的列表和optimizer2里的parameters的列表分别设置为不同的网络层的参数。
示例如下：

[code]

[2020-12-15 11:59] OrangeRanSX opened #29660 ""import paddle.fluid as fluid" 打包成.exe在其他机器运行报错"
版本、环境信息：
 1）paddlepaddle1.8.5 CPU版本
 2)  系统环境：win10  家庭中文版 1903
 3）python 3.7.6（Anaconda3）

 predict_fun.py中第二行为"import paddle.fluid as fluid" ，用pyinstaller -D打包后无法运行，
 之后添加\Anaconda3\Lib\site-packages\paddle\libs下的5个dll后能在本机器运行，
 但是在别的电脑无法运行，报错信息如下

Traceback (most recent call last):
  File "mainWindows.py", line 7, in <module>
  File "PyInstaller\loader\pyimod03_importers.py", line 324, in exec_

[2020-12-15 12:00] hubblezzhu opened #29661 "will PaddlePaddle support aarch64？ is this on a roadmap now？"
will PaddlePaddle support aarch64？ or is this on a roadmap now？
any help will be highly appreciated. thanks

[2020-12-15 12:11] OrangeRanSX commented on #29660
问题补充：
       打包前为了解决打包的.exe一直生成相同的子进程问题，按照https://github.com/PaddlePaddle/Paddle/pull/26200/files
对paddle/dataset/image.py进行了修改

[2020-12-15 12:21] lizhiqings opened #29664 "ErrorClipByValue 算子问题"
需求：希望对 tensor的值做 截断 大于1的 变成1 小于0的变成0
![image](https://user-images.githubusercontent.com/47736115/102214312-0b36c780-3f13-11eb-8b17-0d79faa1da41.png)

![image](https://user-images.githubusercontent.com/47736115/102214369-20135b00-3f13-11eb-8f89-8a266e6a72b3.png)

[2020-12-15 13:38] luping-lup opened #29667 "使用2.0rc高层API训练和评估模型，准确度始终在11%左右？但如果使用基础API训练和评估模型，准确度能达到70%，我使用高层API中有什么错误吗？"
用PaddlePaddle 2.0rc的高层API modle.fit和model.evaluate来训练和评估模型，准确度

[code]
训练和评估结果为：

[code]

但如果使用基础API来训练和评估相同的模型，准确度却能够提高到70%。

[code]
使用基础API训练和评估结果为：

start training ...
epoch: 0, batch_id: 0, loss is: [2.3293128]
epoch: 0, batch_id: 1000, loss is: [1.8194305]
[validation] accuracy/loss: 0.5231629610061646/1.3090485334396362
epoch: 1, batch_id: 0, loss is: [1.5358344]
epoch: 1, batch_id: 1000, lo

[2020-12-15 14:06] luping-lup opened #29669 "建议vision.transforms.Resize对CHW格式图片的转换功能"
当前PaddlePaddle 2.0 rc的图像转换模块，vision.transforms.Resize只能对输入为HWC格式的图片进行转化，建议在未来能够支持对输入CHW格式图片的转换功能。

[2020-12-15 14:19] Xreki commented on #29608
Paddle-Lite的问题，建议到https://github.com/PaddlePaddle/Paddle-Lite/issues 提issue。

[2020-12-15 14:23] Xreki commented on #29619
Paddle does not support AMD GPU now. And the pull request in reviewing now. Please wait for it.

[2020-12-15 14:30] Xreki commented on #29625
请问具体使用的是paddle哪个版本呢？建议更新到paddle2.0rc1试下。develop是可以支持该功能的。

[2020-12-15 14:31] luping-lup opened #29673 "用PaddlePaddle2.0rc写的AlexNet模型，训练和评估准确度始终在10%左右，请教模型出现了什么问题？"
用PaddlePaddle2.0rc写的AlexNet模型，训练和评估准确度始终在10%左右，请教一下，模型出现了什么问题？

[code]

[code]

[2020-12-15 16:27] wojtuss commented on #28578
@juncaipeng ,
In the model there are two `fake_channel_wise_dequantize_max_abs` operators which has the `Scales[0]` input of all zeros (the input names: `channel_scale_40` and `channel_scale_10`). That doesn't seem to be correct, because in that case the convolution weights (`conv2_se_1_weights` and `conv2_se_2_weights`, both non-zero, fake-quantized) cannot be fake-dequantized to fp32 values befo

[2020-12-16 01:40] Xreki commented on #29610
用户进一步定位到，代码中使用了all_gather，再使用randperm就报错。怀疑可能是randperm的bug，不能生成其他卡上的数据，改成使用ones就可以在不同卡上生成不同cudaplace的数据。randperm默认使用CUDAPlace(0)，导致其他卡找不到类似CUDAPlace(1)。代码如下：
![image](https://user-images.githubusercontent.com/12538138/102293592-60f68880-3f82-11eb-9d82-37a5d0fb5c94.png)

是否randperm的问题，还在进一步确认中。

[2020-12-16 02:23] Xreki commented on #29609
可以使用`paddle.ParamAttr`设置，请参考https://github.com/PaddlePaddle/PaddleClas/blob/dc124ecb46f66b5d4ab42cbbd392fd1886c5fe3f/ppcls/modeling/architectures/resnet_vd.py#L58

[2020-12-16 02:30] LielinJiang commented on #29673
这个是已知问题了，应该是在最新版本修复了，可以尝试一下2.0.0rc1。

[2020-12-16 02:31] LielinJiang commented on #29669
好的，我们评估一下。

[2020-12-16 02:33] LielinJiang commented on #29667
似乎是已知问题，已经在最新的版本中修复了。可以尝试一下2.0.0rc1

[2020-12-16 02:42] Xreki commented on #29664
你好，从你报错信息的堆栈看出，出错地方在于：
![image](https://user-images.githubusercontent.com/12538138/102297971-3f4dcf00-3f8b-11eb-9332-6fc98ac85b09.png)

fluid.clip.ErrorClipByValue是一个class，所以应该是你的用法不对。具体用法请参考文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/fluid/clip/ErrorClipByValue_cn.html#errorclipbyvalue

[2020-12-16 02:47] lizhiqings commented on #29664
好的，我现在想对

发件人: Yiqun Liu <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2020年12月16日 星期三 上午10:42
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] ErrorClipByValue 算子问题 (#29664)

你的

[2020-12-16 02:51] lizhiqings commented on #29664
好的 我现在想对output_dur1做截断 这个应该怎么写呢 那个例子好复杂写的，或者还有其他类似算子实现这种功能么
[cid:image001.png@01D6D399.5A1A5320]

发件人: Yiqun Liu <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2020年12月16日 星期三 上午10:42
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] ErrorClipByValue 算子问题 (#2

[2020-12-16 02:52] Xreki commented on #29664
嗯嗯，我刚刚又去查了下文档，`ErrorClipByValue`这类的接口，是用来统一对梯度做clip。如果你想对某个特定的tensor做clip，可以使用`fluid.layers.clip`，文档见：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/clip_cn.html#clip

[2020-12-16 03:03] Xreki commented on #29661
Paddle does not support any arm architecture now, and there is not a roadmap to support training with Paddle for it. But if you want to inference, you can use Paddle-Lite.

----

**Update** : inference using Paddle is already supported on aarch64.

[2020-12-16 03:12] liuxi1007 commented on #29609
谢谢。

[2020-12-16 03:12] #29609 closed, assigned to Xreki

[2020-12-16 03:33] liuxi1007 opened #29693 "paddle 2.0-rc计算map的问题"
- 版本、环境信息：
1）PaddlePaddle版本：paddle 2.0-rc
- 训练信息
1）单机，单卡
2）显存信息10GB
- 问题
请问使用fluid.metrics.DetectionMAP API时，由于lod_level=1在paddle 2.0-rc动态图模式下不支持，所以无法使用。请问此API在paddle 2.0-rc静态图模式下可以使用吗？是否可以动态图和静态图模式混用，将静态图作为一个算子给动态图调用？请问具体实现方法是什么？

[2020-12-16 03:36] lizhiqings commented on #29664
En. 好的 多谢

发件人: Yiqun Liu <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2020年12月16日 星期三 上午10:53
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] ErrorClipByValue 算子问题 (#29664)

fluid.layers.clip

[2020-12-16 03:53] #29608 closed, assigned to Xreki

[2020-12-16 05:29] linkerlin commented on #29510
国内大量的开发人员用是MacOS，所以对MLCompute对支持是一个机器学习框架对胜负手。

[2020-12-16 05:45] Evezerest commented on #29507
补充一下：需要先将环境中opencv的相关包都删除干净，再安装headless

[2020-12-16 06:12] gootsing commented on #29619
Yes, but it has problems in building not only for ROCM, but also for CPU version, while 2.x does not have problems in building.

[2020-12-16 06:51] Xreki commented on #29619
Can you give your cmake command and Paddle's commit?

[2020-12-16 06:54] Avin0323 commented on #29660
打包后无法运行报错与移植到其他机器报错信息一致吗？

[2020-12-16 07:12] zhwesky2010 commented on #25408
@HighCWu 最新的RC1版本已经支持了不同batch间的梯度累加，麻烦重装试试

[2020-12-16 07:13] Meiyim commented on #25408
把PR在这里贴一下吧@zhouwei25

[2020-12-16 07:14] zhwesky2010 commented on #25436
@cyfwry 请参照最新的2.0版本的api，paddle.optimizer.lr.CosineAnnealingDecay的设计

[2020-12-16 07:16] zhwesky2010 commented on #25408
@Meiyim @HighCWu  https://github.com/PaddlePaddle/Paddle/pull/28429 实现了
[code]

[2020-12-16 07:20] OrangeRanSX commented on #29660
## 打包经历
### 1.添加site-package/paddle下的5个.dll前(本机):
Traceback (most recent call last):
  File "mainWindows.py", line 7, in <module>
  File "PyInstaller\loader\pyimod03_importers.py", line 324, in exec_module
  File "predict_fun.py", line 2, in <module>
  File "PyInstaller\loader\pyimod03_importers.py", line 324, in exec_module
  File "paddle\__init__.py", line 37, in <module>
  File "PyInstaller\loa

[2020-12-16 07:28] gootsing commented on #29619
Here it is:
commit 967c3fef093f94e4da754eed62462b8c9770ac0f (HEAD -> rel1.8, origin/release/1.8)
cmake .. -DPY_VERSION=3.6.0 -DWITH_AVX=OFF -DWITH_GPU=OFF
-- commit: 967c3fef09
-- branch: rel1.8
-- Configuring done
-- Generating done
-- Build files have been written to: /home/guqin/Documents/Github/Paddle/build_cpu
...
/home/guqin/Documents/Github/Paddle/paddle/fluid/pybind/op_function_impl.h: In

[2020-12-16 07:30] heavengate commented on #29693
动态图要使用的话可以参考下  https://github.com/PaddlePaddle/PaddleDetection/blob/d2dd8a53389ed85bee087ccaac16eaa0769fac79/ppdet/utils/map_utils.py#L57

[2020-12-16 07:46] qq345481843 commented on #29625
我用的是rc0版本，我试着更新到rc1，能正常打印输出了。感谢！

[2020-12-16 07:46] #29625 closed, assigned to Xreki

[2020-12-16 08:15] cyfwry commented on #25436
感谢！新版的api解决了这个问题，但是有点问题我不太理解，pd2.0是打算废弃原来dygraph下的api吗？到了2.0后CosineDecay和CosineAnnealingDecay两个功能近似的api居然分在两个不同的包下面，这是有什么设计理念在指导吗？

[2020-12-16 08:20] iclementine commented on #28760
我用在 aistudio 上的代码并没有触发你说的问题，反而是问题可能在 CrossEntropyLoss 上。
因为模型能够执行到 model 结束。而在 CrossEntropy 计算的部分过不去。

P.S. 为了看清楚错误的部分，我改成了 low level  API.

https://aistudio.baidu.com/aistudio/projectdetail/1336278?forkThirdPart=1

[2020-12-16 08:21] jhcgt4869 opened #29696 "关于paddle.nn.Flatten() API页面无法打开的问题"
地址：[paddle.nn.Flatten()说明文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/api/paddle/fluid/dygraph/Flatten_cn.html](https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/api/paddle/fluid/dygraph/Flatten_cn.html)
版本：2.0-rc
情况描述：改说明文档无法打开，直接会直接跳转[https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/guides/index_cn.html](https://www.paddlepaddle.org.cn/documentation/docs

[2020-12-16 08:23] zhwesky2010 commented on #25436
@cyfwry 全新的2.0API有新的易用性设计理念，如果API接口、功能等都不发生变化，会继续沿用，如果API接口发生了改变，会有新的写法。这里的CosineAnnealingDecay需要手动step更新学习率，设计上有些差异。

[2020-12-16 08:30] Avin0323 commented on #29660
这部分是指在移植机器上执行失败是吗？

[2020-12-16 08:42] jhcgt4869 commented on #29696
paddle.metric.accuracy():[说明文档https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/api/paddle/metric/metrics/accuracy_cn.html](https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/api/paddle/metric/metrics/accuracy_cn.html)也无法打开，直接跳转到首页

[2020-12-16 09:12] whocdb opened #29699 "Clone函数内部实现中无用的锁可以去掉"
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/inference/api/api_impl.cc
中的Clone函数中用到了锁，目的是为了防止多线程clone出现问题,然而当前的clone还是深clone(也许后面会使用浅Clone)，并不存在并发性问题，因此该lock可以先注释掉，否则Clone可能因为锁而导致等待。

[2020-12-16 09:21] ChaiHuanhuan opened #29700 "linux操作系统安装gpu版本的paddlepaddle出现问题"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
          **1.8.5**
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
          **GPU型号: GrForce GTX 1080Ti
          CUDA版本号: 9.2.148
          CUDNN版本号: 7

[2020-12-16 09:24] Joejiong commented on #29619
This `CastPyHandleToVarBase` function was added with  v2.0.0-rc1, not sure if this function should be cherry-pick to v1.8.
[code]

[2020-12-16 09:25] heavengate commented on #29700
您好，请问具体是什么问题呢，麻烦贴一下环境，版本，报错信息之类的

[2020-12-16 09:55] heavengate commented on #29696
感谢反馈，已转需求跟进中~

[2020-12-16 09:55] #29696 closed, assigned to TCChenlong, heavengate

[2020-12-16 10:29] Superjomn commented on #29699
你好，感谢反馈！

这个的确有道理，我们会排期修改下这块，之前应该是浅拷贝有一些问题。

比较倡导大家在启动多线程之前，先clone/create 好所有的predictor，这个方式会让多线程服务稳定很多。

对应clone这个我们会看下，会专门支持绝对的浅拷贝。

[2020-12-16 10:32] wojtuss commented on #28578
Below are the values of the two weight tensors from the quant model (the values are fake-quantized, i.e. quantized but kept as floats). The tensors are non-zero. However, the quantization scales saved for those tensors in input `Scales` of the operators `fake_channel_wise_dequantize_max_abs` (`channel_scale_40` and `channel_scale_10`) are tensors of zeros. In this situation conversion quant->fp32-

[2020-12-16 11:03] yiran-THU commented on #28360
报告同样的问题，win10，padlde2.0.cuda10.1，cudnn7.6.5，cuda测试没问题

[2020-12-16 12:11] lidanqing-vv opened #29703 "[2.0 release] oneDNN related attributes need to add Op version compatibillity"
Add op version compatibility to following ops
1）requantize
 The added attribute 'Shift_in' is not yet registered.
2）quantize
 The added attribute 'Shift' is not yet registered.
3）dequantize
 The added attribute 'Shift' is not yet registered.

[2020-12-16 12:39] wangxicoding commented on #28543
@wkzqn 2.0rc1目前已经修复了

[2020-12-16 13:12] heavengate commented on #29703
你好，麻烦给一下报错部分关键代码和版本信息、环境信息等，另外我们最近发布的2.0.0.rc1版本，可以试一下能否解决你的问题

[2020-12-16 14:09] JiaXiao243 opened #29709 "When mkldnn is turned on, some dynamic graph models have worse prediction performance than static graph models"
1. Test Data
![image](https://user-images.githubusercontent.com/37854899/102359977-6be60300-3fec-11eb-9fa2-291b4e352c07.png)

2. Profile Data
![image](https://user-images.githubusercontent.com/37854899/102360002-730d1100-3fec-11eb-93d7-ca0f37ebab99.png)

3. reproduce code：
https://github.com/PaddlePaddle/PaddleClas/blob/dygraph/deploy/cpp_infer/readme_en.md

4. model download link：
 Link: https://

[2020-12-16 14:28] JiaXiao243 opened #29710 "Use mkldnn to predict on windows, some models report errors."
1. Turn on mkldnn and use ResNet50_vd, HRNet_W18_C, SE_ResNeXt50_vd_32x4d model to make C++ prediction, error message is shown bellow.
![image](https://user-images.githubusercontent.com/37854899/102361250-fc711300-3fed-11eb-96c9-2aededb8cf86.png)
When mkldnn is not turned on, all these models can  can be predicted normally.

2. ResNeSt50_fast_1s1x64d report an application error
![b36c43a2994af1f18

[2020-12-16 14:30] HighCWu commented on #25408
在cuda 10.1下使用paddle 2.0.0rc1测试成功。

过程如下：

- 下载whl文件

[code]

- 安装paddlepaddle gpu

[code]

- 单一graph多次运行测试梯度累积

输入：

[code]

输出：
[code]

- 多次构造graph的梯度累积测试

[code]

输出：
[code]

验证完成，@Meiyim 没有疑问我将关闭这个issue

[2020-12-16 14:52] lidanqing-vv commented on #29703
@heavengate  不好意思，这是提给Intel同事他们将实现的task。暂时不需要Baidu的同事帮助哈，谢谢

[2020-12-16 15:04] lidanqing-vv commented on #29710
@JiaXiao243  不一定是系统的问题，可能是机型支持指令的问题。是什么机器，可以打印一下`lscpu`吗

[2020-12-17 01:34] luping-lup opened #29716 "2.0-rc1 应用实践中的计算机视觉第二个案例，在数据准备环节数据维度转换成CHW，准确度会有所提高"
2.0-rc1 应用实践中的计算机视觉第二个案例https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/tutorial/cv_case/convnet_image_classification/convnet_image_classification.html

当前文档示例中的数据转化在train函数中，采用reshape强行转换成(-1,3,32,32)，训练出来的模型准确率仅为40%。

如果在数据处理阶段把数据维度从HWC转换成CHW，再把转化后的数据输入模型训练，其准确率能达到70%左右。

下面程序的准确率会提高。
[code]

训练和测试结果为：
[code]

[2020-12-17 02:43] wanghaisheng commented on #29507
@Evezerest 你说的环境里是说我这个conda下面的py3.6  咋就算清理干净了

[2020-12-17 02:49] JiaXiao243 commented on #29710
![D10CC60CED2BE5A92102293E8FE563DD](https://user-images.githubusercontent.com/37854899/102437664-e1d28480-4055-11eb-8509-020cb9b3bc04.jpg)

@lidanqing-intel     Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz

[2020-12-17 05:00] JayEworld opened #29722 "怎么获取序列的长度并且遍历序列中的每个元素呢？"
背景：有一变长序列，我想针对不同的序列长度做不同的处理。

我定义了一个变长的序列tensor：fluid.layers.data(name=i, shape=[1], dtype="int64", lod_level=1)
（1）怎么获取变长序列的长度呢？
（2）怎么实现遍历序列里的元素呢？
如果以上无法实现，我就想能不能通过在生成样本的时候把序列长度算出来存下来，请问存下来的这个数怎么传到网络结构的定义里呢？

求哪位大佬能帮忙解答下！

[2020-12-17 11:38] VVIZE-ops opened #29737 "linux系统安装gpu版本的paddle出现问题"
版本、环境信息
   1）PaddlePaddle版本：1.85
    2）GPU：GeForce GTX 1070，CUDA :  V9.1.85

    3）系统环境：18.04.1-Ubuntu, python 3.7

- 安装方式信息：
   1）pip

- 问题描述：安装成功后使用时报错:
- ExternalError:  Cuda error(30), unknown error.
  [Advise: This indicates that an unknown internal error has occurred. ] at (/paddle/paddle/fluid/platform/gpu_info.cc:65)

[2020-12-17 12:04] hutuxian commented on #29737
贴一下完整的安装命令？

[2020-12-17 12:19] hutuxian commented on #29722
1. 可以使用size op
2. 得具体看遍历想做的操作
3. 也可以实现，再新建一个input传入这个数就行

[2020-12-17 12:25] VVIZE-ops commented on #29737
安装命令是指的这个么
python -m pip install paddlepaddle-gpu==1.8.5.post97 -i https://mirror.baidu.com/pypi/simple

[2020-12-17 12:32] hutuxian commented on #29716
用transpose替换reshape试一下呢看看有没有好转？

[2020-12-17 12:39] WangJ970316 opened #29742 "学习率 无效"
模型反向传播梯度在更新，但是不受学习率的控制。就是 不管怎么设置lr，对模型的梯度都没有影响。每次参数更新的方向和幅度都是固定的。更换优化器也没有效果

- 版本、环境信息：
    1）PaddlePaddle版本：1.8.3
    3）GPU：请提供GPU型号，CUDA 10.1.168 CUDNN 7.6.0
    4）Python 3.7
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 模型信息
    1）BILSTM
def bilstm_net(data,
               seq_len,
               dict_dim,
               emb_dim=12

[2020-12-17 12:40] hutuxian commented on #29737
机器上运行其他的cuda程序可以成功吗？

[2020-12-17 12:55] VVIZE-ops commented on #29737
现在已经彻底出问题了，，大概确定是显卡驱动问题

[2020-12-17 13:17] 1973sir opened #29743 "Ubuntu18.04从1.8+cuda10.1升级到2.0+cuda11.0后运行ernie的mrc模型预测任务报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0rc
    2）CPU：无
    3）GPU：rtx3080、CUDA 11.0 和CUDNN8.0.5
    4）系统环境：Ubuntu 18.04，Python3.7

之前在1.8+cuda10.1环境下可以正常运行，升级到2.0rc+cuda11.0（为了支持rtx3080显卡）后运行报错：
Traceback (most recent call last):
  File "knowledge_core/test.py", line 26, in <module>
    mrc.main(args)
  File "/home/lenny/share/tnhb/run_mrc.py", line 73, in main
    is_training=False)
  File "/home/lenny

[2020-12-18 02:39] hutuxian commented on #29743
贴一下报错部分前后的代码？

[2020-12-18 02:51] Donaghys opened #29749 "pip 安装 No module named 'paddle.nn'"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2020-12-18 03:00] sandyhouse commented on #29749
提供下版本信息和安装命令吧，以及报错信息。

[2020-12-18 03:18] 1973sir commented on #29743
test.py代码：

import sys
sys.path.append('/home/lenny/share/tnhb')
import run_mrc as mrc
import knowledge_core.info_driver as driver
import paddle.fluid as fluid
from finetune_args import parser
import os

def p_probability(mrc_result):
    if not len(mrc_result):
        return
    for _ in range(min(len(mrc_result[1]), 5)):
        # print(_)
        # print(mrc_result[1][_])
        print('reply{

[2020-12-18 03:20] 1973sir commented on #29743
test.py代码：

import sys
sys.path.append('/home/lenny/share/tnhb')
import run_mrc as mrc
import knowledge_core.info_driver as driver
import paddle.fluid as fluid
from finetune_args import parser
import os

def p_probability(mrc_result):
    if not len(mrc_result):
        return
    for _ in range(min(len(mrc_result[1]), 5)):
        # print(_)
        # print(mrc_result[1][_])
        print('reply{

[2020-12-18 03:35] Pzoom522 opened #29751 "Please release Pointer Generator implementation"
Hi,

[Pointer Generator](https://arxiv.org/abs/1704.04368) is one of the most popular baseline in text summarisation studies. It also serves as the building block of several very competitive models. Therefore, if Pointer Summariser can be included into your model zoo, it will greatly encourage the development of Paddle-based summarisation systems:wink:

Many thanks!

[2020-12-18 03:48] BladeSun opened #29752 "fleet.split_file error in python3.8"
https://github.com/PaddlePaddle/Paddle/blob/7c2affaa26cd3ed73915127243b067bb3a7958b4/python/paddle/fluid/incubate/fleet/base/fleet_base.py#L193

TypeError: slice indices must be integers or None or have an __index__ method

Paddle Version: 1.8.5
Python Version: 3.8.5

The problem is caused by different integer division behavior in py2/3.

I think the division operator in this function should chang

[2020-12-18 03:56] seiriosPlus commented on #29752
我们修一下.

[2020-12-18 04:01] Gavinic opened #29754 "AttributeError: module 'paddle.nn' has no attribute 'Conv2D'"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2020-12-18 04:03] sandyhouse commented on #29754
请提供paddle版本相关信息。

[2020-12-18 07:23] hutuxian commented on #29743
额，报错内容主要在mrc.py的49行~
顺便问一下，您用的是静态图还是动态图？

[2020-12-18 07:25] ChaiHuanhuan commented on #29700
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
1.8.5
   2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
   3）GPU：请提供GPU型号，CUDA和CUDNN版本号
GPU型号: GrForce GTX 1080Ti
CUDA版本号: 9.2.148
CUDNN版本号: 7.6.4
   4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
Ubuntu系统：16.04
python3.7.9
遇到的问题：
ExternalError: Cudnn error, CUDNN_STATUS_NOT_INITIALIZED at (/paddle/paddle/fluid/platform/device_context.h:165)
[operator

[2020-12-18 07:26] Gavinic commented on #29754
1, i follow the guide in this 'url'.
https://github.com/PaddlePaddle/PaddleOCR/blob/dygraph/doc/doc_ch/installation.md
2, i have done the step 1, ,2,3,4;
3, the paddle lib import successfully.
![image](https://user-images.githubusercontent.com/20828244/102586519-44ef1480-4145-11eb-9e11-19c836196dcc.png)
4, when i run the synthTxt script, the attribute error occurred.
python3 tools/synth_image.py -

[2020-12-18 07:26] Gavinic commented on #29754
others:
the paddle version:
python3 -m pip install paddlepaddle-gpu==2.0.0rc1 -i https://mirror.baidu.com/pypi/simple

[2020-12-18 07:41] sandyhouse commented on #29754
请确认下版本信息吧(print paddle.__version__)，我本地是没有问题的。
![image](https://user-images.githubusercontent.com/6737864/102587848-81bc0b00-4147-11eb-9243-cf67379093c0.png)

[2020-12-18 07:47] 1973sir commented on #29743
应该是用的静态图吧，另外报错的49行代码是：use_double_buffer=True)，相关function完整代码如下：
def create_model(args, pyreader_name, ernie_config, is_training):
    pyreader = fluid.layers.py_reader(
        capacity=50,
        shapes=[[-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1],
                [-1, args.max_seq_len, 1], [-1, args.max_seq_len, 1],
                [-1, args.max_seq_len, 1], [-1, 1], [-1, 1], [-1, 1]],

[2020-12-18 08:12] heavengate commented on #29700
`CUDNN_STATUS_NOT_INITIALIZED`  这个错误一般是CUDNN没有正确安装或者CUDNN版本与Paddle需求版本不匹配，可以排查一下CUDNN安装问题

[2020-12-18 08:12] #29693 closed, assigned to heavengate

[2020-12-18 08:55] wxl1351641822 opened #29759 "tensor筛选"
想要问一下，paddle是否有类似torch或者numpy那种列表筛选的功能？
`active_loss=attention_mask_label.reshape(-1)==1
            active_logits=fluid.layers.softmax(fluid.layers.reshape(pred, shape=[-1, self.num_classes]))
            active_logits=active_logits.numpy()[active_loss]
            labels=labels.reshape(-1)[active_loss].reshape(-1,1)
            loss = fluid.layers.cross_entropy(to_variable(active_logits), to_var

[2020-12-18 08:58] sandyhouse commented on #29759
paddle暂不支持这种处理。

[2020-12-18 09:01] wxl1351641822 commented on #29759
那我转到numpy再转回来，这种写法是否回传会有问题，以及有列向量乘矩阵对应行相乘吗

[2020-12-18 09:11] sandyhouse commented on #29759
转换会导致backward出问题。没太理解『有列向量乘矩阵对应行相乘吗』什么意思？

[2020-12-18 09:12] YeFeiyangx opened #29760 "restore 导入模型参数时报错"
我用linux训练的保存的模型文件ckpt，然后在windows环境下不能用restore方法导入，有解决方法嘛？
报错如下：
UnavailableError: LoadCombine operator fails to open file

[Hint: Expected static_cast<bool>(fin) == true, but received static_cast<bool>(fin):0 != true:1.] at (D:\1.8.5\paddle\paddle/fluid/operators/load_combine_op.h:50)

模型版本都是1.8.5的CPU版本

[2020-12-18 09:15] eashow opened #29761 "Tensor holds the wrong type, it holds int, but desires to be int64_t"
paddlepaddle 1.8.0 python3.7

预测时报错：
c:\temp\classify>python infer.py
C:\Users\eashow\AppData\Local\Programs\Python\Python37\lib\site-packages\paddle\fluid\executor.py:1093: UserWarning: There are no operators in the program to be executed. If you pass Program manually, please use fluid.program_guard to ensure the current Program is being used.
  warnings.warn(error_info)
C:\Users\eashow\AppData\L

[2020-12-18 09:18] HXia-XXL opened #29762 "2.0rc版本，AI Studio上 cross entropy 报错"
代码之前都是好的。刚才运行一下，paddle.nn.functional.cross_entropy报错：
`ValueError: (InvalidArgument) Input(Logits) and Input(Label) should in same shape in dimensions except axis.
  [Hint: Expected logits_dims[i] == labels_dims[i], but received logits_dims[i]:5 != labels_dims[i]:512.] (at /paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cc:145)`

input和label的形状不同。可是之前都可以正常运行。

input shape： [8, 5, 512,

[2020-12-18 09:25] wxl1351641822 commented on #29759
tensor([[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]])

tensor([[1.],
        [2.],
        [3.]])

tensor([[1., 1., 1., 1.],
        [2., 2., 2., 2.],
        [3., 3., 3., 3.]])

这个样子

[2020-12-18 09:26] wxl1351641822 commented on #29759
`>>> a = torch.ones(3,4)

tensor([[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]])

tensor([[1.],
        [2.],
        [3.]])

tensor([[1., 1., 1., 1.],
        [2., 2., 2., 2.],
        [3., 3., 3., 3.]])
'

[2020-12-18 09:28] sandyhouse commented on #29760
确认下加载的文件有没有问题。

[2020-12-18 09:29] sandyhouse commented on #29761
从报错信息看，是Tensor的数据类型不匹配。Tensor的类型是int，但是需要的是int64，排查下组网吧。

[2020-12-18 09:32] sandyhouse commented on #29762
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/nn/functional/loss/cross_entropy_cn.html#cross-entropy 参见API文档，除了axis参数指定的维度外，input和label其它维度的值需要一致。

[2020-12-18 09:39] HXia-XXL commented on #29762
您好， 我把label的shape 改成 [8 1 512 512] 然后设置 axis = 1 就可以运行了。代码前几天都能正常运行。今天报错就很奇怪。
还有 请问，默认axis = -1 是什么意思？

[2020-12-18 09:43] HXia-XXL commented on #29762
好像之前的2.0 rc版本里，cross-entropy没有axis这个参数。我本地环境里没有。最近是不是又更新了？

[2020-12-18 09:51] besttrying opened #29763 "2.0rc关于dataloader数据集加载问题"
在aistudio平台上训练，安装paddlepaddle2rc版本，
![AO20{GX)NP%}VDDN~$AXMQ8](https://user-images.githubusercontent.com/18502224/102600234-8b4e6e80-4159-11eb-8529-432136a1a5b7.png)
在加载图片过程中，会在加载过程中报错。

[2020-12-18 10:04] sandyhouse commented on #29759
paddle.multiply

[2020-12-18 10:04] sandyhouse commented on #29762
axis=-1表示最后一个维度。有可能有更新。

[2020-12-18 10:06] sandyhouse commented on #29763
数据读取报错，请检查下数据组织结构和数据读取代码是否一致。

[2020-12-18 11:02] wxl1351641822 commented on #29759
额，paddle 1.8.5有multiply吗

[2020-12-18 11:03] wxl1351641822 commented on #29759
![image](https://user-images.githubusercontent.com/42665925/102607654-973f2e00-4163-11eb-8a33-418b881a7d0d.png)
你看他的标识……我这边找不到这个orz

[2020-12-18 11:04] besttrying commented on #29763
检查过，一致的。这个并不是完全不能读取图片，而是在读取的过程中突然报错。报错的图片路径每次都不一样，我查看后对应的路径下确实有图片。

[2020-12-18 11:21] sandyhouse commented on #29759
1.8.2版本可以使用paddle.fluid.layers.elementwise_mul