[2020-12-18 11:22] sandyhouse commented on #29763
提供下最小可复现代码吧

[2020-12-18 11:36] HXia-XXL commented on #29762
好的。谢谢！

[2020-12-18 11:36] #29762 closed, assigned to sandyhouse

[2020-12-18 12:29] huochf opened #29768 "关于Tensor索引的建议和文档的建议"
建议添加整形数组或布尔数组索引，就如同numpy和pytorch那样！！！！

例如在pytorch中，可以写出很简短的代码：
`target_classes_o = torch.cat([t["labels"][J] for t, (_, J) in zip(targets, indices)]) # [batch_size, num_objects]`
而翻译成paddle，却
[code]

建议加速paddle官网文档的更新，我看咱源码函数头部里面的注释本身就很清楚，详细了！可以先导出，先用着，现在我都得在github的paddle代码中找API。

[2020-12-18 12:46] besttrying commented on #29763
import os
import csv
import random
import PIL.Image as Image
import numpy as np
from paddle.io import Dataset
import glob

def get_class(sample):
    return sample.split('/')[-2]

class Reader(Dataset):
    def __init__(self, data_path, mode='train', episode_num=10000, support_class_num=5, support_shot_num=1, query_num=15, transform=None):

        super(Reader, self).__init__()
        self.data_

[2020-12-18 12:48] sandyhouse commented on #29763
报错内容是什么

[2020-12-18 12:50] besttrying commented on #29763
![%F@ %ZAXZ5NC%W$ZDG Y~W6](https://user-images.githubusercontent.com/18502224/102616559-b09ba680-4172-11eb-82a4-c79ed4cfd7fb.png)

[2020-12-18 12:56] sandyhouse commented on #29763
这不还是reader部分报错吗，我还以为是其它地方报错了呢。请提供下完整的最小可复现代码和数据集，及数据组织格式和启动脚本。我们本地复现下看看。

[2020-12-18 13:03] besttrying commented on #29763
[fsl.zip](https://github.com/PaddlePaddle/Paddle/files/5715777/fsl.zip)

数据集为mini-imagenet，这里无法上传。通过处理train.csv等，把图片分为train，test，val三个文件夹。

[2020-12-18 13:06] besttrying commented on #29763
[miniImageNet.zip](https://github.com/PaddlePaddle/Paddle/files/5715815/miniImageNet.zip)
这是三个csv文件

[2020-12-18 13:10] sandyhouse commented on #29763
也烦请提供下处理脚本，以及训练的运行命令吧。

[2020-12-18 13:32] besttrying commented on #29763
图片处理文件在主文件夹中的/data/proc_image.py
训练命令在主文件夹下python tools/train.py即可。
麻烦了！非常感谢

[2020-12-18 13:37] sandyhouse commented on #29763
这个数据集哪里可以下载到吗，可以给个链接。我没有这个数据集。

[2020-12-18 13:40] besttrying commented on #29763
百度云链接: https://pan.baidu.com/s/1npRhZajLrLe6-KtSbJsa1A 密码: ztp5
我目前只有百度云的源

[2020-12-18 15:05] sandyhouse commented on #29763
数据集有点大，百度云下载比较慢。请问我是否可以用ImageNet数据集模拟，数据组织格式是什么样的？

[2020-12-18 15:25] besttrying commented on #29763
可以用imagenet模拟，mini-imagenet中有四个文件，一个images文件夹包括了所有的图像，然后根据三个csv文件把images里面的图像取出来存放到train，test，val文件夹下。以train文件夹为例，里面包括所有的训练图片，而每一类的训练图片又放在同类别的文件夹下面。相当于imagenet中每个类别的压缩包解压到train文件下对应的类别文件即可。imagenet中按照下面建好文件夹，把对应的图片解压放进去就行。图片创建好后，在tools/train.py中args中修改图片路径即可。
paddle新手，这里真是劳烦了。着实感谢。
若是麻烦，实在不行就不用了。我再研究研究，可能是我在加载数据的时候哪个小地方没注意导致的。
mini-imagenet
 --------images
 ----------image1
  ---------........
  -

[2020-12-18 16:23] sandyhouse commented on #29763
几个修改点：
1. for epoch, (support_images, support_targets, query_images, query_targets) in enumerate(train_data): --> for epoch, (support_images, support_targets, query_images, query_targets) in enumerate(train_data()):
2. sample_img.append(img) --> sample_img.append(np.array(img))
3.  query_img.append(img) --> query_img.append(np.array(img))
4.  return (sample_img, sample_labels, query_img, query_lab

[2020-12-19 00:59] besttrying commented on #29763
好的！为带来的麻烦表示感谢！

[2020-12-19 00:59] #29763 closed, assigned to sandyhouse

[2020-12-19 01:02] besttrying commented on #29763
非常感谢！为带来的麻烦表示感谢！

[2020-12-19 08:06] VVIZE-ops opened #29773 "ubuntu安装错误"
   1）PaddlePaddle版本：1.8.5
    2）GPU：rtx1070     cuda:10.0    cudnn:7.6
    3）系统环境：ubuntu18.04  python 3.6

使用conda install paddlepaddle-gpu cudatoolkit=10.0 安装时报错，

报错信息：
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with ini

[2020-12-19 09:06] #29742 closed, assigned to hutuxian

[2020-12-19 10:42] ceci3 commented on #29773
conda config --add channels https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/free/
conda config --add channels https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main/
conda config --add channels https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/
conda config --set show_channel_urls yes

你好，可以添加清华源试下

[2020-12-19 11:34] VVIZE-ops commented on #29773
好像还是不行，报错是
collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: /
The environment is inconsistent, please check the package plan ca

[2020-12-19 11:52] ceci3 commented on #29773
看起来是环境不一致 ，试下 conda update anaconda，
还是不可以的话试下：
conda clean --all
conda update --all

[2020-12-19 12:32] VVIZE-ops commented on #29773
问题解决了，真的是太感谢了

[2020-12-19 12:55] GuoQuanhao commented on #26637
这个问题解决了吗，paddle有对应的API了吗 torch.manual_seed

[2020-12-19 12:58] GuoQuanhao commented on #26637
paddle.framework.seed(seed) 好像在2.0版本找到了

[2020-12-19 13:30] ceci3 commented on #29773
那我先关掉这个issue咯，有别的问题可以再打开~

[2020-12-19 13:30] #29773 closed, assigned to ceci3

[2020-12-19 15:06] ChaiHuanhuan commented on #29700
查看 CUDNN 的版本如下：你能告诉我这个和 paddle哪个版本匹配吗？或者怎么查呢？
#define CUDNN_MAJOR 7
#define CUDNN_MINOR 6
#define CUDNN_PATCHLEVEL 4
--
#define CUDNN_VERSION (CUDNN_MAJOR * 1000 + CUDNN_MINOR * 100 + CUDNN_PATCHLEVEL)

#include "driver_types.h"

[2020-12-20 12:40] cqray1990 opened #29779 "No module named 'paddle.io'"
version:paddlepaddle-gpu              1.8.5.post107
    from paddle.io import Dataset, DataLoader, BatchSampler, DistributedBatchSampler
ModuleNotFoundError: No module named 'paddle.io'

[2020-12-20 12:51] #29768 closed, assigned to sandyhouse

[2020-12-20 12:54] #29779 closed, assigned to Shixiaowei02

[2020-12-20 12:55] huochf opened #29780 "转模型参数"
我在将pytorch参数转成paddle参数时，遇到点不懂的地方。

paddle中模型的state_dict中参数的类型是ParamBase，
而pytorch中state_dict中参数的类型是Tensor。

我的想法是将Tensor转成numpy，然后将numpy转成ParamBase，
当时由于我对paddle 的API不熟悉，
请问如何将numpy转成ParamBase。

在线等，加急！！

[2020-12-21 01:19] eashow commented on #29761
原码来源于 =》课程5-深度学习入门NLP-文本分类
https://aistudio.baidu.com/aistudio/projectdetail/1342778?forkThirdPart=1

库都是下现成的，怎么排查下组网？

[2020-12-21 02:29] sandyhouse commented on #29761
不好意思，上述连接无法打开。你可以查一下embeding的输入数据类型，需要是int64类型。检查下数据输入类型是不是不一致。

[2020-12-21 02:56] eashow opened #29783 "executor.py:1093: UserWarning: There are no operators in the program to be executed."
C:\Users\eashow\AppData\Local\Programs\Python\Python37\lib\site-packages\paddle\fluid\executor.py:1093: UserWarning: There are no operators in the program to be executed. If you pass Program manually, please use fluid.program_guard to ensure the current Program is being used.

这个警告怎么去掉呀？是什么意思？

[2020-12-21 03:24] eashow commented on #29783
原码：
# 获取每句话的单词数量
base_shape = [[len(c) for c in data]]

# 生成预测数据
tensor_words = fluid.create_lod_tensor(data, base_shape, place)

# 执行预测
result = exe.run(program=infer_program,
                 feed={feeded_var_names[0]: tensor_words},
                 fetch_list=target_var)

[2020-12-21 05:13] cole-dda opened #29787 "paddle2.0rc1总是在装gpu版本时报错驱动太老，但1.8版本可以安装"
gpu:
<img width="698" alt="screenshot_3968" src="https://user-images.githubusercontent.com/1077830/102741628-dd77d580-438d-11eb-9bb1-4467447506a6.png">

cuda: 10.0.130

paddle: 2.0.0.rc1

异常：
<img width="1122" alt="screenshot_3969" src="https://user-images.githubusercontent.com/1077830/102741670-fc766780-438d-11eb-9c32-bfffb98e59ee.png">

但是nvidia的官方文档说明：
<img width="628" alt="screenshot_3970" src

[2020-12-21 05:48] KaiyuanGao opened #29791 "Hint: Expected desc->total_size >= size, but received desc->total_size:0 < size:4096"
训练日志：http://10.182.101.144:8900/fileview.html?path=/home/disk1/normandy/maybach/app-user-20201220021818-38148/

非常简单的网络，cpu内存设置为200g，仍然报内存错误，麻烦看一下，谢谢！

![image](https://user-images.githubusercontent.com/33422503/102743742-0fd80180-4393-11eb-8869-2882bbf6d1fc.png)

[2020-12-21 06:12] 1973sir commented on #29743
你好，相关信息已经在上面帖子回复了，麻烦尽快回复下哈，我们现在卡在这里没法继续开发了。谢谢！

[2020-12-21 06:16] jhcgt4869 opened #29793 "文档错别字 typo 小bug"
地址：[https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/vision/datasets/cifar/Cifar10_cn.html](https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/vision/datasets/cifar/Cifar10_cn.html)

![image](https://user-images.githubusercontent.com/61859193/102745419-e7ea9d00-4396-11eb-8d2d-6669ede8075c.png)

数据集包含10中类别.应该是数据集包含10种类别.吧？

个人看法，如理解有误表示抱歉！

[2020-12-21 06:16] jhcgt4869 commented on #29793
[https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/vision/datasets/cifar/Cifar100_cn.html](https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/vision/datasets/cifar/Cifar100_cn.html)也是一样

[2020-12-21 07:39] Meiyim opened #29794 "静态图amp与`paddle.optimizer.AdamW`不兼容"
[这行](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/mixed_precision/decorator.py#L222)代码中将`minimze` 拆解成`bacward`和`apply_optimize `
导致`AdamW`中进行weight_decay的[逻辑](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/optimizer/adamw.py#L195)被绕过.

诸如此类的问题应该还有其他处（如regularizer,param_attr的插入），可能amp这块需要重新考虑兼容性问题。

[2020-12-21 08:06] zhiqiu commented on #29794
嗯嗯，这个问题我们也注意到了，已经有计划修复。

[2020-12-21 09:03] Shixiaowei02 commented on #29780
您好，请尝试使用 `create-parameter` 算子创建参数，并用 `initializer.NumpyArrayInitializer` 进行初始化，谢谢！
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/create_parameter_cn.html#create-parameter
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/initializer_cn/NumpyArrayInitializer_cn.html#numpyarrayinitializer

[2020-12-21 09:36] paopjian opened #29802 "文本分类训练demo出错：win10/cuda10.2/paddle2.0rc1：paddlehub/demo/text_classification/train.py 源代码无法使用,paddlepaddle报错"
- 版本、环境信息：
    1）PaddleHub和PaddlePaddle版本：PaddlePaddle2.0.0rc1, paddlehub==2.0.0b
    2）CPU：i7 9750H
    3）GPU：GTX1650 CUDA10.2
    4）系统环境：Windows10,python3.7
- 训练信息
    1）单机单卡
    2）显存信息:4G
    3）Operator信息
- 复现信息：源代码:
import paddle
import paddlehub as hub

if __name__ == '__main__':
    model = hub.Module(name='ernie_tiny', version='2.0.0', task='sequence_classification')

    train_dataset = hu

[2020-12-21 12:21] ysh329 commented on #29802
ValueError: (InvalidArgument) Tensor holds the wrong type, it holds int, but desires to be int64_t.
[Hint: Expected valid == true, but received valid:0 != true:1.] (at D:\2.0.0rc1\paddle\paddle/fluid/framework/tensor_impl.h:33)
[Hint: If you need C++ stacktraces for debugging, please set FLAGS_call_stack_level=2.]
[operator < softmax_with_cross_entropy > error]

[2020-12-21 12:24] ysh329 commented on #29793
收到。我们后面会改进，已经反馈文档pm

[2020-12-21 12:25] ysh329 commented on #29791
paddle版本？截取多一写日志，贴出来，

你给的链接不知道点进去看哪个。。

[2020-12-21 12:47] ysh329 commented on #29787
猜测可能是卡太老了，建议换新卡试试

[2020-12-21 13:00] #25408 closed, assigned to phlrain

[2020-12-21 13:09] huochf commented on #29780
emmm，直接使用load_dict就可以，看来你们工作人员对框架不熟悉呀！！！

model.load_dict(renamed_state_dict)

其中renamed_state_dict是我从pytorch中抠出来来的参数，格式转成了numpy.ndarray，
完美完成参数转换！！！！

[2020-12-21 13:11] Wangyao1997-sdu opened #29808 "win/cuda10/paddle2.0.0b0/py3.7：cannot import name 'enum_type_wrapper' from 'google.protobuf.internal' (unknown location)"
标题： cannot import name 'enum_type_wrapper' from 'google.protobuf.internal' (unknown location)
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0b0
    2）GPU：CUDA版本10.0
    3）系统环境：python3.7、windows10

Traceback (most recent call last):
  File "E:/LearnPaddle2/wronglabel/cnncifar10_wronglabel.py", line 7, in <module>
    import paddle as paddle
  File "E:\python\install\envs\AIEnv\lib\site-packages\paddle\__init

[2020-12-21 13:12] huochf commented on #29780
也可能我没说明白问题~~

[2020-12-22 01:48] lyj0123 opened #29811 "GPU使用时，内存、显存足够，但是会报内存不足的错误。"
环境：AiStudio 的 Notebook 运行模型。32G 显存，GPU环境。
报错如下：
Out of memory error on GPU 0. Cannot allocate 541.500244MB memory on GPU 0, available memory is only 8.625000MB.

Please check whether there is any other process using GPU 0.
1. If yes, please stop them, or start PaddlePaddle on another GPU.
2. If no, please decrease the batch size of your model.

 (at /paddle/paddle/fluid/memory/allocation/cuda_allo

[2020-12-22 02:00] ShuojieMo opened #29812 "C++预测CreatePaddlePredictor报错"
-预测信息
    1）C++预测： paddlepaddle1.8.0 ，
                            GIT COMMIT ID: 0231f58e592ad9f673ac1832d8c495c8ed65d24f
                            WITH_MKL: OFF
                            WITH_MKLDNN: OFF
                            WITH_GPU: OFF
    2）API信息：调用CreatePaddlePredictor读取预测模型报错，具体代码如下：
  `        AnalysisConfig config;
          CreateConfig(&config, model_dirname);
          auto

[2020-12-22 02:22] ysh329 commented on #29783
这个警告影响你计算结果嘛

[2020-12-22 02:22] ysh329 commented on #29808
是默认提供的代码嘛？这个错误是怎么触发的，环境是win/cuda10/paddle2.0.0b0/py3.7

[2020-12-22 02:24] ysh329 commented on #29802
有修改代码嘛

[2020-12-22 02:32] Wangyao1997-sdu commented on #29808
import paddle as paddle的时候就直接报错了
尝试过重装1.8版本，还是一样

[2020-12-22 02:54] ysh329 commented on #29808
这个应该是安装问题，paddle2.0rc1也有这个问题嘛

[2020-12-22 03:05] Wangyao1997-sdu commented on #29808
我这边已经解决了：升级visualdl到1.14，matplotlib降级到2.2.3就好了

[2020-12-22 03:09] ysh329 commented on #29808
Nice！

[2020-12-22 03:10] ysh329 commented on #29808
这个原因看来是一些依赖库的版本问题，visaldl和matpotlib，之间有对google protobuf有依赖关系，在版本上有问题。

[2020-12-22 07:20] HXia-XXL opened #29823 "AI Studio 2.0rc版本中 paddle.numpy()数据更改"
label从迭代器中取出来是Tensor类型，【0，20】的范围。但是，
label = label.numpy() 会让label的最大/小值变化，
现在会出现：
-464714812233515008
不知道为什么，而且是随机蹦出来异常值，导致程序中断

[2020-12-22 07:21] HXia-XXL commented on #29823
或者还有别的方法把Tensor转成ndarray类型嘛

[2020-12-22 07:27] cyfwry commented on #25436
好的，我会试着使用新的api！

[2020-12-22 07:44] ellinyang opened #29825 "paddle1.8.4 core_dump"
物理机：Linux
镜像：paddle1.8.4-gpu-cuda9.0-cudnn7
驱动情况：
![image](https://user-images.githubusercontent.com/20673237/102862545-361da000-446c-11eb-8ed1-01242e1d1908.png)
在ssd上、mask_rcnn训练时，偶尔会报如下错误信息，但是重试后又成功了，请问有什么可能的原因？
![image](https://user-images.githubusercontent.com/20673237/102862619-53526e80-446c-11eb-8988-96456a4d0ad7.png)

[2020-12-22 08:00] hutuxian commented on #29743
新版本Paddle默认是动态图模式，所以静态图要在代码最前面加上`paddle.enable_static()`。
您可以试一下看看~

[2020-12-22 08:29] TWLemontree opened #29827 "pp2.0 Conv2DTranspose 输出值 shape 问题"
强烈建议 2.0 的 Conv2DTranspose 接口再加上属性 output_size ！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！

使用本接口时，通常希望上采样至整数倍的！比如我输入特征图是 256*256，我肯定希望他输出 512*512，而不是 513*513 或 511*511 之类的奇怪的东西！！！！！！

[2020-12-22 08:49] HXia-XXL opened #29829 "CrossEntropyLoss类别权重问题"
官方文档写的是 weight的形状为【C】
eg：5个类的话  weight=tensor[1,1,1,1,1]

然后看了一下示例代码：
`import paddle
import numpy as np

input_data = paddle.uniform([5, 100], dtype="float64")
label_data = np.random.randint(0, 100, size=(5)).astype(np.int64)
weight_data = np.random.random([100]).astype("float64")

input =  paddle.to_tensor(input_data)
label =  paddle.to_tensor(label_data)
weight = paddle.to_tensor(weight_data)
ce

[2020-12-22 08:55] HXia-XXL commented on #29829
我对图像类别加权重的话:

input  shape:  [ batchSize, 5, 512, 512]
label  shape:   [ batchSize, 1, 512, 512]
weight：[ 0.5, 1, 1.5, 1, 1]

报错：
Input(Index).Shape[-1] should be no greater than Input(X).rank

[2020-12-22 09:09] 1973sir commented on #29743
可以了！菜鸡跪谢！

[2020-12-22 09:10] #29743 closed, assigned to hutuxian

[2020-12-22 09:38] KaiyuanGao commented on #29791
你好，paddle版本1.7.1
全部的训练日志在链接：workspace-->log-->app-->train.log里可以看到
模型代码可以在：workspace-->env_run-->train.py 里看到

[2020-12-22 09:40] wwdok commented on #431
我也遇到类似的问题了,不知道跟这个有没有关系.我的[issue](https://github.com/PaddlePaddle/models/issues/5131)

[2020-12-22 09:51] caoyu1664 opened #29831 "fluid.layers.dynamic_lstm() 变长序列输入支持"
paddle version: 1.8
python version: 3.6

paddle.fluid.layers.dynamic_lstm()可以支持变长序列输入吗？
根据文档，该接口输入为 [T,4∗hidden_size]  的多维 LoDTensor。将输入剥掉padding后构造成LoDTensor即可实现变长lstm?

[2020-12-22 10:34] VVIZE-ops opened #29833 "ubuntu anaconda 安装问题"
那我先关掉这个issue咯，有别的问题可以再打开~

_Originally posted by @ceci3 in https://github.com/PaddlePaddle/Paddle/issues/29773#issuecomment-748475229_

[2020-12-22 10:37] VVIZE-ops commented on #29773
今天安装的时候又出问题了，，使用‘conda install paddlepaddle-gpu==1.8.5 cudatoolkit=10.0 -c paddle‘命令安装一直卡在 solving environment  这里

[2020-12-22 10:38] VVIZE-ops commented on #29773
电脑配置还是一样的，卡在solving environment 半个小时还是没有反应

[2020-12-22 10:56] livingbody opened #29835 "WIN下PaddlePaddle2 GPU RC1安装问题"
<img width="782" alt="微信图片_20201222185355" src="https://user-images.githubusercontent.com/8059137/102881095-4e4ee880-4487-11eb-8bcc-8ae59b42c62a.png">
![微信图片_20201222185323](https://user-images.githubusercontent.com/8059137/102881164-69b9f380-4487-11eb-9bfa-bedb69dfb0ec.png)

[2020-12-22 11:18] #29829 closed, assigned to lijianshe02

[2020-12-22 11:31] lai-serena opened #29838 "lr已经设到很小了，总是在第20个iter出现loss:NAN"
- 版本、环境信息：
****************************************
Paddle version: 2.0.0-rc0
Paddle With CUDA: True
OS: Windows 10
Python version: 3.7.0
CUDA version: 10.2.89
cuDNN version: 7.6.5
Nvidia driver version: 457.09
****************************************
- 训练信息
    1）单机单卡
    2）显存信息：显卡NVIDIA GeForce RTX3070 8.0GB

利用网络骨架为ResNet50-vd-FPN-Dcnv2，网络类型为Cascade Faster，配置文件如下：
architecture: CascadeRCNN
max_

[2020-12-22 11:40] patrickwf commented on #23760
请问，支持vs2017 x86编译吗？选择mkl选项，会报找不到mkldnn.hpp，版本是release/2.0-rc1

[2020-12-22 11:43] patrickwf opened #29839 "VS2017编译release/2.0-rc1版本报找不到“mkldnn.hpp”"
如题，cmake打开选项WITH_MKL编译时会出现找不到“mkldnn.hpp”

[2020-12-22 12:06] lijianshe02 commented on #29839
查看一下mkl有没有下载下来，有时因为网络问题可能没有下载下来

[2020-12-22 12:07] lijianshe02 commented on #29838
可能是数据读取导致，比如标签对应关系错误。还可以检查下网络中是否会出现除0，log0的操作等

[2020-12-22 12:09] lijianshe02 commented on #29835
报错信息是找不到cudnn找不到，请在正确安装完cuda, cudnn后，设置相应的PATH

[2020-12-22 12:15] patrickwf commented on #29839
在\Paddle\build\third_party\mkldnn\src\extern_mkldnn\include 目录下已经存在mkldnn.hpp文件了

[2020-12-22 12:15] lijianshe02 commented on #29831
看文档是这样的

[2020-12-22 12:16] lijianshe02 commented on #29827
谢谢您的反馈，我们会评估改进

[2020-12-22 12:17] HXia-XXL opened #29841 "交叉熵类别加权"
类别数有20个

input大小  [8, 20, 512, 512]

label大小  [8, 1, 512, 512]

weight 是 [20]

结果就会报错：

File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/layers.py", line 884, in __call__
outputs = self.forward(*inputs, **kwargs)
File "work/FocalLoss.py", line 27, in forward
logpt = - F.cross_entropy(input, target, weight=weight, axis =1,ignore_index = self.ignore_index

[2020-12-22 12:18] lijianshe02 commented on #29825
请查看是否是显存不够造成的

[2020-12-22 12:19] lijianshe02 commented on #29823
问题应该不是tensor转numpy()造成的，请检查您最初的数据是否存在这样的异常值

[2020-12-22 12:21] HXia-XXL commented on #29823
谢谢您，模型跑到现在没出现问题了。

[2020-12-22 12:21] #29823 closed, assigned to lijianshe02

[2020-12-22 12:21] lijianshe02 commented on #29812
问题已经反馈，谢谢

[2020-12-22 12:23] lijianshe02 commented on #29811
可能是之前的任务虽然停止了，但是显存没有释放，导致任务再次运行的时候，显存不够的情况

[2020-12-22 12:27] patrickwf commented on #29839
mkldnn似乎是编译错误，只支持64位？
log显示
CMake Error at CMakeLists.txt:87 (message):
  oneDNN supports 64 bit platforms only

[2020-12-22 12:41] HXia-XXL commented on #29841
Loss函数代码：
`
import paddle
import paddle.nn as nn
import paddle.nn.functional as F

class FocalLoss2d(nn.Layer):
    def __init__(self, gamma=2, weight=None, size_average=None, ignore_index=-100,
                 reduce=None, reduction='mean', balance_param=0.25):
        super(FocalLoss2d, self).__init__()
        self.gamma = gamma
        self.weight = weight
        self.size_average = size_ave

[2020-12-22 12:43] HXia-XXL commented on #29841
weight = paddle.to_tensor([0.007, 1 , 1, 1, 1, 1, 1,
       1, 1, 1 , 1, 1, 1, 1,
       1, 1, 1 , 1, 1, 1 , 1.99999  ])
criterion_CE = FL.FocalLoss2d(weight = weight)

[2020-12-22 13:56] HXia-XXL commented on #29841
`if __name__ == '__main__':

    img1_path = 'work/HRSCD/train/im1'
    img2_path = 'work/HRSCD/train/im2/'
    label1_path = 'work/HRSCD/train/label1/'
    label2_path = 'work/HRSCD/train/label2/'
    label_path = 'work/HRSCD/train/label/'

    dataset = MutliTask_CDDataset_HRSCD(img1_path, img2_path,
                                  label1_path, label2_path, label_path, aug=1)

    # hyper-para

[2020-12-22 13:58] HXia-XXL commented on #29841
label的shape都是  8 1 512 512

[2020-12-22 14:05] HXia-XXL commented on #29841
Traceback (most recent call last):
  File "work/PCF_CA/train_PCF_CA_HRSCD.py", line 95, in <module>
    loss1 = criterion_CE2(output, label)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/layers.py", line 884, in __call__
    outputs = self.forward(*inputs, **kwargs)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/n

[2020-12-22 14:06] HXia-XXL commented on #29841
错误信息nn.loss.CrossEntropyLoss（训练代码那里），加权会报错。 自定义的Focal loss和官方交叉熵都会因为加权报错

[2020-12-22 14:42] lyn1225 opened #29843 "如何计算模型的参数量，floaps以及fps"
paddle中如何计算模型的参数量，floaps以及fps?

[2020-12-23 01:52] baigang666 opened #29844 "系统版本Centos 7.6 安装paddlepaddle安装成功，在验证阶段出错"
- 标题：系统版本Centos 7.6 安装paddlepaddle安装成功，在验证阶段出错
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.5 以及2.0rc1
    2）CPU：AMD 7302
    3）GPU：Tesla A100 cuda:10.0 cudnn:7.6.5
    4）系统环境:Centos 7.6、Python:3.6.12
- 安装方式信息：
1）pip安装    
- 复现信息：1.8.5 安装成功后，执行fluid.install_check.run_check()  ；2.0rc1安装成功后，执行paddle.utils.run_check()
- 报错信息：RuntimeError: parallel_for failed: no kernel image is available for execution on the

[2020-12-23 02:08] lyj0123 commented on #29811
但我是刚启动一个环境，之前并没有执行任务，我也尝试了Notebook中的中断任务再重启任务按钮，还是会报同样的错误。

这种现象是偶然性的发生，那我是不是可以理解成，上一个人使用这个GPU进行训练，它退出了，我在启动GPU环境的时候被分配到了这块GPU，但是我点击中断任务的时候并没有权利中断之前那个人的任务，导致了我运行的时候显存不足。如果是这种情况，我应该怎么处理才能去正常使用。比如在中断中输入什么命令，让所有任务终止，然后我在正常的去使用GPU。

[2020-12-23 02:34] lai-serena commented on #29838
谢谢回复~我再仔细的检查我的数据集，并没有发现标签对应关系的错误，我也拿该数据集在另一台同为win10的单卡单机，显卡为GTX 1060 6.0GB的机器上进行训练，其中配置文件除了lr改为0.00125以外其余与之前的相同，其训练输出如下：
2020-12-23 10:21:43,046-INFO: If regularizer of a Parameter has been set by 'fluid.ParamAttr' or 'fluid.WeightNormParamAttr' already. The Regularization[L2Decay, regularization_coeff=0.000100] in Optimizer will not take effect, and it will only be applied to other Parameters!
2

[2020-12-23 02:41] cqray1990 opened #29845 "Ｂｕｇ"
paddle version:2.0rc1
cuda 10.0,cudnn7.x
用ｐｙｃｈａｒｍ调试ｐａｄｄｌｅ代码中途强制终端停止调试，会出现闪退，电脑上的程序全都退出了，代码可以正常跑的，就是调试出问题

[2020-12-23 02:46] mikeshi80 opened #29846 "这里感觉是sed用得走火入魔了"
https://github.com/PaddlePaddle/Paddle/blob/7b33720c90da72889fa65829a4e7c0edc0e8f986/tools/dockerfile/ci_dockerfile.sh#L22

其实不需要先用这么复杂的方法，先算出文件的行数，然后在该行的后面用sed插入新的一行的，直接使用 `<<` 符号不就是在文本文件最后添加一行嘛

[2020-12-23 03:04] swtkiwi opened #29847 "cuda11上多卡训练报错"
![191608691997_ pic_hd](https://user-images.githubusercontent.com/27208573/102954426-661d7f80-450e-11eb-87ca-279ad200619e.jpg)
单卡训练没问题，使用的是AIStation的多实例提交，不是单环境双卡时出现问题。用的是paddle的distributed函数

[2020-12-23 03:08] bjjwwang commented on #29846
好的 感谢建议

[2020-12-23 03:08] Dice21 opened #29848 "How to use LoD-Tensor in Dynamic Graph?"
I'm coding with **dynamic graph** and I want to use **LoD-Tensor**  to process variable-length sequences.
I have searched in documents but only found APIs used in static graph.
Can any one tell me is there any APIs to process variable-length sequences in dynamic graph?

[2020-12-23 03:08] gongweibao commented on #29847
怎么启动的？能不能把启动方式发上来？

[2020-12-23 03:09] bjjwwang commented on #29845
用的是静态图还是动态图模式 可能不一定可以这么做。我讨论下反馈情况

[2020-12-23 03:19] Yajing-Z commented on #10196
同问，现在docker内可以使用非root用户运行paddlepaddle了吗？有什么解决办法能够在非root用户下运行paddlepaddle?
paddle版本：docker pull paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7

 File "/usr/local/python3.5.1/lib/python3.5/site-packages/paddle/fluid/dataloader/__init__.py", line 17, in <module>
    from . import dataset
  File "/usr/local/python3.5.1/lib/python3.5/site-packages/paddle/fluid/dataloader/dataset.py", line 18, in <modul

[2020-12-23 03:24] KernelErr opened #29849 "编译预测库时eigen3报错"
## 环境
- PaddlePaddle: 2.0 rc1 & 1.8.4
- OS: Ubuntu 20.10

## 编译命令
[code]

## 报错信息
[code]

[2020-12-23 03:33] ceci3 commented on #29773
是在同一台机器上重新安装一遍吗？

[2020-12-23 03:44] bjjwwang commented on #29848
No, lod-tensor is not available in dygraph mode.
I will consult someone to address the replacement of lod-tensor in dygraph.

[2020-12-23 03:51] bjjwwang commented on #29848
it is recommended to add padding elements to adjust the variable length.

[2020-12-23 04:16] Tridu33 opened #29850 "paddlepaddle的Pool2D向下取整问题"
[具体写在百度ai studio论坛上面](https://ai.baidu.com/forum/topic/show/980806)

[2020-12-23 04:40] L-Ymeng opened #29852 "paddle没找到实现稀疏矩阵的办法"
我的模型需要一个18W乘18W的二维矩阵，但其中只有66W的数据，所以这个矩阵很稀疏，想问paddle有没有办法实现这样的矩阵
我在使用TensorFlow的时候，有SparseTensor方法能够实现，现在想用paddle试试，但是没找到。

[2020-12-23 04:50] HXia-XXL commented on #29841
环境配置(AI Studio)
PaddlePaddle版本：2.0.0rc(显示的这个版本)
Python版本：3.7

2、BUG复现步骤（必要时给出截图）：
[code]

3、期望结果
都能计算loss输出：
CE_Loss: 某个数字
weight_CE_Loss: 另一个数字

4、实际结果
CE_Loss is:  [1.3867134]
Traceback (most recent call last):
  File "work/script.py", line 51, in <module>
    pp_loss = pp_ce(pp_to_tensor(logits), pp_to_tensor(labels), axis=1,weight=pp_to_tensor(weight))
  File "/opt/conda/envs/python35-paddle12

[2020-12-23 05:25] xialei2821212670 commented on #29314
你好，有复现过这个问题？

[2020-12-23 07:04] caoyu1664 commented on #29831
请问有实现lstm变长输入的demo吗？我尝试把输入tenser转numpy后，剥掉padding并用paddle.fluid.create_lod_tensor()构建LodTensor送入lstm并没有成功，看起来静态图并不支持这样做？

[2020-12-23 07:11] japygod opened #29854 "Error: Alloc 524288000 error! [Hint: Expected posix_memalign(&p, alignment, size) == 0, but received posix_memalign(&p, alignment, size):12 != 0:0.] at (/paddle/paddle/fluid/memory/detail/system_allocator.cc:59) [operator < mul > error]这个错误是什么意思"

[2020-12-23 08:16] GeorgeBohw opened #29857 "prediction(c++ version) occur error with message "Tensor holds no memory. Call Tensor::mutable_data firstc""
**System information**

ubuntu18.04  ,linux ,nvidia Tesla V100-PCIE,
-PaddlePaddle version （eg.1.1）or CommitID
  1.8
-GPU: including CUDA/CUDNN version
   cuda 10.0 , cudnn 7
-OS Platform (eg.Mac OS 10.14)
  ubuntu
-Python version
  python 3.8.3
-API information
 train ocr attention with gpu with paddle1.8,  then convert into c++ version,when run predict ,occur errors:

I1223 08:05:24.510879 26118

[2020-12-23 08:21] acelib02 commented on #29847
![图片](https://user-images.githubusercontent.com/66370384/102975337-dc37db80-453a-11eb-9629-8a276a6ed1cf.png)
启动方式如图所示

[2020-12-23 08:24] acelib02 commented on #29847
启动脚本如下：
#!/usr/bin/env bash

export PYTHONPATH=$PWD:$PYTHONPATH
python3 -m paddle.distributed.launch --gpus="0,1" tools/train.py -c ./config/ResNet/ResNet50.yaml -o print_interval-10

[2020-12-23 08:28] sandyhouse commented on #29847
paddle用的什么版本，模型使动态图还是静态图？另外，多实例提交是什么意思，同时提交多个任务吗？

[2020-12-23 09:28] bjjwwang commented on #29852
很可能没有，我先记录下这个问题，明天更新回复。

[2020-12-23 09:29] bjjwwang commented on #29854
看起来是memory alignment的问题，是在什么情况下触发的。

[2020-12-23 09:32] bjjwwang commented on #29850
如果是动态图的话 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/fluid/dygraph/Pool2D_cn.html#pool2d
静态图 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/fluid/layers/pool2d_cn.html#pool2d
这里应该是给出了ceil_mode

[2020-12-23 09:41] jhcgt4869 opened #29860 "文档中示例的疑惑"
地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/guides/02_paddle2.0_develop/02_data_load_cn.html

![image](https://user-images.githubusercontent.com/61859193/102982372-6127f280-4545-11eb-800c-aa41ac53e30e.png)
这里的结果是怎么的出来的，这个`train_dataset`哪里来的，上面导入的也应该是`train_dataset2`或`val_dataset2`这里莫名其妙就出现了。

而且这个文档里面的代码不能够一键复制了，结果却可以？？？
不便于借鉴和使用，换句话说，我一键复制你的结果有什么用嘛？我不要代码要结果，这个地方的设置根据有点“反人类”

[2020-12-23 10:01] bjjwwang commented on #29860
好 感谢指出问题。 我理解应该是几段代码是有上下文关系的， 在第一段代码中是有`train_dataset`。如果需要复现的话，可以把上下文都摘进来。然后print你需要的部分就好。

[2020-12-23 10:01] L-Ymeng commented on #29852
好的

[2020-12-23 10:24] WenmuZhou commented on #29857
麻烦帖一下完整的infer.py代码

[2020-12-23 10:47] #29780 closed, assigned to Shixiaowei02

[2020-12-23 11:17] acelib02 commented on #29847
Paddle使用的是docker hub的rc2-2.0.0-cuda11镜像；

模型使用动态图；

多实例是客户在AIStation训练平台里通过多实例提交运行任务，相当于两个docker实例配的分布式训练（8卡单服务器）

有一个镜像交流群，是否可以在群里进行交流？

----- 原始邮件 -----
发件人：lilong12 <notifications@github.com>
收件人：PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送人：acelib02 <libaoran_89@sina.com>,  Comment <comment@noreply.github.com>
主题：Re:_[PaddlePaddle/Paddle]_cuda11上多卡训练报错_(#29847)
日期：2020年12月23日 16点28分

pad

[2020-12-23 11:32] sandyhouse commented on #29847
看报错信息是端口冲突，导致绑定失败，但不了解具体的机器环境。贴下完整的日志信息，并且贴下log/workerlog.x文件的内容吧。

[2020-12-23 13:13] Darki-luo opened #29863 "高层接口 paddle.model报错"
在使用高层接口中读取dataset 计算损失函数时报错，提示维度不同，
ValueError: (InvalidArgument) Input(Logits) and Input(Label) should in same shape in dimensions except axis.
  [Hint: Expected logits_dims[i] == labels_dims[i], but received logits_dims[i]:2 != labels_dims[i]:1.] (at /paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cc:145)
  [Hint: If you need C++ stacktraces for debugging, please set `FLAGS_call_sta

[2020-12-23 13:34] sunhufei opened #29864 "humanseg训练出现AttributeError: parameter_list argument given to the Optimizer should not be None in dygraph mode."
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号 ，2     .0RC1
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号    gpu 2080ti     CUDA10.1
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本

[2020-12-23 13:35] sunhufei commented on #29864
谢谢

[2020-12-23 13:36] sunhufei commented on #29864
HumanSeg$ python train.py --model_type HumanSegMobile --save_dir ~/slu/koutu666/save_model --data_dir ~/slu/koutu666/folder5 --train_list ~/slu/koutu666/folder5/train.txt --val_list ~/slu/koutu666/folder5/val.txt --pretrained_weights ~/slu/koutu666/HumanSeg/pretrained_weights/humanseg_mobile_ckpt --batch_size 4 --learning_rate 0.001 --num_epochs 1000  --image_shape 600 800

[2020-12-23 14:23] patrickwf opened #29865 "Paddle可以编译x86版本吗？"
在vs2015上编译出现如下错误：
nown compiler version - please run the configure tests and report the results
139>E:\ATX\Paddle\paddle/fluid/operators/math/blas_impl.h(611): error C2719: “alpha”: 要求 8 对齐的形参将不被对齐
139>E:\ATX\Paddle\paddle/fluid/operators/math/blas_impl.h(622): error C2719: “alpha”: 要求 8 对齐的形参将不被对齐
139>E:\ATX\Paddle\paddle/fluid/operators/math/blas_impl.h(622): error C2719: “beta”: 要求 8 对齐的形参将不被对齐

[2020-12-23 14:36] patrickwf commented on #29865
版本 release/2.0-rc1
cmake命令
 cmake .. -G "Visual Studio 14 2015" -A Win32  -DWITH_MKL=OFF -DWITH_GPU=OFF  -DWITH_PYTHON=OFF -DON_INFER=ON -DCMAKE_BUILD_TYPE=Release

[2020-12-23 15:17] jhcgt4869 commented on #29860
看了一下确实是上面手写识别的数据，但是感觉好奇怪，能不能多加一句注释（说好的是外部数据，最后有用自带的拿来演示，好奇怪）

[2020-12-24 00:41] acelib02 commented on #29847
附件是客户提供的log信息。
----- 原始邮件 -----
发件人：lilong12 <notifications@github.com>
收件人：PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送人：acelib02 <libaoran_89@sina.com>,  Comment <comment@noreply.github.com>
主题：Re:_[PaddlePaddle/Paddle]_cuda11上多卡训练报错_(#29847)
日期：2020年12月23日 19点32分

看报错信息是端口冲突，导致绑定失败，但不了解具体的机器环境。贴下完整的日志信息，并且贴下log/workerlog.x文件的内容吧。

—
You are receiving this because you commented.
Reply to t

[2020-12-24 01:52] GeorgeBohw commented on #29857
@WenmuZhou
你好，infer.py的代码如下：
**infer.py**
#   Copyright (c) 2018 PaddlePaddle Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, s

[2020-12-24 01:54] GeorgeBohw commented on #29857
@WenmuZhou
**你好。infer.py代码如下：**

#   Copyright (c) 2018 PaddlePaddle Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
#

[2020-12-24 01:55] GeorgeBohw commented on #29857
@WenmuZhou
你好，infer.py代码如下：

parser = argparse.ArgumentParser(description=__doc__)
add_arg = functools.partial(add_arguments, argparser=parser)
# yapf: disable
add_arg('model',              str, "attention",
        "Which type of network to be used. 'crnn_ctc' or 'attention'")
add_arg('model_path',         str, 'models/george/model_00020',
        "The model path to be used for inference.")
add_a

[2020-12-24 01:56] GeorgeBohw commented on #29857
@WenmuZhou
attention_infer函数如下：
def attention_infer(images, num_classes, shape,use_cudnn=True):

    max_length = 10
    gru_backward, encoded_vector, encoded_proj = encoder_net(
        images, is_test=True, use_cudnn=use_cudnn)

    backward_first = fluid.layers.sequence_pool(
        input=gru_backward, pool_type='first')
    decoder_boot = fluid.layers.fc(input=backward_first,

[2020-12-24 02:01] xialei2821212670 opened #29868 "paddle 2.0 版本安装问题"
![image](https://user-images.githubusercontent.com/57654726/103050152-93316700-45ce-11eb-865f-bbc31d871cad.png)

![image](https://user-images.githubusercontent.com/57654726/103050184-a93f2780-45ce-11eb-9248-029465c5c9c1.png)
![image](https://user-images.githubusercontent.com/57654726/103050200-b9570700-45ce-11eb-83c5-91e75a86beb7.png)
![image](https://user-images.githubusercontent.com/57654726/103

[2020-12-24 02:35] lwbmowgli opened #29870 "Paddlerc1混合精度训练失败"
![image](https://user-images.githubusercontent.com/32731935/103052136-59af2a80-45d3-11eb-856b-e4969bea6043.png)

版本与报错信息如上图所示，前几天提了issue，是因为resnet中全局平均池化层不支持这个，回复说在rc1中会解决，结果rc1告诉我flatten这个层官方的op也不支持。我也非常支持国内的开源框架，但是不能这么搞吧。。。

[2020-12-24 02:39] #29591 closed, assigned to frankwhzhang

[2020-12-24 02:44] wa3926 opened #29871 "paddle 2.0 exe.run(fluid.default_startup_program()) 使用1.8预测报错"
File "F:/workspacesvue/workspace/znfz_zx2020/mypaddle/predictZbdw.py", line 22, in predict
    exe.run(fluid.default_startup_program())
  File "F:\Anaconda3\lib\site-packages\paddle\fluid\executor.py", line 1107, in run
    six.reraise(*sys.exc_info())
  File "F:\Anaconda3\lib\site-packages\six.py", line 703, in reraise
    raise value
  File "F:\Anaconda3\lib\site-packages\paddle\fluid\executor.p

[2020-12-24 02:51] sandyhouse commented on #29847
附件在什么地方，并没有看到。

[2020-12-24 03:11] acelib02 commented on #29847
已重传附件。附件的log内容如下：
------
grep: warning: GREP_OPTIONS is deprecated; please use an alias or scriptTraceback (most recent call last):
  File "tools/train.py", line 29, in <module>
    from ppcls.data import Reader
  File "/test01/PaddleClas-dygraph/ppcls/__init__.py", line 19, in <module>
    from .data import *
  File "/test01/PaddleClas-dygraph/ppcls/data/__init__.py", line 15, in <module>
    fro

[2020-12-24 03:27] sandyhouse commented on #29847
这个日志是多次运行的日志混在一起了吗？另外，这是个多卡任务，这个日志是不是只是给出了一张卡上的日志？稍微整理下日志吧，并且把所有卡的日志都贴一下吧。只需要一次运行的日志，不要多次运行的日志混在一起，不太好区分（运行前删除下log目录）

[2020-12-24 03:55] cqray1990 commented on #29845
用的是动态图

[2020-12-24 05:13] HXia-XXL opened #29875 "2.0rc版本如何设置随机数种子"
请问2.0rc版本怎么设置随机数种子

[2020-12-24 05:42] hong19860320 commented on #29871
你是厂内用户吗？如果不是，建议给下完整的复现问题的脚本哈？

[2020-12-24 05:45] wa3926 commented on #29871
@hong19860320  #coding:utf-8
#文本分类
import sys
import os
curPath = os.path.abspath(os.path.dirname(__file__))
rootPath = os.path.abspath(os.path.dirname(curPath)+os.path.sep+".")
sys.path.append(rootPath)
# 导入必要的包
import numpy as np
import paddle.fluid as fluid
from util.oracle_util import get_connection
from util.str_util import replaceStr_key,get_propertiesvalue
syst=get_propertiesvalue("system")

[2020-12-24 05:46] wa3926 commented on #29871
@hong19860320  就是执行预测报错了  之前1.8是好的   最近用到2.0的一个模型 就升级了   现在想知道2.0的预测这边应该怎么写

[2020-12-24 06:11] jiweibo commented on #28331
使用ParamAttr的方式初始化batch_norm的参数吧，建议不要这样直接连起来，导致优化策略用不了，显存优化效果也不好

https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/batch_norm_cn.html#batch-norm

[2020-12-24 06:13] hong19860320 commented on #29871
在程序最开始调用下paddle.enable_static() 试试

[2020-12-24 06:15] jiweibo commented on #28337
开先内存复用，会导致tensor名字对不上，但是结果是没问题的

[2020-12-24 06:26] xdhuang opened #29877 "fluid.io.save_inference_model dirname为中文路径会变成乱码"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2020-12-24 06:26] zhwesky2010 commented on #29868
@xialei2821212670 麻烦先安装下这个试试 https://www.microsoft.com/en-us/download/details.aspx?id=48145

[2020-12-24 06:27] wa3926 commented on #29871
@hong19860320  可以了  谢谢  是新版本开始 一定要声明只用 静态图是吗

[2020-12-24 06:29] #29871 closed, assigned to hong19860320

[2020-12-24 06:31] xialei2821212670 commented on #29868
你好，我安装过，刚尝试重新安装，还是出现问题。

[2020-12-24 06:36] hong19860320 commented on #29871
是的，2.0默认使用动态图哦

[2020-12-24 06:41] hong19860320 commented on #29875
可以使用paddle.framework.seed(seed)，具体文档可以参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/framework/random/seed_cn.html#seed

[2020-12-24 06:48] zhwesky2010 commented on #29868
@xialei2821212670 确保这个vs的已经成功安装好了吧，这个是DLL加载时加载时表示找不到，一般可能是加载路径不对，或者是就没有安装这个dll，但是python不会告诉是哪个没找到，所以直接凭肉眼不太好看。可以先在终端里设置下环境变量 set GLOG_v=5吗？另外，pip安装是不是也会有这个问题呢

[2020-12-24 06:51] xialei2821212670 commented on #29868
是在系统里设置环境变量？pip 安装也是这个问题

[2020-12-24 06:52] ShuojieMo commented on #29812
好的 谢谢

[2020-12-24 06:59] hong19860320 commented on #29877
建议使用英文路径哈

[2020-12-24 07:12] hong19860320 commented on #29870
看起来是动态图flatten_contiguous_range这个算子kernel不支持fp16哦，在混合精度训练的时候，你可以按照下面这个文档把它加到黑名单里面

https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/amp/amp.html#id3

[2020-12-24 07:12] hong19860320 commented on #29870
Hi @yaoxuefeng6 麻烦看下这个flatten_contiguous_range算子为啥不支持fp16呢？
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/flatten_op.cu.cc

[2020-12-24 07:55] GeorgeBohw commented on #29857
@WenmuZhou infer.py代码：

def inference(args):
    """OCR inference"""
    if args.model == "crnn_ctc":
        infer = ctc_infer
        get_feeder_data = get_ctc_feeder_for_infer
    else:
        infer = attention_infer
        get_feeder_data = get_attention_feeder_for_infer
    eos = 1
    sos = 0
    num_classes = data_reader.num_classes()
    data_shape = data_reader.data_shape()
    # define

[2020-12-24 07:56] xialei2821212670 commented on #29868
![Uploading image.png…]()
是这样？

[2020-12-24 08:06] fengkuangxiaxia opened #29884 "windows编译MD版DLL问题"
- 版本、环境信息
1）PaddlePaddle版本：1.8.5
2）CPU/GPU：CPU
3）系统环境：Win7

- 官方文档编译说明错误

CUDA_TOOKIT_ROOT_DIR应该是CUDA_TOOKIT_ROOT_DIR才对

https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/windows_cpp_inference.html

![image](https://user-images.githubusercontent.com/3814174/103072971-a9a4e600-4601-11eb-8f4f-dbc088b7581a.png)

- cryptopp.cmake导致不能编译MD版本

cryptopp.cm

[2020-12-24 08:06] daizh commented on #24905
请问现在paddle2.0动态图版本中，是否可以实现「不同batch之间的梯度累加」了呢？

[2020-12-24 08:25] lijianshe02 commented on #29841
问题已经收到，我们会尽快处理，谢谢

[2020-12-24 08:34] livingbody commented on #29835
<img width="744" alt="mmexport1608798747053" src="https://user-images.githubusercontent.com/8059137/103075101-e8d53600-4605-11eb-93d1-d02741f23bff.png">

[2020-12-24 08:42] ggyuan opened #29886 "动态图导出预测模型CPU下开启IR优化结果出错"
版本、环境信息：
1）1.8.5
2）CPU: Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz
3）系统环境CentOS Linux release 7.5.1804 (Core), Python 3.7.6
问题描述:
![image](https://user-images.githubusercontent.com/5819753/103075722-28505200-4607-11eb-8322-b31705f328da.png)

![image](https://user-images.githubusercontent.com/5819753/103075451-98aaa380-4606-11eb-82cf-c3ce78e41c7b.png)
相同模型，在config中打开和关闭switch_ir_optim结果有diff，打开时只有ba

[2020-12-24 08:46] livingbody opened #29887 "为啥安装cpu版的paddlepaddle，还提示gpu没准备好？"
为啥安装cpu还提示gpu版本信息
![mmexport1608799495622](https://user-images.githubusercontent.com/8059137/103075814-6188c200-4607-11eb-8fa7-f4c34d99c6bd.jpg)
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddl

[2020-12-24 08:52] hong19860320 commented on #29884
官网那个问题是不是说拼写少了个L啊？CUDA_TOOLKIT_ROOT_DIR

[2020-12-24 08:55] zhwesky2010 commented on #29884
@fengkuangxiaxia  cryptopp.cmake这个问题在develop上应该修好了，文档这里是少了个字母，应该 `CUDA_TOOLKIT_ROOT_DIR` ，我们后续会修复 @jiweibo

[2020-12-24 08:56] hong19860320 commented on #29886
麻烦志强@DannyIsFunny帮忙看下哈，感觉是某个op fuse pass有bug，这个最好@ggyuan 在厂内开个卡片，把复现环境放下哦

[2020-12-24 10:14] hong19860320 commented on #29887
提示你安装的是paddlepaddle-gpu，安装pip install paddlepaddle试试

[2020-12-24 10:33] duanyaohui commented on #29847
**这是第一张卡的日志**
I1224 10:26:23.885565   337 nccl_context.cc:179] init nccl context nranks: 2 local rank: 0 gpu id: 0 ring id: 0
Process Process-2:
Traceback (most recent call last):
  File "/usr/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File

[2020-12-24 11:13] sandyhouse commented on #29847
一、是否使用fleetx数据下载功能；
二、请看下60001端口是被什么进程占用

[2020-12-24 11:24] hong19860320 commented on #29887
你执行https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py 把环境发下上来哦

[2020-12-24 11:37] DDDivano commented on #29314
这个报错是因为电脑没有avx指令集，所以他调用了noavx的core，但是我们机器没有noavx的cpu，所以这边无法复现该问题。

[2020-12-24 11:41] DDDivano commented on #29314
安装10.0试试？

[2020-12-24 12:30] ellinyang commented on #29825
我们显存是足够的，V100机型也会报这样的错误。同样的代码，同样的机器上，错误的模型重试就成功了。目前观测到主要在paddle1.8.4上才会出现这个情况。
今天在yolov3_mobilenetv1上也发生了这样的情况

[2020-12-24 12:30] pgq10240817 commented on #25455
试一试
如果转换的是combile模式(也就是有__moble__ & __params__ 这2个文件)
paddle_lite_opt --model_file=./test/__model__  --param_file=./test/__params__ --valid_targets=arm --optimize_out_type=naive_buffer --optimize_out=mobilenet_v1_opt

[2020-12-24 12:30] pgq10240817 commented on #25455
试一试
如果转换的是combile模式(也就是有__moble__ & params 这2个文件)
paddle_lite_opt --model_file=./test/model --param_file=./test/params --valid_targets=arm --optimize_out_type=naive_buffer --optimize_out=mobilenet_v1_opt

[2020-12-24 12:38] ggyuan commented on #29886
已经在厂内建好卡片了，复现环境也放上去了

[2020-12-24 13:00] hong19860320 commented on #29886
好的，我已经看到有预测的同学在跟了

[2020-12-24 13:08] xialei2821212670 commented on #29314
![image](https://user-images.githubusercontent.com/57654726/103090460-03220a80-462c-11eb-8d70-11aef69782e7.png)

![image](https://user-images.githubusercontent.com/57654726/103090470-09b08200-462c-11eb-9f8f-6e9b445a9952.png)

y应该支持指令的吧

[2020-12-24 14:43] HXia-XXL commented on #29875
感谢！

[2020-12-24 14:43] #29875 closed, assigned to hong19860320

[2020-12-25 01:49] Darki-luo opened #29895 "建议paddle.vision和paddleseg整合"
最近发现paddleseg也可以用pip安装，调用包，和高层api接口paddle.vision很像，但相互调用有些问题，比如直接用paddle.Model（）调用paddleseg的miou计算等还是会有一些问题，希望可以考虑整合一下这个接口，直接拆出来给paddleseg，做一些兼容的适配

[2020-12-25 02:03] #29884 closed, assigned to jiweibo, zhwesky2010

[2020-12-25 02:33] GeorgeBohw opened #29899 "“covert to c++” occurs error about “pre_ids_emb = fluid.layers.embedding（）”"
os:
ubuntu with gpu
paddle1.8

转换paddle到c++运行，下面两种情况，pyhon运行均正常，c++运行报错。
attention.py中的def attention_infer（）函数：

情况1：
pre_ids_emb = fluid.layers.embedding（）
转化的模型在c++环境下运行出现错误：

0 std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, int)
1 paddle::platform::EnforceNotMet::EnforceNotMet(std::string const&, char const*, int)
2 paddle::operators::Looku

[2020-12-25 02:33] GeorgeBohw commented on #29899
def attention_infer（）如下：

def attention_infer(images, num_classes, use_cudnn=True):

max_length = 20
gru_backward, encoded_vector, encoded_proj = encoder_net(
    images, is_test=True, use_cudnn=use_cudnn)

backward_first = fluid.layers.sequence_pool(
    input=gru_backward, pool_type='first')
decoder_boot = fluid.layers.fc(input=backward_first,
                               size=decoder_size,

[2020-12-25 02:34] GeorgeBohw commented on #29899
attention_infer函数如下：

def attention_infer(images, num_classes, use_cudnn=True):

    max_length = 20
    gru_backward, encoded_vector, encoded_proj = encoder_net(
        images, is_test=True, use_cudnn=use_cudnn)

    backward_first = fluid.layers.sequence_pool(
        input=gru_backward, pool_type='first')
    decoder_boot = fluid.layers.fc(input=backward_first,

[2020-12-25 05:26] starsblinking commented on #29846
233

[2020-12-25 06:57] wangchaochaohu commented on #29895
您好 这边会慎重考虑你的意见进行反馈

[2020-12-25 07:11] wangchaochaohu commented on #29899
因为paddle的历史原因 fluid.embeding 和fluid.layers.embeding 底层调用的是不同的C++ OP代码  fluid.embeding调用的是新的lookup_table_v2但是fluid.layers.embeding调用的是lookup_table

[2020-12-25 07:13] GeorgeBohw commented on #29899
@wangchaochaohu 请问我该怎么解决这个问题呢？谢谢

[2020-12-25 07:19] wangchaochaohu commented on #29899
如果非要用lookup_table_v2的话可以按照提示消息进行改正  第一个错误是因为最后维度不为1 你需要按照自己的需求reshape下 第二个是数据类型的问题 需要传入的tensor数据类型是int64 但是你传入的是float32

[2020-12-25 07:44] Cerdore opened #29908 "centos7编译错误, 错误相关信息：c++: internal compiler error: 已杀死 (program cc1plus)"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）CPU：Intel(R) Xeon(R) Silver 4110 CPU @ 2.10GHz
    3）GPU：Tesla P40，CUDA10.1 和CUDNN7
    4）系统环境：Centos 7、Python 3.6.8
    5）其他配置： gcc-7.5.0, cmake-3.19.2
    6）内存大小：
![image](https://user-images.githubusercontent.com/24353799/103125881-847aab00-46c7-11eb-9b10-4660d830ccce.png)

- 安装方式信息：
1）本地编译：
------cmake命令
cmake .. -DPY_VERSION=3.6.8 -DPYTHON_INCLUDE_DIR

[2020-12-25 08:09] GeorgeBohw commented on #29899
@wangchaochaohu
attention_infer.py的代码如上，c++出错的部分对应的python代码为：
    pre_ids_emb = fluid.embedding(
        input=pre_ids,
        size=[num_classes + 2, word_vector_dim],
        dtype='float32')
这个传入的pre_ids维度为[None,1],最后一个维度就是1啊(可以参考attention_infer.py)，请问这个到底是怎么一回事啊？
谢谢。

[2020-12-25 08:09] GeorgeBohw commented on #29899
还有那个维度，我发现我怎么改它都是不对的，出错的那一句还是：
pre_ids_emb = fluid.embedding(
input=pre_ids,
size=[num_classes + 2, word_vector_dim],
dtype='float32')
@wangchaochaohu

[2020-12-25 08:20] lizhaohu opened #29910 "https://github.com/PaddlePaddle/Paddle/issues/19433 這個沒解決爲什麼給關了？？？？？？？現在還有這種情況"
https://github.com/PaddlePaddle/Paddle/issues/19433　同樣的問題，請幫忙看看謝謝

[2020-12-25 08:34] lipan6461188 opened #29912 "激活函数遇到nan时应该输出nan"
**PaddlePaddle Version:** 2.0.0-rc1
**CPU/GPU:** CUDA 10.2; cuDNN: 7.4
**系统**：Linux ubuntu 4.4.0-131-generic #157-Ubuntu SMP Thu Jul 12 15:51:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

复现：下面是Paddle的代码：
[code]
输出是：
[code]

下面是Torch的代码(version: 1.6.0)：
[code]
输出是
[code]

我在训练的过程中不知道为什么模型的参数变成了nan，但输出的预测值不是nan，这样很难让人发现中间出错了。

[2020-12-25 08:35] wangchaochaohu commented on #29908
可以使用swapoff -a 命令先释放空间 然后在编译过程中free -m 查看swp空间的使用情况

[2020-12-25 08:42] wangchaochaohu commented on #29912
感谢您的反馈 这边会反馈需求求进行整理评估

[2020-12-25 09:05] wangchaochaohu commented on #29910
按照反馈 可以把底层所有的path清空了 然后手动设置了需要的include以及lib就行了

[2020-12-25 09:11] lijianshe02 commented on #29843
paddle.summary()方法可以显示出模型参数量

[2020-12-25 09:11] #24905 closed, assigned to nobody

[2020-12-25 09:12] lijianshe02 commented on #29831
这个我咨询下相关同学再回复您

[2020-12-25 09:15] wangchaochaohu commented on #29899
可以在输入之前通过paddle.shape 打印下相关的shape 可能是在
![image](https://user-images.githubusercontent.com/13411999/103129720-c3fbc400-46d4-11eb-9480-2051892edea9.png)
这里进行了改变

[2020-12-25 09:20] lijianshe02 commented on #29827
class paddle.fluid.dygraph.Conv2DTranspose(num_channels, num_filters, filter_size, output_size=None, padding=0, stride=1, dilation=1, groups=None, param_attr=None, bias_attr=None, use_cudnn=True, act=None, dtype='float32')
2.0的接口如上所示，是有output_size参数的

[2020-12-25 09:29] zhwesky2010 commented on #29868
@xialei2821212670 您好，我这边图片加载不到

[2020-12-25 10:17] luotao1 commented on #29839
@zhouwei25 @Avin0323 两位看下？

[2020-12-25 12:07] Cerdore commented on #29908
你好，我截图中的内存是以M为单位的，刚才描述的有问题。内存是156个G，Swap我本来是4G，然后我又给Swap加了4G。所以感觉不是swap的问题吧。

[2020-12-25 14:09] rillzhang opened #29919 "paddle2.0.0rc1版本有内存泄漏问题"
操作系统：centos7
机器配置：显卡3080ti，cpu i5 9代，内存 16G，固态硬盘
paddle版本：2.0.0rc1
cuda版本：11.0
python版本：3.6

图片是一张手机上随便截的图，180k的jpg图片。图片一开始就读入了，每隔300毫秒循环识别这一张图。显存稳定在6G多一点。内存不断在增加，大概20分钟以后，内存占满，程序挂掉。
还请帮忙解答一下是什么原因，是跟调用方式有关吗？

示例代码如下：
`ocr_engine: paddleocr.PaddleOCR = None
ocr_engine = paddleocr.PaddleOCR()

img = cv.imread('./out.jpg', 1)

while True:
results = ocr_engine.ocr(img)
texts = list(map(lambda x: x[1][

[2020-12-25 14:22] Meiyim opened #29920 "梯度累计功能在`paddle.DataParallel`下表现不正确。"
#28429 中实现了梯度累计，在单卡情况下表现符合预期。
然而与`paddle.DataParallle` 联合使用时梯度表现不正确。预期行为是grad先进行卡间reduce后，累计到param.grad上

单卡测试代码
[code]
单卡测试输出
[code]

多卡测试代码
[code]
多卡测试输出(每个进程输出均相等):
[code]
预期输出： 考虑到每次输入的x值在多卡间一致，且模型并没有没更新，应该多卡reduce后的grad与单卡结果保持一致。

p.s. torch测试代码：
[code]

torch测试输出
[code]

[2020-12-26 02:16] lipan6461188 opened #29922 "训练模型时，如果后面一层的梯度为0，则前一层的梯度就变成了nan"
PaddlePaddle版本：2.0.0-rc1
GPU: NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2    CUDNN: 7.4
系统：Linux ubuntu 4.4.0-131-generic #157-Ubuntu SMP Thu Jul 12 15:51:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
训练：单机单卡

这是我的残差层的定义：
[code]

因为这个层的输入和输出的维度是一样的，我在实际使用中把多个残差层串在了一起：
[code]
**问题**：在训练的过程中，我发现只要后面的一层梯度变成了0，前面一层的梯度就会变成nan。下面的代码输出后面一层的参数梯度：
[code]
输出为：
[code]
可以看到很多参数梯度是0。下面

[2020-12-27 14:52] duanyaohui commented on #29847
您好，目前并没有使用fleetx数据下载功能，检查了下60001端口未被占用，是要在执行训练的代码里检查吗？

[2020-12-27 15:22] #29749 closed, assigned to sandyhouse

[2020-12-28 01:23] GeorgeBohw opened #29935 "convert paddle to c++ occurs error ” Tensor holds the wrong type, it holds float, but desires to be int64_t“"
os environment：
ubuntu18.04 with gpu 10.0，cudnn 7
paddle2.0

operation：
when convert paddle ocr_attention to ++,whcih occurs error as following:

**error:**
--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, in

[2020-12-28 02:13] dingjiaweiww commented on #26047
请问您指的是哪个数据集加载的API 呢？2.0rc1 版本我们所有内置数据集都有相应的API，目录在paddle.vision.datasets 下面，您可以在官网文档中查询到：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/vision/datasets/cifar/Cifar10_cn.html。数据集增强API 在paddle.vision.transforms 下面，https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/vision/transforms/functional/adjust_brightness_cn.html

[2020-12-28 02:55] gongweibao commented on #29847
这段日志是不是卡2的？怀疑卡2的进程是不是已经退出了。
[code]

能否看看60001这个端口已经打开？是被卡2的进程打开的？

[2020-12-28 03:00] dingjiaweiww commented on #24968
1）dataloader 在1.8 和2.0 的设计有区别，1.8 中的参数是use_multiprocess 是c++端的多线程。2.0 中的参数是num_workers，是python 端的多进程，之所以用多进程，就是因为多线程在python中由于全局锁存在，多线程是无法并行工作的
2）2.0 中单进程读数据也只有单线程在读数据
3）num_worker=2报错可能是由于共享内存不够，可以关闭这个use_share_momery试试

[2020-12-28 04:03] willthefrog commented on #29920
@zhouwei25 能否看下这个问题？

[2020-12-28 04:42] siyangbing opened #29944 "当我运行服务器端代码时候 显示No such file or directory: 'data/librispeech/mean_std.npz'，我不知道去哪里下载"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2020-12-28 04:43] siyangbing commented on #29944
what should i do

[2020-12-28 04:52] lipan6461188 commented on #29922
我仔细研究发现上面的问题是不成立的，我再训练的时候之所以会出现nan是因为我的模型顺序是 `FC->Activation->Dropout->BatchNorm`，我改成`FC->BatchNorm->Activation->Dropout`以后就没有问题了。

[2020-12-28 04:52] #29922 closed, assigned to nobody

[2020-12-28 05:31] zhwesky2010 commented on #29920
@Meiyim I will fix this problem with @ForFishes , thank you for asking.

[2020-12-28 05:50] wangchaochaohu commented on #29908
尝试下gcc 8.2版本 能不能编译通过

[2020-12-28 06:44] liguoyu666 opened #29951 "paddle2.0和pytorch在计算mean时输出的形状不同"
`import torch

a = torch.rand([8,3,128,128])
b = a.mean()
print(b.shape)   # torch.Size([ ])`

`import paddle

c = paddle.rand([8,3,128,128])
d = c.mean()
print(d.shape)   # [1]`

paddle输出的shape为[1]，要用哪个api才能达到pytorch输出的shape [ ]

[2020-12-28 07:07] littletomatodonkey commented on #25948
也可以拉取下最新代码再测试下

[2020-12-28 07:21] willthefrog commented on #29944
运行的语音模型？是parakit吗？建议到相关repo提issue，方便跟进

[2020-12-28 07:22] willthefrog commented on #29935
建议提到paddleocr的repo，方便相关同学后续跟进。

[2020-12-28 07:23] willthefrog commented on #29951
目前paddle还不支持scalar tensor，后续版本可能会改进。

[2020-12-28 07:28] liguoyu666 commented on #29951
那shape为[1]，有啥方法可以变为[ ] 而值不变吗？还是说现版本shape没法变为[ ]

[2020-12-28 07:39] willthefrog commented on #29951
目前应该是不支持[]

[2020-12-28 07:41] liguoyu666 commented on #29951
好的，谢谢

[2020-12-28 07:41] #29951 closed, assigned to willthefrog

[2020-12-28 08:44] wangchaochaohu commented on #29919
这里是使用PaddleOCR得接口代码吗？
@MissPenguin 能帮忙看下这个问题吗？

[2020-12-28 09:24] starsblinking opened #29959 "ImportError: libssl.so.1.1: cannot open shared object file: No such file or directory"
2.0rc1能正常装。
刚刚试了下develop版，结果import paddle报错ImportError: libssl.so.1.1: cannot open shared object file: No such file or directory
请问这是develop版才有的问题还是后面的版本都需要1.1以上的openssl？
centos7的集群表示鸭梨山大。。。

[2020-12-28 09:39] LDOUBLEV commented on #29919
To: https://github.com/PaddlePaddle/PaddleOCR/issues/1581

[2020-12-28 09:56] willthefrog commented on #29959
应该不是必须的，只是编包的环境里装了，所以链的openssl 1.1的so，如果实在不能满足可以尝试源码编译。

[2020-12-28 09:57] willthefrog commented on #29959
而且这个估计也不是paddle的直接依赖

[2020-12-28 10:53] starsblinking commented on #29959
看来，目前只能是跑develop版的时候手动在机器上装一下openssl。。。如果你们没法改nightly build的环境话

[2020-12-28 10:58] willthefrog commented on #29959
嗯，这样也是可以的。

[2020-12-28 13:04] starsblinking commented on #29959
发现在我的centos 6u3的开发机上还是不行。。。。。。
ldd python3.8/site-packages/paddle/fluid/core_avx.so 会发现还需要GLIBC_2.17、GLIBCXX_3.4.19、CXXABI_1.3.7等等。。。。。。

[2020-12-28 13:09] willthefrog commented on #29959
建议还是自己编译，官方包可能已经迁移gcc8了

[2020-12-28 14:07] #25143 closed, assigned to nobody

[2020-12-28 14:58] rillzhang commented on #29919
收到，谢谢

[2020-12-28 14:59] duanyaohui commented on #29847
您发的那个是之前的log文件，请看我最新的那个，我用的是动态图版本的代码，我看分布式用的是paddle.distributed，并不是fleet，会不会是这个的问题啊？

[2020-12-28 15:23] starsblinking commented on #29959
多谢。更新换代到gcc8也是好事，可惜厂内多数机器的系统实在太老了。

经过一晚上的折腾，我成功在cenos6上升级了GLIBC和GLIBCXX（谨慎模仿，系统可能直接报废导致需要重装)，已经可以正常运行用pip安装的develop版了～
后面再有问题的话，我就自己编译吧

[2020-12-28 17:19] Kevinlsy commented on #26836
我也遇到这个问题了，麻烦问下，解决的方法

[2020-12-29 00:57] xialei2821212670 commented on #29868
你好，
![image](https://user-images.githubusercontent.com/57654726/103251498-d36c5d00-49b3-11eb-85bb-5380815db712.png)
是这？

[2020-12-29 02:00] xialei2821212670 commented on #29868
![image](https://user-images.githubusercontent.com/57654726/103253531-95276b80-49bc-11eb-899b-95d4fe223778.png)
.是这样操作？

[2020-12-29 02:07] sandyhouse commented on #29847
是的，在训练过程中检查，而不是退出训练后检查。

[2020-12-29 02:30] starsblinking commented on #28356
把init_worker放在exe.run(fluid.default_startup_program())的后面而不是前面

[2020-12-29 02:37] #29959 closed, assigned to willthefrog

[2020-12-29 02:53] smartfridgeIoT opened #29976 "新版本2.0rc1安装cuda11.0出现兼容性问题"
新版本2.0rc1安装cuda11.0出现兼容性问题，
成功安装
python -m pip install paddlepaddle-gpu==2.0.0rc1.post110 -f https://paddlepaddle.org.cn/whl/stable.html
显示如下，（显然没有正确找到cudnn64_8.dll,多次确认cuda和cudnn正确安装。pytorch安装正常。

 Suggestions:
1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is installed correctly and its version is matched with paddlepaddle you installed.
2.  2. Configure third-party dynamic libra

[2020-12-29 03:26] christianahui opened #29978 "paddle-gpu无法检测到GPU卡"
运行fluid.CUDAPlace(0)提示无法找到GPU，运行f.install_check.run_check()也没有cuda的信息（我不需要安装多卡可运行的paddle，只要能在单卡上运行就行）
![image](https://user-images.githubusercontent.com/15339499/103256451-53042700-49c8-11eb-9ab9-c4ef72873ad0.png)
cuda和cudnn版本如下，运行nvidia-smi也能查看到机器上的8个卡：
![image](https://user-images.githubusercontent.com/15339499/103256498-77600380-49c8-11eb-978d-297c99529253.png)
辛苦帮忙查看，多谢！

[2020-12-29 03:55] hong19860320 commented on #29870
@lwbmowgli 用这种方法能解决吗？

[2020-12-29 04:03] lwbmowgli commented on #29870
我没有再使用这个API定义模型，换了其他的定义方式，没有尝试您的方法

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "hong19860320"<notifications@github.com&gt;;
发送时间: 2020年12月29日(星期二) 中午11:56
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "东北偏北"<1198272781@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] Paddlerc1混合精度训练失败 (#29870)

看起来是动态图flatten_contiguous_range这个算子ker

[2020-12-29 04:14] hong19860320 commented on #29870
好的，实在抱歉，内部的卡片还会保留，直到flatten_contiguous_range支持fp16的问题修复为止。

[2020-12-29 05:26] duanyaohui commented on #29847
但是每次训练我看端口号都会改变啊，这个如何固定呢？还是设置一个范围，自己去扫那样？

[2020-12-29 05:57] gongweibao commented on #29847
嗯。每次都是寻找的没有被其他的程序占用的端口。每次都是同样的问题？

[2020-12-29 06:24] huochf opened #29985 "官网中Conv2D的API参数删去了num_channels？？？？"
我刚才看到官网Conv2D参数发生了变化，

class paddle.fluid.dygraph.Conv2D(name_scope, num_filters, filter_size, stride=1, padding=0, dilation=1, groups=None, param_attr=None, bias_attr=None, use_cudnn=True, act=None, dtype='float32')[源代码]

我想确认一下，动态图中的Conv2D是不是也像静态图中不需要显式定义输入通道了？？？？

[2020-12-29 06:32] duanyaohui commented on #29847
是啊，每次都是报OSError: [Errno 98] Address already in use

[2020-12-29 06:33] duanyaohui commented on #29847
目前是在浪潮的AIStation下运行的 会不会和这个有关系？

[2020-12-29 06:47] LielinJiang commented on #29985
您这个文档应该是很早之前的了，最新的文档动态图还是需要显式定义通道数的

[2020-12-29 06:48] huochf commented on #29985
好的好的

[2020-12-29 06:48] #29985 closed, assigned to LielinJiang

[2020-12-29 06:52] acelib02 commented on #29847
如果涉及到开发环境的端口配置，现在AIStation的开发环境-更多配置里可以映射端口，但会随机进行映射。

是否paddle需要将端口进行固定映射，不能进行更改？

----- 原始邮件 -----
发件人：Yaohui Duan <notifications@github.com>
收件人：PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送人：acelib02 <libaoran_89@sina.com>,  Comment <comment@noreply.github.com>
主题：Re:_[PaddlePaddle/Paddle]_cuda11上多卡训练报错_(#29847)
日期：2020年12月29日 14点33分

目前是在浪潮的AIStation下运行的 会不会和这个有关系？

—
You are receiving t

[2020-12-29 07:01] zhwesky2010 commented on #29976
@smartfridgeIoT 您好，请问cudnn拷贝到了CUDA的安装路径了吗？比如C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.0中，还有CUDA的安装路径已经设置在环境变量了吗？这个问题应该是安装了 但是系统没有找到正确的路径加载成功

[2020-12-29 07:10] zhwesky2010 commented on #29976
@smartfridgeIoT 可以把cudnn64_8.dll直接拷出来看下

[2020-12-29 08:21] Nagisakurumi opened #29990 "编译最新的release/2.0的时候 一直提示我各种包的路径，并且卡在protobuf版本 提示"
![image](https://user-images.githubusercontent.com/18586645/103269844-9c1ca100-49f1-11eb-83d9-62b7656abc9d.png)
这个是我目前因为写各种包然后cmake的参数变得特别多
CMake Error at cmake/external/python.cmake:74 (MESSAGE):
  Found Python Protobuf < 3.0.0, please use pip to upgrade protobuf.  pip
  install -U protobuf
Call Stack (most recent call first):
  cmake/third_party.cmake:236 (include)
  CMakeLists.txt:221 (include)

[2020-12-29 08:37] Nagisakurumi commented on #29990
cmake .. -DPY_VERSION=3.6 -DPY_PIP=/root/anaconda3/envs/ocr/bin -DPYTHON_EXECUTABLE:FILEPATH=/root/anaconda3/envs/ocr/bin -DPYTHON_INCLUDE_DIR:PATH=/root/anaconda3/envs/ocr/include -DPYTHON_LIBRARY:FILEPATH=/root/anaconda3/lib/libpython3.so -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DPY_NUMPY=/root/anaconda3/envs/ocr/lib/python3.6/site-packages/numpy -DPY_WHEEL=/root/anaconda3/en

[2020-12-29 12:15] AshburnLee opened #30005 "python导入paddle 自己的模块出错"
- 问题
  于2020年12月29日，使用paddle develop分支编包，当 import 如下模块时，出错：

  ![截屏2020-12-29 20 07 15](https://user-images.githubusercontent.com/18277990/103282667-743d3580-4a11-11eb-81f0-49c31aa61f4c.png)

  paddle 的 commit ID 为: a1d9a14e89f6ae6734f6be47b539327868a7ef91。当 checkout 到之前 commit 后不再出错。

- 版本、环境信息：
  paddle develop 分支，commit ID 如上，GPU 版本，V100，cuda11，cudnn8，Linux version 3.10.0_3-0-0-34。python3.7
- 复

[2020-12-30 01:51] smartfridgeIoT commented on #29976
显然是rc1版在瘟都死系统下的兼容问题。
1、使用cuda10.2+cuDNN7.6.5 for Cuda10.2, 没有问题。贪新版本就换了cuda11.0+cuDNN8.0 就搞成这呀子了。没试验在linux下的状况，应该阔以的。
2. 同样的环境，tensorflow-gpu 2.4.0 OK，我的算力3.0，老牛了，所以tensorflow不启动，他要3.5，那么我不用就好。
3. 使用pytorch，

True
4.   C:\Users\north>nvidia-smi
+-----------------------------------------------------------------------------+
 | NVIDIA-SMI 451.48       Driver Version: 451.48       CUDA Version: 11.0

[2020-12-30 02:27] Nagisakurumi opened #30012 "编译release2.0 不过 卡在 UINT64_MAX not found"
daErrorMessage.tar.gz
-- Looking for UINT64_MAX
-- Looking for UINT64_MAX - not found
-- Looking for UINT64_MAX
-- Looking for UINT64_MAX - not found
CMake Error at cmake/flags.cmake:102 (message):
  Cannot find symbol UINT64_MAX
Call Stack (most recent call first):
  CMakeLists.txt:233 (include)

[2020-12-30 03:10] starsblinking opened #30018 "develop版fleet.save_persistables会卡住"
develop版调用fleet.save_persistables()的时候会卡住，请问这是因为feature还没开发完导致的预期内的暂时现象吗？辛苦确认下

版本：python -m pip install paddlepaddle==0.0.0 -f https://paddlepaddle.org.cn/whl/stable.html
api：paddle.distributed.fleet.save_persistables(exe, dir_name, paddle.static.default_main_program())

貌似没看到相关的unittest

[2020-12-30 05:01] zhiqiu commented on #30012
请问下您的编译环境和编译选项是？

[2020-12-30 06:31] Nagisakurumi commented on #30012
编译环境 是 anaconda 下的虚拟环境 python3.6 编译选项 cmake .. -DPY_VERSION=3.6 -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release

[2020-12-30 06:31] Nagisakurumi commented on #30012
系统是centeros

[2020-12-30 06:38] starsblinking commented on #30018
CPU+PS模式。2.0rc1下不会卡住(但2.0rc0 rc1下都有其他的bug，所以我想试试develop版)

[2020-12-30 07:36] buaabai opened #30021 "Op Fusion Pattern Matcher算法详细文档"
### 文档问题描述：

#### 是否有详细文档说明graph_pattern_matcher的算法细节，包括HitGroup的作用，bi_record的作用等？

### Describe the problem：

#### Is there more detail docs about algorithms in graph_pattern_matcher, such as the role of HitGroup, bi_record, etc?

[2020-12-30 07:55] liguoyu666 commented on #19704
同求，2.0rc还没有einsum

[2020-12-30 08:46] YeFeiyangx commented on #29760
文件没有问题哈，我搬到了linux上，就可以了。

[2020-12-30 09:25] starsblinking commented on #30018
多谢malin和tangwei！确认是dev版里保存的耗时上升比较多，以及保存的格式变了，导致后面程序load报错、使我误以为save函数hang住/出错了。

[2020-12-30 09:25] #30018 closed, assigned to zhiqiu

[2020-12-30 10:34] TianCaibailei opened #30026 "2.0 develop成功编译预测库（paddle_fluid.dll），但是使用时会报错：无法定位程序输入点dnnl_post_ops_append_sum_v2于动态链接库paddle_fluid.dll"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0 develop
    2）CPU：I7 10750H MKL=On
    3）GPU：GTX1660Ti、CUDA 10.0 和CUDNN 7.6
    4）系统环境：Windows 10
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
-预测信息

[2020-12-30 12:54] skywalk163 opened #30029 "飞桨2.0.0RC1 高层API例程报错"
在AIStudio项目版本升级到2.0.0RC1后，发现原来2.0.0.RC0下运行正常的程序报错，到手册找到rc1版本的高层api例程，同样报错。

AIStudio项目版本升级应该是内部升的，现在不管是以前创建的2.0环境，还是新创建项目选择2.0，进入之后都是RC1版本。

高层api例程地址：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/guides/01_paddle2.0_introduction/upgrade_guide_cn.html#id12

项目地址：https://aistudio.baidu.com/aistudio/projectdetail/1222066

报错如下：

`/opt/conda/envs/python35-paddle120-env/lib/python3.7/s

[2020-12-30 12:56] lxh4217976 opened #30030 "AdamOptimizer优化器导致loss出现NAN"
用的是AI studio的V100环境，网络训练优化器选择AdamOptimizer时，交叉熵loss出现NAN，采用SGDOptimizer无此错误。

[2020-12-31 00:45] LielinJiang commented on #29990
[code]
这是我的cmake选项，可以正常编译的。你的似乎和我有些不同，可以参考下。

[2020-12-31 00:51] LielinJiang commented on #30005
可以使用hardsigmoid.
具体请参考这个pr：https://github.com/PaddlePaddle/Paddle/pull/29928

[2020-12-31 00:54] LielinJiang commented on #29978
内部沟通解决，似乎是gcc版本的问题

[2020-12-31 01:14] skywalk163 commented on #30029
仔细看了一下文档，发现RC1和RC0 的paddle.vision.datasets.MNIST返回 有不同的地方
RC0 返回的是tensor，RC1默认返回的是PIL.Image.Image，因此RC1 需要多加一句，并在返回函数里多加一个参数“transform=ToTensor()”

如：

from paddle.vision.transforms import ToTensor
train_dataset = paddle.vision.datasets.MNIST(mode='train', transform=ToTensor())

个人认为这样比原来代码繁琐了很多，而且会导致以前写的涉及到vision高层API的代码统统会报错 ，建议将 transform=ToTensor() 设置为默认 。

[2020-12-31 01:39] Nagisakurumi commented on #29990
我试了一下 我用acanconda 创建了3.7的虚拟环境 然后使用 上面的 参数 路径改成自己的 但是还是报 一样的错误，我的cuda是11.0 还有cudnn是8.0.3

[2020-12-31 02:52] zhiqiu commented on #30030
hi，能提供下模型代码吗？

[2020-12-31 02:56] zhiqiu commented on #30029
多谢反馈，我找相关同学一起看下这个问题。

[2020-12-31 03:04] skywalk163 commented on #30029
按照上面写的修改代码后，能跑通，但是gpu下速度跟cpu一样快甚至更慢 。

我这个项目里专门有同步/异步时间比较的代码：https://aistudio.baidu.com/aistudio/projectdetail/196937

运行项目根目录文件：python paddlemem.py sync
以前是3秒左右，现在是27秒左右 。

[2020-12-31 03:11] AshburnLee commented on #30005
没问题了，多谢解答

[2020-12-31 03:20] Superjomn commented on #30021
你好，这个主要是内部的一个接口，所以没有文档。

原理很naive，我们没有用啥高端的或者学术的标准算法，只是 greedy 的匹配，但由于计算图规模基本就 千 左右，所以没有明显的性能问题。

大的原理是，手动构造一个 pattern 的子图，然后用这个子图去model的计算图里做匹配，具体地

- 先匹配每个pattern 节点
- 通过pattern节点互相的连接进一步做筛选，以及分组（类似 union find）
- 最后将识别好的子图 s 返回

[2020-12-31 03:27] Meiyim commented on #29794
any update?

[2020-12-31 03:52] mervyn81 opened #30039 "Paddle-Inference的golangDemo错误"
严格按照文档教程一步步操作, 在windows和Ubuntu中都无法运行.

_/root/go_projects/PaddleInference/paddle
../paddle/common.go:20:11: fatal error: paddle_c_api.h: No such file or directory
// #include <paddle_c_api.h>
^~~~~~~~~~~~~~~~
compilation terminated.

[2020-12-31 05:00] shangzhizhou commented on #30039
请提供完整的代码工程，方便复现问题，谢谢。

[2020-12-31 05:07] qili93 commented on #30039
@mervyn81
Golang demo的文档和代码都有所更新，请参照最新的中文文档
https://paddle-inference.readthedocs.io/en/latest/quick_start/go_demo.html

其中`paddle_c_api.h` 位于预测库文件夹中的这个位置，

![image](https://user-images.githubusercontent.com/16605440/103395383-e7a58b00-4b68-11eb-91a0-797c1c1ee852.png)

![image](https://user-images.githubusercontent.com/16605440/103395419-086de080-4b69-11eb-937f-60801191e570.png)

[2020-12-31 05:21] buaabai commented on #30021
通过再次研读代码有了进一步的理解，非常感谢您的回答。

[2020-12-31 06:29] mervyn81 commented on #30039
@qili93

对不起, 图片我看不到, 但是我已经按照文档那两个步骤:
1.将本章节 第1步 中的 paddle_inference_c_install_dir 移到到 Paddle/go 目录下，并将 paddle_inference_c_install_dir 重命名为 paddle_c
2.本章节 第2步 中下载的模型和数据文件夹 data 移动到 Paddle/go 目录下

包括 : export LD_LIBRARY_PATH=`pwd`/paddle_c/paddle/lib:$LD_LIBRARY_PATH
这是windows上的错误信息:

GOROOT=C:\Go #gosetup
GOPATH=C:\Users\Administrator\go #gosetup
C:\Go\bin\go.exe build -o C:\Users\Administrator\Ap

[2020-12-31 06:29] zhiqiu commented on #30012
paddle代码拉的是哪个分支？

[2020-12-31 06:34] Nagisakurumi commented on #30012
release/2.0

[2020-12-31 06:50] sandyhouse commented on #29847
可以试试最新develop分支代码，已经解决了这个问题。

[2020-12-31 06:51] cklient opened #30043 "如何查看网络结构"
怎样可视化查看网络结构

[2020-12-31 08:20] xxxpsyduck commented on #29353
@majintao1994 Can you uninstall current paddle-gpu version and try again with 2.0-rc1 version?

[2020-12-31 08:29] SWHL commented on #28393
同问

[2020-12-31 08:43] GaoWei8 commented on #30043
可以参考官网教程：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/tutorial/quick_start/high_level_api/high_level_api.html#id12
或：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/03_VisualDL/visualdl.html

[2020-12-31 08:57] shangzhizhou commented on #28393
请参考上面的img.copy()绕过一下
下一个版本会修复，具体原因可以参考PR https://github.com/PaddlePaddle/Paddle/pull/29616

[2020-12-31 09:01] tianshuo78520a commented on #29908
请问  问题有解决么？

[2020-12-31 09:03] yeyupiaoling opened #30048 "Python如何生成TensorRT的校准表？"
- PaddlePaddle 1.8.5
 - windows 10

我在这个文档上看到将Float32的模型转换成Int8的模型的介绍，请问如何使用Python实现这个生成校准表呢？
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/inference_improving/paddle_tensorrt_infer.html#a-name-paddle-trt-int8-paddle-trt-int8-a

https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/ff8091c4ce87c591a7d89b95fa1e1f47ebcc2a5d/python/paddle_trt/infer_tr

[2020-12-31 09:56] buaabai commented on #30021
还想请问一个关于查找到的子图重复的问题，目前是采用了hash的方法来删除子图，[#13550](https://github.com/PaddlePaddle/Paddle/issues/13550)提到了hash的问题，没办法完全剔除所有重复子图，目前有什么好的解决方案吗？在实际op fusion过程中，是否可以理解为，即使遇到了重复的子图，但已经做了op fusion，重复的子图已经不存在了，就意味着不需要进行fusion操作了，从而一定程度上重复子图并不影响最终的fusion结果。

[2020-12-31 12:08] GreenValue opened #30057 "c++预测API，如何载入VGG预训练好的模型？"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.5
    4）系统环境：nvidia_docker 1.8.5-gpu-cuda10.0-cudnn7
-预测信息
    1）C++预测：
      fluid_inference_c_install_dir# cat version.txt
      GIT COMMIT ID:
      WITH_MKL: OFF
      WITH_MKLDNN: OFF
      WITH_GPU: ON
      CUDA version: 10.0
      CUDNN version: v7.6
      CXX compiler version: 4.8.5
      WITH_TENSORRT: ON
      TensorRT version: v6
    2）CMake包含路径的完整命令

[2020-12-31 12:18] LielinJiang commented on #30029
1.之所以这么做是为了区分图像和tensor的概念，对于大多数的神经网络我们需要的是归一化的后格式为"CHW"浮点数输入，这也是ToTensor做的事情。而图像的格式是HWC，且数值范围为（0-255）。这样的输入会造成大多数任务不能很好的收敛。
2.目前ToTensor和dataloader不太适配，我们正在改进。可以先用transpose+normalize代替

[2020-12-31 12:26] qili93 commented on #30057
@GreenValue VGG19_pretrained文件里面只有训练参数没有模型文件，这个是保存的checkpoint, 不是推理模型，推理模型需要用save_inference_io文件保存下来，你可以参考从这里下载推理模型，是有模型文件的(有VGG16和VGG19)
https://paddle-lite.readthedocs.io/zh/latest/introduction/support_model_list.html

如果你要自己训练模型，那一定需要用这个人API把模型保存下来
https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#save-inference-model

[2020-12-31 13:12] GreenValue commented on #30057
@qili93 感谢。可以加载 VGG19的推理模型。

- 请问如何input一张图片呢？

bool test_map_cnn(int batch_size, int repeat) {
  AnalysisConfig config;
  PrepareTRTConfig(&config, batch_size);
  auto predictor = CreatePaddlePredictor(config);

  int channels = 3;
  int height = 224;
  int width = 224;
  int input_num = channels * height * width * batch_size;

### 我的这个修改对吗？ 修改开始↓
#if 1 // 使用VGG推理模型
  std::string image_data;
  st

[2020-12-31 14:10] Cerdore commented on #29908
不好意思，那个节点宕机了，可能要过几天才能去机房修一下...

[2020-12-31 17:07] DrRyanHuang opened #30058 "nn.LayerList does not support minus index"
Just like this:
https://github.com/PaddlePaddle/Paddle/pull/29930

Two tests did not pass.

[2020-12-31 18:05] duanyaohui commented on #29847
develop分支是哪个？我看只有master，dygraph, release/2.0-rc1和2.0-beta四个分支，是release/2.0-rc1吗？

[2021-01-01 03:32] miemie2013 opened #30059 "请教一个求bn层normX对x的梯度的问题"
有大佬帮忙看看bn层里normX对x的偏导dnormX_dx应该怎么求吗？被卡了很久。
Var1和Var2代表normX分别去掉分母和分子所得的变量。dVar2_dx已被正确求得。可能是我整体求导滥用所导致。

[code]

[2021-01-01 03:34] miemie2013 commented on #30059
大号字体是代码里的注释，一贴上来就变成这样了>_<

[2021-01-01 05:58] miemie2013 commented on #30059
dV_dx错了，应该是dV_dx = np.sum(x - U, axis=(0,), keepdims=True) * -2 / M / M + (x - U) * 2 / M

[2021-01-01 07:49] btobab opened #30060 "paddle1.8.5动态图的GRUUnit"
paddle1.8.5动态图的GRUUnit文档给出的例子不是很详细，还是不太会用，有没有详细一些的讲解丫

[2021-01-01 08:41] gfwm2013 commented on #30058
@DrRyanHuang Your feedback has been repeated. Thank you for your feedback and positive contribution. Your PR will be transferred to the relevant person in charge.

[2021-01-01 09:11] gfwm2013 commented on #30060
@IamDestiny 请问你想要是什么方面的讲解？是关于计算步骤还是其他什么的呢？

[2021-01-01 09:18] btobab commented on #30060
@gfwm2013 是具体使用方面的讲解

[2021-01-01 16:03] znzhou3069 opened #30061 "ubuntu 18.04 cuda11安装paddle时出现问题"
ubuntu 18.04
cuda11

xx@xxx:~$ python -m pip install paddlepaddle-gpu==2.0.0rc1.post110 -f https://paddlepaddle.org.cn/whl/stable.html
Collecting paddlepaddle-gpu==2.0.0rc1.post110
  Could not find a version that satisfies the requirement paddlepaddle-gpu==2.0.0rc1.post110 (from versions: 1.2.0.post85, 1.2.0.post87, 1.2.0.post97, 1.2.1.post85, 1.2.1.post87, 1.2.1.post97, 1.3.0.post85, 1.3.0.post87

[2021-01-02 06:01] raindrops2sea commented on #30061
有没有对照对应的安装说明页排查一下：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/2.0-rc1/install/pip/linux-pip.html   比如是不是python或pip版本问题。

[2021-01-02 06:31] zhwesky2010 commented on #30061
@znzhou3069 您好，-f 指定的whl包查找路径https://paddlepaddle.org.cn/whl/stable.html   没有生效，是pip版本低于20.2.2就没法使用-f正确指定路径，麻烦用 ``python --version`` 和 ``python -m pip --version`` 先看下版本哈，如果低于pip版本低于`20.2.2`，先用 python -m pip install --upgrade pip 升级到下就可以了哈

[2021-01-02 09:00] ceci3 commented on #30059
可以看下公式有没有推对，https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/batch_norm_op.cc#L670 求导公式可以参考下这里

[2021-01-02 09:37] btobab commented on #30060
能写篇博客讲讲吗？

[2021-01-02 12:52] znzhou3069 commented on #30061
确实是pip的问题，已通过更新pip解决。感谢支持。

[2021-01-02 12:55] #30061 closed, assigned to zhwesky2010

[2021-01-03 01:44] lijinhan opened #30062 "2.0.0rc1版本中model.fit()高级API获取张量错误的问题"
在自定义网络中调用model.fit(train_X, epochs=5, batch_size=64, verbose=2)进行训练报错。
The loss value printed in the log is the current step, and the metric is the average value of previous step.
Epoch 1/5
---------------------------------------------------------------------------ValueError                                Traceback (most recent call last)<ipython-input-8-4bac55d8eb25> in <module>
     14 model.pre

[2021-01-03 03:06] jiweibo commented on #30062
看报错好像transpose的输入rank是2，可以检查一下

[2021-01-03 03:13] tianxiehu commented on #26389
所以这个问题最终怎么解决呢？

[2021-01-03 07:46] qdd1234 opened #30063 "关于paddle2.0动态图API"
请问paddle2.0动态图API里面和pytorch里面repeat功能类似的API是什么

[2021-01-03 08:29] jiweibo commented on #30063
可参考expand和expand_as API

https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/tensor/manipulation/expand_as_cn.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/tensor/manipulation/expand_cn.html

[2021-01-03 08:29] jiweibo commented on #30063
可参考expand和expand_as API

https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/tensor/manipulation/expand_as_cn.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/tensor/manipulation/expand_cn.html

[2021-01-03 10:09] githubchange opened #30064 "jetson nano 使用CPU推理,获得结果正确,使用GPU却无法得到正常结果."
#转自：https://github.com/PaddlePaddle/Paddle-Lite/issues/4680
设备:jetson nano
cuda:10.2.89
opencv 4.1.1
trt:7.1.3.0
cudnn:8.0.0.180
设置predictor代码:

             def create_(model, params):

                      config = AnalysisConfig(model, params)  # 解析模型

                      config.enable_use_gpu(memory_pool_init_size_mb=100, device_id=0)

                      config.switch_ir_optim(True)   #

[2021-01-03 11:18] jiweibo commented on #30064
能否提供下模型，我复现下

[2021-01-03 12:04] githubchange commented on #30064
模型已发送请查收。

[2021-01-03 12:20] githubchange commented on #30064
模型已发送请查收。

[2021-01-04 01:07] lmw0320 commented on #29811
@lyj0123 请问下，你的问题解决了没？我在使用模型进行预测的时候，也遇到了相同的问题。。

[2021-01-04 01:33] shangzhizhou commented on #30048
准备好真实业务场景的数据，配置开启TensorRT的时候use_calib_mode设置为true，此时进入统计输入数据，生成校准表的状态，数据输入完毕后，请保证程序正常退出（predictor的析构函数正常调用），即可生成校准表到模型文件目录。下次启动use_calib_mode设置为false，程序便会加载校准表（精度请设置为int8）

[2021-01-04 01:37] yeyupiaoling commented on #30048
@shangzhizhou 关键是这个数据如何输入，能否给一个简单dome看看，

[2021-01-04 01:40] shangzhizhou commented on #30048
您好，和正常的推理过程是一致的，demo可以参考https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B

[2021-01-04 01:50] sandyhouse commented on #29847
develop分支指的是Paddle框架：https://github.com/PaddlePaddle/Paddle

[2021-01-04 02:05] jiangjiajun commented on #30026
请问你这里是出于什么需求需要自行编译预测库呢？直接下载已经编译好的预测库进行编译预测，也存在类似问题吗

[2021-01-04 02:29] gfwm2013 commented on #30060
@IamDestiny 如果是关于使用方面的困惑，可能需要你具体说明一下你的困惑，要不然也很难较为精准的解决你现在遇到的问题

[2021-01-04 02:47] duanyaohui commented on #29847
这个是1.8.5版本的吧？目前1.8.5版本的paddle好像不支持cuda11吧？

[2021-01-04 02:55] yeyupiaoling commented on #30048
@shangzhizhou 好的，解决了。谢谢。

[2021-01-04 02:55] #30048 closed, assigned to GaoWei8

[2021-01-04 03:52] hitomi-black opened #30067 "ubuntu18.04虚拟机make编译错误fatal: unable to access 'https://gitlab.com/libeigen/eigen.git/': gnutls_handshake() failed: Error in the pull function."
按照官网操作：
cmake -DFLUID_INFERENCE_INSTALL_DIR=$PADDLE_ROOT \
      -DCMAKE_BUILD_TYPE=Release \
      -DWITH_FLUID_ONLY=ON \
      -DWITH_SWIG_PY=OFF \
      -DWITH_PYTHON=OFF \
      -DWITH_MKL=OFF \
      -DWITH_GPU=OFF  \
      -DON_INFER=ON \
      ..
make
之后
出现如下错误：
Cloning into 'extern_eigen3'...
fatal: unable to access 'https://gitlab.com/libeigen/eigen.git/': gnutls_handshake() failed: Error

[2021-01-04 04:29] ellinyang commented on #27009
前面是构建模型、加载权重；准备开始训练时就报错

[2021-01-04 05:11] liym27 commented on #30067
报错显示无法访问 https://gitlab.com/libeigen/eigen.git/，该问题本地无法复现。
请问是否在您的机器环境下，是否可以成功使用 git clone https://gitlab.com/libeigen/eigen.git?

[2021-01-04 05:20] hitomi-black commented on #30067
是的，无法访问https开头的，只能访问http开头的，请问如何设置，把make时的clone链接全部换成http格式

[2021-01-04 05:48] gongweibao commented on #29847
cuda11向上兼容。

[2021-01-04 05:54] GreenValue opened #30068 "VGG19推理模型，c++预测API（AnalysisPredictor）预测时，在paddle_inference_sample_v1.7 基础上，如何input一张图片？"
- 版本、环境信息：
   1）PaddlePaddle版本：1.8.5
   2）系统环境：nvidia_docker 1.8.5-gpu-cuda10.0-cudnn7
   3）C++预测库：fluid_inference_c_install_dir# cat version.txt
GIT COMMIT ID:
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: ON
CUDA version: 10.0
CUDNN version: v7.6
CXX compiler version: 4.8.5
WITH_TENSORRT: ON
TensorRT version: v6
   4）推理模型文件：https://paddle-lite.readthedocs.io/zh/latest/introduction/support_model_list.

[2021-01-04 05:56] GreenValue commented on #30057
#30068
我新建了issue，故关闭这个

[2021-01-04 05:56] #30057 closed, assigned to GaoWei8

[2021-01-04 05:58] zhiqiu commented on #30012
请问下centos是哪个版本？另外，建议使用paddle提供的docker镜像编译，因为docker中的环境都配置好了。可参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/install/compile/linux-compile.html

[2021-01-04 06:00] Nagisakurumi commented on #30012
centeros7

[2021-01-04 06:06] zhiqiu commented on #30012
你是按照 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/install/compile/linux-compile.html#span-id-compile-from-host-span 的步骤操作的吗？

[2021-01-04 06:08] iotctech opened #30069 "Paddle2.0如何使用高级API对每个batch预测结果单独做处理？"
## 问题描述
使用高级API预测过程中，需要对每个batch size的结果单独处理后，在拼接到一起，调用`Model. predict()`方法，底层API调用没有问题，想了解下是否可以通过`Callback`来实现每个batch数据单独处理。

在`on_predict_batch_end()`回调如何获取每个batch预测的result？

另外，使用如下代码测试，推理感觉还是一张一张图片单独预测的，感觉速度非常慢，是什么原因呢？
[code]

[2021-01-04 06:08] Nagisakurumi commented on #30012
我是根据 1.8的版本下的centeros 编译教程来的

[2021-01-04 06:09] hdyzhuxun opened #30070 "padddle1.8.5 无法查找到包是什么问题啊？"
安装的CPU版本的padddle1.8.5    仅仅一个 import paddle.fluid   报错
    module = self._system_import(name, *args, **kwargs)
ModuleNotFoundError: No module named 'paddle.fluid'; 'paddle' is not a package

[2021-01-04 06:12] zhiqiu commented on #30012
建议你用docker试试，因为这个报错看起来和paddle代码好像关系不大，是cmake阶段检测环境的报错。

[2021-01-04 06:15] Nagisakurumi commented on #30012
那好吧
我再去尝试一下

[2021-01-04 06:22] liym27 commented on #30067
建议优先配置机器环境，支持访问https。
如果想替换https，可以直接将 cmake 文件中的 https 替换即可。
如，https://gitlab.com/libeigen/eigen.git 的替换位置在这里：https://github.com/PaddlePaddle/Paddle/blob/develop/cmake/external/eigen.cmake#L20

[2021-01-04 06:38] liym27 commented on #30069
能够提供下更详细的使用场景，以及复现代码？

这个需要麻烦您提供下您测试的速度数据

[2021-01-04 06:47] liym27 commented on #30068
您好，请问您修改的文件来源是哪里的呢？
下载链接来自哪里？

[2021-01-04 06:49] GreenValue commented on #30068
预测示实例
下载：https://paddle-inference-dist.bj.bcebos.com/tensorrt_test/paddle_inference_sample_v1.7.tar.gz
解压后：在paddle_inference_sample_v1.7\sample\inference\mobilenet_test.cc中的test_map_cnn函数

[2021-01-04 07:08] liym27 commented on #30070
您好，麻烦提供下安装环境以及安装指令，谢谢

[2021-01-04 07:26] iotctech commented on #30069
使用场景是测试数据，通过Model.predict接口，分batch送入，每个batch返回的结果需要单独处理一下，去除不需要的数据，存入list，想要通过Callback方式实现，能否在Callback中获取到每个batch返回的预测结果数据？

[2021-01-04 07:59] liuyiding1993 opened #30080 "dygraph模式下，手动更新模型后，梯度无法正确计算"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.5
    2）CPU： Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
    3）GPU： CUDA 9.0;  CUDNN: 7.0;  NVIDIA Tesla K40m
    4）系统环境：Python-2.7.8; 系统：3.10.0_3-0-0-7 #207 SMP Wed Jul 26 13:22:55 CST 2017 x86_64 x86_64 x86_64 GNU/Linux

demo代码：
[code]
报错：
Traceback (most recent call last):
  File "dygraph_demo.py", line 33, in <module>
    g = fluid.dygraph.grad(loss, vnet.para

[2021-01-04 08:15] Talon330 commented on #29014
同样遇到dataset中含有transforms就会出现上述报错，暂时只能设置num_workers=0来解决，请问您是如何解决这个问题的呢？

[2021-01-04 08:22] liym27 commented on #30080
从你的模型代码来看，loss 与 vnet没关系。

demo的核心部分：
[code]

[2021-01-04 08:28] liuyiding1993 commented on #30080
感谢回复。您copy出来的demo核心部分没有包括model更新这一步：
[code]
model更新时的梯度是和vnet有关的，所以更新之后的model也和vnet有关，从而计算出来的loss应该也是和vnet有关的。

这个模型有人用pytorch实现过，原理是没问题的，可以参考以下代码的196-227行，我的demo是基于这个原理实现的。
https://github.com/xjtushujun/meta-weight-net/blob/bd1fd3e297c59df7c5264fb636c67d8ee03bcf0d/MW-Net.py#L79

[2021-01-04 08:36] LielinJiang commented on #29990
protobuf 是否也安装在了相应的虚拟环境中？实在不行，建议您还是使用下paddle 的docker：https://hub.docker.com/r/paddlepaddle/paddle

[2021-01-04 08:40] luotao1 commented on #29709
- Res2Net50_26w_4s 和 DPN68 ，网络结构相同，但 conv2d 性能差异较大，是因为动态图得到的模型参数中包含更多的 denormal float value（异常值，如 8.04432e-21），即非常接近于0的值。cpu在计算包含这些denormal value时，性能相比 normal value 会下降 100x 倍。#29924  xiaowei 已修复
- VGG和AlexNet：2.0 的 matmul 和 1.8 的 mul 性能有差异。将matmul映射到mul后支持融合，可以起到一定加速。#29911 @juncaipeng 已修复

[2021-01-04 08:40] #29709 closed, assigned to lidanqing-vv

[2021-01-04 08:41] luotao1 commented on #29709
复测结果 @JiaXiao243
![图片](https://user-images.githubusercontent.com/6836917/103516534-b0f2ac00-4eab-11eb-991c-a57a6d98b64c.png)

[2021-01-04 08:43] liym27 commented on #30068
因为该问题需要找到负责该样例的同事，所以麻烦问下 下载链接在哪里看到的呢？

[2021-01-04 08:43] duanyaohui commented on #29847
我之前在cuda11上用过1.8.5版本的 一直报错 后来换成2.0.0就好了

[2021-01-04 08:45] GreenValue commented on #30068
官网：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/native_infer.html#C++%E9%A2%84%E6%B5%8B%E6%A0%B7%E4%BE%8B%E7%BC%96%E8%AF%91%E6%B5%8B%E8%AF%95
![image](https://user-images.githubusercontent.com/16701660/103516894-3aa27980-4eac-11eb-86f4-ecb767b6bcd5.png)

[2021-01-04 08:49] hdyzhuxun commented on #30070
我已解决。谢谢啦

[2021-01-04 08:49] #30070 closed, assigned to liym27

[2021-01-04 08:50] zzchust opened #30082 "gridsample不支持高分辨率图采样产出低分辨率图"
PaddlePaddle版本：1.8.0
gridsample官方过说明： https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/grid_sampler_cn.html#grid-sampler

实际使用问题：
![image](https://user-images.githubusercontent.com/6135871/103516787-0d55cb80-4eac-11eb-97d8-177b0d48dfef.png)
**X的shape为：(-1L, 3L, 400L, 400L)， grid的shape为：(-1L, 224L, 224L, 2L)，X为高分辨率图， grid为sample的网格点（降采样），因X与grid的维度不一致，paddle报错。**

对标pytorch的gr

[2021-01-04 09:02] liym27 commented on #30068
好的，已反馈给相关同学。

[2021-01-04 09:12] LielinJiang commented on #30082
这个问题应该已经解决，可以尝试一下2.0版本

[2021-01-04 09:13] juncaipeng commented on #30068
按照你提供的代码，只需要保证输入predictor tensor的指针是指向float类型的图像数据，具体图像数据的格式和数据类型，你需要自己考虑清楚。

这里有更多例子：https://paddle-inference.readthedocs.io/en/latest/#

[2021-01-04 09:15] zzchust commented on #30082
2.0 版本是动态图版本吧？ 是否支持上线呢？或者是否支持使用静态图中使用该op呢

[2021-01-04 09:43] wojtuss commented on #27330
The PR [#28420](https://github.com/PaddlePaddle/Paddle/pull/28420) is merged so the support for INT8 quantization of the GRU model is done.

[2021-01-04 09:43] #27330 closed, assigned to wojtuss

[2021-01-04 09:46] zhiqiu commented on #30012
嗯嗯好的，有进展或问题随时反馈。

[2021-01-04 09:48] #30043 closed, assigned to GaoWei8

[2021-01-04 10:06] Superjomn commented on #30021
对，可以这么认为。
具体的fuse过程是串行处理每个子图，所以执行中没有进一步发现问题。
另外，可以子图节点排个序再计算hash key，应该能解决这个问题

[2021-01-04 10:15] TCChenlong commented on #29793
感谢反馈 已修复 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/vision/datasets/cifar/Cifar10_cn.html~

[2021-01-04 10:15] #29793 closed, assigned to ysh329, TCChenlong

[2021-01-04 10:45] GreenValue commented on #30068
float类型的图像数据？是什么意思？
譬如jpg图片，float类型的图片数据如何获取？
直接把jpg图片的内容读到内存中，然后内存强制转换为float类型，这似乎不合适吧？
请指导一下。
这里面也没有读取图片的列子https://paddle-inference.readthedocs.io/en/latest/#

[2021-01-04 10:47] GreenValue commented on #30057
@qili93
这里下载推理模型，可以用paddle Hub来加载，进行预测吗？若可以，如何操作？
https://paddle-lite.readthedocs.io/zh/latest/introduction/support_model_list.html

[2021-01-04 10:55] GreenValue commented on #30068
float类型的图片数据如何获取？
给个样列代码，就好了。

[2021-01-04 10:55] HawChang opened #30088 "1.8动态图gru模型在py2正常运行，在py3下卡住"
- 版本、环境信息：
    1）python环境有两个：

        2.7.15、3.7.9
    2）系统环境不变

        - Paddle version: 1.8.1
        - Paddle With CUDA: True
        - OS: CentOS 6.3
        - CUDA version: 10.2.89
        - cuDNN version: None.None.None
        - Nvidia driver version: 440.33.01
        - GPU：Tesla P40

- 训练信息

    单机，单卡

- 复现信息

    复现代码在[这里](https://github.com/HawChang/text_utils/tree/master/text_utils_v

[2021-01-04 10:57] juncaipeng opened #30089 "MKLDNN Errror：the outputs is wrong when batch_size is larger than 1"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that th
If there is no solution,please make sure that this is an inference issue including the following details :
**System information**
-PaddlePaddle version （eg.1.1）or CommitID ：
-CPU: MKLDNN
-GPU: None
-OS Platform: ubuntu 16.04
-Python version: 3.7
-Cmake orders
-C++version.tx

[2021-01-04 11:11] liym27 commented on #30088
麻烦确认下python3 下，logging.info("train model start") 之后，具体卡在哪一步呢？

[2021-01-04 11:24] HawChang commented on #30088
卡在了199行backward：
![image](https://user-images.githubusercontent.com/7113823/103530412-59ac0600-4ec2-11eb-881c-7e250bcbdb9a.png)

[2021-01-04 11:47] buaabai commented on #30021
非常感谢您的回答！

[2021-01-04 11:47] #30021 closed, assigned to Superjomn, zhiqiu

[2021-01-04 12:35] zhwesky2010 commented on #29868
@xialei2821212670 您好，原生python安装也会出现这个问题吗，可能是anaconda与原生的python3.8的加载逻辑不同，能否看下不用anaconda的情况呢

[2021-01-04 12:36] liym27 commented on #30088
好的，经沟通，梳理当前的问题：

model 1 对应 参数 w1; model 2 参数 w2
loss_a 由 model1 model2 共同计算的结果，即 loss_a 与 w1 w2 均有关
loss_b 仅与 model1 有关，即 loss_b 与 w1 有关

step 1: 计算出 loss_a 但 仅更新 w1 (未更新w2)
step 2: 然后，计算loss_b 「期望」更新 w2

当前无法 更新w2，是因为 loss_b 与 w2 无关。
期望：能更新 w2，因为 step_1 与 w2 相关（因为step1 更新 w1 时，用到了 w2 的值，即 w1与w2相关。
而 loss_b 与 w1 相关，也期望 loss_b 与 w2相关）

[2021-01-04 12:38] RenyanDiao opened #30091 "faster-rcnn预测报错： [Hint: Expected begin_idx < end_idx, but received begin_idx:0 >= end_idx:0.] at (/home/teamcity/work/ef54dc8a5b211854/paddle/fluid/framework/tensor.cc:83) [operator < distribute_fpn_proposals > error]"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-01-04 12:39] RenyanDiao commented on #30091
![image](https://user-images.githubusercontent.com/52916011/103536111-dd6af000-4ecc-11eb-9800-e18750c4ad36.png)
![image](https://user-images.githubusercontent.com/52916011/103536151-f1165680-4ecc-11eb-9740-b2f56dfe0802.png)

[2021-01-04 12:46] liym27 commented on #30080
好的，经沟通，梳理当前的问题：

model 1 对应 参数 w1; model 2 参数 w2
loss_a 由 model1 model2 共同计算的结果，即 loss_a 与 w1 w2 均有关
loss_b 仅与 model1 有关，即 loss_b 与 w1 有关

step 1: 计算出 loss_a 但 仅更新 w1 (未更新w2)
step 2: 然后，计算loss_b 「期望」更新 w2

当前无法 更新w2，是因为 loss_b 与 w2 无关。
期望：能更新 w2，因为 step_1 与 w2 相关（因为step1 更新 w1 时，用到了 w2 的值，即 w1与w2相关。
而 loss_b 与 w1 相关，也期望 loss_b 与 w2相关）

[2021-01-04 12:55] liym27 commented on #30091
报错显示 `The start row index must be less than the end row index.`，定位发现，是 distribute_fpn_proposals 接口 的输入 `rois_num` 的不符合要求，麻烦确认下 `rois_num` 是否有问题

[2021-01-04 13:05] janyChan opened #30092 "RTX3070能否使用paddlepaddle-gpu，运行模型是出错"
服务器显卡是rtx3070，安装paddle后运行模型出错
cuda装的是10.0版本
想问下，rtx3070是否支持现有的paddle版本？
谢谢

[2021-01-04 13:10] Talon330 opened #30093 "Dataloader开启子进程(num_workers>0)且参数dataset(Dataset)包含transforms报错"
**paddle版本**：2.0.0rc1
**详细描述**：linux系统GPU环境下，当自定义Dataset包含paddle.vision.transforms操作，Dataloader参数num_workers设置大于零，枚举Dataloader将出现错误，打印dataset[0]则运行正常。需要如何修改代码解决此问题？

[code]
错误信息：
[code]

[2021-01-04 13:13] RenyanDiao commented on #30091
我是用load_inference_program载入的，这个rois_num怎么自己设置吗？

Sent from my iPhone

[2021-01-04 13:15] liym27 commented on #30091
跑的代码是什么？可以麻烦贴一下demo 代码看看吗

[2021-01-04 13:23] liym27 commented on #30092
您好，目前 rtx3070 还不支持Paddle. 当前我们已经在规划支持中，谢谢

[2021-01-04 13:27] chenjie04 commented on #28512
抱歉！能解释清楚一点吗？把什么换成数值型？

[2021-01-04 13:39] liym27 commented on #30082
@zzchust  2.0 版本只是默认开启动态图。如果使用静态图的话，可以调用 `paddle.enable_static()` 开启静态图模式，其余代码无需更改。
静态图中可以使用该op.

另外我们也有动转静功能，支持用户写动态图代码，但可以转为静态图模型保存 上线。感兴趣可以关注 官方教程 [动态图转静态图](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/04_dygraph_to_static/index_cn.html)

[2021-01-04 13:44] heavengate commented on #30093
把num_workers设置成0看看具体报错是啥

[2021-01-04 13:57] RenyanDiao commented on #30091
![image](https://user-images.githubusercontent.com/52916011/103542383-cd0c4280-4ed7-11eb-95c3-1b0ada0dd2d2.png)
朋友说他也遇到过，是训练发散了导致的

[2021-01-04 14:10] zhwesky2010 commented on #29990
@Nagisakurumi 您好，显示是protobuf版本低于3.0.0，
![image](https://user-images.githubusercontent.com/52485244/103543474-8f101e00-4ed9-11eb-8aca-883cc7bf0b3c.png)
源码中会进行检查，能否 pip install -U protobuf 升级再看下

[2021-01-04 14:11] xiaowanzizz opened #30094 "使用anchor_cluster.py得到自己数据集的anchor报错"
Traceback (most recent call last):
  File "tools/anchor_cluster.py", line 362, in <module>
    main()
  File "tools/anchor_cluster.py", line 358, in main
    anchors = cluster()
  File "tools/anchor_cluster.py", line 95, in __call__
    self.get_whs()
  File "tools/anchor_cluster.py", line 71, in get_whs
    roidbs = self.dataset.get_roidb()
  File "/home/zzf/Desktop/PaddleDetection/ppdet/data/sou

[2021-01-04 14:13] zhwesky2010 commented on #29976
@smartfridgeIoT 您好，报错是这句 The third-party dynamic library (cudnn64_8.dll) that Paddle depends on is not configured correctly，找不到 ``cudnn64_8.dll`` ，测试过是可以正常加载的，建议在终端看下环境变量 ``echo %PATH%`` 内容

[2021-01-04 14:48] btobab commented on #30060
我在做NLP，是关于文本生成的，我的困惑是在模型搭建中，GRUUnit要如何实例化，并且forward过程中hidden_state要如何如何初始化以及如何循环调用

[2021-01-04 15:22] lyj0123 commented on #29811
没有彻底性解决，个人理解：这是一个偶然性的问题。退出 GPU 使用，再尝试启动GPU（不是指notebook中的重启按钮，目的是换其他的GPU）。（PS：说白了就是看运气，你看我之前的那个回复，提了我的疑问，但是暂时还没有大佬给答疑，所以现在我也不知道是怎么彻底的解决），出现这个问题，并不是自己程序的问题，因为同样的程序，没有任何改动之前是可以成功运行的。

[2021-01-05 00:45] lmw0320 commented on #29811
谢谢答复～～我昨天也是自己尝试了下，发现是一张图片引起的。。很是不懂。。我删除了该图片之后，就可以正常批量预测。。---而之前我使用1.8.5版本的飞桨时候，这张图片是可以正常检测的。。就是升级了飞桨版本之后，遇到了这个报错。。。

[2021-01-05 01:13] Talon330 commented on #30093
如问题表述，仅当num_workers大于零会报错，等于零时Dataloader运行正常。

[2021-01-05 02:25] TianCaibailei commented on #30026
你们提供下载的预测库，不带有TensorRT加速

[2021-01-05 02:38] liym27 commented on #30094
您好，anchor_cluster.py 哪里提供的呢？数据集是什么？

[2021-01-05 02:43] liym27 commented on #30069
@qingqing01 你好，麻烦看一下这个问题，高级API model.predict使用 callback参数的用法

[2021-01-05 02:45] liym27 commented on #30091
好的。请问 现在问题是否已经得到解决了？

[2021-01-05 02:50] xiaowanzizz commented on #30094
是paddle detection 里 tools 里的anchor cluster.py  数据集是德国交通标志数据集转化成coco style

[2021-01-05 03:24] RenyanDiao commented on #30091
没有呀，我觉得是rpn_head.get_proposals可能一个roi都没有，可是怎么会出现这种情况呢

[2021-01-05 03:25] RenyanDiao commented on #30091
我没觉得我这是训练发散了，因为我的loss都是0.13几

[2021-01-05 03:58] RenyanDiao commented on #30091
![image](https://user-images.githubusercontent.com/52916011/103604480-33cb4380-4f4c-11eb-9ee8-241cc158eb40.png)
我发现，我在做量化之后出现了这个问题，是不是weight里最大值为nan或者0，导致转换出来的weight有不合法的值，导致计算的bbox没有一个是前景的可能性

[2021-01-05 04:03] liym27 commented on #30094
好的。为了能更方便快捷处理该问题，建议您直接在 Paddle Detection repo 下提该issue，我们会有负责的同事跟进您的问题
https://github.com/PaddlePaddle/PaddleDetection/issues/new

[2021-01-05 04:13] RenyanDiao commented on #30091
然而我查了一下 量化的scale没有一个不合法的值

[2021-01-05 04:21] xiulianzw opened #30107 "paddlepaddle-gpu2.0.0rc1版本中的一个bug"
CUDA环境：
 CUDA：V10.0.130
cudnn：7.6.5

安装paddlepaddle-gpu 1.8.5之后，测试

安装paddlepaddle-gpu2.0.0rc1之后，测试

同样的环境下，**1.8.5输出的cudnn版本是7.6而2.0rc1输出的版本却是8.0**，然后我再使用最新版的PaddleOCR的时候也发现了，之前装的1.8.5版本的，可以正常运行。2.0版本的却报错，报错信息如下

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::framework::SignalHandle(char const*, int)
1   paddle::pla

[2021-01-05 05:15] xiaowanzizz commented on #30094
已经将ISSUE 提交了

[2021-01-05 06:03] jiangjiajun commented on #30026
当前的问题是，代码在不开启TensorRT的前提下，CPU和GPU预测都能正常使用，但开启TensorRT就会出错是吗？

https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/resnet50 请尝试使用您编译的预测包，编译此分类代码，并开启TensorRT进行测试，如若存在问题的话，那说明应该是编译的预测包存在问题，我再帮忙找预测库的同学帮忙来看下

[2021-01-05 06:07] liym27 commented on #30094
好的，已有 PaddleDetection 的同事跟进问题，当前 issue 将被关闭。感谢使用 Paddle。

[2021-01-05 06:07] #30094 closed, assigned to liym27

[2021-01-05 06:09] liym27 commented on #30088
好的，也在线下进行同步沟通。当前正在跟进该问题。

[2021-01-05 06:22] #29703 closed, assigned to heavengate, wozna, lidanqing-vv

[2021-01-05 06:26] lidanqing-vv commented on #29471
hard_swish and hard_sigmoid are both needed.
hard_swish is implemented.

[2021-01-05 06:58] TianCaibailei commented on #30026
按照这个链接下载了模型和demo代码，并对demo代码进行编译，预测库使用的是我从paddle develop 2.0源码编译出来的，首先测试了不开启tensorRT的情况，可以正常预测。
第二步，开启TensorRT进行预测，会报错。具体操作如下：
这是开启TensortRT的代码：
`std::shared_ptr<Predictor> InitPredictor() {
	Config config;
	if (FLAGS_model_dir != "") {
		config.SetModel(FLAGS_model_dir);
	}
	config.SetModel(FLAGS_model_file, FLAGS_params_file);
	config.EnableUseGpu(100, 0);
	config.EnableMKLDNN();
	config.EnableTe

[2021-01-05 07:08] cryoco commented on #30026
您好，从报错信息来看，您自行编译的预测库并未将TensorRT编译进去。从2.0开始编译预测库时默认不开启TRT，若要开启TRT需要设置编译选项WITH_TENSORRT=ON，并设置TENSORRT_ROOT为TRT根目录路径。可以确认下哈

[2021-01-05 07:12] TianCaibailei commented on #30026
这个我还特意确认过，确实是开启过，开启的具体选项是：-DWITH_TENSORRT=ON -TENSORRT_ROOT="我的tensorRT库路径"
我再重新用以上参数生成一下解决方案，重新编译一下试试，如有问题再反馈，谢谢支持。

[2021-01-05 07:14] cryoco commented on #30026
可以发下您cmake过程的log，如果成功开启了TRT，在日志中会有显示。

[2021-01-05 07:30] jerrywgz commented on #30091
你是直接加载了量化之后的模型吗？如果不做量化的话，load进来训练有问题吗？从报错来看确实是roi为空导致的

[2021-01-05 07:33] RenyanDiao commented on #30091
量化之后有问题，原始没有问题。我发现了是有weight的值有nan的问题，这个估计得叫slim的同学看一下

[2021-01-05 07:34] jerrywgz commented on #30091
嗯嗯这个可以在PaddleSlim里反馈下

[2021-01-05 07:45] OliverLPH opened #30115 "MKLDNN Error: few segmentation model prediction failed"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that th
If there is no solution,please make sure that this is an inference issue including the following details :
**System information**
-PaddlePaddle version （eg.1.1）or CommitID
-CPU: MKLDNN, onednn 1.8, Intel(R) Xeon(R) Gold 6271C CPU @ 2.60GHz
-GPU: None
-OS Platform: CentOS Li

[2021-01-05 07:45] TianCaibailei commented on #30026
我

**使用的选项是-DWITH_TENSORRT=ON -DTENSORRT_ROOT="我的TensorRT库目录"
以下是cmake的log，帮忙确认一下是否已经开启TensorRT，谢谢！**

`-- Found Paddle host system: win32, version:
-- Found Paddle host system's CPU: 48 cores
-- Selecting Windows SDK version 10.0.14393.0 to target Windows 10.0.17763.
-- CUDA compiler: x:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.0/bin/nvcc.exe, version: NVIDIA 10.0.130
-- CXX compiler:

[2021-01-05 07:51] cryoco commented on #30026
从log来看是开启了TRT的，报出tensorrt_subgraph_pass has not been registered这个错误不太符合预期，麻烦您提供下编译的预测库和复现代码吧

[2021-01-05 07:57] OliverLPH commented on #29506
@lidanqing-intel
C++ backtrace can be shown after https://github.com/PaddlePaddle/Paddle/pull/29798

[2021-01-05 08:01] qingqing01 commented on #30069
@iotctech

传递给Callbacks的logs里没有预测的结果，参考如下代码，因此无法通过callback实现。

https://github.com/PaddlePaddle/Paddle/blob/88e6dc4ac5a5f0a4ed0c54365e4210528da6f3ab/python/paddle/hapi/model.py#L1823-L1828

其他方式:

1. 如你上面使用方法，采用Model.predict_batch接口。
2. 在Model的forward里计算之后，对每个batch的数据先做处理，比如把argmax放到forward里。使用Model.predict接口。

[2021-01-05 08:09] TianCaibailei commented on #30026
**预测库太大，我上传到百度网盘：**
链接: https://pan.baidu.com/s/1HoIqKcUVTx-1R4i2R_76EQ 提取码: wav7 复制这段内容后打开百度网盘手机App，操作更方便哦

**使用的Demo代码和模型在此位置：**
https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/resnet50

**启用tensorrt的代码只是在此demo中的InitPredictor()函数中添加了关于TensorRT的代码：**
	config.EnableTensorRtEngine(1 << 20      	   /*workspace_size*/,
								FLAGS_batch_size   /*max_batch_size*/,
								3

[2021-01-05 08:26] XieYunshen opened #30119 "test_analysis_predictor单测失败"
**System information**
-PaddlePaddle version （eg.1.1）or CommitID
-CPU: including CPUMKL/OpenBlas/MKLDNN version
-GPU: including CUDA/cuDNN version
-OS Platform and Distribution(eg.Mac OS 10.14)
-Python version
Note: You can get most of the information by running [summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py).
**To Reproduce**
Steps to reproduce the behav

[2021-01-05 08:59] luotao1 commented on #30119
@wozna @lidanqing-intel Could you help fix this unit-test? The machine is 5117.

[2021-01-05 09:04] luotao1 commented on #29080
Another mkldn unit-test fails on PR_CI_WINDOWS:

- `test_analysis_predictor`: the same problem with #30119
https://xly.bce.baidu.com/paddlepaddle/paddle/newipipe/detail/2134145/job/3048287
[code]
@lidanqing-intel @wozna Could you help fix it?

[2021-01-05 09:21] lidanqing-vv commented on #29710
@luotao1  这个是不是可以在Linux上复现啊。不是windows only的问题把？

[2021-01-05 09:39] luotao1 commented on #29710
是windows only的问题，linux上测过没有问题的。

[2021-01-05 09:53] wanxin-code opened #30124 "源码安装问题"
**- 版本、环境信息**：
    1）PaddlePaddle版本：2.0
    2）CPU：i9-
    3）GPU：rtx3090， cuda=11.1， cudnn=8.0.5
    4）系统环境：ubuntu20.04， python=3.8(conda 环境)

请问该环境下，当前的paddle版本是否支持源码编译安装？

[2021-01-05 14:37] YueWang1996 commented on #26878
您好，我也是在alpine上进行源码编译遇到了这个问题，请问您有解决办法吗？如果有希望可以分享一下，谢谢~

[2021-01-05 14:39] smartfridgeIoT commented on #29976
问题已经诊断出来的，是硬件问题。 1.新显卡nvidia1650，算力7.5，cuda11.0+cudnn按照手册顺利pass。 2.老显卡gt630用455驱动，算力3.0，刚够paddlepaddle要求 ，不足tensorflow3.5的要求，显示如上问题。cuda11.0+cudnn8.0.4就找不到cudnn64_8.dll。换cuda10.1+cudnn7.6.5就可以完成paddle-gpu安装。 分析，cudnn从8.0开始就结构变了，老显卡驱动还会去加载老框架，未必是path设置不对找不到文件，而是加载文件失败，确定找不到文件了。使用cudnn7.6.5的就可以。 结论，老显卡优先采用cudnn7.6.5，因此cuda最高10.2，最佳10.1，这样可以同时支持tensorflow2.3.0，不支持tf2.4.0。在windows和ubuntu都测试过，结论相同。 用傻子

[2021-01-05 19:29] gongliyu opened #30131 "Anaconda版paddlepaddle-gpu不使用conda安装的cudatoolkit和cudnn"
使用"conda install -c paddle paddlepaddle-gpu"后，conda自动安装cudatoolkit 10.2和cudnn 7.6包以及paddlepaddle-gpu 2.0.0rc1。但是在运行代码时paddle总是找系统安装在"/usr/local/cuda"位置的cudatoolkit和cudnn。如果使用LD_LIBRARY_PATH=/conda/lib/path，则paddle提示找不到cuda.

conda的使用逻辑是尽量把依赖的二进制库放在conda自己的环境中，以减少对操作系统的环境依赖。anaconda版本的paddlepaddle-gpu配置了正确的依赖(所以conda可以安装正确的cudatoolkit和cudnn)，但在运行时却不使用这些安装的依赖而去系统中找依赖，应该时个issue.

例如PyTorch在anaconda下安

[2021-01-06 00:52] TianCaibailei commented on #30026
**昨晚开启TensorRT重新编译一份，vision内容如下：**
GIT COMMIT ID:
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: ON
CUDA version: 10.0
CUDNN version: v7.6
CXX compiler version: 19.0.24215.1
WITH_TENSORRT: ON
TensorRT version: v7

从这里看应该是已经开启了TensorRT了，经过对Demo项目（https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/resnet50）的测试，可以开启TensorRT预测，传参可以使用use_static=true方式，也可以使用use_calib_mode=true的方式，暂时未测试执行时

[2021-01-06 01:30] xialei2821212670 commented on #29868
你好，我刚刚尝试了一下，原生的python3.8.5，他通过了验证，我很想知道是anconda有些问题?还是习惯了conda的安装和管理

[2021-01-06 01:55] FrostML commented on #30107
可以尝试安装使用 2.0rc1 cudnn 7.6 版本的 Paddle 试试看，对齐下 Paddle 的 cudnn 版本和环境的 cudnn 版本。

[2021-01-06 01:58] FrostML commented on #30124
rtx3090 目前暂不支持。

[2021-01-06 02:22] yeyupiaoling opened #30132 "使用AnalysisConfig 和原生的exe推理结果不对齐"
- PaddlePaddle 1.8.5.post107
 - Ubuntu 18.04 or Windows 10
 - MobileNet V2

通过实验结果证明 XXXConfig 的输出结果都一致，是不是我少了什么步骤？

[2021-01-06 02:36] Green-li opened #30133 "集群上使用dataloader加载数据总是报错。"
搜索过相关文档，修改`places=paddle.CPUPlace(),use_buffer_reader=False,use_shared_memory=False`等参数都不行。单机运行时可以加载数据，但是在超算平台运行的时候，就会报错。

## 相关配置
系统：Linux 3.10.0-514.21.1.el7.x86_64 Thu May 25 17:04:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
paddle：2.0.0-rc0
python: Python 3.7.7
GPU: 2080Ti
CUDA,10.1，cuDNN Version: 7.6
## 报错信息如下：
[code]

代码：
[code]
`utils.py`来自项目“https://aistudio.baidu.com/aistudio/projectdetail

[2021-01-06 03:32] houj04 opened #30141 "aarch64机器上各种编译不过"
phytium cpu
gcc 7.3

[2021-01-06 04:05] cryoco commented on #30141
您好，请问您的机器是？

[2021-01-06 04:12] cryoco commented on #30132
您好，您可以对照下这篇文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/python_infer_cn.html
您似乎没有在`input_tensor.copy_from_cpu(img)`之前执行这一步
[code]
可以试下加上是否能够解决

[2021-01-06 04:37] xiulianzw commented on #30107
系统配置的环境实际上就是cuda10和cudnn7.6，和用1.8.5版本输出的一致，不知道为啥2.0rc1输出会是8.0。新版本的paddle是用的配置环境下的cuda环境吗？还是读取的其他的？ @FrostML

[2021-01-06 05:37] TianCaibailei commented on #30026
@cryoco @zhiqiu @jiangjiajun
大佬们，帮忙看一下是什么问题，谢谢啦。
ps：模型在不开启tensorRT时，可以正常预测。模型类型是yolov3，同时也测试过图像分类的模型，也是报同样的错误。
![报错](https://user-images.githubusercontent.com/69564975/103733539-eec71000-5024-11eb-912b-362bda895d1c.jpg)

[2021-01-06 05:48] houj04 commented on #30141
内部问题，单独拉群处理了。提这个issue是为了方便pr关联。

[2021-01-06 05:55] Huihuihh opened #30150 "x2paddle转换模型时，paddle报错"
环境信息：
Paddle version: 2.0.0-rc1
Paddle With CUDA: False

OS: Ubuntu 18.04
Python version: 3.6.9

CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: None

使用最新的x2paddle转换tensorflow模型时，遇到paddle报错：
paddle.__version__ = 2.0.0-rc1
/usr/local/lib/python3.6/dist-packages/tensorflow/python/pywrap_tensorflow_internal.py:15: DeprecationWarning: the imp module is deprecated in favour of

[2021-01-06 06:17] SunAhong1993 commented on #30150
这边X2Paddle该OP转换存在问题，修改后回复您。

[2021-01-06 06:22] jiangjiajun commented on #30026
好，我们在本地测试下先

[2021-01-06 06:44] yeyupiaoling commented on #30132
@cryoco 这个加不加输出结果都是一模一样的。我的代码也跟你发的文档中的代码没什么差别。

[2021-01-06 06:47] yeyupiaoling commented on #30132
@cryoco 我觉得这个`input_tensor.reshape([batch_size, 3, 224, 224])`不工作，因为我尝试把输入的图像转换为一维数组，同时也使用reshape，但是执行推理是就报输入shape不正确。
[code]

[2021-01-06 07:05] cryoco commented on #30132
设置config.switch_ir_optim(False)试试

[2021-01-06 07:11] yeyupiaoling commented on #30132
@cryoco 结果并没有变化。

[2021-01-06 07:14] cryoco commented on #30132
上面那个改动是关闭了预测期间的所有优化，相当于在跑exe了，结果应该是一样的。
可能还是输入没有对齐，您可否在两种方式feed数据时把feed进去的数据打印对比下是否一致

[2021-01-06 07:18] jiweibo commented on #29710
@lidanqing-intel

我定位到是mkldnn_inplace_pass的问题，但是没找到解决的办法。
config.pass_builder()->DeletePass("mkldnn_inplace_pass"); 能够临时规避问题

出问题的原因，windows上发生了错误的复用逻辑。

![image](https://user-images.githubusercontent.com/26377421/103740569-6e0f1080-5032-11eb-9a7f-d11a150e7f19.png)

[2021-01-06 07:22] yeyupiaoling commented on #30132
@cryoco 我使用以下代码判断过了，输出是True。数据是一模一样的。是不是文档上还是少了什么步骤
[code]

[2021-01-06 07:25] cryoco commented on #30132
这里输入不用flatten，直接用img就可以了

[2021-01-06 07:27] yeyupiaoling commented on #30132
@cryoco 这个我测试的，用这个是报错的。所以我没用这个，还是问题上面的代码

[2021-01-06 07:32] yeyupiaoling commented on #30132
@cryoco 我在exe上面复现了这样的错误，具体这样做的，首先去掉改变通道顺序的代码，使得数据保持原来的（224, 224, 3）
[code]

然后使用`data = data.reshape(3, 224, 224)`强制变化成(3, 224, 224)，最后在加上`data = np.expand_dims(data, axis=0)`，这的输出结果就跟AnalysisConfig的一样了

[2021-01-06 07:33] juncaipeng commented on #30068
这里面有挺多例子：https://paddle-inference.readthedocs.io/en/latest/#

[2021-01-06 07:36] cryoco commented on #30132
那在使用AnalysisConfig时加上这个操作是不是就可以了

[2021-01-06 07:37] xxxpsyduck opened #30155 "python 3.5 in docker is outdated"
pip 21 will drop support for python 3.5 in Jan 2021. Please update python version in every docker images to newer ones

[2021-01-06 07:41] xxxpsyduck commented on #30107
try specified version for cuda 10 as suggested [here](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/2.0-rc1/install/pip/linux-pip.html)

[2021-01-06 07:42] GreenValue commented on #30068
我需要的是float类型的图片数据如何获取的列子。
您给的例子如下，input数据都是写成1了。但我的input数据是图片。图片如何输入呢？

- c++的列子

// 准备输入数据
int input_size = 1 * 3 * 224 * 224;
std::vector<float> input_data(input_size, 1);

- c的列子

  int input_size     = batch * channel * height * width;
  float* input_data  = malloc(sizeof(float) * input_size);
  int i = 0;
  for (i = 0; i < input_size ; i++){
      input_data[i] = 1.0f;
  }

[2021-01-06 07:42] yeyupiaoling commented on #30132
@cryoco 这个是exe复现AnalysisConfig错误的情况，AnalysisConfig加上这个还是一样的问题。

[2021-01-06 07:51] yeyupiaoling commented on #30132
@cryoco 你不觉得这个是AnalysisConfig对数据的读取的问题吗？感觉他好像把数据打乱了

[2021-01-06 07:53] cryoco commented on #30132
您这个模型的输入shape是多少，是nhwc还是nchw的呢？可以用netron可视化查看

[2021-01-06 07:55] yeyupiaoling commented on #30132
@cryoco 输入是nchw，用exe和AnalysisConfig同样的数据

[2021-01-06 08:03] cryoco commented on #30132
从您的测试结果可以看出，exe和predictor的区别并非计算有差异，而是实际输入的数据的排布不同，但AnalysisConfig并不会在输入时对layout做任何的处理。您可以试试用“exe复现AnalysisConfig错误的情况”的逆操作来对AnalysisConfig的输入进行处理试试。

[2021-01-06 08:14] yeyupiaoling commented on #30132
@cryoco 我试过了，没用，还是错误的。要不要给模型给模型你试试

[2021-01-06 08:14] FrostML commented on #30107
可以确认下本地是否有多个 cudnn 版本，这里获取的应该是本地的 cudnn 版本。
[code]
可以把 7.6 的版本加入环境变量中放在 8.0 的前面。

[2021-01-06 08:15] cryoco commented on #30132
好的，提供下您的模型和测试图片吧

[2021-01-06 08:16] yeyupiaoling commented on #30132
@cryoco 模型超过了10m，这里不能上传，你在QQ群上吗？我发给您。

[2021-01-06 09:29] zzchust opened #30162 "paddle2.0中创建variable用什么函数？ 1.8中是用layers.create_parameter"

[2021-01-06 11:38] juncaipeng commented on #30089
@lidanqing-intel  Please compare the outputs of enabling MKLDNN and disabling MKLDNN. When enable MKLDNN, only the result of batch_num 1 is right, others are wrong.

[2021-01-06 11:39] juncaipeng commented on #30089
用户反馈问题如下：
![image](https://user-images.githubusercontent.com/52520497/103764648-d374f880-5056-11eb-89b0-85b0c049fd7a.png)

[2021-01-06 13:07] guoshengCS commented on #29751
We will put it into our near future plans. Thanks for your support and welcome to join the development of Paddle-based summarisation systems.

[2021-01-06 13:26] haoyuying opened #30172 "paddle.nn.CrossEntropyLoss 中rc0不报错，rc1报错"
[为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】](url)

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summar

[2021-01-06 13:26] Pzoom522 commented on #29751
Thanks a lot for your kind response. I will close this issue for now, but please do remember to refer to it / leave a comment upon further updates!

[2021-01-06 13:26] #29751 closed

[2021-01-07 01:32] cryoco commented on #30172
您可以参考下这段代码：
[code]
对shape的要求是：
input：  #NHWC
label:     #NHW1
weight:  #C

[2021-01-07 01:56] lidanqing-vv commented on #30089
matmul fuse后这一步的计算有错误，matmul输出 t_39 变量有inf了。还是考虑format的问题，明天我再问下Jacek

![image](https://user-images.githubusercontent.com/47151829/103841403-d215f100-5093-11eb-98bc-06ebab1cb4ae.png)

[2021-01-07 02:11] cryoco commented on #30155
Thanks for your feedback. There is already python of higher versions(py36, py37) and corresponding pip in our released docker images. We will drop py35 in our docker images in future versions.

[2021-01-07 02:18] #30124 closed, assigned to FrostML

[2021-01-07 02:27] #30155 closed, assigned to cryoco

[2021-01-07 02:41] xxxpsyduck opened #30181 "cuda and cudnn version affect inference speed significantly"
I already reported this [issue](https://github.com/PaddlePaddle/PaddleOCR/issues/1664) in PaddleOCR repo. I don't expect to stick with a fixed version of cuda and cudnn to get the best inference speed but I also wonder this is a normal behavior or not. Or maybe paddle 2.0rc1 is not yet optimized for cuda 11 and cudnn 8?

[2021-01-07 03:34] kiyse commented on #29749
**No module named 'paddle.nn'**

运行**summary_env.py**返回信息如下：
  Suggestions:
  1. Check if TensorRT is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configure TensorRT dynamic library environment variables as follows:
  - Linux: set LD_LIBRARY_PATH by `export LD_LIBRARY_PATH=...`
  - Windows: set PATH by `set PATH=XXX;****************************************
P

[2021-01-07 03:36] sandyhouse commented on #29749
paddle.nn 需要使用2.0版本

[2021-01-07 04:14] cryoco commented on #30181
Thanks for your feedback. We are also aware of this performance regression. We contacted NVIDIA and it's been confirmed that the performance regression in cudnn 8.0.4 and 8.0.5 is a known issue. It will possibly be fixed in the next version, cudnn 8.1. As for lower versions of cudnn 8.0(e.g. 8.0.3), we are still doing some performance tests, and will update the results.

[2021-01-07 04:20] xxxpsyduck commented on #30181
@cryoco Thanks so much for your reply. I will leave the issue open until further updates.

[2021-01-07 06:09] iotctech commented on #30069
@qingqing01 明白了，非常感谢。

[2021-01-07 06:09] #30069 closed, assigned to qingqing01, liym27

[2021-01-07 06:16] HXia-XXL commented on #30172
rc1更新了交叉熵函数，新增了axis和soft_label参数，axis默认-1 表示最后一个维度。
所以需要将rc0版本代码改动一下  指定axis=1

但是指定axis= 1后，不能给各类加权，之前报告过这个bug，不知道有没有解决

[2021-01-07 06:51] haoyuying commented on #30172
另外改动后的API文档没有更新，请及时更新

[2021-01-07 06:55] yinbanghu opened #30187 "静态模式下，如果要用program中的一个LOD-tensor来初始化一个fc的权重，该如何做，场景需要用部分tensor来做dnn的权重和bias，需其他LOD-tensor做fc的input"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2021-01-07 07:49] arcral commented on #25408
batch norm操作也能梯度累加吗？？？

[2021-01-07 08:07] RenyanDiao opened #30192 "paddlelite转换优化量化模型和预测错误 lite2.7"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2021-01-07 08:08] wozna commented on #30119
@luotao1  Yes I have prepared fix in PR https://github.com/PaddlePaddle/Paddle/pull/30191

[2021-01-07 08:08] RenyanDiao commented on #30192
![image](https://user-images.githubusercontent.com/52916011/103867548-83537000-5102-11eb-82e6-8250f4173796.png)

[2021-01-07 08:15] #26744 closed, assigned to zhwesky2010

[2021-01-07 08:19] RenyanDiao commented on #30192
![image](https://user-images.githubusercontent.com/52916011/103868618-1214bc80-5104-11eb-84b7-1ac692ef7759.png)
这为什么会是个bool值。。

[2021-01-07 08:19] qiuming-93 opened #30193 "使用flask搭建服务同时集成paddlepaddle模型和tensorflow模型时，tensorflow模型预测速度变慢"
- 标题：使用flask搭建服务同时集成paddlepaddle模型和tensorflow模型时，tensorflow模型预测速度变慢
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==1.8.5.post97
    2）CPU/GPU：CPU
    3）系统环境：centos7.6
    4）Python3.6
    

[2021-01-07 08:20] qiuming-93 commented on #30193
甚至不需要搭建paddlepaddle的模型，只需要import paddle就会导致该情况，
是否在导入时paddle就已经申请并占有了大部分的资源，导致tensorflow模型预测速度变慢

[2021-01-07 11:33] wangxicoding commented on #29794
@Meiyim 已修复，试一下~

[2021-01-07 11:50] juncaipeng commented on #30068
这部分图像处理部分的知识+基础c++知识，请网上查看资料，推荐资料：https://www.opencv-srf.com/p/introduction.html

[2021-01-07 12:14] jczaja commented on #29710
@luotao1 , @JiaXiao243 , @juncaipeng  Could you please share graphs of executed model with mkldnn_inplace enabled from
Windows platform and from Linux platform ?

[2021-01-07 12:33] juncaipeng commented on #30187
没看懂这个问题的细节，可以先参考下面解答。

fc 文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/fc_cn.html#fc
mul 文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/mul_cn.html#mul
elementwise_add 文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/elementwise_add_cn.html#elementwise-add
创建权重：https://www.paddlepaddle.org.cn/documentation/docs/zh/api

[2021-01-07 12:35] juncaipeng commented on #30192
这个可能只是一个warning，opt执行是否正常结束？可以直接测试转换后的模型是否正确执行。

[2021-01-07 12:41] juncaipeng commented on #30193
我找相关同学来看下这个问题。

[2021-01-07 13:06] RenyanDiao commented on #30192
倒是生成了.nb文件，但是在arm上运行结果完全不对，这是个int8模型，本身int8模型运行以及预测没有问题

[2021-01-07 13:07] RenyanDiao commented on #30192
密密麻麻的框，conf还都挺高

[2021-01-07 13:07] juncaipeng commented on #30193
这个问题是tf变慢了，不是paddle变慢了，相关同学反馈paddle这边没办法帮忙解决。
建议用tf 的 profile 分析一下哪些op速度变慢了，到 tf 那边提issue问问如何解决。

[2021-01-07 13:08] RenyanDiao commented on #30192
这个bool值，会参与conv elementwise等等计算，所以结果肯定不对啊，我觉得这是lite的bug

[2021-01-07 13:08] juncaipeng commented on #30192
嗯，这个问题可以到paddlelite repo提issue，让相关同学跟进。

输出的log太多，你可以关闭。

你使用相同的输入，在paddle上执行和lite上执行，看输出是否有差异。

[2021-01-08 03:04] arcral commented on #28391
错误一样，用的vs2019，编译extern_protobuf的时候就会出现这个C3848错误

[2021-01-08 03:43] RenyanDiao commented on #30192
怎么关闭，python没有传参可以让我关log的，你知道的话，跟我说说

[2021-01-08 06:18] jiweibo commented on #29710
@jczaja

The test model is SE_ResNeXt50_vd_32x4d.

config.SwitchIrDebug(true)  to get dot graph.

set environment variable GLOG_v=4 to record detailed log.

- Linux platform

[linux.log](https://github.com/PaddlePaddle/Paddle/files/5784944/linux.log)

The log is too long, you can view mkldnn_inplace releated logs from line 74840.

[82_ir_mkldnn_inplace_pass.dot.zip](https://github.com/PaddlePaddle

[2021-01-08 07:15] ouyangguang0726 opened #30228 "官网发布的windows的预测动态连接库有问题，猜测没有将函数引出"
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/windows_cpp_inference.html
安装与编译 Windows 预测库页面上下载的所有版本的静态库都可用，但是动态库都不可用
cpu_avx_mkl版本只有两个文件libpaddle_fluid.lib和paddle_fluid.dll，libpaddle_fluid.lib应该是静态库，paddle_fluid.dll的用于链接的lib文件没有
cuda10.0_cudnn7_avx_mkl版本里有paddle_fluid.lib，但是只有2Kb，几乎没有任何函数引出，动态链接时找不到函数
我以前下载的版本是正常的，最近这个版本应该有问题，现在历史版本找不到了，能给个历史版

[2021-01-08 08:31] jiweibo commented on #30228
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_inference_deployment/inference/windows_cpp_inference.html

请从该页面下载库试试

因为windows库体积的限制，windows cuda将不提供静态库。

[2021-01-08 08:40] syyxsxx commented on #30026
您好，PaddleX使用TensorRT进行推理，在导出inference模型得时候需要固定input_shape，固定input_shape导出inference模型后可以解决这个问题，具体可以参考
https://paddlex.readthedocs.io/zh_CN/develop/deploy/export_model.html

[2021-01-08 08:58] juncaipeng commented on #30192
在shell端执行 export GLOG_v=0 关闭大量log信息

[2021-01-08 08:59] QinchengZhang commented on #30162
用Layer的create_parameter方法

[2021-01-08 09:02] QinchengZhang commented on #30162
import paddle

class MyLayer(paddle.nn.Layer):
    def __init__(self):
        super(MyLayer, self).__init__()
        self.a = self.create_parameter([1,1])

    def forward(self, input):
        return self.a(input)

[2021-01-08 09:18] #30068 closed, assigned to liym27, juncaipeng

[2021-01-09 04:45] waaaaaaater opened #30242 "profile 工具在aistudio中无法显示内容"
在aistudio的环境中使用profile工具，但是打印出profile  report

在pycahrm环境中可以使用。

请问有什么办法可以在aistudio中也看到profile report的结果吗？

[2021-01-09 09:03] MrChengmo commented on #30242
可以尝试将程序的输出结果重定向的一个文件中试试，在AIstudio的note中类似这样:

[code]

[2021-01-09 12:19] ZGSLZL opened #30245 "Paddle动态图下如何实现新的OP, 包括forward()和backward()?"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-01-09 13:23] #30242 closed, assigned to MrChengmo

[2021-01-09 14:31] YueWang1996 opened #30247 "Alpine安装错误：/Paddle/build/third_party/install/protobuf/include/google/protobuf/stubs/port.h:307: error: "bswap_16" redefined [-Werror]"
1）PaddlePaddle版本：CPU版本1.8
2）系统环境：Ubuntu下的alpine容器内
[code]
Python版本 3.6.9，gcc版本8.3.0，pip版本 20.3.3，protobuf版本3.14.0
3) 安装方式信息：Linux下源码本机编译
如下为cmake, make 编译语句及报错部分代码

[code]

**具体报错结果**
[code]

谢谢！

[2021-01-10 04:10] #29399 closed, assigned to heavengate

[2021-01-10 04:35] hudielv opened #30251 "tensor 是不是有最小限制，在利用paddleocr预测时，图片过小，会出错"
![image](https://user-images.githubusercontent.com/48787551/104114517-407edb80-5340-11eb-96b6-4e1faa3b3897.png)

![image](https://user-images.githubusercontent.com/48787551/104114509-2c3ade80-5340-11eb-98e6-5a6056d84d74.png)

[2021-01-10 04:36] hudielv commented on #30251
"""
    Traceback (most recent call last):
      File "/opt/lvym/anaconda3/lib/python3.6/multiprocessing/pool.py", line 119, in worker
        result = (True, func(*args, **kwds))
      File "./ocr_basic_service/ocr_pre/predict.py", line 204, in image_parse
      File "./ocr_basic_service/paddown/paddleocr.py", line 300, in ocr
      File "./ocr_basic_service/paddown/tools/infer/predict_system.py"

[2021-01-10 04:38] hudielv commented on #30251
上面是在paddle2rc1的cpu环境下的错误，然后我把图片调大就不会出错了，是不是tensor有最小的限制还是什么

[2021-01-10 08:25] ccbptm opened #30253 "有适配Ubuntu（1660ti+cuda11.1）的版本么"
如题所示：
建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
****************************************
Paddle version: None
Paddle With CUDA: None
OS: Ubuntu 18.04
Python version: 2.7.17
CUDA version: 11.1.74
Build cuda_11.1.TC455_06.29069683_0
cuDNN version: None.None.None
Nvidia driver version: 455.38
****************************************

- 安装方式信息：
1）pip安装/docker安装
2

[2021-01-10 20:49] lidanqing-vv commented on #30089
一些kernel的cache key有问题问题，比如
[code]
改为
[code]
就不再出现inf问题。但是现在后面4个虽然不再是nan和inf，但是数值上还是不对，继续调查中,可能是别的地方有问题

[2021-01-11 01:58] hudielv commented on #30251
图像为（高，宽、通道）：
(118,640,3)
(29,202,3)
(39,449,3)
会报错

[2021-01-11 02:33] WeipengChan opened #30261 "issue"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-01-11 02:44] MrChengmo commented on #30245
目前Paddle动态图OP的实现方式与之前保持一致，需要使用C++实现OP的前向与反向Kernel，注册OP，然后在python端调用OP

[2021-01-11 02:54] ForFishes commented on #30261
请问，这个问题是啥？

[2021-01-11 03:15] MrChengmo commented on #30247
这个问题看起来是在编译protobuf的时候报的错误，请问有试过在Paddle官方的docker镜像内编译吗？

[2021-01-11 03:18] danleifeng commented on #30253
您好，可参考https://www.paddlepaddle.org.cn/ 上的安装指南，根据pip/conda/docker的安装方式，选择适合您的命令：
![image](https://user-images.githubusercontent.com/52735331/104144594-c2cdd500-53fe-11eb-89ac-6342a97a339e.png)

[2021-01-11 06:06] MissPenguin commented on #30251
麻烦发一下预测命令吧，另外，是所有图都会这样吗：resize到小尺寸就会报错，方便给一张图吗

[2021-01-11 06:14] hudielv commented on #30251
我是多进程在调用paddleocr的api时，偶现会出错
出错一回，再次调用api，就不会出错了
1）我试了把enable_mkldnn设成Fasle，就没问题了，但速度很慢
2）或者把 config.set_mkldnn_cache_capacity()设置为1（之前为6），就没问题了
但不知道以后有没有问题
所以，定位是mkldnn出错的，但是不知道是为什么

[2021-01-11 06:18] lleesg opened #30290 "CUDNN_STATUS_EXECUTION_FAILED，operator < conv2d_fusion > error"
**ENV：**
TX2、Ubuntu18.04、CUDA10.2、cudnn 8.0.0、jetpack 4.4、python3.6、Paddle-release-2.0-rc0

**Problem description：**
It's ok using CPU, but met error when using GPU:

dji@manifold2:~/Desktop/Paddle-Inference-Demo-master_lisg$ /usr/bin/python3 /home/dji/Desktop/Paddle-Inference-Demo-master_lisg/python/yolov3/infer_yolov3.py
W0111 14:06:22.129977  4282 analysis_predictor.cc:1042] Deprecated. Please

[2021-01-11 06:27] MARD1NO opened #30293 "关于 paddle.norm 对 p = inf 的实现疑问"
您好，关于Paddle内部对norm的实现我有些许疑问
![图片](https://user-images.githubusercontent.com/42901638/104151532-3a5c2e00-5418-11eb-9da3-d2ce56999b2e.png)
是norm类型为 inf 的时候
根据numpy文档（也可参考pytorch文档，pytorch是为了对齐Numpy的）
对于无穷范数应该定义为
![图片](https://user-images.githubusercontent.com/42901638/104151709-accd0e00-5418-11eb-9884-9d0b5f0169d7.png)

但是我感觉Paddle计算无穷范数的代码存在一定问题，相关代码地址在 https://github.com/PaddlePaddle/Paddle/blob/d

[2021-01-11 06:45] zhangting2020 commented on #30228
@ouyangguang0726 请问您的问题是否已解决？如果已解决，我们将关闭issue

[2021-01-11 06:55] #30119 closed, assigned to wozna, lidanqing-vv

[2021-01-11 07:08] SunAhong1993 commented on #30150
该问题已解决，您可重新更新X2Paddle的代码，进行转换，更新方式如下：
[code]
同时更新Paddle的Python源码中的python/paddle/nn/functional/common.py，更改信息详见https://github.com/PaddlePaddle/Paddle/pull/30231/files。

[2021-01-11 07:12] WeipengChan opened #30297 "fluid.core.AnalysisConfig和fluid.io.load_inference_model同一个模型预测结果不一致。"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0rc1.post101
    2）CPU： Intel(R) Xeon(R) Gold 61XX CPU
    3）GPU：Tesla-v100, cuda10.1,cudnn7.6
    4）系统环境：linux,python3.6.8
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
不管是cpu还是gpu都有问题。
请官方联系我，可以提供caffe prototext结构。
[code]
[code]

[2021-01-11 07:15] Huihuihh commented on #30150
是的，已经解决，多谢

[2021-01-11 07:15] #30150 closed, assigned to cryoco, jiangjiajun

[2021-01-11 07:21] WeipengChan commented on #30132
@cryoco  我也遇到了跟你一样的问题，输入是一模一样的。我用fluid load的模型用exe run结果是对的，用AnalysisConfig就结果不对。而且我尝试了cpu和gpu模式，还是错的，但是cpu和gpu模式错的还不一样。

[2021-01-11 07:23] bjkxt opened #30298 "运行官方示例，阻塞在tensors = exe.run(fetch_var_names, return_merged)._move_to_list()"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）CPU：more /proc/cpuinfo
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 85
model name	: Intel(R) Xeon(R) Silver 4214 CPU @ 2.20GHz
stepping	: 7
microcode	: 83886124
cpu MHz		: 2194.849
cache size	: 16896 KB
physical id	: 0
siblings	: 24
core id		: 0
cpu c

[2021-01-11 07:23] yeyupiaoling commented on #30132
@WeipengChan 我的不是报错，是AnalysisConfig预测结果不对而已

[2021-01-11 07:24] WeipengChan commented on #30132
@WeipengChan 我的不是报错，是AnalysisConfig预测结果不对而已
是的。我打错了，能输出，结果不对。肯定是某个结构出了问题。只是不知怎么查而已

[2021-01-11 07:25] yeyupiaoling commented on #30132
@WeipengChan 我也不清楚，我也搞了好久。

[2021-01-11 07:26] WeipengChan commented on #30132
我就搞了一上午，就确认是他们AnalysisConfig调用的优化函数有问题了，模型本身肯定是没问题了。

[2021-01-11 07:27] yeyupiaoling commented on #30132
@WeipengChan 模型肯定没有问题的，exe run都正常。

[2021-01-11 07:35] WeipengChan commented on #30132
是的，我们情况一样，可能只是模型不同。

[2021-01-11 07:36] yeyupiaoling commented on #30132
@cryoco 请问什么时候可以解决呢？

[2021-01-11 07:45] lleesg commented on #30064
met the same problem,  mark for solution..

[2021-01-11 08:12] MrChengmo commented on #30298
请问使用的paddle版本是？来源代码的示例是paddle 1.6版本的，分布式-ps同步模式经过了很多次迭代，可能会有问题

[2021-01-11 08:12] ForFishes commented on #30297
能否提供一下简单的demo，我们这边测试一下。

[2021-01-11 08:13] MrChengmo commented on #30298
运行同步模式时，需要在环境变量中

[code]

X等于你配置的训练线程数

[2021-01-11 08:17] ForFishes commented on #30290
This error is generally caused by a mismatched environment. Be able to tell your graphics card model and cudnn / cuda version number. Maybe your graphics card does not support cudnn.

[2021-01-11 08:25] bjkxt commented on #30298
我的Paddle version: 1.8.5
如果是代码较旧，请问在哪里能找到适合1.8版本的代码？

[2021-01-11 08:27] bjkxt commented on #30298
在通过sh local_cluster.sh sync启动的方式中，local_cluster.sh中已经设置了export CPU_NUM=2
同时我打印了参数params，其值为Namespace(batch_size=1000, cloud=0, **cpu_num=2**, dense_feature_dim=13, embedding_size=10, epochs=1, is_sparse=True, learning_rate=0.0001, log_path='result', model_path='model', name='ctr-dnn', sparse_feature_dim=1000001, test=True, test_files_path='test_data', train_files_path='train_data')

[2021-01-11 08:31] lleesg commented on #30290
I export the model from AIStudio which also use PaddlePaddle 2.0.0rc, and the target platform is Jetson TX2 in which ENV is:
Ubuntu 18.04
cuda 10.2.89
cudnn 8.0.0
jetpack 4.4
TensorRT v7

 could u offer more infos? 3q~~

[2021-01-11 08:38] MrChengmo commented on #30298
- https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleRec/ctr/dnn 这个是官方示例
- 不推荐运行`同步模式`，速度相对较慢
- 如果运行同步模式，需要设置下CPU_NUM的环境变量，并且确保各个节点上的文件数量batch级别一致
- 需要配置同步模式的strategy

[code]

[2021-01-11 08:40] ZHUI commented on #30293
感谢您的提问。
此处确实为，Paddle对 无穷**矩阵**范数 的支持有误。
目前调用的实现，计算的是 无穷**向量**范数，将矩阵作为向量看待。

实现没有对齐numpy， 我们将会进一步修改。你可以暂时通过组合op，实现需求。感谢！

[2021-01-11 08:58] ZHUI commented on #30293
感谢您的提问。
此处确实为，Paddle对 无穷**矩阵**范数 的支持有误。
目前调用的实现，计算的是 无穷**向量**范数，将矩阵作为向量看待。

实现没有对齐numpy， 我们将会进一步修改。您可以暂时通过组合op，实现需求。感谢！

[2021-01-11 09:06] ZHUI commented on #30293
目前的行为与 torch.norm 一致，与torch.linalg.norm 的实现存在diff。
具体对齐的策略，我们会进一步讨论。

[2021-01-11 09:07] MARD1NO commented on #30293
感谢您的回复～

[2021-01-11 09:07] #30293 closed, assigned to ForFishes

[2021-01-11 09:36] bjkxt commented on #30298
多谢，我用新代码再试下，非常感谢您的耐心解答

[2021-01-11 09:37] YueWang1996 commented on #30247
你好，谢谢你的回复！目前没有试过官方的docker编译。
由于项目要求，我必须要在Alpine系统上安装paddle。
所以这个错误产生的原因需要到protobuf官方github issues里去找吗？

[2021-01-11 09:50] MrChengmo commented on #30247
你好，我们现在没有在ALpine下试过paddle的编译，paddlepaddle目前在linux下，保证支持Ubuntu 和 CentOS

这个错误更像是gcc版本导致的代码移植问题，需要您在你的编译环境下debug下，欢迎后续提PR或者记录问题解决的历程帮助我们解决这个问题。

[2021-01-11 09:51] TCChenlong commented on #30242
请问下你这边用的是什么profile工具？

[2021-01-11 09:55] juncaipeng commented on #30089
丹青分析这个模型的输入固定为[1, 1]， batch_size直接固定为1，对于batch_size大于1的情况，mkldnn优化执行应该是出现不对。但是这个错误的根源应该是组网训练、保存模型时输入shape不对。

用户是使用paddle1.8的动态图训练保存的预测模型，已经用paddle1.7.2预测库验证可以，所以等用户后续升级到paddle2.0后在看是否有问题。建议该issue先关闭。

[2021-01-11 10:33] WeipengChan commented on #30297
@ForFishes   给个邮件？我可以写一个问题示例demo发过去。

[2021-01-11 10:39] Godlikemandyy commented on #25711
有没有能提供中文tts和声码器的大概时间呢，焦急的等待中！

[2021-01-11 10:50] waaaaaaater commented on #30242
@TCChenlong

参考的这个官方示例
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/performance_improving/device_switching/device_switching.html

[2021-01-11 11:13] juncaipeng opened #30309 "when batch_size>1, the OCR models get incorrect results"
paddle： release/2.0  commit id(93ce7f6952fa0614afe32bfb14e3721749d6fc26)

Steps to reproduce the behavior：

git clone https://github.com/PaddlePaddle/PaddleOCR
git fetch origin dygraph:dygraph
git checkout dygraph

cd PaddleOCR
wget https://paddleocr.bj.bcebos.com/dygraph_v2.0/ch/ch_ppocr_mobile_v2.0_det_infer.tar
wget https://paddleocr.bj.bcebos.com/dygraph_v2.0/ch/ch_ppocr_mobile_v2.0_rec_infer.

[2021-01-11 11:47] ccbptm opened #30312 "Ubuntu安装错误"
   1）PaddlePaddle版本：1.8.5
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：1660ti + CUDA：10.0.130 + cudnn：7.6.5
    4）系统环境：
                  Paddle version: None
                  Paddle With CUDA: None
                 OS: Ubuntu 18.04
                 Python version: 2.7.17
                 CUDA version: 10.0.130
                 cuDNN version: 7.6.5
                 Nvidia driver ver

[2021-01-11 12:24] ForFishes commented on #30312
这应该是opencv的版本安装错了，你单独安装一下opencv试一下。
pip install opencv-python==4.4.0.42 -U

[2021-01-11 13:34] WeipengChan commented on #30297
我更新demo代码到我的issue了

[2021-01-12 00:56] yeyupiaoling opened #30319 "有没有人编译成功jetson tx2的Python库，1.8.x版本的？"
有没有人编译成功jetson tx2的Python库，1.8.x版本的？
 - Ubuntu 18.04
 - CUDA 10.0

有编译成功的，可以提供一下whl包吗？，谢谢！

[2021-01-12 01:29] WeipengChan commented on #30297
@paddle-bot  再安排一个技术人员过来呗。

[2021-01-12 02:06] Darki-luo opened #30320 "Hapi 存在bug TypeError: forward() takes 3 positional arguments but 4 were given"
环境 paddle2.0rc1-gpu, cuda 10.2, ubuntu18.04, cudnn7.6.5

paddle2.0 rc1 使用高阶api model.fit（）接口训练 paddleseg 的部分模型，会报错，

W0112 10:11:30.308859 459358 device_context.cc:320] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 10.2, Runtime API Version: 10.2
W0112 10:11:30.310993 459358 device_context.cc:330] device: 0, cuDNN Version: 7.6.
2021-01-12 10:11:32 [INFO]	Loading pretrain

[2021-01-12 02:12] ruru5697 commented on #30093
我这边也遇到一样的问题，你这边解决了吗？

[2021-01-12 02:37] lleesg commented on #30319
配置很难完全一样，建议重新编译下，有具体问题也许能帮上忙

[2021-01-12 02:40] yeyupiaoling commented on #30319
@LLeeSG TX2安装的系统不都是一样的吗？例如CUDA版本，TensorRT版本，Python版本，不应该是一样的吗？

我现在遇到的问题是报numpy没安装，但是我确确实实安装了。不知道这是为啥。

[2021-01-12 02:43] lleesg commented on #26099
同样的错误，更新到inference2.0rc也存在，请问问题解决了么？谢谢

[2021-01-12 02:50] ShuaibinLi opened #30321 "paddle.distribution.Normal没有rsample"
在实现策略梯度时需要用到rsample函数的reparameterization trick
torch中的如下
![image](https://user-images.githubusercontent.com/76139596/104262938-90d27680-54c3-11eb-9b10-ae134605554c.png)

[2021-01-12 02:56] rical730 commented on #30321
rsample相比较sample可以回传梯度，在复现强化学习算法SAC的过程中非常关键，建议Paddle动态图也实现该功能。

[2021-01-12 03:07] lleesg commented on #30132
你好，我遇到的问题下，设置config.switch_ir_optim(False)与否结果完全不同：设置则正确（请忽略对风筝的错误判断，我的模型里只关心人）、否则预测不出任何东西。但我又需要TRT加速，请问有无解决思路？谢谢
![output - 110253](https://user-images.githubusercontent.com/16949144/104264269-48688800-54c6-11eb-9ced-b8c5038356c0.jpg)

more infos in https://github.com/PaddlePaddle/Paddle/issues/28505#issuecomment-758365090

[2021-01-12 03:09] lleesg commented on #28505
hello dear Liu，regarding the error
“ExternalError: Cudnn error, CUDNN_STATUS_EXECUTION_FAILED (at /home/dji/Desktop/disk/Paddle-release-2.0-beta/paddle/fluid/operators/fused/conv_fusion_op.cu:311)
[operator < conv2d_fusion > error]”

I updated to paddle2.0rc but the error remains，did u get any idea? 3q~

I did some experiment:
**code1:**
    config.enable_tensorrt_engine(  \
        1 << 30,

[2021-01-12 03:14] #13824 closed, assigned to kuke, seiriosPlus

[2021-01-12 03:14] #16029 closed, assigned to nobody

[2021-01-12 03:14] #16989 closed, assigned to nobody

[2021-01-12 03:14] #18810 closed, assigned to NHZlX

[2021-01-12 03:14] #18976 closed, assigned to NHZlX

[2021-01-12 03:14] #19055 closed, assigned to nobody

[2021-01-12 03:14] #19478 closed, assigned to nobody

[2021-01-12 03:14] #19516 closed, assigned to mapingshuo

[2021-01-12 03:14] #19647 closed, assigned to NHZlX

[2021-01-12 03:14] #19766 closed, assigned to JiabinYang, baiyfbupt

[2021-01-12 03:14] #19799 closed, assigned to ceci3

[2021-01-12 03:14] #20169 closed, assigned to hong19860320

[2021-01-12 03:14] #20795 closed, assigned to wanghaoshuang

[2021-01-12 03:14] #20921 closed, assigned to Shixiaowei02

[2021-01-12 03:14] #21173 closed, assigned to nobody

[2021-01-12 03:14] #21273 closed, assigned to seiriosPlus, NHZlX

[2021-01-12 03:14] #21291 closed, assigned to nobody

[2021-01-12 03:14] #21303 closed, assigned to nobody

[2021-01-12 03:14] #21308 closed, assigned to nobody

[2021-01-12 03:14] #21313 closed, assigned to nobody

[2021-01-12 03:14] #21316 closed, assigned to Steffy-zxf

[2021-01-12 03:14] #21329 closed, assigned to nobody

[2021-01-12 03:14] #21338 closed, assigned to ysh329

[2021-01-12 03:14] #21343 closed, assigned to wangchaochaohu

[2021-01-12 03:14] #21369 closed, assigned to ForFishes

[2021-01-12 03:14] #21376 closed, assigned to qingqing01

[2021-01-12 03:14] #21380 closed, assigned to cyj1986

[2021-01-12 03:14] #21409 closed, assigned to nobody

[2021-01-12 03:14] #21411 closed, assigned to nobody

[2021-01-12 03:14] #21413 closed, assigned to phlrain

[2021-01-12 03:14] #21446 closed, assigned to nobody

[2021-01-12 03:14] #21468 closed, assigned to seiriosPlus

[2021-01-12 03:14] #21469 closed, assigned to nobody

[2021-01-12 03:14] #21479 closed, assigned to sjtubinlong, FrostML

[2021-01-12 03:14] #21490 closed, assigned to nobody

[2021-01-12 03:14] #21497 closed, assigned to nobody

[2021-01-12 03:14] #21507 closed, assigned to luotao1

[2021-01-12 03:14] #21533 closed, assigned to nobody

[2021-01-12 03:14] #21534 closed, assigned to nobody

[2021-01-12 03:14] #21559 closed, assigned to guru4elephant

[2021-01-12 03:14] #21568 closed, assigned to nobody

[2021-01-12 03:14] #21570 closed, assigned to nobody

[2021-01-12 03:15] #21572 closed, assigned to wanghaoshuang

[2021-01-12 03:15] #21602 closed, assigned to nobody

[2021-01-12 03:15] #21603 closed, assigned to phlrain

[2021-01-12 03:15] #21605 closed, assigned to nobody

[2021-01-12 03:15] #21627 closed, assigned to nobody

[2021-01-12 03:15] #21630 closed, assigned to DDDivano, phlrain

[2021-01-12 03:15] #21637 closed, assigned to nobody

[2021-01-12 03:15] #21690 closed, assigned to liym27

[2021-01-12 03:15] #21694 closed, assigned to liym27

[2021-01-12 03:15] #21701 closed, assigned to baiyfbupt

[2021-01-12 03:15] #21707 closed, assigned to baiyfbupt

[2021-01-12 03:15] #21727 closed, assigned to shippingwang

[2021-01-12 03:15] #21730 closed, assigned to cryoco

[2021-01-12 03:15] #21767 closed, assigned to JepsonWong

[2021-01-12 03:15] #21768 closed, assigned to chenwhql

[2021-01-12 03:15] #21770 closed, assigned to JepsonWong

[2021-01-12 03:15] #21773 closed, assigned to JepsonWong

[2021-01-12 03:15] #21792 closed, assigned to zhangting2020

[2021-01-12 03:15] #21796 closed, assigned to phlrain

[2021-01-12 03:15] #21803 closed

[2021-01-12 03:15] #21807 closed, assigned to MrChengmo

[2021-01-12 03:15] #21824 closed, assigned to wawltor

[2021-01-12 03:15] #21828 closed, assigned to jiweibo

[2021-01-12 03:15] #21830 closed, assigned to NHZlX

[2021-01-12 03:15] #21831 closed, assigned to danleifeng

[2021-01-12 03:15] #21863 closed, assigned to wilhelmzh

[2021-01-12 03:15] #21871 closed, assigned to guoshengCS

[2021-01-12 03:15] #21880 closed, assigned to nobody

[2021-01-12 03:15] #21884 closed, assigned to wilhelmzh

[2021-01-12 03:15] #21886 closed, assigned to phlrain

[2021-01-12 03:15] #21890 closed, assigned to nobody

[2021-01-12 03:15] #21893 closed, assigned to nobody

[2021-01-12 03:15] #21911 closed, assigned to wanghaoshuang

[2021-01-12 03:15] #21913 closed, assigned to nobody

[2021-01-12 03:15] #21935 closed, assigned to baiyfbupt

[2021-01-12 03:15] #21954 closed, assigned to wanghaoshuang

[2021-01-12 03:15] #21965 closed, assigned to iclementine

[2021-01-12 03:15] #21973 closed, assigned to iclementine

[2021-01-12 03:15] #21988 closed, assigned to slf12

[2021-01-12 03:15] #21989 closed, assigned to slf12

[2021-01-12 03:15] #22033 closed, assigned to Aurelius84

[2021-01-12 03:15] #22083 closed, assigned to xyzhou-puck

[2021-01-12 03:15] #22093 closed, assigned to nobody

[2021-01-12 03:15] #22096 closed, assigned to nobody

[2021-01-12 03:15] #22103 closed, assigned to nobody

[2021-01-12 03:15] #22116 closed, assigned to nobody

[2021-01-12 03:15] #22127 closed, assigned to nobody

[2021-01-12 03:15] #22151 closed, assigned to nobody

[2021-01-12 03:15] #22192 closed, assigned to nobody

[2021-01-12 03:29] lleesg commented on #30290
I did some experiment:
**code1:**
    config.enable_tensorrt_engine(  \
        1 << 30,
        1,
        3,
        Config.Precision.Float32,
        False,
        False,
        )
**code2:**
     config.switch_ir_option(False)
    # see https://github.com/PaddlePaddle/Paddle/issues/30132#issuecomment-755125908

1.**no code1 or code 2:** met the CUDNN_STATUS_EXECUTION_FAILED  error as above to

[2021-01-12 03:36] lleesg commented on #30319
不一定完全一样，比如我用的JETPACK4.4，CUDNN8。。
发一下详细信息？

[2021-01-12 04:59] ForFishes commented on #30297
您好，请提供一下模型文件和相应的数据文件吧。我这边查一下。邮箱： 1422485404@qq.com

[2021-01-12 05:04] #30261 closed, assigned to ForFishes

[2021-01-12 06:24] Melon-Zhou opened #30327 "同样的输入，gather api1.8.5版本和2.0rc0的结果不一样"
1.8.5 paddle-gpu版本
2.0rc0 paddle-gpu版本

op调用代码
![image](https://user-images.githubusercontent.com/16741165/104277556-01888b80-54e2-11eb-9ebc-a0dd9f6c5807.png)

1.8.5的输入和输出
![image](https://user-images.githubusercontent.com/16741165/104277598-16651f00-54e2-11eb-8590-8190646a755c.png)

2.0rc0的输入和输出
![image](https://user-images.githubusercontent.com/16741165/104277644-2846c200-54e2-11eb-91b2-6a59a219

[2021-01-12 06:27] ccbptm commented on #30312
DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support pip 21.0 will remove support for this functionality.
Defaulting to

[2021-01-12 06:54] shangzhizhou commented on #30290
Maybe it is a bug of cudnn like this, https://forums.developer.nvidia.com/t/nx-jp44-cudnn-internal-logic-error/124805。You can try to delete conv_fuse passes（conv_bn_fuse_pass, conv_elementwise_add_act_fuse_pass,  conv_elementwise_add2_act_fuse_pass, conv_elementwise_add_fuse_pass） with config.delete_pass("xx") api.

[2021-01-12 06:57] ForFishes commented on #30327
这个看只是lod信息的diff吧。1.8的版本丢失了lod信息，2.0修复了这个问题，所以lod信息存在diff。

[2021-01-12 06:58] WeipengChan commented on #30297
@ForFishes  demo发给你了，由于模型是公司私有的，我换成了resnet50，问题是一样的。

[2021-01-12 07:04] Melon-Zhou commented on #30327
有什么办法能把这个lod信息去掉吗？

[2021-01-12 07:13] ccbptm commented on #30312
我已经解决问题了，最后安装了4.2.0.32 的opencv-python
谢谢您的帮助

[2021-01-12 07:17] michaelowenliu commented on #30320
@Darki-luo Hi, Please refer to the issue: https://github.com/PaddlePaddle/PaddleSeg/issues/769

[2021-01-12 07:51] ForFishes commented on #30327
def lod_reset(x, y=None, target_lod=None)使用这个api吧，重新设置lod为空。

[2021-01-12 08:04] pangyoki commented on #30321
近期会实现这个功能。

[2021-01-12 08:33] Melon-Zhou commented on #30327
这个方法不行，y和target_lod不能同时为空。 target_lod设置成[]也不行。还有其他办法吗？

[2021-01-12 09:32] #30089 closed, assigned to lidanqing-vv

[2021-01-12 10:13] #30312 closed, assigned to ForFishes

[2021-01-12 11:24] ForFishes commented on #30297
嗯嗯，好的，我看下。

[2021-01-12 11:27] TCChenlong commented on #30319
Linux 下 Paddle 1.8 的编译可以参考这个文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html
2.0 rc1的编译可以参考这个文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/install/compile/linux-compile.html
Paddle Inference 可以参考这个文档：https://paddle-inference.readthedocs.io/en/latest/demo_tutorial/cuda_jetson_demo.html#

[2021-01-12 12:16] yeyupiaoling opened #30343 "在编译PaddlePaddle的时候出现错误"
- release/1.8
 - Ubuntu 18.04
 - TX2 开发板
 - CUDA 10.0

看样子是编译完成的，但是最后就报这个错误了。

[code]

[2021-01-12 12:21] #30141 closed, assigned to cryoco

[2021-01-12 12:29] #30192 closed, assigned to juncaipeng

[2021-01-12 12:29] #30187 closed, assigned to juncaipeng

[2021-01-12 13:01] wanghaoshuang opened #30348 "确认所安装Paddle是否支持指定pass"
1. 进入paddle安装目录，一般在默认python的site-packages路径下，如 'paddle_1.8/lib/python2.7/site-packages/paddle'
2. 通过命令'find . -name *.so' 找到`./fluid/core_avx.so`
3.通过命令查看所有注册的pass: ` strings ./fluid/core_avx.so | grep "TouchPassRegistrar"`
    或者直接查看是否注册指定的pass: ` strings ./fluid/core_avx.so | grep "TouchPassRegistrar" | grep "mkldnn_placement_pass"`

[2021-01-12 13:06] wanghaoshuang commented on #30348
该issue用于指导用户排查问题，不用值班同学跟进。

[2021-01-12 13:23] OliverLPH commented on #30343
`ulimit -n 2048` 试下，因为jetson限制了可以同时打开的文件数量

[2021-01-12 13:24] kasyoukin opened #30349 "使用1.8.4 2.0.0rc1 的C++ 预测库推理时，同一个模型，同样的数据，运行多次随机出错"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.4  和 2.0.0rc1
    2）CPU：I7 6900K使用 MKL/MKLDNN
    4）系统环境：Ubuntu 16.04，GCC 5.4.0 20160609
-预测信息
    1）C++预测：
GIT COMMIT ID  d82d59e6e731a3de4057249239c90b81360a0e01
WITH_MKL: ON
WITH_MKLDNN: ON
WITH_GPU: OFF
CXX compiler version: 5.4.0

    2）CMake包含路径的完整命令
cmake .. -DWITH_PYTHON=OFF -DWITH_GPU=OFF -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DFLU

[2021-01-12 13:56] jedibobo opened #30350 "使用Paddle-TensorRT库预测动态shape和Static mode冲突"
- 标题：使用Paddle-TensorRT库预测动态shape和Static mode冲突
- 版本、环境信息：
    1）PaddlePaddle版本：v2.0.0-rc0
    2）CPU：6230R
    3）GPU：Geforce 3090， CUDA 11 ，TRT 7
    4）系统环境：Ubuntu18.04LTS Python 3.7.9

-预测信息
    1）python预测时使用Dynamic shape时如果使用Static mode的时候会冲突。
具体操作如下：我使用Float32或者Half精度。同时设置static mode和dynamic shape，生成的序列文件不能用。
报错如下：
W0112 13:48:25.660892  6355 tensorrt_subgraph_pass.cc:293] The Paddle lib links t

[2021-01-12 15:02] QinchengZhang opened #30353 "使用DataLoader时Linux系统下报错,Windows系统下不报错直接退出"
报错：
WARNING:root:DataLoader reader thread raised an exception.
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/opt

[2021-01-12 15:06] QinchengZhang commented on #30353
Windows下比如我的dataset中有21组数据,我用下边的代码输出数据的shape：
for idx, (im, im_info, label) in enumerate(loader()):
        print(idx, im.shape, label.shape)
但是程序运行完for循环后就直接退出不运行后面的语句了，也不报错。

[2021-01-12 16:48] QinchengZhang commented on #30353
新建了一个Conda环境，解决了，也不知道是之前那个环境哪个库出了问题

[2021-01-12 16:48] #30353 closed, assigned to Thunderbrook

[2021-01-13 01:13] yeyupiaoling commented on #30319
自行编译的Paddle的TX2的Python安装包，这里提供给同环境下载的同学下载。
 - Ubuntu 18.04
 - Python 3.6
 - jetpack 4.3
 - CUDA 10.0

下载链接：[点击下载](https://download.csdn.net/download/qq_33200967/14141147)

TX2必须要安装numpy1.18.5才行，否则报错。
[code]

顺便提供C++库：[点击下载](https://download.csdn.net/download/qq_33200967/14141152)

[2021-01-13 01:13] #30319 closed, assigned to nobody

[2021-01-13 01:13] yeyupiaoling commented on #30343
@OliverLPH 已经编译成功了，谢谢

[2021-01-13 01:13] yeyupiaoling commented on #30343
自行编译的Paddle的TX2的Python安装包，这里提供给同环境下载的同学下载。
 - Ubuntu 18.04
 - Python 3.6
 - jetpack 4.3
 - CUDA 10.0

下载链接：[点击下载](https://download.csdn.net/download/qq_33200967/14141147)

TX2必须要安装numpy1.18.5才行，否则报错。
[code]

顺便提供C++库：[点击下载](https://download.csdn.net/download/qq_33200967/14141152)

[2021-01-13 01:13] #30343 closed, assigned to Thunderbrook

[2021-01-13 02:47] cryoco commented on #30350
您好，我们尚未支持TRT7.2，目前最高支持到TRT7.1.3，您可以用这个版本试下

[2021-01-13 02:58] A-Pai opened #30365 "2.0rc版怎样自动检测GPU，有则使用GPU，否则使用cpu？"
2.0rc版怎样自动检测GPU，有则使用GPU，否则使用cpu？

[2021-01-13 03:00] A-Pai opened #30366 "在本地运行有警告，在AI Studio上运行没有警告"
详见https://ai.baidu.com/forum/topic/show/981680

[2021-01-13 03:01] A-Pai opened #30367 "2.0rc1教程中可能有错"
详见https://ai.baidu.com/forum/topic/show/981503

[2021-01-13 03:01] A-Pai opened #30368 "2.0rc1教程中可能有错"
详见https://ai.baidu.com/forum/topic/show/981503

[2021-01-13 03:02] A-Pai opened #30369 "paddle.arange中的问号是何意？"
详见https://ai.baidu.com/forum/topic/show/981502

[2021-01-13 03:03] A-Pai opened #30370 "FP32是什么dtype？"
详见https://ai.baidu.com/forum/topic/show/981500

[2021-01-13 03:14] yaoxuefeng6 commented on #30365
首先安装gpu版本paddle，可以功过这个API来指定device https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/fluid/core/CUDAPlace_cn.html

[2021-01-13 03:17] yaoxuefeng6 commented on #30366
可能跟本地环境有关系，我反馈下，warning影响使用效果吗

[2021-01-13 03:24] yaoxuefeng6 commented on #30367
感谢反馈，会通知相关人员修改

[2021-01-13 03:25] yaoxuefeng6 commented on #30368
感谢反馈，会通知相关人员修改

[2021-01-13 03:25] lleesg commented on #30290
thank u, it worked. and waiting for this bug getting fixed...

[2021-01-13 03:27] yaoxuefeng6 commented on #30369
感谢反馈，我本地没有复现这个问题，
![image](https://user-images.githubusercontent.com/49230821/104402879-42d87400-5592-11eb-801e-2e1c8736c0af.png)
针对您的反馈，会及时通知相关人员

[2021-01-13 03:31] yaoxuefeng6 commented on #30370
感谢您的反馈，文档中FP32的介绍有缺失，我们尽快完善

[2021-01-13 03:49] lwbmowgli opened #30373 "BlurPool论文复现问题"
- 标题：BlurPool论文复现报错
- 版本、环境信息：
    1）PaddlePaddle版本：2.0rc1

    3）GPU：2080
    4）系统环境：python3.8 torch1.7

- 模型信息
   pytorch中定义如下：

`

        class BlurPool(nn.Module):
            def __init__(self, channels, pad_type='reflect', filt_size=4, stride=2, pad_off=0):
                super(BlurPool, self).__init__()
                self.filt_size = filt_size
                self.pad_off = pad_off

[2021-01-13 04:09] A-Pai commented on #30365
可否提供一个完整的示例？

[2021-01-13 04:31] weiluonika opened #30377 "在jetson Xavier 上安装 paddlepaddle源码进行编译 报错"
collect2: error: ld returned 1 exit status
paddle/fluid/pybind/CMakeFiles/paddle_pybind.dir/build.make:1307: recipe for target 'paddle/fluid/pybind/libpaddle_pybind.so' failed
make[2]: *** [paddle/fluid/pybind/libpaddle_pybind.so] Error 1
CMakeFiles/Makefile2:57407: recipe for target 'paddle/fluid/pybind/CMakeFiles/paddle_pybind.dir/all' failed
make[1]: *** [paddle/fluid/pybind/CMakeFiles/paddle_p

[2021-01-13 05:12] SullivanJia opened #30379 "在使用GPU训练paddle的deepspeech的官方数据集时，graph加载报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.00 rc1
    3）GPU：P4000，CUDA 10.1.243和CUDNN 7.6.0 nvdia driver :440.31
    4）系统环境：linux ubuntu 16.04LTS，Python 2.7.18

- 模型信息
    使用tiny数据集在gpu下进行训练
- 复现信息：如为报错，请给出复现环境、复现步骤
- 执行 sh run_train.sh发生错误
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
-

-----------  Configuration Arguments -----------
augment_conf_path: conf/augmentation.config
batch_size: 4
dev_manifest: data/tin

[2021-01-13 05:52] yaoxuefeng6 commented on #30377
请问下有更具体的报错信息吗？ 我们同学反馈2.0-rc1版本是可以稳定编译的，可以试试哈

[2021-01-13 06:10] lfchener commented on #30379
目前 DeepSpeech 还暂不支持 Paddle 2.0，建议使用 Paddle 1.8 版本

[2021-01-13 06:29] juncaipeng commented on #30349
上述说是自己编译的预测库，请使用release/2.0编译预测库，测试一下。
同时，请补充复现的脚本、模型、数据和readme。

[2021-01-13 07:05] A-Pai commented on #30365
怎么表明使用的是gpu或cpu？

[2021-01-13 07:10] yaoxuefeng6 commented on #30365
可以看看这个文档是否有帮助：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/fluid/device_guard_cn.html#device-guard

[2021-01-13 07:16] A-Pai commented on #30365
该API仅支持【静态图】模式，我用的是动态图模式

[2021-01-13 07:24] AIpioneer opened #30385 "保存模型时出现问题"
exe = F.Executor(F.CPUPlace())
exe.run(F.default_startup_program())
F.io.save_inference_model(dirname=path, feeded_var_names=[train_ds.name], target_vars=[final_thing], executor=exe, model_filename=None, params_filename='__params__')

报错信息如下：
File "./ERNIE/distill/distill2.py", line 280, in <module>
    exe.run(F.default_startup_program())
  File "/app/anaconda3/lib/python3.7/site-packages/paddle/

[2021-01-13 07:25] weiluonika commented on #30377
我是在编译python推理库的时候出现的错误 ，c++推理库是可以编译成功的

[2021-01-13 07:29] lleesg opened #30387 "PaddleInference开启TensorRT后，PPYOLO预测结果错误"
**ENV：**
TX2、Ubuntu18.04、CUDA10.2、cudnn 8.0.0、jetpack 4.4、python3.6、Paddle-release-2.0-rc0

**Problem description：**
以下PPYOLO采用相同权重。

- 不使用TensorRT时，PPYOLO预测正确：

![output - 152157](https://user-images.githubusercontent.com/16949144/104419652-b9d23480-55b3-11eb-9f51-23a7039b072a.jpg)

- 使用TensorRT时，PPYOLO完全无法正确预测（同配置下YOLO预测正确）：

![output - 141638](https://user-images.githubusercontent.com/16949144/

[2021-01-13 07:34] yaoxuefeng6 commented on #30385
我看提供的代码中没有数据输入及训练过程。和这个有关系吗

[2021-01-13 07:46] cryoco commented on #30387
您好，您可以更新到2.0-rc1版本试下，我们中间修复了一些导致ppyolo在jetson设备上计算错误的bug

[2021-01-13 07:48] cocozhangyuke commented on #30385
在之前我用ErnieModelForSequenceClassification.from_pretrained('ernie-1.0', num_labels=5)作为我的teacher model然后词包bow作为我的student model进行训练了，也出来loss结果什么的，但是最后在我保存student model的时候就出错了。

[2021-01-13 07:49] jedibobo commented on #30350
也就是说7.2 的trt支持同时动态shape和static mode吗？

[2021-01-13 07:52] cryoco commented on #30350
您指的static mode是序列化功能吗？这个功能和动态shape不冲突的，您的报错可能是因为paddle-trt对7.2尚未做支持，而非这两个功能有冲突。

[2021-01-13 08:21] yaoxuefeng6 commented on #30365
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/device/set_device_cn.html#set-device

[2021-01-13 08:29] juncaipeng commented on #28554
Interpolate mkldnn op has been merged to paddle 2.0, the performance of ocr detection model is normal.

[2021-01-13 08:29] #28554 closed, assigned to lidanqing-vv

[2021-01-13 09:10] #30321 closed, assigned to Thunderbrook

[2021-01-13 09:22] Maybewuss opened #30396 "2.0版本的LodTensor问题"
查看文档后发现，在升级到2.0版本后弱化了LodTensor的概念，并且在动态图模式下貌似不支持LodTensor类型的输入。
LodTensor应该算是1.x版本中paddle的一大亮点，在2.0中被弱化之后paddle仍然能保持对变长数据处理的高效性吗？

[2021-01-13 09:22] hanlanyi commented on #20788
你的python是什么版本的？

[2021-01-13 11:56] wojtuss commented on #29506
The issue is caused by reusing wrong primitives from mkldnn cache after the `mkldnn_inplace_pass` is executed.
A PR with a fix is submitted: https://github.com/PaddlePaddle/Paddle/pull/30404.

[2021-01-13 11:56] jedibobo commented on #30350
emm我用的那个trt就是7.1.3的，然后遇到冲突的啊。

[2021-01-13 11:59] cryoco commented on #30350
您报错log里显示您编译Paddle预测库时链接的是TRT 7.2.1.6，这个版本需要和运行时链接的版本保持一致，建议都使用7.1.3

[2021-01-13 11:59] yaoxuefeng6 commented on #30396
取决于具体的任务，在常见的任务类型上，使用padding / bucketing 策略还是能达到不错的性能的。在静态图模式下，因为是兼容性升级，之前的LodTensor相关的都可以使用

[2021-01-13 12:02] jedibobo commented on #30350
抱歉啊看错了，7.1.3是我jetson上的。。。一时脑残。

[2021-01-13 12:03] jedibobo commented on #30350
一直现在服务器上调试完才放到agx上的。

[2021-01-13 12:03] jedibobo commented on #30350
感谢嗷

[2021-01-13 12:40] qiuming-93 opened #30406 "静态图和动态图如何选择"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如何选择使用静态图还是动态图？
我在别的博客上看到
Q:作为新手,我应该如何选择?使用静态图好还是动态图好?
A:目前飞桨官方在主推动态图,即命令式编程。如果您是新手,建议从动态图开始学习;如果您有一定的基础,可以尝试静态图。因为最后训练出来的模型肯定是需要部署的,目前使用用命令式编程(动态图)得到的模型文件不能很方便的部署,因此对部署有需求的话,建议使用静态图。

我想知道动态图和静态图该如何选择，二者在预测性能及精度上是否有区别，部署的话我会使用flask搭建服务来部署，可能基于CPU或GPU上进行预测

[2021-01-13 12:43] yaoxuefeng6 commented on #30406
可以优先使用动态图进行前期调研，理论上动静应该是一致的，后续有性能要求的时候可以在静态图上进行部署

[2021-01-13 12:45] qiuming-93 commented on #30406
好的，我有看到过有issue讨论动态图转静态图的，所以是先使用动态图进行训练，训练好之后再转静态图即可是吗？这个转换之后不需要重新训练吧？

[2021-01-13 12:47] qiuming-93 commented on #30406
动态图和静态图在训练时的性能有差距吗？差距大吗

[2021-01-13 12:55] yaoxuefeng6 commented on #30406
可以看看这些文档有帮助吗：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/guides/04_dygraph_to_static/index_cn.html#id1

[2021-01-14 01:09] huochf opened #30420 "AI STUDIO 中脚本任务环境没法用2.0是吗？"
我通过pip在脚本任务中安装2.0
但是运行时，import paddle出现了下面的错误！

Traceback (most recent call last):
  File "train.py", line 28, in <module>
    import paddle
  File "/opt/_internal/cpython-3.7.0/lib/python3.7/site-packages/paddle/__init__.py", line 34, in <module>
    from .fluid import monkey_patch_variable
  File "/opt/_internal/cpython-3.7.0/lib/python3.7/site-packages/paddle/fluid/__init__.py", line 35, in <mo

[2021-01-14 01:36] A-Pai commented on #30366
我的python版本是3.8.5，warning不影响效果

[2021-01-14 01:46] A-Pai opened #30421 "paddle中使用gpu这么简单？这样用对吗？"
pytorch中使用gpu，需要明确地将tensor转移到gpu：
  device = torch.device('cuda')       # 用GPU来运行
  a = a.to(device)
  b = b.to(device)
paddle中使用gpu，勿需明确地将tensor转移到gpu：
  paddle.set_device("gpu")

完整的代码是：

[code]

[2021-01-14 02:37] JPyer opened #30423 "1.3版本不支持v2了，如果要使用v2，请使用1.2版本。"
1.3版本不支持v2了，如果要使用v2，请使用1.2版本。

_Originally posted by @luotao1 in https://github.com/PaddlePaddle/Paddle/issues/3022#issuecomment-477909402_
But I install version1.2 is not use。

[2021-01-14 02:48] yaoxuefeng6 commented on #30373
跟进中

[2021-01-14 03:27] huochf commented on #30420
你好，我刚才试了试pip 成功了！！！太开心了！

[2021-01-14 03:27] #30420 closed, assigned to baiyfbupt

[2021-01-14 04:13] gongliyu commented on #30131
Reopen-it, seems the problem still exist

[2021-01-14 06:19] OliverLPH commented on #29506
@wojtuss
Could this PR https://github.com/PaddlePaddle/Paddle/pull/30404 fix both HRNet_W18_C and SE_ResNeXt50_vd_32x4d issues?

[2021-01-14 06:40] WeipengChan commented on #30297
@ForFishes  定位的怎么样？

[2021-01-14 08:10] wojtuss commented on #29506
Yes, both models work fine.

[2021-01-14 08:15] OliverLPH commented on #29506
@wojtuss
many thanks, we will verify it soon

[2021-01-14 09:04] qiuming-93 opened #30444 "使用python编写并进行训练所得的模型保存之后能否使用C++加载模型进行预测"
使用python编写并进行训练所得的模型保存之后能否使用C++加载模型进行预测？
二者能否无缝兼容，能否正常运行在CPU/GPU环境上
paddlepaddle-gpu: 1.8.5

[2021-01-14 09:26] A-Pai opened #30446 "2.0rc1的any文档似乎有错"
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/tensor/math/any_cn.html

示例的代码是：
[code]
其中最后一部分结果应该是[True, True]

[2021-01-14 09:31] A-Pai commented on #30446
第一部分：
[code]
似乎也对不上，结果是：
[[True , False],
        [True , True ]])

[2021-01-14 10:22] baiyfbupt commented on #30421
用法正确的~

[2021-01-14 10:25] baiyfbupt commented on #30423
paddle v1,v2版本已经不再维护了，建议使用2.0稳定版
https://www.paddlepaddle.org.cn/

[2021-01-14 10:48] yaoxuefeng6 commented on #30406
一开始还是推荐使用动态图哈，功能也相对比较完善的

[2021-01-14 10:54] qiuming-93 commented on #30406
查了些资料，也看了些静态库和动态库的代码对比，除了python原生的控制逻辑之外，没看出太多明显区别（实现上），有没相对较全的文档介绍这二者的

[2021-01-14 11:51] baiyfbupt commented on #30444
可以的，C++预测请参考paddle-inference使用文档: https://paddle-inference.readthedocs.io/en/latest/

[2021-01-14 11:57] baiyfbupt commented on #30446
文档确认有错误，感谢反馈

[2021-01-14 12:11] qiuming-93 commented on #30444
好的

[2021-01-14 13:07] skywalk163 commented on #30406
动态图和静态图的区别，可以理解为解释执行和编译执行的区别，动态图就是原生python编程习惯，而静态图其实是加了编译层，理论上编译的要比解释的快，但实际上有些任务速度区别不大，因为原生python也可以优化的很快，况且大部分算力和时间是消耗在gpu上了。
飞桨完全可以动态图编程和训练，训练结束后直接就可以自由的选择存储动态图模型还是静态图模型。存储为动态图模型方便以后的继续训练和优化，存储为静态图模型就是为了上项目和落地。

简单来说，工业应用之前，研发/竞赛/训练，最优选择都是动态图。工业落地优选静态图（落地前的工作还是动态图为主）。

[2021-01-14 13:31] lidanqing-intel commented on #30309
@juncaipeng
I use
[code]
My result is like this. 没有乱码啊，不过只有ODMOEM那边，是0.880，但是是因为缺少空格吧？
![image](https://user-images.githubusercontent.com/47151829/104596825-cf5b6300-5674-11eb-8381-81ff7fb7abda.png)

[2021-01-14 13:41] skywalk163 opened #30456 "高层API 数据集Imikolov报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：AIStudio 飞桨2.0.0rc1

高层API class paddle.text.datasets.Imikolov，我把例子里的数据类型改为data_type='NGRAM' ，报错
import paddle
from paddle.text.datasets import Imikolov

class SimpleNet(paddle.nn.Layer):
    def __init__(self):
        super(SimpleNe

[2021-01-15 00:41] yeyupiaoling commented on #30132
@WeipengChan 你解决这个问题了吗？

[2021-01-15 01:33] JPyer commented on #30423
Okay, thank you!

[2021-01-15 01:36] lleesg commented on #30387
编译rc1过程中，报错，请问有无办法解决（是编译器版本问题么，我的GCC是7.4.0）：
[ 65%] Generating paddle_fluid.dir/conditional_block_op.objdir
[ 65%] Generating paddle_fluid.dir/op_variant.objdir
In file included from /home/dji/Desktop/disk/paddle/paddle/fluid/pybind/pybind.cc:90:0:
/home/dji/Desktop/disk/paddle/paddle/fluid/pybind/tensor_py.h:63:43: error: the type ‘const pybind11::detail::descr’ of constexpr variable ‘pybind11::d

[2021-01-15 01:57] lleesg commented on #30377
基于tx2
rc1上也出现了pybind的错误，详细信息放到了这https://github.com/PaddlePaddle/Paddle/issues/30387#issuecomment-760586432
rc0我成功编译了的

[2021-01-15 02:51] baiyfbupt commented on #30456
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/text/datasets/imikolov.py#L79
window size 默认值 为-1， Imikolov(mode='train', data_type='NGRAM') 这里改成Imikolov(mode='train', window_size =2， data_type='NGRAM')试试吧

[2021-01-15 02:56] starsblinking commented on #30396
我觉得处理变长输入是基本功能，而不是什么亮点吧。好奇为啥你们在讨论“高效性”、“性能”，是因为有低效的可替代api？除了用lod_level=1的data层能处理离散变长输入（比如query的切词，实现不知道某样本该特征会切成几个部分），还有什么可用的api呢？

你们说的该不会是。。。强行用一个固定宽度的input（比如shape=[-1,10]的data），如果变长输入长度小（比如切词结果只有3个部分），剩下的（10-3=7）部分就用0来填充的方案吧。。。恐怖

[2021-01-15 03:10] #30423 closed, assigned to baiyfbupt

[2021-01-15 03:11] #30444 closed, assigned to baiyfbupt

[2021-01-15 07:33] A-Pai opened #30486 "1.8版本中如何启用gpu？"
1.8版本中如何启用gpu？这个项目“建议使用GPU来运行”，请问是在何处设置了启用gpu？
https://aistudio.baidu.com/aistudio/projectdetail/1455734?forkThirdPart=1

[2021-01-15 07:42] vic1006 commented on #30377
ENV：
TX2、Ubuntu18.04、CUDA10.2、cudnn 8.0.0、jetpack 4.4、python3.6、Paddle-release-2.0-rc0

ERROR：
[ 26%] Building CXX object paddle/fluid/operators/reduce_ops/CMakeFiles/reduce_max_op.dir/reduce_max_op.cc.o
Killed
paddle/fluid/operators/reduce_ops/CMakeFiles/frobenius_norm_op.dir/build.make:86: recipe for target 'paddle/fluid/operators/reduce_ops/CMakeFiles/frobenius_norm_op.dir/frobenius_norm_op.cu.

[2021-01-15 07:45] OliverLPH commented on #29506
@wojtuss
Hi, we have tested https://github.com/PaddlePaddle/Paddle/pull/30404, but we still encounter `SE_ResNeXt50_vd_32x4d` crash issue  with `hub.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7-dev` docker images.
If we use `paddlepaddle/paddle:latest-dev-cuda10.1-cudnn7-gcc82` image, `SE_ResNeXt50_vd_32x4d` model can infer without problem.
could you help investigate this environmen

[2021-01-15 08:40] whitedogedev opened #30491 "MNIST数据加载报错"
运行如下代码：
[code]
出现了如下报错，请问是什么原因：
[code]

[2021-01-15 09:07] A-Pai commented on #30486
"No one assigned"是什么意思？

[2021-01-15 09:22] T8T9 commented on #29506
Hi, @wojtuss, we did some debug on this bug for different environments:

**Environments**:
- env0：centos 7， gcc 4.8.5
- env1：ubuntu-16.04，gcc 4.8.5
- env2：ubuntu-18.04 gcc 7.5.0
- env3:  hub.baidubce.com/paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7-dev

**Conclusion**:
|Build Env|  Run Env| Build Status | Run Status |
|-|-|-|-|
|env0| env0 | :heavy_check_mark: | :heavy_check_mark: |
|env1|env1|:

[2021-01-15 09:24] miraclebiu opened #30495 "老版本paddle怎么加载新版本模型weights"
怎么把pdparams文件转换成，一堆散的文件，旧的代码无法load进新pdparams，load接口已按照ppcls修改，报错AssertionError: Variable [ reduce_mean_0.tmp_0 ] Not found, Please make sure run startup program，但是在代码中，load之前已经exe.run(startup_prog)

[2021-01-15 09:25] yeyupiaoling commented on #30132
@qingqing01 我是真的没有办法了，才@您，希望您不要介意，您有时间可以帮我看看这个问题所在吗？谢谢。

[2021-01-15 09:36] iclementine commented on #30495
ppcls 是什么？
没有更多的上下文信息。
动态图还是静态图，怎么保存参数的，新版本的版本号是什么，旧版本的版本号是什么，新旧的代码的等价性能否保证。

P.S. 这个问题的终极大招是转换模型。

[2021-01-15 10:01] JiabinYang opened #30497 "MacOS 15 本机源码编译Paddle 出现 Python.h file not found"
MacOS 15 使用Python3 作为Python 解释器参与编译 Paddle develop 分支代码出现以下错误：
pybind11: Python.h file not found

解决方案：
export C_INCLUDE_PATH=[Python.h 所在目录]
可以使用命令 find / -name Python.h 找到需要使用的python对应的Python.h的位置

[2021-01-15 10:01] #30497 closed, assigned to iclementine, JiabinYang

[2021-01-15 11:20] huochf opened #30500 "grid_sample 无法传播梯度？？"
我在使用grid_sample时，反向传播误差时，出现了以下错误：

RuntimeError: (NotFound) No Output(X@GRAD) found for grid_sampler operator.

或

RuntimeError: (NotFound) No Output(X@GRAD) found for grid_sampler operator.
  [Hint: Expected ctx->HasOutput(framework::GradVarName("X")) == true, but received ctx->HasOutput(framework::GradVarName("X")):0 != true:1.] (at /paddle/paddle/fluid/operators/grid_sampler_op.cc:178)
  [Hint:

[2021-01-15 11:35] hailong23-jin opened #30501 "如何同时加载多个预训练模型？"
假设我现在有三个预训练模型A，B，C。然后有三个独立的文件分别对应这三个模型预训练的参数。现在我想在自己的神经网络中同时使用这三个预训练模型，要怎么样进行加载呢？
伪代码：
[code]
上面的伪代码，是只加载了模型A么？如果要分别加载A、B、C三个模型该怎么处理呢？

[2021-01-15 11:36] miraclebiu commented on #30495
是的，旧的代码是静态图，1.7的，paddleClas里面下载的模型以前是一个文件夹，里面是散的文件，现在是新的pdparams，我们如何把新的转换成旧的，方便之前的代码load？

[2021-01-15 11:50] huochf commented on #30500
参考其它issue
image.stop_gradient = False
解决问题，抱歉打扰了

[2021-01-15 11:50] #30500 closed, assigned to iclementine

[2021-01-15 12:57] skywalk163 commented on #30456
谢谢，加上window_size就ok了

[2021-01-15 12:57] #30456 closed, assigned to baiyfbupt

[2021-01-15 13:29] iclementine commented on #30495
可以用新版的 paddle 和新版的模型代码,先把模型初始化出来, 然后加载保存的 pdparams 参数, 然后用旧的格式保存一份. 参考

https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_params_cn.html#save-params

[2021-01-16 02:07] huochf opened #30502 "Paddle 运算精度不高？？？"
我在使用InstanceNorm时，结果出现了极大的偏差。

输入一个值全部为-54.67994308的Variable，按理来说，经过InstanceNorm后结果应该对于对于的偏置（由于归一化减去均值为0）
可是结果却出现了极大的偏差，输出为0.93586272 而不是0.03429652（正确输出，即对于的偏置）

然后我仔细debug了一下， 发现paddle计算精度不高

[code]

按理来说，结果归一化后，减去均值应该对于0，可以由于均值的计算存在偏差，所以归一化（减去均值再除以偏差）之后为0.99999

唉！！！不知道我理解的对不对。

在线等回复！

[2021-01-16 02:16] huochf commented on #30502
若上面的解释的不清楚，可以运行一下代码，

[code]

这里给出了我在aistudio的notebook环境下的输出结果，

0.85590988 [1, 4, 256, 256]
0.85757309 [1, 4, 256, 256]
-0.78827506 [1, 4, 256, 256]
0. [1, 4, 256, 256]

[2021-01-16 02:18] huochf commented on #30502
我猜测可能是计算均值的时候，出现了偏差。希望能够得到回复！

[2021-01-16 07:21] huangjun12 commented on #30502
抱歉还是没太明白问题。。。

InstanceNorm2D可以参考[文档说明](https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/nn/layer/norm/InstanceNorm2D_cn.html#instancenorm2d)

写了段代码测试，希望可以帮助理解:

[code]

输出日志为:

[code]

以上代码输出为0。

[2021-01-16 07:48] huochf commented on #30502
在Aistudio notebook环境中，运行
[code]
得到
[code]
我再看看吧，好像是我这里的AiStudio的环境有问题。

[2021-01-16 07:50] huochf commented on #30502
好的，问题解决了，
在CPU环境中运行您所给代码，输出为
[code]

我又更换到GPU环境中，输出和你相符。

[2021-01-16 07:50] huochf commented on #30502
谢谢您！给研发人员加鸡腿！！！

[2021-01-16 07:50] #30502 closed, assigned to huangjun12

[2021-01-16 12:35] huochf opened #30503 "Variable类型转换出错？"
代码中，出现如下错误，很奇怪

[code]

还有一个地方也存在与之类似的错误
[code]

就是当一个bool变量的variable转换成其它类型时，会报错！！！
当我把batchsize设小，比如2，就不报错，设置大一点这个位置就报错。

将
`mask = (mask > -1).astype("float32")`
改成
`mask = dg.to_variable(((mask > -1).numpy().astype("float32")))`
不报错。

很奇怪为什么会这样，是我程序的其它地方有问题？？

[2021-01-16 13:56] Hsoms opened #30504 "实现简单实例报错"
程序：
"""
Created on Sat Jan 16 20:48:21 2021

@author: 杨
"""
import paddle
import paddle.fluid as fluid
import numpy as np

paddle.enable_static()

#定义数据
train_data=np.array([[1.0],[2.0],[3.0],[4.0]]).astype("float32")
y_true=np.array([[2.0],[4.0],[6.0],[8.0]]).astype("float32")

#定义神经网络
x=fluid.layers.data(name="x",shape=[1],dtype="float32")
y=fluid.layers.data(name="y",shape=[1],dtype="float32")

[2021-01-16 16:22] huangjun12 commented on #30503
Tensor的类型转换请使用cast接口，使用文档参考:
https://paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/fluid/layers/cast_cn.html#cast

[2021-01-16 16:25] huangjun12 commented on #30504
y和y_true的数据类型不对，把float32改成int64看看

[2021-01-17 01:25] huochf commented on #30503
我更换之后，仍然报相同的错误。
[code]

[2021-01-17 01:26] huochf commented on #30503
能大致说一下出这种错误的可能情况吗？它报错提示我看不太懂，不容易找BUG

[2021-01-17 01:54] huochf commented on #30503
你好！我大致可以确定是batch size设置太高导致的，因为batch size设为 1， 2， 3都可以正常运行，可以一旦设到4以上，就报错
[code]

[2021-01-17 04:01] huochf opened #30506 "Optimizer set error, ... should in state dict"
我按照正常的步骤，保存和加载优化器的checkpoint，
[code]

[code]
可是在反向传播梯度的优化过程中报错。
[code]
我盯了这个错误一上午，一脸懵逼。不知道该怎么改，请问能不能给点提示，这种错误出现的情况都有哪些？

[2021-01-17 06:47] huangjun12 commented on #30503
如果batch size太高会报错，建议排查下是否机器显存不足？

[2021-01-17 07:50] Hsoms commented on #30504
报相同的错误

[2021-01-17 07:56] huochf commented on #30503
哦，显存不足应该报out of memory吧，我这个小白也很晕(((φ(◎ロ◎;)φ)))。
我通过nvidia-smi查看显存在15G左右（batch_size = 3），notebook好像用的32GB卡。
我再看看吧。

[2021-01-17 12:18] hailong23-jin opened #30511 "动态图中有没有paddle.fluid.layers.sequence_pad的替代函数呀"
今天在写代码的时候遇到了这两个函数sequence_pad和sequence_unpad，但是这两个函数在动态图中不能使用，请问在动态图中有没有类似的实现呀

[2021-01-17 13:28] Aurelius84 commented on #30506
请问是在调用 `F.save_dygraph(self.net_G.state_dict(), save_path + '_net_G')`这两行代码之前，是没有训练直接保存的参数么？

[2021-01-17 13:43] Aurelius84 commented on #30511
动态图下可以在数据预处理时，对变长的数据进行自定义padding处理。

比如：继承paddle.io.Dataset，在`__getitem__`方法中自定义数据样本的padding逻辑。

可以参考如下教程文档：
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/02_paddle2.0_develop/03_data_preprocessing_cn.html#id3

[2021-01-17 14:11] huochf commented on #30506
不，我试过，如果刚刚创建优化器就保存参数的话，产生的文件非常小。但我的情况不是这样的。

我每训练一段时间，保存一下参数。简单来说，就是训练一段时间后，保存参数，然后中断程序，在启动程序，从刚刚保存的模型开始训练。但是加载刚刚保存的优化器后，却在损失backward的时候，出错，主要是GAN中生成器的优化器opt_G出错，我把
`self.opt_G.set_dict(opt_G_dict)`注释掉，不会出错（opt_D正常，模型加载正常）。

问题不大，只要我一口气训练完模型就好。但是纯属好奇，为什么我的优化器opt_G会出错。。。。

[2021-01-17 14:14] waaaaaaater opened #30513 "Cuda error(77), an illegal memory access was encountered"
此代码运行在aistudio上，环境信息如下:
CPU:4
RAM:32G
GPU:V100
显存:16GB
磁盘: 100GB

Python版本：python3.7
paddle版本：v.1.80

模型代码为pgl中的gin模型，为官方示例，修改了一部分内容，代码如下：
[code]

上述代码在运行的过程中，有的时候可成功运行进行一次，反向传播后，就会报错。有的时候直接报错：
[code]

有的时候还会报下面这个错误：
[code]

![image](https://user-images.githubusercontent.com/47627296/104845604-47de5000-5911-11eb-995f-f1cdb8f0593d.png)
ka
看监控，其实消耗并不是很大

[2021-01-17 14:51] Aurelius84 commented on #30513
可否尝试下1.8.5版本训练下？

[2021-01-17 15:12] waaaaaaater commented on #30513
不行啊，我试了 pgl在1.8.5中就直接报错了 。好像不兼容

[2021-01-18 02:25] #30506 closed, assigned to Aurelius84

[2021-01-18 02:25] #30503 closed, assigned to huangjun12

[2021-01-18 02:27] huangjun12 commented on #30504
以下程序是可以跑的

[code]

输出日志:
[code]

您可以参考一下看看

[2021-01-18 03:05] #30421 closed, assigned to baiyfbupt

[2021-01-18 03:46] #30406 closed, assigned to yaoxuefeng6

[2021-01-18 03:46] qiuming-93 commented on #30193
升级tensorflow版本后问题解决

[2021-01-18 03:46] #30193 closed, assigned to juncaipeng

[2021-01-18 05:20] starsblinking opened #30521 "请教两个问题"
1. 在 test_static_save_load.py 中出现了多处 "if isinstance(var, framework.Parameter) or var.persistable:" ， 请问 这里 "isinstance(var, framework.Parameter)" 的作用是什么呢? 直接 “if var.persistable:" 可以吗？什么情况下or的前面为真后面为假呢？
https://github.com/PaddlePaddle/Paddle/blob/18ecd433f558b16f069e6fb3a2028fda34716eb9/python/paddle/fluid/tests/unittests/test_static_save_load.py#L309

2. 当前develop分支里是不是 paddle.fluid.load=paddle.f

[2021-01-18 05:31] Aurelius84 commented on #30513
可否确认下softmax_with_cross_entropy中的labels是否有超过范围的异常数据呢？

另外，可否在CPU下训练试下，看能否正常训练？

[2021-01-18 05:35] waaaaaaater opened #30522 "动态图-梯度清空"
在API-V1.8.0文档中，关于优化器的梯度更新时，代码如下：
[code]
这里对优化器进行了梯度清空。
而在aistudio的一些教程中，确没有进行优化器的梯度清空，仅仅对模型的梯度进行了清空。
请问是现在的版本中不需要优化器的梯度清空，优化器的梯度不是累加的吗？
不同的教程中有的时候写的是优化器梯度需要清零，有的则不写。
有的时候写得网络的梯度需要清零，有的则不写？
是不同版本，内部接口处理不一样吗？
[code]

[2021-01-18 05:55] waaaaaaater commented on #30513
[code]
静态图中怎么查看softmax_with_cross_entropy的数值是否超过范围了呢？
还没等执行到网络结束就报错了，没办法通过feed_List查看.

CPU上没办法运行。

[2021-01-18 06:07] Aurelius84 commented on #30513
可否提供下完整的复现代码和脚本，我这边帮忙看下。

[2021-01-18 06:36] yeyupiaoling commented on #30132
@WeipengChan 这个问题你如何解决的？

[2021-01-18 06:48] waaaaaaater commented on #30513
没办法上传附件，就只能给您粘贴了。可以直接运行的，只需要起个对应的名字就行了

运行网路部分：
[code]
构建网络的部分
[code]

配置参数
[code]

[2021-01-18 06:49] iclementine commented on #30486
我们无法访问你的 aistudio 代码, 因为它是私密的.

开启 austudio 实例的时候,可以选择 cpu 还是 gpu, 然后代码中是可以通过 place 的方式使用 gpu.

动态图

[code]

静态图

[code]

[2021-01-18 06:57] A-Pai commented on #30486
代码是这个https://aistudio.baidu.com/aistudio/projectdetail/169412?channelType=0&channel=0

麻烦再看看，我的项目和这个相同https://aistudio.baidu.com/aistudio/projectdetail/169412?channelType=0&channel=0

[2021-01-18 07:03] iclementine commented on #30497
cmake 选项中加入 -DPYTHON_INCLUDE_DIR=python.h 的地址 也可以

[2021-01-18 07:37] zhwesky2010 commented on #30522
@waaaaaaater 您好，现在的paddle版本都需要进行梯度清空的，模型或者优化器梯度清空的效果是一致的

[2021-01-18 07:37] vic-93 opened #30530 "v1.8.5 golang预测demo运行错误"
demo：https://github.com/PaddlePaddle/Paddle/blob/v1.8.5/go/README_cn.md
golang：1.14.12

![image](https://user-images.githubusercontent.com/13634356/104885180-925bdd00-59a2-11eb-8426-f45f3316f7fd.png)

[code]

[2021-01-18 07:38] zhwesky2010 commented on #28279
@sxlyiyiyi 您好，请问系统版本是Linux还是Windows呢

[2021-01-18 07:39] zhwesky2010 commented on #28141
@qsrc 您好，请问下系统版本是Windows还是Linux呢

[2021-01-18 07:46] waaaaaaater commented on #30522
@zhouwei25  请问是
随便清空模型或优化器的梯度，就可以达到清空的效果吗？

[2021-01-18 07:47] zhwesky2010 commented on #30522
@waaaaaaater 对，都是一样的，清理的都是相应参数的梯度，optimizer有个param_list参数，清理的是这个里面的参数

[2021-01-18 07:52] pangyoki commented on #30321
这个图片看不了，可以再发一下吗？

[2021-01-18 07:58] waaaaaaater commented on #30522
@zhouwei25  好的 谢谢！

[2021-01-18 07:58] #30522 closed, assigned to LDOUBLEV, zhwesky2010

[2021-01-18 08:06] rical730 commented on #30321
可以直接查看API：https://pytorch.org/docs/1.7.1/distributions.html#torch.distributions.distribution.Distribution.rsample

[2021-01-18 08:35] vic-93 commented on #30530
golang在线预测的api除了依赖paddle_c还有哪些依赖呢？

[2021-01-18 08:50] JimXu1989 opened #30534 "使用2.0rc训练cifar10出错"
仿照官方文档训练MNIST的例程，我使用model.fit()函数来训练cifar10,程序如下，却无法正常训练，总是的到下面的结果：
The loss value printed in the log is the current step, and the metric is the average value of previous step.
Epoch 1/2
step 1563/1563 [==============================] - loss: 0.0000e+00 - acc: 0.1000 - 12ms/step
Epoch 2/2
step 1563/1563 [==============================] - loss: 0.0000e+00 - acc: 0.1000 - 12ms/step

代码如下，其中前半部分与官方例程

[2021-01-18 08:51] iclementine commented on #30491
可能是你的 gblic 版本低的原因, 参考 https://github.com/PaddlePaddle/Paddle/issues/21760

[2021-01-18 08:57] iclementine commented on #30501
调用三次?
paddle.fluid.io.load_vars(exe, model_path_A, main_progaram)
paddle.fluid.io.load_vars(exe, model_path_B, main_progaram)
paddle.fluid.io.load_vars(exe, model_path_C, main_progaram)

[2021-01-18 09:09] vic-93 commented on #30530
动态链接库没有安装到/usr/local/lib下面，或者指定export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/paddle/go/paddle/paddle_c/paddle/lib/

![image](https://user-images.githubusercontent.com/13634356/104894500-c25dad00-59af-11eb-9f9b-142e4d5d6fdb.png)

[2021-01-18 09:09] pangyoki commented on #30321
Paddle中的sample方法实际上与pytorch中的rsample一致，可以反向传播。麻烦看下paddle.distribution.Normal.sample方法能否满足需求。

[2021-01-18 09:43] wojtuss commented on #30309
The problem lies in the oneDNN kernel of `matmul`. Still under investigation.
As a workaround for this issue one can add a call
[code]
in PaddleOCR/tools/infer/utility.py after the `config.enable_mkldnn()` call, adding all the mkldnn operators present in the model to the list **EXCEPT FOR** `'matmul'` op.

[2021-01-18 10:09] rical730 commented on #30321
刚刚测试了一下，确实是带梯度的 0.0，感谢同步信息，建议可以在文档上做出说明

[2021-01-18 10:34] iclementine commented on #30486
这个需要看 train.py 里面的代码.

[code]
fluid.dygraph.guard() 这里,如果没有传 place 则有 gpu 自动用第一张显卡, 否则用 cpu.

[2021-01-18 11:58] modkzs opened #30540 "paddle 的 embedding 支持 freeze 部分参数，其他参数可以优化么？"
tensorflow 的 embedding_lookup 可以实现 embedding 矩阵中部分参数可优化，部分参数 freeze，paddle 里没有找到类似的 op，freeze 支持这种操作么

[2021-01-18 14:54] jhcgt4869 opened #30552 "文档迷惑行为"
![image](https://user-images.githubusercontent.com/61859193/104930788-9575be00-59e0-11eb-9cb1-5be2a2b2819c.png)

???

[2021-01-18 16:01] shikeno opened #30555 "paddle-trt bert 模型多batchsize 出错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.8
    2）CPU：
    3）GPU：
Nvidia T4
Driver API Version: 10.2,
Runtime API Version: 10.2
CUDNN 7.6.5
TensorRT：6.0.1.8
    4）系统环境：Ubuntu

-预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
    2）CMake包含路径的完整命令
    3）

[2021-01-19 03:34] yeyupiaoling commented on #30132
原来是少了`copy()`
[code]

[2021-01-19 03:34] #30132 closed, assigned to cryoco

[2021-01-19 03:52] vic1006 commented on #30377
我的问题解决了，tx2的8G内存不够用，需要增加swap空间（增加5G能编译过）
不过后面又遇到磁盘空间不够的问题，在尝试解决。

[2021-01-19 04:05] seiriosPlus opened #30560 "Enable BF16 on Paddle Parameter Server Distributed Training"
Paddle的分布式参数服务器训练目前主要面向的是大数据量+浅层模型为主的推荐场景，一般训练在数十上百台高性能CPU服务器。

推荐场景一般使用Embedding的嵌入层表示来表征用户特征，规模在千万至千亿级别，因此会导致PServer端内存的急剧消耗（可能会占用数十T的内存），同时PServer端对于稀疏参数的获取/更新速度也是整个训练的瓶颈之一。

期望用BF降低PServer端内存的占用， 同时期望采用BF加速PServer端稀疏参数的获取/更新速度。

[2021-01-19 05:49] lwbmowgli commented on #30373
兄弟，跟进情况怎么样啦？

[2021-01-19 06:41] rical730 commented on #28774
Paddle动态图在大规模网络的预测效率高于Torch，但小规模网络的预测效率比Torch差很多，强化学习常用网络规模不大，辛苦优化Paddle框架

[code]

[code]

上面这个case的网络结构非常常见，测试均在GPU上进行，测试结果如下：
Torch预测速度：6733.66it/s
Paddle预测速度：3274.84it/s

Torch比Paddle快了一倍

[2021-01-19 06:56] JimXu1989 opened #30565 "请问怎么从硬盘中加载图片集进行训练呢？"
我使用的是paddle2.0rc，示例中给的都是加载自带的数据集，我想从硬盘中读取数据集，请问要怎么操作呢？谢谢

[2021-01-19 08:41] vic-93 opened #30571 "InvalidArgumentError: Input(X) Tensor of SequencePoolOp does not contain LoD information."
环境：pandle 1.8.5 , golang1.4.12
实时预测提示LoD Tensor这个错误是什么意思？

`InvalidArgumentError: Input(X) Tensor of SequencePoolOp does not contain LoD information.
  [Hint: Expected lod_level > 0, but received lod_level:0 <= 0:0.] at (/paddle/paddle/fluid/operators/sequence_ops/sequence_pool_op.h:43)
  [operator < sequence_pool > error]
SIGABRT: abort
PC=0x7f1c2a0f0428 m=0 sigcode=18446744073709551610`

![image

[2021-01-19 09:14] #30530 closed, assigned to LDOUBLEV

[2021-01-19 09:14] vic-93 commented on #30530
动态链接库没有安装到/usr/local/lib下面，或者指定export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/paddle/go/paddle/paddle_c/paddle/lib/

[2021-01-19 10:17] vic-93 opened #30575 "len(ptr) = 1 的时候 panic: reflect: slice index out of range"
golang 1.4.12
pandle 1.8.5

当我预测单条数据，返回接口只有一个数值时，这个地方会panic，改成 value.Index(0).Kind() 可以正常运行

![image](https://user-images.githubusercontent.com/13634356/105020085-d2de5800-5a81-11eb-80c3-4a76160fe2b4.png)

[2021-01-19 10:25] #30297 closed, assigned to ForFishes

[2021-01-19 10:29] WeipengChan commented on #30297
[code]
以上改动可以解决问题。具体原因猜测是copy_from_cpu的C++内存管理出问题，而且还不是线程安全的，虽然这个问题不应该出现在Python调用端。
官网文档并没有对此作出说明，或者说他们认为这个不是一个bug。

[2021-01-19 13:01] lfchener commented on #30565
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/io/DataLoader_cn.html#dataloader
可以用 DataLoader 加载自定义的数据集

[2021-01-19 13:25] zhupengyang commented on #30571
输入是需要设置lod的，可以检查下

[2021-01-19 13:45] vic-93 commented on #30571
golang的api没有找到设置lod的方法

[2021-01-19 13:50] vic-93 commented on #30571
@zhupengyang

[2021-01-20 03:10] sunny0315 commented on #27970
也发现这个问题，请问有方法解决吗？

[2021-01-20 03:11] weihongwei-zg commented on #27970
不要用那种model.load方法读取。用rc1文档里面的方法读取

---原始邮件---
发件人: "kenney-fans"<notifications@github.com&gt;
发送时间: 2021年1月20日(周三) 中午11:10
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "wobushihuair"<2426823455@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] paddle2.0版本无法读取保存后的模型进行预测 (#27970)

也发现这个问题，请问有方法解决吗？

—
You are receiving this because you authored the thr

[2021-01-20 03:14] sunny0315 commented on #27970
谢谢，可以发下参考链接吗

[2021-01-20 03:18] weihongwei-zg commented on #27970
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/guides/02_paddle2.0_develop/08_model_save_load_cn.html------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;kenney-fans&quot;<notifications@github.com&gt;
发送时间:&nbsp;2021年1月20日(星期三) 中午11:14
收件人:&nbsp;&quot;PaddlePaddle/Paddle&quot;<Paddle@noreply.github.com&gt;;
抄送:&nbsp;&quot;wobushihuair&quot;<2426823455@qq.com&gt;;&quo

[2021-01-20 03:20] huangguanMayday opened #30591 "paddle打包到hadoop上跑有的part会以下错误（一个机器可能有多个reducer同时跑），有的却没有问题："
![image](https://user-images.githubusercontent.com/4018038/105122577-6ca11600-5b11-11eb-8dd1-005de70e6683.png)
![image](https://user-images.githubusercontent.com/4018038/105122666-9c501e00-5b11-11eb-90fd-a908f2c42288.png)
![image](https://user-images.githubusercontent.com/4018038/105122587-71fe6080-5b11-11eb-909e-0360501263e1.png)
![image](https://user-images.githubusercontent.com/4018038/10512270

[2021-01-20 03:21] huangguanMayday commented on #30591
![Uploading image.png…]()

[2021-01-20 03:51] Costwen opened #30593 "使用paddle.inference时，同样一段代码，有的时候能够正确运行，而大多数时候会报错"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0-rc
    2）CPU：Intel i5-8300H
    4）系统环境：Windows, python 3.7

[code]
使用上述代码加载完模型之后

在预测阶段调用如下函数

[code]

将会在predictor.run报错
![image](https://user-images.githubusercontent.com/47916831/105124766-cdcae880-5b15-11eb-884f-942c76719490.png)
其中imgs为1*3*128*128的numpy数组

但奇怪的是 有的时候能够正确运行(极少数)

[2021-01-20 05:42] Shixiaowei02 commented on #30575
你好，目前`go` 语言还处于beta阶段，请优先使用C++和python接口，我们会在2.1版本做go API的升级，谢谢

[2021-01-20 07:37] sunny0315 commented on #27970
参考这个文档，按下面的代码试了下还是不行（每次结果不一样，且与直接训练完infer的结果也不同），求指教！

# load and infer
layer_state_dict = paddle.load("work/model.pdparams")
opt_state_dict = paddle.load("work/model.pdopt")
model = SampleNet(TAGS, get_size_dict())
model.set_state_dict(layer_state_dict)
optimizer = paddle.optimizer.Adam(learning_rate=LEARNING_RATE, parameters=model.parameters())
optimizer.set_state_dict(opt_state_dict)

model = p

[2021-01-20 07:39] weihongwei-zg commented on #27970
我这个项目后面没有继续弄了，不过我用这些读取模型的方法在其他2.0rc1项目里面是正常的，就好奇怪。------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;kenney-fans&quot;<notifications@github.com&gt;
发送时间:&nbsp;2021年1月20日(星期三) 下午3:37
收件人:&nbsp;&quot;PaddlePaddle/Paddle&quot;<Paddle@noreply.github.com&gt;;
抄送:&nbsp;&quot;wobushihuair&quot;<2426823455@qq.com&gt;;&quot;Author&quot;<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddleP

[2021-01-20 08:02] wangxicoding commented on #30593
输入数据的shape对吗，是不是shape对应不上导致出错了。

[2021-01-20 08:29] Costwen commented on #30593
我输出过shape没什么问题 奇怪的是如果我在预测之前直接print 输入的数据 就能够正常运行
是因为之前的数据内存被释放掉了吗？

偶然间又成功一次. 之后又不行了

[2021-01-20 08:39] #29794 closed, assigned to ysh329, wangxicoding

[2021-01-20 08:52] wangxicoding commented on #30593
代码里面没有设置输入的shape，你把inpute_handle的shape设置一下试试。参考https://paddle-inference.readthedocs.io/en/latest/quick_start/python_demo.html
![image](https://user-images.githubusercontent.com/10208305/105150190-688bed00-5b3f-11eb-99fb-8d87f5661b1b.png)

[2021-01-20 08:55] juncaipeng commented on #30593
同时尝试一下，改成下面代码设置输入。可能是numpy内部数据不连续导致输入数据错误。

[code]

[2021-01-20 09:04] wojtuss commented on #29506
I have reproduced the error on Ubuntu 16.04. The models contain long sequences of elementwise_add and relu operators. The sequences are too long for the mkldnn_inplace_pass to handle them properly. We will try to fix the pass, but for now we recommend turning the pass off. @jczaja has submitted a suitable PR for that: https://github.com/PaddlePaddle/Paddle/pull/30588.

[2021-01-20 09:29] Costwen commented on #30593
![image](https://user-images.githubusercontent.com/47916831/105154796-dd155a80-5b44-11eb-96eb-81c586716c0a.png)
这个偶然成功的输入大小

然后失败的时候也是这个大小
![image](https://user-images.githubusercontent.com/47916831/105154935-00d8a080-5b45-11eb-92f2-b4a9a99b1cf5.png)

我尝试使用copy 好像没有什么变化

[2021-01-20 09:36] Costwen commented on #30593
我将代码改成了
[code]
感觉成功率高了不少，但是有的时候还是会出现上面这个错误

同时连续运行的时候还会出现段错误，是内存不过吗？

![image](https://user-images.githubusercontent.com/47916831/105155682-db986200-5b45-11eb-8ab3-5849bc481fa0.png)

[2021-01-20 09:39] juncaipeng commented on #30593
必须指定输入shape的 batch_size，不可以是-1。

同时考虑numpy内存不连续，可以不用copy，用这个api：https://numpy.org/doc/stable/reference/generated/numpy.ascontiguousarray.html

[2021-01-20 09:51] Costwen commented on #30593
[code]
将代码改成了这样发现成功率更低了。。
这里使用的predictor模型是Paddle官方模型库中的Metric Learning模型的resnet50

[2021-01-20 09:59] GuoQuanhao opened #30609 "paddle2.0.0-rc1中使用Embedding层，模型能训练，但不能获取summary"
Platform: Windows
Paddle Version:2.0.0-rc1

使用https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/tutorial/nlp_case/imdb_bow_classification/imdb_bow_classification.html教程时，发现使用`model.summary((200))`会报如下错误
[code]
当我修改`IMDBDataset`类别后，修改如下：
[code]
错误仍然出现，因此我在`forward`中打印数据类型，发现训练时，一直是`int64`如下
[code]
使用sunmmary时，数据类型变成了`float32`，如下所示：
![image](https://user-images.githubusercontent.com/4991

[2021-01-20 10:49] Costwen commented on #30593
可能和cpu下使用模型有关? 每次重新打开IDE都成功几率更大

[2021-01-20 11:49] #28543 closed, assigned to wangxicoding

[2021-01-20 12:22] A-Pai opened #30613 "2.0rc1用GPU更耗时？"
https://ai.baidu.com/forum/topic/show/982195

[2021-01-20 13:15] wangxicoding commented on #30609
试试这个 model.summary(input_size=(100, 128), dtype='int64')
![image](https://user-images.githubusercontent.com/10208305/105179677-90da1280-5b64-11eb-86d8-8117184acb31.png)

[2021-01-20 13:40] wangxicoding commented on #30613
可能是网络太小，reader速度太慢导致发挥不了gpu的性能。

[2021-01-20 13:54] A-Pai commented on #30613
那怎么改？“网络太小”何意？

[2021-01-20 14:05] YueWang1996 commented on #29530
alpine musl编译安装链接：https://github.com/chen-zhiyu/Paddle/tree/develop/paddle/scripts/musl_build

[2021-01-20 19:07] E100chassis opened #30618 "使用paddle教程代码出错"
我是使用https://aistudio.baidu.com/aistudio/projectdetail/1321118
这个链接的代码运行程序但是出错了
    1）PaddlePaddle版本：2.0/11.0
    2）CPU：i7-9700k
    3）GPU：RTX3080
    4）系统环境：系统为windows10版本 python版本为3.8.0
使用的算法是paddleNLP
代码如下
[code]
具体错误如下
![001](https://user-images.githubusercontent.com/72775434/105223650-f671d300-5b53-11eb-8940-4c06a695acff.png)
![002](https://user-images.githubusercontent.com/72775434/105223663-

[2021-01-21 02:20] GuoQuanhao commented on #30609
谢谢，这对我有用

[2021-01-21 02:24] yeyupiaoling opened #30619 "Paddle 2.0rc有这个clip_grad_norm()函数吗"
这个是Pytorch的一个函数，请问PaddlePaddle 2.0rc有类似这个函数吗？
[code]

[2021-01-21 02:44] wangxicoding commented on #30591
cpu mpi的集群吗，看这些log感觉可能是环境的问题

[2021-01-21 02:49] wksuixin opened #30621 "显存问题：推理的时候，感觉 config.enable_use_gpu(args.gpu_mem, 0)不起作用，会超过设置的值"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-01-21 02:49] fishermancome commented on #29201
你好，我在集群模式下使用cpu模式也出现这种问题。

环境：
  paddlehub== 1.8.3
  paddlepaddle==1.8.5
  pyspark==2.4.0

异常信息
[code]

[2021-01-21 02:56] tucker666 opened #30622 "paddle detection GPU使用报错Cublas error, CUBLAS_STATUS_NOT_INITIALIZED"
   1）PaddlePaddle版本：paddlepaddle_gpu-2.0.0rc1.post100-cp36-cp36m-linux_x86_64.whl
使用下图的padlle进行安装
![image](https://user-images.githubusercontent.com/53161743/105273630-a851e380-5bd6-11eb-8818-3e69fa166772.png)
CUDA版本为10.0
![image](https://user-images.githubusercontent.com/53161743/105273832-fff04f00-5bd6-11eb-8b96-dab24e44f625.png)
![image](https://user-images.githubusercontent.com/53161743/105273

[2021-01-21 03:21] yjygit opened #30624 "HUAWEI,Kunpeng 920+麒麟V10，编译错误"
CPU:HUAWEI,Kunpeng 920
OS:麒麟V110
编译报错
Scanning dependencies of target buffered_reader
[ 15%] Building CXX object paddle/fluid/operators/reader/CMakeFiles/buffered_reader.dir/buffered_reader.cc.o
[ 15%] Linking CXX executable jit_kernel_benchmark
/usr/bin/ld: 当搜索用于 /root/paddle/build/third_party/install/mklml/lib/libiomp5.so 时跳过不兼容的 -liomp5
/usr/bin/ld: 找不到 -liomp5
collect2: error: ld returned 1 ex

[2021-01-21 03:32] JZ-LIANG commented on #30619
2.0RC有的

https://github.com/PaddlePaddle/Paddle/blob/release/2.0-rc/python/paddle/fluid/layers/nn.py#L12375

[2021-01-21 03:34] yeyupiaoling commented on #30619
好的，谢谢

[2021-01-21 03:34] #30619 closed, assigned to JZ-LIANG

[2021-01-21 03:35] JZ-LIANG commented on #30622
麻烦贴一下 c++ 栈报错信息：
export FLAGS_call_stack_level=2

[2021-01-21 03:51] Fitz-Fitz commented on #28651
请问现在推出了不

[2021-01-21 04:14] cryoco commented on #28651
已经发布了哈
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/install/Tables.html#whl-release

[2021-01-21 05:09] Fitz-Fitz commented on #28651
感谢感谢！！！
请问本次提供的whl包有支持tensorRT不

[2021-01-21 05:12] JZ-LIANG commented on #30618
本地 CUDA10 和CUDA10.1 运行正常，无法复现该错误。应该是 CUDA11 特有问题，请pm assign 框架CUDA11 同学。

[2021-01-21 05:43] tucker666 commented on #30622
![image](https://user-images.githubusercontent.com/53161743/105285103-ae53be80-5bee-11eb-81c3-7aa0e92ec525.png)

[2021-01-21 05:49] tucker666 commented on #30622
还想问下，为啥CPU跑的那么慢啊，十几秒中的样子，看文档里V100上能达到20fps这样子，差距这么多的么

[2021-01-21 05:58] E100chassis commented on #30618
@JZ-LIANG
但是我去你们官方群里问他们说是3080显卡只能配cuda11，我之前用cuda10安装paddle都失败了，那我咋整，用11能安装跑不了，用10能跑不能安装？

[2021-01-21 06:07] JZ-LIANG commented on #30622
栈信息没看到出特别问题，能给一下能复现这个问题的代码吗？我们本地跑一下。

V100和 CPU 硬件差异，感觉速度差距大很应该正常的，但没对齐硬件环境前不能完全断定速度慢不是其他问题导致的

[2021-01-21 06:13] tucker666 commented on #30622
代码就是https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0-beta/tools/infer.py
模型是
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0-beta/docs/featured_model/LARGE_SCALE_DET_MODEL.md

下的第二个模型
![image](https://user-images.githubusercontent.com/53161743/105288429-d5ac8a80-5bf2-11eb-9151-97c3c7376236.png)

[2021-01-21 06:44] #30609 closed, assigned to wangxicoding

[2021-01-21 06:48] jiweibo commented on #30624
请使用2.0的paddle

参考编译文档 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/2.0-rc1/install/compile/arm-compile.html

[2021-01-21 06:54] tingggggg opened #30629 "ppaddle support intel gpu or not?"
想詢問 paddle paddle 是否支持 intel gpu （UHD Graphics 630 ... ）加速？

[2021-01-21 06:54] wangxicoding commented on #30613
数据读入有瓶颈可以使用DataLoader将num_workers加大，加快数据处理读取的速度。
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/io/DataLoader_cn.html#dataloader
![image](https://user-images.githubusercontent.com/10208305/105310152-165ad280-5bf8-11eb-83da-b8a630899295.png)
网络太小是指这个模型很简单，只有简单的一两层Linear，无法完全发挥GPU的算力，如果是resnet或者bert这些较大模型，可以把GPU利用率打的比较满，这时候GPU的算力优势就可以体现出来了。

[2021-01-21 06:58] luotao1 commented on #30629
目前并不支持，请问有什么需求么？

[2021-01-21 07:04] tingggggg commented on #30629
了解，謝謝回覆
想確認手邊代碼是否能做擴充。像 openvino 支援 intel gpu

[2021-01-21 07:04] #30629 closed, assigned to nobody

[2021-01-21 07:04] #30624 closed, assigned to JZ-LIANG

[2021-01-21 07:13] Green-li commented on #30133
已解决，由于2.0.0-rc0代码不完善导致的。完成2.0.0-rc1就可以了。

[2021-01-21 07:13] #30133 closed, assigned to cryoco, heavengate

[2021-01-21 08:45] A-Pai opened #30631 "2.0rc1文档中的例子gpu的利用率低于40%"
请见https://ai.baidu.com/forum/topic/show/982236

[2021-01-21 08:50] E100chassis commented on #30618
但是我去你们官方群里问他们说是3080显卡只能配cuda11，我之前用cuda10安装paddle都失败了，那我咋整，用11能安装跑不了，用10能跑不能安装？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&

[2021-01-21 09:11] yeyupiaoling opened #30634 "2.0.0rc如何提取张量中的值？"
比如我想获取b中维度为0的数据，如果用`b[0]`就报错， `paddle.gather(b, paddle.to_tensor(0))`有的麻烦，如何写更加简洁呢？
[code]

[2021-01-21 09:17] ponycloud235 opened #30635 "适配华为昇腾NPU"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：1.8.5
2）CPU/GPU：华为昇腾环境适配
3）系统环境：centos7.6
- 建议描述：
在实际项目中，需要将算法部署至华为的盒子（Atlas），PaddlePaddle目前不支持，很难受，官方是否在后续版本中考虑适配？

[2021-01-21 10:37] Fitz-Fitz opened #30638 "在nano上pip安装官网提供的whl包，调用报错"
官网提供的whl包：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/install/Tables.html
在jetson nano上直接pip安装成功，Jetpack4.3与官网提供包版本相符，调用paddle时报错如下：

Python 3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Illegal instruction (core dumped)

[2021-01-21 12:53] vic-93 commented on #11613
请问是如何解决的呢

[2021-01-21 16:00] kritohyh opened #30643 "在Agx Xavier上成功编译安装paddle2.0rc1，但生成的C++预测库中version.txt不包含tensorrt版本信息"
参考教程：https://zhuanlan.zhihu.com/p/326182912
我遇到的问题： 打包了本机上jetpack4.4.1含有的TensorRT文件，并在cmake时指定了tensorrt的路径， 成功编译了C++预测库和python whl文件， 但是没有在C++预测库中的version.txt看到tensorrt版本信息。
并且通过pip 安装paddle以后，测试inference-demo yolov3  中的infer_yolov3.py   调用tensorrt报错：
ValueError：(InvalidArgument) pass tensorrt_subgraph has not been registered
我到底成功安装TensorRT了吗  没有成功的话为什么编译过程中没有报错？？

以下是环境信息和编译操作  
 1）PaddlePaddle版

[2021-01-22 01:46] DaemonZhao commented on #608
So...how to rebuild this.

[2021-01-22 03:09] A-Pai opened #30648 "2.0rc1中“backbone”怎么用？文档中没查到"
2.0rc1中“backbone”怎么用？文档中没查到

[2021-01-22 05:18] Fitz-Fitz commented on #30638
已解决，系numpy版本问题

[2021-01-22 05:18] #30638 closed, assigned to JZ-LIANG

[2021-01-22 05:46] 123malin commented on #30648
请问"backbone"是什么意思？关于哪方面的呢？

[2021-01-22 05:51] shangzhizhou commented on #30643
编译选项请增加-DWITH_TENSORRT=ON

[2021-01-22 05:57] OliverLPH commented on #30621
您好，之前版本的Paddle确实会有这个问题，在 https://github.com/PaddlePaddle/Paddle/pull/29698 中修复了这个问题。
目前可以调整环境变量来控制使用的显存大小，方法如下
[code]

[2021-01-22 06:47] A-Pai commented on #30648
[https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/tutorial/cv_case/landmark_detection/landmark_detection.html](url)
“4.定义模型”中的代码

[2021-01-22 06:47] A-Pai commented on #30648
[https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/tutorial/cv_case/landmark_detection/landmark_detection.html](url)
“4.定义模型”中的代码

[2021-01-22 06:49] A-Pai commented on #30648
参见https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/tutorial/cv_case/landmark_detection/landmark_detection.html

[2021-01-22 06:51] A-Pai commented on #30648
参见https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/tutorial/cv_case/landmark_detection/landmark_detection.html
“4.定义模型”中的代码

[2021-01-22 06:55] kritohyh commented on #30643
是的 加上这个选项已经成功编译集成tensorrt的paddle。
编译完成后的框架加上板子必须的软件包已经达到了23GB，  想问下编译过程中生成的文件有哪些是可以删除不影响的吗？
可以执行make clean清除后面用不到的文件么， 后续还需要分别测试C++与python版本的推理库

[2021-01-22 07:00] xsc351072127 commented on #21760
Thank you very much!!!!

[2021-01-22 07:23] 123malin commented on #30648
![image](https://user-images.githubusercontent.com/11266280/105459743-bc284300-5cc5-11eb-881b-6fd4c13f7893.png)
这里的backbone只是用户自己定义的一个变量，是一个Model Class

[2021-01-22 07:28] A-Pai commented on #30648
明白了，仅仅是一个名字，是用现有模型的一个名字，谢谢

[2021-01-22 07:37] OliverLPH commented on #30643
@kritohyh
build目录下产出的 `paddle_inference_install_dir` 目录是C++推理库，`python/dist/paddlepaddle_*.whl` 是产出的python whl包。如果您已经完成编译，可以只保留这两个

[2021-01-22 07:43] kritohyh commented on #30643
好 谢谢！  问题已经解决

[2021-01-22 07:58] A-Pai opened #30651 "paddle.vision.datasets.MNIST，默认下载到何处？"
train_dataset = paddle.vision.datasets.MNIST(mode='train', transform=transform)，默认下载到何处？源代码中没查到
https://github.com/PaddlePaddle/Paddle/blob/release/2.0-rc1/python/paddle/vision/datasets/mnist.py#L30

[2021-01-22 08:07] E100chassis opened #30652 "Paddle训练报错"
我是使用https://aistudio.baidu.com/aistudio/projectdetail/1321118
这个链接的代码运行程序但是出错了
    1）PaddlePaddle版本：2.0 CPU版
    2）CPU：i7-9700k
    3）GPU：RTX3080
    4）系统环境：系统为windows10版本 python版本为3.8.0
使用的算法是paddleNLP
代码如下
[code]
具体错误如下
![001](https://user-images.githubusercontent.com/72775434/105223650-f671d300-5b53-11eb-8940-4c06a695acff.png)
![002](https://user-images.githubusercontent.com/72775434/105223663-

[2021-01-22 08:14] 123malin commented on #30651
Paddle数据下载默认在~/.cache/paddle/dataset下，mnist数据集应该会在~/.cache/paddle/dataset/mnist下

[2021-01-22 08:18] A-Pai commented on #30651
1、“~”表示什么？
2、怎么知道在此路径下？源文件中似乎没有

[2021-01-22 08:20] 123malin commented on #30652
![image](https://user-images.githubusercontent.com/11266280/105464979-517b0580-5ccd-11eb-8e2e-b9d8a507ab18.png)
看报错是softmax_with_cross_entropy的输入应该是int64的，但你的输入是int的。可以先看一下这个问题。

[2021-01-22 08:24] 123malin commented on #30651
1. ~就是用户根目录，你可以在你的机器上执行cd ~ && pwd看看根目录是什么，linux系统用户根目录一般是/home/user_name。
2. 这是框架内部规定的，一般用户不需要关心，download完会返回下载路径的。源码在https://github.com/PaddlePaddle/Paddle/blob/d82d59e6e731a3de4057249239c90b81360a0e01/python/paddle/dataset/common.py。

[2021-01-22 08:42] hailong23-jin opened #30653 "迭代器迭代Sequential对象索引溢出"
测试代码入下：
[code]
报错如下：

[code]

本来是可迭代的对象，但是迭代完第10个对象之后，还想要找第11个对象，导致索引溢出，报错。

这是接口设计失误吗？还是我的使用方式不正确？

[2021-01-22 08:58] A-Pai commented on #30651
回答得真好！！感谢、感谢！

[2021-01-22 09:01] E100chassis commented on #30652
就是这个问题我问了好多人了，有的说是我版本的问题，还有就是这个输入问题，但是我不知道怎么改，改来改去就是报错

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年1月22日(星期五) 下午4:

[2021-01-22 09:29] lelelelelez opened #30654 "测试ISSUE功能"
值班同学忽略

[2021-01-22 09:30] #30654 closed, assigned to 123malin

[2021-01-22 09:48] lidanqing-vv opened #30656 "Benchmark ernie mkldnn的文档是否还需要维护"
请问Benchmark中关于ernie mkldnn的文档是否还需要维护？要不要删掉？
https://github.com/PaddlePaddle/benchmark/tree/master/Inference/c%2B%2B/ernie/mkldnn

因为ernie mkldnn的demo 和文档都在PaddleSlim 更新了
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/mkldnn_quant

@luotao1

[2021-01-22 09:52] A-Pai opened #30657 "怎么知道返回的 MNIST数据集实例可以使用[ ]访问"
文档https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/vision/datasets/mnist/MNIST_cn.html

文档中只是说“返回 MNIST数据集实例”，“MNIST数据集实例”是什么对象？怎么知道返回的 MNIST数据集实例可以使用[ ]访问？
在何处可以查到？我感觉到其应该是pandas的dataframe的子类，但是找不到明确的说明

[2021-01-22 10:06] 123malin commented on #30653
Sequential本身不是被设计来迭代的，它是一个layer容器，内部有很多(name, sub_layer)层，有顺序。网络前向计算的时候直接调用forward接口，input会依次过每一个层，得到最终结果。

[2021-01-22 10:18] JZ-LIANG commented on #30631
浏览了以下感觉原因像是dataloader 瓶颈， 导致GPU 等待 CPU dataloader 数据产生，GPU计算不饱和。
可以尝试Nvidia-DALI 将transformer 计算放到 GPU中。

[2021-01-22 10:28] A-Pai commented on #30631
怎么改？可否给个完整的例子，飞桨中有没有方便、直接的设置方法？

[2021-01-22 10:46] hailong23-jin commented on #30653
我认为容器的遍历也应当是一个基础功能，这个功能在下面的场景中就很方便：遍历容器中的所有层，对每一层做一些操作（例如：输出一些信息以用于测试）。建议将这个功能完善一下。

[2021-01-22 10:48] 123malin commented on #30657
MNIST数据实例继承Dataset类，代码见：https://github.com/PaddlePaddle/Paddle/blob/d82d59e6e731a3de4057249239c90b81360a0e01/python/paddle/fluid/dataloader/dataset.py
可以使用[]访问，是因为Dataset类实现了__getitem__方法。

[2021-01-22 10:52] 123malin commented on #30652
一般是label，你可以check一下网络里label输入是怎么定义的，参考下面这个，type写成int64
![image](https://user-images.githubusercontent.com/11266280/105482113-eb997880-5ce2-11eb-8268-6ec23237d846.png)

[2021-01-22 10:57] 123malin commented on #30653
好的，我会反馈给API负责人的。感谢使用PaddlePaddle和您的宝贵意见～

[2021-01-22 11:12] JZ-LIANG commented on #30634
LoDTensor可以通过 np.array(lod_tensor) 方法转换为numpy.ndarray。

然后可以直接打印 np array variable

print(np.array(b)[0])

[2021-01-22 11:15] JZ-LIANG commented on #30635
请关注： https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/arm-compile.html

[2021-01-22 11:27] JZ-LIANG commented on #30622
本地运行正常，没有复现你指的问题。 本地环境 cuda-10.0， 相同whl 包。

可能是你那边环境细节没有对齐， 建议在你当前环境直接编译paddle。可以参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html

[2021-01-22 11:39] A-Pai commented on #30657
明白了，谢谢

[2021-01-22 15:29] A-Pai opened #30662 "AI Studio中的Graph讲的不清楚"
https://ai.baidu.com/forum/topic/show/982274

--这里不知道管不管AI Studio的事情，但是对于用户来说，AI Studio和飞桨是密不可分的，希望能够帮助推动，完善。

[2021-01-22 15:29] guoshengCS commented on #28173
这里报CUDNN_STATUS_EXECUTION_FAILED这个错可能是因为init_h和init_c的shape的不太正确，看贴的代码是`self.init_h = layers.fill_constant([self.num_layers, self.max_len, 20], 'float32', 0.0 )`，正确的形状应该不包含max_len，应该是`  [num_layers,batch_size,hidden_size]`（单向）或者` [num_layers∗2,batch_size,hidden_size]
 `（双向），可以参考这里的文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/fluid/layers/lstm_cn.html#lstm 。

另外看贴代码是使

[2021-01-22 15:43] hailong23-jin commented on #30634
我也有类似的疑问，比如下面的代码：
[code]
用numpy中很容易就可以利用index数组拿到指定位置的元素。但如果用原生的paddle的话，有没有类似的接口实现呢？
如果先把Tensor转成numpy，操作完再转回Tensor的话，来回复制在空时间和时间上消耗有些大，尤其是数组比较大，操作比较频繁的情况下。

[2021-01-22 16:48] E100chassis commented on #30652
@123malin
![555](https://user-images.githubusercontent.com/72775434/105517747-61690880-5d12-11eb-8fec-c1e01d2ca76a.png)
大佬我程序里也没有label啊

[2021-01-23 02:37] yeyupiaoling commented on #30634
如果先把Tensor转成numpy，操作完再转回Tensor的话，来回复制在空时间和时间上消耗有些大，尤其是数组比较大，操作比较频繁的情况下。

@medlen 是的，我要的也是这种。@JZ-LIANG 有没有这样的操作方式？

[2021-01-23 03:25] A-Pai opened #30663 "2.0rc1文档“MNIST数据集使用LeNet进行图像分类”运行时出现警告"
文档https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/tutorial/cv_case/image_classification/image_classification.html
参见项目https://aistudio.baidu.com/aistudio/projectdetail/1441370
中cell：
import numpy as np
import matplotlib.pyplot as plt
train_data0, train_label_0 = train_dataset[0][0],train_dataset[0][1]
train_data0 = train_data0.reshape([28,28])
plt.figure(figsize=(2,2))
plt.imshow(tra

[2021-01-23 04:54] yeyupiaoling opened #30664 "使用clip_by_norm接口出错"
- PaddlePaddle 2.0.0rc
- Ubuntu 18

[code]

错误如下：
[code]

[2021-01-23 04:56] yeyupiaoling opened #30665 "训练时警告Cannot enable P2P access from 0 to 1"
- PaddlePaddle 2.0.0rc
 - Ubuntu  18
 -
[code]

这种经过是否会影响训练？

[2021-01-23 06:20] yeyupiaoling opened #30666 "关于Categorical中log_prob输出疑问"
- PaddlePaddle 2.0.0rc
 - Ubuntu 18

[code]

输出的维度不应该是[8]，但是输出的是[8, 8]
[code]

[2021-01-23 06:58] vslyu commented on #30664
传入的参数X必须为Tensor，建议使用paddle.to_tensor API接口将list转换为tensor再传入

[2021-01-23 06:58] vslyu commented on #30664
传入的参数X必须为Tensor，建议使用paddle.to_tensor API接口将list转换为tensor再传入

[2021-01-23 07:00] yeyupiaoling commented on #30664
@vslyu 这个model.parameters()我用paddle.to_tensor接口转换不行，直接卡死。有其他方法吗？

[2021-01-23 07:00] vslyu commented on #30665
不会，P2P指的是gpu多卡使用nvlink 的互联，如果你是单卡训练的话，无需在意这些warining~

[2021-01-23 07:02] yeyupiaoling commented on #30665
好的。谢谢。

[2021-01-23 07:02] #30665 closed, assigned to vslyu

[2021-01-23 10:23] A-Pai opened #30667 "2.0rc1中使用gpu，仅仅在开始的添加这句即可？device = paddle.set_device('gpu')"
2.0rc1中使用gpu，仅仅在开始的添加这句即可？
device = paddle.set_device('gpu')

数据会自动存在显存中？需不需要别的设置？怎样才能最大程度地提升gpu的利用率？最好有个完整的加以对比的例子

[2021-01-23 10:46] vslyu commented on #30664
你的model.parameters()里面都有啥，print出来看看

[2021-01-23 11:23] vslyu commented on #30663
参见https://blog.csdn.net/qq_38125058/article/details/86605232 这个blog不知能否解决你的问题，看Warning消息是版本兼容性问题，推荐升级matplotlib和numpy试试

[2021-01-23 11:25] A-Pai commented on #30663
这个需要AI Studio平台来升级

[2021-01-23 11:27] vslyu commented on #30663
好的，收到，会反馈给AI Studio平台的同学排查~

[2021-01-23 11:38] A-Pai opened #30668 "2.0rc1中model.prepare方法在何处有讲解？文档中似乎没有"
2.0rc1中model.prepare方法在何处有讲解？文档中似乎没有
参见文档https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/guides/02_paddle2.0_develop/01_quick_start_cn.html
中的“3.3 模型训练”，其中：
model.prepare(paddle.optimizer.Adam(parameters=mnist.parameters()),
              paddle.nn.CrossEntropyLoss(),
              paddle.metric.Accuracy())

“paddle.nn.CrossEntropyLoss()”与“paddle.metric.Accuracy()”的关系是？

[2021-01-23 11:38] vslyu commented on #30667
是的，指定device为gpu后，数据会自动存在显存，无需其他设置。至于如何最大程度地提升gpu的利用率, 推荐使用DataParallel数据并行的接口，https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/fluid/dygraph/parallel/DataParallel_cn.html#dataparallel；

数据reader可以调大DataLoader的num_workers参数，https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/io/DataLoader_cn.html

[2021-01-23 11:44] vslyu commented on #30668
model.prepare方法见此：
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/hapi/model/Model_cn.html#prepare-optimizer-none-loss-function-none-metrics-none

CrossEntropyLoss是交叉熵损失函数，模型根据Loss更新参数；Accuracy是根据模型输出的准确度，是评价模型好坏的指标；两者并没有关系

[2021-01-23 11:46] A-Pai commented on #30667
我想在AI Studio中提供GPU的利用率，上述文档中的代码似乎不能在AI Studio中运行

[2021-01-23 11:55] vslyu commented on #30667
和AI Studio应该没有关系，这是paddlepaddle-2.0rc1暴露的接口，你需要修改代码适配这些接口。

[2021-01-23 11:56] A-Pai commented on #30668
感谢耐心指导

[2021-01-23 11:57] A-Pai commented on #30667
可否给个完整的示例--与不这样做有对比

[2021-01-23 12:03] vslyu commented on #30666
参见https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/distribution/Categorical_cn.html#categorical
![image](https://user-images.githubusercontent.com/12137504/105577676-0c7ece00-5db6-11eb-96a0-73947caa58e8.png)

[2021-01-23 12:18] btobab opened #30669 "关于fluid.data的shape的维度问题"
![QQ图片20210123201208](https://user-images.githubusercontent.com/66876429/105577964-e35f3d00-5db7-11eb-947e-0c20f5256de2.png)
这是NLP项目，这里的data的shape=[1]和label的shape=[1]有什么区别，data是词向量，label是一个int，分不清

[2021-01-23 12:20] IamDestiny commented on #30669
![QQ图片20210123201208](https://user-images.githubusercontent.com/66876429/105578055-726c5500-5db8-11eb-8591-d6eef6eb4112.png)

[2021-01-23 12:26] vslyu commented on #30669
公司代理挂了，我现在看不到你发的图片，可否用文字说下？~

[2021-01-23 12:46] pangyoki commented on #30666
Categorical的log_prob会返回输入下标对应的概率的log值。且会根据输入的维度做broadcast，你输入维度是[8]的话，会自动broadcast成[8,8]。也就是对一个batch中的每个样本都查找一次概率。
可以尝试下面的代码，看能不能满足你的需求？

[code]

[2021-01-23 13:26] A-Pai opened #30670 "2.0rc1的文档做的其实很不错"
2.0rc1的文档做的其实很不错，对于初学者，要反复地看，循环地看，带着问题看！特别是通过issue，还有直接的帮助！衷心地表示感谢，这是我们的国货，希望百度坚持下去，在深度学习、人工智能方面占据重要的地位。

[2021-01-24 01:35] A-Pai opened #30672 "paddle.jit，其中的jit是什么意思？"
paddle.jit，其中的jit是什么意思？--是什么的缩写？

[2021-01-24 05:22] vslyu commented on #30670
谢谢鼓励，我们会再接再厉，也欢迎你在日常工作学习生活中推广paddle2.0

[2021-01-24 05:26] pangyoki commented on #30672
paddle.jit下主要是与动转静有关的功能，jit是 `just in time` 的缩写，即时编译技术。

[2021-01-24 05:38] btobab commented on #30669
data = fluid.layers.data(name="words", shape=[1], dtype="int64", lod_level=1)
label = fluid.layers.data(name="label", shape=[1], dtype="int64")
这里data和label的shape都是[1],有什么区别丫
这是个NLP项目，data表示一个词向量，label是一个int的标签

[2021-01-24 07:03] A-Pai commented on #30672
好的，明白了

[2021-01-24 07:25] vslyu commented on #30669
参见 fluid.layers.data的API，你可以把data和label打印出来看看，https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/fluid/data_cn.html#data ，shape为[-1,1]，前面的-1表示为可变的batchsize。 data和label从模型角度来看，data是样本原始数据，label是人为标记的标签
[code]

[2021-01-24 08:26] A-Pai opened #30674 "项目https://github.com/PaddlePaddle/book中的ipynb文件没有克隆到AI Studio，何故？"
我把项目：https://github.com/PaddlePaddle/book
folk到gitee，在AI Studio中克隆：!git clone https://gitee.com/lg21c/book.git
但是发现“paddle2.0_docs”子文件夹是空的--其中的ipynb文件没有克隆下来，何故？

[2021-01-24 08:39] pangyoki commented on #30674
我在开发机上 `git clone https://gitee.com/lg21c/book.git`是没有问题的，你在AI studio中clone时显示clone完成了吗？直接clone `https://github.com/PaddlePaddle/book`会有问题吗？

[2021-01-24 08:55] A-Pai commented on #30674
1、在AI studio中clone时显示clone完成，https://gitee.com/lg21c/book.git中“paddle2.0_docs”子文件夹是有ipynb文件的
2、直接clone https://github.com/PaddlePaddle/book很慢
3、难道说AI studio会屏蔽掉ipynb文件？

[2021-01-24 08:57] pangyoki commented on #30674
会不会是网络问题？你是内网环境吗，设置一下代理试试？我挂代理clone PaddlePaddle下的book库也很快

[2021-01-24 09:21] A-Pai commented on #30674
我用的中国移动的网，你用AI Studio试了吗？

[2021-01-24 10:03] pangyoki commented on #30674
我问下AI Studio的同学哈，我这边用内网的开发机和电信网下载都是没问题的。

[2021-01-24 10:04] pangyoki commented on #30674
你也可以试下不用AI studio的环境，直接clone看会不会出现一样的问题哈？也有可能是网络问题

[2021-01-24 10:45] #30350 closed, assigned to cryoco

[2021-01-24 11:01] A-Pai commented on #30674
网络的可能性低

[2021-01-24 11:02] A-Pai commented on #30667
请给个完整的例子，以后都可以参照使用

[2021-01-24 11:14] A-Pai commented on #30674
在我的pc上clone是好的--paddle2.0_docs”子文件夹有ipynb文件的

[2021-01-24 11:17] pangyoki commented on #30674
好的 ，已经联系AI studio的同学了，有结论会尽快回复哈。

[2021-01-24 11:36] vslyu commented on #30667
参看dataloder的示例代码，DataParallel的接口是多卡加速用的，单卡使用可暂不考虑。可以考虑把from_generator里面的use_multiprocess置为True，可以达到加速的效果，另外，可根据实际情况设置capacity和use_double_buffer的布尔值。 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/io/DataLoader_cn.html#dataloader；
[code]

[2021-01-24 13:24] A-Pai commented on #30667
这个代码可以在AI Studio的2.0rc1高级版中运行？有报错，我想在该环境中尝试，以后想充分利用AI Studio的2.0rc1高级版的gpu