[2021-01-24 14:35] pangyoki commented on #30674
咨询了AI studio的同学，AI studio里的ipynb是被特殊保护的，以避免误删，因此ipynb都是被隐藏的。其实clone同步了，但是被隐藏起来了。

[2021-01-24 14:54] A-Pai commented on #30674
那怎么办？--想利用AI Studio跑github中的ipynb

[2021-01-24 15:54] btobab commented on #30669
好的，明白了

[2021-01-25 01:06] A-Pai opened #30678 "2.0rc1“数据集定义与加载”文档似乎有问题"
2.0rc1“数据集定义与加载”文档
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/guides/02_paddle2.0_develop/02_data_load_cn.html
实现为项目https://aistudio.baidu.com/aistudio/projectdetail/1437925
按照所说的“# 如果要加载自定义数据集，将train_dataset 换为 train_dataset2即可”
运行cell：
train_loader = paddle.io.DataLoader(train_dataset2, batch_size=2, shuffle=True)
for batch_id, data in enumerate(train_loader()):
    x_data = d

[2021-01-25 01:16] yeyupiaoling commented on #30666
@pangyoki 好的，谢谢。

[2021-01-25 01:16] #30666 closed, assigned to vslyu

[2021-01-25 01:16] tucker666 commented on #30622
谢谢，在其他服务器上也没有以上问题，应该是服务器环境配置的问题

[2021-01-25 01:16] #30622 closed, assigned to JZ-LIANG

[2021-01-25 01:41] yeyupiaoling commented on #30664
@vslyu 我们的model 就是一个普通的卷积网络，结构如下。print打印是一大堆Tensor。
[code]

[2021-01-25 01:43] yeyupiaoling commented on #30634
@JZ-LIANG 有没有不需要转换为numpy的操作呢？

[2021-01-25 01:43] A-Pai opened #30679 "2.0rc1的vflip文档有问题"
2.0rc1的vflip文档有问题
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/api/paddle/vision/transforms/functional/vflip_cn.html
点开之后是关于“hflip”的，这种低级错误少犯，否则影响对飞桨的信任

[2021-01-25 02:48] wanghuancoder commented on #30679
非常感谢您的反馈！您的批评有道理！我们立即修正！再次感谢~

[2021-01-25 03:02] #30495 closed, assigned to iclementine

[2021-01-25 03:44] luotao1 commented on #30656
@lidanqing-intel 可以把`ernie/mkldnn/README.md`原来内容删了，放上`
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/mkldnn_quant`的链接和相应的说明即可。类似`https://github.com/PaddlePaddle/Paddle/tree/develop/doc`的说明

[2021-01-25 03:54] vslyu commented on #30664
逐层归一化参数不行吗？

[2021-01-25 04:00] yeyupiaoling commented on #30664
@vslyu 归一化？不是不要归一化，我要的是使用这个函数clip_by_norm裁剪

[2021-01-25 04:02] luotao1 opened #30681 "mkldnn_inplace_pass problem set"
Currently, mkldnn_inplace_pass is disabled on both windows and linux:
- windows: ResNet50_vd, HRNet_W18_C, and SE_ResNeXt50_vd_32x4d report errors #29710
- linux: SE_ResNeXt50_vd_32x4d report errors https://github.com/PaddlePaddle/Paddle/issues/29506#issuecomment-763451098
   - The models contain long sequences of elementwise_add and relu operators. The sequences are too long for the mkldnn_inplac

[2021-01-25 04:05] luotao1 commented on #29710
Close this issue since we use #30681 to track the mkldnn_inplace_pass problem.

[2021-01-25 04:05] #29710 closed, assigned to lidanqing-vv

[2021-01-25 04:11] luotao1 commented on #22476
close due to #29772

[2021-01-25 04:11] #22476 closed, assigned to nobody

[2021-01-25 04:12] luotao1 commented on #19655
Close due to we don't maintain Ngraph now.

[2021-01-25 04:12] #19655 closed, assigned to baojun-nervana

[2021-01-25 04:13] #21297 closed, assigned to nobody

[2021-01-25 04:30] luotao1 commented on #29506
@wojtuss @jczaja Please cherry-pick #30588 to release/2.0, @JiaXiao243 test it solves the `SE_ResNeXt50_vd_32x4d` crash.

[2021-01-25 05:19] heavengate commented on #30678
您好，当前rc1版本的DataLoader还不支持str这种数据类型，只支持numpy array的数据类型，对于str dict这种数据类型我们正在开发支持中

[2021-01-25 05:37] TCChenlong commented on #30678
您好，这个地方的案例写的是有一些问题，我们稍后会做改正，感谢指出~

[2021-01-25 05:42] 123malin commented on #30652
@E100chassis 那你CrossEntropyCriterion是怎么调用的呢，传的label是什么呢？

[2021-01-25 06:35] vslyu commented on #30664
逐层clip_by_norm裁剪不行吗？～
[code]

[2021-01-25 06:49] A-Pai opened #30683 "“暴漏”是什么意思？---给自定义的数据集类暴漏一个构造参数"
文档https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/guides/02_paddle2.0_develop/03_data_preprocessing_cn.html

“给自定义的数据集类暴漏一个构造参数”---“暴漏”是什么意思？是术语？

[2021-01-25 07:10] juncaipeng opened #30684 "[MKLDNN] Add MKLDNN hard_swish"
Add MKLDNN hard_swith to improve the performance of OCR detection and recognition model.

Download OCR detection demo(Link:https://dubox.com/s/1Z_63JJtzZS_1ghKYyeTtMQ Password:99vy) and refer to the readme.

OCR recognition demo can be downloaded from #28578 and only consider the fp32 model.

[2021-01-25 07:32] A-Pai opened #30685 "Model.evaluate()返回格式是一个字典，看不懂"
文档https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/guides/02_paddle2.0_develop/05_train_eval_predict_cn.html
中的“1.3 用Model.evaluate()评估模型”讲到：
返回格式是一个字典： * 只包含loss，{'loss': xxx} * 包含loss和一个评估指标，{'loss': xxx, 'metric name': xxx} * 包含loss和多个评估指标，{'loss': xxx, 'metric name': xxx, 'metric name': xxx}

---这个返回的字典可以有三种？怎么设置选择？

关于该api的文档https://www.paddlepaddle.org.cn/documentation/docs/zh/2

[2021-01-25 07:53] wanghuancoder commented on #30685
返回的是个字典，字典里会有多个数据，具体有多少个，不同的模型返回的不一样，是动态的。

[2021-01-25 07:57] A-Pai commented on #30685
明白了，谢谢

[2021-01-25 09:46] A-Pai opened #30688 "可否为做一个项目方便理解和学习？--2.0rc1在Python脚本中启动VisualDL面板"
2.0rc1在Python脚本中启动VisualDL面板，文档https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc1/guides/03_VisualDL/visualdl.html
中的介绍比较零碎，初学者难以理解和把握，可否为做一个相关项目方便理解和学习？其实计算机编程学习很重要的是模仿

[2021-01-25 09:50] A-Pai commented on #30688
做一个相关项目--完整的可以实际运行的例子

[2021-01-25 09:51] #26768 closed, assigned to nobody

[2021-01-25 10:12] heavengate commented on #30683
感谢反馈，我们修改下~

[2021-01-25 10:27] A-Pai commented on #30688
最好是AI Studio的项目

[2021-01-25 10:37] wanghuancoder commented on #30688
非常感谢您的建议！我们将尽快转达到负责该模块的同学手中！

[2021-01-25 10:41] A-Pai commented on #30688
翘首以待

[2021-01-25 11:12] #30685 closed, assigned to TCChenlong, wanghuancoder

[2021-01-25 11:13] #30683 closed, assigned to heavengate, wanghuancoder

[2021-01-25 11:13] #30679 closed, assigned to wanghuancoder

[2021-01-25 11:13] #30678 closed, assigned to heavengate, wanghuancoder

[2021-01-25 11:55] YixinKristy commented on #30688
@lg21c VisualDL的使用说明可以参考：https://github.com/PaddlePaddle/VisualDL/blob/develop/docs/components/README.md
另外AI Studio上有很多项目，可以参考：
官方项目：https://aistudio.baidu.com/aistudio/projectdetail/622772
开发者项目：
1. 使用 VisualDL 助力遥感影像地块分割（PaddleSeg 篇）：https://aistudio.baidu.com/aistudio/projectdetail/1240371?channelType=0&channel=0
2. 使用VisualDL可视化模型：PSPNet：https://aistudio.baidu.com/aistudio/projectdetail/12854

[2021-01-25 12:00] YixinKristy commented on #30688
VisualDL的使用说明可以参考：https://github.com/PaddlePaddle/VisualDL/blob/develop/docs/components/README.md
另外AI Studio上有很多项目，可以参考：
官方项目：https://aistudio.baidu.com/aistudio/projectdetail/622772
开发者项目：

使用 VisualDL 助力遥感影像地块分割（PaddleSeg 篇）：https://aistudio.baidu.com/aistudio/projectdetail/1240371?channelType=0&channel=0
使用VisualDL可视化模型：PSPNet：https://aistudio.baidu.com/aistudio/projectdetail/1285464?channelTy

[2021-01-25 12:18] A-Pai commented on #30683
有什么问题吗？是术语？

[2021-01-25 12:23] A-Pai commented on #30688
其实我关心的核心是“2.0rc1在Python脚本中启动VisualDL面板”----在Python脚本中启动，不是手工打开VisualDL面板

--不过上边给出的项目有综合的参考价值，以后我也会先去搜索以下AI Studio上项目，thanks all the same

[2021-01-25 12:30] A-Pai commented on #30688
另外问一下，issue会被close，是什么用意？

[2021-01-25 13:48] A-Pai commented on #30667
可以提供**在AI Studio的2.0rc1高级版大幅度提升gpu利用率**的例子代码吗？

[2021-01-26 02:50] luotao1 commented on #30560
We don't have BF16 Optimizer and training interface. But you can refer to static fp16 training interface: https://github.com/PaddlePaddle/models/blob/release/2.0-beta/PaddleNLP/benchmark/bert/run_pretrain_single.py#L241
[code]
Besides, maybe you should provide `enable_mkldnn` interface instead of `FLAGS_use_mkldnn` (see #27935)

[2021-01-26 02:53] wanghuancoder commented on #30688
您新的问题我们已收到，将安排相关同学尽快给您解答

[2021-01-26 02:54] wanghuancoder commented on #30688
通常一个issue的话题结束我们会关闭issue，我们误认为这是一条提建议的issue，沟通完毕后就关闭了。

[2021-01-26 02:55] YixinKristy commented on #30688
基于2.0的教程也是有的：https://aistudio.baidu.com/aistudio/projectdetail/1321602
这个看是否解决你的问题？

[2021-01-26 02:57] juncaipeng commented on #30349
@kasyoukin 有新的进展更新吗？

[2021-01-26 03:06] whut09 opened #30742 "视频模型videotag_tsn_lstm使用预测框架create_paddle_predictor运行闪退"
欢迎您反馈PaddleHub使用问题，非常感谢您对PaddleHub的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleHub和PaddlePaddle版本：
PaddleHub1.8.3，
PaddlePaddle1.8.5
2）系统环境：
windows7
python3.7
paddle 1.8.5
- 复现信息：如为报错，请给出复现环境、复现步骤

使用paddlehub中的视频流标签模型videotag_tsn_lstm本身运行正常，由于想用cpu部署，使用create_paddle_predictor开启mkldnn部署运行直接闪退，没有任何提示和错误，必现

使用create_paddle_predictor的闪退代码（该代码运行其他paddle模型正常）：
`class PaddleBackend():
    def init(sel

[2021-01-26 03:13] #18464 closed, assigned to heavengate, chengduoZH

[2021-01-26 03:13] #22040 closed, assigned to Aurelius84

[2021-01-26 03:13] #22128 closed, assigned to nobody

[2021-01-26 03:13] #22178 closed, assigned to nobody

[2021-01-26 03:13] #22244 closed, assigned to phlrain

[2021-01-26 03:13] #22249 closed, assigned to nobody

[2021-01-26 03:13] #22260 closed, assigned to wzzju

[2021-01-26 03:13] #22261 closed, assigned to wzzju

[2021-01-26 03:13] #22282 closed, assigned to luotao1, wzzju

[2021-01-26 03:13] #22285 closed, assigned to nobody

[2021-01-26 03:13] #22298 closed, assigned to nobody

[2021-01-26 03:13] #22306 closed, assigned to nobody

[2021-01-26 03:13] #22320 closed, assigned to sneaxiy

[2021-01-26 03:13] #22336 closed, assigned to cryoco

[2021-01-26 03:13] #22342 closed, assigned to xyzhou-puck

[2021-01-26 03:33] w5688414 opened #30694 "RuntimeError: (PreconditionNotMet) Cannot load cudnn shared library. Cannot invoke method cudnnGetVersion."
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0 rc
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：Tesla V100-SXM2,cuda 10.2, driver 440.64.00
    4）系统环境：centos 7
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/b

[2021-01-26 03:58] Joejiong commented on #30694
FLAGS_call_stack_level=2，可以把c++报错开启一下，在贴一些信息

[2021-01-26 04:02] A-Pai commented on #30674
没有办法了？只能这样用？--想利用AI Studio跑github中的ipynb，图谋不能实现？

[2021-01-26 04:06] A-Pai commented on #30667
请指导，这对于推广使用AI Studio和吸引大家关注飞桨有重大意义，很多人是冲着AI Studio的强大免费算力使用飞桨的

[2021-01-26 06:07] #24461 closed, assigned to wojtuss

[2021-01-26 06:10] lidanqing-vv commented on #30681
@luotao1 目前的develop代码中，Jacek 已经注释掉了mkldnn_inplace_pass
我们打算以后打算像fc那样，默认关闭，有需要再打开，上面那两个问题应该不会出现了吧？

[2021-01-26 06:12] lidanqing-vv commented on #30684
PR #30211

[2021-01-26 06:43] lonelydancer opened #30696 "试图改ernie-1.0的代码做对话生成任务，但是运行过程中出core"
你好，我试图改ernie-1.0的代码做对话生成任务，但是运行过程中出core。
大致判断是喂数据后，在finetune/chitchat.py的 enc_out = ernie.get_sequence_output()出错。
找不到具体原因，另外debug只会Print，不知道如何精确追查问题。

代码地址：https://github.com/lonelydancer/chitchat

- 版本、环境信息：
    1）PaddlePaddle版本：1.7.2
    2）GPU：teslak80、CUDA version: 10.1.243  cuDNN:8.0.2
    4）系统环境：OS: Ubuntu 18.04 Python version: 2.7.17
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddl

[2021-01-26 06:52] vslyu commented on #30667
好的，可以同步下你的环境和demo吗？～

[2021-01-26 06:54] Angus07 opened #30699 "多机训练中偶发性出core"
在paddlecloud上跑的，
环境是
image_addr="registry.baidu.com/nlp-du/paddlecloud-paddlev1.8.3:gpu-py37-cuda10.0_cudnn7_full_rouge_env"

错误信息如下：
`/opt/_internal/cpython-3.7.0/lib/python3.7/site-packages/paddle/fluid/executor.py:1070: UserWarning: The foll
owing exception is not an EOF exception.

  "The following exception is not an EOF exception.")

Traceback (most recent call last):

  File "./src/pretrain

[2021-01-26 07:10] juncaipeng commented on #30656
@lidanqing-intel  You can add Ernie int8 demo and doc to  [PaddleInference](https://paddle-inference.readthedocs.io/en/latest/#).

![image](https://user-images.githubusercontent.com/52520497/105812212-b645a100-5fe8-11eb-8797-6df2551d9841.png)

[2021-01-26 07:14] A-Pai commented on #30667
什么意思？飞桨2.0rc1、AI Studio的高级版

[2021-01-26 07:18] Joejiong commented on #30699
你好，请用：
code block
调整一下你的报错，不太看的清；
请把你的环境信息，也贴一下方便定位；
另外，请问运行的是哪一个paddle套件，进行训练的时候出core，麻烦贴一下可以复现的代码。

[2021-01-26 07:19] weiexcelpro commented on #30674
其他的部分正常同步, ipynb单独下载, 然后通过notebook菜单里面的"导入ipynb", 来上传, 即可

[2021-01-26 07:32] Angus07 commented on #30699
1.代码已调整
2.环境信息已贴
3.由于是多机训练，成本较高，且是偶发。单机的情况下没有发现该问题。目前我根据错误信息，难以定位到是哪一部分代码出错，是否将所有代码提供给你？

[2021-01-26 07:35] Joejiong commented on #30699
用```多行block，改一下，谢谢，
然后，这个是你们自己写的代码是吧，你可以贴部分，如果不涉及商业也可以直接贴出来，谢谢

[2021-01-26 07:41] Angus07 commented on #30699
我又改了一下，现在是否能看清？
是自己写的代码，代码量很大，且涉及商业，为何不私下提供？

[2021-01-26 07:43] Joejiong commented on #30699
OK，我以为是外部用户

[2021-01-26 07:47] lidanqing-vv commented on #30560
Luotao means that we should better not use global variable anymore.

[2021-01-26 08:02] #29080 closed, assigned to jczaja, wozna, lidanqing-vv

[2021-01-26 08:04] luotao1 commented on #30681
可以默认关闭，这样上面几个问题就不会出现了。

[2021-01-26 08:04] #30681 closed, assigned to jczaja, wojtuss, lidanqing-vv

[2021-01-26 08:05] A-Pai commented on #30674
不是好办法

[2021-01-26 08:53] w5688414 commented on #30694
我把cuda 10.2的路径加入到bashrc文件里面之后就好了，谢谢了哈
[code]
应该是cuda啥的没有检测到的原因

[2021-01-26 08:54] Sunny-wuhan opened #30701 "使用高层API构建DNN、LSTM模型Loss跳动太厉害，tensorflow比较稳定，是否参数问题？"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0
    2）GPU：AI studio 资源
项目：https://aistudio.baidu.com/aistudio/projectdetail/1467150
![微信截图_20210126164925](https://user-images.githubusercontent.com/53201500/105822024-7e455a80-5ff6-11eb-8015-e76ed5c711c6.png)
tensorflow模拟了LSTM模型，模型的Loss很稳定，每次Batch的loss差不多都是0.7~0.9
模型：
[Desktop.zip](https://github.com/PaddlePaddle/Paddle/files/5872191/Desktop.zip)
![微信截图_2021012

[2021-01-26 08:57] Joejiong commented on #30694
done

[2021-01-26 08:58] Joejiong commented on #30701
谢谢你的建议

[2021-01-26 09:04] arogowie-intel opened #30702 "GraphPatternDetector intermediate nodes."
Hi,

I am detecting following subgraph with GraphPatterDetector:
[code]

All the nodes apart the ones marked as "(input)" in above sketch and the output of last `elementwise_add` will be removed from graph. So I thought that I can mark all of the inner nodes as `Role::kIntermediate`. However, this not valid situation as per [`GraphPatternDetector::ValidateByNodeRole`](https://github.com/PaddlePadd

[2021-01-26 09:12] lidanqing-vv commented on #30684
@juncaipeng   hard_swish in oneDNN is not merged yet. Usually oneDNN team have one update every two weeks.

[2021-01-26 09:12] yeyupiaoling commented on #30664
也可以。

[2021-01-26 09:12] #30664 closed, assigned to vslyu

[2021-01-26 09:25] whut09 commented on #30742
模型是paddlehub下载的后重新保存的推理模型，
`                fluid.io.save_inference_model(
                    dirname='weights',
                    feeded_var_names=['image'],
                    target_vars=extractor_fetch_list,
                    executor=exe,
                    model_filename='tsn_model',
                    params_filename='tsn_params')
`
自己重写了业务调用流程，模型没有问题，主要是想用paddle.inference中的mkldnn加速

[2021-01-26 09:39] jczaja commented on #29037
thanks

[2021-01-26 09:39] #29037 closed, assigned to luotao1

[2021-01-26 09:42] MrChengmo opened #30706 "使用dev预测库 + 185模型压测出core"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-01-26 09:50] jczaja commented on #20614
merged

[2021-01-26 09:50] #20614 closed, assigned to grygielski

[2021-01-26 09:50] jczaja commented on #20615
we track this internally

[2021-01-26 09:50] #20615 closed, assigned to nobody

[2021-01-26 09:50] jczaja commented on #21737
tracked internally

[2021-01-26 09:50] #21737 closed, assigned to nobody

[2021-01-26 09:50] jczaja commented on #22396
tracked internally

[2021-01-26 09:50] #22396 closed, assigned to nobody

[2021-01-26 09:51] jczaja commented on #22477
done

[2021-01-26 09:51] #22477 closed, assigned to nobody

[2021-01-26 09:51] jczaja commented on #22539
merged

[2021-01-26 09:51] #22539 closed, assigned to nobody

[2021-01-26 09:52] githubchange opened #30707 "多batchsize预测问题"
在使用paddle c++预测库时，多batchsize预测遇到问题：
目前ppyolo预测代码：
  ....
  std::vector<float> val(4 * 3 * 608 * 608);
  auto input_names = predictor_->GetInputNames();
  for (const auto& tensor_name : input_names) {
    auto in_tensor = predictor_->GetInputTensor(tensor_name);
    if (tensor_name == "image") {
      int rh = inputs_.eval_im_size_f_[0];
      int rw = inputs_.eval_im_size_f_[1];
      in_tensor->R

[2021-01-26 09:52] jczaja commented on #23073
low priority for now

[2021-01-26 09:52] #23073 closed, assigned to nobody

[2021-01-26 09:52] jczaja commented on #23133
merged

[2021-01-26 09:52] #23133 closed, assigned to nobody

[2021-01-26 09:53] jczaja commented on #23135
currently focusing on single node training (bf16).

[2021-01-26 09:53] #23135 closed, assigned to nobody

[2021-01-26 09:53] jczaja commented on #24328
mkldnn_inplace pass is disabled so no need to work on this

[2021-01-26 09:53] #24328 closed, assigned to luotao1

[2021-01-26 09:54] jczaja commented on #27547
thanks

[2021-01-26 09:54] #27547 closed, assigned to luotao1

[2021-01-26 09:55] jczaja commented on #20898
tracked internally

[2021-01-26 09:55] #20898 closed, assigned to nobody

[2021-01-26 09:56] #23134 closed, assigned to nobody

[2021-01-26 10:01] jczaja commented on #18729
tracked internally

[2021-01-26 10:01] #18729 closed, assigned to nobody

[2021-01-26 10:05] jczaja commented on #20145
tracked internally

[2021-01-26 10:05] #20145 closed, assigned to nobody

[2021-01-26 10:07] jczaja commented on #22712
tracked internally

[2021-01-26 10:07] #22712 closed, assigned to wojtuss

[2021-01-26 10:10] jczaja commented on #22407
tracked internally

[2021-01-26 10:10] #22407 closed, assigned to nobody

[2021-01-26 10:15] jczaja commented on #23070
tracked internally

[2021-01-26 10:15] #23070 closed, assigned to nobody

[2021-01-26 10:19] jczaja commented on #19977
tracked inernally

[2021-01-26 10:19] #19977 closed, assigned to nobody

[2021-01-26 10:22] jczaja commented on #18842
tracked internally

[2021-01-26 10:22] #18842 closed, assigned to jczaja

[2021-01-26 10:28] lidanqing-vv commented on #30684
oneDNN team said hard swish is already merged on gitlab (internal oneDNN repo) , so it is matter of when they have next public release. We are still asking.

[2021-01-26 10:42] jczaja commented on #30684
oneDNN team just released hard-swish . So now we just need to modify our PR with hard-swish support to use newer oneDNN and test it. Hopefully we will be doing this within next few days.

[2021-01-26 11:25] wojtuss commented on #29506
@luotao1 , done: https://github.com/PaddlePaddle/Paddle/pull/30710

[2021-01-26 11:42] starsblinking opened #30712 "fleetrun不能正确判断fleet.is_first_worker?"
test_env.py源码如下：

import paddle
import paddle.distributed.fleet.base.role_maker as role_maker
from paddle.distributed.fleet import fleet

paddle.enable_static()
paddle_cloud_role_maker = role_maker.PaddleCloudRoleMaker()
fleet.init(paddle_cloud_role_maker)

if fleet.is_server():
    print("I'm server")
elif fleet.is_worker():
    print("I'm worker")
    if fleet.is_first_worker:
        print("I'm

[2021-01-26 11:58] starsblinking commented on #30712
不知道为啥，代码缩紧的空格展示不了，但编辑时又有，有人指导下如何显示空格吗...

[2021-01-26 12:39] starsblinking commented on #30712
多谢fleet同学～is_first_worker后面需要加上括号

[2021-01-26 12:39] #30712 closed, assigned to Joejiong

[2021-01-26 12:48] AoZhang opened #30713 "DataLoader 中如何设置不对 collate_fn 的输出做检查和转换"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0-rc1
    2）CPU：-
    3）GPU：v100 cuda 10.1
    4）系统环境：CentOS 7.5

- 问题描述：开发 DataLoader 时自定义了 collate_fn 函数，返回的是一个 dict，包含 <name、data> 对。paddle 会对 collate_fn 的输出做检查和转换，发现不是标准 Tensor 就报错了。如何设置让 DataLoader 直接返回 collate_fn 的结果。

尝试了设置 batch_size = None, batch_sampler=None，依然不能解决问题。

- 报错信息如下

[code]

- 可复现的代码
[code]

[2021-01-26 12:57] Joejiong commented on #30713
好的，收到正在查看

[2021-01-26 13:04] Joejiong commented on #30713
有简单复现的代码吗。可以贴一下

[2021-01-26 14:16] AoZhang commented on #30713
上边贴出来了。随便定义个 Dataset 即可。

[2021-01-26 16:21] wojtuss commented on #30309
@juncaipeng ,
A PR with a fix is submitted: https://github.com/PaddlePaddle/Paddle/pull/30723.

[2021-01-27 01:51] yeyupiaoling opened #30724 "windows编译PaddlePaddle 1.8失败"
- Windows 10 64bit
 - Visual Studio 2017
 - cmake 3.10
 - release/1.8

错误信息，这只是一小部分。
[code]

[2021-01-27 02:00] haoyuying commented on #30742
您好，请把您重写的脚本和测试的脚本完整发给我们，方便复现问题，或者提供aistudio环境给我们，这样能更好的定位问题。

[2021-01-27 02:40] jtyoui opened #30725 "执行scripts/musl_build/build_paddle.sh -j8报错"
我正在编译docker alpine docker，在执行` ../paddle/scripts/musl_build/build_paddle.sh -j8`这条命令每次运行到这里就失败了。请问是什么原因。

[code]

[2021-01-27 03:11] HXia-XXL opened #30728 "2.0RC1版本 加载权重文件报错。"
使用AI Studio 2.0rc1版本，训练完成后，保存参数文件
`paddle.save(net.state_dict(), 'weight.pdparams')`
然后，在测试时候，使用`paddle.load() `导入参数文件：
[code]
报错：
[code]
参数文件正常大小300多M，前一次由于只保存到170M参数文件导致加载失败，这次的参数文件有300多M，与正常大小接近。
请问是加载方式有问题吗？？谢谢！

[2021-01-27 03:46] whut09 commented on #30742
重写的有点多，都是业务逻辑，和这个问题没有关系，您就试试create_paddle_predictor能否运行videotag_tsn_lstm就可以了，我想用create_paddle_predictor的mkldnn运行模型，paddlehub模型是否支持mkldnn加速？

[2021-01-27 07:08] lidanqing-vv commented on #30560
Hi, @luotao1 What is the compiling option to run the recommender models? I have this error when I run the train.py
[code]
My option is
[code]

Update
[code]

[2021-01-27 07:50] lidanqing-vv opened #30731 "Prepare GRU demo and doc"
@lidanqing-intel  Prepare GRU doc and demo, and move BF16 and Ernie doc to Paddle-inference

[2021-01-27 07:51] wojtuss commented on #28578
@juncaipeng , I am closing this issue. Feel free to reopen it if needed.

[2021-01-27 07:51] #28578 closed, assigned to wojtuss, juncaipeng

[2021-01-27 08:08] #29506 closed, assigned to wojtuss, lidanqing-vv

[2021-01-27 08:19] #12192 closed, assigned to Superjomn, luotao1, jczaja, tensor-tang, mozga-intel

[2021-01-27 08:19] #14040 closed, assigned to nobody

[2021-01-27 08:42] luotao1 commented on #30560
@lidanqing-intel You should use `-DWITH_DISTRIBUTE=ON`.
Besides, discussed with @MrChengmo, above models are published in https://github.com/PaddlePaddle/PaddleRec/tree/master/models
- rank/dnn, rank/wide_deep, recall/word2vec: These three models are already tested by QA
- rank/deepfm: Still developing.

How to run `rank/dnn`, please see https://github.com/PaddlePaddle/Perf/tree/master/CtrDnn

[2021-01-27 09:33] Joejiong commented on #30696
你好，如果是厂内可以在ernie用户群提问，如果是外部，可以到ernie 套件 repo，提问。

[2021-01-27 09:34] Joejiong commented on #30701
@LielinJiang 可以帮忙看下吗高层api的问题。

[2021-01-27 09:40] Joejiong commented on #30707
好的，正在查看

[2021-01-27 09:41] Joejiong commented on #30707
你好，目前pp-yolo模型，还在对齐预测库，由@github.com/Leonardo-Ding 预测同学对接，谢谢

[2021-01-27 10:05] lonelydancer commented on #30696
@Joejiong 最后发现是input_mask的类型不对，应该是fp32.请问如何从这个core信息看出来和这个相关呢。

[2021-01-27 11:19] haoyuying commented on #30742
您好，这个问题涉及到的是飞桨预测库的使用问题，建议您将issue反馈到预测库同学帮你定位闪退问题。https://github.com/PaddlePaddle/Paddle

[2021-01-27 11:32] MrChengmo commented on #30706
该问题已解决，将预测库版本回退到1.8.5之后正常

[2021-01-27 11:32] #30706 closed, assigned to MrChengmo

[2021-01-27 12:19] GreenValue opened #30734 "c++预测API（AnalysisPredictor）预测时，如何指定使用VGG19推理模型中的conv5_4层？如果才能使预测结果维度为512（512个float）？"
- 版本、环境信息：

1）PaddlePaddle版本：1.8.5
2）系统环境：nvidia_docker 1.8.5-gpu-cuda10.0-cudnn7
3）C++预测库：fluid_inference_c_install_dir# cat version.txt
GIT COMMIT ID:
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: ON
CUDA version: 10.0
CUDNN version: v7.6
CXX compiler version: 4.8.5
WITH_TENSORRT: ON
TensorRT version: v6
4）推理模型文件：https://paddle-lite.readthedocs.io/zh/latest/introduction/support_model_list.html
5）预测样列

[2021-01-27 12:32] pmajchrzak opened #30735 "Lower accuracy for the quantized mobilenetV1 and mobilenetV2 models."
Lower accuracy for the quantized mobilenetV1 and mobilenetV2 models.
recorded decrease:
[code]
was caused by PR:
[code]
command used:
`OMP_NUM_THREADS=28 FLAGS_use_mkldnn=true  python /repos/paddle_paddle/python/paddle/fluid/contrib/slim/tests/quant2_int8_image_classification_comparison.py  --infer_data=/data/PaddlePaddle/1G/imagenet/val.bin --quant_model=/data/PaddlePaddle/trained_models/QAT_mode

[2021-01-27 12:32] GreenValue commented on #30068
我写的函数
// |filename|:image path
bool readImage(const string& filename,
  const int height, const int width, const bool is_color) {
  // read file to open cv mat
  cv::Mat cv_img;
  int cv_read_flag = (is_color ? CV_LOAD_IMAGE_COLOR : CV_LOAD_IMAGE_GRAYSCALE);
  cv::Mat cv_img_origin = cv::imread(filename, cv_read_flag);
  if (!cv_img_origin.data) {
    LOG(ERROR) << "Could not open or find file " <

[2021-01-27 12:36] GreenValue commented on #30734
- 运行的log如下
root@ppress-202012:/paddle/sample/inference/build# ./mobilenet_test
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0127 12:33:19.593107 25038 analysis_predictor.cc:138] Profiler is deactivated, and no profiling report will be generated.
I0127 12:33:19.627172 25038 op_compatible_info.cc:201] The default operator required version is missing. Please update the model vers

[2021-01-27 16:54] paulpaul91 opened #30737 "多机多卡问题https://www.paddlepaddle.org.cn/tutorials/projectdetail/479613"
https://www.paddlepaddle.org.cn/tutorials/projectdetail/479613
使用多机多卡疑问，我现在单机上使用paddle.distributed.launch，被使用的每张卡都会单独开一个进程？
![image](https://user-images.githubusercontent.com/22076188/106025042-5abc0600-6103-11eb-9156-763af08479e4.png)

[2021-01-27 18:35] Derekglk commented on #13903
Hi qshi95,

这个问题解决了么？我加载一个__model__和__params__过后，想dump某个op出来的结果看看，就会报上边您说的这个错误。
谢谢。

[2021-01-27 22:25] FightingFighting opened #30739 "linux 集群 安装错误：安装没有报错，导入模块出问题"
- 版本、环境信息：
    1）PaddlePaddle版本：1.8.5
    3）GPU：CUDA：10.0.130， CUDNN：7.6.3
    4）系统环境：Linux、Python版本：2.7

- 安装方式信息：
1）pip安装

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
安装的时候没有报错，但是在我验证安装的时候（import paddle.fluid as fluid）却无法导入。得到以下错误：

TensorRT dynamic library (libnvinfer.so) that Paddle depends on is not configured correctly. (error code is libnvinfer.so: cannot open shared object file: No such file or di

[2021-01-28 02:14] nizhaoqiao commented on #30635
如果您指的是昇腾310做推理，目前有两种方式，一种是通过paddle2onnx，用onnx的方式进行部署；另一种是我们进行当中的原生支持，这个在开发中，目前主要能支持一些图像类模型。如果您方便的话可以将您希望支持的模型文件提供给我们，我们会放在排期中。

[2021-01-28 02:24] #26336 closed, assigned to MRXLT, jiweibo

[2021-01-28 03:13] rover5056 opened #30741 "请问下 fluid.io.save_inference_model，fluid.load/save 和 训练过程中产生的checkpoints，pretrained model和inference model的关系."
运行环境:
centos
python2
cuda9
paddle1.8.1

我想要把原来的一个101的resnet的checkpoints加载然后去除最后的fc层训练新的模型。现在遇到了一些困惑。。
1.我看到从checkpoints恢复模型使用的  fluid.load 加载的 ppcls.pdparams。这个checkpoint和pretrained model的区别是啥
2.有没有api可以直接从checkpoint转成pretrain model，还是可以直接修剪checkpoints
3.如果要实现修改/剪裁原checkpoint的网络模型，比如最简单的吧最后的fc的class_num 改一下,官方有木有推荐的实现

[2021-01-28 03:43] zhwesky2010 commented on #30737
@paulpaul91   对的，每张卡都会对应一个python进程，各自计算梯度，最后把不同卡上的梯度进行聚合操作

[2021-01-28 03:48] zhwesky2010 commented on #30739
@FightingFighting 您好，麻烦用 `find / -name libnvinfer.so` 在根目录下查找下这个libnvinfer.so，报错是说找不到这个动态库文件

[2021-01-28 07:11] dingjiaweiww opened #30747 "test"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：

#### API文档描述是否清晰？
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### 返回/形状说明是否清晰
如：API返回值、数据的形状描述错误、不清楚

#### 示例代码是否有效？
如：没有示例代码；示例代码没有可指导性；示例代码跑不通；示例代码格式有问题；示例代码没有注释；

#### 中英文内容是否一致？
如：中英文

[2021-01-28 07:11] dingjiaweiww commented on #30747
sss

[2021-01-28 07:11] #30747 closed, assigned to zhwesky2010

[2021-01-28 07:12] cap2hb opened #30748 "paddle1.8.5gpu paddleHub1.8.3 训练不报错，也不打印日志"
GPU的利用率一直在0~1之间徘徊。把训练数据减少到10条，依旧没有反应。程序一直停滞在：
C:\Users\Cap\miniconda3\envs\tf15\lib\site-packages\paddle\fluid\clip.py:779: UserWarning: Caution! 'set_gradient_clip' is not recommended and may be deprecated in future! We recommend a new strategy: set 'grad_clip' when initializing the 'optimizer'. This method can reduce the mistakes, please refer to documention of 'optimizer'.
  warnings.warn("Caut

[2021-01-28 07:17] cap2hb commented on #30748
代码是你们官方的实例：
from paddlehub.dataset.base_nlp_dataset import TextMatchingDataset
import paddlehub as hub
import os

class PointwiseDataset(TextMatchingDataset):
    # Pointwise数据集
    # 通过传入不同数据集文件夹，来使用不同数据集
    """
        bq_corpus = PointwiseDataset('data/bq_corpus', tokenizer=tokenizer, max_seq_len=max_seq_len)
        paws-x-zh = PointwiseDataset('data/paws-x-zh', tokenizer=tokenizer, max_seq_l

[2021-01-28 08:45] GreenValue commented on #30057
上面链接中VGG19是通过x2paddle转换的？还是自己训练出来的？
![image](https://user-images.githubusercontent.com/16701660/106112019-bc25b880-6187-11eb-81b7-36e480812027.png)

@qili93
x2paddle --framework=caffe --prototxt=VGG_ILSVRC_19_layers_deploy.prototxt --weight=VGG_ILSVRC_19_layers.caffemodel --save_dir=pd_model --paddle_type static

VGG_ILSVRC_19_layers.caffemodel：
[http://www.robots.ox.ac.uk/~vgg/software/very_deep/

[2021-01-28 08:55] zhouxiang93123 commented on #30739
请看这个https://github.com/PaddlePaddle/Paddle/issues/28218
应该是不影响使用的

[2021-01-28 09:40] TeslaZhao commented on #30724
看你编译的错误是下载依赖库失败了，可以开启代理，重新编译吗？

[2021-01-28 09:41] LutzWeischerFujitsu commented on #28581
Tried with a fresh install, latest protobuf, but make fails:
Scanning dependencies of target protoc
make[5]: Leaving directory '/data/jw/PaddlePaddle/build/third_party/protobuf/src/extern_protobuf-build'
make  -f CMakeFiles/protoc.dir/build.make CMakeFiles/protoc.dir/build
make[5]: Entering directory '/data/jw/PaddlePaddle/build/third_party/protobuf/src/extern_protobuf-build'
[ 99%] Building CXX o

[2021-01-28 09:41] yeyupiaoling commented on #30724
@TeslaZhao 国外的我都使用代理了，而且gitee有的我都代替了github，这是下载依赖库的原因吗？

[2021-01-28 09:49] #28327 closed, assigned to danleifeng

[2021-01-28 09:51] TeslaZhao commented on #30731
@lidanqing-intel  Are you reminding yourself?

[2021-01-28 10:29] zhwesky2010 commented on #30521
@starsblinking
1.参数都是persistable的，可能有非参数的普通variable也被是persistable，但是可以将参数设置为非persistable的
2.对的，都是别名的关系，static只能在静态图下用

[2021-01-28 10:38] TeslaZhao commented on #30734
您好，这个阶段是不能手动改组网中某一层维度，需要重新组网，训练模型才行。

[2021-01-28 10:47] TeslaZhao commented on #30725
机器的网络是否正常，有开代理吗，这里是下载gloo依赖包失败了

[2021-01-28 11:06] GreenValue commented on #30734
我用caffe抽特征（预测）时，可以指定获取某个层（如conv5_4）的featuremap，然后从featuremap中获取预测结果值（float值）。
但是paddle-inference 的AnalysisPredictor，怎么获取featuremap？

[2021-01-28 11:16] zhwesky2010 commented on #30739
@FightingFighting 你这个是warning信息吗？如果是warning信息就是没有影响的

[2021-01-28 11:21] FightingFighting commented on #30739
@zhouxiang93123 @zhouwei25 是我自己的锅，我没有手动导入cuda和cudnn，之前我以为安装成功了，就证明是有cudnn和cuda的，感谢了

[2021-01-28 11:33] zhwesky2010 commented on #30739
@@FightingFighting 这个是warning信息吗

[2021-01-28 11:38] TeslaZhao commented on #30724
看报错是下载的问题，建议删除build和third-party目录，重新编译试试

[2021-01-28 11:39] TeslaZhao commented on #30734
了解，AnalysisPredictor是无法拿到featuremap的

[2021-01-28 11:41] GreenValue commented on #30734
训练模型，是参照这里吗？
[https://www.paddlepaddle.org.cn/modelbasedetail/vgg](url)
class_dim就是预测值的维度吗？
![image](https://user-images.githubusercontent.com/16701660/106133029-ad4b0000-619f-11eb-84ad-714be38598bb.png)

VGG19_pretrained，从这里下载[https://paddle-imagenet-models-name.bj.bcebos.com/VGG19_pretrained.tar](url)
然后参数pretrained_model:设置为下载VGG19_pretrained的文件夹路径，就可训练了吗？

[2021-01-28 11:53] #29070 closed, assigned to wozna, lidanqing-vv

[2021-01-28 12:06] GreenValue commented on #30734
能拿到featuremap的predictor，有没有？

[2021-01-28 12:09] GreenValue commented on #30734
能拿到某个卷积层的featuremap的predictor，有没有？

[2021-01-28 12:14] TeslaZhao commented on #30734
拿不到的

[2021-01-28 12:15] TeslaZhao commented on #30734
您先验证下这个模型和您之前的模型是不是一致的，如果是的话，改class_dim就好

[2021-01-28 12:24] GreenValue commented on #30734
caffe可以拿到featuremap。 paddle inferenct predictor 却拿不到featuremap。
paddle处理中也有featuremap，只是没有拿featuremap的接口？
还是paddle处理中根本就没有featuremap，完全不一样的流程？

[2021-01-28 12:26] TeslaZhao commented on #30734
有featuremap，不对外暴露。和caffe的设计和流程不同

[2021-01-28 12:27] GreenValue commented on #30734
后续框架会升级能拿到featuremap吗？

[2021-01-28 12:29] GreenValue commented on #30734
因为featuremap是神经网络的核心部件。

[2021-01-28 13:02] chenwhql commented on #30728
看起来没有问题，容易复现吗？能否给个case或者环境

[2021-01-28 13:05] TeslaZhao commented on #30734
好的，我向产品和研发同学反馈一下。

[2021-01-28 13:11] FightingFighting commented on #30739
@zhouwei25 不知道，得的就是我贴出来的东西，也没说是不是warning

[2021-01-28 13:16] BelongAl opened #30759 "源码请教"
在paddle/fluid/framework/ir/subgraph_detector.cc 这个目录下有这个函数，它在①，②处把所有的node都排除了；这个函数的是做什么用的呢？或着是我看错了？求助!

[code]

[2021-01-28 15:51] #28854 closed, assigned to chenjiaoAngel

[2021-01-28 15:57] #28811 closed, assigned to haozech

[2021-01-28 15:57] #28813 closed, assigned to haozech

[2021-01-28 15:57] #28815 closed, assigned to haozech

[2021-01-28 15:57] #28817 closed, assigned to haozech

[2021-01-28 15:58] #28848 closed, assigned to chenjiaoAngel

[2021-01-28 15:58] #28849 closed, assigned to chenjiaoAngel

[2021-01-28 15:58] #28853 closed, assigned to chenjiaoAngel

[2021-01-28 16:10] zhwesky2010 commented on #30748
@cap2hb 您好，请问paddle安装对了吗？fluid.install_check.run_check() 有问题吗

[2021-01-28 16:17] biao321 opened #30761 "aistudio的Paddle 2.0rc环境关闭了吗，不能使用了？只有2.0.0版本"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2021-01-28 16:17] #30761 closed, assigned to nobody

[2021-01-28 16:18] biao321 opened #30762 "aistudio的Paddle 2.0rc环境关闭了吗，不能使用了？只有2.0.0版本"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2021-01-28 17:05] thomas-yanxin opened #30763 "windows10安装错误"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle1.8.5-CPU版本
    2）CPU：i5
    3）GPU：无
    4）系统环境：Windows10、Python 3.7
- 安装方式信息：
1）pip安装：执行    python -m pip install paddlepaddle==1.8.5 -i https://mirror.baidu.com/pypi/simple   

- 复现信息：准确按照流程进行安装
- 问题描述：在pip安装完毕后，查看pip list中有paddlepaddle，但使用检查代码检查时却出现如下报错：
- 报错截图：![9$C8A3AVX%C2CQQ599$UO`H](https://user-images.githubusercontent.com/58030051/106172273-97e

[2021-01-29 01:11] zhouxiang93123 commented on #30739
@zhouwei25 我也遇到这个问题了，确实看不出是error还是warning信息，但是目前不影响使用

[2021-01-29 02:13] githubchange commented on #30707
好的，有支持计划表吗

[2021-01-29 02:58] minhoooo1 opened #30764 "数据生成器里面有个莫名的问题"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：2.0rc
    2）CPU/GPU：CUDA10.0
    3）系统环境：win10
    4）Python3.7.0

![微信截图_20210129105733](https://user-images.githubusercontent.com/61350752/106225788-cf389700-6220-11eb-9e57-fa6db7a68926.png)
截图中代码如果
np.reshape(imgs[i],[1, IMG_ROWS, IM

[2021-01-29 03:03] jtyoui commented on #30725
网络很好，服务器是美国的服务器。前面都下载很快

[2021-01-29 03:35] HXia-XXL commented on #30728
在AI Studio又跑了遍后台任务，可以正常加载了。可能是后台任务保存权重不完整把。谢谢您

[2021-01-29 03:35] #30728 closed, assigned to TeslaZhao, chenwhql

[2021-01-29 03:54] Yelrose opened #30765 "一次对两个模型进行 DataParallel 不符合预期"
PaddlePaddle == 2.0.0 和PaddlePaddle == 2.0.0-rc1均有这个问题

场景：

1. 我希望对两个不同的模型 A / B 进行多卡并行。一段时间运行模型A，一段时间运行模型B。
2. 目前发现问题，DDP只会对第一次调用的模型起作用。可以看下面代码，在单机情况下，Loss 1和 Loss 2一致。但在paddle.distributed.launch之后，loss2跟loss1不一致。

执行命令

[code]

[code]

[2021-01-29 04:17] weiexcelpro commented on #30762
关闭了. 所有2.0.0RC的项目自动升级到2.0.0正式版

[2021-01-29 04:17] haozech commented on #30764
你好，可以尝试在np.reshape后打印 img 结果，查看[1, IMG_ROWS, IMG_COLS]改为
[1, 28, 28] 后是否对img结果有影响，以排查问题出在哪一步。

[2021-01-29 04:41] haozech commented on #30763
你好，可以检查下是否是win32环境？目前官方只支持win64

[2021-01-29 06:25] iducn opened #30766 "testtesttest"
testtesttest

[2021-01-29 06:27] #30766 closed, assigned to haozech

[2021-01-29 06:27] iducn opened #30767 "测试测试"
测试测试

[2021-01-29 06:29] #30767 closed, assigned to haozech

[2021-01-29 06:29] iducn opened #30768 "test"
testtest

[2021-01-29 06:31] #30768 closed, assigned to haozech

[2021-01-29 06:31] iducn opened #30769 "test01"
测试测试test

[2021-01-29 06:32] #30769 closed, assigned to haozech

[2021-01-29 06:32] iducn opened #30770 "test02"
测试测试

[2021-01-29 06:33] #30770 closed, assigned to haozech

[2021-01-29 06:33] iducn opened #30772 "test03"
测试测试

[2021-01-29 06:34] #30772 closed, assigned to haozech

[2021-01-29 06:34] iducn opened #30773 "test04"
测试测试

[2021-01-29 07:00] #30773 closed, assigned to haozech

[2021-01-29 08:34] Superjomn commented on #30759
看起来的确可能之前写错了，这个filter没有生效

[2021-01-29 10:37] PotentialX opened #30778 "OSError: (External) Cublas error, `CUSOLVER_STATUS_INTERNAL_ERROR`. An internal cuSolver ope 请问这种错误怎么解决"
今天跑飞桨官方mnist例程，构建网络部分报错如下：

W0129 18:26:32.738970 16225 device_context.cc:362] Please NOTE: device: 0, GPU Compute Capabi                                                                                   lity: 8.6, Driver API Version: 11.1, Runtime API Version: 11.0
W0129 18:26:32.741225 16225 device_context.cc:372] device: 0, cuDNN Version: 8.0.
Traceback (most recent call last):
  File "<stdin>"

[2021-01-29 11:25] fassqiu opened #30782 "v2.0.0推理报错"
环境：
docker:paddlepaddle/paddle:2.0.0-gpu-cuda10.2-cudnn7
opencv4.4
go1.13
paddle版本：origin/release/2.0
[dnnl_lnx_1.8.0_cpu_iomp.tgz](https://github.com/oneapi-src/oneDNN/releases/tag/v1.8.1)
[mklml_lnx_2019.0.5.20190502.tgz](https://github.com/oneapi-src/oneDNN/releases/tag/v0.21)
编译参数：
`
  -DWITH_CONTRIB=OFF \
  -DWITH_MKL=ON  \
  -DWITH_MKLDNN=ON \
  -DWITH_TESTING=OFF \
  -DCMAKE_BUILD_TYPE=Rele

[2021-01-29 11:33] Saga145AI opened #30783 "PaddlePaddle == 2.0.0rc分布式训练，报Communicator is not Initialized, you may use FleetAPI"
PaddlePaddle版本:2.0.0rc CPU版本     CPU型号，虚拟机中虚拟的CPU
操作系统Centos7.2
环境描述
虚拟机搭建了一个参数服务器集群，
参数服务进程运行在172.16.128.21:36011端，并且参数服务进程启动正常，
工作服务进程运行在172.16.128.20服务器，  工作服务进程启动失败
完整报错信息如下：
[root@localhost paddle_fleet_workspace2]# python m_fleet_dy_ws_0.py
/pmodata/tenw/tools/python35/lib/python3.5/site-packages/paddle/distributed/fleet/base/fleet_base.py:617: UserWarning: It is recommended to use Distribut

[2021-01-29 14:57] cai1536657011 opened #30785 "在动态图模式下如何定义自己的OP，我想在网络中加入一个二维傅里叶变换（支持梯度反传）"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2021-01-29 15:15] thomas-yanxin commented on #30763
您好，已经检查过了，是win64环境，依旧是这个错误。

[2021-01-29 18:08] Costwen opened #30786 "使用Paddle2.0分支, 根据官网的cmake编译教程在生成解决方案时出现如下错误"
   1）PaddlePaddle版本：2.0
    2）CPU：intel - i5 8300H
    3）系统环境：win10

![image](https://user-images.githubusercontent.com/47916831/106311270-d2269c80-629f-11eb-9868-cd1132d78e91.png)

使用的是visual studio 2019

[2021-01-30 01:57] TWLemontree opened #30787 "nn.layer.Pool2D"
麻烦你们不要随意修改已有的接口otz，求你们了

前天还能跑的代码，今天突然报错说没有 nn.layer.Pool2D，我去查了查文档，发现 Pool2D 只剩下 paddle.fluid.dygraph.Pool2D 了。但是问题来了，文档上明确表示，fluid 未来会移除，我是用它？还是不用它？

给导师展示代码，突然来这一出，孩子人都要被导师骂傻了。

[2021-01-30 03:56] weizhenzhao commented on #9354
Hi @BigFishMaster

I also encounter this problem,
paddle.fluid.core.EnforceNotMet: Cannot open file  XXX for load op

how did you solve this problem?

thank you very much
weizhen

[2021-01-30 05:27] choimroc opened #30788 "Operator conv2d does not have kernel for data_type[uint8_t]"
- 版本、环境信息：
    1）windows 10 python3.8
    2）paddlepaddle-gpu 2.0
    3）CUDA11.0 ; cudnn8.0.4; GPU tesla V100
- 问题描述：
[code]

[2021-01-30 06:38] chenjiaoAngel commented on #30786
报错信息看不到额，图片加载不成功。
能将出错的地方copy贴上去吗

[2021-01-30 06:45] wadefelix commented on #28502
您好，暂时可以使用此项目  https://github.com/PaddlePaddle/book 提供的那个 `paddlepaddle/book` 镜像，就是一个jupyter notebook。
发布新版本的且更规范的jupyter镜像已在考虑中

[2021-01-30 08:25] cap2hb commented on #30748
安装正常的，没有任何问题，paddle1.8.5gpu paddleHub1.8.3就是跑不起来。Nvidia-smi查看显存有被使用，但是使用率一直在0~~%1之间跳动。我的显卡是rtx2070，cuda10.0 、cudnn7.6 没有版本问题。之后改用paddlepaddle2.0和paddlehub2.0，cuda11.0、cudnn11.0可以正常运行。请问是因为cuda10.0对于rtx2070版本太旧造成的吗？

[2021-01-30 08:37] vic-93 opened #30790 "paddle1.8.5加载多个模型，相互影响，inputname被改变，pointer err。"
paddle版本：1.8.5
golang：1.14.12
模型A：esmm
模型B：deepfm
case1：加载模型A，再加载模型B ，模型B的inputname被改变   input names: [feat_idx feat_val] >> input names: [field_0 field_0_1]

case2:加载模型B，再加载模型A，出现error
![image](https://user-images.githubusercontent.com/13634356/106351785-51a48200-6319-11eb-915b-b504f14bcca9.png)

code
[code]

[2021-01-30 08:55] liumengbjut opened #30791 "基于PaddlePaddle 2.0rc1的自定义数据集的训练得到的模型，应如何保存模型，以被Paddle Lite的opt工具使用。"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0 (AI studio导入环境)
    2）Paddle Lite版本：v2.8 (现阶段AI studio导入环境，必要的话源码编译)
实验是基于自定义数据集开展（paddlepaddle开发），希望能够保存模型，进而可以被paddle lite进行压缩量化并完成端侧部署。
问题：
PaddlePaddle的2.0版本的文档关于模型导出描述在https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/08_model_save_load_cn.html
<img width="773" alt="截屏2021-01-30 下午4 30 13" src="https://user-images.githubuserc

[2021-01-30 15:52] pinkDOUDOU opened #30792 "训练时报错——找不到图片文件"
我在ai studio上已经将数据集导入，但是在训练时提示FileNotFoundError: [Errno 2] No such file or directory: './strawberry_3_train/45.jpg

[2021-01-30 15:53] CAU-tractor commented on #30792
https://aistudio.baidu.com/aistudio/projectdetail/1287222

[2021-01-30 15:56] pinkDOUDOU commented on #30792
https://aistudio.baidu.com/bjcpu/user/538387/1287222/notebooks/1287222.ipynb

[2021-01-30 16:03] kongliang2015 opened #30793 "在fedora28 编译错误（）"
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译：请提供docker镜像，编译命令           
  特殊环境请注

[2021-01-30 16:05] #30793 closed, assigned to nobody

[2021-01-31 04:53] Costwen commented on #30786
正在创建库 D:/Paddle/build/third_party/install/mkldnn/bin/mkldnn.lib 和对象 D:/Paddle/build/third_party/install/mkldnn/bin/mkldnn.exp
    mkldnn.vcxproj -> D:\Paddle\build\Release\libmkldnn.lib
    stringpiece.vcxproj -> D:\Paddle\build\paddle\fluid\string\Release\libstringpiece.lib
    version.vcxproj -> D:\Paddle\build\paddle\fluid\framework\Release\libversion.lib
    imperative_flag.vcxproj -> D:\Paddl

[2021-01-31 07:58] Costwen commented on #30786
好像是因为在给build  third party 时 git clone  太慢了 下载不下来

[2021-01-31 11:04] jiushinakecai commented on #28360
我也遇到了同样的问题， @mysalter 请问你是怎么弄好的？

[2021-01-31 15:09] #30788 closed, assigned to chenjiaoAngel

[2021-01-31 20:47] YueWang1996 commented on #29990
您好，我也遇到了和您一样的问题，请问这个问题有解决吗？

[2021-02-01 01:35] weizhenzhao opened #30799 "DuReader paddlepaddle版本加载模型报错"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：
你好，我在使用那个百度那个DuReader 开源的代码，训练完后，进行预测的时候，报那个，下面这个错误
paddle.fluid.core.EnforceNotMet: Cannot open file models/4/4\pn_decoder:fw:static_rnn:_lstm_f_b for load op at [E:\dist\Paddle\paddle\fluid\operators\load_op.cc:39]

[2021-02-01 02:31] qili93 commented on #30799
@weizhenzhao 请帮忙提供一下您的运行环境，Paddle版本，Python版本以及运行命令等信息。

[2021-02-01 02:32] haozech commented on #30765
问题已解决，会在下个版本发布

[2021-02-01 02:37] weizhenzhao commented on #30799
使用那个DuReader paddle 的训练命令是那个 python  run.py  --train --pass_num 5   这个命令我是在linux 下面训练的上面有gpu 是那个paddlepaddle-gpu==1.2.0.post97 版本
训练完后，我把那个模型复制到windows的cpu笔记本上面
运行环境windows10 python3.6 paddle 版本是那个 1.2.0 cpu版本的
predict   的命令是那个  python    run.py  --predict --load_dir ../data/models/1

然后就报上面那错

[2021-02-01 02:37] haozech commented on #30778
你好，此错误可能是gpu显存不足造成的，建议检查gpu显存分配相关的代码

[2021-02-01 02:40] chenjiaoAngel commented on #30786
建议remove third-party，重新编译试试；
或者下载paddlepaddle 的docker 环境进行编译，https://www.paddlepaddle.org.cn

[2021-02-01 02:44] qili93 commented on #30799
@weizhenzhao 你试一下指定 --save_dir看看，看run.py里面的定义的model_path是由save_dir指定的
![image](https://user-images.githubusercontent.com/16605440/106408951-6f3d2d00-647a-11eb-9475-e3cbe8a96640.png)

[2021-02-01 02:47] haozech commented on #30785
你好，此功能目前已在开发中，预计于春节后在下个版本2.0.1上线。
如果比较紧急，可以用旧方案实现： https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/07_new_op/custom_op.html

[2021-02-01 02:48] chenjiaoAngel commented on #30787
请问是哪个版本呢？
另外，fluid.layers.Pool2D 还是支持的，paddle2.0之后主推动态图，建议用nn.Maxpool2D, nn.AvgPool2D这样的API了

[2021-02-01 02:49] weizhenzhao commented on #30799
parser.add_argument("--save_dir", type=str, default="../data/models",
                        help="Specify the path to save trained models.")

save_dir 写了是默认这个../data/models 。
后来为了区分每次epoch 保存的模型我在后面加了一个epoch_id
                if pass_id % args.save_interval == 0:
                    model_path = os.path.join(args.save_dir, str(pass_id))

                    if not os.path.isdir(model_path):

[2021-02-01 02:49] chenjiaoAngel commented on #30792
这个图片有一并下载下来吗？

[2021-02-01 02:50] chenjiaoAngel commented on #30792
另外可以在工程目录下看看：'./strawberry_3_train/45.jpg 是否存在这个文件

[2021-02-01 02:51] weizhenzhao commented on #30799
就是训练完后在linux 下面去predict 没有问题， 把模型复制到windows paddle1.2.0 上面去执行就有问题了。

[2021-02-01 02:54] chenjiaoAngel commented on #30790
理论上，加载多个模型不会出现相互影响的情况；在OCR 里面加载三个模型都没有冲突。可以让他参考下代码。https://github.com/PaddlePaddle/PaddleOCR/tree/develop/deploy/cpp_infer/src

[2021-02-01 02:54] chenjiaoAngel commented on #30790
加载多个模型不会出现相互影响的情况，在OCR 里面加载三个模型是没有冲突。请参考如下代码：https://github.com/PaddlePaddle/PaddleOCR/tree/develop/deploy/cpp_infer/src进行更正下

[2021-02-01 02:55] chenjiaoAngel commented on #30788
paddle是不支持的int8 conv2d的计算的，量化训练的时候其实还是以fp32精度在计算；只有lite或者inference tensorrt可以用int8

[2021-02-01 03:20] chenjiaoAngel commented on #30791
Paddle-lite 2.8版本是支持动态图，它会将动态图转为的静态图进行预测
Paddle-lite 2.7版本不支持动态图预测

[2021-02-01 03:40] wangsiji opened #30803 "静态图模型内部增加py_func写的op, C++预测的时候是不是不能加载？ 求指教"
会报错
----------------------
Error Message Summary:
----------------------
Error: Operator py_func has not been registered
  [Hint: op_info_ptr should not be null.] at (/home/scmbuild/workspaces_cluster.dev/baidu.lib.paddlepaddle/baidu/lib/paddlepaddle/Paddle/paddle/fluid/framework/op_info.h:113)

[2021-02-01 04:11] mayank2 commented on #23791
I am still facing the same issue in paddlepaddle-gpu v2.0

[2021-02-01 04:11] mayank2 commented on #23791
I am still facing the same issue in paddlepaddle-gpu v2.0

[2021-02-01 05:13] qili93 commented on #30799
@weizhenzhao 那你稍等下，我需要问下当前这个模型是否有QA在Windows上验证过。

[2021-02-01 05:14] qili93 commented on #30803
请问这个py_func的OP是你自己自定义的OP吗？

[2021-02-01 05:27] HerbertLi2020 opened #30805 "严重内存泄漏：PaddlePaddle2.0，CUDA 版本11.0"
1）PaddlePaddle版本：2.0.0.post110
2）CPU：i7
3）GPU：GTX2070 / CUDA11.0
4）系统环境：Windows, Python版本3.8

PaddlePaddle2.0，CUDA 版本11.0，使用预训练模型deeplabv3p_xception65_humanseg进行抠图操作，有CPU内存泄漏，扣一张图看不出来，扣多图(例如视频的帧)时，占用内存一直在增加，直到本崩溃。
原因应该是paddlepaddle-gpu==2.0.0.post110，的某一模块没有释放内存。
CUDA10.2等低版本都是好的。
麻烦开发团队解决。如想复现问题可以联系我。

测试代码如下：
import os, cv2
import paddlehub as hub
os.environ['CUDA_VISIBLE_DEVICES'] = '0'
humanse

[2021-02-01 05:29] qili93 commented on #30799
@weizhenzhao 对了，你试试看把load_dir和save_dir对应到windows的完整路径呢？linux上可以，但是windows上不可以的话，感觉像是路径不对造成的，你试试比如输入'D:\\users\xxx'类似这种绝对路径格式，保证windows上可以找到模型和参数文件

[2021-02-01 05:33] weizhenzhao commented on #30799
模型应该是找得到的，因为我把那个load_dir 乱写，的时候，它报的错是说找不到embedding_param 那个错，不是上面的那个错。
而且我怀疑这个东西，好像必须得有gpu才好用，昨天下午我在阿里云上面租了一个cpu 版本的linux 机器，试了一下还是这个错。

[2021-02-01 05:41] Sunny-wuhan commented on #30701
开发团队能帮忙看看吗

[2021-02-01 05:42] qili93 commented on #30799
@weizhenzhao 你有尝试把--use_gpu关掉吗？

[2021-02-01 05:44] weizhenzhao commented on #30799
试过了，不好用

[2021-02-01 05:44] LielinJiang commented on #30701
飞桨的loss显示是每个batch的。可以看看tf是不是也是每个batch的。同时也可以检查下超参数，数据，网络等是否又对齐。

[2021-02-01 06:00] vic-93 commented on #30790
@chenjiaoAngel 尝试下Glang的预测库，这边使用的是golang的api  1.8.5

[2021-02-01 06:11] phlrain commented on #30805
请问下是机器内存爆掉了，还是gpu的显存爆掉了

[2021-02-01 06:32] HerbertLi2020 commented on #30805
是CPU内存，每抠图一次，就增加占用，没有释放，不断累加，直至爆掉。
看windows的资源管理器就能看出来。

[2021-02-01 06:32] TeslaZhao commented on #30725
您好，@jtyoui，重新编译后有效果吗？

[2021-02-01 06:37] Shixiaowei02 commented on #30790
您好，有关 Golang 的问题我们已经收集，并会在 2.1.0 统一处理。谢谢！

[2021-02-01 06:38] vic-93 commented on #30790
@Shixiaowei02  2.1.0大概会在什么时间发布

[2021-02-01 06:41] weizhenzhao commented on #30799
我在想会不会是那个protobuf 的版本不一样导致的，linux上面那个protobuf==3.11.0   windows上面的是3.1.0

[2021-02-01 06:47] jiweibo commented on #30805
<img width="998" alt="95e97c747c90b13922ee044954623783" src="https://user-images.githubusercontent.com/26377421/106423961-5e9dae80-649c-11eb-922d-42890351e09b.png">

[2021-02-01 06:51] phlrain commented on #30805
目前我们的测试的发现，cudnn 8 本身存在一些memory leak，我们先排查下是否是由 cudnn8这个问题引起的， 排查完在这里同步下这个问题，能否帮忙提供下复现流程和步骤，主要是使用的图片数据如何构建

如果着急使用，建议先使用下cudnn 7版本

[2021-02-01 06:56] raindrops2sea commented on #30805
是的。
@HerbertLi2020 我们初步分析来看，很可能是命中了之前发现的CUDA11下cudnn 8.0.x的已知问题（具体见[release Note ](https://github.com/PaddlePaddle/Paddle/releases/tag/v2.0.0)已知问题部分的说明），在预测阶段触发内存泄露。对于此问题，我们计划在下一个小版本想办法做一下规避处理。同时也在等待cudnn本身最终的修复。
我们会进一步具体复现分析下您遇到的这个问题，确认一下前面的判断。
对此给您带来的不便表示歉意。非常感谢您的反馈！

[2021-02-01 06:58] HerbertLi2020 commented on #30805
cudnn 7是好用的，一直在用。
复现问题很容易：
1、用CUDA11.0/CUDNN8.04的几个DLL；
2、使用paddlepaddle-gpu==2.0.0.post110，Puddlehub最新版本；
3、图片随便用哪个都行，循环执行抠图即可；
4、用上面的测试代码就可以复现。查看Windows任务管理器的Python的CPU内存占用，就能发现。

[2021-02-01 07:02] wangsiji commented on #30803
是的，我自己定义的python端的op , 参考的这个文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/advanced_guide/addon_development/new_op/new_python_op.html

模型训练没有问题

[2021-02-01 07:04] Sunny-wuhan commented on #30701
tf也是每个batch会显示结果，但是不确定是不是显示的当前batch的结果。

[2021-02-01 07:07] Sunny-wuhan commented on #30701
飞桨的loss显示是每个batch的。可以看看tf是不是也是每个batch的。同时也可以检查下超参数，数据，网络等是否又对齐。
tf也是每个batch会在屏幕上更新一下结果，loss比较稳定，但是不确定是不是显示的当前batch的结果。我这边用飞桨和tf测试使用的是同一个数据，网络也基本一样。我这边发现飞桨每次跑的结果差别挺大的，这个是正常的吗？

[2021-02-01 07:13] LielinJiang commented on #30701
一种简单但不一定有效的方法就是看看结果？训练完后，看看模型的效果是否一致？另一种有难度，但比较可靠的方法是可以保持输入，网络结构以及权重完全一致，看看输出是否一致。如果网络中有随机层先固定住或先去掉。如果这个不一致就有问题。否则也没法很确定的判断。

[2021-02-01 07:17] Sunny-wuhan commented on #30701
结果不一样，训练完后，tf结果要好一点。第二种我试试，但是飞桨和tf的LSTM不太一样，后者的LSTM是单输出的，输出的数据维度也不一样。我用全连接试试两个模型

[2021-02-01 07:59] #30778 closed, assigned to haozech

[2021-02-01 08:32] Costwen opened #30812 "使用同样一个模型文件，在python中输出层和c++不一致"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0rc
    2）CPU：intel i5 - 8300H CPU
    3）GPU：无
    4）系统环境：windows 10
使用同样的一个paddlehub中 pyramidbox_lite 模型， 在python 中输出层的名字为concat_0.tmp_0， c++的为 [save_infer_model/scale_0.tmp_0], 同时输出为-1

[code]

c++代码如上 使用的是官网的2.0rc 编译好的预测库， 加载后结果只有一个值 且为 -1

py代码则能够正确输出boxes和confidence

[2021-02-01 09:38] haozech commented on #30783
你好，感谢反馈，目前已经在安排开发人员跟进此问题

[2021-02-01 10:22] haozech commented on #30782
你好 能否提供可复现问题的代码呢？

[2021-02-01 11:01] fassqiu commented on #30782
项目结构：
iw-infer
----deps
--------paddle
------------v2.0.0
----------------gpu
--------------------paddle(common.go,config.go,predictor.go,tensor.go)
--------------------deps(incluide,lib) 都是用paddle origin/release/2.0分支编译出来的，编译参数上面给出来了。

其中common.go,config.go,predictor.go,tensor.go里面改成这样：
`
// #cgo CFLAGS: -I../deps/include

// #cgo LDFLAGS: -L../deps/lib -lpaddle_fluid_c -ldl
`
Init的时候报的错，golang推理

[2021-02-01 11:09] iducn opened #30815 "testtest"
testtest

[2021-02-01 11:09] #30815 closed, assigned to qili93

[2021-02-01 11:32] topxxuki opened #30816 "使用多卡训练模型报错 Paddle internal Check failed."
paddle版本1.6
T4卡：
CUDA Capability: 75, Driver API Version: 10.1, Runtime API Version: 10.0
cuDNN Version: 7.6.
python 3.6
使用的模型：PaddleDetection
报错信息
![image](https://user-images.githubusercontent.com/18697846/106453471-58bbc380-64c4-11eb-8433-201524c95e17.png)

![image](https://user-images.githubusercontent.com/18697846/106453378-3164f680-64c4-11eb-9c6d-41caa17308cd.png)

[2021-02-01 12:00] hbwx24 commented on #30741
1.ppcls.pdparams存储的是模型的参数信息，而不是完整模型。
2.fluid.load 可以直接从checkpoint转成pretrained model。
3.实现方法较多，此处只举一个例子：
    a) 删除pretrained model的fc；
    b) fluid.load 加载checkpoint；
    c) 创建新fc与主体模型进行组合，重训练等。

[2021-02-01 13:22] haoyuying commented on #30805
同学您好，根据我们对该问题的复现和排查，确定该问题是CUDA11下cudnn 8.0.x自身存在bug，会导致部分模型在预测阶段触发内存泄漏。我们已经通过禁用部分算子融合的方式，对该问题进行了规避，并在paddlehub上更新了deeplabv3p_xception65_humanseg 1.1.2版本，修复了您出现的问题，请更新deeplabv3p_xception65_humanseg模型。更新方式：
[code]

[2021-02-01 13:36] GhostDino opened #30820 "安装问题：关于官网paddle docker gpu版本，下载后是否需要安装CUDA，Cudnn以及版本号问题？"
本地环境Ubuntu20.04LTS，docker20.0，nvidia-docker2，2080Ti*2；
使用官网下载容器版本paddle 2.0.0-gpu-cuda10.1-cudnn7。
启动容器后，通过了fluid run_check()
使用hub serving start -m chinese_ocr_db_cmn_server --use_gpu
始终报错，直接访问网址，可以正确显示200，提示该网站不能直接访问，需要使用脚本上传文件。
想请问下：
1、如果使用nvidia-docker2，并且是paddle gpu镜像，还是否需要在容器里面安装cuda和cudnn？
2、官网镜像里面有很多python版本，在使用pip安装相关包，以及安装paddl hub该用哪个安装比较合适？

[2021-02-01 13:45] pinkDOUDOU commented on #30792
你好，我将项目公开了，希望您可以帮忙看一下好吗，问题还是没有解决
项目地址是：https://aistudio.baidu.com/aistudio/projectdetail/1287222

[2021-02-01 13:56] HerbertLi2020 commented on #30805
测试了一下，内存没有任何泄露了，完美解决了问题。
非常感谢百度Paddle团队的敬业、高效！

祝你们春节快乐、万事如意。

[2021-02-01 14:29] HerbertLi2020 commented on #30805
Sorry，忘了说了，humanseg_mobile模型也有同样的问题，能否也更新一下？
https://www.paddlepaddle.org.cn/hubdetail?name=humanseg_mobile&en_category=ImageSegmentation

humanseg_mobile轻量级，扣视频很好用。

[2021-02-01 15:59] jczaja commented on #30115
@OliverLPH This PR https://github.com/PaddlePaddle/Paddle/pull/30757 should fix crashes reported in this issue. Please test

[2021-02-01 22:11] jerryniu520126 opened #30821 "显示环境错误"
我编写了一个吃豆人游戏，但是当我在Python终端上运行得到以下错误：

[code]

请问这应该如何解决呢？

[2021-02-02 01:41] A-Pai commented on #30667
没有后话了？

[2021-02-02 01:41] A-Pai commented on #30667
没有后话了？

[2021-02-02 02:26] jtyoui commented on #30725
完全没有，不是网络的问题。网络很好

[2021-02-02 02:47] T8T9 commented on #30821
迷路了？这不是关于 paddlepaddle 的问题吧？@jerryniu520126

[2021-02-02 02:50] lleesg commented on #25530
请问需要安装pybind哪个版本？

[2021-02-02 02:53] wangsiji opened #30823 "请教一下？在静态图里面可以通过组合op的方式实现 这种逻辑吗？"
`
def city_encode(cityId):

    cityId = np.array(cityId)

    cityId = np.where(cityId > 373, 242, cityId)

    cityId = np.where(cityId < 33, 0, cityId)

    cityId = np.where((373 >= cityId) & (cityId >= 33), cityId - 32, cityId)

    return cityId`

[2021-02-02 02:58] T8T9 commented on #30823
应该可以，麻烦参考 [paddle.where(condition, x, y, name=None)](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/tensor/search/where_cn.html#where)

[2021-02-02 03:09] OliverLPH commented on #30115
@jczaja
Thanks~
I will verify this PR

[2021-02-02 03:10] #22377 closed, assigned to nobody

[2021-02-02 03:19] lleesg commented on #30387
在paddle 2.0.0正式版也有同样的问题。
解决办法：删除third_party中的pybind文件夹

——但是“使用TensorRT时，PPYOLO完全无法正确预测”还是没解决。。

[2021-02-02 03:24] starsblinking opened #30826 "nightly build版本的安装BUG"
按照 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html 中的命令来按照: python -m pip install --pre paddlepaddle -f https://paddlepaddle.org.cn/whl/develop.html 则感觉实际安装的版本好像有点滞后，缺少了昨天的很多commit
查了下 https://paddlepaddle.org.cn/whl/develop.html 里有四个链接的标题均为“paddlepaddle-2.1.0.dev0-cp38-cp38-linux_x86_64.whl”，但指向的地址不同，请问他们是否有版本的差异? https://paddle-wheel

[2021-02-02 03:27] OliverLPH commented on #30309
@wojtuss @juncaipeng
Hi, I have tested https://github.com/PaddlePaddle/Paddle/pull/30723
And I found when set `config.set_mkldnn_op({'conv2d', 'depthwise_conv2d', 'pool2d', ...})`

`./doc/imgs/11.jpg` rec time is 0.30522966384887695

![image](https://user-images.githubusercontent.com/14963836/106547782-d2959080-6548-11eb-8aa7-bc922f16accd.png)

If I disable `config.set_mkldnn_op({'conv2d', 'depthw

[2021-02-02 03:38] starsblinking commented on #30521
总觉得，既然保存的目标是persistable的var，那只保留后一个判断就足够了，前面的是多余的

[2021-02-02 03:57] starsblinking commented on #30826
看起来， 地址形如 0.0.0-cpu-openblas 的链接是错误的旧版本,  develop-cpu-openblas 这样的才是隔夜版本，而 pip install --pre paddlepaddle -f https://paddlepaddle.org.cn/whl/develop.html 有可能定向到旧版本上，也有可能定向到新版上。
目前只能手动下载whl到本地再安装了。
早点修复吧～

[2021-02-02 04:41] qili93 commented on #30816
请问您使用的PaddleDetection的版本是什么呢？Paddle 1.6是如何安装的，运行以下命令是否有问题？
python -c "import paddle.fluid as fluid;fluid.install_check.run_check()"

[2021-02-02 04:50] qili93 commented on #30803
当前C++预测没有办法识别自定义的python op。

[2021-02-02 04:52] qili93 commented on #30812
您好，C++预测会对模型结构通过各种pass做优化，比如算子融合等一些基本的优化操作，因此请将fluid模型可以用netron打开之后查看输出名字之后再输出。

[2021-02-02 04:53] qili93 commented on #30820
如果您使用的是paddle提供的官方镜像，镜像中以及包含了CUDA和CUDNN，不需要再次安装。

[2021-02-02 05:20] Costwen commented on #30812
还有想问一下有没有编译好的win10的2.0版本的paddle inference编译库呢，能够找到的只有2.0rc，自己编译又失败了，使用2.0rc的时候，某些模型似乎有一点错误。在py版本的2.0rc和2.0就出现了这样的问题

[2021-02-02 05:32] haozech commented on #30763
好的，我们已经安排同学排查此问题

[2021-02-02 06:07] swtkiwi commented on #30826
您好。
1、nightly build包是每天0点开始编包的，理论上是包含昨天24点前所有的commit。您可能是安装了0.0.0文件夹下的包。安装develop-cpu-openblas下的包不会有问题的。如果还有问题辛苦提交badcase
2、0.0.0文件夹下的包是之前的develop版本，刚刚已经更新将其删除，您以后直接使用官网推荐的安装命令即可，不需要到https://paddlepaddle.org.cn/whl/develop.html 进行查看。

[2021-02-02 06:21] HerbertLi2020 commented on #30805
模型humanseg_mobile的CuDNN8.0.4内存泄漏问题，我自己解决了。
---------------------------------------------------------------------
参考：deeplabv3p_xception65_humanseg 1.1.2，改了一下humanseg_mobile的module.py, 内存泄漏规避了：
修改之处：
if paddle.get_cudnn_version() == 8004:
    gpu_config.delete_pass('conv_elementwise_add_act_fuse_pass')
    gpu_config.delete_pass('conv_elementwise_add2_act_fuse_pass')

[2021-02-02 06:25] jerryniu520126 commented on #30821
那我想问一下，关于Baidu AI Studio的Python终端使用问题，您知道有什么更好的询问平台吗？
我之前也在AI 社区Post了这一问题，尚未得到回复。

[2021-02-02 06:26] xinsuinizhuan opened #30831 "windwos下，希望支持vs debug，因为release没法调试，debug可以调试看过程信息。"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2021-02-02 06:31] T8T9 commented on #30831
paddle 自带的 debug 信息还算丰富，可以设置  GLOG_V 环境变量试试看先。

[2021-02-02 06:39] haoyuying commented on #30805
同学您好，人像分割模型humanseg_server, humanseg_lite, humanseg_mobile及deeplabv3p_xception65_humanseg的内存泄露问题均已在最新版本修复。感谢您将问题及时准确的反馈给我们，欢迎体验更多hub模型。

[2021-02-02 07:02] T8T9 commented on #30821
ai studio 有个 qq群 580959619 ，可以去试试。

[2021-02-02 07:55] yeyupiaoling opened #30835 "Windows安装2.0正式版本，打印输出的还是2.0.0-rc1"
- Windows 10
 - PaddlePaddle 2.0.0

[code]

[2021-02-02 07:59] T8T9 commented on #30835
你的安装命令是什么？
我用 `python -m pip install paddlepaddle==2.0.0 -i https://mirror.baidu.com/pypi/simple` 是ok的。
文档参考 [安装paddle](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/2.0/install/pip/windows-pip.html)

[2021-02-02 08:00] topxxuki commented on #30816
![image](https://user-images.githubusercontent.com/18697846/106569560-a93c2b00-656f-11eb-8736-8c4fab85053f.png)

执行起来有问题

下载方式  $CONDA_DIR/bin/pip install --no-cache-dir -i https://pypi.tuna.tsinghua.edu.cn/simple/ paddlepaddle_gpu==1.6.3.post97 \

[2021-02-02 08:16] topxxuki commented on #30816
![image](https://user-images.githubusercontent.com/18697846/106571215-d8539c00-6571-11eb-9af5-9de1957591b0.png) 报错提示只有看起来有3块卡，但实际上只分配了2张卡;分配4张卡时，报错信息也是一致的

[2021-02-02 08:33] gaofushuai12138 opened #30837 "阿里云centos 安装错误"
import paddle 后 报module obj has no attribute 'BOX'

[2021-02-02 08:46] T8T9 commented on #30837
请提供一下信息：
- paddle 版本
- centos 版本
- python 版本

[2021-02-02 08:51] T8T9 commented on #30816
看起来是 nccl 库加载失败了，请按照
![image](https://user-images.githubusercontent.com/62922815/106575262-db04c000-6576-11eb-8b61-1a13c47d1120.png)

排查一下先。确认一下是不是主机环境问题导致的。

[2021-02-02 08:56] gaofushuai12138 commented on #30837
Python&nbsp;2.7.5&nbsp; &nbsp; centos 7.8&nbsp; &nbsp; &nbsp;paddlepaddle 2.0&nbsp; 谢谢!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Shibo Tao"<notifications@github.com&gt;;
发送时间: 2021年2月2日(星期二) 下午4:47
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com&gt;;
抄送: "白夜行"<3499606002@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Paddle] 阿里云centos  安装错误 (#3083

[2021-02-02 09:09] yeyupiaoling commented on #30835
@T8T9 我的命令如下：
[code]

[2021-02-02 10:05] chuanfuye opened #30839 "AttributeError: module 'paddle.nn.functional.activation' has no attribute 'hard_swish'"
环境：ubuntu1804服务器，cuda10.1或者cuda10.2,
pip安装paddlepaddle-gpu2.0.0.10或者安装conda安装，
运行paddocr的时候。都会报错
AttributeError: module 'paddle.nn.functional.activation' has no attribute 'hard_swish'

[2021-02-02 10:48] wadefelix opened #30841 "cuda_lib_path fixed on "/usr/local/cuda/lib64", and does't reference LD_LIBRARY_PATH in the Suggestions when searching .so file"
https://github.com/PaddlePaddle/Paddle/blob/3a3ff75c52042891e314b0dbbf2f7ff069e44c44/paddle/fluid/platform/dynload/dynamic_loader.cc#L82

[code]

[2021-02-02 10:49] YueWang1996 opened #30842 "安装错误 compile in musl_linux, cmake error: Found Python Protobuf < 3.0.0, please use pip to upgrade protobuf. pip install -U protobuf; Cannot find symbol UINT64_MAX"
- 版本、环境信息：
    1）PaddlePaddle版本：develop
    2）系统环境：alpine-linux3.10, python3.7

- 安装方式：https://github.com/PaddlePaddle/Paddle/tree/develop/paddle/scripts/musl_build 的“Build Manually”教程
1）源码安装
2）本地编译：
[code]
Error信息：
[code]
然后我升级protobuf为最新版本重新编译之后，error信息仍然存在，求助！！
[code]
我修改/paddle/cmake/external/python.cmake 文件尝试去找Protobuf
[code]
然后进行编译，发现找不到protobuf
[code]

另外求教这个test fail如何解决？
[code]

[2021-02-02 11:02] #30841 closed, assigned to T8T9

[2021-02-02 11:05] wadefelix commented on #30841
but it only search the short name of .so files.
but the `nvidia/cuda:10.0-cudnn7-runtime-centos7` does't has the short names. and the `LD_LIBRARY_PATH` is wrong yet.

[2021-02-02 11:24] starsblinking commented on #30826
好的，辛苦～

[2021-02-02 11:24] #30826 closed, assigned to T8T9

[2021-02-02 12:05] GZHUZhao opened #30848 "jetson nano源码编译padlepaddle错误：一直卡在build taget malloc"
paddlepaddle版本：1.7.0
硬件：英伟达jetson nano b01，ARM Cortex-A57，Nvidia GPU
系统：ubuntu18.04
cuda=10.0
cudnn=7.6
安装方式：源码编译安装，按照下面链接提供的方法安装：
https://www.jianshu.com/p/09a0fd569247
编译命令：
cmake .. \
          -DWITH_CONTRIB=OFF \
          -DWITH_MKL=OFF  \
          -DWITH_MKLDNN=OFF \
          -DWITH_TESTING=OFF \
          -DCMAKE_BUILD_TYPE=Release \
          -DON_INFER=ON \
          -DWITH_PYTHON=ON \

[2021-02-02 13:34] wojtuss commented on #30309
@OliverLPH , could you please provide the profiler's output for both cases?

[2021-02-02 14:10] OliverLPH commented on #30309
@wojtuss

`disable config.set_mkldnn_op({'conv2d', 'depthwise_conv2d', 'pool2d', ...})` profiler's output
[code]

`enable config.set_mkldnn_op({'conv2d', 'depthwise_conv2d', 'pool2d', ...})` profiler's output
[code]

[2021-02-02 14:36] lidanqing-vv commented on #30309
elementiwise_add is on the top time-consuming, is because it is surrounded by nearest_interp. Because by default, nearest_interp is not using mkldnn op.
@wojtuss @OliverLPH neares_interp mkldnn op has been merged. But since the formula is sometimes different than Paddle formula, so  @luotao1   suggest to use mkldnn nearest_interp by adding pass in config.
[code]
Please verify performance again wit

[2021-02-02 15:48] GhostDino commented on #30820
谢谢！

[2021-02-02 15:48] #30820 closed, assigned to qili93

[2021-02-03 01:02] chuanfuye commented on #30839
升级版本就好了。post101升级rc1，话说官方的API是不是该修改啦。。

[2021-02-03 01:02] #30839 closed, assigned to T8T9

[2021-02-03 02:38] T8T9 commented on #30848
安装whl包，请参考 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/2.0/install/pip/windows-pip.html

[2021-02-03 02:41] T8T9 commented on #30842
升级protobuf 之后，请删除build 目录，执行一次全新的编译。

后面的 test fail 不需要关心，不影响使用。

[2021-02-03 02:50] cgq0816 opened #30853 "请教一下paddle 模型预测完如何释放资源或者删除模型之后自动释放资源的指令"
1、有没有像torch指令一样，使用torch.cuda.empty_cache() 方法，预测完清空gpu或者cpu内存？
2、使用GC的方式删除模型，来达到释放资源
     以paddleocr为例
     import gc
     from paddleocr import PaddleOCR, draw_ocr
     ocr = PaddleOCR(use_angle_cls=True, lang="ch")
     ......
     ......
     del ocr
     gc.collect()
第一种方法没有在paddle官网找到，如果没有，也希望paddle开发人员能够支持这种类似的指令，每次预测完，通过指令释放资源，这样用户不用担心内存泄露的相关问题或者因为资源紧张导致预测失败等等的问题
第二种方法我也试过，删除模型之后，资源也没有释放

[2021-02-03 03:01] cgq0816 opened #30856 "使用paddle2.0先后使用两个模型进行预测，提示[XXXX]have be been used. In dygraph mode，该怎么解决"
使用paddle2.0时分别训练两个模型，依次使用两个模型进行预测，其中一个模型预测成功后，再使用另外一个模型在进行预测的时候提示[XXXX]have be been used. In dygraph mode, the name of parameter can't be same.Please check the parameter attr value passed to self.create_parameter or constructor of dygraph Layers 请问一下这个问题怎么解决？

[2021-02-03 03:11] DDDivano commented on #30835
什么python版本呢？

[2021-02-03 03:19] luotao1 commented on #30842
@chen-zhiyu 请帮忙看下这个问题

[2021-02-03 03:49] yeyupiaoling commented on #30835
@DDDivano Python 3.7

[2021-02-03 04:03] luotao1 commented on #30702
@wojtuss @jczaja Could you see this issue at first?

[2021-02-03 05:01] yinhaofeng commented on #30853
您好，预测的话此功能我们已经有类似的实现，可以参考下这个接口  ：https://paddleinference.paddlepaddle.org.cn/api_reference/cxx_api_doc/Predictor.html#id2
有问题随时提出，谢谢。

[2021-02-03 05:07] cgq0816 commented on #30853
谢谢，看到了，请问一下paddleocr有类似的功能吗？

[2021-02-03 05:14] T8T9 commented on #30835
我用命令 `python -m pip install paddlepaddle-gpu==2.0.0.post101 -f https://paddlepaddle.org.cn/whl/stable.html` 没问题
，安装文档： https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/2.0/install/pip/linux-pip.html

@DDDivano

[2021-02-03 06:04] #28206 closed, assigned to seiriosPlus

[2021-02-03 06:30] kasyoukin commented on #30349
@juncaipeng 应该是PaddleOCR检测模型的问题，但原因不知，换别的模型就不报错了

[2021-02-03 06:31] chenwhql commented on #30856
麻烦贴一下demo代码，和完整的报错信息

[2021-02-03 06:46] cgq0816 commented on #30856
环境：
paddleocr                          2.0.2
paddlepaddle-gpu                   2.0.0rc1.post101

用的是paddleocr做的训练任务，分别训练检测模型和识别模型，然后分别使用两个模型对数据进行预测

调用的train.py和eval.py
https://github.com/PaddlePaddle/PaddleOCR/tree/dygraph/tools

用训练好的模型对数据进行预测
DET模型
![image](https://user-images.githubusercontent.com/42534237/106708760-5ffee080-662e-11eb-8c8e-dd44b5c1b4aa.png)

REC模型
![image](https://user-images

[2021-02-03 07:12] MissPenguin commented on #30853
paddleocr尚未添加相关代码，如果显存溢出可以按照示例自行添加，但是会影响预测速度，如果很长时间都不溢出，就不推荐使用

[2021-02-03 08:21] wexin-c opened #30865 "使用官方配置文件训练路标训练集时，训练到评估阶段训练终止，无法继续训练"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，1080ti、CUDA11.0和CUDNN8
    4）系统环境：windows 10
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/to

[2021-02-03 08:51] luotao1 commented on #30560
### BF16 Strategy
- Now Intel target bf16 training of word2vec now.
- Focusing on both enabling bf16, python API, and reducing memory consumption.
- Currently we are enabling bf16 grad ops
  - Checking working on changes bf16 training python API need. still trying
  - Reduce memory consumption by applying non-mkldnn block format in general
### BF16 update each week (by @lidanqing-intel )
#### Feb

[2021-02-03 08:55] yinhaofeng commented on #30865
看报错应该是目前还不支持windows下运行，可以更换成linux环境试试看。

[2021-02-03 08:59] lleesg opened #30866 "tx2上开启TRT预测，卡在Sync params from CPU to GPU"
环境：TX2、Ubuntu18.04、CUDA10.2、cudnn 8.0.0、jetpack 4.4、python3.6、Paddle-release-2.0

代码：
def init_predictor(args):
    if args.model_dir is not "":
        config = Config(args.model_dir)
    else:
        config = Config(args.model_file, args.params_file)

    config.enable_memory_optim()
    if args.use_gpu:
        config.enable_use_gpu(1000, 0)
    else:
        # If not specific mkldnn, you can

[2021-02-03 09:00] wexin-c commented on #30865
新版的2.0框架不支持在windows下运行吗？我一开始是用自己的数据集不行 ，然后用官网的教程来也是卡在这不训练了。

[2021-02-03 10:10] Saga145AI commented on #30783
我现在下载了paddlepaddle 2.0.0的docker镜像，结果也是报这个问题

# pwd
/docker_root
# ls -lrt
total 594056
-rw-r--r--. 1 root root      2244 Feb  3 09:57 m_fleet_dy_ps_1.py
-rw-r--r--. 1 root root      2244 Feb  3 09:57 m_fleet_dy_02.py
-rw-r--r--. 1 root root      1442 Feb  3 09:58 m_fleet_dy_01.py
-rw-r--r--. 1 root root      2244 Feb  3 09:58 m_fleet_dy_ws_1.py
-rw-r--r--. 1 root root      2244 Feb  3 09:58 m_flee

[2021-02-03 10:43] YueWang1996 commented on #30842
你好，谢谢回复。升级protobuf删除build目录重新编译之后，还是一样的error

[2021-02-03 10:52] Saga145AI commented on #30783
而且我的CPU支持avx指令集
processor       : 1
vendor_id       : GenuineIntel
cpu family      : 6
model           : 158
model name      : Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
stepping        : 9
microcode       : 0x8e
cpu MHz         : 2808.007
cache size      : 6144 KB
physical id     : 2
siblings        : 1
core id         : 0
cpu cores       : 1
apicid          : 2
initial apicid  : 2
fpu

[2021-02-03 10:59] cryoco commented on #30866
您好，可以尝试下把`config.enable_tensorrt_engine`的第三个参数`min_subgraph_size`改为100试试

[2021-02-03 11:27] T8T9 commented on #30837
麻烦先升级到最新的pip试一下哈 @gaofushuai12138  @pangyoki

[2021-02-03 11:43] wksuixin opened #30870 "Paddle编译问题报错"
Linux Ubuntu18.04；cuda 10.2; cudnn 7.6; gcc 7.5编译时avx报错 如下：
/usr/lib/gcc/x86_64-linux-gnu/7/include/avx512fintrin.h(1761): error: identifier "__builtin_ia32_sqrtsd_round" is undefined

/usr/lib/gcc/x86_64-linux-gnu/7/include/avx512fintrin.h(1770): error: identifier "__builtin_ia32_sqrtss_round" is undefined

/usr/lib/gcc/x86_64-linux-gnu/7/include/avx512fintrin.h(2728): error: identifier "__builti

[2021-02-03 12:06] yinhaofeng commented on #30870
gcc建议使用8.2.0

[2021-02-03 12:24] KingCSer opened #30874 "多机多卡报错"
版本：paddle-cudnn7-cuda10.0
用多机多卡封装optimizer时报错：Traceback (most recent call last):
  File "train.py", line 327, in <module>
    main()
  File "train.py", line 320, in main
    train(args)
  File "train.py", line 179, in train
    args=args)
  File "train.py", line 80, in build_program
    global_lr = optimizer._global_learning_rate()
AttributeError: 'CollectiveOptimizer' object has no attribute '_gl

[2021-02-03 12:26] KingCSer commented on #30874
with fluid.unique_name.guard():
            data_loader, loss_out = create_model(model, args, is_train)
            # add backward op in program
            if is_train:
                optimizer = create_optimizer(args)
                # M3
                optimizer = fleet.distributed_optimizer(optimizer, strategy=DistributedStrategy())
                avg_cost = loss_out[0]
                #XXX

[2021-02-03 12:39] #30247 closed, assigned to nobody

[2021-02-03 12:51] KingCSer commented on #30874
上述问题来源于将此程序：https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/train.py修改为多机多卡训练时的错误

[2021-02-03 12:52] littletomatodonkey commented on #30856
你好，检测和识别需要分别训练哈，因为其中的mobilenet骨干网络会有重名的问题

[2021-02-03 13:00] YueWang1996 commented on #30842
你好，我在cmake时添加了一个参数-DPY_VERSION=3.7，然后protobuf升级错误不再出现了，但是出现了另一个Cannot find symbol UINT64_MAX的错误
[code]

[2021-02-03 13:21] GuoQuanhao opened #30876 "paddle优化器于pytorch优化器对应问题"
paddle2.0的SGD优化器没有momentum参数，但是新增了一个momentum优化器，所以我想知道paddle的momentum优化器等价于pytorch的SGD优化器吗
![image](https://user-images.githubusercontent.com/49911294/106752683-b3405580-6665-11eb-8106-2e55fd018d9b.png)

![image](https://user-images.githubusercontent.com/49911294/106752653-ab80b100-6665-11eb-9aad-2bf583e66e74.png)

[2021-02-03 13:50] MrChengmo commented on #30876
momentum优化器 是 paddle框架之前既有的，如果希望在优化过程中加入动量，可以直接使用momentum这个OP，和打开动量开关的pytorch sgd优化器对齐

[2021-02-03 14:48] skywalk163 commented on #30029
好的，谢谢回复，此问题关闭。

[2021-02-03 14:48] #30029 closed, assigned to zhiqiu

[2021-02-03 14:48] skywalk163 commented on #30029
好的，谢谢回复，此问题关闭。

[2021-02-03 15:29] GuoQuanhao commented on #30876
那他是等价于pytorch

[2021-02-03 15:29] #30876 closed, assigned to yinhaofeng

[2021-02-04 00:49] cgq0816 commented on #30856
您好，我想问一下我怎么删除其中一个模型，在使用另外一个模型进行预测或者评估呢，让这个两个不能相互干扰

[2021-02-04 00:57] GuoQuanhao opened #30878 "同样的模型结构，paddle与pytorch训练参数不同"
platform: aistudio
version:paddle2.0

我在使用paddle复现`RetinaFace`时，对比复现过程中的部分网络结构，发现paddle与pytorch的参数不同，主要体现在双方的batchnorm2d上，如下所示

### paddle
[code]
you'yu由于输出太长我只截取了部分
![image](https://user-images.githubusercontent.com/49911294/106829205-a273fc00-66c6-11eb-9cde-12f4efc5a486.png)

### pytorch
[code]
由于输出太长，我只截图了一部分
![image](https://user-images.githubusercontent.com/49911294/106829067-5cb73380-66c6-11

[2021-02-04 01:33] lleesg commented on #30866
您好。
1. 将min_subgraph_size改为100问题未能解决；
2. 将enable_use_gpu(1000, 0)改为enable_use_gpu(500, 0)问题解决，请问：这里设置的显存是否是初始化期间还是运行期间所允许使用的最大显存？TX2显存和内存共享8G主存，应该是OK的，为何这里改小了倒还能运行了？

[2021-02-04 01:50] littletomatodonkey commented on #30856
可以给模型定义添加一个prefix name的参数，让两个模型的名称不同

[2021-02-04 02:16] GuoQuanhao opened #30879 "如何获取模型的部分层"
version: paddle2.0.0
使用`paddle.vision.models`导入一些经典的模型后，如何获取这些模型的部分层，从而可以重写一些层来与获取的部分层连接在一起，比如我导入了vgg模型，但是我只需要其中提取特征的卷积层，而不需要后面的全连接层，可以将提取的卷积层部分与自己重写的全连接整合在一起

[2021-02-04 02:24] littletomatodonkey commented on #30878
你好，paddle在统计参数的时候，bn这块也统计了均值moving mean和方差moving variance，所以参数多了一些，对性能是不会有影响的哈

[2021-02-04 02:59] GuoQuanhao commented on #30878
好的

[2021-02-04 02:59] #30878 closed, assigned to littletomatodonkey

[2021-02-04 02:59] littletomatodonkey commented on #30879
你好可以参考下面的demo拿到中间层的feature map

[code]

[2021-02-04 03:03] GuoQuanhao commented on #30879
[code]
[code]
我通过这样实现的，我不知道这是否算一个通用的方法，如果paddle能实现pytorch中的`IntermediateLayerGetter`方法，我想这会变得更简单

[2021-02-04 03:10] littletomatodonkey commented on #30879
你好，通过VGG中的sublayers重新去组网也是可以的，关于`IntermediateLayerGetter`这个需求我们记录下，感谢反馈~

[2021-02-04 03:15] #30856 closed, assigned to yinhaofeng

[2021-02-04 03:16] #30853 closed, assigned to yinhaofeng

[2021-02-04 03:18] #30879 closed, assigned to littletomatodonkey

[2021-02-04 03:18] GuoQuanhao commented on #30879
谢谢

[2021-02-04 03:19] #26624 closed, assigned to LielinJiang

[2021-02-04 03:20] #27392 closed, assigned to qingqing01

[2021-02-04 03:48] williamlzw opened #30882 "paddle2.0 windows c++推理初始化模型问题"
版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号:2.0
    2）CPU：预测若用CPU，因特尔，OpenBlas版本windows推理包
    4）系统环境：win10
-预测信息
    1）C++预测：2.0 Windows openblas c++推理包
    4）预测库来源：paddleocr dbnet 检测轻量级推理模型
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

paddle_infer::Config config;
config.SetModel("inference.pdmodel","inference.pdiparams"）这一句我用c++例子跑可以通过。但我用一款中文语言编写运行就崩溃了.
截图见https://ai.bai

[2021-02-04 03:59] williamlzw opened #30883 "如何转换paddle2.0模型为onnx"
如何转换paddle2.0模型为onnx,好像转换的数据有问题？

[2021-02-04 04:00] yinhaofeng commented on #30865
新版的2.0框架是支持在windows下运行的，您的报错显示fusion_group不支持windows，应该是环境和配置出了问题。如果方便的话可以提供一下您参考的是哪个教程和官方配置吗？

[2021-02-04 04:04] wksuixin commented on #30870
使用gcc8.2.0 报boost的错误，累了。。。

/data/nlp/wangkuan/code/Paddle/build/third_party/boost/src/extern_boost/boost/mpl/assert.hpp:154:21: error: unnecessary parentheses in declaration of ‘assert_arg’ [-Werror=parentheses]
 failed ************ (Pred::************
                     ^
/data/nlp/wangkuan/code/Paddle/build/third_party/boost/src/extern_boost/boost/mpl/assert.hpp:159:21: error: unnecessary par

[2021-02-04 04:05] wangxicoding commented on #30874
试一下这个，不过不建议通过_global_learning_rate()获取lr，create_optimizer时应该可以获取相应的lr。另外你现在用的哪个Paddle版本，建议升级到paddle2.0。paddle分布式fleet接口进行了相关的升级，可以查阅相关文档https://fleet-x.readthedocs.io/en/latest/ （最近文档在重构升级，可能尚不完善，敬请谅解）
[code]

[2021-02-04 05:02] littletomatodonkey commented on #30882
你好，在你这个环境里，使用vs2019可以正常运行cpp inference的demo嘛？目前windows上cpp inference的demo代码部分应该还太支持中文编程语言哈~inference model路径也不能使用中文路径，否则也会报错

[2021-02-04 05:06] littletomatodonkey commented on #30883
你好，可以参考这个说明文档哈，里面有Paddle模型转化为onnx的模型：

https://github.com/PaddlePaddle/Paddle2ONNX/blob/develop/README_zh.md

[2021-02-04 05:23] cryoco commented on #30866
是初始化的显存，不够会继续申请。
降低初始化的显存就不会hang住这个情况不太符合预期，我们记录并后续尝试复现一下，请问您是否方便提供下模型和复现单测？我们后续有进展会更新在这里。

[2021-02-04 05:46] yinhaofeng commented on #30870
建议清理一下build目录，再试一次看看。可能是build目录中之前遗留的问题。如果还有报错麻烦给一下比较详细的报错，我们会第一时间帮您分析

[2021-02-04 06:40] DDDLIN opened #30885 "安装paddle报错磁盘空间不够"
使用命令python3 -m pip install paddlepaddle-gpu==2.0.0 -i https://mirror.baidu.com/pypi/simple --trusted-host mirror.baidu.com安装paddle时报错。
错误信息：
ERROR: Could not install packages due to an EnvironmentError: [Errno 28] No space left on device
磁盘空间：6.5G Available
请问是paddle安装过程中会超过6.5G吗？还是别的问题？

[2021-02-04 06:50] littletomatodonkey commented on #30885
你好，这可能是/tmp中空间不够导致的哈，
1. 可以清空下/tmp文件夹
2. 在pip install的时候，可以指定下面`--cache-dir`与`--build`的目录， `--cache-dir=/folder/address/here/ --build /folder/address/here/`，这两个目录下有足够的空间即可，比如

[code]

[2021-02-04 07:00] lleesg commented on #30866
模型用的官方DarknetYOLOv3
代码用的官方Paddle-Inference-Demo-master\python\yolov3\infer_yolov3.py
谢谢~

[2021-02-04 07:10] qdd1234 opened #30887 "单机多卡并行训练出错"
我通过单机多卡的程序完成训练后保存模型想进行验证以及继续训练，但是使用paddle.load()导入模型时却报如下的错误
请问该如何解决
![image](https://user-images.githubusercontent.com/68497831/106857451-10d2b180-66fb-11eb-8424-2028f700e2c2.png)

[2021-02-04 07:11] qdd1234 commented on #30887
我是用的是paddle2.0 在四张Tesla T4上进行训练

[2021-02-04 08:04] GZHUZhao commented on #30848
jetson nano 上没有办法直接通过pip安装whl的啊

[2021-02-04 08:07] lleesg commented on #30866
还有个问题，我用2.0rc0预测正常，同样的代码、权重，用2.0就预测不到任何目标了，请问能提供点排查思路么？谢谢

[2021-02-04 08:32] DDDivano commented on #30835
先check一下是否正确安装了2.0.0.post101，我这边下载了相同的包，metadata数据显示是正确的。安装也是正确的。
![image](https://user-images.githubusercontent.com/10734244/106865789-9c057480-6706-11eb-9889-ec63fdde4222.png)

我这边试了下你的命令，发现baidu whl源没有这个包。
![image](https://user-images.githubusercontent.com/10734244/106866093-04545600-6707-11eb-97b5-71ad20f86bff.png)

官方命令是：python -m pip install paddlepaddle-gpu==2.0.0.post101 -f https://paddlep

[2021-02-04 09:01] littletomatodonkey commented on #30887
你好，模型保存的时候，建议只在0号卡上保存哈，否则的话，多个trainer同时写到一个文件的话，保存的模型文件可能无法读取，可以参考这里~：

https://github.com/PaddlePaddle/PaddleClas/blob/e16b79530c90a745e5015df6b09513379db9f5fd/ppcls/utils/save_load.py#L149

[2021-02-04 09:04] qdd1234 commented on #30887
如果只在0号卡上保存参数，那其余三张卡上保存的模型参数是会被怎么处理？

[2021-02-04 09:05] littletomatodonkey commented on #30887
所有trainer的参数都是完全一样的，所以只需保存一份即可哈

[2021-02-04 09:07] qdd1234 commented on #30887
还有一个问题:我使用四张卡进行训练，一张卡上batchsize = 20 ，按道理来说总的batch_size = 80 ,那为何每张卡上训练的轮数还是等于总的数据集图片数量/batchsize？

[2021-02-04 09:08] qdd1234 commented on #30887
其中 计算轮数的batchsize = 20，这是什么原因，我看论文上提到多卡是可以实现更大batchsize效果的

[2021-02-04 09:22] littletomatodonkey commented on #30887
你的DistributedBatchSampler中传入的是20吗？这里需要设置单卡的bs

https://github.com/PaddlePaddle/PaddleClas/blob/e16b79530c90a745e5015df6b09513379db9f5fd/ppcls/data/reader.py#L248

[2021-02-04 09:28] qdd1234 commented on #30887
![image](https://user-images.githubusercontent.com/68497831/106872494-5482e680-670e-11eb-99fe-de9af246b0f3.png)
那我直接使用DataLoader是无法实现的？

[2021-02-04 10:23] littletomatodonkey commented on #30887
多卡训练的话，是需要使用DistributedBatchSampler的哈，会对数据在不同trainer上面做切分~

[2021-02-04 11:10] GuoQuanhao opened #30898 "超出索引范围"
platform: aistudio
version: paddle2.0
使用如下代码：
[code]
报错如下：
[code]

[2021-02-04 11:53] littletomatodonkey commented on #30898
你好，感谢反馈，这个已经在这个PR中修复： #30899

[2021-02-04 11:57] wojtuss opened #30900 "OutOfMemoryException when building Paddle on Windows"
**System information**
-PaddlePaddle version （eg.1.1）or CommitID: b08ae368bb097cd8b6d3d23ba7fc6e927c58d07e
-CPU: yes
-GPU: no
-OS Platform: Windows Server 2019
-Python version: 2.7.17
-Install method: build from source (without docker)
![image](https://user-images.githubusercontent.com/19307410/106884958-43bc7b80-66e2-11eb-9e03-3d64639ba51f.png)

**To Reproduce**
In order to build Paddle I execute

[2021-02-04 12:03] #30898 closed, assigned to littletomatodonkey

[2021-02-04 12:11] OliverLPH commented on #30900
@zhouwei25 could you help see this Windows issue?

[2021-02-04 12:26] williamlzw commented on #30882
我没有用中文路径，那个IDE其实是嵌入c++原生代码，但就是不能运行，只是把运行代码封装到一个c++ class里面。

[2021-02-04 13:09] wojtuss commented on #30900
Another output with the memory problem (when there is a lot of free memory):
[code]

[2021-02-04 14:47] juncaipeng opened #30905 "CPU Inference gets incorrect results"
Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in case that th
If there is no solution,please make sure that this is an inference issue including the following details :
**System information**
-PaddlePaddle version: 2.0
-CPU:  disable mkldnn
-OS Platform: ubuntu 16.04
-Python version: 3.7
Note: You can get most of the information by ru

[2021-02-04 15:06] GuoQuanhao opened #30906 "读取dataloader失败"
platform: aistudio
version: paddle2.0

我使用了以下代码，其中`WIDER FACE`数据集可在我的aistudio上找到 https://aistudio.baidu.com/aistudio/datasetdetail/70148
[code]
但是出现了以下错误
[code]

但是我通过读取`dataset`是具有数据的：
[code]
[code]
这让我感到疑惑，大大增加了我复现论文的挫败感/(ㄒoㄒ)/~~

[2021-02-04 15:10] littletomatodonkey commented on #30882
嗯嗯，要不使用VS等ide呢？之前没有在这种中文ide上测试过~

[2021-02-05 02:33] jiweibo commented on #29919
cudnn8.0存在内存泄露，请换成cudnn7试下

或者临时关闭两个用到cudnn泄露位置的pass
python 写法
config.delete_pass('conv_elementwise_add_act_fuse_pass')
config.delete_pass('conv_elementwise_add2_act_fuse_pass')

[2021-02-05 02:49] zhwesky2010 commented on #30900
@wojtuss  Memory of your computer is not occupied by other process?

[2021-02-05 02:52] zhwesky2010 commented on #30900
@wojtuss  you can set `-DWITH_TESTING=ON -DWITH_INFERENCE_API_TEST=ON` and try again

[2021-02-05 03:05] juncaipeng commented on #30905
The weights of first conv2d op have nan, just as follows.
![image](https://user-images.githubusercontent.com/52520497/106984159-04556400-67a2-11eb-93fa-00a3adeb5672.png)

[2021-02-05 03:25] swtkiwi opened #30909 "【30系列机器用户的福音】第三方贡献wheel包集合点"
Hi，各位飞桨用户～
非常开心的告诉大家：飞桨很荣幸的有了第一个适配3090的wheel包，并且是社区贡献的～这代表更多人荡起手中的桨，为飞桨助力，双桨合璧～
飞桨其实可以适配更多的环境和硬件，但是官方核心团队的机器、人力很难进行全面覆盖，故我们希望能够召集更多的第三方贡献者共同来建设更加完整的飞桨安装生态，用飞桨、划时代！
当然官方也在快马加鞭的进行着适配30系列机器的准备，敬请期待～
以下为第三方贡献wheel包，供大家学习使用，如有任何问题欢迎大家随时在此issue下沟通交流，也欢迎大家来一起贡献哦：
-贡献者：zhang.xuan；github主页：https://github.com/daassh
- wheel包适配环境：
python: 3.8.5
gcc: 9.3.0
cuda 11.1
显卡型号: RTX3090
系统: Ubuntu20.04
- wheel包下载地址：

[2021-02-05 06:07] wksuixin commented on #30870
把build目录删除后，没再编译1.8版本，编译2.0版本成功了！！！

[2021-02-05 06:14] jtyoui commented on #27182
我也遇到了。我排查了一天发现是多线程造成的。
我的代码如下：
[code]
错误如下：

[code]
显然在执行` exe.run(program=main_program, fetch_list=fetch_list, use_program_cache=True)`命令阻塞了。从而导致错误。
但是我不知道怎么去解决这样的问题。请大佬指点？？？

[2021-02-05 06:26] caozongpeng commented on #25560
我也遇到了，有解决办法吗？

[2021-02-05 06:28] MrChengmo opened #30914 "同时加载多个模型预测，InputName会被改变"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-02-05 06:30] littletomatodonkey commented on #30906
你好，需要这样定义loader哈，否则你传入的10，默认是分配给第二个参数feed_list的

[code]

[2021-02-05 06:39] MrChengmo opened #30915 "分布式训练支持Horovod"
希望Paddle分布式训练可以支持horovod，并且有各种模式的Benchmark对比，参考链接：https://zhuanlan.zhihu.com/p/63191159

[2021-02-05 07:06] juncaipeng commented on #30914
GO api的文档和api请参考：https://paddle-inference.readthedocs.io/en/latest/api_reference/go_api_doc/Config/AnalysisConfig.html

目前paddle2.0预测库确认可用的接口是c++/python，go api没有通过完整测试，估计要节后会尽快开展完善工作。

[2021-02-05 07:13] chenjiaoAngel commented on #30792
<img width="706" alt="image" src="https://user-images.githubusercontent.com/38650344/107001279-53ac8c00-67c4-11eb-8365-73b584ba1e37.png">
路径解压后，是否在目录下能找到这个文件呢？我担心解压不对
报错地方显示，reader 读取时，找不到文件

[2021-02-05 08:27] jiweibo commented on #30914
go API底层是C API，可能有点问题，节后会修复这一块的问题。如果可以请优先使用c++ api。

[2021-02-05 09:25] wojtuss commented on #30900
@zhouwei25 , both flags are already in the cmake command. The memory is not occupied by any other process.

[2021-02-05 09:28] wojtuss commented on #30900
@zhouwei25 , maybe msbuild has some configuration settings which limit the memory usage? or there is some switch to enable run 64-bit version of msbuild tools? (however, the cmake command explicitly uses the option `-A x64`)

[2021-02-05 10:20] caozongpeng opened #30923 "源码编译成功没有dist目录"
- 标题：源码编译成功没有dist目录
- 版本、环境信息：
    1）PaddlePaddle版本：release/2.0
    2）CPU：麒麟 V10 aarch64
    4）系统环境：Python 3.7.0

2）本地编译：cmake .. -DPY_VERSION=3 -DPYTHON_EXECUTABLE=`which python3` -DWITH_ARM=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_XBYAK=OFF

![image](https://user-images.githubusercontent.com/30362467/107021088-adba4b00-67de-11eb-9602-9843d1e237e2.png)

![image](https

[2021-02-05 10:33] jey07 commented on #29353
I am getting similar issue while running through google collab. Google collab has cuda version -10.1  but  for some reason it is not working

![image](https://user-images.githubusercontent.com/13083382/107022908-f1578980-67cb-11eb-8be8-bfb776890765.png)

![image](https://user-images.githubusercontent.com/13083382/107023118-2fed4400-67cc-11eb-92dd-18f9cc6fc3d2.png)

Error while running inference mo

[2021-02-05 10:35] MissPenguin commented on #30915
您好，Paddle推荐使用Fleet API进行分布式训练，具体操作可参考文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/06_distributed_training/index_cn.html

[2021-02-05 10:51] MissPenguin commented on #30923
/opt/software/python/Paddle/build/ 下有啥呢

[2021-02-05 11:13] MissPenguin commented on #30923
编译的时候加上这个参数试试：-DWITH_PYTHON=ON

[2021-02-05 11:26] wojtuss commented on #30900
@zhouwei25 , also adding the option `/p:PreferredToolArchitecture=x64` to msbuild does not help.

[2021-02-05 12:16] pmajchrzak opened #30926 "ERNIE application stop build"
branch: PaddlePaddle:develop
commit: 715d862868aca6ae4c865dc3db1cde6818e4ad1a
caused the ERNIE application to stop building

build command:
[code]

Error message:
[code]

[2021-02-05 12:48] mayank2 opened #30927 "Issue while importing in python embedded application"
`import paddleocr` invokes python embedded software instead of python.exe while opening a subprocess.

[2021-02-05 13:34] buddyhello opened #30930 "Paddle 2.0rc1使用静态图模式训练报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.0rc1
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddleP

[2021-02-05 14:12] wojtuss commented on #30905
@juncaipeng ,
I have verified quickly that enabling/disabling oneDNN `relu` kernel makes the difference. With oneDNN `relu` the output is correct. With native `relu` the output is incorrect. All fuses are turned off. I am still looking at it.

[2021-02-05 14:32] wojtuss commented on #30905
The first native `relu` produces correct output, all other `relu`s give `nan`s.

[2021-02-05 15:30] caozongpeng commented on #30923
@MissPenguin 好像也没有用

[2021-02-05 20:57] wojtuss commented on #30905
@juncaipeng ,
Yes, it looks like the `nan`s in `conv2d`'s weights are the culprit. For some reason oneDNN `relu` kernel copes with the `nan`s, like the GPU kernel does.

[2021-02-06 05:38] lyl120117 opened #30933 "【AIStudio】OSError: (External) Cuda error(35), CUDA driver version is insufficient for CUDA runtime version."
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==2.0.0

Traceback (most recent call last):
  File "tools/main.py", line 56, in <module>
    main(args, cfg)
  File "tools/main.py", line 30, in main
    setup(args, cfg)
  File "/home/aistudio/stargan-v2.paddle/PaddleGAN/ppgan/utils/setup.py", line 39, in setup
    paddle.set_device('gpu')
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7

[2021-02-06 07:05] williamlzw commented on #30882
确定了visual studio2019也不能跑。见下面issues
https://github.com/PaddlePaddle/PaddleOCR/issues/1961

[2021-02-06 08:34] caozongpeng commented on #30923
@MissPenguin 还有其它办法吗

[2021-02-06 09:25] DDDLIN opened #30934 "使用conda安装时下载paddlepaddle-gpu-2.0进度条不动，一直0%，更换清华镜像后也一样。"
使用conda安装paddle-gpu2.0，下载不动

conda install paddlepaddle-gpu==2.0.0 cudatoolkit=9.0 -c paddle

问题：
Downloading and Extracting Packages
mkl-service-2.3.0    | 62 KB     | ######################################################################################################################################### | 100%
libtiff-4.1.0        | 449 KB    | ###################################################

[2021-02-06 09:33] GT-ZhangAcer commented on #30934
可以先试试把安装命令里的-c paddle去掉

[2021-02-06 09:37] tink2123 commented on #30934
可以尝试在这个路径下，手动下载whl包再安装：https://www.paddlepaddle.org.cn/whl/stable.html

[2021-02-06 09:42] tink2123 commented on #30933
链接项目未公开，我这边无法查看。从报错信息来看，应该是cuda版本太低导致的，可以尝试重开项目，或指定CUDA_VISIBLE_DEVICES 试试。

[2021-02-06 11:58] GuoQuanhao opened #30935 "squeeze_方法报错"
platform: aistudio
version: 2.0.0
在使用paddle的`squeeze_`方法时，我出现了以下错误：
![image](https://user-images.githubusercontent.com/49911294/107117467-82565f80-68b5-11eb-9c0e-2463d44397ee.png)
但在pytorch中这能正常使用
![image](https://user-images.githubusercontent.com/49911294/107117501-9f8b2e00-68b5-11eb-80a1-f12ec27d6b7c.png)

[2021-02-06 12:09] GuoQuanhao commented on #30935
![image](https://user-images.githubusercontent.com/49911294/107117701-18d75080-68b7-11eb-8909-6140a8de6439.png)
但是我使用squeeze，它能够工作，当然我需要对它重新赋值，我认为这是`squeeze_`的bug，希望确认

[2021-02-06 13:08] tink2123 commented on #30935
抱歉，我这边无法看到报错图片，可以麻烦您重新上传一下吗？

[2021-02-06 13:54] GuoQuanhao opened #30937 "index_fill_"
paddle有类似于pytorch的index_fill_方法吗

[2021-02-07 01:52] lyl120117 commented on #30933
谢谢，重装了paddlepaddle-gpu==2.0.0.post101这个版本可以运行了，之前安装命令用的是这个paddlepaddle-gpu==2.0.0，默认装的是10.2的，奇怪的是这个项目前面几次用这个命令paddlepaddle-gpu==2.0.0安装是可以训练的，后面再怎么重启都训练不了。

[2021-02-07 02:20] MissPenguin commented on #30923
换别的paddle版本或者在GPU上也是这样吗

[2021-02-07 02:30] #29760 closed, assigned to sandyhouse

[2021-02-07 02:32] OliverLPH commented on #30926
@pmajchrzak
Hi, PR https://github.com/PaddlePaddle/Paddle/pull/30623 has revert commit https://github.com/PaddlePaddle/Paddle/commit/715d862868aca6ae4c865dc3db1cde6818e4ad1a
You can test commit after this revert PR.

Or there is another way to avoid this issue, you can change source code of ERNIE application

change `gflags::ParseCommandLineFlags(&argc, &argv, true)` to `::GFLAGS_NAMESPACE::ParseC

[2021-02-07 02:32] frankINdf opened #30938 "两个神经网络，A只进行预测，B进行训练，B设置B.eval报错"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）2.0.0
    4）centos
 想要复现一篇论文，用到两个神经网络，A只进行预测，B进行训练，但是A要放在B之中，当作一层，这个时候用了A.eval()
但是训练时提示

ValueError: (InvalidArgument) GradOp is only callable when is_test is false
  [Hint: Expected ctx->Attrs().Get<bool>("is_test") == false, but received ctx->Attrs().Get<bool>("is_test"):1 != false:0.] (at

[2021-02-07 02:38] caozongpeng commented on #30923
@MissPenguin 试了别的版本也是这样，GPU的没有试，服务器是CPU的不能用GPU的吧。

[2021-02-07 02:48] MissPenguin commented on #30927
Can you describe more information, such as code base, Paddle version, running environment, etc. BTW, you can submit paddleocr related issue here：https://github.com/PaddlePaddle/PaddleOCR，maybe you can get a better answer.

[2021-02-07 02:59] pangyoki commented on #30935
您好，图片显示不出来，看不了报错和pytorch的效果，麻烦看下能不能通过其它方式展示？
`squeeze_`是inplace方法，会修改输入Tensor直接作为输出，这样可能导致反向梯度计算错误。所以有些情况`squeeze`能用但是`squeeze_`不能用。
请检查做inplace的变量是否是`stop_gradient=False`的叶子节点，或者报了类似`Expected tensor_version == wrapper_version_snapshot`的错误？

[2021-02-07 03:01] pangyoki commented on #30935
另外，2.0.0版本paddle的`squeeze`方法采用了`View`机制，输入和输出已经是共享数据的了，与`squeeze_`方法功能相同，直接用`squeeze`也是可以的。

[2021-02-07 03:01] pangyoki commented on #30935
另外，2.0.0版本paddle的squeeze方法采用了View机制，输入和输出已经是共享数据的了，与squeeze_方法效果相同（都没有新建输出的底层数据），直接用squeeze也是可以的。

[2021-02-07 03:06] cgq0816 commented on #30856
使用该方法可以解决该问题 （重名的问题）
fluid.dygraph.disable_dygraph()
fluid.dygraph.enable_dygraph()

[2021-02-07 03:25] pangyoki commented on #30935
看到报错图片了，是`squeeze_`的bug，近期会修复这个问题，感谢反馈！

[2021-02-07 04:46] OliverLPH commented on #30900
@wojtuss
maybe try increase virtual-memory and re-build?
https://answers.microsoft.com/en-us/windows/forum/windows_10-performance/how-to-increase-virtual-memory-in-windows-10-a/46dacaf5-15cf-4f5d-9d5a-cba1401ae4c9

[2021-02-07 06:27] FlyingPandaX commented on #29841
您好，这个问题在2.0正式版里面似乎还存在。或者有别的计算加权交叉熵的方式嘛？

[2021-02-07 06:28] FlyingPandaX commented on #29841
您好，这个问题在2.0正式版里面似乎还存在。或者有别的计算加权交叉熵的方式嘛？

[2021-02-07 06:28] HXia-XXL commented on #29841
您好，这个问题在2.0正式版里面似乎还存在。或者有别的计算加权交叉熵的方式嘛？

[2021-02-07 06:46] ZHUI commented on #30938
您好！感谢您的提问。
1. 建议您使用`@paddle.no_grad()`装饰器对 A 网络进行装饰，看是否能满足您的需求。
文档可参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/fluid/dygraph/base/no_grad_cn.html#no-grad
2. 这个场景理论上，paddle 2.0.0 版本应该支持。请确保您使用的是2.0.0正式版或者最新的develop版本 。
develop下载链接： https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/Tables.html#whl-linux-gcc8-2-develop
3. 如果2不行的话，麻烦您提供个最小可复现的代码，我们继续

[2021-02-07 07:05] zhwesky2010 commented on #30923
@caozongpeng make了吗

[2021-02-07 08:01] juncaipeng commented on #30905
@wojtuss Thank you for your investigation.

[2021-02-07 09:04] xinliyangguang opened #30944 "only support yaml files for now"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 1.8.4
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：tesla K40 cuda 9 cudnn 7.6
    4）系统环境：linux  python 2.7.14
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/

[2021-02-07 09:38] qingqing01 commented on #30944
@xinliyangguang  是否可以贴下运行命令。 报错信息是说配置文件格式或后缀不对。

[2021-02-07 09:47] lyl120117 opened #30947 "【论文复现】OSError: (External) Cuda error(9), invalid configuration argument."
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==2.0.0.post101

**复现StarGAN-v2加入FAN网络后训练报错，请帮忙看一下，谢谢**

**报错日志如下：**
Traceback (most recent call last):
  File "test_fan.py", line 444, in <module>
    loss_real = adv_loss(out, 1)
  File "test_fan.py", line 356, in adv_loss
    loss = F.binary_cross_entropy_with_logits(logits, targets)
  File "/home/ps/anaconda3/envs/paddle2.0_py37/lib/python3.7/sit

[2021-02-07 10:52] Wall-ee opened #30948 "能否提供交叉编译Cross Compiling的工具链 ToolChain或者手册？新的jetson-Nano的cuda版本已经升级但是老的Inference_API环境不匹配了"
能否提供交叉编译Cross Compiling的工具链 ToolChain或者手册？

新的jetson-Nano的cuda版本已经升级但是老的Inference_API环境不匹配了

Jetson-Nano 版本 :B01 2021年新版。
现在jetson Nano的默认  development kit 是  jetson pack 4.5  已经是 cuda10.2 tensorrt的版本也升级了， 所以 inference 的编译好的接口已经无法使用。

使用jetson nano 自行编译接口的话，速度有点太慢了…………编译了8个小时 才16%的进度。

所以能否提供一下 交叉编译的环境变量配置，或者交叉编译的手册和指南，不胜感激。

[2021-02-07 11:55] ZHUI commented on #30947
您好，从报错信息来看，似乎是 mean op的问题，问题跟进中，有进展会马上反馈给您。

[2021-02-07 12:04] MissPenguin commented on #30930
是不是忘记跑 exe.run(startup_program) 了

[2021-02-08 01:54] lyl120117 commented on #30947
这个异常很奇怪，去掉masks = fan.get_heatmap(x_real)这行代码就可以正常运行，这行代码跟下面的代码没啥关联。

[2021-02-08 03:19] ZHUI commented on #30947
cuda kernel执行顺序不定，应该是之前发生了错误，mean op刚好catch到了这个错误，实际错误可能不在mean op。
可使用memcheck工具排查此类错误  `cuda-memcheck python test_fan.py` 。

目前对问题已经初步定位，已安排相应同学跟进。

[2021-02-08 05:11] GuoQuanhao commented on #30935
好的谢谢

[2021-02-08 05:11] #30935 closed, assigned to tink2123

[2021-02-08 05:14] GuoQuanhao opened #30952 "index_fill"
【论文复现】请问paddle有类似于torch的index_fill方法吗

[2021-02-08 06:20] houj04 opened #30953 "关于run_check的一系列问题和建议"
以下都是针对这个文件：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/utils/install_check.py

## 对纯cpu的不友好

代码中用了`assert len(paddle.static.cuda_places()) > 0`来判断当前cuda是否可用，如果不可用就会报错说`You are using GPU version PaddlePaddle, but there is no GPU`。

问题来了，在纯cpu环境下，或者纯xpu环境下，这个逻辑显然是有问题的，即`You are using GPU version PaddlePaddle`这句应该通过`fluid.core.is_compiled_with_cuda()`来获得，而不是直接扔出去。

建议：增加更多判断逻辑，先

[2021-02-08 06:33] joey12300 commented on #30952
您好，目前还没有完全一样的api可以完成torch的index_fill，会把您的需求提给相关的工作人员评审。目前有两种可以替代的方案：1. 如果不考虑动静统一和预测部署，可以尝试直接用下标的方式对指定的维度、指定的index填充值。2. 使用scatter api。用法：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/tensor/manipulation/scatter_cn.html#scatter。

[2021-02-08 07:24] joey12300 commented on #30953
@houj04 您好，感谢您的反馈。目前来看run_check主要是用来验证设备是否能运行，后续会考虑添加计算结果检查，力求保证`PaddlePaddle works well` 。后续也会考虑对xpu进行检测。

[2021-02-08 07:33] luotao1 opened #30955 "Build error on LayerNorm fuse pass"
If we use `paddlepaddle/paddle:latest-gpu-cuda9.0-cudnn7` or GCC4.8.2, there is error:
[code]
It is caused by #30891
@arogowie-intel Could you please fix it ASAP? Thanks very much!

[2021-02-08 07:38] AshburnLee opened #30956 "layers.lstm文档问题"
#### 环境

paddlepaddle-gpu, develop, cuda10.1, cudnn7, gcc82, python3.7

#### 问题描述
示例代码跑不通：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/layers/lstm_cn.html#lstm
添加`paddle.enable_static()`后返回报错如下：

[Hint: Expected in_dims[1] == init_h_dims[1], but received in_dims[1]:100 != init_h_dims[1]:20.]

应该是batch_size和input.shape[1]不一致。

[2021-02-08 07:44] luotao1 commented on #30953
对纯CPU的确实不友好。如果我在CPU机器上装了一个GPU版本的包跑CPU程序，应该也是要能跑起来，或者提示我去装CPU的包，而不是报现在的错。

[2021-02-08 08:44] shangzhizhou commented on #30948
交叉编译工具我们正在调研，当前版本辛苦自行编译。预计paddle2.0.1开始发布jetpack4.4和jetpack4.5的预编译预测库
编译可以参考 https://github.com/PaddlePaddle/Paddle/issues/27402

[2021-02-08 09:33] wojtuss commented on #30900
@OliverLPH , the virtual-memory setting was already as recommended.

[2021-02-08 09:48] btobab opened #30958 "Cross_entropy的文档描述不全"
paddle的cross_entropy函数已经包含了softmax激活，所以在模型配置时不需要加上softmax层。
今天我上淘宝求助了半天才搞清楚这个问题。。。

[2021-02-08 11:39] DDDLIN commented on #30934
感谢，完美解决了我的问题！

[2021-02-08 13:30] jczaja commented on #30560
Regarding to our strategy in enabling bf16 training, We focus on word2vec with goal to reduce memory consumption. We want to do that by enabling bf16 training for most memory consuming ops like: **lookup_table** . Apart from ops we want to have optimizer working purely on bf16 as well. So ideally to reduce memory usage we will have pure bf16 training **without** the need of keeping master paramete

[2021-02-08 14:26] arogowie-intel commented on #30955
@luotao1 The fix is implemented in PR [30962](https://github.com/PaddlePaddle/Paddle/pull/30962)

[2021-02-08 15:07] GuoQuanhao commented on #30952
好的谢谢

[2021-02-08 15:07] #30952 closed, assigned to joey12300

[2021-02-08 23:50] joey12300 commented on #30956
@AshburnLee 感谢您的反馈。经测试确实无法正确运行。建议使用2.0版本的LSTM：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/layer/rnn/LSTM_cn.html#lstm

[2021-02-08 23:57] joey12300 commented on #30958
您好，请问是参考哪里的文档呢？目前该函数2.0版本的文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/layer/loss/CrossEntropyLoss_cn.html#crossentropyloss 这份文档的第一句描述：`该OP计算输入input和标签label间的交叉熵损失 ，它结合了 LogSoftmax 和 NLLLoss 的OP计算，可用于训练一个 n 类分类器。`

[2021-02-09 01:57] AshburnLee commented on #30956
谢谢解答！

[2021-02-09 02:26] #30955 closed, assigned to nobody

[2021-02-09 03:11] #22398 closed, assigned to nobody

[2021-02-09 03:11] #22400 closed, assigned to hutuxian

[2021-02-09 03:11] #22405 closed, assigned to Aurelius84

[2021-02-09 03:11] #22425 closed, assigned to MRXLT

[2021-02-09 03:11] #22500 closed, assigned to nobody

[2021-02-09 05:32] HuangLonghao opened #30964 "windows10编译paddle2.0源码报错"
- 标题：windows10下vs2015编译paddle2.0源码报错
- 版本、环境信息：
    1）PaddlePaddle版本：paddle2.0
    2）CPU：i7 7820x
    3）GPU：1070ti+cuda10+cudnn8.0.5+tensorRT7.0
    4）系统环境：windows10+python3.7
- 安装方式信息：
     cmake .. -G "Visual Studio 14 2015 Win64" -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release -DCUDA_TOOLKIT_ROOT_DIR="C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v11.0" -DON_INFER=ON DTENSO

[2021-02-09 06:38] btobab commented on #30958
我参考的是2.0的paddle.nn.functional.cross_entropy函数

[2021-02-09 07:04] #30956 closed, assigned to joey12300

[2021-02-09 07:06] kuizhiqing commented on #30915
感谢您的关注，horovod 支持正在开发中，请关注我们的最新进展。

[2021-02-09 07:57] GuoQuanhao commented on #30937
已得到解决

[2021-02-09 07:57] #30937 closed, assigned to nobody

[2021-02-09 08:03] GuoQuanhao opened #30967 "【论文复现】gather方法"
platform: aistudio
version:2.0.0

在复现pytorch代码时，我发现paddle的`gather`方法与pytorch的差异较大，想寻求一个解决方法，如下所示，paddle的`gather`方法对于index的输入维度只能在一个轴上，如果输入纬度为二维则会报错
<img width="334" alt="image" src="https://user-images.githubusercontent.com/49911294/107333180-10b62580-6af0-11eb-8d08-aabd19092007.png">
<img width="611" alt="image" src="https://user-images.githubusercontent.com/49911294/107333279-33483e80-6af0-11eb-

[2021-02-09 08:35] lidanqing-vv commented on #30926
@pmajchrzak  Hi, Could you please check if this problem still exists with newest develop ?

[2021-02-09 09:19] geoyee commented on #30958
请问为什么在nn的CrossEntropy中没有soft_label，在nn.functional的cross_entropy中就有

[2021-02-09 12:19] pmajchrzak opened #30976 "ERNIE app does not run under paddlepaddle/develop branch"
**Application:**
https://github.com/PaddlePaddle/benchmark/blob/master/Inference/c%2B%2B/ernie/run.sh

does not run under https://github.com/PaddlePaddle/Paddle/tree/develop
**RUN command**
[code]
**ERROR output:**
[code]
**BUT**
On the same machine and the same system (Ubuntu18) runs properly for PP Rel 2.0

[2021-02-09 13:35] dawangda opened #30977 "以linux docker方式安装paddle2.0，需要在native 主机linux上安装cudnn吗？"
以linux docker方式安装paddle2.0，需要在native 主机linux上安装cudnn吗？是不是paddle docker里本身自带了cudnn，不用再专门安装了?

[2021-02-09 13:43] dawangda opened #30978 "安装paddle 2.0和NCCL后，报错： 不能使用多个GPU"
请问，机器有4张卡，安装paddle 2.0和NCCL后，验证安装，却报 不能使用多个ＧＰＵ，咋回事？

Python 3.8.0 (default, Jan 27 2021, 07:38:48)
[GCC 8.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

grep: warning: GREP_OPTIONS is deprecated; please use an alias or script

Running Verify Fluid Program ...
W0209 13:39:54.051972   359 device_context.cc:362] Please NOTE: device: 0, GPU Compute Capability: 7.

[2021-02-09 16:42] eepgxxy opened #30979 "  请问Paddle中怎么实现对训练参数手动修改梯度值的功能？"
目前没有在Paddle中找到该实现的方法。直接对grad或gradient属性赋值报错。求指教。

[2021-02-09 20:41] wojtuss commented on #30905
@juncaipeng , I have submitted a PR with a proposal of a fix: https://github.com/PaddlePaddle/Paddle/pull/30980

[2021-02-10 02:50] lyl120117 commented on #30947
@ZHUI @wangjiawei04 非常感谢提供cuda-memcheck方法定位问题，通过查找[NVIDIA官方文档](https://docs.nvidia.com/cuda/cuda-memcheck/#about-cuda-memcheck)，以及在代码中增加Debug日志，定位到了这个异常属于CUDA API errors，具体错误类型是cudaErrorInvalidConfiguration (error 9)，引起异常的代码在get_heatmap -> preprocess -> shift，shift函数有两个参数，当参数N为0时，如果用paddle提供的API操作就会出现上述异常，我把shift中的操作都换成numpy就可以正常运行了。上述是我分析的结果，希望对你们有帮助，再次感谢你们提供的支持。

[2021-02-10 04:07] moneyQyh opened #30983 "您好，我在多卡训练过程中，想要载入之前的模型，laod的过程没有报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2021-02-10 04:21] moneyQyh commented on #30983
但是在load之后，就卡住了，查看了显卡，发现程序也没有被kill

[2021-02-10 04:52] shinianzhihou commented on #29353
重启电脑or服务器解决了我的问题～

[2021-02-10 04:52] #29353 closed, assigned to qingqing01

[2021-02-10 06:18] OliverLPH commented on #30115
@jczaja @luotao1
Hi, I have verified this PR, model prediction looks great without crash.
Please cherry-pick to release/2.0 branch, thanks so much~

[2021-02-10 06:19] #30115 closed, assigned to jczaja, juncaipeng

[2021-02-10 08:27] wawltor commented on #30967
目前padddle和pytorch的区别挺大的，我们有计划开发一版对齐的版本。目前的解决方案可以尝试使用gather_nd或者transpose+gather的方式

[2021-02-10 08:28] wawltor commented on #30977
不需要的，只需要选择专门的docker镜像就可以

[2021-02-10 08:34] wawltor commented on #30964
稍等，我们这边的同学会跟进这个问题

[2021-02-10 08:48] wawltor commented on #30978
看起来是NCCL安装失败了，麻烦根据链接重新安装一次 https://docs.nvidia.com/deeplearning/sdk/nccl-install-guide/index.html

[2021-02-10 08:49] wawltor commented on #30978
如果还是安装有问题，可以尝试使用docker使用镜像的方式来使用paddle

[2021-02-10 10:02] dawangda commented on #30978
我就是用如下docker方式安装安装的。然后报错。

拉取预安装 PaddlePaddle 的镜像：
nvidia-docker pull registry.baidubce.com/paddlepaddle/paddle:2.0.0-gpu-cuda10.2-cudnn7
用镜像构建并进入Docker容器：
nvidia-docker run --name paddle -it -v $PWD:/paddle registry.baidubce.com/paddlepaddle/paddle:2.0.0-gpu-cuda10.2-cudnn7 /bin/bash

[2021-02-10 12:50] btobab commented on #30958
paddle2.0的nn的CrossEntropyLoss包含了softmax激活，nn.functional的cross_entropy也包含了softmax丫

[2021-02-10 13:30] guojiahuiEmily opened #30988 "我建了一个公开项目“黄金价格预测”，运行这里报错，不知道怎么解决，求帮忙"
公开项目地址
https://aistudio.baidu.com/aistudio/projectdetail/1525691

报错信息（v2版本）：
ValueError: (InvalidArgument) input and filter data type should be consistent [Hint: Expected input_data_type == filter_data_type, but received input_data_type:6 != filter_data_type:5.] (at

您可以切换到covid版本，人家是ok的，我的版本就报错

[2021-02-10 20:23] lidanqing-vv commented on #30976
https://github.com/PaddlePaddle/benchmark/pull/896 solve the issue

[2021-02-10 21:32] lidanqing-vv commented on #30309
This issue is waiting for Baidu team to add AppendPass python API

[2021-02-11 01:37] gaorui999 opened #30991 "在做硕士论文的时候经常用到混淆矩阵，希望大佬们能开发一个高层API导入混淆矩阵的接口"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：2.0
2）CPU/GPU：ai STUDIO训练
3）系统环境：WINDOWS10

- 建议描述：请您详细描述，您认为需优化的功能
在做硕士论文的时候经常用到混淆矩阵，希望大佬们能开发一个高层API导入混淆矩阵的接口，类似于PaddleX客户端里预测模型部分的那种

[2021-02-11 03:16] moneyQyh opened #30992 "请问如果我在dataloader中设置不组batch的话，如何在多卡上进行数据并行训练呢"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2021-02-11 03:17] #30983 closed, assigned to gongweibao

[2021-02-11 09:21] #30977 closed, assigned to nobody

[2021-02-12 01:04] liu824 opened #30995 "<paddle.fluid.dataloader.dataloader_iter._DataLoaderIterMultiProcess at 0x7f2bb39ed850> ERROR:root:DataLoader reader thread raised an exception!"
自定义数据读取时出现问题
报错：
ERROR:root:DataLoader reader thread raised an exception!
---------------------------------------------------------------------------SystemError                               Traceback (most recent call last)<ipython-input-12-e0d0f598d06c> in <module>
    130
    131
--> 132     for index, data in enumerate(data()):
    133         if index == 20:
    134             break
/opt/con

[2021-02-12 07:25] wojtuss commented on #30905
@juncaipeng , I have submitted an alternative fix which keeps the original (faster) GPU `relu` implementation.

[2021-02-13 09:11] gongweibao commented on #30979
目前还没有，我们记录一下。有了进展我们及时release出来。

[2021-02-13 09:13] gongweibao commented on #30983
咱们这边还有问题吗？

[2021-02-13 09:15] moneyQyh commented on #30983
这个问题我已经解决了，谢谢回复

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: gongweibao <notifications@github.com>
发送时间: Saturday, February 13, 2021 5:13:19 PM
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: moneyQyh <CheinYucci@outlook.com>; State change <state_change@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] 您好，我在多卡训练过程中，想要载入之前的模型，laod的过程没有报错 (#30983)

能否把可实现

[2021-02-13 09:19] Superjomn commented on #30991
可以直接给tensor 设置值，具混淆矩阵的值可以 numpy 生成之后，再设置到具体的tensor里

[2021-02-13 09:37] gongweibao commented on #30988
我这里总显示找不到对应的文件。你是如何处理这个问题的？
![image](https://user-images.githubusercontent.com/10721757/107846858-1d08ee00-6e22-11eb-98ab-05eb7fbf0592.png)

[2021-02-13 09:53] gongweibao commented on #30988
```[Hint: Expected input_data_type == filter_data_type, but received input_data_type:6 != filter_data_type:5.] (at /paddle/paddle/fluid/operators/conv_op.cc:175)```

这个的意思是说类型不匹配， fp64!=fp32。

[2021-02-13 12:17] A-Pai opened #30999 "2.0的文档说法不严谨？应该严格一致"
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/01_paddle2.0_introduction/basic_concept/tensor_introduction_cn.html

![image](https://user-images.githubusercontent.com/5112397/107849753-58161c00-6e38-11eb-9633-82804184a2cd.png)

[2021-02-13 14:29] jerrywgz commented on #30999
这里打印出来的dtype对应的是paddle中tensor的数据类型，和numpy的参照列表在https://github.com/PaddlePaddle/Paddle/blob/release/2.0/python/paddle/fluid/data_feeder.py#L30
如果使用```print(paddle.to_tensor([1.2]))``` 这样的方式，显示出的dtype就是对应numpy的类型；如果使用xxx.dtype的话，确实不会转换成numpy的数据类型。这里我们文档增强下

[2021-02-13 14:31] A-Pai commented on #30999
不是这个意思，我的意思是上下的说法应该一致

[2021-02-13 14:32] jerrywgz commented on #30999
是的，这里文档需要增强下，我上面是说明下不一致的原因，用print的话可以得到一致的结果

[2021-02-14 01:39] A-Pai opened #31001 "2.0文档中可有对比使用GPU与否性能的例子代码？"
2.0文档中可有对比使用GPU与否性能的例子代码？
使用GPU可显著提高速度，希望学习2.0中怎么设置使用gpu
最好是在AI Studio方便实验

[2021-02-14 02:23] A-Pai opened #31002 "使用paddle.Model完成模型的封装，将网络结构组合成一个可快速使用高层API进行训练和预测的“类”？--是类还是对象"
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/05_train_eval_predict_cn.html
![image](https://user-images.githubusercontent.com/5112397/107866707-73237300-6eae-11eb-8f8b-92c3e4cfffcd.png)

[2021-02-14 02:27] A-Pai commented on #31002
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/01_quick_start_cn.html

这里说生成“实例”
![image](https://user-images.githubusercontent.com/5112397/107866782-31df9300-6eaf-11eb-833b-93eeb5ed541d.png)

[2021-02-14 03:33] A-Pai commented on #31002
再看这里
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/01_paddle2.0_introduction/upgrade_guide_cn.html
![image](https://user-images.githubusercontent.com/5112397/107867763-6c99f900-6eb8-11eb-8a10-83e021ec6dce.png)

[2021-02-14 04:03] Fitz-Fitz opened #31003 "提问：paddlehub2.0使用mobilenetV2模型报错"
AttributeError: 'ModuleV1_9b84d0ff5bc6072a0db18dc325eb9873' object has no attribute 'parameters'

请问这是因为hub里的mobilenetV2没有更新到paddle2.0导致的吗

[2021-02-14 08:31] #29402 closed, assigned to TCChenlong

[2021-02-14 15:52] guojiahuiEmily opened #31004 "在线部署后的并发数支持多少"
在aistudio网站中部署在线服务，用户并发数支持多少？

为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可

[2021-02-14 15:54] guojiahuiEmily commented on #30988
您看一下，您那csv文件夹下面有那个文件吗

[2021-02-14 15:54] guojiahuiEmily commented on #30988
那么，该怎么解决呢，可否把您解决后的项目网址发一下

[2021-02-15 02:37] moneyQyh commented on #30992
请问能否回复一下

[2021-02-15 14:45] moneyQyh commented on #30887
接这个问题请问一下，如果不通过Distributedbatchsampler组batch，该如何实现多卡数据并行呢

[2021-02-16 03:12] #22578 closed, assigned to nobody

[2021-02-16 03:12] #22581 closed, assigned to nobody

[2021-02-16 06:28] #25365 closed, assigned to MrChengmo

[2021-02-16 09:33] wojtuss commented on #30900
The issue was caused by 32-bit VS tools. Building Paddle requires 64-bit tools to be used.  Building Paddle in the `VS2015 x64 Native Tools Command Prompt` after specifying 64-bit architecture (`/p:Platform=x64 /p:PreferredToolArchitecture=x64` options) succeeded.

[2021-02-16 09:33] #30900 closed, assigned to OliverLPH, zhwesky2010

[2021-02-16 11:21] chunzhang-hub commented on #31003
@Fitz-Fitz 请问您这边的paddlehub和paddle版本是多少呢，建议可以先更新到2.0的paddle和hub，在试试看

[2021-02-16 11:26] Fitz-Fitz commented on #31003
嗯嗯已确定，paddle和paddlehub都是2.0的

[2021-02-16 11:30] Fitz-Fitz commented on #31003
同时2.0装载模型时：
model = hub.Module(name="mobilenet_v2_imagenet",label_list=label)
也会报错:
__init__() got an unexpected keyword argument 'label_list'

[2021-02-16 11:32] Fitz-Fitz commented on #31003
hub里很多CV模型都存在这个问题，只有resnet50_vd_imagenet_ssld模型支持5分类的label_list。所以check一下，是因为这些模型没有升级到paddle2.0.0所以不和paddlehub2.0兼容吗

[2021-02-16 11:32] Fitz-Fitz commented on #31003
hub里很多CV模型都存在这个问题，只有resnet50_vd_imagenet_ssld模型支持5分类的label_list。所以想确定一下，是因为这些模型没有升级到paddle2.0.0所以不和paddlehub2.0兼容吗

[2021-02-16 12:50] wojtuss opened #31005 "Error on Windows: symlink attribute is missing when running the test_static_save_load test"
**System information**
-PaddlePaddle version （eg.1.1）or CommitID: b08ae368bb097cd8b6d3d23ba7fc6e927c58d07e (develop)
-CPU: including CPUMKL/OpenBlas/MKLDNN version: Intel(R) Core(TM) i9-9940X CPU, no MKLDNN
-GPU: including CUDA/cuDNN version: none
-OS Platform and Distribution(eg.Mac OS 10.14): Windows Server 2019 Standard Evaluation
-Python version: 2.7.17
Note: You can get most of the informatio

[2021-02-16 13:47] wojtuss opened #31007 "[Windows, python 2.7] Error message with long-type numbers do not match the pattern."
System information
-PaddlePaddle version （eg.1.1）or CommitID: b08ae36 (develop)
-CPU: including CPUMKL/OpenBlas/MKLDNN version: Intel(R) Core(TM) i9-9940X CPU, no MKLDNN
-GPU: including CUDA/cuDNN version: none
-OS Platform and Distribution(eg.Mac OS 10.14): Windows Server 2019 Standard Evaluation
-Python version: 2.7.17
Note: You can get most of the information by running summary_env.py.
To Repro

[2021-02-16 15:40] lidanqing-vv commented on #30926
Hi use please use updated command https://github.com/PaddlePaddle/benchmark/pull/896

[2021-02-16 15:45] 1084667371 opened #31008 "binary_cross_entropy在计算时，出现了错误"
- 版本、环境信息：
    1）PaddlePaddle版本：2.0
    2）系统环境：AIstudio

![1](https://user-images.githubusercontent.com/50902619/108086013-e4cb0f00-70b0-11eb-83f3-be8ff970e165.png)
![2](https://user-images.githubusercontent.com/50902619/108086034-e8f72c80-70b0-11eb-93fd-59631631d44e.png)
![3](https://user-images.githubusercontent.com/50902619/108086038-e98fc300-70b0-11eb-98f2-b5da82fe2753.png)
![4](https://user-i

[2021-02-18 01:44] LDOUBLEV commented on #31001
Paddle 2.0中使用gpu可以用 paddle.set_device("gpu:0") API
或者使用export CUDA_VISIBLE_DEVICES="0,1"这样使用GPU
在aistudio 上使用GPU首先确保在GPU模式下运行

[2021-02-18 01:48] A-Pai commented on #31001
可否写一个AI studio的完整项目？---用和不用GPU有鲜明的区别

[2021-02-18 01:54] LDOUBLEV commented on #31001
提供一段代码例子供参考
[code]

[2021-02-18 02:07] A-Pai commented on #31001
用GPU，run time: 0.0006194114685058594
用CPU，run time: 0.0033609867095947266
效率提升不少
最可贵的是使用简单，pytorch使用GPU，要显式地将数据和模型搬到GPU，麻烦
谢谢!!

[2021-02-18 02:25] LDOUBLEV commented on #31004
这个和当前部署的模型复杂度有关系，用户并发数支持5个左右。

[2021-02-18 04:36] D-DanielYang commented on #31003
您好，能提供下您使用的核心代码片段和系统环境么？目前的信息没有办法完全复现您的问题，期待您的回复

[2021-02-18 04:49] Fitz-Fitz commented on #31003
感谢您的重视，复现代码如下：
import paddlehub as hub

model = hub.Module(name="mobilenet_v2_imagenet",label_list=["1","2","3","4"])

报错信息：
__init__() got an unexpected keyword argument 'label_list'

运行环境为python 3.7、paddle2.0.0，paddlehub2.0.0

[2021-02-18 05:00] Fitz-Fitz commented on #31003
您也可以查看这个项目的[PaddleHub2.0]版本进行查看复现

[2021-02-18 05:01] Fitz-Fitz commented on #31003
https://aistudio.baidu.com/aistudio/projectdetail/782743
您也可以查看这个项目的[PaddleHub2.0.0]版本进行查看复现

[2021-02-18 05:16] seiriosPlus commented on #30995
信息量比较少，坏疑是用户的Reader的编写有异常，能否提供下更详细的demo？

[2021-02-18 06:54] #31005 closed, assigned to nobody

[2021-02-18 07:21] HanGaaaaa commented on #30964
同问，vs2015build时候出错

[2021-02-18 12:15] frankINdf commented on #30938
感谢解答，加了no_grad可以解决，如果不加no_grad，就不能用model.eval
paddle 版本 2.0.0 rc1 .post101

[2021-02-18 12:15] #30938 closed, assigned to ZHUI

[2021-02-18 14:34] LiangYongAI opened #31033 "paddle2.0 预测库出现调用时报错Load symbol getPluginRegistry failed"
- 版本、环境信息：
    1）PaddlePaddle版本：release 2.0
    2）GPU：RTX2060、CUDA 10.2和CUDNN7.6.5 TensorRT 7.2.2.3
  
首先编译paddle库：
按照官方文档，但因为要用tensorrt，特意加上了-DWITH_TENSORRT=ON -DTENSORRT_ROOT="D:/github/TensorRT-7.2.2.3"
完整的编译命令是：cmake .. -G "Visual Studio 15 2017" -A x64 -T host=x64 -DCMAKE_BUILD_TYPE=Release -DWITH_MKL=ON -DWITH_GPU=ON -DON_INFER=ON -DWITH_PYTHON=OFF -DWITH_TENSORRT=ON -DCUDA_TOOLKIT_ROOT_DIR=

[2021-02-19 01:40] TCChenlong commented on #31002
第一个应该是对象，后面那一句表意有些不清楚，我们修改下，感谢反馈~

[2021-02-19 01:40] caozongpeng commented on #30923
@zhouwei25 make了，都是按照官网的步骤来的。

[2021-02-19 03:04] guojiahuiEmily opened #31038 "请问js版本的预测demo在哪"
没有找到哦，只有安卓等，没有找到js版本的demo或库

[2021-02-19 03:38] ouxinyu opened #31041 "建议在paddle.vision.models提供一个Alexnet的模型"
paddle.vision模块非常好，但models比较少，建议能够提供alexnet和googlenet这样的经典模型，并附上imagenet预训练
虽然有点老，性能一般，但是足够经典，时候很多场景，比如baseline，比如教学

[2021-02-19 04:40] ceci3 commented on #31038
https://github.com/PaddlePaddle/Paddle.js 可以看下这里~

[2021-02-19 07:29] cryoco commented on #31033
您好，可能是依赖库版本不匹配的原因，cuda、cudnn、trt版本需要满足nvidia官方的依赖关系，可以在nvidia官网下载页面查到：

trt7.2.2.3:
cuda11.1 + cudnn8.0
cuda11.0 + cudnn8.0
cuda10.2 + cudnn8.0

trt7.2.1.6:
cuda11.1 + cudnn8.0
cuda11.0 + cudnn8.0
cuda10.2 + cudnn8.0

trt7.1.3.4:
cuda11.0 + cudnn8.0

trt7.0.0.11:
cuda10.2 + cudnn7.6
cuda10.0 + cudnn7.6
cuda9.0 + cudnn7.6

[2021-02-19 09:18] kuizhiqing opened #31053 "运行退出机制"
ps 模式下，训练完成 worker 主动退出，但是 pserver 会持续运行，且不处理系统退出 signal，需要修复。

* 自动退出，或者
* 处理系统退出 signal

collective 模式下，有可能由于数据不均匀导致不退出，需要完善退出机制和处理系统 signal。

[2021-02-19 09:43] A-Pai opened #31054 "2.0探测是否存在GPU的函数是？"
2.0探测是否存在GPU的函数是？

[2021-02-19 09:49] A-Pai commented on #31054
怎样才能很快地在文档中查到？

[2021-02-19 10:02] #28334 closed, assigned to swtkiwi

[2021-02-19 11:10] ceci3 commented on #31054
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/utils/install_check/run_check_cn.html#run-check 可以试下这个接口

[2021-02-19 11:44] A-Pai commented on #31054
这个函数应该返回有无GPU的值

[2021-02-19 11:58] lidanqing-vv commented on #30560
Hi, @luotao1
With newest develop branch, I can not save models anymore. Could you please give some suggestions ?
[code]
Reproduce steps
- Build Paddle
[code]
- Run word2vec
[code]

[2021-02-19 12:18] A-Pai commented on #31054
我的想法是通过这个函数设置优先使用GPU，若无GPU，就使用CPU

[2021-02-19 13:31] ceci3 commented on #31054
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/framework/is_compiled_with_cuda_cn.html#is-compiled-with-cuda 抱歉之前没理解您的意思，那可以这个接口是否可以满足

[2021-02-19 13:34] ceci3 commented on #31041
我反馈一下，感谢您的建议~

[2021-02-19 13:34] ceci3 commented on #31053
我反馈一下，感谢~

[2021-02-19 14:44] A-Pai commented on #31054
就是这个，多谢！
还想多问一下，怎么方便地在文档中查到这个？--按照怎样的方法或者线索？搜索cuda？似乎搜索不到

[2021-02-19 16:47] wojtuss commented on #30309
A new fix for release/2.0 branch (with oneDNN 1.6) is submitted: https://github.com/PaddlePaddle/Paddle/pull/31066.

[2021-02-20 02:38] MrChengmo commented on #30560
There is a compatibility problem between single machine training and PS distributed training，`train.py`  is designed for distributed training，you can use follow command to run word2vec

[code]

We recommend using `PaddleRec` to run the model, You can refer to the following links：

- https://github.com/PaddlePaddle/PaddleRec
- https://github.com/PaddlePaddle/PaddleRec/blob/master/doc/fleet_mode.md

[2021-02-20 03:03] skywalk163 commented on #30988
在项目的数据预处理部分，加上转换函数，把float64类型转换为float32即可。如下：

`

        train_data = daily_cases[:-TEST_DATA_SIZE]
        # 加上下面这句转换函数
        train_data = train_data.astype('float32')
        test_data = daily_cases[-TEST_DATA_SIZE:]

        print("The number of the samples in train set is : %i"%train_data.shape[0])
`

ps ：数据预处理里有两句print语句报错，我直接注释掉就能运行了 。

[2021-02-20 03:15] ceci3 commented on #31054
这个API文档确实不太好搜索，我反馈一下这个问题~ 感谢~

[2021-02-20 03:29] #29976 closed, assigned to LielinJiang

[2021-02-20 03:34] zhwesky2010 commented on #29920
@Meiyim https://github.com/PaddlePaddle/Paddle/pull/30807 has fixed this problem in DataParallel

[2021-02-20 03:47] guojiahuiEmily commented on #30988
非常感谢。我已运行成功。 预测效果还不错。
<img width="641" alt="hj" src="https://user-images.githubusercontent.com/74049862/108582971-5802a880-7371-11eb-803e-367df02be7fc.png">

[2021-02-20 03:47] #30988 closed, assigned to gongweibao

[2021-02-20 03:58] guojiahuiEmily opened #31070 "我做的环境预测模型还不错，请加到推荐案例"
我做的黄金价格预测还不错，请加到推荐案例集。
https://aistudio.baidu.com/aistudio/projectdetail/1525691
<img width="641" alt="hj" src="https://user-images.githubusercontent.com/74049862/108583220-f9d6c500-7372-11eb-9760-c96c8e7ebdba.png">

欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本

[2021-02-20 04:02] pangyoki commented on #27076
你好，可以尝试把pip版本降到18.0再安装试试

[2021-02-20 06:17] Heeenrrry commented on #28333
您好，由于您的hadoop环境可能存在额外限制，不支持多线程库导致无法使用subprocess库，可考虑修改或更换环境。

[2021-02-20 06:36] #30501 closed, assigned to iclementine

[2021-02-20 08:01] Superjomn commented on #30992
可以给一些代码片段描述你具体的问题吗，信息比较少不太好给建议

上面 paddle 版本那些也请填写下，一些版本 api 有变化

[2021-02-20 08:02] chenwhql commented on #30992
麻烦详细描述一下问题，用的是哪个版本？哪个DataLoader接口？

[2021-02-20 08:27] lyl120117 commented on #30947
经过更具体的定位，出现上述错误的原因是，paddle.arange这个API当传的参数为0会引起CUDA API errors，例如这样调用：paddle.arange(0)，同样的方法torch.arange(0)，不会引起CUDA API errors。

[2021-02-20 09:48] ZHUI commented on #30947
嗯嗯，辛苦了，之前我定位的也是 CUDARangeKernel 的错误，感谢您提供了更详细的反馈。 @wangjiawei04 同学可以依据这个反馈跟进、定位更具体的问题。

[2021-02-20 09:48] guojiahuiEmily commented on #31004
谢谢

[2021-02-20 09:48] #31004 closed, assigned to frankwhzhang

[2021-02-20 09:48] guojiahuiEmily commented on #31038
谢谢

[2021-02-20 09:48] #31038 closed, assigned to ceci3

[2021-02-20 12:05] dawangda opened #31088 "linux docker方式安装paddle2，多卡，始终报错"
用linux docker方式安装paddle2，机器4卡，nccl是安装在native 的Linux主机上，而不是安装在docker里，对吧？

nccl安装在native 的Linux主机上了，安装完后，验证安装，始终报错。

Python 3.8.0 (default, Jan 27 2021, 07:38:48)
[GCC 8.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

import paddle.fluid
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
paddle.fluid.install_check.run_check()
Running Verif

[2021-02-20 12:40] A-Pai opened #31089 "是否像pytorch一样包含了经典模型？"
是否像pytorch一样包含了经典模型？--pytorch中有torchvision.models模块，包含了大量CV经典模型，不仅包含了标准的实现代码，同时还提供了与训练权重。
paddle也是这样？何处有介绍？怎么用？

[2021-02-20 12:46] A-Pai commented on #31089
已经发现了，https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/models/lenet/LeNet_cn.html

[2021-02-20 14:45] A-Pai opened #31090 "“该层共6*16个卷积核”--这种说法怎么得到的？"
https://www.paddlepaddle.org.cn/tutorials/projectdetail/1516124
网络的结构是：
![image](https://user-images.githubusercontent.com/5112397/108599615-2e776a80-73cd-11eb-9a20-f6e8aa05951d.png)

后边代码有有这种说法：
![image](https://user-images.githubusercontent.com/5112397/108599577-f53efa80-73cc-11eb-9972-1287d09c4b1a.png)

[2021-02-20 15:18] A-Pai opened #31091 "这个例子前后不一致，不便于读者理解和学习"
https://www.paddlepaddle.org.cn/tutorials/projectdetail/1516124
前边讲到的网络结构和输入数据的维度是32*32，也分析了各层之后的数据维度变化：
![image](https://user-images.githubusercontent.com/5112397/108600438-2c63da80-73d2-11eb-9149-cd0bf5777623.png)

但是后边代码中输入数据的维度是28*28，各层各层之后的数据维度变化就和上边的不一致了，为何要这样编排例子？前后不一致，不便于读者理解和学习
![image](https://user-images.githubusercontent.com/5112397/108600274-3f29df80-73d1-11eb-9516-daa438337072.png)

[2021-02-21 10:00] LiangYongAI commented on #31033
@cryoco 问题解决，谢谢

[2021-02-21 14:21] yangkerrr opened #31092 "使用dropout在eval模式下出错的问题"
出错部分代码：
class _routing(nn.Layer):

    def __init__(self, in_channels, num_experts, dropout_rate):
        super(_routing, self).__init__()

        self.dropout = nn.Dropout(p=dropout_rate)
        self.fc = nn.Linear(in_channels, num_experts)

    def forward(self, x):
        x = paddle.flatten(x).clone()
        x = self.dropout(x)
        x = self.fc(x)
        return F.sigmoid(x)
可以正常训练，但验证时

[2021-02-21 15:15] skywalk163 commented on #31054
飞桨内部已经实现了，先用gpu，没有gpu使用cpu 。动态图直接写出来就行了。

[2021-02-21 15:18] A-Pai commented on #31054
---不用做任何设置？有gpu的时候自动先使用gpu？怎么知道当前使用的是gpu？什么版本可以？

[2021-02-21 15:48] skywalk163 commented on #31054
不用做任何设置。 飞桨2.0开始的。

怎么知道当前使用的是gpu，可以用方法：1 看速度，一般gpu要比cpu快10倍以上。 2 比如tensor数据，直接print出来，会显示它被放在哪里Tensor(shape=[2000, 2000], dtype=float64, place=CPUPlace...) 如果place显示数据已经被自动放入gpu，那就证明已经在正常使用gpu了 。

[2021-02-21 23:25] A-Pai commented on #31054
果然是这样，太好了，本来就应该是这样，有了gpu就自动优先使用gpu，还要另外设置岂不是“多此一举”？这种做法pytorch还没有，pytorch比较繁琐--要把数据和模型二次显式地设置放到gpu。为国产软件叫好，点赞！！！

这么好的特征，2.0的文档中有没有重点讲到？如何查到这个特征？

另外确认一下：paddle不需要显式地把模型放到gpu？即有了gpu，就全程自动使用gpu？

[2021-02-22 02:04] A-Pai opened #31094 "@paddle.jit.to_static的文档是不是矛盾了？有些看不明白"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/dygraph/jit/declarative_cn.html

![图片1](https://user-images.githubusercontent.com/5112397/108648026-21559b00-74f5-11eb-9645-3885b3dbb125.png)

装饰器应该返回的是函数啊？

[2021-02-22 02:05] juncaipeng commented on #30905
@wojtuss , I find #30996 and #30980 cann't pass the above demo test on develop and release 2.0. Do you verify the results?

[2021-02-22 02:19] A-Pai opened #31096 "“paddle.jit.save”中“@paddle.jit.to_static”的作用是？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/dygraph/jit/save_cn.html

![image](https://user-images.githubusercontent.com/5112397/108648749-fc622780-74f6-11eb-88b0-f69bb772ed1c.png)

其中“@paddle.jit.to_static”的作用是？
没有这一句，后边的paddle.jit.save就会报错

[2021-02-22 03:15] A-Pai opened #31098 "paddle.vision.models中的模型怎么paddle.jit.save？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/models/lenet/LeNet_cn.html

如https://github.com/PaddlePaddle/Paddle/issues/31096
所讲：自定义的网络必须在forward前边添加@paddle.jit.to_static，否则后边的paddle.jit.save就会报错

直接使用paddle.vision.models中的已经实现好的经典模型，后边的paddle.jit.save也会报错
![image](https://user-images.githubusercontent.com/5112397/108652006-fde31e00-74fd-11eb-892a-fdf33514f748.png)

飞桨2.

[2021-02-22 04:37] skywalk163 commented on #31054
文档里有写过的，但是让我找，肯定花点精力，所以我就不找了（ps，吐槽下，paddle的文档还有很大的提升空间）。

paddle属于比较高级的框架，一切为了AI训练和产业落地，所以有些底层细节都封装好了，文档也就没太提那些（肯定是提了的，因为刚出来我们都为这些新特性欢欣鼓舞）

所以结果就是，模型也是自动gpu和cpu切换的 。

ps，不管是tensor数据还是模型还是代码段，都可以手工实现显式切换gpu和cpu，但是已经自动了，除非为了学习，没有必要那样做。

[2021-02-22 04:42] skywalk163 commented on #31054
pps ，我怎么输入的飞桨feijiang这两个子，都编程飞轮了 ？
@飞桨
飞桨

[2021-02-22 05:16] juncaipeng opened #31103 "Fake int8 model and real int8 model have difference outputs on Intel CPU"
Download demo (Link:https://dubox.com/s/1S3PAyHFeBtyk-Xj-jeB-0Q Password:9gt7).

Refer to the readme or the following.

# Problem

The fake int8 model is generated by PaddleSlim and the real int8 model is optimized model by `save_quant_model.py`.

With the same input data, we find the results of fake int8 model and real int8 model have numerical difference. For most models, the numerical differenc

[2021-02-22 06:31] A-Pai opened #31106 "writer.add_scalar形成的文件的编号是什么意思？"
writer.add_scalar形成的文件的编号是什么意思？如下，应该有含义

![QQ截图20210222142418](https://user-images.githubusercontent.com/5112397/108670717-52949200-751a-11eb-9990-6aa4e307c19a.png)

[2021-02-22 06:37] A-Pai commented on #31054
paddle的文档还有很大的提升空间
---是的，软件做得好，还要讲解得好，现在要么有的点没有(充分)讲到，要么不方便查询到
但是我还是越来越喜欢飞桨了，在AIStudio的助力下
另外，对issue的回复也还是比较给力，虽然还有提升空间，希望保持和提升，飞桨的“火”会越烧越旺！越来越多的人拾柴加入！

[2021-02-22 06:43] A-Pai commented on #31054
感谢指教！您的帮助如一股新风，闻所未闻！！

[2021-02-22 07:04] ysh329 commented on #31092
这个是训练OK，但是预测出问题嘛，你使用的是什么Paddle的版本，CPU还是GPU环境，GPU的话CUDA版本是多少

[2021-02-22 07:21] A-Pai opened #31110 "二个“writer.add_scalar”写在了同一个文件？"
二个“writer.add_scalar”写在了同一个文件？代码如下：

[code]

[2021-02-22 08:07] juncaipeng opened #31111 "MKLDNN error for continuous image prediction"
Info：
* Paddle develop latest commit
* Ubuntu 16.04
* Python 3

Demo（Link:https://dubox.com/s/1lk60OPH4GPj-BrdZ4lSbJA Password:e8ec）：

1. Install Paddle

2. Disable MKLDNN

`python test.py model/__model__ model/__params__ 0`

The results are correct as follows:

[code]

2. Enable MKLDNN

`python test.py model/__model__ model/__params__ 1`

The results of image 6 and 9 are incorrect as follows:

[c

[2021-02-22 08:24] chengruichang opened #31112 "源码相关问题"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：2.0.0rc1
    2）CPU/GPU：GPU
    pass注册的部分paddle/fluid/framework/ir/pass.h，Touch貌似就是一个空函数
![image](https://user-images.githubusercontent.com/52920110/108681686-67792180-752a-11eb-90fd-7a14d7c8eea6.png)
所以图中Touch()部分的调用是什么作用

[2021-02-22 08:36] ysh329 commented on #31070
收到反馈，后续我们协同PM会看一下

[2021-02-22 08:43] ysh329 commented on #31088
根据你的描述，你的机器有4卡，但是paddle只能识别出0号GPU。而且根据最后的log显示，当前机器仅识别单卡。

可以尝试：

1. 根据报错，可能你的安装存在问题，如果需要多卡的NCCL支持，可能需要重新安装根据log里的地址；
2. 单机多卡的使用文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/01_paddle2.0_introduction/upgrade_guide_cn.html#id14
3. 根据官网默认的文档，目前找不到cudnn7.6，默认最低的cudnn版本是9.0，可以尝试升级：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/2.0/install/pip/linux-pip.ht

[2021-02-22 08:46] ysh329 commented on #31089
此外还有相关的仓库如 https://github.com/PaddlePaddle/models ，PaddleCV，PaddleOCR等等，都在PaddlePaddle下面：
https://github.com/PaddlePaddle/Paddle/issues/31089

[2021-02-22 08:50] ysh329 commented on #31090
这里应该写错了，第一层的话按照图上，应该是6个5x5的卷积核

[2021-02-22 08:52] ysh329 commented on #31091
确实在输入上，文档和实际代码已经图片不一致。我们后续会改进

[2021-02-22 08:57] A-Pai commented on #31090
我说的是第二个卷积层，见上图

[2021-02-22 08:57] A-Pai commented on #31089
好的，谢谢

[2021-02-22 09:34] TCChenlong commented on #31070
感谢对飞桨的支持，添加案例到官网的说明在这里，辛苦按要求修改下内容，然后提交PR就可以了，有问题可以随时联系我们哈：https://github.com/PaddlePaddle/book/issues

[2021-02-22 10:13] A-Pai opened #31118 "“paddle.Model”作何用？"
“paddle.Model”作何用？文档中怎么查找到更为详细的说明？代码如下：
[code]

[2021-02-22 10:19] yangkerrr commented on #31092
Paddle2.0，GPU环境，CUDA11.0（AIStudio内环境）

[2021-02-22 10:48] ysh329 commented on #31088
nccl需要装到docker里，试试是否行（根据内部同学反馈）

[2021-02-22 10:50] wojtuss commented on #30905
@juncaipeng
Let me check

[2021-02-22 11:00] weiluonika opened #31120 "官方能否提供一下jetson xiaver的paddle 编译成功的python安装包，这样就不用每次都是使用源码编译"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2021-02-22 11:48] A-Pai commented on #31118
找到了：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model/Model_cn.html#model

![QQ截图20210222194505](https://user-images.githubusercontent.com/5112397/108704242-b46af100-7546-11eb-8212-d982b1c50985.png)

[2021-02-22 12:04] A-Pai commented on #31054
看样子，当前2.0的文档还没有突出自动优先使用gpu的特效，还充斥着手工设置的代码，例如：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model/Model_cn.html#model

![image](https://user-images.githubusercontent.com/5112397/108706135-204e5900-7549-11eb-9277-6b467f122527.png)

[2021-02-22 12:39] wojtuss commented on #30905
@juncaipeng
I have just verified again the `develop` branch (with python 2.7) and the results look correct, both picture and the output:
[code]
I am double checking the `release/2.0` branch and python 3.6.

[2021-02-22 13:19] wojtuss commented on #30905
With `release/2.0` branch and both python 2.7 and 3.6 it also works.

[2021-02-22 13:23] juncaipeng commented on #30905
@wojtuss  Sorry for the mistake. I also get the right results on release 2.0 with python 3.7.

[2021-02-22 14:28] A-Pai opened #31129 "前后的说法不一致，到底是怎样的？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model/Model_cn.html#model

![QQ截图20210222222635](https://user-images.githubusercontent.com/5112397/108721632-30703380-755d-11eb-9b1f-69901fe1b46c.png)

[2021-02-23 02:35] A-Pai opened #31131 "图像增强(Data augmentation)是扩大了数据量？"
图像增强(Data augmentation)是扩大了数据量？还是仅仅对原有图像进行更改，数量保持不变？
我的理解是应该扩大了数据量--一张图片从各个角度，改变光线明暗等，模仿在各种条件下看这个物体
是paddle.vision.transforms模块？

[2021-02-23 02:51] A-Pai opened #31133 "Resize函数中参数size为int，这样处理的目的是？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/transforms/Resize_cn.html

“如果size为int，图像的较小边缘将与此数字匹配，即如果 height > width，则图像将重新缩放为(size * height / width, size)。”，这样做的用意何在？

![QQ截图20210223104610](https://user-images.githubusercontent.com/5112397/108796746-6d234580-75c4-11eb-9b3c-f62b587bdeed.png)

[2021-02-23 03:02] lyl120117 commented on #30947
<img width="730" alt="image" src="https://user-images.githubusercontent.com/6166692/108796907-d905ae00-75c4-11eb-8a5e-5983416020e5.png">
如上图所示，当paddle.arange(0)这样调用时grid=0，grid作为CUDA核函数参数如果为0就会出现CUDA API errors，range_op.cu的实现中由于没有像cudaGetLastError这样catch异常，程序不会在异常点立即停止执行，直到下一个mean op有catch操作发现到了异常导致程序停止运行，上述修改可以解决paddle.arange(0)调用导致CUDA API errors问题。
@ZHUI 如果您觉得上述修改有用的话我可以帮忙提一个PR，谢谢！

[2021-02-23 03:20] #17914 closed, assigned to nobody

[2021-02-23 03:20] #18755 closed, assigned to gongweibao

[2021-02-23 03:20] #21891 closed, assigned to nobody

[2021-02-23 03:20] #22645 closed, assigned to nobody

[2021-02-23 03:20] #22658 closed, assigned to nobody

[2021-02-23 03:20] #22659 closed, assigned to nobody

[2021-02-23 03:21] #22664 closed, assigned to nobody

[2021-02-23 03:21] #22687 closed, assigned to nobody

[2021-02-23 03:21] #22691 closed, assigned to zhhsplendid

[2021-02-23 03:21] #22694 closed, assigned to nobody

[2021-02-23 03:33] sellinaxmj commented on #31092
同遇到这样的问题。在centos系统，查说numpy版本太高不匹配，从1.18.4降到1.17.3还是会报这个错误。求助各位大佬，谢谢～
安装列表：
conda list
# packages in environment at /home/hh/anaconda3/envs/ocr_p:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main
addict                    2.2.1                    pypi_0    pypi
astor                     0.8.1                    pypi_0

[2021-02-23 04:07] lijianshe02 commented on #31129
文档错误，谢谢指正

[2021-02-23 04:08] dingjiaweiww commented on #31054
嗯嗯，我们优化下文档，也在官网“常见问题与解答”页面解释一下

[2021-02-23 04:08] dingjiaweiww commented on #31054
感谢反馈～

[2021-02-23 04:10] lijianshe02 commented on #31120
谢谢反馈，我们这边会评估跟进

[2021-02-23 04:12] lijianshe02 commented on #31118
好的，谢谢反馈

[2021-02-23 04:13] lijianshe02 commented on #31112
好的，我们这边会有专业的同学进行答复

[2021-02-23 04:19] lijianshe02 commented on #31110
将损失函数值、准确率等标量数据作为参数传入 scalar 组件，即可画出折线图，便于观察变化趋势, 这个没有问题的

[2021-02-23 04:25] lijianshe02 commented on #31098
paddle.jit.save适用于动转静之后的保存模型情况，您此时使用的经典模型是动态图模型，需要使用to_static装饰器作用转为静态图后才能使用这个接口保存模型

[2021-02-23 04:27] A-Pai commented on #31098
使用paddle.vision.models中的已经实现好的经典模型,怎样使用to_static装饰器？打开源代码？

[2021-02-23 04:29] lijianshe02 commented on #31096
to_static是paddle模型动态图转为静态图的接口，具体请参考https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/04_dygraph_to_static/index_cn.html

[2021-02-23 04:30] A-Pai commented on #31110
我问的是二个“writer.add_scalar”写在了同一个文件？事后发现只形成了一个文件

[2021-02-23 04:51] fengkuangxiaxia opened #31137 "Windows PaddleTrt多次预测时报错"
版本、环境信息：
    1）PaddlePaddle版本：2.0.0 fd9d6fdac285ba34f0e9a91c53bc07859ae2dd1c
    2）GPU：1660Ti
    3）CUDA：11.0.2
    4）CUDNN：8.0.5.39
    5）Tensorrt：7.1.3.4
    6）系统环境：win10

FasterRCNN网络，首次预测时没有问题，但同样的图片第二次预测时报如下的错
![image](https://user-images.githubusercontent.com/3814174/108803516-d1023a00-75d5-11eb-90c0-c808a377d1f0.png)

[2021-02-23 05:04] lijianshe02 commented on #31098
是的

[2021-02-23 05:09] #30905 closed, assigned to lidanqing-vv, juncaipeng

[2021-02-23 05:32] lidanqing-vv commented on #30926
PR has been merged. If you have any problem, contact me.

[2021-02-23 05:32] #30926 closed, assigned to luotao1, lidanqing-vv

[2021-02-23 05:33] #30976 closed, assigned to luotao1

[2021-02-23 05:41] Aurelius84 commented on #31094
1. `to_static`装饰器支持装饰普通function、类method，以及用户定义的模型Net实例（默认会在forward函数上进行装饰）。被装饰的函数会被返回一个StaticFunction对象，重写了`__call__`，以实现静态图执行
2. 被`to_static` 装饰的函数，内部会以静态图方式执行。比如 FuncA &rarr; FuncB &rarr; FuncC，如果只有中间的FuncB被装饰了，考虑到A和B依旧是动态图执行，所以被装饰后的FuncB内部以静态图运行，结果返回的是动态图Tensor，以支持“局部装饰”的功能

[2021-02-23 05:51] lidanqing-vv commented on #31007
This is the only test that failed in our local Windows CI. If there are any suggestions, please let us know.

[2021-02-23 06:07] #30656 closed, assigned to nobody

[2021-02-23 06:08] lidanqing-vv commented on #30656
I have updated document in benchmark repo. The readme is at same location as before.

[2021-02-23 06:15] ShenYuhan commented on #31106
您好，组成形式为 vdlrecords.${TIMESTAMP}.log，数字为生成日志时的时间戳。

[2021-02-23 08:04] OliverLPH commented on #30309
@wojtuss @lidanqing-intel
After AppendPass python API has been fixed, I tried to test this issue with `config.pass_builder().append_pass("interpolate_mkldnn_pass")`.
However, the performance seems not as supposed, here are two configs' profiler

[code]
![image](https://user-images.githubusercontent.com/14963836/108816168-a4a7e700-75f0-11eb-9757-6a869c1c81ab.png)

[code]
![image](https://user-image

[2021-02-23 08:13] A-Pai commented on #31098
如果需要开膛破肚地去设置，就不好了，没有别的办法？
如果当前的版本没招儿，希望下个版本有招儿

[2021-02-23 08:26] A-Pai opened #31145 "adjust_saturation的文档是adjust_hue的"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/adjust_saturation_cn.html
是adjust_saturation的文档网址，但是打开后是adjust_hue的（先点击adjust_hue，再点击adjust_saturation）。
或者说，先点击别的函数，再点击adjust_saturation，页面不变（网址变成了adjust_saturation的）。

--虽然版本迭代要快，但也要保证基本质量，不然就没意义了。用户不便用，也不敢用。

![QQ截图20210223162235](https://user-images.githubusercontent.com/5112397/108817783-62cc7000-75f

[2021-02-23 08:38] A-Pai commented on #31090
希望进一步交流，我想搞清楚

[2021-02-23 08:52] A-Pai opened #31147 "觉得这个导包的写法有些不习惯"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/adjust_brightness_cn.html

觉得红线部分的写法有些不习惯：
![image](https://user-images.githubusercontent.com/5112397/108820588-5cd88e00-75f7-11eb-9e1a-9d41b359e415.png)

这样写是不是自然些，或者说上边的写法有什么特别的用意？
![image](https://user-images.githubusercontent.com/5112397/108820519-416d8300-75f7-11eb-8767-06422d08bb9a.png)

[2021-02-23 09:25] TCChenlong commented on #31098
好的，我们会评估一下，感谢您的反馈~

[2021-02-23 09:29] ysh329 commented on #31092
@sellinaxmj 新建issue，就不是一个问题好吧

[2021-02-23 09:29] ysh329 commented on #31092
收到，我问下API相关负责人

[2021-02-23 09:30] #31118 closed, assigned to lijianshe02

[2021-02-23 09:47] A-Pai opened #31152 "adjust_brightness的文档不能表明其功能"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/adjust_brightness_cn.html
文档代码如下，该代码输出了转变之后的size，而adjust_brightness的功能是调整亮度，代码不能表明其功能
--理想的代码应该是输出图像，对比转变前后的亮度
![image](https://user-images.githubusercontent.com/5112397/108826018-c1e3b200-75fe-11eb-9ef5-247b95d89884.png)

[2021-02-23 09:53] A-Pai opened #31153 "adjust_brightness和adjust_contrast 返回的都是“裁剪后的图像”"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/adjust_brightness_cn.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/adjust_contrast_cn.html

adjust_brightness和adjust_contrast 返回的都是“裁剪后的图像”
本来就不是做裁剪的，怎么返回的是“裁剪后的图像”？

[2021-02-23 10:03] Huihuihh commented on #30026
遇到同样的问题，确实，原来paddlex导出的yolov3模型需要添加input_shape，才能使用tensorrt

[2021-02-23 10:50] wjy9 opened #31155 "创建了一个DataSet，但送入Model.fit在Linear的forward报错"
paddle版本2.0-rc1
系统Centos7
python 3.6

按照文档中建立了一个RandomDataSet，
[code]
送入Model.fit中训练（模型包括一个LSTM层和一个Linear层），

报错信息：
[code]
自己定位了一下，是在python/paddle/hapi/model.py#L654中，input在经过to_variable之后，从Tensor类型变成了一个(Tensor)的tuple，而在Linear的forward时由于tuple没有dtype成员报错。所以问题是to_variable之后为何会从一个Tensor类型变成了tuple，看了下to_variable代码，感觉不应该有问题，问题出在哪？

[2021-02-23 10:54] aishangmaxiaoming opened #31156 "python2 用不了pp2.0"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Pa

[2021-02-23 12:01] parap1uie-s commented on #31133
很好理解吧，就是你可以给resize()输入一个数字，也可以输入一组数字。

[2021-02-23 12:09] A-Pai commented on #31133
如果size是一个序列，例如（h，w），输出大小将与此匹配
如果size为int，图像的较小边缘将与此数字匹配，即如果 height > width，则图像将重新缩放为(size * height / width, size)

我说的是“size为int，图像的较小边缘将与此数字匹配，即如果 height > width，则图像将重新缩放为(size * height / width, size)”，这样做的意义是？不理解其实际作用

[2021-02-23 12:13] A-Pai commented on #31152
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/adjust_hue_cn.html
adjust_hue的文档也有类似的问题

[2021-02-23 12:49] guojiahuiEmily opened #31160 "请给一个装有paddle的docker镜像地址"
我自己做的镜像都在2G。
能否给一个1G内的paddle的docker镜像，这样才能在阿里云上用。

为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
注：您可以通过执行

[2021-02-23 14:51] A-Pai opened #31164 "pip install paddlepaddle或pip install paddlepaddle-gpu与官网提供的方式有什么不一样？"
pip install paddlepaddle或pip install paddlepaddle-gpu与https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/2.0/install/pip/windows-pip.html
上的安装方式，有什么区别吗？

[2021-02-23 14:53] A-Pai commented on #31054
自动识别gpu是要安装gpu版的？cpu版的不行吧？

[2021-02-23 15:16] A-Pai opened #31165 "按照官网推荐的按照方式安装，不成功"
按照官网推荐的按照方式：python -m pip install paddlepaddle==2.0.0 -i https://mirror.baidu.com/pypi/simple
安装：Successfully installed paddlepaddle-2.0.0
import paddle 竟然提示：
ModuleNotFoundError: No module named 'paddle.fluid.core_noavx'

[2021-02-23 15:34] bjjwwang commented on #31131
收到，在请教相关开发者提供解答

[2021-02-23 16:03] bjjwwang commented on #31133
这个我请教下CV的同学。

[2021-02-23 16:07] bjjwwang commented on #31137
已记录，这个我询问下预测库的同学看看

[2021-02-23 16:08] bjjwwang commented on #31145
好 实在不好意思 感谢指出错误 后续立刻改正

[2021-02-23 16:11] bjjwwang commented on #31147
这个我和组员们讨论看看，应该是源于不少先例就这么用下来了。

[2021-02-23 16:11] bjjwwang commented on #31152
好 感谢指教

[2021-02-23 16:12] bjjwwang commented on #31153
好 感谢指教 我反馈下立刻改正

[2021-02-23 16:15] bjjwwang commented on #31155
您好 方便给个参考的文档链接吗，我复现下继续定位

[2021-02-23 16:16] bjjwwang commented on #31156
目前应该是python版本不够高所致，可以尝试用一个高版本gcc8.2编译的Python2再试一下。

[2021-02-23 16:18] bjjwwang commented on #31160
我觉得镜像应该不会很难，难的是用到的不只有Paddle，我们发布镜像主要是会考量易用性和可扩展性，所以打入了很多Python版本以及其他依赖只为了用户便于开发。
您可以参考下 tools/dockerfile里面的写法，删除掉大多数细节。
我也会和组员讨论下应该如何给出精简镜像。

[2021-02-23 16:20] bjjwwang commented on #31164
没有区别，pypi可能会有网速慢的问题， 以及多平台的问题，因此写的多一点。

[2021-02-23 16:21] bjjwwang commented on #31165
比较奇怪，我猜测会不会多个python版本之间串了。

[2021-02-23 17:02] bjjwwang commented on #30947
感谢 我马上调研一下啊torch和tensorflow 关于这块的用法。 我到时候也参考下您的代码。

[2021-02-23 23:05] A-Pai commented on #31165
我的python只有一个版本

[2021-02-23 23:14] A-Pai opened #31166 "CenterCrop与center_crop的区别是？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/center_crop_cn.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/transforms/CenterCrop_cn.html
CenterCrop与center_crop的区别是？
二者文档的代码都不能充分表明其功能--返回的都是“fake_img.size”，应该展示实际效果图片

[2021-02-23 23:30] A-Pai opened #31167 "adjust_contrast与ContrastTransform的区别是？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/adjust_contrast_cn.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/transforms/ContrastTransform_cn.html
adjust_contrast与ContrastTransform的区别是？

类似的问题还有：
adjust_hue与HueTransform
Normalize与normalize

[2021-02-23 23:49] A-Pai opened #31168 "crop的文档有些看不明白"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/crop_cn.html
文档代码如下：
![image](https://user-images.githubusercontent.com/5112397/108923897-97344080-7674-11eb-87b6-33903a106c3c.png)

[2021-02-24 01:13] lyl120117 commented on #30947
Paddle的代码这几天大致分析了一下，有两个大的问题，一个是核函数的第一个参数block，block最小值是1，最大值我看torch中的定义是65535，Paddle所有调用核函数的地方都没把block这个参数约束到一个合法的范围。另一个是异常处理机制的问题，核函数是委托给CUDA执行的，这部分是外部逻辑是有风险的，从程序设计的角度来讲，每一个核函数调用完后都应该调用cudaGetLastError这样的CUDA API来catch是否有异常，有异常应该立即停止程序，这样定位问题会更直观。

[2021-02-24 01:24] ZHUI commented on #30947
嗯嗯，部分OP的CUDA调用不规范，这个确实是历史遗留问题。但因为涉及到的OP可能较多，统一修改的工作量大，可能后期需要专项工作来推动解决问题。非常感谢您的建议。

[2021-02-24 01:33] A-Pai opened #31169 "Pad返回的是填充后的图像？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/transforms/Pad_cn.html

![image](https://user-images.githubusercontent.com/5112397/108931752-26e0eb80-7683-11eb-8589-aaa73897b328.png)

[2021-02-24 01:42] A-Pai opened #31170 "RandomHorizontalFlip的文档有些看不明白"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/transforms/RandomHorizontalFlip_cn.html

![image](https://user-images.githubusercontent.com/5112397/108932414-49bfcf80-7684-11eb-83b1-9494729744d9.png)

[2021-02-24 02:07] lucifer726 opened #31171 "PaddleRec/models/recall/gnn/ 教程执行过程中报错"
****************************************
Paddle version: 2.0.0
Paddle With CUDA: False
OS: Windows 10
Python version: 3.7.0
CUDA version: None
cuDNN version: None
Nvidia driver version: None
****************************************
- 训练信息
    1）单机cpu
    2）显存信息
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤

按照gnn教程，执行到python -m paddlerec.run -m models/recall/gnn/config.yaml时报错

- 问题描述：请详细描述您的问题，同步贴出报错

[2021-02-24 02:11] Huihuihh opened #31172 "利用jetson nano编译安装paddle后，推理出错"
在jetson nano上面编译安装paddle，编译指令
[code]
安装paddle后利用Paddle-Inference-Demo里面的yolov3进行推理，发现使用gpu推理会出错，不使用gpu能够正常推理
[code]

[2021-02-24 02:13] A-Pai opened #31173 "RandomRotate没有“随机”参数？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/transforms/RandomRotation_cn.html

![QQ截图20210224101242](https://user-images.githubusercontent.com/5112397/108935558-e1272180-7688-11eb-9ff0-30f89653c6dd.png)

[2021-02-24 02:21] wjy9 commented on #31155
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/Dataset_cn.html#dataset
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/05_train_eval_predict_cn.html#model-fit

[2021-02-24 02:25] A-Pai commented on #31169
我的理解是“transform ”是继承基类“BaseTransform”得到的一个Pad类
所以说返回的不是直接的“填充后的图像”，而是将其处理成“填充后的图像”的工具

[2021-02-24 02:28] huangjun12 commented on #31092
看起来时数据问题，检查一下train和eval时dropout的输入数据维度一样嘛

[2021-02-24 02:31] zhhsplendid commented on #31112
嗨，@chengruichang ， 不知道你能否搜索到我们Touch的源代码，这里的注释有解释为什么这个函数是空的：

![image](https://user-images.githubusercontent.com/7913861/108937707-b8ebf280-7689-11eb-9ca2-809f180046cc.png)

主要原因是如果部分代码没有被使用，C++的linker会删除生成的二进制文件。这时候如果我们不想要被删除，那么调用一个空函数，C++ linker不会删除。

[2021-02-24 02:35] A-Pai opened #31176 "同时提供“Resize”和“resize”的目的是？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/transforms/Resize_cn.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/resize_cn.html

文档中说二者的功能都是“将输入数据调整为指定大小”

但用法不同，Resize要先转化一下，是曲线救国，resize是直接用，同时提供“Resize”和“resize”的目的是？

![QQ截图20210224103046](https://user-images.githubusercontent.com/5112397/108938922-dcb03800

[2021-02-24 03:02] hong19860320 commented on #31168
你文档地址贴错了 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/center_crop_cn.html#center-crop

centor_crop参数是按照height,width，你最后一句打印的是PIL Image对象cropped_image的尺寸，是按照width,height打印的，你可以尝试打印下fake_image的尺寸，能得到300,256。

[2021-02-24 03:36] A-Pai commented on #31168
地址是搞错了
文档中说返回这个，没说尺寸是按照width,height，有必要说一下
![QQ截图20210224113356](https://user-images.githubusercontent.com/5112397/108943708-55b38d80-7694-11eb-9231-2db8a9c2aaef.png)

[2021-02-24 04:51] hefeng1995 opened #31181 "paddle2.0多进程数据加载报错"
paddle2.0多进程数据加载，相同代码num_workers设置为0没有错误，设置为>0的值则捕捉到：
![image](https://user-images.githubusercontent.com/7439017/108949550-9369e380-769f-11eb-846a-96ab2cfe4ab7.png)

[2021-02-24 04:53] hefeng1995 commented on #31181
paddle2.0多进程数据加载，相同代码num_workers设置为0没有错误，设置为>0的值则捕捉到：
![image](https://user-images.githubusercontent.com/7439017/108949368-3f5eff00-769f-11eb-90d2-40aefbae132a.png)

[2021-02-24 05:17] hong19860320 commented on #31166
功能一致，CenterCrop是类，可以继承修改，center_crop是功能函数

[2021-02-24 05:39] Irvingao opened #31183 "Jetson nano pip install paddlepaddle-gpu==2.0.0报错"
安装报错：`python3 -m pip install paddlepaddle-gpu==2.0.0 -i https://mirror.baidu.com/pypi/simple`
### python版本：3.6.9（pip版本：21.0.1）
### cuda版本：10.2
### JePack：4.4.1

![image](https://user-images.githubusercontent.com/58903762/108952856-32450e80-76a5-11eb-9235-88de1e0fda44.png)

[2021-02-24 06:39] A-Pai commented on #31166
为何仅仅是少数的api，有这二个版本的，其他的，例如RandomCrop，只有一种

[2021-02-24 06:46] guojiahuiEmily commented on #31160
还是比较难的。对于大多数人来说。
docker build时老报一些错误
E: Unable to locate package python-qt4
E: Package 'module-init-tools' has no installation candidate
T

[2021-02-24 07:14] lidanqing-vv opened #31184 "During word2vec trainig, save_inference_model report NoneType error"
Hi, @luotao1
During training word2vec model, save_inference_model report NoneType error
Build Paddle with following options
[code]
Reproduction the training:
[code]
The output has following error
[code]

[2021-02-24 07:19] tustz opened #31185 "CentOS编译linux预测库时能否跳过git下载第三方源码"
- 版本、环境信息：
    1）PaddlePaddle2.0.0
    2）CPU：Intel(R) Xeon(R) CPU-E5-2680
    3）系统环境：CentOS 7.6

2）本地编译：cmake指令为
cmake -DFLUID_INFERENCE_INSTALL_DIR=$PADDLE_ROOT \
      -DCMAKE_BUILD_TYPE=Release \
      -DWITH_PYTHON=OFF \
      -DWITH_MKL=OFF \
      -DWITH_GPU=OFF  \
      -DON_INFER=ON \
      -DWITH_NCCL=OFF \
      -DWITH_XBYAK=ON \
      -DWITH_TENSORRT=OFF \
      ..
 make

- 问题描述：
由于服务器无

[2021-02-24 08:53] #31185 closed, assigned to hong19860320

[2021-02-24 08:54] tustz commented on #31185
sorry, 找到可访问的yum镜像地址了

[2021-02-24 09:23] guojiahuiEmily opened #31193 "请问如何把paddlehub的模型发布为百度BML的服务"
比如把这里的对对联的paddlehub模型，发布为BML的服务，如何获取模型，如何写脚本
https://aistudio.baidu.com/aistudio/projectdetail/1558126

为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请

[2021-02-24 09:29] hong19860320 commented on #31166
小写的api都是比较lowlevel的功能函数，不一定每个类都有对应的功能函数，你可以看下RandomCrop其实使用pad的功能函数组的。https://github.com/PaddlePaddle/Paddle/blob/ec2fad4d5157ca0c5687a2dfd7c7ebec274e4df1/python/paddle/vision/transforms/transforms.py#L1011

[2021-02-24 09:31] hong19860320 commented on #31167
都是功能函数和类的关系，ContrastTransform  内部调用的是adjust_hue
https://github.com/PaddlePaddle/Paddle/blob/ec2fad4d5157ca0c5687a2dfd7c7ebec274e4df1/python/paddle/vision/transforms/transforms.py#L771

[2021-02-24 09:38] #31164 closed, assigned to bjjwwang

[2021-02-24 09:41] A-Pai commented on #31167
提供“类”，有何作用？

[2021-02-24 09:47] QingquanBao opened #31194 "2.0 CUDAPlace, set_device() 区别"
我能否这样理解：在使用`paddle.to_tensor()`创建tensor时，要对参数`place=CUDAPlace(0)` 指定；而在对于一般的e.g. `paddle.zeros()` 之类的api，我只能使用`paddle.set_device(string)`来全局设定。而对于一般的tensor，我要改变，又只能用`tensor.cuda(0)` 才能改。
所以说，对于修改设备，我分别得用三种数据类型`paddle.place` ,` string` (e.g. "gpu:0") ,and `int`(e.g. device_id=0)。这明显没有torch一个device方便啊，还是说有统一的方法？

[2021-02-24 10:14] yiran-THU commented on #22715
I solve this problem with your method, thank you!

[2021-02-24 11:01] pangyoki commented on #31165
请问能给出完整的报错信息吗？麻烦也提供下系统、python版本等信息

[2021-02-24 11:54] A-Pai commented on #31165
![image](https://user-images.githubusercontent.com/5112397/108996960-06904b80-76da-11eb-8ea7-9d683ea81249.png)

![image](https://user-images.githubusercontent.com/5112397/108996521-72be7f80-76d9-11eb-9414-3b8e166674fa.png)
![image](https://user-images.githubusercontent.com/5112397/108996800-d21c8f80-76d9-11eb-808d-99853273f2b6.png)

[2021-02-24 12:00] A-Pai commented on #31165
觉得pytorch安装最顺利：
![image](https://user-images.githubusercontent.com/5112397/108997693-df864980-76da-11eb-92cb-3d13c7998aa6.png)

[2021-02-24 12:24] A-Pai opened #31198 "建议文档中对于合集之类的条目也给出相应页面加以说明"
建议文档中对于合集之类的条目也给出相应页面加以说明--这些api是做哪方面使用的，比如以下，文档是软件最权威和最源头的说明，对于用户要尽量友好，方便使用，这对于软件的发展至关重要。

比如我现在就想知道，ops这个条目下的api做哪方面使用的。

![QQ截图20210224201953](https://user-images.githubusercontent.com/5112397/108999952-01350000-76de-11eb-93bd-574e57bf49aa.jpg)

[2021-02-24 12:38] A-Pai opened #31199 "一个开源软件被提issue多了，是好还是坏？"
一个开源软件被提issue多了，是好还是坏？

多了说明被关注的多，有用户追捧，在蓬勃发展中，同时也表明问题较多？
少了说明被关注的少，无人问津，发展迟缓，同时也表明问题较少？

我关注到以下三个深度学习框架的情况，能说明什么？
pytorch
![image](https://user-images.githubusercontent.com/5112397/109001177-9684c400-76df-11eb-9247-22948810d187.png)
tensorflow
![image](https://user-images.githubusercontent.com/5112397/109001250-aef4de80-76df-11eb-9b70-f9d46d3ef216.png)
paddle
![image](https://user-images.githubus

[2021-02-24 12:53] A-Pai commented on #31152
类似的问题：
![image](https://user-images.githubusercontent.com/5112397/109003425-64289600-76e2-11eb-8830-6fdacaab8f3d.png)

[2021-02-24 13:38] pangyoki commented on #31165
报错里提示了，你的机器不支持avx，你现在下的是avx版本的包，可以用`python -m pip install -U paddlepaddle-gpu[==version] -f https://paddlepaddle.org.cn/whl/stable_noavx.html`这个指令来下noavx的paddle

[2021-02-24 14:07] A-Pai commented on #31165
一般看得是这个，这个地方应该说到avx的问题：
![image](https://user-images.githubusercontent.com/5112397/109012079-8de6ba80-76ec-11eb-8ff0-1a53ec9234dd.png)

[2021-02-24 14:11] hong19860320 commented on #31167
这篇文章可以帮助你理解下两者的区别 https://www.zhihu.com/question/66782101

[2021-02-24 14:16] hong19860320 commented on #31168
好的，我反馈一下

[2021-02-24 14:19] A-Pai commented on #31165
按照上边给的方式，安装：
![image](https://user-images.githubusercontent.com/5112397/109013552-46612e00-76ee-11eb-834b-047282c720c9.png)
还是不成功：
![image](https://user-images.githubusercontent.com/5112397/109013678-65f85680-76ee-11eb-89da-3923fc5475ab.png)

[2021-02-24 14:21] hong19860320 commented on #31169
是的，你的理解是正确的，但一般不会在返回值说它返回了一个工具类，大部分用户关心的是在使用这个工具类后的结果是什么，所以文档的返回结果一般代表transform()调用后的结果。

[2021-02-24 14:30] A-Pai commented on #31165
上边的这次安装，提前卸载了之前安装的版本，这是安装之后的pip list：
![image](https://user-images.githubusercontent.com/5112397/109015256-e7041d80-76ef-11eb-8736-27317ee6bbe9.png)

[2021-02-24 14:30] hong19860320 commented on #31170
可以结合这个代码看 https://github.com/PaddlePaddle/Paddle/blob/ec2fad4d5157ca0c5687a2dfd7c7ebec274e4df1/python/paddle/vision/transforms/transforms.py#L564
224就是一个阈值，随机数小于这个阈值就做flip，由于随机数都是小于1.0的，所以如果设置为224，就代表一直进行flip，所以说，这个示例代码中的224取得不具代表意义、

[2021-02-24 14:33] A-Pai commented on #31170
我的想法是文档中怎么讲的，就严格怎么用，不然用户就无所适从了
这里的例子搞个概率为“224”，让人费解，改为“1”，不是更清晰
文档中的例子是有代表性的，是最典型的用法，是用户的模板

[2021-02-24 14:41] hong19860320 commented on #31172
看起来没有输出结果，建议按照官网的编译方法https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/05_inference_deployment/inference/build_and_install_lib_cn.html重新编译试试
![image](https://user-images.githubusercontent.com/9973393/109016662-56c6d800-76f1-11eb-813b-d719d0039f6d.png)

或者直接用编译好的库进行测试
![image](https://user-images.githubusercontent.com/9973393/109016739-6cd49880-76f1-11eb-8c34-203f6c50b137.png)

[2021-02-24 14:55] hong19860320 commented on #31173
可以参照这个代码理解下
https://github.com/PaddlePaddle/Paddle/blob/0f1fde51021e1c9deae099ee0c875c53128687b4/python/paddle/vision/transforms/transforms.py#L1156

是基于输入degrees参数为(min_degree, max_degree)，按照均匀分布随机产生一个角度

[2021-02-24 14:58] hong19860320 commented on #31176
和之前你提的issue问题类似，可以看下这篇文章https://www.zhihu.com/question/66782101

[2021-02-24 14:59] A-Pai commented on #31173
我仅仅说的是文档可能有问题，不是指的实际功能
![image](https://user-images.githubusercontent.com/5112397/109019469-fe450a00-76f3-11eb-906d-bab8ba90e25c.png)

[2021-02-24 15:00] hong19860320 commented on #31181
这个在用户群回复了，麻烦在创建的icafe卡片里面贴上能简单复现的代码哦

[2021-02-24 15:00] A-Pai commented on #31176
好的，谢谢，这个解释得可能透彻

[2021-02-24 15:01] hong19860320 commented on #31183
paddlepaddle-gpu只针对服务器端的nv gpu，jetson目前只支持推理部署，可以看下这个文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/05_inference_deployment/inference/build_and_install_lib_cn.html#id2

[2021-02-24 15:12] hong19860320 commented on #31193
@张雪菲帮忙看下吧，谢谢啦~

[2021-02-24 15:14] hong19860320 commented on #31198
这个API文档的首页有的哦 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/index_cn.html
![image](https://user-images.githubusercontent.com/9973393/109021620-04d48100-76f6-11eb-925a-9f6f51ac5c78.png)

[2021-02-25 01:00] A-Pai commented on #31198
说的不是这些总条目，而是下边的二级条目，比如上边截图的ops这个条目
并且这些总条目页面也不是左右联动的，最好是左右联动，便于查询

[2021-02-25 01:09] A-Pai opened #31203 "文档中前边的“class”表示什么"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model/Model_cn.html#paddle.Model

![image](https://user-images.githubusercontent.com/5112397/109087801-21e66f80-7749-11eb-8ee3-f976751cc8f6.png)

[2021-02-25 01:18] A-Pai opened #31204 "为何paddle.vision.models中的模型有的没有pretrained参数"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/models/resnet/resnet18_cn.html
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/models/resnet/ResNet_cn.html

为何paddle.vision.models中的模型有的没有pretrained参数？比如：
![image](https://user-images.githubusercontent.com/5112397/109088347-3840fb00-774a-11eb-8a07-fa4654ea015e.png)
![image](https://user-images.githubus

[2021-02-25 01:55] luotao1 commented on #31184
Please see  https://github.com/PaddlePaddle/Paddle/issues/30560#issuecomment-782529410

[2021-02-25 02:32] wjy9 commented on #31155
这个问题有解决办法吗？

[2021-02-25 02:55] frankwhzhang commented on #31171
gnn需要使用1.8.5的版本

[2021-02-25 03:28] zshxn1985 opened #31206 "如何实现内置数据集的提取或重组？"
如下面的训练数据集：
train_dataset=paddle.vision.datasets.MNIST(mode='train',transform=transform)
现需从里面提取一部分作为新的评估数据集，该如何处理。
或按照现有的一个list来提取，应该怎么实现，如list如下：
list=[1,100,1000]
谢谢。

[2021-02-25 03:43] TCChenlong commented on #31198
二级条目我们正在添加中，比如 paddle.nn 中已经添加了对应的说明；paddle.vision相关的内容已经书写完毕了，预计今晚就会上线，感谢反馈~

[2021-02-25 05:02] wangchaochaohu commented on #31203
python 中的Class 类 代表是一个Class 类

[2021-02-25 05:10] yeyupiaoling opened #31208 "2.0怎么没有了GLU这个接口"
- PaddlePaddle2.0
 - 动态图

[2021-02-25 05:27] wangchaochaohu commented on #31208
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/nets/glu_cn.html#glu 可以参考此处文档

[2021-02-25 05:29] yeyupiaoling commented on #31208
@wangchaochaohu 这个是Fluid的。

[2021-02-25 05:36] wangchaochaohu commented on #31208
您好 相关缺失问题会及时反馈的 目前看来确实没有2.0新API支持

[2021-02-25 05:57] LielinJiang commented on #31204
预训练模型是配合特定的参数的。resnet50是通过传入特定参数给ResNet来构造的。而ResNet这个类可以构造出像resnet18，resnet34等网络结构，也可以通过自定义block来改变对应的参数。不一定能有对应的预训练模型。总而言之，使用场景不一样。

[2021-02-25 06:02] yeyupiaoling commented on #31208
@wangchaochaohu 有功能相似的API提供吗？类似就行。

[2021-02-25 07:10] #30634 closed, assigned to JZ-LIANG

[2021-02-25 07:13] yeyupiaoling commented on #30835
[code]
你说神奇不神奇

![image](https://user-images.githubusercontent.com/26297768/109116721-f4ff8000-777b-11eb-9f46-969ad2773393.png)

[2021-02-25 07:13] #30835 closed, assigned to T8T9

[2021-02-25 07:15] #30724 closed, assigned to TeslaZhao

[2021-02-25 07:46] hong19860320 commented on #31173
degrees是一个范围，然后按照均匀分布随机产生一个degree

[2021-02-25 07:47] hong19860320 commented on #31170
嗯嗯，好的，我让相关同学改下，谢谢你的建议。

[2021-02-25 07:52] hong19860320 commented on #31194
谢谢，我们会作为一个需求向PM反馈的哈。

[2021-02-25 08:06] A-Pai commented on #31173
我似乎明白了：
degree需要指定
随机是均匀分布，不需要指定--均匀分布随机最好在文档中说一下

[2021-02-25 08:40] gongel opened #31214 "请问masked_fill 如何实现？"
为True的位置填充指定的value

[2021-02-25 08:55] gpsherry opened #31216 "昆仑小型机上源码编译paddle2.0release版本出错"
![image](https://user-images.githubusercontent.com/73693444/109128260-46af0700-778a-11eb-80a2-3178b0cb326d.png)

[2021-02-25 09:24] yeyupiaoling opened #31217 "DataLoader读取自定义数据出错"
- PaddlePaddle 2.0.0
 - python 3.7

[code]

[code]

错误信息：
[code]

[2021-02-25 09:54] hong19860320 commented on #31168
@TCChenlong 麻烦在示例里面把输出结果打印出来，然后说明下PIL.Image.size打印的顺序是width,height

[2021-02-25 09:55] hong19860320 commented on #31173
是degrees，就是最小，最大的角度，然后框架会在它们间随机产生一个角度进行旋转

[2021-02-25 10:00] hong19860320 commented on #31173
@TCChenlong 建议文档API的说明详细点，例如改成『依据'degrees'指定的角度范围和按照均匀分布随机产生一个角度对图像进行旋转』

[2021-02-25 10:05] pangyoki commented on #31165
noavx包只有python2.7支持，可以尝试这个安装指令：`python2.7 -m pip install paddlepaddle-gpu==2.0.0 -f https://paddlepaddle.org.cn/whl/stable/noavx.html`

[2021-02-25 10:13] wangchaochaohu commented on #31214
可以参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/tensor/search/masked_select_cn.html#masked-select

[2021-02-25 10:17] wangchaochaohu commented on #31216
可以查看下GCC版本 可以参考这个回答？ https://stackoverflow.com/questions/45347838/c-undefined-reference-to-stdthread-while-compiling-opencv-and-tensorflow-wi

[2021-02-25 10:20] A-Pai commented on #31165
看样子，安装飞桨真的不容易
---形成了一道障碍

[2021-02-25 10:23] A-Pai commented on #31165
![image](https://user-images.githubusercontent.com/5112397/109139470-85e35500-7796-11eb-8a4a-86e1064f0e2e.png)

[2021-02-25 10:45] wangchaochaohu commented on #31217
建议参考 https://github.com/PaddlePaddle/PaddleOCR/issues/227 和 https://github.com/PaddlePaddle/Paddle/issues/25569

[2021-02-25 10:48] geekChinaMaster opened #31222 "使用paddle.jit.save()保存模型以后，使用paddle.inference()加载无法使用"
### 使用paddle.jit.save()保存模型以后，使用paddle.inference()加载无法使用
#### 在ai studio上面使用paddle2.0来运行项目：“使用PaddleNLP语义预训练模型ERNIE完成快递单信息抽取”，使用了自定义的数据集训练已经收敛好，由于预测速度非常慢，所以用paddle.jit.save()保存模型，之后尝试使用paddle.inference()来加载模型进行使用，参照了官方文档里面的示例加载，出现了错误，麻烦解答一下

代码如下：
﻿﻿
![图片](https://user-images.githubusercontent.com/44657953/109142427-d4462300-7799-11eb-8c6e-bcc90c621c76.png)

![图片](https://user-images.githubusercon

[2021-02-25 10:49] heavengate commented on #31217
`num_workers`设置成0看下报什么错呢

[2021-02-25 10:50] wangchaochaohu commented on #31206
查看了源码 只能通过__get_item__也就是[]去获取单个元素 然后进行重组 @LielinJiang  不知道是否有其他比较好的方法

[2021-02-25 11:10] hong19860320 commented on #31222
![image](https://user-images.githubusercontent.com/9973393/109145029-e8d7ea80-779c-11eb-8e7f-f900ebc0f70a.png)
首先需要调用paddle.jit.to_static动转静后，然后调用paddle.jit.save保存预测模型。

[2021-02-25 11:22] gongel commented on #31214
感觉实现不了。[masked_fill](https://pytorch.org/docs/master/tensors.html?highlight=masked_fill#torch.Tensor.masked_fill)是填充指定的值

[2021-02-25 11:36] yeyupiaoling commented on #31217
@heavengate 还是一样的错误。
[code]

[2021-02-25 11:39] gongel commented on #31214
解决了，多谢。paddle.where可以。

[2021-02-25 11:39] #31214 closed, assigned to wangchaochaohu

[2021-02-25 11:41] yeyupiaoling commented on #31217
@wangchaochaohu 首先排除是文件读取错误，因为我没有使用`DataLoader`封装之前，数据是能够正常读取的。

[2021-02-25 11:42] yeyupiaoling commented on #31217
@heavengate `DataLoader`这个封装器有什么特殊的要求吗？我的数据长度是不一样的。

[2021-02-25 12:08] #31184 closed, assigned to luotao1

[2021-02-25 12:17] lidanqing-vv commented on #30560
Hi @luotao1 Could you please provide a log of fully trained word2vec model for reference. if no CPU, then GPU is fine. Please attach under this issue.

[2021-02-25 12:32] lidanqing-vv commented on #30560
### BF16 Strategy
* Now Intel target bf16 training of word2vec now.
* Focusing on both enabling bf16, python API, and reducing memory consumption.
* Currently we are enabling bf16 grad ops

  * Checking working on changes bf16 training python API need. still trying
  * Reduce memory consumption by applying non-mkldnn block format in general

### BF16 update each week (by @lidanqing-intel ), since

[2021-02-25 13:26] geekChinaMaster commented on #31222
ok按照您的方法保存模型以后，使用paddle.jit.load()可以加载模型并正确返回了，但是使用paddle.inference()加载模型时候还是报错，麻烦看下

![图片](https://user-images.githubusercontent.com/44657953/109159682-dd41ef00-77af-11eb-94dc-4d7196d62286.png)
![图片](https://user-images.githubusercontent.com/44657953/109159749-f3e84600-77af-11eb-80a9-bac646184b78.png)
![图片](https://user-images.githubusercontent.com/44657953/109159869-14180500-77b0-11eb-9ec8-a4e31

[2021-02-25 14:08] duyiqi17 opened #31233 "multinomial的性能问题"
如题，paddle2.0版本，cuda10.1，使用multinomial从一个概率分布上抽样，CPU和GPU版本性能有较大diff
GPU：
![image](https://user-images.githubusercontent.com/12961597/109164550-8b03cc80-77b5-11eb-99c2-7e0727eb70a3.png)
CPU:
![image](https://user-images.githubusercontent.com/12961597/109164587-948d3480-77b5-11eb-845b-67e23fe1de90.png)

pytorch没有这个问题
![image](https://user-images.githubusercontent.com/12961597/109164914-edf56380-77b5-

[2021-02-25 15:00] 95579580 commented on #29811
这个问题我也遇到了，仔细查找，我找出了原因：确实是因为显存不够用了。
你应该调试的过程中去查看显存剩余容量，因为内存分配是动态变化的、逐渐增长的，当程序停止后就会释放掉。它说你只剩8MB，是应为已经分配出去了，不够下一次的分配了。如果你改变一下数据的处理量可能会看见不是8而是别的数值，下面是我调试一个程序时 通过  >nvidia-smi查看过的
刚开始 395MiB /  4096MiB，
然后1305MiB /  4096MiB，
出错前 3317MiB /  4096MiB，
      ->>>>Out of memory error on GPU 0. Cannot allocate 196.000244MB memory on GPU 0, available memory is only 185.275001MB.
停止后 132MiB /  4096MiB。

so当程序停

[2021-02-26 00:15] #31171 closed, assigned to hong19860320, frankwhzhang

[2021-02-26 00:20] lucifer726 opened #31235 "报错except: 'NoneType' object is not callable"
- 标题：运行python -m paddlerec.run -m models/recall/gnn/config.yaml时报错，except: 'NoneType' object is not callable
****************************************
Paddle version: 1.8.5
Paddle With CUDA: False
OS: Windows 10
Python version: 3.7.0
CUDA version: None
cuDNN version: None
Nvidia driver version: None
****************************************
- 训练信息
    1）单机，单卡/多卡
    2）显存信息
    3）Operator信息
- 复现信息：如为

[2021-02-26 01:42] yeyupiaoling commented on #31217
@heavengate 切片赋值，正常可以赋值，但是放在`DataLoader`的`collate_fn`函数中就不能正常赋值了。
[code]

[code]

如下输出，第二个Tensor的前面部分应该是第一个Tensor的，但结果不是。
[code]

[2021-02-26 02:21] wangchaochaohu commented on #31233
感谢反馈 关于此性能问题我们会及时验证并进行优化

[2021-02-26 03:01] yeyupiaoling commented on #31217
是我前面的tensor处理错了，

[2021-02-26 03:01] #31217 closed, assigned to wangchaochaohu

[2021-02-26 03:54] yongqiangma commented on #31235
paddlerec应该已经全面升级到2.0了 会有不兼容的地方，建议升级到paddle2.0

[2021-02-26 03:56] starsblinking opened #31242 "pip安装包有问题请尽快check"
https://www.paddlepaddle.org.cn/whl/develop.html 里有两个 paddlepaddle-2.1.0.dev0-cp38-cp38-linux_x86_64.whl
其中，https://paddle-wheel.bj.bcebos.com/develop-cpu-openblas/paddlepaddle-2.1.0.dev0-cp38-cp38-linux_x86_64.whl 的版本严重落后于 https://paddle-wheel.bj.bcebos.com/develop-cpu-mkl/paddlepaddle-2.1.0.dev0-cp38-cp38-linux_x86_64.whl

使用 pip install --pre paddlepaddle -f https://paddlepaddle.org.cn/whl/deve

[2021-02-26 04:02] AN-ZE opened #31243 "编译问题，windows10 编译不通过"
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle1.8 或 PaddlePaddle2.0
    2）CPU：Inter(R) Pentium(R) CPU G4600
    3）GPU：2080 TI，CUDA 10.0 CUDNN7.6.5
    4）系统环境：win 10、Python3.7

- 安装方式信息：
本地编译：
cmake .. -G "Visual Studio 14 2015" -A x64 -T host=x64 -DCMAKE_BUILD_TYPE=Release -DWITH_MKL=ON -DWITH_GPU=ON -DON_INFER=ON -DWITH_PYTHON=OFF -DCUDA_TOOLKIT_ROOT_DIR="C:\Program Files\NVIDIA GPU Computing Toolk

[2021-02-26 04:59] GeminiCarrie commented on #30842
从日志分析是编译器版本过低，不支持UINT64_MAX，建议升级gcc版本
可参照 Paddle/paddle/scripts/musl_build/Dockerfile 布置基础编译环境

[2021-02-26 06:06] lyl120117 opened #31250 "Dataloader出现异常后，框架中的异常处理有BUG，不会抛出异常！"
- PaddlePaddle 2.0.0
- Ubuntu 18.04
- Python 3.7.7

**Dataloader经常会遇到下面的报错提示：**

上面的报错很不友好，影响定位问题的效率，通过分析Framework的代码：
https://github.com/PaddlePaddle/Paddle/blob/e8d24b546a7def2efd00eabd8e36f9e9acb90df7/python/paddle/fluid/dataloader/dataloader_iter.py#L342-L346
这是_DataLoaderIterSingleProcess中的异常处理，可以看到346行有通过six.reraise抛出异常，但是实际上这里并没有抛出任何异常！

**测试代码如下：**

[code]

[2021-02-26 06:08] wadefelix commented on #31160
mark

[2021-02-26 06:12] wadefelix commented on #31198
mark

[2021-02-26 06:12] wadefelix commented on #31199
mark

[2021-02-26 06:16] zhwesky2010 commented on #31165
@A-Pai  您好，这个问题主要由于机器不支持avx，该类型只发布了python2.7版本。而avx类型，则发布了2.7~3.8 五个版本，后续我们会增加no_avx机器的python版本个数，感谢反馈

[2021-02-26 06:16] thunder95 opened #31251 "在windows上通过pythonw运行无法加载paddle"
在普通的pc上， 已安装cpu版本的paddlepaddle 2.0，希望后台运行训练程序， 但是无法通过pythonw运行

简单的代码test.py：
try:
    import paddle
    print("hello world!")
except Exception as e:
    print(str(e))
    sys.exit(13)

通过cmd命令， python test.py >> a.log, 日志文件会输出hello world
通过cmd命令， pythonw test.py >> a.log, 日志文件会报错[WinError 6] 句柄无效。

[2021-02-26 06:25] swtkiwi commented on #31165
您好，最后您的这个问题是因为您没有安装python27导致的哦～请您先安装python，再安装paddle包哈～

[2021-02-26 06:37] wadefelix commented on #31088
您好，不知道您基于nvidia/cuda的哪个镜像作为基础镜像的。
有一些nvidia/cuda的镜像内，cuda安装后没有为其so建立短名字的软链接，导致无法找到它。

你可以看看是不是这个情况，可以使用如下指令予以更正
[code]

[2021-02-26 06:50] thunder95 commented on #31251
同样的代码，我注释掉import paddle， 换成import tensorflow之后是没有问题的， 正常输出为hello world。 但是我更喜欢用paddle

[2021-02-26 07:18] zhwesky2010 commented on #31251
@thunder95 您好，请问使用pythonw的场景是什么样呢，目前Paddle发版时没有检测pythonw，可能存在bug

[2021-02-26 07:20] A-Pai commented on #31165
是没装python还是没装python27，python27是？
上边反馈过，我的是：
![108996521-72be7f80-76d9-11eb-9414-3b8e166674fa](https://user-images.githubusercontent.com/5112397/109268525-2ba1cd00-7846-11eb-9b85-8626bd67b46e.png)

[2021-02-26 07:54] thunder95 commented on #31251
我需要在windows下后台运行python程序，该程序包含了paddle包， 有什么替代方案么？
不是使用http服务的方式，而是cmd一次性的命令调用

[2021-02-26 07:55] wangchaochaohu commented on #31208
门控线性单元 Gated Linear Units (GLU) 由 split ，sigmoid 和 cn_api_fluid_layers_elementwise_mul 组成。  可以使用三个Op组合

[2021-02-26 08:00] yeyupiaoling commented on #31208
@wangchaochaohu 這樣？
[code]

[2021-02-26 08:07] wangchaochaohu commented on #31208
![image](https://user-images.githubusercontent.com/13411999/109273134-c0a7c480-784c-11eb-97c8-67c8b23249cf.png)
使用对应的2.0API代替就行了

[2021-02-26 08:18] yeyupiaoling opened #31259 "DataLoader使用多线程读取出错"
- PaddlePaddle 2.0.0
 - Ubuntu 18.04
 - Python 3.7

[code]

报错信息如下，如果num_workers设置为0就啥问题也没有
[code]

[2021-02-26 08:19] #31208 closed, assigned to nobody

[2021-02-26 08:43] lyuwenyu opened #31260 "在ipython或者notebook里利用tab键提示时候出错"
很影响体验，甚至不能用

[code]

[2021-02-26 08:50] lyl120117 commented on #31259
我正好在分析Dataloader，PPASR应该是您自己的代码，我这边复现不了您的问题，根据经验，出现异常的代码应该是下面这段代码：
https://github.com/PaddlePaddle/Paddle/blob/e8d24b546a7def2efd00eabd8e36f9e9acb90df7/python/paddle/fluid/dataloader/dataloader_iter.py#L616-L621
您可以在621行后面增加下面的代码，看能不能看到具体是什么原因引起的异常。
[code]

[2021-02-26 09:05] lyuwenyu opened #31263 "关于BN的.parameter()问题-接口"
希望把BatchNorm2D的_mean, _variance从paramters()里去掉, 另外在dygraph的nn模块提供一下paddle.fluid.framework.ParamBase的接口

[code]

[2021-02-26 09:08] yeyupiaoling commented on #31259
@lyl120117 错误如下：

[code]

[2021-02-26 09:12] lyl120117 commented on #31259
@yeyupiaoling 方便提供一下您的代码吗？CUDA错误，我这边需要复现分析才行。

[2021-02-26 09:13] yeyupiaoling commented on #31259
[code]

[code]

[2021-02-26 09:17] lyl120117 commented on #31259
"dataset/manifest.train", "dataset/zh_vocab.json" 这两个文件也请帮忙提供一下，谢谢！

[2021-02-26 09:30] yeyupiaoling commented on #31259
@lyl120117 给你估计也 用不了，因为还有大量的音频文件，
你可以获取这个项目，执行这三个文件就可以得到这些文件：
[code]

[2021-02-26 09:57] luotao1 commented on #30560
@lidanqing-intel Please see [日志数据](https://github.com/PaddlePaddle/Perf/tree/master/Word2Vec#%E5%85%AD%E6%97%A5%E5%BF%97%E6%95%B0%E6%8D%AE).

The log of `fleetrun --worker_num=4 --server_num=4 ../train.py -c benchmark.yaml` is [Word2Vec DataLoader 4机](https://github.com/PaddlePaddle/Perf/blob/master/Word2Vec/logs/W2V_DataLoader_16Thread_4Node). We don't have one machine log.

Why we choose this lo

[2021-02-26 10:08] luotao1 commented on #30842
[code]
从日志看是gcc8.3，并不低吧。

[2021-02-26 10:24] wadefelix commented on #31160
您可以使用这个Dockerfile来做paddle基础镜像, 做完的镜像大小约为1.06G左右，镜像仓库中压缩存放大小为260M左右。
[code]

[2021-02-26 10:34] Irvingao commented on #31183
### nano环境：
JetPack：4.3

### 我下载了官方编译好的nano的whl包：
![image](https://user-images.githubusercontent.com/58903762/109288816-54cf5700-7860-11eb-94e9-da0121d0d74f.png)
### 在jetson nano上也安装成功了：
![image](https://user-images.githubusercontent.com/58903762/109288985-8811e600-7860-11eb-8f43-8902cce0545a.png)
### 但是在import paddle的时候会崩溃：
![image](https://user-images.githubusercontent.com/58903762/109289071-a1b

[2021-02-26 11:01] Irvingao commented on #30638
请问我也遇到了相同的问题，请问numpy版本问题是指版本过低吗？

[2021-02-26 11:27] guojiahuiEmily commented on #31160
谢谢。 我做了一个镜像：
registry.cn-hangzhou.aliyuncs.com/myie9/paddle: latest

[2021-02-26 11:27] #31160 closed, assigned to bjjwwang

[2021-02-26 11:39] Wzh1997 opened #31273 "linux pip安装错误"
cuda：10.2
cudnn：8.0.3
python：3.6
![image](https://user-images.githubusercontent.com/40290961/109295243-5f421e80-7869-11eb-8518-00f6611753be.png)
这是系统信息

![image](https://user-images.githubusercontent.com/40290961/109295096-1ee2a080-7869-11eb-8e68-c228a74113c0.png)
linux下pip安装完后去测试出现错误，这个是什么原因呢

[2021-02-26 11:58] GeminiCarrie commented on #30842
日志里看应该是cmake阶段检测环境的报错

我们在处理c++11和c++14有不同的检测，测试环境使用gcc9.3.0时未出现该问题，建议升级到该版本或按照dockerfile部署基础编译环境

[2021-02-26 12:52] zhiqiu commented on #30842
这个检查是这样的，
![image](https://user-images.githubusercontent.com/6888866/109300353-5ce3c280-7871-11eb-85fe-0d0448204e34.png)

你可以check下你系统中的stdint.h是否定义了 `UINT64_MAX`。

方法如下，
1. 查找gcc的include 路径，
![image](https://user-images.githubusercontent.com/6888866/109302495-4f7c0780-7874-11eb-840c-03ab6b38fe7f.png)

2. 按顺序检查这些路径下的stdint.h是否存在及是否含有`UINT64_MAX`，对于我的环境是在 `/usr/include/stdint.h`中定义了。
![image](https

[2021-02-26 13:04] YueWang1996 commented on #30842
你好，谢谢回复！我将Alpine升级到3.11之后编译成功了，后来测试了Alpine3.10及其之前的旧版本都不能顺利编译。

[2021-02-26 13:39] zhiqiu commented on #30842
哦哦，请问下AIpine是？

[2021-02-26 15:22] YueWang1996 commented on #30842
Alpine是指Alpine Linux 操作系统https://alpinelinux.org/

[2021-02-26 17:24] lyl120117 commented on #31259
@yeyupiaoling 我这边定位到在collate_fn和PPASRDataset中将数据转成了Tensor，如果将num_workers设置为大于0的值，就会出现CUDA API errors，错误类型是cudaErrorInitializationError (error 3)，我将您的代码修改成了numpy可以正常运行，您可以参考一下，另外我这边测试num_workers=4比num_workers=0读数据会快很多，所以建议您使用num_workers=4或者更大的值，**代码如下：**
[code]

@yongqiangma 上述问题是由于在Datasets中使用了paddle.to_tensor这种API将数据转成Tensor引起的，从已有的DEBUG日志目前无法定位root case，后续我会继续跟进这个问题。

[2021-02-27 00:17] ZGSLZL commented on #31165
遇到同样的问题Window, 先安装了cpu版本，报如下错误，提升安装gpu版本：
WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core.
Error: AVX is not support on your machine, but you have installed paddlepaddle with avx core, you should reinstall paddlepaddle by 'python -m pip install -U paddlepaddle-gpu[==version] -f https://paddlepaddle.
org.cn/whl/stable_noa

[2021-02-27 03:48] guojiahuiEmily opened #31278 "建议提供nlp的百度云bml的脚本前后处理样例代码"
建议提供nlp的百度云bml的脚本前后处理样例代码
谢谢

欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for

[2021-02-27 03:56] zshxn1985 commented on #31206
@wangchaochaohu 谢谢，已解决。

[2021-02-27 03:56] #31206 closed, assigned to LielinJiang

[2021-02-27 11:36] A-Pai opened #31284 "to_grayscale的命名为何和别的不同"
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/to_grayscale_cn.html

本模块的命名大多是类似“Resize”和“resize”--仅仅是首字母大小写之分

为何to_grayscale、Grayscale的命名为何和别的不同？

[2021-02-27 11:56] jey07 opened #31285 "invalid poly"
While training using **det_r50_vd_sast_icdar15.yml** config file on my personal dataset, I am getting `invalid poly` during epochs.
I think it has to do with image size ?. I am using **ResNet50_vd**  as backbone model Could you tell me how to correct it or resolve it ?

But when i run the same set of images through "det_mv3_db.yml" config, I don't encounter invalid poly issues.

Is there some kind

[2021-02-27 14:03] guojiahuiEmily opened #31286 "建议百度云函数计算增加支持paddle库的模板"
现在百度云的函数计算里无法执行用了paddle的代码。
建议支持python3及paddle及paddlehub的函数模板

欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述

[2021-02-27 14:32] A-Pai opened #31287 "感觉到文档中“Resize”返回“ numpy ndarray，调整大小后的图像”，说的有问题"
先看前边的说明，二者的说法不一致，我觉得文档中说“Resize”返回“ numpy ndarray，调整大小后的图像”，应该是形成一个“Resize”对象

![QQ截图20210227205649](https://user-images.githubusercontent.com/5112397/109389915-8e2fc180-7949-11eb-9ed8-0ef7fc165856.jpg)

再看实际代码运行；
![QQ截图20210227205828](https://user-images.githubusercontent.com/5112397/109389885-6cced580-7949-11eb-8a4f-859f2fb4e13b.jpg)

“transform”实际上是一个“Resize”类型的对象

![QQ截图20210227222503](https:/

[2021-02-28 06:36] #29251 closed, assigned to ZHUI

[2021-02-28 06:37] #29258 closed, assigned to ZHUI

[2021-02-28 08:21] 72min opened #31289 "C++ 部署预测库 setModel报错"
预测库版本 cpu_avx_mkl 预测库(2.0.0)
![QQ截图20210228151125](https://user-images.githubusercontent.com/60537262/109412060-d9e17a00-79e0-11eb-9b9a-c6f86f401816.png)

[code]

[2021-02-28 09:30] jhcgt4869 opened #31290 "官方文档中v100赠送时间的问题"
![image](https://user-images.githubusercontent.com/61859193/109413868-9855cc80-79ea-11eb-98f4-15d344346b24.png)

https://github.com/PaddlePaddle/Paddle/blob/develop/README_cn.md

v100赠送时间早就修改成10小时了【瑟瑟发抖】

[2021-02-28 11:29] willthefrog commented on #31290
好的，会反馈相关同学更新文档

[2021-02-28 11:35] willthefrog commented on #31289
好的，会反馈相关同学跟进

[2021-02-28 12:03] A-Pai opened #31293 "构建了Model实例后，怎么查看其指定的“损失函数、优化算法、评估指标”？"
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/01_paddle2.0_introduction/upgrade_guide_cn.html
“Net是指继承paddle.nn.Layer的网络结构；而Model是指持有一个Net对象，同时指定损失函数、优化算法、评估指标的可训练、评估、预测的实例”
那么，构建了Model实例后，怎么查看其指定的“损失函数、优化算法、评估指标”？model.summary只能看到net的结构信息
![image](https://user-images.githubusercontent.com/5112397/109417604-5420f700-79ff-11eb-9230-c6a01431a62d.png)

[2021-02-28 12:26] 72min commented on #31289
环境：VS2019 官网下载的2.0预测库 CPU版本https://paddle-wheel.bj.bcebos.com/2.0.0/win-infer/mkl/cpu/paddle_inference_install_dir.zip
----------------------------------------
希望官网能增加一下C++打包DLL 给C#调用的 完整教程，有的小伙伴基础不好 又没有C++开发经验 部署过程挺痛苦的。

[2021-02-28 12:43] willthefrog commented on #31293
损失函数、优化算法、评估指标通过`model.prepare`设置， 参考[这里](https://github.com/PaddlePaddle/hapi/blob/master/handwritten_number_recognition/mnist.py#L45)

[2021-02-28 12:53] A-Pai commented on #31293
不是去设置，而是已经有了model后，总览性地了解model

[2021-02-28 13:27] geekChinaMaster commented on #31222
您好，这块使用paddle.inference()部署时候的输入是怎么样的，按照官网文档给出的示例来操作会显示我截图中的报错，请问这个该如何去做才能正确部署

[2021-02-28 13:51] willthefrog commented on #31293
可以使用`model._loss`， `model._optimizer` ，`model._metrics`访问

[2021-02-28 14:33] guojiahuiEmily opened #31294 "建议增加一个阿里函数计算的paddle库的模板，目前只有TensorFlow的"
建议增加一个阿里函数计算的paddle库的模板，目前只有TensorFlow的，
我自己光是引入paddle库到函数计算都搞不定。

欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
-

[2021-02-28 22:18] JimXu1989 opened #31295 "请问有拆分训练集和数据集的函数吗？"
我使用的是paddle2.0稳定版，我在做图片分类，我用Dataset和DataLoader从硬盘加载数据集之后，怎么分割训练集和数据集呢？
谢谢

[2021-02-28 22:36] JimXu1989 commented on #30565
请问有相关的例程吗？我加载图片训练总是失败，而且
train_loader = paddle.batch(paddle.dataset.mnist.train(), batch_size=10)
和
train_loader = DataLoader(dataset,batch_size=BATCH_SIZE, shuffle=True, drop_last=True, num_workers=2)
这两种方法产生的loader并不是一种类型

还有，有没有能自动把数据集拆分成训练集和测试集的函数？

感谢

[2021-02-28 22:38] JimXu1989 opened #31296 "有没有很方便的加载硬盘数据并且拆分训练集测试集的函数？谢谢"
请问有相关的例程吗？我加载图片训练总是失败，而且
train_loader = paddle.batch(paddle.dataset.mnist.train(), batch_size=10)
和
train_loader = DataLoader(dataset,batch_size=BATCH_SIZE, shuffle=True, drop_last=True, num_workers=2)
这两种方法产生的loader并不是一种类型

还有，有没有能自动把数据集拆分成训练集和测试集的函数？

感谢

[2021-02-28 23:16] JimXu1989 commented on #31296
这是我的代码：

import paddle
import numpy as np
from paddle.nn import Conv2D, MaxPool2D, Linear
import os
import random
import numpy as np
from imutils import paths
import imutils
## 组网
import paddle.nn.functional as F
from paddle.io import Dataset
from paddle.io import DataLoader
import cv2

BATCH_NUM = 20
BATCH_SIZE = 16
EPOCH_NUM = 4

IMAGE_SIZE = 784
CLASS_NUM = 10

class Animals_dataset(Dataset):

[2021-02-28 23:55] A-Pai opened #31297 "查找api帮助的正确方法是？"
查找api帮助的正确方法是？
感觉不好找：按照怎样的逻辑层层查？或者怎样搜索？
比如想查model.fit()，查不到啊！费力
![QQ截图20210301075149](https://user-images.githubusercontent.com/5112397/109438130-7187ac80-7a63-11eb-8ae9-185bd4d8726e.jpg)

[2021-03-01 01:29] A-Pai opened #31298 "RandomResizedCrop文档中“scale”讲解不清"
RandomResizedCrop文档中“scale”讲解不清
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/transforms/RandomResizedCrop_cn.html
![QQ截图20210301092915](https://user-images.githubusercontent.com/5112397/109441606-a2baa980-7a70-11eb-866b-114e3bf5f27c.jpg)

[2021-03-01 01:36] zhupengyang commented on #31278
已经收到您的建议，会尽快评估您的需求

[2021-03-01 01:36] zhupengyang commented on #31286
已经收到您的建议，会尽快评估您的需求

[2021-03-01 01:43] zhupengyang commented on #31287
已经收到您的建议。文档表述有些不清晰，后续会进行相应调整。

[2021-03-01 01:45] A-Pai commented on #31287
计算机是特别要求严谨和准确的

[2021-03-01 01:46] yeyupiaoling commented on #31259
@lyl120117 好的，谢谢，我可不可以理解为，使用多线程读取数据，预处理部分都不能包含Tensor

[2021-03-01 01:56] zhupengyang commented on #31284
命名上只是遵循一般规范而已，和仅仅区分首字母没什么关系。一个函数它的作用是resize，那他的名称就叫resize。一个函数它的作用是 "to grayscale"，那他的名称就叫to_scale。

[2021-03-01 02:10] willthefrog commented on #31294
如果直接使用python runtime的话估计会缺少一些C/C++/cuda的依赖，可以尝试直接用container执行。

[2021-03-01 02:11] A-Pai commented on #31284
我不这样认为，按照约定的规范命名更好，本模块的命名是类似“Resize”和“resize”，便于使用和记忆。
--既然有了“Grayscale”，其对应的就应该命名为grayscale，命名为grayscale难道不能很好地反映它的作用？

[2021-03-01 02:23] MissPenguin commented on #31285
This error is because a few training data format is incorrect, which does not affect the overall training.

[2021-03-01 02:25] lyl120117 commented on #31259
@yeyupiaoling 是的，在GPU环境多线程情况下预处理部分不能将数据转成Tensor，这应该是一个BUG，目前还没完全定位到root case，后续我会跟进这个问题，谢谢！

[2021-03-01 02:26] yeyupiaoling commented on #31259
@lyl120117 好的，谢谢。

[2021-03-01 03:00] A-Pai commented on #31293
有没有试过？
![QQ截图20210301105720](https://user-images.githubusercontent.com/5112397/109446726-2a0e1a00-7a7d-11eb-8d69-97654068ef67.jpg)
summary可以正常运行，下边的“print(model._loss)”报错：
![QQ截图20210301105751](https://user-images.githubusercontent.com/5112397/109446796-4f9b2380-7a7d-11eb-82e5-ffd9db2efa65.jpg)

[2021-03-01 03:02] A-Pai commented on #31293
我的想法是可以对“model.summary”进行改造，既然是summary，就要包含各个方面，而不仅仅是网络的结构

[2021-03-01 03:16] wangye707 commented on #31183
@Irvingao  你好，你下载上面2.0.0-nv-jetson-jetpack4.3-all 这个版本的试下

[2021-03-01 04:42] lucifer726 commented on #31235
您好，之前我用的就是2.0的版本，遇到类似的问题，你们回复我说gnn需要1.8.5的版本。所以我想问一下，运行gnn，到底需要什么版本？

[2021-03-01 06:16] yongqiangma commented on #31273
系统版本是多少呢？
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/2.0/install/pip/linux-pip.html
可以参考这个说明，check一下。

[2021-03-01 06:20] willthefrog commented on #31293
这些属性需要运行过`model.prepare`后才存在。

[2021-03-01 06:23] willthefrog commented on #31289
能否请 @Superjomn 跟进下？

[2021-03-01 06:32] heavengate commented on #31250
我本地测试了一下你提供的代码，应该是有报错信息的
全量报错信息
[code]

其中python端报错信息为
[code]

[2021-03-01 06:37] yongqiangma commented on #31242
好的，我转相关同学，进行check下。

[2021-03-01 06:37] jiweibo commented on #31289
您好，目前官网发布的预测库均是在vs2015上编译得到的，能否使用vs2015测试下呢？
config.SetModel接口只是设置模型的存储路径，内部不包含复杂逻辑，所以推测该问题应该是环境原因导致。

关于C++打包DLL给C#调用，这个网上能搜到较多教程可以参考下，我们内部也评估下是否需要增加相关文档。

[2021-03-01 06:42] jiweibo commented on #31243
您好，看报错信息是在windows上没找到cuda，请检查下您的cuda安装路径等信息

[2021-03-01 06:43] A-Pai opened #31311 "怎样才能提升gpu的利用率？"
gpu资源是非常宝贵的，要尽量充分利用，怎样才能提升gpu的利用率？以以下项目为例，当前的利用率如图，怎么设置提升？
https://aistudio.baidu.com/aistudio/projectdetail/1592130
![QQ截图20210301144030](https://user-images.githubusercontent.com/5112397/109460812-2ccc3780-7a9c-11eb-9682-6a4ee6d533c5.jpg)

[2021-03-01 06:49] ceci3 commented on #31263
你好，请问下是什么意思？是要去掉mean和var两个参数，还是去掉归一化的操作？

[2021-03-01 06:51] yongqiangma commented on #31260
多谢反馈，我转相关同学跟进一下。

[2021-03-01 06:56] A-Pai commented on #31293
明白了，谢谢

[2021-03-01 07:00] A-Pai opened #31314 "有没有返回混淆矩阵(confusion matrix)的函数？"
分类学习结束后，观察其混淆矩阵(confusion matrix)是重要的，可以知道各个类别的分类准确率
飞桨2.0有没有返回混淆矩阵(confusion matrix)的函数？

[2021-03-01 07:15] lyl120117 commented on #31250
@heavengate 请问您的python版本是多少，我的是3.7.7

[2021-03-01 07:29] frankwhzhang commented on #31235
目前gnn这个模型暂时未升级到2.0，可以切换1.8.5的分支 并使用1.8.5的whl包安装paddlerec并运行。预计下个月gnn会升级到2.0

[2021-03-01 07:32] A-Pai opened #31319 "model.fit中batch_size最好是2的n次方？"
model.fit中batch_size最好是2的n次方？可否为100、200等较为任意的数

[2021-03-01 07:50] supercyt opened #31322 "@paddle.jit.to_static 动转静失败"
**出错代码：**
[code]

**报错信息：**

Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  def convert_to_list(value, n, name, dtype=np.int):
W0301 15:45:13.527985 32599 device_context.cc:362] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 11.2, Runtime API Version: 10.0
W0301 15:45:13.530265 32599 device_conte

[2021-03-01 08:10] AN-ZE commented on #31243
感谢。是斜杠的问题。cmake通过了，我编译一下推理库。

[2021-03-01 08:13] A-Pai commented on #31311
将batch_size改为200(原来为128）后，显存利用率显著提升，gpu利用率还有所下降，但是每epoch的时间下降为250s，原来为360s

![QQ截图20210301155646](https://user-images.githubusercontent.com/5112397/109467879-cac4ff80-7aa6-11eb-8b2c-f92ed768e815.jpg)

[2021-03-01 08:16] A-Pai commented on #31311
似乎再没有别的地方可调

[2021-03-01 08:16] heavengate commented on #31250
3.7.0

[2021-03-01 08:36] wadefelix commented on #31260
https://hub.docker.com/repository/docker/wadefelix/paddle 试下这个？
我竟然没有用过jupyter中的tab提示🤔

[2021-03-01 09:00] A-Pai commented on #31311
batch_size改为50，每epoch的时间和batch_size为128的，同为360s，但是基本上不占用gpu和显存了，这又是何故？

![image](https://user-images.githubusercontent.com/5112397/109474798-d668f400-7aaf-11eb-916e-53fb556eab30.png)

[2021-03-01 09:00] lyl120117 commented on #31250
@heavengate 刚刚我用AIStudio试了，可以正常抛出异常，但是我这边的服务器更换了Python版本也不会抛出异常，看来也不是python版本的问题。

[2021-03-01 09:01] zhwesky2010 commented on #30763
@thomas-yanxin 您好，这个问题可能是python是64位的，安装的python scipy是32位的，麻烦python 重装下scipy。再装下 https://www.microsoft.com/en-us/download/details.aspx?id=48145 这个试试

[2021-03-01 09:05] A-Pai commented on #31311
看样子batch_size为200是最优的，再高就Out of memory了----AI Studio的高级版

[2021-03-01 09:07] zhwesky2010 commented on #28613
@dongyangli-del 请问这个https://www.microsoft.com/en-us/download/details.aspx?id=48145 装好了吗

[2021-03-01 09:07] yongqiangma commented on #31242
多谢反馈，目前已经在修复了。

[2021-03-01 09:11] TCChenlong commented on #31290
已更新 感谢反馈

[2021-03-01 09:11] #31290 closed, assigned to willthefrog

[2021-03-01 09:16] zhwesky2010 commented on #30964
@HuangLonghao 您好，请问不使用TRT也会报错吗，电脑上装了多少个CUDA呢？

[2021-03-01 09:29] yeyupiaoling opened #31337 "spawn多卡训练输出都是多条日志？"
- PaddlePaddle 2.0.0
 - Ubuntu 18.04
 - RXT 2080ti

使用`dist.spawn(train, args=(args,))`多卡训练，输出的是多条日志的吗？如我用2张显卡训练，输出都是两次日志。有没有办法让它只输出一次？VisualDL记录loss也不好计算
[code]

[2021-03-01 10:03] A-Pai commented on #31311
题外--与AI studio基本版（cpu）比较：
batch_size为50(再高就溢出了)，每epoch的时间为36000s，耗时是高级版batch_size为200的144倍，资源占用情况为：

![image](https://user-images.githubusercontent.com/5112397/109483943-c99dcd80-7aba-11eb-9f0d-56795ea029b7.png)

[2021-03-01 10:04] A-Pai commented on #31311
高级版一方面内存大，另一方面有gpu，效率大大提升

[2021-03-01 10:49] dongyangli-del commented on #28613
@zhouwei25 你好，直接重装了Anaconda2021,重装后问题已解决 @

[2021-03-01 10:49] dongyangli-del commented on #28613
@zhouwei25 你好，直接重装了Anaconda2021,重装后问题已解决

[2021-03-01 10:49] dongyangli-del commented on #28613
@zhouwei25 你好，直接重装了Anaconda2021,重装后问题已解决 @

[2021-03-01 10:49] dongyangli-del commented on #28613
@zhouwei25 你好，直接重装了Anaconda2021,重装后问题已解决

[2021-03-01 11:20] qdd1234 opened #31340 "多卡训练报错"
您好，我是用paddle2.0进行多卡并行训练报如下的错误
![image](https://user-images.githubusercontent.com/68497831/109490348-108fc100-7ac3-11eb-852c-9b04b5b527e2.png)
我想问一下这是什么原因
CUDA:11.0 cuDNN:8.1
显卡:Tesla T4 显存15GB 一共四张卡

[2021-03-01 11:35] #31263 closed, assigned to yongqiangma, ceci3

[2021-03-01 11:59] Chaodong opened #31341 "paddle2.0 LSTM的用例跑不通"
Thank you for contributing to PaddlePaddle. Submitting an issue is a great help for us.
Both Chinese and English issues are welcome.

It's hard to solve a problem when important details are missing.
Before submitting the issue, look over the following criteria before handing your request in.

- [ ] Was there a similar issue submitted or resolved before ? You could search issue in the github.
- [ ]

[2021-03-01 14:39] 72min commented on #31289
VS 2015测试过  #[设置目录一样报错。但是从内存读入是可以正常使用的。
![vs2015成功](https://user-images.githubusercontent.com/60537262/109512267-e1874880-7ade-11eb-89b7-22d85e88576b.png)
-----------------------------成功
![vs2015失败目录](https://user-images.githubusercontent.com/60537262/109512295-ec41dd80-7ade-11eb-8619-19df36f2ddc3.png)
-----------------------------失败

[2021-03-01 14:42] 72min commented on #31289
关于CPP部署官网文档描述的不够细致 网上搜的 大多是PaddleX 还有PaddleOcr 等集合项目源码用MK去编译，，但是我的模型是用Paddle CV 里面的官方模型库。

[2021-03-01 15:00] LielinJiang commented on #31337
可以这样
[code]

[2021-03-01 15:01] LielinJiang commented on #31319
可以为任意数

[2021-03-01 15:02] LielinJiang commented on #31314
暂时没有

[2021-03-01 15:03] A-Pai commented on #31319
看到例子中用的是128等

[2021-03-01 15:04] A-Pai commented on #31314
有必要有吗？

[2021-03-01 15:05] LielinJiang commented on #31311
总体上的策略是通过优化reader，减少数据读取的时间。来提高gpu利用率。

[2021-03-01 15:05] LielinJiang commented on #31298
好的，我们优化一下

[2021-03-01 15:08] LielinJiang commented on #31314
我们评估一下。这个代码也比较好写。你可以找一找已有的实现，参考一下

[2021-03-01 15:08] LielinJiang commented on #31297
可以通过直接搜API的名称来查找。https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model/Model_cn.html#fit-train-data-none-eval-data-none-batch-size-1-epochs-1-eval-freq-1-log-freq-10-save-dir-none-save-freq-1-verbose-2-drop-last-false-shuffle-true-num-workers-0-callbacks-none

[2021-03-01 15:08] A-Pai commented on #31311
这个项目没有用到reader？
可否请你试着改写一些？做个项目，大家学习、模仿

[2021-03-01 15:10] LielinJiang commented on #31296
可以通过如下方式划分
[code]

[2021-03-01 15:11] LielinJiang commented on #31295
内容与 #31296 比较相似， 参考 #31296 的回答

[2021-03-01 15:12] A-Pai commented on #31297
got it，谢谢

[2021-03-01 23:11] thomas-yanxin commented on #30763
好的，谢谢您。

[2021-03-02 00:14] #30684 closed, assigned to lidanqing-vv

[2021-03-02 00:55] JimXu1989 commented on #31296
请问is_train是什么呀？这段代码的意思是那些图片作为训练集那些作为测试集呀？如果我想 20%的图片作为测试集其余作为训练集我应该怎么写呀？而且我想打乱图片的顺序，毕竟如果找最后20%作为训练集的话很有可能都是同一类别的。

[2021-03-02 01:06] A-Pai opened #31349 "normalize的均值和标准差怎么确定？"
normalize的均值和标准差怎么确定？比如以下文档是怎么确定出来的？
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/transforms/functional/normalize_cn.html

![QQ截图20210302090519](https://user-images.githubusercontent.com/5112397/109580974-82edb900-7b36-11eb-98ab-9ca4c3cbacba.jpg)

[2021-03-02 02:25] qxcnwu opened #31350 "paddle.summary源码 计算前向反向传播参数量错误！！！"
- 版本、环境信息
1）PaddlePaddle版本：paddle 2.0
2）CPU/GPU：__all__
3）系统环境：__all__
- paddle.summary函数
在model_summary.py  line 343~349中
![image](https://user-images.githubusercontent.com/55339411/109586391-18da1180-7b40-11eb-86f8-5c3dd56a2ad8.png)
在计算输出为list或者是多维输出时 没有在np.prod()函数中加入axis=1 导致计算数值超过np上限计算成为负数
因该改为
![image](https://user-images.githubusercontent.com/55339411/109587117-7c187380-7b41-11eb-95ad-6723

[2021-03-02 02:26] A-Pai commented on #31131
请帮忙解答

[2021-03-02 02:32] A-Pai opened #31351 "觉得数据增强(Data augmentation)应该具有扩充数据的功能"
觉得数据增强(Data augmentation)应该具有扩充数据的功能--在原式图像的基础上，模拟以不同的角度，不同的光照、采集工具获取该物体的照片，一可以变出十，或者更多
现在的(2.0)似乎没有这样的功能

[2021-03-02 02:38] luohao136486939 opened #31352 "fliud被弃用之后，以前的部署教程都没法用了"
以前教程都是fliud，迫切需要新版的使用方法

[2021-03-02 02:42] qxcnwu opened #31353 "使用教程>模型开发>训练与预测 中对model.fit()函数的拆解与model.evaluate()函数拆解疑问"
paddle 2.0文档
### 文档问题描述：
model.fit()函数的拆解与model.evaluate()函数拆解疑问
model.fit()中包含traindata，evaluatedata参数说明在model.fit()函数拆解中应该包含 训练/预测 两个步骤而下方拆解文档只有训练应该为
![image](https://user-images.githubusercontent.com/55339411/109588569-eb8f6280-7b43-11eb-8d81-ac8bf19d8fb4.png)

[2021-03-02 02:49] A-Pai opened #31354 "如何自定义数据集，文档中讲的不清楚"
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/02_paddle2.0_develop/02_data_load_cn.html

如何自定义数据集，文档中讲的不清楚

比如自己采集了若干类别的图像，想基于这些数据做分类识别，应该怎样打包这些数据（相同类别的图像放在同一文件夹），然后怎么定义

[2021-03-02 02:52] dingjiaweiww commented on #31199
paddle 的github issue 定位是对框架的bugfix 和接受用户的新功能请求或优化等，使用咨询问题请转移到AI论坛（https://ai.baidu.com/forum/topic/list/168）, 大家可以在那里讨论

[2021-03-02 02:54] A-Pai commented on #31199
这个地方不是针对AI Studio的？

[2021-03-02 03:19] #15423 closed, assigned to wopeizl

[2021-03-02 03:19] #18404 closed, assigned to jiangjiajun

[2021-03-02 03:19] #22781 closed, assigned to nobody

[2021-03-02 04:16] spockmars opened #31355 "paddle2.0 api文档问题，paddle.nn.Upsample 示例程序参数不对"
### paddle2.0 api文档paddle.nn.Upsample部分：

#### 示例程序参数写错了，本来应该为size，文档中写的是out_shape，如下所示：
import paddle
import numpy as np

upsample_op = paddle.nn.Upsample(out_shape=[12,12])
input_data = paddle.rand(shape=(2,3,6,10))

output = upsample_op(input_data)
print(output.shape)
# [2L, 3L, 12L, 12L]

[2021-03-02 05:01] lyuwenyu commented on #31260
ok

[2021-03-02 05:02] #31260 closed, assigned to yongqiangma

[2021-03-02 05:48] zhiqiu commented on #31349
这个均值和标准差应该是根据模型数据特点设置的，我感觉图中的127.5应该是255/2吧，int8最大是255.

[2021-03-02 05:52] #31243 closed, assigned to yongqiangma, jiweibo, zhwesky2010

[2021-03-02 06:06] tink2123 commented on #31355
感谢反馈，示例代码有误，我们会尽快修复。

[2021-03-02 06:11] zhiqiu commented on #31352
现在paddle官网 https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/index_cn.html 已经是2.0的文档了，你可以参考下。

[2021-03-02 06:16] zhiqiu commented on #31353
model.fit()中如果传eval_data会执行evalute，如果不传，则不会。图中的“拆解”，应该针对的是不传eval_data的情况。

[2021-03-02 06:25] zhhsplendid commented on #31322
当前log看不出什么，是否有更多信息？或者您在debug过程可以参考以下意见：

1. KeyError常出现于访问某容器类型时该key不存在。从代码报错可能是self.attribute_size在取为0的key时出错，检查一下self.attribute_size前后是否有什么错误。

2. 在没有用动转静时，单单动态图运行是否有错？请保证动态图运行没有问题

3. 如果在动态图运行无错情况下，参考这里的一些debug方式看看转静态图后是什么出问题：
https://github.com/PaddlePaddle/FluidDoc/blob/develop/doc/paddle/guides/04_dygraph_to_static/debugging_cn.md

[2021-03-02 06:37] Superjomn commented on #31289
内存可以读取，但设置路径不行，看看是不是相对路径出错了（bin 执行路径跟源码路径不一样），绝对路径试试。

@jiweibo 关注下，windows为啥没有报错信息，是不是异常打不出信息

[2021-03-02 07:20] LielinJiang commented on #31341
请问是这里的示例代码嘛？https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/layer/rnn/LSTM_cn.html#lstm

我跑下来似乎没有问题。

[2021-03-02 07:25] LielinJiang commented on #31340
看提示，像是创建好的网络中有参数，没有被用到导致的。可以看看哪些layer没有回传loss，将这些layer中的参数，设置.stop_gradient=True

[2021-03-02 07:29] LielinJiang commented on #31311
paddle.vision.datasets.Cifar100 这个是项目用到的dataset，在高层API中你可以简单的通过传入num_works的数量来看看能否加速。或者通过dataset+sampler+dataloader的方式，来自定义dataloader（reader）。至于示例，分类任务可以参考PaddleClas，检测可以参考PaddleDetection，分割可以参考PaddleSeg

[2021-03-02 07:35] LielinJiang commented on #31296
1. is_train表示你定义的是训练集，还是测试集，一个bool变量。
2. 打算顺序可以使用np.random.shuffle
3. 你可以更加实际的图片数量来找到20%是多少。比如图片100张，那百分20就是20张。那划分方法及时img_files = image_file[:80]这个是训练，测试时img_files=img_files[80:]

[2021-03-02 07:55] #31337 closed, assigned to LielinJiang

[2021-03-02 07:55] A-Pai commented on #31349
--不要“感觉”啊！开发团队是权威

[2021-03-02 08:08] TCChenlong commented on #31354
这篇文档中给出的是最基本的定义方式，在第二部分 【二、自定义数据集】中有讲到，即如何设置每一条数据 的data与 label；针对从文件夹中读取图片，因为每种场景不一样，所以可以参考官网[应用实践](https://www.paddlepaddle.org.cn/documentation/docs/zh/tutorial/index_cn.html)的部分，里面会有类似场景的数据加载的说明~
然后，我们近期也计划更新这篇文档，补充更多的场景说明，感谢您的反馈

[2021-03-02 08:21] TCChenlong commented on #31354
AI Studio上有一篇官方提供的数据处理文档，链接见[详解飞桨框架数据管道](https://aistudio.baidu.com/aistudio/projectdetail/1299687)，也可以作为参考哈~

[2021-03-02 08:31] yeyupiaoling commented on #31259
@lyl120117 又遇到了个新问题，在AIStudio环境，如果batch size设置大于4，就会报错。错误如下。如果把`num_workers`设置为0，batch size设置大也不会保存。这些问题只在AI Studio出现，本地不会出现这个问题。
[code]

错误信息：
[code]

[2021-03-02 09:11] lidanqing-vv commented on #30309
@OliverLPH You could update comment since juncai last week updated checking methods.

[2021-03-02 09:11] starsblinking commented on #31349
路过说一句，示例应该有问题。0-255的连续值均匀分布的均值为 255/2 标准差为 255/sqrt(12)；case中的数据是离散均匀分布，均值相同，标准差相似，可以自己算一下。

[2021-03-02 09:18] lyl120117 commented on #31259
@yeyupiaoling 试一下Dataloader不用共享内存use_shared_memory=False。

[code]

[2021-03-02 09:24] yeyupiaoling commented on #31259
@lyl120117 这样设置可以了，谢谢。这个API的文档参数默认值不对：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DataLoader_cn.html#dataloader

[2021-03-02 09:24] #31259 closed, assigned to yongqiangma

[2021-03-02 09:25] A-Pai commented on #31349
均匀分布，上边是正解

[2021-03-02 09:25] lyl120117 commented on #31259
这个@谁去改一下...

[2021-03-02 09:26] yeyupiaoling commented on #31259
@GT-ZhangAcer

[2021-03-02 09:41] GT-ZhangAcer commented on #31259
太惨了，我不是RD，合个代码还得再找人，这可咋整啊。
不行不行，大佬都at我了，我得at文档小哥
@TCChenlong

[2021-03-02 09:41] ShaneTian opened #31370 "paddle.distributed.fleet.distributed_model 文档问题"
- API: `paddle.distributed.fleet.distributed_model`
- 文档版本信息：`2.0`
- 问题：该 API 作用相当于 PyTorch 中的 `torch.nn.parallel.DistributedDataParallel` 还是 `torch.nn.DataParallel`?
- 细节：使用 `fleet` `collective` 模式进行开发时，已使用 `fleet.distributed_optimizer` 对 `optimizer` 和 `fleet.DistributedStrategy` 包了一层。想确认模型是否也需要使用 `fleet.distributed_model` 再包一层？

[2021-03-02 09:47] supercyt commented on #31322
2. 动态图没有问题。

目前定位出问题是，对于**dict类型的遍历**导致转换失败，dict改为list后，问题解决。

[2021-03-02 10:03] #31322 closed, assigned to LielinJiang

[2021-03-02 10:22] lyl120117 opened #31371 "Dataloader预处理将数据转成Tensor，num_workers大于0报错"
- PaddlePaddle 2.0.0
- Ubuntu 18.04
- Python 3.7

**Dataloader预处理将数据转成Tensor，num_workers大于0报错，num_workers==0不报错。**

[code]

[code]

[2021-03-02 10:46] swtkiwi commented on #31165
是的，上面有说过，因为noavx的机器很少了，所以对noavx支持的python版本也很少，只有python2.7支持，可以尝试这个安装指令：python2.7 -m pip install paddlepaddle-gpu==2.0.0 -f https://paddlepaddle.org.cn/whl/stable/noavx.html 。所以您的python38装不上哈。所以您用这个python27的命令就会报错，python版本都没对上哈。

[2021-03-02 12:43] A-Pai commented on #31165
难道要我退回去用python2.7？
paddle的发展应该适应python的发展，还是python的发展应该适应paddle的发展？

[2021-03-02 13:06] A-Pai opened #31380 "内置数据集可视化"
如项目
https://aistudio.baidu.com/aistudio/projectdetail/1601610?forkThirdPart=1
![QQ截图20210302210421](https://user-images.githubusercontent.com/5112397/109652577-ed384500-7b9a-11eb-9236-17ff69721e54.jpg)
需要提前知道数据的size，通过什么方法知道应该reshape成什么样的？
有没有别的好办法，直接展示？

[2021-03-02 13:08] zhiqiu commented on #31371
谢谢反馈，已在https://github.com/PaddlePaddle/Paddle/pull/31177 中修复，计划将在2.1版本发布。

[2021-03-02 13:12] zhiqiu commented on #31380
h，这个链接好像无法访问。数据的size一般是已知的吧，通常数据集的提供者会告诉数据的大小和组织形式。

[2021-03-02 13:26] lyl120117 commented on #31371
您好，我这边用包含#31177这条PR的develop编译版本测试还是一样的报错，您可以用我上面的代码测试一下，谢谢！
[code]

[2021-03-02 13:42] ForFishes commented on #31370
您好，这里 `paddle.distributed.fleet.distributed_model` 相当于 `torch.nn.parallel.DistributedDataParallel`。paddle中没有类似于`torch.nn.DataParallel`的接口。
第二个问题，需要将`fleet.distributed_model`在封装一层。原因是动态图主要在`fleet.distributed_model`进行分布式设计，静态图是在 `fleet.distributed_optimizer`进行分布式设计。所以使用上，两个接口都是需要的（如果不区分动态图和静态图）。

[2021-03-02 14:02] A-Pai commented on #31380
就是这个https://aistudio.baidu.com/aistudio/projectdetail/1299687

[2021-03-02 14:16] yeyupiaoling opened #31383 "spawn多卡训练使用VisualDL生成一大堆log文件"
- PaddlePaddle
 - VisualDL 2.1.1

spawn多卡训练，VisualDL会不断生成log文件，这是咋回事？

[code]
具体代码在：https://github.com/yeyupiaoling/PPASR/blob/master/train.py

[2021-03-02 14:26] ShaneTian commented on #31370
感谢回复。
相关动态图分布式训练的开发代码主要简化为以下，还麻烦你看看这样是否正确了：
[code]

[2021-03-02 17:16] Fighter-zzp opened #31387 "安装paddlepaddle-gpu2.0.0之后，导入paddle报‘No module named 'paddle.fluid.core_noavx’错误"
安装paddlepaddle-gpu2.0.0之后，导入paddle报‘No module named 'paddle.fluid.core_noavx’错误，
通过 python -m pip install paddlepaddle-gpu==2.0.0 -f https://paddlepaddle.org.cn/whl/stable/noavx.html安装的模块，电脑不支持avx指令

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-gpu==2.0.0
    2）CPU：G4600
    3）GPU：GTX 1060  cuDNN Version: 7.6、 CUDA Version: 10.0
    4）系统环境：win10、Python3.8.8
注：您可以通过

[2021-03-03 01:03] A-Pai commented on #31354
这个项目较为详细，但是使用的是打包数据
![QQ截图20210302224729](https://user-images.githubusercontent.com/5112397/109736301-0ffc4500-7bff-11eb-8ddf-3cf04c8cf4d9.jpg)
这是什么格式的数据？
该项目是直接使用的这种打包数据，而自己的原始数据是一张张图片，还需要处理成这种格式？不能直接定义？

[2021-03-03 02:10] lyl120117 commented on #31371
@zhiqiu 这个问题我已经分析好几天了，目前还没定位到root case，从现象上看，比较明确的是多进程导致CUDA异常，但是为啥多进程会出现Cuda error(3), initialization error这个异常还有待分析，我这边的系统是Ubuntu，Python默认多进程的创建方式是[fork](https://docs.python.org/zh-cn/3.7/library/multiprocessing.html)，我将多进程创建方式设置为spawn，代码也可以正常运行。
[code]

[2021-03-03 02:35] TCChenlong commented on #31354
那是 ubyte的格式； 不需要将原始的图片转为这种格式，只需要将各种格式的数据，在Dataset中，转为 numpy格式即可；具体一点，如果是图片数据，可以参考这一篇案例中关于Dataset的定义，链接为 [3.4 数据集类定义](https://www.paddlepaddle.org.cn/documentation/docs/zh/tutorial/cv_case/image_segmentation/image_segmentation.html#shujujileidingyi)

[2021-03-03 02:42] ForFishes commented on #31370
您好，你这个写法是正确的。

[2021-03-03 02:43] ShaneTian commented on #31370
好的，多谢！