[2021-08-19 14:26] TimZhang001 opened #35031 "模型释放的问题"
我用的是Paddleinference C++ 版本。

目前存在这样的问题，由于我这边的场景需要进行不同模型的反复加载和释放，但是我这边发现调用以下接口，只要先吃不退出，模型资源并没有释放。

        if (m_Predictor)
        {
            // 释放中间Tensor
            m_Predictor->ClearIntermediateTensor();

            // 释放内存池中的所有临时 Tensor
            m_Predictor->TryShrinkMemory();
        }

不知道是否有这样的案例可供参考，能够满足我这边的模型快速加载和卸载的需求呢？

[2021-08-19 14:45] fox2049 commented on #34684
您好，在很多图像任务中经常需要使用预训练模型提升效果。我是在使用 “vgg = paddle.vision.vgg19(pretrained=True)”时发现的这个问题，Pytorch的话会自动下载预训练模型，而paddle却说pretrained不能设置为True。
[Paddle/python/paddle/vision/models/vgg.py](https://github.com/PaddlePaddle/Paddle/blob/release/2.0/python/paddle/vision/models/vgg.py)

[Paddle API文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0/api/paddle/vision/models/vgg/vgg19_cn.html)

[2021-08-19 15:10] Leiyi-HU commented on #34526
【队名】：复现复现了寂寞寂寞
【序号】：7
【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile
【状态】：报名
【repo链接】：https://github.com/IsHuuA/MnasNet-Paddle

[2021-08-19 15:23] GuoQuanhao commented on #34885
仍然出现显存缓慢增长的情况，这个现象有时后在一个epoch内出现，有时需要几个epoch才出现

[2021-08-19 23:34] fuqianya commented on #34526
【队名】：fuqianya

【序号】：11

【论文】：Bottom-Up and Top-Down Attention for Image Captioning and Visual Question Answering

【状态】：提交

【repo链接】：https://github.com/fuqianya/bottom-up-attention-paddle

[2021-08-19 23:35] fuqianya commented on #34526
【队名】：fuqianya

【序号】：50

【论文】：Attention on attention for image captioning

【状态】：提交

【repo链接】：https://github.com/fuqianya/AoANet-Paddle

[2021-08-20 00:10] ZubinGou commented on #34526
【队名】：Paddorch

【序号】：109

【论文】：Supervised Contrastive Learning

【状态】：报名&提交

【repo链接】：https://github.com/paddorch/SupContrast.paddle

[2021-08-20 01:17] justld commented on #34526
【队名】: dudu

【序号】：30

【论文】： ESPNetv2: A Light-weight, Power Efficient, and General Purpose Convolutional Neural Network

【状态】：提交

【repo链接】：https://github.com/justld/Paddle-Segmentation-ESPNetv2

[2021-08-20 01:42] 771979972 commented on #34526
【队名】：不想改代码

【序号】：48

【论文】：Only a Matter of Style: Age Transformation Using a Style-Based Regression Model

【状态】：报名

【repo链接】：https://github.com/771979972/paddle-SAM

[2021-08-20 01:58] crrongyan opened #35033 "from .core_avx import * ImportError: DLL load failed with error code 3221225501"
   PaddlePaddle版本：paddlepaddle 2.1.2
    CPU：Intel(R) UHD Graphics 630
    系统环境：Windows 7 专业版
    Python版本：3.7.4

    您好，我想要在 windows 7 操作系统中安装paddle，通过 anaconda 安装 python 环境，pip 安装 paddlepaddle。
    安装过程十分顺利，但是安装完成之后，导入 paddle 时发生了错误，具体报错信息如下：

    I want to install paddlePaddle in Windows 7, python environment via Anaconda, and PIP to install PaddlePaddle.
    The installation process was quite

[2021-08-20 02:31] GuoQuanhao commented on #34885
![image](https://user-images.githubusercontent.com/49911294/130169845-3b02ee17-07fe-4785-900b-e44fb6e140e3.png)
我发现我在multibox_loss.py文件中使用print(conf_t.max())会出现cuda错误

[2021-08-20 02:31] GuoQuanhao commented on #34885
[code]

[2021-08-20 02:32] Lieberk commented on #34526
【队名】：小丑不丑

【序号】：10

【论文】：Show, Attend and Tell: Neural Image Caption Generation with Visual Attention

【状态】：提交

【repo链接】：https://github.com/chenlizhi-1013/paddle-show-attend-and-tell-captioning

[2021-08-20 02:38] shangzhizhou commented on #35031
您好，TryShrinkMemory是释放临时变量的api，释放模型是在m_Predictor的析构函数。

[2021-08-20 02:45] beiyouwuyanzu commented on #34526
【队名】：早日退休

【序号】：71

【论文】：Character-level Convolutional Networks for Text Classification

【状态】：提交

【repo链接】：https://github.com/beiyouwuyanzu/text_classification_cnn

[2021-08-20 03:23] ziyaxuanyi opened #35037 "模型导出出错"
使用paddle.jit.save()导出动态模型出错：
Only one dimension value of 'shape' in reshape can be -1.But received shape[2] is alse -1.

检查发现是如下代码问题：
B,C,H,W = inputs.shape
enc_out = inputs.reshape([B,C,-1]).transpose([0,2,1])

导出时设置的输入形状为infer_shape=[3,32,-1]

应该是inputs.reshape([B,C,-1])中第一项B是batch size为-1，而第三项也是-1，需要自行推断维度。

请问这种情况应该怎么处理？

[2021-08-20 04:12] CuberrChen opened #35039 "OSError: (External) Cudnn error, CUDNN_STATUS_EXECUTION_FAILED (at /paddle/paddle/fluid/operators/conv_cudnn_op.cu:731)"
- 标题：Cudnn error, CUDNN_STATUS_EXECUTION_FAILED
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle 2.1.2
    3）GPU：device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.0, Runtime API Version: 10.1, cuDNN Version: 7.6.
    4）系统环境：ubuntu/python 3.7
- 训练信息
    1）单机单卡
    2）16G
    3）loss.backward()
- 复现信息：AIStduio上训练时，自定义loss backward时报以下错误
- 问题描述：
-   File "train.py", line 189, in <module>
    m

[2021-08-20 04:52] GuoQuanhao commented on #34885
问题已解决，我将新开一个issue，更详述整个解决方案

[2021-08-20 04:52] #34885 closed, assigned to huangjun12

[2021-08-20 05:01] zmdcs commented on #34791
infer.py中也没有print_flops选项呀？有输出flops的教程吗？

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月17日(星期二) 晚上8:13
***@***.***&gt;;
***@***.******@***

[2021-08-20 06:50] fangxiang00 commented on #34958
你好，排查问题发现是cudnn版本没对上，请问有7.0对应的安装包吗
![image](https://user-images.githubusercontent.com/28780268/130192211-beab9edc-6cc8-4cdf-91e8-a9a57d5d2880.png)

[2021-08-20 07:15] kkHAIKE commented on #33282
this commit make this again... https://github.com/PaddlePaddle/Paddle/issues/29506

[2021-08-20 07:20] myboyliu opened #35042 "【论文复现】PEGASUS: Pre-training with Extracted Gap-sentences for Abstractive Summarization"
在复现标题论文时候，能把vocab和权重先放到： https://paddlenlp.bj.bcebos.com/models/transformers

[2021-08-20 07:21] GuoQuanhao opened #35043 "【论文复现】显存逐增问题排查与解决方案，共排查出三个bug"
platform: AIStudio
Version: 2.1.2

在复现retinaface时出现训练阶段显存逐增问题，这个问题有时在一个epoch内出现，有时需要训练几个epoch才出现。导致最终显存爆炸，参见[这个issue](https://github.com/PaddlePaddle/Paddle/issues/34752)解决方案，我共修改两处

### 第一处
参见[这里](https://github.com/PaddlePaddle/Paddle/issues/34885)和[这里](https://github.com/PaddlePaddle/Paddle/issues/34774)数据读取，`iter`这个bug是坐实了，后来我通过如下代码段
[code]
自定义了可迭代的数据读取方式，仍存在显存递增，我认为是collate_fn中有tensor的原因(因为之前

[2021-08-20 07:39] CuberrChen commented on #34526
【队名】：波波啥也不会

【序号】：28

【论文】：Context Prior for Scene Segmentation

【状态】：报名

【repo链接】：https://github.com/CuberrChen/ContextPriorNet-Paddle

[2021-08-20 08:22] allwellll commented on #34526
【队名】：早日退休

【序号】：71

【论文】：Character-level Convolutional Networks for Text Classification

【状态】：报名

【repo链接】：https://github.com/beiyouwuyanzu/text_classification_cnn

[2021-08-20 08:22] jerry90 commented on #34958
一样出现这个问题

[2021-08-20 08:42] Martion-z commented on #34526
【队名】：皮蛋瘦肉周

【序号】：103

【论文】：ClassSR: A General Framework to Accelerate Super-Resolution Networks by Data Characteristic

【状态】：报名

【repo链接】：https://github.com/Martion-z/Paddle_ClassSR

[2021-08-20 08:44] CarlCheng-D commented on #34526
【队名】：confidence

【序号】：95

【论文】：CAN: Revisiting Feature Co-Action for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/CarlCheng-D/CAN-Paddle

[2021-08-20 08:51] WY130090 opened #35046 "报名"
【队名】：菜菜

【序号】：6

【论文】：Scaled-YOLOv4: Scaling Cross Stage Partial Network

【状态】：报名

【repo链接】：https://github.com/WY130090/Scaled-YOLOv4

[2021-08-20 08:52] CuberrChen opened #35047 "【论文复现】AIStduio脚本多卡训练总是报"ABORT!!!" 错误"
- 标题：AIStduio中使用脚本多卡训练总是报"ABORT!!!" 错误。
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    3）GPU：AIStudio V100*4
    4）系统环境：ubuntu
- 训练信息
    1）单卡/多卡
    2）显存信息 ：32G*4
    3）操作：
- 复现信息：
执行paddlleseg下的train.py进行多卡训练报错。
run.sh文件：
[code]
- 问题描述：

INFO 2021-08-20 16:31:43,169 launch_utils.py:510] Local start 4 processes. First process distributed environment info (Only For Debug):
    +========================

[2021-08-20 08:55] CuberrChen commented on #35039
已经解决。是除0错误。十分感谢

[2021-08-20 08:55] #35039 closed, assigned to TeslaZhao

[2021-08-20 08:58] myboyliu commented on #35042
验收标准： 1. 复现PEGASUS模型（参考论文和实现链接）
2. 完成模型权重从pytorch到paddle的转换代码，转换2个预训练权重（“google/pegasus-large”，
“tuner007/pegasus_paraphrase”，“google/pegasus-xsum”，“google/pegasus-cnn_dailymail”）
---------------------------------------------------------------------------------------------------------
写的是2个，可是列了4个权重名称，到底是哪2个？

[2021-08-20 09:24] TeslaZhao commented on #35033
您好，您的windows环境下有安装Microsoft Visual C++吗？

参考之前一个PR，和您报错的信息比较接近，可以参考：https://github.com/PaddlePaddle/Paddle/issues/28205

[2021-08-20 09:27] crrongyan commented on #35033
我已经解决了这个问题，但是我仍然不知道根本的原因。
我安装了 windows6.1-KB976932-X64(SP1补丁) 把 Windows 7 专业版 更新为 Service Pack 1 版，报错就消失了。

[2021-08-20 09:28] TeslaZhao commented on #35037
首先reshape传入多个-1时，有多种case满足情况，无法准确推断，因此，目标上说要把2个-1变成1个-1，在模型的处理逻辑上保证一个是确定的。因此，在拿到B,C,H,W = inputs.shape 检查B，如果B为-1，考虑能否做固定Batch『如果B为-1做if else判断』。对于变长数据，一般会用LodTensor，是否可以有Lod信息来对数据做变长做补充?

[2021-08-20 09:30] crrongyan commented on #35033
我已经解决了问题，但还不知道根本原因。
安装了Windows 6.1-KB976932-X64(SP1补丁)，并将Windows 7 Professional升级为Service Pack 1。错误消失了。

[2021-08-20 09:41] nihao2012 commented on #35047
@CuberrChen Hi, please provide the error log in log/workerlog.0

[2021-08-20 09:44] michaelowenliu commented on #35047
@CuberrChen hi, please provide the error log in log/workerlog.0

[2021-08-20 09:49] fangxiang00 commented on #34958
问题已解决，是服务器与paddle环境cudnn版本冲突导致，感谢回复

[2021-08-20 10:01] lwhman commented on #34526
【队名】：我也想划水，哈哈

【序号】：100

【论文】：Deep Session Interest Network for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/lwhman/Paddle-Deep-Session-Interest-Network

[2021-08-20 10:13] LangDaoAI opened #35048 "paddle升级到最新2.1.2后导入失败"
paddle升级到最新2.1.2后导入失败， 2.1.1没有这个问题

版本：python 3.7

![image](https://user-images.githubusercontent.com/83859417/130218351-c8db21f4-9828-4db7-a180-542636d31a08.png)

请帮忙看一下

[2021-08-20 10:18] TeslaZhao commented on #35048
您好，报错信息能发一下吗？

[2021-08-20 10:26] LangDaoAI commented on #35048
2.1.1也再现了

![image](https://user-images.githubusercontent.com/83859417/130219990-3c427ba5-57d5-4b7e-8be0-b4dff82517c0.png)

[2021-08-20 10:27] LangDaoAI commented on #35048
是不是six版本太低了

[2021-08-20 10:29] LangDaoAI commented on #35048
![image](https://user-images.githubusercontent.com/83859417/130220332-8af76de3-627d-4408-aca2-31fbf84594b4.png)

更新了six后OK了

[2021-08-20 10:47] CuberrChen commented on #35047
@michaelowenliu 输出output没有文件，只有这个日志记录！ 我也不知道问题出在哪里 因为我直接使用paddleseg的多卡训练方式，未做修改？可能是脚本环境版本不支持吗？

[2021-08-20 11:21] michaelowenliu commented on #35047
@CuberrChen log/workerlog.0

[2021-08-20 11:43] zhangpu1211 opened #35050 "使用batchnorm1d时候报错 [operator < batch_norm > error]"
Python版本python 3.7
框架版本PaddlePaddle 2.1.2

/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/nn/layer/norm.py:641: UserWarning: When training, we now always track global mean and variance.
  "When training, we now always track global mean and variance.")
[130644, 100]
[130644, 100]
---------------------------------------------------------------------------OSError

[2021-08-20 11:46] ziyaxuanyi commented on #35037
"如果B为-1做if else判断"

这是什么意思，做if else判断，不太明白

[2021-08-20 11:48] CuberrChen commented on #35047
@michaelowenliu
[INFO]: current net device: eth0, ip: 172.28.0.106
[INFO]: paddle job envs:
POD_IP=job-480851a94dc4045fa9280ff45ceff0f9-trainer-0.job-480851a94dc4045fa9280ff45ceff0f9
PADDLE_PORT=12345
PADDLE_TRAINER_ID=0
PADDLE_TRAINERS_NUM=1
PADDLE_USE_CUDA=1
NCCL_SOCKET_IFNAME=eth0
PADDLE_IS_LOCAL=1
OUTPUT_PATH=/root/paddlejob/workspace/output
LOCAL_LOG_PATH=/root/paddlejob/workspace/log
LOCAL_M

[2021-08-20 12:01] TeslaZhao commented on #35043
您好，感谢您指出Bug。第①、③问题我们会内部讨论；第②个问题需要有复现code，再分析C++栈。

[2021-08-20 12:23] wangxicoding commented on #34944
![image](https://user-images.githubusercontent.com/10208305/130232349-4bbabefa-c19d-46e6-962a-924f0c237f89.png)
可以吧，我用的也是tf2.6版本

[2021-08-20 12:51] SNeugber commented on #35008
Same issue, running under:
* OS: Ubuntu 20.04
* GPU: RTX3060
* Paddle: paddlepaddle-gpu==2.1.2

[code]

[2021-08-20 13:00] q178 commented on #34960
不是，我的意思是模型能否导入预训练模型，如bert之类，如果可以，使用什么命令或参数？

[2021-08-20 13:02] CuberrChen commented on #35047
已经解决.一个小bug. 十分感谢！

[2021-08-20 13:02] #35047 closed, assigned to nobody

[2021-08-20 13:10] michaelowenliu commented on #35047
@CuberrChen Hi, glad to hear that. If you have any more questions about PaddleSeg, please go to the page, https://github.com/PaddlePaddle/PaddleSeg/issues.

[2021-08-20 17:09] keil555 commented on #34526
【队名】：通信人想搞点有趣的

【序号】：108

【论文】：Adversarial Autoencoders

【状态】：报名

【repo链接】：https://github.com/keil555/AAE_paddle

[2021-08-21 01:03] abcdefghHIM opened #35053 "使用next来迭代数据集时，张量形状发生改变"
PaddlePaddle版本：2.1.2
自定义的Dataset片段：
class AudioDataset(Dataset):
..............
    def __getitem__(self, idx):
        p = self.files[idx]
        filename = os.path.basename(p)
        speaker = filename.split(sep='_', maxsplit=1)[0]
        label = self.encoder.transform([speaker])[0]
        mcep = np.load(p)
        mcep = paddle.to_tensor(mcep, dtype='float32')
        mcep = paddle.unsqueez

[2021-08-21 01:48] winstonwuxingang commented on #34526
【队名】：大虾来也

【序号】：81

【论文】：MobileBERT: a Compact Task-Agnostic BERT for Resource-Limited Devices

【状态】：报名

【repo链接】：https://github.com/winstonwuxingang/mobileBert_paddle

[2021-08-21 02:08] distance539 commented on #34526
【队名】：玛卡巴卡不想晚安

【序号】：48

【论文】：Only a Matter of Style: Age Transformation Using a Style-Based Regression Model

【状态】：报名

【repo链接】：https://github.com/distance539/SBRM

[2021-08-21 02:30] dwSun commented on #34492
我注意到另外一个有意思的事情，当我启动 mkl 的时候，可以通过一些节点名称，抽取中间变量的值，但是 关闭 mkl 的时候，就无法抽取，设置的节点名称是中间节点，但是返回的明显是最后一个节点。
同时，测试了一下，使用 gpu ，打开 mkl 的状态下，也无法获取中间节点的值，相应的内容请参考：
https://github.com/PaddlePaddle/PaddleX/issues/803

[2021-08-21 03:01] dwSun commented on #34492
@baoachun @FlyingQianMM @lidanqing-intel 请问这个问题最近有什么进展吗？无法使用 mkl 加速，导致一张图片在客户机器上要花费3~6秒，这个性能完全不可接受。这个问题已经严重影响到了某个ZF项目的交付。

[2021-08-21 03:03] YyXCyj commented on #34526
【队名】：流年忘却年华

【序号】：12

【论文】：YOLOv4: Optimal Speed and Accuracy of Object Detection

【状态】：报名

【repo链接】：https://github.com/YyXCyj/paddle-yolov4

[2021-08-21 03:59] bhchiang commented on #35008
@wanghuancoder

- Ubuntu 20.04, RTX 3090, CUDA 11.4, Driver 470.42.01, paddlepaddle-gpu==2.1.2, cuDNN 8.2

[2021-08-21 05:43] justld commented on #34526
【队名】: dudu

【序号】：30

【论文】： ESPNetv2: A Light-weight, Power Efficient, and General Purpose Convolutional Neural Network

【状态】：提交

【repo链接】：https://github.com/justld/EspnetV2_paddle

[2021-08-21 09:15] jeffzhengye commented on #32927
这个bug 怎么还没解决啊

[2021-08-21 10:02] hrdwsong commented on #34526
【队名】: 深智源

【序号】：105

【论文】： Weight Uncertainty in Neural Networks

【状态】：提交

【repo链接】：https://github.com/hrdwsong/BayesianCNN-Paddle

[2021-08-21 10:37] LangDaoAI commented on #35048
关闭这个issue

[2021-08-21 10:37] #35048 closed, assigned to TeslaZhao

[2021-08-21 10:53] johnyanccer opened #35054 "2.1.2单机多卡报错paddle.distributed.launch"
paddle.__version__ 2.1.2
paddle.__git_commit__  e04b66f2d272d68f77dcd94cb2956938475411d8
项目地址：https://aistudio.baidu.com/aistudio/projectdetail/1222066
运行代码：
%%writefile hapitrain.py
import warnings
warnings.filterwarnings("ignore")
import paddle
from paddle.vision.transforms import ToTensor

train_dataset = paddle.vision.datasets.MNIST(mode='train', transform=ToTensor())
test_dataset = paddle.vis

[2021-08-21 11:11] yifwahaha commented on #34526
【队名】: 猪公山扛把子

【序号】：49

【论文】：Temporal Fusion Transformers for Interpretable Multi-horizon Time Series Forecasting

【状态】：提交

【repo链接】：https://github.com/Scallions/tft_paddle/tree/main

[2021-08-21 11:25] jiaohuix commented on #34526
【队名】: 角灰大帝硬train一发

【序号】：105

【论文】： Weight Uncertainty in Neural Networks

【状态】：提交

【repo链接】：https://github.com/MiuGod0126/Bayes_backprop_paddle

[2021-08-21 11:47] Windxy commented on #34526
【队名】：明月长安

【序号】：105

【论文】：Weight Uncertainty in Neural Networks

【状态】：提交

【repo链接】：https://github.com/Windxy/BayesianCNN-Based-on-Paddle

[2021-08-21 11:51] songrui2009 opened #35055 "导出模型时paddle.fluid.layers.where返回的tensor.shape[0]第一维为-1"
- 标题：paddle.where->paddle.fluid.layers.where返回的tensor.shape[0]第一维度为-1
- 版本、环境信息：
****************************************
Paddle version: 2.1.2
Paddle With CUDA: True

OS: Deepin 20.2
Python version: 3.7.3

CUDA version: 9.2.148
cuDNN version: None.None.None
Nvidia driver version: 460.39
****************************************
- 复现信息：paddle.where->paddle.fluid.layers.where返回的tensor.shape[0]第一维度为-

[2021-08-21 12:12] #34958 closed, assigned to nobody

[2021-08-21 12:49] zhijiejia commented on #34451
AIStudio上paddle的数据加载是真的难用，服了

[2021-08-21 12:51] fangxiang00 commented on #34038
2.1.2版本仍存在该问题

[2021-08-21 13:35] youlingforever0328 opened #35057 "自定义python 算子，在调用时出现以下报错： (AlreadyExists) Op deps are not empty before preparing it for backward network execution. [Hint: Expected node_deps_.empty() == true, but received node_deps_.empty():0 != true:1.] (at /paddle/paddle/fluid/imperative/basic_engine.cc:239)"
自定义python 算子，在调用时出现以下报错：

(AlreadyExists) Op deps are not empty before preparing it for backward network execution.
  [Hint: Expected node_deps_.empty() == true, but received node_deps_.empty():0 != true:1.] (at /paddle/paddle/fluid/imperative/basic_engine.cc:239)

就算把自定义算子改写成什么都不做，也是同样的报错:

class M(PyLayer):
    @staticmethod
    def forward(ctx, x):
        return x
    @staticmethod
    def bac

[2021-08-21 13:50] #34878 closed, assigned to nobody

[2021-08-21 14:49] sticktoFE opened #35058 "nuitka 打包报错"
使用最新版 paddlepaddle 2.1.2 在使用 nuitka打包后，需要把paddle拷到程序目录，但运行时
File "D:\rpa\rpa.dist\tools\infer\predict_system.py", line 30, in <module>
    import tools.infer.utility as utility
  File "D:\rpa\rpa.dist\tools\infer\utility.py", line 23, in <module>
    from paddle import inference
  File "D:\rpa\rpa.dist\paddle\__init__.py", line 25, in <module>
    from .fluid import monkey_patch_variable
  File "D

[2021-08-21 15:28] #35043 closed, assigned to TeslaZhao

[2021-08-21 15:30] zbp-xxxp commented on #34526
【队名】：Mr.郑先生_的团队

【序号】：38

【论文】：R-Drop: Regularized Dropout for Neural Networks

【状态】：报名&提交

【repo链接】：[https://github.com/zbp-xxxp/R-Drop-Paddle](https://github.com/zbp-xxxp/R-Drop-Paddle)

[2021-08-22 00:55] jiafuzeng opened #35059 "Jetson AGX Xavier：Paddle/paddle/fluid/platform/dynload/nvjpeg.h:14:10: fatal error: nvjpeg.h: No such file or directory"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1
    4）系统环境：Jetson AGX Xavier

- 安装方式信息：
2）本地编译：请提供cmake命令，编译命令
           cmake .. -DPYTHON_EXECUTABLE:FILEPATH=/usr/bin/python3 \
         -DPYTHON_INCLUDE_DIR:PATH=$PYTHON_INCLUDE_DIRS -DPYTHON_LIBRARY:FILEPATH=$PYTHON_LIBRARY\
         -DWITH_GPU=ON \
         -DWITH_TESTING=OFF \
         -DCMAKE_BUILD_TYPE=Release \
                -DWITH_ARM=ON \

[2021-08-22 01:03] veerarudran commented on #35059
I have bash with no such file or directory
![Uploading IMG_20210822_062552.jpg…]()

[2021-08-22 01:53] Adam-lxd commented on #32377
同样的问题。我似乎解决了。
我使用miniforge装的python，好像miniforge的python是不支持rosetta2转译的，可以强制设置为rosetta2的python去安装。方法[参考issue](https://github.com/conda-forge/miniforge/issues/165)
[code]
[code]
### output
[code]

[2021-08-22 04:03] JunnYu opened #35060 "【论文复现】没有Adafactor优化器"
参考实现：https://huggingface.co/transformers/_modules/transformers/optimization.html#Adafactor
论文：https://arxiv.org/pdf/1804.04235.pdf

[2021-08-22 05:42] skylark36 commented on #30131
Same problem

[2021-08-22 06:55] GuoQuanhao commented on #34526
【队名】：陈书记的小跟班
【序号】：109

【论文】：Supervised Contrastive Learning

【状态】：报名&提交

【repo链接】：https://github.com/GuoQuanhao/SupContrast-Paddle

[2021-08-22 14:37] TimZhang001 commented on #35031
我的测试代码如下：
#include "paddle/include/paddle_inference_api.h"
#include <chrono>
#include <gflags/gflags.h>
#include <glog/logging.h>
#include <iostream>
#include <numeric>
#include <thread>
#include <vector>
using namespace std;

namespace paddle_infer
{

    void PrepareConfig(Config* config, int num)
    {
        config->EnableUseGpu(100, 0);
        config->DisableGlogInfo();
        config->Enab

[2021-08-22 21:17] valium123 opened #35064 "【论文复现】使用高层api进行训练时acc达不到底层api实现的效果"
已有作者用使paddle复现成功论文，但该作者是使用底层api实现的。
我在使用高层api对该项目进行复现时，遇到了loss很难收敛，并且acc达不到底层api实现的效果的情况
数据处理方式、优化器与超参等均相同
这是原作者实现的过程，5次epoch后acc达到79.97%
[code]
这是我使用高层api实现的过程，5次epoch后acc仅为48.01%
[code]

以下为aistudio项目
https://aistudio.baidu.com/aistudio/projectdetail/2304027?shared=1

[2021-08-22 22:06] OccupyMars2030 commented on #34526
【队名】：yolov5_20210310

【序号】：4

【论文】：EfficientDet: Scalable and Efficient Object Detection

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/EfficientDet-Paddle

[2021-08-22 22:12] chancezeus opened #35065 "Regression: Fails to compile for ARM64 (Jetson) with latest develop branch"
When compiling for ARM using the following steps:
[code]

It fails with the following error:
[code]

Looking at the file, it seems that this was introduced in PR #34910 which got merged, however the asm code used in that file seems to be x86 only (no expert on arm asm, but I did look at the __asm__ docs and it seems that the "=a" condition is not available on arm (and perhaps other things too)), m

[2021-08-22 22:19] SmirnovKol commented on #34526
【队名】：yolov5_20210310

【序号】：6

【论文】：Scaled-YOLOv4: Scaling Cross Stage Partial Network

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Paddle-Scaled-YOLOv4-Scaling-Cross-Stage-Partial-Network

[2021-08-22 22:29] SmirnovKol commented on #34526
【队名】：yolov5_20210310

【序号】：9

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Paddle-YOLOX

[2021-08-22 23:23] OccupyMars2030 commented on #34526
【队名】：yolov5_20210310

【序号】：6

【论文】：Scaled-YOLOv4: Scaling Cross Stage Partial Network

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Paddle-Scaled-YOLOv4-Scaling-Cross-Stage-Partial-Network

[2021-08-22 23:25] OccupyMars2030 commented on #34526
【队名】：yolov5_20210310

【序号】：9

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Paddle-YOLOX

[2021-08-22 23:27] OccupyMars2030 commented on #34526
【队名】：yolov5_20210310

【序号】：12

【论文】：YOLOv4: Optimal Speed and Accuracy of Object Detection

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/Paddle-YOLOv4-Optimal-Speed-and-Accuracy-of-Object-Detection

[2021-08-22 23:58] Xingyu-Romantic commented on #34526
【队名】：involute

【序号】：52

【论文】：Realtime Multi-Person 2D Pose Estimation using Part Affinity Fields

【状态】：提交

【repo链接】：https://github.com/Xingyu-Romantic/RMPose_PAF

[2021-08-23 00:43] fuqianya commented on #34526
【队名】：fuqianya

【序号】：11

【论文】：Bottom-Up and Top-Down Attention for Image Captioning and Visual Question Answering

【状态】：提交

【repo链接】：https://github.com/fuqianya/bottom-up-attention-paddle

[2021-08-23 00:46] johnyanccer commented on #34639
碰到同样的错误提示
NotImplementedError: (Unimplemented) Place CUDAPlace(0) is not supported. Please check that your paddle compiles with WITH_GPU, WITH_XPU or WITH_ASCEND_CL option or check that your train process set the correct device id if you use Executor. (at /paddle/paddle/fluid/platform/device_context.cc:88)
[operator < uniform_random > error]
单机单卡训练正常，安装完成后测试，import paddle ， paddle.utils.run_check(

[2021-08-23 00:46] johnyanccer commented on #34639
碰到同样的错误提示
NotImplementedError: (Unimplemented) Place CUDAPlace(0) is not supported. Please check that your paddle compiles with WITH_GPU, WITH_XPU or WITH_ASCEND_CL option or check that your train process set the correct device id if you use Executor. (at /paddle/paddle/fluid/platform/device_context.cc:88)
[operator < uniform_random > error]
单机单卡训练正常，安装完成后测试，import paddle ， paddle.utils.run_check(

[2021-08-23 01:03] hrdwsong commented on #34526
【队名】：深智源

【序号】：34

【论文】：Prototypical Networks for Few-shot Learning

【状态】：报名

【repo链接】：https://github.com/hrdwsong/ProtoNet-Paddle

[2021-08-23 01:26] thunder95 opened #35066 "【论文复现】检查网络层的stop_gradient, 发现全部的且只是bn层为true"
梯度反向传播过程没有了， 经过stop_gradient排查，发现只有bn层为true， 导致训练时没有梯度，请给下debug建议，应该怎么解决这个问题

[2021-08-23 01:27] CuberrChen commented on #34526
【队名】：波波啥也不会

【序号】：27

【论文】：PointRend: Image Segmentation as Rendering

【状态】：报名

【repo链接】：https://github.com/CuberrChen/PointRend-Paddle

[2021-08-23 01:32] johnyanccer commented on #35047
请问是什么bug？也碰到同样的报错信息，不知道怎么处理

[2021-08-23 01:40] jiaohuix commented on #34526
【队名】：角灰大帝硬train一发

【序号】：70

【论文】：Convolutional Sequence to Sequence Learning

【状态】：报名

【repo链接】：https://github.com/MiuGod0126/ConvS2S

[2021-08-23 01:48] wanghuancoder commented on #35023
支持~

[2021-08-23 01:48] wanghuancoder commented on #35023
支持

[2021-08-23 01:51] wanghuancoder commented on #35003
这两个paddle都没有对应的实现

[2021-08-23 02:01] allurelzh commented on #32822
我遇到了同样的问题，请问最后是如何解决的呢？

[2021-08-23 02:06] jiweibo commented on #35031
您好，有一个这个api的测试案例，可以看一下

https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B/test/shrink_memory

[2021-08-23 02:12] jesen8 commented on #35065
meet the same problem

[2021-08-23 02:15] jesen8 commented on #35065
1）PaddlePaddle版本：CommitID 56c5e2107611690fb36513ed70c9c5c17d7f5c08
    2）CPU：jetson nano
    3）GPU：
    4）os version：gcc 8.2.0

[2021-08-23 02:21] shangzhizhou commented on #35031
https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/c%2B%2B/test/shrink_memory/multi_thread_test.cc
跑多线程示例可以运行么？
另外，您的环境下，单线程可以正常析构么

[2021-08-23 02:31] wanghuancoder commented on #35008
你好，Paddle目前只支持到cuda11.2

[2021-08-23 02:40] tughv opened #35068 "paddle运行onnx导入的模型运行第二次就报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2021-08-23 02:51] chenjiaoAngel commented on #35068
这个错误提示，模型里某个参数的名字重复使用，导致运行出错；后面也有提示告诉您怎么操作，请按照这个操作，看能否解决问题
<img width="813" alt="image" src="https://user-images.githubusercontent.com/38650344/130383364-b1199e5d-f6a1-4fd5-a7fb-478b3cc2b715.png">

[2021-08-23 02:54] haozech commented on #35060
您好，您提出的新增Adafactor优化器API的需求已收到，我们会尽快评估并安排~

[2021-08-23 02:57] chenjiaoAngel commented on #35065
这个问题已有同学在修复，预计本周内可修复

[2021-08-23 02:58] tughv commented on #35068
并不是啊，第一运行没有报错，后面在运行就会报错，我查了下，不止我一个人遇到这个问题，这个模型我在torch里面能跑，然后用转换工具转成paddle，我都没改

[2021-08-23 03:16] fengxiaoshuai commented on #35059
请描述一下jetpack的版本

[2021-08-23 03:20] zhangxin-xd commented on #34526
【队名】：chuchu和副本

【序号】：39

【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search

【状态】：报名

【repo链接】：https://github.com/zhangxin-xd/Cream

[2021-08-23 03:23] jiafuzeng commented on #35059
![image](https://user-images.githubusercontent.com/39875080/130385815-2872afa2-632a-4d18-aded-223ce8bde33c.png)

[2021-08-23 03:28] LinJayan commented on #34526
【队名】：LaLaLa

【序号】：95

【论文】： CAN: Revisiting Feature Co-Action for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/LinJayan/CAN_Paddle

[2021-08-23 03:40] CuberrChen opened #35072 "【论文复现】paddle 不支持tensor index索引"
- 标题：paddle 不支持tensor index索引
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）GPU：AIStudio V100 32G, GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime API Version: 10.1
    4）系统环境：ubuntu python3.7
- 训练信息
    1）单卡
    2）32G

- 复现信息：执行 var[index, :]报错 , 其中var.shape = [12288, 2], index.shape = [3072]
- 问题描述：
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fl

[2021-08-23 03:47] zhangxin-xd commented on #34526
【队名】：chuchu和副本

【序号】：107

【论文】：AMC: AutoML for Model Compression and Acceleration on Mobile Devices

【状态】：报名

【repo链接】：https://github.com/zhangxin-xd/AMC

[2021-08-23 04:02] fengxiaoshuai commented on #35059
那估计就是你的cuda或者trt的配置出问题了，如果你没有动系统自带的cuda, cudnn, trt你可以试试这个：cmake ..   -DWITH_CONTRIB=OFF   -DWITH_MKL=OFF    -DWITH_MKLDNN=OFF   -DWITH_TESTING=OFF   -DCMAKE_BUILD_TYPE=Release   -DON_INFER=ON   -DWITH_PYTHON=ON -DPY_VERSION=3.6  -DWITH_XBYAK=OFF  -DWITH_NV_JETSON=ON -DWITH_TENSORRT=ON -DTENSORRT_ROOT=/usr -DCMAKE_CUDA_COMPILER=/usr/local/cuda-10.2/bin/nvcc  -DWITH_NCCL=OFF -DCUDA_ARCH_NAME=All -D

[2021-08-23 04:44] jiafuzeng commented on #35059
![image](https://user-images.githubusercontent.com/39875080/130391130-7d6c0746-fb53-4843-bce7-e9049012a503.png)

[2021-08-23 05:14] heavengate commented on #34688
目前只有share memory的Tensor可以跨子进程传输，调用ToTensor的话是GPU Tensor，不使用share memory是不能进行进程间传输的，调用ToTensor必须用share memory

[2021-08-23 05:24] zhiqiu commented on #35068
请问下方便给出复现方式吗，另外为啥需要加载两次模型？

[2021-08-23 05:33] kongdebug commented on #34526
【队名】：Kris无

【序号】：103

【论文】：ClassSR: A General Framework to Accelerate Super-Resolution Networks by Data Characteristic

【状态】：报名

【repo链接】：https://github.com/kongdebug/Class-SR-Paddle

[2021-08-23 05:42] fengxiaoshuai commented on #35059
jetson自带的cmake版本太低，升级到3.16.6吧, 需要先删除本地的cmake，不过在arm架构上安装新的cmake需要自己编译，试试下面的命令：
wget https://cmake.org/files/v3.16/cmake-3.16.6.tar.gz
tar zxvf cmake-3.16.6.tar.gz
./config
如果你想用paddle库的话可以直接去官网下载已经编译好的

[2021-08-23 05:47] chenjiaoAngel commented on #35066
请问是哪个网络呢？

[2021-08-23 06:04] hbwx24 commented on #35072
目前还不支持这种索引方式，建议使用`paddle.index_select`。
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/index_select_cn.html#index-select

[2021-08-23 06:10] jerrywgz opened #35074 "[论文复现] KaimingNormal 初始化接口"
Paddle在KaimingNormal中，如果希望使用fan_out模式，必须手动修改fan_in的值
而Pytorch中可以在kaiming_normal中直接设置mode为‘fan_out’.
这里是否可以优化KaimingNormal的接口

[2021-08-23 06:13] TeslaZhao commented on #33006
问题已修复，PR: https://github.com/PaddlePaddle/Paddle/pull/35062

[2021-08-23 06:19] fcqfcq commented on #34526
【队名】：timefcq

【序号】：45

【论文】：SinGAN: Learning a Generative Model from a Single Natural Image

【状态】： 提交

【repo链接】：https://gitee.com/fcqfcq/sin-gan-paddle

[2021-08-23 06:26] wangye707 commented on #35059
@jiafuzeng  你好，这bug是之前的一个遗留问题，现在已经修复了，请切换到tag下试试，最新的是V2.1.2。
![image](https://user-images.githubusercontent.com/39162106/130400620-fa328ed4-79a4-4541-a988-50191212558b.png)

[2021-08-23 06:28] tughv commented on #35068
我是在aistudio里面的notebook里面运行的，这不是复现，是自己的程序，第一次运行报出其他错误，修改后运行就报这个错误

[2021-08-23 06:37] ceci3 commented on #34856
你好，你那边单卡下是一致的嘛？如果单卡不一致的话就是操作系统的问题，如果单卡一致的话应该就不是操作系统问题。另外请问可以提供一个多卡情况的测试脚本吗？

[2021-08-23 06:54] chenjiaoAngel commented on #35066
是手动把stop_gradient设为true了吗，参数的stop_gradient默认是false？

[2021-08-23 06:55] jiaohuix commented on #34856
你好，我本地跑的单卡不一致额，用的windows，还没有写多卡的

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年8月23日(星期一) 下午2:38
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 【论文复现】XCiT的patchembed对齐后，相同输入输出不同（1e-4）。感谢！！！ (#34856)

你好，你那边单卡下是一致的嘛？如果单卡不一致的话就是操作系统的问题，如果单卡一致的话应该就不是操作系统问题。另外请问可以提供一个多卡情况的测试脚本吗？

—
You are receiving this because you au

[2021-08-23 07:06] thunder95 commented on #35066
yolox的网络， 论文复现作业restnet50里也是这样， 是不是paddle里本身bn层就是false。
我现在遇到了反向传播梯度为0的情况， 请问哪种方式debug比较高效？

[2021-08-23 07:13] longtaizi13579 opened #35080 "paddle静态图如何在数据流动的过程中打印模型接收到的dict数据"
   1）PaddlePaddle版本：2.1.2
    2）CPU：28  Intel(R) Xeon(R) Gold 5117 CPU @ 2.00GHz
    3）GPU：Tesla P40
    4）系统环境：Linux version 3.10.0_3-0-0-29(gcc version 4.8.2 20140120 (Red Hat 4.8.2-16) (GCC) ),python3.7
我是想在静态图构图的时候，像动态图一样，打印一下输入信息，但直接使用logging.info打印出来的是placeholder的结构，用fluid.layers.Print又会曝出如下错误：TypeError: The type of 'input' in fluid.layers.Print must be <class 'paddle.fluid.framework.Variabl

[2021-08-23 07:20] CuberrChen commented on #35072
已经解决，感谢

[2021-08-23 07:20] #35072 closed, assigned to chenjiaoAngel

[2021-08-23 07:20] TeslaZhao commented on #35050
您好，请提供GPU和CUDA驱动版本信息。
另外，报错的过程中，显存是否达到上限？或者安装的paddle依赖的cudnn和本地的cudnn是否一致？

[2021-08-23 07:22] zhwesky2010 commented on #35058
@sticktoFE 您好，麻烦跑下 ``import site; site. USER_SITE `` 是否是None，看起来是挂在这个地方了

[2021-08-23 07:29] zhwesky2010 commented on #35057
@youlingforever0328 您好，请问能否提供自定义算子的源码，这段报错看起来是执行反向时，由于反向的逻辑是拓扑排序，创建入度统计时出错，所以想知道您这边源码的形式

[2021-08-23 07:31] ceci3 commented on #34856
啊，那可能是操作系统的问题。。我跟同事两个人在两台Linux机器上验证的单卡结果都是一致的。。

[2021-08-23 07:34] jiaohuix commented on #34856
谢谢！大佬们先忙别的吧，终究是我太菜了orz，我先做另一道题，这道训练时间有点顶不住

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年8月23日(星期一) 下午3:31
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 【论文复现】XCiT的patchembed对齐后，相同输入输出不同（1e-4）。感谢！！！ (#34856)

啊，那可能是操作系统的问题。。我跟同事两个人在两台Linux机器上验证的单卡结果都是一致的。。

—
You are receiving this because you authored the thread.

[2021-08-23 07:43] zhwesky2010 commented on #35055
@songrui2009 您好，看代码是在静态图下跑的，静态图下Tensor的shape可能是有-1的，表示batch_size，只有在executor跑起来的时候 根据feed进来的数据才能-1的具体值，因为batch_size是可以改变的

[2021-08-23 07:44] ceci3 commented on #34856
加油！！

[2021-08-23 07:45] LielinJiang commented on #35064
这个是由于高层API lr_scheduler是每个step更新的，所以60个step后学习率就变成0.01了，然后很快继续下降。
![image](https://user-images.githubusercontent.com/50691816/130406247-2cd5f178-dca3-4287-8b11-9c3272546706.png)
有两种方式，一种如下图所示，另一种就是```boundaries=[60*epoch_size,120*epoch_size,1...]```这样也行
![image](https://user-images.githubusercontent.com/50691816/130407821-3495cf05-a7a6-45f0-a6fa-211ec70d9b88.png)
如上图修改后，训练情况如下：
![image](https://us

[2021-08-23 07:52] youlingforever0328 commented on #35057
源码:

class Myflatten(PyLayer):
    @staticmethod
    def forward(ctx, x):
        input_sort = paddle.sort(x, axis=2, descending=True)  # x.shape:[ N   C   W*H ],对最后一维排序
        index = paddle.argsort(x, axis=2, descending=True)  # 记录排序后的数据 在原来x中的index,以便反向时还原顺序
        ctx.save_for_backward(index,input_sort)  # 保存，反向时用到
        result = paddle.flatten(input_sort,start_axis=1,stop_axis=-1) # [ N

[2021-08-23 07:56] youlingforever0328 commented on #35057
class Myflatten(PyLayer):
	@staticmethod
	def forward(ctx, x):
		input_sort = paddle.sort(x, axis=2, descending=True) # x.shape:[ N C WH ],对最后一维排序
		index = paddle.argsort(x, axis=2, descending=True) # 记录排序后的数据 在原来x中的index,以便反向时还原顺序
		ctx.save_for_backward(index,input_sort) # 保存，反向时用到
		result = paddle.flatten(input_sort,start_axis=1,stop_axis=-1) # [ N C WH ] --> [ N CWH ]
		return result

	@stat

[2021-08-23 07:58] youlingforever0328 commented on #35057
`class Myflatten(PyLayer):
	@staticmethod
	def forward(ctx, x):
		input_sort = paddle.sort(x, axis=2, descending=True) # x.shape:[ N C WH ],对最后一维排序
		index = paddle.argsort(x, axis=2, descending=True) # 记录排序后的数据 在原来x中的index,以便反向时还原顺序
		ctx.save_for_backward(index,input_sort) # 保存，反向时用到
		result = paddle.flatten(input_sort,start_axis=1,stop_axis=-1) # [ N C WH ] --> [ N CWH ]
		return result

	@sta

[2021-08-23 07:58] valium123 commented on #35064
感谢

[2021-08-23 08:03] zhwesky2010 commented on #35053
@abcdefghHIM 您好，to_tensor只有在做将scalar转换为Tensor时，会将其改变为shape为[1]，请问是否存在这种情况呢？另外在dataset的def \__getitem\__函数中可以直接返回numpy，不用提前去做转换，dataloader迭代出的会自动转为Tensor

[2021-08-23 08:06] youlingforever0328 commented on #35057
[code]

然而我将前向反向的代码都删除了，什么都不做也是报同样的错误:

[code]

并且paddle文档里 自定义python算子部分的示例代码运行也是报同样的错误

[2021-08-23 09:01] JunnYu commented on #34526
【队名】：我们的名字刚好十个字

【序号】：87

【论文】：Exploring the Limits of Transfer Learning with a Unified Text-to-Text Transformer

【状态】： 提交

【repo链接】：https://github.com/junnyu/paddle_t5

[2021-08-23 09:10] zhwesky2010 commented on #35054
@johnyanccer 您好，请问这个问题能反复复现吗？

[2021-08-23 09:13] zhwesky2010 commented on #35057
@youlingforever0328 您好，文档目前没法复现bug

[2021-08-23 09:15] johnyanccer commented on #35054
我这边一直没成功运行过paddle的单机多卡，不知道还有没有别的示例代码。能正常跑tensorflow的并行代码

[2021-08-23 09:16] yingyibiao commented on #35042
这里写错了，是要求4个权重

[2021-08-23 09:16] TCChenlong commented on #35046
报名是在这个ISSUE回复哈：https://github.com/PaddlePaddle/Paddle/issues/34526

[2021-08-23 09:17] yingyibiao commented on #35042
在通过验收之前，暂时不支持。

[2021-08-23 09:17] abcdefghHIM opened #35087 "用CrossEntropyLoss计算loss不下降"
PaddlePaddle版本：2.1.2
[code]
loss一直是5.308267593383789

[2021-08-23 09:19] zhwesky2010 commented on #35054
@johnyanccer 这个代码是官方提供的还是自己写的呢？

[2021-08-23 09:24] johnyanccer commented on #35054
paddle这边没有提供示例代码，只是写了“当调用paddle.Model高层API来实现训练时，想要启动单机多卡训练非常简单，代码不需要做任何修改，只需要在启动时增加一下参数-m paddle.distributed.launch。

# 单机单卡启动，默认使用第0号卡
$ python train.py

# 单机多卡启动，默认使用当前可见的所有卡
$ python -m paddle.distributed.launch train.py

# 单机多卡启动，设置当前使用的第0号和第1号卡
$ python -m paddle.distributed.launch --gpus='0,1' train.py

# 单机多卡启动，设置当前使用第0号和第1号卡
$ export CUDA_VISIBLE_DEVICES=0,1
$ python -m paddle.distributed

[2021-08-23 09:26] zhwesky2010 commented on #35054
@johnyanccer 1号卡挂了，得检查一下一号卡的log
<img width="825" alt="9963f253f137f00625fd085ccd8674b8" src="https://user-images.githubusercontent.com/52485244/130423589-0a32bc8c-2123-43af-81fe-13d41893de73.png">
麻烦看下 log/workerlog.1。另外好像没有看到初始化多卡环境的代码

[2021-08-23 09:35] johnyanccer commented on #35054
[2021-08-21 19:29:52,708] [    INFO] - Found /home/johnyan/.paddlenlp/models/ernie-gram-zh/vocab.txt
[2021-08-21 19:29:52,714] [    INFO] - Already cached /home/johnyan/.paddlenlp/models/ernie-gram-zh/ernie_gram_zh.pdparams
Traceback (most recent call last):
  File "class2.py", line 116, in <module>
    pretrained_model = paddlenlp.transformers.ErnieGramModel.from_pretrained('ernie-gram-zh')
  Fil

[2021-08-23 09:35] johnyanccer commented on #35054
[2021-08-21 19:29:52,708] [    INFO] - Found /home/johnyan/.paddlenlp/models/ernie-gram-zh/vocab.txt
[2021-08-21 19:29:52,714] [    INFO] - Already cached /home/johnyan/.paddlenlp/models/ernie-gram-zh/ernie_gram_zh.pdparams
Traceback (most recent call last):
  File "class2.py", line 116, in <module>
    pretrained_model = paddlenlp.transformers.ErnieGramModel.from_pretrained('ernie-gram-zh')
  Fil

[2021-08-23 09:44] johnyanccer commented on #35054
workerlog.1提示paddle版本问题。。之前在代码段里直接指定使用GPU0或者GPU1就能正常跑单卡，跑多卡就报错，

[2021-08-23 09:45] AndPuQing commented on #34526
【队名】：就挺秃然的

【序号】：28

【论文】： Context Prior for Scene Segmentation

【状态】：报名

【repo链接】：https://github.com/AndPuQing/ContextPrior_Paddle

[2021-08-23 09:45] chenjiaoAngel commented on #35074
请问这个是在什么场景使用呢？

[2021-08-23 09:52] zhwesky2010 commented on #35054
@johnyanccer 您好，请问是否使用的同一个Python，现在的问题就是装的Paddle不支持CUDA

[2021-08-23 09:56] TeslaZhao commented on #35037
您好，还是要根据您使用场景出发，在reshape操作的时候把多个-1减少到不多于1个-1.

[2021-08-23 09:56] johnyanccer commented on #35054
python hapitrain.py 是正常支持CUDA的
python -m paddle.distributed.launch hapitrain.py 就报错不支持了

[2021-08-23 09:58] gentelyang commented on #35054
试了一下，设置一下device就可以了 paddle.device.set_device("gpu")

[2021-08-23 10:02] GuoQuanhao opened #35090 "【论文复现】无法deepcopy"
Platform: AIStudio
Version: 2.1.2
[code]
这种问题一般如何排查

[2021-08-23 10:09] johnyanccer commented on #35054
修改后同样报错
2329 gen_comm_id_helper.cc:120] connect addr=127.0.0.1:43135 failed 1 times with reason: Connection refused retry after 0.5 seconds
并且怀疑仍然只在一个GPU上跑的

[2021-08-23 10:14] hbwx24 commented on #35057
您好，目前没有复现出来，方便提供完整的单机可以运行的代码吗？@youlingforever0328

[2021-08-23 10:27] gentelyang commented on #35054
首先unset 一下cuda_visible_devices ，然后paddle.distribtuted.launch --gpus 0,1 train.py

[2021-08-23 10:32] chenjiaoAngel commented on #35080
这样使用可以的，fluid.layers.Print(info["key"])

[2021-08-23 10:33] songrui2009 commented on #35055
可以固定batch size吗？动态下，是否不会返还-1？

[2021-08-23 11:00] johnyanccer commented on #35054
代码加入paddle.device.set_device("gpu")，再运行paddle.distribtuted.launch --gpus 0,1 train.py，目前没有报错了，两个GPU都有显存占用，batch数减半，应该运行成功了，十分感谢！！

[2021-08-23 11:00] #35054 closed, assigned to nobody

[2021-08-23 11:16] chenjiaoAngel commented on #35090
model不支持deepcopy

[2021-08-23 11:21] GuoQuanhao commented on #35090
[code]
这是可以的

[2021-08-23 11:22] GuoQuanhao commented on #35090
我是用如下代码检查发现我的参数都是leaf tensor
[code]

[2021-08-23 11:22] youlingforever0328 commented on #35057
[code]

我把paddle自定义python算子文档上的例程代码贴上去也运行不了，报错. 这是教程文档的代码：

[code]

[2021-08-23 11:28] keil555 commented on #34526
【队名】：通信人想搞点有趣的

【序号】：108

【论文】：Adversarial Autoencoders

【状态】：提交

【repo链接】：https://github.com/keil555/AAE_paddle

[2021-08-23 12:13] ZhangHandi commented on #35087
您好，您可以参考这个链接中 https://aistudio.baidu.com/aistudio/education/group/info/1297/content 课节13 一个案例吃透深度学习（中）项目5. 【手写数字识别】之损失函数案例，里面使用了paddle.nn.functional.cross_entropy api 进行cross entropy损失计算。您可以尝试使用这个api计算loss或者将api替换为CrossEntropyLoss进行尝试

[2021-08-23 12:19] JIANG-HS opened #35096 "报名"
【队名】：import百度as度娘

【序号】：104

【论文】：Neural Collaborative Reasoning

【状态】：报名

【repo链接】：https://github.com/JIANG-HS/Paddle-NCR

[2021-08-23 12:21] #35096 closed, assigned to chenjiaoAngel

[2021-08-23 12:23] JIANG-HS commented on #34526
【队名】：import百度as度娘

【序号】：104

【论文】：Neural Collaborative Reasoning

【状态】：报名

【repo链接】：https://github.com/JIANG-HS/Paddle-NCR

[2021-08-23 12:36] XYZ-916 opened #35097 "Sorry, your code style check failed."
请问有没有什么自动化的方式把代码style进行优化？

[2021-08-23 12:38] GuoQuanhao commented on #35090
已解决，np = sum([x.numel() for x in m_.parameters()])在paddle中算出来是一个具有一个元素的int tensor，我使用int操作转换完成了

[2021-08-23 12:38] #35090 closed, assigned to chenjiaoAngel

[2021-08-23 12:41] Skye2099 opened #35099 "Jupyter import paddle 错误"
paddle 2.1.1
问题：jupyter中无 ‘~/.cache’写入权限，导致 import paddle 失败
![image](https://user-images.githubusercontent.com/56715553/130448317-ef366e2d-d084-423e-86e9-49711838143a.png)
重启，并首先os.environ['HOME'] = 'jupyter目录‘  后解决，但如果先import失败，报上图的错误，再设置os.environ则并不会生效，并报出了新的错误：
![image](https://user-images.githubusercontent.com/56715553/130448688-d21b29e0-247f-4aef-8963-87482dadc59f.png)

[2021-08-23 13:13] 771979972 commented on #34526
【队名】：不想改代码

【序号】：48

【论文】：Only a Matter of Style: Age Transformation Using a Style-Based Regression Model

【状态】：提交

【repo链接】：https://github.com/771979972/paddle-SAM

[2021-08-23 13:22] zhwesky2010 commented on #35066
@thunder95  Tensor的stop_gradient可以直接查看，如果是动态图，可以直接print(Tensor.gradient)就行。所有参数 weight 和 bias默认在创建时都是false

[2021-08-23 13:40] fuqianya commented on #34526
【队名】：fuqianya

【序号】：60

【论文】：Vilbert: Pretraining task-agnostic visiolinguistic representations for vision-and-language tasks

【状态】：报名

【repo链接】：https://github.com/fuqianya/ViLBERT-Paddle

[2021-08-23 14:10] #35033 closed, assigned to TeslaZhao

[2021-08-23 14:43] abcdefghHIM commented on #35087
更换paddle.nn.functional.cross_entropy后loss一直还是5.308267593383789

[2021-08-23 15:01] Lieberk commented on #34526
【队名】：小丑不丑

【序号】：10

【论文】：Show, Attend and Tell: Neural Image Caption Generation with Visual Attention

【状态】：提交

【repo链接】：https://github.com/chenlizhi-1013/paddle-show-attend-and-tell-captioning

[2021-08-23 15:15] MurphyVan commented on #34526
【队名】：羊牯塘的砍柴人

【序号】：107

【论文】：AMC: AutoML for Model Compression and Acceleration on Mobile Devices

【状态】：报名

【repo链接】：https://github.com/MurphyVan/amc-paddle

[2021-08-23 16:34] thunder95 commented on #35066
嗯 多谢 以定位到时切片赋值的问题，目前恢复正常了

[2021-08-23 16:34] #35066 closed, assigned to chenjiaoAngel

[2021-08-24 00:47] xaclincoln opened #35104 "error when compiling paddle inference lib"
Env:
OS: ubuntu 18.04 LTS
Paddle: 2.1.2
GCC:7.5.0
cmake: 3.21

Cmake:
All Switches turned off except ON_INFER

Error Log:
[  3%] No patch step for 'extern_glog'
[  3%] Performing configure step for 'extern_glog'
getarch_2nd.c: In function ‘main’:
getarch_2nd.c:12:35: error: ‘SGEMM_DEFAULT_UNROLL_M’ undeclared (first use in this function); did you mean ‘XGEMM_DEFAULT_UNROLL_M’?
     printf("SGEMM_U

[2021-08-24 01:04] xaclincoln commented on #35104
My CPU: Intel(R) Core(TM) i7-10700 CPU @ 2.90GHz
Should I choose **CORE2** within the following list (from the TargetList.txt)?

[2021-08-24 01:20] rogeryan commented on #34526
【队名】：锦绣前程
【序号】：101
【论文】：Panoptic Feature Pyramid Networks
【状态】：报名
【repo链接】：https://github.com/rogeryan/PanopticFPN_pp

[2021-08-24 02:47] jesen8 opened #35107 "You are using Paddle compiled with TensorRT, but TensorRT dynamic library is not found"
在第一个jetson nano上成功运行，没有输出找不到trt警告信息，正常运行，然后安装了第二个jetson nano 把程序拷贝过来运行就出现找不到trt了， 所有依赖均已经安装，
- 版本、环境信息：
    1）PaddlePaddle版本：v2.1.0
    2）CPU：jetson nano
    3）GPU：jetson nano
    4）系统环境：

在第二个nano上查看能显示出trt版本
[code]
在`/usr/lib/aarch64-linux-gnu`目录下查看trt动态库
[code]
手动添加`LD_LIBRARY_PATH` 后查看
[code]
paddle的so放在了`/home/xunchang/lib`下面

重启后也没用，运行程序依然显示找不到trt库，请问这种情况下还有什么办法吗

[2021-08-24 03:05] jesen8 commented on #35107
相关提问
https://github.com/PaddlePaddle/Paddle/issues/31795
https://github.com/PaddlePaddle/Paddle/issues/29362
https://github.com/PaddlePaddle/Paddle/issues/34444

[2021-08-24 03:23] tianzj12 commented on #34526
【队名】：ABC
【序号】：28
【论文】：Context Prior for Scene Segmentation
【状态】：报名
【repo链接】：https://github.com/tianzj12/Context_Prior_for_Scene_Segmentation_REPRODUCTING_BY_PADDLE

[2021-08-24 04:47] Godaddy-xie commented on #34526
【队名】：无了

【序号】：34

【论文】：Prototypical Networks for Few-shot Learning

【状态】：报名

【repo链接】：https://github.com/Godaddy-xie/Paddle

[2021-08-24 06:34] FeixLiu commented on #34250
设置export FLAGS_allocator_strategy=auto_growth试一下？

[2021-08-24 06:55] helen88 opened #35110 "使用docker编译paddle+xpu环境，https的github资源下载不来，Operation timed out"
docker编译：
1）镜像：registry.baidubce.com/paddlepaddle/paddle   2.1.0
       
 2）编译命令：

cmake .. -DPY_VERSION=3.7        -DCMAKE_BUILD_TYPE=Release         -DWITH_GPU=OFF       -DWITH_XPU=ON       -DON_INFER=ON  -DWITH_PYTHON=ON        -DWITH_MKL=OFF       -DWITH_XPU_BKCL=ON       -DWITH_TESTING=ON
![image](https://user-images.githubusercontent.com/4593091/130570805-8f9a9f39-a3d0-48d0-9e0d-784f5bb05b26

[2021-08-24 06:57] Leonardo-Ding commented on #35110
同学你好，尝试用一下厂内的代理服务器

[2021-08-24 07:40] chenjiaoAngel commented on #35097
可以安装pre-commit 和 clang-format 工具进行格式检查和代码格式优化

[2021-08-24 08:14] keil555 commented on #34526
【队名】：通信人想搞点有趣的

【序号】：108

【论文】：Adversarial Autoencoders

【状态】：提交

【repo链接】：https://github.com/keil555/AAE_paddle

[2021-08-24 08:17] lidanqing-vv commented on #34492
@jczaja Hi, please work in this issue after finishing matmul v2 caching clearing. Thank you !

[2021-08-24 09:32] JustinXu0 commented on #34526
【队名】：大王叫我来巡山队

【序号】：62

【论文】：Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Networks

【状态】：报名

【repo链接】：https://github.com/small-whirlwind/Paddle-MTCNN

[2021-08-24 10:09] JunnYu opened #35118 "【论文复现】layer norm的结果与pytorch感觉误差很大。"
[code]
误差感觉有点大啊，10-6，如果layernorm之后再通过全连接，可能最大误差会上升到10-5级别！

[2021-08-24 10:16] wangxicoding commented on #34934
线上已解决，关闭

[2021-08-24 10:16] #34934 closed, assigned to wangxicoding, littletomatodonkey

[2021-08-24 10:26] wangna11BD opened #35119 "【论文复现】paddle没有pool的二次梯度算子"
StyleGAN复现需要一些算子的二次梯度https://github.com/tomguluson92/StyleGAN_PyTorch/blob/4fd0711f560b9b080fca3df2448822835226ba02/loss/loss.py#L14
其中pool算子无二次梯度

[2021-08-24 11:08] JunnYu opened #35123 "【论文复现】paddle的Linear的结果与pytorch的Linear误差很大（在参数值非常大的时候）。"
环境：CPU
版本：Paddle 2.1.1

## 可以发现在x1扩大10倍的条件下，该结果最大误差非常大！
[code]

## 如果我把赋值权重的部分给注释掉，误差竟然正常了？？
[code]

## 如果我先初始化pytorch的权重，然后把pytorch权重赋值给paddle。误差又有了。
[code]

[2021-08-24 13:58] wawltor commented on #35123
上面是一个数值精度合理值的问题
1)  如果把数值放大10倍，同时改变了默认的参数的初始化(默认的参数初始化是一个正态分布，方差比较小),  上面第一部分的示例改变了参数的分布，参数的分布的scale放大，导致了数值精度的问题。
2)  如果把数值放大10倍, 但是保持了原来的参数初始化的方式，由于参数的mean值的正态分布，同时方差比较小，因此matmul的操作数值diff比较小

如果按照默认初始化方式，linear层的数据输入不是特别大，一般和torch的精度diff会比较小，paddle这块也是监测并优化了相应的op的数值精度的问题。

[2021-08-24 13:59] Lieberk commented on #34526
【队名】：小丑不丑

【序号】：10

【论文】：Show, Attend and Tell: Neural Image Caption Generation with Visual Attention

【状态】：提交

【repo链接】：https://github.com/chenlizhi-1013/paddle-show-attend-and-tell-captioning

[2021-08-24 14:16] JunnYu commented on #35123
@wawltor 好的谢谢，我理解了。这是我在复现论文进行精度对齐时候遇到的问题，同样的模型，如果采用`方差比较小的正态分布mean=0,std=0.02`初始化模型并进行精度对齐。发现误差正常！结果如下。
[code]
而如果加载了预训练权重，发现误差会达到快10-3级别。通过分析，我得出模型主要是在通过linear层后，最大误差突然变大。
[code]
请问在这种情况下，能认为模型精度基本对齐吗？

[2021-08-24 14:53] JunnYu commented on #35123
还有这里的误差存在是只针对于`可优化的Parameter`吗？我使用tensor进行类似矩阵乘法的操作，并未产生误差。
**(这除了自定义的weight和bias不可训练，基本等价于第一个例子)**
[code]

[2021-08-24 15:21] JunnYu commented on #35123
再来一个对比。这个让我很迷惑。
## `第一个例子forward方法`与`手工matmul的对比`。
[code]

[2021-08-24 15:28] 233lol opened #35135 "是否可以出opencl版本或者vulkan版本"
市面上支持opencl也就plaidml了但是已经停止更新了

[2021-08-24 15:30] JunnYu commented on #34526
【队名】：我们的名字刚好十个字

【序号】：110

【论文】：CTRL: A Conditional Transformer Language Model for Controllable Generation

【状态】：报名

【repo链接】：https://github.com/junnyu/paddle_ctrl

[2021-08-25 00:00] songsh opened #35136 "window2008 服务器安装报错"
- 安装方式信息：
1）pip安装/docker安装

**System information**
-PaddlePaddle version   2.0.2
-CPU: including CPUMKL/OpenBlas/MKLDNN version
-GPU: including CUDA/CUDNN version
-OS Platform  window 2008 server
-Python version:2.7

Traceback (most recent call last):
  File "c:\python27\lib\site-packages\pip\_internal\cli\base_command.py", line 1
78, in main
    status = self.run(options, args)
  File "c:\python2

[2021-08-25 01:06] justld commented on #34526
【队名】：dudu

【序号】：101

【论文】：Panoptic Feature Pyramid Networks

【状态】：提交

【repo链接】：https://github.com/justld/paddle-PanopticFPN

[2021-08-25 01:34] hbwx24 commented on #35057
对于第一段代码报错，应该是使用inplace操作的问题，建议将backward返回值改成红框中代码。
![image](https://user-images.githubusercontent.com/22128369/130711405-2affd530-bdcc-46d3-8a8f-df48bb98d3e4.png)
《paddle自定义python算子文档上的例程代码》仍然没有复现，建议新建一个文件运行代码，以排除其他代码的影响。

[2021-08-25 01:40] #35060 closed, assigned to haozech

[2021-08-25 01:40] TCChenlong commented on #35060
可以使用其他的优化器

[2021-08-25 01:45] #35118 closed, assigned to nobody

[2021-08-25 01:46] #35064 closed, assigned to chenjiaoAngel

[2021-08-25 01:53] TCChenlong commented on #35118
与 https://github.com/PaddlePaddle/Paddle/issues/35123 问题类似，都疑似矩阵乘法的问题

[2021-08-25 02:25] #34752 closed, assigned to zhiqiu, Thunderbrook

[2021-08-25 02:41] XYZ-916 commented on #35097
![log](https://user-images.githubusercontent.com/14884056/130717604-11447bcd-2d12-468f-a8a0-bceaf197ed3b.png)
![change](https://user-images.githubusercontent.com/14884056/130717610-1e8b4ea7-35b8-4978-986c-cb89d54642eb.png)
请问我提交的代码的格式为什么跟流水报错的格式不一致？这个code style问题要怎么解决？我明明已经按照规范空格了。

[2021-08-25 02:58] Leonardo-Ding commented on #35135
同学你好，如果使用opencl做推理部署可考虑使用paddle-lite

[2021-08-25 03:02] Leonardo-Ding commented on #35104
同学你好，根据错误提示看，是编译openblas第三方库出了问题，建议在paddle inference官方指导下的编译环境进行编译

[2021-08-25 03:04] Leonardo-Ding commented on #35119
同学你好，你的问题会反馈到开发人员进行评估，评估后如果需要会考虑在后续版本中添加这一feature，谢谢

[2021-08-25 03:06] Leonardo-Ding commented on #35119
同学你好，你反馈的问题会进一步反馈给开发同学进行评估，评估后如果需要会考虑在后续版本中进行添加，谢谢。

[2021-08-25 03:23] wawltor commented on #35123
目前在cpu的状态下，torch和paddle的matmul的实现方式不太一样，在数值scale比较大的情况下，目前存在不一样的情况；
判断是否对齐，可以做两个实验
1）在cuda的情况下 对齐情况如何，如果能对齐则可以任务收敛了
2）我理解现在是验证finetune的模型效果，可以验证一下finetune在各个数据集的效果，如果能对齐paper，也是可以认为收敛的

[2021-08-25 03:57] gsq7474741 commented on #34526
【队名】：PeachML

【序号】：104

【论文】：Neural Collaborative Reasoning

【状态】：提交2

【repo链接】：https://github.com/gsq7474741/Paddle-NCR

[2021-08-25 03:57] JunnYu commented on #34526
【队名】：我们的名字刚好十个字

【序号】：110

【论文】：CTRL: A Conditional Transformer Language Model for Controllable Generation

【状态】：提交

【repo链接】：https://github.com/junnyu/paddle_ctrl

[2021-08-25 04:15] JunnYu commented on #35123
@wawltor 好的。
1）目前无GPU可使用，本机RTX2060 6G显存太小无法加载大模型，服务器RTX3090 24G正如https://github.com/PaddlePaddle/Paddle/issues/34763 所说误差太大，比较也没有意义。
2）一方面正在复现的论文只要求进行前向传播对齐，另一方面该论文没有finetune任务，因此无法测试效果。

[2021-08-25 04:20] JunnYu commented on #34763
上面的是paddle的linear使用gpu，pytorch的linear使用cpu条件下得到的结果。
当同时使用gpu条件下，误差为0.

[2021-08-25 04:36] CuberrChen commented on #34526
【队名】：波波啥也不会

【序号】：27

【论文】：PointRend: Image Segmentation as Rendering

【状态】：提交

【repo链接】：https://github.com/CuberrChen/PointRend-Paddle/tree/main

[2021-08-25 06:27] LinJayan commented on #34526
【队名】：LaLaLa

【序号】：96

【论文】：FAT-DeepFFM: Field Attentive Deep Field-aware Factorization Machine

【状态】：报名

【repo链接】：https://github.com/LinJayan/FAT_DeepFFM_Paddle

[2021-08-25 06:30] zhwesky2010 commented on #35033
windows版本可能会少一些Visual C++的一些库，比如某些精简版、纯净版、绿色版系统，会少一些运行时的动态库，在加载时dll时就会出错。更新系统补丁或者安装新的windows系统时，可能将缺失的动态库安上了。

[2021-08-25 07:02] Yelrose opened #35142 "fill_constant corner case踩坑报错"
https://github.com/PaddlePaddle/Paddle/blob/086540ccb4e8cde02176f3134adf09e92ac9d3fc/python/paddle/fluid/layers/utils.py#L366

这个地方在某种corner case上会出问题，建议改成下面代码

[code]

触发条件
[code]

[2021-08-25 07:03] ZhangHandi commented on #35087
您好，我阅读代码时发现 x_real, speaker_idx_org, label_org = next(data_iter) 数据读取代码没有放在训练循环中，会导致训练过程中一直使用同样的数据训练，但在这种情况下，loss也应该是会更新的。目前只看贴出来的代码不能找到是什么问题，如果问题还没有解决，麻烦把代码和数据都同步给我吧

[2021-08-25 07:26] abcdefghHIM commented on #35087
测试的时候使用paddle.ones生成的来代替数据集的数据
`test.py`
[code]
输出
[code]

[2021-08-25 07:40] lidanqing-vv commented on #34554
Hi, I have tested with newest develop `f609ca379173de0be1e288a1832fd074b6c61587`,

Note 1, if you turn on mkldnn, you should also turn on IR optim as noted in the running log. So for enable mkldnn, all 10 models, last two params should be both 1, 1

Note 2, there is a bug in Test source code, `<` is wrongly writtent to `,` You need to change line 318
**From:**
[code]
**To:**
[code]

**Following co

[2021-08-25 08:07] lidanqing-intel commented on #34554
@baoachun  There is a bug in source code of the test. Change in line 318 to
[code]
Then test it again. I do not have the error anymore

[2021-08-25 08:26] ZhangHandi commented on #35087
DomainClassifier这个class，网络定义时使用了nn.LogSoftmax()，CrossEntropyLoss() 这个api的介绍中写了“该OP计算输入input和标签label间的交叉熵损失 ，它结合了 LogSoftmax 和 NLLLoss 的OP计算，可用于训练一个 n 类分类器。”，所以LogSoftmax使用两遍，导致DomainClassifier的输出全0，去掉网络定义中的nn.LogSoftmax()，loss就可以正常变化了

[2021-08-25 08:34] dingjiaweiww commented on #34639
@johnyanccer 打印结果显示PaddlePaddle is installed successfully! Let's start deep learning with PaddlePaddle now.，说明paddle已经安装成功，检查下cuda 是否安装正确吧

[2021-08-25 08:34] yeguang1991 opened #35146 "请问有支持日语的NLP预训练模型和框架吗？"
比如文本分类和命名实体识别的

[2021-08-25 08:39] dingjiaweiww commented on #34566
验证的时候报什么错误呢

[2021-08-25 08:41] lidanqing-vv commented on #34723
@OliverLPH  PR has been merged, please verify it and then close this issue

Note, there is a compiling issue in PaddleDetection source code, you may need to
[code]

[2021-08-25 08:51] dingjiaweiww commented on #34532
@Utopialjp 如果用的mac 电脑自带的python版本可能会有问题，建议从python官网重新下载python，paddle 2.1.2支持python 3.6-python3.9；python 官网上的3.9 版本有两个型号，目前paddle 只支持inter 版的python3.9, 不支持universal 版的python3.9

[2021-08-25 08:52] dingjiaweiww commented on #34532
@huangbin2005 paddle 目前没有统一对arm 芯片进行支持，但支持是arm芯片的 mac M1系统

[2021-08-25 09:34] zhwesky2010 commented on #35028
@yishibakaien 你用 `set PATH` 看一下有哪些目录，然后看下cublas64_102.dll;cublas64_10.dll是否在里面

[2021-08-25 11:31] SWHL commented on #34385
我也遇见同样的问题
- 版本
    - CUDA 11.4
    - Docker运行
    - python 3.7

- 安装完成之后测试：
[code]
报错同样是这个

[2021-08-25 11:52] huxianhe0 commented on #32062
解决了吗？我也遇到了一模一样的问题，不知道该怎么办

[2021-08-25 12:32] qili93 commented on #35136
@songsh 请问是根据这个文档按步骤安装的吗？

https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/install/pip/windows-pip.html

能给一下完整的错误LOG不，从pip isntall开始的。谢谢！

[2021-08-25 12:36] wjj19950828 commented on #34785
您好，感谢您的反馈，目前相关问题已经修复～，相关PR:https://github.com/PaddlePaddle/X2Paddle/pull/662

[2021-08-25 12:56] qili93 commented on #35142
收到，感谢反馈，会联系API负责人进行相关API的修复。

[2021-08-25 13:44] CuberrChen commented on #34526
【队名】：波波啥也不会

【序号】：27

【论文】：PointRend: Image Segmentation as Rendering

【状态】：提交

【repo链接】：https://github.com/CuberrChen/PointRend-Paddle/tree/main

[2021-08-26 00:47] #35042 closed, assigned to TeslaZhao, yingyibiao

[2021-08-26 00:47] #35046 closed, assigned to TeslaZhao

[2021-08-26 00:48] #34896 closed, assigned to huangjun12

[2021-08-26 00:48] #34898 closed, assigned to Aurelius84

[2021-08-26 01:10] #34785 closed, assigned to wjj19950828, yaoxuefeng6

[2021-08-26 02:50] lidanqing-vv commented on #34723
Since @OliverLPH  has approved PR, so I close this issue

[2021-08-26 02:52] lidanqing-vv commented on #34554
@OliverLPH  我这边测这个issue不存在了。
there is a bug in Test source code, `<` is wrongly writtent to `,` You need to change in model_test.cc line 318
**From:**
[code]
**To:**
[code]

**Following command all passed.**
`./build/model_test --single_thread=true --single_instance=false --test_groups="1"`

**Following command all passed**
`./build/model_test --single_thread=false --single_instance=true --test_gr

[2021-08-26 03:24] CuberrChen commented on #34526
【队名】：波波啥也不会

【序号】：27

【论文】：PointRend: Image Segmentation as Rendering

【状态】：提交

【repo链接】：https://github.com/CuberrChen/PointRend-Paddle/tree/main

[2021-08-26 04:00] isLiuHao opened #35163 "avx警告"
源码编译完，出现以下avx警告，会影响使用吗？会影响性能吗？
![1629950389(1)](https://user-images.githubusercontent.com/74350741/130898495-cfe5a0f5-d78b-4b8e-a4c0-23f051752233.png)

[2021-08-26 04:32] Andy1314Chen commented on #34526
【队名】：A3

【序号】：96

【论文】：FAT-DeepFFM: Field Attentive Deep Field-aware Factorization Machine

【状态】：提交

【repo链接】：https://github.com/Andy1314Chen/FAT-DeepFFM-Paddle

[2021-08-26 04:32] xiebaiyuan opened #35164 "保存模型时，多了scale 1？"
- 标题：保存模型时，多了scale 1？
- 版本、环境信息：
    1）PaddlePaddle版本：请2.1
    2）CPU/GPU：CPU
    3）系统环境：Ubuntu
    4）Python版本号:3.7
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：
保存模型时发现后面多了 scale 这是为什么呢

[2021-08-26 05:27] jinxing94 commented on #34938
cudnn版本切成7.6可以

[2021-08-26 05:34] ddghjikle commented on #34526
【队名】: 不想起床

【序号】：34

【论文】：Prototypical Networks for Few-shot Learning

【状态】：报名

【repo链接】：https://github.com/ddghjikle/Paddle-Prototypical

[2021-08-26 05:37] ddghjikle commented on #34526
【队名】： 不想起床

【序号】：4

【论文】：EfficientDet: Scalable and Efficient Object Detection

【状态】：报名

【repo链接】：https://github.com/ddghjikle/Paddle-EfficientDet

[2021-08-26 05:51] #34688 closed, assigned to zhangting2020

[2021-08-26 06:07] 121786404 commented on #8931
太坑了，折腾了两天，官方的编译文档应该加上这个说明！！

[2021-08-26 06:28] gaogaoxingxing2010 opened #35169 "您好，我有一个化学槽液分子曲线预测的场景，数据挖掘的。 零件表面处理需要放入槽液进行化学反应，零件表面积等信息是有的。不过槽液分子检测是定时做的，比如一周一次。 整理数据后，如果以槽液按时间排序的加工零件（很多)作为元素数据，那么槽液分子检测数据就显得特别少，那么对应不到的分子检测数据我就保持空值吗？ 另外还有加化学药品的数据，因为化学反应会影响槽液分子含量，需要加药品保持分子含量复合加工要求。加药也是定期加药，比如一个月。那么按时间整理的零件加工数据项也会对应很多加药信息空值情况，我想问的是这样的数据集科学合理吗？"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的API文档在哪儿 ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本（如Mac OS 10.14），Python版本
注：您可以通过执行[summary_env.py](https://g

[2021-08-26 06:42] qili93 commented on #35146
@yeguang1991 目前PaddleNLP的模型可以支持日语的训练，只要输入对应的日语的训练数据集就可以训练，但是没有训练好的日语预训练权重可供下载。

[2021-08-26 07:00] LinJayan commented on #34526
【队名】：LaLaLa

【序号】：96

【论文】：FAT-DeepFFM: Field Attentive Deep Field-aware Factorization Machine

【状态】：提交

【repo链接】：https://github.com/LinJayan/FAT_DeepFFM_Paddle

[2021-08-26 07:11] dingjiaweiww commented on #34037
可是能用的mac 自带的 python版本的问题，可以去python官网下载一个正式版本的python，如果要下载python3.9，需要下载3.9 intel 版本，不要下载3.9 universal 版本

[2021-08-26 08:07] chenkangyang commented on #34526
【队名】：INTP

【序号】：88

【论文】：VisualBERT: A Simple and Performant Baseline for Vision and Language

【状态】：报名

【repo链接】：https://github.com/chenkangyang/paddle_visual_bert

[2021-08-26 08:08] yulangz commented on #34526
【队名】： 队名难取啊

【序号】：69

【论文】：End-To-End Memory Networks

【状态】：提交

【repo链接】：[https://github.com/yulangz/End-To-End-Memory-Networks-in-Paddle](https://github.com/yulangz/End-To-End-Memory-Networks-in-Paddle)

[2021-08-26 09:16] szulm commented on #34526
【队名】：SZU_VCC

【序号】：47

【论文】：Encoding in Style: a StyleGAN Encoder for Image-to-Image Translation

【状态】：报名

【repo链接】：https://github.com/szulm/pSp_paddle

[2021-08-26 11:23] KinvenW opened #35182 "paddle2.1如何手动释放计算图？"
paddle2.1的动态图模型，我想在某些情况下在执行forward之后手动释放计算图，不调用loss.backward()，要怎么做呢？clear_grad似乎不能释放前向计算图

[2021-08-26 12:49] #33200 closed, assigned to MissPenguin

[2021-08-26 13:04] OliverLPH commented on #34723
Hi, @lidanqing-intel
currently ppyolo_mbv3 model is being fixed, but solov2, fcos models still crash.

[2021-08-26 13:15] jakpiase commented on #34723
Hi, @OliverLPH
I have tried to reproduce problems with reshape2 op(solov2, fcos models crash), but without any success.
Could you please give me more information about environment that you are using to run this model?
Are you using some kind of a virtual machine which doesn't support AVX512 instruction set?
Could you please also send me full logs from running this model with "DNNL_VERBOSE=1" envir

[2021-08-26 14:09] 771979972 commented on #34526
【队名】：不想改代码

【序号】：47

【论文】：Encoding in Style: a StyleGAN Encoder for Image-to-Image Translation

【状态】：提交

【repo链接】：https://github.com/771979972/Paddle_pSp

[2021-08-26 17:26] chk4991 commented on #34526
【队名】：一只努力爆发的小霸王龙

【序号】：66

【论文】：Universal Language Model Fine-tuning for Text Classification

【状态】：报名

【repo链接】：https://github.com/chk4991/Universal-Language-Model-Fine-tuning-for-Text-Classification

[2021-08-26 20:06] gongliyu commented on #30131
@cryoco Any update on this problem?

[2021-08-27 01:13] thunder95 opened #35188 "【论文复现】训练一定轮次后出现错误 Cuda error(719), unspecified launch failure."
在aistudio的脚本任务上基于PaddleDetection套件进行多卡训练，训练到epoch序号接近6时， 出现下面的cuda错误，请帮忙分析下问题 可能出在哪里？

[code]

[code]

中途打印了很多bce的error，各个worker.log也几乎同一时间出现bce错误， 然后中途多卡训练时就abort了。  不清楚这个错误来自nn.BCEWithLogitsLoss，还是来自代码实现逻辑出现的问题， 请各位专家能给一些提示和建议。

[2021-08-27 02:01] 978326187 opened #35189 "pytorch转换为paddle中可视化方面问题"
`from torch.utils.tensorboard import SummaryWriter`
这一段代码在paddle中有对应的用法吗

[2021-08-27 02:09] sususu1 opened #35190 "python下paddleOcr 启用tensorrt出现问题"
paddle版本：2.1.1
GPU版centos
cudnn:7
gcc:8.2
cuda:10.1
问题：使用paddleOCR 做inference, python3.7运行后报错如下
C ++ traceback (most rerecent call last):
paddle infer::Predictor::Predictor (paddle::AnalysisConfig const&)
std: :unique pur paddle: Padereictor std: :default delete paddle: Padereictor ) paddle: CeleadelPredieior adle:halysisconfi
paddle: PaddleEngineKind) 2> (paddle: AnalysisConf const&)
paddle: :Ana

[2021-08-27 02:35] jerrywgz commented on #35188
实际上是bce的输入值为nan了，在bce里会对输入检查所以报错，应该还是和模型训练训飞有关，可以打印下bce之前的输入

[2021-08-27 02:36] cheeryoung79 opened #35192 "Blocking queue is killed because the data reader raises an exception."
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-08-27 02:36] 978326187 commented on #1746
where is PaddleBoard ？

[2021-08-27 02:38] thunder95 commented on #35188
@jerrywgz
我也想过打印以下， 这个打印可能有点多， 主要是不确定什么时候会出现， 我也是训练了很多时间才出现这个，而且里面有两处用到了bce loss。 有什么好的打印策略吗， cuda报错里面直接是assert又不能try catch进行捕获。

[2021-08-27 02:48] ShenYuhan commented on #35189
如果是使用标量记录点数据，可以参考paddle中visualdl接口，文档在 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/callbacks/VisualDL_cn.html#visualdl

如果是对可视化有更多的需求，可以直接使用visualdl，参考文档在
https://github.com/PaddlePaddle/VisualDL/blob/develop/README_CN.md

[2021-08-27 02:52] 771979972 commented on #34526
【队名】：不想改代码

【序号】：48

【论文】：Only a Matter of Style: Age Transformation Using a Style-Based Regression Model

【状态】：提交

【repo链接】：https://github.com/771979972/paddle-SAM

[2021-08-27 02:52] 978326187 commented on #35189
https://github.com/PaddlePaddle/Paddle/issues/1746
这个issue里有说会发布PaddleBoard，现在还有这个计划吗？

[2021-08-27 02:54] jerrywgz commented on #35188
如果在算子里加debug代码需要自己编译安装paddle，可以试试用export FLAGS_check_nan_inf=1 看看

[2021-08-27 02:55] yinhaofeng commented on #35188
1.可以添加paddle.seed()来固定随机量，使用确定的初始化方式以及FLAGS_cudnn_deterministic，这样每次训练时从数据到loss和反传都是确定的，方便检测是从哪里开始出现问题

[2021-08-27 02:56] #34564 closed, assigned to jiweibo

[2021-08-27 02:57] #34783 closed, assigned to yaoxuefeng6

[2021-08-27 02:57] #34847 closed, assigned to iclementine

[2021-08-27 02:59] yinhaofeng commented on #35188
2.检查nan可以使用check nan inf工具：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/advanced_guide/flags/check_nan_inf_cn.html#check-nan-inf
或者使用paddle.isnan（）：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0/api/paddle/tensor/math/isnan_cn.html#fanhui

[2021-08-27 02:59] yeyupiaoling opened #35193 "Dataloader如何读取fluid.create_lod_tensor变成序列的数据"
- PaddlePaddle 2.1.1

像下面这种的数据，Dateloader要如何读取到网络模型中？collate_fn只能用numpy，没办法用下面这个 fluid.create_lod_tensor接口。
[code]

如果collate_fn把 fluid.create_lod_tensor() 作为返回值的话，就会报下面的错误.
[code]

collate_fn的代码：
[code]

[2021-08-27 03:00] MissPenguin commented on #35190
您好，用默认方式安装的paddle目前无法直接支持tensorrt，可以直接安装支持tensorrt的paddle：https://paddle-wheel.bj.bcebos.com/with-trt/2.1.2/linux-gpu-cuda10.2-cudnn8.1-mkl-gcc8.2-trt6-avx/paddlepaddle_gpu-2.1.2-cp37-cp37m-linux_x86_64.whl

[2021-08-27 03:25] yinhaofeng commented on #35193
1.在paddle2.0版本之后，我们已经不推荐使用paddle.fluid接口，https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/2.0.html#lodtensor
2.dataloader的使用方法：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0/api/paddle/fluid/reader/DataLoader_cn.html#dataloader
3.paddle.fluid.create_lod_tensor是paddle1.8的API：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/fluid_cn/create_lod_tensor_cn.html#daima

[2021-08-27 03:26] yinhaofeng commented on #35192
请根据提示，详描述一下您的问题，环境信息以及复现方法吧~

[2021-08-27 03:26] yeyupiaoling commented on #35193
@yinhaofeng 我可以不用Fluid，那模型需要这样的输入，dataloader要怎么读取？
[code]

[2021-08-27 03:53] yinhaofeng commented on #35189
这个是2017年的issue了，可视化方面的问题现在可以直接使用visualdl

[2021-08-27 03:55] 771979972 commented on #34526
【队名】：不想改代码

【序号】：47

【论文】：Encoding in Style: a StyleGAN Encoder for Image-to-Image Translation

【状态】：提交

【repo链接】：https://github.com/771979972/Paddle_pSp

[2021-08-27 04:21] 978326187 commented on #35189
好的，感谢回复

[2021-08-27 04:22] 978326187 commented on #35189
另外，我在AIstudio上的项目一直显示“ 正在停止 ”，可以帮忙反馈一下吗？

[2021-08-27 04:39] sususu1 commented on #35190
您好，1、有cuda10.1版本的支持吗tensorrt的paddle吗
2、https://paddle-inference.readthedocs.io/en/latest/user_guides/download_lib.html里面的.whl包也是不支持tensorrt的吗

[2021-08-27 04:49] yinhaofeng commented on #35193
2.0版本之后，dataloader已经不支持读取lod数据了。您可以尝试使用dataset代替

[2021-08-27 05:29] MissPenguin commented on #35190
cuda10.1可以用这个：https://paddle-wheel.bj.bcebos.com/with-trt/2.1.2/linux-gpu-cuda10.1-cudnn7-mkl-gcc8.2-trt6-avx/paddlepaddle_gpu-2.1.2.post101-cp37-cp37m-linux_x86_64.whl ，以上tensorrt版paddle都来源于这个页面：https://www.paddlepaddle.org.cn/whl/stable/tensorrt.html ，可以按照自己的环境选择相应版本，你提供的下载链接是普通版，不支持tensorrt。

[2021-08-27 06:11] yeyupiaoling commented on #35193
@yinhaofeng 您说的使用dataset代替是？

[2021-08-27 06:30] lidanqing-vv commented on #34492
在看了这个issue.已复现

[2021-08-27 06:30] yinhaofeng commented on #35189
这个需要几分钟停止是正常的，需要保存文件等进行操作，如果停止时间过长（比如几十分钟到几个小时）可能是后台机器出问题了，你可以将项目链接发送到aistudio相关部门的邮箱中， 邮箱在产品网页底部有哈

[2021-08-27 06:37] thunder95 commented on #35188
@jerrywgz @yinhaofeng 谢谢两位专家回复， 按照给的提示，仍旧debug不出来哪里有问题， 也没有任何打印，感觉设置了下面的参数用途不大，只是报错的地方不一样了。要复现这个问题时间也比较长， 4卡大概4小时。我在每个bce_loss前都做了isnan判断，但是没有任何输出。

[code]

[code]

[code]

[code]

[2021-08-27 06:43] sususu1 commented on #35190
我按您给的网址装了，还是报原来的错误，Build TensorRT cuda engine failed!,能帮忙看看日日志吗，谢谢

[2021-08-27 06:49] thunder95 commented on #35188
有么有可能是其他地方引发了错误，才导致bce_loss的assert失败？

[2021-08-27 07:01] abcdefghHIM opened #35203 "用paddle重写pytorch的代码后，loss一直在上升"
PaddlePaddle版本：2.1.2
pytorch实现：[https://github.com/hujinsen/pytorch-StarGAN-VC](https://github.com/hujinsen/pytorch-StarGAN-VC)
然后我对该项目进行了一些修改，loss可以正常下降
用paddle重写后，使用之前训练的数据，loss一直在上升
模型经测试后没有问题，可能哪些问题让loss上升呢
![QQ截图20210827143528](https://user-images.githubusercontent.com/55306203/131083721-f497bdd0-96d4-4424-877a-66e42037e05f.png)
修改后的模型
`model.py`
[code]

`model_loader.py`
[code]

`solver.py`

[2021-08-27 07:08] No9406 commented on #34526
【队名】：仲夏柠叶香

【序号】：22

【论文】：Real-Time High-Resolution Background Matting

【状态】：报名

【repo链接】：https://github.com/No8017/Reproduction-Real-Time-High-Resolution-Background-Matting

[2021-08-27 07:36] 978326187 commented on #35189
我的从10点半开始关的。。。

[2021-08-27 08:03] hrdwsong commented on #34526
【队名】：深智源

【序号】：59

【论文】：Uniter: Learning universal image-text representations

【状态】：报名

【repo链接】：https://github.com/hrdwsong/Uniter

[2021-08-27 08:12] heavengate commented on #34799
2.0版本开始不推荐使用lod_tensor了，可以选择把原数据pad成统一的shape用非lod的tensor

[2021-08-27 08:14] yeyupiaoling commented on #34799
这意味着我还有修改网络模型结构，这是个大工作量。

[2021-08-27 08:14] #34799 closed, assigned to yaoxuefeng6

[2021-08-27 08:15] hrdwsong commented on #34526
【队名】：深智源

【序号】：106

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：报名

【repo链接】：https://github.com/hrdwsong/Paddle-CycleMLP

[2021-08-27 08:17] RichardoMrMu commented on #34526
【队名】：摸鱼对不对队

【序号】：106

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：报名

【repo链接】：https://github.com/RichardoMrMu/Paddle-CycleMLP

[2021-08-27 08:54] 978326187 opened #35210 "pytorch代码转paddle相关问题"
`torchvision.utils.make_grid`
Torchvision里面的make_grid接口在paddle里面有对应的吗

[2021-08-27 08:55] 978326187 commented on #35189
项目终于停止了。。。。

[2021-08-27 08:55] #35189 closed, assigned to yinhaofeng

[2021-08-27 09:08] yinhaofeng commented on #35203
这边提供一些建议，希望能对您有帮助：
1.建议检查一下pytorch和paddle的op对应和使用方法问题，有些op的参数和使用方法是不相同的
2.尝试将数据更换成全1的人造数据，测试是否可以正常收敛拟合
3.如果有一些随机量，您可以通过paddle.seed()以及FLAGS_cudnn_deterministic，使用确定的初始化方式来固定，这样方便您查找
4.您可以逐层打印op的输出，查看真实输出是否符合预期输出，包括反向的grad也可以通过tensor.grad查看
5.可以检查一下训练和infer的时候是否处于相应分支的代码逻辑中，使用model.train()来切换为训练逻辑

[2021-08-27 09:14] yinhaofeng commented on #35210
PyTorch（v1.8.1)常用API与PaddlePaddle 2.0.0 API对应关系与差异分析文档
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/08_api_mapping/pytorch_api_mapping_cn.html

[2021-08-27 09:15] lidanqing-vv opened #35211 "Add more functions into Paddle MKL lib"
MKL lib in Paddle is a smaller version and lack following functions that users now would like to use.

[code]

随机数生辰验证

[2021-08-27 09:17] #34983 closed, assigned to pangyoki

[2021-08-27 09:20] isLiuHao commented on #35163
有人可以帮忙解释一下吗

[2021-08-27 10:08] LDOUBLEV commented on #35190
@sususu1 你用的是PaddleOCR哪个网络？是在create_predictor时报错的还是其他地方？
https://github.com/PaddlePaddle/PaddleOCR/blob/cadc04cf6cb599bb005be344010443bcfb65e82b/tools/infer/utility.py#L250

你可以关闭dynamic shape再试下，屏蔽这行代码：https://github.com/PaddlePaddle/PaddleOCR/blob/cadc04cf6cb599bb005be344010443bcfb65e82b/tools/infer/utility.py#L224

[2021-08-27 10:17] LDOUBLEV commented on #35190
cuda10.1的环境可以用这个镜像，：paddlepaddle/paddle:latest-dev-cuda10.1-cudnn7-gcc82
安装的paddle whl包：https://paddle-wheel.bj.bcebos.com/with-trt/2.1.2/linux-gpu-cuda10.1-cudnn7-mkl-gcc8.2-trt6-avx/paddlepaddle_gpu-2.1.2.post101-cp37-cp37m-linux_x86_64.whl

[2021-08-27 10:27] 978326187 commented on #35210
好的我去看一下，感谢！

[2021-08-27 11:02] JustinXu0 commented on #34526
【队名】：大王叫我来巡山队

【序号】：62

【论文】：Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Networks

【状态】：报名

【repo链接】：https://github.com/small-whirlwind/Paddle-MTCNN

[2021-08-27 11:38] sususu1 commented on #35190
我用的是PaddleOCR-release-2.1好像没有这种动态代码，我换到docker运行后，发现det（DB）和cls都能跑起来，但是CRNN那块会报如下错误：
Traceback (most recent call. last):
File predictsys. py", line 227, in module>
recresult (r' /home/ workSpace/Paddle0CR- release 2. l/test data )
File "predictsys. py", line 224, in recresult
return main (args)
File " predictsys.py", line 148, in main
dt_ boxes, rec_ res = text sys (img)
File "predictsys. py", line

[2021-08-27 12:11] isLiuHao commented on #35163
请问有人能解答一下吗

[2021-08-27 13:48] HXia-XXL opened #35229 "训练完一轮后，如何释放显存开始下一轮"
环境：paddle 2.0.2
语言：python 3.7
问题：
        使用不同权重的组合损失依次训练模型，请问如何在每一轮训练完成后释放显存。
[code]
完成一轮训练后，显存并没有释放，导致第二轮训练时，GPU out of memory。

请问怎么在训练完成后释放显存。谢谢您的解答！

[2021-08-27 14:06] yinhaofeng commented on #35229
https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/train_cn.html#wenti-xunlianshibaocuotishixiancunbuzu-ruhejiejue

可以参考这个文档

---原始邮件---
发件人: "Hao ***@***.***&gt;
发送时间: 2021年8月27日(周五) 晚上9:48
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: [PaddlePaddle/Paddle] 训练完一轮后，如何释放显存开始下一轮 (#35229)

环境：paddle 2.0.2
 语言：python 3.7
 问题：
 使用不同权重的组合损失依次训练模型，请问如何在每一轮训练完成后释放显存。
 （eg： Loss = loss1+

[2021-08-27 14:10] HXia-XXL commented on #35229
感谢您的帮助，请问这些export命令是直接输入到终端里吗？
[code]

我尝试过将他们输入终端，但似乎不起作用。

[2021-08-27 14:47] yinhaofeng commented on #35229
1.可以考虑降低batchsize
2.可以考虑手动加一些no_grad
3.考虑手动关闭一下dataloader的缓存选项，降低速度以减少显存消耗
4.一些具体情况可以在issue中搜索一下以前其他用户提出的情况和解答，或许有帮助

---原始邮件---
发件人: "Hao ***@***.***&gt;
发送时间: 2021年8月27日(周五) 晚上10:11
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 训练完一轮后，如何释放显存开始下一轮 (#35229)

https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/train_cn.html#wenti-xunlianshibaocuotishixian

[2021-08-27 14:50] HXia-XXL commented on #35229
感谢您的帮助。我去试试

[2021-08-27 15:05] HXia-XXL commented on #35229
您好，感觉问题和这个issue比较一致。都是想删除变量的同时，释放显存。类似于torch.cuda.empty_cache()操作。
请问paddle有对应的功能吗？或者是，一次性运行多个脚本，每个.py文件序列执行，您觉得这样可行吗？
感谢您的帮助。
https://github.com/PaddlePaddle/Paddle/issues/33625

[2021-08-27 15:20] yinhaofeng commented on #35229
对应上面那些export操作，但是并非有某个命令，只要执行立刻全部清空。只能说不再占用的及时释放，尽量复用。

---原始邮件---
发件人: "Hao ***@***.***&gt;
发送时间: 2021年8月27日(周五) 晚上11:08
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 训练完一轮后，如何释放显存开始下一轮 (#35229)

1.可以考虑降低batchsize 2.可以考虑手动加一些no_grad 3.考虑手动关闭一下dataloader的缓存选项，降低速度以减少显存消耗 4.一些具体情况可以在issue中搜索一下以前其他用户提出的情况和解答，或许有帮助
 …
 ---原始邮件--- 发件人: "Hao @.&gt; 发送时间: 2021年8月27日

[2021-08-28 01:33] isLiuHao opened #35234 "编译报错"
jetson agx xavier，jetpack4.5，paddle2.0.2,，cmake3.21
请问一下，编译遇到extern_cryptopp一直编译不通过，怎么解决？
![捕获](https://user-images.githubusercontent.com/74350741/131202000-2622c5f7-524e-4041-a165-d3b3fec09df8.PNG)

[2021-08-28 01:38] isLiuHao commented on #35234
cmake .. \
          -DWITH_CONTRIB=OFF \
          -DWITH_MKL=OFF  \
          -DWITH_MKLDNN=OFF \
          -DWITH_TESTING=OFF \
          -DCMAKE_BUILD_TYPE=Release \
          -DON_INFER=ON \
          -DWITH_PYTHON=ON \
          -DWITH_XBYAK=OFF  \
          -DWITH_NV_JETSON=ON \
          -DPY_VERSION=3.6 \
          -DCUDA_ARCH_NAME=Auto
make TARGET=ARMV8 -j4

[2021-08-28 02:36] MarToonLi opened #35235 "【论文复现】自定义loss函数中使用numpy实现bool索引的方式会不会影响反向传播"
目前paddle版本是2.1的；
论文复现过程中，模型主体部分全部使用paddle实现，但是loss部分，因为涉及三种loss函数的使用L1Loss、BCEWithLogitsLoss和IOUloss。
而loss部分，具体的一些操作需要使用bool索引。paddle似乎不支持bool索引，因此使用间接的方式：numpy转换后再paddle的方式。如下例子所示：
`paddle.to_tensor(bbox_preds.reshape((-1, 4)).numpy()[fg_masks.numpy()], dtype=bbox_preds.dtype)。`

反向传播方面的代码是：
yolo_outputs, loss_stats = model(inps, targets=targets)
#yolo_outputs 是模型主体部分的输出，要传入loss部分和targets进行比对运算的

[2021-08-28 07:20] HXia-XXL commented on #35229
现在新建 command.py

[code]

循环运行命令，这样的话，每一个alpha值的训练任务就是独立进程，进程结束后会自动释放显存。
虽然方法比较简陋，但也解决了我的问题。

感谢@yinhaofeng 的帮助。

[2021-08-28 07:20] #35229 closed, assigned to yinhaofeng

[2021-08-28 09:13] littletomatodonkey commented on #35235
你好，目前develop的paddle已经支持了bool类型的索引，可以试一下，另外，如果需要bbox_preds进行反向传播的话，那么.numpy方法之后，是无法梯度回传的，这块需要注意一下

[2021-08-28 09:38] MarToonLi commented on #35235
好的 ，我尝试一下，谢谢！

[2021-08-28 09:40] littletomatodonkey commented on #35234
你好，是要编译预测库吗？可以参考这个文档：https://paddleinference.paddlepaddle.org.cn/user_guides/source_compile.html

[2021-08-28 14:09] CSQianDong commented on #30713
+1

[2021-08-29 01:36] songrui2009 opened #35238 "导出自定义模型报错：The Tensor of Variable(dygraph_tmp_240) to be saved is not initialized."
- 标题：导出自定义模型报错：The Tensor of Variable(dygraph_tmp_240) to be saved is not initialized.
- 版本、环境信息：
Paddle version: 2.1.2
Paddle With CUDA: True

OS: Deepin 20.2
Python version: 3.7.3

CUDA version: 9.2.148
cuDNN version: None.None.None
Nvidia driver version: 460.39
- 问题描述：
    InvalidArgumentError: The Tensor of Variable(dygraph_tmp_240) to be saved is not initialized.
      [Hint: Expected tensor.

[2021-08-29 01:38] songrui2009 commented on #35238
有什么方法可以帮忙定位问题未知？

[2021-08-29 01:54] MarToonLi commented on #35235
**我想再请教一下，为什么输出所有模型参数的梯度，结果都是0呢？能不能提供一下可能的解决方法？**
[code]
以上输出的是各参数的均值。如果铺开的话，都是0.0；
代码如下所示：
[code]

[2021-08-29 03:00] jesse01 opened #35240 "[论文复现]YOLOX单机多卡训练过程中报paddle.logical_not报错"
   1）PaddlePaddle版本：2.1.2
    2）GPU：CUDA 10.1 和CUDNN 7.6， 单机四卡
    4）系统环境：Python 3.7,  aistudio脚本任务环境

- 训练信息
    1）单机4卡
    2）显存每卡32 G
+=======================================================================================+
    |                        Distributed Envs                      Value                    |
    +---------------------------------------------------------------------------

[2021-08-29 03:11] thunder95 commented on #35240
相似问题， 只有等百度专家来看看了 @jerrywgz @yinhaofeng

[2021-08-29 04:17] jesse01 opened #35241 "[论文复现]多次用切片方式修改tensor内容会导致反向传播梯度为0"
1）PaddlePaddle版本：2.1.2及开发版本
   2）GPU：任意版本
   4）系统环境：任意环境

- 训练信息
    1）无论单机、多机
    2）显存多少无关
- 复现信息：100%复现
- 问题描述：多次用切片方式修改tensor内容会导致反向传播梯度为0

比如yolox_head中的以下两个操作：
        output[:, :, :2] = (output[:, :, :2] + grid) * stride
        output[:, :, 2:4] = paddle.exp(output[:, :, 2:4]) * stride
单独执行任一个都不会有问题，但是两个一起操作就会导致反向传播梯度为0
改成以下方式，反向传播梯度正常：
        xy = (output[:, :, :2] + grid) * stride

[2021-08-29 04:38] jesse01 opened #35242 "[论文复现]多级索引方式不能修改tensor"
1）PaddlePaddle版本：2.1.2及开发版本
2）GPU：任意版本
4）系统环境：任意环境

训练信息
   1）无论单机、多机
   2）显存多少无关
复现信息：100%复现
问题描述：多级索引方式不能修改tensor
如果以这种多级索引方式修改tensor, 代码可以正常执行，但是数据不会改变
data[i][j][k] = 1.0
改成：
data[i, j, k] = 1.0
则正常

![image](https://user-images.githubusercontent.com/6436061/131238633-a2587356-26d4-48d6-ae2b-4f808908cb80.png)

[2021-08-29 04:53] jesse01 opened #35243 "[论文复现]索引切片只支持第0维问题"
1）PaddlePaddle版本：2.1.2及开发版本
2）GPU：任意版本
4）系统环境：任意环境

训练信息
1）无论单机、多机
2）显存多少无关
复现信息：100%复现
问题描述：索引切片只支持第0维问题
见下图：
![image](https://user-images.githubusercontent.com/6436061/131238858-21442a21-6864-4bfe-9d65-c29ddffa2bb2.png)
![image](https://user-images.githubusercontent.com/6436061/131238875-c9797d46-82eb-4d78-9830-8004687ba6cb.png)

[2021-08-29 05:45] GuoQuanhao opened #35244 "paddle copy_"
Version: 2.1.0
paddle中的copy_函数怎么使用
[code]
他与torch中的copy_有啥异同

[2021-08-29 13:42] songrui2009 commented on #35238
找到问题所在了，单不知道什么原因，问题如下：在模型的__init__预先算了一些Tensor，并保存在list中；导出的时候会先构造模型，也就是Tensor被创建了出来；然后再进行导出操作，导出时被保存的Tensor没有被转换成LodTensor，导致错误发生；不放在List中是能够被自动转换成LodTensor的，也不会有这个问题；具体原因不行，希望能够得到解释~~~~
同时这种错误，不好查，提示的堆栈基本没用.

[2021-08-29 16:31] lidanqing-vv opened #35247 "Quantize nearest_interp and more no-weights ops"
Enable nearest_interp op quantization with oneDNN.

[code]

[2021-08-29 16:55] yuanyehome commented on #34526
【队名】：凑个热闹

【序号】：7

【论文】：MnasNet: Platform-Aware Neural Architecture Search for Mobile

【状态】：报名

【repo链接】：https://github.com/yuanyehome/MNasNet-Paddle

[2021-08-30 01:11] thunder95 commented on #35188
补充: 我将训练过程中**每个批次**bce**所有**的输入保存下来，单独使用BCEWithLogitsLoss运行了一遍，没有任何问题。

[2021-08-30 02:10] littletomatodonkey commented on #35235
看下是否包含relu激活函数以及relu之前的tensor已经是小于0的值了

[2021-08-30 02:22] MissPenguin commented on #35244
您好，可以发一下这个代码的位置吗

[2021-08-30 02:28] chenjiaoAngel commented on #35097
<img width="620" alt="image" src="https://user-images.githubusercontent.com/38650344/131276627-a0bc0a95-e290-43ae-9dd7-0643cde06698.png">
这个axis_dim处对齐是空四个空格,和PADDLE的L对齐
PADDLE_ENFORCE_GT(
          axis_dim, 0,
          platform::errors::InvalidArgument(
                 "");

[2021-08-30 02:30] Aurelius84 commented on #35238
我们不支持将定义在python原生list中的Tensor保存下来，可以通过如下两种方式来实现：

+ 方式一：将Tensor注册为Buffer
[code]
+ 方式二：将 list 替换为 ParamList，用法见[官方文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/ParameterList_cn.html#parameterlist)

[2021-08-30 02:30] heavengate commented on #35193
2.0版本开始不推荐使用lod_tensor了，可以选择把原数据pad成统一的shape用非lod的tensor

[2021-08-30 02:33] #35193 closed, assigned to yinhaofeng

[2021-08-30 03:01] stuartchen1949 commented on #34526
【队名】：跳水女王

【序号】：26

【论文】：YOLACT++: Better Real-time Instance Segmentation

【状态】：提交

【repo链接】：https://github.com/stuartchen1949/yolact-_paddle

[2021-08-30 03:26] SunNy820828449 opened #35252 "使PPADDLE_ENFORCE_CUDA_SUCCESS能够check cuda driver的返回结果类型CUresult"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-08-30 03:43] OrangeAILab opened #35253 "PaddlePaddle2.1训练好的模型，转静态图后在PaddlePaddle1.8推理报：Error: Operator flatten_contiguous_range has not been registered"
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle1.8.5
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号: 八卡P40，CUDA 10.0和CUDNN 7.6
    4）系统环境：linux centos，Python版本
   File "/home/heyue05/anaconda3/envs/PaddlePaddle1.8/lib/python3.6/site-packages/paddle/fluid/executor.py", line 1071, in run
    six.reraise(*sys.exc_info())
  File "/home/heyue05/anaconda3/envs/PaddlePaddle1.8/lib/pytho

[2021-08-30 03:45] tink2123 commented on #35252
您好，可以详细描述下您的问题吗？

[2021-08-30 03:49] tink2123 commented on #35253
这个kernel是在Paddle2.1之后才注册的，1.8的时候没有这个kernel。
高版本Paddle训练好的模型不建议在低版本Paddle上预测。

[2021-08-30 03:57] MissPenguin commented on #35242
是的，修改tensor的话需要用data[i, j, k] = 1.0这种方式的。读取用两种方式都可以。

[2021-08-30 04:04] MissPenguin commented on #35243
您好，这个报错信息写的比较清楚了哈，这种用法就是错误的，你的idx是个tensor，那么只能传这一个参数，要么就直接用普通数值进行索引

[2021-08-30 04:10] MissPenguin commented on #35240
请问这个问题稳定复现吗，可以把报错时logical_not的输入打印出来看下吗

[2021-08-30 04:47] T8T9 commented on #35169
这个合理不合理, 要看最终的效果吧

[2021-08-30 04:58] T8T9 commented on #35164
这个scale是框架自动加上去的, 不是错误哈. 这个是为了解决框架问题, 后续我们把具体原因加在文档中.

[2021-08-30 05:00] T8T9 commented on #35163
没有影响的, 可能你的cpu比较老, 不支持avx加速, 不影响使用, 就是性能可能低一些

[2021-08-30 05:03] OliverLPH commented on #34723
Hi, @jakpiase
my test environment was built by docker, not a virtual machine, and cpu is 6148 which is support AVX512 instruction set. followed are some more environment informations.
[code]

The attached files are solov2, fcos models verbose log with "DNNL_VERBOSE=1".
[solov2_log1.txt](https://github.com/PaddlePaddle/Paddle/files/7074289/solov2_log1.txt)
[fcos_log1.txt](https://github.com/PaddleP

[2021-08-30 05:04] jiaohuix opened #35257 "[论文复现] ConvS2S中缺个conv_tbc的算子，用conv1d后速度慢了五六倍"
- 标题：ConvS2S中缺个conv_tbc的算子，用conv1d后速度慢了五六倍
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU：i5
    3）GPU：3060 cuda11.2 cudnn8.0
    4）系统环境：windows10，Python版本3.6.8
- 模型信息
    1）模型名称 ConvS2S
    2）使用数据集名称 WMT'14 English to German
    3）模型链接 https://github.com/pytorch/fairseq
- 复现信息：把fairseq/fairseq/modules/conv_tbc.py中conv_tbc函数return换成
-        return F.conv1d(input.permute(1, 2, 0), self.weight, se

[2021-08-30 05:18] jiaohuix commented on #35257
还有把weights变成：
        self.weight = self.create_parameter(shape=[out_channels, in_channels,self.kernel_size[0]])

[2021-08-30 05:28] T8T9 commented on #35182
不是很清楚你这个问题, 如果不想生成计算图可以用no_grad
@KinvenW @JiabinYang

[2021-08-30 06:06] MarToonLi commented on #35235
**首先，YOLOX模型使用的是silu激活函数；**

**其次，参考链接：https://github.com/PaddlePaddle/Paddle/issues/35241#issue-981989848 ；**
也提到了相同的问题，解决途径是：
[code]
我经过修改确实也避免了梯度为0的情况，但是运行几个step之后，又出现了以下719 cuda error，而这一情况，目前我也是没有思路了。

**具体的过程是：**
而在使用silu函数的情况下，首先运行到一定step之后，网络模型的前几层，假设是第4层开始，第四层的weigh的梯度先出现一个nan值，之后网络的第一层、第二层和第三层的梯度也都全变成了nan。
而进行了参数更新之后，网络模型的全部参数将会全部变成nan。
随后，各层输出自然而然也会变成nan，有时会变成inf；
这就是我打印的模型参数的参数值、梯度值和输出

[2021-08-30 06:50] IT-Xue commented on #34167
您好，这个现在咋样了，针对华为atlas300的这个适配。

[2021-08-30 07:02] songrui2009 commented on #35238
感谢

[2021-08-30 07:18] justld commented on #34526
【队名】：dudu

【序号】：101

【论文】：ESPNetv2: A Light-weight, Power Efficient, and General Purpose Convolutional Neural Network

【状态】：提交

【repo链接】：https://github.com/justld/EspnetV2_paddle

[2021-08-30 07:21] xiebaiyuan commented on #35164
OK 到时候也quote我下吧

[2021-08-30 07:24] GuoQuanhao commented on #35244
[code]
[code]
[code]
[code]

[2021-08-30 07:33] justld commented on #34526
【队名】：dudu

【序号】：30

【论文】：ESPNetv2: A Light-weight, Power Efficient, and General Purpose Convolutional Neural Network

【状态】：提交

【repo链接】：https://github.com/justld/EspnetV2_paddle

[2021-08-30 07:42] w5688414 opened #35266 "请问一下，paddle有清理显存的api吗？"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle2.1
    2）CPU/GPU：v100
    3）系统环境：linux，aistudio环境
    4）Python版本号 python3.7
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
-

[2021-08-30 07:59] littletomatodonkey commented on #34167
你好，已经上线了，可以看下
https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html

[2021-08-30 08:21] IT-Xue commented on #34167
感谢您的回复，请问paddlepaddle有计划支持吗？

[2021-08-30 08:32] OrangeAILab commented on #35253
非常感谢~  我这边是2.1版本的模型转静态图，以前的推理代码库版本是1.8的，想把2.1的模型部署有没有好的解决方案呢

[2021-08-30 08:52] XYZ-916 opened #35269 "make -j$(nproc) 卡在了[100%] Built target paddle_python后面"
cmake .. -DPY_VERSION=3.8 -DWITH_GPU=OFF -DWITH_TESTING=ON -DCMAKE_BUILD_TYPE=Develop -WITH_DISTRIBUTE=ON
make -j$(nproc)
卡在了“Built target paddle_python”后面，许久没有log输出。

[2021-08-30 09:04] tink2123 commented on #35266
暂时没有这个api
训练之前可以尝试设置环境变量：
[code]
让显存按需增长试试

[2021-08-30 09:05] tink2123 commented on #35269
多用几个核来编译试试呢？

[2021-08-30 09:12] XYZ-916 commented on #35269
make -j$(nproc) 是不是最大化利用？

[2021-08-30 09:18] tink2123 commented on #35269
是的，这样是用了全部的核来编译。卡了多久呢，退出重新编译一次试下？

[2021-08-30 09:20] XYZ-916 commented on #35269
卡了半个多小时了，重试了一次还是卡在了同样的地方。

[2021-08-30 09:25] lidanqing-vv commented on #34492
@dwSun  Hi, this issue is solved with PR #34492 and it is merged, Could you test it ?

[2021-08-30 09:26] Lieberk commented on #34526
【队名】：小丑不丑

【序号】：10

【论文】：Show, Attend and Tell: Neural Image Caption Generation with Visual Attention

【状态】：提交

【repo链接】：https://github.com/chenlizhi-1013/paddle-show-attend-and-tell-captioning

[2021-08-30 09:31] tink2123 commented on #35269
-DWITH_TESTING=OFF
 -DCMAKE_BUILD_TYPE=Release

试下修改这两个值呢？

[2021-08-30 09:33] Heeenrrry commented on #35244
paddle2.0暂时没有这个用法，我们评估后续是否提供，感谢您的提问。

[2021-08-30 09:33] XYZ-916 commented on #35269
我需要做TESTING,代码分支是Develop，不能改吧。

[2021-08-30 09:37] T8T9 commented on #35169
请问一下, 您的具体使用场景是什么呢? 有用到paddle的什么套件么?

[2021-08-30 09:38] tink2123 commented on #35269
-DCMAKE_BUILD_TYPE=Release
这个与代码分支无关，只有 Release 和 Debug 两个选项，没有Develop这个选项的。需要Testing的话，就只改下build_type试试吧.

另外你是在什么系统上编译的呢？

[2021-08-30 09:42] XYZ-916 commented on #35269
![QQ20210830-174027](https://user-images.githubusercontent.com/14884056/131320196-86bf0077-e5f5-47ff-ade7-d1b9c32e2126.png)
Linux系统编译。

[2021-08-30 11:08] hbwx24 commented on #35241
这是由于output[:, :, :2] =value这种调用了set_value_op,这个op会发生梯度截断，梯度没办法传回output，修复这个问题的pr已经提交，在随后的版本会修复这个问题，但在2.1.2这个问题仍然存在。感谢您的宝贵意见。

[2021-08-30 12:31] jay-z20 commented on #34526
【队名】：跳水女王

【序号】：26

【论文】：YOLACT++: Better Real-time Instance Segmentation

【状态】：提交

【repo链接】：https://github.com/jay-z20/yolact2-paddle

[2021-08-30 13:15] tianshuo78520a commented on #35269
应该是在打whl包，看下是否有足够空间？

[2021-08-30 13:18] tianshuo78520a commented on #35269
或者可以试试改成-DCMAKE_BUILD_TYPE=Release

[2021-08-31 01:06] XYZ-916 commented on #35269
-DCMAKE_BUILD_TYPE=Release，已解决，谢谢。

[2021-08-31 01:06] #35269 closed, assigned to tink2123

[2021-08-31 01:14] ToheartZhang commented on #34526
【队名】：Paddorch

【序号】：68

【论文】：A  Structured Self-attentive Sentence Embedding

【状态】：提交

【repo链接】：https://github.com/paddorch/SelfAttnSent.paddle

[2021-08-31 02:20] GuoQuanhao commented on #35244
好的，谢谢

[2021-08-31 02:20] #35244 closed, assigned to MissPenguin

[2021-08-31 02:53] lidanqing-vv commented on #34492
@dwSun  Hi the fix PR has been merged into develop. Please use newest develop to verify. Thanks.

[2021-08-31 02:59] hrdwsong commented on #34526
【队名】：深智源

【序号】：34

【论文】：Prototypical Networks for Few-shot Learning

【状态】：提交

【repo链接】：https://github.com/hrdwsong/ProtoNet-Paddle

[2021-08-31 03:13] aishangmaxiaoming opened #35284 "paddle 安装后不能使用"
<img width="1102" alt="image" src="https://user-images.githubusercontent.com/67897601/131435741-80c35ee2-4513-40c4-89af-3ab3d3884e73.png">
cuda 10.1 paddle 2.1.1 麻烦帮看下这个错

[2021-08-31 04:55] lyuwenyu commented on #30979
1.  Tensor.grad.set_value
2. 给需要修改grad的Tensor注册一个反向的hook

[2021-08-31 06:06] jesen8 commented on #35065
@chenjiaoAngel  您好，使用最新的develop分支编译，依然还有这个错误

[2021-08-31 06:42] 771979972 commented on #34526
【队名】：不想改代码

【序号】：48

【论文】：Only a Matter of Style: Age Transformation Using a Style-Based Regression Model

【状态】：提交

【repo链接】：https://github.com/771979972/paddle-SAM

[2021-08-31 06:42] 771979972 commented on #34526
【队名】：不想改代码

【序号】：47

【论文】：Encoding in Style: a StyleGAN Encoder for Image-to-Image Translation

【状态】：提交

【repo链接】：https://github.com/771979972/Paddle_pSp

[2021-08-31 06:57] Leiyi-HU opened #35306 "【论文复现】ImageNet数据集加载问题"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU：Intel Xeon*32
    3）GPU：TeslaV100*4
    4）系统环境：AIStudio单机多卡环境；
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 训练信息
    1）单机多卡

[2021-08-31 07:00] ZHUI commented on #35284
厂内用户，已回复解决，

[2021-08-31 07:16] juncaipeng opened #35307 "Segmentation model gets wrong result when enable MKLDNN"
Paddle: develop branch

[code]

[2021-08-31 07:58] #34574 closed, assigned to wozna, lidanqing-vv

[2021-08-31 08:30] lidanqing-vv commented on #35211
@baoachun
Jacek checked the lib and found those functions are already in Paddle mkl lib. Are you able to get from customer some ready test demo or some new Paddle branch that contains usage of these functions (runnable). Jacek will test and debug.

[2021-08-31 08:51] GuoQuanhao opened #35314 "interpolate报错"
platform: AIStudio
Version: 2.1.2

[code]
[code]

[2021-08-31 08:58] #33716 closed, assigned to juncaipeng

[2021-08-31 09:26] tink2123 commented on #35314
输入shape过大的时候，会出现越界的情况。这个是已知问题，正在修复中。

[2021-08-31 09:39] ziyaxuanyi opened #35319 "训练问题"
使用rtx3090显卡训练一直没问题。但手动停止训练后，测试模型效果，然后继续训练会报错

cuda error(2).out of memory.
[Advise:The API call failed because it was unable to allocate enough memory to perform the requested operation.](at /paddle/paddle/fluid/platform/stream/cuda_stream.cc:49)
[operator <gaussian_random> error]

检查过GPU没有任何其他进程在运行，内存充足。好像就是这个显卡上有其他进程占用显存，但nvidia-smi就是看不到任何进程在上面，显卡内存使用率一直为0，很奇怪。

换用其他同样规格的rtx3090显卡，训练正常，代码没有任何改动，

[2021-08-31 09:55] GuoQuanhao commented on #35314
好的谢谢

[2021-08-31 09:55] #35314 closed, assigned to ZHUI, tink2123

[2021-08-31 09:58] ZHUI commented on #35319
如果是 linux 系统的话，可以 `fuser -v /dev/nvidia*` 查看占用设备进程。 `fuser -kv /dev/nvidia*` 可以全部kill掉。

[2021-08-31 10:59] baoachun commented on #35211
I want to know which file is this function in? Or how to use this function? Should I include some related head files？

[2021-08-31 11:27] iclementine commented on #35211
We are implementing MKL-based fft using the functions documented here.
https://software.intel.com/content/www/us/en/develop/documentation/onemkl-developer-reference-fortran/top/fourier-transform-functions.html

It includes
[code]

So `mkl_dfti.h` and `libmkl_cdft_core.so` and other necessary dependencies are needed.
We are currently using a complete oneMKL installation to use them.

But we did not

[2021-08-31 11:30] yt605155624 opened #35324 "Operator slice does not have kernel for data_type[bool]"
bool 类型的 tensor 没有切片操作

[2021-08-31 11:41] hbwx24 commented on #35324
感谢您的反馈，后续将视情况完善该功能。

[2021-08-31 11:42] yuxulingche opened #35325 "NEXTVLAD.pdopt not exits"
I am finetune the nextvlad on my dataset, but occur error: AssertionError: Optimizer file [./nextvlad/model_weights/NEXTVLAD.pdopt] not exits！need to help!

[2021-08-31 11:45] yuxulingche commented on #35325
能下载的预训练模型只有NEXTVLAD.pdparams，为什么还要加载一个NEXTVLAD.pdopt

[2021-08-31 12:43] ZHUI commented on #35325
方便的话，可以贴一下你 load的代码。.pdopt 是存储optimizer的一些动量之类的变量，.pdparams 是参数变量。

[2021-08-31 12:53] 771979972 commented on #34526
【队名】：不想改代码

【序号】：48

【论文】：Only a Matter of Style: Age Transformation Using a Style-Based Regression Model

【状态】：提交

【repo链接】：https://github.com/771979972/paddle-SAM

[2021-08-31 13:16] yuxulingche commented on #35325
感谢回复，load代码如下：
fluid.load(train_prog, model_path=args.resume, executor=exe)

版本是2.1.2，调用到的是io.py中的load(program, model_path, executor=None, var_list=None)方法，报错的是2081行

[2021-08-31 13:27] yuxulingche commented on #22812
@aiot-tech 你好，请问你的问题解决了吗，是怎么解决的呢，我现在也在finetune NextVlad，想把最后一层由3862维改为我自己数据集的类别数

[2021-08-31 14:20] fuqianya commented on #34526
【队名】：fuqianya

【序号】：60

【论文】：Vilbert: Pretraining task-agnostic visiolinguistic representations for vision-and-language tasks

【状态】：提交

【repo链接】：https://github.com/fuqianya/ViLBERT-Paddle

[2021-08-31 14:59] VolnaTime commented on #34526
【队名】：玩累了做科研

【序号】：62

【论文】：Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Networks

【状态】：报名

【repo链接】：https://github.com/LoganNoah/MTCNN-Paddle

[2021-08-31 15:23] jiaqianjing commented on #34526
【队名】：神仙会

【序号】：66

【论文】：Universal-Language-Model-Fine-tuning-for-Text-Classification
【状态】：报名

【repo链接】：https://github.com/jiaqianjing/ULMF4TextClassification

[2021-08-31 15:55] jurafish opened #35333 "vs2019 编译2.1.2 release版，出现错误 C2672“elementwise_add_to”: 未找到匹配的重载函数"
错误	C2672	“elementwise_add_to”: 未找到匹配的重载函数	selected_rows_functor	I:\Paddle-2.1.2\paddle\fluid\operators\math\selected_rows_functor.cc	428
错误	C2893	未能使函数模板“std::enable_if<std::is_floating_point<_Ty>::value,void>::type paddle::operators::math::scatter::elementwise_add_to(paddle::operators::math::BlasT<paddle::platform::CPUDeviceContext,T> *,size_t,const T *,T *)”专用化	selected_rows_functor	I:\Paddle-2.

[2021-09-01 02:02] TCChenlong commented on #35257
补充一个case：
[code]
output:
[code]

[2021-09-01 02:14] Molimicha-tech commented on #34526
【队名】：我试试
【序号】：67
【论文】：Bag of Tricks for Efficient Text Classification
【状态】：报名
【repo链接】：https://github.com/Molimicha-tech/FastText-Paddle

[2021-09-01 03:40] ZHUI commented on #35325
此处指定model_path，可以单独加载NEXTVLAD.pdparams

`model_path=./nextvlad/model_weights/NEXTVLAD.pdparams`

如果不指定文件名后缀，会尝试加载`.pdparams, pdopt `

[2021-09-01 04:34] wuxiaodong1014 opened #35344 "官网paddleX的文档及代码,运行时报错!"
您好!

我在运行官网上paddleX的代码时报错,

代码网址https://www.paddlepaddle.org.cn/tutorials/projectdetail/1991056

我把环境的版本换成 paddle2.0 或者paddle2.1 也还是报错的;

但是,在大约两周前,我在paddle2.1上运行这些paddleX的代码,是正常的;

是不是这几天 paddleX做了升级?

因为,现在,我在paddle2.1环境下,用这个安装命令pip install paddlex==1.3.11  ,再运行官网上的代码,就不报错了.

[2021-09-01 06:17] FlyingQianMM commented on #35344
你好，这个教程需要使用paddlex==1.3.11才能正常运行。paddlex升级了2.0.0动态图版本，pip install paddlex会默认安装2.0.0版本的。我们会尽快修复该教程文档，在安装时指定版本号为1.3.11。

可至PaddleX github repo https://github.com/PaddlePaddle/PaddleX 查阅2.0版本的tutorials，API文档，和案例介绍等内容。

[2021-09-01 06:32] TCChenlong commented on #35257
可以用 conv1d 绕过，且速度高于竞品
![image](https://user-images.githubusercontent.com/11935832/131623112-b24b5918-ac8a-4896-ab8e-43581e19d17a.png)
![image](https://user-images.githubusercontent.com/11935832/131623131-150776f2-d068-41cd-9a54-c7dc6bd1e562.png)

[2021-09-01 06:35] #35257 closed, assigned to tink2123

[2021-09-01 07:01] TCChenlong commented on #35257
但是，如果 shape 改为  [512, 64, 512]，则时间变为
![6c13c5e9d064225111524cba619af517](https://user-images.githubusercontent.com/11935832/131626682-ed0e1648-af8f-43ee-8400-6252f4a13275.png)

[2021-09-01 07:47] yyMoming commented on #34526
【队名】：摸鱼对不对队

【序号】：67

【论文】：Bag of Tricks for Efficient Text Classification

【状态】：报名

【repo链接】：https://github.com/yyMoming/Paddle-EfficientText

[2021-09-01 07:47] icey-zhang commented on #34526
【队名】：科研开小差
【序号】：103
【论文】：ClassSR: A General Framework to Accelerate Super-Resolution Networks by Data Characteristic
【状态】：提交
【repo链接】：https://github.com/icey-zhang/ClassSR_paddle

[2021-09-01 09:22] HuangLK opened #35362 "不同类型的tensor数值计算之后类型不符合编程常识"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：2.1
2）CPU/GPU：CPU
3）系统环境：任意

问题：不同类型的tensor数值计算之后类型不符合编程常识。
![image](https://user-images.githubusercontent.com/3390197/131647257-26312e37-de7b-4893-aee6-b51d75fbc36c.png)

对比Pytorch的结果：
![image](https://user-images.githubusercontent.com/3390197/131646634-fec558e3-5cee-4408-bc36-ff6b1f542589.png)

[2021-09-01 12:06] Windxy commented on #34526
【队名】：明月长安

【序号】：12

【论文】：YOLOv4: Optimal Speed and Accuracy of Object Detection

【状态】：提交

【repo链接】：https://github.com/Windxy/YOLOv4-Based-on-PaddleDetection

[2021-09-01 12:08] WangChen0902 commented on #34526
【队名】：摸鱼对不对队

【序号】：62

【论文】：Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Networks

【状态】：报名

【repo链接】：https://github.com/WangChen0902/MTCNN-Paddle

[2021-09-01 12:09] WangChen0902 commented on #34526
【队名】：真不错

【序号】：62

【论文】：Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Networks

【状态】：报名

【repo链接】：https://github.com/WangChen0902/MTCNN-Paddle

[2021-09-01 21:42] jordan2013 commented on #34526
【队名】：Jordan2020

【序号】：111

【论文】：Exploring Cross-Image Pixel Contrast for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/Nullius-2020/ContrastiveSeg-Paddle

[2021-09-02 02:25] jesse01 commented on #35240
应该是bce_loss_op报错的原因，出错提示位置误导，这个issue不用管了

[2021-09-02 02:25] #35240 closed, assigned to MissPenguin

[2021-09-02 02:29] zhangting2020 commented on #34684
经过确认，是需要支持vgg19这个接口下载预训练模型的，我们将在新版本中修复。

[2021-09-02 02:32] tink2123 commented on #35253
建议升级一下推理库，和Paddle版本保持一致。

[2021-09-02 02:40] jesse01 commented on #35243
这种用法为什么是错误的，请看numpy的操作，这种处理在目标检测里很常用啊
![image](https://user-images.githubusercontent.com/6436061/131772756-c5f1cb70-89be-4e47-9d41-6ec720134839.png)

[2021-09-02 02:59] jesse01 opened #35384 "[论文复现]权重tensor直接运算赋值无效"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU：任意
    3）GPU：任意
    4）系统环境：任意
- 复现信息：100%重现
- 问题描述：使用ema方法训练模型时，直接对权重tensor运算赋值后，权重tensor的内容不变。
方法如下：
![image](https://user-images.githubusercontent.com/6436061/131773866-5e91597f-dc41-46ca-81ae-395deae66fe6.png)

改成如下方法，则可以赋值成功：
![image](https://user-images.githubusercontent.com/6436061/131774521-818f62ae-2c67-411a-ac60-c35e485c68fd.png)

建议：
作为BUG进

[2021-09-02 03:01] jesse01 commented on #35384
第二张图截错了，更正：
![image](https://user-images.githubusercontent.com/6436061/131774812-7690e150-2f94-420d-8aa4-9f81ad7c8bc5.png)

[2021-09-02 03:31] wawltor commented on #35384
这个是paddle的tensor的操作不是一个inplace操作，第一张图的操作都会产出一个新的变量，通过set_value才能对tensor进行inplace操作

[2021-09-02 07:35] chenwhql commented on #35362
感谢反馈，这个属于运算的类型提升问题，是paddle预期内的问题，paddle现在不支持类型提升，且短期内也没有计划去支持

由于历史原因，这里的策略是向左操作数对齐，实际上应该是直接报错，如果你用API的话会报错的，考虑到改变这个行为可能会造成不兼容问题，所以这里暂时不能改动，为了让用户能够感知到这一点，我们暂时加了警告提示

类型提升padle也可以支持，之前也开发过类似的功能，但决策上没有合入，可以参考 https://github.com/PaddlePaddle/Paddle/pull/29265

之前决策的理由如下，供参考

![image](https://user-images.githubusercontent.com/22561442/131802078-4818e347-3191-47cf-8084-8a40b9c37dac.png)

[2021-09-02 07:38] Qdriving commented on #34526
【队名】：linqin2011

【序号】：97

【论文】：BERT4Rec：Sequential Recommendation with Bidirectional Encoder Representations from Transformer

【状态】：提交

【repo链接】：https://github.com/Qdriving/Bert4Rec_Paddle2.0

[2021-09-02 07:44] yt605155624 opened #35397 "set_global_initializer"
你好 ，根据文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/initializer/set_global_initializer_cn.html#set-global-initializer ，set_global_initializer 对其后的代码生效，文档的示例代码在最后一行添加了 nn.initializer.set_global_initializer(None) ，请问这个作用是在其后的代码块中并不使用之前的 set_global_initializer 的设置，但是在 set_global_initializer 到 nn.initializer.set_global_initializer(None) 之前使用 set_global_initializer 的设置嘛？ 如果不是，如

[2021-09-02 08:04] yt605155624 commented on #35397
另外今天踩了一个坑，create_parameter 会被 set_global_initializer 影响，如果 nn.initializer.set_global_initializer(None) 的作用不是上面所说的话，能否让 set_global_initializer 也不影响 create_parameter 呢，因为文档中说明 对通过 create_global_var 、 create_tensor 等API创建的变量不会生效，请问不加入 create_parameter 是有什么设计在里面嘛¿？

[2021-09-02 08:34] zhwesky2010 commented on #35397
@yt605155624  set_global_initializer(weight_init, bias_init=None)可以针对weight和bias进行设置，set_global_initializer(None)会取消这个全局设置，set_global_initializer目前只影响paddle的Layer类型，例如paddle.nn.Linear类型，其他创建参数的方法是不受影响的。

[2021-09-02 08:35] justld commented on #34526
【队名】：dudu

【序号】：111

【论文】：Exploring Cross-Image Pixel Contrast for Semantic Segmentation

【状态】：报名

【repo链接】：https://github.com/justld/contrast_seg_paddle

[2021-09-02 08:51] yt605155624 commented on #35397
那么 如果我是

set_global_initializer()
... 一堆新建模型的操作
set_global_initializer(None)
一个参数设置

此时 "... 一堆新建模型的操作" 里面的参数们会被 第一个 set_global_initializer() 影响嘛？

[2021-09-02 09:30] LDOUBLEV commented on #35190
报错提示 你的输入数据shape是[3, 32, 163]，但是期望的输入是 [3, 32, 100] ，所以可以检查下你的数据resize后的值；

如果你需要设置dynamic shape，确保安装的TRT是6.0版本以上的，设置dynamic shape的代码参考：https://github.com/PaddlePaddle/PaddleOCR/blob/cadc04cf6cb599bb005be344010443bcfb65e82b/tools/infer/utility.py#L224

[2021-09-02 10:37] zhwesky2010 commented on #35397
@yt605155624 会的，set_global_initializer之后会一直生效，除非set_global_initializer(None)之后

[2021-09-02 10:45] yangyan1227 opened #35409 "log_softmax"
log_softmax 在1.6-1.7版本中对应的是什么

[2021-09-02 11:39] pxy963 commented on #34526
【队名】：Code Attention

【序号】：104

【论文】：Neural Collaborative Reasoning

【状态】：报名

【repo链接】：https://github.com/pxy963/NCR-paper-reproduction

[2021-09-02 12:10] CAODH opened #35411 "复现SIGN出错"
W0902 20:02:11.228497 1068467 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.2, Runtime API Version: 11.2
W0902 20:02:11.283596 1068467 device_context.cc:422] device: 0, cuDNN Version: 7.6.
Traceback (most recent call last):
  File "train.py", line 168, in <module>
    model = SIGN(args)
  File "/home/duanhua/projects/paddle/PaddleHelix/apps/drug

[2021-09-02 12:28] zhangxin-xd commented on #34526
【队名】：chuchu和副本

【序号】：113

【论文】： Category-Level Adversarial Adaptation for Semantic Segmentation using Purified Features

【状态】：报名

【repo链接】：https://github.com/zhangxin-xd/CLAN

[2021-09-02 12:28] CAODH commented on #35411
cpu 上用 paddle.utils.run_check()没问题的
（slurm 集群）

[2021-09-02 13:21] 771979972 commented on #34526
【队名】：不想改代码

【序号】：47

【论文】：Encoding in Style: a StyleGAN Encoder for Image-to-Image Translation

【状态】：提交

【repo链接】：https://github.com/771979972/Paddle_pSp

[2021-09-02 13:27] wawltor commented on #35409
log_softmax 在1.6-1.7版本中没有实现， 需要升级到最新的版本

[2021-09-02 13:30] wawltor commented on #35411
麻烦提供一下你现在的显卡类型，cudnn版本，cuda版本

[2021-09-02 13:37] CAODH commented on #35411
cuda 11.2  cudnn 7.6.5 rtx 3080
pytorch可以正常使用
![image](https://user-images.githubusercontent.com/53987775/131853386-8ed8b1f0-fb88-495e-a38d-586a29f9dfd3.png)

[2021-09-02 13:38] wawltor commented on #35411
建议升好一下cudnn的版本  cuda11.2需要配合cudnn 8来使用

[2021-09-02 13:47] CAODH commented on #35411
具体那个版本呢？方便说一下嘛。谢谢！

[2021-09-02 14:02] wawltor commented on #35411
cudnn版本升级8.1

[2021-09-02 14:56] CAODH commented on #35411
解决了！ cuda 11.3 cudnn 8.2.1

[2021-09-02 14:56] CAODH commented on #35411
好了，谢谢！

[2021-09-02 14:58] CAODH commented on #35411
update cuda to 11.3 and cudnn to 8.21.1 will fix this problem ！
thanks all

[2021-09-02 14:58] #35411 closed, assigned to wawltor

[2021-09-02 15:22] jesse01 commented on #35242
data[i][j]这种方式赋值允许调用，但是赋值不成功，这应该作为BUG进行修复。无论哪个软件data[i][j]与data[i, j]表示都是等价且行为一致，请看以下例子：
1.numpy
![image](https://user-images.githubusercontent.com/6436061/131870643-95298a1f-740f-4d15-9805-d8b804a0b5e9.png)

2.pytorch
![image](https://user-images.githubusercontent.com/6436061/131870863-d9f2fdc2-4cff-4bb7-b057-37215b76084f.png)

3.tensorflow
![image](https://user-images.githubusercontent.com/64360

[2021-09-03 01:40] holazzer commented on #34526
【队名】：真棒

【序号】：81

【论文】：MobileBERT: a Compact Task-Agnostic BERT for Resource-Limited Devices

【状态】：报名

【repo链接】：https://github.com/holazzer/MobileBERT-paddle

[2021-09-03 02:37] #35136 closed, assigned to qili93

[2021-09-03 03:06] #35008 closed, assigned to wanghuancoder

[2021-09-03 03:06] #34544 closed, assigned to wanghuancoder, DannyIsFunny

[2021-09-03 08:23] Supercgong commented on #34526
【队名】：szy_ai

【序号】：6

【论文】： Scaled-YOLOv4: Scaling Cross Stage Partial Network

【状态】：报名

【repo链接】：https://github.com/Supercgong/yolov4-paddle

[2021-09-03 08:31] CheQiXiao opened #35441 "PaddleClas如何在导出模型时导出infer_cfg.yaml?"
请问PaddleClas（版本2.2.1）如何在导出模型时导出inference_cfg.yaml文件呢？
PaddleDetection的export.py是可以同步导出这个文件的。Paddle Inference的C++ Windows编译部署需要这个文件，但是下面提供的yaml模板似乎用不了。

deploy/cpp/docs/models/paddleclas.md · PaddlePaddle/PaddleX - Gitee.com

deploy/cpp/docs/compile/paddle/windows.md · PaddlePaddle/PaddleX - Gitee.com

![image](https://user-images.githubusercontent.com/50894398/131975548-a2f288e1-da49-49c8-b23f-cb6

[2021-09-03 08:55] SystemErrorWang commented on #10196
同样的问题，docker内非root权限跑不起来，和楼上一样mkdir的时候报错
能不能不要import的时候直接mkdir，在调用的时候再mkdir和下载呢？

[2021-09-03 10:05] zmdcs opened #35444 "PaddleDetection中的剪枝用的什么剪枝方法呢？"
有没有文档具体写了呢？是根据参数裁剪对loss的影响来剪枝的吗？还是别的方法呢？

[2021-09-03 11:48] yifwahaha commented on #34526
【队名】：猪公山扛把子
【序号】：103

【论文】：ClassSR: A General Framework to Accelerate Super-Resolution Networks by Data Characteristic

【状态】：报名

【repo链接】：https://github.com/Scallions/ClassSR_paddle

[2021-09-03 12:13] icey-zhang commented on #34526
【队名】：科研开小差

【序号】：103

【论文】：ClassSR: A General Framework to Accelerate Super-Resolution Networks by Data Characteristic

【状态】：提交

【repo链接】：https://github.com/icey-zhang/ClassSR_paddle

[2021-09-03 12:43] #35384 closed, assigned to wawltor

[2021-09-03 12:43] #35397 closed, assigned to wawltor

[2021-09-03 12:43] #35409 closed, assigned to wawltor

[2021-09-03 13:23] CuberrChen opened #35452 "【论文复现】RuntimeError: (PreconditionNotMet) A serious error has occurred here"
版本、环境信息：
   1）PaddlePaddle版本：2.1.2
   2）CPU：Intel Xeon32
   3）GPU：TeslaV100*4
   4）系统环境：AIStudio单机多卡脚本环境；

- 训练信息
    1）单卡/多卡
    2）32G
    3）
- 复现信息：多卡训练时出现错误。模型的所有输出都用作了loss计算。我不知道问题出在哪里？是在前向推理过程中就出现了问题吗？还是梯度反向传播的时候？模型中所有参数都未设置过，backbone是直接调用，加一个Function Head。loss是自己编写的。但是在单卡环境训练时没有问题。
- 问题描述：
File "train.py", line 190, in <module>
    main(args)
  File "train.py", line 185, in main
    fp16=arg

[2021-09-03 13:25] justld commented on #34526
【队名】：dudu

【序号】：111

【论文】：Exploring Cross-Image Pixel Contrast for Semantic Segmentation

【状态】：提交

【repo链接】：https://github.com/justld/contrast_seg_paddle

[2021-09-03 13:51] Louis-YanKang opened #35454 "请问2.0版本是全开源的吗？"
最近在读paddlepaddle, 想求证一下官方paddle paddle 2.0 是全开源的吗？

[2021-09-03 14:22] jakpiase commented on #34723
Hi, I have created a PR which should fix the issue with reshape2 op causing error in fcos model. Solov2 model is causing the same error when I run it with "--enable_mkldnn=True" and "--enable_mkldnn=False". Do you think that it is an issue on our side?
Error in solov2:
![image](https://user-images.githubusercontent.com/62569058/132020946-5c370324-800e-44dc-8a70-de5f13e3f180.png)

[2021-09-03 14:55] stack-heap-overflow commented on #34794
paddle2.1.2版本在windows下(CUDA 11.4+CUDNN 8.2)遇到同样问题，dataloader迭代结束后不停止，无报错直接崩溃退出。是个很影响使用的严重bug，希望开发者能重视下这个issue。

[2021-09-04 02:34] zmdcs opened #35456 "PaddleDetection中slim剪枝下的eval.py文件的输出中有pruned FLOPS，请问这个是剪枝后节省的flops吗？"
还有这个指标是eval.py中哪一行代码输出的呢？我没有找到print（pruned FLOPS）这种字样。

[2021-09-04 02:36] jiaqianjing commented on #34526
【队名】：神仙会

【序号】：90

【论文】：ChineseBERT: Chinese Pretraining Enhanced by Glyph and Pinyin Information
【状态】：报名

【repo链接】：https://github.com/jiaqianjing/ChineseBERT-Paddle

[2021-09-04 02:37] zmdcs commented on #35456
对不起，打开错eval.py文件了，只需要问第一个问题

[2021-09-04 06:54] marsmiao opened #35459 "请问box ps代码之后会开源吗？"
如题，目前的box ps只能够拉到include & lib，想问一下之后具体的实现会开源吗？

[2021-09-04 07:47] zmdcs opened #35460 "visualDL工具在脚本任务中如何使用？"
按照教程在命令行输入了visualdl --logdir ~/PaddleDetection/static/vdl_dir/scalar --port 8080指令，但运行后访问http://localhost:8080/显示无法访问，为什么呢？

[2021-09-04 08:29] GuoQuanhao commented on #34526
【队名】：陈书记的小跟班

【序号】：6

【论文】：Scaled-YOLOv4: Scaling Cross Stage Partial Network

【状态】：报名&提交

【repo链接】：https://github.com/GuoQuanhao/ScaledYOLOv4-Paddle
【aistudio链接】：https://aistudio.baidu.com/aistudio/projectdetail/2337927?contributionType=1
【多卡脚本任务链接】：https://aistudio.baidu.com/aistudio/clusterprojectdetail/2326709

[2021-09-04 13:47] Soratou commented on #34526
【队名】：EL・PSY・KONGROO

【序号】：9

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/Soratou/YOLOX_paddle

[2021-09-04 13:51] yulangz commented on #34526
【队名】：队名难取啊
【序号】：69
【论文】：End-To-End Memory Networks
【状态】：提交
【repo链接】：[https://github.com/yulangz/End-to-End-Memory-Networks-in-Paddle](https://github.com/yulangz/End-to-End-Memory-Networks-in-Paddle)

[2021-09-04 14:02] songrui2009 opened #35466 "多维输入CrossEntropyLoss报错"
- 标题：多维输入CrossEntropyLoss报错
- 版本、环境信息：
Paddle version: 2.1.2
Paddle With CUDA: True

OS: Deepin 20.2
Python version: 3.7.3

CUDA version: 9.2.148
cuDNN version: None.None.None
Nvidia driver version: 460.39
- 复现信息：
- 按照文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/CrossEntropyLoss_cn.html
- 做一个[5,2,100]的input;再做一个[5,100]的label;即N=5,C=2,d1=100,调用默认loss=paddle.nn.CrossEntropy

[2021-09-04 15:25] augiot commented on #32377
厉害～

[2021-09-05 00:39] OccupyMars2030 commented on #34526
【队名】：yolov5_20210310

【序号】：38

【论文】：R-Drop: Regularized Dropout for Neural Networks

【状态】：报名

【repo链接】：https://github.com/SmirnovKol/R-Drop-Regularized-Dropout-for-Neural-Networks-Using-Paddle

[2021-09-05 03:09] LibrarristShalinward opened #35468 "关于手动设置ParamsBase的梯度的方法"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1
    2）CPU/GPU：CPU
    3）系统环境：Win10
    4）Python版本号：Python 3.8.1

- 复现论文：[Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search](https://proceedings.neurips.cc//paper/2020/file/d072677d210ac4c03ba046120f0802ec-Paper.pdf)
- 问题描述：我需要在用paddle.grad()计算模型参数的梯度后进行计算，并将结果强行设置为原模型参数的梯度。目前我尝试通过直接设置的语句来解决，但代码会出现如下报错：
![image](https://user-

[2021-09-05 04:49] Lieberk commented on #34526
【队名】：小丑不丑

【序号】：10

【论文】：Show, Attend and Tell: Neural Image Caption Generation with Visual Attention

【状态】：提交

【repo链接】：https://github.com/chenlizhi-1013/paddle-show-attend-and-tell-captioning

[2021-09-05 06:16] TouyaAkira commented on #32377
谢谢!!终于有人解决了我的问题,确实是安装了miniforge的conda,给你点赞!

[2021-09-05 09:14] GuoQuanhao opened #35473 "torch.jit.ignore()如何替代"

[2021-09-05 14:21] helloyan opened #35477 "jetpack 4.5 paddle 2.1.2 无法cmake通过，2.0.x可以"
参数
cmake .. \
          -DWITH_CONTRIB=OFF \
          -DWITH_MKL=OFF  \
          -DWITH_MKLDNN=OFF \
          -DWITH_TESTING=OFF \
          -DCMAKE_BUILD_TYPE=Release \
          -DON_INFER=ON \
          -DWITH_PYTHON=ON \
              -DWITH_XBYAK=OFF  \
              -DWITH_NV_JETSON=ON \
              -DPY_VERSION=3.6

错误
CMake Error at cmake/operators.cmake:48 (list):
  list sub-command

[2021-09-06 01:38] QubingZ opened #35478 "在Windows下用C++搭建并训练paddle模型可以吗？"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2021-09-06 01:53] wanghaoshuang commented on #35444
PaddleDetection用的是敏感度分析方法：https://paddleslim.readthedocs.io/zh_CN/latest/tutorials/pruning/static/image_classification_sensitivity_analysis_tutorial.html

[2021-09-06 03:05] jerrywgz commented on #35473
请问是什么场景下需要使用该接口？如果希望使用Paddle动态图部署，可以参考动转静功能，https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/04_dygraph_to_static/index_cn.html； 该接口类似@paddle.jit.not_to_static

[2021-09-06 03:12] jerrywgz commented on #35477
您好，目前我们正在确认问题～

[2021-09-06 03:26] jerrywgz commented on #35468
可以试下set_value的方式  https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/Tensor_cn.html#set-value-value

[2021-09-06 03:43] jerrywgz commented on #35477
这个应该是cmake版本低了，jetson自带的比较低，要去下载一个3.16以上的版本就行

[2021-09-06 05:05] frankwhzhang commented on #35478
您好 有更详细的问题或者需求说明吗？ windows是支持运行paddle的

[2021-09-06 05:51] OliverLPH commented on #34723
@jakpiase
I have confirmed when run with "--enable_mkldnn=False", the issue still exist, so it might not MKLDNN error.
But I can confirmed before https://github.com/PaddlePaddle/Paddle/commit/41c4f7238f7ca6bf35cd6741762831e3e619a087, solov2 can run successes.
@baoachun could you help investigate Solov2 model error when "--enable_mkldnn=False"?

[2021-09-06 06:10] fuqianya commented on #34526
【队名】：fuqianya

【序号】：60

【论文】：ViLBERT: Pretraining Task-Agnostic Visiolinguistic Representations for Vision-and-Language Tasks

【状态】：提交

【repo链接】：https://github.com/fuqianya/ViLBERT-Paddle

[2021-09-06 06:22] helloyan opened #35491 "智能云中的天空分割，是否有飞桨的实现？"
![image](https://user-images.githubusercontent.com/1699033/132169763-dd817510-8551-4201-a10b-46817a4e5ab7.png)

[2021-09-06 06:48] laihuihui commented on #34526
【队名】：划水

【序号】：10

【论文】：Show, Attend and Tell: Neural Image Caption Generation with Visual Attention

【状态】：报名&提交

【repo链接】：https://github.com/laihuihui/captionPaddle

[2021-09-06 07:39] #34415 closed, assigned to jczaja, Shixiaowei02, lidanqing-vv

[2021-09-06 07:45] MARD1NO opened #35498 "GPU版本和CPU版本的LayerNorm反向传播梯度不一致"
您好，我在测试paddle的LayerNorm发现了一个问题

环境：2080Ti，cuda11.2
安装paddlepaddle-gpu（cuda11.2版本）
使用下面的测试代码
[code]
我这里得到的结果是
[code]
若安装CPU版本，得到结果是
[code]
经过验证，cpu版本下运算得到的梯度是正确的，感觉是计算存在某些bug

[2021-09-06 07:58] szy981015 opened #35500 "ValueError: (InvalidArgument) GradOp is only callable when is_test is false"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2021-09-06 09:04] QubingZ commented on #35478
就是在Windows环境下，使用paddle C++API搭建卷积网络，训练模型，不是在Python平台训练模型，也不是用C++进行模型推理，是用C++平台训练模型。找了半天都是paddle_inference_api，paddle_inference_api是加载python训练好的模型进行推理，我现在是要在C++中搭建网络，训练数据并固化模型，之前使用libtorch是可以的，paddle可以吗？

[2021-09-06 09:09] wuxiaodong1014 opened #35503 "paddleX可视化端 训练报错：AttributeError: 'NoneType' object has no attribute 'strip'"
老师您好！

在用docker中安装好的paddleX可视化端 ，进行训练时报错，错误提示：

AttributeError: 'NoneType' object has no attribute 'strip'

请问老师，这是什么原因呢？

[2021-09-06 09:49] AndPuQing commented on #34526
【队名】：就挺秃然的

【序号】：28

【论文】：Context Prior for Scene Segmentation

【状态】：提交

【repo链接】：https://github.com/AndPuQing/ContextPrior_Paddle

[2021-09-06 09:58] frankwhzhang commented on #35500
报错原因是is_test属性为true时 没有反向梯度

[2021-09-06 10:02] Superjomn commented on #35459
你好，目前正在计划中

[2021-09-06 10:26] #34492 closed, assigned to jczaja, FlyingQianMM, lidanqing-vv

[2021-09-06 10:36] yghstill commented on #35456
@zmdcs https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/static/slim/prune/eval.py#L134-L135  这里打印的是裁剪掉的flops的百分比，如果想打印剪裁后的flops，打印pruned_flops字段即可

[2021-09-06 11:22] rainyfly commented on #35460
请问您运行visualdl的主机和您的浏览器的主机是同一台主机吗，如果不是同一台主机，您可以试试加上 --host 0.0.0.0，然后根据运行visualdl的主机的ip来进行访问。如果还是报错，您可以截取一些图以便让我们更好地分析错误产生的原因。

[2021-09-06 11:47] will-jl944 commented on #35503
请问运行的是什么任务，什么模型，什么格式的数据集？

可能是数据集的txt文件某一行读取不成功，建议检查一下，不要包含中文以及特殊字符。

[2021-09-06 11:48] zmdcs commented on #35460
是一台电脑，就应该是一台主机吧？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月6日(星期一) 晚上7:22
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] visualDL工具在脚本任务中如何使用？ (#35460)

请问您运行visualdl的主机和您的浏览器的主机是同一台主机吗，如果不是同一台主机，您可以试试加上 --host 0.0.0.0，然后根据运行visualdl的主机的ip来进行访问。如果还是报错，您可以截取一些图以便让我们更好地分析错误产生的原因。

—
You are receiving this becau

[2021-09-06 11:51] zmdcs commented on #35444
所以这个敏感度，就是修剪卷积层对mAP值的影响大小吧？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月6日(星期一) 上午9:53
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] PaddleDetection中的剪枝用的什么剪枝方法呢？ (#35444)

PaddleDetection用的是敏感度分析方法：https://paddleslim.readthedocs.io/zh_CN/latest/tutorials/pruning/static/image_classification_sensitivity_analysi

[2021-09-06 11:51] rainyfly commented on #35460
是的，您可以把运行 'visualdl --logdir ~/PaddleDetection/static/vdl_dir/scalar --port 8080'指令时候终端的输出，以及~/PaddleDetection/static/vdl_dir/scala这个目录，还有浏览器的显示页面截屏给我们看一下

[2021-09-06 11:55] zmdcs commented on #35460
------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月6日(星期一) 晚上7:51
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] visualDL工具在脚本任务中如何使用？ (#35460)

是的，您可以把运行 'visualdl --logdir /PaddleDetection/static/vdl_dir/scalar --port 8080'指令时候终端的输出，以及/PaddleDetection/static/vdl_dir/scala这个目录，还有浏览器的显示页面截屏给我们看一下

—
You are receiving t

[2021-09-06 11:56] zmdcs commented on #35460
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年9月6日(星期一) 晚上7:51
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [PaddlePad

[2021-09-06 12:14] #35452 closed, assigned to gongweibao, ForFishes

[2021-09-06 12:31] bofen97 commented on #34526
【队名】：百度飞桨

【序号】：74

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/bofen97/DeBERTa-PdddlePaddle

[2021-09-06 12:34] tyfeng1997 commented on #34526
【队名】：巅峰2200分

【序号】：74

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/bofen97/DeBERTa-PdddlePaddle

[2021-09-06 12:36] HydrogenSulfate commented on #35466
你好目前CrossEntropyLoss的文档说明确实存在问题，最近已经在develop分支中对其进行了[修复](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/CrossEntropyLoss_cn.html#xingzhuang)
![image](https://user-images.githubusercontent.com/23737287/132218006-26108133-6123-470f-a6ff-83da2ecc9a51.png)
**input的形状中通道需要放在最后**，将input的形状变为[5,100,2]应该能正常运行了
![image](https://user-images.githubusercontent.com/23737287/1322183

[2021-09-06 13:43] hailong23-jin opened #35511 "paddle 2.1 版本支持稀疏矩阵运算吗？"
最近在实现图神经网络相关的内容，但是没有找到对应的稀疏矩阵的处理API。请问有相关的功能吗？

[2021-09-06 14:47] lazyn1997 commented on #34526
【队名】：人工智障

【序号】：9

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/lazyn1997/YOLOX

[2021-09-06 14:49] lazyn1997 commented on #34526
【队名】：人工智障

【序号】：9

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/lazyn1997/YOLOX

[2021-09-07 01:37] huilin16 opened #35515 "请问paddle的预训练模型如何fine tune"
我使用paddle.vision.models.resnet50(pretrained=True)加载了预训练模型，我想对最后的fc层进行训练，其余参数不变，请问应该如何操作

[2021-09-07 02:08] thunder95 opened #35518 "【论文复现】经过batch normalization会输出NAN"
经过一定epoch训练后， 输入不是NAN，但是经过BN会输出NAN， 请专家们给个建议，怎么解决？

[code]

[2021-09-07 03:00] huilin16 opened #35519 "paddle中是否有pack_padded_sequence相关的api"
paddle如果实现torch.nn.utils.rnn.pack_padded_sequence的功能

[2021-09-07 03:01] pdoublerainbow commented on #34526
【队名】：lmliu

【序号】：61

【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild

【状态】：报名

【repo链接】：https://github.com/pdoublerainbow/RetinaFace_paddle

[2021-09-07 03:14] Ligoml opened #35520 "【论文复现赛】grad不允许直接赋值修改"
在论文复现赛中遇到的问题，目前已经根据历史issue解决，但希望飞桨后续考虑加上
- 赛题信息
赛题序号：39 Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search
赛题类型：图像分类
- 需求描述
希望飞桨有类似torch.autograd.grad的函数，在复现赛题时牵扯到把上一步得到的梯度赋给变量进行梯度下降，需要拿到grad_outputs参数并修改，但是飞桨的grad不允许直接赋值修改，会报错 can't set attribute
- 解决方式
参考了两个issue，目前可以绕过去继续复现
https://github.com/PaddlePaddle/Paddle/issues/30979
https://github.com/PaddlePaddle/P

[2021-09-07 04:02] mygithubdream commented on #34526
【队名】：梦想智能

【序号】：86

【论文】：SqueezeBERT: What can computer vision teach NLP about efficient neural networks?

【状态】：报名

【repo链接】：https://github.com/mygithubdream/squeezebert_repro

[2021-09-07 04:27] heavengate commented on #35515
`paddle.vision.models.resnet50(pretrained=True, num_classes=-1)`这样网络里面就不会加fc层，可以自行添加fc层，在网络里对resnet50的输出设置`x.stop_gradient=True`

[2021-09-07 04:29] heavengate commented on #35518
可能是梯度太大导致权重学习到nan了，可以调小一下learning_rate或者加个gradient clip试下

[2021-09-07 04:30] heavengate commented on #35519
可以试下 `paddle.nn.layer.rnn.pack_sequence_as`

[2021-09-07 04:30] heavengate commented on #35520
感谢反馈，我们排一下这个需求~

[2021-09-07 05:36] huilin16 commented on #35515
好的谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Kaipeng ***@***.***&gt;;
发送时间: 2021年9月7日(星期二) 中午12:27
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 请问paddle的预训练模型如何fine tune (#35515)

paddle.vision.models.resnet50(pretrained=True, num_classes=-1)这样网络里面就不会加fc层，可以自行添加fc层，在网络里对resnet50的输出设置x.stop_gradient=True

—
You are receiving this beca

[2021-09-07 05:38] huilin16 commented on #35519
好的，谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Kaipeng ***@***.***&gt;;
发送时间: 2021年9月7日(星期二) 中午12:30
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] paddle中是否有pack_padded_sequence相关的api (#35519)

可以试下 paddle.nn.layer.rnn.pack_sequence_as

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on G

[2021-09-07 06:08] huilin16 commented on #35519
您好，请问是否有相关的例子文档呢，
我在飞桨官网的paddle文档、python函数源码中，都没有找到相关的例子，
使用torch中pack_padded_sequence的参数直接作为pack_sequence_as会报错&nbsp;ValueError: Structure is a scalar but len(flat_sequence) == 4 &gt; 1

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"

[2021-09-07 07:51] luyunfighting opened #35534 "训练时模型保存问题"
paddle高阶API提供了model.fit训练，也可以边训练边验证，但是目前模型保存只支持按save_freq保存，如果我只想保存准确率最高的模型和最后一个该怎样做呢？如果边训练边验证，又如何分别保存训练时准确率最高的模型和验证时准确率最高的模型呢？
我的想法是解析log文件，有没有什么指教呢

[2021-09-07 08:05] michaelowenliu commented on #35491
@helloyan Hi, please refer to https://github.com/PaddlePaddle/PaddleSeg

[2021-09-07 08:08] frankwhzhang commented on #35511
具体指的是什么操作呢

[2021-09-07 08:09] CuberrChen opened #35536 "模型代码在CPU上测试成功，AiStudio环境GPU环境无报错，但程序直接终止。"
如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：模型代码在CPU上测试成功，AiStudio环境GPU环境无报错，但程序直接终止。
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU：intel i5-9th
    3）GPU：AiStudio 16G
    4）系统环境：ubuntu python3.7

- 训练信息
    1）单机单卡
    2）显存信息 16G
    3）Operator信息
- 复现信息：完全相同的代码在GPU环境中无任何forward，不知原因。但是在本地CPU环境以相同的输入shape能够实现推理输出。
- 问题描述：
model block define:
[code]
input shape: [2, 128, 400, 352]

[2021-09-07 08:13] #35536 closed, assigned to heavengate

[2021-09-07 08:23] hailong23-jin commented on #35511
例如我现在要在一张包含一百万个节点的图上训练，那么我现在就需要申请一个 1,000,000 x 1,000,000 的矩阵去表示图结构，也就是邻接矩阵，但实际上这个矩阵上大部分位置都是0，如果能有一种方法只存储有效数据，就可以大大压缩所使用的内存空间。除此之外，一般还需要针对稀疏矩阵做一些矩阵乘法运算，如果完全使用 n x n 的矩阵计算的话，计算量无疑也是很大的。

针对类似这种情况，像pytorch还有numpy都有类似的针对稀疏矩阵的支持方案。所以想问下paddle有没有类似的API接口支持呢？

[2021-09-07 09:03] zyz207 opened #35540 "批量预测与单幅图像预测结果差别很大"
import paddle
from paddle.vision.models import resnet50
model=resnet50(pretrained=True)
model.eval()

x_test_=paddle.rand([1, 3, 224, 224])
x_test=paddle.concat([x_test_,x_test_,x_test_,x_test_],axis=0)
feature_data_ = model(x_test_).cpu().numpy()
feature_data = model(x_test).cpu().numpy()
print((abs(feature_data_[0]-feature_data[0])).sum())
打印结果是 0.6741117

PaddlePaddle版本：2.1
GPU Compute Capabili

[2021-09-07 09:04] frankwhzhang commented on #35478
目前Paddle不支持C++ API体系

[2021-09-07 09:12] frankwhzhang commented on #35511
可以参考https://github.com/PaddlePaddle/PGL 有图相关的支持

[2021-09-07 09:13] frankwhzhang commented on #35498
相关同学在跟进中，已提需求

[2021-09-07 10:23] leeyy2020 opened #35543 "ExternalError: Cuda error(700), an illegal memory access was encountered."
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU：无
    3）GPU：Tesla V100-SXM2 CUDA Version: 11.2
    4）系统环境：Linux，Python3.7
 以上信息。
- 训练信息
    1）单机 单卡
    2）显存信息
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
执行https://github.com/leeyy2020/EFL_en_baseline
 中的rdrop分支训练脚本即会报错
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
<img width="1530" alt="截屏2021-09-07 下午6 21 40" src="https://user-images.githubusercontent.com/4

[2021-09-07 10:39] heavengate commented on #35534
想保存精度最高的模型只能职级实现了，需要做训练中评估，然后比较评估模型的精度

[2021-09-07 10:40] heavengate commented on #35540
直接`.sum()=0.674`并不等于得出结果差很大的结论，有可能feature map本身数据很大，0.674只是一个微小的数值波动，建议比较相对值

[2021-09-07 10:42] heavengate commented on #35543
是否是预处理里的data augment把哪个数据的shape踩到0了

[2021-09-07 10:53] leeyy2020 commented on #35543
不能吧，它第一个batch的loss都计算完了

[2021-09-07 10:57] leeyy2020 commented on #35543
bug出现之后gpu会呈现这样的状态
<img width="571" alt="截屏2021-09-07 下午6 55 10" src="https://user-images.githubusercontent.com/48672338/132333383-a1c8c1f6-04bc-4d2c-b6e8-37238577ea5c.png">

[2021-09-07 12:12] tt8000 commented on #34526
【队名】：咸鱼翻身

【序号】：106

【论文】：CycleMLP: A MLP-like Architecture for Dense Prediction

【状态】：报名&提交

【repo链接】：https://github.com/2U-maker/Paddle-CycleMLP

[2021-09-07 12:17] heavengate commented on #35543
看报错是踩显存了，一般是因为tensor的shape不合法，可以打印一下tensor的shape看下

[2021-09-07 12:31] leeyy2020 commented on #35543
<img width="1008" alt="截屏2021-09-07 下午8 31 45" src="https://user-images.githubusercontent.com/48672338/132344956-abf62b46-5759-4580-960b-d2a9708c5591.png">

[2021-09-07 12:40] JanuszL opened #35555 "[NVIDIA] Memory pool issue"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU/GPU：如果您使用GPU训练，请提供GPU驱动版本、CUDA和cuDNN版本号
    3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
    4）Python版本号
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tool

[2021-09-07 13:08] jeng1220 commented on #35555
add PIC for Paddle with DALI integration - @zhiqiu

[2021-09-07 13:12] Sun-Shun opened #35558 "PaddleX的加载预测模型GitHub网页丢失"
非常感谢您提交关于飞桨文档的Issue，我们会认真听取您的意见，并进行改进。

建立issue时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“add 文档问题” 或 ”paddle.add 文档问题“
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，1.8，2.0RC；

### 文档问题描述：PaddleX的加载预测模型GitHub网页丢失

#### API文档描述是否清晰？
如：无

#### 参数说明是否清晰
如：无

#### 返回/形状说明是否清晰
如：无

#### 示例代码是否有效？
如：无

#### 中英文内容是否一致？
如：无

#### 其他
如：文档页面打不开；文档缺失；
PaddleX文档，3. 模型训练/评估/预测目录下的 “加载训好的模型完成预测及预测结果可视化”链接，打开网页，发现 “pr

[2021-09-07 13:29] Abaiyu opened #35559 "报名"
【队名】：白鱼向前冲

【序号】：9

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】： https://github.com/Abaiyu/Paddle_YOLOX

[2021-09-07 13:29] DianYe2333 commented on #34526
【队名】：六六大顺

【序号】：24

【论文】：YOLACT: Real-time Instance Segmentation

【状态】：报名

【repo链接】：https://github.com/DianYe2333/Paddle-YOLACT/blob/main/README.md

[2021-09-07 13:57] wanghaoshuang opened #35561 "Register attributes set by quantization pass with op maker"
attr_name| op | count
----|-----|--------
quantization_type || 46
skip_quant||46
activation_bits||38
bit_length|lstm| 1
quantize_weight_bits||3
weight_quant_scale||3
*_threshold ||46

[2021-09-07 14:10] EmiyaNing opened #35562 "当我尝试复现VoxelNet时，当模型前传至Conv3D时报错cudann error CUDNN_STATUS_EXECUTION_FAILED"
   1）PaddlePaddle版本：2.1.2
    2）CPU：intel i1900
    3）GPU：RTX 3090，conda中paddle环境下 cudatoolkit 11.2.2 cudnn 8.1.0.77
    4）系统环境：ubuntu 20.04, 系统中 cudatoolkit 11.1 cudnn 8.2.1.32
- 训练信息
    1) 单卡
    2）显存信息
    3）Operator信息
- 复现信息：如为报错，请给出复现环境、复现步骤
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

Thank you for contributing to PaddlePaddle.
Before submitting the issue, you could search issue in the github in

[2021-09-07 14:57] BaiEJi opened #35563 "ValueError: The start_axis should be a int, and in range [-rank(x), rank(x))"
![image](https://user-images.githubusercontent.com/54018278/132366126-e7fb8b53-dfde-4742-8649-a3cb129bb9e4.png)
模型结构如上

![image](https://user-images.githubusercontent.com/54018278/132366376-c8ca0e86-0030-4006-989b-eb6312b72967.png)
预测的数据shape

![image](https://user-images.githubusercontent.com/54018278/132366438-3567d2aa-22c5-41ea-bdc6-cf4f56a091a7.png)
报错信息

还有一个问题， 为什么使用[x, 28, 28]作为model的输入会报错，

[2021-09-07 15:02] #35563 closed, assigned to heavengate

[2021-09-07 16:29] thunder95 commented on #35518
@heavengate 在optimizer里加了梯度裁剪，仍旧出现这种错误。

[code]

[2021-09-08 01:03] helloyan commented on #35477
已经升级，不过仍然有一堆错误，是否可以编译一个2.1.2的jetson whl包以供下载？

[2021-09-08 01:11] #35478 closed, assigned to frankwhzhang

[2021-09-08 01:38] TCChenlong commented on #35559
报名是回复这个ISSUE哈：https://github.com/PaddlePaddle/Paddle/issues/34526

[2021-09-08 01:52] lidanqing-vv commented on #34414
Doc sent by email

[2021-09-08 01:52] #34414 closed, assigned to OliverLPH

[2021-09-08 01:53] #28248 closed, assigned to cryoco

[2021-09-08 01:55] #22543 closed, assigned to nobody

[2021-09-08 01:55] #21493 closed, assigned to luotao1, jczaja, sneaxiy

[2021-09-08 01:56] #20964 closed, assigned to nobody

[2021-09-08 01:56] #24523 closed, assigned to nobody

[2021-09-08 01:57] #25532 closed, assigned to wojtuss

[2021-09-08 02:04] zssty2010 opened #35564 "CUDA driver version is insufficient for CUDA runtime version"
****************************************
Paddle version: 2.0.0-rc0
Paddle With CUDA: True

OS: CentOS Linux 7
Python version: 3.6.5

CUDA version: 10.1.243
cuDNN version: None.None.None
Nvidia driver version: 418.165.02
****************************************
使用paddleOCR时遇到的问题，感觉应该是paddle fluid这边的issue。

异常信息：
ExternalError:  Cuda error(35), CUDA driver version is insufficient for CUDA runtime ve

[2021-09-08 02:21] sandyhouse commented on #35564
根据信息升级下driver版本吧。
请参考cuda版本和driver版本对应关系：
![image](https://user-images.githubusercontent.com/6737864/132435902-5d959b03-37b6-4c19-a2b0-829d3ae13a14.png)

[2021-09-08 02:24] lidanqing-vv opened #35565 "slot_dnn bf16 training"
@wzzju Hi, there are some questions about bf16 slot_dnn training
1) Training as defined in config e.g. 5 epochs does finish afte few minutes. What should I change so it does reflect real life example of training from Baidu?
2) Data samples are generated there. Should it converge or this is just benchmark to test performance?

[2021-09-08 02:28] EmiyaNing commented on #35562
在今天测试代码的时候我发现bug的问题不是来自paddle.nn.Conv3D,而是来自函数paddle.scatter_nd。在我自己重写了scatter_nd部分的代码之后，该bug消失了。

[2021-09-08 02:48] EmiyaNing commented on #34526
【队名】：某位路过的垃圾烟酒生

【序号】：3

【论文】：VoxelNet:End-to-End Learning for Point Cloud Based 3D Object Detection

【状态】：报名

【repo链接】：https://github.com/PaddlePaddle/Paddle

[2021-09-08 02:49] EmiyaNing commented on #34526
【队名】：某位路过的垃圾烟酒生

【序号】：3

【论文】：VoxelNet:End-to-End Learning for Point Cloud Based 3D Object Detection

【状态】：报名

【repo链接】：https://github.com/EmiyaNing/VoxelNet-paddle

[2021-09-08 03:48] wangye707 commented on #35477
@helloyan  https://paddle-inference-lib.bj.bcebos.com/2.1.2/nv-jetson-jetpack4.4-all/paddlepaddle_gpu-2.1.2-cp36-cp36m-linux_aarch64.whl

[2021-09-08 04:14] LinJayan commented on #35519
您好，这个API操作与torch.nn.utils.rnn.pack_padded_sequence的供能完全不一样，可以跟进实现下吗

[2021-09-08 04:20] Jason97524-star commented on #34526
【队名】：执念2407

【序号】：9

【论文】：YOLOX: Exceeding YOLO Series in 2021

【状态】：报名

【repo链接】：https://github.com/Jason97524-star/yolox

[2021-09-08 04:26] jordan2013 commented on #34526
【队名】: Jordan2020

【序号】：112

【论文】：Topic-Aware Neural Keyphrase Generation for Social Media Language

【状态】：报名

【repo链接】：https://github.com/Nullius-2020/TAKG-Paddle

[2021-09-08 04:27] Jason97524-star commented on #34526
队名】：执念2407

【序号】：1

【论文】：YOLO9000: Better, Faster, Stronger

【状态】：报名

【repo链接】：https://github.com/Jason97524-star/yolo9000

[2021-09-08 05:48] N0I0C0K opened #35570 "安装完之后, 运行错误 "Error: Can not import avx core while this file exists: D:\......\Python39\lib\site-packages\paddle\fluid\core_avx.pyd""
# Error: Can not import avx core
在我完全安装完, 安装没有报错的情况下, 运行paddle 验证安装时运行错误.
尝试了在百度上找到的方法 : 将libs下的dll文件放入fluid文件中.
报错信息不变
- **paddle 版本**: 2.1
- CUDA : 11.2
- cuDNN : 8.1.1
- 环境 : windows10 64位
报错信息:
[code]

[2021-09-08 06:00] helloyan commented on #35477
已下载，可以运行了，正在测试，谢谢

[2021-09-08 06:16] sandyhouse commented on #35570
可以安装非avx版本的：python -m pip download paddlepaddle-gpu==2.1.2.post101 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/noavx/stable.html --no-index --no-deps

或参考https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html

[2021-09-08 06:22] N0I0C0K commented on #35570
但是我看了我CPU支持 AVX所以就很奇怪🥶

[2021-09-08 06:38] zmdcs opened #35573 "yolo4能自己修改底层网络主干吗？"
在AI studio上能够把CSPDarknet53改成mobile之类的主干网络吗？想要提升mAP的值，现在能有什么办法吗，在AI Studio上？

[2021-09-08 06:42] baoachun opened #35574 "The prediction accuracy of the pcpvt_base model after mkldnn is turned on is different from that of pure CPU, and the difference is greater than 0.01."
Commit id：0be7157185138a5e92732225f56737d34fc532f8

PR: https://github.com/PaddlePaddle/Paddle/pull/34192

![图片](https://user-images.githubusercontent.com/22114318/132459158-ef51798a-f5eb-44c4-b51e-e1b0cdc09a9e.png)

[2021-09-08 06:45] zmdcs opened #35575 "AI studio上faster RCNN只有coco格式的配置文件，能改成VOC格式的吗？"
很多配置文件都只有coco格式的，能改成voc格式的吗？怎么改呢？

[2021-09-08 07:29] heavengate commented on #35558
你好，可以到PaddleX里面提issue反馈一下，会有专人处理的 https://github.com/PaddlePaddle/PaddleX/issues

[2021-09-08 07:30] #35559 closed, assigned to heavengate

[2021-09-08 07:30] zhwesky2010 commented on #35333
@jurafish 你好，目前还只支持了VS2017的编译，VS2019可能有bug。我们后面会进行修复。

[2021-09-08 07:32] heavengate commented on #35562
是否是你在用scatter_nd的时候有非法的输入或者有类似于下标越界的情况

[2021-09-08 07:41] #35515 closed, assigned to heavengate

[2021-09-08 07:41] heavengate commented on #35518
把learning rate调小一些试下

[2021-09-08 07:42] heavengate commented on #35519
好的，我们评估一下这个API需求

[2021-09-08 07:43] #35534 closed, assigned to heavengate

[2021-09-08 07:44] #35540 closed, assigned to heavengate

[2021-09-08 07:46] #35558 closed, assigned to heavengate

[2021-09-08 08:04] sandyhouse commented on #35570
https://blog.csdn.net/fuck_hang/article/details/114578986 参考这个试试？

[2021-09-08 08:04] kijiang commented on #34526
【队名】：取个名字

【序号】：74

【论文】：DeBERTa: Decoding-enhanced BERT with Disentangled Attention

【状态】：报名

【repo链接】：https://github.com/kijiang/DeBERTa_PaddlePaddle

[2021-09-08 08:35] heliqi commented on #35441
PaddleClass导出模型是没有inference_cfg.yaml文件的，需要基于上图中的yaml模版进行自己想要的修改。

使用提供的模版部署分类模型，是有什么报错呢？能贴下具体报错吗？

[2021-09-08 08:48] huilin16 opened #35582 "请问如何对整个模型进行梯度裁剪"
我在复现torch代码时，遇到了梯度采集相关的问题，torch的梯度裁剪是对optimizer进行的，torch源码：

def clip_gradient(optimizer, grad_clip):
    """
    Clips gradients computed during backpropagation to avoid explosion of gradients.
    :param optimizer: optimizer with the gradients to be clipped
    :param grad_clip: clip value
    """
    for group in optimizer.param_groups:
        for param in group['params']:
            if param

[2021-09-08 09:00] #35520 closed, assigned to heavengate

[2021-09-08 09:03] sandyhouse commented on #35582
`还需要对模型设置` weight_attr=paddle.ParamAttr(need_clip=True)

为什么要这么做，直接设置grad_clip不行吗？
可以用module.parameters()获取所有参数。

[2021-09-08 09:05] sandyhouse commented on #35573
aistudio应该都是notebook访问的吧，不能修改代码吗？

[2021-09-08 09:08] zmdcs commented on #35573
我安装了paddleDetection，里面有一些网络的配置文件，我看到网上有自己新增模型的教程，但是注册是什么意思呢？就是运行一遍register.py代码吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月8日(星期三) 下午5:05
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] yolo4能自己修改底层网络主干吗？ (#35573)

aistudio应该都是notebook访问的吧，不能修改代码吗？

—
You are receiving this because you authored the thread.
Re

[2021-09-08 09:10] sandyhouse commented on #35575
aistudio应该都是notebook访问的吧，都可以修改吧。

[2021-09-08 09:11] sandyhouse commented on #35573
给下你的参考链接吧，不知道你说的注册是什么意思。

[2021-09-08 09:14] zmdcs commented on #35573
PaddleDetection/MODEL_TECHNICAL.md at release/2.0-rc · PaddlePaddle/PaddleDetection (github.com)

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月8日(星期三) 下午5:11
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] yolo4能自己修改底层网络主干吗？ (#35573)

给下你的参考链接吧，不知道你说的注册是什么意思。

—
You are receiving this because you authored the thre

[2021-09-08 09:14] zmdcs commented on #35573
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0-rc/docs/advanced_tutorials/MODEL_TECHNICAL.md

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月8日(星期三) 下午5:11
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] yolo4能自己修改底层网络主干吗？ (#35573)

给下你的参考链接吧，不知道你说的注册是什么意思。

—
You are receiving this because you aut

[2021-09-08 09:18] huilin16 commented on #35582
直接设置优化器中的grad_clip参数，可以不用设置模型中的weight_attr参数，就能实现梯度裁剪吗，
我是看到文档中有设置weight_attr这个参数，以为必须设置。https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/ClipGradByValue_cn.html#cn-api-fluid-clip-clipgradbyvalue

module.parameters()我也尝试下，多谢！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-09-08 09:39] sandyhouse commented on #35573
![image](https://user-images.githubusercontent.com/6737864/132485870-4af909bd-bae0-44fd-91d6-d19b5a05901f.png)
文档里说的很清楚了，不知道你指的注册是不是这个地方。

[2021-09-08 09:40] zmdcs commented on #35573
嗯，谢谢，我后来看见了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月8日(星期三) 下午5:39
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] yolo4能自己修改底层网络主干吗？ (#35573)

 文档里说的很清楚了，不知道你指的注册是不是这个地方。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifi

[2021-09-08 11:21] N0I0C0K commented on #35570
谢谢大佬，问题成功解决了🐮

[2021-09-08 11:22] #35570 closed, assigned to sandyhouse

[2021-09-08 12:33] liyun-lu commented on #34526
【队名】：绝绝子

【序号】：31

【论文】：Progressive Growing of GANs for Improved Quality, Stability, and Variation

【状态】：报名

【repo链接】：https://github.com/GXU-GMU-MICCAI/PGAN-Paddle

[2021-09-08 12:37] liyun-lu commented on #34526
【队名】：绝绝子

【序号】：113

【论文】：Category-Level Adversarial Adaptation for Semantic Segmentation using Purified Features

【状态】：报名

【repo链接】：https://github.com/GXU-GMU-MICCAI/CLAN-Paddle

[2021-09-08 13:39] whlzy commented on #34526
【队名】：朱颜辞镜花辞树

【序号】：22

【论文】：Real-Time High-Resolution Background Matting

【状态】：报名

【repo链接】：https://github.com/whlzy/BackgroundMattingV2_for_Paddle

[2021-09-08 14:37] lidanqing-vv commented on #35574
@baoachun  Where is this screen shot from? With this we could not reproduce. Could you please provide command? And Is this issue must be fixed for Paddle 2.2

@jczaja  Please help watch this issue. Thanks

[2021-09-08 15:08] LibrarristShalinward commented on #34526
【队名】：while True: 卷

【序号】：39

【论文】：Cream of the Crop: Distilling Prioritized Paths For One-Shot Neural Architecture Search

【状态】：提交

【repo链接】：https://github.com/LibrarristShalinward/while_true_involute-Cream_of_the_Crop.git

[2021-09-09 01:51] CuberrChen opened #35603 "【论文复现】稳定训练一段时间后突然显存溢出"
- 标题：训练过程中存在不稳定现象，多次不确定时机显存突然上升造成溢出报错。
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU：AiStudio 32G
    3）GPU：AiStudio Tesla 16G
    4）系统环境：ubuntu python3.7

- 训练信息
    1）单机，单卡
    2）显存信息 16G
    3）Operator信息
- 复现信息：已经稳定训练了一段时间之后，显存会在不确定的时机（分别在训练1个小时和4个小时以后）突然上升造成内存溢出。
- 问题描述：
SystemError('(Fatal) **Operator cast raises an paddle::memory::allocation::BadAlloc exception.**\nThe exception content is

[2021-09-09 02:04] aishangmaxiaoming opened #35604 "安装后无法使用，paddlepaddle2.1.2 cuda11"
<img width="1411" alt="884e5b59cbcc93329367962a0d75c019" src="https://user-images.githubusercontent.com/67897601/132610076-feedd971-3a37-4df0-9002-ec93530afec7.png">

[2021-09-09 03:14] sandyhouse commented on #35582
weight_attr主要实现参数正则化，不是必须的。

[2021-09-09 03:23] zmdcs opened #35607 "自己配置yolov4_mobilenet_v3配置权重以及训练损失的问题"
配置权重配置的https://paddle-imagenet-models-name.bj.bcebos.com/MobileNetV3_large_x1_0_pretrained.tar 这个是对的吗？还想问这串地址自己写的时候该怎么填，paddle默认的模型库能出来这个url地址吗？训练损失在训练了近5000iter损失还有几百，这是正常现象吗？还是我哪里配置错了

[2021-09-09 03:47] aishangmaxiaoming opened #35608 "Cannot load cudnn shared library. Cannot invoke method cudnnGetVersion."
<img width="874" alt="f34c0df21b0b2ea55d21d50268d96171" src="https://user-images.githubusercontent.com/67897601/132619197-4e5607df-02e1-43b3-93b6-929eb2273ccd.png">

[2021-09-09 04:07] chfhf commented on #34526
【队名】：小木桌

【序号】：76

【论文】： Funnel-Transformer: Filtering out Sequential Redundancy for Efficient Language Processing

【状态】：提交

【repo链接】：https://github.com/chfhf/funnel-paddle

[2021-09-09 04:24] #35333 closed, assigned to zhwesky2010

[2021-09-09 04:24] jurafish commented on #35333
知道问题原因了

[2021-09-09 05:41] ceci3 commented on #35604
可以试下升级下six包哈

[2021-09-09 05:41] ceci3 commented on #35608
看起来是cudnn路径加载有问题，可以看下环境变量，是否cudnn路径指定有问题。以及cuda cudnn版本和paddle依赖的是否对应

[2021-09-09 05:44] ceci3 commented on #35607
可以配置，PaddleDetection 可以解析出来，可以看下你的配置文件是什么，https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.2/static/configs/yolov4  yolov4的配置可以参考这个。

[2021-09-09 06:35] zmdcs commented on #35607
麻烦您帮我看一下我的配置哪里有问题，我训练了一万二iter，mAP才0.2%

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年9月9日(星期四) 中午1:44
***@***.***&gt;;
***@***.***

[2021-09-09 06:48] pandaominggz opened #35614 "使用ernie_tiny进行下游任务推理时，从GPU设备拷贝tensor到CPU设备（.cpu()）速度很慢"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU：Intel(R) Core(TM) i7-10700 CPU @ 2.90GHz   2.90 GHz
    3）GPU：NVIDIA GeForce RTX 2060 SUPER
    4）系统环境：Win10，Python 3.8.5

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
使用ernie_tiny进行NER任务，当模型推理完毕，使用.cpu()从GPU设备拷贝tensor到CPU设备, batch_size=512, 句子length=30, num_label=9时，.cpu()花费的时间约为0.17秒，拷贝速度比pytorch .cpu()要慢很多
- 关键代码片段：
![企业微信截图_16311693686205](https://user-im

[2021-09-09 07:02] zmdcs commented on #35607
architecture: YOLOv4
use_gpu: true
max_iters: 50000
log_iter: 20
save_dir: output
snapshot_iter: 2000
metric: VOC
pretrain_weights: https://paddle-imagenet-models-name.bj.bcebos.com/MobileNetV3_large_x1_0_pretrained.tar
weights: output/yolov4_mobilenet_v3_voc/model_final
num_classes: 1
use_fine_grained_loss: false

YOLOv4:
  backbone: MobileNetV3
  yolo_head: YOLOv4Head

MobileNetV3:
  norm_type:

[2021-09-09 07:31] skylark36 commented on #34526
【队名】：小木桌

【序号】：84

【论文】： ProphetNet: Predicting Future N-gram for Sequence-to-Sequence Pre-training

【状态】：报名

【repo链接】：https://github.com/xiangsanliu/ProphetNet-paddle

[2021-09-09 08:48] zmdcs opened #35622 "自己建的模型配置文件没有预训练权重怎么办？"
yolov4的主干网络替换成mobilenetv3，可是官网没有这个的预训练权重，我用yolo4的或者yolo3_mobilenetv3的预训练权重都不行，请问怎么能不设置预训练权重呢？

[2021-09-09 11:50] wozna commented on #31103
@juncaipeng Recently I found a problem in the quant lstm model where `self._gather_output_scales_from_attr (graph)` lowered accuracy. This was because this function marks var as uint8, but the scales for that variable are still computed for signed data. I solved it by adding in `_gather_output_scales_from_attr` the scales adjustment to the uint8 range by multiplying the scales by 2. In the lstm mo

[2021-09-09 12:56] baoachun commented on #35574
@lidanqing-intel @jczaja
Hi, there is the test code,  https://github.com/PaddlePaddle/PaddleTest/blob/develop/inference/python_api_test/test_class_model/test_pcpvt_base.py#L64.

`python3.8 -m pytest --disable-warnings -v test_pcpvt_base.py::test_mkldnn`

[2021-09-09 13:52] tughv commented on #34748
我也遇到了，搞得我快不想用paddle了

[2021-09-09 13:58] CuberrChen commented on #35603
再一次训练，通过try捕获到异常位置代码：

`    result = paddle.zeros(x).astype(y.dtype)
`
其中x就是一个list。y.dtype就是tensor float32数值类型。

**该代码位于model forward函数中调用的自定义函数中。x和y都是传入的参数。**

本次报错：
[code]

[2021-09-09 14:09] lidanqing-vv commented on #35574
@jczaja  This is not urgent for 2.2RC

[2021-09-09 15:30] thunder95 commented on #35518
@heavengate 学习率调低了也没用

[2021-09-10 01:36] CuberrChen commented on #35603
通过将该行代码修改为'
`result = paddle.zeros(x,dtype=y.dtype) `
该错误消失。但是在同一小段代码内出现了其他错误，同样是内存溢出的错误。
也是在稳定一段时间后突然出现。
报错为pad3d造成的内存溢出。

[2021-09-10 02:08] BaiEJi opened #35630 "在模型定义中使用Sequential会出现模型结构一致但是训练效果不同的问题"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    4）系统环境：Aistudio

- 模型信息
    1）模型名称  Mnist
    2）使用数据集名称  paddle中的MNIST

当在class定义的模型中使用Sequential时，会发生模型结构一致，但是训练效果完全不同的情形
两个模型的定义如下图
![1](https://user-images.githubusercontent.com/54018278/132787070-85db498a-2dcc-4055-9805-06829530bf3e.png)
![2](https://user-images.githubusercontent.com/54018278/132787078-150eb7f6-7b84-4a84-b5b3-3eedb86e2e7d.png)
两个模型的结构打

[2021-09-10 02:15] Avalon244 commented on #34639
请问一下后续解决了么？我也是参考官方文档自建了网络模型，也是在模型建立时报了这个错误 @helen88

[2021-09-10 03:05] kuizhiqing opened #35632 "A100 运行错误"
运行环境：
Nvidia A100

错误信息：
The exception content is
:parallel_for failed: cudaErrorNoKernelImageForDevice: no kernel image is available for execution on the device. (at /paddle/paddle/fluid/imperative/tracer.cc:192)

基础镜像：
nvidia/cuda：11.0-cudnn8-devel-ubuntu18.04

paddle 版本：
pip3 install paddlepaddle_gpu-2.1.2-cp36-cp36m-manylinux1_x86_64.whl

[2021-09-10 04:03] hrdwsong commented on #34526
【队名】：深智源

【序号】：34

【论文】：Prototypical Networks for Few-shot Learning

【状态】：提交

【repo链接】：https://github.com/hrdwsong/ProtoNet-Paddle

[2021-09-10 05:53] LielinJiang commented on #35632
先检查下安装是否有问题：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html
![image](https://user-images.githubusercontent.com/50691816/132806295-76fea1cb-03eb-4fd3-b268-b85467d06388.png)
我看用的cuda11.0的镜像，试试对应的版本。安装后，验证一下：
![image](https://user-images.githubusercontent.com/50691816/132806379-7f1221e3-4fea-4979-8dbf-84c722107ec9.png)

[2021-09-10 05:56] ceci3 commented on #35622
不填的话应该就不设置了

[2021-09-10 06:05] LielinJiang commented on #35630
按道理结果应该差不多，可以去掉dropout看看是不是随机引起的。torch中的ModuleList对应paddle中的nn.LayerList

[2021-09-10 06:09] zmdcs commented on #35622
可是会报错，必须有预训练权重

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月10日(星期五) 中午1:57
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 自己建的模型配置文件没有预训练权重怎么办？ (#35622)

不填的话应该就不设置了

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications o

[2021-09-10 06:26] HuimengZhang opened #35638 "develop版本动态修改tensor报错"
对模型中的 tensor 使用条件筛选出tensor中的一部分，对其值进行修改，
self._iou_classifier 和 self._iou_gamma 为常值参数
尝试了两种方法修改new_iou 中的部分值：
new_iou[new_iou<self._iou_classifier].set_value(paddle.pow(1 - new_iou[new_iou<self._iou_classifier], self._iou_gamma))
new_iou[new_iou>=self._iou_classifier].set_value(paddle.pow(new_iou[new_iou>=self._iou_classifier], self._iou_gamma))

forward过程中不会报错，但想修改的值不会改变

new_iou[new_iou<self._io

[2021-09-10 06:29] Avalon244 commented on #34639
试了下按照#35054里的方法可以正常运行了

[2021-09-10 06:38] LielinJiang commented on #35638
new_iou<self._iou_classifier 这个可以先试一下转为(new_iou<self._iou_classifier).numpy() 行不行

[2021-09-10 07:25] #35630 closed, assigned to Shixiaowei02

[2021-09-10 07:27] hailong23-jin commented on #35511
PGL之前使用过，但是这个模型仅提供了有限的模型实现，并且没有对外提供类似稀疏矩阵运算的接口。如果自己想要实现一个图神经网络的模型的话，PGL作用十分有限。

请问paddle有计划单独开发稀疏矩阵运算相关的接口吗？还是比较期待paddle能够开发出相关的API的。

[2021-09-10 07:53] cgp1997 commented on #34526
【队名】：蚌埠住了

【序号】：80

【论文】：Megatron-LM: Training Multi-Billion Parameter Language Models Using Model Parallelism

【状态】：报名

【repo链接】：https://github.com/cgp1997/Megatron-LM-for-Paddle

[2021-09-10 08:02] HuimengZhang commented on #35638
这一步可以操作 在 develop版本里 new_iou[new_iou<self._iou_classifier] 这一步可以取到值 问题是无法赋值 即便在forward里赋值成功了 回退算梯度的过程中也会报错

[2021-09-10 08:04] LielinJiang commented on #35638
我知道可以赋值，我的意思是：你试试上面那个，看看会不会backward中报错

[2021-09-10 10:01] wangxinxin08 commented on #35622
没有pretrain_weights的话可以填成空字符串，即''，或者python tools/train.py -c configs/my_config.yml -o pretrain_weights=''

[2021-09-10 10:03] wangxinxin08 commented on #35607
请问你是使用的单卡训练还是多卡训练？

[2021-09-10 11:00] DankoZhang opened #35657 "开发机安装paddle之后，使用时出现`GLIBC_2.14' not found错误"
您好，开发机上通过pip安装了cpu版本的paddle之后，import时出现了图片中的错误，请问怎么解决呢？
https://user-images.githubusercontent.com/40423569/132843659-282e0619-db1a-4aca-8c5d-26a0645bdb52.png

[2021-09-10 11:08] DankoZhang opened #35658 "import paddle时，出现sysctl: unknown oid 'machdep.cpu.leaf7_features'"
在本地运行paddle时，出现如下信息，这个是什么原因呢？
![image](https://user-images.githubusercontent.com/40423569/132844543-a8c59ba6-2277-48d9-9b48-1e011b9eb3d3.png)

[2021-09-10 12:03] chfhf commented on #34526
【队名】：小木桌

【序号】：76

【论文】： Funnel-Transformer: Filtering out Sequential Redundancy for Efficient Language Processing

【状态】：提交

【repo链接】：https://github.com/chfhf/funnel-paddle

[2021-09-10 14:18] nosaydomore commented on #34526
【队名】：再也不想调参了

【序号】：81

【论文】：MobileBERT: a Compact Task-Agnostic BERT for Resource-Limited Devices

【状态】：报名

【repo链接】：https://github.com/nosaydomore/MobileBert_paddle

[2021-09-10 14:41] LielinJiang commented on #35657
应该是gcc版本的问题，推荐您使用gcc8.2的版本

[2021-09-10 23:06] txyugood commented on #34526
【队名】：txyugood

【序号】：54

【论文】：Stacked Hourglass Networks for Human Pose Estimation

【状态】：报名

【repo链接】：https://github.com/txyugood/PaddlePose

[2021-09-11 01:48] zmdcs opened #35666 "自己配的模型刚开始训练的mAP只有0.02%正常吗？未设置预训练权重的情况下"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.p

[2021-09-11 06:15] DankoZhang commented on #35657
这个是什么意思，安装过程中没有涉及到gcc的问题，这个的安装流程是什么

[2021-09-11 09:05] DATETHOKA commented on #34526
【队名】：DATETHOKA

【序号】：62

【论文】：Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Networks

【状态】：报名

【repo链接】：https://github.com/DATETHOKA/mtcnn-paddle

[2021-09-11 10:33] DATETHOKA commented on #34526
【队名】：DATETHOKA

【序号】：62

【论文】：Joint Face Detection and Alignment using Multi-task Cascaded Convolutional Networks

【状态】：报名

【repo链接】：https://github.com/DATETHOKA/mtcnn-paddle

[2021-09-11 13:32] thepolarex commented on #34526
【队名】：thepolarex

【序号】：32

【论文】：Wide Residual Networks

【状态】：报名

【repo链接】：https://github.com/thepolarex/WRN

[2021-09-12 00:52] txyugood commented on #34526
【队名】：txyugood

【序号】：54

【论文】：Stacked Hourglass Networks for Human Pose Estimation

【状态】：提交

【repo链接】：https://github.com/txyugood/PaddlePose

[2021-09-12 05:47] #35603 closed, assigned to ceci3

[2021-09-12 06:34] thunder95 commented on #35518
@heavengate 在判断输出nan后，我打印了bn的所有参数（weight, bias, mean, variance），全部是nan， 所以输出也是nan，在bn层的前一个卷积是正常的。

[2021-09-12 08:10] 294coder opened #35669 "paddle.randn输入float类型导致内存溢出问题"
paddle version: 2.1.2

`import paddle
paddle.randn((2*16, 640*640/16, 128))
`
第二个参数会是浮点数，会报以下错误：
SystemError: (Fatal) Operator gaussian_random raises an struct paddle::memory::allocation::BadAlloc exception.
The exception content is
:ResourceExhaustedError:
Out of memory error on GPU 0. Cannot allocate 400.000244MB memory on GPU 0, 2.361126GB memory has been allocated and available memory is only

[2021-09-12 14:25] cunzhigao commented on #34526
【队名】：加油拿个奖队

【序号】：66

【论文】：Universal Language Model Fine-tuning for Text Classification

【状态】：报名

【repo链接】：https://github.com/cunzhigao/paddle-paper

[2021-09-12 15:49] gsq7474741 commented on #34526
【队名】：PeachML

【序号】：112

【论文】： Topic-Aware Neural Keyphrase Generation for Social Media Language

【状态】：报名

【repo链接】：https://github.com/gsq7474741/Paddle-TAKG

[2021-09-13 03:08] zhiqiu commented on #35666
hi，请详细描述下您的问题。

[2021-09-13 03:10] dudu1596320 commented on #34526
【队名】：不知道叫啥

【序号】：50

【论文】：Attention on Attention for Image Captioning

【状态】：报名

【repo链接】：https://github.com/dudu1596320/paddle_AoANet

[2021-09-13 03:11] zmdcs commented on #35666
题目呀，自己配的模型只有0.02%的mAp正常吗？我跑了两万iter，mAP值也只有百分之几。我配的yolo4和mobilenet3，是这个模型本来就有问题，还是参数设置问题呢？我设置的是没有预训练权重

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Leo ***@***.***&gt;;
发送时间: 2021年9月13日(星期一) 中午11:08
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 自己配的模型刚开始训练的mAP只有0.02%正常吗？未设置预训练权重的情况下 (#35666)

hi，请详细描述下您的问题。

—
You are receiving this because

[2021-09-13 03:23] wangxinxin08 commented on #35666
2w iter只有0.02%的mAP是不正常的，你可以给一下PaddlePaddle以及PaddleDetection的版本，以及你修改的配置文件(以文件形式上传)，另外可以说一下运行的命令以及使用几卡进行训练？

[2021-09-13 03:28] zmdcs commented on #35666
paddle版本是2.1.2
paddle Detection我直接github下的，没注意版本，但应该是最新的
我是用双卡训练的

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年9月13日(星期一) 中午11:23
***@***.*

[2021-09-13 03:32] frankwhzhang commented on #35498
zoooo0820 同学跟进中

[2021-09-13 03:36] wangxinxin08 commented on #35666
mobilenetv3是有预训练权重的，PaddleDetection默认是动态图版本，static目录下面是静态图版本，如果训练静态图需要cd到静态图目录下面。另外，默认学习率是8卡配置，如果你是双卡训练的话，参考(https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/static/docs/FAQ.md)， 需要将学习率修改为原来的1/4。

[2021-09-13 03:39] zmdcs commented on #35666
我试过mobilev3和yolov4的预训练权重，这两个对提升mAP都没用，我的mobilev3用的yolo3_mobilev3_voc那个预训练权重，所以是因为我启动的环境不对，所以造成的mAP太低了？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月13日(星期一) 中午11:36
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 自己配的模型刚开始训练的mAP只有0.02%正常吗？未设置预训练权重的情况下 (#35666)

mobilenetv3是有预训练权重的，PaddleDetection默认是动态图版本，static目录

[2021-09-13 03:40] zmdcs commented on #35666
可是AI studio提供的至尊版也只有四卡吧

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月13日(星期一) 中午11:36
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 自己配的模型刚开始训练的mAP只有0.02%正常吗？未设置预训练权重的情况下 (#35666)

mobilenetv3是有预训练权重的，PaddleDetection默认是动态图版本，static目录下面是静态图版本，如果训练静态图需要cd到静态图目录下面。另外，默认学习率是8卡配置，如果你是双卡训练的话，参考(https://github.com/Pad

[2021-09-13 03:40] zmdcs commented on #35666
您给的地址无法访问

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月13日(星期一) 中午11:36
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 自己配的模型刚开始训练的mAP只有0.02%正常吗？未设置预训练权重的情况下 (#35666)

mobilenetv3是有预训练权重的，PaddleDetection默认是动态图版本，static目录下面是静态图版本，如果训练静态图需要cd到静态图目录下面。另外，默认学习率是8卡配置，如果你是双卡训练的话，参考(https://github.com/PaddlePaddle/Padd

[2021-09-13 03:42] zmdcs commented on #35666
我都是在static目录下运行的

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月13日(星期一) 中午11:36
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 自己配的模型刚开始训练的mAP只有0.02%正常吗？未设置预训练权重的情况下 (#35666)

mobilenetv3是有预训练权重的，PaddleDetection默认是动态图版本，static目录下面是静态图版本，如果训练静态图需要cd到静态图目录下面。另外，默认学习率是8卡配置，如果你是双卡训练的话，参考(https://github.com/PaddlePadd

[2021-09-13 03:45] wangxinxin08 commented on #35666
参考这个链接：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/static/docs/FAQ.md, 修改下学习率等参数，mobilnetv3的预训练权重参考yolov3：https://paddle-imagenet-models-name.bj.bcebos.com/MobileNetV3_large_x1_0_pretrained.tar, 可以再试下，另外尽量更新PaddleDetection到最新版本

[2021-09-13 03:45] FrostML commented on #35669
可以试试自行编一个 develop 的版本，报错信息已经更新。

`ValueError: (InvalidArgument) gaussian_random(): argument (position 1) must be list of int, but got float at pos 1`

[2021-09-13 03:57] libertatis commented on #35669
[code]
函数 `randn` 的签名为：
[code]
其中对 `shape` 参数的要求是：
[code]
就是说要求 `shape` 中的元素为整型。但是当 `shape` 中的元素为 `float` 时，并不会出错，是会成功创建 `tensor` 的。这是因为在动态图模式下，即：
[code]
不会做任何 `shape` — `check_shape(...)` 和 `dtype`  — `check_dtype(...)` 的检查。原因如下：
[code]
在动态图模式下，`randn` 只是将 `shape` 强制转化为 `list`，然后调用 `_C_ops` 下的 `gaussian_random`：
[code]
在调用 `convert_shape_to_list` 时，如果 `shape` 是 `list` 或 `tuple` 的话，`shape` 只是统一变成了

[2021-09-13 05:08] Lieberk commented on #34526
【队名】：小丑不丑

【序号】：11

【论文】：Bottom-Up and Top-Down Attention for Image Captioning and Visual Question Answering

【状态】：提交

【repo链接】：https://github.com/chenlizhi-1013/paddle-bottom-up-attention-captioning

[2021-09-13 06:14] wanghuancoder commented on #35669
python调用_C_ops.xxx的代码是自动生成出来的，自动生成代码在如下文件中：
这个https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/pybind/op_function_generator.cc

如果你用develop自己编译，编译完成后可以找到一个文件：paddle/fluid/pybind/op_function_impl.h，gaussian_random定义在这个文件中。

[2021-09-13 06:33] baoachun commented on #34723
@jakpiase
Hi，there is another error with using mkldnn to predict solov2，and cpu is ok.
![图片](https://user-images.githubusercontent.com/22114318/133034885-783ca227-5d34-4e90-9a5d-e0887cf03276.png)

[2021-09-13 06:41] dancaicai commented on #34526
【队名】：xxoo

【序号】：95

【论文】：CAN: Revisiting Feature Co-Action for Click-Through Rate Prediction

【状态】：报名

【repo链接】：https://github.com/dancaicai/paddle-CAN95

[2021-09-13 06:43] aizls commented on #35658
I have the same problem with apple m1 chip.

[code]

[code]

[2021-09-13 07:06] libertatis commented on #35669
好哒，谢谢啦！我试一下~

[2021-09-13 07:19] pangyoki commented on #35658
你好，我们正在分析这个问题，有结论了反馈给你。目前看mac m1报的这个信息不影响paddle使用。

[2021-09-13 07:20] LielinJiang commented on #35657
编译c代码用的编译器版本。你可以gcc --version看看

[2021-09-13 07:21] zoooo0820 commented on #35498
目前该问题已修复[#35840](https://github.com/PaddlePaddle/Paddle/pull/35480)，请您用最新的develop版本试试。

[2021-09-13 07:25] MARD1NO commented on #35498
感谢！

[2021-09-13 07:25] #35498 closed, assigned to frankwhzhang

[2021-09-13 07:47] icey-zhang commented on #34526
【队名】：科研开小差
【序号】：61
【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild
【状态】：报名&提交
【repo链接】：https://github.com/icey-zhang/RetinaFace_paddle

[2021-09-13 08:16] pmajchrzak opened #35687 "Build error ::isnan and ::isinf has not been declared"
commit: 662230487cdaac10891d5e272175a81a4e234cb3
introduced a series of errors:
[code]
### OS
Ubuntu 18.04
### GCC
5.5.0-12ubuntu1
### CMAKE
cmake version 3.10.2
### CMAKE FLAGS
[code]

[2021-09-13 08:55] zgq91 opened #35689 "paddle2.1.2 ubuntu20.04 源码编译错误 undefined reference to `pthread_detach'"
系统:ubuntu20.04  cuda11.0  cudnn8.0   paddle2.1.2

执行命令 cmake .. -DPY_VERSION=3 \
        -DWITH_TESTING=OFF \
        -DWITH_MKL=ON \
        -DWITH_GPU=ON \
        -DON_INFER=ON

源码编译报错 "src.c:(.text+0x46): undefined reference to `pthread_create'
/usr/bin/ld: src.c:(.text+0x52): undefined reference to `pthread_detach'
/usr/bin/ld: src.c:(.text+0x63): undefined reference to `pthread_join'
collect

[2021-09-13 09:20] #26382 closed, assigned to bjjwwang, zhupengyang

[2021-09-13 09:32] maryllb commented on #34526
【队名】：Cest_La_Vie
【序号】：103
【论文】：ClassSR: A General Framework to Accelerate Super-Resolution Networks by Data Characteristic
【状态】：报名
【repo链接】：https://github.com/maryllb/paddle-ClassSR

[2021-09-13 09:35] xox9001 commented on #30039
我也是一样的错误，都是按文档上做的

[2021-09-13 10:57] dingjiaweiww commented on #32066
@BlackHorseQ 请问你是在什么场景中想用到稀疏矩阵呢？

[2021-09-13 11:15] zhangting2020 commented on #35689
我使用你的编译命令，能够编译成功的。

pthread 库不是 Linux 系统默认的库，可能和你的环境有关系。请确认：
- 如果使用的是Paddle提供的编译镜像，提供一下使用的镜像
- 如果不是用的镜像，建议参考这篇文档，使用docker编译：https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/linux-compile.html#span-id-compile-from-docker-docker-span
- 你还可以尝试自己安装pthread 库

**建议最好是参考官网提供的使用docker编译的文档，因为编译环境是准备好的**

[2021-09-13 11:43] jakpiase commented on #34723
Hi @baoachun, when I run solov2 on paddle/develop branch I am getting that error, no mather if I use oneDNN or not.
![image](https://user-images.githubusercontent.com/62569058/133077145-92bdb13c-65c5-490d-864f-722e4319f626.png)
Could you please give me some steps to reproduce "slice raises an exception"? What commit did you use and what kind of CPU?

[2021-09-13 11:53] zhangting2020 commented on #35687
I tried the latest develop, but I did not reproduce this error.

- commit: `5f31737`
- command: `cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DWITH_TESTING=ON -DWITH_PROFILER=OFF -DWITH_STYLE_CHECK=OFF -DON_INFER=ON -DWITH_INFERENCE_API_TEST=ON -DPY_VERSION=3.6`
- gcc: 8.2.0
- cmake: 3.10.2

[2021-09-13 12:01] baoachun commented on #34723
Hi, I think you should use PaddleDetection after `00beb736c0091347957be826bb9aef2bd79e04bb` commit with develop branch to produce the slice error.
<img width="624" alt="图片" src="https://user-images.githubusercontent.com/22114318/133079461-8d5db3bb-d5a5-4c0f-8e75-f56161e591b3.png">

[2021-09-13 12:04] hbwx24 commented on #35638
目前`new_iou[new_iou<self._iou_classifier]`这种getitem操作会创建一个新tensor，而非inplace操作。建议把 `new_iou[new_iou<self._iou_classifier].set_value(paddle.pow(1 - new_iou[new_iou<self._iou_classifier], self._iou_gamma))`改为 `new_iou.set_value(new_iou[new_iou<self._iou_classifier].set_value(paddle.pow(1 - new_iou[new_iou<self._iou_classifier], self._iou_gamma)))`试一下。

[2021-09-13 13:46] GuoQuanhao commented on #34526
【队名】：陈书记的小跟班
【序号】：12
【论文】：YOLOv4: Optimal Speed and Accuracy of Object Detection
【状态】：提交
【repo链接】：https://github.com/GuoQuanhao/YOLOv4-Paddle

[2021-09-13 13:54] zhangliu55 opened #35702 "【论文复现】torch.nn.LayerNorm和paddle.nn.LayerNorm输出有差异"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：PaddlePaddle2.1.2，
    2）CPU/GPU：CPU
    3）系统环境：Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
    4）Python版本号：3.7.11
    5）显存信息
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信

[2021-09-13 14:29] zhiqiu commented on #35555
Hi, @jeng1220 @JanuszL I tried to compile your PR3305 but failed these days. Could you give me a built wheel package for debug?

And after reading your PR, I suggest that you can try to use `cudaEventRecord on compute stream +cudaStreamWaitEvent on dali stream` instead of `fluid.core._cuda_synchronize` (which sync all the paddle compute streams) between `mutable_data and feed_ndarray`.

pesudo cod

[2021-09-13 16:14] AIHHU opened #35705 "单张图像无法进行推理（已加上第一维度1），多张图片却可以"
用的AI studio，版本从1.8到2.1都用过了，预测单张图像时都会报错，强调：已经添加第一维度，多个图片（2个以上）图片预测没有问题
![L3FA1M$E$HV Y9NN~`{ ~NT](https://user-images.githubusercontent.com/66868438/133119734-82ce109b-5e2d-4a99-b846-8f1a3d93e194.png)

[2021-09-13 17:05] JanuszL commented on #35555
Hi @zhiqiu,

Thank you for looking into that issue. To repro it, you don't have to build DALI, the changes from the mentioned PR relate only to the python part, so you can install the latest DALI and just update the relevant python files in the location where your wheel is installed (in my case `/usr/local/lib/python3.6/dist-packages/nvidia/dali/plugin/`).

Just to be sure, do I need to call cudaE

[2021-09-14 02:04] Zhangts98 opened #35707 "训练过程中断"
系统： centos7
CUDA: 10.0
cudnn: 7.6.5
cpu: 支持avx
gpu: 4个1080 ti
![企业微信截图_16315845741829](https://user-images.githubusercontent.com/61573829/133182355-49f420dc-5951-4937-92ee-db8462a706fe.png)
![企业微信截图_16315849471253](https://user-images.githubusercontent.com/61573829/133182428-c0bf764e-9051-4fdf-be52-b778e1d2e817.png)
（gpu被占用可能是因为训练异常中断后，显存没有被释放）

conda 环境
  python: 3.7
  paddlepaddle:  paddlepaddle

[2021-09-14 02:14] Zhangts98 commented on #35707
训练了将近一天才中断的。之前总是训练 1epoch + 几十iters 就卡住，验证数据读取器和数据没有问题后，卸载原来所有cuda，重新安装cuda10.0 和 paddlepaddle 后，这次训练了 2epoch + 几十iters 多， 又出现的这个错误。

[2021-09-14 02:51] zhiqiu commented on #35555
Thanks. I will try your method.

I think the better way is to use two stream and use event to sync them, in that case, the data copy stream and compute stream can overlap to improve performance.

The `paddle.device.cuda.current_stream(device_id))` will be released in Paddle-2.2rc (next month). If you need to use it, you can install the nightly-build version. Here is the command for cuda-11.2 versi

[2021-09-14 03:36] sukibean163 commented on #34526
【队名】：showtime

【序号】：4

【论文】：EfficientDet: Scalable and Efficient Object Detection

【状态】：报名

【repo链接】：https://github.com/sukibean163/Paddle_EfficientDet

[2021-09-14 04:48] BlackHorseQ commented on #32066
图神经网络> @BlackHorseQ 请问你是在什么场景中想用到稀疏矩阵呢？

[2021-09-14 05:13] danleifeng commented on #35707
看paddle安装完check_run的截图，只能识别到1个GPU，请参考提示，检查下，是不是nccl有问题，或者别的任务占用

[2021-09-14 06:31] baoachun opened #35717 "The prediction results of ppyolo are all wrong when using mkldnn."
PR：https://github.com/PaddlePaddle/Paddle/pull/34332

[2021-09-14 06:44] baoachun opened #35719 "Deploying swin_transformer will raise reshape2 mkldnn error."
![图片](https://user-images.githubusercontent.com/22114318/133208275-99503c1c-254e-439b-8902-12129c4c6baf.png)

![图片](https://user-images.githubusercontent.com/22114318/133208316-5a49ce5b-7181-44bb-b1e2-b26faeeb5fcf.png)

[2021-09-14 06:56] pmajchrzak commented on #35687
But on gcc 5.5.0 still doesn't work after commit 662230487cdaac10891d5e272175a81a4e234cb3
previous commits build but next after mentioned one doesn't.
Should I assumed that paddle paddle is not supported for previous versions of gcc?

[2021-09-14 07:02] zmdcs opened #35721 "无法训练"
就普通训练个yolo3都报错
Traceback (most recent call last):
  File "tools/train.py", line 412, in <module>
    main()
  File "tools/train.py", line 180, in main
    eval_reader = create_reader(cfg.EvalReader, devices_num=1)
  File "/home/aistudio/PaddleDetection/static/ppdet/data/reader.py", line 442, in create_reader
    reader = Reader(**cfg)()
  File "/home/aistudio/PaddleDetection/static/ppdet/data/read

[2021-09-14 07:02] Zhangts98 commented on #35707
那个是因为训练中断后，显存没有释放，我就执行了run_check()，释放显存后run_check()是这样的。
![企业微信截图_16315886824270](https://user-images.githubusercontent.com/61573829/133210794-260e6832-0e51-4a69-aa52-dc36a9f3ec6e.png)

[2021-09-14 07:05] lidanqing-vv commented on #35717
@jakpiase Hi, please look at this issue. slice caused ppyolo results wrong

[2021-09-14 07:06] zmdcs opened #35723 "为什么我按照官方教程里将voc格式数据转换成coco格式去训练，运行训练还是会下载官方的那个数据集？"
运行时甚至告诉我找不到dataset/coco这个文件夹，我是在static文件夹下运行的，coco文件夹下也按照教程在annotations底下放两个.json文件，imags文件夹下放.jpg文件。为什么还是会下数据集呢？

[2021-09-14 07:18] zhangting2020 commented on #35702
使用np.allclose对结果比较设置atol=1e-5可以通过，这个误差范围应该并不算太大。
但需要进一步确认的是：2个框架的结果哪个更接近理论值？如果你已经有验证结论，也可以将验证方法和结果贴在下方

[2021-09-14 07:28] zhangting2020 commented on #35687
Currently we recommend gcc 8.2.0. It has not been fully tested to show that it can work on gcc 5.5.0.

[2021-09-14 07:38] lidanqing-vv commented on #35719
@baoachun
Hi, #35719, #35717 and #34723 three issues will be take care be @jakpiase

[2021-09-14 08:05] #35689 closed, assigned to zhangting2020

[2021-09-14 08:06] JanuszL commented on #35555
@zhiqiu,

python -m pip install paddlepaddle-gpu==0.0.0.post112 -f https://www.paddlepaddle.org.cn/whl/linux/gpu/develop.html

I'll give it a try. Thanks for the help.

[2021-09-14 08:41] my777777 opened #35731 "有没有模型编辑/裁剪工具？"
场景是这样：有个__model__模型文件包含了1000个op，现在想把前500个Op摘出来形成一个新的__model__文件，有没有类似的编辑工具可以让我直接把后500个Op从网络结构中删掉？或者有没有方法可以达到上述目的？

[2021-09-14 08:58] #19174 closed, assigned to phlrain

[2021-09-14 08:58] #20740 closed, assigned to nobody

[2021-09-14 08:58] #20872 closed, assigned to wzzju

[2021-09-14 08:58] #21330 closed, assigned to nobody

[2021-09-14 08:58] #21708 closed, assigned to phlrain

[2021-09-14 08:58] #21794 closed, assigned to chenwhql

[2021-09-14 08:58] #22242 closed, assigned to nobody

[2021-09-14 08:58] #22397 closed, assigned to nobody

[2021-09-14 08:58] #22501 closed, assigned to nobody

[2021-09-14 08:58] #22592 closed, assigned to nobody

[2021-09-14 08:58] #22680 closed, assigned to nobody

[2021-09-14 08:58] #22979 closed, assigned to nobody

[2021-09-14 08:58] #23721 closed, assigned to NHZlX

[2021-09-14 08:58] #23992 closed, assigned to nobody

[2021-09-14 08:58] #24300 closed, assigned to 1024er

[2021-09-14 08:58] #24302 closed, assigned to JepsonWong

[2021-09-14 08:58] #24304 closed, assigned to FrostML, xjqbest

[2021-09-14 08:58] #24622 closed, assigned to nepeplwu

[2021-09-14 08:58] #24713 closed, assigned to nobody

[2021-09-14 08:58] #24863 closed, assigned to luotao1, chenwhql

[2021-09-14 08:58] #25080 closed, assigned to nobody

[2021-09-14 08:58] #25187 closed, assigned to zhwesky2010

[2021-09-14 08:58] #25308 closed, assigned to nobody

[2021-09-14 08:58] #25315 closed, assigned to nobody

[2021-09-14 08:58] #25366 closed, assigned to nobody

[2021-09-14 08:58] #25380 closed, assigned to cryoco

[2021-09-14 08:58] #25386 closed, assigned to nobody

[2021-09-14 08:58] #25405 closed, assigned to seiriosPlus

[2021-09-14 08:58] #25424 closed, assigned to cryoco

[2021-09-14 08:58] #25426 closed, assigned to juncaipeng

[2021-09-14 08:58] #25432 closed, assigned to Thunderbrook

[2021-09-14 08:58] #25437 closed, assigned to zhiqiu, juncaipeng

[2021-09-14 08:58] #25454 closed, assigned to seiriosPlus

[2021-09-14 08:58] #25477 closed, assigned to MrChengmo

[2021-09-14 08:58] #25481 closed, assigned to nobody

[2021-09-14 08:58] #25485 closed, assigned to nobody

[2021-09-14 08:58] #25492 closed, assigned to nobody

[2021-09-14 08:58] #25508 closed, assigned to nobody

[2021-09-14 08:58] #25513 closed, assigned to nobody

[2021-09-14 08:58] #25516 closed, assigned to guoshengCS

[2021-09-14 08:58] #25526 closed, assigned to frankwhzhang

[2021-09-14 08:58] #25535 closed, assigned to nobody

[2021-09-14 08:58] #25547 closed, assigned to nobody

[2021-09-14 08:58] #25586 closed, assigned to iclementine

[2021-09-14 08:58] #25591 closed, assigned to nobody

[2021-09-14 08:58] #25607 closed, assigned to nobody

[2021-09-14 08:58] #25610 closed, assigned to nobody

[2021-09-14 08:58] #25616 closed, assigned to nobody

[2021-09-14 08:58] #25626 closed, assigned to nobody

[2021-09-14 08:58] #25640 closed, assigned to nobody

[2021-09-14 08:58] #25644 closed, assigned to nobody

[2021-09-14 08:58] #25656 closed, assigned to phlrain

[2021-09-14 08:58] #25657 closed, assigned to nobody

[2021-09-14 08:58] #25658 closed, assigned to nobody

[2021-09-14 08:58] #25677 closed, assigned to jiweibo

[2021-09-14 08:58] #25720 closed, assigned to wzzju

[2021-09-14 08:58] #25723 closed, assigned to nobody

[2021-09-14 08:58] #25743 closed, assigned to wzzju

[2021-09-14 08:58] #25747 closed, assigned to nobody

[2021-09-14 08:58] #25759 closed, assigned to nobody

[2021-09-14 08:58] #25760 closed, assigned to nobody

[2021-09-14 08:58] #25762 closed, assigned to nobody

[2021-09-14 08:58] #25775 closed, assigned to nobody

[2021-09-14 08:58] #25776 closed, assigned to nobody

[2021-09-14 08:58] #25784 closed, assigned to nobody

[2021-09-14 08:58] #25786 closed, assigned to nobody

[2021-09-14 08:58] #25789 closed, assigned to nobody

[2021-09-14 08:58] #25795 closed, assigned to nobody

[2021-09-14 08:58] #25824 closed, assigned to nobody

[2021-09-14 08:58] #25829 closed, assigned to zhwesky2010

[2021-09-14 08:58] #25830 closed, assigned to nobody

[2021-09-14 08:58] #25842 closed, assigned to nobody

[2021-09-14 08:58] #25845 closed, assigned to NHZlX

[2021-09-14 08:58] #25846 closed, assigned to nobody

[2021-09-14 08:58] #25847 closed, assigned to nobody

[2021-09-14 08:58] #25853 closed, assigned to nobody

[2021-09-14 08:58] #25866 closed, assigned to seiriosPlus

[2021-09-14 08:58] #25869 closed, assigned to seiriosPlus

[2021-09-14 08:58] #25874 closed, assigned to nobody

[2021-09-14 08:58] #25881 closed, assigned to nobody

[2021-09-14 08:58] #25886 closed, assigned to nobody

[2021-09-14 08:58] #25889 closed, assigned to heavengate, wzzju

[2021-09-14 08:58] #25899 closed, assigned to wzzju

[2021-09-14 08:58] #25905 closed, assigned to phlrain

[2021-09-14 08:58] #25909 closed, assigned to wzzju

[2021-09-14 08:58] #25913 closed, assigned to Shixiaowei02

[2021-09-14 08:58] #25928 closed, assigned to LielinJiang

[2021-09-14 08:59] #25930 closed, assigned to nobody

[2021-09-14 08:59] #26014 closed, assigned to nobody

[2021-09-14 08:59] #26022 closed, assigned to nobody

[2021-09-14 08:59] #26058 closed, assigned to Steffy-zxf

[2021-09-14 08:59] #26070 closed, assigned to nobody

[2021-09-14 08:59] #26077 closed, assigned to nobody

[2021-09-14 08:59] #26097 closed, assigned to nobody

[2021-09-14 08:59] #26113 closed, assigned to nobody

[2021-09-14 08:59] #26137 closed, assigned to nobody

[2021-09-14 08:59] #26140 closed, assigned to nobody

[2021-09-14 08:59] #26153 closed, assigned to ForFishes

[2021-09-14 08:59] #26161 closed, assigned to nobody

[2021-09-14 08:59] #26165 closed, assigned to nobody

[2021-09-14 08:59] #26167 closed, assigned to nobody

[2021-09-14 08:59] #26172 closed, assigned to nobody

[2021-09-14 08:59] #26189 closed, assigned to nobody

[2021-09-14 08:59] #26190 closed, assigned to nobody

[2021-09-14 08:59] #26192 closed, assigned to nobody

[2021-09-14 08:59] #26196 closed, assigned to nobody

[2021-09-14 08:59] #26197 closed, assigned to nobody

[2021-09-14 08:59] #26199 closed, assigned to nobody

[2021-09-14 08:59] #26212 closed, assigned to nobody

[2021-09-14 08:59] #26219 closed, assigned to nobody

[2021-09-14 08:59] #26225 closed, assigned to Shixiaowei02

[2021-09-14 08:59] #26230 closed, assigned to nobody

[2021-09-14 08:59] #26255 closed, assigned to nobody

[2021-09-14 08:59] #26259 closed, assigned to Shixiaowei02

[2021-09-14 08:59] #26262 closed, assigned to nobody

[2021-09-14 08:59] #26265 closed, assigned to nobody

[2021-09-14 08:59] #26270 closed, assigned to zhhsplendid

[2021-09-14 08:59] #26272 closed, assigned to zhhsplendid

[2021-09-14 08:59] #26280 closed, assigned to nobody

[2021-09-14 08:59] #26282 closed, assigned to zhhsplendid

[2021-09-14 08:59] #26285 closed, assigned to nobody

[2021-09-14 08:59] #26291 closed, assigned to nobody

[2021-09-14 08:59] #26292 closed, assigned to ysh329

[2021-09-14 08:59] #26297 closed, assigned to ysh329

[2021-09-14 08:59] #26302 closed, assigned to ysh329

[2021-09-14 08:59] #26312 closed, assigned to ysh329, chenwhql

[2021-09-14 08:59] #26317 closed, assigned to ysh329

[2021-09-14 08:59] #26318 closed, assigned to ysh329

[2021-09-14 08:59] #26321 closed, assigned to nobody

[2021-09-14 08:59] #26322 closed, assigned to MRXLT

[2021-09-14 08:59] #26325 closed, assigned to phlrain

[2021-09-14 08:59] #26327 closed, assigned to MRXLT

[2021-09-14 08:59] #26328 closed, assigned to MRXLT

[2021-09-14 08:59] #26330 closed, assigned to MRXLT

[2021-09-14 08:59] #26333 closed, assigned to nobody

[2021-09-14 08:59] #26339 closed, assigned to lijianshe02

[2021-09-14 08:59] #26343 closed, assigned to lijianshe02

[2021-09-14 08:59] #26348 closed, assigned to lijianshe02

[2021-09-14 08:59] #26361 closed, assigned to lijianshe02

[2021-09-14 08:59] #26362 closed, assigned to lijianshe02

[2021-09-14 08:59] #26363 closed, assigned to lijianshe02

[2021-09-14 08:59] #26381 closed, assigned to bjjwwang

[2021-09-14 08:59] #26406 closed, assigned to bjjwwang

[2021-09-14 08:59] #26448 closed, assigned to hong19860320

[2021-09-14 08:59] #26456 closed, assigned to hong19860320, jiweibo

[2021-09-14 08:59] #26458 closed, assigned to hong19860320

[2021-09-14 08:59] #26472 closed, assigned to nobody

[2021-09-14 08:59] #26474 closed, assigned to huangjun12

[2021-09-14 08:59] #26476 closed, assigned to nobody

[2021-09-14 08:59] #26518 closed, assigned to nobody

[2021-09-14 08:59] #26524 closed, assigned to nobody

[2021-09-14 08:59] #26571 closed, assigned to Steffy-zxf

[2021-09-14 08:59] #26574 closed, assigned to zhupengyang

[2021-09-14 08:59] #26597 closed, assigned to nobody

[2021-09-14 08:59] #26602 closed, assigned to nobody

[2021-09-14 08:59] #26603 closed, assigned to nobody

[2021-09-14 08:59] #26604 closed, assigned to nobody

[2021-09-14 08:59] #26616 closed, assigned to phlrain

[2021-09-14 08:59] #26626 closed, assigned to phlrain

[2021-09-14 08:59] #26627 closed, assigned to LielinJiang

[2021-09-14 08:59] #26638 closed, assigned to nobody

[2021-09-14 08:59] #26640 closed, assigned to zhhsplendid

[2021-09-14 08:59] #26663 closed, assigned to nobody

[2021-09-14 08:59] #26668 closed, assigned to nobody

[2021-09-14 08:59] #26670 closed, assigned to nobody

[2021-09-14 08:59] #26681 closed, assigned to nobody

[2021-09-14 08:59] #26691 closed, assigned to nobody

[2021-09-14 08:59] #26703 closed, assigned to nobody

[2021-09-14 08:59] #26725 closed, assigned to nobody

[2021-09-14 08:59] #26728 closed, assigned to nobody

[2021-09-14 08:59] #26755 closed, assigned to nobody

[2021-09-14 08:59] #26840 closed, assigned to nobody

[2021-09-14 08:59] #26756 closed, assigned to nobody

[2021-09-14 08:59] #26758 closed, assigned to nobody

[2021-09-14 08:59] #26765 closed, assigned to nobody

[2021-09-14 08:59] #26781 closed, assigned to nobody

[2021-09-14 09:00] #26784 closed, assigned to nobody

[2021-09-14 09:00] #26788 closed, assigned to heavengate, chenwhql, DannyIsFunny

[2021-09-14 09:00] #26789 closed, assigned to DannyIsFunny

[2021-09-14 09:00] #26791 closed, assigned to qingqing01

[2021-09-14 09:00] #26795 closed, assigned to phlrain

[2021-09-14 09:00] #26801 closed, assigned to nobody

[2021-09-14 09:00] #26804 closed, assigned to nobody

[2021-09-14 09:00] #26805 closed, assigned to nobody

[2021-09-14 09:00] #26807 closed, assigned to liym27

[2021-09-14 09:00] #26811 closed, assigned to nobody

[2021-09-14 09:00] #26814 closed, assigned to nobody

[2021-09-14 09:00] #26860 closed, assigned to DannyIsFunny

[2021-09-14 09:00] #26861 closed, assigned to nobody

[2021-09-14 09:00] #26862 closed, assigned to nobody

[2021-09-14 09:00] #26866 closed, assigned to nobody

[2021-09-14 09:00] #26867 closed, assigned to nobody

[2021-09-14 09:00] #26874 closed, assigned to nobody

[2021-09-14 09:00] #26881 closed, assigned to nobody

[2021-09-14 09:00] #26892 closed, assigned to nobody

[2021-09-14 09:00] #26895 closed, assigned to nobody

[2021-09-14 09:00] #26899 closed, assigned to nobody

[2021-09-14 09:00] #26941 closed, assigned to nobody

[2021-09-14 09:00] #27031 closed, assigned to nobody

[2021-09-14 09:00] #27032 closed, assigned to nobody

[2021-09-14 09:00] #27043 closed, assigned to nobody

[2021-09-14 09:00] #27061 closed, assigned to nobody

[2021-09-14 09:00] #27062 closed, assigned to nobody

[2021-09-14 09:00] #27063 closed, assigned to nobody

[2021-09-14 09:00] #27072 closed, assigned to nobody

[2021-09-14 09:00] #27088 closed, assigned to nobody

[2021-09-14 09:00] #27095 closed, assigned to nobody

[2021-09-14 09:00] #27101 closed, assigned to seiriosPlus

[2021-09-14 09:00] #27216 closed, assigned to heavengate

[2021-09-14 09:00] #27232 closed, assigned to nobody

[2021-09-14 09:05] wzh326 commented on #34526
【队名】：随便玩玩

【序号】：38

【论文】：R-Drop: Regularized Dropout for Neural Networks

【状态】：报名

【repo链接】：https://github.com/wzh326/R-Drop

[2021-09-14 09:16] zenghsh3 commented on #34105
fixed in #35538

[2021-09-14 09:16] #34105 closed, assigned to T8T9

[2021-09-14 09:20] jakpiase commented on #35717
Hi @baoachun, by "ppyolo" you mean ppyolo_r50vd_dcn_1x_coco or some other model?

[2021-09-14 09:27] tink2123 commented on #35707
数据读取有问题，再检测一下数据路径的配置吧，可以先跑一下单卡训练，跑通后再执行多卡。

[2021-09-14 09:41] danleifeng commented on #35721
看着像是解析数据有问题，请检查下数据格式和数据解析逻辑

[2021-09-14 09:42] danleifeng commented on #35723
请问你跑的是paddleclas还是paddleocr还是paddledetection呢？请提供下训练代码的链接

[2021-09-14 09:44] zmdcs commented on #35723
paddle detection您想要的是训练语句还是配置yml文件，我只修改了num_classes为1，以及修改学习率为0.005

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月14日(星期二) 下午5:43
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 为什么我按照官方教程里将voc格式数据转换成coco格式去训练，运行训练还是会下载官方的那个数据集？ (#35723)

请问你跑的是paddleclas还是paddleocr还是paddledetection呢？请提供下训练代码的链接

—
You are receivi

[2021-09-14 09:50] nosaydomore commented on #34526
【队名】：再也不想调参了

【序号】：81

【论文】：MobileBERT: a Compact Task-Agnostic BERT for Resource-Limited Devices

【状态】：提交

【repo链接】：https://github.com/nosaydomore/MobileBert_paddle

[2021-09-14 10:41] jakpiase commented on #35719
Hi @baoachun, could you please advise me how can I run swin_transformer?

[2021-09-14 10:41] Link2Opend commented on #34526
【队名】：gogogo

【序号】：61

【论文】：RetinaFace: Single-stage Dense Face Localisation in the Wild

【状态】：报名

【repo链接】：https://github.com/Link2Opend/RetinaFace-paddle

[2021-09-14 10:48] shangzhizhou commented on #33063
您好，目前版本的aistudio(paddle2.1.2)已经不再复现次问题，请尝试。

[2021-09-14 10:49] shangzhizhou commented on #34561
您好，目前版本的aistudio(paddle2.1.2)已经不再复现次问题，请尝试。

[2021-09-14 11:08] baoachun commented on #35717
Yes，ppyolo_r50vd_dcn_1x_coco.

[2021-09-14 11:08] jakpiase commented on #35719
I have reproduced this error, working on it now

[2021-09-14 11:23] zhiqiu commented on #35614
hi, 调用`.cpu`的时候，前面的cuda kernel计算可能没有完成，所以你统计的时间是model计算+copy时间。

[2021-09-14 12:17] yingyibiao commented on #35123
我看了一下这个问题，来解释一下这三种现象：
（1）可以发现在x1扩大10倍的条件下，该结果最大误差非常大！
（2）如果我把赋值权重的部分给注释掉，误差竟然正常了？？
（3）如果我先初始化pytorch的权重，然后把pytorch权重赋值给paddle。误差又有了。

首先1和2的区别是参数权重初始化的方式不一致，在1中，参数权重通过paddle.randn进行初始化，该OP返回均值为0，标准差为1的正态随机分布的随机Tensor；而在2中，参数权重通过paddle.nn.Linear进行初始化，该OP使用Xavier权重初始化方法，返回均值为0，标准差为sqrt(2.0/(fan_in+fan_out))的正态随机分布的随机Tensor。由于fan_in和fan_out很大（为768），所以在2中的参数权重标准差比1小很多，从而导致1误差偏大，2误差正常。

在3中，PyTorch中tor

[2021-09-14 13:13] jczaja commented on #34554
@OliverLPH  I got a core dump from you . To use it I need to know SHA (identification of commit) and exact cmake flags and compiler version .

Please also tell me if core dump is for enabled mkldnn ( enable_mkldnn()  0 or 1 ) ?

[2021-09-14 13:36] 442803316 commented on #34526
【队名】：四号公寓
【序号】：102
【论文】：Panoptic Feature Pyramid Networks
【状态】：报名
【repo链接】：https://github.com/442803316/repo

[2021-09-14 13:43] 442803316 commented on #34526
【队名】：四号公寓
【序号】：102
【论文】：From Recognition to Cognition: Visual Commonsense Reasoning
【状态】：报名
【repo链接】：https://github.com/442803316/repo

[2021-09-14 14:15] 1023280072 commented on #34526
【队名】：冲鸭鸭鸭鸭
【序号】：1
【论文】：YOLO9000: Better, Faster, Stronger
【状态】：报名
【repo链接】：https://github.com/1023280072/my_yolo9000

[2021-09-14 14:27] Darki-luo opened #35739 "paddle2.1.2使用GPU出错"
Python 3.8.5 (default, Sep  4 2020, 07:30:14)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

W0914 22:21:57.912344  7571 init.cc:141] Compiled with WITH_GPU, but no GPU found in runtime.
/home/luo/miniconda3/lib/python3.8/site-packages/paddle/fluid/framework.py:300: UserWarning: You are using GPU version Paddle, but your CUDA device i

[2021-09-14 17:02] JanuszL commented on #35555
Hi @zhiqiu,

I tested the method by creating and recording the event. It seems to work fine.

In the case of DALI device2device copy is performed and it cannot overlap with other kernels. However I cannot do `feed_ndarray(tensor, ptr, paddle.device.cuda.current_stream(device_id))` as `current_stream` call returns PaddlePaddle object and it is not possible to extract a raw cuda stream that DALI exp

[2021-09-15 01:54] S-HuaBomb commented on #34526
【队名】：绝绝子

【序号】：31

【论文】：Progressive Growing of GANs for Improved Quality, Stability, and Variation

【状态】：提交

【repo链接】：https://github.com/GXU-GMU-MICCAI/PGAN-Paddle

[2021-09-15 02:20] xox9001 opened #35744 "paddle 2.1.0 golang demo编译出错，无法找到paddle_c_api.h"
OS： ubuntu 20.04

paddle: 2.1.0

golang: 1.15

安装参数：按照cpp部署编译方式进行编译，已经成功生成paddle_inference_c_install_dir 等目录，但是无法找到paddle_c_api.h

代码目录： https://github.com/PaddlePaddle/Paddle/tree/release/2.1/go

按文档执行命令：go run demo/mobilenet.go

提示：

paddle/common.go :20

 // #include <pd_inference_api.h>  :  no such file

======================================
我find了paddle_c_api.h，放入 demo/paddle_c/paddle/includ

[2021-09-15 02:47] OliverLPH commented on #34554
@jczaja hi, the core dump was created by following version, and the core dump is for enabled mkldnn=1
commit: https://github.com/PaddlePaddle/Paddle/commit/0043fa8c2b36f63152797fe08fcfe8684f1448e0
version.txt is
[code]
I used docker image to build paddle: paddlepaddle/paddle:latest-dev-cuda10.1-cudnn7-gcc82
cmake flags:
[code]
And I upload my test paddle lib to baidu-bos, you may download from thi

[2021-09-15 03:14] heavengate commented on #35723
PaddleDetection的问题到PaddleDetection的库里提吧，https://github.com/PaddlePaddle/PaddleDetection/issues

[2021-09-15 03:14] #35723 closed, assigned to danleifeng

[2021-09-15 03:16] #35687 closed, assigned to wzzju, zhangting2020

[2021-09-15 03:22] 94Bo commented on #26878
在CmakeLists.txt加这么一句
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -Wno-error=pessimizing-move")

如果不想从头重新编译，可以找到出问题的build.make同目录下的flags.make
在CXX_FLAGS那一行加上-Wno-error=pessimizing-move

文件比较多，直接上sed
sed -i 's/^CXX_FLAGS\(.*\)$/CXX_FLAGS\1 -Wno-error=pessimizing-move /' \`find paddle -type f -name "flags.make"\`

[2021-09-15 03:54] Reneea1 opened #35747 "开启amp进行混合精度训练没有加速"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：paddle 2.0.2
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
 注：您可以通过执行[summary_env.py](https://github.com/P

[2021-09-15 03:56] danleifeng commented on #35739
您好，请参考官网安装教程进行安装，确认cuda/cudnn安装流程：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/pip/linux-pip.html#erkaishianzhuang

[2021-09-15 04:04] hong19860320 commented on #35731
[split_model.tar.gz](https://github.com/PaddlePaddle/Paddle/files/7166678/split_model.tar.gz)
可以用这个工具，对预测模型进行分割

[2021-09-15 04:10] CuberrChen opened #35749 "【论文复现】定位到Dataloader有内存泄漏现象"
- 标题：定位到Dataloader有内存泄漏现象
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU：Aistudio 32G
    3）GPU：Aistudio Tesla 16G
    4）系统环境：ubuntu python3.7

- 训练信息
    1）单机，单卡
    2）显存信息 16G
    3）Operator信息
- 复现信息：Dataloader存在不稳定的内存泄漏，造成CPU内存缓慢增长直到最后内存溢出崩溃。
- 问题描述：
我利用memory_profiler工具对我的训练函数进行了profile分析：
[code]

从日志结果看，memory_check函数并没有造成内存的增加。但偶尔经历以下一次循环后就会出现CPU内存的增长。少则零点几M，多则几十M。因此我怀疑是dataloader的内存泄漏。
[co

[2021-09-15 05:11] zmdcs commented on #35723
我去了，压根没人回，你居心何在

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Kaipeng ***@***.***&gt;;
发送时间: 2021年9月15日(星期三) 中午11:14
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle] 为什么我按照官方教程里将voc格式数据转换成coco格式去训练，运行训练还是会下载官方的那个数据集？ (#35723)

PaddleDetection的问题到PaddleDetection的库里提吧，https://github.com/PaddlePaddle/PaddleDetection/issues

—
You are receiving th

[2021-09-15 05:36] ForFishes commented on #35747
您好，请交代一下模型背景。amp加速一般在矩阵乘运算较多的网络，加速明显。

[2021-09-15 05:42] ForFishes commented on #35749
您好，这个可能是每次dataloder读取数据后，没有去覆盖之前读取的数据，导致泄漏。

[2021-09-15 06:05] Reneea1 commented on #35747
模型是类似于mnasnet的结构，主要是由conv2d, depthwise_conv2d, bn, relu6这些op组成

[2021-09-15 06:11] Avalon244 opened #35752 "xpu多卡训练报错"
paddlepaddle2.1.1
python3.7.4
按照官网模板写的mnist手写图片识别算法，跑单卡xpu可以训练，跑多卡时分别尝试了fleet的collective模式和paddle.distributed.nit_parallel_env()，前者报错no cuda device，后者报错Operator is not registered。请问如何解决？是xpu不支持多卡么？
![IMG_20210915_112811](https://user-images.githubusercontent.com/54314261/133379931-d37da1ef-451b-4092-bd7f-d3757a16f964.jpg)
![IMG_20210915_112900](https://user-images.githubusercontent.com/54314261/13

[2021-09-15 06:14] CuberrChen commented on #35749
@ForFishes 但是并不是每次iter都会增加。是偶发且持续性增加。大概10个小时左右会把内存撑满。 那我可不可以手动再每一次iter结尾通过del指令手动清除数据来解决？

[2021-09-15 06:20] wangxicoding commented on #35752
跑的都是动态图吧，先设置一下device，`paddle.set_device('xpu')`

[2021-09-15 06:28] Avalon244 commented on #35752
已经设置过了

[2021-09-15 06:45] zhuguiqian opened #35756 "目前哪些算子支持在cpu上使用bf16推理"
目前哪些算子支持在cpu上使用bf16推理，推理的精度会有多少损失

[2021-09-15 06:56] wangxicoding commented on #35752
这个代码吧https://www.paddlepaddle.org.cn/tutorials/projectdetail/2203224
![image](https://user-images.githubusercontent.com/10208305/133385222-c1f2bff7-a607-4c68-8b59-dd67309faec4.png)
我这边测试可以跑的呢

[2021-09-15 06:58] wangxicoding commented on #35752
你那边XPU的安装包是怎么安装的

[2021-09-15 07:18] nosaydomore commented on #34526
【队名】：再也不想调参了

【序号】：81

【论文】：MobileBERT: a Compact Task-Agnostic BERT for Resource-Limited Devices

【状态】：提交（修复bug）

【repo链接】：https://github.com/nosaydomore/MobileBert_paddle

[2021-09-15 07:31] danleifeng commented on #35705
请问有可复现代码吗

[2021-09-15 07:56] Essence9999 opened #35758 "flask部署paddleocr，单GPU，单进程正常，多进程报错"
开启多进程代码：
![image](https://user-images.githubusercontent.com/66725845/133393753-e7977adb-f976-4a13-9bb4-c40d54b3dab8.png)

报错信息：
OSError: (External)  Cuda error(3), initialization error.
  [Advise: The API call failed because the CUDA driver and runtime could not be initialized. ] (at /paddle/paddle/fluid/platform/gpu_info.cc:308)

[2021-09-15 08:16] lijiajun3029 commented on #34526
【队名】：牯岭街少年
【序号】：2
【论文】：You Only Look Once:Unified, Real-Time Object Detection
【状态】：报名
【repo链接】：https://github.com/lijiajun3029/YOLOv1

[2021-09-15 08:44] Avalon244 commented on #35752
是这个代码，但是我改了一部分模型，把原来的多层卷积改成了两层Linear层去做一维数据分类，报错是报在了模型的第一层Linear。xpu版本是3.2，环境是别人提供的，xpu单卡可以跑，是xpu安装的错误导致的么？有查询的方法么？谢谢

是这个代码，但是我改了一部分模型，把原来的多层卷积改成了两层Linear层去做一维数据分类，报错是报在了模型的第一层Linear。xpu版本是3.2，环境是别人提供的，xpu单卡可以跑，是xpu安装的错误导致的么？有查询的方法么？谢谢

[2021-09-15 08:50] zhangyimi opened #35762 "paddle2 tensor赋值报错"
从官网nightly build安装的版本
碰到一个错误:

[code]

分析问题过程中发现paddle不区分0和[0]的shape，而numpy和torch区分：
numpy:
[code]

torch结果同上:
[code]

但是paddle结果如下：
[code]

这样就会产生上面的问题，numpy下可以执行下面的代码，

[code]

但是paddle下执行a[idx2]就会报错了， 因为a[idx1] 和 a[idx2]返回的shape大小不一致，感觉很不易用。

[2021-09-15 09:28] one-matrix opened #35766 "CMake for a Unix platform that does not have -lrt"
- 标题：Mac编译错误 library not found for -lrt
- 版本、环境信息：
    1）PaddlePaddle版本：https://paddle-inference-lib.bj.bcebos.com/mac/2.1.1/cpu_avx_openblas/paddle_inference_install_dir.tgz
    2）CPU：Inter i7
    3）GPU：无，
    4）系统环境：
          Paddle version: 2.1.2
          Paddle With CUDA: False
          OS: macOs 11.5.2
          Python version: 3.8.12
          CUDA version: None
          cuDNN version: N

[2021-09-15 09:31] ForFishes commented on #35758
您好。请问你是多进程跑的是分布式吗？看报错是cuda驱动不匹配。

[2021-09-15 09:32] gloria111 commented on #34526
【队名】：渔夫
【序号】：9
【论文】：YOLOX: Exceeding YOLO Series in 2021
【状态】：报名
【repo链接】：https://github.com/gloria111/YOLOX_paddle

[2021-09-15 09:38] CuberrChen commented on #35749
通过每次iter结束处使用del 删除example并没有解决问题。

[2021-09-15 09:42] Essence9999 commented on #35758
我想多个进程同时执行，所以用了多进程，GPU环境是没有问题的。单进程执行，gpu只用了8%，高并发就会任务阻塞。想尽可能多的同时执行任务，求指导（部署成了flask服务）

[2021-09-15 09:54] wangxicoding commented on #35752
https://github.com/PaddlePaddle/Paddle/pull/30671
按照我这个PR里面的example跑一下试试

[2021-09-15 09:56] wangxicoding commented on #35752
我怀疑是xpu的paddle包有问题，编译的时候没有开distributed选项

[2021-09-15 10:13] CnybTseng commented on #28391
同样的编译环境下，补充几个编译错误：
E:\tseng\projects\Algorithms\3rdparty\paddle-2.1.3\src\Paddle-2.1.3\paddle\fluid\operators\math\selected_rows_functor.cc(430,11): error C2672: “elementwise_add_to”: 未找到匹配的重载函数 [E:\tseng\projects\Algorithms\3rdparty\paddle-2.1.3\s
       rc\Paddle-2.1.3\build\paddle\fluid\operators\math\selected_rows_functor.vcxproj]

E:\tseng\projects\Algorithms\3rdparty\paddle-2.1.3\src\Paddle-

[2021-09-15 10:59] nizihan opened #35772 "Cudnn error, CUDNN_STATUS_BAD_PARAM，process_num>1时经常出core"
gcc82的C++服务：
预测库：https://irepo.baidu-int.com/rest/prod/v3/baidu/vis-open/paddle/releases/1.8.4.1/files
paddle1.8.4
cuda10.1
libpaddle_fluid_gpu_cudnn7.so
libcudnn.so.7.5.0

process_num=1时多并发请求不会报错，但是process_num>1时经常会出core

改为cudn10.2 cudnn7.6也一样报错
export LD_LIBRARY_PATH=/usr/lib64/:./so/:/home/work/cuda-10.2/lib64/:/home/work/cudnn/cudnn_v7.6/cuda/lib64/

报错日志：
I0915 18:53:13.308756 10415 predicto

[2021-09-15 11:04] zhangyimi opened #35773 "full_like不支持inf"
paddle2.0，full_like不支持-inf
[code]
只能通过如下形式实现，很不合理。
[code]

[2021-09-15 11:25] HuimengZhang commented on #35638
我把tensor 转成numpy 修改后再用set_value() 赋值回去 这样操作解决了上述问题，这么操作，现在看没有什么问题，不知道可不可以？

[2021-09-15 12:24] lidanqing-vv commented on #35574
@baoachun @jakpiase Baoachun updated this issue caused other 4 issues. So I revert your PR first. If you make fix PR before 17th September, please @baoachun to let him test his 5 cards first and then merge the fix PR. Thanks.
Update: This issue need to be fixed for v2.2

[2021-09-15 12:29] sandyhouse commented on #35575
Closing this issue. Reopen it if you have any further question.

[2021-09-15 12:29] #35575 closed, assigned to sandyhouse

[2021-09-15 12:51] lidanqing-vv commented on #35574
@jakpiase  Hi, I can not revert for you, because there are too many file conflicts and I m not sure if I could remove or not. Please revert it or fix it before 17th September (which is like night 16th September Poland). Keep updating under this issue. Thanks.

[2021-09-15 13:00] baoachun commented on #35574
First step:
`git clone https://github.com/PaddlePaddle/PaddleClas.git`
`git checkout develop`

Second step:
Download models and images from here: https://github.com/PaddlePaddle/PaddleClas/blob/develop/docs/en/tutorials/quick_start_recognition_en.md
<img width="1091" alt="图片" src="https://user-images.githubusercontent.com/22114318/133437785-dcc1a958-8cbc-4ec9-9f50-4ce9e86c0f86.png">

~~Problem 1:

[2021-09-15 13:28] wzh326 commented on #34526
【队名】：随便玩玩

【序号】：38

【论文】：R-Drop: Regularized Dropout for Neural Networks

【状态】：提交

【repo链接】：https://github.com/wzh326/R-Drop

[2021-09-15 13:53] zhangxin-xd commented on #34526
【队名】：chuchu和副本

【序号】：113

【论文】：Category-Level Adversarial Adaptation for Semantic Segmentation using Purified Features

【状态】：提交

【repo链接】：https://github.com/zhangxin-xd/CLAN-paddle

[2021-09-15 13:57] DLoveS1314 opened #35777 "能否支持一下这个库 https://github.com/arogozhnikov/einops"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/Paddle/blob/develop/tools/summary_env.py)获取以上信息。
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.

[2021-09-15 15:58] lidanqing-vv commented on #34554
Reproduce with docker Peihan suggested
[code]

@OliverLPH Hi, using the docker image and paddle inference lib you provided, I met this error. Is it the same error as you have ?

![image](https://user-images.githubusercontent.com/47151829/133645201-dd0314de-24c6-4c8d-b317-06706c31c6b0.png)

[2021-09-16 01:20] Jeremy-lf opened #35782 "Paddle1.7应用create_parameter(shape=[1, groups, 1, 1]，与变量相乘的时候报错tensor holds no memory ,Call Tensor:: mutable_data first,"
Paddle1.7应用create_parameter(shape=[1, groups, 1, 1]，与变量相乘的时候报错tensor holds no memory ,Call Tensor:: mutable_data first。

res1 = fluid.layers.reshape(res0,[b,groups,h,w]) # (2,1,2,2)
weight = fluid.layers.create_parameter(shape=[1,groups,1,1],dtype='float32')
res2 = fluid.layers.elementwise_mul(res1,weight)

报错：tensor holds no memory ,Call Tensor:: mutable_data first。

[2021-09-16 01:20] CnybTseng commented on #35333
请问您是怎么解决的？我遇到了同样的问题。

[2021-09-16 01:28] Jeremy-lf commented on #35782
复习代码如下：如流：lvfeng02
[code]

[2021-09-16 01:36] Jeremy-lf commented on #35782
`--------------------------------------------
C++ Call Stacks (More useful to developers):
--------------------------------------------
0   std::string paddle::platform::GetTraceBackString<std::string const&>(std::string const&, char const*, int)
1   paddle::platform::EnforceNotMet::EnforceNotMet(std::string const&, char const*, int)
2   paddle::framework::Tensor::check_memory_size() const
3   flo

[2021-09-16 02:27] Essence9999 opened #35786 "GPU能否像CPU那样开启多进程预测，提高GPU利用率；批量预测，每次执行，GPU利用率最多10%"
执行predict_system.py时，批量图片ocr识别，但GPU的利用率最高不超过10%；
![image](https://user-images.githubusercontent.com/66725845/133538966-b1ae9891-d8b9-4d89-af38-1271607f7d40.png)
如何提高GPU使用率？
单张图片测试0.3s；50个进程同时访问，平均耗时7s
![image](https://user-images.githubusercontent.com/66725845/133539167-bf5abeb8-d419-4c01-82cb-12e3ef10cf07.png)
GPU能否像CPU那样，开启多进程，充分利用GPU，降低平均耗时？请问有没有什么好的解决方案？

[2021-09-16 02:40] zhiqiu commented on #35555
OK, I got it. I will find how to expose the raw pointer of `current_stream`.

[2021-09-16 05:42] baoachun opened #35794 "The prediction result of OCR model is wrong by using mkldnn."
![图片](https://user-images.githubusercontent.com/22114318/133555612-fe3e9c56-5e71-4f0c-b532-5670c5a0a1df.png)

Download `ch_PP-OCRv2_rec`, `ch_ppocr_mobile_v2.0_rec` and `ch_ppocr_server_v2.0_rec` from https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.3/doc/doc_en/models_list_en.md.

Then
`git clone https://github.com/PaddlePaddle/PaddleOCR.git`
`cd PaddleOCR`
`git checkout develop`
`python3

[2021-09-16 06:19] MARD1NO opened #35795 "Range OP 在不同dtype下行为不一致"
您好，环境是 develop版本，cuda11.2

[code]
float下输出结果是
[code]
double情况下输出结果是
[code]
#### 猜测问题：
https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/range_op.h#L42

在这行里面使用了std::ceil，但是ceil我这里测试，行为似乎跟数据类型是有关的，一段示例代码
[code]

[2021-09-16 06:20] baoachun commented on #35574
#35794
The same question.

[2021-09-16 06:31] hcwei13 commented on #34526
【队名】：4056

【序号】：114

【论文】：Comprehensive Semi-Supervised Multi-Modal Learning

【状态】：报名

【repo链接】：https://github.com/whongchen/CMML-Paddle

[2021-09-16 06:48] He-jerry commented on #34526
【队名】：光焰合体技

【序号】：22

【论文】：Real-Time High-Resolution Background Matting

【状态】：报名

【repo链接】：https://github.com/He-jerry/Realtime_Matting_PaddlePaddle

[2021-09-16 06:51] Shawn6688 commented on #35749
我也遇到类似问题，内存缓慢增长，半天甚至一天后内存占满

[2021-09-16 07:04] dlkht opened #35796 "paddle预测库在windows10 系统下总是出现错误提示"
欲将transformer c++ demo 于windows系统下运行，做如下操作
1.下载或源码编译(vs2017)paddle预测库（paddle_inference.lib）
2.将https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/machine_translation/transformer/deploy/cpp的demo移植到vs2017下
3.做了所有设置之后，执行生成命令，提示如下

错误	LNK1120	4 个无法解析的外部命令	transformer_e2e	D:\paddle\PaddleNLP\cxx_server2\build\Release\transformer_e2e.exe	1

错误	LNK2019	无法解析的外部符号 "__declspec(dllimport) public

[2021-09-16 07:24] 1023280072 commented on #34526
【队名】：冲鸭鸭鸭鸭
【序号】：2
【论文】：You Only Look Once: Unified, Real-Time Object Detection
【状态】：报名
【repo链接】：https://github.com/1023280072/yolov1

[2021-09-16 07:44] ForFishes commented on #35762
您好，感谢反馈问题，后续会进行评估修复。

[2021-09-16 08:10] bjjwwang commented on #35795
好的 感谢指出 我看看可能是个bug要修复一下

[2021-09-16 08:13] jakpiase commented on #35719
Hi @baoachun my fix to this issue has been merged. Could you please tell me if this issue still exist?

[2021-09-16 08:13] jakpiase commented on #35717
Hi @baoachun my fix to this issue has been merged. Could you please tell me if this issue still exist?

[2021-09-16 08:14] jakpiase commented on #34723
Hi @baoachun #35706 has been merged. Could you please tell me if this issue stil exist?

[2021-09-16 08:15] baoachun commented on #35719
@jakpiase
This problem has been solved.

[2021-09-16 08:16] #35719 closed, assigned to lidanqing-vv, jakpiase

[2021-09-16 08:16] baoachun commented on #35717
@jakpiase This problem has been solved.

[2021-09-16 08:16] #35717 closed, assigned to danleifeng, jakpiase

[2021-09-16 08:40] CuberrChen commented on #35749
经过多次实验，确定就是

[code]

这一行代码造成的内存增加。 我想知道可能的原因，help！

- 第一次：
-
[code]
batchsize为2，线程数为4，dataloader 100个iter后内存增加了443M。

- 第二次：
-
[code]

batchsize为2，线程数为4，dataloader 100个iter后内存增加了297M。

并且数据集的定义完全遵守paddle.io.Dataset的要求。

[2021-09-16 08:51] tughv commented on #35749
我用mnist数据集都能抛出线程错误，dataloader这个问题真头大

[2021-09-16 08:59] Jeremy-lf commented on #35782
问题已解决，是初始化方式不对

[2021-09-16 09:39] hebangwen opened #35801 "pytorch模型迁移到paddle上，二者的推断结果存在差异"
- 版本、环境信息：
    1）PaddlePaddle版本：2.1.2
    2）CPU/GPU：CPU
    3）系统环境：Windows 10 1904
    4）Python：3.8.11
    5）Pytorch版本：1.9.0
- 复现信息：请运行附加代码
- 问题描述：我想要把pytorch的预训练权重迁移到paddlepaddle上，[该项目](https://github.com/facebookresearch/InterHand2.6M)针对的是3D的手势识别。在我评估模型时，发现模型的指标比原模型要低，原模型的准确度为0.99，但是我迁移的模型只有0.34。所以我猜想是否是因为我只观察了可视化结果，而没有观察模型输出的参数结果。经过对比，我发现：**pytorch与paddle模型分别输出的heatmap的差的二范数是0.0157，而坐标是1e-4**。坐

[2021-09-16 09:39] ForFishes commented on #35744
您好，预测库编译问题。后续会找预测同学帮忙看看该问题。

[2021-09-16 09:41] ForFishes commented on #35747
amp在conv2d, depthwise_conv2d, bn, relu6的加速并不明显，可能会加速不明显，这个可能是正常的。具体的可以profile相应的timeline看一下，速度瓶颈。

[2021-09-16 09:47] ForFishes commented on #35749
您好，这个dataset问题，会反馈给相关同学帮忙看下。

[2021-09-16 09:48] heavengate commented on #35749
2.1.1版本上DataLoader有个线程和内存不能释放的泄漏问题，2.1.2版本已经修复了，可以更新下Paddle版本试下

[2021-09-16 09:57] ForFishes commented on #35777
您好，请问是有什么需求吗？需要支持这个库，是否有其他替代方式。

[2021-09-16 10:00] ForFishes commented on #35766
您好，建议使用paddle的官方镜像编译paddle。

[2021-09-16 10:28] killf commented on #34526
【队名】：killf
【序号】：22
【论文】：Real-Time High-Resolution Background Matting
【状态】：报名
【repo链接】：https://github.com/killf/Real-Time-High-Resolution-Background-Matting