[2019-09-06 10:33] yuanquan123 commented on #19685
是的
  File "nn.py", line 113, in fit
    gcn_repre_real = fluid.layers.sequence_pool(gcn_repre, pool_type='sum')
  File "nn.py", line 228, in <module>
    nn.fit(config)
C++ Callstacks:
Enforce failed. Expected lod.size() == 1UL, but received lod.size():2 != 1UL:1.
Only support one level sequence now. at [/paddle/paddle/fluid/operators/sequence_ops/sequence_pool_op.h:40]

[2019-09-06 11:10] maurise-yq-hu commented on #19686
发现了一个解决办法。修改train_loss，在square_error_cost之上再加一个mean层。从
[code]
变成
[code]
然后就可以工作了……
一头雾水地完全不明白为什么……

[2019-09-06 11:15] hutuxian commented on #19210
是的

[2019-09-06 11:15] #19210 closed, assigned to hutuxian

[2019-09-06 11:38] seiriosPlus commented on #19685
目前看是op不支持， 并且我们embedding目前应该也不支持lod-level2的

[2019-09-06 14:54] a-big-tomato commented on #19665
error 2已经解决，
我把minize(loss)移出了循环，然后把loss的计算方式从原来的
[code]
改为
[code]
error 1依旧没有想明白，好像是加入了rnn的缘故，然后我的代码，有点乱，所以举个例子代替，
[code]

然后我尝试了：
1 pre_hidden和pre_cell来自layers.zeros_like(x),并且把他俩的stop_gradient设为false，依旧有问题

[2019-09-06 15:09] sunbrother99 commented on #19678
Bathsize是4  16  20  都试过，都不行，且是相同的错误，只有改层数才有变化能跑通

发自我的vivo智能手机

tangwei12 <notifications@github.com>编写：

[2019-09-06 17:07] leonleeldc opened #19690 "AttributeError: 'Variable' object has no attribute 'regularizer'"
下面是我做gradients and clip_by_norm的代码，前面运行都正常，在apply_gradients时报错：
    grad_clip = 5.0  # keep the same with the previous setting
    # generator pre-training
    pretrain_opt = fluid.optimizer.AdamOptimizer(gpre_lr, beta1=0.9, beta2=0.999)
    g_out = fluid.gradients(g_pretrain_loss, g_vars)
    print(g_out)
    #g_out = fluid.layers.stack([g_out], axis=0)
    pretrain_grad_list = []
    pretrain_g_

[2019-09-06 22:03] hg9102 opened #19691 "并发运行，怎么保存每次卷积后的结果"
create_py_reader_by_data

for epoch_id in range(10):
             reader.start()
             try:
                 while True:
                     exe.run(fetch_list=[loss.name])
             except fluid.core.EOFException:
                 reader.reset()

[2019-09-07 04:46] sitongchen opened #19693 "fluid的infer报错，成功产出数据只有一半量级左右"
报错在这：
run代码：
cat ins | /home/chensitong03/fluid/fluid_predict/python27-gcc482/bin/python
mr_evaluation.py . mapper model  > re1w
log:
2019-09-07 12:42:16,937 - 140371939464960 - util.py[line:29] - INFO: G_NEG_SAMPLE_RATE = 1.000
WARNING: cannot find map_input_file, will use original mapper
2019-09-07 12:42:16 start to infer
use hadoopp
look here <class 'paddle.fluid.framework.Variable'>
look here

[2019-09-07 06:25] Exception-star opened #19694 "训练到一定的阶段，loss变成NaN，每次都是在固定的次数变成NaN"
![image](https://user-images.githubusercontent.com/53971568/64470701-6576a380-d17a-11e9-8f63-be0a1a90f854.png)

每次都是在这变成NaN，数据是没有问题的，删除了一半数据量，也是在600变成NaN。

减少学习率，情况一样，
是否含有脏数据，我删除后面一半数据进行训练，情况也一样，
修改dropout的概率，从0.1改成0.9，也会出现，只是NaN往后推移了

[2019-09-07 09:01] phlrain commented on #19690
https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/language_model/train.py#L134
梯度裁剪的方法请参考这种

[2019-09-07 09:03] phlrain commented on #19693
产出数据只有一半是指什么，有些样本在inference的时候 没有产生数据么。

[2019-09-07 09:07] phlrain commented on #19694
有尝试过其他例如grad clip，layer norm防止过拟合的策略么

[2019-09-07 13:55] xjqbest commented on #18855
well , since nobody cares， just close.

[2019-09-07 13:55] #18855 closed, assigned to nobody

[2019-09-07 14:12] seiriosPlus commented on #19686
我们会优化一下报错细节，这里确实少写了一行layer

[2019-09-07 15:18] leonleeldc commented on #19690
好的，我改成你说的方法了，还是有问题，不过现在能更加明确的告诉我问题出在哪里了，我继续debug吧。多谢，后面有问题再向你们请教哈。

[2019-09-08 01:37] WangTaoSpace commented on #16345
您好，我在windows上float，int8，mobile中输出的模型是俩个文件，model和weights，无法加载。是我的执行错误了吗？

[2019-09-08 02:18] WangTaoSpace commented on #17327
请问下如何加载的量化出来的模型，我量化出来的模型是两个文件，无法加载

[2019-09-08 05:25] Exception-star commented on #19666
意思是可以用reshape, transpose, dropout, matmul等这些函数，梯度回传时是不是要经过这些函数的逆操作？

[2019-09-08 15:19] szqxx opened #19696 "训练报错paddle.fluid.core_avx.EnforceNotMet: Invoke operator reshape2 error"
   1）PaddlePaddle版本：1.5.2.post10.7
    3）GPU：NVIDIA-SMI 418.39       Driver Version: 418.39       CUDA Version: 10.1  CUDNN 7.0
    4）系统环境：Centos OS 7，Python 3.7.2
- 训练信息
    1）单卡 V100
    2）显存信息  16G
- 复现信息：复现Thundernet，网络每层shape打印没问题，参考faster-RCNN修改的，训练报错

- 报错日志：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
[code]

让人疑惑的是最后的报错信息居然是`but received output_shape[unk_dim_idx] * capacity:0 != -in_size:-267840`，这里等号左

[2019-09-09 01:09] lsy641 opened #19697 "fluid如何实现像numpy那样的高级（magic）索引？"
我在改模型结构时候，需要对一个batch内的输出进行索引，每个example对输出取得下标不同。
问题就是对于一个矩阵，如何做到每行取不同列上的数？我用numpy的时候，magic索引可以做到。

就算我想一个一个example的去索引，但batchsize是未知的，不能用循环。

[2019-09-09 01:43] RockWater opened #19698 "无法复现《Python 预测 API介绍》官网结果"
按照官网https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/python_infer_cn.html
执行python resnet50_infer.py --model_dir model --prog_file model --params_file params --batch_size 2
错误如下：
Traceback (most recent call last):
  File "infer.py", line 53, in <module>
    main()
  File "infer.py", line 18, in main
    predictor = create_paddle_predictor(config)
paddle.flu

[2019-09-09 02:06] prakharg24 commented on #19622
@wanghaoshuang  what if I want them to not be trainable? How can I control that?

[2019-09-09 03:43] prakharg24 commented on #19622
I tried the following ->

[code]
But this didn't work and weights were still getting updated. Probably because the optimizer is defined and optimizer.minimize is called before this. So I thought I need to do optimizer.minimize later

I tried
[code]
But this gave me segmentation fault. Not only that, but after I run this code, my GPU memory is occupied but I can see no python process running and so

[2019-09-09 03:52] yangzhifeng-code opened #19703 "希望增加合并多个参数文件的方法"
fluid中采用分布式训练后，调用save_inference_model方法，即使指定了参数文件名，保存的参数仍然是是分散在各个文件中的。
因为要用训练好的模型和参数，在c++线上加载用于预测，多个文件不太方便，希望增加一个方法，能够将这些分散的参数文件合并在一个文件中。
进一步，如果可行的话，希望可以有将模型和参数保存在单个文件中的方法。

[2019-09-09 04:21] lsy641 opened #19704 "什么时候能对tensor做einsum？"
目前只有elemenwise_mul  不够用，希望能出einsum

[2019-09-09 05:16] sunhf opened #19705 "paddle::platform::EnforceNotMet' what(): Cannot get attribute height_sections by type"
使用c++来预测，依赖baidu/paddlepaddle/paddle@v1.4.1_pb32@git_branch
模型是基于1.5.0的gpu版本训练的
加载模型时出core，错误信息为：
I0909 13:19:23.993065 19076 analysis_predictor.cc:152] load parameters
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  Cannot get attribute height_sections by type std::vector<int, std::allocator<int> >, its type is std::vector<long, std::allocator<long> > a

[2019-09-09 05:31] tensor-tang commented on #19705
麻烦说下模型是什么版本生成的

[2019-09-09 05:57] sunhf commented on #19705
模型在问题描述中说过了，是1.5.0的，应该是版本不一致导致，但目前有1.5.0对应的c++依赖库吗

[2019-09-09 06:07] tensor-tang commented on #19705
好的，由于您是内部版本问题，我们内部解决。

[2019-09-09 06:16] seiriosPlus commented on #19679
能提供一下复现代码么？

[2019-09-09 06:44] seiriosPlus commented on #19678
目前使用的是数据并行的模式， 就是卡数与批大小相关而不是与模型层数的。

你的样本数总体有多少？

[2019-09-09 07:28] #19705 closed, assigned to nobody

[2019-09-09 08:20] sneaxiy commented on #19696
您是否跑了startup program？

[2019-09-09 08:35] szqxx commented on #19696
@sneaxiy有的，完全仿照 [rcnn/train.py](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/rcnn/train.py)
[code]

[2019-09-09 08:37] czhu15 opened #19711 "Debug version build failed"
The debug version always failed with below error.
[code]

The cmake command line for debug version is like below. I highlighted the debug related flags.
[code]

The release version works correctly.

My build machine is based on Ubuntu16.04

[2019-09-09 08:40] phlrain commented on #19691
是要fetch 卷积的结果，还是要save到本地，下次reload

[2019-09-09 08:47] sneaxiy commented on #19696
尝试加环境变量`GLOG_vmodule=operator=4`来打log，然后把log贴出来？

[2019-09-09 08:48] miziki opened #19712 "Abnormal exit code 139 on Paddle-fluid1.5.0, suspected to be a memory usage problem"
paddle fluid 1.5.0
CentOS release 6.3 (Final)
Tesla P40
![image](https://user-images.githubusercontent.com/6149580/64516603-52520800-d321-11e9-8885-e515ad16b1b9.png)
![image](https://user-images.githubusercontent.com/6149580/64516680-77467b00-d321-11e9-9712-3c6a65f23847.png)

[2019-09-09 08:48] szqxx commented on #19696
好的 谢谢 会尽快尝试回复

[2019-09-09 08:50] luotao1 commented on #19711
@yihuaxu Could you help see it?

[2019-09-09 09:08] iclementine opened #19715 "assign_value OP 目前不支持 int64 和 float64 数据类型"
- 版本、环境信息
1）PaddlePaddle版本：1.5.1
2）CPU/GPU：CUDA 10.1, cuDNN 7.5
3）系统环境：Ubuntu 16.04

When using NumpyInitializer with array of dtype=int64 or float64, it reports unsupported data type. Because NumpyInitializer uses a assign_value OP to do the initialization. And only int32 and float32 are supported.

[code]

And I checked the C++ implementation of assign_value OP and tried to add int64 and float64

[2019-09-09 09:14] LDOUBLEV opened #19717 "paddle develop分支源码编译错误"
- 版本、环境信息：
    1）PaddlePaddle版本：最新的develop分支，时间2019-9-9   12:00-17:00
    3）GPU：TeslaV100

- 安装方式信息：
1）docker安装： nvidia-docker run --name paddle-test -v $PWD:/paddle --network=host -it hub.baidubce.com/paddlepaddle/paddle:latest-dev /bin/bash

2）编译命令：cmake .. -DPY_VERSION=2.7 -DWITH_GPU=ON -DWITH_TESTING=OFF -DCMAKE_BUILD_TYPE=Release

fatal: no tag exactly matches 'c78a4781bf57e888937672f8f767b7e

[2019-09-09 09:34] dongfangyixi opened #19718 "paddle 1.5.1 支持的cuda 和 driver 版本是啥？"
环境： cuda 9.2 nvidia driver: 396.26  paddlepaddle 1.5.1  tensorflow 1.9.0
test script:
tensorflow:
`
import tensorflow as tf
tf.Session()
`
 paddle:
`
from paddle.fluid import core
core.CUDAPlace(0)
`

tensorflow 可以正常运行，cuda 和 driver的版本是匹配的

paddle 报错：
paddle.fluid.core_avx.EnforceNotMet: cudaGetDeviceCount failed in paddle::platform::GetCUDADeviceCount: CUDA driver version is insufficient for CUDA

[2019-09-09 09:52] LDOUBLEV commented on #19717
又重新编译了一下，这次没有报错，cmake和docker镜像都没改变，可以编译通过，但是前两次编译就不通过，可能是随机报错？

[2019-09-09 10:24] JiaXiao243 commented on #19679
这个问题我也遇到过，
在paddle==1.5.0和paddle==1.5.1有这个问题，最新的devlop好像没有出现。
![image](https://user-images.githubusercontent.com/37854899/64523366-bb8c4800-d32e-11e9-86d3-c72a228c4a32.png)

[2019-09-09 10:47] dongfangyixi commented on #19718
首先，测试环境的cuda 和 cuda driver 可以配对的
![image](https://user-images.githubusercontent.com/6477100/64524833-03f93500-d332-11e9-91a1-a7b01fe090d8.png)
![image](https://user-images.githubusercontent.com/6477100/64524876-23905d80-d332-11e9-9703-1d3729f6452f.png)
![image](https://user-images.githubusercontent.com/6477100/64524890-2a1ed500-d332-11e9-82ec-246b5e6fc4ea.png)

然后 tf和 torch 都没有任何问题。

最后 paddle 1.4

[2019-09-09 11:11] tensor-tang commented on #19717
也有可能是网络问题，因为这个tag好像不是paddle的

[2019-09-09 11:29] OliverLPH commented on #19698
看log就是路径问题，把这个`resnet50_infer.py`脚本放到下载模型的文件夹试试

[2019-09-09 12:09] RockWater commented on #19698
不行呢。都试过了呢。是不是可能是模型版本格式不兼容？

[2019-09-09 12:51] tensor-tang commented on #19712
请问使用的背景是什么，多机多卡？

[2019-09-09 12:55] tensor-tang commented on #19704
请问您是否有对标的运算逻辑的链接，可以贴一个。

[2019-09-09 17:19] zhihongp commented on #19616
set these variables but problem still exists.  Looking up some older reports, wonder if it's about compatibility issues.  My program runs fine with 'paddlepaddle-gpu 1.5.0.post97', but ran into this error after installing the latest develop branch 'paddlepaddle_gpu-latest-cp37-cp37m-linux_x86_64.whl'.

Other relevant info: cuda-9.2.88, cudnn-7.1.4, nccl_2.2.13-1+cuda9.2_x86_64

[2019-09-09 23:01] lsy641 commented on #19704
谢谢你的回复，einsum是爱因斯坦标记法，通过标记，可以对两个矩阵进行任意的方法求和。链接在下面：
https://cloud.tencent.com/developer/news/437348
举个例子，比方A矩阵维度是abc，B矩阵维度是ac，我想让他们相乘abc * ac = abc，做的运算是对于每一行ai，都做bc*c。
在einsum标记法中只需要指明“abc，ac->abc”就能做响应的求和运算。
numpy.einsum有这个接口

[2019-09-10 01:21] prakharg24 opened #19724 "Freeze Weights"
I am trying to implement the MobileNet-SSD model from here,
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ssd

I have a dictionary of layer names which I want to freeze and let the rest of them train.

How can I achieve that?
 If you can give an answer in context with the code above, that will be the best, but any answer is appreciated

I tried a few things, not sure where the issue

[2019-09-10 01:27] prakharg24 commented on #19724
I tried a few things, not sure where the issue is ->
https://github.com/PaddlePaddle/Paddle/issues/19622#issuecomment-529288426

[2019-09-10 01:52] sunbrother99 commented on #19678
大约4万多样本，模型是官方的paddleNLP下的model下的语言模型，基本没改

[2019-09-10 02:18] lizhiqings opened #19725 "fleet版本的 回归 或者多分类（比如10类）任务 demo"
因为最近用fleet 训练回归任务 发现无法收敛 loss居高不下（mse）

[2019-09-10 02:22] imistyrain commented on #19718
1.5.1默认好像是cuda10了
[code]

[2019-09-10 03:12] lsy641 opened #19726 "继续训练时，step总是从0开始，请问怎么接着上一次数据训练？"
[code]
总是从数据头部开始继续训练，如何从中断的部分开始？

[2019-09-10 03:13] seiriosPlus commented on #19725
是采用的同步训练还是异步训练？

[2019-09-10 03:33] Exception-star opened #19729 "模型库DeepLabV3+，eval.py里面有mean_iou遇到问题，GPU运行不了"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2
    2）CPU：i9-9900k
    3）GPU：RTX-2080Ti
    4）系统环境：win10
    1）模型名称 DeepLabV3+
- 复现信息:程序运行到箭头所指地方，程序无缘无故退出
![图片](https://user-images.githubusercontent.com/53971568/64581583-4ddb2d00-d3bd-11e9-8ca3-879e4bda4373.png)

- 问题描述：
是不是张量(label)在GPU,标量（num_classes）在CPU上无法比较，导致程序退出。
在Place =CPU可以比较，Place =GPU程序会退出

[2019-09-10 03:40] llcau opened #19731 "save_inference_model ERROR"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
**安装版本：paddlepaddle-1.5.1-cp27-cp27mu-linux_x86_64.whl**
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
 **核数：28  Intel(R) Xeon(R) Gold 5117 CPU @ 2.00GHz**
  

[2019-09-10 03:45] lsy641 opened #19732 "训练时候的steps和具体current_examplede 数量有对应关系吗？"
这是一次训练刚开始的verbose：
[INFO] 2019-09-10 03:26:25,007 [ run_chid.py:  280]:	train pyreader queue size: 27, learning rate: 0.000065
[INFO] 2019-09-10 03:26:25,010 [ run_chid.py:  292]:	epoch: 0, progress: 3911/571381, step: 2410, ave loss: 3.670118, ave acc: 0.817708, speed: 0.816043 steps/s
[INFO] 2019-09-10 03:26:33,834 [ run_chid.py:  280]:	train pyreader queue size: 50, learning rate: 0.000065
[INF

[2019-09-10 03:48] adaxi987 commented on #19718
楼上正解

[2019-09-10 06:46] lizhiqings commented on #19725
都可以 两个都有的话 可以都发来看下

发件人: tangwei12 <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年9月10日 星期二 上午11:13
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] fleet版本的 回归 或者多分类（比如10类）任务 demo (#19725)

是采用的同步训练还是异步训练？

—
You are receiving this because you authored

[2019-09-10 07:08] apphpp opened #19736 "fluid.io.save_persistables 语句导致报错：terminate called without an active exception"
- 版本、环境信息
PaddlePaddle版本：1.5.0
python: 3.5.3
GPU: P4

- 训练环境
单机单卡

- 问题描述：
修改ERNIE代码运行时，保存模型时程序异常退出，定位到错误来源语句为：
fluid.io.save_persistables()
错误信息：terminate called without an active exception
无其他任何log信息。

查看报错的checkpoint文件结果时，发现相应路径下的checkpoint文件夹已存在，但不确定是否全部参数已完整报错。

[2019-09-10 07:17] apphpp commented on #19736
尝试换为 fluid.io.save_params(exe, save_path, train_program) 还是出现以上错误

[2019-09-10 07:22] #19717 closed, assigned to nobody

[2019-09-10 07:23] sneaxiy commented on #19616
@zhihongp Could we please show us your code to reproduce the problem for us?

[2019-09-10 07:44] seiriosPlus commented on #19725
fleet本质上只是一套API。  你可以用单机+小数据集验证效果，然后再上fleet做大规模验证。

目前我们相关的示例有这些可以参考： https://github.com/PaddlePaddle/Fleet/tree/develop/examples

多分类的任务可以参考https://github.com/PaddlePaddle/models中相关的多分类模型。

[2019-09-10 07:45] lizhiqings commented on #19725
好的 我先看看

发件人: tangwei12 <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年9月10日 星期二 下午3:45
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] fleet版本的 回归 或者多分类（比如10类）任务 demo (#19725)

参考

[2019-09-10 07:56] lizhiqings commented on #19725
第二个链接 返回404

发件人: tangwei12 <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年9月10日 星期二 下午3:45
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] fleet版本的 回归 或者多分类（比如10类）任务 demo (#19725)

多分类的任务可以参考

[2019-09-10 08:07] seiriosPlus commented on #19725
https://github.com/PaddlePaddle/models

[2019-09-10 08:12] scarletfrank commented on #19652
`def get_actor_params(self): return self.parameters()`

@moranliuyu
应该是这个方法还没定义造成的错误吧，使用PARL中ddpg中有说需要定义这个方法
参考：https://github.com/PaddlePaddle/PARL/blob/develop/examples/DDPG/mujoco_model.py

[2019-09-10 08:21] L-lei opened #19741 "1.5.1.post107版本动态图下面使用GPU计算equal/not_equal终止,cpu正常"
def run():
    use_cudnn = False
    place = fluid.CUDAPlace(0) if use_cudnn else fluid.CPUPlace()
    with fluid.dygraph.guard(place=place):
        label = to_variable(np.array([-1, 1, -1, -1]).astype('float32'))
        limit = to_variable(np.array([1, 1, 1, 1]).astype('float32'))
        less = fluid.layers.equal(x=label, y=limit)
        print(less)

[2019-09-10 08:29] Sand3r- commented on #18005
Thanks to @grygielski  We have managed to reproduce the problem on our AVX2 machines on develop branch:
[code]

as well as on MKL-DNN 1.0 to see if the problem persists (unfortunately it does):
[code]

We believe that it is caused by using AVX2 version of MKL's gemm. We will attempt to investigate the problem furtherly.

[2019-09-10 08:40] apphpp commented on #19736
尝试更换batch_size大小：
a. 部分条件下 save_params() 不报错，save_persistables()报错；
b. 部分条件下 save_params() 和save_persistables()都报错；
但即使有错情况下模型也存了checkpoint文件，ckp中文件数量 与无报错时一致

[2019-09-10 08:44] yeyupiaoling opened #19742 "windows下fluid.io.save_params保存模型有问题"
# 环境
 - windows 10
 - Python 3.5
 - PaddlePaddle 1.5.2 GPU

# 问题
在windows下使用fluid.io.save_params保存模型
然后使用fluid.io.load_params加载模型，加载的时候没有问题，在执行训练的时候就会出错误，而且没有输出报错信息。

[2019-09-10 08:57] NHZlX commented on #19724
Step 1: Observe all parameter names of the current network through the following code and determine the name of the convolution core weight (parameter) to be fixed.

[code]

Step2: Get the corresponding variable according to parameter name:

[code]

- step3 set variable stop_gradient=True
[code]

[2019-09-10 09:06] NHZlX commented on #19732
batch size是多少呢

[2019-09-10 09:11] NHZlX commented on #19742
给出具体的模型以及复现流程吧

[2019-09-10 09:11] LielinJiang commented on #19729
这个问题我们跟进一下。这边建议您使用我们最新开源的分割库:https://github.com/PaddlePaddle/PaddleSeg。这个repo之后应该不维护了。

[2019-09-10 09:14] yeyupiaoling commented on #19742
@NHZlX
训练结束之后执行
[code]

加载时
[code]

[2019-09-10 09:14] NHZlX commented on #19742
任何模型都可以复现么

[2019-09-10 09:16] yeyupiaoling commented on #19742
@NHZlX 我用的是resnet50 ，其他的没有试过

[2019-09-10 09:16] NHZlX commented on #19742
OK， 相关同学进行复现， 其他的平台，比如linux有此问题么

[2019-09-10 09:18] JiabinYang commented on #19741
same as #19499

[2019-09-10 09:18] JiabinYang commented on #19741
正在支持

[2019-09-10 09:18] yeyupiaoling commented on #19742
好的。Liunx没有问题，我测试过了。

[2019-09-10 09:21] prakharg24 commented on #19724
My prog is actually not the default program, and I am also trying to load some weight values and then freeze the connections, so this is the code that I added,

[code]

And to check whether it worked or not, I am printing the weights of the first layer after every epoch (the first layer is one of those layers whose gradient should be stopped). This is what I did,
[code]
And I can see these weights

[2019-09-10 09:29] jinxing94 commented on #19679
试了下，编译dev分支，还是不行啊。

[2019-09-10 09:57] NHZlX commented on #19731
问题出在这里：

[code]

当使用py_reader 的时候，输入的名字非 `text`

[2019-09-10 10:51] LielinJiang commented on #19729
这个问题我们跟进一下。这边建议您使用我们最新开源的分割库:https://github.com/PaddlePaddle/PaddleSeg。
这个repo之后应该不维护了。

[2019-09-10 11:15] chengduoZH commented on #19652
@FrankScarlet  你的完整模型的模型是怎么样的？ 完整的报错信息是什么？

[2019-09-10 11:23] scarletfrank commented on #19652
我这边没有错误，我只是切换为DDPG方法时不知道怎么实现 _get_actor_params_ 方法，然后搜到这个issue，后面问人才发现自己漏看了PARL的example

[2019-09-10 11:26] ellinyang opened #19744 "建议支持物体检测的类间nms"
最近在用ssd训练一批数据，发现同一物体会被模型检测出多个框，且各个框类别不同，因此无法用普通的nms过滤。看到你们开发了内间nms，不知是什么原因一直没合入，希望能早点添加这个功能，作为nms扩展选项。
待合入的类间nms :https://github.com/PaddlePaddle/Paddle/pull/18607/files

[2019-09-10 12:02] grygielski commented on #18005
It all comes to checking condition on `CHECK_LE(std::abs(pdata_ref[j] - pdata[j]), FLAGS_accuracy);` in compare_mkldnn part of analyzer_resnet50 test. It checks if every value of output tensor doesn't differ more than 0.001 from reference one.  I guess it supposed to be 0.1% difference threshold on model prediction accuracy but model in this test doesn't have softmax activation function at the end

[2019-09-10 12:39] lgone2000 commented on #19703
fluid.io.save_inference_model(
        dirname='test',
        feeded_var_names=['a'],
        target_vars=[d],
        executor=exe,
        main_program=fluid.default_main_program(),
        model_filename='model',
        params_filename='params')

指定params_filename 可以存成一个文件

[2019-09-10 14:52] chengduoZH commented on #19652
@FrankScarlet  就是说现在没问题了，是吗？

[2019-09-10 14:55] MoranCoder95 commented on #19652
已经解决了，非常感谢

------------------ 原始邮件 ------------------
发件人: "chengduo"<notifications@github.com>;
发送时间: 2019年9月10日(星期二) 晚上10:52
收件人: "PaddlePaddle/Paddle"<Paddle@noreply.github.com>;
抄送: "hausser "<384733132@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [PaddlePaddle/Paddle] 模型构建中关于使用layers.argmax()后模型报错 (#19652)

@FrankScarlet  就是说现在没问题了，是吗？

—
You are receiving this because you were men

[2019-09-10 17:33] zhihongp commented on #19616
@sneaxiy sent you a hi msg

[2019-09-10 20:05] leonleeldc opened #19750 "Input(Out@GRAD) shouldn't be null错误怎么排查 a follow up question to issue #16528"
I noticed that the issue Input(Out@GRAD) shouldn't be null错误怎么排查 #16528 is similar. But it seems somewhat different as well.
具体说来，我这边定义了一个generator:
def generator(parent, program, x_real, temperature, temperature_pretrain, w_dict, vocab_size, batch_size, seq_len, gen_emb_dim, mem_slots, head_size, num_heads,
              hidden_dim, start_token):
    IS_SPARSE = True
    #parent = 'generator'

[2019-09-11 02:38] dipthomas opened #19751 "Paddle1.5多卡测试崩溃"
- 版本、环境信息：
    1）PaddlePaddle版本：Paddle1.5源代码编译
    2）GPU：K40，CUDA8.0，CUDNN7.1.3，NCCL 2.2.13
    3）系统环境：ubuntu16.04，gcc5.4
- 安装方式信息：
1）本地编译：
[code]

- 崩溃信息
安装完成后，调用
[code]
单卡测试通过，多卡崩溃，信息为：
![1111](https://user-images.githubusercontent.com/7144992/64663970-1da89280-d480-11e9-868b-e44d0159bdc5.JPG)

[2019-09-11 03:04] xubin1994 opened #19752 "动态图 dygraph中的unsqueeze问题"
我使用 unsqueeze 的示例程序能正确扩展维度：
x = fluid.layers.data(name='x', shape=[5, 10])
y = fluid.layers.unsqueeze(input=x, axes=[1])
但是当我使用自己读取的图片数据，在动态图中转变为 variable 之后，却总是报错：
with fluid.dygraph.guard():
img_l = fluid.dygraph.to_variable(img_l)
img_r = fluid.dygraph.to_variable(img_r)
disp_l = fluid.dygraph.to_variable(disp_l)
disp_r = fluid.dygraph.to_variable(disp_r)
img_l = paddle.fluid.layers.stack([img_

[2019-09-11 03:12] sshilei opened #19755 "CPU多核使用DatasetFactory，Queue模式CPU利用率30%， Memory模式CPU利用率是90%"
fluid 1.5.1

其他代码都相同，仅仅是dataset模式不同。

Queue模式
![image](https://user-images.githubusercontent.com/18701471/64665302-9ad60680-d484-11e9-8578-92babd705628.png)

Memory模式
![image](https://user-images.githubusercontent.com/18701471/64665406-028c5180-d485-11e9-81b4-79dc6608d5c7.png)

[2019-09-11 03:24] sshilei commented on #19755
补充一下，应该不是IO的问题。原因如下，

我有两版代码：模型网络结果和训练集都是相同的， 第一版代码使用Queue模式，CPU利用率也都能达到90%， 第二版模型在第一版基础上进行了一些封装和可扩展的工作，之后同样是Queue模式，CPU利用率就降低了，而且训练变慢了

辛苦帮忙提供一下，有哪些原因会导致dataset的Queue模式CPU利用率下降

[2019-09-11 03:36] maurise-yq-hu opened #19756 "使用IfElse控制时，报维数错误"
版本、环境信息：
   1）PaddlePaddle版本：1.5
   2）CPU：
   3）GPU：None
   4）系统环境：centos 6.3, python 2.7.13

训练信息
   1）单机，3cpu

复现信息：
逐步执行时，发现是这一步出错：optimizer.minimize(train_loss)。

问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
希望根据输入（cnt_in）的值判别，当该输入<0时，将embedding出的向量各分量乘以-1
模型建立和编译都能通过，但是开始训练时会报错：按位乘法维数不匹配。
（如果乘子fct不是通过IfElse给出，而是直接通过fill_constant定义的话，就不会出错）

模型网格：
        self.lr_dat["usr_in"] = fluid.layers.data(name=

[2019-09-11 03:40] seiriosPlus commented on #19755
train_from_dataset把debug=True打开，看一下训练的耗时占比？

[2019-09-11 04:51] #19597 closed, assigned to nobody

[2019-09-11 05:28] JiabinYang commented on #19752
目前release版本的paddle还不支持unsqueeze_op，如果您想使用的话请使用develop 分支的paddle

[2019-09-11 05:30] JiabinYang commented on #19751
您可以po一下在 /tmp目录下的`paddle`开头的core dump文件中的log么

[2019-09-11 05:43] xubin1994 commented on #19752
不支持unsqueeze_op操作的话，那为什么第一种操作却能成功不报错呢？
x = fluid.layers.data(name='x', shape=[5, 10])
y = fluid.layers.unsqueeze(input=x, axes=[1])

[2019-09-11 05:46] hg9102 commented on #19691
@phlrain 保存卷积结果，观察整个过程的变化

[2019-09-11 05:49] dipthomas commented on #19751
@JiabinYang 这个是直接调试core dump的log信息：
![22222](https://user-images.githubusercontent.com/7144992/64671414-f6ab8a00-d49a-11e9-8539-58020368ddcb.JPG)

[2019-09-11 06:01] erichhhhho commented on #12235
这个更新似乎没有release啊@seiriosPlus

[2019-09-11 06:08] #19652 closed, assigned to chengduoZH

[2019-09-11 06:19] JiabinYang commented on #19750
看起来问题是`one_hot`是没有反向的，而unsqueeze却需要one_hot的反向输出作为自己的反向输入，因此出现了以上错误。看起来这一支是不需要更新梯度的，建议在unsqueeze的输出位置设置stop_gradient=True

[2019-09-11 07:06] JiabinYang commented on #19756
这个是已知问题，正在修复

[2019-09-11 07:16] JiabinYang commented on #19756
你这个code的目的是说对于是true的地方生成1对于false的地方生成-1么

[2019-09-11 07:20] maurise-yq-hu commented on #19756
不是，是希望给不同类型的idx在embedding的时候乘上不同的权重

[2019-09-11 07:56] JiabinYang commented on #19751
看起来是nccl2的安装有问题，我在您的这个配置下试了下没有问题：

        # A image for building paddle binaries and install
        # Use cuda devel base image for both cpu and gpu environment
        # When you modify it, please be aware of cudnn-runtime version
        # and libcudnn.so.x in paddle/scripts/docker/build.sh
        FROM nvidia/cuda:8.0-cudnn7-devel-ubuntu16.04
        # FROM nvidia/cuda:8.0-cudnn7-devel-ubuntu

[2019-09-11 08:30] shuoyin commented on #16955
hi,你好。我现在模型里有一个分布式的embedding词表（DistributedLookupTable）,采用了您提供的方法，然后在validation的时候报错了，我的代码大概是这样的
[code]
报的错误主要是paddle.fluid.core_avx.EnforceNotMet: Invoke operator lookup_table error.
C++ Callstacks:
holder_ should not be null
Tensor not initialized yet when Tensor::type() is called. at [/paddle/paddle/fluid/framework/tensor.h:139]

[2019-09-11 08:55] dongfangyixi opened #19761 "allow_growth option in Paddle"
请问在paddle 里如何不占满显卡，而是按需分配显存
类似 tf 里面 allow_growth option 的功能

[2019-09-11 09:04] shuoyin opened #19762 "MPI分布式训练test_program初始化问题"
Paddle版本：1.5
训练环境MPI集群
采用preserver-trainer模式训练模型，其中包含一个分布式embedding词表，program创建代码为
[code]
训练代码如下
[code]

[2019-09-11 09:18] DDDivano commented on #19752
第一种操作是使用静态图方式是可以的，动态图会在1.6支持，目前dev分支可以支持。原因是目前release版本这个api在动态图下不兼容

[2019-09-11 09:48] yangzhifeng-code commented on #19703
@lgone2000 即使这样写，存储的参数文件也是分散的，因为运行环境是分布式训练。我是百度员工，这个问题我和paddlepaddle群里的值班同学确认过的。希望开发人员能够解决这个问题，这个问题导致线上加载不是很方便。

[2019-09-11 10:00] #19731 closed, assigned to nobody

[2019-09-11 10:38] JiabinYang commented on #19761
使用develop 分支代码可以通过这个环境变量来实现，FLAGS_allocator_strategy=auto_growth

[2019-09-11 10:41] JiabinYang commented on #19762
可以贴一下你的run_val是怎么跑的么

[2019-09-11 11:04] shuoyin commented on #19762
[code]

[2019-09-11 11:44] shuoyin commented on #19762
我把embedding词表从分布式改成了非分布式之后就能跑了，所以可能是分布式词表的问题。
请问在保留分布式词表的情况下应该怎么解决这个问题，因为我们词表比较大。
![6afc58cd6bb984006cb9fd65a504f861](https://user-images.githubusercontent.com/14859695/64694610-959caa00-d4cc-11e9-8ebb-38daee57c2b6.png)

[2019-09-11 11:47] xubin1994 commented on #19752
好的，这样就了解了

[2019-09-11 11:48] xubin1994 commented on #19752
那么dev的分支的PaddlePaddle只能编译安装吗？不能使用pip这些安装是吧？

[2019-09-11 11:52] NHZlX commented on #19724
You can try call optimizer.minimize after these changes are done.

[2019-09-11 11:52] xubin1994 opened #19766 "paddle.fluid.layers.range()维度问题"
我想实现一个meshgrid(height,width)的功能，但我测试range这个接口只能得到的teonsor的维度是dims =-1,这样还导致我无法对产生的变量reshape为一个向量，也就无法实现矩阵乘，请问有什么解决办法或者实现方式吗？
#print输出的结果test的dims = -1,不像tensorflow那样为(height,)
test2 = paddle.fluid.layers.range(0, height, 1, 'float32')
#以下代码报错
test2 = paddle.fluid.layers.reshape(test2,[height,1])

[2019-09-11 12:57] leonleeldc commented on #19750
Thanks. 试过了，可以工作。多谢

[2019-09-11 12:57] #19750 closed, assigned to JiabinYang

[2019-09-11 13:25] JiabinYang commented on #19766
能麻烦您po一下错误的log么

[2019-09-11 13:44] JiabinYang commented on #19766
或者您试试吧[height，1]改成[height，-1]

[2019-09-11 16:11] szqxx commented on #19696
@sneaxiy 用`GLOG_vmodule=operator=4`除了多一些shape信息之外，并没有有用的其他输出。

报错的原因好像是paddle reshape的一处内部错误。

[code]

这是paddle的通道混合操作，报错就是从这里开始的，我之前的确在issue版块搜到几个类似报错的情况，被卡住很久。

如果可以的话，恳请大佬私信check下代码，万分感谢！

[2019-09-11 23:05] yihuaxu commented on #19711
@luotao1 @czhu15 The commit of "84c728013c069920e4c4afaae96c3f8bc898d075" should be result in the issue.

[code]

[code]

[2019-09-11 23:42] yihuaxu commented on #19711
@luotao1 @czhu15 The following patch can fix it.
@czhu15 Please help me review it.

[code]

[2019-09-12 00:15] szqxx commented on #19696
@sneaxiy 屏蔽这个channel_shuffle操作就可以训练了，虽然破坏了模型，但是可以跑起来了，感谢~

[2019-09-12 00:15] #19696 closed, assigned to nobody

[2019-09-12 01:28] prakharg24 commented on #19724
@NHZlX  I tried doing that in various ways. I tried putting the stop_gradient part inside the build_program function, right before the optimizer.loss

I also tried commenting optimizer.loss inside the function and then doing it after the stop_gradient part is done. I even tried doing optimizer.loss twice, once before as it was already in the code and once after I had done the stop_gradient part.

[2019-09-12 01:32] xubin1994 commented on #19766
我就想实现下面逻辑的代码，可是一直通不过，即使改成[-1,width]也是一样有问题
        vector1 = paddle.fluid.layers.ones(shape=[height,1], dtype='float32')
        vector2 = paddle.fluid.layers.reshape(paddle.fluid.layers.range(0, width, 1, 'float32'),[1,width])
        x_t = paddle.fluid.layers.matmul(vector1,vector2)
改成[-1,width]的错误日志如下：
File "D:/IresNet-PaddlePaddle/stn.py", line 111, in __meshgrid
    x_t = paddle.fluid.layers.

[2019-09-12 01:42] siyuhuang opened #19775 "请问怎么按索引对向量赋值？"
请问怎么按索引对向量赋值？

即output[i] = input[index[i]]

其中output、input、index都是一维Variable

[2019-09-12 02:01] JiabinYang commented on #19766
这个地方我们后期会进行修改的，感谢建议

[2019-09-12 02:13] xubin1994 commented on #19766
那我现在这个逻辑的代码有其它正确的实现方式吗？

[2019-09-12 02:14] JiabinYang commented on #19766
这个使用[height, -1]会有问题么

[2019-09-12 02:17] xubin1994 commented on #19766
矩阵乘那一步报错，我现在的代码是对range(0,width)resize成[-1,width]，我的height=540,width = 960
ValueError: Invalid inputs for matmul. x: [540, 1], y: [-1, 960]，详细的日志见上面

[2019-09-12 02:29] lxwzju opened #19777 "训练过程中GPU memory不足"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-09-12 02:30] lxwzju commented on #19777
![image](https://user-images.githubusercontent.com/8426657/64749452-4dbb6880-d548-11e9-8ee8-7e9309b7a279.png)

[2019-09-12 02:31] jiangjiajun commented on #19703
加载参数分散存储的模型后，再保存一次即可
https://github.com/PaddlePaddle/X2Paddle/blob/develop/tools/merge_params.py
[code]

[2019-09-12 02:46] Shixiaowei02 commented on #19766
这个问题已经在修复，预计 1.6 版本可合入。

[2019-09-12 02:55] DDDivano commented on #19752
需要编译安装

[2019-09-12 03:23] xubin1994 commented on #19766
我还是比较关心这个逻辑的代码有其它正确的实现方式吗？我卡在这了···

[2019-09-12 03:32] jiangjiajun commented on #19766
可以这样来写，在reshape时，将shape参数不要写成`[1, width]`，而是`[1, -1]`
[code]

[2019-09-12 04:02] czhu15 commented on #19711
verified the issue has been fixed with the patch. thanks!

[2019-09-12 04:20] ysh329 commented on #19777
建议根据[显存分配与优化-使用文档-PaddlePaddle深度学习平台](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/best_practice/memory_optimize.html) 文档优化一下GPU显存

[2019-09-12 06:49] maurise-yq-hu commented on #19756
基本确认上面的问题原因，是paddle的IfElse模块中分别建立了fct之后，会merge在一起，因此两部分新建的2个32维向量最终成了64维。

现在修改代码如下：

        self.lr_dat["cnt_in"] = fluid.layers.data(name='cnt_in', shape=[1], dtype='int64')
        self.lr["cnt_emb"] = fluid.layers.embedding(input=self.lr_dat["cnt_in"], size=[14, 32], is_sparse=False)
        raw_fct = fluid.layers.fill_constant(shape=[4, 32], value=1.0, dtype='float32')
        # raw_fct = fl

[2019-09-12 07:04] fengxuegucheng opened #19782 "paddle.fluid.core.EnforceNotMet: Invoke operator crf_decoding error"
使用rnn+crf做序列标注任务时，训练过程中出现了错误   Enforce failed. Expected begin_idx < end_idx, but received begin_idx:19 >= end_idx:19.  这个应该怎么解决，辛苦

paddle版本1.3.0
单机cpu训练
使用到的与问题有关的层  fluid.layers.crf_decoding 、fluid.layers.linear_chain_crf、 fluid.layers.dynamic_gru

运行过程中的日志信息与报错信息如下：

[code]

[2019-09-12 07:04] xubin1994 commented on #19766
你这个方法似乎是可行的，另外假设我有一个4维度的tensor U,shape为[batch,channels,height,width],但是我利用batch = U.shape[0]得到的却是-1，而不是我实际传入的batch大小，请问在PadddlePaddle中我怎么取得实际的batch数目，因为有时候我需要对一个tensor复制batch份，所以我想在静态图中取的batch的真实数值

[2019-09-12 07:07] ysh329 commented on #19782
目前根据日志来看，已经跑了几个loss结果出来，看来反向正向在前几个loss的计算过程应该没有问题。

有可能是数据问题。就是后面的batch对应的数据不对。可以检查一下是到第几个batch 对应的是那些数据有这个问题，是否是数据的问题维度导致slice挂掉的

[2019-09-12 07:12] fengxuegucheng commented on #19782
我将数据打印出来了，没有发现不对的地方。所以，这个应该如何进一步排查呢？或者是从哪方面入手，比如序列长度未对齐、序列元素id非法等等。有可能是哪方面引起的

[2019-09-12 07:22] fengxuegucheng commented on #19782
我将batch数据打印出来了，没有发现不对的地方。向量维度应该是定义在模型当中的，batch中只提供index，所以前面batch能跑通，后面应该也能跑通。序列长度应该是可变的，batch中的输入与输出的序列长度是一样的，长度对齐上应该不存在问题。 所以，能否说一下还有哪些可能会导致这个错误。

[2019-09-12 07:28] jiangjiajun commented on #19766
可以用fluid.layers.shape和slice操作组合获得实际的batch数

[2019-09-12 07:30] Bond-H opened #19784 "Python 预测 API调用报错【提示编译ON_INFER=ON】"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1【非自己编译】
    2）CPU：Intel Xeon E312xx
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：CentOS 6.3
-预测信息
    1）基于官网进行pip install 安装的paddle
    2)  使用Python接口进行预测

- 复现信息：
[code]
- 问题描述：

- 使用load_inference_model能够正常调用该模型

[code]

但根据https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/python_infer_cn.html 编写调用接口，执行代码
[code]
会出现下

[2019-09-12 07:57] ysh329 commented on #19775
目前不支持左值赋值哦

[2019-09-12 07:57] #19775 closed, assigned to nobody

[2019-09-12 08:02] Shixiaowei02 commented on #19784
您好，我使用 Paddle develop 分支复现了一下您的脚本，得到如下报错信息，和你的不同。
段错误的原因可能与系统环境相关，请检查一下下面的报错。

[code]

[2019-09-12 08:24] Bond-H commented on #19784
通过打印输入的list的数值如下所示：

百度是一家高科技公司
[407, 910, 1178, 150, 120, 123, 170, 2655, 526, 992]
中山大学是岭南第一学府
[168, 137, 117, 154, 1178, 700, 211, 1873, 150, 154, 1072]

并未发现错误信息中提示的边界错误问题：ids[i]:1094713344，是不是调用方法上存在错误，原本的模型的输入是LOD Tensor

[2019-09-12 10:30] yxfGrace opened #19790 "GPU多机，fluid 1.5.2，报错"
使用demo https://github.com/PaddlePaddle/Paddle/blob/v1.5.2/python/paddle/fluid/tests/book/test_machine_translation.py
pserver模式：2个trainer2个pserver
任务报错：
![图片](https://user-images.githubusercontent.com/29363426/64776062-1a013280-d58a-11e9-8c85-8f647ce1f966.png)

[2019-09-12 11:54] kebinC opened #19793 "fluid1.5.2 训练过程中出现 cudaGetLastError out of memory errno:2"
环境：单机多GPU

训练跑到2000多轮的时候，出现 cudaGetLastError out of memory errno:2

[code]

[2019-09-12 11:58] ysh329 commented on #19793
建议用户增加内存量试试，但是已经199G，达到最大内存

[2019-09-12 13:44] janelu9 opened #19795 "windows10 cuda10 paddle1.5，Tensor holds the wrong type, it holds double, but desires to be float at"
[code]
报错

[code]

[2019-09-12 13:45] janelu9 commented on #19795
windows10 cuda10 paddle1.5

[2019-09-12 16:06] zenghsh3 commented on #19628
Hi，请问这个issue有进展吗，有用户反馈类似问题：https://github.com/PaddlePaddle/PARL/issues/151
@zhaoyuchen2018

[2019-09-13 00:42] leonleeldc opened #19796 "fluid.layers.reduce_mean时维度不正确 Enforce failed. Expected dims[i] < x_rank, but received dims[i]:2 >= x_rank:2."
Hi, 我没有发现这是什么bug，我跟我的的tensorflow版本对照发现维度都一样的，可是，paddle这边在运行到minimize这个generator的loss出错。能帮忙看看吗？

[code]

从下面我找到具体错误的行是在求variance时出错，说是维度不对：

[code]

下面是我运行的command line:

[code]

错误信息如下：

[code]

[2019-09-13 14:52] jczaja opened #19797 "removal helper output tensors for is_test == True"
Some operators like LRN are having is_test attribute which indicates if grad op will be executed and also are producing few Output tensors eg. actual output and some Tensors for communication with grad op (MidOout for LRN). For is_test == True MidOut tensor is not needed and its removal could bring some memory savings & faster execution of MKL-DNN Unit tests.

As a result inference on mkl-dnn mode

[2019-09-14 01:56] #19711 closed, assigned to nobody

[2019-09-14 11:24] LinAurora opened #19799 "CycleGAN-VC模型复现，模型无法收敛"
通过修改官方的cycleGAN模型，来复现tensorflow版本的cycleGAN-Voice conversion模型时，训练过程中判别器损失不稳定，生成器损失无法正常收敛，而相同的tensorflow版本，收敛正常。
复现时，基本上所有参数都相同，损失函数也修改的和TF版本相同，对于不同的部分如conv1d的实现或某些卷积核参数等等都已经通过修改tensorflow版本验证了不影响训练，但在paddle框架下模型的生成损失总是无法正常收敛，判别损失也不稳定。
其中，paddle的sequence_conv的stride只能为1，所以选择用conv2d实现conv1d来复现TF版本的conv1d，padding=“same”通过单独计算复现，instance_norm层用了官方代码。pixel_shuffle层重写，效果等同TF，训练器框架分别用了官方CycleGAN的和自己写的，在项

[2019-09-14 23:41] iamqiz commented on #17009
老哥你怎么解决的?

[2019-09-15 02:52] ceci3 commented on #19799
您好，建议您可以对paddle和tf使用相同的初始化和参数，然后看输出是否相同，判断实现的op是否有问题，模型库中的CycleGAN（https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleGAN/trainer/CycleGAN.py）是和pytorch版本的对齐过生成效果和loss。可以看下是否使用上修改了什么，导致跟tf不同

[2019-09-15 02:53] lsabrinax commented on #19429
我有一样的问题下面是我的代码
images = fluid.layers.data(name='pixel', shape=data_shape, dtype='float32')
    label_in = fluid.layers.data(
        name='label_in', shape=[1], dtype='int32', lod_level=1)
    label_out = fluid.layers.data(
        name='label_out', shape=[1], dtype='int32', lod_level=1)
    gru_backward, encoded_vector, encoded_proj = encoder_net(images)

    backward_first = fluid.layers.sequenc

[2019-09-15 07:32] LinAurora commented on #19799
您好，我尝试了对paddle和tf使用完全相同的参数，但输出数据仍旧无法对齐，最后只留下一个用conv2d实现的conv1d卷积层，仍旧无法对齐，当彻底删除此生成器中的最后一个卷积层后，paddle数据才与TF版本相等。。。。
下面是paddle中对卷积层的调用，输入数据格式为[1,24,128,1]
o1 = conv1d(input=inputs, num_filters=24, filter_size=[1,1], stride=[1,1], name=name+'o1_conv')
下面是paddle中的定义。其实就是把conv2d的[N,C,H,W]中的W设为了1。
def conv1d(input,  # The input  with [N, C, H, W] format.
           num_filters=128,
           filter_size

[2019-09-15 13:18] Exception-star opened #19802 "如何使用半精度训练？dtype='float16'会报错"
- 问题描述：如何使用半精度训练？，卷积的dtype='float16'

[code]

[code]
会出现以下错误：
![image](https://user-images.githubusercontent.com/53971568/64922130-27beee00-d7fe-11e9-9f0d-0be6b51de06c.png)

[2019-09-15 13:58] iamqiz commented on #17009
我的原因是显卡驱动失效导致的,重新去官网下个显卡驱动安装就好了

[2019-09-15 14:01] Exception-star opened #19803 "动态图load_persistables加载训练保存的参数无效，相当于没有训练"
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2
    2）CPU：
    3）GPU：rtx2080
    4）系统环境：win10,python
- 训练信息
    1）单机/多机，单卡/多卡
    2）显存信息
    3）Operator信息
- 复现信息：
- 问题描述：动态图加载上次训练好的参数，打算接着训练，参数加载成功，但是输出的结果和没有训练一样。
![image](https://user-images.githubusercontent.com/53971568/64922642-12e55900-d804-11e9-9573-9b3fed77c70a.png)

加载上面的参数后
![image](https://user-images.

[2019-09-15 14:05] Exception-star commented on #19803
![image](https://user-images.githubusercontent.com/53971568/64922706-b9c9f500-d804-11e9-90e8-29dfb04ba4f0.png)
![image](https://user-images.githubusercontent.com/53971568/64922715-d9611d80-d804-11e9-837b-f1a55dfe2d48.png)

[2019-09-15 14:12] ysh329 commented on #19795
看代码似乎没有问题，都是float，保存位置位于[paddle/fluid/framework/tensor_impl.h#L30](https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/framework/tensor_impl.h#L30)
：

[code]

[2019-09-15 14:12] #19666 closed, assigned to nobody

[2019-09-15 14:18] ysh329 commented on #19790
初步看，环境是cuDnn7.3 CUDA61，需求助分布式GPU同学

[2019-09-15 14:20] ysh329 commented on #19796
初步观察，问题出现在`variance = fluid.layers.reduce_mean(variance, norm_axes, keep_dim=True)`导致的维度不匹配，见报错：

[code]

[2019-09-16 01:14] seiriosPlus commented on #19762
具体可以把case发出来，看看如何解决

[2019-09-16 01:43] zhangyanbo2007 opened #19804 "no CUDA-capable device is detected at [/paddle/paddle/fluid/platform/gpu_info.cc"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号（如1.1）或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（如Mac OS 10.14）、Python版本
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译

[2019-09-16 02:12] Bond-H commented on #19784
该问题已解决，通过定义Tensor的lod属性即可，从文本到lod tensor的定义如下所示
[code]

[2019-09-16 02:18] dipthomas commented on #19751
@JiabinYang 根据你提供的dockfile，运行安装后还是出现崩溃的问题：
![1111](https://user-images.githubusercontent.com/7144992/64931437-45766c80-d86b-11e9-83a9-3808c099f6ca.JPG)

[2019-09-16 02:45] wangguibao commented on #19803
请 @phlrain 老师帮看一下？

[2019-09-16 02:50] wangguibao commented on #19802
请 @gongweibao @chengduoZH 老师帮看一下

[2019-09-16 02:55] #18455 closed, assigned to zhhsplendid, JiabinYang

[2019-09-16 02:55] #18948 closed, assigned to JiabinYang

[2019-09-16 02:56] zhaoyuchen2018 commented on #19628
看了下是某个tensor没有数据，需要复现的代码才能进一步debug

[2019-09-16 02:56] #18977 closed, assigned to JiabinYang

[2019-09-16 02:57] JiabinYang commented on #19098
This will be fixed in #19757

[2019-09-16 02:57] #19098 closed, assigned to JiabinYang

[2019-09-16 02:58] #19200 closed, assigned to DDDivano, JiabinYang

[2019-09-16 02:58] #19446 closed, assigned to JiabinYang

[2019-09-16 03:03] zenghsh3 commented on #19628
目前发现是在多GPU时才有这个问题，设置环境变量 `export CUDA_VISIBLE_DEVICES=0`后能正常运行。
如果需要复现代码，可以参考https://github.com/PaddlePaddle/PARL/tree/develop/examples/IMPALA

[2019-09-16 03:17] leonleeldc commented on #19796
现在我进一步debug, 问题还是没有解决，不过错误已经不在原来的variance那里了。我先把我改后的function贴一下：
   def _layer_norm_compute(self, inputs, w_dict, scope, epsilon=1e-12):
        inputs_shape = inputs.shape
        #print('input shape in relational_memeory_dict.py is=', inputs_shape)
        inputs_rank = len(inputs_shape)

        beta = w_dict[scope + "_beta"]
        gamma = w_dict[scope + "_gamma"]

        norm_axes = list(ra

[2019-09-16 03:23] leonleeldc commented on #19796
然后，我们又检查了相关的cpp代码：
报的错误在elementwise_op_h的185行，
    PADDLE_ENFORCE_GE(x_dims.size(), y_dims.size(),
                      "Rank of first input must >= rank of second input.");
那个function是：

class ElementwiseOpGrad : public framework::OperatorWithKernel {
 public:
  using framework::OperatorWithKernel::OperatorWithKernel;
  using Tensor = framework::Tensor;

  void InferShape(framework::InferShapeCo

[2019-09-16 03:29] xiaolvtaomi opened #19810 "服务器端部署时Python预测api create_paddle_predictor报错"
目的是在服务器部署一套能够预测ocr的接口，现在本地的mac设备上跑下试试
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）系统环境：Mac OS 10.14 ，Python3.6.4
    3）预测库来源：[自己编译的ocr](https://github.com/xiaolvtaomi/xiaolvtaomi.github.io/blob/master/attention.zip)
- 复现信息：[照着官网文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/python_infer_cn.html)，做了以下修改，然后执行命令报错

[code]
报错内容如下：

[code]

[2019-09-16 03:47] lizhiqings opened #19812 "fluid1.5 在paddleclould 上运行报 data_norm error"
报错：
/home/disk1/task_data/history/20190916/6.app-user-20190916110604-8973--lizhiqing_core2_middlepage_rank_para_201909161105_paddlecloud/logs/workspace
Mon Sep 16 11:23:16 2019[1,9]<stdout>:I0916 11:23:16.774300 21861 rpc_client.h:101] init rpc client with trainer_id 9
Mon Sep 16 11:23:21 2019[1,9]<stdout>:Traceback (most recent call last):
Mon Sep 16 11:23:21 2019[1,9]<stdout>:  File "train.py",

[2019-09-16 05:51] littletomatodonkey opened #19816 "paddle多机多卡实验"
想问下paddle有实现多机多卡实验的demo嘛？

[2019-09-16 06:02] gavin1332 commented on #19816
https://github.com/PaddlePaddle/Fleet/tree/develop/benchmark/collective

[2019-09-16 06:03] Cristhine opened #19817 "Invoke operator merge_lod_tensor error"
模仿rcnn中ifelse语句实现在slice函数使用前不同语句；
在成功运行几十次之后报错：
Traceback (most recent call last):
  File "train.py", line 249, in <module>
    train()
  File "train.py", line 177, in train
    fetch_list=[v.name for v in fetch_list])
  File "/home/vis/duyuting/app/python-cuda8-paddle-0.15.1/lib/python2.7/site-packages/paddle/fluid/executor.py", line 666, in run
    return_numpy=return_numpy)
  File "/home/vis/du

[2019-09-16 06:05] gavin1332 commented on #19817
请提供如下信息：paddle版本，环境，最小可复现代码

[2019-09-16 07:48] jinyuKING opened #19823 "'NoneType' object has no attribute '_copy_to'"
环境：python3.6.5  centos6.5  paddlepaddle1.5.1   jupyter

问题描述：打算使用动态图完成一个简单的线性回归，出现报错。

代码：
%matplotlib inline
import matplotlib.pyplot as plt
import paddle
import paddle.fluid as fluid
import numpy as np
import random

print(paddle.__version__)

num_inputs=2
num_examples=1000
true_w=[2,-3.4]
true_b=4.2
features=np.random.normal(scale=1,size=(num_examples,num_inputs))
labels=true_w[0]*features[:,0]

[2019-09-16 08:22] ceci3 commented on #19799
您好，可能是您构造conv1d的时候有些问题，使用以下方式我这里验证得到的tf和paddle的结果相同：
paddle：
[code]

tf：
[code]

[2019-09-16 08:52] DDDivano commented on #19803
![image](https://user-images.githubusercontent.com/10734244/64945054-5ababd80-d8a2-11e9-9d69-00705d983ce6.png)
这段代码的model是在哪里定义的？和训练是一个model？

[2019-09-16 09:20] DDDivano commented on #19803
您可以把代码贴一下，我这边测试了下saveload功能是可以正常存储并载入正确数据的

[2019-09-16 09:29] phlrain commented on #19803
优化器用的是什么，如果优化器没有设置正确，也会有问题

[2019-09-16 10:24] chengduoZH commented on #19802
@Exception-star 这是因为输入的`input`是float32，而不是float16。

[2019-09-16 11:14] #19784 closed, assigned to nobody

[2019-09-16 11:32] ysh329 commented on #19795
@janelu9 请将最后`exe.run`的传入参数`feed`改为：
[code]

`*1.0`的话，会默认转成double类型，感谢 @liuwei1031 同学。先关闭了，如果仍有问题请reopen

[2019-09-16 11:33] #19795 closed, assigned to nobody

[2019-09-16 12:50] Exception-star commented on #19803
[code]
![image](https://user-images.githubusercontent.com/53971568/64959267-5fdc3480-d8c3-11e9-979a-43bfb5fd72e8.png)
问题我找到了，是这个gamma，name的属性，可能是找不到这个路径，导致加载不了，变成了默认值0

[2019-09-16 12:55] Exception-star commented on #19802
[code]
这是我的代码，您可以试着跑一下，帮我分析一下，谢谢工程师。

[2019-09-16 13:05] Exception-star commented on #19694
![image](https://user-images.githubusercontent.com/53971568/64959961-e2192880-d8c4-11e9-8cf9-ed667549d456.png)
我找到原因了，是softmax_with_cross_entropy计算不稳定，导致出现NaN，我改成了
下面这种，NaN就没有再出现过。
[code]

[2019-09-16 13:24] Exception-star commented on #19803
删除name后可以加载

[2019-09-16 15:48] LinAurora commented on #19799
您好，感谢您百忙之中解答我的问题，我尝试了您说的卷积实现方式后，发现卷积其实没有问题，之所以不同时因为在模型开始训练时的参数随机初始化不同，但按理说结果的最大值和最小值的大致范围也相同才对，可二者明显相差巨大。
       问题似乎是出在初始化参数上，可Tensorflow版本的cycleGAN-VC模型中，除了这一句self.sess.run(tf.global_variables_initializer())全局变量初始化以外，并没有其他的初始化操作了，而在paddle中，这种初始化似乎是自动完成的？在训练时，二者的初次生成loss都在30左右，然后TF迅速下降，Paddle则停滞或缓慢下降到一定值后不变
       然后我查看TF版本第一次运行时生成器返回的输出值，与输入值的最小最大值是很接近的。但是paddle版本，生成器运行一次后与原始值的最大最小值差距巨大，但是由于是循环网

[2019-09-16 15:52] LinAurora commented on #19799
您好，首先感谢您百忙之中解答我的问题，我尝试了您说的卷积实现方式后，发现卷积其实没有问题，
之所以不同时因为在模型开始训练时的参数随机初始化不同，但按理说结果的最大值和最小值的大致范围
也相同才对，可二者明显相差巨大。
       问题似乎是出在初始化参数上，可Tensorflow版本的cycleGAN-VC模型中，除了这一句self.sess.run(tf.global_variables_initializer())全
局变量初始化以外，并没有其他的初始化操作了，而在paddle中，这种初始化似乎是自动完成的？在训练时，二者的初次生成loss都在30左右，
然后TF迅速下降，Paddle则停滞或缓慢下降到一定值后不变
       然后我查看TF版本第一次运行时生成器返回的输出值，与输入值的最小最大值是很接近的。但是paddle版本，
生成器运行一次后与原始值的最大最小值差距巨大，但

[2019-09-16 15:53] LinAurora commented on #19799
TF版本：
` class CycleGAN(object):

    def __init__(self, num_features, discriminator = discriminator, generator = generator_gatedcnn, mode = 'train', log_dir = './log'):

        self.num_features = num_features
        self.input_shape = [None, num_features, None] # [batch_size, num_features, num_frames]

        self.discriminator = discriminator
        self.generator = generator
        self.mo

[2019-09-16 15:55] LinAurora commented on #19799
` class CycleGAN(object):

    def __init__(self, num_features, discriminator = discriminator, generator = generator_gatedcnn, mode = 'train', log_dir = './log'):

        self.num_features = num_features
        self.input_shape = [None, num_features, None] # [batch_size, num_features, num_frames]

        self.discriminator = discriminator
        self.generator = generator
        self.mode = m

[2019-09-16 15:56] LinAurora commented on #19799
`` class CycleGAN(object):

    def __init__(self, num_features, discriminator = discriminator, generator = generator_gatedcnn, mode = 'train', log_dir = './log'):

        self.num_features = num_features
        self.input_shape = [None, num_features, None] # [batch_size, num_features, num_frames]

        self.discriminator = discriminator
        self.generator = generator
        self.mode =

[2019-09-16 16:00] LinAurora commented on #19799
以下是TF版本
`class CycleGAN(object):

    def __init__(self, num_features, discriminator = discriminator, generator = generator_gatedcnn, mode = 'train', log_dir = './log'):

        self.num_features = num_features
        self.input_shape = [None, num_features, None] # [batch_size, num_features, num_frames]

        self.discriminator = discriminator
        self.generator = generator
        self.m

[2019-09-16 16:05] LinAurora commented on #19799
以下是paddle版本训练器的构件

def build_generator_resnet_9blocks(inputgen, name="generator"):
    """ 构建生成器 """
    '''The shape of input should be equal to the shape of output.'''#!!!!!!这里还需要计算一下啊。
    ##################

    #为了使用动态图，暂时把这里注释。
    inputs=fluid.layers.transpose(inputgen,[0,2,3,1])   #因为conv2d的输入是 [N, C, H, W] 所以把24转到C
    #inputs=inputgen.transpose(0,2,3,1)

[2019-09-16 16:21] LinAurora commented on #19799
为了您更清晰的查看，我把代码放在了csdn上，链接是https://blog.csdn.net/qq_27506449/article/details/100906943，感谢您的帮助。

[2019-09-17 00:36] leonleeldc commented on #19796
这个问题感觉现在解决了，问题还是出在elementwise_mul(tmp1, tmp2)。我们发现，elementwise_mul(tmp1, tmp2)不是它的字面上的意思。有意思的是，我们就简单的把它换成tmp1 * tmp2就可以了，但是后面有个类似做两个loss的加法，loss1+loss2却不行，instead, 要用，fluid.layers.sum(loss1, loss2)。

[2019-09-17 00:36] #19796 closed, assigned to nobody

[2019-09-17 01:48] gavin1332 commented on #19812
看组网的话没有明显错误，能否在本地复现？或者能否改用batch norm?

[2019-09-17 01:48] #19816 closed, assigned to nobody

[2019-09-17 01:56] gavin1332 commented on #19823
建议把代码format一下，这样方便复现定位问题

[2019-09-17 02:06] lizhiqings commented on #19812
嗯 好了 已经改用 batch_norm

发件人: Yi Liu <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年9月17日 星期二 上午9:49
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] fluid1.5 在paddleclould 上运行报 data_norm error (#19812)

看组网的话没有明显错误，能否在本地复现？或者能否改用batch norm?

—
You are rec

[2019-09-17 02:10] ceci3 commented on #19799
`而在paddle中，这种初始化似乎是自动完成的？`先回答您这个问题吧，exe.run(fluid.default_startup_program) 就是初始化参数的。
每层的初始化都是可以指定的，可以参考https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/PaddleGAN/network/base_network.py#L103 GAN模型库里的这种方式。

[2019-09-17 02:12] xcwei opened #19829 "C++ 预测load模型出core"
使用cpu预测，config里已经指定config.use_gpu = false

[code]

core信息：
![图片](https://user-images.githubusercontent.com/7373579/65005713-673b2680-d933-11e9-9146-9ea817ff7e84.png)

报错log信息：
[code]

[2019-09-17 02:13] ceci3 commented on #19799
`然后我查看TF版本第一次运行时生成器返回的输出值，与输入值的最小最大值是很接近的。但是paddle版本，
生成器运行一次后与原始值的最大最小值差距巨大` 这个我不太明白您的具体意思是什么，如果网络确实相同，而且使用相同的初始化参数和相同的输入的话，得到的结果是一样的，可以排查一下网络结构或者其他op使用不一致的问题。

[2019-09-17 02:17] chengduoZH commented on #19802
@Exception-star 感谢反馈，目前conv2d的fp16计算只支持GPU计算，并且目前动态图对fp16计算的支持还有待完善，你可以通过下面的修改运行：
[code]

[2019-09-17 02:25] LinAurora commented on #19799
好的我再看下

[2019-09-17 02:43] tracyCzf opened #19830 "使用C++预测库对应的Python接口对yolov3物体检测模型预测结果有误"
- 标题：使用C++预测库对应的Python接口对yolov3物体检测模型预测结果有误，参考接口文档https://paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/python_infer_cn.html
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2源码编译， -DWITH_GPU=OFF -DON_INFER=ON
    2）CPU：Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
    3）GPU：无
    4）系统环境：镜像paddle:1.5.2-gpu-cuda9.0-cudnn7，Python2.7
-预测信息
1）yolov3模型训练方式参考https://github.com/PaddlePaddle/mo

[2019-09-17 02:44] fc500110 commented on #19810
出错的模型有么

[2019-09-17 02:57] Xreki commented on #19829
请问你所使用的Paddle预测库，是自己编译的，还是从https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/build_and_install_lib_cn.html#id1 下载的？
- 如果是自己编译的，请在执行cmake的时候设置`-DWITH_GPU=OFF`
- 如果是从网站上下载的，请下载CPU版本
![image](https://user-images.githubusercontent.com/12538138/65007761-ae2c1a80-d939-11e9-8ba6-e88cfe82a7c8.png)

另外，或许可以尝试下运行时设置环境变量：`export CUDA_VISIBLE_DEVICES=""`

[2019-09-17 03:05] #19230 closed, assigned to nobody

[2019-09-17 03:06] jinyuKING commented on #19823
`%matplotlib inline
import matplotlib.pyplot as plt
import paddle
import paddle.fluid as fluid
import numpy as np
import random

print(paddle.__version__)

num_inputs=2
num_examples=1000
true_w=[2,-3.4]
true_b=4.2
features=np.random.normal(scale=1,size=(num_examples,num_inputs))
labels=true_w[0]*features[:,0]+true_w[1]*features[:,1]+true_b
labels+=np.random.normal(scale=0.01,size=labels.shape)

de

[2019-09-17 03:11] jinyuKING commented on #19823
[code]
jupyter写的，模块比较散

[2019-09-17 03:25] JiabinYang commented on #19823
目前Paddle的动态图还不支持numpy组网的方式，具体的使用可以参考https://www.paddlepaddle.org.cn/documentation/docs/zh/user_guides/howto/dygraph/DyGraph.html

[2019-09-17 03:25] ResearchingDexter opened #19832 "ifelse控制流必须是persistables的变量吗，还有可以只用一个true_block或者false_block"
1）PaddlePaddle版本：1.5.1
2）CPU/GPU：cpu
3）系统环境：Mac OS 10.13.6
- 复现信息：如为报错，请给出复现环境、复现步骤
-
![image](https://user-images.githubusercontent.com/48510477/65008844-411a8400-d93d-11e9-9132-e8ab833aaefb.png)
运行上面的代码，输出如下：
![image](https://user-images.githubusercontent.com/48510477/65008871-5b546200-d93d-11e9-9e7c-7e5d0282c80f.png)
没有输出大于0的部分。
然后如果两部分都输出：
![image](https://user-images.githubusercontent.com/485

[2019-09-17 04:10] Xreki commented on #19830
先确认一下，好像不只是x1、x2有差别。
fluid.Executor.run结果的第2条，是C++预测Python API结果的第3条。后面几条数据都不一样啊？

[2019-09-17 04:33] tracyCzf commented on #19830
在fluid.Executor.run的正常结果中，应该是被NMS过滤掉了。可以对比一下C++预测的第1条和第2条的y1，y2，数值比较接近，但x1和x2的结果存在问题，所以没有被过滤掉，C++预测的第4条和第5条数据，以及后面的结果也是类似的情况

[2019-09-17 04:56] jinyuKING commented on #19823
感觉paddle的动态图机制跟其他动态图框架比，使用还是有些麻烦，mxnet跟pytorch的代码很容易实现互相迁移，更换功能函数就基本完成了，换成paddle动态图写法就基本要重新组网去写，，，，，

[2019-09-17 04:56] #19823 closed, assigned to JiabinYang

[2019-09-17 05:59] Xreki commented on #19830
1. 你是怎么保存模型的？
2. fluid.Executor.run，是通过`fluid.io.load_inference_model`加载的该模型吗？

[2019-09-17 06:32] Xreki commented on #19832
![image](https://user-images.githubusercontent.com/12538138/65016739-92d00800-d957-11e9-8c2b-972569ca5992.png)

这个错误跟是否是`persistable`无关。错误提示中的`mask_dim`，也就是代码中的作为`IfElse`条件的`cond`，按照错误提示，应该是要求cond的dims为1，这里你传入的长度是4。

你想获得tensor中大于0的元素，可以调用`relu`。

另外，issue中建议尽量贴文字，不要贴图，一是贴图不能被索引，二是我们不能直接拷贝来验证和复现。

[2019-09-17 06:44] TomorrowIsAnOtherDay commented on #19665
@a-big-tomato  我们发现这个问题在最新版本已经fix，设置stop_gradient为false是可以运行的。
至于latest-build版本，可以通过这个[页面](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/beginners_guide/install/Tables.html#whl-dev)下载哈
[code]

[2019-09-17 06:48] tracyCzf commented on #19830
问题1. 保存模型是调用的fluid.io.save_inference_model
[code]
问题2、fluid.Executor.run是通过fluid.io.load_inference_model加载的模型

[2019-09-17 06:49] TomorrowIsAnOtherDay commented on #19665
@a-big-tomato  请测试下最新的安装包，话我们先关闭这个issue了，有问题的话随时reopen哈

[2019-09-17 06:49] #19665 closed, assigned to nobody

[2019-09-17 07:08] ResearchingDexter commented on #19832
谢谢回答，我下次贴代码。我直接用的greater_than得到的cond为什么会维度对应不上呢；还有我只想要大于0的元素，其余的元素不要，如果用relu的话输出还是哪些个元素啊。

[2019-09-17 07:14] yuzunrui opened #19834 "epoch=3正常，epoch=5在训练完保存模型阶段报错。"
同样的代码，epoch=3时正常训练完并保存模型，epoch=5时训练完保存模型阶段报错（报错能复现），报错信息如下：
[code]

[2019-09-17 07:19] Xreki commented on #19834
从堆栈信息来看，并不是在保存的时候出的错，而是在计算时。你可以先将保存相关的代码注释掉，验证下。

[2019-09-17 07:29] yuzunrui commented on #19834
前三行信息，计算过程的5个epoch都结束了。如果是计算出错的话，请问什么情况下会导致最后出错呢，谢谢

[2019-09-17 07:33] Xreki commented on #19832
`greater_than(x, y)`，会对x和y逐个元素进行比较，返回与x、y长度相同的bool类型tensor，你这个例子里，cond应该是[True, True, False, False]。

你可以用[where](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html#where)获取大于0的元素的位置。

你实际应用中数据的维度是多少？

[2019-09-17 07:43] ResearchingDexter commented on #19832
我想问的是为什么greater_than得到的cond，然后用`IfElse`为什么会报错；
数据维度肯定是要任意的啊，我想要什么维度的都可以得到其中所有大于0或者是别的条件的所有值。

[2019-09-17 07:44] Xreki commented on #19834
怎么看出前面5个epoch已经执行完了的？

holder_ should not be null
Tensor not initialized yet when Tensor::place() is called. at [/paddle/paddle/fluid/framework/tensor.h:133]
PaddlePaddle Call Stacks:

这个错误表示，ScaleKernel在执行时，有数据没有初始化。

self_attn_mask = fluid.layers.scale(x=input_mask, scale=10000.0, bias=-1.0, bias_after_scale=False)

从堆栈看，应该是这个scale的输入tensor没有数据，也就是input_mask，你检查一下input_mask吧。或者你贴一下这附近的代码，因为你使用的代

[2019-09-17 08:02] yuzunrui commented on #19834
model/bert.py:

if self._dtype == "float16":
    input_mask = fluid.layers.cast(x=input_mask, dtype=self._dtype)
self_attn_mask = fluid.layers.scale(x=input_mask, scale=10000.0, bias=-1.0, bias_after_scale=False)
n_head_self_attn_mask = fluid.layers.stack(x=[self_attn_mask] * self._n_head, axis=1)
n_head_self_attn_mask.stop_gradient = True

其中，input_mask是在batching.py里计算好的`len(insts)*max_seq_length

[2019-09-17 08:15] Xreki commented on #19832
这很正常啊，greater_than支持任意维度；IfElse的cond要求dims为[1]。如果greater_than输入数据的dims为[1]，那得到的结果就可以用于IfElse。

举个例子，假如输入是2维的，x =[[1, -2, 3], [-1, -2, 3]]，那么你要的输出的维度是多少？

[2019-09-17 08:24] ResearchingDexter commented on #19832
那如果greater_than输出的cond维度不为1该如何解决啊；
对于这个`x =[[1, -2, 3], [-1, -2, 3]]`，我如果要输出大于0的值，期望输出是`[1,3,3]`这样的

[2019-09-17 08:30] Xreki commented on #19834
你是在训练`float16`的模型吗？

我比较怀疑是数据的问题。

[2019-09-17 08:48] janelu9 commented on #19795
是的 我发现了这个问题 感觉这有点过于严格

[2019-09-17 09:06] yuzunrui commented on #19834
不是float16，这个无效。

请问数据可能是什么问题呢？绝大多数轮都正常，为什么会恰好在结束的时候出现问题呢？

[2019-09-17 09:06] #19751 closed, assigned to JiabinYang, chengduoZH

[2019-09-17 09:39] #18086 closed, assigned to gongweibao, chengduoZH

[2019-09-17 09:39] #18085 closed, assigned to gongweibao, sneaxiy

[2019-09-17 09:39] #18006 closed, assigned to gongweibao, chengduoZH, sneaxiy

[2019-09-17 09:39] #17673 closed, assigned to gongweibao

[2019-09-17 09:41] #17638 closed, assigned to gongweibao

[2019-09-17 09:42] #15315 closed, assigned to gongweibao

[2019-09-17 09:42] #12536 closed, assigned to chengduoZH

[2019-09-17 09:44] #12370 closed, assigned to gongweibao, typhoonzero

[2019-09-17 09:44] #12357 closed, assigned to Superjomn, panyx0718

[2019-09-17 09:45] #12224 closed, assigned to gongweibao

[2019-09-17 09:45] #12130 closed, assigned to nobody

[2019-09-17 09:45] #12459 closed, assigned to panyx0718, gongweibao

[2019-09-17 09:45] #12360 closed, assigned to Superjomn, gongweibao

[2019-09-17 09:46] #15076 closed, assigned to gongweibao

[2019-09-17 09:46] #15026 closed, assigned to gongweibao

[2019-09-17 09:46] #15015 closed, assigned to gongweibao

[2019-09-17 09:46] #19802 closed, assigned to gongweibao, chengduoZH

[2019-09-17 09:47] #12749 closed, assigned to gongweibao, chengduoZH

[2019-09-17 09:47] #12634 closed, assigned to gongweibao

[2019-09-17 09:48] #13671 closed, assigned to gongweibao

[2019-09-17 09:48] #14058 closed, assigned to shanyi15

[2019-09-17 09:48] #12870 closed, assigned to jetfuel

[2019-09-17 09:49] #15192 closed, assigned to seiriosPlus, gongweibao

[2019-09-17 09:50] #15445 closed, assigned to gongweibao

[2019-09-17 09:50] #16485 closed, assigned to Yancey0623, typhoonzero, chengduoZH, sneaxiy

[2019-09-17 09:50] #16655 closed, assigned to Yancey0623, typhoonzero, chengduoZH, sneaxiy

[2019-09-17 09:51] #15730 closed, assigned to gongweibao

[2019-09-17 09:51] #15102 closed, assigned to gongweibao

[2019-09-17 09:51] #15001 closed, assigned to gongweibao

[2019-09-17 09:57] #14082 closed, assigned to nobody

[2019-09-17 09:58] #15311 closed, assigned to gongweibao

[2019-09-17 13:07] #19567 closed, assigned to nobody

[2019-09-17 13:31] Xreki commented on #19830
猜测可能是`w`设置的不对，但看代码觉得似乎没啥问题。。。

[2019-09-17 13:50] a-big-tomato commented on #19665
万分感谢

[2019-09-17 14:26] LinAurora commented on #19799
您好，通过您的指导，我测试发现问题确实如您所说在于tensorflow的参数初始化，
于是我修改了两个版本的卷积函数的参数初始化方式分别为ones_initializer和constant(1)，得到的输出确实是相同的，这说明conv1d的实现是没有问题的。
但是，Tensorflow模型的默认初始化方式并不是ones_initializer，而是glorot_uniform()，这个函数对应于paddle中的Xavier()初始化方式函数，于是我又修改了paddle参数的初始化方式为Xavier(),而得到的结果却不同，我分别看了两个初始化方式的源码，其中tensorflow版本只有两个参数，如下所示
  def __init__(self, seed=None, dtype=dtypes.float32):
    super(GlorotUniform, self).__init__

[2019-09-18 02:19] tianjie491 opened #19842 "用tensorrt运行ERNIE模型报错"
 1）PaddlePaddle版本：paddlepaddle-gpu==1.5.2.post107
    2）CPU：gpu预测
    3）GPU：RTX2080ti，cuda10.0.130，cudnn7.6
    4）系统环境：CentOS Linux release 7.6.1810，Python版本3.6.5
    5）tensorrt：TensorRT-6.0.1.5.CentOS-7.6.x86_64-gnu.cuda-10.0.cudnn7.6.tar.gz
-预测信息
    预测模型：ERNIE1.0
    使用python api进行预测，代码如下：
    type_scope = fluid.core.Scope()
    with fluid.scope_guard(type_scope):
        prog_file = "{}/__mode

[2019-09-18 02:37] Xreki commented on #19832
目前来看，有以下两种方案：

1. 用基础op组装。对cond变量用where操作，取出True值所在位置的索引index，然后用gather(x, index)。注意，你可能需要加入一些reshape操作。

2. 用py_func。

[2019-09-18 03:42] tianjie491 commented on #19842
在我以前的一个issues中，也是同样的问题，你们给出的回复是：编译Python安装包的时候没有打开TensorRT，请问如何打开呢？一直没搞明白

[2019-09-18 03:59] bingyanghuang commented on #18005
@grygielski Based on your analysis, if I understand correctly , this error is a random diff which possibly happens both in AVX2 and AVX512? You mentioned that the problem is lacking softmax operator, what do you mean ?

[2019-09-18 05:08] tracyCzf commented on #19830
好像发现问题出在定义im_shape的这段代码
[code]
打印结果如下：
![image](https://user-images.githubusercontent.com/11756515/65111863-2bc25a00-da10-11e9-98ec-3aaf21e43313.png)
在预测的结果中，我也输出了im_shape，得到的结果是[288.0, 0.0]。感觉是预测时截取了image_info.data.int32_data()的前两位，导致width为0，最终预测结果的x1,x2为0和-1。
另外打印image_info.data.int64_data()和image_info.data.float_data()都是 [288L, 384L]。
是我定义的有问题么，还是int32_data()就是这么设计的？
如果预测的输入是int类型的话，貌似也只能这么传，把d

[2019-09-18 05:22] shippingwang commented on #19842
[How to install tensorrt](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/paddle_tensorrt_infer.html)

[2019-09-18 05:45] jinxing94 commented on #19628
请问这个有进展吗，我碰到类似的问题， https://github.com/PaddlePaddle/Paddle/issues/19679

[2019-09-18 06:43] heguixiang opened #19851 "Thanks for your guys excellent work. Does PaddlePaddle has any NLP BERT quantize (4bit/8bit/16bit) method? Looking forward for your reply, thanks!"
same as title

[2019-09-18 06:57] Xreki commented on #19830
嗯，应该是这个原因。是Python数据传到C++后端时出了错。这是1.5版本里面的bug，develop里面已经修复，请下载最新的whl：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/beginners_guide/install/Tables.html#whl-release

测试代码：`image_info.data = PaddleBuf(np.array([h, w]).flatten().astype("int32"))`

[2019-09-18 07:38] ceci3 commented on #19799
paddle版本的seed为0的话会随机给一个seed的。就算seed相同，不同框架我也不确定是否随机得出的所有参数都相同。您现在是为了保证相同参数然后看整个网络的输出吗？如果是的话建议使用比较简单的方式，比如固定的常数来初始化所有的tf和paddle的参数，然后对比网络的输出。

[2019-09-18 07:41] JiaXiao243 opened #19852 "windows上模型的报错信息，会显示编译paddle包的机器的编译路径"
![image](https://user-images.githubusercontent.com/37854899/65127659-7d77de00-da2a-11e9-84cb-615bf9f3be36.png)
如上所示，在windows上运行模型的报错信息，会把从源码编译该paddle wheel报所在机器的编译路径一起报出来

[2019-09-18 07:43] grygielski commented on #18005
This test fails only on AVX2 but the reason is pretty random. Test calculates difference between ref value (without passes and other modifications to graph i guess) and tested graph setup. It happens that MKLDNN implementation of whole graph differs very little between AVX2 and AVX512 and ref value between machines changes 3x more. This is what causes test fails.

But the main problem here is that

[2019-09-18 07:49] LinAurora commented on #19799
和您想的一样，我也打算先用简单的常数初始化对齐整个网络后，再换成Xavier初始化方式查看效果。接下来几天我会尝试完全对齐整个网络。感谢您的指导。

[2019-09-18 08:18] kahitomi commented on #19628
@zhaoyuchen2018
我整理了一份代码，https://github.com/kahitomi/paddle_test_code
可以拉下来直接运行

[2019-09-18 09:10] tracyCzf commented on #19830
用develop分支重新编译paddle以后，确实可以了。

另外，在使用C++预测库对应的Python接口时，遇到两个小问题。
1、之前希望在一个镜像里即支持fluid的GPU和CPU预测，在编译paddle的时候需要把DWITH_GPU设置为ON来支持GPU预测，但是发现这样编的Paddle无法在没有GPU的机器上使用CPU进行预测
![image](https://user-images.githubusercontent.com/11756515/65134490-f67d3280-da36-11e9-899e-03ca46961c35.png)

2、在一个进程里面，加载完模型可能会占几百兆的内存，然后使用模型预测一张图片时，内存可能会长到几个G，之前跑MaskRCNN时，检测框特别多时甚至占到十几个G，但预测结束后该进程占的内存不会减少，如果把模型封装成服务的话，服务所占的内存

[2019-09-18 09:29] ustcxiexk opened #19856 "MPI上分布式运行paddle官方的word2vec，is_sparse设置false时正常运行，is_spare设置true时不能训练"
如题，利用paddle提供的word2vec模型：https://github.com/PaddlePaddle/models/tree/develop/PaddleRec/word2vec，在MPI集群上分布式运行时，is_sparse（skip-gram构造网络参数）默认false时，可以正常运行，传入参数 is_sparse（=True）时不能训练，最后报rpc的错误：
（已设置FLAGS_rpc_deadline=5000000）
[code]

[2019-09-18 10:02] zhengxiao-yu opened #19858 "k8s k40 nccl方式跑多机，报如下错"
一、资源信息：
trainer个数:      3
trainer进程GPU卡数:   3
GPU卡类型:    gpu_k40
二、错误信息
![image](https://user-images.githubusercontent.com/40815005/65138981-70fd8080-da3e-11e9-80ab-333d34e9ce6c.png)

[2019-09-18 10:08] shippingwang commented on #19851
Not yet.

[2019-09-18 10:19] heguixiang commented on #19851
Do you have any quantize plan for BERT inference side?

[2019-09-18 10:30] NHZlX commented on #19830
可以打开显存或者内存复用试一下：

[code]

[2019-09-18 11:05] Xreki commented on #19834
是跑多次，每次都挂在这个地方吗？

scale的输入input_mask是feed进来的，应该是feed进来的数据有问题了，能不能排查一下数据？

[2019-09-18 11:07] Xreki commented on #19830
运行时设置`export CUDA_VISIABLE_DEVICES=""`试下？

[2019-09-18 11:54] MrChengmo commented on #19856
Fixed by https://github.com/PaddlePaddle/Paddle/pull/19737

[2019-09-18 11:58] shippingwang commented on #19851
Not yet, thanks for your attention.

[2019-09-18 12:03] xiuechen opened #19860 "使用brpc封装paddlepaddle预测"
1.bthread是复用的吗？还是说请求处理完bthread就释放了，然后下次来请求再构建新的呢？
2.有人用brpc封装paddlepaddle模型进行预测吗，predictor一个pthread一个还是一个bthread一个呀，另外如果一个pthread一个该怎么初始化呢～～

[2019-09-18 12:04] liushao007 opened #19861 "lstm连续预测一个序列的方法？"
问题是：我已经使用时间序列训练了一个lstm模型，现在已知时间t=1~10时变量y的值，想要预测t=11~20时y的值。
    目前是将t=1~10时y的值传入模型，只能预测到t=2~11的y的值，现在我是通过多次调用模型，每次调用后将预测的最后一个y值补到变量y中。例如：一开始使用t=1~10时y的值预测t=2~11时y的值，将t=11时y的预测值补上，得到t=1~11时的y的值，再次预测t=2~12时y的值，再将t=12时y的预测值补上，以此类推，得到t=11~20时y的值。
    我想请问一下，paddle.fluid有没有什么方法可以一次调用直接就将t=11~20时y的值预测出来呢？

[2019-09-18 12:05] tracyCzf commented on #19830
应该是 export CUDA_VISIBLE_DEVICES="" 吧，试了下，是可以的，这个CUDA_VISIABLE_DEVICES不行。谢谢！

[2019-09-18 12:08] tracyCzf commented on #19830
在CPU预测，会报错？
![image](https://user-images.githubusercontent.com/11756515/65147062-e3c32780-da4f-11e9-84d8-aac0955bdbbe.png)

[2019-09-18 12:25] JiaXiao243 opened #19862 "linux上paddle=develop第一次编译报错，第二次编译成功"
今天刚刚下载的Paddle的源代码，直接编译，编译过程中会报如下信息：
![image](https://user-images.githubusercontent.com/37854899/65148187-474e5480-da52-11e9-9e4f-09b950c4565a.png)
再重新编译就成功了了。
试了两次，都是这样，之前从来没有出现过。

[2019-09-18 13:34] luotao1 commented on #19862
这是编译错误，缺依赖了。prune加个boost的依赖应该就好了

[2019-09-18 13:51] ccmeteorljh commented on #19790
distributed_lookup_table不支持CUDAPlace，将use_cuda改成false试试

[2019-09-18 14:37] gavin1332 commented on #19858
是一共3*3=9张卡吗？

[2019-09-18 14:41] gavin1332 commented on #19858
看日志像是nccl的版本跟GPU的驱动不匹配。
能否使用P40测试一下？

[2019-09-18 17:59] jczaja commented on #19566
fix in #19615

[2019-09-18 17:59] #19566 closed, assigned to jczaja

[2019-09-19 02:48] Joyo2016 opened #19873 "训练过程中出core，无信息提示"
paddle 1.5，cpu
执行transformer训练过程中出core，怀疑是由于数据格式问题导致，但无信息提示，准备训练数据的代码中的print信息也没有显示出来

[2019-09-19 02:52] heavengate commented on #19873
麻烦粘贴一下关键代码和日志信息，补充一下cuda，cudnn，操作系统版本等信息

[2019-09-19 03:09] tianjie491 commented on #19842
@shippingwang 这个好像是在c++里预测的，我想在python里进行预测，请问应该怎么设置来打开tensorrt呢？

[2019-09-19 03:18] tianjie491 commented on #19842
Pass tensorrt_subgraph_pass has not been registered at [/paddle/paddle/fluid/framework/ir/pass.h:160]
一直报这个错误

[2019-09-19 03:26] Exception-star opened #19874 "动态图如何多卡训练？不是用executor的那种"
动态图如何多卡训练？不是用executor的那种。

还有策略如何设置，例如syncBN

[2019-09-19 03:40] Cauchyzhou commented on #16285
+1
还有ndarray转parameters,相比tensorflow这操作太麻烦了，文档也不好找，体验很差

[2019-09-19 03:43] zhengxiao-yu commented on #19858
p40可以跑通，设置如下：
![image](https://user-images.githubusercontent.com/40815005/65211856-b53a6080-dad2-11e9-9d91-e81cbae63190.png)

[2019-09-19 03:50] zoujuny commented on #13129
@luameows 自定义center loss训练的问题解决了吗？

[2019-09-19 03:59] zhengxiao-yu commented on #19858
用的：cuda9+nccl2.1.15

[2019-09-19 04:39] Melonzhou commented on #19858
搭车追问一下，感觉现在的nccl不只是K40有问题，v100也有同样的问题。
![image](https://user-images.githubusercontent.com/5926307/65213812-33e6cc00-dada-11e9-9bcd-2b73b69ff8d5.png)
nccl_2.3.7-1+cuda9.0_x86_64
paddlegpu-1.5.2版本的

[2019-09-19 05:47] shippingwang commented on #19860
建议用户使用paddle serving

[2019-09-19 05:48] Joyo2016 commented on #19873
cpu机器，centos 6.3 64位
        self.paddle_env['exe'].train_from_dataset(program=self.get_main_program(),
                        dataset=self.paddle_env['dataset'],
                        fetch_list=self.debug_tensors,
                        fetch_info=self.debug_tensor_keys,
                        print_period=FLAGS.trace_every_n_steps,
                        debug=FLAGS.debug_mode)

[2019-09-19 05:56] heavengate commented on #19874
请参考 https://github.com/PaddlePaddle/models/tree/develop/dygraph/resnet , 支持多卡训练，代码中有strategy的获取接口
![屏幕快照 2019-09-19 下午1 55 25](https://user-images.githubusercontent.com/12605721/65216959-34d12b00-dae5-11e9-99ad-6aa7f5a8876f.png)

[2019-09-19 05:59] heavengate commented on #19873
`export GLOG_v=10`可开启调试日志打印，可以打印看下

[2019-09-19 06:00] xubin1994 opened #19878 "optimizer.minimize(avg_cost) 无法反向传播"
代码数据读取正常，网络框架正常，但整体拼接在一起时使用optimizer.minimize(avg_cost) 报错，似乎是说无法反向传播
训练部分代码如下：
[code]
请问这种是出现了什么问题？

[2019-09-19 06:01] xubin1994 commented on #19878
重新贴一遍训练代码，上面的格式有点问题
[code]

[2019-09-19 06:10] heavengate commented on #19878
model_loss的代码麻烦贴一下

[2019-09-19 06:13] xubin1994 commented on #19878
loss代码：
[code]

[2019-09-19 06:17] heavengate commented on #19878
`maxdisp`, `mask_sum`这些设置`stop_gradient=True`试下

[2019-09-19 06:23] xubin1994 commented on #19878
设置了：
mask.stop_gradient =True
mask_sum.stop_gradient =True
还是报同样的错误，‘maxdisp’是一个我外部传入的一个整数，int类型，不存在stop_gradient属性的

[2019-09-19 06:29] #19345 closed, assigned to nobody

[2019-09-19 06:35] heavengate commented on #19878
`"/usr/local/lib/python3.6/dist-packages/paddle/fluid/backward.py", line 518` 上一行把`op_desc.type()` print出来看下

[2019-09-19 06:45] xubin1994 commented on #19878
按你的要求，插入代码如下：
![image](https://user-images.githubusercontent.com/28856641/65219832-030f9280-daec-11e9-90f5-2f7c09b666c3.png)
打印信息如下：
test_op fill_constant
test_op elementwise_add_grad
test_op elementwise_add_grad
test_op elementwise_add_grad
test_op elementwise_add_grad
test_op elementwise_mul_grad
test_op elementwise_div_grad
test_op elementwise_add_grad
test_op reduce_sum_grad
test_op abs_grad
t

[2019-09-19 06:49] heavengate commented on #19878
确认下你代码里面哪里连续使用的`gather`和`cast` OP

[2019-09-19 06:51] Melonzhou commented on #19858
NCCL_P2P_DISABLE=0
NCCL_IB_DISABLE=0
这两个参数是什么意思啊？是不是和上面的错误有关啊？

[2019-09-19 06:53] xubin1994 commented on #19878
gather连续使用:
        im_flat = paddle.fluid.layers.cast(im_flat, 'float32')
        idx_a = paddle.fluid.layers.cast(idx_a, 'int32')
        idx_b = paddle.fluid.layers.cast(idx_b, 'int32')
        Ia = paddle.fluid.layers.gather(im_flat, idx_a)
        Ib = paddle.fluid.layers.gather(im_flat, idx_b)
cast连续使用的地方有很多，不能连续使用吗？

[2019-09-19 06:55] jiangbojian opened #19882 "使用paddle开发multi-agent learning，训练过程中出现段错误"
程序运行环境:
paddle develop(commit id:85914f7a88f748a3883bfd09df810e910cce3089)
v100 16G 8卡
python2.7
![image](https://user-images.githubusercontent.com/6761054/65220494-677f2180-daed-11e9-8e79-a3c6bf3938af.png)

错误截图如上，错误不能稳定复现，运行过三次，三次都是在不同的step挂掉。
可以打包提供整套运行环境

[2019-09-19 06:56] heavengate commented on #19878
可以连续用，报错报在这个OP上，涉及到这两个OP的代码麻烦贴下，我确认下

[2019-09-19 07:05] xubin1994 commented on #19878
关于cast:
第一部分：
    B = fluid.layers.slice(fluid.layers.shape(fea1), starts=[0], ends=[1], axes=[0])
    B = fluid.layers.cast(x=B, dtype='int32')
第二部分：
        x0_f = paddle.fluid.layers.cast(x0, 'float32')
        x1_f = paddle.fluid.layers.cast(x1, 'float32')
第三部分：
        batch1 = fluid.layers.slice(fluid.layers.shape(T), starts=[0], ends=[1], axes=[0])
        batch1 = fluid.layers.cast(x=batch

[2019-09-19 07:23] heavengate commented on #19882
麻烦贴一下关键代码，版本，环境定信息

[2019-09-19 07:27] Exception-star commented on #19874
<img width="592" alt="图片" src="https://user-images.githubusercontent.com/53971568/65222100-f5104080-daf0-11e9-8948-d02bca3a16b9.png">
返回的是None, 运行环境（4卡，cuda8.0）
<img width="794" alt="图片" src="https://user-images.githubusercontent.com/53971568/65222112-fb9eb800-daf0-11e9-85fa-c285f29853e7.png">

[2019-09-19 07:35] moberq opened #19883 "基于ERNIE 1.0构建计算图出core，无明显错误信息反馈（疑似构建反向网络出错）"
- 版本、环境信息：
1）PaddlePaddle版本：1.5.1
2）GPU：V100 16GB显存，CUDA 9.0，CUDNN 7.4
3）系统环境：CentOS Linux release 7.5.1804，Python 2.7.15

- 训练信息：
1）单机，多卡
2）显存信息：单卡16GB
3）Operator信息：
大部分同ERNIE 1.0。除此之外，为提升解码端性能而DIY向量内积计算，用到了gather/unsqueeze/expand/pointwise乘法、加法等操作。

- 复现信息：
环境配置如上，运行主训练程序至根据loss计算反向梯度阶段出core（数据pipelines能单独跑通，此时并未进入到实际灌训练数据阶段），无其他错误信息。
optimizer = fluid.optimizer.Adam(learning_rate=scheduled_lr)

[2019-09-19 07:44] Exception-star commented on #19874
<img width="670" alt="图片" src="https://user-images.githubusercontent.com/53971568/65223670-440ba500-daf4-11e9-977a-7f307e144224.png">
如何shi使用同步bn?

[2019-09-19 07:46] heavengate commented on #19874
动态图当前不支持syncbn

[2019-09-19 08:11] heavengate commented on #19883
看报错出现在cast op里面，有些mask变量没有梯度，可以把这些变量设置成out.stop_gradient=True试下

[2019-09-19 08:41] jiangbojian commented on #19882
@heavengate  没法定位错误位置，整个项目代码我都贴过来吗？我可以提供运行的环境

[2019-09-19 08:48] heavengate commented on #19882
`export GLOG_v=10` 可以把调试日志打出来看下

[2019-09-19 09:17] heavengate commented on #19878
[code]
试下

[2019-09-19 09:32] xubin1994 commented on #19878
更新一下刚才的回复，我发现在windows下和linux下跑同样的代码结果不一样，linux下的log更新了，报错如下：
[code]

[2019-09-19 09:42] #19874 closed, assigned to heavengate

[2019-09-19 12:00] OliverLPH commented on #16133
遇到了类似的问题，可以看下面是不是这个配置打开了，注释了这个配置应该就正常了
[code]

[2019-09-19 12:29] luotao1 commented on #16133
@OliverLPH 应该不是这个原因哈。你贴的是预测C++配置里的，但这个issue的python文件是`train_classifier_distributed_version.py`，看上去是训练的。

[2019-09-19 12:38] OliverLPH commented on #16133
哦对，刚刚没注意，但报错感觉还有点类似。
下面的是我遇到的问题的报错，可以参考下哈。
[code]

[2019-09-19 12:43] #19862 closed, assigned to JiabinYang

[2019-09-19 13:46] heavengate commented on #19878
看报错是expand 不支持int32，可以排查下是否有int32的expand操作

[2019-09-19 14:01] ustcxiexk commented on #19856
`from __future__ import print_function
import argparse
import logging
import os
import time
import math
import random
import numpy as np
import paddle
import paddle.fluid as fluid
import six
# import config
import reader
from net import skip_gram_word2vec

logging.basicConfig(format='%(asctime)s - %(levelname)s - %(message)s')
logger = logging.getLogger("fluid")
logger.setLevel(logging.INFO)

def

[2019-09-19 14:09] luotao1 commented on #17350
@rlistengr 请问你是用什么版本的paddle呢？1.5版本已经修复这个问题了，可以传入int64类型。https://github.com/PaddlePaddle/Paddle/pull/17610

[2019-09-19 14:09] #17350 closed, assigned to Superjomn

[2019-09-19 14:22] heavengate commented on #19873
Paddle原版代码能跑通，目前代码卡在read_data部分，建议排查reader

[2019-09-19 15:38] OleNet opened #19893 "概念搞不清楚：Fluid.Parameter V.S. Fluid.Vars V.S. Fluid.Persistables"
[教程](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_guides/low_level/model_save_reader.html)里说，

根据这段话， 我理解，参数（Parameter）和持久性变量（Persistables）是一回事是吗？

[2019-09-20 01:40] xubin1994 commented on #19878
有一个expand 的int32操作：
       grid = fluid.layers.cast(x=grid, dtype='int32')
        grid = paddle.fluid.layers.expand(grid, [batch1,1])
但是我去掉int32的转换，它又给我报错说应该是要int的，日志如下：
Python Call stacks:
  File "/usr/local/lib/python3.6/dist-packages/paddle/fluid/framework.py", line 1774, in append_op
    attrs=kwargs.get("attrs", None))
  File "/usr/local/lib/python3.6/dist-packages/paddle/fluid/layer_helper.

[2019-09-20 02:04] ResearchingDexter opened #19896 "Operator "deformable_conv" has not been registered."
1）PaddlePaddle版本：1.5.1
2）CPU/GPU：cpu
3）系统环境：Mac OS 10.13.6
运行下面代码报错是可变性卷积没有实现的意思吗
[code]
[code]

[2019-09-20 02:22] XDUXK opened #19898 "分布式训练报var not in this block错误"
我根据paddle上一个分布式训练的sample （https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/training/cluster_quick_start.html） 改写了自己的一个训练。其中一个trainer的代码如下，运行时报错：“ValueError: var image not in this block”，不知道是什么原因造成的？怎么解决啊？多谢！
[code]

[2019-09-20 02:32] parap1uie-s commented on #19697
貌似可以用fluid.layers.gather

[2019-09-20 02:52] jiangbojian commented on #19882
@heavengate 磁盘都打满了，也没出错误。速度太慢了，这样解决不了呀

[2019-09-20 03:18] heavengate commented on #19882
看报错处在elementwise add上，可以排查一下你的代码里面调用fluid.layers.elemetwise_add的地方或者两个Variable相加的地方

[2019-09-20 03:30] heavengate commented on #19878
确认了下，expand_grad没有int的kernel，如果你这个grid是不需要梯度的，可以设置一下stop_gradient，如果需要梯度，建议把cast放到expand后面

[2019-09-20 03:34] 651778286 opened #19900 "建议PaddlePaddle支持在树莓派平台上安装运行"
欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：最新版本
2）CPU/GPU：最新款树莓派4的显卡使用的是VideoCore VI 显卡，支持 OpenGL ES 3.x
3）系统环境：Raspbian 10
- 建议描述：在树莓派上无法安装PaddlePaddle，建议添加

[2019-09-20 03:39] xubin1994 commented on #19878
搞定，的确加个grid.stop_gradient就解决了。把cast放到expand后面应该是行不通的，我前面提到了这里不在前面加cast就会报另一个错。

[2019-09-20 03:48] heavengate commented on #19878
不是不加cast，是cast之前先expand，因为expand_grad不支持int，所以在float上先expand，expand完之后再cast成int32， cast和expand换个顺序

[2019-09-20 03:52] xubin1994 commented on #19878
我的意思是说，按照下面的操作，报错会提示在expand上，
#grid = fluid.layers.cast(x=grid, dtype='int32')
grid = paddle.fluid.layers.expand(grid, [batch1,1])
#grid = fluid.layers.cast(x=grid, dtype='int32')

log:()更详细的报错在今早第一次回复上
C++ Call stacks:
Tensor holds the wrong type, it holds float, but desires to be int at [/paddle/paddle/fluid/framework/tensor_impl.h:30]

[2019-09-20 04:00] heavengate commented on #19878
好的，那还是加stop_gradient吧

[2019-09-20 04:16] jiangbojian commented on #19882
@heavengate  代码里没有使用elemetwise_add，但有两个Variable相加的地方，但也都是常规操作，如何避免它报这个错呢？

[2019-09-20 04:53] heavengate commented on #19882
可以fluid.layers.Print()把两个相加的tensor打出来，看看shape，type这些是不是一致的

[2019-09-20 06:41] lxy417 opened #19902 "安装GPU版本不能使用"
- 标题：ubuntu16安装错误
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2.post107
    2）CPU：i9-9900k
    3）GPU：双2080ti，CUDA9.0或者10.0，cuDNN7.5或者7.6
    4）系统环境：ubuntu16、Python3.6
- 安装方式信息：
1）pip安装
cpu运行没有问题，gpu运行有问题

按着您们的测试运行时候的报错
Running Verify Fluid Program ...
W0920 13:32:54.945031  7592 dynamic_loader.cc:118] Can not find library: libcublas.so. The process maybe hang. Please try to add the lib path to LD_LIBRARY

[2019-09-20 08:39] #19686 closed, assigned to nobody

[2019-09-20 09:04] wenston2006 opened #19908 "sequence_expand(), sequence_pool() 用在什么场合?看了文档还是不太明白"
文档写的比较细致, 但是看了文档还是不明白这么做的目的

[2019-09-20 09:33] yeyupiaoling commented on #19742
已私聊解决，问题无法复现，应该是我某个地方弄错了。

[2019-09-20 09:33] #19742 closed, assigned to nobody

[2019-09-22 04:18] emy-085 opened #19920 "预测时用load_persistables载入模型出错"
- 标题：预测时用load_inference_model可以正常预测，用load_persistables会报错
- 版本、环境信息：
    1）PaddlePaddle版本：1.5开发版：8cb48e5aed11806dac52f1f60aa2a88497d12644
    2）GPU：K40, cuda9.0，cudnn_v7.3
    3）系统环境：centos
- 问题描述：训练模型时我同时用save_inference_model和save_persistables保存模型参数，这是得到的参数文件(最后一个是save_persistables的结果)：
![image](https://user-images.githubusercontent.com/55644945/65382234-b79af580-dd32-11e9-8349-c2cce058569d.png)

[2019-09-22 05:17] emy-085 commented on #19920
save部分代码：
[code]

[2019-09-22 05:35] heavengate commented on #19893
1. persistable是指变量在运行过程中内存不会释放，参数由于在整个运行过程中是要持续学习更新的，所以是persistable的不会被释放，所以Parameter肯定是persistable。
2. 不是一回事，可以认为persistable是一个更广泛的概念，参数是其中之一，有一些非参数的变量也可以设置为persistable

[2019-09-22 06:50] SunGaofeng commented on #19920
预测时推荐用load params

[2019-09-23 01:46] SunGaofeng commented on #19920
在train的时候save persistable会保存模型参数以及其他persistable的变量比如优化器需要的momentum这些，而inference的时候这种类型的变量在网络里面是没有的，所以在inference的时候会报上面列的错误“You are not allowed to load partial data via load_combine_op”。可以在train的时候使用fluid.io.save_params，然后inference的时候fluid.io.load_params

[2019-09-23 02:09] banma12956 opened #19921 "动态图版本loss.backward()报错DataType of Paddle Op reduce_mean_grad X must be the same"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU：2.7 GHz Intel Core i5
    3）系统环境：Mac OS 10.14，Python 3.6.9
- 问题描述：
1） 代码

[code]

2） 完整报错信息

[code]

[2019-09-23 02:12] seiriosPlus commented on #19898
[code]
去掉？

[2019-09-23 02:40] banma12956 commented on #19921
I used paddle.fluid.layers.cast to convert cost to float32 and solved this bug. Thanks, GT

[code]

[2019-09-23 02:40] #19921 closed, assigned to nobody

[2019-09-23 02:43] moberq commented on #19883
感谢回复！

[2019-09-23 02:51] moberq commented on #19883
感谢回复！
我将decode_bias_pos这个tensor的stop_gradient设置为True（如下图），计算图就可以编译通过了，但是为什么前边mask_pos的stop_gradient不用设置为True呢？
![image](https://user-images.githubusercontent.com/27150101/65399531-c72c4400-ddef-11e9-96b0-596879380cc6.png)

有没有什么tutorial或者文档指导怎么判定一个tensor是否该把梯度回传呢（即哪些tensor的stop_gradient应该被设置为True）？

[2019-09-23 03:05] LinAurora commented on #19799
您好，我先取消了神经网络的随机性，又重写了各种层的代码，并使用了相同的参数初始化，实现了输入输入的对齐后，进行训练时发现，tf版本可以正常运行，paddle仍旧无法正常训练，只有第一次训练的结果是相同的，包括各种层的输出和损失函数，这说明代码是没有问题的，所以我将问题重新定位在优化器上或者训练器的架构上，但是无论是我使用自己写的和tf版本完全相同的训练器，还是使用对官方源码进行修改后的训练器，都无法正常收敛。
`class GeneratorAll():
    def __init__(self,input_A,input_B):
        self.program=fluid.default_main_program().clone()

        with fluid.program_guard(self.program):

            #A->B->A

[2019-09-23 03:08] mapingshuo opened #19922 "基于C++训练库的demo trainer在MKLDNN下报segmentation fault"
###错误描述

基于C++训练库的demo trainer在MKLDNN下报segmentation fault: http://ci.paddlepaddle.org/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=171521&_focus=6744

本地编译时选择 WITH_MKL=ON, WITH_MKLDNN=ON是出错，WITH_MKL=ON, WITH_MKLDNN=OFF时正常运行, 应该是MKLDNN的问题。

### 错误排查
错误出现在运行这一行时：https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/train/demo/demo_trainer.cc#L83

经过排查，是在tensor.cc里

[2019-09-23 03:10] moberq commented on #19883
另外，不知道我这样通过负采样word_embeddings及其词典对应的偏置向量mask_lm_out_fc.b_0的操作是否正确？如下图：
![image](https://user-images.githubusercontent.com/27150101/65399900-dd3b0400-ddf1-11e9-9ddc-adb7c65c52eb.png)

现在训练起来结果很奇怪，训练集上loss会很快降为0（如下图），但是验证集没有效果。。。
![image](https://user-images.githubusercontent.com/27150101/65400057-b3361180-ddf2-11e9-91eb-eb3cac2f3a49.png)

训练日志如下：
[code]

[2019-09-23 03:14] mapingshuo commented on #19922
related pull request: https://github.com/PaddlePaddle/Paddle/pull/19885

[2019-09-23 03:15] luotao1 commented on #19922
@bingyanghuang Please help see this issue!

[2019-09-23 03:30] LinAurora commented on #19799
您好，我先取消了神经网络的随机性，又重写了各种层的代码，并使用了相同的参数初始化，实现了输入输入的完全对齐后，进行训练时发现，tf版本可以正常运行，paddle仍旧无法正常训练，只有第一次训练的结果是相同的，包括各种层的输出和损失函数，这说明代码是没有问题的，所以我将问题重新定位在优化器上或者训练器的架构上，但是优化器都是相同的，而且无论是我使用自己写的和tf版本完全相同的训练器，还是使用对官方源码进行修改后的训练器，都无法正常收敛。
下面是生成器和训练器的源代码，和TF版本基本相同，运行也正常，可是无法像TF一样训练。
[code]

[2019-09-23 03:32] bingyanghuang commented on #19922
@grygielski @jczaja  Could you help investigate this issue?
This segmentation fault is caused by with `cmake .. MKLDNN=ON` and you can reproduce this error by following the above steps.

[2019-09-23 04:06] LinAurora commented on #19799
![图片](https://user-images.githubusercontent.com/40360249/65401358-34dd6d80-ddfa-11e9-8625-065bec548ec2.png)
![图片](https://user-images.githubusercontent.com/40360249/65401368-40c92f80-ddfa-11e9-969f-87fab1c1fca8.png)
TF版本仅需300次迭代即可迅速下降到3000，并且是一直下降的，而PD版本的迭代过程一直高于第一次损失值且在剧烈波动

[2019-09-23 04:35] banma12956 opened #19924 "动态图报错paddle.fluid.core_avx.EnforceNotMet: holder_ should not be null"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle1.5.1
    2）CPU：2.7 GHz Intel Core i5
    3）系统环境：Mac OS 10.14，Python3.6.9
- 代码：
[code]

- error message：

[code]

[2019-09-23 05:22] baiyfbupt commented on #19896
1.5.1版本上只有deformable_conv GPU的实现，它的CPU实现在[上周](https://github.com/PaddlePaddle/Paddle/pull/18500)刚合入develop分支
建议您更新到最新版[Paddle](https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/install/Tables.html/#whl-dev) 再试下

[2019-09-23 05:23] WeiyueSu opened #19925 "LSTM 输出单元rnn_out的最后一维错误，文档上写着是hidden_size，实际上输出却是input_size"
`import paddle.fluid as fluid
emb_dim = 256
vocab_size = 10000
data = fluid.layers.data(name='x', shape=[-1, 100, 1],
               dtype='int32')
emb = fluid.layers.embedding(input=data, size=[vocab_size, emb_dim], is_sparse=True)
batch_size = 20
max_len = 100
dropout_prob = 0.2
input_size = 100
hidden_size = 150
num_layers = 1
init_h = layers.fill_constant( [num_layers, batch_size, hidden_size]

[2019-09-23 06:12] hutuxian commented on #19925
您好，我这边跑了一下上述例子，rnn_out的最后一维确实是hidden_size：150，没有问题。
请您确认一下使用的paddle版本？

[2019-09-23 06:19] yxnal commented on #19900
我在jetson nano上可以安装运行paddle fluid

[2019-09-23 06:22] yxnal commented on #19601
做些修改，在arm上也可以编译 fluid，在jetson nano上已经验证过了。

[2019-09-23 06:31] hutuxian commented on #19925
经查是老版本中的一个bug，已在 https://github.com/PaddlePaddle/Paddle/pull/18492 中修复

[2019-09-23 06:36] wangguibao commented on #16955
@shuoyin 只看这几行代码看不出来，您还是需要把代码和报错信息尽量多的贴一些，谢谢

[2019-09-23 06:58] JiabinYang commented on #19924
这个问题是因为您的网络中部分参数是没有梯度的，而minimize操作将会默认针对所有的参数进行优化，如果您不想对所有参数进行优化，请通过传入`parameter=`参数确定Parameter所需要的参数

[2019-09-23 07:24] #17721 closed, assigned to fc500110

[2019-09-23 07:54] XDUXK commented on #19898
去掉with fluid.program_guard是可以跑，但是似乎没有跑出来预期结果。**关于paddle的分布式训练，我想请教几个问题：**

1.  **Pserver和trainer的代码（除了training_role等参数的设置部分）必须保持相同吗？**
2. **假如我这里有一个场景，要求是一个Pserver：S和两个trainer：A和B，这两个trainer的训练过程不是完全一样的。具体来说就是，A和B都会有训练一个共同网络N的过程，除此之外，B在训练N的同时，也会使用N的参数，自己额外再训练一个网络N_b。这种情况下，能不能使用paddle的分布式训练完成？如果可以，具体S、A和B的代码逻辑大概该如何设计和安排（比如S和A要一样吗？S和B又是什么关系）？**
3. **关于分布式训练，有没有更多可以参考的文档说明或代码示例？我自己找了一段时间，没找到多少。如果能有关于

[2019-09-23 09:01] Exception-star opened #19934 "strategy.sync_batch_norm=True训练报错， 不使用这个策略可以运行"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2
    2）GPU：4 个k40m
    4）系统环境：linux、Python3.7
    cuda：8.0
    cudnn：7.2

模型名称 ：DANet(Dual Attention Network for Scene Segmentation）
使用数据集名称 ：Cityscapes
模型链接 📎 https://arxiv.org/abs/1809.02983
- 训练信息
<img width="1105" alt="图片" src="https://user-images.githubusercontent.com/53971568/65412998-fb6d2800-de22-11e9-9376-a4919e08e283.png">
<img width="887" alt="图片" sr

[2019-09-23 10:08] tianxingyzxq commented on #19751
我也是同样的问题，请问你是怎么解决的，是nccl2安装的问题吗？ @dipthomas

[2019-09-23 12:47] Archimondecy opened #19938 "cos_sim前面的FC用relu做激活函数，确定这样的网络是符合预期的么？"
models-develop/PaddleNLP/models/matching/bow.py 中的网络设计，cos_sim前的FC用了relu做激活函数，把所有的节点都变成非负值，这样计算cos_sim不合理吧。
      # embedding layer
        emb_layer = layers.EmbeddingLayer(self.dict_size, self.emb_dim, "emb")
        left_emb = emb_layer.ops(left)
        right_emb = emb_layer.ops(right)
        # Presentation context
        pool_layer = layers.SequencePoolLayer("sum")
        left_pool = pool_

[2019-09-23 13:08] rose100 opened #19940 "paddle预测模型，内存超限"
调用paddle预测模型，内存一直增长，具体信息如下：
Python版本：python2.7
paddle版本：paddlepaddle-1.5.2 cpu
模型：conv+fc 一层，预测模型
输入shape: shape=[1, 200, 5]
已经排除为输入特征的计算问题上，因为不调用模型正常

[2019-09-23 13:54] heavengate commented on #19883
需不需要设置stop_gradient和后面使用的OP会不会对该输入产生gradient等有关，目前没有相关说明，我们近来在优化文档，会加入相关说明

[2019-09-23 15:56] Exception-star commented on #19940
猜测buf_size偏大

[2019-09-23 17:31] jczaja commented on #19922
I would like to ley you  know that I started to work on this issue and would like to present current status.

Two different segmentation fault cases are encountered when demo_training is executed. One is related to MKL-DNN one is no-MKL-DNN related.

1. MKL-DNN related problem. This is work in progress, but problem seems to be that some paddle code assumes that Tensor::holder_ is first entity in T

[2019-09-24 01:41] rose100 commented on #19940
我用的值是1024偏大吗？ 是调用过程中来不及释放吗？

[2019-09-24 02:03] Exception-star commented on #19940
改成32试试，我以前跑mnist，16G的内存都满了

[2019-09-24 02:15] ceci3 commented on #18939
use_cudnn=True的情况下gpu的计算结果和cpu计算结果有diff的原因是 gpu cudnn7的情况下卷积调用的winograd算法对卷积计算进行加速导致的。

[2019-09-24 02:28] banbishan opened #19943 "gpu训练没有报错，但准确率一直为0，cpu训练准确率正常上升"
- 标题：gpu训练没有报错，但准确率一直为0，cpu训练准确率正常上升
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA：10.0.130   cudnn：7.6.3
    4）系统环境：ubuntu18.04、Python3.7
- 安装方式信息：
1）pip安装
           
以下为gpu训练打印的log：
[code]

再贴一个cpu训练log：
[code]

[2019-09-24 02:33] yuzunrui commented on #19834
数据有shuffle，但是每次都挂在最后。
重复多次，每次都挂在最后。把skip_steps设置为1，在Max train steps: 80662的情况下，最后的log如下，应该是最后一步出问题了：
09/21/2019 03:26:22 - INFO - __main__ - epoch: 2, progress: 430198/430198, step: 80660, loss: 2.617311,speed: 1.255536 steps/s
09/21/2019 03:26:23 - INFO - __main__ - epoch: 2, progress: 430198/430198, step: 80661, loss: 2.663940,speed: 1.304677 steps/s

An exception was thrown!
 Invoke operator sc

[2019-09-24 02:36] liushanshan07 commented on #18464
求问这个问题如何解决？我在集群P40上训练，也遇到了这个问题。

[2019-09-24 02:36] yuzunrui commented on #19834
计算 input_mask 部分的代码，在bert程序batching.py的def pad_batch_data的基础上改的。
在 if return_input_mask: 部分。
计算 input_mask 得到的是【batchsize，max_seq_length，max_seq_length】的矩阵。
从报错信息来看，最后一个step的时候 input_mask 没有算？

def pad_batch_data(insts,
                   pad_idx=0,
                   return_pos=False,
                   return_input_mask=False,
                   return_max_len=False,
                   return_nu

[2019-09-24 02:37] sandyhouse commented on #19943
1. gpu和cpu的log对应的Iter不同，没有可比性呀。
2. 能否提供可复现的代码，现在提供的信息太少，无法判断。

[2019-09-24 02:38] Banmahhhh commented on #19924
@JiabinYang 感谢回复。想请问我的model是下面这样定义的，需要显式地标注梯度吗？
[code]

[2019-09-24 02:41] banbishan commented on #19943
代码是paddle/model下的ocr_recognition中的attention模型，就是百度开源的ocr模型。iter gpu训练一直保持0，训练到iter[150000]准确率都是0。cpu训练从第一次打印iter[1000]开始准确率就开始不是0了

[2019-09-24 02:41] #19481 closed, assigned to nobody

[2019-09-24 03:29] sandyhouse commented on #19898
如果不去掉with fluid.program_guard的话，请把train_d_real传给transpile的program参数。否则，transpile默认调用的是fluid.default_main_program.

[2019-09-24 03:40] sandyhouse commented on #19834
看日志是输入数据有问题，仔细排查下数据吧。

[2019-09-24 03:47] yuzunrui commented on #19834
有shuffle，但是每次都挂在最后1个step。请问这种情况可能是数据的什么问题呢？谢谢

[2019-09-24 03:47] sandyhouse commented on #19943
请问用的哪个版本的paddle。模型的README里面有一句提示：注意：在paddle1.5版本上训练attention model有收敛问题，建议您暂时使用paddle1.4版本，后续我们会修复该问题。

[2019-09-24 03:50] sandyhouse commented on #19834
可以先打印下，确认数据是否有问题。有问题的话再具体排查。

[2019-09-24 03:54] yuzunrui commented on #19834
单卡下全正常，多卡下有的epoch设置正常，有的epoch报错。
这种情况会不会和最后一点数据量和batchsize有关？谢谢

[2019-09-24 04:12] banbishan commented on #19943
确实是这个问题，我clone的是之前的model，所以readme里没有这句话。

[2019-09-24 04:12] #19943 closed, assigned to nobody

[2019-09-24 04:38] NHZlX commented on #19832
把a 改成这样试一下
[code]

[2019-09-24 05:13] sandyhouse commented on #19834
可能有关系，比如有些卡上没有数据了。

[2019-09-24 05:26] mapingshuo commented on #19922
1. After moving format_ to end of tensor, the first segmentation fault is gone, thx very much.

2. I got segmentation fault after the program runs for 10 steps, it seems like a problem of memory free. This error happens only when I compile paddle lib with "MKLDNN=ON", so I guess it is still related to MKLDNN. When setting GLOG_vmodule=2, I got no "Erase variable" logs, this means that mean_0.tmp_0

[2019-09-24 05:30] banma12956 commented on #19924
感谢@JiabinYang 回答！发现我的问题是在model里面没有用动态图的paddle.fluid.FC，而是用的静态图的fc

[2019-09-24 05:30] #19924 closed, assigned to nobody

[2019-09-24 05:43] lebronjdw opened #19950 "ocr_recognition训练attention时报错"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-09-24 05:44] #19950 closed, assigned to nobody

[2019-09-24 05:51] lebronjdw opened #19951 "ocr_recognition训练attention时报错"
版本、环境信息：
paddlepaddle 1.5.1（cpu版本）
anaconda
代码来自场景文字识别的OCR Attention：
https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition
训练360w中文图集，数据根据要求label.list已经加了相应的宽高
修改代码部分
NUM_CLASSES = 5990
加了打印信息fluid.layers.Print(label_out, message="label_out", summarize=10)
报错显示如下：
finish batch shuffle
1569295129	label_out	The place is:CPUPlace
Tensor[label_out]
	shape: [64,1,]
	dtype: i
	Lo

[2019-09-24 05:55] gentelyang commented on #19898
可参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/fluid_cn.html#distributetranspiler

[2019-09-24 06:02] sandyhouse commented on #19951
确认下edit_distance的输入是否有问题，比如字符串是否为空串。

[2019-09-24 06:04] gentelyang commented on #19858
NCCL_P2P_DISABLE是禁用对等传输(p2p)；
NCCL_IB_DISABLE是禁用NCCL的IB / RoCE传输；

[2019-09-24 06:05] ResearchingDexter commented on #19896
好的，谢谢

[2019-09-24 06:23] zhhsplendid commented on #19542
Fixed the problem by offline discussion. I will close this issue.

[2019-09-24 06:23] #19542 closed, assigned to NHZlX, zhhsplendid, phlrain

[2019-09-24 06:29] lebronjdw commented on #19951
输入的label格式都是这样的，你说的空串指的是？
280 48 20455828_2605100732.jpg 263 82 29 56 35 435 890 293 126 129
280 48 20455953_2495695852.jpg 183 17 1454 304 43 259 312 11 130 795
280 48 20456062_1743140291.jpg 153 432 950 150 65 899 115 7 97 49
280 48 20456156_569666054.jpg 466 28 192 99 412 28 199 2 169 27
280 48 20456234_304574174.jpg 1162 61 88 583 638 26 463 39 833 2
280 48 20456468_2872799721.jpg 206 581 167

[2019-09-24 06:37] sandyhouse commented on #19951
Reference string 26 is empty. at [/paddle/paddle/fluid/operators/edit_distance_op.h:42]，是不是有字符串为“”或者None

[2019-09-24 06:48] lebronjdw commented on #19951
检查了一下train.list的数据，每个字符之间都是只有一个空格，数据上是满足要求的啊

[2019-09-24 06:58] OliverLPH opened #19955 "ubuntu(gcc 5.4)编译C++预测文件，undefined reference to "xxx""
## 标题：ubuntu(gcc 5.4)编译C++预测文件，undefined reference to "xxx"
## 版本、环境信息：
    1）PaddlePaddle版本：develop
    2）CPU：None
    3）GPU：cuda8, cuDNN 7
    4）系统环境：Ubuntu1604, gcc 5.4
## 预测信息
    1）C++预测：请您提供预测库安装包的版本信息，及其中的version.txt文件
    2）CMake包含路径的完整命令
    3）API信息（如调用请提供）
    4）预测库来源：官网下载: [下载链接](https://paddle-inference-lib.bj.bcebos.com/latest-gpu-cuda8-cudnn7-avx-mkl/fluid_inference.tgz) https://padd

[2019-09-24 07:22] #19362 closed, assigned to mapingshuo, guru4elephant

[2019-09-24 07:24] sandyhouse commented on #19955
编译命令是什么？

[2019-09-24 07:29] OliverLPH commented on #19955
[code]
我觉得跟这个编译命令应该没关系吧，这是我编译预测文件的。

[2019-09-24 07:36] Dely-Yu opened #19957 "在训练和测试阶段，batchnorm 的 mean，variance，bias，scale有diff。"
本地，单卡GPU：K40.
fluid1.5
![7475CBAF-8314-49DF-887F-86EEE7DE10E5](https://user-images.githubusercontent.com/29305857/65490490-d7bbe780-dedf-11e9-98c8-5f3e2b7161ea.JPG)
。
数据总量为32张图，训练的batchsize为32，测试batchsize为32.
每个训练iter打出batch层的mean，variance，bias，scale值。
在线测试的时候也输出mean，variance，bias，scale值，想check下测试时batchnorm的参数。

问题是：
1。第100个iter，输出了这4个量，随即测试，也输出了这4个量。发现不一致。预期是应该一致，因为每个训练iter会更新mean，variance，print输

[2019-09-24 07:41] xiuechen opened #19958 "官网文档和代码不符？"
paddlepaddle.org.cn/documentation/docs/zh/1.5/advanced_usage/deploy/inference/native_infer.html

在这里写道：

PaddleTensor可用于NativePredictor和AnalysisPredictor，在 NativePredictor样例中展示了PaddleTensor的使用方式。 PaddleTensor 定义了预测最基本的输入输出的数据格式，常用字段如下：

name，类型：string，用于指定输入数据对应的模型中variable的名字
shape，类型：vector<int>, 表示一个Tensor的shape
data，类型：PaddleBuf, 数据以连续内存的方式存储在PaddleBuf中，PaddleBuf可以接收外面的数据或者独立malloc内存，详细可以参考头文件

[2019-09-24 08:07] sandyhouse commented on #19957
上面的红框对应的是iter100的输出，下面的对应是test的输出吗？有没有可能是打印的时候还没有作为参数更新？

[2019-09-24 08:18] Dely-Yu commented on #19957
1。能不能联系相关同学，给出一个明确的解答
2。我怎样才能精确的check  和 print 每一步mean variance 的更新过程，然后check下infer 时用的mean，variance 。

[2019-09-24 08:22] Dely-Yu commented on #19957
def ctc_train_net(images, label, mask, args, num_classes,steps):
    regularizer = fluid.regularizer.L2Decay(args.l2)
    T = 25
    #ngram_mask = fluid.layers.data(name="ngram_mask",shape = [T,T])#[b,T,T]
    ngram_label=fluid.layers.data(name="ngram_label",shape=[T,1],dtype = "int64") #[b,T,1]
    src_word_pos=fluid.layers.data(name="src_word_pos",shape=[T,1],dtype = "int64") #[b,T,1]
    word_p

[2019-09-24 08:24] OliverLPH commented on #19955
刚刚验证了下，不是ubuntu的原因，是gcc版本的问题。切换到gcc 4.8.2就不会遇到这个编译的问题了。

[2019-09-24 08:30] sandyhouse commented on #19955
好的，我也给相关同学反馈下这个问题。

[2019-09-24 08:31] sandyhouse commented on #19957
把打印放在最后呢，即minimize之后，我怀疑是在更新梯度前调用了打印，所以输出不一致。或者为了排出这种影响，可以在每次run之后打印对应tensor的值对比一下。

[2019-09-24 09:27] jczaja commented on #19922
@mapingshuo

Regarding,

1. So I will work on PR for that issue?
2. I 'm guessing you are using release build. Try Debug one. When I build paddle with WITH_MKLDNN=OFF and CMAKE_BUILD_TYPE=Debug and demo_trainer also with CMAKE_BUILD_TYPE=Debug then I got segfault at print time of loss var although there is no MKL-DNN used/linked. Try this experiment and let me know the results.
3. I will continue

[2019-09-24 09:27] JepsonWong commented on #19902
这个感觉是gpu没装好或者没识别对。不知道您的gpu和paddle包是不是匹配的？我看您贴的gpu环境是cuda9或cuda10？这两个cuda版本对应的paddle包是不一样的。可以提供一下您准确的cuda和cudnn环境吗？

[2019-09-24 09:30] JepsonWong commented on #19902
目前paddle可能对20系列显卡支持有问题。

[2019-09-24 10:41] wanghaoshuang opened #19968 "Unittest of `cudnnCTCLoss` failed in cuda10"
The unittest of warp-CTC op will fail if [use_cudnn](https://github.com/PaddlePaddle/Paddle/blob/v1.5.2/python/paddle/fluid/tests/unittests/test_warpctc_op.py#L253) was true with cuda10. It seems that the gradients given by [cudnnCTCloss](https://github.com/PaddlePaddle/Paddle/blob/v1.5.2/paddle/fluid/operators/warpctc_cudnn_op.cu.cc#L152) is different between cuda8 and cuda10.

The cudnn kernel o

[2019-09-24 10:47] mapingshuo commented on #19922
2. I build paddle with CMAKE_BUILD_TYPE=debug, and got no bug with demo trainer. Below are comands build paddle and run demo trainer.

build paddle
[code]

run demo trainer:
[code]

[2019-09-24 10:55] OliverLPH commented on #19958
在Paddle/paddle/fluid/inference/api/paddle_api.h中有相关定义
[code]

[2019-09-24 11:01] #19958 closed, assigned to nobody

[2019-09-24 11:59] sandyhouse commented on #19951
可以提供可复现的代码吗？

[2019-09-24 12:11] ceci3 commented on #19799
您好，方便给一份可以直接训练的两个版本的模型吗？我调试一下是不是反向有问题

[2019-09-24 12:27] XDUXK commented on #19898
“把train_d_real传给transpile的program参数”，就是相当于指定此时的main_program就是transpile的program参数代表的program吗？

还有，在我描述的问题2里面，假如trainer_A里面有with fluid.program_guard(pro_1)和with fluid.program_guard(pro_2)两个语句块，那此时我应该传哪个pro给transpile的program参数？

[2019-09-24 12:46] sandyhouse commented on #19898
传递需要和pserver通信的prog，也就是问题2里面的网络N对应的program。

[2019-09-24 13:06] jczaja commented on #19922
@mapingshuo

I have analyzed more closely issue 1 eg. Inconsistency class Tensor among Paddle with MKL-DNN and Paddle without MKL-DNN. So proper fix is that you update CMakeLists.txt of demo_trainer:

 `add_executable(demo_trainer demo_trainer.cc)`

 `if(WITH_MKLDNN)`
`+  add_definitions(-DPADDLE_WITH_MKLDNN)`
`     include_directories("${PADDLE_LIB}/third_party/install/mkldnn/include")`
`   if(WI

[2019-09-24 13:52] LinAurora commented on #19799
您好，下面是两个版本的模型的链接。配置好环境后两个版本直接运行train.py即可。
https://pan.baidu.com/s/1w6i_U8wVagc6NFYn6O37qg

[2019-09-24 13:58] LinAurora commented on #19799
如果运行过程遇到什么bug或问题期待您及时回复。麻烦您了。

[2019-09-24 14:07] mapingshuo commented on #19922
it works for me, Thx.

[2019-09-24 14:18] jczaja commented on #19922
As for other segfaults I reported.

You build Paddle with ON_INFER=ON , this to my understanding does enable optimization that are targeting fast inference and for training we should not use ON_INFER=ON. This Test : demo_trainer is to test training(?).  With ON_INFER=ON all pass for me. If ON_INFER=OFF then There is a segmentation fault. Here is part of output when ON_INFER=OFF , for GLOG_v=10 ./b

[2019-09-24 14:26] luotao1 commented on #19922
For train demo, we should not use `ON_INFER=ON`

[2019-09-24 14:40] XDUXK commented on #19898
那如果prog_1和prog_2都需要和pserver通信呢？

此外，假如另一个trainer B有prog_1和prog_2（这两个prog是和trainer A里的是一样的），但是B还有自己单独的prog_3，此时trainer B的transpile的program参数应该写哪个啊？

有两个方面的问题，辛苦都解答下吧，谢谢

[2019-09-24 14:42] jczaja commented on #19922
Ok,

One more comment, To use PaddlePaddle with MKL-DNN , apart from having it(PaddlePaddle) MKL-DNN build, we need a way to tell paddle to set use_mkldnn ops attribs to true. For C-API (Predictors) this is done with Passes and for python API this is done by exporting FLAGS_use_mkldnn=True . In this situation training from C API, MKL-DNN does not work eg. I do not know how to enable it for demo_tr

[2019-09-24 15:09] jczaja opened #19977 "[MKL-DNN] Enable demo training for MKL-DNN"
currently only predictors can use MKL-DNN as AnalysisConfig provides a way to change use_mkldnn attributes to True. For demo training #19885  that is also C API , there is no way how to set FLAGS_use_mkldnn=True

[2019-09-24 16:24] ceci3 commented on #19957
用一个包含bn的简单的网络测试： 最后一轮更新过后的参数和预测所用的参数是一致的，可以排查使用问题。
<img width="837" alt="屏幕快照 2019-09-25 上午12 21 20" src="https://user-images.githubusercontent.com/29245900/65530596-dfed4480-df2a-11e9-9878-aaa54bc90648.png">

[2019-09-24 16:25] ceci3 commented on #19957
用一个包含bn的简单的网络测试： 最后一轮更新过后的参数和预测所用的参数是一致的，说明op实现没有问题，需要用户排查bn的使用问题。
<img width="837" alt="屏幕快照 2019-09-25 上午12 21 20" src="https://user-images.githubusercontent.com/29245900/65530630-f0052400-df2a-11e9-8bfa-1c564ac3c30d.png">

[2019-09-25 00:35] yinweichong commented on #19938
这是个bug，cos之前的FC不使用激活函数，感谢指出，我们尽快修复。

[2019-09-25 02:04] ResearchingDexter commented on #19832
嗯，好使了谢谢 @NHZlX

[2019-09-25 02:04] seiriosPlus commented on #19898
那如果prog_1和prog_2都需要和pserver通信呢： 是指prog_1和prog_2都和同一个pserver通信？还是分别和各自的ps通信。

如果有多个program的情况，需要用program guard把需要transpile的program包起来。

[2019-09-25 03:02] XDUXK commented on #19898
1. 是指prog_1和prog_2都和同一个pserver通信。
2. 就像1中所述，两个prog都需要和pserver通信，用program guard包起来之后，transpile的program参数应该是哪个prog？

[2019-09-25 03:19] ceci3 commented on #19799
您好，请问下您的cuda版本和cudnn版本是？我看环境里没有写

[2019-09-25 04:34] LinAurora commented on #19799
抱歉疏忽了，TF版本是
cuda 9.0，cudnn7.6.0
paddle版本为方便同时与tensorflow调试我没有使用GPU，在GPU运行的话，与AIstudio平台的相同，cuda版本是9.2.148。

[2019-09-25 05:13] ceci3 commented on #18501
原本issue的需要是希望在测试模式下 可以计算梯度，使用了错误的方式导致出现NaN，可以通过把BN的use_global_stats=True来实现需求。BN的实现暂时没有排查出有问题。

[2019-09-25 05:33] ceci3 commented on #19799
TF 1.13.1是源码编译的吗？我看pip install这种安装方式的话安装tf 1.13.1的是cuda10版本的tf。

[2019-09-25 05:41] LinAurora commented on #19799
没有，我是在windows环境下，用Anaconoda3，使用pip install安装的。tensorflow1.8以及之后的版本应该都可以正常运行。

[2019-09-25 05:50] ceci3 commented on #19799
pip list的话输出的是tensorflow 还是 tensorflow_gpu?

[2019-09-25 05:53] LinAurora commented on #19799
二者都有，都是1.13.1

[2019-09-25 06:05] ceci3 commented on #19799
好的，我测试一下，有结果会尽快反馈的~

[2019-09-25 06:09] LinAurora commented on #19799
非常感谢。

[2019-09-25 06:26] #19551 closed, assigned to nobody

[2019-09-25 07:44] lizhiqings opened #19987 "fluid1.5中fluid.layers.embedding中的is_sparse设置为true 和 false 有啥区别么"
fluid1.5中fluid.layers.embedding中的is_sparse设置为true 和 false时，模型训练完保存模型参数，这两种模式下的 模型参数有啥区别么

[2019-09-25 07:44] wanghaoshuang opened #19988 "Make PaddleSlim support PyReader"

[2019-09-25 07:56] 1145520074 opened #19991 "yolo v3的预测值能输出负值么？"
我看 yolov3的输出限定在了图像范围内，但在我的应用中希望位置预测到图像外，比如检测残缺问题时，希望知道原本图像有多大。该怎么修改？

欢迎您对PaddlePaddle提出建议，非常感谢您对PaddlePaddle的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1
2）CPU/GPU：您是否使用GPU进行训练，如是，请提供您的CUDA和cuDNN版本号
3）系统环境：请您描述系统类型、版本，例如Mac OS 10.14
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

Thank you for contributing to PaddlePaddle.
Before submitting the issue, you coul

[2019-09-25 09:28] heavengate commented on #19991
当前yolov3检测在训练和预测的时候会对超过边界的框都会对检测框进行裁剪，如果要预测输出负值的话需要自己python实现网络最后两个OP，yolo_box和multiclass_nms，然后网络最后不要用这两个OP处理，改用自定义python代码处理

[2019-09-25 09:47] 1145520074 commented on #19991
请问这两个 op 的源码在哪里

[2019-09-25 10:21] wizyoung commented on #18732
折中方案：可以用 one_hot 实现:
[code]
s 是需要的输出的矩阵的 H 或 W

[2019-09-25 10:41] FDInSky commented on #19987
这个是训练时进行稀疏更新，节省了显存，在SGD训练时尤为明显，但对最终结果是没有影响的，跟非稀疏方式一样

[2019-09-25 11:12] wanghaoshuang opened #20003 "[PaddleSlim] QuantizationStrategy failed on paddle develop branch"
量化训练在最新develop分支会出现预测阶段显存暴增，无法支持原最大batch size。

已解决。显存FLAGS没开。
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/flags/memory_cn.html

[2019-09-25 11:21] cassiaaaaaa opened #20006 "cpu下可以正常运行，gpu下报错。"
代码唯一的区别是place = fluid.CPUPlace()改成了place = fluid.CUDAPlace(0)
在执行exe.run(test_program,xxx)的时候，报错：
temporary_buffer::allocate: get_temporary_buffer failed
terminate called after throwing an instance of 'thrust::system::system_error'
  what():  device free failed: unspecified launch failure
Aborted

[2019-09-25 11:23] nizihan commented on #19616
hi . could you please show us your code how to solve the problem

[2019-09-25 11:23] nizihan commented on #19616
hi . could you please show us your code how to solve the problem

[2019-09-25 11:28] nizihan opened #20007 "cudaStreamSynchronize an illegal memory access was encountered errno:77"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供您的PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：预测若用CPU，请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库使用情况
    3）GPU：预测若用GPU，请提供GPU型号、CUDA和CUDNN版本号
    4）系统环境：请您描述系统类型、版本，例如Mac OS 10.14，Python版本
- 训练信息
    1）单机/多机，单卡/多卡

[2019-09-25 11:42] FDInSky commented on #20007
根据记录来看，框架的问题比较少，应该是跟你们换了新的环境有关系

[2019-09-25 11:44] #20003 closed, assigned to nobody

[2019-09-25 14:32] #18732 closed, assigned to nobody

[2019-09-25 14:33] YingjingLu commented on #18610
reshape  可以了

[2019-09-25 14:33] #18610 closed, assigned to wopeizl

[2019-09-25 15:17] lxwzafu opened #20013 "SSD训练模型验证评估阶段mAP值获取错误，单类目标检测问题"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-1.5.2
    2）CPU：Intel Core i7
    3）GPU：AMD  (使用CPU训练）
    4）系统环境：Windows10、VS2017、Python36_64
- 模型信息
    1）模型名称：SSD
    2）使用数据集名称：pascalvoc（2007+2012）
    3）使用算法名称：课程9-深度学习进阶CV-目标检测
    4）模型链接：https://aistudio.baidu.com/aistudio/projectdetail/78972
- 问题描述：
    先对算法中多线程读取训练数据改成单线程获取，因为在windows中多线程会出错。
    然后对针对原始数据集进行训练和验证，一切正常
    修改数据集：在train.txt中筛选出“

[2019-09-26 02:56] #19922 closed, assigned to luotao1

[2019-09-26 03:33] maydaygmail commented on #12108
多卡使用ParallelExecutor训练，遇到一个问题：有三个Program, 其中第三个program的参数有分别与第一个和第二个共享，但是share_vars_from应该只能指定一个，这个问题该怎么解决？

[2019-09-26 03:51] yeyupiaoling opened #20019 "动态图在保存模型的时候出错"
# 环境
 - PaddlePaddle 1.5.2 GPU版本
 - Windows 10
 - Python 3.5

# 问题
在调用这个接口保存模型的时候，就会提示无法保存优化方法
[code]
错误信息：
[code]

官网的例子明明是这样写的：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/dygraph_cn.html#save-persistables

[2019-09-26 03:53] #19957 closed, assigned to ceci3

[2019-09-26 03:53] #19640 closed, assigned to qingqing01, ceci3

[2019-09-26 04:01] Meiyim opened #20020 "PaddlePredictor开启显存优化影响预测结果"
使用的版本的paddle_inference包（nightly-build, 版本信息：
[code]

AnalysisConfig部分代码：
[code]
模型结构已经上传：
[__model__.tar.gz](https://github.com/PaddlePaddle/Paddle/files/3655656/__model__.tar.gz)

[2019-09-26 04:05] phlrain commented on #20019
目前optimizer的save 有问题，我们在修复中，目前 optimizer对于 momentum power这类的信息 没有被正确存储下来，我们在修复中，

对于sgd来说 由于没有momentum power之间的优化器相关信息，也可以怎么用，请忽略warning， adam就不能这么用

[2019-09-26 04:37] OleNet commented on #19893
变量的梯度属于persistable吗？

[2019-09-26 04:40] OleNet commented on #19893
另外一般情况下， save_persistables 是不是和 save_checkpoint 保存的变量范围一样的？

[2019-09-26 04:46] lxastro opened #20021 "argsort GPU预测报错（temporary_buffer::allocate: get_temporary_buffer failed）"
**环境:**
CentOS 6.3
Python 3.6.5
PaddlePaddle 1.5.0 GPU版
GPU：Tesla P40
CUDA: cuda-9.0
**配置：**
[code]

**问题描述：**
模型预测时，使用CPU预测，完全正常。
使用GPU预测，将 place = fluid.CPUPlace(）改为 place = fluid.CUDAPlace(0) 后出现错误：
[code]

**最小复现代码如下：**
[code]
在上述代码中：
将N设置为200以下，基本不会报错。
将N设置为250左右，有一定概率报错。
将N设置为300以上，几乎都会报错。

[2019-09-26 05:16] chengduoZH commented on #19934
@Exception-star  该问题在最的代码中已经修复，你可以现在最新的whl包试试

[2019-09-26 06:12] yeyupiaoling commented on #20019
@phlrain 哦哦，原来是PaddlePaddle的问题，一开始我也是用 MomentumOptimizer ，结果保存，所以我又换成了官网的 SGDOptimizer结果还是不行。我还以为是我的代码问题。

[2019-09-26 06:39] yeyupiaoling commented on #20019
@phlrain  我突然发现，不是保存优化方法有问题而已，而是整个接口都有问题，fluid.dygraph.load_persistables 和 fluid.dygraph.save_persistables 都有问题。

fluid.dygraph.load_persistables 就算文件不存在它也没有报错，而是自己初始化了，而且是随机的。根本就不能够正常执行预测。

[2019-09-26 06:52] yeyupiaoling commented on #20019
@phlrain 如果 fluid.dygraph.load_persistables 返回值只设置一个，并不会保存，而是没有加载模型，自己初始化了。毫无提示。

[2019-09-26 07:04] ceci3 commented on #19991
yolo_box:  https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/detection/yolo_box_op.h
multiclass_nms:https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/detection/multiclass_nms_op.cc

[2019-09-26 08:05] wuyefeilin opened #20028 "dice_loss"
dice_loss的计算，分母这样计算的话为定值等于2*H*W,是否有问题
[code]

[2019-09-26 08:16] LDOUBLEV opened #20030 "layers.mul 计算double grad时报memory_size()的错"
报错环境：
CPU/GPU
paddle 1.5.2

问题复现代码：

[code]

[2019-09-26 08:16] LDOUBLEV commented on #20030
报错截图
![image](https://user-images.githubusercontent.com/26592129/65670971-facdcf00-e078-11e9-8f7b-19a5757e1376.png)

打印的第二次计算的梯度信息
![image](https://user-images.githubusercontent.com/26592129/65671005-0a4d1800-e079-11e9-994e-2398353c3b59.png)

[2019-09-26 08:21] lizhiqings opened #20031 "功能实现"
fluid1.5 是否有这样一个api，就是：

存在某个tensor，如：label = fluid.layers.data(name='label', shape=[1], dtype='float32')，
现在需要生成一个和 label 形状一样的 tensor叫 temp，但是 每个元素满足这样的条件，当label >=1 时候 temp = 2，当label <1 时候 temp = 1， 类似这样的api

[2019-09-26 08:29] ceci3 commented on #20031
可以试下IfElse这个op

[2019-09-26 08:31] lizhiqings commented on #20031
有demo 可以参考么 没用过ifelse 这个api

发件人: lvmengsi <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年9月26日 星期四 下午4:30
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] 功能实现 (#20031)

可以试下IfElse这个op

—
You are receiving this because you authored the thread.
Reply to

[2019-09-26 08:32] phlrain commented on #20019
这个问题我们修复一下

[2019-09-26 08:33] ceci3 commented on #20031
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/control_flow_cn.html#ifelse 可以参考官网的例子

[2019-09-26 08:36] ceci3 commented on #20028
具体问题指的是？2HW里的H和W是？

[2019-09-26 08:37] ceci3 commented on #20021
初步排查可能是Op的gpu版本实现有问题，需要进一步排查Op

[2019-09-26 08:43] lizhiqings opened #20033 "如何拆分embedding 层 解析embedding参数"
我的脚本如下，所有特征共享一个embedding层 叫“SparseFeatFactors”，但是执行fluid.io.save_inference_model后 出现了 多个以SparseFeatFactors前缀的文件，想了解下 除了 SparseFeatFactors外其余文件是啥用？
![ppp](https://user-images.githubusercontent.com/47736115/65672997-944ab000-e07c-11e9-9332-0d72cff36dd8.png)
![ooo](https://user-images.githubusercontent.com/47736115/65673002-97de3700-e07c-11e9-9d3a-98c115e8aa53.png)

另外我想做的是：因为这个embedding参数太大了，加载到线上很占

[2019-09-26 08:50] ceci3 commented on #20033
除了 SparseFeatFactors外其余文件都是优化器里的信息，离线加载还是得构造一个相同的网络 t = fluid.global_scope().find_var(name).get_tensor() 通过这种方式得到这个参数。

[2019-09-26 09:36] xiangyubo commented on #19521
最后不通过 save_inference_model 的方式保存，改为直接保存参数的方式。预测时候重建模型，然后预测，绕过这个问题

[2019-09-26 09:36] #19521 closed, assigned to nobody

[2019-09-26 10:55] ceci3 commented on #20013
可以打印下nmsed_out 的shape是不是空，还有label里还需要有背景类

[2019-09-26 11:22] wuyefeilin commented on #20028
H和W是指输入tensor的宽和高， 可以根据文档的示例跑一下，输出dice_denominator就知道了。

[2019-09-26 11:42] wizyoung commented on #18732
上面那个 one_hot 的写法不支持反传，最后改成用 diag 实现了
[code]
s 是需要的输出的矩阵的 H 或 W

[2019-09-26 11:43] ceci3 commented on #20028
好的，开发这个OP的同学已经在看了

[2019-09-26 11:48] #19988 closed, assigned to nobody

[2019-09-26 12:49] lxwzafu commented on #20013
如何打印shape？背景类是什么？是指训练时需要有不存在目标类的样本吗？

[2019-09-26 13:58] alwaysbetter1314 commented on #19902
这个我也遇到了，在flyai竞赛平台上tesla p40+cuda10+paddle post107报错 。

感觉是paddlepaddle对cuda10库加载的问题: paddle 试图从cuda10安装目录下加载libcublas.so。。却找不到， 实际上只有libcublas.so.10.0 这种带后缀的库文件。

加载libcudnn.so同样报错。

下面是keras+tensorflow1.14加载的库（都带后缀）：
![image](https://user-images.githubusercontent.com/18437170/65694328-42b81a80-e0a8-11e9-9432-d6a04c08647e.png)

[2019-09-26 17:37] lxwzafu commented on #20013
1、我先修改了build_train_program_with_async_reader函数，使之与build_eval_program_with_feeder函数除误差估计、优化算法不一样外，读取数据的形式完全一致。函数如下：
def build_train_program_with_async_reader(main_prog, startup_prog):
    with fluid.program_guard(main_prog, startup_prog):  #该函数应配合使用python的“with”语句来改变全局主程序(main program)和启动程序(startup program)。
        #定义下面四个数据格式，因为create_py_reader_by_data里面需要告诉它这些格式
        img = fluid.layers.data(n

[2019-09-26 17:46] lxwzafu commented on #20013
为了便于比较，我注释掉了reader函数的np.random.shuffle(file_list)语句，目的是为了每次测试用的是同一个样本：
def custom_reader(file_list, data_dir, mode):
    def reader():
        #np.random.shuffle(file_list)
        for line in file_list:
            if mode == 'train' or mode == 'eval':
            ………………
上面两次测试运行的run确实取得是同一个样本，可以通过两次测试的验证阶段的log数据可以看出来。两个log的验证数据是完全一致的。

[2019-09-27 02:18] FDInSky commented on #20013
![image](https://user-images.githubusercontent.com/48318485/65737058-d4a73e00-e10f-11e9-8a6f-2b272f7a3220.png)
![image](https://user-images.githubusercontent.com/48318485/65737070-dec93c80-e10f-11e9-93c8-29be890a7bbf.png)
background_label默认是0，而如果label_list里只有一类，那获得的person类就是0，最后在计算时，相当于没有正样本，报错了；可以修改background_label这个参数，或者修改label_list

[2019-09-27 02:24] lebronjdw commented on #19951
只改了NUM_CLASSES，唯一不同的是用的360万中文数据集

[2019-09-27 02:28] sandyhouse commented on #19951
360万中文数据集是开源的吗，有没有链接可以提供？

[2019-09-27 02:36] tianxin1860 opened #20043 "paddle.fluid.core.EnforceNotMet: Enforce failed. Expected ele_dtype == dtype, but received ele_dtype:5 != dtype:4."
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.0.post107
    2）GPU：P40、CUDA10、Cudnn7.4
    3）系统环境：Python 2.7
- 训练信息
    1）单机8卡
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
本地机器调试多卡没问题，但是上集群跑分布式任务就报如下错误:
![image](https://user-images.githubusercontent.com/6829601/65737914-9c552f00-e112-11e9-87e8-cc1274e78741.png)

[2019-09-27 02:47] lebronjdw commented on #19951
https://pan.baidu.com/s/1dFda6R3?errno=0&errmsg=Auth%20Login%20Sucess&&bduss=&ssnerror=0&traceid=#list/path=%2F

[2019-09-27 02:59] zhaoyuchen2018 commented on #20043
看起来是alloc_continuous_space_for_grad_pass.cc这个PASS在处理的时候出错了，您能提供一下复现代码吗，我让分布式的同学看一下。

[2019-09-27 03:01] ceci3 commented on #20030
已经提了pr修复

[2019-09-27 03:12] lxwzafu commented on #20013
非常感谢！症结应该就在这里。关于metrics.DetectionMAP函数的细节上再请教一下。
（1）若把background_label设成-1，若只有一类，还是会出错，出错原因是否是只存在一类样本而无法分成正类样本和负类样本所以无法计算是吗？（label_list中有两个类就不会出错）
（2）若把background_label设为1（目的是避开只有一类样本时，样本类别为0而被作为背景类），单目标还是会出错，出错原因跟（1）一致，是吗？
（3）若background_label默认为0，在多目标检测中，第一类（就是被标为0的那类）就会作为背景类，因为mAP是每个类的平均精度的平均值，作为背景类从而不参与计算mAP，是吗？也就是说计算存在误差，若只有两类，那误差会比较大是吗？
（4）根据文档说明，若把background_label设成-1，所以类都被考虑，不知是何意思。是否指每个类都

[2019-09-27 03:37] #19896 closed, assigned to baiyfbupt

[2019-09-27 03:38] lxwzafu commented on #20013
还要，若就想检测一个类得怎么办？难道一定得弄个背景类放到label_list中吗？背景类是否需要有实际数据，比如只要识别person，但在label_list中放cat和person，计算所得是否就是person的mAP吗？而在实际样本中可以没有cat，是吗？

[2019-09-27 03:41] gongweibao commented on #20043
请用1.5.2。

[2019-09-27 03:49] ceci3 commented on #19799
`您好，我先取消了神经网络的随机性，又重写了各种层的代码，并使用了相同的参数初始化，实现了输入输入的完全对齐后，进行训练时发现，tf版本可以正常运行，paddle仍旧无法正常训练，只有第一次训练的结果是相同的，` 您好，我直接跑您发过来的两个版本的模型，发现第一轮输出的loss并没有完全对上，不知道是您提供的版本问题还是说还要进行别的改动？是否可以提供第一次结果完全一致的代码？这样调试起来回快一些
<img width="1418" alt="屏幕快照 2019-09-27 上午11 38 57" src="https://user-images.githubusercontent.com/29245900/65740517-9fa0e880-e11b-11e9-9985-87b6eeb81a61.png">
<img width="1018" alt="屏幕快照 2019-09-27 上

[2019-09-27 03:51] LinAurora commented on #19799
好的，我中午回去看一下

[2019-09-27 04:59] LinAurora commented on #19799
您好，我刚又运行了一下，发现二者确实是相同的。
![QQ图片20190927124301](https://user-images.githubusercontent.com/40360249/65742829-6a4cc880-e124-11e9-8e50-53c1a6eb7f22.png)
上图之所以有误差，是因为两个网络每个层最后的输出在小数点5位之后会有精度的不同，多层累加之后会导致误差积累，而且这个G_loss中是由三个loss加起来的，其中两个loss分别乘了放大系数，这导致二者之间的误差扩大到小数点后3位。
而您之所以二者相差较大，可能是因为版本或其他原因？我是在win10，py3.7，tensorflow1.13.1，cuda9.0，cudnn7.6.0，librosa0.7.0，pyworld0.2.8环境下运行的，但其实这已经可以表明训练的收敛问题不是出在网络是否完全对

[2019-09-27 05:39] wanghaoshuang commented on #19968
复现方法：
- 环境：cuda10 + cudnn7 + python2.7/python3
- 将paddle revert到1.5
- 然后解除单测注释：https://github.com/PaddlePaddle/Paddle/blob/v1.5.2/python/paddle/fluid/tests/unittests/test_warpctc_op.py#L244

执行：
[code]

[2019-09-27 05:53] #20030 closed, assigned to ceci3

[2019-09-27 05:55] lebronjdw commented on #19951
压缩包大概10G左右，有结果麻烦告知一下

[2019-09-27 05:57] sandyhouse commented on #19951
有没有其它下载源的数据，没有会员10G下载估计需要好长时间呀！或者有没有可复现的小数据集？

[2019-09-27 05:59] lebronjdw commented on #19951
你们百度的人都没有会员啊，百度网盘有破解版PanDownload，估计半个小时就下完了

[2019-09-27 06:46] bytekongfrombupt opened #20046 "执行代码paddle.fluid.install_check.run_check()报错"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：最新
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：cuda10 cudnn7.6
    4）系统环境：linux
- 安装方式信息：
1）pip安装/docker安装
2）本地编译：请提供cmake命令，编译命令
3）docker编译：请提供docker镜像，编译命令           
  特殊环境请注明：如离线安装等
- 复现信息：如为报错，请给出复现环境、复现步

[2019-09-27 07:01] FDInSky commented on #20013
你就在label_list里第一个位置，放个background就行了

[2019-09-27 07:02] chengduoZH commented on #19883
@moberq 该问题已经修复，您可以用最新的代码试一下。

[2019-09-27 07:19] moberq commented on #19883
已验证在paddle 1.5.2中修复，非常感谢。

[2019-09-27 07:19] #19883 closed, assigned to heavengate

[2019-09-27 07:27] cchan19 commented on #18351
请问你是哪里的问题，是怎么解决的

[2019-09-27 07:29] cchan19 commented on #18351
请问你是怎么解决的

[2019-09-27 07:32] lizhiqings opened #20048 "fluid1.5 如何支持 增量跟新，用前一天的模型初始化模型"
fluid1.5 如何支持 增量跟新，用前一天的模型初始化模型

[2019-09-27 07:42] zhaoyuchen2018 commented on #20046
你是用conda安装的么?
还有其他信息打出来吗，试一试ulimit -c unlimited，然后重新运行程序生成一份coredump传上来我们分析下。

[2019-09-27 07:45] zhaoyuchen2018 commented on #20048
可以先用save_persistable保存下来，下次训练的时候用load_persistable load进去。

[2019-09-27 07:49] lizhiqings commented on #20048
这个和save_inference_model 是不一样的 是么 save_inference_model也是保存模型的

发件人: zhaoyuchen2018 <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年9月27日 星期五 下午3:46
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] fluid1.5 如何支持 增量跟新，用前一天的模型初始化模型 (#20048)

可以先用save_persist

[2019-09-27 08:05] zhaoyuchen2018 commented on #20048
save_inference_model是保存下来预测的，你如果要保存训练过程的参数的话还是用save_persistable吧

[2019-09-27 08:22] lizhiqings commented on #20048
如果用save_persistables  的话， 那这个 load_persistables 操作啥时候执行呢 怎么保证模型加载参数后，不会被初始化参数覆盖了

发件人: zhaoyuchen2018 <notifications@github.com>
答复: PaddlePaddle/Paddle <reply@reply.github.com>
日期: 2019年9月27日 星期五 下午4:06
收件人: PaddlePaddle/Paddle <Paddle@noreply.github.com>
抄送: "Li,Zhiqing" <lizhiqing@baidu.com>, Author <author@noreply.github.com>
主题: Re: [PaddlePaddle/Paddle] fluid1.5 如何支持 增量跟新，用前一天的模型初始化模型 (#2004

[2019-09-27 08:34] jerrywgz opened #20052 "matmul mkl中infer shape bug"
使用paddle cpu-mkl版本 https://paddle-wheel.bj.bcebos.com/latest-cpu-mkl/paddlepaddle-latest-cp27-cp27mu-linux_x86_64.whl
最小复现脚本：
![image](https://user-images.githubusercontent.com/22989727/65754788-6335b280-e144-11e9-94c3-e4408751c7f9.png)
报错：
![image](https://user-images.githubusercontent.com/22989727/65754830-76488280-e144-11e9-94fc-f0c6955c9a86.png)
原因是在mkl环境下https://github.com/PaddlePaddle/Paddle

[2019-09-27 08:35] ddokupil opened #20053 "Feature model inference test fails with mkl-dnn"
**System information**
-PaddlePaddle version 1.5
-CPU: CLX/MKLDNN version 0.18, 0.19 and 0.20
-OS Platform Ubuntu 16.04
-Python version 2.7.12
-Cmake orders -DCMAKE_BUILD_TYPE=Release -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DWITH_TESTING=ON -DWITH_PROFILER=ON -DWITH_STYLE_CHECK=OFF -DON_INFER=ON -DWITH_INFERENCE_API_TEST=ON
**To Reproduce**
./paddle/fluid/inference/tests/api/test_analyzer_image_classific

[2019-09-27 08:38] jczaja commented on #20053
Thanks for reporting this problem. I got reproduction on BDW (AVX2 platform). I will investigate that one

[2019-09-27 09:13] bytekongfrombupt commented on #20046
@zhaoyuchen2018  我是用的pip install paddlepaddle-gpu，没有其他的输出，只有一行segmentation fault，然后我刚才下载了pip install paddlehub，import paddlehub之后paddlehub.model(name='ernie')提示没有这个模型

[2019-09-27 09:13] bytekongfrombupt commented on #20046
我是不是得重新卸载了安装……

[2019-09-27 09:18] zhaoyuchen2018 commented on #20046
我看你的python是Anaconda的，你能不能尝试下不要用conda的python，然后再重新安装一下。

[2019-09-27 12:19] zhaoyuchen2018 commented on #20048
你在初始化你的变量后再load_persistables就可以了

[2019-09-27 12:39] lxwzafu commented on #20013
那这个函数不是设计的有点莫名其妙吗，还非得让用户在label_list里面的第一行放一个“垃圾类”background

[2019-09-27 15:37] jczaja commented on #20053
Status: Problem seems to be related to FC MKLDNN.

Workaround:
   Add to commandline: `--disable_fc_mkldnn=true`

[2019-09-27 20:45] sndnyang commented on #19547
@luotao1

[2019-09-28 02:34] bytekongfrombupt commented on #20046
@zhaoyuchen2018 emm 可是我用conda创建的虚拟环境，然后不用自带的python是不是会有点复杂

[2019-09-28 08:58] littlepan0413 opened #20066 "创建多个 name不同的pyreader时报错"
描述：修改了ernie模型，模型中finetune和预测接口都有，在test中先finetune，再predict，两个接口单独测试过没有问题，但是放在同一个文件夹中运行报错，主要是 pyreader创建的问题，
finetune中的两个pyreader
![image](https://user-images.githubusercontent.com/6512760/65814166-eae8f300-e210-11e9-9c8c-8128ec3f1282.png)
预测使用的pyreader（报错）
![image](https://user-images.githubusercontent.com/6512760/65814178-00f6b380-e211-11e9-9395-d6f39ee83bad.png)

查阅 issue，https://github.com/Paddl

[2019-09-28 09:47] housesale1 opened #20067 "ai studio上运行正常，本地环境运行报错"
- 标题：ai studio上运行正常，本地环境运行报错
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2
    2）CPU：CPU
    4）Python版本：3.5.3
- 复现信息：将ai studio行运行无误的代码(公开链接：https://aistudio.baidu.com/aistudio/projectdetail/96351)，迁移到本地环境。在预测过程中报错。
报错信息如下：
Traceback (most recent call last):
  File "C:/Users/user/Desktop/code/project/06_text_classification/text_classification.py", line 288, in <module>
    fetch_list=fetch_targets)
  File

[2019-09-28 10:12] liupluswei commented on #20066
从报错上来看比较怀疑还是pyreader_name的原因，可以在paddle源码里面加一行log看看：
1. 通过python -c "import paddle; print(paddle.__file__)" 确认一下paddle的安装路径
2. 在安装路径下面找到${paddle_install_path}\fluid\layers\io.py
3. 在这行代码下面print 一下queue_name: https://github.com/PaddlePaddle/Paddle/blob/c92348c3b927912ba06ba291a0790af1a542dabf/python/paddle/fluid/layers/io.py#L409

如果是一样说明是你的代码可能有些问题，需要你自己排查一下
如果不一样则说明可能是我们的bug，建议你保留一下你的代码，明天上班可以发给我让

[2019-09-29 01:58] zhaoyuchen2018 commented on #20046
其实也不复杂了，如果你本机有安装python的话换一下python的环境变量就可以了。
或者你可以试试conda安装，参考下面的文档:
https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/install/index_cn.html#conda

[2019-09-29 04:13] liupluswei commented on #20067
AI Studio应该是默认运行在Linux上的，但我看你的代码是跑在windows上出的错，目前Linux和Windows可能在有些小的地方会有些区别，我尝试一下是否能复现你这个问题

[2019-09-29 05:07] JiaXiao243 opened #20080 "paddle=develop,编译报错"
今天从github上下载的develop的paddle源代码，在编译过程中报错信息如下所示：
![image](https://user-images.githubusercontent.com/37854899/65826559-ecbac100-e2b9-11e9-8d7e-2bc9d50995ca.png)

[2019-09-29 05:16] luotao1 commented on #20080
fix by #20076

[2019-09-29 05:22] dashulu opened #20081 "训练时program desc中有fill constant op, 但是实际执行过程中，fill constant op没有被执行到。"
如下配置模型，
![image](https://user-images.githubusercontent.com/4484303/65826671-dada1d80-e2bb-11e9-83be-8f1aed67d119.png)
使用parallel executor进行训练，打印出main program desc，包含了fill_constant_op, 但是在fill_constant_op中加入printf语句，发现没有相应的print输出，即fill_constant_op没有被执行到，请问这个是什么原因？
![image](https://user-images.githubusercontent.com/4484303/65826697-25f43080-e2bc-11e9-93c6-f6eba2563887.png)

[2019-09-29 05:32] liupluswei commented on #20067
你好，我把你的代码移植到了windows本地试了一下，并没有复现你的问题：
 https://pan.baidu.com/s/1BKa6LkbGCdpfc9l8jpsSOA 提取码: rwmc
![image](https://user-images.githubusercontent.com/46661762/65826793-7fa92a80-e2bd-11e9-9f56-e6b33560dcef.png)

我用的Paddle版本是paddlepaddle-gpu  1.5.2.post107

[2019-09-29 06:29] lxwzafu opened #20084 "GPU训练显存分配失败问题"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle-1.5.2
    2）GPU：训练用GPU型号： GeForce GTX 1080 Ti，驱动版本25.21.14.1896    这样的GPU共2块
    3）CUDA 10.0.130_411.31， CUDNN 10.0 v7.5.0.56
    4）系统环境：Windows10 64位、VS2017、Python36_64
- 训练信息
    1）单机，多卡 （但是目前训练好像只用到了一张卡）
    2）显存信息：每张显卡：专用GPU内存 11GB GDDR5X，共享GPU内存 31.8GB，GPU内存 42.8GB
    3）SSD模型训练，链接：https://aistudio.baidu.com/aistudio/projectdetail/78972
在控制台显示以下信息：

[2019-09-29 06:29] Exception-star commented on #19934
我更新了版本，没有修改代码，可以跑通，但是跑了5个epoch,程序没有输出任何信息，没有报错，卡在某个地方了。进程还在，GPU使用率是0，数据读取用的pyreader。
<img width="543" alt="图片" src="https://user-images.githubusercontent.com/53971568/65827675-6310f080-e2c5-11e9-8d30-801d5634d78e.png">
<img width="490" alt="图片" src="https://user-images.githubusercontent.com/53971568/65827680-6b692b80-e2c5-11e9-9c64-df7b39e83d45.png">
就卡在这了， 重新执行也是会出现，在第7个epoch挂了

[2019-09-29 06:31] #20080 closed, assigned to liupluswei

[2019-09-29 06:35] Dely-Yu opened #20085 "paddle.fluid.core_avx.EnforceNotMet: internal error at [/paddle/paddle/fluid/platform/nccl_helper.h:113]"
代码在本地运行不报错，在集群上运行报错，是什么环境问题引起这种错误？我做了一个对比实验，当训练数据少的时候，不报错。 当加大内存量时，不报错。
这种错误和硬盘空间相关还是和内存相关呢？
![image-20190929110528-tsb7c2](https://user-images.githubusercontent.com/29305857/65827762-4e812800-e2c6-11e9-9149-766c18373757.png)

[2019-09-29 06:37] Exception-star opened #20086 "训练网络跑了5个epoch, 然后程序挂了，进程还在，GPU使用率是0"
问题描述：训练网络跑了5个或者6个epoch，程序卡住了，没有输出任何信息，没有报错，进程还在，GPU使用率是0，数据读取用的pyreader。
<img width="543" alt="图片" src="https://user-images.githubusercontent.com/53971568/65827775-68226f80-e2c6-11e9-862f-52502745fc80.png">

<img width="490" alt="图片" src="https://user-images.githubusercontent.com/53971568/65827773-62c52500-e2c6-11e9-8cf4-3cc5a46ab81b.png">
卡在了这里，Ctrl C 都没有用，只能杀进程。

代码片段：
[code]

[2019-09-29 06:38] JiaXiao243 opened #20087 "paddle报CUDNN_STATUS_NOT_SUPPORTED"
paddle=develop/1.5
CUDA9,cudnn7.4，
上运行python eval.py --model=EfficientNetB6 --pretrained_model=pretrained/EfficientNetB6_pretrained --crop_size=528 --resize_short_size=560  --interpolation 2，会报CUDNN_STATUS_NOT_SUPPORTED
![image](https://user-images.githubusercontent.com/37854899/65827687-7459fd00-e2c5-11e9-8068-638dd6a8b33a.png)
![image](https://user-images.githubusercontent.com/37854899/65827693-

[2019-09-29 06:48] Exception-star commented on #20084
只有11G，用了8.7G，可用6M，无法分配45M

[2019-09-29 07:03] lxwzafu commented on #20084
意思是，这块GPU配置过低，出现这种情况是正常的是吗？机器没有在运行其他程序，GPU基本上就是这个程序在用。
还有，程序会无规律的出现死机状态，就是程序不使用CPU和GPU了，内存和显存不进行数据交换（数值不发生变化）但是保持原占用状态。这种情况碰到了2次，一次发生在重复训练了3轮后的某一阶段，另一次发生在第二次重复训练的某一阶段。但是扔在那里不管他，又会莫名其妙继续，然后又可能卡在那里（第二次就是这样）。但是我最长重复训练了34轮也没碰到这种情况。不知是怎么回事？以下是在训练过程中控制台打印的内容：
start ssd, train params: {'input_size': [3, 300, 300], 'class_dim': 2, 'label_dict': {'background': 0, 'person': 1}, 'image_count': 7104, 'log_fee

[2019-09-29 07:10] Exception-star commented on #20084
我和你遇到了同样的问题，能跑一部分epoch,然后程序挂了，
<img width="543" alt="图片" src="https://user-images.githubusercontent.com/53971568/65828222-0e707400-e2cb-11e9-9f74-e979daff2d6b.png">就像这样，我不清楚问什么只能执行一些epoch，规避的方法是在原来的基础上调低batchsize的大小

[2019-09-29 07:13] xjqbest commented on #20081
第二个截图这个fill constant是用于反向梯度的，你看有个GRAD。是minimize时候自动添加的。跑的是相应的op的反向，不是前向，你可能是在前向里加的。

[2019-09-29 07:21] qingqing01 commented on #19934
@Exception-star 请问现在的问题是会卡住吗？ 在reader里，会出现某个iter的时候，某个卡上为空不？

[2019-09-29 07:28] dashulu commented on #20081
@xjqbest fill_constant op只有一个前向。后面发现没有跑fill_constant_op，而是执行了scale_loss_grad_op_handle, 请问这个是基于什么考虑。

[2019-09-29 07:35] Yiwei98 opened #20089 "单机多卡训练时报有关LD_LIBRARY_PATH的错"
尝试进行单机多卡训练时，有报错如下：
![image](https://user-images.githubusercontent.com/44400334/65828553-a2900a80-e2ce-11e9-8278-ca199129dd20.png)
代码片段如下：
![image](https://user-images.githubusercontent.com/44400334/65828558-b3d91700-e2ce-11e9-96e8-0a3c184a5bb6.png)
![image](https://user-images.githubusercontent.com/44400334/65828569-cbb09b00-e2ce-11e9-822a-0e1c66df08f2.png)

[2019-09-29 07:43] chengduoZH commented on #20081
@dashulu 你非常细心！
ParallelExecutor里面会将这个fill_constant_op换成scale_loss_grad_op_handle，而这个loss_grad的系数（也就是scale值）与设备数有关，如果是单卡，loss_grad即为1，如果N卡，loss_grad即为1/N。

[2019-09-29 07:49] ceci3 commented on #19799
因为按照您之前的意思，第一个epoch是可以对上的，第二个epoch是对不上的。现在是要对齐反向，查找是否是反向计算的问题，所以如果输出没有对齐的话，不太好排查反向计算是否有问题。

[2019-09-29 08:22] dashulu commented on #20081
@chengduoZH 为什么这么去做？

[2019-09-29 08:54] LinAurora commented on #19799
额，非常抱歉。。。我刚看了下，发现您之所以得到的结果和我不同，是因为我把在对模型打包时把输入数据弄错了。。我刚修改了一下，下面是模型地址。
https://pan.baidu.com/s/1mCihi9g6UTfo63EGsAoqXg
另外，
![图片](https://user-images.githubusercontent.com/40360249/65829479-b80a3200-e2d8-11e9-8475-e1752820fa9c.png)
这是用以上模型中生成函数只保留一个卷积层的输出结果，他们的参数初始化完全相同，
![图片](https://user-images.githubusercontent.com/40360249/65829614-d58bcb80-e2d9-11e9-9d6e-15f7665fe35a.png)

但他们的输出却始终在小数最后几位有所不同

[2019-09-29 09:18] LinAurora commented on #19799
额，非常抱歉。。。我刚看了下，发现您之所以得到的结果和我不同，是因为我把在对模型打包时把输入数据弄错了。。我刚修改了一下，下面是模型地址。
https://pan.baidu.com/s/1oQ_jv8u4cE_WTBtjnCNQDw
另外，
![图片](https://user-images.githubusercontent.com/40360249/65829479-b80a3200-e2d8-11e9-8475-e1752820fa9c.png)
这是用以上模型中生成函数只保留一个卷积层的输出结果，他们的参数初始化，输入的数据完全相同，
![图片](https://user-images.githubusercontent.com/40360249/65829614-d58bcb80-e2d9-11e9-9d6e-15f7665fe35a.png)
但他们的输出却始终在小数最后几位

[2019-09-29 09:19] LinAurora commented on #19799
这似乎是没有办法彻底对齐？

[2019-09-29 09:22] ceci3 commented on #19799
好的，我先看下吧，这应该不至于影响收敛。

[2019-09-29 09:23] LinAurora commented on #19799
好的麻烦您了

[2019-09-29 09:25] bytekongfrombupt opened #20097 "运行ERNIE demo报错segmentation fault"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac编译错误”
- 版本、环境信息：
    1）PaddlePaddle版本：最新
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：CUDA10.0 CUDNN7.3
    4）系统环境：Linux
- 安装方式信息：
conda install paddlepaddle-gpu cudatoolkit=10.0
![image](https://user-images.githubusercontent.com/33115565/65829994-

[2019-09-29 09:29] bytekongfrombupt commented on #20046
@zhaoyuchen2018 emmm但是我就是为了方便管理python版本才用的conda，所以我没有在本机安装python，然后我重新conda新建了一个虚拟环境，conda install之后，依然是报错，paddlepaddle部分demo是能运行的，但是刚刚想跑一下ernie的demo，依然提示这个错误

[2019-09-29 09:34] dpwu1994 opened #20098 "基于paddlepaddle的翻译模型是否支持预测阶段自定义解码"
如题，在paddle v2 版本是尝试过这种做法，但是由于beam_search 无法自定义所以导致预测阶段每次都需要从头开始预测，耗时缓慢，不知道目前的paddlepaddle 版本是否支持自定义解码？

[2019-09-29 09:41] dpwu1994 commented on #20098
https://github.com/PaddlePaddle/models/issues/417 v2版本时提的issue

[2019-09-29 10:39] Exception-star commented on #19934
[code]
我用的这个drop_last=True，应该不会出现某个卡是空的情况，如果出现了也不会等到第5个epoch中断吧？
我现在遇到的问题是：训练网络时程序会无规律的出现死机状态，就是程序不使用CPU和GPU了，但是保持原占用状态（比如显卡占用10G，但是利用率为0，没有其他程序抢资源）。这种情况碰到了好多次，一次发生在重复训练了5轮后的某一阶段，另一次发生在第7次重复训练的某一阶段，还有一次是在第一个epoch，这些情况都出现在epoch的最后一个step。

[2019-09-29 10:57] ResearchingDexter opened #20104 "PyReader 初始化报错"
  1）PaddlePaddle版本：1.5.2
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA10.0和CUDNN7.4
    4）系统环境：centos6.3，Python3.6
  
[code]
报错信息
[code]

[2019-09-29 11:46] Exception-star commented on #19934
改小batch_size也会出现，没有规律出现

[2019-09-29 12:07] guoshengCS commented on #20098
beam_search策略的话在Paddle Fluid中是可以自行实现的，可以参考这里 https://github.com/PaddlePaddle/models/blob/develop/PaddleNLP/unarchived/neural_machine_translation/rnn_search/attention_model.py#L168 。

[2019-09-29 12:09] guoshengCS commented on #20098
另外目前在做seq2seq api相关的内容，后续beam search策略也可以通过覆盖这里实现 https://github.com/PaddlePaddle/Paddle/pull/19820/files#diff-5ca5a49fa713f2f986b0ba26b778b36aR434

[2019-09-29 12:17] sneaxiy commented on #20104
你好，能否在这一行`print(shape_concat)`发出来看看？
[code]

[2019-09-29 12:39] dpwu1994 commented on #20098
看到给的case是经典的NMT model， 不知道transformer 版本的是否也支持？例外咨询下经典的NMT model的beam_size 设置为100 的时候一个query的大概耗时是多少呢？ 如果transformer 版本如果支持beamsearch的话耗时大概是多少？

[2019-09-30 01:24] housesale1 commented on #20067
我的本地环境，训练也是没问题的，预测阶段报错的。您那边预测阶段有报错么

[2019-09-30 02:09] ResearchingDexter commented on #20104
打印出来是这样的
[code]

[2019-09-30 02:13] xuzhm opened #20120 "cuda 9.2 在Driver Version: 418.39 上出现某个卡 cudaGetDeviceCount 失败"
分支编译的模型并行，依赖cuda9.2的 paddle ，在k40卡 Driver Version: 396.26  上跑完全正常，放到 v100   Driver Version: 418.39 上会出现 cudaGetDeviceCount  失败，有时是1号卡出现，有是3号卡出现，但是4张卡环境变量完全一致。单独查看4张卡都正常。

[2019-09-30 02:53] wangchaochaohu opened #20123 "关于PaddlePaddle OP 的tensor list作为输入的问题。"
修改reduce_sum类型检查的[PR20063](https://github.com/PaddlePaddle/Paddle/pull/20063)的时候发现之前的版本中input是list作为输入是正确的。
自己写了如下测试代码 结果正确
[code]
运行结果如下：

[code]

但是list长度为2的时候就会出现错误 错误来源是python 端的
[code]
报错信息如下：
[code]

相同的道理 我们测试了其他一些OP
[code]
结果如下
[code]

同理我们如果将 tensor_array的长度设置为2 我们还是会出现类似reduce 的报错信息

结论：
目前PaddlePaddle的OP如果python 端没有做一些类型检查或者python端没有使用关于Variable属性或者一些函数，**从python 端传入的长度为1 的list (类型为Tens

[2019-09-30 03:00] zhaoyuchen2018 commented on #20046
所以现在是paddle安装成功了，也可以运行，但是ernie的demo没办法运行，对吧

[2019-09-30 03:12] wangchaochaohu opened #20125 "Fill constant OP的写法重构"
目前我们可以看到在OP注册的时候我们的 fill_constant是支持如下类型的
![image](https://user-images.githubusercontent.com/13411999/65847169-00762e00-e373-11e9-8553-db6c3a251ccc.png)

但是实现的时候发现任何类型都是可以的，因为我们创建的类型是根据data_type
![image](https://user-images.githubusercontent.com/13411999/65847200-24397400-e373-11e9-9e61-cd41fddf9af8.png)

具体这种写法是否会引起一些bug 还有待调查中

关于这个写法还会有一个很奇怪的现象
我们知道这个函数的API是如下所示 当我们传入的dtype类型和out类型不一致会发生什么现象？
p

[2019-09-30 03:21] #20043 closed, assigned to zhaoyuchen2018

[2019-09-30 03:22] #20048 closed, assigned to zhaoyuchen2018

[2019-09-30 03:22] liupluswei commented on #20066
已和用户沟通，是用户代码有误导致接口被调用两次导致

[2019-09-30 03:22] #20066 closed, assigned to liupluswei

[2019-09-30 03:25] sneaxiy commented on #20123
这个错误的原因是`LayerHelper.append_op`的时候兼容`inputs`和`outputs`是这4种类型：
- Variable
- Variable name
- List of Variable
- List of Variable name

当时这么设计`LayerHelper`应该是为了兼容`inputs={'X': [x]}`和`inputs={'X': x}`这两种写法。因为C++底层inputs的数据结构就是`std::vector<std::string>`。

但这条规则对attribute是不适用的，所以attribute里面写list是不可行的。

[2019-09-30 03:31] luotao1 commented on #20123
1. reduce_sum文档明确不支持list，代码对输入做类型检查 @wangchaochaohu
2. ifelse文档要修改，返回的是list；单测代码要改，明确使用output[0]的形式 @NHZlX
3. TODO： 明确list或者variable，不留list长度为1这种中间地带 @luotao1 @lanxianghit
https://github.com/PaddlePaddle/Paddle/blob/5e99f31b7ef50e29251e87f164b328eed81f1a7c/python/paddle/fluid/framework.py#L1437-L1441

[2019-09-30 03:49] liupluswei commented on #20067
可以把预测代码里面的两行改成这样：
data.append(data1)
data.append(data2)

data.append(np.array(data1).astype(np.int64))
data.append(np.array(data2).astype(np.int64))

[2019-09-30 03:51] luotao1 commented on #20125
总结下问题：
1. fill_constant op在注册时只支持float16,float32,float64,int32,int64。但实现的时候任意dtype都可以。具体这种任意dtype是否会引起一些bug，还有待调查中
2. `paddle.fluid.layers.fill_constant(shape, dtype, value, force_cpu=False, out=None)`，dtype和out类型不一样，现在以out类型为准。但可以在#20075 中检查出来。

[2019-09-30 05:19] sneaxiy commented on #20104
应该是因为数据shape太大了，目前PyReader不支持这么大的shape：1128666204000000000

[2019-09-30 05:54] ResearchingDexter commented on #20104
嗯，好吧

[2019-09-30 06:08] chengduoZH commented on #20120
看样子好像是机器的问题，你用下面的代码验证一下：
[code]
使用nvcc编译。

[2019-09-30 06:23] yma-admin commented on #19669
能否贴一下这页文档的链接？

[2019-09-30 06:35] seiriosPlus commented on #19669
可以参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/install/compile/compile_Ubuntu.html
里面写明了 build相关的选项，及build命令

[2019-09-30 06:56] qingqing01 commented on #19934
[code]

上面这个代码是保证epoc最后一个iter的数据不足一个batch的扔掉。 这个无法保证，每个卡都分到一个batch的数据。 需要确保的是，每个卡每轮都能拿到数据。 你现在是每个epoc的最后一个iter时hang住吗？如果是这种情况，大概率是某个卡上没数据。

[2019-09-30 07:17] AIpioneer commented on #17989
Thanks for your feedback. Now we are reconstructing save/load APIs and it will be released soon.

[2019-09-30 07:22] hutuxian commented on #17553
已经私下沟通过，为用户提供了支持。暂时关闭了

[2019-09-30 07:22] #17553 closed, assigned to hutuxian

[2019-09-30 07:24] #19217 closed, assigned to hutuxian

[2019-09-30 07:24] #19212 closed, assigned to hutuxian

[2019-09-30 07:25] hutuxian commented on #19204
私下沟通解决，暂时关闭。

[2019-09-30 07:25] #19204 closed, assigned to hutuxian

[2019-09-30 07:25] #18534 closed, assigned to hutuxian

[2019-09-30 07:25] #19196 closed, assigned to hutuxian

[2019-09-30 07:29] wangchaochaohu commented on #20125
我们的代码中python/paddle/fluid/contrib/decoder/beam_search_decoder.py下有如下语句
![image](https://user-images.githubusercontent.com/13411999/65857414-64f6b480-e396-11e9-80cd-80c86dc45826.png)
之前的单测python/paddle/fluid/tests/test_beam_search_decoder.py跑这个是能通过的

但是自己测试了一下bool类型报错
[code]
![image](https://user-images.githubusercontent.com/13411999/65857749-0a118d00-e397-11e9-8e59-b2cee5c71d86.png)

[2019-09-30 07:35] AIpioneer commented on #16749
It's OK now, and this issue is closed.

[2019-09-30 07:35] #16749 closed, assigned to shanyi15

[2019-09-30 07:39] AIpioneer commented on #18163
This issue is closed due to internal processing.

[2019-09-30 07:39] #18163 closed, assigned to nobody

[2019-09-30 07:43] AIpioneer commented on #18726
This issue is closed due to internal processing.

[2019-09-30 07:43] #18726 closed, assigned to nobody

[2019-09-30 07:55] wangchaochaohu commented on #20125
首先我们目前的fill_constant 是不支持bool类型的 我刚在https://github.com/PaddlePaddle/Paddle/issues/20125#issuecomment-536438973    里贴了代码  这个代码运行会有错  但是奇怪的是我们以前有的单测里面最后调用 这个fill_constant bool类型没有出错（后续排查应该是OP没有进行compute这个bool的OP并没有进行compute）

然后我修改类型检查的时候遇到了这个调用了fill_constant 的单测的阻挡  我想限制fill_constant 的使用类型但是这个单测使用了bool 类型的fill_constant 所以我CI过不了 应该怎么解决(添加bool类型支持解决）

[2019-09-30 07:56] kuke commented on #17676
Closed because it is fixed in release 1.5

[2019-09-30 08:04] AIpioneer commented on #16170
This issue is closed because it is fixed.

[2019-09-30 08:04] #16170 closed, assigned to kuke, JiabinYang

[2019-09-30 08:07] #19803 closed, assigned to wangguibao, DDDivano, phlrain

[2019-09-30 08:07] #19469 closed, assigned to wangguibao

[2019-09-30 08:16] wangguibao commented on #18992
Hi，该issue已经快2个月了，我先关闭了。如有问题可以重新打开，或在PaddleHub repo下提新issue

[2019-09-30 08:16] #18992 closed, assigned to wangguibao

[2019-09-30 09:49] Exception-star commented on #19934
那如何解决这个问题？删除一部分数据？还是修改reader？我不使用syncBN没有遇到过这个问题。我现在没有用syncBN

[2019-09-30 10:19] Exception-star commented on #19934
以下是reader_generator
[code]

[code]

[2019-10-01 08:44] jczaja opened #20144 "[MKL-DNN] Add support for fusing FC + activation"
Fully connected of MKL-DNN (inner prod) does support (mkl-dnn 1.0) post operations eg. FC can execute activation as part of FC. This can beenfit some models like: Feature (FC followed by Tanh )
or googlenet.

This issue is to track work on this

[2019-10-01 09:36] jczaja opened #20145 "[MKL-DNN] FC does not support multiple input Tensors use case"
According to doc:
https://www.paddlepaddle.org.cn/documentation/docs/en/1.4/api/layers.html#fc

Multiple input use case is supported
" If multiple input tensors are given, the results of multiple output tensors with shape [M, size] will be summed up"

This is not implemented in mkl-dnn fc op. This issue is to track progress on adding this functionality

[2019-10-03 02:26] ziyuli opened #20152 "多卡训练中关闭batch drop_last无效"
- 版本、环境信息
   1）PaddlePaddle版本：1.5.2
    2）CPU：N/A
    3）GPU：8 x TitanX (pascal) CUDA 9.2.88, CUDNN 7.1.4
    4）系统环境：Ubuntu 18.04.2 Python 3.6.7
- 训练信息
    1）单机，多卡
    2）显存信息： 每张卡12GB

使用PaddleCV中的resnet50在单机8卡上训练[图形分类](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification) ，并尝试将batch drop_last关闭。更改代码如下 `train_reader = paddle.batch(train_reader, batch_size=int(args.batch

[2019-10-03 05:16] lxwzafu opened #20153 "目标检测mAP低的问题"
版本、环境信息：
   1）PaddlePaddle版本：paddlepaddle-1.5.2
   2）CPU：Intel Core i7
   3）GPU：AMD (使用CPU训练）
   4）系统环境：Windows10、VS2017、Python36_64
模型信息
   1）模型名称：SSD
2）使用数据集名称：pascalvoc（2007+2012）
3）使用算法名称：课程9-深度学习进阶CV-目标检测
4）模型链接：https://aistudio.baidu.com/aistudio/projectdetail/78972
问题描述：
我在项目自带的pascalvoc数据集中筛选出cat类进行目标检测训练，train.txt中包含1321张图片，eval.txt中包含418张图片，用于验证。label_list中含‘background’和‘cat’类，因为是单目标检测，若

[2019-10-03 19:42] MRXLT commented on #20152
你好，可以尝试用paddle.fluid.layer.batch代替paddle.batch

[2019-10-03 20:07] ziyuli commented on #20152
使用fluid.layers.batch后报错。错误信息如下：
Traceback (most recent call last):
 File "../train.py", line 318, in <module>
   main()
 File "../train.py", line 313, in main
   train(args)
 File "../train.py", line 206, in train
   batch_size=int(args.batch_size / fluid.core.get_cuda_device_count()))
 File "/usr/local/lib/python3.7/site-packages/paddle/fluid/layers/io.py", line 1063, in batch
   'create_batch_re

[2019-10-05 12:46] bit-pku-zdf opened #20168 "孔明集群demo多机使用paddle1.5.2运行失败"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题，例如“Insufficient Memory xxx" ”
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2
    3）GPU：孔明集群
    1）多机多卡

使用孔明集群的demo http://wiki.baidu.com/display/HICHAC/paddle+fluid+nccl2+demo,
wget -e "http_proxy=cp01-sys-hic-gpu-02.cp01:8888" http://cp01-sys-hic-gpu-02.cp01/HGCP_DEMO/flui

[2019-10-05 13:51] MRXLT commented on #20152
可以贴一下相关的代码吗

[2019-10-06 00:09] ziyuli commented on #20152
创建[reader](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/reader.py)的代码与官方提供图形分类的代码一样。
training的部分关键代码如下
[code]

[2019-10-06 02:44] xueeinstein opened #20169 "Training in multiprocessing.Process falied to run startup program when using GPU"
I build a complicate reinforcement learning model in Paddle, with parallel training **two different**  models simultaneously. And one needs to sync the latest weights of another one to generate some target values for training. I implement the second model in `multiprocess.Process`.

However, the **fresh** forked (no other Paddle program created when fork new process) process failed to run the star

[2019-10-06 07:37] ResearchingDexter commented on #18885
我也是报一样的错误，不过我是单卡1060，然后尝试了这种方法，并不管用啊

[2019-10-07 03:21] Jie-Fang commented on #19968
I tried to reproduce this bug, and the test successed.
My env:
CUDA10 + cudnn7.2 + python3

Steps:
1. checkout to release/1.5 branch
2. compile
3. add built paddle to PYTHONPATH
4. python3 test_warpctc_op.py

The unittest ran 6 tests.
[code]

Which 7.x cudnn version do you use?

[2019-10-07 08:06] jczaja commented on #20053
Root caused was found: FC does support activation operation (currently only relu) and this activation attributure is ignored by FC MKL-DNN. @Sand3r- Is working on FC MKL-DNN INT8 along those changes
there will be support for FC with activations.

[2019-10-07 08:40] jczaja commented on #19398
Implemented in #20161

[2019-10-07 08:40] #19398 closed, assigned to nobody

[2019-10-07 12:44] jczaja opened #20173 "[MKL-DNN] Enable GELU activation from mkl-dnn 1.0 and test BERT against it"
MKL-DNN 1.0 comes with set of new activations (Swish and GELU). BERT it using GELU so goal of this issue is to add GELU support  to MKL-DNN activation and test BERT performance & accuracy of it

[2019-10-08 03:04] mensaochun opened #20188 "热启动训练进程不能恢复"
**问题：**
在使用分布式arcface loss(paddle.fluid.layers.dist_algo._distributed_arcface_classify)训练的时候，出现了热启动不能恢复训练状态的问题。具体细节如下：
**环境：**
paddle版本：git commit id：0d9538064d9f7bbe006692267db8a2691b760bad
通过fluid.io.save_persistables保存模型之前的loss：
![image](https://user-images.githubusercontent.com/20737237/66363772-f333f180-e9b9-11e9-9594-ef48d52881db.png)
继续运行的loss：
![image](https://user-images.githubusercontent

[2019-10-08 03:27] sandyhouse commented on #20152
方便贴一下完整的训练代码吗？确认reader没有丢弃部分数据？ 另外你batch size是怎么设置的？
多卡或者多机分布式训练的话推荐使用多进程模式和Fleet API，https://github.com/PaddlePaddle/Fleet/tree/develop/examples 包含一些可供参考的例子。

[2019-10-08 06:49] dingsiyu opened #20210 "模型训练过程中GPU的使用零散"
python2.7, cuda 9.0 + cudnn 7.*， centos6.3, paddle_dev_lastest
![image](https://user-images.githubusercontent.com/21340925/66373242-c17f5280-e9da-11e9-824a-36d8fecd975d.png)
[timeline.txt](https://github.com/PaddlePaddle/Paddle/files/3702104/timeline.txt)

[2019-10-08 06:53] #19401 closed, assigned to nobody

[2019-10-08 06:53] #19402 closed, assigned to nobody

[2019-10-08 06:54] #19404 closed, assigned to nobody

[2019-10-08 06:57] keithyin commented on #17409
最近也要用到这个API, 请问这个问题什么时候能够解决呢?

[2019-10-08 07:27] JingChunzhen opened #20216 "paddle 中计算当前batch的auc和 sklean中计算出来的auc不一样？"
- paddle 中计算当前batch的auc和 sklean中计算出来的auc不一样
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.0
    2）CPU
    4）系统环境：python2
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段
[code]

[2019-10-08 07:35] bjjwwang commented on #20168
@gongweibao  @sandyhouse  求大佬帮忙看下这个issue有没有解决方法 谢谢。

[2019-10-08 07:37] xjqbest commented on #20089
可以先尝试通过export把libnccl.so加入到LD_LIBRARY_PATH

[2019-10-08 07:44] Shixiaowei02 commented on #20120
@xuzhm 请用上面的代码编译运行，检查机器环境本身是否有问题。

[2019-10-08 07:53] sandyhouse commented on #20168
wget -e "http_proxy=cp01-sys-hic-gpu-02.cp01:8888" http://cp01-sys-hic-gpu-02.cp01/HGCP_DEMO/fluid_1.1.0_for_slurm.tar.gz
的nccl2模式可以进行正常训练，但是使用paddle1.5.2版本有出问题了
这句话是什么意思？在哪个版本可以正常运行？
另外，日志链接已经失效了，上面的报错是运行demo程序的错误吗？还是改动过的程序？
@bit-pku-zdf

[2019-10-08 08:43] seiriosPlus commented on #20188
是使用transpiler模式训练的么？

[2019-10-08 08:44] mensaochun commented on #20188
是的。

[2019-10-08 08:45] seiriosPlus commented on #20188
transpile的使用相关的代码发一下？

[2019-10-08 09:23] AIpioneer commented on #20152
@ziyuli 请问你单卡的时候是否有问题呢？

[2019-10-08 09:45] hong19860320 commented on #20169
In order to reproduce the problem, could you plz attach the full code?

[2019-10-08 09:47] jerrywgz commented on #20153
我们之前有测试过直接用imagenet的预训练模型训ssd，效果确实不理想，我们现在是使用预训练模型是imagenet训完又在coco上finetune的结果
https://paddlemodels.bj.bcebos.com/object_detection/ssd_mobilenet_v1_coco_pretrained.tar
另外需要确认几个事情：1. 类别需要包含背景，初步看了下你的代码应该是对的；2. 确保网络完整加载预训练模型

[2019-10-08 10:41] dancingpipi commented on #19134
@NHZlX
在P4下重新编译了cuda10版本的paddle lib，在T4上运行依旧报这个错误
![image](https://user-images.githubusercontent.com/20511825/66389476-087d4000-e9fb-11e9-84ab-5b93ba2ae6be.png)

于是想到在T4上编译cuda10版本，发现编译的时候报这个错误：
![image](https://user-images.githubusercontent.com/20511825/66389514-2c408600-e9fb-11e9-8f3d-6666e5342bae.png)

请问下如何正常的在T4上运行paddle c++呢

[2019-10-08 10:50] dancingpipi commented on #19134
解决了，可能是我编译的时候没有设置好LD_LIBRARY_PATH的路径，重新编译就好了

[2019-10-08 11:16] DDDivano commented on #20019
目前版本1.5.2 save optimizer实际上是save了optimizer的状态，比如你用到了学习率衰减，他会记录batch和衰减值，这样在load的时候可以让learningrate decay参数是训练时衰减的状态。因为现在load实际上是把optimizer的参数灌入，optimizer需要声明。预计1.6会可以save optimizer本身。官网上的示例不是很贴切。
load失败没有提示这个是一个已知问题，原因是动态图构建初始化会生成随机权重，然后load的时候会把权重替换掉，所以即使没有load成功也不会dump。这个后续会修复。十分感谢反馈。

[2019-10-08 13:22] seiriosPlus commented on #20216
fluid.layers.auc返回的第一个是auc是从累计到目前的全局AUC, 第二个是batch_auc在不配置的情况下是当前20个batch的累计auc。

[2019-10-08 13:25] JingChunzhen commented on #20216
如何能做到只计算当前batch的auc呢？

[2019-10-08 13:54] xueeinstein commented on #20169
@hong19860320 A runnable testcase:

[code]

Execute `py.test -s -vv test.py`, then get output:

[out.txt](https://github.com/PaddlePaddle/Paddle/files/3702724/out.txt)

[2019-10-08 15:42] xjqbest commented on #20097
请问可以提供运行的脚本和命令，以及报错的堆栈信息么

[2019-10-09 01:58] JingChunzhen commented on #20216
[slide_steps - 计算批auc时，不仅用当前步也用先前步。slide_steps=1，表示用当前步；slide_steps = 3表示用当前步和前两步；slide_steps = 0，则用所有步](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/metric_op_cn.html#auc)

这里说的步指的是一个batch？ 那默认slide_steps=1的话就算的是当前的batch吗？

[2019-10-09 01:59] seiriosPlus commented on #20216
配置auc layer时，指定参数`slide_steps = 1`,则 batch auc只统计当前batch的。

[2019-10-09 02:01] JingChunzhen commented on #20216
我用的是默认的slide_steps=1, 那也就是是说我算的是当前batch的auc，但是当前batch的auc和用sklearn算出来的不一样

[2019-10-09 02:03] seiriosPlus commented on #20216
1. 不一样是差多少。
2. 如何做的对比验证。
3. 贴一下sklearn你的写法。

[2019-10-09 02:11] JingChunzhen commented on #20216
1.paddle算出来的auc明显偏高，差不多6到7个点
2,3 如下

[code]

[2019-10-09 02:52] ghm opened #20270 "ai studio中cls_task.finetune_and_eval() 时出错"
**硬件信息:**
GPU:v100
显存:16GB
CPU:8
RAM:32GB
**环境配置:**
Python版本:python 3.5
框架版本:PaddlePaddle 1.5.1
**代码:**
from paddle.fluid.framework import switch_main_program
import paddlehub as hub
import paddle.fluid as fluid

module = hub.Module(name="ernie",version='1.0.2')
dataset = hub.dataset.ChnSentiCorp()

reader = hub.reader.ClassifyReader(
    dataset=dataset,
    vocab_path=module.get_vocab_path(),

[2019-10-09 03:07] #19669 closed, assigned to seiriosPlus, luotao1

[2019-10-09 03:07] seiriosPlus commented on #20216
我自行测了一下AUC， 供参考+验证：
[code]

[2019-10-09 03:08] seiriosPlus commented on #20216
问题1： 是paddle训练算出来的auc明显偏高还是测试？

[2019-10-09 03:11] JingChunzhen commented on #20216
多谢demo~ 训练和测试都偏高

[2019-10-09 03:50] JingChunzhen commented on #20216
你的demo出来的结果不一样, 代码中的最后一行应该是这样吧？
[code]

[2019-10-09 04:00] seiriosPlus commented on #20216
已修改， 有个地方写错了

[2019-10-09 04:54] ziyuli commented on #20152
理论上reader没有丢弃任何数据。单卡没问题。
完整代码：https://github.com/ziyuli/models/blob/4f11b0f89d1f2a8208fd49b88ff1ca740a5ab762/PaddleCV/image_classification/train.py

[2019-10-09 07:25] sandyhouse commented on #20152
造成这个现象的原因和batch函数本身无关，batch函数本身并没有丢掉最后的batch。有几种比较简单的处理方法。一种是做图像拼接：填充一部分图像，保证图像数量是总batch size的整数倍。另外一种方法的话是使用多进程模式，即每个卡一个进程的多卡训练方式，我上面的回复给出了一些链接可以参考。

[2019-10-09 07:30] seiriosPlus commented on #20216
有尝试么？还是paddle比sklearn高么

[2019-10-09 07:32] JingChunzhen commented on #20216
多谢 ~ 目前已经一致了 目前paddle有计算单个batch的precision recall的api吗？

[2019-10-09 07:36] seiriosPlus commented on #20216
`PaddlePaddle/Paddle/python/paddle/fluid/metrics.py`里面有一些Python的计算指标的方法，可以参考。

我close issue了， 有问题再提吧。

[2019-10-09 07:36] #20216 closed, assigned to seiriosPlus

[2019-10-09 07:52] xubenben opened #20298 "动态图下，在第一次运行后，中断guard 再起新guard， 会出现参数无法更新的现象"
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle==1.5.2
    4）系统环境：Python3.7
- 训练信息
    1）单机
- 问题描述：动态图下，在第一次运行后，中断guard 再起新guard， 会出现参数无法更新的现象

import numpy as np
import paddle
import paddle.fluid as fluid
import paddle.fluid.dygraph as dygraph
place = fluid.CPUPlace()
def reader(num_examples):
    xs = np.random.rand(num_examples, 5).astype("float32")
    ys = np.random.rand(num_examples, 1).astype(

[2019-10-09 07:55] sshilei opened #20299 "连续多次调用save_inference_model保存模型，第二次和第三次保存的模型错误，导致预测失败"
![image](https://user-images.githubusercontent.com/18701471/66462069-e643fa80-eaac-11e9-9dae-7eb6bba3009c.png)

连续三次保存模型，每次的输入和输出不同。但是后面两次保存的模型在预测时出错，没有按输出对输入和算子进行prune。

感谢平烁帮忙跟进及定位问题。

[2019-10-09 08:05] ResearchingDexter opened #20301 "Input(Y) of elementwise op should not be null"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU/GPU：cpu
    3）系统环境：MAC OS 10.13.6
    4）Python版本号 3.6
    5）显存信息
运行下面代码报错
[code]
报错信息如下
[code]
在IfElse中不可以这样做吗？

[2019-10-09 08:28] hong19860320 commented on #20169
I can reproduce the problem, the log is attached as following:
[out.txt](https://github.com/PaddlePaddle/Paddle/files/3706291/out.txt)

[2019-10-09 08:45] Meleeri opened #20305 "Request support for nce operator preserving lod information when using LodTensors as inputs and labels"
At present paddle erases lod information of outputs when using nce operator with LodTensors as inputs and labels. This is very annoying since I'm trying to use nce_loss to implement a language model where are inputs are lodtensors, and it would be nice to have nce_loss as a drop-in replacement of softmax_cross_entropy_loss without modifing much code.

[2019-10-09 08:59] ddokupil opened #20309 "Cmake fails on inference_download_and_uncompress"
[code]

[2019-10-09 14:03] chengduoZH commented on #20152
@ziyuli 如果在多卡训练时使用py_reader，并且数据集中的batch个数不是卡数的整数倍，则这部分数据会被丢弃。比如数据集中10个batch，你使用的是4卡进行训练，在最后一次迭代时，数据集中只有2个batch，但是因为使用的是4卡训练，因此最后的两个batch会被丢弃。

[2019-10-09 14:20] mapingshuo commented on #20299
你连续三次调用了save_inference_model这个函数：

在第一次调用时，函数在main_program中，cos_sim_0.tmp_0后面添加了scale op, 这一op输出了一个新的var，称作“save_infer_model/scale_0”;

![image](https://user-images.githubusercontent.com/23031310/66489555-620c6a00-eae2-11e9-8adb-8b0163c7f9fe.png)

第二次调用时，函数在main_program中，fc_0.tmp_2后面又添加了一个scale_op，这一op的输出也是“save_infer_model/scale_0”

![image](https://user-images.githubusercontent.com/23031310/6648

[2019-10-10 02:18] ziyuli commented on #20152
所以说如果使用了py_reader我只能将图片补齐到batch的整数倍？没有其他的办法吗？
另外我看到链接里面的例子使用了Fleet API？如果我想用paddle.distributed.launch这种多进程方法网上有例子吗？

[2019-10-10 02:40] DDDivano commented on #20298
中止guard然后另起一个新guard是为了实现是什么功能吗？

[2019-10-10 05:04] JiabinYang commented on #20298
这里
1. `create model`需要在`guard`中进行，在同一个`guard`中参数才会被`hold`，否则参数会因为离开作用域而被python析构， 而这里能进行更新是因为`FC`比较特殊的会在执行了第一次时才会init，因此他的参数是被第一个`guard`所持有。

2. 不同guard之中的参数如果需要共享，需要通过赋值操作，把第一个`guard`中的参数赋值到第二个`guard`中，并且在更新时传入`optimizer.minimze(param_list=model.parameters())`

[2019-10-10 05:07] JiabinYang commented on #20298
而你目前的code的话，由于第二个guard中没有`trace`任何参数， 所以没有更新，如果希望更新可以在`run_model` 方法中，将`optimizer.minimize(avg_loss)` 改为`optimizer.minimize(avg_loss， parameter_list=model.parameters())`

[2019-10-10 05:09] JiabinYang commented on #19650
fixed in #19106

[2019-10-10 05:09] #19650 closed, assigned to JiabinYang

[2019-10-10 05:11] JiabinYang commented on #19752
fixed in #19436

[2019-10-10 05:11] #19752 closed, assigned to JiabinYang

[2019-10-10 05:22] JiabinYang commented on #17584
Thx for ur support for Paddle!

[2019-10-10 05:22] #17584 closed, assigned to JiabinYang

[2019-10-10 05:32] DogHeadMoon commented on #18799
该PR delay，在optimizer中新增learning_rate()接口，预计会在1.6.1合入，  https://github.com/PaddlePaddle/Paddle/pull/19952

[2019-10-10 06:10] Exception-star opened #20377 "设置sync_batch_norm=True，在训练中会无规律卡住，出现死机状态（Gpu 使用率0，进程还在）"
因为国庆前提的问题，到现在也没有人解答，另起一个issue
相关问题链接：[https://github.com/PaddlePaddle/Paddle/issues/19934](https://github.com/PaddlePaddle/Paddle/issues/19934)

问题描述：
        训练网络时程序会无规律的出现死机状态，就是程序不使用CPU和GPU了，但是保持原占用状态（比如显卡占用10G，但是利用率为0，没有其他程序抢资源）。这种情况碰到了好多次，一次发生在重复训练了5轮后的某一阶段，另一次发生在第7次重复训练的某一阶段，还有一次是在第一个epoch，这些情况都出现在epoch的最后一个step。

<img width="535" alt="图片" src="https://user-images.githubusercontent.com/53971

[2019-10-10 06:43] qingqing01 commented on #20377
如果是这个情况，建议将`cityscapes_train`中的`reader`改成无限循环，而不是当前一个epoc的循环。或者改成  组成batch之后，正好可以平分卡数，例如， 数据10条，4个卡，batch_size=2，for循环改成循环8次。

[code]

无sync-bn没有卡住的原因是内部做了处理，这个是框架内部实现的不同导致的，建议先通过改reader解决。

[2019-10-10 06:43] qingqing01 commented on #19934
已在 https://github.com/PaddlePaddle/Paddle/issues/20377 中回复了。

[2019-10-10 07:20] parap1uie-s opened #20387 "多GPU all_reduce_deps_pass.cc 报错"
Paddle版本：1.5.2 - GPU
运行环境：单GPU / 多GPU

BUG描述：

1. 同一份未做任何改动的代码，可正常在单GPU环境下运行；但多GPU环境下报错，errorlog文末

2. train_prog使用CompiledProgram编译，并在with_data_parallel中设置了build_strategy和exec_strategy。相关设置如图：
![image](https://user-images.githubusercontent.com/23453851/66546959-bbbb7580-eb70-11e9-8800-bd1fc80112b3.png)

3. 经阅读errorlog，怀疑是`build_strategy.fuse_all_reduce_ops = True`的问题，注释后多GPU下**可正常运行**，无报错。

4. 查阅

[2019-10-10 07:23] Yelrose opened #20390 "Fleet develop版 embedding is_sparse=True loss不下降"
之前有个develop版 embedding is_sparse设置为True之后的时候loss是能下降的。
后来新的develop版 embedding is_sparse设置为True之后loss不能下降

[2019-10-10 07:25] sandyhouse commented on #20152
Fleet API一般也是通过paddle.distributed.launch启动多进程的。所以可以参考上面的例子链接。

[2019-10-10 07:28] Yelrose commented on #20390
入口代码
[code]
模型代码
[code]

[2019-10-10 07:29] Exception-star commented on #20377
haode, xiexie, ainiyou

[2019-10-10 07:30] Yelrose commented on #20390
我们在大概9月20号在官网上下的develop版是能正常运行的，在国庆后回来重新拉了个新的whl包，发现loss无法下降。本地能复现两个不同whl包的结果。

[2019-10-10 07:34] cyj1986 commented on #20270
<img width="1025" alt="图片" src="https://user-images.githubusercontent.com/39645414/66548150-48ffc980-eb73-11e9-81d8-4018fa0fcfde.png">
这个log信息显示是reshape2的ShapeTensor信息没有找到，可以看一下网络结构图么？

[2019-10-10 07:46] xyoungli commented on #20377
请问问题修复了吗？

[2019-10-10 08:22] HUSTLX opened #20403 "多分类focal loss 的训练 bug"
![image](https://user-images.githubusercontent.com/12711390/66551415-0097da00-eb7a-11e9-8250-8af3dbffb707.png)

原来的cost是注释掉的那个fluid.layers.softmax_with_cross_entropy

我改成一个focal loss

报这个错：Traceback (most recent call last):
  File "train.py", line 473, in <module>
    main()
  File "train.py", line 469, in main
    train(args)
  File "train.py", line 298, in train
    args=args)
  File "train.py",

[2019-10-10 08:27] ghm commented on #20270
请问ai studio里怎么看网络结构图呀？

[2019-10-10 08:33] parap1uie-s commented on #17438
+1，希望实现类似np.repeat的API

[2019-10-10 08:35] Exception-star commented on #20377
修复了，但是这个坑留给用户，非常不友好

[2019-10-10 08:43] #19254 closed, assigned to ceci3

[2019-10-10 08:57] #19934 closed, assigned to fc500110, chengduoZH

[2019-10-10 09:03] #20377 closed, assigned to nobody

[2019-10-10 09:15] ceci3 commented on #20403
paddle 1.5.0会报这个错，develop不会报错，1.5.0 上的 ** 没有重载到pow上，导致报没有反向的错。

[2019-10-10 10:11] chen5697 commented on #18464
请问有人解决了吗
cudaStreamSynchronize an illegal memory access was encountered errno:77

[2019-10-10 11:03] Superjomn commented on #20299
save_inference_model 我们正在重构，目前最好，每次都从训练的program clone 下，从全新的program开始prune

建议训练中 save_persistable 存储学到的参数，训练完离线用 save_inference_model 一次性转化下program

[2019-10-10 11:07] mapingshuo commented on #20299
已经建议用户在save_inference_model前做clone了，并且已经解决了用户问题。

既然在重构，那等你们的消息吧 :)

[2019-10-10 12:06] xiuechen opened #20432 "一个模型预测的问题"
在python当中，预测输入是一个二维数组，每个样本input={{0},{0},{0},...{0}},一共有15维schema
在C++该如何构造tensor呢？

无论我怎么写，都报：wrong feed input size, need 15 but get 1

试过输入数组，展开成一维，然后：

tensor.shape={15,1}
tensor.lod={{0,15},{0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}}

报错。

也试过，输入数组是std::vector<std::vector<uint64_t>> featuremap
tensor.shape={1,1,1,1,1,1,1,1,1,1...1}

同样报错。

[2019-10-10 12:07] leesunfreshing opened #20433 "第三方库转paddle"
Hi，目前我用pytorch和第三方库pytorch geometric训练好的模型，由于paddle缺乏相关操作，在用onnx转的时候无法成功。pytorch geometric是专门支持Graph Neural Network的库，依赖于pytorc。链接：https://pytorch-geometric.readthedocs.io/en/latest/。若paddle没有计划扩展PGL对应与pytorch geometric，能否提供支持接口直接调用？后再转模型时提供便利？

[2019-10-10 12:31] cyj1986 commented on #20301
问题已复现，会找人修复

[2019-10-10 12:33] cyj1986 commented on #20309
谢谢反馈，稍后，会有同学跟进

[2019-10-10 12:45] Steffy-zxf commented on #20270
@ghm 感谢反馈！以上错误，解决方法可以参考faq中的第一个问题
https://github.com/PaddlePaddle/PaddleHub#faq

[2019-10-10 13:11] luotao1 commented on #20123
1. reduce_sum文档明确不支持list，代码对输入做类型检查：已经在#20063 解决了。
2. ifelse文档要修改，返回的是list；单测代码要改，明确使用output[0]的形式：已经在https://github.com/PaddlePaddle/FluidDoc/pull/1456 解决了。

[2019-10-10 13:30] JepsonWong commented on #20305
nce op do not support lod currently.

[2019-10-10 14:58] kinghuin opened #20444 "paddle develop编译安装后运行OCR报错"
厂内，CUDA9，V100，centos7
paddle版本：paddle develop分支 pull https://github.com/guoshengCS/Paddle/tree/fix-gru-doc 之后在nvidia-docker中编译的
执行模型：https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition  未修改模型代码
报错:

------------------------------------------------
/usr/local/lib/python2.7/dist-packages/paddle/fluid/evaluator.py:72: Warning: The EditDistance is deprecated, because maintain

[2019-10-11 01:41] kinghuin commented on #20444
编译的paddle的git log

![image](https://user-images.githubusercontent.com/11913168/66618420-9465b680-ec0b-11e9-914b-c6f359547d70.png)

[2019-10-11 01:52] wanghaoshuang commented on #20444
如果不pull guoshengCS的分支，可以正常执行么？是第一个batch就出错么？

[2019-10-11 01:55] wanghaoshuang commented on #20444
请 @guoshengCS 关注下这个问题？

[2019-10-11 02:10] guoshengCS commented on #20444
是否可以先试下develop的不用seq2seq api的，https://github.com/guoshengCS/Paddle/tree/fix-gru-doc 这个PR的话是修复了BasicGRUUnit的bug，这个会比seq2seq api里的GRUCell用到，之前反向跑不起来，请问GRUCell有在其他网络里验证使用吗

[2019-10-11 02:51] ghm commented on #20270
ai studio上 !pip install --upgrade paddlehub  截止到目前执行了快1小时了还没完 正常吗？
![image](https://user-images.githubusercontent.com/8744664/66620892-bfa0d380-ec14-11e9-93f9-2a7eda5f3123.png)
![image](https://user-images.githubusercontent.com/8744664/66620985-127a8b00-ec15-11e9-9444-6b720651e316.png)

[2019-10-11 03:24] kinghuin commented on #20444
谢谢 @guoshengCS @wanghaoshuang   重新编译已解决问题

[2019-10-11 03:24] #20444 closed, assigned to nobody

[2019-10-11 03:29] xyoungli commented on #20432
输入是tensor array吗？输入的个数应该是15个，而传递的tensor array的size只有1

[2019-10-11 03:41] chengduoZH commented on #20387
@parap1uie-s 感谢您的反馈，该问题已在最新的develop分支修复。

[2019-10-11 04:43] AWSWXY opened #20478 "提交任务报错"
使用receiver提交任务报错如下：
connect to receiver:  yq01-idl-gpu-offline14.yq01.baidu.com:9295
compressing thirdparty files
finished to pack request
starting to submit to server
Traceback (most recent call last):
  File "/home/disk5/wuyongchao/paddle/output/submit.py", line 303, in <module>
    no_prefix_train_args_dict, ).run()
  File "/home/disk5/wuyongchao/paddle/output/submit.py", line 77, in run
    se

[2019-10-11 05:31] xyoungli commented on #20403
@HUSTLX 请问还有问题吗？

[2019-10-11 05:37] xyoungli commented on #20390
embedding is_sparse设置False会有问题吗？

[2019-10-11 05:52] xyoungli commented on #20433
请问转paddle出的什么错误？

[2019-10-11 05:59] Yelrose commented on #20390
False的时候没有问题

[2019-10-11 07:59] yongqiangma commented on #20478
应该是receiver的问题，改了端口号解决了

[2019-10-11 08:06] wuhaijun2018 opened #20504 "多机任务训练中，pserver节点出错，停止"
- 版本、环境信息：
    1）PaddlePaddle版本：fluid 1.51
- 训练信息
    1）多机

- 复现信息：多次多机运行，可重复出现
- 问题描述：
![image](https://user-images.githubusercontent.com/37178931/66635128-191ef780-ec41-11e9-8ae5-b99cd6341cd6.png)

[2019-10-11 08:30] ghm commented on #20270
已经参考faq中的第一个问题https://github.com/PaddlePaddle/PaddleHub#faq
pip升级后，再执行到module = hub.Module(name="ernie",version='1.0.2')时出现了下面的错误：
[2019-10-11 16:27:42,284] [    INFO] - Installing ernie module-1.0.2
[2019-10-11 16:27:42,300] [    INFO] - Module ernie-1.0.2 already installed in /home/aistudio/.paddlehub/modules/ernie
---------------------------------------------------------------------------Enforc

[2019-10-11 08:41] tianjie491 opened #20505 "用python api预测时打不打开mkldnn，预测耗时相同。"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2
    2）CPU：intel(R) Core(TM) i5-7500
    3）系统环境：win10，Python版本 3.7.4
- 问题描述：transformer做seq2seq模型预测时，使用python api，配置AnalysisConfig时添不添加
[code]
预测时间相同，预测时间均为1.5秒左右。
我没有手动安装过mkldnn，也没重新编译过源码，请问直接pip install paddlepaddle是否已经集成安装mkldnn了吗？还是需要手动安装mkldnn？或者是哪里没配置好？
下面贴出部分代码：
[code]

[2019-10-11 08:50] Steffy-zxf commented on #20270
这个项目方便设为公开的吗？我复现下上面的错误

[2019-10-11 08:56] OliverLPH commented on #20505
直接pip install paddlepaddle应该是没有mkldnn的，你可以在命令行输入paddle看下
<img width="588" alt="image" src="https://user-images.githubusercontent.com/14963836/66638723-1247b300-ec48-11e9-9b0d-dbdd3ce7cbae.png">

[2019-10-11 08:59] #20478 closed, assigned to yongqiangma

[2019-10-11 09:05] tianjie491 commented on #20505
![图片](https://user-images.githubusercontent.com/48859246/66639268-22ac5d80-ec49-11e9-9e99-50780d377640.png)
![图片](https://user-images.githubusercontent.com/48859246/66639339-4374b300-ec49-11e9-948f-6278439a3057.png)
我的是这样的，但是还是感觉mkldnn没有用起来，因为开没开config.enable_mkldnn()预测时间是一样的

[2019-10-11 09:08] ghm commented on #20270
已公开 链接如下：
https://aistudio.baidu.com/aistudio/projectdetail/143598

[2019-10-11 09:36] Steffy-zxf commented on #20270
发现上述错误，原因是升级后的paddlepaddle-gpu是适配cuda10的，但机器安装的是cuda9，解决方法有两种：
1. 去掉!pip install --upgrade paddlepaddle-gpu
2. !pip uninstall paddlepaddle-gpu
    !pip install paddlepaddle-gpu==1.5.2.post97

[2019-10-11 09:38] ResearchingDexter opened #20510 "Invoke operator elementwise_sub_grad error"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    2）CPU/GPU：
    3）系统环境：mac 10.13.6
    4）Python3.6
    
运行如下代码报错
[code]
报错信息如下
[code]

[2019-10-11 09:43] ResearchingDexter commented on #20301
嗯，好的

[2019-10-11 09:56] luotao1 commented on #20505
@bingyanghuang 请帮忙看下这个问题，谢谢

[2019-10-11 10:01] githubutilities opened #20514 "paddle能否把embedding放在cpu，用gpu训练"
paddle能否把embedding放在cpu，用gpu训练，这样embedding的量级可以扩大很多。
这个功能tf和pytorch很早就有支持了。

[2019-10-11 10:03] ghm commented on #20270
问题都解决啦，太感谢你了，你好厉害哦！

[2019-10-11 10:03] #20270 closed, assigned to cyj1986

[2019-10-11 10:10] NHZlX commented on #20309
Delete the build directory and then try once？

[2019-10-11 10:13] xiuechen commented on #20432
确实是，多谢。

[2019-10-11 10:13] #20432 closed, assigned to xyoungli

[2019-10-11 10:45] tianjie491 commented on #20505
我参考https://software.intel.com/zh-cn/articles/intel-mkl-dnn-part-1-library-overview-and-installation编译了mkldnn，然而并没有用。预测时一直报这个错误，有关系吗？是否需要重新编译paddlepaddle安装包？
![图片](https://user-images.githubusercontent.com/48859246/66645942-50000800-ec57-11e9-8581-30019dd68147.png)

[2019-10-11 10:52] xubenben commented on #20298
赋值操作是具体怎么操作？目前的代码通过设置已经可以了 @JiabinYang

[2019-10-11 11:05] bingyanghuang commented on #20505
可以`export MKLDNN_VERBOSE=1`再运行一下看是否输出MKL-DNN的log来判断是否跑入MKL-DNN里面。方便的化可以打一个profile 信息给我么， 主要想看一下这个模型中用到的op。

[2019-10-11 11:47] aprilvkuo opened #20523 "CompiledProgram训练出错"
python2.7
paddle 1.5.2
cpu 多核

A方式使用： with_data_parallel会报错。
B方式正常运行。
调用方式如下

[code]

报错信息如下：
[code]

[2019-10-11 14:04] bingyanghuang opened #20532 "[Int8v2] Release 1.6 performance regression problem"
Based on Baidu Xeon 6271 tested results, we found that INT8 v2 (post-training quantization) has performance regression problem.  Issue to track until it is solved.
![image](https://user-images.githubusercontent.com/33643817/66657738-ea217980-ec72-11e9-91ba-7c85618f9f5b.png)
@Sand3r- @jczaja Please help solve this problem.

[2019-10-12 00:49] yanyq1990 opened #20544 "训练过程中训练时间不断增加"
用paddle1.5.2 GPU版本训练，每100次训练时间输出，从一开始的70秒，不断增加到500秒
![Selection_147](https://user-images.githubusercontent.com/22705112/66692084-b0ca2780-eccd-11e9-90ed-3d2af57f1bf0.png)
![Selection_148](https://user-images.githubusercontent.com/22705112/66692085-b0ca2780-eccd-11e9-9a3e-5ed829a3b42a.png)

[2019-10-12 02:02] tianjie491 commented on #20505
@bingyanghuang
[profile.zip](https://github.com/PaddlePaddle/Paddle/files/3720058/profile.zip)
[code]
运行run耗时：1.3305113315582275
预测一条数据共计耗时：1.4410455226898193
这是profile和打印日志，请看下。

[2019-10-12 02:17] bingyanghuang commented on #20505
根据log信息可以推断出mkldnn没有跑到最优kernel里，我建议你可以重新编译一下paddlepaddle with  `-DON_INFER=ON`. 同时我们这边也会再确认一下这个问题。

[2019-10-12 02:20] MyPandaShaoxiang commented on #20544
请问你具体的训练参数是怎么设置的呢

[2019-10-12 02:25] luotao1 commented on #20505
@bingyanghuang 这个是pip install 直接装的，并不能做此编译。同时这个是否打开，和mkldnn没有跑到最优kernel没有关系吧。

[2019-10-12 02:42] yanyq1990 commented on #20544
我用的PyReader，设置的参数batch_size=2,capacity=16,iterable=True, use_double_buffer=True
optimizer选择adam，program直接用的default的

[2019-10-12 03:54] nepeplwu opened #20560 "@LR_DECAY_COUNTER@的值不正确"
PaddlePaddle版本：1.5.2

训练模型的时候，使用fluid.layers.piecewise_decay进行lr的decay，发现在训练过程中，完全一样的代码，@LR_DECAY_COUNTER@在每个Epoch训练结束后，有时候会自增1，有时候不会，如下：
![44ED43AC97909093ED5648288F8136FC](https://user-images.githubusercontent.com/45024560/66694198-82574700-ece3-11e9-8fbf-c11fe1395156.JPG)
![F671487D395A277F0430538A4FBC6D4F](https://user-images.githubusercontent.com/45024560/66694200-84210a80-ece3-11e9-9642-40bb

[2019-10-12 04:05] kebinC opened #20561 "paddle 优化器问题"
[code]

直接运行log：
[code]

打开开头的注释运行log：
[code]

[2019-10-12 04:09] MyPandaShaoxiang commented on #20544
可以查看一下对应的显存变化情况么，看显存是否也在变化

[2019-10-12 05:54] yanyq1990 commented on #20544
显存占用没有变化（28807Mib/32480Mib），但是占用很高，GPU使用率不断变化

[2019-10-12 06:09] MyPandaShaoxiang commented on #20561
你好，看起来好像是模型构建问题，我在这边复现一下

[2019-10-12 06:12] kebinC commented on #20561
不加optimizer是可以跑的

[2019-10-12 07:52] yanyq1990 opened #20575 "网络权值共享"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2.post107
    2）CPU/GPU：Driver API Version: 10.1, Runtime API Version: 10.0，cuDNN Version: 7.6.
    3）系统环境：ubuntu16.04
    4）Python版本号 2.7.12

我采用fluid.unique_name.guard来设置网络变量的名称，并用visualdl显示模型结构:
1. 当左右设置不同名称时，代码如下：
[code]
所显示的模型结构如下:
![graph](https://user-images.githubusercontent.com/22705112/66697129-551b9080-ed05-11e9-8488-3ffb31be27a8.png)

2. 当左右设置一样的名称时，

[2019-10-12 08:03] xjqbest commented on #20097
can you provide more detailed code and error message

[2019-10-12 08:08] MyPandaShaoxiang commented on #20575
请问你具体是要实现怎样的共享呢

[2019-10-12 08:10] MyPandaShaoxiang commented on #20544
这个可能需要查看下你的代码，看下是不是哪里有增加计算量的行为

[2019-10-12 08:14] yanyq1990 commented on #20575
我的网络是做stereo match的，输入左右两张图片，分别经过conv2d_0和conv2d_4，左右两边在stem的网络中对应的参数共享的，就跟tensorflow里面的reuse一样，最后分别在leaky_relu_7和leaky_relu_15输出，concat连接起来，正常情况下模型结构应该是第1种的，但是第一种左右的参数名是不一样的，而第2种写法，左右参数名一致，但是visualdl显示的结构不对

[2019-10-12 08:50] sshilei opened #20577 "训练好的模型，Python预测没有问题，C++加载模型出core，版本都是1.5.0"
C++依赖的版本： CONFIGS("baidu/paddlepaddle/paddle@paddle_prebuilt_cpu-1-0-0-2_PD_BL@git_tag")

模型训练使用的版本： paddlepaddle-1.5.0-cp27-cp27mu-linux_x86_64.whl

WARNING: Logging before InitGoogleLogging() is written to STDERR
I1012 16:34:15.479686 32698 analysis_predictor.cc:436] == optimize end ==
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():  Cannot get attribut

[2019-10-12 09:12] yanyq1990 commented on #20544
网络训练主体如下:
[code]

网络结构定义:
[code]

[2019-10-12 09:29] Superjomn commented on #20577
1.5 版本前后关于 height_sections 混入了不兼容的问题，需要严格保证训练和预测版本一致。

1.5.2 之后的训练预测版本没有问题

[2019-10-12 09:29] #20577 closed, assigned to nobody

[2019-10-12 10:01] MyPandaShaoxiang commented on #20575
你好，第二种基本用法是没有问题的，但在这里可能会和你的需求不太一致。因为unique_name.guard会保证里面的所有名字都一样，所以有可能会出现2中的情况。建议如果想要参数共享，你可以手动对参数进行命名，这样会更安全的实现参数共享；在使用2的用法时，最好让最后一层名字不同，这样会实现1中的效果。

[2019-10-12 10:06] MyPandaShaoxiang commented on #20560
是分布式训练的么

[2019-10-12 10:14] nepeplwu commented on #20560
不是，单机单卡训练

[2019-10-12 10:52] yanyq1990 commented on #20575
已解决，多谢
![graph (1)](https://user-images.githubusercontent.com/22705112/66700258-23b0be00-ed21-11e9-9e67-27ff0ed6fff8.png)
模型结构正确并且两个子网络的参数是共享的

[2019-10-12 11:07] danleifeng commented on #20510
问题出错是你的代码里IfElse condition ，全部数据判断进入了true_block，没有任何数据进入false_block，所以反向传播的时候梯度会报错。IfElse 这个问我们会尽快解决。为了不耽误您的使用，你可以尝试将传入的数据改为随机值，让true_block 和false_block均有数据进入， 比如将：
[code]
换为：
[code]
并把name 去掉（Loss 没有name 函数）
[code]

即可成功运行。

[2019-10-12 11:09] MyPandaShaoxiang commented on #20544
你好，该代码难以复现，能提供较为完整的代码么

[2019-10-12 11:15] zhuantouer opened #20582 "mac下安装cpu版本，安装成功，运行失败"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2
    2）系统环境：MacBook Pro (Retina, 13-inch, Early 2015)
- 安装方式信息：
1）pip安装

[code]

[2019-10-12 11:55] MyPandaShaoxiang commented on #20582
你好，pip3 install unrar安装一下unrar

[2019-10-12 13:22] OleNet opened #20588 "2卡训练无问题，＞2卡报错 cudaStreamSynchronize on illegal memory access errno:77"
![image](https://user-images.githubusercontent.com/3206718/66702101-69c44c80-ed36-11e9-93b9-6b56e944616e.png)

[2019-10-12 13:23] OleNet commented on #20588
![image](https://user-images.githubusercontent.com/3206718/66702108-95dfcd80-ed36-11e9-8067-4254a823f1b7.png)

[2019-10-12 13:24] OleNet commented on #20588
528行出错

[2019-10-12 15:02] tink2123 commented on #20560
请问这个问题是随机出现的吗？每次都是从头开始训练的吗？

[2019-10-13 06:47] sandyhouse commented on #20588
有可复现代码吗 @OleNet

[2019-10-13 08:06] zhuantouer commented on #20582
@MyPandaShaoxiang 试过了，还是上面的错误

[2019-10-13 13:14] grygielski commented on #20532
I've made little investigation of that problem and it seems to be mkldnn conv related regression. I've noticed int8 MobileNet-V1 performance regression at 12% level between release/1.5 and release/1.6 branch, VGG16 also slowed down by ~4%. The cause is the commit https://github.com/PaddlePaddle/Paddle/commit/2c32c2d6496be3decd3745d2b47e2f93ea4f3371. However, I haven't noticed any fp32 regression (

[2019-10-13 16:30] Dely-Yu commented on #20085
@chengduoZH .请同学解决下。。。

[2019-10-14 01:54] bingyanghuang commented on #20532
**Our reproduction on Xeon CLX 6248:**
![image](https://user-images.githubusercontent.com/33643817/66725900-82348400-ee68-11e9-9f41-3d7162faa612.png)

[2019-10-14 01:55] tianjie491 commented on #20505
@bingyanghuang 你们用pip安装paddle的情况下，预测时打开MKLDNN可以跑到最优kernel中吗？我想确定下是不是我的环境或者代码的的问题

[2019-10-14 02:04] ResearchingDexter commented on #20510
问题是如果在bp过程中学到了全是true或者全是false该怎么办

[2019-10-14 02:05] bingyanghuang commented on #20505
在log中我们注意到你使用的是MKL-DNN 0.18 版本，我们在Release 1.6中升级MKL-DNN到了0.20。这两个版本的区别就是softmax在0.18版本中是较差的， 而0.20版本的softmax的性能有大幅度的提升，建议安装 paddle 1.6 版本，或者尽可能新的paddle包。并查看MKLDNN_VERBOSE中是否使用了MKL-DNN 0.20.

![image](https://user-images.githubusercontent.com/33643817/66726167-54e8d580-ee6a-11e9-92d9-f674c6da7edc.png)

这是目前我们发现的一个至少可以提高性能的点，是否还存在其他问题我们还需要找到你使用的类似环境复现一下。方便的话可以给我们你跑这个模型的命令么，如果是开源的话。

[2019-10-14 02:22] nepeplwu commented on #20560
随机出现的，每次都是从头开始训练，一旦出现该问题的话，从第一个Epoch就会有问题，不会有训练到一半才出现的情况

[2019-10-14 02:25] luotao1 commented on #20505
@tianjie491 1.6还没发布，可以从https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/install/Tables.html/#ciwhls 下载develop的whl包进行实验。

[2019-10-14 03:41] yanyq1990 commented on #20544
https://github.com/yanyq1990/iresnet-paddle.git

[2019-10-14 04:11] zhaoyuchen2018 commented on #19628
https://github.com/PaddlePaddle/Paddle/pull/20602, 这个patch fix了，麻烦试一下。@kahitomi

[2019-10-14 04:45] chengduoZH commented on #20523
好像你的环境中中有设置`FLAGS_print_sub_graph_dir`，去掉这个设置即可。

[2019-10-14 05:01] aprilvkuo commented on #20523
我将`FLAGS_print_sub_graph_dir`置空后，报错为：
W1014 12:57:17.140666 13643 parallel_executor.cc:490] The number of graph should be only one, but the current graph has 12 sub_graphs. If you want to see the nodes of the sub_graphs, you should use 'FLAGS_print_sub_graph_dir' to specify the output dir. NOTES: if you not do training, please don't pass loss_var_name.

我想通过CompiledProgram实现CPU多线程，这种调用方式对吗？

[2019-10-14 05:06] chengduoZH commented on #20523
@aprilvkuo 这是警告，不是报错。

[2019-10-14 05:28] kebinC opened #20603 "paddle模型预测卡住"
模型地址：hi上已给出
输入是 （1,3,320,320）， uint8类型

卡在 tensorrt_subgraph_pass

[2019-10-14 05:43] aprilvkuo commented on #20523
好的，谢谢。  还发现我这边数据量比较少， 小于batch*Threads_num， 所以没法训练。

[2019-10-14 05:43] #20523 closed, assigned to chengduoZH

[2019-10-14 05:56] #20387 closed, assigned to chengduoZH

[2019-10-14 05:59] chengduoZH commented on #20086
@Exception-star  请问可以试一下通过feed的方式输入数据吗？

[2019-10-14 06:02] chengduoZH commented on #20085
@Dely-Yu 好像是NCCL的问题，可以检查一下NCCL的版本等信息。

[2019-10-14 06:03] chengduoZH commented on #20081
@dashulu 这是为了保证多卡训练时候，参数可以正确更新。

[2019-10-14 06:05] Exception-star commented on #20086
问题已解决，是最后一个step,有点卡拿不到数据

[2019-10-14 06:06] #19694 closed, assigned to nobody

[2019-10-14 06:09] #19085 closed, assigned to chengduoZH

[2019-10-14 06:11] #18918 closed, assigned to chengduoZH

[2019-10-14 06:43] suytingwan opened #20608 "paddle int8 单机多卡训练问题"
paddle 版本1.5.2
gpu K40
训练几十个batch之后报错，per gpu bs=32
配置：
export FLAGS_fast_eager_deletion_mode=1
export FLAGS_eager_delete_tensor_gb=0.0

报错信息如下
[code]

[2019-10-14 07:14] jeng1220 commented on #18939
I didn't see any difference between `CPUPlace` and `CUDAPlace`. Besides,  because group size is equal to input channel size, cuDNN will invoke `conv2d_grouped_direct_kernel` kernel so it should be nothing to do with winograd algorithm (You can use nsight-system to observe GPU behavior) .

Please try following code:
[code]
run:
[code]
test environment:
* hub.baidubce.com/paddlepaddle/paddle:1.5.2-g

[2019-10-14 07:24] zhhezhhe opened #20609 "Could paddle provide some DFT, FFT or DCT op like torch.fft, torch.rfft?"
Discrete Fourier Transform( DFT), Fast Fourier Transform(FFT), discrete cosine transform (DCT).

A 2D-FFT  op can be used for an image.

[2019-10-14 07:27] baomengxue commented on #20582
@zishuaiz 请问conda env list中还存在其他conda环境吗？

[2019-10-14 07:40] ceci3 commented on #18939
hi,  I test the code in two different machine, and get different result: in Tesla P40, the max diff is 0.0005939016 , but in Tesla V100, the max diff is 7.4505806e-08. Is there anything wrong in P40?

test environment:
paddlepaddle:1.5.2 cuda 9, cudnn7.5

[2019-10-14 07:46] Exception-star opened #20610 "和pytorch对比，paddle要训练到相同的效果，需要更多的epoch"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.2.
    2）GPU：k40
    
- 模型信息
    1）模型名称  DANet
    2）使用数据集名称 Cityscapes

- 问题描述：
      网络结构：两个框架的网络结构已对应，层数，卷积核大小，步长，pad，采样率，BN层的参数设置，初始化方式等都一样。
      数据输入：数据的增强方式都是一样的。
      网络的超参数：优化器都是adam, 学习率一样，正则化系数一致

      但是，用paddle要训练到和pytorch相同的效果，需要更多的epoch，需要2倍，甚至更多。
      重复了5，6次都是这个结果。

[2019-10-14 08:11] wozna commented on #20532
![image](https://user-images.githubusercontent.com/33838455/66736715-469ab980-ee6a-11e9-87bc-e7096b6ddf15.png)
It's one thread benchmark on CLX 6248.

[2019-10-14 08:37] baomengxue commented on #20582
@zishuaiz 或者 py3env环境是在(base)环境下create的吗？建议退出所有conda虚拟环境后再create 新环境安装paddle，尝试一下哈。

[2019-10-14 08:48] zhuantouer commented on #20582
还有一个py2env， 只开了一个3环境，还是报错
我再试试其他方法吧，多谢

[2019-10-14 08:48] #20582 closed, assigned to nobody

[2019-10-14 09:03] jczaja opened #20614 "[MKL-DNN] Add support for LayerNorm of MKL-DNN 1.1"
Once we upgrade to MKL-DNN 1.1 Layer Norm op can be used.

This issue is to track progress on implementation of Later Norm mkl-dnn kernel

[2019-10-14 09:10] jczaja opened #20615 "[MKL-DNN] Reduce memory footprint by using custom scratchpad of MKL-DNN 1.0"
Once MKL-DNN 1.0 is merged it will be possible to use custom (allocated by Paddle) scratchpads (temporary buffers used internally by MKL-DNN). This way we **possibly** reduce peak memory consumption as in 0.20 scrathchpad are allocated for each op separately which is not always needed for all PaddlePaddle usecases.

[2019-10-14 12:21] xiongbinbtbu opened #20621 "训练的时候出现Invoke operator lookup_table error，但是错误未显示embedding和对应词表大小不对"
版本、环境信息：
   1）PaddlePaddle版本：fluid 1.3.0
训练信息
   1）多机：
日志链接如下：
http://10.73.173.35:8910/fileview.html?type=logsdir&path=/&instance=0.app-user-20191014191426-24623--mcdnn-fluid-0908-5lun_paddlecloud

[2019-10-14 12:22] sandyhouse commented on #20588
多卡训练建议使用多进程模式，可以规避这个问题。

[2019-10-14 19:09] grygielski commented on #20532
We found some possible problems and after implementing some fixes I managed to lower int8 mobilenetv1 performance regression to 7%. We are still working to reduce it to 0.

[2019-10-15 01:12] yanyq1990 commented on #20544
问题已解决，refinement_sub_network中的c_conv1a、c_conv1b的name一样，改成不同的时间就不会增长

[2019-10-15 02:20] #20086 closed, assigned to chengduoZH

[2019-10-15 03:48] zhupengyang commented on #20610
建议尝试逐层对比结果，看是否在某一层上paddle和pytorch有明显不对齐的情况

[2019-10-15 06:13] bit-pku-zdf opened #20637 "分布式训练中出现 关于分布式通信的错误 SendRPC name:[NCCLID], ep:[10.255.66.20:9184], status:[-1] meets grpc error, error_code:14 error_message:Socket closed error_details"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    3）GPU：孔明集群训练，cuda 9.0,cudnn 7.0
    4）系统环境：孔明集群gpu p40
- 训练信息
    1）多机训练，采用 fluid.DistributeTranspiler的nccl模式（allreduce分布式方式）进行训练
    2)错误信息：

worker_endpoints:10.255.76.23:9184,10.255.66.20:9184 trainers_num:2 current_endpoint:10.255.76.23:9184 trainer_id:0 yq01-sys-hic-p40-0030:19866:19866 [0] NCCL INFO NCCL_IB_DISABLE set by environment to 1. yq01-sys-h

[2019-10-15 06:17] willthefrog commented on #20637
已assign相关同学跟进。

[2019-10-15 06:27] zhupengyang commented on #20609
Thank you for your suggestion. We will evaluate the function.

[2019-10-15 07:02] zhengkangjie opened #20638 "在DynamicRNN和while loop block中的有关乘法op的bug"
PaddlePaddle版本：1.5.2
系统：MacOS 10.14.4
Python版本：Python 3.7.3

 在DynamicRNN和while loop block中的乘法op在backward过程会出现bug，会出现关于tensor dim的报错信息，代码如下：
DynamicRNN版本：
[code]
运行此代码，在backward过程中，会在代码`state = pre_state * pre_state`处报以下错误：
Enforce failed. Expected x_dims.size() >= y_dims.size(), but received x_dims.size():1 < y_dims.size():2.
Rank of first input must >= rank of second input.
如果把上述代码中`state = pre_

[2019-10-15 07:10] willthefrog commented on #20638
已assign while_op的相关同学。

[2019-10-15 07:52] gavin1332 commented on #20637
1. export GLOG_v=10 打印更多日志
2. 贴一下trainer 1的日志

[2019-10-15 09:41] jeng1220 commented on #18939
I can reproduce the problem now. The behavior difference is that on P4 or P40, Paddle did invoke `winogradForward` series kernels 384 times. Instead, on V100 or T4, it only invoked `conv2d_grouped_direct_kernel` kernel  one times. Need more time to make a simple test based on CUDA C to verify cuDNN functionality.

[2019-10-15 09:48] ddokupil commented on #20309
We always use clean environment. Freshly cloned repo without build directory.
All we do is
cmake .. -DWITH_GPU=OFF -DWITH_MKLDNN=ON -DWITH_TESTING=ON -DWITH_PROFILER=ON -DWITH_INFERENCE_API_TEST=ON -DWITH_DISTRIBUTE=OFF -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Release -DON_INFER=ON -DWITH_COVERAGE=ON -DWITH_NGRAPH=ON

[2019-10-15 10:59] Sand3r- commented on #20532
@luotao1 We want to fully align with your setup to reproduce the problem.
1. Could you please confirm that you're using:
* the same command as shown above
* the same models publicly available and downloaded with paddle
* small dataset (`data.bin`)
2. And that you compare the difference between v1.5.0 and v1.6.0-rc0 tags?
3. Could you also provide the CMake flags used for building?

[2019-10-15 11:15] #20621 closed, assigned to nobody

[2019-10-15 11:15] zhupengyang commented on #20608
问题已经记录，麻烦 @chengduoZH 跟进下

[2019-10-15 11:17] zhupengyang commented on #20610
DANet模型需要内部评估下，看后续是否要支持下

[2019-10-15 11:19] zhupengyang commented on #20603
问题已经记录，麻烦 @NHZlX 跟进下

[2019-10-15 11:25] luotao1 commented on #20532
@juncaipeng @wzzju

[2019-10-15 11:39] bingyanghuang commented on #20532
@juncaipeng Could you help rerun the int8v2 benchmark with tag `v1.5.0` on the same server (6271) that you run the Release 1.6 benchmark ?

[2019-10-15 11:52] juncaipeng commented on #20532
* The test command is *./test_analyzer_int8_image_classification --infer_model=/home/pengjuncai/models/mobilenetv1/model --infer_data=/dev/shm/int8_full_val.bin --warmup --batch_size=1 --paddle_num_threads=1*
* We download the models from paddle.
* The dataset is int8_full_val.bin.
* We obtain the results according to v1.6.0-rc0 tags.
* The CMake flags used for building is *cmake ..  -DWITH_TESTIN

[2019-10-15 11:52] juncaipeng commented on #20532
OK

[2019-10-15 11:57] ddokupil commented on #20309
What's more we found a workaround for that. Once cmake fails we execute it once again without cleaning build directory and it works ok.

[2019-10-15 12:14] dashulu opened #20650 "py_reader返回数据的顺序"
假设py_reader传入一个reader函数返回的数据依次是1，2，3，4。
那在实际训练时，是先传入数据1训练，再传入数据2，再3，以此类推吗？
我用paddle/model的resnet50训练时，好像不是这样的（已经把shuffle选项关了）。

[2019-10-15 12:30] jeng1220 commented on #18939
@ceci3 ,
To solve this issue, you need to assign `CUDNN_CONVOLUTION_FWD_ALGO_IMPLICIT_GEMM` to `cudnnSetConvolutionDescriptor` series API for depthwise convolution, then cuDNN will invoke `conv2d_grouped_direct_kernel`. Now only `CUDNN_CONVOLUTION_FWD_ALGO_IMPLICIT_GEMM` algorithm is fully tuned for depthwise convolution.

A kindly reminder that using nsight-system to observe GPU behavior is very

[2019-10-15 12:36] willthefrog commented on #20650
是这样的。不过可能会根据GPU卡数对传入的数据作partition。请具体描述不符合预期的现象。

[2019-10-15 13:00] ceci3 commented on #18939
@jeng1220  OK，I will try. Thank you.  ^_^

[2019-10-15 17:01] jczaja commented on #20532
Some of further observations and further steps. I have run mobilenet v1 (tag v1.5.0 vs current develop). And There is Int8 as well as FP32 performance regression visible.

**Int8 performance regression:**
We have started an effort of fixing performance problem after locating changes that introduced performance harm. However to fully remove performance problem further refactoring is needed which
In

[2019-10-16 02:09] chengduoZH commented on #20608
@suytingwan 你将这两个选项去掉试一下:
[code]

[2019-10-16 03:07] juncaipeng commented on #20532
@bingyanghuang @luotao1 Test int8v2 benchmark of release 1.5 and 1.6 on the same 6271 server, the FP32 performance   as follows:

| Model        | Release 1.5 FP32 Throughput(images/s)  | Release 1.6 FP32 Throughput(images/s)  | Performance regression |
| :-----------:| :------------:             | :------------:            | :------------:  |
| GoogleNet    |    32.54                   |    32.51

[2019-10-16 05:22] gentelyang commented on #20504
麻烦提交一下复现代码~

[2019-10-16 05:29] xyoungli commented on #20390
请问单机测试过吗？

[2019-10-16 07:38] fengyuentau opened #20667 "Docker镜像中的paddle查询版本返回0.0.0"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）PaddlePaddle版本：paddlepaddle/paddle:latest-gpu-cuda9.0-cudnn7
    2）CPU/GPU：无关
    3）系统环境：无关
    4）Python版本号：无关
    5）显存信息：无关
- 复现信息：
[code]
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
在paddlepaddle.org中查询了一下诸如'version'，'版本'的关键字，但是都没有关于查询版本的方法介绍。也没有发现在Github

[2019-10-16 09:29] yinweichong opened #20670 "trainable=False参数，triplet loss中，报错XXX@GRAD找不到"
- 版本、环境信息：
    1）PaddlePaddle版本：fluid1.5
    2）GPU：Tesla v100, cuda9.0, cudnn7

- 训练信息
    1）单机
- 问题描述：

网络： [X, Y] -> score
loss：triplet loss，[ X, Y+, Y- ]
其中Y为ResNet50，

通过以下方式设置参数固定
[code]
报错信息：
[code]

[2019-10-16 09:41] JepsonWong commented on #20667
latest镜像是根据Paddle的develop分支构建的，develop分支本身就没有版本号。

[2019-10-16 10:17] fengyuentau commented on #20667
@JepsonWong 谢谢。请考虑在docker项目主页提示。刚刚尝试用这个镜像运行PaddlePaddle/models下的PyramidBox，但是总提示找不到模型，怀疑是这个develop分支镜像的问题。正在拉1.5.0再试试。

[2019-10-16 10:42] JepsonWong commented on #20667
![image](https://user-images.githubusercontent.com/16509038/66912124-903efc00-f044-11e9-852a-8a552f282448.png)
paddle官网页面有镜像说明 https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/install/install_Docker.html

[2019-10-16 10:43] JepsonWong commented on #20667
这个镜像内部只是安装了paddle环境，您是怎么执行PyramidBox模型的？能把错误log打出来吗？

[2019-10-16 11:18] fengyuentau commented on #20667
[code]
用`ll /root/pyramidbox/models/PyramidBox_WiderFace | grep conv2d_61.w_0`查过是有这个文件的。刚使用paddle，而且在容器内也不好debug。没找到究竟是哪里有错。

[2019-10-16 11:36] JepsonWong commented on #20667
建议您拉一下最近的latest镜像，目前latest-gpu-cuda10.0-cudnn7是最新的，可以使用命令：
docker pull paddlepaddle/paddle:latest-gpu-cuda10.0-cudnn7
或者拉一下1.5.2版本的镜像。

[2019-10-16 12:08] fengyuentau commented on #20667
我拉了1.5.0-cuda9.0-cudnn7，这个镜像只有python2.7，这次没有报找不到模型文件的错，但是有
[code]
有个memory insufficient的错误，不过pyramidbox的readme也没写显存需求。

[2019-10-16 12:14] fengyuentau commented on #20667
现在用了4块GPU才能跑起来，每块显存16GB，只有第一块占用了将近15GB的显存，其他三块才占用了361MB...但是一到图片大的就又报显存不足的错了。考虑到pyramidbox是被eccv2018接收的，是不是paddle版本导致的问题？

[2019-10-16 12:17] TingquanGao opened #20674 "PaddlePaddle的模型有几种类型？"
PaddlePaddle模型类型受训练集影响吗？
比如，我使用coco数据集（json类型）训练，和我使用xml格式的数据集训练，最后得到的模型一样吗？

我自己用xml格式的数据集训练得到的模型如下：
![image](https://user-images.githubusercontent.com/12560511/66918389-d8185000-f051-11e9-9515-a64efea4365b.png)

下载的官方模型如下：
![image](https://user-images.githubusercontent.com/12560511/66918428-ec5c4d00-f051-11e9-8d8f-7ac58b208a11.png)

观察两种模型文件的命名规律，有明显不同，并且加载方式也不一样。请问两种类型的模型，有何区别呢？

[2019-10-16 12:18] fengyuentau commented on #20667
受限于docker版本的问题，我这边并不能使用cuda10的镜像。

[2019-10-16 13:05] JepsonWong commented on #20667
这个您重新提个PR贴上如上错误吧，会有人跟进的。这个应该不是paddle版本的问题。

[2019-10-16 13:05] LielinJiang commented on #20674
coco官方的数据集就是json格式的，xml格式的数据是从哪来的，是coco吗？还有训练的模型是paddle detection吗

[2019-10-16 13:10] TingquanGao commented on #20674
xml格式的数据集是我们自己的。我们也有json格式的数据集。这两种不同类型的数据集训练出来的模型文件，并不一样，就像上面的截图，是吗？如果是，那这两种不同的模型，有什么区别呢，可以互相转换吗？谢谢！

[2019-10-16 13:11] fengyuentau commented on #20667
非常感谢您的帮助。我明天去PaddlePaddle/models下提个issue。

[2019-10-16 13:11] #20667 closed, assigned to nobody

[2019-10-16 13:13] LielinJiang commented on #20674
模型的类型和用的数据集无关。你用的是哪里的代码？

[2019-10-16 13:16] LielinJiang commented on #20670
有具体可复现的代码和数据吗？或者您这边用最新的paddle版本试一下。可以从这个页面下载到https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/beginners_guide/install/Tables.html

[2019-10-16 13:17] LielinJiang commented on #20674
模型的类型和用的数据集无关。你用的是哪里的代码？

[2019-10-16 13:19] TingquanGao commented on #20674
我们参照的代码是这里的：https://aistudio.baidu.com/aistudio/projectdetail/135289
数据集是我们自己标注的，格式是voc的xml。
训练出来的模型文件是这样的：
![image](https://user-images.githubusercontent.com/12560511/66922885-80caad80-f05a-11e9-8163-6060842572eb.png)

我们训练出来的模型类型，和你们官方给的yolov3的模型类型不同。想知道是怎么回事？谢谢！

[2019-10-16 13:21] LielinJiang commented on #20674
你使用的代码是？有可能是代码不同

[2019-10-16 13:25] LielinJiang commented on #20674
哦哦，这个应该是代码不同，官方给的yolov3模型是https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetection 这里的代码训练出来的。

[2019-10-16 13:27] TingquanGao commented on #20674
具体是哪里的代码不同呢？是调用的paddle保存模型的接口不同吗？
那这两种类型的模型，有什么区别呢？可以相互转换吗？

[2019-10-16 13:34] LielinJiang commented on #20674
和保存的接口没什么关系，从你们保存的模型的形式来看，调用的保存模型接口应该是一致的。这两种模型的不同具体要看你们使用的模型结构以及参数的命名，以及数据集的类别。这些都有关系。如果模型结构和数据集的类别相同，理论上是可以互相转换的。需要将你们的代码和官方的代码的参数命名映射起来。

[2019-10-16 17:54] jczaja commented on #20532
Where we are:

#20241 - This is fix to FP32 performance that also improve INT8 performance.
#20651 - This is PR improving INT8 performance.

It is expected that together:  #20241 and #20651 will restore performance

To test if fp32 regression is gone please test #20241

To test if int8 regression is gone please test both #20241 and #20651 merged.

[2019-10-17 01:34] bingyanghuang commented on #20532
@Sand3r- @lidanqing-intel @jczaja Please firstly tested on our server and posted the benchmark here.

[2019-10-17 02:09] dashulu commented on #20650
@willthefrog 我的训练数据集是：
![image](https://user-images.githubusercontent.com/4484303/66972095-0e8fb280-f0c6-11e9-8128-c4ab2af8743c.png)， 传入py_reader的reader是顺序去读取这些数据,但是实际训练时发现，数据并没有按照第一个样本，第2个样本这样子依次训练。我使用的batch size是4

[2019-10-17 02:27] gentelyang commented on #20390
用最新的whl包试一下~

[2019-10-17 02:32] #20650 closed, assigned to willthefrog

[2019-10-17 04:14] suytingwan commented on #20608
去掉也会报错

[2019-10-17 04:55] bingyanghuang commented on #20532
@jczaja @Sand3r-  I simply tested these several PRs on Xeon 6248 with Mobilenet- v1 and got the following benchmark:
![image](https://user-images.githubusercontent.com/33643817/66978627-43f3ca80-f0dd-11e9-8d96-84cb11aa2b5d.png)

It seems that FP32 regression has been fixed, but INT8 regression is still not totally fixed.

[2019-10-17 06:59] dongfangyixi commented on #20638
Mark，遇到同样问题， @NHZlX ，请问有什么进展吗？

[2019-10-17 07:28] SixGodGG opened #20687 "Window10下C++预测 CPU以及GPU版本预测不成功"
GPU 预测，想先按照百度工作人员提供的链接走通，但是没成功。链接地址：
https://github.com/PaddlePaddle/PaddleSeg/tree/release/v0.1.0/inference

自己笔记本GPU不是很好，但是这个链接教程没有讲到CPU版本的使用，所以硬着头皮用GPU模式配置。我上网查了一下，也是适配CUDA8.0的，硬性安装了CUDNN7.1

电脑型号：dell inspire 7000
GPU型号：NVIDIA GeForce 940MX
CPU型号：i5-7200u
1.自己按照这个步骤，安装了VS2019，CMake 3.0+等，直到运行到这一步的时候编译不通过。
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.1.0/inference/docs/windows_vs20

[2019-10-17 07:39] luotao1 commented on #20532
@bingyanghuang Does these fixes affect the QAT performance?

[2019-10-17 07:42] bingyanghuang commented on #20532
I think it will increase the QAT' s performance. Because they are running with the same conv INT8 kernel. I will update the above table with QAT data.

[2019-10-17 08:03] bingyanghuang commented on #20532
![image](https://user-images.githubusercontent.com/33643817/66989826-ac4fa580-f0f7-11e9-91b9-8c57c3b12db4.png)

QAT is running with Python, that's reason why the absolute value has big difference on small model, besides, QAT FP32 performance is running with native FP32 model.

[2019-10-17 08:10] sjtubinlong commented on #20687
@SixGodGG
1. 编译问题

你是否同时尝试过使用过类似[vs2015使用命令行msbuild编译](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.1.0/inference/docs/windows_vs2015_build.md)和直接用vs2019 cmake编译两种编译方式。

如果是，先删除整个PaddleSeg目录重新下载，之后按vs2019的编译步骤编译即可
否则，考虑下面的方法：把你上图编译出错图中的「生成+InteliSense」改为「生成」

2. cpu版本的编译
后续我们会在文档中说明CPU和GPU版本的编译选项的不同。

在 vs2019的打开 「项目」-> 「CMake设置」，然后找到 WITH_GPU选项，把后面的「勾」去掉，重新编译即可。

3. 预测库版本的选择

你issue中

[2019-10-17 08:25] OliverLPH commented on #20687
avx和no_avx指的是芯片的指令集，所以你的cpu i5-7200u是支持avx的。可以参见[i5-7200u](https://en.wikichip.org/wiki/intel/core_i5/i5-7200u) Features部分。

openblas和mkl则是第三方科学计算库，对于预测加速会有帮助。一般来说mkl都会比openblas快。

[2019-10-17 08:32] SixGodGG commented on #20687
谢谢

[2019-10-17 08:34] SixGodGG commented on #20687
谢谢谢谢，学习了

[2019-10-17 08:36] SixGodGG commented on #20687
1.我没用2015弄过，用2019改为生成后，只是隐藏了错误吧，我再次全部生成的时候还是报错。
2.GPU去掉勾这个会了，但是最后还有一个勾，应该不用去掉吧，无论如何，我这里都是报错，我觉得是因为我下载的是CUDA8.0的预测库有关，如果用CPU的预测库，可能就不报错了，我会再试试的。谢谢。
3.懂了，谢谢。

[2019-10-17 09:17] SixGodGG commented on #20687
我下载了您下面链接中的CPU版本的paddle预测库，下载的是第一个。
![image](https://user-images.githubusercontent.com/6395366/66994150-6696db00-f0ff-11e9-982b-a9f8f12a2878.png)
然后重新按照https://github.com/sjtubinlong/PaddleSolution/blob/master/deploy/docs/windows_vs2019_build.md
这个链接中的步骤进行。进行到这一步时我是这样配置的：
![image](https://user-images.githubusercontent.com/6395366/66994313-a1007800-f0ff-11e9-81a0-7a3a107eb3d2.png)
但是全部生成后，报上图的错误，我觉

[2019-10-17 09:34] juncaipeng commented on #20532
We run benchmark of Release 1.6 + jacek pr, and the FP32 performance of INT8 v2 (post-training quantization) as follows:

| Model        | Release1.5 FP32   | Release 1.6 FP32   | Release 1.6 + jacek pr FP32   |
| :-----------:| :------------: | :------------: | :------------:  |
| GoogleNet    |    32.54 | 32.51 | 32.26 |
| MobileNet-V1 |    78.14 | 73.01 | 75.90 |
| MobileNet-V2 |    90.44 | 90.

[2019-10-17 11:49] sandyhouse commented on #19951
你好，能提供下符合训练要求的train_list.txt吗 @lebronjdw

[2019-10-17 17:21] jczaja commented on #20532
Notes from today,

Two PRs of ours (revert + changes on key strings) did not restore fully int8 mobilenetv1 performance.
There is  still minor performance overhead of conv int8 mkldnn integration that we are trying to trace down that impacts mobilenetv1 (~3 %). Partially this is a cost of introduced Multi-threading and a bit bigger functionality ( more activations supported in a fusing).

[2019-10-18 03:26] chengduoZH commented on #20169
@xueeinstein Thank you for your feedback, currently, if you use `multiprocessing` in your model, you should move `from paddle import fluid` to your process function, like the following, otherwise, there will have some error.

[code]

[2019-10-18 04:41] xueeinstein commented on #20169
@chengduoZH Thank you for your reply! Your testcases all passed. However, it's quite tricky to disable the first testcase, meaning that you cannot `import paddle` before the subprocess initialized.

In fact, for our RL model in [PARL](https://github.com/PaddlePaddle/PARL), we have a lot of stuff to create and initialize using Paddle before running the subprocess. Is there any other versatile solut

[2019-10-18 06:08] MrChengmo commented on #20504
日志可以贴全一些，看起来是sparse参数在fetch时出现的维度问题。

[2019-10-18 07:31] bingyanghuang commented on #20532
Quick benchmark on **Xeon 6271** :

Xeon 6271 | release/1.5 |   | release/1.6 |   | Diff |  
-- | -- | -- | -- | -- | -- | --
  | FP32 | INT8 | FP32 | INT8 | FP32 | INT8
Mobilenet-v1 | 78.9237 | 226.5533 | 74.2563 | 218.7752 | 5.91% | 3.43%

@Sand3r- @lidanqing-intel @jczaja

[2019-10-18 07:46] chengduoZH commented on #20608
@suytingwan 你加一下这个环境变量 `export FLAGS_benchmark=1`，然后看一下报什么错。

[2019-10-18 07:52] AIpioneer opened #20719 "查了好像是一個minibatch 的尺寸不可變 但把batch 設成1 也一樣"
![image](https://user-images.githubusercontent.com/50724968/67076156-2dbe3b00-f1bf-11e9-9fa5-a1c6f479e3ff.png)

![image](https://user-images.githubusercontent.com/50724968/67076165-3151c200-f1bf-11e9-9434-2e1a136ac54d.png)

thanks

[2019-10-18 07:54] bingyanghuang commented on #20532
**TODO list:**
- [x] Benchmark data for int8v2 with **tag v. 1.5.0** on Xeon 6271

- [x] Benchmark data for int8v2 with **release/1.6** on Xeon 6271

- [x] QAT benchmark on Xeon 6248 for accuracy

- [ ] QAT benchmark on Xeon 6271 for performance

- [x] Update the benchmark data once it's got with your build command and test env

[2019-10-18 07:56] sjtubinlong commented on #20687
@SixGodGG 请检查上图中`PADDLE_DIR`指定的目录，确认下是否链接到了错误的windows预测库。

可以打开里面的`version.txt`查看 `WITH_GPU`是否为`OFF`来确认链接的库是否`CPU`版本.

`CPU`预测库不会链接`cuda`.

[2019-10-18 09:58] luotao1 commented on #20719
请问是要做变长输入的训练么？下面的示例是否是你想要的？https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/user_guides/howto/prepare_data/feeding_data.html#batchsize
![image](https://user-images.githubusercontent.com/6836917/67085138-dc1eac00-f1d0-11e9-938b-46d4d74f37cf.png)

[2019-10-18 11:42] zuokanmingyuli opened #20724 "文档C++ 预测 API的例子编译后，运行报错：段错误（核心已转储）"
-环境信息
[code]
 -预测信息
    1）C++预测：预测库安装包的版本信息 cuda10.0_cudnn7_avx_mkl，其中的version.txt文件:
[code]
    2）CMake包含路径的完整命令:
[code]
    3）预测库来源：官网下载
 - 复现信息：
         文档 - C++ 预测 API介绍（https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/native_infer.html ） 中的前两个使用样例报错。
         我将文档 - 'C++ 预测 API介绍 - NativePredictor使用样例' 的例子代码放在一个paddle_NativePredictor.cpp中，没有改动，然后写好CMakeLi

[2019-10-18 11:52] zuole opened #20725 "单机多卡预训练ernie1.0出现 SendRPC name:[NCCLID], ep:[10.12.35.45:6171], status:[-1] meets grpc error, error_code:4 error_message:Deadline Exceeded error_details:"
- 版本、环境信息：
    1）PaddlePaddle版本：1.5.1
    3）GPU： Tesla V100
    4）系统环境：Linux，Python2.7版本
- 训练信息
    1）单机，多卡
    2）显存信息  16160MiB
    3）Operator信息 Linux

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志、可复现的代码片段

[INFO] 2019-10-18 19:25:08,789 [    train.py:  210]:    Device count 2
[INFO] 2019-10-18 19:25:08,789 [    train.py:  211]:    theoretical memory usage:
[INFO] 2019-10-18 19:25:08,833 [    train.py:  213]:

[2019-10-18 13:44] luotao1 commented on #20724
请问你运行的是哪个文档里的例子，可以把链接贴出来么

[2019-10-18 13:52] stanchan123 commented on #20719
我的項目人流密度估計，input 及predict 均為圖片，設定佔位符
[code]
把images 輸入到x = fluid.layers.conv2d(input=images, num_filters=64, filter_size=3, padding=1, act='relu') 後出錯

結果出現異常:
[code]

[2019-10-18 13:55] stanchan123 commented on #20719
BATCH_SIZE= 1     #每次取1张
# 设置训练reader
train_reader = paddle.batch(
    paddle.reader.shuffle(
        train_set(), buf_size=1),
    batch_size=BATCH_SIZE)

# 定义数据生成器
def train_set():
    def reader():
        for index in range(len(part_A_img[0])): #遍历所有图片
            ....
            yield ig_im,groundtruth
    return reader

[2019-10-18 14:09] Sand3r- commented on #20532
Xeon 6271 | v1.0.5 |   | release/1.6 |   | Diff |  
-- | -- | -- | -- | -- | -- | --
  | FP32 | INT8 | FP32 | INT8 | FP32 | INT8
Mobilenet-v1 |  |  | 78.6017 | 219.4643 |  |
Mobilenet-v2 | 84.5083 | 192.5478 | 89.5796 | 192.8260 | -5.0713 | -0.2782
Googlenet | 31.2109 | 65.9719 | 32.6072 | 66.9066 | -1.3963 | -0.9347
Resnet50 | 13.2794 | 48.0582 | 13.3320 | 49.2027 | -0.0526 | -1.1445
Resnet101 |

[2019-10-18 14:16] luotao1 commented on #20719
请问图片的尺寸是一直在变的么？

[2019-10-18 14:57] #18939 closed, assigned to jeng1220, ceci3

[2019-10-19 03:28] zuokanmingyuli commented on #20724
不好意思没说清楚，链接：
[https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/native_infer.html](url)
我运行的是这个页面里的“NativePredictor 使用样例”和“AnalysisPredictor使用样例”

[2019-10-19 03:30] zuokanmingyuli commented on #20724
不好意思没说清楚，链接：
https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/native_infer.html
我运行的是这个页面里的“NativePredictor 使用样例”和“AnalysisPredictor使用样例”

[2019-10-19 03:58] stanchan123 commented on #20719
輸入的每張圖片的尺寸都不一樣

Tao Luo <notifications@github.com> 於 2019年10月18日 星期五寫道：

[2019-10-19 04:12] luotao1 commented on #20724
1. 描述部分的格式能否调整下，代码部分用代码格式，方便阅读。
2. 请问模型有下载么？
[code]

[2019-10-19 06:44] zuokanmingyuli commented on #20724
@luotao1
格式调整过来了，模型下载了，目录如下：
root:src
+--build
+--include
+--paddle_NativePredictor.cpp
+--mobilenet
+--third_party
+--lib
+--CMakeLists.txt

[2019-10-19 09:35] lidanqing-intel commented on #20532
We used git bisect and figured out critical commits that caused performance changes.

| mobilenetv1 Perf | release 1.5 | 1 commit before 84bb45c054e34f53c290b63d1defd76ac5ab2f94 |    84bb45c054e34f53c290b63d1defd76ac5ab2f94 | 1 commit before 0d8e6c9b8b510b4ed6827350557cdb6712b5e73e  |      0d8e6c9b8b510b4ed6827350557cdb6712b5e73e         | 1 commit before 9ecd8ee789b811e69e773a45e8258cb13e6cd8f8|

[2019-10-19 09:40] luotao1 commented on #20719
变长输入可以参考下 https://github.com/PaddlePaddle/models/issues/1885 和 https://github.com/PaddlePaddle/models/issues/1776

[2019-10-19 09:49] luotao1 commented on #20724
可以把你的`paddle_NativePredictor.cpp`和`CMakeLists.txt`两份文件直接上传一下么？

[2019-10-19 11:11] AIpioneer opened #20731 "根据错误信息应该是某个参数有问题，但是没查出来"
想做一个中文情绪分析示例，训练数据是7000多行酒店评论， 分为正面、负面评论
数据预处理已经完成，现在在做训练时报错了，根据错误信息应该是某个参数有问题，但查了好长时间没查出来。
![image](https://user-images.githubusercontent.com/50724968/67143985-11e09500-f2a4-11e9-8efe-5f01c2967301.png)

这个是原始数据，第1列为标签，0为负面，1为正面；后面的是评论内容

![image](https://user-images.githubusercontent.com/50724968/67143991-202eb100-f2a4-11e9-92bc-097623bb5e9f.png)

这是经过编码后的数据，第1列为标签，后面是评论内容编码的结果

![image](https://u

[2019-10-19 14:41] zuokanmingyuli commented on #20724
好的好的，NativePredictor 使用样例我的文件如下：
paddle_NativePredictor.cpp：
[code]
CMakeLists.txt
[code]

[2019-10-19 14:46] zuokanmingyuli commented on #20724
对于“AnalysisPredictor使用样例”，我将paddle_NativePredictor.cpp中的代码改写如下，其他都没变
[code]

[2019-10-19 14:58] liyouxina opened #20732 "Tensor holds the wrong type, it holds double, but desires to be int64_t at [D:\1.5.2\paddle\paddle/fluid/framework/tensor_impl.h:30] PaddlePaddle Call Stacks: Windows not support stack backtrace yet."
什么都不懂 所以挂代码和报错

下面是代码

#用训练好的模型进行预测并输出预测结果
#创建执行器
import json
import os
from multiprocessing import cpu_count
import numpy as np
import shutil
import paddle
import paddle.fluid as fluid
place=fluid.CPUPlace()
exe = fluid.Executor(place)
infer_exe=fluid.CPUPlace()
infer_exe=fluid.Executor(place)
infer_exe.run(fluid.default_startup_program())

save_path='C:/Users/lenovo/Desktop/end/fenleiqi/'

#从模型中

[2019-10-19 15:15] zuokanmingyuli commented on #20724
@luotao1
好的好的，对于“NativePredictor 使用样例”和“AnalysisPredictor使用样例”，我的文件分别是paddle_cpp.zip和paddle_cpp2.zip，其中CMakeLists.txt路径改一下，然后把下载的include、lib、third_party、mobilenet放进src文件夹，就跟我的一样了。
[paddle_cpp.zip](https://github.com/PaddlePaddle/Paddle/files/3746843/paddle_cpp.zip)
[paddle_cpp2.zip](https://github.com/PaddlePaddle/Paddle/files/3746844/paddle_cpp2.zip)